[2020-09-08 16:40] NavtejSaini-MSFT commented on #62058
@SnehaGunda Can you please check this issue.

[2020-09-08 16:43] NavtejSaini-MSFT commented on #62114
@rohitnayakmsft Can you please confirm if we have a list like that so that we can add them in this document. Or any specific verbiage we can add.

[2020-09-08 16:44] joshibhu commented on #62243
@ashokduddukuri I am referring to this link https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-nodejs

[2020-09-08 16:45] dlepow commented on #61488
Reassigning doc ownership
#reassign: @macolso

[2020-09-08 16:45] dlepow commented on #55653
Reassigning doc ownership
#reassign: @macolso

[2020-09-08 16:45] dlepow commented on #54960
Reassigning doc ownership
#reassign: @macolso

[2020-09-08 16:46] dlepow commented on #40247
Reassigning doc ownership
#reassign: @macolso

[2020-09-08 16:46] BharathNimmala-MSFT commented on #62255
@BradWWM Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues) is only for driving improvements related to the Azure documentation. Please feel free to reach out if you have any feedback/queries on any of the documentation. Thank you

[2020-09-08 16:46] dlepow commented on #31716
Reassigning doc ownership
#reassign: @macolso

[2020-09-08 16:53] deepaksharma-507 commented on #62118
Hi James, Thanks for your reply. I found [this](https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/listbysubscriptionid) link, seems like this is what I need, but I am not able to authenticate properly. I am getting this error.

[2020-09-08 16:57] amitabh-github commented on #59846
Hello, We have opened a support incident for this request. The subscription details are provided in the Incident request. Kindly check Support request number 12009082300096.

[2020-09-08 17:07] SnehaAgrawal-MSFT commented on #62252
@charliechen179 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-08 17:14] SaurabhSharma-MSFT commented on #62099
@brendankowitz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-08 17:14] #62099 closed

[2020-09-08 17:15] derekolo opened #62260 "Please add Asia to market for Colt as a partner"
Can you please add Asia as a market for our partner Colt on this page? Should read "Europe, Asia" under Market.

Thanks,
Derek

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53985c80-00c7-390d-925f-08296ce5c3dc
* Version Independent ID: 1bce7791-1510-99e3-7d81-4dfc85886f2f
* Content: [Azure Peering Service locations an

[2020-09-08 17:15] MashaMSFT commented on #44134
#reassign: BustosMSFT

[2020-09-08 17:15] MashaMSFT commented on #45014
#reassign: BustosMSFT

[2020-09-08 17:15] MashaMSFT commented on #58974
#reassign: BustosMSFT

[2020-09-08 17:15] MashaMSFT commented on #61571
#reassign: BustosMSFT

[2020-09-08 17:16] SatishBoddu-MSFT commented on #61894
@zoombach
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-09-08 17:16] #61894 closed

[2020-09-08 17:36] SaurabhSharma-MSFT commented on #61870
@shaunfindley  Yes, unfortunately, you need to pass both Name and Email even you want to setup Phone Number and it works as expected.
![image](https://user-images.githubusercontent.com/38112130/92509072-807d5880-f1be-11ea-9e39-5bdb78eaecca.png)
Also, I tried setting up Phone Number other than USA and it works as well.  See screenshot below -
![image](https://user-images.githubusercontent.com/38112

[2020-09-08 17:36] SubhashVasarapu-MSFT commented on #62260
@derekolo, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-08 17:36] #62260 closed

[2020-09-08 17:37] eosho opened #62262 "Required permissions for New-AzureADMSRoleAssignment"
Trying to understand the required permissions in order to create a `New-AzureADMSRoleAssignment`. I am authenticating to Azure using a SPN and need to grant it the appropriate API access in order to create the role assignment.

Another missing link for me is around resourceScope. Is this assigning the role assignment to a specific scope - subscription/managementgroup or what are the supported scop

[2020-09-08 17:39] ChaitanyaNaykodi-MSFT commented on #62060
Hello @sandervandevelde,
Regarding your first question, when you develop multiple apps in your local environment using the Azure Storage Emulator, which acts like one storage account where you can utilize the host ID functionality to differentiate between the function apps as discussed here in the [Storage considerations for Azure Functions document](https://docs.microsoft.com/en-us/azure/azure-fu

[2020-09-08 17:39] WinstonHoward-MSFT commented on #62250
Hi @Dirk-Manderin,

The doc tells you to download and extract psping.exe in step 2.1. It is also hyperlinked to the relevant sysinternals download doc. Please see [here ](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-activation-problems). If you have no further issues I will close this issue now. Feel free to leave a comment below if you have anything else to

[2020-09-08 17:39] #62250 closed

[2020-09-08 17:43] shashishailaj commented on #62159
@i7a7467  We are glad that its useful o our customers . As the issue is resolved , we will now close this thread.

@agrabhi Thank for your help.

[2020-09-08 17:43] #62159 closed

[2020-09-08 17:50] cynthn commented on #52554
@tsarpaul Does this help: https://docs.microsoft.com/en-us/azure/virtual-machines/ssh-keys-portal#upload-an-ssh-key or is it still not what you are looking for?

This is only available in the portal right now.

[2020-09-08 17:51] brucedkyle commented on #62057
Thank you so much for your help. This feature is so important. It goes to how you can manage the identities and allow access to resources without exposing your keys. And knowing that you need to create the managed identity on creation is really important. Thanks so much for your help.

[2020-09-08 17:51] #62057 closed

[2020-09-08 18:00] MGoedtel commented on #62111
@ChrisSommers - The path I was referencing was a folder under Saved Queries named "Updates", and within this folder is the saved query named "MicrosoftDefaultComputerGroup".  These two artifacts are created when UM is enabled and the specified workspace is configured during that onboarding process. Because this isn't a documentation issue, but a support issue, I recommend you open a support case.

[2020-09-08 18:00] #62111 closed

[2020-09-08 18:06] rjosephp commented on #55747
As per the documentation [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-configure#optimize-throughput), it is mentioned that` "If your computer has fewer than **5 CPUs**, then the value of this variable is set to 32. Otherwise, the default value is equal to 16 multiplied by the number of **CPUs**."
`

On hyper threaded VMs like Azure Standard_D8s_v4 with 8 vCPUs (4

[2020-09-08 18:11] tamatsuxyz opened #62263 "VPN gw can't connect with vHUB because local network gateway don't accept ASN 65515"
- [X ] The relevant Azure service or technology.

I tried the following tutorial.

https://docs.microsoft.com/en-us/azure/virtual-wan/connect-virtual-network-gateway-vwan(connect-virtual-network-gateway-vwan.md)

But, VPN gw can't connect with vHUB because local network gateway don't accept ASN 65515.

![image](https://user-images.githubusercontent.com/25845816/92512615-ff6ba300-f249-11ea-812f-0a8

[2020-09-08 18:14] ggailey777 commented on #62087
@FlippieCoetser thanks for reaching out to us. As far as I am aware, Python is supported for any trigger/binding that is [supported in v2.x+ of the Functions runtime](https://docs.microsoft.com/azure/azure-functions/functions-triggers-bindings#supported-bindings). Is there a specific binding to which you are referring?

[2020-09-08 18:16] ChaitanyaNaykodi-MSFT commented on #62103
Hello @Tusharsp, sorry for the delay in my response. You can utilize [deployment slots](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots) functionality in Azure functions.
Regarding publishing via VS code, you can refer to this document [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs-code?tabs=csharp#publish-to-azure).
Please let

[2020-09-08 18:18] aldelar opened #62264 "Service App creation az script fails with deprecated SKU"
See the command:
az functionapp plan create --resource-group (...) --sku EP1 (...)

Fails: Requested features are not supported in region. Please try another region.

This seems to fail as Premium plans are now on V2. An equivalent SKU seems to be 'P1V2'. Not sure exactly if that's what we want for this tutorial, but we definitely need to look into updating it with the proper new SKU.

---
#### Do

[2020-09-08 18:18] parklinkivic opened #62265 "Expected Network Bandwidth"
What are the numbers for the Expected Network Bandwidth for this VM series? It is the only one in all the documentation that does not provide this information in the table next to the quantity of NICs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371

[2020-09-08 18:25] ggailey777 commented on #62103
@Tusharsp this article shows you how to add a binding to an existing function. Based on this article, you aren't creating a new function. You could add a new function to an existing project, simply by using the `func new` command from the root of the project.  Whenever you publish using Core Tools, the contents of the remote function app are overwritten by the current state of the local project.

[2020-09-08 18:27] alexwlchan opened #62266 "More differences between Metadata and Blob Index tags"
We're looking at possibly using Blob Index tags for a project (when it's out of preview and available in our region).

There are two differences between Blob Index tags and Metadata which potentially make Index tags preferable, neither of which are listed in [Choosing Between Metadata and Blob Index Tags](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-por

[2020-09-08 18:27] tsarpaul commented on #52554
Hi,

In the Azure VM creation screen there's an option to choose an SSH key managed by Azure Key Vault.
I created a key vault with a key but I could not make it available to the VM creation screen.

![image](https://user-images.githubusercontent.com/21146452/92514059-fd89eb80-f219-11ea-876e-c0550cbe48cb.png)

[2020-09-08 18:32] b-juche commented on #61026
@pnwnightowl --
Apologies for the delay.
We added [Restore a file from a snapshot using a client](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-manage-snapshots#restore-a-file-from-a-snapshot-using-a-client) in the documentation to describe using a Linux NFS or Windows client to restore a file from a snapshot.  The content has been posted.
Thanks again for your input

[2020-09-08 18:32] #61026 closed

[2020-09-08 18:34] cynthn commented on #52554
@tsarpaul Yep, as far as I know, you have to use the portal experience to upload the key in order for it to end up in that drop-down list when you create a VM. There is a bunch of work going on in this space, but for now I think you have to explicitly use that portal workflow to upload it to KeyVault.

[2020-09-08 18:35] ams0 commented on #52554
It works for me with the ARM example from @dohughes-msft  (also available from the official API repo here https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/examples/CreateAnSshPublicKey.json). I wonder how/when we can get this into the azure terraform provider.

[2020-09-08 18:52] Astrophe717 opened #62267 "Too many 500 error responses"
I have followed parts 1 and 2 of the tutorial without any issues but I get an error in part 3 trying to deploy my container using the following command from the tutorial:
`az container create --resource-group myResourceGroup --name aci-tutorial-app --image <acrLoginServer>/aci-tutorial-app:v1 --cpu 1 --memory 1 --registry-login-server <acrLoginServer> --registry-username <service-principal-ID> --r

[2020-09-08 18:54] dhawalk1981 commented on #62099
sorry. was on PTO and was not able to respond sooner. I am the owner of the resource and still can't access it.

[2020-09-08 18:54] WinstonHoward-MSFT commented on #62256
Hi @juhlee-microsoft,

Your correct, according to reference docs [here](https://docs.microsoft.com/en-us/azure/virtual-machines/nvv4-series) and [here](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu)

I've assigned this to the doc author as the section needing to be changed is embedded in this doc from another doc. Thanks again for the issue!

[2020-09-08 18:58] scyto commented on #62119
@palanis-MSFT hi, are you saying we can achieve co-sell status by submitting nothing, that doesn't seem right?

I get from a technical perspective no fields are required, however there are requirements for achieving co-sell status - please can the team list these?

[2020-09-08 18:59] ggailey777 commented on #62264
@aldelar I can't reproduce your issue with the article as written. What is the exact `az functionapp plan create` command you were trying to run? Not all regions support Functions (Elastic) Premium plans. You can find the definitive list here: https://azure.microsoft.com/global-infrastructure/services/?products=functions

[2020-09-08 19:05] WinstonHoward-MSFT commented on #62258
Thanks for the feedback @mikeoleary. I've assigned this issue to the doc author regarding your ask for ARM template instructions in the doc for OpenShift v4.

[2020-09-08 19:12] ganrad opened #62268 "az command is missing a parameter flag for specifying location"
The below command in section titled 'Create a UDR with a hop to Azure Firewall' is missing the location parameter/flag -
az network route-table create -g $RG **-$LOC** --name $FWROUTE_TABLE_NAME

Should be ==>
az network route-table create -g $RG -l $LOC --name $FWROUTE_TABLE_NAME

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-09-08 19:16] sebansal commented on #61282
Addressed #please-close

[2020-09-08 19:16] #61282 closed

[2020-09-08 19:17] aldelar commented on #62264
@ggailey777 I'm referring to this command on that page:

az functionapp plan create --resource-group AzureFunctionsContainers-rg --name myPremiumPlan --location westeurope --number-of-workers 1 --sku EP1 --is-linux

The Service by Region page availability doesn't allow me to see such details as the potential availability of the EP1 sku in West US 2. This is where I'm trying the code.

I tried from

[2020-09-08 19:17] sebansal commented on #61282
merging csr will merge the entire chain, provided user has brought back p7b file to merge

[2020-09-08 19:17] varunsh-msft commented on #61401
@garrytrinder , request you to please tell me what steps you followed to import the .pem certificate to the local keychain? Thanks!

[2020-09-08 19:34] TravisCragg-MSFT commented on #62232
@schwarzzz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-08 19:35] garrytrinder commented on #61401
I followed the instructions in the Apple support documentation https://support.apple.com/en-gb/guide/keychain-access/kyca2431/mac

[2020-09-08 19:35] #62227 closed

[2020-09-08 19:40] ganrad opened #62270 "The Az CLI commands work only when resources are deployed in 'eastus' region!"
The 'az network create ...' command is missing the '--location' parameter/flag.  When the 'LOC' shell variable is set to a different region other than 'eastus', the 'az network firewall create ...' command fails as it is unable to locate the VNET in the correct region.
**The command**
[code]

**Should be replaced with**

[code]

**Exception:**
Resource /subscriptions/.../AKSGR-EGRESS-VNET referenc

[2020-09-08 19:49] jtg5122 opened #62272 "Markdown formatting not working as expected"
I'm having trouble with the markdown functionality within the QnA Maker Client Library.

When I format and publish my answers in a bullet format via the QnA Maker .NET SDK, e.g.

"This is an unordered list: \n * List item 1 \n\t * Child1 \n\t * Child2 \n * List item 2"

the answer is only correctly formatted in the web chat tester after I go in the QnA maker knowledge base portal, click the answer

[2020-09-08 19:58] mrcunninghamz opened #62273 "Claims not supported in common"
The following METADATA url:
https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

Does not include the claims `given_name` and `family_name`

Though it shows up as a partner claim type. Should it then be an output claim transformation that splits the `name` claim and populates the claims?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-09-08 20:05] ganrad opened #62274 "Subscription ID shell variable missing in the variable list"
Would be good to add 'SUBID' shell variable to the list below.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress traffic in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](http

[2020-09-08 20:27] kromerm commented on #61072
I uploaded the original image here: https://github.com/kromerm/adfdataflowdocs/blob/master/media/adf-data-flows.png

[2020-09-08 20:29] kromerm commented on #61072
#please-close

[2020-09-08 20:29] #61072 closed

[2020-09-08 20:30] kromerm commented on #55057
#please-close

[2020-09-08 20:30] #55057 closed

[2020-09-08 20:30] kromerm commented on #55745
#please-close

[2020-09-08 20:30] #55745 closed

[2020-09-08 20:30] kromerm commented on #57124
#please-close

[2020-09-08 20:30] #57124 closed

[2020-09-08 20:35] edisga opened #62276 "Add CORS to the preview limitations"
Confirmed with PM and this is not supported for multicontainers, any middleware container as EasyAuth, CORS and MSI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d385179-7730-3b99-aff6-75491deb070a
* Version Independent ID: 7da429ea-5421-9d99-3e7c-af1b3fee5ca8
* Content: [Configure a custom Linux container - Azure A

[2020-09-08 20:47] brandonh-msft opened #62277 "None of the az cli service property update commands function"
1. The `--resource-group` arg isn't valid for `service-properties update`

[code]

2. I'm met with errors for both `--enable-change-feed` and `--enable-versioning`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73edc3d1-d0db-0ee3-7928-19bd1e509d55
* Version Independent ID: 4b0e8f7c-591c-c5c4-37f4-e5a47914b873
*

[2020-09-08 20:50] JamesTran-MSFT commented on #62262
@eosho
Thanks for your question! We will investigate and update as appropriate.

[2020-09-08 20:52] jesseorosz opened #62278 "No function.json file installed"
No function.json was installed when I ran func init MyFunctionProj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/f

[2020-09-08 20:54] TravisCragg-MSFT commented on #62192
@suneelsunkara What exactly do you mean by 'Geolocation headers'? Azure CDN does not add a location header to the requests, and the functionality defined in this doc is the only geo control for Azure CDN offerings.

[2020-09-08 20:55] AjayKumar-MSFT commented on #62050
Jeff, Thanks for additional clarity.
Apologies for any confusion. I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-09-08 21:05] brandonh-msft opened #62280 "Az Powershell storage preview version install command doesn't work"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73edc3d1-d0db-0ee3-7928-19bd1e509d55
* Version Independent ID: 4b0e8f7c-591c-c5c4-37f4-e5a47914b873
* Content: [Configure object replication (preview) - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-configure?tabs=azure-cli)

[2020-09-08 21:11] WinstonHoward-MSFT commented on #62268
Thanks for the issue, I've issued a PR to fix this and will now close this issue. Feel free to leave a comment if you have anything else.

[2020-09-08 21:11] #62268 closed

[2020-09-08 21:18] Grace-MacJones-MSFT commented on #62276
Thanks for the feedback @edisga. We will update the doc shortly.

[2020-09-08 21:22] MarileeTurscak-MSFT commented on #62248
Hi @Vector-sigma,

To find your onmicrosoft.com tenant name:

1. Log in to your [Office 365 Admin Center ](https://portal.office.com/)as an administrator.
2. Under Setup click on Domains.
3. Find a domain which ends with .onmicrosoft.com – this is your Office 365 tenant name.

Hope this helps! If you have further questions feel free to reach out on [Microsoft Q&A](https://docs.microsoft.com/answer

[2020-09-08 21:22] #62248 closed

[2020-09-08 21:24] klawrawkz opened #62281 "Azure Creates Invalid Deployment Name And Self-Destructs Its Auto Generated RMT Deployment."
Please provide guidance for the condition where Azure creates a deployment name that is too long, then blows up, and complains to the end user that the name is too long, E.G.: **_The provided deployment name 'compliance-testing-test-eastus-vnet.ad-domain-svcs-test-eastus-snet' has a length of '67' which exceeds the maximum length of '64'._**

We have provided no name. Azure _should_ know enough ab

[2020-09-08 21:26] WinstonHoward-MSFT commented on #62274
Thanks for the feedback, I've assigned this feedback to the doc author to see if incorporating the `'SUBID' shell variable` in that list of environment variables is something they want for this example.

[2020-09-08 21:26] DerekHerman-MSFT commented on #62266
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 22:00] Grace-MacJones-MSFT commented on #62276
I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2020-09-08 22:00] #62276 closed

[2020-09-08 22:04] DerekHerman-MSFT commented on #62277
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 22:12] MartinJaffer-MSFT commented on #62036
@sguha-v you should not clone SHIR like that.  The key is used to help identify the SHIR.  Each SHIR is expected to have its own key.  Once you had two of them, communication got scrambled because ADF did not know which one to use.  Given the way you cloned the servers, the behavior is not surprising, but I don't know I could call it expected either, as the situation was not expected.

[2020-09-08 22:16] MarileeTurscak-MSFT commented on #62154
@haneef95, as of yet nothing has changed since the comment your referenced in January. I did bump this up with some people from that team though and will update you on this thread as soon as there is news on this.

[2020-09-08 22:16] #62154 closed

[2020-09-08 22:19] Karishma-Tiwari-MSFT commented on #62120
You can find more information on Auto scaling here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-autoscaling

[2020-09-08 22:20] habeebtc opened #62283 "Typo: "associted " > "associated""
"Azure customers will not be charged for the storage costs associted with boot diagnostics using a managed storage account through October 2020."

https://docs.microsoft.com/en-us/azure/virtual-machines/boot-diagnostics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691353ad-7c13-bce2-510f-b9a641cf95c4
* Version Indepe

[2020-09-08 22:21] sguha-v commented on #62036
Hi,

Yes I agree that the two same keys on Server A and B at same time may conflict but if we check at ADF side we can see only the server A as registered SHIR service. Server B is not there anywhere inside ADF/Azure. So the Server B should not be able to disrupt the connection from outside but still it is becoming a factor. That is confusing me.

Regards
Saibal Guha
TCS @ Visionworks of America,

[2020-09-08 22:32] asubmani opened #62284 "Allow benchmark results for VM to be queried via API/ JSON output"
Please allow the data in this document to be queried by API.
If possible, latest versions of benchmarks should be available via API

This will help consultants keep upto date on latest VM SKU's and propose the best VM series.

This will also help us in ingesting this data to an analytics platform like ADX or Log Analytics for more insights
---
#### Document Details

⚠ *Do not edit this section. It

[2020-09-08 22:34] mimckitt commented on #62283
Thanks for this catch! I have fixed the document. Changes should go live in a few hours.

#assign: @mimckitt
#please-close

[2020-09-08 22:34] #62283 closed

[2020-09-08 22:34] ggailey777 commented on #62264
This is what I see in the portal:

![image](https://user-images.githubusercontent.com/1388263/92534030-a3246700-f1e8-11ea-89af-cf7cad44bbcd.png)

Can you try again using a different resource group name (besides `AzureFunctionsContainers-rg`).

[2020-09-08 22:34] bubbletroubles opened #62285 ""True" value doesn't work, needs to be "true""
Hi, in the page the Booleen value is invalid. See screenshot below. When its set to "True" the portal returns an error. When its set to "true" it works. The documentation on this page says to set it to "True" with an uppercase T, which is incorrect.

![image](https://user-images.githubusercontent.com/42738824/92534033-22f91280-f277-11ea-8a23-b6b0b8a86fa4.png)

![image](https://user-images.githubus

[2020-09-08 22:34] DerekHerman-MSFT commented on #62280
@brandom-msft
This seems to indicate that the PowerShellGet version might be out of date. Please install the latest version first.

install-Module PowerShellGet –Repository PSGallery –Force

Important: Please do close and re open the powershell console to load the updated module.

Afterwards you can retry the command.

[2020-09-08 22:40] tamram commented on #62280
@brandonh-msft - This feature is going GA today. I recommend using the latest version of PS. The freshly updated doc is here:

https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-configure?tabs=powershell

[2020-09-08 22:41] JamesTran-MSFT commented on #62285
@bubbletroubles
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-08 22:41] tamram commented on #62280
#reassign: @tamram

#please-close

[2020-09-08 22:41] #62280 closed

[2020-09-08 22:48] WinstonHoward-MSFT commented on #62270
Hey @ganrad ,

Thanks for the issue. I've gone ahead and opened a PR to fix this. I will close this issue now, if you need anything else just leave a comment down below.

[2020-09-08 22:48] #62270 closed

[2020-09-08 22:48] tamram commented on #62277
@brandonh-msft - This looks like it was a problem with your CLI version. But this feature is now GA. I recommend using Azure CLI version 2.11.1 or later. Updated doc is here:

https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-configure?tabs=azure-cli

#please-close

[2020-09-08 22:52] BharathNimmala-MSFT commented on #62212
@mailtogurvindersingh Thanks for reaching out. Post validation with our team below is the information, we can share

- I would like to know what SLA of Azure Monitor with the HTTP Data Collector API is?

        no special SLAs are provided beyond those that Azure system-wide defines for services in this release stage.

- What is it that would cause this API to throw a 429 or 503 error?

        t

[2020-09-08 22:52] #62212 closed

[2020-09-08 22:53] cynthn commented on #62230
@vsabella Thanks for the feedback! I'm not sure it matters. Another user submitted a pull request to use parted instead of another tool and this was the syntax they used, and what I saw other folks using. It worked for me, but if you are getting an error, you could try using it right after the `parted` piece.

#please-close

[2020-09-08 22:53] #62230 closed

[2020-09-08 22:55] MarileeTurscak-MSFT commented on #62154
The product team got back and said that there is still no update on the timeline so far but that there is a backlog work item created for this. I'm tracking this work item and will update when there is more news.

[2020-09-08 22:56] MarileeTurscak-MSFT commented on #62154
The product team got back and said that there is still no update on the timeline so far but that there is a backlog work item created for this. I'm tracking this work item and will update when there is more news.

[2020-09-08 23:03] ChaitanyaNaykodi-MSFT commented on #62278
Hello @jesseorosz, Thank you for your feedback! We will review and update as appropriate.

[2020-09-08 23:07] brandonh-msft commented on #62280
I didn't have AzPosh installed before today (that I know of) so I'd have expected that I'd have received the latest.... But i'll give it another shot later

[2020-09-08 23:08] drdamour commented on #61987
@MayankBargali-MSFT that linked code is for the inbound trigger which has them distinct, my comments are about the outbound binding

[2020-09-08 23:11] drdamour commented on #61987
ServiceBusAttribute is outbound, ServiceBusTriggerAttribute that u linked is inbound

[2020-09-08 23:23] Karishma-Tiwari-MSFT commented on #62147
The information is updated in this article here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-create-vmss#allow-traffic-to-application

Thanks for the feedback! I have assigned the issue to the content author to update this document as well.

[2020-09-08 23:25] TimothyMothra opened #62286 "Application Insights .Net SDK v2.15 - Asp.Net Core config changes"
This issue is to track needed documentation changes for Application Insights .Net SDK v2.15 to be released on Tuesday, September 15th.

We've introduced config changes for Asp.Net Core scenarios that need to be documented with examples.
Source: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1882

Please assign this issue to @rajkumar-rangaraj and @mrbullwinkle.
Please label this is

[2020-09-08 23:25] NowinskiK commented on #61382
I did it in a similar way but with issue which is related to conversion. Take a look here:
https://github.com/SQLPlayer/azure.datafactory.tools/blob/master/private/Update-GlobalParameters.ps1

[2020-09-08 23:27] TimothyMothra opened #62287 "Application Insights .Net SDK v2.15 - Asp.Net Core storage changes"
This issue is to track needed documentation changes for Application Insights .Net SDK v2.15 to be released on Tuesday, September 15th.

We've introduced changes to the default storage behavior for Asp.Net Core + Linux scenarios that need to be documented.
Source: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1792

Please assign this issue to @mrbullwinkle and @rajkumar-rangaraj.
P

[2020-09-08 23:28] ganrad opened #62288 "API Server authorized IP ranges get overwritten. Unable to schedule pods on the cluster."
In section **Enable developer access to the API Server**, the following command overwrites the existing 'Authorized IP ranges' on the AKS cluster with the specified IP range.  Essentially, the 'az aks update ....' command overwrites the existing 'allowed' IP ranges with the one specified by the command.  Not sure if this is expected behavior, AKS 'update' API was designed to overwrite existing IP

[2020-09-08 23:28] bubbletroubles opened #62289 "Clarity on URLs required"
This page says the URL required is
https://login.microsoftonline.com

The page https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugin says the URLs are

https://login.microsoftonline.com
https://login.windows.net
https://login.microsoft.com
https://sts.windows.net
https://login.partner.microsoftonline.cn
https://login.chinacloudapi.cn
https://login.microsoftonline.de
http

[2020-09-08 23:28] Karishma-Tiwari-MSFT commented on #61794
Thanks for sharing the information. I am in discussion with the product team and will share the update soon.

[2020-09-08 23:29] TimothyMothra opened #62290 "Application Insights .Net SDK v2.15 - Asp.Net Core ApplicationInsightsServiceOptions"
This issue is to track needed documentation changes for Application Insights .Net SDK v2.15 to be released on Tuesday, September 15th.

We've introduced changes to Asp.Net Core's configuration object (`ApplicationInsightsServiceOptions`).
Source: https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/NETCORE/src/Shared/Extensions/ApplicationInsightsServiceOptions.cs
Affected Docs:
-

[2020-09-08 23:29] bubbletroubles opened #62291 "Clarity on URLs"
This page defines the URLs required as
https://login.microsoftonline.com
https://login.windows.net
https://login.microsoft.com
https://sts.windows.net
https://login.partner.microsoftonline.cn
https://login.chinacloudapi.cn
https://login.microsoftonline.de
https://login.microsoftonline.us
https://login.usgovcloudapi.net
https://login-us.microsoftonline.com

The page https://docs.microsoft.com/en-us

[2020-09-08 23:29] MonikaReddy-MSFT commented on #62263
@tamatsuxyz -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-08 23:31] Karishma-Tiwari-MSFT commented on #62041
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 23:34] Karishma-Tiwari-MSFT commented on #62038
This feedback is covered as part of https://github.com/MicrosoftDocs/azure-docs/issues/62041
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-08 23:34] #62038 closed

[2020-09-08 23:35] Karishma-Tiwari-MSFT commented on #62225
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 23:37] Karishma-Tiwari-MSFT commented on #61944
Thanks for sharing the details. That helps.

@brbell  Would you be able to help confirm on this? Thanks :)

[2020-09-08 23:40] davidwhitenz opened #62293 "paas-web-application - outdated link & DDoS clarification"
In the paas-web-application section, there is a link (https://azure.microsoft.com/blog/ip-and-domain-restrictions-for-windows-azure-web-sites/) to an older blog article from 2003, which is somewhat out of date for most of it's references.
This talks about the feature to be able to restrict app service access via IP. For DDoS protection, it doesn't clarify if the private or public address must be u

[2020-09-08 23:41] haneef95 commented on #62154
Okay, thanks for looking into it.

Is there an alternative way to find out if the user has signed in with MFA?

Maybe a different endpoint URI to get information on the user's account?

Thanks

[2020-09-08 23:41] Karishma-Tiwari-MSFT commented on #61504
@ScottAzure Would you be able to share your insights on this customer feedback. Thanks.

[2020-09-08 23:54] hpsin commented on #62164
Putting a client secret inside a web extension is a security vulnerability - please fix this immediately. Use of the browser code flow ("PKCE") and  chrome.identity.launchWebAuthFlow is best - if a user has **chosen** to not persist their session beyond the close of the browser, they likely also do not want their session in your extension to persist.

[2020-09-09 00:19] SatishBoddu-MSFT commented on #60147
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-09-09 00:19] #60147 closed

[2020-09-09 00:20] BharathNimmala-MSFT commented on #62117
@chrispauly Thanks again for bringing this to our notice, assigning this issue to our document author @mrbullwinkle to further evaluate the list of IP's and update the document accordingly.

[2020-09-09 00:21] SatishBoddu-MSFT commented on #60181
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-09-09 00:21] #60181 closed

[2020-09-09 00:24] HughDevlin opened #62294 "Under Ensure port 445 is open dangling sentence fragment"
dangling sentence fragment in instructions

Ensure port 445 is open: SMB communicates over TCP port 445 - check to see if your firewall is not blocking TCP ports 445 from client machine. Replace and

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd

[2020-09-09 00:26] mrbullwinkle commented on #62117
@chrispauly it looks like in addition to omitting  the ranges this list is out-of-date. The current list of ranges for Action Groups is here:

[code]
We publish the IP addresses ranges as part of virtual network service tags, but you can always download the service tag list as JSON files from here: https://docs.microsoft.com/azure/virtual-network/service-tags-overview#discover-service-tags-by-usin

[2020-09-09 00:52] himanshusinha-msft commented on #62153
Thanks @sartoris  for clarifying that . I am going ahead and closing the issue for now . You can always re-open the issue if you think that appropriate .

[2020-09-09 00:52] #62153 closed

[2020-09-09 00:53] HARAVIS commented on #61834
Hi, looking for an update on this.

[2020-09-09 00:54] player2 commented on #34559
I also have this error
* ERROR: DllNotFoundException during ApplyConfiguration
* ERROR: Enable step getting DllNotFoundException: System.DllNotFoundException: Unable to load DLL 'MpClient.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

[2020-09-09 01:02] sanjeev3 commented on #61332
@wahyuen and @ram-msft - The latest .NET SDK supports Read 3.0 GA version and endpoint. The next iteration of the SDK will be most likely when 3.1 is GA'ed in FY21 second half (March-May 2021). The "preview" label is a routing process to ensure time for feedback - likely to be removed soon. Thanks.

[2020-09-09 01:07] #61332 closed

[2020-09-09 01:27] ukhan commented on #62164
@hpsin, thank you for your response.

This fixed. Besides, the expansion used only delegated permissions.

It's not about what the user decided. It's about [implementing](https://source.chromium.org/chromium/chromium/src/+/master:chrome/browser/extensions/api/identity/web_auth_flow.cc;l=127) chrome.identity.launchWebAuthFlow – authorization page dialog is loaded in an extension context, which uses

[2020-09-09 02:00] ram-msft commented on #62138
Thanks, after setting the COMPUTER_VISION_SUBSCRIPTION_KEY and COMPUTER_VISION_ENDPOINT respectively we are able to execute the sample successfully as shown below.please check your Computer Vision subscription key and endpoint to your environment variables.
![image](https://user-images.githubusercontent.com/49180516/92544862-8598e100-f26c-11ea-94e8-f17537188bdc.png)

[2020-09-09 02:03] phillym opened #62295 "Explicit Blob Storage URLs to bypass Proxy Intercept"
Hi there,

We need to be explicit about which blob storage URLs can bypass TLS interception on our proxy. Is it possible to provide explicit blob storage hostnames for Azure Migrate? Excluding *.blob.core.windows.net is not secure.
Likewise, for dynamic firewall rules an explicit hostname is required
https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#public-cloud-urls

Thanks! Phil

[2020-09-09 02:13] SaiKishor-MSFT commented on #61934
@haymansfield
You cannot modify encryption parameters on the Azure portal, therefore these changes will not reflect on the configuration file that has been downloaded from the portal. Also the only supported parameters are as given in the document- https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about#gwsku

Depending upon the Gateway SKU, only the given encryption parameters are

[2020-09-09 02:15] tina-ho commented on #62228
Hi @psmanhas

Thanks for the checking. The user had tried to use different browsers but still encountered the same issue.
Can you try Resource Group level instead of VM level? Since the users would like to have access to Run command of all VMs under a specific Resource Group.
Besides, I found an internal ICM 199733222 was encountering the same issue. Kindly advise.

Thank you.

[2020-09-09 02:28] player2 commented on #34559
Resolved by adding "C:\Program Files\Microsoft Security Client" (the location of MpClient.dll) to the path variable

[2020-09-09 03:08] KrishnaG-MSFT commented on #62281
@klawrawkz Thanks for your feedback! We will review and provide an update as appropriate.

[2020-09-09 03:10] Jason446620 commented on #13644
This problem has not been resolved so far, please pay attention. @AdamS-MSFT

[2020-09-09 03:19] KrishnaG-MSFT commented on #62286
@TimothyMothra Thanks for the feedback. It would be better if you can provide list of affected doc's as you did for #62290.
Assigned to @rajkumar-rangaraj and @mrbullwinkle.

[2020-09-09 03:21] KrishnaG-MSFT commented on #62287
@TimothyMothra Thanks for the feedback. It would be better if you can provide list of affected doc's as you did for #62290.
Assigned to @rajkumar-rangaraj and @mrbullwinkle.

[2020-09-09 03:24] KrishnaG-MSFT commented on #62290
@TimothyMothra Thanks for the feedback. It would be better if you can provide list of affected doc's as you did for #62290.
Assigned to @TimothyMothra and @mrbullwinkle.

[2020-09-09 03:36] ram-msft commented on #62138
@Tylersuard We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-09 03:36] #62138 closed

[2020-09-09 03:38] ram-msft commented on #62272
@jtg5122 Thanks for the feedback! We will review and update accordingly.

[2020-09-09 03:49] propellor opened #62296 "Synapse power bi linking quickstart didn't work for me."
When linking a power bi workspace in synapse I get 'failed to load workspace' in the workspace name drop-down.  Are there any prerequisites someone should be aware of to follow this quick-start?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d5100d4-90df-77ca-c193-75e635aaa900
* Version Independent ID: 5ed65075-56ea-c

[2020-09-09 04:03] souravmishra-msft commented on #61459
@billmath, Can you please take a look at this?

[2020-09-09 04:13] RyanHill-MSFT commented on #62265
Thanks for the feedback @parklinkivic! We are currently investigating and will update you shortly.

[2020-09-09 04:15] RyanHill-MSFT commented on #62267
Thanks for the feedback @Astrophe717! We are currently investigating and will update you shortly.

[2020-09-09 04:16] KevinBurton opened #62298 "Cannot verify the deployed function"
I followed the instructions on the web page to the letter.  Locally the application that I wrote verified correctly but publishing and running the app appending api/HttpExample?name=Functions does not work. I get a 401 page essenially indicating that the page does not work. Copying the URL or "opening from the browser" (without the appended function specification) gets the standard function is wor

[2020-09-09 04:17] BhargaviAnnadevara-MSFT commented on #62166
@kulbirjandoria I believe the resourceID that you are passing is in this format:
`/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/<rg-name>/providers/Microsoft.Compute/galleries/<shared-image-gallery-name>/images/<image-name>
`

but please know that the expected format for the sharedImageId property is as follows:
`/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourcegrou

[2020-09-09 04:18] RyanHill-MSFT commented on #62273
Thanks for the feedback @mrcunninghamz! We are currently investigating and will update you shortly.

[2020-09-09 04:19] CHEEKATLAPRADEEP-MSFT commented on #62296
@propellor The prerequisites to follow this document has mentioned in the document.

Prerequisites

- Create an Azure Synapse workspace and associated storage account
- A Power BI Professional or Premium workspace

When you say you are experiencing this error message 'failed to load workspace' , could you please provide complete error message?

[2020-09-09 04:25] RyanHill-MSFT commented on #62284
Thanks for the feedback @asubmani! We are currently investigating and will update you shortly.

[2020-09-09 04:27] RyanHill-MSFT commented on #62288
Thanks for the feedback @ganrad! We are currently investigating and will update you shortly.

[2020-09-09 04:29] RyanHill-MSFT commented on #62289
Thanks for the feedback @SaurabhSharma-MSFT! We are currently investigating and will update you shortly.

[2020-09-09 04:32] RyanHill-MSFT commented on #62291
Thanks for the feedback @SaurabhSharma-MSFT! We are currently investigating and will update you shortly.

[2020-09-09 04:36] RyanHill-MSFT commented on #62293
Thanks for the feedback @davidwhitenz! We are currently investigating and will update you shortly.

[2020-09-09 04:36] SwathiDhanwada-MSFT commented on #62204
@jikuja Log Analytics data retention can be configured between 30 and 730 days in all current pricing tiers. Data which is older than the retention setting will be removed (based on the TimeGenerated field).

[2020-09-09 04:37] RyanHill-MSFT commented on #62294
Thanks for the feedback @HughDevlin! We are currently investigating and will update you shortly.

[2020-09-09 04:39] RyanHill-MSFT commented on #62295
Thanks for the feedback @phillym! We are currently investigating and will update you shortly.

[2020-09-09 04:45] BharathNimmala-MSFT commented on #61714
@RonnieQuan Apologies again for my delayed response. I did review your queries and below are my findings so far. Will keep you updated as i get further information from our Internal product team.

1.	Change in the Storage Container name with regards to Legacy vs new method

2.	New-AZOperationalInsightsAzureActivityLogDataSource

3.	The doc says "you should consider transitioning to diagnostic sett

[2020-09-09 04:46] mohideenyassarvm opened #62299 "Group match configuration not working"
Dears,

I have followed the document and saml sso is working fine. I have created a group in Fortinet matching the object Id of azure ad group. I was able to successfully authenticate however it immediately logs me out.

Below is my configuration

edit "FortiGateAccess"
        set member "SSL-AZURE-SAML-TEST"
        config match
            edit 1
                set server-name "SSL-AZURE-SAML-

[2020-09-09 04:57] SaurabhSharma-MSFT commented on #62022
@hiteshtulsani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-09 04:57] #62022 closed

[2020-09-09 04:58] psmanhas commented on #62284
@asubmani Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-09-09 04:58] psmanhas commented on #62284
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-09-09 04:58] #62004 closed

[2020-09-09 05:02] DeanCefola opened #62300 "Need to include Azure AD Permissions as prerequisite"
I had a customer setting up the Scaling Automation tool and couldn't create the Run as Account for the Automation account because of his AAD access.  The setup of the automation account seems to require Azure AD Application Admin or Global Admin rights or at least some delegated rights
I would like to include to the prerequisite section a line like:

## Add this to prerequisite section
To create o

[2020-09-09 05:17] PramodValavala-MSFT commented on #62298
@KevinBurton Apologies for the first experience. The problem here is because of the `AuthorizationLevel` on the HTTP Trigger set in [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-storage-queue-vs#add-an-output-binding).

While this will work locally, when deployed to Azure, you will have to use a [Function Key](https://docs.microsoft.com/en-us/az

[2020-09-09 05:35] RohitMungi-MSFT commented on #62299
@mohideenyassarvm Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .

If you have a document which you are following and if you think it needs an

[2020-09-09 05:43] tina-ho commented on #62228
Attached the screenshot that the user saw when his account was with "Virtual Machine Contributor" at Resource Group level.
![image](https://user-images.githubusercontent.com/22343932/92559041-63ba5100-f2a2-11ea-9234-b582da870f0f.png)

[2020-09-09 05:44] mohideenyassarvm commented on #62299
HI Rohit,

This is the document I’m referring to https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/fortigate-ssl-vpn-tutorial. Configuring the Azure AD groups in firewall not working as per the document. Authentication is success . However I’m getting logged out as soon as I logged in

Thanks
Mohideen

From: RohitMungi-MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/azure-d

[2020-09-09 06:14] priyaananthasankar commented on #60595
+1 for better discoverability
cc: @Sarah-Aly @nzthiago

@spelluru we are also trying to mine these metrics and unable to find DestinationProcessingDurationInMs. I see in the documentation that the following metrics are not exportable via Diagnostic Settings:
- DestinationProcessingDurationInMs
- DeliveryAttemptFailCount

[2020-09-09 06:15] jl-ms commented on #48257
#please-close

[2020-09-09 06:15] #48257 closed

[2020-09-09 06:39] #62191 closed

[2020-09-09 06:50] RossCavanagh opened #62301 "Missing new whitelisting details *.datafactory.azure.net"
Recently got information in regards to the whitelisting

"The product team mentioned that *.datafactory.azure.net is a new feature for all new created data factories and it is necessary to be whitelisted."

So suggest that the documentation is updated to reflect this. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-09-09 07:09] shashishailaj commented on #62299
@mohideenyassarvm I understand you have some issue within your setup . We use github for improvements in the document or ay bugs in them and not for product support .  In your case this issue would require deeper troubleshooting. I would suggest to post such queries where troubleshooting might be needed on our Azure Community forum , [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.h

[2020-09-09 07:09] #62299 closed

[2020-09-09 07:35] JayaChatterjee-MSFT commented on #61848
@alvinkwekel Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-09 07:39] AnuragSharma-MSFT commented on #62160
@ymasaoka Thanks for letting us know the issue, really appreciate your inputs. We have updated the document content accordingly.
The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-09-09 07:47] Zhong-J commented on #61938
Thanks @SumanthMarigowda-MSFT  for the quick update!

[2020-09-09 07:53] AnuragSharma-MSFT commented on #62244
@woeterman94 I think you need to click on 'Connection String' under 'Settings' to see all the connection related properties as below. Please try and let me know if you still notice any issues:

![image](https://user-images.githubusercontent.com/66360845/92570485-9b73c980-f29f-11ea-8666-48eab90b9b1a.png)

[2020-09-09 07:57] HarithaMaddi-MSFT commented on #62301
@RossCavanagh - Thanks for sharing the valuable feedback. I am looking into it and will update you shortly.

[2020-09-09 08:00] #61980 closed

[2020-09-09 08:00] woeterman94 commented on #62244
As I said, there is no "connection string" tab under the settings.
This occurs when u create a CoreSQL Cosmos DB.

[2020-09-09 08:02] BryanTrach-MSFT commented on #61980
@azahran007 We always strive for the best and even minor typos can have a big impact, such as when using a text reader. Thank you for pointing this out.

We updated the doc and changes should be publicly viewable within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and w

[2020-09-09 08:07] InstantHotCocoa opened #62303 "An error in document "deploying a workbook template""
Should Resource type `microsoft.insights/component` in Galleries paragraph be "microsoft.insights/component<ins>s</ins>" instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dcc4cc3-0498-e062-cfab-8fc07995f126
* Version Independent ID: 71fee11f-203f-fdd9-6ea3-d2906a78962c
* Content: [Azure Monitor Workbooks and Azu

[2020-09-09 08:17] HarithaMaddi-MSFT commented on #62301
@RossCavanagh - Yes, I looked at updates from Product team and this needs to be updated in the documentation. I am moving it to content owner for updating the same.

@nabhishek - Can you please take a look?

[2020-09-09 08:21] xelossan opened #62304 "local.settings.json file ignored after configuring App Configuration"
After adding App Configuration config provider to Functions App, config stored in local.settings.json file is ignored when running the function app locally. Could you please add information about required config changes in order to make local.settings.json file overwrite settings from App Configuration service when running locally?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-09 08:31] gsamant commented on #39826
I am still getting this issue. Any resolution found?

[2020-09-09 08:35] alvinkwekel commented on #61848
@JayaChatterjee-MSFT,

Indeed I'm using HTTP clients in this case.

According to the documentation the client should instantly receive an EventGrid notification for a message if the queue is empty when it comes in. I'm finding that this is not the case if another message was read using a HTTP client some seconds up to some  minutes before. If a queue is not read for several minute before a new mes

[2020-09-09 08:47] JayaChatterjee-MSFT commented on #61848
@alvinkwekel  This seems to be application specific and needs dedicated troubleshooting. So yes, I would request you to open a support ticket with Microsoft Support. Also it would be great if you could share the incident number with me via email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thread. If there is any generic reason or conclusion deduced by the sup

[2020-09-09 08:48] davedoesdemos opened #62305 "DevOps best practice"
As this is the product documentation for CI/CD using Azure DevOps I'm concerned that this tutorial skipped the build process as well as creating an artifact. This starts customers off with a poor understanding of DevOps best practices and will lead to more problems as a result. Instead the process should be to create an artifact with a build pipeline first and then deploy that into the staging env

[2020-09-09 08:51] KrishnaG-MSFT commented on #62303
@InstantHotCocoa Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-09 08:53] davida1992 commented on #55478
I tried this, please see the reply above from chelhernandez.
Basically, if you specify a group in step 6, it just allows this group to login, but MFA is still required.

If MFA is not setup then the connections is immediately terminated.

Any other way?

[2020-09-09 08:54] davida1992 opened #62306 "Allow some users/groups to authenticate without MFA"
From the setup on the Gateway server, in RD Gateway Manager it looks like on the RD CAP Store we are forwarding all auth requests to the remote NPS Server. I take it there is no method of forwarding only certain traffic to the remote server?

Essentially our goal is to make it so that some staff in some OUs/AD Groups are forced to MFA. Others should just be allowed in directly.

Otherwise, if MFA

[2020-09-09 09:09] BryanTrach-MSFT commented on #61948
@sussexrick In regards to Node.js, `az webapp list-runtimes | grep node` this will only show the versions that are currently supported.

To see a full list of supported Node.js version, you can use KUDU and navigate to `D:\Program Files (x86)\nodejs\node_modules` but note if they did not appear via the above cmdlet, they are not supported. We continue to offer the older versions to assist customer

[2020-09-09 09:09] #61948 closed

[2020-09-09 09:17] amanmcse commented on #62187
@rrajan82 Thank you for pointing this out. I have updated the documentation. The changes might take around 24 hrs to reflect.

[2020-09-09 09:18] #62187 closed

[2020-09-09 09:32] difatkulbayanova opened #62307 "Be more specific when saying that network policy must be disabled on subnet when adding private endpoint"
[Enter feedback here]

Be more specific when saying that network policy must be disabled ( only for deployments that are done not from UI portal )

UI portal deployments do it automatically
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a

[2020-09-09 09:38] chetansir opened #62308 "User delegated SAS token generated by New-AzStorageContainerSASToken different with SAS token created by Azure CLI"
A User delegated(AD) SAS token created for storage account created by Azure portal or Powershell is different with a SAS token created by Azure CLI.

Example:
Azure CLI:
az storage container generate-sas \
    --account-name <storage-account> \
    --name <container> \
    --permissions acdlrw \
    --expiry <date-time> \
    --auth-mode login \
    --as-user

token generated:
**se=2019-07-27&sp=r

[2020-09-09 09:43] cima commented on #43196
After a long evening session I have put things together and found out that working deb packages are available at Github releases. Which is not aparent from directly available manuals. I decided to put together steps for Debian enthusiasts. Based on [Install the Azure IoT Edge runtime on Debian-based Linux systems](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux) I hav

[2020-09-09 09:48] femsulu commented on #44336
re-assigning to @jaspkaur28

[2020-09-09 10:02] BhargaviAnnadevara-MSFT commented on #62304
@xelossan Thanks for the question! We're investigating this and will get back to you shortly.

[2020-09-09 10:06] MayankBargali-MSFT commented on #62167
@fourthdimension  Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-09 10:06] #62167 closed

[2020-09-09 10:23] AnuragSharma-MSFT commented on #62244
@woeterman94 Actually the metadata of the issue posted was pointing to Azure Cosmos Db for Mongo DB API hence the confusion. As you rightly said there is not 'connection string' when you create a Azure Cosmos Db Core Sql API but we have 'Keys' under 'Settings' where in we have connection strings mentioned as below. Please let me know if this is what you were referring to, or we can discuss more on

[2020-09-09 11:01] ekrof commented on #62238
I don't think this has anything do to with it being GRID or CUDA? For me it was that the Application didn't recognize the card and therefore turned off hardware acceleration so it became unable to use. Do you mean that I should've selected another N-series other than NC6?

[2020-09-09 11:20] Joakim-Blach-Andersen opened #62311 "No guide on how to set it up. Sort of the basic thing I was looking for."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d9e8ae-89d0-2e7e-3217-4a9443d1f36d
* Version Independent ID: 24e2d297-d334-eb25-688b-76415eb02704
* Content: [Azure VM sizes - GPU - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu)
* Content Source: [articl

[2020-09-09 11:21] SubhashVasarapu-MSFT commented on #62307
@difatkulbayanova, Thanks for reaching out. We will investigate and update this thread.

[2020-09-09 11:41] mrbullwinkle commented on #62303
@InstantHotCocoa yes that is a typo in the doc:
![image](https://user-images.githubusercontent.com/31510320/92593759-a282e380-f26f-11ea-8136-e0bcdc4e3826.png)

It should be `microsoft.insights/components`. Thanks for bringing this to our attention we'll get this updated this week.

[2020-09-09 11:50] sandervandevelde commented on #62060
Hello @ChaitanyaNaykodi-MSFT Thanks for the feedback.

Regarding Q1, I understand the technical implications. What I do not understand is "that are not deployed to app service".

I want to know, in production, wether I have to add that host ID or not. What is the app service relationship with both multiple function apps and a shared storage account? An example should make it more clear.

Regarding

[2020-09-09 11:54] ms32035 commented on #57689
Now the Edge Blob Storage doesn't even work with Azure Storage Explorer
[code]
Would you mind reprioritising your backlog?

[2020-09-09 12:15] kasimrehman opened #62312 "Explanation required"
"Your on-premises BGP peer address MUST NOT be the same as the public IP address of your VPN device or the Vnet address space of the VPN Gateway."

Given that this is framed as such a strong advice (perhaps something people have got wrong in the past) one would expect an explanation as to why this should not be done.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. I

[2020-09-09 12:20] GitaraniSharma-MSFT commented on #62312
@kasimrehman , thank you for your question. We'll review this and get back to you shortly.

[2020-09-09 12:29] marcusfm commented on #62056
How long does it take for the PR to be approved? thanks,

[2020-09-09 12:45] HarithaMaddi-MSFT commented on #62305
@davedoesdemos - Thanks for sharing valuable inputs. As per my understanding, usually build branch may change in every development sprint and to avoid updating the trigger filter across all release pipelines for every change it is recommended to change the default branch in the build pipeline and build artifact is referred in release pipeline. This does not apply to ADF as ADF_Publish branch would

[2020-09-09 12:51] davedoesdemos commented on #62305
Hi thanks for the quick response. The build branch wouldn't usually change at this level since we're talking about the collaboration branch rather than feature branches - these map well to ADF. It would still be highly desireable to create a real and immutable artifact in the store when dealing with CI/CD. The documented method works fine for demo purposes but in real world scenarios breaks down q

[2020-09-09 12:52] sgdesmet opened #62316 "Metadata settings are not always clear"
The documentation on metadata settings is not entirely clear on how some settings influence each other.

For example:
 - `CodeExpirationInSeconds`: from our tests this appears to be a rolling window when combined with `ReuseSameCode`
 - `NumRetryAttempts` and `ReuseSameCode`: after exceeding `NumRetryAttempts`, the same code as before is still sent and the user cannot enter any code anymore. When

[2020-09-09 12:57] HarithaMaddi-MSFT commented on #62305
@davedoesdemos - Thanks for the detailed response.

@djpmsft - Can you please take a look and share your thoughts?

[2020-09-09 13:00] AnuragSharma-MSFT commented on #62056
@marcusfm It could take few days as the PR goes through review, approval and merge process and also depends on the bandwidth of the approver. However mostly I have seen it done within a week. In any case you will receive a notification once PR is closed.

[2020-09-09 13:24] MariaCobretti commented on #52726
I don't understand whats wrong with the approach in v3 where you would formulate your linq query and pass it to the GetItemQueryIterator method with queryable.ToQueryDefinition().QueryText;

I just don't want to write SQL and it seems like such a non issue to do

[2020-09-09 13:34] kasimrehman opened #62318 "PIP?"
It is not clear what PIP means in the diagrams. If it means Public IP, why are always two connected to a NAT Gateway?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0199d8e-367c-9889-ff97-3a2c6d68a74f
* Version Independent ID: 9fcdf3c4-4139-bc81-0ac0-f82f7bd7dbcb
* Content: [Designing Virtual net

[2020-09-09 13:38] RyanHill-MSFT commented on #47611
Hi @rustem08, can you email me at _AzCommunity[at]microsoft[dot]com_ ATTN Ryan so I can take a closer look. Please include your subscription id and app name.

[2020-09-09 13:48] shashishailaj commented on #62306
@davida1992 Thank you for your query. We will investigate this and update the thread.

[2020-09-09 13:53] NorthHighlandNicole commented on #61439
Hey, could someone please respond?

[2020-09-09 13:58] kennethgp opened #62320 "Need to add FQDN aksrepos.azurecr.io for cluster using Calico"
Seems like doc needs a note specifying optional FQDNs to whitelist when optional cluster components such as Calico are used. Specifically, Calico pods get its image from aksrepos.azurecr.io which is not in the list.
Found this issue mentioned here: https://github.com/Azure/AKS/issues/1044, it says doc was going to be updated but seems this is not done yet.
---
#### Document Details

⚠ *Do not edit

[2020-09-09 13:59] haymansfield commented on #61934
@SaiKishor-MSFT Thanks for the response, it is good to get confirmation. I was aware of that page and am using a supported IKEv2 configuration.

The documentation should probably make clear that the downloaded client can only be used for the default crypto profile.

[2020-09-09 14:00] MayankBargali-MSFT commented on #62175
@hebroin I believe you are talking about [this](https://docs.microsoft.com/en-us/azure/api-management/self-hosted-gateway-overview#connectivity-to-azure) doc where it is mentioned: "_Self-hosted gateways require outbound TCP/IP connectivity to Azure on port 443_"

The above talks about the outbound port 443 whereas the command talk about the inbound port. Let assume you have a firewall that blocks

[2020-09-09 14:09] jcbrooks92 opened #62321 "FQDNs for Azure Government"
# Azure documentation issue guidance

A list of the Azure Government private endpoint FQDNs would be helpful to document as the specific articles for private endpoints contains only the public FQDNs. Here's a list I compiled of some of the values.

Azure SQL | privatelink.database.usgovcloudapi.net
Azure Automation | privatelink.azure-automation.net
Azure Table | privatelink.table.core.usgovclouda

[2020-09-09 14:12] himanshusinha-msft commented on #62036
@sguha-v  : Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Q & A and other forums , we have our engineers and others who are monitoring them and will be happy to help .

If you have a document which you are following and if you think it needs  an up

[2020-09-09 14:12] #62036 closed

[2020-09-09 14:15] kasimrehman opened #62322 "Destination IPs in SNAT example not clear."
In this table:

Flow | Source tuple | SNAT'ed source tuple | Destination tuple
-- | -- | -- | --
1 | 192.168.0.16:4283 | 65.52.0.2:234 | 65.52.0.1:80
2 | 192.168.0.16:4284 | 65.52.0.2:235 | 65.52.0.1:80
3 | 192.168.0.17.5768 | 65.52.0.2:236 | 65.52.0.1:80
4 | 192.168.0.16:4285 | 65.52.0.2:237 | 65.52.0.2:80

Why do we have three 65.52.0.1 and one 65.52.0.2. The text states the the destination IP a

[2020-09-09 14:16] GitaraniSharma-MSFT commented on #62318
@kasimrehman , thank you for your question. We'll review this and get back to you shortly.

[2020-09-09 14:17] #61641 closed

[2020-09-09 14:31] tfitzmac commented on #62281
@klawrawkz - how are you deploying the template? It looks like you need to provide a name for the deployment that will be used instead of the name of the template file. See the name parameter for [New-AzResourceGroupDeployment](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment) or [az deployment group create](https://docs.microsoft.com/en-us/cli/azure/de

[2020-09-09 14:32] RyanHill-MSFT commented on #62205
You'll run into issues when using `sqlcmd` inside Cloud Shell. It appears it can't use the principal of the user that initiated the session. You can; however, use `sqlcmd -S <your-server-name>.database.windows.net -d <your db> -G -l 30` in your command prompt, powershell, bash assuming the logged in user is an AAD user in the tenant of the subscription. If it isn't, omit the -G switch and use the

[2020-09-09 14:34] rustem08 commented on #47611
Email sent. Thank you.

[2020-09-09 14:39] tfitzmac commented on #62190
@AgassiJoeLVedala89 - we'll close this issue unless there is something to address in the doc that @KrishnaG-MSFT linked to.

[2020-09-09 14:39] tfitzmac commented on #62190
#please-close

[2020-09-09 14:39] #62190 closed

[2020-09-09 14:40] tgdfool2 commented on #45669
Hi @tescales. Did you manage to get this work in the meantime? We are trying to achieve the same, but with no luck until now.

[2020-09-09 14:42] shashishailaj commented on #62316
@sgdesmet Thank you for your feedback . We will investigate and update the thread.

[2020-09-09 14:45] fferrann opened #62323 "Typo on note section"
There is a typo:

should be:

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca576e1-fafa-3a02-6d29-394f342bc737
* Version Independent ID: a6a83de5-41fd-2dce-eb86-cee6c086c07d
* Content: [Create diagnostic settings to send platform logs and metrics to different destinations - Azure Monitor](https://docs.microsoft.com/e

[2020-09-09 14:46] KevinBurton commented on #62298
Again just a beginner. Two questions. How do I supply a FunctionKey when
calling the function from the browser as detailed in the quickstart? How do
I use the workaround to specify AuthorizationLevel.Anonymous?

Thank you.

On Wed, Sep 9, 2020 at 12:17 AM Pramod Valavala <notifications@github.com>
wrote:

[2020-09-09 14:47] jkovacev opened #62324 "Premium streaming endpoints can't be configured using all Azure CDN pricing tiers and providers"
Hi,

it says in the article that Premium streaming endpoints can be configured using all Azure CDN pricing tiers and providers, but I tried and it doesn't seem like you can configure Standard Microsoft CDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee49eb7-e434-646b-483e-ffe1b9c5272c
* Version Independent ID: ec9

[2020-09-09 14:50] KevinBurton commented on #62298
I think I found my answer to the second question. On the web page it shows
[code]
This is where the AuthorizationLevel should be Anonymous?

[2020-09-09 14:54] hari-narayanan94 opened #62325 "Powershell Script provided in the Microsoft Docs to link App service to regional VNET is not working"
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

The powershell script provided to add swift / regional vnet integration for webapps is not working .

Sample script used :

# Parameters
$sitename="mywebappname"
$resourcegroupname="my vnet rg"
$VNetname="my vnet name"
$location="West US 2"
$integrationsubnetname = "my subnet name"
$subscriptionID = "my subscription

[2020-09-09 15:11] IoTFier commented on #62058
Hi @SnehaGunda , any clue on this issue ?
Thank you.

[2020-09-09 15:14] riccom76 commented on #61554
Hi there, any update on this?

[2020-09-09 15:20] Blackmist commented on #58898
Hi @tchmiel , thanks for suggesting this change! The changes @dkmiller outlined previously have been merged into the document and will go live in today's publish.

Thanks again for helping improve the documentation!

#please-close

[2020-09-09 15:20] #58898 closed

[2020-09-09 15:23] #61848 closed

[2020-09-09 15:28] RyanHill-MSFT commented on #62112
@PingPongSet unfortunately, this isn't possible due to the nature a managed identity is a trusted service principal that's tied to the subscription. As a workaround, I suggest using a [user assigned identity](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#add-a-user-assigned-identity). From the Identity blade of your app service, you can create a user iden

[2020-09-09 15:28] #62112 closed

[2020-09-09 15:29] SwathiDhanwada-MSFT commented on #62323
@fferrann Thanks for the feedback. I have raised PR to update the document and once its merged, the changes will be visible.

[2020-09-09 15:32] #62323 closed

[2020-09-09 15:35] SumanthMarigowda-MSFT commented on #62308
@chetansir Thanks for your question. We are checking on this and will respond to you soon.

[2020-09-09 15:36] PeterCLu commented on #62241
@damochiz, thanks for the suggestion. The changes have been merged in and you should see the update live in a few hours.

I'll proceed to #please-close this issue.

[2020-09-09 15:36] #62241 closed

[2020-09-09 15:38] PeterCLu commented on #62221
Hi @hermandr, thanks for the issue. However, this appears to be a product support question. This repository is primarily for documentation-based issues.

The best way to get help for technical issues is by raising a support ticket in the Azure portal:

1. Navigate to the Azure portal.
1.  Select the support question mark (?).
1. Select Help + support
1. Select New support request

![image](https:/

[2020-09-09 15:41] PeterCLu commented on #62218
@minxia do you have any information on using Microsoft R support instead of CRAN?

[2020-09-09 15:45] SumanthMarigowda-MSFT commented on #62182
@RonnieQuan NFS4.1 Private Preview is open now and we hope to move into public preview very soon, please keep a track on Azure updates

[2020-09-09 15:46] djpmsft commented on #62305
Hey @davedoesdemos ,

In ADF, the build artifact is the ARM template for each release and in DevOps it is real easy to trigger creation of a release so that each new version of the 'adf_publish' branch becomes a real and immutable release. For example, if I ever want to go back to an older version of the published environment, I can.

![image](https://user-images.githubusercontent.com/31044028/926

[2020-09-09 15:46] SatishBoddu-MSFT commented on #61093
**Update:** We are still working to get a response on this issue. Sorry for any inconvenience caused in this matter.

[2020-09-09 15:47] djpmsft commented on #62305
Going to close this issue as I don't believe any doc changes are required. Feel free to keep commenting or message me internally.

#please-close

[2020-09-09 15:47] #62305 closed

[2020-09-09 15:49] GitaraniSharma-MSFT commented on #62312
As mentioned [here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-bgp-overview#prefix), with BGP, you only need to declare a minimum prefix to a specific BGP peer over the IPsec S2S VPN tunnel. It can be as small as a host prefix (/32) of the BGP peer IP address of your on-premises VPN device. You can control which on-premises network prefixes you want to advertise to Azure to all

[2020-09-09 15:52] davedoesdemos commented on #62305
While I agree that what you describe is true, I think it's irresponsible pushing customers down a non-standard way of using Azure DevOps for one use-case. We've had to battle to get data people to understand DevOps in the first place and this is just adding to the confusion. What you're missing is the integration with the wider environment and other products, all of which use artifacts within Azur

[2020-09-09 15:53] MonikaReddy-MSFT commented on #62325
@hari-narayanan94 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-09 15:53] vikancha-MSFT commented on #62311
@Joakim-Blach-Andersen Are you looking for documentation on how to setup VMs in Azure? For example instructions on how to deploy a windows VM through the portal are available [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal) Please let me know if this is what you were looking for and we will update the documentation accordingly.

[2020-09-09 15:53] jsgoupil opened #62329 "Incorrect verbiage about-keys"
[code]
should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea3faee-7c00-bef7-312b-d80bead81c81
* Version Independent ID: c5820a51-2873-62c3-68df-ef08e40a67ec
* Content: [About Azure Key Vault keys - Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/keys/about-keys)
* Content Source: [artic

[2020-09-09 15:53] MonikaReddy-MSFT commented on #62321
@jcbrooks92 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-09 15:55] joebiker opened #62330 "thumbnails not creating"
[Enter feedback here]
This is a great tutorial, however I'm not able to get thumbnails to store in the storage container. I've created a `container` but files are not saving.  In AppInsights, I see a message: "Executed "Thumbnail" which would be my FunctionApp.
Inside my function app I have a setting THUMBNAIL_CONTAINER_NAME = thumbnils, however it doesn't save there.

---
#### Document Details

⚠

[2020-09-09 15:56] vikancha-MSFT commented on #62238
The K80 GPUs do not support graphics/visualization workloads. That is the reason the application did not recognize the GPU and turned off hardware acceleration. Please use NV-Series, NVv3-Series or NVv4 series to run Revit or other graphics applications.

[2020-09-09 16:00] GiftA-MSFT commented on #62218
@residentx10 support for MRAN is not currently on our roadmap. However, feel free to raise a [feature request](https://feedback.azure.com/forums/257792-machine-learning) so you and others can upvote to enable the product team priortize this feature. Thanks.

[2020-09-09 16:02] PramodValavala-MSFT commented on #62298
Yes. That is correct.

[2020-09-09 16:03] PramodValavala-MSFT commented on #62298
You can fetch the URL with the function key from the portal as shown in [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function#test-the-function).

[2020-09-09 16:03] GitaraniSharma-MSFT commented on #62318
@kasimrehman, PIP means Public IP.

As mentioned [in this doc](https://docs.microsoft.com/en-us/azure/virtual-network/nat-overview), NAT is compatible with the following standard SKU resources:
- Load balancer
- Public IP address
- Public IP prefix

NAT is compatible with standard SKU public IP address resources or public IP prefix resources or a combination of both. You can use a public IP prefix

[2020-09-09 16:05] tomatoTomahto opened #62331 "Issue with init script"
[Enter feedback here]
This init script does not work on Azure Databricks. It fails with the error:
`20/09/04 17:56:05 ERROR ProjectConf$: Failed to parse conf file '/databricks/driver/conf/spark-branch.conf', skipping...
com.typesafe.config.ConfigException$Parse: String: 2: Key 'spark."authenticate true"' may not be followed by token: 'spark.authenticate.secret' (if you intended 'spark.authenticat

[2020-09-09 16:05] djpmsft commented on #62305
Azure Data Factory is not a CI/CD tool, we just simply integrate with existing DevOps services. I would argue we are following a standard practice and using a specific state of the 'adf_publish' branch as the artifact to maintain history and state of the ARM template artifact used in deployment.

We have many customers that have successfully implemented this model and integrated it with Azure Data

[2020-09-09 16:12] stevevi commented on #62321
Thanks @jcbrooks92 for compiling this list.  I am not planning on adding more endpoint variations to Compare Azure Government and global Azure article (https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure).  Instead, I am working with individual product teams to migrate this information to product specific documentation where it will be easier to maintain.

[2020-09-09 16:13] JamesTran-MSFT commented on #62329
@jsgoupil
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-09 16:14] GiftA-MSFT commented on #62218
@residentx10 actually, MRAN takes snapshots of CRAN, so azuremlsdk has been available on MRAN since it became available on CRAN (late 2019). Here's the link: https://mran.microsoft.com/package/azuremlsdk. Hope this helps. Thanks.

[2020-09-09 16:14] arunprasathv opened #62333 "Making backend API (Azure Functions) accessible ONLY via API Management"
Hi,

Azure Function is mapped to APIM with authentication enabled and everything works fine with APIM. I wanted to block the calls to function app when it called directly and allow calls only through apim. Appreciate your Help.

[2020-09-09 16:41] KevinBurton commented on #62298
I can fetch the URL but how is the key supplied? In keeping with the
previous quickstart, how would I test this function once deployed to azure
with a key?

On Wed, Sep 9, 2020 at 11:05 AM Pramod Valavala <notifications@github.com>
wrote:

[2020-09-09 16:43] Karishma-Tiwari-MSFT commented on #61439
@erikadoyle Would you be able to help with this customer's question on the instructions in the doc? Thanks :)

[2020-09-09 16:47] jcbrooks92 commented on #62321
@stevevi that's a great idea. Feel free to close it out!

[2020-09-09 16:53] RyanHill-MSFT commented on #52178
@jkovacev Standard Streaming Endpoint is still considered preview. Even though it's in preview, availability is still guaranteed at 99.9% since it's a purchased streaming unit. At moment, there isn't any tentative timeline for GA to share.

[2020-09-09 16:53] #52178 closed

[2020-09-09 17:04] avenda commented on #45796
same issue here using rke and i cant change to aks cluster

[2020-09-09 17:11] #42370 closed

[2020-09-09 17:21] SwathiDhanwada-MSFT commented on #62240
@pradtheep Seems you are using Azure DevOps services to deploy the template to Azure. I will repro the issue and revert to you soon.

Also please note that this is public forum and kindly avoid sharing PII data like SubscriptionId etc.

[2020-09-09 17:21] #62238 closed

[2020-09-09 17:22] JamesTran-MSFT commented on #62254
@jskop
Thanks for your feedback! The documentation seems to be correct specifically for the 'OutputClaim' being "0:n".

![outputClaim](https://user-images.githubusercontent.com/36619112/92631302-044e4800-f286-11ea-9e70-ac09ab2e7b51.JPG)

However, I have created a PR to update the [TrustFrameworkPolicy](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/pull/74) and wil

[2020-09-09 17:22] #62254 closed

[2020-09-09 17:23] Karishma-Tiwari-MSFT commented on #62300
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-09 17:41] cynthn commented on #62284
@psmanhas can you please redirect this to the engineering team? This is great feedback, but not for the docs.

@DavidBerg-MSFT and @ChengWei-MSFT

[2020-09-09 17:44] Joakim-Blach-Andersen commented on #62311
Hi Vikancha

I figured it out. Turns out it was in the Azure ML, you could spin up the GPUs. Wasn’t really clear from the documentation.

I have another question: It is possible to integrate Azure ML files with a github repo? I can’t seem to find documentation about that either.

Best
Joakim

From: vikancha-MSFT <notifications@github.com>
Reply to: MicrosoftDocs/azure-docs <reply@reply.github.com>

[2020-09-09 17:54] djpmsft commented on #59137
@gbrueckl,

The '|' character lets the ARM template know that the field can be an Azure Key Vault secret. This is a best practice for connection strings. I understand that the docs may not be clear here. I will look into ways to improve it.

Going to go ahead and close the issue, but feel free to keep commenting

#please-close

[2020-09-09 17:54] #59137 closed

[2020-09-09 18:10] MartinJaffer-MSFT commented on #13838
@suchintakp5 I tested an IfCondition using expression `@greaterOrEquals('2020-09-01','2020-06-01')` .  In this case it returned true.
 By any chance, were you using secureString?

[2020-09-09 18:12] Grace-MacJones-MSFT commented on #62324
Thanks for bringing this to our attention @jkovacev . We are investigating and will get back to you.

[2020-09-09 18:15] ggailey777 commented on #62087
If you can provide some more detail about specifically what documentation is missing, please reopen this issue. #please-close

[2020-09-09 18:15] #62087 closed

[2020-09-09 18:15] chrispauly commented on #62117
Thanks for the update and pointing out that the official/current list is different than what was there.

[2020-09-09 18:21] aldelar commented on #62264
Ok, well, it seems like the problem is worst than I thought. Now I see multiple dimensions of confusion.

1) When you run the following command, you create a Service Plan, NOT a Function + Service Plan.

az functionapp plan create --resource-group AzureFunctionsContainers-rg --name myPremiumPlan --location westeurope --number-of-workers 1 --sku EP1 --is-linux

So the equivalent in the Azure Portal

[2020-09-09 18:24] JamesTran-MSFT commented on #62285
@bubbletroubles
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-09 18:24] #62285 closed

[2020-09-09 18:25] JamesTran-MSFT commented on #62329
@jsgoupil
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-09 18:25] #62329 closed

[2020-09-09 18:32] #61788 closed

[2020-09-09 18:36] RealNoArms opened #62338 "error: overloaded method value foreachBatch"
Azure Databricks; Databricks Runtime Version 7.1 (Spark 3.0.0, Scala 2.12)

I used this doc as a guide, but get the error below.  What did I do wrong? If I writeStream to console or memory instead of forEachBatch, everything works.

My code:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b08c6a8-c107-ad14-27f7-

[2020-09-09 18:36] ryanb31 opened #62339 "Correlation Failed - Unknown location"
I have followed all of the steps as best I can tell but still get the following error:

Exception: Correlation failed.
Unknown location

Does /signin-oidc get created automatically or do I need to do something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID:

[2020-09-09 18:41] HughDevlin opened #62340 "examples require az login"
[Enter feedback here]

az storage account show

requires az login as prerequisite, not stated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Content: [Use Azure Files with Linux](https://docs.microsoft.com/en-us/azure/

[2020-09-09 18:56] brandonh-msft commented on #62277
@tamram I had 2.11.1:
[code]

[2020-09-09 19:01] WinstonHoward-MSFT commented on #62311
Hi @Joakim-Blach-Andersen ,

As to your follow up question regarding integrating Azure ML with a Git Repo please check out this article on [Git Integration for Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/concept-train-model-git-integration). I hope this helps, if you have more questions about Machine Learning I'd ask you open them against the corresponding Azure

[2020-09-09 19:01] #62311 closed

[2020-09-09 19:09] IgnacioAlvarezArenas commented on #61788
Let me check it again Ryan, did not have a minute today to test

[2020-09-09 19:15] sindhuragade opened #62343 "Why are /id and /label not supported as Partition Key in Cosmos DB Graph?"
I see that /id and /label are not supported as Partition Key in Cosmos DB Graph. What is the reason for this?

Let's say we have an Entity called User in our application where each user has a unique `userId` generated in the application as a UUID. We are considering using `userId` as the partition key.

When we save User data in the graph, we would be storing userId value as the Id of our Vertices

[2020-09-09 19:21] ROSMITHJ-MSFT opened #62344 "Sign-ins Activity Report No Longer Requires Premium License"
On this section below, please change it to reflect that all editions of Azure Active Directory allow access of the sign-ins activity report.

"What Azure AD license do you need to access the sign-ins activity report?
To access the sign-ins activity report, your tenant must have an Azure AD Premium license associated with it."

Reference:
https://docs.microsoft.com/en-us/azure/active-directory/repo

[2020-09-09 19:21] brandonh-msft commented on #62280
@DerekHerman-MSFT I checked and have Az Powershell 4.6.1 and Az.Storage 2.5.0. When I try to update PowerShellGet I see this:

[code]

If I try your command to update PowerShellGet (even in Admin window) I'm met with

[code]

Any idea how to check and see if I am on the right version here?

[2020-09-09 19:23] shashishailaj commented on #62344
@ROSMITHJ-MSFT Thank you for pointing this out . We will have this reviewed with the content authors and update the article as needed.

[2020-09-09 19:24] ROSMITHJ-MSFT commented on #62344
Many thanks!

[Microsoft]
Robert Smith Jr
Customer Engineer
Remote Delivery Center
CDD RDC Pgm PFE ATZ US 1010
469-775-3146

      robert.d.smith@microsoft.com<mailto:robert.d.smith@microsoft.com>
      8am - 5pm CST (Mon  - Fri)
[cid:image002.png@01D686B4.F142F220][cid:image003.png@01D686B4.F142F220][cid:image004.png@01D686B4.F142F220][cid:image005.png@01D686B4.F142F220]
One Microsoft Way, Redmon

[2020-09-09 19:26] WinstonHoward-MSFT commented on #62265
Hi @parklinkivic, I've assigned this issue to the doc author @ayshakeen for the Expected Network Bandwith column to be added to this doc in accordance with the information offered on the A and D series docs.

[2020-09-09 19:43] #56441 closed

[2020-09-09 19:44] zr-msft commented on #56441
Thank you @gsxmax for the feedback.

The article has been updated to address your feedback and the changes should be available soon.

[2020-09-09 19:53] AnuragSharma-MSFT commented on #62160
@ymasaoka We will now proceed to close this thread. Once the PR is approved and merged you will get the notification on the same. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-09 19:53] #62160 closed

[2020-09-09 19:59] arduppal commented on #57689
@ms32035 :- Please try using [v1.14.2](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.14.2) or older, till we investigate it. Thanks for reporting it.

[2020-09-09 20:03] RaisinBread42 opened #62345 "MessageText Returns Encrypted Text"
Currently saving a JSON as string, within the code the MessageText prop returns encrypted text instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2aca97e-9eef-14a2-4991-e52fa84f080b
* Version Independent ID: 717bca9c-6b25-3a3a-00a3-d0653dc0145a
* Content: [Tutorial - Work with Azure Storage queues in .NET](https:

[2020-09-09 20:11] DerekHerman-MSFT commented on #62340
This was on one example but not the other two. I have added it and submitted a PR request.

[2020-09-09 20:11] #62340 closed

[2020-09-09 20:11] jordan-bean opened #62346 "Able to request Key Vault to manage storage account with service principal"
I don't believe the following line is correct anymore "You can request Key Vault to manage your storage account with a user principal, but not with a service principal."

I was able to set this up with a service principal doing the work (my Azure DevOps pipeline service principal).

Here is a snippet of a Bash script my AzureCLI@2 ADO deploy task is running.

[code]

---
#### Document Details

⚠ *

[2020-09-09 20:11] abatishchev opened #62347 "CosmosDB is deprecated in Azure Storage Explorer since 1.15.0"
But the documentation page says nothing about it. The screenshot says "preview" while actual application now says "deprecated":

![image](https://user-images.githubusercontent.com/351644/92648222-f73d5300-f29d-11ea-8efa-e9f5c5e94f73.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4314a5a5-2599-b5fd-063f-a2670e4d18c

[2020-09-09 20:13] HughDevlin commented on #62340
thank you!

[2020-09-09 20:21] #62290 closed

[2020-09-09 20:21] ROSMITHJ-MSFT opened #62348 "Self-Service Password Reset In New Section"
SSPR is now located in the Password Reset section of Azure Active Directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cacc043b-aeec-5deb-e60f-b11e6381b0ba
* Version Independent ID: aa2be87c-296f-b3ff-9549-4407c46746d4
* Content: [Enable Azure Active Directory self-service password reset](https://docs.microsoft.co

[2020-09-09 20:21] ROSMITHJ-MSFT commented on #62348
![image](https://user-images.githubusercontent.com/50250670/92649079-1c3ac180-f2b0-11ea-993a-f9c1639e7a93.png)

[2020-09-09 20:26] RaisinBread42 commented on #62345
Mistake in assumption. The text is actually just encoded in base64.  So I had to decode then get string in UTF8.
[code]

Nonetheless, this should be mentioned within the documentation so others can avoid the silly mistake like me.

[2020-09-09 20:30] MarileeTurscak-MSFT commented on #62028
The step to add "Microsoft Azure Management" as an app means that you'll be required to perform MFA every time you log into the portal, Azure, etc. But if you select none, you also need to select "user actions" so the CA can apply to that rather than to nothing. That's why it didn't work with "Any Location."

There still needs to be the option to add none because people can create conditional acce

[2020-09-09 20:30] #62028 closed

[2020-09-09 20:37] IngridAtMicrosoft commented on #62324
This has been forwarded to Support.

[2020-09-09 20:46] rwike77 commented on #42835
Thanks for pointing this out @KSchlobohm . Added some info on the hasgroups claim and the Groups overage claim.  Hope that helps.  Updates should publish live this afternoon.  #please-close

[2020-09-09 20:46] #42835 closed

[2020-09-09 20:50] shashishailaj commented on #61977
@woodrum I tested this in my lab and this behavour is by design. Currently we do not have an alert/notification for adding a user to the groups. The current capability also is in preview as mentioed in the document , I would suggest to provide a feedback request on the [Azure Feedback site](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40408921-allow-customization-of-

[2020-09-09 20:50] #61977 closed

[2020-09-09 20:51] JamesTran-MSFT commented on #62262
@eosho
The "[New-AzureADMSRoleAssignment](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsroleassignment?view=azureadps-2.0-preview)" command, is used to create an Azure Active Directory (Azure AD) role assignment. Therefore, if you're [assigning the role](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-manage-roles-portal#assign-a-role)

[2020-09-09 20:52] JamesTran-MSFT commented on #62293
@davidwhitenz
Thanks for your feedback and detailed explanation! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-09 20:54] JamesTran-MSFT commented on #62339
@ryanb31
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-09 20:58] JamesTran-MSFT commented on #62348
@ROSMITHJ-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-09 21:00] JamesTran-MSFT commented on #62346
@jordan-bean
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-09 21:05] ChaitanyaNaykodi-MSFT commented on #62103
Hello @Tusharsp, just commenting here to see if the above responses were helpful in resolving the issue faced?

[2020-09-09 21:32] davemulford opened #62351 "Creating A Resource Group section has markdown issue"
The section about creating a resource group appears to have a markdown issue.  I see...

[code]

    The following example output shows the resource group created successfully:

[code]
This causes the Copy button to not work as expected (i.e. it doesn't copy the `az group create` command).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-09 21:36] KranthiPakala-MSFT commented on #62331
Hi @tomatoTomahto
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-09-09 21:41] awaldow opened #62352 "Missing statements about TrustFrameworkBase.xml changes"
The article states to update the orchestration steps to include some steps for firing off events to Application Insights, but no reference to TrustFrameworkBase.xml (where the UserJourneys reside) exists, nor its order of upload relative to TrustFrameworkExtensions.xml which contains the other half of the customization to make this work.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-09-09 22:01] eosho commented on #62262
@JamesTran-MSFT unless I am missing something, why assign it to the management group or subscription if you are only managing app registrations in the tenant (this is a tenant level resource)? In the examples provided in the doc, the resource scoped used are both "/" and scoped to a different SPN.

Can you clarify on this bit?

[2020-09-09 22:07] vikancha-MSFT commented on #62256
@juhlee-microsoft NVv4 currently only supports Windows. Linux support will be available by end of 2020 or early 2021. The 'Expected Network bandwidth' section is common across all pages and hence it covers both Windows and Linux in the description

[2020-09-09 22:12] mganeshphani opened #62355 "With the advancements made in VNet integration and private endpoints, why is the hybrid connection required"
Why does a webapp require hybrid connection to SCSM if the webapp is able to reach SCSM via Vnet Integration?
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/itsmc-connections#configure-the-hybrid-connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e5fdf6-4687-0a17-9a80-07703684b78f
* Version Inde

[2020-09-09 22:21] ChaitanyaNaykodi-MSFT commented on #62278
Hello @jesseorosz, function.json file will not generate when you run the command `func init MyFunctionProj` because when developing locally `local.settings.json` file is generated which can be used to store app settings, connection strings, and settings used by local development tools, "function.json" file is generated when you deploy the function app to Azure portal.

[2020-09-09 22:25] JamesTran-MSFT commented on #62262
@eosho
If you're planning to have your group only manage their own service principals, then you'd only set the resource scope to that specific service principle which is at the resource level.

For the documentation I provided, those only show examples of how to use the "New-AzureADMSRoleAssignment" command. However, if you'd like to specify a certain spoke, i.e. resource, resource group, etc., yo

[2020-09-09 22:31] Karishma-Tiwari-MSFT commented on #62320
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@TomGeske I have assigned to you as you were engaged on https://github.com/Azure/AKS/issues/1044. Let me know if assignee needs to be updated. Thanks. :)

[2020-09-09 22:32] Karishma-Tiwari-MSFT commented on #62351
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-09-09 22:37] BertAnthonyRochester opened #62356 "enable hyperscale"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-09 22:38] BertAnthonyRochester commented on #62356
can i enable hyperscale

[2020-09-09 22:59] mj1856 commented on #34826
Well, unfortunately I can confirm that the scaling fails as you had anticipated.  My app works fine with one instance, but the container start times-out when a second instance tries to start (using the premium plan).

[2020-09-09 23:04] #62351 closed

[2020-09-09 23:09] Karishma-Tiwari-MSFT commented on #62120
Let me know if that helped.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-09 23:09] #62120 closed

[2020-09-09 23:20] JamesTran-MSFT commented on #62348
@ROSMITHJ-MSFT
It looks like the documentation is correct when it comes to [enabling SSPR](https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr#enable-self-service-password-reset). Therefore, I will now close out this issue.

![image](https://user-images.githubusercontent.com/36619112/92664075-e1d52280-f2b7-11ea-9def-740ba6323a41.png)

Thank you for your time

[2020-09-09 23:20] #62348 closed

[2020-09-09 23:27] JamesTran-MSFT commented on #62262
@eosho
Thanks for speaking with me offline about this issue, I'll go ahead and close this thread out.

If you run into any issues or require additional assistance, feel free to reach out to me.
Thank you!

[2020-09-09 23:27] #62262 closed

[2020-09-09 23:59] drdamour commented on #61987
Heres the relevant provider for the outbound showing theres only 1 attribute not two as the docs show https://github.com/Azure/azure-functions-servicebus-extension/blob/6c63de3c02168e53f5e9b62ece5fdae4bd55ed7d/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Bindings/ServiceBusAttributeBindingProvider.cs#L72

[2020-09-10 00:16] mike-urnun-msft commented on #62017
@vaughanh1 Thanks again for your valuable feedback! Upon reviewing your feedback, we are now proceeding to assign this issue to the content author to take the next course of action.

[2020-09-10 00:21] MNF opened #62359 "verbose switch doesn’t show the full debug logs."
The statement “ You can also use the **verbose** switch to show the **full debug** logs.” seems not precisely correct.

According to https://docs.microsoft.com/en-us/cli/azure/get-started-with-azure-cli?view=azure-cli-latest#common-commands

• --verbose prints information about resources created in Azure during an operation, and other useful information.
• --debug prints even more information abou

[2020-09-10 00:25] eohtake commented on #61851
Thank you for the info and for leveling expectations, I will for sure follow that page. As you mentioned only MFA/Auth solutions, I'd just like to make sure that the new developments will cover the use of our own custom "proxies" to evaluate a user/device and communicate the result back to AAD. Not only MFA solutions, but anything we decide to verify using our customized applications prior authent

[2020-09-10 00:27] stevevi commented on #61774
Hi @avbhaskar

The article you are asking for is already available at

https://docs.microsoft.com/en-us/sql/azure-data-studio/quickstart-sql-database

Instructions are equally applicable to both Azure and Azure Government.  The only difference is the server name (endpoint), which is *.database.usgovcloudapi.net in Azure Government as opposed to *.database.windows.net in Azure.

For a list of endpo

[2020-09-10 00:29] ChaitanyaNaykodi-MSFT commented on #62060
Hello @sandervandevelde, Thank you for the clarification. After discussing with the team internally, I have updated my response above. Please have a look.  I am assigning this issue to the doc author for further updating the document as required.
@craigshoemaker, if possible it will be very helpful if you could include the information mentioned above in the document. Thank you!

[2020-09-10 00:31] RedTail72 opened #62360 "Step 8 Needs Additional Files Listed for Deletion"
Step #8 currently lists the below commands need to prep an Ubuntu machine for Azure.
[code]

In addition to these steps, there are some additional files that need to be removed from /etc/cloud/cloud.cfg.d/ on a default Ubuntu 18.04.5 LTS basic ISO install.  If you spin up a new VM from the ISO (can be downloaded from [here](https://releases.ubuntu.com/18.04.5/ubuntu-18.04.5-live-server-amd64.iso))

[2020-09-10 00:38] MSEvanhi commented on #55026
Hey folks, there are a couple of ways to do this today. You can have a customer pass a user assigned identity that has rights to the keyvault for getting the key and using with AMA. You can utilize the [identity selector](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/microsoft-managedidentity-identityselector) element to allow them to select this identity at cr

[2020-09-10 00:39] TravisCragg-MSFT commented on #62322
@kasimrehman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-10 00:41] MSEvanhi commented on #52444
Hey JJDE,

I will pass along the feedback on #1. Please do let us know if #2 still occurs with a preview version. Remember that you can test Managed Applications locally via [Service Catalog deployments](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-service-catalog-app?tabs=azure-powershell).

[2020-09-10 00:45] SatishBoddu-MSFT commented on #61093
Hello @axorth Thanks for waiting so-long on this issue. We have a confirmation to fix this tutorial in a future release in a better way. Unfortunately, I am unable to get the exact date of release. So we will be closing this issue as of now and will update this thread once we have an update from my team.

If there are further questions regarding this matter, please tag me in your reply. We will gl

[2020-09-10 00:46] tomas-gottwald opened #62361 "Read as well as Execute needed in order to reach file from Azure Storage Explorer"
The doc says that "if you are granting permissions by using only ACLs (no RBAC), then you need to grant a security principal read or write access to a file, you'll need to give the security principal only 'Execute' permissions to the container, and to each folder in the hierarchy of folders that lead to the file".

But when I tested this using Azure Storage Explorer the principal required also 'Re

[2020-09-10 00:54] MSEvanhi commented on #52444
@BharathNimmala-MSFT can you please unassign?

[2020-09-10 01:01] MNF opened #62362 "Clarify that names in parameters file should match parameters in template"
It will be good to note, what would happen if parameter name in parameters file will not match the parameter name in template.
Will it show an error? Or just ignored? Is names comparison Case sensitive?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a89fe55-d663-6788-a341-000c3ac9bb61
* Version I

[2020-09-10 01:08] mike-urnun-msft commented on #62098
related to #62021

@hansmbakker Upon reviewing your feedback, we are proceeding to assign this issue to the content author for the next course of action.

[2020-09-10 01:14] RyanHill-MSFT commented on #62330
Thanks for the feedback @joebiker! We are currently investigating and will update you shortly.

[2020-09-10 01:14] sicklittlemonkey commented on #61916
Sorry, the original issue isn't valid - it's my mistake. I didn't know about ARM templates and didn't notice the URL was resources (not portal) dot azure dot com - this is all new to me.

So the documentation is correct, sorry for the confusion.

I still wish that the "Custom fabric settings" had the option I want to change, but I will try to use the resource manager.

[2020-09-10 01:16] RyanHill-MSFT commented on #62333
Thanks for the feedback @arunprasathv! We are currently investigating and will update you shortly.

[2020-09-10 01:17] RyanHill-MSFT commented on #62338
Thanks for the feedback @RealNoArms! We are currently investigating and will update you shortly.

[2020-09-10 01:19] RyanHill-MSFT commented on #62343
Thanks for the feedback @sindhuragade! We are currently investigating and will update you shortly.

[2020-09-10 01:21] RyanHill-MSFT commented on #62345
Thanks for the feedback @RaisinBread42! We are currently investigating and will update you shortly.

[2020-09-10 01:26] koichino opened #62363 "Explicitly mention Mongo API/Cassandra doesn't show Index Policy on Portal"
Explicitly mention Mongo API/Cassandra doesn't show Index Policy on Portal.
I got questions from my customer why Mongo API/Cassandra doesn't show Index Policy on Portal.
It has been explained internal doc but it should be described on public doc as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d0e0-b932-085e

[2020-09-10 01:41] TravisCragg-MSFT commented on #60138
@atamu This only qualifies when moving to a different Subscription & resource group, not just a resource group. I have updated the docs to state that, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-09-10 01:41] #60138 closed

[2020-09-10 01:44] BharathNimmala-MSFT commented on #62359
@MNF Thank you for your query, we will look into it and get back to you at the earliest.

[2020-09-10 01:47] BharathNimmala-MSFT commented on #62362
@MNF Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-09-10 01:53] BharathNimmala-MSFT commented on #62355
@mganeshphani Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-09-10 01:56] MonikaReddy-MSFT commented on #62263
@tamatsuxyz -  Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-10 01:59] MonikaReddy-MSFT commented on #62321
@
@stevevi - Thank you for providing your insights.
@jcbrooks92 - I hope @stevevi  has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-10 01:59] #62321 closed

[2020-09-10 02:02] MonikaReddy-MSFT commented on #62325
This doc is updated - https://github.com/MicrosoftDocs/azure-docs-pr/pull/129141,

But the error might not be fixed, As you have to create the webapp, virtual network, and subnet prior to running that script. Based on the error, it does not appear that the webapp exists.

I hope this information helps.
Thanks again for bringing this to our attention.  We will now proceed to close this thread. If t

[2020-09-10 02:02] #62325 closed

[2020-09-10 02:15] MNF opened #62364 "Is tag with login server of the container registry just naming convention?"
It is not clear in the instructions

Is the format of the tag just naming convention or validatable rule.
Will I have error return during publishing (or later) if I would misspell the login server of the container registry?
Please clarify in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dbcf10f-f74c-5550

[2020-09-10 02:23] NoahStahl opened #62365 "Cosmos Emulator release notes out of date"
The release notes show up to version 2.11.2 but the download provides 2.11.5. It would be nice to see current changes to understand whether to upgrade. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf428d2
* Version Independent ID: 07fd7c5a-0ad5-a7b4-21ef-768f183076aa
* Content: [A

[2020-09-10 02:24] RyanHill-MSFT commented on #62347
Thanks for the feedback @abatishchev! We are currently investigating and will update you shortly.

[2020-09-10 02:24] MNF opened #62366 "Can long cli commands be shown as multiple lines?"
Can long cli commands be shown as multlines.
It is not convenient to scroll to the right to see command like the following

az container create --resource-group myResourceGroup --name aci-tutorial-app --image <acrLoginServer>/aci-tutorial-app:v1 --cpu 1 --memory 1 --registry-login-server <acrLoginServer> --registry-username <service-principal-ID> --registry-password <service-principal-password> --

[2020-09-10 02:25] elvirk commented on #61991
Here it is - (just a test for right now)
Ignore my action and not action - I will update that later when I get arm template working.

{ "$schema": "https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
"parameters": {
    "actions": {
        "type": "array",
        "defaultValue": [
      "*/read",
      "Microsoft.Operati

[2020-09-10 02:28] RyanHill-MSFT commented on #62352
Thanks for the feedback @awaldow! We are currently investigating and will update you shortly.

[2020-09-10 02:31] canberra2002 opened #62367 "About Data Sync to sync between databases in SQL Database that belong to different clouds"
According to document:
https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database#can-i-use-data-sync-to-sync-between-databases-in-sql-database-that-belong-to-different-clouds-like-azure-public-cloud-and-azure-china-21vianet

It mentioned:
Yes. You can sync between databases that belong to different clouds. You have to use PowerShell to add the sync member

[2020-09-10 02:32] RyanHill-MSFT commented on #62356
@BertAnthonyRochester are you referring to [Azure SQL Hyperscale](https://docs.microsoft.com/en-us/azure/azure-sql/database/service-tier-hyperscale)? Are you attempting to apply hyperscale to an existing instance?

[2020-09-10 02:36] RyanHill-MSFT commented on #62360
Thanks for the feedback @RedTail72! We are currently investigating and will update you shortly.

[2020-09-10 02:37] RyanHill-MSFT commented on #62361
Thanks for the feedback @tomas-gottwald! We are currently investigating and will update you shortly.

[2020-09-10 02:38] MayankBargali-MSFT commented on #61987
@drdamour Apology for pointing out to the wrong code. I have reached out to the team again to get the confirmation which source code helps in mapping queueName/topiceName in function.json to queueOrTopicName [attribute](https://github.com/Azure/azure-functions-servicebus-extension/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/ServiceBusAttribute.cs#L49)

But if you create a function t

[2020-09-10 02:40] RyanHill-MSFT commented on #62363
Thanks for the feedback @koichino! We are currently investigating and will update you shortly.

[2020-09-10 03:01] jmostella opened #62369 "Page says ".NET Framework 4 or higher, which is required by the StackEdchange.Redis client." in requirements"
But the title is "Quickstart: Use Azure Cache for Redis with a .NET Core app"

So is this really .NET Core on .NET Framework?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure Cache for Red

[2020-09-10 03:17] RyanHill-MSFT commented on #62364
It is validated naming convention 😊. The `docker tag` [command](https://docs.docker.com/engine/reference/commandline/tag/) sets the target image name. The first part of target name is associated with the image's repository, e.g. `<container-repository>/<image-name>:<label or some sort of id>`. `docker push` [command](https://docs.docker.com/engine/reference/commandline/push/) will push the image t

[2020-09-10 03:20] RyanHill-MSFT commented on #62365
Thanks for the feedback @NoahStahl! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-10 03:22] RyanHill-MSFT commented on #62366
Thanks for the feedback @MNF! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-10 03:32] KrishnaG-MSFT commented on #53018
@mikemowgli Are we good to close this product feedback (or uservoice) related issue ?

[2020-09-10 03:38] milismsft commented on #62365
@RyanHill-MSFT the PR for the change log/release notes was submitted a while back. It seems that it got hung on some unrelated issue: https://github.com/MicrosoftDocs/azure-docs-pr/pull/126966

[2020-09-10 04:11] RyanHill-MSFT commented on #62369
Thanks for the feedback @jmostella. We have a pending update to address this. [StackExchange.Redis](https://github.com/StackExchange/StackExchange.Redis/blob/main/src/StackExchange.Redis/StackExchange.Redis.csproj) does target net461, net472 but they are conditional. I did confirm by building the project in WSL.

[2020-09-10 04:13] #62369 closed

[2020-09-10 04:29] krisbock opened #62370 "The table doesn't display properly"
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-mlflow#compare-mlflow-and-azure-machine-learning-clients

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6910eb2-9a76-916c-133c-6d1b37cd077d
* Version Independent ID: adb35769-d52c-1294-872a-78cf9ef538ec
* Content: [MLflow Tracking for ML experiments -

[2020-09-10 04:30] erikerikson opened #62371 "Expand or link "When enabled, micro-batches on the same stream""
Please expand the notes or provide links to deeper reading material under [Event Hubs Basic and Standard - quotas and limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#event-hubs-basic-and-standard---quotas-and-limits).  I struggled to understand how to make a decision or take action regarding:

Capture | Entity | When enabled, micro

[2020-09-10 04:34] KalyanChanumolu-MSFT commented on #62363
@koichino Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-09-10 04:37] VikasPullagura-MSFT commented on #61949
@spacecat Apologies in delayed response.
I checked with the internal team on this, please see below details for your queries:

1. What is the intention of deprecating the open source dashboard?
    This is deprecated because, now we have built-in azure portal experience as mentioned in the document.
2. Will I be able to run both Azure Monitor and Kubernetes open source dashboard concurrently?

[2020-09-10 04:37] VikasPullagura-MSFT commented on #61949
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-10 04:37] #61949 closed

[2020-09-10 04:53] VikasPullagura-MSFT commented on #62284
@asubmani Thank you for your question! Since this channel is for driving improvements towards MS Docs, and this issue is not related directly to the document. We would request you to provide this product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).

As you can see from the previous comment, this feedback has reached the concerned engineering team.

However, once this

[2020-09-10 04:53] #62284 closed

[2020-09-10 04:56] KalyanChanumolu-MSFT commented on #62347
@abatishchev Thank you for the feedback.
Cosmos DB will be supported in Azure Storage Explorer until August 2021.

Alternatively, you can switch to https://cosmos.azure.com/ on the web or [Azure Databases](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-cosmosdb)  plugin for VS Code

However, the documentation needs to be updated.
We will do the needful.

@SnehaGunda FYI

[2020-09-10 05:00] SwathiDhanwada-MSFT commented on #62371
@erikerikson Thanks for your feedback. We will review the issue and get back to you shortly.

[2020-09-10 05:07] SwathiDhanwada-MSFT commented on #62204
@jikuja As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-10 05:07] #62204 closed

[2020-09-10 05:14] PramodValavala-MSFT commented on #62298
The URL has the key as a query parameter. You should be able to use the URL as-is to trigger the function.

[2020-09-10 05:28] niranjanlogin opened #62372 "Security & Privacy Score, Recommendation & Policies"
[Score, Recommendation & policies is the key differentiation and a unique feature from Azure. Personally, I am big fan of it as it not only gives the score against the security controls configurations but also gives the recommendations that how same can be mitigated to get aligned with the security Standards, Practices and Frameworks.

I have an opinion; that weak security or Security by obscurity

[2020-09-10 05:42] fgheysels commented on #56351
Great, that's working.

It turns out that I had already something similar.  This is the code that I had:

[code]

The code above gave me a token, however when I use that token to query my TSI environment, I get a 'NotFoundException':

[code]

As it turns out, when I execute the code above, and compare it with the code that you're referring to, I notice a difference:
The TSI environment that I want

[2020-09-10 06:12] asagao-web opened #62373 "Unexpected error Operation returned an invalid status code 'Bad Request' when running BackEndApplication.py"
[Enter feedback here]

i have problem troubleshooting getting an error after following BanckEndApplication.py tutorial.
https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-python

SimulatedDevice2.py is working right.
and i run BackEndApplication.py then keep getting

Unexpected error Operation returned an invalid status code 'Bad Request'

and Error details are ;

-----------

[2020-09-10 06:35] GugulethuKunene commented on #30655
Create a Custom RBAC role

Name             : Network  Operator
Id               :
IsCustom         : True
Description      : Can read networking information; select subnet; select NSG;  limited Network Watcher capabilities.
Actions          : {Microsoft.Network/*/read, Microsoft.Network/virtualNetworks/subnets/join/action, Microsoft.Network/networkSecurityGroups/join/action,
                   Mi

[2020-09-10 06:46] AnuragSharma-MSFT commented on #62216
@sdg002 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-10 06:46] #62216 closed

[2020-09-10 06:47] AnuragSharma-MSFT commented on #62244
@woeterman94 Please let us know if this answers your query.

[2020-09-10 06:47] ruixinxu commented on #61250
The issue is fixed.

[2020-09-10 06:47] asergaz commented on #62373
Thanks for your feedback @asagao-web.

I will give this quick-start a try. In the meantime can you double check you are following all pre-requisites? Specifically you are using Python 3.7+ ?

Regards

[2020-09-10 06:52] asagao-web commented on #62373
Thanks for prompt action, yes Python 3.7.4

[2020-09-10 07:01] Mhsoun opened #62375 "Endpoint return bad request!!"
Endpoint return bad request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Tutorial: Detect and display face data in an image using the .NET SDK - Azure Cognitive Services](https://docs.microsoft.com/en-us/a

[2020-09-10 07:08] rich-davies opened #62377 "Are the results of cost management rules only reflected in the Azure Portal?"
We use a 3rd part tool (Cloudability) to manage costs across our multiple public clouds.  This pulls data from Azure using an API key specified in the EA portal.  If I'm using cost management rules in the portal to re-allocate costs, will these new costs also be reflected in the data pulled by the API?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-09-10 07:21] vipulsparsh commented on #62372
@niranjanlogin Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-09-10 07:24] AnuragSharma-MSFT commented on #62211
@andrewCluey You are right in mentioning that normally databases sit behind a physical firewall system, and hence when the article says **_'When using a firewall appliance in front of your source database(s)'_** it means that we need to add this firewall rule too on the Azure Data Migration Service for the on-premise source postgresql database and not Azure hosted service. There could be many ways

[2020-09-10 07:27] kzaidi opened #62378 "Error when creating windows node pool"
Hi, I was following your sets as outlined in this document.   When I tried to create the windows node pool I get the following error.

[code]

I created a new trial account, and just copied pasted the code as you described.  Is there something else that needs to be done h ere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-09-10 07:35] TomGeske commented on #62320
We migrated everything to mcr.microsoft.com. You may notice such issues if you have clusters running before we moved to mcr.microsoft.com. This should automatically mitigate during cluster upgrade operations. @kennethgp: Can you double check and confirm?

@palma21: are you aware of any other requirement for **aksrepos.azurecr.io**

Docs:
* https://docs.microsoft.com/en-us/azure/aks/use-network-pol

[2020-09-10 07:44] RohitMungi-MSFT commented on #62370
@krisbock Thanks for the feedback. We have created a PR to fix the issue, the document should be updated within 24 hours after the PR is merged.

[2020-09-10 07:45] t-tueda opened #62379 "Replace the attached screenshots with the one of the current version of UI."
[Enter feedback here]

I got a question from my customer where is the "Actions" column.
The attached screenshots on this page should be the one of older version and there is the "Actions" column.
But currently "Actions" column has been already integrated into "Pipeline name" column.
It could be confusing. Please consider replacing the attached screenshots with the one of the current version of UI.

[2020-09-10 07:49] migrenaa commented on #13935
Any response from the support?

[2020-09-10 07:54] talrashha opened #62380 "What's the point really?"
I really can't see the point of making this so complicated. There is technical requirement from Microsoft to be able to resize an MI, why not forcing the user to allocate enough IP to be able to perform this operation when creating the subnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b9fa4c5-9ea3-7494-3b5a-fee6b

[2020-09-10 08:08] HarithaMaddi-MSFT commented on #62379
@t-tueda - Thanks for sharing the feedback.

@djpmsft - Can you please take a look?

[2020-09-10 08:11] chayanbaner opened #62381 "Monitor: Alert location threshold not firing notifications for "Resolved" alerts"
Hi,

I have an availability test on Application Insights with alert configured. Alert is configured whenever the failure is detected from 2 locations.

Alert gets fired when the condition of 2 locations is met, but "Resolved" alert is not sending notification once the cause is resolved.

- Alert fired status, sorted by "Fired Time"
![image](https://user-images.githubusercontent.com/8225013/9269866

[2020-09-10 08:17] SwathiDhanwada-MSFT commented on #62381
@chayanbaner Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-10 08:26] MarcoL-Progel opened #62382 "Do I really need a Global Admin without MFA?"
To setup and matain the Kerberos TGT for Azure AD some powershell commands need to be run.
A s a common requirement, each command requires to authenticate to Azure AD with a Global Administrator.
The article states that is required to: "# Enter an Azure Active Directory global administrator username and password."

This requirement has security concerns that may not be always satisfiyed.
For examp

[2020-09-10 08:34] stuartMoorhouse opened #62383 "Unable to change password to enable password hash synchronization"
I can't see how to change my password here: https://account.activedirectory.windowsazure.com/

I have enabled the free trial versions of Active Directory, which should support password reset.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad393cc1-3395-fb17-b441-3d8998ed515b
* Version Independent ID: d4ebda6b-1528-e553

[2020-09-10 08:40] AnuragSharma-MSFT commented on #62367
@canberra2002 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-10 09:06] davedoesdemos commented on #62305
It might be useful to get feedback from the Azure DevOps team on this one. The issue isn't on the ADF side but rather what constitutes best practice within Azure DevOps, especially when working on a wider project with multiple workstreams. Obviously you're not happy to take this feedback on board so I'll drop the issue here, but we'll continue recommending Azure DevOps best practice over this docu

[2020-09-10 09:16] tliebhart commented on #29970
Andy updates on this issue?

[2020-09-10 09:25] SadiqhAhmed-MSFT commented on #62377
@rich-davies Thanks for your question. We are looking into your request and will get back to you soon.

[2020-09-10 09:44] CHEEKATLAPRADEEP-MSFT commented on #62338
@RealNoArms  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-09-10 09:44] #62338 closed

[2020-09-10 09:45] CHEEKATLAPRADEEP-MSFT commented on #62296
@propellor  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-10 09:45] #62296 closed

[2020-09-10 10:13] amanmcse commented on #62316
@sgdesmet I've assigned this to author to validate and make required changes.

[2020-09-10 10:21] RohitMungi-MSFT commented on #62375
@Mhsoun Could you please provide more details of the setup done for your experiment? I have used the [solution ](https://github.com/Azure-Samples/Cognitive-Face-CSharp-sample)as is and it is able to detect faces after loading an image.

![image](https://user-images.githubusercontent.com/46958063/92716925-17900f00-f37d-11ea-92ff-61a5815a882c.png)

[2020-09-10 10:44] pbertolis opened #62385 "Log analytics workspace location"
Documentation mentions that log analytics workspace data is sent to the US for dependacy visualisation, is this the only region? However according this this article there are other regions that the log analytics workspace can reside in - https://docs.microsoft.com/en-us/azure/migrate/how-to-create-group-machine-dependencies

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-09-10 10:44] psmanhas commented on #62378
@kzaidi Thank you for sharing your query! Can you try to change the VM size to basic one and confirm if you are still getting the same error?The cmdlet mentioned in the documentation will be creating **d-series** VM by default. As mentioned in [this](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create) document you need to add the parameter as below:
![image](https:/

[2020-09-10 10:45] SwathiDhanwada-MSFT commented on #61991
@elvirk I have tested your template and it has successfully worked for me. If you are still facing issue with the template, I recommend engaging our technical support team to investigate further. Please file a support ticket by following [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you do not have a support plan, send mai

[2020-09-10 10:45] #61991 closed

[2020-09-10 10:46] psmanhas commented on #62378
@kzaidi Moreover since this channel is for driving improvements towards MS Docs, and this issue is not related directly to the document you can post your technical queries [here](https://docs.microsoft.com/en-us/answers/topics/azure-kubernetes-service.html).

Hope the provided information is helpful.We will now close this issue. If there are further questions regarding this, please tag me in a com

[2020-09-10 10:46] #62378 closed

[2020-09-10 10:48] SwathiDhanwada-MSFT commented on #62371
Assigning to content author @tfitzmac for review

[2020-09-10 10:54] AnuragSharma-MSFT commented on #62380
@talrashha Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-10 11:01] ram-msft commented on #53162
@viju2008 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-10 11:01] #53162 closed

[2020-09-10 11:17] Arithmomaniac opened #62387 "Update "exists" code for singleton function"
The code sample for C# suggests

https://github.com/MicrosoftDocs/azure-docs/blob/3be3537ead3388a6810410dfbfe19fc210f89fec/articles/azure-functions/durable/durable-functions-singletons.md#L42-L44

But that won't work and is obsolete per https://github.com/Azure/azure-functions-host/issues/5399#issuecomment-682007210.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-09-10 11:27] ramandeep-singh-1983 commented on #42615
Hi, it's been a long time. Any update on this?

[2020-09-10 11:27] prajster opened #62388 "Issue while creating ingress route"
Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post https://ingress-nginx-controller-admission.ingress-nginx.svc:443/extensions/v1beta1/ingresses?timeout=30s: service "ingress-nginx-controller-admission" not found

Cluster has outbound internet access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-09-10 11:34] 9songs commented on #59332
Hey, @JamesTran-MSFT, sorry for the late reply!
I would like to see the how the certificate should look like, which properties are mandatory, which do not work, and if there are there restrictions. Subject and purpose of the certificate to be used should be added.

[2020-09-10 11:36] 9songs commented on #59332
Something like "In terms of recommended options, the certificate needs to be trusted, valid and have a digital signature. From a security perspective it needs to adhere to the newest standards: SHA-256 algorithm. Anything else should follow the SAML RFC (https://tools.ietf.org/html/rfc7522), as that is what Microsoft follows as well. A server authentication certificate could be used for example."

[2020-09-10 11:37] theglossy1 opened #62389 "IPv6 on AKS"
The page states:

Since this is [supported in Kubernetes 1.16](https://kubernetes.io/docs/concepts/services-networking/dual-stack/#supported-features) and Azure supports [1.18 GA](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions), is that statement in the documentation still accurate?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-09-10 11:37] PVandenheede opened #62390 "Please update the link to Azure Storage Explorer"
The link to Azure Storage Explorer still points to the old codeplex URL.
This can confuse visitors as it should point to the latest version on GH: https://github.com/microsoft/AzureStorageExplorer/releases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9

[2020-09-10 11:51] Mhsoun commented on #62375
@RohitMungi-MSFT I have problem with the Endpoint returning bad request source not found.

[2020-09-10 12:13] HarithaMaddi-MSFT commented on #62390
@PVandenheede - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/129264

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-10 12:19] #62203 closed

[2020-09-10 12:19] harryvinod2608 opened #62392 "Supporting floating IP for Secondary CA of the VM Interface in Load Balancer"
There seems to be a limitation that Floating IP only works with the Primary IPconfig of the Network Interface of the VM and not for the secondary ones. The documentation mentions only about the Outbound SNAT flows in the limitation but it doesn't really work with the inbound flows as well. Request you to add this limitation in the documentation for reference.

---
#### Document Details

⚠ *Do not

[2020-09-10 12:26] #62202 closed

[2020-09-10 12:38] MayankBargali-MSFT commented on #62226
@AnjanRB I believe you are talking about the below statement.

The above statement means that when you are calling the HTTP POST URL of logic app from your application or REST client then you need to specify the Content-Type header to application/json.

If you want to validate the schema then you need to enable the Schema Validation as mentioned in the document.

Hope the above clarifies. Please l

[2020-09-10 12:41] macruz opened #62393 "Typo in the supportingscripturi"
Hi,

There is a typo on the "Use supporting scripts" section seen here: (missing an 's')
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#use-supporting-scripts

![image](https://user-images.githubusercontent.com/6482450/92729887-e6a6de80-f36a-11ea-9046-d3b5434428e9.png)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-09-10 12:51] Marco-Santoni opened #62394 "Specify maximum cache-store duration"
Is there a maximum duration allowed in API Management cache? If so, could it be stated here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181c69b0-e136-426b-02f5-4a1a8f0f419d
* Version Independent ID: 2e57c2f1-fc01-17c9-cd94-920b582e6aa2
* Content: [Azure API Management caching policies](https://docs.microsoft.com/en

[2020-09-10 12:53] #62393 closed

[2020-09-10 12:54] SwathiDhanwada-MSFT commented on #62393
@macruz Thank for the feedback. A PR has been raised and the changes will be live soon.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-10 13:00] pavanrudraswamy commented on #53855
Hi
I tried adding as well, but I am getting the same issue. Please let me know if issue is resolved or found a work around

[2020-09-10 13:08] GitaraniSharma-MSFT commented on #62392
@harryvinod2608 , thank you for your feedback. We'll review this and get back to you shortly.

[2020-09-10 13:10] GitaraniSharma-MSFT commented on #62389
@theglossy1 , thank you for your question. We have assigned this to the content owner/author for review.
@KumudD , could you please review this and provide your inputs?

[2020-09-10 13:20] #62390 closed

[2020-09-10 13:21] MrCNeale opened #62396 "Docs conflict with breaking changes warnings"
Docs say that you can get secretvaluetext out
https://docs.microsoft.com/en-us/powershell/module/az.keyvault/get-azkeyvaultsecret?view=azps-4.6.1#example-5--get-the-plain-text-value-of-the-current-version-of-a-specific-secret

However powershell module now warns that is being deprecated?

WARNING: Breaking changes in the cmdlet 'Get-AzKeyVaultSecret' :
WARNING:  - "The output type 'Microsoft.Azure

[2020-09-10 13:22] mikeoleary opened #62397 "Question: would you consider removal of the term "master" ?"
Hi,
I realize this is a big ask, but would you consider gradually changing terminology to discontinue the use of the word "master", in place of a word like "main" or "primary" ?

Currently some in the industry are undergoing this because of the word's connotations with slavery. Personally I've started to remove the term (and others also considered racially charged) from my code. It is difficult be

[2020-09-10 13:24] kulbirjandoria commented on #62166
Thanks for the help, it worksThanksKulbir On Sep. 9, 2020 12:17 a.m., BhargaviAnnadevara-MSFT <notifications@github.com> wrote:

I am providing the resource id for image definition from shared image gallery, but still failing.

@kulbirjandoria I believe the resourceID that you are passing is in this format:
/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/<rg-name>/providers/Micr

[2020-09-10 13:27] HockeyJustin opened #62398 "Metadata URL clarification request"
In the section [Configure Azure AD as an identity provider](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant#configure-azure-ad-as-an-identity-provider), step 5 states:

If you have a domain linked to your tenancy e.g. `contoso.com`, the onmicrosoft address e.g. `contoso.onmicrosoft.com` doesn't seem to work. In my case, I needed to use:

https:/

[2020-09-10 13:36] KevinBurton commented on #62298
When I right click on the solution and select Publish I don't see a URL,

2>AzureFunction ->

On Thu, Sep 10, 2020 at 12:14 AM Pramod Valavala <notifications@github.com>
wrote:

[2020-09-10 13:41] canberra2002 commented on #62367
Hi all, thanks for the help. I have found the solution. This ticket can be closed.

[2020-09-10 13:47] tfitzmac commented on #62362
@MNF - thanks for this suggestion. It's a good addition. I'll work on it today.

[2020-09-10 13:58] tfitzmac commented on #62371
@erikerikson - thanks for this feedback. I am looking into this issue.

[2020-09-10 14:03] JoeSainsburys commented on #27848
@Muhammad-Taimur FYI You have posted your private SSH key online. SSH2 key looks like this
![image](https://user-images.githubusercontent.com/22468576/92741497-9766ab00-f376-11ea-9192-2f38ae2cdefc.png)

[2020-09-10 14:08] Muhammad-Taimur commented on #27848
@JoeSainsburys  thanks for pointing out I have removed that. 😊

Thank you

[2020-09-10 14:09] JoeSainsburys commented on #27848
No problem. Might want to rotate the key because you can view edit history in git
![image](https://user-images.githubusercontent.com/22468576/92742506-98e4a300-f377-11ea-8e77-047f3be58db3.png)

[2020-09-10 14:09] chronofanz opened #62400 "Don't need to do "Your RStudio Connect application expects the SAML assertions in a specific format" anymore?"
Hello there, I am unsure whether the 6th step is needed anymore.  "Your RStudio Connect application expects the SAML assertions in a specific format, which requires you to add custom attribute mappings to your SAML token attributes configuration."

I was able to deploy get the SSO working without doing this step.  Recommend removing this step from the doc?

---
#### Document Details

⚠ *Do not edi

[2020-09-10 14:10] jarasavelli opened #62401 "Sample Code Needs Corrections - Tutorial - CI/CD with Azure Pipeline (YAML)"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-build-deploy-azure-pipelines?tabs=java

1. In the section Define CD steps to deploy to the Linux VM, the suggestion is to add the below code to the previously worked pipeline for CI.  But my experience taught me to add a "dependsOn" clause to this CD job as the build job is taking quite long.

2.

[Enter feedback here]
In the p

[2020-09-10 14:12] AshokPeddakotla-MSFT commented on #62243
@joshibhu Looks like currently this is not possible. Please check the [UserVoice ](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/40626391-support-device-streams-in-iot-edge) created for similar ask.

[2020-09-10 14:13] ilyalehrman opened #62402 "Page should specify conditions under which App Password isn't available as an otpion"
App passwords aren't always available as a drop down option. If this is the case for the user, must explain why, otherwise the page presents a dead-end for further research.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a817299f-2a97-3a59-e575-f5693a34c29a
* Version Independent ID: 69896e9c-fef3-4bc2-de72-d5d99bdbd796

[2020-09-10 14:14] PramodValavala-MSFT commented on #62298
You must fetch the URL (with the key) from the portal as shown in the link I shared earlier. [This doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function#test-the-function) should help.

If you change it to Anonymous, the URL that you tried at first without the key should work as-is.

[2020-09-10 14:15] SebastianClaesson opened #62403 "URL listed for agentsvc.azure-automation.com is wrong?"
Hey,

It seems that the url in the section under Azure services DNS zone configuration for the resource "Azure Monitor (Microsoft.Insights/privateLinkScopes) / azuremonitor" points to a public DNS which is agentsvc.azure-automation.com
However that is not resolvable but agentsvc.azure-automation.net is.

Is the documentation wrong?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-10 14:17] SebastianClaesson opened #62404 "Link to List of shortnames for regions should be attached."
This documentation shows that some resources needs {region}.resourcetype.windows.net
However it's not clear what the shortnames for the regions are.
Could a link/reference in the documentation point to the file:
https://download.microsoft.com/download/1/2/6/126a410b-0e06-45ed-b2df-84f353034fa1/AzureRegionCodesList.docx

Would make it easier for whoever is reading the docs.

---
#### Document Detai

[2020-09-10 14:24] KevinBurton commented on #62298
From the portal I have something like:

https://azurefunction20200908214024.azurewebsites.net/api/HttpExample?code=
<key?>

Is that the URL?

On Thu, Sep 10, 2020 at 9:14 AM Pramod Valavala <notifications@github.com>
wrote:

[2020-09-10 14:28] varunsh-msft commented on #61401
Thanks @garrytrinder ! App auth library needs the private key of the cert to be able to call Azure AD. App auth library reads the cert either from current user or local machine stores. These stores correspond to login keychain and system key chain respectively ([link](https://stackoverflow.com/questions/54634237/are-x509certificates-enums-like-storename-and-storelocation-sufficient-for-both)). Whe

[2020-09-10 14:29] tfitzmac commented on #62362
An update will be published later today.
#please-close

[2020-09-10 14:29] #62362 closed

[2020-09-10 14:32] JoeSainsburys commented on #27848
I had this issue when my

    admin_username        = foo
    admin_ssh_key {
      username   = foo

Usernames were different. Which makes sense because it was trying to place the key in to a non existent user's home directory.

[2020-09-10 14:42] NavtejSaini-MSFT commented on #62365
@SnehaGunda  - Please review the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/126966 and provide guidance on how to move further with this.

[2020-09-10 14:42] #62400 closed

[2020-09-10 14:43] chronofanz commented on #62400
Never mind ... actually maybe we do need to do this step.  Even though the system works ... without doing this step, we might have username collisions?

[2020-09-10 15:03] travisclagrone opened #62405 "DESCRIBE TABLE return value format/schema undocumented"
The schema of the returned dataframe for each of the `DESCRIBE` table variants is undocumented. This makes it difficult to develop against programmatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4fb60-7a4c-bd3b-b268-ceb75e4cc3ac
* Version Independent ID: 550ad912-1cc9-3745-708b-e10c9cd08884
* Content: [Desc

[2020-09-10 15:03] KevinBurton opened #62406 "Out of date?"
This page seems out of date.
1. If I go to the portal  only see setup. If I click on setup I don't see an 'Apply' button.
2. It is not clear how I am to tell if the application has Insights enabled. The instructions in this page indicate that I should look under Configuration. But I don't see that in either the portal or Visual Studio.
3. Because of these discrepancies I have not gone any further

[2020-09-10 15:09] kobulloc-MSFT commented on #62406
@KevinBurton Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-10 15:09] travisclagrone opened #62408 "Spark SQL functions are not organized"
There is no categorization / human-friendly organization of the Spark SQL functions. This documentation already exists on the open-source Spark SQL documentation, and so should be emulated here as well: https://spark.apache.org/docs/latest/sql-ref-functions.html#scalar-functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-10 15:10] NavtejSaini-MSFT commented on #62367
@canberra2002 Thanks for the confirmation. We will be going ahead and closing this thread. Please do share the resolution here if you can so that other can look at this feedback if needed.

[2020-09-10 15:10] #62367 closed

[2020-09-10 15:16] NavtejSaini-MSFT commented on #62199
@rploeg Can you please elaborate your question. Do you get this as an error message "the problem is that sqlcmd is installed in the container"
IF yes, can you please post or share the complete error message and we will look into this further.

[2020-09-10 15:20] tfitzmac commented on #62371
I added a link for more context. It should get published later today.

[2020-09-10 15:20] hoksource opened #62409 "Performance notes for elastic queries azure sql"
Are there notes on performance of the azure sql database elastic queries. Like for different cases?
Example:
- Database with different server in same geolocation.
- Different elastic database pools
- Different tiers

Can this be compared with single server microsoft sql server with different database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-09-10 15:21] donchai opened #62410 "Diagram Typo, ExpressRoute (ExressRoute)."
The diagram has typo for ExpressRoute (ExressRoute).

![image](https://user-images.githubusercontent.com/6828772/92752990-031f3700-f3bc-11ea-9e60-5c697fde4b8f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 251f9147-c9e9-a17a-3316-0f8a3a3d6f3e
* Version Independent ID: e0714fbd-98f1-d125-f565-a68871b186d0
* Content

[2020-09-10 15:23] NavtejSaini-MSFT commented on #62409
@hoksource We are checking regarding this suggestion and will get back to you.

[2020-09-10 15:24] #62371 closed

[2020-09-10 15:30] travisclagrone opened #62411 "UNION/EXCEPT/MINUS are not document"
The Spark SQL set operations `UNION`, `EXCEPT`, and `MINUS` are not documented, but should be documented with the `SELECT` statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4741da43-53b0-b8bf-6271-e08cc1e7e8c5
* Version Independent ID: f0e82a6b-b3d5-d1a7-1ffb-71170688b799
* Content: [Select - Azure Databricks](

[2020-09-10 15:31] jwilkey opened #62412 "Too much IoT in FAQ"
The FAQ for Azure API for FHIR is comprised more than 50% of info regarding IoT, a non-standard feature as it pertains to FHIR capability. This is distracting. Further, there are many other topics I would expect to be present on that page which are not: how do I pass config vars to my FHIR instance, what is the _count limit, how do I set up logs/metrics, etc.

---
#### Document Details

⚠ *Do not

[2020-09-10 15:34] ChaitanyaNaykodi-MSFT commented on #62103
Hello @Tusharsp, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-10 15:49] ChaitanyaNaykodi-MSFT commented on #62387
Hello @Arithmomaniac, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-10 15:53] BharathNimmala-MSFT commented on #62385
@pbertolis Thank you for your query, we will look into it and get back to you at the earliest.

[2020-09-10 15:55] lcpautotester opened #62414 "Page information is old"
[Please update this page its over 2 years old and please provide a cleaner way of running a application is parallel without needing to add more code to an application, but actually using built in azure functions. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independent

[2020-09-10 16:00] KevinBurton commented on #62298
I am assuming the characters following code= are the function key. What are
considered the best practices for securing this key? I could put this key
(or for that matter the whole URL) in Azure Key Vault but then I have to
worry about exposing the Azure Key Vault key for development. What
facilities are there for calling this function without exposing the key?

Thank you.

On Thu, Sep 10, 2020 at

[2020-09-10 16:02] JamesTran-MSFT commented on #62383
@stuartMoorhouse
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 16:08] JamesTran-MSFT commented on #62396
@MrCNeale
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 16:12] brsteel opened #62415 "add small mention about opening firewall ports"
Would be helpful to add steps, or mention that firewall should be open on syslog agent server.
firewall-cmd  --add-port=25226/tcp  --zone=public  --permanent
semanage port -a -t syslogd_port_t -p tcp 25226

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26cf9cd-e6e4-a760-0d1a-bb7a5ff60412
* Version Independent ID: 2785

[2020-09-10 16:16] brsteel opened #62416 "security-config-omsagent.conf contents have changed"
as documented:
:rawmsg, regex, "CEF"|"ASA"
*.* @@127.0.0.1:25226

as newly deployed:
if $rawmsg contains "CEF:" or $rawmsg contains "ASA-" then @@127.0.0.1:25226

On a new deployment, the old contents did not work:
:rawmsg, regex, "CEF"|"ASA"
*.* @@127.0.0.1:25226

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26cf9cd

[2020-09-10 16:31] rakeshrangegowda commented on #59932
The error shown above normally reflects an issue with the admin role. Once the user is authenticated by the IDP, the assertion/response is sent back to the PAN-OS device with the claims. Which needs to include one for admin role. The PAN-OS device performs the authorization of the user based on the admin role. If the assertion does not contain the admin role claim or does not match what's configur

[2020-09-10 16:33] RayGHeld opened #62418 "Example of using the state parameter as suggested"
Can you provide a code sample of using this approach with the state parameter for the redirect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc4c5921-4070-a714-44e6-c4309fe5fd53
* Version Independent ID: c52c5c94-bb2e-10cb-9673-98aae4aa37d4
* Content: [Redirect URI (reply URL) restrictions - Microsoft identity platfo

[2020-09-10 16:33] alexnikolis commented on #51589
Hi @lujiangfeng666 - I was wondering if there was any updates for this issue? In particular, I was wondering if you could point me towards more information regarding a solution for 'scenarios that require MFA for sensitive apps every time'. Thank you!

[2020-09-10 16:38] #61093 closed

[2020-09-10 16:54] JamesTran-MSFT commented on #62398
@HockeyJustin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 16:55] opticyclic opened #62419 "How Do I Create An AD B2C Tenant With CLI/Terraform?"
The page details how to create a tenant via the Azure Portal but how do I do it with Terraform or with the az cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3c16b398a33
* Content: [Tutorial - Create an Azure Active Directory B2

[2020-09-10 16:58] javester opened #62420 "in afsdiag section, article references agent v11, which doesn't exist"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7235bd07-1172-ac6a-3dab-0200fd73bd87
* Version Independent ID: 9620b286-fe9e-0c56-c01f-ddf7c3c36ac0
* Content: [Troubleshoot Azure File Sync](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-troubleshoot?tabs=portal1%2Cazure-por

[2020-09-10 17:10] ggailey777 commented on #62298
Hey @KevinBurton, sorry that you ran into trouble, and  I just wanted to provide some context here...

1. Because we wanted to keep things more simple in the quickstart, we try to have customers create an HTTP-triggered function that uses [anonymous access](https://docs.microsoft.com/azure/azure-functions/security-concepts#function-access-keys). This is because it takes some work to get the functi

[2020-09-10 17:12] SubhashVasarapu-MSFT commented on #62404
@SebastianClaesson, Thanks for reaching out. We will investigate and update this thread.

[2020-09-10 17:15] RichWK commented on #62061
@SumanthMarigowda-MSFT Thanks! Appreciate the update, looking forward to hearing more.

[2020-09-10 17:16] souravmishra-msft commented on #62180
@karataliu, thank you for reaching out. I don't see any issue using Service Principal for Azure Key vault to manage Storage account keys. I would recommend you set this up with Service Principal and see if that works. Ideally, it should work without issue.

[2020-09-10 17:19] SaurabhSharma-MSFT commented on #62419
@opticyclic Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 17:20] #58087 closed

[2020-09-10 17:22] JamesTran-MSFT commented on #62418
@RayGHeld
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-10 17:22] ggailey777 commented on #62406
@KevinBurton yes, I am currently working to update (and frankly refactor) this article. A linked Application Insights instance is almost always created along with you function app. You can verify the link here:
![image](https://user-images.githubusercontent.com/1388263/92771053-6aeb6880-f34f-11ea-916d-5dd9a8d594b8.png)

[2020-09-10 17:26] roygara commented on #62041
@jgwinner Thanks for reaching out. That portal text is inaccurate, and I've already reached out to the relevant teams to have them update it. Managed disks as an Azure resource do not offer the ability to natively upload files into them separate from the VM, but a VM in Azure can be used like a local machine in your on-prem environment when it comes to this kind of file transfer. So anything that

[2020-09-10 17:28] himanshusinha-msft commented on #62405
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-10 17:29] timsander1 commented on #62363
Hello @koichino, this is the core (SQL) API indexing doc. I will add a note that mentions that the content in this doc only applies to the core (SQL) API

[2020-09-10 17:30] himanshusinha-msft commented on #62408
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-09-10 17:32] himanshusinha-msft commented on #62411
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-09-10 17:33] lujiangfeng666 commented on #51589
Have Sign in frequency apply to MFA has been rolled out already - Feel free to check out the details herehttps://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime

To require MFA for sensitive apps every time is something that our MFA team is working and we do not have the detailed timeline yet.

[2020-09-10 17:34] Shipra1Mishra commented on #51636
@AshokPeddakotla-MSFT  This issue has been resolved and we are calling it eventhub namespace in the doc. https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-manage-resources-using-azure-resource-manager-template
Can you please confirm if you are still seeing this anywhere in our documentation and I would update it asap.

[2020-09-10 17:37] SteveMSFT commented on #59299
@PatrickFarley to review and update.

[2020-09-10 17:41] irenehua commented on #61106
New iteration has been published.

Link to the script: https://www.powershellgallery.com/packages/AzureILBUpgrade/5.0

[2020-09-10 17:42] AnuragSharma-MSFT commented on #62222
@DDFXulei This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-10 17:42] shreyasharmamsft commented on #56351
@AshokPeddakotla-MSFT can we close this issue?

[2020-09-10 17:44] MarileeTurscak-MSFT commented on #62415
@brsteel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 17:45] #51636 closed

[2020-09-10 17:50] RyanHill-MSFT commented on #62080
Hi @PaulFarry, `Set-AzWebApp` cmdlet doesn't support user assigned identities. That's why you don't see code snippet for it. Instead you can use either the portal or https://resources.azure.com, under the app service and setting `identity` to userAssigned and adding the principal resource id.

[code]

Hope this helps. Feel free to re-open the issue or tag me in any replies if you have further ques

[2020-09-10 17:50] #62080 closed

[2020-09-10 17:57] brucelangston opened #62422 "need better feature comaprison for app service tiers"
the [article on medium](https://medium.com/@zaab_it/azure-app-service-plan-tiers-f07d5e22297a) provides legitimate criticism.
The App Service Plan pricing page gives you some information, but not in great details. And another annoying thing is when it comes to the instance size, the naming is not consistent between the web page display (pricing page / portal) and the API (PowerShell, CLI, RM templ

[2020-09-10 17:59] himanshusinha-msft commented on #62044
Adding a  SO thread which is the driver for this update .
https://stackoverflow.com/questions/63651604/autoload-feature-file-format/63728116#63728116

[2020-09-10 18:01] #62387 closed

[2020-09-10 18:02] yushwang commented on #43016
This is already done for a first pass - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#virtual-network-gateway-limits

#please-close

[2020-09-10 18:02] #43016 closed

[2020-09-10 18:02] RonnieQuan opened #62423 "IAM RABC and Blob Oject Level Permission"
Using RBAC, can we achieve to control more granular permission?
Does it support folder scope? does it support file/object level scope?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independent ID: a6a8d9e9-9aac-c0ed-c474-34cbd0609584
* C

[2020-09-10 18:02] MarileeTurscak-MSFT commented on #62416
@brsteel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 18:09] SaiKishor-MSFT commented on #62403
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-10 18:09] JamesTran-MSFT commented on #59332
@9songs
Thank you for the follow up and details! Looking at one of my older [GitHub issues](https://github.com/MicrosoftDocs/azure-docs/issues/58087), I did find something close to what you're looking for where our PG team responded.

**PG response:**
"We have no requirements for client certs. Our own examples show using a self-signed cert, so users should assume that the working self signed crt t

[2020-09-10 18:25] Shipra1Mishra commented on #52652
@AshokPeddakotla-MSFT - Updated the doc to reflect the min required access policy. The changes are in publishing queue.
#please-close

[2020-09-10 18:25] #52652 closed

[2020-09-10 18:27] tamram commented on #62423
@RonnieQuan - Are you looking for permissions for Azure Data Lake Storage Gen2? If so, see [Overview of access control in Azure Data Lake Storage Gen2](https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-access-control).

If that's not what you need, can you tell us more about what you are looking for?

@normesta FYI

[2020-09-10 18:30] MartinJaffer-MSFT commented on #29970
@tliebhart are you facing a similar issue?  Due to the age of this issue, and the rate of development in Azure in general, I am considering closing this issue.  It may no longer be relevant.

[2020-09-10 18:36] ZeroDeltaE opened #62425 "Clarification needed for Powershell"
In the Powershell section (https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd#powershell), the note in purple reads:
"If there was no response from the command, then the selected VM size is not supported with ultra disks in the selected region."
However when we run the command against certain known unsupported scenarios which the command is supposed to identify, we get

[2020-09-10 18:39] normesta commented on #62423
Hi @RonnieQuan - you can definitely control access at the file/folder level by enabling the hierarchical namespace feature on your account. Doing so changes some of the pricing / transaction costs, so you'd probably want to dig a bit to assess any impact. There are cost comparison tables available on the pricing pages for blob storage. The biggest blocker for you right now is that unfortunately, y

[2020-09-10 18:40] psmanhas commented on #62082
@racchen I reached out to our internal team on this and below is their response:

By Azure SF, meaning Service Fabric as a resource managed via Azure (portal, ARM) and the Azure SF resource provider, it is not possible to create a Windows auth cluster. However, if they are able to join their Azure VMs to their domain, and integrate VNet, etc., they should be able to bring up a standalone gMSA-base

[2020-09-10 18:41] psmanhas commented on #62150
@anshu1987 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks.

[2020-09-10 18:41] #62150 closed

[2020-09-10 18:42] psmanhas commented on #62174
@RonnieQuan Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-09-10 18:42] #62174 closed

[2020-09-10 18:46] JamesTran-MSFT commented on #62398
@HockeyJustin
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-10 18:46] #62398 closed

[2020-09-10 18:46] erikerikson commented on #62371
Thank you for adding the link @tfitzmac.  I did find that doc independently.  Although it mentions batches, it doesn't contain the term "micro-batch" on it.  Also, it seems by "same stream" the docs reference the EventHub instance that has Capture enabled.

In hindsight, this line in the table seems to be saying that users can only enable capture if the EventHub is set to  the "Standard" sku but n

[2020-09-10 18:47] BhargaviAnnadevara-MSFT commented on #62166
@kulbirjandoria Thanks for confirming!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-10 18:47] #62166 closed

[2020-09-10 18:47] #61961 closed

[2020-09-10 19:00] mmacy commented on #53632
@Mlavieri Closing this one out as @shoatman has stated in https://github.com/MicrosoftDocs/azure-docs/issues/53632#issuecomment-680215944 that this is a server bug, thus no document updates are required. Suggest that a support request be opened regarding the issue if it continues to be a problem in your scenario. #please-close

[2020-09-10 19:00] #53632 closed

[2020-09-10 19:06] lucaspimentel commented on #57420
related: https://github.com/MicrosoftDocs/azure-docs/issues/45817

[2020-09-10 19:07] mmacy commented on #40234
@aiwangmicrosoft can you confirm whether this is still required if customers are using the current **App registrations** experience in the Azure portal?

https://docs.microsoft.com/azure/active-directory/develop/brokered-auth#generating-a-redirect-uri-for-a-broker

[2020-09-10 19:11] RonnieQuan opened #62426 "Use Internal Load Balancer as App Gateway Backend Pool"
Here are the list of supported backend pools, so which one is for my intenal load balancer?
I guess either Internal IP address or FQDN, can you please confirm?

NICs
Virtual machine scale sets
Public IP addresses
Internal IP addresses
FQDN
Multitenant backends (such as App Service)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-09-10 19:14] WinstonHoward-MSFT commented on #62401
Thanks for the issue, I'll take a look!

[2020-09-10 19:16] mmacy commented on #40234
#reassign:mmacy

[2020-09-10 19:29] jarasavelli commented on #62401
Also, the deployment snippet starts with "jobs", but the previous one has
job in there.

thanks
Josh

On Thu, Sep 10, 2020 at 12:14 PM Winston Howard <notifications@github.com>
wrote:

--
*Josh Arasavelli*
*Home 425 868 8624 Mobile 425 533 3360*

[2020-09-10 19:31] elvirk commented on #61991
are you sure about that template is working?
Test-AzSubscriptionDeployment -Location eastus -TemplateFile .\tescustomrole.json
Test-AzDeployment: Invalid character after parsing property name. Expected ':' but got: ". Path 'resources[0]', line 80, position 6.

[2020-09-10 19:34] Not-Customer-but-harrassed-anyway opened #62427 "AzureMFA Complaints department"
I am not, nor have I ever been, an Azure customer but I have started getting 10+ calls a day on my UK mobile number from your US number (+1)8553308653 and then it just hangs up. I have called it back and it seems genuine with a recorded message saying to email:
azuremfasupport@microsoft.com
but my emails keep getting rejected by what I presume is a spam filter.

I have blocked the number but all t

[2020-09-10 19:38] fgheysels commented on #56351
Is it document somewhere when to use which auth provider endpoint ?

[2020-09-10 19:44] mikhailalmeida opened #62428 "ASE Subnet Size Clarification"
The document states that "As you scale out your ASE, infrastructure roles are added every multiple of 15 and 20 of your App Service plan instances." I understand that as you scale out the Frontend can have max of 15 App Service Plan instances before needing to add another instance of the Frontend. However, there is no details about which ASE infrastructure requires the additional IP address when s

[2020-09-10 19:46] MarileeTurscak-MSFT commented on #62382
@MarcoL-Progel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 19:53] MarileeTurscak-MSFT commented on #62352
Thanks @awaldow. I made a pull request to add a reference to the custom policies documentation but feel free to make your own pull request if you think more should be added. https://github.com/MicrosoftDocs/azure-docs-pr/pull/129349

CC: @msmimart

[2020-09-10 19:53] #62352 closed

[2020-09-10 19:58] vhorne commented on #58660
#please-close
Repeated attempts from the PM to get more details went unanswered.

[2020-09-10 19:58] #58660 closed

[2020-09-10 20:01] psmanhas commented on #62228
@tina-ho Apologies for the delay in response. I checked the scenario in my lab as below :

![image](https://user-images.githubusercontent.com/35990743/92795189-cfe5a380-f3cd-11ea-9eb0-ef646f6d6979.png)

As you can see that for the user it is showing as inherited from Resource Group :
![image](https://user-images.githubusercontent.com/35990743/92795304-e855be00-f3cd-11ea-8efd-dae34567bf9e.png)

I a

[2020-09-10 20:02] psmanhas commented on #62228
@tina-ho Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-09-10 20:02] #62228 closed

[2020-09-10 20:04] MarileeTurscak-MSFT commented on #62416
Thanks! I made a pull request to update this https://github.com/MicrosoftDocs/azure-docs-pr/pull/129354

CC @yelevin

[2020-09-10 20:04] #62416 closed

[2020-09-10 20:07] gitforanand commented on #6866
I am receiving

Validation failed: 2 validation error(s) found in policy "B2C_1A_TOTP_TRUSTFRAMEWORKEXTENSIONS" of tenant "agkni.onmicrosoft.com".User journey "SignUpOrSignIn" in policy "B2C_1A_TOTP_TrustFrameworkExtensions" of tenant "agkni.onmicrosoft.com" has step 5 with 2 claims exchanges. It must be preceded by a claims provider selection in order to determine which claims exchange can be use

[2020-09-10 20:07] Nickomang commented on #59034
Closing for now. Feel free to reopen if you are still having problems.

#please-close

[2020-09-10 20:07] #59034 closed

[2020-09-10 20:11] Karishma-Tiwari-MSFT commented on #62414
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-10 20:12] WinstonHoward-MSFT commented on #62397
Thanks for the issue, I've assigned this for secondary triage to content teams. Because **this feedback is meant for all Azure docs.**

[2020-09-10 20:17] AnuragSharma-MSFT commented on #62244
@woeterman94 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-10 20:17] #62244 closed

[2020-09-10 20:18] MarileeTurscak-MSFT commented on #62415
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/129369

[2020-09-10 20:18] #62415 closed

[2020-09-10 20:30] WinstonHoward-MSFT commented on #62401
Hi @jarasavelli,

I'm sorry but I am a bit confused by:

Would you be willing to reiterate what code in the doc needs to be fixed and what you think it needs to be fixed to? Thank you for providing the information in advance!

[2020-09-10 20:35] MarileeTurscak-MSFT commented on #62273
This is discussed in[ Configuring Optional Claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant#configuring-optional-claims)

If you want to get the family_name and given_name claims from Azure AD, you can configure optional claims for your application in the Azure portal UI or application manifest. For more information, see How to provide op

[2020-09-10 20:35] #62273 closed

[2020-09-10 20:37] Niladri24dutta commented on #50075
@yoelhor Still facing this problem in sample template. Has it been fixed in the new template ?

[2020-09-10 20:41] DerekHerman-MSFT commented on #62420
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-10 20:52] jarasavelli commented on #62401
I thought you got it.

In the page
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-build-deploy-azure-pipelines?tabs=java
in th emiddle of page, you come to a place where a sample YAML is asked to
be used for starter pipeline.  You can search for this text. "Select the
starter template and copy the below YAML snippet that builds your Java
project and runs tests with Apache M

[2020-09-10 20:58] roygara commented on #62294
@HughDevlin Thanks for reaching out, we appreciate it! I've gone ahead and fixed the issue, the changes will be live later today.

Accordingly, I'll go ahead and close this out.

Thanks again for helping improve our docs! :)

#please-close

[2020-09-10 20:58] #62294 closed

[2020-09-10 21:13] JamesTran-MSFT commented on #62396
@MrCNeale
Thanks for your post! I was able to look into this issue further and will post my findings along with next steps below.

[code]

**Findings:**
When the command is run on Azure via CloudShell, we see the output of:

 'SecretValueText'

When you run this on AzurePS for Desktop, there's no mention of this property being deprecated.
![getSecretPSOutput](https://user-images.githubusercontent.

[2020-09-10 21:15] zr-msft commented on #61961
Thank you @asubmani for the feedback!

The article has been updated to resolve the query issue. We've added an item to our back log for the rest of your feedback and will prioritize accordingly.

[2020-09-10 21:16] MarileeTurscak-MSFT commented on #62402
@curtand
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-10 21:16] KranthiPakala-MSFT commented on #61106
@treytro As per the above confirmation from product team. This issue has been addressed in the new iteration of the powershell script.

We will now proceed to close this thread. If there are further questions regarding this matter, please continue feel free to comment and We will gladly continue the discussion.

Thanks again for bringing this to our attention and helping us to improve the product/

[2020-09-10 21:16] #61106 closed

[2020-09-10 21:20] MarileeTurscak-MSFT commented on #61628
If you want to upload localized error messages for different languages for a custom error message, here is an example for how to add localized string for English and Spanish for StringId CustomErrorMessage , from the same documentation which you mentioned.

<Localization Enabled="true">
  <SupportedLanguages DefaultLanguage="en" MergeBehavior="ReplaceAll">
    <SupportedLanguage>en</SupportedLangu

[2020-09-10 21:20] #61628 closed

[2020-09-10 21:21] orionJag opened #62430 "ADT explorer"
Hi
    Working on the ADT preview "Explore a sample scenario"

https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-adt-explorer

and I am getting the following error, not sure how to address.

1. on the command prompt for the "npm run start" window, I get
        [HPM] Error occurred while trying to proxy request /models?api-version=2020-05-31-preview from localhost:3000 to /
        (

[2020-09-10 21:22] MarileeTurscak-MSFT commented on #61628
<Localization Enabled="true">
  <SupportedLanguages DefaultLanguage="en" MergeBehavior="ReplaceAll">
    <SupportedLanguage>en</SupportedLanguage>
    <SupportedLanguage>es</SupportedLanguage>
  </SupportedLanguages>

  <LocalizedResources Id="api.localaccountsignup.en">
  <LocalizedStrings>
    <LocalizedString ElementType="ErrorMessage" StringId="CustomErrorMessage">You have exceed the maximum t

[2020-09-10 21:34] ChaitanyaNaykodi-MSFT commented on #62394
Hello @Marco-Santoni, Thank you for your feedback! We will review and update as appropriate.

[2020-09-10 21:50] cwillbusch commented on #40373
Any update on this? The documentation here is seriously lacking

[2020-09-10 21:51] MarileeTurscak-MSFT commented on #62382
Hi @MarcoL-Progel,

Thank you for bringing this up. I definitely understand the use case for this. For product-feedback like this, the best place to share is on [User Voice](https://feedback.azure.com/) where the product group can reply directly.

One option would be to leverage PIM so that no one will always be a Global Admin and users will just request that access when needed.

I have passed you

[2020-09-10 21:51] #62382 closed

[2020-09-10 21:57] SatishBoddu-MSFT commented on #62430
Hello  @orionJag
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-10 22:07] SubhashVasarapu-MSFT commented on #62426
@RonnieQuan, you should be adding Private IP of the Service nothing but internal IP addresses for the backend pool of the APPGW.

[2020-09-10 22:08] ncoder opened #62434 "missing --runtime python argument"
This command:

az functionapp create --name <app_name> --storage-account <storage_name> --resource-group AzureFunctionsContainers-rg --plan myPremiumPlan --deployment-container-image-name <docker_id>/azurefunctionsimage:v1.0.0

is missing the "--runtime python" argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2020-09-10 22:09] ncoder commented on #62434
(I had the "python" language option selected at the top).
probably should at least be a mention about.

[2020-09-10 22:14] JamesTran-MSFT commented on #62339
@ryanb31
Thanks for your post! I was able to walk through the documentation as well and everything got created for me automatically.

[Steps Followed](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp)
1)[Created my own App Registration](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp#option-2-register-

[2020-09-10 22:16] normesta commented on #47923
Thanks for raising this issue @rebremer! Sorry it has taken so long for us to respond. Yes you are correct. The documentation was incorrect. The umask is applied only if no default ACL exists on the parent. The purpose of the hardcoded umask value is to provide least privilege access to "other" users of a child item. If a default ACL is defined on a parent item, then the assumption is that the own

[2020-09-10 22:16] normesta commented on #47923
#please-close

[2020-09-10 22:16] #47923 closed

[2020-09-10 22:22] shreyasharmamsft commented on #56351
@fgheysels No - it's not yet. We are working on adding the MSAL samples provided above to our official samples [here](https://github.com/Azure-Samples/Azure-Time-Series-Insights/tree/master/gen2-sample/csharp-tsi-gen2-sample) and can add guidance there too.

Would you be able to create an issue against our sample code so we can track this update and close this issue on docs?

[2020-09-10 22:35] MrCNeale commented on #62396
Thanks James.  Just an FYI.
On my powershell desktop I do get that warning.
![image](https://user-images.githubusercontent.com/7669921/92816924-f3a0ed80-f3bd-11ea-9807-59c360eb9dca.png)

PSVersion 7.0.3/Core
Az.KeyVault module version 2.1.0

If i disable breaking changes the warnings go away
set-item Env:\SuppressAzurePowerShellBreakingChangeWarnings "true"

[2020-09-10 22:36] MarileeTurscak-MSFT commented on #62427
@Not-Customer-but-harrassed-anyway thank you for reporting this potential vulnerability! I am sorry that you are dealing with this. The email you mentioned is definitely not an active email or something that we use so it does sound like spam.

There are two places where you can report these issues:

1.
https://support.microsoft.com/en-us/help/4054905/avoid-and-report-microsoft-technical-support-sc

[2020-09-10 22:37] jeffpatt24 commented on #62420
@javester The Azure File Sync v11 agent has not released yet (targeting end of September). I've updated the doc and removed the v11 reference.

[2020-09-10 22:38] MarileeTurscak-MSFT commented on #62427
I'm closing this out on here but am tracking internally. Please fill out the forms and feel free to send me an email if you face any difficulties. This must be very frustrating and definitely is not a valid Azure call.

[2020-09-10 22:38] #62427 closed

[2020-09-10 22:38] jeffpatt24 commented on #62420
#please-close

[2020-09-10 22:38] #62420 closed

[2020-09-10 23:03] cfj123 opened #62438 "Disk Encryption Set Replication"
Hi,
I've created a Proof-of-concept environment for disk encryption set replication, but cannot see an option to select a target DES.
I am unclear if I need to follow similar instructions as for ADE and copy the CMK and import into a KV at the second region, or whether each can be unique. I chose the latter as there were no instructions to say otherwise here.  Environment was setup to replicate fr

[2020-09-10 23:05] mike-urnun-msft commented on #62333
@arunprasathv Thank you for your feedback. Since this channel is driving improvements towards MS Docs, could you provide us with the URL of the specific documentation that your feedback is most applicable to?

[2020-09-10 23:21] ryanb31 commented on #62339
I created a new project and set the Authentication in the create project
wizard.  I then copied the appropriate code into my project.  It turned out
to be less code but worked right away.

Thanks.

On Thu, Sep 10, 2020 at 6:15 PM James Tran-MSFT <notifications@github.com>
wrote:

[2020-09-10 23:26] JamesTran-MSFT commented on #62339
@ryanb31
I'm glad you were able to get it to work! If you have any other questions, please let me know. Otherwise, I'll go ahead and close out this issue at the end of the day.

Thank you again for your time and patience.

[2020-09-10 23:29] tomas-gottwald opened #62441 "Ensure that Allow access to Azure services is turned ON for your SQL server"
It says "Ensure that Allow access to Azure services is turned ON for your SQL server so that Data Factory can write data to your SQL server" in the doc. I thought the whole point of the Azure Data Factory Managed Virtual Network feature was that you don't need to that and access the server using managed private endpoint? I have tested the scenario with this set to "No" and it seems to work.

---
#

[2020-09-10 23:34] James-Hamil-MSFT commented on #62163
Hi Sean, so sorry for the delay. In this scenario I would most likely create a multi-tenant application and provision users. [This](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-provisioning-tutorial) document shows how to configure G Suite. You can do the following with this:

- Create users in G Suite
- Remove users in G Suite when they do not require access anymo

[2020-09-10 23:41] AnjanRB commented on #62226
Yes, this answered question about what the alert is for. Thank you. Also, my question was also to know if there is a way to add expected header parameters when defining a logic app. Enforcing header could be for content type or other header values.

[2020-09-10 23:41] #62226 closed

[2020-09-10 23:51] #58010 closed

[2020-09-10 23:56] tamram commented on #62040
#sign-off

[2020-09-10 23:58] tamram commented on #62040
@jtuliani - Thanks for letting us know. I've made the update and it should be live by tomorrow.

Only the portal sets TLS to 1.2 when a new account is created. The REST API and other APIs/tools all set the value to 1.0 by default.

[2020-09-11 00:00] tamram commented on #62040
#please-close

[2020-09-11 00:00] #62040 closed

[2020-09-11 00:04] tamram commented on #62280
@brandonh-msft - Your versions all look correct.

Two suggestions:

- Make sure that you have uninstalled the AzureRM module (uninstall under Windows settings -> apps & features
- Close and re-open the PS console window

[2020-09-11 00:04] #62339 closed

[2020-09-11 00:08] wombling opened #62443 "Update code retrieval details - use SuccessFactors picklist views"
[Enter feedback here]

In the tutorial there is a highly complicated way of getting the associated keys for certain values shown.

it's much easier to just use Picklist Center in SuccessFactors:

![image](https://user-images.githubusercontent.com/2967008/92828308-3d1d2700-f416-11ea-9653-a693de727a91.png)

![image](https://user-images.githubusercontent.com/2967008/92828391-53c37e00-f416-11ea-9342-d

[2020-09-11 00:14] HeidiSteen commented on #60987
#please-close

[2020-09-11 00:14] #60987 closed

[2020-09-11 00:27] Karishma-Tiwari-MSFT commented on #61944
@brbell Did you get a chance to look into this issue? Thanks.

[2020-09-11 00:29] Karishma-Tiwari-MSFT commented on #61504
Appreciate your feedback on this. Let me share this feedback internally with the product and doc team to get this document updated. I will share an update here once this is resolved.

[2020-09-11 00:29] #61504 closed

[2020-09-11 00:40] tomas-gottwald opened #62445 ""Managed Private Endpoint" not available for Azure Key Vault"
Azure Key Vault is listed among data sources that are supported to connect through private link from ADF Managed Virtual Network however "Managed Private Endpoint" is not available when creating a linked service to a key vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06f
* Versio

[2020-09-11 00:46] yadcam opened #62446 "Peering Between Tenants Does not work for Classic Deployments"
Hello Team,

So I have been doing some testing and found that, when creating a Peering between tenants, the document states that one of the two V-Nets must be a Classic Network

Upon testing, this is the result obtained:

Failed to add virtual network peering 'name' to '/subscriptions/**guid**/resourceGroups/**RGName**/providers/Microsoft.Network/virtualNetworks/**VNetName**'. Error: The client ha

[2020-09-11 00:57] amenarde commented on #61794
Hi @viktors-telle there are two things, which is how the client cert is declared on SF for validation, and then how the client cert is selected by the client (powershell).

On SF, the client cert can be declared by thumbprint or by common name, in the manifest as
<Parameter Name="ClientCertThumbprints" Value="abcd"/>
or
<Parameter Name="ClientAuthAllowedCommonNames" Value="mycommonname" />

and re

[2020-09-11 01:00] tamram commented on #62277
@brandonh-msft - Thanks for pointing out this error. I've updated the example in the article. The change should be live by tomorrow.

The correct command to use is [az storage account blob-service-properties update](https://docs.microsoft.com/cli/azure/storage/account/blob-service-properties?view=azure-cli-latest#az_storage_account_blob_service_properties_update). This command sets the service pro

[2020-09-11 01:05] tamram commented on #53393
This article has been updated to show both v11 and v12 SDK examples.

#please-close

[2020-09-11 01:05] #53393 closed

[2020-09-11 01:16] hlarubi commented on #62320
Thanks @TomGeske ! Are there other registries (outside what's mentioned on the page) that we should consider adding? We have some clusters that were spun up in late 2019... They are patched and updated, but we don't plan a full rebuild.

[2020-09-11 01:49] BharathNimmala-MSFT commented on #61714
@RonnieQuan I did hear back from our team and below are the updates, please let me know if you have any further queries.

"*-operational-logs" is an old name for operational logs which is now retired and activity logs cannot write to it anymore. Due to this reason a new container is getting created when we attempt to create activity logs with new settings. However, the old feature will keep using

[2020-09-11 02:26] KranthiPakala-MSFT commented on #62331
@mssaperla Could you please have a look at this feedback and do the helpful needed. Thank you

@tomatoTomahto Thanks again for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-09-11 02:32] RohitMungi-MSFT commented on #62388
@prajster Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-11 02:45] asears commented on #61195
Hi @lisaguthrie - I was referencing this.

![image](https://user-images.githubusercontent.com/7253192/92846705-5abaa400-f3b6-11ea-94fe-8362f245384c.png)

![image](https://user-images.githubusercontent.com/7253192/92845886-73768a00-f3b5-11ea-80a7-577017f9013c.png)

and some examples which only show Azure cli
https://docs.microsoft.com/en-us/azure/azure-app-configuration/integrate-kubernetes-deploym

[2020-09-11 02:46] RohitMungi-MSFT commented on #62375
@Mhsoun I am unable to replicate this response. Are you using the face API endpoint as mentioned in the portal? For example, I downloaded the [solution ](https://github.com/Azure-Samples/Cognitive-Face-CSharp-sample) and just updated the endpoint values in the solution MainWindow.xaml.cs file.

[code]

Please try to use the endpoint with the resource name instead of the regional endpoint.

[2020-09-11 02:56] MayankBargali-MSFT commented on #62434
@ncoder Thank you for your feedback! We will review and update as appropriate.

[2020-09-11 03:00] KrishnaG-MSFT commented on #62281
@tfitzmac Thanks for the response.
@klawrawkz Did you get chance to review the above comment? Let us know if you have any further queries regarding it.

[2020-09-11 03:15] jackchenquest commented on #34672
Trying to make a decision ( recreate a old basic VPN to VPNgw1 or just upgrade it to high performance) and come to this. I still wasn't sure about the bandwidth ( 2Gbps vs 200Mbps ) until I found this article:

https://blog.kloud.com.au/2015/07/23/azure-vnet-gateway-basic-standard-and-high-performance/

So the "high performance" VPN gateway can only provide 200Mbps VPN throughput yet the cost is a

[2020-09-11 04:00] laurenhughes commented on #61369
Thanks for the feedback, @kthompson23!

Node image upgrade is no longer in preview, but you'll still need to install the aks-preview extension until the Azure CLI is updated. There's no need to register the NodeImageUpgradePreview feature.

Once the Azure CLI is updated, the aks-preview extension will no longer be needed and the doc will be updated accordingly.

#please-close

[2020-09-11 04:00] #61369 closed

[2020-09-11 04:27] RyanHill-MSFT commented on #62410
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-11 04:28] AnuragSharma-MSFT commented on #62169
. This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-11 04:29] RyanHill-MSFT commented on #62412
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 04:31] RyanHill-MSFT commented on #62422
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 05:14] truekonrads commented on #59818
Hello,

I'd like to re-open this ticket on the account that the documentation still isn't correct:

- TimeGenerated is a reserved property. If an event with this property is sent in, API responds with 200 OK but doesn't ingest.  Using the ```time-generated-field``` header works, but it isn't obvious.
- RawData is a reserved property, as above, sending record with RawData will result in 200 OK but