[2019-04-23 18:06] TravisCragg-MSFT commented on #29901
@bertrandpons Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-23 18:06] SaurabhSharma-MSFT commented on #29887
@dennisxu2019 I see the "Updated Office 365 Modern Authentication" links on the page are working fine and redirecting to this [page](https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/).

[2019-04-23 18:06] jeevansd commented on #29915
@cmmdesai Can you please update this doc?

[2019-04-23 18:07] MartinJaffer-MSFT commented on #29659
I am unable to rero this due to the requirement of being a tenant administrator.  @JasonWHowell , can you provide any more insight?

[2019-04-23 18:08] Vask006 opened #29921 "Query is not working"
[Enter feedback here]
Below query is not working

SELECT DeviceStreamInput.DeviceID, SiteReferenceInput.SiteID, SiteReferenceInput.SiteName
INTO Output
FROM inputtest as  DeviceStreamInput
JOIN georef as SiteReferenceInput
ON st_within(DeviceStreamInput.GeoPosition, SiteReferenceInput.Geofence) = 0
WHERE DeviceStreamInput.DeviceID = SiteReferenceInput.AllowedDeviceID

Getting the following error
F

[2019-04-23 18:19] SaurabhSharma-MSFT commented on #29911
@wawyed Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-04-23 18:19] ntachandley opened #29922 "The page text does not match the title"
The page is titled "Directing Azure traffic to Azure SQL ..", which is confusing. The page text (and path) are a discussion regarding architecture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Directing Azu

[2019-04-23 18:23] SaurabhSharma-MSFT commented on #29871
@kilasuit Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-23 18:26] palma21 commented on #23789
What process are you following to access the dashboard? Have you tried my comment above?

https://github.com/MicrosoftDocs/azure-docs/issues/23789#issuecomment-485010803

[2019-04-23 18:32] #25568 closed

[2019-04-23 18:34] wpitallo commented on #29874
Hi @ealsur that's super helpful so does the Azure Function have a lease for every subscriber? So if if there are 2 Azure Function triggers attached and one is blocked by the firewall for a day lets say when that's fixed that will continue from when the firewall error occurred but the other subscriber would still continue without any issues?

Then what would happen if I update a record in cosmos DB

[2019-04-23 18:36] cogran opened #29923 "Managing JIT NSG rules"
Editing a processed JIT NSG rule does not change the effect of the rule. The JIT policy in effect does not appear to change even if the rule is change, which would expected to avoid circumventing JIT policy. However, the JIT NSG rules can be edited and appear to provide different effective rules. A new JIT request with an updated policy is required to override/update the JIT NSG rule. Can this be

[2019-04-23 18:40] cogran opened #29924 "Portal UI"
The portal interface displayed the configuration walkthrough is outdated to the portal today. Is there a Portal UI refresh going to be updated for this document? This is significantly different than the UI presented above. Specifically, the Portal UI on adding a JIT policy rule shows that when selecting a CIDR block, there is a (i). This gives the information that you can provide a CIDR block, an

[2019-04-23 18:49] Grace-MacJones-MSFT commented on #29916
Hi @jfcomst, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 18:50] gperrego opened #29925 "Note Above"
Is the note on this page correct?  I think this has been fully rolled out to Azure in 6.4, which I see on this page:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-visualizing-your-cluster

Seems like the note on this page might be an old one?

Then I also see on this page here:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-eventstore#loca

[2019-04-23 18:51] ealsur commented on #29874
I added new docs that explain how the Function integration works:
* https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-functions
* https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-create-multiple-cosmos-db-triggers
* https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-changefeed-functions

Basically each Function should have it's separate lease state, so one Function cou

[2019-04-23 18:52] Grace-MacJones-MSFT commented on #29909
Hi @Jon-Work , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-04-23 18:54] Grace-MacJones-MSFT commented on #29902
@CeciAc  thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-23 18:57] Grace-MacJones-MSFT commented on #29894
Hi @LTUTE,  thanks for the feedback! We are currently investigating and will update the docs shortly.

[2019-04-23 18:57] 76mel opened #29926 "Using statement missing for IOptionsSnapshot"
You need to add a using statement to the home controller to use IOptionsSnapshot.
using Microsoft.Extensions.Options;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-638f-746a-4bbdf0378625
* Version Independent ID: d917d876-79b4-b935-08f0-09ef86038dd7
* Content: [Tutorial for using Azure App Configuration

[2019-04-23 18:58] Grace-MacJones-MSFT commented on #29884
Hi @abilous-ti ,thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 18:59] srrengar commented on #29925
Hi @gperrego EventStore is generally available in 6.4 but you still need to opt in the feature. It is available for Azure clusters and local devbox clusters but not on Service Fabric standalone.

[2019-04-23 19:02] larrywa opened #29928 "Volume [resourceId('Microsoft.ServiceFabricMesh/volumes','testVolume')] does not exist"
Following the code above exactly, putting in my storage account info and I get the error above when trying to run the code.

Why would it think my volume does not exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb141910-2325-da04-e131-e58487fb6a43
* Version Independent ID: 8e4e14c0-b1ff-eb7f-0241-f781060862d0
* C

[2019-04-23 19:18] undecided2013 opened #29929 "Does the DNS service work with on-prem windows cluster?"
Does the DNS service work with on-prem windows cluster?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d273a891-b7f9-81db-bfc5-044e6755541f
* Version Independent ID: dc9f17bb-64af-d4b5-186f-7647c0a0c511
* Content: [Azure Service Fabric DNS service](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-dns

[2019-04-23 19:20] ryanlengel opened #29930 "TypeAhead typo"
There's a typo of typeHead when referencing the typeAhead parameter in predictive mode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 885bc772-033b-e3cf-9cad-a0ea9bd5b4e9
* Version Independent ID: f8c2bf41-7227-7a6f-b77e-faeba901de1c
* Content: [How to search efficiently using the Azure Maps Search service](https://doc

[2019-04-23 19:26] MartinJaffer-MSFT commented on #29819
@ricardoserradas  , would a [shared IR](https://docs.microsoft.com/en-us/azure/data-factory/create-shared-self-hosted-integration-runtime-powershell) be more useful than redirecting the IR?

[2019-04-23 19:27] dkkapur commented on #29928
@larrywa can you share the ARM template for the deployment (with the key for the storage account scrubbed?)

[2019-04-23 19:30] ChainReactive opened #29931 "Update for MSAL v3"
I found this document to be unclear and unhelpful.  Consider updating it with language, information, and examples from the following sources.

[AAD B2C specifics](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#authority-for-a-b2c-tenant-and-policy)

The current guidance from B2C is to use `b2clogin.com` as the authority. For example, `$"https://{your-

[2019-04-23 19:34] tfitzmac commented on #29821
@amirgra - It is mainly about preference, the end result should be the same. Some people might find it easier to define the extension without adding a different resource. However, using a separate resource gives you more flexibility. You could deploy the extension to an existing scale set that isn't deployed in the same template.

[2019-04-23 19:34] msmimart commented on #24509
Resolved on Feb 27
#please-close

[2019-04-23 19:35] #24509 closed

[2019-04-23 19:38] wpitallo commented on #29874
Awesome, thanks so much @ealsur, one question tho, what constitutes, "request goes through" from the change feed and the Azure Function Trigger point of view? Do you have any technical details around this just so we can better understand this?

[2019-04-23 19:49] JasonWHowell commented on #29659
I am also not a tenant administrator, so I can't look very easily.

The Azure Active Directory is a separate resource from HDInsight. You'd use the AAD tools, such as Graph Explorer, Portal, or CLI see Service principals.

The Azure portal:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-view-managed-identity-service-principal-portal

Azure CLI:
ht

[2019-04-23 19:50] fbcarvalho commented on #27773
I still getting the error:

VM has reported a failure when processing extension 'dscextension'. Error message: \"DSC Configuration 'FirstSessionHost' completed with error(s). Following are the first few: PowerShell DSC resource MSFT_ScriptResource  failed to execute Set-TargetResource functionality with error message: User is not authorized to query the management service.\nActivityId: df42f7e3-73

[2019-04-23 19:56] larrywa commented on #29928
This is not an ARM template, no JSON is involved with this. This is all Yaml.

Thanks!
larrywa

From: Deep Kapur <notifications@github.com>
Sent: Tuesday, April 23, 2019 3:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Larry Wall (AZURE DEV) <Larry.Wall@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Volume [resourceId('Microsoft

[2019-04-23 19:58] alkohli commented on #28235
@milazzom Thanks for bringing this to my notice! I have modified the diagram. And the changes are in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/74313. Once the content goes live, I will drop a note.

[2019-04-23 20:00] YutongTie-MSFT commented on #29913
@jlahteen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 20:00] scootafire commented on #24858
is the JIRA 8,0 version ready for download?

[2019-04-23 20:02] mattchenderson commented on #29606
Yes, KV references resolve to environment variables. If you have a way to normalize structured config from an environment variable, then you are all set. As mentioned before, ASP.NET Core does honor config sections from environment variables that are delimited with a colon or double underscore.

From the doc I linked:

[2019-04-23 20:03] wangcai0124 commented on #29928
@larrywa Please provide detail repro steps as well as all Yaml files.

[2019-04-23 20:11] larrywa commented on #29928
1. In VS2017, create a new ASPNet Core SF Mesh application. I chose ASPNet core 2.1, and a Web app.
2. Create a storage account and add a new file share.
3. Add a volume.yaml file to the project

[volume.txt](https://github.com/MicrosoftDocs/azure-docs/files/3109387/volume.txt)
4. update the service.yaml file with the volume reference
[service.txt](https://github.com/MicrosoftDocs/azure-docs/files

[2019-04-23 20:14] #24513 closed

[2019-04-23 20:15] Eldorian opened #29932 "Using New-OnPremiseHybridWorker.ps1 behind corporate proxy"
When trying to run this script, it fails when it needs to download packages from nuget. Is there something that we would need to do with this script to force the nuget connection to go through a corporate proxy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b29372c-7bd9-7da2-4cff-9afbb432bccf
* Version Independent ID

[2019-04-23 20:16] jdecowski18 opened #29933 "Cannot get livy to work with local jar on head node"
Hi,
I followed this section to start a jar deployed to the headnodes: Updates to Livy configuration starting with HDInsight 3.5 version.

I'm using HDI 3.6 and no default-livy config exists in the ambari dashboard. I tried adding livy.file.local-dir-whitelist to the custom-livy config and livy cannot handle the request when I give it a local file path (body below).
{ "file":"/home/livy/SparkSimple

[2019-04-23 20:21] mike-urnun-msft commented on #29906
Hi @AlainPilon Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-04-23 20:21] amirgra commented on #29821
Thanks @tfitzmac for your answer.

[2019-04-23 20:24] georgewallace commented on #29932
@eldorian You can add the `-Proxy` parameter to the [Install-Module](https://docs.microsoft.com/en-us/powershell/module/powershellget/install-module?view=powershell-6) cmdlet within the script.

[2019-04-23 20:27] dksimpson commented on #22169
Hi @rayne-wiselman, has there been any progress on this?

[2019-04-23 20:28] mike-urnun-msft commented on #29689
@kevinclarkneudesic Hope the above helps answer & clarify your query. We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-23 20:29] #29689 closed

[2019-04-23 20:35] kobulloc-MSFT commented on #29917
@stewartadam Thank you for bringing this to our attention!

[2019-04-23 20:39] marcelofelman opened #29934 "No need to re-elevate user"
If you follow the guide step by step, when you reach the "Start Oracle listener" it provides a line to elevate via "sudo su - oracle". This is not needed as the user is already elevated from a previous command.

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/configure-oracle-golden-gate#start-oracle-listener

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-04-23 20:40] davebirr opened #29935 "Step 10 outdated"
I believe step 10 should now read 'Configure group policy to control device registration'.  Starting in Windows 10 1607, domain joined computers will register as devices with Azure AD automatically at device start or user sign-in provided that the domain has been configured for hybrid Azure Active Directory (SCP object created in configuration naming context)

---
#### Document Details

⚠ *Do not

[2019-04-23 20:44] kgremban commented on #29866
Thanks @binduchinnasamy. I'm making a pull request now to update this article, and will let you know when the changes are available for you to review.

[2019-04-23 20:47] MicahMcKittrick-MSFT commented on #29892
@StannieV I added a link to download .NET 4.8 and added it as an option in the script along with the other versions of 4.8

For the rest of the doc I am keeping it at 4.7.2 as that is a current version that is known to work and 4.8 just released. But this should give people the option to use 4.8 if they want.

Once the PR merges the changes will go live in a few hours.

CC @cynthn @jpconnock

[2019-04-23 20:47] #29892 closed

[2019-04-23 20:56] roaror commented on #16997
@haresh1288 we are constantly working to make improvements on the Cosmos DB's API for MongoDB. In order for us to effectively see whether there would be any implications to your use case using our currently previewed features, it'd be more effective for us to have a detailed conversation around your queries. Could you send an email with this description + your queries so that we can help you out?

[2019-04-23 20:59] larrywa opened #29937 "Is there a way to visually view the counter.txt or counter/CounterService location?"
Since we don't have SF Explorer in mesh, how would you see the file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c1d6c14-cd8d-c75a-50fd-d9c104293c64
* Version Independent ID: 30b1dbc5-cb98-561a-554f-b1c3d0a35fd5
* Content: [Use highly available Service Fabric Reliable Disk Volume in an Azure Service Fabric Mesh app

[2019-04-23 20:59] SergeBerwert commented on #15639
I would love to have that too!

[2019-04-23 21:01] MartinJaffer-MSFT commented on #29819
@nabhishek , what do you think about adding mention of dmgcmd.exe to the doc?  People do regenerate their keys.

[2019-04-23 21:03] MartinJaffer-MSFT commented on #29819
@ricardoserradas , I have assigned this issue to author @nabhishek .

[2019-04-23 21:03] TravisCragg-MSFT commented on #29926
@76mel Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-23 21:04] msangapu-msft commented on #29902
Hi team, I have addressed this internally at: https://github.com/MicrosoftDocs/azure-docs-pr/pull/74346
Will be pushing the changes to master shortly.

[2019-04-23 21:04] TravisCragg-MSFT commented on #29929
@undecided2013 can you post a link to the doc you are referring to?

[2019-04-23 21:09] msangapu-msft commented on #27591
#please-close

[2019-04-23 21:10] TravisCragg-MSFT commented on #15639
@nnasaki @thiezn @daveaglick @SergeBerwert This feature is currently being worked on, and you can [Upvote the Feature Request Here](https://feedback.azure.com/forums/217313-networking/suggestions/35784130-allow-an-http-to-https-redirect-on-azure-front-doo)! You can also make additional suggestions or provide additional as well.

[2019-04-23 21:12] undecided2013 commented on #29929
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-dnsservice

[2019-04-23 21:21] stgeorgi commented on #27773
@fbcarvalho Hi whatever user you are using does not have RDS Owner or RDS Contributor permissions on the WVD tenant and is not able to complete the creation of the WVD host pool

Error in IsAuthorizedAsync(Resources/Tenant/≤RPA_Tenant≥///Read) Exception=Microsoft.RDInfra.Authorization.Common.UserNotFoundException: WVD_50002:  not found.
   at Microsoft.RDInfra.RDBroker.Authorization.RDmiUserIdenti

[2019-04-23 21:21] jeevansd commented on #24858
@scootafire We are planning to release this by end of this week.

[2019-04-23 21:22] cogran opened #29938 "Prerequisites and Direct Internet Connectivity"
"Azure Firewall must have direct internet connectivity. By default, AzureFirewallSubnet should only allow a UDR 0.0.0.0/0 with the NextHopType value set as Internet.
If you enable forced tunneling to on-premises via ExpressRoute or Application Gateway, you may need to explicitly configure a UDR 0.0.0.0/0 with the NextHopType value set as Internet and associate it with your AzureFirewallSubnet. If

[2019-04-23 21:22] wangcai0124 commented on #29928
Please try this in your service.yaml
              volumeRefs:
                - name: testVolume
                  destinationPath: C:\app\data

https://github.com/Azure-Samples/service-fabric-mesh/blob/master/src/counter/src/azurefiles/counterService/Service%20Resources/service.yaml

[2019-04-23 21:23] Mike-Ubezzi-MSFT commented on #29920
@ukiguy Thank you for your inquiry. The current solution is [App Service Environments](https://docs.microsoft.com/en-us/azure/app-service/environment/intro) which gives you a dedicated IP. Otherwise, you can be selective with specific [IP Ranges for a specific data center](https://www.microsoft.com/en-us/download/confirmation.aspx?id=41653) or enable the `Allow Azure services to connect` configura

[2019-04-23 21:26] Mike-Ubezzi-MSFT commented on #29922
@ntachandley Thank you for taking the time to detail this feedback. I am going to assign this feedback to the content author to evaluate and update as appropriate. @CarlRabeler for awareness.

[2019-04-23 21:27] #27928 closed

[2019-04-23 21:29] larrywa commented on #29928
That syntax is what I originally tried to do, on my local cluster, but it gets stuck on the node.

When I try to deploy (F5), if I look in the SF explorer on the node it’s being deployed on, I see:

'System.RAP' reported Warning for property 'IStatefulServiceReplica.ChangeRole(P)Duration'. The api IStatefulServiceReplica.ChangeRole(P) on node _Node_2 is stuck. Start Time (UTC): 2019-04-23 21:26:49

[2019-04-23 21:29] mike-urnun-msft commented on #27928
Hi @james---- We have added changes to this documentation to communicate that reprocessing is guaranteed occur at _**a point in time**_ but not immediately after deleting the blob receipt files.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-23 21:31] mike-urnun-msft commented on #29723
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-23 21:31] #29723 closed

[2019-04-23 21:32] DaveAlberto opened #29939 "What is the "correct account" ?"
The highlighted note indicates a need to be logged on with the "correct account".  Is that my GitHub login, or my azure portal login?  If GitHub account is not the same as my portal access account what should I be using.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Indep

[2019-04-23 21:34] georgewallace commented on #29939
@DaveAlberto if using GitHub, it would be your GitHub account, whatever account you use to connect to your source control.

[2019-04-23 21:35] rloutlaw commented on #28975
Does the content from the ElasticSearch partner documentation help?

https://www.elastic.co/guide/en/cloud/current/ec-migrate-data.html

There's no documentation on Azure docs that covers this migration scenario.

[2019-04-23 21:42] DarqueWarrior commented on #29732
Sorry for the delay I was at a conference. I just checked my file and it did not have the quotes. I was using PowerShell to follow along. I will do some more testing and see if I can track down what the problem is.

[2019-04-23 21:45] rupeshprasad opened #29940 "How do i localize the message in the event when rest API return 409 conflct"
Hi - I am trying to show the message by leveraging 409 http status code. Can you tell me how can i localize it? In order for me to localize i need to pass ui_locales to rest api so that it can return the message accordingly. Is there any way to pass ui_locales to rest api.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-23 21:45] sjlouder commented on #19030
Thanks for the update! I hope it helps others in a similar situation.

[2019-04-23 21:53] Kamyar5353 opened #29941 "My SFTP server has an IP Whitelisting in front of their firewall. I need to provide them the IP that I want to connect to SFTP. I haven't seen anything in Azure Data Factory to provide IR IP. Can you help me with that?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-23 21:54] DarqueWarrior commented on #29732
Found the issue. My file was encoded as "UTF-16 LE" When I changed to UTF-8 everything works now. Not sure how I set it to UTF-16 but that seems to be the culprit.

[2019-04-23 21:56] MartinJaffer-MSFT commented on #29840
@shannonjkbmgf where do you see the words "working branch"?  I just spun up a factory and walked through the Git integration menu, and did not see "working" anywhere.

The 'local' is what you have open in the GUI.  When you click "Save All" , your are pushing to the remote.  When you boot up the GUI, or switch branches, you are pulling from the 'remote' to your 'local' browser.
The 'Debug' spawns

[2019-04-23 21:59] Adam-Smith-MSFT commented on #29919
@falmada Thank you for the valuable feedback,we are investigating the issue.

[2019-04-23 22:04] wangcai0124 commented on #29928
So if you don't use volume, is everything fine?

[2019-04-23 22:05] larrywa commented on #29928
Yes, that is how I started out, with just a simple app.

Then I added the volume features.

Thanks!
larrywa

From: wangcai0124 <notifications@github.com>
Sent: Tuesday, April 23, 2019 6:05 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Larry Wall (AZURE DEV) <Larry.Wall@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Volume [resourc

[2019-04-23 22:10] femsulu commented on #29912
@bmilbauer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@MGoedtel - FYI

[2019-04-23 22:14] femsulu commented on #29910
@RogerDawson, Thanks for the Comment. We are actively investigating and will get back to you soon.

@snehithm - do you have any update on the release timelines for the tool?

[2019-04-23 22:17] MicahMcKittrick-MSFT commented on #29929
@undecided2013 yes you can use DNS service on prem. Are you seeing any issues?

[2019-04-23 22:18] femsulu commented on #29899
@PhilStollery Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-23 22:18] shannonjkbmgf commented on #29840
Hi Martin, thank you for your follow up. To you first question, when you setup the git integration, and you close out Data Factory, and log back in and go to Author, you are presented with the following screen. I didn’t see anything in the documentation regarding this, so I was a bit confused as to what the functionality or intention is here.

[cid:image003.jpg@01D4F9E7.D6433F80]

In regards to th

[2019-04-23 22:21] mike-urnun-msft commented on #29726
Hi @ardonjr Documentation does appear to touch on the CRON fields and what they represent:
![image](https://user-images.githubusercontent.com/36717703/56619691-44525380-65db-11e9-9a57-059d5388d06e.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-23 22:21] #29726 closed

[2019-04-23 22:21] wangcai0124 commented on #29928
ChangeRole stuck doesn't seem to be related to volume feature. Is there any other failure message in SF Explorer? Can you reset the cluster and try again? Can you try different volume name? If non of there works, please share the SF trace under C:\SFDevCluster\Log\Traces

[2019-04-23 22:25] femsulu commented on #29898
@pito2808 thanks for the valuable update. We have noted the feedback and informed the doc owner to review for possible inclusion into the existing content.
@johnkemnetz  - FYI
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-23 22:25] #29898 closed

[2019-04-23 22:26] Jazmine7 commented on #18767
You can access the module twin from within the module without specifying the connection string. The environment variables are also set in the container. You can access the IOTEDGE_IOTHUBHOSTNAME, IOTEDGE_MODULEID,IOTEDGE_DEVICEID by reading the corresponding environment variable.

You can start an IoT Hub Module client and send messages.

Currently I could not find a way to access the device twin

[2019-04-23 22:27] steve-dille opened #29943 "Error in doc"
I think you mean remove Two-Class Support Vector Machine in this section of text not the boosted decision tree...

Modules that were used for training are removed; specifically:
Two-Class Boosted Decision Tree
Train Model
Split Data
the second Execute R Script module that was used for test data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-23 22:30] SaurabhSharma-MSFT commented on #29716
@mexidus To further assist you on this issue I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-04-23 22:33] kgremban commented on #29866
@binduchinnasamy The changes that you suggested are now reflected in the article. Please take another look and close this issue if you feel that it's resolved, or let me know if there's more that I can do. Thank you.

[2019-04-23 22:33] MarileeTurscak-MSFT commented on #29935
@davebirr
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-23 22:33] TravisCragg-MSFT commented on #29938
@cogran This is also c[overed in the FAQ](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#is-forced-tunnelingchaining-to-a-network-virtual-appliance-supported). Does this provide the additional needed clarity?

[2019-04-23 22:39] ealsur commented on #29874
See https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-changefeed-functions#some-changes-are-missing-in-my-trigger

Meaning, if your code throws an unhandled exception, the Function will keep going with the next batch. So you need to catch those potential failures and handle (retry or send them to another storage for post-evaluation).  This is a pattern with most Function Triggers, see

[2019-04-23 22:43] MartinJaffer-MSFT commented on #29823
Thank you for your response @hmayer1980 .  Sounds like I can now close this issue.

The great thing about the hack, is the ability to nest the hack, or the logic contained within.

[2019-04-23 22:43] #29823 closed

[2019-04-23 22:46] TravisCragg-MSFT commented on #29679
@CHDAFNI-MSFT We will be changing this doc for Teams as well.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-23 22:46] TravisCragg-MSFT commented on #28864
@lphomiej We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-23 22:46] #28864 closed

[2019-04-23 22:53] camoisan commented on #19805
Hey all, I was able to workaround  ListByPipelineRun by using the QueryByPipelineRun() function of ActivityRuns:
https://docs.microsoft.com/en-us/rest/api/datafactory/activityruns/querybypipelinerun

Getting this to work was surprisingly simple, the only changes I had to make were to replace ListByPIpelineRun with QueryByPipelineRun, and create a RunFilterParameters object that contained my params

[2019-04-23 22:59] cherylmc commented on #7722
The screenshot shows how you can add additional values. I will add a note clarifying. It is quite common to want to modify values and it was suggested that we add this section. #please-close

[2019-04-23 23:01] cherylmc commented on #7722
I just checked, and there is already a note: If you're creating this configuration as an exercise, refer to these [Example settings](#example-settings) when creating your gateway subnet. #please-close

[2019-04-23 23:22] Karishma-Tiwari-MSFT commented on #29732
Thanks for the update @DarqueWarrior

[2019-04-23 23:22] MarileeTurscak-MSFT commented on #29905
The EMS E3 license includes Azure AD Premium P1 and the EMS E5 license includes P2, so they are interchangeable in that sense (if that is what you're asking).  https://www.microsoft.com/en-us/licensing/product-licensing/enterprise-mobility-security

[2019-04-23 23:25] femsulu commented on #29932
@Eldorian please let us know if George's update solves your issue.

[2019-04-23 23:52] YutongTie-MSFT commented on #29943
@steve-dille
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 23:55] cogran opened #29946 "A/A IPSEC Configuration"
With a single local network gateway attempting to configure an A/A S2S VNG, it was rather difficult to find this information within this page. The overall layout is rather condensed and the three scenarios are rather similar leading to some confusion. The secondary IP for single on-prem device should be called out better that it is configured as an IPSEC connection from the on-premise device such

[2019-04-24 00:03] RowdyChildren opened #29947 "Wording about reasons to use Hybrid Azure AD Join"
[code]

[2019-04-24 00:05] MartinJaffer-MSFT commented on #29840
@shannonjkbmgf A few things.
1 For Your Information, pictures sent in email replies do not show up properly in GitHub.
2 You can choose which branch you are working on, and later make a pull request.  This way you do not save to origin.
![image](https://user-images.githubusercontent.com/46612670/56622679-f1ca6480-65e5-11e9-8b91-842526abea06.png)
By creating branch ShannonFeat , and then branch Sha

[2019-04-24 00:10] kazshi commented on #29459
@jakaruna-MSFT Thank you for the clarification. Closing.

[2019-04-24 00:15] larrywa commented on #29928
I've tried this on two different machines, two different versions of the SF SDK. I tried resetting the cluster and then changing the name of the share.

What happens when you try the repro steps I described above?

[2019-04-24 00:24] tfosmark commented on #21894
It appears that the author has answered the question, so I'm closing this issue. Thanks!

[2019-04-24 00:24] #21894 closed

[2019-04-24 00:25] tfosmark commented on #21795
It appears the question has been answered, so I'm closing this. Thanks!

[2019-04-24 00:25] #21795 closed

[2019-04-24 00:27] Nking92 opened #29948 "App Service Move help - AppLens Migration detector"
Recently a customer was trying to move their App Service resources to a different subscription, but could not figure out what the original resource group name was. App Service resources must be in the original resource group before they can be migrated to a new subscription.

There is an AppLens detector to help with this kind of issue. It gives actionable information about what needs to be fixed

[2019-04-24 00:30] wangcai0124 commented on #29928
When I try the repro steps, SFX report "mount failure" because I don't use valid StorageKey. Can you share the SF trace under C:\SFDevCluster\Log\Traces?

[2019-04-24 00:35] larrywa commented on #29928
The file is too large, even zipped. Unless you have another way to grab it.

Or just create a storage account with a file share to try it.

[2019-04-24 00:40] kazshi commented on #29796
@KalyanChanumolu-MSFT Thanks for your verification. Currently only the information in my initial comment is all what I got from my customer, I will ask the customer to provide more information.
I understand "UserID = 'USER@YOUR-SERVER.mysql.database.azure.com'," format is valid from your comment, I'll ask my customer to use the format if they had the error.  Thanks.

[2019-04-24 00:41] MicahMcKittrick-MSFT commented on #29897
Thanks for the update @pvpatel777

[2019-04-24 00:42] MicahMcKittrick-MSFT commented on #29934
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-24 00:43] MicahMcKittrick-MSFT commented on #29937
Thanks for the question! We are investigating and will update you shortly.

#29937
#29928

[2019-04-24 00:45] wangcai0124 commented on #29928
1. Remove cluster
2. Delete this folder
3. Create a new cluster and repro
Then the folder should be small enough to share.

[2019-04-24 00:47] MicahMcKittrick-MSFT commented on #29937
@larrywa I am going to close this out since you are already engaged with the SF team on #29928 and it is related.

[2019-04-24 00:47] #29937 closed

[2019-04-24 00:47] MicahMcKittrick-MSFT commented on #29928
@dkkapur @wangcai0124 assigning this one to you both since you are working on it already.

Also, @larrywa is an FTE so feel free to close this and take it offline. Also opened #29937 which is related to this one. I closed that one out.

[2019-04-24 00:48] #29925 closed

[2019-04-24 00:49] larrywa commented on #29928
What is 'this' folder? the Traces folder?

[2019-04-24 00:53] larrywa commented on #29937
Actually this is a different question. This question is about how to find the store location, the other question is about in issue with code directly from the docs not working in a simple app.

Thanks!
larrywa

From: Micah <notifications@github.com>
Sent: Tuesday, April 23, 2019 8:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Larry Wall (AZURE DEV) <Larry.Wall@microsoft.co

[2019-04-24 00:53] SubhashVasarapu-MSFT commented on #29946
@cogran , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-24 01:05] Humour0625 commented on #29790
@shashishailaj    Thanks for your response, it's really helpful.
I open a new issue here
https://social.msdn.microsoft.com/Forums/azure/en-US/0495b414-c3ab-4f7c-bb6d-d873ed5288c4/can-not-get-the-users-photo-using-graphserviceclient-or-graph-explorer?forum=WindowsAzureAD

[2019-04-24 01:05] #29790 closed

[2019-04-24 01:15] BharathNimmala-MSFT commented on #29825
@yegu-ms - Please help evaluate the query and update as appropriate.

[2019-04-24 01:18] g0pinath commented on #17492
Sujith and Travis - This worked like a charm, where we dont have touch the APPGW, just defining the ingress rules in YAML file will do the magic behind the scenes.
https://azure.github.io/application-gateway-kubernetes-ingress/

Thanks
Gopinath T

[2019-04-24 01:21] BharathNimmala-MSFT commented on #29885
Assigning this to Product PM and Doc Author to evaluate and update as appropriate.

[2019-04-24 01:23] carlfm01 commented on #29190
Thanks for your help @jakaruna-MSFT

[2019-04-24 01:25] wangcai0124 commented on #29928
C:\SFDevCluster\Log\Traces

[2019-04-24 01:25] BharathNimmala-MSFT commented on #29926
Assigning this to Product PM and Doc Author to evaluate and update as appropriate.

[2019-04-24 01:27] BharathNimmala-MSFT commented on #29830
Assigning this to Product PM and Doc Author to evaluate and update as appropriate.

[2019-04-24 01:28] BharathNimmala-MSFT commented on #29883
Assigning this to Product PM and Doc Author to evaluate and update as appropriate.

[2019-04-24 01:37] gcormier opened #29949 "What is the point of output folder?"
Step 5

` make install DESTDIR=&lt;output folder&gt;

What is the point of output folder? What do we do with it? Where should we install?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9ba71b2-2d05-f463-740d-fd96c2a2220b
* Version Independent ID: 4b38f105-4791-fa76-b738-b0039837b180
* Content: [DPDK in an Azure Linux

[2019-04-24 01:49] larrywa commented on #29928
[Traces.zip](https://github.com/MicrosoftDocs/azure-docs/files/3110223/Traces.zip)

[2019-04-24 01:50] laxmanrb commented on #29949
Option to provide preferred path to install binaries.

[2019-04-24 01:56] gcormier commented on #29949
Should it not be just the root directory so the modules are available?

[2019-04-24 02:03] laxmanrb commented on #29949
By default it goes to root. If anyone wants to create subfolder within root(/) or any user specific folder under certain privileges for any application which is looking for can leverage this  option to install.

[2019-04-24 02:03] laxmanrb commented on #29949
#please-close

[2019-04-24 02:04] gcormier commented on #29949
Okay, but the documentation is not clear on that point.

[2019-04-24 02:04] jtwalters25 opened #29950 "Typo"
Step two of the 'Locate dump file and submit a support ticket' section has a typo.  'th' instead of 'the'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56f720c5-73c2-2683-18ac-61b7381c06b9
* Version Independent ID: 358b485c-c0cb-ac3e-a9d4-11477fb70366
* Content: [Blue screen errors when booting an Azure VM](https://do

[2019-04-24 02:21] Grace-MacJones-MSFT commented on #29703
Hi @Juliako, any insight on this question?

[2019-04-24 02:22] fan130 commented on #29886
Our IR has already installed .NET framework 4.6.1, which is an in-place upgrade of .NET 4. Have you tried to GAC your dlls via custom setup script?

[2019-04-24 02:27] kb321 opened #29951 "Azure Storage API not shown in US Gov Cloud"
When following these instructions using a commercial subscription, I can see the Azure Storage API when searching.

When following these instructions using a US Gov subscription, I **cannot** see the Azure Storage API when searching.

Please advise if this is intentional or the result of a misconfiguration.

Thank you

[2019-04-24 02:27] jispar commented on #29580
Hello @jinzejian - we are currently working on enabling AFD service tag for NSG. Rough ETA is Q3'19. Thank you.

[2019-04-24 02:28] fan130 commented on #29878
Usually you don't need to install .NET framework by yourself. SSIS IR has already installed .NET 4.6.1 (or higher)

[2019-04-24 02:30] git-Kev opened #29952 "Azure Storage API not shown in US Gov"
When following these instructions using a commercial subscription, I can see the Azure Storage API when searching.

When following these instructions using a US Gov subscription, I cannot see the Azure Storage API when searching.

Please advise if this is intentional or the result of a misconfiguration.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-04-24 02:30] #29951 closed

[2019-04-24 02:30] kb321 commented on #29951
Opened directly on doc in question.

[2019-04-24 02:30] mganeshphani opened #29953 "Can we configure Azure Advisor to work on Memory for VMs?"
Hello,

Looks like the advisor by default works on recommendations based upon CPU utilization
How can we make it work on memory recommendations?

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8086372f-e9cf-ff9a-2f68-2cd43849b36a
* Version Independent ID: e42773fe-d1cf-08fc-3018-068b01951922
* Content: [View

[2019-04-24 02:34] jinzejian commented on #29580
Noted, thanks @jispar !

[2019-04-24 03:12] JerryWang20 commented on #29876
i found the original issue come from the Azure-CLI, then i upgrade the Azure Cli to the lastest version of 2.0.63. But it still does not work but return a different error:
Downloaded to C:\Users\u587212\AppData\Local\Temp\tmpenn_0583\dev_spaces-1.0.0-py2.py3-none-any.whl
Validating the extension C:\Users\u587212\AppData\Local\Temp\tmpenn_0583\dev_spaces-1.0.0-py2.py3-none-any.whl
Invalid checksum

[2019-04-24 03:20] AjayKumar-MSFT commented on #29921
@Vask006, Thanks for the question! We are investigating and will update you shortly.

[2019-04-24 03:24] AjayKumar-MSFT commented on #29930
@ryanlengel, Thanks for bringing this to our attention.  We are taking a look into this and will get back to you soon.

[2019-04-24 03:31] AjayKumar-MSFT commented on #29923
@cogran, Thanks for the great feedback! We are taking a look into this and will get back to you soon.

[2019-04-24 03:32] MarkAtAgilliance opened #29954 "Confusing note in avoiding AIM read setting."
This text is not clear.  (MSI section in the "Important" blue note)
" If you want to avoid this IAM role, explicitly create an Azure integration runtime with the location of Data Lake Store. Associate them in the Data Lake Store linked service as the following example."

Need to explain what "create an Azure integration runtime with the location of Data Lake Store" means".

When you create an inte

[2019-04-24 03:42] SubhashVasarapu-MSFT commented on #29949
@laxmanrb Do we need to update the document ?Please provide your insights on this.

[2019-04-24 04:02] karlochacon commented on #10516
hi guys the command using Az is not working,
# Get-AzNetworkInterface | where-object { $_.VirtualMachine -eq $null } | Remove-AzVMNetworkInterface
:::::: ouput
Remove-AzVMNetworkInterface : The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any
of the parameters that take pipeline i

[2019-04-24 04:09] YASWANTHM-MSFT commented on #29952
@kb321, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-24 04:10] CHEEKATLAPRADEEP-MSFT commented on #29847
@camoisan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-24 04:10] #29847 closed

[2019-04-24 04:13] CHEEKATLAPRADEEP-MSFT commented on #29933
@jdecowski18 Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-24 04:15] ManojReddy-MSFT commented on #29781
@rpodric I understand there has not been much progress regarding this. I have shared my feedback with the product team directly as well.

We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-24 04:15] #29781 closed

[2019-04-24 04:16] ManojReddy-MSFT commented on #29579
@LarsKemmann We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-24 04:16] #29579 closed

[2019-04-24 04:24] ManojReddy-MSFT commented on #29870
@diwsun Thanks for the confirmation. I am assigning this to the author to validate this and update the doc accordingly.

@rkarlin Can you please confirm if GA will get these alerts by default from all the subscriptions linked to that tenant ?

[2019-04-24 04:25] DashleenBhandari-MSFT commented on #29628
@syuraj , I have not heard back from you in a couple of days. Please let me know if you still need assistance.

[2019-04-24 04:26] swanderz opened #29958 "Waiting with bated breath for the 1.0.30 release notes"
When can we learn what is new?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a394fa-db82-07f5-caae-8f837fcd950f
* Version Independent ID: 50d10215-439a-b050-642b-d729bf53647f
* Content: [What's new in the release? - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-learning/service/azure

[2019-04-24 04:32] omnekkanti commented on #24032
I have it in the folder that is open in vscode but still not working

[2019-04-24 04:32] barbkess commented on #24510
@MicrosoftDocs/azure-cxp-triage : Please assign to @CelesteDG

[2019-04-24 04:48] Anmolgan81 commented on #29886
How can I try that?

Regards
Anmol Ganju

________________________________
From: Bo Fan <notifications@github.com>
Sent: Wednesday, April 24, 2019 7:53:02 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How can I install .NetFramework 4 onto the Azure SSISDB? (#29886)

Our IR has already installed .NET framework 4.6.1, which is an in-place upgrade of

[2019-04-24 04:49] karlochacon opened #29959 "Remove unattached NICs not working"
hi guys the command using Az is not working to remove NICs in unattached status the remove-AzVMNetworkInterface asks for VM name when VM name is null

any idea how to fix it?

# Get-AzNetworkInterface | where-object { $_.VirtualMachine -eq $null } | Remove-AzVMNetworkInterface

:::::: ouput
Remove-AzVMNetworkInterface : The input object cannot be bound to any parameters for the command either beca

[2019-04-24 04:54] #29874 closed

[2019-04-24 04:57] RohitMungi-MSFT commented on #29958
@swanderz Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-24 04:58] CHEEKATLAPRADEEP-MSFT commented on #29941
Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN](https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1556081703&rver=6.7.6640.0&wp=MBI_SSL&wreply=https:%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread%3Fprof%3Drequired%26stoAI%3D10&id=254354) or [Sta

[2019-04-24 05:05] msrini-MSFT commented on #29862
@jinzejian , We don't have any ETA for this, Going forward it will be considered. Thank you for providing your feedback.

[2019-04-24 05:05] #29862 closed

[2019-04-24 05:06] fan130 commented on #29886
Please attach to the storage SAS URI provided in this document, which contains several custom setup script examples. You can find the example of using gacutil in "Sample" folder

[2019-04-24 05:07] KetanChawda-MSFT commented on #29863
@kudlatiger We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 05:08] SumanthMarigowda-MSFT commented on #29644
@jaypatrick Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-24 05:08] #29644 closed

[2019-04-24 05:12] SumanthMarigowda-MSFT commented on #29833
@tonio-lora : Are you still facing any issue, To understand the issue better, could you please provide more details on the issue you are experiencing? Do point any specific step or document section that you’re unable to follow? Also, kindly do share a screenshot of the issue after concealing any private details. Looking forward to your reply.

[2019-04-24 05:15] SumanthMarigowda-MSFT commented on #29834
@yzheng-msft Could you please add your comments here

[2019-04-24 05:16] AjayKumar-MSFT commented on #29613
@mlimache02, As mentioned in the document 'Tip' - App Service Certificates can be used for any Azure or non-Azure Services and is not limited to App Services.  Yes, you could create a local PFX copy of an App Service certificate that you can use it anywhere you want. For more information, see Creating a local PFX copy of an App Service Certificate [blog](https://blogs.msdn.microsoft.com/benjaminpe

[2019-04-24 05:16] #29613 closed

[2019-04-24 05:18] SumanthMarigowda-MSFT commented on #29841
@jofrance  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-24 05:23] msrini-MSFT commented on #29950
@jtwalters25 , Thank you for providing your feedback. PR has been made.

Reference: https://github.com/MicrosoftDocs/azure-docs-pr/pull/74428

[2019-04-24 05:23] #29950 closed

[2019-04-24 05:23] neeleshray commented on #29947
@RowdyChildren
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-24 05:24] neeleshray commented on #29940
@rupeshprasad
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-24 05:25] neeleshray commented on #29924
@cogran
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-24 05:27] nnamedieh opened #29960 "QnA Maker IAM"
Hi all, I wanted to know if there's a chance to let my colleagues edit an existing knowledgebase which I created through qna maker portal? Or am I the only person who can edit knowledgebases which I created? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb10c01-db1f-1c61-f5cd-857df2b7fbd8
* Version Indepen

[2019-04-24 05:28] tkumark opened #29961 "Profiler for asp .net core for windows"
Could you please update the document that Profiler for asp .net core for windows is not supported. I am running asp .net core. I am running asp .net core service fabric in this Profiler does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20504526-20b8-40c2-e7bc-85a9ef46de83
* Version Independent ID: 684b7dcb-

[2019-04-24 05:34] SubhashVasarapu-MSFT commented on #29959
@karlochacon , Could you please share the document that you are referring to?

[2019-04-24 05:38] karlochacon commented on #29959
I initially found this for Azure CLI but not Power Shell equivalent

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/find-unattached-nics

after that I found this one for Power shell... well not the same for according to the guys it worked
that command I just modified with Az commands is in the feedback section

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/find-unatt

[2019-04-24 05:39] Anmolgan81 commented on #29886
So I should insert the gacutil components on the storage account? From the sample? If IR has the updated .net framework 4.5.1 will it cause issues when we install v3.5 again?

Running the gacutil will install the missing libraries?

Regards
Anmol Ganju

________________________________
From: Bo Fan <notifications@github.com>
Sent: Wednesday, April 24, 2019 10:37:11 AM
To: MicrosoftDocs/azure-docs

[2019-04-24 05:40] ManojReddy-MSFT commented on #29751
@unmeshM I understand. Thanks for the clarification. It can be made available to other applications as well. When you add it explicitly in the "Authorized client applications" , consent is not required.

[2019-04-24 05:48] ManojReddy-MSFT commented on #29931
@ChainReactive Thanks for the valuable feedback. I am assigning this to the author to validate and update the doc accordingly.

[2019-04-24 05:58] RohitMungi-MSFT commented on #29960
@nnamedieh Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-24 05:58] AjayKumar-MSFT commented on #29951
@kb321, Thank you for the update. Much appreciate for leveraging the Azure feedback channel.

[2019-04-24 06:01] RohitMungi-MSFT commented on #29767
@demongolem Thanks for posting the request at uservoice forum. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 06:01] #29767 closed

[2019-04-24 06:03] RohitMungi-MSFT commented on #29785
@se-augustus We hope you are able to use the API's correctly for your testing. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 06:03] #29785 closed

[2019-04-24 06:04] fan130 commented on #29886
Yes, gacutil is used to install dlls to GAC. You can find it in your own machine as long as your machine has installed Visual Studio.
.NET 3.5 and .NET 4 can be installed side by side.

[2019-04-24 06:07] Anmolgan81 commented on #29886
So will the azure ssisdb able to install the gac components even though it does not have visual studio?

Regards
Anmol Ganju

________________________________
From: Bo Fan <notifications@github.com>
Sent: Wednesday, April 24, 2019 11:34:35 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How can I install .NetFramework 4 onto the Azure SSISDB? (#29886

[2019-04-24 06:11] RohitMungi-MSFT commented on #29765
@omnekkanti We hope you are able to correct the issue on your computer by using the correct version of pip for conda.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 06:11] #29765 closed

[2019-04-24 06:12] fan130 commented on #29886
Nope, you need to copy it from your local machine to your storage container, and IR will download it together with main.cmd and execute main.cmd. Please read this document for how to use custom setup script.

[2019-04-24 06:12] Weishaupt commented on #26598
@CHEEKATLAPRADEEP-MSFT any update?

[2019-04-24 06:16] ManojReddy-MSFT commented on #29923
@cogran Thanks for the valuable feedback. JIT is not continually monitoring the policies, it will be updated only after the time allowed in the JIT policy expires.

I am assigning this to the author to vlaidate this with the product team and consider adding this to the FAQ section.

[2019-04-24 06:17] RohitMungi-MSFT commented on #29960
@swanderz QnA Maker allows multiple people to collaborate on a knowledge base. This feature is provided with the Azure Role-Based Access Control from Azure portal. Please check this [documentation ](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/collaborate-knowledge-base)for more details.

[2019-04-24 06:26] Anmolgan81 commented on #29886
You mean copy the gacutil components nto storgae container should do it?

Regards
Anmol Ganju

________________________________
From: Bo Fan <notifications@github.com>
Sent: Wednesday, April 24, 2019 11:42:18 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How can I install .NetFramework 4 onto the Azure SSISDB? (#29886)

Nope, you need to copy it fr

[2019-04-24 06:35] MSSedusch commented on #29879
@rdeltcheva can you please update the article? Thanks

[2019-04-24 06:42] StannieV commented on #29892
Thanks!

[2019-04-24 06:42] kazshi opened #29963 "IP address change notification"
For a notification of IP address change, I assume the following description (copied from "Handling planned maintenance notifications for Windows virtual machines") applies to the IP address change notification, is it correct? I would like to make sure that since it's not described in this page explicitly.  Thanks.

"By default, notification is sent to subscription owner and co-owners. You can add

[2019-04-24 06:56] aquibqureshi26 commented on #26106
Hi,
Just following up to check.

Regards,
Aquib

[2019-04-24 07:04] julesman101 opened #29964 "Update Needed to Supported PaaS Features?"
I am seeing recommendations for additional PaaS services over and above those listed in the "Supported PaaS Features" table in this doc.  These include recommendations for:
1. Azure Search Service
2. Azure Service Bus
3. Azure Stream Analytics
4. Azure Logic Apps
5. Azure IOT Hubs
6. Azure Redis
7. VM Scale Sets
Should these also be added to the list of PaaS services?
Thanks... JD

---
#### Docume

[2019-04-24 07:11] victorwangwinmate commented on #29629
The new issue is created on the other thread, please refer to below link.
[New thread](https://github.com/Azure/iotedge/issues/1123)

[2019-04-24 07:14] SnehaAgrawal-MSFT commented on #29869
@ErikAndreas Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-24 07:14] nnamedieh commented on #29960
Hi @RohitMungi-MSFT , that was exactly what I was looking for. Thanks!

[2019-04-24 07:15] msvijayn commented on #29899
@rboucher @bwren - it seems some recent merges/changes done by content team has broken some sections of the file and introduced the issue raised by user. [The update on Feb 8 by v-kents](https://github.com/MicrosoftDocs/azure-docs/blob/ab0df8fa672ab89cd3054c5694f8cbb185cdb859/articles/azure-monitor/platform/alerts-log.md), didn't have this issue. But the article was broken in subsequent updates do

[2019-04-24 07:17] kobulloc-MSFT commented on #29961
@tkumark Thank you for reaching out to us!  The document you opened this issue on is a Linux document.  I'll follow up with the document author to make sure this is clearer moving forward.  In the meantime, the following may be helpful:

https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/847

[2019-04-24 07:27] Flodu31 commented on #28080
Hi,
Any update on this?
Thanks.
Florent

[2019-04-24 07:32] deploymentking commented on #15745
It seems that you can now point an apex record at an Alias record set and use the Alias type of Front Door. However, when I try and select the Front Door resource that appears in the list, a Resource Not Found error is thrown. Which is odd as it was able to show the Front Door resource in the drop down list??

[2019-04-24 07:37] javkhalidskipton opened #29966 "Results are not shown or white screen"
not able to see the output result is blank. Tried to open on codepen website but the behaviour is same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a89dee1-1b00-aab1-efa6-3c4285d18f3c
* Version Independent ID: 2164fd94-53f7-e769-68e7-f6544eef5c73
* Content: [Map style functionalities in Azure Maps](https://docs.mic

[2019-04-24 07:37] CHEEKATLAPRADEEP-MSFT commented on #29563
@yokofms Could you ask your question in forums along with the description and screenshot of the error message to investigate further.
[https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices).

[2019-04-24 07:38] CHEEKATLAPRADEEP-MSFT commented on #29563
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-24 07:38] #29563 closed

[2019-04-24 07:40] Anmolgan81 commented on #29886
Thanks for this, so installing GAC componenets will also install "Renci.sshnet" Version=2016.1.0.0" ???

[2019-04-24 07:40] TuomoAn commented on #15134
It also seems, that you can't use a Premium Storage Account. Storage Account would not appear until I created one with Standard tier.

[2019-04-24 07:45] femsulu commented on #29948
@Nking92 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-24 07:47] PramodValavala-MSFT commented on #29791
@philemon33 Just following up here... Hope my previous comment helps.

[2019-04-24 07:47] Alexei-B opened #29967 "No Mention of TLS Version Support"
It would be nice if this page listed the TLS version support for each of the products. Or, if it isn't appropriate here, then somewhere else on this product's documentation.

For those who are wondering:
* Microsoft (Standard) CDN (as of writing) supports TLS 1.0, 1.1, and 1.2.
* Version & Akamai only support TLS 1.2.

Note, I did not check for TLS 1.3 support.

This should be mentioned somewhere

[2019-04-24 07:47] femsulu commented on #29953
@mganeshphani Thanks for the Comment. We are actively investigating and will get back to you soon.

@kasparks , any input pls?

[2019-04-24 07:51] fan130 commented on #29886
No, you should install Renci.sshnet.dll to GAC via gacutil

[2019-04-24 07:54] Anmolgan81 commented on #29886
can we do a skype/teams meeting to get this clarified? I have a support ticket but I havent assigned any engineer from yesterday. Or can you tell me what is the process of installing RENCI.sshnet.dll??

[2019-04-24 07:55] Anmolgan81 commented on #29886
Do I need to put the .dlls into the gacutil>1033 folder?

[2019-04-24 07:58] katafractari commented on #15639
A tip from Nathan J. Robinson's comment on the feature upvote page worked for me:

[2019-04-24 08:02] fan130 commented on #29886
Seems you are not very clear with some basic steps, and since you have already opened a support ticket. Please wait and our support engineer will help you on your case. Thanks for your patience.

[2019-04-24 08:10] Anmolgan81 commented on #29886
I know I am not clear with the steps for installing a custom .dll, what is we need to do in order to solve it, are there additional steps to be taken that are not provided in the documentation? We are waiting on the support engineer from yesterday but no engineer has been assigned.

[2019-04-24 08:15] matedemorphy opened #29969 "Do not creates site/wwroot folder"
Hi, i'm newbie, and i'm really stuck. I add the "start": "node server.js" to the package.json, perform the deploy but although the process ends ok, i get this error in my web ":( Application Error". besides the site/wwroot folder wasn't created.

[2019-04-24 08:17] talktovishal commented on #23166
hi @rboy1 ,

I wanted to update you on the status of the v2 plans. We had a detailed discussion today and based on feedback from you and our other developers of the v2 api, we decided to make v2 available side-by-side v3. Please refer to the blog post for more details. https://www.microsoft.com/en-us/translator/blog/2019/04/23/translator-text-api-version-2-will-continue-to-be-available-alongside-v

[2019-04-24 08:22] tanujbhakre opened #29970 "Integrate Apache Kafka Connect support on Azure Event Hubs (Not Working)"
Integrate Apache Kafka Connect support on Azure Event Hubs
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-kafka-connect-tutorial

Was going through the above tutorial and it does not work.

I can see SSL handshake is successful, after fetching API version Kafka cluster id is null and Kafka initiates close operation and forces a hard shutdown for KafkaAdminClient.

Please find below t

[2019-04-24 08:22] swinarko commented on #29886
Could you send a Skype/Teams invite to ExtendAzureSSIS@microsoft.com?  THX

[2019-04-24 08:26] Anmolgan81 commented on #29886
Just sent the invite to  ExtendAzureSSIS@microsoft.com

[2019-04-24 08:29] Sethu2488 opened #29971 "Is websocket supported in Azure Front Services"
Is websocket supported in Azure Front Services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure Front Door Service](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-overview)
* Content Source:

[2019-04-24 08:33] MohitDhingra-MSFT commented on #29792
Hi @Humour0625,

You can use the above approach but as a good practice when you are signing out, clear tokencache with"authContext.TokenCache.Clear()" method.
As the above code is working for you, so I am closing this issue now.

Thank you.

[2019-04-24 08:33] #29792 closed

[2019-04-24 08:35] kudlatiger commented on #29863
@KetanChawda-MSFT    Thanks for the response. but my question was around CA certificate validation

[2019-04-24 08:36] CHEEKATLAPRADEEP-MSFT commented on #29921
@Vask006 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-24 08:45] a-micons commented on #24770
Hello team, is there any update on this?
I would like to know if each targeted user should have an Azure AD Premium license? If so, can this documentation be updated as well?

[2019-04-24 08:47] neeleshray commented on #29858
We would suggest you to create a [Billing & Subscription Ticket](https://azure.microsoft.com/en-in/support/create-ticket/) for the same.

[2019-04-24 08:47] #29858 closed

[2019-04-24 08:49] Flodu31 opened #29972 "Azure MFA for users"
Hello,

Any possibility to have MFA supported for users? When I've a user with MFA, I've the following error:

Your computer can't connect to the Remote Desktop Gateway server. Contact your network administrator for assistance.

And it works fine with a user without MFA.

Thanks.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-04-24 08:51] neeleshray commented on #29947
@MicrosoftGuyJFlo
Kindly have a look into the document for the same.

[2019-04-24 08:54] msrini-MSFT commented on #29971
@Sethu2488 , Thank you for posting your question here. I will check and get back to you shortly.

[2019-04-24 08:57] DashleenBhandari-MSFT commented on #29628
@syuraj , I will go ahead with the closure of this issue. Feel free to reopen the issue if you still need assistance.

[2019-04-24 08:57] #29628 closed

[2019-04-24 08:59] msrini-MSFT commented on #29967
@Alexei-B , Thank you for your feedback. I will assign this issue to the author to validate and update the documentation.

[2019-04-24 08:59] o-l-a-v opened #29973 "Field "identity.type" does not work"
[Documentation](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#fields) says you can use field "identity.type" for custom Azure Policy definitions.

In my experience it does not work. I tried following simple policy to prove it (deny users to create resource groups):
[code]

Even the Azure portal says this field won't work:
![Policy](https://user-images.githu

[2019-04-24 09:00] bfrankMS commented on #26097
I had the same problem. For the azure account I used the default policies could not be set. Maybe I had multiple subscriptions, AAD or it was just the MSDN login that caused the problem. This code helped me to successfully set the policy and generate a key:
    $Permissions2Keys                        = @('get', 'create', 'delete', 'list', 'update', 'import', 'backup', 'restore', 'recover')
    $P

[2019-04-24 09:03] msrini-MSFT commented on #29853
@cogran , Do you have any update for me?

[2019-04-24 09:09] wawyed commented on #29911
Hi @SaurabhSharma-MSFT I've done as requested https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37457182-support-post-openid-connect-authentication-request

[2019-04-24 09:11] Klaas- opened #29974 "Hardware availability set mixing"
Hi,
so this means I can always put the same Hardware series into the same availability set but I can't mix hardware series other than the ones noted here?
Example: I can put Standard_B2s and Standard_B8ms into an availability set but not mix B-Series with Dsv3-series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9fb1

[2019-04-24 09:12] DashleenBhandari-MSFT commented on #29969
@matedemorphy , How are you trying to deploy the Node app. Are you trying to deploy the app to Azure App Services?Could you please provide the complete error message and steps you followed to deploy the app?

[2019-04-24 09:17] SubhashVasarapu-MSFT commented on #29959
@karlochacon , Can you try with this command for removing ghosted nic's,
Get-AzNetworkInterface | where-object { $_.VirtualMachine -eq $null } | Remove-azNetworkInterface

[2019-04-24 09:20] rajb865 commented on #29478
Hi @erich-wang,  I dont know the reason but it is working now. may be due to opening the port in the firewall.

below is the output

`Start to create client with MQTT protocol
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Client created

[2019-04-24 09:21] ChiragMishra-MSFT commented on #29886
@fan130 and @swinarko Thanks for leaning in to help here.

@Anmolgan81  since you have already opened a support ticket, please wait and our support engineer will help you on your case. I will now proceed to close this thread. However, feel free to still comment if you have any queries on the same.

[2019-04-24 09:21] #29886 closed

[2019-04-24 09:29] SnehaAgrawal-MSFT commented on #29963
@kazshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-24 09:33] DixitArora-MSFT commented on #29970
@tanujbhakre Thank you for your feedback! We will review and update as appropriate.

[2019-04-24 09:36] CHEEKATLAPRADEEP-MSFT commented on #29954
@MarkAtAgilliance Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-24 09:39] haresh1288 commented on #16997
*Hi,*

*Below is my sample document,*

*{    "_id" : ObjectId("5cb994c7077cca3e1f5f603a"),    "Type" : "E",
"EventID" : "2695",    "partitionId" : 1,    "Time" : "02,05,06",
"EventClass" : "9003",    "UnitID" : "2",    "Date" : "04-03-2019",
"Message" : "sending show_error(0) to jssh failed.",    "Timestamp" :
"1551683106",    "Record" : NumberLong(1555666119562)}*

*db.events.aggregate([   {    $

[2019-04-24 09:44] jakaruna-MSFT commented on #29974
Thanks for the question! We are investigating and will update you shortly.

[2019-04-24 09:45] AshokPeddakotla-MSFT commented on #29966
@javkhalidskipton Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-04-24 09:45] CHEEKATLAPRADEEP-MSFT commented on #29878
Closing as duplicate, as the issue was addressed here #29886

[2019-04-24 09:46] #29878 closed

[2019-04-24 09:52] Anmolgan81 commented on #29886
Hi @swinarko and @fan130 We just added the componenets to Azure SSISDB and the Azure SSISDB is executing successfuly so I think we will use the same process for installing the .dll in all the components.

[2019-04-24 09:54] JerryMWeeks opened #29975 "On completion Sudo fail: sudo: PAM authentication error: Conversation error"
Firstly this was (is?) brilliant, and extremely useful.
But - I have now just built 3 seperate Ubuntu VMs (two via Azure Portal, and the last via the above az cli) They all fail with "sudo: PAM authentication error: Conversation error" once successful sss -l … has logged me in. The usual next step is to sudo to apply the apps required, firewall etc. I tried su - and get offered a login, but have n

[2019-04-24 09:55] SumitMeh commented on #29868
Hi @KalyanChanumolu-MSFT , any update on this.

[2019-04-24 09:57] ianyian opened #29976 "Development environment should not be enabled in deployed applications"
# failed after publish my first web application
Development Mode
Swapping to Development environment will display more detailed information about the error that occurred.

## no solution

i have been google some hours but no luck, even added ASPNETCORE_ENVIRONMENT Development parameter in "Application settings (Classic)". and also
added below setting in "web deploy.pubxml" also no luck.
PreserveCo

[2019-04-24 10:05] blueelvis commented on #28976
@femsulu - Thanks! I just sent out the email containing the details about this and referred to this issue. The new change looks good as well.

[2019-04-24 10:10] rayne-wiselman commented on #29731
@johnwildes Thanks for the feedback. We're working on this and I'll add an update here when it's ready.

[2019-04-24 10:15] rayne-wiselman commented on #29649
@sujayt Hi, can we update  the script to use the Az module. Thx

[2019-04-24 10:16] SadiqhAhmed-MSFT commented on #29973
@o-l-a-v Thanks for sharing your experience! We've shared your feedback with the content author for further review and update as appropriate.

@DCtheGeek FYI.

[2019-04-24 10:20] gerhardcit commented on #16997
@haresh1288 , save yourself a ton of time, pain and frustration, and sign up with Atlas Mongo DB hosted on Azure. All your mongo problems will go away and you still have the best of both worlds. Apps running on Azure (we have about 100 of them) talking to your real mongo DB on the same network. It works like a dream.

[2019-04-24 10:25] SadiqhAhmed-MSFT commented on #29649
@Daya-Patil We will update the script to work with AZ module soon. In the meanwhile, you can use AzRM modules as a workaround.

[2019-04-24 10:25] SwayTex commented on #15134
Okay, i could replicate the issue several times, mostly because we have auto-startup and auto-shutdown of several machines, and when the azure agent it isn't reporting the VM Stays in a "Hanging" status, you must redeploy or start/stop the VM, as soon the VM it will have a status, all the storage accounts that meet the requirements for the VM restore, they will appear. It might be a bug.

[2019-04-24 10:28] jakaruna-MSFT commented on #29974
@Klaas- I think that page needs an update.
You can use the below command to get the available VM Sizes for that particular availablity set.
[Link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-availability-sets#check-for-available-vm-sizes).
`Get-AzVMSize -ResourceGroupName "myResourceGroupAvailability" -AvailabilitySetName "myAvailabilitySet"`

When we create an availab

[2019-04-24 10:29] Daya-Patil commented on #29649
Please close this

[2019-04-24 10:30] matedemorphy commented on #29969
@DashleenBhandari-MSFT Hi, first i followed this guide https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-nodejs and get "Parameter resource_group_name must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'" error, then with this guide https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment but it doesn't work, nothing happens although the deploy

[2019-04-24 10:30] SadiqhAhmed-MSFT commented on #29649
@Daya-Patil Thanks for confirming.

[2019-04-24 10:30] #29649 closed

[2019-04-24 10:31] pdebruin opened #29977 "Istio install page needs update"
This page is outdated and does not work anymore: Istio is at version 1.1.3, sudo mv does not work in Azure cloud shell and helm install fails. Luckily the Istio docs do work, so I was able to get up and running using https://istio.io/docs/setup/kubernetes/prepare/platform-setup/azure/ and beyond.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-04-24 10:43] ian-s-mac opened #29978 "broadcast logout nameid format"
I have multiple applications configured to return the nameid in the format extractmailprefix([userprincipalname]) (e.g. johnd)

Login works fine, as does single logout where the user is logged into a single application.

When multiple applications are logged in, only the application that requested signout, and the AzureAD session itself are signed out.
The other applications remain signed in.

Thi

[2019-04-24 10:52] stuart-murray opened #29979 "What role is required?"
I have contributor access to the Log Analytics workspace, but "Insights" is still greyed out - does this need GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2155a4-d8b2-a542-1aba-387183c3f2e3
* Version Independent ID: 11565414-4093-d4cf-2665-1343b45a732a
* Content: [Use Azure Monitor workbooks for Azure Active Di

[2019-04-24 10:54] tanujbhakre commented on #29970
@DixitArora-MSFT is there a timeline within which I can expect it to be updated?

[2019-04-24 11:02] neeleshray commented on #29964
@julesman101
Thanks for the feedback! I am assigning this to the Content Author to look into the same.

[2019-04-24 11:03] neeleshray commented on #29964
@monhaber
Could you please check if the same could be added in the document ?

[2019-04-24 11:11] aaronhughesdelt commented on #29655
doesn't look this this has been updated there still ref to 8050 throughout the doc
FAQ - What are the port requirements for the self-hosted integration runtime to work? - "Open inbound port 8050"
On-premises data store credentials - Ports used when encrypting linked service on self-hosted integration runtime - "By default, PowerShell uses port 8050" - image underneath this text

[2019-04-24 11:16] srdan-bozovic-msft commented on #29920
"or enable the Allow Azure services to connect configuration in firewall for your specific service (SQL in this case)." does not apply to Managed Instance as Managed Instance uses Network Security Groups to control access. The NSG equivalent of "Allow Azure services" is having Allow inbound NSG rule for TCP port 3342 scoped for AzureCloud service tag

[2019-04-24 11:17] SubhashVasarapu-MSFT commented on #28931
@sharad4u , Could you please provide clarification after checking with Engineering team.

[2019-04-24 11:26] ManojReddy-MSFT commented on #29979
@stuart-murray You are correct, apart from the permissions on the workspace, you also need AD permissions to see the Insights tab. You can use "Secuirty Administrator " / "Global Administrator " role in order to access that tab.

[2019-04-24 11:28] AshokPeddakotla-MSFT commented on #29966
@javkhalidskipton From which location you are accessing this page? I got the same result when accessing the doc from India and I'm able to see the results page when accessing from VM(created under West US location). Refer [Supported regions](https://docs.microsoft.com/en-us/azure/azure-maps/about-azure-maps#supported-regions) for more details.
@walsehgal Please provide you comments as well.

[2019-04-24 11:34] YASWANTHM-MSFT commented on #29952
@kb321, There is difference when you use Azure Government subscription. You have to note when connecting with the Storage API is that the URL for storage is different than the URL for storage in commercial Azure – specifically, the domain ends with “core.usgovcloudapi.net”, rather than “core.windows.net”.

These endpoint differences must be taken into account when you connect to storage in Azure G

[2019-04-24 11:36] mganeshphani commented on #29626
I mean I am just wondering if I can associate a custom domain name to the
container group, like I do for the webapp..

On Tue, Apr 23, 2019 at 12:54 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2019-04-24 11:38] javkhalidskipton commented on #29966
i am accessing it from UK, could this be a problem as i am accessing from coperate network, which could block contents

[2019-04-24 11:41] bdzeeuw commented on #29167
Any update? We are running into the exact same issue.

[2019-04-24 11:46] jdyke opened #29981 "Hardcoded Secrets in .tf Files"
Inside the `main.tf` _https://docs.microsoft.com/en-us/azure/terraform/terraform-create-vm-cluster-module#create-the-template_ there is a hardcoded `admin_password`. The `admin_password` should be moved to a variable. How it exists today, if the terraform code were to be stored in source control, you would now have your admin credentials open to the public.

The same can be said about `azureProvid

[2019-04-24 11:46] rahulbhansali2111 opened #29982 "Application Access Panel link is broken"
The link appears in the 'Note' section under 'Application and service principal relationship'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Independent ID: 675b5ee9-bfe6-344f-7b39-ca0e2bc18b9b
* Content: [Application and service principal objects in Azure Active Directory

[2019-04-24 11:47] jdyke commented on #29981
I am available to discuss the updates before creating a PR to adjust the documentation.

[2019-04-24 11:48] KristofferBerge opened #29983 "Use latest iteration"
Is it possible to use the latest iteration by default, or do I have to update the url every time I retrain the model? It seems this was possible in the v2 of the prediction API, but not with the url I get to v3

V3
{region}.api.cognitive.microsoft.com/customvision/v3.0/Prediction/{guid}/classify/iterations/Iteration1/image

V2
{region}.api.cognitive.microsoft.com/customvision/v2.0/Prediction/{guid

[2019-04-24 11:49] kb321 commented on #29952
Understood. I am referencing this portion of the required steps, under the section: Grant your registered app permissions to Azure Storage

4. In the Required permissions blade, click the Add button.

5. Under Select an API, search for "Azure Storage", and select Azure Storage from the list of results.

Number 5 does not work in Gov subscription. It does work in Commercial subscription. Are there

[2019-04-24 11:59] RohitMungi-MSFT commented on #29983
@KristofferBerge Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-24 11:59] dylanhughes opened #29984 "When running the script to find unattached unmanaged disks in cloud shell it errors"
PS Azure:\&gt; foreach($storageAccount in $storageAccounts){
&gt;&gt;     $storageKey = (Get-AzStorageAccountKey -ResourceGroupName $storageAccount.ResourceGroupName -Name $storageAccount.StorageAccountName)[0].
Oops, something went wrong.  Please report this bug with the details below.
Report on GitHub: https://github.com/lzybkr/PSReadLine/issues/newgeAccount.StorageAccountName -StorageAccountKey

[2019-04-24 12:02] Anmolgan81 commented on #29886
@swinarko @fan130  I have another question regarding the performance and job scheduling of Azure SSISDB, currently the job I execute takes 8 minutes on azure vm, but it takes about 25 minutes to ran the same job on Azure SSISDB, is there any way we can short this time? Also if I want to schedule mutiple jobs on Azure SSISDB do I need to do any additonal things?

[2019-04-24 12:06] guidovan commented on #29692
@mudbob I saw same behavior. As a workaround I was able to create the automation account manually and reference to the automation account during deployment of the start-stop solution. cheers

[2019-04-24 12:12] DeveloperBeginner opened #29985 "Offline sync does not work below Android 5.0"
I have enabled offline sync in an Android app and it is working like a charm on Android devices with versions above 5. But on Android devices below version 5 (eg. 4.4.2) I am not able to sync nor fetch any data. I can see the following error in the logs:
NativeCrypto: Unknown error during handshake

Could you please help me with this error?

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-24 12:14] mudbob commented on #29692
That field does not find the pre-created account.

[2019-04-24 12:15] jreinhardtiv4 commented on #29905
In that sense they are interchangeable, but the blog post claims that it isn’t enough to have Azure AD premium. It also suggests you have to have Intune (which would mean that you actually Need EMS and that Azure AD Premium isn’t enough). I feel like your documentation is good, but it is this blog post that is muddying the water and yet I didn’t get a good answer when I tried to reply. I consider

[2019-04-24 12:17] fbcarvalho commented on #27773
How can I assing RDS Owner or RDS Contributor permissions to the user?

[2019-04-24 12:20] giwleb commented on #24066
Did this ever get reopened? All information seems to strongly point towards using Microsoft Graph and if Microsoft Graph is still not recommended then the Note at the top of the page should include verbiage like "As of Spring, 2019, Azure AD Graph is still the recommended platform for production systems..."

[2019-04-24 12:29] bertrandpons commented on #29394
@ChiragMishra-MSFT Ok thank you for your advices.

[2019-04-24 12:32] SnehaAgrawal-MSFT commented on #29985
@DeveloperBeginner Thanks for the question! We are investigating and will update you shortly.

[2019-04-24 12:33] oramoss opened #29986 "Managed Identities doesn't appear in the list of authentication methods on oData connector in Copy Data functionality"
It may because I don't yet fully understand Managed Identities but above it says that Managed Identities are one of the ways you can authenticate but when I go into Data Factory and the Copy Data function and try to use the oData connector it doesn't offer Managed Identities as one of the drop down options.  Is the documentation incorrect or my lack of understanding?

---
#### Document Details

⚠

[2019-04-24 12:37] maxiptah opened #29987 "Do I need to always upload root CA or intermidiates are enough?"
We have the following certificate chain:
RootCA -&gt; IntermProduction -&gt; [leaf certificates]
RootCA -&gt; IntermTest -&gt; [leaf test certificates]
Does it make a difference if I:
a) Upload to IoT hub RootCA
b) Upload to IoT hub both IntermProduction and IntermTest (without RootCA)
Will there be any differences in how leaf device certificates are validated? Our RootCA is self-signed company ro

[2019-04-24 12:41] angoyal-msft commented on #29839
@Japeth Thanks for your feedback. I have assigned this issue to content author to investigate further.
@anosov1960 Could you please look at this issue. There was 1 earlier issue from same document with similar cmdlet was reported. That might help you dig into this.
https://github.com/MicrosoftDocs/azure-docs/issues/6832

[2019-04-24 12:55] jakaruna-MSFT commented on #29984
@dylanhughes I tried to reproduce the issue. But it worked well for me.
Can you check again if you are able to reproduce this issue.

Since this script has multiple lines, I suggest you to create a file in the editor in cloud shell and execute.

[2019-04-24 12:59] undecided2013 commented on #29929
No, I was about to start using it but was unsure as to whether I should. Thanks. I think overall, SF docs are fantastic but they would benefit from having an indicator/tag for 'Azure' and for 'On Prem' so that readers could easily know whether it applies to them or not. Thank you.

[2019-04-24 12:59] #29929 closed

[2019-04-24 13:04] ntachandley opened #29988 "Info is missing"
Data for the FS and F (v1) are missing from this page now. They were likely unintentionally removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ef96d58-ce74-a034-993a-c02a6cfa4351
* Version Independent ID: b31f4717-d0cf-2938-778d-79a69a0cc83a
* Content: [Azure Windows VM sizes - Compute optimized](https://docs.mic

[2019-04-24 13:07] ChiragMishra-MSFT commented on #29394
@bertrandpons Glad that I was of help :)

[2019-04-24 13:14] wpitallo opened #29989 "Question: Will importing data from one Cosmos DB collection to another one re-trigger the change feed?"
Will importing data from one Cosmos DB collection to another one re-trigger the change feed? So If there is an Azure function trigger on the new collection will those triggers be fired for all the old data moving across?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Indep

[2019-04-24 13:15] Klaas- commented on #29974
@jakaruna-MSFT I would like to know what I can do with an availability set before I create an availability set :) that's why I look at docs

[2019-04-24 13:21] msrini-MSFT commented on #10516
@karlochacon , The error is straightforward as you will not be able to pipe with this command "either because the command does not take pipeline input or the input and its properties do not match any
of the parameters that take pipeline input."

Try this script:

`$NIC=Get-AzNetworkInterface | where-object { $_.VirtualMachine -eq $null }

ForEach($NICs in $NIC)

{
Remove-AzNetworkInterface -Name $

[2019-04-24 13:44] jamesapicken commented on #29503
Thanks for your response, but what do I need to do with this information?

[2019-04-24 13:57] hambster commented on #21316
Any updates?

[2019-04-24 14:00] dylanhughes commented on #29984
Microsoft,

This was the screen dump of the error I received before I posted on the document.

[cid:image001.png@01D4FAAE.75533D70]

If I try now (either by just cut and paste straight in or by creating a file in code, saving it and running it), it now runs fine without errors. Saying that though I did find a load of disks that were unattached that I deleted after first running the script so it is

[2019-04-24 14:08] bertrandpons opened #29990 "Precisions regarding Azure AD User Account as authentication method for read blov"
Hi,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad

I set to myself in Azure portal the role _Storage Blob Data Contributor_ at container level. I have a picture stored in it but I cannot read it when using the generated URL https://STORAGEACCOUNTNAME.blob.core.windows.net/CONTAINERNAME/test.png.

I get this error:
[code]

Cou

[2019-04-24 14:09] cloudnovum commented on #28817
Always fails with the following error:

$CredsFileName = Get-AzRecoveryServicesVaultSettingsFile -Backup -Vault $Vault1 -Path $CredsPath -ver
bose

cmdlet Get-AzRecoveryServicesVaultSettingsFile at command pipeline position 1
Supply values for the following parameters:
Certificate: vaultCert01
Get-AzRecoveryServicesVaultSettingsFile : Error parsing NaN value. Path '', line 1, position 1.
At line:1

[2019-04-24 14:11] AjayKumar-MSFT commented on #29976
@ianyian, Thank you for posting the question! Please help with the Azure doc URL on which above document feedback request is created.
In case your query is not related to the document content, open a new forum thread in[ MSDN forum ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview)as it could be better place to get help on this specific scenario. These forum c

[2019-04-24 14:15] cloudnovum opened #29992 "Support for 2016 Server Core?"
Is the MARS agent supported on Server Core (2016)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b566a3bb-80d9-151e-cc27-7bc94d48f363
* Version Independent ID: 0f8ca0eb-0153-13b6-5929-0e5996eb418e
* Content: [Support matrix for backup of machines running the Microsoft Azure Recovery Services (MARS) agent with Azure Ba

[2019-04-24 14:18] karlochacon commented on #10516
thanks I got this error

PS C:\Users\karlo> `$NIC=Get-AzNetworkInterface | where-object { $_.VirtualMachine -eq $null }

ForEach($NICs in $NIC)

{
Remove-AzNetworkInterface -Name $NICs.name -ResourceGroupName $NICs.ResourceGroupName -Force
}`
Incomplete string token.
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : IncompleteString

[2019-04-24 14:21] srnly opened #29993 "Unable to create peering connection using Azure CLI"
Tried to peer virtual networks in different subscriptions and tenants.  Running "az network vnet peering create ..." resulted in the error message "Subscription '&lt;remote subscription ID&gt;' not found.  Check the spelling and casing and try again."

The remote subscription ID was valid because I was able to take the same ID and use it in the Azure Portal (contrary to the guidance provided here

[2019-04-24 14:21] karlochacon commented on #29959
great thanks is working I was adding something extra to the command I added the force option so it won't ask me for every nic to be removed

[code]

[2019-04-24 14:24] msangapu-msft commented on #29902
This has been updated. #please-close

[2019-04-24 14:26] Eldorian commented on #29932
@femsulu @georgewallace Yep, got it working this morning. Thank you

[2019-04-24 14:29] karlochacon commented on #29959
one last question is there a way to get an output saying "Succeeded" ?
thanks

[2019-04-24 14:30] msrini-MSFT commented on #10516
Please remove the quote at the top and end and try again.

Regards,
Karthik

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: karlochacon <notifications@github.com>
Sent: Wednesday, April 24, 2019 7:49:01 PM
To: MicrosoftDocs/azure-docs
Cc: Karthik Srinivas; Comment
Subject: Re: [MicrosoftDocs/azure-docs] Using Powershell you could use the following command (#

[2019-04-24 14:34] rboy1 commented on #23166
Thank you guys. This is definitely good news. I'm looking forward to the samples so we can see how to make the migration in future easier.

[2019-04-24 14:41] dalmat36 opened #29996 "Unable to create new GitHub repository from ADF"
"You can create a new repository or use an existing repository that's already in your account." I only see a drop-down to select existing repository.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9528484b-14b8-729a-9df4-d203db71885a
* Version Independent ID: 95759275-ecbf-c737-3460-4e38756ecd05
* Content: [Visual auth

[2019-04-24 14:47] karlochacon commented on #10516
thanks a lot is working now

[code]

[2019-04-24 14:48] Jez85 commented on #29895
Hi Team,
Any update on this issue. We are trying to test out this service in preview but stuck at this critical step.

Please advise.

Thanks!

[2019-04-24 14:50] karlochacon commented on #29959
found a way someone in another thread

[code]

[2019-04-24 14:51] AlphaCreative commented on #29606
Understood and thanks for the clarification.  We were hoping for this feature to be something that it is not intended to be so that makes sense.

That said, it would be pretty cool if you were using the appsettings.json configuration model to be able to just do something like this to support keyvault integration in appsettings.json:

`“ExternalAPIConfig” : "@Microsoft.KeyVault(SecretUri=https://my

[2019-04-24 14:51] #29606 closed

[2019-04-24 15:05] kborovik opened #29999 "ERROR: Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'."
Problem description:
The following command terminates with an error:
[code]
Error message:
[code]

Note:
The following command executes successfully:
[code]

Tested on OS version:
[code]
Tested on Powershell version:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Ind

[2019-04-24 15:08] SubhashVasarapu-MSFT commented on #29959
@karlochacon , You can try this as well.But, note that this will delete the unattached NICs on executing with out warning.
[code]

[2019-04-24 15:12] DCtheGeek commented on #29973
@o-l-a-v Thanks for the feedback! I've sent the feedback to the engineers about the validation of that property in Azure portal. As to the property `identity.type`, it returns the type of managed identity on the resource being evaluated.  For this property to return a value, the resource must support managed identities.  Resource group doesn't.  For a list of services and resources that support ma

[2019-04-24 15:15] Mike-Ubezzi-MSFT commented on #29989
@wpitallo Thank you for the inquiry. This is a great question. I need to doublecheck a couple of things as it might be dependant on the state of the data at the time of the export. I will update you when I have accurate information.

[2019-04-24 15:16] stgeorgi commented on #27773
Its in the documentation New-RdsRoleAssignment -TenantName $tenant -UserPrincipalName $userName -RoleDefinitionName "RDS Contributor"

[2019-04-24 15:21] JAK1047 opened #30001 "No creation of Session Host in manual steps"
I had issues with downloading the DSC file through our proxy using the new Windows Virtual Desktop resource. Don't believe there's anyway to set the proxy settings on the newly generated VM before the DSC extension deployment in the resource, so I went ahead and created the tenant, hostpool, appgroup, and domain joined my VM manually. After which I decided to just follow the steps here here to man

[2019-04-24 15:21] ptansey commented on #29167
Sorry @bdzeeuw , I've abandoned trying to get this to work, had to move onto other things

[2019-04-24 15:29] abernaln opened #30003 "FormatSetting property is not initialized"
I am pretty sure that there is something wrong with the get metadata activity at this moment. I created a linked service to a Sftp site using basic authentication and ensured that i could connect successfully. After creating a dataset that uses my Sftp linked service, I created a very simple pipeline with a get metadata activity.

Input
{
    "dataset": {
        "referenceName": "LRS_SFTP_Basic_T

[2019-04-24 15:32] cweining commented on #29961
@tkumark We do support .net core on Service Fabric. Please see our documentation for instructions on service fabric:  https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-servicefabric. The document doesn't explicitly say that we support .net core but I'll publish an update soon to clarify that. Pay close attention to step 5 in the document. For service fabric applications, you often

[2019-04-24 15:34] JAK1047 commented on #30001
Slight addendum. While there is a Set-RDSSessionHost there doesn't appear to be an Add-RDSSessionHost or New-RDSSessionHost. So no commands that I see to add my VM to the HostPool.

[2019-04-24 15:36] shashishailaj commented on #29982
@rahulbhansali2111 Thank you for your feedback . We will get this reviewed and update the same.

[2019-04-24 15:36] alkohli commented on #28235
@milazzom The change is now live at this link: https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-create-iot-edge-module

#please-close

[2019-04-24 15:45] #7520 closed

[2019-04-24 15:46] Karishma-Tiwari-MSFT commented on #29977
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-24 15:47] rhythmnewt commented on #13053
Any update on this?

[2019-04-24 15:49] Karishma-Tiwari-MSFT commented on #29981
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-24 15:51] #20179 closed

[2019-04-24 15:54] Karishma-Tiwari-MSFT commented on #29988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-24 15:55] Karishma-Tiwari-MSFT commented on #29972
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-24 15:57] bdzeeuw commented on #29167
Ah ok, thanks for getting back to me. We worked around this issue, by using the AZ CLI (apparently it does work using the AZ CLI, with the exact same parameters/vars).

[2019-04-24 15:57] #7722 closed

[2019-04-24 15:58] Karishma-Tiwari-MSFT commented on #30001
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-24 15:58] mamccrea commented on #29856
@terrymandin - We will update the documentation with that information as well. Please let us know if there is anything else we can assist with.

[2019-04-24 16:01] Karishma-Tiwari-MSFT commented on #29895
@ChristianMontoya Can you please share your insights on this? Thanks :)

[2019-04-24 16:09] MicahMcKittrick-MSFT commented on #29975
@JerryMWeeks thanks for reaching out. I believe there is a current issue with this feature that could be causing this.

See #28822

Also, this feature is in preview so it should be only used for testing at this point in time. Not for production workloads.

@jakaruna-MSFT can look further into it as he is in contact with the team who owns this extension.

[2019-04-24 16:10] mihammer commented on #26191
I also have a case that is most likely due to the throughput limits of this VM. I can't say for sure as there are no limits listed on this page.

[2019-04-24 16:13] msLinuxNinja opened #30006 "Specs should include performance metrics"
While most people who use GPU VMs care most about GPU memory and vCPUs, there are instances that knowing the limits of these VMs in terms of IOPS/ Throughput and Network Bandwidth is needed.

These metrics should be added to the different families.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946c151-c1a6-59bc-2e44-

[2019-04-24 16:14] YASWANTHM-MSFT commented on #29999
@kborovik, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-24 16:19] RichardKForester opened #30008 "PowerShell example doesn't work"
I copied the code (listed below and in the article), updated the name of my resource group, and executed it.  In Azure Portal I see the definition and the assignment.  However, checking compliance shows that only resources that already had the "costCenter" tag are compliant.  Reason for non-compliance is "Current value must exist.".  Isn't the point of this example to create (append) a new tag "co

[2019-04-24 16:19] riserrad opened #30009 "Replace authentication-id by application-secret"
Hi,

`authentication-id` does not make sense in this context. My suggestion is to replace it by `application-secret` or `password`. The latter matches the `az ad sp` command output.

By the way, my general suggestion would be to follow the pattern we found on this command output for the other parameters:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-04-24 16:23] MicahMcKittrick-MSFT commented on #29934
@marcelofelman I submitted a fix. One the PR merges the changes will go live after a few hours.

[2019-04-24 16:23] #29934 closed

[2019-04-24 16:26] brucelowekamp opened #30010 "Missing step to add CLI extensions"
The "Register a device" section assumes you've installed the Azure IoT CLI extensions.  Need to have a step to run
az extension add --name azure-cli-iot-ext
or a link to https://github.com/Azure/azure-iot-cli-extension/blob/dev/README.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e8

[2019-04-24 16:29] DCtheGeek commented on #30008
@RichardKForester Thanks for the question. If you see the policy definition and assignment in Azure portal, then the PowerShell did create the objects correctly. It looks like the issue is a misunderstanding of the **append** effect. When an **append** effect is run on a new resource, it will alter the request to add the field (in this case a tag).  When an **append** effect is part of an evaluati

[2019-04-24 16:32] kasparks commented on #29953
Hi Ganesh, thanks for the comment. Advisor currently takes into account CPU and network to make recommendations to right-size virtual machines. Memory is not supported today. However, this is on our radar and something we are looking into for the future. If you want to provide additional feedback on this, feel free to vote on it or add new ideas at  [aka.ms/advisorfeedback](https://aka.ms/advisorf

[2019-04-24 16:32] Daya-Patil commented on #29887
Refer https://github.com/MicrosoftDocs/azure-docs/pull/29647

[2019-04-24 16:35] AshokPeddakotla-MSFT commented on #29704
@LeeHyeongWon Please refer the above-mentioned documentation and let us know if you have further questions.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-24 16:35] #29704 closed

[2019-04-24 16:37] ricardoserradas commented on #29819
I acknowledge the possibility but I also understand that the user may not understand that he/she could work this around by sharing the IR. I'm trying to help addressing the actual reconfiguration of the IR.

Yes, that would be great. Reassigning the key would actually reassign the host to the IR that owns the key. Perfect.

Thanks for all the help, Martin!

[2019-04-24 16:40] JAK1047 commented on #30001
I think I may have actually found my issue. The RD Agent installer that is linked to from the guide is 1.0.0.1462. The one the DSC pushes is 1.0.1.7 and about 2MB larger. After uninstalling the one from the guide and installing the one in the DSC package the session host now appears from the Powershell command. Gives me an update failed error of:

UpdateGenevaAsync - Health Check Failed:

[2019-04-24 16:42] rachel-msft commented on #24346
Hi @tomasaschan. I haven't gotten a chance to test this out, but according to this Key Vault doc https://docs.microsoft.com/en-us/azure/key-vault/certificate-scenarios PEM files are allowed.

![image](https://user-images.githubusercontent.com/32173602/56677257-f558fc80-6674-11e9-8129-6c3b4b608696.png)

And you could possibly use a different decoder to get a pfx file.

#please-close

[2019-04-24 16:42] alicain opened #30012 "Change from Audit Mode to Enforce Mode"
How is the Change from Audit Mode to Enforce Mode to detected?  How long does it take?  Can the state be seen on the Domain Controller?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799247b7-b3f3-807f-2183-1775f47500f9
* Version Independent ID: 8c242698-eaa1-4132-497f-e6ac336e94f6
* Content: [Azure AD Password Protect

[2019-04-24 16:42] mganeshphani commented on #29953
@kasparks  thankyou for confirming.  any ETA on when this could be available, so that we can pursue alternatives.

Any recommended alternatives we can pursue in this case?

[2019-04-24 16:43] talktovishal commented on #23166
Thanks @rboy1 . The translate sample is posted below and we will update ones for the remaining api calls soon. Let me know if you were looking for something specific and I will ensure it get's addressed.

[2019-04-24 16:47] MicahMcKittrick-MSFT commented on #29592
@mganeshphani I will close this for now. If you have further questions just let me know and we can always reopen and continue.

[2019-04-24 16:47] #29592 closed

[2019-04-24 16:48] MicahMcKittrick-MSFT commented on #28975
Thanks @rloutlaw that doc looks perfect! Great find!

@Anmolgan81 I will close this for now but if you still have questions after looking at the above link just let us know and we can always reopen and continue the discussion.

[2019-04-24 16:48] #28975 closed

[2019-04-24 16:48] loftyet opened #30013 "Is anyway to see the log traced in the terminal console?"
I am building Node/Express application. Is any way that I could see the logs traced by AppInsights in the terminal console?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc167975-264b-1130-76ad-594c8af26c25
* Version Independent ID: 0d1e9d03-e326-fc03-a9ee-128bdc37da2d
* Content: [Monitor Node.js services with Azure A

[2019-04-24 16:50] MicahMcKittrick-MSFT commented on #30001
@JAK1047 thanks for the update. I will assign to the author to review and see if there is any doc changes we can make.

Also, for any other troubleshooting assistance you can reach out to tech communities where we are currently supporting Virtual Desktop.

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

[2019-04-24 16:51] JAK1047 commented on #30001
Will do. Thank you!

[2019-04-24 16:55] rjmille2 commented on #29612
Here is the output from certutil for the certificate in question which clearly shows the legacy provider not the CSP provider.

================ Certificate 2 ================
X509 Certificate:
Version: 3
Serial Number: 76c44c83a51a649842d0f723a89aee81
Signature Algorithm:
    Algorithm ObjectId: 1.2.840.113549.1.1.5 sha1RSA
    Algorithm Parameters:
    05 00
Issuer:
    CN=ServiceFabricConfigEcr

[2019-04-24 16:56] RichardKForester commented on #30008
Ah!  Thank you for the explanation and the referral.  I understand now.

[2019-04-24 16:56] tfitzmac commented on #29821
#please-close

[2019-04-24 16:57] MarkMcGee1 commented on #7799
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 16:59] MartinJaffer-MSFT commented on #29698
@sharonlo101 I have made a pull request.  Please review  pr 74475

[2019-04-24 17:00] MarkMcGee1 commented on #7722
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 17:00] MarkMcGee1 commented on #7520
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 17:04] femsulu commented on #29992
@cloudnovum AFAIK, server core 2016 isn't supported.
adding @rayne-wiselman to confirm.

[2019-04-24 17:05] DCtheGeek commented on #30008
@RichardKForester Glad to hear it!  Please do let us know if you see doc issues!

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-question', and #please-close

[2019-04-24 17:11] Sshetty2 commented on #29787
#29787 Any updates on this one? I haven't been able to make any headway

[2019-04-24 17:11] nwehner opened #30014 "Virtual Network does not provide defaults for Address Space or Address Range"
Under the directions for creating a virtual network (https://docs.microsoft.com/en-us/azure/site-recovery/migrate-tutorial-aws-azure#set-up-an-azure-network) the docs say to leave the default values for both Address Space and Address Range. However, no defaults are provided in the Azure Portal. And you can't create a Virtual Network without these values. What should these values be, given the defa

[2019-04-24 17:13] ishasahni1 commented on #17362
@tysonn for old Azure LOc Repo there is no admin, so I can't delete these old repos.

[2019-04-24 17:15] swanderz commented on #29960
@RohitMungi-MSFT I don't think you meant to tag me...

[2019-04-24 17:19] MicahMcKittrick-MSFT commented on #30006
@msLinuxNinja fair feedback. I will assign to the content author to review.

CC @cynthn @Drewm3

[2019-04-24 17:23] manikandan5555 commented on #27916
Thanks a lot, you experience saved my time :) Thanks for posting!

[2019-04-24 17:27] cherylmc commented on #29031
Taking a doc bug on this. Thanks! #please-close

[2019-04-24 17:29] dajarma commented on #29602
If that's the case, are there any other tools we could use to monitor performance of containers without needing to send all the container logs back to Log Analytics?

[2019-04-24 17:29] #29031 closed

[2019-04-24 17:32] cherylmc commented on #29679
Hi! This was updated earlier this week and should publish today. Thanks! #please-close

[2019-04-24 17:36] femsulu commented on #29932
thanks for confirming.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-24 17:36] #29932 closed

[2019-04-24 17:37] Alberto-Vega-MSFT commented on #29987
@maxiptah Thanks for reaching out. These issues are mainly to resolve documentation errors or for suggestions on improvements. Your question seems better suited for the developer forums like StackOverflow or MSDN were the community (plus the engineering team) can help. Would you please post your query there?

[2019-04-24 17:44] tchristiani commented on #24006
Has this PR gone through, yet?

[2019-04-24 17:47] mrbullwinkle commented on #30013
Have you tried enabling debug logging: [https://github.com/Microsoft/ApplicationInsights-node.js/issues/496](https://github.com/Microsoft/ApplicationInsights-node.js/issues/496)

[2019-04-24 17:49] yegu-ms commented on #29926
Thanks for reporting this! We'll add this.

[2019-04-24 17:49] mrbullwinkle commented on #30013
Also while this is tangential to your question, the readme on the repo for the Node.js SDK can also sometimes be helpful when instrumenting with Application Insights and covers some topics we don't go into in the docs [https://github.com/Microsoft/ApplicationInsights-node.js/blob/develop/README.md](https://github.com/Microsoft/ApplicationInsights-node.js/blob/develop/README.md)

[2019-04-24 17:50] yegu-ms commented on #29885
Thanks for report this! We'll fix this in our doc.

[2019-04-24 17:58] Karishma-Tiwari-MSFT commented on #28080
@Heidilohr @ChristianMontoya Can either of you help confirm on this one? Thanks :)

[2019-04-24 18:04] Karishma-Tiwari-MSFT commented on #29889
@margaretmeehan Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-24 18:04] #29889 closed

[2019-04-24 18:08] gjswalling opened #30016 "confusion about metrics: Successful twin reads from backend (count)"
we found by testing that device twin query (device list GET) is shown by Successful twin queries (sum) metric , but metrics: Successful twin reads from backend (count) shows up as zero.  This was confusing.  Please clarify in description of Successful twin reads from backend (count) only measures direct reads, not reads via twin query.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-24 18:12] karlochacon commented on #29959
great thanks a lot
list the nics using 0 and deletes using 1

I will try to do the same to remove unattached public ips

[2019-04-24 18:15] tchristiani commented on #23949
#please-close

[2019-04-24 18:15] Karishma-Tiwari-MSFT commented on #29183
@MoRMongol Can you please share what error are you seeing?
Is there something in this specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.

Else, if you are looking for help with debugging issues I would suggest creating a post on [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US

[2019-04-24 18:16] MarkMcGee1 commented on #8702
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 18:16] #8702 closed

[2019-04-24 18:21] SubhashVasarapu-MSFT commented on #29959
@karlochacon , You can use this for deleting unattached IPs,
[code]

[2019-04-24 18:22] Karishma-Tiwari-MSFT commented on #23154
@bbob55 I apologize for the delay. Are you still seeing this issue?
It could be a subscription limitation as well. Can you please refer to these docs and check on the quotas.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-region-availability

Let me know if you are still seeing is

[2019-04-24 18:23] tchristiani commented on #23210
The issue here is being addressed in #23166.
#please-close

[2019-04-24 18:24] MarkMcGee1 commented on #8648
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 18:24] #8648 closed

[2019-04-24 18:25] andersdissing commented on #11383
@ng-marcus Is it possible for you to post some more code or link to a blog post?

[2019-04-24 18:26] karlochacon commented on #29959
sorry this will add Network Interface and Public IPs?

[2019-04-24 18:26] Karishma-Tiwari-MSFT commented on #22183
@ramankumarlive I have merged the PR with your change.
@dksimpson @sharkymcdongles If you are seeing any other issues with the script, please feel free to open a PR with the changes suggested and we will get it reviewed and merged.

[2019-04-24 18:28] tchristiani commented on #28344
@YutongTie-MSFT - this is not a doc bug. Will you please unassign @aahill and assign to @rlagh2?
Thank you!

[2019-04-24 18:29] Alberto-Vega-MSFT commented on #29690
@LeeHyeongWon Was the information useful?

[2019-04-24 18:30] #29690 closed

[2019-04-24 18:32] MicahMcKittrick-MSFT commented on #29612
Thanks. Looking into it. Will update shortly.

[2019-04-24 18:32] SubhashVasarapu-MSFT commented on #29959
No, It will only remove unattached IPs and the previous one removes ghosted NIC's. If you have any further questions on this please let us know.

[2019-04-24 18:33] tchristiani commented on #25785
#please-close

[2019-04-24 18:33] dlepow commented on #29626
@mganeshphani - Apologies for my delay responding. I believe use of a custom domain is supported for container groups, but as @Karishma-Tiwari-MSFT notes, you can't make this association for a container group deployed in an Azure VNet. My understanding is you'd need to configure a `dnsNameLabel` for the container group (so the container group is initially exposed at *mydnslabel*.azure-container.io

[2019-04-24 18:36] karlochacon commented on #29959
in that case it should

Remove-AzPublicIpAddress instead of  $md | Remove-AzDisk -Force right?

[2019-04-24 18:39] kfollis opened #30018 "Broken link"
Link to Reference Architectures under "Cookbooks" is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f145fb6af7
* Content: [App Service overview - Azure](https://docs.microsoft.com/en-us/azure/app-service/overview?toc=%2Fazur

[2019-04-24 18:40] o-l-a-v commented on #29973
@DCtheGeek
Thanks for the clarity. Any other way to validate whether a Resource Group was created by a user vs Azyre/ System Aassigned?

We wan't to enforce naming scheme on Resource Groups, but without mentioned filtering we'll have to add exeptions for each and every resource group naming scheme Microsoft uses for auto genersted RGs across Azure, like for Recovery Services Vault backups, in orde

[2019-04-24 18:48] tchristiani commented on #28573
#please-close

[2019-04-24 18:51] dragav commented on #29612
@rjmille2 thanks for the details. I assume you are still seeing the same errors in the event log as before?

I appears the problem is one of access to the certificate's private key; I would have expected a different error code, but let's go with that.

The ACL on the certificate's private key shows Fabric would not have access to it; we ACL certificates declared in the cluster or application manif

[2019-04-24 18:52] #28573 closed

[2019-04-24 18:52] tchristiani commented on #26261
@gerardEsteve can you confirm that 1.4.4 has fixed your issue?

[2019-04-24 18:55] MicahMcKittrick-MSFT opened #30019 "Doc-Bug | Missing the SecretsCertificate reference"
Documentation is missing missing the SecretsCertificate reference

See #29612

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15436b0f-9b50-269f-7cab-36740b1f862c
* Version Independent ID: 050deec3-d788-1d80-b826-f8ad644ed112
* Content: [Manage Azure Service Fabric application secrets](https://docs.microsoft.com/en-us/a

[2019-04-24 18:56] MicahMcKittrick-MSFT commented on #30019
as per #29612 opening this issue.

CC @dragav

[2019-04-24 18:58] tchristiani commented on #28503
#please-close

[2019-04-24 18:58] SubhashVasarapu-MSFT commented on #29959
Yes you are absolutely correct. Thought of sharing on removing unmanaged disks too and clubbed it unfortunatly. I have done the editings please have a look. Thank you

[2019-04-24 19:01] tchristiani commented on #29467
The MSDN link has been restored and is working now.
#please-close

[2019-04-24 19:04] karlochacon commented on #29959
something else I just found two things
1. I have to use `Get-AzPublicIpAddress ` instead of `Get-AzureRmPublicIpAddress `
2. this script will list all public IPs I have right now for the Ghosted NICs it will list only the unattached or associate

[code]

[2019-04-24 19:05] tchristiani commented on #29960
This has been resolved.
#please-close

[2019-04-24 19:06] swes1110 opened #30020 "Powershell Snippet for "Register SQL Server VM with SQL resource provider" is incomplete"
Snippet should read something like

New-AzResource -ResourceName $vm.Name -ResourceGroupName $vm.ResourceGroupName -Location $vm.Location -ResourceType Microsoft.SqlVirtualMachine/sqlVirtualMachines -Properties @{virtualMachineResourceId = $vm.Id; sqlServerLicenseType = &lt;licenseType&gt;}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-04-24 19:08] MashaMSFT commented on #30020
Hi @swes1110 , thanks for bringing this to our attention! There's actually a change that's pending to fix this :) It should be live later today, or possibly tomorrow morning. Thanks!

[2019-04-24 19:09] mickey1025 opened #30021 ""We cannot get the pronunciation score for your audios at this time""
I'm working on creating a customer voice recently.
I uploaded a new dataset this morning, after couple minutes waiting, I got the report.
In that report, I saw this note:

"We cannot get the pronunciation score for your audios at this time"

I thought it might be related to the quality of my voice data, so I uploaded some voice data that successed before, but I got the same error note.
I'm wonderi

[2019-04-24 19:13] joeljanke opened #30022 "D Series v3 Updates"
Any updates on the specs of a V3 D Series box?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Content: [Compute benchmark scores for Azure Windows VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/co

[2019-04-24 19:14] AjayKumar-MSFT commented on #29800
@kmouline, Currently, migrating to Azure Stack directly from on-premise VMs is not available. Kindly up-vote this feedback request: https://feedback.azure.com/forums/907195-azure-migrate/suggestions/33642124-migrate-vm-to-azure-stack and checkout this [discussion thread](https://social.msdn.microsoft.com/Forums/expression/en-US/2b61e07d-5a45-4fdd-a1ab-5ed2d64b9e73/how-do-i-migrate-existing-workloa

[2019-04-24 19:14] #30020 closed

[2019-04-24 19:16] mickey1025 commented on #30021
Here is the report generated last time:

WaveID, PronunciationScore, SnrScore, ImportStatus, Note
0000001131, 57.03, 21.7404047584696, Success,
0000001132, 49.49, 17.6743384541686, Success,
0000001133, 45.59, 12.9980525710872, Success,
0000001134, 41.02, 20.121542495162, Success,
0000001135, 34.11, 23.9186009783254, Success,
0000001136, 47.17, 22.5129572704026, Success,
0000001137, 31.7, 9.9114711

[2019-04-24 19:18] yegu-ms commented on #29830
The ASP.NET configuration system doesn't support dynamic changes since it loads settings and their values only on startup. We have plans to support feature flags on ASP.NET, backed by the Azure App Configuration service, through a separate library. If you don't mind, could you please file a request at https://github.com/Azure/AppConfiguration so that we can track it?

[2019-04-24 19:19] yegu-ms commented on #29830
@jordanchang The ASP.NET configuration system doesn't support dynamic changes since it loads settings and their values only on startup. We have plans to support feature flags on ASP.NET, backed by the Azure App Configuration service, through a separate library. If you don't mind, could you please file a request at https://github.com/Azure/AppConfiguration so that we can track it?

[2019-04-24 19:23] yairt1974 commented on #29862
Enable the full port range is separate from multiple public IP support. It is on our backlog and will be considered for H2 CY2019. We will know more in 2-3 months.

[2019-04-24 19:24] Jez85 commented on #29895
@Karishma-Tiwari-MSFT
Thanks. We have exhausted all the steps listed on the forum you mentioned but still getting the same error. Would request if you could get someone from the AD team to look into this as it seems to be an AD related error.

[2019-04-24 19:25] AjayKumar-MSFT commented on #29654
ShBansal22, Kindly ensure that all the required Prerequisites are installed as mentioned in the document, update [SDK](https://azure.microsoft.com/downloads/), re-open VS in the elevated mode and then test. Also, to snapshot debug, you need to open the same version of source code that is published to your Azure App Service.

[2019-04-24 19:28] yegu-ms commented on #29830
#please-close

[2019-04-24 19:29] jdkr0220 opened #30023 "Dead link for "How to configure public certificates to your App Service app""
The link for "How to configure public certificates to your App Service app" https://blogs.msdn.microsoft.com/appserviceteam/2017/11/01/app-service-certificates-now-supports-public-certificates-cer doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
* Version Independent ID:

[2019-04-24 19:30] strohne commented on #28573
you close without fixing the docs? strange.

[2019-04-24 19:30] BharathNimmala-MSFT commented on #29830
Thank you Ye.

@jordanchang - Closing this issue for now, feel free to tag us if you need further assistance on this. Thanks

[2019-04-24 19:30] #29830 closed

[2019-04-24 19:33] DCtheGeek commented on #29973
@o-l-a-v Azure resources in general don't know who created them or store that information as a property value. As such, Policy can't audit for that as it audits properties. The best I can recommend is to post that on the [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance) to let the team know of your need for the feature. They regularly review feedback there for

[2019-04-24 19:34] #29973 closed

[2019-04-24 19:37] vhorne commented on #29768
@thagstedt
Sorry, I couln't repro your error. It worked fine for me.
Sometimes a cmdlet may time out and not complete, so you need to pay particular attention to the output for each step, otherwise your configuration won't be complete.

[2019-04-24 19:38] MicahMcKittrick-MSFT commented on #30022
@joeljanke thanks for the feedback.

@cynthn is the specs for the D_v3 series something we should include here? Or we plan on including?

[2019-04-24 19:38] AjayKumar-MSFT commented on #28220
@HUBBER12, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-24 19:38] #28220 closed

[2019-04-24 19:39] cbrooksmsft commented on #8610
Today you cannot have a different root key per user.  We are working on ways to provide more granularity and control in the future.

[2019-04-24 19:41] MarkMcGee1 commented on #8610
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 19:41] #8610 closed

[2019-04-24 19:41] AjayKumar-MSFT commented on #23401
@LeonB87, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 19:41] #23401 closed

[2019-04-24 19:43] YutongTie-MSFT commented on #28573
@strohne Hi Jakob, thank you for the followup. I have created PR for both repos. You should see the change shortly after the author's review.

[2019-04-24 19:43] mganeshphani opened #30025 "Programatic access to Azure Cost Management REST API"
Would I be able to access cost data programmatically using ClientID and ClientSecret of an Azure_AD_Application with role(Cost Management Reader) at subscription level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9e3c70-0250-a112-3298-f78e9f8989a4
* Version Independent ID: 2d7a8e8b-6574-3e4d-b56e-3d4e04a391ef
* Co

[2019-04-24 19:43] SubhashVasarapu-MSFT commented on #29959
[code]
Could you please give a try with the above script. It will list all the unassociated public IPs.

[2019-04-24 19:47] DCtheGeek commented on #28182
All of the blueprint functions have now been doc'ed: https://docs.microsoft.com/azure/governance/blueprints/reference/blueprint-functions

[2019-04-24 19:47] bandersmsft commented on #30025
#in-process

[2019-04-24 19:57] MarileeTurscak-MSFT commented on #29877
@lightupdifire do you mean the impact of the OTP service itself? Impact how?

[2019-04-24 20:01] TravisCragg-MSFT commented on #29679
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 20:01] #29679 closed

[2019-04-24 20:06] cynthn commented on #30022
@MicahMcKittrick-MSFT and @joeljanke I'm going to add @laurenhughes to the thread as she has been taking over VM sizes. Not sure whether we have data for Dv3 yet.

[2019-04-24 20:08] vhorne commented on #29125
@aquibqureshi26
Note added. https://github.com/MicrosoftDocs/azure-docs-pr/pull/74519

#please-close

[2019-04-24 20:12] MarileeTurscak-MSFT commented on #30012
@alicain
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-24 20:18] demongolem opened #30028 "Job or JobNames"
I have a large list of organizations that I would to be tagged as such.  So I am trying to put them in a phrase list.  The above screenshot shows the name as Job but the instructions say JobNames.  Which one is correct?  I would assume that the Phrase List would have to be the same name as the entity we want these predicted as?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-04-24 20:23] diberry commented on #30028
@demongolem Hi Greg, thank you for asking about this. The phrase list name has no correlation to the entity name. And the phrase list isn't an exact match, the only entity that is an exact list match is the List entity. A phrase list helps any entity not just the entity that you intentionally want to help. How many names do you have in the list of organizations? #in-progress

[2019-04-24 20:24] karlochacon commented on #29959
yeah it works flawlessly this will be the whole script then only unmanaged disk is missing which can be found here

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/find-unattached-disks
in my case I am using lots of unmanaged disk since I am using a replication technology named Zerto which replicates disks as unmanaged disks and  keeps them like that until I execute a failover and

[2019-04-24 20:28] SubhashVasarapu-MSFT commented on #29959
Yes that was perfect.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-24 20:28] #29959 closed

[2019-04-24 20:29] demongolem commented on #30028
@diberry Thank you for your response and good question.  I have around 80,000 organizations which may well exceed the number of values for an entity I may have?  So, I do need them all tagged as organization entities when they appear in test data and nothing else.  My goal is to get good representation of that entity type, organization, with minimal utterance examples.  I am comparing products and

[2019-04-24 20:31] jschweda commented on #29557
Same issue here. Downloaded via Portal and via Curl.

I'm running on a windows machine if this is important.

fail: Luis[0]
      Failed while prefetching App: AppId: fdd80f30-1a48-43b9-8f91-d28c7124b91d - Slot: PRODUCTION The archive entry was compressed using an unsupported compression method.
fail: Luis[0]
      Failed while prefetching App: AppId: fdd80f30-1a48-43b9-8f91-d28c7124b91d - Slot: S

[2019-04-24 20:32] Valkhan commented on #29902
@msangapu-msft

Is this update already in production? because i've taken a look at the docs and the "Application Settings" is still visible but it has been deprecated from Azure Portal, We can access only "Settings".

https://docs.microsoft.com/pt-br/azure/app-service/web-sites-php-configure

This is the imagem i'm talking about:
https://docs.microsoft.com/pt-br/azure/app-service/media/web-sites-p

[2019-04-24 20:34] demongolem opened #30029 "Creating phrase lists for large comma separated lists"
In conjuction with #30028, if my comma separated list is too long, the browser (I am using Chrome) hangs and my entries do not get added.  I would suggest to have the dual option of having a text field like you have now or to allow an imported file with a similar list to be ingested which would work better for cases where longer phrase list values need to be imported.

---
#### Document Details

⚠

[2019-04-24 20:36] kasparks commented on #29953
Unfortunately, I don't have an ETA that I can share at this time.

[2019-04-24 20:36] msangapu-msft commented on #29902
The doc steps have been updated in the en-us locale. https://docs.microsoft.com/en-us/azure/app-service/web-sites-php-configure

@CeciAc Is there an ETA on localization?

[2019-04-24 20:37] cpdohert opened #30030 "No information on Insert, Replace, Delete, Upsert operations with SQL API"
According to https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items, the SQL API supports Insert, Replace, Delete, Upsert, Read operations on CosmosDb items/documents.

None of the documentation at https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-query-reference or https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query covers anything but Read operations.

I

[2019-04-24 20:44] amitpatelupw commented on #27835
Okay

[2019-04-24 20:45] TravisCragg-MSFT commented on #30021
@mickey1025 Can you post a link to the doc you are referring to?

[2019-04-24 20:46] Karishma-Tiwari-MSFT commented on #28150
We are working on your last question on [this issue here](https://github.com/MicrosoftDocs/azure-docs/issues/29626#issuecomment-486373727).

[2019-04-24 20:48] SaurabhSharma-MSFT commented on #29716
@mexidus We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-24 20:48] #29716 closed

[2019-04-24 20:48] SaurabhSharma-MSFT commented on #29721
@bbqchickenrobot We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-24 20:48] #29721 closed

[2019-04-24 20:49] Karishma-Tiwari-MSFT commented on #29895
@ChristianMontoya Can you please share your insights on this issue? It seems like multiple customers are seeing this issue. Thanks. :)

[2019-04-24 20:49] TravisCragg-MSFT commented on #29993
@srnly are you using the Azure CLI in CloudShell? This is a known issue and is tracked at #22864

[2019-04-24 20:51] ChristianMontoya commented on #29895
@Jez85 : Did you also assign the TenantCreator role to the user you're attempting to login with?

[2019-04-24 20:51] yegu-ms commented on #29825
@jordanchang Thanks for raising this! While Environment is not required for Azure App Configuration, we're including it in this Quickstart because we're setting the connection string to the App Configuration service through an environment variable. .NET app needs it to access the variable.

[2019-04-24 20:51] yegu-ms commented on #29825
#please-close

[2019-04-24 20:54] yegu-ms commented on #29883
@76mel Thanks for reporting this! We'll investigate.

[2019-04-24 20:55] BharathNimmala-MSFT commented on #29825
Thank you @yegu-ms

@jordanchang - We are closing this issue for now, however if you have any further queries please tag us in your reply and we will be happy to take the conversation forward. Thanks

[2019-04-24 20:55] #29825 closed

[2019-04-24 20:56] diberry commented on #30029
Can you please capture a HAR file and console output log file for this and attach here?

@omarsourour @cahann

[2019-04-24 20:58] mansetaashok commented on #29557
Can anyone please help in this? I am still unable to run the docker container without an error  "System.IO.InvalidDataException: The archive entry was compressed using an unsupported compression method."

Thank you very much.

[2019-04-24 21:00] diberry commented on #30029
Phrase lists accept 5k items according to the [docs](https://docs.microsoft.com/azure/cognitive-services/luis/luis-boundaries) - 80K is too much but perhaps an error or some UX indication of what is going on is reasonable.

[2019-04-24 21:03] diberry commented on #29557
Please send entire docker run command (omit key value) and listing of folder where LUIS package is so I can see file name and size.

[2019-04-24 21:08] srnly commented on #29993
No.  I was using Azure CLI from my local command prompt and also from local powershell prompt.

From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, April 24, 2019 1:49 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Lester Yang <lyang@securedretail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to create peering connecti

[2019-04-24 21:09] mansetaashok commented on #29557
@diberry, Please find below docker run command.

[code]
I'm using below curl command to download the extracted file from LUIS portal.

[code]

Kindly let me know if further information are required. Thank you.

[2019-04-24 21:11] diberry commented on #29557
what is the size of your package file? if you open it up (it is just gzipped) does it look like an HTTP response of a error - or something else?

[2019-04-24 21:25] TravisCragg-MSFT commented on #29993
@srnly what step are you on when you receive this error? Also, you can use "az account show" to output the subscription that you are currently logged into.

Also, please review the [peering requirements and constraints doc to make sure that your scenario will work with peering](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#requirements-and-constraints). Does

[2019-04-24 21:26] mansetaashok commented on #29557
@diberry, Size of the file is 143 bytes.

![image](https://user-images.githubusercontent.com/40860482/56694378-c9765f00-66e6-11e9-82dd-f9bcdd357b7b.png)

I am getting response code 500 while executing GET method in Swagger
![image](https://user-images.githubusercontent.com/40860482/56694699-997b8b80-66e7-11e9-8377-28edc0e16622.png)

Where as in container's logs below error has encountered

[code]

[2019-04-24 21:26] CeciAc commented on #29902
adding to the thread @ishasahni1

[2019-04-24 21:29] j0h commented on #20093
@BryanTrach-MSFT would you be able to describe what the process would be if you were using the Azure Functions Premium plan (preview)? It claims to support private network connectivity using the new VNet integration but my function is timing out when trying to connect to the other VNET. I have followed the instructions in your screenshot but as others in this issue has already commented, would be

[2019-04-24 21:30] diberry commented on #29557
What is the name of the package file?

[2019-04-24 21:34] srnly commented on #29993
Step 6 under “Create peering – Azure CLI”.

“az account show” shows the correct subscription for the virtual network I was trying to modify.

My scenario does meet the requirements.  I was able to do this step and establish the peering connection using the Azure Portal instead of Azure CLI.  I do not know if the message appeared when doing the peering in the other direction as I have no visibility

[2019-04-24 21:35] mansetaashok commented on #29557
Extracted file name is : {APPLICATION_ID}__PRODUCTION.gz

The extracted file I have saved in my local directory and passing it as an input in docker run command.

[2019-04-24 21:40] SaurabhSharma-MSFT commented on #29911
@wawyed Thanks.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-24 21:40] #29911 closed

[2019-04-24 21:45] SaurabhSharma-MSFT commented on #29887
Thanks @Daya-Patil
@dennisxu2019 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-04-24 21:45] #29887 closed

[2019-04-24 21:46] mickey1025 commented on #30021
@TravisCragg-MSFT Thank you for replying, here is the documentation that I'm using: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-customize-voice-font

[2019-04-24 21:49] shireeshkthota commented on #29850
yes, in the case of if-none-match matching the etag, we would simply a nominal charge of 1 RU irrespective of the document size. If you run into any issues, please feel free to send me a note to Shireesh.thota @ microsoft dot com

[2019-04-24 21:52] Alberto-Vega-MSFT commented on #30010
@brucelowekamp Thanks for the suggestion! I agree that it will make for a better experience going through the tutorial.  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-24 21:53] zhenlan commented on #29883
Hi @76mel, sorry for running into this. As suggested in the exception message - the offline catch is only supported when the app is running in Azure App Service. If you are running the app locally, you can remove the line `.SetOfflineCache(new OfflineFileCache())` in your code.

This is an issue in our quickstart document. We should provide more context of the offline cache feature. Thanks for rep

[2019-04-24 21:58] Alberto-Vega-MSFT commented on #30016
@gjswalling Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-24 22:03] Grace-MacJones-MSFT commented on #30018
Hi @kfollis, thanks for bringing this to our attention.  We will update the link shortly

[2019-04-24 22:03] roiyz commented on #7708
paging @johnkemnetz to respond on this.

[2019-04-24 22:08] MarkMcGee1 commented on #8338
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 22:08] #8338 closed

[2019-04-24 22:08] TravisCragg-MSFT commented on #29993
@srnly Glad to hear that you got this working! Please let me know if you need further assistance.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 22:08] #29993 closed

[2019-04-24 22:10] AmirGeorge commented on #29557
@mansetaashok @jschweda thanks for reporting this. This seems to be another issue than the one the OP had. Will look into the issue and get back to you.

[2019-04-24 22:11] TravisCragg-MSFT commented on #30030
@cpdohert Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-24 22:16] Alberto-Vega-MSFT commented on #29722
@cobrauf Thanks for reaching out. I have assigned the question to the content author to help answer and evaluate the feedback.

[2019-04-24 22:18] nberdy commented on #30016
@Alberto-Vega-MSFT Can you please assign to @jlian ?

[2019-04-24 22:22] #13701 closed

[2019-04-24 22:23] #19584 closed

[2019-04-24 22:23] #23210 closed

[2019-04-24 22:23] #23949 closed

[2019-04-24 22:23] #24669 closed

[2019-04-24 22:24] #25785 closed

[2019-04-24 22:24] #27591 closed

[2019-04-24 22:24] #28235 closed

[2019-04-24 22:24] #28503 closed

[2019-04-24 22:25] #29125 closed

[2019-04-24 22:25] #29467 closed

[2019-04-24 22:25] #29821 closed

[2019-04-24 22:26] #29960 closed

[2019-04-24 22:26] #30008 closed

[2019-04-24 22:34] mansetaashok commented on #29557
@AmirGeorge , Thank you.
The error seems exactly the same as @zeeshan-ks has reported in the first comment. Just would like to understand that I'm not missing any important steps while downloading the file from the LUIS portal and passing it as an input to the container.

[2019-04-24 22:35] b-juche commented on #29586
Hi, @realJasonEKnight,
Thanks for your feedback!  The focus of the diagram in the article [Understand the storage hierarchy of Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-understand-storage-hierarchy) is to illustrate the levels in storage hierarchy.  There's a separate article that describes resource limits ([Resource limits for Azure NetApp Fi

[2019-04-24 22:37] b-juche commented on #29586
#please-close

[2019-04-24 22:38] MarkMcGee1 commented on #8770
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-24 22:38] #8770 closed

[2019-04-24 22:44] Mike-Ubezzi-MSFT commented on #30030
@cpdohert In looking through the documentation links, all are query reference information for READ operations not CREATE, UPDATE, or DELETE. I agree there needs to be a doc that provides the amount of information for the other CrUD operations as there is for READ operations.

I am forwarding this issue on to the content author to evaluate and update as appropriate, most likely in the form of a new

[2019-04-24 22:45] Mark7even opened #30033 "High-Risk Events"
Is leaked credentials the only high-risk event? If there are more than that I cannot find them stated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198f0e69-af2a-8c82-041a-c5ca4126f02f
* Version Independent ID: 4be57788-f1c2-d6d4-b94a-a59350a618a7
* Content: [Azure Active Directory risk events](https://docs.microsoft

[2019-04-24 22:50] #29586 closed

[2019-04-24 23:05] yegu-ms commented on #29926
We added this and it's now published. #please-close

[2019-04-24 23:05] yegu-ms commented on #29885
We fixed this and it's now published. #please-close

[2019-04-24 23:06] johnthcall opened #30034 "When certificateThumbprint needs to be left is unclear"
The document has the line "Also consider removing the certificateThumbprint, it may no longer be needed." It is unclear when it is safe to remove this configuration or if doing so will cause the cluster to end up in an error state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34f6d36-58e7-ab10-e659-bdd10a64deca
* Ve

[2019-04-24 23:07] MartinJaffer-MSFT commented on #29970
@tanujbhakre I have begun my reproduction, but got a different error.

[2019-04-24 23:18] MartinJaffer-MSFT commented on #30009
Hello @ricardoserradas  and thank you for your contribution.  We will review the document and update as appropriate.

[2019-04-24 23:19] BharathNimmala-MSFT commented on #29926
Thank you @yegu-ms

@76mel - We are closing this issue for now, if you have any further queries please tag us in your reply and happy to take the conversation forward. Thank you.

[2019-04-24 23:19] #29926 closed

[2019-04-24 23:19] BharathNimmala-MSFT commented on #29885
Thank you @yegu-ms

@76mel - We are closing this issue for now, if you have any further queries please tag us in your reply and happy to take the conversation forward. Thank you.

[2019-04-24 23:19] #29885 closed

[2019-04-24 23:20] colinweiner commented on #13973
I agree with @mikenri, the documentation is misleading.  I stepped through the doc and choose text code auth as this was for a lab and I could not use Authenticator App and I spent some time researching and it was not until I found this opened item.  Can we re-open?

[2019-04-24 23:22] colinweiner opened #30035 "MFA Text Code Support #13973 opened on Aug 24, 2018 by drewamador12"
Can we re-open #13973?

I agree with @mikenri, the documentation is misleading.  I stepped through the doc and choose text code auth as this was for a lab and I could not use Authenticator App and I spent some time researching and it was not until I found 1#3973.  Can we re-open?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-24 23:25] MarileeTurscak-MSFT commented on #29905
To create an app-based conditional access policy you just need one or the other, as the document says.

CC: @MicrosoftGuyJFlo

Service Admins need an Intune or EMS license to access the Intune company portal so that might be where the confusion lies.

Hope this helps!

[2019-04-24 23:26] MarileeTurscak-MSFT commented on #29905
We will now proceed to close this thread. If you have further questions feel free to tag me or @MicrosoftGuyJFlo in the comments and we will gladly continue the discussion.

[2019-04-24 23:26] #29905 closed

[2019-04-24 23:33] MartinJaffer-MSFT commented on #30003
Thank you for bringing this issue to our attention @abernaln .  We will review the issue and get back to you.

[2019-04-24 23:36] MartinJaffer-MSFT commented on #29996
Hello @dalmat36  and thank you for bringing this to our attention.  We will review the document and get back to you.

[2019-04-24 23:41] KeiroKamioka0000 opened #30036 "Difference between the rebooting VM from Portal and OS"
Is there are the difference between the restarting VM from Portal and within the OS?

When VM turned off from the OS, it will get billed because VM wasn't deallocated.

Is there are the significant difference between the restarting from the Portal and OS?

Thanks,

-keiro

![image](https://user-images.githubusercontent.com/37641695/56700558-d035af80-66af-11e9-9dea-bafae36df29e.png)

---
#### Docum

[2019-04-24 23:44] MartinJaffer-MSFT commented on #29970
@tanujbhakre  I hope to have a meaningful update Monday.  My apologies for the delay.

[2019-04-24 23:46] TravisCragg-MSFT commented on #29986
@oramoss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-24 23:47] femsulu commented on #29754
@georgewallace assuming you've logged a workitem to track resulting doc enhancements.
Closing this issue but happy to re-open if requested.

[2019-04-24 23:47] #29754 closed

[2019-04-24 23:51] femsulu commented on #29801
@snehaamicrosoft , any thoughts on this?

[2019-04-24 23:51] yegu-ms commented on #29883
We'll update our doc to make it clearer how to use offline cache. #please-close

[2019-04-24 23:51] dcui commented on #26014
This is a bug in the Xorg shipped in RHEL 7.6: https://bugzilla.redhat.com/show_bug.cgi?id=1665433

[2019-04-24 23:53] alexgman commented on #5412
I have a servicebus triggered logic app.

I've configured this trigger with the following;
[code]

When I see my logic app running, I'm definitely seeing more than 10 instances!

Am I configuring the concurrency correctly?

Furthermore, when I got the portal and view the settings on the trigger, it shows that nothing is configured:

![image](https://user-images.githubusercontent.com/4227695/567009

[2019-04-25 00:00] femsulu commented on #29953
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-25 00:00] #29953 closed

[2019-04-25 00:09] MicahMcKittrick-MSFT commented on #30036
Thanks for the question! We are investigating and will update you shortly.

[2019-04-25 00:10] MicahMcKittrick-MSFT commented on #30034
Thanks for the question! We are investigating and will update you shortly.

[2019-04-25 00:10] Grace-MacJones-MSFT commented on #30023
Hi @jdkr0220, thanks for bringing this to our attention. We will update the link shortly

[2019-04-25 00:11] jegeib commented on #25468
@saurbhsh Is there official Azure Docs guidance as to what is supposed to be in ms.date field in the header? Currently it's the creation date rather then last updated.

[2019-04-25 00:18] MartinJaffer-MSFT commented on #29986
@oramoss I have just checked, myself.  I do not see the Managed Identity option either.  I will assign this issue to the author, @linda33wj ,  for comfirmation.

[2019-04-25 00:23] femsulu commented on #30025
@mganeshphani Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-25 00:31] femsulu commented on #30014
@nwehner Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-25 00:36] smithGit opened #30038 "Managing IOTC Continuous Storage Blobs: How to Delete?"
This explains how to set things up but not how are things taken down - stopping continuous export and deleting continuous export blobs that are no longer needed.  The portal console exposes the blobs but the delete button is disabled with no explanation of why.  I want to delete all blobs for April (Month 04) and there is no apparent way to do this from the storage console.

---
#### Document Deta

[2019-04-25 00:39] Nking92 commented on #29948
I found out today the applens tool is not directly available to customers, however its tools can be used through App Service Diagnostics: https://docs.microsoft.com/en-us/azure/app-service/overview-diagnostics

The scenario for the customer would be to open the Diagnostics blade, then go to the Migration Operations helper. The Migration helper can be accessed by directly searching for it, or click

[2019-04-25 01:21] ianyian commented on #29976
Hi @AjayKumar-MSFT
   i managed to included enviromentVariable , which prompt me another error.  (please see the picture attachment).
  actually my experiment is very straightforward which just create a new aspnet application without any single change and make used of VisualStudio to publish the application into azure, however it seen like not so easy as i expected.
appreciate someone could help t

[2019-04-25 01:24] kazshi opened #30039 "migration path for vCenter 5.0 or earlier"
I understand that vCenter 5.0 or earlier is not supported for migration, but my customer has vCenter 5.0 (or earlier) VMs. I think they need to upgrade to vCenter 5.5 or later to migrate and that's only the way to migrate, correct? I would like to make sure that since my customer asked to provide recommended way. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-04-25 01:33] ToshinaoOnodera opened #30040 "Missing of referebce documentation for Microsoft.Azure.Storage.Common"
There is no documentation for Microsoft.Azure.Storage.Common. Could you please provide reference document for the above namespace?

https://docs.microsoft.com/ja-jp/dotnet/api/overview/azure/storage/client?view=azure-dotnet

We sometimes need to check the reference how to use APIs but we cannot check that. For example, we cannot find the doc for "Microsoft.Azure.Storage.OperationContext".

Current

[2019-04-25 01:46] cogran opened #30041 "Outbound Rules behind a Standard Internal Public Load Balancer"
Under Enable Outbound Only-Outbound NAT for internal Standard Load Balancer scenarios, this seems pretty straight forward. However, the configure outbound rules with Azure CLI 2.0 How-To doesn't provide an example where there isn't a load balancer rule for outbound only. Attempting to create an Outbound Rule with the AZ CLI commands leads to an error. Can the documentation be more explicit in eith

[2019-04-25 02:03] DCtheGeek commented on #29228
@JozoSlejko The doc will be updated tomorrow with the information.  Thanks for asking a great question! This issue will automatically close as I've merged the change.  If you have other docs questions or issues, please do open a new issue. Thanks!

[2019-04-25 02:05] #29228 closed

[2019-04-25 02:05] dennisxu2019 commented on #29887
Thanks for the update Sauranh this is quite amazing turnaround to fix an
issue on the doc link.

Never thought Microsoft can act this quick!

Cheers, Dennis

On Wed, Apr 24, 2019 at 5:46 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2019-04-25 02:32] Exlsunshine commented on #28187
What I am trying to do is to deploy the [manifest.json file](https://docs.microsoft.com/en-us/rest/api/iothub/service/applyconfigurationonedgedevice) to iothub by python sdk, just like this [C# sdk](https://docs.microsoft.com/en-us/rest/api/iothub/service/applyconfigurationonedgedevice), I want the same sdk in python version, but I couldn't find it, or does it even exist? Although I no longer need

[2019-04-25 02:32] cogran commented on #29446
Sorry for the delayed response -- I guess the conflict exists where Storage Documentation shows that Microsoft.Insights and Microsoft.Network are supported Trusted Microsoft Services. If an NSG is a Microsoft.Network resource and FlowLogs are from Microsoft.Insights, why does Storage say I can use Trusted Microsoft Services but NSG Flow Logs say I cannot? There is an inconsistency.

https://docs.m

[2019-04-25 02:34] cogran commented on #29938
@TravisCragg-MSFT - This doesn't really provide additional clarification over the original document. Additional clarity could be helpful. Some of my colleagues were also confused.

[2019-04-25 03:22] SubhashVasarapu-MSFT commented on #30041
@cogran , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-25 03:23] BharathNimmala-MSFT commented on #29883
Thank you @yegu-ms

@76mel - We are closing this issue for now, if you have any further queries please tag us in your reply and happy to take the conversation forward. Thank you.

[2019-04-25 03:23] #29883 closed

[2019-04-25 03:24] swinarko commented on #29886
Let's correct the terminology first, it's Azure-SSIS IR, not Azure SSSIDB.  There are many things that can cause perf discrepancy, e.g. different VM size, SSISDB size/location, network latency, etc., see https://docs.microsoft.com/en-us/azure/data-factory/configure-azure-ssis-integration-runtime-performance (will be updated soon w/ v3 series node sizes).  To run packages in parallel, you can incre

[2019-04-25 03:33] andersonmolter1 opened #30044 "The system cannot find the file specified. After Entering Command Into CMD"
When I navigate to the folder and have "C:\Users\ander\sampleData>" and then put the bcp command with the appropriate values I get the error  "The system cannot find the file specified."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5802ba59-8c08-7b41-7aec-2640cc287ae3
* Version Independent ID: 13c04835-76a2-96bc-01ad

[2019-04-25 03:36] kevinlam1 commented on #5412
It looks like you added the runtimeConfiguration object as a child of the inputs object instead of as a peer of it.

[2019-04-25 03:40] KetanChawda-MSFT commented on #29863
@mikebudzynski Can you share your thoughts here?

[2019-04-25 03:54] KalyanChanumolu-MSFT commented on #29796
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-04-25 03:54] #29796 closed

[2019-04-25 04:03] Grace-MacJones-MSFT commented on #29884
@abilous-ti are you seeing any type of error message? are you connecting through the Kudu site?

[2019-04-25 04:06] AjayKumar-MSFT commented on #29990
@bertrandpons, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-25 04:15] xyh1 commented on #12657
Those instructions are described in the [powershell](https://docs.microsoft.com/en-us/azure/storage/common/storage-encryption-keys-powershell) and [CLI tutorial](https://docs.microsoft.com/en-us/azure/storage/common/storage-encryption-keys-cli)

#please-close

[2019-04-25 04:17] neeleshray commented on #30035
@colinweiner
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-25 04:18] neeleshray commented on #30033
@Mark7even
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-25 04:23] kazshi commented on #29796
@KalyanChanumolu-MSFT I think I won't be able to provide information why UserID = 'USER@YOUR-SERVER', didn't work for their environment. But, where can we find information about "UserID = 'USER@YOUR-SERVER.mysql.database.azure.com'," format?  Thanks

[2019-04-25 04:24] neeleshray commented on #30033
@Mark7even
Leaked credentials, Sign-ins from anonymous IP addresses, Impossible travel to atypical locations, Sign-in from unfamiliar locations, Sign-ins from infected devices and Sign-ins from IP addresses with suspicious activity are the listed RISK Events in Azure AD

[2019-04-25 04:26] AshokPeddakotla-MSFT commented on #30038
@smithGit Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-25 04:26] CHEEKATLAPRADEEP-MSFT commented on #29771
@djpirra We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-25 04:26] #29771 closed

[2019-04-25 04:27] CHEEKATLAPRADEEP-MSFT commented on #29817
@yimialejoh Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-25 04:27] #29817 closed

[2019-04-25 04:39] SumanthMarigowda-MSFT commented on #30040
@ToshinaoOnodera To understand the issue better, could you please provide more details on the issue you are experiencing? Do point any specific step or document section that you’re unable to follow? Also, kindly do share a screenshot of the issue after concealing any private details. Looking forward to your reply.

[2019-04-25 04:43] moshegutman opened #30045 "Typo fronted vs frontend"
“It's configured with a fronted IP address, protocol, and port number for connections from clients to the application gateway.” should read “It's configured with a *frontend* IP address, protocol, and port number for connections from clients to the application gateway.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03

[2019-04-25 04:51] ToshinaoOnodera commented on #30040
![referenceDoc](https://user-images.githubusercontent.com/19425836/56710318-79d47980-6760-11e9-9291-4a279f66213d.png)

As you can see the above image, there is no "Microsoft.Azure.Common" namespace. However, we provide some class under "Microsoft.Azure.Common" namespace such as "https://github.com/Azure/azure-storage-net/tree/master/Lib/Common".

So we should provide the documentation for "Microso

[2019-04-25 04:53] RohitMungi-MSFT commented on #29958
@swanderz Our team is currently working to sort this out. The updates should be done soon.

[2019-04-25 05:02] VikasPullagura-MSFT commented on #30036
@KeiroKamioka0000 If you perform a reboot from the Azure portal, Azure PowerShell, command-line interface, or Reset API, you can find the event in the [Azure Activity Log](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/understand-vm-reboot#user-initiated-reboot-or-shutdown-actions).
If you perform the action from the VM's operating system, you can find the event in the sys

[2019-04-25 05:21] SadiqhAhmed-MSFT commented on #30039
@kazshi Thanks for the question! Will check on that and get back to you with an update.

[2019-04-25 05:22] CHEEKATLAPRADEEP-MSFT commented on #29996
@dalmat36 Thanks for bringing this to our attention.

Yes, you are correct, there is no option to create a new repository directly from ADF portal.
![image](https://user-images.githubusercontent.com/44426401/56711112-05411100-6747-11e9-8a94-afc75deaad78.png)

To use this functionality, please do create a new repository in GitHub => Your repositories. before you set up code repository.
![image](htt

[2019-04-25 05:27] RohitMungi-MSFT commented on #29983
@KristofferBerge Yes, the v3 version of the API needs the iteration name to be specified in the prediction URL. The option to make Default is not available for v3.

[2019-04-25 05:32] abilous-ti commented on #29884
@Grace-MacJones-MSFT I see the error in Log stream of the App Service

[2019-04-25 05:36] githubavi commented on #28756
Hi @CelesteDG, any update on this?

[2019-04-25 05:54] Anand-Moghe opened #30046 "Is ISE the same as Azure App Service Environment in Isolated App Service plan?"
Does ISE environment for Logic App acts the same like Azure App Service Isolated plan's ASE environment? Like can it be completely 100% isolated with no internet traffic and only private traffic from my VNET?

In other word if I put Logic app in ISE, does it still have any public IP for management or any other purpose? Or does it get a private IP from my VNET? Can I deploy it with express route  o

[2019-04-25 06:06] ManojReddy-MSFT commented on #30035
@colinweiner Thanks for reporting this. We actually mention that you have to use supported methods in the documentation.

"For more information about supported authentication methods see the section[ Determine which authentication methods your users can use](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#determine-which-authentication-methods-your-us

[2019-04-25 06:10] lightupdifire commented on #29877
@MarileeTurscak-MSFT,
I'm testing the scenario like to apply general SharePoint settings to LimitedAccess,
Article: "https://docs.microsoft.com/en-us/sharepoint/control-access-from-unmanaged-devices"
And I don't want to "exclude" any user from policy,
But in that article there is message:
<<
External users will be affected when you use conditional access policies to block or limit access from unma

[2019-04-25 06:32] msrini-MSFT commented on #30045
@moshegutman , Thank you for your feedback. PR has been made.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/74642

[2019-04-25 06:32] #30045 closed

[2019-04-25 06:35] tomasaschan commented on #24346
I don't think that's applicable here; note that this certificate is not something I have any power over, and I can't affect it much. And the docs page you linked to also specifies

The `root.crt` for postgres (which is where I started with this) does not seem to have a private key; and if it did, I sincerely hope you wouldn't share it with me...

[2019-04-25 06:36] tomasaschan commented on #24346
#please-reopen

@rachel-msft @MicahMcKittrick-MSFT

[2019-04-25 06:39] jjindrich opened #30047 "Wrong documentation"
Hi, I was following this doc to install self-hosted runtime, there is wrong command Get-AzureRmDataFactoryV2IntegrationRuntimeKey -&gt; fix it to Get-AzDataFactoryV2IntegrationRuntimeKey.
Next there is missing last step 4 in paragraph High-level steps to install a self-hosted IR to put key into runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-25 06:42] vineelavelagapudi opened #30048 "Wrong filesystem error while specifying spark input creating pipeline in adf"
The below is the exception seen while i am running spark activity in azure data factory.If any one faced this issue.Please let me know the solution...

stdout:
Warning: Master yarn-cluster is deprecated since 2.0. Please use master "yarn" with specified deploy mode instead.
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/hdp/2.6.3.84-1/spark2/jars/slf4j-l

[2019-04-25 06:51] YASWANTHM-MSFT commented on #29952
@kb321, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 06:53] YASWANTHM-MSFT commented on #29999
@kborovik, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 06:53] rboucher commented on #29899
@msvijayn I'll take a look.

[2019-04-25 07:01] BryanTrach-MSFT commented on #20093
@Stereo89, @kanephil, @tonito787, and @j0h The scenario of peering a "New VNet integration" VNet with another VNet that contains an ExpressRoute is supported. (Note Global Peering is not supported so all networking resources should be in the same region.)

There are two known reasons why it might not work.

- Networks involved use non-RFC 1918 addresses
- IPs involved are in the 10.0.0.0/17 addres

[2019-04-25 07:01] AshokPeddakotla-MSFT commented on #30038
@smithGit You need to select the checkbox to delete particular name of Continuous Data Export.
Once checkbox is selected "Delete" option will be enabled.
See the below pictures for more details.
![image](https://user-images.githubusercontent.com/44426435/56715257-c87c1680-6754-11e9-9d05-308a9ac0f333.png)

![image](https://user-images.githubusercontent.com/44426435/56715308-eba6c600-6754-11e9-90c5-

[2019-04-25 07:02] RickB-0923845 opened #30050 "On which requests to insert the headers?"
I've read that the tenant ID should be kept private. I'm wondering if the headers would go unencrypted on the wire if inserted in the initial connect request, and therefore if, to protect our tenant ID, we should only begin inserting the headers after the SSL connection to AAD has been established and the client is requesting a token.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-25 07:04] shashishailaj commented on #29846
@richardspitz Thank you for providing clarifications and sharing the errors obtained by you with the larger community while working with this. We checked this and while we understand the naming convention used may sometimes appear to be confusing but, we believe that it is aptly named. The Object Id of the application object uniquely identifies the application object within the directory. App ID /

[2019-04-25 07:04] #29846 closed

[2019-04-25 07:04] julesman101 opened #30052 "Need to update reference to Maximum Data Disk size"
The section titled "How much storage can I use with a Virtual Machine" refers to a maximum data disk size of 4TB.  Today (March 25th 2019) the maximum data disk size is 32TB (32767GB).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b4784
* Version Independent ID: 4c30cc9b-fa80-b174-8cdb-c

[2019-04-25 07:18] GNMurthy1982 commented on #9187
The documentation on this page doesn't mention an Authority field, which is required when adding an Identity Provider here in 2019. Any update on this comment

[2019-04-25 07:20] maxiptah commented on #29987
Thank you for the quick answer. I'll post to stackoverflow, however I don't agree it's not a docu question. Basically I went through your samples and uploaded our rootCA to IoT hub. Our security specialist however refused to validate the proof of posession. Reason: Our rootCA is locked and no sub-certs should be issued. He asked me to point to the documentation where it is said, that we MUST use t

[2019-04-25 07:36] RickB-0923845 opened #30053 "Is the tenant ID enforced? If tenant name is instead, is that enforced?"
A proxy vendor's instructions for leveraging this feature says the following which is surprising: "Please note the Tenant ID is not strictly speaking needed for this policy to work, it is added here for completeness."
I would hope that if we specify our tenant, that AAD enforces it, and will not authenticate identities from any but our tenant. Can you confirm if that's the case? Also, the proxy ve

[2019-04-25 07:38] PramodValavala-MSFT commented on #29791
@philemon33 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-25 07:38] #29791 closed

[2019-04-25 07:46] hansmbakker commented on #28461
@NateB2 were they able to reproduce it?

[2019-04-25 07:46] genlin commented on #29552
@thiruma0203 Thanks for pointing out the problem. I have submitted a pull request for updating the path of the script.

[2019-04-25 07:46] aquibqureshi26 opened #30054 "Disable protection for a Hyper-V virtual machine (Hyper-V to Azure)"
Disable replication and remove (recommended) : This option only delete the object from site recovery, if we've performed failover or planned failover those VMs will still be up and running on Azure.

Can you please update the same in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e25918-0eab-3275-8f0e-3d

[2019-04-25 07:48] j0h commented on #20093
Thanks for the response @BryanTrach-MSFT. I'm trying to peer between two regions so using VNET integration to connect my functions to VMs is not going to work as it seems. I'll try and find another workaround, hopefully it'll be possible is the future as I was pretty excited to jump on the Premium Plan with its VNET capabilities.

[2019-04-25 07:52] gkens opened #30055 "Chat login step?"
Please add the steps to switch your login from local to using aad credentials to log into PC

Please add steps on how to verify correct join in intune

Please add troubleshooting if things go awry either with login or intune enrollment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bc5c22-d6e7-ad50-5d1f-1ba43cef7b2d

[2019-04-25 07:56] MoRMongol commented on #29183
I'm not seeing any error message, I'm just not seeing the target VM to assign the IP to. It'd be great if you could record your screen doing it and share it with us so we can follow it step by step.
I tried doing it in different ways, but none of them worked. I created 2 load balancers to try different ways.
Attempt #1
![image](https://user-images.githubusercontent.com/49771843/56718950-5f0b0080-6

[2019-04-25 07:57] NateB2 commented on #28461
@hansmbakker - yes, and they said that it's not yet implemented, but going to be implemented before the new VNET integration reaches GA. They didn't give a timeline as to when that was going to take place, however.

[2019-04-25 07:58] #29552 closed

[2019-04-25 08:00] genlin commented on #29552
@thiruma0203 I will process to close this issue after the pull request is merged.  Feel free to reopen it if you have any additional comments or feedbacks. Thanks again for helping to improve the content.

#please-close

[2019-04-25 08:01] msrini-MSFT commented on #29853
@cogran , I will go ahead and close this issue now. Please tag me if you have any further questions.

[2019-04-25 08:01] #29853 closed

[2019-04-25 08:08] AshokPeddakotla-MSFT commented on #29930
@walsehgal Please have a look at this and update the document as appropriate.

[2019-04-25 08:11] genlin commented on #28601
@KeiroKamioka0000  Thanks for the suggestion. The reboot related question is not in the scope of this article. If you would like to know the impact of reboot in web app, please contact [our support](https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade). I will process to close this issue. Feel free to reopen it if there is any additional comment or feedback.

#28187

[2019-04-25 08:13] CelesteDG commented on #26026
Hello @tmarinov - Thank you for your feedback. We're working on this content right now in our Build release branch. Please expect to see this go live during //Build week (likely live on May 6, 2019). We'll have an application scenario called "Web app that calls web APIs" and have the code examples you're looking for. Thank you.

#in-progress

[2019-04-25 08:13] angoyal-msft commented on #30044
@andersonmolter1 Thanks for your feedback. I have tried the same scenario and it is working fine for me.
I believe there could be some path issue.
Also if I try to execute bcp command from some other path where I don't have SampleCourseData file, I get "Unable to open BCP host data-file" error.

Could you please verify that you have copied the files mentioned in the document at the same path and e

[2019-04-25 08:23] DixitArora-MSFT commented on #30046
Hi @Anand-Moghe Thanks for reaching out. We will review and update as appropriate.

[2019-04-25 08:24] andyjcooperuk opened #30057 "Update on #19974"
Hi, Just wondering if there had been any update on a updated Powershell based solution raised in #19974? Thanks Andy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tutorial: Azure Active Directory integration

[2019-04-25 08:28] #30044 closed

[2019-04-25 08:32] SadiqhAhmed-MSFT commented on #30054
@aquibqureshi26 Thanks for the feedback! I have added the content author for further review and update as appropriate.

@Rajani-Janaki-Ram FYI.

[2019-04-25 08:42] xNiklasJern opened #30058 "Block direct assignment"
Since this is more or less best practice. Is there a way to block the possibility for direct assignments of licenses (from admins)?
From a governance perspective this would be a really nice feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent ID: ef317dea-e56

[2019-04-25 08:42] zirain opened #30059 "O365 send approval mail can not work with do until loop"
hey,
I try to use logic app send an approval email to someone, and resend every 10 minutes untill get approval response.
any guides or suggestions about how to configure?
thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959916bd-1d86-83b9-55c0-f2e97c5f90fd
* Version Independent ID: be424eb8-8bd5-12d3-a2bb-e1d8c3ea64

[2019-04-25 08:44] VikasPullagura-MSFT commented on #30036
@KeiroKamioka0000 As you mentioned, when you shutdown the VM from OS it will Stop the VM but not deallocate it. So you will still be billed as VM is not deallocated.
In case of VM restart either from Portal or from OS, the billing is not going to make a difference. The only way to avoid incurring compute charges on VM is to Stop the VM from portal (deallocated state).

[2019-04-25 09:15] YutongTie-MSFT commented on #29759
@JohnStraumann66 Hi, got you. According to the https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/tree/master/CustomVision  example here, it should be done by retrain the new data set(the 5 images and the 20 new images) for now if the data set is not pretty big.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here

[2019-04-25 09:15] #29759 closed

[2019-04-25 09:18] KalyanChanumolu-MSFT commented on #29796
The samples and documentation generally use the UserID = "USER@YOUR-SERVER" format since the C# API has a Server property too.
It would be worth the effort to figure out why the other format isnt working.
If the customer has a support plan, I would request you to have them create a support request to investigate further.

[2019-04-25 09:23] PingPongSet opened #30060 "Code example for Correlation Filters"
Do we have code example for Correlation Filters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d45fc4-082b-6da7-80d5-5ab1bc337ce5
* Version Independent ID: 54245f96-ae3d-ea7a-36b8-5a1da81d2fe8
* Content: [Azure Service Bus topic filters](https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters)
* C

[2019-04-25 09:33] jayaprakashkamaraj opened #30061 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
i followed all the instructions in below docs ,https://docs.microsoft.com/en-us/azure/aks/istio-scenario-routing

but when i open the IP address of the Istio Ingress Gateway ,

facing the above errors can you help me on this?

kubectl

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"201

[2019-04-25 09:36] ShBansal22 commented on #29654
@AjayKumar-MSFT , I installed all the required prerequisites as mentioned in the document and working as per the steps mentioned over there, but I am unable to attach the snapshot debugger, could you please try to implement the same on your machine locally if possible, but it is not working for me.

[2019-04-25 09:36] CorryH opened #30062 "How can I use the authentication-managed-identity policy?"
I copy/paste the policy from this page, but get this error:
"Error in element 'authentication-managed-identity' on line 16, column 10: There is no policy matching element name"
Also the policy isn't visible inside the "Authentication policies".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2be8b264-03df-625e-0064-06cb

[2019-04-25 09:45] maxiptah commented on #29987
I've created a SO question, but it's dead more or less, because nobody knows how IoT hub would behave, but for IoT hub devs themselves...
https://stackoverflow.com/questions/55844044/iot-hub-certificate-validation

[2019-04-25 09:46] DashleenBhandari-MSFT commented on #29969
@matedemorphy Could you please follow this blog and try deploying - https://prmadi.com/installing-native-nodejs-moduleson-azure-app-services-during-git-deployment/
https://prmadi.com/debug-nodejs-app-in-azure-app-services-windows-2/
https://prmadi.com/nodejs-npm-versions-azure-webaps/

[2019-04-25 09:48] CHEEKATLAPRADEEP-MSFT commented on #30047
@jjindrich Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/74664](https://github.com/MicrosoftDocs/azure-docs-pr/pull/74664).
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

A

[2019-04-25 09:50] tomwwagstaff-product commented on #28754
Hi @marktab,

I just want to confirm my understanding now I've had the chance to review these documents.

I've concluded that the only way to retrain a model, including using Azure Data Factory, is to create a retraining endpoint and pass new data to the model that way. If I simply update a dataset loaded in Azure Machine Learning Studio, this will have no effect until I retrain that model manuall

[2019-04-25 09:51] Suzuko123 opened #30063 "No warning about it taking several hours for the subscriptions to become visible after moving"
Please add a warning that movement might take several hours and remind them to check the filters for the moved subscription, as well!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subsc

[2019-04-25 09:53] #30047 closed

[2019-04-25 10:13] binduchinnasamy commented on #29866
@kgremban - That's really fast! looks perfect now.

[2019-04-25 10:13] #29866 closed

[2019-04-25 10:28] 0acff4be45 opened #30064 "Remove direct licenses for users with group licenses"
This script errors with:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5905fd6-5899-f2c6-ff56-f90c4183b5f4
* Version Independent ID: d4ac0732-5985-702c-3260-f6b615f24292
* Content: [PowerShell and Graph examples for licensing groups - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-direc

[2019-04-25 10:30] msandbu opened #30065 "This option is no longer available"
This option is no longer available for my tenant, has it changed recently?

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: b602a91d-7aa4-705b-004a-780108514ea4
* Version Independent ID: 5742fdc9-307a-99aa-ca6b-58a792ad906f
* Content: [Office 365 control plane in Azure Virtual WAN](https://docs.microsoft.com/nb-no/azu

[2019-04-25 10:35] CHEEKATLAPRADEEP-MSFT commented on #30048
@vineelavelagapudi Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum comm

[2019-04-25 10:36] RohitMungi-MSFT commented on #29557
@AmirGeorge @diberry I am reopening the issue as it is reported that there could still be an issue with the exported file. Please do let me know if you have already added to your backlog and I will go ahead and close it.

[2019-04-25 10:37] CHEEKATLAPRADEEP-MSFT commented on #29941
@Kamyar5353 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-25 10:37] #29941 closed

[2019-04-25 10:43] shashishailaj commented on #30050
@RickB-0923845 Thank you for your feedback . We will investigate and update the thread further.

[2019-04-25 10:45] shashishailaj commented on #30063
@Suzuko123 Thank you for your feedback . We will investigate and update further.

[2019-04-25 10:45] jakaruna-MSFT commented on #29780
@girishgouda is there any update?

[2019-04-25 10:46] shashishailaj commented on #30064
@0acff4be45 Thank you for your feedback . We will evaluate the script and update the same.

[2019-04-25 10:47] shashishailaj commented on #30058
@xNiklasJern Thank you for your query . We will investigate and update further.

[2019-04-25 10:50] shashishailaj commented on #30055
@gkens Thank you for your feedback . We will engage with the content team on this and let you know accordingly.

[2019-04-25 10:51] shashishailaj commented on #30057
@andyjcooperuk Thank you for your feedback. We will investigate and update the thread accordingly.

[2019-04-25 10:53] tulasim88 commented on #29757
@jwatkin - thanks for the feedback. We have fixed the documentation to reflect that 0 is the default threshold and 50 is the recommended threshold.

You are right- the threshold is the score below which the default answer is shown.
You can change the threshold in the call to generate answer using the "scoreThreshold" field. See details here: https://docs.microsoft.com/en-us/azure/cognitive-service

[2019-04-25 10:54] SubhashVasarapu-MSFT commented on #29946
@cogran , We have assigned this issue to the author for updating the document accordingly. @yushwang Could you please provide your insights on this?

[2019-04-25 10:56] jjindrich commented on #30047
Thank you.

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: čtvrtek 25. dubna 2019 11:49
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jaroslav Jindrich <jaroslav.jindrich@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Wrong documentation (#30047)

@jjindrich<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2

[2019-04-25 10:56] JohnStraumann66 commented on #29759
Thanks for your response but unfortunately it does not answer the question. The sample shows how to create Tags and upload images when the sample is run once, but does not show how the Tag IDs can be retrieved so more images/retraining can be done on subsequent runs.

[2019-04-25 10:59] neeleshray commented on #29779
We will be closing this thread now. Let us know if you need further help.

[2019-04-25 10:59] #29779 closed

[2019-04-25 11:02] neeleshray commented on #29855
@dcbrown16
Yes, the screenshot shows the group to which the RBAC Role has been assigned for the intended resource.
We would close the issue now. Let us know if you need further help.

[2019-04-25 11:02] #29855 closed

[2019-04-25 11:03] jwatkin commented on #29757
Thank you. That helps. Is there a way for people working in the QnA Maker Portal to set the threshold for the "Test" pane?

[2019-04-25 11:04] SubhashVasarapu-MSFT commented on #29463
@russ138 , I am assuming that you might had a call with tech support on this;if so, would you please provide me with the case number. Please mail the case number to AzCommunity@microsoft.com.

[2019-04-25 11:27] jakaruna-MSFT commented on #29974
@Klaas-  Thanks for reporting.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-25 11:28] mcousine commented on #9575
see https://github.com/Azure-Samples/blockchain/issues/175 swithc browser

[2019-04-25 11:31] jakaruna-MSFT commented on #30052
@julesman101
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-25 11:34] jakaruna-MSFT commented on #30052
@cynthn Please review the pull request submitted by @Daya-Patil

[2019-04-25 11:40] Valkhan commented on #29902
Thank you, now i've been able to find what I was looking for. Congratulations to everybody!

[2019-04-25 11:46] ManojReddy-MSFT commented on #30053
@RickB-0923845 There are two headers that we expect when you are leveraging this feature.

Restrict-Access-To-Tenants: List of tenants that should be allowed to get a token through this proxy. You can configure domain name here instead of tenant ID and Azure will be able interpret that.

Restricted-Access-Context : This header includes the tenant ID of the tenant who is setting the restriction. Th

[2019-04-25 11:47] ManojReddy-MSFT commented on #29979
@stuart-murray I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-04-25 11:52] Kamyar5353 opened #30066 "Azure Data Factory IP Whitelisting for SFTP Server"
My SFTP server has an IP filtering in front of their firewall. I need to provide the IP that I want to connect from to whitelist that in firewall. I haven't seen anything in Azure Data Factory to provide IR IP. Can anyone help me with that?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-

[2019-04-25 11:53] ManojReddy-MSFT commented on #29750
@unmeshM Thanks for the clarification. You can only add applications added as native applications in the tenant and there is no limit for the number of applications that can be added currently. Are you getting any error while adding applications ?

[2019-04-25 11:58] msrini-MSFT commented on #30065
@msandbu , I will check this out with my subscription and update you.

[2019-04-25 12:03] stuart-murray commented on #29979
Thanks - yes it was helpful but it would be useful if it didn’t require full security admin - I don’t think there’s any reason not to expose this to Security Readers?

________________________________
From: K N Manoj Reddy <notifications@github.com>
Sent: Thursday, April 25, 2019 12:47:44 PM
To: MicrosoftDocs/azure-docs
Cc: stuart-murray; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What role i

[2019-04-25 12:05] lucarv opened #30068 "no such table"
you should update this page, there is no longer a default sample table created:

java.lang.Exception: org.apache.hive.service.cli.HiveSQLException: Error while compiling statement: FAILED: SemanticException [Error 10001]: Line 1:14 Table not found 'hivesampletable'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6593c2a

[2019-04-25 12:18] jakaruna-MSFT commented on #29975
@JerryMWeeks Thanks for reporting.
Your issue is the same as the issue which @MicahMcKittrick-MSFT  mentioned in the above comment.
If you login with the username and password used while creating the VM and go to the file `/var/log/auth.log`, You can find the below error messages.
[code]

We have informed the Product team about this issue. Will post the updates on the issue which Micah referrenced

[2019-04-25 12:18] mmichaluk opened #30069 "Monitor Alert fires only once?"
I was under impression that the limit for email Monitor Alerts was up to 60 per hour. I've got an alert rule set for VM CPU %, deliberately set low so I can get more alerts.  I get the email only once, when it's triggered. Changing the alert state from "Closed" to "New" does not re-send the email. I am the owner of the resource and the alert is set as Sev 3. What do I need to do in order to get mo

[2019-04-25 12:26] smithGit commented on #30038
Ashok Peddakotla – Microsoft

Dear Ashok,

Thank you for your prompt response.

I can get to the screens you indicate via the IOTC menus; however, these allow only deleting the whole parent node for IOTC blobs.

It appears that one cannot drill down from this menu within the parent node to see sub-nodes and delete selectively.

Re your instructions to delete blobs:  “If you wish to delete the blob

[2019-04-25 12:39] paramrsingh opened #30070 "Recommend an example for using Webhook Activity"
The document page is accurate but difficult to follow. I would recommend including a simple example showing how this control-flow can be used, especially since the callbackURI is auto-generated only after runtime invocation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f4db3e-4194-0e9e-a4d1-1c456c6f2efe
* Version I

[2019-04-25 12:40] jakaruna-MSFT commented on #29975
@JerryMWeeks I tried creating the server in South India which gave the error as shown in the previous comment.
When I created a server in Central US, I am getting the same error as yours. I will report this tot he product team. Thanks.

[2019-04-25 12:44] simonech commented on #24006
I've seen many pages have been updated already.
I'll double check to see if there are still some that use the old client.

On Wed, Apr 24, 2019 at 7:44 PM Terry Christiani <notifications@github.com>
wrote:

--
Simone Chiaretta
Microsoft MVP ASP.NET - ASPInsider
Blog: http://codeclimber.net.nz
RSS: http://feeds2.feedburner.com/codeclimber
twitter: @simonech

[2019-04-25 12:51] DCtheGeek commented on #29228
The update is now live here: https://docs.microsoft.com/azure/governance/blueprints/concepts/resource-locking#how-blueprint-locks-work

[2019-04-25 13:03] dwumpus opened #30071 "Set-AzApiManagement : Setting up Multiple Hostnames not supported for Sku Type 'Developer'"
The article's prerequisites indicate Developer or Premium Users, but in step 2 when you assign the certs and do the Set-AzApiManagement, it not-so-politely asks for a small commitment of $2,700/mo.  :o  And I am struggling to understand why anyone would choose any other sku than Premium?  What is the use case for those?  I guess this is more of a product question after-all.  I am working with an e

[2019-04-25 13:04] demongolem commented on #30029
I was able to add 5000 items successfully.  Therefore I think the functionality as it is stated in the documentation does work.  Just keep in mind that if the phase limit were ever expanded, the input approach might change.  I am not going to pursue this issue anymore.

[2019-04-25 13:04] richyla commented on #23789
@palma21 I've just tried your suggestion and still getting same issue with list of errors when logging in to dashboard e.g.

- kubectl proxy
- http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/login

configmaps is forbidden: User "clusterAdmin" cannot list configmaps in the namespace "default"

I have no role binding for the service account 'kubernetes-dash

[2019-04-25 13:10] Kaviarasi opened #30072 "Using Full public read access, anyone can hit the blob URL and increase the request count. Does Azure have any options to handle this scenario?"
can we also list of possible issues that one might face on using  Full public read access and Public read access for blobs only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a299cd29-143b-c263-7996-3467035b8937
* Version Independent ID: a8a1d0d0-411e-44eb-51da-c1f8ab90befa
* Content: [Enable public read access for con

[2019-04-25 13:18] xiaoyang-connyun opened #30073 "Use named values in OAuth configurations, allow HTTP protocol, and make client secret."
Hi API Management Team,

I was trying to setup OAuth configurations for API-M for a new project recently, and I was facing some troubles.

To be more precise, I was trying to configure `authorization endpoint url` and `token endpoint url`. It will work if I configure them as follows:
`https://someUrl/somePath`.
It also will work if I replace a fixed path component to a named value as follows:
`htt

[2019-04-25 13:20] ChiragMishra-MSFT commented on #30070
@paramrsingh Thanks for the feedback. I am assigning the issue to the content owner to review and update as appropriate.