[2019-07-02 12:07] grahambunce opened #34378 "How to use copyindex within app settings or configuration settings"
I can use the Copy function to create multiple instances of a resource (e.g. a SQL Azure database) but then I want to also create a loop *within* a Web App connection string section.

Scenario:
CopyIndex to create 1..N sharded databases
Web App needs 1..N connection strings to each sharded DB, such as:

{
	"name": "db.connection.shard.NNN",
	"connectionString": "[concat('Server=tcp:', parameters('

[2019-07-02 12:09] generalwig opened #34379 "Does not show expected Poll App at address"
Followed instructions through to completion, worked fine all along until Browse to the Azure App after Pushing to Azure from Git. Instead of showing the Poll App at the shown app.scm.azurewebsites.net address it just shows Azure App Service, with environment, ssh, bash and log stream along the top, and a few REST API options on the page.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-02 12:16] pp555 opened #34380 "Invalid links to code on GitHub"
There are two links in the text: "Once the blob-triggered function is created, use the run.csx and function.proj from GitHub in the Function. " which targets are missing (displaying 404 error page).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959c889e-ce7b-2480-b24d-ad11915a9dc8
* Version Independent ID: 69cd330c-97

[2019-07-02 12:17] jakaruna-MSFT commented on #34363
@digeler Looks like that option is removed from version 1.12. Kubernetes documentation is [here](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-cooldown-delay). Reason quotes in the doc is `Starting from v1.12, a new algorithmic update removes the need for the upscale delay.`
Link to the version 1.11 is [here](https://v1-11.docs.kubernetes.io/docs/tasks/run-

[2019-07-02 12:31] KalyanChanumolu-MSFT commented on #34291
Ok great. You would like to move to the newer SDK.
Just change the Target Framework of your application to 4.6.1 or higher and try installing the Nuget package.

![image](https://user-images.githubusercontent.com/8835012/60512794-2e57c200-9cf3-11e9-8346-7e5134423979.png)

Install-Package Microsoft.Azure.Cosmos.Table

Please let me know if you still face any issues.

[2019-07-02 12:32] AleksCallebat opened #34381 "Import app method raises error "appId required""
albeit the appID should be generated at this stage, and hence should not appear. It also is not mentionned in the swagger

I am getting it through this python code :

    headers = {
        # Request headers
        'Content-Type': 'application/json',
        'Ocp-Apim-Subscription-Key': '',
    }

    params = urllib.parse.urlencode({
        # Request parameters
        'appName': 'devtest'

[2019-07-02 12:34] jakaruna-MSFT commented on #34361
@ToruMakabe That screenshot needs to be updated.
"RestAPI" value for Source system is fine. But we should see the log data under "RawData".
I tried out now and i am unable to see anything on rawdata.
I will check and update you

Can you export the data for all columns and check if you have values in the rawdata

[2019-07-02 12:38] slebodat opened #34382 "Application Gateway SSL termination with Key Vault works only if enableSoftDelete is set."
SSL termination with Key Vault certificates only works for KeyVaults with enableSoftDelete set. It took me sometime to figure it out why it was not working with my existing (one year old key vault), then I run this command:

az resource update --id $(az keyvault show --name my-key-vault -o tsv | awk '{print $1}') --set properties.enableSoftDelete=true

and it worked. Please update your documentati

[2019-07-02 12:43] SamuelMCQ commented on #34366
I have started a new resource group which has solved the issue.

[2019-07-02 12:45] PaoloCastAway opened #34383 "b2clogin.com not working as redirect URI"
I followed the instructions on this page, but https://your--B2C-tenant-name.b2clogin.com/your-B2C-tenant-name.onmicrosoft.com/oauth2/authresp doesn't work as Redirect URI: after successful authentication, I get "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application".
To make it work, I have to use https://login.microsoftonline.com/te/your-

[2019-07-02 12:51] SnehaAgrawal-MSFT commented on #34379
@generalwig Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-02 12:56] ToruMakabe commented on #34361
@jakaruna-MSFT Thank you for your support. I rechecked it after several hours, then the data were updated. "RawData" is still empty, but the logs are in "Message" now.

<img width="569" alt="sc" src="https://user-images.githubusercontent.com/993850/60513949-61aa4900-9d13-11e9-95bb-6a6e0507438d.png">

[2019-07-02 12:57] rayne-wiselman commented on #32606
@pabbinedi Thanks for your feedback. I don't see a script in the article for which this issue was opened - https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture. Can you tell me where you see the original script? thx!

[2019-07-02 13:00] rayne-wiselman commented on #32269
Hi, we've updated the article to mention -azure kernels supported.
Thanks
#please-close

[2019-07-02 13:00] #32269 closed

[2019-07-02 13:04] stevemorris1106 commented on #34313
Thanks for reaching back out with info. So heres the rub, when I run the az
cli command to get a token and authenticate everything is fine. When I go
into postman and supply the same info as client authorization I get access
is denied, and looking at the token the OID field is fine but the aud is
not I think it may be coming back as MS Graph.

 "aud": "00000002-0000-0000-c000-000000000000"

On Mon

[2019-07-02 13:06] wumingcp opened #34384 "AdaptiveSamplingTelemetryProcessor default option "ExcludedTypes" doesn't work"
When only set "InitialSamplingPercentage" to 50 for AdaptiveSamplingTelemetryProcessor in "ApplicationInsights.config" file, the Traces still are sampled, but the default option "ExcludedTypes" already excludes the Trace type.

&lt;Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel"&gt;
          &lt;Initia

[2019-07-02 13:10] AshokPeddakotla-MSFT commented on #34375
@aelij Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-02 13:12] aquibqureshi26 commented on #32319
Hi Anirudh,

Just following to see if update is anywhere near for UX?

[2019-07-02 13:21] dohughes-msft opened #34385 "How to prevent one subscription from over-using the ER circuit?"
Hi, it is stated that all virtual networks share the same bandwidth of the circuit. How can we prevent noisy neighbours in this scenario, i.e. one subscription consuming all the bandwidth to the detriment of the others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dabed376-a2d4-b75f-0dd9-f492644a1c22
* Version Indepe

[2019-07-02 13:27] jeroenboeye opened #34386 "aks_target.wait_for_deployment() => aks_target.wait_for_completion()"
deprecated method

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc42c56-1798-5f0c-9150-118546b2d015
* Version Independent ID: cc6f4163-3fd0-e2e5-79e4-cf4342e8e487
* Content: [Deploy a model for inference with GPU - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-

[2019-07-02 13:30] hansenms commented on #34313
The problem is that Postman does not provide you with a way to specify `resource` (audience) as part of a client credentials flow, so it will give you some default audience (graph). If you would like to get a token directly in Postman with client credentials, you can simply do a POST to `https://login.microsoftonline.com/TENANT-ID/oauth2/token` with a body containing:

1. `grant_type`: `client_cre

[2019-07-02 13:35] shezad-ali5 opened #34387 "Polling time is not 5 seconds as described ."
config.AddAzureAppConfiguration(options =&gt; {
    options.Connect(settings["ConnectionStrings:AppConfig"])
           .UseFeatureFlags(featureFlagOptions =&gt; {
                featureFlagOptions.PollInterval = TimeSpan.FromSeconds(300);
           });
});

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a

[2019-07-02 13:42] niharvarma1247 opened #34388 "Getting 403 Forbidden error using HTTP Data Collector to post Logs into OMS(Log analytics)"
Hello All,

I'm using the Python2 Code shared in HTTP Data collector documentation(https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#python-2-sample) to POST logs into Log Analytics and getting 403 Forbidden error.

I'm having this issue only when executing it through Azure Devops Pipeline, and when running directly from ADO Agent machine not getting this error and w

[2019-07-02 13:42] stevemorris1106 commented on #34313
Awesome thank you for this info.

On Tue, Jul 2, 2019 at 9:31 AM Michael Hansen <notifications@github.com>
wrote:

[2019-07-02 13:44] hansenms commented on #34313
Sure thing.

#please-close

[2019-07-02 13:44] #34313 closed

[2019-07-02 13:47] Rutikhal commented on #33632
I had a problem with RDS License configuration on server to which I tried to connect. After fixed it, connection via Azure Bastion started to work.

[2019-07-02 13:51] AlexImray commented on #34163
It raised questions on our end, but it did solve why the backup wasn’t working, yes. Thank you.

Thank you | Merci
Alex Imray Papineau

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: 1-Jul-19 14:35
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Imray Papineau, Alex <Alex.ImrayPapineau@dfo-mpo.gc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/

[2019-07-02 13:52] bearrito opened #34389 "Provide Private IP"
Can you provide a private IP to the container group instead of having to scrape the output?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8-332e-9ce0-7d80e8a973f8
* Content: [Deploy container instances into an Azure virtual network](https://doc

[2019-07-02 13:53] bigdatamoore opened #34390 "Clarification of hourly billing"
Can you please clarify that the billing is based on wall clock hours and not duration hours?  In other words, if I scale a collection up to 1000 RUs at 9:59 AM, and then scale it back down to 400 RUs at 10:01 AM, my collection is scaled up for a duration of 2 minutes.  According to the documentation:
[code]
So, in my scenario, do I pay for two hours at the rate of 1000 RUs (two wall clock hours) o

[2019-07-02 14:02] KalyanChanumolu-MSFT commented on #34332
@joselw-ms Thank you for pointing that. We will update the documentation accordingly.
Meanwhile please use

[code]

[2019-07-02 14:23] KalyanChanumolu-MSFT commented on #34185
@edfreeman Thank you for pointing that issue.
I am able to reproduce the same behaviour.

@markjbrown Could you please help here.

[2019-07-02 14:23] vladichernov opened #34391 "MSOLAP (amd64) download link leads to ADOMD x64 msi but not to MSOLAP (amd64) msi download"
Please correct the link, we need the msolap x64 msi to develop our applications
Link to x64 adomd.msi on this page is correct.

Regards

Vladimir Chernov

Datev eG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 601aaca4-89f2-59e9-78b3-46ff1f7320c1
* Version Independent ID: 88e4204c-1e22-3378-eb5e-1ebe7169454d
* Content

[2019-07-02 14:37] nezoic opened #34392 "Should we still be using Azure AD Graph API to manage users in an Azure AD B2C directory?"
Just checking to make sure this is still updated documentation, looks like the last update was several years ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph API in Azure Active Directory B2C

[2019-07-02 14:44] robinsh commented on #33108
#reassign:@JimacoMS3

[2019-07-02 14:55] nzthiago commented on #34355
Double check what folder you are running the command from. From a parent folder from where the function code is I get the same as you:
![image](https://user-images.githubusercontent.com/1563288/60522824-8dd7b280-9c9e-11e9-8ceb-a2512d672ceb.png)

But if I 'cd' into the subfolder that is where my function code was put in, it works:
![image](https://user-images.githubusercontent.com/1563288/60522891-

[2019-07-02 15:12] jecooper commented on #34172
I can confirm this is an issue. Wish I had seen this post yesterday!

[2019-07-02 15:13] cijothomas commented on #34384
The default option in ExcludedTypes does not exclude Traces. That need to be added manually.

[2019-07-02 15:15] DixitArora-MSFT commented on #34373
Hi @mcurko Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 15:17] DixitArora-MSFT commented on #34374
Hi @jnprakash Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 15:20] DixitArora-MSFT commented on #34377
Hi @MedAnd Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 15:22] DixitArora-MSFT commented on #34378
Hi @grahambunce Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 15:24] nzthiago commented on #34354
From a PowerShell window, try curl.exe (as PowerShell has an alias for the 'curl' command and doesn't translate the settings in that command in the docs correctly):
![image](https://user-images.githubusercontent.com/1563288/60525174-bfeb1380-9ca2-11e9-89c8-0130e41bdd22.png)

[2019-07-02 15:27] thecpshah opened #34393 "Get Data From Datastore"
I have a container in blob storage with each folder containing one json file:

[code]

However, I do not get any data in `dataset`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c27dcf-1cc7-766d-f29a-a046b93b4ac2
* Version Independent ID: b5f4ee90-c1c4-1251-875e-8e8b8092b094
* Content: [Explore and transform data (Da

[2019-07-02 15:27] marabout2015 commented on #33966
Hello @yiikou,

What do you see when you type:

automl_eclipse_2_0_xgboost.named_steps["XGBoostClassifier"].plot_importance()

Mario

[2019-07-02 15:28] #34368 closed

[2019-07-02 15:46] rhythmnewt commented on #28072
I'm having an issue connecting to Virtual Desktop with the same error message in the client. This affects both an older host pool (2 weeks old) to which I was previously able to connect and a new host pool created yesterday. There are no deployment or extension errors.
After using the get-diagnosticactivities this is the error message that's retrieved:

[code]
My virtual desktop instances are doma

[2019-07-02 15:53] hansenms commented on #33504
#please-close

[2019-07-02 15:53] #33504 closed

[2019-07-02 15:54] hansenms commented on #33507
#please-close

[2019-07-02 15:54] #33507 closed

[2019-07-02 15:54] hansenms commented on #34131
#please-close

[2019-07-02 15:54] #34131 closed

[2019-07-02 15:55] hansenms commented on #34133
#please-close

[2019-07-02 15:55] #34133 closed

[2019-07-02 15:55] Mike-Ubezzi-MSFT commented on #34390
@bigdatamoore Thank you for bringing this to our attention. I am investigating this and will have an update for you shortly.

[2019-07-02 16:05] KranthiPakala-MSFT commented on #34318
@ranjanp We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-02 16:05] #34318 closed

[2019-07-02 16:15] kobulloc-MSFT commented on #34387
@shezad-ali5 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-02 16:17] itechedit commented on #33084
@jwisener  Jason, not sure why I'm @mentioned here. Haven't touched this article or PR, far as I know.
Thanks! &mdash;Jim

[2019-07-02 16:27] etaham commented on #22430
Can Write-Information be supported? It is very useful to print status information - especially when waiting from an Azure SDK command to complete. SO: https://stackoverflow.com/questions/54191736/does-azure-automation-support-write-information

[2019-07-02 16:28] tfitzmac commented on #34343
@imtiazh - the REST sandbox for executing operations is currently available only through the REST reference pages. If it becomes available later on these types of pages, I will add it.

[2019-07-02 16:28] tfitzmac commented on #34343
#please-close

[2019-07-02 16:28] #34343 closed

[2019-07-02 16:37] kd2eom opened #34396 "pip install --upgrade iotedgehubdev Segfault"
Running pip install --upgrade iotedgehubdev results in a "Segmentation fault (core dumped)" error on Ubuntu 18.04

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40bf-19f2-4f56-9dc71ed47fa2
* Version Independent ID: 20e8912c-4a10-68b9-c46a-e945a62421d6
* Content: [Develop and debug modules for Azure IoT Edge](h

[2019-07-02 16:45] ld0614 opened #34397 "Clarification of Small instance upgrade behaviour"
The default behaviour states that only 20% of instances will be upgraded at any one time however it is not clear if there are under 5 instances what the behaviour should be?

For example, assuming the defaults, if there is a VMSS with only 2 servers in it (1 instance = 50%) would the VMSS never upgrade?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-07-02 16:47] KranthiPakala-MSFT commented on #34391
@vladichernov Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-02 16:49] dinobu commented on #34241
Thaks for clarifying but please update the actual documentation page.  Tx

[2019-07-02 16:50] Adam-Smith-MSFT commented on #34225
@vinapp you're correct, from what I've heard from the internal team, they will be including it in the Metrics section in the future, but if the template doesn't include it, it's most likely because it's classic. I don't have an ETA on when it's going to be done, but that's the plan, which will be incorporating anything within classic in metrics then adding on top of it in the future. I hope this h

[2019-07-02 16:53] kartben opened #34398 ""Pick list" settings don't exist"
In the Settings section of the ["Set up a device template" page](https://docs.microsoft.com/en-us/azure/iot-central/howto-set-up-template#settings), it is said that settings can be of type "pick list" but this option is not available in the UI.

![image](https://user-images.githubusercontent.com/128251/60531203-b392a500-9cfa-11e9-897b-c11de78194a7.png)

---
#### Document Details

⚠ *Do not edit th

[2019-07-02 16:53] Karishma-Tiwari-MSFT commented on #34075
@skybear2014 I got confirmation from the product team that GRID9  is not available yet and is expected to be available soon. We will update the doc as soon as that happens.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-02 16:53] #34075 closed

[2019-07-02 16:54] FrankHu-MSFT commented on #34310
Closing out this issue as there has been no response.

[2019-07-02 16:54] #34310 closed

[2019-07-02 16:55] FrankHu-MSFT commented on #34289
Hey @shyamag001 as it looks like your issue has been resolved and there has been no response I will be closing out this issue. Please let us know if you have any questions and/or the solution that resolved your problem,

[2019-07-02 16:56] FrankHu-MSFT commented on #34234
I see, alright I'll be sure to relay this information back to the dev team as well. Thanks again for the info!

[2019-07-02 16:56] FrankHu-MSFT commented on #34208
@saf-itpro The fix should be pushed out now, please let us know if you have anymore questions otherwise I will be closing out this issue by end of day today,

[2019-07-02 16:58] MicahMcKittrick-MSFT commented on #34397
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-02 17:00] Karishma-Tiwari-MSFT commented on #34389
Thanks for the question! We are currently investigating and will update you shortly.

[2019-07-02 17:00] Karishma-Tiwari-MSFT commented on #34380
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-02 17:01] FrankHu-MSFT commented on #34383
@PaoloCastAway Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-02 17:05] stgeorgi commented on #28072
@rhythmnewt can you please move on of the host pools to the validation ring (https://docs.microsoft.com/en-us/azure/virtual-desktop/create-validation-host-pool) and confirm if issue persist.

[2019-07-02 17:07] FrankHu-MSFT commented on #34367
@matteopessina We apologize for that, it looks like that's a typo and we're currently working to fix this issue. Thanks for letting us know about this!

[2019-07-02 17:08] vinapp commented on #34225
ok, @Adam-Smith-MSFT, I assume that diagnostics settings is supported via ARM ?. I haven't seen a sample for the same. Sure will check in stackoverflow/MSDN.

[2019-07-02 17:09] vladvino commented on #34356
@nirmaldeol it would be helpful if you expand on your feedback and provide additional details that help us reproduce the issue.

[2019-07-02 17:09] Karishma-Tiwari-MSFT commented on #34163
Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-07-02 17:09] #34163 closed

[2019-07-02 17:10] RamonArguelles commented on #34326
Did you run "pod install --repo-update", and then opened the "Unity-iPhone.xcworkspace" file? Make sure you did NOT open the .xcodeproj file. If you followed these instructions, as the Tutorial calls them out, can you copy/paste the first few lines of the symbol errors you are seeing?

[2019-07-02 17:16] MicahMcKittrick-MSFT commented on #34377
@MedAnd I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-02 17:16] dianelin98 commented on #34326
Yes, I did do all of the above and I opened the xcworkspace file.

Here are the errors that I am getting.

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_ARObjectScanningConfiguration", referenced from:
      objc-class-ref in ARKitNativeObjectDetection.o
  "_OBJC_CLASS_$_AREnvironmentProbeAnchor", referenced from:
      objc-class-ref in ARSessionNative.o
      objc-class-ref in AREnv

[2019-07-02 17:20] MicahMcKittrick-MSFT commented on #34397
@ld0614 good point. The document is assuming you are using a production cluster which means 5 or more nodes. To my knowledge, Automatic OS updates will not work unless you have 5 nodes.

I will let the author confirm as well as I think we should add a note to this doc stating the minimum number of nodes needed to use Automatic updates

@mayanknayar can you take a look please?

[2019-07-02 17:25] beardedmogul commented on #16683
@kman2123
I fixed this issue by changing this key to TRUE, rebooting, changing to FALSE, and possibly rebooting.  I don't know what wasn't sticking.

[2019-07-02 17:26] kgremban commented on #34375
Thank's for the helpful suggestion, @aelij. I'll make that change to the quickstart today. Since this is a straightforward change, I'll have the bots close this issue once my pull request is merged. If you have any follow up comments or concerns, feel free to add them here and we'll reopen the issue.

[2019-07-02 17:28] MarkIannucci opened #34399 "AppFilter is a required C# regex of the computer or VM name is a copy & paste from the MachineFilter line above it"
I've been struggling to get the multiple instrumentation keys working on a machine that is hosting 7 different websites.  The AppFilter line being a copy & paste of the line above isn't helping me figure out where my config is wrong.  Can you be specific on which property app insights is inspecting (perhaps with a PowerShell example fetching it directly from IIS) to help us out?

---
#### Document

[2019-07-02 17:31] Expecho opened #34400 "Access using client certificate"
Why is there no mention about accessing the key vault using a client certificate? Is it no longer supported? For the scenario of an on-premises desktop app that stores secrets in the key vault AAD authentication won't always work if there is no AAD...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdd8ac9-3e5f-3e4b-06

[2019-07-02 17:34] yiikou commented on #33966
hi @marabout2015 , it will cause error, since plot_importance is from the xgboost package.

[2019-07-02 17:37] chkm8 opened #34401 "Having Authentication failed error"
I followed the instructions above and also this one https://docs.microsoft.com/en-us/azure/healthcare-apis/register-resource-azure-ad-client-app but when I used the generated token (guide from here https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow) I got Authentication failed error. Am I missing something, been trying to resolve this for 3 days but I

[2019-07-02 17:40] #34375 closed

[2019-07-02 17:44] RamonArguelles commented on #34326
Looks like you missed this part from the setup section in the tutorial:

Download and import the Unity ARKit Plugin
Download Unity ARKit Plugin version 2.0.0 and extract the archive.

Copy the contents of the Assets folder from the extracted Unity ARKit Plugin folder to the sample's Assets folder.

[2019-07-02 17:46] FrankHu-MSFT commented on #34392
@nezoic Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-02 17:47] FrankHu-MSFT commented on #34400
@Expecho Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-02 17:48] YutongTie-MSFT commented on #34393
@thecpshah Thank you for your feedback, we will investigate it and get back to you soon.

[2019-07-02 17:49] YutongTie-MSFT commented on #34386
@jeroenboeye Thank you for your feedback, we will investigate it and update the document properly.

[2019-07-02 17:49] dinobu commented on #34234
I still cant believe this is not handled.  It is such a common thing, it is impossible that it was not reported before.  ADAL is widely used on devices to do authentication, are you sure there is no built in functionality to handle this.  For example, why are platform parameters passed in?  I'd say that is what is supposed to take care of this or?  Thanks

[2019-07-02 17:49] YutongTie-MSFT commented on #34381
@AleksCallebat Thank you for your feedback, we will investigate it and get back to you soon.

[2019-07-02 17:51] dianelin98 commented on #34326
I did do that

[2019-07-02 17:55] RamonArguelles commented on #34326
What version did you download? Where did you get it from?

[2019-07-02 17:55] dianelin98 commented on #34326
I was just supposed to download the ARKit Plugin that was linked and then copy and paste whatever was in the assets folder into the unity asset folder right?

[2019-07-02 17:58] dianelin98 commented on #34326
I downloaded the ARKit Plugin that was linked in the article. So, I'm assuming its the 2.0.0 version

[2019-07-02 18:01] davidekarasek opened #34402 "There's no example here."
Need an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbe3afaa-c19a-65f3-f562-e9c698e4c6a3
* Version Independent ID: 66556728-72ef-769a-d666-c1a67d7c39fe
* Content: [Change the key vault tenant ID after a subscription move - Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-subscripti

[2019-07-02 18:03] FerOsorio opened #34403 "Broken link"
"Build and run a container image using Azure Container Registry Tasks" https://docs.microsoft.com/en-us/docs.microsoft.com/azure/container-registry/container-registry-quickstart-task-cli.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd073257-7b30-f956-05e1-3118db776efa
* Version Independent ID: c4282d40-dc34-fbe5-f

[2019-07-02 18:09] mhopkins-msft commented on #34090
Hello @imeya, Have you tried putting a literal value of -1 instead of Timespan.FromDays(-1)?

[2019-07-02 18:11] mike-urnun-msft commented on #34388
Hey @niharvarma1247 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-02 18:13] MarkIannucci commented on #34399
Adding @MS-TimothyMothra , I'm not sure if it is inappropriate to reach out to you directly on this.  If it is, my apologies.  I noticed that you published the NuGet package and seem to be pushing this forward at MS and am hoping that you can take a look at this issue I wrote.

[2019-07-02 18:15] leus opened #34404 "Stream processing information"
Is it possible to copy a blob stream to read parts of it in parallel? I know cloning streams is not something you can do for most streams, but I wonder if is it possible to get a new stream from an existing one so I can read parts of the same blob in parallel tasks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae

[2019-07-02 18:16] mike-urnun-msft commented on #34382
Hello @slebodat Thank you for your feedback! Could you provide us with the URL of the specific documentation that your feedback is applicable to? That way, we're able to connect with the right team that can address your feedback accordingly.

[2019-07-02 18:18] RamonArguelles commented on #34326
Strange. Try this. Go back to Unity, run Assets->Reimport all. When that's done, run File->Build Settings->Build, and choose Replace (not Append). Then, run the pod install command again, and open the workspace. Connect your device, and ensure xcode shows it as the active scheme. Try to build again.

[2019-07-02 18:18] mike-urnun-msft commented on #34376
Hi @IhnoL Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-02 18:25] ashkansirous commented on #33576
@craigshoemaker @brettsam @PramodValavala-MSFT
Guys, could one of you please guide me to a documentation or at least give me a clue?
As I see it, I need something like a middleware - don't know if it is possible on Azure Functions yet or not- and then a way to read the message that I am receiving in that middleware.
Before having DI, I was thinking to inherit from the ServicebusTrigger and see if

[2019-07-02 18:27] sostel opened #34405 "A little confused"
This page is a great to get started with Azure Spatial Anchors and get set up. However, I was missing a description of what the Unity sample is actually doing. I was just tasked to enter the Account ID and Key, not really knowing what it would be used for. In the "Deploy the HoloLens application" section, you could at least explain what the user is supposed to see and be able to do. In the summary

[2019-07-02 18:31] sostel opened #34406 "Duplicate info from quickstart"
I just went through the quickstart tutorial [1] and then got directed to this page as the next step. However, the beginning is essentially a repeat of the quickstart tutorial. Might be nice to reduce redundancies like this and rather link it.

[1] https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens

---
#### Document Details

⚠ *Do not edit this section. I

[2019-07-02 18:33] dianelin98 commented on #34326
I'm still getting the same errors. Would you be able to go through the tutorial and see if it works for you?

[2019-07-02 18:34] mhopkins-msft commented on #34090
@imeya, could you please try this and let me know if it works for you?

await queue.AddMessageAsync(message, new TimeSpan(-1), null, null, null);

[2019-07-02 18:35] craigktreasure commented on #34405
I'm not sure I understand what you're expecting. The document does say, "Follow the instructions in the app to place and recall an anchor." in the **Deploy the HoloLens application** section. The summary says, "you'll have a HoloLens app built with Unity that can save and recall a spatial anchor", which should be true. Are you hitting an issue that prevents the app from showing anything related to

[2019-07-02 18:43] artisticcheese opened #34407 "Clarification for Windows Node OS updates are needed"
Per statement above one have to perform AKS upgrade which upgrades version of kubernetes. Link points to process of upgrading Kubernetes version as well from 1.12 to 1.14. So how do you exactly upgrade worker nodes to new version of OS if Kubernetes is already on latest version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-07-02 18:51] PeterRockstars opened #34408 "Keep RBAC enabled"
So, to make sure that RBAC stays enabled, should I add "ebleRBAC": true," to the template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96f8e3ea-6a6d-b083-c0c9-ec5941648dc7
* Version Independent ID: 76bd07f9-2711-b0b3-15c7-b20192f8bed3
* Content: [How to Stop Monitoring Your Azure Kubernetes Service cluster](https://

[2019-07-02 18:53] YutongTie-MSFT commented on #34403
@FerOsorio I have fixed the link you mentioned, but I found the next one is broken. @jpe316 Hi Jordan, could you please take a look and update it as well? Thank you.

[2019-07-02 18:59] dlepow commented on #34273
Article updated. Thanks again, @msghaleb!
#please-close

[2019-07-02 18:59] #34273 closed

[2019-07-02 19:00] dcurwin commented on #15610
@MicahMcKittrick-MSFT I spoke to @GeethalakshmiG and this can be closed.

[2019-07-02 19:01] dirthsj opened #34409 "Example 'Add user to group' cannot be run"
When launching an Azure Functions project with the addToGroup method this happens:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca50463-807e-fd04-de4d-25be2199ae70
* Version Independent ID: 7a8f74f9-81b5-735e-fe85-4a5f1482456a
* Content: [Azure Functions SignalR Service bindings](https://docs.microsoft.com/en

[2019-07-02 19:03] #15610 closed

[2019-07-02 19:04] RamonArguelles commented on #34326
What version of Unity are you using?

[2019-07-02 19:06] dianelin98 commented on #34326
2019.3.0a7

[2019-07-02 19:07] KranthiPakala-MSFT commented on #34391
@vladichernov Thanks for your inquiry. I was able to download the correct  Analysis Services OLE DB Provider (MSOLAP x64) with the links provided in the document.

MSOLAP (amd64) 	-> x64_15.0.1600.41_SQL_AS_OLEDB.msi
MSOLAP (x86)		-> x86_15.0.1600.41_SQL_AS_OLEDB.msi
AMO 			-> x64_15.0.1600.41_SQL_AS_AMO.msi
ADOMD 		        -> x64_15.0.1600.41_SQL_AS_ADOMD.msi

Could you please clarify on the issu

[2019-07-02 19:07] AjayKumar-MSFT commented on #34242
@dinobu, We will close this out, but if you feel you need more information please just let us know.

[2019-07-02 19:11] dinobu commented on #34242
if you follow the steps, you will see why it is outdated.  it becomes very clear very quickly.  For example and this is just one detail I remember, it was impossible to fine  Sign-on URL field but there is more.  This should not be closed at all but addressed

[2019-07-02 19:18] FerOsorio commented on #34403
Both links are still broken, is the fix published? I'll check back later.

[2019-07-02 19:19] digeler commented on #34363
Thanks ,please remove it from the doc.

[2019-07-02 19:20] YutongTie-MSFT commented on #34403
@FerOsorio The first one is under review, you should see the change within 1 hour, the second one we need help for @jpe316 . Thank you for your feedback.

[2019-07-02 19:23] Meatwad opened #34410 "Does not work"
Code as written outputs "Hello World!", indicating it's running the App.java application, not the AppTest.java application (with the Redis code).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128ca3d8-a335-bbea-c1b2-c0c3f21ddabe
* Version Independent ID: 6cbb183c-b15e-a5c0-2da0-ec929ae7caab
* Content: [Quickstart to l

[2019-07-02 19:25] #34410 closed

[2019-07-02 19:27] Cedric-Bravo commented on #34315
Thanks mike,
So in this scenario, what happen to my running database in case of a complete region outage ?
Does the database is still running ? (not only a backup availability).?

[2019-07-02 19:28] markjbrown commented on #34185
We made a recent back end change in our indexing engine that defaults to range index for both strings and numbers with a precision of -1. The ARM templates and docs have not yet been updated to reflect this as the default values. If you make non-default changes to your indexing policy, for instance, adding spatial indexing, they will be reflected in your deployed container.

Apologies for the conf

[2019-07-02 19:30] Adam-Smith-MSFT commented on #34225
it doesn't look like it, if you have downloaded a template which had Diagnostic settings enable via portal. the efforts to add support on the classic is mainly routed to the next gen replacing the current classic options.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-02 19:30] #34225 closed

[2019-07-02 19:31] #34155 closed

[2019-07-02 19:33] thomassimpson25 opened #34411 "Outlook 2019 getting blocked with this conditional access policy."
I was just working with a customer using this feature, but this conditional access policy blocked the use of Outlook 2019. Login did not work with the Outlook 2019, while the same user email worked through the same network, cpu and username. When we turned this access policy off, Outlook2019 let the user login as normal. From reading through this article, I don't believe this is the intended resul

[2019-07-02 19:34] SaurabhSharma-MSFT commented on #34139
@peter-tridius I believe it is AES-256 but I would defer to the author to comment on the same.
@barclayn Can you please help on this.

[2019-07-02 19:35] SaurabhSharma-MSFT commented on #34052
@DSharpPro We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-02 19:35] #34052 closed

[2019-07-02 19:38] neualex opened #34412 "Guest OS Feed out of date"
RSS link below is out of date.

https://raw.githubusercontent.com/MicrosoftDocs/azure-cloud-services-files/master/GuestOS/GuestOSFeed.xml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4add3-448c-8bd4-3a47-bb7ae25970db
* Version Independent ID: 4fe15edb-81b7-6122-829b-7a321a72e3bf
* Content: [Learn about the latest

[2019-07-02 19:38] TravisCragg-MSFT commented on #34385
@dohughes-msft There is not currently a way to do this within Azure. You might be able to limit the bandwidth from the on-prem router.

If you would like us to add this feature in the future, [please leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

[2019-07-02 19:40] markjbrown commented on #34132
Thanks @Mike-Ubezzi-MSFT.

You can close your PR. I will include that in my PR as well as update the underlying script to add the missing container name variable.

@softchris container name is required to create the container (collection), same as MongoDB. For more information on partition keys, please see our docs here, https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview. We en

[2019-07-02 19:43] ryandle opened #34413 "Missing example in settings vs. protectedSettings"
The section "settings vs. protectedSettings" needs an example of how to reference a protected setting. Is PrivateSettingsRef: still used?

I think really what is needed here is an end-to-end example of a DSC script, the accompanying arm template. Both should make use of a protected setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-07-02 19:46] MicahMcKittrick-MSFT commented on #34413
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-02 19:48] MicahMcKittrick-MSFT commented on #34412
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-02 19:50] MicahMcKittrick-MSFT commented on #34407
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-02 19:53] Mike-Ubezzi-MSFT commented on #34132
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-02 19:53] #34132 closed

[2019-07-02 19:56] MarcLaf commented on #18669
Came here looking for an update as well.

[2019-07-02 19:59] artisticcheese commented on #16496
Is not this do what is being asked without complexity of manually invoking it via POST method?
`Invoke-AzureRmResourceAction  -ResourceType Microsoft.PolicyInsights/policyStates -Action triggerEvaluation -ResourceName latest -ApiVersion 2018-07-01-preview`

[2019-07-02 20:00] maqpratika opened #34415 "Sample Webhook capturing Azure Alert JSON Payload"
It would be great to share code samples of webhook capturing Azure Alert JSON payload.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 232ff808-3e25-4ed2-caec-9519238a4255
* Version Independent ID: 1e7269e7-b62b-3a6b-0f30-5f926bc81593
* Content: [Have a classic metric alert notify a non-Azure system using a webhook](htt

[2019-07-02 20:07] timwebster9 commented on #15523
There is a 'Purge' button on the Front Door Designer page, next to the 'Save' button.

[2019-07-02 20:14] hansenms commented on #34401
First thing to check would be the headers returned when you get an authentication error. They will give you some guidance on what is wrong with the token.

Some of the possibilities are that you don't have the right Audience or that the token is expired. In that case you would typically see error code 401 and some header fields indicating what is wrong.

If the token has the right audience, etc. b

[2019-07-02 20:21] garretthugo opened #34416 "Keyboard does not work with the Ubuntu VM!"
I am using an iPad and an external keyboard.
The VM starts fine, but once the Desktop shows up, no keys work!

[2019-07-02 20:22] rajcheval commented on #34364
Thanks for updating the documentation. I did create the 2 zones and A records as stated above. I am using Internal ASE. I created a jumpbox in the same VNET. I am unable to access Kudu console. When I try to access kudu console it get redirected to an invalid URL which results in Server IP address could not be found error.

I will also open a support case to get to the bottom of this issue.

[2019-07-02 20:24] AmanGarg-MSFT commented on #34087
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-02 20:29] kobulloc-MSFT commented on #34399
@MarkIannucci Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-02 20:30] Karishma-Tiwari-MSFT commented on #34206
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-02 20:30] #34206 closed

[2019-07-02 20:32] FrankHu-MSFT commented on #34411
@thomassimpson25 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-02 20:33] robs commented on #20721
Hiya,

This still isn't the default, is it still on it's way into production?

[2019-07-02 20:33] FrankHu-MSFT commented on #34402
@davidekarasek  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-02 20:36] AjayKumar-MSFT commented on #34241
The doc refresh for Mobile Apps is forthcoming adopting all the valuable feedback shared by the users, but no ETA on this yet. Apologies for any inconvenience you may have experienced with this issue. We will close this out for now. Thanks again for sharing your feedback, it's much appreciated.

[2019-07-02 20:36] #34241 closed

[2019-07-02 20:37] darivuki commented on #31561
How did you fix the issue? I have the same problem.

[2019-07-02 20:42] LawrenceLLo commented on #34054
Thank you for the prompt feedback and link.  I submitted a feature request here: https://feedback.azure.com/forums/913690-azure-monitor/suggestions/38060848-custom-logs-via-azure-cli

[2019-07-02 20:50] pemj commented on #34164
If I'm reading that thread correctly, it recommends downloading a PKCS12 formatted cert and then using openssl to reformat it into a PEM cert.  That's already what I'm doing to work around not being able to retrieve a PEM file from azure key vault. If that's the recommended solution, then it sounds like docs need to be modified to indicate that PEM certs are not actually a supported output format.

[2019-07-02 21:02] sostel commented on #34405
Well, as a developer I want to know _how_ I can use spatial anchors in my Unity app. All I learn is where to enter my Account ID and Key and still don't actually know about what to expect in the app: All I really see in the app is that I can place a hologram. That would have been possible without spatial anchors. Also, instead I have to compile and deploy it to the device first to find out. And th

[2019-07-02 21:03] Mike-Ubezzi-MSFT commented on #34324
@Anmolgan81 This is a great MSDN Forum discussion ([link](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqlreplication&filter=alltypes&sort=lastpostdesc)), as you will receive more feedback from the community, as there are no documentation edits to be recommended at this time. My suggestion is that the Azure SQL Database Hyperscale deployment will be the best performing option for the

[2019-07-02 21:03] #34324 closed

[2019-07-02 21:05] femsulu commented on #34408
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-02 21:10] rachel-msft commented on #24346
Please let me know if you have any questions.

#please-close @angoyal-msft

[2019-07-02 21:10] #24346 closed

[2019-07-02 21:11] craigktreasure commented on #34405
I spoke with @sostel offline and determined that the detail she's looking for is actually in the [Starting a new Unity HoloLens app](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app) tutorial instead of the quickstart.

[2019-07-02 21:19] mike-urnun-msft commented on #34396
Hi @kd2eom Thank you for your feedback! We will review and update as appropriate.

[2019-07-02 21:21] thomassimpson25 commented on #34411
The version number we were working with was actually 2016. I apologize about the mistype. I believe the same question would still apply.

[2019-07-02 21:22] cynthn commented on #27545
#please-close

[2019-07-02 21:22] #27545 closed

[2019-07-02 21:23] MicahMcKittrick-MSFT commented on #34416
@garretthugo thanks for reaching out. We use this repo to identify and fix documentation issues. For general support we suggest you reach out to MSDN or Stack Overflow. Based on your description I can say it is likely an iPad configuration issue. I would suggest testing on a PC to see if the issue repros.

[2019-07-02 21:23] #34416 closed

[2019-07-02 21:25] cynthn commented on #26507
#please-close I changed the document to use Windows Server 2016 Datacenter from the "Popular" list which appears once you select "Create a resource".

[2019-07-02 21:25] #26507 closed

[2019-07-02 21:38] kgremban commented on #33881
@shizn Can you take a look at this issue as it relates to iotedgedev and Pipelines? I'll do some more testing around the install permissions behavior.

[2019-07-02 21:42] bhpat commented on #31198
@sujayt and @femsulu Any update on this? Looking to create SCVMM to Azure recovery plan using PS and not able to find Get-AzSiteRecoveryProtectionEntity.

PS C:\Users\bhpat> $PSVersionTable.PSVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      18362  145

[2019-07-02 21:42] jamesbak commented on #10953
Hi Folks,
As @jherna17 correctly observes, the documentation does exist in the source repo. We have raised a JIRA with ASF (https://issues.apache.org/jira/browse/HADOOP-16401) to regenerate the website, but this will likely not happen until the next Hadoop release.
James

[2019-07-02 21:45] dinobu commented on #34234
Btw, I tried this and it is not working.  I provided update at the link explaining [https://forums.xamarin.com/discussion/15085/webview-onrotation](https://forums.xamarin.com/discussion/15085/webview-onrotation)

[2019-07-02 21:52] ptuton opened #34419 "BCP error: Invalid character value for cast specification"
When using the Bash Cloud Shell and after downloading the files using 'wget' (e.g. `wget https://sqldbtutorial.blob.core.windows.net/tutorials/SamplePersonData`) the additional bcp parameter `-r "\r\n"` parameter is required, otherwise the following error is returned:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5802

[2019-07-02 21:53] FrankHu-MSFT commented on #34367
@matteopessina hey matt, the issue should be resolved now. Please let us know if you have any issues with the current fix, otherwise I will be closing out this issue by end of day today,
Thanks!

[2019-07-02 21:53] mike-urnun-msft commented on #34405
@sostel @craigktreasure Great, let me know if this issue can be closed.

[2019-07-02 21:54] TravisCragg-MSFT commented on #33117
@oberoirajat I had some issues getting this working as well, and if you have your diagnostic logging configured, it is likely you are hitting a [known issue with network rules & Threat Intelligence](https://docs.microsoft.com/en-us/azure/firewall/overview#known-issues).

Issue | Description | Mitigation
-- | -- | --
threat intelligence alerts may get masked | Network rules with destination 80/443

[2019-07-02 21:54] #33117 closed

[2019-07-02 21:56] GermanEZI commented on #34220
@KetanChawda-MSFT
Yes, I am using App Service authentication as you've described.  I'm using a technique called "Easy Auth" that is described in this article. [Using Microsoft Graph in an Azure Function](https://blogs.msdn.microsoft.com/appconsult/2018/06/27/using-microsoft-graph-in-an-azure-function/)

The method used in this article, you're walked through editing the bindings such that a new par

[2019-07-02 21:56] craigktreasure commented on #34405
Yes. It can be closed.

[2019-07-02 21:57] mike-urnun-msft commented on #34398
Hi @kartben Thank you for your feedback! We will review and update as appropriate.

[2019-07-02 21:57] #34405 closed

[2019-07-02 22:03] kgremban commented on #34215
@fhe-fr Did you end up figuring out what was blocking IoT Edge from pulling the container image, in case a future user runs into the same scenario?

[2019-07-02 22:05] syltaxue opened #34420 "Sample Code deprecated"
In the Sample code linked in this page, there are a lot of deprecated Client API calls in it.

Link: https://dynamicsandappinsights.codeplex.com/

Any plan to update the code?

A few examples:
context = Xrm.Page.context;
appInsights.trackPageView(Xrm.Page.data.entity.getEntityName(), serverUrl, {User: Xrm.Page.context.getUserName(), DomainName: Alias });

---
#### Document Details

⚠ *Do not edit

[2019-07-02 22:06] roygara commented on #32605
@awalman apologies for the delayed response, it took a while longer to go back and forth with the product team.

We definitely need to clarify both docs, we're currently working on how to best convey it as it gets a little complicated. I'll update this when we've figured it out. But meanwhile, do you need any further clarification on this or does it make sense for you personally?

[2019-07-02 22:07] FrankHu-MSFT commented on #34289
Closing this issue out as there hasn't been a response and this seems to have been resolved.

[2019-07-02 22:07] #34289 closed

[2019-07-02 22:13] Mike-Ubezzi-MSFT commented on #34157
@shrey-agarwal Can you try the following:

`// Write to Cosmos DB from the flights DataFrame
import org.apache.spark.sql.SaveMode
flights.write.mode(SaveMode.Overwrite).cosmosDB(writeConfig)`

Where you are attempting to use:

`data.write.format("com.microsoft.azure.cosmosdb.spark").mode("append").options(**connectionConfig).save()`

This repository may pf be more assistance here: Azure Cosmos DB

[2019-07-02 22:13] TylerMSFT commented on #32123
I no longer work on AKS. #reassign:mlearned

[2019-07-02 22:16] Mike-Ubezzi-MSFT commented on #34212
I have assigned the issue to the content author to evaluate and update as appropriate. @jovanpop-msft & @CarlRabeler for awareness.

[2019-07-02 22:27] CarlRabeler commented on #34212
@stevestein for awareness

[2019-07-02 22:32] tfitzmac commented on #34272
Sorry, I am not aware of a way to get all hidden resources.

[2019-07-02 22:38] mhopkins-msft commented on #34090
Hi @imeya

Try this, it worked for me:

[code]

Let me know if this works for you.

Thanks,
 *- Mark*

[2019-07-02 22:39] mhopkins-msft commented on #34090
#please-close

[2019-07-02 22:39] #34090 closed

[2019-07-02 22:43] Mike-Ubezzi-MSFT commented on #34315
@Cedric-Bravo With Basic, Standard, and General Purpose deployments and LRS storage, if the region was to experience a complete outage your entire instance becomes unavailable. With Premium and Business Critical deployments and RA-GRS storage, your solution may experience a minor (less than 20 seconds) service interruption if the region your primary instance was to experience a complete outage., a

[2019-07-02 22:43] shrey-agarwal commented on #34157
@Mike-Ubezzi-MSFT - The repository and example you are referring is for Scala language. The equivalent syntax for the same query in Python is the one I am using. (python does not have SaveMode module).

[2019-07-02 22:43] SaurabhSharma-MSFT commented on #34400
@Expecho Access to Azure Key Vault is granted through Azure AD, so you have to have an Azure AD account you either own or have permissions, specifically to create AD applications.  You can connect your on-premises application by using the application id and the secret/certificate to authenticate with the Azure Key Vault.

[2019-07-02 22:43] tfitzmac commented on #34378
@grahambunce - have you tried using copy on the property? ConnectionStrings is an array so it should work to define a loop on the property that iterates the same number as the databases. See [Property iteration](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#property-iteration)

[2019-07-02 22:45] TravisCragg-MSFT commented on #33874
@CAIU-RStumpf I was able to import dashes without an issue using this process.

Name: travtest
Type: CNAME
Value: apache-cluster.travzone.azure.

Expected: apache-cluster.travzone.azure.
Result: apache-cluster.travzone.azure.

Your best bet to go forward with this issue is to open a support request so they can look into your import in more detail. If you do not have a support plan, please let me k

[2019-07-02 22:46] KeiroKamioka0000 opened #34421 "About restriction"
Is user with Multitenant Hosting Rights have right to use Windows 10 on Azure without Visual Studio Subscription?
Also ,as like Windows 10 for Visual Studio Subscription, is the use limit for dev/test scenarios only and not for production?

Please consider to add to the document if it allowed in production use, since visual studio one is for dev/test scenarios only and viewer may confuse with it.

[2019-07-02 22:47] kobulloc-MSFT commented on #34420
@syltaxue Thank you for bringing this to our attention!  I've assigned this to the document author so they can update the document appropriately.

[2019-07-02 22:51] ryancrawcour commented on #34354
I would be happy to submit a PR for this to update the docs.
Which would be preferred -
1) put in a Note section that calls out the Powershell specific issue
2) put in a different code block for bash and for Powershell

[2019-07-02 22:52] ryancrawcour commented on #34355
Thanks @nzthiago, I will submit a doc PR with this change

[2019-07-02 22:52] nirmaldeol commented on #34356
Hash is not valid with current request . Need to be looked at . Specially if you want to do post request it fails as it does not have body length  added to request when calculating HMAC sha256

[2019-07-02 22:59] KeiroKamioka0000 opened #34422 "Is it really Windows 10 are only visible with listed offer?"
According from the [Eligible offers], it says Windows 10 images are visible to the user with listed offer.
Does this means visible in the Market Place graphically?

From the Multitenant Hosting Rights document, it seems like Windows 10 Image is avaiable from WIndows 10 with Powershell, CLI, and template....

Eligible offers
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/client-ima

[2019-07-02 23:00] ckssaas opened #34423 "Difference between cloud-only user services"
Hello,

Please explain in greater detail (or point me to an existing page) the difference between "Self-Service Password Change for cloud-only users" and "Self-Service Password Reset for cloud-only users". I just tested many scenarios with a cloud-only user that is only assigned an E3 license. The user is not assigned any paid Azure AD license. I can force the user to reset their password and the

[2019-07-02 23:09] ryancrawcour commented on #34355
#34425 created for this

[2019-07-02 23:10] Mike-Ubezzi-MSFT commented on #34157
Can you use Scala?

[2019-07-02 23:13] FrankHu-MSFT commented on #34411
@thomassimpson25 can you please clarify what the issue is? Currently you're saying that the Conditional access policy is preventing a modern auth login with Outlook 2016?

[2019-07-02 23:15] #34367 closed

[2019-07-02 23:15] femsulu commented on #34415
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-02 23:16] FrankHu-MSFT commented on #34392
@nezoic It looks like this article is a quite a bit old and currently we are looking into updating this.
We will get back to you as soon as possible once in regards to this.

It does in fact look like quite a bit of this article is old and the entire article will need a bit of a revamp.

[2019-07-02 23:17] vladvino commented on #34356
Thanks @nirmaldeol.

[2019-07-02 23:18] GermanEZI commented on #34220
Using the "HTTP" connector in your example is giving me an error.  It's not clear to me how I should fill in the parameters

The URL from the portal looks as follows

**https://myapp.azurewebsites.net/api/HttpTrigger1?code=xxxxxxxxxxx/xxxxxxxxxx/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx==**

When I copy this URL to a browser and add the "Id" of a calendar event, the JSON result is returned.  This confirms th

[2019-07-02 23:19] FrankHu-MSFT commented on #34234
We're still looking into this, but it might take some time before we get a response, thanks for the follow up.

[2019-07-02 23:19] #34208 closed

[2019-07-02 23:26] dinobu commented on #34234
Thanks, I update my question above and provided more info

[2019-07-02 23:46] ckssaas opened #34426 "Incorrect link description"
Under the "enable combined registration" section, step 2 says to click on "Manage settings for access panel preview features." There is no link labeled this in any Azure AD portals I can find. I did however find a link "Azure Active Directory Admin Center &gt; User Settings &gt; Manage user feature preview settings" which appears to fit the description of the article. Please update.

---
#### Docu

[2019-07-02 23:48] MicrosoftGuyJFlo commented on #34423
@ckssaas

* Self-Service Password Change for cloud users
   * I am a **cloud-only user** and know my password.
      * I would like to **change** my password to something new.

* Self-Service Password Reset for cloud users
   * I am a **cloud-only user** and have forgotten my password.
      * I would like to **reset** my password to something I know.

You say you have assigned an E3 license. Of w

[2019-07-02 23:51] MicrosoftGuyJFlo commented on #34426
It depends on when your directory was created.

[2019-07-02 23:53] amitbapat commented on #34402
I am quite puzzled at what the ask here is:

Need an example, says the ‘davidekarasek’.

And it’s right there on the page: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-subscription-move-fix

[A screenshot of a social media post  Description automatically generated]

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, July 2, 2019 3:45 PM
To: MicrosoftDocs/azure-docs <a

[2019-07-02 23:55] Karishma-Tiwari-MSFT commented on #34380
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-02 23:56] ckssaas commented on #34423
Hi @MicrosoftGuyJFlo

Simply Office 365 Enterprise E3, as stated no package or a la carte including anything relating to Azure AD basic or premium is assigned. I have also just tested and confirmed the same behavior in another tenant with that was assigned no licensing whatsoever. They can use all SSPC/SSPR services.

[2019-07-02 23:58] ckssaas commented on #34423
@MicrosoftGuyJFlo

That was supposed to read "I have also just tested and confirmed the same behavior in another tenant with a test user that was assigned no licensing whatsoever. They can use all SSPC/SSPR services." Thanks

[2019-07-03 00:05] Mike-Ubezzi-MSFT commented on #34232
@ishepherd _Session_ consistency is required to keep the multi-master functionality in sync. See: utilize session tokens ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-consistency#utilize-session-tokens))

I think with Strong Consistancy level, you have to write a bunch of logic to keep two clients in sync where Session consistency, you create a DAL that keeps 2 clients in

[2019-07-03 00:13] mlegris opened #34427 "how to adapt this procedure to use api.powerbi.com API?"
I've been able to access management.azure.com API's using this procedure (on behalf of clients to my app). However it doesn't work for api.powerbi.com APIs.

The PowerBI apis are split between 2 "realms", some one management.azure.com (list, create, update, delete, suspend, resume), some on api.powerbi.com (assign). I need to ASSIGN a capacity to a workgroup, and also to get it's details because a

[2019-07-03 00:19] dcbrown16 opened #34428 "Live Migration and Availability Sets"
Can we assume that Live Migration is configured when using Availability Sets such that the number of update/fault domains is not changed, even when migrating a node to different hardware?
CC @kazshi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948b29e3-d488-0a0e-89c7-42849a93522d
* Version Independent ID: 8c986086-93

[2019-07-03 00:27] TravisCragg-MSFT commented on #33450
@AndrewDarby I tested this with a text file (text/plain) that meets compression specifications, and the Microsoft CDN served back brotil every time, even when both gzip & br were listed in the Accept-Encoding header.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2019-07-03 00:27] #33450 closed

[2019-07-03 00:28] TravisCragg-MSFT commented on #30065
@msandbu do you need further assistance with this?

[2019-07-03 00:29] Mike-Ubezzi-MSFT commented on #34410
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-03 00:30] NickDrouin opened #34429 "Endpoint-Validation sample code fails on ASP NET Core 2.2"
The sample at:
https://docs.microsoft.com/en-us/azure/event-grid/receive-events#endpoint-validation

Using:
&lt;PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.2.0" /&gt;
&lt;PackageReference Include="Microsoft.Azure.EventGrid" Version="3.2.0" /&gt;
&lt;PackageReference Include="Newtonsoft.Json" Version="12.0.2" /&gt;

Fails to return true at:
eventGridEvent.Data is SubscriptionVali

[2019-07-03 00:31] TravisCragg-MSFT commented on #34128
@Cyr-Az We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-03 00:31] #34128 closed

[2019-07-03 00:33] MitchellNZ commented on #21850
Also interested in this issue. I am in a situation where I can't afford to lose the original VM (in case I have issues re-creating it from the image).

I have tried to get myself a copy of the VM with an osProfile by doing the following (however, I haven't had any luck getting it to work correctly):

1. Creating a snapshot of the original VM disk.
2. Using that snapshot to create a new VM (which o

[2019-07-03 00:40] FrankHu-MSFT commented on #34383
@PaoloCastAway the reply URL is whatever the reply url you include in the parameter URL. So the issue is that you're sending the "te" in your request when logging in. Can you please double check that you have the correct reply url configured in the parameters of your request?

[2019-07-03 00:42] johndeu commented on #34007
Redactor has not yet been moved to the v3 APIs for Media Services.  It is still only available via the v2 API at this time.  We only have the Face Detector available, which returns the bounding boxes and time points.  The blurring operation has not been added to the v3 API yet.

[2019-07-03 00:47] davidekarasek commented on #34402
That’s pseudo code, and you know what, this is not a good use of my time.

On Tue, Jul 2, 2019 at 7:53 PM Amit Bapat <notifications@github.com> wrote:

--
David Evan Karasek
davidekarasek@gmail.com

[2019-07-03 00:48] BryanTrach-MSFT commented on #34267
@jaysonvelasco Thank you for the feedback. We've recently updated the doc due to a few product changes and appreciate your feedback on the recent edits.

I have assigned your feedback to the doc author to see if there is a way we can make the language in the doc friendlier for people who are new to the product.

[2019-07-03 00:57] MicahMcKittrick-MSFT commented on #34422
#34421

[2019-07-03 00:57] MicahMcKittrick-MSFT commented on #34421
#34422

[2019-07-03 01:03] RamonArguelles commented on #34326
Looks like Unity 2019 has some incompatibility issues. We are looking into them. In the meantime, could you install Unity 2018.3? These samples have been thoroughly on that version, and they should work.

[2019-07-03 01:07] davidekarasek commented on #34402
Kindly tell me what I need to enter versus what I need to leave as is and
we'll call it a day. And no, it's not clear enough from the "example".
In any case I'm paying for support for this product and being treated like
garbage, and I'm not a happy camper.

-David

On Tue, Jul 2, 2019 at 7:53 PM Amit Bapat <notifications@github.com> wrote:

--
David Evan Karasek
davidekarasek@gmail.com

[2019-07-03 01:08] BryanTrach-MSFT commented on #32950
@PhilKoay Hi Phil, please follow the steps [here ](https://docs.microsoft.com/en-gb/azure/app-service/containers/quickstart-java#configure-the-maven-plugin)again to recreate the pom file. Reach out if you have any troubles doing so.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion an

[2019-07-03 01:08] #32950 closed

[2019-07-03 01:21] BryanTrach-MSFT commented on #32970
@bogan The logs that are referred to in this article have limited configuration options. As far as I am aware, they do not support integration with ILogger as called out in your linked article. You'd likely need to configure your own logging if you wish to go with this level of customization. (ILogger, integration with app insights, etc.)

I hope this helps to provide some clarity. Reach out if yo

[2019-07-03 01:21] #32970 closed

[2019-07-03 01:24] BryanTrach-MSFT commented on #32982
@RoopAnymous and @awentzel Did this configuration work in the past for you or are these new environments. We look forward to your reply.

[2019-07-03 01:25] mike-urnun-msft commented on #34404
Hi @leus Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 01:26] BryanTrach-MSFT commented on #32982
@RoopAnymous and @awentzel Ignore my reply from a minute ago. I've been doing some investigation into this but have been unable to reproduce the issue. Not sure if it's a limited scope issue or I'm not reproducing the same issue.

Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of the this post so we can assist you further? Thank you

[2019-07-03 01:26] #32982 closed

[2019-07-03 01:30] PhilKoay commented on #32950
But I have destroyed the elements outside to the <build> element.... How
can I recreate it?

Phil Koay ( From my mobile, so please excuse the typos, lack of content etc
:) )

On Wed., 3 Jul. 2019, 11:08 am Bryan Trach, <notifications@github.com>
wrote:

[2019-07-03 01:35] edjez commented on #33273
Not a prio #please-close

[2019-07-03 01:35] #33273 closed

[2019-07-03 01:38] BryanTrach-MSFT commented on #34319
@gotgenes In order to do that, make a MSI authenticated HTTP call to another app and then capture the error which should mention the Application ID.It's not pretty but it is the only way I have come across trying to locate the application ID.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the dis

[2019-07-03 01:38] #34319 closed

[2019-07-03 01:40] mike-urnun-msft commented on #34409
Hi @dirthsj Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 01:42] wumingcp commented on #34384
What's the default option for “ExcludedTypes" and "IncludedTypes"? And should this doc be updated?

[2019-07-03 01:42] mike-urnun-msft commented on #34429
Hi @NickDrouin Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 01:51] BryanTrach-MSFT commented on #33732
@TarunKrShukla We keep this GitHub repro scoped to issues about the docs themselves. Since your issues stemmed from outside the docs, can you please post your question on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD)or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-active-directory)? We have engineers there who can assist further. Thank

[2019-07-03 01:51] #33732 closed

[2019-07-03 01:54] amitbapat commented on #34402
If you have paid support available please file a ticket to get fast resolution.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: davidekarasek <notifications@github.com>
Sent: Tuesday, July 2, 2019 6:08:21 PM
To: MicrosoftDocs/azure-docs
Cc: Amit Bapat; Mention
Subject: Re: [MicrosoftDocs/azure-docs] There's no example here. (#34402)

Kindly tell me what I need to

[2019-07-03 01:58] soninaren commented on #30541
@bcraun This is actually by design. Please refer to this issue for more details. https://github.com/Azure/azure-webjobs-sdk/issues/2206#issuecomment-507903048

Additional documentation: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register

[2019-07-03 02:01] #33757 closed

[2019-07-03 02:03] BryanTrach-MSFT commented on #33757
@osudude Thank you for the heads up. We have made a change to the doc and it should be publicly visible within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-03 02:09] AshokPeddakotla-MSFT commented on #34247
@kgremban Could you confirm on this?

[2019-07-03 02:12] forester123 opened #34430 "How to modify ASA connection string with IP filtering enabled"
In the above warning it says if IP filtering is enabled, use the Event Hub-compatible name and endpoint of IoT Hub in ASA connection string, I want to know how to make this update. In portal when configuring ASA input with IoT Hub, I can't find the connection string. Please kindly help direct me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-07-03 02:13] sostel opened #34431 "Builds and deploys to HoloLens but does not change color."
While compared to the other open issue my sphere is white, it doesn't change color based on whether the anchors are saved or not (no turning yellow, blue, red or green). I can see in the Azure portal that anchors are created though. When trying to run it in the Unity Editor, I'm getting a DLLNotFound exception (at AzureSpatialAnchorsBridge.cs:4263). On HoloLens, it's a bit more difficult to debug,

[2019-07-03 02:14] kikawash opened #34432 "Please update"
This page looks obsolete. Powershell commands look old, please update the contents using Az powershell module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d899e8-cf6e-a99a-91aa-2d812118854a
* Version Independent ID: a6b53c2f-078d-4c74-0d3d-49118f1ab122
* Content: [Configure Load Balancer TCP idle timeout in Azure]

[2019-07-03 02:30] peledins opened #34433 "security considerations"
my understanding is that the free/shared plans are no-no if you are security conscious.

how about the consumption plan?

I am planning to use azure function for cert rotation, so I want to make sure that I do the best wrgt security, but the payload will be small.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739

[2019-07-03 02:33] ryancrawcour commented on #34354
I tried running with curl.exe as @nzthiago mentions but it still fails, now with a completely different error message.  This appears to be something related to java internals?

![Untitled](https://user-images.githubusercontent.com/38923605/60559091-8ba94d00-9d9f-11e9-9426-54d3c0903d94.png)

[2019-07-03 02:36] rhythmnewt commented on #28072
@stgeorgi I tried deploying to validation right (same powershell script, except for the host pool validation parameter set to true) and it's failed both times at registering to the Azure ADDS domain.
[code]
Switched an older host pool to validation ring and tried to sign in. Got same SID-related error.

[2019-07-03 02:37] AshokPeddakotla-MSFT commented on #34227
@dvescovi1 Yes, you can develop machine learning module and deploy it to a Linux device running Azure IoT Edge. Please refer [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/5717) for more context on your specific question. Let us know if you have further questions.

[2019-07-03 02:46] cijothomas commented on #34384
https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#frequently-asked-questions the 1st FAQ answers this right?
What is the default sampling behavior in ASP.NET and ASP.NET Core SDK?

If you are using one of the latest versions of the above SDK, Adaptive Sampling is enabled by default with five telemetry items per second. There are 2 AdaptiveSamplingTelemetryProcessors added by defaul

[2019-07-03 02:48] ToruMakabe commented on #34361
@jakaruna-MSFT I tried it again now, logs were sent to Azure Monitor in about 5 minutes. it seems there was a delay at that time in Azure Monitor. If the empty of "RawData" is a specification of Azure Monitor & Azure Container Instances, please close this issue. Thanks!

[2019-07-03 02:50] dcbrown16 commented on #15578
@femsulu @mukund1980
#10231 addressed adding Functions to the doc about action groups.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups
That's probably the best place for it since this functionality is not specific to activity logs.

[2019-07-03 03:15] DixitArora-MSFT commented on #34433
Hi @peledins Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:17] DixitArora-MSFT commented on #34406
Hi @sostel Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:18] DixitArora-MSFT commented on #34419
Hi @ptuton Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:21] DixitArora-MSFT commented on #34427
Hi @mlegris Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:21] moyanming opened #34434 "How to get authentication in a background app for visually impaired people?"
Hi all,

We are developing a device for visually impaired people, which is [a headless device](https://docs.microsoft.com/en-us/windows/iot-core/learn-about-hardware/headlessmode#headless-mode) runs Windows 10 IoT core. There is no web browser or UI controls runs on the device. There is only one type of app runs: [a background application](https://docs.microsoft.com/en-us/windows/iot-core/develop-

[2019-07-03 03:23] DixitArora-MSFT commented on #34428
Hi @dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:24] DixitArora-MSFT commented on #34434
Hi @moyanming Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:25] DixitArora-MSFT commented on #34431
Hi @sostel Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 03:29] DixitArora-MSFT commented on #34254
@rswetnam Following up again in case missed the previous communication.

[2019-07-03 03:34] wumingcp commented on #34384
OK, thanks

[2019-07-03 03:34] #34384 closed

[2019-07-03 03:38] KalyanChanumolu-MSFT commented on #34185
Thanks @markjbrown

@edfreeman We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-03 03:38] #34185 closed

[2019-07-03 04:00] mike-urnun-msft commented on #34204
Hey @lawrencegripper Since we are tracking this item internally with Functions team, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-03 04:00] #34204 closed

[2019-07-03 04:05] KetanChawda-MSFT commented on #34220
@GermanEZI can you confirm which parameter is not clear to you from my last post?

If it is audience parameter in the below screenshot , you can get this from the Function App --> Authentication / Authorization --> Select AD App --> Copy the Client ID and paste it in the Audience field.

![image](https://user-images.githubusercontent.com/28587628/60562432-280a2a00-9d75-11e9-9ae6-08454a62d497.png)

[2019-07-03 04:14] RohitMungi-MSFT commented on #34366
@SamuelMCQ We are glad this worked for you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-03 04:15] #34366 closed

[2019-07-03 04:23] aquibqureshi26 commented on #34272
ok. Please close

[2019-07-03 04:30] AshokPeddakotla-MSFT commented on #34430
@forester123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-03 04:30] stgeorgi commented on #28072
Now the error states it could not resolved the domain name. Is this domain name name of you DC / AAD DS - mydomain.com?

[2019-07-03 04:50] akshaybabloo opened #34435 "Logout needs id_token_hint URL parameter"
For some reason, I am getting the following error:

[code]

I don't see `id_token_hint` on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID: 0ff6b6b2-2802-9534-8963-796b9c4a2a76
* Content: [Web sign-in with OpenID Connect - Azure Active Directory B2C

[2019-07-03 04:51] msrini-MSFT commented on #34432
@kikawash , Thank you for your feedback. We will investigate and update the doc accordingly.

[2019-07-03 04:51] angoyal-msft commented on #33939
@axthosarouris yupp it would be helpful if you could share the .csproj file. Please attach the zip file and make sure you are not sharing any sensitive data.

[2019-07-03 04:54] msrini-MSFT commented on #34097
@joeakim , I will proceed with the closure of this issue and if you have any further questions, please tag me.

[2019-07-03 04:54] #34097 closed

[2019-07-03 04:57] GermanEZI commented on #34220
After unsuccessfully trying other Id's, I used the ClientID for the Audience parameter.
This looked promising.  It took some time before it returned an "Internal Server Error"  (500)
I noticed that the content-length was 0 even though thee is a value in my "Body" parameter
![500Error](https://user-images.githubusercontent.com/42184774/60564399-772c6c80-9d2d-11e9-95d3-cb01ee00f5d9.png)

[2019-07-03 05:13] Expecho commented on #34400
Got it! But I used to remember this page showed the three different ways to secure the key vault, by using app id and secret, by using app id and certificate and aad rbac. I wanted to divert a question about the different options to this site but then noticed not all options are presented anymore

[2019-07-03 05:15] ShawnPOWER opened #34436 "Clarification"
What does "local SSD" mean exactly in this context? Does it mean the temporary disk on the VM? Also, does put the TempDB on the local SSD mean to place the TempDB logs and data in the same location? Or should the data and logs for the TempDB go on separate drives?

The questions relate to this part of the document: "- Place TempDB on local SSD for mission critical SQL Server workloads (after choos

[2019-07-03 05:20] #34272 closed

[2019-07-03 05:28] msrini-MSFT commented on #34432
@KumudD , Looks like this doc has commands of Classic model. Can you change the commands/ Samples to new Az commends ?

[2019-07-03 05:31] shashishailaj commented on #34055
@bodowney Thank you for bringing this to our notice. I agree the disabled device during sign-in event error code 135011 must be added to this page. I am engaging the content team for updating the same.

[2019-07-03 05:33] shashishailaj commented on #34055
@MarkusVi Could you please help update this error on this page after verifying the same with engineering ?

[2019-07-03 05:34] Coremination commented on #34007
Hello,

Thank you for the reply and good to know I was not going mad being unable to get it working. It would perhaps be worth noting that information somewhere so others don’t waste as much time as I did.

What is the ETA of it being available?

Thanks,

Charles Smith
Consultant & Managing Director

[2019-07-03 05:35] shashishailaj commented on #34109
@MarkusVi Could you please help update the document as requested for the error 135011  ?

[2019-07-03 05:41] kazshi opened #34437 "Diagnostic logs"
Are the diagnostic logs the same as the Diagnostics Logs in APIs Azure Monitor (APIs &gt; All APIs &gt; Settings &gt; Azure Monitor)?
I couldn't find information about the APIs Azure Monitor (Diagnostic Logs) so asking in here.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8

[2019-07-03 05:46] SadiqhAhmed-MSFT commented on #34197
@loopfish SQL backup in Azure VM is supported with [Az module](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-automation).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-03 05:46] #34197 closed

[2019-07-03 05:48] PeterRockstars commented on #34408
To be clear, my question is in regards to this note:
[code]

[2019-07-03 05:50] vladichernov commented on #34391
Hallo,

unfortunately it doesn't work from Germany.

The Link on this page: https://go.microsoft.com/fwlink/?linkid=829576 leads to http://download.microsoft.com/download/D/2/6/D26087ED-5F40-49CF-9EEF-0DB3BB41B042/x64_15.0.1600.41_SQL_AS_ADOMD.msi
but not to http://download.microsoft.com/download/D/2/6/D26087ED-5F40-49CF-9EEF-0DB3BB41B042/x64_15.0.1600.41_SQL_AS_OLEDB.msi
Look at this screenshot p

[2019-07-03 05:53] angoyal-msft commented on #34419
@ptuton Could you please confirm whether you are getting this error when you are executing BCP commands for populating the tables is provided in the this tutorial. If not could you please specify the command you are trying to run.

[2019-07-03 05:57] DixitArora-MSFT commented on #34422
Hi @KeiroKamioka0000 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 05:57] DixitArora-MSFT commented on #34421
Hi @KeiroKamioka0000 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 06:05] dcbrown16 commented on #34070
@SadiqhAhmed-MSFT let me clarify (I work on Keiro's team).
The request would be to add some info about what kind of user access is needed to the AzureBackupRG... resource group. In my understanding, there's not really any required access - everything that happens there with the restore point collections is automatic so there are no required user operations.
This is more about another page, quoted

[2019-07-03 06:20] DixitArora-MSFT commented on #34433
@peledins When you're using the Consumption plan, instances of the Azure Functions host are dynamically added and removed based on the number of incoming events. This serverless plan scales automatically, and you're charged for compute resources only when your functions are running.

Regarding security : All Azure Web Apps (as well as Mobile App/Services, WebJobs and Functions) run in a secure env

[2019-07-03 06:25] DixitArora-MSFT commented on #34355
@ryancrawcour Thanks for raising the PR. @nzthiago Thanks for contributing.

[2019-07-03 06:25] #34355 closed

[2019-07-03 06:39] angoyal-msft commented on #34419
@ptuton I have tried bcp commands on cmd they are working fine without appending -r "\r\n". While it is giving error in Bash Cloud Shell. The reason for this seems, in Bash Cloud Shell, it takes delimiter similar to Windows.

Difference between \r, \n and  \r\n :

\r\n is a Windows Style
\n is a POSIX Style
\r is a old pre-OS X Macs Style, Modern Mac's using POSIX Style.

\r is a carrige return an

[2019-07-03 06:42] DixitArora-MSFT commented on #34354
@ryancrawcour Just to double check please make sure you have the Prerequisite installed correctly . I have tried following the steps mentioned in the doc and able to run the function without any issues.

[2019-07-03 06:43] dohughes-msft commented on #34385
Thank you for the swift answer.

[2019-07-03 06:43] #34385 closed

[2019-07-03 06:47] anbuivan opened #34440 "Step 4 - Configure indexer"
Hi Team,
I have updated my database that enabled tracking for database and table also.
But At step 4 - Configure indexer. I can't schedule for it without using maker columns.
Can you let me know what is the issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd7889a2-9ec0-52eb-030a-a28b79ce5023
* Version Independent

[2019-07-03 07:12] edfreeman commented on #34185
Thanks, both!

[2019-07-03 07:14] grahambunce commented on #34378
@tfitzmac I don’t want to copy via an array the whole connection string property, I just want to copy one element of the connection string property. I can’t really work out from the examples if this is possible or not

[2019-07-03 07:18] manuelmeyer1 opened #34441 "Correction to Role Name"
Question: How do I add a user to the Administrators group?
The Role is now called: "Api Management Service Contributor" instead of "Api Management Contributor".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88f53b61a
* Version Independent ID: f6c4d89a-1cc5-3e2a-6a3c-3b292cecead7
* Content: [

[2019-07-03 07:30] rwatjen commented on #33623
@ananthradhakrishnan That parsing doesn't work for all resource types. E.g. a Service bus has sub-types for resources, so the ID for a service bus namespace is something like:
/subscriptions/**subscription ID**/resourcegroups/**resource group**/providers/**microsoft.servicebus**/_namespaces_/**namespacename**

[2019-07-03 08:03] vishalaj1 opened #34443 "Get Meta Data Activity - Azure File Storage - Child Items"
Hi Team,

I am using Azure File Storage as source. I have both Folders and Files in the Azure File Storage Folder.

In childitems i only get the File List. I do not get the folder items.

Is this exepcted behaviour.

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4997d4-36fd-4f1c-464b-ea3190531e02
* V

[2019-07-03 08:04] AjayKumar-MSFT commented on #34242
@dinobu, Thanks for following-up with more details. The doc needs minor refresh to reflect the latest changes, I was seeking more details on your experience. Again, thanks for your valuable feedback, it's highly appreciated. Your feedback has been shared with the content owner (@mattchenderson) for further review.

[2019-07-03 08:08] DixitArora-MSFT commented on #34356
@vladvino Any inputs in this ?

[2019-07-03 08:08] sergaz-msft commented on #34396
Thanks for reporting @kd2eom . Are you on AMD64  or ARM32v7 ?

[2019-07-03 08:11] DixitArora-MSFT commented on #34368
@homerwong2 PR has been already been created which will address this. Thanks so much for providing the feedback that help us in improving the documentation.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-03 08:15] jakaruna-MSFT commented on #34363
@zr-msft I am assigning this issue to you. I will forward the email discussion regarding this issue.
Adding support for the flag discussed in this issue is in progress.
We can state that in the doc as well. But currently its not supported

[2019-07-03 08:15] nirmaldeol commented on #34356
This does not work when i was making Azure queue Post Request.

`
        <set-variable name="StringToSign" value="@{
                // https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/authentication-for-the-azure-storage-services
                // {VERB}\n{Content-MD5}\n{Content-Type}\n{Date}\n{CanonicalizedResource} e.g. "GET\n\n{0}\n{1}\n{2}",
                return stri

[2019-07-03 08:16] DMKmod commented on #25211
@kprpg Hi, here the script you can use to apply Action Group to all VMs in the tennant:

<#
1. install Choco

2. Install ARM client
https://github.com/projectkudu/armclient

3. create action group and put it's ID in the $payload
4. run the script
#>

$payload = "{'properties':{'ActionGroupResourceIds':['/subscriptions/Subscription ID where you have your Action Group/resourceGroups/Name of Resourc

[2019-07-03 08:16] leyshon opened #34446 "Docker Bridge address size"
Is it possible to get some more information on what size the CIDR for the docker bridge address needs to be? The default is listed as 172.17.0.1/16. Is it a requirement that a /16 be assigned to this or does it depend on factors such as the number of nodes/pods deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2019-07-03 08:19] jakaruna-MSFT commented on #34105
@DAD713 I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-03 08:19] #34105 closed

[2019-07-03 08:28] KetanChawda-MSFT commented on #34220
@cgillum Can you please share your thoughts here?

[2019-07-03 08:31] nnamedieh opened #34447 "Roadmap"
Hello everyone, would you share the intended GA status for Azure Bastion Host with us? We've tested the service and would love to use it in other regions than those listed.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661

[2019-07-03 08:35] PramodValavala-MSFT commented on #34110
@strakh-alex Just following up here... Hope my previous comment helps.

[2019-07-03 08:36] PramodValavala-MSFT commented on #34344
@larryeby Just following up here... Hope my previous comment helps.

[2019-07-03 08:43] ChrisParrBIE opened #34448 "Missing Error Codes - 0x80c80205 - 0x8000ffff"
We're seeing error codes not listed in this doc.

.\FileSyncErrorsReport.ps1 -ReportAllErrors

==========================================================================
    Copyright (c) Microsoft Corporation.  All rights reserved.

    Azure File Sync: List per item sync errors
    Server Name: SERVER01
    Script version 1.3
    Installed Azure File Sync agent version: 6.3.0.0
=================

[2019-07-03 08:44] DixitArora-MSFT commented on #34435
Hi @akshaybabloo Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 08:45] PramodValavala-MSFT commented on #34441
@manuelmeyer1 Thanks for catching that!

@Potapy4 Thanks for working up the PR!

We will assign this issue to the content author for review and approving the PR.

[2019-07-03 08:47] DixitArora-MSFT commented on #34437
Hi @kazshi Thank for reaching out. We will review and provide an update as appropriate.

[2019-07-03 08:49] jakaruna-MSFT commented on #34373
@mcurko There is template available in `azure-quickstart-templates`.
Link is [here](https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-custom-script-windows/azuredeploy.json#L133)

For linux and windows the publisher , type and typeHandlerVersion  of the extension changes.

For windows use the below setting. Its available in the above github link as well.
[code]

[2019-07-03 08:49] jakaruna-MSFT commented on #34373
@cynthn please add your comments regarding the extension template addition for windows in the document.

[2019-07-03 08:52] DixitArora-MSFT commented on #34436
Hi @ShawnPOWER Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 09:03] jakaruna-MSFT commented on #34361
@ToruMakabe Same here. I am also able to see the logs now. If its taking around 5 minutes that should be fine.
I will let the author decide to update the screenshot.

[2019-07-03 09:05] jakaruna-MSFT commented on #34361
@dlepow Can we update the screenshot? Azure portal has a new UI now.

Also add your comments regarding the time taken for a log entry to be updated in log analytics work space from the container instance.

[2019-07-03 09:15] ChiragMishra-MSFT commented on #34443
@vishalaj1 Get Metadata activity with ChildItems in the field list is meant to give as an output all the child items (files and subfolders) within a particular folder. If you have a folder(that you set in the linked service) which contains files and subfolders, you would get a list of all of the files and subfolders.
Eg- My dataset is an Azure file storage account with folders - ".ssh", "data", "L

[2019-07-03 09:25] khazri-mamedov commented on #14927
Hi @daniel-rocha ! I know that I'm too late for comment but as you can see from docs it works on environment with JDK 8 installed. I had the same problem with JDK 11. Hope this helps for future.

[2019-07-03 09:28] VikasPullagura-MSFT commented on #34428
@dcbrown16 The configuration(update/fault domains count) of the Availability Sets under Live Migration will not change.
I will have the author add comment for more clarification.

[2019-07-03 09:28] Luaancz commented on #32521
@jaymins93 The code sample is in the Git repo (https://github.com/Azure-Samples/key-vault-dotnet-core-quickstart), the rest of the page is about configuring everything you need the sample application to run and work correctly.

[2019-07-03 09:29] VikasPullagura-MSFT commented on #34428
@cynthn Can you please add your comment and provide some insights on this.

[2019-07-03 09:29] boltlol commented on #24233
Would it be possible to add a cronjob syntax to this at least on minutes? Writing every minute you want it to run is cumbersome. 3,6,9,12,15 etc...

![image](https://user-images.githubusercontent.com/7255969/60580628-b38bb700-9d85-11e9-83e0-7d9d26758aad.png)

[2019-07-03 09:31] KetanChawda-MSFT commented on #34404
@craigshoemaker any thoughts here?

[2019-07-03 09:35] jakaruna-MSFT commented on #34244
@roymeforever Did you got a chance to try that out

[2019-07-03 09:39] lightupdifire opened #34449 "Testing steps | Block/unblock users"
Hello,
Regards "Multi-Factor Authentication - Block/unblock users", is it possible to receive a notification or query this status via Azure logs that user is blocked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Cont

[2019-07-03 09:49] SumanthMarigowda-MSFT commented on #34448
@ChrisParrBIE Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-03 09:50] jakaruna-MSFT commented on #34290
@medavamshi [Shared image galleries](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries) can help you.
We can create a shared image gallery in a subscription and then share it with the other subscriptions.

In the policy we can give only the subscription id where the shared image gallery resides.

I didn't try it out, But this can help.

Another solution is to p

[2019-07-03 09:56] medavamshi commented on #34290
Interesting about shared galleries. I haven't tried that one before. I thought about last option but was wondering if there is an easy way at management group level. Thanks for sharing about shared image gallery. I will surely try that. Appreciate your response.

[2019-07-03 09:58] medavamshi commented on #34290
Shared gallery images has to be custom or can they be one of the images from MS?  I guess I will read the blog first about shared gallery.

[2019-07-03 10:07] SadiqhAhmed-MSFT commented on #34136
@genlin Please update this thread when have the document updated with unsupported characters.

@matthewcordaro We are closing this for now. Please feel free to re-open the issue if you've any concerns.

[2019-07-03 10:07] #34136 closed

[2019-07-03 10:09] #33788 closed

[2019-07-03 10:10] Zenuka commented on #22714
Could you please include if there is any difference between the Standard and Premium in CPU power? Looking at the ACU's; they're the same but I would expect the premium to be higher right? Or is that because of some vCPU:Core ratio found on this page: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/acu ?

[2019-07-03 10:11] slebodat commented on #34382
Hi @mike-urban-msft, I'm not sure whether this is a bug/feature but I haven't found that information in any of those articles:
[https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs)
[https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps](https://docs.microsoft.com/en-us/azur

[2019-07-03 10:16] SadiqhAhmed-MSFT commented on #34274
@dcbrown16 Thanks once again for sharing your feedback on this. We have shared this info for further review with the respective team and the document will be updated as appropriate.

For now, am closing this thread. I shall update it once we've enhanced document with the requested information.

[2019-07-03 10:16] #34274 closed

[2019-07-03 10:23] jakaruna-MSFT commented on #34353
@MikeRayMSFT please add your comments

[2019-07-03 10:25] VikasPullagura-MSFT commented on #34436
@ShawnPOWER I am checking with the team on this. Will update once I get the response.

[2019-07-03 10:43] msrini-MSFT commented on #34447
@nnamedieh , Thank you for showing interest. Unfortunately GA date cannot be shared in this forum. The documentation will be updated once the product becomes GA.

[2019-07-03 10:43] #34447 closed

[2019-07-03 10:46] Suchiman commented on #22714
In particular, they slap 210ACU at P1V2 (1 Core, 3.5GB) and 200ACU at S2 (2 Cores, 3.5GB), indicating that a single core of P1V2 is more than twice as powerful than a standard core, that's something i'd like to see benchmarks on.

[2019-07-03 10:47] AmanGarg-MSFT commented on #34037
I tried it once again with VS 2017 (.Net Core 2.2) and VS 2019 (.Net Core 2.2) and did not run into any issues.

Try creating your AKS cluster in a new resource group with another name.

You might be facing an intermittent issue. Please go ahead and give it another try. Please make sure you have everything in place.

We are going to close this thread as resolved but if there are any further questi

[2019-07-03 10:47] #34037 closed

[2019-07-03 10:59] SamuelMCQ commented on #34366
@RohitMungi-MSFT
The error has occurred again on the new resource group.
A folder named 'live.com#(my account)' is created randomly in the root of the notebook containing a folder named 'samples-1.0.45' which contains tutorials.
![image](https://user-images.githubusercontent.com/36965310/60586278-a7095d80-9d89-11e9-93ca-c70b03a95c2f.png)
Attempting to delete this folder with `shutil.rmtree('./live

[2019-07-03 11:00] takekazuomi opened #34450 "Incorrect sample code."
The sample SQL on the following page is incorrect.
https://docs.microsoft.com/en-us/azure/kusto/api/tds/t-sql

In page
[code]
You do not need "explain" in this code.

I write here because there is no feedback input on the page.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6bba86f-f473-368c-e517-c02e4635119c

[2019-07-03 11:14] chetan-makvana commented on #31561
When it creates the container, it tries to call this url http://localhost:port for health check. If this doesnt send valid response then it assumes that application is not working and hence doesnt spin up the container.  Make sure that your application sends valid response code 200 for root context path

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Davor V

[2019-07-03 11:32] jakaruna-MSFT commented on #34290
Shared image galleries  are for custom images only. Marketplace images are already available to subscriptions.

[2019-07-03 11:42] medavamshi commented on #34290
ok thank you.  So it appears i have to allow images from all subscriptions in the policy for market place images.

[2019-07-03 11:46] iamarno opened #34451 "WEBSITES_PORT is not working, only PORT does"
I was only able to set the docker exposed port with PORT. WEBSITES_PORT is not working at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Content: [App Service on Linux FAQ - Azure](https://docs.microsoft.com/en-us

[2019-07-03 11:55] jakaruna-MSFT commented on #34421
@xujing please add your comments

[2019-07-03 11:56] AjayKumar-MSFT commented on #34440
@anbuivan, Thanks for the question! Could you please elaborate more on your scenario?

[2019-07-03 12:02] miglover opened #34452 "Hard Limits definition not clear"
Default Limit is a little ambiguous when trying to understand if a limit can be increased. I understand that Maximum Limit really identifies resource limits that can be increased but to remove any mis-understanding it might be worth changing "Default Limit" to "Hard Limit" where appropriate for resources that can not be increased.

Example: Virtual Machines limits - Azure Resource Manager

Default

[2019-07-03 12:07] VikasPullagura-MSFT commented on #34446
@leyshon Thanks for posting the question. I am checking this with the document author.

[2019-07-03 12:08] VikasPullagura-MSFT commented on #34446
@iainfoulds Can you please add your comment.

[2019-07-03 12:11] roymeforever commented on #34244
I have tried to update configmap of kiali but without any luck.
istio_namespace: istio-system
server:
  port: 20001
external_services:
  istio:
    url_service_version: http://istio-pilot:8080/version
  jaeger:
    url:
  grafana:
    url:
    in_cluster_url: http://grafana.istio-system:3000
    enabled: true
    auth:
      type: basic
      username: grafana
      password: xxxxxxxx

[2019-07-03 12:17] jakaruna-MSFT commented on #34244
I hope you redeployed the kiali after updating the config map.

Is there any change in the error information like "Unauthorized"?

you can also login to the  kilali container and look a the config file to make sure the config map data is reflected properly .
you can describe the config map to find the kiali configuration file path

[2019-07-03 12:19] boltlol opened #34453 "Billable?"
If I have a logic app with a condition, where it looks like this:

                       Trigger
                          |
                     Condition
                    /                \
 Connector(Success)      Connector(Skipped)

Do I pay for all actions/connectors or only the ones I have consumed(status success), such as in this instance, 1 x trigger, 1 x condition & 1 x connector? Do

[2019-07-03 12:25] xsreality commented on #25361
@ajlam Is the new certificate covering MariaDB rolled out? I still receive error when connecting over SSL.

[code]

[2019-07-03 12:30] jakaruna-MSFT commented on #34290
Providing all the images from marketplace which a subscription requires is difficult.

I think  you can have * also in the image ids.
With that you can whitelist a publisher with one entry.  I am sure that providing wildcard is supported for a [single value](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#value).

But here we need to specify multiple provider

[2019-07-03 12:40] yotauber opened #34454 "Is lifecycle management available in Azure Government Cloud?"
Hi,
It's not clear from this document whether this feature is available in Azure Government Cloud (and specifically Azure US Government). It's also not mentioned in this page: https://azure.microsoft.com/en-us/global-infrastructure/services/

If it's not currently available, can anyone comment on planned availability?

Thanks,
Yodan

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-07-03 12:42] Sethu2488 opened #34455 "Fault domain"
Based on the statement, "A Fault Domain (FD) is essentially a rack of servers. It consumes subsystems like network, power, cooling, etc. So 2 VMs in the same availability set means Azure will provision them into 2 different racks so that if say, the network or the power failed, only one rack would be affected."
Is this true even with availability sets of 3 fault domains?
At least 2 virtual machine

[2019-07-03 12:42] darivuki commented on #31561
Thank you for the quick reponse. I have figured out what the problem by my container was. I have been exposing the wrong port in my Dockerfile. This resulted in Azure not being able to get a response when it was pinging the container. The port that I use now is 80.

[2019-07-03 12:45] ignacioPastor commented on #34098
Hi @AmirGeorge
This is an app downloaded with the API (Fails with docker container)
[e082bb09-8093-4fb4-8978-b21a5830cf61_STAGING.gz](https://github.com/MicrosoftDocs/azure-docs/files/3354974/e082bb09-8093-4fb4-8978-b21a5830cf61_STAGING.gz)

This is an app downloaded manually with the Luis Portal (works nicely)
[e082bb09-8093-4fb4-8978-b21a5830cf61_STAGING.gz](https://github.com/MicrosoftDocs/azur

[2019-07-03 12:46] APIWT opened #34456 "Confusion with "Extension bundles for local development""
Hello! I would like to make a small suggestion for the section named "Extension bundles for local development"

When working with a C# class library, this step actually causes issues. I think this is mostly because it is unclear whether or not you are supposed to follow these steps in addition to the steps listed under "C# class library". May I recommend adding some copy that says something to cle

[2019-07-03 12:49] jakaruna-MSFT commented on #34421
@KeiroKamioka0000 I reached out to the internal Team. I will comment here once i have some updates.

[2019-07-03 12:49] jakaruna-MSFT commented on #34422
@KeiroKamioka0000 I reached out to the internal Team. I will comment here once i have some updates.

[2019-07-03 12:52] KetanChawda-MSFT commented on #34456
@APIWT Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 12:53] APIWT commented on #34456
No problem. Thank you very much!

[2019-07-03 12:58] iRainbow5 opened #34457 "Permission of the storage account used by boot diagnostics"
Hi, may I know 1. what kind of (RBAC?) permission is required on the storage account which I want to use as boot diagnostics one? 2. Let's say after I successfully configured boot diag, does regenerating storage account access keys impact the boot diag functionality? Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-07-03 13:04] timwebster9 opened #34458 "Custom Health Probes?"
What would be the suggested pattern for health probes if your backend isn't an 'app'?  For example if the backend is Azure Firewall or a load-balancer?  The host for the probe must be the FQDN or IP of the backend, and in our use case
 it is Azure Firewall, which obviously doesn't have a health endpoint.  We don't have any control over this, and although it works (the probes fail and therefore Fro

[2019-07-03 13:05] CharmanderJieniJieni opened #34459 "Will rotating access key interrupt log export"
What happens if we set the storage account to be activity/diagnostic log export destination? With the fact logs are continuously streamed to the storage account, will key regenerating both access keys affect that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3463d1c7-f458-738a-2317-b756a1be7de0
* Version Independent

[2019-07-03 13:21] Headburgh opened #34460 "Licensing requirement for Azure AD Provisioning Services"
Hi, the table for licensing requirements under "Phase 4:" is not clear. Regardning the "Automate user provisioning and deprovisioning" it needs some clarification as to which License is required to use the feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8763efcd-d2ef-6547-e33d-c250d97020f6
* Version Independent

[2019-07-03 13:24] chambomusic commented on #27712
Any ETA on a fix or workaround for this issue?

[2019-07-03 13:48] KarlErickson commented on #33788
Fixed. @Pokeystuff thanks again for the feedback!

[2019-07-03 13:50] johncrowtherdcc opened #34463 "Custom Voice messages"
I can't find detailed enough documentation about Custom Voice Messages.

When adding a custom greeting, there is no mention of what the 'Application' field does.

We'd like to know what the default wording is for each message in order to write our own custom messages.

The closest documentation is the table on this discussion: https://social.msdn.microsoft.com/Forums/en-US/5e8edc13-4888-4c51-b890-

[2019-07-03 13:50] lizetpenamsft commented on #7035
Hi Product Group,
This site is still up and running
https://easyauth.azurewebsites.net/ which is very confusing.
I'm studying Identity now with AAD (SAML2.0 Protocol, WS-Federation and OAuth2/OIDC)

 Is this (EasyAuth) something I can recommend to FTA clients/MSFT cx?
And how does this relate to OAUTH2.0/OIDC or the AAD endpoints for these protocols?

Is **Easy Auth** a deprecated term?

[2019-07-03 13:51] tiny-dancer opened #34464 "Maven Requirement: Other Deployment Options?"
We currently have existing zip deploy azure functions and existing gradle projects.  We would prefer azure function deployment parity with zip over switching to maven (yet another tool in the toolchain) - are there links to other deploy options for java?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80

[2019-07-03 13:56] victornoel commented on #33657
@MicahMcKittrick-MSFT @jluk @sauryadas On top of documenting what is not possible to do, could it be possible to document how to properly apply OS updates?

This has arisen in the discussion around applying a security fix on AKS in #1065 and it seems users are not able to apply it with VMSS node pools (or I missed something maybe ;)

[2019-07-03 14:00] thomassimpson25 commented on #34411
Yes. From what we have tested, this conditional access policy is blocking logins to Outlook 2016. The policy I posted this commend on and the one we disabled for Outlook 2016 to allow logon was
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-baseline-protect-legacy-auth#feedback
When the policy is active, Outlook 2016 does not allow logon. When the policy is inacti

[2019-07-03 14:08] leus opened #34466 "Wrong link to C# developer reference"
The link to C# developer reference points to the _Azure Functions C# script (.csx) developer reference_:
    https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp

The actual link should be
    https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-07-03 14:11] AshokPeddakotla-MSFT commented on #34430
@forester123

You can retrieve these values from the portal as follows:

-> Sign in to the Azure portal and navigate to your IoT hub.

-> Click Built-in endpoints.

-> The Events section contains the following values: Partitions, Event Hub-compatible name, Event Hub-compatible endpoint, Retention time, and Consumer groups.

![image](https://user-images.githubusercontent.com/44426435/60586258-54429

[2019-07-03 14:11] MikeParker365 opened #34467 "Link Translation Methods 1 and 2"
"Option 3: Use the link translation setting" specifically calls out the inability of link translation to translate within Javascript and only within HTML / CSS. Is this also the case with Options 1 and 2, or do they improve this capability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15155736-f2c4-f743-1d69-a55e4d31

[2019-07-03 14:16] KalyanChanumolu-MSFT commented on #34291
@iqsarv We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-03 14:16] #34291 closed

[2019-07-03 14:33] angoyal-msft commented on #34450
@takekazuomi
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-07-03 14:33] rhythmnewt commented on #28072
@stgeorgi I sanitized the real domain in the message with "mydomain.com" but the original message does specify my Azure ADDS. Note that these are now two different issues:
1. Issue signing in to WVD that's not in validation ring (no problem or errors deploying host pool to non-validation ring, no issue with domain join) - SID error on connection
2. Issue deploying new host pool to a host pool vali

[2019-07-03 14:41] bigdatamoore commented on #34390
Hi @Mike-Ubezzi-MSFT, below is the response I got when I emailed the askcosmosdb@microsoft.com mailbox.  So the answer is that billing is for any portion of a wall-clock hour, not a 60 minute duration.

[code]

[2019-07-03 14:48] Gutek opened #34469 "Miss-leading text"
you state: _and are batched and sent in a separate thread._

whereas in ASP.NET Core application this is blocking and its executed on the same thread as request.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Content:

[2019-07-03 14:55] Gimly commented on #34409
@mike-urnun-msft In the meantime, could you give a direction on how to manage SignalR groups from Azure Functions? I can't find any sample where they are used and I'm blocked.

[2019-07-03 15:04] DixitArora-MSFT commented on #34453
Hi @boltlol Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:06] DixitArora-MSFT commented on #34451
Hi @iamarno Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:09] DixitArora-MSFT commented on #34452
Hi @miglover Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:10] cynthn commented on #34009
#please-close

[2019-07-03 15:10] #34009 closed

[2019-07-03 15:12] DixitArora-MSFT commented on #34454
Hi @yotauber Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:13] cynthn commented on #34373
@mcurko Did the links @jakaruna-MSFT supplied answer your question?

[2019-07-03 15:14] DixitArora-MSFT commented on #34455
Hi @Sethu2488 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:15] DixitArora-MSFT commented on #34457
Hi @iRainbow5 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:16] cynthn commented on #34428
@dcbrown16 Did the response from @VikasPullagura-MSFT answer your question?

[2019-07-03 15:17] shashishailaj commented on #34449
@lightupdifire Thank you for your query . We will investigate and update this thread.

[2019-07-03 15:17] andybouts opened #34470 "CLI Auto-shutdown"
I need to create Linux VMs via the CLI with auto-shutdown provisioned.
To do this, I have to create the Linux VM via the CLI, ... then I have log into the portal / dashboard and configure the VM for auto-shutdown.
Usually, in my experience the UI features are added after the CLI ... I was quite surprised that I could not configure the VM for auto-shutdown via the CLI.
Maybe I am missing something,

[2019-07-03 15:33] cynthn commented on #30052
#please-close

[2019-07-03 15:33] #30052 closed

[2019-07-03 15:37] DixitArora-MSFT commented on #34469
Hi @Gutek Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:38] DixitArora-MSFT commented on #34467
Hi @MikeParker365 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:39] DixitArora-MSFT commented on #34463
Hi @johncrowtherdcc Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:40] DixitArora-MSFT commented on #34460
Hi @Headburgh Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:41] DixitArora-MSFT commented on #34459
Hi @CharmanderJieniJieni Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:43] DixitArora-MSFT commented on #34464
Hi @tiny-dancer Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:44] chrisfromwork commented on #31423
I'm experiencing this same issue when building MixedReality-SpectatorView with ASA support. I have been using our platform switcher that seems to configure things correctly when ASA is removed from the project:

https://github.com/microsoft/MixedReality-SpectatorView/blob/68874ae626d99bad80d1edf7d1fe236d2a297604/src/SpectatorView.Unity/Assets/SpectatorView.Editor/Scripts/PlatformSwitcherEditor.cs#

[2019-07-03 15:45] DixitArora-MSFT commented on #34466
Hi @leus Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:46] chrisfromwork commented on #31423
I am using Unity 2018.3.6f1 and am building the ios app with il2cpp

[2019-07-03 15:46] DixitArora-MSFT commented on #34470
Hi @andybouts Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 15:49] DixitArora-MSFT commented on #34458
Hi @timwebster9 Thank for reaching out. We will review and provide an update as appropriate.

[2019-07-03 15:50] cijothomas commented on #34469
All telemetry is batched and sent in separate thread - this is true for asp.net or asp.net core.

Where does it state this is blocking for asp.net core? Behavior is same for asp.net and asp.net core.

[2019-07-03 15:59] cgordoncarroll opened #34471 ""Silent Install" isn't silent"
To silently install the agent and configure it to report to a workspace in Azure commercial cloud, from the folder you extracted the setup files to type: `setup.exe /qn NOAPM=1 ADD_OPINSIGHTS_WORKSPACE=1 OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=0 OPINSIGHTS_WORKSPACE_ID="&lt;your workspace ID&gt;" OPINSIGHTS_WORKSPACE_KEY="&lt;your workspace key&gt;" AcceptEndUserLicenseAgreement=1`

When running thi

[2019-07-03 16:11] chrisfromwork commented on #31423
Actually, it seems like ASA has some pod update steps that are missing from SpectatorView's documentation. Using the xcode workspace compared to the xcode project + running the pod install steps described in the ASA documentation seems to unblock.

[2019-07-03 16:13] jimar opened #34472 "Get Receipt Results sample code should be GET, not POST"
Current sample code: curl -X POST "https://&lt;Endpoint&gt;/formrecognizer/v1.0-preview/prebuilt/receipt/operations/&lt;operationId&gt;" -H "Ocp-Apim-Subscription-Key: &lt;subscription key&gt;"

Should be: curl -X GET "https://&lt;Endpoint&gt;/formrecognizer/v1.0-preview/prebuilt/receipt/operations/&lt;operationId&gt;" -H "Ocp-Apim-Subscription-Key: &lt;subscription key&gt;"

---
#### Document Det

[2019-07-03 16:25] ROSMITHJ-MSFT opened #34473 "Screenshots and steps are out of date"
Howdy!

The step 7 for the "Data collection from Windows VM" section and step 6 for the "Data collection from Linux VM" sections are out of date, as they no longer use checkboxes, so the screenshots and steps should be modified.

Many thanks!
"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb49644-fb30-6357-708b-d200

[2019-07-03 16:35] Fmstrat commented on #15932
For anyone who comes across this later. Use the "Try It" feature here to build out your example URL with a `jitNetworkAccessPolicyName` of `default` and a `jitNetworkAccessPolicyInitiateType` of `initiate`: https://docs.microsoft.com/en-us/rest/api/securitycenter/jitnetworkaccesspolicies/initiate

Then, use `az account get-access-token | jq -r .accessToken` to get the Bearer token.

Finally, build

[2019-07-03 16:35] kd2eom commented on #34396
I am on AMD64 on my laptop, python version is 2.7.15.

[2019-07-03 16:38] jluk commented on #33657
Good feedback, adding @palma21 for further discussion

[2019-07-03 16:45] AmirGeorge commented on #34098
@ignacioPastor great, now I know what the problem is. If you open the first file with a text editor, you will see this error response:
`{"error":{"code":"401","message": "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription."}}`

We will be updating the documentation to avoid this error-prune step.

[2019-07-03 17:08] cdwchriburg commented on #19326
Please re-open as this commit was reversed and no updates were made to any articles.  See c2ddb324832b80a82af3a879b2e448160ea7c369 and a9893e31498b7c281f08418ca0485b8dbae5453e

[2019-07-03 17:09] JasonWHowell commented on #22102
#please-close

[2019-07-03 17:09] #22102 closed

[2019-07-03 17:11] krishnacdunuka opened #34476 "Typo maybe?"
In the first code box, instead of "JOIN ContactDetailType on cdt ON cdt.Id = cd.TypeId", isn't it "JOIN ContactDetailType cdt ON cdt.Id = cd.TypeId"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f2e46d-dc1c-df8f-9602-d82a4513cbaf
* Version Independent ID: 02775e24-9b84-04c7-dd10-070bdd3c71aa
* Content: [Modeling dat

[2019-07-03 17:15] vladvino commented on #34356
Thank you for additional details, @nirmaldeol. We added this item to the backlog and will investigate and update this sample.

[2019-07-03 17:17] ecfan commented on #24233
Hi @boltlol, are you requesting to add this syntax as a feature? If yes, please submit your request at the Logic Apps product feedback site so the team can review:

https://feedback.azure.com/forums/287593-logic-apps

Thanks!

[2019-07-03 17:17] vladvino commented on #34437
Please assign to @miaojiang.

[2019-07-03 17:23] MGoedtel commented on #34471
@cgordoncarroll - The command-line shown in the article is correct.  Did you replace <your workspace ID> and <your workspace key> with the values copied from the workspace you want the agent to report to and excluded the <> symbols?

[2019-07-03 17:31] DeanGross opened #34479 "Add Teams"
How come none of the Teams admin roles are included in the Require MFA section? I think this should be included

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content: [Conditional Access baseline protection policies -

[2019-07-03 17:39] denhsu opened #34480 "Is There a Way to Integrate ACR Task with Build in Azure DevOps? Or Trigger a Build in Azure DevOps?"
To provide more background: We have application container image that uses Microsoft official image (from https://hub.docker.com/_/microsoft-dotnet-framework-aspnet?tab=description).

Is it possible to get an update/email/webhook when that docker repo is updated to automatically trigger a build in Azure DevOps?

For example, if base image from official Docker Hub is updated, automatically trigger a

[2019-07-03 17:41] MicrosoftGuyJFlo commented on #34423
@ckssaas your Office SKU includes what you need for a cloud-only user.

[2019-07-03 17:53] cgordoncarroll commented on #34471
Yes, I replaced it with the correct values, without the <> symbols. Any way I invoke it from the command line produces the result below (opens the install gui that requires manual interaction).

![image](https://user-images.githubusercontent.com/755448/60613883-cf00bd00-9d99-11e9-973b-e13ff9e7993a.png)

[2019-07-03 17:55] ryanmajidi opened #34481 "cognitive-services-container-support broken link"
**This issue was submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1687) by @bootsinthecity**

Describe the bug
Container Recipes Link is Broekn

To Reproduce
Steps to reproduce the behavior:

Go to 'https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-container-support#next-steps'
Click on 'container recipes'
See 404 error
Expected behavior
I ex

[2019-07-03 18:00] msrini-MSFT commented on #34458
@timwebster9 , AFD is used for HTTP and HTTPS workloads. Having Azure frontdoor to the backend of AFD is a bad design. As AFD already has WAF capability, I need to understand why you need Azure Firewall to as a middle tier?

[2019-07-03 18:01] mike-urnun-msft commented on #34472
Hi @jimar Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 18:02] mike-urnun-msft commented on #34473
Hi @rosmithj Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-03 18:14] roygara commented on #19163
I've double checked the document and have found no broken links and all the links seem to go where they're meant to. Since there has been no response from anyone here either, I'm closing this ticket.

Thank you all for reaching out.

#please-close

[2019-07-03 18:14] #19163 closed

[2019-07-03 18:30] kbuley commented on #11686
I need to do the same thing, if there's a solution... why would it not be appropriate to include in azure-docs?

[2019-07-03 18:31] mikhailgithub opened #34483 "Publish to Azure Cluster from Visual Studio 2019 not working"
Everything works fine on a local Azure cluster. Getting errors ("Failed to contact Naming Service.") trying to publish to Azure cluster. Please advise.

1&gt;------ Build started: Project: VotingWeb1, Configuration: Debug Any CPU ------
2&gt;------ Build started: Project: VotingData1, Configuration: Debug Any CPU ------
2&gt;VotingData1 -&gt; C:\WORKING\My Projects\ServiceFabric\Voting1\VotingData

[2019-07-03 18:32] daspo opened #34484 "Original log files"
Once the logs are "collected", are the original files in the VM deleted from their location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de204b3b-563a-0a65-8f5a-456cc8335585
* Version Independent ID: 6b5c30b8-ae3b-12c0-6fd8-9a3d826795cd
* Content: [IIS logs in Azure Monitor](https://docs.microsoft.com/en-us/azure/az

[2019-07-03 18:40] MGoedtel commented on #34471
@cgordoncarroll - When this behavior occurs, it is because the command-line is incorrect.  I just downloaded the agent and tested it myself with the example and reconfirmed it is correct.  It may be that what you are copy and pasting from the browser is including some character or something that is causing your issue.  Copy/paste into Notepad or some other editor of choice, verify the command-line

[2019-07-03 18:40] MashaMSFT commented on #27485
Hi @terrimorton, thanks for contacting Microsoft! I have reviewed this and I am not sure I understand which part is misleading. What were you trying to do and what wasn't working? Were you asking to get just an explanation of what the lock is into the documentation? Thanks!

[2019-07-03 18:42] raptorage527 commented on #17220
I'm still getting the error. I'm kind of new to this environment. I'm deploying a node.js app to a container. I was able to successfully build the image on my local machine. As a next step i'm trying to push the image to ACR. I'm using the following command to login "docker login --username myusername myloginserver" and when prompted for password i used the password provided in the access keys sec

[2019-07-03 18:57] natelaff opened #34486 "EF Core"
Please document for EF Core 2+. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6487b334-141c-b795-332d-f4164e829e05
* Version Independent ID: aa9e7704-5e83-ad88-8c99-f0b8f9753446
* Content: [Using elastic database client library with Entity Framework](https://docs.microsoft.com/en-us/azure/sql-database/sql-d

[2019-07-03 18:58] Sang-ShinLEE opened #34487 "One-time bypass does not work"
After adding a user to bypass MFA, this is not working: still asking code after signin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authentication - Azure Active Directory](http

[2019-07-03 19:20] kd2eom commented on #34396
Just notices it installs if I substitue `pip3` for `pip`. But the instructions said to use pip, not pip3, so I believe using pip3 will install the wrong version (python3 version, whereas the instructions seem to want the python2 version?)

[2019-07-03 19:20] Cedric-Bravo commented on #34315
Ye mike, i understand that Premium and Business Critical deployments protect me from a region black out (minus a failover delay). This is not what is explain in the article that mention only a HA across AZ into the same region, not HA across Region. Does the article is outdated ?

[2019-07-03 19:23] SattaRavi commented on #34114
HI @TravisCragg-MSFT

Any ETA's that you possibly can share? it would really help us set expectations.

[2019-07-03 19:33] vinapp opened #34488 "Diagnostic logs for AppService : Incorrect client_City, client_StateOrProvince values"
Related to : https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs

I tried enabling the application insights for AppService (.Net/Windows OS). When I use the application insight api's to check for who/where accessed. I see the values for the below columns/fields are incorrect. Note : I tried accessing from India, the city/state/region it shows as USA also, ip as 0.0.0.0

[2019-07-03 19:40] ChaitanyaKandala opened #34489 "using storage SAS key instead of storage account name and key"
I am trying to use a storage connection string generated using SAS key instead of the approach detailed in this page and couldn't get the code to work. The RegisterEventProcessorAsync throws an Microsoft.WindowsAzure.Storage.StorageException: 'This request is not authorized to perform this operation.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-03 19:41] roygara commented on #19647
@jantoney the doc has been converted to AZ, thanks again for reaching out, we do appreciate it.

#please-close

[2019-07-03 19:41] #19647 closed

[2019-07-03 19:51] MashaMSFT commented on #33328
Hi @alvipeo , thanks again for contacting Microsoft! You are correct, the title for this article was inadvertently changed. I've changed it back, as this article is meant to configure active geo replication. We're working on releasing a partner script that actually creates the failover group and adds the single database to it. We hope to have that out next week, if possible. Thanks again!

[2019-07-03 19:52] CeciAc opened #34490 "Documentation is unclear"
@hansthen commented on [Wed Jul 03 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/429)

This documentation lacks crucial information:
1. what is the purpose of this action (from a user's perspective)?
2. what is the result of the actions I will perform?
3. how will the result contribute to my purpose?
4. how can I verify the configuration

---
#### Documentdetails

⚠ *Dit gedeelte

[2019-07-03 19:53] CeciAc commented on #34490
Hi team,
I'm moving this here because the user is requesting aditional documentation
best regards

[2019-07-03 20:00] femsulu commented on #15578
adding @nkiest

[2019-07-03 20:02] femsulu commented on #34408
adding doc author @MGoedtel to comment.

[2019-07-03 20:12] gavinwilliams opened #34491 "azds prep example"
It would be nice to have an example of this page using azds prep, this seems to be the standard now and there are subtle differences between the demo project and what azds prep does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c630e55a-5aa2-9afa-69f4-6d5ee7f072de
* Version Independent ID: 4a3093b6-f298-2728-bc5d-443

[2019-07-03 20:13] femsulu commented on #34484
@daspo Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-03 20:29] tseward opened #34492 "URL Configuration"
Ideally this documentation should be modified to reflect an identical internal and external URL. Using differing URLs for internal and external SharePoint access causes a few user issues, such as Alerts having an inaccessible URL because they were created on the internal zone, or users sending links to items, etc. If the internal and external URLs are identical, this alleviates user confusion and

[2019-07-03 20:35] BharathNimmala-MSFT commented on #34491
@gavinwilliams - Thank you for your recommendation ! We will review and provide an update as appropriate.

[2019-07-03 20:38] spelluru commented on #34253
@MatthewSteeples - Thanks for raising the issue on GitHub. I have added a link to the auto_delete_on_idle property documentation.

#please-close

[2019-07-03 20:38] #34253 closed

[2019-07-03 20:41] spelluru commented on #30565
I have added the following note with a link to the article.

**Note**
If you aren't familiar with partitions, see [this article](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions).

#please-close

[2019-07-03 20:41] #30565 closed

[2019-07-03 20:49] brettcannon opened #34493 "Instructions outdated for App Service deployment credential configuration"
Specifically the screenshots do not represent what I am seeing in the Azure portal, e.g. I don't have "Deployment credentials" but "FTP/Credentials".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dcf9b-e64a-922b-6108-bd1152a758f0
* Version Independent ID: 58247335-c4e9-705b-297d-97637b872c02
* Content: [Configure d

[2019-07-03 20:50] brettcannon commented on #34493
![image](https://user-images.githubusercontent.com/54418/60624214-8e08a880-9d99-11e9-920f-a64e73d39d34.png)

[2019-07-03 20:56] ajhstn commented on #27590
- If I buy Azure Monitor does that include Log analytics?
- If I install a MMA/OMS agent onto a non-azure VM is that Azure Monitor or LA
- I want to send on-prem SQL application logs to Azure, is this LA or Azure Monitor
- I want a central "thing" to put all of my machine data, for on and off Azure machines, for the purpose of monitoring, querying, searching, alerting.  Is this MMA agents to LA wo

[2019-07-03 20:57] ckssaas commented on #34423
@MicrosoftGuyJFlo My interpretation is that all Azure AD users come inherently with the "Self-Service Password Change for cloud users" feature hydrated.

What additional benefits would be gained if I applied an Azure AD Basic license to a user to hydrate the "Self-Service Password Reset for cloud users" feature?  I cannot find documentation to explain the difference between "Change for cloud users

[2019-07-03 21:01] AjayKumar-MSFT commented on #33842
aasis21, Thanks for following-up on this with additional details, I'm checking on this further and will get back to you soon.

[2019-07-03 21:07] jmoralesv commented on #28060
I have the same question, however the documentation hasn't been updated since @gcormier  posted his question. I think the documentation should state that explicitly.

[2019-07-03 21:07] ROSMITHJ-MSFT opened #34496 "Screenshot of Step 4 of Create an Office 365 application in Azure Active Directory is out of date"
Howdy!

As mentioned above, the step four screenshot for Create an Office 365 application in Azure Active Directory is out of date.

Many thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06524f5f-beb1-de55-b30b-8dcc0513191a
* Version Independent ID: 730c62fb-ea4d-ed73-af86-ca8d5a959ff7
* Content: [Office 365 mana

[2019-07-03 21:11] YutongTie-MSFT commented on #34129
@AleksCallebat Hi, I assigned this issue to doc author for more clarification of run.register_model(). Thank you.

[2019-07-03 21:14] YutongTie-MSFT commented on #34135
@aashishb  Hi, could you please take a look? Seems the error message can not help customer to troubleshooting. Thank you.

[2019-07-03 21:17] YutongTie-MSFT commented on #34150
@sanpil Hi, could you please help to take a look of this issue? Thank you.

[2019-07-03 21:21] shrey-agarwal commented on #34157
@Mike-Ubezzi-MSFT This is the exact same query I tried and put in my question initially. This query works when the container is empty. It doesn't work when there is data in the container. "Non-empty table error"

As for Scala, I will have to try moving my code logic and all the processing to Scala. This could take some time. I would have preferred Python solution. Were you able to replicate the bu

[2019-07-03 21:28] MarileeTurscak-MSFT commented on #34479
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-03 21:29] MarileeTurscak-MSFT commented on #34487
@Sang-ShinLEE
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-03 21:30] xurui203 commented on #32609
Hi! Your event consumers can re-read your event hub data as long as it is within the retention period. It is not a queue where events are removed once read, your data will only be expired at the end of the retention period.

[2019-07-03 21:44] jluk commented on #34295
This is correct, if a cluster using multiple node pools is being updated it will require the nodepool module. However, if it is a cluster without multiple node pools registered the existing command should still work.

We should add a second set of commands and explain the situation in which to use each.

[2019-07-03 21:45] axisc commented on #32635
@lucasmaj

the messages with future enqueue time will have to be drained and replayed on the premium namespace like any other message.

#please-close

[2019-07-03 21:45] #32635 closed

[2019-07-03 21:56] ryancrawcour commented on #34354
I have 2 JDKs installed. OpenJDK Platform 11 and Azul Zulu 11. My path is set to OpenJDK runtime.

[2019-07-03 21:56] nkiest commented on #15578
This information is covered by https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-alerts, which is linked off of the page, and is part of action groups, as mentioned on this page. If you would like enhancements to those pages, please open an issue there.
#close

[2019-07-03 21:58] nkiest commented on #26721
@vinapp Storage diagnostic settings are not yet in public preview, so we have no examples to share at this time.

[2019-07-03 22:01] kgremban commented on #34227
@AshokPeddakotla-MSFT your answer doesn't necessarily address the original question. @dvescovi1 Yes, that statement is only in regards to the Azure Machine Learning module, not IoT Edge in general. I don't know what in particular prevents the Azure Machine Learning modules from working in Windows containers or Linux ARM32 devices, but those two statements are still true.

[2019-07-03 22:03] MarileeTurscak-MSFT commented on #34492
@tseward
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-03 22:05] vladvino commented on #34356
I updated the sample. #please-close

[2019-07-03 22:05] #34356 closed

[2019-07-03 22:05] kgremban commented on #34247
@fhe-fr Can you clarify what you mean by "directly from Edge"? Do you just mean from somewhere other than an IoT Edge module? If so, then yes. The Custom Vision classifier module is just a containerized server that can receive HTTP requests. The cameraCapture module simply makes requests against the server, and you could do that with any application.

[2019-07-03 22:08] MarileeTurscak-MSFT commented on #34492
@tseward Are you referring to the Powershell block? The screenshot seems to show these as matching. Or do you just want this to be documented explicitly?

@msmimart

[2019-07-03 22:13] tseward commented on #34492
@MarileeTurscak-MSFT The article refers to using different URLs internally and externally. This should be re-written to show a single custom URL (e.x. https://sharepoint.contoso.com).

[2019-07-03 22:15] axisc commented on #11789
The new library should resolve this.
Also, Premium does not support partitioned entities anymore.

#please-close

[2019-07-03 22:15] #11789 closed

[2019-07-03 22:21] axisc commented on #12270
@StefDotmailer  apologies for the delayed response, but not sure I fully follow the question.

It will rely on what your use-case is, but frankly it's a balance between concurrency and thread safety.
 * Total concurrency prefers idempotent consumers/handlers of the message operating in their own address space.
 * If thread safety is important, then full concurrency cannot be achieved.

[2019-07-03 22:21] axisc commented on #12270
#please-close

[2019-07-03 22:21] #12270 closed

[2019-07-03 22:25] axisc commented on #13811
we're revamping the customer facing documentation around server errors.

Broadly speaking, it implies cases where the server was not able to successfully acknowledge the message.
This however **does not imply** that Service bus has lost the message.

If the server was not able to ack and process the message, the client SDK will automatically trigger a retry.

Hence, most server errors require no c

[2019-07-03 22:25] #13811 closed

[2019-07-03 22:33] MarileeTurscak-MSFT commented on #34487
Hi @Sang-ShinLEE ,

Sorry you are having this issue. Can you give me any more details about your setup and let me know what happens when you try to use it? Please note that this feature only works for MFA Server and not Azure MFA (in cloud).

[2019-07-03 22:36] mike-urnun-msft commented on #34476
Hi @krishnacdunuka Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:38] mike-urnun-msft commented on #34480
Hi @denhsu Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:39] mcoy001 commented on #32988
Hi, I found that placing prefab instead of spawn 3d sphere directly can bypass the issue, here's the change I made:

1. Create a sphere prefab(can be done by creating a 3d sphere in hierarchy and drag it to asset folder, then remove it from hierarchy)
2. add a public game object in AzureSpatialAnchorsScript.cs:
    public GameObject target_object;  // use prefab instead of create primitive object

[2019-07-03 22:40] rimman commented on #34476
yes, it's a typo. Thank you. we will fix it.
#please-close

[2019-07-03 22:40] #34476 closed

[2019-07-03 22:43] mike-urnun-msft commented on #34481
Hi @ryanmajidi Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:44] pdeveau opened #34502 "Inconsistent Error Messaging Styles"
I might be doing something wrong, but I have multiple copy tasks guarded by an if such that I have an expression like

[code]

This works great, until something like a timeout happens, which has no output, so my dynamic expression fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf7

[2019-07-03 22:45] mike-urnun-msft commented on #34483
Hi @mikhailgithub Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:49] mike-urnun-msft commented on #34486
Hi @natelaff Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:53] mike-urnun-msft commented on #34488
Hi @vinapp Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:57] mike-urnun-msft commented on #34489
Hi @ChaitanyaKandala Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 22:59] mike-urnun-msft commented on #34490
Hi @hansthen Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

cc: @CeciAc

[2019-07-03 23:05] mike-urnun-msft commented on #34493
Hi @brettcannon Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-03 23:08] brikeler opened #34504 "Resource Provider Microsoft.Insights must be registered"
In order to configure the Activity Log to utilize an Event Hub, the Microsoft.Insights resource provider must be registered.  If not, an error will occur that states that "Create or update activity log profilesFailure".  There will also be an error in the activity log stating that the Microsoft.Insights resource provider needs to be registered.

---
#### Document Details

⚠ *Do not edit this secti

[2019-07-03 23:13] brikeler opened #34505 "Resource Provider Microsoft.Insights must be registered for using Event Hub"
In order to configure the Activity Log to utilize an Event Hub, the Microsoft.Insights resource provider must be registered. If not, an error will occur that states that "Create or update activity log profilesFailure". There will also be an error in the activity log stating that the Microsoft.Insights resource provider needs to be registered.

---
#### Document Details

⚠ *Do not edit this section

[2019-07-03 23:14] brikeler commented on #34504
Disregard - submitted to wrong page.  Submitted correctly here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-export#feedback

[2019-07-03 23:16] mike-urnun-msft commented on #34496
Hi @rosmithj - Thank you for your feedback! We will review and update as appropriate.

[2019-07-03 23:22] terrymandin commented on #33609
I tried this again and the issue has been resolved.

[2019-07-03 23:23] mike-urnun-msft commented on #30062
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-03 23:23] #30062 closed

[2019-07-03 23:25] dcbrown16 commented on #34428
@VikasPullagura-MSFT @cynthn yes thanks for the response. It sounds like this is not seen as significant enough to add to the doc so I'll close.

[2019-07-03 23:25] #34428 closed

[2019-07-03 23:26] dcbrown16 commented on #34353
I hear internally that Premium Files is an option for SQL clustering but is still being tested, so maybe it will take some time before we have an official recommendation for the document.

[2019-07-03 23:31] MGoedtel commented on #34408
@PeterRockstars - Yes, your interpretation is correct.  You should include "enableRBAC:true" to the template.  Hope that helps.  #please-close

[2019-07-03 23:31] #34408 closed

[2019-07-03 23:36] MGoedtel commented on #32038
I've confirmed that we support kernel version 18.04 and the doc was updated earlier this week to reflect this. Thanks.

[2019-07-03 23:52] ealsur commented on #34153
Let's say you deploy your Cosmos DB Trigger and it starts with 1 instance. A single instance will try to consume all Partition Key Ranges in parallel, one thread per Partition Key Range (see https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor), so they are effectively being processed in parallel.
If more instances come, then the Trigger will start to distribute the PK Ranges acr

[2019-07-03 23:54] cynthn commented on #28060
@jmoralesv and @MicahMcKittrick-MSFT It's been awhile since I wrote this doc, so I verified that you can move the VM between groups while the VM is still working (created a VM, RDP'd to it, started a video, then went into the portal and moved it between resource groups and it didn't lose connection and the video was still playing). I'll add a note to the docs. Thanks!

[2019-07-04 00:23] DieselAnalytics opened #34506 "Confused"
I am more confused after reading this article. I am trying to understand the "The selected resource group is read only" warning I get when I try to use an existing resource group I have for ADF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc7050b4-1877-2cee-d1a9-6eb3a3f39d2c
* Version Independent ID: 07cfb5e4-24f3-2

[2019-07-04 00:29] woutervanranst opened #34507 "VNet Peering Encryption"
Can you clarify whether traffic in transit over a vnet peer (regional or global) is encrypted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8066fdea-f105-28f0-9402-c694b759e71e
* Version Independent ID: 507bd0bc-3ae2-9a06-7d16-fe6ec5b40c7d
* Content: [Protection of customer data in Azure](https://docs.microsoft.com/e

[2019-07-04 00:32] tfitzmac commented on #34506
@DieselAnalytics - by "ADF" are you referring to Azure Data Factory?

[2019-07-04 00:45] cynthn commented on #28060
#please-close I also changed the "Get" to use a wrapping list output instead of table, since the resource IDs are so long :)

[2019-07-04 00:45] #28060 closed

[2019-07-04 00:51] roymeforever commented on #34244
I managed to get the 401, using the url, not in_cluster_url. However, I'm not able to get the 401 go away though. Kiali pod was deleted after update of the configmap and was recreated.
auth:
  type: "basic"
  username: "grafana"
  password: "xxxxxxxx"

[2019-07-04 01:05] lingtham opened #34509 "filesystem ext4 does not belong to the set \r\n\"FAT,FAT32,exFAT,NTFS,ReFS\"
Hi,

I am using Azure Kubernetes Services with Windows Server containers (in Preview - version 1.14.0). I am following this [doc to create an AzureDisk to attach to a pod](https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume).

The problem I'm having is that when I try to deploy my app, I get a MountVolume failed error:
MountVolume.MountDevice failed for volume "reducer1win" : azureDisk -

[2019-07-04 01:06] KeiroKamioka0000 opened #34510 "Please consider to add how to disable it manually"
From the document, I know I can disable the auto creation manually.

Please consider to add 'how to disable' network watcher to the document please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66aa627-50af-2e6f-2151-b24105e4032b
* Version Independent ID: e7318342-f307-28c7-39cd-759a9d8e7368
* Content: [Create an Az

[2019-07-04 01:19] lingtham opened #34511 "detach command failed with an unexpected error, TypeError: NoneType object is not iterable"
Hi,

I am using Azure Kubernetes Services(AKS) with Windows Server containers (in Preview - version 1.14.0). I am following this [doc](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-use-disks-cli#detach-a-disk) to try and detach my standard SSD AzureDisks from my windows nopepools which run on virtual machine scale sets.

I run the cmd `az vmss disk detach --resource-gr

[2019-07-04 01:20] forester123 commented on #34430
@AshokPeddakotla-MSFT Thanks! I know how to retrieve this. My question is how to use this string when configuring ASA with IoT Hub input, I suppose here I need to choose the **Provide IoT Hub settings manually**, then how should I fill these with the connection string?

![image](https://user-images.githubusercontent.com/13616574/60633363-e349c600-9e3c-11e9-94a0-f5d23fbb68f5.png)

[2019-07-04 01:24] dcbrown16 opened #34512 "Commands to renew certificate"
Many businesses would prefer to detect upcoming certificate expirations and renew automatically, rather than go into the Portal for renewal. What PowerShell commands would renew the certificate for your RunAs account, so you can automate that (using Automation itself)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e

[2019-07-04 01:27] jakemarston commented on #33170
@anhowe Do you have any more information on this? I'm trying to configure it right now for a single VM and can't get any email alerts to be generated.

[2019-07-04 02:03] mike-urnun-msft commented on #34502
Hi @pdeveau Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 02:07] #34504 closed

[2019-07-04 02:09] mike-urnun-msft commented on #34505
Hi @brikeler - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 02:20] chenshunshou opened #34513 "The "Location" Filed Is Not Updated as Introduced"
I followed the instruction here to setup the Application Gateway and the DNS record, the Domain the Cookie did change to the custom domain name, instead of the domain of Web App. However, the Location filed in the response didn't change to the custom domain.

After investigation, I found it was due to the coding of the redirection in the Web App that full URL (http://xxxxx.azurewebsite.net) was co

[2019-07-04 02:37] mike-urnun-msft commented on #34507
Hi @woutervanranst - Per an [FAQ item](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#is-vnet-peering-traffic-encrypted):

[2019-07-04 02:41] mike-urnun-msft commented on #34509
Hi @lingtham - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 02:42] mike-urnun-msft commented on #34510
Hi @KeiroKamioka0000 - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-04 02:45] dcbrown16 commented on #25685
@MarileeTurscak-MSFT @neeleshray
No information about subdomains was added to the document - can you please reopen and reconfirm?
This support article seems to suggest you can use subdomains if you register the subdomain first.
https://support.microsoft.com/en-us/help/3070341/how-to-manage-subdomains-and-parent-domains-in-different-organizations

[2019-07-04 03:09] ivasilyev-servicetitan-com opened #34514 "Part of the document about peering 2 VNets from different Azure Active Directory tenants is outdated."
`If the virtual networks that you want to peer are in subscriptions that are associated to different Azure Active Directory tenants, follow steps in the CLI and PowerShell section of this article. Portal does not have support to peer virtual networks belonging to subscriptions from different Active Directory Tenants.`
This is not true anymore. Portal UI allows to peer 2 VNets from different Azure

[2019-07-04 03:10] mike-urnun-msft commented on #34211
Hi @clisc - Thanks again for your feedback! The prerequisite section does state the below:

and links to [documentation](https://docs.microsoft.com/en-us/powershell/azure/install-Az-ps?view=azps-2.4.0) that requires the running of `Install-Module -Name Az -AllowClobber` command.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen i

[2019-07-04 03:10] #34211 closed

[2019-07-04 03:13] dcaddick commented on #26064
Is this still the case? We would think that so long as you are Authenticating via Azure then CA would kick in?

[2019-07-04 03:19] mike-urnun-msft commented on #34162
@jcanose81 Python Functions run on [Python virtual environment](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#create-and-activate-a-virtual-environment) - based on the screenshot that you have provided, it doesn't look like you have activated one.

[2019-07-04 03:24] DixitArora-MSFT commented on #34511
Hi @lingtham Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 03:25] DixitArora-MSFT commented on #34512
Hi @dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 03:30] KalyanChanumolu-MSFT commented on #34486
This is being assigned to the content author to evaluate and update as appropriate. 

[2019-07-04 03:48] DixitArora-MSFT commented on #34513
Hi @chenshunshou Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 03:49] DixitArora-MSFT commented on #34514
Hi @ivasilyev-servicetitan-com Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 03:52] DixitArora-MSFT commented on #34254
@rswetnam Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-04 03:52] #34254 closed

[2019-07-04 03:55] DixitArora-MSFT commented on #34282
@salviri Just following up again in case missed the previous communication. Could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-04 04:11] ivasilyev-servicetitan-com opened #34515 "Can't set up peering to classic VNet in different subscr using Portal UI"
https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-deployment-models-subscriptions#portal
Having done the steps written within the section with the URL above have the trouble - "OK" button is disabled in Portal UI and I can't set up peering to remote classic VNet.
AzureCLI, however, makes the configuration successfully.

---
#### Document Details

⚠ *Do not edit this s

[2019-07-04 04:22] ivasilyev-servicetitan-com commented on #27121
@SubhashVasarapu-MSFT You're saying about "assigning respective RBAC roles to them", but you are not saying how to see AppId from tenant#2 in AAD of tenant#1 (to grant permissions for AppId#2 to do smth in tenant#1). That looks most tricky. The only way I found is [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/share-images-across-tenants#give-tenant-2-access). But to make t

[2019-07-04 04:29] mike-urnun-msft commented on #34158
@clisc It looks like the name you've picked for namespace wasn't available, hence:

Warnings seem irrelevant and refer to output contract of `New-AzServiceBusNamespace` cmdlet and it works for me as expected:
![image](https://user-images.githubusercontent.com/36717703/60639747-c54a7a00-9dd8-11e9-88f7-2d780028c100.png)

[2019-07-04 04:29] ivasilyev-servicetitan-com commented on #22099
I was able to set up peering using AzureCLi and user authentication.
However if trying ServicePrincipal authentication it doesn't work and returns an error

What's the reason for this?
I can see AppId#1 in AAD of tenant#2.
The only difference I can see is that User is added as a guest in other AAD, however ServicePrincipal can't be added as a guest, but it can be seen as Enterprise Application in

[2019-07-04 04:43] DixitArora-MSFT commented on #34466
@leus I have created the [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/81396) for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen t

[2019-07-04 04:43] #34466 closed

[2019-07-04 04:43] coljac commented on #32711
I can confirm this is still an issue, and the workaround suggested by @kemichi works.

[2019-07-04 04:46] nssidhu opened #34516 "Clean data in column"
Is there a Sample on How to Clean all String column to remove special characters like , \n etc ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84a9bf80-52b7-1c0c-74aa-1d624b65ccf2
* Version Independent ID: bcbecc73-1cbd-0621-4bf4-6b4f21cb6595
* Content: [Clean and prepare data for Azure Machine Learning - Team Data Sc

[2019-07-04 05:07] SnehaAgrawal-MSFT commented on #34365
@benhatton-unsw-edu-au Thanks again for asking question! As it is mentioned in the [Doc](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities) “Using a managed identity, you can authenticate to any service that supports Azure AD authentication without having credentials in your code. We are in the process of integrating mana

[2019-07-04 05:12] PramodValavala-MSFT commented on #34110
@strakh-alex Hope my comment earlier helps.

Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-04 05:12] #34110 closed

[2019-07-04 05:13] RohitMungi-MSFT commented on #34481
@ryanmajidi Thanks for pointing out the issue in our documentation.
@IEvangelist It looks like the document needs an update to fix the broken link to container recipe. Could you please take a look at it and update the document as necessary?

[2019-07-04 05:17] mike-urnun-msft commented on #34207
@lokijota This could likely have been an issue between your subscription type & region you're attempting to deploy to, i.e.: [this SO post](https://stackoverflow.com/questions/53790218/error-scale-operation-is-not-allowed-for-this-subscription-in-this-region-when). If you're still encountering this issue, please consider opening a support case and we'd be happy to help.

Note: If your subscription

[2019-07-04 05:17] #34207 closed

[2019-07-04 05:25] michaelhambe opened #34517 "Update to Azure Data Factory Event (blob) Based Trigger breaks existing pipeline"
Hi,

According to the documentation, an event trigger needs:
-an Azure Subscription
-a Storage Account Name
-either a blob starts with or blob ends with
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger#

Using these parameters, I have successfully created the pipeline I need, In that the pipeline looks for files dropped into any container of the storage account.

How

[2019-07-04 05:25] angoyal-msft commented on #34450
@takekazuomi As explained in the document. "Explain" keyword is used to convert the SQL to Kusto query language.

Kusto supports translating T-SQL queries to Kusto query language. This can be used, for example, by people familiar with SQL who want to understand the Kusto query language better. To get back the equivalent Kusto query language to some T-SQL SELECT statement, simply add EXPLAIN before

[2019-07-04 05:28] michaelhambe commented on #34517
<img width="460" alt="Capture" src="https://user-images.githubusercontent.com/44654994/60641714-4f91ed00-9e70-11e9-84fd-fc79f9bb22ae.PNG">

[2019-07-04 05:31] SnehaAgrawal-MSFT commented on #34364
@cult-x Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate. @rajcheval Thanks for asking question! Request you to open new issue so that we can track the progress on it. Thanks for your understanding.

[2019-07-04 05:36] jakaruna-MSFT commented on #34470
@andybouts Just tried out. Its possible with ARM template.
[code]
I didnt find the way to create in Azure cli. I will check with the team and let you know.

In cli also we can execute this template by passing the correct parameters.  But we need to maintain this template file.

[2019-07-04 05:39] mcurko commented on #34373
Yes, thank you.

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[logo]

From: Cynthia Nottingham <notifications@github.com>
Sent: Wednesday, July 3, 2019 5:14 PM
To: MicrosoftDocs/az

[2019-07-04 05:40] SubhashVasarapu-MSFT commented on #34515
@ivasilyev-servicetitan-com, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-04 05:42] lettucebo opened #34519 "Copy-managed-disks-vhd-to-storage-account file size 0 byte"
When I follow the instruction of [`copy-managed-disks-vhd-to-storage-account.ps1`](https://github.com/Azure/azure-docs-powershell-samples/blob/master/virtual-machine/copy-managed-disks-vhd-to-storage-account/copy-managed-disks-vhd-to-storage-account.ps1)

I use `Start-AzStorageBlobCopy` to copy and every vhd using this method have 0 byte

![image](https://user-images.githubusercontent.com/891383/6

[2019-07-04 05:45] SadiqhAhmed-MSFT commented on #34070
@dcbrown16 The [pre-defined roles](https://docs.microsoft.com/en-us/azure/backup/backup-rbac-rs-vault#mapping-backup-built-in-roles-to-backup-management-actions) required for restore state that the contributor role is required for the RG in which target(VM/managed disk) lies. You don’t require separate access for restore point collection RG.

We will now proceed to close this thread. If there are

[2019-07-04 05:45] #34070 closed

[2019-07-04 05:46] RohitMungi-MSFT commented on #34516
@nssidhu If you are using Azure Machine Learning Studio you can use the module [apply-sql-transformation](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/apply-sql-transformation) to write SQL queries where junk/ascii data can be replaced using REPLACE

A simple example for this sample data i uploaded as dataset in studio:

Junk_Data | Junk_Values
-- | --
Roh!T | ,M

[2019-07-04 05:48] ram-msft commented on #34300
@jpe316 Could you please point to the deploymentconfig.json to deploy model to ACI. I could see deploymentconfig.json in the document to Deploy Model to AKS in the following link (https://docs.microsoft.com/en-us/azure/machine-learning/service/reference-azure-machine-learning-cli).

[2019-07-04 05:50] RohitMungi-MSFT commented on #34366
@SamuelMCQ Thanks for reporting again. I think this could be an issue with Azure notebooks that needs to be reported. Could you please raise an issue at the following [repo ](https://github.com/microsoft/AzureNotebooks/issues) of AzureNotebooks so the product team can address it accordingly?

[2019-07-04 05:57] kazshi commented on #34277
@SumanthMarigowda-MSFT I found the following links and looks like AD is not supported yet (still working?), and only AAD as Preview now. Please correct me if I'm wrong.  Thanks.

Use an Azure file share with Windows | Microsoft Docs
https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows#using-an-azure-file-share-with-windows
ACL's for AzureFiles – Customer Feedback f

[2019-07-04 05:58] jakaruna-MSFT commented on #34455
@Sethu2488 Yes.
While creating a availability set, You can provide the number of fault and update domains.
 Then the VM's which are added to that availability sets will be spread evenly across the fault domains.
Lets say you have 10 vms in that availability set, and you have selected 3 as the fault domain count.
Each fault domain will have 3 VM's minimum and the extra VM will be places on any one

[2019-07-04 06:00] xiaoharper commented on #33596
Hi @philippschaefer4 , you could possibly try following API https://docs.microsoft.com/en-us/rest/api/machinelearning/webservices/createorupdate

[2019-07-04 06:04] mike-urnun-msft commented on #34214
@iLikeAzureSQL I'm able to reproduce the same, and it seems that ARM template needs an update. While we look to fix the sample, here's the blog post on the solution that you can follow:
- [Azure Event Grid Viewer with ASP.NET Core and SignalR](https://madeofstrings.com/2018/03/14/azure-event-grid-viewer-with-asp-net-core-and-signalr/)

[2019-07-04 06:05] DixitArora-MSFT commented on #34354
@ryancrawcour The issue appears to be Java Specific. It would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) which is been looked by Azure Function Product team for any such issues.

[2019-07-04 06:07] dave-read opened #34520 "The content should include/acknowledge cases where the AKS cluster is being created in an existing VNET (i.e. where networking infrastructure including static public IP is already in place)."
I think there are a few point of potential confusion in this section in cases where networking infrastructure is already in place and the AKS cluster is being installed into an existing VNET where firewalls and UDRs are already in place to route traffic to an on-prem firewall, or to a firewall in a peered (hub) VNET.  In those cases the source IP for the cluster is already known and there’s no nee

[2019-07-04 06:08] johnthcall opened #34521 "Data disk mounting doesn't behave well with automatic OS image upgrades"
With automatic OS image upgrades when the OS image is refreshed the data drives will be rediscovered by the new OS and not necessarily mount to the same drive letters as provided in the original powershell script.

This can cause any code depending on certain drive letters to fail. Can there be some warning here that this script may have compatibility issues with automatic OS image upgrades?

---

[2019-07-04 06:18] CHEEKATLAPRADEEP-MSFT commented on #34489
@ChaitanyaKandala UInfortunately, you cannot use the SAS key instead of the storage account name and key.
Reason: "EventProcessorHost" class expects "storageConnectionString" variable in the format shown in the example.

[2019-07-04 06:19] ericcwk opened #34523 "Considering MFA on cloud with Linux login is still under preview, what is the suggested options to do MFA on IaaS Linux ?"
Considering MFA on cloud with Linux login is still under preview, what is the suggested options to do MFA on IaaS Linux ? What is the best options to work with IaaS Linux with MFA on Azure ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-

[2019-07-04 06:21] ericcwk commented on #34523
Noticed that MS not support new MFA server deployment  after 1/7.
And on the other way, the MFA Cloud on Linux server is still under preview.

So what is the best options to work with IaaS Linux with MFA on Azure ?

[2019-07-04 06:40] ChiragMishra-MSFT commented on #34502
@pdeveau Please use the following expression @{activity('Copy CsvData1').output.errors} for getting errors.

You have rightly pointed out that when there is a timeout or something similar that fails the activity without an output, the output object does not contain errors.

We have received this as a product feedback some time back. Please feel free to upvote and follow this [feedback post](https:

[2019-07-04 06:51] DixitArora-MSFT commented on #34464
@tiny-dancer Just checking if you have gone through these links and see if it helps.

https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url

https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

[2019-07-04 06:58] DixitArora-MSFT commented on #34453
@boltlol Azure Logic Apps meters all successful and unsuccessful actions as executions. However, Logic Apps doesn't meter these actions:

- Actions that get skipped due to unmet conditions
- Actions that don't run because the logic app stopped before finishing

For more details , follow the doc.
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-pricing#actions

[2019-07-04 07:00] strakh-alex commented on #34110
Thank you it was helpful.

Sorry for a long answer.

[2019-07-04 07:03] DixitArora-MSFT commented on #34437
@miaojiang Any inputs in this ?

[2019-07-04 07:03] mike-urnun-msft commented on #34124
Hey @stepanbenes - Thanks again for reporting this! I've created a PR that replaces `Pending` with `Completed` in `host.json` example. Once the PR is merged, the change should reflect within the next 24hrs. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-04 07:03] #34124 closed

[2019-07-04 07:10] wahyuen opened #34530 "DetectionModel in current SDK"
I'm currently using what I believe is the latest SDK version (2.4.0-preview) for the Face API and I don't believe this currently has any of the above changes for the new detection model endpoints?

Do we have to wait until the next release of the SDK? and if so do we have a possible timeline of when this might be?
![image](https://user-images.githubusercontent.com/4549796/60646467-017bea00-9e6e-11

[2019-07-04 07:12] Karishma-Tiwari-MSFT commented on #34303
@andybouts Thank you for providing the feedback. Currently, it is supported for the linux distros mentioned in the document. I will share once I have an update on the upcoming supported distros.
We will close this issue for now. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-07-04 07:12] #34303 closed

[2019-07-04 07:16] lightupdifire opened #34531 "Testing steps"
Hello,
We used MMA to deploy to Windows 10 Azure AD joined devices only,
The production Workspace used with pricing tier option as "Per GB 2018",
The test Workspace used with pricing tier option as "Free",
Both solutions worked fine and logs delivered from Windows 10 devices over the public internet,
But "Azure Advisory" shows message that we should onboard those devices into Azure Security Center

[2019-07-04 07:29] Karishma-Tiwari-MSFT commented on #34295
@jluk Thanks for your response. :)
Please let me know who should I assign this issue for doc-enhancement. Is Iain the right person or it needs to be assigned to you? Thanks.

[2019-07-04 07:47] SnehaAgrawal-MSFT commented on #34379
@generalwig Thanks again for asking question! As mentioned in the doc after browsing the app it might take some time to start as container needs to be downloaded when app is requested for the first time. You can try refreshing the page. You can also try using SSH or the Kudu console to connect directly to the App Service and then verify that your files exist under site/wwwroot in case your files d

[2019-07-04 07:58] AshokPeddakotla-MSFT commented on #34398
@viv-liu Please check this and update the document as appropriate.

[2019-07-04 08:07] VikasPullagura-MSFT commented on #34520
@dave-read Thanks for your feedback. I am assigning the issue to the author for document enhancement.

[2019-07-04 08:07] stan-sz commented on #17715
For further reference: https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/2017-09-01/roleassignments which links to https://docs.microsoft.com/en-us/azure/azure-resource-manager/deploy-to-subscription#assign-role-at-scope:

[2019-07-04 08:09] VikasPullagura-MSFT commented on #34520
@iainfoulds Can you please add your comments on the document enhancement.

[2019-07-04 08:27] DixitArora-MSFT commented on #34517
@michaelhambe Thanks for reaching out. We will review and provide an update as appropriate.

[2019-07-04 08:29] DixitArora-MSFT commented on #34519
@lettucebo Thanks for reaching out. We will review and provide an update as appropriate.

[2019-07-04 08:30] DixitArora-MSFT commented on #34521
@johnthcall Thanks for reaching out. We will review and provide an update as appropriate.

[2019-07-04 08:32] DixitArora-MSFT commented on #34523
@ericcwk Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-04 08:39] Ayanmullick opened #34532 "PowerShell Steps for ML Anomaly Detection"
Will the 'Invoke-MLAnomalyapi', as shown in the below video, be added to the Az.MachineLearning module in future?

https://www.youtube.com/embed/1EVHChiqZOw?start=1399&end=1443

[![PS AI automation](https://img.youtube.com/vi/1EVHChiqZOw/0.jpg)](https://www.youtube.com/embed/1EVHChiqZOw?start=1399&end=1443)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-07-04 08:47] #34502 closed

[2019-07-04 08:48] ram-msft commented on #34098
@ignacioPastor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-04 08:48] #34098 closed

[2019-07-04 08:49] ram-msft commented on #34532
@Ayanmullick Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-04 08:51] ram-msft commented on #34530
@wahyuen Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-04 08:56] ChiragMishra-MSFT commented on #34517
@michaelhambe Yes, you have correctly identified that the container name is now a mandatory field. Unfortunately it cannot be made optional.

I am assigning the issue to the content owner to take a look and update the doc as appropriate.

@djpmsft Can you please have a look at this ?

[2019-07-04 09:01] michaelhambe commented on #34517
Hi,

Can you please explain why you broke the existing functionality? And why it cannot be made optional or accept a wild card?

My pipeline worked without issue until this latest change.

Thanks

Mike

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Thursday, July 4, 2019 6:57:13 PM
To: MicrosoftDocs/azure-docs
C

[2019-07-04 09:04] ChiragMishra-MSFT commented on #34517
@michaelhambe Sorry to hear that your existing functionality broke.
Please wait for the content owner to comment on this with more information.

[2019-07-04 09:05] gionapaolini opened #34534 "Gpu Sharing on Azure Kubernetes"
Although there is currently no official support on k8s to share GPU resources among pods, there is an open source solution (https://github.com/AliyunContainerService/gpushare-scheduler-extender). The problem is that in order to apply the solution there is the need of direct access to the master node, and from what I understood the master node is controlled entirely by Azure.

So my question is: is

[2019-07-04 09:08] ArthurEzenwanne commented on #26710
Hi. Working through this tutorial I encountered the error reference here and the recommended solution which is great.
However, I feel *__we should add a note, in the docs that app names (in the context of this tutorial) does not accept '_'.__*
Note that the standard Python naming convention is using '_' as C# uses 'CamelCasing'. Let's not ask Python programmers to intuitively write their app names

[2019-07-04 09:10] KetanChawda-MSFT commented on #34220
@GermanEZI This seems most likely the restriction from the Graph Extension. I would recommend you to create a issue on the [Microsoft Graph extension for Azure Functions](https://github.com/Azure/azure-functions-microsoftgraph-extension/issues). Once you post your issue on repo, it will have visibility across the product owners which is a better suited audience for such types of issues.

Since the

[2019-07-04 09:10] #34220 closed

[2019-07-04 09:10] ArthurEzenwanne opened #34535 "Update '_' Usage in App Naming"
Hi. Working through this tutorial I encountered the error reference here and the recommended solution which is great.
However, I feel *__we should add a note, in the docs that app names (in the context of this tutorial) does not accept '_'.__*
Note that the standard Python naming convention is using '_' as C# uses 'CamelCasing'. Let's not ask Python programmers to intuitively write their app names

[2019-07-04 09:11] ChiragMishra-MSFT commented on #27712
@djpmsft Can you please have a look at this one ?

[2019-07-04 09:16] michaelhambe commented on #34517
Thanks Chirac

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Thursday, July 4, 2019 19:04
To: MicrosoftDocs/azure-docs
Cc: Michael Hambe; Mention
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Update to Azure Data Factory Event (blob) Based Trigger breaks existing pipeline (#34517)

@michaelhambe<https://git

[2019-07-04 09:21] hope4555 opened #34536 "just select the Selected Networks radio button without configure other settings?"
For us, everything continues working, we would expect that traffic will be blocked :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf2bf817-0d62-7bb2-7ebc-f321b758a288
* Version Independent ID: 565282c1-e497-4a02-674b-ee93d6e7cc8e
* Content: [Tutorial - Enable Virtual Networks Integration and Firewalls on Event Hubs]

[2019-07-04 09:23] VikasPullagura-MSFT commented on #34511
@lingtham VMSS is automatically created and managed by AKS. If you want to delete the volume then do it through kubectl.
It is not recommended to change the settings of VMSS which is attached to AKS.

Yes, Azure disk will detach and attach to the new pod automatically. Azure disks are RWO(disk can be attached to only one POD at a time), so you need to have [deployment strategy](https://kubernetes.

[2019-07-04 09:32] CreaterNo1 opened #34537 "List of Sites using different names than Azure"
List of Sites using different names than Azure.
When we have tried to connect, our server was in Central US, but it is not in the list above. So we moved to a different one, however, the West Central US would have been the best, but there is no Data Center like that on the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-07-04 09:43] rootn9633 opened #34538 "Inconsistency of instruction text and picture"
During the process of following the steps given, I found an error where the steps depicted in the picture doesn’t match with that of the instruction.
As shown in the image below, the text(1) says to select Start Monitoring Built-in Event Endpoint whereas in the picture(2) it says to select Start Monitoring D2C Message.
![error image](
https://imgur.com/iTz3xPf.jpg)
I found that this inconsistency

[2019-07-04 09:43] DixitArora-MSFT commented on #34531
HI @lightupdifire Thanks for reaching out. We will review and provide an update as appropriate.

[2019-07-04 09:56] sandeepmaurya opened #34539 "Please provide a DI sample for Java functions."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-inject

[2019-07-04 10:01] lrandall-gillsch commented on #27331
We have a Office 365 A1 subscription, which includes Azure AD for Office 365 and it seems we can use group-based licensing! So it appears the documentation needs more clarity.

[2019-07-04 10:02] Chielus commented on #30487
client_assertion or client_secret are 2 different flows. you need to configure your App Registration as a public client in order to support ROPC. This is probably the reason why you receive this error.

[2019-07-04 10:20] bilalawwad opened #34540 "Missing Code"
the code for cleaning all the account's live events is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3a8e309-8b1d-f6ca-4a17-8fe3d6718f03
* Version Independent ID: da172793-27f2-0c92-46e5-a3814c913492
* Content: [Stream live with Azure Media Services v3](https://docs.microsoft.com/en-us/azure/media-services/la

[2019-07-04 10:40] philparr2020 opened #34542 "Connecting to Multiple instances of ServiceNow"
Hello,

Is connecting to Multiple instances of ServiceNow supported in the app?  For example what if SSO was required for production and test ServiceNow instances (Environments) could this be confgured?

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1ffd-7129-7bb4e37b07ff
* Version Independen

[2019-07-04 10:47] kostas-rs commented on #33971
Hi @gregory-fonkatz im facing similar issue. What was the fix in the ingress config? Thanks.

[2019-07-04 11:11] feroz-ahmmed commented on #33620
@yegu-ms , the latest available version for this package is `1.0.0-preview-009000001-1251`. When I added the reference in my project, I have the following namespaces available -
- `Microsoft.FeatureManagement`
- `Microsoft.FeatureManagement.Mvc`
- `Microsoft.FeatureManagement.FeatureFilters`
I don't know why the namespace `Microsoft.FeatureManagement.AspNetCore` isn't available.

[2019-07-04 11:27] caelistic commented on #30487
@Chielus that is the treasion why I am receiving this error. Thank you! Can be closed.

[2019-07-04 11:37] jakaruna-MSFT commented on #34244
@roymeforever I disabled auth on grafana and it worked for me.
Let me try again with auth enabled.

[2019-07-04 11:38] jakaruna-MSFT commented on #34353
Thanks @dcbrown16 . I also reached out internally. Didnt get any info yet.

[2019-07-04 11:39] craigshoemaker commented on #34404
This seems like something that is a bit out of scope from Functions.

Bindings are meant to handle the plumbing code of straightforward interactions with other services. Once you move into more advanced scenarios, you're better off writing the code to connect to your storage account and handle the interaction at a lower level.

[2019-07-04 11:41] VikasPullagura-MSFT commented on #34521
@johnthcall Thanks for the feedback, I am assigning the issue to the author for updating the document as required.

[2019-07-04 11:42] VikasPullagura-MSFT commented on #34521
@roygara Can you please add your comments and update the document as required.

[2019-07-04 11:50] SnehaAgrawal-MSFT commented on #34535
@ArthurEzenwanne Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-04 11:53] gavinwilliams opened #34544 "release.json"
Attempting to import release.json in Azure Devops results in a blank page. Reloading the page presents the following error.

Something went wrong. Try importing again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c630e55a-5aa2-9afa-69f4-6d5ee7f072de
* Version Independent ID: 4a3093b6-f298-2728-bc5d-443d08386b6e
* Con

[2019-07-04 11:54] Sethu2488 commented on #34455
Thank you for the information. Just wanted to know if I add 3 VMs to an availability set and have 3 fault domains, how many VMs will be available in case of hardware failure.

[2019-07-04 11:57] VikasPullagura-MSFT commented on #34483
@mikhailgithub Can you please check if the DNS service is enabled on the Cluster.

Can you check with CLI `az sf cluster show --cluster-name <name>
                   --resource-group <rg-name>`

While creating Cluster you can enable DNS option as shown in the [document](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-dnsservice).
If DNS is not enabled, enable DNS on the Clust

[2019-07-04 12:00] sinupeter opened #34545 "No definition of facilities and how to parse syslogs"
In this page, you are not clear about what the difference facilities are when it comes to select and how we can parse/regex logs that come into syslog if they are not defined.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014e86f7-1ca2-a994-0a0e-1c191b1b0e9e
* Version Independent ID: 5fc1cdeb-70ef-b8f8-b6cf-0c23989cfb

[2019-07-04 12:14] SumanthMarigowda-MSFT commented on #34117
@igomat  Apologies for the delay response!

If you run the Invoke-StorageSyncCloudTiering cmdlet manually on a directory, files that exist in that directory that meet the minimum file size requirement will be tiered.

If files are added to the directory at a later time, they will be tiered based on the [cloud tiering heatmap. ](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-clou

[2019-07-04 12:14] #34117 closed

[2019-07-04 12:16] SumanthMarigowda-MSFT commented on #34284
@agresh07 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-04 12:16] #34284 closed

[2019-07-04 12:46] SumanthMarigowda-MSFT commented on #34357
@Dmitresky
Azure Disk Encryption helps protect and safeguard your data to meet your organizational security and compliance commitments. It uses the BitLocker feature of Windows and the DM-Crypt feature of Linux to provide volume encryption for the OS and data disks of Azure virtual machines (VMs). It is also integrated with Azure Key Vault to help you control and manage the disk encryption keys an

[2019-07-04 13:12] shashishailaj commented on #34545
@sinupeter Thank you for your feedback. We will investigate this and have this thread updated.

[2019-07-04 13:39] mrManner opened #34546 "azure_rm_aks_version should be azure_rm_aks_facts"
In the example playbook for creating an AKS cluster, there's a task using the module azure_rm_aks_version. That module doesn't exist, but azure_rm_aksversion_facts does: https://docs.ansible.com/ansible/latest/modules/azure_rm_aksversion_facts_module.html#azure-rm-aksversion-facts-module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-07-04 13:41] AjayKumar-MSFT commented on #34240
@yokawasa, Thanks for providing additional details. Just to highlight, you should execute the following for the configuration.

`az webapp config container set -n sname1 -g rgname -c <container name> -r <server url> -u <username> -p <password>`

![image](https://user-images.githubusercontent.com/44606227/60670929-7dd2f500-9e8f-11e9-8a62-be94d81dd86c.png)

I have tried the same cmds and I understan

[2019-07-04 13:42] mrManner commented on #34546
I pasted the wrong name of the correct, existing, module: It should be `azure_rm_aksversion_facts`.

https://docs.ansible.com/ansible/latest/modules/azure_rm_aksversion_facts_module.html#azure-rm-aksversion-facts-module

[2019-07-04 13:44] SubhashVasarapu-MSFT commented on #34287
@kaushik-hemant, The document was updated with the caching parameter. You can enable or disable caching here using,
[--caching {Disabled, Enabled}]
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-04 13:44] #34287 closed

[2019-07-04 13:49] sixeyed opened #34547 "Creating cluster fails with Windows password validation error - every time"
Running `az` 2.0.68 with `aks-preview` 0.4.5.

`az aks create` step fails with a validation error for the Windows admin password:

[code]

The doc say that if this happens, to try again with a new RG in a new region, but that doesn't work for  me. I've tried multiple RGs in East and West US and West Europe, using ever more complex passwords, and I get this error every time.

---
#### Document Deta

[2019-07-04 13:55] samiam236 opened #34548 "Minor Typo"
In the bulleted list at the top of this page, there's a minor typo in the sentence "Update a Kubernetes manifest files". The word "files" should be singular.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e0a294-1b8a-1711-6f80-cb9ee87730ad
* Version Independent ID: 46e6645b-48ca-fa7c-1fb9-bc3442fde1d7
* Content: [Kub

[2019-07-04 14:00] mapoitras opened #34549 "Any documentation on using --multicontainer-config-type Kube?"
This examples makes use of --multicontainer-config-type compose however there is also an option to use --multicontainer-config-type Kube.  Any documentation on how to make that work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Independent ID: 7816cf1e-2264-e365-4d5c-b1f

[2019-07-04 14:04] Gimly commented on #34409
After a lot of trial and error, I managed to get the user ID from the claims, but there are a few catch

1. It works only after publishing the function to Azure, there is no way (that I could find) to make it work in debug
1. It works only if you have setup the authentication Function host app service.

I'm really lost as to why we need the UserId when using the functions binding. If you use Signa

[2019-07-04 14:16] DaveRuijter opened #34551 "Visual Studio 2019?"
This page mentions VS2019, but if I create the VM it still has VS2017..
I can't figure out how to change this..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82eed62-460a-ab0b-bc5b-ad5fa69a4d84
* Version Independent ID: 294790f4-7323-3b1f-5859-3bf0fb5757f6
* Content: [Introduction to Azure Data Science Virtual Machin

[2019-07-04 14:21] thesilvereagle opened #34552 "Can not Customize the type of a User Attribute"
I can not change the type of the User Attribute from a TextBox Input to a CheckBox

I have created a set of new User Attributes and used them in my new User flow (Policy) in Azure AD B2C.

These attributes are of data type "Boolean" but when I run the user flow I get a textbox input instead of a checkbox.

Usually, I get the possibility to change it on the portal but now I can not find where to do

[2019-07-04 14:27] shashishailaj commented on #33997
@smj07 Tenant Restrictions would not work if the user's auth traffic to Azure AD would not pass through the Proxy. Since Proxy is the intermediary node which has the capability to do SSL interception and adds the required header values Hence , in order to use the tenant restrictions capability you must use proxy. Now coming back to your use case , if a user have moved from office to home network a

[2019-07-04 14:27] #33997 closed

[2019-07-04 14:29] ChrisParrBIE opened #34553 "Renaming registered servers"
Is there any way to rename registered servers? I've renamed a couple of registered servers and sync etc. still works but the name for the server remains listed as the old one.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4814031f-3cca-10a6-8587-cf1a045d2481
* Version Independent ID: b96d1378-9a11-c00e-1c84-a69d4ff1cf

[2019-07-04 14:30] sagemal opened #34554 "The Exmples for all Users dont work."
PS C:\WINDOWS\system32&gt;  Get-AzureADUser -All $true
Get-AzureADUser : Es wurde kein Parameter gefunden, der dem Parameternamen "All" entspricht.
In Zeile:1 Zeichen:18
+  Get-AzureADUser -All $true
+                  ~~~~
    + CategoryInfo          : InvalidArgument: (:) [Get-AzureADUser], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,Microsoft.Open.AzureAD16.Po

[2019-07-04 14:36] matjazmav opened #34555 "Connect to SQL Server without app registration"
Is it possible to connect to Azure SQL Server without registering app using Azure AD user? We are trying to create simple Windows Forms app for some administrative tasks.

It should be possible, because SSMS offers exact same feature "Universal with MFA support". I have been searching around and found nothing useful; any direction would be much appreciated.

Thanks!

---
#### Document Details

⚠ *

[2019-07-04 14:51] shashishailaj commented on #34180
@axthosarouris Thank you for your request . We are engaging the content team to further take this request to relevant team in engineering who can review the requirement and help create a sample.

@rwike77 Could you please check this request for a new sample.