[2020-02-26 04:00] SumanthMarigowda-MSFT commented on #48901
@eflamm Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-26 04:02] SumanthMarigowda-MSFT commented on #48916
@langstonj Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-26 04:18] VikasPullagura-MSFT commented on #48528
@cynthn Can you please check on this doc update request and update the document as appropriate.

[2020-02-26 04:22] sonalinoolkar opened #48936 "The solution did not worked for downloading the P2S VPN Client : File Download Error"
I have created sucessfully a virtual network gateway with gatewayType as VPN and vpnType as RouteBased.
When tried to download VPN client in Point to Site Configurations blade in Azure portal, I am getting error "FIle Download Error"
The activity log has below message:
Operation name
Generate VpnProfile package for VirtualNetworkGateway
Time stamp
Wed Feb 26 2020 09:50:56 GMT+0530 (India Standard

[2020-02-26 04:31] #48795 closed

[2020-02-26 04:32] VikasPullagura-MSFT commented on #48795
@simratsatia Doc is updated, changes will go live soon.

[2020-02-26 04:40] VikasPullagura-MSFT commented on #48919
@samdotme Thanks for the Feedback. The document is updated and changes will go live soon.

[2020-02-26 04:40] patrickgalbraith commented on #47187
Some distributions have a `azure-functions-core-tools-3` package available see https://packages.microsoft.com/repos/microsoft-debian-stretch-prod/pool/main/a/

Which can be installed with:

[code]

[2020-02-26 04:46] dcbrown16 opened #48938 "Correct link?"
This section:
"A managed instance has a dedicated public endpoint address. In the client-side outbound firewall and in the network security group rules, set this public endpoint IP address to limit outbound connectivity."
links to this page:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-find-management-endpoint-ip-address

Which is about the management endpoint,

[2020-02-26 04:46] #48919 closed

[2020-02-26 04:49] sameh-sharaf opened #48939 "Unable to find `AlwaysUseGateway` for AAS server"
Greetings,

I am currently on a project which uses AAS to read from an Azure Virtual Machine (Windows 10), to be transformed and later visualized using Power BI.

I could successfully install the on-premise data gateway on the virtual machine and create a gateway resource and connect it to my AAS server. However, I'm unsure how to read the data using AAS from the virtual machine via the gateway.

[2020-02-26 04:52] VikasPullagura-MSFT commented on #48768
@agassijoelbrio Hope the provided information is helpful.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-26 04:52] #48768 closed

[2020-02-26 04:52] VikasPullagura-MSFT commented on #48725
@p33t Hope the provided information is helpful.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-26 04:52] #48725 closed

[2020-02-26 04:53] azhar787 commented on #44242
@BrianLevenson Nope!! Have already commented that this was resolved,but not properly documented.

[2020-02-26 04:54] agassijoelbrio commented on #48768
Thank you.  I am clear now. I will close this issue.

[2020-02-26 04:55] BhargaviAnnadevara-MSFT commented on #48887
@dguimbellot Thanks for the feedback. I have assigned the issue to the content author to evaluate this further.

[2020-02-26 04:56] BhargaviAnnadevara-MSFT commented on #48902
@yvesgermain Thanks for reaching out! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 04:58] BhargaviAnnadevara-MSFT commented on #48906
@jos1977 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 04:58] PramodValavala-MSFT commented on #48570
@bmoscon That is true and I believe its usually best to have a separate container for unit tests since the functions runtime is not required here.

For integration tests (if any), you could use the same image production image since the test code usually should run from a separate container anyways.

[2020-02-26 05:00] yvesgermain commented on #48902
Here a Microsoft article "Unable to delete VNet due to serviceAssociationLinks/AppServiceLink" that resembles my situation:
https://social.msdn.microsoft.com/Forums/en-US/f3fa0fb2-d930-484c-90a5-6860e360d87f/unable-to-delete-vnet-due-to-serviceassociationlinksappservicelink?forum=WAVirtualMachinesVirtualNetwork

[2020-02-26 05:02] yvesgermain commented on #48902
Here's an article that resembles my situation :Unable to delete VNet due to serviceAssociationLinks/AppServiceLink : https://social.msdn.microsoft.com/Forums/en-US/f3fa0fb2-d930-484c-90a5-6860e360d87f/unable-to-delete-vnet-due-to-serviceassociationlinksappservicelink?forum=WAVirtualMachinesVirtualNetwork

[2020-02-26 05:02] csjh60627 opened #48940 "wrong information"
in the article it says DWU6000 provides 60 Compute nodes. However in the table it shows DW6000 has 12 nodes. These two information conflict.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e9885b5-edf8-0b6f-880c-54d2ae586d62
* Version Independent ID: 0ad7190a-5bc2-4b04-4704-7838f0eb2a8e
* Content: [Manage compute resou

[2020-02-26 05:07] yvesgermain commented on #48902
Here's a link to an article that resembles my situation:

https://social.msdn.microsoft.com/Forums/en-US/f3fa0fb2-d930-484c-90a5-6860e360d87f/unable-to-delete-vnet-due-to-serviceassociationlinksappservicelink?forum=WAVirtualMachinesVirtualNetwork

[Unable to delete VNet due to serviceAssociationLinks/AppServiceLink](https://social.msdn.microsoft.com/Forums/en-US/f3fa0fb2-d930-484c-90a5-6860e360d87

[2020-02-26 05:12] BhargaviAnnadevara-MSFT commented on #48917
@ArjunMenonUK Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 05:13] PramodValavala-MSFT commented on #48909
@shashankkr The lock duration for both Queues and Subscriptions can be set while creating them or updated after. Usually, this is 30 seconds by default I believe.

This can done from the Azure Portal as above, [REST APIs](https://docs.microsoft.com/en-us/rest/api/servicebus), [PowerShell cmdlets](https://docs.microsoft.com/en-us/powershell/module/az.servicebus/?view=azps-3.5.0), [ARM Templates](ht

[2020-02-26 05:15] yuemlu commented on #48878
@Pawel1985 We have released a [PSH module](https://github.com/Azure-Samples/azure-files-samples/releases) to enable this feature including setup of the computer account. You need to install [Az.Storage 1.11.1-preview module ](Az.Storage 1.11.1-preview module ) to get the Kerberos keys.

[2020-02-26 05:16] BhargaviAnnadevara-MSFT commented on #48900
@seanalexander Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-26 05:18] BhargaviAnnadevara-MSFT commented on #48913
@artisticcheese Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-26 05:19] yuemlu commented on #48825
@Pawel1985 and @alexsys14 [Here ](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#regional-availability)is a list of regions where Azure Files AD Authentication is supported. Please consider to try in these regions.

[2020-02-26 05:27] simer99 commented on #47951
@ctm8788 We have not received it yet. qnamakerteam@microsoft.com is the address or you can also add qnamakersupport@microsoft.com. Can you double check? Also please mention this github link as reference in the email.

[2020-02-26 05:28] PramodValavala-MSFT commented on #48860
@kiranpradeep I believe the term poison messages has been brought over from the [queue storage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp#poison-messages) docs.

In Service Bus, they are referred to as [deadlettered messages](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues).

When using th

[2020-02-26 05:28] ArjunMenonUK commented on #48917
Hi @BhargaviAnnadevara-MSFT
I was not following any documents, I was just referring some codes i found. I found a project which implemented the same with older version of NLog and I can see that it has the .config file. Am not sure whether it is required for latest version or not

[2020-02-26 05:48] joshkyh commented on #48830
@BharathNimmala-MSFT No worries! Please feel free to reach out if you require any other information.

[2020-02-26 05:53] dcurwin commented on #48864
#reassign:sachdevaswati

[2020-02-26 05:55] CHEEKATLAPRADEEP-MSFT commented on #48899
@jovancosta-bairesdev Make sure you have entered correct credentials.

I'm able to follow the document without any issue.

**Notebook integration:**

![image](https://user-images.githubusercontent.com/44426401/75316129-79c66e00-588a-11ea-9f42-358e55eafbe8.png)

Notebook as synced without any error message:

![image](https://user-images.githubusercontent.com/44426401/75316206-ac706680-588a-11ea-9ca

[2020-02-26 05:57] mandiaya commented on #38747
HI team, does this add-on support jira version 8.5.2/8.5.3 or only 8.5.1?

[2020-02-26 05:58] ramandeep-singh-1983 commented on #48535
Thanks for the quick fix!

[2020-02-26 05:58] ramandeep-singh-1983 commented on #48536
Thanks for the quick fix!

[2020-02-26 05:59] mandiaya opened #48941 "Does this add-on support jira verison 8.5.2/8.5.3 or latest?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with JIRA SAML SSO by Microsoft](https://docs.microsoft.com/en-us/azure/a

[2020-02-26 06:00] mandiaya commented on #48941
@jeevansd

[2020-02-26 06:08] KamilRosinski commented on #47332
It worked with the "centralus" resource :)
PS Just one more thing: the "transcriptionMode" should be set to "async" not "Async", as it is in the example above. It kept crashing with the uppercase "A", with lowercase "a" works fine.

[2020-02-26 06:09] neeleshray-msft commented on #48935
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 06:11] VikasPullagura-MSFT commented on #48499
@masnider Can you please confirm and add your comments on this.

[2020-02-26 06:13] neeleshray-msft commented on #48941
@mandiaya Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 06:14] VikasPullagura-MSFT commented on #48933
@Ayanmullick
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-26 06:19] VikasPullagura-MSFT commented on #48934
@RoyKimYYZ Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-26 06:20] FrankHu-MSFT commented on #48792
@bsocca it sounds like you're requesting more information regarding multi-tenant sso. We have a seperate doc regarding that here : https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/isv-sso-content

And if it's an azure ad endpoint, then it will be referring to an azure ad tenant. Meaning yes, it's the aad tenant id.

In addition to that, if you mean only domains, and all domains

[2020-02-26 06:20] #48792 closed

[2020-02-26 06:20] VikasPullagura-MSFT commented on #48934
@mlearned Can you please check and add your comments on this doc enhancement request as applicable.

[2020-02-26 06:23] saxmax19 commented on #39097
Can you generate a new URL for the exercise as the above URL seems to be outdated (expired 2019-12-31). Or then I have something else wrong while trying to follow the excersice.

[2020-02-26 06:28] FrankHu-MSFT commented on #48792
The azure doc issues are meant for issues with the docs, if you have further troubleshooting or product question related issues please submit a support ticket or put it against the Q&A forums here : https://docs.microsoft.com/answers/index.html

[2020-02-26 06:30] AleynovSergey commented on #48738
@RohitMungi-MSFT as you can see in images attached to your reply, only headers row and a second row were returned. How can I use a Labeling tool to train and predict all rows  and headers from a specific table on the page?

[2020-02-26 06:32] mataralhawiti commented on #48852
@dejan-shuki I don't think you can do that. You can't create Azure Keyvault-backed scopes using Databricks CLI.
https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes

[2020-02-26 06:37] SumanthMarigowda-MSFT commented on #48654
@Jayesh040 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata If the issue isn't related to  documentation

[2020-02-26 06:37] #48654 closed

[2020-02-26 06:42] saxmax19 opened #48942 "SAS URI Expired?"
Has the SAS URI access expired as it is not working for me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91402667-4be2-ddaf-6b7a-d24d478e5cac
* Version Independent ID: f171700d-f8e1-8b79-779c-9e12c0a03fa8
* Content: [Transform data by using Databricks - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-

[2020-02-26 06:46] FrankHu-MSFT commented on #48778
@antixyz-max no, you can only utilize the CRL OCSP method that is described in the article.

I apologize for the inconvenience, that being said if you have anymore questions please let us know otherwise I will be closing out this github issue by end of day tomorrow.

[2020-02-26 06:48] PramodValavala-MSFT commented on #48735
@renklus Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-26 06:48] #48735 closed

[2020-02-26 06:49] FrankHu-MSFT commented on #48571
@jshaft1971 when you say app passwords, are you referring to client secrets and the client credential flow to obtain service to service access tokens? If that is the case, then no nothing on the conditional access policy or security defaults should affect the process of getting an access token with the client_credential flow.

That being said if there are no more questions I will be closing out th

[2020-02-26 07:03] damendo commented on #48805
Hi @Noldiani , thanks for spotting this.
Would it possible for you to send a PR with your changes? I can just merge them in.

[2020-02-26 07:07] ashishsober commented on #48875
@BharathNimmala-MSFT We are facing this problem in cosmosDB,
My Observation: This $facet is supported in mongo version 4.0 which is currently not supported by MS Cosmos(Version 3.4).
Due to which my mongo queries are failing, hence need your support on having a work aroung to fix this issue.

[2020-02-26 07:13] agassijoelbrio opened #48944 "WVD Client (after today's update) for Windows 7 is not allowing users to login"
Hi, we have 6-7 users accessing WVD via WVD client from Windows 7 machines. It didn't allow us to log in today morning. After updating the WVD client, users are not able to login to the WVD environment. It is throwing up an error. Any issues with Windows 7 WVD client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2ee

[2020-02-26 07:13] damendo commented on #48857
There is a "Traffic analytics" section inside Network Watcher on the bottom left.
I've addressed the issue about incorrect navigation via Azure Monitor.

[2020-02-26 07:13] damendo commented on #48857
#please-close

[2020-02-26 07:13] #48857 closed

[2020-02-26 07:14] girishgouda opened #48945 "VNET Integration across regions using service end points"
We have webapp which will interact with azure services like azure sql which are part of a different region than the app itself. For example (app in east us 2 and azure SQL in west europe). currently we are using ASE in association with service endpoints to connect app with SQL. we are planning to migrate to a multi-tenant web app instead of ASE. we want to secure the connection between web and SQL

[2020-02-26 07:21] damendo commented on #47157
Have added a mention of Log Analytics/Traffic Analytics. Changes will be out in a day.

[2020-02-26 07:21] damendo commented on #47157
#please-close

[2020-02-26 07:21] #47157 closed

[2020-02-26 07:30] souravmishra-msft commented on #48862
@jmprieur, it would be great if you can share your insights on this.

[2020-02-26 07:34] RBStarkey commented on #48855
From this link…

https://docs.microsoft.com/en-us/azure/cosmos-db/data-explorer

I am taken to this page and asked to click on…

https://cosmos.azure.com/

After a short wait, this page appears…

[cid:image002.jpg@01D5EC77.17CAD5D0]

This is my correct Cosmos account and database but I’m not asked to insert the connection string.

But, I’ve just read this from the blog…

If you want to provide oth

[2020-02-26 07:34] damendo commented on #40417
Closing this out since there has no further clarification on the issue for a while.
Feel free to reopen or raise a support request.

[2020-02-26 07:34] jos1977 commented on #48906
@BhargaviAnnadevara-MSFT : Sure!, this would be at least the following : https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

[2020-02-26 07:34] damendo commented on #40417
#please-close

[2020-02-26 07:34] #40417 closed

[2020-02-26 07:38] scleynen commented on #45210
Hi, after removal of the File System ISE connector and reinstalling it, it was fixed and I indeed see those actions also

[2020-02-26 07:40] souravmishra-msft commented on #48584
@mmacy, it would be great if you can share your insights on this.

[2020-02-26 07:42] memildin commented on #46608
@tdefise we're in the process of updating the alerts documentation to include this very information!

Thanks so much for helping us once again confirm that there's a real need for it.

Expect the updated page to go live in the next couple of weeks.

#please-close

[2020-02-26 07:42] #46608 closed

[2020-02-26 07:42] SnehaGunda commented on #48007
#please-close

[2020-02-26 07:42] #48007 closed

[2020-02-26 07:57] neeleshray-msft commented on #48918
@manaccar Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 08:05] w0ut0 commented on #47781
@Karishma-Tiwari-MSFT thank you for the information.
Can it be mentioned in the documentation that the container's Public IP address is only the inbound IP, and not the outbound (which is impossible to get)?
Thank you.

[2020-02-26 08:14] likebupt commented on #48868
@pbartos Hi, sorry for the inconvenience. Currently, pipeline does not support pipeline parameter containing special characters like / " $ etc....
Could you please explain your scenario more? This will help us to prioritize for improving this feature.
Thanks!

[2020-02-26 08:14] DLeXh opened #48946 "Self Service Password Reset (SSPR) - wrong description for password reset option"
Hello there,

we have noticed that the description for resetting the actual password and just unlocking the user account is identical. Are you aware of this?

<a href="https://imgbb.com/"><img src="https://i.ibb.co/Y0C03kW/text1.jpg" alt="text1" border="0"></a>

<a href="https://imgbb.com/"><img src="https://i.ibb.co/74KFqSh/text2.jpg" alt="text2" border="0"></a>

Best regards

---
#### Document D

[2020-02-26 08:19] mike-urnun-msft commented on #48165
@Anand-Moghe Sorry for the delay in response. Since the self-hosted gateway is _containerized_, you should be able to run it wherever you like, including Gov/Sovereign cloud, as depicted in the visual. The recommended host orchestrator is Kubernetes. Also, note that, as the doc describes, the self-hosted gateway requires an outgoing connection to the primary APIM instance on the public cloud and i

[2020-02-26 08:24] CHEEKATLAPRADEEP-MSFT commented on #47086
I'm able to follow the document without any issue.

**Notebook integration:**

URL scheme `https://dev.azure.com/<org>/<project>/_git/<repo>`

**Example Link:** https://dev.azure.com/chpradee/azurewala/_git/azurewala

![image](https://user-images.githubusercontent.com/44426401/75316129-79c66e00-588a-11ea-9f42-358e55eafbe8.png)

Notebook as synced without any error message:

![image](https://user-i

[2020-02-26 08:25] CHEEKATLAPRADEEP-MSFT commented on #47086
@marc-gmail-towersap  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-26 08:25] #47086 closed

[2020-02-26 08:28] CHEEKATLAPRADEEP-MSFT commented on #47164
@mamccrea Any update on this issue?

[2020-02-26 08:28] Arkalex opened #48947 "Get blob link is actually set blob"
Title, the url  in "See also" section is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c6dc17-5057-abdd-506d-4d7b294925d9
* Version Independent ID: 64ad32f4-f946-61f7-d105-8cd9205505f3
* Content: [Manage properties and metadata for a blob with .NET - Azure Storage](https://docs.microsoft.com/en-us/azure/storag

[2020-02-26 08:31] CHEEKATLAPRADEEP-MSFT commented on #48232
@eugenpodaru We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-26 08:31] #48232 closed

[2020-02-26 08:32] CHEEKATLAPRADEEP-MSFT commented on #48345
@mganeshphani  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-26 08:32] #48345 closed

[2020-02-26 08:35] CHEEKATLAPRADEEP-MSFT commented on #48566
@Connell1
**Note:** You need to create Azure Databricks personal access token manually by going to the Azure Databricks portal.

Even for creating using APIs, initial authentication to this API is the same as for all of the Azure Databricks API endpoints: you must first authenticate as described in [Authentication.](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authenticat

[2020-02-26 08:35] CHEEKATLAPRADEEP-MSFT commented on #48566
@Connell1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-26 08:35] #48566 closed

[2020-02-26 08:39] CHEEKATLAPRADEEP-MSFT commented on #48904
@kjayantmenon  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-26 08:39] Ratomir opened #48948 "Azure Analysis Service Database processing - Application Id on the database level"
The issue may be here: https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-refresh-azure-automation
Processing Azure Analysis Service database.

This guideline can't work without an application in the Active Directory and assigned application on the database level with the Admin role. You have a blog here: https://unnieayilliath.com/2017/11/12/connecting-to-azure-analysis-se

[2020-02-26 08:40] Ayshine commented on #48685
Hello @AshokPeddakotla-MSFT,

I tried to follow the documentation but I hit a dead-end on something else. It looks like our problem is a lot bigger than an issue. I think we, as the company, need some introduction to the system. Thus, I'll be contacting a TAM at Microsoft Turkey I know from my previous company.

@ticianaciminari @BryanTrach-MSFT @Mike-Ubezzi-MSFT thank you for your time and the ef

[2020-02-26 08:44] valentijnscholten commented on #48774
That is where I seem them currently, inside conditional access. We do have conditional access in some of our tenants. Anyway, might be better of just creating our own policy in conditional access so we're not depending on defaults anymore.

[2020-02-26 08:45] mike-urnun-msft commented on #48421
@pikkuhanuristi I believe the exact scenario is covered on [this doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#SetBackendService) describing the use of `<set-backend-service>` policy. Did you create a backend entity for the newer backend app before attempting to use the `backend-id` attribute? You can use either [Powershell](https://www.powershel

[2020-02-26 08:45] #48421 closed

[2020-02-26 08:46] Ratomir commented on #48939
@sameh-sharaf Click on the "Show Advanced (All) Properties", you will see the second option in the table.

[2020-02-26 08:49] AshokPeddakotla-MSFT commented on #48685
@Ayshine Sure, thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-26 08:49] #48685 closed

[2020-02-26 08:58] Naapi commented on #34827
Same thing. Unable to login to Query Editor. I am following https://docs.microsoft.com/en-us/learn/modules/develop-app-that-queries-azure-sql/3-exercise-create-tables-bulk-import-query-data guide.

[2020-02-26 08:59] Klaas- commented on #46036
Fixed in 649fd16ed8b836d415dec2357f4313c20ca91d40

[2020-02-26 08:59] #46036 closed

[2020-02-26 09:04] mike-urnun-msft commented on #48693
@ravick4u Runtime is defined by [FUNCTIONS_WORKER_RUNTIME](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_worker_runtime) app setting. You can locate this setting by signing into Portal->_Your Function App_->Platform Features->Configuration as shown below:

![image](https://user-images.githubusercontent.com/36717703/75329140-ff6aff00-5833-11ea-8de0-e6e8c431

[2020-02-26 09:06] em-vardol commented on #23772
This is one of the most required feature by  the customers. We would really appreciate an update on this.

[2020-02-26 09:14] pbartos commented on #48868
I use just simple regular expression: \"COUNTRY_CODE" RU

[2020-02-26 09:17] mike-urnun-msft commented on #48360
cc: @cgillum for guidance

We may also need to update the tutorial referenced in this [Stackoverflow post](https://stackoverflow.com/questions/60104100/azure-durable-timer-exercise-never-hits-the-timeout) as well.

[2020-02-26 09:22] piyumi25 opened #48949 "after approved the request still approval window is appeared for the users"
hi,

I followed the admin consent workflow and disable user consent,

![image](https://user-images.githubusercontent.com/33615108/75330612-61b11780-58a7-11ea-86fc-ed875029c5c4.png)
 But although I approved the request as global administrator, still that popup is coming to request the permission

[2020-02-26 09:36] eugenpodaru commented on #48232
@CHEEKATLAPRADEEP-MSFT, @mamccrea Thank you for your replies. We can close this thread. I have created a user voice idea for this feature. You can vote for it here https://feedback.azure.com/forums/909463-azure-databricks/suggestions/39798226-support-single-sign-on-with-custom-identity-provid

[2020-02-26 09:37] PramodValavala-MSFT commented on #48315
@AnjaniChallamcherla I have checked with the concerned team and this has been fixed. The same should get deployed to all regions in a week or so.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-26 09:37] #48315 closed

[2020-02-26 09:42] neeleshray-msft commented on #48815
@billmath Could this be checked and verified and any changes needed ?

[2020-02-26 09:43] neeleshray-msft commented on #48941
@jeevansd Jeevan, could you confirm on this ?

[2020-02-26 09:43] SnehaAgrawal-MSFT commented on #48945
@girishgouda Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-26 09:44] BhargaviAnnadevara-MSFT commented on #48946
@DLeXh Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 09:45] neeleshray-msft commented on #48813
@artmasa We will be closing this thread now. Let us know if you need further help on the same.

[2020-02-26 09:45] #48813 closed

[2020-02-26 09:46] KalyanChanumolu-MSFT commented on #48540
@PHaastrup That is valid feedback. The product team already aware of this.
The service is in preview now and will get more orchestration capabilities in later versions.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-26 09:46] #48540 closed

[2020-02-26 09:47] neeleshray-msft commented on #48488
@kungfugeek We will be closing this thread now. Let us know if you need further help on the same.

[2020-02-26 09:47] #48488 closed

[2020-02-26 09:49] stuarthallows opened #48950 "JWT token from user flows are not shown in jwt.ms web page"
The article says that by setting https://jwt.ms as the reply URLs and then testing the user flows in the portal the JWT token will be displayed in jwt.ms. This does not work.

Currently on testing the user flows in the portal the redirect URL is https://jwt.ms/?code=XXXXX whereas the web site requires https://jwt.ms/#id_token=XXXX in order to display the token.

Furthermore after changing the URL

[2020-02-26 09:49] BhargaviAnnadevara-MSFT commented on #48949
@piyumi25 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 09:50] Pawel1985 commented on #48878
Hello, I have installed this module but still the same issue, prior installing this module I removed previous instance:
PS C:\Windows\system32> $StorageKey = New-AzStorageAccountKey -KeyName "kerb1" -ResourceGroupName $rg -Name $sa
New-AzStorageAccountKey : Key name kerb1 is not valid.
At line:1 char:15
+ ... torageKey = New-AzStorageAccountKey -KeyName "kerb1" -ResourceGroupNa ...
+

[2020-02-26 09:51] aws-scripting-guy opened #48951 "Microsoft.Blueprint resource provider needs to be registered first before Blueprint assignment for newly created subscriptions"
Microsoft.Blueprint provider needs to be registered to be able to assign Blueprints, as it is not enabled by default for newly created subscriptions. This step is needed if using only REST API.

Can you please confirm the behavior and update the docs with this additional step?

API error response code:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-02-26 09:52] Pawel1985 commented on #48825
I know, I'm trying west europe,
Ensure-KerbKeyExists : Unable to generate a Kerberos key for storage account: plwaw1fs01sa01.
This might be because the 'Azure Files Authentication with Active Directory' feature is not yet available in this location (westeurope).

[2020-02-26 09:55] nareshnagpal06 opened #48952 "New Action Group not getting created"
I am getting a weird problem while creating a new action group through portal. When I fill all the details and click OK, nothing happens. No error. Action group is not created either. It always used to work before. Not sure if just an intermittent issue or anyone else faced this problem before?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-26 09:57] mike-urnun-msft commented on #48663
@guibirow Number of rules are _per entity_ basis. More on SAS is on this doc: [Service Bus access control with Shared Access Signatures](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#shared-access-authorization-policies)

I've also created a PR that updates this doc to clarify this limit better:
_"Maximum number of rules per entity type: 12.
 Rules that are configure

[2020-02-26 09:59] mike-urnun-msft commented on #48663
@guibirow We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-26 09:59] #48663 closed

[2020-02-26 09:59] girishgouda opened #48953 "Connect azure app service to azure private end point through VNET Integration"
We want to use azure app service in multi tenant mode and connect to SQL in different region privately. We know that we can use azure web VNET integration to connect to SQL withing same region . Can we use the same VNET integration feature to connect to a private endpoint. if not how  to establish the connection from azure web app to sql in different region privately

---
#### Document Details

⚠

[2020-02-26 10:02] neeleshray-msft commented on #48950
@stuarthallows Thank you for your feedback! We will investigate and update as appropriate.

[2020-02-26 10:02] CHEEKATLAPRADEEP-MSFT commented on #48939
@sameh-sharaf As mentioned in the document:

In SSMS > server > Properties > General, select Show Advanced (All) Properties.

In the ASPaaS\AlwaysUseGateway, select true.

![image](https://user-images.githubusercontent.com/44426401/75334067-3c270c80-58ad-11ea-91ca-802b14a7ae33.png)

Hope this helps.

[2020-02-26 10:04] nareshnagpal06 commented on #48952
noticed that I am getting this error in notification bar, when I click OK - Failed to create new resource group Default-ActivityLogAlerts. Not sure why its trying new resource group when I selected an existing resource group in the drop down.

[2020-02-26 10:04] CHEEKATLAPRADEEP-MSFT commented on #48948
@Ratomir  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-26 10:09] maciek-polakowski commented on #48360
Hmm - what about durable functions in version 3 then? Is anybody taking care of it? Workaround for training is fine, but for production use is not - version 3 should also be working with durable functions. Is there a ticket for this

[2020-02-26 10:16] mike-urnun-msft commented on #48691
@ravick4u I've gone through the steps and they all worked for me. In your case, it looks like the `Connect-AzAccount -Identity` cmdlet in the `profile.ps1` script has failed. Do you have an active Azure subscription as mentioned in the [Prerequisites](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-powershell#prerequisites)?

[2020-02-26 10:20] CHEEKATLAPRADEEP-MSFT commented on #48942
@saxmax19  Thanks for bringing this to our attention.  I have assigned the issue to the content author to review further and update the document as appropriate.

@nabhishek  SAS URI has been expired on 31 DEC 2019, could you please update the SAS URI?

SAS URI:  `https://storagewithdata.blob.core.windows.net/?sv=2017-11-09&ss=b&srt=sco&sp=rl&se=2019-12-31T21:40:53Z&st=2018-10-24T13:40:53Z&spr=http

[2020-02-26 10:20] agassijoelbrio commented on #28072
Hi, WVD client in Windows 7 has issues.
I have 5-6 users using Windows 7 when they are using WVD clients they are not able to log in.
All this happened after the WVD client update which came today morning.
I installed the update and from then clients are not able to access WVD.
They are able to do it from the web URL.
I am getting the below error. Please refer to the image
![wwwww](https://user-im

[2020-02-26 10:21] SnehaAgrawal-MSFT commented on #48635
@darzu Since, we didn’t hear from you. We will now close this out but if you feel you need more information please just let us know.

[2020-02-26 10:21] #48635 closed

[2020-02-26 10:22] martijnhoogendoorn opened #48954 "Internally, AI uses generateW3CId when initially setting the traceId, perhaps adjust the doc"
newId() generates a 5 character "unique" id, where initially, the value is a Guid. For consistency, I would recommend advising to not use newId, but use generateW3CId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Con

[2020-02-26 10:26] RohitMungi-MSFT commented on #48931
@JasonWHowell We have another issue similar to [47376](https://github.com/MicrosoftDocs/azure-docs/issues/47376) where the project is not setting up the environment while using environment.yml
Could you please help to log an issue with PG backlog?

[2020-02-26 10:27] mike-urnun-msft commented on #48699
@scottstout Both v2 and v3 are on .Net Core but they do have a [web.config](https://github.com/Azure/azure-functions-host/blob/3.x/src/WebJobs.Script.WebHost/web.config#L19) file with the same limit.

[2020-02-26 10:43] BhargaviAnnadevara-MSFT commented on #48917
@ArjunMenonUK Thanks for the response. The `applicationinsights.config` file is automatically added to your project when you [set up Application Insights for your project](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net). [This](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-trace-logs) doc explores the logging configuration for Application Insights in detail. Re

[2020-02-26 10:45] Digiroka opened #48956 "Couple of issue / comments"
In section 2 The "-name" parameter does not exist for join-AzStorageAccountForAuth, it should be "-StorageAccountName"

In section 2 - please elaborate that the AD distinguished name attribute is not supported for the parameter "-OrganizationalUnitName", and just the name of the OU should be used. This may seem obvious, but in most scenarios the distinguished name is used, so I thought I had an AD

[2020-02-26 10:45] BhargaviAnnadevara-MSFT commented on #48902
@yvesgermain Thanks for the response. I've routed this to the appropriate Team to investigate and update.

[2020-02-26 10:47] mike-urnun-msft commented on #48704
@aws-scripting-guy Since this channel is for driving doc changes, it might be better to engage the following existing issue on this topic: Azure/azure-functions-powershell-worker/issues/333

[2020-02-26 10:47] BhargaviAnnadevara-MSFT commented on #48906
@jos1977 Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-02-26 10:47] RohitMungi-MSFT commented on #48738
@NHaiby @PatrickFarley Could you please let us know if we can follow any additional training steps from the tool to increase the prediction accuracy to recognize all rows in a table?

[2020-02-26 10:50] BhargaviAnnadevara-MSFT commented on #48946
@DLeXh Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-02-26 10:54] SychevIgor commented on #48651
@kobulloc-MSFT could you in an article - highlight - why "FailureAnomaliesDetector" missed from the table?

[2020-02-26 10:58] mike-urnun-msft commented on #48731
@EwenStewartAtTally Thanks for reporting this and helping us drive improvements towards MS Docs! I have created a PR that updates the references to the nuget package: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussio

[2020-02-26 10:58] #48731 closed

[2020-02-26 10:58] SychevIgor commented on #48325
@kobulloc-MSFT could you explain - "what does it mean" for non-English speakers like?

What RBAC need to be assigned to me as a user to see all components on application map?

If some user will have access to only one application insights instance, will application map show all components or will be scoped to application insights instances accessible for this user?

[2020-02-26 11:01] mike-urnun-msft commented on #48732
@benbeaudry Thanks for reporting this and helping us drive improvements towards MS Docs! I have created a PR that corrects the typo.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-26 11:01] #48732 closed

[2020-02-26 11:05] BhargaviAnnadevara-MSFT commented on #48953
@girishgouda Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-26 11:07] mike-urnun-msft commented on #48799
@lesmin-sk You can submit a feature request on [Azure Uservoice for API Management](https://feedback.azure.com/forums/248703-api-management).

Since this channel is for driving doc changes and we haven't determined any, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-26 11:07] #48799 closed

[2020-02-26 11:21] KalyanChanumolu-MSFT commented on #48875
@ashishsober Cosmos DB Mongo API currently has support for versions 3.4 and 3.6 only.
So there is no workaround at this time.

We will proceed to close this issue now.

[2020-02-26 11:21] #48875 closed

[2020-02-26 11:25] jseerden opened #48958 "FIDO2 security key without (mobile) phone as second factor"
In this article, you write: "FIDO2 security keys are a great option for enterprises who are very security sensitive or have scenarios or employees who aren't willing or able to use their phone as a second factor."

However, before a user can register a FIDO2 security key, they will need at least one Azure Multi-Factor Authentication method registered, as described in: https://docs.microsoft.com/en

[2020-02-26 11:26] sonalinoolkar commented on #48800
The core root cause seems to be that I am not able to connect the managed instances on port 1433 from jumpbox VMs.
I have added inbound and outbound rule to allow communication from "any" to "any" on port 1433.
Also I have disabled Windows firewall on the Jumpbox VMs. Still I am unable to connect the managed instance with port 1433.
Tried:
mi-worksoft-eus.6e1c8c01fb1d.database.windows.net,1433  in

[2020-02-26 11:27] jethrovaneetvelde opened #48959 "What are the requirements to see "Add Tracking GUID""
When logged in in Partnercenter I can go to developer settings -> account settings. There is no "Add tracking GUID" option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca5872f1431
* Content: [Azure partner and customer usage attr

[2020-02-26 11:33] grahambird80 opened #48960 "Wording of - Connector and application server in different domains"
Is this statement correct?

Use the principalsallowedtodelegateto property on the Connector server to enable the Application Proxy to delegate for the Connector server. The application server is sharepointserviceaccount and the delegating server is connectormachineaccount. For Windows 2012 R2, use this code as an example:

Should it not be;

Use the principalsallowedtodelegateto property on the Ap

[2020-02-26 11:36] BhargaviAnnadevara-MSFT commented on #48954
@martijnhoogendoorn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-26 11:42] ArjunMenonUK commented on #48917
Oops sorry. Will close this issue

[2020-02-26 11:42] #48917 closed

[2020-02-26 11:47] techsaau opened #48962 "Issue certificate to AKS PublicIP (AzureDNS) with dns challenge"
I want to create a certificate for Kubernetes application using dns challenge i.e. **blabla.westeurope.cloudapp.azure.com**.
According to below link, I have to create my custom dns zone within azure and have to use it for the same:

https://cert-manager.io/docs/configuration/acme/dns01/azuredns/

[code]

Can anyone assist `on` how to use Azure Provided DNS for issuing certificate?

REF:
https://do

[2020-02-26 11:48] BhargaviAnnadevara-MSFT commented on #48917
@ArjunMenonUK No worries! Nevertheless, do check if the above pointers help. Thank you.

[2020-02-26 12:10] Feday commented on #20701
Although this issue was closed with information from @mdgattuso, it is still not allowed to assign a wildcard domain to Azure CDN:

![image](https://user-images.githubusercontent.com/4411803/75343050-614c5880-5876-11ea-834e-833381deea4f.png)

@SubhashVasarapu-MSFT should this be re-opened?
Looks like there is a confusion about the differences between CDN and WebApp, even on UserVoice

Thanks

[2020-02-26 12:11] Ajithvajrala23 commented on #21209
just add  `conda_packages=[ 'package1', 'package2', .... ]` to the Estimator, it worked for me.

[2020-02-26 12:19] #48513 closed

[2020-02-26 12:26] amanmcse commented on #48950
@stuarthallows This works only with implicit flow. You need to enable implicit flow by setting it to **yes** under application properties as per below snip:
![image](https://user-images.githubusercontent.com/33834131/75344617-02f89780-58c1-11ea-8238-e0e891a34082.png).

Please let me know if you have any further question or shall we proceed with closure of this thread?

[2020-02-26 12:34] onkarthg opened #48963 "authenticate postgresSQL using azure key vault"
I followed all document buti didn't any idea how to authenticate postgresSQL using azure key vault if you have any reference please let me know so we implement this part...

[2020-02-26 12:38] sinner883 opened #48964 "great piece of the software"
I found very helpful to use Adviser for myself and the company.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae7814-3a8b-1401-34b7-a3f53d22b9e5
* Version Independent ID: 30254acc-2901-0565-e7dc-619c279f8b78
* Content: [Introduction to Azure Advisor - Azure Advisor](https://docs.microsoft.com/en-us/azure/advisor/adv

[2020-02-26 12:39] jovancosta-bairesdev commented on #48899
Tks for the support...

Well,
I just checked and my credentials were typed correctly...
I'm using:
link: https://dev.azure.com/[mycompanynameatdevops]/[myprojectname]/_git/[myprojectname]
(I logged in dev.azure.com and added the project name before _git, there is no way to mistype)

path in git repo: notebook/Users/[mycorporateemailsyncedwithazuredevops]/[myfile.py]
without brackets
==
I believe t

[2020-02-26 12:39] gavinwoolley commented on #37127
Try again now, should be public.

[2020-02-26 12:46] brophis commented on #48825
Hi,

I have the same issue. I noticed that there was an error on line 2126 where the if condition was typed backwards. It was typed as "if ($null -eq $kerb1Key)" instead of the other way around.

Also on line 2119 and 2120 the KeyNames are being returned as key1 and key2 when Get-AzStorageAccountKey is run instead of kerb1 and kerb2 as expected in the script.

I manged to makes some changes the th

[2020-02-26 12:54] kaplik commented on #47571
@SubhashVasarapu-MSFT any update?

[2020-02-26 13:03] ramadarla commented on #48452
Thank you @bharath -we are in middle of POC, a quick response appreciated highly.

[2020-02-26 13:03] sebhe commented on #48320
Thanks a lot for the clarification. the latest version of this page seems to reflect this as well. Thanks.

[2020-02-26 13:06] NavtejSaini-MSFT commented on #48855
@RBStarkey Yes it is doing the same for me. Glad the issue is resolved for you.

[2020-02-26 13:06] #48855 closed

[2020-02-26 13:07] pvrk commented on #48452
@ramadarla : thanks for the clarification.
In our support matrix, we mentioned about support for SAP HANA on a single node. We treat both nodes differently. Usually the secondary node doesn't generate log backups and so configuring backup will not help. Basically, you need to configure backup for node 1 and then after the fail-over happens, configure the backup for node 2.

[2020-02-26 13:08] NavtejSaini-MSFT commented on #48888
@hugobarona Please let us know if you have any further questions regarding this issue.

[2020-02-26 13:15] theheatDK opened #48965 "Architecture?"
Hi,
I find it a bit difficult to understand the architecture for this setup.
You have a Fortigate NVA and you have Sentinel/Log analytics workspace.
Do you also need a separate Linux VM to run a syslog server?
Fortigate forwards the logs to the Linux VM running a syslog server. The syslog server forwards the logs to the log analytics works space via the Log analytics agent running on the Linux ser

[2020-02-26 13:17] NavtejSaini-MSFT commented on #48938
@dcbrown16 We are checking this and we will get back to you regarding this.

[2020-02-26 13:18] NavtejSaini-MSFT commented on #48940
@csjh60627 We are checking this and we will get back to you.

[2020-02-26 13:19] jshaft1971 commented on #48571
Here is the specific scenario:
1.) 3rd Party Software relies on an SMTP Relay to send email
2.) Vendor specifies that an SMTP Virtual Server must be set up in IIS 6
3.) This SMTP Virtual Server uses basic authentication with username and password
4.) When MFA was enabled we needed to set the password to an app password
5.) Our question is whether this SMTP Relay will continue to work after enablin

[2020-02-26 13:19] ferantivero commented on #46134
@Karishma-Tiwari-MSFT I was on vacs, please keep it closed for now and in case of another user can reprod this, it could be re-open.

In short, yes. I configured everything by following [that doc](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters) and after that if you go to the az firewall you can still see the action `deny` entry log as

[2020-02-26 13:23] fromario007 opened #48966 "ls"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-26 13:24] onkarthg commented on #48963
hey i didn't get any idea i have search all the data from pri3 tag please help me on this case

[2020-02-26 13:30] VikasPullagura-MSFT commented on #48947
@Arkalex Thanks for the Feedback. The document is updated now, changes should be live soon.

[2020-02-26 13:36] VikasPullagura-MSFT commented on #48944
@agassijoelbrio Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-26 13:39] 8-Ball85 commented on #39595
Hi @LaloCo and others.
Currently I'm frickeling around with this circumstance:
1) I created a new App Service
2) installed the azure-mobile-apps dependency in the App Service Editor
3) Added the MS_ConnectionString to App Service
4) Added 'mytablename'.js & 'mytablename'.json through App Service Editor and pasted the code

I call azuremobileservice from my Xamarin-App and get a "Response: NotFound

[2020-02-26 13:44] WilliamMauclet opened #48967 "console fragments starting with $ sign"
There are two code fragments for console starting with $ signs. These dollar signs are unnecessary (because the code is already shown in a box) and are taking with when you click on the Copy button on the top right of the box.
$ kubectl get pods
$ kubectl apply -f azure-vote-hpa.yaml
$ kubectl get hpa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-26 13:46] #48947 closed

[2020-02-26 13:48] fajanssen commented on #40217
@mladents As we just move on to Standard LB SKU:

with your working steps, do you now have 2 Public IP adresses assigned to the LoadBalancer, one that was automatically created with AKS-Deployment and the other one that you defined?

Our goal is to have only one IP for Ingress and Egress traffic with Standard Loadbalancer SKU, is this possible?

[2020-02-26 13:49] VikasPullagura-MSFT commented on #48944
@ChristianMontoya Can you please add your comments on this.

[2020-02-26 13:54] DixitArora-MSFT commented on #48717
@gyulaszucs Thanks for your contribution and raising the PR. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-26 13:54] #48717 closed

[2020-02-26 13:54] kiranpradeep commented on #48860
@PramodValavala-MSFT Thanks for the helpful information. I feel info about manually deadlettering in C# should part of the original doc.

[2020-02-26 13:54] #48860 closed

[2020-02-26 13:59] mlandtved opened #48968 "Section Use structured error handling"
In section "Use structured error handling" could you explain why a try/catch block is important? I'm experiencing that uncaught exceptions are converted to internal error response (code 500) without any payload, ensuring that no data is leaked. Furthermore are uncaught exceptions tracked by application insight if configured

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-02-26 14:02] VikasPullagura-MSFT commented on #48967
@WilliamMauclet Thanks for the Feedback. The document is updated and the changes will go live soon.

[2020-02-26 14:05] nbachm opened #48969 "Azure Kubernetes Service Ingress Controller"
Can you confirm that AKS Ingress Controller feature has reached general availability and update this page? (feature is mentioned as "preview" above, as well as Key Vault Integration).
According to the blogpost it is available for production use: https://azure.microsoft.com/en-us/blog/application-gateway-ingress-controller-for-azure-kubernetes-service/
Thanks!

---
#### Document Details

⚠ *Do not

[2020-02-26 14:05] kismet-cai opened #48970 "ssh-agent for Windows Powershell"
It would be nice to have details on ssh-agent for Windows users, I would like to use ssh without explicitly defining which key to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad0ea380
* Version Independent ID: 6f355823-2d16-5085-0fbc-294d20597223
* Content: [Detailed steps - SSH key p

[2020-02-26 14:07] ciufudean opened #48971 "What resource ID for blackbox tests?"
I have an application deployed across 5 VMs and several performance tests against the application UI and API that emit metrics I'd like to store into Azure (Monitor).
For me there is no right single resource ID (like a VM ID) to use when submitting a custom metric, as I view them as application-wide not VM-wide.
Or should I hand pick the resource ID of any VM?

---
#### Document Details

⚠ *Do not

[2020-02-26 14:12] WilliamMauclet opened #48972 "Error execution illustrated command"
This command:

az aks get-upgrades --resource-group myResourceGroup --name myAKSCluster --output table

didn't work on my computer. I get this response:

Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14a3f84-2

[2020-02-26 14:13] VikasPullagura-MSFT commented on #48969
@nbachm
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-26 14:13] VikasPullagura-MSFT commented on #48969
@vhorne Can you please check and add your comments on this doc update request as applicable based on GA.

[2020-02-26 14:14] #48967 closed

[2020-02-26 14:20] ciufudean opened #48973 "What is the retention period for custom metric values?"
What is the retention period for custom metric values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e9e6a7-4b37-e559-f719-63199aa78a0a
* Version Independent ID: 398a63dd-0e08-9ff3-da4e-e26fb50cb287
* Content: [Custom metrics in Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/plat

[2020-02-26 14:21] ctm8788 commented on #47951
@simer99 I just resent from my work email to the two addresses mentioned above and CC'd the  email associated with my github account. The email arrived with the requested logs attached. So hopefully you're seeing it this time.

[2020-02-26 14:30] BhargaviAnnadevara-MSFT commented on #48936
@sonalinoolkar Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-26 14:31] VikasPullagura-MSFT commented on #48972
@WilliamMauclet Thanks for your query. It could be due to the version of the CLI. Please check similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/46316).

Check if you are running CLI version as mentioned in the document and try to run the command again. I would recommend trying on Cloud Shell.

[2020-02-26 14:31] lnhzd opened #48974 "valid value for prompt"
According to this document the only valid values for prompt are: login, none, and consent. however the authorization request generated by Microsoft.Identitty.Client (4.8.2.0) is setting prompt to "select_account", isn't this a valid value only possible for v1 end-point?
request generated:
https://login.microsoftonline.com/common/oauth2/v2.0/authorize?prompt=select_account

If it's a valid value fo

[2020-02-26 14:32] dgshaver opened #48975 "KeyVault firewall configuration"
[If the KeyVault firewall is enabled on the KeyVault where the disk encryption key is stored, the HDInsight regional Resource Provider IP addresses for the region where the cluster will be deployed must be added to the KeyVault firewall configuration.  This is necessary because HDInsight is not a [trusted Azure KeyVault service](https://docs.microsoft.com/en-us/azure/hdinsight/disk-encryption)]
If

[2020-02-26 14:33] BhargaviAnnadevara-MSFT commented on #48966
@fromario007 Thank you for reaching out. In order to best address your question, could you please elaborate the ask and provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 14:34] BhargaviAnnadevara-MSFT commented on #48963
@onkarthg Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 14:36] jrv116psu opened #48976 "command examples"
"After you've signed in, make sure everything works by testing a few Windows Virtual Desktop PowerShell cmdlets with the service principal."  -- some examples of commands that are valid for this would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156a552a-fe64-e5dc-b86a-b7d8ccbeee1d
* Version Independent ID

[2020-02-26 14:41] likebupt commented on #48868
Thanks for your reply, and sorry for the inconvenience. We will suggest pipeline team considering such issue in the backlog.

[2020-02-26 14:41] jrv116psu opened #48977 "ambiguous"
sign into the azure portal in step 1 with which account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6d8a2
* Content: [Windows Virtual Desktop host pool Azure Marketplace - Azure](https://docs.microsoft.com/en-us/azure/virt

[2020-02-26 14:41] VikasPullagura-MSFT commented on #48962
@techsaau Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-26 14:49] BhargaviAnnadevara-MSFT commented on #48959
@jethrovaneetvelde Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-26 15:02] anaskalash opened #48978 "How to hide search box in the embedd widgets"
I trying to Embed Video Indexer widgets in my application but I need to hide the search box in the embedded widgets, but it always appears even when I exclude it in the URL parameters,
note: I'm trying using the default VI domain for example "https://www.videoindexer.ai/embed/insights/00000000-0000-0000-0000-000000000000/a232840f83/?widgets=people"

---
#### Document details

⚠ *Do not edit this s

[2020-02-26 15:03] ecfan commented on #45210
Glad to hear this issue resolved for you, @scleynen!

[2020-02-26 15:04] VikasPullagura-MSFT commented on #48962
@techsaau Can you elaborate on the ask a little. Did you follow the document and at which step you are stuck and need help with.

[2020-02-26 15:04] yoelhor commented on #48911
For information about `data-preload="true"` please see [Guidelines for using custom page content](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-ui-customization#guidelines-for-using-custom-page-content)

[2020-02-26 15:07] vhorne commented on #48969
article updated for GA
#please-close

[2020-02-26 15:07] #48969 closed

[2020-02-26 15:08] techsaau commented on #48962
@VikasPullagura-MSFT  I have running application within Kubernetes cluster and I want to issue an certificate to a DNS (Azure DNS: **example.westeurope.cloudapp.azure.com**). As DNS name is belong to my public ip address, Is it possible to do that?
Because as per documentation, we have to pass dns zone name, resource group etc information.

[2020-02-26 15:21] vhorne commented on #48262
@engkemo2002 @jtuliani

The note in Know Issues is accurate. I'll update the all other DNAT references to remove any potential misinterpretation.

[2020-02-26 15:22] #48911 closed

[2020-02-26 15:23] pdev1989 commented on #40300
Doc is still buggy. Can this be fixed soon, please ?

[2020-02-26 15:25] yoelhor commented on #48911
I linked both docs (you will see the changes later today).

Yoel

[2020-02-26 15:28] jethrovaneetvelde commented on #48959
@BhargaviAnnadevara-MSFT The url is https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-customer-usage-attribution#register-guids-and-offers

[2020-02-26 15:30] WiseOldHowell commented on #43030
@TravisCragg-MSFT, Mac support is important for us to be able to move to a broader deployment in our organization. I've added votes to the link provided.

Is there any update on this open issue?

[2020-02-26 15:39] piekenpuil opened #48979 "How is Azure involved in this ?"
If I run this sample, and I watch what happens in javascript, I can see that the connection created is to localhost, not to my azure resources. When I put AddAzureSignalR() in comment, it also keeps working, as I expected.
So we have a working sample here, but no explanation on what happens behind the screens. Is there a redirect somewhere from localhost to the azure SignalR service ? How exactly

[2020-02-26 15:40] josuvil opened #48980 "Minimum Password Age"
Hello: This document says that "minimum password age must be set to 0" in order for password writeback to work correctly. I wonder if this is misleading because if minimum password is set to greater than 0, it will work provided users adhere to the policy. All on-prem policies are evaluated before writing back a password. Also, other documents states to only set to 0 for testing purposes. Setting

[2020-02-26 15:46] AshokPeddakotla-MSFT commented on #48467
@fgheysels The production certificate is to bring/manage your own. So the mechanism to roll them is specific to your process and there is no generic guidance.

Just to understand, Is the motivation to improve security or prevent certs expiring in production?

[2020-02-26 15:47] kphtx opened #48981 "Not found in the Gallery"
"Sage Intaact" is no longer found in the Gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2809f192-e944-902e-db51-149939878611
* Version Independent ID: 2d788b57-9c1a-3124-690f-4469bc552cee
* Content: [Tutorial: Azure Active Directory integration with Sage Intacct](https://docs.microsoft.com/en-us/azure/active-di

[2020-02-26 15:48] ababdul opened #48982 "Where are the site recovery IP address?"
I remember there was a site recovery list of ip addresses we could use to allow site recovery traffic for non URL based firewalls. Where can we find these IP addresses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa423fbe-759a-16f7-ce8a-c46eeb416037
* Version Independent ID: 5e6271b8-0970-db08-7adf-c51e06d89ad8
* Co

[2020-02-26 15:51] MaxFrost opened #48983 "Example using ARM to setup service-delegated MI?"
I see that service-delegated subnet is the way forward for setting up route table/subnet correctly, but I am not seeing an example of how to do so via Azure Resource Manager (ARM). I rely on ARM to assert infrastructure (which means redeploying on existing infrastructure), and we've run into two issues in the past two months where the Network Intent Policy that SQLMI asserts on top of the subnet b

[2020-02-26 15:52] A-M-D opened #48984 "Incorrect link for "Transferring subscription to a user in another Azure AD tenant""
The link for "Transferring subscription to a user in another Azure AD tenant." is incorrect, this currently links to "https://docs.microsoft.com/en-us/azure/cognitive-services/acoustics/known-issues".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-

[2020-02-26 15:53] shashishailaj commented on #48974
@lnhzd Thank you for your feedback . We will investigate and update this thread further.

[2020-02-26 15:54] mamccrea commented on #48852
That is correct. You cannot use the CLI.

![image](https://user-images.githubusercontent.com/38858737/75362139-8a201e00-5875-11ea-8cb8-16597b91793e.png)

@dejan-shuki - can you please give me an example of what you mean by "sometimes GUI is not available?" What steps do we need to take to reproduce your issue?

[2020-02-26 15:57] NavtejSaini-MSFT commented on #48940
@csjh60627 Thanks for the feedback. We have raised the Request to correct this document.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/105619

[2020-02-26 16:01] vhorne commented on #48262
Articles updated
#please-close

[2020-02-26 16:01] #48262 closed

[2020-02-26 16:04] sean-nixon commented on #48146
@femsulu Shouldn't the Azure documentation be updated to reflect that if that's the case?

[2020-02-26 16:08] BharathNimmala-MSFT commented on #48964
@sinner883 Thank you for taking time to provide this feedback , we appreciate it. Will forward this feedback to our product team. However if you have any further queries regarding the document or product please let us know. Thanks

[2020-02-26 16:09] BharathNimmala-MSFT commented on #48971
@ciufudean Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-26 16:11] NavtejSaini-MSFT commented on #48938
@dcbrown16 Thanks for the feedback again, We are checking this with doc author for more insights.
@srdan-bozovic-msft Please convey if this link would be more appropriate  - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-public-endpoint-configure rather than https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-find-management-endpoint

[2020-02-26 16:12] BharathNimmala-MSFT commented on #48951
@aws-scripting-guy Thank you for your feedback, we will further validate it and get back to you at the earliest.

[2020-02-26 16:13] stewalshy commented on #43323
The settings described in this article don't match the current options available in the Azure AD admin center and the information provided in the admin center isn't entirely clear. Can the article be updated to reflect the current options as below:

Self Service Group Management:
Owners can manage group membership requests in the Access Panel
Restrict access to Groups in the Access Panel

Security

[2020-02-26 16:14] BharathNimmala-MSFT commented on #48952
@nareshnagpal06 Thank you for reaching out to us, we will further validate it from our side and get back to you at the earliest.

[2020-02-26 16:15] JasonWHowell commented on #48629
@jpconnock screenshot update request FYI

[2020-02-26 16:16] JasonWHowell commented on #48647
@jpconnock doc enhancement request FYI

[2020-02-26 16:16] yoelhor commented on #48883
Sorry, we don’t have this feature coming up in the next while. I'm filing a feature request for you.

[2020-02-26 16:17] BharathNimmala-MSFT commented on #48973
@ciufudean Thank you for your query , we will further look into it and get back to you at the earliest.

[2020-02-26 16:17] SumanthMarigowda-MSFT commented on #48956
@Digiroka Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-26 16:19] BharathNimmala-MSFT commented on #48982
@ababdul Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-26 16:20] BharathNimmala-MSFT commented on #48959
@jethrovaneetvelde Thank you for sharing the information on the document link. We will further look into this and get back to you at the earliest.

[2020-02-26 16:23] BharathNimmala-MSFT commented on #48984
@A-M-D Thank you for bringing this to our notice , we will further validate it and update the document accordingly.

[2020-02-26 16:23] SumanthMarigowda-MSFT commented on #48689
@blair0011 For better understanding : May I know what exactly are you trying to perform? Can you provide more info on your query?

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata If the issue isn't related to the documentation.

[2020-02-26 16:24] JasonWHowell commented on #48975
@dgshaver Thanks for the feedback as a trusty CSS expert.
@hrasheed-msft Can we call out the error text in a note to be sure folks know which steps to focus on? Or does it belong in a separate troubleshooting doc?
Thanks, Jason

[2020-02-26 16:24] SumanthMarigowda-MSFT commented on #48715
@Ajay-Changulani Firstly, apologies for the delay in responding here
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-26 16:27] SumanthMarigowda-MSFT commented on #48733
@eyast Firstly, apologies for the delay in responding here!
 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-26 16:30] SumanthMarigowda-MSFT commented on #48741
@pszabolcsgraphisoft The PR request has been raised!

[2020-02-26 16:31] jovancosta-bairesdev commented on #48899
I was checking the azure control(AIM) and I checked that I have the role: contributor
could you check if you have a different role than these?
![image](https://user-images.githubusercontent.com/61162495/75365377-e26a1680-589b-11ea-92d9-11db98c725c2.png)
![image](https://user-images.githubusercontent.com/61162495/75365677-47257100-589c-11ea-8454-53676b08c569.png)

[2020-02-26 16:32] jmprieur commented on #48862
We need to refresh to code based on the latest version of the sample.
Note that, we are also working on releasing Microsoft.Identity.Web as a NuGet package (think of it as MSAL for Web or MSAL for services, applied to .NET)

[2020-02-26 16:32] SumanthMarigowda-MSFT commented on #48773
@shusharm Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-26 16:32] #48679 closed

[2020-02-26 16:33] hoangpx opened #48989 "makecert syntax"
Pls check again syntax for makecert command. You open a double quote but don't close it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44fa98af-834b-6e58-9162-abc3d62f97c4
* Version Independent ID: a04ffab8-1325-318b-214d-e331ef09d225
* Content: [Securely access Key Vault with Batch - Azure Batch - Azure Batch](https:

[2020-02-26 16:38] sonalinoolkar opened #48990 "unable to connect to Managed Instance on port 1433 from VM in the network and different subnet"
I am unable to connect to Managed Instance on port 1433 from an Azure virtual machine within the same VNet but different subnet.  I have enabled the inbound and outbound rules for port 1433 and 11000-11999 in the Network Security Group set on VM subnet.

In the Managed Instance configuration, i have tried to configure Connection type (private endpoint) as Redirect as well as Proxy. But still unabl

[2020-02-26 16:40] SumanthMarigowda-MSFT commented on #48901
@eflamm Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-26 16:41] mamccrea commented on #47716
Hi @jackt-moran! I wanted to let you know that we're still investigating this issue. Thank you for your patience.

[2020-02-26 16:45] kevinrosal opened #48991 "Match and lessorEquals"
im using match to make a policy for tags date format to be yyyy-MM-dd

so in my policy definition my match is: ####-##-##

the issue i've had is i parsed out the middle ## and do lessorEquals 12 but that doesnt seem to work properly upon assignment? so not sure if lessorEquals supports "#" to know that its a number and do the comparison.

"if": {
           "allOf":[
          {
            "not":

[2020-02-26 16:46] timgriff84 opened #48992 "JobHostConfiguration.FunctionTimeout doesn't exist in SDK 3"
The timeout attribute details that a global value can be set in JobHostConfiguration.FunctionTimeout but this doesn't exist in SDK 3.0 and there's no refference to what is replacing it.

[2020-02-26 16:51] AshokPeddakotla-MSFT commented on #48500
Are you still blocked? I don't see any issues with rendering. Please check the above response and let us know if you need further help.

[2020-02-26 16:57] DCtheGeek commented on #48991
#assign:DCtheGeek

[2020-02-26 16:58] AjayKumar-MSFT commented on #48845
We will close this out, but if you feel you need more information please just let us know.

[2020-02-26 16:58] #48845 closed

[2020-02-26 17:06] Karishma-Tiwari-MSFT commented on #48583
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-26 17:07] DCtheGeek commented on #48991
@kevinrosal Thanks for the question.  A couple of things here:

- `match` and `notMatch` are the only conditions that support `#`. You likely need to change part of the rule to `"match": "####-##-##"` to match that it's all digits in that format.
- `{var.format}` isn't a supported template function.  As such, it's currently string literal matching that and failing. You can use a parameter (see [Us

[2020-02-26 17:07] #48991 closed

[2020-02-26 17:11] DCtheGeek commented on #48951
#reassign:DCtheGeek

[2020-02-26 17:12] DCtheGeek commented on #48951
@aws-scripting-guy I'm looking into this with engineering.  Thanks for the feedback.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-02-26 17:12] davidbel commented on #48944
Hi @agassijoelbrio, I also saw a report of a similar issue on the Windows Virtual Desktop Tech Community site, was that from you?

[2020-02-26 17:14] roygara commented on #48741
@pszabolcsgraphisoft Thanks for bringing this to our attention, we appreciate it! We've merged the PR and the fix will be live later today.

Accordingly, I'll close this out.

#please-close

@SumanthMarigowda-MSFT FYI

[2020-02-26 17:14] #48741 closed

[2020-02-26 17:16] davidsmatlak commented on #46870
Submitted a work item and requested an update about the availability of information for agent version **9.32.5487.1** so that the documentation can be updated.

[2020-02-26 17:17] DCtheGeek commented on #48991
As an added note, we have a bunch of built-in definitions and patterns that you can see here: https://docs.microsoft.com/azure/governance/policy/samples/index.  The source for all the built-ins are available on GitHub and can be used as additional guidance for crafting your own custom policy definition.

[2020-02-26 17:17] KrishnaG-MSFT commented on #48668
@jmf2n I have checked internally with Azure Arc product / engineering team and have got below update.

We install the package using below command and I hope you have followed the same.

`msiexec /i AzureConnectedMachineAgent.msi /l*v installationlog.txt /qn | Out-String`

ROOTDRIVE is a windows installer property that's documented [here](https://docs.microsoft.com/en-us/windows/win32/msi/rootdrive

[2020-02-26 17:19] KrishnaG-MSFT commented on #48991
@DCtheGeek Thanks for the super quick response. 👍

[2020-02-26 17:23] DCtheGeek commented on #48661
@CharmanderJieniJieni I'm meeting with the team to discuss adding the link and a new format for the docs tomorrow. Since your immediate question has been resolved, I'm going to close this Issue. If you have additional questions or feedback about the docs, please open a new Issue.  Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-02-26 17:23] #48661 closed

[2020-02-26 17:23] JasSuri commented on #43774
We use scope: openid when we need an id_token, as requested with the respective response_type param (Id_token). In your case, when you just need an access token to a resource, the scope of the resource and offline_access (for refresh token) would be right, with response_type: code.

The example here is for getting just an access token:
https://docs.microsoft.com/en-gb/azure/active-directory-b2c/au

[2020-02-26 17:23] jmf2n commented on #48668
Yes, that's the string we use to install.  It is the string verbatim from the docs.  I will send you the log output from the 4 machines at the address you specified later today.  There's no actual V drive on these machines and yet that's what it detected on at least one of them.  I don't know if this is the ACTUAL reason for the failures but it seems plausible due to the 'file not found' portion o

[2020-02-26 17:24] skadeb87 commented on #48825
@yuemlu  East US is listed in the supported region list and that is where I am trying and receiving the error message.

[2020-02-26 17:25] hamiltonha commented on #45442
Hi @sarah026 , new documentation reflecting the latest OAuth recommendations is in the process of being written now to support MSAL.js 2.0. MSAL.js 2.0 should be ready for use in prod in the next month and will enable SPAs to use the Auth Code flow.

[2020-02-26 17:38] mhopkins-msft commented on #48733
Hi @eyast

This article specifically refers to the Python SDK v2.1 and is correct for that version. Perhaps you are using the latest, v12, SDK. If that is the case, please see the following article, which discusses v12.

https://docs.microsoft.com/en-us/azure/storage/queues/storage-quickstart-queues-python

Thanks!
 ~ _Mark_

#please-close

[2020-02-26 17:38] #48733 closed

[2020-02-26 17:42] chintanrp commented on #36664
@AlexisJackson - I'm facing the similar issue. Can you let me know hoe exactly did you solve that? How did you provided reader access to the UMI itself?

[2020-02-26 17:42] stdistef opened #48994 "Does this work for VMs built without an AS?"
Is this intended to add VMs which were mistakenly created without an associated Availability Set to a new or existing AS?   Want to make sure I don't misunderstand.   Or is it just for 'changing' the assigned AS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent I

[2020-02-26 17:43] mihaibudurescu opened #48995 "The identity error report not received anymore"
Since January this year for our tenant, these reports are not received anymore, although we have recent sync errors shown on the O365 dashboard. We have a ticket with Microsoft, no solution until now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6addd727-64bb-f71d-acf2-850220ba8973
* Version Independent ID: 74342c05-

[2020-02-26 17:47] stgeorgi commented on #28072
Please escalate via Azure support, They will be able to gather the needed information and identify the root cause.

[2020-02-26 17:49] darzu commented on #48635
I was able to find the documentation after some searching, that wasn't what this issue was about. I believe the Azure documentation for App Service would be improved if this link and preferably a small example was included in the original tutorial.

[2020-02-26 17:52] mbiver opened #48996 "Allowing 168.63.129.16 in Firewall?"
I was reading through the article "https://docs.microsoft.com/en-us/archive/blogs/supportingwindows/what-is-the-ip-address-168-63-129-16" that discusses IP Address 168.63.129.16.  The article says that "it is recommended that this IP be allowed in any local firewall policies" but I don't see any commands or instructions above for allowing this IP Address in custom images.  If we don't explicitly a

[2020-02-26 17:57] Minewiskan commented on #48206
@hagaic - Thanks for pointing this out. There may be a bug here. We're looking into it.

[2020-02-26 17:58] sth2258 commented on #43030
Is it really not correct that Mac and AD Authentication are not supported?? Below link would suggest otherwise.

https://azure.microsoft.com/en-us/updates/p2s-vpn-for-macs-and-ad-domain-authentication-for-p2s-vpn/

[2020-02-26 18:06] SaurabhSharma-MSFT commented on #48958
@jseerden Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 18:08] beniluul commented on #48271
Only thing left is to have the Enterprise Application to be renamed to Saba TalentSpace and put the current logo:

https://dl.dropboxusercontent.com/s/23b83353azzct7k/EnterpriseApp.mp4?dl=0

[2020-02-26 18:08] thnk2wn opened #48998 "Guidance for larger IoT Edge modules, multiple repositories"
I'm not seeing any guidance on this page, related pages, or elsewhere in IoT Edge developer documentation for developing real world, larger modules. These simple small modules are fine for getting started but there are a number of questions for building non-trivial, larger sets of modules:

1) Can modules easily be split out into their own Git repos or is a monorepo expected / required and difficu

[2020-02-26 18:08] DCtheGeek commented on #48951
@aws-scripting-guy You are correct!  Portal and PowerShell handle the registration, but it must be done manually for REST API. I'm updating the doc now.  As soon as the change is merged, this issue will automatically be closed.  Thanks for pointing out this gap!

[2020-02-26 18:16] cmedgile commented on #23029
bump, please address.

Client is concerned about Google throttling of OAuth logins to unverified domains, in particular custom.loginb2c.com, which is the display name of the consent screen (as configured from the Google console portal)

[2020-02-26 18:17] #48951 closed

[2020-02-26 18:17] cynthn commented on #48994
@stdistef It could be used for both, but it still means you need to delete and then recreate the virtual machine. You can't put a VM in an availability set or move it to a different VM set after it has been deployed, you have delete  and then recreate the virtual machine.

[2020-02-26 18:17] SaurabhSharma-MSFT commented on #48960
@grahambird80 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 18:17] cmedgile commented on #48856
Please cross reference issue 23029

[2020-02-26 18:18] SaurabhSharma-MSFT commented on #48980
@josuvil Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 18:18] Mike-Ubezzi-MSFT commented on #48565
@manueljesusrd Please see this multipart tutorial ([Configure an IoT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-machine-learning-edge-05-configure-edge-device)) which discusses the configuration of Key Vault and using certificates. By following this tutorial, you will be able to leverage the example PowerShell scripts. The tutorial references directory paths and scripts

[2020-02-26 18:19] SaurabhSharma-MSFT commented on #48981
@kphtx Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-26 18:19] onkarthg commented on #48963
Hello @BhargaviAnnadevara-MSFT  This will client requirement they want to authenticate (integrate) their postgressSQL  with key vault using some python code so when they login to postgressSQL server the credentials authenticate automatically using azure key vault.. so I was check MS_DOC but i didn't get any details so I was raised issue on this similar MS_DOC please help out me in this case....Tha

[2020-02-26 18:23] SaurabhSharma-MSFT commented on #48995
@mihaibudurescu Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 18:24] stdistef commented on #48994
Thanks!

Steve DiStefano
Sr Cloud Solution Architect – Azure Apps and Infrastructure
Customer Success Unit
stdistef@microsoft.com<mailto:stdistef@microsoft.com> LinkedIn<https://www.linkedin.com/in/steve-distefano-6045b/>
Teams + Mobile: 919.474.4918

[cid:image001.jpg@01D5ECA8.022297A0]

[microsoft-certified-azure-solutions-architect-expert][cid:image003.jpg@01D5ECA8.022297A0]

From: Cynthia Nott

[2020-02-26 18:25] SaurabhSharma-MSFT commented on #48995
@mihaibudurescu Apologies for your trouble.  can you please send an email to azcommunity[at]microsoft[dot]com with your Case Number and the link of this thread so that I can check this internally.

[2020-02-26 18:25] thnk2wn opened #48999 "VS Code vs Visual Studio for IoT Edge Development"
"We recommend using Visual Studio Code to develop for Linux devices" - can that statement be further explained? Why is that case and what are the tradeoffs, pros/cons, limitations or advantages of using one vs the other to target Linux devices? Is it simply because VS Code can run on Linux and VS can't, even though VS can be used on Windows with Linux containers?

---
#### Document Details

⚠ *Do

[2020-02-26 18:25] YutongTie-MSFT commented on #48664
@diberry  Hi Dina, could you please check on this issue? Thanks.

[2020-02-26 18:27] divyaswarnkar commented on #47279
@mganeshphani thanks for the confirmation. Your observation is valid, the copy file operation can transfer file size upto the size of the chunk which could be upto 50 MB. We are updating the documentation to correct the limits and clarify this behavior.

[2020-02-26 18:28] lichunli-ms commented on #47581
@Aitor1972 if you still haven't been whitelisted for ANF, could you please send your subscription ID to anffeedback@microsoft.com and we can fasttrack your request?

Snapshot policy is not available at the moment but we're working on adding it.

[2020-02-26 18:34] diberry commented on #48664
@BryanTrach-MSFT This looks like a service issue. The customer needs to log the issue from inside the QnA Maker portal - is that possible @convergine - do you have access to the portal?

![image](https://user-images.githubusercontent.com/41597107/75375726-83000c80-5883-11ea-918f-b525dcdf40d2.png)

[2020-02-26 18:34] AnatoliB commented on #48704
@aws-scripting-guy I would suggest filing a new issue under https://github.com/Azure/azure-functions-powershell-worker/issues. We will take a look at your scenario anyway, but the azure-functions-powershell-worker is a better place to have a focused discussion on this first. Depending on the details, we may discover that the issue should be fixed rather than documented.

[2020-02-26 18:34] AlexisJackson commented on #36664
@chintanrp You have to go into the UMI resource, select "Access control" and add a Role assignment that grants Read access to the UMI in question. So as an example:

UMI = test-user-managed-identity
Role assignment on the above UMI would be to grant Read access to the same UMI, test-user-managed-identity.

Hope this helps!

[2020-02-26 18:35] yoelhor commented on #47947
Dear @manzinge The new claims transformation is published now https://docs.microsoft.com/en-us/azure/active-directory-b2c/phone-number-claims-transformations

[2020-02-26 18:38] maschad96 opened #49000 "Accessibility - Empty links"
On lines 367 and 147 there are empty links with only name attributes. This is causing confusion for screenreader users who only hear the announcement 'Clickable'.

`<a name="probe"></a>`
`<a name="ports"></a>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45511218-137b-ba77-3e15-8af90f16c05b
* Version Independent ID:

[2020-02-26 18:40] SaurabhSharma-MSFT commented on #48965
@theheatDK Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 18:44] #48924 closed

[2020-02-26 18:45] Grace-MacJones-MSFT commented on #48979
Hi @piekenpuil, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-02-26 18:46] Grace-MacJones-MSFT commented on #48978
Hi @anaskalash,thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-02-26 18:48] billmath commented on #45585
Hi @jvplopper

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

[2020-02-26 18:49] billmath commented on #45585
#please-close

[2020-02-26 18:49] #45585 closed

[2020-02-26 18:49] KrishnaG-MSFT commented on #48668
@jmf2n Sure. I will wait for your email with log file and details regarding another new issue. Can you also give more context regarding -> "**I don't know if this is the ACTUAL reason for the failures but it seems plausible due to the 'file not found' portion of the errors - not so much the "unable to detect OS" portion.**"

Just FYI, the scope of [this](https://github.com/MicrosoftDocs/azure-docs

[2020-02-26 18:50] billmath commented on #45701
Hi @fvanrijt

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

[2020-02-26 18:50] billmath commented on #45701
#please-close

[2020-02-26 18:50] #45701 closed

[2020-02-26 18:51] manueljesusrd commented on #48565
Hi @Mike-Ubezzi-MSFT .
I'm sorry, but after reading that tutorial (which I already did some days ago) I'm a little bit more confused. That tutorial says that you HAVE to download your certificates into a folder of your Edge. This doesn't make sense in terms of security, does it? I mean, even though you securely store the certificates in your KeyVault, at the end of the day you have to put them in

[2020-02-26 18:52] billmath commented on #45702
Hi @fvanrijt

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-02-26 18:52] #45702 closed

[2020-02-26 18:53] billmath commented on #45744
Hi @franklesniak

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-02-26 18:53] #45744 closed

[2020-02-26 18:55] iricigor opened #49001 "IMDS authorization"
Is there any authorization on Azure IMDS? By default setup, all VM users can access it, obtain token and execute further actions as managed identity. Can this access be limited to elevated or selected group of users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1-7081-cf6e-b7f9-e700a16faa9a
* Version Independe

[2020-02-26 18:55] FrankHu-MSFT commented on #48571
@jshaft1971 if you're referring to ROPC flow which is username and password flow then yes that flow will stop working as it's considered legacy auth.

MFA will stop all ROPC flows from working properly,

Thank you for clarifying and since this has been addressed I will be closing out this github issue if you have anymore concerns please let us know by opening a new github issue. thanks

[2020-02-26 18:55] #48571 closed

[2020-02-26 18:57] billmath commented on #45803
@qu0vad1s Thank you for the issue.  You can find additional information on Alternate ID here: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configuring-alternate-login-id

This is specific to AD FS.

Thanks!

#please-close

[2020-02-26 18:57] #45803 closed

[2020-02-26 18:58] eleyeth opened #49002 "error"
I keep getting a nameerror: name "response' is not defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d65211b6-d520-568c-b6c3-ae1608a2399c
* Version Independent ID: 94a5369c-e4d6-6f59-0009-29c8d8cf90e3
* Content: [Quickstart: Detect data anomalies using the Anomaly Detector client library for Python - Azure Cogniti

[2020-02-26 19:01] laglergruener commented on #43030
Hi, Mac and AD Authentication is supported sure, but the point here is the new P2S Azure AD authentication, which isn’t supported right now.
For more information visit my blog:
https://www.cloudblogger.at/2019/11/16/azure-p2s-azure-authentication-in-preview/

Regards,
Hannes

[2020-02-26 19:04] shashishailaj commented on #47024
We have requested the content team to check on this as to how best the documentation can be improved.

[2020-02-26 19:08] Karishma-Tiwari-MSFT commented on #48655
Thanks @yyanev  :)
@springcomp Did it help?

[2020-02-26 19:09] #48798 closed

[2020-02-26 19:09] Karishma-Tiwari-MSFT commented on #48596
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-26 19:11] jovancosta-bairesdev commented on #48899
problem solved:
a product owner linked the azure AD with the subscribed devops and it's working fine now.
I don't know exactly where he made this association.

[2020-02-26 19:13] mshinnie opened #49003 ".Net Core"
Is it possible to use app configuration with key vault references with azure functions?  It seems like you need the IWebHostBuilder to do this.  Also would there be any practical reason for doing this other than just directly using the key vault, or some other way to secure your secrets in azure app configuration with using functions?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-02-26 19:13] dlindner-elogic commented on #48952
I too am seeing this error.  If I create and use Default-ActivityLogAlerts resource group, all works well.  If I attempt to use any other resource group ... it will just assign to Default-ActivityLogAlerts regardless of my RG selection.  If I delete the Default-ActivityLogAlerts RG, I will fail to create action groups.

[2020-02-26 19:16] MarileeTurscak-MSFT commented on #48719
See the note in purple [here](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-backup-recovery#to-provide-additional-verification-for-personal-accounts
). It has links about where to get the QR code.

Also, I believe if you can access your account via browser, you can go to the Security and Privacy page > additional security verification > set up authenticator a

[2020-02-26 19:16] #48719 closed

[2020-02-26 19:17] shooker opened #49004 "NSG rules on Private Endpoints Inconsistency"
In this document: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview it says Private Endpoints aren't supported by NSGs, however, the rest of the subnet is still supported.

On this page, it says NSG rules will not work on the subnet at all. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-26 19:23] mganeshphani commented on #47279
Thankyou @divyaswarnkar .. it would be impossible for customers to ignore Logicapps for their solution by checking documentation. are your PM's we trying to make sure the docs are updated in a timely fashion?

[2020-02-26 19:27] tgskiman commented on #48384
I'm using VS 2019 and using the code inside an Azure Function project (.NET Core 3.1). I am accessing the API via Microsoft.Azure.WebJobs.Extensions.Storage V 3.0.10. With a default on the BlobContinuation Token I receive a compile error (Use of unassigned local variable) on that variable inside of the "ListBlobsSegmentsedAsycn" method.

![image](https://user-images.githubusercontent.com/5991841/7

[2020-02-26 19:44] Mike-Ubezzi-MSFT commented on #48565
@manueljesusrd What you are looking for is an application example of using Key Vault where the certificate authentication does not require placing the certificate on the device itself. In searching through available IoT [reference architectures](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/iot/) and example workloads/sample workloads, there is no Key Vault integratio

[2020-02-26 19:45] springcomp commented on #48655
@Karishma-Tiwari-MSFT

Thanks a lot for this answer.
Well, @yyanev’s answer helps in the sense that it seems that what I want to achieve is possible.
However, none of the settings I have tried seem to work, so I’m still not completely sure this works.

To be clear:

I need to create regular users, without an @, with the following authentication methods:
- private key + passphrase (but no password)

[2020-02-26 19:47] enginaar commented on #48972
This is happening to me with CLI version 2.1 and in Cloud Shell. More details [here](https://github.com/Azure/azure-cli/issues/12366)

[2020-02-26 19:48] billmath commented on #46432
@mybm3w Thank you for this issue.  I have told from engineering that this fix was put in to production yesterday.  I would say go ahead and try again.  Thanks!

#please-close

[2020-02-26 19:48] #46432 closed

[2020-02-26 19:53] ChrisCochrun opened #49005 "Tell us it isn't available yet right away"
I don't know who all writes the documentation for Microsoft, but please understand that we don't all have infinite time to read every detail of your documentation. Move the fact that the SDK is in development clear to the top please. This will tell everyone that yes you are working on it, but it isn't available yet. Also, you could pretty easily change the title of this article to reflect that as

[2020-02-26 19:53] mshinnie opened #49006 "Accessing Different Labels"
Hello so I'm not able to find how to choose one key over another based on the label.  I have followed the azure functions quick start with app app configuration.  Do you edit the string you pass into the Configuration[&lt;keyName&gt;] to choose which label to select?  Also what is the usual best practice for editing which label you want to currently use, do you hardcode it?

---
#### Document Deta

[2020-02-26 19:55] billmath commented on #46372
@webash Thank you for the issue.

The Exchange Hybrid Deployment feature allows for the co-existence of Exchange mailboxes both on-premises and in Office 365. Azure AD Connect is synchronizing a specific set of attributes from Azure AD back into your on-premises directory.  The cloud provisioning agent currently does not synchronize these attributes back into your on-premises directory and thus it

[2020-02-26 19:55] #46372 closed

[2020-02-26 19:55] nbubna commented on #45225
I would love more info on URL rewriting as well. We are trying to serve up a SPA (single page app) from the CDN. The SPA is composed of purely static assets, so it seems like an excellent fit. The one caveat is that we need the CDN to serve up /index.html for any request that does not have a file extension (i.e. support client-side "history mode" routing, a common front-end design these days).

So

[2020-02-26 19:55] dotnetgator commented on #48883
There is a **_COMPLETE HACK_** that works, but seriously, consider using a REST Technical profile and send the string claim value and the string collection and ask the REST operation to figure it out.

Otherwise (and again, this is a HACK), if you can tolerate modifying the collection, then you can add your claim to the collection using a `AddItemToStringCollection` Claims Transformation. If the i

[2020-02-26 19:57] Devnsyde commented on #47198
I am also having issues with this and am unable to find good documentation for it. I have app insights hitting the txt file every ten seconds and returning a slew of errors. I am just not sure how to stop it and I have Always on set to off in the general settings of the config for my app service. I tried adding the txt file to the root of my VS project and setting its build info to content and cop

[2020-02-26 19:57] theheatDK commented on #48719
Thanks @MarileeTurscak-MSFT
I did look at the purple note and I do not understand how it will help in this situation.
I can also see that I am not the first to ask this question, so maybe some information is missing? :-)
My question is regarding the situation where you do not have an existing working session in a browser, but where you have restored an Authenticator backup from iCloud.
Regards Pet

[2020-02-26 19:59] dotnetgator opened #49007 "AddItemToStringCollection should be updated to indicate what happens when a value collision occurs"
AddItemToStringCollection doe snot describe what happens when the claim value being added is already in the collection. Testing this, if the claim value is already in the collection, the collection appears to be unmodified (ie a duplicate entry is NOT added to the collection.) But it would be helpful to document/spec this behavior.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-02-26 20:00] yyanev commented on #48655
I am not very familiar with Linux and haven’t heard before about the combination of private key + passphrase. I know that if you have a private key and the public key is in authorized_keys (but doesn’t need a passphrase), it should work. From what you explain, the login doesn’t ask you about the device code, which means that the aad PAM is skipped, but the unix PAM wants the user to have a passwor

[2020-02-26 20:10] achakilam1022 opened #49008 "Error in Deployment in Azure ML with Designer (preview)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d019e5f-d971-b4f4-5fcf-2072ad30dec7
* Version Independent ID: 14a7de84-6cd6-ebeb-df6c-2d93dfadb742
* Content: [Tutorial: Deploy a machine learning model with the designer - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learni

[2020-02-26 20:12] achakilam1022 commented on #49008
Here is the error message we are seeing

_Update: Failed on step TestWithSampleData. Details: Get the error http response from webserviceId d4465b47-efe0-4261-a70b-dbbe456ba030, content:Test scoring run doesn't get result after 1 retries in 21 seconds. Error: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed be

[2020-02-26 20:28] kevinrosal commented on #48991
I did exactly that and encountered a different issue.

Policy Rule:

"if": {
           "allOf":[
          {
            "not": {
              "field": "[concat('tags[', parameters('tagName'), ']')]",
              "match": "[parameters('dateFormat')]"
            }
          },
            {
            "not": {
              "value": "[substring(parameters('dateFormat'), 5, 2)]",

[2020-02-26 20:35] roygara commented on #48320
Glad to help, thanks for reaching out. :)

#please-close

[2020-02-26 20:35] #48320 closed

[2020-02-26 20:41] FrankHu-MSFT commented on #49001
@iricigor Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 20:41] FrankHu-MSFT commented on #49007
@dotnetgator Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 20:42] MashaMSFT commented on #49000
Hi @maschad96 , thanks for bringing this to our attention! I've submitted a fix to resolve this and it should be live later today.

Thanks for improving our documentation!

Masha from the SQL Docs team
#please-close

[2020-02-26 20:42] #49000 closed

[2020-02-26 21:08] mike-urnun-msft commented on #48968
@mlandtved Thank you for your feedback! We will review and update as appropriate.

[2020-02-26 21:15] mike-urnun-msft commented on #48992
@timgriff84 Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of documentation that your feedback is most applicable to?

[2020-02-26 21:21] MiloDi opened #49010 "Error linking with Git: Unexpected character ('<' (code 60)):"
Following the instructions provided above, I seem to be unable to link the Azure DevOps repository to the Azure Databricks notebook. Once I hit save, the link fails immediately and provides something about and Error while synching git history. When I attempt to create a new branch off of master and hit save I get the following output:

Error linking with Git: Unexpected character ('&lt;' (code 60)

[2020-02-26 21:24] NavtejSaini-MSFT commented on #48983
@MaxFrost We are checking this and will get back to you.

[2020-02-26 21:25] NavtejSaini-MSFT commented on #48990
@sonalinoolkar We are checking this and we will work regarding the same.

[2020-02-26 21:30] BharathNimmala-MSFT commented on #48658
Thank you @hew85 for sharing the documentation link. Will route the request accordingly.

[2020-02-26 21:32] MiloDi commented on #49010
Edit: My link URL follows the format: https://dev.azure.com/myOrg/myProject/_git/myRepo
The project and repo share the same name

[2020-02-26 21:32] kmoore-riphaina opened #49011 "code sample doesn't work"
i used the code sample provided using the west2 region and am getting connection refused

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec7afeb1-ee6a-0e11-2c0d-93ba81c04846
* Version Independent ID: 51fe73be-2cb7-7607-e937-a7d4ed04928c
* Content: [Quickstart: Recognize speech stored in blob storage - Azure Cognitive Se

[2020-02-26 21:37] iainfoulds commented on #48680
Thanks for the feedback, @git14.

The pre-reqs note that you must have version 1.4.32.0 or later of Azure AD Connect installed, and links off to the configuration guide - https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-install-roadmap#install-azure-ad-connect

The configuration of Azure AD Connect is a little out of scope of this doc since you can configure as needed for yo

[2020-02-26 21:37] BharathNimmala-MSFT commented on #48963
@onkarthg Can you please share the similar documentation link you are referring that would help to route this issue to right team members who can further help you.

[2020-02-26 21:38] IEvangelist commented on #49011
Hi @kmoore-riphaina,

Could you please provide mode detail:
- What programming language are you using for this quickstart?
- Is there any addition information in the "connection refused" error message?
- At what part in the code does this error get raised?

Happy to help, just need more context. I look forward to hearing back from you.

[2020-02-26 21:42] kmoore-riphaina commented on #49011
I’m trying to upload a wav file for transcripting.
C#
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: The underlying connection was closed: An unexpected error occurred on a send. ---> System.IO.IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host. ---> System.N

[2020-02-26 21:43] iainfoulds commented on #45887
The doc has been updated with latest licensing information, and in this scenario it does indeed only apply to Azure AD tenant admins, not additional admin roles you could assign.

#please-close

[2020-02-26 21:43] #45887 closed

[2020-02-26 21:44] BharathNimmala-MSFT commented on #48970
@kismet-cai  Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-02-26 21:59] vhorne commented on #46224
@Nikhil-Vaish-ERC
The rule applies to any client. If want to further scope this, you can use additional match conditions.
Article updated.
#please-close

[2020-02-26 21:59] #46224 closed

[2020-02-26 22:00] nera16 opened #49015 "Add error code 3221225477 and details around it"
Please add in details around error code 3221225477 for code package activation error that service fabric throws. Can we also add in details for other common error codes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f541a9f9-4be2-9537-5f94-bbfa02cf72ca
* Version Independent ID: c44b249f-243f-6a2d-fd34-9a8497102076
* C

[2020-02-26 22:00] fisheyemh commented on #34451
I have the same problem too, azure guys, please!

[2020-02-26 22:13] mike-urnun-msft commented on #43301
@jeremytbrun Thanks for sharing your experience and documenting an insightful writeup on this scenario here. Surely, it'll benefit others visiting this thread in the future.

Since we haven't determined any doc change with regards to the scope of content on this particular documentation, we will now proceed to close this thread for now. If there are further questions regarding this matter, please

[2020-02-26 22:13] #43301 closed

[2020-02-26 22:16] blmiles opened #49016 "Update Mobile App Service documentation!"
Hello, please update this documentation with complete how-to instructions on setting up a data sync service as WAS AVAILABLE using Easy Tables.

Why was Easy Tables removed?

What has replaced it and can we please have clear instructions posted to help guide this setup, including creating/adding tables, without the Easy Table functionality?

Ridiculous!

---
#### Document Details

⚠ *Do not edit t

[2020-02-26 22:17] mc0re opened #49017 "Wat about DRM download scenario?"
All examples talk about streaming. How can I create a DRM-protected file to be able to fetch it locally (and distribute)? The license is still to be retrieved online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c75e8fa-2e91-d600-417c-2de6f9d98c21
* Version Independent ID: 09063127-7d0a-db1d-c2d1-69f7fb3fa3ac
* Cont

[2020-02-26 22:20] christiankdavis opened #49018 "Receiving 401 unauthorized error"
I followed these steps to trigger a TimeTrigger function and am receiving a 401 error in response. I used the master key and the function has anonymous access enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Con

[2020-02-26 22:23] yashesvi commented on #48544
Standard_NV32ms_v3 is at 1.333333333, which is correct.
Standard_M64ls  is 1.8846875

You seem to be missing the decimals. They are in the CSV.

Yes it will be auto-updated.

From: tom-ditlev <notifications@github.com>
Sent: Thursday, February 20, 2020 11:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yashesvi Sharma <yashar@microsoft.com>; Mention <mention@noreply.github.c

[2020-02-26 22:25] christiankdavis commented on #49018
Found the error. I was trying to reuse a POST method in powershell that had the header title of x-api-key instead of x-functions-key. This can be closed.

[2020-02-26 22:31] convergine commented on #48664
@diberry will do that, thanks.

[2020-02-26 22:38] lfittl-msft commented on #48963
Hi @onkarthg,

Instead of utilizing Azure Key Vault, I would recommend looking into Azure AD authentication for this use case:

https://docs.microsoft.com/en-us/azure/postgresql/concepts-aad-authentication

That way your client could create an Azure AD application, and then use an AD client certificate to acquire an AD token - they would then use that for logging into the database.

We don't have

[2020-02-26 22:41] holtwilkins commented on #31188
Hey @danielsollondon , I'm also seeing this issue pretty regularly with Win10 images, specifically I'm using offer `Windows-10` and sku `19h2-evd`. Any thoughts on when the issue will be fixed for this, or should I be using a different sku? I'm building for Windows Virtual Desktop, hence why I'm using the evd sku, but not sure if it matters?

[2020-02-26 22:46] trhodes9 opened #49020 "Got error when I ran this"
2/26/2020, 2:38:32 PM
Error
Connections asset not found. To create this Connections asset, navigate to the Assets blade and create a Connections asset named: AzureRunAsConnection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c2cc34-ba4a-1181-ccda-88dd901e0212
* Version Independent ID: 9b4a3b68-03fc-387a-ee5d-e7f73e

[2020-02-26 22:57] okcerk opened #49021 "Not being able to read public certs"
I followed all of these instructions under a Consumption (Serverless) plan and was not able to get it working (linux azure function). I keep getting a documentnotfoundexception when trying to readAllBytes using the correct thumbprint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf6dd80-7e07-3e24-7aa8-d3f278f34588
*

[2020-02-26 23:04] #48940 closed

[2020-02-26 23:08] deepikabandhanadham opened #49022 "time() in local timezone"
In the example to allocate nodes based on time(), since it is referring to UTC time zone, how would you modify it for local time zone (may be PST)?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d888d2f-3a20-bb80-c600-074089e1d0f9
* Version Independent ID: 2d365860-2876-50fe-e075-e89b92520833
* C

[2020-02-26 23:10] SaurabhSharma-MSFT commented on #48958
@jseerden I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-02-26 23:12] deepikabandhanadham commented on #49022
An example would be helpful

[2020-02-26 23:26] dcbrown16 opened #49023 "FTP setting"
Please add info on the "FTP state" dropdown menu available under Platform settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content: [Configure apps in the portal - Azure App Service](https://docs.microsoft.com/

[2020-02-26 23:27] dcbrown16 commented on #49023
At least a link to here:
https://docs.microsoft.com/en-us/azure/app-service/deploy-ftp#enforce-ftps

[2020-02-26 23:30] SaurabhSharma-MSFT commented on #48898
@dparraga We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-26 23:30] #48898 closed

[2020-02-26 23:32] jdelforno opened #49024 "Provide Table Data as JSON"
Could you please provide the table data as a JSON for us to make use of programmatically?

Managers don't care about the 'accurate' sku names listed via the Graph API, they only care about what they see in the portal matching up with what's on reports.

As it stands, manually updating our table references (usually CSV file) is a bit ridiculous when we should be able to do it programmatically.

I r

[2020-02-26 23:37] BharathNimmala-MSFT commented on #48833
@dcbrown16  Thank you for sharing the feedback, assigning this issue to our document author @bwren to further evaluate the feedback and see if we can have a backlog item for document enhancement.

[2020-02-26 23:43] BharathNimmala-MSFT commented on #48612
Looping in @MaggiePucciEvans to further help evaluate the feedback and update the document accordingly.

[2020-02-26 23:46] YumeiLi1998 commented on #25921
Will you consider making the valid facilities a dropdown list in the UX? As a user I was confused about what values are allowed until I see this documentation. Thanks!

[2020-02-26 23:51] jdelforno commented on #49024
Created example requested files for review however an automated way to maintain these would be great.

Attempted to rip the HTML directly from the AzureDocs pages and Github without success.

[2020-02-26 23:52] JimacoMS3 commented on #47539
Thanks again, @danewalton, the topic has been updated and published. I'll go ahead and close this issue. Please @-comment me if you think there is more needed here.

[2020-02-26 23:52] JimacoMS3 commented on #47539
#please-close

[2020-02-26 23:52] #47539 closed

[2020-02-27 00:00] MicrosoftGuyJFlo commented on #48402
Yes, JAMF does provide compliance data. Will update doc accordingly.

[2020-02-27 00:00] Karishma-Tiwari-MSFT commented on #48343
Thanks @MashaMSFT  :)
@quillypowers Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-27 00:00] #48343 closed

[2020-02-27 00:01] songwanguw commented on #44806
Any solution about this problem?

[2020-02-27 00:07] onionhammer commented on #48882
@rbrundritt Thanks again for your help

Are you able to add a bit more info on how to actually use VectorTileSource here? Since there isnt really any usage documentation on it, I"m struggling to actually *utilize* the manifest and myriad pbf files I've created on an azure map

[2020-02-27 00:09] YutongTie-MSFT commented on #49002
@eleyeth
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-27 00:09] SaurabhSharma-MSFT commented on #48662
@Ashok103606 sorry, my mistake.  If you want to check for the certificate expiration associated with a particular SAML based application.  Try using "Get-AzureADServicePrincipal" PowerShell cmdlet and then you can retrieve the certificate expiry dates using _.KeyCredentials_ attribute.
[code]
I hope you are looking for this information.

[2020-02-27 00:12] PatrickFarley commented on #48738
Hi, we are currently working on updating the docs with specific information on tagging tables. I'll get back to you very soon.

[2020-02-27 00:12] YutongTie-MSFT commented on #49008
@achakilam1022
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-27 00:25] dimitri-furman commented on #48249
A similar TSQL query is already published in the Examples section for sys.dm_db_resource_stats: https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-db-resource-stats-azure-sql-database?view=azuresqldb-current#example

[2020-02-27 00:27] SaurabhSharma-MSFT commented on #46777
@ChrisSommers We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-27 00:27] #46777 closed

[2020-02-27 00:28] TravisCragg-MSFT commented on #48953
@girishgouda I have not personally tested this scenario, but there is no restriction from P2S connections or from Web App VNET Integration to access a Private Link endpoint in a Virtual Network.

with Azure Private Link, the SQL Server can be in a different region than the Azure VNET.

Please let me know if you need any additional information.

[2020-02-27 00:29] jgallucci32 opened #49027 "Support for Azure Government"
I am unable to locate the provisioning tab when configuring a SAML application in Azure Government. Please confirm if this region is supported. If there is limited support based on region it would be helpful to annotate or provide a link to which regions support this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-27 00:29] KranthiPakala-MSFT commented on #49010
@MiloDi
Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-02-27 00:31] MicrosoftGuyJFlo commented on #48402
#please-close

[2020-02-27 00:31] #48402 closed

[2020-02-27 00:33] MicrosoftGuyJFlo commented on #41117
Will update doc with some more detail.

[2020-02-27 00:33] MicrosoftGuyJFlo commented on #41117
#please-close

[2020-02-27 00:33] #41117 closed

[2020-02-27 00:35] MicrosoftGuyJFlo commented on #42244
Updated.

[2020-02-27 00:36] MicrosoftGuyJFlo commented on #42244
#please-close

[2020-02-27 00:36] #42244 closed

[2020-02-27 00:39] iainfoulds commented on #48608
Thanks for the clarification, @ckssaas

Smart Lockout protects Azure AD account, and in a hybrid environment when using password hash sync, it doesn't lock out on-prem AD DS accounts. The locked state isn't synchronized from Azure AD back to on-prem AD DS. Only the Azure AD account would be locked. As a result, there's no additional configuration required when using password hash sync.

If you use

[2020-02-27 00:40] rbrundritt commented on #48882
Its pretty straight forward, once you create an instance of a VectorTileSource you can use it with any layer that can take in a "Source" nearly the same way you would use a DataSource. The main difference is you would specify the sourceLayer from the vector tile you want to render. Vector tiles allow you to have multiple data layers, called sourceLayer. Here is a code block:

[code]

Here are some

[2020-02-27 00:42] femsulu commented on #48146
Good point, @sean-nixon, adding @MGoedtel, content owner, to review and confirm if this is the right place to make this update.

[2020-02-27 00:48] Karishma-Tiwari-MSFT commented on #48581
1. I will update the documentation for this one.

2. This problem occurs for one of the following reasons:

-The VHD does not comply with the 1 MB alignment (offset). The supported disk size should be 1 MB * N. For example, the disk should be 102,401 MB.
-The VHD is corrupted or not supported.

Resolution:
To resolve this problem, resize the disk to comply with 1 MB alignment:

To do this in Windo

[2020-02-27 00:50] kmansel commented on #47526
Would love to know the roadmap for this addition to the CLI.  We have a large client looking to use this CLI option in their deployment pipeline for IoT devices.

[2020-02-27 00:50] Mike-Ubezzi-MSFT commented on #45473
I received the following feedback from the PG:

128 requests are DDL/DML operations. Polybase load is subject to a smaller number of requests (32).
When loading data, multiple loading processes can be executed at the same time. However, only 1 CTAS operation with same name can be executed (only 1 target with same table name can be created).

[2020-02-27 01:05] kromerm commented on #47762
I've added this as enhancement request, part of our backlog work. Thank you for the great feedback!

[2020-02-27 01:13] dcbrown16 commented on #42901
@MashaMSFT that change is a good start, but this doc needs an actual explanation of how you would change the max size. It only has the following sentence.
"Storage for a single database can be provisioned by increasing or decreasing its max size using the Azure portal, Transact-SQL, PowerShell, the Azure CLI, or the REST API."

For the Portal method, where do you go? (Settings > Configure). Does i

[2020-02-27 01:15] TravisCragg-MSFT commented on #48902
@yvesgermain This is a known issue, and the only way you will be able to get this deleted is to contact Azure Support. If you do not have a support plan, please Email me at azcommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support request for you to get the subnet deleted.

We will now proceed to close this thread. If there are further q

[2020-02-27 01:15] #48902 closed

[2020-02-27 01:15] divyaswarnkar commented on #47279
We are committed to providing our customers with continuous improvement in our offerings, including documentation.

[2020-02-27 01:21] nickrsan commented on #21279
Hi, I'm not the original poster of this issue, but I ran into the same problem - it didn't work for me until I specified the location of the disk with `--location westus` in my case

[2020-02-27 01:22] TravisCragg-MSFT commented on #48936
@sonalinoolkar As your error states, make sure that you have [configured your Client Address Pool](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#addresspool).

It is likely that you are missing other steps to setup a P2S VPN Gateway, [Here is a great doc that gives step by step instructions](https://docs.microsoft.com/en-us/azure/vpn-gat

[2020-02-27 01:26] nickrsan commented on #21279
Whoops, @Karishma-Tiwari-MSFT - just saw I needed to tag you - see above. Thank you!

[2020-02-27 01:27] TravisCragg-MSFT commented on #48970
@kismet-cai Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-27 01:28] TravisCragg-MSFT commented on #48607
@ticianaciminari We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-27 01:28] #48607 closed

[2020-02-27 01:28] ecfan commented on #47142
Hi @ashgit24,

I hope Chris's answer helped address your questions. We have a work item in progress to update the MQ topic with this information. If you have no follow-up comments, we'll close this issue. You can always add related questions to this conversation, or if you have a different question about this topic, you can create a new issue.

[2020-02-27 01:37] Mike-Ubezzi-MSFT commented on #48999
@thnk2wn Thank you very much for your feedback. In doing a quick search for related topics, I found quite a few discussions related to this. One of which is: [Visual Studio Code VS Community](https://answers.microsoft.com/en-us/education_ms/forum/edu_learntool-edu_other/visual-studio-code-vs-community/b8295c47-4672-4beb-b421-2fea0782a6fe?auth=1)
Are you looking for answers or are you making a sugg

[2020-02-27 01:42] lisaguthrie commented on #48629
Sorry -- should've updated here that I made these changes (updating the screen shot/surrounding text, and also adding the missing step 6) and they are now live. Thanks for reporting @cecilphillip and @GilbertZhangPfd!

[2020-02-27 01:49] JasonWHowell commented on #48629
#please-close

[2020-02-27 01:49] #48629 closed

[2020-02-27 01:51] jmf2n commented on #48668
As fate would have it, the latest version of the Arc Agent (20056.001) has fixed the issue on my two of my 2012 machines that were exhibiting the problem earlier.  I do have premier support so will engage them if I continue to experience difficulty.  I appreciate you participating and helping to sort things out even if this was not the correct venue.

[2020-02-27 02:08] Mike-Ubezzi-MSFT commented on #48998
@thnk2wn Thank you for the feedback. We are investigating but did want to inquire if you are making a request for the documentation to be improved or a request for information...or both? Thank you!

[2020-02-27 02:08] BharathNimmala-MSFT commented on #49020
@trhodes9 Thank you for reaching out to us, we will further look into it and get back to you at the earliest.

[2020-02-27 02:12] Juh-net commented on #38225
This could also be an issue if customer forget to Allow this when service endpoint for key vault is enabled. Can we have someone to update the doc, like add an Important note as a reminder? Thanks.

[2020-02-27 02:14] BharathNimmala-MSFT commented on #48977
@jrv116psu Thank you for your query, we will further look into and get back to you at the earliest

[2020-02-27 02:18] BharathNimmala-MSFT commented on #48989
@hoangpx Thank you for bringing this to our notice , we will fix the document accordingly.

[2020-02-27 02:22] abppriya commented on #48188
@FredFaust The error here indicates that the gash function that CosmosDb uses for partitioning, returned the same value for 2 different partition keys. Is there a salt that you could add to your partition key?

[2020-02-27 02:23] BharathNimmala-MSFT commented on #48976
@jrv116psu Thank you for sharing your feedback, our team will further look into this and get back to you at the earliest.

[2020-02-27 02:27] #47771 closed

[2020-02-27 02:28] TravisCragg-MSFT commented on #48551
@MartinKosicky Azure Virtual Networks use [User Defined Routes](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#custom-routes) to create static routes.

If you would like to configure the routes in Terraform, you can [Create a Route Table](https://www.terraform.io/docs/providers/azurerm/r/route_table.html) and then [Associate it to a Subnet](https://www.terrafo

[2020-02-27 02:28] #48551 closed

[2020-02-27 02:28] MicrosoftGuyJFlo commented on #48281
#please-close

[2020-02-27 02:28] #48281 closed

[2020-02-27 02:29] BharathNimmala-MSFT commented on #48994
@cynthn Thank you for helping on this thread.

@stdistef Thank you for reaching out to us. Hope you got your question answered, will go ahead and close this thread for now. However if there are any follow up queries, please tag us in your reply and will be happy to reopen the thread and continue the converstion. Thank you.

[2020-02-27 02:29] #48994 closed

[2020-02-27 02:29] gpj1 opened #49033 "Difference between Outbound IP Addresses and Additional Outbound IP Addresses"
As per documentation, "Outbound IP Addresses" section shows IP address that are currently in use by app and "Additional Outbound IP Addresses" shows all possible IP addresses that app may use. Can some one please elaborate on "Currently in Use" by app part of this? That is, I am looking for elaboration of difference between "Outbound IP Addresses" and "Additional Outbound IP Addresses". Thanks

--

[2020-02-27 02:30] BharathNimmala-MSFT commented on #48996
@mbiver Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-27 02:36] thnk2wn commented on #48999
@Mike-Ubezzi-MSFT Those posts are just general Visual Studio vs. VS Code. I'm specially talking about the differences between the Azure IoT Edge extensions between Visual Studio and VS Code.

Visual Studio for example creates an "app element" whereas VS Code just generates modules. Debugging is a bit different for both and I get the impression that the functionality differs a bit between the two b

[2020-02-27 02:36] blackchoey commented on #48998
Hi @thnk2wn  It's possible to put modules in different repositories, as well as deploying to different environment (different IoT Hub, ACR, etc.). You're also able to create unit tests with your preferred unit test tools for your projects.
There's a deep dive talking about how to CI/CD for IoT Edge solution, which covers above topics you're interested in. You can view it at: https://channel9.msdn.

[2020-02-27 02:49] thnk2wn commented on #48998
@Mike-Ubezzi-MSFT Both ideally but if choosing one, request for info.

@blackchoey Are you saying the IoT edge tooling (extensions, iot edge dev etc.) definitely works for all operations for both VS and VS Code when scattered across different repos? In VS for example when creating a new solution it creates an IoT edge module "app" that has a hard reference to the module project. Also when looking

[2020-02-27 02:50] SaurabhSharma-MSFT commented on #48712
No, your Office 365 E3 does not cover Azure AD P1 or P2 licenses.  You need to upgrade your current Azure AD license to P1 or P2 to access this data.  Please refer to the [link](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-get-started-premium) shared earlier to upgrade your Azure Ad license.

[2020-02-27 02:54] sandeepiiit opened #49034 "Is it possible to use this extension to join a VM to a tenant other than the one to which the subscription belongs to?"
I tried this extension, and I love it. I have VMs that I create in a separate subscription in a tenant, which is different from the tenant whose users I want to allow to login. Is it possible to join the VM to another tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version

[2020-02-27 03:04] SamaraSoucy-MSFT commented on #48651
@SychevIgor I'm going to assign this one to the doc author to decide how to resolve it. Having an alert in the example code that's not defined is understandably confusing.

[2020-02-27 03:06] steamwings commented on #43680
@EricDahlvang Thanks for sharing. That PS script runs in 1.5min while the Run Azure Cosmos DB Emulator task takes 12min!

[2020-02-27 03:08] stuarthallows commented on #48950
Please close the thread. I had indeed missed the step to set implicit flow.
Thank you very much.

[2020-02-27 03:08] #48950 closed

[2020-02-27 03:15] MashaMSFT commented on #42901
Hi @dcbrown16 , thank you so much for your feedback!

You can find information about scaling [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-scale), and [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-vcore?tabs=azure-portal#selecting-a-hardware-generation).

However, I agree that this information might be organized bett

[2020-02-27 03:21] dcbrown16 commented on #42901
Thanks @MashaMSFT :)
The first link provided is the doc this feedback is coming from. The specific header below seems to be a reasonable place to store the info, my asks would just be that you document the lack of downtime (assuming that's correct) and if possible have more specific instructions for Azure Portal, instead of just linking to the Portal itself.
https://docs.microsoft.com/en-us/azure/

[2020-02-27 03:30] neeleshray-msft commented on #49024
@jdelforno Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 03:30] Anand-Moghe commented on #48165
Thank you @mike-urnun-msft  !

[2020-02-27 03:30] #48165 closed

[2020-02-27 03:31] neeleshray-msft commented on #49027
@jgallucci32 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 03:32] neeleshray-msft commented on #49034
@sandeepiiit Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 03:34] blackchoey commented on #48998
@thnk2wn The tools now support specifying the path of a module, which enables you to reference a module which doesn't exist in the modules folder.
- For VS Code, you can provide the relative path to the module in the form of `${MODULEDIR.<../../another_repo/modules/module_B>}`. Please follow this wiki to update `deployment.template.json` in order to reference modules in another repo: https://githu

[2020-02-27 03:35] VikasPullagura-MSFT commented on #49005
@ChrisCochrun Thanks for the Feedback.
Agree that it makes more sense to have a Note in the top of the doc that the SDK is under development.

I have updated the doc with a note and the changes will go live soon.

[2020-02-27 03:38] PramodValavala-MSFT commented on #49018
@christiankdavis Glad to hear that you've resolved your issue!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-27 03:38] #49018 closed

[2020-02-27 03:38] VikasPullagura-MSFT commented on #49022
@deepikabandhanadham
Thanks for the feedback! I have assigned the issue to content author to check and update the document with requested example as appropriate.

[2020-02-27 03:42] #49005 closed

[2020-02-27 03:46] VikasPullagura-MSFT commented on #48933
@Ayanmullick
This is not possible. The storage account needs to be located in the same subscription.
Hope that answers your query.

[2020-02-27 03:58] VikasPullagura-MSFT commented on #48403
@gyne
Thank you for your question! Since this channel is for driving improvements towards MS Docs, and your issue need deep investigation and live troubleshooting.
I would request you to open a support ticket so that this issue can be handled by a support engineer.

If you don't have the ability to open a technical support ticket, you can email me at AzCommunity@microsoft.com and provide me with y

[2020-02-27 03:58] #48403 closed

[2020-02-27 03:59] DashleenBhandari-MSFT commented on #49033
@gpj1 , Additional Outbound IP Addresses represents the union of all possible outbound addresses that can be used.

Regardless of the number of scaled-out instances, each app has a set number of outbound IP addresses at any given time. Any outbound connection from the App Service app, such as to a back-end database, uses one of the outbound IP addresses as the origin IP address. You can't know bef

[2020-02-27 04:03] archmangler opened #49035 "ARM Templates: "Download a template for automation" is Broken for QnA Chat Bot Deploy"
Issue
===

The following section of ARM template documentation refers to a pre-deploy option to export ARM template:

[code]

According to the documentation we should be able to:

"Download a template for automation."

Once the automation options have been selected, before actually clicking deploy.

However, when trying to do this using the ""create bot" option of QnAmaker.ai (from an existing kno

[2020-02-27 04:04] mike-urnun-msft commented on #48691
@ravick4u Since we haven't found any issues with the documentation, w will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-27 04:04] #48691 closed

[2020-02-27 04:06] DashleenBhandari-MSFT commented on #49023
@dcbrown16 , I wanted to understand more on this request. Are you looking for information on FTP state like FTPS etc. in the documentation?

[2020-02-27 04:06] mike-urnun-msft commented on #48693
@ravick4u Since we haven't found any issues with this documentation, we will now proceed to close this thread for now. If there are further questions regarding this matter or if you continue to encounter an issue with publishing your Function App, please reopen it and we will gladly continue the discussion.

[2020-02-27 04:06] #48693 closed

[2020-02-27 04:06] elepherai commented on #5717
@TingyiLi Yes, I have solved this problem by using onnx.

Export the aml model as onnx format and deploy it on arm32 iot device which has onnxruntime installed.

You can DM me if you have any technical problems when deploying.

[2020-02-27 04:07] AshokPeddakotla-MSFT commented on #48500
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-27 04:07] #48500 closed

[2020-02-27 04:07] VikasPullagura-MSFT commented on #48933
@Ayanmullick We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-27 04:07] #48933 closed

[2020-02-27 04:10] mike-urnun-msft commented on #48699
@scottstout I've created a PR that updates the link for `Web.Config` file to the one for version `3.x`. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-27 04:10] #48699 closed

[2020-02-27 04:11] dcbrown16 commented on #49023
@DashleenBhandari-MSFT
This doc has the following section describing the Platform settings, but it doesn't mention the "FTP state" setting at all.
"Platform settings: Lets you configure settings for the hosting platform, including: "...

This document should go over all of the possible settings, including "FTP state".

[2020-02-27 04:11] scottstout commented on #48699
So if you want to edit that web.config you should just add one to your project before you deploy?

[2020-02-27 04:12] mike-urnun-msft commented on #48704
@aws-scripting-guy Since we haven't determined any changes for this documentation based on the comments above, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-27 04:12] #48704 closed

[2020-02-27 04:15] DashleenBhandari-MSFT commented on #49023
@dcbrown16 , ok noted. I will check and update the documentation.

[2020-02-27 04:23] tamram commented on #34607
@andreasmarkmann - I have updated the article to describe how to authorize with Azure AD credentials. I have also updated the examples to use the `--auth-mode` parameter to specify that Azure CLI should use the user's Azure AD credentials to call the operation.

You can also use the `--auth-mode` parameter to specify that the CLI uses the account access key instead.

#please-close

[2020-02-27 04:23] #34607 closed

[2020-02-27 04:24] tamram commented on #46126
@BenjaminHerbert - thanks for your feedback! I have updated the AzCopy section to use AzCopy v10.

#please-close

[2020-02-27 04:24] #46126 closed

[2020-02-27 04:30] TravisCragg-MSFT commented on #49015
@nera16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-27 04:31] drekuru commented on #13942
It's been over a year - any update on this?

[2020-02-27 04:37] SumanthMarigowda-MSFT commented on #49004
@shooker Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-27 04:38] SumanthMarigowda-MSFT commented on #48667
@aalewismsft Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-27 04:38] #48667 closed

[2020-02-27 04:55] CHEEKATLAPRADEEP-MSFT commented on #48899
@jovancosta-bairesdev Glad to know you have resolved the issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-27 04:55] #48899 closed

[2020-02-27 04:57] proguru opened #49036 "Using keyvault reference in ACI environment variables"
Is there a way to use a keyvault referenced environment variable in ACI ?

I am running azure functions within a container instance and I would like to reference the secret using the following construct:
@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-02-27 04:57] DashleenBhandari-MSFT commented on #49021
@okcerk , Could you please provide the documentation you referred to? Also if you can provide the error screenshot and invocationID, it would be helpful

[2020-02-27 04:57] BhargaviAnnadevara-MSFT commented on #49003
@mshinnie Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-27 04:59] BhargaviAnnadevara-MSFT commented on #49036
@proguru Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-27 05:00] PramodValavala-MSFT commented on #48909
@shashankkr Just following up here... Hope my previous comment clears things up.

[2020-02-27 05:00] imshreya commented on #48240
@yingqunpku How does this parameter affect our model training or parameter tuning process?

[2020-02-27 05:04] DashleenBhandari-MSFT commented on #49016
@blmiles , Removing Easy Tables and Easy APIs from Azure App Service
Azure App Service provides specific features for Node developers to easily get started with mobile backend services by leveraging Easy Tables and Easy APIs in the Azure portal. Easy Tables provides a portal experience for Node developers to create and manage their tables, their schema, and appropriate permissions. Easy APIs lets

[2020-02-27 05:06] VikasPullagura-MSFT commented on #46316
Same issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/48972)

[2020-02-27 05:10] gjj opened #49037 ".htaccess sample for Laravel x Linux App Service doesn't work"
I'm currently trying to host a Laravel app on my Linux App Service plan but it seems like the sample `.htaccess` given in the docs seems to return an Internal Sever Error instead.

[code]

Any idea why? My Laravel app is in the `wwwroot` directory, so `public` is accessed as `wwwroot/public`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-02-27 05:10] AshokPeddakotla-MSFT commented on #48700
@PeterTurcan Though I'm not seeing an error message as yours. I got different error message and I am checking on this issue internally and update you as earliest. Appreciate your time and patience.

[2020-02-27 05:25] SwathiDhanwada-MSFT commented on #49035
@archmangler Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-27 05:31] pyoungberg commented on #41112
At least link us to the M365 Roadmap item, the timeline tends to be communicated there first anyways.

[2020-02-27 05:36] VikasPullagura-MSFT commented on #48972
@MicrosoftDocs/aks-pm Please add your comments

[2020-02-27 05:46] SubhashVasarapu-MSFT commented on #48576
@jjindrich , Appreciate your patience . GA indicate the services which are generally available and can be implemented in customers production workloads where as preview indicates that they are still under improvisation state based on customers feedback and bugs. They are not advised to deploy in to production workloads.
@michalmar , No, as of now non of the pass services listed over there were not

[2020-02-27 05:46] #48576 closed

[2020-02-27 05:49] SubhashVasarapu-MSFT commented on #48574
@ld0614 , Appreciate your patience. This looks like a potential bug as mentioned by @damendo earlier. I would request you to send a mail @AzCommunity@microsoft.com with the issue as title. We will notify this to the corresponding team in the backend.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-27 05:49] #48574 closed

[2020-02-27 05:54] SubhashVasarapu-MSFT commented on #48861
@SunnyXiao , Appreciate your patience . For Microsoft CDN you should be using standard "Rule engine" in the blade for setting up the rules.
![image](https://user-images.githubusercontent.com/44890829/75416189-a8f4e200-5953-11ea-9640-fe8c6ea3118f.png)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-27 05:54] #48861 closed

[2020-02-27 05:55] SubhashVasarapu-MSFT commented on #48892
@stdistef , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-27 05:55] #48892 closed

[2020-02-27 05:56] AshokPeddakotla-MSFT commented on #48700
@PeterTurcan I have a follow-up question to confirm on the error message.  By seeing the error message, it appears to be that you are trying different sample(digital-twins) with BackEndApplication.js Please confirm the same. Or while running **ReadDeviceToCloudMessages.js** command from https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#read-the-telemetry-from-your-hub y

[2020-02-27 06:00] cdtsushant commented on #45598
no can you find out any solution on this

[2020-02-27 06:05] cdtsushant commented on #45598
sorry but I did follow the same procedure but it didn't Work

[2020-02-27 06:06] VikasPullagura-MSFT commented on #48976
@jrv116psu
I have assigned the issue to content author to check and add the requested examples to the document as appropriate.

[2020-02-27 06:11] agassijoelbrio commented on #48944
Hi David, Yes that was me.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Bélanger <notifications@github.com>
Sent: Wednesday, February 26, 2020 10:42:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: agassijoelbrio <agassijoelbrio@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micr

[2020-02-27 06:16] DashleenBhandari-MSFT commented on #49017
@mc0re , I will investigate and update you. Thanks for raising this issue.

[2020-02-27 06:19] jakaruna-MSFT commented on #48851
Yes its possible.

The integration offered by the AZ CLI for integrating ACR to AKS simply takes the service principal associated to the AKS Cluster and gives it extra access to the ACR resource. The role is "ACRPull".

You can attach the same role to the aks service principal with the scope of other ACR also.

This document will help you to do that. https://docs.microsoft.com/en-us/azure/aks/clus

[2020-02-27 06:26] akczcz opened #49038 "Obsolate content"
Please update this documentation as per your announcement dated to 19.2.2020 (GA for Storage, SQL, Cosmos DB etc). Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Content: [What is Azure Private Link?](https://docs.

[2020-02-27 06:30] jakaruna-MSFT commented on #48900
Did you registered for spot on AKS?

`az feature register --namespace "Microsoft.ContainerService" --name "spotpoolpreview"
`

Document is [here](https://docs.microsoft.com/en-us/azure/aks/spot-node-pool)

[2020-02-27 06:31] seaser0 commented on #46337
Is there a documentation or a blog available how to push this client to managed devices by SCCM or Intunes?

[2020-02-27 06:35] pbartos commented on #48868
Would be possible to open a bug on it?

[2020-02-27 06:52] jakaruna-MSFT commented on #48900
Same issue raised in CLI https://github.com/Azure/azure-cli-extensions/issues/1300

[2020-02-27 06:57] shahzzzam opened #49039 "Wrong restart example"
"shutdown /r /f /t 0 /c",

/c is for comment and takes in an argument. Either remove it or add a string after
Wasted 1 hour since my Build failed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef2d683-1557-7097-0415-ea67a0350718
* Version Independent ID: 20667a9c-cd22-ce77-d4d6-61ac10d380c8
* Content: [Create an Azure

[2020-02-27 07:12] BharathNimmala-MSFT commented on #48537
@bandersmsft Can you please help review the feedback on this thread and share your thought ?  Thanks

[2020-02-27 07:15] jakaruna-MSFT commented on #48853
@Jayesh040 I went through the terragrunt documentation.
Since this is a wrapper for terraform, It should work well with all modules.   In the example AWS is given.

But it can work with  any other supported module.   Can you try with  Azure terraform module

[2020-02-27 07:18] jakaruna-MSFT commented on #48844
@salavala is there any update

[2020-02-27 07:20] jakaruna-MSFT commented on #48737
Thanks @dlepow

[2020-02-27 07:32] manueljesusrd commented on #48565
@Mike-Ubezzi-MSFT is it possible to use TPM encryption when using a transparent gateway? Or when using IoT Edge as a any type of gateway, not only transparent? I've seen that TPM is supported in device provisioning, butthere's nothing about storing gateway certificates in TPM and referencing them in config.yaml

[2020-02-27 07:36] neeleshray-msft commented on #48918
@yelevin Kindly check if this needs to be updated in the document.

[2020-02-27 07:54] KrishnaG-MSFT commented on #48668
@jmf2n Glad to know that your issue was resolved with the latest version of the Arc Agent (20056.001).

So the overall lesson learnt in your case / in this issue is, as you stated earlier - while connecting Windows 2012 R2 VMWare VM's to Azure Arc using Agent versioned 20037.003, the ROOTDRIVE property is set as V:\ even if there's no actual V drive on at least one of the machines. The issue is re

[2020-02-27 07:54] #48668 closed

[2020-02-27 07:54] iricigor commented on #49001
For better understanding, here is my use case.

We have servers which are collection logs from application servers. Application support people are granted server login rights and read access to logs directories.

Problem is that by simple login, support people also obtain access to metadata service and potentially token and then access to all resources assigned managed identity has.

For this to w

[2020-02-27 07:56] neeleshray-msft commented on #48935
@spottedmahn
I tried the steps to leave a Tenant with multiple Invited Guest Account from a Test Subscription I have.
If it is a Org or a MSA account, the way it describes in the document you would find next to **Organizations**, the settings icon (gear).

However, if not a MSA account, you can just click on the **Profile** option and it would bring you to the same page where you would have the op

[2020-02-27 07:59] BhargaviAnnadevara-MSFT commented on #49006
@mshinnie Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-27 08:17] neeleshray-msft commented on #49027
@jgallucci32 There are some limitations on the Azure Government Cloud.
In your case, Rich provisioning connectors for featured apps are not yet available. You can use SCIM for automated provisioning instead. You can check this **[document](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-securityandidentity#azure-active-directory-premium-p1-and-p2)** for mo

[2020-02-27 08:23] proguru commented on #49036
Hello Bhargavi,
I was looking at the following documents:
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references
https://azure.microsoft.com/en-us/updates/azure-functions-key-vault-integration/
https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/

I am just wondering if you have a similar support

[2020-02-27 08:31] plaiddk opened #49041 "Self-hosted arm-template DataFactoryPropertyUpdateNotSupported"
Hi,

We have created a repo i devops connected to our DataFactory. When we publish we get 2 files in our repo.

ARMTemplateForFactory.json and
ARMTemplateParametersForFactory.json

When i try to deploy it via octopus i get this error:

`NotSpecified: 9:10:53 AM - Resource Mi-crosoft.DataFactory/factories/integrationRuntimes '****/***' failed with message '{
"error": {
"code": "DataFactoryPropertyU

[2020-02-27 08:32] springcomp commented on #48655
@yyanev

You are right, this is my mistake.
When connecting with an SSH private key, the user is prompted for the private key passphrase, but this happens on the client side. As far as the server is concerned, there is indeed the corresponding public key in `/.ssh/authorizedkeys`.

The problem I have is that even though the user is suppling the private key, ssh still prompts for the password, whic

[2020-02-27 08:40] tom-ditlev commented on #48544
I see now. This then is just me importing using wrong regional settings.

I apologize :-)

Hent Outlook til iOS<https://aka.ms/o0ukef>
________________________________
Fra: Yashesvi Sharma <notifications@github.com>
Sendt: Wednesday, February 26, 2020 11:23:33 PM
Til: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tom Ditlev Jensen <tomje@orsted.dk>; Mention <mention@noreply.github.c

[2020-02-27 08:50] AshokPeddakotla-MSFT commented on #48761
Adding author @dominicbetts to validate and update the doc as appropriate.

[2020-02-27 08:55] SubhashVasarapu-MSFT commented on #48553
@shiva8869 , Appreciate your patience. Paas services like SQL database server in your case can be accessible over a private IP address in your VNet, enabling connectivity from on-premises through Azure ExpressRoute private peering and/or VPN gateway and keep the network configuration simple by not opening it up to public IP addresses.
We are closing this issue for now. If there are further questio

[2020-02-27 08:55] #48553 closed

[2020-02-27 08:59] cdeil opened #49042 "Bugs in capturereader.py"
The capturereader.py script doesn't work on MacOS or Linux.

You currently handle paths via string concatenation like this:

        filename = os.getcwd() + '\\' + str(device) + '.csv'

Could you please fix the script to use pathlib.Path, or os.path.join to work on Mac and Linux also?

Actually, my recommendation would be that you change the approach a bit, and first mention that via az blob down

[2020-02-27 09:04] gpj1 commented on #49033
Thanks for clarifying @DashleenBhandari-MSFT
So "outbound IP addresses" are always subset of "Additional IP Addresses" and "outbound IP addresses" are the one which are being used by app at the current moment.

[2020-02-27 09:04] #49033 closed

[2020-02-27 09:06] BhargaviAnnadevara-MSFT commented on #49041
@plaiddk Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-27 09:14] torbenboeck commented on #47762
Sounds really good :)

On Thu, Feb 27, 2020 at 2:05 AM Mark Kromer <notifications@github.com>
wrote:

[2020-02-27 09:16] jumppard opened #49043 "Internal Server Error when trying to browse to azure app"
I followed this tutorial and I am stucked at the step "Browse the the Azure App".  The browser shows me "An error occurred while starting the application.
.NET Core 4.6.28207.03 X86 v4.0.0.0    |   Microsoft.AspNetCore.Hosting version 2.2.7-servicing-10089    |    Microsoft Windows 10.0.14393    |   Need help?"

What's going on here please?

---
#### Document Details

⚠ *Do not edit this section.

[2020-02-27 09:16] kenakamu opened #49044 "Is this set alert still relevant"
I believe we all moved to unified alert now, and I don't see the menu to set alert in the first step anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8048b3-aa66-eaac-7374-c01089bcb96e
* Version Independent ID: eafc35e8-740c-527a-ea11-e44a9e6991ee
* Content: [Set Alerts in Azure Application Insights - Azure Mon

[2020-02-27 09:19] mihaibudurescu commented on #48995
Done, I've sent now the e-mail.
Thank you,

[2020-02-27 09:20] jakaruna-MSFT commented on #48801
@CesarSolis We dont have a document which creates virtual machine with extension.

But you can look at the below sdk refefence and then create or update an extension.

https://docs.microsoft.com/en-in/python/api/azure-mgmt-compute/azure.mgmt.compute.v2019_07_01.operations.virtualmachineextensionsoperations?view=azure-python

[2020-02-27 09:21] yoelhor commented on #49007
Thanks for your feedback. I checked this issue, and it's exactly as you desiccate. I'm updating the doc later today.

[2020-02-27 09:22] plaiddk commented on #49041
I havent really followed any docs about this issue. I have researched a bit and is linked to this page
[https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#best-practices-for-cicd](url)

from this page: [https://social.msdn.microsoft.com/Forums/en-US/efd8a6b3-bcd2-423a-9933-f7925c11d079/arm-template-deployment-with-shared-self-hosted-integration-runtime-failing?fo

[2020-02-27 09:27] brophis commented on #48825
@skadeb87 I made the same mistake as you. The list provided is the list of regions where the service is NOT available 🤦‍♂️

[2020-02-27 09:29] jakaruna-MSFT commented on #48807
@PKingRoch I think we can remove that `-wrap` parameter.

Without that it will list add the resource ids in that resource group.

[2020-02-27 09:29] VikasPullagura-MSFT commented on #48976
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-02-27 09:29] jakaruna-MSFT commented on #48807
`-wrap` is not there in `Format-List`   as per the [reference](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/format-list?view=powershell-7.x)

[2020-02-27 09:30] BhargaviAnnadevara-MSFT commented on #49041
@plaiddk Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-02-27 09:35] BhargaviAnnadevara-MSFT commented on #48949
@piyumi25 Any update here?

[2020-02-27 09:36] jakaruna-MSFT commented on #48526
@Ayanmullick Sorry for the delay.

This is the api used by the CLI for executing a command.
https://docs.microsoft.com/en-in/rest/api/container-instances/container/executecommand

[2020-02-27 09:36] HeinzLm opened #49045 "OpenID Connect redirect_uri resolver"
Hi. Are there any plans for a redirect_uri claims resolver, or does one exist? Trying to resolve it using {OAUTH-KV:redirect_uri} does not seem to work either. I can see it getting parsed in Log Analytics traces within IEF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9821-32c048ffa020
* Version In

[2020-02-27 09:40] BhargaviAnnadevara-MSFT commented on #48966
@fromario007 Any update here?

Also, please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations are going to be the [MSDN](https://social.msdn.microsoft.com/Forums) and [Stack Overflow](https://stackoverflow.com/) forums. We ac

[2020-02-27 09:42] BhargaviAnnadevara-MSFT commented on #49036
@proguru Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-02-27 09:49] plaiddk commented on #49041
Thanks- but do you know what. I think i figured it out. I think i need to make a new ADF which hold my self-hosted IR as shared. And then DEVELOPER,DEV,DEVTEST,PROD is all linked to this. Then i can deploy. I just need to figure out if i need to set it up manually then first time as a self-hosted IR shared.

[2020-02-27 09:52] mslot opened #49046 "Number of deployment slots"
For a standard plan you have 5 slots available, but i cant read from the doc, if that is pr plan, or pr webapp. I think it is for the webapp, so you can have 5 webapps pr standard plan with 5 slots each, but I cant read it anywhere.

Could you update the docs so it is more clear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-27 09:57] yoelhor commented on #49045
Yes, it should be published next Monday. Please check the http://aka.ms/b2c-change-log or refresh this document.

[2020-02-27 10:08] lasse-soltvedt opened #49047 "Relation between functions app and taskhub"
From reading the documentation it's unclear to me what the exact relation between the functions app and taskhub is. My first impression from reading the docs was that a function app could process instances from multiple taskhubs. You would just have to supply a taskhub name when starting the orchestration in order to get instances isolated. But I guess this is not the case as there seems to be a 1

[2020-02-27 10:13] SandraAhlgrimm opened #49048 ""Make sure you have installed the Azure SDK for Java" - Link is not set correctly"
Make sure you have installed the **Azure SDK for Java**-Link leads to https://docs.microsoft.com/en-us/java/api/overview/azure/?view=azure-java-stable (where I got lost) and not directly to a side where I can download it

[2020-02-27 10:15] mslot opened #49049 "Layer reference"
For all other loadbalancing options you provide a reference to the given layer. You do this for Azure Front door, Gateway and load balancer, but not for this. I think it is OSI layer 7, but your docs doesn't clearly specifiy this. It would be benefitting if someone is researching balancing options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-02-27 10:18] SandraAhlgrimm opened #49050 "Make sure you have installed the Azure SDK for Java is broken"
the link leads to https://docs.microsoft.com/en-us/java/api/overview/azure/?view=azure-java-stable where you get lost in other docs. I would expect to be redirected to a side where I can download the sdk directly or that the download starts immediately

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bd1414-d29f-fe3b-5

[2020-02-27 10:19] #49048 closed

[2020-02-27 10:19] SandraAhlgrimm commented on #49048
sorry, it was not opened correctly

[2020-02-27 10:19] mslot commented on #49049
Maybe because it works at the DNS level :) This should maybe be specified more explicitly, alas "because it is DNS based it does refer to a specific OSI layer as the other balancing options we provide". Idk. It think it will help, if you are comparing with the docs open.

[2020-02-27 10:21] SandraAhlgrimm opened #49051 "IntelliJ is missing"
You can also use IntelliJ and download the Azure Toolkit here: https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bd1414-d29f-fe3b-503f-365692c77ca5
* Version Independent ID: 8627b318-bd95-0176-bfd5-6cb20f661692
* Content: [Use Azure Service Bus queues

[2020-02-27 10:24] VikasPullagura-MSFT commented on #49039
@shahzzzam
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-27 10:26] squ94wk opened #49052 "Inconsistent API Documentation"
Which one do I believe?
https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-rest-api#create-a-blueprint
https://docs.microsoft.com/en-us/rest/api/blueprints/blueprints/createorupdate

The second one is from 2018-11-01, is there an updated version coming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-27 10:30] aribornstein opened #49053 "Azure ML CLI Extension Doesn't Support Creation of Azure ML Compute Instances"
Even though Azure Notebook VMs have been deprecated no replacement has been made for creating or managing Azure Compute Instances with the CLI this is a major papercut for any organization managing a team of data scientists using the platform. Please fix #papercut

https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance

https://docs.microsoft.com/en-us/azure/machine-learn

[2020-02-27 10:36] garybushey opened #49054 "Page still refers to dashboards"
The chart regarding roles still lists dashboards in its header rather than workbooks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22df-0070-b051fc09cb0c
* Version Independent ID: c543b5d2-e0db-d137-acd2-43ed1f712817
* Content: [Permissions in Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentin

[2020-02-27 10:46] ishepherd opened #49056 "This page is a bit confused"
Which is correct? I think it is the first.

That's actually the 'Accept connections from within Azure datacenters' checkbox, right? You don't need to add 0.0.0.0 manually. (Internally, that seems to be what the checkbox is doing - Adding 0.0.0.0 to the ARM ipRangeFilter property. But it's hidden in UX)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-27 10:46] RohitMungi-MSFT commented on #48738
Thanks @PatrickFarley.

[2020-02-27 10:48] marexv commented on #49021
I have a similar issue. I have added my cert following these instructions and this post: (https://benjii.me/2017/06/creating-self-signed-certificate-identity-server-azure/). My app fails to startup, ssh won't work and when i go to KUDU bash (... scm.azurewebsites.net/DebugConsole) i try to look for /var/ssl/ folder but it doesn't exist.

[2020-02-27 10:52] neeleshray-msft commented on #49045
@HeinzLm Hope @yoelhor has been able to address your query. Let us know if you need further help on this.

[2020-02-27 10:55] #49007 closed

[2020-02-27 10:59] heinejeppesen opened #49057 "Perhaps simplify this sentence"
"The egress limit refers to all data from responses that are received from a storage account."

Seems a bit unnecessary difficult to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b38b2
* Content: [Scalability and perfor

[2020-02-27 11:04] sergio974 commented on #29001
Have same issue ! Please provide correct apiversion. Thanks

[2020-02-27 11:07] VikasPullagura-MSFT commented on #48977
@jrv116psu Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-02-27 11:07] ramadarla commented on #48452
that concludes there is a manual effort when it 2nd node becomes Master, need a reconfigure backup policy on  node 2. At that moment, do we need to start again with full backup then differential..and on..??

[2020-02-27 11:08] VikasPullagura-MSFT commented on #48977
@ChristianMontoya Can you please add your comments.

@Heidilohr Can you please look into this doc enhancement to add additional details to make this clear.

[2020-02-27 11:19] vanthoainguyen commented on #46354
I have a similar question. I have a large collection name `orders` and choose orderId as index and partition key. Obviously there is 1 document per partition. The order document size is quite large, about 90KB.

In Production, the metrics shows that Avg Throughput  is 100K RU/s. The metrics page also show that we have about 16 partitions, 30GB each.

![Throughput ](https://i.imgur.com/ZSEym3t.png)

[2020-02-27 11:32] PramodValavala-MSFT commented on #48570
@bmoscon Just following up here... Hope my previous comment clears things up.

[2020-02-27 11:32] #48570 closed

[2020-02-27 11:35] BhargaviAnnadevara-MSFT commented on #47574
@robburton58 Hope the updated article addresses your feedback.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag us in your reply and we will be happy to continue the conversation.

[2020-02-27 11:35] #47574 closed

[2020-02-27 11:37] opatey opened #49059 "'Sign-on URL' configuration value from Federation Metadata"
Step 1.6 implies that it is possible to extract all settings in the Basic SAML Configuration table from SP Federation Metadata, when adding a non-gallery Enterprise Application.

I have been able to set the Identifier and multiple Reply URLs (using `EntityDescriptor/@entityID` and `EntityDescriptor/SPSSODescriptor/AssertionConsumerService/@Location`), but cannot find any metadata values that autom

[2020-02-27 11:39] BhargaviAnnadevara-MSFT commented on #22794
@rgamage Hope @snehithm's response above clarifies your query.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-27 11:39] #22794 closed

[2020-02-27 11:42] rhyscooper commented on #47171
I've been trying to install the extension via a Resource Manager (ARM) template, and although the extension installs and has a status of 'provisioned successfully', the VMs are placed in the 'Not Applicable Resources' list which means that no scanning takes place. Is there any way to install the extension via ARM template and configure it correctly so that it registers with security center and app

[2020-02-27 11:43] PramodValavala-MSFT commented on #49051
@SandraAhlgrimm Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-02-27 11:45] PramodValavala-MSFT commented on #49050
@SandraAhlgrimm Thanks for catching that! I believe a direct download wouldn't really help considering one would be using a maven/gradle project which handles dependencies for them.

Instead, I believe linking to the [Getting Started with the Azure Java SDK](https://docs.microsoft.com/en-us/azure/java/java-sdk-azure-get-started?view=azure-java-stable) doc would help.

[2020-02-27 11:49] vanthoainguyen opened #49060 "How can I apply index policy for Cosmos MongoDB"
I want to apply this index policy but not sure how to do it using the SDK or CLI
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d0e0-b932-085e-6816-0b2219a1f37b
* Version Independent ID: b463dc0b-313c-d90a-b8aa-c2b64004f812
* Content: [Manage indexing policies in Azure Cosmos DB](https://docs.microsoft.com/e

[2020-02-27 12:00] RicoSuter commented on #46889
@DixitArora-MSFT @vladvino any update on this?

[2020-02-27 12:01] kilasuit opened #49061 "Tags to be passed to an environment deployment will fail the deployment"
Whilst making use of a modified version of this script I came across an issue where the Environment being deployed was also deploying tags to the environment

This broke the deployment as I expected the following to work

[code]

However Tags need to be added in to the templateParameters variable which is passed through to the subsequent Environment deployment which is in my opinion an antipractic

[2020-02-27 12:02] TheAzureGuy007 commented on #14983
That did not work i still cannot access dashboard at 127.0.0.1:8001 and the proxy stays in starting state. Any other solution for this issue in accessing dashboard , where i am giving access to user on a seprate namespace but should be able to access AKS dashboard which is running in kube-system namespaces ?

[2020-02-27 12:04] VikasPullagura-MSFT commented on #49039
@shahzzzam The doc is updated with PR and changes will go live once PR is approved.

[2020-02-27 12:04] #49039 closed

[2020-02-27 12:05] TheAzureGuy007 commented on #14983
If someone is trying to setup 'Kuberntes Multitenancy' on the namespace, why one would give access to 'kube-system'  by role and role-binding. All we want to give acccess to only one namepsace to specific applicaion user ?

Do i sound right or not ?

[2020-02-27 12:07] haugan commented on #45838
What's the issue? I got it working with minimal troubles. Just make sure to follow the instructions, and uncomment the /* id=item.PrimaryKey */ part in Index.cshtml then replace PrimaryKey for Id (or whatever you'd like the ID property to be named).

[2020-02-27 12:15] SandraAhlgrimm commented on #49050
Oh yes, that's a great page to be linked. Thank you!

[2020-02-27 12:16] duarte-ribeirinho opened #49063 "Outdated Link"
Link to "Storage Analytics Logged Operations and Status Messages" is outdated, new is needed or rephrasing.
https://blogs.msdn.com/b/windowsazurestorage/archive/2010/07/09/understanding-windows-azure-storage-billing-bandwidth-transactions-and-capacity.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0bd67e0-6ef1-40

[2020-02-27 12:17] WilliamMauclet commented on #48972
@VikasPullagura-MSFT Hi Vikas

I'm running the latest version of the azure-cli on a MacOS Calatina.
[code]

The problem seemed to be about outputting to a table. Removing that option made it work. Alas, I have already removed the AKSCluster, so I am unable to retry the command either in my terminal or in the cloud shell.

[2020-02-27 12:17] #48972 closed

[2020-02-27 12:20] stdistef commented on #48892
Ipv6 PG,
Please infirm the folks maintaining your docs of the GA status of IPv6.

They closed the issue I raised without correction.

Thanks,
Steve

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: suvasara <notifications@github.com>
Sent: Thursday, February 27, 2020 12:55:50 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve DiStefano <s

[2020-02-27 12:22] dzemp commented on #42271
@Roblarson, see https://azsk.azurewebsites.net/01-Subscription-Security/Readme.html#azsk-privileged-identity-management-pim-helper-cmdlets.

[2020-02-27 12:31] czgtest commented on #48999
@Mike-Ubezzi-MSFT , you can use Edge extension of VSCode on Windows/Ubuntu/Mac,  the support OS of VS edge extension is only Windows now.
 [Edge extension of VSCode](https://github.com/microsoft/vscode-azure-iot-edge) support more sample modules (C#,C, Java, Nodejs, Python, C# function ect) , [Edge Extension of VS ](url)only support C/C# sample modules now ,

The basic functions of both tools are

[2020-02-27 12:35] JuanKerr opened #49066 "Max quota shows 5TiB - this is incorrect"
In "Prepare your environment" item 4, it says "The quota can be a maximum of 5 TiB". 100TiB shares have been GA on Standard tier for about 5 months, Premium for much longer, so correct me if I'm wrong but this should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d79b73cd-ddef-ab70-ffa2-840e

[2020-02-27 12:49] BhargaviAnnadevara-MSFT commented on #49038
@akczcz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-27 12:52] oatsoda commented on #48451
@PramodValavala-MSFT Thanks - yes, it worked perfectly.  I am adding `AddApplicationInsightsTelemetry()` to my startup when running locally in development, but not in Azure.

Adding the dependency on `TelemetryConfiguration` instead of `TelemetryClient` works as expected.

Thanks

[2020-02-27 13:02] dominicbetts commented on #48511
Thanks again for your patience.

At present, IoT Central applications created using the **Custom application** template do not support IoT Plug and Play devices - IoT Plug and Play is currently in public preview. For the time being, if you want to connect a PnP device to your IoT Central application you should contact technical support and request that PnP support is enabled in your application (f

[2020-02-27 13:02] #48511 closed

[2020-02-27 13:08] thnk2wn commented on #48999
@czgtest @Mike-Ubezzi-MSFT Thanks, that's helpful. Having this incorporated into the docs would be nice.

[2020-02-27 13:16] SubhashVasarapu-MSFT commented on #33157
I will be taking this forward to the respective team.

[2020-02-27 13:17] vishalaj1 commented on #47877
Hi,

We are able to connect when we enter the FQDN and the IP in host file. However, we want to enter in our dns server so that we do not have to maintain this on all machines.

Do you see any option for this?

Regards,
Vishal

[2020-02-27 13:22] SubhashVasarapu-MSFT commented on #48644
@folkol , Appreciate your patience. Microsoft will be taking care of this maintenance as we do for the other Paas services.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-27 13:22] #48644 closed

[2020-02-27 13:33] thnk2wn commented on #48998
@blackchoey Thanks, that's helpful.

The VS approach sounds more painful? In general VS doesn't seem to like referencing projects outside of the solution root (i.e. https://stackoverflow.com/questions/11601950/adding-a-projectreference-to-a-project-that-is-not-in-the-same-solution/11602266).

I wonder if referencing the module projects as NuGet packages would work / be easier / make sense?

In VS,

[2020-02-27 13:34] pvrk commented on #48452
@ramadarla: Yes. At the moment, Azure Backup treats these nodes individually. Hence the secondary node is just another machine with its own backup data chain.

To treat these both nodes in the same way, backup also failing over from primary to secondary and continuing the data chain is a new feature request for us.

[2020-02-27 13:43] BhargaviAnnadevara-MSFT commented on #49048
@SandraAhlgrimm Thanks for reaching out! I believe your ask is addressed in #49050.

[2020-02-27 13:44] jackt-moran commented on #47716
Hi @mamccrea thank you for the update.

[2020-02-27 13:46] MonikaReddy-MSFT commented on #49061
@kilasuit , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-27 13:47] TingyiLi commented on #5717
@elepherai Thank you so much for your reply! Your reply cheers me up a lot!
I have sent you private messages through email. I‘ll really appreciate it if you could have a look.
Thanks again!

[2020-02-27 14:06] billmath commented on #46571
@tdoan1 Thanks for catching this.  I have updated the document and it should be live later today.  Thanks!

#please-close

[2020-02-27 14:07] BhargaviAnnadevara-MSFT commented on #49044
@kenakamu Thanks for the feedback. Yes, it is true that we've moved to Unified alerts, and the documentation will be updated to match the new experience.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-27 14:13] mrtomnguyen opened #49067 "how to run multiple Predictions on the same image URL?"
I'd like to use many different models on the same image url using the prediction api.
What's the fastest way to do this so the same image can be reused for all models?
Does Azure cache the image file after the first upload?

[2020-02-27 14:28] chrisoc5 opened #49069 "Roadmap for currently unsupported scenarios?"
Are there any plans to support any of the currently unsupported scenarios in the future? If so, is there any publicly viewable roadmap? Particularly interested in RDP and loging in to a server using a security key. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7e1d9a-fdaf-0a29-0746-e3a32826eb6b
* Version Ind

[2020-02-27 14:29] lizzle-shizzle commented on #45770
Hi @Karishma-Tiwari-MSFT, I'm trying to set up a cluster issuer but its failing with the following error:
no matches for kind "ClusterIssuer" in version "cert-manager.io/v1alpha2". I installed cert-manager v0.13.1

[2020-02-27 14:32] msgerneu commented on #34264
nobody will give us an hint, isnt it?

[2020-02-27 14:38] BhargaviAnnadevara-MSFT commented on #49006
@mshinnie Have you looked at the [Azure App Configuration best practices](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-best-practices) doc?

[2020-02-27 14:59] SnehaAgrawal-MSFT commented on #49043
@jumppard Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-27 15:05] dominicbetts commented on #48761
Hi @AndreWohnsland - thanks for getting in touch.

Azure IoT Central now uses the Azure Device Provisioning Service (DPS) to enable devices to connect. If you take a look at https://docs.microsoft.com/azure/iot-central/core/tutorial-connect-device you can see how to connect a device using DPS and the official Node.js SDK. At the end of the code sample you can see how to construct a connection stri

[2020-02-27 15:06] DCtheGeek commented on #49052
#assign:DCtheGeek

[2020-02-27 15:07] PramodValavala-MSFT commented on #49050
@SandraAhlgrimm We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-02-27 15:08] #48761 closed

[2020-02-27 15:10] DCtheGeek commented on #49052
@squ94wk I'm seeing `2018-11-01-preview` in both the Quickstart and on the REST API page:

![image](https://user-images.githubusercontent.com/11442954/75456790-d465d580-592f-11ea-8c9a-b1ba2812beda.png)

![image](https://user-images.githubusercontent.com/11442954/75456819-dd56a700-592f-11ea-9beb-fd96fb25a46f.png)

Can you confirm the REST page is showing `2018-11-01` with a screenshot?

@MicrosoftD

[2020-02-27 15:23] billmath commented on #46995
Hi @josuvil,

Thanks for the feedback.  I am working with the new Azure AD Connect Health PM on this currently.  Once I have updates and the page is updated I will post a notice to this issue.  Thanks!

Bill

#please-close

[2020-02-27 15:27] billmath commented on #47418
@bartvermeersch
Thank you for the feedback.  Yes, these pages currently are not aligned it is part of a bigger strategy that we are working on over the next several months.  Because AADC used to be the only way to synch (other than DirSync/MIM) everything was written from that perspective, but since the introduction of cloud provisioning, we are working on re-aligning the content.  You should see

[2020-02-27 15:27] billmath commented on #47261
#please-close

[2020-02-27 15:28] billmath commented on #47418
#please-close

[2020-02-27 15:29] billmath commented on #47796
@neeleshray-msft

Please re-assign this to localization.  Thanks!

Bill

[2020-02-27 15:31] #47261 closed

[2020-02-27 15:32] #47418 closed

[2020-02-27 15:33] billmath commented on #47796
Also I am verifying the source en-us version of the article to see if we have a GEO for Germany and Switzerland.

[2020-02-27 15:37] ckssaas commented on #48608
@iainfoulds Thank you, this is much clearer. I will review PTA technical docs. Have a nice day.

[2020-02-27 15:51] lyrana commented on #43139
Hi @Steve-000 I just want to double-check--do you have either reader or contributor access to that TSI environment?

[2020-02-27 15:59] SubhashVasarapu-MSFT commented on #48866
@shuttlek , This looks like there exists a potential bug while integration. We are working on fixing this.

[2020-02-27 16:05] wimdeblauwe opened #49071 "How to use Azure AD to Azure AD B2C linking with ROPC?"
I have a working Azure AD B2C setup that uses the ROPC flow. So I can get a JWT token by doing a POST like this:
[code]

I have then followed the instructions on [this page](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant) to connect Azure AD with my Azure AD B2C tenant.

If I now try the same `POST` with a username and password from somebody in

[2020-02-27 16:06] SumanthMarigowda-MSFT commented on #49066
@JuanKerr Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-27 16:07] SumanthMarigowda-MSFT commented on #49063
@duarte-ribeirinho  Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-27 16:08] SumanthMarigowda-MSFT commented on #49057
@heinejeppesen Thanks for the feedback! I have assigned the issue to the content author for further review.

[2020-02-27 16:09] SubhashVasarapu-MSFT commented on #48880
@jtuliani , Appreciate your patience. 1.25 Gbps is the aggregate throughput where as 1Gbps is the max tunnel output.
![image](https://user-images.githubusercontent.com/44890829/75462058-a2915500-59a9-11ea-8369-1d6763d30b71.png)

[2020-02-27 16:10] markjbrown commented on #49056
I'm confused as to what you are asking.

If you enable VNet or IPfirewall select the first box so you can use Data Explorer in the portal.

If you need other Azure services like App Services to access Cosmos DB, select the second box.

[2020-02-27 16:11] jotavar opened #49072 "Please correct typo"
"...additional infromation..." should read  "....additional information..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf2ce0f05
* Content: [Use pod security policies in Azure Kubernetes Service (AKS) - Azure Kubernetes Servic

[2020-02-27 16:22] jotavar opened #49073 ""Egress traffic overview" section needs updating to reflect Standard SKU LBs, not only Basic SKU LBs"
The entire section "Egress traffic overview" needs updating to reflect AKS cluster egress behavior when using Standard SKU LBs, not only Basic SKU LBs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a399634993d6
* Version Independent ID: a92015a1-4f3a-8b1b-1794-5566af729d16
* Content: [Static IP

[2020-02-27 16:22] danielsollondon commented on #49039
@shahzzzam - apologies for doc error, thank you raising this.

[2020-02-27 16:23] kilagg opened #49074 "Python : "UseDevelopmentStorage=true does not work"
I am using "AzureWebJobsStorage": "UseDevelopmentStorage=true" in my Python function.
Here is the error : ValueError("Connection string missing required connection details.")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c88

[2020-02-27 16:23] Mike-Ubezzi-MSFT commented on #48249
@HenrikStaunPoulsen We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-27 16:23] #48249 closed

[2020-02-27 16:23] Noldiani commented on #48805
I've invited you to a repository that shows what I've changed.

[2020-02-27 16:24] Steve-000 commented on #43139
Hi Lyrana,

The user account connecting to TSI has both reader and contributor data access rights.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: lyrana <notifications@github.com>
Sent: Thursday, February 27, 2020 4:51:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve Vande Maele <steve@itrium.be>; Mention <mention@noreply.github.com>

[2020-02-27 16:25] PramodValavala-MSFT commented on #49047
@lasse-soltvedt The doc does state that "_each function app must be configured with a separate task hub_" at the very beginning and the image shows a single function app interacting with a single task hub.

I believe the confusion could be because of the `TaskHub` parameter in the `OrchestrationClient` attribute which makes it seem like it can be controlled at run time. This is useful as you can e

[2020-02-27 16:26] #49050 closed

[2020-02-27 16:27] ChristianMontoya commented on #48977
@jrv116psu : For this step, sign in to the Azure portal with an account that has permissions to create Virtual Machines in your Azure subscription.

I'll work with Heidi to make this more clear.

[2020-02-27 16:28] Sandip-Raiyani commented on #43139
Hi @Steve-000 ,

Currently, we have the connector working for single tenant. If you have access to more than one tenant, then there is a work item in our backlog. Can you confirm if you have one or more tenants? Thanks.

[2020-02-27 16:33] tomaustin700 commented on #34451
Also getting the same problem, why has this been closed?

[2020-02-27 16:38] lasse-soltvedt commented on #49047
I fail at reading the docs apparently 😅

[2020-02-27 16:38] #49047 closed

[2020-02-27 16:41] PeterCLu commented on #49008
Hi @achakilam1022 , are you running into this error while trying to complete the tutorial? Can you provide more details? Such as when this error appears or what you are trying to do?

Thanks

[2020-02-27 16:46] dahovey opened #49076 "Internal routing using "azda-route-as"?"
In samples and channel9 videos I have seen "azda-route-as" HTTP header used in order to handle routing to child dev spaces, but I can't find documentation for this.

While there is documentation for public Uris as they relate to parent/child dev spaces, documentation for internal routing seems lacking. For example, considering the bike rental example where there is a bike service and a reservation

[2020-02-27 16:56] jgallucci32 commented on #49027
Thank you for the response. That document mentions SCIM but does not specify how to configure it. Could you please provide the documentation link to configure SCIM?                                                                                                                                                                                                                From: neeleshray-msftSent: T

[2020-02-27 16:56] ModernRonin commented on #12971
this suppresses only one of two warnings. any idea how to suppress the other one, WAT190?

[2020-02-27 16:57] tridionation commented on #34591
Bastion does not work with an uploaded VM using the machine credentials (not AD). Is there anything I need to install on the target VM? I can login to the VM using machine credentials via RDP but want a more secure option.

[2020-02-27 17:00] Ayanmullick commented on #48526
Thank you for sharing the link.

[2020-02-27 17:00] #48526 closed

[2020-02-27 17:09] hugobarona opened #49077 "[QUESTION] Secret Access Control"
Hi there. Could you please clarify me in relation to the secret access control. This page states that access control is managed at vault level. But then, we have this article (https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#secret-access-control) that states that we can give access to a given application to be able to read just a single secret, without being ab

[2020-02-27 17:10] AlbertSugi commented on #34451
Hey guys: I happened to stumble upon these same problems a while ago and there should be a couple of things you guys have to check on:
1. as docker is a linux based system (the one i used is ubuntu), did you guys forgot the shebang needed to identify the file? I never used nodejs before but in python i have to identify the start of the app with a linux shebang:
the following below is a shebang:
'#

[2020-02-27 17:12] Chonwing opened #49078 "What type of convolutional neural network is used in object detection?"
What is the architecture used in custom object detection? Any documentation about the model? Also, what are the classes(objects) that the model was trained on? Can I add more classes( objects) with keeping the original objects?

[2020-02-27 17:14] achakilam1022 commented on #49008
Hi @PeterCLu,

 Yes, I was going through the tutorial. I am receiving this error for any data set (I have tried automobile data set - the one used in the tutorial and also our custom dataset)

I am receiving this error at the "Deploy the real-time endpoint" step. After I click on Deploy,  I do see that it is creating the endpoint but not finishing the deployment process.

[2020-02-27 17:21] shashishailaj commented on #48289
@Ken-Br We verified this with PG and the Azure AD password protection proxy agent will continue to update as long as you have the  "**Microsoft Azure AD connect Agent Updater**" service running . and you can keep auto update for the AD connect disabled.

Thank you.

[2020-02-27 17:22] #48289 closed

[2020-02-27 17:31] BharathNimmala-MSFT commented on #49037
@gjj Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-27 17:32] hugobarona commented on #49077
Sorry, I just misunderstand the text. So, to confirm with you, if I have a given app with a given principal, and I want that app to be able to read a given secret from my Key Vault, I should assign the read a secret permission to that principle, and then give the secret key to the team managing the app. So they will be able to read that given secret, but not other secrets, since they do not have t

[2020-02-27 17:33] iainfoulds commented on #48608
You're welcome, @ckssaas. I can look at clarifying this doc to note it's only pass-through authentication that requires the extra configuration and why, too.

For now, #please-close

[2020-02-27 17:33] #48608 closed

[2020-02-27 17:35] BharathNimmala-MSFT commented on #49042
@cdeil Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-02-27 17:37] isagrwl commented on #48511
Thanks @donimicbetts, that does explain why it doesn't work.
But shouldn't that be mentioned as part of the document?
The document asks to create a Custom application for Connecting a PnP device but in reality Custom applications are not supporting PnP devices. So, nobody will be able to get this working.
I have spent hours to get this working and there will be other Customers trying to use PnP an

[2020-02-27 17:38] BharathNimmala-MSFT commented on #49049
@mslot Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-02-27 17:38] ThomasWeiss commented on #49060
@vanthoainguyen When using Azure Cosmos DB's API for MongoDB, you manage indexes with the tools you would usually use with MongoDB (like the Mongo shell for example). You just have to list all the existing indexes, then drop them.

[2020-02-27 17:39] andrew-hampton commented on #12971
@ModernRonin Add the following to an appropriate property group

<IgnoreValidationIssueCodes>WAT190</IgnoreValidationIssueCodes>

[2020-02-27 17:41] Bartolomeus-649 commented on #48712
@SaurabhSharma-MSFT I never said it included Azure AD P1 or P2, I said it enables you to use MFA.
So my question stands: How do you check for legacy authentication use with an Office 365 E3 subscription before you turn on MFA?

[2020-02-27 17:46] skynetrulz opened #49079 "Modifying the client APP manifest file to make authentication work"
I followed the steps but for me authentication was failing with an error

 "Failed to acquire a token: acquiring a new fresh token: waiting for device code authentication to complete: autorest/adal/dev token: Unknown Error"

Hence modified the below given key/value pairs in client app manifest file to make authentication work

"allowPublicClient": true,
"oauth2AllowIdTokenImplicitFlow": true

---

[2020-02-27 17:46] BharathNimmala-MSFT commented on #49046
@mslot Thank you for your query, assigning this issue to our document author to further evaluate the feedback and update the document accordingly.

[2020-02-27 17:48] MashaMSFT commented on #42901
Hi @dcbrown16 , that's my thinking as well!  Give us a bit, we'll get this documented for you! :)

Thanks again!
Masha from the SQL Docs team

@stevestein fyi