[2021-11-06 17:56] markingmyname commented on #72107
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag @
sr-msft in your reply. We will gladly continue the discussion,

[2021-11-06 17:56] markingmyname commented on #72107
#please-close

[2021-11-06 17:56] #72107 closed

[2021-11-06 17:57] markingmyname commented on #72446
@rarandiv

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag @sunilagarwal in your reply. We will gladly continue

[2021-11-06 17:58] markingmyname commented on #72446
#please-close

[2021-11-06 18:28] artizzan opened #83489 "Misleading restore documentation with potentially major impact"
My today case was:
1. Restore production Postgres Server. -> A new server has been provisioned
2. Reconfigure separate instance of an app to point to this server -> Modified "Server" part of connection string to use new address
3. Run the app and test results of data migration on the restored instance.
4. After my tests, to my surprise I've noticed, that all the data changes I've made, happened on

[2021-11-06 23:33] sunilagarwal commented on #74615
Yes, this needs to be changed to 5432

[2021-11-06 23:35] nfgrep opened #83491 "How is a JSON Request body parsed by an HttpTrigger function for a custom type?"
I'm sure this is documented *somewhere*, but the closest I've found is [this blurb](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#payload).

I'd like to know what rules are being used to parse the JSON (null values, props not existing, etc).
I'm also not sure which is the "runtime" being referred to here.

Again, this seems like it would

[2021-11-07 01:41] ToruMakabe opened #83493 "Target side specifications should be documented"
Could you please document the specifications between Ingress and target apps to design our apps and to determine Container Apps is applicable for our apps? For example,

* Whether encryption and authentication are possible (TLS, etc)
  * If no choice, should explain how it's secure (in private network, etc)
* Transport choices(HTTP 1/2, etc)
* Load Balancing algorithm (Round Robin, etc)
* Specific

[2021-11-07 02:05] GiftA-MSFT commented on #83486
@albertoRamon we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 02:06] GiftA-MSFT commented on #83487
@cataggar we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 02:08] GiftA-MSFT commented on #83489
@artizzan we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 05:59] shashishailaj commented on #82886
@shanjin90 Generally the ADFS and AD connect are within the perimeter network in most organization . Having a proxy internally between ADFS and AD connect within the intranet is an edge case . The current article assumes that the AD connect is able to directly talk to the ADFS servers and WAP servers from within the intranet. However if you have proxy internally then the communication from ADConne

[2021-11-07 05:59] #82886 closed

[2021-11-07 06:06] jjjjeee commented on #81344
@cynthn  could you help check it and add the suggestion to document? thank you very much for help!

[2021-11-07 06:16] shashishailaj commented on #83249
@Donnie-Zhang Yes the ADFS documentation has been separated from Azure AD ones . You can follow the [ADFS documentation here](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/manually-configure-a-service-account-for-a-federation-server-farm) for more information .

Thank you .

[2021-11-07 06:16] #83249 closed

[2021-11-07 07:36] szabgab opened #83495 "How to delete a file share?"
I am sure it is explained somewhere else, but I could not locate it and I could not find a link to it from this page.
IMHO it would make sense to include a link to the document about deleting a file-share.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2c9646-a4bc-aa28-de27-5fce4d4b4e44
* Version Independent ID: 1288

[2021-11-07 10:24] SamVanhoutte opened #83496 "Web App Bot no longer exists in Azure portal, doc is not in sync"
Hello,

It looks like the wizard to create a bot has changed in the Azure portal.
There is no `Web App Bot` anymore in the `Create new resource` wizard.
Would be good to see this adapted, or linked to a newer version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfbfbd93-0056-6d8b-8ee1-f7d0c6d0a739
* Version Independe

[2021-11-07 10:24] yertaylan67 opened #83497 "Azure DNS IP needs correction"
[Enter feedback here]

Hello,

The IP address 169.63.129.16 in the text and diagrams needs to be changed to 168.63.129.16.

thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b80899c-6ae7-7bc4-f45a-78d90446b173
* Version Independent ID: d2778f69-9c53-02c1-f6cf-d811e6065def
* Content: [Private endpoints overview

[2021-11-07 10:30] artizzan commented on #83489
The thing that particularly mislead me was this phrase:

"The new server created by point-in-time restore has the **same server admin login name** and password that was valid for the existing server at the point-in-time chose."

That way when editing connection string, I was only paying attention at server part.

Thank you for handling this! 🍻 👍

[2021-11-07 11:03] BenoityipMSFT opened #83499 "AzureDiagnostics has no data"
[Enter feedback here]
Can you verify whether this page is out of date, I have tried 2 different subscription account, and there is no data at AzureDiagnostics table, even though there is data in SynapseSqlPoolExecRequests table. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 763272bb-fbbc-f4b9-09b8-c0c086684a9e

[2021-11-07 12:51] AnuragSingh-MSFT commented on #83491
@nfgrep, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-07 12:54] AnuragSingh-MSFT commented on #83493
@ToruMakabe, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-07 13:20] assaf-grth commented on #83203
Thank you for the clarifications @SadiqhAhmed-MSFT
Is this flow you described here documented online somewhere?

[2021-11-07 14:41] psyblade12 commented on #82599
Then I will try remaking my test again. This time I will post a picture of DMV result with start end end time

Here, I have the first test which all of my min, max and cap is set at 10%

![image](https://user-images.githubusercontent.com/28593221/140647637-8c17a9e3-adee-4526-a560-1c92c4ccccef.png)

But the CPU is around 60%
![image](https://user-images.githubusercontent.com/28593221/140649593-bda6

[2021-11-07 14:59] GiftA-MSFT commented on #83495
@szabgab we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 15:18] GiftA-MSFT commented on #83496
@SamVanhoutte we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 15:22] GiftA-MSFT commented on #83497
@yertaylan67 we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 15:23] GiftA-MSFT commented on #83499
@BenoityipMSFT we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 16:35] sr-msft commented on #83489
Hi @artizzan,

sorry to hear about you experience.

We had documented about changing username under "Post restore tasks" https://docs.microsoft.com/en-us/azure/postgresql/concepts-backup#perform-post-restore-tasks. But we will clarify further in the doc page and make it clear.   We will also look into your second point on authorization.

[2021-11-07 17:16] jsquire opened #83503 "Horisonatl scroll bar is missing - it's impossible to read the full content of the page"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#25179](https://github.com/Azure/azure-sdk-for-net/issues/25179).

### Please be aware that @vrozovmicrosoft is the author of the original issue and include them for any questions or replies.

## Details

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-11-07 19:27] cveld opened #83504 "Add reference to Azure kubelogin"
With `kubelogin` it is possible to prevent `kubectl` kicking off an unnecessary authentication cycle.
`kubelogin` will take an Azure access token from the az cli context and inserts it into kubeconfig.

E.g.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b18eba-07a5-dbbf-b697-0264e326f4d4
* Version Independen

[2021-11-07 19:33] cveld opened #83505 "Webhook is used for authorization"
The documentation describes a webhook that is plugged into api server for authentication purposes, specifically pulling the userid and group memberships via Microsoft Graph API.

I believe this is not the full story. It seems the webhook is used for authorization purposes: it validates the requested operation against Azure RBAC role assignments. If this fails, then Kubernetes RBAC is executed agai

[2021-11-07 20:09] SatishBoddu-MSFT commented on #83482
Hello @macux

Thanks for your feedback.

Our SME will review your request.

[2021-11-07 22:22] fegu commented on #43248
The comment by @ctraltdan is correct, I confirmed this to be my problem as well. The solution is then to delete the certificate by going to resources.azure.com as described e.g. [here](https://stackoverflow.com/questions/44259047/how-to-remove-app-service-certificate-resource) and voila I can create the linux consumption plan.

[2021-11-07 22:26] JefTek opened #83507 "Old Policy/Link Name focused on Trusted Location for MFA Registration"
The screenshot and links reference using Trusted Location for MFA registration, but this has been updated with the new content link below.

Conditional Access: Securing security info registration https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-registration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-11-07 23:01] GiftA-MSFT commented on #83503
@jsquire we'll review your feedback and get back to you shortly. Thanks.

[2021-11-07 23:39] griffinbird opened #83508 "Cosmos DB Insights is not in preview anymore. Need to update doc to remove preview wording."
There are numerious paragraphs which call Insights (preview) which needs to be update to Insights as this isn't preview anymore for Cosmos DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
* Version Independent ID: f5cccae0-a752-4065-605a-4179016a5a42
* Content: [Monitor and debug

[2021-11-08 00:27] Genuineh commented on #83321
Hi @asergaz , same result in tile size 512

[2021-11-08 01:24] SaurabhSharma-MSFT commented on #83508
@griffinbird Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-08 01:27] SwathiDhanwada-MSFT commented on #83134
@ciufudean As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-11-08 01:27] #83134 closed

[2021-11-08 01:28] SwathiDhanwada-MSFT commented on #83200
@RESHVANTHKS As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-11-08 01:28] #83200 closed

[2021-11-08 01:28] SwathiDhanwada-MSFT commented on #83201
@RESHVANTHKS As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-11-08 01:28] #83201 closed

[2021-11-08 01:37] SwathiDhanwada-MSFT commented on #83136
@ciufudean  Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2021-11-08 01:38] SwathiDhanwada-MSFT commented on #83167
Assigning to content author @MGoedtel for review.

[2021-11-08 01:44] LifeRyuto opened #83509 "Microsoft.DBforPostgreSQL/singleservers/* operations."
`Microsoft.DBforPostgreSQL/singleservers/*`  resource provider operations do not exist and I believe they should be removed from the documentation. Could you please kindly confirm that?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f

[2021-11-08 01:46] SwathiDhanwada-MSFT commented on #83252
Assigning to content author @tfitzmac for review.

[2021-11-08 01:46] wuping2004 commented on #76435
It has same issue for abort operation.

- Incorrect one
Move-AzureService -Abort -ServiceName $serviceName -DeploymentName $deploymentName -CreateNewVirtualNetwork

- Correct one
Move-AzureService -Abort -ServiceName $serviceName -DeploymentName $deploymentName

[2021-11-08 01:47] #83136 closed

[2021-11-08 02:41] shawncx commented on #83374
Hi @yaron2 , thanks for help. I am still getting the same error with json format.
[code]
Here's my json file, could you help check?
[code]

[2021-11-08 02:45] psyblade12 commented on #82599
Then I will try remaking my test again. This time I will post a picture of DMV result with start end end time

Here, I have the first test which all of my min, max and cap is set at 10%

![image](https://user-images.githubusercontent.com/28593221/140647637-8c17a9e3-adee-4526-a560-1c92c4ccccef.png)

But the CPU is around 60%
![image](https://user-images.githubusercontent.com/28593221/140649593-bda6

[2021-11-08 02:46] shawncx commented on #83374
I double confirm my config, it seems the accountName is wrong. After changing to the right account name, the creation is successful. Thanks a lot

[2021-11-08 02:46] #83374 closed

[2021-11-08 02:47] dzsquared opened #83511 "tough to copy-paste the shell commands"
Just a speed bump - this article has quite a few Azure CLI commands with placeholder values - except the commands are split across multiple lines and the placeholder is not on the last line so instead of copy-pasting directly to the shell I have to paste into a text editor first.  If the commands are rearranged such that the resource group etc are on the last line they're easier to use.

---
####

[2021-11-08 02:53] SumanthMarigowda commented on #83504
@cveld Thanks for the question! We are investigating and will update you shortly.

[2021-11-08 02:54] SumanthMarigowda commented on #83505
@cveld Thanks for the question! We are investigating and will update you shortly.

[2021-11-08 02:57] kinosong opened #83512 "No option "Add training data to train keyword model" for custom keyword"
[Enter feedback here]
in this screenshot, there is an option "Add training data to train keyword model"
![image](https://user-images.githubusercontent.com/7326634/140677251-7af34a96-0515-40d9-b312-e9472a046f8b.png)
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/media/custom-keyword/custom-kws-portal-choose-prons.png

but in speech studio, there is no place to find this op

[2021-11-08 03:20] surajsurendran683 opened #83513 "Incremental data extract from cosmos db"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-11-08 04:06] jameswestall commented on #74724
Hi @Karishma-Tiwari-MSFT .

This Issue can be closed, PR has has been merged.

[2021-11-08 04:06] #74724 closed

[2021-11-08 04:07] vipulsparsh commented on #83507
@JefTek
Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-08 04:09] vipulsparsh commented on #83509
@LifeRyuto Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-08 04:12] VikasPullagura-MSFT commented on #83511
@dzsquared
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-08 04:13] VikasPullagura-MSFT commented on #83511
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-11-08 04:20] BenoityipMSFT commented on #83499
I can close this ticket, This page is against the old synapse sql pool, not the new Synapse SQL pool

[2021-11-08 04:20] #83499 closed

[2021-11-08 04:37] SumanthMarigowda commented on #83513
@surajsurendran683 Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2021-11-08 04:51] sunilagarwal commented on #81914
Yes, there are plans to provide extension parity with Single and more. Pgrouting is not yet supported on flexible

[2021-11-08 04:59] ryocown opened #83514 "Latest @azure/cosmos release is versioned at 3.14.1 on npm, while the official release note is still at 3.1.0"
As titled.

npm:
https://www.npmjs.com/package/@azure/cosmos

Official Cosmos doc on Node SDK:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-sdk-node
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-sdk-node#release--retirement-dates
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-nodejs-get-started

Official Azure API doc on the same topic:
https://docs.mic

[2021-11-08 05:04] ryocown commented on #83514
Took a bit of digging but we do have the full changelogs are here.
https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/CHANGELOG.md

It would be nice to merge this with the official docs.

[2021-11-08 05:04] surajsurendran683 opened #83515 "Incremental data extract from COsmos DB"
Not able to extract data incrementally from Cosmos DB. The Max query is not working in ADF pipeline. SELECT  VALUE Max(TimestampToDateTime(C._ts*1000)) as DateTime FROM C. This query ideally should fetch value

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cac5a8-aa7f-8aba-d47e-e78249efa031
* Version Independent ID: 09c34890-b4f0-be28-9813-bb8

[2021-11-08 05:13] sunilagarwal commented on #81914
@SaurabhSharma-MSFT this is more of a feature ask and we have a UVOC for that. Should this doc request to be assigned to someone else? Look forward to your help

[2021-11-08 05:15] sunilagarwal commented on #82459
@AwdotiaRomanowna great point you make!! We are using the term hot-standby to mean that it is sync commit with zero data loss. Also, we dont materially prevent querying the standby but dont recommend as there is no resource governance at this time

[2021-11-08 05:17] sunilagarwal commented on #81634
@wenzho215 thanks for pointing this out. we will update the doc

[2021-11-08 05:20] AnuragSharma-MSFT commented on #83413
@petertuton Thanks for reporting this, we have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-11-08 05:24] SubhashVasarapu-MSFT commented on #82845
@Artisticcheese, Apologies for the delay in response. Logging should not be restricted to SKU. If you have enabled logging on the gateway, then the logs should appear according to the legitimate traffic flow. Are you still unable to get those logs?

[2021-11-08 05:38] sunilagarwal commented on #77261
@AwdotiaRomanowna thanks for pointing this out. what you suggest makes sense. there are 6 digits hhmmss and we are saying hh0000 which is confusing.

[2021-11-08 05:47] falrnacn commented on #83371
https://docs.microsoft.com/en-us/azure/api-management/graphql-api

[2021-11-08 05:52] AnuragSingh-MSFT commented on #83397
@ismahernandez, this issue is being assigned to the content team for further review and update.
@rboucher, Can you please review this. The request is to document the schema of metrics being exported to eventhub, similar to what we have for resource logs [here](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-schema#top-level-common-schema).

[2021-11-08 06:33] maurizio01 opened #83516 "Installation with External guest account"
We are managing several Azure AD envorinments for our customers and we use our company Azure AD account. Our accounts are defined as external identities on our customer Azure AD. However when it comes to install/upgrade/configure the AAD Connect we cannot use our external identities because doing so AAD Connect want to access the Azure AD of our company. Is there a way to use our external account

[2021-11-08 07:37] andrew-twigg opened #83517 "Auth token step"
The token I get from running the step to get the auth token produces a token with claim *https://management.core.windows.net/*.

Then when running commands on *databricks cli* I get the error:

[code]

If I specify the resource id then works ok:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bb00ae-8ec1-0000-

[2021-11-08 07:41] RHooijer opened #83518 "Update page with limits"
Can you update this page with some limitations, apparently the create file for example doesn't work if the file is over 20mb.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e73897-b362-2004-5dd4-bd3cf61101fb
* Version Independent ID: 33d06fa1-0ab5-a9c0-d58b-e001e729ed0a
* Content: [Connect to file systems on premises

[2021-11-08 07:44] powerfit1 commented on #51322
This is an update solution provided by AWS
Split the role in two segments :
AWS support was able to get us sorted out, but I do suspect that your AWS App for AzureAD could be updated to accept multiple Action values.   Here’s what they had me do:

Split the Trust Policy from this:

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Federated"

[2021-11-08 07:52] dreitzner commented on #82119
Is there any ETA on when there will be some movement on this ticket?

[2021-11-08 08:04] AndyLonghurstHESA commented on #83439
https://docs.microsoft.com/en-us/azure/sentinel/geolocation-data-api here is the doc I am referring to

[2021-11-08 08:07] CHEEKATLAPRADEEP-MSFT commented on #83517
@andrew-twigg  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-11-08 08:23] vipulsparsh commented on #83516
@maurizio01 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-11-08 08:24] Smithy396 opened #83520 "Netrc Hyperlink Correction"
Hello

Netrc hyperlink on the below page seems to be invalid -
https://everything.curl.dev/usingcurl-netrc.html

I presume this is the intended link -
https://everything.curl.dev/usingcurl/netrc

![image](https://user-images.githubusercontent.com/48734856/140707608-4a3a22b6-c22c-43cd-9ffa-f2ddb03f1bd5.png)

![image](https://user-images.githubusercontent.com/48734856/140707192-bcb67989-4e7f-49ba-9d

[2021-11-08 08:46] popujol opened #83522 "German Switzerland has several Dialtects"
Hello
There a several versions of German Switzerland, can you please provide more infornation which German Switzerland is recognized :
Check this article for more details https://www.britannica.com/topic/Swiss-German-language
Thank you for the answer

Kind regards,

Pierre-Olivier
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-08 08:58] SnehaAgrawal-MSFT commented on #83287
@msftnadavbh Thanks again for the feedback! This is now correct and clicking on Resources >> Pricing takes to this link. https://azure.microsoft.com/en-gb/pricing/details/container-apps/

We will now close this out but if you feel you need more information please just let us know.

[2021-11-08 08:58] #83287 closed

[2021-11-08 09:00] BasavarajGM opened #83523 "Lack of Fairplay configuration snippet using NodeJS"
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

_Originally posted by @HarshitaSingh-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/79748#issuecomment-903454021_

Hi @HarshitaSingh-MSFT @johndeu,

We have the Apple FairPlay Certificate. In t

[2021-11-08 09:02] Heidelberger opened #83524 "Incorrect location of connection strings"
The page states:

"You can find your storage account's connection strings in the Azure portal. Navigate to SETTINGS > Access keys in your storage account's menu blade to see connection strings for both primary and secondary access keys."

But the connection strings are located in:

Security + networking >> Access keys

Please consider updating.

Thank you!

Quentin

---
#### Document Details

⚠ *D

[2021-11-08 09:03] keke8273 opened #83525 "Unable to link storage account to Log analytics workspace"
We are using `fluentbit` to output application logs to a `Azure log analytics workspace`. The application log does appear in the workspace as a table under the `Logs` blade, `Custom Logs` category. So far so good.

Due to the maximum retention period of the Log analytic workspace limited to [730 days](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-cost-storage#retention-by-data-t

[2021-11-08 09:06] CHEEKATLAPRADEEP-MSFT opened #83526 "Azure security baseline for Azure Databricks is broken"
Azure Security Benchmark overview page has Azure Databricks link broken.

![image](https://user-images.githubusercontent.com/79183421/140713563-3fca2fbb-e674-424e-b960-89f21e30b753.png)

Azure security baseline for Azure Databricks link broken: https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/databricks-security-baseline

![image](https://user-images.githubusercontent.com/791834

[2021-11-08 09:12] SumanthMarigowda commented on #83524
@Heidelberger  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-08 09:13] ignaciofls commented on #82205
@PatrickFarley what is the status here? I believe the bug is still there

[2021-11-08 09:41] ShaikMaheer-MSFT commented on #83520
@Smithy396 Thank you for sharing your feedback. We are actively validating it. We will get back with updates soon.

[2021-11-08 09:50] ram-msft commented on #83512
@kinosong Thanks for the question. We are investigating the issue and will update you shortly.

[2021-11-08 09:58] kengaderdus commented on #82558
@ibarbato You can look at this [Azure AD B2C doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow)

Let us know if you require further assistance.

[2021-11-08 10:02] jesperkristensen opened #83529 "Wrong information on documentation on identity-based connections in function triggers"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#identity-based-connections

I am using `<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Storage" Version="5.0.0" />`.

The page currently says:

I get the error below when I use the documented value of the form `<storage_account_name>.blob.core.windows.net`. If I instead replace

[2021-11-08 10:04] Ronelius opened #83530 "IoT Hub Device Streams deprecated? Where to find quick start examples?"
Hello,

Referring to: https://docs.microsoft.com/de-de/azure/iot-hub/iot-hub-device-streams-overview

Where can I find documentation how to get started on iot hub device streams?

I saw that there were some quick-start examples, but they were removed.

Is this service deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-08 10:11] JesvinJoseph opened #83531 "Blob storage module has 3 vulnerabilities"
[Enter feedback here]

The latest blob storage module has 3 vulnerabilities and also it would be really good if we can release the images with a version tagging.

![image](https://user-images.githubusercontent.com/42056590/140723666-0fcd88e6-ed05-4c33-be4b-3f9217ff89d4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-11-08 10:25] JesvinJoseph opened #83532 "ASA module 1.0.9 has vulnerabilities regarding the dotnet and visual studio updates"
[Enter feedback here]

I have attached the detail in the below screenshot.

![image](https://user-images.githubusercontent.com/42056590/140725659-516b9114-9842-4744-87c1-235923639371.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b59ae-612d-c38f-2060-6a8300fb77fd
* Version Independent ID: 4db63f6d-34eb-f373-5c0

[2021-11-08 10:27] KalyanChanumolu-MSFT commented on #83128
@aleksy-zalenski Appropriate warning messages are added the documentation.
We will proceed to close this issue now.
If there are further questions regarding this issue, please comment and we will gladly continue the discussion.

[2021-11-08 10:27] #83128 closed

[2021-11-08 10:29] SwathiDhanwada-MSFT commented on #83525
@keke8273 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-11-08 10:33] oocx opened #83535 "cannot get UltraSSD_LRS storage to work with the instructions provided in the documentation: " UltraSSD_LRS is not supported with caching type ReadWrite""
I tried to follow the instructions here to set up a k8s pod with a ultra ssd disk:

[code]

I get the following error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9cef1a6-012b-2750-c016-b3ebddbcd706
* Version Independent ID: 424ee453-2459-af29-8a1f-65ad333ce454
* Content: [Enable Ultra Disk support on Azure

[2021-11-08 10:36] CHEEKATLAPRADEEP-MSFT commented on #83517
@andrew-twigg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-08 10:44] SumanthMarigowda commented on #83515
@surajsurendran683 Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2021-11-08 10:49] jayendranarumugam commented on #7731
Hi @DCtheGeek ,

I require this feature as I was added a parameter for some testing but later found that its not working. So I'm trying to remove those parameters. But its throwing the error

**Code="InvalidPolicySetParameterUpdate" Message="The existing policy has '18' parameter(s) which is greater than the count of parameter(s) '15' in the policy being added. Policy parameters cannot be removed

[2021-11-08 10:56] marcelkmfst opened #83537 "Clarification arround outbound connectivity"
Hi,

at least for me, it´s not clear what outbound connectivity is required. Article just states that outbound is required. the quesiton is, to which destinations over which protcols? Or is "ALL" required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b1f062-0ede-f0c3-61d8-d67095ce6e2f
* Version Independent ID: 23c9

[2021-11-08 10:59] AshokPeddakotla-MSFT commented on #83182
.

[2021-11-08 10:59] kmathewmk opened #83538 "Low level troubleshooting on aks node"
Could you please document how one can perform low level troubleshooting on AKS nodes? For eg how can we obtain DMI information since tools like dmidecode do not work in debug containers:

[code]
root@aks-nodepool1-26189857-vmss000028:/#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe

[2021-11-08 11:00] AshokPeddakotla-MSFT commented on #83053
@Infinitism We hope that address your query. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-11-08 11:00] #83053 closed

[2021-11-08 11:01] AshokPeddakotla-MSFT commented on #83053
.

[2021-11-08 11:06] surajsurendran683 commented on #83515
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-cosmos-db?tabs=data-factory

No incremental extract shown

[2021-11-08 11:12] AshokPeddakotla-MSFT commented on #83050
[@mlagridigital](https://github.com/mlagridigital) Does that answer your query? Do let us know if you have any further queries. 

[2021-11-08 11:13] AshokPeddakotla-MSFT commented on #82488
.

[2021-11-08 11:15] AshokPeddakotla-MSFT commented on #81864
.

[2021-11-08 11:16] RohitMungi-MSFT commented on #83522
@popujol I think this information is based on the training of the model behind the service and this is mostly neutral or dialect details are not mentioned as part of language support page. Let me check if this information is available and will update the issue with any information that can be made public.

[2021-11-08 11:24] bencorley opened #83540 "Would be nice to know if we need to open TCP ports ? UDP ?"
Hi,

Would be nice to know if we need to open TCP ports ? UDP ?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fab35792-13ac-5fc9-c434-49d3a98e77c0
* Version Independent ID: 75dc39cc-d528-088c-3f8e-2454a5db56bb
* Content: [Log Analytics agent overview - Azure Monitor](https://docs.microsoft.com/en-us/azure/azu

[2021-11-08 11:26] AshokPeddakotla-MSFT commented on #83056
.

[2021-11-08 11:28] AshokPeddakotla-MSFT commented on #83033
.

[2021-11-08 11:30] ShaikMaheer-MSFT commented on #83315
@chpouls If you are looking for how to browse to the template shown in documentation, then below are the steps.

In synapse studio Click on "Help" icon and "Knowledge center" sub menu.
![image](https://user-images.githubusercontent.com/84302758/140734000-c97dca48-e261-4343-bc37-f4dbee39fbae.png)

Click on browse gallery inside Knowledge center.
![image](https://user-images.githubusercontent.com/84

[2021-11-08 11:31] AshokPeddakotla-MSFT commented on #81865
.

[2021-11-08 11:40] AshokPeddakotla-MSFT commented on #83531
[@JesvinJoseph](https://github.com/JesvinJoseph)  Thanks for the feedback! We will review this and check with our internal teams for further updates. 

[2021-11-08 11:53] ShaikMaheer-MSFT commented on #83316
@gsaurer create PR for this change. Below is the PR URL. Requesting to review and merge PR changes. Thank you.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/178986

[2021-11-08 11:55] ShaikMaheer-MSFT commented on #83324
@dcstwh Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2021-11-08 11:57] dylian94 opened #83541 "The section "Limit the domain of sign-in accounts" should be updated to refer to the authsettingsV2 resource"
The steps indicated below the "Limit the domain of sign-in accounts" header seem to be no longer relevant for new App Service instances. Instead it would be great if this could indicate how to change the authsettingsV2 resource.

As far as I've figured out this can now be done by navigating to:
subscriptions > <subscription_name> resourceGroups > <resource_group_name> > providers> Microsoft.Web >

[2021-11-08 11:57] kengaderdus commented on #82986
Hi @bbrandt if you want to allow users from any Azure AD tenant and even specify the Azure AD tenants that these users must come from to sign in to your B2C app, you will need to use custom policy to achieve that as described [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-custom-policy#configure-azure-ad-as-an-identity-provider

[2021-11-08 11:59] ShaikMaheer-MSFT commented on #83316
@vidarbms Thanks for pointing out the issue, I've addressed this issue in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/178986
 The changes should be live soon.

[2021-11-08 11:59] #83316 closed

[2021-11-08 12:06] VikasPullagura-MSFT commented on #83504
@cveld
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-08 12:06] VikasPullagura-MSFT commented on #83504
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2021-11-08 12:14] jayendranarumugam commented on #81891
Hi @mike-urnun-msft , Is there any update ?

[2021-11-08 12:27] VikasPullagura-MSFT commented on #83538
@kmathewmk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-08 12:27] VikasPullagura-MSFT commented on #83538
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-11-08 12:30] VikasPullagura-MSFT commented on #83537
@marcelkmfst
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-08 12:30] SaiKishor-MSFT commented on #82956
@saiKrish13 Are you suggesting this information be updated for this page? Please explain further. Thank you!

[2021-11-08 12:30] VikasPullagura-MSFT commented on #83537
@fitzgeraldsteele
Can you please check and add your comments on this doc update request as applicable.

[2021-11-08 12:31] VikasPullagura-MSFT commented on #83535
@oocx
Thanks for your Question! We are currently investigating and will get back on this.

[2021-11-08 12:33] s-spindler commented on #66402
In case anyone runs into the same issue: removing and reinstalling azure-cli which did not help. However, reinstalling all the extensions did help.
They are installed using pip and can be removed like so:
[code]
For the brave, the first command can of course be directly piped into the second and `pip uninstall` also has a `-y` flag so it doesn't ask about every entry.

[2021-11-08 12:34] saiKrish13 commented on #82956
yes, I have discussed with PG of App GW " @azhar2005" on this.

[2021-11-08 12:35] juanandmsft opened #83543 "ADE support for SLES 15.x"
Hi,

Any plan to support ADE for SLES 15.x (specially interested in 15.2)?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 358673f9-fd9a-3357-bf50-4d9b7fbe6cc6
* Version Independent ID: a4978908-6539-17f7-8fb6-3d88cad7237c
* Content: [Enable Azure Disk Encryption for Linux VMs - Azure Virtual Machines](https://d

[2021-11-08 12:36] SaiKishor-MSFT commented on #82956
@azhar2005 Can you please look into this?

[2021-11-08 12:37] SnehaAgrawal-MSFT commented on #83541
@dylian94 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-08 12:38] artisticcheese commented on #82845
Yes, missing logs was not due to the SKU but the fact that P2S connections based on certificate authentication do not logged at all.

[2021-11-08 12:38] #82845 closed

[2021-11-08 12:54] ShaikMaheer-MSFT commented on #83520
@mssaperla \ @leifbro Addressed this feedback in below PR. Requesting to review PR and merge changes.
https://github.com/MicrosoftDocs/databricks-pr/pull/825

[2021-11-08 12:57] jonathan-martin-endava opened #83544 "Key Vault RBAC permissions model not supported"
I could not get Key Vault RBAC permissions to work with Application Gateway and raised a ticket. The response was that it is not supported but on the roadmap.

This page needs updating as it states it is already supported.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Inde

[2021-11-08 13:07] KrishnaG-MSFT commented on #83540
@bencorley Thanks for the comment. If you meant about opening ports in network requirements section of the document, then as shown in below screenshot, its mentioned that _the agent for Linux and Windows communicates outbound to the Azure Monitor service over TCP port 443._

![image](https://user-images.githubusercontent.com/45988031/140746953-f396967e-c54b-47a2-bb0e-9a36d8c67db1.png)

If the feed

[2021-11-08 13:22] CatchSandeepVaid opened #83546 "Where are you using Auth Code?"
Where (& how?) are u using AuthCode in this flow? It seems frontend app is obtaining accessToken from AD and passing that accessToken to API Management Gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623cc870-6f9d-039e-b965-a964482a3e6d
* Version Independent ID: 80cb6774-fc95-f551-aae7-5f8091bd3b17
* Content: [

[2021-11-08 13:34] WillEastbury commented on #83546
Hello Sandeep,

Thank you for the feedback!

We're actually using PKCE + Auth code flow in the sample.

In direct answer to your question, the combination of selecting only the 'Single Page Application' endpoint type and / or using MSAL.js v2.0 or above forces the use of the PKCE and Auth Code flow in AAD B2C, we don't enable the web or implicit endpoints.

You can see that option being selected h

[2021-11-08 13:45] RyanHill-MSFT commented on #83107
No worries @alaconda, glad to hear it was sorted out.

[2021-11-08 13:45] #83107 closed

[2021-11-08 13:45] diegodct opened #83548 "Update to RHEL 8 using VMware"
Please update to include all the relevant information regarding RHEL 8 using VMware ( It is already there for Hyper-v but not for VMware).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3ebd-0571-357e-0fde-ef434a728a24
* Content:

[2021-11-08 13:47] gbstan92 opened #83549 "Confusing information"
The information on this page regarding Log Analytics agent on AKS nodes is confusing. First, there is a paragraph which states that this is supported https://docs.microsoft.com/en-us/azure/security-center/defender-for-kubernetes-introduction#does-aks-allow-me-to-install-custom-vm-extensions-on-my-aks-nodes.

Then, 3 paragraphs lower it mentions that it's not supported if deployed as Virtual Machin

[2021-11-08 13:48] SrijitBose-MSFT commented on #83535
@oocx , thank your or your feedback.

We could only reproduce this error when explicitly setting the `storageClass.parameters.cachingmode` to `ReadWrite`. When this was set to `None` as in the examples from the [linked document](https://docs.microsoft.com/en-us/azure/aks/use-ultra-disks), this error wasn't reproducible.

@zr-msft can we add this limitation to the document?

[2021-11-08 13:52] oocx commented on #83535
@SrijitBose-MSFT In my example, I have set it to "None" (at least I think so, see my example above), but I still get the error, that's why I am confused. Is it supposed to work the way I have configured it? Or am I missing something?

Thanks!

[2021-11-08 13:55] ChaiSwaddipong opened #83550 "Private link service does not support IP backend"
Is there an error on this page about the type of load balancer backend? I could not create a private link service with IP backend.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49-8135-d208ee13bc14
* Content: [Quickstart - Create a Private

[2021-11-08 13:56] ChaiSwaddipong commented on #83550
![NoIpBased4PLS](https://user-images.githubusercontent.com/81920890/140754466-aac5e286-9b28-4865-87a3-bd25e049430b.png)

[2021-11-08 13:57] KrishnaG-MSFT commented on #82368
We have verified and updated the document as appropriate. Thanks again!

[2021-11-08 13:57] #82368 closed

[2021-11-08 13:58] ChaiSwaddipong commented on #83550
![NoIpBased4PLS](https://user-images.githubusercontent.com/81920890/140754755-a963e119-cd40-403e-8fb0-3bb707f7d639.jpg)

[2021-11-08 14:00] ChaiSwaddipong commented on #83550
![NoIpBased4PLS (2)](https://user-images.githubusercontent.com/81920890/140755037-bebdc7f4-4959-4846-b68f-ccd9af72ab54.jpg)

[2021-11-08 14:03] jeffhollan commented on #83474
Thanks for the feedback. This doc was an initial iteration and some ongoing chats with marketing on ideal positioning. I'll pause on making this changes for now and circle back after as those convos settled this month.

Marking as closed for now

#please-close

[2021-11-08 14:03] #83474 closed

[2021-11-08 14:33] kengaderdus commented on #83075
Hi @akg322 we do not have that feature at the moment. However, there is [a work around (a few concepts combined to achieve the goal)](https://github.com/azure-ad-b2c/samples/tree/master/policies/relying-party-rbac).

Be sure to watch the video included in the repo. Also, note that [Microsoft Graph](https://docs.microsoft.com/en-us/graph/overview) is recommended as Azure AD Graph is on a deprecatio

[2021-11-08 14:34] mcollier opened #83551 "Large Message Support?"
Should the table at the top of the page show that Service Bus Premium now supports messages up to 100 MB (instead of 1 MB)?  If so, it would be helpful to include a link to the "Large messages support" section in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f1ade8-3b10-e8d4-370d-62c26b3b200a
* Version

[2021-11-08 14:37] KrishnaG-MSFT commented on #83113
@ohadschn We have verified and updated the document as appropriate. The change should reflect soon in the document i.e., in less than 24 hours. Thanks again for the feedback!

[2021-11-08 14:37] #83113 closed

[2021-11-08 14:39] jhyot opened #83552 "Wrong reference to AcquireTokenForClient in Java documentation"
When Java is selected as the platform, the documentation page says:

But in Java (MSAL4j), there is no `AcquireTokenForClient`. Also, the cache mechanism works differently in MSAL4j, you have to explicitly call `acquireTokenSilently` to use the token cache. The "normal" method `acquireToken` does not use the token cache.

This confused me, and I had to read in the source code to find out what was

[2021-11-08 14:49] tyler555g opened #83553 "Documentation is Incorrect for Azure Private DNS Zones and App Service Plans"
This is incorrect as you must specify Configuration Settings to have this take effect.

You must set:
    WEBSITE_DNS_SERVER = 168.63.129.16
    WEBSITE_VNET_ROUTE_ALL = 1

This was only tested with Azure Durable Functions deployed with Python onto an App Service Plan, Premium v3 with V-Net Integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-11-08 15:06] MS-sraghuwanshi opened #83554 "Please mention in prerequisite that we need to provide explicit access on MC_ resource group to access it"
[Enter feedback

When we provide contributor or any role on the cluster but try to access MC_ group for anything we get an deny error on the page for not having any access. I do understand that it is common sense to have role assignment as this is separate RG but for customers it is part of a cluster and very hard to convince them for explicit role assignment. It would be really helpful if we incl

[2021-11-08 15:08] SubhashVasarapu-MSFT commented on #83550
@ChaiSwaddipong , yes, with a quick repro we found that this is not supported scenario,

![image](https://user-images.githubusercontent.com/44890829/140766550-a7d28013-09b7-41c9-8ba8-b539891c0067.png)

We will work towards updating the document accordingly.

[2021-11-08 15:22] #83215 closed

[2021-11-08 15:25] jevdemon opened #83555 "Include a localsettings.json sample"
There really needs to be a discussion of the importance of localsettings.json and a sample of how to set up the connection strings for both web storage and local storage.
Here's a sample localsettings.json setup for Azure Function triggers for Event Hubs: { "IsEncrypted": false, "Values": { "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=your-account-name;-the-rest-of-the-connec

[2021-11-08 15:26] JoelCBennett commented on #83421
I disagree that this is 'closed', as again, it does not work as written in a green field environment.  There are prerequisite steps missing of granting as-of-yet undefined permissions to the GraphAPI service into your tenant.

[2021-11-08 15:30] MicrosoftGuyJFlo commented on #83354
https://docs.microsoft.com/en-us/graph/api/device-update?view=graph-rest-1.0&tabs=http#example-2--write-extensionattributes-on-a-device

[2021-11-08 15:36] hjy1210 opened #83556 "Can not create context in section "Create Azure context""
Following the section "Create Azure context", I can not create context.

If I execute `docker context create aci gglsvapicontext`, the response is `no subscriptions found`. Not like the document says "When prompt select your Azure subscription ID.......".

If I execute `docker context create aci gglsvapicontext --location japaneast --resource-group hjyContainerGroup --subscription-id "Azure subscr

[2021-11-08 15:50] spelluru commented on #83551
@mcollier - Thanks for the feedback. Yes. The table needs to be updated. And, having a link to the large message support section would be great too. I will update it now.

[2021-11-08 15:52] asos-andrewpotts opened #83557 "Default Scale value is less than Min Value?"
[Enter feedback here]
The default scale value (0) is less than the min value (1). Surely the minimum value is zero, therefore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent ID: eae53948-3193-a451-5963-3e6cd8ee2972
* Content: [Scaling in Azure Container Apps](h

[2021-11-08 15:53] #83354 closed

[2021-11-08 15:53] asos-andrewpotts commented on #83557
To be more specific, I am referring to "minReplicas" property.

[2021-11-08 15:53] zr-msft commented on #83554
Thank you for the feedback @MS-sraghuwanshi !

The scope of this guide doesn't include anything related to accessing the node resource group. I have captured a work item to review our references to the node resource group and see if any callouts or caveats around access are needed.

#please-close

[2021-11-08 15:54] #83554 closed

[2021-11-08 15:54] SadiqhAhmed-MSFT commented on #83422
@SaurabhatTally We haven't heard back from you so closing this thread for now. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2021-11-08 15:54] #83422 closed

[2021-11-08 15:56] SamaraSoucy-MSFT commented on #83518
Thanks for the feedback! We will review and get back to you shortly.

[2021-11-08 15:59] SamaraSoucy-MSFT commented on #83555
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-11-08 16:00] mtboren-lilly opened #83558 "Possible minor syntax problem in example"
Firstly, good docs!

I encountered an issue when running the "Deploy the Bicep file" example -- it seems that the syntax in the PowerShell example is slightly off for specifying the template parameter.
Failed for me:
[code]

Seems like we need to instead use the `-TemplateParameterObject` parameter to `New-AzResourceGroupDeployment` to specify the template parameter name/value pairs in a hashtable

[2021-11-08 16:07] rcmpgi opened #83559 "Need more info on Properties"
How do we find out more information about the supported properties?
I've just run Get-AzureADDevice -SearchString <some computer name> | fl *
I can't see most of the properties that are available in the CAP Property dropdown, and some some have different names (e.g. DeviceTrustType vs TrustType)  - which makes me wonder if I'm looking in the right place in AzureAD? But if not there, where?
It's al

[2021-11-08 16:17] MartinJaffer-MSFT commented on #83356
@ssabat for review

[2021-11-08 16:18] MartinJaffer-MSFT commented on #83356
Sorry, wrong sunil sabat

[2021-11-08 16:19] Grace-MacJones-MSFT commented on #83553
Thanks for your feedback! We will review and update this doc accordingly.

[2021-11-08 16:20] MartinJaffer-MSFT commented on #83356
Thank you for your feedback. This has been assigned to the content owner, @jianleishen , and will be updated as appropriate.

[2021-11-08 16:21] doggy8088 opened #83562 "Please document option enableAuth"
Please document the `func start` option `--enableAuth`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-ru

[2021-11-08 16:22] MarileeTurscak-MSFT commented on #83549
@gbstan92
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-08 16:22] JamesTran-MSFT commented on #83526
@CHEEKATLAPRADEEP-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-08 16:24] JamesTran-MSFT commented on #83552
@jhyot
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-08 16:25] amhaugen opened #83563 "ProvisioningState : Succeeded"
For PowerShell, the document states that ProvisioningState will return as "Stopped" when the cluster is stopped.  This does not seem to be true in my case. The portal shows the AKS is indeed stopped. However, the PS command Get-AzAksCluster shows "Succeeded"

However, using CLI command "az aks show" shows the "powerState" as "Stopped".

I'm assuming the PowerShell only shows the result of the last

[2021-11-08 16:25] madsd commented on #83553
@tyler555g what region did you test this in? We fixed this in the current release for Linux (Windows was already updated) so you no longer need those settings, but there may be a few stamps in some regions that did not have this update applied yet.

[2021-11-08 16:25] GiftA-MSFT commented on #83439
@AndyLonghurstHESA we'll review your feedback and get back to you shortly. Thanks.

[2021-11-08 16:26] bencorley commented on #83540
Exactly, thank you.

On Mon, Nov 8, 2021 at 2:07 PM KrishnaG-MSFT ***@***.***>
wrote:

[2021-11-08 16:27] SamaraSoucy-MSFT commented on #83562
Thanks for the feedback! We will review and get back to you shortly.

[2021-11-08 16:28] GiftA-MSFT commented on #83371
@falrnacn we'll review your feedback and get back to you shortly. Thanks.

[2021-11-08 16:29] #83452 closed

[2021-11-08 16:31] mattbcs opened #83564 "LinkedIn Learning provisioning is not accurate - no SCIM settings"
Page is inaccurate or misleading. SCIM settings are not present in the admin interface nor referenced anymore in any LinkedIn documentation. Appears SCIM is not in general release, or SCIM functionality was removed entirely from the platform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8746653-3899-308a-f9d6-eebac8

[2021-11-08 16:32] jmprieur commented on #83552
@JamesTran-MSFT : let me assign this to the right people.

[2021-11-08 16:40] FrankVanEgmond opened #83566 "Add Cognitive Services 'Free' account limitation"
Please add under Cognitive Services that there is a limit of only one allowed 'Free' account, per Cognitive Service type, per subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscription li

[2021-11-08 16:54] MonikaReddy-MSFT commented on #83558
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-08 16:54] JamesTran-MSFT commented on #83421
@JoelCBennett
Thank you for following up on this! I've assigned this issue to the author who will investigate and update the documentation as appropriate.

[2021-11-08 16:54] MonikaReddy-MSFT commented on #83566
@FrankVanEgmond - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-08 16:56] kalyankrishna1 commented on #83180
#please-close

[2021-11-08 16:56] #83180 closed

[2021-11-08 17:05] ronortloff commented on #82599
Dug a little deeper on this...  We only limit CPU utilization under contention.  Since you're running this in isolation, it will be able to use the available CPU.  Under contention, the max it can use is 10%.

[2021-11-08 17:25] JamesTran-MSFT commented on #83526
@CHEEKATLAPRADEEP-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-08 17:27] YutongTie-MSFT commented on #83260
@IamVarma Thanks for the feedback again, I will work with the author to update the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-08 17:27] #83260 closed

[2021-11-08 17:53] MironAtHome opened #83568 "Section "Compile the custom handler for Azure" completely out of date"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524efc8-3aef-53b3-732b-6837d8f1c7a7
* Version Independent ID: a5d8005d-4431-a2b6-34bf-c463b76618c2
* Content: [Create a function in Go or Rust using Visual Studio Code - Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/create-f

[2021-11-08 18:11] superfluousIT opened #83570 "Format of transcript file not accepted"
The format of the transcript file for utterance above is not accepted. The sample is missing the name of the audio file which throws an error message. What is the correct format of the transcript file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6fc39a-3260-dd83-f0e9-9d2b123d0970
* Version Independent ID: ad59b5b5

[2021-11-08 18:12] b-juche commented on #83015
The doc team worked with ANF PM to update the Cost Model article, which is merged for today's publishing.

cc: @b-ahibbard

#please-close

[2021-11-08 18:12] #83015 closed

[2021-11-08 18:17] jeevansd commented on #82856
@v-hagamp Can you please update this article with suggested changes?

[2021-11-08 18:17] MCKPRO opened #83571 "The Health Probe is not added to the Load Balancer"
After creating the Load Balancer the Health Probe is not added to the "Load balancing rules"
I have to log in to the portal go to the Load balancing than to Load balancing rules and Assigne it Manually

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87fd024-0ff1-8942-0a3e-2d76b500ddc4
* Version Independent ID: ced21064

[2021-11-08 18:21] aakash-shah commented on #83369
Also FYI I am using the dark theme on my computer and I wonder if this may be contributing to the problem.

Thanks.

[2021-11-08 18:23] superfluousIT commented on #83570
![image](https://user-images.githubusercontent.com/30327384/140796933-fdaf6bcd-b4df-4f93-b5ec-ccebf9b9f0e4.png)

[2021-11-08 18:26] superfluousIT commented on #83570
![image](https://user-images.githubusercontent.com/30327384/140797187-b34dee5c-4e9b-4675-84f1-ce05fa6b0520.png)
Sample does not have name of audio file even though docs states it needs to

[2021-11-08 18:41] DerekHerman-MSFT commented on #83367
@AdamDube Thanks for pointing this out. I have removed section 2 and created a PR. The changes should go live later today.

[2021-11-08 18:54] #83367 closed

[2021-11-08 18:57] abatishchev opened #83574 "No information for support of encryptionAtHost by Dv4"
Dv3 is mentioned, Dsv4 is mentioned. However Dv4 is not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4de54e-f544-0e42-5b0e-afe148b38667
* Version Independent ID: 4220c38a-28ee-87bb-c270-b7fd3e97043b
* Content: [Enable end-to-end encryption using encryption at host - Azure portal - managed disks - Azure Virtual Mac

[2021-11-08 19:14] spelluru commented on #83551
Fixed now. #please-close

[2021-11-08 19:14] #83551 closed

[2021-11-08 19:29] jeevansd commented on #82955
I suggest using this email address instead SaaSApplicationIntegrations@service.microsoft.com

[2021-11-08 19:33] ruimaia8 opened #83575 "Broken link"
Link of powershell script is broken, 404: Not Found error.

$scriptUrlBase = 'https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103e-17c60041a545
* Version Independent ID:

[2021-11-08 19:37] julieMSFT commented on #69337
@fvarga01 Thank you for contacting Microsoft. I am sorry for the delay on your request. At this time we are not creating this document but I have created a work item for your request. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-11-08 19:37] julieMSFT commented on #69337
#please-close

[2021-11-08 19:37] #69337 closed

[2021-11-08 19:53] linuxpizzacats opened #83576 "Mistaken description for AllowInsecureAuthInProduction item"
Hi, I think there's a mistake in the following line:

`AllowInsecureAuthInProduction. In a production environment, make sure to set this metadata to true`

Because a few lines before an xml extract recommends to delete that parameter, like in the following comment:
`
        <Item Key="AllowInsecureAuthInProduction">true</Item>`

Thanks. Bye

---
#### Document Details

⚠ *Do not edit this section.

[2021-11-08 20:09] jenswachtel opened #83577 "Misses crucial information about role assignments in apps"
Honestly I am pretty upset as I've researched the limitations page before I built something that relies on app role assignments in app registrations through users/groups and suddenly realize when somebody wants to assign an app role to an enterprise app (user/role assignments) that the following limitation appears for AD Free Tier:

=> "Groups are not available for assignment due to your Active Di

[2021-11-08 20:09] VitalyMCT commented on #64660
@madsd  Thank you. Would it be possible to drop a quick note here once the global rollout is completed? We have some dependencies on our end that we would like to action as soon as that's done.

[2021-11-08 20:28] meenalsri commented on #81976
#please-close

[2021-11-08 20:28] #81976 closed

[2021-11-08 20:35] mike-urnun-msft commented on #83523
Hello @BasavarajGM - Thank you for your feedback! We will review and update as appropriate.

[2021-11-08 20:35] jaggersystems opened #83579 "Multi-Factor Authentication missing from Users window"
3. Select Multi-Factor Authentication from the navigation bar across the top of the Users window.

I was unable to find this option in the Azure AD > Users area. Has it moved?

Thanks,
Stefan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764-77f2-2878-f27f-867c71d9a8fc
* Version Independent ID: 669c3568-eedc-f959

[2021-11-08 20:40] msmbaldwin commented on #83526
This has been fixed. Thanks for the catch, @CHEEKATLAPRADEEP-MSFT

[2021-11-08 20:40] msmbaldwin commented on #83526
#please-close

[2021-11-08 20:40] MarileeTurscak-MSFT commented on #83579
Hi @jaggersystems , this is now called "Per-user MFA". I made a pull request to update the text here. https://github.com/MicrosoftDocs/azure-docs-pr/pull/178573

[2021-11-08 20:40] #83579 closed

[2021-11-08 20:40] #83526 closed

[2021-11-08 20:41] MarileeTurscak-MSFT commented on #83579
https://github.com/MicrosoftDocs/azure-docs-pr/pull/179059

[2021-11-08 20:49] ecfan commented on #82087
@jfrosty: Thanks for reaching out about this doc issue. We have a work item on the backlog to address.

[2021-11-08 20:51] hankwojteczkodki opened #83580 "Unable to add file share item if type NFS, but no mention that NFS file shares may not be supported"
I was testing this for a client with file shares of type SMB and NFS. For SMB file shares, all was well. For file shares of type NFS, the procedure failed whereby supported file shares never listed the NFS share, or when attempting to add with AZ Powershell, the error "Enable-AzRecoveryServicesBackupProtection: File share is not discovered" was returned. The documentation made no mention that NFS

[2021-11-08 21:13] gregt1234 opened #83581 "Documentation doesnt mention permissions required for creating/assigning Cosmos RBAC roles"
Hi

The documentation doesnt mention what management plane RBAC permissions are required on the Cosmos resource to be able to create/assign custom data plane RBAC roles. Is "contributor" privileged enough ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID: 86c

[2021-11-08 21:23] ChaitanyaNaykodi-MSFT commented on #83571
Hello @MCKPRO
Thank you for your feedback! We will review and update as appropriate.

[2021-11-08 21:23] tyler555g commented on #83553
East US 2

On Mon, Nov 8, 2021, 11:25 AM Mads Damgård ***@***.***> wrote:

[2021-11-08 21:39] ajagadish-24 commented on #69736
@kosinsky: Thanks for informing us. Yes, we do have a mapping between ORC and SQL. I shall update the document in a few days and inform you once done.

[2021-11-08 21:40] gabesmsft opened #83582 "re-title "Common web apps discovery errors" to "Common web apps assessment errors""
This section is titled as follows:
Common web apps discovery errors

Instead it should be titled as follows to avoid confusion, because these error codes pertain to web app assessment errors instead of discovery errors:
Common web apps assessment errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e359e11-8328-07e0-

[2021-11-08 21:45] jeubank12 opened #83583 "Delete endpoint Operation-Location wrong status response"
The status property of the response returned from polling the Operation-Location url (returned as a header on the Delete response) is documented incorrectly. It is "Succeeded" not "Succeed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64c0-1554-5

[2021-11-08 21:47] b-juche commented on #83137
@RutgerKosters - Thanks!
My teammate @b-ahibbard has consulted Geert and made this update.  It should post this afternoon.

#please-close

[2021-11-08 21:47] #83137 closed

[2021-11-08 21:56] YutongTie-MSFT commented on #83570
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-08 22:11] James-Hamil-MSFT commented on #83576
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-08 22:18] julieMSFT commented on #75580
@rahg-bmake I hope the information provide by @RonyMSFT helped resolve your issue. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-11-08 22:19] julieMSFT commented on #75580
#please-close

[2021-11-08 22:19] #75580 closed

[2021-11-08 22:21] SnehaGunda commented on #83508
@griffinbird thanks for the feedback, the above PR fixes the issue.

#please-close

[2021-11-08 22:21] #83508 closed

[2021-11-08 22:22] MarileeTurscak-MSFT commented on #83549
Thank you! I made a pull request to update the paragraph. https://github.com/MicrosoftDocs/azure-docs-pr/pull/179079

@memildin

[2021-11-08 22:22] #83549 closed

[2021-11-08 22:33] julieMSFT commented on #75403
#reassign:ronortloff

[2021-11-08 22:42] SnehaGunda commented on #83327
@mlevin19 I opened a PR to fix it. In the future, if you see any issues in docs, feel free to open a PR by clicking on the edit button on the right.

#please-close

[2021-11-08 22:42] #83327 closed

[2021-11-08 22:52] julieMSFT commented on #75175
@JN-TGB Hi, we have not heard back from you so I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-11-08 22:52] julieMSFT commented on #75175
@please-close

[2021-11-08 23:01] DerekHerman-MSFT commented on #83574
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-08 23:04] JamesTran-MSFT commented on #83577
@jenswachtel
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-08 23:07] SnehaGunda commented on #83467
@Craigmeister68 Thank you, your suggestion makes sense. Fixed in the above PR. FYI that you can also update our docs by submitting a PR. To do so click on the edit button in the right-hand corner.

#please-close

[2021-11-08 23:07] #83467 closed

[2021-11-08 23:07] ronortloff commented on #75403
Hi @Adi-Nugraha-T
Regarding "the deployed function wouldn't scale the sql database as expected" could you confirm this was run against a Dedicated SQL pool (formerly SQL DW), not a Synapse Dedicated SQL pool.

[2021-11-08 23:18] timsander1 commented on #81930
Hi @bdcoder2, the difference between geography and geometry data is documented here  - https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-geospatial-index. This is not an edge case, nor is it specific to ST_WITHIN and ST_INTERSECTS. If you are interested in a query that is equivalent to Query #1 in the linked example, you want geometry. We can add a link to each of the system function

[2021-11-08 23:18] timsander1 commented on #81930
#please-close

[2021-11-08 23:18] #81930 closed

[2021-11-08 23:27] mike-urnun-msft commented on #83530
Hello @Ronelius - Thank you for your feedback! We will review and update as appropriate.

[2021-11-08 23:28] mike-urnun-msft commented on #83559
Hello @rcmpgi - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2021-11-08 23:39] julieMSFT commented on #79958
#reassign:AleksandarMicovic

[2021-11-08 23:42] julieMSFT commented on #74368
#reassign:nanditavalsan

[2021-11-09 00:06] #83320 closed

[2021-11-09 00:06] mike-urnun-msft commented on #83568
Hello @MironAtHome - Thank you for your feedback! We will review and update as appropriate.

[2021-11-09 00:14] mstehrani commented on #82803
Hi @BenoityipMSFT - Is the proposal here that MC stats are not useful if the query contains a WHERE? As long as the WHERE filter in the query includes the primary column, the multi-column stats will be useful in the CE. So the statement that MC stats are useful as long as the columns are accessed at same time should be correct, since it means the primary key column is being referenced. Please let

[2021-11-09 00:32] ecfan commented on #82128
Hi @hmntrathore, thanks for reaching out! We've created a work item to triage for this request.

[2021-11-09 00:34] viniciustotti opened #83585 "Celebrity Recognition"
Does Computer Vision provide a list of celebrities that is supported by the analyze endpoint?

The Product Team from the company I work is planning to use this feature to recognize celebrities. But before we make a decision, it would be great if there is a list of the celebrities?

Also, Is the same person model used from Azure Video Analyzer for Media? https://docs.microsoft.com/en-us/azure/azure

[2021-11-09 00:34] BenoityipMSFT commented on #82803
@mstehrani
The suggestion I would like to make is to include the information in the screenshot. It is copied from Microsoft internal training material.

Even though you mentioned " As long as the WHERE filter in the query includes the primary column, the multi-column stats will be useful in the CE". This should be included as part of the documentation.

Below are few statements I copied from inter

[2021-11-09 00:36] MonikaReddy-MSFT commented on #83582
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-09 00:36] MonikaReddy-MSFT commented on #83580
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-09 00:38] davidmu1 commented on #82697
Added a link to https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/my-apps-deployment-plan.

[2021-11-09 00:39] RyanHill-MSFT commented on #83353
Thanks for the info @blackadi. I was looking at the [authV2 code](https://github.com/Azure/azure-cli-extensions/tree/main/src/authV2/azext_authV2) and it looks like the set and update commands initiate a PUT against the authsettingsV2 REST API method which could overwrite the settings. You can verify this using `--debug` at the end of the command. I'll discuss with the content author about updatin

[2021-11-09 00:40] davidmu1 commented on #82697
#please-close

[2021-11-09 00:40] #82697 closed

[2021-11-09 00:48] fitzgeraldsteele commented on #83537
For regular Azure VMs, instances are given default outbound access to the internet (assigned a Pseudo IP). This is an anti-pattern; networking is transitioning to a model where VM NICs are not given default outbound access to the internet, and they are starting with VMSS Flex VMs. So if you have not provided explicit outbound connectivity via one of the methods, we reject the deployment.

Does tha

[2021-11-09 00:56] ecfan commented on #82150
Hi @qJake, thanks for reaching out! We've created a work item to triage this request with other priorities on the backlog.

[2021-11-09 01:03] kobulloc-MSFT commented on #83543
@juanandmsft Thank you for reaching out!  We'll investigate this and get back to you shortly.

[2021-11-09 01:08] kobulloc-MSFT commented on #83548
@diegodct Thank you for your feedback!  We've assigned this to the document author for further review.

[2021-11-09 01:10] kobulloc-MSFT commented on #83556
@hjy1210 Thank you for the feedback!  We've assigned this to the document author for further review.

[2021-11-09 01:12] bdcoder2 commented on #81930
@timsander1 - Thanks -- you are correct - it was not an edge case but a case where shapes on a sphere with geodesic edges are different than shapes on a flat surface.  I was able to update the original question posted on Stackoverflow [(https://stackoverflow.com/questions/69441153/cosmosdb-st-within-and-st-intersects-give-different-results-than-using-explicit)](https://stackoverflow.com/questions/

[2021-11-09 01:18] SnehaGunda commented on #81681
Thanks, everyone. I fixed the connection string and the link to import doc in the above PR. We will close this PR now.

#please-close

[2021-11-09 01:18] #81681 closed

[2021-11-09 01:26] SnehaGunda commented on #81868
#reassin: @sakash279

[2021-11-09 01:26] SnehaGunda commented on #81868
#reassign: @sakash279

[2021-11-09 01:30] MartinJaffer-MSFT commented on #83532
Thank you for bringing this to our attention @JesvinJoseph .  We certainly do not want our customers to be vulnerable.

I expect there is a more recent version of the ASA module.  I will check with my colleague to verify.
If this is the case, please try updated to the most recent version.
Then I will refer this to the content author for either updating, or re-writing such that most recent version

[2021-11-09 01:36] ThomasWeiss commented on #83581
@gregt1234 Specific RBAC permissions cover the management of role definitions and role assignments:
- `Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments/read`
- `Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments/write`
- `Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments/delete`
- `Microsoft.DocumentDB/databaseAccounts/sqlRoleDefinitions/read`
- `Microsoft.DocumentDB/databaseA

[2021-11-09 01:37] captaingig opened #83586 "Have the logs changed?"
The table in https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-reports#determine-the-status-of-a-users-request does not appear to be accurate, specifically the UserManagement entries. I cannot find those log entries. I do see "Request Approved" when an approver does approve a request. Where are these log entries you mention? I'd like to tie the access packag

[2021-11-09 01:39] SaurabhSharma-MSFT commented on #83575
@ruimaia8 Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-09 01:45] YutongTie-MSFT commented on #83585
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-09 02:38] ChaitanyaNaykodi-MSFT commented on #83346
Hello, @csahut Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-09 02:52] msmimart commented on #82540
@nikki-c thanks so much for pointing this out! I've updated the tutorial and the changes should publish shortly.

[2021-11-09 03:17] DavidRawling opened #83588 "Definition for SCP is incorrect"
The definition given for SCP on this page (Special Containment Procedures) is incorrect. This definition for SCP is for Internet horror / science fiction stories, whereas the correct definition for SCP in this context should be "Service Connection Point".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b4f913c-1b09-167

[2021-11-09 03:23] jenellea opened #83589 "Typo and changed functionality/terms in building a function/expression"
Typo in Step 4.d. In the right box, enter this value, which is the specific operation that you <WANT> to monitor:  <WANT> is missing.

More problematic, though, are 2 issues:
Logic Apps Designer has a "permanent" sizing overlay (+ 100% -) that does not go away. Ever.

The other is a technical issue that will not permit user to create the condition. get an error when you try to do that:

This error

[2021-11-09 03:35] SumanthMarigowda commented on #83563
@amhaugen  Thanks for the question! We are investigating and will update you shortly.

[2021-11-09 03:36] SumanthMarigowda commented on #83581
@gregt1234 Thanks for the question! We are investigating and will update you shortly.

[2021-11-09 03:56] ChaitanyaNaykodi-MSFT commented on #83285
Hello @karlochacon,
As per [the documentation](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#static-versus-dynamic-public-ip-address)

Based on your discussion on the support ticket we see that the issue is resolved now. We will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-11-09 03:56] #83285 closed

[2021-11-09 03:59] psyblade12 commented on #82599
Do you mean "contention" is that if we 2 two concurrent queries from different workload. For example the first workload has 90% resource allocation and the second has 10% allocation, the query which is run in workload 1 will have around 9 times faster than the same query run in second workload?

I remembered that I have tested this cases before, but what I found is that 2 two same queries runnning

[2021-11-09 04:00] psyblade12 commented on #82599
Do you mean "contention" is that if we 2 two concurrent queries from different workload. For example the first workload has 90% resource allocation and the second has 10% allocation, the query which is run in workload 1 will have around 9 times faster than the same query run in second workload?

I remembered that I have tested this cases before, but what I found is that 2 two same queries runnning

[2021-11-09 04:17] AjayKumar-MSFT commented on #83493
ToruMakabe, Thanks for taking time to share your valuable feedback! Your feedback has been shared with the content owner for further review.

[2021-11-09 04:42] amanmcse commented on #83586
@captaingig  Thank you for your feedback. We will investigate and update the thread.

[2021-11-09 04:46] amanmcse commented on #83588
@DavidRawling Thank you for your feedback. We will investigate and update the thread further.

[2021-11-09 04:49] RohitMungi-MSFT commented on #83424
@hermandr We hope the extension is listed with the latest updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-11-09 04:49] #83424 closed

[2021-11-09 05:14] kagoesy opened #83591 "Adding the notification about not supporting to change the VM size for the existed nodepool"
I have got several feedbacks from my customer that they want to have an official statement about that changing the existed nodepool VM size is not supported, currently I could not find such similar statement in the document, could we add this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2

[2021-11-09 05:26] VikasPullagura-MSFT commented on #83591
@kagoesy
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-09 05:29] VikasPullagura-MSFT commented on #83591
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-11-09 05:37] hermandr commented on #83424
I am using vs studio 2019, now migrated to 2022 preview.
Does not appear in the extension list.
[image: image.png]

On Fri, Nov 5, 2021 at 5:20 PM RohitMungi-MSFT ***@***.***>
wrote:

[2021-11-09 05:44] RohitMungi-MSFT commented on #83424
I think this extension works with VS code, Are you checking for the extension on VS 2019?
![image](https://user-images.githubusercontent.com/46958063/140869195-ae64ebf2-5626-4490-86f6-cdbed9a69110.png)

[2021-11-09 05:49] #83413 closed

[2021-11-09 06:38] devikamv commented on #49481
We have configured on-premises AD authentication for the Azure storage account in which the file share has been created. This file share is configured with RBAC SMB contributor access for the user on Azure, as well as authenticated users are verified as having access to the file share after checking by mounting the file share as the root user with storage account keys.
However even from a domain j

[2021-11-09 06:39] superfluousIT commented on #83570
Ahh, I got it now. The wav files have to be named as numbers, I cannot use other filenames. I guess that was not clear to me from the docs or the error messages

[2021-11-09 06:39] #83570 closed

[2021-11-09 06:40] chenxizhang opened #83593 "sample code issue"
[Enter feedback here]

This line

should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5914b595-7bd9-723a-50c9-77fe83dcf9d1
* Version Independent ID: 927f6dc3-723e-6a9b-8c40-1cb19e54d3c5
* Content: [Tutorial: Get started with a Python script - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-l

[2021-11-09 06:54] LeahZho opened #83595 "Confusion about the section Create Dropbox Business test user in doc Tutorial: Integrate Dropbox Business with Azure Active Directory."
Hi Team,

This is Leah from Azure AD Identity support team. A customer reflected that there is something wrong with Microsoft doc.

Feedback:

- In the Scenario description section, the second bullet is "Dropbox Business supports Automated user provisioning and deprovisioning". When I click "Automated user provisioning and deprovisioning", it jumps to the same doc we are reading rather than doc re

[2021-11-09 07:07] BharathNimmala-MSFT commented on #83322
@ibrahimuludag My sincere apologies for delay in getting back to this thread. We appreciate your feedback , further assigned this issue to our document author to further review the feedback.

[2021-11-09 07:13] BharathNimmala-MSFT commented on #82497
@AndrewBlumhardt - I have shared the feedback to our Product team and they will further review the need to test this scenario and update the document accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will

[2021-11-09 07:13] #82497 closed

[2021-11-09 07:18] LAKN-Lasse-Knudsen opened #83596 "Possible to enable custom domain name for certificate when hitting external endpoint?"
Is it possible to create certificate via Container apps (or use from keyvault), so we can use our own domain name when hitting the external endpoint (via DNS CNAME)??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 307a2025-0f86-5d45-dba6-7c859c4313e7
* Version Independent ID: 171ef08d-42f2-c473-e6ab-469bf20cc11d
* Cont

[2021-11-09 07:53] git-divs opened #83597 "links not working"
Hi I was referring the page - https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md , and could not find any feedback tool at the bottom of the page, so sharing here. Some links are not functional in "Contributing Guidance" link mentioned in the README.md.
Below links are NOT working:
https://github.com/MicrosoftDocs/azure-docs/blob/master/contribute
https://github.com/MicrosoftD

[2021-11-09 08:18] #82540 closed

[2021-11-09 08:28] marcelkmfst commented on #83537
Thanks for the clarification. But Customer can still Limit outbound to just the necessary ports their App needs? So no allow all outbound required? Aber

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: Fitzgerald Steele ***@***.***>
Gesendet: Tuesday, November 9, 2021 1:48:30 AM
An: MicrosoftDocs/azure-docs ***@***.***>
Cc: Marcel Keller ***@***.***>; Me

[2021-11-09 08:46] yoelhor commented on #83214
Dear @72gm, I'm wondering what is the exact scenario. Do you want the user to provide the Case Ref on the sign-in page. For example, user will have to type the username, case ref and password on the same page. Or, you want the user to sign-in with username and password. After user signs in, you want the policy to check the value of the ref case, if it's null or empty to ask the user to provide thi

[2021-11-09 08:47] #83325 closed

[2021-11-09 08:49] kkamegawa opened #83599 "curl command not working when create custom vision project"
When creating custom vision project with curl command, but occurs error with

`curl -v -X POST -H "Training-key: {subscription key}" "https://{endpoint}/customvision/v3.3/Training/projects?name={name}"`

It looks like miss "Content-Type: application/json".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc

[2021-11-09 08:51] BernhardHofmann opened #83600 "Documentation is scant/missing w.r.t. creating items in TS/JS with a partition key"
I get that this is for initial exposure to the SDK, but it would be helpful if more advanced examples were available as well such as specifying the partition key when creating an item. I've looked at [the SDK docs for `create`](https://azure.github.io/azure-cosmos-js/classes/items.html#create) and they state that the `RequestOptions` are:

But when I view the [`RequestOptions`](https://azure.githu

[2021-11-09 09:02] yoelhor commented on #82804
Dear @rosidigital, could you provide the correlation ID? You can find it in the app insights log.

[2021-11-09 09:08] #83172 closed

[2021-11-09 09:09] PeterParker1234 commented on #40132
This ticket has been open for more than 2 years.

[2021-11-09 09:14] shoter commented on #82304
@tfitzmac bump

[2021-11-09 09:14] blackadi commented on #83353
@RyanHill-MSFT thanks for highlighting the [authV2 code](https://github.com/Azure/azure-cli-extensions/tree/main/src/authV2/azext_authV2) behavior.

[2021-11-09 09:22] rosidigital commented on #82804
@yoelhor I have deleted the log and the setup - we found the setup of custom policies way to cumbersome and not documented well enough for us to use it. We will implement our own reset password / validate email using the Graph API.

Microsoft / the AD B2C team should really consider integrating SendGrid better into UserFlows. That would be useful for a large percentage of users.

Tbh. I dont think

[2021-11-09 09:24] RutgerKosters opened #83602 "ANF backup use existing snapshot"
Hi team,

It seems like this section:
https://docs.microsoft.com/en-us/azure/azure-netapp-files/backup-configure-manual#create-a-manual-backup-for-a-volume

Is some missing information around using an existing snapshot for a manual backup and has an outdated screenshot at item #4.

This screenshot shows the missing 'Use existing snapshot' checkbox option: https://ibb.co/g7b52Nk

When this checkbox

[2021-11-09 09:26] MichaelBrooks-Informatyx opened #83603 "Grammar error"
[Enter feedback here]
Why is there an apostrophe after "CDNs" in the second sentence? It's unusual for you guys to commit grammatical errors - you should fix this ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e157e073-fc7c-9593-055c-7187e808e0ae
* Version Independent ID: a608309d-7588-e6a5-882e-0fe2fd275a09
* Co

[2021-11-09 09:31] kengaderdus commented on #82318
Dear @aarondglover,

Please let us know if we can close this issue since you had a one-on-one discussion with @yoelhor.

Thanks.

[2021-11-09 10:05] SumanthMarigowda commented on #83597
@git-divs Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2021-11-09 10:05] travellerguy opened #83605 "Spelling mistake - in the Notes section"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2021-11-09 10:07] SumanthMarigowda commented on #83602
@RutgerKosters
Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-09 11:08] AleksandarMicovic commented on #79958
@iwooderson, are you running into an issue with using this API call or are your comments more around design?

The PUT/PATCH comment is a good one, but for this API call, new resources are actually being created because it's a scaling operation. It isn't just a modification of a single resource.

We'll correct the JSON, good catch!

[2021-11-09 11:08] vipulsparsh commented on #83586
@captaingig Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-09 11:10] lusilv opened #83608 "Broken link for the script action on adding an edge node on exiting cluster case"
[Enter feedback here]
Regading **Adding an Edge node to an existing  cluster** section, the link to the arm template has bug. The link to the empty script action is broken. To fix it from my side I needed to edit the template and add "hdinsight-linux-add-edge-node/" in the defaultValue field for the installScriptActionFolder parameter

[code]
to hit this link

[https://raw.githubusercontent.com/Az

[2021-11-09 11:20] BenjaminLi opened #83610 "AWS protocol s3a might be Azure adl"
The Python code example specifies **s3a** which is AWS S3 object protocol. Should it be **adl**? Thanks.

`spark.read.csv("s3a://prod-foobar/sampledata.csv").collect()`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d55b056-a9c1-5e92-4fdd-23d7269129f1
* Version Independent ID: 82a77acc-2107-33f5-bfa2-28e6b11128b9
* Co

[2021-11-09 11:21] lusilv commented on #77336
Sorry guys. I think the issue is still not fixed. As I miss this ticket I end up raising a new one: #83608

[2021-11-09 11:26] Narobix opened #83611 "SSPR Auth Method reduction by forcing Combined Registration Only."
We are utilizing Combined Registration for SSPR and MFA yet are still limited in our options for Authentication method reduction. We want to enforce authenticator mobile app only options but are unable to because of the reason provided in the important note on this page.
I have read that new tenancies are operating on combined without a choice, however no documentation I am reading advises how we

[2021-11-09 11:33] Narobix commented on #83611
I've read in other feedback you will leave this page as is until the old experience is removed.
It could be updated to either indicate the timeline for this or better yet link us to a roadmap for this removal task.
Unless there is an 'opt in' or support request requirement to have this removed from our tenants so we can secure them appropriately.

[2021-11-09 11:34] boredom2 opened #83612 "Are these Docs still correct?"
Hi there,

it feels that this Docs are outdated. The URL Structures often name URIs like "qnamaker/v5.0-preview.2", but the Term "qnamaker" has been replaced already, and "preview.2" also seems outdated.
It is furthermore not matching the (sample) URLs from "Language Studio", where other Structures are used/shown.
Furthermore, I cannot see any KBID from Resources I created in Language Studio, but

[2021-11-09 11:36] LorenzoGalizia opened #83613 "Internal ID - Sequential or Random?"
Is the internal id associated to items sequential or purely random generated with regard the order of items ingestion?

I'm using continuous export and I would like to make sure the internal ID can be used for a post processing analysis based on the order of ingestion of particular events reporting same timestamp.
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-11-09 11:36] asergaz commented on #83321
@Genuineh thanks for confirming. I am reaching out to the product team for help on this one. Stay tuned.

[2021-11-09 11:51] CatchSandeepVaid opened #83614 "Session Management like timeout"
1. Is session management (JSessionID, timeout etc.) done at APIM level or at backend app level? If it is at APIM level, how can we configure it?
2. How backend app can get the user details (say username and email)? It is by accessing Microsoft Graph using the accessToken provided by frontend (SPA) app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-11-09 11:52] aralvar opened #83615 "Private Endpoint + Target resource in different subscriptions"
In this document it's mentioned that "The subscription from the private link resource must also be registered with Microsoft. Network resource provider."

But what needs to be added is that the subscription where the Private Endpoint is created needs to be registered with the resource provider of the private link resource as well, otherwise the approval of the private endpoint connection fails

--

[2021-11-09 11:53] asergaz commented on #83530
Hello @Ronelius what SDK Language are you looking for int he device and service side?

Note from the overview doc:

- The C and C# SDK's support device streams on the device side.
- The NodeJS and C# SDK support device streams on the service side.

Usually the examples can be found in the github repo of the SDK: https://github.com/Azure/azure-iot-sdk-csharp

[2021-11-09 11:54] asergaz commented on #83530
.............................

[2021-11-09 11:56] CHEEKATLAPRADEEP-MSFT commented on #83608
@lusilv  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-09 11:57] CHEEKATLAPRADEEP-MSFT commented on #83610
@BenjaminLi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-09 12:11] WillEastbury commented on #83614
1. The sample presented here is intentionally stateless (SPA calling an API) and has no state management.

2. For username and email, they should be in claims presented in the token. For more complex questions about the user profile then yes, the MS Graph API could be used if the appropriate scopes were requested and obtained to call the Graph API backend from the backend application.

[2021-11-09 12:26] madsd commented on #83553
@tyler555g East US 2 is only half way through, so there is a good chance you are seeing the old behavior where Route All is needed. For now, add the setting. Long story short, we had a regression that caused the deployment to be delayed and the docs were updated too soon. We apologize for the inconvenience. If you send me your app name, I can let you know when the stamp is updated, and if you want

[2021-11-09 12:27] kgopi1 opened #83616 "Automate the Agent configuration options"
Hi,

How to automate the Agent configuration options for enabling the Windows/ Linux logs.

https://docs.microsoft.com/en-us/azure/azure-monitor/agents/data-sources-windows-events#configuring-windows-event-logs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c3436-db7f-ebde-fe3b-8c88b75d97d1
* Version Independent ID:

[2021-11-09 12:57] cveld opened #83617 "App Service Environment deployed function apps"
Will an App Service Environment deployed function app work together with the shared outbound private link?

What would be the subnet where the outbound private link is deployed to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eec936ef-2e82-4635-100e-36247a6e817b
* Version Independent ID: 4fa024d6-dbc0-a298-7c00-d5c2f

[2021-11-09 12:57] madsd commented on #64660
@VitalyMCT yes, I will make sure to update this thread when we have completed rollout.

@ptemmer I am not able to repro this. Would you mind trying this in West Central US where all our stamps are patched.

[2021-11-09 12:59] VikasPullagura-MSFT commented on #83605
@travellerguy Thanks for the Feedback, The document is updated and changes will go live soon.

[2021-11-09 13:04] molotch opened #83618 "Enumerate all asset types and scan rules associated with them"
It would help alot if you could enumerate all the assets types and why they show up in the data catalog.

I have very incomprehensible scan results where some folders show up as a asset type path and some don't. Some resource sets are created even if they should be ignored through a ignore pattern and other assets with log in the path are ignored as they should.

---
#### Document Details

⚠ *Do n

[2021-11-09 13:28] MGoedtel commented on #82897
@KrishanG-MSFT - I've brought this to the PG's attention and have outlined a plan to improve the guidance related to working with Python-based runbooks so there is close parity between "how you do something" with PowerShell and Python runbooks. This work will likely be done in preparation for GA of Python 3 support, early next year.
In the meantime, I believe an approach that would work is to use

[2021-11-09 13:30] MGoedtel commented on #83167
#reassign: @riva-yadav to review and respond to this issue.

[2021-11-09 13:34] #83576 closed

[2021-11-09 13:36] MGoedtel commented on #82109
Installing the Connected Machine agent and registering the resource in Azure using a manual method on a hybrid-machine is already covered in our documentation where its communication with the internet is restricted. It is covered in [this](https://docs.microsoft.com/azure/azure-arc/servers/onboard-portal) article for both Windows/Linux.

It appears this is properly addressed and due to lack of res

[2021-11-09 13:36] #82109 closed

[2021-11-09 13:49] SaiKishor-MSFT commented on #83615
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-09 14:09] ram-msft commented on #83593
@chenxizhang Thanks for the feedback! We will review and update accordingly.

[2021-11-09 14:09] ram-msft commented on #83599
@kkamegawa Thanks for the question. We are investigating the issue and will update you shortly.

[2021-11-09 14:10] ram-msft commented on #83612
@boredom2 Thanks for the feedback! We will review and update accordingly.

[2021-11-09 14:33] v-amallick commented on #83497
@yertaylan67 - Thanks for your valuable feedback. We have updated the document, and the changes will reflect soon.

[2021-11-09 14:37] #83588 closed

[2021-11-09 14:49] MGoedtel commented on #80999
#reassign: @mgreenegit.
We appreciate your feedback and agree RBAC hasn't been sufficiently documented regarding Automation State Configuration. Because we are recommending customers evaluate or migrate to Azure Policy, we will upgrade the documentation to cover the RBAC rights required to migrate from Automation State Config to Azure Policy. This is the future direction of auditing and managing c

[2021-11-09 14:49] PRMerger13 commented on #80999
The following users don't have valid GitHub IDs, or are not collaborators on this repo: mgreenegit.

[2021-11-09 14:49] m-sterspace opened #83619 "Not helpful choosing which type of Postgres Service"
This article is helpful for deciding bettwen using Postgres as a service, or renting a VM and running Postgres on it yourself, but there are now three different versions of Postgres as a service (single server, flexible, hyperscale), and this article provides no information on how to pick between them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-11-09 14:51] MGoedtel commented on #79043
#reassign: JYOTHIRMAISURI who is taking over managing the Automation content.

[2021-11-09 14:59] cephalin commented on #83353
@blackadi Sorry about that. There's indeed a bug in the steps. I've added a fix.

[2021-11-09 15:10] MGoedtel commented on #76673
I've addressed the callout of permissions required, which was covered in the security overview article under the Managed identities section. As I've addressed the primary issue raised and there hasn't been a response to my follow up question, I'm going to proceed with closing this issue. #please-close

[2021-11-09 15:14] MGoedtel commented on #73791
With the number of updates we've implemented to the Automation content as it relates to using PowerShell runbooks and how to authenticate with Managed Identity, I believe the primary point has been addressed (that is, how to set context with Set-AzContext & Get-AzContext).  I'm going to proceed with closing this GitHub issue. #please-close

[2021-11-09 15:14] #73791 closed

[2021-11-09 15:15] mike-urnun-msft commented on #83589
Hello @jenellea - Thank you for your feedback! We will review and update as appropriate.

[2021-11-09 15:16] acscampos opened #83621 "New sizes"
I cannot find Dasv5 and Ddsv5 VM sizes to compare to v4 sizes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](https://docs.microsoft.com/en-us/azur

[2021-11-09 15:19] silverl commented on #40132
Yup.

[2021-11-09 15:24] MGoedtel commented on #75356
The article was updated in our last sprint to highlight this module needed to be manually imported, along with the other Az modules that are necessary to complete the tutorial.  I'm going to proceed with closing this GitHub issue as a result of the corrective action taken.  Thanks.  #please-close

[2021-11-09 15:26] #83353 closed

[2021-11-09 15:26] SaiKishor-MSFT commented on #83603
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-09 15:31] Genuineh commented on #83321
@asergaz Thanks. 💪

[2021-11-09 15:36] JesvinJoseph commented on #83532
@MartinJaffer-MSFT I think 1.0.9 is the latest version. If it is not, please let me know

[2021-11-09 15:37] #83466 closed

[2021-11-09 15:39] molfinn commented on #83094
Thank you!

On Thu, Oct 28, 2021 at 10:56 AM James Tran-MSFT ***@***.***>
wrote:

[2021-11-09 15:44] RyanHill-MSFT commented on #83617
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-09 15:44] elegault commented on #62877
+1 on the same error. Setting the MPN ID either in the portal or via the Graph /setVerifiedPublisher endpoint in a PowerShell script is wildly inconsistent. I have a client who needs their customer admins to run a PowerShell script to automate creating the App Registration to deploy their solution, and Microsoft needs to provide a rock-solid method for ISVs to successfully automate publisher verif

[2021-11-09 15:51] ronortloff commented on #82599
There are a lot of factors that go into CPU consumption.  It can depend on the query shape or system state.  The system could be doing a lot of IO where CPU has to wait.  Certain activities in SQL cannot run effectively in parallel.  That can have an impact too.
Backtracking a little... what scenario are you trying to validate?  Are you trying to limit resource consumption?  Are you trying to impr

[2021-11-09 16:05] kobulloc-MSFT commented on #83621
@acscampos Thank you for your question!  We are investigating this and will get back to you shortly.

[2021-11-09 16:11] ramakrpr opened #83622 "SAS Token Expiry Setting Constraints"
There is something crucial missing in the documentation, the SAS Token expiry can only be set if there was a key-rotation done atleast once for the storage account. Otherwise, it shows a message as below and this setting is disabled

**You must rotate both access keys at least once before you can set a recommended upper limit for SAS expiry interval.**

It will be good to put this as a pre-requisi

[2021-11-09 16:16] IoTGirl commented on #83321
Hi @Genuineh,

There are three things at play here; EPSG:3857, WGS84 & Pixels. From our docs:
[https://docs.microsoft.com/en-us/azure/azure-maps/glossary](https://docs.microsoft.com/en-us/azure/azure-maps/glossary)
WGS84: A set of constants used to relate spatial coordinates to locations on the surface of the map. The WGS84 datum is the standard one used by most online mapping providers and GPS de

[2021-11-09 16:17] JamesTran-MSFT commented on #83595
@LeahZho
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-09 16:24] vimorra opened #83623 "Dapr Supported Schema is not present in the doc"
In the page is mentioned
![image](https://user-images.githubusercontent.com/48756634/140963507-da18a25e-8304-41c7-9660-8682a5be5975.png)

but into the site there is no section to find which is supported schema and which dapr components are supported
Could you fix this adding or point to a link in which are located the info related to the supported schema

---
#### Document Details

⚠ *Do not edit

[2021-11-09 16:38] SaiKishor-MSFT commented on #83615
@aralvar Do you have the error details when this fails that shows the error to be due to the resource provider not being registered? Can you please share the same?

[2021-11-09 16:46] map18 commented on #83030
@MartinJaffer-MSFT I'm in East US. The Fail Activity is now available!

You still may want to pass along my 10/27 edit suggestion regarding the message and errorCode text in the documentation: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-fail-activity?source=docs

Thanks for all the follow up on this!

[2021-11-09 16:46] #83030 closed

[2021-11-09 16:52] biltongza opened #83624 "Open Source SDK github repo link out of date"
The link to the app insights github repo is out of date. It is currently pointing to https://github.com/Microsoft/ApplicationInsights-dotnet-server where it should point to https://github.com/Microsoft/ApplicationInsights-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Versi

[2021-11-09 16:54] kengaderdus commented on #82804
@rosidigital Thank you for your feedback and suggestion. We're forwarding your suggestion to out product team.

For now, we'll close this issue.

#please-close

[2021-11-09 16:54] #82804 closed

[2021-11-09 16:57] aralvar commented on #83615
Not sure if this is the error obtained all the time, but the error in this particular case was  "Failed to approve 1 out of 1 private endpoint connections "
The scenario is Private Endpoint for SQL DB

Arancha Alvarez Sierra

Escalation Engineer
Azure EEE Cloudnet
Customer Services and Support

[Description: Description: MSFT_logo]

From: SaiKishor-MSFT ***@***.***>
Sent: martes, 9 de noviembre de

[2021-11-09 17:19] imercerwillow opened #83625 "On a Mac it appears you also need XCode command line tools installed"
Suggest that the prerequisites include XCode command line tools for Mac when installing on MacOS. These can be installed with `xcode-select --install`. Without these installed the command `az extension add --name connectedk8s` fails.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df16df9a-a855-25

[2021-11-09 17:24] MGoedtel commented on #83625
#reassign: @shashankbarsin who manages the content for Arc-enabled Kubernetes. I am mistakenly tagged in the metadata as the author for this content.

[2021-11-09 17:30] jmprieur opened #83626 "WAM redirect URIs are described in the AcquireToken desktop article but not in the app registration one"
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-app-registration#redirect-uris is missing the redirect URI which are described in the https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token-wam#redirect-uri section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-11-09 17:31] jmprieur commented on #83626
#please-assign @maliksahil

[2021-11-09 17:36] ChaitanyaNaykodi-MSFT commented on #83372
Hello @franzoir, apologies for the delay here. Custom error pages can be set for 502 and 403 responses today. I have notified the team regarding this feature request. Currently, there is no ETA on when this feature will be implemented but the team has added it to their future roadmap.
Since we primarily monitor this channel for documentation enhancements and bugs and your request is related to pro

[2021-11-09 17:36] #83372 closed

[2021-11-09 17:41] shashishailaj commented on #82955
Please send email to SaaSApplicationIntegrations@service.microsoft.com as suggested above and the team will help further on this. We will update the documentation on this .

[2021-11-09 17:41] #82955 closed

[2021-11-09 17:47] tcsougan opened #83628 "Azure Storage (GPv1 and GPv2) - Private Endpoint"
[Enter feedback here]
I think it will be nice to have a reference to share with the customer when it comes to Private Endpoint. It is only supported on the Azure Storage General Purpose V2 and not on the V1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57

[2021-11-09 17:49] JamesTran-MSFT commented on #83611
@Narobix
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-09 17:50] mike-urnun-msft commented on #83583
Hello @jeubank12 - Thank you for your feedback! We will review and update as appropriate.

[2021-11-09 17:58] LeeSchuenemeyer opened #83629 "Cache in GiB data no longer published"
New Virtual machine details no longer show the VM's total disk cache for each VM size.

Where is that data now?

/virtual-machines/ddv5-ddsv5-series.md

[2021-11-09 18:01] KrishnaG-MSFT commented on #83624
@biltongza Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-09 18:11] KrishnaG-MSFT commented on #83616
@kgopi1 It can be done by leveraging Az.OperationalInsights module PS cmdlets like New-AzOperationalInsightsWindowsEventDataSource, New-AzOperationalInsightsWindowsPerformanceCounterDataSource, New-AzOperationalInsightsLinuxPerformanceObjectDataSource, New-AzOperationalInsightsLinuxSyslogDataSource.

For more information w.r.t it, refer https://docs.microsoft.com/en-us/powershell/module/az.operati

[2021-11-09 18:12] YutongTie-MSFT commented on #83390
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-09 18:12] #83390 closed

[2021-11-09 18:18] ChaitanyaNaykodi-MSFT commented on #83485
Hello @rebelnn, thank you for your feedback. I have a made PR to address this issue and changes will go live soon. We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2021-11-09 18:18] #83485 closed

[2021-11-09 18:19] ken-tw commented on #49481
We are in the same boat, and there seems to be nowhere to go from here.  All we see is Error 86.

[2021-11-09 18:31] #83199 closed

[2021-11-09 18:35] HiranmayaGundu opened #83632 "Wrong Hyperlink to Laravel in Troubleshooting"
The link to [Laravel](https://laravel.com/) goes to [MeanJS](http://meanjs.org/) instead of the Laravel site in the "Troubleshooting" section of the guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99cd-9e32-ae48-2605831aee02
* Version Independent ID: 743bc03e-d0d1-1e9e-acb1-52ae01daa0cc
* Content: [Confi

[2021-11-09 19:01] mazurnet opened #83634 "ANF CRR is GA"
The doc indicates that the ANF Cross-Region Replication feature is in public preview but has reached GA status as of 10/21.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27132a89-4dee-aa95-1d0a-acb454b342c7
* Version Independent ID: dc63897c-8280-d17b-7fdc-dd1f859e2574
* Content: [Azure Files and

[2021-11-09 19:06] tfitzmac commented on #83267
@tokesr - thanks for this feedback. The [OnboardingStates resource type](https://docs.microsoft.com/en-us/azure/templates/microsoft.securityinsights/onboardingstates?tabs=bicep) is in the Microsoft.SecurityInsights namespace. How does Microsoft.OperationsManagement fit in with your template?

[2021-11-09 19:16] DerekHerman-MSFT commented on #83628
Classic storage accounts do not support VNETs at all. GPv1 storage accounts deployed through Resource Manager do support VNETs, but not private endpoints. As noted on the [Storage Account Overview page](https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints), GPv1 is considered a legacy account and does not support all the latest features.

Since this is a storage account

[2021-11-09 19:17] matheusfischer opened #83636 "Inconsistent support level of runtime version between languages (en-US and pt-BR)"
The support level of version 4.x is GA when the page language is written in English (en-US). When I read the same article, but in Portuguese (pt-BR), it is at "Preview" support level...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8f40-22be-4654-

[2021-11-09 19:21] SnehaGunda commented on #80913
#reassign:@markjbrown

[2021-11-09 19:34] MashaMSFT commented on #71190
Hi @JasonHershey , thanks for contacting Microsoft! Since I believe your inquiry has been addressed, I'm going to proceed with closing out this Git Issue. However, please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-11-09 19:34] #71190 closed

[2021-11-09 19:36] DamonStamper opened #83638 "Syntax correction"
The section on "Protect a repository from deletion" has incorrect syntax.

Incorrect
[code]

Correct
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717d6f8d-0ba4-69c9-c74d-6090c0d886bc
* Version Independent ID: c010898d-242b-da0f-b7a9-850a1a0f6c9e
* Content: [Lock images - Azure Container Registry](https://docs.

[2021-11-09 19:39] tfitzmac commented on #82304
Adding @v-gpettibone who knows more about IoT Hub.

My understanding is that additional endpoints refers to anything that is not in the [built-in endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#list-of-built-in-iot-hub-endpoints). So, it would endpoints covered [Custom endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#custom-e

[2021-11-09 20:00] Klexus1 commented on #37847
In my case, I was working on a single-tenant app and forgot to include MICROSOFT_AUTH_TENANT_ID in settings (Django).

[2021-11-09 20:13] MashaMSFT commented on #82833
Hi @Amritjagyasi , thanks for contacting Microsoft!  Previously, we had to list individual IP addresses in the documentation. Now we are able to provide subnets for IP address allocation so that customers can add them to their allowlist as a one-time activity, and not for every new ring buildout, as was the requirement before. In the future, when new subnets are added to a region, we will list tho

[2021-11-09 20:13] #82833 closed

[2021-11-09 20:19] mosharafMS opened #83640 "The maximum number of role assignment per subscription increased to 4000?"
[Enter feedback here]
The note about the maximum number of role assignment equal 2000. However today I see the maximum has changed to 4000. Is there recent updates that should be reflected in this doc?
the screenshot below shows 4000

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9cAAADkCAYAAACScde3AAAgAElEQVR4Ae29bZAd13nnp/24kffFL5t8262tyodsPqRmxqkiKoii5apUURXN3YXppMCVCgWWVZRcOzA3JC0bC

[2021-11-09 20:27] MarileeTurscak-MSFT commented on #83640
@mosharafMS could you please re-paste the screenshot? It doesn't look like it posted.

[2021-11-09 20:30] MashaMSFT commented on #82621
Hi @philippeLarocque , thanks so much for bringing this to our attention! The product feedback has moved to a new location, and the link should work now :) You can also get to it via [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback).

Apologies for the inconvenience, and thanks for letting us know! Since your issue is a support issue, I'll go ahead and close out this Git Issue but please fe

[2021-11-09 20:30] #82621 closed

[2021-11-09 20:43] johnayoub opened #83641 "what triggers key vault references updates"
Could you clarify what triggers key vault references updates? in the `Rotation` section it says: `Any configuration changes to the app causes an immediate refetch of all referenced secrets.` Could you define what those configuration changes are?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a

[2021-11-09 20:46] pkieper opened #83642 "Remove Reference to Office 365 Groups"
First paragraph, second sentence mentions using an Office 365 group for assigning access to applications, but only security groups are supported (not Office 365 groups):

"For example, if you want to assign access for the marketing department to use five different SaaS applications, you can create an Office 365 or security group that contains the users in the marketing department, and then assign

[2021-11-09 20:49] Grace-MacJones-MSFT commented on #83632
Hi @HiranmayaGundu, thanks for submitting a PR to update the hyperlink in this doc. The doc author review it.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-09 20:49] #83632 closed

[2021-11-09 20:51] DerekHerman-MSFT commented on #83622
@ramakrpr Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-09 20:54] VanMSFT commented on #75773
#reassign:rohitnayakmsft

[2021-11-09 20:55] MashaMSFT commented on #80357
Hi @NickAjderian , thanks for contacting Microsoft! This behavior sounds atypical and would need to be investigated further. Can you please open a support case with Microsoft? Or engage the product group via [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback).

I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks!
Masha from the

[2021-11-09 20:55] #80357 closed

[2021-11-09 20:58] MashaMSFT commented on #82573
Hi @juanandmsft , thanks for bringing this to our attention! We've processed a change to the doc to make this a bit more clear that should be live later this week. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-clo

[2021-11-09 20:58] #82573 closed

[2021-11-09 21:08] spaelling opened #83645 "ARM Template support for custom configurationProfiles"
When will there be ARM Template support custom profiles? Not supporting these makes enabling auto manage via Azure Policy almost useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55c37d7-81f2-24df-27d9-aa9d1ff20982
* Version Independent ID: 3645357c-fc55-d527-3168-193a0ddc5059
* Content: [Azure Automanage for vi

[2021-11-09 21:13] James-Hamil-MSFT commented on #83642
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-09 21:13] MashaMSFT commented on #81135
Hi @felickz , thanks so much for reaching out! The documentation has been updated so I'll go ahead and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-11-09 21:13] #81135 closed

[2021-11-09 21:18] markjbrown commented on #80913
Multiple questions to unpack here.

Q: Can you clarify what is meant by "accept writes in exactly one region" in the single write - multi read regions case? Because my current understanding of Cosmos behavior is not the same: even though only 1 region is write also the read regions need to get a hold of the changes - otherwise how would they know there was a write happening/read regions would beco

[2021-11-09 21:19] jiahh-ms commented on #83031
Hi  @reisepass , thank you for the feedback! I can answer for managed db, Azure DB for postgresql. We currently only support single server version, will update the public doc, thanks!

[2021-11-09 21:27] MashaMSFT commented on #81527
Hi @venuvinod4477 , thanks for contacting Microsoft! It seems your issue has been addressed so we're going to proceed with closing out this Git Issue. If you have further issues with throttling, please consider opening a support case to investigate your issue, or reporting the issue directly to the product group [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback].

Thanks again for reaching o

[2021-11-09 21:27] #81527 closed

[2021-11-09 21:32] RyanHill-MSFT commented on #83617
In looking at the doc history @cveld, this was added back in July. There aren't any limitations I can think of that would prevent you from using a function app hosted inside an ASE. However, it does appear the VNET used by the SignalR service is something that is internally controlled and can't be modified. This would be different than creating the private endpoint for the SignalR service you thro

[2021-11-09 21:32] Oury-MSFT commented on #83323
@SnehaGunda Could you please check customer feedback. Can I raise a PR to change the title?

[2021-11-09 21:34] dlepow commented on #83371
@falrnacn - The rollout to different Azure regions is in progress and expected to complete within approximately 1 week. The feature is currently available in some regions, for example East US. Thanks for contacting us.

[2021-11-09 21:34] markingmyname commented on #77261
This [PR](https://github.com/MicrosoftDocs/azure-docs/pull/83639) corrects this issue.

[2021-11-09 21:45] ii-batman opened #83649 "VM name - Mandatory?"
In this  [section](https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-virtual-machine-custom-script-extension#edit-parameters-file) - Is this property mandatory?
Reason I ask is that I am trying to create a template to deploy in AVD / add vm to host pool and the VMName will be set by the wizard.
I basically cannot find a way to create the json template file and param

[2021-11-09 21:48] gaikovoi opened #83650 "Public connectivitu to SQL MI failover group"
Is there a plan to provide public connectivity to SQL MI auto-failover group over public enpoints in the same way as it works currently for private ones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ccc6de-f90a-ca47-a559-a91df8581382
* Version Independent ID: cc683db0-750a-b18a-24f4-7d0010da5b4e
* Content: [Secure

[2021-11-09 22:10] JoshPorterFKH opened #83651 "Does not include MI instructions"
[Enter feedback here]

This page is SQL DB specific despite stating it applies to the managed instance product.  How do I restore a bacpac for example from SQL DB to SQL MI?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99

[2021-11-09 22:14] MashaMSFT commented on #75507
Hi @TheITguy666 , thanks so much for contacting Microsoft! Distributed transactions are still in preview for Azure SQL Database, but recently went GA for Azure SQL Managed Instance. For an overview of the features that are both in preview and GA, checkout the Azure SQL what's new pages: [https://aka.ms/sqldb-docs-whatsnew](https://aka.ms/sqldb-docs-whatsnew) and [https://aka.ms/sqlmi-docs-whatsnew

[2021-11-09 22:14] #75507 closed

[2021-11-09 22:30] DerekHerman-MSFT commented on #83634
Thanks for reporting this. I have created a PR to update the doc and changes should go live later today.

[2021-11-09 22:30] #83634 closed

[2021-11-09 22:42] msmbaldwin commented on #80876
Hi, @DeanGross. This uses v2 of the ASB, as stated in the introduction:

[2021-11-09 22:42] msmbaldwin commented on #80876
#please-close

[2021-11-09 22:42] #80876 closed

[2021-11-09 22:46] EricStG opened #83652 "Guidance for manual distributed tracing of Azure Service Bus messages"
In the distributed tracing example for Service Bus, it shows
[code]

However, in the [distributed tracing documentation for .Net](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/distributed-tracing-instrumentation-walkthroughs#add-basic-instrumentation), it's recommended to create an `ActivitySource` and use `StartActivity`.

It's also not clear (to me anyway) why an `Activity` must be cr

[2021-11-09 22:47] ataraxia89 commented on #79505
And what happens when an API is exactly as the samples but the same exception still occurs?!

[2021-11-09 22:49] hrmsft opened #83653 "What's the function of WEBSITE_CONTENTOVERVNET"
I've tried to go across the article, however it's missing what's the scenario and why should we set WEBSITE_CONTENTOVERVNET setting.

Can we kindly please elaborate it for a better understanding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa989bf6-c8f7-71fc-e823-f2726dfc8935
* Version Independent ID: 8dc810a4-bfd2-

[2021-11-09 23:00] WilliamDAssafMSFT commented on #83279
Hi @CC-Fleming! I think this might be a little product name confusion between the current Azure Synapse Analytics dedicated SQL pools and the pre-Synapse, legacy dedicated SQL pools (formerly SQL DW). Key is "Azure Synapse workspace" here, but I'll take this under advisement and see if we can be more clear in future updates. Not all features of the dedicated SQL pool in Azure Synapse workspaces ap

[2021-11-09 23:00] #83279 closed

[2021-11-09 23:16] tfitzmac commented on #83558
@mtboren-lilly - thanks for the feedback. I double-checked the deployment command and it worked as expected, but I wonder if the curly braces in the example are causing a problem. They were meant to indicate placeholder text that should be removed. I have changed the commands to use placeholder text that is in the correct format. The update has been published.

#please-close

[2021-11-09 23:16] #83558 closed

[2021-11-09 23:17] tamaszl opened #83654 "Is the only way to move data to archive tier is through CLI?"
Hi to move data to archive tier, the only way is through CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86dd7fe5-a4df-a207-37c0-a30571388a51
* Version Independent ID: 83316ef9-7986-f163-bcc1-8178e7014019
* Content: [Send data to Hot, Cold, Archive blob tier via Azure Data Box/Azure Data Box Heavy](https://docs.mic

[2021-11-09 23:26] mike-urnun-msft commented on #83596
Hello @LAKN-Lasse-Knudsen - Thank you for your feedback! We will review and update as appropriate.

[2021-11-09 23:26] mike-urnun-msft commented on #83559
Hello @rcmpgi  - Just following up on my comment above. Let us know if there is a doc that correlates to your feedback, otherwise, we will proceed to close this issue for now.

[2021-11-09 23:27] mike-urnun-msft commented on #83629
Hello @LeeSchuenemeyer - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2021-11-09 23:28] mike-urnun-msft commented on #83653
Hello @hrmsft - Thank you for your feedback! We will review and update as appropriate.

[2021-11-09 23:29] mike-urnun-msft commented on #83652
Hello @EricStG - Thank you for your feedback! We will review and update as appropriate.

[2021-11-09 23:33] MartinJaffer-MSFT commented on #83532
Yeah, looks like you are right, 1.0.9 is what I see in https://mcr.microsoft.com/v2/azure-stream-analytics/azureiotedge/tags/list

[2021-11-09 23:37] MartinJaffer-MSFT commented on #83532
I also just found out the image was updated today @JesvinJoseph  .  If you try verifying again with new image, does it still show vulnerable?

![image](https://user-images.githubusercontent.com/46612670/141022709-81dc41a4-37ad-48de-8b31-452256606b71.png)

[2021-11-09 23:39] spelluru commented on #82664
For this quickstart, the command works as-it-is. To keep it simple, it's ok not to add an alternate command.

#please-close

[2021-11-09 23:39] #82664 closed

[2021-11-09 23:42] spelluru commented on #83435
@nkatz01 - Thanks for the feedback. Would you mind sharing your code snippet? Thanks!

[2021-11-09 23:49] VenkatGowrishankar opened #83655 "Missing Cache size for VM sizes"
Cache size is missing for new generation VM types ? such as Edv5 and Edv4, is there an assumption that Cache size is equal to the temp disk ? Please clarify, this is a bit confusing as we have VM types such as Ds_V3 which clearly spell out the Cache size in GiB.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3a25abf-57

[2021-11-09 23:57] SamaraSoucy-MSFT commented on #83391
Hi @melvincanafranca

The main portion of the doc describes how to implement identities on the Event Grid sides. Under the[ Prerequisites section](https://docs.microsoft.com/en-us/azure/event-grid/managed-service-identity#prerequisites) there is a link to a doc on how to do this on the receiving side: https://docs.microsoft.com/en-us/azure/event-grid/add-identity-roles

[2021-11-09 23:57] #83391 closed

[2021-11-09 23:58] SamaraSoucy-MSFT commented on #83518
I have assigned the issue to the doc author to update appropriately.

[2021-11-10 00:02] Oury-MSFT commented on #83323
@kozloffj  We have raised a PR to update the doc. Thank you for bringing that into our attention.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/179283

[2021-11-10 00:02] #83323 closed

[2021-11-10 00:07] mike-urnun-msft commented on #83636
Hello @matheusfischer - Thank you for your feedback! We will review and update as appropriate.

cc: @ggailey777

[2021-11-10 00:07] julieMSFT commented on #78357
#reassign:mgoedtel

[2021-11-10 00:10] julieMSFT commented on #82803
#reassign:mstehrani

[2021-11-10 00:12] kobulloc-MSFT commented on #83621
@acscampos It appears there are no [benchmarks ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/compute-benchmark-scores)for those series which may be the reason for this.  I've assigned this to the document author for further review.

[2021-11-10 00:18] kobulloc-MSFT commented on #83543
@juanandmsft The document author will know more about future support for SLES 15.x.  We've assigned this to them for review.

[2021-11-10 00:23] kobulloc-MSFT commented on #83655
@VenkatGowrishankar Thank you for your question!  I'm currently working on getting additional clarity for cache size and will update you as soon as I have more information.

[2021-11-10 00:26] kobulloc-MSFT commented on #83638
@DamonStamper Thank you for bringing this to our attention!  We're reviewing this and will update you shortly.

[2021-11-10 00:26] adin3d commented on #33157
I also have this issue - with allow all networks, trusted services, soft delete enabled 90 days etc

Most of my time of having the appgw deployed in code was troubleshooting and finding workarounds

[2021-11-10 00:28] kobulloc-MSFT commented on #83645
@spaelling Thank you for your question and feedback!  We've assigned this to the document author for review.

[2021-11-10 00:38] v-gpettibone commented on #82304
At the risk of clouding the issue, according to Understand Azure IoT Hub endpoints | Microsoft Docs, you can have 10 of the following as additional endpoints. I am assuming that “additional” means simply that they are additional to the built-in endpoint:

//////////////////

Custom endpoints
You can link existing Azure services in your Azure subscriptions to your IoT hub to act as endpoints for me

[2021-11-10 00:39] mlagridigital commented on #83050
### Troubles with Tutorial
- **Unable to successfully install required APT packages**
I did follow the instructions in https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-ubuntu-agent#optional-manually-prepare-a-device.
However, at Step 2 install the Device Update agent .deb packages.
I wasn't able to install `deliveryoptimization-plugin-apt` and I didn't know what to do.
Af

[2021-11-10 00:40] v-gpettibone commented on #82304
Understand Azure IoT Hub endpoints | Microsoft Docs[] (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#custom-endpoints)

[2021-11-10 00:55] Leonardo-Ferreira opened #83656 "Can I define the Host (or Host header) used by HTTP probe?"
Can I define the Host (or Host header) used by HTTP probe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1e7cb2-c5a7-7122-c729-dc259db99a40
* Version Independent ID: 45c6fd72-5114-fcda-0bab-2d80ac6bed33
* Content: [Health probes to scale and provide HA for your service - Azure Load Balancer](https://docs.microsoft.c

[2021-11-10 01:08] oscargsune opened #83657 "Link to LogAnalytics Table Ref"
[Enter feedback here]

You may want to consider linking LogAnalytics table references to the LA documentation, for example, the O365 connector ref (https://docs.microsoft.com/en-us/azure/sentinel/data-connectors-reference#microsoft-office-365) states that the Log Analytics Table is the OfficeActivity Table. It would be helpful to have a hyperlink on the word OfficeActivity, that takes you to (http

[2021-11-10 01:22] ggailey777 commented on #83636
Sorry for the confusion, but because of how we localize our content there is usually a small time delta before changes to English articles make it into other languages. I'll try to get an ETA for when the updates will be available in your language.

[2021-11-10 01:26] BharathNimmala-MSFT commented on #83600
@BernhardHofmann Thank you for your feedback, our team will further review and get back to you at the earliest.

[2021-11-10 01:27] Genuineh commented on #83321
Hi @IoTGirl
Thanks for your reply.
According to your reply,  the distance calculated in points that EPSG:3857 converted from WGS84 is right value:305.748

[2021-11-10 01:27] BharathNimmala-MSFT commented on #83613
@LorenzoGalizia Thank you for reaching out with your query, we will further review and get back to you at the earliest.

[2021-11-10 01:30] bz-wow opened #83658 "[Page content error] Looks like the "const string[]" is invalid"
The sample code for RequiredScope uses "const string[]", but it seems invalid. I tried in VS2019 with .net core 3.1, the grammer didn't support. By searching "c# const array" in web, it returned none valid results. So I think the doc should be wrong here.

Please find the issue in the screenshot below.

![image](https://user-images.githubusercontent.com/67778795/141032466-a6d01c52-b9fc-483f-b37e-0

[2021-11-10 01:45] jaimecubillos commented on #57764
Well, I had the same problem described, after some days to try different approaches and configurations. I found a way to redirect correctly using the **WAF FrontDoor custom rule** configured with **Request Uri** and **RegEx**, therefore any after / will redirect to the index.html file except .js and .css files., for instance, react rule will redirect to the index.html file. Of course, I had to ass

[2021-11-10 01:59] SaurabhSharma-MSFT commented on #83446
@abrathehuman The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-11-10 01:59] #83446 closed

[2021-11-10 02:34] SnehaGunda commented on #81410
#reassign:@StefArroyo

[2021-11-10 02:35] Cavorter opened #83659 "Omitted or empty 'label' filter does not behave as described"
I am not sure if this is an issue with documentation or the API, but I figured I'd start here first.

The "Supported filters" section of the Revisions resource for the App Configuration REST API says that if the 'label' filter is omitted or set to null (`label=`) then it will filter the results for keys without any label. The API as implemented appears to return results for keys with any label. Th

[2021-11-10 02:44] SaurabhSharma-MSFT commented on #83651
@JoshPorterFKH Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-10 02:52] MonikaReddy-MSFT commented on #83659
@Cavorter - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-10 03:16] SumanthMarigowda commented on #83618
@molotch
Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 03:17] SumanthMarigowda commented on #83623
@vimorra Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 03:51] VikasPullagura-MSFT commented on #83623
@vimorra
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-10 03:51] VikasPullagura-MSFT commented on #83623
@asw101
Can you please check and add your comments on this doc update request as applicable.

[2021-11-10 04:03] himanshusinha-msft commented on #83382
@jbreunung  : Thanks for the sharing the solution , Going ahead and closing the issue now

[2021-11-10 04:03] #83382 closed

[2021-11-10 04:06] shaunjacob opened #83661 "Missing $ symbol for "Enable sensitivity label support in PowerShell" step 7"
[Enter feedback here]
Current setting - Set-AzureADDirectorySetting -Id grpUnifiedSetting.Id -DirectorySetting $setting
Correct setting is - Set-AzureADDirectorySetting -Id $grpUnifiedSetting.Id -DirectorySetting $setting

Note the $ for the variable $grpUnifiedSetting.Id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-11-10 04:29] RyanHill-MSFT commented on #83641
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-10 04:33] #83315 closed

[2021-11-10 04:37] SumanthMarigowda commented on #49481
@ken-tw  @devikamv I'd recommend post your question in https://azure.microsoft.com/en-us/support/community/ I will follow up there also provide complete details information of the query, Thanks
Also you can  contact support, so If you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, c

[2021-11-10 04:39] SumanthMarigowda commented on #83649
@ii-batman Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 04:40] SumanthMarigowda commented on #83654
@tamaszl Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 04:50] SumanthMarigowda commented on #83661
@shaunjacob Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 04:50] SumanthMarigowda commented on #83658
@bz-wow Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 04:52] SumanthMarigowda commented on #83657
@oscargsune Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-10 05:21] SaiKishor-MSFT commented on #83656
@Leonardo-Ferreira You do not have the option to define the Host Header for an Azure Load Balancer. The only Health Probe configuration options you have are the following:

Duration of the interval between individual probes
Protocol of the probe
Port of the probe
HTTP path to use for HTTP GET when using HTTP(S) probes

This capability is supported only when you have multi-tenant back ends such as

[2021-11-10 05:21] SaiKishor-MSFT commented on #83656
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-10 05:21] #83656 closed

[2021-11-10 05:25] v-amallick commented on #83497
@yertaylan67 - The changes are live now. Now, I am proceeding to close this issue. Please get back to us if you have other queries/suggestions; we will be happy to continue our conversation.

@SadiqhAhmed-MSFT - FYI

#please-close

[2021-11-10 05:25] #83497 closed

[2021-11-10 05:31] ArchangelSDY commented on #83617
Hi @cveld, currently SignalR shared outbound private link cannot be used with Function in ASE due to ASE side limitations(ASE doesn't support private endpoint). So you might need to switch to Premium tier instead.

[2021-11-10 05:36] tullydwyer commented on #7731
I am hitting this issue with Azure Policies trying to go from 1 parameter to 0. The policies are not a part of an initiative or assigned anywhere.

Can you really not update the amount of parameters for an Azure policy? Surely this is documented somewhere?

[2021-11-10 05:53] SaiKishor-MSFT commented on #83342
@PatricSten Do you mean recreation of the S2S VPN on Azure side? When you made the change, did you see if this step was required or did the VPN come up?

[2021-11-10 06:01] prabirkrsarkar opened #83662 "Device stream creation flow Diagram"
In the "Device stream creation flow" diagram, think for Step 3, the direction of the flow will be from the IoT hub to the device (where IoT hub notifies the device-side program by invoking the callback registered in step 1.) Please verify.

Regards
Prabir

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31cd2f69-1c17-95f

[2021-11-10 06:12] SaiKishor-MSFT commented on #83615
@asudbring Can you please look into this?

[2021-11-10 06:15] luodun2020 opened #83663 "Can we have more granual control on vnet/subnet,"
[Enter feedback here]
Allow only update, no add/delete. Subnet write is not approved by security team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbf20eb1-1f03-1374-ad24-0617e780977a
* Version Independent ID: 3d81e440-09a9-88df-7d96-c8a1dd57850d
* Content: [Azure RBAC permissions for Azure Private Link](https://doc

[2021-11-10 06:28] ssivas commented on #83657
@oscargsune, Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-11-10 06:46] ssivas commented on #83516
@maurizio01,

Thanks for reaching out.

Unfortunately, no because you must have an Azure AD Global Administrator account for the Azure AD tenant you want to integrate with. This account must be a school or organization account (such as member belong to same directory ) and can't be a external identity such as a B2B collaboration guest (guest user). Hope this helps.

Reference: https://docs.microso

[2021-11-10 06:46] #83516 closed

[2021-11-10 07:10] ardacetinkaya opened #83664 "Problem in Open Service Mesh (OSM) Azure Kubernetes Service (AKS) add-on enable"
Hi;
There are some missing steps for enabling Open Service Mesh add-on for existing clusters. I am not sure if it is also required for cluster creation.

I need to register the feature before enabling the Open Service Mesh add-on

If it is not enabled, ```enable-addons``` command give the following output

(OpenServiceMeshAddonFeatureFlagNotEnabled) OpenServiceMesh addon is not allowed since featu

[2021-11-10 07:14] GitaraniSharma-MSFT commented on #83663
@luodun2020 , thanks for your query. We'll investigate and get back to you shortly!

[2021-11-10 07:15] KalyanChanumolu-MSFT commented on #83650
@gaikovoi Thank you for reaching out.
This is being assigned to the content author to comment if any ETA is available at this time.

[2021-11-10 07:29] KalyanChanumolu-MSFT commented on #83619
@m-sterspace Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-10 07:39] jbreunung commented on #83382
well, the notebook in question has not been adjusted: https://docs.microsoft.com/en-us/azure/databricks/_static/notebooks/mlflow/mlflow-quick-start-r.html so I don't really understand how the issue can be closed...

[2021-11-10 08:22] psyblade12 commented on #82599
Yes I understand that, so when I design the test, I make the test as a simple **inequi-join** between 2 1-columned random number tables, and then count number of rows that can join. This test case, I believe is completely CPU oriented.

What I am trying to do is of course I want to control CPU allocation for queries. CPU should be allocated more to more important query, and less to unimportant que

[2021-11-10 08:28] amanmcse commented on #83433
@HeinzLm This is a product bug and not a documentation issue. We use this platform to address issues related to the documentation. Kindly post feedback at the [Azure Feedback portal](https://feedback.azure.com), which is monitored by the product teams for product improvements.

[2021-11-10 08:28] #83433 closed

[2021-11-10 08:30] SrijitBose-MSFT commented on #83664
@ardacetinkaya , thank you for your feedback. We have shared the same with the content author(s). This should now be visible in their backlog and will be updated soon.

[2021-11-10 08:44] AshokPeddakotla-MSFT commented on #83662
[@prabirkrsarkar](https://github.com/prabirkrsarkar) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-10 08:45] ssivas commented on #83003
We will now close this issue as this thread inactive for couple of weeks. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

#please-close

[2021-11-10 08:45] #83003 closed

[2021-11-10 08:49] pumpkinclarinnet-MSFT commented on #82895
@JnHs were you able to get any updates?

[2021-11-10 08:53] ssivas commented on #82256
@guyhorn1964 ,

Thank you for your time and patience throughout this issue. I have checked with our product team about this matter and confirmed that since user attribute manipulation is pretty high privilege operation, we have kept it restricted to Global admin only.

#please-close

[2021-11-10 08:53] #82256 closed

[2021-11-10 09:34] KalyanChanumolu-MSFT commented on #83489
@artizzan We will proceed to close this issue now.
If there are further questions regarding this issue, please comment and we will gladly continue the discussion.

[2021-11-10 09:34] #83489 closed

[2021-11-10 09:36] KalyanChanumolu-MSFT commented on #83581
@gregt1234 I hope the response from @ThomasWeiss clarifies your query.
If there are further questions regarding this issue, please comment and we will gladly continue the discussion.

[2021-11-10 09:36] #83581 closed

[2021-11-10 09:43] KalyanChanumolu-MSFT commented on #83514
@ryocown Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-10 09:45] OgeonX opened #83668 "Firewall rule 0.0.0.0-255.255.255.255 allow all IP's not just Azure services. Retarded Important screen. No need for firewall if you still allow all through"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b404ba7-af5a-bb77-4cd4-c0123490e0ed
* Version Independent ID: d0430276-271c-4e57-ffdc-6b8a923b1dad
* Content: [Create a server-level firewall rule - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/firewall-create-server-

[2021-11-10 09:48] OgeonX commented on #83668
Really
![image](https://user-images.githubusercontent.com/8281041/141090143-68ad5ae4-f7dc-44f7-867a-be3b89444bf3.png)
This allows everything. Are you serious with this documentation ?

[2021-11-10 09:53] batamig commented on #83657
Hi @oscargsune, thanks so much for this feedback! Yes, I can see how those hyperlinks would be helpful to users.
I'm adding this item into our backlog as a future improvement.
In the meantime, I'm going to close this issue, but feel free to continue commenting if you have more feedback.

We appreciate your contribution to docs!
#please-close

[2021-11-10 09:53] #83657 closed

[2021-11-10 09:55] jotavar opened #83669 "Wrong command description"
Where it reads:

"The following example creates a shared named azure-secret"

it should be:

"The following example creates a secret named azure-secret"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent ID: fa86da1e-9c86-88fe-170c-5e6aa9230b5f
* Content: [Manually

[2021-11-10 10:19] allchannelson commented on #25671
In Cloud Shell, there is now a button for Upload, Download, and Manage for the file share of the cloud shell.

![image](https://user-images.githubusercontent.com/18274968/141095061-b7364c23-3dde-423a-a209-cbc98878a1c2.png)

Subsequently, Cloud Shell doesn't seem to create a resource group anymore. The storage resource is created but isn't listed under your resources.

[2021-11-10 10:24] LuisPicoSogeti opened #83671 "Data Factory - Fail activity doesn't deploy correctly on west Europe"
I want to implement the Fail activity in one of my pipelines but when I try to deploy the pipeline through Powershell scripts the pipeline is deployed but the Fail activity doesn't work. When I inspect the JSON code of the pipeline the fail activity is shown as an activity of type Activity that doesn't do anything.

By the way, I'm deploying all my resources in west Europe.
I want to know if this

[2021-11-10 10:34] Svijay-msft commented on #83419
Hello @Help4Access

Current Configuration (As per current ScreenShot)

There are 3 output streams generated.
Every row matching the first condition goes to output stream moviesBefore1960.
All remaining rows matching the second condition go to output stream moviesAFter1980.
Those don't match will go to the Default Stream.

If my understanding is incorrect, please free to add additional context.

Yo

[2021-11-10 10:38] AlexFilipin opened #83672 "Block legacy authN on service level"
The last section of the article already mentions blocking legacy authN on SPO service level, although it just mentions this in B2B context.

Maybe we should add a general section to recommend disabling legacy authN on service level, in general, in addition to the CA policies? E.g. https://github.com/AlexFilipin/ConditionalAccess/wiki/Block-legacy-authentication-on-service-level ?

---
#### Documen

[2021-11-10 10:41] insankim opened #83673 "VM does not need to be deallocated to enable/disable Accelerated Networking"
[Enter feedback here]
Now enabling/disabling accelerated networking on NIC resource is possible while VM is running.
Could you please check with networking team and update the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-

[2021-11-10 10:49] AshishGoel001 opened #83674 "PIM Audit Report"
Hi Team,

We want to send report over a mail for resource audit functionality in PIM Azure AD. The requirement is if for certain subscription , suppose "X" number users activated their access through PIM. So, need the report of "X" number of users with details like when they have activated and till what time , duration of activation etc.

Regards,
Ashish

---
#### Document Details

⚠ *Do not edit

[2021-11-10 10:49] GitaraniSharma-MSFT commented on #83673
@insankim , thank you for your feedback. We'll investigate and get back to you shortly!

[2021-11-10 11:15] maulik-modi opened #83675 "Clarify how this pod-managed identities V2(preview) relate or does not relate to https://github.com/Azure/aad-pod-identity"
Clarify differences or any relation between these two products, it is causing lot of internal confusion as both are driven by Microsoft
pod-managed identities V2 (preview) vs  AAD Pod Identity(Github project again by Microsoft) https://github.com/Azure/aad-pod-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c

[2021-11-10 11:15] MikeWedderburn-Clarke opened #83676 "Azure Migrate VMWare limitations"
I found these references really hard to find in other parts of our docs so am suggesting the are added to the 'Limitations - Discovery' section:
https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware#limitations

1. The Azure Migrate appliance can discover up to 10,000 servers on a **single** vCenter Server.
2. There is a one to one mapping between the Azure Migrate appliance

[2021-11-10 11:18] MertUssakliMSFT commented on #83353
@blackadi Thank you so much for raising this issue! I've been blocked on getting this flow working, and I suspected that something was off with the tutorial that was provided :).

[2021-11-10 11:23] marcelkmfst opened #83677 "More Details and clarification"
Hi,

maybe it´s just me, but the article is confusing. So what is exactly required to leverage NSG / UDRs? I assume the network policy must be disabled and then I can simply attach an NSG to the private endpoint NIC interface? What about the UDR feature?

Would appreciate if some examples are added.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-11-10 11:36] Tichandr opened #83678 "Unable to Connect with Rest API Endpoint for Connect Management API for data connectors Post Call"
Title:- Unable to Connect with Rest API Endpoint for Connect Management API for data connectors Post Call

I am using the below Request for Connect Rest API Post Method:-

Url :- subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors/{connector-name-GUID}/connect?api-ve

[2021-11-10 11:49] deeagar opened #83679 "Can the request with "global" endpoint also get routed to Cognitive Services which are in "preview"?"
Hi,

As mentioned in the documentation, requests to translator (cognitive services in general) is handled by closest region and may jump outside geography in case of data center failures.

For production scenarios, we would not want requests to be redirected to a region where the services are in "preview" (also not recommended by Microsoft I believe) but always to a nearest region where it is GA-e

[2021-11-10 11:52] GitaraniSharma-MSFT commented on #83677
@marcelkmfst , thank you for your feedback. We'll review this and get back to you shortly!

[2021-11-10 12:07] cveld commented on #83617
@ArchangelSDY Is there any eta on availability of outbound private endpoint support on ASE (v3)?

So for now I guess we need to connect through public internet and whitelist the outbound public IPs of our ASE (v3) infrastructure.

[2021-11-10 12:23] kengaderdus commented on #81941
@AmitavaHazra Thank you for your patience. Currently, we do not have that feature neither is their any API for that purpose. Kindly post your feedback at [Azure feedback portal](https://feedback.azure.com), which is monitored by our product team.

[2021-11-10 12:43] Inframatic opened #83681 "Azure B2C SignUp Userflow Page Layouts do not properly load any custom page URI/Content given"
Even the most basic examples that this tutorial provides (ie. an almost empty HTML template with id="api" does not work. Every time a sign up a new user, I am greeted with an error:

`"[Report Only] Refused to run the JavaScript URL because it violates the following Content Security Policy directive: "script-src 'strict-dynamic' 'self' 'nonce-YIzLCgXlNcrA49RReCN4Iw==' 'report-sample'". Either the

[2021-11-10 12:45] batamig commented on #83678
hi @Tichandr, can you add the exact changes you'd like to see here? It's not clear to me from your comment.
I don't know if we can add a "try it out" button to this page. Have you seen that elsewhere in microsoft docs?

[2021-11-10 12:48] RohitMungi-MSFT commented on #83679
@deeagar While calling the global endpoint or the regional endpoint we provide a parameter called `api-version`. This parameter ensures that you call only the nearest endpoint where the API provides a GA version. For example, if you use `api-version=3.0` then the GA version of the API is only called with the nearest region.

Any preview version of the API or method will have `preview-x.x` as the v

[2021-11-10 13:17] Tichandr commented on #83678
Hi @batamig , I am referring to the [https://review.docs.microsoft.com/en-us/azure/sentinel/create-codeless-connector?branch=pr-en-us-169233#supported-rest-api-actions] documentation where I am trying to connect to the Azure Sentinel Connector through the Rest API endpoint.

Endpoint API URL:-  https://management.azure.com/subscriptions/[SubscriptionId]/resourceGroups/[RGName]/providers/Microsoft.

[2021-11-10 13:20] RyanHill-MSFT commented on #83617
@cveld private endpoint support is coming to ASE sometime early next year.

If you have any further questions, please feel free to reopen the issue and tag us in your reply.

[2021-11-10 13:20] #83617 closed

[2021-11-10 13:22] gregt1234 commented on #83581
Yes thanks - another comment on that documentation page is that it would be helpful to mention that custom roles can also be created via bicep, in addition to PowerShell and AZCLI.

[2021-11-10 13:26] Help4Access commented on #83419
Hello Svijay,

Looks good. Please proceed.

Kind Regards,

Sasha Froyland
Director of Business Development & Partnerships
(Direct) +1 (415) 228-1900 | (Cell) +1 (425) 535-2885 | Online Calendar<https://www.help4access.com/schedule/>
help4access.com
***@***.***

From: Svijay-msft ***@***.***>
Sent: Wednesday, November 10, 2021 2:34 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sasha Froyland ***

[2021-11-10 13:27] Inframatic commented on #83612
I have found multiple issues in their docs that lead to either outdated step-by-steps and ['simple' code examples that throw errors](https://github.com/MicrosoftDocs/azure-docs/issues/83681). I hope that these docs can be updated to display correct information

[2021-11-10 13:30] omgro99 commented on #17132
any update on Managed Identity with windows container?

[2021-11-10 13:48] kengaderdus commented on #83388
Hi @LeoTanoue,

Thank you for your patience. We have addressed the issue. We were supposed to override `LocalAccountSignUpWithLogonEmail` and `LocalAccountDiscoveryUsingEmailAddress` technical profiles and not replace.

Also, see an important note just before the section [Add Azure AD B2C claim types](https://docs.microsoft.com/azure/active-directory-b2c/custom-email-sendgrid?pivots=b2c-custom-pol

[2021-11-10 13:50] jochenvw opened #83682 "Check the 'Required Permissions' bit - I think something is missing"
I strongly believe in order for the VNET Service Endpoint stuff to work ( described [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=%2Fazure%2Fvirtual-network%2Ftoc.json&tabs=azure-portal#required-permissions) ) - not only does one need contributor rights on the storage account, but also 'read' rights on the subnet that is granted the permissions.

I am te

[2021-11-10 13:56] Batierk opened #83683 "Unsupported scenario clarification"
When a virtual machine is encrypted with ADE, what does unsupported mean for Azure Files? Does it mean that Azure files won't be encrypted with ADE?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Independent ID: 66c3e929-608c-6f7b-653d-ca043dcafecb
* Content: [Azure Disk E

[2021-11-10 14:00] SadiqhAhmed-MSFT commented on #83676
@MikeWedderburn-Clarke Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2021-11-10 14:15] yuharucan opened #83684 "Limitation infomation on DEP"
[Enter feedback here]
If DEP is enabled, some limitations appear, I think.
For example, some Cognitive APIs are not supported like the following Docs shows.
https://docs.microsoft.com/en-us/azure/synapse-analytics/machine-learning/overview-cognitive-services

And AML are not supported like the following Docs show.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-private-lin

[2021-11-10 14:15] 72gm commented on #83214
Hi @yoelhor, It's a bit of a strange one. The user would, in their head, be signing up but actually signing in as their entry  already exists in the tenant.

The user would enter their email, case ref plus unique id num. This would be validated. Then the user would then create a password if successfully validated..... not my choice of user flow I can assure you :)

[2021-11-10 14:15] jotheman0303 opened #83685 "Good article! - Note on the scenarios though"
Great stuff on the scenarios for using filters, especially using a "step up" server to manage Azure, this one:

I would like to note though: This creates a catch 22 if there is an outtage on the Conditional Access or Azure-platform for example. If you cannot log on to the management-machine, you have no way of making changes to make changes and could potentially lock yourself out or not be able to

[2021-11-10 14:47] MughundhanRaveendran-MSFT commented on #83653
@hrmsft , Thanks for your feedback. I have added more information about the WEBSITE_CONTENTOVERVNET setting. It will be published soon

[2021-11-10 15:06] firth opened #83686 "Section called "Use Microsoft Graph API to make this a root domain" is outdated and suggests using a deprecated method"
Section called "Use Microsoft Graph API to make this a root domain" is incorrect. That's an Azure Active Directory Graph API method, not a Microsoft Graph API method. Unfortunately Azure Active Directory Graph API is deprecated, and new App Registrations in AzureAD can't use it this:
POST https://graph.windows.net/{tenant_id}/domains/child.mydomain.com/promote?api-version=1.6

This documentation n

[2021-11-10 15:12] RobLSDev commented on #28400
Any updates?  It would be really handy to be able to use names rather than GUIDs in our app configs, both for readability and support the scenario where we want to destroy and recreate an AKS environment where all of the names would be the same but the GUIDs would be different.

[2021-11-10 15:26] MGoedtel commented on #83440
#reassign: @JYOTHIRMAISURI who is now supporting the Automation content. I believe I already have a related work item to updated the documentation in general about data collection/analysis/alerting with the Automation account. No ETA as to when the new content writer taking over the Automation content will be able to update this.

[2021-11-10 15:30] #83388 closed

[2021-11-10 15:38] SrijitBose-MSFT commented on #83675
@maulik-modi , thank you for your feedback. We have shared the same with the content author(s). This will now be visible in their backlog.

[2021-11-10 15:38] #83669 closed

[2021-11-10 15:39] SrijitBose-MSFT commented on #83669
@jotavar , thanks for the feedback. We have updated the document. The changes will reflect soon.

[2021-11-10 15:40] ryanw-mcia opened #83687 "Documentation Update Needed"
Step 6 needs updating under [this section](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-use-email-signin#enable-staged-rollout-to-test-user-sign-in-with-an-email-address)

When I tried to run the command, I got an error for an unrecognized parameter for "-ObjectId".

According to documentation [here](https://docs.microsoft.com/en-us/powershell/module/

[2021-11-10 15:44] ronortloff commented on #82599
Thanks for the feedback.  We will get the docs updated to make this more clear.
Couple things to note: CPU is a much more fluid resource than memory.  Context switching and scheduling on CPUs is lightweight compared to moving data in and out of memory.
Workload groups provide a mechanism to contain cpu and dedicate memory to workloads (not apply importance to run-time resource allocation).  Again,

[2021-11-10 16:22] kobulloc-MSFT commented on #83683
@Batierk Happy to help!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-10 16:22] #83683 closed

[2021-11-10 16:32] JamesTran-MSFT commented on #83672
@AlexFilipin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-10 16:40] himanshusinha-msft commented on #83486
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-11-10 16:42] JamesTran-MSFT commented on #83674
@AshishGoel001
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-10 16:47] MarileeTurscak-MSFT commented on #83685
@jotheman0303
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-10 16:49] JamesTran-MSFT commented on #83678
@Tichandr
Thank you for your post!

When it comes to adding the "Try It" button to this article, I've assigned this doc-enhancement to the author @batamig
![image](https://user-images.githubusercontent.com/36619112/141156172-ae6f2784-3fd6-49d4-b166-89b42ba62e91.png)

For your issue of testing the API, since that isn't directly related to improving our docs, and to gain a better understanding of yo

[2021-11-10 16:50] whhender commented on #83031
#please-close

[2021-11-10 16:50] #83031 closed

[2021-11-10 16:51] KranthiPakala-MSFT commented on #83684
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-10 16:53] LarsErikPalm opened #83688 "vCenter Server version 7 is missing in requirements"
Hi,
Under Prerequisites and Requirement, vCenter Server version 7 is missing

Regards
L-E

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dc0f9e8-9503-5d8c-e597-66c629e23357
* Version Independent ID: 2f6e08f6-8e07-f283-9254-c2152774dd4b
* Content: [Discover servers running in a VMware environment with Azure Migrate Dis

[2021-11-10 17:02] whhender commented on #83618
@molotch - Thanks for the feedback!
I've reached out to the team to see if there is a tool/solution currently available.

In the mean time, I'd suggest you open a support request in the Azure Portal if you haven't already: [How to Open a Support Request](https://docs.microsoft.com/azure/azure-portal/supportability/how-to-create-azure-support-request)

Our support engineers should be able to help y

[2021-11-10 17:05] JamesTran-MSFT commented on #83686
@firth
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-10 17:06] JamesTran-MSFT commented on #83687
@ryanw-mcia
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-10 17:11] fullerpc opened #83689 "seems like synapse should just run an inefficient query very slowly and not throw an exception"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-11-10 17:18] #74421 closed

[2021-11-10 17:22] Oury-MSFT commented on #73979
@savjani Could you please bring some clarification on the feedback above. Thanks

[2021-11-10 17:25] PramodValavala-MSFT commented on #83568
@MironAtHome Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

The requirements for running Azure Functions with a Timer Trigger and Custom Handler are all required configuration with the way they are designed. The defaults are indeed fully packed for use cases that can best leverage bindings and other functionality that allow developers

[2021-11-10 17:29] MonikaReddy-MSFT commented on #83689
@fullerpc - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-10 17:33] MonikaReddy-MSFT commented on #83566
@FrankVanEgmond - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-10 17:33] #83566 closed

[2021-11-10 17:34] MGoedtel commented on #83013
@zojovano - Arc-enabled servers has a limit of 5,000 machines per resource group.  I am going to update the Service Limits article today to include this information (already created a user story to track this work item). Thanks for bringing this to our attention.  #reassign: mgoedtel.

[2021-11-10 17:34] PRMerger6 commented on #83013
The following users don't have valid GitHub IDs, or are not collaborators on this repo: mgoedtel.

[2021-11-10 17:39] MonikaReddy-MSFT commented on #83582
@gabesmsft - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-10 17:39] #83582 closed

[2021-11-10 17:43] urijah commented on #74421
Why was this closed @Oury-MSFT  ?

[2021-11-10 17:46] jonburchel commented on #73705
Thanks for reporting this @crystalgeek.  I see @lrtoyou1223 already fixed this issue now, so I will close this one out.  If you have further questions about it though you can continue the discussion here anytime in the future too.

#please-close

[2021-11-10 17:46] #73705 closed

[2021-11-10 17:50] assaf-grth opened #83690 "Re protect when primary region is not accessible"
According to the article, re protection is done from the secondary region to the main region in order to failback later.
My question is what type of protection exists for the replicated VM while the main region isn't available?
Isn't some kind of backup required in this meanwhile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-11-10 17:52] MarileeTurscak-MSFT commented on #83681
@Inframatic
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-10 17:52] jonburchel commented on #74557
Thanks for reporting this @piotrgwiazda.  I see we do have documentation for the Spark activity in ADF that refers to the Arguments field that can be used to pass command line arguments to the job:  https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-spark.  Currently this doc only describes the JSON structure to configure the job.  The team is looking to add more UI examples

[2021-11-10 17:52] #74557 closed

[2021-11-10 17:58] jonburchel commented on #74558
Thanks for your feedback to make the docs better @jzelos.  We have reorganized and expanded our CI/CD documentation and I believe this doc covers the steps to publish:  https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-delivery-improvements.  I will close this issue out for now, but if you have further questions, we can continue the discussion in this thread even after the

[2021-11-10 17:58] #74558 closed

[2021-11-10 18:02] jonburchel commented on #74644
Thanks for reporting this issue and helping us improve the docs, @jasonhorner.  I confirmed the doc has been updated to reflect this now!

#please-close

[2021-11-10 18:02] #74644 closed

[2021-11-10 18:08] jonburchel commented on #74053
Thanks for reporting this issue @naleczynskia to help make the docs better.  I updated this doc to add that caveat now and will close this issue out today, but if you have further questions we can always continue the discussion in this thread, even after the issue is closed.  The change should be published later today.

#please-close

[2021-11-10 18:08] #74053 closed

[2021-11-10 18:10] alexdrenea opened #83691 "Creating subscriptions programatically"
How can we create subscriptions programmatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b18e22-18d0-f82d-cbd0-e9ca300ee655
* Version Independent ID: 2737fc2f-cb47-c881-e2ca-1eba4efa26d2
* Content: [Create subscriptions in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-managem

[2021-11-10 18:11] saasguide commented on #83583
Thanks for the note! Will check and update the documentation accordingly.

[2021-11-10 18:12] saasguide commented on #83583
#please-close

[2021-11-10 18:12] #83583 closed

[2021-11-10 18:12] bandersmsft commented on #82860
https://github.com/MicrosoftDocs/azure-docs-pr/pull/179374

[2021-11-10 18:20] saasguide commented on #79266
The answer to your first question: It depends on what state the customer's subscription is in. Irrespective of the process, we will send webhook notifications for the following events on the subscription:
![image](https://user-images.githubusercontent.com/83368175/141170418-355b3293-c99f-4a08-b00c-c555c1679339.png)

We now have a separate page for webhook related questions. Please refer to the fol

[2021-11-10 18:24] saasguide commented on #79266
#please-close

[2021-11-10 18:24] #79266 closed

[2021-11-10 18:24] JamesTran-MSFT commented on #83687
@ryanw-mcia
Thank you for pointing this out!

Since our documentation is currently reflecting the correct `-RefObjectId` parameter. I'll go ahead and close out this issue.
![image](https://user-images.githubusercontent.com/36619112/141171388-8fb11bd3-d5d2-4f55-aa5c-53cad233bc7e.png)

[2021-11-10 18:24] #83687 closed

[2021-11-10 18:26] Ilheu opened #83692 "Could not find file '/app/pn.json'."
I followed this tutorial, but my publisher module keeps giving me this error:

[17:44:36 INF Microsoft.Azure.IIoT.Module.Framework.Hosting.ModuleHost] Module Host started.
[17:44:46 ERR Microsoft.Azure.IIoT.OpcUa.Edge.Publisher.Engine.LegacyJobOrchestrator] Error while loading job from file. Retry expired, giving up.
System.IO.FileNotFoundException: Could not find file '/app/pn.json'.
File name: '

[2021-11-10 18:28] JamesTran-MSFT commented on #83674
@AshishGoel001
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and based off your ask of sending a report via email for the Privileged Identity Management (PIM) audit history. I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs

[2021-11-10 18:28] #83674 closed

[2021-11-10 18:29] bandersmsft commented on #82860
@Adrianm10 Thanks for letting us know about this. I've updated the article to describe the new policy settings. The article will get refreshed live later today.
#please-close

[2021-11-10 18:29] #82860 closed

[2021-11-10 18:31] jonburchel commented on #74757
Hi @yuanshingk, and thank you for reporting this issue.  This sounds like it could be some unexpected behavior.  Can you open a support case from your Azure portal on the Support & Troubleshooting blade to engage our support team directly?  They will be able to investigate the root cause of your unexpectedly lower throughput than your configuration should support.  For now I will close this issue

[2021-11-10 18:31] #74757 closed

[2021-11-10 18:31] MonikaReddy-MSFT commented on #82860
@bandersmsft - Thank you for raising the PR and closing out the issue.

@AdrianM10 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-10 18:35] jonburchel commented on #75775
Thanks @tcsougan for reporting this issue.  I'm glad @HitenBhavsarMSFT was able to assist, and our program manager confirmed this has been added now to the doc too.  I will close this one out today, but we can continue the discussion here in this thread if necessary, even after the issue is closed.

#please-close

[2021-11-10 18:35] #75775 closed

[2021-11-10 18:38] MonikaReddy-MSFT commented on #83583
@jeubank12 -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-10 18:39] MGoedtel commented on #83013
@zojovano - I was reminded that we have this documented already in the [Resource instance limit](https://docs.microsoft.com/azure/azure-resource-manager/management/resources-without-resource-group-limit#microsofthybridcompute) article since our threshold is RG-based, not subscription. Our information doesn't apply to the Subscription limits article. So I'll just make sure we are referencing this f

[2021-11-10 18:39] #83013 closed

[2021-11-10 18:40] MonikaReddy-MSFT commented on #83688
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-10 18:50] jonburchel commented on #76581
Thank you @stenara for pointing this out to make the docs better.  I updated the doc now and also referred to the SAP Open Hub connector that can support this as an alternate solution.  The change should be published later today.  I will close this issue out now but we can continue the discussion here in this thread if necessary, even after the issue is closed.

#please-close

[2021-11-10 18:50] #76581 closed

[2021-11-10 18:56] Neckross opened #83695 "The option to SELECT the two digits is no longer available instead you need to TYPE (reference case #33184)"
Why did it change the option now to enforce TYPE instead of SELECT the two digits that are presented for the user to complete the Passwordless authentication. This new approach adds one more step to the user experience.

Current experience:
User opens Authenticator app, finds the two digits number, TYPE the two digits
User click on Accept
User uses PIN/Biometrics to complete authentication

Before

[2021-11-10 18:56] jonburchel commented on #77361
Hi #nunepalli, and thank you for reporting this issue to help improve the docs!  The team has published this blog post describing the new metric:

https://techcommunity.microsoft.com/t5/azure-data-factory/operationalize-and-provide-sla-for-data-pipelines/ba-p/2767768

It is also now documented formally here:

https://docs.microsoft.com/en-us/azure/data-factory/tutorial-operationalize-pipelines

I

[2021-11-10 18:56] #77361 closed

[2021-11-10 18:57] NIHandrew commented on #61164
This is a very unfortunate bind as you can imagine crossing regions (to East US) would bring latency and more of an issue egress costs.

[2021-11-10 18:58] AbbyMSFT commented on #75606
#please-close

[2021-11-10 18:58] #75606 closed

[2021-11-10 19:01] jonburchel commented on #77368
Hi @aravishdatabricks, and thank you for reporting this issue.  I hope the reference @JasonWHowell provided got you moving in the right direction to resolve that error with Databricks too!  As we have not heard back from you after our last replies for several months, I will go ahead and close this one out for now, however, we can continue this discussion here in this thread anytime in the future i

[2021-11-10 19:01] #77368 closed

[2021-11-10 19:07] DerekHerman-MSFT commented on #83682
@jochenvw Thanks for the feedback! I believe this is what the first sentence is referring to, though it doesn't state what exact network permissions are required.
_To apply a virtual network rule to a storage account, the user must have the appropriate permissions for the subnets being added._
I have assigned the issue to the content author to investigate further and update the document as appropr

[2021-11-10 19:16] Svijay-msft commented on #83419
I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-11-10 19:28] danwkennedy commented on #66632
I too have hit this. Likely the docs need to be updated to make it clearer that when you specify `msiClientId`, you need to also specify `msiEndpoint`

[2021-11-10 19:29] LitKnd commented on #77795
Hi @rarandiv ,

Kendra here from the SQL Docs team. I've reviewed your issue and see that changes were committed by @jdmartinez36 and merged in which resolve your issue.

Thanks for reporting this issue and for contributing to the SQL docs!

Kendra
Senior Content Developer, SQL Docs Team

#assign:emlisa
#assign:litknd
#please-close

[2021-11-10 19:29] #77795 closed

[2021-11-10 19:29] PRMerger13 commented on #77795
The following users don't have valid GitHub IDs, or are not collaborators on this repo: emlisalitknd#please-close

[2021-11-10 19:30] LitKnd commented on #78501
Hi @binoyjt ,

Kendra here from the SQL Docs team. I've reviewed your issue and see that changes were committed by @jdmartinez36 and merged in which resolve the problem you reported.

Thanks for reporting this issue and for contributing to the SQL docs!

Kendra
Senior Content Developer, SQL Docs Team

#assign:emlisa
#assign:litknd
#please-close

[2021-11-10 19:30] #78501 closed

[2021-11-10 19:30] PRMerger17 commented on #78501
The following users don't have valid GitHub IDs, or are not collaborators on this repo: emlisalitknd#please-close

[2021-11-10 19:42] GeethaThatipatri-MSFT commented on #83668
@OgeonX  Thank you for your feedback, we are reviewing this issue and we will get back shortly.

[2021-11-10 19:43] mstehrani commented on #82803
Hi @BenoityipMSFT I think it makes sense to include the distinction. As long as the primary column is part of the WHERE filter, the histogram created by the MC stats will be used in CE (same as what your 2nd to last paragraph is saying). In addition, we state in the [article](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-statistics#create-multi-column-statistics) that

[2021-11-10 19:44] mtboren-lilly commented on #83558
Thanks, @tfitzmac -- as you described, using the `-storageName` parameter name from the template in the PowerShell command line _does_ work as expected in my subsequent tests. I've not been able to identify what was the source of the issue that I had the other day,

Thank you for evaluating this GH Issue, apologies for what appears to be a non-issue, and thanks for updating the doc with the minor

[2021-11-10 19:45] SadiqhAhmed-MSFT commented on #83690
@assaf-grth Thank you for your post. Checking with the feature owner, will get back to you soon.

[2021-11-10 19:47] LitKnd commented on #77795
assign:LitKnd

[2021-11-10 19:48] LitKnd commented on #78501
assign:LitKnd

[2021-11-10 19:49] LitKnd commented on #78501
#assign:emlisa

[2021-11-10 19:49] LitKnd commented on #77795
#assign:emlisa

[2021-11-10 19:51] #82803 closed

[2021-11-10 19:54] joataid opened #83700 "Cisco ASA incorrect information"
In this document, there is a table about VPN devices that have scripts.

**Issue 1**: Cisco ASA has 3 scripts available, but in the table there are only 2.

**Issue 2**: The line below in the table looks incorrect.

`Cisco | ASA | ASA RouteBased (IKEv2 - ** No BGP **) to ** ASA 9.8 + ** `

When we check at the Azure Portal or Azure PowerShell, the script for Cisco ASA 9.8+, as above, has BGP confi

[2021-11-10 19:58] PAOLT opened #83701 "winutils.exe"
[Enter feedback here]

I am trying to make databricks connect on my Windows (11) machine, and I get the winutils.exe error.
I understand I have to have it on my machine, but the suggested link to solve the problem is fraightening.
From other sources, I understand it is just enough to copy the compiled file locally and set an environment varible.
Would appreciate some more tight guidance.

thanks
p

[2021-11-10 20:00] jonburchel commented on #77901
Thanks for reporting this issue @lpmac.  Can you provide some more context on this failure?  The OData connector appears to be surfacing the underlying error returned from the OData source, so investigation at the source might be necessary too.  I do notice the error mentions Unauthorized, so this might indicate some problem with the authentication provided to the source.  I will go ahead and clos

[2021-11-10 20:00] #77901 closed

[2021-11-10 20:06] SadiqhAhmed-MSFT commented on #83361
@baardhermansen We are collecting the below metrics of VM disks.
"virtualDisk.read.average", "virtualDisk.write.average", "virtualDisk.numberReadAveraged.average", "virtualDisk.numberWriteAveraged.average"

As per the VMware docs mentioned below vCenter statistics level 1 also should work.
https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.monitoring.doc/GUID-25800DE4-68E5-41CC-82D9-

[2021-11-10 20:06] #83361 closed

[2021-11-10 20:30] xitxat opened #83702 "Update needed - Configure data export"
Configure data export is missing info on creating a new destination.
Destination name  = yourname-retail-store-analysis
Event Hub = store-telemetry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f693815-9f5a-8a0d-568c-894a58e2d03f
* Version Independent ID: a50bfc24-d5ed-c981-fae1-e3a56c94ad7c
* Content: [Tutorial - Ex

[2021-11-10 20:31] jonburchel commented on #79265
Thank you for reporting this @stenara to help us improve the docs.  I see this has been explicitly called out in the doc now, so will close this issue out.  If we need to continue the discussion we can still do so in this thread, even after the issue is closed, though.

#please-close

[2021-11-10 20:31] #79265 closed

[2021-11-10 20:35] kraiz opened #83703 "How to filter backups of web apps with WEBSITE_RUN_FROM_PACKAGE"
I followed the below referenced documentation and created the `_backup.filter` within `\site\wwwroot` - works like a charm.

When I setup the environment variable `WEBSITE_RUN_FROM_PACKAGE` to point to a downloadable ZIP file which contains the  `_backup.filter` in its root I see the file inside Kudu but it seems  to be ignored by the backup.

How can I filter the backup while still using the fabu

[2021-11-10 20:37] jonburchel commented on #79527
Thanks for reporting this @VitalyMCT to help improve the docs!  This doc has been updated now so I will close this issue out, but if necessary we can continue the discussion here on this thread, even after the issue has been closed.

#please-close

[2021-11-10 20:37] #79527 closed

[2021-11-10 20:43] jonburchel commented on #79562
Thank you for reporting this to help improve the docs, @cboneill0099!  I confirmed this has been explicitly called out in the doc now, so I will close this issue out, but if necessary we can continue the discussion here in this thread, even after the issue is closed.

#please-close

[2021-11-10 20:43] #79562 closed

[2021-11-10 21:00] jonburchel commented on #79622
Thanks for pointing this out and helping improve the docs, @ofrojas.  I updated the erroneous doc now.  I think the reason it was checked for Sink there was because it _is_ possible to use SAP HANA for a sink - but only through the ODBC Connector with SAP HANA driver installed.  So rather than completely remove the checkmark on the incorrect page, I replaced it with text advising that sink is poss

[2021-11-10 21:00] #79622 closed

[2021-11-10 21:03] jonburchel commented on #80994
Thank you for reporting this @HemantiDeoli, and helping improve the docs!  I fixed this and it was published previously but I had missed updating this issue.  Since it is fixed now I will close the issue out, but if we need to continue the discussion we can still do so here in this thread, even after the issue is closed.

#please-close

[2021-11-10 21:03] #80994 closed

[2021-11-10 21:04] ririarte1 opened #83705 "Code on Step 7 is missing a character"
Current Powershell string:

Set-AzureADDirectorySetting -Id grpUnifiedSetting.Id -DirectorySetting $setting

Correction (missing the $ on the $grpUnifiedSetting.Id variable:

Set-AzureADDirectorySetting -Id $grpUnifiedSetting.Id -DirectorySetting $setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-431

[2021-11-10 21:21] kabharati commented on #77261
#please-close

[2021-11-10 21:21] #77261 closed

[2021-11-10 21:21] GeethaThatipatri-MSFT commented on #83668
@rohitnayakmsft Could you please bring some clarification on the above feedback, thank you.

[2021-11-10 21:31] jonburchel commented on #81668
Thank you for reporting this @macederh.  Updates were recently made to the screenshots in the article, so I will close the issue out now.  If we need to continue the discussion we can do so here in this thread, even after the issue is closed, though.

#please-close

[2021-11-10 21:31] #81668 closed

[2021-11-10 21:35] DerekHerman-MSFT commented on #83495
@szabgab I don't see documentation specifically for deleting a file share. You can select the share and hit the delete button in the portal, or use [CLI](https://docs.microsoft.com/en-us/cli/azure/storage/share?view=azure-cli-latest#az_storage_share_delete), or [Powershell.](https://docs.microsoft.com/en-us/powershell/module/az.storage/remove-azstorageshare?view=azps-6.6.0)

Sending to the author

[2021-11-10 21:42] Carlsul opened #83709 "KB5005701 link broken"
The link for KB5005701 is broken and leads to a 404 not found page. Here is the URL: https://support.microsoft.com/en-US/help/5005701

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8cc2c5-eb5f-edaf-f155-98e5ff1b252c
* Version Independent ID: 8e1a1933-e037-d682-5ba0-50d0f85f12e8
* Content: [List of updates applied to

[2021-11-10 21:47] yahorsi opened #83710 "Please add Dv5/Ev5 new VM's"
Please add recently went GA Dv5/Ev5/Dasv5/Easv5  VM's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Content: [Compute benchmark scores for Azure Windows VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/a

[2021-11-10 21:50] albecker1 commented on #81960
Hey @MattDolan, in the document we state

"When a read is performed and the desired data is available on the cache, the cache returns the requested data. There is no need to read from the disk. This read is counted toward the VM's cached limits."

So the way to get great from your VM using the Cache and uncached limits is by using some disks with caching enabled and some disks with no caching enab

[2021-11-10 21:51] jonburchel commented on #83129
Hi @RobBowman, and thank you for reporting this to help improve the docs.  I updated the screenshot now and the change should be published in the next day.  Since this is fixed now I will close this issue out, but we can still continue the discussion here in this thread if necessary, even after the issue is closed.

#please-close

[2021-11-10 21:51] #83129 closed

[2021-11-10 21:51] timsander1 commented on #81859
There are no restrictions about GeoJSON when it comes to parameters. If you're hitting an issue with spatial, this is a bug in the product not the documentation.

Can you file a support ticket and we will try to repro? If you don't have a support plan, you could also open an SDK issue in the Cosmos DB SDK that you were using. Here's the .NET SDK repo - https://github.com/Azure/azure-cosmos-dotnet-

[2021-11-10 21:51] timsander1 commented on #81859
#please-close

[2021-11-10 21:51] #81859 closed

[2021-11-10 21:52] timsander1 commented on #81973
Hi @bdcoder2, we'll work on documenting these. I'll leave this issue open until we've published these docs.

[2021-11-10 21:54] kobulloc-MSFT commented on #83709
@Carlsul Thank you for bringing this to our attention!  We will review this and update you shortly.

[2021-11-10 21:56] sunilagarwal commented on #81914
#please-close

[2021-11-10 21:57] #81914 closed

[2021-11-10 22:07] ecfan commented on #82128
Adding @Bec-Lyons to comment on this feedback.

[2021-11-10 22:13] gdang opened #83711 "Can't find app to assign new token lifetime policy"
I have a mobile app and my users sign in (SSO) using their Microsoft account. Now, I need to increase the access token lifetime to more than a hour.

[code]

So far so good! Now, at the step calling `Get-AzureADServicePrincipal`, I don't see anything listed that is related to my mobile app. The latter is registered in my Azure AD (in the **App registration** page).

I'm really not familiar with Po

[2021-11-10 22:19] cynthn commented on #83710
@yahorsi Thanks for the feedback! Benchmarking take a while, but when we do have information for the new VM sizes, it will be added. I recommend bookmarking the page and checking back later to see if it has been added.

FYI @DavidBerg-MSFT @mimckitt

#please-close

[2021-11-10 22:19] #83710 closed

[2021-11-10 22:31] kobulloc-MSFT commented on #83710
@yahorsi Thank you for your feedback!  The documentation will be updated after benchmarking is complete.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.