[2019-04-08 17:22] MarileeTurscak-MSFT commented on #28756
@githubavi I do not believe that such a list currently exists. I am assigning this to @CelesteDG to look into and see if a list like this exists and could be added to the document.

[2019-04-08 17:22] himanshusinha-msft commented on #28987
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-08 17:23] linda33wj commented on #19387
Sorry for the delayed response and thanks for the feedback! The doc has been corrected.
#please-close

[2019-04-08 17:24] MarileeTurscak-MSFT commented on #28729
@mvinicius563 please check the related issue and ensure that you have the right version. If you still have issues feel free to reach out to me on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD)or at AzCommunity@microsoft.com

[2019-04-08 17:24] #28729 closed

[2019-04-08 17:24] #19387 closed

[2019-04-08 17:27] MicahMcKittrick-MSFT commented on #29004
@sandeepraichura we actually do have this documented.

Under this section: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#prerequisites

We provide a link to the supported Windows OS's

https://support.microsoft.com/en-us/help/4078134/azure-extension-supported-operating-systems

[2019-04-08 17:28] linda33wj commented on #9231
Sorry for the delayed response and thanks for the feedback!
Regarding the original feedback, more clarification has been added to the doc w.r.t. the stored proc config in copy sink.
Regarding copy between SQLs within private network, both linked services need to be associated with the same Self-hosted IR - single IR provision, just in "Connect via" point to the same IR, and make sure the IR can co

[2019-04-08 17:29] HeidiSteen commented on #28892
@awws @AjayKumar-MSFT Thanks for Ajay for asking about the Azure Advisor angle.  It hadn't occurred to me.

I did update the docs in the following ways.  Anthony, if you can let me know whether this is sufficient, that would be great, or you can just close the issue if you are happy with the outcome.

1. https://docs.microsoft.com/en-us/azure/search/search-security-overview#service-access-and-auth

[2019-04-08 17:33] linda33wj commented on #20082
Sorry for the delayed response and thanks for the feedback! I have added a tip in the linked service section as suggested.
#please-close

[2019-04-08 17:33] Placid7 opened #29006 "Remove Address Space"
Can you add details for removing address spaces from vnet?  https://docs.microsoft.com/en-us/powershell/module/az.network/set-azvirtualnetwork details removing subnets but not the address spaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9cc98dc-ed9e-1759-c5f7-e18722420b69
* Version Independent ID: 217f2e7b-80d3-

[2019-04-08 17:34] vidyanambiar11 commented on #28981
@ketanchawda-MSFT
I have referred the below link
https://docs.microsoft.com/en-us/azure/dms/tutorial-postgresql-azure-postgresql-online

[2019-04-08 17:35] Mike-Ubezzi-MSFT commented on #28511
@poadhika
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-08 17:35] #28511 closed

[2019-04-08 17:35] himanshusinha-msft commented on #28807
As called out by @CHEEKATLAPRADEEP-MSFT this looks to be an implementation question and we think the forums can be more helpful here . At this time we are going ahead and closing this issue , if you feel appropriate you can always reopen the issue .

[2019-04-08 17:35] #28807 closed

[2019-04-08 17:36] daveknaus commented on #28496
Thanks @Mike-Ubezzi-MSFT -- are there any reference materials on the schema file?  I will just build it by hand if I need to.  I haven't tried to deactivate antivirus software since that wouldn't be a reasonable solution anyways.  Otherwise I'll proceed with support.

[2019-04-08 17:40] johnwildes opened #29011 "VM fails to deploy, says Windows is Undeployable"
Hello,
I've got a WORKING image in the southcentralus region.  I setup a SIG, an ImageDef, and Version based on this working image.  I go to deploy a VM using the image definition in the gallery, and my VMs are coming up with this error.
&gt;
OS provisioning for VM 'VM-SFTP01' failed. Error details: This installation of Windows is undeployable. Make sure the image has been properly prepared (gener

[2019-04-08 17:40] #20082 closed

[2019-04-08 17:50] mattchenderson commented on #28400
Hi - can you explain what having a local endpoint would give you over using the management APIs? How would you make use of it?

Most uses I've seen define the desired ID as an environment variable and have the code reference that when setting up AzureServiceTokenProvider. To get that app setting, they rely on the management APIs / portal UI.

[2019-04-08 17:54] mattchenderson commented on #28220
Hi - I'm not sure I understand the request. Are you looking for a way for the function to call into your AAD-protected App Service? If that is the case, I would recommend using a service principal of some kind that allows the function app to present itself as a user. The simplest way to do this would be to use a [managed identity](https://docs.microsoft.com/en-us/azure/app-service/overview-managed

[2019-04-08 17:57] MicahMcKittrick-MSFT commented on #29011
@johnwildes have you tested any other regions? You mention it works in south central. Could you try some other regions to help determine if there is an issue only deploying to west Europe?

[2019-04-08 17:58] Alberto-Vega-MSFT commented on #28525
@rossdo88 Were you able to resolve this issue?

[2019-04-08 18:02] sirdank commented on #27893
@SnehaAgrawal-MSFT Is there a resolution for this? Thank you for that doc but I'm running requests against http://169.254.169.254 (like the link says) and it's not returning anything.

[2019-04-08 18:03] rifuller opened #29013 "C# Reading records as a different type"
Could you provide an example for reading records as something other than Document?  I'd like to deserialize the records into my own data model without using GetPropertyValue everywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Version Independent ID: 31b87687-7841-f46f-8c97-

[2019-04-08 18:04] SaurabhSharma-MSFT commented on #28665
@danmyhre We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-08 18:04] #28665 closed

[2019-04-08 18:04] SaurabhSharma-MSFT commented on #28669
@MGamil-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-08 18:04] #28669 closed

[2019-04-08 18:04] linda33wj commented on #28554
@jn-altius Here are the answers to your questions:
- writeBatchSize indicates the **number of rows to inserts into the SQL table per batch**, current default is 10,000 - doc has been updated to clarify these.
- Parallel copies work along with it - for example, you set parallel copies as 4, then 4 threads will be writing to SQL sink in parallel each with row batch 10,000.
- We are trying to improve

[2019-04-08 18:07] SaurabhSharma-MSFT commented on #28672
@SteveParson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-08 18:07] #28672 closed

[2019-04-08 18:09] MarileeTurscak-MSFT commented on #28961
@cogit2
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-08 18:10] kobulloc-MSFT commented on #29001
@trevor-schmidt Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-04-08 18:13] Grace-MacJones-MSFT commented on #28750
We need to do deeper analysis for this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID, tand link to this thread. I can enable your subscription to be able to create one.

[2019-04-08 18:16] Anmolgan81 commented on #28975
Any feedback?

Regards
Anmol Ganju

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, April 8, 2019 9:21:29 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How can I migrate AWS Elastic Search to Azure ElasticSearch? (#28975)

Thanks for the feedback! We are currently investigating and will update

[2019-04-08 18:17] Karishma-Tiwari-MSFT commented on #28210
@diab-mossa This issue is resolved. The file should download now without defender issues.

[2019-04-08 18:18] KasamShaikh commented on #28750
Has already created one and closed it. It's working fine now for me...thank you for your time.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Grace-MacJones-MSFT <notifications@github.com>
Sent: Monday, April 8, 2019 11:43:59 PM
To: MicrosoftDocs/azure-docs
Cc: Kasam Shaikh; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment Center - GitHub Authoriz

[2019-04-08 18:19] RyanHill-MSFT commented on #28996
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-08 18:23] #28750 closed

[2019-04-08 18:23] Grace-MacJones-MSFT commented on #28750
Glad to hear your issue was resolve.

[2019-04-08 18:30] msrini-MSFT commented on #29006
@Placid7 , You will not be able to remove Address space if you have only one defined as VNET needs atleast one address space.

If you want to change the address space, then delete all subnet configs and create new address space with New-AzVirtualNetworkSubnetConfig command.

As of now there are no PS command to remove an Address space from a VNET. You can use portal to remove it manually post crea

[2019-04-08 18:30] #29006 closed

[2019-04-08 18:30] fhryo-msft commented on #13195
#please-close

[2019-04-08 18:31] YutongTie-MSFT commented on #28891
@Godase Hi Akshay, thank you for your feedback. Different pre-processed way to the training data may cause this problem. Could you please check if you are using same way to deal with the training data, like if you use random seed on both local and web service?

Please share the link of document you are following so that we can double check. Thank you a lot.

[2019-04-08 18:33] stephenbell79 opened #29014 "Unable to import module"
The PS cmd Import-Module AzureADPasswordProtection doesn't work and returns: "The specified module 'AzureADPasswordProtection' was not loaded because no valid module file was found in any module directory." I've tried this on Server 2012R2, 2016, and 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7e

[2019-04-08 18:37] malopMSFT commented on #28939
Thanks for the feedback, just remove the references on the following PR
https://github.com/MicrosoftDocs/azure-docs/pull/29015

[2019-04-08 18:39] docgregt commented on #17190
We are not using .net framework. We are using .net core 2.1 at the moment. .net core 3 is not released, but I could use it if it solves the problem.
Greg (for Julian)

[2019-04-08 18:44] #28984 closed

[2019-04-08 18:45] BijsT opened #29016 "Wrong permissions"
The service principal 262044b1-e2ce-469f-a196-69ab7ada62d3  requires PermissionsToSecrets get,list,backup instead of get,list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID: 7f787259-8ce5-9ba6-8df7-58ab0b89dd5c
* Content: [Back up and recover Azure VMs using

[2019-04-08 18:45] Crumpeteria opened #29017 "All Entity Search Samples are Failing 20190407"
April 7, 2019
"Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription."

All Entity Search samples are failing as of this date, including this REST sample.  No valid key is passing and console SDK samples are failing with:

Microsoft.Azure.CognitiveServices.Search.EntitySearch.Models.ErrorResponseException
  HResult=0x80131500
  Message=Operation

[2019-04-08 18:45] himanshusinha-msft commented on #28990
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-08 18:50] Crumpeteria opened #29018 "Entity Search Samples are Failing 20190407"
April 7, 2019
"Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription."

All Entity Search samples are failing as of this date, including this REST sample.  No valid key is passing and console SDK samples are failing with:

Microsoft.Azure.CognitiveServices.Search.EntitySearch.Models.ErrorResponseException
  HResult=0x80131500
  Message=Operation

[2019-04-08 18:50] linda33wj commented on #21114
@saulcruz Sorry for the delayed response. ADF don't natively support deleting rows from Azure Table. What's your overall scenario?

[2019-04-08 18:55] Bit-Shifts commented on #28378
@shashishailaj Yes there is no documentation on any B2C error codes that I'm aware of or can find. This is a must have for a professional service like B2C Active Directory

[2019-04-08 18:57] linda33wj commented on #6415
Sorry that seems this was not addressed in time back then. There shouldn't be any issue with Schedule Trigger authoring now. If you do hit any, feel free to open new issue.
#please-close

[2019-04-08 18:57] johnwildes commented on #29011
@MicahMcKittrick-MSFT , looks like it's only to the westeurope region.  I've confirmed that I can deploy from the image gallery to southcentralus and northcentralus.

Replication says completed on the image definition in the gallery.

[2019-04-08 18:58] SaurabhSharma-MSFT commented on #28994
@stewartadam Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-08 19:00] SaurabhSharma-MSFT commented on #28989
@ivratche Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-08 19:00] himanshusinha-msft commented on #28993
@dcarati We understand that you are getting the *"This page can’t be displayed* at this time . Can you please let us know the document details  which you are following ?

[2019-04-08 19:02] SaurabhSharma-MSFT commented on #28979
@lightupdifire Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-08 19:02] YutongTie-MSFT commented on #28149
@robaker @mattfortech
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-08 19:02] #28149 closed

[2019-04-08 19:04] JSeb225 commented on #29005
Hi @abhinayabhi. Thanks for reporting this.  I just submitted a PR to remove this outdated link.

[2019-04-08 19:07] YutongTie-MSFT commented on #28754
@tomwwagstaff-product Hi Tom, you can update your existing dataset. Please refer to: https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/python-data-access#update-an-existing-dataset

[2019-04-08 19:13] Mike-Ubezzi-MSFT commented on #28840
Adding link to [MSDN Forum thread](https://social.msdn.microsoft.com/Forums/en-US/a75e63bb-ea4c-4c94-9aa1-3b7038d63022/create-collection-from-powershell-without-throughput-shared-database-throughput?forum=azurecosmosdb) created by the customer.

We will now proceed to close this thread. If there are further questions regarding this matter, please source the MSDN thread for specifics but, we will g

[2019-04-08 19:13] #28840 closed

[2019-04-08 19:14] SaurabhSharma-MSFT commented on #28994
@stewartadam I am seeing two different pages using https://aka.ms/SSPR and https://aka.ms/MFASetup.  Please find the screenshot below -  left one is SSR and right one is MFASetup
![image](https://user-images.githubusercontent.com/38112130/55750243-b762a400-59f7-11e9-8288-34f9bca18952.png)

[2019-04-08 19:18] Placid7 commented on #29006
Yes I understand tall that. The problem is I inherited dozens of environments from someone who created them all with the same IP ranges. I am in the midst of setting up my peering to the RD gateway and having to go to each environment in the portal just to delete the conflicting address is frustrating.

[2019-04-08 19:21] Mike-Ubezzi-MSFT commented on #28990
@ajlam There appears to be a note added to this document (or included in the steps) that SSL is required, assuming based upon the notes.

[2019-04-08 19:22] YutongTie-MSFT commented on #28752
@dickstar Hi Dick, sorry to make you confused. If you refer to the source code of this sample, you will be clear. I will fix the GitHub link of this document. https://github.com/Azure-Samples/cognitive-services-REST-api-samples/blob/master/php/Search/BingWebSearchv7.php

[2019-04-08 19:23] himanshusinha-msft commented on #29000
@Deepudev13 : Thanks for reaching out to us , but at this time it does not look like you are referring to a document but  to a  specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .

If you have a document which  are following and if you think  it  needs to a

[2019-04-08 19:24] ckarras opened #29019 "How to use custom branding from Azure AD B2C?"
I have an Azure AD B2C app that offers Azure AD as an identity provider (through OpenIdConnect). How can I make it use this custom branding when the user selects the "OpenIdConnect Azure AD" option?  I can apply the custom branding if I modify one of the sample URLs shown in this document, for example https://account.activedirectory.windowsazure.com/proofup.aspx?whr=mydomain.onmicrosoft.com, but h

[2019-04-08 19:24] bmilbauer opened #29020 "Does Log Analytics gateway help with overall outbound bandwidth consumption?"
Does Log Analytics gateway combine/compress the data collected from clients before it is sent to the cloud? Trying to figure out if implementing gateways will save some bandwidth in a large environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71e2c183-5b23-45ab-9d16-3931ff911e29
* Version Independent ID: bb62a14

[2019-04-08 19:25] DMoonesinghe commented on #28875
Sorry Rayne!

I guess I didn't do a good job of explaining myself.  So here it is. This document has a title of:  "Run a disaster recovery drill to Azure".

You are right this document is 4 part tutorial.  I understood that and read all of that.  And you say that in the top of the document itself.  Like this.

1. In the first tutorial, we set up the Azure components needed for VMware disaster reco

[2019-04-08 19:29] shizn commented on #28831
@StefanSchoof  Thanks for the feedback. We are thinking to improve this in IoT Edge runtime side. I created a issue in iotedge repo to track this https://github.com/Azure/iotedge/issues/1055.

[2019-04-08 19:29] dbreshears commented on #28649
@JakubHolovsky ,  this is likely the result of the Notification Hub being created in a subscription where you have have only been granted RBAC permissions.  The Notificaiton Hubs and Server Explorer feature in VS uses the classic RDFE API's and thus can't render and update ARM resources, which Cloud Explorer can but just doesn't have the same device registrations feature.    I suspect if you were

[2019-04-08 19:33] sheist commented on #28597
Thanks for replying. Password Writeback was already Enabled on the current configuration screen. Just to force it again, I disabled it, saved config, waited for full sync, and then re-enabled, saved, full sync. Then I went back to the Azure AD portal and checked On-premises integration, still same message and grayed out options.

[2019-04-08 19:39] linda33wj commented on #19668
Sorry for the delayed response. This is supported - in the input dataset point to this ZIP file as source with ZipDeflate as compresson type; during copy if you want to parse the text files inside then choose Text as format, if you just want to land text files as-is you can choose binary copy. Copy activity will unzip the zip file and extract all the files inside.

#please-close

[2019-04-08 19:44] MicahMcKittrick-MSFT commented on #29011
@axayjo @cynthn are either of you aware of any issue with the West Europe region and Shared Images?

[2019-04-08 19:52] jgudmundson-RETSD commented on #19073
I'm also looking for information on systemLabels.

[2019-04-08 19:57] dcarati commented on #28993
Hi, thanks for the reply.
I'm using this document https://docs.microsoft.com/en-us/azure/azure-monitor/platform/om-agents#connecting-operations-manager-to-azure-monitor

[2019-04-08 19:59] YutongTie-MSFT commented on #28988
@sdgilley Hi Sheri, the portal changes a lot now. Please refer to following sreenshot:
![image](https://user-images.githubusercontent.com/38084098/55752904-f1cf3f80-59fd-11e9-9408-2b11b2e893a8.png)

The whole "authoring" part disappeared from the left panel. Is there any change about the product? Could you please help to update the document. Thanks a lot.

[2019-04-08 20:01] solomson commented on #28593
@jakaruna-MSFT

Found some tests I did about a month ago. This is just one example, the results are pretty consistent. I do recall some sightings where CPU usage has been 0.1-0.2 cores above max allocation to a single container instance, but this was rare. Is there a chance that this issue is related to the image the containers are based on? (OpenJDK). I have not done load testing towards containe

[2019-04-08 20:09] CarlRabeler commented on #28569
All databases with remote storage (i.e. GP or Standard) automatically encrypt the data (this is done by the Azure Storage system).
Databases using local SSD storage (BC or Premium) are only encrypted if TDE is configured.

@VanMSFT to review updates needed, if any, to docs

[2019-04-08 20:09] YutongTie-MSFT commented on #28881
@liangcht Hi, sorry, for now you can only use account_key to access your storage account.

@mx-iao FYI. Hi, does using SAS to get access on the plan? Thank you.

[2019-04-08 20:13] johnwildes opened #29023 "GPT Disks supported for Linux?"
Hello, this FAQ hasn't been updated since 2017.  Does the GPT limitation still apply to Linux machines.  I'm seeing that GPT disks are supported (as of 28AUG18) for linux machines that are being ASR to Azure.

https://docs.microsoft.com/bs-latn-ba/azure/site-recovery/site-recovery-whats-new?view=sqlallproducts-allversions

Granted this is support for ASR functionality, I guess it could mean they s

[2019-04-08 20:14] femsulu commented on #28976
Very Good question, @blueelvis. We are investigating and will provide a response soon.

[2019-04-08 20:14] himanshusinha-msft commented on #29002
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-08 20:16] femsulu commented on #28976
@msvijayn , @johnkemnetz  - any input on the above question?

[2019-04-08 20:17] YutongTie-MSFT commented on #17190
@dhheeraj @docgregt Hi guys, thank you for the feedback. Since the original post was created long time ago. I would like to suggest you create a new ticket with more details of your issue. That will help us to address it and help you better. Thanks.

[2019-04-08 20:22] YutongTie-MSFT commented on #27619
@gerisg We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-08 20:22] #27619 closed

[2019-04-08 20:25] himanshusinha-msft commented on #28887
@smokedlinq .Thank you for taking this issue to our insight, we'd like to work with you further on this issue.
Can you please email us at azcommunity@microsoft.com?
Please provide us with your subscription ID and the URL for this thread.

[2019-04-08 20:27] MarileeTurscak-MSFT commented on #28755
Hi @githubavi ,

It is not possible to assign a token policy for a specific user. It is only by service principal. The authentication process would get pretty complex if we did these per user ID.

[2019-04-08 20:28] MarileeTurscak-MSFT commented on #28755
Hope this helps!

We will now proceed to close this thread but if you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-04-08 20:28] #28755 closed

[2019-04-08 20:32] MartinJaffer-MSFT commented on #28761
@JasonWHowell Thank you for the fix and the education on how the docs work.

[2019-04-08 20:40] himanshusinha-msft commented on #28973
@Anmolgan81 : At this time we have support for Azure Search index as sink in Azure . Please refer [this doc](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-search) .

[2019-04-08 20:40] MarileeTurscak-MSFT commented on #28786
@Neenisharma you shouldn't need to set it to $true.

After you create the policy, make sure you tie the policy to your app ID/client ID in order for it to take.

`Add-AzureADApplicationPolicy -Id <ObjectId of the Application> -RefObjectId <ObjectId of the Policy>`

[2019-04-08 20:41] MarileeTurscak-MSFT commented on #28786
Let me know if this helps! We will now proceed to close this thread. If you have further questions feel free to reopen the issue or tag me in the comments and we will gladly continue the discussion.

[2019-04-08 20:41] #28786 closed

[2019-04-08 20:41] jwargo commented on #8899
@yll090 then go ahead and upgrade your app to use the FCM SDK.

[2019-04-08 20:42] mattferderer opened #29024 "Update Quickstart & Tutorial pages"
The quickstart & tutorial pages using the C# SDK could use an update. They are using an older version. The current version, 4.0 doesn't include the face sdk & it seems neither did version 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-

[2019-04-08 20:46] rayne-wiselman commented on #28875
The tutorial Run a disaster recovery drill, is relevant for 4 scenarios, and is the next step from all of these articles:
[VMware to Azure](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial)
[Hyper-V without VMM](https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial) to Azure
[Hyper-V with VMM](https://docs.microsoft.com/en-us/azure/site-recovery/hype

[2019-04-08 20:47] MGoedtel commented on #29020
@bmilbauer - The gateway does not compress or alter the data forwarded thru it from agents. It simply provides a single path from the agents to the service.  I hope that answers your question.  #please-close

[2019-04-08 20:49] kobulloc-MSFT commented on #28986
@bdschaap In regards to availability tests, they do not trigger the Application Insights SDK to register a user hitting their site (as this is a test http request).

[2019-04-08 20:49] bmilbauer commented on #29020
It does! Thank you very much.

Get Outlook for Android<https://aka.ms/ghei36>

[cid:sig_logo_f5171a6d-0aac-4537-8cf7-f3b2a514406a.png] <https://ivision.com/>
Bradley Milbauer
Sr. Consultant | Consulting Services | Infrastructure Services
M: +1 (770) 862-5578<tel:+1%20(770)%20862-5578> | O: +1 (678) 244-3227<tel:+1%20(678)%20244-3227>
[cid:sig_facebook_4c7b99a3-311c-468d-9c74-683eb2595d6a.png] <htt

[2019-04-08 20:50] MartinJaffer-MSFT commented on #28973
@Anmolgan81 could you please clarify whether you are intending to use
[ElasticSearch on top of Azure](https://www.elastic.co/guide/en/elastic-stack-deploy/current/azure-marketplace.html) or [Azure Search](https://docs.microsoft.com/en-us/azure/search/) or some other solution?

[2019-04-08 20:50] eross-msft commented on #28929
@javiersoriano  Thank you for your feedback. This specific article is intended to only be the most basic scenario for subscriptions. However, it should point out to articles that mention potential issues for more details. I will add the AKS article as a link (today) and I've also started to ask around the Azure content team to see if anyone knows of other situations that we should point out to (fu

[2019-04-08 20:55] yantang-msft opened #29025 "Also collect Guest Agent log on VMs for trouble shooting"
In this section "Log/artifact paths", also collect Guest Agent log located at here: "C:\WindowsAzure\Logs\WaAppAgent.log"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3a5910a-2b07-f14a-e5b4-afdef8ec1366
* Version Independent ID: 5d9f6b8c-d991-dac6-8d15-010f06a678b4
* Content: [Troubleshooting Azure Diagnostics exten

[2019-04-08 21:03] luisgmsft opened #29026 "CNAME not recognized when adding a Custom Host Name to Azure Front Door"
Is there a minimum time to wait for DNS propagation to occur? I've created a CNAME (properly pointing -double checked-).

After waiting for more than 20 minutes to an hour among several tests, I'm still getting a "The requested resource was not found" message, after typing the custom sub-domain (double-checked as well) into the text box.

Full disclosure: I'm using a Domain Name configured at Azur

[2019-04-08 21:08] MikeChristensen opened #29027 "Install the certificate in your cluster should include existing clusters"
Under the "Install the certificate in your cluster" section, it would be nice to have instructions for installing a certificate on an existing cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65744c73-e7a2-6d5b-004c-22f980730bd0
* Version Independent ID: d3366f95-1038-0e0c-4f98-9ce25b96c928
* Content: [Set up an

[2019-04-08 21:08] HJToland3 commented on #28981
@vidyanambiar11 - I am researching an answer for you now. I will be back with more information as soon as possible!

[2019-04-08 21:21] andrewatfornax commented on #28955
Thank you @benrayment. I note, however, that the details above are wildly different from those documented at https://docs.microsoft.com/en-us/azure/templates/microsoft.recoveryservices/2016-06-01/vaults/backuppolicies - that is, it's not just a single new element that's been added, it's rather more than this.

I also find it hard to believe these options have been around since 2016?

[2019-04-08 21:30] MicahMcKittrick-MSFT commented on #29023
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-08 21:32] luisgmsft commented on #29026
From Doc: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain#associate-the-custom-domain-with-your-front-door (sorry. couldn't add the issue directly from there).

[2019-04-08 21:46] philrowan-mtb opened #29028 "Out of Date?"
This page appears out of date w.r.t. the packages it is referencing. Those packages appear to work with the storage APIs (table, blob, queue) but not with service bus. The namespaces are wrong (latest version uses MicrosoftAzure over WindowAzure). So I'm a bit confused here. We're looking to go a bit more cloud native and use ServiceBus where we were previously using RabbitMQ. I'm still struggling

[2019-04-08 21:47] qianw211 commented on #28548
@ellacroi Hi Lizzie, any news on the link?  Who in Engineering should we be checking with?  Thanks!

[2019-04-08 21:49] Karishma-Tiwari-MSFT commented on #28596
@abhijeetgaiha @snehithm Can either of you share your insights on this customer question. Thanks. :)

[2019-04-08 21:51] justpowershell commented on #28882
I also have this error.

[2019-04-08 21:52] Karishma-Tiwari-MSFT commented on #28682
@SychevIgor Since this issue is a duplicate of[ this issue](https://github.com/MicrosoftDocs/azure-docs/issues/28683), I am closing this here.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-08 21:52] #28682 closed

[2019-04-08 21:54] Anand-Moghe commented on #28873
There are egress charges for using services across the region. So closing this ticket.

[2019-04-08 21:54] #28873 closed

[2019-04-08 21:57] Karishma-Tiwari-MSFT commented on #28745
@MikeRayMSFT Did you get a chance to take a look at this one? Thanks.

[2019-04-08 21:58] sdk-bonsai commented on #28520
Hello @jakaruna-MSFT , I wasn't able to find a  way to download files from batch compute nodes to local machine or using azcopy or using outputfile. Not sure how to do it other than manually.  This has put lot of burden on me, as I am stuck with downloading hundreds of files manually. There is no single example anywhere on Azure documentation.  I just want a simple way to download azure batch comp

[2019-04-08 22:01] sdk-bonsai commented on #28520
I am looking for downloading script that would allow doing the download in picture below/attached so that I can download 100 files generated in separate 100 tasks.
![image](https://user-images.githubusercontent.com/31707752/55759815-344d4800-5a0f-11e9-8afa-f982456fafde.png)

[2019-04-08 22:05] sergaz-msft commented on #28831
Thanks @shizn . @StefanSchoof please follow-up on the related issue at iotedge repo. The documentation will be updated when the new feature is implemented.
Thank you!

[2019-04-08 22:05] #28831 closed

[2019-04-08 22:06] #28752 closed

[2019-04-08 22:08] MiyKh commented on #26478
Hi,
I also try to create an AKS cluster with autoscale option enable via ARM template but get this error:
---
"code": "InvalidParameter",
  "message": "The value of parameter orchestratorProfile.OrchestratorVersion is                                                                                       invalid.",
  "target": "orchestratorProfile.OrchestratorVersion"
---
Is it possible to have the

[2019-04-08 22:09] ellacroi commented on #28548
@qianw211  thank you for the ping :) unfortunately engineering couldn't confirm for me how to update, so I think we should remove it. I'm not sure that this channel is currently being maintained.

[2019-04-08 22:10] Mike-Ubezzi-MSFT commented on #28496
So, I took the ToDo Quick Start collection (from the Quick Start tutorial in the Azure Portal) and ran the Schema Editor against that collection and this is the resulting file for Collection Mapping:

"SchemaMapVersion":"3.0.0",
"DataSourceSchemaMapVersion":"",
"DataSource":"DocumentDB",
"Delimiter":"~~~SchemaMap",
"SourceTypeMapping": {
"1":["1","12","-1","-8","-9","-10"],
"2":["-7","1","12","-1"

[2019-04-08 22:11] MiyKh opened #29029 "ARM template for AKS autoscale"
Hi,
Is it possible to have the ARM template for AKS with autoscaling feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (AKS)](https://docs.microsof

[2019-04-08 22:15] stevestein commented on #21500
@lesterw1 - Thanks for opening this issue - Good suggestion!

An [Additional resources section](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-powershell-samples#additional-resources) has been added with info and a link to the SQL Server cmdlets.

[2019-04-08 22:16] stevestein commented on #21500
@Mike-Ubezzi-MSFT -
#please-close

[2019-04-08 22:16] #28968 closed

[2019-04-08 22:23] MicahMcKittrick-MSFT commented on #29027
@MikeChristensen we do have a section on managing certs on new and existing clusters

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure

Also for rolling over certs

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-rollover-cert-cn

Does that help you in your case or are you still looking for additional examples?

[2019-04-08 22:25] stevestein commented on #22943
@moseleycj - thanks for raising this issue!  I just added this info to the article:

Set the number of concurrent databases a job runs on by setting the sp_add_jobstep stored procedure's @max_parallelism parameter in T-SQL, or Add-AzSqlElasticJobStep -MaxParallelism in PowerShell.

[2019-04-08 22:25] stevestein commented on #22943
#please-close

[2019-04-08 22:27] Karishma-Tiwari-MSFT commented on #28770
@camp-007 Thank you for sharing the feedback and the solution.
As described in [this doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-register-provider-errors), these kind of errors occur when using a resource provider that you haven't previously used in your subscription. Most providers are registered automatically by the Azure portal or the command-line interfa

[2019-04-08 22:27] #28770 closed

[2019-04-08 22:28] MicahMcKittrick-MSFT commented on #29029
@MiyKh yes you can. We have an example here:

https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerService/2019-02-01/managedClusters?view=azure-cli-latest

[2019-04-08 22:32] iainfoulds commented on #29029
And to be clear, this is just to enable the cluster autoscaler or not. No auto scale settings can be provided, nor should, as the cluster autoscaler works at the Kubernetes cluster level - you shouldn't try to apply an Azure autoscale profile to the scale set resource itself.

[2019-04-08 22:34] roygara commented on #28217
@santoshmallena Thanks for reaching out. Unfortunately this isn't really the correct avenue to direct feedback to product pages. This is mainly for the technical documentation. Still, I reached out to the appropriate people and made them aware of the issue.

Thanks again.

#please-close

@jakaruna-MSFT

[2019-04-08 22:37] b-juche commented on #28882
FYI, Lichun.
~Julie
-------------
Sent from Outlook<https://aka.ms/qtex0l> for iOS

________________________________
From: just paul <notifications@github.com>
Sent: Monday, April 8, 2019 2:52 PM
To: MicrosoftDocs/azure-docs
Cc: Chen, Julie; Assign
Subject: Re: [MicrosoftDocs/azure-docs] The resource type could not be found in the namespace 'Microsoft.NetApp' for api version '2017-08-15' (#28882)

[2019-04-08 22:38] kobulloc-MSFT commented on #29001
@trevor-schmidt I'm seeing something similar, and we are further investigating the issue.  We'll update you shortly.

[2019-04-08 22:40] MicahMcKittrick-MSFT commented on #29023
@johnwildes good question!

@roygara @Adam-Smith-MSFT @cynthn any idea on this?

[2019-04-08 22:42] saursh commented on #29017
Hello,
Let's verify where the issue is. Is it the SDK or the Subscription Key. Can you verify if your key is working correctly at the [API Reference](https://dev.cognitive.microsoft.com/docs/services/7a3fb374be374859a823b79fd938cc65/operations/52069701a465405ab3286f82/console) link? If it does, then there might be issue in SDK. But if you see the same error on this link, may be your subscription k

[2019-04-08 22:44] saursh commented on #29018
Hello,
Let's verify where the issue is. Is it the SDK or the Subscription Key. Can you verify if your key is working correctly at the [API Reference](https://dev.cognitive.microsoft.com/docs/services/7a3fb374be374859a823b79fd938cc65/operations/52069701a465405ab3286f82/console) link? If it does, then there might be issue in SDK. But if you see the same error on this link, may be your subscription k

[2019-04-08 22:47] trevor-schmidt1214 commented on #29001
@kobulloc-MSFT It was the Api version. i was using an older version.

[2019-04-08 22:52] SaurabhSharma-MSFT commented on #29014
@stephenbell79 Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-08 22:57] reymondk commented on #28940
@msrini-MSFT
The max number of fault domain is 2 for Australia Central. Can you update the doc in the link?

reymondk

[2019-04-08 23:08] Crumpeteria commented on #29018
Okay, none of my keys work.  So, let’s say that Microsoft is now making bad keys for everyone all the time.

I got 4 bad keys for Cognitive Services from my Azure MSDN subscription.  Then I created a new subscription just so I can get two more bad keys.

What’s it going to take to get some good keys?

From: Saurabh Shrivastava <notifications@github.com>
Sent: Monday, April 8, 2019 3:45 PM
To: Micr

[2019-04-08 23:10] roygara commented on #28144
Thanks again for reaching out, I've merged the changes so:

#please close

[2019-04-08 23:11] tfitzmac commented on #22411
@blouwagie - sorry for the delay on this issue. There are some services that are implemented as [managed applications](https://docs.microsoft.com/en-us/azure/managed-applications/overview). For those services, the infrastructure is locked. You can still delete the service itself, which will delete the locked infrastructure.

I have added a new section in this article for this information. It shoul

[2019-04-08 23:16] rossdo88 commented on #28525
no i cannot be able to resolve this issue. i have gone through above suggest but not work.

[2019-04-08 23:20] YutongTie-MSFT commented on #29024
@mattferderer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-08 23:26] YutongTie-MSFT commented on #29018
@Crumpeteria Hi, sorry for your bad experience. You can go to: https://azure.microsoft.com/en-us/try/cognitive-services/my-apis/?api=bing-entity-search-api to get a 7-free-day trail. May I know it's your first time to use this product or you have exceed 7 days? Thank you.

[2019-04-08 23:27] emmasab opened #29031 "Old screenshots of portal"
The screenshots to create a virtual network gateway do not reflect the new interface in the portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c698d2d598
* Content: [Connect a computer to an Azure virtual network using Point-to-

[2019-04-08 23:29] matthchr commented on #28520
Hey @sdk-bonsai - there are two things we support and I'm not sure which one you're asking about, so I'll give a bit of detail on both.

**Output Files on an Azure Batch task**
This is a way to get files from your compute node into Azure Storage as part of the execution of the Batch task itself. This happens before the task has completed (but after your command line has exited). This is the prefer

[2019-04-08 23:31] Crumpeteria commented on #29018
Why do I want to pay money after 7 days?  I already have a subscription to Azure and can get my Cognitive Services keys there.  Aren’t these the same keys?  Why don’t those keys work?  How about contacting Cognitive Services to look into that?

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, April 8, 2019 4:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Crumpe

[2019-04-08 23:31] #22411 closed

[2019-04-08 23:35] #28144 closed

[2019-04-08 23:47] YutongTie-MSFT commented on #29018
@Crumpeteria Hi thanks for your response. I understand you have your Azure subscription ID. Could you please make sure you are using the subscription key of this product? It's different from your Azure subscription ID. You can go to your portal: https://ms.portal.azure.com/#home -> Go to your Bing.EntitySearch service (you can search "entity search" directly to find your service) -> You can check

[2019-04-08 23:48] anirudhcavale commented on #28457
Hey @annerejula the REST API does support fetching of custom metrics. This may have to do with JSON escaping of '/' characters. What client are you using to query metrics (fiddler, postman, ARM Client)?

[2019-04-08 23:50] stewartadam commented on #28994
Those are the two original URLs - e.g. compare the Original/Custom Branding pairs (e.g. https://aka.ms/SSPR to https://passwordreset.microsoftonline.com/?whr=contoso.com) and they will look identical

[2019-04-08 23:52] Karishma-Tiwari-MSFT commented on #14472
I have created the PR with the update. Changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/72479

[2019-04-09 00:01] jeffbi opened #29033 "Problem with code from "Create Custom C# Module..." tutorial page"
Does the code on this page work as it appears that it is intended?

In the `Init` method you call the module client's `GetTwinAsync` method, then pass the returned twin's `Properties.Desired` property to the `OnDesiredPropertiesUpdate` method, presumably to initialize the module with property values initially in the twin. The `OnDesiredPropertiesUpdate` method in turn attempts to read a specific p

[2019-04-09 00:05] #14472 closed

[2019-04-09 00:06] Karishma-Tiwari-MSFT commented on #27152
@kirthiroyadu I checked in the Azure portal and found F-series sizes available for Cloud services roles. It looks like it is supported and the document needs to be updated.

![image](https://user-images.githubusercontent.com/20851144/55764453-6a46f800-5a20-11e9-8d3c-e2d65ae8acc1.png)

[2019-04-09 00:08] watahani opened #29035 "No need to run powershell script for setting up multiple Entity IDs"
Updating Azure, we can now set multiple Entity IDs on Azure Portal. So it's not needed to run Powershell scripts (step 8).
Just set Entity IDs up on Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8ab6af-b3f9-228f-43ff-165ccfe48fa0
* Version Independent ID: 99f428dd-03c3-50e7-f7e2-6e06b4449162
* Content:

[2019-04-09 00:09] watahani commented on #29035
![2019-04-04_16h32_24](https://user-images.githubusercontent.com/28978715/55764570-23e8ac00-5aa7-11e9-90aa-145aa558ff03.png)

[2019-04-09 00:15] Karishma-Tiwari-MSFT commented on #12973
@BrainSlugs83 I am not able to find the document. Can you please share the link to the document where you are seeing the incorrect links:

[2019-04-09 00:20] Mike-Ubezzi-MSFT commented on #22943
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-09 00:20] himanshusinha-msft commented on #29026
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-09 00:34] Crumpeteria commented on #29018
I am not using my “Azure Subscription Key”!!!!!!!!

I have gone to the Market Place in the Azure Portal, installed Cognitive Services and retrieved the keys MANY TIMES NOW.  SEE BELOW.

NONE OF THESE KEYS WORK, THEY NEVER WILL, AND YOU AREN’T GOING TO FIX THAT ARE YOU?

Cognitive Services

1.

6deb2dbe3b214461aae2c54a7b03c702

2.

142aaa131f754187834ecdbbade00481

Speech

1.

2c8d863601374751b6678

[2019-04-09 00:37] YutongTie-MSFT commented on #29018
@Crumpeteria Thank you for checking and sorry for your experience. Could you please send me an email at azcommunity@microsoft.com with your subscription ID and the URL of this thread? We will help you to solve it.

[2019-04-09 00:37] MGoedtel commented on #25269
@MicahMcKittrick-MSFT - The onboarding article was updated last week or week prior and should address this feedback appropriately.  #please-close

[2019-04-09 00:38] #25269 closed

[2019-04-09 00:41] #28781 closed

[2019-04-09 00:41] #28929 closed

[2019-04-09 00:41] #28951 closed

[2019-04-09 00:41] #29020 closed

[2019-04-09 00:42] #9231 closed

[2019-04-09 00:42] #19668 closed

[2019-04-09 00:42] #28918 closed

[2019-04-09 00:42] #28217 closed

[2019-04-09 00:42] #6415 closed

[2019-04-09 00:42] #21500 closed

[2019-04-09 00:43] #23204 closed

[2019-04-09 00:43] #22688 closed

[2019-04-09 00:43] #22943 closed

[2019-04-09 00:43] #13195 closed

[2019-04-09 00:55] rahulunlimited opened #29037 "Retrieve managed identity using Azure CLI"
How can we Retrieve managed identity for Data Factory using Azure CLI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8ca-9143-8998-41e2be0b39b8
* Version Independent ID: 60c67249-9bd5-0a3c-10e3-839d44922d2e
* Content: [Managed identity for Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/data

[2019-04-09 00:55] MGoedtel commented on #26484
@Eldorian & @femsulu - I've updated the article so transition between the section about getting your workspace ID/key and section about downloading/installing the agent is clearer that they're interconnected and a smooth transition occurs without causing confusion. It should go out tomorrow AM.  #please-close.  Thanks for your assistance @frostygoth!  #please-close

[2019-04-09 00:57] MGoedtel commented on #25921
This task is completed and the article is updated with this information.  #please-close.

[2019-04-09 01:06] YutongTie-MSFT commented on #29018
@Crumpeteria Hi just want to let you we hear you and we are here to help. We are waiting for your email ^^ Thank you.

[2019-04-09 01:12] MartinJaffer-MSFT commented on #29037
Hello @rahulunlimited  and thank you for your question.
The same [commands documented for powershell](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#retrieve-managed-identity-using-powershell), can be used in the Azure CLI (powershell version).

[2019-04-09 01:26] emmasab opened #29039 "Does not reflect new tunnel type OpenVPN"
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#tunneltype

New tunnel type isn't visible and instructions aren't present on how to use it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-618

[2019-04-09 01:33] c-d opened #29040 "IP firewall docs do not explain configuration required to use Data Explorer with IP firewall"
This paragraph does not fully describe behavior in Data Explorer: "When using IP firewall, it is recommended to allow Azure portal to access your account. Access is required to allow use of data explorer as well as to retrieve metrics for your account that show up on the Azure portal."

We have recently found that in addition to allowing portal access, the IP of the user viewing Data Explorer also

[2019-04-09 01:43] KeiroKamioka0000 opened #29041 "IP address for Azure RHUI"
Does the IP addresses for Azure RHUI included in the [Azure Cloud] Service Tag for NSG?

https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags
AzureCloud (Resource Manager only): This tag denotes the IP address space for Azure including all datacenter public IP addresses. If you specify AzureCloud for the value, traffic is allowed or denied to Azure public IP addres

[2019-04-09 01:54] femsulu commented on #29025
@yantang-msft Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-09 01:56] femsulu commented on #29016
@BijsT Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-09 01:58] c-d commented on #29040
![image](https://user-images.githubusercontent.com/1923939/55768097-95d4eb80-5acf-11e9-8dc0-9dd77298d449.png)

[2019-04-09 02:00] kazshi commented on #25153
Closing since I verified the current version is the latest (2.7.41491.911).

[2019-04-09 02:00] #25153 closed

[2019-04-09 02:03] SLdragon commented on #29033
Hi, @jeffbi, in step 10, this tutorial show you how to add module twin:

![image](https://user-images.githubusercontent.com/5545529/55768228-9b6e0980-5aae-11e9-8328-00f976269cd0.png)

[2019-04-09 02:15] Iain-Morris opened #29042 "Key Vault Permissions unclear"
Only one set of Key Vault permissions are given at the top, which look like a superset of the permissions required on the source kv and target kv.  Surely only read is required for the source kv and read(?)/write for the target kv.  For the principle of least privilege, it would be better to provide two sets of permissions.
The two troubleshooting examples at the bottom both say "User has all the

[2019-04-09 02:36] feiskyer commented on #28567
Yep, this is bug for v1.12.x. versions below that are still working

[2019-04-09 02:42] kobulloc-MSFT commented on #28986
@bdschaap We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-09 02:42] #28986 closed

[2019-04-09 02:43] stephenbell79 commented on #29014
You can close this. I realized that cmd only works on the server running the proxy service.

[2019-04-09 02:46] danmyhre commented on #28665
Please re-open.  This is very easy to replicate.

1.	Create a new user in AD
2.	Let sync to AAD
3.	Edit user profile in AAD, add Phone or Email to “Authentication Contact Info” section

Information entered into AAD is not used to provide MFA challenges.

[2019-04-09 02:46] kobulloc-MSFT commented on #29001
For anyone else that may be running into problems with the Portal steps, please be aware that there is both a DevTest Labs VM as well as a Compute VM.  You will see the Compute VM in the newly assigned resource group when you spin it up.  We are going to update our documentation here so that it is clearer in the future.

DevTest Labs VM:
![image](https://user-images.githubusercontent.com/37556655/

[2019-04-09 02:47] kobulloc-MSFT commented on #29001
@trevor-schmidt We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-09 02:47] #29001 closed

[2019-04-09 03:01] DixitArora-MSFT commented on #29028
@philrowan-mtb Thank you for your feedback! We will review and update as appropriate.

[2019-04-09 03:28] rolyon commented on #18583
Hi @richardharrison2 @nzaetta
I made multiple attempts to try to track this down, but unfortunately I wasnt able to find out more information about the Windows administrator login action. I recommend creating a support ticket to see if the Azure support team can assist.
https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request

[2019-04-09 03:33] nschonni commented on #17744
@JasonWHowell I think when I first opened this one, there was "test" and "test2" of all the localization repos. Looks like they've mostly been cleaned up now!
I've got a separate issue on the feedback repo for the non-azure ones.

[2019-04-09 03:34] KalyanChanumolu-MSFT commented on #29040
@c-d Thank you for for bringing this to our notice.
We are assigning this issue to the content author to update as appropriate.

[2019-04-09 03:41] KetanChawda-MSFT commented on #29013
@rifuller Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-09 03:43] KetanChawda-MSFT commented on #29019
@ckarras Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-09 03:49] SaurabhSharma-MSFT commented on #29014
@stephenbell79 Glad to hear that you are able to resolve yourself.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-09 03:49] #29014 closed

[2019-04-09 04:02] SnehaAgrawal-MSFT commented on #28805
@NateB2 Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue, we would like to work closer with you on this matter.
Since we will work with you offline, we will now proceed to close this thread.

[2019-04-09 04:02] #28805 closed

[2019-04-09 04:04] vikramdadwal opened #29046 "Enable this feature with ACI connector in Logic App (Create container Group)"
Create container group connector in logic app do not have any parameters related to setup a (User assigned) managed identity. When that would be available in Logic app create container group connector ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Independent ID: eb046e7

[2019-04-09 04:12] YASWANTHM-MSFT commented on #28906
@jorgensigvardsson, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-09 04:17] KeiroKamioka0000 opened #29047 "Billing information?"
Please consider to add billing information regarding [Advanced Threat Protection]
Does is follow the pricing for Azure Security Center?

Or does it including in SQL Database as listed in the [Next Steps]?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84969b1b-b82c-ddc5-5716-e22a2a37d505
* Version Independent ID: 24a33

[2019-04-09 04:22] SnehaAgrawal-MSFT commented on #28964
@jVincentl Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-09 04:28] SumanthMarigowda-MSFT commented on #28525
@rossdo88 Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket opened for this issue. Please mention "ATTN subm" in the subject field. We would like to work closer with you on this matter.

[2019-04-09 04:29] shashishailaj commented on #29035
@watahani Thank you for pointing that out . We will have this looked into and updated as needed.

[2019-04-09 04:34] Godase commented on #28891
@YutongTie-MSFT  I have used the below link `https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-train-models-with-aml`

[2019-04-09 04:37] rolyon commented on #28160
Hi @admintgal
I've sent a message to the team to confirm, but here is what I think the Management Type column refers to. Management groups and subscriptions have a hierarchy. If you assign a role on a parent management group, that will be a direct assignment on the management group. This role assignment will get inherited to any child management groups and child subscriptions. So if you choose to

[2019-04-09 04:37] KeiroKamioka0000 commented on #28820
Thanks!

[2019-04-09 04:38] wmgries commented on #28845
You're not using clustered disks? How do you have it attached to both nodes in the failover cluster?

[2019-04-09 04:39] SumanthMarigowda-MSFT commented on #28845
@loopfish  Your feedback has been shared with the content owner for further review..

[2019-04-09 04:39] msrini-MSFT commented on #29031
@emmasab , Thank you for your feedback.

@cherylmc , Can you update the documentation with the latest interface Screenshot?

[2019-04-09 04:45] msrini-MSFT commented on #29039
@emmasab . Thank you for your feedback. Here is the documentation which helps you create OpenVPN: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-openvpn

You can configure OpenVPN only with Route based gateways. You need to register for this feature in order to use it as it is in Public Preview. The documentation which I have provided has all the details you needed. Let me kn

[2019-04-09 04:45] #29039 closed

[2019-04-09 04:46] KeiroKamioka0000 opened #29049 "What will happen to expired backup data?"
I understand obtained data will be stored in to the BLOB Storage.
Also, the backup is guaranteed up to 30 days after it obtained.

What will happen to the backup data stored in the BLOB storage after the 31st days and after?
Does user have to delete manually to save the capacity?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-04-09 04:47] RohitMungi-MSFT commented on #28811
@kishan19 We hope you are able to resolve the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-09 04:48] #28811 closed

[2019-04-09 04:49] msrini-MSFT commented on #29041
@KeiroKamioka0000 , Thank you for posting here. IP address in Azure is an object where you can assign it to any Virtual Machine within the same region.

All Azure data center IP address of the respective locations will be listed under AzureCloud Service tag.

Let me know if you have any further questions.

[2019-04-09 04:50] jakaruna-MSFT commented on #28919
@yang980 I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-09 04:50] msrini-MSFT commented on #28900
@aziegelb , I will go ahead and close this issue. Tag me if you have any questions.

[2019-04-09 04:50] #28900 closed

[2019-04-09 04:50] #28919 closed

[2019-04-09 04:51] BhargaviAnnadevara-MSFT commented on #28943
@mrbullwinkle Thanks a lot for the detailed explanation!

@KeiroKamioka0000 Hope this addresses your question. We have also made an addition about this to the [FAQ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio#frequently-asked-questions) document (#3) clarifying the same.

We will now proceed to close this thread as resolved, but if there are any further qu

[2019-04-09 04:51] #28943 closed

[2019-04-09 04:51] pyoungberg opened #29050 "Only works for PIN approvals"
Approvals in the app for MFA won't work if you select the number then use fingerprint unlock. You have to select the number and use PIN unlock or the auth will fail. (Pixel 1 + Microsoft Auth in Android Ent/work mode)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independ

[2019-04-09 04:52] msrini-MSFT commented on #28940
@reymondk , Thank you for your response. The documentation will be updated accordingly.

[2019-04-09 04:52] #28940 closed

[2019-04-09 04:52] KeiroKamioka0000 commented on #29041
So it included?
Thanks for the answer.

As further question, when Linux VM made connection with RHUI, which port number it will use?

[2019-04-09 04:55] msrini-MSFT commented on #29041
@KeiroKamioka0000 , yes it is included.

It depends on what service you are accessing. If you are trying to SSH, then port 22 needs to be opened. If you are running a web server, then port 80 or 443 needs to be opened.

[2019-04-09 04:55] RohitMungi-MSFT commented on #28969
@wolfma61 Thanks for the clarification. @ahalha We hope you are able to use the same for your application. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-09 04:56] #28969 closed

[2019-04-09 05:07] SumanthMarigowda-MSFT commented on #28722
@Kirbogd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-09 05:07] #28722 closed

[2019-04-09 05:16] linda33wj commented on #19257
Thanks for the feedback. While to clarify - customer don't need to pre-create ADLS Gen2 file system outside before running the copy, as ADF copy activity will auto create the sink file system if the one specified does not exist during the copy run. I've added notes in step 9 to further explain.

#please-close

[2019-04-09 05:18] linda33wj commented on #28550
@kilasuit thanks for the feedback and good catch! I've fixed the doc.
#please-close

[2019-04-09 05:19] jakaruna-MSFT commented on #29046
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-09 05:23] MiyKh commented on #29029
The example provided is for api version 2018-03-31 whereas  the article refers to version 2019-02-01

[2019-04-09 05:26] saifuddin123 commented on #28974
Hi,
After adding the root cert to iothub and restarting edge runtime, the test connection worked.
khader@shreyas:~$ openssl s_client -connect shreyas:8883 -CAfile /home/khader/Documents/gateway/certs/azure-iot-test-only.root.ca.cert.pem -showcerts
CONNECTED(00000003)
write:errno=104
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 0 bytes and wri

[2019-04-09 05:27] SaltyDH commented on #28400
Hi Matt,

Thank you for reaching out to seek further clarification. I asked this question here because I thought that this endpoint might already exist. I can continue to use an environment variable which is the approach already in place.

What I was striving to achieve was a convention based system boot-up process which doesn't rely on environment variables but rather discovers its configuration

[2019-04-09 05:28] DixitArora-MSFT commented on #29049
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-09 05:32] msvijayn commented on #28976
@nkiest - for questions pertaining to activity log

[2019-04-09 05:53] santo2 opened #29051 "reference to more information about service fabric way of using app settings?"
a regular application uses an app.config or a settings.json file, Service Fabric uses it's own way of handling application parameters, but I can't seem to find more information on this.
- why is this better than having a settings.json?
- there doesn't seem to be a good guide in how to integrate this with Azure Pipelines? I've search for an hour, The only thing I came up with was to use "Replace To

[2019-04-09 05:59] katrinsharp commented on #28567
@axelgMS Is there a github issue I can follow? Thanks!

[2019-04-09 06:01] KrishnaG-MSFT commented on #28689
Assigning @bwren for insights on above observed behavior.

[2019-04-09 06:03] loopfish commented on #28845
@wmgries you don't have to add eligible storage when creating a cluster...it's a checkbox option when creating the cluster. As we only use this cluster to have HA for some generic services, we have no requirement for clustered storage...

[2019-04-09 06:04] lightupdifire commented on #28979
@SaurabhSharma-MSFT,
Thanks! I think procedure should be updated with latest Azure portal, latest AD Connect and latest ADFS steps.

[2019-04-09 06:09] annerejula commented on #28457
@anirudhcavale  I'm using postman right now..
There don't seem to be any "/" in the metric name. Its there only in the timespan parameter.
Considering the same for a different metric - "\System\Processes" :

This is my request :
`https://management.azure.com/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/apmgroup/providers/Microsoft.Compute/virtualMachines/apm-vm-testvm1/provide

[2019-04-09 06:12] PramodValavala-MSFT commented on #29013
@rifuller The input examples do show how you can deserialize the objects into POCOs both for [single](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#http-trigger-look-up-id-from-route-data-c) and [multiple](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#http-trigger-look-up-id-from-route-data-using-sqlquery-c) documents.

[2019-04-09 06:13] CHEEKATLAPRADEEP-MSFT commented on #23801
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-09 06:13] PramodValavala-MSFT commented on #28820
@KeiroKamioka0000 Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-09 06:13] #28820 closed

[2019-04-09 06:18] WenJason opened #29052 "Table Indentation"
Hi,
I think it will be better to indent the tables in the "Lesson 1: Create a Basic Smooth Streaming Store Application" part. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 674967c2-34ff-b1e1-45d9-155e5425dde6
* Version Independent ID: 2d62e7ed-8f3e-a0c5-5da9-b948734a3dfa
* Content: [Smooth Streaming Windows St

[2019-04-09 06:19] SubhashVasarapu-MSFT commented on #28549
@mbell85 , Yes you can raise a support ticket on this.Meanwhile , i will inform this to the respective PG and will let you know.

[2019-04-09 06:24] linda33wj commented on #18720
Thanks all for the feedback. The screenshot has been updated. For generating/retrieving managed identity, please refer to the corresponding sections with explanation and samples:
- Generate managed identity: https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-managed-identity
- Retrieve managed identity: https://docs.microsoft.com/en-us/azure/data-factory/dat

[2019-04-09 06:36] angoyal-msft commented on #29047
@KeiroKamioka0000 Thanks for your feedback. I have assigned this issue to the content author to help you further on this issue.
@monhaber Could you please look at the concern of the user.

[2019-04-09 06:39] jakaruna-MSFT commented on #29046
@vikramdadwal I suggest you to create a feedback [here](https://feedback.azure.com/forums/287593-logic-apps). Product teams looks into these feedback and prioritizes their work items.

[2019-04-09 06:41] mysaggar opened #29053 "Cannot create a Container in azure blob storage module"
I have been trying to deploy an Azure Blob storage Module on my edge Device on Linux 16.04 vm

The images have been successfully deployed and are running but I am facing this error.
[code]

I tried creating a container on Azure Storage Explorer v1.5.0 but unable to create in the container section of the Blob storage, it is loading indefinitely and any commands of creating container doesn't output

[2019-04-09 06:41] PranjaliSoni commented on #28525
Hi
I'm getting the same issue
What we have to put in device hostname in the following conection string

DefaultEndpointsProtocol=http;BlobEndpoint=http://<host device name>:11002/<your local account name>;AccountName=<your local account name>;AccountKey=<your local account key>

[2019-04-09 06:53] rossdo88 commented on #28525
@PranjaliSoni  Have you been able to resolve this issue?

[2019-04-09 07:01] colly72 commented on #5850
Any news on adding this to the documentation?  I'm keen to have this working but can't see where or how I can do it.

[2019-04-09 07:06] linda33wj commented on #27697
@vishalaj1 If you want to "join" (cross apply) two arrays for each JSON object to generate multi rows, Copy activity don't support it now - I've added note in the doc to make it explicit. While to make sure it's clear, ADF supports cross apply single array, and you can still additional extract data from other arrays **with JSON path from the root** (e.g. $.array[0].prop), just no array joins. Hope

[2019-04-09 07:08] YASWANTHM-MSFT commented on #28836
@jfalameda,
Thank you for your Patience.
You can download the sample repository by following below link and run using the Azure Storage Emulator by updating the App.config file with your Storage account name and key. Please follow the instructions mentioned in the following article.
Ref:- [Azure Blob Storage Samples for .NET](https://azure.microsoft.com/en-us/resources/samples/storage-blob-dotnet-

[2019-04-09 07:12] yahorsi opened #29055 ">>Kestrel is a cross-platform web server for ASP.NET Core based on libuv"
Seems not correct anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2639218d-5e54-aba0-ca0a-e53025b06d15
* Version Independent ID: fec67d60-26a4-ba4c-45cf-f53c74281659
* Content: [Service communication with the ASP.NET Core](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-co

[2019-04-09 07:15] yahorsi opened #29056 "Article explains HOW and not WHY"
If you read the article you sort of understand how you can host ASP.NET Core in the Service Fabric Reliable Services. But, it does not say a word why you may need it. What problem it solves. Like WHY I may want to host externally available services in the stateless service or even more interesting, why I may want to do it for statefull/internal.

---
#### Document Details

⚠ *Do not edit this sect

[2019-04-09 07:23] ThierryBT opened #29057 "AzureRM or AZ Module ?"
Good morning and sorry for my English.
I see that I have to install Install-Module AzureRM -RequiredVersion 2.4.0.
Do not you think that the Az module is more efficient ?
https://azure.microsoft.com/fr-fr/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/
Regards
Thierry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-04-09 07:28] SychevIgor commented on #28682
@Karishma-Tiwari-MSFT both issues closed... would be nice to have answer at least from one.

[2019-04-09 07:28] forester123 opened #29058 "Command issue for Get-AzMetricDefinition -ResourceId <resource_id> | Format-Table -Property Name,Unit"
When running this command **Get-AzMetricDefinition -ResourceId &lt;resource_id&gt; | Format-Table -Property Name,Unit**, the out-put for the Name property is "...", there's no actual value, like below table.
| Name | Unit |
|---|---|
|...|Percent|
|...|Bytes|

To get the actual metric name, need to modify the command to **Get-AzMetricDefinition -ResourceId $resourceid | Format-Table -Property @{la

[2019-04-09 07:34] forester123 opened #29059 "Missing metrics from Microsoft.Compute/virtualMachines"
There's no billable metrics for Network In/out, only in total. Please double check and update the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resource type](https://

[2019-04-09 07:40] msrini-MSFT commented on #29057
@ThierryBT , Thank you for posting here. Going forward it is recommended to use Azure AZ module.

Here is the Documentation: https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.6.0

[2019-04-09 07:40] #29057 closed

[2019-04-09 08:01] urieshed opened #29060 "Not getting any leads"
Leads not coming in to SFDC from Appsource. I followed the instructions here bu nothing comes in. I do see traffic in the app page. who can i turn to for help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f70cda27-d911-0681-2d8d-2f5f7aadbb68
* Version Independent ID: d1c570d7-1587-afbc-ffef-a6dc49d5aacb
* Content: [S

[2019-04-09 08:02] SadiqhAhmed-MSFT commented on #29059
@forester123 Thanks for the comment! We've shared your feedback with the content author for further review and update as appropriate.

@anirudhcavale FYI.

[2019-04-09 08:04] SadiqhAhmed-MSFT commented on #29058
@forester123 Thanks for the comment! We've shared your feedback with the content author for further review and update as appropriate.

@anirudhcavale Could you please help here?

[2019-04-09 08:05] imeya commented on #24334
@SumanthMarigowda-MSFT , sorry for later response, I will show you how to reproduce the issue:

1. in the azure portal, generate a sas token with ip address:

![sas1](https://user-images.githubusercontent.com/25738099/55783488-19e39f00-5ae1-11e9-82e9-81d85a2cc588.JPG)

2.then copy the url with sas token, paste it in the browser, I can see the error below:

![sas2](https://user-images.githubusercon

[2019-04-09 08:22] vidyanambiar11 commented on #28981
@HJToland3  Thanks that would be great.

[2019-04-09 08:43] SnehaAgrawal-MSFT commented on #28957
@kogesaka This was a transient issue. Could You Please try it again? Let me know if issue persists. Also share the screen shot of error, it would be helpful.

[2019-04-09 08:44] SadiqhAhmed-MSFT commented on #29060
@urieshed Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-09 08:47] SubhashVasarapu-MSFT commented on #28938
@HaoHoo , I have assigned this issue to content author for making necessary changes to the document.

[2019-04-09 08:53] kogesaka commented on #28957
@SumanthMarigowda-MSFT, Thank you for contacting. Unfortunately, the situation is still happening.
The following error screen is displayed on the Deployment Center.
![Github_error](https://user-images.githubusercontent.com/15773157/55787062-6bdff100-5af0-11e9-85a0-58b5870ca633.png)

[2019-04-09 08:55] SadiqhAhmed-MSFT commented on #28697
@mumami Any comments?

[2019-04-09 08:57] SwayTex commented on #15134
This issue is real, and stupendously annoying, as it makes me keep force refreshing my browser every second.
Already tried different accounts, all with the needed RBAC roles, tried with different browsers, nothing.
This keep happening to a lot of other customers.

[2019-04-09 08:59] CHEEKATLAPRADEEP-MSFT commented on #25298
@MisiekBest Thanks for adding your insights for the issue, which might be beneficial to other community members reading this thread.

[2019-04-09 09:04] verasteen commented on #7276
Are there any updates on this?

[2019-04-09 09:05] axelgMS opened #29061 "confusion between "Jenkins Azure VM Agent" and "Azure VM Guest Agent""
Hey folks,
We're seeing users getting confused with the term "Azure VM agents" in that Jenkins documentation.
Confusion is made with the "Guest Agent" (also called WALinuxAgent / VM Agent / etc...)

Can we try to find a find a different wording for the Jenkins agents? or maybe explicitly call them "Jenkins agents"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-04-09 09:07] svdbusse commented on #5850
@colly72 I spent a fair amount of time working with the Azure AD team to get OrgUnitPath added to the Attribute Mapping UI, this is how I use it:

**Mapping Type:** Expression
**Expression:** SingleAppRoleAssignment([appRoleAssignments])
**Target Attribute:** OrgUnitPath

I then create custom roles within the G. Suite Azure AD App Registration manifest which i can assign to users/groups to specify

[2019-04-09 09:09] #27697 closed

[2019-04-09 09:10] PramodValavala-MSFT commented on #28839
@swinghouse The command in the tutorial seems to be for bash, hence the `\$web` but in CMD/PowerShell, you would have to run it as
[code]

[2019-04-09 09:12] DixitArora-MSFT commented on #29028
@philrowan-mtb Just checking if you have gone through this [GitHub samples](https://github.com/Azure/azure-sdk-for-php/tree/master/src/ServiceBus) and see if that helps.

[2019-04-09 09:13] DixitArora-MSFT commented on #28916
@cbailiss Just checking if we can close this issue as there is already a work item for this ?

[2019-04-09 09:13] SubhashVasarapu-MSFT commented on #28209
@dbsanfte , Appreciate your patience. while working on this i found that adding multiple hostnames with multiple certificates and enabling SNI turns the monitor status to degraded state.so, as said Traffic manager cannot provide any certificate validation, including:

- Server-side certificates are not validated
- SNI server-side certificates are not supported
- Client certificates are not support

[2019-04-09 09:15] KamilELK commented on #18340
I am using the api to create subscriptions. Could you tell me if it is possible to increase the limit ? I do not know if I have a Technical account manager but i am the administrator of the account. @Alberto-Vega-MSFT @femsulu @adpick Thank you.

[2019-04-09 09:17] kieran-flaherty commented on #10151
@tdykstra Just what I was looking for, thanks!

[2019-04-09 09:18] PranjaliSoni commented on #28525
No, I'm confused that what to be put as "host device name" in this connection string to be used in Azure Storage Explorer.

DefaultEndpointsProtocol=http;BlobEndpoint=http://<host device name>:11002/<your local account name>;AccountName=<your local account name>;AccountKey=<your local account key>

[2019-04-09 09:56] colly72 commented on #5850
Hi svdbu

[2019-04-09 09:58] tomwwagstaff-product commented on #28754
Hi @YutongTie-MSFT, thanks for your help with this.

I think I understand how to update the dataset, but will doing that automatically trigger the model to retrain, or do I need to set up a retraining web service to do that, and trigger that separately once I've uploaded the new data?

[2019-04-09 10:02] vainolo commented on #28446
@DeanGross - we will make this more clear as the service becomes GA and we finish all the documentation updates

[2019-04-09 10:13] colly72 commented on #5850
Thanks so much!  T

[2019-04-09 10:14] colly72 commented on #5850
@svdbusse This works perfectly! Thanks so much!

[2019-04-09 10:15] TomasHubelbauer opened #29063 "Unable to find docs for CosmosDB stored procedures"
https://docs.microsoft.com/en-us/rest/api/cosmos-db/stored-procedures

I am unable to find the source of this page. There is no edit link on it. But it looks like it is on GitHub because it lists two GitHub accounts as contributors: @SnehaGunda and @hellosnow

I would like to raise an issue with that page:

This link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-09 10:18] cBrauge opened #29064 "Code example comments are longer than 120 columns"
The code examples are displayed in boxes limited to 120 columns, some comments exceeds this limit which makes reading more difficult than it should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87f95d49-485e-1151-bd35-1c9d8741cb4f
* Version Independent ID: eb522807-d55e-cef8-2077-6c896f1035e3
* Content: [Induce Ch

[2019-04-09 10:21] max-allan-surevine commented on #24858
+1 for Jira 8 support. And keep up to date with Service desk releases too.

[2019-04-09 10:21] cbailiss commented on #28916
@DixitArora-MSFT Yes, please go ahead and close.

[2019-04-09 10:21] #28916 closed

[2019-04-09 10:22] jnfarmer commented on #5850
Assuming "/Administrator Team" is the top OU? How would you then delineate sub OUs?

[2019-04-09 10:26] svdbusse commented on #5850
@jnfarmer by creating an appRole with the displayName that provides the full path to the target OrgUnit.

E.g.
If the OrgUnitPath was contoso.com/Administration Team/Accounts
Your display name in your app manifest would be:
"displayName":"/Administration Team/Accounts"

Not particularly elegant, but it'll work.

[2019-04-09 10:35] MikkelHegn commented on #29051
Trying to reply to all your question, by noumbering reference your bullet list above:
1. setting.json (I assume you refer to appsettings.json and the .net configuration provider concept). Service Fabric has a different configuration system, not specific to .net. To use Service Fabric configuration packages look here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-manage-multi

[2019-04-09 10:40] #28550 closed

[2019-04-09 10:52] SreeVoleti opened #29065 "Typo in the replication monitoring procedure"
There is a typo on this page.

[**Original**] These changes do not take effect until **your** restart the Microsoft Monitoring Agent service (HealthService.exe).
[**Suggestion**] These changes do not take effect until **you** restart the Microsoft Monitoring Agent service (HealthService.exe).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-04-09 11:07] MGoedtel commented on #29020
@MicahMcKittrick-MSFT - this issue was answered, #please-close

[2019-04-09 11:20] jakaruna-MSFT commented on #28524
@v-samiya Verified it. Just add the `.vhd` extension to the downloaded file.
After that i am able to create a Virtual machine in My laptop's Hyper-V by specifying the Downloaded VHD as the hard disk.
Its working well.

I am closing this issue for now. If you need additional help, Please mention me.

[2019-04-09 11:20] #28524 closed

[2019-04-09 11:21] jakaruna-MSFT commented on #28956
@aljo-microsoft Please add your comments

[2019-04-09 11:23] cBrauge commented on #29064
Proposed fix:
https://github.com/MicrosoftDocs/azure-docs/pull/29066

[2019-04-09 11:24] jakaruna-MSFT commented on #29000
I will check with the internal teams and let you know.

[2019-04-09 11:29] ssennettau commented on #29065
Hi SreeVoleti,

I've created a [Pull Request](https://github.com/MicrosoftDocs/azure-docs/pull/29067) to update the typo you've highlighted. In the future if you like, you can also make these edits to the documentation yourself, following the [Microsoft Docs contributer guide overview](https://docs.microsoft.com/en-us/contribute/).

Regards,
Stephen

[2019-04-09 11:35] admintgal commented on #28160
My confusion with it is the permissions on the one MG that is inherited are exactly the same as the others.  So it’s not making sense.

Thank you for the help and response.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Robert Lyon <notifications@github.com>
Sent: Tuesday, April 9, 2019 12:37:31 AM
To: MicrosoftDocs/azure-docs
Cc: admintgal; Mention
Subject: Re:

[2019-04-09 11:37] BzSpi opened #29069 "Broken link about audit logs in Azure Monitor"
The link "auditing logs in Azure Monitor logs and Azure Event Hubs" (https://blogs.msdn.microsoft.com/sqlsecurity/2018/09/13/sql-audit-logs-in-azure-log-analytics-and-azure-event-hubs/) is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c91119ecc9
* Version Independent ID: 32caa5c0-aac4

[2019-04-09 11:41] jakaruna-MSFT commented on #29064
Thank you very much for your contribution to the Azure docs.

[2019-04-09 11:49] jakaruna-MSFT commented on #29055
@yahorsi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-09 11:50] waqar-anwar1990 commented on #28971
@Mike-Ubezzi-MSFT Thanks for getting back to me.

But the 30 Members restriction per-server/per-location will still be there and it becomes very frustrating to manage by switching back n forth between servers.

Is this something you guys are working on? To Increase the member limit per-server? or at-least per location? (by per location I mean, if I host a databases on one server and I manage to ge

[2019-04-09 11:51] jakaruna-MSFT commented on #29056
@yahorsi Thanks for the feedback! I have assigned the issue to the author to update the document as appropriate.

[2019-04-09 11:55] artisticcheese opened #29070 "Please update article that metrics might be missing randomly"
Per thread below you are expected to loose/miss metrics on storage accounts randomly.
https://social.msdn.microsoft.com/Forums/en-US/fd21e2cb-622f-4eb7-a068-9c140edd6e87/getazmetric-sporadically-refuses-to-return-results?forum=windowsazuredata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf

[2019-04-09 11:56] BzSpi opened #29071 "Missing Audit and SQLSecurityAuditEvents log categories for Diagnostic Settings"
Log categories Audit and SQLSecurityAuditEvents are missing from documentation as they are available in the portal in the Diagnostics settings blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c91119ecc9
* Version Independent ID: 32caa5c0-aac4-75f8-42f8-b483d55a8392
* Content: [Azure SQL D

[2019-04-09 11:59] BzSpi commented on #29071
Here's a screenshot of the available log categories in the portal.

![image](https://user-images.githubusercontent.com/1766776/55798571-92416480-5acf-11e9-821e-5682ba40b9bf.png)

[2019-04-09 12:02] luisgmsft commented on #29026
I tried +12 hours later and it recognizes the CNAME properly now. I'm leaving the issue for you to close in case docs needs some update. Please comment if it was some fix applied or just a matter of waiting enough. Thanks!

[2019-04-09 12:03] andrehe001 opened #29072 ""az ml project" does not exists"
"az ml project" does not exists.
The command: "az ml project attach --experiment-name myhistory" shows how to attach a project to an ml workspace. Running "az ml --help" does not show the sub command "project".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f6989f-eb38-b376-d01f-9c462c2d1761
* Version Independent ID:

[2019-04-09 12:05] msrini-MSFT commented on #29026
@luisgmsft , If you are getting a response "The requested resource was not found" , then it is sent by your server. AFD will act as a reverse proxy, so make sure you have configured the host name in the AFT that is forwarded to the Backend resource.

[2019-04-09 12:18] RohitMungi-MSFT commented on #29072
@andrehe001 Could you please provide us more details about the document you are referring to before this error is seen?

[2019-04-09 12:22] andrehe001 commented on #29072
yes, sorry hit the submit button to fast. It's on "https://docs.microsoft.com/en-us/azure/machine-learning/service/reference-azure-machine-learning-cli" were the command: "az ml project attach --experiment-name myhistory" shows how to attach a project to an ml workspace. Running "az ml --help" does not show the sub command "project".

[2019-04-09 12:23] MangeshDange opened #29073 "Hello Team,"
Hello Team,

While creating the Standard load balancer backend pool, I can see it's been asking to add the VM's which are aligned with "Standard Public IP".

Not sure, why I'm not able to add the VM's without having and Public IP.

please assist with it.
<img width="396" alt="Public standard LB" src="https://user-images.githubusercontent.com/49441560/55800288-fb859f80-5af0-11e9-8909-e4d1795c61d7.P

[2019-04-09 12:25] saifuddin123 commented on #28974
again same issue, Have no idea how to solve this. Have gone thru provided issues and few others.

khader@shreyas:~$ openssl s_client -connect shreyas:8883 -CAfile /home/khader/Documents/gateway/certs/azure-iot-test-only.root.ca.cert.pem -showcerts
CONNECTED(00000003)
depth=2 CN = Test Edge Device CA
verify error:num=20:unable to get local issuer certificate

[2019-04-09 12:26] cloudai56 commented on #28960
@passwordWindows did n't see any issue with the code.did you add these using statements multiple times.

@passwordWindows Can you please check did you add the using statement multiple times in your code. I don't find any issue with the code.

[2019-04-09 12:27] smokedlinq commented on #28887
I was able to change the driver I was using which installed faster. I was trying the sample Oracle Enterprise main.cmd, switched to the xcopy ODAC driver and so far so good, only 12min to install.

[2019-04-09 12:28] luisgmsft commented on #29026
Thanks for your feedback @msrini-MSFT. I'm closing this issue then. Next time I give a try to AFD, I'll re-check if works as docs state or not. Have a good one :)

[2019-04-09 12:28] #29026 closed

[2019-04-09 12:31] ram-msft commented on #28960
@passwordWindows I don't find any issue with the code. Can you please check once again and do the following check also
1. Did you add the using directive's multiple times.

[2019-04-09 12:34] msrini-MSFT commented on #29073
@MangeshDange , If you deploy a Standard Load balancer and need to add a VM to the backend pool of the LB, then you must make sure you meet the following requirements.

- Your VM which you are going to add to the backend pool, should either have Standard Public IP assigned or no IP assigned.

- Even then if you are not able to assign, then make sure all the VMs in the availability sets of the VM h

[2019-04-09 12:35] cloudai56 commented on #28960
@passwordWindows  I am able to add the following nuget packages successfully run the code also.
 using Microsoft.Azure.CognitiveServices.Vision.Face;
using Microsoft.Azure.CognitiveServices.Vision.Face.Models;
Please check again.

[2019-04-09 12:39] msrini-MSFT commented on #29006
@Placid7 , Thank you for your feedback. You can request for a Power Shell command in User Voice.

[2019-04-09 12:42] bwren commented on #28894
@ganniaiuei  Not sure what the issue is here.  Where should the link point to?

[2019-04-09 13:04] sirdank opened #29074 "App Service availability"
Is this available for Azure App Service running on Windows containers? I see that it isn't available for Windows containers inside ACI but I believe another page says it's in preview for an App Service running Windows containers. I can't get it to work and am having difficulty finding anything clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-04-09 13:08] chaaya opened #29075 "typo error in yaml file for the PersistentVolumeClaim"
I think there is a typo error in the PersistentVolumeClaim.

storageClassName should be managed-premium-retain and not managed-premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 724d659c-dcc8-7c77-1994-b3e8cc62eb8f
* Version Independent ID: f6c82819-267b-6d05-fb0b-ced6f4eb5ca3
* Content: [Concepts - Storage in Azu

[2019-04-09 13:13] YASWANTHM-MSFT commented on #29070
@artisticcheese, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-09 13:16] danimir commented on #29071
They show up on the screen, but they do not work/serve purpose, therefore they are not documented on purpose. This is a bug in the portal. These two are enabled from a different place and this is documented with the links pointing to where. Thanks.

[2019-04-09 13:16] calcobia opened #29076 "Include workaround for known-issue in 1903: In the user portal, when you navigate to a blob within a storage account and try to open Access Policy from the navigation tree, the subsequent window fails to load."
As per customer feedback/request, please include in the release notes the workaround for the following known-issue in 1903:

**KI:** In the user portal, when you navigate to a blob within a storage account and try to open Access Policy from the navigation tree, the subsequent window fails to load.
**Workaround:** The following PowerShell cmdlets allow for creating, retrieving, setting and deleting

[2019-04-09 13:16] AllBecomesGood opened #29077 "Does the Unity app for Spatial Anchors actually work?"
So I tried Android Phone to Phone and HoloLens to Phone, but couldn't make the Unity version "Tutorial: Share Azure Spatial Anchors across sessions and devices" work. It just doesn't find the anchor (I've looked up the Anchor number in the webapp as it does not display in-app). I've had the native Android app working Phone to Phone, not Phone to HoloLens, again never finding anchor.

---
#### Docu

[2019-04-09 13:21] danimir commented on #29069
Updated / done. Will be visible in 24-48 hrs online.

[2019-04-09 13:23] philrowan-mtb commented on #29028
@DixitArora-MSFT Thank for the link. I did just run through those samples and got connected. Here is some info. Using composer package  `"microsoft/windowsazure": "^0.5.7"`
simple php test file looks like:

[code]

I can connect and drop messages in the queues now. Gonna play around with receiving now and topics/subscriptions. Thanks.

[2019-04-09 13:28] wcneumann opened #29078 "NPS with Azure Extension"
These articles do NOT make it clear that there are really three Azure MFA options; MFA in the cloud, MFA server, and NPS with the Azure extension. Burying the NPS option as an aside under the MFA in the cloud option is VERY MISLEADING because folks may errantly deploy the MFA server for something like a VPN solution before they realize that they should have deployed an NPS server with the Azure ex

[2019-04-09 13:49] hhughes0 opened #29080 "Operating systems this is required on"
This article also seems to be applicable to Microsoft Server 2012 R2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91dacf1-a7cc-f23b-3c82-5aa37a8a9e90
* Version Independent ID: 02da83f6-feaa-e636-0efa-df54e34a346b
* Content: [Use Azure custom routes to enable KMS activation with forced tunneling](https://docs.micros

[2019-04-09 14:12] SumanthMarigowda-MSFT commented on #28525
@rossdo88  we noticed that you didn't open a new issue on MSDN yet and in order to resolve your issue faster our suggestion is that you please file a support request @ https://aka.ms/azsupt and reference this issue in the description. If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can he

[2019-04-09 14:12] #28525 closed

[2019-04-09 14:17] JBines commented on #18126
with the | there is nothing to pass through to this line... Get-MsolUser -ObjectId {$_.ObjectId} | Foreach {

Get-MsolUser : Cannot evaluate parameter 'ObjectId' because its argument is specified as a script block and there is no input. A script block cannot be evaluated without input.
At line:17 char:28
+     Get-MsolUser -ObjectId {$_.ObjectId} | Foreach {
+                            ~~~~~~~~~~

[2019-04-09 15:00] sucursalwebio opened #29083 "Wildcard Certificates - Useful for Multitenant SaaS..."
... where each tenant gets its own subdomain. It'll be both simpler and faster to roll a new tenant.

* Simpler: because no new certificate setup would be required (just associating it with an existing one.. or something like that)
* Faster: no long waiting for certificate to become available for new tenants during on-boarding.

Currently, we're combining synchronized Nginx with Let's Encrypt at n

[2019-04-09 15:01] arda-liberty opened #29084 "Network Security Group config to authorize Power BI access"
Hi,
We're using the North Europe Power BI DC. Can you tell us which IP's should we whitelist in the HDI NSG?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 835a6f88-1f98-779b-8e94-99941d7725d2
* Version Independent ID: cbf128f1-e748-5e24-82c5-6e759e04270a
* Content: [Visualize Interactive Query Hive data wit

[2019-04-09 15:02] Jnchi opened #29085 "Windows Event Logs: Application logs not showing in queries?"
Under Advanced Settings -&gt; Data -&gt; Windows Event Logs, I added Application, (Error, Warning, and Information are all selected); however, when running queries, I am not seeing any of the logs from the machine running the agent. When I open Event Viewer (Windows Logs -&gt; Application), I see that there are currently 9,126 events.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-09 15:11] shashishailaj commented on #29050
@pyoungberg Thank you for pointing this out . We will have this reviewed and update the thread.

[2019-04-09 15:17] msrini-MSFT commented on #29080
@hhughes0 , the article which you have mentioned is a scenario where you will not be able to activate your Windows when you have force tunneling applied.

Can you elaborate your ask here?

[2019-04-09 15:23] shashishailaj commented on #29074
@sirdank Thank you for your feedback . We will investigate and update further.

[2019-04-09 15:29] anusha56 commented on #28399
ok thanks

[2019-04-09 15:35] sdgilley commented on #28988
I'm so sorry for the confusion, the instructions and image were incorrect.  The correct information is now available.

[2019-04-09 15:37] shashishailaj commented on #28818
@chetansriv , @v-nagta Could you please update the article as it has been many days now ?

[2019-04-09 15:39] andrealibero opened #29086 "Kafka Partition Rebalance Tool stops working when Kafka is configured for IP advertising"
Kafka Partition Rebalance Tool stops working when Kafka is configured for IP advertising.
Check https://github.com/hdinsight/hdinsight-kafka-tools/issues/10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b7ef6f-c859-a713-d230-3c0b1a58728a
* Version Independent ID: bf05628b-10c4-9393-c17f-5e527b8321c0
* Content: [Conn

[2019-04-09 15:45] litvinolek opened #29087 "Protected settings available in Clear text in Deployment options"
When I use ARM template and Custom Script Extensions with protected settings, these options are available in clear text in Deployment option.

Can you fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Az

[2019-04-09 15:46] cap273 opened #29088 "Any additional steps in case ADFS goes down?"
I have PHS enabled on my federated domain. During a test, if ADFS goes down, authentication simply times out because ADFS is unreachable. Does AAD automatically detect that ADFS is down to then switch to authentication using PHS? If not, how can I (either manually or programmatically) switch authentication temporarily to use PHS as backup?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-04-09 15:48] Mike-Ubezzi-MSFT commented on #28742
@SnehaGunda @sivethe Can we update the docs to detail supported MongoDB drivers? There is no documentation (or even a simple chart) to detail the supported versions and client SDKs, etc. Thank you!

[2019-04-09 15:58] sergaz-msft commented on #29033
@jeffbi let us know if @SLdragon answered your question? Thanks!

[2019-04-09 16:00] #20094 closed

[2019-04-09 16:02] mike-urnun-msft commented on #28980
Hi @KeldOelykke Thank you for your feedback! We will review and update as appropriate.

[2019-04-09 16:06] benjamin-goldman commented on #6815
honestly - its sort of crazy that the rebinding isnt automatic.  I do not have this problem in other cloud providers.

[2019-04-09 16:09] cephalin commented on #6815
@benjamin-goldman It does now automatically rebinds your renewed cert within 48 hours. The documentation already reflects that.

[2019-04-09 16:14] benjamin-goldman commented on #6815
Somehow I was logged in as Anonymous - please dont sent the cops to my home.

Vote for this if you want this feature added.

https://feedback.azure.com/forums/34192--general-feedback/suggestions/37330822-azure-app-service-certificate-renewal-should-autom

[2019-04-09 16:17] cephalin commented on #6815
@benjamin-goldman Please see my reply before yours. It's already part of our feature.

[2019-04-09 16:18] ganniaiuei commented on #28894
@brewn I'm not the author. I don't know what's the right link but this might be a good one:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/distributed-tracing

[2019-04-09 16:20] lin-art opened #29091 "Please add error 530021"
Hi, we receive the error code 530021 with failure reason 'other'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft

[2019-04-09 16:21] Mike-Ubezzi-MSFT commented on #29069
@danimir Thank you! @BzSpi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-09 16:21] #29069 closed

[2019-04-09 16:25] trevor-schmidt opened #29092 "Restrict access for resource creation within portal"
Essentially we want to prevent users from creating specific resources within the portal and have them use templates we have created with ARM. Basically we would like them to only provision specific resources using our templates instead of just create them via the portal. This allows us to control resource standards, etc. We had a policy out there that restricts deployments of specific types such a

[2019-04-09 16:43] Anmolgan81 commented on #28973
We are trying to use elastic search on top of azure.

Regards
Anmol Ganju

________________________________
From: MartinJaffer-MSFT <notifications@github.com>
Sent: Tuesday, April 9, 2019 2:20:27 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to Migrate AWS Elastic Search To Azure Elastic Search? (#28973)

@Anmolgan81<https://github.com/Anmolga

[2019-04-09 16:43] Mike-Ubezzi-MSFT commented on #29071
@BzSpi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-09 16:43] #29071 closed

[2019-04-09 16:43] roygara commented on #29023
@MicahMcKittrick-MSFT @johnwildes Thanks for reaching out, I checked with the product team, the doc is accurate. There's no support for OS disks, only data disks.

[2019-04-09 16:45] MarkArranz opened #29093 ""How to do data science" blog link does not work"
The link, https://blogs.technet.microsoft.com/machinelearning/2016/03/28/how-to-do-data-science/, leads to nowhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6978a47f-18b6-5ed4-d882-01f64fbfd950
* Version Independent ID: 097e6379-3a1c-24f6-de51-9212f6dbe4b4
* Content: [Business understanding in Team Data Science P

[2019-04-09 16:45] MicahMcKittrick-MSFT commented on #28992
@dcarati thanks for reaching out and closing the issue. I saw you opened a new issue with more details so we can continue to work off that one.

[2019-04-09 16:46] MicahMcKittrick-MSFT commented on #29075
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-09 16:46] Joll59 commented on #27952
Thank you for the clarification. Closing.

[2019-04-09 16:46] #27952 closed

[2019-04-09 16:46] MicahMcKittrick-MSFT commented on #29087
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-09 16:49] DixitArora-MSFT commented on #29028
@philrowan-mtb Thanks for the update. Could you point out the section of the document specifically in which composer package reference is incorrect.

[2019-04-09 16:49] himanshusinha-msft commented on #29053
Thanks for the feedback and bringing this to our notice . Before we start looking into this ,please let us know which document are you following ?

[2019-04-09 16:50] #19257 closed

[2019-04-09 16:50] #26484 closed

[2019-04-09 16:50] #25921 closed

[2019-04-09 16:50] #18720 closed

[2019-04-09 16:51] #24852 closed

[2019-04-09 16:51] strohne commented on #28573
Sorry for being impatient...any updates in this issue? I am currently working on a paper where we wanted to use this function. Only few days are left for finishing the empirical study part.

[2019-04-09 16:51] nkiest commented on #28976
This is a question for the owner of /rest/api/authorization/roleassignments/getbyid, which I believe is authorization service. The activity log will contain this roleID for 93 days. The question is how long you can do a cross reference to look them up who that roleID was.
This is more a question on https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/getbyid page, rather than th

[2019-04-09 16:54] MicahMcKittrick-MSFT commented on #29023
Thanks @roygara appreciate the help on this!

@johnwildes I will close this out for now but if you have further questions just let us know.

[2019-04-09 16:54] SaurabhSharma-MSFT commented on #28842
@sebhurleyhte I have submitted a PR for the fix and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-04-09 16:54] #28842 closed

[2019-04-09 16:55] MicahMcKittrick-MSFT commented on #29004
@sandeepraichura I will close this out for now. If you have further questions let me know and we can always reopen and continue the discussion.

[2019-04-09 16:55] #29004 closed

[2019-04-09 16:56] MicahMcKittrick-MSFT commented on #29029
@MiyKh at the top of the doc you can change the API version

![image](https://user-images.githubusercontent.com/32313503/55819499-bf7d1b00-5aad-11e9-8bf6-3fabb04926ce.png)

[2019-04-09 16:58] himanshusinha-msft commented on #29063
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-09 17:04] DaveVoyles commented on #28988
This looks great, thank you!

I'm giving a talk on this content at a local user group this weekend, so perfect timing!

[2019-04-09 17:04] #28988 closed

[2019-04-09 17:05] YutongTie-MSFT commented on #28573
@strohne Hi Jakob, I understand your time is limited and this issue is emergent. Could you please send an email to us at azcommunity@microsoft.com? We can help you to figure out this issue first.

[2019-04-09 17:05] himanshusinha-msft commented on #29077
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-09 17:11] himanshusinha-msft commented on #29085
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-09 17:14] SaurabhSharma-MSFT commented on #28749
@gtrudel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-09 17:14] #28749 closed

[2019-04-09 17:14] SaurabhSharma-MSFT commented on #29091
@lin-art Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-09 17:15] SaurabhSharma-MSFT commented on #29088
@cap273 Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-09 17:16] strohne commented on #28573
@YutongTie-MSFT Thank you for your quick response, an email is on the way.

[2019-04-09 17:17] SaurabhSharma-MSFT commented on #27943
@Jnchi Thank you for sharing the resolution over here.  It will help future readers.

[2019-04-09 17:19] SadiqhAhmed-MSFT commented on #28686
@gmelnyk That's a broad question to answer. Could be that the VSS writers were not operational or may be the backup data was huge in size or network glitches. But glad to hear that the issue is now resolved. Thanks for the update. We will now proceed to close this issue. Feel free to reopen the issue if you've further questions in this matter.

[2019-04-09 17:19] #28686 closed

[2019-04-09 17:20] himanshusinha-msft commented on #28887
Closing the issue now

[2019-04-09 17:20] #28887 closed

[2019-04-09 17:22] MicahMcKittrick-MSFT commented on #29027
@MikeChristensen we have a few docs for security best practices on Service Fabric

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-security

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-and-service-security

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security

https://docs.microsoft.com/en-us/

[2019-04-09 17:24] fauhse commented on #28845
Hi loopfish. My name is Fabian, program manager for Azure Files, Azure File Sync and I used to build storage management in Windows Server 2012 through 2016. I think I have a fair amount of understanding of storage in clusters and I wanted to help with a few thoughts here:
With Azure File Sync we have explicitly built support for fail-over clusters. Naturally, in a Windows fail-over cluster, we ass

[2019-04-09 17:27] MiyKh commented on #29029
Hi,
The documentation is a bit confusing when switching to api version "2019-02-01":

The Template format provided in the beginning of the article is for "2019-02-01" whereas the Example template in the QuickStart section is for api version "2018-03-31"

[2019-04-09 17:30] wmgries commented on #28845
@loopfish You could potentially run Azure File Sync inside a VM running on one of the cluster nodes. Typically the reason why people want to run Azure File Sync inside of the cluster is to take advantage of the DR of having clustered file shares with clustered disks. We've never seen this scenario before and is really a corner case for us as @fauhse mentioned, so for now we don't have support for

[2019-04-09 17:32] Mike-Ubezzi-MSFT commented on #29063
@TomasHubelbauer The doc you sourced is not part of the GitHub MicrosoftDocs repository. The doc that is part of the GitHub repository is the following: [Stored procedures, triggers, and user-defined functions](https://docs.microsoft.com/en-us/azure/cosmos-db/stored-procedures-triggers-udfs)
Please let me know if you have additional questions. I have edited your original inquiry to include doc met

[2019-04-09 17:33] DaveAlberto opened #29095 "What are the requirments for seeing alerts/recommendations?"
I see the section in my portal but see "0" for recommendations.  Is there a minimum amount of traffic, or time that must be reached to trigger the analysis?  Is there some test harness that could run to understand if its working on my network?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db55d711-a6c9-a620-a783-6e3e0

[2019-04-09 17:35] anirudhcavale commented on #28457
@annerejula this definitely should be working and I am able to have my postman client query my Guest Metrics back. However, my guest metrics do not have start with a '\' (ex. yours are "\System\Processes" and my metric is just "System\Processes").
Is there an email I can follow up with you on to debug further?

[2019-04-09 17:45] JasonWHowell commented on #29005
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/72372

#please-close

[2019-04-09 17:45] DCtheGeek commented on #29092
@trevor-schmidt Great question! To clarify a key difference between Policy and RBAC:

- **RBAC** - Grant specific operations to specific users or groups.
- **Policy** - Enforce rules on Azure resources.

Someone may have permission (as an assigned RBAC operation) to create a resource, say a virtual machine, but Policy can still limit aspects of that creation, such as only allowing it in a specific

[2019-04-09 17:46] SaurabhSharma-MSFT commented on #28804
@KeiroKamioka0000 I am currently unaware of any changes like you have mentioned. Please provide the document if you find anything over here so that I can check what feature you are talking about.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-09 17:46] #28804 closed

[2019-04-09 17:47] Darko-git commented on #28956
I tried including the pfx file directly in the project and got a different exception when trying to install it.
Searching for that exception landed me here:
https://github.com/dotnet/corefx/issues/25717

The workaround they suggested for that exception actually helps with my issue as well.
If the above thread gets deleted - when using a specific base image in your container you have to run it as C

[2019-04-09 17:47] #28956 closed

[2019-04-09 17:51] j03Martin opened #29096 "Subnet IAM Through Code"
I am hoping to get some documentation on subnets' new IAM features. From the portal I am able to add users to a subnet's IAM pages. Before when I would check on the vnet IAM page it would show the changes I made on the subnet's IAM page. Now the changes do not appear? Which leads me to believe we can now manage IAM at a subnet level. I want to do this through code though and if Azure is doing this

[2019-04-09 17:51] Mike-Ubezzi-MSFT commented on #28608
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-09 17:51] #28608 closed

[2019-04-09 17:53] anirudhcavale commented on #29058
@forester123 can you open a PR with the proposed change?

[2019-04-09 17:53] Adam-Smith-MSFT commented on #28933
@EldhoKSuresh the  `visibility_timeout` parameter is specific to each message, but not for the batch, Could you share your example and how you found out that it wasn't for each message but rather for the whole batch ?

[2019-04-09 17:54] AjayKumar-MSFT commented on #28892
@awws, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue.

[2019-04-09 17:56] annerejula commented on #28457
@anirudhcavale  I tried with just "System\Processes" also with no success.. You can reach me at annerejula.s@zohocorp.com

[2019-04-09 18:03] #28872 closed

[2019-04-09 18:04] MartinJaffer-MSFT commented on #28872
I am closing this issue temporarily.  I will continue working in the background.

[2019-04-09 18:05] Mike-Ubezzi-MSFT commented on #28740
In the [Install the Elastic Database jobs components using the Portal](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-jobs-service-installation#install-the-elastic-database-jobs-components-using-the-portal) section, the instructions need to be updated to reflect the new Elastic Jobs Agent.

![Screenshot (368)](https://user-images.githubusercontent.com/37126106/55823812-64

[2019-04-09 18:08] Mike-Ubezzi-MSFT commented on #28740
Elastic Job Agent configuration dialog:

![Screenshot (370)](https://user-images.githubusercontent.com/37126106/55823999-cc9f0780-5ab7-11e9-8945-f948f9033896.png)

[2019-04-09 18:10] Mike-Ubezzi-MSFT commented on #28740
@CarlRabeler The configuration of Elastic Job Agent via the Azure Portal needs a slight update.

[2019-04-09 18:11] SWATTeamMember opened #29097 "Link to purchase a DevKit takes you to a china webpage"
https://aka.ms/iot-devkit-purchase

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to cloud -- Connect IoT DevKit AZ3166 to Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ardu

[2019-04-09 18:17] MikeChristensen commented on #29027
Thanks!  As always, you are super helpful.

[2019-04-09 18:34] SaurabhSharma-MSFT commented on #28994
@stewartadam They may look identical, and contoso domain name is used as example, however when you access the url by passing the whr parameter to the password reset page with the actual domain name you will get to see the customized page.

[2019-04-09 18:35] MisinformedDNA commented on #24702
Any update on this?

[2019-04-09 18:38] himanshusinha-msft commented on #29084
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-09 18:40] loopfish commented on #28845
Hi @fauhse & @wmgries  thank you for explaining that, though it is a shame I cannot use File Sync on non-file server clusters (we have quite a few of them!). I will close this and the corresponding support ticket I also raised, now I am informed.

[2019-04-09 18:40] #28845 closed

[2019-04-09 18:44] MicahMcKittrick-MSFT commented on #29087
@litvinolek can you provide an example? If the settings are protected they should only be Decrypted inside the VM so you shouldn't be able to see them from the outside.

![image](https://user-images.githubusercontent.com/32313503/55826434-e55dec00-5abc-11e9-92ff-93f2bf3d2557.png)

[2019-04-09 18:47] MicahMcKittrick-MSFT commented on #29029
@iainfoulds any thoughts on how to move forward with this one? Not sure what the action item should be.

[2019-04-09 18:48] rayne-wiselman commented on #24892
@justinshroyer Apologies for the delay on this. The test network is isolated, so i think addresses in the test vnet and production vnet can overlap if nothing is routing. Test network gets cleaned up after the drill.

[2019-04-09 18:48] rayne-wiselman commented on #24892
No action required on the doc. #please-close

[2019-04-09 18:49] MicahMcKittrick-MSFT commented on #29027
@MikeChristensen anytime! :) If you have any other questions feel free to reach out anytime.

[2019-04-09 18:49] #29027 closed

[2019-04-09 18:50] benjamin-goldman commented on #6815
or maybe this was fixed?  I just tested it and I got mixed results.  It looks like it auto updated, but a couple of the interfaces showed me lies.

[2019-04-09 18:50] benjamin-goldman commented on #6815
@cephalin  thanks.  We just tested and it works.

[2019-04-09 18:53] #29005 closed

[2019-04-09 18:54] rayne-wiselman commented on #23976
No longer relevant since we're now using managed disks. #please-close

[2019-04-09 18:58] philrowan-mtb commented on #29028
looks like line 40 in https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/service-bus-messaging/service-bus-php-how-to-use-queues.md
that include is referencing some other markdown for azure storage package which doesn't work with service bus by the looks of it. That [included file](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/get-client-libraries.md) has `"microso

[2019-04-09 19:09] jwargo commented on #25735
@snmn @kirthiroyadu  The Android SDK got a recent refresh, moved to its own repository. All the Android samples were moved to the SDK repo, refreshed and tested. We even added a new complete sample (and associated tutorial in the docs). We even restructured the tutorials so all the Android tutorials are grouped together for easier reading.

Here's a complete FCM tutorial: https://docs.microsoft.co

[2019-04-09 19:11] litvinolek commented on #29087
My CSE parameters:
"protectedSettings": {
              "commandToExecute": "[concat('powershell -ExecutionPolicy Unrestricted -File ', variables('WebAPIScriptFolder'), '/', variables('WebAPIScriptFileName'), ' ', variables('scriptWebParameters'))]"
            }

When I download DEPLOYMENT DETAILS from Azure Portal and open deployment_operations.json my protected settings looks like this:

"prote

[2019-04-09 19:14] litvinolek commented on #29087
Its variable:
"scriptWebParameters": "[concat('-AzAdminUser ', parameters('User'), ' -AzAdminPassword ', parameters('UserPassword'))]"

And this parameters:
"User": {
      "type": "string"
    },
    "UserPassword": {
      "type": "securestring"
    },

[2019-04-09 19:17] iainfoulds commented on #29029
I'm not sure what the discrepancy is? The linked-to article outlines the latest 2019-02-01 API. That's the only API version that will successfully allow the use of the `enableAutoScaling` parameter.

As this cluster autoscaler feature is in preview, any other core quickstart templates won't be updated to reflect this parameter. This article won't be updated to show Azure resource manager templates

[2019-04-09 19:18] roygara commented on #28327
#please-close

[2019-04-09 19:27] jeffbi commented on #29033
Mostly, I think. But it appears that the JSON file is used only for deployment. How do I get an initial module twin when I'm debugging with VS Code, which is how I came across the empty twin in the first place?

[2019-04-09 19:27] ashmeada commented on #28993
I am having the exact same issue, I had to remove the Advisor MPs due to an update issue, now they are added back in I get the same as above user with 1807.
I am using MP version 7.3.13261.0 for Advisor Internal and 7.3.13142.0 for Advisor, if I update this MP to the one for 1801 I then get the error on on boarding about ""System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft

[2019-04-09 19:31] YutongTie-MSFT commented on #29093
@MarkArranz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-09 19:32] trevor-schmidt commented on #29092
We already have templates created via ARM. We are utilizing Templates (preview) to deploy them. The templates have been created with our coding standards.

Current scenario:
There is a new resource group that was created. The users that have assigned contributor access have access to all resources in their resource group. We created an initial Azure Policy that disables them to create the resource

[2019-04-09 19:49] MicahMcKittrick-MSFT commented on #29087
@roiyz-msft can you comment on if this is expected?

[2019-04-09 19:50] TravisCragg-MSFT commented on #29076
@calcobia Thanks for the feedback! I have assigned the issue to the author to evaluate and update as appropriate.

[2019-04-09 19:52] the-blesss opened #29099 "query custom logs issue"
It seems the query and filter functionality of the target Log Analytics workspace is reduced when using a custom log from different tenant/subscriptions. I see the custom logs sent by Event Hub, then handled by the Logic App and sent to target Log Analytics workspace. But using the logs is not very user friendly. Am I missing a step or is there a better way to query and filter the custom logs, the

[2019-04-09 20:01] MicahMcKittrick-MSFT commented on #29011
@johnwildes I was working offline with some of the owners of SIG and there appears to be no issues with the West Europe region. They have informed me that they would like you to open a technical support ticket to have the engineering team investigate further.

Do you have the ability to open a technical support ticket? If yes, please open a ticket and share the number with me. Else, if you don't h

[2019-04-09 20:01] #29011 closed

[2019-04-09 20:02] mamccrea commented on #28856
Hi @blabrom - Can you use [metrics ](https://docs.microsoft.com/azure/event-hubs/event-hubs-metrics-azure-monitor#access-metrics-in-the-portal)to verify that you are receiving events?

[2019-04-09 20:02] MicahMcKittrick-MSFT commented on #29029
Thanks for that @iainfoulds

@MiyKh I will close this for now but if you have additional questions just let us know. In the meantime, the 2019-02-01 API version would be the one to use but it shouldnt have any conflicts with the quickstart. As mentioned we will add more docs as the feature moves out of preview.

[2019-04-09 20:02] #29029 closed

[2019-04-09 20:13] TravisCragg-MSFT commented on #29083
@sucursalwebio You can use Wildcard Certificates with the Bring Your Own Certificate scenario. Please let me know if you have any questions!

[2019-04-09 20:22] sdk-bonsai commented on #28520
I am thinking more of the Second Option Downloading files from the compute nodes directly. But, I don't see a complete example. Did you mean using this:
<get_from_compute_node(pool_id, node_id, file_path, file_get_from_compute_node_options=None, custom_headers=None, raw=False, callback=None, **operation_config)>

[2019-04-09 20:25] prudx opened #29102 ""Authorization cancelled by user""
On completion of the sign in (using google) the browser does not auto close, and when you press back button you get the error in the title. Also when you press "return to website" whilst in the browser, it just brings you to the app service url, not back to the xamarin application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-04-09 20:26] DCtheGeek commented on #29092
@trevor-schmidt I did see that you mentioned already having templates created, that's part of why I pointed you to Blueprints. One of the _artifacts_ it can deploy is your existing templates. Good way to leverage your existing investment in the templates with additional features and re-usable capabilities.

Policy works for both PUT (Create) and PATCH (Update) scenarios. So if your Policy definiti

[2019-04-09 20:28] vikaskumawat80 commented on #28747
@shashishailaj any update on the query I asked?

[2019-04-09 20:44] YutongTie-MSFT commented on #29093
@marktap Hi, I saw a lot of blogs under machine learning are broken, are you moderating it? https://blogs.technet.microsoft.com/machinelearning/2014/11/25/azureml-web-service-parameters/ Please tell me if you are not the right person I should reach out.

[2019-04-09 20:45] trevor-schmidt commented on #29092
Alright… you can just close this then. I will investigate further.

Thanks,

Trevor Schmidt
Associate Software Engineer
Trevor.Schmidt@Andersencorp.com<mailto:Trevor.Schmidt@Andersencorp.com>
(651)264-5769

From: David Coulter <notifications@github.com>
Sent: Tuesday, April 9, 2019 3:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Schmidt, Trevor <Trevor.Schmidt@andersencorp

[2019-04-09 20:50] SubhashVasarapu-MSFT commented on #28549
@mbell85 , Checked with VPN gateway located in west us 2 and successfully configured it to Active-Active state.But, VPN gateway from central india is failing on Active-Active deployment. So, just want to confirm with your VPN gateway location.Thanks in advance.

[2019-04-09 20:59] femsulu commented on #29061
@axelgMS Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-09 21:04] sucursalwebio commented on #29083
Thanks @TravisCragg-MSFT. Fair answer.

As we're using [Let's Encrypt Wildcard Cert](https://community.letsencrypt.org/t/wildcard-domain-step-by-step/58250), that needs periodical (every 3 mo) refresh, we were wondering if an afd-self-wildcard-certificate would be a better fit, as we wouldn't have to take care of renewing (management), if leverages the same mechanism you have in place for regular

[2019-04-09 21:08] Alberto-Vega-MSFT commented on #29097
@SWATTeamMember Thanks for catching that! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-09 21:10] bwren commented on #28894
@ganniaiuei Sorry, I misunderstood.  I'm not seeing that link as broken though.  It's going to the link that you have in your last comment.  You're talking about the sentence "Results from distributed tracing are stored in the traces table."?

[2019-04-09 21:13] femsulu commented on #29042
@Iain-Morris Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review..

[2019-04-09 21:14] ganniaiuei commented on #28894
Strange behaviour. Now, I see it the proper link too. Maybe was only a temporary problem. I can’t reproduce the issue now.

Ottieni Outlook per iOS<https://aka.ms/o0ukef>

________________________________
Da: Brian Wren <notifications@github.com>
Inviato: martedì, aprile 9, 2019 11:10 PM
A: MicrosoftDocs/azure-docs
Cc: ganniaiuei; Mention
Oggetto: Re: [MicrosoftDocs/azure-docs] Broken link (#28894

[2019-04-09 21:16] bwren commented on #28689
I don't have any insights here.  I've not been able to reproduce either.  The note that you reference has to do with the time range of the data used by the query.  Shouldn't effect whether the function works or not.

[2019-04-09 21:16] ChristianMontoya commented on #28072
#please-close

[2019-04-09 21:17] bwren commented on #28689
@KrishnaG-MSFT Suggest we close or assign elsewhere since this doesn't appear to be a doc issue.

[2019-04-09 21:19] msrini-MSFT commented on #28978
@smoelker ,

thanks for the great feedback and the detailed explanation. We are already discussing this internally on how we can address this gap for customers but here are few quick tips that would help reduce the probe costs:

- Set the probe frequency to about 30 seconds (default). This means that from our 70 or so POPs, 2 probes will be sent every minute. The drawback of having higher probe in

[2019-04-09 21:19] #28978 closed

[2019-04-09 21:19] ChristianMontoya commented on #27781
@Digiroka : Looks like your first error has some information "Add-RdsAppGroupUser returns 'UpnAlreadyHasDesktopRights'. Within a host pool, a user cannot be added to both a desktop app group and a RemoteApp app group. If you would like to assign the user to the RemoteApp app group, please remove them from the desktop app group using "Remove-RdsAppGroupUser" cmdlet.

[2019-04-09 21:20] msrini-MSFT commented on #29041
@KeiroKamioka0000 , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-04-09 21:20] #29041 closed

[2019-04-09 21:20] ChristianMontoya commented on #27956
Azure AD has its own caching mechanism. There are some Azure AD controls that admins can use to limit how long that token is active (see https://docs.microsoft.com/azure/active-directory/develop/active-directory-configurable-token-lifetimes ).

[2019-04-09 21:21] Karishma-Tiwari-MSFT commented on #28682
@SychevIgor I got the idea from the other issue that you were in touch with the author who offered to help via email. Let me know if that's not the case, I will reopen this issue and make sure you get help here.

[2019-04-09 21:22] prudx commented on #29102
Sorry error in title "authentication cancelled by user"

[2019-04-09 21:25] MicrosoftGuyJFlo commented on #29078
There are planned updates in progress for this content that includes this feedback already. Thank you for the feedback.

[2019-04-09 21:25] MicrosoftGuyJFlo commented on #29078
#please-close

[2019-04-09 21:25] MarileeTurscak-MSFT commented on #29074
@sirdank it is currently in preview. Is there any specific error you are receiving when you try to get it to work?

@MarkusVi do you know of any guides or documentation for managed identities with app services running on Windows containers? Also, do you plan to update this document to show that this is in preview?

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity

[2019-04-09 21:26] seshenoy commented on #28489
Hello @MarileeTurscak-MSFT No worries... I have been helped by a member from the Cosmos DB. Thanks for your help !

[2019-04-09 21:30] TravisCragg-MSFT commented on #29083
@sucursalwebio If you would like us to implement this feature in the future, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking)! A similar request has already [been posted and replied to Here.](https://feedback.azure.com/forums/217313-networking/suggestions/35531494-allow-wildcard-certificates-for-custom-domain-http)

[2019-04-09 21:31] MicrosoftGuyJFlo commented on #28014
Private repo PR submitted to add \*. to URLs

[2019-04-09 21:32] #28072 closed

[2019-04-09 21:32] qianw211 commented on #28548
@ellacroi ok thanks!  see the following PR for fix: https://github.com/MicrosoftDocs/azure-docs-pr/pull/72600

[2019-04-09 21:33] sethmanheim commented on #29076
@calcobia Thank you very much for the contribution! I have just filed a PR to fix this -- it should be live by tomorrow morning Pacific Time. #please-close

[2019-04-09 21:35] sucursalwebio commented on #29083
Thanks @TravisCragg-MSFT . I'll close this one then and upvote the DECLINED posted idea you mentioned.

[2019-04-09 21:35] #29083 closed

[2019-04-09 21:39] rifuller commented on #29013
@PramodValavala-MSFT are you sure that document is up to date?  The Azure Function template uses CosmosDbTrigger and the example does not have Trigger on it.

This works.

[code]

When I change it to my model, it fails.

[code]

**4/9/2019 9:36:19 PM] Error indexing method 'Function1'
[4/9/2019 9:36:19 PM] Microsoft.Azure.WebJobs.Host: Error indexing method 'Function1'. Microsoft.Azure.WebJobs.Hos

[2019-04-09 21:44] #28014 closed

[2019-04-09 21:46] kazinad opened #29105 "Costs and prices"
I can't find the prices of the premium plan. I understand this is a preview feature, but would be great to see clear comparisons to consumption plan, e.g.: the costs of pre-warmed instances in preview period and in final.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Inde

[2019-04-09 21:51] rrperkin opened #29106 "Failed at Add-MsolRoleMember"
Well, I can't proceed, because the demo here fails at the Add-MsolRoleMember  step with:

PS C:\WINDOWS\system32&gt; Add-MsolRoleMember -RoleObjectId fe930be7-5e62-47db-91af-98c3a49a38b1 -RoleMemberObjectId $sp.ObjectId -RoleMemberType servicePrincipal
Add-MsolRoleMember : Access Denied. You do not have permissions to call this cmdlet.
At line:1 char:1
+ Add-MsolRoleMember -RoleObjectId fe930be7-5

[2019-04-09 22:09] MicahMcKittrick-MSFT commented on #28457
Thanks @anirudhcavale

@annerejula I will close this out and let you two work offline on this further.

[2019-04-09 22:09] #28457 closed

[2019-04-09 22:09] MartinJaffer-MSFT commented on #29037
@rahulunlimited  , since you have not responded, I am going to close this issue.  If you have any more questions, feel free to ask, am I will reopen the issue.

[2019-04-09 22:09] #29037 closed

[2019-04-09 22:23] matthchr commented on #28520
Yes, that's the right API.
There's also another one `get_from_task` I believe which takes `(job_id, task_id, file_path)`

[2019-04-09 22:28] qianw211 commented on #28548
#please-close

[2019-04-09 22:30] #23976 closed

[2019-04-09 22:30] #29076 closed

[2019-04-09 22:30] #24892 closed

[2019-04-09 22:30] #29078 closed

[2019-04-09 22:30] #29092 closed

[2019-04-09 22:31] KeiroKamioka0000 opened #29107 "AzureCloud Service tag and Port"
As long as having Azure Cloud Service tag, does user have to open the port to make a connection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups overview](https://docs.microsoft.com/en-us

[2019-04-09 22:31] #20953 closed

[2019-04-09 22:31] #28327 closed

[2019-04-09 22:33] philrowan-mtb commented on #29028
@DixitArora-MSFT it looks like this dead-ended quite a while ago but I think these 2 are related: https://github.com/MicrosoftDocs/azure-docs/issues/7505. I am guessing that Azure Storage (blob, table, queues) was included with the general SDK at some point (which also included the service bus proxy and possibly other Azure stuff). even `"microsoft/azure-storage"` is reported as deprecated (abando

[2019-04-09 22:34] cweining commented on #24347
.net core 2.2 is now supported by Application Insights. This should no longer be an issue.

[2019-04-09 22:35] cweining commented on #24347
#please-close

[2019-04-09 22:43] wamota commented on #22173
There's a note on the beginning of the list explaining that after the 1811 update, ports in the range of 12495-30015 are no longer required to be open due to the addition of the Extension Host.  The components are listed individually so that you can confirm which one's changed.

[2019-04-09 22:46] MartinJaffer-MSFT commented on #28856
I am having difficulty obtaining a Twitter Developer account.  This is blocking me from completing the tutorial and reproducing your issue.

I have noticed multiple issues in the document which will require updating.  These include:
Under "Create a Spark Cluster in DataBricks"
- Step 3: Databricks Runtime version 4.0 is no longer available
- Step 3: Cluster Type is no longer an option
- Step 3:  T

[2019-04-09 22:48] joweek opened #29108 "does not contain a method named 'AcquireToken'"
Regarding the office365_subscription.ps1 script.
This issue has not been resolved.  There is nothing in the documentation about requirements relating to modules, and the script doesn't check for anything either.
This script simply does not work and needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 065

[2019-04-09 22:55] LuisCh4vez commented on #27712
Hi,

I am having the exact same issue as skiran11, is it a bug or is it a current limitation? The requirement from the client is to have event-based trigger when a file arrives in a CDM folder in ADLS Gen 2 and copy the file to another location inside ADLS Gen 2.

[2019-04-09 23:06] MashaMSFT commented on #29003
Hi @Mike-Ubezzi-MSFT , can you please assign this to @MikeRayMSFT ? He's investigating this further. Thanks!

[2019-04-09 23:19] femsulu commented on #29099
@the-blesss Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-09 23:26] yushwang commented on #17516
@Ellenprater

Apologize for the confusion - this one is a bit tough. The Azure gateway VPN type unfortunately is called "route-based", although we tried to call out in the Note below that "UsePolicyBasedTrafficSelectors" option is required, which means access-list based TS, not any-to-any. That's why it would work with 5505 or 5510 as long as IKEv2 is supported.

Cisco support is of course correct

[2019-04-09 23:30] MartinJaffer-MSFT commented on #29086
Hello @andrealibero and thank you for bringing this issue to our attention.  We will review the document and let you know when we have more information.

[2019-04-09 23:35] cweining commented on #23908
I've updated the documentation at this location to deal with the questions in this issue:   https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-aspnetcore-linux
#please-close

[2019-04-09 23:36] yushwang commented on #17516
@carlbuchmann - again, sorry for the confusion. Here's the TL;DR version:

1. Azure route-based VPN WITHOUT "UsePolicyBasedTrafficSelectors" option: on premises route-based any-to-any would work
2. Azure route-based VPN WITH "UsePolicyBasedTrafficSelectors" option: on premises policy-based TS configuration would work

Again, the docs should be correct, but the confusion is how the "UsePolicyBasedT

[2019-04-09 23:37] yushwang commented on #17516
(Feel free to re-open if more questions)
#please-close

[2019-04-09 23:38] drinkbird commented on #23908
Thank you @cweining. I realize it's not on you, but looking forward to the profiler working on demand for Linux too :) Cheers

[2019-04-09 23:38] #23908 closed

[2019-04-09 23:41] cweining commented on #23908
Actually it is on me. I'm the dev lead for the profiler.  :)  I'm hoping we can get to it soon.

[2019-04-09 23:43] drinkbird commented on #23908
Ah, great to know! Thanks again and best of luck going forward

[2019-04-09 23:47] anavinahar commented on #22864
@TravisCragg-MSFT who is tracking the issue with Cloud Shell? Seems to be a limitation? Where is the bug?

[2019-04-09 23:56] yushwang commented on #28153
@chrisbachmann

Thanks for the suggestions. We will improve this doc to address the questions you raised. For now, answers to your questions below:

1. In the PowerShell example, the VNet also has two prefixes, with 3 subnets defined within the prefixes: 10.11/16 and 10.12/16. The subnet definitions are all declared in as PowerShell variables. We just did not add an additional diagram to illustrat

[2019-04-09 23:57] yushwang commented on #28153
Please re-open the issue if you have further questions.

#please-close

[2019-04-10 00:04] yushwang commented on #28549
@mbell85 - it should work on all regions, if not, please open a Support Request and we will look into the issue.

#please-close

[2019-04-10 00:06] yushwang commented on #24525
As mentioned in a separate issue - this should work. If it kept failing, please open a Support Request. And you do NOT need to create a new gateway for active-active.

#please-close

[2019-04-10 00:13] himanshusinha-msft commented on #29096
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 00:28] cogran opened #29110 "Supported regions"
The supported regions is somewhat inaccurate. While traffic analytics itself may be supported in each of those regions, the OMS workspace must be located in one of the Network Performance Monitor support regions when using Traffic Analytics in conjunction with NSG Flow Logs. Neither the NSG Flow Logs nor the Traffic Analytics documentation explicitly calls out the allowed regions but rather indire

[2019-04-10 00:29] dcbrown16 opened #29111 "Limited to premium?"
"IOPS limit of the VM size chosen should be greater than total IOPS driven by premium storage disks attached to it."
There are a lot of statements like this one on this page, but it's possible to have both Standard and Premium disks attached to the same VM. Shouldn't statements like this leave out "premium" so they apply to both types, or am I missing something?

---
#### Document Details

⚠ *Do n

[2019-04-10 00:43] mprentice22153 opened #29112 "PTA after PHS is configured"
How do I switch to using Pass-through Authentication when Password Hash Synchronization is already setup?  What are the correct steps?  There should be an option to switch to PTA without uninstalling AADC and reinstalling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a977c84-24c7-3f79-07f2-faa7acdfe282
* Version Ind

[2019-04-10 00:43] wahyuen commented on #28823
Having reviewed that link, I'm not sure which part would facilitate how one can automate the provisioning of the Video Indexer account?

From the article, it allows a user to sign up and register for the account. While it works in a manual scenario, we are currently looking for an automated way to ensure that all of this (and other Azure services) can be deployed without having to manually configu

[2019-04-10 00:46] HJToland3 commented on #21319
@J-E-C, have you had a chance to check whether or note you have some sort of deny permissions as well? Per the PM, CONTROL SERVER role should be enough.

[2019-04-10 00:47] mike-urnun-msft commented on #29105
Hi @kazinad Thank you for your feedback! We will review and update as appropriate.

[2019-04-10 01:16] KeiroKamioka0000 opened #29113 "Which port number needs to be open to do update for VM"
Is port 80 or 443 is the correct port number needs to be open to do update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd94c0c-f17e-8db8-98fd-0a2d6b92be3e
* Version Independent ID: 5e8515fe-0f31-f175-1a30-eaa37cfafb9d
* Content: [Tutorial - Monitor and update Linux virtual machines in Azure](https://docs.microsoft

[2019-04-10 01:26] msdhana commented on #18475
After adding the policy(checking against thumbprint of a client certificate against certificate uploaded to API management), I tested my API and it is throwing 403 error from the console. I really appreciate how to guide me to validate multiple thumbprints.

HTTP/1.1 403 Forbidden

date: Wed, 10 Apr 2019 01:25:34 GMT
content-length: 0
vary: Origin
ocp-apim-trace-location: https://apimgmtst6caa1zch

[2019-04-10 01:37] forester123 commented on #29058
@anirudhcavale I've created the pr in the private repo azure-docs-pr, check here https://github.com/MicrosoftDocs/azure-docs-pr/pull/72637

[2019-04-10 01:39] WenJason commented on #29052
Hi Ajaykumar,
I just suggested that if we should indent  the two value tables of the "create a Windows Store project" part and the "add a reference to the Smooth Streaming Client SDK" part. Thanks.

[2019-04-10 01:52] cogran opened #29114 "NSG flow log limitation with Storage service endpoints"
There is no indication that NSG flow logs cannot be used with Storage service endpoints at this time. However, when enabling NSG Flow logs on a NSG in a subnet with storage service endpoints, flow logs can discontinue logging to the storage account. The only workaround is to disable flow logs or the service endpoint. The documentation here should be updated to accurately reflect the current limita

[2019-04-10 01:58] HJToland3 commented on #19807
@Anmolgan81 - We are working with the original author of the blog post to get an updated version.  We will post that as soon as it is available.

[2019-04-10 02:07] #29107 closed

[2019-04-10 02:20] Charmendar opened #29115 "How can we selectively deploy properties inside copy loop"
How can we selectively deploy properties inside copy loop?

I am using Copy to iterate through an input list for subnet parameters and deploy them through template. Template as follow.

The challenge is that some of the subnets are not associated with a NSG and thus if we pass empty string the following template will error out. How can we put condition into the template to deploy the networkSecuri

[2019-04-10 02:30] skadeb87 commented on #28308
I was able to successfully add a user to the AppGroup, but I get the following error message why trying to remove-rdsappgroupuser the same user from the AppGroup

Remove-RdsAppGroupUser : User is not authorized to query the management service.

[2019-04-10 02:31] KeiroKamioka0000 commented on #29113
Solved by myself, closing. Thanks.

[2019-04-10 02:33] xinzouMicrosoft commented on #28967
@Karishma-Tiwari-MSFT , any update? Thanks a lot!

[2019-04-10 02:43] jeevansd commented on #24858
@max-allan-surevine @scootafire @arnrist We are testing the plugin for JIRA 8.0  so soon we will update the plugin.
Also note that we have tested the plugin against the JIRA Service Desk 3.0 3.1 and 3.2 on Ubuntu 16.04 and on Windows. All these service desk versions are supported on the new plugin. So please download this and try again.

[2019-04-10 03:05] jeevansd commented on #12247
@Kilafer Our new plugin does support the JIRA Service Desk 3.8.2 and 3.8.5 version. We have tested this on Linux and Windows OS.

[2019-04-10 03:06] jeevansd commented on #12247
@Kilafer  Now we will update the doc. @chetansriv and @v-viinde  Can you please update the doc with these version numbers?

[2019-04-10 03:18] lassogames commented on #11383
I am having a similar problem with this. I have an azure function app with AAD auth (anonymous) and an Auth Token input binding from the graph and use it to server content to an SPA. I've used ADAL.js and MSAL.js to authenticate against our AAD and get accessTokens, but after the hour period the function app fails with AADSTS500133 assertion is not within its valid time range. If I navigate to any

[2019-04-10 03:29] githubavi commented on #28756
OK, will wait

[2019-04-10 03:35] lovelangy opened #29118 "ReservedIP 'xxx' was not mapped to an endpoint for a worker role"
I  run into  the below issue.

'Validation Errors: Error validating the .cscfg file against the .csdef file.  Severity:Error, message:ReservedIP 'my-IP' was not mapped to an endpoint.  The service definition must contain atleast one endpoint that maps to the ReservedIP.'

And it can be fixed by adding endpoint to .csdef file.
 &lt;Endpoints&gt;
      &lt;InputEndpoint name="Endpoint1" protocol="tc

[2019-04-10 03:46] omerzubair opened #29119 "We have SQL team and they are also managing MYSQL Azure resources. There is no built-in role to includ ethe management of MYSQL i.e Microsoft.DBforMYSQL. And custom roles cannot be applied to Managment Groups."
We have SQL team and they are also managing MYSQL Azure resources. There is no built-in role to include the management of MYSQL i.e Microsoft.DBforMYSQL
Cannot use  custom roles cannot be applied to Management Groups.
Can there be a built in role created which includes Microsoft.DBforMYSQL.
thanks

[2019-04-10 03:56] paulpce opened #29120 "Clarification on non-HTTP triggers"
Can you please clarify and expand on the following note at the bottom of the page:
&gt; This strategy works best when you use HTTP and webhook triggers for orchestrator functions. For non-HTTP triggers, such as queues or Event Hubs, the trigger definition should derive from an app setting that gets updated as part of the swap operation.

A simple example would be useful, thanks.

---
#### Document

[2019-04-10 04:14] geoffma opened #29121 "Scripting not clear enough."
Creating users has to be done this way and only this way(seperate query windows):

First, we have to create login and user for master database. Open new window for master database:

And run the script:

CREATE LOGIN blog WITH password='xxxxxxx'
GO

CREATE USER [blog] FOR LOGIN [blog] WITH DEFAULT_SCHEMA=[dbo]
GO

Next (and last), open new query window with for desired database:
And run script to c

[2019-04-10 04:14] KalyanChanumolu-MSFT commented on #29119
@omerzubair The RBAC role for MySQL is not available today.
Please vote for the feature [here](https://feedback.azure.com/forums/597982-azure-database-for-mysql/suggestions/19416103-please-add-an-azure-database-for-mysql-contributor) and it will be prioritized accordingly.

[2019-04-10 04:15] neeleshray commented on #29112
@mprentice22153
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 04:16] neeleshray commented on #29106
@rrperkin
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 04:16] RohitMungi-MSFT commented on #28837
@Mushududu We will now proceed to close this thread. Please use the [user voice](https://cognitive.uservoice.com/forums/555925-speaker-recognition-api) forum for requesting a new quickstart guide. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-10 04:16] #28837 closed

[2019-04-10 04:17] neeleshray commented on #29095
@DaveAlberto
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 04:27] stgeorgi commented on #28308
@skadeb87 can you share the full command? if you are using the same user this should not happen

[2019-04-10 04:29] mganeshphani commented on #28150
@Karishma-Tiwari-MSFT  Can you help me with an example of how to do this DNS label with Azure DNS?

[2019-04-10 04:33] KetanChawda-MSFT commented on #29102
@prudx Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 04:35] BhargaviAnnadevara-MSFT commented on #28907
@SeanCLeavitt I've verified that the correction is reflected in the original document against which the issue was raised. Thanks again for catching that error in the docs!

We're now going to close this thread as resolved. If there are any further questions regarding the documentation, please tag me in your reply and we'll be happy to continue the conversation.

[2019-04-10 04:35] #28907 closed

[2019-04-10 04:36] KetanChawda-MSFT commented on #29108
@joweek Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 04:37] archmangler commented on #26361
Hi @abhiSakhuja - New error after applying that  fix:

[code]
Given #28999, is the format still the same ?

[2019-04-10 04:43] mysaggar commented on #29053
Hi @himanshusinha-msft
I was following [https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob](url)

[2019-04-10 04:47] KetanChawda-MSFT commented on #28923
@keerthig-microsoft Have you added Your Function App MSI reference to the KV Access Policies ?

![image](https://user-images.githubusercontent.com/28587628/55852227-bd808e00-5b79-11e9-87ce-77683d7bf41c.png)

![image](https://user-images.githubusercontent.com/28587628/55852243-c7a28c80-5b79-11e9-9602-57ba656ca263.png)

[2019-04-10 05:01] RohitMungi-MSFT commented on #29072
@andrehe001 Could you please confirm which version of 'ml' cli extension is used? You can check the same in the cli extensions directory of your home.
`cat /home/<user>/.azure/cliextensions/azure-cli-ml/azure_cli_ml-1.0.10.dist-info/METADATA`

I am able to see the project sub command in help with version 1.0.10 of 'ml' extension

![image](https://user-images.githubusercontent.com/46958063/55852683

[2019-04-10 05:14] dcbrown16 opened #29123 "ToC"
Is this page deprecated? It's not showing in the ToC that I can see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea9af329-4422-9488-6500-92ee82a87b89
* Version Independent ID: 362414e4-f8d7-b5d5-606d-8552f575e2d4
* Content: [Azure API management policy sample - Send errors to Stackify for logging](https://docs.micro

[2019-04-10 05:21] jinzejian opened #29124 "Explain MSEE IP in effective route table to customers"
[Enter feedback here]

The next hope IPs to on-prem of the effective route table for VMs are MSEE's PA, but customers don't know those IPs and cause confusions (What're those IPs, why they're not ER gateway's IPs).

Request to add routing path explanation in public document or add explain in Azure portal to avoid customer confusion.

Thanks.

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-10 05:24] ShehzadUIT commented on #28308
@stgeorgi : is there a way I can send you screenshots and detailed info about the issue I am having?

[2019-04-10 05:33] aquibqureshi26 opened #29125 "No where mentioned that this is will be a security risk if we disable rules"
Hi Team,

I know we can disable, the rules if we do not want to make changes to application. But that is a security risk as well as SQL injection rule if disabled will create security risk. In the article there should be somewhere mentioned about the security risk as a note.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-04-10 05:42] ShehzadUIT commented on #28308
Last time I was configuring WVD in my lab where the AD DS is not synced with AAD. This time I am using our prod environment where our AD is synced with AAD. the accounts that I am specifying in **defaultDesktopUsers** are accounts that are synced between AD and AAD.
I can successfully connect to the Windows Virtual desktop tenant from the URL: https://rdweb.wvd.microsoft.com/webclient/index.html.

[2019-04-10 05:44] blueelvis commented on #28976
@nkiest @femsulu - Can you me with someone on the Authorization service? On that page, I don't see any way to provide feedback or raise a bug.

Will Activity Log contain all the entries for 93 days and is same across all services or are there any differences?

[2019-04-10 06:08] hhughes0 commented on #29080
Hello

We have Windows Server 2012 R2 VMs in Azure, which are using Custom DNS
servers and a ForcedTunneling route table. The custom DNS servers are
Serber 2016 and can contact the KMS url correctly. However the Server 2012
R2 VMs cannot psping the KMS url.

After adding a new route to the ForcedTunneling route table to the KMS
address as documented here:
https://docs.microsoft.com/en-us/azure/vir

[2019-04-10 06:17] angoyal-msft commented on #29121
@geoffma Thanks for your feedback. Could you please elaborate on what exactly you are looking for.
The URL you have shared is not maintained by Microsoft.

[2019-04-10 06:19] dcbrown16 opened #29126 "Standard and IPv6"
Basic specifically calls out protecting IPv4 and IPv6, while Standard only covers IPv4. Does Standard offer reduced support in that sense?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3e-edc135c82167
* Content: [Azure DDoS Protection

[2019-04-10 06:23] StefanSchoof commented on #28831
Thanks for all the answers.
@erich-wang If someone with the connection string can get the acr admin password, is following things possible?
1. E extraxts one connection string (take control over one device, got physical access and takes the hard disk...)
2. We upload a new Version x
3. E sees the new version and uploads a new version x with added malware
4. All iotedge devices are getting from now

[2019-04-10 06:29] rayne-wiselman commented on #26718
We've requested update of the downloaded file. Thanks for your feedback.
#please-close

[2019-04-10 06:30] dcbrown16 commented on #7348
@jimdial, it's vaguely readable but the third image could use an update for dark theme as well. Thanks!

[2019-04-10 06:33] DixitArora-MSFT commented on #29105
@kazinad Premium plans are charged per second per the compute used. One distinction with the premium plan is you are charged for the cores and memory per worker running, regardless of how many apps or executions are active at the time within that worker. Full details on pricing can be found on the [Azure pricing page](https://azure.microsoft.com/en-us/pricing/details/functions/) and [Plan - Billin

[2019-04-10 06:36] KetanChawda-MSFT commented on #29123
@dcbrown16 Thank you for your feedback.

@mikebudzynski Can you please confirm this?

[2019-04-10 06:37] msrini-MSFT commented on #29080
@hhughes0 , It is applicable for all the VMs. I am not sure how your custom DNS is able to access the KMS url directly when there is a route table to force traffic to On-Premises.

Is your Custom DNS is deployed in a subnet where BGP route propagation is disabled?
Do you have a separate route table for your Custom DNS subnet?

[2019-04-10 06:37] KetanChawda-MSFT commented on #29120
@paulpce Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 06:41] msrini-MSFT commented on #29124
@jinzejian , The next hop which you are seeing is nothing but Azure MSEE's Interface IP. Customer can get to know this IP address from their respective CE providers.

The outbound traffic will not flow via ER gateway and it takes DSR to reach MSEE directly.

Let me know if you have any further questions.

[2019-04-10 06:48] santo2 commented on #29051
Hi, thanks for the reply.
regarding the parameter replacement in Azure pipelines
My goal is to have no production parameters in my development environment. So I expected to use the approach above in the following setting:
- apply the settings like mentioned in this article
- in Azure Pipeline, add a variable list which will override these "tags"?
- in the release pipeline, specify that the variabl

[2019-04-10 06:49] jinzejian commented on #29124
Hi Karthik,

I’m an Azure networking support engineer and totally understand that’s MSEE’s IP and how it works.

The point is that Azure public document doesn’t explain MSEE IPs, but MSEE IPs show up in VM’s effective route table on Azure Portal, which causes confusion to our customers.

I provided this feedback, wondering if we can add some explanation of this in our public articles so customers

[2019-04-10 06:50] KetanChawda-MSFT commented on #29110
@cogran Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 06:52] msrini-MSFT commented on #29126
@dcbrown16 , Standard DDOS provides additional features over Basic which means the features of what Basic plan has still apply.

Does that answers your question?

[2019-04-10 06:52] KetanChawda-MSFT commented on #29111
@dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 06:53] Janani100 opened #29128 "Start Continuous Recognition Async()"
How to do Continuous Recognition using C#.Give example for StartRecognitionAsync

[2019-04-10 06:53] antgonmir commented on #29037
I think the question refers to the cross-platform Azure CLI. From what I have been able to research so far, there is no "az datafactory..." set of commands. Could you please confirm this is the case? Is this planned to be introduced soon at some point? Thanks.

[2019-04-10 06:54] mandarsj opened #29129 "unknown field --address on az aks brows command"
I fired az aks browse command as follows

az aks browse --resource-group MyRG --name aksdemo2

the response is

Proxy running on http://127.0.0.1:8001/
Press CTRL+C to close the tunnel...
Error: unknown flag: --address

Examples:
  # Listen on ports 5000 and 6000 locally, forwarding data to/from ports 5000 and 6000 in the pod
  kubectl port-forward pod/mypod 5000 6000

  # Listen on ports 5000 and

[2019-04-10 06:55] SubhashVasarapu-MSFT commented on #29125
@aquibqureshi26 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-10 06:56] jakaruna-MSFT commented on #29113
@KeiroKamioka0000 Please post your findings. It may help the community

[2019-04-10 07:01] msrini-MSFT commented on #29124
@jinzejian , i will assign this issue to the author to get this documented.

[2019-04-10 07:10] RohitMungi-MSFT commented on #28893
@JohnStraumann66 The error in the screen shot is probably because you are using the VS project from a folder path whose name or path is more than 260 characters. Try to move your solution to a path which is shorter, probably `C:\Users\User\Project `and check?

For using custom vision API's programatically you can try this [quickstart](https://docs.microsoft.com/en-in/azure/cognitive-services/custo

[2019-04-10 07:12] kishan19 commented on #28811
Hi @RohitMungi-MSFT  I tried with two new datasets. One is my training dataset called IMDA-Training Data, and the other am using for testing called IMDA- Test data. Attached both images from the dataset validation. As you can notice, the dataset and transcript files seem to be uploaded fine, it is the creation of the model which is failing.

In fact, all combinations I've tried and am still unable

[2019-04-10 07:20] ng-marcus commented on #11383
We stopped using the token binding and handle it ourselves.   Our functions are run infrequently enough that it's not an issue for us to do it as needed.   The basic code we use is this:

`
string tenantId = ClaimsPrincipal.Current.FindFirst("http://schemas.microsoft.com/identity/claims/tenantid")?.Value;
string authority = $"https://login.microsoftonline.com/{tenantId}";
// convert the ID token t

[2019-04-10 07:36] himanshusinha-msft commented on #28987
@haoxin : We did tried different things on our side to repro this , but unfortunately with no success . At this time we understand that you need to revisit all the related things installed on your system . We know that Python 2 and Python 3 version there are not compatible on many fronts . You may also reach out of the MSDN and other forums and see if someone has experienced this before .
We will

[2019-04-10 07:37] abhiSakhuja commented on #26361
@archmangler If you creating a linked service for storage, I would say you must be using an application (Service Principal) to do that, if yes, then you can use below given properties:

[code]

Alternate Solution: Go to Azure Console > ADF > LinkedService > Create a sample storage linked service > check our the JSON format.

[2019-04-10 07:40] kazshi commented on #10458
Looks like the content has been updated and this thread was ignored (I cannot track this anymore since too old). Closing.

[2019-04-10 07:40] #10458 closed

[2019-04-10 07:44] geoffma commented on #29121
I just spent half a day trying to set up users on a new database, where if it was clear that I needed to create two new query windows and do scripts in each, I could have saved that half day.

Sent from Yahoo7 Mail on Android

  On Wed., 10 Apr. 2019 at 4:17 pm, angoyal-msft<notifications@github.com> wrote:
@geoffma Thanks for your feedback. Could you please elaborate on what exactly you are looki

[2019-04-10 07:44] kazshi commented on #14355
@femsulu Looks like the content has been updated and this thread was ignored (not working well). I no longer track this since it's too old. Closing.

[2019-04-10 07:44] #14355 closed

[2019-04-10 07:49] imeya opened #29130 "How to choose hot tier and cool tier?"
If I have some data, stored in azure blob. And these data are frequently accessed, also need to be stored for a long time.
Then which tier should I use? hot or cool tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID: 3da34196-ac73-5fd9-c473-51a07226f83a
*

[2019-04-10 07:51] alanamircruz commented on #8423
Hi everyone,

Any workaround on this topic ?, we are facing the same issue in 2019 while trying to pass environment variables (parameters) to my private docker image through an App Service, Web App for Container and Containers in Azure... same output

[2019-04-10 07:56] maxgaulhofer commented on #7484
I created an item on feedback.azure.com
https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/37336423-specify-costcenter-when-creating-subscription-from

please vote :-)

[2019-04-10 07:56] wukun2015 opened #29131 "F5 in VS doesn't run the app before CLI "dotnet run""
When i open the solution directly in VS2019 and press F5, nothing happen but below message:
The program '[11492] dotnet.exe' has exited with code -2147450751 (0x80008081).
The program '[11492] dotnet.exe: Program Trace' has exited with code 0 (0x0).

But it works after dotnet run in cli.

Seems a bug or out-of-date of solution/project configuration for .net sdk/nuget version catch up?

---
#### Do

[2019-04-10 07:58] angoyal-msft commented on #29121
@geoffma Thanks for the clarification. I have assigned this issue to the content author to update the document appropriately.
@VanMSFT Could you please look at the concern from the user.

[2019-04-10 08:02] iizotov opened #29132 "Clarify ingress/egress event for Throughput Unit"
&gt;Throughput in Event Hubs defines the amount of data in mega bytes or the number (in thousands) of 1-KB events that ingress and egress through Event Hubs

1. Please clarify how **1-KB events that ingress and egress through Event Hubs** are calculated, for individually sent messages and for batches of messages
2. Please clarify how/if API calls count towards the TU ingress event quota. For examp

[2019-04-10 08:03] DashleenBhandari-MSFT commented on #28823
@wahyuen I will check this and update you.

[2019-04-10 08:03] wukun2015 commented on #29131
by the way, my dotnet --info as below for reference：
environment info as below .NET Core SDK (reflecting any global.json):
 Version:   2.2.203
 Commit:    e5bab63eca

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.203\

Host (useful for support):
  Version: 2.2.4
  Commit:  f95848e524

[2019-04-10 08:14] mcmilad opened #29133 "Public peering was retired a long time ago"
Please replace references to “public peering” with “Microsoft Peering”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c540f4bf9d
* Content: [VNet endpoints and rules for single and pooled databases in Azure SQL](https://docs.micros

[2019-04-10 08:14] RohitMungi-MSFT commented on #28811
@kishan19 Do you see any more information in the details link?
If there are no details of the failure in the details link could you please raise a support ticket from azure portal. The screen should look something like this and you can provide a description of the issue for reference with this issue number.
![image](https://user-images.githubusercontent.com/46958063/55862549-4dcccc00-5b96-11e9-84a

[2019-04-10 08:19] mcmilad commented on #29133
Please close the issue.
Document is referring to the old deployments of ExpressRoute

[2019-04-10 08:22] ichivers commented on #23166
Agreed!  I've got to migrate from to v2 soap service reference, not helpful at all.  Why isn't there an OpenAPI or Swagger documentation published for the v3 API?

[2019-04-10 08:25] wahyuen opened #29134 "ElasticPremium pricing tier not allowed in resource group"
Currently getting the following issue while attempting to deploy the Premium plan to an existing Resource Group. Is this a known limitation of the premium plan? What is the expected migration path for deployments that wish to upgrade? Are users expected to have to redeploy to a completely new resource group just to use the feature?

`The pricing tier 'ElasticPremium' is not allowed in this resourc

[2019-04-10 08:27] RohitMungi-MSFT commented on #29128
@Janani100 Could you please provide us a document link that you are referring to for this issue?
Also, Could you please provide us more information of the service that you are referring to for which you need an example?

[2019-04-10 08:28] RohitMungi-MSFT commented on #29128
Based on the description of the issue I guess you want to use Azure Cognitive Services Speech to Text. Here are the [samples](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/csharp/dotnet-windows/speechtotext-wpf) for the same.

[2019-04-10 08:36] hhughes0 commented on #29080
The documentation says that this is only applicable to forcedtunneling VMs
which are older that 2012 R2? It says 2012 R2 and above it is not required?
If this is applicable to all OS', please can you update the documentation?

The custom DNS servers do not have a separate route table, just the forced
tunneling route table.

On Wed, 10 Apr 2019 at 07:37, KARTHIK SRINIVAS <notifications@github.com>

[2019-04-10 08:37] hansmbakker commented on #28805
cc @ccompy

[2019-04-10 08:40] SadiqhAhmed-MSFT commented on #29115
@Charmendar Thanks for the question! We will investigate on this and get back to you soon.

@tfitzmac Your insights please?

[2019-04-10 08:41] RamonBertrand commented on #27712
We are experiencing the same issue after enabled events for use in another container in the same storage account.

[2019-04-10 08:44] YASWANTHM-MSFT commented on #29130
@imeya,Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-10 08:45] YASWANTHM-MSFT commented on #29131
@wukun2015 , Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-10 08:49] DavidR91 opened #29135 "Resource graph default rate limit"
When using the resource graph, responses are returned with `x-ms-ratelimit-remaining-tenant-resource-requests`  starting at ~150

Is there an explanation of this rate limit? e.g. what time duration does it apply to?

Is the throttling mentioned in the article referring to this rate limit, or are there other throttle measures? (e.g. should callers expect to receive 429 when they are yet to hit the

[2019-04-10 08:50] DavidR91 commented on #29135
The response to #24478 stated that limits are being adjusted because the service is in preview - is this still the case?

I cannot find any details explicitly stating whether RG is in preview or GA

[2019-04-10 08:53] calcobia commented on #29076
@sethmanheim Thank you.
For future reference, this is the PR mentioned: [72603](https://github.com/MicrosoftDocs/azure-docs-pr/pull/72603/)

[2019-04-10 08:58] aquibqureshi26 opened #29136 "Customer owned keys in key vault and Key Rotation"
Customer owned keys in key vault and Key Rotation

Can you tell me if my understanding is correct and my queries.

KEK is used to encrypt DEK. when we consider customer owned key scenario we provide key which is then used to encrypt the asymmetric encryption key (AEK) which is also known as KEK. Then KEK encrypts/Decrypts DEK.

so when we rotate the keys then we change the customer owned keys whic

[2019-04-10 08:58] marinnedea opened #29137 "Incomplete/confusing instructions:"
In the https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux#install-blobfuse-on-linux section, you have:

"Blobfuse binaries are available on the Microsoft software repositories for Linux for Ubuntu and RHEL distributions. "
A few lines later, "Blobfuse supports installation on Ubuntu 14.04 and 16.04."

Which is the right one? I think the "Blobfuse supports ins

[2019-04-10 08:59] angoyal-msft commented on #29133
@mcmilad We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-10 08:59] #29133 closed

[2019-04-10 09:01] KetanChawda-MSFT commented on #29134
@wahyuen Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 09:12] axatix opened #29138 "Ms/Mmsv2"
there is mentioned Ms/Mmsv2. Where I can find more about the Mmsv2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure virtual machine with Accelerated Networking](https://docs.microsoft.com/en-us

[2019-04-10 09:17] DixitArora-MSFT commented on #29049
@KeiroKamioka0000 Each backup expires after 30 days. If you attempt to restore a backup after the 30-day expiration period has expired, the restore will fail with a 'Cannot restore: backup expired' message and user need to explicitly delete the backup after 30 days.

[2019-04-10 09:20] andyjballgit opened #29139 "Enable Traffic Manager section / Add Hostname section confusing"
In section
4.Use the Hostname text boxes to enter the Traffic Manager domain name to associate with this web app.

in the dialogue it shows Hostname of www.contoso.com ,  that is not the Traffic Manager domain name is it ? Should be &lt;something&gt;.trafficmanager.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 727

[2019-04-10 09:24] YASWANTHM-MSFT commented on #29130
@imeya, You can choose Hot tier according to your requirement since you want to access the data frequently.
The hot access tier has higher storage costs than cool and archive tiers, but the lowest access costs. The cool access tier has lower storage costs and higher access costs compared to hot storage. This tier is intended for data that will remain in the cool tier for at least 30 days.
The arch

[2019-04-10 09:25] SubhashVasarapu-MSFT commented on #29138
@axatix Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-10 09:28] SubhashVasarapu-MSFT commented on #29118
@lovelangy , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-10 09:29] YASWANTHM-MSFT commented on #29137
@marinnedea,Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-10 09:30] SubhashVasarapu-MSFT commented on #29114
@cogran , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-10 09:30] SadiqhAhmed-MSFT commented on #29135
@DavidR91 Thanks for the comment! This can be better answered by our content author.

@DCtheGeek Your comments please.

[2019-04-10 09:32] YASWANTHM-MSFT commented on #28779
@tpeiffer , any update on this issue?

[2019-04-10 09:32] arnrist commented on #24858
This is good news.

@jeevansd - I was wondering, did you also test the plugin against the JIRA Service Desk 4.0?
JIRA Service Desk 4.0 was released with Jira v.8.0. It would be appropriate to test the Jira Service Desk version that matches the highest supported Jira Software/Core version.

[2019-04-10 09:33] msrini-MSFT commented on #29080
@hhughes0 ,

"In this scenario, the Azure virtual machines (VMs) that run Windows Server 2012 R2 (or later versions of Windows) can successfully activate Windows. However, VMs that run earlier version of Windows fail to activate Windows."

So, VMs which is above Windows Server 2012 can will be activated by this method. Earlier versions will fail. For instance Windows Server 2008 would fail.

[2019-04-10 09:33] #29080 closed

[2019-04-10 09:34] imeya commented on #29130
@YASWANTHM-MSFT , thanks for you response. I know that when I need access the data frequently, the hot tier is better. But I also need to store the data for a long time, this is confused me which one I should choose.

[2019-04-10 09:36] YASWANTHM-MSFT commented on #28801
@saulcruz, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-04-10 09:36] #28801 closed

[2019-04-10 09:37] YASWANTHM-MSFT commented on #28836
@jfalameda, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-04-10 09:37] #28836 closed

[2019-04-10 09:38] Bally-Kahlon opened #29140 "Why do many of our guests have multiple sources of authority?"
Many of our guest users are showing up as having multiple sources of authority.  In some cases, specific guests have "Microsoft Account" listed twice and in other cases, we see "Microsoft Account" and "External Azure Active Directory".  Can you give us some further details on what this means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-04-10 09:40] jeevansd commented on #24858
@arnrist Thanks for letting me know. I will park the ServiceDesk 4.0 in our testing queue once the JIRA 8.0 is complete then we can take this next.

Thanks.

[2019-04-10 09:41] jakaruna-MSFT commented on #29129
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 09:42] kishan19 commented on #28811
Thanks @RohitMungi-MSFT I shall follow up with a support request. There seems to be details on the exception trace/error logs.

[2019-04-10 09:42] squasta opened #29141 "some option on az storage account command should be add"
command "az storage account show -n storageaccountname" will not display id if default output is table (human readable that some people configure using az configure). So the command needs -o json or -o jsonc or -o tsv or -o yaml to display ID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f1

[2019-04-10 09:49] ShBansal22 opened #29142 "Configuration settings for Durable Functions in host.json file"
Configuration settings for Durable Functions in host.json file is showing warnings for different settings.

This json file is accepting only two settings perfectly "hubName" and "azureStorageConnectionStringName " without any warning.

Even IntelliSense is not showing properties like partitionCount, maxQueuePollingInterval etc..

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-10 09:50] KetanChawda-MSFT commented on #29134
@wahyuen Have you tried creating the same resource using portal instead of ARM deployment. If not , could you please try if possible.

The troubleshooting steps for this error message is mentioned in the below article.
https://github.com/Azure/Azure-Functions/blob/master/functions-premium-plan/troubleshooting.md

[2019-04-10 10:03] kazinad commented on #29105
@DixitArora-MSFT thank you for the links

[2019-04-10 10:03] #29105 closed

[2019-04-10 10:08] KetanChawda-MSFT commented on #29142
@ShBansal22 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 10:11] shashishailaj commented on #28597
Could you please check the URL https://account.activedirectory.windowsazure.com/ChangePassword.aspx https://passwordreset.microsoftonline.com for any user if this works for you ? If it does, then it may be a UI bug in the portal for a tenant having Microsoft 365 Business license. Because I know 100% for sure that if you have Azure AD premium license associated with the tenant , the password reset

[2019-04-10 10:11] #28597 closed

[2019-04-10 10:14] SnehaAgrawal-MSFT commented on #29139
@andyjballgit Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 10:15] jakaruna-MSFT commented on #29129
Azure/azure-cli#8642 same issue

[2019-04-10 10:16] shashishailaj commented on #29050
@MicrosoftGuyJFlo Could you please check the details as provided above ? It might need to be reviewed by engineering and the article updated accordingly.

[2019-04-10 10:31] vishalaj1 commented on #27697
Thanks for clarification! Since we dont know exactly how many items we might have in array we will not be able to use .prop! Thank you all for your help!

[2019-04-10 10:31] jakaruna-MSFT commented on #29129
@mandarsj This is happening because that `--address` field is added to the recent version of kubectl and you don't have that version in the path under $PATH.

You can fix that by two ways.

- First check your kubectl version.
`kubectl version` It will be less than 1.13
Then find where the kubectl.exe is coming from. Use the below command in command prompt to find.
`for %i in (kubectl.exe) do @echo

[2019-04-10 10:45] rayne-wiselman commented on #21910
Thanks!
VMs must be on in order to replicate. We use an extension to the VM agent for replication, so the agent must be running. thx.
#please-close

[2019-04-10 10:48] rayne-wiselman commented on #21890
Thanks. I've opened a work item for us to do this. Closing this since it's in the queue.

#please-close

[2019-04-10 10:50] rayne-wiselman commented on #21855
@Cepheus0815 Thanks for your feedback. Looks like this has been updated. thx
#please-close

[2019-04-10 10:51] rayne-wiselman commented on #21460
Fixed #please-close

[2019-04-10 10:55] shashishailaj commented on #28877
@rupeshprasad We understand you have a large migration project . However as far as we think , it should work because the B2C API is quite resilient and is API performance should not be an issue. We would suggest you to try running parallel graph queries and if that gives you any errors related to API please let us know.

[2019-04-10 10:58] rayne-wiselman commented on #19075
Please assign to @mayurigupta13

[2019-04-10 10:58] Lokir commented on #28505
I am having this exact same issue, and completely agree with @sebagomez. This documentation needs to be alot better. Four people at my workplace has been ramming their heads into the walls over this.

My followup question would be, after configuring the storage account for blobs/files, what do I tell this variable?

This is my application config:
![image](https://user-images.githubusercontent.com/

[2019-04-10 11:00] rayne-wiselman commented on #18795
please assign to @mayurigupta13

[2019-04-10 11:01] rayne-wiselman commented on #18181
please assign to @mayurigupta13

[2019-04-10 11:03] rayne-wiselman commented on #18065
please assign to @mayurigupta13

[2019-04-10 11:04] javiersoriano commented on #28929
Thanks

[2019-04-10 11:10] PowerShellToday opened #29143 "Wrong information"
Hello, the information in 'Organization structure and permissions by role' states that Department Administrator should be able "Add Accounts to the enrollment and change Account Owner" with the limitaion of "Task is limited to accounts in your department.", the latter turns out to be false after the information i have recived after raising a support ticket. You can not change account owner as Depa

[2019-04-10 11:33] ivanignatiev commented on #28293
@zapdog43 you need Python 3.6 with VC++ packages for now : https://github.com/Azure/azure-iot-sdk-python/issues/41#issuecomment-441878396

[2019-04-10 11:43] Rajani-Janaki-Ram commented on #19093
this is fixed

[2019-04-10 11:43] Rajani-Janaki-Ram commented on #19093
#close

[2019-04-10 11:54] jakaruna-MSFT commented on #29111
@dcbrown16 I agree. It should sum of all the disks attached to the VM.
I am assigning the issue to the content author to investigate further and update the document as appropriate.

[2019-04-10 11:55] squasta opened #29144 "Command in Step 2 "Assign RBAC role "Storage Account Key Operator Service Role" to Key Vault" is incorrect"
az role assignment create --role "Storage Account Key Operator Service Role"  --assignee-object-id &lt;ObjectIdOfKeyVault&gt; --scope 93c27d83-f79b-4cb2-8dd4-4aa716542e74 is not the correct command

It should be (in case of Key Vault in Public Cloud) :

az role assignment create --role "Storage Account Key Operator Service Role"  --assignee-object-id 93c27d83-f79b-4cb2-8dd4-4aa716542e74 --scope "/

[2019-04-10 11:59] squasta opened #29145 "Additional information in case of a message "Operation set is not allowed by vault policy" when you execute command in Step 3"
If you get the message "Operation is not allowed by vault policy" when you execute the following command
az keyvault storage add --vault-name &lt;YourVaultName&gt; -n &lt;StorageAccountName&gt; --active-key-name key1 --auto-regenerate-key --regeneration-period P90D --resource-id &lt;Id-of-storage-account&gt;

You can add the right privileged with the following PowerShell Command :
Set-AzureRmKeyVa

[2019-04-10 12:05] PramodValavala-MSFT commented on #28839
@swinghouse Just following up here... Hope my previous comment clears things up.

[2019-04-10 12:10] sonalchhoda commented on #21464
Can you please share the fix ...i am getting HNS error .

[2019-04-10 12:15] tpeiffer commented on #28779
@YASWANTHM-MSFT - The workaround I shared is acceptable for me until there is an official task. You may close this if you want.

[2019-04-10 12:22] MohitDhingra-MSFT commented on #29019
In Azure AD B2C, there is no direct option for custom branding but you can customize the user interface for seamless user experience. You can customize the following policies sign-up, sign-in, profile editing, and password resetting.

Please check the below documentation to how to customize UI in Azure AD B2C.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview

For m

[2019-04-10 12:22] #29019 closed

[2019-04-10 12:28] sirdank commented on #29074
@MarileeTurscak-MSFT For me, the portal's identity option is [entirely disabled](https://i.imgur.com/eiqAuA2.png) but since doc says it's in preview, I thought I'd try `az webapp identity assign --name myApp --resource-group myResourceGroup`. It appeared to work.

However, when trying to use the Azure.Services.AppAuthentication's AzureServiceTokenProvider.KeyVaultTokenCallback, I get that generic

[2019-04-10 12:33] SadiqhAhmed-MSFT commented on #29143
@PowerShellToday Thanks for bringing this to our attention! We will get some help on this issue from the content owner and update you soon.

@bandersmsft Could  you please review and share your thoughts on this issue?

[2019-04-10 12:39] YASWANTHM-MSFT commented on #28779
@tpeiffer, Thanks for the update.we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-04-10 12:39] #28779 closed

[2019-04-10 12:39] SadiqhAhmed-MSFT commented on #29065
@ssennettau Thanks for raising the PR and contributing for a change. The PR has been closed with the requested update.

@SreeVoleti Thanks once again for bring this to our attention. The changes have gone live.

Closing this issue for now.

[2019-04-10 12:43] craigshoemaker commented on #24702
I have created an internal work item for this issue and am looping in the Product Team to discuss how update the article.

[2019-04-10 12:44] SadiqhAhmed-MSFT commented on #29065
@SreeVoleti We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-10 12:44] #29065 closed

[2019-04-10 12:45] atullalwani opened #29146 "Latency while login to PostgreSQL DBaaS"
Network Latency while connecting to PostgreSQL.
We are experiencing extremely slow logins to our DBaaS system.
The logs are extremely oversized.
Due to this the application page is loading extremely slow.

[2019-04-10 12:45] atullalwani commented on #29146
We also moved our instance to Memory Optimized tier but it made no change.

[2019-04-10 12:48] SadiqhAhmed-MSFT commented on #28972
@DMoonesinghe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-10 12:48] #28972 closed

[2019-04-10 12:50] msghaleb commented on #15209
why is this issue still opened?

[2019-04-10 12:51] sebagomez commented on #28505
@Lokir take a look at my second post where I linked blogposts that helped me find what I was looking for.

[2019-04-10 12:53] Mike-Ubezzi-MSFT commented on #28863
@nazneen84
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-10 12:53] #28863 closed

[2019-04-10 12:56] gate502 opened #29147 "Guest Users SSPR - if they are synced via Azure AD Connect"
How does SSPR work on guest users if they are synced via Azure AD Connect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18640c6c-b52c-84e3-59d8-90f2a663cc6b
* Version Independent ID: 77b249dc-4440-0334-31d7-b05d30f52657
* Content: [Self-service password reset deep dive - Azure Active Directory](https://docs.microsoft

[2019-04-10 12:56] Lokir commented on #28505
I looked into it, but neither specifies what to put in the path variable of the mount in the application config.

However, I don't think that it's actually my issue. I think it may be specific to Mongo & Azure Storage Accounts.

https://github.com/docker-library/mongo/issues/342

The issue I'm getting inside the logs is a permission issue, so it seems that I've configured it correctly in terms of

[2019-04-10 12:58] msrini-MSFT commented on #29126
@dcbrown16 , Standard DDOS supports IPv6 as well. Documentation will be updated. Thank you for providing your feedback.

[2019-04-10 12:58] #29126 closed

[2019-04-10 13:00] nicolgit opened #29148 "missing action microsoft.aad.directory/appRoleAssignments/delete on Cloud Application Administrator"
AFAIK action microsoft.aad.directory/appRoleAssignments/delete should be possible for a CAA, but it is missing on the list https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#cloud-application-administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-

[2019-04-10 13:00] stavrosmitchell commented on #27773
Hey has anyone got it to work with AADDS. I seem to have the problem with AADDS, it kept failing on the DSCextension

I have folllowed the microsoft and https://erjenrijnders.nl/2019/04/04/how-to-deploy-windows-virtual-desktop-in-azure/ guide step by step and am thinking the problem is AADDS

thanks

[2019-04-10 13:05] ronaldgreeff commented on #10930
Oh right,

Well at least that solves the problem.

rolls_eyes_blows_brains_out.gif

[2019-04-10 13:07] craigshoemaker commented on #28860
Thanks for the heads-up on this, @joshlrogers! I have created an internal work item for this issue.

[2019-04-10 13:07] pvrk commented on #28955
We are working on updating the policy template with this variable. Please bear with us. I will update the thread soon.

[2019-04-10 13:11] Dikkekip commented on #29108
Same issue here. wasting a lot of hours here.

You cannot call a method on a null-valued expression.
At line:1 char:1
+ $authHeader = $global:authResultARM.CreateAuthorizationHeader()
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [], RuntimeException
    + FullyQualifiedErrorId : InvokeMethodOnNull

Method invocation failed be

[2019-04-10 13:20] #28866 closed

[2019-04-10 13:30] jshrico commented on #8779
Is there a single sign out for AD B2C? I see no LogoutUrl for AD B2C. I tried searching for it but I always see stuff for AAD only.

![adb2c](https://user-images.githubusercontent.com/6748074/55882815-bbe5b300-5bd7-11e9-8cbb-d896ca4189d0.png)

[2019-04-10 13:31] brucelangston opened #29151 "typo causes some confusion"
In the instructions at the top of the page for "Using the Azure portal," step 3 is "Select Manage Identity." There is no "Managed Identity," but "Identity" is available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* C

[2019-04-10 13:34] DCtheGeek commented on #29135
@DavidR91 Thanks for the question!  `x-ms-ratelimit-remaining-tenant-resource-requests` is part of Resource Manager request throttling and isn't specific to Resource Graph. You can read about that response header and 429s at [Throttling Resource Manager requests](https://docs.microsoft.com/azure/azure-resource-manager/resource-manager-request-limits). See if that article answers those questions. I

[2019-04-10 13:36] sergaz-msft commented on #28974
Hi @saifuddin123 did you follow all prerequisites described [here](https://github.com/Azure/azure-iot-sdk-python/tree/master/device/samples#how-to-run-the-samples)?

## How to run the samples
In order to run the device samples you will first need the following prerequisites:
* [Setup your development environment](https://github.com/Azure/azure-iot-sdk-python/blob/master/doc/python-devbox-setup.md)

[2019-04-10 13:39] AjayKumar-MSFT commented on #29052
@WenJason, Thanks for the clarification. The two sections "To create a Windows Store project" and "To add a reference to the Smooth Streaming Client SDK", has been added to provide a clear distinction and guidance, however they're are a part of the single procedure '1.Create a Windows Store project'.
I have gone ahead and raised a pull request for making a minor push (single space) to the right fo

[2019-04-10 13:43] mrstage opened #29152 "Inconsistent information"
Step number 1 states: "Select Compute under the Security Center main menu or Overview."
This does not exists. It's called "Compute & Apps".
As such, the rest of the instructions are incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a459008-a196-339c-6625-c78b17ccd267
* Version Independent ID: 9d40b143-8dbf-310

[2019-04-10 13:43] droessmj opened #29153 "RBAC Binding Issues with User Subject"
Working with AKS v1.12.7 and Azure AD RBAC enabled, we found that ObjectId works as expected when assigning a RoleBinding to a Group -- exactly as specified above. However, when testing bindings for individual users we found that were receiving "Forbidden" errors when using the user's AAD objectId. Further digging and experimentation shows that using the user's email address as the value for the n

[2019-04-10 13:52] ckarras commented on #29019
@MohitDhingra-MSFT Yes I know about the customizations in Azure AD B2C and have already implemented them, but our app uses Azure AD B2C and allows both the option to use accounts created in B2C, or use external accounts from an Azure Active Directory. The problem is that when the user selects Azure Active Directory, all custom branding disappears. Is there any technical reason for not supporting t

[2019-04-10 13:53] Gamecock opened #29154 "Filtering does not seem to work."
I followed the example and everything seemed to be working, but with temperatureThreshold = 20 every message seems to come through.  I increased the threshold to 21 and then 22, redeployed, and still see every message tagged to alert.
How can I confirm that the updated image is actually deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu