[2019-07-12 20:22] RWu-MS opened #35048 "abbreviations for False Negative and False Positive"
I assume the abbr. for False Negative and Positive should be FN and FP, right? Currently they are TN and TP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b726e14f-42e6-0fe6-e056-bf945283b002
* Version Independent ID: 61a8f453-027e-f3f7-c9cf-4462091d9dbe
* Content: [Glossary - Language Understanding - Azure Cognitive

[2019-07-12 20:33] oising commented on #30359
Thank you!

On Fri, 12 Jul 2019 at 15:21, TravisCragg-MSFT <notifications@github.com>
wrote:

--

---
404 signature missing

[2019-07-12 20:37] FrankHu-MSFT commented on #34954
Hey @mliudev I'm following up on this, can you please respond in regards to this issue? If there's no response by end of day, I'll be closing this issue out, if you have anymore questions please reopen the git issue

[2019-07-12 20:37] KranthiPakala-MSFT commented on #34862
@aconkle We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please feel free to reopen the issue and tag me in your reply. We will gladly continue the discussion.

Thank you.

[2019-07-12 20:37] #34862 closed

[2019-07-12 20:37] FrankHu-MSFT commented on #34929
@valentijnscholten I'm following up on this issue, if there's no more questions within the scope of this git issue I'll be closing out this git issue by end of day today. Please reopen this issue if you have anymore questions within the scope of the git issue.

[2019-07-12 20:39] denhsu commented on #34480
@jakaruna-MSFT  Thanks for the work around!

One question, for acr task #1, and create a dummy docker file with only base image in it with --base-image-trigger-enabled True.  Will this work with image from public repo? for example. we uses Microsoft official image "microsoft/aspnet:4.7.1-windowsservercore-ltsc2016" from https://hub.docker.com/_/microsoft-dotnet-framework-aspnet?tab=description.

O

[2019-07-12 20:41] basilwong opened #35049 "Databricks"
I noticed that Databricks is not currently available. Is it expected to be made available in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37519555-04a0-ac67-d798-ba3de77183fc
* Version Independent ID: bdf51bcd-53de-46a2-5d5e-f1c854c12311
* Content: [Azure Government Data + Analytics](https://docs.microsof

[2019-07-12 20:43] MarileeTurscak-MSFT commented on #34941
Thanks @chadbirch

I made a pull request to update this https://github.com/MicrosoftDocs/azure-docs-pr/pull/82111

@mmacy

[2019-07-12 20:43] #34941 closed

[2019-07-12 20:46] PeterTurcan opened #35050 "Code function in the wrong place?"
The following line doesn't appear to work in Microsoft Egde "2. In the script tag, after the GetMap function, add the following code to show the moused over result information in the popup."  The script needs to be added within the GetMap function, as shown in the "View full source code" listing.
Otherwise, sample works well.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-12 20:52] jecooper commented on #34618
@TravisCragg-MSFT: any word on your end?
Repro steps:
1. Create an A record set for abc.example.com, mark it as not an alias, point to a single IP address
2. Create a new A record set, set it as an alias pointed to a  Zone record set, select abc.example.com record set created in step 1.
3. Repeat Step 2 20 times.
Expected outcome: 21st A record set pointed to abc.example.com is created successfull

[2019-07-12 20:55] TravisCragg-MSFT commented on #34618
@jecooper your timing is excellent, I am working on this now. Thanks for the repro steps, I will try this out, double check known limitations, and follow up as needed.

[2019-07-12 21:13] valentijnscholten commented on #34929
This is what I am seeing:

![image](https://user-images.githubusercontent.com/4426050/61158861-81532580-a4fa-11e9-98b2-fe230ab8b641.png)

It looks like the documentation is a bit ahead of reality:

![image](https://user-images.githubusercontent.com/4426050/61158905-9def5d80-a4fa-11e9-8286-b42bd8fc082d.png)

:-)

[2019-07-12 21:27] MicahMcKittrick-MSFT commented on #35045
@mikelTHN at this point in time, the functionality you are looking for is not available. You can leave feedback on features you would like to see integrated into the AADLoginforLinux extension here:

https://feedback.azure.com/forums/169401-azure-active-directory?category_id=166032

[2019-07-12 21:27] #35045 closed

[2019-07-12 21:28] alinamstanciu commented on #34748
Hi @obrookstein,
All events of certain type (DeviceMessages, TopologyOperation, SpaceChange, SensorChange, UdfCustom) they could be configured to go to one endpoint or more. But you cannot filter by sensor Id or any twin information. Routing is based on event type currently. In the future we are looking to higher fidelity.

[2019-07-12 21:32] MicrosoftGuyJFlo commented on #35032
Working on this.

[2019-07-12 21:33] proguru opened #35054 "Understanding Azure function app scaling with timetrigger and servicebus trigger."
Lets say, my function app is in a consumption hosting plan and I have 2 functions within it -  a time trigger function that is triggered every 2 minutes (* */2 * * * *) and a service bus triggered function.
Now due to the number of messages in my subscription the consumption plan scales the function app to 10 instances and at the same time the the timer trigger event is raised. Now since the funct

[2019-07-12 21:33] MicrosoftGuyJFlo commented on #35031
See https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension#determine-which-authentication-methods-your-users-can-use for details on methods available.

[2019-07-12 21:41] MicrosoftGuyJFlo commented on #35004
Ensure you selected All Windows desktop editions when creating your new project.

[2019-07-12 21:42] #35017 closed

[2019-07-12 21:43] MicrosoftGuyJFlo commented on #34914
Sent to PG for feedback

[2019-07-12 21:43] MicrosoftGuyJFlo commented on #34830
#please-close

[2019-07-12 21:43] #34830 closed

[2019-07-12 21:45] mayanknayar commented on #35033
This work is in progress. We do not have a shareable ETA at the moment. We will update the doc when support is enabled.

[2019-07-12 21:45] clisc commented on #34211
To complete this tutorial, make sure you have installed:

An Azure subscription. If you don't have an Azure subscription, create a free account before you begin.
Visual Studio 2017 Update 3 (version 15.3, 26730.01) or later. You use Visual Studio to build a sample that sends messages to and receives message from a queue. The sample is to test the queue you created in the portal.
NET Core SDK, vers

[2019-07-12 21:47] MicahMcKittrick-MSFT commented on #35033
Thank you @mayanknayar appreciate the update and glad to hear it is in the works :)

@ohwellwhatever I will close this out. We will update the doc once that image is supported.

[2019-07-12 21:47] #35033 closed

[2019-07-12 21:57] PingPongSet opened #35055 "More information on .YAML file"
How to generate, structure, and meaning of all those .YAML files, e.g. manually or via tool?

They are located at each of every folder under this folder, lots of them.

https://github.com/Azure/dev-spaces/tree/master/samples/BikeSharingApp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0f176f-ffed-ce36-150d-c6ed6d47d

[2019-07-12 22:01] smurph2345 opened #35056 "IoT Edge Deployments with multiple targets using IN"
I tried creating a deployment in the Azure portal with multiple targets using
deviceid IN ['device1', 'device2'] and I receive a bad request error.

{"message":"BadRequest:{\r\n  \"Message\": \"ErrorCode:InvalidConfigurationTargetCondition;BadRequest\",\r\n  \"ExceptionMessage\": \"Tracking ID:55049c687a0246ac9a1fff7c503be8e2-G:3-TimeStamp:07/12/2019 22:00:38\"\r\n}"}

---
#### Document Details

⚠

[2019-07-12 22:02] JimacoMS3 commented on #24431
@inesk-vt That's a good suggestion. I'll look into making changes to those topics. In the meantime, an easy way to see the telemetry data arriving at your IoT hub is to use the [az iot hub monitor-events](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/hub?view=azure-cli-latest#ext-azure-cli-iot-ext-az-iot-hub-monitor-events) Azure CLI command. You can run it from [Azure Cloud

[2019-07-12 22:16] timmyreilly opened #35057 "What is the point of maxConcurrentCalls?"
I'm having a tough time understanding the use case of maxConcurrentCalls, if the Functions runtime is going to scale from 0-1000+ instances what does it matter what I set the maxConcurrentCalls to?

I need a way of limiting how many messages from the service bus are processed at any given time. I'd like to limit the currently processed messages to 300 because my downstream server will start throwi

[2019-07-12 22:17] bjax22 opened #35058 "East US 2 Gateway Address Typo?"
Hello, I see this invalid IP address (52.167.104.0) listed as a gateway address for the East US 2 region.  Is this a typo?  Please correct it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database

[2019-07-12 22:27] ChristianMontoya commented on #34927
@fbcarvalho  You can choose the Windows 10 Enterprise multi-session, which is the 1903 version. Soon we will be adding more of the options for "Enterprise", "Enterprise multi-session" and the release.

[2019-07-12 22:28] rohitnayakmsft commented on #35058
Why is this IP invalid? I can confirm this IP address is valid and resolves to this Gateway in East US2

…
Non-authoritative answer:
Name:    cr4.eastus2-a.control.database.windows.net
Address:  52.167.104.0

Rohit Nayak
Sr. Program Manager – SQL Db Security Team

From: bjax22 <notifications@github.com>
Sent: Friday, July 12, 2019 3:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com

[2019-07-12 22:31] FrankHu-MSFT commented on #35047
@swake457 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 22:33] kobulloc-MSFT commented on #35055
@PingPongSet Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-12 22:34] SaurabhSharma-MSFT commented on #34761
@Ashley-Walton I believe you can provide this a Product feedback using [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory) so that product team can look into this.

[2019-07-12 22:37] KranthiPakala-MSFT commented on #34974
@andreasmarkmann Thank you for clarifying the ask and providing the feedback. At this time we have assigned the issue to the content author. They will evaluate the feedback and update the document as appropriate.

Thank you.

[2019-07-12 22:37] KranthiPakala-MSFT commented on #34974
@twooley Could you please take a look at the feedback from @andreasmarkmann ?

[2019-07-12 22:46] SaurabhSharma-MSFT commented on #34854
@yixue-at-symantec Are you saying that when you provided the blob storage contributor access to the new user, he is able to access the subscription ? It doesn't work this way.  I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let

[2019-07-12 22:46] SaurabhSharma-MSFT commented on #34757
@parabolic123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-12 22:46] #34757 closed

[2019-07-12 22:48] bjax22 commented on #35058
Boy am I foolish.  I mistakenly figured since it was a .0 address, it must have been a network address (not a host address).   Clearly I did not factor in the possibility of a net mask larger than /24.  I withdraw my comment and apologize for wasting your time.  :)

[2019-07-12 22:53] JimacoMS3 commented on #24580
Hi @inesk-vt -- thanks again for your feedback. Since you last commented we added a bit more explanation in this section: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-monitoring-notifications-with-azure-logic-apps#add-a-custom-endpoint-and-routing-rule-to-your-iot-hub. I think that an introductory section that shows the message structure (including the application properties) and provide

[2019-07-12 22:54] FrankHu-MSFT commented on #34929
hey @valentijnscholten we are currently trying to keep our docs up to date as much as possible, and the new view should be rolling out as we speak in a staggered release.

So we've updated accordingly. Please try the new view if you're interested in utilizing these docs. That being said, I will be closing out this git issue as we've addressed this accordingly.

I apologize for the fragmentation, w

[2019-07-12 22:54] #34929 closed

[2019-07-12 23:01] SaurabhSharma-MSFT commented on #35044
@lichasu yes, you can't share files with other users on an Azure AD-joined device Pleas refer to [How SSO to on-premises resources works on Azure AD joined devices](https://docs.microsoft.com/en-us/azure/active-directory/devices/azuread-join-sso#what-you-should-know)

[2019-07-12 23:07] dargilco opened #35059 "Misleading statement about supported Azure regions for speech"
Regarding "Choose the region where the resource will be used. Currently, the Speech Services is available in East Asia, North Europe, and West US regions".
This statement seems to be old. This link lists many more Azure regions:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions#voice-first-virtual-assistants

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-12 23:19] kasparks commented on #34144
Hi @aquibqureshi26 - There is no charge for the following Dynamic Basic IPs that are asssociated with a stopped-deallocated VM or that are not associated to a VM. Your understanding is correct.

Thank you for following up on this!

[2019-07-12 23:25] Karishma-Tiwari-MSFT commented on #34389
Thanks @aanandr :)
@bearrito Hope that helped answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-12 23:25] #34389 closed

[2019-07-12 23:38] bpollard opened #35060 "Issues with tagging - both nodes returned"
env | grep AZ
AZURE_TAGS=nginx

ansible all -m ping -i ./myazure_rm.yml
ansible-inventory-test-vm1_fcf7 | SUCCESS =&gt; {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,
    "ping": "pong"
}

ansible-inventory-test-vm2_8f2f | SUCCESS =&gt; {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "c

[2019-07-12 23:40] jberg-ppi opened #35061 "DNS LookupQuery events are not being collected."
When enabling this connector, some DNS events are getting collected from the DNS servers, however DnsEvents SubType "LookupQuery" are not being sent to Sentinel. E.g. if I run the query:

DnsEvents
| where SubType == "LookupQuery"

It returns no results, however SubType "DynamicRegistration" or "ConfigurationChange" do. I am assuming there are additional steps required on the DNS server to enable

[2019-07-12 23:41] bpollard commented on #35060
To be complete I do have vm1 tagged:

az vm list --resource-group ansible-inventory-test-rg --show-details --subscription xxxxxxx-xxxx-xxxxxx-xxxxxxxxx |grep -C 2 tags
      }
    },
    "tags": {
      "nginx": ""
    },
--
--
      }
    },
    "tags": {},

[2019-07-12 23:44] bt102 opened #35062 "Inaccurate report on number of users have registered MFA"
When I ran the powershell to pull the registered MFA users, I got 2800 users comparing to 930 user via Insights - Authentication methods registration details report. Same goes for unregistered MFA users report.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dbb0624-9d6c-aedf-d999-f7d3ca99c183
* Version Independent ID:

[2019-07-12 23:45] bt102 commented on #35010
I'm experiencing similar issues

[2019-07-12 23:45] fabiocav commented on #34883
@jwisener, thanks again for the feedback. The issue you've pointed out is something we're currently looking at, and impacts one set of usage scenarios (with delegate factories in scoped scenarios), but the examples in the documentation and sample repo demonstrate reliable patterns. We'll use the issue you've reference for updates on the problem you're running into. If you feel the scope of the pro

[2019-07-13 00:03] ptuton commented on #5550
"Setting - Properties" no longer exists. The Application ID URI is now created in "Manage - Expose an API", then selecting "Set", next to "Application ID URI".

[2019-07-13 00:07] Alberto-Vega-MSFT commented on #35024
@sebader Thanks for catching that and taking the time to report it. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-13 00:14] Alberto-Vega-MSFT commented on #35056
@smurph2345 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-13 00:16] Alberto-Vega-MSFT commented on #35050
@PeterTurcan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-13 00:18] JustinGrote opened #35063 "Examples should reflect newer Microsoft.Azure.Cosmos.Table namespace"
The examples should reference this newer space rather than the older WindowsAzure table library, especially since everything else references it. Microsoft.Azure.Cosmos.Table has full support for Storage Account Tables now as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Ver

[2019-07-13 00:21] Karishma-Tiwari-MSFT commented on #34689
@piotrgwiazda Did that help answer your question? Please let us know.

[2019-07-13 00:23] Alberto-Vega-MSFT commented on #34756
@LeeHyeongWon  Since we haven't heard back from you we will be closing this issue for now. Not sure if you resolved your issue of if you got your support ticked opened but  if you have any further questions please feel free to tag me in your reply and we can reopen the issue

[2019-07-13 00:23] #34756 closed

[2019-07-13 01:52] YutongTie-MSFT commented on #35059
@dargilco Thank you for your feedback, we will investigate it and get back to you soon.

[2019-07-13 01:53] YutongTie-MSFT commented on #35048
@RWu-MS Thank you for your feedback, we will investigate it and get back to you soon.

[2019-07-13 01:58] PingPongSet opened #35065 "Same content as this one?"
This article seems the same as below:
https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f882edfa-5d4d-4884-1d48-f497110c87f9
* Version Independent ID: dc0ee9e0-6a68-7ecc-3f0e-0a4a68b7181d
* Content: [Deploy an application with a Dockerfile on Kubernetes usin

[2019-07-13 02:11] TravisCragg-MSFT commented on #34618
@jecooper I was able to reproduce this issue, and I am following up now to get more information. I cannot find a limit that this is hitting.

This seems to be limited to Alias records tied to a single zone record set. You can add other alias records to different zone records, but it seems that the error occurs when more than 20 Alias records are added to a single zone record.

[2019-07-13 02:27] PingPongSet opened #35066 "az aks use-dev-spaces cannot use specified subscription"
I have two subscriptions, I got error below when I run below:

PS C:\Users\myname&gt; az aks use-dev-spaces -n default -g azure-dev-spce -rg --subscription "name of subscription"

The current user is not authorized to register the 'Microsoft.DevSpaces' resource provider for subscription 'id of another subscription'. Make sure that the current user has Owner or Contributor access to the subscriptio

[2019-07-13 02:30] #34144 closed

[2019-07-13 02:34] femsulu commented on #34793
Per offline discussion with @rolyon and @SamGrantham, closing this for now.

[2019-07-13 02:34] #34793 closed

[2019-07-13 02:35] jwisener commented on #34883
Thanks @fabiocav

[2019-07-13 02:41] femsulu commented on #35060
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-13 02:47] femsulu commented on #35049
Hi @basilwong, are you referring to Azure Gov. regions in particular? According to the official Azure service availability tracker (by region), Azure DataBricks will be available in Public Preview in US Gov Virginia by end of Q4 2019.
Reference [here](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=databricks&regions=us-east,us-east-2,us-central,us-north-central,us-south

[2019-07-13 02:49] #35049 closed

[2019-07-13 02:58] haveyoumetcp commented on #22731
Thanks @artmasa for the write up.  Helped me get past this problem.

However, I really feel like this is a bug.  You would think since you have a condition on the a section it wouldn't evaluate the reference.

[2019-07-13 03:05] alathrop opened #35067 "Share notebook VM?"
Is it possible for 2 users of an AML Workspace to access the same notebook VM? We are both collaborators in the workspace, but my colleague cannot access the notebook VM I created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a39c00-0d4b-eef2-39cc-2ebe0603d854
* Version Independent ID: 265dd37f-2299-c762-63be-3c8e5

[2019-07-13 03:58] adback03 opened #35068 "Cross-Region Configuration with Azure Functions?"
I have been using Azure Functions to have a Serverless SignalR environment. It has been working great, but now I am in need of setting up cross-region broadcasting. That is, sending messages to any endpoint, and having it broadcasted to all Azure SignalR instances across my other regions. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-07-13 04:03] PramodValavala-MSFT commented on #35039
@d-h-morrison Thanks for the question! We will review and get back to you!

[2019-07-13 04:07] KrishnaG-MSFT commented on #35016
@JnHs Thanks for the quick response
@sakaldeepyadav Please let us know if you have queries upon @JnHs's comment.

[2019-07-13 04:10] PramodValavala-MSFT commented on #35054
@proguru Thanks for the question!

Even if the function app scales out, only one instance is triggered by the timer. This is also covered in [its docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#scale-out).

[2019-07-13 04:11] PramodValavala-MSFT commented on #35057
@timmyreilly Thanks for the question! We will review and get back to you!

[2019-07-13 04:14] PramodValavala-MSFT commented on #35063
@JustinGrote Thanks for the question! We will review and get back to you!

[2019-07-13 04:30] AjayKumar-MSFT commented on #35030
@psatyaa, Thanks for sharing additional details, we will look into this and get back to you soon.

[2019-07-13 04:43] AjayKumar-MSFT commented on #35022
@Supersing, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-13 04:47] AjayKumar-MSFT commented on #35025
@YvonneArnoldus, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-13 04:52] mliudev commented on #34954
Hi Frank,

The kids match however as I've shown in the response there is no 'x5c' key in the response dictionary. I can't verify the signature because there is no public key in the response.

[2019-07-13 04:58] AjayKumar-MSFT commented on #35027
@leroibeukes, Thanks for sharing your valuable feedback! Could you please also share the App Service Environments document that you're referring to and any specific section in the doc that you think requires more clarity?

[2019-07-13 05:13] AjayKumar-MSFT commented on #35028
@tomygrenier, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-13 05:55] AjayKumar-MSFT commented on #35042
@taromielnaz, Thanks for your valuable feedback! The document that you’re referring to aims at providing a brief insights on data handling, how Azure Data Share (preview) works, an overview of scenarios, and key capabilities that Azure Data Share provides.

Take a look at this doc - https://docs.microsoft.com/en-us/azure/data-share/share-your-data -In this tutorial you will learn how to set up a n

[2019-07-13 06:00] aquibqureshi26 commented on #34144
So Kasparks, will there be any change in the advisor report of cost savings? as it is misleading.

[2019-07-13 06:07] AjayKumar-MSFT commented on #35058
@bjax22, It’s not a problem! Thanks for leveraging Azure Docs feedback channel and sharing your valuable feedback, that's really appreciated. As Rohit's response was helpful we will close this issue out.

[2019-07-13 06:07] #35058 closed

[2019-07-13 06:19] AjayKumar-MSFT commented on #35067
@alathrop, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-13 06:45] AjayKumar-MSFT commented on #35061
@jberg-ppi, Thanks for the question! Your feedback has been shared with the content owner for further review and insights.

[2019-07-13 06:50] AjayKumar-MSFT commented on #35062
@bt102, Thanks for the question! We are currently investigating and will update you shortly.

[2019-07-13 06:54] kobulloc-MSFT commented on #35065
@PingPongSet Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-13 07:01] kobulloc-MSFT commented on #35066
@PingPongSet Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-13 07:10] pedroneil opened #35071 "Causes of 404"
On the storage account network blade Ensure that all networks is selected on the storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd87a097-0186-83f0-322e-0a1871c37603
* Version Independent ID: 1c4520ae-3ab0-0c57-6b17-1cda4af82ed2
* Content: [Troubleshooting Azure CDN endpoints that return a 404 status cod

[2019-07-13 07:11] AjayKumar-MSFT commented on #35068
@adback03, Thanks for raising this question! We are taking a look into this and will get back to you soon.

[2019-07-13 07:14] AjayKumar-MSFT commented on #35071
@pedroneil, Thanks for sharing your feedback! We are taking a look into this and will get back to you soon.

[2019-07-13 08:21] amigup opened #35072 "Get RequestTelemetry (or ITelemetry) in derived ActionFilterAttribute using dependency injection"
How to get the object of `ITelemety` object in an ASP.NET Core `ActionFilterAttribute` using dependency injection?

What is required : ITelemetry  object
----

     public class RequestLogActionFilterAttribute : ActionFilterAttribute
     {
        private readonly ITelemetry telemetry;

        public RequestLogActionFilterAttribute(ITelemetry telemetry)
        {
            this.telemetry= tele

[2019-07-13 10:15] pmeuser commented on #35004
@MicrosoftGuyJFlo I checked this again, but still version 2019.625.0.0 seems not to include this setting.

[2019-07-13 10:26] cblomart commented on #32264
Does this concern all hybrid senarios or only the federated one? (ie. Federation vs PHS and PTA)

[2019-07-13 10:35] cblomart opened #35073 "Supported Client types"
The "client_id" used in the "Authorization request" is not listed in the parameters.

While reading OAuth RFC it is not clear to me what is supported and why client_id is in the request.

From the test i made:

* public client are supported but require the "client_id" parameter

* confidential client are supported with basic authentication (no client_id parameter needed)

[code]
Could you confirm

[2019-07-13 10:59] SnehaAgrawal-MSFT commented on #34825
@d-h-morrison Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-13 13:10] sakaldeepyadav commented on #35016
HI,

Yes, you are right, we need at least two tenants to test this. I have successfully completed this task using the doc with two tenants.

I recommend mentioning somewhere in the doc 'at least two tenants are required to complete this task one as an MSP and another as a customer'.

thanks
regards
sakaldeep

[2019-07-13 13:31] jordanrgsd commented on #34633
but when i am trying to deploy vmss through template , am getting below error
![image](https://user-images.githubusercontent.com/52379971/61172329-5de2b600-a5a0-11e9-9b93-085d451191ac.png)

[2019-07-13 13:35] #34843 closed

[2019-07-13 13:42] KrishnaG-MSFT commented on #34983
@frehnejc Closing this issue for now. As stated by @HJToland3, let us know if you have additional questions. Thanks.

[2019-07-13 13:42] #34983 closed

[2019-07-13 13:47] shashishailaj commented on #35073
@cblomart Thank you for your query. We will investigate and update this further.

[2019-07-13 13:51] shashishailaj commented on #34971
@DonFrazier Thank you for providing your document enhancement request. We are engaging the content team to look into this further.

@MarkusVi Could you please have this article reviewed with engineering and get it updated as needed ?

[2019-07-13 13:54] shashishailaj commented on #34799
I hope the above clarification answers your query. Should you have any further query , feel free to let us know by replying with tagging me or the content author @rwike77 and we will continue the conversation . Alternatively you can always open a new issue in case of any confusion. We will now close this issue.
Thank you.

[2019-07-13 13:54] #34799 closed

[2019-07-13 13:57] litvinolek opened #35074 "Unable to call CSE if _artifactlocation defined through [deployment().properties.templateLink.uri]"
Hi!
Please can you help how solve next issue:

Trying to prepare ARM template for Azure Marketplace publication. In this case as _artifactlocation we should use [deployment().properties.templateLink.uri] value.

When we define fileuri pointed to Azure Storage Blob (where located .ps1) it works great. But if we define [deployment().properties.templateLink.uri] - script successfully downloaded to Do

[2019-07-13 14:00] shashishailaj commented on #35062
@bt102 Your query seems to be inclined on analyzing private tenant data from your reports and it can not be done on a public forum as per GDPR compliance. In order to find the exact cause of inaccuracy in the registered users data we may need to check what exact powershell queries are you making and it would require further troubleshooting . We manage errors in documentation primarily through gith

[2019-07-13 14:00] #35062 closed

[2019-07-13 14:57] AjayKumar-MSFT commented on #35072
@amigup, Thanks for leveraging Azure docs feedback channel! Could you please share the Azure document for which this feedback is applicable to?

[2019-07-13 15:09] towkneed opened #35075 "User Status Issue"
I am an admin for our Azure AD.  We have set up an ADFS server with Azure AD Synce to use Azure as second factor authentication.  We recently purchased licenses so that all our users.  I went in the multi-factor authentication page at https://account.activedirectory.windowsazure.com/UserManagement/MultifactorVerification.aspx and did a Bulk Update.  A modal window opened saying it was verifying th

[2019-07-13 15:32] osudude opened #35076 "Please make screen shots larger on VPN Gateway alert config page"
The screen shots are microscopic and hard to read. Please make them bigger.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2aa3c298f5b
* Version Independent ID: 96a5f6c6-e7eb-57a3-8e64-c22f01e50a0b
* Content: [Set up alerts on diagnostic log events from Azure VPN Gateway](https://docs.m

[2019-07-13 16:06] MicahMcKittrick-MSFT commented on #35074
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-13 16:09] PingPongSet opened #35077 "More example on how to define dependency between containers in .NET CORE"
Great article.

How to define a container is dependent on another container for ASP.NET Core?

Is there mroe example of using Helm with ASP.NET Core for multiple containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3aacc8c-a837-ee29-b1b9-b48c108bfdca
* Version Independent ID: 3f1141bb-f17b-75d9-10a8-52c5378a6e71

[2019-07-13 16:10] AjayKumar-MSFT commented on #35075
@towkneed, Thanks for the question! We are investigating and will update you shortly.

[2019-07-13 16:21] #35055 closed

[2019-07-13 16:25] himanshusinha-msft commented on #35077
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-13 17:07] Rhywden opened #35079 "Software versions out of date."
This page still references VS 2015 and the download link for SQL Server Express leads to a (hidden) 404 - it should be

https://www.microsoft.com/en-us/server-cloud/Products/sql-server-editions/sql-server-express.aspx

for the current 2017 edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b92145a7-ef1c-de03-6912-

[2019-07-13 17:10] shashishailaj commented on #34832
@DuffLV Thank you for pointing this out and provindg the document link . We have initiated a change internally and it should be updated in the next release cycle within 24-48 hours. We will close this issue now.

Thank you.

[2019-07-13 17:16] #34832 closed

[2019-07-13 17:32] Rhywden commented on #35079
Also, it seems that you have to install the Server Management Studio (i.e. 18.1) separately now. Looks quite a bit different from the screenshots here.

[2019-07-13 18:15] PingPongSet opened #35080 "How to define dependencybetween different projects for deployment to AKS?"
Please provide more url information and urls on how to define dependencybetween different projects for deployment to AKS?

I am new to Helm, please provide links to understand those deployment scripts?

So Is Azure Container Registry not required, or still required but not used in this example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-13 18:46] AjayKumar-MSFT commented on #35068
@sffamily, Requesting your insights on this question/scenario.

[2019-07-13 18:49] jordanrgsd commented on #34633
however when update line 10  with  -templateuri instead ofTemplatefile it gets through , does take a lot of time . but throwing error location cant be null when trying to update vmss.
![image](https://user-images.githubusercontent.com/52379971/61175433-f2fba400-a5cc-11e9-9095-dc69bc8e3d9c.png)

[2019-07-13 19:17] StingyJack opened #35081 "Need to install for VS 2019?"
Use the link provided in one of the closed issues for this page.

https://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK

Save the file and then run it as administrator.

I had to do this because VS tells me "Service Fabric SDK must be installed" when trying to create one of the service fabric project types.  It shows an "Install"

[2019-07-13 19:18] StingyJack commented on #35081
Please do not close this issue until the doc page is updated.

[2019-07-13 19:20] AjayKumar-MSFT commented on #35079
@Rhywden, Thanks for your valuable feedback. The doc refresh for the Azure Mobile Apps is forthcoming adapting the latest changes, but no ETA on this yet. Sorry for any inconvenience with this.
Having said that, your feedback has been shared with the content owner for further review.

[2019-07-13 20:54] oguzhanf opened #35084 "Spelling error"
at https://docs.microsoft.com/en-us/azure/security-center/security-center-detection-capabilities#threat-intelligence:

"..has been compromised and an attacker it attempting to execute commands.."

should read:

"..has been compromised and an attacker is attempting to execute commands.."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-07-13 21:04] avik-so opened #35085 "Do we need to avoid using MTLS to get these observability features?"
The note on the page reads:
"Since service mesh lifts data off the wire, we cannot intercept the encrypted traffic. For traffic that doesn't leave the cluster, use an unencrypted protocol (for example, HTTP). For external traffic that must be encrypted, consider setting up SSL termination at the ingress controller."

Does this mean we can not make use of the MTLS features of Istio if we wish to ge

[2019-07-13 21:30] Rhywden commented on #35079
@AjayKumar-MSFT There seem to be more problems. For example, I've followed the steps (or at least their equivalent - everything is still there but moved around a bit) to the letter.
But now I'm always getting an ELOGIN error and quite frankly, the verbosity of the errors could be better, particularly if I'm setting logging to "debug".
Is it that it can't establish a connection? Unknown user? Wrong

[2019-07-13 21:40] Rhywden commented on #35079
Okay, found the problem. Here are two things you should add to the upcoming documentation:
a) Where to find the log files in case of problems (MSSMS => Management => SQL Server Logs)
b) You need to explicitly create the "azuretest" database before trying to connect to it. The "dbcreator" role may once have served the purpose of automatically creating the db (maybe?) but currently it only creates a

[2019-07-13 21:55] HeidiSteen commented on #34986
@dcbrown16  This article is now in the TOC.  https://docs.microsoft.com/en-us/azure/search/search-language-support

Thanks for your contribution!

#please-close

[2019-07-13 21:55] #34986 closed

[2019-07-13 21:59] Rhywden commented on #35079
What I'm still unclear on: How do I connect a Mobile app to the service I just created? I'll need some detailed rulesets for the app I'm envisioning and I don't really like the idea of having to create the rules directly on the production database without being able to test them first.

So, if I have a Xamarin.Forms app, what does the connection string have to look like in order to work? Because i

[2019-07-13 22:12] Rhywden commented on #35079
Or not. I copy&pasted all the code from my Azure instance into the local development instance, ran that one against "http://localhost:3000" for a local UWP project and where before I got an unhandled inner exception, it's simply working now.

[2019-07-13 22:16] PingPongSet commented on #34889
@jakaruna-MSFT

Do you meant `azure-vote.yaml` is Kubernetes script not Helm Chart script? What is the difference?

Command below is used to deploy, so it is Kubernetes, not Helm Charts?
`kubectl apply -f azure-vote.yaml`

[2019-07-13 22:25] KranthiPakala-MSFT commented on #34811
@khmerforce Thanks for reaching out to us. At this time it does not look like you are referring to a document content, but to a specific scenario. And I also see a [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/e6853919-b5c2-4c16-a3f3-26e8bd557cab/azure-data-factory-linked-service-connection-error?forum=AzureDataFactory) opened on this issue.
These kind of scenarios are addressed bet

[2019-07-13 22:25] #34811 closed

[2019-07-13 22:33] PingPongSet opened #35086 "How does azure-vote-all-in-one-redis.yaml get generated?"
How does azure-vote-all-in-one-redis.yaml get generated?

Is there information on the meaning of the content in that file?

https://github.com/Azure-Samples/azure-voting-app-redis/blob/master/azure-vote-all-in-one-redis.yaml

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e0a294-1b8a-1711-6f80-cb9ee87730ad
* Version I

[2019-07-14 00:19] PingPongSet opened #35087 "Is the folder, BikeSharingApp/charts, created via tool or manually?"
Is the top chart below created via tool or manually? What tool?

https://github.com/Azure/dev-spaces/tree/master/samples/BikeSharingApp/charts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0f176f-ffed-ce36-150d-c6ed6d47d6f7
* Version Independent ID: 9a642e32-7081-dbdb-c4be-69f44fdc8e8c
* Content: [Team development o

[2019-07-14 00:39] BharathNimmala-MSFT commented on #35085
@avik-so - Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-14 00:41] BharathNimmala-MSFT commented on #35080
@PingPongSet - Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-14 00:51] BharathNimmala-MSFT commented on #35087
@PingPongSet  - Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-14 02:03] rajnemani commented on #35057
A related question is if the batchSize property applicable to serviceBus and how it is related to maxConcurrentCalls if it is applicable.

[2019-07-14 02:39] PingPongSet opened #35088 "Kubernetes, Helm, or AZ DS: Make changes to azds.yaml with Azure Dev Spaces"
Is there an official reference document for azds.yaml, like below?

Which section is Kubernetes, which section Helm, which section is AZ DS?

    kind: helm-release
    apiVersion: 1.1
    build:
      context: .
      dockerfile: Dockerfile
    install:
      chart: charts/bikesharingweb
      values:
      - values.dev.yaml?
      - secrets.dev.yaml?
      set:
        replicaCount: 1
        im

[2019-07-14 02:59] CADbloke opened #35089 "Blocked at subnet"
need guidance on creating the subnet. Everything I enter throws a warning, it is either not within the default subnet range or it overlaps the default subnet range. What other possible scenario is there if both of these are wrong? Also, if Bastion knows what subnet it needs, why is this step not automated?
Blocked and failed.

---
#### Document details

⚠ *Do not edit this section. It is required

[2019-07-14 03:50] TheChadR opened #35090 "Selecting bash rather than selecting powershell in CloudShell"
The instructions talk about opening cloudshell for the following:
https://docs.microsoft.com/en-gb/azure/app-service/containers/quickstart-java#create-a-java-app

Please can you add in the steps prior to 'create a java app' that the CloudShell that should be selected is Bash or the commands will fail (ie when selecting powershell).

---
#### Document details

⚠ *Do not edit this section. It is req

[2019-07-14 04:02] Karishma-Tiwari-MSFT commented on #34689
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-14 04:02] #34689 closed

[2019-07-14 04:04] Karishma-Tiwari-MSFT commented on #34782
@roygara Did you get a chance to take a look at this issue. The customer is trying to create managed snapshots using ZRS but not able to achieve using Azufre CLI, while it is possible via Azure portal. Please let me know if you have insights on this or redirect to the right person. Thanks :)

[2019-07-14 04:37] leroibeukes commented on #35027
Hi

This one : https://docs.microsoft.com/en-us/azure/app-service/environment/create-external-ase

It's outdated and not very detailed - V1 has long gone - V2 is the new one and should be properly documented.

My question relates to an ASE V2 with external VIP - Need to know how the SNAT/PAT works.

Thank you !
Le Roi

[2019-07-14 04:51] AjayKumar-MSFT commented on #35081
@StingyJack, Thanks for leveraging Azure Docs feedback channel to raise this query and sharing your feedback, we are taking a look into this and will get back to you soon.

[2019-07-14 04:59] AjayKumar-MSFT commented on #35084
@oguzhanf, That's a good catch! Thanks for bringing this to our attention, we have made the necessary modification and the changes would be public in the next 24 hrs.

[2019-07-14 05:03] AjayKumar-MSFT commented on #35086
@PingPongSet, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-14 05:07] AjayKumar-MSFT commented on #35088
@PingPongSet, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-07-14 05:11] AjayKumar-MSFT commented on #35089
@CADbloke, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-14 05:34] amigup commented on #35072
@AjayKumar-MSFT Thanks for your prompt response. I've updated the Content, Content Source and Service name (pasting those below too.)

**Content**: https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking
**Content Source**: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/app/custom-operations-tracking.md
**Service**: application-insights

[2019-07-14 05:48] danparker276 commented on #14425
So will just a CNAME work?

[2019-07-14 06:04] TheChadR commented on #33044
Hi
This has still not been addresses and the screenshots for the following are outdated:
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#enablediag

[2019-07-14 06:37] msrini-MSFT commented on #35089
@CADbloke , can you provide me the address space of your VNET and the address prefix of the subnet that you are trying to create for Bastion

[2019-07-14 06:52] KalyanChanumolu-MSFT commented on #34992
@linkinchow  Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community. 

[2019-07-14 07:46] Vlados2810 opened #35091 "Access"
Why my security code is sent to old phone number and where I can change it? In my settings there is updated phone number...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Troubleshoot two-step verification -

[2019-07-14 08:27] AjayKumar-MSFT commented on #35091
@Vlados2810, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-14 08:57] AjayKumar-MSFT commented on #35090
@TheChadR, Thanks for sharing your feedback, it’s much appreciated. The doc aims at providing steps for App Service on _Linux_ and in the first paragraph it states “This quickstart shows how to use the _Azure CLI_ with the Maven Plugin for Azure App Service to deploy a Java web archive (WAR) file” and the cmdlets outlined shows “_bash_” (screenshot). Kindly let us know if more clarity on this is r

[2019-07-14 09:08] linusjody commented on #14425
Hi Dan,

A CNAME works perfectly. I’m surprised that the documentation still hasn’t been updated to reflect this after 10 months,

Thanks

Nathan

[2019-07-14 09:08] #14425 closed

[2019-07-14 09:09] AjayKumar-MSFT commented on #35072
@amigup, Thanks for sharing the document details, we are taking a look into this and will get back to you soon.

[2019-07-14 09:33] joergkrause commented on #30469
I was running into same error using same scenario and can confirm that's an issue with WSL.

[2019-07-14 09:41] kollchaitanya opened #35092 "Powershell cmd is required to create"
[Creating the DataSet availability as a part of the CI/CD or data factory execution is important, If it is available Can we get the samples of those implementations]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf7669b-33df-c86c-14c2-851991b5b579
* Version Independent ID: f366d803-3ebb-3da3-deed-8fa2a55fd4ab
* Conte

[2019-07-14 09:45] ThomasLive opened #35093 "Retention of Azure AD reports"
The following paragraph of the document seems to be incorrect:
"Events in the Azure AD audit report are retained for 180 days."

It depends on the Azure AD licenses and will be stored 7-90 days
(reference: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-reports-data-retention).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-07-14 09:53] RohitMungi-MSFT commented on #34742
@radnado We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-14 09:53] #34742 closed

[2019-07-14 10:17] iRainbow5 commented on #34457
@jakaruna-MSFT, thanks a lot. Yes I saw above comment, and I'm waiting for further confirmation about the permission required. Or have you already checked that no any permission is required? Then whether it means that I can write the boot diag info into any storage account regardless of whether it belongs to me? Thanks.

[2019-07-14 10:28] tkumark opened #35094 "monitoring CPU and memory for each ASP.Net Core Stateless Service"
I have multiple ASP .net Core2.1 Stateless services. Currently when I go to each of the VMs in the scaleset  and look at Task Manager to see the CPU and Memory for each of the microservice. I would like to see it in a consolidated view. How would I do this and which performance counter would I use to see this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-07-14 10:55] Dimka12 opened #35095 "External links only confuse the reader"
Don't send the reader to 10 page document just to explain a single term. "linearizability" in this case. Make small mental effort and explain it here with minimum words.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5e51b7e-7f34-c7df-ce4f-ee4bf5c8059a
* C

[2019-07-14 10:56] piotrgwiazda commented on #34689
In certain circumstances (LB IP assigned in service YAML file) the IP can be occupied by a previous deployment. This is a corner case I'm mentioning, and a subnet solves the problem.

However, you've mentioned assigning hostname. Is it possible to have a hostname assigned to an LB so that I know it upfront? This is to have the Application Gateway in front of it. AppGateway is created with Kubernet

[2019-07-14 11:00] ThomasLive opened #35096 "View "Users Performing Consent" is not available"
This article describes a pre-built Log analytics view with the name "Users Performing Consent". The referenced link "install and use log analytics views for Azure AD activity logs" and the related GitHub repository covered only the following two pre-built views:

 - Azure AD Account Provisioning Events:
 - Sign-ins Events

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-07-14 11:32] unmeshM opened #35097 "entity function lifetime"
what is the lifetime of entity function. Is it same as activity function (upto 10 min) or like orchestration function (never timeout)

[2019-07-14 11:46] TheChadR commented on #35090
I think some more clarity can be added in the points above to select whether to use bash or powershell depending on the command required:

![image](https://user-images.githubusercontent.com/25785724/61183151-c903b980-a680-11e9-8ca8-da14674216c1.png)

[2019-07-14 12:36] Ardutec commented on #10205
What subscription model you are using? I am using free tier subscription, I think that may be difference.
1. I tried both desktop app and Power BI online.
2. I am using IIOT gateway but that is sending data on IoT hub.
3. NO I am not able to see in CLI monitoring.
4. Yes
5. Nothing change on Power BI, I couldn't find any data set or any other thing from Iot hub side.

[2019-07-14 13:05] shashishailaj commented on #35084
We will close this issue now and the document will be live in the next release cycle in 24 - 48 hrs. maximum.

Thank you.

[2019-07-14 13:05] #35084 closed

[2019-07-14 14:01] dcurwin commented on #34952
The tutorial describes a situation where a new resource group should be created:

"For Resource group, select Use existing and choose myResourceGroup. If myResourceGroup doesn't exist, select Create New and type myResourceGroup."

I have tested this scenario in a subscription without an existing resource group, and was able to create a new resource group without a problem.

Are you saying that tha

[2019-07-14 14:52] AjayKumar-MSFT commented on #35092
@kollchaitanya, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2019-07-14 14:54] AjayKumar-MSFT commented on #35093
@ThomasLive, Thanks for the feedback!  We are taking a look into this and will get back to you soon.

[2019-07-14 14:58] AjayKumar-MSFT commented on #35094
@tkumark, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-14 15:06] AjayKumar-MSFT commented on #35095
@Dimka12, Thanks for sharing your valuable feedback! We (@markjbrown)are taking a look into this and will get back to you soon.

[2019-07-14 15:09] AjayKumar-MSFT commented on #35096
@ThomasLive, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-07-14 15:12] AjayKumar-MSFT commented on #35097
@unmeshM, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the document for which this feedback is applicable to?

[2019-07-14 15:46] monhaber commented on #28186
It's been updated.   Please review and close. Thanks.

[2019-07-14 15:50] monhaber commented on #33748
For pricing questions - please refer to the Security Center  official pricing page: https://azure.microsoft.com/en-us/pricing/details/security-center/

[2019-07-14 15:56] aquibqureshi26 commented on #33748
Hi Monika,

Pricing page doesn't include complete information. I just wanted to know how much data was included. And it is 500 MB per day. This should be included in FAQs

[2019-07-14 15:56] AjayKumar-MSFT commented on #34919
@theav8or, Thanks for sharing your valuable feedback! Your feedback has been shared with the content owner for further review.

[2019-07-14 15:57] monhaber commented on #34183
It is a "single pipeline" because it is the integration point for Azure Monitor.

[2019-07-14 16:54] Vlados2810 commented on #35091
Any ideas, because my old number is blocked

[2019-07-14 17:24] AjayKumar-MSFT commented on #34979
@kaushalp, That's a great suggestion! Thanks for sharing your feedback here for benefiting the users.

This document https://docs.microsoft.com/azure/app-service/environment/create-ilb-ase - outlines steps for creating and using ILB ASE and details the new changes – ‘Earlier versions of the ILB ASE required you to provide a domain suffix and a default certificate for HTTPS connections. The domain

[2019-07-14 17:39] AjayKumar-MSFT commented on #34980
@kaushalp, Thanks for sharing your feedback on the both the docs (#34979). Your feedback has been shared with the content owner for further review.

[2019-07-14 17:47] josiah14 commented on #30469
For reference, I'm on the latest MacOS, so this problem could apply generically to all *nix environments of WSL is also not working for people.

[2019-07-14 17:53] AjayKumar-MSFT commented on #35027
@leroibeukes, Thanks for sharing additional details. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-14 17:57] AjayKumar-MSFT commented on #35042
@taromielna, Just checking to see if the above suggestion was helpful or you need further assistance on this topic.

[2019-07-14 18:28] AjayKumar-MSFT commented on #35079
@Rhywden, Thanks again for sharing additional details and all your suggestions. We really appreciate all your feedback on the doc enhancements and sorry for any inconvenience you have experienced. If you still have issues with the Mobile App setup and configuration, kindly send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue and I will work with you offline and for doc r

[2019-07-14 18:36] AjayKumar-MSFT commented on #35090
@TheChadR,  Thanks for sharing additional details. Your feedback has been shared with the content owner (@msangapu) for further review.

[2019-07-14 20:32] stevestein commented on #34794
@matt-clement - thanks for raising this issue. Updated info is on our list and forthcoming, so I'm going to go ahead and close this one. Thanks!

[2019-07-14 20:32] stevestein commented on #34794
#please-close

[2019-07-14 20:32] #34794 closed

[2019-07-14 21:54] markdebruijne commented on #25882
@georgewallace Unfortunately it still isn't available. I have just created a new VM, and still facing this issue.

Line 18 of the script still is ```if ($portNumber -eq 3389)```
![image](https://user-images.githubusercontent.com/19689903/61189811-a5e20580-a692-11e9-9362-9338a84f962a.png)

As per my suggestion it should be updated to ````if ($RDPPort -eq 3389)```

Please re-open this issue, and hav

[2019-07-15 00:14] fahdsiddiqui commented on #18269
This is indeed very confusing. Please do not overload the term "consistent-prefix" which takes the form of a "consistent cut" or a "global snapshot" elsewhere. In the same document, consistent prefix is described as "some prefix of all the updates, with no gaps". To add "only in a single writer session" just doesn't make sense. I would completely take out "consistent prefix" guarantee for session,

[2019-07-15 00:16] timleyden opened #35103 "Get-AzRecoveryServicesVaultSettingsFile has Certificate as a required paramater"
Get-AzRecoveryServicesVaultSettingsFile has  a required parameter of certificate which the example do not show. After finding some similar issues with this command when used in the context of ASR, I tried using a self signed certificate. The command then completed successfully but failed to import using start-obregistration.  Reviewing the logs shows that it could not find a private key in the xml

[2019-07-15 00:19] fahdsiddiqui opened #35104 "Do not overload the term consistent prefix for session consistency level"
To say that session consistency offers consistent prefix guarantee is very confusing, if not wrong. This is related to the issue [18269](https://github.com/MicrosoftDocs/azure-docs/issues/18269), where it is clarified that it is in the context of a "single writer". Please do not overload the term "consistent-prefix" which takes the form of a "consistent cut" or a "global snapshot" elsewhere. In th

[2019-07-15 00:37] fahdsiddiqui commented on #18269
Please correct the **Consistency SLA** to say the same here - https://azure.microsoft.com/en-us/support/legal/sla/cosmos-db/v1_3/
It reads the following for session guarantees (note there's no qualifier for consistent prefix)
Read Your Own Write
(Within Write Region)
Monotonic Read
Consistent Prefix

[2019-07-15 02:53] KJaunay opened #35106 "Failed in building/customizing image: Failed while waiting for packerizer: Microservice has failed"
When trying to run through the [Create a Windows VM with Azure Image Builder](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder) tutorial, the following error appears when I run the 'Start the build step'

This is occurred while I was using the "Try it" CLI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-07-15 03:36] KetanChawda-MSFT commented on #34932
@gsimardnet  I have created a PR to correct the URL mentioned in the cross-function app example.

@cgillum / @kashimiz  can you please provide your inputs on 2nd ask from the OP.

[2019-07-15 03:48] #34992 closed

[2019-07-15 03:56] KranthiPakala-MSFT commented on #35020
@tudordid The PR to update the document has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2019-07-15 03:56] #35020 closed

[2019-07-15 03:56] KalyanChanumolu-MSFT commented on #28186
Thank you @monhaber

@stschulznz Thanks again for reporting the issue.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-07-15 03:56] #28186 closed

[2019-07-15 04:00] KalyanChanumolu-MSFT commented on #34934
@lukepuplett Thank you for the detailed feedback. This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-07-15 04:20] whossname commented on #35086
This tutorial would be much easier to follow if you just provided an example of that file, or any other code we need.

[2019-07-15 04:33] KrishnaG-MSFT commented on #35103
@timleyden Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-15 04:34] KrishnaG-MSFT commented on #35104
@fahdsiddiqui Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-15 04:35] KrishnaG-MSFT commented on #35106
@KJaunay Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-15 04:41] johndowns opened #35107 "Documentation for `inboundnetworkdependenciesendpoints` API"
Could you please document the `inboundnetworkdependenciesendpoints` API on the [main Azure ARM API documentation for App Services](https://docs.microsoft.com/en-us/rest/api/appservice/)?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80d8f411-2e7f-abc4-3e62-8b467e2409e7
* Version Independent ID: b4737b1d-b963-2ee4-aed0

[2019-07-15 04:47] shashishailaj commented on #35107
@johndowns Thank you for your feedback . We will investigate and engage the content owners further to have this reviewed.

[2019-07-15 04:51] msrini-MSFT commented on #35076
@osudude , Thank you for your feedback. Will check and update.

[2019-07-15 04:57] KalyanChanumolu-MSFT commented on #35104
@fahdsiddiqui Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate. 

[2019-07-15 04:58] KranthiPakala-MSFT commented on #35036
@KenVraagaard Thanks for the feedback. This document refers to ADLS Gen2 Blob container as a sink data store and not ADLS File Share. Could you please elaborate the ask to provide a better assistance?

[2019-07-15 04:59] SubhashVasarapu-MSFT commented on #34813
@hisasima, We are assigning this issue to the author for updating the document accordingly. @malopMSFT, Could you please provide your insights on this?

[2019-07-15 05:01] NaveenAkode-MSFT commented on #34995
@Yves57, am assigning this issue to author for further review.

[2019-07-15 05:07] CHEEKATLAPRADEEP-MSFT commented on #35002
@sasi-thonangi-img  I would recommend you to create a thread on the forums - [Azure Analysis Services](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices).
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

Please create a Forum thread and post its link here and tag me. I will no

[2019-07-15 05:07] #35002 closed

[2019-07-15 05:13] SadiqhAhmed-MSFT commented on #35103
@pvrk FYI.

[2019-07-15 05:21] jakaruna-MSFT commented on #34480
@denhsu I didn't tried that yet. But document says that it works with public images as well. So it should work. Link [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-base-image-update#tasks-triggered-by-a-base-image-update).

Try that work around and and open a new issue if you face any issues.

I will close this out for now. Please open a new issue or a

[2019-07-15 05:21] #34480 closed

[2019-07-15 05:22] msvijayn commented on #34832
@shashishailaj - have you verified if indeed webhook have payload as "searchResults"? If so, its a bug - it is should be "searchResult". Please don't arbitrarily update docs without informing authors or SMEs first.

Kindly rollback your doc changes done via #82059

[2019-07-15 05:24] jakaruna-MSFT commented on #34633
It will work if your repo is public.
If your repo is private, Then you need to provide the credentials along with the URL.

[2019-07-15 05:28] AshokPeddakotla-MSFT commented on #32325
@sushilraje Please have a look at this issue and provide your suggestions.

[2019-07-15 05:29] KetanChawda-MSFT commented on #34932
@gsimardnet I have assigned the issue to the content author to evaluate and update as appropriate.

@cgillum / @kashimiz can you please review the samples provided in the doc.

[2019-07-15 05:32] msvijayn commented on #34832
@shashishailaj @DuffLV  - By the way, just tested the webhook from my test Log Analytics workspace - payload contains:

    "tables": [
      {
        "name": "PrimaryResult",
        "columns": [ ...],
      "rows": [ ... ],
]
},

[2019-07-15 05:33] jakaruna-MSFT commented on #34889
Yes.  we can the file `azure-vote.yaml`  as the specification or a definition for the resources which we are going to create.

Lets say we have an applicaion which we need to deploy that to kubernetes.
One option is to write a yaml file with all the resources in it. To make chnages to those file and deploy a customized version, the users should have knowledge about those service objects to edit.
A

[2019-07-15 05:43] jakaruna-MSFT commented on #34633
You need to load the `$vmssConfig` variable after the VMSS is created with the VMSS details like shown below.

[code]
Above script should go to the  line 10.
Once you have the config loaded in the variable `$vmssConfig`,
Then you can supply that to `Update-AzVmss`

[2019-07-15 05:45] nmanzi commented on #11383
Noting I am receiving the same issue. Azure Function App v2, Token resource as parameter on function, and function configured for Azure AD auth. Access the endpoint, works for 1 hour, then fails with AADSTS500133.

[2019-07-15 05:49] AshokPeddakotla-MSFT commented on #34640
@ugurgokdere Have you had a chance to see the above response? Do let us know if the above suggestions helped.

[2019-07-15 05:51] jakaruna-MSFT commented on #34509
@zr-msft @mlearned Can we update this `fsType: NTFS`  in the node yaml  or in a note.

With this setting only, static disks will work in windows nodes.

In the same page, Under [creating a new disk](https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume#create-an-azure-disk), setting --os-type option to Windows for windows disk is added.
But thats not helping for windows node pools.

[2019-07-15 05:55] DuffLV commented on #34832
@msvijayn @shashishailaj Hello, I am consuming the log alerts that have been configured with custom JSON payload:

{
       "alertname":"#alertrulename",
       "IncludeSearchResults":true
    }

from a function app that parses the input and based on it, performs various manipulations. This function logs the output and it is as follows (this is the last run, logged at 2019-07-15 03:46:04.778 UTC):

[2019-07-15 05:56] YutongTie-MSFT commented on #34771
@desarkar
We will now proceed to close this thread since the problem of this issue has been mitigated. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-15 05:56] #34771 closed

[2019-07-15 06:05] YutongTie-MSFT commented on #34836
@tejasvinishelar Hi dear customer, we are using this forum for document issues only, please post your question to our tech forum: https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureCognitiveService&filter=alltypes&sort=lastpostdesc Thank you for your understanding.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @Y

[2019-07-15 06:05] #34836 closed

[2019-07-15 06:08] msvijayn commented on #34832
@DuffLV - thanks for the clarification. Yes, for custom webhook the payload will be "SearchResults" - as indicated in the property enabled. This was an err on my part as doc author. But for the rest of the cases - the payload will be "SearchResult" only

[2019-07-15 06:08] rominparekh opened #35108 "Java SDK for Data Lake Storage Gen2"
Is there a timeline for a Java SDK to become available? I am following [1](https://docs.microsoft.com/en-gb/azure/storage/blobs/data-lake-storage-upgrade?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#programming-interfaces) and [2](https://azure.microsoft.com/en-us/updates/?product=storage) for updates.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-07-15 06:09] PramodValavala-MSFT commented on #35008
@Ballzer0 I believe the main advantage here is that validation is take care of by APIM and your services wouldn't have to validate themselves.

Also, like you've mentioned, you could extract details from the JWT and put them in custom headers so that your services wouldn't have to query them from the token. You can parse the JWT using a policy expression like this
[code]

[2019-07-15 06:22] rdevakumar opened #35109 "still in preview?"
The start of the document says this feature is still in preview.  When this is expected to be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault references - Azure App Service](https://docs.microsof

[2019-07-15 06:22] DuffLV commented on #34832
@msvijayn, makes sense, thanks. I, on my part, should've written the first post properly, would've saved you guys some time.

[2019-07-15 06:32] msrini-MSFT commented on #34281
@OffColour , Sorry for the delayed response. I have heard back from Product Group and it seems like a bug and it will be fixed soon. No ETA at this moment.

[2019-07-15 06:32] #34281 closed

[2019-07-15 06:33] angoyal-msft commented on #34731
@KeiroKamioka0000
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-15 06:33] #34731 closed

[2019-07-15 06:36] angoyal-msft commented on #34677
@jkrysicki I have assigned this issue to the content author to help you better on this issue.
@orspod Could you please look at this issue and provide the appropriate inputs.

[2019-07-15 06:41] msrini-MSFT commented on #35076
@osudude , you can right click the image and open in a new tab to view the image better. Anyways I will assign this issue to author to check what we can do to improve the image resolution.

[2019-07-15 06:42] msrini-MSFT commented on #35089
@CADbloke , Any update for me on this issue?

[2019-07-15 06:46] VikasPullagura-MSFT commented on #35081
@StingyJack Thanks for your feedback on the document, I am assigning the issue to the author for updating the document as appropriate.

[2019-07-15 06:48] ichimei0125 commented on #34993
When I tried
 ```(Get-AzStorageAccountNetworkRuleSet -ResourceGroupName "myresourcegroup" -AccountName "mystorageaccount").DefaultAction```

It shows **deny**

[2019-07-15 06:48] #34993 closed

[2019-07-15 06:50] SnehaAgrawal-MSFT commented on #35109
@rdevakumar Thanks for the question! We are investigating and will update you shortly.

[2019-07-15 06:59] KrishnaG-MSFT commented on #34910
@aurangzaibumer777 Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:01] KrishnaG-MSFT commented on #34915
@tchenkete Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:01] #34915 closed

[2019-07-15 07:01] KrishnaG-MSFT commented on #34917
@rajb865 Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:01] #34917 closed

[2019-07-15 07:02] KrishnaG-MSFT commented on #34918
@TimPenfare Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:02] #34918 closed

[2019-07-15 07:02] KranthiPakala-MSFT commented on #34931
@suketunayak Could you try giving the output value as shown below. When I tried using wasbs://BlobContainer@StorageAccount.blob.core.windows.net/outputfolder/ it works for me.

![image](https://user-images.githubusercontent.com/50185738/61199543-36204a80-a693-11e9-8f83-856020311c89.png)

Please do try and let us know how it works. We will update the document as appropriate.

[2019-07-15 07:03] KrishnaG-MSFT commented on #34921
@ayyazez Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:03] #34921 closed

[2019-07-15 07:04] mgwilliam opened #35110 "When will en-GB locale be supported?"
When will British English be supported? I need to spell check using British spelling.

eg. **colour** would be considered correct, **color** would not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e03b67-8c6c-2749-7778-99f7dca069c6
* Version Independent ID: a6ee8911-2630-d6c4-81c7-28a5fdf4b767
* Content: [Language s

[2019-07-15 07:04] KrishnaG-MSFT commented on #34939
@dangerousness Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:04] #34939 closed

[2019-07-15 07:04] KrishnaG-MSFT commented on #34953
@harrynode Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:04] #34953 closed

[2019-07-15 07:05] KrishnaG-MSFT commented on #34963
@amentee Closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:05] #34963 closed

[2019-07-15 07:07] d4md1n opened #35111 "Create Application Gateway Standard v2 Example"
SKU Standardv2 create application gateway example missing,
It should be something like the following
$appgw = New-AzApplicationGateway -Name appgateway -SSLCertificates $cert -ResourceGroupName "appgw-rg" -Location "West US" -BackendAddressPools $pool -BackendHttpSettingsCollection $poolSetting01 -FrontendIpConfigurations $fipconfig -GatewayIpConfigurations $gipconfig -FrontendPorts $fp -HttpListe

[2019-07-15 07:07] KrishnaG-MSFT commented on #34969
@rodrigour Since we have not heard back from you we will be closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:07] #34969 closed

[2019-07-15 07:08] KrishnaG-MSFT commented on #34970
@rodrigour Since we have not heard back from you we will be closing this issue for now. If there are any questions regarding feedback on the Azure documentation then please refer to an Azure document and let us know so that we will gladly continue the discussion.

[2019-07-15 07:08] #34970 closed

[2019-07-15 07:08] ChiragMishra-MSFT commented on #34873
@nenad1002 Please follow [this blog](https://blogs.msdn.microsoft.com/friis/2018/04/20/how-to-find-the-global-admin-for-your-azure-ad-tenant/) for the same.

[2019-07-15 07:14] CHEEKATLAPRADEEP-MSFT commented on #35108
Thanks for the question! We are investigating and will update you shortly.

@normesta Is there a timeline for a Java SDK?

[2019-07-15 07:15] tokaplan commented on #35085
@avik-so This monitoring solution will work fine if mutual TLS is enabled for the Istio mesh. What the statement you're referring to means is that if the traffic is encrypted end-to-end between applications - and is therefore opaque to the Istio mesh - then you won't get visibility into it. If the traffic is encrypted by Istio (such as in a case where you configure mTLS at the Istio level), the so

[2019-07-15 07:21] obrookstein commented on #34748
Thanks @alinamstanciu  - exactly the answer I was looking for!

[2019-07-15 07:23] avik-so commented on #35085
Great, thank you!
--

*Avi Kessner* | Software Architect at OnceHub | avik@oncehub.com
Schedule a call with me <https://go.oncehub.com/ak>
<http://meetme.so/gilad>
______________________________________________________________________________

*Find out more about OnceHub:Website <http://www.oncehub.com/> | **Blog
<https://blog.oncehub.com/>** | **Facebook
<https://www.facebook.com/OnceHub> **| Tw

[2019-07-15 07:23] forester123 opened #35112 ""az ad app create" not work in China"
[code]

The command `az ad app create` used to work in both Public Azure and Azure China, I tested with CLI version 2.0.59.
![image](https://user-images.githubusercontent.com/13616574/61200681-dd919180-a714-11e9-94c8-0e35529c1a47.png)

However, after updating CLI to the latest version 2.0.68, it doesn't work in Azure China and encounter below error, while in Public Azure, it still works, is this e

[2019-07-15 07:28] himanksharma24 commented on #28457
@annerejula @anirudhcavale @MicahMcKittrick-MSFT any success ?

[2019-07-15 07:39] aurangzaibumer777 commented on #34910
https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-java

[2019-07-15 07:54] msrini-MSFT commented on #35001
@cktechative , Do you have any update for me?

[2019-07-15 07:56] msrini-MSFT commented on #35111
@d4md1n , Thank you for your feedback. I will take a look and update shortly.

[2019-07-15 08:09] jakaruna-MSFT commented on #35086
#34889

[2019-07-15 08:13] AshokPeddakotla-MSFT commented on #34866
@Auticons1  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-15 08:16] SnehaGunda commented on #34153
@chad-chronotek Hope Matias's response above helps. We will close this issue if you don't have further questions.

#please-close

[2019-07-15 08:16] #34153 closed

[2019-07-15 08:17] jakaruna-MSFT commented on #35009
@hadr10  Thanks for posting here.
I will check with the internal team about the Event hub support for windows and update you.

[2019-07-15 08:25] AshokPeddakotla-MSFT commented on #34902
@Ardutec I don't see any issue with free tier. You can try upgrading your IoT hub pricing tier and see if that makes any difference. This should work as long as you meet the following requirements.

- An active Azure subscription.
- An Azure IoT hub under your subscription.
- A client application that sends messages to your Azure IoT hub.

Do let us know if you need further help.

[2019-07-15 08:36] GeethalakshmiG commented on #14716
We can restore disk in this case. We can use these restored disks to create a VM of our choice from the variations available in compute

[2019-07-15 08:38] msrini-MSFT commented on #35071
@pedroneil , Thank you for your insight. When you have Service Endpoints configured on the storage account and selected only specific network, you will not get 404 error. You will be getting "Authorization Error" as the below screen shot.

![image](https://user-images.githubusercontent.com/47132998/61204103-082a1d00-a70a-11e9-94ff-d8b1662e3b2b.png)

Let me know if that clarifies your question.

[2019-07-15 08:48] KalyanChanumolu-MSFT commented on #34791
@eparizzi Is there a specific reason you want to create these tables in the ShardMapManager database itself?
yes you can create additional tables, however I would not recommend creating them in the __ShardManagement schema.

[2019-07-15 08:53] jjindrich commented on #35009
Check this link https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-stream-event-hubs

[2019-07-15 09:03] omiossec opened #35115 "Link Error in Sample, 404 error core for cross-rg-deployment"
In https://docs.microsoft.com/en-us/azure/lighthouse/samples
The link for the cross-rg-deployment return a 404 error Not Found
The links should be https://github.com/Azure/Azure-Lighthouse-samples/tree/master/Azure-Delegated-Resource-Management/templates/cross-rg-deployment
And not
https://github.com/Azure/Azure-Lighthouse-samples/tree/master/Azure-Delegated-Resource-Management/cross-rg-deployment

[2019-07-15 09:03] dpatrickx opened #35116 "Seems that autoscaler can be applied to multiple node pools now?"
This page states that 'Cluster autoscaler should only be tested in preview on AKS clusters with a single node pool.'
But I find that when a cluster has multiple node pools, autoscaler still can be set for every node pool, using 'az aks nodepool update' command, and this page seems to be outdated.
So, I wonder that when there are multiple node pools, which node pool will be selected to scale out? W

[2019-07-15 09:05] ram-msft commented on #34938
@dg2k Could you please help with the language pair that you are looking. Please also raise user voice forum request in the following [link](https://cognitive.uservoice.com/forums/558796-translator-api) for the language pairs that are not available.

[2019-07-15 09:13] SubhashVasarapu-MSFT commented on #34870
@taromielnaz, Global load balancing services such as Traffic Manager and Front Door distribute traffic from your end users across your regional backends, across clouds or even your hybrid on-premises services.
**Traffic manager** looks at the DNS requests and responds with a healthy backend in accordance with the routing policy the customer has selected. The client connects directly to that backen

[2019-07-15 09:13] #34870 closed

[2019-07-15 09:27] SadiqhAhmed-MSFT commented on #34975
@jhankins71 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-15 09:27] #34975 closed

[2019-07-15 09:27] Anmolgan81 commented on #18267
Any updates on this? I still cannot add the AAD group users, using obj:groupid@tenantid?

[2019-07-15 09:30] PingPongSet commented on #34889
@jakaruna-MSFT

So do you mean configuration scirpt in Kubernetes, like `azure-vote.yaml` below, is written manually, cannot be generated via VS or tool?
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#run-the-application

On the other hand, on using Helm with Azure Dev Spaces, how to define the equivalent of config like below:

1) Define LoadBalancer for web app like below
2) De

[2019-07-15 09:30] jakaruna-MSFT commented on #35009
Thank you very much @jjindrich

@hadr10 From the document shared by @jjindrich , We can send the Windows diagnostic extension data to event hubs.

Please go through the document and let us know if you face any issues

[2019-07-15 09:35] eparizzi commented on #34791
@KalyanChanumolu-MSFT Well, I need to store metadata about each shard and then be able to retrieve the whole list of shards and their data.

I need to keep custom data about each shard. Storing it in the shard manager db seems the appropiate thing to do.
Other options include creating a whole new database just to have a single table with that. Or replicate the same table accross all the shards.

A

[2019-07-15 09:35] MahdeeT opened #35118 "Can't connect to KeyVault"
This line:

(Invoke-WebRequest -Uri "https://XXXX.vault.azure.net/secrets/YYYY?api-version=2016-10-01" -Method GET -Headers @{Authorization="Bearer $KeyVaultToken"}).content

throws an error:
Invoke-WebRequest : The remote name could not be resolved: 'XXXX.vault.azure.net'
At line:1 char:2

MIS in enabled on Azure VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-07-15 09:38] genlin commented on #33556
@uonie The PR has been summited to update the article. Meantime, I will process to close this issue. Feel free to reopen it if there is any additional comment or feedback about this matter.

#please-close

[2019-07-15 09:38] #33556 closed

[2019-07-15 09:38] dcurwin commented on #15134
#please-close

[2019-07-15 09:38] #15134 closed

[2019-07-15 09:39] dcurwin commented on #14716
#please-close

[2019-07-15 09:39] #14716 closed

[2019-07-15 09:40] KrishnaG-MSFT commented on #34965
@wstinkens Thanks for bringing this up here! I was also able to reproduce the issue.
Assiging @bwren for visibility on the issue and document enhancement considerations.

[2019-07-15 09:42] RohitMungi-MSFT commented on #35110
@mgwilliam en-GB is actually one of the supported languages as per the documentation link.
![image](https://user-images.githubusercontent.com/46958063/61207498-de292880-a712-11e9-8af1-9605772201fe.png)

Please note that to work with any other language than en-US, the mkt should be set and either Accept-Language or setLang should be set as it has been described in [Spell Check API v7 reference](htt

[2019-07-15 09:56] shashishailaj commented on #35118
@MahdeeT Thank you for your query. We will investigate and update further.

[2019-07-15 09:57] shashishailaj commented on #35112
@forester123 Thank you for your query. We will investigate and update further.

[2019-07-15 09:59] SubhashVasarapu-MSFT commented on #34513
@chenshunshou, You can rewrite the location header from the application gateway side to the client using this [feature](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers) of rewriting. As you mentioned earlier yes coding has an impact on URL redirections where we can overcome that using the above-mentioned URL rewriting technique. I am assigning this issue to the cont

[2019-07-15 09:59] shashishailaj commented on #35116
@dpatrickx Thank you for your query. We will investigate and update the thread further.

[2019-07-15 10:01] shashishailaj commented on #35115
@omiossec Thank you for your query. We will investigate and update further.

[2019-07-15 10:04] mgwilliam commented on #35110
Yes, I've seen that en-GB is listed on the page...

However, I have followed the documentation and set the market and language both to British when calling the API or using the SDK. In all cases, the spelling checks are accepting **American** spellings which should not be valid when checking explicitly for British spelling.

The reverse is also true: British spellings are being rejected and Americ

[2019-07-15 10:09] KalyanChanumolu-MSFT commented on #35025
@YvonneArnoldus The standard SQL server role sysadmin doesn't exist in Azure SQL database.
The SQL server admin user is not part of any fixed role and enters the user databases as 'dbo' user

You can use the sys.dm_exec_sessions to check active sessions and you will need to use the name

[code]

[2019-07-15 10:13] SubhashVasarapu-MSFT commented on #34567
@cogran, Thanks for your feedback. We are assigning this issue to the author for updating the document post validation. @KumudD, Could you please provide your insights on this?

[2019-07-15 10:14] KalyanChanumolu-MSFT commented on #34791
Yes you should be good.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-15 10:15] #34791 closed

[2019-07-15 10:22] SadiqhAhmed-MSFT commented on #34735
@KeiroKamioka0000 Today there is no way to check the snapshot size through UI/PS. We are working on it to see how we can expose it to the customers. No timelines to commit for it as of now.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-15 10:22] #34735 closed

[2019-07-15 10:22] YvonneArnoldus commented on #35025
@KalyanChanumolu-MSFT,

Any ideas on who I can get the login_name to this script when it is set in the azure devops pipeline? When this script is part of the EF Migration in the application?

Only way I can think about doing this is. Setting an application setting on my application what has the EF migration in the devops pipeline and use this application setting some how in the SQL script.

Which

[2019-07-15 10:25] VikasPullagura-MSFT commented on #35112
@forester123 I have assigned the issue to the document author to comment on this.

[2019-07-15 10:26] VikasPullagura-MSFT commented on #35112
@mlearned Can you please provide some insights and add your comments for this issue.

[2019-07-15 10:27] Turochamp opened #35119 "Code example does not compile"
Error	CS0246	The type or namespace name 'HttpDependenciesParsingTelemetryInitializer' could not be found (are you missing a using directive or an assembly reference?)

Error	CS1061	'DependencyTrackingTelemetryModule' does not contain a definition for 'ExcludeComponentCorrelationHttpHeadersOnDomains' and no accessible extension method 'ExcludeComponentCorrelationHttpHeadersOnDomains' accepting a fi

[2019-07-15 10:32] VikasPullagura-MSFT commented on #35116
@dpatrickx Thanks for the feedback. I am assigning the issue to the author for adding his comments.

[2019-07-15 10:34] VikasPullagura-MSFT commented on #35116
@mlearned Can you please add your comments.

[2019-07-15 10:38] #35119 closed

[2019-07-15 10:49] PramodValavala-MSFT commented on #35039
@d-h-morrison Events from Azure Services like blob storage are already published to an _internal_ event grid domain which you would just have to [subscribe to](https://docs.microsoft.com/en-us/azure/event-grid/blob-event-quickstart-portal#subscribe-to-the-blob-storage).

Event Grid Topics and Domains are only for custom events for which [creating subscriptions is quite similar](https://docs.micros

[2019-07-15 11:14] KrishnaG-MSFT commented on #35030
@psatyaa Apologize for the inconvenience. I tried to reproduce the issue but was successfully able to add source control. As at this point it appears that there's no edits or updates needed for reference documentation so I suggest you to open a thread and ask for suggestions and answers in communities [MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow](https://sta

[2019-07-15 11:14] SuperSing opened #35120 "Secure access to "sensitive" columns"
Is there a simple way of controlling access to columns marked as "sensitive" ? I mean a centralized place where you can manage (grant/deny) access to "sensitive" columns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
*

[2019-07-15 11:47] syswpit commented on #22223
Yes, I want to manage user profiles directly in Salesforce. However, I'm forced to select a role (so a Salesforce profile) in Azure AD when using SSO.
How do I get around this?

[2019-07-15 11:50] SadiqhAhmed-MSFT commented on #35115
@omiossec I've reviewed the documentation and updated link. The changes should go live in few hours.

[2019-07-15 11:59] bjthomson commented on #14663
Hello @StepthenMolloy, Its been a while since I posted this, so I've had to go back over my notes.
I'm running VS2019 all the time now, and can confirm no squiggly lines, however I dont see the option in add Connected service for KeyVault

![NoKeyVault](https://user-images.githubusercontent.com/22427749/61213550-43721f00-a6fd-11e9-8727-03602d6c03e5.PNG)
Strangely, it DOES appear in VS2017.
![YesKe

[2019-07-15 12:01] kempd opened #35121 "VHD size cannot be a decimal number."
After hours of troubleshooting why my VHD (converted from VHDX) was not able to convert to a disk resource I found that this was caused by it having a decimal size. After expanding the disk to a non-decimal size it all started working. Please add this as a requirement in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-07-15 12:06] jakaruna-MSFT commented on #35074
@litvinolek Are you deploying through portal or comman line?
If you deploying through portal, Please have a look at this [remark](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-deployment#remarks).

Are you using this(https://github.com/Azure/azure-quickstart-templates/tree/master/100-marketplace-sample) template from Azure Quickstart template? Plea

[2019-07-15 12:08] dg2k commented on #34938
@ram-msft - Thank you for the reply.

The language pair I am looking for is **Oromo-English**. The ISO Language Code for Oromo (natively referred to as Afan Oromo) is **om**. This language appears in Office applications such as Microsoft Word, although the language accessory pack as yet doesn't exist for it.

I am a developer looking into making the Text Translation possible and as I indicated at

[2019-07-15 12:09] VikasPullagura-MSFT commented on #35121
@kempd Thanks for the feedback on the issue. I am assigning the issue to the author for updating the document as required.

[2019-07-15 12:10] VikasPullagura-MSFT commented on #35121
@genlin Can you please add your comments to the issue and update the document as requested.

[2019-07-15 12:11] bjthomson commented on #14663
Ahh, I see its another bug:
https://developercommunity.visualstudio.com/content/problem/533472/secure-secrets-with-azure-key-vault-not-in-connect.html

[2019-07-15 12:13] jakaruna-MSFT commented on #35086
@PingPongSet In this example, Author created it manually.
Author would have taken the sample definitions from the document and modified that to fit our needs.

for example, [This](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment) is the sample for a deployment. We can modify that to fit our needs.

For generating that via helm please refer to [this](https

[2019-07-15 12:13] msrini-MSFT commented on #35111
https://github.com/MicrosoftDocs/azure-docs-pr/pull/82185

PR has been made. changes will be reflected shortly.

[2019-07-15 12:20] jakaruna-MSFT commented on #34889
Sample in this https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#run-the-application doc is written manually by copying and modifying the samples from documentation.

I will review this  https://docs.microsoft.com/en-us/visualstudio/containers/tutorial-kubernetes-tools?view=vs-2019 with my team and let you know more about this. Internally it uses helm to deploy apps in the kubernet

[2019-07-15 12:23] #35111 closed

[2019-07-15 12:40] ram-msft commented on #34938
@dg2k Thanks. Could you please raise a request in the [user voice forum](https://cognitive.uservoice.com/forums/558796-translator) for this language to prioritize.

[2019-07-15 12:56] vainolo commented on #35120
As of today the sensitivity of a column does not affect access control but it is something we are actively investigating. Thanks for the feedback

[2019-07-15 12:56] PramodValavala-MSFT commented on #35054
@proguru Just following up here... Hope my previous comment clears things up.

[2019-07-15 13:02] artmasa commented on #22731
@haveyoumetcp, I agree the behavior should be as you described, and the current behavior should be considered a bug.
I think the issue was closed because this is just the documentation repo.
Glad the post helped!

[2019-07-15 13:06] lblanche commented on #35034
I actually found out, that I was trying to upload the zipped file that is exported from the Data Factory
When unzipped it worked à lot better

[2019-07-15 13:16] PramodValavala-MSFT commented on #35057
@timmyreilly The service bus binding has an internal message pump which receives messages and processes them concurrently, up to the number of messages defined for `maxConcurrentCalls` per instance of the function app. So, once you function app starts scaling out, the number of concurrent messages being process would be - `# of Instances` **X** `maxConcurrentCalls`

Since you want this value to be

[2019-07-15 13:27] jscaravilli commented on #33220
As a follow-up to this, we suddenly started getting large amounts of notifications (many duplicates) about 5 or 6 days ago from VM insights. Our configuration includes an Action Rule and single Action Group; we've off-boarded from VM Insights due to the lack of configuration/alerting options. We chose to off-board by removing the 'Infrastructure Insights' solution from Log Analytics, per the follo

[2019-07-15 13:28] KalyanChanumolu-MSFT commented on #34624
@matthawley Could you provide a few more details.
Is your App service and Cosmos DB configured to use a VNET?

I have the "Accept connections from within public Azure datacenters" checked and I am able to connect from an App Service in Direct mode.

![image](https://user-images.githubusercontent.com/8835012/61219703-69fe7d00-a732-11e9-8ac6-2a9a3b19419b.png)

[2019-07-15 13:30] KalyanChanumolu-MSFT commented on #34872
@rachel-msft Is this functionality supported on Timescale?

[2019-07-15 13:32] KalyanChanumolu-MSFT commented on #35022
@SuperSing Are there any error messages that you see?
If you are suspecting connectivity issues, You can configure the storage account with the same VNET as the SQL MI.

[2019-07-15 13:33] mikelTHN commented on #35045
Alright, thank you very much!

[2019-07-15 13:34] jwargo commented on #30441
@spelluru I’m assuming we can close this now?

[2019-07-15 13:43] PramodValavala-MSFT commented on #35063
@JustinGrote Looks like the storage extension itself [uses WindowsAzure.Storage](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/WebJobs.Extensions.Storage.csproj#L98).

There is a work item that tracks updating to the new libraries - Azure/azure-webjobs-sdk#2177

The docs would be updating once the new libraries are being used.

[2019-07-15 13:49] rohandholakia1 opened #35122 "Application Insights for QnA Maker - Extracting confidence score"
Hi,

I am currently using the application insights feature of the QnA maker resource in Azure and i am struggling to find a way to pull out the confidence score generated in the API return

I am trying to adjust the below query which is provided by microsoft in the link below but can not manage to figure it out.

https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/get-analyti

[2019-07-15 13:52] vhorne commented on #31798
Doc updated to match the new UI.
#please-close

[2019-07-15 13:52] #31798 closed

[2019-07-15 13:54] spelluru commented on #34044
@CeciAc - I couldn't reproduce the issue. I have tried the steps myself. What was the error you were receiving when you used the "import android.support.v4.app.NotificationCompat;" statement from the tutorial? Thanks.

[2019-07-15 13:55] jkewley opened #35123 "Include link to AAD 2 factor setup"
Because it's not all that easy to find, I'd suggest including a link to the 2 factor auth setup page for QR code recovery when moving to a new phone. That Uri is currently https://account.activedirectory.windowsazure.com/Proofup.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
*

[2019-07-15 14:10] kastromatos opened #35124 "SearchResults misspelling"
There is "SearchResult" in samples, but in fact it is "SearchResults".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Common alert schema definitions for Webhooks/Logic Apps/Azure Functions/Automation Runbook

[2019-07-15 14:16] spelluru commented on #30441
#please-close

[2019-07-15 14:16] #30441 closed

[2019-07-15 14:25] mattchenderson commented on #35109
This is still in preview. We hope for, but cannot commit to, GA within the next couple of months.

[2019-07-15 14:34] iangardnergb opened #35125 ""Resource provider 'Microsoft.Web' not registered for the subscription""
Create a QnA Bot - Step 2:
I change to F0 but leave all other options, however, I'm seeing:
"Resource provider 'Microsoft.Web' not registered for the subscription"
when I click 'Create' at the bottom of the page?  Not sure what this relates to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c-c72a-c619-b58a-777f

[2019-07-15 14:42] bdschaap commented on #22794
I have this same question.

[2019-07-15 14:44] jakaruna-MSFT commented on #35106
@KJaunay I am able to reproduce the issue.

@cynthn Please add your comments

[2019-07-15 14:46] ram-msft commented on #35125
@iangardnergb Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-15 14:47] bdschaap opened #35126 "Filter Alert Dimensions for Property Not Equals Value(s)"
How would I go about configuring an alert that filters for metric dimensions not equal to a particular dimension value?  The Metrics blade allows a metric dimension to configure Property != Values.  I'm not certain how this is configured for alerts or if this is not currently supported (via the portal or ARM templates).

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-07-15 14:51] bdschaap commented on #25532
I have this same question.  What was the resolution?

[2019-07-15 14:54] bedro96 commented on #34933
대용량 첨부 파일은 30일간 보관 / 100회까지 다운로드 가능

20190715_233955.mp4 89MB

  다운로드 기간: 2019/07/15 ~ 2019/08/14

Hello Micah,
​
Hope you can see the atrachment.
It is video clip recorded from my cell.
I have RD Web session opened and I have
Korean IME installed.
When I type with my keyboard, regardless what
my input language is set, I could only type alphabet.
But when I pull out virtual keyboard, I can type Ko

[2019-07-15 14:57] bdschaap opened #35127 "Dimension Operator Values"
Can you tell me what the valid dimension operator values are?  I see "Include" in all of the examples (see below).  Is that the only operator supported or are there others?

"dimensions": [
{
		"name":"ApiName",
		"operator": "Include",
		"values": ["GetBlob"]
	}
],

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9

[2019-07-15 15:02] theheatDK opened #35129 "Azure Policy to ensure diagnostics logs to particular workspace?"
Hi,
The below is mentioned in this article:
"For example, you could set a policy to ensure that all your Azure resources in a particular region sent all their diagnostic logs to a particular workspace."
I have not been able to find any policies or description of how to do this. Any suggestions? :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-07-15 15:11] MichaelHogervorst opened #35130 "Wrong indentation code"
The second code block has a space before each line of code. This breaks the code in Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a236500-e18a-cfd4-ad38-8cb1d149f49f
* Version Independent ID: b6639581-6175-f913-7a45-52d1e551f779
* Content: [Python: Filesystem operations on Azure Data Lake Storage Gen1](https:

[2019-07-15 15:11] sbraunschweiger commented on #29302
@RyanHill-MSFT, I currently have 2 App Services (each in separate App Service Plans) connected to a vnet gateway via P2S. I want to retire the gateway and connect via vnet integration subnet. Since only 1 App Service Plan can integrate with a vnet subnet, I was planning to create a second integration subnet (sn2) in the same vnet and associate the second App Service Plan with sn2. Has my intended

[2019-07-15 15:12] vjsimha1 opened #35131 "Clarification requested regarding Onboarding Limitation"
The documentation above states - "This leaves you with 3 resource groups to select for deployment.". Please clarify what exactly constitutes a deployment?
Is it correct to say, if we have hundreds of VMs in our subscription, all of them MUST be grouped within 3 resource groups in order to enable Change Tracking / Inventory management?
Thanks for your response.

---
#### Document Details

⚠ *Do not

[2019-07-15 15:13] LuisCabrer opened #35132 "Some queries in this page are incorrect."
Add & to queries at the end of search = *
    GET /indexes/online-catalog/docs?search=*&$top=15&$skip=0&$count=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e12a8976-0a1d-c1ea-994d-ddc57d6e468b
* Version Independent ID: cb0473e9-8f4f-3eab-13fc-dd36f7bf2e20
* Content: [How to work with search results - Azure Searc

[2019-07-15 15:18] RyanHill-MSFT commented on #35132
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-15 15:24] OffColour opened #35134 "Relationship with DSC"
This is all really confusing.

Guest configuration is buried away under Policy documentation.
There are couple of MS blog posts about Guest configuration superseding DSC, but that it only audits for now (https://devblogs.microsoft.com/powershell/dsc-planning-update-june-2019/).
This page refers to remediation, but the contents title says "Audit VMs".
It doesn't appear to be as rich and expandable

[2019-07-15 15:25] DeanGross opened #35135 "Licensing requirements"
Who needs the P2 license when using this for external B2B accounts ? is it just the people creating the packages and policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is Azure AD entitlement manag

[2019-07-15 15:25] rjosephp opened #35136 "VNET integration failed - ASE ILB"
I tried connecting to a Subnet in a VNET where ASE ILB is deployed. Came across two issues:
1. The access type selected was "External". The objective was to use API gateway to expose an API App deployed in the ASE ILB, to an external partner. During the VNET configuration after clicking "Apply network configuration", the button is grayed out and it shows the service is being updated - it takes aro

[2019-07-15 15:27] LeeFramp opened #35138 "SQL firewall configuration to allow elastic job connections"
Is it possible to determine inbound IP address/es for elastic jobs? Our security policy does not permit using "allow all azure resources" for our azure sql firewall rules and our elastic job is unable to connect to target databases with this setting turned off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7d5bb1-1c

[2019-07-15 15:28] shashishailaj commented on #35123
@jkewley Thank you for your contribution . We will have this checked and update further on this thread .

[2019-07-15 15:31] shashishailaj commented on #35122
@rohandholakia1 Thank you for your query. We will investigate and update this thread further.

[2019-07-15 15:33] xiongyu0523 opened #35139 "Incorrect Heading"
All heading after 'Using the MQTT protocol directly (as a module)' are heading 2 while those contents are not under it. They're generic topics belongs to 'Using the MQTT protocol directly'. It increase difficulty for new comer to understand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279cef

[2019-07-15 15:48] OffColour commented on #34281
@msrini-MSFT Thanks. Is there any way I can track the progress of this? I've got a nasty workaround in place that I'd like to remove when it's fixed.
Would be nice to be able to do this when I know it's fixed rather than running packet traces every now and then and finding out for myself.

[2019-07-15 15:49] SirJewDanielBerg opened #35140 "Copying Scratch folder missing info"
This page doesn't address the fact that if you try to copy the whole Scratch folder itself to an other location (as opposed to its contents), if you have a shortcut to a .vhd file inside that is perhaps even mounted, it will try to copy the whole .vhd over, in my case, resulting in an extra 500 GB as opposed to the initial 26 GB of space used by the folder.

The other problem is that if you attemp

[2019-07-15 15:50] SirJewDanielBerg commented on #35140
The drive in question is a CBSSB Volume that remains mounted at all times from inside that folder. The article does not clarify if this file can be excluded from the copy, or, even better, if the registry key can just be pointed to a new location so that everything is recreated by the agent, as, that would solve the above issues.

[2019-07-15 15:51] Alberto-Vega-MSFT commented on #34910
Hi @aurangzaibumer777 The answer is that there is no time limit. Azure Spatial Anchors allows app developers to persist anchors in a managed cloud service and allows your apps to locate those anchors again by connecting to the service.

[2019-07-15 15:51] oreporan commented on #23919
For those who run into the same issue.
For me I had to turn on the branch to 1% once for this to work. You can put it back to 0% after

[2019-07-15 15:52] msrini-MSFT commented on #34281
Sure. I will update here when I get any information from Product Group.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: OffColour <notifications@github.com>
Sent: Monday, July 15, 2019 9:18:46 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Karthik Srinivas <msrini@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2019-07-15 15:54] ezwiefel opened #35142 "Schema for `inferenceConfig.json` and `deploymentConfig.json`"
Instead of just giving examples of what they look like, it would be helpful to see a schema of the required and optional fields for both `deploymentConfig.json` and `inferenceConfig.json` files. I expected to find more documentation in the az ml model deploy link referenced above, but there were no details there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-07-15 15:56] SirJewDanielBerg commented on #35140
The file name in my case is SSBStaging.vhd inside the SSBS folder inside the Scratch folder. There is an other folder called VHDs but that's only 2.3 GB in size.

[2019-07-15 15:58] craigktreasure commented on #32529
@MikeChemi Thanks for the feedback and apologies for the slow response. We will include a fix for this issue in our next release of the samples.

@Alberto-Vega-MSFT This can now be closed.

[2019-07-15 15:58] jakaruna-MSFT commented on #34903
@rogeraustin Can you check if you have registered for Azure batch service?
This [document ](https://docs.microsoft.com/en-us/azure/batch/batch-account-create-portal#additional-configuration-for-user-subscription-mode) will help you to check.
If "Microsoft.Batch" is not showing in Registered state, Please register

[2019-07-15 15:59] bergmeister opened #35143 "Create a Kubernetes cluster with Azure Kubernetes Service and Terraform - Example does not work"
- Related: #5284
- This issue has implicitly already been reported in [this](https://github.com/Azure/azure-quickstart-templates/issues/5284#issuecomment-505151610) comment but I'd like to open a separate issue for this problem

When following the example and calling `terraform apply`, the example does not work and the following error gets returned (note that the docs contain a 2nd problem at the

[2019-07-15 16:03] craigktreasure commented on #34406
Many of the articles are intended to stand alone, meaning that they have everything you would need for a particular subject. You are safe to skip anything that seems redundant.

[2019-07-15 16:03] craigktreasure commented on #34406
@DixitArora-MSFT This can now be closed.

[2019-07-15 16:03] SirJewDanielBerg commented on #35140
Actually, comparing treesize windows now after a copy, it appears that it's the SSBV vhd shortcut from the original location that is being copied over as contents resulting in an extra 19.9 GB of files instead of the 0 bytes in the original location.
And the copy also fails due to some System Volume Information folder not wanting to copy over at the end, so that's an other problem. Yes, the servic

[2019-07-15 16:07] SirJewDanielBerg opened #35144 "Clarity"
What does "After the backup finishes successfully using the new location, you can remove the original cache folder." mean?
That we have to run one backup after we change the location? or just that after the service starts it's fine to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ad5c91-acc2-a50b-0b4a-8298c608d

[2019-07-15 16:12] MGoedtel commented on #33170
#please-close as after the PM spoke to @anhowe directly, he learned his feedback was not specific to AzMon for VMs, but Azure resource health. That being said, while there have been intermittent latency issues with the health feature of AzMon for VMs showing up-to-date information, I'm adding a statement to make a note of this while changes are being completed to improve the experience.

[2019-07-15 16:12] #33170 closed

[2019-07-15 16:18] #35132 closed

[2019-07-15 16:25] MGoedtel commented on #34473
@rosmithj - You're right the article is out of date and pending refresh to align accordingly.  I'm hoping to work on this during my next sprint (8/19).  #in-progress

[2019-07-15 16:25] DixitArora-MSFT commented on #35136
Hi @rjosephp Thank you for your feedback! We will review and update as appropriate.

[2019-07-15 16:26] roygara commented on #34782
@Karishma-Tiwari-MSFT Sorry, I missed this until now. I don't have any immediate insight into this though I was able to confirm the behavior. I'm reaching out to the product team and will let you know when I get an answer back.

[2019-07-15 16:27] stevestein commented on #24546
@vikaskumawat80 - thanks for raising this issue. The following articles have been updated to say that you shouldn't move the VNET. The live articles should update sometime today.

![image](https://user-images.githubusercontent.com/9388190/61232049-43b0f100-a6e2-11e9-8b42-2aa1e2501588.png)

[2019-07-15 16:27] rosmithj commented on #34473
Howdy Matt,

Many thanks for the update! I really appreciate it~

________________________________
From: Matt Goedtel <notifications@github.com>
Sent: Monday, July 15, 2019 11:25:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robert Smith <Robert.D.Smith@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Screenshots and steps are ou

[2019-07-15 16:29] mike-urnun-msft commented on #34883
We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-15 16:29] #34883 closed

[2019-07-15 16:31] seanbetts commented on #34913
@diberry any progress on this yet? Let me know if there's any testing etc. I can do to help. Thanks

[2019-07-15 16:32] MicahMcKittrick-MSFT commented on #33730
@theheatDK I will close this for now. If you have further questions let me know and we can always reopen and continue the discussion.

[2019-07-15 16:32] #33730 closed

[2019-07-15 16:32] ikanni commented on #34512
To renew automatically please use  [https://github.com/ikanni/PowerShellScripts/blob/master/AzureAutomation/RunAsAccount/GrantPermissionToRunAsAccountAADApplication-ToRenewCertificateItself-CreateSchedule.ps1](https://github.com/ikanni/PowerShellScripts/blob/master/AzureAutomation/RunAsAccount/GrantPermissionToRunAsAccountAADApplication-ToRenewCertificateItself-CreateSchedule.ps1)

1.	GrantPermiss

[2019-07-15 16:34] MicahMcKittrick-MSFT commented on #34933
@bedro96 thanks for that. I actually cannot see the attachments. You need to reply from a PC and not email in order for attachments to work correctly. Could you post them again from a PC so I can review?

Also, adding @Heidilohr @ChristianMontoya to see if they have any insights they can share

[2019-07-15 16:37] MicahMcKittrick-MSFT commented on #35081
@StingyJack what exactly are you looking to have added to this doc? The entire doc explains and contains links to install the SDK.

Once you install the SDK, you are able to launch VS and run SF applications.

[2019-07-15 16:38] taromielnaz commented on #35042
Yes, the other document defines recipient Prerequisites.
Thanks

[2019-07-15 16:39] MicahMcKittrick-MSFT commented on #35094
@tkumark you can get all this information consolidated into Application Insights. Have you looked into that yet? Was that not what you are looking for?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-analysis-appinsights

[2019-07-15 16:40] SumanthMarigowda-MSFT commented on #34459
@CharmanderJieniJieni Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Today regen of the key will break diagnostic setting and  requires setting up diagnostic setting.

[2019-07-15 16:41] sdgilley commented on #35067
The VM itself is only accessible by the person that created it and cannot be shared.  However, the work you do is stored in the storage account associated with the workspace, so you can share notebooks, just not the actual VM.

Each user of the workspace has their own folder on the storage account.  So when a other users create their own Notebook VM, they will see your folder and you will see thei

[2019-07-15 16:42] diberry commented on #34913
@seanbetts The service team would like to investigate. Can you log into the QnA Maker portal, select **Feedback** in the top nav bar, add your SO link and question as well as your app id and resource name?

[2019-07-15 16:42] KranthiPakala-MSFT commented on #35130
@MichaelHogervorst Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-15 16:44] SumanthMarigowda-MSFT commented on #34857
@ninweninwe Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. It's going be available very soon. Requesting you to keep a track on [Azure updates. ](https://azure.microsoft.com/en-in/updates/)

[2019-07-15 16:44] julianparismorgan commented on #32988
The update to the docs is live now - thanks all for the investigations!

[2019-07-15 16:46] MGoedtel commented on #31847
@mattyweb - I've tried to make it clear between the two monitoring features for containers, which is applicable to what scenario/environment.  I didn't originally write the Container Monitoring solution so I'm not as intimately familiar with how to configure and monitor Docker as I am with monitoring AKS.  From what I do understand, the Log Analytics agent is installed on the host, not guest OS as

[2019-07-15 16:47] ebizzity opened #35145 "genpassphrase.exe path incorrect."
In the "Install the Mobility service" section step #5.

Path should be C:\ProgramData\ASR\home\svsystems\bin\genpassphrase.exe

"\home\" is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3d7cc0-ecf8-a48f-3c6e-8e18c7787c41
* Version Independent ID: 31b358bd-1ee6-a058-8590-802941350e90
* Content: [Migrate on-p

[2019-07-15 16:50] kaushalp commented on #34979
@AjayKumar-MSFT  There are a couple of changes requires to be made, which is best suited towards the author.

[2019-07-15 16:54] Karishma-Tiwari-MSFT commented on #35119
@Turochamp Is this issue resolved?

[2019-07-15 16:55] malopMSFT commented on #34813
@jispar can you help to link to a example on the how to section :)

[2019-07-15 16:58] ram-msft commented on #34938
@dg2k We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-15 16:58] #34938 closed

[2019-07-15 17:00] glimoli commented on #35121
Hi @kempd thanks for your feedback, that was already on my notes to have the size of the VHD aligned to 1Mb. I'll update the document shortly.

[2019-07-15 17:02] ggailey777 commented on #33891
Thanks @brettcannon, please keep the Python feedback coming 👍

[2019-07-15 17:04] cynthn commented on #35106
@KJaunay Have you tried increasing the "buildTimeoutInMinutes" in the .json file?

It might be a simple timeout issue.

@danielsollondon FYI

[2019-07-15 17:04] #33891 closed

[2019-07-15 17:05] erinha commented on #32070
I'm also running into this. It would be great to get a workaround for this.

[2019-07-15 17:07] shashishailaj commented on #35093
@ThomasLive Thank you for bringing this to our notice . We have initiated an update on our end and it will reflect on the page in the next release cycle in 24-48 hours. We will close this issue now.

Thank you.

[2019-07-15 17:10] stevestein commented on #24546
@SouravKarmakar96 - moving a managed instance between subscriptions is not supported.

This info has been added as well. Update to relate articles will appear live sometime today.

Thanks!

[2019-07-15 17:11] stevestein commented on #24546
#please-close

[2019-07-15 17:11] #24546 closed

[2019-07-15 17:11] #35093 closed

[2019-07-15 17:14] StingyJack commented on #35081
@MicahMcKittrick-MSFT -   See this post's title for additional installation context.

A picture of the specific thing to enable in the vs installer would be nice, cos I don't see it and may just be missing it.

Also the installer fails when not run as administrator.

[2019-07-15 17:16] mkenyon opened #35147 "AADSTS9002313 is missing"
I'm trying to debug a response of "AADSTS9002313: Invalid request. Request is malformed or invalid".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure Active Directory authentication and authorization erro

[2019-07-15 17:18] roygara commented on #34782
@Haladu I just retested it myself, I can successfully create with Standard_ZRS as a value. I do know ZRS isn't available as a snapshot option in all regions, is it possible that the disks you attempted to create a snapshot on via the portal are in different regions than the ones via the script? I'd also suggest ensuring you're on the latest version of the CLI module, although I wouldn't expect tha

[2019-07-15 17:18] shashishailaj commented on #35091
@Vlados2810 Could you please logon to the Azure AD portal using https://aad.portal.azure.com and then try to find your user account . Once you have found the same , please try to edit the authentication Methods for the user . You will find the phone number in the authentication Contact info there as shown below.

![image](https://user-images.githubusercontent.com/532022/61235157-6f6bbf80-a752-11e9

[2019-07-15 17:20] shashishailaj commented on #34892
@rcallahan2 Thank you for pointing this out . We are engaging the authors to check on this and update the documentation as needed after careful technical review with engineering.

[2019-07-15 17:21] shashishailaj commented on #34892
@jeevansd @cmmdesai Could you please take a look at this issue and update the document as per your validation of the information provided by the customer ?

[2019-07-15 17:21] ram-msft commented on #35142
@ezwiefel Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-15 17:23] shashishailaj commented on #34904
@rwike77 Could you please review the suggestions provided by the customer for this page ?

[2019-07-15 17:24] erhopf commented on #35059
#please-close

Fixed in: https://github.com/MicrosoftDocs/azure-docs-pr/pull/82208

[2019-07-15 17:24] #35059 closed

[2019-07-15 17:26] shashishailaj commented on #34973
@eross-msft Could you please have the recommendations provided by the customer , reviewed by engineering and update the article as needed ?

[2019-07-15 17:31] ferrx commented on #35038
using asp.net core 2.1. I will get you an error message asap.

[2019-07-15 17:34] FrankHu-MSFT commented on #34954
@mliudev I see, please see the stack post here : https://stackoverflow.com/questions/44664510/difference-between-azure-ad-and-azure-ad-b2c-tokens

Per the post : "it is same to verify the tokens from Azure AD B2C and normal Azure AD. We can generate the public key using the exponent(e) and modulus(n). But the keys endpoint is different, we need to using the link like below to retrieve the keys for

[2019-07-15 17:34] rwike77 commented on #34904
@sandeepsoni1234 Yes, we do need to add info on adding the scope.  Thanks for your suggestions, I'll try to get the article updated shortly.

[2019-07-15 17:35] rwike77 commented on #34649
@dkamstra Yes, we do need to add info on adding the scope.   I'll try to get the article updated shortly.

[2019-07-15 17:37] alathrop commented on #35067
Thank you!

[2019-07-15 17:37] FrankHu-MSFT commented on #35147
@mkenyon Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-15 17:38] FrankHu-MSFT commented on #35147
Hey @mkenyon can you please provide a fiddler/network trace of the full request and response you're getting is?

The reason you're getting this error is because the request is malformed and not properly formatted.

[2019-07-15 17:38] FrankHu-MSFT commented on #35135
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-15 17:39] DCtheGeek commented on #35134
@OffColour Thanks for the questions.  Let me try to break down the answers:
- Azure Policy Guest Configuration is part of Azure Policy.  I didn't feel it was buried, but would love to hear if you have suggestions on how to make it more visible.
- The page states that Azure Policy can do remediation, but that Guest Configuration only does audit.  This is to explain the differentiation.  Guest Confi

[2019-07-15 17:39] PRMerger16 commented on #35134
DCtheGeek

MicrosoftDocs/azure-cxp-triage is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-15 17:39] MicahMcKittrick-MSFT commented on #35081
I will assign to the content authors to review

[2019-07-15 17:39] DCtheGeek commented on #35134
#assign:DCtheGeek

[2019-07-15 17:40] MicrosoftGuyJFlo commented on #35031
#please-close

[2019-07-15 17:40] #35031 closed

[2019-07-15 17:44] CortalUX opened #35148 "https://aka.ms/sdsdk-download-android links to corrupt file"
The zip file for https://aka.ms/sdsdk-download-android won't open on Mac or Windows

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf66dac-dc29-dc9d-fee2-110d82aa039d
* Version Independent ID: 5b01d0eb-6c6c-d122-78e4-62ba8c49a037
* Content: [About the Speech Devices SDK - Speech Services - Azure Cognitive Services](ht

[2019-07-15 17:47] MicrosoftGuyJFlo commented on #35004
I just re-downloaded from the store and have the options available to me. I would suggest you open a support case.

[2019-07-15 17:52] MicahMcKittrick-MSFT commented on #35143
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-15 17:57] stevestein commented on #25268
Info was added to the article and will appear live sometime today.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-15 17:57] stevestein commented on #25268
#please-close

[2019-07-15 17:57] #25268 closed

[2019-07-15 18:08] yeswps commented on #34615
@anirudhcavale
I tried to fork it and created a PR  #35150, but i guess I'm not authorized :)

[2019-07-15 18:17] AjayKumar-MSFT commented on #34979
@kaushalp, Thanks for the follow-up. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-15 18:18] denhsu commented on #34480
thanks @jakaruna-MSFT

[2019-07-15 18:22] walsehgal commented on #35050
Hi @PeterTurcan, thanks for pointing it out. The necessary changes are made and will reflect shortly.

[2019-07-15 18:24] SaurabhSharma-MSFT commented on #34854
@yixue-at-symantec We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-15 18:24] #34854 closed

[2019-07-15 18:25] AjayKumar-MSFT commented on #35042
@taromielnaz, Thanks for the follow-up. We will close this out, but if you feel you need more information please just let us know.

[2019-07-15 18:25] #35042 closed

[2019-07-15 18:26] sdgilley commented on #35067
#please-close

[2019-07-15 18:26] #35067 closed

[2019-07-15 18:32] stevestein commented on #33258
@rgerrits - thanks for reporting this. Fix should be live sometime today.

[2019-07-15 18:32] Daemach opened #35151 "Linux restore from Azure?"
We are working on a conversion to docker at the moment and trying to get MSSQL linux running.  I'm getting the following error when trying to restore data from production backups on Azure: Msg 3292, Level 16, State 6, Line 1
A failure occurred while attempting to execute Backup or Restore with a URL device specified. Consult the operating system error log for details.
Msg 3013, Level 16, State 1,

[2019-07-15 18:33] stevestein commented on #33258
#please-close

[2019-07-15 18:33] #33258 closed

[2019-07-15 18:36] Karishma-Tiwari-MSFT commented on #34407
@jluk Did you get a chance to take a look at this question? Is it possible to upgrade the Windows OS versions, while in Preview? Please share your insights. Thanks :)

[2019-07-15 18:37] Adam-Smith-MSFT commented on #35038
@ferrx  Thank you !

[2019-07-15 18:40] AjayKumar-MSFT commented on #35097
@unmeshM, Just checking in to see if you have looked into my previous response and need assistance with this issue.

[2019-07-15 18:42] rwike77 commented on #34649
@dkamstra I've updated the article.  Changes have merged and should publish live this afternoon.  #please-close

[2019-07-15 18:42] #34649 closed

[2019-07-15 18:42] rwike77 commented on #34904
@sandeepsoni1234 I've updated the article.  Changes have merged and should publish live this afternoon.  #please-close

[2019-07-15 18:42] #34904 closed

[2019-07-15 18:44] MicrosoftGuyJFlo commented on #34779
Pending feedback from PM

[2019-07-15 18:45] Dmitry-Matveev commented on #34995
@lmolkova, can you please take a look?

[2019-07-15 18:47] seanbetts commented on #34913
Thanks diberry - I’ve just sent the feedback as requested.

[2019-07-15 18:56] MicrosoftGuyJFlo commented on #34779
Approving PR

[2019-07-15 18:56] MicrosoftGuyJFlo commented on #34779
#please-close

[2019-07-15 18:56] #34779 closed

[2019-07-15 18:57] stevestein commented on #29047
@KeiroKamioka0000 , @dcbrown16 - Thanks for raising this issue.

The pricing page has been updated once or twice since this issue was opened. Have your questions been addressed, is there anything specific that you're not finding there?

Thanks.

[2019-07-15 19:03] CortalUX opened #35152 "Code sample and instruction don't match up"
Step 10 of 'create and configure project' states 'Also add a dependencies element, with the Speech SDK version 1.5.0 as a dependency' but references version 1.6.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba2670c-b06d-04af-81c4-d223f12e61e0
* Version Independent ID: 1019e879-531c-2a38-37a0-deaf9495981b
* Content:

[2019-07-15 19:06] Turochamp commented on #35119
Yes, the example code was .Net Framework not .Net Core.

On Mon, Jul 15, 2019 at 6:56 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
+47-458-025 89
Skype: michaelahs

[2019-07-15 19:06] KranthiPakala-MSFT commented on #35034
@lblanche Thanks for sharing your analysis. Yes, you see this issue when we try to import the exported Zip file. But when we import the _.json_ file, it should work fine without any issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please  reopen the issue and tag me in your reply. We will gladly continue the discussion.

[2019-07-15 19:06] #35034 closed

[2019-07-15 19:07] kgremban commented on #35056
@smurph2345 Have you tried using an OR operator instead of IN? For example, `deviceId = device1 OR deviceId = device2`? See https://docs.microsoft.com/azure/iot-edge/module-deployment-monitoring#target-condition for more info about the target condition functionality.

[2019-07-15 19:14] julieMSFT commented on #27804
@gunnarcms @dataify Thankyou for your input on this issue. We have created a work item to track updates to this tutorial. You will be notified once we make the update. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-07-15 19:14] julieMSFT commented on #27804
@kevinvngo

[2019-07-15 19:15] SwePalm opened #35153 "missing one line"
for displaying the response when calling the entities API, the last line of code is missing, just add a line in style with the other APIs (after entities = response.json()):
pprint(entities)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b710595e-a14c-f083-65e8-bbeb74f4af23
* Version Independent ID: a3b0182d-cad5-cd6c-

[2019-07-15 19:16] julieMSFT commented on #27804
[work item](https://msdata.visualstudio.com/Azure%20SQL%20Data%20Warehouse/_workitems/edit/472402)

[2019-07-15 19:16] julieMSFT commented on #27804
#please-close

[2019-07-15 19:16] #27804 closed

[2019-07-15 19:23] PingPongSet commented on #34889
@jakaruna-MSFT

I have already visited both links before you provided on previous comments.

However, can you please provide answers to my 3 questions on previous post? below FYR:

[2019-07-15 19:27] seanvelir commented on #29302
This is all I want to understand as well. I don't understand why you would need a /27 subnet if you can only use a single webapp.

[2019-07-15 19:32] Karishma-Tiwari-MSFT commented on #35119
Thanks for sharing the update. Glad you were able to resolve it.

[2019-07-15 19:34] stevestein commented on #29278
@Abdul41 - thanks for reporting this issue. The duplicate parameter has been removed.

Thanks!

[2019-07-15 19:41] stevestein commented on #29278
@Abdul41 - info on the parameters can be found in the definition:

https://github.com/Azure/azure-sqldb-spark/blob/master/src/main/java/com/microsoft/azure/sqldb/spark/bulkcopy/BulkCopyMetadata.java

[2019-07-15 19:42] sbraunschweiger commented on #29302
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration
The above article states the following ...

  *   When VNet Integration is used with VNets in the same region as your app, it requires the use of a delegated integration subnet with at least 32 addresses in it.
     *   This feature is supported for Windows app production workloads with the f

[2019-07-15 19:43] arkiaconsulting commented on #27597
I think that a good candidate for a user key in database, that will persist application re-creation, in the context of a multi-tenanted and multi-provider authentication, is a combination of `idp` and `oid`.

[2019-07-15 19:44] #34263 closed

[2019-07-15 19:44] stevestein commented on #29278
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-15 19:44] stevestein commented on #29278
#please-close

[2019-07-15 19:44] #29278 closed

[2019-07-15 19:47] proguru commented on #35054
yes it does thank you.

[2019-07-15 19:47] #35054 closed

[2019-07-15 19:55] anirudhcavale commented on #28457
@himanksharma24 yes we were able to close it out with Anne offline. Can you open a new issue, with details if you are unable to query custom metrics?

[2019-07-15 19:55] smurph2345 commented on #35056
@kgremban The OR operator worked for me, thanks.

[2019-07-15 19:59] Alberto-Vega-MSFT commented on #35139
Hi @xiongyu0523 Thanks for reaching out! I'm not sure if I am fully understanding your comment. Would you please provide more detail on your suggestion to make this document easier to understand? What do you think we should do to make it better?

[2019-07-15 20:09] litvinolek commented on #35074
Hi!
Deploy performed through azure portal (I published managed application).
Thanks! I saw this note.

I used my own template not from Quickstart.

I have tried many variants - placed ps1 in same level, placed in scripts folder, placed in nestedtemplates folder and in nestedtemplates/scripts folder)
I configure template based on this best practice: https://github.com/Azure/azure-quickstart-templat

[2019-07-15 20:10] FrankHu-MSFT commented on #35013
Hey @umutge, I'm following up on this can you please respond accordingly, if there's no response by end of day today I will be going ahead and closing out this issue. Please reopen the issue if you would like to continue working on it.

[2019-07-15 20:16] RWu-MS opened #35155 "Word Tense"
Second paragraphs: "Review Dashboard analysis is an iterative process, repeated as you change and improve your model." The word "repeat" should use simple present tense, not past tense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca3d83cf-d48a-77c2-40f6-e0578ee16e9f
* Version Independent ID: 9ac309a0-a1f3-958c-f3b2-

[2019-07-15 20:23] spelluru commented on #34766
#in-progress

[2019-07-15 20:30] jamessanderlin opened #35156 "Poor grammar"
This page has a lot of poor grammar and typos. i.e under the "Monitoring database performance" section, it says "you need to check are you reaching..." and "Queriesmig"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa5ecfe-e37e-999a-df1d-76ed909e6c09
* Version Independent ID: 4cfce2e0-ad27-dde2-ac1f-fef92dcb9d01
* Co

[2019-07-15 20:31] NavtejSaini-MSFT commented on #35120
@SuperSing As Conveyed there is no option currently to give access to users of sensitive columns at a centralized place. But this could be a brilliant addition to the product. So please use the below User Voice link to submit your idea and help enhance the product.

https://feedback.azure.com/forums/217321-sql-database

Your feedback is important and is needed to further develop the product.

[2019-07-15 20:38] NavtejSaini-MSFT commented on #35156
@jamessanderlin Thanks for bringing this to our attention. We will share your feedback with content owner for further review.

[2019-07-15 20:40] mgreenegit commented on #35134
I would just add that in the context of a policy Initiatives with display names that start with "Audit", the term "Remediate" applies to Azure Policy making sure all requirements are met for the VM to be audited.

-  the Guest Config extension
- making sure the VM has a system assigned identity
- enabling the Configuration for that VM

This is why the policy that gets remediated has a display name

[2019-07-15 20:53] Karishma-Tiwari-MSFT commented on #34559
We will now close this issue as we are discussing the issue offline. Will share once we have an update.

[2019-07-15 20:53] #34559 closed

[2019-07-15 20:54] brycefisher opened #35157 "Could use example `connectionString` and `eventHubsName` values"
Its a bit unclear if `eventHubsName` will include the namespace, or if it can standalone. Similarly, a (non-functional) `connectionString` value in the correct format would be illuminating to help newbies understand what a valid value should smell like. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab0e1be-fc

[2019-07-15 21:01] KJaunay commented on #35106
Morning all, thank you for helping out with this.

@cynthn I increased "buildTimeoutInMinutes" to 160 and then 320 with the same result. It didn't appear to take any shorter/longer before it failed.

[2019-07-15 21:03] brownbl1 opened #35158 "Cannot assign dns to dynamic IP"
When I run `az network public-ip list` my IP that is assigned to the load balancer does not appear in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create an HTTPS ingress with Azure Kubernetes Ser

[2019-07-15 21:06] anirudhcavale commented on #34615
@yeswps I saw the PR and I have approved it. Thanks for the contribution!

[2019-07-15 21:09] craigg-msft commented on #20444
@Anmolgan81 apologies for the delay, I had missed this assigned to me.  Do you still have this question? if so I can have someone who is a subject matter expert look into this, probably the current author.  I know the topic has been updated several times since you posted.  Thank you!

[2019-07-15 21:11] MashaMSFT commented on #33690
Hi @stewartadam , I updated the text for the link to make it clear that it's two configured replication between two managed instances. Hopefully that helps prevent future confusion :) Thanks for bringing this to our attention! Is there anything more we can assist you with from the documentation perspective? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks!
Mash

[2019-07-15 21:11] craigg-msft commented on #20789
#reassign:HJToland3

[2019-07-15 21:13] robertjf opened #35159 "include ignored file not working"
I have an azds that contains the following snippet:

[code]
however the ignored (in .gitignore) file is still not being copied into the docker image to be used while building.  I've tried several versions including the following as indicated in this documentation (which looks wrong by the way):
[code]
I've tried several things with the file listed in the .gitignore including:
[code]
which fails wi

[2019-07-15 21:21] MashaMSFT commented on #34815
Hi @MasayukiOzawa , Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from SQL Docs team

[2019-07-15 21:25] femsulu commented on #35124
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-15 21:26] femsulu commented on #35126
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-15 21:26] femsulu commented on #35127
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-15 21:28] femsulu commented on #35129
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-15 21:30] femsulu commented on #35131
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-15 21:31] femsulu commented on #35140
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-15 21:33] femsulu commented on #35144
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-15 21:35] femsulu commented on #35145
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-15 21:36] uday31in opened #35160 "raw.githubusercontent.com needs to added for azure-policy"
[code]

Azure Policy pod is in CrashLoopBackOff due to unable to retrieve rego policy

INFO[0061] Retrieving rego policy                        log-id=bee0f323-f113-4099-9399-afb3d1cfa530-6 method="github.com/Azure/azure-policy-kubernetes/pkg/dataplane/dataplaneformatter.(*PolicyFormatter).GetRegoFromURL" url="https://raw.githubusercontent.com/Azure/azure-policy/master/built-in-references/Kubernet

[2019-07-15 21:37] femsulu commented on #35151
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-15 21:40] cynthn commented on #35106
Have you looked at the troubleshooting page?I I think this covers your error: https://github.com/danielsollondon/azvmimagebuilder/blob/master/troubleshootingaib.md#customizer-timeout-failures. Later on that page it shows how to get to the logs too.

@danielsollondon Can you chime in on other options for troubleshooting?

[2019-07-15 21:45] sc-bperry commented on #32134
I am having the same issue. When I select the file, the message "Cannot convert the view. Check the view queries."  displays below the "Choose File" button. The notification in the Azure portal displays an error that says "Unauthenticated request."

[2019-07-15 21:45] stewartadam commented on #33690
Thanks!

[2019-07-15 21:45] #33690 closed

[2019-07-15 21:52] MarileeTurscak-MSFT commented on #35135
Hi @DeanGross ,

@rolyon has reached out to someone to get the answer for this.

[2019-07-15 22:01] Ccccche commented on #32134
Hey, if you search it on google you can find that it may cause by a version problems. This design file only works on a powershell portal. It doesn't work on a Azure web portal(I don't know why). There is no solution for this issue, unless they would re-write the design file I guess.

[2019-07-15 22:02] kobulloc-MSFT commented on #35159
@robertjf Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-15 22:02] Karishma-Tiwari-MSFT commented on #34705
@CharmanderJieniJieni Please refer to this stack overflow thread along the lines of your question: https://stackoverflow.com/questions/54520232/how-does-azure-vmss-handle-existing-request-while-scaling-down-or-scaling-in
Let me know if you have any other questions. Thanks :)

[2019-07-15 22:02] sdgilley commented on #32711
Since code issue now resolved, no need to update.  #please-close

[2019-07-15 22:07] Mike-Ubezzi-MSFT commented on #31937
@GithubMirek @CarlRabeler Want to follow up on this issue to see if this is still relevant. Thank you!

[2019-07-15 22:09] joelverhagen opened #35165 "NuGet addresses seem to be out of date"
I am on the nuget.org team and we noticed that your document is mentioning "az320820.vo.msecnd.net". We no longer use this host name. It has been replaced by "globalcdn.nuget.org". I don't know if this document is meant to be an exhaustive list but this aforementioned one is certainly out of date. Other ones that come to mind are "api.nuget.org" and package search endpoints enumerated in this serv

[2019-07-15 22:09] KranthiPakala-MSFT commented on #35157
@brycefisher Thanks for the feedback and bringing this to our notice. At this time we have assigned the issue to content author to review the feedback and update as appropriate.

@spelluru Could you please take a look at the feedback from @brycefisher.

[2019-07-15 22:09] Mike-Ubezzi-MSFT commented on #32039
@GithubMirek @CarlRabeler Want to follow up on this to see if it is still relevant? Thank you!

[2019-07-15 22:17] masautt opened #35166 "Import Option for Alternative Phrasing?"
Is there a way I can allow for alternative phrasing in my document I want to input to my knowledge base? Right now I am importing a xlsx format with question,answer but I'm wondering if I can do something like question,question,answer for the alternative phrasings to questions. I tried formatting the rows so that 2 question rows on the left match an answer row on the right but it didn't seem to de

[2019-07-15 22:19] Mike-Ubezzi-MSFT commented on #33756
@srdan-bozovic-msft @CarlRabeler For your awareness. Please let me know if there are additional actions required on my behalf. Thank you!

[2019-07-15 22:20] kobulloc-MSFT commented on #35165
@joelverhagen Thank you for bringing this to our attention!  We're going to look into this and make sure our documentation is updated accordingly.

[2019-07-15 22:21] MicahMcKittrick-MSFT commented on #35158
@brownbl1 can you share the full command you are using to get the IP? The IP address will be created in the automatically generated resource group. It's name will be something like MC_RESOURCEGROUPNAME

So it is possibly you are not querying the correct resource group when performing the az network public-ip list.

[2019-07-15 22:27] anavinahar commented on #34514
@rsamai to take a look

[2019-07-15 22:31] asudbring commented on #34867
@taromielnaz I hope this has addressed your concern.  Please let me know if you need anything else.

#please-close

[2019-07-15 22:31] #34867 closed

[2019-07-15 22:35] Karishma-Tiwari-MSFT commented on #35160
@uday31in Thanks for your question. Please provide us with the link to the documentation you are referring to so that we can involve the right team.

[2019-07-15 22:39] Karishma-Tiwari-MSFT commented on #35138
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-15 22:46] CarlRabeler commented on #31937
@vanMSFT for awareness

[2019-07-15 22:47] CarlRabeler commented on #33756
@stevestein for awareness

[2019-07-15 22:57] andyTheCoder opened #35167 "UK North"
Is there a new data centre or is this a typo ?
ref: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#available-regions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID: aa73eb53-55b6-6aa2-2542-e26fd32764fe
* Content: [Azure SQL Datab

[2019-07-15 23:02] VanMSFT commented on #32039
@Mike-Ubezzi-MSFT - Hey Mike. Sorry, I lost track of this. The code sample will not be updated for now. There's currently no cycles to refresh the code with the newer library at the moment.

#please-close

[2019-07-15 23:02] #32039 closed

[2019-07-15 23:07] Lau82 opened #35168 "How to add Business Days in Dynamic Content?"
Hello!

I want to create a flow that defines a Target date for the work items.
I am following this function to do it:  https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#adddays

I did it actually but I got a problem, It considers weekends too adding days in the calculation. Is there a way to tell the function to include only business days?

This is

[2019-07-15 23:24] MicrosoftGuyJFlo commented on #35075
Changing user states is no longer the recommended path for requiring multi-factor authentication. If you are using Conditional Access policies you wouldn't see a change in state.

[2019-07-15 23:25] paulmey commented on #35106
Usually means that the execution of the customization script failed. Take a look at the log (See https://github.com/danielsollondon/azvmimagebuilder/blob/master/troubleshootingaib.md#collecting-and-reviewing-aib-image-build-logs for how to get them)

[2019-07-15 23:25] MicrosoftGuyJFlo commented on #35075
Details on integrating AD FS with Azure Multi-Factor Authentication.

https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-getstarted#integrate-with-active-directory-federation-services

[2019-07-15 23:26] dcbrown16 commented on #29047
@stevestein we're still not really sure how enabling works. The best I could determine was that if I go to Azure Security Center and try to enable Standard, I can only do it for the whole subscription. I can opt out of coverage for resources, so I could enroll all my SQL DBs and none of my VMs or Web Apps, for example, but there doesn't seem to be any choice on the Security Center side to enable i

[2019-07-15 23:31] ninweninwe commented on #34857
do you have a time line for the release? 1 month, 3 month, 6 month?

[2019-07-15 23:35] LarsKemmann opened #35169 "Spreadsheet download link is broken"
The "[example spreadsheet](https://servicefabricsdkstorage.blob.core.windows.net/publicrelease/SF%20VM%20Cost%20calculator-NEW.xlsx)" link does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76dfa24f-b18f-ff48-db93-ddb1d60a57ff
* Version Independent ID: fdd3678e-4ddb-3fc6-8bd1-e35e40ec2215
* Content: [Capacit

[2019-07-15 23:37] amitamit281 opened #35170 "Option 2: Use your own certificate"
It took sometime me to figure out that to New-AzADServicePrincipal -ApplicationId "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037" command. you would need "Global Administrator" role.And I think this is one time activity per tenant.if it is been done once per tenant. No need to do it again if multiple teams in a company spin up their own AFD under one tenant. It would be good if you can update the docs to h

[2019-07-15 23:40] TravisCragg-MSFT commented on #34775
@HoyeonHan Are you sure that the VM you are accessing it from is in the "public" subnet and not the "private" subnet?

[2019-07-15 23:41] LarsKemmann opened #35171 "Clarify alternatives to partitioning stateless services w/ partitioned backend storage"
The documentation says:
&gt; Those types of scenarios can also be solved in different ways and do not necessarily require service partitioning.
Can you please clarify? I have a scenario where I have a partitioned backend (Azure blob containers) and being able to provide an in-memory cache of the stored & deserialized data is very desirable. Wouldn't it be best to partition the stateless services i

[2019-07-15 23:45] #34615 closed

[2019-07-15 23:46] SaurabhSharma-MSFT commented on #34583
@pbalzer A user can go to account.activedirectory.windowsazure.com/r#/applications, find the app, and click remove in the dropdown. This should remove the consent.

[2019-07-15 23:46] SaurabhSharma-MSFT commented on #34761
@Ashley-Walton We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-15 23:46] #34761 closed

[2019-07-15 23:52] JimacoMS3 commented on #10205
I'm using a standard (S1) tier hub. The Free tier could be an issue if you have exceeded the 8k/day message limit: https://azure.microsoft.com/en-us/pricing/details/iot-hub/ ; otherwise, I don't think that is the problem.

Your answer to #3 points to a potential issue. How are you verifying that you are actually getting messages from your gateway to your IoT hub? You should be able to see these wi

[2019-07-15 23:52] HoyeonHan commented on #34775
Yes, I am sure. I tried to do that several times on the Central Korea region. Additionally, I tried to do that on East Us by guide as the guide, but the result was same.

[2019-07-15 23:57] TravisCragg-MSFT commented on #34775
@HoyeonHan how exactly are you confirming access to the storage account?

[2019-07-15 23:59] SaurabhSharma-MSFT commented on #35096
@MarkusVi can you please help updating the document as I could also see only AuditLogs and SignInLogs but no user performing consents on the page.

[2019-07-16 00:04] HoyeonHan commented on #34775
In the guide, there is "Confirm access to storage account" section. So, I did that in the VM in public subnet. I succeeded to access to the storage account. And then I make a text file in Z drive, and I opened it in the VM in private subnet.

[2019-07-16 00:05] dcbrown16 opened #35172 "Activity log event categories"
This page states that "category" is used in the context of log profiles to refer to the types of actions (like Write) instead of the log entry category (like Administrative). How *are* the log entry categories reflected in the export procedure, though?
I don't see any place indicating the log entry category or any settings that would allow you to choose which ones are saved. Also, the presence of

[2019-07-16 00:06] robinsh commented on #10205
I only use S1 tier hubs. You can’t use more than one endpoint on a free hub, so you can’t do the routing tutorial with a free hub, as noted by the big-ass note that’s in the article. So that’s fine. You might add a note as to why you don’t recommend they use a free hub. These hubs are expensive, and people will try the free hub unless you tell them not to.

I don’t have any idea what is this “gate

[2019-07-16 00:07] TravisCragg-MSFT commented on #34775
@HoyeonHan can you Email me at AzCommunity@microsoft.com with your Subscription ID and a link to this post?

I would like to take a look at your environment and confirm that everything is configured properly.

[2019-07-16 00:16] HoyeonHan commented on #34775
Yes, but I deleted by Virtual Network and VMs because of the costs. My experience period was ended.

[2019-07-16 00:18] CADbloke commented on #35089
Hi. Sorry, I got no notifications this was updated. Thanks for responding.
Private IP: 10.0.1.4
subnet: 10.0.1.0/24 (default)
subnet to create for Bastion? : NFI - that's the guidance I need. As you have probably guessed, I'm not a network devop.
If I try the same range as the default subnet I get `The specified address space overlaps with subnet 'default' which has a range of '10.0.1.0/24'.`
If I

[2019-07-16 00:21] kobulloc-MSFT commented on #35065
@PingPongSet The two documents are very similar (nearly identical for the first half), however they do ultimately differ once you get into "Build and run code in Kubernetes", and especially "Update code" (as [Run an application](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-cli) uses JavaScript and [Run an application with a Dockerfile](https://docs.microsoft.com/en-us/azure/dev-spa

[2019-07-16 00:22] CADbloke commented on #35089
Sorry, you asked me for an `Address Space` - 10.0.1.0/24, same as the default subnet (I think).
Am I supposed to add an address space then a subnet? This could be automated, no?
The barrier to entry could do with lowering on this one.
Thanks again for responding

[2019-07-16 00:26] 810123 opened #35173 "Why don't build on-premise to vnet connection?"
[Any explanation of why don't build site5 to TestVnet1 connection?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a8bcda0-724a-1f27-404c-6070f38ccb1c
* Version Independent ID: 48b9df9a-11b5-bdc7-6652-eb1db46b2e54
* Content: [Configure BGP on Azure VPN Gateways: Resource Manager: PowerShell](https://docs.microsoft.com

[2019-07-16 00:26] TravisCragg-MSFT commented on #34618
@jecooper There is a limit of 20 records pointing to a single Azure resource. Unfortunately this limit is not currently documented, and the error message upon hitting this limit is not clear. We will be adding this limit to the docs, and making a more suitable error message for reaching this limit.

Unfortunately there is not a way to increase this limit at this time, but we will be revisiting the

[2019-07-16 00:35] Karishma-Tiwari-MSFT commented on #35148
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-16 00:37] kobulloc-MSFT commented on #35065
@PingPongSet We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-16 00:37] #35065 closed

[2019-07-16 00:38] dcbrown16 opened #35174 "Lost from ToC"
This page is linked to from the soft delete docs, but it doesn't appear in the ToC. Is it replaced by something else, or did it just lose its ToC spot?
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8c3f68c-207a-8fec-4b05-bccb68b260a0
* Vers

[2019-07-16 00:41] Karishma-Tiwari-MSFT commented on #35152
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 00:43] eucnutter opened #35175 "Oracle now have SSO Setup Self Service"
Oracle Fusion now lets clients upload the manifest themselves rather than relying on a support call. Once the manifest is imported into Fusion, download the metadata file and import into the SAML Sign On page by clicking on upload metdata. I have just successfully Oracle SSO with the self service functionality this for a client.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-07-16 00:47] Karishma-Tiwari-MSFT commented on #34859
You can store and protect your certificates using Key vault by import an existing valid certificate into your key vault.
Please refer to the following docs for more details:
https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs
https://blogs.technet.microsoft.com/kv/2016/09/26/manage-certificates-via-azure-key-vault/
Let me know if you have any other question. Thanks. :)

[2019-07-16 00:58] Karishma-Tiwari-MSFT commented on #34935
@mayanknayar Can you please share your insights on the customer's questions?
The first one is doc-enhancement and the other two are questions related to, whether those scenarios are supported or not.
I am assigning the issue to you for the doc update in point 1. Thanks :)

[2019-07-16 01:00] CortalUX commented on #35148
Looks like it might be related to the form of zip file compression used. I was able to open the archive when I used a third party compression tool - other than the mac and windows native tools. Might be worth highlighting this.

[2019-07-16 01:02] femsulu commented on #35172
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-16 01:03] dmarlow commented on #34859
The first article mentions AppGw and the second mentions App Service. Both refer to Key Vault, but my question is how are certificates secured for Azure Cloud Service? I can upload a pfx cert via the portal, but how do I know that's actually a secure storage mechanism for the cert?
________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, July 15, 2019

[2019-07-16 01:04] rogeraustin commented on #34903
I have checked as requested and "Microsoft.Batch" is showing in Registered state

[2019-07-16 01:04] srife opened #35176 "Syntax for Creating variables is incorrect"
For the page:  https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-quickstart

When the article instructed me to create the variables for site name, storage id and endpoint with the following lines:

[code]

I receive an error:
[code]
I was able to determine what was wrong right away and I don't mean to be nit-picking, but this is an otherwise excellent tutorial that helped me

[2019-07-16 01:30] MGoedtel commented on #30951
#please-close as the article has been updated to align with the experience in the portal.

[2019-07-16 01:30] #30951 closed

[2019-07-16 01:33] ghost opened #35177 "output?"
@bruun963 commented on [Sun Jul 14 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/446)

Under step 1 there's an example output of the Keyvault ID, however the output of the 'az storage account show' command only shows the resourceID of the storageaccount, and not the Keyvault ID.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tusse

[2019-07-16 01:33] lichasu commented on #35177
Hi team, please check this issue

Thanks.

[2019-07-16 02:04] Mike-Ubezzi-MSFT commented on #35167
@andyTheCoder Thank you for bringing this to our attention. I believe this should be North Europe but I am investigating and will update the document as appropriate. Thank you.

[2019-07-16 02:17] spelluru commented on #34766
@gtgray - Thank you for reporting the issue to us and providing the link. The article is updated now:

https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started#connecting-app

I have tested the steps to make sure they work.

Thanks again,

#please-close

[2019-07-16 02:17] #34766 closed

[2019-07-16 02:35] lmolkova commented on #34995
Activities were first-class citizens from .netcore2.0 time in  ApplicaitonInsights. However, you could not use them alone.  Activities provide the tracing context and a few more things, but ApplicaitonInsights needs to know that there were started/stopped to track telemtery about them.

The libraries and .NET parts use DiagnosticSource to notify ApplicaitonInsights about Activities. This is fairly

[2019-07-16 02:36] lmolkova commented on #34995
So the article is correct, but I guess it this article needs section 'StartOperation vs Activity'

[2019-07-16 02:44] fabienturcotte commented on #22223
Hi, Then, the role you put your users in on the Azure AD side becomes irrelevant. It will only be used to grant access to the application. The Group you create can be associated with Standard User or other - it won't matter, as you don't use JIT or other attributes in the SAML response.Hope this helps, Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: syswpit <notific

[2019-07-16 03:08] joanfs opened #35178 "Azure SQL LTR Logs"
It there any way to pull some Logs from the Azure SQL backups? PITR or LTR.

Kind Regards
Joan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database automatic, geo-redundant backups](https://docs.

[2019-07-16 03:46] ram-msft commented on #35153
@SwePalm Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-16 03:49] ram-msft commented on #35166
@masautt Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-16 03:50] peddabavisriram opened #35179 "Path matching is creating confusion, so ask you to include the below to avoid confusion."
though the file name (the link below calls file.gif a path) is only under INCOMING MATCH, its creating confusion, can you update the document which should somewhere say the custom forwarding path should not include the file name and should only include the directory instead.

I see the same question asked last year as well regarding filename inclusion in the forwarding path, so this avoids the con

[2019-07-16 03:51] KetanChawda-MSFT commented on #35168
@Lau82 Thank you for your posting your question. We will review and provide an update as appropriate.

[2019-07-16 03:54] moizin opened #35180 "Page Update"
Hi,
Can you update this webpage.
As ASR configuration Server says it has an update and the Update Matrix doesn't show that update.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ee5745-9573-219d-480d-201c9d1459b4
* Version Independent ID: 5b75108a-595a-5a13-d934-0a1e1f51b917
* Content: [Azure Site Recovery upd

[2019-07-16 03:56] cecilphillip opened #35181 "TelemetryConfiguration does not resolve from DI"
Retrieving an instance of TelemetryConfiguration via constructor injection as stated in this document under **[Log custom telemetry in C# functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-custom-telemetry-in-c-functions)** throws an error.

[code]
Other services that I have registered resolve correctly via the DI support in Functions

**Using**
Azure Functi

[2019-07-16 03:57] AshokPeddakotla-MSFT commented on #34748
@obrookstein We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 03:57] #34748 closed

[2019-07-16 04:02] Rajani-Janaki-Ram commented on #35180
+ Mayuri and Rajeswari

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: moizin <notifications@github.com>
Sent: Tuesday, July 16, 2019 9:25:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rajani Janaki Ram <rajanaki@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Page Update (#35180)

Hi,
Can you

[2019-07-16 04:02] AshokPeddakotla-MSFT commented on #34871
@lichasu Since this issue is related to SDK, I would suggest you open an issue [here](https://github.com/Azure/azure-iot-sdk-csharp/issues) for further assistance.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 04:02] #34871 closed

[2019-07-16 04:04] shashishailaj commented on #35175
@eucnutter Thank you for confirming this. We will engage the author to have this reviewed and the article updated as necessary.

[2019-07-16 04:06] shashishailaj commented on #35175
@jeevansd Could you please help to get this article updated after verification?

Thank you.

[2019-07-16 04:07] AshokPeddakotla-MSFT commented on #32988
@julianparismorgan Thanks for an update.
@ggorby We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 04:07] #32988 closed

[2019-07-16 04:08] AshokPeddakotla-MSFT commented on #34406
@craigktreasure Thank you!
@sostel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 04:08] #34406 closed

[2019-07-16 04:08] shashishailaj commented on #35155
@RWu-MS Thank you for pointing this out . We will have this reviewed and updated accordingly.

[2019-07-16 04:10] shashishailaj commented on #35170
@amitamit281 Thank you for your feedback . We will have this request reviewed and the article updated as needed.

Thank you,

[2019-07-16 04:11] shashishailaj commented on #35169
@LarsKemmann Thank you for your feedback . We will have this reviewed and updated as necessary.

[2019-07-16 04:15] AshokPeddakotla-MSFT commented on #34630
@rido-min  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-16 04:15] #34630 closed

[2019-07-16 04:16] msrini-MSFT commented on #35173
@810123, There is a connection between On-Premises site to VNET1. Can you please elaborate your issue bit more?

[2019-07-16 04:44] KranthiPakala-MSFT commented on #35036
@KenVraagaard We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please reopen the issue and tag me in your reply. We will gladly continue the discussion.

Thank you.

[2019-07-16 04:44] #35036 closed

[2019-07-16 04:45] SumanthMarigowda-MSFT commented on #35176
@srife Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-16 04:46] SumanthMarigowda-MSFT commented on #35174
@dcbrown16 Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-16 04:58] litvinolek commented on #35074
Hi!

I think the problem in download path. If I correct understand download path that handler check it:
C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.9.5\Downloads\0\scripts
But if I publish template as Managed application - template is uploaded onto blob owned by Azure and in this case download path will be:
C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.9.5\Downloa

[2019-07-16 05:02] litvinolek commented on #35074
[3792+00000001] [07/16/2019 04:42:00.30] [INFO] Downloading files specified in configuration...
[3792+00000001] [07/16/2019 04:42:00.38] [WARN] Storage Account Name and/or Key are empty - will try to download files without them
[3792+00000001] [07/16/2019 04:42:00.39] [INFO] DownloadFiles: fileUri = https://prdsapplianceprodam01.blob.core.windows.net/applicationdefinitions/0CAA4_5139121DC966459B9C

[2019-07-16 05:06] AshokPeddakotla-MSFT commented on #34909
Adding author @KingdomOfEnds for further help. Adam, please check and provide your suggestions.

[2019-07-16 05:09] ChiragMishra-MSFT commented on #34997
@linda33wj Can you please have a look at this ?

On reproducing the scenario, I also observed the same behavior.

[2019-07-16 05:14] kobulloc-MSFT commented on #34803
@vikrantminhas Unfortunately, you are correct in that cannot use another tenant:

https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-managed-identities-adls#limitations

If you need additional help configuring your setup, please feel free to reach out to us on the MSDN forums, or on Stack Overflow.  We monitor these forums and would be happy to help you.

We are going to clos

[2019-07-16 05:14] #34803 closed

[2019-07-16 05:14] SadiqhAhmed-MSFT commented on #35115
@omiossec Thanks once again for bringing this to our attention. The link has been updated now. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 05:14] #35115 closed

[2019-07-16 05:43] shashishailaj commented on #35171
@LarsKemmann Thank you for your feedback. We will investigate and update further.

[2019-07-16 05:43] msrini-MSFT commented on #35089
@CADbloke ,Address space is the super set of Subnet. In your case, you have exhausted the entire address space of the VNET to a subnet and hence you are not able to create new subnet for Azure Bastion.

I would suggest you the below action plan to unblock from this issue.

Navigate to the VNET and click on address space.
Add a new address space, say 10.0.2.0/24
Now create a new subnet with 10.0.2.

[2019-07-16 05:44] msrini-MSFT commented on #35071
@pedroneil , Do you have any update for me?

[2019-07-16 05:44] msrini-MSFT commented on #35001
@cktechative , Do you have any update for me?

[2019-07-16 05:48] racchen commented on #34754
@mike-urnun-msft , any feedback on this case? Thanks!!!

[2019-07-16 05:51] snehithm commented on #35127
@bdschaap Right now, that is the only operator supported.

[2019-07-16 05:53] cijothomas opened #35188 "Why logging libraries are mentioned?"
The doc is about dependencies, and the list of autocollected dependencies.

This consists of outgoing calls to communication libraries, storage clients, logging & metrics libraries, as well as incoming calls into application frameworks and servers.

The above statement is misleading as it talks about incoming calls, and logging & metric libraries. They are not dependency telemetry.

---
#### Docum

[2019-07-16 05:54] shashishailaj commented on #35177
@lichasu Thank you for pointing it out. We will investigate and update the thread further.

[2019-07-16 05:55] shashishailaj commented on #35179
@peddabavisriram Thank you for your query. We will investigate and update further on this.

[2019-07-16 05:58] shashishailaj commented on #35180
@moizin We are checking this with the content owners and will update the thread accordingly.

Thank you.

[2019-07-16 06:01] cijothomas commented on #33299
please-close

[2019-07-16 06:01] shashishailaj commented on #35181
@cecilphillip Thank you for your feedback . We will have this reviewed with engineering and update the article as needed.

[2019-07-16 06:08] #33299 closed

[2019-07-16 06:15] kobulloc-MSFT commented on #34812
@tkumark I believe we address your question more in our Application Map documentation:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#composite-application-map

[2019-07-16 06:23] MrLokeshV opened #35190 "how to calculate the Azure table storage row size"
Hi Team,
I want to calculate the size of row of the Azure Table Storage, So while adding new item to the Table i can verify the size to avoid the overflow error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61d40dd-8c13-b5d3-f63d-5e4b44dadf97
* Version Independent ID: eae4319e-6691-2bbf-64ab-c42d6f4caee0
* Content:

[2019-07-16 06:25] shashishailaj commented on #35190
@MrLokeshV Thank you for your query. We will investigate and update this thread further.

[2019-07-16 06:27] Yves57 commented on #34995
@lmolkova Thank you for the answer. I agree that a new section is needed.

[2019-07-16 06:28] shashishailaj commented on #35188
@cijothomas Thank you for your feedback . We will have this reviewed by content authors and updated as needed.

[2019-07-16 06:30] cktechative commented on #35001
Hi Karthik,

thank you for this information.
How is the routing scenario? Do i have to connect to both instances and do equal cost routing?

Please explain this in detail.

BR
Christian
________________________________
Von: KARTHIK SRINIVAS <notifications@github.com>
Gesendet: Freitag, 12. Juli 2019 10:54
An: MicrosoftDocs/azure-docs
Cc: Christian Kreutzer; Mention
Betreff: Re: [MicrosoftDocs/azur

[2019-07-16 06:31] kobulloc-MSFT commented on #34812
@tkumark We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

If you have questions about setting up your project, please reach out to us on the MSDN forums or on Stack Overflow where we actively monitor the forums.

[2019-07-16 06:31] #34812 closed

[2019-07-16 06:35] msrini-MSFT commented on #35001
@cktechative , Azure WAN instances are Active-Active by default. If you want one route to be preferred over the other, you can use AS Path Prepending at your end.

You can read about AS Path Prepending [here](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-optimize-routing#suboptimal-routing-from-microsoft-to-customer).  Even though the example mentioned in the doc is for Express

[2019-07-16 06:38] angoyal-msft commented on #35178
@joanfs Thanks for your feedback. Could you please specify what exactly you need.
As per my understanding you want to know the list of backups that can be achieved using :

# Get the list of all LTR backups in a specific Azure region
# The backups are grouped by the logical database id.
# Within each group they are ordered by the timestamp, the earliest
# backup first.
$ltrBackups = Get-AzSqlDatab

[2019-07-16 06:42] PramodValavala-MSFT commented on #35008
@Ballzer0 Just following up here... Hope my previous comment clears things up.

[2019-07-16 06:43] VikasPullagura-MSFT commented on #35169
@LarsKemmann Thanks for the feedback on broken link in the document. I am assigning the issue to content author for updating the link in the document.

[2019-07-16 06:48] msrini-MSFT commented on #35170
@amitamit281 , I will assign this issue to author and will get it validated and add the info.

[2019-07-16 06:52] pedroneil commented on #35071
To resolve my 404 for CDN of a static website I had to enable all networks
on the firewalls and virtual networks blade of my storage account. The
response from the ist person was about a cdn configured to blob storage and
not to the static white https hostname

https://p8itwwwstorage.z35.web.core.windows.net/

https://p8itwwwcdn.azureedge.net/ serves content from
p8itwwwstorage.z35.web.core.window

[2019-07-16 07:08] mayurigupta13 commented on #35180
@moizin - Could you please elaborate the issue?

[2019-07-16 07:09] pbalzer commented on #34583
Thank you Saurabh. However there is still something in this story that I don't understand.
I guess some 99.9% of the users don't have a real understanding of what's going on behind the scenes with the auth-n & auth-z mechanisms, and so I guess that hardly anyone would ever go there to actively revoke his or her consent. What I expected was that the consent would be revoked automatically after some

[2019-07-16 07:16] CADbloke commented on #35089
This all worked but I still think you will get a lot less of these if you automate this step. Although .... I could be dumber than the rest  ... only you could know that.

Thank you for your help. :)

[2019-07-16 07:16] #35089 closed

[2019-07-16 07:17] ManojReddy-MSFT commented on #34962
@redamaleki Thanks for the suggestion. I am assigning this to the author to validate this and update the doc accordingly.

[2019-07-16 07:18] ManojReddy-MSFT commented on #34666
@middiu We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-16 07:18] #34666 closed

[2019-07-16 07:27] dcurwin commented on #35151
@femsulu  - You can assign that to me.

[2019-07-16 07:28] woutervanranst commented on #28112
+1 to add this clarification in the FAQ

[2019-07-16 07:33] syswpit commented on #22223
Are you saying that if I select Standard User for everyone in AD, the Administrators will still be Administrators in Salesforce?

[2019-07-16 07:48] ManojReddy-MSFT commented on #34797
@HarrisburgUSysAdmin Apologies for the delay. I have updated my previous comment with the doc.

During the initial setup, they will be prompted for MFA and post that these users will not be prompted for MFA unless the refresh token is cleared.

To understand your scenario better, can you drop an email to Azcommunity@microsoft.com with your tenant information and I will get back to you over the ema

[2019-07-16 07:49] jakaruna-MSFT commented on #34633
@jordanrgsd Did you got a chance to look at the above comment

[2019-07-16 07:57] whitmla opened #35192 "Data Factory v2 Web Table connection"
Hi

Been experiencing issues when using Web Table connection as a source in Data Factory v2.

Consider the following Census website:
https://www.census.gov/econ/currentdata/dbsearch?program=RESCONST&startYear=1959&endYear=2019&categories=APERMITS&dataType=TOTAL&geoLevel=US&adjusted=1&notAdjusted=0&errorData=0

The table on the web page has an index of 0. All Azure Linked Services and Web Table con

[2019-07-16 08:01] SuperSing commented on #35022
Yes, auditing will not get enabled when you try in SSMS, as you cannot reach the blob storage . It works if you make storage account open to all networks ( Firewall and virtual networks -> Allow access from 'All Networks'). Have same problem for 'Advanced data security' feature for Managed Instance,  the "Vulnerability scan" will not run unless you make the storage account open to 'all networks'.G

[2019-07-16 08:09] SadiqhAhmed-MSFT commented on #35180
@moizin and @mayurigupta13 Could be something similar to this one - https://social.msdn.microsoft.com/Forums/en-US/de458be1-c780-43c6-94a7-12baa3fe6928/update-available-status-on-configuration-server?forum=hypervrecovmgr

[2019-07-16 08:10] #34183 closed

[2019-07-16 08:17] ugurgokdere commented on #34640
I started from scratch creating in different region.

`az group create --name IoTEdgeResources --location westus`

This time it worked. I guess you can close the issue however it would be great to add some explanation incase the user gets same error the workaround will be trying different regions for the availability.

[2019-07-16 08:19] SwathiDhanwada-MSFT commented on #34905
We will close the issue now.If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-07-16 08:19] #34905 closed

[2019-07-16 08:20] jordanrgsd commented on #34633
@jakaruna-MSFT - Thank you sir for all your patience and assistance.  I got it now

[2019-07-16 08:21] #34633 closed

[2019-07-16 08:31] BhargaviAnnadevara-MSFT commented on #34544
Hello @gavinwilliams, Could you provide us with your Azure DevOps organization name?

Ex: https://dev.azure.com/{yourorganization}

[2019-07-16 08:32] OffColour commented on #35134
Thanks for the responses folks. Definitely a bit of misreading on my part.

I suppose it feels buried in the sense that DSC is a pretty big thing in it's own right and seems to have a fairly substantial user base. Azure Policy Guest Configuration is the new implementation of this and whilst it only has limited functionality at the moment it will take over from the current DSC implementation, but a

[2019-07-16 09:00] SwathiDhanwada-MSFT commented on #34922
assigning @tfitzmac  for further analysis.

@tfitzmac Seems its a product issue , can we raise [feedback](https://feedback.azure.com/forums/34192--general-feedback) to the Azure feature team regarding this?

[2019-07-16 09:01] RohitMungi-MSFT commented on #35110
@mgwilliam Yes, I have tested some words like "capitalize" with en-GB parameters set but it seems to accept these spellings as en-GB.

![image](https://user-images.githubusercontent.com/46958063/61280282-39bbea80-a7d5-11e9-9cf4-4d47ae5eb67c.png)

In case of British spellings, it also accepts them as expected.
![image](https://user-images.githubusercontent.com/46958063/61280511-a0d99f00-a7d5-11e9-9

[2019-07-16 09:04] moizin commented on #35180
Hi
In the portal as a new version higher than it's available.

Thanks
Regards
---------------------------------
*Moizuddin Syed   <http://www.linkedin.com/>*
 +61-(0) 433 247 129 <moiz.in@gmail.com>
<http://www.gmail.com> moiz.in@gmail.com, moiz.in@hotmail.com,
moiz.syed@live.com.au
: moiz.in <http://www.skype.com>

On Tue, Jul 16, 2019 at 4:10 PM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

[2019-07-16 09:04] paulio opened #35193 "Copy & Paste error for punctuation"
for Normalize Punctuation it states, "With diacritics set to False"...Bzzzt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebec937d-2f6a-e804-76b7-5bbf2be0cd12
* Version Independent ID: 03e3d502-67e9-2b94-ce14-718c1750413e
* Content: [Application settings - Azure Cognitive Services](https://docs.microsoft.com/en-us/az

[2019-07-16 09:14] mayurigupta13 commented on #35180
Understood. The release notes for rollup 38 are not out yet. It should take around a week's time from now. Once they are out, this document will also get updated.

[2019-07-16 09:14] CastleArg opened #35194 "Ad auth with non http triggers"
Hi there,
I'm finding when enabling ad easy auth it is working fine with http functions but not flowing through to others within the same function app- for example a blob trigger will die as unauthenticated.  Is there anyway to only apply ad auth to http triggers and leave all other orchestrator functions etc unaffected?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-07-16 09:17] bramvdklinkenberg opened #35195 "Why doesn't Azure take care of the reboot process?"
Why doesn't Azure take care of the reboot process of vm's if they had updates that require a reboot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eadf3bc9-bea3-b51f-1477-8f76ccfce7da
* Version Independent ID: 12d0be59-8947-e0a2-d73a-8834f2e5f8b2
* Content: [Update and reboot Linux nodes with kured in Azure Kubernetes

[2019-07-16 09:38] dr-ivan opened #35198 "Missing acronym definition"
The diagram refers to TDS Endpoint, but nowwhere on the page does it define what TDS is.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee
* Version Independent ID: f083bdda-0c66-

[2019-07-16 09:39] manjucsprasad commented on #19226
I am the Azure Data Explorer Admin in the portal.
I am unable to connect the Azure Data Explorer from Kusto Explorer tool and PowerBI tool.
While i am trying to connect from the Kusto Explorer Tool, i am getting the error -
code": "Forbidden",
"message": "Caller is not authorized to perform this action",
"@type": "Kusto.Common.Svc.Exceptions.UnauthorizedOperationException",
"@message": "Principal

[2019-07-16 09:40] AshokPeddakotla-MSFT commented on #28321
@RationalAnarchist I am closing this issue since there is a PR addressing your feedback. Thanks again for taking the time to reach out!

[2019-07-16 09:40] #28321 closed

[2019-07-16 09:41] shashishailaj commented on #35192
@whitmla Thank you for your feedback . We will investigate and update further.

[2019-07-16 09:44] shashishailaj commented on #35198
@dr-ivan Thank you for your feedback . We will have this reviewed and actioned accordingly.

[2019-07-16 09:45] shashishailaj commented on #35193
@paulio Thank you for your query. We will investigate and further update on this  .

[2019-07-16 09:46] shashishailaj commented on #35195
@bramvdklinkenberg Thank you for your query. We will have this reviewed and update this thread with our findings.

[2019-07-16 09:48] shashishailaj commented on #35194
@CastleArg Thank you for your feedback. We will investigate and update further.

[2019-07-16 09:49] ToMakeSense opened #35199 "Document regarding <filter-control> is missing"
The document regarding <**filter-control**> which is used in `API list (grouped)` template and `Operation list (grouped)` template is missing.

Besides, the `API list (grouped)` template, `Operation list` and `Operation list (grouped)` templates are not listed in [Developer portal templates](https://docs.microsoft.com/en-us/azure/api-management/api-management-developer-portal-templates-reference)

[2019-07-16 09:51] jakaruna-MSFT commented on #34457
For storing the boot diagnostics in a storage account, Azure dont need any permissions.
I verified it by creating a service principal and given access to the service principal for a resource group.
Then i created a VM using that service principal and specified the storage account in another resource group. Azure is able to write that logs and screenshot in to the storage account.

But for the uses

[2019-07-16 09:51] shashishailaj commented on #35199
@ToMakeSense Thank you for your feedback . We will investigate and update further on this.

[2019-07-16 09:51] OlliePythagoras opened #35200 "Use the views"
Under 'Use the views'
"You should see the following three views" but then only lists two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcfaf5b-78ea-ac05-bebe-806430114ca9
* Version Independent ID: a6264958-2d6d-2059-d78a-0fba7a7fda7d
* Content: [How to install and use the log analytics views for Azure Active Directo

[2019-07-16 10:03] RohitMungi-MSFT commented on #35148
@CortalUX Thanks for your feedback.
@erhopf It looks like there is an error while trying to open the zip file directly in windows,
![image](https://user-images.githubusercontent.com/46958063/61285661-f9616a00-a7de-11e9-99c2-2aea514e9e05.png)

A third party tool does work to uncompress. Can this be updated as a note in the documentation?

[2019-07-16 10:07] AshokPeddakotla-MSFT commented on #34640
@kgremban  Please check the above and suggestions.
@ugurgokdere Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 10:07] #34640 closed

[2019-07-16 10:08] jakaruna-MSFT commented on #35195
@bramvdklinkenberg If we reboot a node, The pods on that node should be cordoned and drained and will be rescheduled on other nodes.
This may cause a small downtime to the pods if one only one pod is running for that deployment.
The suitable time to reboot a node also varies across customers.
Thats why its left to the users to initiate that reboot. So that users can choose a time where they will h

[2019-07-16 10:26] PramodValavala-MSFT commented on #35039
@d-h-morrison Just following up here... Hope my previous comment clears things up.

[2019-07-16 10:32] AmanGarg-MSFT commented on #35188
@cijothomas Thanks for pointing that out! I have removed the text and raised a pull request. Changes should go live shortly.

[2019-07-16 10:36] mlearned commented on #16724
@MicahMcKittrick-MSFT  can you close this one please?

[2019-07-16 10:38] #35188 closed

[2019-07-16 10:41] ram-msft commented on #35028
@tomygrenier Use ranking to display Bing Web Search API results. Please refer the following [link ](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/rank-results) to how-to guides for more information.

[2019-07-16 10:43] moizin commented on #35180
alrite..

On Tue, 16 Jul. 2019, 5:14 pm Mayuri Gupta, <notifications@github.com>
wrote:

[2019-07-16 10:44] mlearned commented on #35112
I will work to get clarity today.

[2019-07-16 10:51] mlearned commented on #35116
will verify today.

[2019-07-16 11:09] angoyal-msft commented on #35198
@dr-ivan Thanks for your feedback. Just for the information TDS is Tabular Data Stream.
I'll assign this issue to the content author for updating the document appropriately.
@srdan-bozovic-msft Could you please look at this issue and update the document appropriately.

[2019-07-16 11:14] shashishailaj commented on #35200
@OlliePythagoras Thank you for your feedback . We will investigate and update the thread accordingly.

[2019-07-16 11:26] AmanGarg-MSFT commented on #34888
Note that Azure Dev Spaces creates not only public DNS but also a temporary SSH tunnel for your remote container. Therefore you can also access your remote application using “localhost” from your desktop.

You can use `azds up` command to build and run your code in Azure Dev Spaces

https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-cli#build-and-run-code-in-kubernetes

For your referenc

[2019-07-16 11:30] manjucsprasad opened #35201 "Unable to access Azure Data Explorer from Kusto Explorer Tool and PowerBI Tool"
I am the Azure Data Explorer Admin in the portal.
I am unable to connect the Azure Data Explorer from Kusto Explorer tool and PowerBI tool.
While i am trying to connect from the Kusto Explorer Tool, i am getting the error -
code": "Forbidden",
"message": "Caller is not authorized to perform this action",
"@type": "Kusto.Common.Svc.Exceptions.UnauthorizedOperationException",
"@message": "Principal

[2019-07-16 11:35] AmanGarg-MSFT commented on #35087
@PingPongSet This is a manually created folder.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-16 11:35] #35087 closed

[2019-07-16 11:41] buildbod opened #35202 "Page numbering bunched up"
The CSS for the page numbering example could benefit from a little styling e.g. using

table{
     white-space: nowrap;
}

in the CSS file. Otherwise the table cells are all bunched up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8cde97a-8763-52e1-104c-8415f554c698
* Version Independent ID: 2d93d797-a7e4-6e61-10d7-

[2019-07-16 11:41] ManojReddy-MSFT commented on #35176
@srife I tried the exact commands in my lab and I am not receiving any error. I would really appreciate it if you can elaborate on your findings? (How did you resolve it? If possible please include a screenshot)

[2019-07-16 11:42] jakaruna-MSFT commented on #34903
@rogeraustin Thanks for checking. I will check with the internal team and let you know.
@laurenhughes please add your comments.

[2019-07-16 11:42] msrini-MSFT commented on #35071
@pedroneil , Thank you for your feedback. I will assign this issue to author to validate and add it to the documentation.

@zhangmanling can you take a look?

[2019-07-16 11:53] notjjsb opened #35203 "Tenant name must be a Federated domain name"
The document above implies that the TenantName value can be any verified domain in the tenant, including the actual tenant name (contoso.microsoft.com).  This is incorrect.  The TenantName must be the name of a federated domain in the tenant.
In addition there does not appear to be functional requirement for this registry key to exist on the ADFS server, HADJ works just fine without it.  If this i

[2019-07-16 11:54] thecpshah opened #35204 "Error while registering another container"
Hi,

I am trying to register another container with Azure ML Workspace that I have created but I get an error

`ERROR - Registering datastore failed with a 400 error code and error message 'Forbidden. Please make sure the credentials are correct'`

The code is:

[code]

Can you please help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-07-16 11:57] jakaruna-MSFT commented on #34509
@lingtham i have replied to your [msdn thread.](https://social.msdn.microsoft.com/Forums/en-US/3cec387f-b345-412c-877b-aa33fe6508d2/pods-stuck-in-terminating-status-after-deallocating-node-prevents-disks-from-attaching-to-new-pods?forum=AzureContainerServices) Please provide the required details(specified in the msdn thread) so that i can enable a one time free support ticket for you.

[2019-07-16 12:03] jakaruna-MSFT commented on #35106
@paulmey
I tried today. It worked well. It took 12 minutes to complete.
[code]

@KJaunay Can you trigger a build and then go through the steps mentioned by paulmey to verify the logs.
Each run stores the logs in a storage account under the resource group IT_<resource group>_<image template name>

[2019-07-16 12:10] notjjsb commented on #35203
To be clear, this is for a federated environment.  I have not tested a managed environment.

[2019-07-16 12:16] jakaruna-MSFT commented on #35074
Looks like you have tried multiple options. I dont have other options to try from portal. If you are trying from CLi, Then place the file in the same directory and try once.

Lets involve the support now. Please send your subscription id to this email id(AzCommunity@microsoft.com).
i will enable a one time free support case for you.