[2021-05-05 07:19] #74543 closed

[2021-05-05 07:29] DavidBerg-MSFT commented on #74527
Thanks for noticing.  We're currently working on the missing HB v2 and v3 series (and a few others we missed) and will prepare an update soon.  D and E v5 benchmarks probably won't be posted until after the SKUs are generally available.

[2021-05-05 07:37] immch commented on #74066
Speed controller is definitely needed. This is too slow and hard to listen even for the non-natives.

[2021-05-05 07:46] SwathiDhanwada-MSFT commented on #69228
@Aaronmcd1978 Apologies for late response. Here are custom policies that deploy agent and associated DCR.

[CustomPolicy_DeployLinuxAgentAndAssociateDCR - Copy.txt](https://github.com/MicrosoftDocs/azure-docs/files/6425635/CustomPolicy_DeployLinuxAgentAndAssociateDCR.-.Copy.txt)
[CustomPolicy_DeployWindowsAgentAndAssociateDCR - Copy.txt](https://github.com/MicrosoftDocs/azure-docs/files/6425637/Cu

[2021-05-05 07:46] #69228 closed

[2021-05-05 07:54] KalyanChanumolu-MSFT commented on #74684
@elraikhm We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-05-05 07:54] #74684 closed

[2021-05-05 08:23] Ozzian commented on #74753
I fail to see how you can scope that _only-this-keyvault_ is managing the keys.

Once I've added the RBAC role for the Storage Account (and setup the `az keyvault storage add` to my keyvault), I cannot restrict the other Key Vaults not to be assigned to that same storage in another subscription / resource group.

If I've understood this correctly, any Key Vault can take over the storage account ke

[2021-05-05 08:33] SwathiDhanwada-MSFT commented on #74355
@sccjas Apologies for late response. As far as I know, the level column should have values. I recommend engaging our technical support team to investigate this  further. Please file a support case using [these steps.](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) If you do not have a support plan, send mail to AzCommunity@microsoft.com, inc

[2021-05-05 08:33] #74355 closed

[2021-05-05 08:33] m1nkeh commented on #73374
still not been corrected chaps?

[2021-05-05 08:35] JayaChatterjee-MSFT commented on #74793
Thank you for your feedback! We will review and update as appropriate.

[2021-05-05 08:35] D-Moonesinghe opened #74818 "DWU vs cDWU"
Shouldn't this be cDWU instead of
"The service levels for Gen2 dedicated SQL pool (formerly SQL DW) are measured in data warehouse units (DWU), for example DW2000c." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d18754-6ffe-e890-3ccb-3edfcb3f4b58
* Version Independent ID: 35516444-7bb9-8420-dd7b-4b5b6a22194e
* Con

[2021-05-05 08:36] JayaChatterjee-MSFT commented on #74814
Thank you for your feedback! We will review and update as appropriate.

[2021-05-05 08:38] kylegeorgearch commented on #71622
Thanks for that - I have sent an email to that address.

[2021-05-05 08:54] thommck opened #74819 "What role?"
Can you clarify if the partner can be assigned *any* role in the customer tenant? E.g. if the partenr just has the "Global Reader" role, then will it work, or do they need some role with write permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c06

[2021-05-05 09:11] lukos opened #74820 "Problem with load balancer SKU"
The example that shows creating an IP address with a standard SKU, but this does not work with helm install nginx-ingress, which creates the load balancer as Basic SKU. The deployment hangs and it is only with `kubectl describe` that you can see the error.

I have seen on another page that the load balancer SKU has to match the IP address SKU but this is not mentioned on this page. Is there a way,

[2021-05-05 09:20] Tzvika-m opened #74821 "Expired message with no active receiver"
In the [Time to live](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues#time-to-live) section it says:
_Expired messages are only purged and moved to the DLQ when there is at least one active receiver pulling from the main queue or subscription._

I've created a new queue in a new service bus, configured it with 2 minutes of TTL and a DLQ and sent a messag

[2021-05-05 09:53] jovanpop-msft commented on #74777
This document contains specific syntax differences between Az Mi and SQL Server/Az SQL singe db on the other side. The content evolved over the time and might need to be changed and aligned with the title

Adding @urosmil @danimir as doc owners.

[2021-05-05 09:56] VikasPullagura-MSFT commented on #74820
@lukos
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-05 09:56] VikasPullagura-MSFT commented on #74820
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-05-05 10:09] shankargurav commented on #68428
yes @emaborsa, this is the painful job. I have to add mapping for all elements, errors in localization resources. I don't know when you use custom policy why it cant take/use default translation for default elements and we only will have need to add for our custom claims.

[2021-05-05 10:20] SadiqhAhmed-MSFT commented on #74819
@thommck Thank you for your post! Could you provide more context on your requirement to assign a role to the partner?

[2021-05-05 10:35] JayaChatterjee-MSFT commented on #74821
Thank you for your feedback! We will review and update as appropriate.

[2021-05-05 10:36] JayaChatterjee-MSFT commented on #74818
Thank you for your feedback! We will review and update as appropriate.

[2021-05-05 10:56] robinharwood opened #74822 "Google Chrome guidance out of date and clarity required for GPO settings"
Hi,

Please note the Google Chrome guidance appears to be out of date. Please can the below be clarified and updated in the documentation. Should the new policies be updated in the doc or used as well as the existing deprecated ones?

This is under Step 3 subsection Microsoft Edge based on Chromium (all platforms) and subsection Google Chrome (all platforms).

_**
AuthNegotiateDelegateWhitelist
Th

[2021-05-05 10:57] lukos opened #74823 "Where is the list of all annotations?"
Across several of these pages, reference is made to Kubernetes annotations in specific scenarios like:

`service.beta.kubernetes.io/azure-load-balancer-internal: "true"`

But I cannot find a link to a list of all relevant annotations. Specifically, I am trying to deploy a helm chart for nginx ingress to use the standard sku load balancer but I cannot find a guide document and since there is no pag

[2021-05-05 11:04] teomonda opened #74824 "Licensing per tenant or per user??"
The article mentions "SSPR requires a license only for the tenant."
I feel this is a little vague.

It is a known fact that different M365 functionalities work for everybody when there is even only one license present in the tenant. And at that stage, admins are in charge of scoping the policies in such a way that they apply only to the proper licensed users. This is why we created this article, I

[2021-05-05 11:08] teomonda opened #74825 "SSPR licensing per user or per tenant??"
The current article says:
"Currently, you can only enable one Azure AD group for SSPR using the Azure portal. As part of a wider deployment of SSPR, Azure AD supports nested groups. Make sure that the users in the group(s) you choose have the appropriate licenses assigned. There's currently no validation process of these licensing requirements.

and it makes sense. It is a known fact that a lot of

[2021-05-05 11:15] nkumars commented on #74537
@nickgmicrosoft, awesome. So glad to see an option to customize the ShowBlockPage from API Connectors. We tested and it seems working, all that now we should customize a bit more on the other buttons like Cancel to align with our theme.

Thanks for supporting this and the issue. I can now go ahead and close the ticket.

[2021-05-05 11:15] #74537 closed

[2021-05-05 11:27] R1k91 opened #74826 "ADF seems to support Repos"
it seems Azure Data Factory is able to see Repos and launch notebooks inside them (I've just tested it with a customer using both Azure Data Factory and Databricks).
so it seems now they're supported.

https://docs.microsoft.com/en-us/azure/databricks/repos#does-repos-support-azure-data-factory-adf

![image](https://user-images.githubusercontent.com/79183421/117604355-d1d94f80-b172-11eb-8845-0832e

[2021-05-05 11:36] CHEEKATLAPRADEEP-MSFT commented on #73374
@leifbro Could you please review and update the document?

[2021-05-05 11:48] dhingradeepanshu opened #74828 "Error in Build and Push IoT Edge Solution"
I'm getting an error while building and pushing. The error says Specify which project or solution file to use because this folder contains more than one project or solution file. I've followed the tutorial step by step and can't figure out where it went wrong.

Attaching the complete error with screenshot for reference.

PS D:\EdgeSolution> docker build  --rm -f "d:\EdgeSolution\modules\CSharpModu

[2021-05-05 12:02] GitaraniSharma-MSFT commented on #74714
@aapalm , thank you for your feedback. We have assigned this issue to the respective product owner for review.

@mohitkusecurity , Could you please provide your insights here?

[2021-05-05 12:07] #74758 closed

[2021-05-05 12:07] NimaRayyan commented on #74758
closed

[2021-05-05 12:07] GitaraniSharma-MSFT commented on #74746
@lachlanmd , it is already stated [here ](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-routing-portal-resource-manager#to-create-microsoft-peering):

![image](https://user-images.githubusercontent.com/67630903/117138188-4bb2b700-adc8-11eb-8210-b811283e4750.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we wi

[2021-05-05 12:07] #74746 closed

[2021-05-05 12:16] #74466 closed

[2021-05-05 12:17] GitaraniSharma-MSFT commented on #74466
@vijayysisodia , the PR has been merged. So the doc will be updated soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-05-05 12:19] sebastus opened #74829 "Add details of authenticating to ACR from AKS using MI"
Hi folks. This page hints at something that should be made explicit. There are a couple of other pages that hint at a solution, but never quite get there. I'm happy to submit PRs, but you probably already have a plan in place and I wanted to get your input before I do.

I tried authenticating from AKS to ACR (AcrPull) using the MI that I created and assigned to the AKS cluster. That didn't work, b

[2021-05-05 12:59] MariusWeiss opened #74830 "Exclude at least one account from phone-based multi-factor authentication and Azure Security Defaults?"
Your recommendation is that I exclude at least one account from MFA. How can I do this on a Tenant with Security Default only? So, without any other Azure P1 or Azure P2 License?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff5de5d-9a97-73ff-4694-79027720b5c3
* Version Independent ID: 566a8387-bbdd-8e35-13cc-f2d891b

[2021-05-05 13:02] renaudallard opened #74831 "VHD rounding script doesn't work as expected"
With the VHD rounding script, my raw disk is indeed aligned to the 1Mb size. However, once conevrted in VHD, it isn't anymore and azure complains the size is not rounded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500c614f-c910-4999-904e-013b6f1cd152
* Version Independent ID: 6a50cc70-92c9-b0eb-850b-4ed0be9d2159
*

[2021-05-05 13:15] t0dbld commented on #51425
I am Confused on why this was closed, This issue is reproducible 100% of the time in Azure.  All the images work fine running out of a local docker instance and all fail if ran from Azure Container instances.   As OP posted error on all new projects is "Error encrypting data - Cannot read property 'importKey'
![image](https://user-images.githubusercontent.com/332386/117146455-37e46200-ad82-11eb-82

[2021-05-05 13:22] Frafou opened #74832 "Correction"
IN the article you state:
2. Note your Firewall's resource ID for which logging is enabled.
Should it not say:
2. Note your Firewall's resource ID for which logging **is to be** enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473dce1d-d1ab-ba5f-0762-d7a69be35f28
* Version Independent ID: 0da2f916-720b-ce8d-3caf-

[2021-05-05 13:31] AjayKumar-MSFT commented on #74555
@assaf-grth, Apologies for the delay on this!

Our product engineering team is actively working on it, and we do plan to GA the feature in the next few months, however we do not have an exact ETA to share at this time.

Please note that this timeline is just an estimate and is subject to change, depending on a myriad of factors. We really appreciate your feedback and interest in this feature.

We

[2021-05-05 13:31] #74555 closed

[2021-05-05 13:32] kristyler commented on #74586
We have a Python script that goes out to the USPS.com service to standardize addresses from a list we imported from our on prem database. The Azure function times out at 230 seconds, so we’re attempting a durable function to do it.

It’s a POST call? Where is that instruction?

Kris Tyler
Data Analyst
2321 N Loop Dr, Ste 220, Ames, IA, 50010
O: (515) 817-2143
LandusCooperative.com  |  ***@***.***

[2021-05-05 13:34] jinzejian opened #74834 "Routing issue in the document"
[Enter feedback here]

For this scenario: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#restrict-egress-traffic-using-azure-firewall
![image](https://user-images.githubusercontent.com/45956156/117148458-ce4b6e80-ade8-11eb-98d4-d5a1e8fbd40c.png)

There will be routing issue:
Consider inbound traffic, after DNAT, the destination IP is ELB's public IP, but when AKS node send reply t

[2021-05-05 13:58] fearofweapons opened #74835 "MySQL Link error"
The link given to download MySQL 5.7.20 is incorrect.

The correct one is - https://downloads.mysql.com/archives/get/p/25/file/mysql-installer-community-5.7.20.0.msi

Or for the latest version - https://downloads.mysql.com/archives/get/p/25/file/mysql-installer-community-8.0.23.0.msi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-05-05 14:04] JackCaster opened #74836 "`env.docker.enabled = True` deprecated"
The [doc](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#enable-docker) instructs to use a command that has been deprecated. Setting `env.docker.enabled = True` returns
[code]
Would you be able to update the documentation accordingly? The instructions [here](https://github.com/Azure/AzureML-Containers) may require update also.
---
#### Document Details

⚠ *Do not e

[2021-05-05 14:05] juliakm commented on #72840
Thanks @enqueue for the great tip! I'm updating the article now.

[2021-05-05 14:09] Bulma-ux commented on #61420
An uknown error occurred while updating your IoT hub. Error Report: Endpoint Count exceeded, ActualCount: 2, MaxAllowedCount: 1. If you contact a support representative please include this correlation identifier: 7c026d87-a40f-464c-b1c6-9e171e067ae4, timestamp: 2021-05-05 14:02:06Z, errorcode: IH400106.
I am using one endpoint.Can you help me?

[2021-05-05 14:10] Bulma-ux commented on #61420
@AshokPeddakotla-MSFT

[2021-05-05 14:12] #72782 closed

[2021-05-05 14:15] #72840 closed

[2021-05-05 14:18] juliakm commented on #72601
Thank you @arcturusInk! I'm pushing an update now.

[2021-05-05 14:22] GitaraniSharma-MSFT commented on #74508
@hansmbakker , below is the update from the Product group team on this query:

Both mechanisms are acceptable however the value (GUID) sent in **X-Azure-FDID** is unique to the customers’ AFD instance and is much more difficult to discover.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-05-05 14:22] #74508 closed

[2021-05-05 14:23] JackCaster opened #74837 "Add instructions to modify curated environment"
I would like to add some packages to a curated environment---to avoid installing all those deps that are already taken care of. For example, I did
[code]

and then tried to add a pip package
[code]

but got the error
[code]

How would you suggest to proceed? Would it be possible to add some instructions in the doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-05 14:28] #72601 closed

[2021-05-05 14:31] IsaacRoitman opened #74838 "Links broken"
Links to ARM templates don't work, 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39848b5b-77c2-7fbb-930e-0550d48c564b
* Version Independent ID: a3f4d15c-6f1d-f77d-793c-454a5537e897
* Content: [Azure Resource Manager templates - Azure SQL Database & SQL Managed Instance - Azure SQL Database](https://docs.micr

[2021-05-05 14:35] JackCaster opened #74839 "Different deps in Pytorch environments"
One of the curated env is `AzureML-Pytorch1.7-Cuda11-OpenMpi4.1.0-py36`, but there are other curated envs that are not listed in this page. For example, we also have `AzureML-PyTorch-1.6-GPU`. I thought they were sort of the same but I realized this latter does not have `cudatoolkit` for example, which I think it's one of the main requirements. Is this by design? If we create a new env, shall we i

[2021-05-05 14:37] Molx32 opened #74841 "No pricing information"
Hello,

This page may include that Exchange and SharePoint logs can be connected to Azure Sentinel at no cost, as detailed [here](https://azure.microsoft.com/en-us/pricing/details/azure-sentinel/). However, I didn't find any information on Microsoft docs (nor pricing page) regarding Teams billing. I guess it is not free of charges. Anyone could confirm ?

Thanks !

---
#### Document Details

⚠ *Do

[2021-05-05 14:39] AstonPrograms opened #74842 "Couple of typos"
Using autofs to automatically mount the Azure file share(s)
-----------------------------------------------------------------
echo "$fileShareName -fstype=cifs,credentials=$smbCredentialFile :$smbPath"" > /etc/auto.fileshares
^ This line contains two double quotations marks in a row

cd /fileshares/$filesharename
^ this should be $fileShareName

---
#### Document Details

⚠ *Do not edit this secti

[2021-05-05 14:45] RSEEGATZ opened #74843 "Roles you can't manage in Privileged Identity Management"
[Enter feedback here]
Do we have an update to note "We are working with those teams to fix the issues" (May 2020)?

Note
Eligible users for the SharePoint administrator role, the Device administrator role,
and any roles trying to access the Microsoft Security and Compliance Center might experience delays of up to a few hours after activating their role.
We are working with those teams to fix the i

[2021-05-05 14:47] SvenAelterman opened #74844 "Descriptions of resultType and resultSignature are incomplete and possibly reversed?"
The doc states that resultType is the "result of the sign-in operation can be Success or Failure" and resultSignature "contains the error code, if any, for the sign-in operation."

Based on the sample provided in the docs and what's observed in actual logs, it seems like those two descriptions might be reversed. Also, resultSignature contains "None."

Nowhere do we see "Success" or "Failure" in th

[2021-05-05 14:51] JamesTran-MSFT commented on #74824
@teomonda
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 14:52] JamesTran-MSFT commented on #74825
@teomonda
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 14:54] JamesTran-MSFT commented on #74830
@MariusWeiss
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 14:55] Klaas- opened #74845 "Swap/resource disk creation"
Hi,
using the provided sample
[code]

1) ephemeral0.1 /mnt
will lead to a /mnt resource disk with ext4 instead of the recommended xfs on RHEL systems (the other filesystems are also xfs in the byos/payg images).
I could get that working by changing the 0.1 device like this:
[code]
I am not sure if you always need overwrite, I did not try to use ext4.

2) ephemeral0.2 swap
when using the swap like

[2021-05-05 14:55] JamesTran-MSFT commented on #74843
@RSEEGATZ
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 14:57] JamesTran-MSFT commented on #74844
@SvenAelterman
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-05 15:05] SumanthMarigowda commented on #74842
@AstonPrograms  Thanks for the question! We are investigating and will update you shortly.

[2021-05-05 15:10] KranthiPakala-MSFT commented on #74776
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-05 15:10] #74776 closed

[2021-05-05 15:11] KranthiPakala-MSFT commented on #74718
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-05 15:11] #74718 closed

[2021-05-05 15:22] zr-msft commented on #40618
Thank you @izzymsft for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-05-05 15:22] MicrosoftGuyJFlo commented on #44015
#reassign:MicrosoftGuyJFlo For more information see https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#license-requirements #please-close

[2021-05-05 15:22] #44015 closed

[2021-05-05 15:25] robinsh commented on #71461
Please close this issue.#please-close

[2021-05-05 15:25] #71461 closed

[2021-05-05 15:25] MicrosoftGuyJFlo commented on #58689
#reassign:MicrosoftGuyJFlo Covered in the policy configuration doc https://docs.microsoft.com/azure/active-directory/identity-protection/howto-identity-protection-configure-risk-policies #please-close

[2021-05-05 15:25] #58689 closed

[2021-05-05 15:27] JamesTran-MSFT commented on #74697
@codemaker
I just wanted to check in and see if you had any other questions? Otherwise, I'll go ahead and close out this thread at the end of the day pending anything from your end.

Thank you!

[2021-05-05 15:29] MicrosoftGuyJFlo commented on #60989
#reassign:MicrosoftGuyJFlo The SSPR Docs explain how to target a specific group. https://docs.microsoft.com/azure/active-directory/authentication/tutorial-enable-sspr#enable-self-service-password-reset #please-close

[2021-05-05 15:29] MicrosoftGuyJFlo commented on #13350
#please-close

[2021-05-05 15:29] #13350 closed

[2021-05-05 15:32] mimckitt commented on #74794
@jaredchia good catch! We recently moved a bunch of articles and this is an example of ones that apply to both OS versions even though we call out Linux and Windows. I will push an update now.

[2021-05-05 15:32] #74794 closed

[2021-05-05 15:33] MicrosoftGuyJFlo commented on #61115
#reassign:MicrosoftGuyJFlo Part of the maintenance of the account is password hygiene. This is covered in the doc https://docs.microsoft.com/azure/active-directory/roles/security-emergency-access#validate-accounts-regularly #please-close

[2021-05-05 15:33] #61115 closed

[2021-05-05 15:47] MicrosoftGuyJFlo commented on #65345
#reassign:MicrosoftGuyJFlo Exclusions are not available in security defaults so these procedures would not apply. This is something you should be aware of if you are using security defaults. #please-close

[2021-05-05 15:47] #65345 closed

[2021-05-05 15:49] MicrosoftGuyJFlo commented on #74830
#reassign:MicrosoftGuyJFlo Exclusions are not available in security defaults so these procedures would not apply. This is something you should be aware of if you are using security defaults. #please-close

[2021-05-05 15:49] #74830 closed

[2021-05-05 15:57] MicrosoftGuyJFlo commented on #59154
@vladvino Can you please take a look at this? Article is lacking definition of entity and service and what the differences are.

[2021-05-05 15:58] JamesTran-MSFT commented on #74753
@Ozzian
Thank you for the quick response!

Looking through the documentation, I believe I see what you're talking about. I'll post my understanding below so we can be on the same page.

[Give Key Vault access to your storage account:](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys#give-key-vault-access-to-your-storage-account)
`az role assignment create --role "Stor

[2021-05-05 16:03] mimergel opened #74849 "How to handle Gen2 VMs?"
Hi, please find my issue below.
Can you please add to the documentation the procedure for Gen2?
Thanks,
Michael

az image create -g RG-HANA-HDB --source hanatemplateredhat8 --name RHEL8-SAP-HANA-Image
**(InvalidParameter) The Input HyperVGeneration property: 'V1' does not match with the HyperVGeneration property: 'Gen2' belonging to source: 'sourceVirtualMachine'.**

---
#### Document Details

⚠ *

[2021-05-05 16:03] MicrosoftGuyJFlo commented on #52655
#reassign:MicrosoftGuyJFlo Azure AD is licensed per user as discussed in the documentation https://azure.microsoft.com/pricing/details/active-directory/. Conditional Access requires Azure AD Premium P1 or P2 licenses. #please-close

[2021-05-05 16:03] #52655 closed

[2021-05-05 16:04] vladvino commented on #59154
By service we mean top level resource corresponding to Azure API Management service. Entities are resources within the service such as APIs, policies, products, etc. @dlepow would you mind adding this issue to the backlog. Some information is already in the first paragraph but could definitely be expanded upon.

[2021-05-05 16:06] Oury-MSFT commented on #74838
@IsaacRoitman Thank you for your feedback. We are looking into this issue and will get back to you.

[2021-05-05 16:07] saachigopal commented on #74837
We recommend using the clone method to copy and rename the curated environment and then adding the new dependencies. The doc will be updated, thanks.

[2021-05-05 16:08] MicrosoftGuyJFlo commented on #62683
#reassign:MicrosoftGuyJFlo #please-close

[2021-05-05 16:08] #62683 closed

[2021-05-05 16:10] Oury-MSFT commented on #74838
@jovanpop-msft Please see customer feedback. The links in the [Azure Resource Manager Templates - Azure SQL Database & Managed Instance - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/arm-templates-content-guide?tabs=single-database) landed to a 404 page error. Could you please help update with the correct links. I highlighted the links below. Thanks
![image](https:

[2021-05-05 16:14] HarshitaSingh-MSFT commented on #74601
Debian 8 reached almost in stale state. We may remove that whole section soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-05 16:14] #74601 closed

[2021-05-05 16:29] RyanHill-MSFT commented on #74415
We will now proceed to close this thread. Please do reach out via the email address above or comment and tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-05 16:31] NavtejSaini-MSFT commented on #74675
@ciph3rwoman Please let us know if you need further help.

[2021-05-05 16:34] bandersmsft commented on #74727
@spanky11 Closing this issue. If you can point out specifically what's inaccurate in the current article, I'm happy to update.
#please-close

[2021-05-05 16:34] #74727 closed

[2021-05-05 16:39] kkfrosty commented on #50547
ipValidated is a named value and for this purposes was intended to be a secret value.  Whatever value you want to use.

In the if condition, it validates if the origin IP address calling into app gateway is stored in the allowed cidr you defined

If so we return the secret value stored in ipValidated which is then used in check-header.   That secret gets set in the header via if condition above an

[2021-05-05 16:41] cynthn commented on #74849
@mimergel Thanks for the feedback! I've added a line to the "Note" in the article with the parameter to add for a gen 2 VM image and a link to the gen 2 doc that lists more information about what is supported for gen 2. Should be live later today :)

#assign @cynthn
#please-close

[2021-05-05 16:41] #74849 closed

[2021-05-05 16:42] ThomasWeiss commented on #74814
@MS-jeremy Thanks for your feedback. Can you elaborate on the issues you're seeing?

[2021-05-05 16:43] dckfnuance commented on #74718
In the following doc, it mentions that dedicated and serverless SQL pool isn’t deployed in the Managed workspace Virtual Network.
https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-managed-private-endpoints#managed-private-endpoints-for-dedicated-sql-pool-and-serverless-sql-pool

In this case, how can external table in dedicated or serverless SQL pool connect to a

[2021-05-05 16:44] BharathNimmala-MSFT commented on #74835
@fearofweapons Thank you for reaching to us with your feedback. Trying to understand what issue you are seeing with the below download link ?

https://dev.mysql.com/get/Downloads/MySQLInstaller/mysql-installer-community-5.7.20.0.msi

I see both the links are giving the same msi

![image](https://user-images.githubusercontent.com/45180002/117177838-4e8cb800-ad86-11eb-9730-490342829daa.png)

Trying

[2021-05-05 16:46] aramase opened #74850 "wrong resource group flag in the csi-secrets-store addon docs"
The command to enable addons has the wrong resource group flag:

[code]

should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36c-7456-70accfe452c2
* Content: [Use the Secrets Store CSI driver for Azure Kubernetes Service secrets

[2021-05-05 16:46] aramase commented on #74850
cc @miwithro

[2021-05-05 16:46] martinjt commented on #11755
Disappointing there is no update on this... is it possibly fixed in .NET 5 functions?

[2021-05-05 16:55] MonikaReddy-MSFT commented on #74527
@DavidBerg-MSFT  - Thank you for providing your insights.
@CHDAFNI-MSFT - I hope @DavidBerg-MSFT  has answered your question.
At this moment, We have added in our backlog and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-05 16:55] #74527 closed

[2021-05-05 17:01] JamesTran-MSFT commented on #74788
@BrendanHere
Thank you for your time and patience!

I was able to find another issue where this might be a typo, and I also checked in with my team regarding this. However, I'll assign this issue to the author to investigate and update the docs as needed.

Additionally, I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

If you have any

[2021-05-05 17:03] JackCaster commented on #74837
Thanks. Looking forward to the instructions!

[2021-05-05 17:09] MonikaReddy-MSFT commented on #74850
@aramase - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-05 17:10] MonikaReddy-MSFT commented on #74831
@renaudallard -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-05 17:16] #74815 closed

[2021-05-05 17:16] #74850 closed

[2021-05-05 17:17] kostrse commented on #72067
@SumanthMarigowda  reopen the issue and update documentation

[2021-05-05 17:18] YutongTie-MSFT commented on #74836
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-05 17:19] YutongTie-MSFT commented on #74839
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-05 17:20] JamesTran-MSFT commented on #74824
@teomonda
Thank you for pointing this out! Looking at all the links you provided this does seem a bit confusing, since our documentation mentions a license only for the tenant. However, the specific note you mentioned is referring to user specific licensing.

[Compare editions and features:](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-licensing#compare-editi

[2021-05-05 17:20] JamesTran-MSFT commented on #74825
Working on this issue within https://github.com/MicrosoftDocs/azure-docs/issues/74824

[2021-05-05 17:20] #74825 closed

[2021-05-05 17:20] YutongTie-MSFT commented on #74837
@saachigopal Hello Saachi, do you have a backlog item for this or you need to keep this opening for tracking? Thanks.

[2021-05-05 17:21] himanshusinha-msft commented on #74826
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-05-05 17:27] ipmb commented on #61627
I'm doing this to catch an IP change on deployment, but I'm concerned that a maintenance event outside of our control could also change the IP.

[code]

[2021-05-05 17:27] MarileeTurscak-MSFT commented on #74765
Thank you. Since you created two issues I assigned the other issue to the author. https://github.com/MicrosoftDocs/azure-docs/issues/74766

Closing this one out.

[2021-05-05 17:27] #74765 closed

[2021-05-05 17:31] JamesTran-MSFT commented on #74843
@RSEEGATZ
Thank you for following up on the note! I've reached out to the author to see if we have any updates on this.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-05-05 17:45] bandersmsft commented on #74394
https://github.com/MicrosoftDocs/azure-docs-pr/pull/157385

[2021-05-05 18:01] bandersmsft commented on #74394
@coverprice You're right. We weren't a clear as we should have been about multi tenancy. In short, subscription multi tenancy is not currently possible. However, an MCA subscription's billing ownership can be *linked* to another directory with a billing ownership transfer (not moved). I updated both articles for additional clarity. Here are the updates:

https://docs.microsoft.com/en-us/azure/cost

[2021-05-05 18:01] #74394 closed

[2021-05-05 18:08] BobaBrett opened #74853 "DHE Cipher Compatibility Issues"
There is a known issue with the DHE Ciphers listed for TLS 1.2 Support:

TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
Source: docs.microsoft.com/en-US/troubleshoot/windows-server/identity/apps-forcibly-closed-tls-connection-errors

This issue was never fixed in 2012 R2 and earlier (which I believe these Ciphers are designed to be backwards compatible with

The ECDHE ciph

[2021-05-05 18:41] rufioIK708 opened #74855 "Service dependencies for Teams"
This article details that EXO and SPO are subject to early bound enforcement, but does not mention Skype for Business Online.  If for instance, someone wanted to block all 365 services unless they are at a trusted location, but exclude Teams from that policy, they would also have to exclude EXO SPO and S4B

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-05-05 18:41] jlichwa commented on #74753
@Ozzian I think it is important to understand that Key Vault is a multi tenant service (shared across all customers). So you are giving access to service running on Azure ability to manage keys.

[2021-05-05 18:43] spelluru commented on #74821
@JayaChatterjee-MSFT - Discussed with Ashish today. The statement needs to be removed. Could you update the article and submit a PR? Thanks.

[2021-05-05 18:43] josuvil opened #74856 "MFA Conditional Access Policies may block the Azure AD Connector Account from authenticating"
There are scenarios where customers are enforcing user-level MFA to all users on AAD. In this scenario, the Azure AD Connect account is also targeted. It forces the AAD Connect Wizard to prompt for the SYNC_XXX password which is unknown and should not prompt. If there is a pre-existing CA rule in place for all users requiring MFA, the AAD Connector account will also be challenged for MFA. I sugges

[2021-05-05 18:49] aachueva opened #74857 "Link to the blog doesnt work throwing 404 error"
![image](https://user-images.githubusercontent.com/79183421/117235194-e4d2e380-ae43-11eb-9323-5d02ee96e7d7.png)

![image](https://user-images.githubusercontent.com/79183421/117235241-fae0a400-ae43-11eb-93dd-6bbaa254e7ee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edea4704-122e-776f-0050-4dc95a666b1f
* Version I

[2021-05-05 18:59] Oury-MSFT commented on #74774
@j-patrick Please see customer feedback above. Can we replace HttpClient httpClient =new HttpClient(); to using HttpClient httpClient = new HttpClient();

![image](https://user-images.githubusercontent.com/78940872/117191643-a54dbe00-ad95-11eb-84d6-6a7ac8aa57b9.png)

[2021-05-05 19:06] Karishma-Tiwari-MSFT commented on #74834
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-05 19:07] BrendanHere commented on #74788
Fantastic. Thank you for the rapid turnaround.

I definitely don’t want to disable that security feature, and it is disconcerting that it’s authored in that way.

Thank you,
Brendan

From: James Tran-MSFT ***@***.***>
Sent: Wednesday, May 5, 2021 1:02 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Brendan Mütz ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Why the rec

[2021-05-05 19:08] #74792 closed

[2021-05-05 19:08] #74399 closed

[2021-05-05 19:09] AjayKumar-MSFT commented on #74483
@laughingman42,  We will close this out, but if you feel you need more information please just let us (@shashishailaj) know.

[2021-05-05 19:09] #74483 closed

[2021-05-05 19:14] aliuy commented on #67188
Please assign to @gahl-levy

[2021-05-05 19:15] JamesTran-MSFT commented on #74855
@rufioIK708
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-05 19:16] aliuy commented on #67224
Please assign to @manishmsfte

[2021-05-05 19:16] JamesTran-MSFT commented on #74856
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 19:17] aliuy commented on #71216
Please assign to @gahl-levy

[2021-05-05 19:18] aliuy commented on #72267
Please assign to @StefArroyo

[2021-05-05 19:18] aliuy commented on #71924
Please assign to @StefArroyo

[2021-05-05 19:19] aliuy commented on #73992
Please assign to @ThomasWeiss

[2021-05-05 19:20] aliuy commented on #73280
Please assign to @ThomasWeiss

[2021-05-05 19:21] aliuy commented on #73829
Please assign to @StefArroyo

[2021-05-05 19:24] billmath commented on #57209
@msilinda
Thank for submitting this.  I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details.  I am not sure what the timeline will be, so I am going to close this for now.  But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:24] #57209 closed

[2021-05-05 19:24] rolyon commented on #48391
#reassign:rolyon

[2021-05-05 19:26] billmath commented on #62729
@kennethvs

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:26] #62729 closed

[2021-05-05 19:28] billmath commented on #63902
@SnyquistBG

Thanks for catching this.  This page has been corrected.

Thanks!

Bill

#please-close

[2021-05-05 19:28] #63902 closed

[2021-05-05 19:28] rolyon commented on #52335
#reassign:rolyon

[2021-05-05 19:29] billmath commented on #55986
Edge has been added to this page.

Thanks!

Bill

#please-close

[2021-05-05 19:29] #55986 closed

[2021-05-05 19:34] billmath commented on #53838
@cnadler-MSFT

Thank you for your issue submission. Unfortunately, this appears to be a problem with the cmdlt and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackover

[2021-05-05 19:34] #53838 closed

[2021-05-05 19:38] billmath commented on #56031
Thank you for your issue submission. Unfortunately, this appears to be a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

#please-cl

[2021-05-05 19:38] #56031 closed

[2021-05-05 19:41] billmath commented on #53493
@DeanGross

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:41] #53493 closed

[2021-05-05 19:43] billmath commented on #53819
@HoCGeek

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:43] #53819 closed

[2021-05-05 19:43] dombat opened #74858 "Where are the states in the example JSON?"
In the JSON example on this page, there are no families with states, but in the output two states are listed. Where have they come from?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bce15163-bc07-8c3a-5ac6-3de981d8f241
* Version Independent ID: 68cbf071-be2a-9474-2cfc-5b8121e7f1db
* Content: [FR

[2021-05-05 19:44] billmath commented on #53899
@rstamp

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:44] #53899 closed

[2021-05-05 19:44] rolyon commented on #54335
#reassign:rolyon

[2021-05-05 19:45] dckfnuance opened #74859 "Can external tables connect to ADLS private endpoint?"
I am able to create a linked service to a storage account using managed private endpoint and have Synapse pipeline use that linked service. However, can an external table from either serverless or dedicated sql pool connect to a storage account using private endpoint? If so, how can this be done? Right now, my external table will only work if the storage account has option "Allow trusted microsoft

[2021-05-05 19:45] billmath commented on #53732
@NileshGhodekar

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:45] #53732 closed

[2021-05-05 19:47] billmath commented on #54287
@thenewblacknz

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:47] #54287 closed

[2021-05-05 19:51] mike-urnun-msft commented on #74635
@kendallroden Thank you for reporting this issue and helping us drive improvements towards MS Docs!

The link is now fixed: https://github.com/MicrosoftDocs/azure-docs/commit/f7d31cef0f8ca570ea949be87b92cb7b0404ad74#diff-b2ae6a49686bd3b702bcb92e031cc2c7e7f83ae325bdc4595e1bfb8450aeca1b

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it

[2021-05-05 19:51] #74635 closed

[2021-05-05 19:51] benCoomes opened #74860 "No documentation on how to use SAS tokens with Tables API"
Your documentation states:

However, I have been unable to find any working examples of how to use SAS tokens with Cosmos Tables API. I would expect to be able to generate and use SAS tokens in the same way that I can with an Azure Storage Table, but this is not the case. Instead, the Cosmos Tables SDK for .NET (Microsoft.Azure.Cosmos.Table) throws an exception when attempting to use a token. The

[2021-05-05 19:52] billmath commented on #54426
@jonwbstr

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

In the interim there is a good troubleshooting article here:  https://docs.microsoft

[2021-05-05 19:52] #54426 closed

[2021-05-05 19:53] rolyon commented on #64532
#reassign:rolyon

[2021-05-05 19:53] billmath commented on #53424
@premgan
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:53] #53424 closed

[2021-05-05 19:55] rolyon commented on #62724
#reassign:rolyon

[2021-05-05 19:55] billmath commented on #54198
@matthiasguentert

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-05 19:55] #54198 closed

[2021-05-05 19:56] teomonda commented on #74824
thank you for the quick reply, James! looking forward to hearing from you!

[2021-05-05 19:59] rolyon commented on #57508
#reassign:rolyon

[2021-05-05 20:01] rolyon commented on #57485
#reassign:rolyon

[2021-05-05 20:03] rolyon commented on #56125
#reassign:rolyon

[2021-05-05 20:05] rolyon commented on #62065
#reassign:rolyon

[2021-05-05 20:06] crisansou commented on #73895
Hi guys,

Any updates?

[2021-05-05 20:08] rolyon commented on #61601
#reassign:rolyon

[2021-05-05 20:09] SatishBoddu-MSFT commented on #74828
Hello @dhingradeepanshu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-05 20:13] cinthiatengan opened #74861 "get existing tags from custom vision"
Hi everyone!
I'm working with python sdk and really having a hard time trying to get all the existing tags in my project from custom vision, to put them in a list. Does anyone have any idea how to do this? to get this tags?

[2021-05-05 20:16] curtand commented on #54020
Hi @solarfusionuk
Thanks for your feedback! I have amended the article to say that the admin SHOULD set the usage location.

#please-close

[2021-05-05 20:16] #54020 closed

[2021-05-05 20:19] afield1235 commented on #74022
@JamesTran-MSFT
Just in case anyone else has this issue. The solution to do delete all your policies and start over from Scratch!! Thanks for the poor solution Microsoft...I guess nothing is built to last. Everytime you make a change it ones step forward and two steps back.

[2021-05-05 20:21] afield1235 opened #74862 "Unable to login with Domain User to Bastion connected VM #74017"
Opening a new ticket since you are ignoring the other one.

We have Azure AD and Azure AD Domain Services. We set up a VM and added a Bastion for access. I can login fine with the local admin and the Domain administrator account (vdiadmin@domain.com from AADDS) but when I try logging in as any other domain user (user@domain.com) I get an error it can't connect. The user has all the required roles:

[2021-05-05 20:24] grayjeremy opened #74863 "Container Download"
Can we document whether the On-premises data gateway is available to run as a container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc58ee8d-9650-6a07-8740-e10bf9dc12af
* Version Independent ID: ca47ad42-0033-3b26-f7ac-6fb32c3ff8d6
* Content: [Install On-premises data gateway for Azure Analysis Services](https://do

[2021-05-05 20:27] curtand commented on #54325
Hi @DeanGross
This is fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/157422. the sacreen =was out of date and not needed to make the point, so I removed it.

#please-close

[2021-05-05 20:27] #54325 closed

[2021-05-05 20:33] curtand commented on #55060
Hi @Torxsmind
Thanks for the feedback! I think it is documented: "A weekly Privileged Identity Management summary email for Azure AD roles is sent to Privileged Role Administrators, Security Administrators, and Global Administrators that have enabled Privileged Identity Management...It is only available for Azure AD organizations on the public cloud."

#please-close

[2021-05-05 20:33] #55060 closed

[2021-05-05 20:43] mekr commented on #63288
The same is here. We have a lot of applications under "Default Web Site". I tried the pattern for VirtualPathFilter mentioned in the documentation to instrument one of them, without any success.

Let's assume the following:
- app1
  - app name: app1
  - technology: asp.net fw4.7
  - app pool: default
  - physical path: c:\inetpub\wwwroot\app1
  - virtual path: /app1
- foo
  - app name: foo
  - tec

[2021-05-05 20:43] austinbailey opened #74864 "Documentation invalid for new implementations"
This document is no longer valid for new implementations of Greenhouse. Custom domain names no longer supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9b260cc-3e08-e2a0-b478-30a745cd2c97
* Version Independent ID: 5f7d594b-b6ec-cee2-9a8c-d2e6e9c4783b
* Content: [Tutorial: Azure Active Directory integration wit

[2021-05-05 20:50] aahill commented on #73904
Thanks for bringing this issue, I've raised the issue with the LUIS team and will update the documentation accordingly.

#please-close

[2021-05-05 20:50] #73904 closed

[2021-05-05 20:51] curtand commented on #57956
Hi @harp365
Thanks for your feedback! The point here is that to be compliant with Microsoft licensing requirements you have to POSSESS the correct number of licenses for the members of all groups to which the expiration policy is applied, but you don't have to ASSIGN the licenses to those users to be compliant. I hope this helps. This is true in many place in Azure, which often does not enforce li

[2021-05-05 20:51] #57956 closed

[2021-05-05 20:52] curtand commented on #57958
#reassign:rolyon

[2021-05-05 20:56] bandersmsft commented on #74819
@thommck Hi there. The experience works with *any* role, as the article states. So for your example, Global Reader will work. Write permissions aren't needed.
#please-close

[2021-05-05 20:56] #74819 closed

[2021-05-05 20:57] bandersmsft commented on #74751
#please-close

[2021-05-05 20:57] #74751 closed

[2021-05-05 21:16] MarileeTurscak-MSFT commented on #74105
Thank you! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157435

[2021-05-05 21:16] #74105 closed

[2021-05-05 21:18] MarileeTurscak-MSFT commented on #73661
Thank you. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157436

CC @kenwith

[2021-05-05 21:18] #73661 closed

[2021-05-05 21:34] JamesTran-MSFT commented on #74864
@austinbailey
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-05 21:36] mike-urnun-msft commented on #74322
Hello @adamkimsft - Thank you for reporting this issue and helping us drive improvements toward MS Docs!

I have created a PR that updates the doc as per the recurrence schedule that aligns with the polling capacity that's supported by the Twitter connector, and the changes will be live shortly after the approval & merging steps of the PR. We will now proceed to close this thread. If there are fur

[2021-05-05 21:36] #74322 closed

[2021-05-05 21:37] JamesTran-MSFT commented on #74770
@v-videba
Thank you for pointing this out! I worked with the author who updated the broken link, therefore I'll go ahead and close out this issue.

Please allow some time for the changes to reflect.
Thank you for your time and patience!

[2021-05-05 21:37] #74770 closed

[2021-05-05 21:38] JamesTran-MSFT commented on #74856
@josuvil
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-05 21:40] MarkusVi commented on #60710
I have updated the article.

#please-close

[2021-05-05 21:40] #60710 closed

[2021-05-05 21:49] MarkusVi commented on #59241
I have created a backlog item to track this.

#please-close

[2021-05-05 21:49] #59241 closed

[2021-05-05 21:53] YutongTie-MSFT commented on #73895
@crisansou Sorry for the late response. I am contacting the author for next step and will let you know.

[2021-05-05 21:54] MarkusVi commented on #72550
The article has been retired.

#please-close

[2021-05-05 21:54] #72550 closed

[2021-05-05 21:55] crisansou commented on #73895
Hi @YutongTie-MSFT ,

Ok, thank you!

[2021-05-05 22:06] robinsh commented on #73486
#reassign wesley mcswain

[2021-05-05 22:06] PRMerger9 commented on #73486
wesley is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-05 22:07] kmkelly2015 opened #74866 "Is this coming to the VWAN P2S?"
Is this coming to the VWAN P2S?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff394c-0151-923b-643d-b8280bc79975
* Version Independent ID: e044d35d-664c-524f-6012-49e385bebf41
* Content: [Point-to-site VPN session management - Azure VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/p2s-session-manageme

[2021-05-05 22:16] robinsh commented on #73228
We are working on renaming all of repositories from master to main. This one is in the middle of process -- they have updated one of the involved repos but not the other. In the next few weeks, it will be fixed when they update the Azure-Samples repo to use the branch 'main'. The code is in the Azure-samples repository, but the article is on azure-docs-pr. In the meantime, you can continue to use

[2021-05-05 22:20] mullis623 opened #74867 "Support for Microsoft.Web Service Endpoint in Azure Government"
Documentation states that the Service Endpoint for Microsoft.Web is "Generally available in all Azure regions where App service is available."  However, Microsoft.Web is not listed as an option for Service Endpoints when creating or modifying a subnet from the portal.

![image](https://user-images.githubusercontent.com/30449394/117216784-47899800-adce-11eb-989f-d027c63812df.png)

Also, when you at

[2021-05-05 22:22] robinsh commented on #73486
#assign wesmc7777

[2021-05-05 22:25] v-steveadams commented on #74408
@jokoso Did you get the information you needed to understand the situation? (We're also adding related information to documentation.) If so, please close this issue. Thanks!

[2021-05-05 22:33] fedeesku1 opened #74868 "Quick Spelling Error, This page was super helpful"
This page was super helpful. Was reading it a million times. Noticed a spelling error if you guys want to fix it.
Egress Rules:
Third rule.
AllowBastionCommunication is missing the C.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb

[2021-05-05 22:35] MarkusVi commented on #52031
I have updated the article.

#please-close

[2021-05-05 22:35] #52031 closed

[2021-05-05 22:46] #74697 closed

[2021-05-05 22:50] xperiandri commented on #72845
The key setting is `AZURE_TENANT_ID`.
After I set it, it works even for guest users

[2021-05-05 23:04] MarkusVi commented on #56315
Missing required details.

#please-close

[2021-05-05 23:04] #56315 closed

[2021-05-05 23:25] wesmc7777 commented on #73486
@jinyanghuang @robinsh  Hi!

I looked over this and tested it myself.  This should work as documented. It worked for me.

The IoT Hub connection string should get converted to an event hub compatible connection string in this line of code - [event-hub-reader.js line#16](https://github.com/Azure-Samples/web-apps-node-iot-hub-data-visualization/blob/master/scripts/event-hub-reader.js#L16).

If it is

[2021-05-05 23:30] lgayhardt commented on #73608
Hi @SychevIgor sorry for the delay and thank you for catching that. I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1841437) to update the Usage Retention doc for this month's sprint. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-05-05 23:30] #73608 closed

[2021-05-05 23:31] lgayhardt commented on #73609
Hi @SychevIgor sorry for the delay and thank you for catching that. I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1841437) to update the Usage Impact doc for this month's sprint. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-05-05 23:31] #73609 closed

[2021-05-05 23:32] MarkusVi commented on #67525
I have updated the article.

#please-close

[2021-05-05 23:32] #67525 closed

[2021-05-05 23:36] robinsh commented on #72932
#74413 Can you provide an answer here?
Thx, @robinsh

[2021-05-05 23:37] MarkusVi commented on #71976
I have updated the article.

#please-close

[2021-05-05 23:37] #71976 closed

[2021-05-05 23:44] robinsh commented on #69174
I believe a device twin chnge event is triggered when the value of the device twin is changed. And a digital twin change event is triggered when the digital twin it changed.

[2021-05-05 23:49] LucianFrango opened #74871 "Details on data transfer fees associated with this pattern"
Hi team,
It would be good to include some reference to what the data transfer fee's would look like with this pattern.
Since there is two gateways and traffic 'physically' traverses over ER, what should the customer expect in terms of that egress data fee?

- Should that be one fee since traffic is going over ER?
- Should there be a double up since traffic is leaving the VNet via the VPN then over

[2021-05-05 23:52] MarkusVi commented on #66158
I have clarified this in the article.

#please-close

[2021-05-05 23:52] #66158 closed

[2021-05-06 00:00] hophanms commented on #72839
At this point, we won't be offering a Linux version. Please vote in the Uservoice community for this feature request.

#please-close

[2021-05-06 00:00] #72839 closed

[2021-05-06 00:02] rp-msft opened #74872 "SP roles"
The service principal option only covers creation step and helm parameter, it does not mention any permissions/roles to be added for resource groups/ App GW /AKS,. How does the SP get permissions since resource group is not being specified during creation time specially in scenarios where resource group is different for AKS and App Gw?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-05-06 00:05] robinsh commented on #73486
I hve no idea, this was a GH issue put in by a customer. If you say it works as written, I'll take your word for it. And I will update my local version of the sample. Thanks for both of you.

[2021-05-06 00:14] MarkusVi commented on #48871
The article is under investigation.
#please-close

[2021-05-06 00:14] #48871 closed

[2021-05-06 00:26] MarkusVi commented on #48560
The article is under investigation.

#please-close

[2021-05-06 00:26] #48560 closed

[2021-05-06 00:36] Grace-MacJones-MSFT commented on #74584
Hi @hbuckle , ASE V3 will have availability zone support at GA. The ASE has to be provisioned to be zone redundant. There are more details around this feature which will be covered in this doc in the near future.

We will close this out, but if you feel you need more information please just let us know.

[2021-05-06 00:36] #74584 closed

[2021-05-06 00:39] sokoloffmaks opened #74874 "Synchronized groups support"
Hi , please update documentation whether Synchronized groups supported or that is supported by cloud-only groups.
Also, can  you pls clarify whether PIM groups functionality supported if we nest AD groups into cloud groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b427c59d-d87e-7b8d-f197-fe5ed529f74c
* Version In

[2021-05-06 01:04] mrtypn commented on #63288
You can do that, but you need to create multiple AppPools.

Here is my short note:

Each Site must have its own AppPool​
Each Virtual Path must also have its own AppPool​
Sharing the AppPool will share the Instrumentation Key

The key point here is that you need to have  each AppPool for each Application Insights.

What happen if you share the same AppPool but using different keys?  AppInsights wi

[2021-05-06 01:09] yingqunpku commented on #73874
@anirbansaha96 Currently the exported model can't be used elsewhere yet. We're working on the container version of the new multivariate APIs which may be able to leverage those files in the future.

[2021-05-06 01:31] crisansou opened #74875 "Detect data drift shows differences when files are equal"
Hello,

I did a test comparing two equal datasets and the data drift showed differences between them as shown in the following figure.

Can you guys explain why this is happening, please? If two identical files are being compared, I understand that no difference should be displayed.

![image](https://user-images.githubusercontent.com/29444086/117227822-14570100-adee-11eb-8286-9b66059883cb.png)

Be

[2021-05-06 01:39] Karishma-Tiwari-MSFT commented on #74823
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-06 01:40] Karishma-Tiwari-MSFT commented on #74829
Thanks for bringing this to our attention. I have assigned the issue to the content author to investigate further and update the document as appropriate.

If you are interested in creating a PR, just wanted to share that doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Navigate to the page of

[2021-05-06 02:32] RyanHill-MSFT commented on #74832
Thanks for the feedback! I believe the statement is grammatically correct, however I've assigned this issue to the doc author @vhorne for their attention.

[2021-05-06 02:33] RyanHill-MSFT commented on #74841
Thanks for the question @Molx32! We are currently investigating and will update you shortly.

[2021-05-06 02:33] r-milne opened #74876 "Can We Remove Old Platforms?"
Hi folks,

Can we remove Windows 7 for example for the article due to end of support?

For IE11 -- will support end in August 2021 ?  Can that be linked?

Cheers,
Rhoderick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b

[2021-05-06 02:34] Frafou commented on #74832
Grammatically correct doesn’t always translate to easily understood.

Thanks for looking into it.

Sent from my phone
________________________________
From: Ryan Hill ***@***.***>
Sent: Wednesday, May 5, 2021 10:32:25 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Frank ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Correction (#74832)

Thanks for the feedback! I belie

[2021-05-06 02:34] RyanHill-MSFT commented on #74845
Thanks for the question @Klaas! We are currently investigating and will update you shortly.

[2021-05-06 02:39] RyanHill-MSFT commented on #74588
I see what you mean @ChrisSeitzinger and we appreciate the feedback. I've assigned the issue to the doc author for further evaluation and update as appropriate.

[2021-05-06 02:40] RyanHill-MSFT commented on #74853
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-06 02:51] CHEEKATLAPRADEEP-MSFT commented on #74857
@aachueva  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-06 02:52] CHEEKATLAPRADEEP-MSFT commented on #74859
@dckfnuance  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-05-06 02:59] jerryliangt opened #74878 "For Azure AD tenant, per user MFA is technically available. This caused confusion to our customer. It would be great to make it straight in the doc that per user mfa is not available in Azure AD Free tenant."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independent ID: da9dcdd2-70d4-e08e-18f2-6e6a1489937a
* Content: [Azure AD Multi-Factor Authentication versions and consumption plans](https://docs.microsoft.com/en-us/azure/active-directory/authentication

[2021-05-06 02:59] NavtejSaini-MSFT commented on #74858
@dombat We are checking this and will get back to you.

[2021-05-06 03:00] NavtejSaini-MSFT commented on #74860
@benCoomes We are checking and will get back to you.

[2021-05-06 03:05] CHEEKATLAPRADEEP-MSFT commented on #74863
@grayjeremy Unfortunately, you cannot install on-premises data gateway to run as a container.

For more details, review the requirements section in the [installation article](https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-install#requirements).

Hope this helps.

[2021-05-06 03:54] BhargaviAnnadevara-MSFT commented on #74868
@fedeesku1 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-06 04:03] BhargaviAnnadevara-MSFT commented on #74868
@fedeesku1 Are you sure the typo exists within [this](https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg) linked doc? I couldn't find it in the mentioned section. The third point mentioned in **Egress Traffic** section is this:

[2021-05-06 04:06] AjayKumar-MSFT commented on #74745
@ignaciofls, Just checking in to see if you have had a chance to see the previous response from dereklegenzoff. Kindly let us know if you need further assistance on this issue with the requested details.

[2021-05-06 04:11] btardif commented on #63610
@JasonFreeberg and @madsd can either of you chime in on this one.

[2021-05-06 04:45] JayaChatterjee-MSFT commented on #74861
Hello @cinthiatengan Please share the document link for which you have raised the issue.
Note: This channel is only for document related feedback and if you have any product question or product issues then please raise a concern with Microsoft Q&A platform.

[2021-05-06 04:50] TheDev6 opened #74880 "Simply Doesn't work. Cloned deployed, just get errors in azure."
Error occurred prerendering page "/project/[path]". Read more: https://err.sh/next.js/prerender-error
TypeError: Cannot read property 'path' of undefined
    at Function.module.exports.9V4V.Project.getInitialProps (/github/workspace/.next/server/pages/project/[path].js:187:30)
    at loadGetInitialProps (/github/workspace/node_modules/next/dist/next-server/lib/utils.js:5:101)
    at loadGetInitial

[2021-05-06 05:00] SnehaAgrawal-MSFT commented on #74614
@vussan We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-05-06 05:00] #74614 closed

[2021-05-06 05:30] yutaro113 commented on #74606
@GitaraniSharma-MSFT
Thanks for the confirmation and understand what "Not Recommended" means.
I thinks it's helpful and more understandable to have those explanation in this official doc instead of using "Not Recommended".
Kindly consider for the further doc improvement...!
Thank you!

[2021-05-06 05:32] GarySurati opened #74881 "Not enough details"
This document needs additional details. It's not easy to follow as there are not enough details for someone who is doing this for first time.

For example let's say this following paragraph from the document.

"By default, preferredDataLocation is not enabled for synchronization. This feature is intended for larger organizations. The Active Directory schema in Windows Server 2019 has an attribute

[2021-05-06 06:10] KalyanChanumolu-MSFT commented on #74713
@sindhuragade Technical support on GitHub is limited to documentation issues only.
Please post technical issues/questions on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) for better visibility

[2021-05-06 06:10] #74713 closed

[2021-05-06 06:12] kemurayama opened #74883 "Scenario 1 Hub VNET picture looks 10.0.0.0/16"
Hi,

Is the scenario 1 picture correct ?
Is Hub VNET intended to 10.0.0.0/16 ? Subnet for Azure FW is 10.0.0.0/24 but the VNET is 10.1.0.0/16.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4038a691-c584-2c36-24c5-fa91a5be474a
* Version Independent ID: c6bd0573-22ef-f1d5-5553-000bd8f8c1bd
* Content: [Use Azure Firewall

[2021-05-06 06:16] shashishailaj commented on #74533
@Nicholak-MS Thanks  This has been reviewed and merged .

[2021-05-06 06:16] #74533 closed

[2021-05-06 06:26] ram-msft commented on #74677
Thanks, @aahill Can you please help with this issue.

[2021-05-06 06:49] JerryMWeeks opened #74885 "Secret provided can not contain more than 120 characters. Please provide a valid credential."
[Enter feedback here]
The secret in your example is 142, and when I generate a shared secret it is 149.
Synapse current version installed about 3 weeks back

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f873d0f6-d930-d354-5da1-8fa698f77366
* Version Independent ID: 3feff33e-55c1-90a3-ba2f-c27a71a1316e
* Content: [Crea

[2021-05-06 06:58] psmanhas commented on #74401
@cuongdnv2307 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-06 06:58] #74401 closed

[2021-05-06 06:59] psmanhas commented on #74743
@alpkayaMSFT Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-06 06:59] #74743 closed

[2021-05-06 07:22] psmanhas commented on #74685
@ozbillwang As per documentation it refers to all version release of centOS 6,7 and 8 as per the system configuration you have.

You can check CentOS version you are running as below:

Open your terminal and type the following command:

`lsb_release -a`

You should get output as below:

![image](https://user-images.githubusercontent.com/35990743/117257683-cbdd2900-ae69-11eb-907a-c9818dfb063a.png)

[2021-05-06 07:30] CHEEKATLAPRADEEP-MSFT commented on #74885
@JerryMWeeks  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-05-06 07:42] YitianSusanLin opened #74886 "What is Edge Hub?"
In tutorial, the input and output of stream analytics job should select "edge hub". However, in my Azure Stream Analytics, there's no "edge hub". Is it referring to Event hub or IoT hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c6c2a4f-2979-8420-115c-852bee17e43b
* Version Independent ID: 01b5c8c0-4f08-53f7-7be7

[2021-05-06 07:46] guangying94 opened #74887 "Clearer description on limitation of Private Link with ADF"
With only private link enabled, the self hosted integration runtime will run in limited mode as it can't communicate with Azure Relay. Besides not able to perform interactive authoring, user will not be able to create linked service. Without linked service, user will not even able to create dataset and pipeline.

Suggest to call out customer will still need both private link for ADF, and whitelist

[2021-05-06 08:05] SancakOnu opened #74888 "Licence Question"
Hey,

do all users need the Azure AD P1/P2 licence to get the user activity or only the one who run the query?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-402f-f5d23c53d13a
* Content: [How to manage inactive user accounts in Azure AD](

[2021-05-06 08:12] mwucbs commented on #68891
@jeevansd I would like to enable my remote users ( without vpn) can access an on-premises website, and authenticate only to azure ad. but kerberos only works if you are on the internal network, and have a domain computer.
I dont see any option to enable remote users on byod, at home.

[2021-05-06 08:12] mekr commented on #63288
@mrtypn : based on your detailed explanation the situation is clear, tested, it works. Thanks!

[2021-05-06 08:23] JayaChatterjee-MSFT commented on #74862
Thank you for the question. We will review and get back to you.

[2021-05-06 08:28] JayaChatterjee-MSFT commented on #74866
@kmkelly2015 Thank you for the question. Could you please provide little more details?

[2021-05-06 08:37] kmkelly2015 commented on #74866
Hi @JayaChatterjee-MSFT

Will the Session management features be available in the VWAN P2S VPN as it is described here for the Vnet Gateway [docs](https://docs.microsoft.com/en-us/azure/vpn-gateway/p2s-session-management)

Currently there is no visibility of what users are connected on VWAN P2S VPN Connections

[2021-05-06 08:51] WiReFDS opened #74890 "File partitioning setting"
Hi,

After  following the steps in the site I got this error when Creating an Export:
"_Export creation failed.Request properties validation failed: PartitionData is currently only supported for GTM (modern) channel. Current channel is 'EA' (Request ID: <guid>)_"

And I cannot find the 'File partitioning for large datasets' setting which is mentioned on the page,
Can you add some more info for thi

[2021-05-06 08:55] HarshitaSingh-MSFT commented on #74888
Hello @SancakOnu , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-05-06 08:57] HarshitaSingh-MSFT commented on #74881
Hello @GarySurati , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-06 09:07] fearofweapons commented on #74835
Humm - I would swear that is not the link I was seeing yesterday - but I see there have been no commits to the page since 2020.

Please close as won't reproduce.

[2021-05-06 09:07] #74835 closed

[2021-05-06 09:08] fearofweapons commented on #74835
Won't reproduce.

[2021-05-06 09:21] AjayKumar-MSFT commented on #74867
@mullis623, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-06 09:21] DanielOverdevest commented on #67863
+1
We also experience problems with upgrading from Spark 2 -> Spark 3 in Databricks and MSSQL connector for bulk insterts.

[2021-05-06 09:23] klaas commented on #74845
👋🏻 It was @Klaas-

[2021-05-06 09:24] JayaChatterjee-MSFT commented on #74871
Thank you for the question. We will review and get back to you.

[2021-05-06 09:25] JayaChatterjee-MSFT commented on #74872
Thank you for the question. We will review and get back to you.

[2021-05-06 09:27] JayaChatterjee-MSFT commented on #74874
Thank you for your feedback! We will review and update as appropriate.

[2021-05-06 09:42] dgcaron opened #74891 "wrong provider type when using a managed identity in python for a linked service"
We are trying to connect to an ADLS Gen 2 account and we can connect to it using the managed identity of Synapse. However when we try to read data from that datalake we get a 403 (forbidden).

[code]

where (looking at the java example) this should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56d638cd-6592

[2021-05-06 09:54] sarah026 opened #74892 "Publishing APIs only"
Hi Team

It is not clear to me, whether we can publish 'APIs' only in the galary? Meaning without any cost model. So anyone who sees our APIs in the galary, can work with us on how to access our APIs, as we need to provide them with credentials.

Any thought on that or something you can add to the page, on publishing just APIs?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-05-06 10:09] JayaChatterjee-MSFT commented on #74821
Hello @spelluru thank you for the confirmation. I have created the PR. Could you please review and approve?

[2021-05-06 10:42] ram-msft commented on #74875
@crisansou Thanks for the question. We are investigating the issue and will update you shortly.

[2021-05-06 10:50] williamyinssw commented on #59837
Having the same issue today, **find-and-replace** policy doesn't work when response header is **Content-Encoding:br**

[2021-05-06 10:53] AjayKumar-MSFT commented on #74880
@TheDev6, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-06 11:10] KalyanChanumolu-MSFT commented on #74734
@shgoldbe This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-05-06 11:30] CHEEKATLAPRADEEP-MSFT commented on #74887
@guangying94 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the limitation of Private link with ADF.

[2021-05-06 11:31] CHEEKATLAPRADEEP-MSFT commented on #74891
@dgcaron Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/157524](https://github.com/MicrosoftDocs/azure-docs-pr/pull/157524)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-05-06 11:44] KaiWalter opened #74895 "Sub-Resource type incorrect for Microsoft.AppConfiguration/configurationStores"
for Microsoft.AppConfiguration/configurationStores the entry is incorrect
`Azure App Configuration (Microsoft.AppConfiguration/configurationStores) / configurationStore`

it needs to be
`Azure App Configuration (Microsoft.AppConfiguration/configurationStores) / configurationStores`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-05-06 11:54] shivtorov opened #74896 "dead link to TechNet Gallery"
There is a dead link to TechNet Gallery script in the section "How can I verify which devices are deleted with this update"
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-device-disappearance#how-can-i-verify-which-devices-are-deleted-with-this-update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-05-06 12:05] #74561 closed

[2021-05-06 12:05] SadiqhAhmed-MSFT commented on #74719
@tfitzmac Could you please share your inputs on this query?

[2021-05-06 12:21] v-amallick commented on #74542
@marc181982

Thank you for for posting your query.

The Cross Region Restore (CRR) feature allows you to restore Azure VMs in a secondary region, which is an Azure paired region.

Please refer to the following articles for detailed information:

- https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#cross-region-restore
- https://docs.microsoft.com/en-us/azure/backup/backup-s

[2021-05-06 12:23] yoelhor commented on #74696
There is a security concern about having dynamic hostname. So, we don’t have this feature coming up in the next while.

[2021-05-06 12:24] v-amallick commented on #74542
#please-close

[2021-05-06 12:24] #74542 closed

[2021-05-06 12:28] blacksheep-- commented on #74696
Thanks for getting back @yoelhor!

Okay, this is sad. Can somebody explain how one can switch different REST-Endpoints depending on the value of a claim then?

In my case, there are 3 systems: test.api.com, stage.api.com and live.api.com. I would really prefer to not have three different policies laying around that only really differ in hostnames.

[2021-05-06 12:40] timo395 opened #74899 "According to documentation scope is required for 'Refresh the access token'"
According to the documentation the field 'scope' is required for refreshing the access token. I have tested this and without it works. If I pick a scope outside the original scope I also don't get an error.
 Is it currently not required for backwards compatibility reasons? Might be a good idea to mention this somewhere then.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-05-06 12:43] yjin81 commented on #74787
Hey,

I am new to this area and need your help about a question.

We submitted the request to put the AWPS on Web when onboarding the ACOM. Later, when onboarding the marketplace, we found that this is separate from ACOM, and we could onboard on different places at the same time to help us attach with the customer. Therefore, we submitted to add AWPS to both Web and Integration in Marketplace. At

[2021-05-06 12:50] amanmcse commented on #74878
@jerryliangt Thank you for your feedback. I am updating the document as per your suggestion.

[2021-05-06 12:53] larryclaman commented on #73815
Kube-advisor references should also be removed from two other references in the Azure docs:

- https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-scheduler #73554
- https://docs.microsoft.com/en-us/azure/aks/kube-advisor-tool #73002

[2021-05-06 12:55] amanmcse commented on #74876
@r-milne Thank you for your feedback. We will review and update the thread further.

[2021-05-06 12:58] weyCC81 commented on #73196
I would be interested to!

[2021-05-06 12:59] #74878 closed

[2021-05-06 13:06] #74821 closed

[2021-05-06 13:15] codemaker commented on #74697
Thank you

[2021-05-06 13:18] erickuhn19 commented on #74595
@nikki-c we are in the process of removing the P2 license as a requirement. I don't have an ETA yet though.

[2021-05-06 13:24] nikki-c commented on #74595
Eric
Thanks for the update.

Can I just check whether Microsoft will be removing the requirement for P2 licences just for guest self access  or for the simple all guest reviews that are reviewed by the group/teams owners.

Thanks
Nikki

________________________________
From: Eric Kuhn ***@***.***>
Sent: 06 May 2021 14:19
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Nikki Chapple ***@***.***>; Men

[2021-05-06 13:27] LoW0lf opened #74900 "What is the default authentication mechanism from Event Grid against Azure Service Bus"
It is clearly documented how to setup Event Grid topics and subscriptions to use managed identities to deliver events to certain destination. But there is a crucial part missing that explains **what are the actual benefits in contrast to the default authentication (without MSI).** Of course the use of managed identities seems the proper and explicit solution here. But we need to understand how the

[2021-05-06 13:33] bryanwiggins opened #74901 "update allowed certificate authorities list, LetsEncrypt retired X3"
@adiun , the latest update that I have regarding this issue is related to the certificate CA.
Allowed certificate authorities for enabling custom HTTPS on Azure CDN : https://docs.microsoft.com/en-us/azure/cdn/cdn-troubleshoot-allowed-ca
This article only lists "Let's Encrypt Authority X3".  However, Let's Encrypt [has retired X3 and uses RSA (R3) now](https://letsencrypt.org/certificates/).

Coul

[2021-05-06 13:42] jokoso commented on #74408
Yes. Thank you.
// Jon

[2021-05-06 13:42] #74408 closed

[2021-05-06 13:43] erickuhn19 commented on #74595
@nikki-c I apologize, I responded to the wrong comment. I thought this was about the Azure AD Verifiable Credentials service. Please disregard my comment and I apologize for the confusion.

[2021-05-06 13:45] jjindrich opened #74902 "Azure Functions with KEDA HTTP trigger scaling using Azure Monitor scaler"
I'm trying to configure HTTP trigger scaling using KEDA. Following this https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda#how-kubernetes-based-functions-work

When I try to use Azure ServiceBus, it works. But I need to use Azure Monitor as trigger. I'm following this documentation https://keda.sh/docs/1.4/scalers/azure-monitor/

I try deploy this ScaledObject
[code]

[2021-05-06 13:50] jeevannagvekar opened #74903 "Not able to run ADU on Raspberry Pi Model 3B"
Hello team,

I am trying to update image on Raspberry PI 3B with help of the documentation @ https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-raspberry-pi. However it does not seem to work. My device IoT Device (not edge device).
Not sure what I am missing. Here are my doubts.
1. There is no mention of step to install/run device agent on R-PI device (Provisioning Device U

[2021-05-06 13:53] AndrevdG opened #74904 "Description of auto-rotation not clear to me"
At: https://docs.microsoft.com/en-us/azure/backup/encryption-at-rest-with-cmk#enabling-auto-rotation-of-encryption-keys, the text states: _When a new version of the key takes effect, the old version should also be available (in enabled state) for at least one subsequent backup job after the key update has taken effect_

I am not completely sure how to interpret this: for any backup item or for eve

[2021-05-06 13:56] RyanHill-MSFT commented on #74883
I would agree with you @kemurayama and thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-06 13:59] spelluru commented on #73187
We will track this via an internal work item. Thanks. #please-close

[2021-05-06 13:59] #73187 closed

[2021-05-06 14:01] barclayn commented on #74595
@nikki-c sorry for the confusion. I have no information about any changes in P2 requirements at this time. I am creating a work item for us to track your request internally.

[2021-05-06 14:03] RyanHill-MSFT commented on #74886
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-06 14:07] SwathiDhanwada-MSFT commented on #74433
@dan-tr  Thanks for sharing this information and apologies for late response.  I am checking this internally with the team and will update you on this.

[2021-05-06 14:08] MicrosoftGuyJFlo commented on #74855
@rufioIK708 This article is not a prescription to cover all scenarios but more a reminder that in circumstances like you mention, organizations must realize that there is more to apps today than one service. #please-close

[2021-05-06 14:08] #74855 closed

[2021-05-06 14:22] Duffney commented on #50904
I'm working to reproduce the error in Ansible 2.9 and 2.10 and will report back with my findings. :)

[2021-05-06 14:27] bandwiches commented on #74765
@MarileeTurscak-MSFT this is supposed to be 2 separate issues.

#74766 addresses the link in [this article](https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal)
#74765 addresses the contents of the article the article [here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-3rdparty-device-config-overview).

[2021-05-06 14:40] dinu12 commented on #74601
@HarshitaSingh-MSFT ,

As I mentioned in the original issue, I want to create Debian10 buster VHD image which can run in Azure Cloud VM.
I am not able to create Debian buster image yet.

So if you could provide the correct link for creating VHD for Debian 10, it will be great help.

Thanks
Dinesh

[2021-05-06 14:46] vJenny commented on #74673
@DerekHerman-MSFT yes, Ubuntu 18.04.5 LTS

[2021-05-06 14:50] BharathNimmala-MSFT commented on #74835
@fearofweapons No worries at all, in case you are able to repro it later feel free to circle back on that thread. Will be happy to continue the conversation. Thanks again for taking time on this.

[2021-05-06 14:53] albertomusetti opened #74905 "[Linux 14-LTS] pm2: not found"
PM2 is nota available in Linux Web App, with node 14-LTS stack (appsvc/node:14-lts_20210226.3)
With version 12-LTS it is available (appsvc/node:12-lts_20210226.3)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896b5d4c-ac3b-f0a2-5102-9e59bbe2ed48
* Version Independent ID: 32fd9660-0d08-205c-c7f3-57b00f35e667
* Content:

[2021-05-06 14:55] SQLAdventurer opened #74906 "Authorization required for viewing SQL Queries is not provided"
The authorization required to access this data is not provided in the documentation. Links provided as Next Steps never lead to this information.  Customers want to know what level of access is required to view this information and are interested in knowing how to secure this data so users can only see the queries they have submitted.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edi

[2021-05-06 14:58] chrisdoofer opened #74907 "Private Link Decision"
Hi Team

We've recently introduced the option of Private Link for Azure Migrate.  As such, anyone arriving at the existing documentation for Discovery and assessment may not be aware of this option.  Being that this is a fundamental design decision, I think we should highlight this decision point and then link to the separate "How-To" guide.

Kind Regards
Chris

---
#### Document Details

⚠ *Do no

[2021-05-06 15:01] vhorne commented on #74832
I agree. I think it is safe to assume that the firewall in being discussed is the one where you want to collect logs . Removing that part of the sentence.
#please-close

[2021-05-06 15:01] #74832 closed

[2021-05-06 15:22] SnehaAgrawal-MSFT commented on #74905
@albertomusetti Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-06 15:31] JamesTran-MSFT commented on #74899
@timo395
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-06 15:34] don007git commented on #73832
Any comment to these two questions, or do you need more information?

[2021-05-06 15:39] JamesTran-MSFT commented on #74892
@sarah026
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-06 15:55] jrudley commented on #66700
I am running into the same issue. A hub (with bastion) and spoke (with DTL) does not work. If I put the bastion in the same vnet with DTL, it works.

[2021-05-06 16:22] JamesTran-MSFT commented on #74753
@Ozzian
I just wanted to check in and see if you had any other questions or if Jack's response helped bring some clarity/resolve this issue?

Thank you for your time and patience throughout this issue.

[2021-05-06 16:26] SamaraSoucy-MSFT commented on #74906
Thanks for the feedback! We will review and get back to you shortly.

[2021-05-06 16:26] bandersmsft commented on #74890
@WiReFDS Hi there. I'm investigating this with the Cost Management engineering team.

[2021-05-06 16:41] mike-urnun-msft commented on #74900
@LoW0lf Thank you for your feedback! We will review and update as appropriate.

[2021-05-06 16:42] mike-urnun-msft commented on #74902
@jjindrich Thank you for your feedback! We will review and update as appropriate.

[2021-05-06 16:52] Josbourne2 opened #74909 "The subscription is not registered to use namespace 'Microsoft.DataFactory"
While working through this tutorial I get this exception after completing the code and trying to run it. Could it be that there is a step missing in this tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7bf6-078c18b70fe6
* Content

[2021-05-06 17:13] clinicalskills commented on #40762
I agree. Exporting is useless without the signin name.

[2021-05-06 17:17] MartinJaffer-MSFT commented on #74769
Thank you for your feedback. This has been assigned to the content owner, @mssaperla  and will be updated as appropriate.

[2021-05-06 17:26] agrinku opened #74911 "Worst document I have seen from Microsoft. This is complex functionality without example hard to know how or evenif this will work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dfc3213-ed4c-aa45-c276-94cdc27bf773
* Version Independent ID: 8c4aa841-6e3b-ee0b-970f-1a8a70335f6f
* Content: [Handle large messages by using chunking - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-handle-large-messa

[2021-05-06 17:27] ValOlson commented on #74903
Hello @jeevannagvekar,

Thank you for your questions, please see responses below:

1. Install instructions on the provisioning page-

- [On Edge enabled devices](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-agent-provisioning#on-iot-edge-enabled-devices): see step 3
- [On non-Edge Linux devices, Raspberry Pi device](https://docs.microsoft.com/en-us/azure/iot-hub-devic

[2021-05-06 17:30] SaschaSeipp opened #74912 "Operating system not correctly shown for Windows servers"
The documentation states:

which is also what one would expect. But if a user logs on to to Azure from a Windows Server (be it a Terminal Server or an admin doing some backend work on a regular server), these logons are also shown as "Windows 7" for Windows Server 2008 and "Windows 8" for Windows Server 2012.
This is a problem for us, as we want to identify users still working on real Windows 7 an

[2021-05-06 17:56] avanti-ac commented on #51708
We are facing this as well. Tried restarting the function app, removed the "/" from key vault url, but the function app picks up the old secret value.

[2021-05-06 18:04] HSFI opened #74914 "Tampering "definition" is multiple times"
This 2 paragraphs look very similar, I think one is not needed. Those are located close to the end of the page:
https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-security-architecture

Tampering: An attacker may partially or wholly replace the software running on the device, potentially allowing the replaced software to leverage the genuine identity of the device if the key material or t

[2021-05-06 18:15] 10Peggotty opened #74915 "Feedback on page being out of date"
[Enter feedback here]
Hi this page is out of date:
The section for web apps, states in step 2 to do the following. (In the Azure portal, for the App Service plan hosting the web app, select Sync Network under Networking, Virtual Network Integration.)

This is not something that you have to do anymore, nor can you, the option no longer exists in the portal.

---
#### Document Details

⚠ *Do not edi

[2021-05-06 18:33] mike-urnun-msft commented on #74911
@agrinku Thank you for your feedback! We will review and update as appropriate.

[2021-05-06 18:40] userr17 opened #74917 "Typo error in the title"
type error in the title, I think, it should be "Cloudflare" not "Clouldflare"
"Tutorial: Configure Clouldflare with Azure Active Directory B2C"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 550c80cc-f367-779e-5668-42d213423c4e
* Version Independent ID: 4658e649-f888-bb4a-8001-b5cc94f392ae
* Content: [Tutorial to confi

[2021-05-06 18:41] mike-urnun-msft commented on #74911
@ecfan Do we have any existing samples that we can add on or link to this doc?

[2021-05-06 18:45] KranthiPakala-MSFT commented on #74687
Hi @spelluru Could you please have a look at this issue? - Thank you

[2021-05-06 18:46] ecfan commented on #74911
Hi @mike-urnun-msft,

I don't know any offhand. Could you check with the product team, maybe starting with @divyaswarnkar? Thanks!

[2021-05-06 18:55] MarileeTurscak-MSFT commented on #74917
@userr17
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-06 18:57] MarileeTurscak-MSFT commented on #74917
Thank you! I just made a pull request to fix the typo in the title and the other typo in that paragraph. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157582

[2021-05-06 18:57] #74917 closed

[2021-05-06 18:59] mmacy commented on #73988
Closing this one out, thanks for the feedback, @trevorhawes. #please-close

[2021-05-06 19:13] mcastorina08 opened #74918 "No link to log samples"
It says there is a link to Azure Firewall log samples. The page it sends you to does not have any log query samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473dce1d-d1ab-ba5f-0762-d7a69be35f28
* Version Independent ID: 0da2f916-720b-ce8d-3caf-d2bb91503184
* Content: [Monitor Azure Firewall logs and metrics](htt

[2021-05-06 19:30] digimaun opened #74920 "Let users know that the `$` char may need to be escaped when inputting system module ids to the CLI"
The '$' symbol has special meaning in many shells. It would be helpful to our users if we pointed out they may need to escape `$` when inputting a system module for the `--module-id` param. Here is a recent issue in the IoT CLI extension repo where a user ran into a problem from not escaping (which is not the only user reported issue with this root cause):

https://github.com/Azure/azure-iot-cli-e

[2021-05-06 19:32] AjayKumar-MSFT commented on #74867
@sumeetmittal, Requesting your comments on this.

[2021-05-06 19:34] serkantkaraca commented on #74687
@vishalaj1 can you clarify what you mean by below?

[2021-05-06 20:04] SaiKishor-MSFT commented on #73645
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-06 20:04] #73645 closed

[2021-05-06 20:05] SaiKishor-MSFT commented on #74895
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-06 20:19] iinuwa opened #74921 "Give more documentation for programmatic access to password reset information"
I was looking to find how to programmatically access password reset/change information from Azure AD, but this sentence is all that I'm given.

This leads to a generic log API, but doesn't explain anything about the password reset reporting data source or any parameters that I'd need to use in order to get the right data. It points me in the right direction, but it doesn't lead me anywhere.

---
#

[2021-05-06 20:22] JamesTran-MSFT commented on #74912
@SaschaSeipp
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-06 20:24] JamesTran-MSFT commented on #74921
@iinuwa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-06 20:26] anujb-msft opened #74922 "Guidance on Networking Egress Charges"
As part of a pricing exercise for a TeleHealth customer it is not clear the kind of networking egress charges a customer can expect for a given set of scenarios.

We need to provide guidance on the kind of networking egress charges a customer can expect for various communications across a large volume of calls. We also need to provide discussion on the variability of egress charges associated with

[2021-05-06 20:30] YutongTie-MSFT commented on #74839
@luisquintanilla Hello, could you please provide more information about above? Thanks a lot.

[2021-05-06 20:35] DerekHerman-MSFT commented on #74673
@vJenny I followed the steps on a fresh Ubuntu VM and had no issues, did not need to include that information. I would recommend uninstalling and trying again. Make sure you download the right repo .https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb

[2021-05-06 20:37] Duffney commented on #50904
I was able to successfully use the `azure_rm` dynamic inventory with the following setup:

**Ansible 2.9**

Dockerfile
[code]

myazure_rm.yml
[code]

query dynamic inventory
[code]

Ansible 2.10

Dockerfile
[code]

myazure_rm.yml
[code]

query dynamic inventory
[code]

Also confirmed to work within Azure Cloud Shell.

For those reporting the `azure.common.credentials` errors, could you provide me

[2021-05-06 20:51] gitTinker commented on #74789
@mimcco The correct syntax for the documentation is:

In Azure portal, this can be found at IoT Edge/device/set modules/WebStreamModule/Environment Variables

[2021-05-06 20:53] SaiKishor-MSFT commented on #74853
@duongau Can you please take a look into this?

[2021-05-06 21:01] YutongTie-MSFT commented on #74836
Thanks for the feedback again, I will combine this with https://github.com/MicrosoftDocs/azure-docs/issues/74837 and track the action item together.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-06 21:01] #74836 closed

[2021-05-06 21:03] YutongTie-MSFT commented on #74837
@saachigopal Hello Saach, there is another issue according the same document https://github.com/MicrosoftDocs/azure-docs/issues/74836 Could you please also update this page as well? Let me know how you want to track it. Thanks.

[2021-05-06 21:03] SaiKishor-MSFT commented on #74866
@kmkelly2015 At the moment it is not available for VWAN P2S but it will be coming soon. I do not have an ETA for this. Please let me know if you have any further questions. Thank you!

[2021-05-06 21:07] kmkelly2015 commented on #74866
@SaiKishor-MSFT Thanks for the update, we are using the VWAN P2S VPN and this will be really useful.

[2021-05-06 21:07] #74866 closed

[2021-05-06 21:09] SaiKishor-MSFT commented on #74918
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-05-06 21:10] SaiKishor-MSFT commented on #74915
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-05-06 21:17] KranthiPakala-MSFT commented on #74909
Hi @Josbourne2 Thanks for reaching out. Could you please share the exception that you are seeing? And have you followed all the guidelines step by step as decribed?

Thanks

[2021-05-06 21:38] RonnieQuan opened #74926 "Activation maximum duration (hours)"
Can you please elaborate this setting "Activation maximum duration (hours)" 1-24 hours

I don't think it means a role assignment must expire in one day.

My interpretation is that, once an eligible role assignment is created, user has up to 24 hours to activate it, if you don't activate it, it will expire and you will have to request another role assignment.

https://docs.microsoft.com/en-us/azure

[2021-05-06 21:40] JamesTran-MSFT commented on #74926
@RonnieQuan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-06 21:42] jonburchel commented on #73699
Thank you @edfreeman for catching this, and helping improve the docs!  I updated it now and it should appear corrected sometime tomorrow.  #please-close

[2021-05-06 21:43] RonnieQuan opened #74927 "Can We Limit What Roles Can be Assigned via PIM"
I have two questions:

1) Only subscription owner can use PIM to assign role?

2) Can we limit the role assignment to subnet of roles?

3) Can we delegate the PIM permission to non subscription owner?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caec76df-16e4-f418-14c3-6c83528134c7
* Version In

[2021-05-06 22:00] linuxelf001 commented on #74601
@dinu12 Prebuilt Azure Debian images are available at https://cloud.debian.org/images/cloud/

[2021-05-06 22:13] robinsh commented on #73486
@jimyanghuang I don't understand. If you tested it and it works, why are you saying there's a problem? Are you saying "The IoT Hub connection string is not getting converted to an event hub compatible connection string the line 16?" Are you running this through VS Code or as a web app with environment variables?

[2021-05-06 22:21] dave22000 opened #74928 "User Sign-Ins List in Portal: Past 7 days"
In Azure B2C, when using the "Sign-Ins" feature in the Users area of the portal, the maximum amount fetched is the past 7 days. Selecting past month, or a custom range, still results in only 7 days worth of sign ins.

I have tried this out using the old and the preview experience for sign ins, the custom range vs the past month selection, and with 3 separate B2C tenants.

The area I am referring t

[2021-05-06 22:25] JamesTran-MSFT commented on #74927
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-06 22:27] JamesTran-MSFT commented on #74928
@dave22000
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-06 22:34] davidsmatlak commented on #74465
#assign:davidsmatlak

[2021-05-06 22:35] BharathNimmala-MSFT commented on #74907
@chrisdoofer Thanks a lot for taking time to share your feedback on this and helping to improve our Azure documentation, we will review your feedback with our doc team and update it accordingly.

[2021-05-06 22:36] BharathNimmala-MSFT commented on #74904
@AndrevdG Thank you for reaching out to us with your query, our team will review it and get back to you at the earliest.

[2021-05-06 22:40] LeeCoxMS opened #74930 "Share Mount Point locations don't match"
In this section:

Add Shares
Step 4./5.
https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-deploy-configure-compute-advanced#add-shares

The share mount location ("/home/databox-edge/hostgatewayshares") called out do not match the locations used in the later sections. Also, it appears this documentation was for the Deprecated FPGA systems.

Add a Module
Step 4.
https://docs.mic

[2021-05-06 22:50] hsbsandrecv opened #74931 "Sync with existing users in Azure AD"
1) During a initial sync from AD to AAD where there are Cloud Only users to be MERGED (Soft Match), the Cloud Sync does not behaves as AAD Connect.

AAD Connect:
"When you install Azure AD Connect and you start synchronizing, the Azure AD sync service (in Azure AD) does a check on every new object and tries to find an existing object to match. There are three attributes used for this process: user

[2021-05-06 22:58] JamesTran-MSFT commented on #74931
@hsbsandrecv
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-06 23:08] JamesTran-MSFT commented on #74912
@SaschaSeipp
Thank you for your detailed post!

- Would you be able to share a screenshot of what you're seeing?
- When you mentioned -  If a user logs on to to Azure from a Windows Server, are you referring to a Web browser, CLI, or PS? All login methods aren't reflecting the correct OS?

Any additional information would be greatly appreciated.

If you have any other questions, please let me know

[2021-05-06 23:17] SatishBoddu-MSFT commented on #74914
Hello @HSFI Thanks for the feedback,

Our SME will review your feedback.

[2021-05-06 23:19] SatishBoddu-MSFT commented on #74920
Hello @digimaun Thanks for the feedback.

Our SME will review your feedback.

[2021-05-06 23:21] robinsh commented on #74914
Actually there are *four* paragraphs that address tampering (all in a row). While they are similar, they are not identical. I would guess they are trying to discriminate between all the different methods, such as stealing identity by holding key materials, making those materioal available to an illicit program, etc.

[2021-05-06 23:22] luisquintanilla commented on #74839
Adding @saachigopal

[2021-05-06 23:22] davidsmatlak commented on #74465
Received confirmation that Azure only links to existing Datadog orgs in **US3**.

[2021-05-06 23:22] robinsh commented on #74914
#sign-off

[2021-05-06 23:22] davidsmatlak commented on #74465
I submitted the fix for this issue and after it's approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2021-05-06 23:30] #74465 closed

[2021-05-06 23:34] alkohli commented on #74930
@LeeCoxMS This documentation https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-deploy-configure-compute-advanced#add-shares is indeed for FPGA system. The simple compute process for the Pro GPU devices is here: https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-compute-module-simple This is the updated doc.

Which device are you looking at, Pro G

[2021-05-06 23:36] bandersmsft commented on #74890
https://github.com/MicrosoftDocs/azure-docs-pr/pull/157623

[2021-05-06 23:46] grantblackbean opened #74932 "Missing link to storage explorer in documentation"
I noticed a missing link for the storage explorer. The markdown square brackets are there, but not the parentheses containing https://azure.microsoft.com/en-us/features/storage-explorer/.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7362b2-b991-a5bb-45e8-1e6d9ebb04d5
* Version Independent ID: 6dd2cefe-f557-0ca9-c8c

[2021-05-06 23:46] bandersmsft commented on #74890
@WiReFDS Hi there. As the article states, only Microsoft Customer Agreements and Microsoft Partner Agreements support export file partitioning. Based on the error you have, it looks like you have an EA agreement, which isn't supported by export file partitioning. Also, the File Partitioning option is only shown for Microsoft Customer Agreements and Microsoft Partner Agreements, which is why you do

[2021-05-06 23:46] #74890 closed

[2021-05-07 00:15] j-patrick commented on #74774
Thank you. Working on this ask.
________________________________
From: Oury-MSFT ***@***.***>
Sent: Thursday, May 6, 2021 12:21 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Justin Patrick ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Dispose HttpClient (#74774)

Assigned #74774<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftD

[2021-05-07 00:17] mighty-dev opened #74934 "Not documented: Additional filters "&" and "!&" - What on earth do these mean?"
[Enter feedback here]
In the list of possible scoping filters there is "&" and "!&"
its not clear what these do or how these can be used.
This page does not describe these filters and their usage.

![image](https://user-images.githubusercontent.com/13211345/117380546-149feb00-af19-11eb-9cee-1d2cf85384d4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-05-07 00:21] LeeCoxMS commented on #74930
This is in the Pro GPU docs, on the same page if you read through the steps.

Best,

Lee

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alpa Kohli ***@***.***>
Sent: Thursday, May 6, 2021 6:34:25 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Lee Cox ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Share Mount Point locations don't ma

[2021-05-07 00:25] GarySurati commented on #74881
Other thing missing is this.
It would be good if you mentioned that these steps needs to be implemented on both staging and non staging server. Can admin configure what's mentioned in this doc just on one AAD sync server? I don't think so as it needs to be done for all AAD sync servers and usually there are 2 such servers. Following this doc has been pretty difficult so far. Needs more details and

[2021-05-07 00:36] mimcco commented on #74789
@gitTinker - thanks for reporting this. I'll let you know when the article has been updated.

[2021-05-07 00:39] alkohli commented on #74930
@LeeCox I am missing something here. You have opened this issue against this doc article: Content: Tutorial to filter, analyze data for advanced deployment with compute on Azure Stack Edge Pro
Content Source: articles/databox-online/azure-stack-edge-deploy-configure-compute-advanced.md

This is for ASE Pro FPGA not for ASE Pro GPU. If we are linking out to Pro FPGA article from within the Pro GPU

[2021-05-07 00:49] rwike77 commented on #73020
@craibuc Hi, have you seen the list of [sample multi-tenant applications](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#multi-tenant-saas-applications)?  Hope that helps.

[2021-05-07 00:50] timtay-microsoft opened #74935 "Dead link for Java sample"
The link is this MS Doc that is supposed to point towards the Java SDK sample points at a deleted branch. The sample now lives in the master branch of the repo, so this link needs to be updated. The correct link to use is here: https://github.com/Azure/azure-iot-sdk-java/tree/master/service/iot-service-samples/role-based-authorization-sample

---
#### Document Details

⚠ *Do not edit this section.

[2021-05-07 00:55] jlian commented on #74935
I fixed the redirect link so it should be fine now

[2021-05-07 00:56] jlian commented on #74935
#please-close

[2021-05-07 00:56] #74935 closed

[2021-05-07 01:01] #74685 closed

[2021-05-07 01:28] flyingUnderTheRadar opened #74936 "Is there a Windows guide as well?"
Specifically looking on how to create the dockerfile for a windows container. The file that I have created builds the image but does not actually start the functions.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e

[2021-05-07 02:17] mimcco commented on #74313
Hey Charles, thanks for the feedback. I'll get your suggestions added to the article.

[2021-05-07 02:20] mimcco commented on #74301
Hey Charles, that's an interesting interpretation. I'll take this back to the team and see how we can avoid this confusion. Your suggestion of a screenshot it a good.

[2021-05-07 02:28] SnehaAgrawal-MSFT commented on #74922
@anujb-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-07 02:33] RyanHill-MSFT commented on #74901
Thanks for the call out @bryanwiggins. The issue has been assigned for further follow up.

[2021-05-07 02:42] zackliu commented on #74634
@adiazcan I think it's because your token doesn't have sendToGroup/JoinGroup permissions. In the `key` tab, there's a checkbox that allow you add permissions to token. Please check.
![image](https://user-images.githubusercontent.com/7847428/117390475-d9091f00-af20-11eb-9770-04edb6decb61.png)

[2021-05-07 02:55] ram-msft commented on #74677
@wely  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-07 02:55] #74677 closed

[2021-05-07 03:08] HSFI commented on #74914
Hi...
There are some screenshots of what I think seems duplicate information.
Also there is question mark after TPM which also may require some revision.
Thanks!!
![1](https://user-images.githubusercontent.com/62484471/117392403-653b2800-aec8-11eb-85b8-ab9e9fe337f2.png)
![2](https://user-images.githubusercontent.com/62484471/117392406-65d3be80-aec8-11eb-94e6-d63361fe4c82.png)
![3](https://user-ima

[2021-05-07 03:35] Karishma-Tiwari-MSFT commented on #74565
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-07 03:54] MayankBargali-MSFT commented on #74932
@grantblackbean Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-05-07 03:59] #74932 closed

[2021-05-07 04:03] ram-msft commented on #74723
@Arjun-Marthala Thanks Can you please add more details azure ml SDK version that you are trying.

Please run the following command **$ pip list|grep azureml** and share the sanpashot.

[2021-05-07 04:20] CosminGuliman-MSFT opened #74941 "Update doc to reflect updates applied to last version of AADC"
[Enter feedback here]

Starting from version  1.6.24 of Azure AD Connect we are defaulting to the V2 provisioning api
as per:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#1624
This release defaults the AADConnect server to the new V2 end point.

Starting version 1.6.40 we create a new rule that processes the 50 k max group membership
Rule name:
O

[2021-05-07 04:32] littlerufe opened #74943 "Incorrect location for Access Keys in instructions"
[Enter feedback here]

In the Portal instructions it says, "Under Settings, select Access keys." Instead, it should say, "Under Security + networking, select Access keys."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3463d1c7-f458-738a-2317-b756a1be7de0
* Version Independent ID: 40f9e40a-0f2f-f510-7ee4-39e55158c99e
*

[2021-05-07 04:52] CosminGuliman-MSFT commented on #74941
adding clarification note
we have the functional change documented under: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#functional-changes

but we had complains that this functional change is not reflected in the V2 docs and only the default rule update is mentioned

[2021-05-07 04:54] KranthiPakala-MSFT commented on #74909
@Josbourne2 - By looking at the error message in the title,  your Subscription is not registered with `Microsoft.DataFactory` resource provider. Please try registering the DataFactory resource, which should help resolve your issue.

For more info about resource providers please refer to this doc: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types

[2021-05-07 05:10] 01binary commented on #37847
This is an issue with UX in Azure Portal. It doesn't seem confusing to me personally, but since enough Azure users are finding this confusing then we can call this an "issue".

The App Registration in Azure Active Directory has these basic properties:

* Client ID
* List of Client Secrets

I would say this is somewhat unusual because other social authentication providers like Facebook, Google and

[2021-05-07 05:35] MayankBargali-MSFT commented on #74936
@flyingUnderTheRadar Sharing the previous discussion [here](https://github.com/MicrosoftDocs/azure-docs/issues/20976#issuecomment-449699243).

[2021-05-07 05:56] cuixi1222 opened #74946 "migrate from ADAL to MSAL"
Can we update the guidance for MSAL for token access as ADAL is been deprecated since last year as the annoucement?

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088dd54

[2021-05-07 05:58] SumanthMarigowda commented on #74750
@star286 You can still create GPV1 storage account.  Microsoft recommends using standard general-purpose v2 accounts instead when possible.

![sgdh9](https://user-images.githubusercontent.com/80444138/117404235-330ce300-af27-11eb-8ccf-3a9c2a213b29.gif)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly contin

[2021-05-07 05:58] #74750 closed

[2021-05-07 05:59] wesmc7777 commented on #73642
#assign wesmc7777

[2021-05-07 06:01] wesmc7777 commented on #73642
@tymtam2 Thank you very much for reporting this. You are correct. The description is not correct. Also the example is not very good. I'll update both of these issues.  Thanks again for reporting it!

[2021-05-07 06:01] SumanthMarigowda commented on #74733
@msfcolombo  PR request has been initiated, Thanks! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-07 06:01] #74733 closed

[2021-05-07 06:05] SumanthMarigowda commented on #74874
@sokoloffmaks Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-07 06:31] KalyanChanumolu-MSFT commented on #74814
@MS-jeremy It's been a while we heard from you.
If you are facing any technical issues, please post them on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) 
We will collate the common issues and document them.

We will proceed to close this GitHub issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the di

[2021-05-07 06:31] #74814 closed

[2021-05-07 07:00] Karishma-Tiwari-MSFT commented on #74760
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-05-07 07:00] #74760 closed

[2021-05-07 07:06] Karishma-Tiwari-MSFT commented on #74823
You can find details about all annotations as part of Kubernetes documentation [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/). For example, here is the document for ingress related annotations: https://kubernetes.io/docs/concepts/services-networking/ingress/

Hope that helps.
Thanks for bringing this to our attention. We will now close this issue. If there a

[2021-05-07 07:06] #74823 closed

[2021-05-07 07:07] Karishma-Tiwari-MSFT commented on #74845
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-07 07:12] Nikill opened #74951 "400 Bad Request while using Azure DevOps with Databricks Repository"
I'm having an authentication problem with repository on databricks and Azure DevOps as repo service.
It works for all my colleagues, who belong to same AAD groups, with same permissions level, but on my end, whenever trying to perform pull request, commit, branching, etc. I get an `400 : Bad Request` error without much more explanation. I try to log out of all my Azure session, clear my browser ca

[2021-05-07 07:48] ram-msft commented on #74723
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-07 07:48] #74723 closed

[2021-05-07 07:48] yutaro113 opened #74957 "Reason why web.config is not recomendded for App Service Windows Java Apps should be mentioned."
Can you please include below point in this doc?
・Web.config is not recommended to use for App Service Windows Java App.
・(If possible) reason why it's not recommended should also be mentioned.

Backgroud:
In my understanding (through discussion with PGs), In the App Service Java Windows App, using web.config is not officially recommended as this can cause multiple issues like resource lock conflic

[2021-05-07 07:49] BhargaviAnnadevara-MSFT commented on #74868
@fedeesku1 Any further update here?

[2021-05-07 08:17] GitaraniSharma-MSFT commented on #74901
@bryanwiggins , thank you for the feedback. We have assigned this to the content owner/author for review.

@asudbring , as mentioned in the feedback, "Let's Encrypt Authority X3" certificate authority has been retired and hence the doc needs to be updated. Please review & update the doc accordingly.

[2021-05-07 08:33] agrinku commented on #74911
Thanks Mike and ecfan. Sample would be really helpful here.

[2021-05-07 08:58] fearofweapons opened #74958 "There is no setup procedure."
Step 8 of https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-hyper-v#download-and-install-the-provider says

_8) Run the provider setup file on each host, as described in the next procedure._

and step 9 says

_9) After installing the provider on hosts, in Discover machines, click Finalize registration._

The procedure for installing the agents appears to be missing from this page and

[2021-05-07 09:13] bradunov opened #74959 "Missing location for az network private-endpoint create"
In the current example `az network private-endpoint create` creates the endpoint in the default region, which may be incorrectly set. When you query `DATA_ENDPOINT_PRIVATE_IP`, you use `$REGISTRY_LOCATION` explicitly.

I would suggest updating the docs by adding `--location $REGISTRY_LOCATION` to `az network private-endpoint create`.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-05-07 09:19] Shuwi75 opened #74960 "Spelling error: collectiopn"
[Enter feedback here]
The page contains a typing error: collectiopn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ef4a4cc-9b68-6a7f-043d-7a2bccabed1d
* Version Independent ID: a622e7c1-3fbf-c133-d470-fc047bacb9de
* Content: [Tutorial: Get started explore the Synapse Knowledge Center - Azure Synapse Analytics](https:/

[2021-05-07 09:20] bradunov commented on #74959
Sorry, my bad, it was the registry location that messed up the process, not the endpoint location.

[2021-05-07 09:20] #74959 closed

[2021-05-07 09:30] NeilMacMullen opened #74961 "Incorrect comma ?"
[Enter feedback here]
Was this text really intended to include a comma?
`In default mode only, essential features are enabled in order to insure optimal performance.`

It reads as if "Essential features are enabled in order to insure optimal performance ONLY in default mode (and we're not to going to tell you what we do with essential features in 'recommended' mode!)."

---
#### Document Details

[2021-05-07 09:32] HarshitaSingh-MSFT commented on #74888
Only the one who run the query needs P1.

But, when P1 is assigned to a user, premium features are enabled at tenant level. _Whichever user uses premium features, needs to be assigned with P1/P2 license to stay compliant._

[2021-05-07 09:34] dfendit commented on #41535
Any update on this?

[2021-05-07 09:36] jjindrich commented on #74902
I fixed problem, you can check my deployment https://github.com/jjindrich/jjazure-web-dotnetcore/tree/master/src-func-keda#configure-autoscaling-with-keda-of-http-trigger

The problem was old version of Azure Function CLI.

[2021-05-07 09:36] #74902 closed

[2021-05-07 09:42] SnehaAgrawal-MSFT commented on #74957
@yutaro113 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-07 09:44] kemurayama commented on #74883
@RyanHill-MSFT  Thanks for prompt reply !!

[2021-05-07 09:51] JayaChatterjee-MSFT commented on #74943
@littlerufe Thank you for your feedback! We will review and update as appropriate.

[2021-05-07 09:52] JayaChatterjee-MSFT commented on #74934
@mighty-dev Thank you for your feedback! We will review and update as appropriate.

[2021-05-07 09:54] JayaChatterjee-MSFT commented on #74941
@CosminGuliman-MSFT Thank you for your feedback! We will review and update as appropriate.

[2021-05-07 10:03] JayaChatterjee-MSFT commented on #74686
@progaddict I am afraid we don't have CLI commands for "New-AzureADServiceAppRoleAssignment". You may consider providing a feedback for the same : [UserVoice](https://feedback.azure.com/forums/34192--general-feedback)

However, in this case you have two options:

1)  can run this from the Portal using Azure Cloud Shell.

2) Or can use the [Grant an appRoleAssignment](https://docs.microsoft.com/en-

[2021-05-07 10:42] #74888 closed

[2021-05-07 10:48] kgalic opened #74962 "Not clear steps"
After step 2, the console shows 'Waiting for the USB device to appear'.
It should be stated that steps 3 and on should be taken while this is the case. The typical user waits for step 2 to complete(which will never happen) before it takes an action on steps 3,4 etc.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0afe5

[2021-05-07 10:54] PramodValavala-MSFT commented on #74544
@xuwenjian1995 Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-07 10:54] #74544 closed

[2021-05-07 11:07] PramodValavala-MSFT commented on #74581
@lawrenceong001 The policy shown in the doc is accurate but since the token you have has a different `aud` claim, it fails. So its likely you are fetching the token for MS Graph instead of your application.

It would be best to post your query about fetching the right token on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) with the Azure AD tag.

Since

[2021-05-07 11:07] #74581 closed

[2021-05-07 11:15] stderr-to-devnull commented on #73483
Hello, any update?

[2021-05-07 11:19] KrishnaG-MSFT commented on #74961
@NeilMacMullen Thanks for your feedback! We will review and provide an update as appropriate.

[2021-05-07 11:29] x86 commented on #50330
Please reopen. Issue is still not fixed!

[2021-05-07 12:04] GitaraniSharma-MSFT commented on #74872
@rp-msft , thank you for your query. We have assigned this issue to the respective product owner for review.

@mscatyao , request you to review this query and provide some insights.

[2021-05-07 12:06] lgayhardt commented on #74961
@NeilMacMullen Thanks for catching that. I moved the comma. The change should go live later today.

#please-close

[2021-05-07 12:06] #74961 closed

[2021-05-07 12:09] NeilMacMullen commented on #74961
👍  Thanks!

[2021-05-07 12:13] GitaraniSharma-MSFT commented on #74181
@MathieuRietman , thank you for your feedback. I see Azure Data Factory has already been added:
https://docs.microsoft.com/en-us/azure/private-link/availability#analytics

For the rest of the services to be added, we have assigned this to the content owner/author for review.

@asudbring , request you to add the rest of the missing services:

Azure Redis Cache : https://docs.microsoft.com/en-us/azu

[2021-05-07 12:16] GitaraniSharma-MSFT commented on #74182
@MathieuRietman , thank you for your feedback.

Azure Batch and Azure Digital Twins have already been added:
https://docs.microsoft.com/en-us/azure/private-link/availability#storage
https://docs.microsoft.com/en-us/azure/private-link/availability#internet-of-things-iot

And for Azure Migrate, we have already requested it to be added in https://github.com/MicrosoftDocs/azure-docs/issues/74181.

Hen

[2021-05-07 12:26] andybouts commented on #73684
hey @kobulloc-MSFT , any updates?

[2021-05-07 12:34] upliftertom opened #74965 "Some examples of how to use different data types with python api"
I've been using the python api for some time now - this page would really benefit with some examples of how to use different data types with the python api.  In particular working with dates and binary data isn't immediately apparent from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1dcd40-daee-e

[2021-05-07 12:56] NavtejSaini-MSFT commented on #74675
@ciph3rwoman We are going ahead and closing this feedback for now. Please get back to me for any further questions.

[2021-05-07 12:56] #74675 closed

[2021-05-07 13:04] NavtejSaini-MSFT commented on #74860
@SnehaGunda Can you please help us with this feedback.

[2021-05-07 13:04] #74881 closed

[2021-05-07 13:32] Robertj1983 opened #74966 "Sub-orchestration Python support"
Hi,

Please update the documentation Note and examples on the page to include the fact that sub-orchestration is supported in Python too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f10ce06-891c-9a3b-7cb8-20a7a9567f2b
* Version Independent ID: 0e862892-e0ff-4dd0-6220-881b7655e4b5
* Content: [Sub-orchestrations for

[2021-05-07 13:35] Robertj1983 commented on #74966
For convenience, the official code samples have a code example listed [here](https://github.com/Azure/azure-functions-durable-python/tree/dev/samples/simple_sub_orchestration).

[2021-05-07 13:39] kobulloc-MSFT commented on #73684
@andybouts No updates yet from my end.  I'll look into creating a feedback request for tracking purposes.

[2021-05-07 13:39] amanmcse commented on #74876
@r-milne I am updating the doc. Changes might take up to 24 hrs. to reflect.

[2021-05-07 13:49] #74876 closed

[2021-05-07 14:20] bradyson opened #74967 "Use a private IP address or not?"
The documentation states not to use a private IP address for Flexible server and in the very next bullet point says to use a private IP address for Flexible server.

![PrivateIP](https://user-images.githubusercontent.com/30739258/117466344-36e53900-af18-11eb-8f08-e2fbc6b2d3a6.png)

If using a Private DNS zone and hardcoding an A record to the private IP of flexible server, how will this A record g

[2021-05-07 14:29] JerryMWeeks commented on #74885
That's the problem - it is!
![image](https://user-images.githubusercontent.com/19207251/117464853-59e00f00-af51-11eb-8093-150b88a31b9c.png)

[2021-05-07 14:30] mimcco commented on #74962
@kgalic - great suggestion. I'll add that note to the article.

[2021-05-07 14:31] SamaraSoucy-MSFT commented on #74960
Thanks for the feedback! We will review and get back to you shortly.

[2021-05-07 14:31] erickuhn19 commented on #73506
@damienbod I wanted to clarify the above answer provided over a week ago. Our current sample app in node is powered by our VC SDK written in TypeScript. At this time, we are not planning on building sample apps that wrap the VC SDK in a rest API and calling it from another sample app written in ASP.Net.

We are actively working on an API for our issuing and verifying services which currently funct

[2021-05-07 14:42] maksim-at-cedrus commented on #70351
What about images that don't have the object I'm looking for? I'm running into issues with images that don't contain what I need and there's no way, as far as I can tell, to tell the system that it is not on these images. The portal requires you to add at least some tag. But I don't have anything to tag on those images. And even if I try to and a "nonsense" tag it tells me that I need at least 30

[2021-05-07 14:49] krish-gh opened #74968 "Description in Built-in roles not correct"
The description of "Event Grid Subscription Reader" and "Event Grid Subscription Contributor" should be swapped.

![image](https://user-images.githubusercontent.com/2088089/117467662-83a92e00-af71-11eb-9fc3-73280266e01d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dbe461e-bf0e-765b-947a-fbc80b4c72b7
* Version I

[2021-05-07 14:52] ChaiSwaddipong opened #74969 "How does this work with GRS?"
Could you clarify if this for all types of redundancy models e.g. LRS,GRS, and ZRS? Does it work with premium blob?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 240744fe-c026-ef83-da10-8a536a31d5a2
* Version Independent ID: c92a9fb5-3470-a394-2afa-c178405c8625
* Content: [Overview of operational backup for Azure Blob

[2021-05-07 14:53] RyanHill-MSFT commented on #74657
@tv505, it definitely sounds like a access permissions issue. You can try going to https://github.com/settings/connections/applications and removing _Azure App Service_ application and try repeating the process. Do let us know if that works.

[2021-05-07 14:58] JamesTran-MSFT commented on #74892
@sarah026
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-07 15:11] damienbod commented on #73506
Thanks for answers

Greetings Damien

[2021-05-07 15:11] PramodValavala-MSFT commented on #74586
@kristyler Durable Functions is an effective way to work around the timeout issue. As for the POST call, its covered in step 4 and 5 of the local testing sections.

[2021-05-07 15:25] #74586 closed

[2021-05-07 15:27] yoelhor commented on #74696
Gotcha. There’s a solution. I’ll post it here on Monday.

[2021-05-07 15:49] maksim-at-cedrus opened #74970 "How to deal with Cognitive Services Custom Vision Object detection false positives when negative tags are not allowed and no positive tags can be defined on an image?"
What about images that don't have the object I'm looking for? I'm running into issues with images that don't contain what I need and there's no way, as far as I can tell, to tell the system that it is not on these images. The portal requires you to add at least some tag. But I don't have anything to tag on those images. And even if I try to and a "nonsense" tag it tells me that I need at least 30

[2021-05-07 15:57] JayaChatterjee-MSFT commented on #74861
Hello @cinthiatengan could you please share the document link for which you have raised the issue?

[2021-05-07 16:06] anyname2 opened #74971 ""Set auto-upgrade channel" for both `node-image` and cluter version update"
Set auto-upgrade channel contains both node image upgrade and cluster version upgrade, which are completely unrelated to each other. We currently upgrade node image using GitHub actions, but AFAIK it does not update cluster version (it just does OS patches). Is this the case with the `node-image` auto-upgrade channel? Is it possible to do both: `node-image` upgrade and `patch` cluster upgrade?

--

[2021-05-07 16:11] poumason commented on #74645
I reference [create webhook](https://centralus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateHook) body sample:

[code]

I only modify  webUrl, because I don't know how to set secret property .

[2021-05-07 16:13] Smoles opened #74972 "Typo In Active-Passive Replication Section"
I believe there is a typo in the Active-Passive Replication section of this document. In the following sentence I believe the last word should say "primary" not "secondary".

"The application should therefore first switch publishing back to the primary and still allow draining of the locally published messages before switching the consumer back to the secondary."

---
#### Document Details

⚠ *Do

[2021-05-07 16:36] robinsh commented on #72932
#sign-off

[2021-05-07 16:36] mike-urnun-msft commented on #74966
@Robertj1983 Thank you for your feedback! We will review and update as appropriate.

[2021-05-07 16:39] erickuhn19 commented on #73484
#please-close

[2021-05-07 16:39] #73484 closed

[2021-05-07 16:39] wcneumann219 opened #74973 "Using one Enterprise App with multiple redirect URIs for multiple instances"
This article and related ones do not address whether one can or cannot create one Azure Enterprise Apps with SAML 2.0 SSO that will work with multiple instances of the same application deployed in different domains. In this case, it's an application that gets deployed to multiple clients, and support staff want to SSO using Azure AD credentials to each instance.

Can you clarify whether one can us

[2021-05-07 16:40] wcneumann219 commented on #74973
I may have posted this query with the wrong user account. Please include bill.neumann@connection.com in any replies. Thanks!

[2021-05-07 16:42] magoicochea opened #74974 "Code document for "Allow unauthenticated requests" is missing"
On the section where they mention that you can "Allow unauthenticated requests" the documentation mention the following:

"This option defers authorization of unauthenticated traffic to your application code. For authenticated requests, App Service also passes along authentication information in the HTTP headers."

However, no link to where an example of that code can be found is given.

Some furt

[2021-05-07 16:48] HarshitaSingh-MSFT commented on #74958
Hello @fearofweapons , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-05-07 16:57] ChaitanyaNaykodi-MSFT commented on #74972
Hello @Smoles,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-07 17:04] krispenner opened #74975 "Please confirm or clarify Origin Path"
In relation to this description

I'd appreciate someone confirming that the description for Origin Path is correct. I expected the Origin Path to be the default path prefix applied to the request URL to the Origin backend. However, the document refers to just what is to be cached. If this is fact only about caching then I would suggest:

1. Clarify in the documentation that the Origin Path is only

[2021-05-07 17:10] julieMSFT commented on #69736
#reassign:julieMSFT

[2021-05-07 17:11] julieMSFT commented on #69736
#assign:anumjs

[2021-05-07 17:20] KranthiPakala-MSFT commented on #74946
@cuixi1222,
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-07 17:21] KranthiPakala-MSFT commented on #74951
@Nikill
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-07 17:35] KranthiPakala-MSFT commented on #74682
@reed9999
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-07 17:43] tiwari-abhishek opened #74976 "Screenshot image quality too bad"
[Enter feedback here]
The Screenshot image quality is too bad across Azure Documentation and is a pain to look at, especially since there is often a lot of text in the screenshots. Would be nice to have the ability to click on the image and see a higher resolution image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2021-05-07 18:19] cynthn commented on #68769
#reassign @roygara

[2021-05-07 18:21] dave22000 commented on #74928
![image](https://user-images.githubusercontent.com/38772694/117492262-f943d880-af36-11eb-9234-a516f62e46ec.png)
![image](https://user-images.githubusercontent.com/38772694/117492279-0234aa00-af37-11eb-961e-ece4473c1de6.png)

This is not a great example as we only have logins during the weekdays (which is why it cuts off from Monday 5/3/21). But there would be sign-ins older than the oldest one sho

[2021-05-07 18:22] Oury-MSFT commented on #74967
@bradyson Thank you for providing your feedback to help us improve our documentation. We are reviewing this and will get back to you shortly. Thanks

[2021-05-07 18:36] AjayKumar-MSFT commented on #74745
@ignaciofls, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion.

[2021-05-07 18:36] #74745 closed

[2021-05-07 18:46] riwasa opened #74980 "Incorrect portal instructions for server permission"
In the first part of the Grant service permission to the virtual network section of the page, it says "Spring Cloud requires Owner permission...". Step 2 of that section says "Assign the azure-spring-cloud-data-reader role". The alternative CLI instructions clearly show assigning the Owner role to the service principal. I believe the Step 2 instructions are incorrect and should reference the Owner

[2021-05-07 19:00] JeremyTBradshaw commented on #73762
@lennartki @MarileeTurscak-MSFT I am in agreement that those two sentences in the purple note block are puzzling.  I think it's actually a product/UI issue.  Both options "Require approved client app" and "Require app protection policy" are being advised to be selected while the Grant is set to "Require one of the selected controls".  But by the sounds of it, if you wanted to enforce App Protectio

[2021-05-07 19:18] pospospos2007 opened #74981 "No stop command for IOT edge 1.2"
Can u please let me know what is the command to stop IOT edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?vi

[2021-05-07 19:26] MikeDodaro commented on #74980
Thanks, @riwasa .  It's fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/157735 to publish this afternoon.

[2021-05-07 19:27] MarileeTurscak-MSFT commented on #74976
@tiwari-abhishek
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-07 19:43] SaiKishor-MSFT commented on #74749
@aelij I ran the script and after I gave it sometime, I am able to see the IP address. I did not make any additional changes to the script. See below:

![image](https://user-images.githubusercontent.com/68254272/117500618-b9c6bd80-af31-11eb-9a21-410a667c2e79.png)

If this is not working for you, I recommend reaching out to Azure Support by creating a support ticket and they can assist further. Tha

[2021-05-07 19:43] #74749 closed

[2021-05-07 19:45] SaiKishor-MSFT commented on #74871
@cherylmc Is this something you can assist with?

[2021-05-07 19:46] MarileeTurscak-MSFT commented on #74973
@wcneumann219
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-07 19:50] erickuhn19 commented on #73653
Can you provide more information?

[2021-05-07 19:53] erickuhn19 commented on #73450
@damienbod please try this documentation for using a VC to issue another VC https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/credential-design#input-type-verifiable-credential

[2021-05-07 20:02] TravisCragg-MSFT commented on #74616
@glglak This is a [known limit with Application Gateway WAFs, and it is discussed in the note Here](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/create-waf-policy-ag).  When you first associate a WAF Policy with an Application Gateway, that Application Gateway must always be associated with a WAF. The only way to return to the default WAF is to delete and recreate it, or crea

[2021-05-07 20:02] #74616 closed

[2021-05-07 20:38] progaddict commented on #74686
Thank you for your fast response

[2021-05-07 20:38] #74686 closed

[2021-05-07 21:03] melvincanafranca opened #74982 "Microsoft.ServiceBus.DeadletterMessagesAvailableWithNoListener missing an 's'"
The exact event being thrown by the Service Bus for active dead letter message is
Microsoft.ServiceBus.DeadletterMessagesAvailableWithNoListener**s** not Microsoft.ServiceBus.DeadletterMessagesAvailableWithNoListener

The documentation has a missing 's' and that causes my code to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-05-07 21:09] #74708 closed

[2021-05-07 21:09] #74707 closed

[2021-05-07 21:12] digimaun commented on #74920
I'm good with the changes and plan. Thank you for addressing so quickly.

[2021-05-07 21:16] BrianLevenson opened #74984 "Auto-renew on a cancelled subscription"
It appears that a cancelled subscription (in a state of "unsubscribed") will still have auto-renew set to true.

1. Is this accurate and expected?
2. Will a subscription still auto-renew even if it is in an unsubscribed state?
3. Suggestion: automatically set auto-renew to false if the subscription is cancelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-05-07 21:22] vivekdde opened #74985 "What does "SQL" mean on this page?"
Are you using "SQL" to mean Microsoft SQL Server or Microsoft SQL Warehouse?  There is also a more widely used meaning of SQL -- Structured Query Language.  It can be confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b81ab495-3cc8-59e4-cba8-b8bb0ac7399e
* Version Independent ID: 3832391f-28d8-517a-2e5d-a70fdc83

[2021-05-07 21:22] vamckMS opened #74986 "Additional change to Az Spring Cloud Vnet integration"
In the 'Grant service permission to the virtual network' section, in addition to changing the role to 'Owner', it will be beneficial to say to which user the 'Owner' role I assigned.

Based on my testing and understanding it is 'Azure Spring Cloud Resource Provider’ that needs the 'Owner' role.
Please correct me if am wrong or kindly update the document to reflect this.

![image](https://user-imag

[2021-05-07 21:40] leifbro commented on #66562
Logged a Databricks doc ticket: DOC-2510. Will report back when there is progress.

[2021-05-07 21:44] JamesTran-MSFT commented on #74753
@Ozzian
Thank you for the quick follow up on this!

I spoke with Jack offline and we both agreed that redirecting this issue to [User Voice](https://feedback.azure.com/forums/34192--general-feedback) would be best. This way you can leave feedback for the product, or create a feature request so our engineering team can look into improving this feature.

Thank you for your time and patience througho

[2021-05-07 21:44] #74753 closed

[2021-05-07 21:45] leifbro commented on #67723
The section in question was significantly reworked and updated. Please let us know if the updated information does not address your concerns.

[2021-05-07 21:46] JamesTran-MSFT commented on #74912
@SaschaSeipp
Thank you so much for the quick and detailed response!

Based off the information you provided, we'd like to take a closer look into your environment and issue, can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@m

[2021-05-07 21:46] leifbro commented on #67723
#please-close

[2021-05-07 21:49] #68208 closed

[2021-05-07 21:55] danmyhre opened #74987 "Incorrect Policy Settings"
This article is supposed to show how to require an approved app AND have an app protection policy. In the examples, it shows to select the option "Require one of the selected controls". This is an OR, not an AND.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent I

[2021-05-07 21:56] SaiKishor-MSFT commented on #74895
@KaiWalter Thanks for pointing it out. We have update the doc and it should reflect soon. Thank you!

[2021-05-07 21:56] #74895 closed

[2021-05-07 22:00] leifbro commented on #69780
@gfree76 A documentation issue has been created in the Databricks issue tracker (DOC-2511). We will respond here when there is progress on that issue.

[2021-05-07 22:06] #56495 closed

[2021-05-07 22:06] #56496 closed

[2021-05-07 22:06] #73642 closed

[2021-05-07 22:20] JamesTran-MSFT commented on #74987
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-07 22:22] leifbro commented on #67314
@andrew-js-wright Created a documentation issue in the Databricks issue tracker: DOC-2512. We will respond when there is progress on the ticket.

[2021-05-07 22:29] leifbro commented on #68828
@wahyuen The Databricks doc team has created a documentation issue in the Databricks issue tracker: DOC-2513. We will respond when there is progress on the ticket.

[2021-05-07 22:44] Oury-MSFT commented on #74965
@sakash279 Please see customer feedback above. Could you please help update documentation with examples on how to use different data types with the python api. Thanks

[2021-05-07 22:47] cynthn commented on #72290
#please-close

[2021-05-07 22:47] #72290 closed

[2021-05-07 22:50] kgremban commented on #74920
Thanks for confirming.

#please-close

[2021-05-07 22:50] #74920 closed

[2021-05-07 22:52] cynthn commented on #73857
@wfschneider Thanks for the feedback! We are going to be making some broad changes to these docs in the next few weeks, so I'll take a look at the ordering of the steps.

#please-close

[2021-05-07 22:52] #73857 closed

[2021-05-07 23:03] cynthn commented on #73731
We have work planned for this and other availability docs planned in the upcoming months. We will be addressing feedbackon this script, as part of that work. We appreciate you taking the time to comment and will be sure this gets addressed.

#please-close

Tag: AVsets

[2021-05-07 23:06] cynthn commented on #63932
This doc has been updated a couple of times since this feedback was created. I'm going to close this out for now, because I think it has been addressed. Please feel free to reopen if there are still issues.

#please-close

[2021-05-07 23:06] #63932 closed

[2021-05-07 23:11] SatishBoddu-MSFT commented on #74981
Hello @pospospos2007

**If the intention is to stop IoT Edge runtime**, then on the device side there is the command
(on Windows for eg.): Powershell command `Stop-Service iotedge -NoWait`
(on Linux for eg.): Single line bash command:  `sudo systemctl stop iotedge `

**In order to only start IoT Edge runtime**, then on the device side the command is
(on Windows restart after sleep eg.): Powershell

[2021-05-07 23:17] JamesEarle opened #74989 "Unit testing non-HTTP triggered functions?"
The unit testing section describes in detail how to write a test for an HTTP Triggered Azure Function (thanks for this), but it doesn't show how to do this for any other type of trigger function. I'm trying to unit test a blob triggered function and I'm struggling on how exactly to mock or otherwise imitate the `inputBlob: func.InputStream` that is passed to `main` here. Any advice?

---
#### Docu

[2021-05-07 23:19] MNF opened #74990 "add link to Hybrid Runbook Worker."
In the sentence

“For long-running Azure Automation tasks, it's recommended to use a Hybrid Runbook Worker.” It will be good to add link to https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf4da869-3f32-d2bb-d804-62679c1c3cbd
* Version Ind

[2021-05-07 23:29] yutanglin16 commented on #74726
@Grace-MacJones-MSFT -- we can close this now. Portal changes have been deployed and import KV cert button is now available on Nat'l Cloud.
![image](https://user-images.githubusercontent.com/10567485/117517592-53519780-af51-11eb-9934-b22739c8f815.png)

[2021-05-08 00:11] sebansal commented on #74726
Thanks for the update. You mentioned available in National cloud, does that also mean available in Azure China? Azure China region was the one the customer has issue with. Thanks.

[2021-05-08 00:14] zxm5010 opened #74991 "Missing post/pre trigger examples."
Hi,

It's missing post/pre trigger examples for migration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 707bee45-1ec4-b398-95d6-0bf480e8791b
* Version Independent ID: aa9ec92b-322f-9841-12cb-68030124fb97
* Content: [Migrate your application to use the Azure Cosmos DB Java SDK v4 (com.azure.cosmos)](https://docs.micro

[2021-05-08 00:23] BrianLevenson commented on #74984
and related, is it possible to update a subscription to change the auto-renew status via API patch?

[2021-05-08 00:25] robinsh commented on #73909
made the requested update. #sign-off

[2021-05-08 00:44] BharathNimmala-MSFT commented on #74990
@MNF Thanks a lot for sharing feedback and helping us improve our Azure documentation. I have created a PR for the same. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further fee

[2021-05-08 00:44] #74990 closed

[2021-05-08 00:47] BharathNimmala-MSFT commented on #74984
Thanks a lot @BrianLevenson for reaching out with your queries, assigning this to @mingshen-ms to further review and get back.

[2021-05-08 00:54] BharathNimmala-MSFT commented on #74969
@ChaiSwaddipong Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-05-08 00:57] robinsh commented on #68477
#assign greg-pettibone

[2021-05-08 00:57] PRMerger9 commented on #68477
greg-pettibone is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-08 00:57] robinsh commented on #68477
Greg -- assigning this to you bcause I changed it way back then, but I think you changed it recently. Just make them both use the same code, if possible.

[2021-05-08 00:59] robinsh commented on #68477
#assign <v-pettibone@microsoft.com>;

[2021-05-08 00:59] PRMerger19 commented on #68477
<v-pettibonemicrosoft.com>; is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-08 01:00] robinsh commented on #68477
one last time. #assign v-gpettibone@microsoft.com

[2021-05-08 01:00] PRMerger16 commented on #68477
v-gpettibonemicrosoft.com is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-08 01:31] ChaitanyaNaykodi-MSFT commented on #74989
Hello @JamesEarle
Thank you for your feedback! We will review and update as appropriate.

[2021-05-08 01:48] rezazein opened #74993 "Uploading staticwebapp.conf.json to a $web won't work"
[Enter feedback here]
The page should mention that this approach won't work by uploading staticwebapp.conf.json to a $web container. It's confusing and raises questions like this: https://docs.microsoft.com/en-us/answers/questions/334178/azure-static-web-app-ignores-staticwebappconfjson.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-05-08 03:17] savjani commented on #74967
@bradyson - that is a very valid feedback.  In our May end/June release, we will allow private dns zone to be provisioned in the customer subscription during flexible server provisioning which will eliminate this issue. However until that time, you will need to use private IP address to connect but we also dont recommend using IP address since it can change during failover but unfortunately, it is

[2021-05-08 03:26] chenyukang opened #74994 "Commands is not working for tutorial"
[code]

Will trigger this error:

[code]

Some others also met this error: https://stackoverflow.com/questions/31266153/using-azure-keyvault-cannot-find-object-in-azure-active-directory-tenant

As a workaround, I use ObjectId:

![image](https://user-images.githubusercontent.com/230646/117524476-f8bb4880-afef-11eb-80e6-4043f889cbfb.png)

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-05-08 04:33] BryanTrach-MSFT commented on #74993
@rezazein Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-08 04:34] BryanTrach-MSFT commented on #74974
@magoicochea Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-08 04:55] BryRamCam opened #74995 "Trying to create AUs through Graph with article was failing"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-manage

I have been trying to run the call to create an administrative unit in the page I have share and could not, then realized that in the Graph HTTP request is missing POST /directory/administrativeUnits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-05-08 05:58] pradeepsethi opened #74996 "Azure CLI commands used in both Azure CLI & Powershell section."
Commands need to be updated in Powershell section as Azure CLI commands are used in that place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Tutorial: Use Azure Event Grid to automate resizing uploaded imag

[2021-05-08 06:58] 01011011 commented on #74492
The problem is that aks-hello-world demos are being deployed in the default namespace and not the ingress-basic

Change the sample for the aks-helloworld-one.yaml and aks-helloworld-two.yaml to this.

aks-helloworld-one.yaml
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: aks-helloworld-one
  namespace: ingress-basic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aks-helloworl

[2021-05-08 07:22] nadinebenharrath commented on #25262
can someone help me i'm getting the same error : StatusCode: 400
Message: Docker image build failed.

this what is written in build. log

Step 34/37 : RUN sed -i '/^\s*-\s*python\s*[<>=]/d' '/var/azureml-app/conda.yaml' && cat '/var/azureml-app/conda.yaml'
 ---> Running in 33c6c4fe41c0
channels:
- defaults
- conda-forge
dependencies:
- pyspark=3.1.0
- pip
- pip:
  - mlflow
name: mlflow-env
Removin

[2021-05-08 07:38] andyjballgit opened #74997 "Why can't I find Reserved Instance prices in my Enterprise Agreement (EA) Price Sheet / Rate Card"
Background - this drove me mad trying to do some analysis for an EA Customer, it wasnt obvious / resulted in support case = 2104080050000958

--
You can't , because they are not there , because the price for reserved instances is the same for EA Customers , as it is for Retail customers so if you want to download all prices at once  (as opposed to using Azure Pricing Calculator), use API sample as

[2021-05-08 11:01] BhargaviAnnadevara-MSFT commented on #74970
@maksim-at-cedrus Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-05-08 11:46] fuglede commented on #68279
I put [the same question on StackOverflow](https://stackoverflow.com/q/67225089/5085211) and received the following response from @anthonychu:

[2021-05-08 12:21] lbarnette commented on #73634
I spoke to a support engineer at Azure support. The link has been restored, and this process is now working again.

[2021-05-08 12:21] #73634 closed

[2021-05-08 12:44] MayankBargali-MSFT commented on #74982
@melvincanafranca Thank you for your feedback! We will review and update as appropriate.

[2021-05-08 13:44] amanmcse commented on #74862
@afield1235 There can be 2 reasons:
1. If the affected user account is a cloud-only user account, make sure that the user has changed their password after you enabled Azure AD DS. This password reset causes the required credential hashes for the managed domain to be generated.
To confirm it, check the value of pwdLastSet attribute of the affected user in AD Users and Computers console. If the valu

[2021-05-08 15:09] andrew-twigg opened #75000 "Tinfoil no longer available"
Hi Tinfoil is no longer available but the document references it. Ref. https://azure.github.io/AppService/2020/03/16/Important-update-for-Tinfoil-security.html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce94e95d-f2df-72de-66d0-56930547ee98
* Version Independent ID: 8d258a24-3bd7-dd4e-db41-9cfea8d077ee
* Content: [

[2021-05-08 15:12] kobulloc-MSFT commented on #73684
@andybouts I reached out to the product group again and a tracking item has been created (18011 above).

[2021-05-08 15:31] gfaraj commented on #47611
Sounds good, thank you @RyanHill-MSFT! I'm facing another issue with Sign in with Apple currently. I have auth.json setup for an apple Open ID Connnect provider that works well with my native app. However, I'm trying to add a companion website where I'd like users to be able to sign in for the same app as well.

So I created a Service ID in my Apple Developer account that points "Sign in with Appl

[2021-05-08 15:42] heyjacleu commented on #39711
+1 for requesting this feature. Also doesn't help that it never prompts you for a name of it when you go through the virtual network gateway provisioning process too.

[2021-05-08 15:45] mike-urnun-msft commented on #74996
@pradeepsethi Thank you for your feedback! We will review and update as appropriate.

[2021-05-08 15:46] sudhir-kumar-au3 opened #75001 "Command createProject has failed. Failed to run command - npx truffle unbox Azure-Samples/Blockchain-Ethereum-Template."
I am trying to create new solidity project using **Blockchain Development Kit for Ethereum**.
(Took reference from [Exercise - Install the Blockchain Development Kit for Ethereum](https://docs.microsoft.com/en-us/learn/modules/blockchain-solidity-ethereum-smart-contracts/3-blockchain-dev-kit))
Running following - _npx truffle unbox Azure-Samples/Blockchain-Ethereum-Template_ in terminal is giving

[2021-05-08 15:50] spelluru commented on #74996
@mike-urnun-msft - please check with @mhopkins-msft. They are not PowerShell commands (like New-AzStorageAccount), but the commands that you can run in the PowerShell session in a Cloud Shell. After you confirm with @mhopkins-msft, please add a clarifying note at the top OR remove PowreShell sections altogether if he approves.

This article is part of the tutorial https://docs.microsoft.com/en-us/

[2021-05-08 16:12] diberry opened #75002 "Page linked from Portal but orphaned in TOC"
I clicked on the app service portal link in the startup script area of configuration and came here but when I try to figure out where this file exists in the TOC, so I can come back to it later, there doesn't appear to be a link in the TOC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad93cdc-b192-914c-796c-b1e022d3

[2021-05-08 16:13] SumanthMarigowda commented on #74971
@anyname2 Thanks for the question! We are investigating and will update you shortly.

[2021-05-08 16:15] SumanthMarigowda commented on #74975
@krispenner Thanks for the question! We are investigating and will update you shortly.

[2021-05-08 16:17] SumanthMarigowda commented on #74991
@zxm5010 Thanks for the question! We are investigating and will update you shortly.

[2021-05-08 16:18] SumanthMarigowda commented on #74994
@chenyukang Thanks for the question! We are investigating and will update you shortly.

[2021-05-08 16:20] SumanthMarigowda commented on #74995
@BryRamCam Thanks for the question! We are investigating and will update you shortly.

[2021-05-08 16:21] SumanthMarigowda commented on #74997
@andyjballgit Thanks for the question! We are investigating and will update you shortly.

[2021-05-08 17:18] BhargaviAnnadevara-MSFT commented on #74868
@fedeesku1 Please let us know if you're still seeing errors in the doc and we'll ensure to get them fixed.

We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-05-08 17:33] royal0527 commented on #18894
@Daniel Rocha
I have the same problem ,could you please tell me how to resolve it ,
iam trying here ,but iam not getting.
thank you.

[2021-05-08 17:45] TomArcherMsft commented on #18894
@Duffney Could you please assist @daniel-rocha with this issue.

[2021-05-08 18:01] brunobeltran opened #75003 "Skillset output "name" vs "target" ambiguity in docs"
The example skill used to explain inputs and outputs has output:

[code]

Throughout the text, it is emphasized that

However, this neither explains the difference between "name" and "targetName" nor does it even tell the user which of the two is actually being referenced, since the same name is used.

For example, if I had
[code]
there's no way for a new user to know that they should use "orgs" n

[2021-05-08 18:11] SatishBoddu-MSFT commented on #74886
Hello @YitianSusanLin Thanks for the feedback, this really helps in enhancing the documentation!

Yes, we don't have the 'Edge Hub' in the drop-down list for **'Job Topology'-->'Inputs'**

![image](https://user-images.githubusercontent.com/62923178/117549042-1fc44b00-afed-11eb-850b-9a029ea4b036.png)

**I think we have to revisit the Outputs as well. The 'Edge Hub' is not visible.**

![image](https

[2021-05-08 18:12] SatishBoddu-MSFT commented on #74886
Hello @YitianSusanLin

Our SME will review this feedback soon.

[2021-05-08 18:15] JayaChatterjee-MSFT commented on #74722
@divyaswarnkar Could you please confirm whether I should go ahead and create the PR?

[2021-05-08 18:17] JayaChatterjee-MSFT commented on #74861
Hello @cinthiatengan I haven't heard from you.  could you please share the document link for which you have raised the issue?
Note : This channel is for documentation feedback. If you have any product related issue, Microsoft QnA would be the right platform.

[2021-05-08 18:17] JayaChatterjee-MSFT commented on #75001
@sudhir-kumar-au3  Thank you for your feedback! Could you please share the document link you are referring to?

[2021-05-08 18:23] JayaChatterjee-MSFT commented on #75000
@andrew-twigg Thank you for your feedback! We will review and update as appropriate.

[2021-05-08 18:25] JayaChatterjee-MSFT commented on #75002
@diberry Thank you for your feedback! We will review and update as appropriate.

[2021-05-08 18:26] JayaChatterjee-MSFT commented on #75003
@brunobeltran Thank you for your feedback! We will review and update as appropriate.

[2021-05-08 19:02] SamaraSoucy-MSFT commented on #74960
The doc author has fixed the spelling mistake in the doc so I'm going to close this issue.

[2021-05-08 19:02] #74960 closed

[2021-05-08 19:03] SamaraSoucy-MSFT commented on #74906
I have assigned the issue to the doc author to update appropriately.

[2021-05-08 20:13] guettli opened #75006 "<YOUR-IP-ADDRESS> in unclear to me"
Hi,

for me it is not clear what `<YOUR-IP-ADDRESS>` means on the below page.

Some more details would be fine.

I guess Your-IP-Address means my IP, so that I can connect via psql. This would mean it is optional. If it is optional,
then maybe don't provide it by default. Because I first thought you need to insert the IP of the pod.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-05-08 20:21] guettli opened #75007 "'django.db.backends.postgresql'"
According to the docs the string for `ENGINE` is

'django.db.backends.postgresql'

https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-DATABASE-ENGINE

The text uses an old syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894542f3-4a24-3523-a8af-cd69bb738ea4
* Version Independent ID: d3c30283-8d4a-0b9

[2021-05-08 20:46] guettli opened #75008 "Typo myAKSCluster"
At the top of the document you use the name "djangoappcluster"

And later you use this:

[code]

I guess this makes sense:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894542f3-4a24-3523-a8af-cd69bb738ea4
* Version Independent ID: d3c30283-8d4a-0b91-f3d5-46859338e9b7
* Content: [Tutorial: Deploy Django on AKS

[2021-05-08 23:55] pospospos2007 commented on #74981
Thank you. `sudo iotedge system stop `works for 1.2

[2021-05-08 23:55] #74981 closed

[2021-05-09 00:10] sudhir-kumar-au3 commented on #75001
Here is the link which I referred.
https://docs.microsoft.com/en-us/learn/modules/blockchain-solidity-ethereum-smart-contracts/3-blockchain-dev-kit

[2021-05-09 02:52] ylashin commented on #74358
Thanks @azaricstefan for the feedback.
I got your point regarding the default collation being case insensitive.
It is just a "nice to have" to update the SQL statements in the article to work for all types of collations as there is no explicit instructions to use master database or a database created with default collation.

[2021-05-09 02:52] #74358 closed

[2021-05-09 03:05] MNF opened #75010 "Clarify to whom migration is applicable"
It will be good to clarify at the beginning of section in https://docs.microsoft.com/en-us/azure/active-directory-b2c/contentdefinitions#migrating-to-page-layout
To whom migration is applicable, e.g. if current version is 1.1 or earlier
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da541cb-72b5-

[2021-05-09 03:40] TomoKorosec opened #75011 "to many latters to many problems for me i dont want to read a lot just make things easier and more cooler"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-securit

[2021-05-09 03:41] TomoKorosec commented on #75011
koment :;D love you guys you are best :D so i am 2

[2021-05-09 05:11] BharathNimmala-MSFT commented on #75007
@guettli Thanks a lot for bringing this to our notice, our team will review it and get back to you at the earliest.

[2021-05-09 05:12] BharathNimmala-MSFT commented on #75006
@guettli Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-05-09 05:14] BharathNimmala-MSFT commented on #75008
@guettli Thanks a lot for taking time to share your feedback, our team will review it and update the document accordingly.

[2021-05-09 10:02] aelij commented on #74749
@SaiKishor-MSFT how long did it take for the IP to appear? I waited over 30 minutes. If it takes longer than a few minutes I would add a warning to the docs.

[2021-05-09 11:43] MNF opened #75012 "No links for sections 4 and 5"
When I clicked on section 3 and 3.1 headers, I see link icon and can save url including fragment,
E.g. https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-with-html?pivots=b2c-custom-policy#3-configure-cors.
However I am not able to see link for sections 4 and 5 when I try to click the headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-09 12:06] MNF opened #75013 "add LoadUri examples of absolute urls."
All examples of LoadUri on this page are shown as relative with ~, e.g.

`<LoadUri>~/tenant/default/unified.cshtml</LoadUri>`

From this page it is not clear, how can I specify external file.
I had to find it on another page https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-with-html?pivots=b2c-custom-policy#3-configure-cors

It will be good to add examples of absolute urls.

[2021-05-09 13:37] neminat opened #75014 "RSS Feed"
I noticed that Intune whats new and under development pages have an RSS feed for the page.  I would love to see this with the WVD whats new page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 344df76e-2b44-9154-fea7-b2b16f3081d3
* Version Independent ID: 7290593f-1a6c-4c17-e1e1-81e90ecd750d
* Content: [What's

[2021-05-09 13:44] JayaChatterjee-MSFT commented on #75010
@MNF Thank you for your feedback! We will review and update as appropriate.

[2021-05-09 13:48] JayaChatterjee-MSFT commented on #75011
@TomoKorosec Thank you for reaching out. Could you please provide little more description of the issue? Please share the section details which you are referring to.

[2021-05-09 13:49] JayaChatterjee-MSFT commented on #75012
@MNF Thank you for your feedback! We will review and update as appropriate.

[2021-05-09 13:56] JayaChatterjee-MSFT commented on #75014
@neminat Thank you for your feedback! We will review and update as appropriate.

[2021-05-09 14:45] Herman5006 opened #75015 "mutual cert authentication between application gateway and backend web app"
[Enter feedback here]
Mutual cert authentication is applied on web app, and web app is put in behind of application gateway. Health probe is failed with 403 error. This should be due to mutual cert authentication is enabled on web app.

Is this scenario supported? If supported, how to config backend http settings to pass mutual cert authentication? Thanks.

---
#### Document Details

⚠ *Do not edi

[2021-05-09 15:14] BhargaviAnnadevara-MSFT commented on #74970
@maksim-at-cedrus Could you please provide us with the URL of the document you're referring to?

[2021-05-09 15:39] KranthiPakala-MSFT commented on #74909
@Josbourne2
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-09 15:39] #74909 closed

[2021-05-09 15:46] KranthiPakala-MSFT commented on #74951
@Nikill Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://doc

[2021-05-09 15:56] KranthiPakala-MSFT commented on #74818
HI @D-Moonesinghe , These terms are defined by the product team and as this seems to be a product feedback, we would like to request you to please share your feedback in Azure Synapse Analytics user voice forum : https://feedback.azure.com/forums/307516-azure-synapse-analytics which is actively monitored and reviewed by engineering teams.

If you have any other feedback for this doc improvement pl

[2021-05-09 16:21] pragnagopa opened #75016 "[AzureFunctions]Update references V2 Core Tools to V3"
Update reference to V2 Core Tools here : https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp#configure-your-local-environment

To point to V3 Core Tools.

Functions V2 apps are auto-upgraded to run on V3: https://github.com/Azure/app-service-announcements/issues/266 . We recommend customers to use

[2021-05-09 16:21] pragnagopa commented on #75016
cc @ggailey777 @craigshoemaker  fyi

[2021-05-09 16:47] michaelulmer opened #75017 "Possible mistake in the Conditional Access policy guide"
Within the CA policy guidance it says:
Title: "Create a policy to require registration from a trusted location:"

In Step 6 it says:

Under Conditions > Locations, configure the following options:
  - Configure Yes.
  - Include Any location.
  - Exclude All trusted locations.

I assume this should be
Under Conditions > Locations, configure the following options:
  - Configure Yes.
  - Include All

[2021-05-09 18:04] stevelsd opened #75018 "Azure AAD Connect - Synchronizing temporary passwords and "Force Password Change on Next Logon""
This option in the article works just fine if one performs the operation as a single user operation but to perform this operation in bulk it fails. It appears the only way to perform the operation is to facilitate by right selecting a specific individual user in On-Premise AD ADUC and selecting rest user password. This approach allows one to create a temp password and check the box to force the us

[2021-05-09 18:18] manishkungwani opened #75019 "Missing references on how to fetch AzureAD user attributes."
We are syncing on-prem AD to Azure AD using AzureADConnect and need to verify that the following attributes from on-prem AD are syncing successfully. The documentation doesn't mention how to fetch these attributes from AzureAD

- commonName (cn)
- countryCode
- DisplayNamePrintable (SimpleDisplayName?)
- middleName
- mS-DS-ConsistencyGuid
- msExchImmutableId
- msExchRecipientDisplayType
- msRTCSIP

[2021-05-09 18:21] proazr opened #75020 "Trivial Wording Issue around NIC IP Assignment"
One of the key details listed for Private Endpoints is as follows:

"When creating a private endpoint, a read-only network interface is also created for the lifecycle of the resource. _**The interface is assigned dynamically private IP addresses from the subnet that maps to the private link resource**_. The value of the private IP address remains unchanged for the entire lifecycle of the private e

[2021-05-09 19:57] JayaChatterjee-MSFT commented on #75015
@Herman5006 Thank you for your feedback! We will review and update as appropriate.

[2021-05-09 20:15] pradeepsethi commented on #74996
@spelluru - The confusion is because of inconsistency. If you replace Azure CLI with Bash in all the sections then it will be very clear that all of them are Azure CLI commands for Bash and Powershell environment.

![Bash](https://user-images.githubusercontent.com/502600/117584990-fcda8980-b107-11eb-8a72-04a242f5ee69.jpg)
![AzureCLI](https://user-images.githubusercontent.com/502600/117584993-fd732

[2021-05-09 20:16] StephaneBischoff commented on #34451
WEBSITES_CONTAINER_START_TIME_LIMIT does seem to work either. It fails way to fast after deploying. :( This is a sad first time experience.

[2021-05-09 20:30] RyanHill-MSFT commented on #75017
Thanks for the feedback @michaelulmer! We are currently investigating and will update you shortly.

[2021-05-09 20:35] RyanHill-MSFT commented on #75018
Thanks for the question! We are currently investigating and will update you shortly.

[2021-05-09 20:45] RyanHill-MSFT commented on #75019
Thanks for the question! We are currently investigating and will update you shortly.

[2021-05-09 20:47] RyanHill-MSFT commented on #75020
Thanks for the feedbac! We are currently investigating and will update you shortly.

[2021-05-09 21:27] webash commented on #70867
Nice one @DavidMwihuri01

[2021-05-09 21:31] fberasategui opened #75021 "Please update documentation to refer to latest Nuget packages"
Package [Microsoft.Azure.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/) has been superseded by [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/7.2.0-beta.2).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e96c1d63-b7a0-6b45-074a-23e95045436c
* Version Inde

[2021-05-09 23:08] MNF opened #75022 "Best practice How to setup secret about to expiry alerts"
“Under Expires, select a duration for which the secret is valid, and then select Add.”

it will be good to add tips about  Best practice How to setup secret about to expiry alerts.
Will we receive such alerts from Azure itself? if yes, who will receive them or how user can subscribe to such alerts? Or we need to do it by ourself in MS outlook or other schedule tool?

---
#### Document Details

⚠ *

[2021-05-10 00:07] fedeesku1 commented on #74868
Hey @BhargaviAnnadevara-MSFT its in the screenshot, apologies for the late reply. Thank you for responding

[2021-05-10 00:11] avishnyakov opened #75023 "Broken links in section "Virtual network template""
Section "Virtual network template" refers to [ VNet Template for Databricks VNet Injection](https://azure.microsoft.com/en-us/resources/templates/101-databricks-vnet-for-vnet-injection/) page which, in turn, refers to non-existing ARM template example on the GitHub:

* https://github.com/Azure/azure-quickstart-templates/tree/master/101-databricks-vnet-for-vnet-injection

Both "Deploy to Azure" and

[2021-05-10 00:42] HenryFreiburg opened #75024 "Suggested updates to pag:"
[Enter feedback here]

Hello,  This page and similar ANF Solution Architecture pages are GREAT sales tools.  We appreciate the work that goes into them...   Here are some suggestions:

This sentence:
"With block storage, virtual machines have imposed limits on I/O and bandwidth for disk operations, network bandwidth limits alone are applied against Azure NetApp Files only at that."

Should be rewr

[2021-05-10 00:50] IterateMe opened #75025 "update CLI command in example"
For this command :
az iot hub connection-string show \
  --policy-name service \
  --name {YourIoTHubName} \ ⚠      <-- I had an error for --name
  --output table

  --hub-name {YourIoTHubName} \  ➟ should be used instead as shown in the [ref documentation](https://docs.microsoft.com/en-us/cli/azure/iot/hub/connection-string?view=azure-cli-latest#az_iot_hub_connection_string_show)

---
#### Docume

[2021-05-10 01:03] CameronAHSA opened #75026 "PIVOT clause (SQL Analytics) - improved examples please"
Can you kindly add additional real-world examples for the PIVOT clause (SQL Analytics).

The current 2 examples do not adequately display the complete functionality, and are (IMO) not particularly useful.

This is the **headline documentation page for PIVOT clause**, so something more comprehensive ([like this Databricks page](https://databricks.com/blog/2018/11/01/sql-pivot-converting-rows-to-col

[2021-05-10 01:38] byroncollins opened #75027 "system-reserved information"
What is the system-reserved used by Microsoft for each of the VM sizes or is the default system-reserved used for all VM sizes.

I'm looking for allocatable vCPU and RAM for each of the VM Sizes for capacity planning. it would be good to see this in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06655

[2021-05-10 02:08] mmacy commented on #74080
#reassign:henrymbuguakiarie

[2021-05-10 02:09] asixtwonineartblog opened #75029 "Hearing aid put int the roof of my mouth after being sexually assaulted"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenant - Azure AD](https://docs.microsoft.com/en-ca/azure/active-directory/fundamentals/active-d

[2021-05-10 02:10] asixtwonineartblog opened #75030 "Contact Katheryn from Pacific Autism , Contoso, Hotel time shares in Asia"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-05-10 02:44] NickDrouin opened #75031 "Use newer az appconfig kv set-keyvault in example code."
In the sample, the line:

[code]

Causes:

`WARNING: There is a dedicated command to set key vault reference. 'appconfig kv set-keyvault -h'`

Should read:

[code]

I'm on az version: 2.18.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf224ca3-6c4a-37fb-c8f5-cb8f99aafe2d
* Version Independent ID: 53e84d35-ebf0-ea64-

[2021-05-10 02:46] NickDrouin commented on #75031
Also, consider adding `--yes` to all relevant commands, anyone scripting will not want interactive mode.

[2021-05-10 03:20] CHEEKATLAPRADEEP-MSFT commented on #74985
@vivekdde It's Azure SQL Data Warehouse.

Synapse SQL is a distributed query system for T-SQL that enables data warehousing and data virtualization scenarios and extends T-SQL to address streaming and machine learning scenarios.

Synapse SQL offers both serverless and dedicated resource models.

This [article](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/overview-architecture) desc

[2021-05-10 03:24] CHEEKATLAPRADEEP-MSFT commented on #75023
@avishnyakov  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-10 03:25] CHEEKATLAPRADEEP-MSFT commented on #75026
@CameronAHSA  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-10 03:31] kapilsharmagit opened #75032 "Mismatch between diagram and description step #4"
[Enter feedback here]
Diagram says 8 byte binary but description says 16 byte binary. Kindly correct it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content: [Implement password hash synchronization with Azure AD Co

[2021-05-10 03:49] CHEEKATLAPRADEEP-MSFT commented on #75025
@IterateMe With the latest version of CLI you can use any one of the format below:

[code]
![image](https://user-images.githubusercontent.com/79183421/117603357-7a39e480-b170-11eb-89a3-f621be5e0d10.png)

Hope this helps.

[2021-05-10 03:52] CHEEKATLAPRADEEP-MSFT commented on #74771
@anilmur  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-10 03:52] #74771 closed

[2021-05-10 03:53] CHEEKATLAPRADEEP-MSFT commented on #74859
@dckfnuance  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-10 03:53] #74859 closed

[2021-05-10 03:53] CHEEKATLAPRADEEP-MSFT commented on #74863
@grayjeremy  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-10 03:55] CHEEKATLAPRADEEP-MSFT commented on #74885
@JerryMWeeks  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-10 03:55] MayankBargali-MSFT commented on #75021
@fberasategui The documents say in the warning section "_This quickstart uses the old Microsoft.Azure.ServiceBus package_" and the navigation tree also states the same "Publish and subscribe for messages (old versions/packages) --> .NET(Microsoft.Azure.ServiceBus)".

It depends upon the user if they want to leverage the .NET new (Azure.Messaging.ServiceBus) or the old (Microsoft.Azure.ServiceBus)

[2021-05-10 03:55] #74891 closed

[2021-05-10 04:00] MikeDodaro commented on #74729
@SteveColegrove  Further discussion, we recommend the following to get JSON source:

Sounds a good idea and this is doable. If you follow the document:
9.	Click Add.
10.	Review the permissions.
11.	Click Review and create.
Before “Click Review and create”, you can click the “JSON” tab and get the JSON file like:

![GetJSON](https://user-images.githubusercontent.com/7998293/117604172-8b033f80-b109-

[2021-05-10 04:02] ram-msft commented on #74875
@crisansou Thanks, Could you please share snapshot the Baseline Dataset and Target Dataset.
![Uploading image.png…]()

[2021-05-10 04:03] alextanghk opened #75033 "Missing part from Add an API manually"
1. Missing the settings explanation for creating blank API, the " Import and publish your first API tutorial" settings is not the same as the one for blank api, the new api operation will response 500 if you missing the web service url setting in this step but this part was not mention in here, I have to google it.
2. The operation will return 404 even I but the web service URL when I create a bla

[2021-05-10 04:04] CHEEKATLAPRADEEP-MSFT commented on #74826
@R1k91  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-10 04:08] yjin81 commented on #74634
@adiazcan , does the live demo work for you with @zackliu 's suggestion?

I will also update the guide with some screenshots later.

[2021-05-10 04:32] MayankBargali-MSFT commented on #74982
@melvincanafranca Thanks for reporting this item! I have updated the doc and once approved it will be published soon. We appreciate the feedback!

[2021-05-10 04:51] vipulsparsh commented on #75022
@MNF Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-10 04:59] vipulsparsh commented on #75032
@kapilsharmagit Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-10 05:07] HarshitaSingh-MSFT commented on #75031
Hello @NickDrouin , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-10 05:10] AjayKumar-MSFT commented on #74867
@mullis623, We have reported this to our product engineering team internally and they're working on it. At this time, there is no ETA to share. Once completed, the document will also be updated appropriately. Thanks again for taking time to share your valuable feedback.

[2021-05-10 05:10] #74867 closed

[2021-05-10 05:22] #75029 closed

[2021-05-10 05:44] MayankBargali-MSFT commented on #75033
@alextanghk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-10 06:24] henrymbuguakiarie commented on #74080
Hello @mmacy we have create ADO work for this issue. Here is the ADO work item: https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1386685

[2021-05-10 06:38] henrymbuguakiarie commented on #74080
https://github.com/MicrosoftDocs/azure-docs/issues/74080

[2021-05-10 06:42] #74080 closed

[2021-05-10 06:44] adiazcan commented on #74634
yes, It's working right now. I missed something on my firt test although I tested two times with the same result.

[2021-05-10 06:51] psmanhas commented on #74748
@kemurayama I have discussion internally and got to know that the possible reason might be that you don't have the CLI extension installed or the version is too old can you please check it and let me know if that is the case?

Thanks

[2021-05-10 06:53] psmanhas commented on #75014
@neminat Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-05-10 06:53] psmanhas commented on #75014
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-05-10 07:12] psmanhas opened #75037 "Service Fabric 8.0 - where is the documentation?"
[Enter feedback here] As per our customer feedback as below:

04-08-2021 11:02 AM release was announced Service Fabric 8.0 : https://techcommunity.microsoft.com/t5/azure-service-fabric/azure-service-fabric-8-0-release/ba-p/2260016
Added readiness probe for containerized applications !
A month has passed! Where is the documentation ?
I expected to see her here: https://docs.microsoft.com/en-us/azur

[2021-05-10 07:13] psmanhas commented on #75037
@tugup Can you please check and add your comments on this doc update request as applicable

[2021-05-10 07:24] JackCaster commented on #74839
I was wondering if `cudatoolkit` should be included in the environments we create for Pytorch. In general, it would be good to have a sort of list of packages we should include when creating new env for azureml (as the compilation of Docker images takes quite long it would be a pity to find out later that there is a missing dep), or document the curate environments here in the doc so that we can h

[2021-05-10 07:27] Hakuroda opened #75038 "Wrong document description regarding data transfer charge with AMS."
In this article's "Which origin services are eligible for free data transfer with Azure CDN from Microsoft?" section, it said that it can't any charge when we use a pair of Azure CDN and Azure Media Service.
But Azure support team said that it can charge when we use Azure CDN and Azure Media Service. If we integrated CDN from Azure Media Service a data transfer is free, but if we integrated CDN fr

[2021-05-10 07:35] yoelhor commented on #74696
Use inclusion to have multiple technical profiles that share the core elements. A common technical profile with the common set of configuration, along with the three technical profiles (pet the host name) that include the common technical profile.

[code]

Create a technical profile that initiates a claim that contains the host name

[code]

In your user journey, call the `Init-Claims` technical p

[2021-05-10 07:42] #74951 closed

[2021-05-10 07:42] Nikill commented on #74951
known issue handled by Azure DevOps support team

[2021-05-10 07:47] #75033 closed

[2021-05-10 08:03] leswaters opened #75040 "How to map CSV columns when uploading using BCP?"
BCP appears to assume that the CSV file being uploaded to a SQL database: (a) has no header row [though there is a switch to skip a number of rows]; and (b) that the column ordering in the CSV input perfectly matches the column order in SQL.  In the real world, this is often not the case.

* Is there a way to use column names in the first row of the CSV?  Either way, this should be stated in the d