[2019-04-17 17:56] tfitzmac commented on #29115
@Charmendar - unless you are still having a problem with this, we will close the issue.

[2019-04-17 17:57] tfitzmac commented on #29115
#please-close

[2019-04-17 17:57] thoaingan commented on #29591
Please disregard. I was able to find the query results in the HTTP request.

[2019-04-17 17:57] Karishma-Tiwari-MSFT commented on #29522
@bertrandpons We appreciate your feedback to improve our products. You can provide the feedback by going to Product feedback button on the bottom of the doc.

[2019-04-17 17:59] MarileeTurscak-MSFT commented on #29485
Hi @Neckross ,

What is the output when you use these attributes? I have been able to use this with parameters like device.deviceCategory -eq "Personal Phones" and gotten it to work by setting it to the security group of the same name. The name needs to be the device category name that you got from the Azure portal.

Since we use the doc comments for doc-issues only and this seems to be more of a

[2019-04-17 17:59] MikeRayMSFT commented on #29003
@etshih - We've updated this article. The updated content with clarified instructions will be live in the next day or so. Thank you for pointing this out.

[2019-04-17 17:59] Charmendar commented on #29115
Sure thanks for the solution!

[2019-04-17 17:59] #29115 closed

[2019-04-17 17:59] MarkMcGee1 commented on #6135
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 17:59] #6135 closed

[2019-04-17 17:59] Karishma-Tiwari-MSFT commented on #20171
@yyanev Is it a known issue? Please share your insights.
@aavdberg Can you please provide the details as asked above so that our team can help you better.

[2019-04-17 18:04] Neckross commented on #29485
@MarileeTurscak-MSFT - thank you for the feedback. I was able to get the device.deviceCategory -eq "ADJ" to work right after I categorized the device before creating the Azure DDG.
However, how about the other attributes available to use... which are of those can we use  to properly group an ADJ or HDJ device in Azure? (for example: device.DeviceTrust) they don't seem to work even though the value

[2019-04-17 18:05] Anmolgan81 commented on #29288
Hi All,

Yes we have enabled the subscription for HDinsight autoscale feature, but whenever we try to create a HDinsight cluster with auto scaling feature it fails at the same error that I sent you few days ago. I wonder what that is.

Regards
Anmol Ganju

________________________________
From: himanshusinha-msft <notifications@github.com>
Sent: Wednesday, April 17, 2019 10:45:01 PM
To: MicrosoftD

[2019-04-17 18:05] MarkMcGee1 commented on #6163
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 18:05] #6163 closed

[2019-04-17 18:08] jackbond commented on #29537
@KalyanChanumolu-MSFT I looked at the sample, and to be blunt, it demonstrates that, when using Cosmos with Gremlin, Cosmos has ABSOLUTELY ZERO SPATIAL SUPPORT. Pulling data out of a database, which happens to store a coordinate, and then performing ALL your spatial calculations in .NET code, does not count as spatial support. In addition, pre-calculating distances between points and storing those

[2019-04-17 18:08] MarkMcGee1 commented on #6348
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 18:08] #6348 closed

[2019-04-17 18:10] B-Dillon commented on #27712
I am having the same exact issue. My pipeline works fine until I add an event based trigger. I receive the same error message.

This endpoint does not support BlobStorageEvents; SoftDelete or AutomaticSnapshot. Please disable these account features if you would like to use this endpoint.

Can anyone give me some insight as to how I can either fix this or if it's a limitation being worked on curren

[2019-04-17 18:11] MikeRayMSFT commented on #29003
#please-close

[2019-04-17 18:13] etshih commented on #29003
Thanks!

[2019-04-17 18:13] #29003 closed

[2019-04-17 18:15] rboucher commented on #21145
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.

#please-close

[2019-04-17 18:15] kgremban commented on #27078
@erwelch Following up to see if you're still experiencing this issue and want us to continue working to help you resolve it?

[2019-04-17 18:16] tony-gutierrez opened #29600 "agentKeepALive recommendation probably not a great choice"
This library has had a possible socket bug for a year now. There doesnt seem to be a great alternative, mainly because most environments have faster and more ports than Azure app services.
https://github.com/node-modules/agentkeepalive/issues/57

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e6469b-0c90-c4ba-cf41-354

[2019-04-17 18:19] AlexBevan commented on #20171
Virtual machine name
alexgithubissue
Region
UK South
Availability options
No infrastructure redundancy required
Authentication type
Password
Username
azureuser
Public inbound ports
SSH
Login with Azure Active Directory (Preview)
On
         "imageReference": {
                        "publisher": "Canonical",
                        "offer": "UbuntuServer",
                        "sku": "18.04-LT

[2019-04-17 18:20] tfitzmac commented on #29521
@johnwildes - thanks for this feedback. I am seeing the same behavior. I can access the root management group but the Rename Group button is disabled.

@rthorn17 - can confirm if the ability to rename the root management group has been removed?

[2019-04-17 18:21] TravisCragg-MSFT commented on #29529
@joseq-terawe What is the error you are getting when you try and start a backup? Are you trying to back up an ASDK instance or an Azure Stack Multi-Node?

Also, make sure that you can reach the file share that you are trying to back up to from the Azure Stack base OS using the same share path and credentials.

[2019-04-17 18:22] Karishma-Tiwari-MSFT commented on #29449
@laurenhughes Can you please share your insights on this issue. Thanks. :)

[2019-04-17 18:24] kgremban commented on #28693
@LeeHyeongWon I don't think I understand your follow up questions 1-1 and 1-2. Can you provide more information about the scenario you're trying to accomplish? You're trying to tell a module when it's been offline so it knows to continue processing messages it received before going offline?

As for your second question, yes you can use HTTP requests for module-to-module or module-to-cloud communic

[2019-04-17 18:24] tfitzmac commented on #29521
Sorry, I now see that I can rename the root management group, after making myself the Owner of the group. By default, my role was Reader. I'll update the article.

[2019-04-17 18:26] #6410 closed

[2019-04-17 18:27] yushwang commented on #29536
@msrini-MSFT

- Please assign the issue to @anavinahar to triage or redirect
- Please include @telmosampaio if any clarification is needed for the arch doc mentioned above

@jfoliveira - Azure VPN BGP is a complete private peering between your virtual network and on-premises networks. The recommendation is to use Private ASNs within the IPsec tunnels for cross-premises routing and communication. I

[2019-04-17 18:28] #6434 closed

[2019-04-17 18:29] kgremban commented on #29173
The name of a module should only change if you use a new deployment manifest that has a different name in it. It is true that the marketplace module uses the name SimulatedTemperatureSensor, but that in a lot of our sample deployment manifests it's just called tempSensor.

[2019-04-17 18:29] MarkMcGee1 commented on #6435
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 18:29] #6435 closed

[2019-04-17 18:30] sique976 commented on #29358
Hi! Good morning! Yeah, I found him. He was in the closed tabs. But I also try to reach him on GitHub but couldn´t. Thanks!!!

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: himanshusinha-msft <notifications@github.com>
Enviado: Sunday, April 14, 2019 1:02:38 AM
Para: MicrosoftDocs/azure-docs
Cc: San; Mention
Assunto: Re: [Mic

[2019-04-17 18:30] sique976 commented on #29359
Hi! Yes! Obs. Would you please correct the English language mistakes?? Well, I have made this tutorial several times, but now what happened was that no carousel showed up or even the thumbnails images. And I must confess that it´s all about put some images on my website hosted on the Azure cloud. I am going to read the developers guide for Azure...

Enviado do Email<https://go.microsoft.com/fwlink

[2019-04-17 18:31] jinman commented on #11101
Is Azure CosmosDB planning to support DriverRemoteConnection support anytime?

[2019-04-17 18:31] #6564 closed

[2019-04-17 18:37] MarkMcGee1 commented on #6590
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 18:37] #6590 closed

[2019-04-17 18:38] MarkMcGee1 commented on #6620
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 18:38] #6620 closed

[2019-04-17 18:40] MarkMcGee1 commented on #6649
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 18:40] #6649 closed

[2019-04-17 18:42] #6685 closed

[2019-04-17 18:42] snyder-riley-pfg opened #29601 "The runbook job was attempted 3 times, but it failed each time. Too vauge?"
We have a runbook to do inventory of all azure resources. Since adding more subscriptions we have been unable to get the runbook to complete, and all we get is the dreaded "The runbook job was attempted 3 times, but it failed each time." error.

On this page there are several causes listed, and we have tried to mitigate each one as if it were the cause but to no luck. Running the script locally is

[2019-04-17 18:42] twooley commented on #13825
@jboriott The video link is removed from the topic. Thanks for reporting, and apologies for the delay.

#please-close

[2019-04-17 18:43] SaurabhSharma-MSFT commented on #27028
@SamBlakeC We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-17 18:43] #27028 closed

[2019-04-17 18:44] jishnudantu commented on #14769
Get https:/myregistry.myuser.io/v2/: Service Unavailable is the error I'm getting

[2019-04-17 18:45] #6775 closed

[2019-04-17 18:46] Karishma-Tiwari-MSFT commented on #20171
Thanks @AlexBevan for sharing the details.
The product team are made aware of this issue and they are investigating. I will share updates here.

[2019-04-17 18:48] apan64 commented on #29582
Uninstalling and reinstalling the package updated to the correct version

[2019-04-17 18:50] dksimpson commented on #16462
@andreaghirardello Thank you for your contribution. We've fixed the allowed values for the minutes property.

[2019-04-17 19:02] khan-tariq commented on #29565
Hi Karishma,

Below is the link where it mentioned that Teams and SFB is not supported in vdi.
I believe teams is most appreciated  application marketed by you. Even we as a firm looking for the same instead of SFB in future. And we are really disappointed that it is not supported in vdi which we wanted for our firm.

So please let us know about this in future release or not.

https://docs.microso

[2019-04-17 19:05] dajarma opened #29602 "How to configure what data is collected for containers"
My service uses Application Insights for logs, but also prints to stdout for easy troubleshooting when containers can't start up. How can I configure the OMS agent to not collect ContainerLogs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78f-0f1a-20

[2019-04-17 19:05] MicahMcKittrick-MSFT commented on #29592
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 19:06] shashishailaj commented on #29431
We are glad that you were able to resolve this. Thank you for sharing the solution with the community .   We will now proceed to close this thread as it does not seem anything is pending at this point . We will try to see how we can incorporate this within our documentation .

Thanks again .

[2019-04-17 19:06] #29431 closed

[2019-04-17 19:11] Mike-Ubezzi-MSFT commented on #29587
@yehoshuadimarsky Thank you very much for your interest in Azure cloud services. I responded to the SO as for the specific `CREATE EXTERNAL DATA SOURCE` but it would be good to see your other two necessary T-SQL for `FILE FORMAT` and `EXTERNAL TABLE`. So, in total, you should have run 3 separate T-SQL, such as:

Create an external data source:

-- (on SQL Server 2016)
**CREATE EXTERNAL DATA SOURCE

[2019-04-17 19:13] MaximAeon commented on #5850
So there isn't a way to target different attributes for a teacher account vs a student account to compose the OrgUnitPath, whatever we choose has to apply to all accounts?  I really want to replace GADS with this but need to be able to parse the description of a student account for their grade level vs Staff account department for staff account placement.

[2019-04-17 19:18] MarkMcGee1 commented on #6831
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:18] #6831 closed

[2019-04-17 19:22] MarkMcGee1 commented on #6869
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:22] #6869 closed

[2019-04-17 19:24] yehoshuadimarsky commented on #29587
Thanks. I just updated the SQL code in the SO question. And I in fact quoted the NYC taxi cabs tutorial in my SO question.

[2019-04-17 19:25] MarkMcGee1 commented on #6925
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:25] #6925 closed

[2019-04-17 19:27] MarkMcGee1 commented on #6973
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:27] #6973 closed

[2019-04-17 19:28] lwillek commented on #20171
Maybe caused by package "aadlogin_1.0.008300001_amd64.deb" released on 12-Apr-2019 19:33
No problem here with older deb package aadlogin_1.0.006350001_amd64.deb.
OS: latest Ubuntu 18.04.2 LTS (codename: bionic) with all updates installed.
MS case 119041621001325

[2019-04-17 19:29] MarkMcGee1 commented on #6992
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:29] #6992 closed

[2019-04-17 19:30] MarkMcGee1 commented on #6999
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:30] #6999 closed

[2019-04-17 19:32] MarkMcGee1 commented on #7109
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:32] #7109 closed

[2019-04-17 19:33] MarkMcGee1 commented on #7119
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:33] #7119 closed

[2019-04-17 19:34] #7130 closed

[2019-04-17 19:37] Alberto-Vega-MSFT commented on #29053
@ mysaggar closing here since support it is taking care of this. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-17 19:37] #29053 closed

[2019-04-17 19:37] normesta commented on #27536
@ghahm - Thank you for helping us find these sorts of inconsistencies. We've redirected that article to a more updated step-by-step article for using ADLSG2 with HDInsight.

[2019-04-17 19:38] juststur opened #29605 "Undefined 'sufficient permissions'"
Under the heading 'To assign an owner to an application registration', step 2 mentiones a user with sufficient permissins to access the Enterprise Applications page.  Where is it documented permissions needed to provide a read only level of access to the page?  Looking to assign a non admin user rights to manage a signle Enterprise Application who has no AAD role assignment.

---
#### Document Det

[2019-04-17 19:38] MarkMcGee1 commented on #7141
@asinn826 , I'm looking to close old/resolved issues. Should I close this issue, or ? thanks!

[2019-04-17 19:39] MarkMcGee1 commented on #7144
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:39] #7144 closed

[2019-04-17 19:42] MarkMcGee1 commented on #7192
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:42] #7192 closed

[2019-04-17 19:43] siphiwemsibi commented on #14425
Any feedback on the steps for custom domain. Do we use CNAME's to map to the default names?

[2019-04-17 19:45] MarkMcGee1 commented on #7237
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:45] #7237 closed

[2019-04-17 19:47] MarkMcGee1 commented on #7242
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:47] #7242 closed

[2019-04-17 19:49] MarkMcGee1 commented on #7294
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:49] #7294 closed

[2019-04-17 19:51] MarkMcGee1 commented on #7317
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:51] #7317 closed

[2019-04-17 19:51] yyanev commented on #20171
The new version doesn’t allow public key authentication for AAD users, which bypasses the RBAC checks. If you have an installed public key, follow these steps:

  1.  Log on with disabled public key (ssh -o PubkeyAuthentication=no example.com)
  2.  Delete any public keys stored on the VM
  3.  Now you can log in without the extra flag

From: Lutz Willek <notifications@github.com>
Sent: Wednesday,

[2019-04-17 19:51] AlphaCreative opened #29606 "Bind operations don't appear to work when using Azure Key Vault References when attempting to store JSON as secret value"
We have been testing out the Azure Key Vault references feature [https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references](url)
 and we are finding that Configuration.GetSection("sectionName").Bind(bindObj) statements and calls to Configuration.GetConnectionString("connectionStringName") don't appear to be working when using Azure Key Vault references.  I can see the val

[2019-04-17 19:51] yehoshuadimarsky commented on #29587
Also, I verified that the Parquet file is fine and works - I tested by reading it into Databricks/Spark, worked fine. So it seems to be an issue with PolyBase.

[2019-04-17 19:52] MarkMcGee1 commented on #7366
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:52] #7366 closed

[2019-04-17 19:55] CapKenR opened #29607 "Stub domains example is missing data"
The example for stub domains is missing the server name portion of the data element. It currently has

data:
    abc.com:53 { …

but should be something like

data:
    abc.server: |
        abc.com:53 {

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a11

[2019-04-17 19:55] MarkMcGee1 commented on #7404
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:55] #7404 closed

[2019-04-17 19:56] MicahMcKittrick-MSFT commented on #29545
@mudbob thanks for pointing this out. I am not sure where Horizon View came from but looking at my settings it is as you mentioned in the above comment.

I have corrected the doc. Once the PR merges the changes will go live in a few hours.

[2019-04-17 19:56] #29545 closed

[2019-04-17 19:57] MarkMcGee1 commented on #7457
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 19:57] #7457 closed

[2019-04-17 19:57] xurui203 commented on #29132
Hi, an ingress event is a unit of data 64 KB or less. Each one is a billable event. Larger messages are billed in multiples of 64 KB. For example, 8 KB is billed as one event, but a 96 KB message is billed as two events.

API calls count towards the 1000 ingress events quota per TU, so you can consider batching your messages to amortize the number of network calls per ingress event.

[2019-04-17 20:00] yyanev commented on #20171
Adding Sandeep, our PM.

If we don’t have this in the documentation, we should add it.

In the case when we discover an AAD user trying to log in with a public key, we try to send this message to the user:
AAD users are not allowed to use public key authentication. Please add '-o PubkeyAuthentication=no' to your ssh command and try again. You may also want to remove .ssh/authorized_keys file to pr

[2019-04-17 20:01] MicahMcKittrick-MSFT commented on #29566
@maxilampert great question! I am not aware of any documentation we have on this. You can obvously refresh the service principal keys but I am not sure if that would apply to the cluster automatically or if you have to actually update it.

@iainfoulds any feedback on this?

[2019-04-17 20:02] Mike-Ubezzi-MSFT commented on #29587
Thank you for this additional detail. `HADOOP` is the correct value for Databricks, Datalake Store, and Hadoop itself. Just need to check possibilities as there does seem to be an issue with PolyBase. Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If you do, please open a support request with Azure Support. If you do not have a support plan, please send your

[2019-04-17 20:04] yehoshuadimarsky commented on #29587
Ok thanks.

[2019-04-17 20:05] Mike-Ubezzi-MSFT commented on #29587
One thing to check:

So, similar issue but check to see if the schema in the file matchs the target table schema.

[2019-04-17 20:06] MicahMcKittrick-MSFT commented on #29592
@paulbouwer do you know of the command for this ask? I looked through the istio commands but didn't have much luck.

[2019-04-17 20:06] yehoshuadimarsky commented on #29587
It does. Use my code on Stack Overflow to reproduce - very simple schema, 1 string and 1 float64. Run that code, it doesn't work.

[2019-04-17 20:08] Karishma-Tiwari-MSFT commented on #29607
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 20:11] cwester72 commented on #29488
Still happening

[2019-04-17 20:13] jeevansd commented on #29596
@xom-pschiess Yes, we have identified this as a bug in the new Single sign on UI model. Please use the old Single sign on UI for now and then it will work correctly as desired. We are fixing the bug but will take some time for deployment.

[2019-04-17 20:13] jeevansd commented on #29596
#please-close

[2019-04-17 20:15] cap273 commented on #24770
Bringing this thread back. Very interested in the answer to this question:
(1) how many AAD P1 licenses need to be available?
(2) of the AAD P1 licenses available, which users need to be assigned the P1 license?

[2019-04-17 20:22] msebolt commented on #9964
The documentations has been updated, per https://github.com/MicrosoftDocs/azure-docs-pr/pull/73593.

[2019-04-17 20:22] #9964 closed

[2019-04-17 20:24] mxplusb commented on #7119
@MarkMcGee1 this is an actual issue with the documentation link and needs to be updated. It's unfortunate it's over 90 days, but it's still a problem.

[2019-04-17 20:31] kgremban commented on #29379
@mhgurau You're right, that sentence is funny. I'll open a pull request to update the introductory paragraph, and close this issue once those changes get merged. Thanks for bringing this to my attention.

[2019-04-17 20:32] iainfoulds commented on #29566
Not specific to AKS (you're right in that `az aks update-credentials` is only for the SP used by the AKS cluster), but `az ad app credential reset` should do what you want at the Azure AD app level - https://docs.microsoft.com/en-us/cli/azure/ad/app/credential#az-ad-app-credential-reset

[2019-04-17 20:32] tysonn commented on #5774
@MV10 - This has been fixed, thank for the report, sorry for the mixup.

[2019-04-17 20:33] ChristianMontoya commented on #29488
@cwester72 : Can you describe more on what you mean by the "security trust relationship between the machine and the domain" ? I'm not sure I fully understand.

[2019-04-17 20:35] rboucher commented on #18289
@TomasLipensky Thanks for the tip.  Sorry for the late reply.  Added via internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/73563.

[2019-04-17 20:35] rboucher commented on #18289
#please-close

[2019-04-17 20:36] langstonj commented on #29405
My $02:  I would never enable auto shrink for any of our Azure SQL Databases (~280 across five elastic pools) nor would I recommend it.

[2019-04-17 20:37] cwester72 commented on #29488
When you join a computer to a domain there is a trust between the computer and the domain. When there is an issue with that trust you can't log into that computer using domain credentials.
You can see the error here:
https://www.prolved.com/wp-content/uploads/2013/12/TrustWorkstationPrimaryDomainFailed.png

Ive seen this error in regular laptops in a domain environment, but I don't know why loggin

[2019-04-17 20:38] ChristianMontoya commented on #29488
@cwester72 : Yes, that does help. Which OS are you connecting from? And which OS are you connecting to?

[2019-04-17 20:38] tfitzmac commented on #29522
@bertrandpons - you can export a template from the [deployment history](https://docs.microsoft.com/en-us/azure/azure-resource-manager/manage-resource-groups-portal#export-templates-from-deployment-history) rather than from the current state of the resource group. It will give you a template that is easier to reuse. Otherwise, when you export from the state of the resource group, you often need to

[2019-04-17 20:39] cwester72 commented on #29488
Windows 10 to Windows 10

[2019-04-17 20:39] cwester72 commented on #29488
It is a generic error message that existed on previous versions of windows i just found a picture on google, thats why it looks windows 7

[2019-04-17 20:40] ChristianMontoya commented on #29488
Are you connecting to Windows 10 Enterprise or the Windows 10 Enterprise multi-session?

[2019-04-17 20:43] cwester72 commented on #29488
Do you mean Pooled vs Personal? If so I did a Pooled environment consisting of one machine for 3 users. I just following the documentation under Tutorials

[2019-04-17 20:47] xurui203 commented on #29176
Hi Eric, Event Hubs supports geo-replication at the metadata level, so messages are not actually replicated across partitions. Even if messages are actually replicated, geo-replication syncs across a primary and secondary namespace, and the data between the two namespaces will be kept consistent. Unless a failover is triggered, messages sent to partitions within the primary namespace will not be a

[2019-04-17 20:52] femsulu commented on #29591
reopened to add triage labels

[2019-04-17 20:52] dsayed-msft opened #29611 "{Bitrate} macro needs to be added to MP4 filename pattern"
Error: When encoding to multiple video layers the ouput filename pattern must have the {Bitrate} macro to avoid duplicate filenames.

Solution:
Line 74: "filenamePattern": "Video-{Basename}-{Label}{bitrate}{Extension}",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e3ac37-81a2-246c-ae07-d158d814c7d3
* Version Indepe

[2019-04-17 20:52] MartinJaffer-MSFT commented on #29519
@iLikeAzureSQL , could you please clarify where you are not seeing parameters when creating scheduled triggers?

[2019-04-17 20:53] #29591 closed

[2019-04-17 20:56] femsulu commented on #29578
@martgras Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-17 20:56] YutongTie-MSFT commented on #29582
@apan64
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 21:09] rjmiller-revint opened #29612 "Can Service Fabric configuration settings be encrypted on a local dev cluster?"
I've put the cert in the HKLM/My and HKCU/My, and given Everyone access to the private key in HKLM/My.  So I don't know what else to do.

I'm trying to test this on my local development cluster and it is failing with the following error:
"There was an error during activation.Failed to configure certificate permissions. Error E_FAIL."

I also see the following errors in the event viewer under "Apps

[2019-04-17 21:12] DiegoRamirez-MSFT commented on #29470
got it, yeah thats definitely not something we want to address on a separate forum, let me investigate on this and get back to you, I dont think this is the right place to address this kind o request but I will try to find who could help with that

[2019-04-17 21:16] MarileeTurscak-MSFT commented on #29573
From what I remember this is simply an additional security measure. Because the account needs to reach out to Azure AD the MFA settings enforced on the account will apply here. If you would like to put this as a feature request, the correct spot for this is User Voice here: https://feedback.azure.com/forums/169401-azure-active-directory

[2019-04-17 21:16] ChristianMontoya commented on #29488
No, as in which OS base image are your VMs running? If you did it from the tutorial, then it should be "Windows 10 Enterprise multi-session", but I want to confirm.

[2019-04-17 21:16] MarileeTurscak-MSFT commented on #29573
We will proceed to close this thread but if you'd like to continue the discussion feel free to tag me in the comments and I will gladly reply.

[2019-04-17 21:16] #29573 closed

[2019-04-17 21:17] Mike-Ubezzi-MSFT commented on #29206
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-17 21:17] #29206 closed

[2019-04-17 21:18] Minewiskan commented on #28236
@jeffhebrank - Please check out the code sample. If you're still having trouble, it's best to open a support issue.
#please-close

[2019-04-17 21:20] tysonn commented on #29470
@TomasHubelbauer - Thanks for the suggestion, I will look into what this entails.

[2019-04-17 21:27] #29379 closed

[2019-04-17 21:28] mlimache02 opened #29613 "Is it possible to download the certificate obtained from Azure web app? I would like to take posession of the pfx file."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Content: [Buy and configure an SSL certificate from Azure - App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site)
* Content Sourc

[2019-04-17 21:36] DCtheGeek commented on #29514
@Sambsamb Just checking in if this answered your question.  I'll wait to hear from you for another day, and then I'll ask to have the issue closed as I believe I've answered your questions.  Thanks!

[2019-04-17 21:42] guillenmiguel opened #29614 "Add the extension to the VHD file"
On this line:
#Provide the name of the destination VHD file to which the VHD of the managed disk will be copied.
destinationVHDFileName=myvhdfilename

You need to add the VHD extension to make sure that you can build the Disk from the VHD file. If you don't add the extension, they file will be created but not useful at all.

So the Script should be:
#Provide the name of the destination VHD file to

[2019-04-17 21:46] Minewiskan commented on #28799
@patrick-at-atomic-charge - This issue is not clear enough to determine if there is an error in the article. If you are still having an issue, please contact support. If support determines changes need to be made to the article, they will work with the doc team to include them. Thank you.
#please-close

[2019-04-17 21:49] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint what exactly is the issue? Are you trying to deploy a local secured dev cluster and getting this error?

What command are you running that is presenting you with this error?

[2019-04-17 21:54] rjmiller-revint commented on #29612
I’m trying to have encrypted configuration parameters.  But for some reason the local dev cluster doesn’t seem to be able to load the private key for the certificate.  I’ve tried everything.

It’s clearly able to decrypt the string because it is reading the certhumbprint from the ciphertext.  But for some reason it can’t read the private key for the cert.

ApplicationManifest.xml
            <Para

[2019-04-17 22:04] YutongTie-MSFT commented on #29363
@antonecg Hi, sorry for your experience. I just try the tutorials and it works for me well.
![image](https://user-images.githubusercontent.com/38084098/56323772-bd583380-6121-11e9-9b72-82799381d78e.png)

I would suggest you to check your endpoint in your query first. The default endpoint is in WestUS, but yours may not be the same. You need to use the same endpoint as your location. Please tell me

[2019-04-17 22:09] YutongTie-MSFT commented on #29568
@v-pawal Hi, do we have any plan to add samples in C#? Thank you.

[2019-04-17 22:14] JasonWHowell commented on #29288
Hi Anmol,

Are you creating the cluster with an ARM template?

We recently updated the template in this page:
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-autoscale-clusters

We added a **capacity** property in the **autoscale** node that wasn’t there previously. Maybe that is relevant to fixing the problem.
[code]

Thanks, Jason

[2019-04-17 22:15] xom-pschiess commented on #29596
I managed to fix this by creating a Token Issuance Policy on my tenant and assigning it to the Service Principal (Enterprise App) via the Powershell Cmdlets… maybe you can include this in the docs?

###

Connect-AzureAD

New-AzureADPolicy -DisplayName "APPNAMESAML1.1" -Type "TokenIssuancePolicy" -Definition @('{"TokenIssuancePolicy": {"TokenResponseSigningPolicy": "TokenOnly",     "SamlTokenVersio

[2019-04-17 22:16] KingdomOfEnds commented on #29347
A PR for the article has also been created - will hold off until/if I get approval. Thanks!

[2019-04-17 22:21] tysonn commented on #6831
Updates to address this feedback can be found in this article: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-concepts#human. Basically, we added another code snippet towards the bottom of that section showing how the human-triggered event can be raised, along with a description.

[2019-04-17 22:26] iLikeAzureSQL opened #29615 "How to create S3 or WASB Connection for public storage with no Key"
How can we create ADF connections with no key required for S3 ? (same question for WASB)
Sample is this file "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2018-01.csv" or "wasbs://2013@nytaxiblob.blob.core.windows.net/" where I like to directly copy for there to my Azure DW using ADF

![image](https://user-images.githubusercontent.com/16943754/56325126-e5499600-6125-11e9-90d6-66870a7

[2019-04-17 22:29] iLikeAzureSQL commented on #29519
That explains it, thank you for clarification.

[2019-04-17 22:35] khilscher opened #29616 "Function API definition (Swagger) feature is not supported for V2 runtime currently."
This article does not mention that Function API definition (Swagger) feature is not supported for V2 runtime currently. Effectively blocking PowerApps from using Azure Functions v2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb743ac5-5429-b45d-9623-3140b304669b
* Version Independent ID: 2b8fc604-63b0-7ea5-0c75-450f

[2019-04-17 22:37] YutongTie-MSFT commented on #29525
@andrewchungxam Thank you for sharing the solution here. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-17 22:37] #29525 closed

[2019-04-17 22:38] Jann-Skotdal commented on #29568
@ArchieCoder : We have several examples of using C# with Microsoft Translator-- C# is available for all of the quickstarts, the WPF tutorial is built using C#, and you can also view the Document Translator source code on the Microsoft Translator GitHub page at https://github.com/MicrosoftTranslator

[2019-04-17 22:38] YutongTie-MSFT commented on #29518
@lucas95123 Hi Kuan, any update for this issue? Thank you.

[2019-04-17 22:39] yantang-msft commented on #29025
Actually, this section is out of dated for VMs.

Log collection utility path | C:\WindowsAzure\Packages
-- | --

We should replace it with

Log collection utility path | C:\WindowsAzure\Logs\WaAppAgent.log
-- | --

[2019-04-17 22:45] lucas95123 commented on #29518
Hi Yutong,

Yeah I saw the reply from Swati, the max-concurrent run I’m using is 4, so I guess if I only have 4 runs all of them will be queued in first-set of run which will all run till the end right? Does that mean after the first-set of concurrent runs the early termination will guarantee to happen? For example 8 runs in total, 4 max concurrent runs, the latter 4 will be determined for early s

[2019-04-17 22:49] KeiroKamioka0000 opened #29617 "Japan Support"
Does Azure Data Box Disk support in Japan East Region as written in the document?

The pricing page does not show the pricing for East Japan Region.
Also, according from Products available by region site, it say both Japan Region support Data Box Disk as in GA.
Which will cause conflict between the this document.

May I ask Actual Support Status for Japan Region.

![image](https://user-images.gith

[2019-04-17 22:52] jeevansd commented on #29596
We dont want to provide this guidance as this is more complicated, rather we are fixing the bug so that it will be easy for customers.

[2019-04-17 22:53] KeiroKamioka0000 commented on #29617
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=databox&regions=japan-east,japan-west

Adding resource

[2019-04-17 22:56] SaurabhSharma-MSFT commented on #29597
@seantleonard Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-17 22:59] SaurabhSharma-MSFT commented on #29605
@juststur I believe author meant "sufficient permissions" as the permissions granted in step 1 which Application administrator or Cloud application administrator role in the tenant.

[2019-04-17 23:05] ArchieCoder commented on #29568
@Jann-Skotdal Thanks for the quick follow-up.

I will close the issue since there are examples like you mentioned, but please add the link to at least these 2 webpages. For UWP api and even for ages, I'm used seeing example links at the bottom of the API page or even embedded C# samples.

https://docs.microsoft.com/en-ca/azure/cognitive-services/translator/migrate-to-v3
https://docs.microsoft.com/

[2019-04-17 23:05] #29568 closed

[2019-04-17 23:10] iLikeAzureSQL commented on #29615
ADF HTTP Connector allows to connect to S3 storge and pul the data, but I'm still looking for a way to connect to WASB storage from ADF. Thanks

[2019-04-17 23:10] #29519 closed

[2019-04-17 23:11] Jann-Skotdal commented on #29568
@ArchieCoder:

The Translator Text API Documentation index page has links to all of the quickstarts: https://docs.microsoft.com/azure/cognitive-services/translator/

WPF app tutorial: https://docs.microsoft.com/azure/cognitive-services/translator/tutorial-wpf-translation-csharp

[2019-04-17 23:16] YutongTie-MSFT commented on #29568
@Jann-Skotdal Thank you Jann, I totally missed it as well.

[2019-04-17 23:17] tulasim88 commented on #29413
@hansmbakker for your question about whether the metadata matters when you have a separate KB for chit-chat- the answer is Yes.
The ranking model chooses the best answer for a given user question, AND determines an appropriate confidence score. For chit-chat, the ranking model uses slightly different features and weights than for "normal" QnA pairs. So we recommend using this metadata

@diberry as

[2019-04-17 23:18] jeffhebrank commented on #28236
The code sample nor the documentation show how to call the /sync endpoint.

[2019-04-17 23:36] Tyler-Angell commented on #29453
For those who come across this later:

[code]

Note: The above is modified and pull from the below template which would create a storageAccount as part of a VNET and optionally assign Azure Rbac to storage, or would save a connectionString in a provided keyVault. Since ARM templates cannot handle empty arrays a default value of vmssprimary01-identity (an existing identity) was provided so the temp

[2019-04-17 23:40] tfitzmac commented on #29521
Article was updated with more explanation.

[2019-04-17 23:40] tfitzmac commented on #29521
#please-close

[2019-04-17 23:51] Karishma-Tiwari-MSFT commented on #29613
@mlimache02
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-17 23:55] Karishma-Tiwari-MSFT commented on #29580
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-17 23:55] mlimache02 commented on #29613
Hello,

This is the link https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site. I wolud like to know if it's possible to download the certificate as .pfx, because in some services like Cloudflare I'm unable to do it.
Thanks.

[2019-04-17 23:56] Anand-Moghe opened #29618 "Configure PHP extension in Web App for Linux"
I came across [this](https://docs.microsoft.com/en-us/azure/app-service/web-sites-php-configure#how-to-change-the-built-in-php-configurations) link which talks about configuring PHP extension for Web App (using code) on Windows.
Similarly is there a way to configure PHP extension (PECL or PEAR) for Web App (using code) for Linux ?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-04-17 23:57] jeevansd commented on #29289
@chetansriv and @v-nagta Can youplease review this change?

[2019-04-18 00:02] maxilampert commented on #29566
@iainfoulds yes that's right but if I just reset the credentials on the AAD level, that will not update it on the AKS which would then mean that authentication will no longer work, right?

So what is the solution to update the credentials on the AKS level?

[2019-04-18 00:04] Anand-Moghe opened #29619 "What is a default web server for PHP app using Web App for Linux"
Which web server is used for running PHP application using Web App for Linux?
Is it Apache or Nginx ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef971d21-e72b-7771-d34a-b6da42d602bb
* Version Independent ID: f60dc748-8cf9-a8eb-9b96-e30cd13acc56
* Content: [Create PHP app on Linux - Azure App Service](https://docs.m

[2019-04-18 00:05] rbrundritt commented on #14350
#please-close

[2019-04-18 00:07] johnwildes opened #29620 "Incorrect VM Size / Compatibility"
The document states that VMs with 2 or more VCPU, in the F/Fs series are supported.  This is not the case, as attempting to update an F2s_v2 vm to accelerated networking fails, stating it is not in the correct size.  Probably should update this to include the supported sizes found in the error message.

Allowed sizes: Standard_D3_v2, Standard_D12_v2, Standard_D3_v2_Promo, Standard_D12_v2_Promo, St

[2019-04-18 00:20] jzuchora opened #29621 "Doc update"
1. Any idea on when this will be GA? The feature has been in preview for almost a year.
2. Are there plans to allow us to protect Azure file shares in storage accounts that have Virtual Networks or Firewall enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independen

[2019-04-18 00:46] MartinJaffer-MSFT commented on #29519
Thank you for closing.

[2019-04-18 00:47] Karishma-Tiwari-MSFT commented on #29614
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-18 00:53] dcbrown16 opened #29622 "listkeys operation"
In my understanding, the Microsoft.Storage/storageAccounts/listkeys/action permission at the Action or management level still grants access to the data.
If this hasn't changed, it needs to be explicitly called out in this doc and the related ones under How-to.
As it stands, the doc seems to imply that you can ONLY get access to blob data by using the data-specific RBAC roles.

---
#### Document De

[2019-04-18 00:56] c4rlosmarin commented on #19531
Please add the Event Hub Checkpoints scenario to the "Should I use Soft Delete" section. This would cause huge performance and overall latency issues because of the high number of snapshots taken after every update/overwrite operation.

[2019-04-18 00:58] dksimpson commented on #22396
Hi @MikeStephens-MS, do you have an update on adding an NSG example to the script in the article?

[2019-04-18 01:04] dcbrown16 commented on #29622
https://docs.microsoft.com/en-us/azure/storage/common/storage-access-blobs-queues-portal?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#account-access-key
Here's a doc that describes what I'm talking about. I think it's important to include a note on the RBAC authentication docs that this Management plane operation also allows access to data.

[2019-04-18 01:09] kazshi opened #29623 "Changes after enabled backup"
I saw the following changes in VM after enabled backup and I think it's by design, however I cannot find any descriptions about the changes in document as far as I checked. I would like to make sure if it's by design and ask you to add about it to content page.   Thanks.

- Microsoft Visual C++ 2013 Redistributable(x64) - 12.0.40660 was added to Program
- Startup type of Volume Shadow Copy service

[2019-04-18 01:11] yusmadi commented on #22480
@YvonneArnoldus the root cause is the `--name` value

[code]

[2019-04-18 01:22] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint I don't think I have seen a case where a user is trying to encrypt the configuration settings... I will have to check to see if this is supported. What is your use case for this?

CC @aljo-microsoft

[2019-04-18 01:27] rjmiller-revint commented on #29612
Here is the link to the document that I'm trying to use: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management-windows.  We want to encrypt the configuration settings so that we aren't putting plain text secrets into our source code repository when running on our local dev cluster.

[2019-04-18 01:28] dksimpson commented on #22183
Hi @ramankumarlive, has there been any progress on this issue?
cc: @cynthn

[2019-04-18 01:34] TravisCragg-MSFT commented on #29580
@jinzejian
1. You are correct, the AzureCloud tag is all azure public IP ranges, which includes many other service tags.
2. If you would like to specify the Azure FrontDoor IP Ranges, [you can find them Here.](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door-service)
3. If you would like to figure out what tag it b

[2019-04-18 01:40] tamram commented on #29622
@dcbrown16 - The Microsoft.Storage/storageAccounts/listkeys/action does not grant access to the data. It grants access to the keys, and one can access the data with the keys. In that case, you are using Shared Key authorization, not authorization via OAuth/Azure AD.

The Storage Account Contributor role listed in that section does not grant access to the data via OAuth. The only roles that grant d

[2019-04-18 01:41] ramankumarlive commented on #22183
@Karishma-Tiwari-MSFT I defaulted deleteUnattachedVHDs=0. However, I didn't find issues with running the second script. Can you please suggest edits? I will merge your edits.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/73653

[2019-04-18 01:54] dcbrown16 commented on #29622
@tamram sure, that's a useful distinction to make, how about this.

Current: "Azure provides the following built-in RBAC roles for access to storage data:"
Suggestion: "Azure provides the following built-in RBAC roles for access to storage data using OAuth:
...
In addition, you can access data using Shared Key authorization if you have the Microsoft.Storage/storageAccounts/listkeys/action operatio

[2019-04-18 02:01] robbiezhang commented on #29497
all the built-in plugins are supported.

[2019-04-18 02:14] linda33wj commented on #19867
Thanks for the feedback! I've removed the legacy screenshot to avoid confusion. The description of that step should be straight-forward enough for customer to act even without screenshot.

#please-close

[2019-04-18 02:24] dcbrown16 opened #29625 "Port access"
We have the URL restrictions listed here, is 443 the only port required and HTTPS the only protocol?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b566a3bb-80d9-151e-cc27-7bc94d48f363
* Version Independent ID: 0f8ca0eb-0153-13b6-5929-0e5996eb418e
* Content: [Support matrix for backup of machines running the Microsoft

[2019-04-18 02:35] DixitArora-MSFT commented on #29292
@CastleArg  I have assigned this to content author to review and update as appropriate.

[2019-04-18 02:37] jinzejian commented on #29580
Hi Travis, thanks for the information. Take "13.107.246.0/24" for example, it belongs to name" AzureFrontDoor.Frontend" and systemService "AzureFrontDoor",  but I don't see such tag in NSG. Would you let me know what tag suites "13.107.246.0/24"?

Thanks.

[2019-04-18 02:37] mganeshphani opened #29626 "How can i associate my own AzureDNS servers for the container"
for example I have mycompany.com DNS Zone hosted in Azure
is it possible to get FQDN to my container group with cg1.mycompany.com?

the reason I am asking this question is that I saw a way to specify the name servers in this example
https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/createorupdate#examples
hence wondering if I can associate AzureDNS directly to the conta

[2019-04-18 02:40] swinarko commented on #29572
Thanks for alerting us, we'll update the screenshots soon.

[2019-04-18 02:49] syuraj opened #29628 "No Shared Plans (e.g. D1) visible in App Service Plan selection screen"
Why hide $10/month D1 plans which are shown in Calculator screen?
https://azure.microsoft.com/en-us/pricing/calculator/?service=app-service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31a9-7767-73cb-857b-ad8aa81cdce5
* Content: [Manage App Service pl

[2019-04-18 03:02] HeidiSteen commented on #29333
@SeanCLeavitt The change you requested is live:  https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#indexer-limits
Thanks for filing this issue. If you feel like it's been addressed correctly, could you close the issue on your side?

[2019-04-18 03:10] victorwangwinmate opened #29629 "Failed to start IOT Edge daemon - armhf Ubuntu 16.04"
So I've gotten all the way to the point where I need to verify successful installation of IoT Edge daemon, and it's failing with the following output:

ubuntu@arm:/etc/iotedge$ sudo systemctl status iotedge
â— iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result: exit-code) since Thu 2019

[2019-04-18 03:26] YASWANTHM-MSFT commented on #29585
@schitzoid-embolism, Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get

[2019-04-18 03:27] YASWANTHM-MSFT commented on #29595
@henryphillipsid, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-18 03:30] YASWANTHM-MSFT commented on #29596
@jeevansd, thanks for the update

[2019-04-18 03:31] YASWANTHM-MSFT commented on #29596
@xom-pschiess, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-18 03:31] #29596 closed

[2019-04-18 03:36] mike-urnun-msft commented on #29616
Hi @khilscher Thank you for your feedback! We will review and update as appropriate.

[2019-04-18 03:41] #13825 closed

[2019-04-18 03:42] AshokPeddakotla-MSFT commented on #29629
@victorwangwinmate Thanks for the feedback! We are currently investigating and will update you shortly.
Please help with the link of document on which above document feedback request is created.

[2019-04-18 03:43] #28799 closed

[2019-04-18 03:54] SadiqhAhmed-MSFT commented on #29621
@jzuchora Thanks for the comment! We will check on this and get an update for you soon.

[2019-04-18 03:57] SadiqhAhmed-MSFT commented on #29623
@kazshi Thanks for the question! We will check on this ask and get back to you with an update soon.

[2019-04-18 03:59] SadiqhAhmed-MSFT commented on #29625
@dcbrown16 Thanks for the comment! We will check on this and get back to you soon.

[2019-04-18 04:03] iainfoulds commented on #29566
Not sure if the AKS cluster can be directly updated to include newer Azure AD app credentials, at least not through the Azure CLI or portal. There's on-going engineering work to improve the Azure AD integration, so including @palma21 who may be able to give some additional insight or if there's any current workaround.

[2019-04-18 04:06] tony-gutierrez opened #29631 "recycleSignalEnabled results in a pipe that can never be connected to."
I've had this enabled for a few months now, and never been able to connect to this pipe. I see it, but it just times out every single time.  Also no mention of the "termination" pipe that was supposed to tell us when node was shutting down and allow graceful cleanup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e64

[2019-04-18 04:13] SnehaAgrawal-MSFT commented on #29619
@Anand-Moghe Thanks for the question! We are investigating and will update you shortly.

[2019-04-18 04:13] SnehaAgrawal-MSFT commented on #29618
@Anand-Moghe Thanks for the question! We are investigating and will update you shortly.

[2019-04-18 04:16] SnehaAgrawal-MSFT commented on #29397
@christianarg Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-18 04:17] swatig007 commented on #29518
Hi Kuan,
              For subsequent runs, early termination policy will be applied as defined and runs will be evaluated for early termination. The actual determination of whether a run will end up being terminated or not depends on the run metrics and the early termination criteria defined.

Hope this helps,
-Swati.

From: Kuan Lu <notifications@github.com>
Sent: Wednesday, April 17, 2019 3:45

[2019-04-18 04:18] iainfoulds commented on #29570
Thanks for the suggestion, @grayjeremy. Quite a few docs combine the command with the sample output to minimize the space required, especially on fairly short commands like this. If it's a more complex command that includes additional parameters or queries, they are typically split apart like you suggest.

For this particular instance, we'll likely keep it as-is, but may update in the future if th

[2019-04-18 04:24] m-raman opened #29632 "Specify a different subnet not working"
Hi,

Followed the instruction in the section "Specify a different subnet". This is not working. Never get the IP.

internal-app       LoadBalancer   10.0.201.141   &lt;pending&gt;     80:32555/TCP   5s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a

[2019-04-18 04:25] neeleshray commented on #29509
@hsbsandrecv

As soon as the rule is saved it comes in effect.

Caching rules are checked in the following order:
1. User Caching
2. Application Caching
3. IP Caching
So in this example where User Caching Rule is longer than the Application Caching Rule, the Application Caching Rule will never be used since the User Caching Rule would always qualify first.

Caching rules should not be used with NP

[2019-04-18 04:25] iainfoulds commented on #29520
You also can't create a service principal (SP) without similar elevated permissions. That's partly why an SP would be created ahead of time, as `az aks create` will fail if the user doesn't have the required permissions to create it themselves. The expectation is that in this tutorial series you'd be doing this in a testing environment / subscription where you have permissions to `az ad sp create`

[2019-04-18 04:32] iainfoulds commented on #29314
Sorry you ran into problems, @TobiMason

The initial 'Before you begin' section states that you need to set up a cluster and configure `kubectl`. That links off to the AKS quickstart which includes using `az aks install-cli` and should correctly set  the PATH for you. If not, that's likely to be something specific to your environment, and isn't easy to document every possible scenario in that case

[2019-04-18 04:33] iainfoulds commented on #28690
As there are no doc updates required here, @jakaruna-MSFT #please-close

[2019-04-18 04:35] YASWANTHM-MSFT commented on #29617
@KeiroKamioka0000, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-18 04:36] iainfoulds commented on #27877
AKS doesn't necessarily "own and manage" the nodes, you do still have SSH access to perform the required steps. Depending on the level of configuration changes you're wanting to push, could potentially look at deploying a DaemonSet to push the changes into the nodes, which should then schedule the required pod on each node during an upgrade or scale operation.

The best practice suggestion would s

[2019-04-18 04:42] iainfoulds commented on #28574
Thanks for the feedback, and sorry you ran into issues @stijnbrouwers

_1.10.12_ is already one of the older versions supported. There's engineering work rolling out right now to deprecate the _1.9_ releases and bring in _1.13_. At that point, _1.10.12_ then becomes the oldest officially supported release. In general, it's recommended to use at least an N-1 release, so any of the available _1.11_

[2019-04-18 04:42] AjayKumar-MSFT commented on #29606
@AlphaCreative, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-18 04:42] asgang commented on #19586
the document is updated " Each disk should be smaller than 4 TB."

[2019-04-18 04:43] asgang commented on #19586
#sign-off

[2019-04-18 04:44] asgang commented on #16244
this is already updated

[2019-04-18 04:44] asgang commented on #16244
#sign-off

[2019-04-18 04:46] SadiqhAhmed-MSFT commented on #29601
@snyder-riley-pfg Thanks for the question! We will investigate this issue and get back to you soon.

@georgewallace Would you've any suggestions for this query or does this need deep dive technically?

[2019-04-18 04:47] AjayKumar-MSFT commented on #29611
@dsayed-msft,  Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-04-18 04:49] YASWANTHM-MSFT commented on #29620
@johnwildes, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-18 04:53] kazshi opened #29633 "Need detailed information about "unsupported resource group""
This might be related to #25689 - I read through the issue and understand cephalin's comment. However, I couldn't understand what kind of resource group is unsupported for upgrading to PremiumV2 from the content ("Scale up from an unsupported resource group and region combination"). Could you please provide detailed description about the 'unsupported resource group' including examples if possible?

[2019-04-18 04:55] SadiqhAhmed-MSFT commented on #29602
@dajarma Thanks for the question! We will investigate on this issue and get back to you soon. Just wanted to understand why you do not want to collect container logs?

@MGoedtel Would you've any insights on this ask?

[2019-04-18 05:25] KrishnaG-MSFT commented on #29400
@kick23 At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-04-18 05:25] #29400 closed

[2019-04-18 05:28] KrishnaG-MSFT commented on #29512
@tfitzmac Thanks for the response. Assigning this issue to you to take further action on it.

[2019-04-18 05:31] SnehaAgrawal-MSFT commented on #29544
@OzBob Thanks again for the question! There's a lot of difference between a C# property and attribute. A property lets you get/set data in your class.  However, an attribute allows you to decorate elements of your code with declarative information.
Attributes we use depends on the tool we are using.  For example, if we had a method you wanted to deprecate from our application, we could use the Obs

[2019-04-18 05:35] femsulu commented on #29503
@jamesapicken Apologies for the issue. this is a known issue and the script owner has been notified. In the meantime. here's a similar issue including a few workarounds you can try - also snipped below. Please let me know if you have any questions.

![image](https://user-images.githubusercontent.com/34327711/56338889-d3d1af80-6160-11e9-83a8-278e0420a9ee.png)

[2019-04-18 05:35] femsulu commented on #29503
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-18 05:35] #29503 closed

[2019-04-18 05:40] #14350 closed

[2019-04-18 05:45] #22517 closed

[2019-04-18 05:47] tfosmark commented on #22513
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:47] #29570 closed

[2019-04-18 05:49] YASWANTHM-MSFT commented on #29521
@johnwildes, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-18 05:49] #29521 closed

[2019-04-18 05:49] tfosmark commented on #22487
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:49] #22487 closed

[2019-04-18 05:49] Rajeswari-Mamilla commented on #19060
This has been a conscious approach to avoid conflicts during multiple simultaneous interactive installations.
#please-close

[2019-04-18 05:50] #22513 closed

[2019-04-18 05:51] tfosmark commented on #22484
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:51] #22484 closed

[2019-04-18 05:52] tfosmark commented on #22484
Please note that the information exists in the article as a subscript. Thank you!

[2019-04-18 05:53] YASWANTHM-MSFT commented on #27536
@ghahm,We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-18 05:53] #27536 closed

[2019-04-18 05:53] tfosmark commented on #22483
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:53] #22483 closed

[2019-04-18 05:54] tfosmark commented on #22453
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:54] #22453 closed

[2019-04-18 05:55] tfosmark commented on #22380
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:55] #22380 closed

[2019-04-18 05:57] #21145 closed

[2019-04-18 05:59] tfosmark commented on #22176
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 05:59] #22176 closed

[2019-04-18 06:00] #18289 closed

[2019-04-18 06:00] #19867 closed

[2019-04-18 06:00] #22119 closed

[2019-04-18 06:01] TomasHubelbauer commented on #29470
Thank you all guys! 🙂

[2019-04-18 06:01] tfosmark commented on #22118
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 06:01] #22118 closed

[2019-04-18 06:02] tfosmark commented on #22102
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 06:04] eraoul opened #29639 "Small typo in BatchServiceClient keyword param"
In the code below, I believe "base_url=" should be "batch_url=", as it is in the git repo.

batch_client = batch.BatchServiceClient(
    credentials,
    base_url=config._BATCH_ACCOUNT_URL)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26752b49-023e-da0d-a209-1eed0d7fcd25
* Version Independent ID: e43d7001-e9ce-a863-7

[2019-04-18 06:04] tfosmark commented on #22073
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 06:04] #22073 closed

[2019-04-18 06:07] zeeshan-ks commented on #29557
@RohitMungi-MSFT Thanks a lot rohit. After downloading LUIS app using curl. Now there is no more issue. Can successfully get response for GET request.

@AmirGeorge Dear Amir, here is [daa71e3f-534b-4492-b7c1-0932b759abbb_PRODUCTION.gz](https://github.com/MicrosoftDocs/azure-docs/files/3092970/daa71e3f-534b-4492-b7c1-0932b759abbb_PRODUCTION.gz) LUIS app exported using browser. Kindly check if you c

[2019-04-18 06:09] tfosmark commented on #22021
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-18 06:09] #22021 closed

[2019-04-18 06:13] tfosmark commented on #22014
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-18 06:13] #22014 closed

[2019-04-18 06:15] tfosmark commented on #22173
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-18 06:15] #22173 closed

[2019-04-18 06:16] tfosmark commented on #22024
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-18 06:16] #22024 closed

[2019-04-18 06:17] hansmbakker commented on #29413
Thank you for the explanation

[2019-04-18 06:17] #29413 closed

[2019-04-18 06:18] tfosmark commented on #22180
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. It looks like this issue will soon be addressed, so I am closing this. Thanks!

[2019-04-18 06:18] #22180 closed

[2019-04-18 06:29] tfosmark commented on #21317
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-18 06:29] #21317 closed

[2019-04-18 06:30] CHEEKATLAPRADEEP-MSFT commented on #29615
@iLikeAzureSQL Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

Once you post your issue on forums, it will have visibility across the community which is a better suited aud

[2019-04-18 06:34] ChiragMishra-MSFT commented on #29498
@giusbi The '-' is not evaluated as -1*pipeline().parameters.Minutes. Hence, when the function tries to parse the second operand, it's encountering this error. You can use the following expression to solve your problem :

`@{ addminutes(pipeline().parameters.StartTime, sub(0,pipeline().parameters.Minutes) )}`

The sub function will be used here to subtract Minutes parameter from 0, which will be e

[2019-04-18 06:35] ChiragMishra-MSFT commented on #29394
@bertrandpons I will now proceed to close this issue. However, feel free to still comment and tag me incase you have any other queries on the same.

[2019-04-18 06:35] #29394 closed

[2019-04-18 06:35] Daya-Patil commented on #29633
PremiumV2 is currently not supported in all regions. So first thing to check is if the region your app exist in supported region.
Also as we know resource group uses scale unit to deploy the resources in it. Some scale units don’t have Premium v2 deployed in them even if they are in the supported region. In other words, not all scale unit (cluster) contain Pv2 instances, (underlying App Service de

[2019-04-18 06:39] dcbrown16 commented on #26742
@SwamyNallamalli, @DixitArora-MSFT

The WebJobSDK (on which Functions is built) seems to imply that it will wait to trigger. You may want to check this again.

"If your function execution takes longer than the timer interval, another execution won't be triggered until after the current invocation completes. The next execution is scheduled after the current execution completes."
https://github.com/

[2019-04-18 06:39] andyzhangx commented on #20741
happened to take a look at this issue, currently 4 tags will be created for azure disk PVC:
 - 3 tags are here:
https://github.com/kubernetes/kubernetes/blob/e8bf254db8b1cb8048849d3a74d336567ac35fe7/pkg/controller/volume/persistentvolume/pv_controller.go#L1438-L1440
 - 1 specific tag is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_managedDiskCo

[2019-04-18 06:39] letrungkien211 opened #29640 "Exact location of log files"
"The file output is written to the application folder called log on the cluster node where the application is deployed and run"
Could someone tell me where exactly in the "log" folder? There'are so many folders and subfolders inside that directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e51338d-3a2f-8cc0-879f-

[2019-04-18 06:44] letrungkien211 commented on #29640
Sorry, I found it, I've mistaken the log folder of the cluster with my application. Please close this.

[2019-04-18 06:44] #29640 closed

[2019-04-18 06:57] AshokPeddakotla-MSFT commented on #29386
@SeaDude We have created a PR to update the broken links. Changes will go live soon. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-18 06:57] #29386 closed

[2019-04-18 07:15] kazshi commented on #29633
@Daya-Patil Thanks for your comment. I confirmed that my customer is trying to create PV2 App Service Plan in supported region, but they couldn't select some existing resource group when creating PV2 App Service Plan (I've not gotten any detailed information of the resource group).
For "resource group uses scale unit to deploy the resources in it", I'd assume existing resource in the resource grou

[2019-04-18 07:19] Daya-Patil commented on #29633
May be this one will help
https://feedback.azure.com/forums/169385-web-apps/suggestions/35089333-allow-scale-up-to-premium-v2-without-redeploy-or-c

[2019-04-18 07:40] christianarg commented on #29397
Hi @SnehaAgrawal-MSFT  sorry I left your previons message read on my inbox.

About both slot being restarted on the restart condition: That's my whole point and I'm asking you to clarify the docs page in order to make this very clear.

The most important thing is WHEN is each slot restarted.  What we want with the swap feature, is to perform a zero downtime deployment. If my production slot get re

[2019-04-18 07:49] kazshi commented on #29633
@Daya-Patil I think I understand what the "unsupported resource group" means (resource group was created with specified non-PV2 tier/sku) by looking at the command lines in the following link, correct?

Configure PremiumV2 tier - Azure App Service | Microsoft Docs
https://docs.microsoft.com/en-us/azure/app-service/app-service-configure-premium-tier#automate-with-scripts

[2019-04-18 08:04] giusbi commented on #29498
@ChiragMishra-MSFT That works fine, the only thing I had to change in order to parse the parameter as a number was:

`@{ addminutes(pipeline().parameters.StartTime, sub(0, int(pipeline().parameters.Minutes)) )}`

[2019-04-18 08:05] RehanSaeed commented on #22119
It's strange that an issue documenting how to run the dashboard in a secure way would be closed. Security should be the default, not the exception.

[2019-04-18 08:06] schitzoid-embolism commented on #29585
Here is the document link: https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-azure-marketplace

[2019-04-18 08:08] RJM76 opened #29641 "Access Token missing Optional Claims that are Schema Extensions"
The App Registration's Manifest has been configured to include Optional Claims in both the Identity Token and the Access Token.
Two optional claims have been configured for each token.  The "UPN" and a Schema Extension which has been configured for this app registration.
Using the Implicit Grant Flow and this quickstart, the Identity Token returns with both the "UPN" and the Schema Extension.
Howe

[2019-04-18 08:17] helloimchristine opened #29642 "face not detected"
application run but no face were detected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Tutorial: Detect and display face data in an image using the .NET SDK - Azure Cognitive Services](https://docs.microsof

[2019-04-18 08:31] CHEEKATLAPRADEEP-MSFT commented on #29563
@yokofms You don’t require to on-premise Gateway to connect Azure data sources.
**Note:** Connecting to on-premises data sources from and Azure AS server require an On-premises gateway.

**Steps to connect Azure data sources:**

**Step1:** Import from data sources and select Azure Table storage.
![image](https://user-images.githubusercontent.com/44426401/56347541-1f786d80-61e2-11e9-98b4-e0570e5d5e

[2019-04-18 08:37] DixitArora-MSFT commented on #29551
@kogesaka Function app is built on App Service. The default domain that is provided when creating App Service or Function App is <name>.azurewebsites.net. So JSON fragment of App Service will cover function app as well and it will whitelist the IP of data center in which Function App is deployed.

[2019-04-18 08:38] DixitArora-MSFT commented on #29533
@spelluru Just following up again in case missed the previous communication.

[2019-04-18 08:40] #29520 closed

[2019-04-18 08:41] #29314 closed

[2019-04-18 08:41] #28690 closed

[2019-04-18 08:41] #28574 closed

[2019-04-18 08:42] #27877 closed

[2019-04-18 08:43] #19060 closed

[2019-04-18 08:51] gloawyn opened #29643 "Office 2013 modern authentication public preview announcement"
Link and announcement are outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Independent ID: 44ebe4c6-0e6a-5ce4-554c-d4ed856e09c9
* Content: [Azure Multi-Factor Authentication FAQ - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authe

[2019-04-18 08:59] rayne-wiselman commented on #29490
@femsulu Hey Femi,please assign to me so that I can update the docs to make sure the statement is clear. thx

[2019-04-18 09:02] msrini-MSFT commented on #29356
Please drop an email to AzCommunity@microsoft.com , so that we can discuss and will update documentation if based on our discussion.

[2019-04-18 09:02] #29356 closed

[2019-04-18 09:05] jaypatrick opened #29644 "Is ReFS Support Coming?"
Is ReFS support ever going to arrive for creating server endpoints?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42797ef6-81d4-d8d6-a771-ef427f11698d
* Version Independent ID: c56473d5-ebfe-96f9-57fe-96446ada56f8
* Content: [Release notes for the Azure File Sync agent](https://docs.microsoft.com/en-us/azure/storage/f

[2019-04-18 09:11] clarkie2014 commented on #29433
+1

[2019-04-18 09:36] SumanthMarigowda-MSFT commented on #29644
@jayptarick Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-18 09:41] ManojReddy-MSFT commented on #29387
@watahani There is an attribute in Azure AD called "RefreshTokensValidFromDateTime " which determines whether the refresh token presented by the user is valid or not. If refresh token  is older than 90 days, then Azure AD will ask for authentication again.

I am not able to follow what is missing in this doc. Can you please elaborate a little bit ?

[2019-04-18 09:48] ahalha opened #29646 "Questions on Computer Vision"
1. How long is data submitted to Azure Cognitive Services/Computer Vision stored?
2. Where is the data stored, geographically?
3. If someone were to obtain our API key, would they be able to access our data?
4. Are there ways, other than using the API key, to access the data via the Internet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-04-18 09:49] RohitMungi-MSFT commented on #29642
@helloimchristine Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-18 09:50] neeleshray commented on #29643
@gloawyn
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 09:51] SnehaAgrawal-MSFT commented on #29544
@OzBob Thanks again for the question! We can set Singleton through both https://github.com/Azure/azure-webjobs-sdk/wiki/Singleton and https://blogs.msdn.microsoft.com/waws/2014/05/19/how-to-run-a-continuous-webjob-as-a-singleton/ but setting through SDK can be used in both the cases  Continuous WebJob and Triggered WebJob but in case of  settings.job it can be used only for Continuous WebJob.

[2019-04-18 09:53] neeleshray commented on #29641
@RJM76
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 10:14] Daya-Patil opened #29649 "Copy-keys.ps1. still using AzureRM module"
Copy-keys.ps1. still using AzureRM module, i have now new  module AZ and have removed AzureRM module. Copy-keys.ps1 doesn't work with new module and commands fail as they do not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2b1249-5247-938e-cc2a-bb5ba92a910d
* Version Independent ID: fc999d69-7ce6-dacc-5add-7c

[2019-04-18 10:30] gabriion opened #29651 "ArcSight Smart Connector link doesn't work"
Next Steps link to Configuration guide for ArcSight SmartConnector for Azure Monitor Event Hub should be changed to : https://community.microfocus.com/t5/ArcSight-Connectors/SmartConnector-for-Microsoft-Azure-Monitor-Event-Hub/ta-p/1671292

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb257b2-dce3-fe06-c84d-4784fc701

[2019-04-18 10:32] DashleenBhandari-MSFT commented on #29600
@tony-gutierrez , Thanks for raising this issue. I will check and update you.

[2019-04-18 10:50] SnehaAgrawal-MSFT commented on #29631
@tony-gutierrez Thanks for the question! We are investigating and will update you shortly.

[2019-04-18 11:07] RohitMungi-MSFT commented on #29646
@ahalha Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-18 11:17] vikaskumawat80 opened #29652 "Max Connections"
We have applications (5-6) which are accessed by 1000+ users concurrently. Do I need the highest size or Max Connections equivalent to the number of applications making connections with PostgreSQL? Or, Is it depends on the number of concurrent users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a86489-2b1d-1b42-687

[2019-04-18 11:31] SadiqhAhmed-MSFT commented on #29649
@Daya-Patil Thanks for the comment! We are currently investigating and will update you shortly.

[2019-04-18 11:40] PingPongSet opened #29653 "Agent Supporting Android"
Is it possible to install agent on Android OS, e.g. Lollipop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1bc14e-2be9-0eba-b68a-e3e266e7949c
* Version Independent ID: c931a6ce-5d85-b6b7-420d-99e2c9ed09d4
* Content: [Managing the Azure Log Analytics Agent](https://docs.microsoft.com/en-us/azure/azure-monitor/platfo

[2019-04-18 11:42] ShBansal22 opened #29654 "Unable to attach snapshot debugger to azure functions"
I am using Visual studio Enterprise 2019 and trying to attach snapshot debugger to azure function but not able to do so.

I am not getting any azure resource for snapshot debugging as per below screenshot

![Capture3](https://user-images.githubusercontent.com/49473335/56358622-d4b81f00-61fc-11e9-9a3c-8df3200ea3bb.PNG)

While storage account selection is working as expected for me as per below scre

[2019-04-18 11:48] SadiqhAhmed-MSFT commented on #29621
@jzuchora The service will be GA later this year. But we do not have publicly shareable ETA. Support for storage account that have virtual network/Firewall is coming soon. Stay tuned  for the updates and keep a watch on this [page](https://azure.microsoft.com/en-in/updates/).

[2019-04-18 11:55] SadiqhAhmed-MSFT commented on #29623
@kazshi Thank you for your patience! I can confirm that these changes are expected on enabling Backup on Windows VM. But there is no document that covers this info. However, we will see if there is any development on this content and share this feedback to add this information in the relevant document.

[2019-04-18 12:03] RohitMungi-MSFT commented on #29646
@ahalha We recommend to go through the cognitive services [compliance and privacy](https://azure.microsoft.com/en-us/support/legal/cognitive-services-compliance-and-privacy/) page for more information.
Also checkout [trust center](https://www.microsoft.com/en-us/trustcenter/privacy/privacy-overview) for more details of GDPR compliance.

Computer vision gives you control over the storage and deleti

[2019-04-18 12:07] ahalha commented on #29646
Thank you

[2019-04-18 12:10] Gamecock commented on #29173
I've had it happen several times. I will do a better job documenting the
steps to reproduce.  I was doing my best to follow the quickstart exactly.
I'll dig deeper and determine if there is a documentation change that would
have been helpful or if it is just me making the same operator error
repeatedly.

On Wed, Apr 17, 2019 at 2:29 PM Kelly Gremban <notifications@github.com>
wrote:

[2019-04-18 12:16] YASWANTHM-MSFT commented on #29626
@mganeshphani , Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-18 12:20] aaronhughesdelt opened #29655 "inbound port 8050 or 8060"
the documentation says 8050 (TCP) inbound
however the diagram says 8060 inbound

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a
* Version Independent ID: 9aaa1635-bb8c-07b4-ebc5-55baeb98149c
* Content: [Security considerations in Azure Data Factory](https://docs.microsoft.com/en-us/a

[2019-04-18 12:23] YASWANTHM-MSFT commented on #29585
@schitzoid-embolism, Thanks for providing the link. We are checking on this and will respond to you soon.

[2019-04-18 12:25] YASWANTHM-MSFT commented on #29632
@m-raman, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-18 12:38] SubhashVasarapu-MSFT commented on #28209
@dbsanfte , If you wish you could also post your feedback on our User-voice https://feedback.azure.com/forums/217313-networking - All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly contin

[2019-04-18 12:47] grayjeremy commented on #29570
sounds good, I had assumed we would want to stay consistent across an article.  What about disabling the copy button on command output?  For someone who doesn't know how this works, including the $ sign for the console command and its output creates an error where the previous 10 commands work perfectly.

[2019-04-18 12:55] AdamSharif-MSFT opened #29656 "Storage Account creation section needs amendments"
I was able to use this template but needed to make some amendments, as the property "accountType" for "sku" no longer exists. Also, I needed to use a newer API version in order for this to succeed:

Original:

{
  "apiVersion": "2015-05-01-preview",
  "type": "Microsoft.Storage/storageAccounts",
  "name": "[parameters('applicationDiagnosticsStorageAccountName')]",
  "location": "[parameters('compu

[2019-04-18 13:01] grayjeremy commented on #29520
This is a very confusing construct to many users, the creation of a SP is an AAD construct managed outside the subscription...I could be an owner of my resource and not be able to create the SP (if my org locks that capability down).  The perfect storm is when I'm a contributor to my resources and I can't do either.

I think a link to these docs would clear up any confusion.
https://docs.microsoft

[2019-04-18 13:10] Anmolgan81 opened #29657 "Does scaling up the HDinsight cluster breaks anything or creates a separate container in storage account?"
I want to know if we use this feature to scale up an HDinsight cluster does that changes anything on the cluster like it breaks any kinds of jobs or anything like that? Does it creates seprate blobs in the stroage account for this?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: a0491ca3-f30d-d291-47c2-

[2019-04-18 13:11] Anmolgan81 commented on #29657
When will this feature coming out from private preview does this habe any ETA on it?

[2019-04-18 13:13] djpirra opened #29658 "Should be Min or Max?"
Min Concurrent Queries? Or Max Concurrent Queries for the Resource Classes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d8aad5-9f41-5cce-4688-f0f5fa5ff59a
* Version Independent ID: 0ca92d1e-73ad-90f4-4b42-48e6a6dac359
* Content: [Resource classes for workload management - Azure SQL Data Warehouse](https://docs.mic

[2019-04-18 13:13] Anmolgan81 opened #29659 "Where can we see the Kerberos Service Principles in the Azure Active Directory?"
Is there any way to view the Kerberos Service Principles in the azure active directoryy, like wise we can see the service principles for Hortonworks cluster, I can see the service principles of an ESP cluster by doing putty into the HDinsight Linux cluster, how can I view the same into the azure active directory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-04-18 13:18] SeanCLeavitt commented on #29333
Thank you - This is a helpful addition to the matrix of indexer service limits you have laid out.

[2019-04-18 13:18] #29333 closed

[2019-04-18 13:25] SeanCLeavitt opened #29660 "Free Tier - Indexer Limit Min and Max Schedules Conflict?"
For Indexer Limits, with the Free tier, the Minimum schedule of 5 minutes is longer than the Maximum running time of 1-3 minutes - Could you please clarify this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05e60837-26b9-1f5a-7a44-88ae8c9a7bc3
* Version Independent ID: eaa6fabe-3d51-d626-3a51-d2e46efca454
* Content:

[2019-04-18 13:30] AlphaCreative commented on #29606
Discovered that the issue is larger than just GetConnectionString so something else is going on.  Closing this issue for now until we can do further investigation.

[2019-04-18 13:31] YASWANTHM-MSFT commented on #29654
@ShBansal22,Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get help on

[2019-04-18 13:32] jberezanski-mdg commented on #28731
@shashishailaj Thank you for the explanation. I was specifically referring to the notes in the "Guidelines for subnet design" section (https://github.com/MicrosoftDocs/azure-docs/blame/e8247568554cc41098aa99d0796f914654976a06/articles/active-directory-domain-services/active-directory-ds-networking.md#L50-L52). I intend to reserve a dedicated subnet for the AAD DS service and not put any other serv

[2019-04-18 13:40] mikaelsand opened #29661 "The ARM template thing"
First, it is not obvious that the ARM template deploy is the ONLY way to do this, but the template includes setting up the APIm and everything, which I found very confusing. If I am adding an MSI to KeyVault … I already have an APIm instance. So I scaled it down and pulished a blog post on it here: http://mikaelsand.se/apim-managed-identity-in-keyvault/

---
#### Document Details

⚠ *Do not edit t

[2019-04-18 13:44] aquibqureshi26 commented on #29554
Hi Mark this feature is not available, can you please vote for the feature by clicking below link.

https://feedback.azure.com/forums/217298-storage/suggestions/37164085-azcopy-with-move-feature-from-on-premise-to-azure

[2019-04-18 13:52] aquibqureshi26 commented on #20736
yes, please update the document.

[2019-04-18 13:52] cwester72 commented on #29488
Says Windows 10 Enterprise for Virtual Desktops

[2019-04-18 13:56] bbob55 commented on #23154
I am trying to deploy just one and only one container and have tried in many different regions, but still get the same error.

The requested resource is not available in the location 'eastus' at this moment. Please retry with a different resource request or in another location. Resource requested: '1' CPU '1.5' GB memory 'Windows' OS

It seems you closed the previous comment prematurely, and seems

[2019-04-18 14:07] spelluru commented on #29533
@banisadr -

I don't see the parameter in our API docs: https://docs.microsoft.com/en-us/powershell/module/az.eventgrid/new-azeventgridsubscription?view=azps-1.7.0

But, in the [How to filter events for Azure Event Grid](https://docs.microsoft.com/en-us/azure/event-grid/how-to-filter-events) we have it in the code example.

Should we delete this in the article?

Thanks,
Sreedhar

[2019-04-18 14:09] spelluru commented on #29533
@DixitArora-MSFT - Looping in Bahram to confirm that this parameter has been deleted for good. Thanks.

[2019-04-18 14:09] MGoedtel commented on #29653
@PingPongSet - No, the agent does not support the Android OS.  Only what we list as supported in this article - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-linux-operating-systems.  Thanks.  #please-close

[2019-04-18 14:11] marabout2015 opened #29662 "Link to AutoMLConfig class is broken"
The link yo yhe AutoMLConfig class is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Create automated ML experiments - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-lea

[2019-04-18 14:21] Icandui8 commented on #29436
Hi Karishma,

The inquiry was from one of our Premier customers.
I can share the ICM# if needed.  Per the EEE and the PG reply in the ICM it appears the behavior is expected per the steps taken:

Below is the issue that was submitted via ICM:

Customer observes the following when creating a new Azure VM from custom VM image, the built-in admin account is renamed from what it was in the original VM

[2019-04-18 14:41] YASWANTHM-MSFT commented on #29639
@eraoul, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-18 14:50] schitzoid-embolism commented on #29585
Seems to be AD related.  I've found after adding the user to AD and waiting for a period of time which seems to be a few hours then it suddenly works.  I am not syncing users with AD Connect so just creating AD users manually and matching with Azure AD but why the delay???  Anyone come across the same issue???

[2019-04-18 14:57] HeidiSteen commented on #29660
@SeanCLeavitt  You can schedule it to run every 5 minutes, and then when it starts running, it will run for the max time.  12:00 start, 12:03 end, 12:05  start, 12:08 end, 12:10 start, 12:13 end.   If the indexer is already running when the scheduled time kicks in, the start time is postponed.

The service limits page cannot function as the scheduling documentation so I cannot put this level of de

[2019-04-18 15:03] alkohli commented on #29617
@KeiroKamioka0000 Yes. Data Box Disk is generally available in Japan.

I believe the pricing changes on the page are in progress. For now, you can refer to EU pricing and view it in the Japanese Yen to communicate to customer (the break up of pricing will be the same except there may/may not be slight changes only for the shipping costs).

Please let me know if this helps.

[2019-04-18 15:18] mjrousos opened #29664 "Clarify minimum RU/s for Cosmos DB containers"
This doc mentions that "Azure Cosmos containers have a minimum throughput of 400 request units per second (RU/s)."

I believe this is no longer true, though. If throughput is provisioned at the database level, [containers can have a minimum of 100 RU/s](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#comparison-of-models). This doc should be updated to reflect that change.

---
###

[2019-04-18 15:24] Mike-Ubezzi-MSFT commented on #29664
@mjrousos Thank you very much for taking the time to point this out. I will have the content owner review and update accordingly. @SnehaGunda for awareness.

[2019-04-18 15:26] SeanCLeavitt commented on #29660
Thank you for the clarification - just seems interesting that the minimum schedule if effectively moot at the Free tier.

[2019-04-18 15:27] #29660 closed

[2019-04-18 15:32] mpodwysocki commented on #13701
@OscarCanek Thank you for pointing this out.

The `handle` in this case is a unique identifier given during registration for the given PNS, whether it is Apple, Firebase, Baidu, Windows or other supported platforms.  This handle is given through the [`RegistrationDescription`](https://github.com/Azure/azure-notificationhubs-dotnet/blob/master/src/Microsoft.Azure.NotificationHubs/RegistrationDescri

[2019-04-18 15:34] Mike-Ubezzi-MSFT commented on #29652
@vikaskumawat80 Thank you very much for your interest in Azure cloud services. With regard to your question, both are important considerations but concurrent users should take more weight and consideration. Although Azure PaaS services take away much of the operational effort and cost associated with standing-up an application, Azure does not automagically manage your application logic with regard

[2019-04-18 15:36] shashishailaj commented on #29375
@smoms I believe it is designed in this way. And I think I mentioned application back-end in a confusing way . What I meant, is that the validation logic would need to written within the client application by the dev and the library may not handle it . I would let @navyasric comment further on that.

@navyasric Could you please provide clarification on the same ?

[2019-04-18 15:36] mthompsonU opened #29665 "Verify Conflict License Function looping and not recognizing users in conflict state"
I've been running the full script under "https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-groups-change-licenses#powershell-automation-of-migration-and-verification-steps", however the section "ExecuteVerificationLoop...'Step 2: Checking..." is looping infinitely (by design) and not identifying users that have a 'Conflict service plans' flag. I've rebuilt the en

[2019-04-18 15:45] shashishailaj commented on #29508
@hsbsandrecv We checked on this and found the following. MFA service settings were created long before conditional access policy was present . So when we designed conditional access policy we added the list of MFA trusted IPs within the same. We created a setting called "Named locations" the setting can be used to configure every on-prem office location and subnet ranges that any organisation may

[2019-04-18 15:45] #29508 closed

[2019-04-18 15:51] sideshow-jeff commented on #28508
Is there any status on this request?  I also find the instructions very vague in the configuration of DNS, particularly in its interaction with the DNS settings on the vNet in which the ASE subnet is created.

[2019-04-18 15:55] #29512 closed

[2019-04-18 15:56] SNFHI360 commented on #10258
Has this been corrected?  Am looking to use LDAPS instead of S2S VPNs across differing subscriptions.  Would be of great help if the script works.  Please provide update.

[2019-04-18 15:59] tfitzmac commented on #29512
An update will be published this morning that clarifies type and name for child resources.

[2019-04-18 16:10] JeremyTBradshaw commented on #29573
Hi @MarileeTurscak, thanks for the responses.  Without too much passion, I would like to argue that the password is validated by Azure AD both times.  So it's odd to ever make somebody put in their password exactly 2 times in a row every time they login.  This is why I know this isn't just an added security measure, it's an issue, and so I'm not asking for a new feature, I'm just pointing out the

[2019-04-18 16:24] MarkusVi commented on #29091
Hi @lin-art, I have staged an update for this.

#please-close

[2019-04-18 16:32] shashishailaj commented on #29433
@Neckross At this point we do not have deviceTrusttype attribute included on this list . We request you to provide your feedback to the engineering team directly on https://feedback.azure.com/forums/169401-azure-active-directory and make a request for this feature. As multiple customers need it , , It is monitored by the Product PMs and will be prioritized accordingly.

We will close this issue no

[2019-04-18 16:32] #29433 closed

[2019-04-18 16:44] Mike-Ubezzi-MSFT commented on #29658
@djpirra Thank you for the inquiry and your interest in Azure cloud services. We are investigating and will update this issue when we have accurate information.

[2019-04-18 16:49] MicahMcKittrick-MSFT commented on #29640
@letrungkien211 thanks for reaching out and updating us.

[2019-04-18 16:50] MarkusVi commented on #25942
Hi @threesixfour, I have staged an update for this.

#please-close

[2019-04-18 16:50] MicahMcKittrick-MSFT commented on #29656
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-18 16:57] Sambsamb commented on #29514
@DCtheGeek Thank you for your reply. That was pretty helpful.

[2019-04-18 16:57] #29514 closed

[2019-04-18 16:57] mdgattuso commented on #21602
It looks like this documentation is owned by the storage team, so it needs to be assigned to someone from there.

However, you don't need to use the premium tier in order to use SSL. You can bring your own SSL cert on Azure CDN from Microsoft Standard, or use the CDN managed cert on any of the other tiers.

[2019-04-18 16:58] smoms opened #29670 "Clarification on extrnal IdP and "iss" claim"
Hi, i do have architecture question when using an external IdP like Facebook. I run code tests as this: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp

When i choose to sign-in with Facebook account the WebAPI app receives a token with 'iss' claim set to the "https://login.microsoftonline.com/775527ff-9a37-4307-8b3d-cc311f58d925/v2.0/" which is the fabrikamb2c.

[2019-04-18 16:59] srrengar commented on #29656
@MicahMcKittrick-MSFT @AdamSharif-MSFT feel free to edit the doc with the change :)

[2019-04-18 17:02] PramodValavala-MSFT commented on #29616
@khilscher Thanks for catching that! I believe this doc was missed in the update when a note was added for v1-only features. I have worked up a PR for this which should reflect soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-18 17:03] #29616 closed

[2019-04-18 17:03] djtaube commented on #17426
Echoing what @Mark7even said. Still reads as allowing 30 days despite the documentation saying the 14-day is not configurable. @YutongTie-MSFT, is the image incorrect or is the documentation incorrect?

[2019-04-18 17:03] CarlRabeler commented on #29405
I too would never enable autoshrink. This topic is to cover a very specific scenario in which you may need to shrink a database, but this scenario is not common (but does occur).

[2019-04-18 17:04] mlongoria opened #29671 "Accessibility"
Having a single sentence that says the ADF UI is accessible means nothing. Please add more information. It is accessible according to what standards? Is it keyboard accessible? What about high contrast colors? Screen reader? A single sentence saying a product is accessible usually tends to imply the opposite. A bit of elaboration, or even pointing to applicable accessibility resources for the Azur

[2019-04-18 17:16] tfitzmac commented on #29578
@martgras - thanks for this suggestion. I have clarified how securestring behaves as an output type, and added a link to the Key Vault with templates article.

[2019-04-18 17:16] tfitzmac commented on #29578
#please-close

[2019-04-18 17:17] SaurabhSharma-MSFT commented on #29417
@adsifi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-18 17:17] #29417 closed

[2019-04-18 17:17] MicahMcKittrick-MSFT commented on #29496
@AgSync-Aaron support for 1809 is being rolled out globally and should be available by end of next week.

Once the rollout is complete, we will make sure to update the docs to reflect it.

[2019-04-18 17:17] #29496 closed

[2019-04-18 17:19] marabout2015 opened #29672 "Definition of norm_macro_recall points to wrong calculation"
In the table giving the definition of norm_macro_recall, the calculation points to the definition of precision_score instead of recall_score.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Create automated ML

[2019-04-18 17:19] #29578 closed

[2019-04-18 17:19] MicahMcKittrick-MSFT commented on #29585
@schitzoid-embolism it might take a bit for the identities to fully sync. I will assign this to the author to see if that is something worth noting in the doc.

[2019-04-18 17:21] MartinJaffer-MSFT commented on #29671
Hello and thank you for your feedback @mlongoria .  After reviewing the document section in question, I agree, elaboration is needed.  I will assign this to the document author.

[2019-04-18 17:23] sampath2121 opened #29673 "Update this page to reset credentials for AAD enabled cluster"
Please update this page to include the steps to reset credentials for Azure Active Directory enabled cluster. https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-update-credentials

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd

[2019-04-18 17:23] YutongTie-MSFT commented on #29672
@marabout2015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-18 17:23] YutongTie-MSFT commented on #29662
@marabout2015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-18 17:24] #29615 closed

[2019-04-18 17:24] Karishma-Tiwari-MSFT commented on #29549
@bdelamotte83 Any update? Can you please provide us the doc details so that we can assist you better.

[2019-04-18 17:24] MartinJaffer-MSFT commented on #29671
@sharonlo101 , @craigg-msft  could you please update this document to showcase the Accessibility features of the Data Factory experience?

[2019-04-18 17:27] Jeff-Jacka opened #29674 "How does this work with Azure Managed Identity Service?"
I would like our Azure application that is running under a managed identity to be able to decrypt Always Encrypted columns that use the Azure Key Vault keys, but haven't had much luck configuring it.

I get timeout errors when only setting the SqlConnection Access Token:
sqlConnection.AccessToken = new AzureServiceTokenProvider().GetAccessTokenAsync("https://database.windows.net/").Result;

But th

[2019-04-18 17:28] ChristianMontoya commented on #29499
@cwester72 : Good question. Yes, seems to be a documentation gap on our side, but it is possible!

There are multiple ways to add additional VMs to the pool after the pool creation experience:
1. If you would like to use the same VM/session host prefix, simply re-run the Azure Marketplace offering or ARM template with the exact same parameters, except **change # of VMs** to the total # you would l

[2019-04-18 17:29] Karishma-Tiwari-MSFT commented on #29653
@PingPongSet  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-18 17:29] #29653 closed

[2019-04-18 17:31] MicahMcKittrick-MSFT commented on #29499
Thanks @ChristianMontoya

@cwester72 I am going to assign this to the content author to see if we can get this officially documented. Thank you for helping us improve the docs :)

[2019-04-18 17:31] MarkusVi commented on #29524
HI @aleazofeifam, I have staged a fix for this.

#please-close

[2019-04-18 17:32] MicahMcKittrick-MSFT commented on #29182
possibly related to https://github.com/Azure/azure-cli/issues/7755

Looking into it

[2019-04-18 17:34] TravisCragg-MSFT commented on #28687
@jdcreek We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-18 17:34] #28687 closed

[2019-04-18 17:35] TravisCragg-MSFT commented on #28788
@jdcreek We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-18 17:35] #28788 closed

[2019-04-18 17:36] MicahMcKittrick-MSFT commented on #29612
thanks @rjmiller-revint

I am checking on this offline and will update you shortly.

[2019-04-18 17:38] Karishma-Tiwari-MSFT commented on #29497
@bitsofinfo Did that help answer your question?

[2019-04-18 17:41] TravisCragg-MSFT commented on #29580
@jinzejian Azure FrontDoor does not have a service tag at this time. It will be integrated into the Azure Cloud service tag in the near future, and get it's own service tag.

[2019-04-18 17:43] MicahMcKittrick-MSFT commented on #29656
@AdamSharif-MSFT I submitted a fix. Once the PR merges the changes will go live in a few hours.

[2019-04-18 17:43] #29656 closed

[2019-04-18 17:43] ericsampson commented on #29176
@xurui203 thanks, unfortunately I used the wrong terminology in my original question; could you please re-read/address it as if I had properly said "...if I had enabled Zone Redundancy..." in my original question because that's what I meant, and not geo-replication. Thanks!
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr#availability-zones

[2019-04-18 17:45] marabout2015 commented on #29672
Hi Yutong,

Thank you for these two prompt replies.

Mario

From: YutongTie-MSFT <notifications@github.com>
Sent: Thursday, April 18, 2019 1:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: marabout2015@hotmail.com; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Definition of norm_macro_recall points to wrong calculation (#29672)

@marabout2015<h

[2019-04-18 17:48] BrentOzar opened #29675 "Two docs pages with disagreements on log rate MB/s limits"
This page:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-resource-limits-database-server#transaction-log-rate-governance

Says:

`with the maximum log rate allowed being 48 MB/s with the vCore purchasing model.`

But this page shows 98 MB/s limits for Business Critical:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-single-databases

---

[2019-04-18 17:50] MarkusVi commented on #29584
Hi @aleazofeifam, I don;t think there is a screenshot with a script option in this article.

#please-close

[2019-04-18 17:52] Karishma-Tiwari-MSFT commented on #29436
@Icandui8 Thanks for sharing the resolution here. It will help other customers who are encountering the same.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-18 17:52] #29436 closed

[2019-04-18 17:53] #29524 closed

[2019-04-18 17:56] dajarma commented on #29602
@SadiqhAhmed-MSFT, our applications use Application Insights to store logs already, and we don't need to have our logs stored in multiple places, as this is an unnecessary extra cost in terms of money and bandwidth within our infrastructure.

Devs should have full control over the configuration of what data is being collected and sent to Log Analytics IMO.

[2019-04-18 17:58] aquibqureshi26 opened #29676 "journal file stuck when azcopy is"
Thanks in advance,
I'm creating a copy solution using PowerShell and will put the PS file in task scheduler. This PS file will contain azcopy cmdlet. I want to make sure my script runs fine even in the middle of copy and server crashed then at the next schedule run my azcopy script should run and shouldn't fail because of the below reason.
I've one concern with azcopy. When i start copying of data

[2019-04-18 17:59] MarileeTurscak-MSFT commented on #29651
@gabriion
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 17:59] CarlRabeler commented on #29675
@BrentOzar thanks for pointing this out -fixing now.

[2019-04-18 18:04] MarileeTurscak-MSFT commented on #29156
@ruijarimba thanks for reporting this! I spoke with the KeyVault team and the code fix is in PR.

[2019-04-18 18:04] MarileeTurscak-MSFT commented on #29156
Closing out this thread.

[2019-04-18 18:04] #29156 closed

[2019-04-18 18:14] ToddChitt opened #29677 "WHEN will we be able to migrate? Seems NOTHING I touch is able"
Frustrated that MS is touting this great new Alerting framework but everywhere I turn I get the message that I can't migrate yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1161a9ce-36c1-0b24-ad09-f9fdce446350
* Version Independent ID: 58291b17-ed20-05c5-b4f4-6830b7d18f08
* Content: [Understand how voluntary alerts

[2019-04-18 18:15] MarileeTurscak-MSFT commented on #29651
Thanks for the feedback, @gabriion

I made a pull request here with the updated link: https://github.com/MicrosoftDocs/azure-docs-pr/pull/73729

[2019-04-18 18:15] #29651 closed

[2019-04-18 18:18] david-frazee opened #29678 "Clarification for Network Requirements"
A clarification needs to be put in place for "In addition, you can add entries to the route table to route traffic that has on-premises private IP ranges as a destination through the virtual network gateway or virtual network appliance (NVA)."

If using ExpressRoute, do not create a static route for the next hop to be Virtual Network Gateway as this will cause drops. I would actually remove the se

[2019-04-18 18:19] MarileeTurscak-MSFT commented on #29665
@mthompsonU
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 18:20] MarileeTurscak-MSFT commented on #29670
@smoms
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 18:29] xcactusx commented on #18048
Does this thread still hold true?  We're still having this issue in April 2019.  We have  MFA Trusted List in 365 and are hitting up against the 50 IP limit.  I've set up conditional access policies with an IP list.  However, it doesn't apply as long as 365 list is in place.  In my testing, I need to clear the 365 Trusted IP  list AND set users to disabled for MFA in 365 for the Azure conditional

[2019-04-18 18:29] Grace-MacJones-MSFT commented on #29301
Hi @mchudinov, I can't seem to find the "init_container.sh"  example you are referring to either. Did you see it in another documentation?

[2019-04-18 18:29] Karishma-Tiwari-MSFT commented on #29565
@ChristianMontoya Can you please help answer this question on Teams support roadmap?Thanks :)

[2019-04-18 18:36] mike-urnun-msft commented on #29661
Hi @mikaelsand Thank you for your feedback! We will review and update as appropriate.

[2019-04-18 18:36] Karishma-Tiwari-MSFT commented on #29607
@jnoller @robbiezhang Can either of you please confirm on this change? I will update the document. Thanks. :)

[2019-04-18 18:37] cwester72 commented on #29499
Thats great! Thank you

[2019-04-18 18:55] xcactusx commented on #18048
@MarileeTurscak-MSFT and @MicrosoftGuyJFlo, please see my comment above!

[2019-04-18 18:59] CHDAFNI-MSFT opened #29679 "Relevance for Teams?"
Can this article clarify if QoS is supported for Teams? the successor to Skype for Business

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d0ee9b-f416-909d-7adf-4a034b4653d1
* Version Independent ID: c2bd3cd6-000b-817e-ca52-72c40eb1d1af
* Content: [QoS requirements - ExpressRoute: Azure](https://docs.microsoft.com/en

[2019-04-18 19:03] YutongTie-MSFT commented on #29662
@marabout2015 Hi Mario, I have created a PR for the fix #29680 It should be alive shortly. Thank you.

[2019-04-18 19:04] MicahMcKittrick-MSFT commented on #29087
@litvinolek I did confirm this is a known issue and engineering is working to address it. The current ETA for the fix is sometime in Late May.

Thanks for bringing this to our attention. I will close this as there are no doc changes needed but if you notice after May you are still having issues feel free to reach back out.

[2019-04-18 19:04] #29087 closed

[2019-04-18 19:04] JasonWHowell commented on #29657
I assume it is very much like manual scale: https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-scaling-best-practices?toc=%2Fen-us%2Fazure%2Fhdinsight%2Fhadoop%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json#scaling-impacts-on-running-jobs

Scale up is pretty painless, Scale down does have impact. We'll double check about autoscale and let you know.

Thanks, Jason

[2019-04-18 19:15] marabout2015 commented on #29662
Hi Yutong Tie. Thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: YutongTie-MSFT <notifications@github.com>
Sent: Thursday, April 18, 2019 3:04:04 PM
To: MicrosoftDocs/azure-docs
Cc: marabout2015@hotmail.com; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Link to AutoMLConfig class is broken (#29662)

@marabout2015<https://nam06.safelinks.protection.outl

[2019-04-18 19:16] YutongTie-MSFT commented on #29662
@marabout2015 Thank you Mario for bring this to our sight. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-18 19:16] #29662 closed

[2019-04-18 19:23] labewing commented on #27791
Following this walkthrough resulted in not having the error. I believe there's some dependencies on using "Default Tenant Group" as well as a service principal being configured.

https://erjenrijnders.nl/2019/04/04/how-to-deploy-windows-virtual-desktop-in-azure/

This is somewhat conjecture as it's still unclear why a regular user with correct permissions still isn't working.

[2019-04-18 19:25] YutongTie-MSFT commented on #29672
@marabout2015 Hi Mario, I have created a PR for this fixed. You should see the change shortly. Thank you.

[2019-04-18 19:27] #29673 closed

[2019-04-18 19:29] marabout2015 commented on #29672
Hi Yutong Tie,

Thank you for this.

Mario

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: YutongTie-MSFT <notifications@github.com>
Sent: Thursday, April 18, 2019 3:25:29 PM
To: MicrosoftDocs/azure-docs
Cc: marabout2015@hotmail.com; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Definition of norm_macro_recall points to wrong calculation (#29672)

@marabout2015

[2019-04-18 19:31] YutongTie-MSFT commented on #17426
@MarileeTurscak-MSFT for FYI

[2019-04-18 19:36] ChristianMontoya commented on #29565
@khan-tariq , @Karishma-Tiwari-MSFT : At the moment, we do not have any specific dates for Teams support in Windows Virtual Desktop. We do realize it's a high-priority work item for Office365 customers so we are actively investigating and working to support it as soon as we can.

[2019-04-18 19:43] palma21 commented on #29566
Hi,

@maxilampert you can reset the AAD credentials for an AAD-Enabled clusters using analogous process as for the Service Principal.

Eg. with the CLI:

`az aks update-credentials -n <aks_name> -g <aks_rg> --reset-aad --aad-server-app-id <Server App ID> --aad-server-app-secret <Server App Secret> --aad-client-app-id <Client App ID> --aad-tenant-id <AAD Tenant ID>`

[2019-04-18 19:52] aljo-microsoft commented on #25098
@wasabii

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-fabric-service-model-schema-complex-types.md#DefaultServicesType-complextype

[code]

Its just a string. If you have a named partitioned stateful service, then you can create using a "String" a DNS record for each named partition, so that DNS lookup of that string will return the IP address for resolv

[2019-04-18 19:53] Grace-MacJones-MSFT commented on #28575
I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2019-04-18 19:53] #28575 closed

[2019-04-18 19:53] TravisCragg-MSFT commented on #28864
@lphomiej I have confirmed that this is not possible at this time. Typically Pre-Loading assets is for particular pages or media that you suspect are about to get a sudden high volume. Why exact do you want to pre-load your origin?

Also, if you want us to enable this feature in the future, [please leave your feedback Here](https://feedback.azure.com/forums/169397-cdn).

[2019-04-18 19:54] iainfoulds commented on #29566
Thanks, @palma21!

[2019-04-18 19:55] mrbullwinkle commented on #24242
I merged a quick PR to resolve the RequestTelemetry not having a property of type issue. Leaving PR open as engineering team indicated they may want to refactor the doc further as time allows.

[2019-04-18 19:58] aljo-microsoft commented on #23408
@dapathy
https://docs.microsoft.com/azure/service-fabric/service-fabric-best-practices-security

Please adopt documented best practices to mitigate issues like this.

[2019-04-18 20:15] JasonWHowell commented on #29659
@Anmolgan81 did you try the Graph explorer to see if they show up?

https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals

https://developer.microsoft.com/graph/graph-explorer

[2019-04-18 20:23] MicahMcKittrick-MSFT commented on #29673
@sampath2121 thanks for reaching out. If you still have feedback feel free to let us know or reopen this issue.

[2019-04-18 20:24] himanshusinha-msft commented on #29655
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-18 20:24] MicahMcKittrick-MSFT commented on #29566
Thanks all!

@iainfoulds is this something you think we should include in this doc? Else I will close it out.

[2019-04-18 20:33] iainfoulds commented on #29566
@MicahMcKittrick-MSFT Let's close out this one, please. I'll add it into the doc on updating credentials, based on https://github.com/MicrosoftDocs/azure-docs/issues/29673 that I followed up with offline and was essentially a duplicate of this. I'll add a link to that update credential doc from this doc on configuring the Azure AD integration.

[2019-04-18 20:41] Anmolgan81 commented on #29659
I am trying to understand if the HDinsight gives us the ability to see the service principal like hive,sqoop etc into the azure active directory? Like it shows inside the cluster.

Regards
Anmol Ganju

________________________________
From: Jason H <notifications@github.com>
Sent: Friday, April 19, 2019 1:45:44 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/az

[2019-04-18 20:59] #29566 closed

[2019-04-18 21:09] MarileeTurscak-MSFT commented on #29485
What is the output when you use these?

[2019-04-18 21:13] Neckross commented on #29485
I have received feedback from Microsoft stating this attribute is not available yet with Azure DDGs:
https://github.com/MicrosoftDocs/azure-docs/issues/29433
I submitted an idea for future roadmap:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37414642-support-for-azure-dynamic-device-groups-for-groupi

[2019-04-18 21:25] Juliako commented on #28950
Thank you for pointed it out. I updated the json example

[2019-04-18 21:25] Juliako commented on #28950
#please-close

[2019-04-18 21:26] Juliako commented on #22955
#please-close

[2019-04-18 21:27] ericfowler303 opened #29683 "Update for b2clogin.com changes"
Shouldn't the second section 'Configure Azure AD as an identity provider' make use of b2clogin.com instead of login.microsoftonline.com in it's example for the Metadata Url example or is this info currently correct?
https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-04-18 21:48] georgewallace commented on #29601
@snyder-riley-pfg Thanks for reaching out.  I am reaching out to the team to see what can be done about this.

[2019-04-18 21:51] sugarjig opened #29684 "Configuring through ARM template is possible"
The SQL advisor configuration is documented in the [ARM template reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2014-04-01/servers/advisors). I am able to get this to work, although it seems to fail randomly with `Server automatic tuning settings from previous request have not propagated to all databases yet. Please try again in few minutes.`.

---
#### Document Details

[2019-04-18 21:52] dougsi opened #29685 "Preview?"
Has RBAC for the role 'Storage Queue Data Contributor' exited preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3bc72-3623-6acf-44e2-887ad49ffd96
* Version Independent ID: 73530cea-caa3-4159-0f4b-d67407abb315
* Content: [Manage access to Azure resources using RBAC and the Azure portal](https://docs.microsoft.c

[2019-04-18 21:55] rachel-msft commented on #29652
@vikaskumawat80 as Mike mentioned, we recommend you consider connection pooling. Here's our blog for more information: https://azure.microsoft.com/blog/performance-best-practices-for-using-azure-database-for-postgresql-connection-pooling/

[2019-04-18 22:00] MartinJaffer-MSFT commented on #29655
Thank you for bringing the inconsistency to our attention @aaronhughesdelt .  I will assign the issue to the author.

@nabhishek , could you please correct this port number inconsistency?

The inconsistency is in the Firewalls section.  "8060" does not appear in the document text, but does in one of the images, as shown below.
![image](https://user-images.githubusercontent.com/46612670/56393654-f9

[2019-04-18 22:08] MartinJaffer-MSFT commented on #29432
My apologies @McGarvJ , this feature does not currently exist in Data Factory V2 at this time.  You can request / upvote this feature at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory).

[2019-04-18 22:08] #29432 closed

[2019-04-18 22:10] KingdomOfEnds commented on #27715
@marvin06 , @matdarMsft - If you feel that this has been resolved, would @Alberto-Vega-MSFT mind closing this?

[2019-04-18 22:19] prathul commented on #13935
I ran into the same issue. The external-ip was in pending state after hours. I tried with with WestUs, WestUs2 and EastUs. I fixed it by  using a service principal instead of ssh keys.

$rg = "<resource group name>"
$aks = "<K8 cluster name>"
# Create service principal
az ad sp create-for-rbac --skip-assignment
# Note the appId and password from output
az aks create --resource-group $rg --name $ak

[2019-04-18 22:20] prathul commented on #13935
I ran into the same issue. The external-ip was in pending state after hours. I tried with with WestUs, WestUs2 and EastUs. I fixed it by using a service principal instead of ssh keys.

`$rg = "<resource group name>"
$aks = "<K8 cluster name>"

# Create service principal
az ad sp create-for-rbac --skip-assignment

# Note the appId and password from output
az aks create --resource-group $rg --name $

[2019-04-18 22:22] prathul commented on #13935
I ran into the same issue. The external-ip was in pending state after hours. I tried with with WestUs, WestUs2 and EastUs. I fixed it by using a service principal instead of ssh keys.

$rg = "resource group name"
$aks = "K8 cluster name"

# Create service principal
az ad sp create-for-rbac --skip-assignment

# Note the appId and password from output
az aks create --resource-group $rg --name $aks -

[2019-04-18 22:23] prathul commented on #13935
I ran into the same issue. The external-ip was in pending state after hours. I tried with with WestUs, WestUs2 and EastUs. I fixed it by using a service principal instead of ssh keys.

$rg = "resource group name"
$aks = "K8 cluster name"

Create service principal
az ad sp create-for-rbac --skip-assignment

Note the appId and password from output
az aks create --resource-group $rg --name $aks --nod

[2019-04-18 22:31] iainfoulds commented on #13935
Just for clarity, @prathul, that's two very different things. I don't think you were running into problems because of SSH keys.

Every AKS cluster has a service principal, it's just whether you pre-create one or let the AKS cluster create one during create time. The service principal is used for communication with other Azure resources.

Same for SSH keys. The `--generate-ssh-keys` generates the r

[2019-04-18 22:42] SeanCLeavitt opened #29687 "Sample Adventure Works .bacpac?"
Could you please supply a readily downloadable .bacpac file on this page so that I can practice walking through the process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
* Content: [Import a BACPAC file to create an Az

[2019-04-18 22:49] jfggdl opened #29688 "Reference to a client directory is obsolete."
Hi,

This is Javier Fernandez @jafernan (PM for Azure Messaging for Stack).

The reference to a "**client**" directory is obsolete. Per Ramya Achutha Rao, that directory existed on previous version of the NodeJs SDK. We need to change the document so that it does not refer to the client directory. For the final version, we should consult with Ramya.

Document link: https://docs.microsoft.com/en-us

[2019-04-18 22:58] Deepudev13 commented on #29000
Hi @jakaruna-MSFT
I have posted my idea
https://feedback.azure.com/forums/217313-networking/suggestions/37311568-azure-loadbalancer-must-delete-unhealthy-vm-of-azu
Please vote it if you think so...

[2019-04-18 23:06] MarileeTurscak-MSFT commented on #29485
Thanks @Neckross

We will close this out then.

[2019-04-18 23:06] #29485 closed

[2019-04-18 23:16] dkkapur commented on #29407
@maburlik @jkochhar can one of you confirm if this is a requirement from our side / DCA?

[2019-04-18 23:17] femsulu commented on #29677
@ToddChitt Apologies for the frustration. Would like to better understand your specific frustrations  with migrating to the Alerting framework so we can work with the feature owner @snehithm  to address them. Please send mail to AzCommunity@microsoft.com to continue this conversation.

@snehithm  - FYI

[2019-04-18 23:19] femsulu commented on #29677
we will now close this issue but looking fwd to hearing from you.

[2019-04-18 23:19] #29677 closed

[2019-04-18 23:20] dksimpson commented on #21927
Hi @CelesteDG, has there been any progress on this issue?
cc: @barbkess

[2019-04-18 23:25] Karishma-Tiwari-MSFT commented on #29674
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-18 23:28] MarileeTurscak-MSFT commented on #29685
@dougsi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 23:29] MarileeTurscak-MSFT commented on #29683
@ericfowler303
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-18 23:33] Karishma-Tiwari-MSFT commented on #29688
@jfggdl
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-18 23:37] KingdomOfEnds commented on #28225
@ganniaiuei , @TheGrungeByte - I've created a PR to include these recommendations. Thanks!

[2019-04-18 23:40] SaurabhSharma-MSFT commented on #29416
@DrewSummers We will now proceed to close this thread as we haven't heard. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-18 23:40] #29416 closed

[2019-04-18 23:50] KingdomOfEnds commented on #24002
@Alberto-Vega-MSFT - This is presently being reviewed in tandem along with several potential Tutorial updates. Thank you for notifying the team!

[2019-04-18 23:56] Karishma-Tiwari-MSFT commented on #29676
@aquibqureshi26
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-18 23:57] Karishma-Tiwari-MSFT commented on #29678
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-18 23:58] BigMorty commented on #14130
@danielwgrech If you are building a single Service Fabric application with two or more services, create a single solution that contains both service projects and add Container Orchestrator Support - Service Fabric to both. This should add a Dockerfile and service manifest to each of your service projects as well as add a Service Fabric (SF) project (.sfproj) to the solution. If you F5 with the SF

[2019-04-18 23:58] Karishma-Tiwari-MSFT commented on #29679
@CHDAFNI-MSFT
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 00:00] Karishma-Tiwari-MSFT commented on #29684
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-19 00:01] Karishma-Tiwari-MSFT commented on #29687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 00:02] kevinclarkneudesic opened #29689 "TypeScript definitions do not match tutorial"
According to the tutorial on the orchestration function the context is supposed to have  the ability to log:

df.orchestrator(function*(context){
    context.log("Starting chain sample");

However, this is the type definition....no log.
import { DurableOrchestrationContext } from "./classes";
export interface IFunctionContext {
    bindings: {
        [key: string]: object;
    };
    df: DurableO

[2019-04-19 00:03] CarlRabeler commented on #29675
fixed - please close
@Mike-Ubezzi-MSFT

[2019-04-19 00:04] Karishma-Tiwari-MSFT commented on #29675
@BrentOzar
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-19 00:04] #29675 closed

[2019-04-19 00:09] CarlRabeler commented on #29687
Try here: https://github.com/Microsoft/sql-server-samples/releases/tag/wide-world-importers-v1.0

[2019-04-19 00:10] kazshi commented on #29623
@SadiqhAhmed-MSFT Thank you for the confirmation. It would be great if it's documented to make it clear  it's by design.  Thanks.

[2019-04-19 00:10] #29623 closed

[2019-04-19 00:11] Mike-Ubezzi-MSFT commented on #29684
@sugarjig Are you making multiple changes via multiple executions of the ARM template or are you making a bunch of changes with one execution of the ARM template? Or is this the case randomly, as you stated? Is Geo-Replication enabled in this environment? I am trying to get a sense of what might be going on, either pending updates have yet to be implemented or the Auto Tuning process is running du

[2019-04-19 00:16] wasabii commented on #25098
SRV records however are not just strings. They have service and protocol components as defined by RFC2783.

The documentation doesn't describe how a service name configured in SF maps into those components.

[2019-04-19 00:19] LeeHyeongWon opened #29690 "iotedge stored system"
Hi everyone
I want answer to some questions.

1. How do store data in iotedge?
    queue? blob? Variables inside the code? log file?

2. Where is the view my stored data

Thank you for reading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2ebd-9d7f74d79005
* Version Independent ID: 3158bd35-4d7d-63

[2019-04-19 00:20] Mike-Ubezzi-MSFT commented on #29678
@CarlRabeler for awareness.

[2019-04-19 00:21] Mike-Ubezzi-MSFT commented on #29674
@KalyanChanumolu-MSFT Can you take a peek at this?

[2019-04-19 00:29] sugarjig commented on #29684
I've tried different variations of Enabled, Disabled, and Default, but each time I am setting values for `CreateIndex`, `DropIndex` and `ForceLastGoodPlan` in a single execution of the ARM template. Each time, it looks like one of them succeeds, while the other two fail with the error message. Geo-replication is not enabled in this environment.

I've going to wait overnight and try again in the mo

[2019-04-19 00:30] sugarjig commented on #29684
Meant to add: the one that succeeds changes between runs.

[2019-04-19 00:42] Mike-Ubezzi-MSFT commented on #29687
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-19 00:42] #29687 closed

[2019-04-19 00:52] Alberto-Vega-MSFT commented on #29690
@LeeHyeongWon Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author. Also you might want to read this doc [Azure IoT Reference Architecture 2.1]( https://azure.microsoft.com/en-us/blog/azure-iot-reference-architecture-2-1-release/)

[2019-04-19 00:52] lucas95123 commented on #29518
Hi Swati

Thanks for the response, now I get how all these work. Another question by the way, do you guy now or in the near future have plans for C# SDK? would be very helpful for .Net applications.

Thanks,
Kuan
________________________________
发件人: Swati Gharse <notifications@github.com>
发送时间: Wednesday, April 17, 2019 9:17:24 PM
收件人: MicrosoftDocs/azure-docs
抄送: Kuan Lu; Mention
主题: Re: [Micros

[2019-04-19 01:01] YutongTie-MSFT commented on #29363
@antonecg
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-19 01:01] #29363 closed

[2019-04-19 01:06] kogesaka commented on #29551
@DixitArora-MSFT, Thank you for comment. I was able to understand the description, but please ask additional questions.
For example, if create Functions App in Japan East region, the JSON fragment has the following recognition as far as you check it :

- outbound IP addresses : AppService.japaneast
- inbound IP addresses : AzureCloud.japaneast

outbound/inbound IP addresses of the created Function

[2019-04-19 01:12] spelluru commented on #29380
Thanks @SeanCLeavitt
I have added it to the Pre Requisites section.

#please-close

[2019-04-19 01:12] spelluru commented on #29380
@jwargo

[2019-04-19 01:13] spelluru commented on #17315
@mpalladinru - Thank you. I have updated it to install azure-sb.

#sign-off

[2019-04-19 01:24] roygara commented on #28086
@msLinuxNinja I've confirmed that is indeed the default and will be adding this to the article. Thanks again for helping improve our documentation, we appreciate it! :)

[2019-04-19 01:58] jinzejian commented on #29580
Thanks Travis for the reply. Which means "AzureCloud tag is all azure public IP ranges" is not entirely correct currently, right?

Also, which tag should these IP belongs to (or will belong to), I checked they do belongs to Azure
65.55.163.x

Thanks.

[2019-04-19 02:36] mudbob opened #29692 "Using the Marketplace Deployment Method described Forces Japan East as Automation Account"
If you try and deploy the Start/Stop from the Marketplace - after creating an OMS Workspace in Central US and then create an Automation Account - the Location is set to Japan East - and you cannot change it.  And, when created it does create it in Japan East.  This is broken.  If you try and create an Automation Account ahead of time to select it during setup - it does not show up as available.

-

[2019-04-19 02:45] mike-urnun-msft commented on #29689
Hi @kevinclarkneudesic Thank you for your feedback! We will review and update as appropriate.

[2019-04-19 02:54] BryanTrach-MSFT commented on #29380
@SeanCLeavitt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-19 02:54] #29380 closed

[2019-04-19 02:58] MoRMongol commented on #29183
I need help on this matter as well. I'm trying to create an Ubuntu Web server with high availability feature. Thus I went with Virtual Machine Scale Set (let me know if there are different ways to deploy redundant web servers). I was able to create the VM Scale Set and the Load Balancer as this article instructed. However, I couldn't assign the public IP to the instances within the VM Scale Set. P

[2019-04-19 03:20] SnehaAgrawal-MSFT commented on #29544
@OzBob Just checking in if you have had a chance to see the previous response. Let me know if you have any other question on this

[2019-04-19 03:41] SnehaAgrawal-MSFT commented on #29618
@Anand-Moghe Thanks again for the question! You can use the steps from the  blogs below to install the PHP extension.

https://azureossd.github.io/2019/01/29/azure-app-service-linux-adding-php-extensions/

https://azureossd.github.io/2019/01/29/azure-app-service-linux-update-php-settings/

Also, if you need to include additional dependencies for Linux PHP app, you can use Composer to install them.

[2019-04-19 03:59] TravisCragg-MSFT commented on #29580
@jinzejian The published IP Ranges are in the JSON Doc. I am unsure outside of what is published there unfortunately.

[2019-04-19 04:12] mghrivera commented on #19163
What a joke..the links are still broken....

[2019-04-19 04:27] dcbrown16 commented on #29625
We're also looking to confirm if changing the dynamic/ephemeral port range to something other than the one starting with 49152 would have any impact on Backup traffic.

[2019-04-19 04:33] aquibqureshi26 opened #29695 "BlockSizeInMB param is not present in this documentation"
i thought this official doc should contain all the parameters. later i got to know BlockSizeInMB parameter from stackoverflow and then searched this blog. Didn't find it and thought stackoverflow blogger was wrong.
Then i thought of azcopy /? and saw the same blocksizeinMB cmd.

Can you please update this doc with all the possible parameters. this is official doc and should contain the parameters.

[2019-04-19 04:35] georgewallace commented on #29692
@mudbob Thanks for bringing this up.  I am able to repro your issue.. I will reach out to the team tomorrow morning.

[2019-04-19 04:47] rajb865 commented on #29478
hello everyone,

any update on this?

[2019-04-19 05:51] LeeHyeongWon commented on #29690
@Alberto-Vega-MSFT
https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#optional-offline-settings
what is stored "/iotedge/storage/"?

iotedge logs edgeHub < command in linux
2019-04-19 05:33:40.865 +00:00 [INF] - Updated the edge hub store and forward configuration
↑ what does store in this log?

How to store iot edge messages? (ex. queue, blob, log file, etc...)

[2019-04-19 06:08] OzBob commented on #29544
@SnehaAgrawal-MSFT that's explained sufficiently.

[2019-04-19 06:08] OzBob commented on #29544
@SnehaAgrawal-MSFT that's explained sufficiently.

[2019-04-19 06:08] #29544 closed

[2019-04-19 06:43] dcbrown16 commented on #18428
Appears to be fixed? Closing.

[2019-04-19 06:43] #18428 closed

[2019-04-19 06:50] kazshi opened #29697 "Importing error when Allow access to Azure services is ON"
I verified importing from a BACPAC file in the Azure portal would be succeeded when 'Allow access to Azure services' is ON (Firewalls and virtual networks), but it fails with the following error if the 'Allow access to Azure Services' is OFF.  I know we can avoid the error by setting 'Allow access to Azure services' is ON, but my customer cannot do because of security reason.
- What is the IP addr

[2019-04-19 06:51] changeworld opened #29698 "It is difficult to distinguish because the property name(type) in JSON snippet(AzureBlobInput) is the same."
Since property names may be the same, I think that it is better to change them so that they can be distinguished in one of the following ways.
If you decide which one is better, I will modify it and send a Pull Request.

1. Separate the table for each object
evi: https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-03-01/virtualmachines
2. Describe in XPath format
evi: https://d

[2019-04-19 06:56] dearandyxu commented on #17494
Update the screen shot for step 15.

#please-close

[2019-04-19 06:58] dearandyxu commented on #14465
Added more description in document to address the feedbacks.

#please-close

[2019-04-19 07:00] v-samiya opened #29700 "Please add the information below on this page"
Request to add some information on this link:

"For example, if you wish to use Windows containers or a container runtime other than Moby, you can use aks-engine to configure and deploy a Kubernetes cluster that meets your current needs."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81

[2019-04-19 07:04] YASWANTHM-MSFT commented on #29695
@aquibqureshi26, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-19 07:47] yokofms commented on #29563
Hello CHEEKATLAPRADEEP,

Thank you for your reply.  However, It seems like you are accessing Azure Table Storage from Power BI, not Azure Analysis Services.  Suggesting is for Azure Analysis Services data source (Table Storage) requires On-Premises Data gateway, even though document does not state this requirement.  Here’s the screenshot and Error message that my customer and I are seeing when pro

[2019-04-19 07:50] DashleenBhandari-MSFT commented on #29628
@syuraj ,  Thanks for raising this issue. I will check and update you.

[2019-04-19 08:00] ChiragMishra-MSFT commented on #29498
@giusbi Glad to know that it worked for you. I will now proceed to close this issue. Feel free to still comment and tag me in case you have any other queries.

[2019-04-19 08:00] #29498 closed

[2019-04-19 08:04] sarrah-hussain opened #29703 "Incorrect default streaming endpoint format: {AccountName}.streaming.mediaservices.windows.net"
I created around 6 AMS accounts and for each of them the default endpoint was not following the above format. It was:
 {AccountName}-{Location}.streaming.mediaservices.windows.net

For example, if location was US East, the endpoint would be:
{AccountName}-usea.streaming.mediaservices.windows.net
If location was US Westm the endpoint would be:
{AccountName}-uswe.streaming.mediaservices.windows.net

[2019-04-19 08:23] LeeHyeongWon opened #29704 "iotedge status monitoring"
Hi

I need edge resource and status monitoring.

monitoring in edge Compute
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
┌───Computer────┐
│.........┌──────┐.........│
│.........│ IoT Edge │.........│
│.........└──────┘.........│
│...(resource)**↓**(status)...│
│.......┌───────┐.......│
│.......│Monitoring│.......│
│.......└───────┘.......│
└─────────────┘

How do make monitoring in edge compute

[2019-04-19 09:34] reptilbud commented on #23201
Hi there,

I'm also getting this error.

I have a nodejs backend running connecting CosmosDB via mongoose and after some times, I got "MongoError: NotAuthenticated"

Any idea about this ?

Cheers

[2019-04-19 09:38] dastewa opened #29705 "Instances vs Replica"
Since the SF docs (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-technical-overview) state that "Within a partition, stateless named services have instances, whereas stateful named services have replicas.", it it seems kind of confusing to refer to a "a random replica of the stateless service instance".

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-19 09:52] andrewatfornax commented on #17471
I think that @sujayt has unfortunately misunderstood the issue here. Looking at the general Ubuntu documentation, while interesting, does not help an Azure user, who is looking to deploy an Ubuntu image from the Marketplace with understanding which kernel is included in each different Marketplace image version.

That is the information that would be helpful to be able to find, and which at the tim

[2019-04-19 10:09] danimir commented on #29684
@Mike-Ubezzi-MSFT  This option is not officially supported. Although customer found it through the ARM, this was not officially tested nor staffed to be supported. Thanks.

[2019-04-19 10:21] svetasaraeva commented on #10149
@cynthn @singhkays
getting the same error while deploying template from Azure portal:

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeployme

[2019-04-19 10:46] nabhishek commented on #29655
@MartinJaffer-MSFT Thanks for bringing this up. Fixed it.

[2019-04-19 10:47] nabhishek commented on #29655
#please-close

[2019-04-19 10:51] YASWANTHM-MSFT commented on #29704
@LeeHyeongWon,Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get help o

[2019-04-19 10:54] sajjanhubale opened #29708 "Not able to kill current running runcommand and not able to execute more than one commands in parallel."
Hi,

As Azure have restriction on executing more than one commands in parallel and wait for 90 mins in case last command failed. We are working on cloud automation project and we would like to see a functionalities which are similar to AWS ssm agent but unfortunately we are not able to implement same in azure side.

It would be great if you can consider this feature as an enhancement so in future

[2019-04-19 11:35] ravinsp commented on #29210
Upon my own experimentation I can sort of guess the answer. I checked the IoTHub daily usage quota widget after sending some messages. First, I sent 100 X 1KB messages and looked at the usage, it has counted 100 messages. Then I sent 100 X 16KB messages, and it had counted 400 messages. So my guess is even if you send a 1 KB message it gets counted as a full message. If you go over the 4KB message

[2019-04-19 11:41] kb321 commented on #22604
Instructions work as advertised in my commercial subscription. But in US gov cloud subscription, not so lucky. What needs to be done to see this API? When typed, the answer is 'no results'.

[2019-04-19 12:04] SnehaAgrawal-MSFT commented on #29544
@OzBob Its good to know that it was helpful, If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-19 12:10] jontucichterazo opened #29709 "Missing 's'"
This sentence is missing an 's' after "let":
It also let you limit access to only the resources that belong to the target resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for d

[2019-04-19 12:18] watahani commented on #29387
@ManojReddy-MSFT
In my understand when client request `access token` , client send `refresh token` to `token endpoint`.
If refresh token valid, Azure AD response both `access token` and `refresh token`.   It mean that client does not need re-authenticate if client access every 90 days.

[2019-04-19 12:20] vhatuncev commented on #17180
Hi, I'm trying to switch directory for my subscription and message was successful, but nothing happens. Can you please help me understand why change does not happens?

[2019-04-19 13:03] abhiramani-iptiq opened #29710 "Azure Cli Command to list all Log Alerts"
Hi
how do you list all Log Alerts in resource Group using Azure CLI?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf2c0c6-fa14-66f1-1f84-92f22a3b2bb6
* Version Independent ID: b1d4ef1c-fa18-71d5-a1ec-4477250c6445
* Content: [Create, view and manage log alerts Using Azure Monitor](https://docs.

[2019-04-19 13:17] RohitMungi-MSFT commented on #29646
Thanks @ahalha. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-19 13:17] #29646 closed

[2019-04-19 13:25] kick23 commented on #29400
hello krishna,

Thanks for the update so far can you please see them below script i have written this as per your logic still i am able to disable only alerts on application insights, i am sure that i am doing something wrong can you please check below code once and suggest me where i am doing wrong.

    function Get-AccessTokenFromContext
        {
        try {
            $accesstoken = (New-O

[2019-04-19 13:25] kick23 commented on #29400
https://ibb.co/KzTT2MR

[2019-04-19 13:27] poohi410 opened #29711 "Does adding a node by Scaling up the Cluster will create a new container in the Azure Storage Account?"
Does adding a new node by Scaling up the Cluster will create a new container in the Azure Storage Account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8addd7f2-4802-5439-0443-369c72df321f
* Version Independent ID: 2262061e-ac4a-2e85-271a-a7790c77c867
* Content: [Scale cluster sizes - Azure HDInsight](https://docs.mi

[2019-04-19 13:29] #17315 closed

[2019-04-19 13:30] j-martens commented on #29283
@cbtham - do you still have a need? If not, thanks for your question and #please-close.

[2019-04-19 13:31] j-martens commented on #28692
@pospanet - checking back in.

[2019-04-19 13:43] sugarjig commented on #29684
I find this very confusing because the ARM reference documentation includes this feature (https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2014-04-01/servers/advisors). I'm surprised that other customers haven't run into this issue, given that the API version is from 2014. Should we suggest to the ARM team that they remove this documentation?

On a more general note, I have come to e

[2019-04-19 13:47] danimir commented on #29684
@sugarjig I hear you and agree that all resources should be ARM configurable, but this is not the case. @Mike-Ubezzi-MSFT Can we ask the ARM folks to remove this reference please?

[2019-04-19 14:05] KausalyaArumugam opened #29712 "To add a new attribute with static value"
Hi All

I have a requirement to add the new attribute with static value.
How can i add an attribute with static value?

![image](https://user-images.githubusercontent.com/49787642/56427655-4a45ed00-62da-11e9-95d7-dc52501f97c4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a39d87-a57c-ef0b-eb9f-286d3ee65141
* Ver

[2019-04-19 14:07] SnehaAgrawal-MSFT commented on #29631
@tony-gutierrez Thanks again for the feedback! Could you elaborate on what error you are getting and share the screen shot to help you better on this.

[2019-04-19 14:38] rahulshukla422 commented on #12717
No it will not log out since i am also facing the same issue where after logout from the application old request are still valid

[2019-04-19 15:18] YutongTie-MSFT commented on #29672
@marabout2015
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-19 15:18] #29672 closed

[2019-04-19 15:19] DrewSummers commented on #29416
![AzureAD_Sign-in-Log_135011_Left](https://user-images.githubusercontent.com/31865032/56430626-e64d0580-6294-11e9-94b7-6a8718cec9b3.png)

![AzureAD_Sign-in-Log_135011_Right](https://user-images.githubusercontent.com/31865032/56430633-ec42e680-6294-11e9-9247-14ef5a8073fe.png)

The error numbers come thru the Azure Sign-In log. I've attached screen shots of the logs with the request IDs. I don't hav

[2019-04-19 15:24] YutongTie-MSFT commented on #17494
@casalam
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-19 15:24] #17494 closed

[2019-04-19 15:27] mexidus opened #29716 "AD Connect Server Failed"
The AD Connect server failed for our client and we decided not to replace it, but to migrate fully to Azure AD.
How can this be disabled when you no longer have an on-prem server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
* Version Independent ID: 5c8b677b-f4cd-0bb5-c7d6-9b1ef9

[2019-04-19 15:28] DrewSummers commented on #29416
@SaurabhSharma-MSFT  I don't seem to have the ability to re-open the issue. I attached some screen shots.

[2019-04-19 15:34] Adam-Smith-MSFT commented on #29676
@aquibqureshi26 I'd recommend posting on either [MSDN](https://docs.microsoft.com/en-us/azure/storage/) or StackOverflow since this is not an issue with Documentation.

For advice regarding your issue,  If the journal file already exists, then AzCopy resumes the operation based on the journal file, meaning it would resume where it left off. But in your case if you are using XO, and delete the jour

[2019-04-19 15:34] #29676 closed

[2019-04-19 15:40] bt102 commented on #28604
@jay98014 just wanted to confirm:
1. The licensing link you mentioned, saying that license is required for "Users synchronized from on-premises Windows Server Active Directory" for Azure AD Premium P1 or P2. Does it mean all users that are synchronized from on prem Server to Azure need to have license?
2. You stated that you need to have at least some users that are being synced under Azure AD Pre

[2019-04-19 15:48] RohitMungi-MSFT commented on #29557
@zeeshan-ks We are glad the container now works for you. I think the issue is with overwriting the existing file after we get the new one. We have now updated the documentation to ensure the new export files are downloaded correctly without overwriting it.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We

[2019-04-19 15:52] Minewiskan commented on #28236
#in-progress

[2019-04-19 16:05] msrini-MSFT commented on #28209
@dbsanfte , When Traffic Manager sends a probe to the resource, first TCP 3 way handshake happens. Post that if it is HTTPS endpoints, TLS handshake happens where in the Client Hello, you can see a field named "Server Name" which helps Server to decide which site the client is looking for.

So, you can take a packet capture and check what is the Server Name TM is requesting for and see whether you

[2019-04-19 16:06] Mike-Ubezzi-MSFT commented on #29418
@Layla-P Thank you for the additional feedback. I am assigning to the content owner to evaluate and update as appropriate. PR #73197 is still outstanding for merge approval. An additional detail with regard to where to find access keys would be very helpful. The official [Configure Azure Storage connection strings](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-

[2019-04-19 16:15] Grace-MacJones-MSFT commented on #29703
Hi @sarrah-hussain, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-04-19 16:19] MicahMcKittrick-MSFT commented on #29705
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 16:21] MicahMcKittrick-MSFT commented on #29700
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 16:21] MGoedtel commented on #29602
@dajarma & @SadiqhAhmed-MSFT - The AzMon for containers solution does not support a way to disable collection of ContainerLogs.  The intention of the solution is to deliver a centralized monitoring tool for your AKS clusters versus attempting to achieve this using several other methods.
Including @keikhara the PM for the solution to review your question and understand your use-case.

[2019-04-19 16:23] jamesalroy opened #29719 "misuse contradiction when saying loopback address ( 127.0.0.1/32 as per rfc 3330 ) and frontend loadbalancer ip"
misuse contradiction when saying loopback address ( 127.0.0.1/32 as per rfc 3330 ) and frontend loadbalancer ip .  we should say something clearer like " add another interface on the backend boxes that is the same as the frontend ip of the load balancer "  And be clear how the ip gets on the backend box …  we say " set the checkbox on the loadbalancer rule " but no mention who is updating the inte

[2019-04-19 16:26] Mike-Ubezzi-MSFT commented on #29697
@kazshi Thank you for the detailed inquiry with regard to this common scenario. I assume you are wanting to import a .bacpac file from an on-premise environment? If that is the case, you need to add the Public IP of the client you are executing the import command. Remember that your local (private) machine IP is NAT'd to a public IP. You need to add that IP to your AllowList for your Azure SQL Ser

[2019-04-19 16:36] mamccrea commented on #28856
We've added workitems to update articles that use the old Twitter API. I'm adding a note to this article explaining the situation. I'll try to reply back here once we've updated the tutorial.

#please-close

[2019-04-19 16:36] yehoshuadimarsky commented on #29587
Hate to sound obnoxious here but why do I need to pay for a support plan for this? Microsoft offers a product in PolyBase that is not working as specified, seems there is a defect in the product. So why as a paying customer do I need to pay extra simply to get the product to work?

[2019-04-19 16:40] theonewolf commented on #28822
Let us know if you have any updates @jakaruna-MSFT.

[2019-04-19 16:40] MicahMcKittrick-MSFT commented on #29705
@dastewa can you elaborate more on exactly what you would like to see in this documentation changed?

[2019-04-19 16:42] JasonFreeberg commented on #18570
#please-close

[2019-04-19 16:42] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint I checked with the SF team on this. Here was the response:

The error mentioned in the event is NTE_BAD_PROV_TYPE, which indicates an attempt to access a K(ey)S(torage)P(rovider)-managed private key using a (legacy) C(rypto)S(ervice)P(rovider) object. In other words, the code is using the wrong API to access the certificate’s private key.

This is a known issue/limitation in manag

[2019-04-19 16:44] MGoedtel commented on #28928
I'm going to include @DaleKoetke from the PG on this issue who can best answer it.

[2019-04-19 16:46] MGoedtel commented on #25211
#please-close as I have answered the question and recently updated the AzMon for VMs Health article to detail this scenario and steps to configure in detail.

[2019-04-19 16:49] #28856 closed

[2019-04-19 16:53] bbqchickenrobot opened #29721 "'Secure Secrets with Azure Key Vault' Does Not Exist in Connected Services"
I am using Visual Studio 2019 community edition and I'm trying to add a connected service for Azure Key Vault, however, the 'Secure Secrets with Azure Key Vault' Does Not Exist in Connected Services.  I have other options for Storage Active Directory SSO and Application Insights.  Not sure if this is an issue with the community edition or what?

---
#### Document Details

⚠ *Do not edit this secti

[2019-04-19 16:57] SaurabhSharma-MSFT commented on #29416
@DrewSummers I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know and I will enable one time free support for you.

[2019-04-19 17:10] bgklein commented on #23172
I believe I saw the documents are updated now so closing issue.

[2019-04-19 17:10] #23172 closed

[2019-04-19 17:10] cobrauf opened #29722 "Can't get correct rotation of located spatial anchors"
Hi, I am working on a shared Hololens app and trying to share spatial anchors properly between 2 Hololenses. The positions of the shared spatial anchors will load correctly, but the rotation is way off.

I am following the "AzureSpatialAnchorsLocalSharedDemo" in Unity, but got stuck at how to get the spatial anchors "Pose".  In the demo, there's a method to get anchor pose for Android and iOS, but

[2019-04-19 17:12] MartinJaffer-MSFT commented on #29698
Hello @changeworld  and thank you for bringing this to our attention.  We will review the document and get back to you.

[2019-04-19 17:12] haresh1288 commented on #16997
I am facing the same issues with aggregation, total no of records in collection is just 4612109 only. I am also facing same issue, Can anyone please tell me when this resolved ?

[2019-04-19 17:15] MartinJaffer-MSFT commented on #29711
Hello @poohi410  and thank you for your question.  We will review the issue and get back to you.

[2019-04-19 17:27] newgardj opened #29723 "'Show Advanced Options' functionality has changed"
The screenshots do not reflect an update in the UI of this Connector. 'Show Advanced Options' has been replaced by a contextual 'Add New Parameter' field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9106dab-3f70-7388-1be0-da02b5728827
* Version Independent ID: 13613736-0637-a17c-f5b4-a1476e294032
* Content: [Schedu

[2019-04-19 17:28] JasonWHowell commented on #29711
Scaling the HDInsight cluster up and down does not create a new storage container. It uses the default storage container you declared when you set up the cluster.

Thanks, Jason

[2019-04-19 17:44] MarileeTurscak-MSFT commented on #29683
I think you are correct and am assigning this to the content author, @davidmu1 , to confirm and update as needed.

[2019-04-19 17:47] dksimpson commented on #22188
@1-Peter, thanks for your feedback. I've updated the article and removed the backslashes. We'll now close this issue.
cc: @tamram,

[2019-04-19 17:49] MarileeTurscak-MSFT commented on #29685
According to the latest document it is not in preview. https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-queue-data-contributor

CC: @rolyon

We will now proceed to close this thread. If you have further questions feel free to tag me or @rolyon in the comments.

[2019-04-19 17:49] #29685 closed

[2019-04-19 17:52] zappysys commented on #17980
Regarding PostgreSql not sure you have seen this one but just as an option incase you can use ZappySys PostgreSql components so no ODBC driver needed
https://zappysys.com/products/ssis-powerpack/ssis-postgresql-integration-pack/
We also posted instructions for deploying packages to ADF SSIS IR here https://zappysys.com/blog/run-ssis-azure-data-factory-deploy-monitor-ssis-cloud/

[2019-04-19 18:07] rolyon commented on #29685
Here is a blog post that has some additional info:
https://azure.microsoft.com/en-us/blog/azure-storage-support-for-azure-ad-based-access-control-now-generally-available/

[2019-04-19 18:08] #22188 closed

[2019-04-19 18:15] ardonjr opened #29726 "CRON Simple explanation"
So what is missing from this page is actualy a simple short answer on what the CRON * represents, like so:

# ┌─────────── seconds (0 -59)
# │┌───────────── minute (0 - 59)
# │ │ ┌───────────── hour (0 - 23)
# │ │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │ │

[2019-04-19 18:17] juststur commented on #29605
I can see reading it that way now.  My initial reading understood it to mean that step one referred a user account who would delegate the role Application administrator or Cloud application administrator to another user who was being referenced in step 2.

It would be helpful for guidance to be published on how to make one AAD user the administrator for a single Enterprise Application, with no oth

[2019-04-19 18:19] Anand-Moghe commented on #29618
@SnehaAgrawal-MSFT  I was reviewing some documentation in the Microsoft doc [link](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-php-mysql-app) provided by you and came across [these](https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-php#run-composer) steps for injecting external deployment script to install PHP extension.  Thank you very muc

[2019-04-19 18:19] #29618 closed

[2019-04-19 18:20] SaurabhSharma-MSFT commented on #29716
@mexidus Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-19 18:21] SaurabhSharma-MSFT commented on #29712
@KausalyaArumugam Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-19 18:22] femsulu commented on #29710
@abhiramani-iptiq Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-19 18:23] gtrevi opened #29727 "You do not have permission to view this directory or page"
I'm reopening from issue #29343 as it was simply closed without providing a solution! Why??

----
I succesfully deployed the hello-world application as is, downloaded from the git repo linked above (without including the top-level directory), ad the deploy page says "Deployment successful.".
When I attempt to browse the app, the page displays "You do not have permission to view this directory or p

[2019-04-19 18:23] Mike-Ubezzi-MSFT commented on #29382
There are a couple options to use the CosmosDB Emulator. You can deploy the emulator on Docker or you can deploy the emulator on Docker DevOps agents for a CI/CD deployment workflow.

[Running Cosmos DB Emulator on Docker](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker)
[Set up a CI/CD pipeline with the Azure Cosmos DB emulator build task in Azure DevOps](https:/

[2019-04-19 18:23] #29382 closed

[2019-04-19 18:25] Mike-Ubezzi-MSFT commented on #29382
A great 3rd party blog: [Testing with Azure CosmosDB Emulator in Azure DevOps CI/CD Pipeline with ASP.NET Core](https://blog.spectologic.com/2018/10/02/testing-with-azure-cosmosdb-emulator-in-azure-devops-ci-cd-pipeline-with-asp-net-core/)

[2019-04-19 18:35] Mike-Ubezzi-MSFT commented on #29587
@yehoshuadimarsky I believe support can make that assessment and credit your support plan accordingly.
I can still enable a free support incident if you wish to go that route.

[2019-04-19 18:35] dastewa commented on #29705
Hey @MicahMcKittrick-MSFT,

For sure! Just to put this doc more in alignment with the Service Fabric documentation. In the documentation for the Service Fabric terminology (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-technical-overview), it says that "Within a partition, stateless named services have instances, whereas stateful named services have replicas." However, in th

[2019-04-19 18:35] msrini-MSFT commented on #28209
@dbsanfte , i just tested it out. When you have enabled SNI, and if it shows degraded, you need to make sure you add the host:hostname in the endpoint and make sure your IIS/ web server has the same binding with hostname.

Then your endpoint becomes "online".

Endpoint : External IP

  Frame: Number = 139, Captured Frame Length = 260, MediaType = ETHERNET
+ Ethernet: Etype = Internet IP (IPv4),Des

[2019-04-19 18:39] MarileeTurscak-MSFT commented on #29665
Hi @mthompsonU ,
In order to fully look into your environment I would suggest opening a support case. If you email me at AzCommunity@microsoft.com and send me your subscription ID I can open a free one for you.

[2019-04-19 18:43] MicahMcKittrick-MSFT commented on #29705
@dastewa thanks for all that! I will assign to the content authors to review and see what we can do to make the doc more clear. Thank you :)

[2019-04-19 18:51] TravisCragg-MSFT commented on #29719
@jamesalroy Can you specify exactly which part of the doc you are referring to?

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-19 18:52] femsulu commented on #29710
@abhiramani-iptiq The information you need can be found [here](https://docs.microsoft.com/en-us/cli/azure/monitor/activity-log?view=azure-cli-latest#az-monitor-activity-log-list). Please ping if you have any followup questions.

[2019-04-19 18:52] #29710 closed

[2019-04-19 18:54] Karishma-Tiwari-MSFT commented on #29708
@sajjanhubale Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-19 18:58] Karishma-Tiwari-MSFT commented on #29709
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 19:04] zaphodtx opened #29729 "New-AzRoleAssignment command not working"
When following the steps to create an IoT Hub using dotnet/C# the following line does not work:

New-AzADServicePrincipal -ApplicationId {MyApplicationId}

PS C:\WINDOWS\system32> New-AzADServicePrincipal -ApplicationId f18c5b6c-c6ba-474c-a1bc-993d04355308
New-AzADServicePrincipal : Object reference not set to an instance of an object.
At line:1 char:1
+ New-AzADServicePrincipal -ApplicationId f18

[2019-04-19 19:04] Karishma-Tiwari-MSFT commented on #29721
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-19 19:06] Karishma-Tiwari-MSFT commented on #29722
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 19:08] abhiramani-iptiq commented on #29710
Those are Activity-log Alerts. I am talking about Log Alerts which are different

Abhijit Ramani | Cloud Infrastructure DevOps Engineer | ASSISTANT VICE PRESIDENT | iptiQ Americas L&H
iptiQ Americas Inc. | 175 King Street, 10504 ARMONK, UNITED STATES (USA)
Direct: +1 914 828 8397 Email: Abhijit_Ramani@iptiq.com<mailto:Abhijit_Ramani@iptiq.com>

From: femsulu-MSFT <notifications@github.com>
Sent: F

[2019-04-19 19:08] Karishma-Tiwari-MSFT commented on #29343
Reopening on customer's request. This is customer's verbatim from https://github.com/MicrosoftDocs/azure-docs/issues/29727

I succesfully deployed the hello-world application as is, downloaded from the git repo linked above (without including the top-level directory), ad the deploy page says "Deployment successful.".
When I attempt to browse the app, the page displays "You do not have permission t

[2019-04-19 19:10] Karishma-Tiwari-MSFT commented on #29727
@gtrevi I reopened the other issue and tagged the engineers who will help you out there.
We will now close this issue. If there are further questions regarding this matter, please share in the other issue.

[2019-04-19 19:10] #29727 closed

[2019-04-19 19:11] benjamin-goldman opened #29730 "Web App for Containers"
Hi - i got to this page from the web app for containers page link about how to add an existing app service certificate to a new web app for containers.

This does not seem to be the correct documentation.  Where can I find that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
* Versi

[2019-04-19 19:11] johnwildes opened #29731 "Planner Version History on DOCS"
When do you think you will migrate the version history document to docs.microsoft.com?  Seems like it would be a more natural fit here than over on the old technet site?

https://social.technet.microsoft.com/wiki/contents/articles/51049.asr-deployment-planner-version-history.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-19 19:11] Karishma-Tiwari-MSFT commented on #29729
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-19 19:12] DarqueWarrior opened #29732 "Can't run az acr build locally as in quickstart"
Hey @dlepow,

Everything works fine on cloud shell but I can't get the build command to succeed locally on my machine running version 2.0.58 of Azure CLI.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f357648-1ce0-04eb-fab1-add2e2bce02e
* Version Independent ID: 982ac987-43f5-7fdd-6853-a7fe823040cc
* Content:

[2019-04-19 19:12] dksimpson commented on #21634
Hi @roiyz-msft, has there been any progress on this?
cc: @Karishma Tiwari - MSFT

[2019-04-19 19:15] Karishma-Tiwari-MSFT commented on #29497
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-19 19:15] #29497 closed

[2019-04-19 19:15] Karishma-Tiwari-MSFT commented on #29565
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-19 19:15] #29565 closed

[2019-04-19 19:20] khan-tariq commented on #29565
Thank you. So as per her comment it will be available in future.
Will Skype for business be supported or or it will be in future release.

Regards
Tariq

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Saturday, April 20, 2019 12:45:57 AM
To: MicrosoftDocs/azure-docs
Cc: khan-tariq; Mention
Subject: Re:

[2019-04-19 19:25] dastewa commented on #29705
Np! :D

[2019-04-19 19:32] mthompsonU commented on #29665
@MarileeTurscak-MSFT,
A support case has been submitted regarding this feedback. If the findings are beneficial to the community I will post relevant details here.
Thank you.

[2019-04-19 19:32] yehoshuadimarsky commented on #29587
Yes thanks let's start with the free support incident and go from there.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Friday, April 19, 2019 1:35:24 PM
To: MicrosoftDocs/azure-docs
Cc: Josh Dimarsky; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Polybase loading Parquet file error: class java.lang.Long cannot

[2019-04-19 19:33] mthompsonU commented on #29665
@MarileeTurscak-MSFT,
A support case has been submitted regarding this feedback. If the findings are beneficial to the community I will post relevant details here.
Thank you.

[2019-04-19 19:35] gtrevi commented on #29343
Thank you @Karishma-Tiwari-MSFT
The documentation at:

    https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs#deploy-zip-file

lacks an additional step to add "index.js" in the "Default documents" list, as "index.js" is not in az's web-app template when newly created.

[2019-04-19 19:35] TravisCragg-MSFT commented on #29679
@CHDAFNI-MSFT I am reaching out now to get more information.

[2019-04-19 19:39] zackdrescher opened #29735 "Private package as a dependency"
I am using a custom package for training. I would love to be able to install the package from it's source (i.e. `pip install git+url`) but git isnt installed on AML computes.

I am looking into places to publish (such as private pypi or azure artifacts) but i want to confirm that AML configureation will be able to install them.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-04-19 19:57] BorisB2015 commented on #25814
I apologize for the delay in replying on this. OpenJDK should be available in RHUI.

If you run `sudo yum install java` on RHEL 7.6 PAYG VM you will get java-1.8.0-ibm package. You can explicitly check what is available via `sudo yum list java*` (I recommend `sudo yum makecache` on a brand new VM).

You can explicitly install OpenJDK 11 via `sudo yum install java-11-openjdk` and finally check or c

[2019-04-19 19:59] Karishma-Tiwari-MSFT commented on #29732
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-19 19:59] BorisB2015 commented on #25814
#please-close

[2019-04-19 19:59] mike-urnun-msft commented on #29723
Hi @newgardj Thank you for your feedback! We will review and update as appropriate.

[2019-04-19 20:00] #25814 closed

[2019-04-19 20:00] mike-urnun-msft commented on #29726
Hi @ardonjr Thank you for your feedback! We will review and update as appropriate.

[2019-04-19 20:06] bradyevans opened #29736 "Manual Deployment, Step 2 confusing or inaccurate"
In step 2 of the manual installation steps, it states "Add the Automation solution".  What solution is this referring to?  Is this Automation & Control or Automation Hybrid Worker or Azure Automation service?  In the past this referred to the Automation & Control solution.  I've noticed that this solution fails to install.  This step needs more clarity on how exactly you link Log Analytics and Azu

[2019-04-19 20:08] v-stepbe commented on #15236
#please-close

[2019-04-19 20:14] AjayKumar-MSFT commented on #28950
@wahyuen,  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-19 20:14] #28950 closed

[2019-04-19 20:16] MicahMcKittrick-MSFT commented on #29182
@edm-ms I have been working offline with the AKS team on this issue. Here is what we found

As per below (working as expected). Make sure you have the latest CLI version and extension version. (Also note that the preview extension is for testing only not prod)

**INPUT**
[code]

**OUTPUT**

[code]

Eg. The command
`az aks create -n kubenet3 -g kubenettest -k 1.12.7 --node-count 1 --service-cidr 17

[2019-04-19 20:20] MicahMcKittrick-MSFT commented on #29592
@mganeshphani just FYI, I am looking into this offline. Some people are out of office for the holiday weekend so I do not expect to have anything to share until next week.

[2019-04-19 20:20] iainfoulds commented on #18710
If you [create your own virtual network and subnet and use kubenet](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet), you can use service endpoints in a supported manner.

If you use the default kubenet behavior where the virtual network and subnet are created for you as part of the AKS cluster create process, it is not supported to use service endpoints. As the virtual network subnet

[2019-04-19 20:20] edm-ms commented on #29182
Thanks, appreciate the work here. Do note that the command I used prior works without the autoscale preview so if the expected behavior is to force the network type "-n" that should be modified.

az aks create --resource-group AKS --name aks-prod-useast2 --kubernetes-version 1.12.6 --node-vm-size Standard_B2s --node-count 3 --service-cidr 172.16.100.0/20 --dns-service-ip 172.16.100.10  --vnet-subn

[2019-04-19 20:23] iainfoulds commented on #23789
Sorry people are running into issues here.

The engineering team has identified an issue and is working to resolve this. It seems to be an underlying Kubernetes dashboard change rather than specific behavior in AKS. @palma21 can provide additional context on timelines for resolution.

[2019-04-19 20:24] CodeSwimBikeRun commented on #26733
why is this the answer, shouldn't this product be added to the kubernetes charts api like every other majorly used chart/product?

[2019-04-19 20:26] Mike-Ubezzi-MSFT commented on #29587
I need you to send me your Subscription ID to [AzCommunity](mailto:azcommunity@microsoft.com) and I will send you instructions to get this created with support. Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-19 20:26] #29587 closed

[2019-04-19 20:26] MicahMcKittrick-MSFT commented on #29488
@cwester72 During the creation phase, on step 3 you will see the following

![image](https://user-images.githubusercontent.com/32313503/56442659-7c3d5c00-62a6-11e9-84a6-a42323facd7b.png)

So @ChristianMontoya is looking to see which of the two images you selected. Not sure if you remember or not.

[2019-04-19 20:30] MartinJaffer-MSFT commented on #29711
This could be merged with #29657

[2019-04-19 20:31] MartinJaffer-MSFT commented on #29657
This could be merged with #29711

[2019-04-19 20:31] chetansriv commented on #26280
@markl181 Tutorial is updated as requested, please review.

[2019-04-19 20:31] chetansriv commented on #26280
#please-close

[2019-04-19 20:31] Karishma-Tiwari-MSFT commented on #29517
@sonpeppers The first time I ran the update command, the output showed the old status but then I tried changing --write-enabled true multiple times and result was correct.
@dlepow are you aware of this, do you have any suggestions/insights on what could be causing it? Please let us know. Thanks. :)

[2019-04-19 20:34] MicahMcKittrick-MSFT commented on #29182
@edm-ms fair enough. At this point we have confirmed it to be working but it might be worth expanding the doc a bit to cover this specific scenario. So I will assign to the author for final review to see if it makes sense to add any info to this doc or another.

[2019-04-19 20:34] #18710 closed

[2019-04-19 20:34] Karishma-Tiwari-MSFT commented on #29607
@jnoller @robbiezhang Did any of you get a chance to take a look at this suggestion? Thanks. :)

[2019-04-19 20:37] MarileeTurscak-MSFT commented on #29670
It is redirected but the token is not replaced. It's the same token but there is just a redirection to the Facebook endpoint.

Hope this helps!

[2019-04-19 20:39] #29711 closed

[2019-04-19 20:41] chetansriv commented on #15287
@ermacia91 This is fixed, please review

[2019-04-19 20:41] chetansriv commented on #15287
#please-close

[2019-04-19 20:43] iainfoulds commented on #29182
Thanks for driving the troubleshooting, @MicahMcKittrick-MSFT

While this feature is in preview, we're trying to keep the doc as straight forward as possible, so using kubenet with default ranges for the virtual network resources provided and managed by the AKS cluster. This issue will be associated with the doc at the bottom of the page for others that are trying to specify more of these paramete

[2019-04-19 20:46] MicahMcKittrick-MSFT commented on #29182
Thanks @iainfoulds that makes sense.

@edm-ms thanks for bringing this up. Having this issue opened on this doc should help people if they want to do this while the feature is still in preview.

[2019-04-19 20:46] #29182 closed

[2019-04-19 20:46] SaurabhSharma-MSFT commented on #29605
@juststur You can refer to [Delegate app administration](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-concept-delegation#delegate-app-administration) to provide permissions to enterprise applications.

[2019-04-19 20:48] Minewiskan commented on #28236
@jeffhebrank - There's no need to go into the body to call a sync operation. A POST /sync is required only when you have replicas, as described here https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-scale-out#rest-api. It's pretty straight forward. Keep in mind, this _is not_ the same as a TMSL Synchronize command. If you need more, please open a support request.
#please-c

[2019-04-19 20:49] zaphodtx commented on #29729
I created a new Azure account and this guide worked perfect.

I believe the issue with my other account was that there are two "directories" attached to it and one had a subscription and one did not.  I think one account was the AZ domain owner and one was a personal account; both having the same userID and login e-mail address.  E.g. work vs personal login option.

[2019-04-19 20:49] MikeRayMSFT commented on #28745
@Karishma-Tiwari-MSFT thanks for your patience. Checking into it now.  I've reached out to some PG resources to verify the requirement. As I recall, the subnet value isn't used in the cluster parameter, but it's required for the script to run.

[2019-04-19 20:50] palma21 commented on #23789
@spbreed  problem seems different as he mentions inaccessible via kubectl as well (check if your secrets haven't expired and do open a support ticket so we can check you cluster and help).

For the rest that are having issues exclusively with dashboard, the newer versions of the dashboard require https or the insecure login flag or they will fall to Service Account login.

To force this you can ed

[2019-04-19 21:09] singhkays commented on #10149
@shandilvarun Can you take a look if this message of configuring WinRM on VM works as expected?

[2019-04-19 21:13] roygara commented on #28086
The changes have been merged and should be live later today.

Accordingly,

#please-close

[2019-04-19 21:20] MartinJaffer-MSFT commented on #29698
@changeworld  Is the format of our JSON causing issues for your application / solution?  That snippet is used by Data Factory V1 to describe where the input is, and what form the input is stored in.

[2019-04-19 21:24] jeevansd commented on #29575
@chetansriv and @v-nagta Can you please make these changes in the article? Also I think now this is a good candidate for OneClickSSO.

[2019-04-19 21:37] #14465 closed

[2019-04-19 21:37] #18570 closed

[2019-04-19 21:37] #22955 closed

[2019-04-19 21:37] #25942 closed

[2019-04-19 21:38] #29091 closed

[2019-04-19 21:38] #29283 closed

[2019-04-19 21:38] #29584 closed

[2019-04-19 21:38] #29617 closed

[2019-04-19 21:49] BryanTrach-MSFT commented on #27911
@sujayvsarma Thank you for your patience while we perform our investigation. We have been discussing this matter internally with the product group and the content team. This content was published with the intent of use as is. As a result, there are no plans to update the content in the near future. We apologize for the frustration that this may cause.

We value your opinion and invite you to share

[2019-04-19 21:49] #27911 closed

[2019-04-19 21:53] SaurabhSharma-MSFT commented on #29712
@jeevansd  Can you please help if this is possible.

[2019-04-19 21:54] jeevansd commented on #29712
@chetansriv and @v-viinde Can you please update this article?

[2019-04-19 21:56] SaurabhSharma-MSFT commented on #29716
@mexidus you can refer to [blog](https://interworks.com/blog/mroy/2018/07/25/how-to-fully-remove-microsoft-azure-ad-connect/) to remove the azure ad connect.

[2019-04-19 22:05] mexidus commented on #29716
That article also states that I need to log onto the server and uninstall AD Connect. I do not have a server to login to due to the failure.

How do you uninstall all connections for AD Connect when you no longer have access to the AD Connect server?

[2019-04-19 22:17] jdneilso commented on #23809
Thank you so much for this!!! I was racking my brain for almost a whole work day!  Microsoft should include this in the article.  Managed instances don't support Named Pipes!!!

[2019-04-19 22:17] Grace-MacJones-MSFT commented on #29301
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.