[2020-05-11 18:21] #54524 closed

[2020-05-11 18:22] Karishma-Tiwari-MSFT commented on #54571
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @zr-msft

[2020-05-11 18:24] zamgill commented on #34252
I'm running into the same issue.

[2020-05-11 18:24] Karishma-Tiwari-MSFT commented on #54573
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-11 18:25] Nagarc opened #54587 "Details: "ODBC: ERROR [HY000] [Microsoft][DriverSupport] (1170)"
Details: "ODBC: ERROR [HY000] [Microsoft][DriverSupport] (1170) Unexpected response received from server. Please ensure the server host and port specified for the connection are correct."

I am getting above error when I am rying to connect to databricks cluster using power bi desktop

Documention followed

https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/power-bi

---
#### Docume

[2020-05-11 18:29] himanshusinha-msft commented on #54564
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-05-11 18:29] Karishma-Tiwari-MSFT commented on #54327
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-11 18:29] #54327 closed

[2020-05-11 18:36] XanthViper commented on #13106
Any updates on this? This appears to still be an issue, at least in US GovCloud.

[2020-05-11 18:39] HarshUpadhyay commented on #53794
@gallogiulia at the moment only 2 datastore authentication methods are supported, namely SqlAuth[username/password] and Service Principal[via app registrations in azure portal].
In your case it seems like SqlAuthentication should be a good option. I am adding steps to set up a contained user (will have access to a specific database only - not the whole server)
- Connect to your Azure SQL Database

[2020-05-11 18:40] iainfoulds commented on #54220
Thanks for the feedback, @erichenson

This doc isn't specifically noting the different licensing tiers and SKUs, just that you need a valid license for Azure Multi-Factor Authentication, not per-user or per-device. We have an update lined up for the separate MFA licensing overview doc, but in general - the Office SKUs don't include Azure AD Premium licensing; Microsoft 365 or EMS start to bundle i

[2020-05-11 18:40] #54220 closed

[2020-05-11 18:41] MicrosoftGuyJFlo commented on #54481
@joeri-juramento I must still not understand what you are trying to explain. Feel free to contact me via email in my profile and maybe we can chat more about this.

[2020-05-11 18:45] PeterCLu commented on #53809
Hi @roschly. Thanks for your report, since we haven't heard back from you in some time, I'll proceed to #please-close this issue. If you feel that your documentation issue has not been resolved, please feel free to open a new issue with additional details.

[2020-05-11 18:45] #53809 closed

[2020-05-11 18:46] PeterCLu commented on #53902
@drmauro, since I haven't heard back from you in some time, I'll proceed to #please-close this issue. If you feel that your documentation issue has not been resolved, please feel free to open a new issue with additional information.

[2020-05-11 18:46] #53902 closed

[2020-05-11 18:48] PeterCLu commented on #54247
Since the documentation team has created a backlog work item to track this request, I will proceed to #please-close this issue.

[2020-05-11 18:48] #54247 closed

[2020-05-11 18:50] JeremyWeir commented on #24239
This one is also related and relevant
https://feedback.azure.com/forums/217321-sql-database/suggestions/34337935-monitor-queries-on-secondary-database-when-read-sc

[2020-05-11 18:51] Mike-Ubezzi-MSFT commented on #54173
@paweltajs Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-11 18:51] #54173 closed

[2020-05-11 18:52] CarlRabeler commented on #32774
@Mike-Ubezzi-MSFT Please resolve conflict in 79356

[2020-05-11 18:53] Mike-Ubezzi-MSFT commented on #54259
@pompiamp Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-11 18:53] #54259 closed

[2020-05-11 18:53] vipulsparsh commented on #54406
@KarstenKleinschmidt  Following up to see if you have any questions on this. Do let me know if you got a chance to review the Azure Feedback forum link.  If I close this thread before you see it, please reach out to Azcommunity[at]microsoft[dot]com mentioning this thread and I will get back to you.

[2020-05-11 18:54] vipulsparsh commented on #54289
@jschadow Following up to see if you got any such accounts for us. Please note If I close this thread before you see it, please reach out to Azcommunity[at]microsoft[dot]com mentioning this thread and I will get back to you.

[2020-05-11 18:56] vipulsparsh commented on #53293
@CharmanderJieniJieni  Apologies for the delay on this, we are checking few things internally. We will get back to you on this.

[2020-05-11 18:56] PeterCLu commented on #52766
Hi @usuyama, our engineers were unable to find an issue with your provided workflow. They will need additional information about your setup to continue troubleshooting. Please create a support ticket in the Azure portal for additional help. I'll proceed to #please-close this documentation issue.

1. Navigate to the Azure portal.
1. Select the question mark (?) in the upper right hand corner.
1. Se

[2020-05-11 18:56] #52766 closed

[2020-05-11 18:58] ShaneBala-keyvault commented on #47690
Hello, thank you for the feedback on this document. The document has been updated to point to a link to view the client samples for all languages. Samples can be viewed without downloading first, and can still be downloaded if needed.  PR submitted, changes will be reflected in a few hours.

The key vault team has decided not to publish and maintain these samples on a separate github repo.

Resolv

[2020-05-11 18:58] ShaneBala-keyvault commented on #47690
#please-close

[2020-05-11 18:58] #47690 closed

[2020-05-11 19:00] porrascarlos802018 opened #54588 "one more prerequisite"
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-authentication-key-vault#grant-identity-access-to-key-vault
Ensure customers are aware of Role access assignment to the key vault , otherwise it wont work.

unable to render task: failed to resolve secrets in the task with error: timeout
 in fetching secrets

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-11 19:02] MashaMSFT commented on #54470
Hi @PrometheusRising1 , thanks for reaching out!

Are you referring to this note? '

[code]

Is the question whether or not the IaaS extension a prerequisite to using the FCI feature on a SQL VM in Azure?

Thanks!
Masha from the SQL Docs team

[2020-05-11 19:02] youcc opened #54589 "small error in step 6"
In step 6 under Access your blob container from Azure Databricks,
the python code should be `df = spark.read.text("/mnt/&lt;mount-name&gt;/&lt;file-name&gt;")`.
It's missing a "/" in front of "mnt".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2223cfd-6cd9-d637-d750-36156acf3438
* Version Independent ID: c65ea061-d4

[2020-05-11 19:04] ShaneBala-keyvault commented on #34402
The document has been replaced, with a new document that includes limitations, design considerations, and a tutorial using the Azure Portal, PowerShell, and CLI.

New document can be found here: https://docs.microsoft.com/en-us/azure/key-vault/general/keyvault-move-subscription

Old document is in the process of being removed. Resolving this issue.

[2020-05-11 19:04] ShaneBala-keyvault commented on #34402
#please-close

[2020-05-11 19:04] #34402 closed

[2020-05-11 19:05] bandersmsft commented on #54463
@burstingninja Budget eval and notification timeline is documented at https://docs.microsoft.com/azure/cost-management-billing/costs/tutorial-acm-create-budgets. I'll pass along your request to the engineering team.
#please-close

[2020-05-11 19:05] #54463 closed

[2020-05-11 19:08] PrometheusRising1 commented on #54470
Yes, that is the question. I would like clarification as to what that note means and if it is a prerequisite.

 --JPM

[2020-05-11 19:09] GiftA-MSFT commented on #54479
@v-radelg thanks for pointing this at. Will proceed to update document accordingly. Thanks.

[2020-05-11 19:12] fiksen99 commented on #47690
Hi Shane, I don't see any updates to this file?
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/general/secure-your-key-vault.md

On Mon, May 11, 2020 at 11:58 AM PRMerger20 <notifications@github.com>
wrote:

[2020-05-11 19:12] ShaneBala-keyvault commented on #44992
This document is old and is in the process of being removed.

The additional powershell commands to clear context and log in again have been added to the updated document here: https://docs.microsoft.com/en-us/azure/key-vault/general/keyvault-move-subscription

Resolving this issue.

[2020-05-11 19:12] ShaneBala-keyvault commented on #44992
#please-close

[2020-05-11 19:12] #44992 closed

[2020-05-11 19:14] PeterCLu commented on #54402
Hi @dashesy, can you help me understand your issue further? Do you hope that documentation makes this intended functionality clearer? Or do you hope that run.log_image  sends the image to Metrics or Images instead of "Outputs + Logs"?

[2020-05-11 19:14] SaurabhSharma-MSFT commented on #54583
@jeffpatton1971 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-11 19:15] SaurabhSharma-MSFT commented on #54584
@AmitavaHazra Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-11 19:16] SaurabhSharma-MSFT commented on #54585
@tx5westmt Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-11 19:19] SaurabhSharma-MSFT commented on #48190
@splummer I have received the confirmation that it will be indefinitely.

[2020-05-11 19:21] phillipdwright opened #54591 "Creating the message endpoint fails"
Running the command
[code]
fails with the mesage
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c93275-7ff0-f515-8001-ad513f3d714b
* Version Independent ID: 2c4a7f97-4532-9bd8-ba57-03a11784329a
* Content: [Quickstart: Send custom events with Event Grid and Azure CLI](https://docs.microsoft.com/en-us/azure/even

[2020-05-11 19:21] #54073 closed

[2020-05-11 19:26] AjayKumar-MSFT commented on #53726
@Tovli,  If 2018-11-30 API version works for resource then it would work for API as well and same with other versions.  [Microsoft.ManagedIdentity resource types](https://docs.microsoft.com/azure/templates/microsoft.managedidentity/allversions) and [Microsoft.Web resource types](https://docs.microsoft.com/azure/templates/microsoft.web/allversions).

#40968 - Your feedback has been shared with the

[2020-05-11 19:29] bandersmsft commented on #54547
@sporter83 I don't think the template, as currently developed, supports tags, but I'm verifying with the enginnering team. As Sadiqh pointed out, the EA APIs are your best bet for tag support.

[2020-05-11 19:30] AjayKumar-MSFT commented on #53934
RonnieQuan, We will close this out, but if you feel you need more information please just let us know. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-05-11 19:30] #53934 closed

[2020-05-11 19:30] Mike-Ubezzi-MSFT commented on #32774
@CarlRabeler resolved by removing Managed Instance LTR note.

[2020-05-11 19:31] MatthewSteeples opened #54592 "Azure Batch"
Azure Batch allows you to choose Marketplace Images, but I can't find the configuration option to enable Hybrid use for Azure Batch. Is it supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef4a337-5ded-458c-9131-fee7a8fa99a6
* Version Independent ID: 094498ab-3275-a114-8d47-1722c1af5388
* Content: [Azure Hybri

[2020-05-11 19:34] MicrosoftGuyJFlo commented on #54399
Correct you can use the verification code from the Authenticator app but you cannot register that method using security defaults.

The registration of the Authenticator app does enables code and security defaults allows that as a method.

I will be working on this doc this week and will add some clarification.

[2020-05-11 19:37] josecaodaglio commented on #6478
Hello, I've tried a whole day but couldn't make a collaborator see the Luis Apps I made.

I've created an organisation and validated the DNS.
Created to him an user @myorg.microsoft.com
Added him into both directories I have.
Give him access as contributor to the LUIS resource.

As I don't have any previous experience in Azure, I am probably misunderstanding the concepts but couldn't find the solu

[2020-05-11 19:38] AzureAzim commented on #54475
So adding User Accces Admin, per the article linked, does not allow access to that scope:
"The client [redacted]  with object id [redacted] does not have authorization to perform action 'Microsoft.Insights/eventtypes/values/read' over scope '/providers/Microsoft.Insights/eventtypes/management' or the scope is invalid. If access was recently granted, please refresh your credentials.

[2020-05-11 19:39] MashaMSFT commented on #54470
Hi @PrometheusRising1 , thanks for the clarification! No,  as you can see in the [prerequisites](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster-premium-file-share#prerequisites) registering with the SQL VM resource provider (and thus, the IaaS extension) is not required to use the FCI feature, but it is recommended. H

[2020-05-11 19:39] #54470 closed

[2020-05-11 19:42] santhoshbomma9 opened #54593 "Private audience vs restricted audience"
Isnt these both the same? The docs gives the impression they both are different.
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/azure-vm-create-offer#visibility

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 997bd215-ce76-1307-cf80-80b55b672940
* Version Independent ID: 468bf824-3e4b-f095-3904

[2020-05-11 19:53] drmauro commented on #53902
@PeterCLu , Thank you very much!

[2020-05-11 20:02] jlichwa commented on #48063
Document updated. #please-close

[2020-05-11 20:02] #48063 closed

[2020-05-11 20:02] vamuzumd opened #54594 "LastModified"
Does Soft Delete action change the LastModified property on the blob?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88e33f0
* Content: [Soft delete for Blob storage - Azure Storage](https://docs.microsoft.com/en-us/azure/storag

[2020-05-11 20:03] jlichwa commented on #31491
Document updated to explain current version retrieval. #please-close

[2020-05-11 20:03] #31491 closed

[2020-05-11 20:08] rabrahamOpti commented on #26347
@DixitArora-MSFT  The links for below are now dead. Do you have updated references?

[2020-05-11 20:08] BharathNimmala-MSFT commented on #54593
@santhoshbomma9 Thank you for your question, assigned this issue to our document author @emuench to further help on this.

[2020-05-11 20:10] artemious7 commented on #24999
Why this information is not in the docs, but here, in the Closed issues?

[2020-05-11 20:12] mbiver opened #54595 "Minimum RBAC Permissions?"
I think this page should include a requirements section that details the minimum RBAC permissions required to perform these steps.  I've seen people unable to reset the password because they didn't have sufficient portal permissions.  They don't get a warning or anything, the "Update" button just stays greyed out and they don't know why.  Thanks.

---
#### Document Details

⚠ *Do not edit this sec

[2020-05-11 20:13] Swampen opened #54596 "Wrong GitHub links"
The GitHub links under the "Understand security agent options" sectiuon when comparing C and C# have been switch. The C links to the C# repo and opposite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f55630d0-1691-1c86-60b4-8d37de1e09e1
* Version Independent ID: c8989928-ecd2-95f3-c333-8eea1f4760d0
* Content: [Select

[2020-05-11 20:13] aaronjedwards commented on #45034
Does this mean that I am required to add a client secret if I am wanting to use the `client_credentials` grant for authentication? I am wanting to access an Azure function from another backend server, without a user context.

[2020-05-11 20:16] dashesy commented on #54582
Wouldn't it be more clear if we would still request 4 cores and internally AML would take 0.2 and left 3.8 effective remaining resources to the service?
What is the norm in Azure for this?
I do not like floating point allocations because 0.1 + 0.2 > 0.3 and we would get unexpected results after e.g. `ceil(0.1 + 0.2 + 0.4 + 0.2 + 0.1)`

[2020-05-11 20:25] davidsmatlak commented on #54411
Research is in progress.

[2020-05-11 20:25] xyh1 commented on #54155
@SeanFeldman That's my bad on the code. I should be consistent on async. Will update the documentation.

#please-close

[2020-05-11 20:25] #54155 closed

[2020-05-11 20:28] SeanFeldman commented on #54155
No worries. Happens to all.
Can in all to close the issue _after_ the article is updated and published, not before? It's better to indicate work is finished rather than the intent of the work that can be distracted by higher priority work. Thanks.

[2020-05-11 20:31] asears opened #54597 "Docker build command might be substituted with az acr build"
Command example
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27400039-49fa-5c04-b273-fd663eb82bc0
* Version Independent ID: 6f51e57e-dcfc-3fcf-c2b1-ec0f39ab93c4
* Content: [Develop on Azure Kubernetes Service (AKS) with Helm - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/quickstart-helm

[2020-05-11 20:32] vvolodin commented on #54201
How do I reopen the issue? Doesn't seem like I can edit the status.

[2020-05-11 20:34] dashesy commented on #54402
This behavior was surprising, so if intended it should be documented. At first I thought `log_image` is just simply ignored, and then by accident I found it is under "Outputs + Logs".

I use `run.log`, `run.log_table` to generate metrics, so `run.log_image` should also be a metric. After all, it would very useful if we can see all these metrics together instead of going to different tabs, or going

[2020-05-11 20:37] dashesy commented on #54402
BTW, I used `run.log_accuracy_table` and that too did not go to metrics, but rather into "Outputs + Logs" which made the json there not very useful. (should I open another issue for that?)

[2020-05-11 20:40] lukaskabrt opened #54598 "GZRS availability"
One paragraph says:
GZRS and RA-GZRS are available in all Azure regions.

And another one:
GZRS and RA-GZRS are supported in the following regions:

Asia Southeast
Europe North
Europe West
Japan East
UK South
US Central
US East
US East 2
US West 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0

[2020-05-11 20:41] dandenton opened #54599 "Missing elastic pool error number 10936"
The help docs are missing information about this elastic pool error.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e19b9b9f-8933-ae09-d919-061d927ce33b
* Version Independent ID: cb9f4a53-4743-7b51-6759-6d753b3f6f2c
* Content: [Troubleshoot common connection issues to SQL database - Azure SQL Database](https://d

[2020-05-11 20:44] PeterCLu commented on #54281
Hi @dashesy, you can find examples for logging images, including matplotlib pyplot objects here:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/track-and-monitor-experiments/logging-api/logging-api.ipynb

[2020-05-11 20:50] GiftA-MSFT commented on #54563
@naveenambitious are you by chance using free or paid subscription?

[2020-05-11 20:50] tamram commented on #54598
#reassign: @tamram

[2020-05-11 20:51] HarshUpadhyay-MSFT commented on #53794
@gallogiulia At the moment only 2 datastore authentication methods are supported, namely **SqlAuth**[username/password] and **Service Principal**[via app registrations in azure portal]. We will be looking at adding more authentication methods in future
In your case it seems like SqlAuthentication should be a good option. I am adding steps to set up a **contained user** (will have access to a speci

[2020-05-11 20:51] dashesy commented on #54281
@PeterCLu thanks.
It is not a good idea to call this on a headless docker

[code]

It may cause crash, or memory leak. Instead of plt maybe `Figure` should be accepted then.

[2020-05-11 20:54] Grace-MacJones-MSFT commented on #54568
Hi @abhilashmk, thanks for the update. glad you were able to find the information you were looking for. We will now proceed to close this thread but if you have further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 20:54] #54568 closed

[2020-05-11 20:56] dlagunas opened #54600 "Update document"
For step 5 add section c) exclude one account. You must exclude one account from the policy in case you are locked out. Without excluding minimum one account Azure will not allow you to create the policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5815957c-cc37-2982-7a50-16e96c0378b8
* Version Independent ID: 33f22

[2020-05-11 20:58] bathawes opened #54601 "Azure AD free now provides 7 days of sign in log retention"
The "N/A" entry in the table under "What is the data retention for activity logs (Audit and Sign-ins) in the Azure portal?" is incorrect. In March the PG announced Azure AD free provides 7 days of sign in log retention. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#march-2020

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-11 20:59] abhilashmk commented on #54568
@Grace-MacJones-MSFT Actually that was an additional point. Doc still needs an update that currently it only works for Windows.

[2020-05-11 21:00] yyanev commented on #54288
The log contains the message “ Login granted for user as an admin” and no messages are seen to fail provision the user, which means that the aad PAM module finished successfully. My take is that someone/something has changed the PAM registration in a way that broke it. For example, a module registered after pam_aad tries to verify that the user password is up-to-date and complains because AAD user

[2020-05-11 21:06] drwill-ms commented on #53901
@asergaz the root issue ended up being one of the instructions, so we should fix that.

Under "Host the web app in App Service", step 3 we have the following command to run `az webapp config appsettings set -n <your web app name> -g <your resource group name> --settings EventHubConsumerGroup=<your consumer group> IotHubConnectionString=<your IoT hub connection string>`.

The issue is, if you don't

[2020-05-11 21:08] solankisamir commented on #53849
1. > Wanted to add, we also just found this one:

This endpoint is already there in the docs, but it needs to be fixed. Will fix it.

**prod3-black.prod3.metrics.microsoftmetrics.com(new)**
prod3-black.prod3.metrics.nsatc.net(to be deprecated)
prod3-red.prod3.metrics.microsoftmetrics.com(new)
prod3-red.prod3.metrics.nsatc.net(to be deprecated)

2. >shared.regionname.prod.warm.ingestion.monitoring.

[2020-05-11 21:08] drwill-ms commented on #53901
It looks like issue #51821 tracks this, currently assigned to @robinsh. Can we prioritize this update and get the topic updated?

[2020-05-11 21:09] erhopf commented on #54110
@gerryaobrien - Hey Gerry thanks for posting this. I'm guessing that you expected there to be instructions that tell you to explicitly save your work after selecting **Customer Managed Keys**?

Was there a specific service that you tried to use CMK with where this was available? We can specify any services that aren't currently supported. Just want to make before we go in and make any edits.

[2020-05-11 21:09] Chris113113 commented on #54582
Unfortunately not aware of the Azure norms for a situation like this. Would need to defer to more of the Product Group.

[2020-05-11 21:11] Karishma-Tiwari-MSFT commented on #54588
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-11 21:11] Karishma-Tiwari-MSFT commented on #54579
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-11 21:12] KranthiPakala-MSFT commented on #54589
@youcc Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-05-11 21:13] Karishma-Tiwari-MSFT commented on #54595
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-11 21:14] Karishma-Tiwari-MSFT commented on #54597
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-11 21:15] Karishma-Tiwari-MSFT commented on #54592
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-11 21:17] MarileeTurscak-MSFT commented on #54460
I tested in my application and was able to see it appear either way, but do think it's a good call to set "allowPublicClient": true

I made a pull request to update this. https://github.com/microsoft/azure-docs/pull/14

CC: @msmimart

[2020-05-11 21:17] #54460 closed

[2020-05-11 21:18] matthiasguentert opened #54602 "IP addresses in example configuration does not match the one from the diagram"
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resource-manager-portal#why-create-a-vnet-to-vnet-connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d655e62-511c-5c94-da5f-8ae2fa48927f
* Version Independent ID: a1665237-3ff9-6a47-91ac-fba5f2469ba3
* Content: [Configure a VNet-to-V

[2020-05-11 21:19] SatishBoddu-MSFT commented on #53938
@julie-wins We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 21:19] #53938 closed

[2020-05-11 21:23] RyanHill-MSFT commented on #54562
Thanks for the feedback @ltchiu! We are currently investigating and will update you shortly.

[2020-05-11 21:23] tescales opened #54603 "Will tags be supported for Invoice sections?"
We frequently see a need to pull "all networking charges" or "all backup charges" into a centralized IT/Ops group for billing. Today, we use to Azure resource tags to identify that data.

Will there be support for creating Invoice sections based on tagged resources, across multiple Subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-05-11 21:24] RyanHill-MSFT commented on #54561
Thanks for the feedback @reginbald! We are currently investigating and will update you shortly.

[2020-05-11 21:31] RyanHill-MSFT commented on #54128
Take a look at MicrosoftDocs/azure-docs#51437 @Boaz101 and let us know that helps.

[2020-05-11 21:32] TravisCragg-MSFT commented on #54546
@QuetzalcoatlRosso Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-11 21:33] cweining commented on #24999
@artemious7 I'm sorry this hasn't been documented yet. I'll work on that and have updated documentation published in the next couple of weeks.

[2020-05-11 21:33] RyanHill-MSFT commented on #54096
Thanks for feedback @NickMSW, we've assigned this to the content author to investigate further and update the docs appropriately.

[2020-05-11 21:34] xyh1 commented on #54155
The work is finished 😄

The public facing docs are updated twice daily. You can see this change soon.

[2020-05-11 21:37] TravisCragg-MSFT commented on #54566
@damienbod can you post a link to the azure doc you are referring to?

[2020-05-11 21:37] omerzubair commented on #52568
Is the Resource Provider Operation granular enough?

[2020-05-11 21:40] Grace-MacJones-MSFT commented on #53528
Hi @JayaC19  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-11 21:40] #53528 closed

[2020-05-11 21:45] aahill commented on #54133
Thanks for reaching out @v-radelg

I can't be sure but depending on how you're making calls, this might occur if your BI application isn't using [tls 1.2 ](https://azure.microsoft.com/updates/power-bi-support-for-transportlayer-security/) during authentication (here's a link to the [cognitive services security article](https://docs.microsoft.com/azure/cognitive-services/cognitive-services-security

[2020-05-11 21:45] #54133 closed

[2020-05-11 21:47] MarileeTurscak-MSFT commented on #53792
From my understanding, it should only work with joined devices and registered devices will work for cloud SSO.

**Registered Devices**

Key capabilities | SSO to cloud resources
-- | --
  | Conditional Access when enrolled into Intune
  | Conditional Access via App protection policy
  | Enables Phone sign in with Microsoft Authenticator app

https://docs.microsoft.com/en-us/azure/active-directory/

[2020-05-11 21:47] #53792 closed

[2020-05-11 21:47] TravisCragg-MSFT commented on #54602
@cherylmc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-11 21:47] normesta commented on #54151
@crisansou this is definitely strange. I just ran the same command without receiving that error message. Are you using a previous version of this module (perhaps the preview module)?

[2020-05-11 21:48] BharathNimmala-MSFT commented on #54574
@PhilPeters304 Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-05-11 21:49] BharathNimmala-MSFT commented on #54575
@aidanfinn Thank you for bringing this to our notice , we will look into it and get back to your at the earliest.

[2020-05-11 21:51] BharathNimmala-MSFT commented on #54603
@tescales Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-11 21:59] greendx opened #54604 "CosmosDB powershell commands in the cloud shell"
[Enter feedback here]
I am unable to run cosmosdb powershell commands in azure cloud shell.

PS /home/azureuser> Get-AzCosmosDBSqlDatabaseThroughput
Get-AzCosmosDBSqlDatabaseThroughput: The term 'Get-AzCosmosDBSqlDatabaseThroughput' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path

[2020-05-11 22:01] normesta commented on #53993
Thanks @dckfnuance. I verified that this is the case as well. @blueww is there a workaround to getting paths with "%" in the name to be recognized?

[2020-05-11 22:02] johnnzy1 commented on #54519
Hi Antonio,

To be honest, I don't really know what I'm doing, but that's why I came here to follow through the tutorial. I thought it might make more sense for me to try the "get a list of devices" API further up the page at https://docs.westcentralus.azuresmartspaces.net/management/swagger/ui/index#/operations/Devices/Devices_Retrieve
The problem I get with this one is that authorization is fail

[2020-05-11 22:05] SaurabhSharma-MSFT commented on #54583
@jeffpatton1971 I do not see any issues generating or uploading certificates having dashes(-) in the name. (see screenshot below)
![image](https://user-images.githubusercontent.com/38112130/81614921-9d7f5780-9395-11ea-86a0-83cb710a7892.png)
You may be getting error for a different reason.  Please click on the error message which comes at the top and you will be redirected to error details page whi

[2020-05-11 22:06] pebarrer opened #54605 "Need better documentation on Azure Monitor Logs for Azure APIM when sending data to Resource specific tables"
The above schema is for the Azure Diagnostics table and does not reflect the data in the Resource Specific tables when enabling diagnostic logs.  Is there a new page where this updated schema can be found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8
* Version Independent ID: ae69

[2020-05-11 22:08] CarlRabeler commented on #49104
@mcruz206 PR pending to address - DMA does now support Managed Instance.
Thanks,
Carl

[2020-05-11 22:11] edburns opened #54606 "WebLogic Landing Page"
External issue for https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1090284 .

This page should exist:

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/weblogic

Its content will be the same as the CONTACT ME page in the Marketplace.

[2020-05-11 22:11] edburns commented on #54606
Please assign this to @edburns .

[2020-05-11 22:13] CarlRabeler commented on #49104
#please-close

[2020-05-11 22:13] #49104 closed

[2020-05-11 22:15] BharathNimmala-MSFT commented on #53943
Thank you @stephbaron for helping on this thread.

@brendonlobo123  Apologies for delayed response. Hope the information shared by @stephbaron is helpful. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and

[2020-05-11 22:15] #53943 closed

[2020-05-11 22:21] MarileeTurscak-MSFT commented on #54566
The auth_time is the last time the application (or user) initiated an authentication attempt against Azure AD B2C.  https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview

Can you please link the implementation guide that you are following?

[2020-05-11 22:22] edburns commented on #54606
@BorisB2015 You may want to keep an eye on this .

[2020-05-11 22:23] SaurabhSharma-MSFT commented on #54601
@bathawes Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-11 22:23] asergaz commented on #51821
This issue is now being solved. The doc should soon be updated. Thanks!

[2020-05-11 22:24] SaurabhSharma-MSFT commented on #54600
@dlagunas Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-11 22:24] craxal commented on #11419
@SeaDude It looks like you're missing a space just before the last colon. Did you try:
[code]

@butchmatshall @wsmelton The documentation was updated some time ago, and the recommended method of installing Storage Explorer is through the Snap Store.

[2020-05-11 22:27] asergaz commented on #53901
Thank you for checking this @drwill-ms ! The doc is being updated accordingly.
All Best

[2020-05-11 22:33] Karishma-Tiwari-MSFT commented on #54089
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-11 22:33] MartinJaffer-MSFT commented on #54464
Hello @Hasil-Sharma  and thank you for your wise query.
Just to clarify, are you asking about 2 or more ForEach activities in a pipeline, possible executing at the same time?  Or are you asking about when using the parallelism available inside a single ForEach activity (when sequential feature is turned off)?

A long while back, I did an experiment, where I passed a range of numbers to a single Fo

[2020-05-11 22:36] MarileeTurscak-MSFT commented on #54100
This appears to be an MSAL error. https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.msalerror.parsingwstrustresponsefailed?view=azure-dotnet

"You can get this error when using AcquireTokenByUsernamePassword(IEnumerable<String>, String, SecureString) In the case of a Federated user (that is owned by a federated IdP, as opposed to a managed user owned in an Azure AD tenant) ID32

[2020-05-11 22:36] #54100 closed

[2020-05-11 22:37] BrianLevenson opened #54607 "Last updated date"
Many of the services and audit scopes have been updated, but the article still reflects May 2019. If it's appropriate, I'd recommend refreshing the date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure S

[2020-05-11 22:38] mathieu-benoit opened #54608 "Wrong command for the Public IP"
The command to create the Public IP is wrong:
`az network public-ip create -g MyResourceGroup -n MyIp`
It should be instead:
`publicIp=$(az network public-ip create -g MyResourceGroup -n MyIp --allocation-method Static --sku Standard --query publicIp.ipAddress -o tsv)`
And then the next command to create the Bastion, should use this variable `$publicIp`.
As a reference, you could see what the Powe

[2020-05-11 22:48] mbialecka commented on #51800
@levi106 What BlobEndpoint are you using? http://blobstoremodule:11002/ or http://blobstoremodule:11002/blobuser ? The logs with the errors show url which is missing the account name.

Logs without error show:
http://40.115.188.226:11002/blobuser/samplecontainer/telemetry_data_20200508_042747.json
Logs with error show:
http://blobstoremodule:11002/samplecontainer/telemetry_data_20200508_042217.jso

[2020-05-11 22:53] CarlRabeler commented on #46319
#please-close

[2020-05-11 22:53] #46319 closed

[2020-05-11 22:55] asergaz commented on #54519
Hi John,
When trying it on swagger can you use the direct link from your created Azure Digital Twins Resource:

![image](https://user-images.githubusercontent.com/22173500/81618929-54a0c080-93e0-11ea-9fda-1662aa0f5dd0.png)

And use your browser in private mode?

Also make sure you follow this like described on the beginning of the swagger:

![image](https://user-images.githubusercontent.com/221735

[2020-05-11 22:56] arsing commented on #54453
Yes, this request is correct. There are a few things that have gone wrong here.

The `iotedge` group is meant for ACLing the management socket, so strictly speaking the `iotedged` process's user is not required to run in that group. That's why the Debian / Ubuntu packages don't add the `iotedge` user to the `iotedge` group.

But the CentOS packages do add the user to the group. This is inconsisten

[2020-05-11 23:00] TravisCragg-MSFT commented on #54517
@iaasazure Thanks for the feedback. I will let this issue serve as a notice to others.

@cherylmc FYI incase any updates are needed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 23:00] #54517 closed

[2020-05-11 23:00] Mike-Ubezzi-MSFT commented on #54577
@sladeedmonds Thank you for bringing this to our attention. Please take a look at the following Tech Community Blog: [Add Storage Account Endpoint to Managed Instance Subnet](https://techcommunity.microsoft.com/t5/azure/add-storage-account-endpoint-to-managed-instance-subnet/m-p/1287612) which is the same information Azure Support is sharing with you. Let me reach out internally to find out about

[2020-05-11 23:02] foldesizsombor opened #54610 "Custom DateTime path patterns/Supported tokens invalid minute pattern"
A {datetime:mm}, {datetime:M} patterns descriptions are invalid.

The current description for {datetime:mm} is "Minutes from 00 to 24", I assume that the correct statement is :  "Minutes from 00 to 60".

Same situation for {datetime:M}. Instead of "Minutes from 0 to 60" currently it's "Minutes from 0 to 24".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-11 23:11] TravisCragg-MSFT commented on #8825
@henrynn you can find the [differences in the V1 SKUs Here](https://docs.microsoft.com/en-us/azure/application-gateway/features#sizing).

[2020-05-11 23:12] TravisCragg-MSFT commented on #54098
@itstudy17 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 23:12] #54098 closed

[2020-05-11 23:13] CarlRabeler commented on #32774
#please-close

[2020-05-11 23:13] #32774 closed

[2020-05-11 23:17] tomaszms opened #54611 "FAQ not available for ARO 4.3"
Could you please provide information what is the maximum number of pods
supported in ARO 4.3? Based on this page, ARO 3.11 supports max 1000 pods,
but there is no information about it regarding version 4.3. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independe

[2020-05-11 23:18] batcoder619 commented on #49343
Hi, is there any update on this? Would be good to understand how Microsoft has setup internal cache.

[2020-05-11 23:21] davidsmatlak commented on #54411
Requested clarification from the App Service documentation owners about the relationship between the limits for Web sockets and IPs.

[2020-05-11 23:22] emelus opened #54612 "Please add more details for code e.g. <file type>"
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-layout#analyze-the-form-layout

the code includes a &lt;file type&gt;. consider putting how one is to fill that like in the other section like here:

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-labeled-data#analyze-forms-for-key-value-pairs-and-tables

Yes,

[2020-05-11 23:28] Grace-MacJones-MSFT commented on #54221
Hello @andresbarcenas, each instance has 840 ACUs and 14GB of memory.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 23:28] #54221 closed

[2020-05-11 23:31] Jrc356 commented on #53358
Any word on this? I also had this exact same question regarding tcp established. Is this inbound, outbound, combo? Even if it's not added to the docs right away, this info would be super helpful right now

[2020-05-11 23:34] kgremban commented on #54499
@nitinkhandelwal26 I just created a new IoT Edge on Ubuntu VM and was able to successfully deploy the simulated temperature sensor module to it. The edgeHub module doesn't start until the first deployment is made for the device. Have you tried deploying any modules?

[2020-05-11 23:36] Mike-Ubezzi-MSFT commented on #54599
@dandenton Thank you for bringing this to our attention. We are evaluating this suggestion and will update the document as appropriate.

[2020-05-11 23:45] lisaguthrie commented on #54156
Hi @CarlosOnline - App Configuration does understand nesting/delimiters (commonly : for .NET). There's an example of creating nested values and then binding them to an object in [the dynamic refresh tutorial](https://docs.microsoft.com/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core). In that case, there are four different keys that all have the prefix `TestApp:Settings`, so

[2020-05-11 23:48] cocallaw commented on #52940
I spoke with the engineering team, and they confirmed that with a P2S VPN configured with RADIUS and OpenVPN, currently PAP is only authentication method supported between the GW and RADIUS server.

[2020-05-11 23:48] MarkusVi commented on #54601
I have staged a fix for this.

#please-close

[2020-05-11 23:48] #54601 closed

[2020-05-11 23:57] kazshi commented on #54293
@VikasPullagura-MSFT  I verified it works. Thank you for the detailed info!

[2020-05-11 23:58] cahann commented on #53598
1. You can't label a second level entity without labeling the first level if you are using the structured entities. You can't alter the schema after creation.
2. You can't use the lower level entities as descriptors

[2020-05-12 00:00] CarlosOnline commented on #54156
Thanks we use ARM templates for deployment so we are looking for methods
that are easily achievable via the templates.  Not sure if the exports
could be achieved via the ARM templates.

On Mon, May 11, 2020, 4:45 PM Lisa Guthrie <notifications@github.com> wrote:

[2020-05-12 00:00] cwcorbin opened #54613 "Please explain..."
I followed the first tutorial and have my environment set up.  Trying to follow the second tutorial and the tone is quite different.  I was finally able to figure out that Jupyter is the environment, but some of the steps just don;t produce any feedback to tell me I am being successful.  For example, if I click in the cell it highlights and I can click "run", the highlight moves and an asterisk is

[2020-05-12 00:04] shauliu commented on #53337
@garima2510 Sorry about this issue. I believe there is an error in our documentation. I will work with @curtand to get this updated. The problem is you should do a get on a role setting object, make modification to it, then do a set rather than creating a new role setting object.

Are you currently in the stuck state? Please let me know.

[2020-05-12 00:10] BhargaviAnnadevara-MSFT commented on #54417
@mrbullwinkle Sure, thanks for the updates!

[2020-05-12 00:16] crisansou commented on #54151
Hello @normesta,

I'm using version 1.14.0 and you?

Best regards,
Cristina

![image](https://user-images.githubusercontent.com/29444086/81624393-67a99580-93cc-11ea-8ba7-97fa3dcaca7d.png)

[2020-05-12 00:17] lisaguthrie commented on #54156
ARM templates for deploying the App Service instances? You can also reference App Config values directly from ARM templates. [This tutorial](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager) provides an example.

[2020-05-12 00:24] smena opened #54614 "Misleading title"
The title of this document is "Move Azure Public IP to another region using the Azure portal", but the Prerequisites section states "Azure Public IPs can't be moved between regions."

I wasn't sure whether it was possible, and my attempts to follow this process have not been successful. It looks like this page is instead describing deploying a new Public IP using the same SKU and type using a temp

[2020-05-12 00:26] nikhilgune commented on #47440
What happens if the Conditional Access is policy is intended and configured for only 5 users. Do you still need to license all those 10 users with Azure AD P1 ?

[2020-05-12 00:29] annerajb opened #54615 "Where is the pricing for the uptime SLA?"
It seems the link for pricing just links / sends to the regular kubernetes pricing page.

This page just mentions this at the bottom:
&gt; As a free service, AKS does not offer a financially-backed service level agreement. We will strive to attain at least 99.5% availability for the Kubernetes API server. The availability of the agent nodes in your cluster is covered by the Virtual Machines SLA. P

[2020-05-12 00:31] RyanHill-MSFT commented on #54562
@ltchiu, the settings referred to in this doc are in Server Explorer, not Cloud Explorer.  I'm not sure which version of Visual Studio you're running but it does appear that access to

![image](https://docs.microsoft.com/en-us/azure/app-service/media/app-service-web-tutorial-dotnet-sqldatabase/trace-level-verbose.png)

is being deprecated from Server Explorer.  You can however change those setting

[2020-05-12 00:31] Karishma-Tiwari-MSFT commented on #54092
@roygara I am not able to edit it in pr mode, can you please update the document as appropriate. Thanks :)

[2020-05-12 00:32] sladeedmonds commented on #54577
@Mike-Ubezzi-MSFT Thanks.  Yes, the Managed Instance subnet is delegated to Microsoft.Sql/managedInstances.  The script [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet) confirms all of that is set up correctly.

[2020-05-12 00:33] CarlosOnline commented on #54156
Goal is to use the key vault like reference which is very simple to encode
just need vault name and secret name.  The consumer doesn't need direct
access to the app config deployment.

On Mon, May 11, 2020, 5:18 PM Lisa Guthrie <notifications@github.com> wrote:

[2020-05-12 00:40] Karishma-Tiwari-MSFT commented on #54443
PVC are not supported with ACI

https://github.com/Azure/AKS/issues/657#issuecomment-433986454

[2020-05-12 00:55] Karishma-Tiwari-MSFT commented on #54288
@robbinscp Can you please check the comment above and see if it helps.

[2020-05-12 00:57] Karishma-Tiwari-MSFT commented on #54428
@stgeorgi Can you please share your insights on the issue multiple customers are seeing, related to adding session host to the host pool. Thanks :)

[2020-05-12 00:58] RedBlue1776 opened #54617 "B2C?"
Does the powershell command apply to B2C tenants?  (should it/could it?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
* Content: [Customize Azure AD tenant app claims (PowerShell) - Microsoft identity platform](https:/

[2020-05-12 01:02] rboucher commented on #53358
Hi @andrewatfornax  and @jrc356 . Understood.  I'll see if I can get you some help to explain how to create the an alert on outbound TCP connections.

And this description does help you figure that out.
Microsoft.Web/serverfarms  - TcpEstablished

[2020-05-12 01:24] Jrc356 commented on #53358
@rboucher that would be swell. The documentation does not make it clear as to whether the metric "TcpEstablished" is outbound, inbound, combination, or what which is what I'm most interested in. I have some scaling rules in place on this metric but the lack of a clear definition of that metric has me wondering about this rule and any alerts

[2020-05-12 01:28] andrewatfornax commented on #53358
Hi @rboucher,

I agree with @Jrc356 - the metric descriptions are far too brief, and don't provide enough technical information for users who are really getting into the deep details of metrics. As @Jrc356 notes, "TcpEstablisted" doesn't tell us what direction we are talking about (inbound vs. outbound) or if it's a sum of both of these. (This is really important to me, because I'm interested in a

[2020-05-12 01:29] edburns commented on #54606
https://github.com/MicrosoftDocs/azure-docs-pr/pull/114915

[2020-05-12 01:39] mike-urnun-msft commented on #54079
Hello @Praveen6867 - Since this channel is more for driving improvements towards MS Docs, could you open a new issue on the following repository instead and provide more info on what type of identity (OAuth vs User/Pwd) you had setup? [Azure/api-management-developer-portal](https://github.com/Azure/api-management-developer-portal/issues)

As we didn't determine any specific doc changes from review

[2020-05-12 01:39] #54079 closed

[2020-05-12 01:52] nastassiar opened #54618 "Scaling using ARM, CLI or Powershell"
Is it possible to move up or down tiers using a method other than the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7232dd1a-d250-1304-14ec-db25f04cff48
* Version Independent ID: 29250085-defe-18ac-1ca9-2155b778127b
* Content: [Upgrade and scale an Azure API Management instance](https://docs.microsoft.com/en-u

[2020-05-12 01:56] GiftA-MSFT commented on #54177
@thuwas I will proceed to close this thread since we haven't received a followup, but feel free to comment if you have any questions or concerns and we will reopen the thread. Thanks.

[2020-05-12 01:56] #54177 closed

[2020-05-12 01:56] ram-msft commented on #54130
@deloittecanada123 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-12 01:56] #54130 closed

[2020-05-12 01:58] Megabox opened #54619 "750 hours"
Do the 750 hours reset every month for the free 12 months or when when we reach the 750 hours we need to pay even if the account still in the 12 months free trial ? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caadbfdd-05b5-dc2e-7fd6-69ff2f9fb2e9
* Version Independent ID: f76cad32-0690-b06f-4447-0626b92d3e

[2020-05-12 01:58] SatishBoddu-MSFT commented on #54596
@Swampen Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-12 01:59] GiftA-MSFT commented on #54550
@trevorbcan please take note of the above feedback for doc-enhancement. Thanks.

[2020-05-12 02:03] ram-msft commented on #54250
@frvigano Thanks for the feedback. Please find the following note that has been added in the use containers sections. The Form Recognizer containers currently use version 1.0 of the Form Recognizer API. You can access the latest version of the API by using the managed service instead.

[2020-05-12 02:05] SatishBoddu-MSFT commented on #54570
@sschotte Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-12 02:13] ram-msft commented on #54185
@GidStuff Can you please share the screenshot of the same.

we could see the DefaultAnswer in the Configuration ->application settings.
Please follow the below for the default answer in the portal.
![image](https://user-images.githubusercontent.com/49180516/81630866-4b394780-9424-11ea-86ab-09ab73d953ae.png)

[2020-05-12 02:19] ram-msft commented on #54302
@aahill could you please check on this.

[2020-05-12 02:30] GiftA-MSFT commented on #54319
@darayavah the following [document](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/tutorial-form-recognizer-with-logic-apps) demonstrates how to use form recognizer with logic apps. You simply provide the model id when when configuring logic apps to use the Form Recognizer Analyze Form operation.

@emelus can you please share at what point are you receiving the error, ar

[2020-05-12 02:30] cat-mucius opened #54620 "Destination IP ranges for outbound traffic?"
Good day,

Let's say I force-tunnel ASE outbound traffic into an NVA firewall that doesn't support wildcard addresses - I cannot specify it `*.management.azure.com:443` as destination.

Can I just specify it a list of IP ranges as destination instead? Does such list exist? If it does, can I be sure it contains only Microsoft own addresses, and not addresses leased to other customers (such as Azure

[2020-05-12 02:31] mike-urnun-msft commented on #54581
@Hjaf Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-12 02:32] dimaqq commented on #43257
Thanks @wendlandreas, you saved many out there a lot of time!

I figures to post an alternative, because deep links, like `/users/alexa.siri` may get misinterpreted as file extensions:

<img width="713" alt="Screenshot 2020-05-12 at 11 28 33" src="https://user-images.githubusercontent.com/662249/81631930-fb6a7880-9443-11ea-965b-cdbb3c8d02b1.png">

[2020-05-12 02:32] GiftA-MSFT commented on #54613
@cwcorbin we will review your feedback and get back to you shortly. Thanks.

[2020-05-12 02:33] mike-urnun-msft commented on #54605
@miaojiang Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-12 02:34] GiftA-MSFT commented on #54612
@emelus we will review your feedback and get back to you shortly. Thanks.

[2020-05-12 02:36] GiftA-MSFT commented on #54582
@Chris113113 we will review your feedback and get back to you shortly. Thanks.

[2020-05-12 02:42] mike-urnun-msft commented on #54618
Thank you for your feedback, @nastassiar! Portal is just another client app to the ARM REST API so you should be able to define the same calls in an ARM template and call them from a Powershell or CLI commands. Here's the list of REST operations for APIM: https://docs.microsoft.com/en-us/rest/api/apimanagement/

[2020-05-12 02:43] ryoma-nagata opened #54621 "sqlanalyticsAPI does not work ."
Hi,
I referred to the article, but it's not working now. It used to work.

※After checking, it seems that the Blob data owner role is required

%%spark
import org.apache.spark.sql.SqlAnalyticsConnector._
import com.microsoft.spark.sqlanalytics.utils.Constants

val sql_pool_name = "bap_aiad_dw"
df.write.sqlanalytics(s"$sql_pool_name.dbo.Sensor3", Constants.INTERNAL)

Error message is below
Error :

[2020-05-12 02:45] yellow456434 commented on #54362
version show below attachment

________________________________
寄件者: VikasPullagura-MSFT <notifications@github.com>
寄件日期: 2020年5月11日 下午 09:46
收件者: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
副本: yellow456434 <yellow456434@hotmail.com>; Mention <mention@noreply.github.com>
主旨: Re: [MicrosoftDocs/azure-docs] add nodepool have error (#54362)

@yellow456434<https://github.com/yellow456434

[2020-05-12 02:48] SatishBoddu-MSFT commented on #54596
@Swampen I have assigned the issue to the content author @mlottner for further review and update the doc as appropriate.

[2020-05-12 02:50] ShaneBala-keyvault commented on #47690
PR was still in progress, the change has been merged now:

https://docs.microsoft.com/en-us/azure/key-vault/general/secure-your-key-vault

[2020-05-12 02:50] jeffthink opened #54622 "Is it possible to use the AzureML remote compute target for local data exploration?"
Hi there,
    I am using VS Code and I am able to to successfully create experiments & perform runs using the remote compute target I've created (using the workspace object in the SDK).  That said, if I just want to do some local data exploration (i.e. not create experiments / perform runs), is it possible to leverage the Azure ML compute target / Jupyter server to do so?

The "Notebooks" section

[2020-05-12 02:52] AshokPeddakotla-MSFT commented on #53592
@saitejakothamasu  As per this issue, https://github.com/MicrosoftDocs/azure-docs/issues/53901 doc has been updated. Please follow the steps accordingly update if you still face any problems.

[2020-05-12 02:52] AshokPeddakotla-MSFT commented on #52495
All, as per this issue, https://github.com/MicrosoftDocs/azure-docs/issues/53901 doc has been updated. Please follow the steps accordingly update if you still face any problems.

Since original issue reported is solved,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reop

[2020-05-12 02:52] #52495 closed

[2020-05-12 02:55] euangms commented on #54621
Yes this was missed in the doc there is an update coming that explains all the security options. Thanks for commenting

[2020-05-12 02:55] thuwas commented on #54177
Hi

We are trying to access the service as per the documentation. But it is throwing error.
We will be using all supported languages by the service.

[2020-05-12 02:57] ryoma-nagata commented on #54621
Thanks! We will wait for the update.

[2020-05-12 03:02] scottgorlick opened #54623 "steps do not work in my setup - possibly AAD Global Admin consent related"
I have two issues with the documentation here.  First issue is that we have a configuration where both AAD Tenancies are setup for global admin consent.  I have followed the instructions and I receive the following error:

The client has permission to perform action 'Microsoft.Compute/galleries/images/versions/read' on scope '/subscriptions.../&lt;this is the vms resource id &gt;'', however the cu

[2020-05-12 03:05] hitsy commented on #54489
@ChiragMishra-MSFT - Any updates\information

[2020-05-12 03:06] hitsy commented on #54489
Was wondering if you had any updates/information

[2020-05-12 03:07] neeleshray-msft commented on #54617
@RedBlue1776 Thank you for your feedback . We will investigate this and update the thread.

[2020-05-12 03:08] vuryleo commented on #54491
![image](https://user-images.githubusercontent.com/1854100/81634080-c90b4c00-9440-11ea-8c76-43c618cc37e8.png)
Here you go!

[2020-05-12 03:18] neeleshray-msft commented on #54569
@JeroenMvS Thank you for your feedback . We will investigate this and update the thread.

[2020-05-12 03:28] EsaFazal72 commented on #54443
@Karishma-Tiwari-MSFT That's true, PVC isn't supported by ACI.

[2020-05-12 03:29] CHEEKATLAPRADEEP-MSFT commented on #53868
@mamccrea Could you please clarify on the above statement?

[2020-05-12 03:33] Praveen6867 commented on #54079
Thanks, Mike created a new issue ([#606](https://github.com/Azure/api-management-developer-portal/issues/606)) and authentication type is username and password.

[2020-05-12 03:37] suhas9844 opened #54624 "Publish edge package for Stream Analytics Job is struck and never completes"
When I try to deploy a stream analytics module on edge it tries to deploy by creating a new edge package , but never succeeds it doesn't give any error too...
I am using a free tier Azure IoT Hub, and the module has only one custom module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b59ae-612d-c38f-2060-6a8300fb7

[2020-05-12 03:44] tFable opened #54625 "Expected Network Bandwidth (Mbps) missing"
Hello,

In other VM Series (e.g. https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series), Azure posts the "Expected Network bandwidth (Mbps)" for each VM type. This is not the case for the H series VMs. Are you able to post the expected bandwidth for each VM size?

Thanks,
t

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-12 03:44] femsulu commented on #54607
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-12 03:58] CHEEKATLAPRADEEP-MSFT commented on #54342
@mamccrea Could you please look into this issue?

[2020-05-12 03:58] Chai-NED opened #54626 "Storage account failover for GP v2 has gone GA"
https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a416e755-b0bc-445b-3fcb-99d1f1d51eef
* Version Independent ID: 227b8748-c529-f546-abf4-fbc6aef9be4c
* Content: [Blob storage features available in Azure Data Lake Storage Gen2](https:/

[2020-05-12 03:59] CHEEKATLAPRADEEP-MSFT commented on #53897
@zbachore  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-12 03:59] #53897 closed

[2020-05-12 03:59] mike-urnun-msft commented on #54163
Hey @alexchen2016 - Since this channel is for driving improvements toward MS Docs and we haven't determined any change for this particular documentation, we will now proceed to close this thread.

I have reached out to both @andxu and @Flanker32 internally regarding your query but it'd be great if you move this issue to the [Azure/azure-functions-java-worker](https://github.com/Azure/azure-functio

[2020-05-12 03:59] #54163 closed

[2020-05-12 04:02] VikasPullagura-MSFT commented on #54611
@tomaszms
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-12 04:07] aelmanaa commented on #31006
any update on this one?

[2020-05-12 04:18] ram-msft commented on #54622
@jeffthink Thanks for the question. We will update you shortly.

[2020-05-12 04:21] dcbrown16 opened #54627 "Status of this page"
Is this page supposed to be deprecated?
There is a similar page at the link below, but it is specific to VMs.
https://docs.microsoft.com/en-us/azure/sentinel/tutorial-monitor-your-data

This page (usage-workbooks) is still linked from here
https://docs.microsoft.com/en-us/azure/azure-monitor/visualizations
and I found it from Azure Sentinel here
https://docs.microsoft.com/en-us/azure/sentinel/tuto

[2020-05-12 04:22] dcbrown16 commented on #54627
I see the link below is the Workbook overview now, so the usage-workbooks page is probably out of date?
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/workbooks-overview

[2020-05-12 04:28] dimaqq opened #54628 "Azure CDN "standard" endpoint rules set response header length only 100 chars?"
# Context

I'm trying to set up a Single-Page App, stored in  Azure Storage (blob) and fronted by Azure CDN.

The problem is with setting top-level (document) HTTP response headers.

There's a limit of 100 characters for "modify response header: overwrite" value.

I suppose it's normal that SPA security requires a comprehensive Content-Security-Policy.
I think I've trimmed by CSP header field to t

[2020-05-12 04:32] razvansalajan opened #54629 "Steps missing"
Hello,

I think the following steps are missing:
1. Add [NotificationDetail.xib](https://github.com/Azure/azure-notificationhubs-ios/blob/master/Samples/Objective-C/nhubsample/nhubsample/NotificationDetail.xib)
2. Update [Main.Storyboard](https://github.com/Azure/azure-notificationhubs-ios/blob/master/Samples/Objective-C/nhubsample/nhubsample/Base.lproj/Main.storyboard)
3. ``NHInfoHubName`` and ``

[2020-05-12 04:42] naveenambitious commented on #54563
Yes, it is a free subscription.

[2020-05-12 04:57] MarileeTurscak-MSFT commented on #54542
I see you closed this out. Let me know if there's anything you need to be added.

[2020-05-12 04:59] lyrana commented on #54153
Hi @rgamage, thank you for opening this issue, and we see the others that you've opened as well. Let's use [this ](https://github.com/MicrosoftDocs/azure-docs/issues/54142)issue as our "main" thread.
The filter expression is optional, hence in these examples it was left null. However, missing from this doc is an explanation that the filter expression is just another tsx--time series expression--as

[2020-05-12 05:11] damienbod commented on #54566
@TravisCragg-MSFT @MarileeTurscak-MSFT

https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse

Greetings Damien

[2020-05-12 05:14] shashishailaj commented on #54619
@Megabox Thank you for your query . The 750 hours reset every month for the said VM Size. If you change the VM size as mentioned in the page then it will cost you as the free account is tailored to specific VM size.

As per the [free account FAQ page](https://azure.microsoft.com/en-us/free/free-account-faq/). everything listed on teh page is available monthly so the counter would reset every month

[2020-05-12 05:16] shashishailaj commented on #54606
#reassign:edburns

[2020-05-12 05:18] lyrana commented on #54144
Hi @eparizzi, this is a great comment. Let me discuss internally and update this thread once we have an idea of when we will add this comparison page. In the meantime, we can use the comments section to offer some insights and discuss your scenario specifically.
In general, we see ADX as the appropriate resource when customers are building their own analytics solutions and need:

- full control of

[2020-05-12 05:21] SatishBoddu-MSFT commented on #54570
@sschotte I have assigned the issue to the content author @dominicbetts  for further review and update the doc as appropriate.

[2020-05-12 05:22] BhargaviAnnadevara-MSFT commented on #54627
@dcbrown16 Thanks for the question. I have assigned the issue to the content author to clarify and update as appropriate.

[2020-05-12 05:22] shashishailaj commented on #54619
@Megabox Hope this explains you the issue. Please let me know in case you have any further queries. We will now close this issue. Should you have any further questions on this , please tag me to your reply and we will be happy to help you . alternatively you can also open a new issue.

Thank you.

[2020-05-12 05:22] #54619 closed

[2020-05-12 05:28] SadiqhAhmed-MSFT commented on #54572
@InstanceFactory Thanks for the question. We are looking into this and will get back to you shortly.

[2020-05-12 05:28] SadiqhAhmed-MSFT commented on #54578
@joedevgee Thanks for the comment! We will investigate on this issue and get back to you soon.

[2020-05-12 05:29] BhargaviAnnadevara-MSFT commented on #54484
Thanks Cijo.

@aceptra Hope that clarifies your query. Please reach out if you still have questions.

[2020-05-12 05:31] DixitArora-MSFT commented on #54286
@Johnnytechn  For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-12 05:31] #54286 closed

[2020-05-12 05:31] SadiqhAhmed-MSFT commented on #54587
@Nagarc Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-05-12 05:35] asinitson commented on #54095
Hello, sorry for not making clear this in my request: deployment works, but only when `createOptions` is specified as a string. Like this:

[code]
This is extremely inconvenient to work with: you easily get lost in all those line breaks. **Documentation mentions another format:**

[code]

**This format from documentation does not work!** So:
* [Documentation (linked to this bug report) is incorrec

[2020-05-12 05:39] SadiqhAhmed-MSFT commented on #54591
@phillipdwright Thanks for the question. We are actively investigating and will get back to you soon.

[2020-05-12 05:39] SumanthMarigowda-MSFT commented on #54594
@vamuzumd Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-12 05:43] SadiqhAhmed-MSFT commented on #54598
@lukaskabrt Thanks for the comment! We have shared this feedback with the content owner for further review and update as appropriate.

[2020-05-12 05:46] durairajasivam opened #54630 "Advice Needed"
Hi There,
We have AZURE SQL Managed Instance and We have 100 over MySql Clients, We would like to create data flow between those mentioned DB whenever the Table gets updated or inserted.

What are the best methods using Azure Logic app ?

Option 1.  AZURE  SQL <---> Logic APP <----> Service BUS <---->on-premises Data Gateway <----> MySQL
Option 2.  AZURE  SQL <---> Logic APP <----> on-premises Dat

[2020-05-12 05:47] deepakpalled commented on #53955
@JackHorlock - Thanks for testing this again, can you share the screenshot of the error you get? Also, do you have access to more than one AAD tenant?

@@Sandip-Raiyani and @shreyasharmamsft - Do we know what might cause this issue?

[2020-05-12 05:51] #54621 closed

[2020-05-12 05:51] VikasPullagura-MSFT commented on #54162
@jluk Thanks for providing the details.

@EsaFazal72 I will proceed to close this issue. You can follow-up on  #[54443](https://github.com/MicrosoftDocs/azure-docs/issues/54443) this open issue for Azure File storage and for any further updates regarding this.

[2020-05-12 05:51] #54162 closed

[2020-05-12 05:53] VikasPullagura-MSFT commented on #54267
We will now close this issue. You can either open a new issue by providing requested information or you can add the information to this issue to reopen and continue the discussion.

[2020-05-12 05:53] #54267 closed

[2020-05-12 05:56] souravmishra-msft commented on #54231
@raghu2505, Awesome news. Good to know the fix.

[2020-05-12 05:56] #54231 closed

[2020-05-12 05:57] Flanker32 commented on #54163
@alexchen2016 Thanks for your report and sorry for the late reply, the maven toolkit support specify environment when auth with service principal, here is the [document](https://github.com/microsoft/azure-maven-plugins/blob/develop/docs/common-configuration.md#authentication-method-1-use-the-maven-settingsxml-file), we are working to enable specify azure environment in other environments too, here

[2020-05-12 05:58] VikasPullagura-MSFT commented on #54586
@alexandarp I have updated the document and the changes will go live soon.

[2020-05-12 05:58] rishabh1896 commented on #54554
Hi,
Thanks,My issue was resolved but i had a query before i get started with
hdinsight. Can i query the table directly from azure sql when a external
table is created from hdinsight hive cluster using custom metastore?

On Mon, May 11, 2020, 10:30 PM KranthiPakala-MSFT <notifications@github.com>
wrote:

[2020-05-12 06:01] jasonyslai commented on #53513
Hi @AjayKumar-MSFT,
  I have sent those information which includes cloud diagnosis provided by tech support.
  Should I pack a default database up and reduce initial sync time?
  If yes, how to pack sqlite database into the apps and publish to the store?
  Thanks for your support!
regards,
Jason

[2020-05-12 06:02] VikasPullagura-MSFT commented on #54625
@tFable
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-12 06:03] VikasPullagura-MSFT commented on #54625
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2020-05-12 06:11] ChiragMishra-MSFT commented on #54624
@suhas9844 This could possibly be a transient issue. Can you please retry and check if it works?

This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MSDN IoT Edge ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge) / [Stack Overflow IoT Edge ](https://stackoverflow

[2020-05-12 06:11] #54624 closed

[2020-05-12 06:14] ChiragMishra-MSFT commented on #54610
@foldesizsombor Nice catch ! Thanks for bringing this to our notice. We are updating the doc and you should see the right things show up soon.

[2020-05-12 06:16] NoahLangenwalter opened #54631 "Erroneous Links in "Create an Azure Functions project" Section"
The following sentence contains two links:
"At this point, you can add input and output bindings to your function by modifying the function.json file or by adding a parameter to a C# class library function."

Both go to a subsection just below them that does not contain any information for "modifying the function.json file" or "adding a parameter to a C# class library function".

Perhaps they were

[2020-05-12 06:17] #54586 closed

[2020-05-12 06:27] shashishailaj commented on #54258
@markarnolditpro I reviewed this and at this point the granular control that you are asking for is not available in Azure Security center. Secure score is enabled at the Subscription level only . It cant be enabled at a resource or resource group level. there is a [ongoing feedback for allowing secure score to be resource group specific](https://feedback.azure.com/forums/347535-azure-security-cent

[2020-05-12 06:27] #54258 closed

[2020-05-12 06:32] ltchiu commented on #54562
Thanks for the point, now I found the trace level setting from the portal.
I am using Visual Studio 2019 and the trace level setting is not in the
Server Explorer.

Regards,

Liteh Chiu

On Mon, May 11, 2020 at 7:31 PM Ryan Hill <notifications@github.com> wrote:

[2020-05-12 06:34] stgeorgi commented on #54428
The two issues are very different.

@pcdiks The official documentation covers how to create a host pool via PS and the commandlet is there https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell. However creating a host pool through portal is much easier.

@kvijaykannan Creating a host pool does not automatically add VMs to it. Where VMs created and added to the host po

[2020-05-12 06:37] JeroenMvS commented on #54569
I already got confirmation that only Exchange & SharePoint are supported, but I still think this should be indicated clearly in the documentation.

[2020-05-12 06:44] garima2510 commented on #53337
Hi @shauliu, My issue is solved now, thanks to MS support. There is indeed an error in documentation. The payload is wrong so the correct payload should be:

`$setting.Setting = '{"required":false}'`

Basically, Setting is inside single quotes. This solved my issue.

[2020-05-12 06:45] santoshadithya30 opened #54632 "Unable to write to SQL Server using bulkCopyToSqlDB method"
I am trying to write data into SQL server by using bulkCopyToSqlDB method by using the reference
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-spark-connector#write-data-to-azure-sql-database-or-sql-server-using-bulk-insert.

I am trying to establish connection between SQL and spark. I have added libraries required also. I am able to see the data but when I am trying to write to

[2020-05-12 06:45] #54516 closed

[2020-05-12 06:49] Tbohunek opened #54633 "Question: automatic pages index"
In the below screenshot you can see I'm looking at chapter `How does the...` but the automatic index still thinks I'm looking at `Terminology` because there's still a line or two left.

Is it possible to optimize the index with some offset? Naturally, humans read in like 2/3 of the text height, so somewhere in the `system-assigned..` paragraph. Also, mouse over a text could dynamically highlight t

[2020-05-12 06:49] nitinkhandelwal26 commented on #54499
@kgremban Thank you Kelly for your reply, but it's nowhere written in any MS documentation that we need to deploy any module to get status 200. Please update the document accordingly as in every MS document it's written that if we deploy the IoT edge without any temperature module or custom module it should show the status 200 not 417.

I will try to deploy a module today/tomorrow and update you o

[2020-05-12 06:50] darayavah commented on #54319
Thank you very much.
That will certainly help me.
But still, do I need to train the model every time the logic app is triggered anew?
Where is the trained model saved? In the Ressource Group? Or somewhere locally? Or somewhere in the cloud.

[2020-05-12 06:52] VikasPullagura-MSFT commented on #53947
@jluk Thanks for sharing the details.

[2020-05-12 06:56] VikasPullagura-MSFT commented on #53947
@dikokob As justin suggested can you please check the suggestion
"Please verify the credentials setup to pull from the private registry is correct. It also looks like you are pulling ACI containergroups as well."

Also, can you try creating a [repo-scoped token](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-repository-scoped-permissions) and use that as the creds in

[2020-05-12 07:01] blueww commented on #53993
`%3A` is URI encode of `:`.  So when you send the $dirname as `catalog/eventHour=2020-04-09T11%3A/`, currently actually server will get `catalog/eventHour=2020-04-09T11:/`

To work around this, you can replace `%3A` to `%253A` when call `Get-AzDataLakeGen2Item`, since `%25` is URI encoded of `%`.
Please note, the return object has path `catalog/eventHour=2020-04-09T11%253A/`, but it actually point

[2020-05-12 07:17] jmprieur commented on #54087
@DarylThayil

[2020-05-12 07:21] rboucher commented on #53358
Understood Jon and Andrew.   Each service provides their own descriptions and we in Azure Monitor aggregate that information into this article. That's not an excuse for unhelpful descriptions. I just have to pull in the right people who actually know the answer and can update the descriptions-- in addition to answering your questions.

[2020-05-12 07:25] smuthusa commented on #53740
any update?

[2020-05-12 07:26] smuthusa commented on #53740
any update?

[2020-05-12 07:28] ezYakaEagle442 opened #54634 "Pivotal market place link is broken"
https://azuremarketplace.microsoft.com/marketplace/apps/pivotal.pivotal-cloud-foundry returns 404

shouldn't it be Tanzu : https://azuremarketplace.microsoft.com/en-usrketplace/marketplace/apps/pivotal.pivotal-cloud-foundry?tab=Overview ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aab3e8-e060-aed4-5ede-6b753fc931

[2020-05-12 07:38] SnehaAgrawal-MSFT commented on #54376
@balivo Thanks again for sharing the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-12 07:40] SnehaAgrawal-MSFT commented on #54620
@cat-mucius Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-12 07:42] HansonChiu1994 opened #54637 "Can't stream DMS worker and wait logs to an event hub"
Event hub can receive the requests from the Azure monitor but there is no incoming message. The policy is using the root access with Manage, Send and Listen.

Other metrics /logs can receive normally except these two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca576e1-fafa-3a02-6d29-394f342bc737
* Version Independ

[2020-05-12 07:42] SnehaAgrawal-MSFT commented on #54629
@razvansalajan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-12 07:48] HansonChiu1994 commented on #38603
I've used the Function V2 with Microsoft.Azure.EventGrid.Models and it's working. The sample code given is using Function V1.X and using JObject which is currently failed to bind with the Event Grid trigger attribute

[2020-05-12 07:48] henrynn commented on #8825
@TravisCragg-MSFT  Thanks.

[2020-05-12 07:50] VikasPullagura-MSFT commented on #54634
@ezYakaEagle442 Thanks for your query. I just tested this and it is working as expected. It could be some regional settings in your browser that is causing this issue for you. Requesting you to check your browser settings and try again. Please see below screenshots, as per my browser settings the url https://azuremarketplace.microsoft.com/marketplace/apps/pivotal.pivotal-cloud-foundry is redirecti

[2020-05-12 07:50] #54634 closed

[2020-05-12 07:57] lokesh051 commented on #54416
@SamaraSoucy-MSFT there is no documentation particular to my use case, I have referred the general custom speech documentation. You can find it [here](https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/how-to-custom-speech-test-and-train)

[2020-05-12 07:57] #54416 closed

[2020-05-12 08:03] ram-msft commented on #54185
@GidStuff We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-12 08:04] javaadpatel opened #54638 "Webhook Timeout"
What is the response timeout value for the webhook? My operation is taking ~5 seconds and I am receiving 504 status code on the webhook overview panel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f76a789-abd7-e24b-216c-ecc8bb7754b1
* Version Independent ID: c704537a-206f-c06b-7dd5-a0503738cd14
* Content: [Webhooks

[2020-05-12 08:07] lgmorand opened #54639 "AI for AKS (with SM) being deprecated without any alternative ?"
The page says that our solution is being deprecated and we replace it by a "preview" version using a agent working for Java only

Question 1.  Does that means that instead covering all technologies we are covering only Java applications and thus do no recommend any other technology with AKS ?

Question 2: Why does not the documentation talk about this solution. should it not be the recommended sol

[2020-05-12 08:10] lokesh051 commented on #54416
@SamaraSoucy-MSFT I have posted this issue on stack https://stackoverflow.com/questions/61746667/training-the-baseline-model-for-marathi-language-fails.
Thanks!

[2020-05-12 08:25] yaswanthv007 opened #54640 "qna-maker-knowledge-base-not-showing-up"
I have an existing Knowledge Base in the QnA Maker that I am trying to update, however I am getting the following error: "You currently have no "knowledge bases", build one using the Create a knowledge base menu item. Learn more" When I try to Create a Knowledge Base, my existing Azure subscription cannot be found. I unable to create the new one as-well. It's been so buggy. I am unable to create n

[2020-05-12 08:28] hf-kklein opened #54641 "Is Task.WhenAll(...) not affected by the orchestrator code constraints?"
The site ["Orchestrator code constraints"](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-code-constraints) says:

But in the example on this page an `await Task.WhenAll(provisioningTasks);` is executed in an orchestrator. IMHO either the example or the constraint are wrong/incomplete. Could you please clarify on this?

---
#### Document Details

⚠ *Do not edit th

[2020-05-12 08:32] VikasPullagura-MSFT commented on #54615
@annerajb
Thanks for the feedback! I have assigned the issue to content author to check on this pricing link and update as appropriate.

[2020-05-12 08:32] VikasPullagura-MSFT commented on #54615
@mlearned
Can you please check and add your comments on this.

[2020-05-12 08:33] howardjones opened #54642 "az cli commands are not valid"
az deployment group: 'operation' is not in the 'az deployment group' command group. See 'az deployment group --help'.
(using latest azcli from package repo)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4369e3ef-baf8-5ea9-cba8-87d49bbc21a4
* Version Independent ID: 1ba05ac6-f9e2-3c90-c2a9-8efec79f9d23
* Content: [Depl

[2020-05-12 08:43] MartijnElfers opened #54643 "Migrate Azure PAYG to CSP link incorrect?"
The link at: "To migrate to CSP, see Azure Pay-As-You-Go Subscription Migration to CSP.", does not seem to be correct. As it redirects to a different page.

https://docs.microsoft.com/azure/cloud-solution-provider/migration/migration-from-payg-to-csp --&gt; https://docs.microsoft.com/en-us/partner-center/azure-plan-lp

Is there any information regarding Migrate Azure PAYG to Azure CSP?

---
#### D

[2020-05-12 08:45] lightupdifire opened #54644 "Revoke MFA Sessions | PowerShell | Graph API"
Hello,
Is it possible to do "Revoke MFA Sessions" using PS or Graph API please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9cb3-b52f334fb94d
* Version Independent ID: fe358aa5-5bb6-b8f0-8ab7-ef181dc8af42
* Content: [Manage user settings for Azure Multi-Factor Authentication - Azure Active Directo

[2020-05-12 08:47] amanmcse commented on #54262
@maya-cnx Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-05-12 08:47] #54262 closed

[2020-05-12 08:51] dikokob commented on #53947
@VikasPullagura-MSFT

I am using secrets method as mentioned [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line). This works fine when my nodes run without any virtual nodes.

When I follow the [following](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-portal) I get the following error:

[2020-05-12 08:55] pcdiks commented on #54428
@stgeorgi I know but I want to automate thins. I did not expect that if you create a host pool via PS that you then cannot add session hosts with the GUI. I'm working on adding session hosts through powershell by using the registration key.

[2020-05-12 08:55] samvpillay opened #54645 "Link for 'use access tokens'"
I might be missing something, but the link seems to refer to getting access tokens, rather than using them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79614f7a-1783-2aaf-1d91-e13d9f37766a
* Version Independent ID: a2697558-3e38-8001-37ae-d9852628da25
* Content: [Configure tokens - Azure Active Directory B2C](https:

[2020-05-12 08:58] johnnzy1 commented on #54519
Hi Antonio,

Thanks for your help, which showed me that I was misunderstanding a few things. Once I went to the correct Swagger link for my own Digital Twin, and got the App Registration working again (I think it must have been right before, as I wasn't getting an authorization error), I was able to get the 200 response code, and make queries against APIs. This is working with Postman, too.

I'm s

[2020-05-12 09:10] SubhashVasarapu-MSFT commented on #54614
@smena , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-12 09:11] SubhashVasarapu-MSFT commented on #54608
@mathieu-benoit , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-12 09:14] SubhashVasarapu-MSFT commented on #54295
@KosukeHosoda , We have assigned this issue to the content author for updating the document accordingly.

[2020-05-12 09:15] SubhashVasarapu-MSFT commented on #53543
@DaFitRobsta , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-12 09:15] #53543 closed

[2020-05-12 09:16] dlawrences opened #54647 "Incorrect config key"
Hi

Permissions error will arise due to the following key in the config dictionary:

"fs.azure.account.oauth.provider.type"

Correct one is "fs.azure.account.oauth2.provider.type"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a000caa-6f6e-de6c-fb18-a342a6b1221b
* Version Independent ID: 5f638d37-66bc-9987-35c0-844517

[2020-05-12 09:23] dlawrences commented on #54647
Apologies, it is actually throwing IllegalArgumentException.

[2020-05-12 09:23] #54647 closed

[2020-05-12 09:24] rr-on-gh commented on #53714
@himanshusinha-msft If you had trouble understanding my original post or the SO thread, let me repeat. I am looking for a ASA native way of doing this, which the SO answer did not solve (also the whole reason I opened the ticket and was transparent about reposting it here).

If this is technically not possible, its only decent to accept it, possibly suggest alternatives or take this up as a featur

[2020-05-12 09:25] ptsapralis opened #54648 ""deactivation-intent" values are missing for "sfctl node disable" command."
The text for the "deactivation-intent" argument in the "sfctl node disable" command says "The possible values are following" but the values are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9b3f24-5882-b47b-3942-1192c2cdfef7
* Version Independent ID: 70214460-b302-9939-32d1-8e90a6ab6a57
* Content: [Azure Se

[2020-05-12 09:27] 84618315 opened #54649 "Encoding problem"
The inheritance model has an encoding problem.
even when you set the following:
`<?xml version="1.0" encoding="UTF-8"?>`

 at the beginning of every file.

lets say we have a TrustFrameworkExtensions.xml with the following localizedstring:

`<LocalizedString ElementType="UxElement" StringId="button_continue">Définir un nouveau mot de passe</LocalizedString>`

then in the replying party, passwordre

[2020-05-12 09:31] SwathiDhanwada-MSFT commented on #54642
@howardjones Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-05-12 09:42] zoekdestep opened #54650 "Typos in Visualize experiment runs and metrics with TB and AML"
**Multiple typos in code:**

**_Typo 1_**
Code in:
- Option 2: Export history as log to view in TensorBoard
- Setup experiment
- First codeblock

`import azuremml.core` should be `import azureml.core`

**_Typo 2_**
Code in:
- Option 2: Export history as log to view in TensorBoard
- Run experiment and log metrics
- First codeblock

`with root_run.child_run("alpha" + str(alpha)) as run` should be `w

[2020-05-12 09:49] AjayKumar-MSFT commented on #53673
@trichardson01-kellogg, We had been discussing on this internally. We have added a note in the document 'Azure Media Player does not currently support Ads'. Thanks again for sharing your feedback.

[2020-05-12 09:49] #53673 closed

[2020-05-12 09:50] zoekdestep commented on #54650
Edited to include multiple code typos

[2020-05-12 09:51] KalyanChanumolu-MSFT commented on #54604
@greendx Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-05-12 09:56] ChiragMishra-MSFT commented on #54400
@abhishek0818 I will now proceed to close the issue. Please feel free to create a feedback item on the relevant doc to continue the discussion.

[2020-05-12 09:56] #54400 closed

[2020-05-12 10:05] VikasPullagura-MSFT commented on #54648
@ptsapralis
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-12 10:06] VikasPullagura-MSFT commented on #54648
@jeffj6123
Can you please check and add your comments on this doc update request as applicable.

[2020-05-12 10:09] KrishnaG-MSFT commented on #54637
@HansonChiu1994  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-12 10:11] KrishnaG-MSFT commented on #54643
@MartijnElfers Thanks for the comment!
Assigning content owner @bandersmsft for visibility, review and document enhancement consideration.

[2020-05-12 10:17] ChiragMishra-MSFT commented on #54587
@Nagarc Please Make sure you are providing correct “server Hostname” and “Port number” for the connection.

ou must first get the JDBC connection information for your cluster and then provide that information as a server address when you configure the connection in Power BI Desktop.

Step 1: Get the JDBC server address

In Azure Databricks, go to Clusters and select the cluster you want to connect

[2020-05-12 10:23] amanmcse commented on #54449
@udbach Group Writeback is only for O365 Groups and cannot be utilized to write back the attributes of users who are member of these groups. We do not support writeback (Azure AD to On-prem AD) for users or user attributes. There are however some exceptions like, password writeback or [Exchange Hybrid Writeback](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-

[2020-05-12 10:33] cveld opened #54651 "Explanation of the Logs menu option is missing"
When I provision a fresh app service it comes with a Logs menu option in the Monitoring section. But none of the provided tables are available by default. E.g. `AppServiceAppLogs | take 5` throws the following error: `'take' operator: Failed to resolve table or column expression named 'AppServiceAppLogs'`.

I believe there is a relationship with enabling the shipping of logs to a Log Analytics wor

[2020-05-12 10:34] andrewatfornax commented on #53358
No problems @rboucher - I understand it's not an easy change and I appreciate that you are looking into it! Thanks.

[2020-05-12 10:36] aribornstein opened #54652 "No local image examples"
All the examples show how to analyze a remote image it would be good to have some local image examples as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef96562d-099d-9400-c88c-ba0439e136a6
* Version Independent ID: 049314ea-8e68-50ee-3469-4d39c801fc54
* Content: [Quickstart: Computer Vision client library - Azur

[2020-05-12 10:36] Nimleth commented on #53009
Hi,

No it doesn't. I'm afraid we are not understanding each other, or maybe I'm not understanding you correctly.
So, as a picture is worth a thousand words I made a drawing to see if I can make my concern clear:

![image](https://user-images.githubusercontent.com/28990236/81672971-37eda280-944b-11ea-8cf8-127ccd2e456d.png)

This is the situation I'm concerned with. So a malicious insider, lets say

[2020-05-12 10:37] KrishnaG-MSFT commented on #54237
@v-radelg At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-05-12 10:37] #54237 closed

[2020-05-12 10:42] VikasPullagura-MSFT commented on #53624
@townendk Any update on the issue? Is the issue resolved now.

[2020-05-12 10:44] howardjones commented on #54642
A bit more info: There's a full page of documentation for `az deployment group operation` on the Azure website, but if you try it in the latest az cli (or cloud shell), you get the error above.

However, the "old way" - `az group deployment operation` *does* work.

[2020-05-12 10:49] ivopisarovic commented on #49245
@AjayKumar-MSFT

Please, what does Free App Service Plans stand for? I have a student subscription with 100usd free credit and I'm running web sockets on B1 plan. Is this also counted as free plan? Websocket url is responding with 503.

[2020-05-12 11:00] aribornstein opened #54653 "Why not just use the python client API???"
This can be simplified to a few lines of code using the client api

computervision_client = ComputerVisionClient(endpoint, CognitiveServicesCredentials(subscription_key))
image_path = r"{Local image path}"# Set image_path to the local path of an image that you want to analyze.
img_data = open(image_path, "rb") # Read the image into a byte array
visual_features = ["Categories", "Description" , "Col

[2020-05-12 11:05] MavBoss86 opened #54654 "Sito To Site price when disconnected"
It's not clear if you continue to spend if the site to site connection is disconnected but configured.
In this document it's written:
"Lets say this is VPN of 1 scale unit = 500 Mbps, this is charged at $0.361/hr. Each connection is charged at $0.05/hr. For 10 connections, the total charge of service/hr would be $0.361 + $.5/hr. Data charges for traffic leaving Azure apply."
So if the site is disc

[2020-05-12 11:07] cadumi opened #54655 "Azure Advisor not working with read-only lock"
Azure Advisor is not working with read-only lock, due to runtime queries and store the results for that subscription which can't happen when a read only lock is applied. By design as confirmed with product group.
Please add this as a limitation in this article, when using read-only locks on subscription, as limitations for backups are mentioned as well.
Error: "This subscription has been locked to

[2020-05-12 11:16] VikasPullagura-MSFT commented on #54362
@yellow456434 I don't see any attachments, requesting you to please add the details on the GitHub.
Also, once you run the --debug based on the error shared, the value for this `properties.windowsProfile` in the api call is having some issue. Please check what value is going in this property from the --debug output.

[2020-05-12 11:28] sebassem opened #54656 "ResourceScopes"
When i try to assign a new role , i always get "Must specify valid property scope of entity RoleAssignment" . When i changed it to "ResourceScope" and passed the value without an array i got a 200 repsonse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29286aff-a419-c24b-17ab-c7d3d3112b19
* Version Independent ID: 0049

[2020-05-12 11:28] VikasPullagura-MSFT commented on #54638
@javaadpatel
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-12 11:29] VikasPullagura-MSFT commented on #54638
@dlepow Can you please add your comments on this.

[2020-05-12 11:29] SadiqhAhmed-MSFT commented on #54630
@durairajasivam Thanks for the question. Could you please share the document you're referring to. This would help us connect you with the appropriate service engineer.

[2020-05-12 11:36] chrsi commented on #53040
Hello @asergaz,
I'm still waiting for your reply.

[2020-05-12 11:41] jfalameda opened #54657 "Add reference to package containing Invoke-ServiceFabricEncryptText"
I find it impossible to find where the Invoke-ServiceFabricEncryptText module lives.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65744c73-e7a2-6d5b-004c-22f980730bd0
* Version Independent ID: d3366f95-1038-0e0c-4f98-9ce25b96c928
* Content: [Set up an encryption cert on Windows clusters - Azure Service Fabric](https:

[2020-05-12 11:42] SadiqhAhmed-MSFT commented on #54655
@cadumi Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-12 11:43] JohnD76 opened #54658 "Does the NVA in the Shared Services spoke have a function post step 6?"
Is there any benefit to keeping the NVA in the shared services hub post step 6?

Can you still route traffic via the firewall using a 0.0.0.0/0 route table entry to the NVA private IP via the vWan Hub?

With the Azure Firewall Manager still being in preview and the limitations highlighted in the document, how do you move from a secure VDC environment where an Azure Firewall in the hub inspects tra

[2020-05-12 11:46] SadiqhAhmed-MSFT commented on #54632
@santoshadithya30 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-12 11:56] ezYakaEagle442 opened #54659 "OpenShift docs link outdated"
on the left ToC tree / Resources / RedHat OpenShift doc link https://docs.openshift.com/aro/welcome/index.html leads to https://docs.openshift.com/aro/3/welcome/index.html whereas it should goes to
https://docs.openshift.com/aro/4/welcome/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1298493d-9534-ef27-8102

[2020-05-12 11:59] souravmishra-msft commented on #54538
@RonnieQuan, Private Endpoints maps to a Azure KeyVault resource and  Private Endpoint belongs to a VNET.  If you need to create multiple  Private Endpoints in multiple VNETs and they can access this KeyVault as well. There is a limit for each resource. For KeyVault it is 64  Private Endpoints.

Hope this helps.

[2020-05-12 12:11] mpalumbo7 opened #54660 "Missing storage-preview extension prerequisite"
There is no mention of the mandatory prerequisite of Azure CLI storage extension.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ec84b9-0311-d67f-60a8-428db54add42
* Version Independent ID: af6292f5-b0ca-5874-3f50-cf539e28675a
* Content: [Use Azure CLI for files & ACLs in Azure Data Lake Storage Gen2](https:/

[2020-05-12 12:12] souravmishra-msft commented on #54539
@RonnieQuan, I  would like to share the answer to the queries you shared:

1: What does allow access from private endpoint and selected networks mean?
**Ans:** By allowing access to Private Endpoints and Selected networks (pre-created VNETS) means to whitelist only specific Private Endpoints and Selected networks on the Azure KeyVault's Firewall so that resources connected to those whitelisted Pri

[2020-05-12 12:20] Dottn commented on #45940
Immediately this strikes me as an issue where the password field expect ASCII values, or where characters are treated as single bytes.

[2020-05-12 12:24] piyo0320 commented on #54237
Dear @KrishnaG-MSFT

Thank you for your reply.
I rechecked, but all the parameters are correct.
After running a runbook test from the portal, I found that Az.Storage was not importedin my Account.
I tested the runbook from portal after importing Az.Storage and it worked.
But the execution from Powershell fails with the same error.

Kind regards,

[2020-05-12 12:26] PramodValavala-MSFT commented on #54591
@phillipdwright As part of the tutorial, the custom endpoint is a web app that is deployed in your subscription with the command that you shared.

Based on the error message, I believe your subscription doesn't allow  deploying web apps into the region that you selected (`westus2` in the tutorial).

[2020-05-12 12:27] cstainie opened #54661 "Details missing on Network Security and Access Policies"
Dear,

It's unclear in the documentation how the integration is done with the registered CA in terms of network connectivity and  security. Is this compatible with a Firewall protected Key Vault? Is this covered by the "Allow trusted Microsoft services to bypass this firewall" exceptions? What is the direction of the traffic (Outbound: KV initiating the traffic)? Is there anything delegated to the

[2020-05-12 12:30] atrauzzi opened #54662 "PhpRedis"
Is the note about PhpRedis not supporting TLS still up to date?  Can you provide any references regarding this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5e31f8-a816-2b22-96c0-f763fa67f9e6
* Version Independent ID: d1ff1bc0-c88e-f51f-c6d8-fb9f9b212b94
* Content: [Remove TLS 1.0 and 1.1 from use with Azure Cache

[2020-05-12 12:31] arsnyder16 opened #54663 "Loading Certs in to windows container"
I can't seem to find the pfx in the cert store or on disk in my windows container.

I am using windows containers with app service. I am trying to load a pfx that is uploaded into the app service and i am setting both
`WEBSITE_LOAD_CERTIFICATES=*`
`WEBSITE_LOAD_USER_PROFILE=1`

From the documentation its not clear if this is not supported for windows containers or not. it appear that it is support

[2020-05-12 12:31] mpalumbo7 commented on #54660
Actually, even after I installed the `storage-preview` extension, I get the same error.

[2020-05-12 12:44] TomGeske commented on #53988
@rlevchenko: Most of our AKS docs provide CLI samples. However, we have a seperate page for AKS ARM RP [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters).

[2020-05-12 12:45] 3novsan opened #54664 "Licensing"
A Customer mentioned that they can access the Sign-in Risk Policy and Its report without even having AAD Premium license in their tenant. Is it expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171-fd05-9fe1-3ba7-0fb20161ee63
* Version Independent ID: 2e6b2451-5ff8-a277-90ea-49aa70957977
* Content:

[2020-05-12 12:45] ChiragMishra-MSFT commented on #54626
@Chai-NED Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-12 12:49] VikasPullagura-MSFT commented on #54659
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-12 12:49] VikasPullagura-MSFT commented on #54659
@ms-jasondel
Can you please check and add your comments on this doc update request as applicable.

[2020-05-12 12:53] MonikaReddy-MSFT commented on #54639
@lgmorand , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-12 12:54] cocowalla opened #54665 "Can templateLink be used with local files?"
This page talks of storing nested templayes in a folder, which sounds like `templateLink` can work with local files.

However, [another page](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates#linked-template) explicitly states:

&gt; When referencing a linked template, the value of uri must not be a local file or a file that is only available on your local ne

[2020-05-12 13:04] MonikaReddy-MSFT commented on #54665
@cocowalla , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-12 13:04] SeaDude commented on #11419
@craxal, I left off the last `password-manager-service` and the product installed just fine.

[2020-05-12 13:04] mrbullwinkle commented on #54639
adding @rishabjolly

[2020-05-12 13:05] SeaDude commented on #54533
All good. Now that I'm more familiar with azure functions, I now understand the difference between bindings and extensions. Thanks for the great docs (as always)!

[2020-05-12 13:05] #54533 closed

[2020-05-12 13:08] SeaDude commented on #54513
Here is a link to the `az cli` docs for programmatically accessing connection string (if you'd like to add it somewhere) https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-show-connection-string.
Thank you for the great docs!

[2020-05-12 13:08] #54513 closed

[2020-05-12 13:09] 3novsan opened #54666 "Sign-in Risk & GDPR"
Customer raised a concerned today regarding the “Atypical Travel” risk detection mentioned at Sign-in Risk Detection. According to customer, If this method uses IP Addresses to determine user location then wouldn’t it be against the GDPR Details on Personal Data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-

[2020-05-12 13:10] RohitMungi-MSFT commented on #54640
@yaswanthv007 Thanks for the question. I have checked the QnA portal to check any issues while loading my existing KBs, but I do not see any issues in listing or creating new ones. Also, there are currently no known issues in any of the regions.

- Could you please check if your logged in user is same as the user that is under the tenant you have already created for your KB or resource?
- If your

[2020-05-12 13:11] mrbullwinkle commented on #54627
#assign:mrbullwinkle

[2020-05-12 13:13] Boaz101 commented on #54128
Yes, thank you. Can this be added to the documentation to make it easier to find?

From: Ryan Hill <notifications@github.com>
Sent: Monday, May 11, 2020 5:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Boaz101 <kmterhaar@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] name of managed service identity for a slot (#54128)

Take a look

[2020-05-12 13:16] AshokPeddakotla-MSFT commented on #54478
I have assigned the issue to the content author @dominicbetts  to evaluate and update as appropriate.

[2020-05-12 13:17] nitinkhandelwal26 commented on #54499
@kgremban It worked! Thanks
But kindly mention this in your how-to guide that 200 status for edgehub will not appear until any module is installed.
Also, after doing  iotedge check --verbose on my edge VM
I got a few warnings in which one was

‼ latest security daemon - Warning
    Installed IoT Edge daemon has version 1.0.8 but 1.0.9 is the latest stable version available.
    Please see https://

[2020-05-12 13:17] RohitMungi-MSFT commented on #54650
@zoekdestep Thanks for bringing this to our attention. Yes, these typos need to be corrected.
Currently, we are in a doc freeze for our upcoming MS Build event, We shall update these bugs in the document as soon as the freeze is removed.

[2020-05-12 13:21] w0ut0 opened #54667 "Do we also need to "sync triggers" when updated the content of the ZIP?"
If we make an update to the function code, and publish it to the same blob storage URL (eg. package-latest.zip) without changing any of the bindings.
Do we also need to "sync triggers" in order the use the new function code, or is the zip pulled/mounted on every run?

In our case we work with JAVA functions, but I image the question spans over all environments.

---
#### Document Details

⚠ *Do no

[2020-05-12 13:22] shashishailaj commented on #54645
@samvpillay Thank you for pointing that out. We will have this reviewed and update the thread.

[2020-05-12 13:22] RohitMungi-MSFT commented on #54652
@aribornstein An example to use a local image is available [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-disk)in the documentation.

[2020-05-12 13:24] RonnieQuan commented on #54539
@souravmishra-msft Thank you so much for the detail information.
Just want to clarify on allow private endpoints to access key vault, I don't see configuration to indicate allowing which specific private endpoint to access the key vault.

[2020-05-12 13:25] tfitzmac commented on #54655
@cadumi - thanks for this information. It sounds like you are referring to a read-only lock on the subscription, is that right?

[2020-05-12 13:26] rohitpant55 commented on #54525
Any inputs from the Microsoft team?
I really need to find a solution for this or otherwise, I have to look for some other options to achieve multi-tenancy with different servers(with different username/password) in our project.

Help is highly appreciated in advance.

[2020-05-12 13:28] shashishailaj commented on #54633
@Tbohunek Thank you for your feedback . We will have this reviewed with the content team and will update the thread.

[2020-05-12 13:28] vipulsparsh commented on #53293
@CharmanderJieniJieni

Microsoft recommends that you use Azure AD credentials when possible as a security best practice, rather than using the key at data level for access, which can be more easily compromised.

Without Azure AD integrated access restrictions which includes RBAC, the data plane access tokens are always risky, if they get compromised, anybody with the key can get access to the corr

[2020-05-12 13:28] mrbullwinkle commented on #54627
@dcbrown16 It is not really deprecated per se, but now that workbooks isn't just an Application Insights feature I agree it makes sense to retire this doc and redirect it to point to the more comprehensive workbooks docs that we have now.

I will take care of this later this sprint. (We are currently in a publishing freeze until the first day of the Build conference so this change will have to wai

[2020-05-12 13:33] RohitMungi-MSFT commented on #54653
@aribornstein Thanks for your suggestion. This example in the document demonstrates the usage of REST API directly with python for a local image. A similar implementation with the client is also available in this [quickstart ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?pivots=programming-language-python)for reference.

[2020-05-12 13:36] Chai-NED opened #54668 "Copying from local HDFS to ADLS Gen2?"
Could you include an example of it using azcopy on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff38f601-fc42-c866-1970-227245e45e39
* Version Independent ID: b68bce57-059d-08bd-59c7-316f318c20ea
* Content: [Upload data for Apache Hadoop jobs in HDInsight](https://docs.microsoft.com/en-us/azure/hdinsight/h

[2020-05-12 13:43] Hargeet-Chani-Bose opened #54669 "typo on select-azuresubscription"
since this is using the az module, the command is select-azsubscription instead of select-azuresusbscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9a90055-9f07-35c5-b54b-d3cae7d894ba
* Version Independent ID: 326f52c7-f59b-ddda-029d-ef7a1140490b
* Content: [PowerShell module Windows Virtual Desktop - Azure](h

[2020-05-12 13:45] durairajasivam commented on #54630
@SadiqhAhmed-MSFT Thanks for responding.
I Belive My questions belong to Azure Logic App, Azure BUS Services, and On-Premises Gateway.

Could you able to tell what is the best practice?  or is there any other better ways?

[2020-05-12 13:46] dalibor-sanzeru commented on #24460
This is joke - Isn't it?
I have run some performance tests against CosmosDb app and now I can't scale down and I will pay 60dollars per month for not using instance? Great job!

[2020-05-12 13:50] cadumi commented on #54655
@tfitzmac , correct.

[2020-05-12 14:00] AshokPeddakotla-MSFT commented on #54095
Thanks for the detailed information. I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.

[2020-05-12 14:01] pober commented on #45306
The issue is still present, any updates or workarounds on it?

[2020-05-12 14:10] tamram commented on #54598
@lukaskabrt - Thanks for pointing out that error. I've corrected the text.

#please-close

[2020-05-12 14:10] #54598 closed

[2020-05-12 14:25] phannybawz commented on #53749
Hi Stefan,

So I now have a Win 10 Enterprise Insider Preview machine running, joined to the domain, with a manually entered script and I am still seeing the attached output when it comes to the completion of the script.

The rest of the script functions just fine.  This last section remains all that is preventing me from progressing.

Appreciate it if you could advise further.

Regards
<img width

[2020-05-12 14:30] CeciAc opened #54670 "How to jump to WeChat application to do authorize?"
@idears-org commented on [Tue May 12 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/724)

The behavior now is

1.Click sign-up button in the web app
2.Scan the WeChat QR code on the web
3.Input name and mobile number
4.MFA

It's same for PC browser and mobile app.

If there is a way to change the behavior for mobile app to :

1.Click sign-up button in the mobile app
2.WeChat mobile

[2020-05-12 14:34] InteXX commented on #41396
Please update this article to mention version 3.x.

[2020-05-12 14:41] AshokPeddakotla-MSFT commented on #54292
@V-Guru I would suggest you, retsrt your iot edge module and check if that makes any difference.

Regarding your specific questions:

1. You [Deploy modules to device](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux#deploy-modules-to-device) and Expand the details for your IoT Edge device, then expand the Modules list for your device.
2. As specified in the pre-requisite

[2020-05-12 14:41] pablomujica commented on #52898
Any news on this issue? is there anything we can do in the community to help?

[2020-05-12 14:44] VikasPullagura-MSFT commented on #54669
@Hargeet-Chani-Bose Thanks for pointing this out.

`Select-AzSubscription` is not a direct cmdlet, it is an alias of `Set-AzContext`, so here for selecting the azure subscription we can use both as mentioned below:

[code]
![image](https://user-images.githubusercontent.com/48944027/81705849-1ad9c380-948d-11ea-8602-f06be92a945f.png)

I have updated the document and changes will go live soon.

[2020-05-12 14:48] flyingUnderTheRadar commented on #54114
Thanks for looking into this. I'm interested in finding the source of ip -> gep mapping for both Azure front door as well as WAF, since both of these have the filter by geo-location mapping functionality

[2020-05-12 14:51] VikasPullagura-MSFT commented on #54623
@scottgorlick
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-12 15:01] joedevgee commented on #54578
@SadiqhAhmed-MSFT Just found out the problem. I am using the NodeJS SDK. but there are some confusions around generate the SAS token according to this doc: https://docs.microsoft.com/en-us/javascript/api/%40azure/storage-blob/generateblobsasqueryparameters?view=azure-node-latest

It would be better if we can have this content be updated and more clear.

Thanks, you can close the issue now

[2020-05-12 15:03] p0shkar opened #54672 "Clarification regarding OS prereqs."
"Phone sign-in is only available on iOS and Android devices running Android 6.0 or above." This makes it sound like iOS requires Android 6.0 or above. In below documentation it says iOS 8.0 or above is required, so maybe add that to this article too.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone#prerequisites

---
#### Document Deta

[2020-05-12 15:11] lingfengdk commented on #54330
@GiftA-MSFT Thank you for your reply. Does it mean that the default parameter updates are not supported in the designer (preview) when deploying a real-time inference pipeline?

[2020-05-12 15:12] srisaiazure opened #54673 "Confusion " Create an AKS cluster in the virtual network""
I am still in a confusion on what to use kubenet or azureCNI. Considering the IP sizing i decided to go on kubenet Network with existing vNET/SUBNET which i can specify only from AZURE CLI. However, other IPs like Service CIDR and Docker Bridge CIDR IP selection will be taken care by Azure.

Confusion below :  Why do i need to worry about below as it is purely an internal communication and it is n

[2020-05-12 15:18] #54289 closed

[2020-05-12 15:19] #54406 closed

[2020-05-12 15:23] BrianLevenson opened #54674 "time to update"
The table at the top shows availability for some offer types in April 2020. We should change those to either show available now or update the ETA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d32eb9e-b415-3a82-0a0e-3e577d73ea51
* Version Independent ID: ac36495d-420f-0ac7-48fd-e6536fc4eddc
* Content: [Co-sell option

[2020-05-12 15:25] itstheusername commented on #53236
azure is totally out of date not just that page. It took me years to find out how to create a app and create access token just to find out that these tokens expire every 60 minutes
[code]
requiring user/browser authorize every 60 minutes, to make a job that automatically does this every 60 min will require to store plan text user email and password which is not even possible since they force you t

[2020-05-12 15:31] wandhydrant commented on #54551
Thank you very much for this clarification. For me, this issue can be closed.

[2020-05-12 15:36] SaurabhSharma-MSFT commented on #54644
@lightupdifire Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:37] dckfnuance commented on #53993
Found another related issue. If a child folder has % in the name, this works:
Get-AzDataLakeGen2ChildItem -Context $ctx -FileSystem $FileSystemName -Recurse -Path $dirname

But if we try to get the ACL by adding -FetchProperty, there’s an error. See below.
[cid:image001.png@01D62851.C1C8C270]

From: Wei Wei <notifications@github.com>
Sent: Tuesday, May 12, 2020 3:01 AM
To: MicrosoftDocs/azure-docs

[2020-05-12 15:37] SaurabhSharma-MSFT commented on #54649
@84618315 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:38] SaurabhSharma-MSFT commented on #54656
@sebassem Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:39] SaurabhSharma-MSFT commented on #54661
@cstainie Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-12 15:40] SaurabhSharma-MSFT commented on #54664
@3novsan Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:41] SaurabhSharma-MSFT commented on #54666
@3novsan Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:42] SaurabhSharma-MSFT commented on #54670
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:42] BharathNimmala-MSFT commented on #54674
@BrianLevenson Thank you for bringing this to our notice, assigning this issue to our document author @dsindona to reflect the feedback and update the document accordingly.

[2020-05-12 15:42] eustacea commented on #53040
Hi @chrsi ,
Your scenario shouldn't pose any issues with unique validation of devices as the certificates with their chains to to the root will be unique given unique source chains.  If you require uniqueness in CN then you can establish a CN creation protocol with your manufacturers such as use of a hash digest that takes the manufacturer's public certificate as _one_ of it's inputs.

[2020-05-12 15:43] SaurabhSharma-MSFT commented on #54672
@p0shkar Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 15:43] cephalin commented on #47097
#reaasign:cephalin

[2020-05-12 15:43] SaurabhSharma-MSFT commented on #54312
@DeanGross We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-12 15:43] #54312 closed

[2020-05-12 15:44] cephalin commented on #47097
#reassign:cephalin

[2020-05-12 15:45] blueww commented on #53993
@dckfnuance
This is because the list out datalake item from SDK has not encoded Uri, so run any request (like get property) with the items will fail, since the not encoded Uri will be decode when set to server.

I have already report this to the SDK team with the before issue.

[2020-05-12 15:50] shashishailaj commented on #54633
@MarkusVi Could you please review the design suggestion provided by the customer on this ?

[2020-05-12 15:58] PramodValavala-MSFT commented on #54456
@rafaheringer While the Consumption App Service Plan is required, there is no specific charge for it unlike other tiers. But I believe from the perspective of better organization, it does make sense to support this.

There is a [feedback item on UserVoice](https://feedback.azure.com/forums/355860-azure-functions/suggestions/39252400-when-manually-creating-a-function-app-in-the-porta) that covers t

[2020-05-12 15:58] #54456 closed

[2020-05-12 15:58] manish-jain-1 opened #54675 "SB and Q connection string examples"
Github examples are great except there are no samples for connection strings. I was able to get connection string for service bus. Queue string with http didn't work. I couldn't find amqp string on azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID

[2020-05-12 16:00] flamingboo commented on #54615
Just found this:
https://azure.microsoft.com/en-us/pricing/calculator/?service=kubernetes-service#kubernetes-servicec849022d-e42b-4bbf-ae02-0b522d7a111b

Cheers

[2020-05-12 16:08] martincoetzer commented on #54518
Use whatever tool you want to update your AD and then use Azure AD Connect to update Azure AD Connect. There is other tools like PowerShell, or using MS Graph API to update Azure AD. #please-close

[2020-05-12 16:08] #54518 closed

[2020-05-12 16:08] harelbr commented on #16061
I'm happy to share that we've just added support for creating a metric alert rule on a custom metric that isn't yet emitted.

This can be done by passing a **skipMetricValidation** parameter (within the criteria) and setting it to "true".

See example below for how to use this parameter in an ARM template:
[code]

[2020-05-12 16:09] rjmontenegro opened #54676 "Expired Debian for Azure Archive Automatic Signing Key (Jessie)"
Hello. Because of the [agent version](https://support.microsoft.com/en-us/help/4049215/extensions-and-virtual-machine-agent-minimum-version-support), the last backups of the Linux VMs failed. I went to check it better and on a debian wiki it is said that:[ Debian for Azure Archive Automatic Signing Key has expired](https://wiki.debian.org/Cloud/MicrosoftAzure#Expired_Debian_for_Azure_Archive_Autom

[2020-05-12 16:09] Mike-Ubezzi-MSFT commented on #54525
@rohitpant55 Apologies for the delay in getting back to you on this topic. It appears you are using the single tenant per database, which is the simplest to manage. There are multiple (three) access credentials required to access the shard map manager: [Credentials used to access the Elastic Database client library](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-scale-man

[2020-05-12 16:11] achaikaJH opened #54677 "adding tags doesn't work"
this part doesn't work:
$tags += @{Location="MyLocation"}
because this expression:
$tags = (Get-AzResource -ResourceGroupName MyResourceGroup -Name MyTestVM).Tags
returns System.Array Object instead of Hashtable.
so following expression:
Set-AzResource -ResourceGroupName MyResourceGroup -Name MyTestVM -ResourceType "Microsoft.Compute/VirtualMachines" -Tag $tags
raises exception:
 Cannot convert 'S

[2020-05-12 16:14] itdap77 opened #54678 "Issues running deployment template"
I receive the following error Request is invalid. Reason: The ServiceFabricVolumeDisk feature is no longer supported
I am trying to run the following command az mesh deployment create --resource-group myResourceGroup --template-uri https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/master/templates/counter/counter.sfreliablevolume.linux.json

---
#### Document Details

⚠ *Do not e

[2020-05-12 16:16] #54669 closed

[2020-05-12 16:16] SV937200 opened #54679 "Unable to modify permissions to enable Reset Password."
New deployment of SSPR for our domain. Able to confirm on Azure Portal communication to AD Connect, able to proceed through SSPR page. Error upon submitting new password. Checked Event Viewer and confirmed related to permissions. ON the Advanced Security section to confirm permissions, I see a pre-existing setting for Reset Password set, but cannot edit pwdlastset nor lockouttime.

I check the box

[2020-05-12 16:18] montereyharris opened #54680 "Internet Access Requirement Clarification"
The below item seems to indicate that the plugin requires inbound Jira Server internet access.  Is that correct?
JIRA server is reachable on internet particularly to Azure AD Login page for authentication and should able to receive the token from Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38

[2020-05-12 16:19] VikasPullagura-MSFT commented on #54677
@achaikaJH
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-12 16:20] dsindona commented on #54674
confirmed with SME, updated April items to "available now" - thanks
#please-close

[2020-05-12 16:20] #54674 closed

[2020-05-12 16:22] ianphil opened #54681 "Sample repo to demonstrate counter example"
I could not find an example repo that demonstrates the code in this document. I created one that could be used. I focused on the class based syntax.

https://github.com/ianphil/csharp-df-counter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-5

[2020-05-12 16:23] roygara commented on #54432
@pascal-hauser thanks for reaching out, I've gone ahead and contacted the product team for clarification. I'll let you know their response when I hear back.

@SumanthMarigowda-MSFT Would you swap this from doc-bug to product-question? Thanks!

[2020-05-12 16:24] luisquintanilla commented on #53616
Thanks

@greazer @SiddhanthUnnithan any thoughts?

[2020-05-12 16:25] hbromberger commented on #47638
@jakaruna-MSFT: Have you already tried that in your environment? I just came across the same error when trying to create a new ingress controller based on an existing public IP address in a resource group other than the ones with the AKS nodes.

[2020-05-12 16:26] YutongTie-MSFT commented on #53008
Yes, it works on Ubuntu ^^

Please refer to more details:
Docs: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=windows%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio
Samples: https://github.com/Azure-Samples/cognitive-services-speech-sdk

[2020-05-12 16:33] JimFett commented on #50856
These links are still not fixed.  Any ETA?

[2020-05-12 16:36] DixitArora-MSFT commented on #54681
Hi @ianphil Thanks for your feedback. We will review and update as appropriate.

[2020-05-12 16:37] DixitArora-MSFT commented on #54667
Hi @w0ut0 Thanks for reaching out. We will review and update as appropriate.

[2020-05-12 16:39] DixitArora-MSFT commented on #54631
Hi @NoahLangenwalter Thanks for your feedback. We will review and update as appropriate.

[2020-05-12 16:42] TravisCragg-MSFT commented on #54679
@SV937200 can you post a link to the doc you are following?

[2020-05-12 16:45] normesta commented on #54151
I'm using the same version. @blueww is it a bug or known issue that an attempt to update the ACL of a file system prompts for a path?  I'm using the same build as Cristina but I cannot repro the issue.

[2020-05-12 16:50] khalfan123 commented on #52418
I am getting following error, can someone guide me how to resolve this issue.
 error: error validating "certificates.yaml": error validating data: ValidationError(Certificate.spec): unknown field "acme" in io.cert-manager.v1alpha2.Certificate.spec; if you choose to ignore these errors, turn validation off with --validate=false

[2020-05-12 16:52] MarileeTurscak-MSFT commented on #54680
@MarileeTurscak-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 16:52] SamaraSoucy-MSFT commented on #54354
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-12 16:52] SamaraSoucy-MSFT commented on #54364
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-12 16:52] SamaraSoucy-MSFT commented on #54414
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2020-05-12 16:54] SV937200 commented on #54679
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr-writeback#configure-account-permissions-for-azure-ad-connect

[2020-05-12 16:55] santhoshbomma9 opened #54682 "Updating lead management on existing offer"
Can you add some FAQ on updating an Lead management type on an existing live offer.
Can you change lead management on existing live offer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c74b69b-db25-6a0f-d917-ea7282fce9ba
* Version Independent ID: 42517b2c-6807-f79f-377c-817b6998167a
* Content: [Lead management for co

[2020-05-12 16:56] brandonh-msft opened #54683 "Is peek-lock/complete pattern possible?"
This documentation should outline the behavior of message completion. In cases where the Function may fail while processing the message, what is the guidance? Is there a way to "peek-lock" the message and complete via the Function Code, or are message auto-completed when they're received using this Trigger and the Function code itself must put the message back in the queue if it fails?

---
#### D

[2020-05-12 16:57] SamaraSoucy-MSFT commented on #54457
Hi @markarnolditpro I just wanted to check in with you to make sure that we have answered your question. Are we good to close this thread?

[2020-05-12 16:58] mdaslamansari opened #54684 "WAG integration with KV on different Subscription"
Hi,

We want to integrate WAG with KV created on separate subscription to grab certificate for the listener. It seems that it only support KV on same subscription as of WAG. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f20be92-7718-0629-e06a-78250c547f9a
* Version Independent ID: 2fdd52ab-6756-4e2c-4a48

[2020-05-12 16:58] SamaraSoucy-MSFT commented on #54465
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2020-05-12 16:59] SamaraSoucy-MSFT commented on #54466
Sure! You can use the MSDN forum https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=ssdsgetstarted or the azure-sql-database tag on Stack Overflow.

[2020-05-12 16:59] #54466 closed

[2020-05-12 17:00] SamaraSoucy-MSFT commented on #54492
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. We actively look through posts in the forums, and will do our best to get you going in the right directio

[2020-05-12 17:05] stgeorgi commented on #54428
There is already a DSC that inserts the registration token and install the agents. https://github.com/Azure/RDS-Templates/tree/mbastos/joinhostpool/wvd-sh/joinhostpool

[2020-05-12 17:05] SamaraSoucy-MSFT commented on #54526
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2020-05-12 17:08] stgeorgi commented on #53749
Can you please share the full script?

[2020-05-12 17:13] DeanGross commented on #54312
Thanks for the info, it may be helpful to add a link to the content so that others can benefit from this in the future

[2020-05-12 17:13] manish-jain-1 opened #54685 "Please add a basic sample for BasicAuth and oAuth"
BasicAuth and oAuth are most used security methods; I found some samples on the internet but it will be nice to see it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b18e22-18d0-f82d-cbd0-e9ca300ee655
* Version Independent ID: 2737fc2f-cb47-c881-e2ca-1eba4efa26d2
* Content: [Create subscriptions in Azure API Ma

[2020-05-12 17:13] anirudhcavale commented on #54534
@sanketpandia can you tell me what region you are trying this in? And share the URL you are sending the data to?

[2020-05-12 17:16] Tbohunek commented on #54633
Just to precise: this question goes for the entirety of MS Docs, not just the AD part, this somehow got added itself because I came from that document..

[2020-05-12 17:18] vipulsparsh commented on #54645
@samvpillay We have engaged the content team to review the suggested change and this is under review with the content team for now.

@msmimart  I have created a pull request, but I do not have merge rights on that specific branch. It would be great if you can review the pull request and update as needed.

[2020-05-12 17:18] Alex-Derbyshire commented on #51631
How am I meant to present a capacity planning report to a potential customer if the deployment planner tool is out of date? I'm producing a report to a customer but out of their 73 profiled VMs, 39 are showing as incompatible as they are running CentOS 7 x64.   Obviously I'm aware they are supported but this doesn't look very professional having to tell the customer that Microsoft's own deployment

[2020-05-12 17:20] Alex-Derbyshire opened #54686 "Outdated planning tool"
How am I meant to present a capacity planning report to a potential customer if the deployment planner tool is out of date? I'm producing a report to a customer but out of their 73 profiled VMs, 39 are showing as incompatible as they are running CentOS 7 x64. Obviously I'm aware they are supported but this doesn't look very professional having to tell the customer that Microsoft's own deployment t

[2020-05-12 17:23] kgremban commented on #54499
@nitinkhandelwal26 I'm glad you're unblocked now. Where did you see in the documentation that it says you should get status 200 after installing IoT Edge but before deploying modules? I want to make sure that point is clear for future readers.

And yes, when I was testing this yesterday I also noticed that the IoT Edge on Ubuntu VM is installing an old version of IoT Edge and have followed up with

[2020-05-12 17:29] nwipfli commented on #51631
I would suggest you to add your above comment to the issue #51630 which I opened a few weeks back for the same reason.

This tool is not something we can use today to present reports to customers. I hope Microsoft will update it asap, unfortunately, the issue #51630 hasn’t really progressed.

[2020-05-12 17:31] curtand commented on #53337
Hi @garima2510
I made all of the discussed doc updates this morning: https://github.com/MicrosoftDocs/azure-docs-pr/pull/114894
They'll be live in a few minutes.

#please-close

[2020-05-12 17:31] #53337 closed

[2020-05-12 17:34] NavtejSaini-MSFT commented on #54662
@atrauzzi We are checking this and will get back to you.

[2020-05-12 17:44] zulf-fire opened #54687 "MMA Agent status warning after install: Error attached"
Hi Team,
I was able to install the MMA agent on my VMSS instance using the below code:
"extensionProfile": {
            "extensions": [
              {
                "name": "[concat(variables('vmNodeType0Name'),'OMS')]",
                "properties": {
                  "publisher": "Microsoft.EnterpriseCloud.Mon
<img width="926" alt="EventLog" src="https://user-images.githubusercontent.com/62

[2020-05-12 17:50] andypituch commented on #54026
Android client is working now. I have not checked the Reply URLs to see what changed, but I can confirm that it is working on with the new Feed URL for the Spring 2020 update.

[2020-05-12 17:51] kgremban commented on #54095
@asinitson The [Azure IoT Tools](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-tools) extension for VS Code or the [Azure IoT Edge tools for Visual Studio](https://marketplace.visualstudio.com/items?itemName=vsc-iot.vs16iotedgetools) extension help a lot with formatting create options. You can work in a deployment.template.json file and write in pretty json with lineb

[2020-05-12 17:52] VitalyMCT opened #54688 "Old branding"
Page is still using pre-Synapse terminology.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3134d5b-be27-1348-39e9-feec1e50c158
* Version Independent ID: def4bb93-3b8d-37ce-7acb-328fad2058a7
* Content: [Load data into Azure SQL Data Warehouse - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/lo

[2020-05-12 17:55] ronikurnia1 opened #54689 "Sample of Set-ApplicationInsightsMonitoringConfig"
Please double check the sample of Set-ApplicationInsightsMonitoringConfig since it just same as Enable-ApplicationInsightsMonitoring

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 055bda34-28d6-c32b-78ff-82e91353735f
* Version Independent ID: e348c31a-06fb-512f-4e99-815b44d83eb6
* Content: [Azure Application Insights .

[2020-05-12 17:59] sirdank opened #54690 "Create application"
The create application link goes to a v1.0 API that does not have the desired effect when I call it. In particular, it creates the application successfully but gives this error when I try to sign in using the created application as the client:

AADB2C90018: The client id 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX' specified in the request is not registered in tenant 'XXXXXXX.onmicrosoft.com'.

An appli

[2020-05-12 18:01] rohinkoul commented on #13106
@XanthViper have you tried configuring host header on your endpoints? TLS handshake will fail for endpoint probes if you use IP address directly and do not specify the host header while creating endpoint. Please see https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#how-can-i-assign-http-headers-to-the-traffic-manager-health-checks-to-my-endpoints

[2020-05-12 18:03] BryanTrach-MSFT commented on #54663
@arsnyder16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-12 18:05] BryanTrach-MSFT commented on #54651
@cveld Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-12 18:10] Marusyk commented on #54373
Hello, I've used Group Enrollment with self-signed certificate. But I can't reproduce it again for now. So, I think you can close this issue. I will let you know if I get this error again. Thanks

[2020-05-12 18:13] gardnerjr opened #54691 "workbook interactivity page needs updates from github version"
This page is a edited version of the github docs at https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Interactivity.md

it is out of date and could use some updates, particularly around https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Interactivity.md#interactivity-with-multiple-selections-in-grids-and-charts

---
#### Docume

[2020-05-12 18:15] kkern13 commented on #54557
The article has been updated to include the "App Connect" SKU information.

[2020-05-12 18:17] #54344 closed

[2020-05-12 18:18] rcabr opened #54692 "Missing link to connection policies"
The text "You can learn more about connection policies here." implies that there is a hyperlink to follow, but there is none.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b4ec3e-3d82-258b-2038-2990c9f24479
* Version Independent ID: 6c0a6b2e-3b3a-bbd4-8262-fe2c82bd9402
* Content: [Configure IP firewall rules in Azur

[2020-05-12 18:18] msmbaldwin commented on #38116
SSE does not apply to temporary disks.  To clarify this, we have updated both the [Encryption](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/managed-disks-overview#server-side-encryption) and the [Temporary disk](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#temporary-disk) sections of the [Managed Disk overview](https://docs.microsoft.com/e

[2020-05-12 18:18] #38116 closed

[2020-05-12 18:23] AmitavaHazra commented on #54518
I still need clarity on this.
If we want to provision a user from additional connector (Assume Extensible 2.0 Connector in AAD connect) to Azure AD but that user is not at all present in on prem AD. - Is it supported ?

[2020-05-12 18:28] AmitavaHazra opened #54693 "Extensible connector in AAD connect"
Let's assume we have user getting provisioned from On prem AD to Azure AD using Azure AD connect.
We have a application (ABC) that is exposing web service. this application is not connected to on prem AD. We want to provision application user which we are having from web service end point to Azure AD using extensible connector in ADD connect. Is it possible to keep ABC =&gt; Azure AD provisioning

[2020-05-12 18:29] atrauzzi opened #54694 "Expand on some of the examples in the diagram"
I'm interested in Azure Synapse Analytics, but I don't feel like I'm given any inroads into understanding how and what it can do from this page as a starting point.  Some ideas....

 - Link to some videos with practical examples (if available)
 - Discuss what kind of data one should be capturing (events? everything?)
 - I'd love to see an example with CRM and analytics data

The more practical the

[2020-05-12 18:30] nibaccam commented on #54108
@Aniththa who can work with @luisquintanilla to update this doc for the UI component?

[2020-05-12 18:31] skamalj commented on #31551
Same issue .. this sample does not work..

[2020-05-12 18:36] erhopf commented on #53000
@huaigulin - Thanks for opening this issue. I've checked with the engineering team and there is a known support gap for browser-based JS apps using the SDK in v1.11. This issue will be resolved in v1.12.

@ram-msft - The product team is tracking this work. Please advise if you'd like to keep this issue open until the release of v1.12.

[2020-05-12 18:37] TravisCragg-MSFT commented on #54628
@dimaqq Thanks for the feedback! If you would like us to increase the response header length for a SKU, please leave your feedback at [azure networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?category_id=345019).

To update the doc, I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-12 18:41] Aniththa commented on #54108
@nibaccam I'll work on this item with @luisquintanilla .  As Cesar mentioned, we might need highlight this part of the doc more https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-automl#visualize-to-discover-patterns-in-data-and-explanations-at-training-time

[2020-05-12 18:45] jarthu3 commented on #54257
I'm confused on the following statement - “The flow limit is a combination of inbound & outbound flows, so you would need to use the SUM to add both of them together.”  The portal metrics are already separating the inbound and outbound flows, so calling “sum” on the inbound flows would not include the outbound flows because “outbound flows”  a different metric.

[2020-05-12 18:48] tobystic commented on #25676
Work through tutorial needs to be reviewed -
Values mentioned [here ](https://docs.microsoft.com/en-us/azure/virtual-network/manage-ddos-protection#configure-alerts-for-ddos-protection-metrics)are not available or have been replaced with new wordings/path

[2020-05-12 18:56] TravisCragg-MSFT commented on #54654
@MavBoss86 This is an interesting case. I would think that this would still be charged, but I am not sure. For a definitive answer, you will need to create a support request and speak to our billing team. If you do not have a support plan, please let me know!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2020-05-12 18:56] #54654 closed

[2020-05-12 18:59] jarthu3 commented on #54257
"In addition to bandwidth, the number of network connections present on a VM at any given time can affect its network performance..."  So, I shouldn't I be most interested in the MAX number of flows during a given time period when trying to determine if a VM is breaking the flow limit?  As long as my MAX is under 500k, I should not have performance issues directly related to breaking the flow limi

[2020-05-12 18:59] arsnyder16 opened #54695 "Failure when using Run from Package"
My application fails to initialize when using Run from Package. Its not clear to me what the contents of the zip file need to .

If i use the exact same zip file but use zipDeploy it works fine. The contents of my zip are

~/bin (application binaries)
~/public (static files)
~/Global.asax
~/Web.config
~/Web.Release.config

Is there something specifically in the zip that i am missing for run from p

[2020-05-12 19:05] RonyMSFT commented on #54692
+@Julie Rasnick<mailto:Julie.Rasnick@microsoft.com>,

Is this something that we need to fix before public preview? I have the links and can submit a PR in the afternoon if this is a must fix.

Thanks,
Rony

From: rcabr <notifications@github.com>
Sent: Tuesday, May 12, 2020 11:18 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rony Thomas <ronytho@microsoft.com>; Mention <mentio

[2020-05-12 19:07] michaelmcmillan commented on #54106
@mhyllander: Do you have a working OpenVPN setup for P2S using Azure AD?

[2020-05-12 19:09] ShawnHouCHN opened #54696 "Tumbling window triggers in Azure Data Factory fail to be re-activated after intentional stop"
We have tumbling window triggers which are stopped by CI/CD prepost script. However, a number of(not all) tumbling window triggers failed to be reactivated, neither by Powershell Start-AzDataFactoryV2Trigger nor from the UI.  Error output is same either way.
_Error message: Trigger activation error
Details: Concurrent operations on a trigger are not allowed._

---
#### Document Details

⚠ *Do not

[2020-05-12 19:10] MartinJaffer-MSFT commented on #54184
@MattEvansA45 Thank you for sharing these details.
I will reach out internally for more information.

[2020-05-12 19:15] kfprugger opened #54697 "AZ CLI Blueprints docs missing and failing"
# Issue
when deploying using the AZ CLI, I can't deploy with some vague error regarding properties.

When deploying via the portal using the imported blueprint, I had no issues.

![image](https://user-images.githubusercontent.com/20729981/81735837-a76f8c00-9463-11ea-9c5d-2f456002370d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-12 19:17] BharathNimmala-MSFT commented on #54691
@gardnerjr Thank you for your feedback , assigning this to @mrbullwinkle to further evaluate the feedback and do the necessary doc enhancements.

[2020-05-12 19:19] BharathNimmala-MSFT commented on #54682
@santhoshbomma9 Thank you for sharing your feedback, i have assigned this issue to our document author @dsindona to further evaluate and update the documentation accordingly.

[2020-05-12 19:20] jlichwa commented on #37391
Document updated. #please-close

[2020-05-12 19:20] #37391 closed

[2020-05-12 19:22] jlichwa commented on #37386
Document updated with new command for classic storage account. #please-close

[2020-05-12 19:22] #37386 closed

[2020-05-12 19:22] jlichwa commented on #36161
Document updated. #please-close

[2020-05-12 19:22] #36161 closed

[2020-05-12 19:23] Infinitism opened #54698 "Connecting Review Tool with Content Moderation API"
This doc doesn't explain how to connect the Review Tool with the Moderation API. Like when I call the moderation API and the content is returned as "review recommended", how do I leverage the review tool to process that.

How do I make it such that any "flagged" calls in the API shows up automatically on the review tool?

Or just in general how do I use the API and the review tool in general toget

[2020-05-12 19:24] jlichwa commented on #46235
Link removed. Currently we don't have any documents related to back up. #please-close

[2020-05-12 19:24] #46235 closed

[2020-05-12 19:29] MonikaReddy-MSFT commented on #54689
@ronikurnia1 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-12 19:30] SaurabhSharma-MSFT commented on #54584
@AmitavaHazra yes, you can enable password write back on ADFS identity models. Ideally, Password write back is supported on Password Hash Synchronization(PHS), Pass-through Authentication(PTA) and ADFS identity models.

[2020-05-12 19:32] martincoetzer commented on #54518
You can also consider the Azure AD Connector for MIM: https://docs.microsoft.com/en-us/previous-versions/mim/dn511001(v=ws.10)?redirectedfrom=MSDN. I would not recommend changing Azure AD Connect and adding other connectors.

[2020-05-12 19:34] AmitavaHazra opened #54699 "Issue with sample reference code from github"
Issue with sample reference code. I am not able to start Microsoft.SCIM.WebHostSample application while setting it as start up project.

IIS Express: https://localhost:44359/       [port number may vary]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bf

[2020-05-12 19:34] mapalan commented on #48310
@MithunChopda Sorry for the delay. The `Mode` property should be set to `"Custom"`, not `"InProc"`.

[2020-05-12 19:35] theheatDK opened #54700 "How to monitor File Share capacity?"
Hi,
When you use Azure File Shares it would be pretty nice to be able to get an alert before a share is completely full. As far as I can figure out this is not really possible at the moment. The nearest solution I can see is to only have one Share per Storage account and then create an Azure Monitor alert using "Whenever the average file capacity is greater than XYZ bytes". I have not been able to

[2020-05-12 19:37] MarileeTurscak-MSFT commented on #54690
@sirdank
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 19:39] Grace-MacJones-MSFT commented on #54128
Hi @Boaz101, the doc will be updated after MS Build.

[2020-05-12 19:39] AmitavaHazra commented on #54518
Hello Martin,
I am completely aware of MIM offerings but here I am pointing to Azure AD connect.
 I would not recommend changing Azure AD Connect and adding other connectors.
- Please tell me what is the use of other connector option in Azure AD connect console like Generic SQL, LDAP, PowerShell, Extensible connectivity 2.0) ?

[2020-05-12 19:40] RonyMSFT commented on #54692
Hi Rony, please go ahead and submit the change t the release-synapse-current branch. I will get it merged to master on the day of build.

Thank you,

Julie

From: Rony Thomas <ronytho@microsoft.com>
Sent: Tuesday, May 12, 2020 12:05 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Julie Rasnick <Julie.Rasnick@microsoft.com>
Cc: Men

[2020-05-12 19:42] tamram commented on #14638
Account failover is now generally available. Please see the following articles:

- [Disaster recovery and storage account failover](https://docs.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance?toc=/azure/storage/blobs/toc.json)
- [Initiate a storage account failover](https://docs.microsoft.com/azure/storage/common/storage-initiate-account-failover?toc=%2Fazure%2Fstorage%2Fblo

[2020-05-12 19:42] #14638 closed

[2020-05-12 19:43] ckssaas opened #54701 "What is "autojoin via Azure AD Connect"?"
Hello,

"Autojoin via Azure AD Connect" is listed under provisioning options. I cannot find any documentation on the web for any such terminology, nor have I ever heard of any automatic provisioning options facilitated by Azure AD Connect. Please update terms, elaborate, or add links/references for "autojoin" etc.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-12 19:43] AmitavaHazra commented on #54584
@Saurabh, Thanks for this. Please close this case.

[2020-05-12 19:49] danmyhre commented on #54287
Mobile Phone is not sync'd to the SharePoint Online User Profile Service.  In the UPS, that property is not mapped.  There are additional fields as well (e.g. postOfficeBox) that don't go to the UPS.  It might be worth noting if this article is saying the data from AAD is being used by SPO internally vs actually being sync'd into the SharePoint UPS.

[2020-05-12 19:54] AjayKumar-MSFT commented on #54297
@jishansiddique, I have noticed that you have also created a [SO thread ](https://stackoverflow.com/questions/59031926/azure-search-autocomplete-api-not-working-for-fuzzy-search/)on this issue with no help.  I completely understand the frustration with this issue.  Apologies for all the inconvenience and delayed response.
We wish to engage with you offline for a closer look and provide a specializ

[2020-05-12 19:54] #54297 closed

[2020-05-12 19:57] msmbaldwin commented on #31545
The article (which has since been moved to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-windows) lists "Encrypting VMs configured with Storage Spaces Direct (S2D), or Windows Server versions before 2016 configured with Windows Storage Spaces" as an *un*supported scenario.  The supported VMs and images are listed here: https://docs.microsoft.com/en-us/azure/virtua

[2020-05-12 19:57] #31545 closed

[2020-05-12 19:58] SaurabhSharma-MSFT commented on #54585
@tx5westmt Do you have any conditional access policy enabled for all guest users for MFA registration ?

[2020-05-12 19:58] surajmb commented on #52646
@hisasima, this makes sense. We can remove the referred paragraph. Can you submit a PR for the same?

[2020-05-12 19:59] msmbaldwin commented on #40386
Great suggestion, @samhodgkinson. We have updated the article to include SKUs; see https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview#supported-operating-systems. #please-close

[2020-05-12 19:59] #40386 closed

[2020-05-12 20:00] msmbaldwin commented on #42120
Hi, amkondi.  We have updated the "Supported Operating Systems" table to explicitly state which URNs are supported.  This should make it clear which versions of CentOs are covered.  Thank you for your suggestion! #please-close

[2020-05-12 20:00] #42120 closed

[2020-05-12 20:03] SubhashVasarapu-MSFT commented on #52647
@haymansfield , I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2020-05-12 20:03] GiftA-MSFT commented on #54582
@jpe316 can you please help clarify or reassign accordingly. Thanks.

[2020-05-12 20:04] cahann commented on #52422
#please-close

[2020-05-12 20:04] #52422 closed

[2020-05-12 20:05] cahann commented on #53598
#please-close

[2020-05-12 20:05] #53598 closed

[2020-05-12 20:05] AjayKumar-MSFT commented on #54296
@desreela, We have created PR with the requested changes and to be merged soon after author's review. Again, this a good feedback, thanks for taking time to share your feedback.
We will close this out, but if you feel you need more information please just let us know.

[2020-05-12 20:05] #54296 closed

[2020-05-12 20:13] scottgorlick opened #54703 "extra '.' after Create Highly available VMs button"
at the end of this article, there is a &lt;p&gt; element with the Create Highly Available VMs button.  there is an extra '.' character after the closing &lt;a&gt; tag
&lt;p&gt;
  &lt;a href="tutorial-availability-sets" data-linktype="relative-path" class="button is-primary has-text-wrap"&gt;Create highly available VMs&lt;/a&gt;
.         &lt;-- here
&lt;/p&gt;

---
#### Document Details

⚠ *Do not

[2020-05-12 20:14] GiftA-MSFT commented on #54402
@dashesy thanks for your feedback. We are yet to confirm whether from a design perspective this is the expected behavior, however, we can agree that this shouldn't be the expected behavior from a user perspective. A work item has been opened to investigate the issue further. I will proceed to close this thread for now, will share more details once I have more information. Thanks.

[2020-05-12 20:14] #54402 closed

[2020-05-12 20:15] Karishma-Tiwari-MSFT commented on #54288
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-12 20:16] TravisCragg-MSFT commented on #54684
@mdaslamansari That is not currently a documented limit, can you post the error message that you are getting?

[2020-05-12 20:18] #54288 closed

[2020-05-12 20:18] davidsmatlak commented on #54411
#assign:msangapu-msft

[2020-05-12 20:19] davidsmatlak commented on #54411
#unassign:davidsmatlak

[2020-05-12 20:23] msangapu-msft commented on #54411
Hi @tomkuijsten can you provide some details on your particular scenario - what are you trying to do here? Generally speaking, websockets and outbound calls/IPs are independent of each other.

[2020-05-12 20:24] cynthn commented on #54703
@scottgorlick Thanks for catching that! I've filed a pull request to remove that stray period :)

#please-close
#assign @cynthn

[2020-05-12 20:24] #54703 closed

[2020-05-12 20:25] Karishma-Tiwari-MSFT commented on #54623
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-12 20:26] markjbrown commented on #54604
You need to first install the module into your cloudshell.

Run this and it will work.

`Install-Module -Name Az.CosmosDB`

Please note that we will be making breaking changes to this module so you will need to uninstall and reinstall in about a week.

Thanks.

#please-close

[2020-05-12 20:26] #54604 closed

[2020-05-12 20:31] cynthn commented on #54623
#reassign @axayjo Can you take a look at this feedback?

[2020-05-12 20:32] MarileeTurscak-MSFT commented on #54699
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-12 20:34] tomkuijsten commented on #54411
I want to use an app service to host websockets for +/- 20k unique clients (unique ip addresses) on a S1. Load tests prove that from 1 IP 20k websockets is possible, but I'm not sure if it works from 20k unique ipaddresses.

[2020-05-12 20:39] jlichwa commented on #37786
Neither option is built by our team. We can't recommend it nor support it. There are valid options though, but they have limitations around rotations of secrets (requires app restart for secret to refresh). #please-close

[2020-05-12 20:39] #37786 closed

[2020-05-12 20:39] LANETLTD opened #54706 "IPEC Policies only apply to VPNGW1,2,3 ?"
I think this should also work with VPNGWAz Skus too (blue box on page)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79da24f7-4add-2b65-e150-094f260367ee
* Version Independent ID: d2742c2b-2e83-4fb4-a877-a6fdb099a34a
* Content: [IPsec/IKE policy for S2S VPN & VNet-to-VNet connections - Azure VPN Gateway](https://docs.

[2020-05-12 20:39] GiftA-MSFT commented on #54612
@emelus thanks for pointing this out. Although, headers are specified in the API documentation as shown below, it would be helpful to provide an example in this document and also to maintain consistency across other documents like the ones you presented. Will update this document accordingly (eta May 20th). Thanks.

![image](https://user-images.githubusercontent.com/51332022/81743044-04bd0a80-946f

[2020-05-12 20:43] joaotomazio opened #54707 "App Service VNET Integration Subnet"
When connecting SQL Managed Instances from an App Service (Web App) via VNet Integration, it is not clear that the integration is not with the subnet containing the SQL Managed Instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735c7fb4-13e2-36b1-6310-85e525b01f90
* Version Independent ID: 99b5b1f2-e588-e879-796f

[2020-05-12 20:44] atrauzzi commented on #54662
Much appreciated, thanks!

[2020-05-12 20:49] btardif commented on #53360
Product team is aware of this issues. we have a tracking issue in our backlog and are investigating options.

[2020-05-12 20:49] btardif commented on #53436
Product team is aware of this issues. we have a tracking issue in our backlog and are investigating options.

[2020-05-12 20:49] SamaraSoucy-MSFT commented on #54354
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-12 20:49] #54354 closed

[2020-05-12 20:49] tx5westmt commented on #54585
@SaurabhSharma-MSFT Yes the tenant has a global MFA registration policy for 'all users' via azure conditional access but we have not enabled any MFA login policies since we are still testing. I may have missed it but did not see documentation on whether MFA is supported for OTP (or other non microsoft accounts for that matter) since access to the profile/edit security info page seems to require a

[2020-05-12 20:50] #54364 closed

[2020-05-12 20:59] craxal commented on #11419
@SeaDude Understood. I just wanted to make sure the documented command also works.

[2020-05-12 21:02] dlepow commented on #54588
@porrascarlos802018 - Thanks for the feedback. I created a work item to clarify this requirement in the article.

[2020-05-12 21:03] techlogik commented on #28597
Same issue here.  Enabled PW Reset in AD Sync, Cloud Log shows it is enabled, ADSync Config local server shows it is enabled.  But, still greyed out in the Cloud.  Also, try a password reset, it prompts the user when logging in due to policy to ensure they have 2 types of Auth configured and verifies it, but when you try the reset link, it says your organization doesn't allow the pw change here.

[2020-05-12 21:16] devlife commented on #51888
Great thank you @aka5h2017!

[2020-05-12 21:16] #51888 closed

[2020-05-12 21:16] srasp commented on #53395
Do you any news or updates to my question?

[2020-05-12 21:25] GiftA-MSFT commented on #54319
Hello @darayavah, it won't train the model each time the logic app is triggered, rather it would use the model you've already trained trained to analyze the data and provide results. Furthermore, it seems there's no way to access the model directly other than manually storing the model id for use in other operations or applications. Hope this helps. Thanks.

[2020-05-12 21:27] yaswanthv007 commented on #54640
Please see below attachments. I have a qnamaker service and resource group
at portal.azure and i am using the same qnaservice and trying to create a
knowledge base. It’s showing up grey and i m unable to select the
qnaservice i created. It’s been so buggy all these days.
I am unable to neither create a KB nor update it. Its been intermittent all
the time and I can’t depend doing this way

On Tue,

[2020-05-12 21:33] marrobi commented on #53073
@sauryadas I've just hit this today. Need to add role assignment to the subnet. Struggling to retrieve the principal Id via ARM template.

[2020-05-12 21:41] nastassiar opened #54708 "Changing tiers from Consumption."
Is it possible to change from the Consumption tier to any of the others? The documentation isn't clear

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7232dd1a-d250-1304-14ec-db25f04cff48
* Version Independent ID: 29250085-defe-18ac-1ca9-2155b778127b
* Content: [Upgrade and scale an Azure API Management instance](https:

[2020-05-12 21:46] sdgilley commented on #54408
@damochiz, thanks for pointing this out.  The document is no longer correct.  The following are **NOT** on the compute instance:
* Visual Studio Code
* Azure Machine Learning EDAT engine
* jupyterlab-git

Intel MPI **IS** on the machine.  You can find the version number in a terminal window with the command:
```mpirun -V```

Currently, we are in a doc freeze for our upcoming MS Build event. As soo

[2020-05-12 21:46] #54408 closed

[2020-05-12 21:47] kagowda commented on #54615
SLA terms and condition has a link to pricing page. Pricing page will be up and running by May 13th.

[2020-05-12 21:49] martincoetzer commented on #54518
It is not supported to add connectors in the Azure AD Connect tool. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-service-manager-ui-connectors

[2020-05-12 21:49] martincoetzer commented on #54518
I should say manually add connectors

[2020-05-12 22:00] msangapu-msft commented on #54411
Okay, the connection limit is for outbound connections from the app, not client IPs. I believe your scenario with 20k users using web sockets should work. Let me confirm this and get back to you.

[2020-05-12 22:01] jlichwa commented on #51006
It is Key Vault documentation, but this library just helps you retrieve AAD token. Which then you can pass as explained in Kusto like here https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/access-control/how-to-authenticate-with-aad#application-authentication

I know that this class is now replaced with DefaultAzureCredential, but it will operate similar way, it will abstract a

[2020-05-12 22:02] jlichwa commented on #51006
#please-close

[2020-05-12 22:02] #51006 closed

[2020-05-12 22:05] jlichwa commented on #47959
This library does not support containers. It is replaced by new class https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet , but it does not seem to work with docker either. #please-close

[2020-05-12 22:05] #47959 closed

[2020-05-12 22:08] msmbaldwin commented on #52579
Hi, @mananshah19. Did you file this issue against the wrong article?  It sounds like you are asking about Azure SQL Virtual machines, but this article (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-overview) is about Azure Disk Encryption.

[2020-05-12 22:17] JackHorlock commented on #53955
@deepakpalled - I've had the same issue on two tenants and from two TSI environments. I've tried in with everything based in Singapore and also South East Australia, I am in New Zealand.

I can't paste the screen shot of the error in this comment. I'll try getting it to you on GitHub

[2020-05-12 22:19] RonyMSFT commented on #54692
Submitted a PR.

Thanks,
Rony

From: Julie Rasnick <Julie.Rasnick@microsoft.com>
Sent: Tuesday, May 12, 2020 12:41 PM
To: Rony Thomas <ronytho@microsoft.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Missing link to connection policies (#54692)

Hi Ron

[2020-05-12 22:21] JackHorlock commented on #53955
Here's the screen shot
![ScreenShot](https://user-images.githubusercontent.com/44758851/81751380-6af36d00-9503-11ea-96c6-056f3470d3e0.png)

[2020-05-12 22:22] santhoshbomma9 opened #54709 "is the metered billing already live?"
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-azure-apps-offer#technical-configuration-offer-level

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f4b1ccc-267c-6ae7-a72e-a1e6a7ff7b20
* Version Independent ID: 314debdd-2c23-49d7-d7d0-3b86735db50a
* Content: [Create an Azure applicat

[2020-05-12 22:29] jortiz56 commented on #17132
Is there any update in the Windows implementation of the manage identity in a windows image on docker ?

[2020-05-12 22:30] djpmsft commented on #38364
Hi all,

Hopefully the above response works. As I haven't heard anything in the last couple weeks, I am going to go ahead and close this issue. Feel free to comment/reopen.

Thanks,
Daniel

#please-close

[2020-05-12 22:30] #38364 closed

[2020-05-12 22:35] qianw211 commented on #54709
@santhoshbomma9 yes, metered billing is live.

[2020-05-12 22:40] TekExpo commented on #54345
Having the same issue.
Is there a workaround to move to next step

[2020-05-12 22:42] mike-urnun-msft commented on #54641
@hf-kklein Thank you for your feedback! We will review and update as appropriate.

[2020-05-12 22:45] mike-urnun-msft commented on #54683
@craigshoemaker Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-12 22:47] MartinJaffer-MSFT commented on #54668
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-12 22:48] FireBelow opened #54710 "JSON like object"
The example says a JSON object is created but the json() method produces a python friendly json object that is not true to the json format (it uses single quotes instead of double quotes)

Example of issue and code solutions:
https://stackoverflow.com/questions/33418874/python-requests-json-returns-single-quote

Original page:
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-sea

[2020-05-12 22:56] EricTheRed999 commented on #53088
We've updated the IPv6 Limitations section to note that upgrading an IPv4 VNET to dual stack is not supported if the VNET includes Resource Navigation Links.   Many thanks for your help.

[2020-05-12 23:00] SaurabhSharma-MSFT commented on #54644
@lightupdifire No, it is not possible. I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-05-12 23:06] MartinJaffer-MSFT commented on #54688
Thank you for your detailed feedback, @VitalyMCT .  We are looking into the issue, and we will respond when we have more information.

[2020-05-12 23:10] EricTheRed999 commented on #49316
We've updated the IPv6 Limitations section to note that IPv6 Reverse DNS is not currently supported.   It is under development and we hope to make it available soon.
A couple notes on other comments-  With the GA of IPv6 for Azure VNETs:
 - Public IPv6 can be static (reserved) or dynamic
 - Public IPv6 endpoints can be added to both load balancers and VMs (add to the IPv6 IPconfig on the NIC)
 - A

[2020-05-12 23:13] VitalyMCT commented on #54688
Sorry, certainly not the most "detailed" feedback from my end.

I think the documentation folks will see what to do here right away though. There are references to Azure SQL Data Warehouse in many places on this page. Possible other related pre-Synapse items as well.

[2020-05-12 23:13] MarileeTurscak-MSFT commented on #54409
Hi @seephez,

If you lost your phone you will need to reach out to your administrator to reset your information.
 The Authenticator app is designed so that you have to prove your identity, so it will require the admin reset if Authenticator MFA is enforced.

If you are the only global admin on the tenant then you can reach Azure data protection team to get this resolved.

Azure Data Protection num

[2020-05-12 23:13] #54409 closed

[2020-05-12 23:25] Karishma-Tiwari-MSFT commented on #54647
Thanks for sharing the update.

[2020-05-12 23:27] Karishma-Tiwari-MSFT commented on #54657
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-12 23:28] MarileeTurscak-MSFT commented on #54670
That was the only way that I could do it while reproducing the issue. If you post a request in User Voice the product team can take this feedback into consideration. https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c

If you share the link I will upvote it and try to boost it.

I'm closing this out but if you have further questions feel free to reach out to me via

[2020-05-12 23:28] #54670 closed

[2020-05-12 23:28] seephez commented on #54409
Hi there,

Thanks very much. I am the only global admin so I need to speak with the
Data Protection team. I've been trying to reach them for three weeks. I am
not based in the US. Does 866-807-5850 work for caller located overseas, or
is there an international number for the Data Protection team?

Thanks again,

Chris

On Wed, 13 May 2020 at 09:14, Marilee Turscak - MSFT <
notifications@github.com

[2020-05-12 23:28] Karishma-Tiwari-MSFT commented on #54673
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-12 23:33] cevanno commented on #52193
Yes it does.  Thank you.  This is exactly as I had hoped.  I hope we can get our client to go for this solution as I am encouraged to go forward.  I did this test in Unity so do the Azure assets compile for ios and android?

________________________________
From: Florian Born <notifications@github.com>
Sent: Thursday, May 7, 2020 3:10 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>

[2020-05-12 23:34] milligan21 opened #54711 "Locate Shared Anchors."
So.. I create everything and it works fine on the sample project etc etc.... but when it comes to Locating a shared anchor I create and share anchor to my Azure page then when i close and reopen i... click locate shared anchor it says... anchor number not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0af698-4a

[2020-05-12 23:42] Sandip-Raiyani commented on #53955
Hey @JackHorlock ,

1) I checked our logs and  I can see that the queries made from this environment(Id starting with 206f0f03-) since past few days are Cold Store queries. The last Warm Store query was made on 6th May 2020. Can you please double check whether the Warm Store queries is still on? PBI connector currently works on Warm Store queries only.

2) If the Warm Store queries is on and if yo

[2020-05-12 23:51] yegu-ms commented on #54206
@abhirockzz we'll consider adding this information to the overview.

#please-close

[2020-05-12 23:51] #54206 closed

[2020-05-13 00:02] RyanHill-MSFT commented on #54561
Hey @reginbald, currently app services doesn't support this type of workflow. If you want to restrict access to emailservice for only authenticated users; such as the todoservice, the way to do it currently is to use AAD app registrations through EasyAuth as outlined [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad).

I know it may not be the response you

[2020-05-13 00:03] DCtheGeek commented on #50986
@wadstromdev As we believe we've answered your question, we are going to go ahead and close this issue. If you continue to have the same error, please let us know and we can re-open. For other issues with the docs, please post a new issue.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-05-13 00:03] #50986 closed

[2020-05-13 00:03] JackHorlock commented on #53955
Hi @Sandip-Raiyani ,

Thanks for getting back to me. I just checked the configuration of my TSI environment and warm store is only retained for the default 7 days. I have now changed this to 31 days and will spin up an IoT device simulation to get some new data into it. I can then test again.

I have used your fix previously but had already deleted the custom connectors folder. I have also now cle

[2020-05-13 00:04] erbalaji opened #54712 "How small and how large can VNets and subnets be?"
I am able to create a /7 subnet , can you please revalidate the max size for a subnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Content: [Azure Virtual Network FAQ](https://docs.microsoft.com/en-us/azure/virtual-n

[2020-05-13 00:06] tohagan commented on #42379
Same issue still.

[2020-05-13 00:07] erbalaji opened #54713 "Private IP addresses per virtual network and address spaces per virtual network"
As per article the limit for Private IP addresses per virtual network is 65536, but with additional address spaces that can be added I am able to create virtual networks with more than the specified limit

could you please clarify how many additional address spaces can be added per virtual network, and in turn max number of private ip addresses

---
#### Document Details

⚠ *Do not edit this secti

[2020-05-13 00:08] sfoxover commented on #54275
I looked at the official documentation and assumed that the sample code requires the MongoDB driver version 2.6.0 to match the CosmosDB version 3.6 MongoDB version. But that was not the fix. Your sample code will still not compile with that version from 2018.

Running your code this is what I get from a .Net core 3.1 project.

error CS1503: Argument 1: cannot convert from 'MongoDB.Driver.PipelineD

[2020-05-13 00:09] aquibqureshi26 commented on #51953
Hi Team,
Still waiting for confirmation

[2020-05-13 00:15] mike-urnun-msft commented on #54685
@manish-jain-1 Thank you for your feedback. Could you elaborate and share some references to those samples you've come across?

[2020-05-13 00:15] Sandip-Raiyani commented on #43139
Sorry for the late response.
@rjnair May version of Power BI will have the latency issue fixed.

@Steve-000 We plan to support multi-tenant as it is in our backlog but currently, I don't have the exact ETA for it. Can you also double check the following things?

@KVHEY
If you used our [Fix](https://github.com/TimeSeriesInsights/Azure-Time-Series-Insights-Connectors/tree/master/PowerBI-HotFix-20191

[2020-05-13 00:19] ram-msft commented on #54250
@frvigano We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-13 00:20] MarileeTurscak-MSFT commented on #54690
Hi @sirdank ,

Are you able to share a screenshot of the client ID registered under that tenant? Can you please send me an email (in my profile) and share that with me?

If it is already registered in the right tenant this can sometimes happen if there are different app settings that are not replicated across Azure regions.

[2020-05-13 00:21] mike-urnun-msft commented on #54708
@nastassiar Thank you for your feedback. Refer to https://github.com/MicrosoftDocs/azure-docs/issues/42937#issuecomment-554682081 It isn't possible at this time:
![69000200-c01a3300-0880-11ea-85f9-f179d333e08c](https://user-images.githubusercontent.com/36717703/81757747-bd397d00-9474-11ea-85aa-66bdf0472ce3.png)

[2020-05-13 00:24] sfoxover commented on #54275
I found the compile issue. I was using
var collection = database.GetCollection<object>(name);
but need to use
var collection = database.GetCollection<BsonDocument>(name);

Main issue is I have a unit test to make sure I get change events to the database. The test works in Atlas but so far no luck in CosmosDB.

[2020-05-13 00:29] SatishBoddu-MSFT commented on #54373
@Marusyk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-13 00:29] #54373 closed

[2020-05-13 00:29] TravisCragg-MSFT commented on #54712
@erbalaji Thanks for the feedback! It looks like you can go a bit bigger than /7 too.

![image](https://user-images.githubusercontent.com/38542241/81758260-148c1d00-9476-11ea-8bdf-aeaa0b793caf.png)

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-13 00:41] Karishma-Tiwari-MSFT commented on #54678
@masnider Can you please help confirm on this error message or point us to the right person who can help.

[2020-05-13 00:43] TravisCragg-MSFT commented on #54706
@yushwang Thanks for the feedback! [There seems to be some conflicting info around what SKUs are supported](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-compliance-crypto#is-custom-ipsecike-policy-supported-on-all-azure-vpn-gateway-skus). I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-13 00:45] MarileeTurscak-MSFT commented on #54693
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-13 00:45] TravisCragg-MSFT commented on #54686
@Alex-Derbyshire can you post a link to the doc you are referring to?

[2020-05-13 00:45] klawrawkz commented on #45175
imho, there needs to be an easier way to do this. especially when we are working in with a **dev subscription.** in a lab environment, i need to create and destroy azure/365 tenants/directories/apps _quickly._ it seems like a waste of time to go through all this _"decommissioning" of minutia_ in an environment that is created for experimentation only. clearly it would be a drag if i deleted a prod

[2020-05-13 00:47] TravisCragg-MSFT commented on #54696
@ShawnHouCHN can you post a link to the doc you are referring to?

[2020-05-13 00:47] BharathNimmala-MSFT commented on #54687
@zulf-fire  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-13 00:48] TravisCragg-MSFT commented on #54697
@kfprugger can you post a link to the doc you are referring to?

[2020-05-13 01:00] TravisCragg-MSFT commented on #54658
@JohnD76 you should still be able to [route traffic to a NVA via the Hub to an NVA](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-route-table-portal). It looks like these steps turn the old Hub VNET into the NVA spoke VNET.

[2020-05-13 01:02] JimmyLS opened #54714 "The update history for ADFS Health agent need to be updated"
In the ADFS health agent download page, we can see the latest agent version is: 3.1.77.0 which is released in 4/24/2020. But on this document there's no update reflect.
https://www.microsoft.com/en-us/download/details.aspx?id=48261

Please update this page as well and let customer know the new features in this update, and fixed issue details.

---
#### Document Details

⚠ *Do not edit this section

[2020-05-13 01:06] dcbrown16 commented on #52867
@ajlam either it still hasn't published or it got broken again (markdown is back instead of picture).

[2020-05-13 01:13] ajlam commented on #52867
Thanks for letting me know @dcbrown16. I'm trying another PR now!

[2020-05-13 01:14] dimaqq opened #54715 "Document CAA record when using CNAME alias"
I have an azure cdn profile and the cdn endpoint set up.
It has a custom domain with HTTPS and "CDN managed" certificate.
The domain record is external (aws route53), where a `CNAME` alias is set to point to azure cdn endpoint.

As far as I understand the `CAA` record in such set up cannot be issued on my custom domain, rather it should be issued on the cdn endpoint hostname.

There's nothing in t

[2020-05-13 01:15] clarkezone opened #54716 "Unclear how to proceed"
For this part:
Global tenant administrator
If you are a global tenant administrator, go to API Permissions page in the Azure Portal's Application Registration (Preview) and select Grant admin consent for {Tenant Name} (Where {Tenant Name} is the name of your directory).

1) I don't know if I am a global tenent administrator (guess not) but how would I tell?
2) There is no link to the Azure Portal

[2020-05-13 01:28] akramwaseem commented on #51394
Sure will do .

[2020-05-13 01:31] tonytaowang commented on #54345
Change 'cephalin-core' to your server name.

[2020-05-13 01:42] TravisCragg-MSFT commented on #54257
@jarthu3 your understanding is correct, the problem is a limit with the custom metric. The limit that you need to track is the combination of inbound & outbound, but you need to use a custom metric to track that.

the ideal situation would be to do a MAX of the inbound + outbound, but I do not know if you can make a custom metric of a custom metric.

[2020-05-13 01:42] santhoshbomma9 commented on #54709
Hi @qianw211 , I dont see that feature for Azure application yet. I know it is live for SaaS but for Azure Apps I dont have a UI to specify any meters.

[2020-05-13 01:46] kfprugger commented on #54697
https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-powershell

[2020-05-13 01:47] aliyoussefi opened #54717 "Guidance on Preview Connector to GA"
i’m wondering what the official guidance is for connectors that are in preview status going GA. Also, the label of preview, is this based on the API the connector uses or the connector itself?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283ea333-d9a1-50c6-581c-753131c88f5a
* Version Independent ID: 45207a34-a98b-821

[2020-05-13 01:48] TravisCragg-MSFT commented on #54233
@isahunterintact Unfortunately I am not able to give a timeline for this feature being released. If you would like us to prioritize this feature in the future, please [add your vote & additional needed input to this existing piece of feedback on Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking/suggestions/39489460-diagnostic-log-for-azure-firewall-inc

[2020-05-13 01:48] #54233 closed

[2020-05-13 01:58] ecfan commented on #54717
#pri2

[2020-05-13 02:05] Gitdevnttuser commented on #53952
I have done what you have done Swathi, but I get a Bad Request response with no message as to why it is a Bad Request (400)?

Not sure how to proceed.

[2020-05-13 02:07] SiverSHI opened #54718 "It's hard to follow this Doc to Implement sync rule to limit export of userCertificate attribute when your issued object is device or computer."
I was trying to follow this Doc to implement a new sync rule to fix the issue (the issued object in my environment is 'device'.) And can't really fix it. So I think it's better to just update the version of the AAD Connect.
The largeObject issue with userCertificate was fixed in version 1.1.524.0 of AAD Connect:

New features/improvements:
Azure AD Connect sync
Sync Rule Changes – The following sy

[2020-05-13 02:13] rajkumar-rangaraj opened #54719 "Collect logs with dotnet-trace"
In linux environment, collecting logs using File Perfview may be a challenge. Adding instruction to collect dotnet-trace will help in non-windows environment.

Command:
dotnet-trace collect --process-id &lt;PID&gt; --providers Microsoft-ApplicationInsights-Core,Microsoft-ApplicationInsights-Data,Microsoft-ApplicationInsights-WindowsServer-TelemetryChannel,Microsoft-ApplicationInsights-Extensibilit

[2020-05-13 02:14] rajkumar-rangaraj commented on #54719
@mrbullwinkle

[2020-05-13 02:17] bradpicone commented on #53952
As followup I can confirm that the template Swathi's does work as expected when I run it using the New-AzDeployment command using PowerShell Az v3.8. In my original post I was using Terraform v0.12 to deploy the template using v2.9 of the AzureRM provider. However, that only supports resource group level deployments and not the subscription level deployment that was required for this scenario, so

[2020-05-13 02:19] aceptra commented on #54484
I am setting it in the client-side library now. Thank you for the clarificadtion.

[2020-05-13 02:19] #54484 closed

[2020-05-13 02:20] tofusgh opened #54720 "How long are the results stored in Access Reviews?"
This document does not refer to how long the results can be downloaded: To retrieve all the results of an access review, click the Download button. The resulting CSV file can be viewed in Excel or in other programs that open UTF-8 encoded CSV files."

Are the results available for download as long as the review exists or is this data stored for the same duration the Audit Logs are stored?

---
###

[2020-05-13 02:45] awentzel opened #54721 "I'd like to perform this operation with Azure CLI"
Where can I find the same information using Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f16616-4848-55f3-f6aa-f95f566811e9
* Version Independent ID: 34898e71-b8af-6d9d-ee53-49f34e2e4033
* Content: [Azure Key Vault logging](https://docs.microsoft.com/en-us/azure/key-vault/general/logging)
* Content Sourc

[2020-05-13 02:55] awentzel opened #54722 "The entire Key Vault documentation section is missing Azure CLI"
All of the commands to install, configure, update, etc are built around .NET and PowerShell. Where is Azure CLI documentation?  I'm trying to configure backups, logs, and access policy through CLI and don't see this documentation anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f4325bb-f9f3-568d-6565-2e72ee3ad

[2020-05-13 03:05] Kaleidoscope-io commented on #42861
I was on a mac and was encountering this issue.  I used nvm to use 12.0.0 which was the latest LTS version on azure and added web.config file and I am and running.

[2020-05-13 03:12] CHEEKATLAPRADEEP-MSFT commented on #54694
@atrauzzi  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-05-13 03:14] SudeshSharma commented on #54549
@SnehaAgrawal-MSFT Thanks. waiting for your response.

[2020-05-13 03:19] scharak commented on #28027
I am facing the same issue with singular option set field. Has anybody worked on its solution?

[2020-05-13 03:33] BhargaviAnnadevara-MSFT commented on #54719
#assign:mrbullwinkle

[2020-05-13 03:37] srudin opened #54723 "Purge command is not working"
The documentation says that workspaces can be purged using the web api. However the documented command is not working ("'force' is not recognized as an internal or external command,
operable program or batch file") as it is not following the web api documentation (https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces/delete). Please tell us how to get rid of these "shadows".
Btw I find

[2020-05-13 03:38] awentzel opened #54724 "How do I turn on logging using Azure CLI for Key Vault?"
Documentation pushed me towards PowerShell. :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199fbc30-6751-5ee6-4fbb-f23f2f5137cc
* Version Independent ID: 00bcc33c-c14b-fa5f-74ab-f1bd635dc043
* Content: [Best Practices to use Key Vault - Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general/best-

[2020-05-13 03:38] awentzel opened #54725 "How do i perform backup using Azure CLI"
Documentation only pushed me towards PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199fbc30-6751-5ee6-4fbb-f23f2f5137cc
* Version Independent ID: 00bcc33c-c14b-fa5f-74ab-f1bd635dc043
* Content: [Best Practices to use Key Vault - Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general/best

[2020-05-13 03:44] srudin commented on #54723
"You can recover your workspace by creating a workspace with the details of the deleted workspace, these include Subscription ID, Resource Group name, Workspace name and Region."
This is not working and giving "The workspace name xy is not unique".

[2020-05-13 03:45] Tadiuz opened #54726 "Specific version of tensorflow on compute instances in Machine learning Studio"
Is there a way to generate a new compute instance with an specific version of tensorflow?, I have my models running on TF 1.14 and It'll be a mess to update it to TF 2.0
I was thinking on uninstall the actual version and install again everything.. but that'll a mess too haha
Is there and easiest way?

[2020-05-13 03:49] SadiqhAhmed-MSFT commented on #54700
@theheatDK Thanks for the question. We are looking into this and will get back to you shortly.

[2020-05-13 03:52] SadiqhAhmed-MSFT commented on #54698
@Infinitism Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-05-13 03:54] SadiqhAhmed-MSFT commented on #54695
@arsnyder16 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-13 03:54] srudin commented on #54723
Partially my bad: I was using the web api call with the "az rest" command and was escaping the ampersand wrong. In powershell it requires "...?api-version=2015-11-01-preview`"&`"force=true". Not very intuitive.
By fixing this the "not recognized" message disppears. However - nothing happens. There is no output and recovering or recreating the resource still fails with the "not unique" exception.

[2020-05-13 03:57] SadiqhAhmed-MSFT commented on #54676
@rjmontenegro Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-13 03:58] SadiqhAhmed-MSFT commented on #54675
@manish-jain-1 Thanks for the comment. We are looking into this and will get back to you shortly.