[2018-08-23 21:55] kgremban commented on #10530
@ajaybha Yes, IoT Edge became generally available at the end of June, and the 'iotedgectl' program was replaced with just 'iotedge.' That changed help make the product itself easier to use, along with improvements around the VS Code extension, and a simpler product experience leads to simpler documentation :)

If I understand your most recent comment, you think that the article that you originally

[2018-08-23 21:57] mchudinov opened #13900 "Please explain more about certificates"
Add your signature certificate (.cert file, without private key)....
select your certificate .pfx file with private key
What kind certificate is this? What is the signature algorithm ? SHA1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Independent ID: 054d298b-937e-9f01-

[2018-08-23 21:58] jason-j-MSFT commented on #13787
@aliabbasmanager there is no statement in the document that the template contains all the functionality of the bullet points.  Did you see the additional sections at the bottom of the page:

https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-template-workspace-configuration#example-resource-manager-templates

https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-templa

[2018-08-23 21:58] #13787 closed

[2018-08-23 22:01] kgremban commented on #11502
@danieljsmarda Following the issues that Janice linked to in her response to this, the issue was a bug in the sample code, regarding protocols. Have you had a chance to retry in the last few weeks, because I believe this issue has been resolved.

[2018-08-23 22:11] skepick opened #13902 "created vm scale set but could not RDP to the NAT generated VM (ie. publicIPAdress:50000)"
created vm scale set but could not RDP to the NAT generated VM (ie. publicIPAdress:50000)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a virtual machine scale set in the Azure portal](ht

[2018-08-23 22:11] kgremban commented on #11884
@Cherisle Looking at the C# reference API, it looks like the correct connection string is supposed to be the device connection string since it specifies "with DeviceID" and hub connection strings don't include device IDs.

Link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.moduleclient.createfromconnectionstring?view=azure-dotnet

@adashen Can you add any more informa

[2018-08-23 22:12] kgremban commented on #12418
@rcoccia Have we answered your question, or are you looking for more information?

[2018-08-23 22:13] kgremban commented on #12494
@dsajanice and @shizn, Checking to see if there are documentation changes that need to be made or if this issue should be closed?

[2018-08-23 22:15] Mat2123 commented on #12154
Hello all,

I have a similar problem that the one above.

I'm trying to send data from a downstream device to my transparent gateway via HTTP. I am able to send data to the cloud directly, but not to my gateway.

When I use the gateway connection string it works fine, but if I append the gatewayhostname, I get a libcurl issue :
Error: Time:Thu Aug 23 22:24:01 2018 File:/home/admin/azure-iot-sdk-c/

[2018-08-23 22:15] andrepodnozov commented on #5878
I tried it with 1.0.1 agent and hub and I confirm that this issue is resolved.

[2018-08-23 22:16] YutongTie-MSFT commented on #13197
@sodafatty
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 22:16] #13197 closed

[2018-08-23 22:17] andrepodnozov commented on #5878
But I don't know how to close issues here.

[2018-08-23 22:28] Mike-Ubezzi-MSFT commented on #13651
I am experiencing a similar issue. The debug process does work but, depending on how the deployment.template.json file is updated, results may vary. This tutorial needs further clarification on making edits to this file, specifically step two: [Build and deploy your module for debugging](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-c-module#build-and-deploy-your-module-for-debugg

[2018-08-23 22:28] christiankuhtz commented on #13485
they should be capitalized when referring to the product, which is called Load Balancer.

[2018-08-23 22:29] MicahMcKittrick-MSFT commented on #13690
@wasabii this behavior is not what we would expect.

Can you email me at AzCommunity@microsoft.com and provide me with your Subscription ID and link to this issue? I can enable a one time free support request for you so you can get this sorted out.

[2018-08-23 22:32] jhealy opened #13903 "content setup for VS2017 based function app"
Would be nice to show how to generate the zip from a VS2017 functions project.  Aka zip the publish dir or pull the package down from one site once its published then use zip deploy to push to another.  Very diff structure than what's laid out here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45

[2018-08-23 22:34] Mike-Ubezzi-MSFT commented on #5878
@andrepodnozov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 22:34] #5878 closed

[2018-08-23 22:35] oridayne commented on #13888
Hey! I figured it out, I talked with another support person. As it turns out, that link is to an azure storage blob associated with a resource account during creation, not a library or anything like that.
I registered and it was accidentally deleted I believe when I deleted another resource group.
As a result, it was missing during image creation. However when I did a az ml  model list, it was sti

[2018-08-23 22:35] #13888 closed

[2018-08-23 22:38] MohitGargMSFT commented on #13890
@mansyno Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 22:38] rwike77 commented on #13796
@Lonefish That might be a challenge if it doesn't have an outside IP address. Offhand, I'm not sure.  I think the https://github.com/Azure/service-fabric-issues repo would be a better forum for this question.  It's actively monitored by folks on the engineering team, one of them should have a recommendation. Thanks.  #please-close

[2018-08-23 22:39] #13714 closed

[2018-08-23 22:40] MohitGargMSFT commented on #13742
@eric-lavalley We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-23 22:40] #13742 closed

[2018-08-23 22:42] MicahMcKittrick-MSFT commented on #13894
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 22:42] MicahMcKittrick-MSFT commented on #13897
Thanks for the question! We are investigating and will update you shortly.

[2018-08-23 22:42] Karishma-Tiwari-MSFT commented on #13862
@jpalo From my understanding, hubname cannot be configured in application settings on azure portal. You will find more information [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings) on App settings available for Azure Function apps.

[2018-08-23 22:43] conceptdev commented on #11020
You're right, the push notification entitlement IS required. It is mentioned in two places in this article (both are required):

* [Register your app for push notifications](https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started#register-your-app-for-push-notifications) in the iOS Provisioning Portal (step 2)
* [Connect your app to

[2018-08-23 22:44] conceptdev commented on #5150
#please-close

[2018-08-23 22:46] vasivara-MSFT commented on #13891
@CrimPhoenix Thanks for the feedback. I have requested the author to review to add this to our document.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 22:46] #13891 closed

[2018-08-23 22:46] ShevaDas commented on #13849
Thanks for the feedback! This area is handled by @dastaffo.

[2018-08-23 22:49] TravisCragg-MSFT commented on #13844
@markmassad The link will be fixed in the portal soon.

[2018-08-23 22:52] Mike-Ubezzi-MSFT commented on #13656
@Noiskee I looks like the Azure Data Migration Service supports SQL authentication for both source and target. Take a look at this migration tool: https://datamigration.microsoft.com/

![screenshot 198](https://user-images.githubusercontent.com/37126106/44555899-2a7b0c80-a6ec-11e8-9322-2eb1ef4cd475.png)

Please let me know if you have additional questions.
Regards,
Mike

[2018-08-23 22:56] rwike77 commented on #9756
I've added this info to the setup page:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started#install-docker-optional  Thanks.  #please-close

[2018-08-23 22:56] Mike-Ubezzi-MSFT commented on #12154
@Mat2123 Please use the MSDN Forum to post non-documentation related issues. Your issue will get greater visibility. Thank you.
https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge&filter=alltypes&sort=lastpostdesc

[2018-08-23 22:58] Mike-Ubezzi-MSFT commented on #11502
Agree, start the tutorial over from scratch, and you will not have any issues.

[2018-08-23 23:02] hafizramly commented on #13846
@MicahMcKittrick-MSFT Yes I'm running these command on-prem. And below is my azure-cli version.

PS C:\Windows\system32> az --version
azure-cli (2.0.44)

acr (2.1.3)
acs (2.3.0)
advisor (0.6.0)
ams (0.2.2)
appservice (0.2.2)
backup (1.2.0)
batch (3.3.2)
batchai (0.4.1)
billing (0.2.0)
cdn (0.1.0)
cloud (2.1.0)
cognitiveservices (0.2.0)
command-modules-nspkg (2.0.2)
configure (2.0.18)
consumption (

[2018-08-23 23:02] MicahMcKittrick-MSFT commented on #13894
@EVMartinez thanks for pointing this out. I confirmed and you are correct.

I made the changes. Once the PR merges the issue will automatically close and the changes will go live in a few hours.

[2018-08-23 23:03] #9756 closed

[2018-08-23 23:08] MicahMcKittrick-MSFT commented on #13846
Thanks @hafizramly. The commands won't work in PS but they should be fairly similar to on prem CLI.

I tried the same on prem and got the same results.

@iainfoulds can you take a look and see if we should add a note or something?

[2018-08-23 23:12] pbolduc commented on #13896
I did notice just now that when using the portal to create the via the 'Add Event Grid subscription' button, the endpoint box that starts with
[code]
Does contain the code parameter at the end. Therefore one could use the 'Add Event Grid subscription' to copy the full endpoint and then manually use the CLI to create the subscription.  This is OK for a small number of subscriptions, however, obviou

[2018-08-23 23:13] Alrubaye87 opened #13905 "Is the domain verificaion from GoDaddy required every two or three years"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

=======================
Why is my certificate not auto-renewed?
If your SSL certificate is configured for auto-renewal, but it is not automatically re

[2018-08-23 23:13] BryanTrach-MSFT commented on #13729
@gmconte I was able to get your suggestion working by using the below values.

In my example, I tried taking the IP address off of my iPhone by going to into the WIFI settings section. This IP address was a private IP address though. I located the public IP address that my router was using by going to bing.com. I then rounded down the last two octaves to 0 and set a wide cidr just to be sure.

Sin

[2018-08-23 23:13] #13729 closed

[2018-08-23 23:16] BlakeYarbrough opened #13906 "Accelerated Networking Documentation"
Thanks for this page! One update could be to list which ones support accelerated networking. I was under the assumption that only VMs that have the option of &gt;= 30,000 Mbps can do accelerated networking. For example, DSV2 supports accelerated networking, but it isn't mentioned on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-08-23 23:16] tom-odon opened #13907 "Update-AzureRmVM errors in adding certificate from Key Vault"
This step in the tutorial is producing errors when I run it:

[Add a certificate to VM from Key Vault
](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server#add-a-certificate-to-vm-from-key-vault)
[code]
The final command errors with the following message:

[code]
Can this command only run on a VM that does not employ managed disks? How can I get around this e

[2018-08-23 23:17] iainfoulds commented on #13846
Could be when ran from a Windows host, only difference I see is the space either side of the `|` for `'[].id` and `[?contains`

@MicahMcKittrick-MSFT Can you validate that the extra doesn't break behavior in the Cloud Shell, please? That would indicate it's fine with the extra spacing on *nix-based machines. As with line wrappings on long commands, we try to avoid them to minimize problems when mo

[2018-08-23 23:17] simeyla commented on #13841
@wmgries thanks for the additional information. Actually I was aware that this referred to 'SSD' in this context. I was just trying to get as fast as possible disk for my storage plan with replication.

I can see why for a VM disk it has to be LRS - it's just not practical to replicate it, but what I really wanted was just replication of all my blobs. We're living in crazy times and sometime in th

[2018-08-23 23:26] nbfowler opened #13908 "Are backups geo-replicated even if the DB is in only one region?"
The document states:

"For resiliency against regional disaster, each snapshot of your backup data in Azure Blob Storage is again replicated via geo-redundant storage (GRS) to another region."

The wording is unclear, but is it safe to assume this is true even if geo-redundancy is disabled for the CosmosDB account? Can someone please confirm or deny this?

Thanks.

---
#### Document Details

⚠ *Do

[2018-08-23 23:27] MicahMcKittrick-MSFT commented on #13846
@iainfoulds done and done.

@hafizramly I updated the doc. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-08-23 23:31] iainfoulds commented on #13846
Thanks @MicahMcKittrick-MSFT!

[2018-08-23 23:34] Mike-Ubezzi-MSFT commented on #13896
@pbolduc Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-23 23:37] gmconte commented on #13729
Hi Bryan,

Thanks for looking into it. I still have some doubt considering that the
example you describe would block a huge number of ips.

My idea was to block a specific one, thus using the "/32" notation.

The IP I tried was external, identified using the whatismyip service and
the ipify javascript library.

Could you please try blocking a single "/32" ip address and confirm that it
works fine?

[2018-08-23 23:37] coelho5br opened #13909 "Certification period"
On the last paragraph, it is creating confusion. Is it 2 years or 3 years?

"GoDaddy, which generates App Service certificates, requires domain verification once every two years. The domain administrator receives an email once every three years to verify the domain. Failure to check the email or verify your domain prevents the App Service certificate from being automatically renewed."

---
#### Do

[2018-08-23 23:37] Mike-Ubezzi-MSFT commented on #13896
@pbolduc Still investigating this as it relates to event-grid, but I did want to make you aware of Azure Service Bus: [Overview of Service Bus dead-letter queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues)

I am looking in to this functionality for event-grid. Regards, ~Mike

[2018-08-23 23:38] dcbrown16 commented on #7028
Thanks @ahmedelnably, I did subscribe to that thread but I'm contesting @SyntaxC4 's last post (from April). I think it would be best to excise the section on PowerShell for now even if other major revisions are coming to avoid spreading the confusion on this issue.

[2018-08-23 23:39] dcbrown16 commented on #13771
Great, thanks @jluk!

[2018-08-23 23:47] MikeChristensen commented on #13830
I'm using the `--template-file` parameter and using a template on the local file system..

[2018-08-23 23:47] rwike77 commented on #13396
@MikeChristensen @kakridge , thanks for you input.  I'm updating the article to add the command for PowerShell.

[2018-08-23 23:57] kobulloc-MSFT commented on #13582
@irari I believe a custom KQL query is exactly what you are looking for:

`union customEvents, pageViews
|where client_OS in ("Windows 10", "Windows 8")`

If you go to **Cohorts**, click on **Template Gallery**, and select **Blank Users cohort** under Users, you'll get a blank cohort.

![image](https://user-images.githubusercontent.com/37556655/44557697-b3964180-a6f4-11e8-9b4e-56f9a715a9a1.png)

F

[2018-08-23 23:57] #13582 closed

[2018-08-23 23:58] Anmolgan81 commented on #13726
I am talking about the On-Premise Data Managment Gateway as a resource in Azure. Will that supports move?

[2018-08-24 00:06] KeiroKamioka0000 opened #13910 "Dead Link informing"
The &lt;Restrict access to containers and blobs.&gt; is dead link, please fix.

Note

Public containers allow you to get a list of all blobs that are available in that container and get container metadata. Public blobs allow you to access the blobs only if you know the exact URL. For more information, see Restrict access to containers and blobs.

---
#### Document Details

⚠ *Do not edit this sect

[2018-08-24 00:29] #13846 closed

[2018-08-24 00:34] BryanTrach-MSFT commented on #13882
@odvoskin Thank you for the heads up. I was going to try and make the change but there are a two illegal links in the doc preventing me from merging anything. Also, the header, navigation and other items should be updated as well. Since this is a larger cleanup, I've reassigned the issue to @cephalin.

[2018-08-24 00:44] BryanTrach-MSFT commented on #13909
@coelho5br Thank you for the feedback. My internal note says its every 3 years. We have assigned this to the author to ensure they agree and update the doc as necessary.

[2018-08-24 00:49] MGoedtel commented on #13772
@junpark12 - I will take this offline with K.Harada and determine how we address this in the docs being Container Health delivers a large percentage of this versus the monitoring solution for containers until complete parity.  In the meantime, I'll file this in our TFS database and track it accordingly.  #please-close

[2018-08-24 00:53] mike-urnun-msft commented on #13517
@praveendhac Could you open an issue on [Azure CLI repo](https://github.com/Azure/azure-cli/issues) and reference this issue in it pls?

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 00:53] #13517 closed

[2018-08-24 01:05] jkwon2013 commented on #13528
@shehackspurple sorry for the late response. Currently Azure Lab Services only works with VMs. For the long-term, we do want to enable other resources, e.g. containers, etc. in the labs, but this is still far out.

[2018-08-24 01:14] dcbrown16 opened #13911 "Clarity on 168.63.129.16 and 169.254.169.254"
This article mentions the requirement to allow traffic to and from 168.63.129.16 and 169.254.169.254 for VMs to work properly.
With default NSG rules, the allow Internet outbound should allow communication to those addresses.
For the inbound rules, however, the document isn't clear if these are allowed. The LoadBalancer tag explanation states, "The tag translates to an Azure datacenter IP address

[2018-08-24 01:44] #13772 closed

[2018-08-24 01:47] glimoli commented on #13730
Hi Venu,
No that is not supported to use any customized unattended file, you could try it but if that fails and break the image, there's no much to do there.

[2018-08-24 01:49] kobulloc-MSFT commented on #13528
@shehackspurple We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-24 01:49] #13528 closed

[2018-08-24 01:49] glimoli commented on #13730
Injecting custom answer files is not supported so if you still want to use it, is at your own risk.

[2018-08-24 02:02] kiranjshetty commented on #13853
I have already implemented it. It only collects my application logs if I redirect it to stout and stderror. Now I want it to get number of hits and latency of application serving so do you mean I need to redirect it also to stdout and stderror then loganalytic will collect it or what are other ways???...

[2018-08-24 02:32] mike-urnun-msft commented on #8454
Hello @TecumsehSamp

We have reviewed & discussed this with our product team, and the conclusion is as follows:

"_The user is trying to set up backups in a way that is not intended. **In-app MySQL databases will automatically be included in backups.** There is no need to manually add a connection string to the app settings, then select the database in the backup settings. In-app MySQL is tightly

[2018-08-24 02:35] BernieWhite opened #13912 "TLS settings are missing from documentation"
The option to configure the minimum TLS version has been added to Redis Cache, however it is not mentioned above and the screen shots are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 900d60f8-f8b4-bf7b-a7de-79828cf779ae
* Version Independent ID: 1b15867b-ff1a-c3cd-208e-6a818641e94a
* Content: [How to con

[2018-08-24 02:51] BryanTrach-MSFT commented on #13881
@ngilstrap Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 03:00] BryanTrach-MSFT commented on #13895
@simeyla Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 03:00] Anmolgan81 commented on #13726
So On-Premise Data Managment Gateway do get move across subscription, please update the document here.

[2018-08-24 03:03] danyork opened #13913 "Does Azure Load Balancer support IPv6 client connection to an IPv4-only VM?"
I have read this page multiple times and I'm still struggling to figure out:

- Can the Azure Load Balancer act as a IPv6-to-IPv4 proxy?

Or to put it another way - are the Azure VMs _required_ to have an IPv6 address?

The text states "_The load balancer routes the IPv6 packets to the private IPv6 addresses of the VMs using network address translation (NAT)._"

But it's not clear ... what happens

[2018-08-24 03:12] Cherisle commented on #11884
@kgremban I understood that part; however, when I initially applied the device connection string as asked, I was not able to retrieve any messages from the input message handler in another module:

e.g. await ioTHubModuleClient.SetInputMessageHandlerAsync("input1",ReceiveMessages, ioTHubModuleClient);

The receiving of messages works fine for me when using the tutorial-given simulated temperature

[2018-08-24 03:38] genlin commented on #13793
@jessehouwing， thanks for pointing out the problem. I will update the article.

[2018-08-24 03:42] pwaila opened #13914 "Fail to establish a new connection while getting metadata"
I have read a queue

`storageQ = QueueService(connection_string="DefaultEndpointsProtocol=https;AccountName=xxxxclassifierqueue;AccountKey=xxxxxxxxxxxxxxxxxxxxxxxxx==;EndpointSuffix=core.windows.net")

metadata=storageQ.get_queue_metadata('emailpreprocessq')

while reading the metadata, or reading content i am getting the following error

`

storage is exhibiting behavior for last 1 day. The flow

[2018-08-24 03:46] aljo-microsoft opened #13915 "https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machine-scale-sets/virtual-machine-scale-sets-faq.md Base-64 error"
Your API is returning:

Exception Details:
	Error Code: Conflict
	Message: {'status': 'Failed', 'error': {'code': 'ResourceDeploymentFailure', 'message': "The resource operation completed with terminal provisioning state 'Failed'.", 'details': [{'code': 'CertificateImproperlyFormatted', 'message': "The secret's JSON representation retrieved from https://aljokeyvault.vault.azure.net/secrets/aljoubu

[2018-08-24 03:56] aljo-microsoft commented on #13915
Checked the value, and its properly in Base-64. So this appears to be a bug

[2018-08-24 04:00] Azura2005 opened #13916 "very goods"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 0b36ffdb-27f9-5304-22bf-2bab9cafd3df
* Version Independent ID: 94597220-83ac-af0e-137c-969a706b4b0f
* Content: [Azure Active Directory Domain Services: Features](https://docs.microsoft.com/th-th/azure/active-directory-domain-services/active-directory-ds-feature

[2018-08-24 04:01] Azura2005 commented on #13916
You can use simple features to format your comments and interact with others in issues, pull requests, and wikis on GitHub

[2018-08-24 04:01] Azura2005 commented on #13916
You can use simple features to format your comments and interact with others in issues, pull requests, and wikis on GitHub

[2018-08-24 04:01] #13916 closed

[2018-08-24 04:25] aliabbasmanager commented on #13787
@jason-j-MSFT The links at the bottom of the document does point to creating log analytics VM extension via an ARM template. The template expects a Workspace Id and a Workspace Key. My requirement is to club both of the templates, in this article as well as the article on the agent, so that I could take the workspace Id and Workspace key of the Workspace created via a template and pass them along

[2018-08-24 04:36] codefoster opened #13917 "Misspelling"
Cosmos is misspelled Comsos on this page and I get a 500 error trying to edit it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 168890e7-484f-6d2f-9eec-3a97dcd44e6f
* Version Independent ID: ffd475a2-052e-7ce0-851a-622453a14010
* Content: [How to use Azure Table storage or Azure Cosmos DB Table API from Node.js](https

[2018-08-24 05:29] tkumark opened #13918 "no example provided on how to import from another cosmos db"
Hi
Under "Select data source" these is no sample for below topics. the links go no were. Could you please provide information on how to import from other cosmos db?
Azure Cosmos DB collections
Azure Cosmos DB bulk import
Azure Cosmos DB sequential record import

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-58

[2018-08-24 05:45] kazshi opened #13919 ""Turning on Firewall rules for your Storage account...""
The 1st "Important" says "Turning on Firewall rules for your Storage account will block access to incoming requests for data...", does "Turn on FW rules" mean that selecting "Selected networks"? I'd like to make sure my understanding is correct here since I cannot find an option to 'turn on FW rules' on 'Firewalls and virtual networks' blade on the portal.

---
#### Document Details

⚠ *Do not edi

[2018-08-24 06:15] MohitGargMSFT commented on #13900
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 06:16] MohitGargMSFT commented on #13916
Thanks for the feedback.

[2018-08-24 06:32] MohitGargMSFT commented on #13905
@Alrubaye87 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 06:34] MohitGargMSFT commented on #13907
@tom-odon Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 06:35] MohitGargMSFT commented on #13914
@pwaila Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community  memb

[2018-08-24 06:38] MohitGargMSFT commented on #13915
@aljo-microsoft Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 06:52] MohitGargMSFT commented on #13890
@mansyno Please open a new forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.technet.microsoft.com/Forums/ie/en-US/newthread?category=identitymanagement&forum=MicrosoftAuthenticatorApp

[2018-08-24 06:57] dcbrown16 opened #13920 "Deploying JAR file"
Is it possible to deploy a JAR file using Kudu?
This article isn't explicit about whether ZIP and WAR are the only file types that can be deployed through Kudu.
I see that this is possible using the Maven plugin.
https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-java
https://github.com/Microsoft/azure-maven-plugins/tree/develop/azure-webapp-maven-plugin#jar-deployment

---
#

[2018-08-24 07:01] AdamSharif-MSFT commented on #13870
Hi,

That’s great, thank you for this 😊

Kind regards,
Adam

﻿[Microsoft]

Adam Sharif
SUPPORT ESCAL ENG
Azure Rapid Response

Office: +44 (118) 9093141
Adam.Sharif@microsoft.com<mailto:Adam.Sharif@microsoft.com>
8:00 AM – 4:30 PM (UK time)

﻿
If you need immediate attention for an ongoing case whilst I am off-shift, please send a separate email with the Case ID to arrbackup@microsoft.com<mailto:a

[2018-08-24 07:13] SnehaGunda commented on #5391
#please-close

[2018-08-24 07:14] SnehaGunda commented on #13626
@benoitc does Rafat's response help? can you clarify your question if you need additional help.

[2018-08-24 07:15] SnehaGunda commented on #13807
@lukeb1961 Thanks for the feedback, we will clarify the docs to make it more discoverable.

[2018-08-24 07:17] cephalin commented on #7028
@dcbrown16 It does exist in the RDFE cmdlets. For the doc update we can point people to the RDFE gallery module for now.

[2018-08-24 07:25] SnehaGunda commented on #13917
@codefoster The docs are open source, everyone should have permissions to edit. The 500 error might be a temporary error. Can you please try again by clicking on the edit button on the right hand corner of the doc?

Let me know if it continues to repro, I will debug further

[2018-08-24 07:39] iamkarlson commented on #13872
@MicahMcKittrick-MSFT Yes, the problem is RBAC. I finally discovered that rbac creation should be set to false.
[code]

It happens for those who has RBAC disabled

[2018-08-24 08:12] bramvdklinkenberg commented on #10495
Maybe I am doing somehting wrong though. What permissions does a user at least need on the resource/ resource group to be able to do a az aks get-credentials? I think it is cotributor rights, right?
So I gave the SP contributor rights on the RG. Created a cluster with a new namespace and created a role with all rights on that namespace and in the rolebinding I used the SP object ID as value for th

[2018-08-24 08:18] dishajain1211 opened #13922 "Error CS0103"
Error	CS0103	The name 'UploadAndDetectFaces' does not exist in the current context	FaceTutorial	C:\Users\This PC\source\repos\FaceTutorial\FaceTutorial\MainWindow.xaml.cs	87	Active

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96f

[2018-08-24 08:26] tomwwagstaff-product commented on #13798
Great stuff - thank you

On Thu, 23 Aug 2018 at 20:50, Heather Shapiro <notifications@github.com>
wrote:

--
*Tom Wagstaff* Data Scientist
*Raising IT* <http://uk.linkedin.com/in/tomlatchford>
Take control of your website and fundraising with one straight-forward
platform.
<http://uk.linkedin.com/in/tomlatchford> <http://www.raisingit.com/>

www.raisingit.com | <http://www.raisingit.com/> @Raising

[2018-08-24 08:35] SimonPuckeyAW commented on #12261
@TylerMSFT thanks for the update! that makes sense and is good to hear there will be a specific api gateway resource as part of Mesh, as will save effort/complexity.

No worries about slow replies as understand product is in active development and the pressures that surround that. However it is great to get updates on the development of SF Mesh, as even though early days I get the sense that Mesh

[2018-08-24 08:44] mchudinov commented on #13859
Well what I find out is that some custom policies have "Run now" option. Some others dont. This needs to be clarified somehow in docs I think.

[2018-08-24 08:59] jessehouwing opened #13923 "WIldcards docs"
It's possible to configure exclusions. I understand I can exclude specific folders. I understand I can exclude files with a specific name. I understand I can exclude files that match a filename pattern.

I can't find good docs on how to (or if it's even possible) to exclude folders based on a wildcard.

I want to exclude:
**/tf$/
**/.git/
**/node_modules/
/Dropbox*/
/OneDrive*/
/Google Drive*/
**/

[2018-08-24 08:59] smoms commented on #13587
@Mike-Ubezzi-MSFT thanks. The report is really interesting. But my question was more to understand whether in IoT Edg the module can run remotely from the IoT Edge run-time env.

[2018-08-24 09:08] rifaterdemsahin commented on #13667
@BryanTrach-MSFT than there is no custom DNS setting in the documentation.
We are about to fail the project as we can not set the custom dns for our web app for containers in side the ILB ASE.

[2018-08-24 09:10] rifaterdemsahin commented on #10680
I also have the same issue. It can not connect over custom dns

[2018-08-24 09:16] rifaterdemsahin commented on #13358
@BryanTrach-MSFT we need to set the hosts file mate. The custom dns needs to get implemented as we are using the ASE as platform to hold our microservices.They do call each other.

a.Logging microservice  logging.mycompany.internal
B.Service bus microservice esb.mycompany.internal

B needs to call A and they both live on ASE. **Right now in the documentation for custom dns setting, there is no pla

[2018-08-24 09:18] #10530 closed

[2018-08-24 09:31] dipti927 opened #13924 "Parameter name is incorrect"
In above,
there is parameter "Secret" to pass to deploy u-sql database deployment using command-line, but it is not correct
If we pass using "-Secret" will not work..correct this to "-Secrete" instead of "-Secret"

Regards,
Dipti Mamidala

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4f5005-badf-be90-53d2-43caaf3f75

[2018-08-24 09:45] Noissim commented on #13828
@BryanTrach-MSFT Upgrading to WebJobs 2.2.0 did the trick. Thanks!

[2018-08-24 09:46] DennisBaekgaard opened #13925 "In-organizational-transfers are confusing and cumbersome"
It is super strange that you cannot transfer subscription ownership to another organizational account, and retain the same payment options. Maybe the solution is to have a payment on an organizational level. I had to create a dummy Pay-As-You-Go account, before I could transfer from another account, and then delete it again. This was not apparent without the aid of support.

---
#### Document Deta

[2018-08-24 10:02] rifaterdemsahin opened #13926 "Custom dns setting is not defined here"
az webapp config appsettings set --resource-group myResourceGroup --name &lt;app_name&gt; --settings WEBSITES_PORT=8000

This example shows that we can add the WEBSITES_PORT to run in a custom port

We also need to know how to send --dns to be able to configure custom DNS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-24 10:05] rifaterdemsahin commented on #13926
There are many people with a similar issue in reddit.
https://www.reddit.com/r/AZURE/comments/99orjq/azure_web_app_for_containers_how_to_send_the_dns/

The documentation is not helping us.

[2018-08-24 10:14] rifaterdemsahin opened #13927 "do we have the documentation for custom dns setting for appservice"
I need to make sure the app service uses my own dns server to resolve the addresses.
Could not locate in the documentation

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Map an existing custom DNS name to Azu

[2018-08-24 10:41] rifaterdemsahin opened #13929 "how can i do this for ILB-ASE based container"
I need to set the resolv.conf in a practical manner. How can I do that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f27ae-bfd4-6663-13ce-c3d0b40326e3
* Version Independent ID: 892091ad-f470-d715-ac5b-6b487640a88e
* Content: [SSH support for Azure App Service on Linux](https://docs.microsoft.com/en-us/azure/app-s

[2018-08-24 10:42] rifaterdemsahin commented on #13929
I am planning to run a logic app to update the over the SSH and they are not exposed to internet. And i do have a certificate for ILB-ASE do i need to still do these settings in my docker file ?

[2018-08-24 11:12] praveendhac commented on #13517
Filed https://github.com/Azure/azure-cli/issues/7138

[2018-08-24 11:34] cephalin commented on #13882
@odvoskin The update should be published in a few hours. #please-close

[2018-08-24 11:45] dev151 opened #13930 "Lack of Mongo GridFS support"
What about GridFS support?

When I connect to local Cosmos DB Emulator from sample C# code and trying to create file in GridFS:
        private MongoDatabase database;
        public void testGridFs()
        {
            MongoGridFS gridFs = database.GridFS;
            string fileName = "/txt/alafoo2";

            using (StreamWriter sw = new StreamWriter(new MemoryStream()))
            {

[2018-08-24 11:47] Aggror opened #13931 "Small textual change"
This line
"To remove an IP network rule, click "..." to open the context menu for the rule, and click "Remove"."
..should be updated to
"To remove an IP network rule, click the trashcan icon next to the network rule."
as there is no longer a context menu available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af7

[2018-08-24 12:03] cephalin commented on #13749
@kichalla Thanks for giving your feedback. Regarding your two comments:

- We've received feedback over the years that the steps for resource groups, etc. can be confusing, which is exactly why we call it out explicitly in our steps.
- This is actually not a tutorial about containers (even though you're right in saying that the underlying technology is containers). We're abstracting that layer fro

[2018-08-24 12:05] mchudinov opened #13932 "Sample code does not compile"
Sample code from github https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi.git does not compile in Visual Studio 2017.

Error	CS0103	The name 'ServicePointManager' does not exist in the current context	TaskWebApp	...\active-directory-b2c-dotnet-webapp-and-webapi-master\TaskWebApp\App_Start\Startup.Auth.cs	53	Active

---
#### Document Details

⚠ *Do not edit this section

[2018-08-24 12:24] Sizzl opened #13934 "Managed domain pre-requisites - devices must be sync'd"
In order for devices to correctly Hybrid Join AAD for managed domains, AAD Connect synchronisation must be configured to include OUs which hold the on-premises equivalent computer objects.

Failure to have the original AD computer object properties (specifically userCertificate) synchronised to AAD will stop machines from being able to perform hybrid registration; the "Workplace Join" task (dsregc

[2018-08-24 12:28] rifaterdemsahin commented on #13929
Please see the related map to identify the issue.
The documentation is lacking big time

https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=dns%20problem%20ASE#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1KFzzyX4TOym-C03ubtrbTbIzJMNJGYdu%26export%3Ddownload

[2018-08-24 12:41] cephalin commented on #8454
@TecumsehSamp I've updated the doc now and it will be published in a few hours. Thanks for engaging with us!

[2018-08-24 12:52] koman opened #13935 "External IP always pending after days of trying"
Hello,
I have carefully been through the tutorial several times and cannot ever get an external IP. I have tried with and without Ingress, assigning a static IP, different namespaces. This has been ongoing now for a week. Any help would be very appreciated.

Thank you kindly!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-08-24 13:00] koman commented on #13935
I thought I'd add what I did today from a fresh start -

kubectl apply -f azure-vote-all-in-one-redis.yaml

deployment.apps/azure-vote-back created
service/azure-vote-back created
deployment.apps/azure-vote-front created
service/azure-vote-front created
--------------------------------------------------------------------------------------------------

kubectl get service azure-vote-front --watch

[2018-08-24 13:00] cephalin commented on #8454
#please-close

[2018-08-24 13:02] cephalin commented on #13278
@TorrenManson Thanks for your feedback. I've updated the description and it should be published in a few hours. #please-close

[2018-08-24 13:25] cephalin commented on #12659
@davidsk @BryanTrach-MSFT Can you please explain? From my inspection there are only two links:

https://docs.microsoft.com/azure/azure-functions/functions-overview
https://docs.microsoft.com/azure/app-service/app-service-authentication-how-to

[2018-08-24 13:30] cephalin commented on #11692
@BryanTrach-MSFT Please assign this issue to me.

[2018-08-24 13:33] cephalin commented on #6401
This is an old issue that is already resolved by https://docs.microsoft.com/azure/app-service/app-service-web-tutorial-auth-aad.

#please-close

[2018-08-24 13:35] mphacker opened #13936 "az aks remove-connector not working correctly"
Installed the connector for both Windows and Linux.  Had issues running a workload via the virtual kubelet so decided to remove the connector.  Running az aks remove-connector only removes the Linux connector and leaves the Windows one in place.   I used helm list and saw that the deployment still listed so I used helm delete virtual-kubelet- windows-eastus2 --purge  to remove the connector.  It a

[2018-08-24 13:37] matkoliptak opened #13937 "AddressAssignments"
The AddressAssignments element is not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afca8a5-2a72-2370-6520-42c519fb8def
* Version Independent ID: d7aef2ab-55ed-bdf6-428b-d6afe1ba47d1
* Content: [Azure Cloud Services NetworkConfiguration Schema](https://docs.microsoft.com/en-us/azure/cloud-services/schema-

[2018-08-24 13:49] ggetty opened #13939 "IDP initiated example?"
Hello,
I ran through these steps and was successful logging in.  I'd like to do an IDP initiated example but when I click the IDP initiated link in Salesforce I get an error "Method not Supported."  I'm not sure if this means IDP initiated is not supported or if there's issues with my custom policies.  In looking for resources around this flow there didn't seem to be much.

Thanks,
George

---
###

[2018-08-24 13:56] koman opened #13940 "Invalid Client Secret error"
Hello,

I am receiving this error under Events when I describe the nginx-ingress-controller service. This is resulting in there never being assigned an external IP address.

`Normal   EnsuringLoadBalancer        3m (x10 over 24m)  service-controller  Ensuring load balancer
Warning  CreatingLoadBalancerFailed  3m                 service-controller  (combined from similar events): Error creating loa

[2018-08-24 14:01] cephalin commented on #13527
@lucasmike In the meantime please take a look at https://github.com/cgillum/easyauth/wiki for info.

BTW the /.auth/me info is taken directly from the token. You cannot edit this information.

[2018-08-24 14:26] MarkBooks commented on #11982
I'm also encountering the same behavior as described above, where Blob Data Reader access has been assigned but the permissions do not actually appear to be granted. Any/all updates on this issue are appreciated.

Thank you,
Mark

[2018-08-24 14:27] Mike-Ubezzi-MSFT commented on #8454
@TecumsehSamp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 14:27] #8454 closed

[2018-08-24 14:29] chrismajewski opened #13941 "Available libraries update"
"Azure Storage provides rich client libraries for .NET, iOS, Java, Android, Universal Windows Platform (UWP), Xamarin, C++, Node.JS, PHP, Ruby, and Python."

You offer GO (https://golang.org/) libraries (https://github.com/Azure/azure-storage-blob-go/) as well.  I've used them to amazing results as GO lends itself _very_ well to palatalization for cloud design pasterns.

My proofs are about to be

[2018-08-24 14:51] msangapu commented on #13373
@mike-urnun-msft Hey Mike! I will be working on this. Please reassign to me.

[2018-08-24 15:07] Mike-Ubezzi-MSFT commented on #13587
@smoms With Azure Sphere the two edgeXxx modules (edgeAgent and edgeHub) run in a secured environment on the MCU, and are tightly integrated with Azure. The customer's IoT solution module(s) run in another 'space' on the board, and all I/O + solution logic can be be routed+hosted in another cloud provider or on-premise, for example. There is a 'firewall' between the edgeXxx modules and the custom

[2018-08-24 15:09] mattchenderson opened #13942 "Include JS code samples for SQL connection"
Given that JavaScript is a GA language, this topic should also include JS code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a130-a392-7b4a-c8c6d36bad37
* Version Independent ID: 6beb58e0-167c-c08d-46ff-13f72ddbaf31
* Content: [Use Azure Functions to perform a database clean up task](https://docs.mic

[2018-08-24 15:14] Mike-Ubezzi-MSFT commented on #5391
@gsuttie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 15:14] #5391 closed

[2018-08-24 15:25] rifaterdemsahin opened #13943 "custom dns setting implemention"
can not spot it in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1afa49-a5b4-92db-68e8-3feeeff52eb3
* Version Independent ID: c9191775-e49c-1462-e525-a5ce549ae743
* Content: [Create and use an internal load balancer with an Azure App Service Environment](https://docs.microsoft.com/en-us/azure/app-s

[2018-08-24 15:29] CarlRabeler commented on #13566
Fixed
#please-close

[2018-08-24 15:30] Mike-Ubezzi-MSFT commented on #13908
@nbfowler That is correct. If you do not have geo-redundancy enabled for your Cosmos DB instance but regular back-ups are taking place, if that region (where Cosmos DB is deployed) was to go off-line, you will still have access to your Azure Cosmos DB back-ups, as copies exist in other regions. You could take the latest back-up and restore it to a new Cosmos DB instance in a different region.
Plea

[2018-08-24 15:32] Mike-Ubezzi-MSFT commented on #13912
@BernieWhite Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-24 15:34] Mike-Ubezzi-MSFT commented on #13917
@codefoster Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-24 15:35] georgewallace commented on #13743
The images and text were updated and are now live #please-close

[2018-08-24 15:35] georgewallace commented on #13563
The images and text were updated and are now live #please-close

[2018-08-24 15:35] georgewallace commented on #13400
The images and text were updated and are now live #please-close

[2018-08-24 15:36] georgewallace commented on #13803
@femsulu Can you please update this to a product-issue.  I have notified the author of the solution to have them correct this.  I will leave this open and track it until the updates are made.

[2018-08-24 15:38] georgewallace commented on #11161
@MattAllison This is still being worked.. I have updated the doc to point out the permissions needed for each step, but it will take me longer to get the script broken up and on the docs.  You can see the updates here.. Hopefully this helps in the meantime as I get the cycles to break it up. https://docs.microsoft.com/en-us/azure/automation/manage-runas-account

[2018-08-24 15:39] Mike-Ubezzi-MSFT commented on #13918
@tkumark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-24 15:41] Mike-Ubezzi-MSFT commented on #13918
Reference: The `Azure Cosmos DB collections` link does reference an example but is not very complete. The other two links simply reference the same page.

[2018-08-24 15:46] EVMartinez opened #13944 "Correct get health partition cmdlet"
Hello team,

Could you please correct the cmdlet to get the partition health? Currently the document states Get-WindowsFabricPartitionHealth which no longer exists, the current cmdlet is Get-ServiceFabricPartitionHealth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a6cbf38-df11-1a8e-2849-c9ffc75b9767
* Version Indepe

[2018-08-24 15:50] Karishma-Tiwari-MSFT commented on #13442
@Drony77 @OwainWin As discussed above, please go ahead and open a support request. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
@abhijeetgaiha Thanks for looking into it. Appreciate your help.

[2018-08-24 15:50] #13442 closed

[2018-08-24 15:51] misholson opened #13945 "E-mail claims?"
I think I have this working, but it's not sending an e-mail claim. It just sends a GUID as the sub, and the user's name. What do I need to do to get the organizational AAD to send an e-mail claim, and/or to get B2C to put it in the token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b598

[2018-08-24 15:54] Adam-Smith-MSFT commented on #13941
@chrismajewski We're very happy to have you!! I'll assign the issue to the content offer to include/mention the Golang in this doc as well.

[2018-08-24 15:55] Adam-Smith-MSFT commented on #13931
@Aggror Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-24 15:56] Mike-Ubezzi-MSFT commented on #13930
@dev151 Thanks for the feedback. The Azure Cosmos DB MongoDB API and the CosmosDB Emulator do try to remain in parity but there are some limitations with the Emulator environment. These are outlined here: [Differences between the Emulator and the service](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#differences-between-the-emulator-and-the-service)

**Specifically:**

- The Azur

[2018-08-24 16:02] Karishma-Tiwari-MSFT commented on #13702
@trevor-schmidt We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 16:02] #13702 closed

[2018-08-24 16:02] jason-j-MSFT opened #13946 "Azure Data Factory Analytics Solution returns error after it is installed"
After following the procedure to install the solution, an error is returned:
![1308235](https://user-images.githubusercontent.com/37126381/44594842-25659e00-a77c-11e8-9dad-753641500cd1.png)

This issue was first reported in the forums, and I have replicated it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65693a51-ca1

[2018-08-24 16:02] Adam-Smith-MSFT commented on #13923
@jessehouwing Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@trinadhkotturu Could you confirm if this feature is possible for backups or if Azure indexing could be tweaked ?

Thanks.

[2018-08-24 16:04] jason-j-MSFT commented on #13946
@sharonlo101 could you take a look at this?

[2018-08-24 16:13] Karishma-Tiwari-MSFT commented on #13688
@antimoroma There is nothing exposed through azure portal or any other client to setup a chroot environment beyond modifying ssh config on the VM.
**This is not something that we are officially supporting at this time.**
However, we tested the scenario and were able to login to a simple chroot environment by modifying ssdh config as shown below:
Including the following config in /etc/ssh/sshd_conf

[2018-08-24 16:16] Mike-Ubezzi-MSFT commented on #13566
@rajeevac We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 16:16] #13566 closed

[2018-08-24 16:20] shehackspurple commented on #13528
Thank you very much for the information.  :)

[2018-08-24 16:34] clausdenk opened #13947 "Error response not as expected"
In https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code#error-response, an error returned to the redirect_uri is described as

GET http://localhost:12345/?error=access_denied&.....

However, I directly get a fragment:

https://localhost:8060/callback#error=invalid_request&error_description=....

Here, redirect_uri was https://localhost:8060/callback

So, either t

[2018-08-24 16:35] MarileeTurscak-MSFT commented on #13932
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 16:38] MarileeTurscak-MSFT commented on #13934
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 16:38] mike-urnun-msft commented on #13942
Hi @mattchenderson Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-24 16:39] Mike-Ubezzi-MSFT commented on #13646
@AndyLiTaiwan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 16:39] #13646 closed

[2018-08-24 16:40] Mike-Ubezzi-MSFT commented on #13656
@Noiskee We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 16:40] #13656 closed

[2018-08-24 16:40] antimoroma commented on #13688
@kaarins Thankyou a lot for your feedback and suggestion,and for the example, even if it's not supported is will be useful.

[2018-08-24 16:40] #13688 closed

[2018-08-24 16:41] MarileeTurscak-MSFT commented on #13945
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 16:43] Mike-Ubezzi-MSFT commented on #13820
@felipefandrade We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. If support has identified a root cause, you are encouraged to post that information here as means to assist others. Thanks, ~Mike

[2018-08-24 16:43] #13820 closed

[2018-08-24 16:43] MarileeTurscak-MSFT commented on #13939
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 16:46] mike-urnun-msft commented on #13903
Hi @jhealy Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-24 16:46] MicahMcKittrick-MSFT commented on #13899
Thanks for the question! We are investigating and will update you shortly.

[2018-08-24 16:47] MicahMcKittrick-MSFT commented on #13902
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 16:48] MicahMcKittrick-MSFT commented on #13906
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-24 16:49] MicahMcKittrick-MSFT commented on #13935
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 16:49] MarileeTurscak-MSFT commented on #13736
Let me know if this helps! I'm going to close this out for now but if you have further questions please leave a comment, open a new issue, or ask on https://msdn.microsoft.com/forums

[2018-08-24 16:49] #13736 closed

[2018-08-24 16:49] MicahMcKittrick-MSFT commented on #13936
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 16:49] MicahMcKittrick-MSFT commented on #13937
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 16:50] MicahMcKittrick-MSFT commented on #13940
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 16:50] MicahMcKittrick-MSFT commented on #13944
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 16:52] MarileeTurscak-MSFT commented on #13859
Are you able to run now through https://jwt.io?

You can use Run Now and https://jwt.io to test your policies independently of your web or mobile application. This website acts like a relying party application. It displays the contents of the JSON Web Token (JWT) that is generated by your Azure AD B2C policy. To create a test application in Identity Experience Framework, use the following values:

[2018-08-24 16:54] MarileeTurscak-MSFT commented on #13859
Also, can you please provide a screenshot of where you are not seeing this option?

[2018-08-24 17:02] rudolph4 opened #13949 "Active Directory Container located in Child Domain - Workday Active Directory User Provisioning"
If set active directory container to a location in the child domain nothing gets mapped and the account is created with a HEX value for CN and sAMAccountName. If set in the root domain the account is created/updates without issue. I don't see in the documentation above that this is an invalid scenario or anything else that needs to be done to get it working.

---
#### Document Details

⚠ *Do not e

[2018-08-24 17:02] MicahMcKittrick-MSFT commented on #13872
@iamkarlson thanks for the update! Yes that step is important if your cluster is not RBAC enabled :)

![image](https://user-images.githubusercontent.com/32313503/44597527-ca847480-a784-11e8-9eea-3421b82129dc.png)

I will close this out for now.

[2018-08-24 17:02] #13872 closed

[2018-08-24 17:04] mike-urnun-msft commented on #13898
@faceoffers28 Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-24 17:06] mike-urnun-msft commented on #13920
Hi @dcbrown16 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-24 17:07] MicahMcKittrick-MSFT commented on #13690
@wasabii I will close this for now and be on the look out for your email.

[2018-08-24 17:07] #13690 closed

[2018-08-24 17:08] mike-urnun-msft commented on #13926
@rifaterdemsahin Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-24 17:08] MicahMcKittrick-MSFT commented on #13796
Thanks @rwike77

@Lonefish please open an issue using the github link Ryan provided. Once you open it you can also reference this issue as well.

[2018-08-24 17:08] #13796 closed

[2018-08-24 17:08] MarileeTurscak-MSFT commented on #13932
@davidmu1 can you look into this?

Apparently a lot of people are having this issue.

https://forums.xamarin.com/discussion/80661/servicepointmanager-and-many-other-system-net-classes-are-not-available-in-xamarin-projects

[2018-08-24 17:08] nbfowler commented on #13908
Thanks Mike. One more question about backups: I have created several Cosmos DBs at this point that have been running for weeks, but I can't see any backups being created in my account, and this document doesn't say anything about how to access them, just that they are stored in Blob Storage. Is this all supposed to be happening under the hood? If I'm wrong, please let me know where I can go in the

[2018-08-24 17:09] MicahMcKittrick-MSFT commented on #13830
@MikeChristensen hmmm okay. Not sure what the issue might be.

I will close this for now as you are unblocked. If you need further help figuring out the underlying issue you can email me at AzCommunity@microsoft.com and we can enable a one time support request for you to work with an engineer over the phone to get it fully resolved.

[2018-08-24 17:09] #13830 closed

[2018-08-24 17:10] mike-urnun-msft commented on #13927
Hi @rifaterdemsahin Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-24 17:11] davidmu1 commented on #13932
@MarileeTurscak-MSFT -  Can you please assign this to @parakhj? He is currently working on getting samples updated.

[2018-08-24 17:11] mike-urnun-msft commented on #13929
Hi @rifaterdemsahin Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-24 17:14] mike-urnun-msft commented on #13943
Hi @rifaterdemsahin Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-24 17:15] ranasch opened #13951 "Invalid Certificate"
Tried with and without Setting Registration id, but whenever the Device tries to Register, I get "Invalid Certificate":
{"operationId":"4.d908ba6f4f485999.dfa87149-14f4-4819-a711-56c83c017314","status":"failed","registrationState":{"registrationId":"az-c89346854138v1v4v1","createdDateTimeUtc":"2018-08-24T17:08:13.8581784Z","status":"failed","errorCode":401002,"errorMessage":"Invalid certificate","

[2018-08-24 17:17] YutongTie-MSFT commented on #13922
@dishajain1211
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 17:28] MarileeTurscak-MSFT commented on #13947
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 17:28] MarileeTurscak-MSFT commented on #13949
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 17:29] vasivara-MSFT commented on #13924
@dipti927 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-24 17:30] MicahMcKittrick-MSFT commented on #13867
@yadcam to allow a user to use the serial console they only need to have the role "Virtual Machine User Login"

This is because the user needs to have the same level of access to login to the VM as they would to use the serial console feature

[2018-08-24 17:30] SaurabhSharma-MSFT commented on #13824
@MikeBazMSFT  Thanks for your inputs !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-24 17:32] ggailey777 commented on #13903
@jhealy note that UI does now support [running from a (zip) deployment package](https://docs.microsoft.com/azure/azure-functions/run-functions-from-deployment-package):
![image](https://user-images.githubusercontent.com/1388263/44598309-7038e300-a787-11e8-9e12-7dc0f70f93a2.png)
(Interestingly, running for a package is still preview functionality even though it's marked `recommended`.) That probabl

[2018-08-24 17:38] ggailey777 commented on #13942
Hey @mattchenderson, do you want to write it? 😁
Now being tracked internally ([1330018](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1330018)). #please-close

[2018-08-24 17:40] #13894 closed

[2018-08-24 17:41] MicahMcKittrick-MSFT commented on #13899
@robertdsmithii where are you seeing this information? In the doc -TimeGrain has a value of 1 minute

![image](https://user-images.githubusercontent.com/32313503/44599116-21d91380-a78a-11e8-85cb-7fe9a83b2b1d.png)

and looking directly at that flag I found the following
https://docs.microsoft.com/en-us/powershell/module/AzureRM.Insights/New-AzureRmAutoscaleRule?view=azurermps-6.7.0
![image](https:/

[2018-08-24 17:41] ggailey777 commented on #13862
@jpalo have you tried using [binding expressions](https://docs.microsoft.com/azure/azure-functions/functions-triggers-bindings#binding-expressions-and-patterns) to do this?

[2018-08-24 17:41] TravisCragg-MSFT commented on #13911
@dcbrown16 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-24 17:42] kanshiG commented on #13908
You are completely right, these backups are managed by Microsoft. If you are planning for production we can enable 25 backup copies free of charge today so you do not have to struggle for reaching to us within 8 hrs.
Eventually we will charge for these extra backups But for now they are free for customers in production

.

________________________________
From: Nicholas Fowler <notifications@githu

[2018-08-24 17:44] ggailey777 commented on #13775
@girishgouda have you already [registered your extensions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#local-development-azure-functions-core-tools) locally? This is now required for Functions v2 runtime.

[2018-08-24 17:45] MarkusVi commented on #13934
Hi @Sizzl, this is correct. I will add this to the article.

#please-close

[2018-08-24 17:45] djarvis opened #13953 "How to mount Azure Files with YAML file"
Can I mount an Azure File share within a yaml file or do I have to do it with the az container create command line?  When I use the command line and then export to yaml, I do not see it, so I am thinking that it is not yet supported.

[2018-08-24 17:48] kobulloc-MSFT commented on #13599
@ghogen I ran into a separate issue that prevented me from completing the documentation.  We likely need to revisit our steps here.

[2018-08-24 17:49] femsulu commented on #13925
@DennisBaekgaard thanks for the feedback. I will pass this on to the content owner. Would be great if you can also share this product feedback directly with the Subscription/billing team using this link.
We will now close this request but please respond to @femsulu if you have any follow up questions.

[2018-08-24 17:51] KumudD commented on #13485
Fixed.

#please-close

[2018-08-24 17:51] Karishma-Tiwari-MSFT commented on #13776
@louisjvn Thanks for bringing this to our attention.
I have assigned the issue to the content author to evaluate and update as appropriate.

The commands to Create VMs inside an availability set should include these parameters:
`[--vnet-name] [--subnet]`

For reference, this doc states correctly the steps to create VMs inside an availability set using Powershell for Windows Vm, using Vnet and subn

[2018-08-24 17:52] ggailey777 commented on #11442
@jrichview, as @MicahMcKittrick-MSFT mentions these quickstart topics are kept simple "by design." They rely on code from the various trigger templates. It sounds like we need to do a better job pointing folks to more advanced topics after they complete these quickstarts?

[2018-08-24 17:53] #13925 closed

[2018-08-24 17:56] MikeChristensen opened #13954 "Full documentation of YAML and JSON format"
I've seen a few examples of Service Fabric Mesh application definitions in both JSON and YAML, however I can't see to find documentation on all the various options and how to do some of the more advanced things.  Are these formats documented somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee008384-eb96-4f20-8

[2018-08-24 17:58] #13815 closed

[2018-08-24 17:58] MicahMcKittrick-MSFT commented on #13902
@skepick depending on how many instances you put in your scaleset the first node may not actually be associated with NAT rule 50000.

For example, I created a scaleset with 2 instances. You can see this by going to the scale set and selecting instances

![image](https://user-images.githubusercontent.com/32313503/44599809-551ca200-a78c-11e8-86f3-db1aca999eb4.png)

and if you go to the NAT rules cre

[2018-08-24 17:58] #13902 closed

[2018-08-24 17:59] ggailey777 commented on #12941
We already recommend using the Always On setting to prevent timeout. I'm not sure what needs to be updates from a documentation perspective.

[2018-08-24 18:06] Adam-Smith-MSFT commented on #13919
Thank you for the valuable feedback,we are investigating the issue.

[2018-08-24 18:08] ggailey777 commented on #10352
@kgeorge314 I am in the process of documenting how to deploy from a VSTS build pipeline (versus the App Service-driven CI) by using the [Azure App Service Web Deploy task](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=vsts). This task, in the v4 (preview), now supports both zip deployment and running from the package. That article is still "in develo

[2018-08-24 18:11] vasivara-MSFT commented on #13910
@KeiroKamioka0000  Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-24 18:12] #10352 closed

[2018-08-24 18:12] EVMartinez opened #13955 "Add the default timer value for "sets the placement check flag""
Hello Team,
Seems that in the current document the timer interval is missing for this timer:
sets the placement check flag, the value AFAIK is every second. could you please update it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b2c058c-077f-3791-326e-d8a800966821
* Version Independent ID: 84a51bf1-7f58-814c-9e5d-6

[2018-08-24 18:13] MicahMcKittrick-MSFT commented on #11442
@ggailey777 I think that is a good takeaway from here. We have seen quite a bit of feedback from the more advanced users so working towards implementing this might be beneficial.

[2018-08-24 18:15] manchejs0 opened #13956 "Error getting the Blob SAS access key?"
This tutorial does not work - I have associated a storage account, and subsequently a blob continer, to my IoT Hub.  I have passed a viable connection string into the code, and yet it is telling me that it is unable to generate a Blob SAS access token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9de4513d-0fc7-233a-b

[2018-08-24 18:16] manchejs0 opened #13957 "Error with Blob SAS Token"
This tutorial does not work - I have associated a storage account, and subsequently a blob continer, to my IoT Hub. I have passed a viable connection string into the code, and yet it is telling me that it is unable to generate a Blob SAS access token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6526ec7-ffd0-78da-b1

[2018-08-24 18:16] yangsiyu007 opened #13958 "Not clear how the user can identify the disk they would like to mount"
It'd be helpful to explain how the user can identify which disk displayed in the result of the command `dmesg | grep SCSI` is the one of interest.

"Here, sdc is the disk that we want" is not helpful.

I found out by reading https://chrismckee.co.uk/creating-mounting-new-drives-in-ubuntu-azure/ where it showed the command `sudo lshw -C disk`, from where I identified the disk by looking at its size

[2018-08-24 18:18] MarileeTurscak-MSFT commented on #13947
Can you try entering the redirect_uri without the parameters and see if it works?

[2018-08-24 18:28] LisandroSu opened #13959 "Local app insights not automatically added any more."
@AndersAbel commented on [Fri Aug 24 2018](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/49)

The doc states that

This unfortunately doesn't work anymore since the default template now references Microsoft.AspNetCore.App instead of All. I didn't get the local app insights working until I when through the setup process and chose "Or just add the SDK to try local mode"

Oh and by the way

[2018-08-24 18:29] LisandroSu commented on #13959
Hi team,

Can you check on this issue?

Thanks!

[2018-08-24 18:36] slathrop commented on #11541
Ditto, same question as @mrdfuse and @miaojiang!

[2018-08-24 18:37] djarvis commented on #13953
I figured this out.  My mistake was deploying with multiple containers in a yaml file with the command line parameters to mount the volume instead of doing it all from the command line itself.  After doing it all with the az cli I was able to do an export and observe the correct keys.

Is the full yaml specification available somewhere?

[2018-08-24 18:39] wesmc7777 commented on #12421
Thanks guys. The update should be live in this article later today.

[2018-08-24 18:42] #13910 closed

[2018-08-24 18:42] #12421 closed

[2018-08-24 18:42] Noiskee commented on #13656
Hi, sorry for the late response. Do you have plans to support AD authentication? Any timeline on that (if yes)?

[2018-08-24 18:44] christiankuhtz commented on #13913
@danyork doc should reflect the following as a callout for limitations later today:

* NAT64 (translation of IPv6 to IPv4) is not supported.

[2018-08-24 18:45] Adam-Smith-MSFT commented on #13953
@djarvis You can find the Yaml specific info here: https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv
for Azure files, this should get you started.

[2018-08-24 18:51] puigalex opened #13961 "Missing data in cluster.create()"
The complete function call is
batchai_client.clusters.create(resource_group_name, workspace_name, cluster_name,parameters).result()

otherwise the function returns that it expects an extra argument.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff76fe4e-72db-d932-2c79-dfc6cbddabe5
* Version Independent ID: 9b3b6f25-55

[2018-08-24 18:58] MarileeTurscak-MSFT commented on #13939
It seems like it's an issue with the HTTP request itself and is more likely an issue Salesforce side. Can you try opening a support ticket with them? https://help.salesforce.com/articleView?id=workcom_contact_support.htm&r=https%3A%2F%2Fwww.google.com%2F&type=5

[2018-08-24 18:59] slynickel opened #13962 "Make it more clear which users PIM email notifications go to"
Currently: "When key events occur in Azure AD Privileged Identity Management (PIM), email notifications are sent to the relevant administrator or user."

What isn't clear: Who do these emails go to? All administrators, the administrator that made the change, all users, all administrators that are eligible for the role, all administrators that have the role permanently?

---
#### Document Details

[2018-08-24 19:01] MarileeTurscak-MSFT commented on #13945
It seems that the "emails" claim is being returned by a custom OutputClaimsTransformation, the configuration of which isn't available in the samples.

You need to get the email claims dynamically created.

Please see [this thread](https://stackoverflow.com/questions/46778129/azure-ad-b2c-emails-claim-in-custom-policy) which provides a workaround to your situation.

[2018-08-24 19:03] MicahMcKittrick-MSFT commented on #13907
@tom-odon I ran through this doc but did not see any errors such as you are seeing.

I am also using a managed disk VM

[code]

Were you following this doc from beginning to end or were you applying these steps to an insisting VM?

Also, if you take the step from `Update-AzureRmVM -ResourceGroupName $resourceGroup -VM $vm` and run just `$vm` what is the output?

Mine looks like so:

[code]

[2018-08-24 19:09] MicahMcKittrick-MSFT commented on #13915
@aljo-microsoft Thanks. I will close this and follow up with you offline.

[2018-08-24 19:09] #13915 closed

[2018-08-24 19:10] TravisCragg-MSFT commented on #13911
@dcbrown16 the IP Addresses 168.63.129.16 and 169.254.169.25 are for health monitoring of a VM, and are different from a [Load Balancer's Health Probe](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-probe-overview), which can be used for more than just a VM. The Health Monitoring IP Addresses are vital for a VM to to report to Azure that it is running, and blocking those

[2018-08-24 19:12] BryanTrach-MSFT commented on #13828
@ravick4u Since we have not heard back from you and we have three others verifying the resolution, we will proceed to close out this thread. If you have any further questions, please tag me in your reply.

@Noissim Great to hear. Thank you for updating us. Have a great weekend.

[2018-08-24 19:12] #13828 closed

[2018-08-24 19:17] jason-j-MSFT commented on #13817
@nabhishek could evaluate this issue for an enhancement to the document?  A clarification may be in order as the language does seem to contradict.

[2018-08-24 19:21] toanyonebutyou opened #13963 "EAP and CHAPv2 Using Text Message"
In the documentation it calls out that EAP and CHAPv2 can only use the app verification code and/or a phone call 2 factor. I have a customer who set this up and is running just fine using text message option for 2 factor and is working well for them. Am I misunderstanding the documentation here or is there something else going on?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. I

[2018-08-24 19:28] jackbond opened #13965 "This is the most useless fucking page EVER"
Step 3... var proxyFactory = new ServiceProxyFactor

GREAT. WHERE THE FUCK DO YOU USE proxyFactory? Do you guys type this up in notepad? My guess is no, JUST FUCKING ZIP UP THE FUCKING SOLUTION FILE AND FUCKING UPLOAD IT SOMEWHERE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Ve

[2018-08-24 19:39] misholson commented on #13945
OK I figured this out. I had to do the following:

In TrustFrameworkExtensions.xml:

Add a new ClaimType for upn:

[code]

Also add the upn as an OutputClaim in the AAD Technical Profile (ContosoProfile in this example):

[code]

Then in my SignUpOrSignInWithAAD.xml file I replaced the sub OutputClaim with my upn claim. So:

[code]

After that my JWT token had the user's e-mail address in the sub

[2018-08-24 19:40] mrbullwinkle commented on #13959
@LisandroSu  thanks for moving this over here, I will take a look. I believe @AndersAbel is absolutely correct. In ASP.NET Core 2.1 the .NET team changed the NuGet packages which would change the behavior/steps involved in this doc. I will test and update the doc accordingly.

[2018-08-24 19:41] MarileeTurscak-MSFT commented on #13962
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-24 19:44] conceptdev commented on #6162
Thanks @pigling - good suggestion. I've just updated the code snippet to be more descriptive, it should be published live soon.
#please-close

[2018-08-24 19:44] Mike-Ubezzi-MSFT commented on #13951
@ranasch Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-24 19:48] IamGus29 commented on #5133
This is under Azure public peering section, stated in important filed.
"We recommend you to create Microsoft peering and connect to Azure PaaS services over Microsoft peering." over Microsoft peering/Azure public peering?
Confusing, can someone please explain.

[2018-08-24 19:51] BryanTrach-MSFT commented on #12659
@cephalin Looks like the doc was updated since. I do not see the link looping back to the same article anymore.
@davidsk Please let us know if you agree.

[2018-08-24 19:52] ggetty commented on #13939
Not sure about that as the SP Initiated flow works fine.  I'm adding the audit I got from AppInsights hoping that may help as it looks more like an error processing the request.
[
  {
    "Kind": "Headers",
    "Content": {
      "UserJourneyRecorderEndpoint": "urn:journeyrecorder:applicationinsights",
      "CorrelationId": "5744e624-418a-4bfe-92e9-c054494d8723",
      "EventInstance": "Event:Cla

[2018-08-24 19:52] jackbond opened #13968 "Are you guys familiar with the concept of samples?"
Perhaps if you guys were actually forced to UPLOAD A WORKING ***** EXAMPLE then maybe you wouldn't provide COMPLETELY USELESS ***** ***** . For example on this page, WHAT THE ***** is MyCustomHttpListener?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf35b25c-4f4c-920b-320d-8282a79ad7d3
* Version Independent ID: 07be

[2018-08-24 19:55] MicahMcKittrick-MSFT commented on #13965
@jackbond thanks for reaching out. If you feel there needs to be updates to the documents or are having issues following the documents we are happy to hear you concerns and work towards getting them addressed. We are making a large push to improve our documentation and thanks to customer feedback we have been performing multiple doc updates to address all concerns.

I can understand the frustratio

[2018-08-24 19:55] #13965 closed

[2018-08-24 19:56] tom-odon commented on #13907
@MicahMcKittrick-MSFT I was following the doc but used a pre-existing VM.

Below is my VM config:
[code]
Will try with a new VM in the tutorial.

[2018-08-24 20:00] SaurabhSharma-MSFT commented on #13819
@ryangugcloudca We do not have any timelines available yet.  Please keep an eye on similar [Azure feedback](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15718164-add-support-for-nested-groups-in-azure-ad-app-acc) and [Azure Roadmap](https://azure.microsoft.com/en-us/roadmap/?tag=azure-active-directory) for any updates.

[2018-08-24 20:01] leonardovillar opened #13969 "Value for -ClusterManifestPath in Register-ServiceFabricClusterPackage"
The value for -ClusterManifestPath in Register-ServiceFabricClusterPackage needs to be provided between quotes and not in the PS File method.
Register-ServiceFabricClusterPackage -Code -CodePackagePath "MicrosoftAzureServiceFabric.6.3.162.9494.cab"

I believe we need to update this in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-08-24 20:03] Mike-Ubezzi-MSFT commented on #13956
@manchejs0 Thanks for the feedback. We are actively investigating but wanted to clarify the actual tutorial you are following. Are you trying to follow the Python File Upload tutorial: [Upload files from your device to the cloud with IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-file-upload)? Or are you simply following the instructions to configure file upload func

[2018-08-24 20:04] FolaSoft opened #13970 "App Service Web Apps vs App Service"
Reading through this page, the reader(learner) is pulled in and out of two concepts that makes understanding fundamentals (I argue also pricing)
1) A compute "Platform" i.e App Service
2) A "Product" that is on the "Platform" i.e. App Service

Specifically,
i) The opening explanation does not differentiate the Product (Web Apps on Windows) and the Platform (a fully managed PaaS) - instead it purpo

[2018-08-24 20:07] Mike-Ubezzi-MSFT commented on #13956
It looks like you are using the Node.js version the tutorial? I am going to close this issue, and work with GitHub Issue #13957 going forward, as it references the document we want to work with. Thanks, Mike

[2018-08-24 20:07] #13956 closed

[2018-08-24 20:10] Mike-Ubezzi-MSFT commented on #13957
Customer opened a GitHub Issue against a second document that is also referenced in the tutorial. That is GitHub Issue #13956.

[2018-08-24 20:11] Mike-Ubezzi-MSFT commented on #13957
@manchejs0 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-24 20:12] vasivara-MSFT commented on #13910
@KeiroKamioka0000 the link has been fixed. Please take a look at the page

[2018-08-24 20:14] MicahMcKittrick-MSFT commented on #13936
@mphacker did you try specifying the name of the Windows Connector in the delete command? I am assuming it was a different name than the Linux connector.

Also, did you get any specific errors?

[2018-08-24 20:16] MicahMcKittrick-MSFT commented on #13937
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-24 20:18] Mike-Ubezzi-MSFT commented on #13957
@dominicbetts The Python version of this same tutorial is also not working correctly. An issue was filed through GitHub Issue #13928. There could be an issue with the `azure-iothub-device-client` and not necessarily the tutorial itself but, it appears the Node.js version of the tutorial uses different client libraries.

[2018-08-24 20:18] parakhj commented on #13932
@mchudinov could you post this as an issue in the sample itself instead of opening an issue with the article?
@MarileeTurscak-MSFT please close the issue here. it is not relevant to the document itself

[2018-08-24 20:19] MicahMcKittrick-MSFT commented on #13940
@koman can you tell me the exact command you are using that is producing the error?

Also are you running these commands on prem or in the Azure Cloud Shell? Based on the error it appears you might have lost you connection to the Azure infrastructure and need to login again using az login

[2018-08-24 20:26] operationslazlo326 opened #13971 "complete example"
Is it to much to ask for complete examples?

var proxyFactory = new ServiceProxyFactory((c) =&gt;
{
    return new FabricTransportServiceRemotingClientFactory(
    serializationProvider: new ServiceRemotingJsonSerializationProvider());
  });

WHERE EXACTLY do you put this code. This is NOT a complete example. 95%, but not usable.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-08-24 20:37] SaurabhSharma-MSFT commented on #13874
@NeighborGeek Yes, I agree with you. I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-24 20:44] drewamador12 opened #13973 "MFA Text Code Support"
Does this not have support for the multi factor text code authentication? I get the text code but where do I input that when trying to connect via RDP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b56
* Content: [Remote De

[2018-08-24 20:50] #13944 closed

[2018-08-24 20:54] TravisCragg-MSFT commented on #13816
@nnamedieh what VPN device are you using on-premise?

[2018-08-24 21:20] adewaleo commented on #13884
No problemo! Thanks!

[2018-08-24 21:28] MicahMcKittrick-MSFT commented on #13954
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 21:29] MicahMcKittrick-MSFT commented on #13955
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-24 21:30] MicahMcKittrick-MSFT commented on #13958
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-24 21:32] MikeChristensen commented on #13954
I did a bit more digging, and it seems that YAML is just supported by the Visual Studio tools, and converted to JSON under the covers which is what the CLI tools use.  So, mainly we should have good JSON documentation.  Basically my app design is something like this:

- 1 app
- 4 services: Api, Web, Cache, Sql
- 2 networks, each with public IP that exposes port 80
  - ApiNetwork maps port 80 to Ap

[2018-08-24 21:33] MicahMcKittrick-MSFT commented on #13969
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 21:35] MicahMcKittrick-MSFT commented on #13971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 21:36] junsp commented on #9340
As of August 24th,

The SDK installed version 3.2.176 (Release date: Monday, August 20, 2018) errors out with following output in visual studio 2017.  (Error message: "The PowerShell script failed to execute. See the Output window for details.)

1>------ Build started: Project: MyApplication, Configuration: Debug x64 ------
2>------ Deploy started: Project: MyApplication, Configuration: Debug x64

[2018-08-24 21:37] leonardovillar commented on #13969
Hi thanks for the response.
My name is Leonardo Villar and I'm Support Escallation Engineer in the CSS SF team. I was going thru the steps with a customer and noticed this as we were getting file not found error.
Not sure if I reported it in the correct channel.

Leonardo Villar.

Enviado do meu smartphone Samsung Galaxy.

-------- Mensagem original --------
De: Micah <notifications@github.com>
Da

[2018-08-24 21:41] TravisCragg-MSFT commented on #13485
@tmauro-nginx We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-24 21:41] #13485 closed

[2018-08-24 21:44] MicahMcKittrick-MSFT commented on #13935
@koman I ran through the doc and it took about 2 mins for the external IP. I get the same behavior on the other docs when waiting for an eternal IP. Usually takes 2-4 mins.

I notice that the console does not always update though. So I usually Control+C out and rerun the --watch command to check the status.

Have you checked your instance after say about 10 mins? If it is still pending then I am a

[2018-08-24 21:49] MarileeTurscak-MSFT commented on #13939
Can you please post this to the Azure Active Directory forum on MSDN? This type of troubleshooting question is better suited for those forums. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

This error often occurs if you modify your xaml or code-behind such that the associated assembly needs to be reloaded.  The error message often goes away if you rebuild your solution

[2018-08-24 21:52] MarileeTurscak-MSFT commented on #13945
Thanks for sharing your solution, @misholson ! @davidmu1 is there a way that we can get this information updated in the docs so that we clarify how to handle this scenario? A lot of people have been asking similar questions about email claims in B2C.

[2018-08-24 21:55] ggetty commented on #13939
Sure, for troubleshooting - will do.  My original ask was to see if there could be an IDP Initiated flow SAML/Salesforce example added in these docs.  Sorry, I probably complicated the request with the specifics of my situation.

Thanks for the help!

[2018-08-24 21:55] SaurabhSharma-MSFT commented on #13900
@mchudinov It will be X.509 certificate with SHA1 algorithm.  You can learn more about certificates in ADFS here -
- [ADFS Requirements](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/design/appendix-a--reviewing-ad-fs-requirements)
- [ADFS Deep Dive: Certificate Planning](https://blogs.technet.microsoft.com/askpfeplat/2015/01/26/adfs-deep-dive-certificate-planning/)
- [ADFS: Monit

[2018-08-24 22:03] MicahMcKittrick-MSFT commented on #13971
@operationslazlo326 based on the information in the doc you should place this code in the service manifest

![image](https://user-images.githubusercontent.com/32313503/44609969-dbe27680-a7ae-11e8-87d3-f55702e35504.png)

[2018-08-24 22:05] MicahMcKittrick-MSFT commented on #13968
We are investigating and will update you shortly.

[2018-08-24 22:05] asasine opened #13975 "Managed Disk and SSE for VMSS"
I am wondering if the same default disk encryption-at-rest applies to VM Scale Sets. I cannot find any documentation to verify.

After provisioning a VMSS which uses managed disks for a Standard_LRS storage account, the result of `Get-AzureRmVmssVMDiskEncryption` shows the OsDisk as "NotEncrypted".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-08-24 22:07] MicahMcKittrick-MSFT commented on #13954
@MikeChristensen thanks Mike for the extra details. Can you explain a bit more what you are looking for assistance with in the context of this doc?

[2018-08-24 22:10] MicahMcKittrick-MSFT commented on #13969
@leonardovillar thanks for pointing this out.

It looks like other examples actually use ./MicrosoftAzureServiceFabric.5.3.301.9590.cab

instead of just putting MicrosoftAzureServiceFabric.5.3.301.9590.cab

I will update the doc to reflect this :)

[2018-08-24 22:12] leonardovillar commented on #13969
Thanks Micah.
So, would this be the correct channel to report any Doc issue? Do we have any internal alias to do so?

Leonardo Villar

Support Escalation Engineer
Azure Developer Support
Service Fabric

•  +55 (11) 5504 2914
•   leonardo.villar@microsoft.com<mailto:leonardo.villar@microsoft.com>
•    Working Hours: Mon-Fri 9-18:00 UTC-3

[Twitter]<https://twitter.com/Microsoft>    [Facebook] <http

[2018-08-24 22:14] iainfoulds commented on #13935
@MicahMcKittrick-MSFT I'm also not seeing a delay of more than 3-4 minutes in obtaining external IP addresses when creating LBs or ingress controllers. Support may need to examine the subscription as to why the network resources can't be successfully deployed.

@koman If you're using advanced networking and the virtual network and subnet are in a different resource group than your AKS cluster, ens

[2018-08-24 22:17] MikeChristensen commented on #13954
I am looking for assistance writing JSON templates for Service Fabric Mesh.  I can find simple examples, but I cannot find detailed documentation on network resources, service properties, etc.

[2018-08-24 22:18] MicahMcKittrick-MSFT commented on #13969
@leonardovillar no problem! For simple finds like this this would be the correct channel. Such as a bug in the document.

If you are an FTE and have suggestions on how to make the doc better as a whole then we suggest reaching out to the content owner of that doc directly seeing as you can and then they will work with you or direct you to the right contact :)

[2018-08-24 22:19] MikeChristensen commented on #13954
Also can you clarify what _The current preview only supports a one to one mapping between applications and networks_ means?

[2018-08-24 22:34] MarileeTurscak-MSFT commented on #13973
Hi @drewamador12 , unfortunately MFA via RDP does not support text code authentication. The code for the RDP was written in the mid-90s and was never updated to support text messages. You can only set it up to use either phone call authentication or MFA through the Authenticator app on your phone.

I ran into this problem just this week while setting up my own MFA through NPS and RD Gateway.

[2018-08-24 22:35] MarileeTurscak-MSFT commented on #13973
I hope this resolves your question. I will close this issue but if you have further queries, please leave a comment and I will gladly continue the discussion.

[2018-08-24 22:35] #13973 closed

[2018-08-24 22:37] #13969 closed

[2018-08-24 22:38] YutongTie-MSFT commented on #13961
@puigalex
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-24 22:38] YutongTie-MSFT commented on #13704
@arbiben We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Thanks for the feedback again.

[2018-08-24 22:38] #13704 closed

[2018-08-24 22:44] MicahMcKittrick-MSFT commented on #13975
@asasine yes the same default disk encryption at rest applies to all storage accounts in Azure. This includes blobs, VHDs, VMs, VMSS, etc. Any and all data.

Encryption at rest is different than encryption on the OS level.

Encryption at rest means that the physical drives in the data centers are encrypted. So let's say a data drive made it's way out of the data center. If that happened the person

[2018-08-24 22:50] MicahMcKittrick-MSFT commented on #13954
Got it. Thanks!

@vvturecek can you chime in and assist on this one?

[2018-08-24 22:56] rajeevac commented on #13566
Thanks a ton for taking a look at this!

However, I am not sure quite sure that it still makes it easier to read the images.
![image](https://user-images.githubusercontent.com/41176593/44611430-eeac7980-a7b5-11e8-8442-bb0c7f7f1cac.png)
THat's the image with the light theme

and here is the dark theme version:
![image](https://user-images.githubusercontent.com/41176593/44611456-13a0ec80-a7b6-11e8-8

[2018-08-24 22:59] #13953 closed

[2018-08-24 23:01] MarileeTurscak-MSFT commented on #13963
Hi @toanyonebutyou , is your client able to authenticate fully that way? (i.e. the user can accept and then be granted access?)

[2018-08-24 23:01] Adam-Smith-MSFT commented on #13897
@ggirard07 I'd recommend checking the following troubleshooting documentation: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting
It provides very good troubleshooting steps for accessing blobs/containers.
Storage explorer doesn't write logs to local disk. Let me know if this helps.

[2018-08-24 23:02] YutongTie-MSFT commented on #13922
@dishajain1211  Hi, I can not reproduce your issue when I follow all the process as the document. Can you please check if there anything wrong when you build your project? Thanks!

[2018-08-24 23:06] Mike-Ubezzi-MSFT commented on #13587
@smoms If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-24 23:06] #13587 closed

[2018-08-24 23:08] MarileeTurscak-MSFT commented on #13963
@MicrosoftGuyJFlo can you confirm? I know that RDP MFA doesn't allow text authentication but EAP and CHAPv2 do not appear to have much documentation.

[2018-08-24 23:13] andrepodnozov opened #13978 "Had to delete iotedge\hsm folder for the openssl verification to pass"
I was following the steps in this document, and I came to "Connect the downstream device to the gateway" section. I was trying to do the openssl check as described in that section, and I couldnt get it to verify as OK, I kept getting this result: "Verify return code: 21 (unable to verify the first certificate)"

I fixed this problem by performing the following steps on the gateway:
- stopped ioted

[2018-08-24 23:28] dandax commented on #8057
The documentation isn't exactly correct. It should read
[code]

[2018-08-24 23:30] BryanTrach-MSFT commented on #13877
@mdraselahmed25 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-24 23:30] #13877 closed

[2018-08-24 23:33] BryanTrach-MSFT commented on #13914
@pwaila Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-24 23:33] #13914 closed

[2018-08-24 23:48] SheridanLGrant opened #13980 "Wildcard ("*") not working"
My command:
AzCopy /Source:https://&lt;source&gt;.blob.core.windows.net/test-results /SourceKey:&lt;sourcekey&gt; /Dest:https://&lt;dest&gt;.blob.core.windows.net/test-results /DestKey:/&lt;destkey&gt; /Pattern:"*.vcf"

This transfers zero files, with or without the quotes around *.vcf. There are hundreds of .vcf files in the folder. However, if I use /Pattern:filename and provide a single filenam

[2018-08-24 23:52] operationslazlo326 commented on #13971
Based on your answer, you have no idea what your talking about. Can you please get an actual answer from a developer, preferably the one that created this example?

From: Micah <notifications@github.com>
Sent: Friday, August 24, 2018 6:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Operations <operations@lazlo326.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micr

[2018-08-25 00:03] eugenes68 commented on #13464
I have the same problem. All latest AzureRM (6.7.0), Azure.Storage (4.5.0) modules are installed but still
-UseConnectedAccount is not supproted in New-AzureStorageContext

[2018-08-25 00:07] eugenes68 opened #13981 "-UseConnectedAccount is not supported in New-AzureStorageContext"
All latest AzureRM (6.7.0), Azure.Storage (4.5.0) modules are installed but still
-UseConnectedAccount is not supported in New-AzureStorageContext

PS C:\WINDOWS\system32> $ctx = New-AzureStorageContext -StorageAccountName $storageAccountName -UseConnectedAccount
New-AzureStorageContext : A parameter cannot be found that matches parameter name 'UseConnectedAccount'.
At line:1 char:72

... eContext

[2018-08-25 00:08] eugenes68 commented on #13981
All latest AzureRM (6.7.0), Azure.Storage (4.5.0) modules are installed but still
-UseConnectedAccount is not supported in New-AzureStorageContext

PS C:\WINDOWS\system32> $ctx = New-AzureStorageContext -StorageAccountName $storageAccountName -UseConnectedAccount
New-AzureStorageContext : A parameter cannot be found that matches parameter name 'UseConnectedAccount'.
At line:1 char:72
+ ... eContex

[2018-08-25 00:12] #13981 closed

[2018-08-25 00:15] eugenes68 opened #13982 "Doesn't Work!"
All latest AzureRM (6.7.0), Azure.Storage (4.5.0) modules are installed but still
-UseConnectedAccount is not supported in New-AzureStorageContext

PS C:\WINDOWS\system32&gt; $ctx = New-AzureStorageContext -StorageAccountName $storageAccountName -UseConnectedAccount
New-AzureStorageContext : A parameter cannot be found that matches parameter name 'UseConnectedAccount'.
At line:1 char:72

... eCont

[2018-08-25 00:32] alohaninja opened #13983 "Who is the Rule Approver?"
_The new rule is now awaiting approval_ - any context on who or what actually approves these CDN rules?

Our management portal states "Approval of new Rules takes up to 4 hours." - but what exactly is happening here - what does the "approval" process entail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b667f198-4035-

[2018-08-25 00:36] SnehaGunda commented on #13917
@codefoster I fixed the typo in the above PR. Please continue to make your contribution to docs. we would be happy to integrate your suggestions!

[2018-08-25 00:36] SnehaGunda commented on #13917
#please-close

[2018-08-25 00:40] #13917 closed

[2018-08-25 01:02] femsulu commented on #13760
@thuansoldier sorry for the delay in response. while conditional access policy can be used in its most restrictive form to block authorized users from accessing Azure management portal, it may be an overkill for your scenario.  will like to better understand your business policy that would require using conditional access to block access to the portal. Are you trying to base this on some geo locat

[2018-08-25 01:22] hellangleZ opened #13984 "container directly connect to ILB ?(not through kube-proxy or import)"
Hi

I have a very important question to ask Azure.

AKS services using CNI plugin, let container has VNETIP, but does it support container directly join LB backend pool, not through services ?

[2018-08-25 01:59] BryanTrach-MSFT commented on #13970
@FolaSoft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-25 02:00] BryanTrach-MSFT commented on #13981
@eugenes68 We are happy to hear that your issue is resolved. Have a great weekend.

[2018-08-25 02:01] BryanTrach-MSFT commented on #13984
@hellangleZ Thank you for the question. In order to better assist you, can you please provide us with the Azure Doc URL that you are having issues with? We look forward to your reply.

[2018-08-25 02:10] hellangleZ commented on #13984
Hi Bryan：

This doc：

https://docs.microsoft.com/en-us/azure/aks/internal-lb

Thanks

From: Bryan Trach <notifications@github.com>
Sent: Saturday, August 25, 2018 10:02 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: hellangleZ <kobe19832002@sina.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] container directly connect to ILB ?(not through ku

[2018-08-25 02:57] the-wazz opened #13985 "Out of date info"
re: https://docs.microsoft.com/en-ca/azure/app-service/app-service-mobile-how-to-configure-facebook-authentication

In the first section.

`"1. Log on to the Azure portal, and navigate to your application. Copy your URL."`
What does this mean? Nav where exactly? Dashboard? App Service? What URL? Give an example.

`"4. Click My Apps > Add a New App."`
There's no such link.

I stopped reading at tha

[2018-08-25 03:05] toanyonebutyou commented on #13963
@MarileeTurscak-MSFT Yes. They have it integrated with a Citrix netscaler for virtual desktop access. Text message auth appears to be working for a small test user group without any issue.

They do not 'accept' anything. They are using the text message MFA method which does not appear to be an option. Kind of strange you can do phone call or app verification code but cant do SMS. Well, apparently

[2018-08-25 04:55] andrepodnozov opened #13986 "Difficulty connecting leaf devices to Edge gateway"
After configuring a transparent Edge gateway on Windows, I had intermittent difficulties connecting a leaf device through it: the connection would sometimes work, but more often would timeout. I discovered that it was due to a networking issue with resolving the gateway hostname incorrectly. Let's assume that my gateway name is "gateway-host". I did the following command on my leaf device:
nslooku

[2018-08-25 08:26] koman commented on #13935
@MicahMcKittrick-MSFT Thank you for your reply. I have tried everything you suggested but always <pending>. Could you kindly assist me in getting technical support to help with this. I have totally run out of ideas here. Thank you.
@iainfoulds Thank you, everything is in the same resource-group currently. I'm still new to this so trying to keep it as simple as possible for now ;-)

[2018-08-25 08:42] koman commented on #13940
Hi,
Here is the exact sequence of commands I ran in Azure Cloud Shell -

`helm install stable/nginx-ingress --namespace kube-system

NAME:   youthful-gerbil
LAST DEPLOYED: Sat Aug 25 08:35:58 2018
NAMESPACE: kube-system
STATUS: DEPLOYED

RESOURCES:
==> v1/ServiceAccount
NAME                           SECRETS  AGE
youthful-gerbil-nginx-ingress  1        4s

==> v1beta1/ClusterRoleBinding
NAME

[2018-08-25 08:50] AndyCW opened #13987 "Incorrect statement about usage of heirarchical parents in patterns"
This doc includes: "You can't use the hierarchical entity in the pattern because only hierarchical parents are used in parents."  This should be: "You can't use the hierarchical entity in the pattern because only hierarchical parents are used in *patterns*."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1d322b-f540-

[2018-08-25 09:04] mkozioro opened #13988 "Azure redis performance documentation"
Hi,
Is this information correct?
C3	6 GB	4	1000 / 125	100,000	90,000
C4	13 GB	2	500 / 62.5	60,000	55,000
C4 has lower number of CPU cores and bandwidth than C3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cd8fcd-f18a-b17e-b5c9-815b9b0502d4
* Version Independent ID: 46082cd0-3944-7034-5682-a0fc9c2da59f
* Content: [

[2018-08-25 09:50] ksemaev commented on #11472
@neilpeterson @MicahMcKittrick-MSFT sorry that I've abandoned the issue, it got lost in all other activities. The problem stayed, but I wasn't using AKS, as I told you in first comment - I was using plain Kubernetes installation on Azure VMs. That is why I needed to now what happens in AKS, in order to repeat it manually in my Kuber on VMs.
At the moment AKS in Western Europe working fine, so I mo

[2018-08-25 12:35] kichalla commented on #13749
Thanks for the quick response guys!

[2018-08-25 14:00] AngeloGibertoni opened #13990 "Version of PowerShell module"
Thanks, this is very useful, it may be even more useful, though, if the version of the PowerShell module to be used for classic deployment was specified :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312f20c3-93cd-5340-a4d9-62be9eaec79e
* Version Independent ID: dda6aaaf-61e1-7366-319f-34ca3d8e2ba8
* Content: [Stati

[2018-08-25 15:03] girishgouda commented on #13775
Yes i have registers the extensions

________________________________
From: Glenn Gailey <notifications@github.com>
Sent: Friday, August 24, 2018 5:44 PM
To: MicrosoftDocs/azure-docs
Cc: girishgouda; Mention
Subject: Re: [MicrosoftDocs/azure-docs] The function binding for graph does not work from vscode (#13775)

@girishgouda<https://github.com/girishgouda> have you already registered your extensi

[2018-08-25 15:13] clausdenk commented on #13947
Hi, I think I found out what happend, I am sorry about the confusion.

My redirect_url was called with a fragment because I indicated "response_type=id_token" in the authorization url and this has "response_mode=fragment" as default. This is why no "?" shows up in the redirect.

I have been trying without success so far to get an access token and an id_token with the authorization code flow as des

[2018-08-25 15:29] MicahMcKittrick-MSFT commented on #13987
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-25 15:29] MicahMcKittrick-MSFT commented on #13988
Thanks for the question! We are investigating and will update you shortly.

[2018-08-25 15:30] MicahMcKittrick-MSFT commented on #13978
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-25 15:31] MicahMcKittrick-MSFT commented on #13986
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-25 15:31] MicahMcKittrick-MSFT commented on #13983
Thanks for the question! We are investigating and will update you shortly.

[2018-08-25 15:32] MicahMcKittrick-MSFT commented on #13990
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-25 15:32] MicahMcKittrick-MSFT commented on #13980
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-25 15:33] MicahMcKittrick-MSFT commented on #13982
@eugenes68 please provide up with the document you are working off of so we can better assist.

[2018-08-25 15:34] #5150 closed

[2018-08-25 15:34] #6162 closed

[2018-08-25 15:34] #6401 closed

[2018-08-25 15:34] #10697 closed

[2018-08-25 15:34] #11020 closed

[2018-08-25 15:35] #13278 closed

[2018-08-25 15:35] #13400 closed

[2018-08-25 15:35] #13743 closed

[2018-08-25 15:35] #13749 closed

[2018-08-25 15:36] #13759 closed

[2018-08-25 15:36] #13842 closed

[2018-08-25 15:36] #13903 closed

[2018-08-25 15:36] #13934 closed

[2018-08-25 15:36] #13942 closed

[2018-08-25 15:37] MicahMcKittrick-MSFT commented on #13985
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-25 18:29] xenalite opened #13992 "AAD Tenant Admin grant?"
"You are prompted to sign in to an account that has administrative privileges for the Azure AD tenant.".

Why does it require AAD tenant admin privileges? We can now read the directory data as the signed-in user without the need for admin consent. It should be able to get everything it needs as the signed-in user. Presumably it is trying to read out Enterprise Application's role assignments?

---

[2018-08-25 19:04] YutongTie-MSFT commented on #13658
@vashish76 Can you please provide which document you are referring to? Thanks a lot!

[2018-08-25 19:04] YutongTie-MSFT commented on #10571
@simeyla Thanks for your feedback, let me check it.

[2018-08-25 19:17] jackbond commented on #13971
Here you go guys, you can find A WORKING EXAMPLE, here...

https://github.com/Microsoft/service-fabric/issues/202

This page ought to be COMPLETELY reworked to include both services and actors. And for anyone operating on the assumption that the code on this page still works(if it ever did) IT DOESN'T.

[2018-08-25 19:59] operationslazlo326 opened #13993 "ReliableConcurrentQueue injection?"
How do you instantiate and use the ReliableConcurrentQueue in a reliable service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607b7f2b-fec6-f65d-86b9-21df00430b6d
* Version Independent ID: ce986993-9925-355e-acac-9ea3fc3d02d1
* Content: [ReliableConcurrentQueue in Azure Service Fabric](https://docs.microsoft.com/en-

[2018-08-25 20:01] johndonnelly commented on #12226
Thanks to all. The Configuration Error is a red herring. I created a console app where the error message led to the solution. I got this to work by logging in locally to Azure CLI so that Azure AD could return an access token. Everything worked as expected with my Web App and no Configuration Error. I posted an answer on SO at the link above.

[2018-08-25 21:12] tusharrex opened #13995 "Computer Vision API C#"
Git submodule init needed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5044fe51-0f4b-3697-41af-19df573b5b13
* Version Independent ID: 82063b3e-7576-5f41-2441-cb2a903490b9
* Content: [Computer Vision API C# tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/tutorials/csharptutorial)
*

[2018-08-25 23:07] MicahMcKittrick-MSFT commented on #13992
Thanks for the question! We are investigating and will update you shortly.

[2018-08-25 23:08] MicahMcKittrick-MSFT commented on #13993
Thanks for the question! We are investigating and will update you shortly.

[2018-08-25 23:12] MicahMcKittrick-MSFT commented on #13971
Thanks @jackbond. This feedback is exactly what we are looking for to help get the documentation where it needs to me.

I will let @vturecek chime and and then see what we can do to get this doc reworked

[2018-08-26 01:33] Tempest1000 opened #13996 "Terraform Initialization Instructions"
I'm having some trouble following these instructions.

When you setup the service principal you have the choice of setting up a password or a certificate. If you choose certificate then it isn't clear what this section means:

export ARM_CLIENT_SECRET=your_password

I added the location of my pem file, I'm not sure if that is correct.

In the JSON that was returned after I setup my service princip

[2018-08-26 04:27] tkumark opened #13997 "".NET Framework 4.7.1 Development Tools" not found in installer"
As part of prerequisites I do not see  ".NET Framework 4.7.1 Development Tools" under Individual Components &gt;&gt;.net section. Do you mean ".NET Framework 4.7.1 SDK" ? I took the latest installer 15.8.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead83747-c629-e979-f0c5-5e4ba7eab154
* Version Independent ID: 7925

[2018-08-26 05:13] MohitGargMSFT commented on #13996
@Tempest1000 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-26 05:14] MohitGargMSFT commented on #13995
@tusharrex Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-26 05:16] MohitGargMSFT commented on #13997
@tkumark Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-26 05:22] izzymsft opened #13999 "Update References to Older Resources in Docs"
Document Enhanced
https://docs.microsoft.com/en-us/azure/search/search-get-started-java

- Tomcat 8.0.x has reached end-of-life and is no longer supported. Change to 8.5.x
- JDK 8u40 is about 3 years old. Should be updated to reference latest JDK version 8u181
- Eclipse Lunar is an older version of Eclipse. Latest Version is Photon
- Pom.xml should be pom.xml (actual file name is case sensitive)

[2018-08-26 05:54] yountaechung opened #14001 "'Give the service principal access' correction"
'Give the service principal access' part is confusing and causes 403 "AuthorizationFailed" error.
Step 1 & 2 correction example below.
1. Sign in to the Azure Stack portal [https://portal.local.azurestack.external/].
2. Select More services &gt; Subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4072186c-021

[2018-08-26 06:57] vashish76 commented on #13658
Hi

I am trying to read handwritten digits from the attached image

![test](https://user-images.githubusercontent.com/42150716/44625621-491b1680-a92b-11e8-983c-a7f9b197eb48.JPG)

[2018-08-26 08:49] itzikstein opened #14002 "Support of Virtual Network service endpoints with SQL Azure Geo-replication DB"
Is this scenario planned to be supported ?
This is blocking us from securing our SQL Azure access with Virtual Network service endpoints feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c540f4bf9d
* Content: [Virtual Network

[2018-08-26 09:58] tsahi opened #14003 "TrackMetric is deprecated"
The intellisense on `TelemetryClient.TrackMetric` says "This method is deprecated... Use one of the `GetMetric(..)` overloads to get a metric object for accessing SDK pre-aggregation capabilities." Yet, I have seen no documentation on how to use `GetMetric()` and the `Metric` object it returns. Instead, there is the above paragraph, which is outdated.

---
#### Document Details

⚠ *Do not edit thi

[2018-08-26 10:50] ashrayvk opened #14004 "Typo ?"
https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-dirsync-upgrade-get-started#install-azure-ad-connect-on-separate-server

8th step.

I think you meant to leave the "Start the synchronization process as soon as the configuration completes" UNchecked to have this in staging mode. IF this is checked, the tool will start the synchronization.

---
#### Documen

[2018-08-26 11:03] ashrayvk opened #14005 "URL not linked properly"
Second step in :

https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-upgrade-previous-version#use-a-swing-migration-to-upgrade

takes us to

https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-upgrade-previous-version#move-custom-configuration-from-active-to-staging-server

This is supposed to take us to

https://docs

[2018-08-26 11:10] fe77 commented on #13049
Hi,
Getting same experience. #12522 fixes just one of the multiple errors.
For example below, computervisionAPI (2 words) are not found :

ComputerVisionAPI computerVision = new ComputerVisionAPI(
               new ApiKeyServiceClientCredentials(subscriptionKey),
               new System.Net.Http.DelegatingHandler[] { });

How can we fix this ?
Thanks.

[2018-08-26 12:19] radhefa opened #14006 "Rohit travels & tours"
It's a nice travel service agency

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9bdbfd3-8f7b-810c-dcd7-a58df729f3ad
* Version Independent ID: 4b9c0422-e69a-4444-4a6b-7ecc0b6974cd
* Content: [What is Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-introduction)

[2018-08-26 12:54] #13791 closed

[2018-08-26 13:26] megamorf commented on #13282
We are affected as well. Our jira instance runs behind a Traefik reverse proxy that does SSL termination and the SSO plugin's settings only show http based endpoints instead of https.

[2018-08-26 13:58] gsacavdm commented on #13534
Ping @femsulu , please close this issue.

[2018-08-26 14:08] dandax commented on #8057
I don't really have sample code. I'm using the [Microsoft.AspNetCore.Authentication.AzureADB2C.UI](https://github.com/aspnet/AADIntegration) library that's included with new ASP.NET Core 2.1 Web Applications, and selected authentication is "Work or School Accounts". All it requires is settings in the appsettings.json file. Looks something like this:
[code]
Note the `Instance` and `Domain` settings

[2018-08-26 14:21] sanjaynarang opened #14007 "Simulated environment not working"
Link give at top - "Test drive Analytics on our simulated data" is not working. it's giving this error:

The Application Insights resource 'Demo' was not found. It may have been deleted.
Open your Application Insights resource in the Azure portal, and then click Analytics.

If that doesn't work, please let us know, quoting this correlation id: e21f65a1-05fe-4715-9061-bd3dd9416304

---
#### Documen

[2018-08-26 14:44] RogAshwood commented on #11095
Same issue for me as well. Can anyone advise

[2018-08-26 14:50] munir94 opened #14008 "App Service Compatibility"
Currently im am running asdk 1805, and i hit some issue during installation of app service 1.3 as it need at least 1807 version. Is there any where i can request app service version 1.2 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b745d67-f3a8-3a4a-5b89-c0e5851ef5e0
* Version Independent ID: 82cdad50-be4d-fdb1-7da

[2018-08-26 16:25] gaurav7961 commented on #7042
@nabhishek I tried using https://github.com/rawatsudhir1/ADFPythonCustomActivity tutorial, which is using Windows Server 2008 R2 SP1 VM. I installed python 2.7. I also installed all required python packages but after running adf, I am getting error as "Activity PythonGetTweets failed: Hit unexpected exception and execution failed." I am not sure what is missing, The errorlogs at batchpool are empt

[2018-08-26 17:06] BryanTrach-MSFT commented on #13999
@izzyacademy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-26 17:07] BryanTrach-MSFT commented on #14008
@munir94 Thank you for the question. Can you please provide us with the Azure Doc URL that you are having issues with? We look forward to your reply.

[2018-08-26 17:09] BryanTrach-MSFT commented on #14002
@itzikstein Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-26 17:11] BryanTrach-MSFT commented on #14003
@tsahi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-26 17:13] BryanTrach-MSFT commented on #14007
@sanjaynarang Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-26 17:14] BryanTrach-MSFT commented on #14001
@yountaechung Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-26 17:18] BryanTrach-MSFT commented on #14006
@radhefa Thank you for the feedback.

[2018-08-26 17:18] #14006 closed

[2018-08-26 17:21] BryanTrach-MSFT commented on #14004
@ashrayvk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-26 17:22] BryanTrach-MSFT commented on #14005
@ashrayvk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-26 18:25] AnilKongariMSFT commented on #13881
@ngilstrap, I was able to reproduce the same behavior and have engaged product group to suggest on next steps, I shall update you once I get response from product team.

[2018-08-26 18:41] CarlRabeler commented on #13566
@rajeevac I understand and I still have it in my backlog to reshoot the images at some point.

[2018-08-26 21:05] yravikrishna commented on #8057
Thanks for the reply.

I am using an ASP.NET MVC Web Application. I changed the settings. Still, it is not working.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Dan Dyck <notifications@github.com>
Sent: Sunday, August 26, 2018 7:08:55 AM
To: MicrosoftDocs/azure-docs
Cc: yravikrishna; Comment
Subject: Re: [MicrosoftDocs/azure-docs] How do we enable using <You

[2018-08-26 22:11] balaji830 commented on #13970
In a way I agree with @FolaSoft. I think it should be modified with more information in the first paragraph. Current wordings are okay for those who are have good understandings of PaaS and IaaS.

[2018-08-26 23:26] dcbrown16 commented on #5133
@IamGus29 I don't think you can even create new public peerings any more. I believe this is slightly out-of-date content recommending that you use Microsoft peering to connect to PaaS instead of public peering, when you had the option to do both.
You would be better served by opening a new issue to get this addressed.

[2018-08-26 23:29] dcbrown16 commented on #13911
@TravisCragg-MSFT the page you linked to explicitly says "All Load Balancer health probes originate from the IP address 168.63.129.16 as their source."
Can you please confirm with engineering if both 168.63.129.16 and 169.254.169.25 are included in the AzureLoadBalancer service tag?

[2018-08-26 23:32] tamram commented on #13941
@chrismajewski - Thanks for your feedback! We appreciate your willingness to participate in the community.

I've added Go to the list of languages. This change should go live shortly.

#please-close

[2018-08-27 01:16] milan-filipovic-lfx commented on #13422
Hi @TravisCragg-MSFT

Vincent opened this issue on my behalf. I would like to know if there is any interruption to client connections when renewing a certificate on an Application Gateway listener, as per the steps documented by Microsoft. My personal testing suggests there’s no interruption, Vincent’s opinion is that there would be an interruption of up to 10 minutes, a 3rd party blog suggests (b

[2018-08-27 01:17] krisbock commented on #6242
This content is still incorrect and has not been updated.
"In the New Linked Service window, select Data Store > Azure Databricks, and then select Continue."  should be 'select Compute > Azure Databricks".....

[2018-08-27 01:32] ScapyArtGroup opened #14012 "Scapy Art Group"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-27 01:56] MicrosoftGuyJFlo commented on #13963
Sounds like the NetScaler is doing the work for them probably using steps based loosely on the NPS and VPN doc. https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension-vpn

[2018-08-27 02:34] jeevansd commented on #13282
@megamorf  and @martin1856 We are going to provide some option as a workaround on this issue. In the next month we will provide some work around on this issue.

[2018-08-27 02:45] linda33wj commented on #12356
@dataangler see below screenshot for copy from ADLS which also has such option in format setting page - shown up once you choose JSON as the format. The earlier sample was to copy from Cosmos DB thus the query screen.

![image](https://user-images.githubusercontent.com/7919535/44637833-1eda5f00-a9e6-11e8-8740-de09e7b5bf4a.png)

[2018-08-27 03:06] kazshi opened #14013 "extra backup storage"
Currently only LRS is available for Backup Storage according to the following link.
https://azure.microsoft.com/en-us/pricing/details/sql-database/single/

Does it mean that the LRS backup storage is used for vCore model database?

Do you know when RA-GRS and ZRA is available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-08-27 03:10] dmacpherson2 opened #14014 "Missing Report generation prerequisites"
The separate list of prerequisites for Report generation includes "Windows PC", which is not included in the list for Profiling and throughput measurement.  This suggests that it is possible to copy the data produced on the server to a Windows PC for Report generation analysis.  However, various prerequisites apply:
•Allow 443 port: Site Recovery Deployment Planner uses this port to connect to the

[2018-08-27 04:02] z0nekill opened #14016 "Oops... An unexpected error has occurred"
Hi there,

Running the following:
* az: 2.0.44
* az dev-spaces-preview: 0.1.6
* azds: 0.1.20180814.6

I've been following the documentation for ADS / Node JS. I've recently setup a completely new AKS environment and have jumped straight into following these guides and have not touched the default AKS configuration.

I created a new aks namespace called "dev-space" with no parent namespace specifie

[2018-08-27 04:39] kazshi opened #14017 "Reducing/increasing maximum size of backup storage"
The following FAQ says "The cost does not change unless you reduce or increase that maximum." I understand that we can set maximum size of backup storage, I couldn't find a topic of how to set the maximum size of backup storage for database - where/how can I set the storage size?
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-faq#how-am-i-charged-for-storage---based-on-what-i-con

[2018-08-27 04:43] kazshi opened #14018 "Note: For a limited period through June 30th 2018, backup charges and IO charges are free of charge."
The Note information in the following link is obsolete.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-faq#how-does-the-vcore-based-usage-show-up-in-my-bill

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6183de3-cebc-e546-a5c8-3bd41878bbfd
* Version Independent ID: f90294c3-9236-2332-01bc-78fd0adb937

[2018-08-27 05:07] kazshi opened #14019 "vCore model: backup storage"
"PITR: Individual database backups are copied to RA-GRS storage are automatically. The storage size increases dynamically as the new backups are created."
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-vcore#backups-and-storage

This is related to #14017
For vCore model, do we need to set maximum storage size for backup? Or the above description is only for RA-GRS s

[2018-08-27 05:21] cuixi1222 opened #14020 "if SQL and LDAP connector are still on FR?"
recently, LDAP connector was removed from the support list for AADConnect. pls clarify the FR features

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e99c62-6718-bb07-f4c5-f6af0e03434f
* Version Independent ID: 315e1e26-b7a7-2637-d0f5-28f34588e49f
* Content: [Hybrid Identity: Directory integration tools comparison](h

[2018-08-27 06:04] ampac28 commented on #13672
@nberdy : Our data packet size vary from 4 KB to 135 KB which depends on the number of points data value we send dynamically from Device to Cloud for a Chiller . Generally 4 KB size data packet holds 250 points value for a Chiller device in our case.

[2018-08-27 06:30] ramadasv commented on #13053
Unable to use Webhooks to send alerts to Slack. Azure Alert Webhook payload isn’t accepted by Slack and hence we have to use another app (Logic App) to translate to a compatible payload. Can Azure fix this working with Slack ?

[2018-08-27 06:50] DennisBaekgaard opened #14022 "Where is there documentation for enforced states?"
We have a strange issue where something (which is not an admin) keeps resetting all 'Enabled' to the 'Enforced' state - no matter how many times we set it to enabled. The process is quite cumbersome because we have to disable the 2FA, then enable it again every single time it goes to enforced (and subsequently breaks our apps, even with the app password). So where can I find documentation regardin

[2018-08-27 07:01] trinadhkotturu commented on #13923
Can this be asigned to @saurabhsensharma ?

[2018-08-27 07:11] dev151 commented on #13930
Thanks for your reply. I'm aware that there are some limitations between Emulator and the real Azure Cosmos DB service. My feedback is however about difference between Emulator and MongoDB API (not yet tested on real service). The same code I attached in my original post works fine with native MongoDB behind the Mongo API.
Concluding: either example shows another incompatibility between MongoDB an

[2018-08-27 07:41] dcbrown16 opened #14023 "NameNode and ZooKeeper on the same node"
Is it possible to have NameNode and ZooKeeper on the same node (for any/all cluster types)?
Per the link below, it seems that Name Node runs on the head node, while ZooKeeper is described as separate nodes for each node type above.
https://stackoverflow.com/questions/19681957/azure-hdinsight-what-is-head-node-in-a-hadoop-cluster

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-08-27 07:56] rajeevac commented on #13566
Thanks!! Is there a way we can keep the issue active until then?

[2018-08-27 08:58] dishajain1211 commented on #13922
Sure, thanks!

On Sat, Aug 25, 2018 at 4:32 AM YutongTie-MSFT <notifications@github.com>
wrote:

[2018-08-27 09:09] mchudinov commented on #13859
All *Base and *Extensions policies do not have "Run now" option. Only policies like signin and signup have.
I do no know how to upload a screenshot here.

[2018-08-27 09:13] marinnedea commented on #12265
[https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-operating-systems](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-operating-systems)  - mentions Oracle 7.4 as supported, without mentioning for which kernel version (consider UEK and RHCK).
More, on [https://docs.microsoft.com/en-us/azure/vi

[2018-08-27 10:21] gmconte opened #14024 "Block a specific IP - Again"
Hi, I'm sorry to reopen this again but the final answer in #13729 was not what I asked, so I'll explain better my setup to clarify.

Client:
- BotFramework-Webchat
Channel:
- DirectLine
Server:
- Botservice composed of:
-- Consumption App Service
-- Azure Function running the bot code

Goals:
- when a user sends more than X messages, block any communication coming from **that specific user** (I'm

[2018-08-27 10:27] Anmolgan81 opened #14025 "How to move Azure VM Scale Set acroos subscription?"
How can we recreate a VM Scale set across subscription or how can we copy its disk across subscription and move it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 706ceb71-6add-c678-bdb5-ee0d9386488b
* Version Independent ID: bf4ab279-85fa-6a7a-8756-24af74fe1444
* Content: [Modify an Azure virtual machine scale set](ht

[2018-08-27 10:30] cmendible commented on #12915
Hi @adpick any news on this one?

[2018-08-27 10:37] subsarma commented on #13834
Please assign this to @vhorne

[2018-08-27 10:52] Jan-Olof opened #14026 "Moby engine rpm package?"
I see that you have added rpm packages for IoT Edge. Are there any rpm packages for moby-engine and moby-cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [How to install Azure IoT Edge on Linux](https://doc

[2018-08-27 11:10] Anmolgan81 opened #14027 "How to Move VMScale set across subscriptions?"
Hi, How can we take backups of the Managed disks, in order to move the data of the vmscale set across subscirption??

There has to be a move so that we can rebuild it like we use to do for managed disks VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 093

[2018-08-27 11:34] bubbletroubles opened #14028 "AU Central region missing"
The AU Central/Central 2 regions are missing from this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [Networking considerations with an Azure App Service environment](https://docs.microsoft.com/en-us/azu

[2018-08-27 11:34] bubbletroubles commented on #14028
Issue logged for wrong page - closing issue.

[2018-08-27 11:34] #14028 closed

[2018-08-27 11:35] PatrickvEk commented on #9052
After testing the powershell (New-SelfSignedCertificate) in combination with keyvault. I encountered this error:

[code]

Apparently calling the `PrivateKey` property of the certificate causes this exception due to lack of support of CNG certificates.
It looks like this is a known issue in the keyvault SDK (https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/650#issuecomment

[2018-08-27 11:38] bubbletroubles opened #14029 "AU Central/Central 2 regions missing"
The AU Central/Central 2 regions are missing from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80d8f411-2e7f-abc4-3e62-8b467e2409e7
* Version Independent ID: b4737b1d-b963-2ee4-aed0-558c80f02704
* Content: [Azure App Service Environment management addresses](https://docs.microsoft.com/en-us/azure/app-servi

[2018-08-27 11:47] azoumed commented on #13682
@BryanTrach-MSFT  i finded the origin of my issues , when you try to restor Vm you need delete all component befor .
thank you

[2018-08-27 11:50] ggirard07 commented on #13897
@Adam-Smith-MSFT ok thanks for the information.

I am trying to use https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac on a container. But once enabled, the user simply can't see anything in Azure Storage Explorer (Subscription node remains empty). Was wondering if logs could help me understand what is going wrong here and whether I was missing an authorization on another

[2018-08-27 11:59] santifdezmunoz opened #14030 "Assigment types are incorrect"
The assignment types that appears in the screenshot does not match with the types in the portal. The available assignment types in the portal are "Eligible" and "Active". These types on the portal also matches with ones described in this page: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-eligible-visibility

---
#### Document Details

⚠

[2018-08-27 12:13] matkoliptak opened #14032 "AddressAssignments: InstanceAddress element has to go before ReservedIPs element"
The Visual Studio 2017 would complain otherwise. This order is not documented anywhere and the XSD is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afca8a5-2a72-2370-6520-42c519fb8def
* Version Independent ID: d7aef2ab-55ed-bdf6-428b-d6afe1ba47d1
* Content: [Azure Cloud Services NetworkConfiguration Sc

[2018-08-27 12:17] hensilva opened #14033 "missing requirement"
Missing requirement to grant permissions to the service principal on the resource group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Version Independent ID: 3584b4b8-c5f5-2170-3f8a-7a9a33025a84
* Content: [How to create Linux Azure VM Images with Packer](https://docs.microsoft.c

[2018-08-27 12:31] SnoopyCoder opened #14034 "Example code is incomplete"
Hi,
the example PowerShell code above has a localhost redirect_uri which is probably wrong. Which redirect_uri do I need to specify in order to get this working?
Regards,
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4916833a-183f-27a2-b110-281915b06a27
* Version Independent ID: bd91aa56-2267-9eb4-de6e-53d4c97d

[2018-08-27 12:49] pallavijadhav1429 opened #14035 "How to create IoT edge device on IoT central?"
I want to create edge device on IoT central. please tell me if there is any possible way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e39233-1844-9b2a-9dcf-a4258133bcd2
* Version Independent ID: ca41aeb2-7c34-c14c-c59d-82a404a9155f
* Content: [What is Azure IoT Central](https://docs.microsoft.com/en-us/azure/iot-c

[2018-08-27 12:52] yehoshuadimarsky opened #14036 "Multiple Email Addresses"
Hi, thanks so much for this tutorial, I copied it and modified it for use in my system.

One question - how can I add multiple email addresses to be notified? Separate them with a comma or semicolon, or do I need to change the code somewhere?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f3e3e5-dd03-8d28-bf

[2018-08-27 13:10] nnamedieh commented on #13816
Hi @TravisCragg-MSFT ,

thanks for your reply! Unfortunately it doesn't matter which configuration I choose - with bgp enabled in connection I'm not able to download any configuration for on-prem template. Did you rebuild the environment like in the Azure Doc I linked in my last post? Maybe anyone else has the same problem?

Thank you!

[2018-08-27 13:13] jpbertles commented on #13049
I am unable to add the NuGet Package as I receive the following error: "The package 'Microsoft.Rest.ClientRuntime' tried to add a framework reference to 'System.Runtime' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance." The answers to https://stackoverflow.com/questions/31519339/install-package-failed-to-add-reference-to-syste

[2018-08-27 13:42] MGoedtel commented on #13822
@dn61858 - Thanks for your feedback and point(s).  I will file a bug for this article and get it updated as soon as I can.  #please-close.

[2018-08-27 13:48] jtuliani opened #14037 "Linux support?"
Does this feature support SQL Server running in a Linux VM? It would be nice if the article could be explicit about this, either say it's supported or list Windows-only as a limitation. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7b40d1-bbe9-c938-b06c-8380ec17f262
* Version Independent ID: 3d3f8780-cf1e-a7

[2018-08-27 13:52] borys86 opened #14038 "c# examples"
will there be any examples on how to manage short term and long term backups and policies using C# code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
* Content: [Manage Azure SQL Database long-term backup retention](ht

[2018-08-27 14:01] faceoffers28 opened #14039 "How to handle Notifications when app is closed, stopped or not runnng???"
In Step 13 of the Android instructions, it specifically mentions the following:

 The sendNotification() method should be executed when the app is not running and a notification is received.

Android instructions
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started

The current Xamarin.Android documentation does not specificall

[2018-08-27 14:28] tom-odon commented on #13907
Succeeded after changing the VM name and resource group.

[2018-08-27 14:28] #13907 closed

[2018-08-27 14:39] HeidiSteen commented on #13999
#sign-off for Jacob, who is on vacation for several weeks.

[2018-08-27 15:02] faceoffers28 commented on #8111
The documentation also fails to mention how to handle Android Notifications when the app is closed, stopped or not running. In Step 13 of the Android instructions for FCM, it specifically mentions the following: The sendNotification() method should be executed when the app is not running and a notification is received. Android instructions
https://docs.microsoft.com/en-us/azure/notification-hubs/n

[2018-08-27 15:14] faceoffers28 commented on #8111
I was also able to get passed the Notification.Builder IntelliSense error by doing the following:  var builder = new Android.App.Notification.Builder(this) Even though I have the using Android.App statement, I had to add Android.App to get rid of the error. I have not been able to actually test receiving a Notification because my test device is an API level below 26 / Oreo. Hope this helps someone

[2018-08-27 15:20] mrbullwinkle commented on #14003
@kobulloc-MSFT you can assign this one to me.

[2018-08-27 15:35] Mike-Ubezzi-MSFT commented on #14013
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 15:36] Mike-Ubezzi-MSFT commented on #14017
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 15:38] Mike-Ubezzi-MSFT commented on #14018
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 15:41] rloutlaw commented on #10042
Posted live here : https://code.visualstudio.com/docs/java/java-webapp

[2018-08-27 15:41] MicahMcKittrick-MSFT commented on #13867
@yadcam I will close this for now. If you need more info just let me know and we can reopen and continue.

[2018-08-27 15:41] #13867 closed

[2018-08-27 15:42] LisandroSu opened #14041 "mistake createDatabase command"
@GitHub30 commented on [Mon Aug 27 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/672)

I got below error.
[INS-04008] Invalid combination of arguments passed from command line. One or more mandatory dependent arguments are not passed for the argument: -storageType
I run this.
dbca -silent \
       -createDatabase \
       -templateName General_Purpose.dbc \
       -gdbname cdb1 \

[2018-08-27 15:42] MicahMcKittrick-MSFT commented on #13858
@alistairl were the docs able to help?

[2018-08-27 15:42] MicahMcKittrick-MSFT commented on #13899
@robertdsmithii any update on this?

[2018-08-27 15:42] LisandroSu commented on #14041
Hi team,

Can you check on this issue reported by the user?

Thanks

[2018-08-27 15:43] MicahMcKittrick-MSFT commented on #13935
@koman thanks for the email.

I will close this issue as we are taking the problem offline.

[2018-08-27 15:43] #13935 closed

[2018-08-27 15:43] MicahMcKittrick-MSFT commented on #13936
@mphacker any update on this?

[2018-08-27 15:44] Mike-Ubezzi-MSFT commented on #14019
@kazshi Thanks for all the feedback. I am actively investigating all the documentation related issues and will get back to you soon, and update the content author with the changes needed.

[2018-08-27 15:45] Mike-Ubezzi-MSFT commented on #14038
@borys86 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 15:51] kpako396p opened #14042 "azcopy tls version"
Hi! Which version of TLS is used in azcopy 7.1? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-caff-918f47ad2f57
* Version Independent ID: 21914f58-1720-39d9-acb7-ed8475cab9d4
* Content: [Copy or move data to Azure Storage with AzCopy on Linux](https://docs.microsoft.com/en-us/azure/storage/co

[2018-08-27 15:56] scott87z opened #14043 "Link Policy to Application"
I created a new policy as: New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"AccessTokenLifetime":"02:00:00","MaxAgeSessionSingleFactor":"02:00:00"}}') -DisplayName "WebPolicyScenario" -IsOrganizationDefault $false -Type "TokenLifetimePolicy"
I am now looking to link it to one of my SAML web applications used for single-sign-on.

Add-AzureADApplicationPolicy -Id <ObjectId of th

[2018-08-27 15:59] alistairl commented on #13858
hey @MicahMcKittrick-MSFT yes, I wanted to read over them properly to do your reply justice. I think the two latter links are of marginal help as they are quite azure specific and relevant if using NSGs but less so for a vm appliance firewall. The first link is really helpful as it delves in to the detail of the extension lifecycle, how it specifically works with Linux and what the fundamental req

[2018-08-27 16:07] #13822 closed

[2018-08-27 16:10] Adam-Smith-MSFT commented on #14037
@jtuliani Thank you for the valuable feedback,we are investigating the issue.

[2018-08-27 16:11] Adam-Smith-MSFT commented on #14014
@dmacpherson2 Thank you for the valuable feedback,we are investigating the issue.

[2018-08-27 16:17] mattbriggs commented on #14001
@yountaechung  Thanks for your feedback. I am making the update. Cheers! Matt #sign-off

[2018-08-27 16:30] mphacker commented on #13936
Yes.  Sorry for the delay.  I did try it again by passing in the  os-type parameter and it did uninstall the windows connector.   I am not sure why that same command failed to work previously.

I would recommend updating the documentation at https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet to show using the os-type parameter in the Remove Virtual Kubelet section.   The documentation walk

[2018-08-27 16:34] goncalvesj commented on #13622
@femsulu I just sent the email. Thanks!
I checked with the account administrator and for some reason he cant see this subscription.
Same in portal, I can raise a support ticket for all my other subscription except this one, it doesn't even appear on the drop-down.

[2018-08-27 16:41] MicahMcKittrick-MSFT commented on #10495
@iainfoulds @mmacy would either of you have any contacts that could help further on this?

[2018-08-27 16:43] MicahMcKittrick-MSFT commented on #13936
@mphacker thanks for the update! Glad to hear it worked :)

I will assign to the content author to review and see if we can enhance the document.

[2018-08-27 16:48] LisandroSu commented on #5286
Heelo @vhorne

Is there an update on this issue?

Thanks!

[2018-08-27 16:50] SumitParikh commented on #6589
#please-close I have updated the page with latest information on 8/17/2018. Note - These tables are for reference purposes and are accurate only as of the date when this article was last updated. Microsoft does not plan to update them for newly added services periodically.

[2018-08-27 16:53] CarlRabeler commented on #14018
@Mike-Ubezzi-MSFT please assign to anosov1960

[2018-08-27 16:55] iainfoulds commented on #13681
Hi, @abhiramani-iptiq. Thanks for the doc suggestion. We already have this in our backlog of tasks, however I don't have a current ETA for publishing this. It would likely be a separate doc, not just an addition to this doc, as there's already quite a few things going on here.

I'll check with the engineering team if there's any quick steps they can share in the meantime, as I don't believe that H

[2018-08-27 16:55] MicahMcKittrick-MSFT commented on #13940
@koman I am not seeing the same error when running the commands.

What access level to your subscription do you have? Are you a subscription admin? You can check this by going to the portal -> Subscriptions -> Access Control

Then lookup your username and see what access level you have

[2018-08-27 16:56] MicahMcKittrick-MSFT commented on #13968
@jackbond I am waiting to hear back from the product group on this ask. Will update when I hear back

[2018-08-27 16:56] YutongTie-MSFT commented on #13922
@dishajain1211 Please tell me if you have further challenge.

[2018-08-27 17:01] MarileeTurscak-MSFT commented on #14030
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-27 17:01] MicahMcKittrick-MSFT commented on #13984
@hellangleZ with a LB in AKS you want to associate the service IP with the backend pool.

What exactly are you trying to achieve? Can you provide more background information about your end goal and use case?

[2018-08-27 17:02] CarlRabeler commented on #13566
you can request to re-open or create new issue - I am investigating this issue

[2018-08-27 17:03] MicahMcKittrick-MSFT commented on #13992
@xenalite you need to sign in with an AAD Admin account because you are creating roles and assigning users to those roles. This action can only be done by the AAD Admin.

[2018-08-27 17:04] kobulloc-MSFT commented on #14016
@z0nekill Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-27 17:04] MicahMcKittrick-MSFT commented on #13993
@operationslazlo326 I am waiting for a response from the product groups on this. Will update when I hear back.

[2018-08-27 17:08] jacerm opened #14047 "OMS workspace and Azure Automation in seperate Resource Groups"
I have an OMS workspace linked to an Azure Automation account. They exist in separate resource groups. When trying to add the Start/Stop VMs solution I get a Conflict error stating that the `Account already exists in another resource group in a subscription`. Does this not allow the OMS workspace and Azure Automation to exist in separate RGs?

---
#### Document Details

⚠ *Do not edit this section

[2018-08-27 17:08] MicahMcKittrick-MSFT commented on #13996
@jpconnock can you help assign this one correctly?

I am unable to assign to content author @echuvyrov

[2018-08-27 17:08] MarileeTurscak-MSFT commented on #13939
Thank you!

[2018-08-27 17:08] #13939 closed

[2018-08-27 17:08] #6589 closed

[2018-08-27 17:09] MarileeTurscak-MSFT commented on #13945
I am closing this out for now since you were able to find the solution.

[2018-08-27 17:09] #13945 closed

[2018-08-27 17:09] BryanTrach-MSFT commented on #14039
@faceoffers28 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-27 17:09] iainfoulds commented on #13936
@mphacker The install command shows `--os-type Both` for the install command, but I'll add a note on removal.

Essentially the Linux connector is removed first, then Windows. When the issue was first encountered in removing the Windows connector and the command subsequently re-ran, it fails as is looking for the Linux connector, which has already been removed. The command should likely fail gracef

[2018-08-27 17:09] vasivara-MSFT commented on #14036
@yehoshuadimarsky Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 17:10] BryanTrach-MSFT commented on #14028
@bubbletroubles Thank you for the feedback. We will work with you on issue #14029.

[2018-08-27 17:12] femsulu commented on #14027
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 17:13] YutongTie-MSFT commented on #13995
@cjgronlund Hi, this is a sample related issue about the document, can you please check it and update the document as necessary? And also, can you please update the exactly document author so that we can find the author at very first next time? Thanks a lot!

[2018-08-27 17:14] femsulu commented on #14034
@SnoopyCoder Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-27 17:22] iyerss opened #14049 "Feedback"
* Inconsistent usage of time indicator under sections #1, #2, and #3 - "| 15 min |", "| 15 minutes |", and "| 15 mins |".
* Missing space in the time indicator in section #4: "| 1-3 days|".
* Missing newline character before "Our Marketplace Onboarding Team will review…" in section #4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-08-27 17:23] iyerss opened #14050 "Feedback"
* Mentions Internet Explorer. Should we mention Edge instead as IE is deprecated (I think)?
* Answer to FAQ "Why is my Dev Center application rejected?" shows inconsistent indentation.
* Missing indentation to answer to FAQ "Where do I contact support with issues regarding Dev Center registration?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-08-27 17:24] iyerss opened #14052 "Feedback"
The page consistently uses https://developer.microsoft.com/en-us/windows for the Dev Center, but the parent topic (https://docs.microsoft.com/en-us/azure/marketplace/become-publisher) uses https://developer.microsoft.com/en-us/store/register in section #5. Are they both the same site? On cursory examination, probably not, but perhaps I don't fully understand how they are related.

---
#### Documen

[2018-08-27 17:25] iyerss opened #14053 "Feedback"
* Extra period in this sentence "You spread out payments instead of making one. upfront payment."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f499c98-2693-d8e4-22cf-f3214d9f06f8
* Version Independent ID: 3d2d7df1-2792-af03-9033-5a6af4ae7554
* Content: [Billing options in the Azure Marketplace](https://docs.microsof

[2018-08-27 17:26] iyerss opened #14054 "Feedback"
○ Should this FAQ be changed as we now have the Insights feature in the CPP?
			§ When will reporting be available?
			A beta version of reporting should be available soon. Reporting will be integrated into the CPP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independen

[2018-08-27 17:26] toenie23 opened #14055 "An unexpected error encountered when requesting SAS token for the Azure Storage Network bypass"
Hi,

I am running into an issue when reading data from Blob into Azure SQL DW. My database was recently restored (Friday) and I was able to read data from Blob into ADW until last night. Now I am getting an error saying "An unexpected error encountered when requesting SAS token for the Azure Storage Network bypass."

Any thoughts to why I get this error? Did the SAS token expire, thus affecting my

[2018-08-27 17:27] iyerss opened #14056 "Feedback"
A better way to present the tabular information seems to be to integrate the AppSource and Marketplace tables into one. It would save a lot of scrolling up and down as the reader tries to compare the two offerings on the same parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f44c21-34d2-cf45-3ec2-dfd799a7d440

[2018-08-27 17:27] iyerss opened #14057 "Feedback"
In the "Test Drive" section, can we change the email address to a clickable mailto link and perhaps change the wording of the sentence "Email amp-testdrive@microsoft.com to get started" to something like "Contact us at amp-testdrive@microsoft.com to get started"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7947496e-

[2018-08-27 17:27] ellacroi commented on #14054
Insights in CPP exists but not consistently across all workloads. I would like to get confirmation from Azure Operations that Insights is reporting out all the information that partners using this tracking would like to see before changing this document. #please close

[2018-08-27 17:28] iyerss opened #14058 "Feedback"
The opening line "Solution Templates are one of the main ways to publish a solution in the Marketplace" might need to be updated as we're talking about managed applications and not solution templates? Unless I'm misunderstanding this completely, which is quite possible!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5

[2018-08-27 17:28] ellacroi commented on #14057
@qianw211 would you please look at this feedback and make the update to the link?

[2018-08-27 17:29] ellacroi commented on #14049
@qianw211 please see this feedback and edit.

[2018-08-27 17:29] iyerss opened #14059 "Feedback"
Extraneous "|" at the end of this link: "Azure AD Service updates|"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd16cf1-63d4-4bbd-a13c-bfb8ab051e18
* Version Independent ID: f6b27e10-2190-82e2-4999-eb782171c4eb
* Content: [Azure Marketplace SaaS Applications Technical Publishing Guide](https://docs.microsoft.com/en

[2018-08-27 17:30] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 the simplest way to move a scaleset to a new subscription would be to create an custom image of the os you are using. Then you can move that image to a new subscription and redeploy the scaleset in that new subscription or location. Seeing as a scaleset creates and removes nodes as needed this would be the preferred way to move it to a new subscription instead of just copying the disk.

[2018-08-27 17:31] dkkapur commented on #13954
@MikeChristensen - I'm working on adding some better documentation on the options you have with YAML and JSON to describe applications correctly. This will include details on properties in resource types. If you have any specific questions in the next week or two I can definitely help out before the documentation is published - feel free to reach out to me at deep dot kapur at Microsoft dot com an

[2018-08-27 17:31] MicahMcKittrick-MSFT commented on #14041
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-27 17:32] iyerss commented on #14054
Adding @Demitrius<mailto:Demitrius.Nelon@microsoft.com>, PM Owner for CPP Insights. Demitrius, would you please confirm this? For reference, here’s the thread I started: view it on GitHub<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-docs%2Fissues%2F14054%23issuecomment-416302635&data=02%7C01%7Csasrin%40microsoft.com%7C7442d787bff34001cd5108d60

[2018-08-27 17:34] axisc opened #14060 "Please fix diagram on this page"
The diagram on this doc references a queue, but it should reflect a topic and subscription as on "Update inventory - Portal"
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-tutorial-topics-subscriptions-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c710caad-673d-1b1e-332d-5fbcae1312e6
*

[2018-08-27 17:34] YutongTie-MSFT commented on #13987
@AndyCW Thanks for the feedback. I have fixed it and you can see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 17:34] #13987 closed

[2018-08-27 17:36] MicahMcKittrick-MSFT commented on #14032
@matkoliptak thanks for pointing this out. I am sure that the schema would differ in ways depending on what you are using to deploy.

I will assign to the content author to see if it makes sense to just note this or rework the example.

[2018-08-27 17:37] ellacroi commented on #14058
@iyerss good catch...this should say managed applications. @qianw211 put this on your list as well.

[2018-08-27 17:39] TomArcher commented on #10150
@kyliel Could you please take a look at this as we now have two people experiencing the same issue. Thanks!

[2018-08-27 17:39] MicahMcKittrick-MSFT commented on #14033
@hensilva maybe I am not fully understanding the issue. We have steps to create a rbac role as needed

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/build-image-with-packer#create-azure-credentials

[2018-08-27 17:43] iainfoulds commented on #13785
@lesca Any update here? Thanks.

[2018-08-27 17:44] mrbullwinkle commented on #14007
@sanjaynarang Thank you so much for reporting this. The team has fixed the issue. Let us know if it is working for you now?

[2018-08-27 17:51] vasivara-MSFT commented on #14036
@yehoshuadimarsky You have to separate them by semicolons

![image](https://user-images.githubusercontent.com/37670439/44676077-16ceef00-a9e7-11e8-8cd2-8321a512c2cf.png)

[2018-08-27 17:51] vasivara-MSFT commented on #13879
@cconrado We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 17:53] xenalite commented on #13992
@MicahMcKittrick-MSFT Can we clarify that we are talking about the same roles?

After I ran the PS script from the guide, it created me 2 AAD applications: Web API and Native.
I can go to Azure Portal > Azure Active Directory > Application Registrations > My Cluster's Web API application > Managed application in local directory > Users & Groups > Add user.

I am not an AAD tenant administrator. My

[2018-08-27 17:54] vasivara-MSFT commented on #13853
@kiranjshetty Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 17:56] Anmolgan81 commented on #13726
Hi Douglas,

I am talking about the on-premise Data Gateway for Power BI, Logic Apps, this whole time, but I have tried moving this on my CSP migration and it successfully got moved, may be you guys want to add that into the list of moves items as well am I right?

Regards
Anmol Ganju
From: Douglas Laudenschlager<mailto:notifications@github.com>
Sent: Monday, August 27, 2018 10:53 PM
To: Microsoft

[2018-08-27 17:59] Anmolgan81 commented on #14025
Hi @Micah,

As you said ” the simplest way to move a scaleset to a new subscription would be to create an custom image of the os you are using. Then you can move that image to a new subscription and redeploy the scaleset in that new subscription or location. Seeing as a scaleset creates and removes nodes as needed this would be the preferred way to move it to a new subscription instead of just cop

[2018-08-27 18:01] Anmolgan81 opened #14061 "Related to ADDS Deletion and Recreation"
Can someone provide me a confirmation that deleting an ADDS and recreating it across CSP will not affect the VM's that are domain joined and have various Group policies on them? is there any doCumentation regarding this? How one can safely perform the migration when ADDS is being used all over the place, and it does have a VM which contains GPO's??

---
#### Document Details

⚠ *Do not edit this s

[2018-08-27 18:05] yehoshuadimarsky commented on #14036
Excellent thanks! Works.

[2018-08-27 18:06] Anmolgan81 commented on #14025
Hi @MicahMcKittrick-MSFT

What do you mean by custom image? I know I can genrealize the VM but managed generalized vm's dont support move yet as far as I know, In that case what are my options? does copying managed disks and recreating the VMScale set can be done?

[2018-08-27 18:06] vasivara-MSFT commented on #14036
@yehoshuadimarsky Perfect. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 18:06] #14036 closed

[2018-08-27 18:08] MarileeTurscak-MSFT commented on #13963
Thanks! I am closing out this issue unless you think it should be left open.

[2018-08-27 18:08] #13963 closed

[2018-08-27 18:08] MicahMcKittrick-MSFT commented on #14041
@github30 I ran through the doc but did not see any errors. What command are you running that is producing this error?

[2018-08-27 18:12] douglaslMS commented on #13726
@Anmolgan81 I have been responding to you all this time as the owner of Azure Data Factory content because I thought you were asking about the ADF Data Management Gateway. My apologies.

@tfitzmac Please consider whether it's useful as @Anmolgan81 suggests to call out explicitly that the gateway for Power BI etc can be moved successfully to a new subscription.

[2018-08-27 18:12] #13932 closed

[2018-08-27 18:12] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 here is a script to copy the manage disk to a new subscription

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-to-same-or-different-subscription

Once you copy the vhd, you will want to capture an image of the VHD as described in the first link I provided. Once you do that, you can create a new scaleset in t

[2018-08-27 18:13] YutongTie-MSFT commented on #13961
@puigalex Hi, thanks for the feedback. I have fixed it. You should see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 18:13] #13961 closed

[2018-08-27 18:14] MarileeTurscak-MSFT commented on #13678
@billmath are you looking into this? Can we close this issue?

[2018-08-27 18:16] Anmolgan81 commented on #13726
Hi @Douglas,

I think there is some miscommunication here, I had wrote in my several comments that I am talkin about the On-Premise Data Management Gateway that is present in the Azure as a resource, I know about ADF, and I also know that the Data management gateway of ADF is know as IR Runtime Gateway but we cant see that as a resource.

Sorry if my comments made some sort of confusion. But I can

[2018-08-27 18:17] #13726 closed

[2018-08-27 18:18] christiankuhtz commented on #13913
@TravisCragg-MSFT please close

[2018-08-27 18:18] SaurabhSharma-MSFT commented on #13819
@ryangugcloudca We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 18:18] #13819 closed

[2018-08-27 18:18] SaurabhSharma-MSFT commented on #13900
@mchudinov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 18:18] #13900 closed

[2018-08-27 18:18] Anmolgan81 commented on #14025
@MicahMcKittrick-MSFT  okay I got it, let me do a POC on this and reconfirm, please dont close the case untill I reconfirm.

[2018-08-27 18:26] jason-j-MSFT commented on #13946
@sharonlo101 it seems this error goes away after some time, closing the issue.

[2018-08-27 18:26] #13946 closed

[2018-08-27 18:29] TravisCragg-MSFT commented on #14001
@yountaechung We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-27 18:29] #14001 closed

[2018-08-27 18:31] #13936 closed

[2018-08-27 18:35] MarileeTurscak-MSFT commented on #14022
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-27 18:38] iainfoulds commented on #10495
This is a known request in the engineering backlog. I don't have any update as yet on this. I'll follow up with the engineering team to see if there's anything more to share.

[2018-08-27 18:39] kamazee commented on #12366
@MarileeTurscak-MSFT could you share a summary? Is it closed because it is fixed? Is it closed because it's not going to be fixed? Is it transferred to any other tracker and will be fixed (if yes, will there be an update here)?

[2018-08-27 18:43] MarileeTurscak-MSFT commented on #14020
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-27 18:44] MohitGargMSFT commented on #13890
@mansyno Please mention your new MSDN thread URL here and I will make sure you are getting necessary help on it.

[2018-08-27 18:45] LalithaMV commented on #13832
Currently we only support order-by expressions that can be pushed to the index. As such, we don’t support order-by on expressions produced by the query projection (i.e. the SELECT clause). We’re looking into adding such support in the future. One workaround is to sort on the client side. Could you please log this request in [uservoice](https://feedback.azure.com/forums/263030-azure-cosmos-db ), so

[2018-08-27 18:45] TravisCragg-MSFT commented on #13913
@danyork We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-27 18:45] #13913 closed

[2018-08-27 18:46] palphonso commented on #9199
We are running version 1.1.819.0 (test and prod environments) and we have the same issue. The Update AD FS SSL certificate is missing. Also noticed that Repair AAD and ADFS Trust from the list of additional tasks is missing.

[2018-08-27 18:51] cconrado commented on #13879
![image](https://user-images.githubusercontent.com/9168464/44679206-4e9a5e80-aa08-11e8-9101-1e92e4f0decf.png)
yes we need to open it again. In the pic I outlined the time setting for the view. @vasivara-MSFT

[2018-08-27 18:53] Alberto-Vega-MSFT commented on #14012
@ScapyArtGroup Thank you for taking the time to provide your feedback.  For some reason the issue you created has no information attached to it. Would you please add your specific feedback or issue that you are facing and the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-08-27 18:53] vasivara-MSFT commented on #13879
@cconrado Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 18:54] cconrado commented on #13879
That time stamp in the view is by default always going to be 24hr. So if I make a view I have to manually change it everytime to the data correctly. I'm saying there should be a note in docs that this is normal behavior because it drove me mad for a few days til I confirmed with the support team that this is expected.

[2018-08-27 18:55] MicrosoftGuyJFlo commented on #14022
@DennisBaekgaard Enabled to Enforced happens automatically. Information about this can be found in the doc below.
https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-userstates#enable-azure-mfa-by-changing-user-status

The recommendation now is to use conditional access rules to require MFA and no longer perform the enable step and actually just disregard that section unless

[2018-08-27 19:00] MohitGargMSFT commented on #14004
@ashrayvk Please note that Step#8 - "_On the Ready to configure page, leave the Start the synchronization process as soon as the configuration completes._" keep the default state which is checked as it is required as part of installation.

However, in Configuration Complete page, the wizard informs us that we are in staging mode, which means there is no synchronization taking place from this new s

[2018-08-27 19:03] SnehaGunda commented on #13918
@tkumark the content to bulk import, and sequential record import is present but the links are broken. I fixed them now. Import from Azure Cosmos DB section has command line examples as well as UI walk through on how to select source and destination values. Hope it helps.

#Migrate data from one Azure Cosmos DB collection to another Azure Cosmos DB collections
dt.exe /s:DocumentDB /s.ConnectionStr

[2018-08-27 19:04] SnehaGunda commented on #13918
#please-close

[2018-08-27 19:06] SnehaGunda commented on #13832
#please-close

[2018-08-27 19:07] cijothomas commented on #14003
@tsahi You can use this doc/sample until official docs are updated:
https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/Test/Microsoft.ApplicationInsights.Test/Shared/Metrics/MetricsExamples.cs

[2018-08-27 19:09] MohitGargMSFT commented on #14005
@ashrayvk Thanks for reporting! I have made the necessary changes and submitted the pull request. The change will be live soon. Thanks again for the help.

[2018-08-27 19:10] Mike-Ubezzi-MSFT commented on #13832
@phenixrizen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 19:10] #13832 closed

[2018-08-27 19:10] MarileeTurscak-MSFT commented on #14030
I checked on my end and can see "Permanent" and "Eligible" as the assignment types. Can you provide any insights, @rolyon ?

![image](https://user-images.githubusercontent.com/13383753/44680184-db85ed80-a9f1-11e8-80f0-cacc782e34a0.png)

[2018-08-27 19:11] Mike-Ubezzi-MSFT commented on #13918
@tkumark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 19:11] #13918 closed

[2018-08-27 19:12] Mike-Ubezzi-MSFT commented on #13908
@nbfowler We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 19:12] #13908 closed

[2018-08-27 19:13] cjgronlund commented on #13995
@nitinme @v-deken
Please do the following:
* Check the issue noted above and correct appropriately.
* Update the author name.

[2018-08-27 19:13] #14022 closed

[2018-08-27 19:15] koman commented on #13940
Hi Micah

Ok, I am definitely not the admin for this subscription. At BMW our team
have to ask for temporary admin access when attempting certain tasks.
Do you think this error when deploying Ingress is caused by a lack of admin
rights?

I will request from the internal Azure Cloud team admin rights and try
again.

I will get back to you.

Thank you Micah.

On Mon, 27 Aug 2018 at 18:55, Micah <not

[2018-08-27 19:30] MicahMcKittrick-MSFT commented on #10495
Thanks @iainfoulds! Appreciate it :)

[2018-08-27 19:36] Anmolgan81 commented on #14025
Hi @MicahMcKittrick-MSFT I have created a VM Scale set of ubuntu imange with managed disks, but I cant generalize the virtual machine using the generalize commands which you had given me, Am I doing something wrong here?

[2018-08-27 19:36] MicahMcKittrick-MSFT commented on #13858
@alistairl thanks for the update! Unfortunately I was only able to piece together information rather than find a single one and done doc. I think the first link as you mentioned is the most useful. Mainly ensure that the VM has access to 168.63.129.1 and from there you should be set. Give it a go and if you run into issues just let me know and we can reopen and take a look :)

[2018-08-27 19:36] #13858 closed

[2018-08-27 19:39] #13899 closed

[2018-08-27 19:42] MicahMcKittrick-MSFT commented on #13940
Thanks @koman

You might not need to have full admin access but you are creating resources so you need to be enabled to do so.

Have you also tried removing the cluster and trying the doc again to see if you get the same error each time?

[2018-08-27 19:44] billmath commented on #13678
@MarileeTurscak-MSFT and @JBines

Yes thank you for this.  This is scheduled to get added but it may not be until after Ignite.  We have some high-pri items for Ignite and using Azure AD Connect over NAT is not very common.  I will leave this open until it has been added.  Feel free to ping me in a few weeks if it hasn't been added yet.  Thanks!

[2018-08-27 19:45] palphonso commented on #10974
We are running version 1.1.819.0 (test and prod environments) and we have the same issue. The Update AD FS SSL certificate is missing. Also noticed that Repair AAD and ADFS Trust from the list of additional tasks is missing.

[2018-08-27 19:45] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 sorry the instructions provided were for Windows.

Here are the ones for a Linux machine

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image

[2018-08-27 19:49] Anmolgan81 commented on #14025
When I ran the below command:

az vm generalize \
  --resource-group myResourceGroup \
  --name myVM

This gives me below error:

The Resource 'Microsoft.Compute/virtualMachines/ubuntuvmscaleset' under resource group 'Anmol-RG' was not found.

[2018-08-27 19:54] MarileeTurscak-MSFT commented on #12366
@kamazee I was closing the issue itself since this is now being transferred to the PG team. I will reopen untill there is an update on the bug fix from their end.

[2018-08-27 19:58] Anmolgan81 commented on #14025
I found set-azurevmss command but its not taking the -Generalized tag. I think there is no command to Generalize a VMScale set can you confirm how to do this?

[2018-08-27 20:01] shehackspurple opened #14064 "Turn off ASC"
Hi,

How does one turn off ASC?  I give workshops and I get everyone to turn it on and sometimes they need to turn it off after.  I can't find a doc explaining this.  I know that "turning off security" is a bad idea, but I need to able to tell people how to do it, and it should be available on the site.  Could we add this somewhere?

Tanya

---
#### Document Details

⚠ *Do not edit this section. I

[2018-08-27 20:01] BryanTrach-MSFT commented on #13682
@azoumed We are happy to hear the issue is resolved. We will now proceed to close out the thread.

[2018-08-27 20:01] #13682 closed

[2018-08-27 20:02] MicahMcKittrick-MSFT commented on #14025
Instead of creating a new Scaleset with the VHD can you just spin up a normal VM? Then run the steps. Once the image is generalized and you capture an image you then can use it to deploy a scale set.

[2018-08-27 20:03] jason-j-MSFT commented on #13823
@santhoshvellingiri
1.  I believe the public CA is recommended for untrusted networks.  Take a look at the Note section in this IR configuration manger screenshot:
![capture png1](https://user-images.githubusercontent.com/37126381/44682424-2efb3a00-a9f8-11e8-8a76-3275c8cf0081.PNG)

2.  @nabishek, not sure about this, should it be documented?

3. The FQDN is the DNS name for your node.  If your nod

[2018-08-27 20:06] Anmolgan81 commented on #14025
@MicahMcKittrick-MSFT  I cant do that, the customer is using the VM Scale set and all of its data is in that scale set, I want to take all of that data across subscriptions since he is using managed disks, I though you were talking about generalizing a vmscale set and creating VMt hrough it and then Copying the disks across subscription and creating a scale set there, THat makes a lot of sense. Wh

[2018-08-27 20:07] JasonWHowell commented on #10032
Looks like this was resolved on July 6 in the pull request. Seems like it could be resolved now. #please-close

[2018-08-27 20:07] vasivara-MSFT commented on #13879
@cconrado Thanks for the feedback.
@bwren can we get this information documented?

[2018-08-27 20:13] MicahMcKittrick-MSFT commented on #13992
@xenalite thanks for all the detail and screenshots!

@aljo-microsoft can you look into this one and confirm if the portal is displaying this incorrectly or if there is something else incorrect?

[2018-08-27 20:20] JBines commented on #13678
Thanks @billmath for the update

[2018-08-27 20:27] #10032 closed

[2018-08-27 20:32] tchristiani commented on #5123
#please-close

[2018-08-27 20:34] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 what data does the customer need to keep exactly? How is the customer using the scale set and the data on it? Are they using attached data disks? Can you tell me a bit of an overview of how their scaleset is functioning?

The point of a scale set is to scale in and out to manage a particular load. It is not a persistent service per say as nodes are being added and removed depending on

[2018-08-27 20:36] Anmolgan81 commented on #14025
Ok, so can we generalize and make a vm scale set of managed disks?

[2018-08-27 20:42] #5123 closed

[2018-08-27 20:47] Mike-Ubezzi-MSFT commented on #13718
@jimeilong I am in the process of completing this tutorial but having issues unrelated to your specific issue. Are you still experiencing this issue? Thanks for updating this issue with any additional steps you have taken to resolve this. Otherwise, given me 24 hours to look into this. Thank you!

[2018-08-27 20:47] Mike-Ubezzi-MSFT commented on #13799
@laoki We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 20:47] #13799 closed

[2018-08-27 20:51] motowilliams opened #14066 "Set-ASCJITAccessPolicy and Invoke-ASCJITAccessPolicy cmdlets not found"
What modules are `Set-ASCJITAccessPolicy` and `Invoke-ASCJITAccessPolicy` cmdlets in? All I can seemly find is one that is unofficial and that's not good. We need a way to fully automate this process without the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version

[2018-08-27 20:53] echuvyrov commented on #13996
@MicahMcKittrick-MSFT - I can take it from here.

Hello @Tempest1000, sorry that you're having trouble following the doc. We document the creation of service principal in [this section](url
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/terraform-install-configure#set-up-terraform-access-to-azure) via the command [az ad sp create-for-rbac --role="Contributor" --scopes="/subscription

[2018-08-27 20:55] DMoonesinghe opened #14067 "Replicating over Site2Site VPN"
Is this still true?
"Replicating traffic over a site-to-site virtual private network (VPN) from an on-premises site to Azure isn't supported"

I find quite a few docs that say the opposite of this including Microsoft Official Curriculum - Course 20533E: Implementing Microsoft Azure Infrastructure Solutions

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-08-27 20:55] Mike-Ubezzi-MSFT commented on #13811
@tony-gutierrez Do you have any exceptions or error messages to post here? Or take a look at the following: [Service Bus messaging exceptions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions)

Apologies for the delay in getting back to you. I was hoping to go through this tutorial but have been very busy. Thank you for any additional information you ha

[2018-08-27 21:04] TravisCragg-MSFT commented on #14008
@munir94 I would recommend upgrading to 1807, but I will see if I can find app service 12 for you.

[2018-08-27 21:25] SaurabhSharma-MSFT commented on #14064
@shehackspurple Great to hear that you are able to resolve this. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-27 21:25] #14064 closed

[2018-08-27 21:30] shehackspurple commented on #14064
I meant that I received your test email.  Sorry for the confusion.  Still
don't know how to downgrade my ASC subscription.

On Mon, Aug 27, 2018, 5:25 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2018-08-27 21:35] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 Digging further into this is seems we have changed quite a few things that makes this process not very straight forward.

@cynthn do you have some PG contacts that could help with this? It seems we have changed a few things and this is not as straight forward as it used to be.

We need to take the VHD from one of the scale set nodes, copy it to a new storage account, create a single VM

[2018-08-27 21:38] MarileeTurscak-MSFT commented on #13947
This seems to be a known issue. Have you checked [this thread ](https://stackoverflow.com/questions/30983694/get-the-users-email-address-from-azure-ad-via-openid-connect)that describes the same problem?

[2018-08-27 21:39] SaurabhSharma-MSFT commented on #14020
@cuixi1222 Thanks for pointing this out !  have assigned this issue to content author to investigate and update the document as appropriate.

@billmath Can you please help updating the document as it seems LDAP and SLQ connectors are available now in AD Connect tool.  Here is the reference - [Connector Version Release History](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-

[2018-08-27 21:45] BryanTrach-MSFT commented on #13777
@dcbrown16 and @ryanlward I do not see why you could not attempt this with two current app services.

Another option would be to use [Azure Traffic Manager](https://docs.microsoft.com/en-us/azure/app-service/web-sites-traffic-manager). Turn on the endpoint for the premium site when you are ready. Once you verify traffic is hitting the premium site, turn off the old endpoint.

We will now proceed t

[2018-08-27 21:56] BryanTrach-MSFT commented on #13927
@rifaterdemsahin Please locate the below steps on how to update the DNS settings for your Azure Web App.

1. Go to the  web app->settings->Application Settings-> App Settings section
2. Add the following: (WEBSITE_NODE_DEFAULT) should already be there.
a. WEBSITE_DNS_SERVER with value having the IP address of the primary DNS server.
b. WEBSITE_ALT_DNS_SERVER   (optional), with value having the IP

[2018-08-27 21:58] tchristiani commented on #5533
#please-close

[2018-08-27 22:00] BryanTrach-MSFT commented on #11725
@FanrayMedia I am not aware of any other ways to accomplish this task at this time. We are happy to hear that you have located the app_offline.htm as a workaround.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-27 22:00] #11725 closed

[2018-08-27 22:01] LisandroSu opened #14068 "Repositório Samples"
@rudrigodefreitasoliveira commented on [Mon Aug 27 2018](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/105)

Olá amigo, como vai?
A pasta dos scritps não está no github

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-35

[2018-08-27 22:02] LisandroSu commented on #14068
Hi team,

The scripts folder is missing from the [samples repository](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoom/wwwroot).

Thanks!

[2018-08-27 22:03] Anmolgan81 commented on #14025
But the vm scale set is built out on managed disk then we need to convert it to the .vhd? There is no other way to achieve this?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, August 28, 2018 3:05:30 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to move Az

[2018-08-27 22:07] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 I am digging into this and will update you once I have a full set of instructions for you to follow.

[2018-08-27 22:08] BryanTrach-MSFT commented on #13713
@shrishar Since this issue is not related to a particular Azure Doc, we kindly request you to post your question to the [MSDN forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=MachineLearning). Thank you for your understanding.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2018-08-27 22:08] #13713 closed

[2018-08-27 22:08] tchristiani commented on #6543
#please-close

[2018-08-27 22:09] TravisCragg-MSFT commented on #13911
@dcbrown16 I am following up now to find out exactly what IPs are included in the AzureLoadBalancer service tag.

[2018-08-27 22:10] #6543 closed

[2018-08-27 22:12] TravisCragg-MSFT commented on #13422
@milan-filipovic-lfx I am following up now to get more information about interruptions when renewing a certificate. Testing the issue is always a good way to determine impact, as your specific scenario might have additional complications.

I will post any updates as soon as I am able.

[2018-08-27 22:13] Alberto-Vega-MSFT commented on #14035
@pallavijadhav1429 Thanks for your feedback! @dominicbetts I could not find any how to's showing the combination of IoT Central and IoT Edge working together.  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 22:14] Mike-Ubezzi-MSFT commented on #14055
@toenie23 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 22:17] Mike-Ubezzi-MSFT commented on #14055
@Adam-Smith-MSFT I have been working with Tony and I think his SAS token has expired and need to reconfigure his external data source with a new token but, I want to ensure that is the issue.

[2018-08-27 22:19] Mike-Ubezzi-MSFT commented on #14024
@gmconte Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 22:20] AnilKongariMSFT commented on #13881
@ngilstrap, there is no ETA on Azure Portal updates. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-27 22:20] #13881 closed

[2018-08-27 22:20] Mike-Ubezzi-MSFT commented on #14024
Previous GitHub Issue #13729 customer had opened.

[2018-08-27 22:31] amalik99 commented on #11541
Same Question, any update here.

[2018-08-27 22:41] femsulu commented on #14047
Hi Jacerm, both Log workspace and Azure Automation account need to be in the same subscription & resource group for this to work. This should have been flagged during the process of linking the OMS workspace to an Azure automation account/solution within the OMS portal - screenshot below. [Here](https://www.verboon.info/2017/02/how-to-link-an-oms-workspace-with-an-azure-automation-account/) is a u

[2018-08-27 22:41] #14047 closed

[2018-08-27 22:42] douglaslMS commented on #13018
@123deepak FYI I am waiting for an update from the dev who tentatively agreed to prepare this C# sample.

[2018-08-27 22:43] timmyreilly opened #14069 "The create new Cosmos DB isn't functioning from the Azure Portal"
Add an output binding &gt; Step Three is not possible from the portal anymore... I'm also having difficulties finding a CosmosDB account I created in another Resource group, so I'm using the custom configuration tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939101cd-9c92-ed8f-b241-664794db8a0d
* Version Independe

[2018-08-27 22:44] femsulu commented on #14050
@iyerss Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-27 22:46] munir94 commented on #14008
Thanks for the reply and effort @TravisCragg-MSFT , i redeploy my asdk for 1807 version, but unfortunately my deployment failed at this moment,
Here is error says.
- 8/28/2018 3:08:06 AM
VERBOSE: [SlbVips:Configure] Invoke-ScriptBlockWithRetries retry: 0, RetryTimes: 10, RetrySleepTimeInSeconds: 5 - 8/28/2018 3:08:06 AM
VERBOSE: [SlbVips:Configure] VM AzS-WAS01 of role WAS that should have access

[2018-08-27 22:47] femsulu commented on #14052
@iyerss  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-27 22:49] femsulu commented on #14053
@iyerss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 22:51] #14054 closed

[2018-08-27 22:53] femsulu commented on #14056
@iyerss Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-27 22:53] BryanTrach-MSFT commented on #14068
@LisandroSu and @rudrigodefreitasoliveira Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-27 22:54] Mike-Ubezzi-MSFT commented on #13718
I am able to reproduce this:

**Server 500 Error**
![screenshot 208](https://user-images.githubusercontent.com/37126106/44690773-e8fea000-aa10-11e8-8c91-cd26f123327d.png)

**Step 5 completed successfully:** Download the web app from GitHub, and upload it to Azure for the web app to host. To do so, run the following commands:

![screenshot 209](https://user-images.githubusercontent.com/37126106/446

[2018-08-27 22:57] TravisCragg-MSFT commented on #13983
@alohaninja Verizon's Application support team verifies all submitted rules to make sure they are valid and not malformed. They also ensure that the rules will not have any negative impact on their infrastructure or cause any network disruption.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 22:57] timmyreilly opened #14070 "Microsoft.Azure.WebJobs.Host Cannot bind parameter 'taskDocument' to typ Object&"
Followed these instructions twice but keep getting this error when testing my new function after copying the function code provided:

Error:

Function (HttpTriggerCSharp1) Error: Microsoft.Azure.WebJobs.Host: Error indexing method 'Functions.HttpTriggerCSharp1'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'taskDocument' to type Object&. Make sure the parameter Type is supported by the bind

[2018-08-27 22:58] AddedInnovation opened #14071 "Status Monitor installer link goes to a 403 page"
When you click on the Status Monitor installer link which links to http://go.microsoft.com/fwlink/?LinkId=506648, it simply shows a 403 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c8adb27-7386-3e7a-7c8f-324a5206db0d
* Version Independent ID: cc276f0a-5ddd-bcb5-8261-7c4bed92454c
* Content: [Monitor a live ASP

[2018-08-27 22:59] Alberto-Vega-MSFT commented on #14026
@Jan-Olof Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-27 23:00] TravisCragg-MSFT commented on #14008
@munir94 It looks like your WAS01 VM is unable to connect to the internet. for further assistance please  post this issue to the  [Azure Stack MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack&filter=alltypes&sort=lastpostdesc).

[2018-08-27 23:04] timmyreilly commented on #14070
Okay, so to fix it this the "Document parameter name" needs to be specific to the Object in the code - but the rest of the values in that table don't matter... For clarity it would be nice for that to be explicit in the table above, and not a "Suggested Value"
Document parameter name	taskDocument	Name that refers to the Cosmos DB object in code.

[2018-08-27 23:05] femsulu commented on #14059
@iyerss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 23:11] femsulu commented on #14061
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-27 23:12] ljliu2k opened #14072 "accuracy of the WAF DDoS faq"
The feedback is to this doc - https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq
The No answer to  "does WAF also support DDoS prevention" is causing confusion, as it contradicts to couple other Azure DDoS Protection documents that describe AppGW WAF protects Layer 7 DDoS.

Here are couple examples:
1) https://docs.microsoft.com/en-us/azure/virtual-network/ddos-prot