[2021-02-08 06:25] shashishailaj commented on #70189
@dohdoh64 Thank you for the query . We will investigate and update the thread .

[2021-02-08 06:59] taminta opened #70191 "404 error is returned for "Edge Nodes - List.""
[Enter feedback here]
We are not able to access https://docs.microsoft.com/en-us/rest/api/cdn/edgenodes/list now. 404 error is retunred.
This is needed to confirm IPs of Verizon SKU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2d68613-eaa2-12ca-d1e8-8fb2278ed534
* Version Independent ID: fb7a90f3-6eee-0d6b-59c5-580

[2021-02-08 07:01] SubhashVasarapu-MSFT commented on #70190
@vatsalyagoel, Thanks for reaching out. We will investigate and update this thread.

[2021-02-08 07:15] AnuragSharma-MSFT commented on #70006
@hwride Thanks for the valuable input to make the document correct.

We have updated the document content accordingly. The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2021-02-08 07:35] anthonysomerset opened #70192 "Typo's for AzureCLI instructions for KeyVault VM extension"
There are typos in the Azure CLI code examples

[code]

should be

[code]

the error is also similar for the vmss version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Window

[2021-02-08 07:43] jimdigriz opened #70193 "missing details on content-{encoding,transfer,type}"
Currently not documented:

 * support for submit batches of data points by using [newline delimited JSON](http://ndjson.org/)
     * unofficial source of this knowledge seems to be the [Azure Monitor telegraf plugin](https://github.com/influxdata/telegraf/blob/86e50f85b39fe9afe1b62b8e1f5ef8c268ff1894/plugins/outputs/azure_monitor/azure_monitor.go#L306)
 * support for 'content-encoding: gzip' in th

[2021-02-08 07:49] CHEEKATLAPRADEEP-MSFT commented on #70001
@dataslicer  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-08 07:49] #70001 closed

[2021-02-08 07:53] CHEEKATLAPRADEEP-MSFT commented on #70004
@daman-sachdeva Unfortunately, you cannot use Ranger DB as a external metadata stores in Azure HDInsight

Hope this helps.

[2021-02-08 07:53] #70004 closed

[2021-02-08 07:56] wolszakp commented on #70083
Yes I confirmed that there are related records. This was done togeather with MS Support.
A the end of support - there was hint to use just `Operation` table.

[2021-02-08 07:57] CHEEKATLAPRADEEP-MSFT commented on #70081
@muruganbalan  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-08 07:57] #70081 closed

[2021-02-08 07:57] SwathiDhanwada-MSFT commented on #70193
@jimdigriz Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-08 08:07] SwathiDhanwada-MSFT commented on #70083
@wolszakp  Can you please share the support case number which you have worked with MS support so that I can check and assist you accordingly?

[2021-02-08 08:16] VikasPullagura-MSFT commented on #70192
@anthonysomerset Thanks for pointing this out.

The document is updated and changes will go live soon.

[2021-02-08 08:25] #70192 closed

[2021-02-08 09:00] PramodValavala-MSFT commented on #70154
@imonkey69 The text you are referring to is under the [`Run the function locally`](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-csharp?pivots=programming-language-csharp%2F%3FWT.mc_id%3DUI-AQC#run-the-function-locally) and is correct. When running on Azure, the steps are slightly different as mention under the [`Run the function in Azure`](https://docs.micro

[2021-02-08 09:08] SubhashVasarapu-MSFT commented on #69883
@cesar-younes, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-08 09:08] #69883 closed

[2021-02-08 09:08] PramodValavala-MSFT commented on #70186
@Dirkadin the required annotations are in a separate package [`azure-functions-java-library-rabbitmq`](https://mvnrepository.com/artifact/com.microsoft.azure.functions/azure-functions-java-library-rabbitmq) unlike other bindings. We will work up a PR to add this missing information to the docs.

[2021-02-08 09:22] dcurwin commented on #70060
@joleito - Thank you for your suggestions. We've updated the documentation accordingly.

#please-close

[2021-02-08 09:22] #70060 closed

[2021-02-08 09:26] SubhashVasarapu-MSFT commented on #69891
@soderlind, Appreciate your patience. Yes, it is an automated process while working with portal but using CLI needs some more steps that include creating a temporary afdverify subdomain.
We will work on updating this in CLI docs. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-08 09:26] #69891 closed

[2021-02-08 09:28] VikasPullagura-MSFT commented on #70172
@mimckitt
Can you please check and add your comments on this.

[2021-02-08 09:29] cwestwater opened #70195 "Broken Link"
Under [Next Steps](https://docs.microsoft.com/en-us/azure/virtual-network/subnet-extension?WT.mc_id=thomasmaurer-blog-thmaure#next-steps) there is an link [Extend your subnet to Azure using vendor solutions](https://github.com/microsoft/Azure-LISP)

This link is a 404 on GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-08 09:31] AntonioNH commented on #69942
@SnehaAgrawal-MSFT, yes that was it. Thank you!

[2021-02-08 09:57] chengyu-liu-cs commented on #70094
Thanks @GiftA-MSFT

At this point, our customer requires a secure environment and all accesses should be done via private links rather than service endpoints.

We really need a solution/workaround for this ?

[2021-02-08 10:11] memildin commented on #69830
Hi @ran-ten21, thanks for the feedback and for taking the time to help us improve the docs.

I've updated the docs in response to your question.

You can connect your Google Cloud resources at either the organization or project level. Learn about the Google Cloud resource hierarchy in their online docs [here](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy).

To ma

[2021-02-08 10:11] #69830 closed

[2021-02-08 10:13] haymansfield opened #70198 "There is no mention of webhooks on this page"
A little detail on how webhooks could be used to pick up completed batches would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use batch transcription - Speech service - Azure Cognitive Ser

[2021-02-08 10:37] SubhashVasarapu-MSFT commented on #69885
@sundbing, Appreciate your patience. The doc targets towards enabling AGIC add-on in existing APPGW. A sample AGIC supported application is deployed for ingress to the cluster. AGIC will update the Application Gateway you set up earlier with corresponding routing rules to the new sample application you deployed.
We are closing this issue for now. If there are further questions regarding this matte

[2021-02-08 10:37] #69885 closed

[2021-02-08 10:38] fjod opened #70199 "Microsoft.Azure.DocumentDB.1.6.1 in cosmos db integration tests example"
Example on github does not compile because it uses 1.6.1 version of Microsoft.Azure.DocumentDB which is too old

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content: [Set up CI/CD pipeline with Azure Cosmos DB Emulat

[2021-02-08 10:52] SubhashVasarapu-MSFT commented on #70195
@cwestwater, closing this issue as the required PR is submitted and it would take some time for the changes to get reflect over the doc.
Meanwhile please try accessing the link using this URL: https://docs.microsoft.com/en-us/windows-server/manage/windows-admin-center/azure/azure-extended-network.
We are closing this issue for now. If there are further questions regarding this matter, please reply

[2021-02-08 10:52] #70195 closed

[2021-02-08 10:53] barmettlerl commented on #69635
Sure.

**Devic Twin:**
[code]

**Full Body**
[code]

[2021-02-08 10:57] shashishailaj commented on #70111
@sarah026 Thank you for the kind words. Glad that you find the RBAC documentation useful .

[2021-02-08 10:58] asanka-indrajith commented on #28250
@ketaanhshah Did you found a way?

[2021-02-08 11:16] sundbing commented on #69885
Thanks for the answer.

If one creates a config in the appgw manually, next to the one from AGIC, will this stay available on resetti g the pods in AKS?

Or will one loose every config but the one from AGIC.
If this is the case, I would expect to see a hint in the article
________________________________
From: suvasara <notifications@github.com>
Sent: Monday, February 8, 2021 11:37:43 AM
To: Micro

[2021-02-08 11:37] RohitMungi-MSFT commented on #70198
#https://github.com/MicrosoftDocs/azure-docs/issues/45220
@wolfma61 According to the referenced issue do we still need to add more details about webhooks documentation or add new examples for this feedback?

[2021-02-08 11:53] PramodValavala-MSFT commented on #69890
@krishnasingh1818 when running locally, you need to set the `APPINSIGHTS_INSTRUMENTATIONKEY` app setting in `local.settings.json` for App Insights to be used. On Azure, this might already be set for you depending on how the Azure Function was created.

Anything specific to Azure Functions is out of scope for this doc.

[2021-02-08 11:59] KrishnaG-MSFT commented on #69935
@xuegao0112 Yes, your understanding is correct but let me elaborate it for clarification purpose. In your case, agent should track windows services changes down to a 5-minutes interval and the data should utmost take a few minutes to display in Azure portal or to show up in ConfigurationData table.

To double check if it is working fine or not, I have tried to reproduce the issue in my environment

[2021-02-08 11:59] #69935 closed

[2021-02-08 11:59] #69948 closed

[2021-02-08 12:00] savjani commented on #68431
@NavtejSaini-MSFT, @AnuragSharma-MSFT - Need your help to close this issue. thanks !!!

[2021-02-08 12:32] AnuragSharma-MSFT commented on #68431
Closing this issue as document is fixed.
@NavtejSaini-MSFT @savjani

[2021-02-08 12:32] #68431 closed

[2021-02-08 12:34] AnuragSharma-MSFT commented on #70199
@fjod Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-08 12:58] a8ree commented on #54259
I'm also coming across this issue. I've mapped the share locally and the local_infile is set on the MySQL resource.
Is there a solution?

[2021-02-08 13:16] barmettlerl opened #70201 "Device twin enrichment in the testing section looks strange"
Good Morning

[code]
In this example above, the **devicelocation** is not resolved. Is this on purpose?

Have a nice day

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d11f9c-7b7f-fb19-acf9-24df508aec17
* Version Independent ID: d9f44e50-4e97-79a5-fb53-261337f7de9f
* Content: [Tutorial - Use Azure IoT Hub message enr

[2021-02-08 13:18] barmettlerl commented on #42092
#70201

[2021-02-08 13:48] JamesDLD opened #70202 "Some properties will be removed when migration to work-based mode"
Suggestion : refer this page https://docs.microsoft.com/en-us/azure/azure-monitor/app/apm-tables#table-schemasLog
Look at the word "removed" to track all properties that will be removed.
Thanks to incident 121020825001128.
This page highlights properties that will be removed when migration to work-based mode.

![image](https://user-images.githubusercontent.com/18073917/107228163-a1bbcc80-6a1c-11eb

[2021-02-08 13:51] jsandersrocks commented on #67247
Looks good.  Thanks!

[2021-02-08 13:51] #67247 closed

[2021-02-08 13:52] SwathiDhanwada-MSFT commented on #70018
@Klaas- Apologies for mentioning incorrect name.  Kindly note UM supports RHEL by executing a runbook for YUM package manager - to get updates available and install specific updates. The Product team has validated the said RHEL YUM runbook for RHEL 7.x & 6.x - but that said, since YUM & package behavior is not significantly changed in RHEL 8.x some scenario may work. But the Product team has not y

[2021-02-08 13:57] AshokPeddakotla-MSFT commented on #70201
@barmettlerl Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 14:02] tomconte opened #70203 "Questions and remarks"
Hi, I have a few questions and remarks about this page/sample...

- Deploying the template: this section is missing quite a few mandatory parameters that need to be included: `serverEdition` (which should be named `tier` IMHO), `storageSizeMB`, `haEnabled`, `availabilityZone`, `firewallRules`, `backupRetentionDays`.
- It might be easier to include a sample `parameters.json` file that regroups exam

[2021-02-08 14:08] SwathiDhanwada-MSFT commented on #70202
@JamesDLD  Thanks for information and for helping us to improve documentation. Based on the information, the document has already been updated. Do you have any further feedback on this documentation that we can improve ?

[2021-02-08 14:18] MonikaReddy-MSFT commented on #69946
@maltalex -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-08 14:18] #69946 closed

[2021-02-08 14:44] jitendraRai opened #70204 "Update token-signing algorithm with SHA 256"
The current document mentioned with SHA1 i.e.   <ds:SignatureMethod Algorithm="https://www.w3.org/2000/09/xmldsig#rsa-**sha1**"/>

and it should be updated as  <ds:SignatureMethod Algorithm="https://www.w3.org/2001/04/xmldsig-more#rsa-**sha256"** />

Reference:- https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-saml-tokens

SO Questions:- https://stackoverflow.microsoft.com

[2021-02-08 14:47] tifischer opened #70205 "Directions say to create Free account for IOthub and then it says to add a S1 tier...why?"
[Enter feedback here]

Directions say to create Free account for IOthub and then it says to add a S1 tier...why?

[Prerequisites](https://github.com/MicrosoftDocs/azure-docs/issues/70205)

![image](https://user-images.githubusercontent.com/62923178/107260176-b71c0100-69f2-11eb-9b9f-7b7955ed4f1d.png)

**Here is the blocker:** [Create base resources](https://docs.microsoft.com/en-us/azure/iot-hub/tu

[2021-02-08 15:07] OpalescentTopaz commented on #68262
Hello. Has this gained any traction?

[2021-02-08 15:28] SaurabhSharma-MSFT commented on #69921
@rbavery We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-08 15:28] #69921 closed

[2021-02-08 15:36] Klaas- commented on #70018
@SwathiDhanwada-MSFT they should validate the OS in Update Management or block updates another way if they are not sure it works :) It used to be impossible to add a RHEL8 system to update management, but now that seems to just work (maybe because it started to report to loganalytics because the omi agent now supports rhel8)

[2021-02-08 15:36] VikasPullagura-MSFT commented on #69634
@mlearned Can you please add your comments.

[2021-02-08 15:37] tigormanmsft opened #70206 "Documentation for Es_v4 missing information about cached I/O limits"
The documentation page for the Es_v4 series of VM instance types does not include the column headed as **Max cached and temp storage throughput: IOPS/MBps (cache size in GiB)** of IOPS and throughput limits, as (for example) shown in the [documentation page for the Eds_v4 series](https://docs.microsoft.com/en-us/azure/virtual-machines/edv4-edsv4-series#edsv4-series).

Please update this documentat

[2021-02-08 15:41] GiftA-MSFT commented on #70094
@chengyu-liu-cs I have shared this feedback with our product team and I'm not aware of any other workaround for integrating Azure DevOps with am via VNET at this time. Please review above response. Sorry for the inconvenience. Thanks.

[2021-02-08 15:41] #70094 closed

[2021-02-08 15:42] peoplesmeat opened #70207 "The concept of group settings is unclear"
This page states "we don't recommend that you change group settings for a label" I'm very unclear what a "group setting" for a label is? Is that the groups for which the label is published, or maybe the groups used in the labels encryption settings? Or is it the group setting for azure ad EnableMIPLabels, and toggling that off might break the groups? Is the effect going to be that when a group set

[2021-02-08 15:44] sgiovinetti opened #70208 "JSON payload error in "Contract action POST request" section"
The payload sample in the section "Contract action POST request" is clearly wrong since it is not even a valid json. Even correcting it with the below one it seems not to work on my side. I receive a 500 internal error.

Please fix it.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35805a0b-697a-884e-0025-25263

[2021-02-08 15:46] JammyB opened #70209 "Mentions OMS Workspace - Screenshots need updating"
Mentions OMS Workspace - Screenshots need updating

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae7c5f24-18f9-cf82-cdb0-daa83876616e
* Version Independent ID: 5037a08b-0455-8d9a-a4d2-a96e83cb4f00
* Content: [Set up agent-based dependency analysis in Azure Migrate Server Assessment - Azure Migrate](https://docs.micros

[2021-02-08 15:47] cshea15 opened #70210 "Dell Link broken"
The link for Dell Technologies "Go to the partner website" is broken and takes you to a 404.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0e5880-f53f-306a-09f5-a444fa09263e
* Version Independent ID: 6d23a17d-e00a-7d59-7da1-7d983f37587a
* Content: [Windows Virtual Desktop partner integrations -

[2021-02-08 15:49] Pat-Ayres opened #70211 "Node Image Release Schedule"
This doc page states

However, when I run the command to check the latest available node image version, the latest available version is the 2021.01.06 image which is a month old now.

The command I ran is
[code]

for a cluster on 1.19.6 this returns image `AKSUbuntu-1804containerd-2021.01.06`
for a cluster on 1.18.10 this returns image `AKSUbuntu-1804-2021.01.06`

Is there any further information

[2021-02-08 16:06] JayaChatterjee-MSFT commented on #69879
Hello @vladvino Could you please look into it?

[2021-02-08 16:08] xakpc commented on #69879
These are all valid hash formulas that I tested recently

**SignIn, SignUp**

**ChangePassword, ChangeProfile, SignOut, CloseAccount**

**Subscribe**

Renew, Unsubscribe

[2021-02-08 16:14] McClunatic opened #70212 "App Service internal server error when using Bearer access token"
Hi! Thanks for the great documentation. I've accomplished much of what I want to, including getting authentication and authorization set up for both my front- and back-end applications. I'm running into trouble only when I try to integrate the two.

Because of #70147 I'm using Google as my identity provider. I have enabled Authentication / Authorization in both applications. The back-end applicati

[2021-02-08 16:15] pisees opened #70213 "Add Azure NET Gatway to list support Public IPs"
Hi,
I think Azure NAT Gateway can be added to the list. It may to add to understand how it can support static outbound IPs. https://docs.microsoft.com/en-us/azure/virtual-network/nat-overview#static-ip-addresses-for-outbound-only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd95f8e2-963d-3193-ec1f-b0dd9f566ee2
* Vers

[2021-02-08 16:23] dominikhoefling opened #70214 "AAD Connect source Anchor"
[Enter feedback here]
"If you have a single forest on-premises, then the attribute you should use is objectGUID. This is also the attribute used when you use express settings in Azure AD Connect and also the attribute used by DirSync."

This is not true anymore, the source anchor (Express Installation) is ms-DS-ConistencyGUID and should also be the recommended one since AAD Connect version 1.1.553

[2021-02-08 16:28] algattik opened #70215 "Document relationship inheritance"
When inheriting from an interface, relationships are not inherited. Please document this non-obvious fact (that breaks LSP...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da072172-4002-c046-df10-b401e6df0922
* Version Independent ID: 53fe5b34-6be2-76f9-086f-2b8d19496be3
* Content: [Custom models - Azure Digital Twin

[2021-02-08 16:31] EmmaC57289 opened #70216 "Outdated screenshots"
Hello,

I work for Everbidge under the content creation team and noted that this article has some out-of-date screenshots.
We are now moving over to our new UI, and this includes some extra options in the SSO set up page.

Here is what the new screenshot should look like:
![Everbridge SSO Settings](https://user-images.githubusercontent.com/48022502/107249209-0bdb6e00-6a2b-11eb-8558-6122e71bca6c.JP

[2021-02-08 16:33] iamDanielo commented on #69815
I found that using Page Layout version = 2.1.2 this issue is fixed correctly, but when I click on "forgot password?" link the page response with

Message contains error: 'server_error',
error_description: 'AADB2C: An exception has occurred.
                              Correlation ID: xxxxxxxxxxxxxxxxxxxxxxxxxx
                              Timestamp: 2021-02-08 11:32:24Z',
error_uri: 'error_uri

[2021-02-08 16:34] JamesTran-MSFT commented on #70216
@EmmaC57289
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-08 16:36] JamesTran-MSFT commented on #70204
@jitendraRai
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-08 16:41] ggailey777 commented on #70154
Sorry for the trouble you had here @imonkey69 🙁 There was in fact a bug that we have just fixed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/145941 You should see the fix live as of 10am PST. #please-close

[2021-02-08 16:41] #70154 closed

[2021-02-08 16:47] MarkDordoy opened #70217 "Is there a Roadmap for new features regarding Azure AD Connect cloud sync"
[Enter feedback here]

Hello

It would be great to know if there is a roadmap for this product. Will it be a full replacement for AD Connect anytime soon?

I'd love to use it but we currently use the following features which are not supported:
* Support for Device Objects
* Exchange Hybrid writeback
* Allow advanced customization for attribute flows
---
#### Document Details

⚠ *Do not edit this s

[2021-02-08 16:48] RyanHill-MSFT commented on #70212
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 16:49] MarileeTurscak-MSFT commented on #70214
@dominikhoefling
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-08 16:49] MarileeTurscak-MSFT commented on #70217
@MarkDordoy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-08 16:50] YutongTie-MSFT commented on #69892
@wolfma61 Hello Wolfgang, I did some research but I have not found any materials for this topic neither any response from our internal. Could you please check on this issue to see if you have any insight here? Thanks.

[2021-02-08 16:54] YutongTie-MSFT commented on #69981
@shbijlan Hello, is there any update here? Could you please share the item number if there is a one? Thanks.

[2021-02-08 16:59] shbijlan commented on #69981
Hi, it looks like a mismatch between documentation and implementation.  "compute" is what was implemented, but documentation says "compute_target." Our documentation team will fix the doc error.

[2021-02-08 17:00] YutongTie-MSFT commented on #69981
@shbijlan Thanks. @ezwiefel Thanks for pointing out this.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-02-08 17:00] #69981 closed

[2021-02-08 17:05] NavtejSaini-MSFT commented on #69887
@DavidTrigano Let us know once the document is fixed.

[2021-02-08 17:06] imonkey69 commented on #70154
Not a problem sir. I have a lot to learn with my ambitious project I'm not
sure I'm even capable of accomplishing so it was frustrating trying to
understand just exactly what was happening and I was confused at where the
separation was between local and Azure processing.  What I ended up doing
didn't seem in-line with the doc, but what do I know right!?! ;)

This link doesn't work btw as I'm curio

[2021-02-08 17:09] ash2017 commented on #69635
@nehsin as FYI

[2021-02-08 17:12] ezYakaEagle442 opened #70221 "RFE : Provide Stop-Start AKS API+ PowerShell Module"
AKS Stop-Start feature is provided only through az cli today.

Could you please provide other ways to do so :

- button in Azure Portal
- API
- [PowerShell Module](https://docs.microsoft.com/en-us/powershell/module/az.aks/?view=azps-5.4.0)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af0

[2021-02-08 17:14] JamesTran-MSFT commented on #70207
@peoplesmeat
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-08 17:18] ggailey777 commented on #70154
The bug was that we accidentally reused the text from running locally in the run in Azure section. You instead need to expand your subscription and your new function app and then the functions:
![image](https://user-images.githubusercontent.com/1388263/107256472-67d3d180-69ee-11eb-8ffd-b1947fabad86.png)
The fix [is now live](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-funct

[2021-02-08 17:21] #70187 closed

[2021-02-08 17:31] OffColour opened #70222 "XML Namespace issue"
This doesn't work as the XML from the Azure VPN config contains i:nil="true"
This i namespace isn't in the stanadard VPN Profile and so Intune complains that it's invalid formatted XML

Tried adding the namespace and the any element into the main profile XML but this gives an error of "Result: (An attempt was made to load a program with an incorrect format.)."

---
#### Document Details

⚠ *Do not

[2021-02-08 17:32] Arnab-Developer commented on #70187
Thanks

[2021-02-08 17:37] baanders commented on #70144
Working with product team to add a section and example for this. Will continue to update status on this issue.

[2021-02-08 17:45] MicrosoftGuyJFlo commented on #25648
Because it was resolved back in 2019.
________________________________
From: bubbaiOS <notifications@github.com>
Sent: Friday, February 5, 2021 8:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Flores <Flores.John@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is there an option to do one time password for Azure MFA (i.e. if s

[2021-02-08 17:47] SaiKishor-MSFT commented on #70213
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 17:47] MonikaReddy-MSFT commented on #68262
Hello -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-02-08 17:47] lmasieri opened #70223 "Screenshot needs update"
The about page has been updated with a new piece of information (Azure directory). Not urgent, but we should update the screenshot when we can. No other updates required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91c8fec0-9316-778d-3a70-bef5f29e1e25
* Version Independent ID: 9e9c2c3d-9e6a-e884-11d7-92e6733222f6
*

[2021-02-08 17:48] MonikaReddy-MSFT commented on #70221
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-08 17:55] SatishBoddu-MSFT commented on #70205
Hello @tifischer Thanks for the inquiry on this. We are looking into this and will update you shortly.

Cc: @robinsh @asergaz @AshokPeddakotla-MSFT

[2021-02-08 17:56] LukeChung opened #70224 "How does this work like a VM Checkpoint?"
We want to create a checkpoint for a VM and was directed to this page.

This page describes creating a backup schedule every day but a checkpoint is usually just done once and never again. That's not the same as a checkpoint but I guess could be considered a backup.

Regardless, are instructions valid to just do it once? What would need to be done to turn off the daily backups and if so, would one

[2021-02-08 17:56] DerekHerman-MSFT commented on #69941
It seems there are not further question, so I will close out this issue. Feel free to tag me and we can reopen this if there are unresolved questions.

[2021-02-08 17:56] #69941 closed

[2021-02-08 17:57] mimckitt commented on #69758
#label:"duplicate"

[2021-02-08 17:57] bubbaiOS commented on #25648
@MicrosoftGuyJFlo can you link to the solution on getting a temporary code for those who have lost their phone?

[2021-02-08 17:58] mimckitt commented on #69758
#label:"doc-bug"

[2021-02-08 17:59] cynthn commented on #70113
#label:"Image Builder"

[2021-02-08 18:00] williamkbentley commented on #70181
Tested this out today, worked like a charm. I would advocate for adding a note about APPINSIGHTS_INSTRUMENTATIONKEY variable to the docs.

[2021-02-08 18:04] mikben commented on #69198
Hey @danielgerlag - the following tutorial might help here: https://docs.microsoft.com/en-us/azure/communication-services/tutorials/hmac-header-tutorial

This shows you how to generate the HMAC signature, which you should be able to add to Postman requests. cc @alexandra142 for details about why this might not work consistently via Postman.

[2021-02-08 18:04] RonnieQuan opened #70226 "RHEL 7.9 Disk Encryption"
Do we have to use exact version like in document RHEL 7.8?

What about RHEL 7.9? is Disk encryption supported?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 358673f9-fd9a-3357-bf50-4d9b7fbe6cc6
* Version Independent ID: a4978908-6539-17f7-8fb6-3d88cad7237c
* Content: [Enable Azure Disk Encryptio

[2021-02-08 18:06] SaiKishor-MSFT commented on #70222
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 18:06] chrisdusyk-iq opened #70227 "Deleting digests by timestamp example script no longer works"
The instructions around [deleting digests by timestamp](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-delete#delete-digests-by-timestamp) no longer seems to be accurate. I've written a script from the example bash script in the documentation:

[code]

When I run this, I get the following output:

![image](https://user-images.githubusercontent.com/41026008/107261329-c

[2021-02-08 18:06] MonikaReddy-MSFT commented on #70210
@chsea15 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-08 18:08] MicrosoftGuyJFlo commented on #25648
@bubbaiOS there is no option for this. An admin would have to wipe the user's registered methods and require the user to re-register for MFA.

[2021-02-08 18:11] dataslicer commented on #70001
Thank you for these 2 helpful references to supplement the information not provided on the original documentation page referenced by the metadata of this ticket.
They contains the exact details I needed to get my basic installation to work.
Thank you for your support and response.  Please do close this ticket as resolved by the 2 references you have provided.

[2021-02-08 18:11] KalyanChanumolu-MSFT commented on #70203
@tomconte Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-08 18:15] tamram commented on #70008
@dev-manager-uk - Thanks for your feedback. We do say it [here](https://docs.microsoft.com/azure/storage/blobs/object-replication-configure?tabs=portal#create-a-replication-policy-and-rules), but it's a bit hard to find:

_Before you configure object replication, create the source and destination storage accounts if they do not already exist. Both accounts must be general-purpose v2 storage accoun

[2021-02-08 18:15] #70008 closed

[2021-02-08 18:16] wolfma61 commented on #70198
our github-sample repository contains a sample that also uses webhooks

[2021-02-08 18:18] danielgerlag commented on #69198
@mikben  This process looks like it adds a ton of friction to anyone wanting to get started, I can see customers doing a PoC and getting frustrated and abandoning ACS because of this...
Should it not be possible to use Postmans built in HMAC signing feature against ACS?

[2021-02-08 18:18] MonikaReddy-MSFT commented on #70206
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-08 18:18] cijothomas opened #70228 "Document the unintended side effects of auto-flush=true"
https://docs.microsoft.com/azure/azure-monitor/app/asp-net-trace-logs#install-logging-on-your-app
For System.Diagnostics.Tracing, there is a Autoflush feature, which can be turned on by the user. This causes SDK to flush with every telemetry item, which is undesirable, and can cause issues like delayed telemetry, overloading network, inefficient transmission etc.

The doc must warn users about thi

[2021-02-08 18:22] lgayhardt commented on #70228
Hi Cijo,

I created a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1815832) for your request. I will also send you a teams message.

#please-close

[2021-02-08 18:22] #70228 closed

[2021-02-08 18:25] sbyrnes-weblogix opened #70229 "az acr login with --expose-token is an unrecognized arguments"
[Enter feedback here]

The --expose-token does not seem to be a valid argument.

az acr login --name weblogixtest --expose-token

az: error: unrecognized arguments: --expose-token

--help shows

Command
    az acr login : Log in to an Azure Container Registry through the Docker CLI.
        Docker must be installed on your machine. Once done, use 'docker logout <registry url>' to
        log out.

[2021-02-08 18:27] sbyrnes-weblogix commented on #70229
Works fine in powershell, but not on ubuntu.
az version in ubuntu is
azure-cli                         2.0.81

core                              2.0.81
telemetry                          1.0.4

Extensions:
azure-devops                      0.17.0

[2021-02-08 18:28] jstawski opened #70230 "Broken Links"
The two CDN API URLs under the "See also" section are broken. The correct ones are:

https://docs.microsoft.com/en-us/rest/api/cdn/cdn/endpoints/loadcontent
https://docs.microsoft.com/en-us/rest/api/cdn/cdn/endpoints/purgecontent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78647b5d-18f1-f152-908b-b206a3f0b94a
* Vers

[2021-02-08 18:28] bubbaiOS commented on #25648
How is that resolved then? If Azure has information about the user, they should be able to move forward with some self-service way to reset their credentials. Conditional access knows trusted devices, previous authenticated locations, recovery email info. No reason some combination of this info couldn't be used to reasonably assist a user with a lock out situation. Now you have to have an admin go

[2021-02-08 18:28] jacobmsft opened #70231 "Bastion not available"
This would have been possible if bastion was available in all regions, wouldn't it? This is a public preview service not available in all regions and doesn't help me with RDP, like the article suggests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb4a7a8-3aa2-c913-0443-286077214fbe
* Version Independent ID: a32031bd

[2021-02-08 18:32] sbyrnes-weblogix commented on #70229
Upgraded to az tools 2.18 and the command is now available.

[2021-02-08 18:32] #70229 closed

[2021-02-08 18:34] #70206 closed

[2021-02-08 18:39] tigormanmsft commented on #70206
This makes no sense.

Documentation should show what is present, not reflect internal knowledge for plans for the future.  There should not be a choice.

If it were onerous to display the correct documentation, then I could see the product team being lazy about it, but this is documented for the Eds_v4 instance types, so adding the same bits of information for Es_v4 should be a few minutes work.

[2021-02-08 18:41] rboucher commented on #69798
Docs are updated. See https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings#metric-category-is-not-supported-error

[2021-02-08 18:43] gvashishtha commented on #24800
Yes, @maxvfischer that is safe

[2021-02-08 18:45] MoeJw commented on #69798
@rboucher Thanks for the update

[2021-02-08 18:46] dataslicer commented on #69314
@MartinJaffer-MSFT please forgive me for not understanding the support model clearly.

I understand I am using a preview of an Azure Databricks premium feature.  Is it correct to interpret the "feedback forum" is for non-Premium feature requests, which is why there is a public vote component to it?  The distinction here is that certain premium functionality like conda install or updates are handic

[2021-02-08 18:57] robinsh commented on #70205
This is the the purple note indicates For the routing tutorial, which multiple endpoints are used. whith is not supposrted by the free tier of IoT Hub. We'll try to add some text to make that more clear. (It's explained in the purple Note section.)

[2021-02-08 19:11] MoeJw commented on #69798
@isaacabraham

[2021-02-08 19:14] chrisdusyk-iq commented on #70227
Quick followup, if I adjust my script to just `echo` each thing it should delete:

[code]

![image](https://user-images.githubusercontent.com/41026008/107269646-80081880-6a0f-11eb-9a43-9341a17c9b54.png)

It does return a list of things I would expect. If I copy one of its outputted lines and hardcode that to delete once from CLI, it works fine.

[2021-02-08 19:24] MonikaReddy-MSFT commented on #70210
@chsea15 -  I have reached out to the product team and I was told that they are planning on deprecating the Partners page soon.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-08 19:24] #70210 closed

[2021-02-08 19:30] JamesTran-MSFT commented on #70226
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-08 19:32] DeanGross opened #70232 "stale link"
The link to group managed service accounts overview points to a page that is no longer maintained
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c5e335-4367-b1fe-2e14-311a6f2cf81d
* Version Independent ID: a35eed80-eb37-e59c-07a4-43af4a985991
* Content: [Azure AD Connect: Accounts and permissions](https://docs.microso

[2021-02-08 19:52] pkshultz commented on #69940
Yes @psmanhas, I'll take a look. Thanks for the feedback @shiweizhang0529 .

[2021-02-08 19:54] DerekHerman-MSFT commented on #70118
@maggar I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-08 20:01] pkshultz commented on #70148
Hi @agribot2, thank you for the point-by-point feedback. I'll set aside some time to improve this doc.

[2021-02-08 20:03] JamesTran-MSFT commented on #70232
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-08 20:04] AjayKumar-MSFT commented on #70181
@williamkbentley, Glad you found the information shared by Aaron Powell (blog) was helpful for your scenario and thanks for additional tests and sharing your value feedback on the doc improvements.
@burkeholland, Requesting your comments/on williamkbentley feedback above.

[2021-02-08 20:12] anfeldma-ms commented on #69466
Hi @jeffpeiyt good question, raises a good point - bulk executor takes the "old-style" approach to implementing bulk in Java by creating a library on top of Java SDK. So the bulk executor *library* only supports Java SDK v2. New Cosmos SDKs use a "new-style" approach where bulk support is built into the SDK along with extra APIs, i.e. no additional library is required for bulk support. However unt

[2021-02-08 20:13] SatishBoddu-MSFT commented on #70208
@sgiovinetti Thanks for the feedback!.

Cc: @PatAltimore could you please take a look at this issue, that would be a great help!

[2021-02-08 20:18] AlexandraKemperMS commented on #57533
Closing for now, please feel free to reply or create a new issue if you have any further questions/feedback.
#please-close

[2021-02-08 20:18] #57533 closed

[2021-02-08 20:27] robinsh commented on #70205
The Prerequisites section to which you refer explains that you need an Azure subscription, and how to create a free one if you need one.

  *   You must have an Azure subscription. If you don't have an Azure subscription, create a free account<https://azure.microsoft.com/free/?WT.mc_id=A261C142F> before you begin.

It is not referring to the IoT Hub you must create to run the tutorial. That bit is

[2021-02-08 20:41] SnehaGunda commented on #69466
I see you also asked this question in the SDK repo and our team responded: https://github.com/Azure/azure-sdk-for-java/issues/18801

As Andy said above, we will add docs when the feature goes GA in the next few months. we will now close this issue.

#please-close

[2021-02-08 20:41] #69466 closed

[2021-02-08 20:42] femsulu commented on #70228
added triage label's and assigned to content owner.

[2021-02-08 20:47] jeffpeiyt commented on #69466
@anfeldma-ms @SnehaGunda  sounds good. Thanks for your attention.

[2021-02-08 20:49] SatishBoddu-MSFT commented on #70205
Hello @tifischer Did you get a chance to see the above responses?

**The point is:** The Prerequisites section asks the reader to create Free Azure **Account**. Once you are inside your Azure Account, you can create either A Free Tier IoTHub **or** A Paid Tier IoTHub. This particular tutorial never says to create a Free Tier IoTHub as a Prerequisite. Please let us know if that helps!

[2021-02-08 20:52] femsulu commented on #70224
Hello @LukeChung  - Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.
@dcurwin  - fyi

[2021-02-08 20:55] femsulu commented on #70209
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-08 20:56] dcurwin commented on #70224
@lukechung - You wrote, "We want to create a checkpoint for a VM and was directed to this page."

Can you tell us how you were directed to this page? As you mentioned, there's no discussion of checkpoints on this page. Perhaps the referring page is in error.

[2021-02-08 20:58] rboucher commented on #22599
#please-close Doc update in process.

[2021-02-08 20:58] #22599 closed

[2021-02-08 20:58] eduardpaul commented on #57608
Hi @James-Hamil-MSFT ! we are having exactly the same problem in Azure AD (not b2c); the application registry has a FrontChannel Logouturl configured however it is never called when a user logs out of Microsoft applications (MS Teams for example). We checked with fiddler, and no GET request is sent to our host.

![image](https://user-images.githubusercontent.com/1370426/107279603-8b7f3200-6a57-11e

[2021-02-08 21:06] SatishBoddu-MSFT commented on #70223
Thank you @lmasieri
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-08 21:15] tanmaygore commented on #60253
@ts46235, Cloud Services (classic) is the new name for Web /Worker role but the product is the same and still active. I have updated the document to reflect the name change.

[2021-02-08 21:18] rboucher commented on #39978
#reassign @saket-ms

[2021-02-08 21:41] MGrasdal commented on #68262
It is not an issue with the documentation. The issue is that the Invoke-AzVMCommand does not work properly with Cloud Shell. The documentation is, or at least was fine, until early December, 2020. At that time, something appears to have changed that broke the operation of the Invoke-AzVMCommand. I initially posted here because this was the most convenient place to get someone's attention. Please e

[2021-02-08 21:42] SatishBoddu-MSFT commented on #70215
@algattik
I have assigned the issue to the content author for further review.

[2021-02-08 21:50] rolyon commented on #69971
Hi @Gassela
Thanks for your feedback. We've updated this article with several roles. Unfortunately, it takes some time for teams to review doc changes. We'll try to keep this doc as current as possible.
thanks

[2021-02-08 21:52] rolyon commented on #69971
Let us know if you have any additional feedback.

[2021-02-08 21:52] rolyon commented on #69971
#please-close

[2021-02-08 21:52] #69971 closed

[2021-02-08 21:55] jlichwa commented on #69271
Updated "Under Resource group, select Create new. Give group a name, we use akvrotation in this tutorial."  #please-close

[2021-02-08 21:55] #69271 closed

[2021-02-08 21:55] YannMSFT opened #70236 "Typo in command examples"
Typo in example of commands

From "View key attributes and tags" example to the last one,  commands are using "--hsm-name ContosoHSM" where it shoudl be "--hsm-name Contoso**M**HSM"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a19fb7-9612-02ba-846f-b42295cbf16f
* Version Independent ID: ac20cc02-dca2-d836-68a5-83d6

[2021-02-08 21:57] MarileeTurscak-MSFT commented on #70236
@YannMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-08 22:00] MarileeTurscak-MSFT commented on #70236
Thanks! It looks like it may have been named inconsistently throughout so I made a pull request to make it consistent.

@amitbapat please review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/146048

[2021-02-08 22:00] #70236 closed

[2021-02-08 22:00] Gassela commented on #69971
Hi,
I see you updated some parts with the list I shared with you.
Could you kindly let me know why the following don't appear in the page?

If I consider AAD as master source of RBAC list, I still see no alignment with this URL.
Please helps me to understand for managing the communication with my customers.

Thanks a lot for your patience and availability to explain your choice.
Alex

Here the lis

[2021-02-08 22:03] eehindero commented on #67343
#please-close

[2021-02-08 22:03] #67343 closed

[2021-02-08 22:05] shvanderberg opened #70237 "Updates to Marketo terminology"
Hi!

My name is Steven Vanderberg and I'm a Product Manager at Marketo and we've recently made some changes that make this document out of date.

Recently we made a change where customers who have secured their Landing Page domain with SSL will have their form embed codes update to reference their landing page domain rather than their server domain. That makes the instructions to check the form em

[2021-02-08 22:07] dmitrytokarev commented on #41294
There is similar issue when using terraform: https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/application_password

[2021-02-08 22:09] rolyon commented on #69971
Hi @Gassela
Thanks for this list. Let me check with the team to see what I can find out.
thanks

[2021-02-08 22:10] SaiKishor-MSFT commented on #69938
@mayoneka We will be working internally to update this document soon. I will be closing this issue for now but feel free to re-open it if needed and we can gladly continue discussing further anytime. Thank you!

[2021-02-08 22:11] #69938 closed

[2021-02-08 22:12] rjstephan opened #70238 "Next steps link is Broken"
[Enter feedback here]
The link (https://github.com/microsoft/Azure-LISP) provided under Next steps at the very bottom results in 404 Error.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c221d52e-1959-7c59-fbb4-2e7690d5ed03
* Version Independent ID: ee419d0c-0243-d5b2-44fd-96857015b793
* Content: [Subnet extension in Az

[2021-02-08 22:14] Xiaowei-design commented on #69924
Thank you so much!

[2021-02-08 22:22] chanuengg commented on #67401
Lineage could be silently failing in starter kit, if customers are not having right permissions. Added reference in the below doc explaining the permission requirements. https://docs.microsoft.com/en-us/azure/purview/tutorial-scan-data#create-a-data-estate

#please-close

[2021-02-08 22:22] #67401 closed

[2021-02-08 22:24] baanders commented on #70215
Looking into this with the product team. Will continue to update here!

[2021-02-08 22:27] SaiKishor-MSFT commented on #70119
We will work internally to update this document. For now, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-08 22:27] #70119 closed

[2021-02-08 22:28] xuxumin opened #70240 "Great content, just one typo on the page"
This is a great document to understand how to add storage account as device after using ARM template. just in step 8, there is a typo for typing 'cmd' as 'cms'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade8c6ac-6891-3e10-5781-ccc4dcd48219
* Version Independent ID: 7c8b4653-ea6a-a470-8671-710c3a8c5702
* Content: [

[2021-02-08 22:28] JamesTran-MSFT commented on #70226
@RonnieQuan
When it comes to ADE for Linux VMs, it's essential to follow the [supported operating systems documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview#supported-vms-and-operating-systems) for each Linux distribution. Additionally, when it comes to which version can be used, it has to be the exact version documented.

For more info:
[Recommen

[2021-02-08 22:28] #70226 closed

[2021-02-08 22:29] MarileeTurscak-MSFT commented on #69907
@SAIMMINHAS is it possible that you are missing the necessary permissions? You need to be a tenant admin. https://docs.microsoft.com/en-us/azure/aks/aad-integration

[2021-02-08 22:31] omerzubair opened #70241 "how to get the 'Custom Domain Verification ID' using powershell"
Hi I am unable to get the 'Custom Domain Verification ID' using powershell.
i have lot of web apps and its very hard to collect all the TXT records manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40788e0-33cd-2bd0-f2a0-4254123a714a
* Version Independent ID: c7fb7321-2873-6aaa-ab5d-57aeee075e90
* Content: [Tut

[2021-02-08 22:33] JamesTran-MSFT commented on #70142
@rsrk2008
Thank you for your question!

Based off our documentation and ROPC flow, a password alone cannot identify a person or user.

![image](https://user-images.githubusercontent.com/36619112/107289845-7932d300-6a1a-11eb-9ff6-9ac12694adce.png)

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-02-08 22:42] ChaitanyaNaykodi-MSFT commented on #67301
Thank you @spelluru

[2021-02-08 22:43] Gassela commented on #69971
Thanks @rolyon .

I'm looking forward to hearing your news soon.

thanks again :-)

[2021-02-08 22:45] josephsctan opened #70243 "The email link CTSFeatureCrew@microsoft.com is not publicly sendable"
In the article, the email CTSFeatureCrew@microsoft.com is publicized, but when I try to send a message to that email, the response is:

What is the best way to request support ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a8e3c8-0dc9-3dba-3f03-236ca88eaa47
* Version Independent ID: 96c3dc8d-3116-c359-94a8-918fbbbf

[2021-02-08 22:46] MarileeTurscak-MSFT commented on #70217
Hi @MarkDordoy ,

Thanks for this feedback and question! There is nothing published yet, but you can check the main documentation page and the FAQ page for updates:

https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/what-is-cloud-sync

https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/reference-cloud-sync-faq

I would also check the "What's New in Azure Active Dir

[2021-02-08 22:46] #70217 closed

[2021-02-08 22:57] ChaitanyaNaykodi-MSFT commented on #70211
Hello @Pat-Ayres,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-08 23:21] niklarin opened #70245 "Paired regions: Brazil Southeast paired region is missing?"
It looks like Brazil South is the only Brazilian region in the table whereas Brazil Southeast is already available (https://azure.microsoft.com/en-us/global-infrastructure/geographies/). Can you please update the table to reflect paired region for Brazil Southeast? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-08 23:37] pho30 opened #70247 "Documentation Update"
The JSON sample should be updated for the windows event stream name from Microsoft-WindowsEvent to Microsoft-Event. The sample doesn't work when uploading via PowerShell until the stream name is changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5122a342-0e53-02db-33d5-24644b30e66a
* Version Independent ID: fafd0f

[2021-02-08 23:37] JamesTran-MSFT commented on #70147
@McClunatic
Thank you for your detailed post!

When it comes to the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-custom-policy), it sounds like you're able to follow it successfully and run the User Flows? However, after following our [GitHub sample](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa),

[2021-02-08 23:44] JamesTran-MSFT commented on #69828
@cjmakwana
Thank you for the follow up! I've reached out to Kalyan and my team regarding this and will update as soon as possible.

[2021-02-08 23:47] SnehaGunda commented on #51732
@michuny25 Thanks for the confirmation, I made the update in the above PR. Let me know if you see any issues with it.

[2021-02-08 23:47] cg6 opened #70248 "Link to discontinued product Microsoft Security Risk Detection Service"
The link to "Microsoft Security Risk Detection" goes to a page starting with:
"The Microsoft Security Risk Detection Service (MSRD) will be discontinued effective June 25, 2020."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dec1d-373d-292b-a0d2-98ed82b71e44
* Version Independent ID: 8833e5bc-fded-cda8-0126-786c72f

[2021-02-08 23:48] JamesTran-MSFT commented on #70248
@cg6
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-08 23:55] jlichwa commented on #69465
Thank you @mchudinov .Merged. Public docs will be updated by tomorrow. #please-close

[2021-02-08 23:55] #69465 closed

[2021-02-09 00:05] CaitlinV39 commented on #69931
@pantanuj This is the third step in the tutorial. Did you configure the CORS And also register your public application as described in these steps:

https://docs.microsoft.com/azure/healthcare-apis/tutorial-web-app-fhir-server
https://docs.microsoft.com/azure/healthcare-apis/tutorial-web-app-public-app-reg

Let me know if you are still having issues after following these configuration steps first.

[2021-02-09 00:07] JamesTran-MSFT commented on #70204
@jitendraRai
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-09 00:27] #51732 closed

[2021-02-09 00:37] ggailey777 commented on #70183
This has been clarified in the related PR, and the update has been published. #please-close

[2021-02-09 00:37] #70183 closed

[2021-02-09 00:39] ChaitanyaNaykodi-MSFT commented on #70245
Hello @niklarin,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 01:01] danielr11220 opened #70249 "Sign in/sign up with Apple"
How about Sign in/sign up with Apple suport for iOS apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f308c4-9c2a-06c6-d460-5b4b9ed3877f
* Version Independent ID: 9ffaa9db-650b-a250-0e16-b450d69cc3f3
* Content: [Set up direct sign-in using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-di

[2021-02-09 01:15] SaurabhSharma-MSFT commented on #70037
@afelthe Are you trying to use GitHub as Git Provider ?
![image](https://user-images.githubusercontent.com/38112130/107301916-4516dc80-6a31-11eb-899f-24b36424afb8.png)

[2021-02-09 01:31] StephenWeatherford opened #70251 "Needs to be updated with relativePath property (instead of the "uri" property) in templateLink object"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02fc2654-e6e1-12f9-6efc-696dcc407e7f
* Version Independent ID: b541405a-d07b-606f-d943-a5f1bec174cf
* Content: [Tutorial - Deploy a linked template - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deplo

[2021-02-09 01:39] ChaitanyaNaykodi-MSFT commented on #70227
Hello @chrisdusyk-iq,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 01:41] SaurabhSharma-MSFT commented on #70037
@afelthe Is your save button grayed out during linking ? Are you getting any errors ? How are you adding a library with the databricks access token to it inside Azure DevOps ?

[2021-02-09 01:42] ChaitanyaNaykodi-MSFT commented on #70230
Hello @jstawski,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 01:44] ChaitanyaNaykodi-MSFT commented on #70231
Hello @jacobmsft,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 01:47] ChaitanyaNaykodi-MSFT commented on #70237
Hello @shvanderberg,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 01:50] ChaitanyaNaykodi-MSFT commented on #70238
Hello @rjstephan,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 01:55] ChaitanyaNaykodi-MSFT commented on #70240
Hello @xuxumin,
Author has made the changes in the doc, you will able to see the changes in next 24 hours. Please let us know if you have any further concerns. Thank you!

[2021-02-09 01:55] #70240 closed

[2021-02-09 02:01] ChaitanyaNaykodi-MSFT commented on #70241
Hello @omerzubair,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 02:03] JasonWHowell commented on #69560
The changes will go out in the morning to the live docs.
#please-close

[2021-02-09 02:03] #69560 closed

[2021-02-09 02:04] ChaitanyaNaykodi-MSFT commented on #70243
Hello @josephsctan,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 02:34] KrishnaG-MSFT commented on #70247
@pho30 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-09 02:35] KrishnaG-MSFT commented on #70251
@StephenWeatherford Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-09 02:44] GiftA-MSFT commented on #70243
@josephsctan thanks for your feedback. Can you please share the locale support that you are seeking?

[2021-02-09 02:47] josephsctan commented on #70243
Hi There,

I'm not seeking locale support. I wanted to find out

   - When is the Conversation Transcription technology expected to come out
   of preview?
   - Is there a plan to support single mic real-time Conversation
   Transcription (vs needing a microphone array)?
   - Is there a way (or workaround?) to support real-time Speaker
   Identification  without needing a microphone array?

Cheers

[2021-02-09 03:34] KalyanChanumolu-MSFT commented on #70180
@V4A001 We will proceed to close this issue if you don't have any further questions.

[2021-02-09 03:41] amanjeetsingh commented on #69770
Thanks @JamesTran-MSFT. This is super useful!

[2021-02-09 03:46] CHEEKATLAPRADEEP-MSFT commented on #70229
@sbyrnes-weblogix  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2021-02-09 03:55] CHEEKATLAPRADEEP-MSFT commented on #70001
@dataslicer Glad to know it helped.

[2021-02-09 04:02] v-sashig opened #70253 "Please include License fee for the cost Not Included for ACM."
Hi I'm billing support engineer and my CSP partner cx was confused when he did not see the Windows server License purchase.
It will be nice to indicate the license fee will not be included in the ACM on this page.

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59edbf44-87b8-7b7a-92a5-6ba12bdd8aff
* Version In

[2021-02-09 04:06] SatishBoddu-MSFT commented on #69635
Hello @barmettlerl

1) When your query is said to be not working, have you verified the default route? Are there any messages being routed to the default route whenever your route query condition is not met?

When you use VS Code or Device Explorer or any other D2C message Monitoring App/client, you should see the messages being sent to the default route (i.e Event hub) whenever your route query i

[2021-02-09 04:57] VikasPullagura-MSFT commented on #60253
@tanmaygore Thanks for updating the document.

@ts46235
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-09 04:57] #60253 closed

[2021-02-09 04:58] VikasPullagura-MSFT commented on #69572
@MukeshNandaMS Can you please check and add your comments on this doc update request as applicable.

[2021-02-09 05:02] SaiKishor-MSFT commented on #70115
@frozen-oranges It should be under network watcher service name as- network logs collected.
Refer- https://azure.microsoft.com/en-us/pricing/details/network-watcher/)
Total flow log cost = Network Logs usage (collected) cost + storage cost. If you use Traffic Analytics on top of Flow logs, then Traffic analytics cost and corresponding LA ingestion and storage cost will be added as well.
[These det

[2021-02-09 05:02] #70115 closed

[2021-02-09 05:06] paulb76 opened #70254 "Can you please supply more information about the diagnostics settings such as the field attributes."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0e-6f10-6985-c719-05fe43fc00b8
* Content: [Resource Manager template samples for diagnostic settings - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/res

[2021-02-09 05:18] kiki-kekat commented on #66778
Hello @roygara, @SumanthMarigowda-MSFT,
Thank you for your support. Do you have any update?
There are users who are waiting update the document. If you have any update or progress, please let me know.

[2021-02-09 05:34] NoahSomCA opened #70255 "Couldn't complete tutorial - missing prerequisite?"
Wasn't able to complete the tutorial while using an Azure Linux VM as the device I would like to run the container on:

- when I ran the specified command on my linux VM `sudo az iot edge set-modules --hub-name "<IoT Hub name>" --device-id "<IoT Edge device name>" --content DeploymentManifest.json --subscription "<subscriptionId>'`, I first got 'iot hub not found'.
- After spinning up an IOT Hub,

[2021-02-09 05:40] westleyMS opened #70257 "Has this flow (client credentials) been disabled for confidential apps"
Can you update the documentation to show which types of apps this is valid for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d32f55ac-acbc-292b-d1b7-ffdd257b11e1
* Version Independent ID: ae2a266c-051b-7307-93fd-74bc521c93bf
* Content: [OAuth 2.0 client credentials flow on the Microsoft identity platform](https://doc

[2021-02-09 05:53] RohitMungi-MSFT commented on #70089
@DARKinVADER We will now proceed to close this thread. Our content team will update the document with the reference to its implementation in the next doc update. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-09 05:53] #70089 closed

[2021-02-09 05:53] LauraDamianTNA opened #70258 "Links to demo pipelines not working"
Hello!
A few issues:

1. 2 links are given in this paragraph:
"Before you begin, commit your complete Stream Analytics projects as source files to an Azure DevOps repository. You can reference this sample repository(https://dev.azure.com/wenyzou/azure-streamanalytics-cicd-demo) and Stream Analytics project source code(https://dev.azure.com/wenyzou/_git/azure-streamanalytics-cicd-demo?path=%2FmyASA

[2021-02-09 05:55] RohitMungi-MSFT commented on #70095
@kushalbhabra We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-09 05:55] #70095 closed

[2021-02-09 05:57] LauraDamianTNA opened #70259 "ScriptType parameter question"
Hello,

In the test case example, "ScriptType" has this value "InputMock".
Can you please add some documentation about possible types for this value?
I have also tried to put something else here, and I got no warnings/errors.

Thanks,
Laura

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69104dfd-0c8f-16eb-f42b-8543d3b9

[2021-02-09 06:02] HyangJin opened #70260 "Please add GPU VM ACU information."
[Enter feedback here]

Please add GPU VM ACU information in  https://docs.microsoft.com/en-us/azure/virtual-machines/acu
Need to know vCPU: Core information for NDv2 and NCv3.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6

[2021-02-09 06:06] hpsin commented on #70257
As in, it's valid for daemons but not single page apps or native applications?

[2021-02-09 06:13] wassimamer commented on #70061
Glad I was able to help.

Your documentations are great. I got Azure AI and IOT Certificate just by
reading your documents. I'm almost ready for machine learning!

Thank you for the whole team.

Regards,
Wassim

On Thu., Feb. 4, 2021, 7:18 p.m. Peter Lu, <notifications@github.com> wrote:

[2021-02-09 06:19] psmanhas commented on #69538
@khetheri We will now close this issue. Once you have the required information, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-09 06:19] #69538 closed

[2021-02-09 06:21] SubhashVasarapu-MSFT commented on #69839
@donduvall, Appreciate your patience. We have assigned this issue to the respective SME for providing further insights.

[2021-02-09 06:28] ssivas commented on #69927
If you have any queries, feel free to reach out to us. Thanks !

[2021-02-09 06:28] #69927 closed

[2021-02-09 06:29] ggailey777 commented on #63904
We now have this content available [here](https://docs.microsoft.com/azure/azure-functions/analyze-telemetry-data#query-scale-controller-logs). Thanks for your patience. #please-close

[2021-02-09 06:29] #63904 closed

[2021-02-09 06:35] ChaitanyaNaykodi-MSFT commented on #69960
Hello @miqm,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 06:35] dominicbetts commented on #70223
Hi @lmasieri - I added this to the backlog - we'll get to it shortly. Thanks!
#please-close

[2021-02-09 06:35] #70223 closed

[2021-02-09 06:47] SadiqhAhmed-MSFT commented on #70074
@klawrawkz We will take a documentation fix for this. For now, you can do the following –

1.	Launch the Azure Site Recovery Provider exe on each host that has servers to be migrated.
2.	Click “Install” to install the replication provider.

![image](https://user-images.githubusercontent.com/44458118/107325829-72669780-6ad0-11eb-8cf4-d06300be8b16.png)

3.	Once the installation is complete, the GUI

[2021-02-09 06:48] SaiKishor-MSFT commented on #70222
@OffColour The xml itself works fine but there are instances where there are hidden characters causing issues. Can you try copying the contents of the file to a notepad as it is text only and try again? Thanks!

[2021-02-09 06:49] KrishnaG-MSFT commented on #70254
@paulb76 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-09 06:49] SadiqhAhmed-MSFT commented on #70074
@rahug1190 For doc fix.

[2021-02-09 07:08] shashishailaj commented on #70249
@danielr11220 Thank you for your feedback . We will have this checked and update the thread.

[2021-02-09 07:42] CHEEKATLAPRADEEP-MSFT commented on #70258
@LauraDamianTNA  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-02-09 07:44] CHEEKATLAPRADEEP-MSFT commented on #70259
@LauraDamianTNA  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2021-02-09 07:49] SwathiDhanwada-MSFT commented on #70018
@Klaas- As mentioned earlier, this is work in progress. As the engineering team is performing tests on this feature, the document isn't updated yet and no information is shared related to it. By the end of February, this will be supported publicly. Same information has been shared [here](https://feedback.azure.com/forums/246290-automation/suggestions/41709484-update-management-support-for-rhel-8-a

[2021-02-09 07:49] #70018 closed

[2021-02-09 08:03] psmanhas commented on #70260
@HyangJin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-09 08:04] psmanhas commented on #70260
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-02-09 08:15] marcosrivasr opened #70261 "Text and image are still showing the 'App artifact location' parameter"
I'm testing Next.js apps with Azure Static Web Apps but I see the Azure documentation is still showing an image of the Azure portal with the **App artifact location** parameter, instead of **Location output**. This is the same for the instructions.

[Configure the build process](https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-nextjs#configure-the-build-process)

---
#### Document Det

[2021-02-09 08:16] WenyunZou commented on #70259
Currently we support unit test on local inputs only, so 'InputMock' should be the only possible type. If you change it to other values, the input is expected to be ignored in testing. We will open a bug for not showing warning message and update the document.

Thanks,
Wenyun

[2021-02-09 08:18] OffColour commented on #70222
That's exactly what we did. It's the i:nil namespace that's causing the problem

[2021-02-09 08:21] westleyMS commented on #70257
yes, or public or confidential apps. It would be nice to know as people run into trouble with which flows can be used in each. Also, I think for ROPC they disabled confidential apps, and that should be reflected.

[2021-02-09 08:22] antonioc74 commented on #70222
@SaiKishor-MSFT We have tried your suggestion, but it still doesn't work. Following the instructions.

Copy the VPNProfile xml from the setup guide in step 2

Download **azurevpnconfig.xml** from the Azure Portal and copied the section between <CustomConfiguration></CustomConfiguration>. as detailed in step 4.

That section of copied xml contains lines with i:nil="true"
Example below with sensitiv

[2021-02-09 08:38] NoelAbrahams opened #70262 "Please provide a details of what each component of the page load breakdown means."
### What do these mean?
* Page load network connect time
* Client processing time
* Send request time
* Receiving response time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a068dd32-fbd4-15e7-16d1-31a35436576e
* Version Independent ID: 3a0d0b4e-5f9a-f5ac-8a97-dfda9d09c581
* Content: [Azure Application Insights log-ba

[2021-02-09 08:45] SwathiDhanwada-MSFT commented on #70262
@NoelAbrahams Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-09 08:51] CHEEKATLAPRADEEP-MSFT commented on #70071
@dataslicer  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2021-02-09 08:51] SAIMMINHAS commented on #69907
Hi Marilee,

Yes i'm the tenant admin.

[2021-02-09 09:14] hanskhe opened #70264 "Deny Public Network Access unavailable for Basic Server"
Documentation states that the prerequisites for using the Deny Public Network Access feature is "An Azure Database for PostgreSQL Single server". In reality, this feature does not seem to available with a basic server, but instead requires a General purpose instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 262e0

[2021-02-09 09:43] Hitengit054 opened #70266 "Connect device with IOT Central with x509 cert for C Langauge"
As we need group enrollment with x509 in C language for IOT Central. we did not find below docs

**How to connect devices with X.509 certificates using C device SDK for IoT Central Application.**

Above docs mention for node.js. But we are not able to find the docs for C language platform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-02-09 09:50] msharsur commented on #69828
Based on the issue description, the AUD value being incorrect in the access token is an indication that the token received if not for your target application. The MSAL configuration could be such that the scope being used during token request points to a different application or Microsoft Graph which is why we are seeing this.

Is the Azure AD configuration correct? Need more information on the co

[2021-02-09 10:20] vipulsparsh commented on #70249
@danielr11220 Currently you can use the custom policy flow to use Apple as Identity provider while sign in process.
 Here is a sample on how to do it : https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple

As far as the proper supported method via GUI, like any other IDP, not sure about any ETA on that.

[2021-02-09 10:22] jpdfr-msft opened #70268 "Activation in CLI doesn't work if done in Bash CloudShell"
Trying to activate the Managed HSM. It doesn't work in Bash environment with Azure CLI (WSL and CloudShell) with the error:

msrestazure.azure_active_directory: MSI: Retrieving a token from http://localhost:50342/oauth2/token, with payload {'resource': 'https://managedhsm.azure.net'}
msrestazure.azure_active_directory: MSI: Failed to retrieve a token from 'http://localhost:50342/oauth2/token' with

[2021-02-09 10:26] ssivas commented on #70010
Thanks for reaching out.

You need to call two different REST API Azure management endpoint to list role assignments for given service principal as explained below, but alternative you can also consider using [Azure Az PowerShell module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-5.4.0) which is straight forward and just have to one line command which fulfil

[2021-02-09 10:27] vipulsparsh commented on #70155
@Both are related but slightly different, The first one : Anonymous IP address actually monitors just the sign in request from Anonymous IP addresses.
The other one  uses machine learning to track  users who were active from an IP address that has been identified as an anonymous proxy IP address. These proxies are used by people who want to hide their device's IP address, and may be used for malic

[2021-02-09 10:29] ssivas commented on #69801
@Gibbo81 , did you get a chance to look at my previous comment. Feel free to reach out to me, if you have any queries.

[2021-02-09 10:29] RohitMungi-MSFT commented on #70255
@NoahSomCA Thanks for the feedback. We are investigating the issue and will update you shortly.
@aahill @AdinaTru Do we need to follow any steps from the Stack edge or Desktop machine tabs to setup the IoT hub correctly to run the same on a VM with GPU?

[2021-02-09 10:34] Kent-Agent commented on #70222
I removed all those tags which includes "i:nil="true"" and Intune then accepts the .xml.
Dont know if that's the way it's supposed to be but I am still in a testing environment regarding this..

I have been pulling my hair this morning when trying to get this to work and by chance found this feedback-section.

[2021-02-09 10:35] true-pigmaster opened #70269 "Steps for enabling the assessment are not up to date"
Steps for enabling the assessment are not up to date, the "A vulnerability assessment solution should be enabled on your virtual machines" is not under "Remediate vulnerabilities"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a830589a8ed9
* Version Independent ID: d89d9eef-daed-636d-7414-0b15f3

[2021-02-09 10:44] chrisbloe opened #70270 "AKS Cluster CA certs expire after 30 years, but what happens after 2 years?"
It's great that AKS Cluster CA certs now expires after 30 years (instead of its previous 2) however, it's not clear what the benefit of this time increase is, when all other certs still expire after 2 years. #50016 introduced some detail and [this issue](https://github.com/Azure/AKS/issues/756#issuecomment-567738137) mentions some benefits, but I think this needs to go further...

[The documentati

[2021-02-09 11:05] SubhashVasarapu-MSFT commented on #70191
@taminta, please try this URL "https://docs.microsoft.com/en-us/rest/api/cdn/cdn/edgenodes/list". Also, the doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-09 11:05] #70191 closed

[2021-02-09 11:12] limjianan-camelody opened #70271 "Overwrite sync password might not stay in certain condition."
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization#overwrite-synchronized-passwords

This statement is not completed as

Scenario 1
If you don't have password writeback - same behaviour (split password)

Scenario 2
If you have password writeback, and you use the MSOL command (or Office 365 portal)  - same behaviour (split password)

Scenario

[2021-02-09 11:12] AnuragSharma-MSFT commented on #70264
@hanskhe Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-09 11:15] CHEEKATLAPRADEEP-MSFT commented on #69944
@ovidiubechesamplexor  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-09 11:15] #69944 closed

[2021-02-09 11:18] CHEEKATLAPRADEEP-MSFT commented on #70253
@v-sashig  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2021-02-09 11:40] ssivas commented on #70012
Hello @ValerianHts , You may experience this issue when both **AzureAD** and **AzureADPreview** module coexist. Therefore, I would request you uninstall AzureADPreview module and try to download and installed latest version of **AzureAD** module from the [PowerShell Gallery](https://www.powershellgallery.com/packages/AzureAD/2.0.2.130)

Please find below cmdlet for your reference:

To List module

[2021-02-09 11:58] rquintino opened #70274 "Azure Machine Learning/Mount vs download/write enabled mounts"
Hi there, from tests seems the local mounts to azure ml file datasets are read-only. Is it possible to make write-enabled?
If not, what would be the official recommendation for having a working storage shared between team members (read/write), available in azure ml notebooks/compute/clusters?
thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-09 12:15] taminta commented on #70191
Thanks! New link works for me. Waiting for update on docs.

[2021-02-09 12:30] barmettlerl commented on #69635
Thanks.
I tried it again with the fallback route enabled & the query. Sadly all messages is now going to the default endpoint. So the query does not match. I have no clue, what I'm doing wrong. ^^

[2021-02-09 12:31] AshokPeddakotla-MSFT commented on #70266
@Hitengit054 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@dominicbetts Could you please review the feedback and update?

[2021-02-09 12:53] algattik opened #70275 "Contents is mispelled Content"
Contents is mispelled Content in this code section

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86e0f9bd-09a0-446e-7b3a-dd2dfd213696
* Version Independent ID: 81d68a28-211c-adb6-1f3d-62ee5b89051a
* Content: [Digital twins and the twin graph - Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital

[2021-02-09 13:06] PramodValavala-MSFT commented on #69890
@krishnasingh1818 Just following up here... Hope my previous comment clears things up.

Since there is updated specific to Service Bus required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-09 13:06] #69890 closed

[2021-02-09 13:09] OffColour commented on #70222
Yep, we tried it with those removed and the XML saved, but then the VPN wouldn't work.

[2021-02-09 13:14] ssivas commented on #37025
The line breaks are removed when using CLI to **'set',** along with **--value** parameter.

az keyvault secret set --name {A Name for the Key} --file {path to private key} --vault-name {Vault Name}

![image](https://user-images.githubusercontent.com/57458999/107368561-b4aacb80-6b06-11eb-9fc1-3e628e2810b5.png)

[2021-02-09 13:16] SnoWolfT opened #70276 "Need the notification of Eviction of spot VMSS on Portal"
Need the notification of Eviction of spot VMSS on Portal. I make some research and find the similar concern as below. There is no answer or plan for this feature yet. It's appreciated if you can suggest whether we have any plan for the Eviction notification! Or do we have any feature and achieve that?

https://docs.microsoft.com/en-us/answers/questions/165844/terminate-event-notification-for-spot-

[2021-02-09 13:17] DeanGross opened #70277 "Request for AAD Connect Cloud Sync info"
Please update to include information about how to best use the new AAD Connect Cloud sync, specifically in regards to its potential role in disaster recovery.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddae5ea7-6aa1-1f50-136d-985a95d53ba6
* Version Independent ID: d3b98641-4e2b-16dd-aa73-8d08cd2fb395
* Content: [Azu

[2021-02-09 13:22] SnoWolfT opened #70278 "Need the notification of Eviction of spot VMSS"
Need the notification of Eviction of spot VMSS. I make some research and find the similar concern as below. There is no answer or plan for this feature yet. It's appreciated if you can suggest whether we have any plan for the Eviction notification! Or do we have any feature and achieve that?

https://docs.microsoft.com/en-us/answers/questions/165844/terminate-event-notification-for-spot-instances.

[2021-02-09 13:23] flq commented on #14520
The situation may present itself different again - there is now also a "ConnectionPoolSettings" object - I assume this is purely a value object and can be used as Singleton?

How come there does not seem to be an official recommendation of how to scope the lifetime of those objects? I would think that people also use gremlin.net in server scenarios from within .NET where you control the lifetime o

[2021-02-09 13:25] Sumitdhiman opened #70280 "Should Indicate Passwords import would sync to Microsoft Account hence Microsoft Edge"
The page directly doesn't mention that importing passwords to the authenticator would sync it to your Microsoft Edge if sync is enabled. However, it is a good feature, but some users may not like it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3587d17-585d-a6f7-1eae-5317bfaea672
* Version Independent ID: ae8179cf-0

[2021-02-09 13:26] tomkerkhove opened #70281 "Port 9090 is no longer mentioned as a required rule"
Port 9090 is no longer mentioned as a required rule while it is required by tunnelfront

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress traffic in Azure Kubernetes Service (AKS) - Azure Kuberne

[2021-02-09 13:38] egraff opened #70284 "Documented URL suffix for managed storage account Object Identifiers is incorrect"
The documentation for the object type "Storage account keys" is incorrect and slightly misleading. The object type is specified as "Storage account keys", but the object type actually refers to a Managed Storage Account, not the key of such Storage Account. Moreover, the URL suffix is specified as `/storageaccount`, but should be `/storage` (see API docs at https://docs.microsoft.com/en-us/rest/ap

[2021-02-09 13:55] tomvachon opened #70285 "Current Version in text is out of date"
The current version in the page at anchor: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/scheduled-events#version-and-region-availability currently reads:

The Scheduled Events service is versioned. Versions are mandatory; the current version is 2019-01-01.

it should read The Scheduled Events service is versioned. Versions are mandatory; the current version is 2019-08-01.

---
###

[2021-02-09 14:21] Gerd-W commented on #70222
The artikel was updated 5 days ago and creating a profile following the old guide works.
Following the new guideI get the same error:
"Unable to save due to invalid data. Update your data then try again: XML must be well formed."
The old guide doesn't say to remove the AzVpnProfile lines but to copy everything:

1. Open the Azure downloaded profile (azurevpnconfig.xml) and copy the entire contents

[2021-02-09 14:23] ERGeorgiev commented on #55061
From their guide:
"navigate to your app and select App Service logs."
I can confirm that "App Service logs" does not exist.

[2021-02-09 14:34] AshokPeddakotla-MSFT commented on #70275
@algattik Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-09 14:47] yashraghu01 opened #70288 "How to Register or host your domain on Microsoft Azure?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829303e-b6ba-537c-2751-8497e3d591cc
* Content: [Tutorial: Host your domain and subdomain - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns)
* Content S

[2021-02-09 14:51] ssivas commented on #70075
@OzBob ,
I have created pull request to update our Docs with given example. I will update this thread once it has been approved by author. Thanks !

[2021-02-09 14:55] rgg-amahajan opened #70289 "This page lacks a good example of calling functions inside dynamic content"
Hello, this is a "nice to have" feedback about the page. The Functions section on this page could have more information on the syntax to call functions inside dynamic content.

While I was trying to build a JSON body for a function app, I used the functionality on the dynamic content page where one can click a function, and it gets added to the content area above. this does not work well with JSON

[2021-02-09 14:58] PandaPanda7291993 commented on #70280
Oh noooo

[2021-02-09 14:58] PandaPanda7291993 commented on #70280
Oh nooooo

[2021-02-09 15:01] kiranpradeep opened #70290 "Fixing External Endpoints of exposed applications on Azure Stack Edge"
This issue is related to using the existing document in real-world scenario.

On ASE reboot, the webserver app could be on any Kubernetes worker node and so external IP of the exposed webserver app module could change. Then the client application (web browser in the document) will fail as it is not aware of new IP. Is there a means to associate the external endpoint to a domain name?

The problem

[2021-02-09 15:08] McClunatic commented on #70147
@JamesTran-MSFT
I'm grateful for your help!

Let me take time to respond to each of your questions.

I am able to follow the documentation, but I'm hesitant to say I've done so successfully since things aren't entirely working.  :smile: I have created a user flow and configured it with multiple identity providers: local accounts, Google, and a custom OpenID Connect provider for my Azure AD B2C ten

[2021-02-09 15:09] thijsnijhuis-rabo commented on #55168
I ran into the exact same problem and found the same workaround. This documentation (https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-compute-rest-api) states that we should be able to scale it by providing the  'requestedServiceObjectiveName' peroperty. Any update o the status of this issue?

[2021-02-09 15:12] ssivas commented on #70189
@dohdoh64 , Thank you for reaching out.

Azure AD Password Protection has a critical dependency on the encryption and decryption functionality supplied by the Microsoft Key Distribution Service.  Therefore, KDS **must be enabled and functional on all Windows Server 2012 and later domain controllers in a domain**. Refer this [article](https://docs.microsoft.com/en-us/azure/active-directory/authenti

[2021-02-09 15:37] RobertDBourne opened #70291 "type inlink"
In the Next steps section there is a link with the label:
Tutorial: Use CDN to server static content from a web app

I believe the word server should be simply serve - the verb, not the noun.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972

[2021-02-09 15:45] SaurabhSharma-MSFT commented on #70289
@rgg-amahajan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-02-09 15:46] elmoprj opened #70292 "SAP B1 citation misleading"
The Business One citation in the first line i think is misleading because in B1 you don't have an application layer, so i can have a single SAP HANA VM and the Business One client in 2 only tiers in productions too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aafe13ea-51ea-22af-71eb-0697df9814c5
* Version Independen

[2021-02-09 15:52] maximivanov commented on #25356
I also wonder when is this app setting required.
I've inherited an Azure stack with a function app that uses a Key Vault for secrets management. There's a DevOps pipeline that uses `AzureFunctionApp@1` task to deploy the code to that FA.

There's this `WEBSITE_ENABLE_SYNC_UPDATE_SITE=true` app setting in the FA and while it probably makes sense to *just keep it if it works*, I do want to understan

[2021-02-09 16:07] mmacy commented on #69722
ID | Title | Iteration Path | Assigned To | Area Path
-- | -- | -- | -- | --
[1290345](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1290345) | [ISSUE] Add links to download the SDK packages/ code samples (69722) | Technical Content\Backlog | Eunice Waweru | Technical Content\app-dev

[2021-02-09 16:17] kwikwag opened #70295 "storage-how-to-mount-container-linux doc: inconsistent setup (paths & permissions)"
There is inconsistent use of file and directory paths through the documentation. Additionally, the mount command is issued with a `sudo` command even thought the initial setup was done with mounting with the current user in mind. This causes a common error mentioned here: https://github.com/Azure/azure-storage-fuse/issues/21

It would be advisable to set environment variables for location of files

[2021-02-09 16:18] PaulVrugt opened #70296 "How to add users/groups to privileged access group"
Summary of current state (because it is getting messy because of all the updates):

I'm trying to enable `Privileged access` for a group I created, and add user(groups) to it. I'm running into 2 problems:

- I can't seem to find a way to enable `Privileged access`, there is no (documented?) way to enable this, and directly calling the API returns only internal server errors. (see screenshot below

[2021-02-09 16:23] w0ut0 commented on #69812
Hi @RyanHill-MSFT,
thanks for the feedback!
I was under the (wrong) impression that Azure also hosted an IIS server/container that acts as a reverse proxy for all my webapps, and that this reverse proxy overwrote/set the headers.

I will try setting these security headers in my Express.js webserver.

Thanks!

[2021-02-09 16:24] JamesTran-MSFT commented on #70268
@jpdfr-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-09 16:25] JamesTran-MSFT commented on #70269
@true-pigmaster
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-09 16:28] JamesTran-MSFT commented on #70271
@limjianan-camelody
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-09 16:29] JamesTran-MSFT commented on #70277
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-09 16:29] shriazure opened #70297 "Functions runtime becomes inaccessible while restricting storage account to VNET"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#restrict-your-storage-account-to-a-virtual-network

I followed the steps provided on the doc to restrict the storage account to VNET. I created Functions originally with a storage account that does not have service endpoints enabled. But when I switch the connection string to a new storage account with service poin

[2021-02-09 16:29] SubhashVasarapu-MSFT commented on #70291
@RobertDBourne, Thanks for reaching out. We will investigate and update this thread.

[2021-02-09 16:30] JamesTran-MSFT commented on #70280
@Sumitdhiman
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-09 16:30] amitbapat commented on #70268
This is a known problem in CloudShell. Please use 'az login' again to get a fresh token. Then run the activation command again.

[2021-02-09 16:30] AmsDs commented on #57579
Hello guys - I am using the url rewrite in combination with cdn token. Url rewrite works fine but when I enable token auth and try to pass token it does not work. any idea how I can get this work?

Here is the rule I am trying

![rule 1](https://user-images.githubusercontent.com/10284509/107394788-d6ce2a80-6ac1-11eb-92d0-32a641b7e2e1.PNG)

[2021-02-09 16:30] SubhashVasarapu-MSFT commented on #70288
@yashraghu01, Thanks for reaching out. We will investigate and update this thread.

[2021-02-09 16:32] JamesTran-MSFT commented on #70284
@egraff
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-09 16:34] JamesTran-MSFT commented on #70296
@PaulVrugt
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-09 16:43] JamesTran-MSFT commented on #70142
@rsrk2008
I just wanted to check in and see if you had any other questions? Otherwise, I'll go ahead and close this issue at the end of the day, pending any updates from your end.

Thank you for your time and patience throughout this issue.

[2021-02-09 16:43] jewishspiderweb opened #70298 "Great doc!"
It was great!
It really worked, unlike many other docs!
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ca9743-bd97-da62-ded7-ccdfa912dcdf
* Version Independent ID: 5d27089d-f613-5d12-2095-01cdd424971d
* Content: [Quickstart: Create a C# ASP.NET app - Azure App Service](https://docs.microsoft.com/en-us/azure/a

[2021-02-09 16:44] RyanHill-MSFT commented on #69812
Hi @w0ut0,

I do want to clarify...

Front workers *are* IIS based reverse proxies for your webapps *but* they don't overwrite any headers in your webapps. Their responsibility is simply to forward request to your appropriate web app. Custom headers and all.

[2021-02-09 16:52] djpmsft commented on #69963
@chanuengg is the appropriate owner here

#unassign djpmsft

[2021-02-09 16:52] Tetradeus opened #70299 "AKS Azure RBAC for Kubernetes Authorization wrong Role"
[Enter feedback here]

Written : Azure Kubernetes Service RBAC Viewer
Should be : Azure Kubernetes Service RBAC Reader

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b18eba-07a5-dbbf-b697-0264e326f4d4
* Version Independent ID: 8c025ef6-38a6-eca5-7729-8f040fbbbe10
* Content: [Concepts - Access and identity in Azure Ku

[2021-02-09 16:53] rahul-mohan commented on #69351
Added a feedback on User Voice with more details: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/42656869-partial-commits-when-throttling-bulk-operations

[2021-02-09 16:57] ehsf973 opened #70300 "what is RBPEX ? not explain in the page for the hyper high availability architecture"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72686abb969
* Content: [High availability - Azure SQL Database and SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/database/high-availabilit

[2021-02-09 16:59] seb-brack opened #70301 "Snapshot directory never visible with NFSv4.1"
**Paragraph**: [Restore a file from a snapshot using a client](https://docs.microsoft.com/azure/azure-netapp-files/azure-netapp-files-manage-snapshots#restore-a-file-from-a-snapshot-using-a-client)

Documentation currently does not include any details about the fact that the snapshot directory is always hidden with NFSv4.1. Therefore suggestion the following edit:

Instead of...

... use this:

--

[2021-02-09 17:02] seb-brack commented on #70301
https://kb.netapp.com/Advice_and_Troubleshooting/Data_Storage_Software/ONTAP_OS/Why_isn%27t_the_.snapshot_directory_visible_in_an_%27ls_-al%27_output_on_an_NFS_client%3F

[2021-02-09 17:04] aldelar opened #70302 "No clear detailed instructions to setup a Remote VM"
Doc reads:

"You can use a system-built conda environment, an already existing Python environment, or a Docker container. To execute on a Docker container, you must have a Docker Engine running on the VM. This functionality is especially useful when you want a more flexible, cloud-based dev/experimentation environment than your local machine."

This section should be more detailed. For docker, at

[2021-02-09 17:09] leodeoz commented on #57579
Hey! I got my cdn working with one regex suggested from Verizon team when i requested help on this.
They told me to use (.*\.\w+) which helps with some especial chars.
![image](https://user-images.githubusercontent.com/13904047/107400285-6e427600-6ae0-11eb-8584-1a92f7742380.png)

[2021-02-09 17:13] GiftA-MSFT commented on #70274
@rquintino we'll review your feedback and get back to you shortly, thanks.

[2021-02-09 17:13] toddfoust opened #70303 "Application Insights Maximum Event Size should be 64KB not 64MB"
[Enter feedback here]
Application Insights Maximum event size should be 64KB not 64MB

https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits#application-insights

Another reference that it is 64KB - https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/application-insights-limits.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-02-09 17:14] palma21 commented on #70281
It's not required by tunnel front. Tunnel requires 9000 as mentioned in the doc. 😊

[2021-02-09 17:24] JamesTran-MSFT commented on #70150
@DeanGross
Thank you for pointing this out! I've reached out to our engineering team and will update as soon as possible.

[2021-02-09 17:25] PaulVrugt commented on #69965
Would like to know this too

[2021-02-09 17:25] AshokPeddakotla-MSFT commented on #68401
@martgut Apologies for taking too long on this issue. You have mentioned, `We run into issues, where device connection states are not reported consistently, in fact they are pretty much broken, so we are very interested to find the root cause.`

We would like to know which SDK are you using and exact error codes or message if any so that we can check and help accordingly.

Thanks for understanding

[2021-02-09 17:30] YesPrepDataCenter commented on #69900
@CHEEKATLAPRADEEP-MSFT   I even installed a tool to block CORS calls.  This is only happening when I either click on Credentials from the General Menu or when I try adding a new credential from Azure Purview studio.  When I click on Purview MSI I can't connect to anything.

[2021-02-09 17:32] GiftA-MSFT commented on #70302
@aldelar we'll review your feedback and get back to you shortly. Thanks.

[2021-02-09 17:46] GiftA-MSFT commented on #70302
@aldelar the information is available on separate documents ([set up dev environments](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment#local) and [set up software environments](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments)).

@sdgilley perhaps we can add a reference links in this document for clarity?

[2021-02-09 17:47] NavtejSaini-MSFT commented on #70062
@barmichal We tried to check this with our internal team regarding this but didn't get the answer for this. Can you please check and point to the correct person or team regarding this.

[2021-02-09 17:49] NavtejSaini-MSFT commented on #70300
@ehsf973 We are checking this and will get back to you.

[2021-02-09 17:51] tomkerkhove commented on #70281
That's odd because we have tunnel front logs saying otherwise..

Would it help if I post them?

[2021-02-09 17:54] JamesTran-MSFT commented on #70207
@peoplesmeat
Thank you for your question!

When it comes to changing group settings, the article is referring to the group that you [enabled sensitivity labels](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-assign-sensitivity-labels#enable-sensitivity-label-support-in-powershell) for. For [more info](https://docs.microsoft.com/en-us/azure/active-directory/enterpri

[2021-02-09 18:00] ChaitanyaNaykodi-MSFT commented on #70261
Hello @marcosrivasr,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 18:03] ChaitanyaNaykodi-MSFT commented on #70270
Hello @chrisbloe,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 18:05] ChaitanyaNaykodi-MSFT commented on #70297
Hello @shriazure,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 18:06] isaacabraham commented on #69798
Does this mean that going forward we should just use AllMetrics as the only "metric" available, or are there actually other metrics for the different services?

[2021-02-09 18:08] sblair01 commented on #70031
Apologies James. These github responses are sometimes hard to find in my
email. This makes sense. Thank you for the research and your time.
Greatly appreciated.

On Fri, Feb 5, 2021 at 2:49 PM James Tran-MSFT <notifications@github.com>
wrote:

[2021-02-09 18:13] maximivanov opened #70306 "Default value for WEBSITES_ENABLE_APP_SERVICE_STORAGE"
Looks like 2 pages in the documentation contradict with each other when it comes to the default value of `WEBSITES_ENABLE_APP_SERVICE_STORAGE`.

According to https://docs.microsoft.com/en-us/azure/app-service/faq-app-service-linux#custom-containers it defaults to `true`:

From https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#use-persistent-shared

[2021-02-09 18:20] #70189 closed

[2021-02-09 18:23] gary918 opened #70307 "Azure Function Activity + self-hosted integration runtime"
[If I need to use Azure Function Activity to access some on-premise resource, for example, calling REST APIs which are only available in on-premise network. Can I use to self-hosted integration runtime to make it work? It doesn't work for me.
Do I have to set networking environment for the Azure Functions first?
Thanks in advance!]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-09 18:24] SatishBoddu-MSFT commented on #69635
Hello @barmettlerl I think We have to start troubleshooting from the origin,

1) Can you please check the payload body which went to the default endpoint?
Can you provide it here, so that we take a look at it? please mask sensitive info.

2) When you use the default query like: '`true`' is the message routed to your target endpoint instead of the default endpoint. I mean not using any query in thi

[2021-02-09 18:26] Grace-MacJones-MSFT commented on #70298
Thank you for the positive feedback regarding this doc. We are happy to hear you found the doc helpful! @jewishspiderweb

[2021-02-09 18:26] #70298 closed

[2021-02-09 18:32] ssivas commented on #70189
@dohdoh64, Changes has been updated in this article [deployment-requirements](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy#deployment-requirements), this might take sometime to reflect. Thanks !

[2021-02-09 18:38] TravisCragg-MSFT commented on #69987
@tholum To start, please make sure that your CLI is fully updated, and are also running the aks preview CLI extension v0.4.73 or higher.

If that does not work, try to manually register this feature using the following CLI command
`az feature register --namespace "Microsoft.Compute" --name "EncryptionAtHost"`

If that command fails (it commonly does), send an Email requesting for this feature to b

[2021-02-09 18:38] #69987 closed

[2021-02-09 18:39] danhellem commented on #70215
Hello @algattik,

Here is what I did to try and reproduce. Please let me know if I am not understanding correctly.

I re-tried it and it does work. I must have made a mistake when creating the relationship in ADT. Here is what I did.

Base-Part
![base-part](https://user-images.githubusercontent.com/10525048/107411090-f87be180-6ac2-11eb-81ea-8d29585c8645.jpg)

Part
![part](https://user-images.githu

[2021-02-09 18:44] jyeblog opened #70308 "Does Azure Monitor Application Insights Agent support Windows 2008"
We have a Windows 2008 VM migrated from on-premise, and would love to have Application Insight to help out with performance issues, as well as planning for future re-platform.

When we tried to install the extension, following error is logged, wondering whether the agent supports Windows 2008?

Set-AzVMExtension: Long running operation failed with status 'Failed'. Additional Info:'VM has reported

[2021-02-09 18:45] swieder opened #70309 "AVS Identity integration with Azure Active Directory"
Docs state:  "Another option is through the integration of vCenter LDAP single sign-on with Azure Active Directory."

Is that correct??  How do we get LDAP to Azure AD, shouldn't it be Windows Active Directory rather than Azure Active Directory??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510daa7d-70fd-f4b0-9902-66

[2021-02-09 18:46] msangapu-msft commented on #70306
Thank you for the feedback @maximivanov. It's actually defaulted to false. I've submitted an update to the docs.

[2021-02-09 18:49] BrooksV opened #70310 "When will PowerShell AZ Module support Policy Assignment "nonComplianceMessages" properties?"
When will PowerShell AZ Module support Policy Assignment "nonComplianceMessages" properties?

Get-AzPolicyAssignment is not retrieving any  "nonComplianceMessages" property even though I populated it via Azure Portal, Edit Assignment

I am using:

Find-Module az

Version              Name                                Repository           Description
-------              ----

[2021-02-09 18:50] DerekHerman-MSFT commented on #70290
@kiranpradeep Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-09 18:52] shortpatti commented on #70309
#assign @shortpatti

[2021-02-09 18:55] MGoedtel commented on #60017
@kingwil and @Karishma-Tiwari-MSFT - This issue has been redirected to me to address as a result of taking over the Azure Automation content, and inter-related, the State Configuration feature. I'll create a work item to address this feedback and see about creating a PR later today or tomorrow the latest.  Our apologies for this issue lingering for so long without resolution. #please-close

[2021-02-09 18:55] #60017 closed

[2021-02-09 18:55] DCtheGeek commented on #70310
#assign:DCtheGeek
#label:"product-question"

[2021-02-09 18:57] DerekHerman-MSFT commented on #70295
@tamram Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-09 18:58] DCtheGeek commented on #70310
@BrooksV Thanks for the question.  I don't have a timeline for when the Azure PowerShell module will be updated.  As this question isn't an issue with the Docs, it's probably best as an issue raised directly in the Azure PowerShell repository (https://github.com/Azure/azure-powershell).  You can also request the Feature on the [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-a

[2021-02-09 18:58] #70310 closed

[2021-02-09 18:59] HUBBER12 opened #70311 "Step 4 - Inside User Flow - no longer has link to API connector"
I have a API connector created as this article instructs.
However, when i go into my User flow (Sign up and Sign In - standard version)  i do not see an option on left hand side navigation for API Connectors, so i cannot attach it.   Where would it have bene moved to?

Note i am using the standard version of sign up / sign in, is this possibly on the non-standard version of the user flow?

[Enter

[2021-02-09 19:04] v-pethur opened #70312 "Confirmation request: The "Transfer EA subscriptions to a CSP partner" section seems to be missing the "same authorized region" pre-requisite that is mentioned in prerequisites of "Get billing ownership of Azure subscriptions to your MPA account""
[Hello team,

In the "Transfer EA subscriptions to a CSP partner" section of this document, it lists 2 conditions that must be met in order for
CSP direct bill partners certified as an Azure Expert Managed Services Provider (MSP) to request a transfer of Azure subscriptions for their customers that have a Direct Enterprise Agreement (EA).

1) Subscription transfers are allowed only for customers w

[2021-02-09 19:05] sandeep-ma commented on #67366
@JayaChatterjee-MSFT , there seems to be some confusion. Typically democratic voting is intended for product feature backlog prioritization, not for fixing bugs.

[2021-02-09 19:05] tifischer opened #70313 "Manual entry is no longer supported, please update docs"
The Purview docs reference manual entry, but that is no longer supported.  Pleas update the docs accordingly.
"Or, you can select Enter manually and enter a Server name."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca3773c-adab-edfa-3cba-66be4cb1a307
* Version Independent ID: 6d254ab7-77c1-f920-60d5-30c6a9341afb
*

[2021-02-09 19:08] SaiKishor-MSFT commented on #70222
Are you using VWAN or VPN Gateway?

[2021-02-09 19:12] rboucher commented on #69798
Hi @isaacabraham .  "AllMetrics" is the only valid answer in this particular case. (That is, for this particular diagnostics settings API being accessed through ARM.)

[2021-02-09 19:16] stewartadam commented on #69255
@AshokPeddakotla-MSFT can you share the outcome from this? Ideally, it would be great to either update the docs or share a link to the issue where the feature request is being tracked upstream.

[2021-02-09 19:26] shortpatti commented on #70309
@jreypo, can you take a look at this one?

[2021-02-09 19:30] KranthiPakala-MSFT commented on #70307
Hi @gary918 Thanks for reaching out. Are you seeing any error message? If so could you please share additional details about the error message? Also please confirm if the SHIR machine and REST API Onpremise machines are same or differet? If different machines, please verify if there are any firewall restrictions enabled in both the machines.

[2021-02-09 19:32] DerekHerman-MSFT commented on #70069
I haven't heard back so will close out this thread for now. Please tag me if the above does not resolve your issue and you feel the documentation is incorrect.

[2021-02-09 19:32] #70069 closed

[2021-02-09 19:35] MGoedtel commented on #70140
@marywhitney - You are correct, the note is incorrectly specifying the Log Analytics virtual machine extension for Linux. There is no Azure Monitor VM extension for Linux (I used to manage the AzMon platform-specific content) and so I'm going to create a work item and update it shortly. #please-close

[2021-02-09 19:35] #70140 closed

[2021-02-09 19:48] kamilzzz opened #70314 "Does DPS check if client certificate is revoked?"
Hi,

I've seen similar questions (https://github.com/MicrosoftDocs/azure-docs/issues/26872) in the past (2-3 years ago) and I understand that DPS **does not** check if client (device) certificate is revoked when device is connecting to DPS, but I'm not 100% sure as older answers were for slightly different scenarions, e.g., root certificate expiring and not just device certificate being revoked an

[2021-02-09 19:56] KranthiPakala-MSFT commented on #70307
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2021-02-09 20:08] #70302 closed

[2021-02-09 20:20] minhe-msft commented on #23801
Sorry for the confusion. While still figuring out how to reopen the issue, I'm adding a list of possible run status to the article, doc review might take several days.

[2021-02-09 20:21] israteneda commented on #23029
Is there another form to use Azure AD but with own domains different from b2clogin for [Google Identity Provider](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-google?pivots=b2c-user-flow)?

[2021-02-09 20:25] davidsmatlak commented on #70251
@StephenWeatherford Thanks for submitting this issue. Please provide more details about your request to update the `templateLink` object in [Tutorial: Deploy a linked template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-tutorial-linked-template). For example, did you notice an error message when using the sample or the sample didn't work as expected?

When I

[2021-02-09 20:31] venkat1017 opened #70318 "How to monitor the changes for UDR for User defined routes with service-aided subnet configuration"
I see there is a huge list of routes to be added for User defined routes with service-aided subnet configuration for SQL MI.

We faced an issue with redeploying the Network because of missing Network Intent or UDR specifically(looks like it was updated). Is there a way to fetch or monitor it since it a huge list.
`
Found conflicts with NetworkIntentPolicy. Details: RouteTable cannot have resources

[2021-02-09 20:32] Ethan-Arrowood opened #70319 "Change System.Data.SqlClient to Microsoft.Data.SqlClient"
I'm very new to C# but I was having issues using the `System.Data.SqlClient` listed in the docs page. Did some search and found that it was renamed: https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/

New package: https://www.nuget.org/packages/Microsoft.Data.SqlClient/

I think it might be useful to include a line like "dotnet add package Microsoft.Data.SqlClient --

[2021-02-09 20:35] johnkemnetz commented on #64930
@Karishma-Tiwari-MSFT I have the same issue. The error that shows is:

Invalid \escape: line 1 column 769 (char 768)

It appears as though the $(cat ~/.ssh/id_rsa.pub) portion of the command doesn't work correctly - the ssh key gets inserted but the ending double quotes and close brackets get inserted in the middle of the key.

[2021-02-09 20:35] SatishBoddu-MSFT commented on #69968
Hello @maxstefaniv Thanks for the info, we have taken the feedback!.

As the Raspberry Pi OS Buster listed under [Tier2](https://docs.microsoft.com/en-us/azure/iot-edge/support?view=iotedge-2018-06#tier-2) and is considered **compatible** with Azure IoT Edge, but is not actively tested or maintained by Microsoft.

On the other hand, Raspberry Pi OS Stretch is listed as Tier 1 supported,  is the re

[2021-02-09 20:37] ChaitanyaNaykodi-MSFT commented on #70313
Hello @tifischer,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 20:38] davidlane-iteratec opened #70320 "Section "Private Link combined with firewall rules" confusing"
I must admit I am left scratching my head after reading this section.

Next section

So if I take the sentence from 4 above "you can disable setting all public endpoints (firewall rules and VNet service endpoints)": if I set "Deny public network access" to true then firewall rules will have no effect and vnet service endpoints will not work. Correct?

What then does "If you configure public traffi

[2021-02-09 20:43] #70186 closed

[2021-02-09 20:44] jeverduzco commented on #23029
In my case I explained 3 times and they did not verify the domain, I think I failed to send links to the documentation and insist more.

[2021-02-09 20:52] peoplesmeat commented on #70207
I'm still not totally clear. The documentation you referenced in the screenshot is regarding how to enable Sensitivity Labels for groups and sites. That part I believe I understand. We can go through that process to enable labels on groups. Once we make that decision, and then apply a label to a specific, it seems like we are now committed to certain settings on that label, and I'm unclear what th

[2021-02-09 21:02] MonikaReddy-MSFT commented on #70299
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-09 21:02] PatrickFarley commented on #70089
I've added the section
#please-close

[2021-02-09 21:02] JamesTran-MSFT commented on #70311
@HUBBER12
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-09 21:04] MonikaReddy-MSFT commented on #70299
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-09 21:04] #70299 closed

[2021-02-09 21:05] amolduse commented on #57579
It didn't work for me. I keep getting same error -

<Error>
<Code>AuthenticationFailed</Code>
<Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. RequestId:3075e1f2-b01e-0094-7027-ff8fec000000 Time:2021-02-09T21:03:42.8087282Z</Message>
<AuthenticationErrorDetail>sr is mandatory. Cannot be empty</Authenticatio

[2021-02-09 21:10] JamesTran-MSFT commented on #70311
@HUBBER12
Thank you for the detailed description!

As you mentioned, this feature is only available under the "recommended" version of the user flow. This is because the "standard" version, is the generally available, production-ready user flow, and no enhancements are being developed for this version. Therefore, you'll have to select the "recommended" version in order to get the next-gen, preview

[2021-02-09 21:10] MonikaReddy-MSFT commented on #69953
@mtwelve - I have reached out to Product team and I was told that you cannot configure a retention period for Managed Boot Diagnostics.

Semi-related, the logs will be overwritten when the total size crosses 1 GB.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We wi

[2021-02-09 21:10] #69953 closed

[2021-02-09 21:19] ChaitanyaNaykodi-MSFT commented on #70276
Hello @SnoWolfT,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 21:19] mumian commented on #70251
@StephenWeatherford - Thank you for the suggestion.  I will update the tutorial.

[2021-02-09 21:20] ecfan commented on #67366
Hi @sandeep-ma,

You can post your feedback about the connector on the [Microsoft Q&A forum for Logic Apps](https://docs.microsoft.com/answers/topics/azure-logic-apps.html). This GitHub forum is for feedback about documentation, not product issues. The Azure user feedback forum is more for feature suggestions rather than bugs, but there is a more [specific forum for Logic Apps connectors](https://

[2021-02-09 21:22] cynthn commented on #70276
@JagVeerappan

[2021-02-09 21:31] derosea7 commented on #47352
I'm still getting the error @ejdrian313 posted, trying to do the same thing

[2021-02-09 21:32] maxstefaniv commented on #69968
Thankyou, no I am not blocked, switched to OS that works and done.

Thankyou

Maksym Stefaniv
IoT Engineer / Data Engineer / Ingeniero Eléctrico

El mar., 9 feb. 2021 21:35, SatishBoddu <notifications@github.com> escribió:

[2021-02-09 21:34] DavidTrigano commented on #69887
@NavtejSaini-MSFT The document is fixed. Changes will appear in 24h.

[2021-02-09 21:34] ChaitanyaNaykodi-MSFT commented on #70278
Hello @SnoWolfT, Thank you for reaching out.
We see that this issue is a duplicate of the issue [created here](https://github.com/MicrosoftDocs/azure-docs/issues/70276). We will now proceed to close this issue out as duplicate. You can track the progress made on the issue mentioned above. Please tag me in your response if any additional concerns. Thank you!

[2021-02-09 21:34] #70278 closed

[2021-02-09 21:53] dlepow commented on #70227
@chrisdusyk-iq - Thanks for raising the issue. May I ask what operating system you are running the script on? I don't repro the problem on macOS Catalina or Ubuntu 18.04.

[2021-02-09 21:56] chrisdusyk-iq commented on #70227
I'm on Windows 10 2004. I suspect it's whitespace or newline issues honestly. I gave up on doing this with Bash and just wrote it in PowerShell instead, which worked much better. It's not pretty but it at least let me automate cleaning up our ACR.

[code]

[2021-02-09 21:57] sdgilley commented on #69785
Thanks @eyast. We have talked about perhaps simplifying and rewriting this series.  @samuel100

In the meantime, there are other tutorials that use scikit -for example [Tutorial: Train image classification models with MNIST data and scikit-learn](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-models-with-aml)

#please-close

[2021-02-09 21:57] #69785 closed

[2021-02-09 21:59] aldelar commented on #70302
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment#local

This link does not cover with enough details what you need to do to setup conda: which user does it need to be setup for? I tried the instructions for the user that created the VM, and as 'sudo' (ubuntu system), and none of these options lead to a system that can function with AML as a Remote Compute. The i

[2021-02-09 22:03] adrianwells commented on #64812
Believe this was resolved with #57094?

[2021-02-09 22:10] BeMor81 opened #70322 "How to get errors that are nested within scopes"
Would be good if you could document if there's a way to obtain the errors from nested actions within a scope like a switch calling another Logic App that's nested within that scope for example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2acbc231-08ad-e578-306a-0cf845ba810b
* Version Independent ID: 7c912b95-0cd0-09e

[2021-02-09 22:10] stdistef opened #70323 "Azure Defender for SQL on VMs is GA now, but page says FREE DURING Preview"
Azure Defender for SQL on VMs is GA now,
https://docs.microsoft.com/en-us/azure/security-center/defender-for-sql-usage

 but bullet "2)" on this page has a graphic saying "FREE DURING Preview"

This is very unclear as to its cost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e2ed68-8901-d002-a00a-e1d702cc1638
* Ver

[2021-02-09 22:13] SaiKishor-MSFT commented on #70051
@AlexDenton Any update?

[2021-02-09 22:16] SatishBoddu-MSFT commented on #69968
@maxstefaniv Thanks for your feedback on this document.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-02-09 22:16] #69968 closed

[2021-02-09 22:20] ChaitanyaNaykodi-MSFT commented on #70285
Hello @tomvachon,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 22:23] rwike77 commented on #66261
@sheigel  Two months is a while, apologies for the slow reply.  I'll close this issue now, feel free to reopen if you have more context to add or if there's some other trouble you're having. #please-close

[2021-02-09 22:23] #66261 closed

[2021-02-09 22:23] #67950 closed

[2021-02-09 22:24] sdgilley commented on #69781
I haven't heard back about this, so am closing the issue.  @eyast - please feel free to reopen if my answer isn't sufficient.

#please-close

[2021-02-09 22:24] #69781 closed

[2021-02-09 22:29] #70047 closed

[2021-02-09 22:35] ChaitanyaNaykodi-MSFT commented on #70292
Hello @elmoprj,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 22:47] rawatsudhir1 opened #70324 "This request is not authorized to perform this operation using this permission."
[Enter feedback here]
I have given a user "System Administrator" role at "Workspace" scope. Assuming the user will have full rights When the user tries to login to synapse studio and run a pyspark notebook, gets following error.

Error Trace:-
Py4JJavaError : An error occurred while calling o155.load.
: Operation failed: "This request is not authorized to perform this operation using this permissi

[2021-02-09 23:02] aashishb commented on #70094
Azure DevOps does not support Private Link. So, one way is creating a self-hosted agent which has the access to workspace VNet. You can create it on-premises, or on Azure. Please check [this ](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops) doc.

[2021-02-09 23:14] JamesTran-MSFT commented on #70323
@stdistef
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/107441061-7f43b500-6ae9-11eb-9d9e-703459ab3942.png)

[2021-02-09 23:20] femsulu commented on #70312
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-09 23:22] femsulu commented on #70308
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-02-09 23:27] cijothomas opened #70325 "Document about the difference between StandardMetrics from ApplicationInsights vs AppService metrics"
I have seen a lot of users getting confused when the ApplicationInsights standard metrics (Req/count, Req/duration etc) are *not* matching the ones from AppService itself.
The doc clarify the following:
ApplicationInsights collects telemetry for those requests which made it to the application. If the failure occurred in WebApps/IIS, and the request did not reach the user application, then applicat

[2021-02-09 23:32] KranthiPakala-MSFT commented on #70016
@SergeMoreno  Thanks for the reaching out! We have assigned the issue to the content author to investigate this and update the document as appropriate.

Hi @nayenama , could you please have a look at this ask and do the helpful needed. Thank you.

[2021-02-09 23:34] DerekHerman-MSFT commented on #70301
@seb-brack Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-09 23:37] KranthiPakala-MSFT commented on #69874
@shsandeep123 , @nayenama - Could you please have a look at this feedback and do the helpful needed? - Thanks

[2021-02-09 23:38] leodeoz commented on #57579
Did you copy the one from picture? (. * \ . \ w + )

[2021-02-09 23:39] KranthiPakala-MSFT commented on #69874
@SergeMoreno  I tried to reproduce the issue but having issues, hence assigned this issue to content author to further investigate and update as needed.

[2021-02-09 23:41] #70142 closed

[2021-02-09 23:51] BeMor81 opened #70326 ""The result() function provides context about the results from all the actions in a scope" Is not correct"
Result() does not return results from all actions in a scope but only the top level nested ones. Any which are nested within switchs or conditions are not included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8551e683-2c57-258d-c3ec-5b33d709b053
* Version Independent ID: b2bc0287-88c2-2b9a-30da-799d052cad82
* Conten

[2021-02-09 23:53] KranthiPakala-MSFT commented on #70324
@rawatsudhir1 Thanks for reaching out. Could you please try by granting `Synapse Compute Operator permissions` role on the workspace for the same user and see if that helps.

![image](https://user-images.githubusercontent.com/50185738/107444179-f760a980-6aee-11eb-9dcf-438bb3e2de51.png)

Thank you.

[2021-02-09 23:59] FilBot3 commented on #27904
This is where you do the assignment of the AKS vmss in a different Resource Group
* https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#node_resource_group

Is that still necessary?

[2021-02-10 00:04] aashishb commented on #70127
@Blackmist , can you help with the doc changes?

[2021-02-10 00:06] aashishb commented on #70129
@Blackmist , can you help?

[2021-02-10 00:13] LarrySmith-1437 opened #70327 "Is there a reason why this isn't scripted in AZ cmd line?"
Noticed that this page was updated in 2020.  We should be converting everything to AZ commands, not using azure powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7be494-b0c4-1e92-829e-119b05aadcb5
* Version Independent ID: e2032468-6c27-a6a6-6194-591ca21a3c55
* Content: [Connect to a VNet from a computer - P

[2021-02-10 00:28] Josh-Kewley-BC opened #70328 "Where is AI-Agent.xml found?"
This page documents the structure of AI-Agent.xml but doesn't say where it should be placed. Other pages provide instruction where to place applicationinsights.json so the 3.0 agent sees it. This page has not been updated since 5/2019, so perhaps this is in reference to the old Java agent? If so, it should probably be removed or 'agent' clarified.

---
#### Document Details

⚠ *Do not edit this se

[2021-02-10 00:44] b-juche commented on #70301
Thank you @seb-brack -- I'm running your suggestion by our SMEs.  I'll get back with an update.
BTW, if you are a NetApp or Microsoft team member, feel free to reach out to me at juliec@netapp.com.  Thanks!

[2021-02-10 00:47] femsulu commented on #70224
@LukeChung  - any update or response to @dcurwin 's comment above?

[2021-02-10 00:49] julieMSFT commented on #67463
Hi @helloyesthisisdave, I do understand your concern with this limitation not being documented. We have updated the article [Store query results from serverless SQL pool - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/create-external-table-as-select) to document the limitations. I am also adding the limitation to the [CREATE EXTERNAL TABLE AS SELECT (Transac

[2021-02-10 00:49] julieMSFT commented on #67463
#assign:julieMSFT

[2021-02-10 00:49] julieMSFT commented on #67463
#please-close

[2021-02-10 00:49] #67463 closed

[2021-02-10 00:54] julieMSFT commented on #67463
#https://github.com/MicrosoftDocs/sql-docs-pr/pull/18536

[2021-02-10 00:58] LukeChung commented on #70224
I'm sorry. I searched and couldn't see how I ended up at that page. That page is linked from the Azure VM's backup feature, which is expected and correct. I was trying to create a checkpoint for an Azure VM. I may have tried to create a support ticket for it and got it mixed up with the backup page. I'll keep an eye on it should the reference occur again. Meanwhile, if there is information on maki

[2021-02-10 01:17] idusortus opened #70330 "b2c-extensions-app never created"
Do I need this app registration? b2c-extensions-app

I'm having all sorts of issues working with Authorization w/B2C using Auth Flow w/PKCE. I'm hoping... that perhaps this missing registration might be part of the problem.

Reviewing the documentation regarding custom attributes I came across a reference to:
Azure AD B2C extensions app (b2c-extensions-app)

I don't have one on my work azure accou

[2021-02-10 01:30] gary918 commented on #70307
@KranthiPakala-MSFT Thanks for your quick response. The error message is "java.net.SocketException: Permission denied: connect". The on-premise REST API is available for the self-hosted IR, when I use 'Copy Data' activity. However, it doesn't work for my Azure Function activity even I choose self-hosted IR to run it.

[2021-02-10 01:32] femsulu commented on #70325
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-10 01:39] MGoedtel commented on #61183
@Karishma-Tiwari-MSFT - Via internal discussion about this issue and orphaned ownership of the Custom Script extension article(s), I've identified the correct owner and am reassigning this issue to him.  #reassign:amjads1. I'm also submitting a PR now to update the author of the article.

[2021-02-10 01:39] PRMerger16 commented on #61183
amjads1. is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-02-10 01:40] femsulu commented on #70224
No worries @LukeChung. Sounds like this was simply a miscommunication
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-10 01:40] #70224 closed

[2021-02-10 01:41] MGoedtel commented on #61183
#reassign:amjads1

[2021-02-10 01:51] femsulu commented on #70328
hello @Josh-Kewley-BC  - Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-10 02:05] MGoedtel commented on #61183
Also @mimckitt for awareness.

[2021-02-10 02:27] Grace-MacJones-MSFT commented on #69989
Hi @elvirk, you need to be "Contributor" role for a resource group to create an ASE.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-10 02:27] #69989 closed

[2021-02-10 02:50] larryclaman opened #70331 "Article incorrectly states peered virtual networks must be in the same region"
Multiple times in this article, it states that peered virtual networks must be in the same region.  This is no longer the case and should be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8fa2fdc-9c03-df0f-90fa-ff0cf11a70f8
* Version Independent ID: b9106c83-dadd-4518-3fea-803e59b8e61c
* Content: [Configure

[2021-02-10 03:07] SergeiDavydov commented on #57579
Hi guys,

I've tried to append the CDN auth token after storage SAS in rewrite rule but it doesn't work for me.

Source: /CDNBase/CustomerOrigin/(container\/.*)\?(.*)
Destination: /CDNBase/CustomerOrigin/$1?SAS&$2

I can see in %{query_string} that SAS and CDN tokens concatenated, but still getting 403 from CDN.
Any ideas?

TA

[2021-02-10 03:11] #70180 closed

[2021-02-10 03:13] SnehaAgrawal-MSFT commented on #70000
@Anand-Moghe We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-02-10 03:13] #70000 closed

[2021-02-10 03:18] DaveMenist opened #70333 "Flaws in setup documentation for B2C integration between legacy and new APIM portals."
The new APIM portal uses V2 User flows well.

The legacy portal does not. For the legacy portal integration, the guide should point the user to set up STANDARD V1 B2C user flows. Sperate sign-up and sign-in flows.

Testing in my lab during a support issue. I have found some caveats trying to configure the legacy developer portal experience to authenticate with B2C.

The legacy portal does not supp

[2021-02-10 03:27] RyanHill-MSFT commented on #70000
@Anand-Moghe I was able to reproduce your error and have filed Azure/azure-cli#16886

[2021-02-10 03:28] ChaitanyaNaykodi-MSFT commented on #70322
Hello @BeMor81,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-10 03:37] cjmakwana commented on #69828
Hi @msharsur

Based on your comments, I have re-checked the configurations. As per the below image, it seems that the configuration is fine:

![image](https://user-images.githubusercontent.com/23075550/107461132-5a9a1c80-6b7f-11eb-9705-a917f326c9ac.png)

Further, we are using Kotlin framework for mobile app, and downloaded the framework sample code, as part of the step 2. As per the sample here: h

[2021-02-10 03:45] v-sashig opened #70335 "No data retention charges till 90 days for Activity log data stored in a Log Analytics workspace."
Hello I'm a billing support engineer. This doc states that "No data retention charges till 90 days for Activity log data stored in a Log Analytics workspace." under the "Send to Log Analytics workspace."
However, the pricing page says, it's free up to 31 days.
Data Retention
Every GB of data ingested into your Azure Monitor Log Analytics workspace can be retained at no charge for up to first 31 da

[2021-02-10 03:46] JasonWHowell commented on #70258
@WenyunZou this looks like pointers to your personal account. Is that intended?

[2021-02-10 03:46] JasonWHowell commented on #70258
#assign:WenyunZou

[2021-02-10 03:59] dingliu opened #70336 "Indentation Error in Sample Snippet for Azure Authentication"
In section [Add authentication to manage Azure resources](https://docs.microsoft.com/en-us/azure/automation/learn/automation-tutorial-runbook-textual-python-3#add-authentication-to-manage-azure-resources), the currently sample code snippet is:

[code]

It generates error message during testing:

![image](https://user-images.githubusercontent.com/888873/107462506-2a895400-6b54-11eb-92bd-003c9902225

[2021-02-10 04:05] AnuragSharma-MSFT commented on #70318
@venkat1017 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-10 04:05] AnuragSharma-MSFT commented on #70319
@Ethan-Arrowood Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-10 04:06] AnuragSharma-MSFT commented on #70320
@davidlane-iteratec Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-10 04:12] SwathiDhanwada-MSFT commented on #70335
@v-sashig Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-10 04:13] AshokPeddakotla-MSFT commented on #70314
@kamilzzz Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-10 04:14] SwathiDhanwada-MSFT commented on #70336
@dingliu Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-10 04:19] CHEEKATLAPRADEEP-MSFT commented on #69994
@jovalen  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-10 04:25] VikasPullagura-MSFT commented on #70292
@msjuergent Can you please check and add your comments on this.

[2021-02-10 04:36] aruwo17 opened #70337 "PIM Licensing Requirements"
[Enter feedback here]
There seems to be conflicting information on the licensing requirements for PIM.
1. [https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-deployment-plan](url) says **AAD P2, Enterprise Mobility + Security (EMS) E5, Microsoft 365 Education A5, Microsoft 365 Enterprise E5**
2. [https://docs.microsoft.com/en-us/azure/active-directory/privil

[2021-02-10 04:38] khatri034 opened #70338 "Foeachloop file enumeration on azure file share subdirectory not reading files"
@AzureSupport I have a Ssis package that reads file from a directory like c:/folder/folder1/folder2
And it's running fine on premises but when same folder structure created on azure file share its enumerating and not finding any file with search patter '*.xlsx' . Any workaround to read files from subdirectory while from root file share folder it's working fine.

[2021-02-10 04:42] khatri034 commented on #70338
@AzureSupport

[2021-02-10 04:55] AnuragSharma-MSFT commented on #70006
@hwride We will now proceed to close this thread. Changes would be live in few days. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-10 04:55] #70006 closed

[2021-02-10 04:57] YutongTie-MSFT commented on #70106
@likebupt Hello Blanca, could you please help with this issue? It's very difficult to find the next step from the documentation. Please help to share some insight and update the document if necessary. Thank you very much.

@marciomocellin We are sorry for the experience, I have tagged the author for this issue. ^^ Thanks for the patient.

[2021-02-10 04:57] AnuragSharma-MSFT commented on #70199
@fjod This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-10 05:21] SubhashVasarapu-MSFT commented on #70331
@larryclaman, Thanks for reaching out. We will investigate and update this thread.

[2021-02-10 05:31] su-jie commented on #70258
@LauraDamianTNA For the first issue, the second link is pointing to the ASA sample Visual Studio Code project. You can find ASA script in file 'myASAProject.asql'. Is that what you are looking for?
![image](https://user-images.githubusercontent.com/24801534/107469087-15d4ac80-6ba4-11eb-9761-e01ee55bcab4.png)

We are checking the pipeline access for #2 and #3.

[2021-02-10 05:32] AnuragSharma-MSFT commented on #70319
@Ethan-Arrowood Sorry for the trouble you are facing. As per the article System.Data.SqlClient would work fine if we add the below entry on the proj file.
`<ItemGroup>
    <PackageReference Include="System.Data.SqlClient" Version="4.6.0" />
</ItemGroup>`

I tried using the same code and was able to run the project successfully. Could you please share the error message to understand it more?

[2021-02-10 05:56] SatishBoddu-MSFT commented on #69882
Hello @PradeepKiruvale I don't think creating enrollment via MQTT is possible, may I know what is your use case? With MQTT broker you can create DPS provisioning, but I have to double check if we can do enrollment or not via MQTT.

**FYI**,
Enrollment creation is the First Step. [happens in the back-end-one time]
Device provisioning is the second step.[by each device]
Please also read on [this Sta

[2021-02-10 06:06] AnuragSharma-MSFT commented on #70264
@hanskhe Thanks for the feedback and pointing out the issue. Yes you are right in mentioning that the '**_Deny public network access_**' is not applicable to basic tier. And if we set it up to 'Yes', we can connect through private endpoint connections to the Azure Database for PostgreSQL. We have the similar details mentioned in the [article ](https://docs.microsoft.com/en-us/azure/postgresql/conc

[2021-02-10 06:07] RohitMungi-MSFT commented on #70198
@haymansfield You can refer the samples repo from [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/csharp/dotnet/from-blob/program.cs).

[2021-02-10 06:13] Hitengit054 commented on #70266
@AshokPeddakotla-MSFT  : Thanks waiting for reply

[2021-02-10 06:36] psmanhas commented on #70177
@patuf The document is updated and changes will go live soon.

[2021-02-10 06:36] #70177 closed

[2021-02-10 06:39] ssivas commented on #69801
@Gibbo81, Closing this out as I have not heard back. Feel free to tag me in the comments or open a new issue if you'd like to continue the discussion. Thanks !

[2021-02-10 06:39] #69801 closed

[2021-02-10 06:44] Kent-Agent commented on #70222
We are using VPN Gateway in our environment. And i can confirm it worked before as Gerd-W says.

Now I get very conflicting results all across the board. I can save the .xml in Intune and also connect the VPN on my test-PC. However when I push the deployment to another the Azure VPN Client does not accept the profile...
Dont know if this is expected or what to do about it..

[2021-02-10 06:47] ssivas commented on #70010
@FrogWan, I just wanted to follow up on this thread. Did you get a chance to review previous comment ? Please let me know if there any queries. Thanks !

[2021-02-10 07:10] SwathiDhanwada-MSFT commented on #70336
@dingliu Thanks for your feedback. I have updated the code snippet in the document. The changes will be live soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-10 07:15] #70336 closed

[2021-02-10 07:23] Klaas- opened #70341 "Standard_D2ds_v4 accelerated network support"
Hi,
I can't seem to install a Standard_D2ds_v4 with accelerated network support, are the docs incorrect in stating that all of the Ddsv4-series supports accelerated networking?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a43e5b4-7893-dcd7-839f-e394912d1bd9
* Version Independent ID: 560d2e4a-6a12-48

[2021-02-10 07:24] SergeMoreno commented on #69874
Please find the error I received:
Request failed with status code 400 Request ID: b0ebfef6-987f-4c36-aa03-f21b90eedbc1 Attributes qualifiedName, name & glossary name are missing. Failed to derive a unique name for Glossary term
a few seconds ago

and in annex the CSV delimited file I use: Note issue could be regional settings.

Hope you can reproduce now.
Serge Moreno

From: Kranthi Pakala <notifi

[2021-02-10 07:28] SergeMoreno commented on #70016
I work as consultant with different companies and on different Azure environments.
On the delaware Azure, the Glossary works fine - on the Volvo Financial services Azure environment it does not work.

Kind Regards

From: Kranthi Pakala <notifications@github.com>
Sent: woensdag 10 februari 2021 0:33
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Moreno, Serge <Serge.Moreno@delawar

[2021-02-10 07:28] psmanhas commented on #70211
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-10 07:33] CHEEKATLAPRADEEP-MSFT commented on #70338
@khatri034  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could pro

[2021-02-10 07:35] PradeepKiruvale commented on #69882
@SatishBoddu-MSFT Thanks for your reply. I could enroll (Used REST API) and Registered(using DPS-MQTT) the device now. Please let me know is it possible to enroll also using mqtt

[2021-02-10 07:38] SwathiDhanwada-MSFT commented on #70335
@v-sashig  There will be no data retention charges till 90 days for Activity log data stored in LA. Same information has been documented in Azure Pricing Page. For your reference, adding the snapshot.
![image](https://user-images.githubusercontent.com/48976275/107479417-1455b500-6ba1-11eb-8778-fcba414b4c20.png)

Hope this clarifies your question.

[2021-02-10 07:42] SwathiDhanwada-MSFT commented on #70262
Assigning to content author @vgorbenko for document enhancement.

[2021-02-10 07:44] SwathiDhanwada-MSFT commented on #70202
@JamesDLD As requested, kindly revert if you have further questions.

[2021-02-10 07:46] SwathiDhanwada-MSFT commented on #70193
Assigning to content author @anirudhcavale for review and document update.

[2021-02-10 07:55] psmanhas commented on #70285
@tomvachon The document is updated and changes will go live soon.

[2021-02-10 07:58] #70285 closed

[2021-02-10 08:02] hanskhe commented on #70264
@AnuragSharma-MSFT Thank you for your swift feedback.

I believe this should also be mentioned in the prerequisites-section of the article in question. While it makes sense that you can not deny public network access for instances that do not support private endpoint connections, having to dig down into the documentation for other features seems counter-intuitive.

I would suggest that the prerequ

[2021-02-10 08:08] algattik commented on #70215
When:
- model A has a relationship to model B
- model C inherits from model B

Then: a twin with model A cannot reference a twin with model C

[2021-02-10 08:12] hwride commented on #70006
Hi @AnuragSharma-MSFT
I can't see a PR linked in this ticket or a recent one in the list, could you please link me to the relevant one?
Thanks

[2021-02-10 08:14] ClaudioRifo opened #70343 "Question regarding IP change"
You have put a warning regarding that the outgoing IP of the service may change due to maintenance.

"This IP address may change due to maintenance/deployment operations. This method of connectivity is only for customers who cannot afford to allow all IP address on 3306 port."

But does the CNAME stored on @@global.redirect_server_host change?
(my firewall allows to create rules based on CNAME).

[2021-02-10 08:14] GraceZhangM opened #70344 "Misguidedto"
[Enter feedback here]
Run a failover- step 10 “Site Recovery doesn't clean up the source VM after failover. You need to do that manually.”

If cx would like to re-protect the VM, the source server could not be deleted then will cause the re-protect failed.

Please add the description that if the VM doesn't reportect anymore, then it could be cleanup.

---
#### Document Details

⚠ *Do not edit this

[2021-02-10 08:21] savjani commented on #70343
Yes, the cname stored in @@global.redirect_server_host can change on restart of the server as part of planned or unplanned events. We won't recommend using the cname in connection string

[2021-02-10 08:22] savjani commented on #70343
Yes, the cname stored in @@global.redirect_server_host does change if the server restarts as part of planned or unplanned operations

[2021-02-10 08:23] JayaChatterjee-MSFT commented on #70326
@BeMor81 Thank you for your feedback! We will review and update as appropriate.

[2021-02-10 08:24] ClaudioRifo commented on #70343
Is there a way to push the outgoing traffic of Azure Mysql to a NAT Gateway or VPN (to get static unchanging outgoing IP)?

[2021-02-10 08:27] alexskoropletov opened #70347 "Lack of REST API examples for authentication"
Hi!

I'm afraid that this page does not provide valid information about authentication using REST API only. PowerShell tools are required. Is there a way to authenticate against Azure AD using only REST API requests, for example with curl or wget?

This example:
[code]
is using Microsoft.IdentityModel.Clients, that does something under the hood. More transparency would help.

---
#### Document Det

[2021-02-10 08:35] tomkerkhove commented on #70281
Here you go:

[code]

[2021-02-10 08:39] semeif opened #70348 "Microsoft 1st party app list which supports Shared Device Mode?"
It would be great to have a List of Microsoft Apps on Android (and iOS) which already support or plan to support Shared Device Mode. Some Testing shows for example that Microsoft Teams is aware of Shared Device Mode but Microsoft Edge as well as The PowerApps App isn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d

[2021-02-10 08:50] AnuragSharma-MSFT commented on #70006
Here is the PR:
MicrosoftDocs/azure-docs-pr#145958

[2021-02-10 08:58] naveenjangra-gep commented on #9340
I am also getting the same error.

[Monday 3:25 PM] Hema Gunnam
    1>------ Build started: Project: s2s.supplier.segmentation.selfhosted, Configuration: Debug x64 ------
2>------ Deploy started: Project: s2s.supplier.segmentation.selfhosted, Configuration: Debug x64 ------
2>Started executing script 'GetApplicationExistence'.
2>Finished executing script 'GetApplicationExistence'.
2>Time elapsed:

[2021-02-10 09:08] khatri034 commented on #70338
@CHEEKATLAPRADEEP-MSFT  this is not a feedback but a issue or you can say a bug which I found on azure.

[2021-02-10 09:12] PatelMaulik91 commented on #31468
I have set logic app start time 2021-02-09T14:40:00Z for (UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi but it is not running for time specified which is 2:40PM. What could be the reason?

[2021-02-10 09:22] star286 opened #70349 "How to restore a version for a deleted blob if soft-deleted is not enabled?"
If I don't enable soft-delete feature, but just turn on versioning feature.

Then for a blob, I modify it to generate a version. Then I delete the blob. How do I restore the deleted blob to a specified version? I tried `copy blob` operation via rest api, but it says that the blob is not found.

[2021-02-10 09:27] hwride commented on #70006
That link gives me a 404.

[2021-02-10 09:30] AnuragSharma-MSFT commented on #70006
I think its related to access to the repo. I am posting the screenshot of the same. Please let me know if this helps:

![image](https://user-images.githubusercontent.com/66360845/107490984-9699a580-6bb0-11eb-9f32-f47929e8ccf4.png)

[2021-02-10 09:32] hwride commented on #70006
Ah ok,yes that looks good. Thanks!

[2021-02-10 09:36] haymansfield commented on #70198
Forgive me if I'm wrong, but that doesn't point to a webhook sample.

[2021-02-10 09:43] peacemaker360 opened #70350 "Profile file is not for Azure VPN"
Thanks for the great article on how to automatically roll out the configuration over Intune.

However, I do have the following error after following the steps:

`[ApplicationX] [] [Error] RefreshProfiles: Skipping <profileName>, Error: Profile file is not for Azure VPN`

Where `<profileName>` would be the VPN profile name.
Also, the Profile therefore then doesn't show up in the AzVpn App.
When imp

[2021-02-10 09:48] RohitMungi-MSFT commented on #70198
@haymansfield Apologies. I have updated the link in my previous comment. The webhook receiver code is in the samples directory.

[2021-02-10 09:58] rquintino opened #70351 "Regarding negative images for object detectors"
Regarding this note, as why custom vision object detectors don't need negative examples: "Object detectors handle negative samples automatically, because any image areas outside of the drawn bounding boxes are considered negative."

Cant this risk to introduce some bias and optimistic test results? because we are sampling then only from positive images, context/surrounding of detected objects can

[2021-02-10 10:02] bertrandpons opened #70352 "Update on region availability"
Hello,

Do you have updates on regional availability of NFS file share, or is the list complete?

I add another question: can Azure Backup be used for NFS backup?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae2dd9b-a650-4399-4278-75787a6984d7
* Version Independent ID: 7aea5118-7d89-9c5c-b35c-2a7d296f479

[2021-02-10 10:23] RohitMungi-MSFT commented on #70351
@rquintino Thanks for the question. We shall get back to you on the guidance for negative images/training for object detection based on feedback from our team. Thanks!!

[2021-02-10 10:31] wUEZRs opened #70353 "regarding dns and domain"
There should be a big warning here because even if you name a new VM created from a backup something unique, it still assumed the name of the old machine. Thus creating a DNS mismatch and thus breaking prod

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66081bde-1e22-dd9c-8357-a0485b23b0a7
* Version Independent ID: eb2

[2021-02-10 10:33] brian-h1 opened #70354 "Changes to this have caused isses"
The page in AAD has changed, the button to resend invites is no longer there, the option is now behind the Manage option. There's no way to give users the ability to use this however and the page is vague about what permissions are needed, it just says "... an Azure AD administrator."

What role can I assign that will allow this? "Guest Inviter" allows invites, but not access to resend.

---
####

[2021-02-10 10:40] fgheysels commented on #19968
We're seeing this as wel in Web App for containers that are hosting an ASP.NET Core API.  Although the documentation mentions that we can safely ignore these failed requests, it would be better if those requests do not appear in our logs anyway, as they don't bring any usefull information, only confusion.
![image](https://user-images.githubusercontent.com/3605786/107499056-c8047800-6b94-11eb-8e6a-

[2021-02-10 10:41] pdworzynski commented on #70274
I completely agree, allowing for datasets mounts to be writeable (at least on blob storage and adls gen 2 datastores) would be a great feature. This is especially true in light of blobfuse's bug #https://github.com/Azure/azure-storage-fuse/issues/540 which prevents use of sensible authentication options for the only alternative workflow that i know of.

[2021-02-10 10:54] CHEEKATLAPRADEEP-MSFT commented on #70327
@LarrySmith-1437  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2021-02-10 10:55] jhlggit opened #70355 "Obsolete PowerShell commands used in example code."
Commands Add-AzAccount and Start-AzVM, used in sample code on this page, seem to be obsolete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6394c7-9bef-b8f8-ffd6-9d9d8e2daa07
* Version Independent ID: 5ffa20a2-436c-2726-dc57-9d3b49f9ca39
* Content: [Start an Azure Automation runbook from a webhook](https://docs.micr

[2021-02-10 10:55] CHEEKATLAPRADEEP-MSFT commented on #70349
@star286  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provi

[2021-02-10 10:56] CHEEKATLAPRADEEP-MSFT commented on #70347
@alexskoropletov  Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-10 10:58] CHEEKATLAPRADEEP-MSFT commented on #70330
@idusortus  Thanks for the question! We are investigating and will update you shortly.

[2021-02-10 11:00] CHEEKATLAPRADEEP-MSFT commented on #70333
@DaveMenist  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-02-10 11:06] akamienski opened #70356 "NSGs configuration for DB migration confusion"
Hello,

I think there's a confusion or typo in documentation about the configuration of NSGs for each migration solution. Documentation states, that in case of offline migration to SQL MI, I should:

"Ensure that your virtual network Network Security Group rules don't block the following outbound communication ports to Azure Database Migration Service"

But for the same offline solution, in case o

[2021-02-10 11:07] KrishnaG-MSFT commented on #70082
@Klaas- As shown in below screenshots of the announcement and the Azure document, I see that the OSes mentioned in the announcement are reflecting in the Azure document. Am I missing something here? If yes, please clarify.

**Announcement screenshot:**
![image](https://user-images.githubusercontent.com/45988031/107501921-07938a00-6bbe-11eb-87b2-288e3fe0107f.png)

**Azure doc screenshot:**
![image]

[2021-02-10 11:09] assaf-grth opened #70357 "Storage account object replication monitoring"
Hi,
Is there a way to monitor the replication status so that if some blob fails an alert will be triggered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb0dea9-36b5-22ab-c8e3-8177acca705d
* Version Independent ID: a7a92ba3-bc6b-5026-46f4-2fdfb677d17b
* Content: [Object replication overview - Azure Storage](https://

[2021-02-10 11:10] urikan1 opened #70358 "hpa configuration"
Please review the hpa configuration
Looks like you did not want to scale the backend pods but they actually got scaled up to 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c78ddb5
* Content: [Kubernetes on Azure tutorial  - Sc

[2021-02-10 11:12] cveld opened #70359 "Send custom data to App Insights in the request context"
Is it possible to send custom telemetry data to App Insights inside an Azure PowerShell Function?

I see that when building a .NET function you can get this `TelemetryConfiguration` object injected; ref. https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#log-custom-telemetry-in-c-functions.

Is this something we can pull inside PowerShell as well?

[2021-02-10 11:18] leodeoz commented on #57579
I don't know much about using the Auth token but here https://docs.microsoft.com/en-us/azure/cdn/cdn-token-auth looks like they are adding a second rw rule for that. Anyways, why do you want to use it, if you're already using a SAS token? to improve security, i'm not sure but, maybe, you can limit the access to storage account only fron Verizon CDN's IP range or disable "public access" in storage

[2021-02-10 11:19] CHEEKATLAPRADEEP-MSFT commented on #70338
@khatri034 Please do open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

[2021-02-10 11:28] ryantheleach opened #70360 "Add example of non-trivial CosmoDB document fetching."
The bindings are great and all, but what is missing from the docs is how to deal with non-trivial transformation of input parameters and still lookup the document.

For example, using the subdomain as a partition key, or hashing the query parameter.

In these cases it doesn't appear possible to use an input binding for CosmoDB, but it isn't straightforward on how to access CosmoDB from a function

[2021-02-10 11:31] neilslater123 opened #70361 "Missing word?"
Under the heading: Next steps
The sentence
"To to your virtual network, you must create and configure a VPN client profile. "
needs to be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [VPN Gateway:

[2021-02-10 11:32] assaf-grth commented on #70357
One more addition to the question,
Is there an option to set a replication on all containers inside a storage account?

[2021-02-10 11:33] DavidWorner-Cert opened #70362 "Task Accomplish With Microsoft Certified Azure Artificial Intelligence Associate"
In this age of new technologies, the development and implementation of AI solutions have become the path to success in the cloud business. This increases the productivity of the company and its resources. Microsoft Azure has gained an influential place in the world of cloud computing. Demand for Microsoft Certified: Azure AI Engineer Associate has grown to deploy and develop artificial intelligenc

[2021-02-10 11:39] dazinator opened #70363 "Do we still have to configure the rule in Windows Firewall on the VM?"
It's unclear whether adding the rule through the azure portal, will also update the windows firewall rules on the actual VM itself, or do we have to add a rule there too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b29d46b-5a37-3e56-00a5-98971bce4f6c
* Version Independent ID: 87d3401e-dca7-20b1-5544-64f72e83eb54
*

[2021-02-10 11:54] GitaraniSharma-MSFT commented on #70231
@jacobmsft , may I know which region VMSS you are trying to connect via Azure Bastion?

[2021-02-10 12:05] khatri034 commented on #70338
closed

[2021-02-10 12:05] #70338 closed

[2021-02-10 12:10] kmohideen opened #70364 "Read-only file system error"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-02-10 12:11] kmohideen commented on #70364
I get this error

az extension update --name azure-cli-iot-ext
CLIInternalError: The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system:

How to resolve this ?

[2021-02-10 12:14] AnuragSharma-MSFT commented on #70356
@akamienski Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-10 12:16] ssivas commented on #70337
@aruwo17 , Thank you for your query . We will investigate and update the thread.

[2021-02-10 12:17] ssivas commented on #70354
@brian-h1 , Thank you for your query . We will investigate and update the thread.

[2021-02-10 12:29] BE-Digital-Solutions-Bart opened #70365 "B2B guest access to Key Vault"
Hello,

We would like to give permissions to a key in Key Vault to a B2B guest account. This doesn't seem to be possible using the existing access policies, at least it doesn't seem possible to allow executing operations on keys:
cfr. https://docs.microsoft.com/en-us/answers/questions/146405/keyvault-secrets-read-acces-for-guest-users-access.html

Will this be possible with the Azure RBAC setup?

[2021-02-10 12:35] Klaas- commented on #70082
@KrishnaG-MSFT well then you fixed it after I opened the issue :)

issue was fixed in: https://github.com/MicrosoftDocs/azure-docs/commit/c9fb7444a548a119b24548d4e0f0b5ee6f407853

[2021-02-10 12:35] #70082 closed

[2021-02-10 12:40] agribot2 opened #70366 "python code line df = pd.read_csv("iris.csv") causes [errno 2] No such file or directory 'iris.csv'"
I have resolved this problem. It was an error by me. I had the file in the wrong location. This issue can be closed

The code seems incorrect
the line python code line df = pd.read_csv("iris.csv") causes [errno 2]  No such file or directory 'iris.csv'
Also. please check if the line   containerName      = "output"  is correct. Should that be output ? or input ?

Note, I have provided further inform

[2021-02-10 12:58] SumanthMarigowda-MSFT commented on #70352
@bertrandpons Thanks for your question. We are checking on this and will respond to you soon.

[2021-02-10 12:58] SumanthMarigowda-MSFT commented on #70357
@assaf-grth Thanks for your question. We are checking on this and will respond to you soon.

[2021-02-10 13:16] lab-tec commented on #55499
Thanks very much @davinda1992

I had this issue, fine for 99% of users, but one user kept getting rejected.  It was her Dial In settings in AD, changed that and set NPS to 'ignore dial-in tab access permissions set on user objects in Active Directory.'   Really appreciate the post, saved me hours as was just about to do even more troubleshooting

[2021-02-10 13:17] Gerd-W commented on #70222
We are using VPN Gateway and plan to migrate to VWAN later this year.
Is there a difference regarding the Client profile?
Since the error occurs when importing the XML into a custom configuration profile I assume that should be independent of the VPN Server.
By the way is there anywhere a documentation available about the Azure VPN Client part of the XML?
I have some very strange effects with the

[2021-02-10 13:22] ssivas commented on #70337
@aruwo17 ,

To use Privileged Identity Management, your directory must have AAD P2 paid or trial licenses .

Azure AD Premium P2 plan is available as individual license as well as available in following license pack as sub plans **(Enterprise Mobility + Security (EMS) E5, Microsoft 365 Education A5, Microsoft 365 Enterprise E5)** so having either of one paid or trial licenses in your directory whi

[2021-02-10 13:27] prietosanti commented on #60273
Hi, this issue still exists, any update or workaround? Thanks

[2021-02-10 13:33] lfbraz commented on #56355
Is it possible to limit the max size of the local disk?

[2021-02-10 13:33] shashishailaj commented on #70348
@semeif Thank you for your query . We will investigate and update the thread.

[2021-02-10 13:34] shashishailaj commented on #70365
@ssivas Thank you for your feedback . We will investigate and update the thread.

[2021-02-10 13:38] bertrandpons opened #70368 "Azure Cache for Redis pricing with zone redundancy"
Hello,

Could you please clarify if price changes when we add replicas in order to get zone redundancy?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a05d608-eb17-11ec-473b-6daf37853d72
* Version Independent ID: 64718ee9-e77f-eb42-7ac2-0234c64fec24
* Content: [Enable zone redundancy for Azure Cache for Re

[2021-02-10 13:42] SwathiDhanwada-MSFT commented on #70355
@jhlggit Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-10 13:42] joheynek opened #70369 "Prerequisites"
Would it be possible to add prerequisite information in here such as Azure AD Premium P2 license requirement. I understand that we can refer back to AAD for licensed features etc. but as an engineer when quickly reviewing this document, it would be handy to see that P2 requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-02-10 13:43] vipulsparsh commented on #70249
@danielr11220 Here is the update from internal team :
Public preview for User Flows and Custom policies should be in about a month.
User Flows will be GUI approach.

Let us know if you have any questions.

[2021-02-10 13:44] #70249 closed

[2021-02-10 13:46] BrooksV commented on #70310
As suggested, I created an Azure PowerShell New Feature Request [https://github.com/Azure/azure-powershell/issues/14175](https://github.com/Azure/azure-powershell/issues/14175).

[2021-02-10 14:08] ietashish opened #70371 "Incorrect title"
The title in the page https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings `SCALE_CONTROLLER_LOGGING_ENABLE` should actually be `SCALE_CONTROLLER_LOGGING_ENABLED`. ("D" is missing)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 6019

[2021-02-10 14:11] minikolic opened #70372 "Wrong url in example code for requesting access token"
Example code `POST <tenant-name>.onmicrosoft.com/<policy-name>/oauth2/v2.0/token HTTP/1.1` should be changed to:

`POST <tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/<policy-name>/oauth2/v2.0/token HTTP/1.1`

so prefix `<tenant-name>.b2clogin.com` is missing.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83

[2021-02-10 14:28] samrueby opened #70375 "Missing listSecrets Implementations"
This page contains a table 'Implementations' that shows the possible uses of list* functions.

One is missing. The Resource type 'Microsoft.ApiManagement/service/subscriptions' mapped to Function name 'listSecrets' should be added. I have verified that this correctly returns the subscription keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-10 14:38] DeanGross opened #70376 "Additional Error Codes"
we are seeing error 31044 for the passwordresetservice but its not listed on the table. Please update the table to provide information about this code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6c7b290-3f3e-70c9-7524-80d7364dd763
* Version Independent ID: d12b324f-57b2-9fd8-a433-b25644424171
* Content: [Troublesh

[2021-02-10 14:47] kristaps194 opened #70379 "Clarify licence types that have the 0 core restriction"
Please, clarify which license types have the limitation and how long the approval takes as currently clients are receiving unexpected surprises by having to postpone plans for classes.

Suggested edits:
_Some rare subscription types **(e.g., Open Volume Licensing, ..)** that are more commonly used for fraud can have a default limit of 0 standard cores and 0 GPU cores. If you are using one of these

[2021-02-10 14:48] Blackmist commented on #70129
@oolukoya
Thanks for the feedback. There's a work item on the backlog for a tutorial on creating a private workspace. It would be separate from this how-to article, but they would link back and forth.

I don't have a firm ETA on when the new document will be published. Probably later this month or in March.

[2021-02-10 14:55] Blackmist commented on #70127
@oolukoya
Thanks for the feedback. I'll have the doc updated to provide an example command and note that there may be additional parameters required.

[2021-02-10 14:55] MonikaReddy-MSFT commented on #70379
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-10 14:55] barmettlerl commented on #69635
Hi @SatishBoddu-MSFT

Sorry, that I continue the thread here on github. I think for other user with the same problem it is helpful, if the whole discussion is in one place. But for further issues I will surely use Microsofts Q&A forum.

1. Payload body recorded with the device explorer twin
[code]

2. Yes, when i use only 'true' as a query the messages will be forwarded to the target endpoint (Eve

[2021-02-10 14:56] amneshgoel7 opened #70380 "Start/Stop is now in GA."
[Enter feedback here]

This link says that Start/Stop feature of MySQL is now in GA. This page should reflect the change.

https://azure.microsoft.com/en-in/updates/general-availability-stopstart-functionality-for-azure-database-for-mysql/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db4b5208-1b5f-873c-d2ae-91078eb2a

[2021-02-10 14:57] amneshgoel7 opened #70381 "Start/Stop is now in GA."
[Enter feedback here]

The top portion of this page says that MySQL start/stop is in preview. But, the below link says that Start/Stop feature of MySQL is now in GA. This page should reflect the change accordingly.

https://azure.microsoft.com/en-in/updates/general-availability-stopstart-functionality-for-azure-database-for-mysql/

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-02-10 14:57] MonikaReddy-MSFT commented on #70364
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-02-10 14:59] SatishBoddu-MSFT commented on #69882
Hello @PradeepKiruvale Thanks for the update! I will close this case for now. I will let you know here, once I get confirmation from my team on this topic.
 If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)

[2021-02-10 14:59] #69882 closed

[2021-02-10 15:06] walunjsachin opened #70382 "Blob\Container names should be lower case."
The examples in demo code fails with error for blob\container name to be lower case instead they way it is documented.
.GetBlobContainerClient("myContainer").GetBlobClient("myBlob")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5bb5-c375-d392-4fa366ddbe43
* Version Independent ID: fd87a3a3-56b6-fa2e-8c51-65ba

[2021-02-10 15:11] AnuragSharma-MSFT commented on #70368
@bertrandpons Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-10 15:13] SatishBoddu-MSFT commented on #69635
Hello @barmettlerl Thanks for the update. I agree with you to continue over here!.

It looks good for me, I can't find any issue with what you are doing!!! Maybe we need a direct 1:1 session to troubleshoot this.

Please send an **email** to azcommunity@microsoft.com with the **below** details, so that we can work closely on this matter.

**Thread URL:** Link to this thread.
**Your Azure Subscript

[2021-02-10 15:22] kristaps194 commented on #70379
Thank you!
Please, keep my work email in CC.

Kind regards
Kristaps Sedols
________________________________
From: MonikaReddy-MSFT <notifications@github.com>
Sent: Wednesday, February 10, 2021 4:55:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: ksedols <kristaps194@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Clarify licence types t

[2021-02-10 15:27] jitendraRai commented on #70330
"b2c-extensions-app. Do not modify. Used by AADB2C for storing user data.

" This app appears to be created by default for every B2C tenant. Since this app is used to by the Portal to do CRUD operations on all extension attributes, we could re-use it in custom policies to do CRUD on extension attributes, of if there's any changes via Graph API, we could use this Application. This allows consistenc

[2021-02-10 15:29] vbhupathi opened #70383 "Using a Static threshold, how to define a Threshold value?"
I couldn't find a metric chart, I appreciate it if someone points me to the metric chart documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Version Independent ID: 324a8bd9-cec9-3be0-b1fb-01e9a0f95710
* Content: [Create, view, and manage Metric Alerts Using Azure Monito

[2021-02-10 15:34] mumian commented on #70375
@samrueby - thank you for your comment.  I will update the article.

[2021-02-10 15:47] shashishailaj commented on #70372
@minikolic Thank you for pointing this out. We will investigate and update the thread.

[2021-02-10 15:50] harelbr commented on #70383
Hi @vbhupathi,
When creating a metric alert rule via the Azure portal, after selecting the metric to alert on, you'll see a preview of the metric.

![image](https://user-images.githubusercontent.com/10447589/107534202-6100b680-6bc8-11eb-966c-ccbdbaf5a62c.png)

[2021-02-10 15:52] rquintino commented on #70274
@pdworzynski for now one workaround we found, just use the code mounted directory of Azure Machine Learning, which typically is for user code/notebooks on user homes, and create a shared folder there to work as data store. Ex. /Users/Shared

[2021-02-10 15:55] #70366 closed

[2021-02-10 15:58] vbhupathi commented on #70383
thanks, much @harelbr.  I didn't realize that it is talking about the Azure portal, I thought it's talking about something in the documentation😜

[2021-02-10 16:01] harelbr commented on #70383
Sure thing @vbhupathi :smile:

[2021-02-10 16:08] SatishBoddu-MSFT commented on #70201
Hello @barmettlerl @AshokPeddakotla-MSFT We are working on another issue offline, which is related to this, so taking this issue on my list, will keep you posted!

[2021-02-10 16:09] Klaas- opened #70385 "Number of update domains"
Hi,
I am looking at availability sets, but I can't seem to find docs on the number of update domains.

This document, other documents like:
https://github.com/Microsoft/azure-docs/blob/master/articles/virtual-machine-scale-sets/virtual-machine-scale-sets-manage-fault-domains.md
https://docs.microsoft.com/en-us/rest/api/compute/availabilitysets/createorupdate

Somehow 2,3 and 20 seems to be the num

[2021-02-10 16:11] JamesTran-MSFT commented on #70369
@joheynek
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-10 16:11] JamesTran-MSFT commented on #70376
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-10 16:14] PramodValavala-MSFT commented on #70360
@ryantheleach For complex binding scenarios that can't be achieved using [Binding Expressions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns), you could perform [Binding at Runtime](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#binding-at-runtime) if you are using C#.

For other languages, you wo

[2021-02-10 16:19] PramodValavala-MSFT commented on #70359
@cveld Since C# runs in-process, it is possible to inject the same telemetry configuration but for other workers that run out-of-process, I believe this won't be possible. @eamonoreilly Could you confirm?

The snippet that you've shared would be the way to initialize a telemetry client to send custom events (since there is no App Insights module that I am aware of), but I believe you won't be able

[2021-02-10 16:21] Klaas- commented on #70385
Follow up question: how can a region have 3 availability zones but only 2 fault domains? Or does 2 fault domains mean I have 2 fault domains inside of each availability zone?

[2021-02-10 16:22] stuckbear opened #70387 "AAD Password Policy requiring complexity"
Does not square with Microsoft's own guidance to follow NIST 800-63b. Why is complexity not configurable?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-8170-6f7a-132b2d79e1df
* Content: [Self-service password reset polic

[2021-02-10 16:35] NavtejSaini-MSFT commented on #70381
@amneshgoel7 We are checking this and we are also closing this issue - https://github.com/MicrosoftDocs/azure-docs/issues/70380 as duplicate.

[2021-02-10 16:37] NavtejSaini-MSFT commented on #70380
@amneshgoel7 We are closing this as duplicate to https://github.com/MicrosoftDocs/azure-docs/issues/70381

[2021-02-10 16:37] #70380 closed

[2021-02-10 16:49] martincoetzer commented on #70277
We've started our investigation but believe most of the recommendations will remain similar. We will update this as we learn more

[2021-02-10 16:49] martincoetzer commented on #70277
#please-close

[2021-02-10 16:49] #70277 closed

[2021-02-10 16:57] mumian commented on #70375
The PR has been merged.  The article will go live later today.

#please-close

[2021-02-10 16:57] #70375 closed

[2021-02-10 16:58] SaiKishor-MSFT commented on #70361
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-10 16:59] KrishnaG-MSFT commented on #70375
@mumian Thanks for the super quick response. :+1:

[2021-02-10 17:01] KrishnaG-MSFT commented on #70383
@harelbr Thanks for the super quick response. :+1:

[2021-02-10 17:02] PramodValavala-MSFT commented on #70371
@ietashish Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-02-10 17:03] KrishnaG-MSFT commented on #70383
@vbhupathi At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion. Thanks.

[2021-02-10 17:03] #70383 closed

[2021-02-10 17:07] SadiqhAhmed-MSFT commented on #70074
@klawrawkz Closing this issue for now. Feel free to ping me if you have any further questions.

[2021-02-10 17:07] #70074 closed

[2021-02-10 17:15] dlepow commented on #70227
That seems likely to me as well. There might be xargs options that work around this. In any case, glad you got this to work with PowerShell.

[2021-02-10 17:19] cherylmc commented on #70361
Good catch! Fixing. Thanks! #please-close

[2021-02-10 17:19] #70361 closed

[2021-02-10 17:20] markmcgookin opened #70390 "Integrating KeyVault with AKS fails to work following this tutorial due to a security issue with KubeNet"
See [here](https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/) for information on the issue.

From that page:

Following this tutorial, the AAD Pod Identity fails to work (the NMI Pod go into a crash loop on startup) and thus things never actually work.

Ideally someone needs to update the steps in this document to include a safe and secure work around for this is

[2021-02-10 17:21] MrCsabaToth opened #70391 "I'd need detailed explanation on how exactly the logic got changed for certain Vulnerability Assessment rules"
Due to some rule changes my Vulnerability Scan produced some new failing rules. I see that the list of changes is very long, but I'd need a detailed explanation on what exactly changed about the logic of VA2108 and VA2130. Possibly the other rules as well if any other user hit those.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-02-10 17:21] #70371 closed

[2021-02-10 17:21] MrCsabaToth commented on #70391
This is so I can make a more informed decision about baseline or other actions besides the description of the rule.

[2021-02-10 17:21] SatishBoddu-MSFT commented on #69882
Hello @PradeepKiruvale I have a confirmation from my team.

“You can’t “create enrollments” (a back-end operation) over MQTT or mosquitto_pub.  That’s reserved for REST APIs or our SDKs.   You can, however, *register* a device (a “device-side” operation) to an existing enrollment over MQTT/mosquitto_pub,”

The similar or related [StackOverflow thread](https://stackoverflow.com/questions/65911888/r

[2021-02-10 17:21] aruwo17 commented on #70337
Hi,

Just to be sure I understand, you are saying if I have a paid or trial license of **Enterprise Mobility + Security (EMS) E5**, or **Microsoft 365 Education A5**, or **Microsoft 365 Enterprise E5**, then I automatically have AAD P2 licenses and the PIM is also available with each of these license pack. Is this correct?

[2021-02-10 17:24] cherylmc commented on #70222
I've updated the template. The system auto-deleted a blank line between   <CustomConfiguration> and </CustomConfiguration>. However, I am not sure if this is the issue, as you would have copied and pasted your own information in that space anyway.  I will speak with the product team regarding your additional questions, but go ahead and try the new script later today. It should publish around 2pm o

[2021-02-10 17:28] robinsh commented on #70205
@SatishBoddu-MSFT Can we close this issue yet?

[2021-02-10 17:30] SatishBoddu-MSFT commented on #70205
Hello @tifischer
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-02-10 17:30] #70205 closed

[2021-02-10 17:30] ssivas commented on #70337
Yes your understanding is right.

[2021-02-10 17:35] robinsh commented on #70201
@SatishBoddu-MSFT Is this related another issue about message enhancements?

[2021-02-10 17:37] SatishBoddu-MSFT commented on #70201
Hi @robinsh Same customer who is working with me offline, but I will keep you posted with my findings!

[2021-02-10 17:39] SaiKishor-MSFT commented on #70361
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-10 17:40] amolduse commented on #57579
Yes. This is my configuration -
<feature.url.url-rewrite source="/0000000F/s-cdn-dev/(.*.\w+)" destination="/0000000F/s-cdn-dev/$1?sv=2019-12-12&amp;ss=b&amp;srt=sco&amp;sp=rlx&amp;se=2050-02-09T05:06:08Z&amp;st=2021-02-07T21:06:08Z&amp;spr=https&amp;sig=ssSSS8SS5sSssS7SS7SssssKGlo%2B6Dya3%2SdImSuhSz4%3S"/>

[2021-02-10 17:43] aruwo17 commented on #70337
Ok, thanks.

[2021-02-10 17:43] #70337 closed

[2021-02-10 17:43] amolduse commented on #57579
We have requirement to secure some content only for logged in users. We are planning to serve them only to urls with dynamically generated short living tokens.

[2021-02-10 17:45] asudbring commented on #57579
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 17:45] PRMerger17 commented on #57579
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 17:46] tdrimmelen opened #70393 "Notifications for PIM privileged access group"
Add to the documentation that notifications for 'admin' in case of privileged access groups are sent to the owners of the group. Not theAzure AD administrators.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce-6046-f6a9-9b85-188c8530174c
* Version Independent ID: 196cb921-fbf8-6819-e0e2-8cd03fda4505
* Content: [

[2021-02-10 17:46] #70311 closed

[2021-02-10 17:47] joshschmitter commented on #40427
This information about scale-unit limitations needs to be added to this documentation: https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-migrate-domain

[2021-02-10 17:48] asudbring commented on #37214
Documentation updated

#please-close

[2021-02-10 17:48] #37214 closed

[2021-02-10 17:48] JamesTran-MSFT commented on #70387
@stuckbear
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-10 17:48] greatvissu commented on #35923
Hi All, Did we have any solution for this? I am looking the same,  accessing the blob using dataflow with private end point(using self hosted runtime).  got the same error like ' Linked service with Self hosted Integration runtime is not supported in data flow)

[2021-02-10 17:49] JamesTran-MSFT commented on #70393
@tdrimmelen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-10 17:50] JamesTran-MSFT commented on #70390
@markmcgookin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-10 17:51] SaiKishor-MSFT commented on #70350
@peacemaker360 Please refer Git [issue#70222](https://github.com/MicrosoftDocs/azure-docs/issues/70222) for this same issue. I will be closing this as duplicate. Thank you!

[2021-02-10 17:51] #70350 closed

[2021-02-10 17:52] emuench commented on #69606
Working with vikrambmsft; #35522.

[2021-02-10 17:53] ssivas commented on #70012
@ValerianHts , I just wanted to follow up on this thread. Did you get a chance to review previous comment ? Please let me know if there any queries. Thanks !

[2021-02-10 17:53] BrianLevenson opened #70394 "Azure License Type"
Hello! It would be very helpful to further define the Azure License Type information. What does each license type mean and how should we, as a publisher, use this information? Also, we see GTM as a license type in our reports, but it is not included in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85363488-

[2021-02-10 17:55] iandavidson opened #70395 "Add extra relevant information: Inheriting access/azure role"
I thought it would be helpful if there could be an extra bullet point or subheading to explain how inheritance works in roles when granting (READER) access to a resource group for a user.

- I figured this out when messing around in the azure portal, trying to give a coworker access to a couple resource groups.

- It would have saved 20+ minutes of my time if this basic information was included in

[2021-02-10 17:58] emuench commented on #69961
#please-assign:mingshen

[2021-02-10 17:59] emuench commented on #69961
#reassign:mingshen

[2021-02-10 18:00] PRMerger6 commented on #69961
mingshen is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-02-10 18:02] trevorbye commented on #68944
PR currently out to fix #please-close

[2021-02-10 18:02] #68944 closed

[2021-02-10 18:02] KranthiPakala-MSFT commented on #35923
HI @kromerm - Any update on the feature request? - Thanks

[2021-02-10 18:06] palma21 commented on #70221
It's available on API, as a POST action. And it should be available in PowerShell as well but only the new autogenerated module @dcaro could you confirm?

Portal is being worked right now.

[2021-02-10 18:11] trevorbye commented on #69019
@prasanthranga we don't currently have a .js sample for custom keyword, however the design pattern is very similar to the [C# example](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/custom-keyword-basics?pivots=programming-language-csharp#use-a-keyword-model-with-the-sdk)

In the javascript SDK you use the same class [`KeywordRecognitionModel`](https://docs.microsoft.com/

[2021-02-10 18:11] #69019 closed

[2021-02-10 18:11] jacobmsft commented on #70231
west us 2

[2021-02-10 18:20] robinsh commented on #70201
ok. @SatishBoddu-MSFT I wrote the original docs, so I'll see if I can fix this one in the meantime.

[2021-02-10 18:21] #70395 closed

[2021-02-10 18:22] asudbring commented on #33617
Updated wording in doc.

#please-close

[2021-02-10 18:22] #33617 closed

[2021-02-10 18:26] ChaitanyaNaykodi-MSFT commented on #70362
Hello @DavidWorner-Cert,
As we primarily drive this channel for Doc improvements and as we did not determine any. I will now proceed to close this issue out. Thank you!

[2021-02-10 18:26] #70362 closed

[2021-02-10 18:28] robinsh commented on #68477
I've added code to one of the samples that shows how to replace the deprecated code, and updated the article to match.

[2021-02-10 18:29] ChaitanyaNaykodi-MSFT commented on #70341
Hello @Klaas- ,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-10 18:31] bandersmsft commented on #55974
@soeirodefaria We recently updated this article and added a new one at https://docs.microsoft.com/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement.

#please-close

[2021-02-10 18:31] #55974 closed

[2021-02-10 18:36] JeremyTBradshaw opened #70398 "Please clarify SCP Configuration > which Authentication Service to choose"
I realize this same question has been raised in at least 2 other issues (#47761, #20569), but each of those got closed without providing any real clarity, just links to other docs pages which don't help, or just an outright close, saying the current text covers it already.  I'm here to say, the current text is lacking clarity and I'm asking again for some clarification.  Once it's concrete clear t