[2018-09-24 19:35] #15202 closed

[2018-09-24 19:41] MarileeTurscak-MSFT commented on #15505
It is explained here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.openidconnect.openidconnectevents.onauthorizationcodereceived?view=aspnetcore-2.1

This property is a notification handler that is used to trade the authorization code for an access token. It is a property of the OpenID connect library, which is why it is not covered in this document.

In the auth

[2018-09-24 19:42] MarileeTurscak-MSFT commented on #15505
I think a better place to ask for clarity is in the OpenID documentation here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.openidconnect.openidconnectevents.onauthorizationcodereceived?view=aspnetcore-2.1

I'm closing this issue out for now but if you'd like to continue the discussion, please leave a comment or open a new issue and I will gladly continue the con

[2018-09-24 19:42] #15505 closed

[2018-09-24 19:46] MarileeTurscak-MSFT commented on #15430
Is this what you are looking for? I am closing this out for now but if you are looking for something different I will gladly continue the discussion.

[2018-09-24 19:46] #15430 closed

[2018-09-24 19:58] rjosephp opened #15515 "Extract Barcode"
Is it possible to extract the barcode from image? I tried, and never got anything back apart from Printed and handwritten text. I have the below code:

 RecognizeTextInStreamHeaders textHeaders =
                    await computerVision.RecognizeTextInStreamAsync(
                        imageStream, TextRecognitionMode.Handwritten & TextRecognitionMode.Printed);

---
#### Document Details

⚠ *Do

[2018-09-24 20:28] Karishma-Tiwari-MSFT commented on #14602
@epnasis @sundaxi @Here-Be-Dragons It looks like if you run the extension installation script immediately after creating the VM it may erroneously determine that selinux is not installed and will skip that package.
While the Product team is working on fixing that, we would advise doing manual installation of aadlogin-selinux package.

[2018-09-24 20:31] femsulu commented on #13563
re-assigning to @bobbytreed

[2018-09-24 20:36] MohitGargMSFT commented on #15450
@manojbhoyar123 As of now this can be done through two methods described in this section [How to perform Admin Consent for your application
](https://docs.microsoft.com/en-us/azure/active-directory/develop/registration-config-grant-permissions-how-to#how-to-perform-admin-consent-for-your-application) of the document.

Please upvote feedback @ https://feedback.azure.com/forums/169401-azure-active-d

[2018-09-24 20:38] andrepodnozov commented on #14679
@asdonald -- is there another tracking number I can use to follow the resolution of this issue? Thanks.

[2018-09-24 20:40] mariovelasco6 commented on #15066
@awcchungster

Remember that MacOS is a Unix System and in some services use the same protocols to reach a communication like Linux, in this case, StrongSwarn is the client that we use for Linux and the communication is with IPSec, for that reason you should create P12 Certs with IPSec.

You can follow my post to fix your problem:

http://linuxsick.me/2018/09/24/azure-vpn-point-to-site-on-linuxrhe

[2018-09-24 20:43] jjgriff93 commented on #15453
Hi @MohitGargMSFT - apologies I should have been clearer in my question - I mean in the .NET C# SDK - there is no .metadata property returned when the `Microsoft.Bot.Builder.CognitiveServices.QnAMaker` package returns a QnAMaker result - I think it's because it's using an earlier version of the API under the covers. Is there an example which shows how to get this using the SDK without having to ca

[2018-09-24 20:45] MohitGargMSFT commented on #15474
@agrabhi Please note that as you refer to the sample, this section does have steps to add scopes -
[Using your own Azure AD B2C Tenant](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi#using-your-own-azure-ad-b2c-tenant).

[2018-09-24 20:48] asdonald commented on #14679
@andrepodnozov this one :) https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/issues/127

[2018-09-24 20:49] timmyreilly opened #15516 "Unable to report from device... Is there something wrong with my Module?"
I've followed these directions exactly, but the result of creating a deployment for a single device is a temp sensor but the csharpfunction is not being reported by the device and is not being reported by iotedge list on the VM that's simulating my iot device. Is there something wrong with my run.csx? And in the same vain, how am I supposed to debug/test the run.csx from VS Code?

---
#### Documen

[2018-09-24 20:49] vhothur opened #15517 "Operation cancelled when trying to run samples."
i'm trying to run the sample to extract text from speech using the Speech SDK samples (tried both quick start & samples.console) but for some reason the operation is cancelled.

The error response I get when I specify "useast" for region:

The request was canceled. Did you update the subscription info?
Connection failed (no connection to the remote host). Please check network connection, firewall

[2018-09-24 20:50] vhothur commented on #15517
I also made sure that the input file I used is a mono with 16kHz as well.

[2018-09-24 20:53] MohitGargMSFT commented on #15481
@ahamin01 Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-09-24 20:59] MicahMcKittrick-MSFT commented on #15353
@stevozilik I dug into this and determined there is not a simpler way to do this today.

That said you should only have to add the setting to the settings.xml files for the services. Rather than applying these changes to settings.xml, ApplicationManifest..xml and the Application Parameters all together.

I will close this out for now but if you have additional questions just let me know and we can

[2018-09-24 20:59] #15353 closed

[2018-09-24 20:59] dbuonomo commented on #14497
I too see the same virtual IP address as the current one. I do have SSL bindings (both IP based and SNI based). I assume I should follow these instructions - https://docs.microsoft.com/en-us/azure/app-service/ip-address-change-ssl

[2018-09-24 21:01] TravisCragg-MSFT commented on #15507
@tapialuism this is by design. You will always get the same backend VM from the same computer. Which computer you get will depend upon the [load balancer distribution mode.](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-distribution-mode). To test if other backend VMs are receiving requests, you will need to connect to the load balancer endpoint from a different computer.

[2018-09-24 21:07] MicahMcKittrick-MSFT commented on #15498
@gldagalea what service are you referring to? Can you share the reference doc?

Also, there are a few resources we have that require you to deploy to a empty RG. This is because some of the resources might overlap with existing ones. Such as address spaces.

[2018-09-24 21:10] davidmu1 commented on #14842
The ContentDefinitionParameter element is in the element hierarchy of RelyingParty and is described in https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty. A link is provided in the description of the element to the UI article that was referenced. Changes do not seem to be required to this article.

#please-close

[2018-09-24 21:29] Karishma-Tiwari-MSFT commented on #15418
@PumpkinClarinnet Please feel free to share your insights that can help us improve the document.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-24 21:30] JinYam commented on #15515
We don’t have barcode support at this moment.

Jin
Computer Vision/OCR

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, September 24, 2018 2:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jin Yamamoto <jinyam@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Extract Barcode (#15515)

@rjosephp<https://na01.safelinks.p

[2018-09-24 21:31] andrepodnozov commented on #14679
Cool, thanks.

[2018-09-24 21:35] mizhaky opened #15518 "Set permissions for non-Marketplace SQL VMs section doesn't have the necessary steps"
documentation says "follow these steps" but the steps aren't actually there to setup permission for a non-markeplace SQL VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7b40d1-bbe9-c938-b06c-8380ec17f262
* Version Independent ID: 3d3f8780-cf1e-a75a-ac24-0e9162cb4e56
* Content: [Back up SQL Server databases to Azure

[2018-09-24 21:35] WhippsP commented on #14842
No probs :)

[2018-09-24 21:35] #14842 closed

[2018-09-24 21:46] FallenGameR opened #15519 "Feedback - iteration 2"
&gt; the following effects:
&gt; - Security protocols like Kerberos or certificate-dependent technology rely on time being consistent across the systems.
The item listed is not an effect, it's a dependency statement.

The wording from https://docs.microsoft.com/en-us/azure/virtual-machines/windows/time-sync is more accurate "Authentication will fail. Security protocols like Kerberos or certificate

[2018-09-24 21:48] YutongTie-MSFT commented on #15515
@JinYam Thanks a lot!

[2018-09-24 21:55] timmyreilly commented on #15516
Now I'm thinking more about it, is my error because of the "Tagging" with the docker image?

ie: the config for the csharpfunction module:
[code]

and the config for the module in the csharp function:

[code]

None of these "tags" are for windows containers on a Windows VM?

[2018-09-24 21:55] dtzar opened #15523 "Unable to find where to purge cache"
I've been clicking around in the Azure portal Front Door resource for some time now trying to find ANY of the referenced ways to purge cache and I cannot find them.  Could you please be more specific as to where this option exists?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a80-1344-07a9e0063951
* Ve

[2018-09-24 21:56] MicahMcKittrick-MSFT commented on #15519
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-24 21:58] stevozilik commented on #15353
@MicahMcKittrick-MSFT we need those settings to be controlled centrally, and replaced in the Release pipeline with environment specific values, hence why ApplicationManifest etc...

Why closing the issue? The problem has not been resolved, and it's quite an obvious one

[2018-09-24 21:59] Karishma-Tiwari-MSFT commented on #15377
@dcbrown16 I have assigned the issue to the content author to investigate further and update the document as appropriate.
Meanwhile @mmccrory Can you please share your insights on this customer's question related to node migration.

@RichardScheel Could you please help in answering the customer's question related to [this doc](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-gu

[2018-09-24 22:05] MicahMcKittrick-MSFT commented on #15353
@stevozilik I am happy to continue the conversation however at this time the product team has provided that there is not a way to do this as of today. So there is not a simpler way at this point in time. At least nothing that we have built into the product.

That does not mean there might not be some 3rd party solution you might be able to utilize. However nothing has been tested or officially app

[2018-09-24 22:13] Karishma-Tiwari-MSFT commented on #15392
@kazshi I think adding a link to [Impact to drive data during Cloud Service upgrades](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-update-azure-service#impact-to-drive-data-during-cloud-service-upgrades) in this doc, would help avoid any confusion related to impacts on cloud services.
This could be added around this statement where we mention cloud services:

I have assigne

[2018-09-24 22:13] timmyreilly commented on #15516
Okay so now I've changed my csharp function in deployment.template.json to use the windows-amd64 base image

[code]

But I get an error when I try to build ("Build and Push IoT Solution")
image operating system "windows" cannot be used on this platform.

[2018-09-24 22:14] diberry opened #15526 "#124 correct syntax in display"
Is the &#124 displaying the way you intended in the backtic in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641bdba6-a2e2-640a-abab-2535734271c5
* Version Independent ID: e7973dd0-9d2f-846d-0724-4d44be81cda8
* Content: [Useful operators in Azure Log Analytics queries](https://docs.microsoft.com/en-us/azure

[2018-09-24 22:16] BryanTrach-MSFT commented on #14497
@jmhmaine I apologize for the delay. If the virtual IP address listed in the Azure portal matches what you have listed in your A record, then no change should be necessary. If you received an email about needing to make a change, do ensure that any other app services that you may have are not impacted as well.

@silverbackbg @csuttman @jerbro @dbuonomo  The same guidance that we provided the OP ap

[2018-09-24 22:19] wy193777 opened #15527 "How can deploy with v-net from file?"
Didn't see this doc about available fields been updated:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8-332e-9ce0-7d80e8a973f8
* Content: [Deploy cont

[2018-09-24 22:28] ranjanmicrosoft opened #15531 "Missing Functions"
In the documentation for Until Activity and Wait Activity, we make use of the `@body` function. It's used there to get the content of an activity within the Until. This appears to be one of a set of lower level workflow functions [listed here](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-definition-language#workflow-functions) which gets the body of an action (here an acti

[2018-09-24 22:31] mike-urnun-msft commented on #15125
Hi @DonPetry-EY Thanks again for your feedback. Please upvote the existing feature request on this issue at [Azure UserVoice](https://feedback.azure.com/forums/287593-logic-apps/suggestions/33656302-allow-logic-apps-to-work-with-firewalled-storage-a) for product team to review and consider for future roadmap.

We will now proceed to close this thread. If there are further questions regarding this

[2018-09-24 22:31] #15125 closed

[2018-09-24 22:42] DonPetry-EY commented on #15125
Hi Mike,

I don't see any mention of this limitation in the article.  Thanks for the feature request, I've voted it up.

Given that this article specifically mentions Source IP Firewall configurations required for LogicApps, doesn't this at least warrant a mention such as "Firewall enabled Storage Accounts are not compatible with LogicApps.  To connect a LogicApp to a Storage Account, ensure the F

[2018-09-24 22:42] YutongTie-MSFT commented on #15517
@vhothur Hi, the subscription key is not your Azure subscription ID, it's the key you generated when you created your service. The location of your service should be the one when you created your service, you can check it in your overview panel. Please see the attached.

![image](https://user-images.githubusercontent.com/38084098/45983177-7a613200-c010-11e8-875c-b2463564dfab.png)

[2018-09-24 22:45] Karishma-Tiwari-MSFT commented on #15425
@TiloGit [SQL Server Analysis Services](https://docs.microsoft.com/en-us/sql/analysis-services/analysis-services?view=sql-server-2017) supports tabular models as well as multidimensional models.
However multidimensional models are not supported for [Azure Analysis Services](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-overview#built-on-sql-server-analysis-services).

[2018-09-24 22:48] MicahMcKittrick-MSFT commented on #15527
Thanks for reaching out. To confirm, you found what you were looking for in the doc you linked. However the discoverability was not ideal. So I assume you are looking for something along the lines of adding a reference to that document to this document. Correct?

[2018-09-24 22:49] sergaz-msft commented on #15411
Thanks for the clarification @prafullkotecha . `PCS_AUTH_WEBSERVICE not found`  should be due to a missing environment variable. I did a quick search on [the repository](https://github.com/Azure/azure-iot-pcs-remote-monitoring-java) where you forked and cloned the code and couldn't find that environment variable declared anywhere.

How does your **azure-iot-pcs-remote-monitoring-java\services\scri

[2018-09-24 22:49] rudolph4 commented on #13949
So.... It's been a month. Any update?

[2018-09-24 22:55] sergaz-msft commented on #15266
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-24 22:55] #15266 closed

[2018-09-24 23:01] mike-urnun-msft commented on #15125
@DonPetry-EY Agreed! I've reached out internally and we're reviewing.

[2018-09-24 23:02] dlepow commented on #15444
@mcurko - Thanks for pointing out this limitation. I agree it will be a useful note to add to the documentation. I will confirm with our engineering team and then submit a documentation update.

[2018-09-24 23:03] wy193777 commented on #15527
I'm looking for a way that we can deploy containers with v-net options included in `--file` yaml file.

[2018-09-24 23:04] Alberto-Vega-MSFT commented on #15480
@PIKESTEL Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-24 23:07] Alberto-Vega-MSFT commented on #15491
@Anded Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-24 23:07] Adam-Smith-MSFT commented on #15518
@mizhaky Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-24 23:09] Alberto-Vega-MSFT commented on #15494
@Dilipsam1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-24 23:12] MarileeTurscak-MSFT commented on #15456
I have assigned this issue to the content author, @billmath

[2018-09-24 23:17] sergaz-msft commented on #15014
@NommySkies thank you for coming back! This definitely is relevant to our product and we will troubleshoot it accordingly. Will maintain the issue closed since this is not blocking any progress on the documented tutorial :).

Appreciate your time to report it.

[2018-09-24 23:28] dluc opened #15539 "support for MacOS and Linux"
Please add support for MacOS and Linux, so that for example CI services based on Linux can emulate CosmosDB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos DB Emulator](ht

[2018-09-24 23:31] PumpkinClarinnet commented on #15418
Hello Micah and Karishma,

Please find below my analysis:

- reset only configurations from Portal will enable RDP inside the Guest OS
and add a global Firewall Rule to Remote Desktop to use default port 3389

Thanks,

Cláudia Mendes

Karishma Tiwari - MSFT <notifications@github.com> escreveu no dia segunda,
24/09/2018 à(s) 22:29:

[2018-09-24 23:32] khshah3 opened #15540 "Github Repository with 2FA (Support for Personal Access Token)"
Is there a way to use Access Token to authenticate against a repository for a regular Github account? The regular authentication doesn't validate for 2FA which means that it hides repositories that require 2FA. This is the same behavior on VSTS Pipeline for Github. The solution is to use an access token.

Are there plans to support that approach or is there a way to do it right now?

---
#### Docu

[2018-09-24 23:32] PumpkinClarinnet commented on #15418
In case there RDP port is another one it will still create the firewall rules to port 3389 (btw)

Thanks,

Cláudia Mendes

[2018-09-24 23:35] MicahMcKittrick-MSFT commented on #15527
@wy193777 got it. Thanks for clarifying.

I will do some research and get back to you on this.

[2018-09-24 23:37] Juliako commented on #15501
@novaterata, a developer shared this code with me. The code is for downloading. Uploading is very similar.  Just need to change AssetContainerPermission.READ  to AssetContainerPermission.READ_WRITE

`
public InputStream downloadAssetFile(String assetName, String fileName)
    throws URISyntaxException, StorageException, IOException {
  DateTime expiryTime = DateTime.now(DateTimeZone.UTC).plusHours

[2018-09-24 23:37] TravisCragg-MSFT commented on #15504
@hajjat Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-24 23:43] Alberto-Vega-MSFT commented on #15506
@andrepodnozov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-24 23:43] #14679 closed

[2018-09-24 23:49] Karishma-Tiwari-MSFT commented on #15286
@mcurko I was able to reproduce the issue.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-24 23:51] Karishma-Tiwari-MSFT commented on #15368
@tapialuism Your issue could be related to this one: https://github.com/MicrosoftDocs/azure-docs/issues/15286
Can you please confirm if you are seeing the same issue.

[2018-09-24 23:53] Alberto-Vega-MSFT commented on #15508
@solidcloudio Thanks for the feedback! We are currently investigating and will update you shortly. Also if You are interested in becoming a contributor. You are more than welcome to create a pull request with the fix, that then will be evaluated and merged if approved https://docs.microsoft.com/en-us/contribute/

[2018-09-24 23:58] Karishma-Tiwari-MSFT commented on #15110
@rayie123 Apologies for the delay. Are you still seeing the issue?

[2018-09-24 23:59] femsulu commented on #15157
@Kazshi, from my tests, **/virtualMachineScaleSets/** targets aggregated metrics sourced from the VMhost resource while **/virtualMachineScaleSets/virtualMachines** targets metrics for individual VM instances that make up the scale-set.
 Also able to confirm your earlier statement that you can only view consolidated **/virtualMachineScaleSets/** metrics via the portal and published API.

[2018-09-24 23:59] dilv0055 commented on #15424
Hi @vasivara-MSFT , I am using Azure powershell version 5.1.2. Please let me know which version are you trying with ?

[2018-09-24 23:59] Alberto-Vega-MSFT commented on #15531
@ranjanmicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-25 00:00] MarileeTurscak-MSFT commented on #15452
Hi @ilindsay760

You need a subscription linked to any resources that require a subscription, and these subscriptions are always hosted on a tenant. You can have a regular Active Directory in a separate tenant from your subscription, but you still need to host the resources in the tenant subscription.  For B2C Active Directories/tenants, you need to link to a subscription because B2C requires it t

[2018-09-25 00:03] Karishma-Tiwari-MSFT commented on #15418
@PumpkinClarinnet Thanks for sharing.

[2018-09-25 00:03] BryanTrach-MSFT commented on #8034
@georgenica Thank you for the additional details. I apologize for any confusion on my end. To help you, I tried to reproduce the situation I believe you are trying to accomplish.

I took 'web app A' and binded two hostnames to it. test.hostname.com and hostname.com. I then used the same Azure App Certificate (wildcard) cert to secure both names. I believe this should answer your question. Please l

[2018-09-25 00:03] femsulu commented on #15157
@kazshi Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-25 00:03] #15157 closed

[2018-09-25 00:04] MarileeTurscak-MSFT commented on #15452
I agree with you that the process is not intuitive and it is something the product team is working on. They are also trying to fix the screenshots for switching directories as the UI recently changed and a lot of the screenshots in the documentation still show the old UI. I will leave your feedback to the product team. I think it would be helpful if there was a more helpful message on the B2C page

[2018-09-25 00:09] SaurabhSharma-MSFT commented on #15500
@LisandroSu I do not see any error while running the sample from Visual Studio and able to get the results correctly. Here is the screenshot for your reference.
![image](https://user-images.githubusercontent.com/38112130/45985592-c82f6780-c01b-11e8-8998-e315cbac7bbc.png).
Please make sure that you are passing the correct keyvaultname.

[2018-09-25 00:14] agnel123 commented on #15471
Sure. On the page, the information for copying data from and to azure storage is limited. There are multiple ways possible for it. AzCopy option is already there. In addition, we do have Azure File Sync, Azure Import/Export and RoboCopy.

Azure File Sync: this option gives you the facility to deploy and on-premise server on your infrastructure that is connected to your azure files account and make

[2018-09-25 00:15] kazshi commented on #15251
@Karishma-Tiwari-MSFT OK, thanks!

[2018-09-25 00:17] Alberto-Vega-MSFT commented on #15526
@diberry Apparently is rendering correctly. @bwren It looks like it needs more context or a better example though.

[2018-09-25 00:18] ilindsay760 commented on #15452
The issue I am seeing is that when I go back to our original tenant, I am getting a note: "You are currently signed into the XXX directory which does not have any subscriptions. You have other directories you can switch to or you can sign up for a new subscription."

We have a subscription, I see the bill every month.  But I am not getting the option to link to it.  My account is an enterprise adm

[2018-09-25 00:18] jason-j-MSFT commented on #15291
@Anmolgan81 I do not believe this is a supported feature at this time.

[2018-09-25 00:18] #15291 closed

[2018-09-25 00:29] femsulu commented on #15180
If issue persists, please send mail to AzCommunity@microsoft.com with your subscription ID and link to this GitHub thread (for context ) and we will gladly work with you to engage the Azure Monitor support team for further investigation.
Closing this GH issue for now and I look fwd to your mail assuming you require further investigation.

[2018-09-25 00:29] #15180 closed

[2018-09-25 00:37] MarileeTurscak-MSFT commented on #15452
@ilindsay760 it might be the way you are trying to create the resource. From your directory that has the subscription you have to go to "Create Resource" on the top left of the page and then search for "Azure Active Directory B2C" (rather than searching for the resource in the search bar).
![image](https://user-images.githubusercontent.com/13383753/45986360-f151f700-c01f-11e8-9599-f3d9fbe8191d.png

[2018-09-25 00:40] MarileeTurscak-MSFT commented on #15452
@davidmu1 can you please update the documentation with these screenshots?

[2018-09-25 00:41] kazshi commented on #15157
@femsulu Thank you for the testing and clarification.

[2018-09-25 00:52] Karishma-Tiwari-MSFT commented on #15216
@tapialuism Can you please share which AzureRM module version are you using?
Run `Get-Module -ListAvailable AzureRM` on Azure Powershell to find the version.

[2018-09-25 00:52] BryanTrach-MSFT commented on #15492
@timhodgson From what I can tell, the instructions are still up to date, as can be seen in the below screenshot. The steps you listed are also possible to check the inbound IP. Please let us know if you disagree.

![image](https://user-images.githubusercontent.com/20250350/45986792-835aff00-c022-11e8-8edf-53117a9dde0a.png)

[2018-09-25 00:55] Juliako commented on #15501
#please-close

[2018-09-25 00:56] Johnbreton opened #15541 "Passwordless and PTA"
Should Passwordless Phone sign-in work with PTA + SSO ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless Azure AD sign-in with the Microsoft Authenticator app (public preview)](https://docs.microso

[2018-09-25 01:01] MarileeTurscak-MSFT commented on #15490
This is the token signing certificate. This can be either an SSL certificate or cod signing certificate. The only requirement is that the Key Usage should contain at least a Digital Signature.

Please see this blog which explains everything in detail: https://blogs.technet.microsoft.com/askpfeplat/2018/01/29/adfs-monitoring-a-relying-party-for-certificate-changes/

[2018-09-25 01:02] MarileeTurscak-MSFT commented on #15490
I'm closing this out for now. If this does not answer your question fully or you would like to continue the discussion, please leave a comment or open a new issue and I will gladly continue the conversation.

[2018-09-25 01:02] #15490 closed

[2018-09-25 01:17] datarelish commented on #14783
I started the project doing File -> New -> Project -> Python and the issue is still there. I hope that helps.

[2018-09-25 01:17] novaterata commented on #15501
Thanks, that should do it

[2018-09-25 01:17] #15501 closed

[2018-09-25 01:22] alexchx opened #15542 "SAML plugin documentation"
Some of our website requires the Microsoft ADFS authentication, we meant to try with your SAML plugin, but is there any documentation available for this plugin and how to fill the plugin properties? Any advice would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Ve

[2018-09-25 01:31] #15541 closed

[2018-09-25 01:31] Johnbreton commented on #15541
fixed

[2018-09-25 01:37] gopitk commented on #14783
Thanks Jen. If you able to do File -> New -> Project -> Python I believe that is what we have documented in this article and hopefully that resolves this specific issue of instructions being incorrect. Sorry if I am misunderstanding the underlying issue.

Just to refresh, the original issue you reported at the top of this thread (copied and pasted below) is:

"
Now you are set up to create a new P

[2018-09-25 01:59] Karishma-Tiwari-MSFT commented on #15216
@tapialuism I was able to successfully create the VM from the Image following the steps in this document. I am not sure why you are getting this error but I would recommend that you try with the latest AzureRM module version and share the results so that we can troubleshoot further.

[2018-09-25 02:06] femsulu commented on #15355
@Anmolgan81  Based on my research, you will need to first move the Storage and Keyvault resources and then move the dependent VM last. Please let me know if this resolves your issue.

[2018-09-25 02:08] femsulu commented on #15355
closing this issue but just reply back if you have any follow up questions. Happy to continue the conversation.

[2018-09-25 02:08] #15355 closed

[2018-09-25 03:04] femsulu commented on #15400
@Anmolgan81 according to the [referenced doc](https://docs.microsoft.com/en-us/azure/cloud-solution-provider/migration/migration-from-payg-to-csp#process-overview), CSP only supports VMs created via the ARM deployment model. So if it is created via ARM, the license should still work. This doesnt work if the VM is created via the classic deployment model.
![image](https://user-images.githubusercont

[2018-09-25 03:04] #15400 closed

[2018-09-25 03:18] Herman-Wu commented on #10953
+1

[2018-09-25 03:37] femsulu commented on #15407
@amalik99 sorry for the delayed response. Is there a business need to delete the PID resource deployment details? The information is primarily stored for referential purposes and could be useful in a recovery scenario where you need to redeploy and re-tag the resource. I would suggest not deleting these unless there's a strong business need to do so.

[2018-09-25 03:37] #15407 closed

[2018-09-25 03:40] femsulu commented on #15434
@thuansoldier I am unable to reproduce this behavior as it works as expected for me.
Mind sharing the output of running the cmd on your end and also share what the missing roles that you expect to see? Please remove any sensitive details before sharing.

[2018-09-25 03:52] andrewatfornax opened #15545 "NSG Information"
This appears to be the best documentation re: creating an ASE to host Linux Web Apps based on Docker images. However, it does not include / reference any information that would assist with setting the required NSG rules to allow the docker images to be obtained from a Container Registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-09-25 04:29] dem108 opened #15546 "naming contraints in experiment names (especially with ACI training backend)"
I suggest we specify naming rule for the experiment name, especially for training on ACI.

When we use ACI as training backend, it seems like SDK uses the experiment name as the container name on ACI, thus should consider naming rule for the container image. When we submit an experiment which does not follow it, it fails.

For example, quick test shows it does not support Capital letters.
[code]

[2018-09-25 04:44] thuansoldier commented on #15434
@femsulu  it seems that `Get-AzureRmRoleAssignment` only results the custom role. My current logged user is part of not assigned to custom role but built-in ones like **Contributor** or **Owner**.

[2018-09-25 04:51] RichardScheel commented on #15377
I'm checking into this deeper. I'll let you know what I find out.

[2018-09-25 05:14] SychevIgor opened #15549 "Update screenshots of VSTS UX to AzureDevOps UX"
Starting from AzureDevOps, UX is slightly different from what was in the age of VSTS and this new UX turned on by default.
As a short term goal, could you explain "how to turn on old experience in VSTS" or better - update screenshots in this article to follow latest build/release/project management and administration UX.
For example:
how build log looks now https://docs.microsoft.com/en-us/azure/d

[2018-09-25 05:31] cbellee opened #15550 "AzureRm.ResourceGraph module not found in PSGallery"
Running the command below fails to find the module in PSGallery
PS C:\&gt; Install-Module AzureRm.ResourceGraph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d477e300-fccf-298b-fb97-d67d2f5acaec
* Version Independent ID: 78f816e8-7ccf-9398-cbd7-940150f7d068
* Content: [Run your first Resource Graph query using Azure P

[2018-09-25 05:33] kazshi opened #15551 "Partial Backups configurtion is requied for excluding specific files from snapshots?"
My understanding is that I need to configure partical backup if I want to exclude specific files (log files for example) from snapshots. If not, all files would be included backup (snapshot) files as default (descrived as "You do not need to enable snapshots backup, the platform automatically saves a snapshot of all apps for data recovery purposes." in this topic) - is this correct?

---
#### Docu

[2018-09-25 05:35] paul-mateos commented on #13806
PS C:\Users\Paul> az --% webapp create --name crownJavaApp --resource-group myResourceGroupJenkins --plan myLinuxAppServicePlan --runtime "java|1.8|Tomcat|8.5"
Linux Runtime 'java|1.8|Tomcat|8.5' is not supported.Please invoke 'list-runtimes' to cross check

I've CHecked the list-runtime and it is there. I've tried this on two different subscriptions and the problem is the same

[2018-09-25 05:58] buzzfrog opened #15552 "Now support for all API:s that CosmosDB has"
According to this document we now have support for more than SQL. https://azure.microsoft.com/en-us/blog/cosmos-developer-experience/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Az

[2018-09-25 06:08] kamalini18 commented on #8015
I am also facing similar issue when trying to set the keys to storage account.

[2018-09-25 06:31] tjcdw commented on #15469
Hello Diego,

Thank you for your feedback. It's not supported, but looks like it is working though :-). I will submit a request.

Best regards,
Thomas

[2018-09-25 06:36] amalik99 commented on #15407
Thank you for the explanation. This helps.!

[2018-09-25 06:37] SychevIgor opened #15553 "En-US instead of da-dk in a link"
Could you replace a link to an english version of an article
Link from "manage API version profiles article." referencing "da-dk" locale https://docs.microsoft.com/da-dk/azure/azure-stack/user/azure-stack-version-profiles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f3fd51-bcd4-361b-88c1-dd0df96b6d16
* Version Inde

[2018-09-25 06:47] CastleArg commented on #14425
+1 on this.  We have virtual IP in overview tab, what do we pont our various custom hostnames to?

[2018-09-25 06:55] rkarlin commented on #15386
Hi @andrewatfornax . Thanks for bringing this to my attention. I'm researching it and will update you and the article when I have an answer - it may take a couple of days because most of the team is attending the Ignite conference all week.
thanks!

[2018-09-25 07:00] SychevIgor opened #15554 "VSTS re-branded as Azure DevOps"
VSTS re-branded as Azure DevOps and as a result, we should use new product name instead of VSTS for consistency.
As well as, in Azure DevOps by default had been used different UX and it require from us, update screenshots to address latest UX changes. https://blogs.msdn.microsoft.com/devops/2018/06/19/new-navigation/ https://blogs.msdn.microsoft.com/lcs/2018/09/12/visual-studio-team-service-has-be

[2018-09-25 07:05] ggailey777 commented on #14938
This should be fixed now. #please-close

[2018-09-25 07:07] jasonwangnanjing opened #15555 "Document missing for execlusion"
Hi azure,

You document is too short. Exclusion part is missed. There are different options. May u please add document for them? options and their influence.

BR Jason

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4546e1f-9088-42ae-384d-df5237aa24e5
* Version Independent ID: d22cab04-7c34-8365-aae4-413da2593843
* Con

[2018-09-25 07:09] mahilleb-msft commented on #15517
Thanks @YutongTie-MSFT for helping.
@vhothur - please take the subscription as described from the Azure portal. The corresponding region name in the Speech SDK is "eastus", please see https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions.
Can  you double-check you are using a Speech subscription in Azure (named just "Speech", or "Speech (preview)" if you used it previous

[2018-09-25 07:13] dem108 opened #15556 "Wrong link to HDInsight Spark creation guideline (in the Jupyter notebook sample)"
In the sample `05.train-in-spark`, the link to HDInsight Spark creation goes to: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/how-to-create-dsvm-hdi
which is deprecated.
It should go to: https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-jupyter-spark-sql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-09-25 07:13] ggailey777 commented on #15487
@mcurko to be honest I'm surprised at this one having problems in v2, but I will take a look.

[2018-09-25 07:15] msvijayn opened #15557 "Some corrections for log alerts"
Hi Brian,
Some comments on correctness of content w,r.t. log alerts:

- This URI should be to this [doc](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/alert-log), which explains log alert creation
- ![image](https://user-images.githubusercontent.com/33087919/45998308-0a11e980-c0c0-11e8-8e7a-c3c4763fd695.png)

- There is now a dedicated article on using [metrics from logs](https

[2018-09-25 07:16] msvijayn commented on #15557
FYI, @rboucher

[2018-09-25 07:34] SychevIgor opened #15558 "Wrong Screenshots of Azure Functions Create interface"
Azure functions screenshots were done from Big Azure, not on Azure Stack and it forced me to verify that some features available on not in Azure Stack. Let's look on this section: https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-solution-staged-data-analytics#create-an-azure-stack-function ( https://docs.microsoft.com/en-us/azure/azure-stack/user/media/azure-stack-solution-stage

[2018-09-25 07:39] mcurko opened #15559 "A few problems..."
What is "$AZ_BATCHAI_JOB_MOUNT_ROOT", is it "https://&lt;AZURE_BATCHAI_STORAGE_ACCOUNT&gt;.file.core.windows.net" ?

For me, "az batchai job file stream" results in "The specified outputDirectoryId stdouterr is not present on a mount root".

After starting the job, the error "FailedStartingContainer - unable to start docker container
Details: imageName - tensorflow/tensorflow:1.8.0-gpu" occurs.

-

[2018-09-25 07:46] SychevIgor opened #15560 "VSTS re-branded as Azure DevOps 2"
VSTS re-branded as Azure DevOps and as a result, we should use new product name instead of VSTS for consistency.
As well as, in Azure DevOps by default had been used different UX and it require from us, update screenshots to address latest UX changes. https://blogs.msdn.microsoft.com/devops/2018/06/19/new-navigation/ https://blogs.msdn.microsoft.com/lcs/2018/09/12/visual-studio-team-service-has-be

[2018-09-25 07:46] SychevIgor opened #15561 "VSTS re-branded as Azure DevOps 3"
VSTS re-branded as Azure DevOps and as a result, we should use new product name instead of VSTS for consistency.
As well as, in Azure DevOps by default had been used different UX and it require from us, update screenshots to address latest UX changes. https://blogs.msdn.microsoft.com/devops/2018/06/19/new-navigation/ https://blogs.msdn.microsoft.com/lcs/2018/09/12/visual-studio-team-service-has-be

[2018-09-25 07:56] anas1986 commented on #15459
I just tried to take a backup and still same error.

[2018-09-25 07:59] MatthewSteeples opened #15562 "Cmdlet version"
Is it correct that we need to install a version of Powershell that is more than a year out of date for this to work, or is that just the earliest build that it will work on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587

[2018-09-25 07:59] alexpost1995 opened #15563 "Mode = spell doesn't work properly"
I tried to use Bing Spell Check in Dutch, and for that to work I should use mode = spell instead of mode = proof, and unfortunately this only allows me to use 130 characters according to your documentation. The strange thing is that this mode doesn't actually accept 130 characters, it defers per string on how many characters it will accept before returning an empty object without any results. I've

[2018-09-25 08:01] carmeleve commented on #15018
@David-Noble-at-work
Hi, sorry have been out of office since Thursday, we are using the Hosted VS2017 build agent.

[2018-09-25 08:22] clericc opened #15564 "Parameters for python automation runbooks using Start-AzureRmAutomationRunbook?"
Documentation tells me that since python runbooks do not have named parameters, i need to access themn inside the runbook via argv. Fine. But the documentation loses absolutely no word on how to start Python runbooks using PowerShell. `Start-AzureRmAutomationRunbook`s `-Parameter` only accepts a Dictionary. Should i use integers als Keys?

[2018-09-25 08:35] SarithaMaran opened #15565 "EdgeHub throwing some TLS error"
# EdgeHub throwing some TLS  handshake error
I am having a custom python module and edgeHub and edgeAgent running on my raspberry pi.
EdgeHub is throwing some error. It has some TLS handshaking going on and then reports OutOfMemory exception before getting restarted by edgeAgent. And also my python module throws some sort of errors.
- The same setup is running fine in x-86 linux machine.
- And it

[2018-09-25 08:38] anceng opened #15566 "Sample Runbooks - Broken links and older versions"
The following links mentioned in "Installing and configuring this scenario" are broken:

Azure DevOps sample runbook
https://www.powershellgallery.com/packages/Sync-VSTS/1.0/DisplayScript

Azure DevOps with Git sample runbook
https://www.powershellgallery.com/packages/Sync-VSTSGit/1.0/DisplayScript

Navigating to either one shows the following error:
Error 404 - Page Not Found

The mentioned scrip

[2018-09-25 08:49] anceng opened #15567 "Azure DevOps intergration - 2 "official" methods?"
This article describes the a method to provide Source Control integration with Azure DevOps.

The following article seems to describe the same, it uses built in functionality the Azure portal:
https://docs.microsoft.com/en-us/azure/automation/source-control-integration

Having 2 articles which explain different methods to provide the same functionality is quite confusing. Neither article mentions

[2018-09-25 08:57] anceng opened #15568 "Authentication - App request permission prerequisites"
Currently we are trying to implement the Source Control feature on Automation Accounts in my organization's Azure tenant.

However we are having issues with the "Authenticate" step. Whenever we try to configure Source Control using Visual Studio Team Services (Git) as the Source control type the Authentication step fails. As soon "Authenticate" is selected, the App Request Permission screen is sho

[2018-09-25 09:01] atul407 opened #15569 "Please update the code for PHP"
I have many a a source code but none worked for PHP. Can it there be any official working code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcf76a42-4ecb-63c9-8ca0-40af417006d7
* Version Independent ID: 34c4f58e-a6a9-ab8c-0721-c4b8c5e0248b
* Content: [Tutorial - Enable a web application to authenticate with accounts

[2018-09-25 09:05] SychevIgor opened #15570 "New-AzureRMPolicyAssignment/New-AzureRmPolicyDefinition description"
"The module uses the New-AzureRMPolicyAssignment cmdlet to create an Azure policy, which limits the resource types and services available in a subscription"
New-AzureRMPolicyAssignment - will assign policy, to create policy- you need "New-AzureRmPolicyDefinition" command.
Could you make this sentence a bit more accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-09-25 09:14] tapialuism commented on #15216
Version  - 6.8.1

On Mon, Sep 24, 2018 at 6:59 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2018-09-25 09:16] tapialuism commented on #15507
ah okay.. Thanks Travis

On Mon, Sep 24, 2018 at 2:01 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2018-09-25 09:23] kiran007francis opened #15571 "Error while running Azure IoT Hub Tutorial for Python"
Operating System: Window 10
Language : Python
Version: Python 3.7

I was going through the tutorial given on Azure Portal's IoT Hub for sending telemetry. I am following the python tutorial https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python .

![azure python tutorial](https://user-images.githubusercontent.com/43568831/46004833-7cd79080-c0d1-11e8-862c-26cbb7fe5017.PNG)

[2018-09-25 09:28] #15512 closed

[2018-09-25 09:29] SychevIgor commented on #15512
Didn't understand phrase "The Azure Stack Policy module allows you to configure an Azure subscription with the same versioning and service availability as Azure Stack. "in a right way.

[2018-09-25 09:36] PumpkinClarinnet commented on #15418
Any time and my pleasure 😊

A terça, 25/09/2018, 01:03, Karishma Tiwari - MSFT <notifications@github.com>
escreveu:

[2018-09-25 09:38] sergaz-msft commented on #15509
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 09:39] sergaz-msft commented on #15510
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 09:40] nsoneji commented on #14678
@colinweiner Document is updated. you can close the issue using #please-fix.

[2018-09-25 09:41] sergaz-msft commented on #15511
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 09:47] sergaz-msft commented on #15512
Thanks for your feedback!

[2018-09-25 09:48] sergaz-msft commented on #15513
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 09:58] sergaz-msft commented on #15516
Hello @timmyreilly thanks for reporting your steps on troubleshooting the issue.
Please can you also leverage the [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) doc?

Let us know it went.
Thanks!

[2018-09-25 09:59] georgenica commented on #8034
@BryanTrach-MSFT looks like it works; it would be great if you guys would update the intra-portal info to clearly display this and save a bit of time for both yourself and your customers that would be looking into solving this exact same problem.

[2018-09-25 10:00] sergaz-msft commented on #15549
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:00] sergaz-msft commented on #15553
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:01] sergaz-msft commented on #15554
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:02] sergaz-msft commented on #15558
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:02] sergaz-msft commented on #15560
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:02] sergaz-msft commented on #15561
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:03] sergaz-msft commented on #15570
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 10:11] sergaz-msft commented on #15177
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-25 10:11] #15177 closed

[2018-09-25 10:18] lmqferreira opened #15572 "title in the left-side topic list has a typo"
Please change "Update the SSL certfictate for AD FS" for ""Update the SSL certificate for AD FS"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d87b17f9-38de-1acf-e18f-96bba2ae77ea
* Version Independent ID: 20c9770c-2c11-e172-e66c-76c9632fafce
* Content: [Azure AD Connect - Update the SSL certificate for an AD FS farm]

[2018-09-25 10:19] cephalin commented on #15253
https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1348128 created to track potential content gap

[2018-09-25 10:32] spacecat opened #15573 "Restore snapshot"
Can this be applied in a volumeClaimTemplate of a StatefulSet or by directly updating a PersistentVolume object?

azureDisk:
        kind: Managed
        diskName: pvcRestored
        diskURI: /subscriptions/&lt;guid&gt;/resourceGroups/MC_myResourceGroupAKS_myAKSCluster_eastus/providers/Microsoft.Compute/disks/pvcRestored

The reason I ask is because I have a restored Azure Disk and I want to tak

[2018-09-25 10:39] ravikiran-srini opened #15574 "Can I use Point-to-Site VPN?"
Can I use Point-to-Site VPN instead of a Site-to-Site VPN to connect VNET to On-prem? I do not have a VPN device

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a3bca-2e7d-1746-d490-109a244c5970
* Version Independent ID: 20654222-323d-e8bb-3073-4878cc3e1ad1
* Content: [Join Azure-SSIS integration runtime to a virtual

[2018-09-25 10:44] cephalin commented on #15270
@AlexKeySmith Thank you for the feedback. I've added https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1348153 as a work item to clarify the text.

[2018-09-25 10:47] dominicbetts commented on #15411
@prafullkotecha - I've updated the article (https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local) to reflect changes made in the GitHub repos. I'm still waiting for some changes to be made in the GitHub repo, but in the meantime please use this slightly modified version of docker-compose.yml: https://gist.github.com/dominicbetts/0f63f3a40eba7f3340af4b44

[2018-09-25 10:56] jtuliani opened #15575 "Availability Zones?"
The doc discusses how maintenance windows are handled for paired regions and availability sets. It also need to explain how availability zones are handled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58389db7-2eba-59fe-f907-2c7973474d47
* Version Independent ID: 27ef0fdf-76ec-842d-5d10-403a52f1acbd
* Content: [Maint

[2018-09-25 11:06] dominicbetts commented on #15467
Hi @MarcoStucchi - I believe this is an issue with the SDK - please see: https://github.com/Azure/azure-iot-sdk-python/issues/205

Can you confirm that you see the same error if you try this sample: https://github.com/Azure/azure-iot-sdk-python/blob/master/device/samples/iothub_client_sample.py

[2018-09-25 11:07] jtuliani opened #15576 "Temp disk / dynamic IPs for memory-preserving maintenance"
Please can you clarify under memory-preserving maintenance what happens to the Temp Disk and dynamic public IP addresses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58389db7-2eba-59fe-f907-2c7973474d47
* Version Independent ID: 27ef0fdf-76ec-842d-5d10-403a52f1acbd
* Content: [Maintenance and updates for Windows VMs

[2018-09-25 11:08] dominicbetts commented on #15468
Hi @smith-phil  - I believe this is an issue with the SDK - please see: Azure/azure-iot-sdk-python#205

Can you confirm that you see the same error if you try this sample: https://github.com/Azure/azure-iot-sdk-python/blob/master/device/samples/iothub_client_sample.py

Thanks, Dominic

[2018-09-25 11:12] kagarmoe opened #15577 "Get-AzurePublishSettingsFile"
I need additional context on making this command work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48933ef2-fdcd-9f32-5ae9-bac175c8ffbd
* Version Independent ID: d2f31ebc-3c71-fd49-a288-92e0124b15a3
* Content: [Azure virtual machine deployment with Chef](https://docs.microsoft.com/en-us/azure/virtual-machines/window

[2018-09-25 11:14] charleszipp commented on #15260
@MicahMcKittrick-MSFT

It would also help to communicate that the CpuCores settings can be set at a fractional value to allow a service type a certain percentage of cpu. We worked with our CSA Adam Turner to figure this out and he confirmed with @masnider's team. If you want to govern a service type at 20% on a 8 core machine, the CPU cores can be set at 1.6 to achieve 20% governance. This is how

[2018-09-25 11:39] mukund1980 opened #15578 "Actions on activity alerts"
I see on the portal that it is possible to forward activity log alert to Azure function, but I do not see that option mentioned in this document as well as in the video included on this page. I am interested to know how to enable forwarding activity log alerts for storage accounts to azure function using ARM template. Even the documentation available on creating activity log alert using ARM templa

[2018-09-25 11:53] femsulu commented on #15557
@msvijayn thanks for your comment. assigned to content owner to take appropriate action.

[2018-09-25 11:56] Hyper200 opened #15580 "Additonal Cipher information"
Finding it difficult to locate cipher information on the P2S SSL VPN ciphers used from App Services vNet integration.

A list of the supported ciphers, or a link here of where to find them would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5

[2018-09-25 11:56] femsulu commented on #15578
@johnkemnetz thanks for your comment. Your feedback has been shared with the content owner for further review.

[2018-09-25 12:18] jomuld opened #15582 "Import-Module of ServerCmdlets.dll"
[Enter feedback here]
The document mentions to issue this command for removing an endpoint:
`Import-Module "C:\Program Files\Azure\StorageSyncAgent\StorageSync.Management.ServerCmdlets.dll"`
**Which is correct.**

The Azure portal (ms.portal.azure.com) shows this command for doing so:
`Import-Module ".\StorageSync.Management.ServerCmdlets.dll"`
**This fails with:**
`Import-Module : The specified m

[2018-09-25 12:27] vinodkmaurya opened #15584 "SSPR page at windows login"
After configuring the Registry key for "Reset Password" option,  When clicking on the Reset Password, SSPR portal is not opening and getting error "Something went wrong, try again later".

Able to access SSPR portal and reset password after login with user account. also when machine is connected to direct internet, Reset Password is working at login screen.
Any suggestions, what additional configu

[2018-09-25 12:29] Oramit99 opened #15585 "Is this really end-to-end encryption?"
"When configured with end to end SSL communication mode, application gateway terminates the SSL sessions at the gateway and decrypts user traffic."
-&gt; I am surprised to learn that the end-to-end encrytion is in fact decrypted first after which another TLS session is set up with backend system. I wouldn't call this end-to-end. I understand it to be necessary to be able to inspect and perform WAF

[2018-09-25 12:30] DCtheGeek commented on #15550
@cbellee Thanks for letting me know.  The **AzureRm.ResourceGraph** mode was flagged as _Prerelease_, so it needs a flag to install: `Install-Module -Name AzureRM.ResourceGraph -AllowPrerelease`. I've already got the update to the doc staged and it should publish this morning.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label as 'doc-bug', assign to me, and #in-progress.

[2018-09-25 12:42] femsulu commented on #15567
@anceng thanks for your comment. Your feedback has been shared with the content owner for further review.

[2018-09-25 12:53] vibhorrastogi87 opened #15586 "Bulk executor for .net core -- is there any way we can user bulk executor in .net core"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-25 12:59] femsulu commented on #15568
@anceng thanks for your comment. Your feedback has been shared with the content owner for further review.

[2018-09-25 13:51] Anmolgan81 opened #15588 "I cannot move the Managed Disk VM across subscription dispite of registering the Microsoft.Compute Resource"
I have tried below command to register:
Register-AzureRmProviderFeature -FeatureName ManagedResourcesMove -ProviderNamespace Microsoft.Compute

I have also checked the status of it and its registere, but I am getting the same error as the managed disks are not supported to move, I have Registered this in all 2 subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-09-25 14:01] tarifrr commented on #15496
@MicahMcKittrick-MSFT @iainfoulds I will give it a try and will update this thread by the end of the week

[2018-09-25 14:09] LisandroSu opened #15589 "モジュールツインの報告されるプロパティ（reported properties)について"
@bigw00d commented on [Thu Sep 20 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/728)

モジュールツインの報告されるプロパティ（reported properties)をMQTTで更新したいです。トピックは何を指定したら良いでしょうか？

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1c4d-94e6-e38c1d42686f
* Content: [Azure IoT Hub の

[2018-09-25 14:09] LisandroSu commented on #15589
Hi team,

Please check this request for more info in the document. Rough translation:

_The page of "Communication with IoT Hub using the MQTT protocol" describes the contents of updating the reported properties of "Device Twin" (DeviceTwin) using MQTT
(Item of "Update reported property of device twin")
In case
However, since it does not describe how to update the reported property of "module twin

[2018-09-25 14:18] MrCNeale commented on #15550
PS C:\windows\system32> Install-Module -Name AzureRM.ResourceGraph -AllowPrerelease
Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.
At line:1 char:44
+ Install-Module -Name AzureRM.ResourceGraph -AllowPrerelease
+                                            ~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Install-Module], ParameterBind

[2018-09-25 14:27] DCtheGeek commented on #15550
@MrCNeale What version is your PowerShellGet module? `Get-Module -Name PowerShellGet`. It looks like you have an older version that doesn't support the **-AllowPrerelease** flag and you'll need to update it. Please see https://docs.microsoft.com/powershell/gallery/installing-psget#get-the-latest-version-from-powershell-gallery

[2018-09-25 14:29] stevestein commented on #8259
#please-close

[2018-09-25 14:29] stevestein commented on #8901
#please-close

[2018-09-25 14:31] Mike-Ubezzi-MSFT commented on #15539
Thanks for the feedback. Please take a look at the Cosmos DB User Voice as there is a long standing request for [Add DocumentDB Emulator support for Mac OS X and *nix](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18533509-add-documentdb-emulator-support-for-mac-os-x-and). Please up vote and provide additional feedback in support of this.

[2018-09-25 14:41] mahilleb-msft commented on #15517
Cool - glad that it works for you now!

[2018-09-25 14:41] mahilleb-msft commented on #15517
ops - #please-close

[2018-09-25 14:42] #8259 closed

[2018-09-25 14:42] Grace-MacJones-MSFT commented on #15329
Hi @spacecat, Git does detect the changes after you enable Dev spaces. I am glad you were able to verify that on your end. The answer to your first question is no. The preexisting Dockerfile in your project will not be overwritten.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2018-09-25 14:42] #15329 closed

[2018-09-25 14:44] Mike-Ubezzi-MSFT commented on #15552
@buzzfrog Thank you very much for your interest in Azure products and services. I still see the local Emulator install as version 1.22.0. Released on April 20, 2018. There is also a [VSTS Build Task Extension for the Cosmos DB Emulator](https://marketplace.visualstudio.com/items?itemName=azure-cosmosdb.emulator-public-preview). You will need to install that if you wish to complete CI/CD build task

[2018-09-25 14:45] grayjeremy opened #15590 "Mirosoft.AzureActiveDirectory?"
In the service endpoint dropdown within a vNet, there is an Azure Active Directory item.  Is there any documentation on this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network servi

[2018-09-25 14:48] jasonshave opened #15592 "Typo"
Typo in the following paragraph:

With APIM in place, you can configure your function app to accept requests only from the **PI** address of your APIM instance.

Should say:

With APIM in place, you can configure your function app to accept requests only from the IP address of your APIM instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-09-25 14:51] sergaz-msft commented on #15008
Hello @Dharita ,
I didn't receive a confirmation yet about your request (represent the string values).

Can you answer my questions so we can point you to a workaround?

Thank you!

[2018-09-25 14:56] SychevIgor opened #15593 "Update links to RateCard/usage APIs to address latest location of such guides"
Currently in a guide we have links to https://msdn.microsoft.com/library/azure/1ea5b323-54bb-423d-916f-190de96c6a3c and https://msdn.microsoft.com/library/azure/mt219004.aspx but on both pages user will see a warning "We're no longer updating this content regularly. Check the Microsoft Product Lifecycle for information about how this product, service, technology, or API is supported."
Please, repl

[2018-09-25 15:11] haywoodsloan commented on #15014
Hi @NommySkies, I'd like to asks a few more questions to help us pinpoint the root cause here:

1.  Are you able to reproduce the issue right now? We recently release a significant update which may have addressed the issue already.

2. If the issue is still reproducible for you in Edge could you provide the exact version number?

3. Is your HTML file referencing the "[...]?api-version=1" endpoints

[2018-09-25 15:28] CarlRabeler commented on #14704
Docs updated
#please-close

[2018-09-25 15:30] MiladOrderDynamics opened #15595 "Removing pin(s)"
How do you remove a single pin from the map after load?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a5842eb-0d03-05bf-db8e-23ee198e8e71
* Version Independent ID: bd76b816-c155-2b88-1271-b47f69690352
* Content: [Add a pin with Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-pin)
* Content Sourc

[2018-09-25 15:42] h28669 opened #15597 "Copy Task: How to map to sink's Timestamp column if sink is Azure Table?"
When sink is an Azure Table and if using explicit mapping I get a Timestamp column. I tried to exclude it from mapping, but then execution of copy task fails, because number of source and sink columns is not equal. Since Timestamp column is handled by server it should not show in the mapping at all. Can you tell me how to map the Timestamp column or how to avoid the exception.

---
#### Document D

[2018-09-25 15:43] ecfan commented on #13589
Thanks @remyblok, we've created a work item for your suggestion!

@mike-urnun-msft #please-close

[2018-09-25 15:49] carmeleve commented on #11491
Any update on this?

[2018-09-25 15:56] mike-urnun-msft commented on #13589
Hey @remyblok We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 15:56] #13589 closed

[2018-09-25 15:57] Mike-Ubezzi-MSFT commented on #14704
@tim-yan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 15:57] #14704 closed

[2018-09-25 16:03] MarileeTurscak-MSFT commented on #15562
@MatthewSteeples
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:03] rayrad opened #15599 "Typo: "Poising" should be "Poison""
Here: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-bindings#trigger-behavior-1

Second bullet currently reads "Poising-message-handling". I presume it should be "Poison-message-handling."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34bd4f6c-c769-899d-7ec8-f4d8db7b798a
* Version Independen

[2018-09-25 16:03] MarileeTurscak-MSFT commented on #15569
@atul407
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:04] MarileeTurscak-MSFT commented on #15572
@lmqferreira
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:04] MarileeTurscak-MSFT commented on #15502
@willzhan
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:04] MarileeTurscak-MSFT commented on #15523
@dtzar
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:05] MarileeTurscak-MSFT commented on #15564
@clericc
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:05] MarileeTurscak-MSFT commented on #15565
@SarithaMaran
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:05] MarileeTurscak-MSFT commented on #15592
@jasonshave
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:06] MarileeTurscak-MSFT commented on #15571
@kiran007francis
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 16:07] Marisella opened #15600 "Connecting to the VM created"
I am unable to RDP to the VM that I created. Not sure why? Have used the same password I used for the VM but unable to connect. Is there any other configuration that needs to be done? Please advice. Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a

[2018-09-25 16:08] Karishma-Tiwari-MSFT commented on #15216
@tapialuism Thanks for sharing. From the error, it looks like either the image is not created or it cannot find the image in that resource group. Can you check on the portal that the resource group of the initial VM and image created from that VM is same as the resource group where you are trying to create new VM out of that image?
Also, ensure that you are seeing the created image on the Azure po

[2018-09-25 16:09] ecfan commented on #13746
Thanks @sparsematrix, we've created a work item for this issue.

@mike-urnun-msft #please-close

[2018-09-25 16:10] sergaz-msft commented on #14965
Hello @krokoko I am still suspecting that this issue can be related with the network where you are running it. Did you also try sending messages with a leaf device using different languages of the SDK? Is the leaf device on the same machine as IoTEdge?

This issue will be addressed by the Product Group if you open a new issue [here](https://github.com/Azure/iotedge/issues). Please let us know when

[2018-09-25 16:11] johnwest80 commented on #15459
Same thing here.  I have a vm with a standard ssd, and I get this error.

* Disk
30 GiB
Standard SSD
Not enabled
Read/write

* Backup Error
Recovery Point Expiry Time in UTC | 10/26/2018 3:59:59 AM
Backup Size | 0 MB
Error Code | UserErrorUnsupportedStorageType
Error Message | The storage type is not supported by Azure backup.

I would not have chosen a standard ssd had I known backup wouldn't wor

[2018-09-25 16:17] sergaz-msft commented on #15409
Hello @SarithaMaran . Thank you for porting the issue. Can i kindly ask you to open an issue with the same description on [Azure IoT Edge Github Repository](https://github.com/Azure/iotedge/issues)? The scenario you describe fall out of the scope of this doc and the best place to troubleshoot the issue is on that repo.

Let us know the link to the new issue when you create it.

Thanks!

[2018-09-25 16:21] mike-urnun-msft commented on #13746
@sparsematrix We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 16:21] #13746 closed

[2018-09-25 16:27] Karishma-Tiwari-MSFT commented on #15577
@kagarmoe Thanks for your question. Can you please elaborate on your ask?
The linked document for more details on [Get-AzurePublishSettingsFile ](https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azurepublishsettingsfile?view=azuresmps-4.0.0). Let me know if there is anything specific you are looking for.

[2018-09-25 16:27] CarlRabeler commented on #13645
pending - https://github.com/MicrosoftDocs/azure-docs-pr/pull/53299 - updated link to point to examples in the new "tabbed" formatted content

[2018-09-25 16:30] DiegoRamirez-MSFT commented on #15469
hello tjcdw

thanks for the update, could you please post a sample of your script that is working so we can update the documentation accordingly? (please do not include any personal information or keys

[2018-09-25 16:32] BrendanGrant opened #15601 "Renamed variables between small bits and complete code"
EhConnectionString -&gt; EventHubConnectionString
EhEntityPath -&gt; EventHubName

Would be good to stick with one naming convention in the entire doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c6d63e-95f5-de2c-972b-4da5fe71a6a6
* Version Independent ID: 338bbd1b-d86d-ff48-0b8a-1d48cb9547f2
* Content: [Send even

[2018-09-25 16:32] stevestein commented on #9272
@Mike-Ubezzi-MSFT - please reassign to @VanMSFT

[2018-09-25 16:41] Karishma-Tiwari-MSFT commented on #15573
@spacecat Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-25 16:42] ggailey777 commented on #15599
@rayrad Thanks for reporting this typo.

[2018-09-25 16:42] Karishma-Tiwari-MSFT commented on #15575
@jtuliani Thanks for the feedback. We are currently investigating and will update you shortly.

[2018-09-25 16:46] JRSternContinuum commented on #8901
Hello?  Is that a request that I should hit the close button?  OK.  Thanks for consideration.

[2018-09-25 16:46] #8901 closed

[2018-09-25 16:47] Karishma-Tiwari-MSFT commented on #15600
@Marisella Did you add the RDP port in "Select Inbound ports" while creating the VM?

![image](https://user-images.githubusercontent.com/20851144/46029294-d4610680-c0a7-11e8-9501-832b1254d266.png)

[2018-09-25 16:48] stevestein commented on #14131
@zaalion , @Alberto-Vega-MSFT - thanks for the feedback! A work item (1348368) has been created to address the issues pointed out above.
#please-close

[2018-09-25 16:51] DiegoRamirez-MSFT commented on #15576
hello jtuliani

when the maintenance of a VM does not require a reboot and will be "paused for up to 30 seconds" the dynamic IP should remain assigned, in the same way the temp disk content should remain.
I will get this assigned to one of our content authors so this can be specified on the document

best

[2018-09-25 17:01] ecfan commented on #15280
Thanks, @daviburg! We've created a work item to address.

@mike-urnun-msft #please-close

[2018-09-25 17:01] jeevansd commented on #5850
@stinkydiver We are going to provision users into Google Apps. we dont sync any passwords to any app. It is just the Identity and user profile getting created or updated but no password. When you enable SSO then the password at the Google is not getting used because Google is setup for federation.

[2018-09-25 17:02] MicahMcKittrick-MSFT commented on #15294
@changanh thanks for pointing this out.

The one that is incorrect is ServiceCreated. The correct ID should be 18657.

I will submit a fix shortly.

[2018-09-25 17:03] kiran007francis commented on #15468
@smith-phil try the code sudo apt-get install iothub_client

[2018-09-25 17:04] Alberto-Vega-MSFT commented on #15597
@h28669 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-25 17:05] kobulloc-MSFT commented on #15542
@alexchx Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-25 17:06] ecfan commented on #14629
Thanks, @daviburg! We've created a work item to add this info.

@BryanTrach-MSFT #please-close

[2018-09-25 17:07] MarileeTurscak-MSFT commented on #15586
@vibhorrastogi87
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 17:07] Alberto-Vega-MSFT commented on #15574
@ravikiran-srini Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-25 17:08] CarlRabeler commented on #14019
@kazshi working on getting you an answer

[2018-09-25 17:09] adamreed90 opened #15602 "Traffic View Non-Functional"
After many days I am still receiving the error message: The requested heat map content does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1964d4c8-7106-ac1e-3d69-30681e755f49
* Version Independent ID: e0d241fa-50d1-076d-eb15-854a9e8086c4
* Content: [Traffic View in Azure Traffic Manager](https://docs.micros

[2018-09-25 17:09] jkonecki opened #15603 "Outdated Change List section"
Change List section doesn't mention release 2.0.0 of the Emulator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos DB Emulator](https://docs.microsoft.com/en-us/azure/cosm

[2018-09-25 17:09] nwhitmarsh opened #15604 "Classic Vnet --> ARM MIgration"
When is there going to be an option to migrate existing Domain Service on Classic VNets to ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2dd1067-861a-2355-0dda-ce99a5494334
* Version Independent ID: beeda77b-221c-1540-f26c-b2700d5ce000
* Content: [FAQs - Azure Active Directory Domain Services](https://docs.micro

[2018-09-25 17:09] CarlRabeler commented on #14013
@kazshi working on getting you an answer

[2018-09-25 17:11] CarlRabeler commented on #13645
https://github.com/MicrosoftDocs/azure-docs-pr/pull/53299 merged 2 minutes ago - live at 4 pm today

[2018-09-25 17:11] CarlRabeler commented on #13645
#please-close

[2018-09-25 17:12] Alberto-Vega-MSFT commented on #15601
@BrendanGrant Thanks for the feedback! I agree with you. I will look into it but if you are interested in becoming a contributor you are more than welcome to send a PR for review :)

[2018-09-25 17:12] ToddChitt opened #15605 "Need more explanation on where to get Quickbooks Keys"
Stating that the "Company IS" is "The company ID of the QuickBooks company to authorize" is a bit understated. How about telling me WHERE in QuickBooks I can get such info?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998a28b0-5278-73e2-7e27-b01997807797
* Version Independent ID: c7a902d0-b098-0e3d-ef13-3f5f3082382d

[2018-09-25 17:12] mike-urnun-msft commented on #15280
@daviburg We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 17:12] #15280 closed

[2018-09-25 17:15] Mike-Ubezzi-MSFT commented on #15546
@dem108 Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and respond accordingly.

[2018-09-25 17:15] CarlRabeler commented on #14999
Fixed - #please-close

[2018-09-25 17:16] Mike-Ubezzi-MSFT commented on #15556
@dem108 Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and respond accordingly.

[2018-09-25 17:27] ahmedelnably commented on #15551
Configuring partial backups doesn't affect the snapshots content. Snapshots will always creates a copy of everything (including log files for example). Partial backups is only honored in scheduled or on demand backups (https://docs.microsoft.com/en-us/Azure/app-service/web-sites-backup)

HTH

[2018-09-25 17:27] ecfan commented on #14534
Thanks @JasonBSteele! We've created a work item to address.

@femsulu #please-close

[2018-09-25 17:29] Mike-Ubezzi-MSFT commented on #15586
Hi @vibhorrastogi87, did you take a look at this documentation: [Use bulk executor .NET library to perform bulk operations in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net)?
Regards,
Mike

[2018-09-25 17:30] Mike-Ubezzi-MSFT commented on #14999
@richardharrison2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 17:30] #14999 closed

[2018-09-25 17:32] Mike-Ubezzi-MSFT commented on #15603
@jkonecki Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-09-25 17:33] TravisCragg-MSFT commented on #15507
@tapialuism We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-25 17:33] #15507 closed

[2018-09-25 17:36] jagged3dge opened #15606 "Discrepancy in the intro and deployment method described later in the article"
The intro to this article describes it as:

However, there is no other mention of Git based deployment later in the article. It expressly describes how the user should navigate to the ZipDeploy URL and upload a compressed ZIP file.

I'd rather you correct the intro text for this article, or, better still, add the missing content for Git deployment (while keeping the Zip deployment method intact).

[2018-09-25 17:37] mike-urnun-msft commented on #15599
@rayrad Typo has been corrected and change will reflect in few hours after next merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 17:37] #15599 closed

[2018-09-25 17:41] #15294 closed

[2018-09-25 17:43] cliffkoh opened #15607 "How do you get access to the scopes available to the access token for a user authenticated with Azure AD?"
For a user who is authenticated with Azure AD, how would you get access to the scopes that the user has access to? In addition, how would one go about customizing the scopes available (i.e. request for a different set of scopes)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Vers

[2018-09-25 17:46] SaurabhSharma-MSFT commented on #15541
@Johnbreton Thanks for your feedback and glad to know that you are able to resolve it yourself

[2018-09-25 17:47] MarileeTurscak-MSFT commented on #15564
You can't use the -Parameters option with Python but you can use it from inside another runbook and call that runbook from the Start-AzureRmAutomationRunbook cmdlet. Please see this StackOverflow thread which provides a workaround for your issue.  https://stackoverflow.com/questions/48072056/azure-automation-pass-parameters-to-child-runbook-in-python

This document has a section that also gives an

[2018-09-25 17:48] SaurabhSharma-MSFT commented on #15562
@MatthewSteeples Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 17:49] MarileeTurscak-MSFT commented on #15564
I would suggest two things:

1. Please leave this as product feedback in user voice so that the product team can work on this issue directly. https://feedback.azure.com/forums/246290-automation

2. Please leave this same question on the MSDN forum and reference this issue so that someone from that team can help. https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=azureautomation

[2018-09-25 17:50] MarileeTurscak-MSFT commented on #15564
I'm closing this out for now but if you would like to continue the discussion or loop me into the MSDN thread, please leave a comment here and I will gladly continue the conversation.

[2018-09-25 17:50] #15564 closed

[2018-09-25 17:52] SaurabhSharma-MSFT commented on #15584
@vinodkmaurya Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 17:53] SaurabhSharma-MSFT commented on #15604
@nwhitmarsh Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 17:54] TomArcher commented on #12362
@iakko Should we close the Issue, or do you need additional time to test?

[2018-09-25 18:00] ecfan commented on #12707
Logic Apps has a new SFTP-SSH connector now:

https://docs.microsoft.com/azure/connectors/connectors-sftp-ssh

[2018-09-25 18:11] roygara commented on #15459
@Karishma-Tiwari-MSFT @johnwest80 @anas1986

I made some inquiries, looks like Azure Backup support is actually in the process of rolling out. I'm told it will be available by next week.

Thanks for your patience and apologies for the miscommunication.

[2018-09-25 18:13] Adam-Smith-MSFT commented on #15582
@jomuld Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 18:13] vasivara-MSFT commented on #15424
@dilv0055  My version is 6.1.0

[2018-09-25 18:26] wsmelton opened #15610 "Update of screenshots for Portal"
The portal screenshots are no longer accurate for the steps documented (at least a high majority of them). Especially the section [Select a restore point for restore](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#select-a-restore-point-for-restore), that is no longer the path to get to that information.

I can assist if approved. Submitting this as I would consider it

[2018-09-25 18:29] #15550 closed

[2018-09-25 18:35] SychevIgor opened #15611 "Update reference to azure stack powershell in TOC.yml"
reference to azure stack powershell documentation inside articles\azure-stack\TOC.yml using a link
- name: Reference
  items:
  - name: Azure Stack PowerShell
    href: /powershell/azure/azure-stack/overview?view=azurestackps-1.2.9
but if we will click on it, it will show as a warning "The requested page is not available for azurestackps-1.2.9. You have been redirected to the newest product versio

[2018-09-25 18:36] rayrad commented on #15599
Wow. That was a fast turnaround. I only reported it for MS benefit because companies generally like to know what needs fixing. Also, I was a blue-badge there for 12 years and still have some loyalty. :-) So, in short, no other questions or comments. Thanks.

[2018-09-25 18:38] mrik23 opened #15612 "How to partially roll this out?"
Can we just enable this for a subset of users? The cmdlet parameters tend to make me think it should be possible "-isOrganizationDefault $true".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless Azu

[2018-09-25 18:42] LukeBayler commented on #10421
Mentioning Noelle here for visibility: @noellelacharite

[2018-09-25 18:45] krokoko commented on #14965
Hello @sergaz-msft
     The leaf device is not on the same machine than the edge device (2 different physical devices). I didn't try with other languages yet, i'll try with python.

Ok I will create another ticket and post the link here. Thank you for the support ! :)

[2018-09-25 19:02] Najib314 opened #15613 "From preview to RTM ?"
Helo,

This feature is really interesting, however it is a public preview (for 2 years now)

Do you plan to make it RTM ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1a3b25-8cbd-29f9-d205-31d320f6d315
* Version Independent ID: 6711b6ba-154a-d078-d119-603d2c169453
* Content: [Assign licenses to a group in Azure Act

[2018-09-25 19:16] ecfan commented on #15119
Thanks @psatyaa! We created a work item to make the requirements more visible.

[2018-09-25 19:24] kmcconnell opened #15614 "BlobTrigger throws indexing error when used with async Task."
I'm using https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---c-example as an example with an async function, and getting the following error:

`Cannot bind parameter 'name' to type String.`

Are the inputs different when using async?

Code sample:

[code]

As a side note, I also get an IntelliSense notice that TraceWriter is obsolete and to use ILogger i

[2018-09-25 19:34] TravisCragg-MSFT commented on #15590
@grayjeremy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 19:35] deanellerby opened #15615 "Edge"
how is Edge *still* not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connect: Seamless Single Sign-On](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso)

[2018-09-25 19:39] LisandroSu commented on #15500
Hi @SaurabhSharma-MSFT

Thanks for your answer. I don't know what is your procedure in these cases. If you want you can close the issue until the user provides more info about it.

Thanks again!

[2018-09-25 19:42] TravisCragg-MSFT commented on #15580
@Hyper200 [Azure handles the P2S VPN configuration](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#enabling-vnet-integration) and you should not need to specify it manually.

What exactly are you trying to do within Azure?

[2018-09-25 19:42] Karishma-Tiwari-MSFT opened #15617 "Update-AzureRmVmss 'Name' parameter needs to be updated"
Under
Update-AzureRmVmss `
  -ResourceGroupName "myResourceGroup" `
  -Name "myScaleSet" `
  -VirtualMachineScaleSet $vmss

-Name needs to be corrected to -VMScaleSetName otherwise you will get the error:
Update-AzureRmVmss : Required parameter 'adminPassword' is missing (null).
ErrorCode: InvalidParameter
ErrorMessage: Required parameter 'adminPassword' is missing (null).
ErrorTarget: adminPasswo

[2018-09-25 19:44] TravisCragg-MSFT commented on #15555
@jasonwangnanjing could you please clarify what exactly this doc is missing? If you are [referring to customizing WAF Rules, you can find that info Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-customize-waf-rules-portal).

[2018-09-25 19:46] TravisCragg-MSFT commented on #15593
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 19:52] SoccerCore11 commented on #8367
Unfortunately that still doesn't provide enough clarity. The supported platforms are: Android, iOS, Windows Phone, Windows, and macOS. Does Intune need to be installed/registered on the platform, or is 'supported' extremely literal in that nothing additional is needed? This list of supported platforms seems very inclusive - what is an example of a platform that is NOT supported? How do 3rd party A

[2018-09-25 19:53] JimInWA opened #15618 "Why multiple articles with very similar information?"
Both this page and https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-fundamentals-hybrid-solutions have very similar but not identical information.  Is there a reason to have both articles?

Note: I read the comments to the previously opened comment about the fact that this article is being refactored with a link to a Getting Started page.  However, I personally would prefer

[2018-09-25 19:57] longnlp opened #15619 "When is the GA release date for this feature?"
We want to use this feature in production, is there any schedule to release this feature? Thank you.
Long

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.micr

[2018-09-25 19:58] Alberto-Vega-MSFT commented on #15531
@ranjanmicrosoft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 20:00] Mike-Ubezzi-MSFT commented on #15586
@vibhorrastogi87 Looks to be an issue with the .NET library and Cosmos DB: https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started/issues/25

[2018-09-25 20:03] yzheng-msft commented on #15619
hi Long, can you email me at yzheng@microsoft.com to discuss your requirements and we will evaluate.

[2018-09-25 20:06] MicrosoftGuyJFlo commented on #15562
The answer from the product group is that is just the minimum version. Newer versions should work as well.

[2018-09-25 20:07] BryanTrach-MSFT commented on #15607
@cliffkoh Thank you for your question. Since this goes beyond the scope of the initial article, we kindly request you to share your post on the [AAD MSDN forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD). We have a team of experts there that can assist you further.

[2018-09-25 20:10] BryanTrach-MSFT commented on #8034
@georgenica Thank you for the feedback. We will share the feedback with the product group in our next review cycle.

[2018-09-25 20:10] crshovrd41 opened #15620 "Server 2008 SP2"
This article says it is supported but when I attempt to install Mobility Services on a 2008 SP2 server it says "unsupported." I need to know what the actual truth is here. Please let me know. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a3829f2-aa5b-37e9-f188-211529fe741e
* Version Independent ID: 3955f9e4-e

[2018-09-25 20:11] ggailey777 commented on #14444
Should be fixed now. #please-close

[2018-09-25 20:14] RedCruz opened #15621 "Activity timeout behavior"
What is the default behavior of the activity when the timeout period is reached?
It seems that the pipeline just continues to run. Any way to exit with an error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff4df3-ae31-335a-bf60-b97dbe98fa58
* Version Independent ID: 1c769558-db53-2e3d-f3b7-cdb23c2689d8
* Content:

[2018-09-25 20:16] TravisCragg-MSFT commented on #15602
@adamreed90 I am able to view heat maps without an issue, this looks like an issue with your heat map. Please create a support request if you wish to pursue this further.

If you do not have a support plan, you can email me at AzCommunity@microsoft.com with your Subscription ID and a link to this issue and I will enable a one-time free support request for your subscription.

We will now proceed to

[2018-09-25 20:16] #15602 closed

[2018-09-25 20:21] DougPetrole opened #15622 "Request to update the list of machine types"
Is this list still accurate? Can we please include all new machine types, including B series machines? https://azure.microsoft.com/en-us/blog/introducing-b-series-our-new-burstable-vm-size/

What about N Series as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b9177e-fd0f-84ce-f02e-b32c04e1217c
* Version Indepe

[2018-09-25 20:27] markaldridge opened #15623 "Modern Authentication link broken"
The link for modern authentication doesn't work anymore.
Not sure if this is the best page for it to link to https://docs.microsoft.com/en-us/office365/enterprise/modern-auth-for-office-2013-and-2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5

[2018-09-25 20:27] BryanTrach-MSFT commented on #14497
@jerbro @dbuonomo In case the OP does not reach out, can you please reach out to us at azcommunity@microsoft.com with the details around the alert that you received? More importantly, we also would like the site name (sitename.azurewebsites.net) that you are concerned about. The product group and myself would like to look into this matter further.

[2018-09-25 20:31] Mike-Ubezzi-MSFT commented on #15586
The Bulk Executor for .NET Core is currently a feature request. Please up vote and comment on this to let the product group know: [Cosmos DB BulkExecutor for .NET Core](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/34559206-cosmos-db-bulkexecutor-for-net-core).

[2018-09-25 20:33] SaurabhSharma-MSFT commented on #15500
@LisandroSu Not a Problem.  We can wait for few days before closing this issue.  Please let me know one you hear back from the actual user.

[2018-09-25 20:35] mikemcghee23 opened #15624 "Access Logs and Export"
Hi there,
I've looked through ~80% of the documentation here, and I'm not seeing a direct callout to exporting and archiving access records, which is one component we need for a project currently in development. Based on what I've seen, it's either through the alerts functionality here, or through the Azure Monitor function.

To be clear, we need to log timestamps, AD profiles, and associated emai

[2018-09-25 20:42] rem8 commented on #15588
Same. Not working yet it appears...

[2018-09-25 20:46] csuttman commented on #14497
@BryanTrach-MSFT  My virtual IP matches the IP I had & have in the web app and A record. The language in the notices we received seem to say we "are" affected by this... but it appears that it should have said we "could be" affected. Does this sound accurate?

[2018-09-25 20:59] Karishma-Tiwari-MSFT commented on #15359
@mcurko Apologies for the delay. I am able to reproduce the issue and the error you are seeing at [Update app deployment](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-install-apps-powershell#update-app-deployment) step in the tutorial.

It looks like the old extension is still running so first we need to remove the old extension and then update the extension using `Up

[2018-09-25 20:59] JimInWA commented on #15618
Personal opinion - In the world of finding articles via search engines like Bing or Google, removing the article from the Table of Contents (TOC) isn't enough; the "removed" article was the first one that I found with both search engines.

Thanks,
Jim.

[2018-09-25 21:03] spelluru commented on #15618
@JimInWA - I agree. I have recently taken over the ownership of this content set. We usually remove the article itself after having a redirection in place. I will take the next steps as per our guidelines. Thanks!

[2018-09-25 21:05] Karishma-Tiwari-MSFT commented on #15617
Closing this issue as -Name is an alias for -VMScaleSetName

[2018-09-25 21:05] #15617 closed

[2018-09-25 21:08] BryanTrach-MSFT commented on #14497
@csuttman We are currently investigating this to see why the messaging is not aligning 100%. We will update this shortly.

[2018-09-25 21:09] aakaufm opened #15625 "No output files are created in output bucket"
So I've double-checked that all the steps have been completed successfully, and as far as I can tell all is exactly as it is in this document except that I don't get any output (and in the Activity Log, I see a warning for "InputPartitionNotProgressing".)

Looking at the closed issues, it looks like it might be a thing where the data is too old (outside the configured 20-day window)?  How old is t

[2018-09-25 21:15] mirkio90 commented on #14784
I've solved using non-beta version of arduinojson library!

[2018-09-25 21:16] mamccrea commented on #15625
@aakaufm - The time policy cannot be greater than 20 days. I will update the data. We are currently working on a more permanent solution for this quickstart.

[2018-09-25 21:18] aakaufm commented on #15625
So just in general, that means the streaming API won't work with data more than 20 days old?

[2018-09-25 21:19] andrewatfornax commented on #15386
Hi @rkarlin,

If it helps, I have found out that one reason why "No recent data" may appear is that - although the monitoring agent is installed and working on the VMs, and the agent is correctly connected to the Security Center OMS instance - if you have manually supplied your own OMS instance for this (instead of using one created by the setup wizard in Security Center), the "Security" solution

[2018-09-25 21:33] msangapu commented on #15606
@jagged3dge The article was modified to use ZipDeploy and we missed updating the description. I will update it. Thank you for reporting this.

[2018-09-25 21:35] cynthn commented on #15359
@Karishma-Tiwari-MSFT I'm not understanding what the issue is with the docs? Thanks :)

[2018-09-25 21:38] aL3891 commented on #15445
@kobulloc-MSFT i'm not asking for specific pricing information, i'm asking of there is a cost to export at all. As I mentioned, there is information on any such pricing on the calculator anywhere else.

If that screenshot should be used, then there should also be a note on what cost the screenshot refers to and where more information about the specifics can be found. if there isn't a cost associat

[2018-09-25 21:40] Karishma-Tiwari-MSFT commented on #15459
@roygara Thank you for sharing the information. Appreciate your quick response.
Assigning it to you for updating the FAQ as discussed offline. Thanks.

[2018-09-25 21:42] Karishma-Tiwari-MSFT commented on #15425
@TiloGit Any updates?

[2018-09-25 21:44] wy193777 commented on #11710
The document still doesn't work for me. I find commands from [this](https://github.com/helm/helm/issues/3055#issuecomment-356347732) fix the problem:

[code]

[2018-09-25 21:48] MarcoStucchi commented on #15467
Hi @dominicbetts - the suggested SDK sample returns the very same error.

I've read the https://github.com/Azure/azure-iot-sdk-python/issues/205 and the issue is clear. I've tried  node samples with more success. Does this tell something about language of choice when approaching Azure programming ? Is Python a valid choice or does it come last in Microsoft order of precedence ?

Thank you, Marco

[2018-09-25 22:03] QuietOmen commented on #13599
I know that you are talking about building in Visual Studio 2017, but then what's the point of a Dockerfile...shouldn't that remove the need to go through Visual Studio to build? I'm only asking because I have a similar issue (at least I think it is the same) but I have not found a solution. I made a stack overflow post on it...I could sure use some help if it is of a similar nature. Thanks either

[2018-09-25 22:09] SaurabhSharma-MSFT commented on #15612
@mrik23 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 22:11] SaurabhSharma-MSFT commented on #15613
@Najib314 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 22:11] SaurabhSharma-MSFT commented on #15615
@deanellerby Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 22:12] Mike-Ubezzi-MSFT commented on #15274
@sssseossss Here is a non Microsoft blog that discusses Transparent Data Encryption versus SQL Server Always Encrypted: [SQL Server Always Encrypted vs Transparent Data Encryption (TDE)](https://info.townsendsecurity.com/sql-server-always-encrypted-vs-transparent-data-encryption-tde)

[Always Encrypted (Database Engine)](https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption

[2018-09-25 22:12] SaurabhSharma-MSFT commented on #15623
@markaldridge Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 22:15] SaurabhSharma-MSFT commented on #15198
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-25 22:17] Alberto-Vega-MSFT commented on #15480
Hi @PIKESTEL ,

The following document goes over some networking scenarios you might want to read the one titled *"Peered, connected, or multiple virtual networks"*:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview#scenarios

Regards,

Alberto Vega

[2018-09-25 22:26] cherylmc commented on #15223
#please-close

[2018-09-25 22:29] CHDAFNI-MSFT opened #15627 "Claritiy on administrator requirements / steps for new VMs"
Does a support ticket need to be in-place for each new VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e01a44-4fdd-f1fd-f6f6-fc4c333a949a
* Version Independent ID: 67a4dc71-9b2f-0587-963d-0475696499e7
* Content: [Guidance for mitigating speculative execution in Azure](https://docs.microsoft.com/en-us/azure/virtual

[2018-09-25 22:30] Alberto-Vega-MSFT commented on #15574
@ravikiran-srini Yes you should be able to do it. You might want to take a look at this https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal it illustrates  P2S connection to virtual network. Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 22:36] mamccrea commented on #15246
@ri-we - thank you for your suggestion! I think I might be having a little difficulty understanding what you mean by not being able to find the appid. The ApplicationId is globally unique and is assigned to a variable in this scenario.

[2018-09-25 22:36] TravisCragg-MSFT commented on #15223
@n0ttsweet We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-25 22:36] #15223 closed

[2018-09-25 22:37] MicahMcKittrick-MSFT commented on #15573
@spacecat I tried this out today without any luck of getting it to work.

I went through the doc and created a snapshot of my persistent volume and then created a disk from that snapshot

[code]

After that I tried to apply that to my existing pod and set it as my new persistent disk

[code]

However I got the following error:

[code]

I then tried creating a new pod instead

[code]

But when runn

[2018-09-25 22:39] MicahMcKittrick-MSFT commented on #15498
@gldagalea I will close this for now. Please see my above comment and when ready we can always reopen and continue.

[2018-09-25 22:39] #15498 closed

[2018-09-25 22:40] bwren commented on #14180
It sounds like we're behind on the documentation for this with all of the work that's gone into Ignite.  There's a reference at the top of each of the Windows Analytics solutions (Upgrade Readiness, Update Compliance, and Device Health) that refers to https://docs.microsoft.com/windows/deployment/update/windows-analytics-azure-portal.  That identifies the configuration process for the Azure portal

[2018-09-25 22:41] saimsh opened #15628 "missing instructions for az cli"
the documentation is missing instructions to setup KEK using az cli :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60ad29
* Content: [Azure Disk Encryption Prerequisites](https://docs.microsoft.com/en-us/azure/security/azure

[2018-09-25 22:41] roygara commented on #15459
I've gone ahead and updated the FAQ. It now currently reflects the state of the product.

#please-close

[2018-09-25 22:45] MarileeTurscak-MSFT commented on #15614
@kmcconnell
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-25 22:48] mlongoria opened #15629 "Substring start index is zero-based"
It would be helpful if you would include the fact that substring start index is zero-based. So if you want the first 4 characters it is substring('somevalue-foo-somevalue',0,4).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d4

[2018-09-25 22:51] mamccrea commented on #15625
Taking this offline. The input data has been update. #please-close

[2018-09-25 22:51] jingjing-z commented on #15595
@MiladOrderDynamics you can use below code for that specific add pin code sample
`map.removeLayers("default-pin-layer")`

We are releasing a new version of map control where you might be able to remove pins more easily. + @rbrundritt to provide more info

[2018-09-25 22:52] SaurabhSharma-MSFT commented on #15569
@atul407 Have you checked this sample - [PHP Web Application with Azure AD B2C](https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-php-webapp-openidconnect/)

[2018-09-25 22:55] SaurabhSharma-MSFT commented on #15572
@lmqferreira Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-25 22:57] bwren commented on #14180
#please-close

[2018-09-25 22:59] Alberto-Vega-MSFT commented on #15491
@Anded This question is a good candidate for StackOverflow. Please create a post there just make sure to provide more detail on your specific scenario.

[2018-09-25 23:03] SaurabhSharma-MSFT commented on #15584
@vinodkmaurya Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-09-25 23:09] TravisCragg-MSFT commented on #15611
@SychevIgor can you please post a link to exactly what you are referring to?

[2018-09-25 23:15] SaurabhSharma-MSFT commented on #15604
@nwhitmarsh As per [FAQ](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-faqs#can-i-migrate-my-existing-managed-domain-from-a-classic-virtual-network-to-a-resource-manager-virtual-network) it will be done in future release. Please keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/?status=all&product=active-directory) to get the upc

[2018-09-25 23:16] mamccrea commented on #15053
This article has been updated. #please-close

[2018-09-25 23:29] paulbatum opened #15630 "Document needs to be refreshed for Event Hub SDK 2.0"
Some of the code samples do EventData.GetBytes() but this method does not exist in the Microsoft.Azure.EventHubs SDK 2.x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b109d8b1-4a76-6c2c-b7a1-f473c3723a68
* Version Independent ID: 2ffb9a42-52e2-8aa1-86cc-d1033c42ec49
* Content: [Programming guide for Azure Event Hubs](

[2018-09-25 23:32] Alberto-Vega-MSFT commented on #15605
@ToddChitt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-25 23:33] Alberto-Vega-MSFT commented on #15621
@RedCruz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-25 23:39] mamccrea commented on #15436
@MarcusPorterAtQuestDiagnostics - thank you for reaching out. Yes, 168.63.129.16 is used in a variety of administrative scenarios, to include custom DNS.

[2018-09-25 23:45] wy193777 commented on #15103
Why resource group matters in this condition?

[2018-09-25 23:49] femsulu commented on #15624
@mikemcghee23 thanks for your comment.  Your feedback has been shared with the content owner for further review.

[2018-09-25 23:50] TiloGit commented on #15425
Thanks for the clarification. I was following the guide: Create a SQL Server Windows VM in the portal.
So the: infrastructure as a service (IaaS);
It's my understanding that this VM supports all SQL features.

[2018-09-25 23:54] SaurabhSharma-MSFT commented on #15613
@Najib314 Please keep an eye on [Azure Roadmap](https://azure.microsoft.com/en-us/roadmap/?query=Active+Directory%C2%A0%C2%A0) and the [EMS blog](https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Announcing-the-public-preview-of-Azure-AD-group-based-license/ba-p/245210).  Any announcement will appear there.

[2018-09-26 00:00] dcbrown16 commented on #13777
@BryanTrach-MSFT @ryanlward
I discovered that there actually is a restriction in moving custom domains from Azure to Azure.
https://blogs.msdn.microsoft.com/appserviceteam/2017/06/21/custom-hostnames-with-app-service/
Per that blog, if your new and old web apps happen to be on the same scale unit, the old binding will be lost when you register the new binding. You can't have the same domain tied t

[2018-09-26 00:02] femsulu commented on #15588
@Anmolgan81 @rem8 , thanks for bringing this to our attention. As you rightly stated this should now be supported based on the published documentation. checking internally to see if there is a known issue blocking migration of managed VMs. Please stay tuned.

@tfitzmac - are you aware of this?

[2018-09-26 00:03] SaurabhSharma-MSFT commented on #15615
Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-26 00:05] SaurabhSharma-MSFT commented on #15623
@markaldridge It works fine for me and redirects to https://aka.ms/modernauthga or https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/

[2018-09-26 00:07] #15592 closed

[2018-09-26 00:09] mike-urnun-msft commented on #15592
Hi @jasonshave Thanks for reporting this issue and contributing an improvement towards MS Docs! We have corrected the typo and the change will reflect after our next merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 00:13] Alberto-Vega-MSFT commented on #15625
@aakaufm There is a very good explanation in the comments of issue https://github.com/MicrosoftDocs/azure-docs/issues/8229  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 00:13] #15625 closed

[2018-09-26 00:47] jason-j-MSFT commented on #15595
@MiladOrderDynamics
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 01:00] BryanTrach-MSFT commented on #13777
@dcbrown16 I just verified and yes, you cannot have a custom domain on the same scale unit. The workaround would be to have your destination site in a different scale unit. That means though you won't be able to use the 'change app service plan' blade as it requires the source and destination ASP to be in the same scale unit. The workaround then would be to either clone or manually move your site

[2018-09-26 01:07] dcbrown16 commented on #13777
Thanks for checking, @BryanTrach-MSFT . In my understanding, there's no foolproof way to ensure that you end up on a different scale unit when creating a new ASP (other than going to another region). In fact, as originally indicated, in this case the customer was trying to scale from Standard to Premium v2 and unable to select Premium v2 on the original Web App, so I'm confused as to how the new P

[2018-09-26 01:09] dumnovnz opened #15632 "R developer's guide to Azure"
One important piece is missing, i.e. Azure Data Factory and particularly the DF ver 2 documentation for ML solution orchestration.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7904f8db-8ae8-68de-3559-bd6db96394c0
* Version Independent ID: be3a8757-595a-b913-2d6e-54e47344b40d
* Content: [R developer's guide to Azure -

[2018-09-26 01:37] kobulloc-MSFT commented on #15445
@aL3891 When I went through the documentation, I was not presented with any notifications as seen in the screenshots below (just a prompt to create a storage account and you can find price calculator information for that here: https://azure.microsoft.com/en-us/pricing/details/storage/blobs/).

@mrbullwinkle We should update the first screenshot in [the section in question](https://docs.microsoft.c

[2018-09-26 01:38] gavinfish commented on #13806
Hi @paul-mateos , I have succeeded to create an app service with "java|1.8|Tomcat|8.5" runtime by the Azure CLI. I think your issue may be caused by the service upgrade. Could you please try it again?

[2018-09-26 01:40] hbraasch opened #15633 "Maybe a documentation error? The link address did not match any of the expected formats"
I'm following your guidelines to receive a direct message using AMQP, but get an unexpected IOT HUB error message as soon as I execute the receive:

The link address 'amqps://XXX.azure-devices.net:5671/devices/YYY/methods/deviceBound' did not match any of the expected formats.

You can see the format is as per your documentation: amqps://{hostname}:5671/devices/{deviceId}/methods/deviceBound

I am

[2018-09-26 01:41] MicahMcKittrick-MSFT commented on #15622
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-26 01:42] MicahMcKittrick-MSFT commented on #15627
Thanks for the question! We are investigating and will update you shortly.

[2018-09-26 01:47] wy193777 commented on #15103
I got the same problem. I at least waited for 20 minutes and it's still pending. Both the AKS cluster and Public IP are on the same resource group. Is the cluster and Public IP must be located in two different resource groups?

[2018-09-26 01:56] JamiePed commented on #14316
I am experiencing this same issue - getting a similar message in the logs. Been unable to install Service Fabric on my main machine for a couple of weeks now so it would be really good to get an update on this ASAP.

Attempting to install the runtime directly also fails for me

[code]

[2018-09-26 02:29] j-martens commented on #15546
@dem108 - thanks for your issue. We are tracking this as an bug. @Mike-Ubezzi-MSFT please tag as product issue.

[2018-09-26 02:36] dcbrown16 commented on #13911
@TravisCragg-MSFT
I ran across this again and need to reconfirm.
About 169.254.169.254 (we seem to have lost the last "4" above), the doc states "If you block traffic to or from these IP addresses, a virtual machine may not function properly."
However, that address would not be part of the VirtualNetwork tag and according to your findings is not part of the AzureLoadBalancer tag.
By default, those

[2018-09-26 02:41] RichardScheel commented on #15377
I stand corrected. I found a dev who works on that, and he says that the data on the disk is **_discarded_** when the monthly Guest OS patching happens. Sorry of the erroneous initial answer.

[2018-09-26 02:47] JamiePed commented on #14316
I am experiencing the same problem so I would greatly appreciate any updates that you are able to give - especially since I've been unable to install this for a couple of weeks now. Here are my logs:

[code]

[2018-09-26 03:00] dcbrown16 commented on #15377
@RichardScheel thanks for checking on that!
I assume "the disk" in this case is referring to the D: Windows drive, which is indicated as "Rebuilt" in the link below under Portal Reimage or Guest OS Update?
https://blogs.msdn.microsoft.com/kwill/2012/10/05/windows-azure-disk-partition-preservation/
In that case, the document in question here is actually correct, but "Portal reimage" needs to be def

[2018-09-26 03:19] kazshi commented on #15157
@femsulu Please ignore my previous question - I misread your comment. Thanks.

[2018-09-26 03:46] markaldridge commented on #15623
ahh so I was on the en-au version https://docs.microsoft.com/en-au/azure/active-directory/hybrid/how-to-connect-sso
When you click on the link it redirects you to the en-au version which doesn't exist.
https://www.microsoft.com/en-au/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/

[2018-09-26 04:13] YutongTie-MSFT commented on #15632
@dumnovnz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@AnalyticJeremy Hi, there is a doc-bug reported, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-26 04:13] YutongTie-MSFT commented on #15515
@rjosephp We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-26 04:13] #15515 closed

[2018-09-26 04:16] SychevIgor commented on #15611
@TravisCragg-MSFT https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-stack/TOC.yml line 363

[2018-09-26 04:40] johndowns opened #15635 "Default follow-redirects value for forward-request policy seems to be incorrect"
For the `<forward-request />` policy, the documentation states that the default value of the `follow-redirects` attribute is `false`. However, in our testing, it appears that the default value is actually `true`. Can you please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c2f4db0

[2018-09-26 05:14] SteveMinar opened #15637 "Having trouble getting past the initial az extension add --name webapp step in the Cloud Shell"
Using azure-cli (2.0.46)

az extension add --name webapp fails with the message: No matching extensions for 'webapp'. Use --debug for more information.

az extension list-available doesn't show webapp as an option.

I've done a bit of searching, but I'm stuck before getting to first base.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-09-26 05:33] beckot opened #15638 "Samples for Node?"
I guess the 300 connection limit is an issue with Node.JS functions as well? Could you give an example on how to achieve proper client instantiation with Azure Table Storage client (https://github.com/Azure/azure-storage-node)?

I am currently facing issues with socket limits in Node using Azure Table Storage with a solution similar to Anthony Chu's sample - https://github.com/anthonychu/azure-fun

[2018-09-26 05:43] SarithaMaran commented on #15409
@sergaz-msft
Opened the issue in your provided link [repo](https://github.com/Azure/iotedge/issues/356).

[2018-09-26 05:43] BartJocque commented on #11975
@MohitGargMSFT @@barbkess
Solution is to block storage.live.com and d.docs.live.net

[2018-09-26 05:45] nnasaki opened #15639 "Does Front Door supported HTTP to HTTPS redirection?"
I wanna elect to redirect HTTP traffic to HTTPS as-is [Using the Azure CDN to access blobs with custom domains over HTTPS | Microsoft Docs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-https-custom-domain-cdn#http-to-https-redirection). Does Front Door supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-09-26 05:47] thuansoldier opened #15640 "How many roles does NotAction support?"
Except supported roles in **NotAction** documented here https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles may I know if any other roles I can add in **NotAction** when constructing a custom RBAC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7a-dc644f39a961
* Version

[2018-09-26 05:48] SarithaMaran commented on #15565
@sergaz-msft  @MarileeTurscak-MSFT
The issue was resolved by setting the Environment variable "OptimizeForPerformance" to "false" for the EdgeHub as provided in the [troubleshooting section](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#stability-issues-on-resource-constrained-devices) of the documentation. Previously the variable was not actually set (I added on portal but it was n

[2018-09-26 05:57] johndowns commented on #15635
Apologies, this was my mistake. The default value is indeed `false`.

[2018-09-26 05:57] #15635 closed

[2018-09-26 06:12] ri-we commented on #15246
Hi Mary,

When I login to my subscription these are my defaults:
PS C:\Users\user> Login-AzureRmAccount
Account          : user@contoso.onmicrosoft.com​
SubscriptionName : contoso​
SubscriptionId   : 6e042443-****-****-****-********834c​
TenantId         : 213afe68-****-****-****-********2de2​
Environment      : AzureCloud

Only after selecting my other subscription that is linked to the tenant wh

[2018-09-26 06:19] aquibqureshi26 opened #15641 "network Bandwidth Charges applicable when exporting data from Azure to On-premises using import and export service"
Team,
Thanks in advance, Just wanted to know if i would be paying for storage transaction charges as well as network egress charges when i export data from Azure storage to On premises by shipping the drive. As per the statement "The standard egress charges are applicable when data is exported from Blob storage."

Egress charges are network outbound charges right?
While importing the data to Azure

[2018-09-26 06:19] Anded commented on #15491
I have a custom activity to decrypt PGP encrypted files. I am using GnuPG binaries to do it, so they have to be included with the activity. So, when built, I have activity executables and a folder with GnuPG binaries. Like so:
![image](https://user-images.githubusercontent.com/42636857/46060278-ece22700-c162-11e8-93b5-6979ada87564.png)
The problem is that it is structured exactly the same way on b

[2018-09-26 06:26] jurjenoskam opened #15642 "NSG considerations: explicitly state the direction of traffic from the AzureLoadBalancer tag"
In the paragraph "NSG considerations", it is stated that: "... outbound Internet connectivity can't be blocked, and traffic from the AzureLoadBalancer tag must be allowed."

I would propose to explicitly state the direction of AzureLoadBalancer traffic: "outbound Internet connectivity can't be blocked, and inbound traffic coming from the AzureLoadBalancer tag must be allowed."

---
#### Document D

[2018-09-26 06:27] StephanGee opened #15643 "Hyper-V network configuration table incomplete"
Hello,
the table here: https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix#hyper-v-network-configuration
Is incomplete. Please fix.
Best regards
Stephan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30

[2018-09-26 06:42] msvijayn commented on #15624
Hi @mikemcghee23 - I am unclear on your query, but you can get information on exporting activity logs here: [https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-activity-logs#export-the-activity-log-with-a-log-profile
](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-activity-logs#export-the-activity-log-with-a-log-profile
)

[2018-09-26 06:43] msvijayn commented on #15624
#please-close

[2018-09-26 07:01] Tkeyy opened #15644 "Broken Links"
Both Links in the Chapter "Sample notebooks" are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93c263c3-b397-5686-bc13-036131c82ae9
* Version Independent ID: 4156cd0a-ac3a-9765-2115-d48f1d6fe6be
* Content: [Access Azure Cosmos DB Cassandra API from Azure Databricks](https://docs.microsoft.com/en-us/azure/cosmo

[2018-09-26 07:08] SarithaMaran opened #15645 "No facility provided to add or update properties.desired as provided in other documents."
# How to add or update properties.desired?

- No facility provided to add or update properties.desired in Azure functions as IoT Edge modules, as provided in other documents.
- For example in C#, python custom module you have given callback function for updating the properties.desired runtime also.
- What if I want to change the **temperatureThreshold**  to some other value runtime?
- Is that not

[2018-09-26 07:34] Hyper200 commented on #15580
We have a requirement to ensure secure ciphers are used in all VPNs etc,

We know that they are likely strong ciphers but confirmation of them would be excellent.

[2018-09-26 08:10] dominicbetts commented on #15467
Hi @MarcoStucchi  - did you see the workaround suggested in https://github.com/Azure/azure-iot-sdk-python/issues/205 ?

[2018-09-26 08:12] dominicbetts commented on #15468
@smith-phil - there is now a workaround for this issue posted in https://github.com/Azure/azure-iot-sdk-python/issues/205 . Thanks, Dominic

[2018-09-26 08:13] dominicbetts commented on #15468
As this is issue is being handled in the https://github.com/Azure/azure-iot-sdk-python repo, I'm going to request that this issue is closed. Please feel free to reopen it if you have any further documentation related questions. Thanks again.
#please-close

[2018-09-26 08:14] dominicbetts commented on #15467
As this is issue is being handled in the https://github.com/Azure/azure-iot-sdk-python repo, I'm going to request that this issue is closed. Please feel free to reopen it if you have any further documentation related questions. Thanks again.
#please-close

[2018-09-26 08:22] h28669 opened #15646 "Copy Data from blob to Azure table does not copy columns that have null values"
I have a CSV file with two columns that have all empty values. When I copy the blob to a new Azure table the two columns are not visible in the Azure table, even though I have defined explicit mappings. How can I get those columns show in Azure table (with null values)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8

[2018-09-26 08:36] u983101 opened #15647 "Limit-concurrency"
The document says

The limit-concurrency policy prevents enclosed policies from executing by more than the specified number of requests at a given time. Upon exceeding that number, new requests will fail immediately with 429 Too Many Requests status code.

How do I specify the given time? Or is that hard coded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-09-26 08:42] tonisc commented on #15588
Hi!
@femsulu, the same error:
The feature is registered:
"ManagedResourcesMove Microsoft.Compute Registered"
but I can't move a VM. I have tried with a lot of vms, rgs, subscriptions and regions. Always obtains the same error:
"This subscription is not registered to use Microsoft.Compute/ManagedResourcesMove feature."

[2018-09-26 09:05] jtuliani commented on #15576
Thanks. The doc says that maintenance without a reboot may pause for up to 30 seconds, or may live migrate to a different host.
I'm particularly interested if the second case - live migration - preserves the temp disk and dynamic IP assignment.  (I'm reasonably sure in the first case - pausing the VM - that it would.)

[2018-09-26 09:14] amtrived1 opened #15648 "Page isn't working 500 internal server error"
After downloading and deploying the zip to site got message of Deployment successfully but when accessed the site got 500 internal server error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create a Node.js

[2018-09-26 09:23] cenkersoy opened #15649 "Broken Link on page"
Hi this link is broken:
"Azure Stack Hybrid CI/CD Solution Guide"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cf42ceb-0ba8-1faf-9324-f0720a28ea38
* Version Independent ID: 3c17583e-a441-875a-1a73-e2512fcf397a
* Content: [Create an edge machine learning solution with Azure and Azure Stack](https://docs.microsoft.com

[2018-09-26 09:27] rayne-wiselman commented on #15620
@crshovrd41 Hi, can you confirm that you're trying to install Mobility service on WS 2008 R2 with latest updates (Standard, Enterprise, Datacenter). Also can you check that VSS service is running. thx

[2018-09-26 09:34] rayne-wiselman commented on #14678
#please-close. Issue fixed

[2018-09-26 09:35] danielcecil opened #15651 "Expiration Policies in C#"
Is there a C# library that is able to add a group to an expiration policy?  PowerShell is good but not for all cases; trying to implement some automation from Azure Functions.  Thanks in advance.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cdb
* Version Independent ID: f6bab9a9-1b8b-

[2018-09-26 09:54] szhaomsft commented on #14073
the samples are here:  https://github.com/Azure-Samples/Cognitive-Speech-TTS

[2018-09-26 10:16] nblx2k4 opened #15652 "Exception thrown in the example: Message handler encountered an exception System.InvalidOperation exception"
Hello,

I followed the same steps in the tutorial yet I got the error in the screenshot. The piece of code that throws this is this:

[code]

![image](https://user-images.githubusercontent.com/5254191/46073646-6a1a9580-c17d-11e8-8e8b-94fa110212fb.png)

Can you please advise what should I do? Especially that I learn how to use Service Bus in order to include it in our business application.

Thanks,

[2018-09-26 10:31] sergaz-msft commented on #15633
Hello @hbraasch and thank you for your feedback!

Please understand that the scenario you describe is not related with this document and the best place to troubleshoot this issue is on the [Csharp IoT SDK](https://github.com/Azure/azure-iot-sdk-csharp) GitHub repository.

Out of curiosity is there a specific reason why you aren't using the Csharp IoT SDK on your solution? [We support .NET MicroFra

[2018-09-26 10:34] sergaz-msft commented on #15411
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 10:34] #15411 closed

[2018-09-26 10:36] plang85 opened #15653 "Security group not assigned in snippet (fine in complete code example)"
In the step-by-step instructions the security group is not added to the NIC. In the complete configuration example it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc-8c20-72e5-b2dddc445f73
* Content: [Use Terraform to create a complete Linu

[2018-09-26 10:41] sergaz-msft commented on #15467
Hello @MarcoStucchi,
Azure IoT SDKs are supported in 5 different languages. The effort is to enable all Service and Device side features on all different languages. Since we depend on many other open sourced SDKs sometimes we can achieve a feature first in one language and then on others. All work is transparent on the SDKs and you can track what is blocking a specific feature by looking at the op

[2018-09-26 10:41] #15467 closed

[2018-09-26 10:45] #15468 closed

[2018-09-26 10:49] Aaron-Yue opened #15654 "How to update the Translator Speech WebSockets API"
Hi,  I use the Translator Speech API(https://docs.microsoft.com/en-us/azure/cognitive-services/translator-speech/reference) till now, I want to update it to use this Speech Service api. This document shows only the end endpoints is different, I want to know is there a list for the WebSockets endpoints or any detailed description for the upgrade?  I only find the https endpoints, thank you very muc

[2018-09-26 10:49] sergaz-msft commented on #15565
Thank you for letting us know the resolution for this @SarithaMaran  :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 10:49] #15565 closed

[2018-09-26 10:51] sergaz-msft commented on #15409
Thank you! We will work on it now.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 10:51] #15409 closed

[2018-09-26 11:09] sergaz-msft commented on #15589
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 11:12] mchudinov commented on #15490
Could you please clarify this sentence.
Make sure that you have access to the certificate .pfx file with the private key that was issued by ADFS.

Is this a token signing certificate for _Relying party (RP) trust_ (B2C)?
The private part of the certificate (and password) is registered on B2C (as Relyng Party) .
The public part of certificate is on ADFS as IdP.
ADFS checks the requests coming from

[2018-09-26 11:18] AshikJayaram opened #15655 "Not able to access Azure maps atlas stylesheet and script resources"
I have faced this issue intermittently. Sometime the Azure map atlas link for stylesheet https://atlas.microsoft.com/sdk/css/atlas.min.css?api-version=1 and the link for script https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1 fails to load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-

[2018-09-26 11:37] mchudinov commented on #15490
It just sounds strange that certificate is "issued by ADFS" but it is registered with private key and password in B2C.

[2018-09-26 11:47] blueelvis opened #15656 "Add details whether "contains" function is case sensitive or not"
From the documentation, it is not clear whether the "contains" function does a case sensitive search or not. Could you please add the clarification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a07d3c0-6235-85e6-40f5-1417c6cb8ed0
* Version Independent ID: 9c9ad7e3-cb9e-0e50-849d-c422a35e40b1
* Content: [Azure Resour

[2018-09-26 11:48] sergaz-msft commented on #15645
Hello @SarithaMaran , can you let us know the document you are referring to?

Thank you!

[2018-09-26 11:50] hbraasch commented on #15633
Hi António

Thanks for the fast and helpful response.

My reason for posting on this forum was I thought the issue was related to a documentation error. That being the Hub complaining my receive link format to be incompatible, and I’ve been using the format prescribed by the document. I will now take the documentation to be correct and look elsewhere.

My reason for not using the Csharp IOT SDK? I

[2018-09-26 12:00] MiladOrderDynamics commented on #15595
Thanks.

[2018-09-26 12:00] #15595 closed

[2018-09-26 12:08] SarithaMaran commented on #15645
Document-> [Deploy Azure functions as IoT Edge modules.](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function)

[2018-09-26 12:11] crshovrd41 commented on #15620
Hey, thanks for the reply. I was attempting on 2008 SP2 per the article.
Above it clearly states this is supported on 2008 SP2, which I don’t
believe is actually the case. Can you please confirm?
On Wed, Sep 26, 2018 at 02:27 Rayne Wiselman <notifications@github.com>
wrote:

--
Sent from your iPhone

[2018-09-26 12:15] PIKESTEL commented on #15480
Hello Alberto,

Thanks for following up. So indeed this doc states that you need to enable service endpoint on each and every subnet where you want access to the service. You cannot use routing/peering to reach a service endpoint in another subnet/VNET.

This contradicts with the SSIS documentation (on the vnet service endpoint part, for MI the documentation is correct):
join your Azure-SSIS IR to

[2018-09-26 12:26] danmyhre opened #15657 "Match Operator"
Please add some details on what is supported with the -Match operator.  Some examples would be great as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules reference

[2018-09-26 12:44] tfitzmac commented on #15588
@singhkays - do you know if the step to register for ManagedResourcesMove feature is working as expected? Several people on this issue thread have reported problems.

[2018-09-26 12:51] andreminelli commented on #14757
Hi, @Karishma-Tiwari-MSFT.

Is there any update about this issue?

[2018-09-26 12:57] rayne-wiselman commented on #15620
@crshovrd41 Hi. It's supported on WS 2008 R2 (Standard, Enterprise, Datacenter) running the latest updates.

The VSS service should be running, and the version of the Mobility service you're installing is 9.19.0.0 onwards.

[2018-09-26 13:02] crshovrd41 commented on #15620
That makes sense why it doesn’t work. However, have you reviewed the
documentation in question? It specifically states Server 2008 SP2 in the
matrix. IMHO, I would recommend editing the documentation so as to not have
to have this conversation again.
On Wed, Sep 26, 2018 at 05:57 Rayne Wiselman <notifications@github.com>
wrote:

--
Sent from your iPhone

[2018-09-26 13:06] rayne-wiselman commented on #15058
@ajaguilar-viewnext . Hi, the instructions in the document seem to be valid. Can you provide some more details about what you found wasn't working/clear? thx Rayne

[2018-09-26 13:07] rayne-wiselman commented on #15620
@crshovrd41 Can you let me know what was missing in your configuration so I can capture it in the article? thx

[2018-09-26 13:10] crshovrd41 commented on #15620
All I’m asking is for someone to please fix the documentation to be
accurate. Cool?

On Wed, Sep 26, 2018 at 06:07 Rayne Wiselman <notifications@github.com>
wrote:

--
Sent from your iPhone

[2018-09-26 13:13] duncansmart opened #15659 "Error in XML in "Configuring fixed-rate sampling in JAVA""
&lt;/BuilrInProcessors&gt; should be &lt;/BuiltInProcessors&gt;

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
* Version Independent ID: ab24ade5-5e4c-b430-c3f8-2a00073e9e81
* Content: [Telemetry sampling in Azure Application Insights](https://docs.microsoft.com/en-gb/azure/applicat

[2018-09-26 13:15] rayne-wiselman commented on #15620
@crshovrd41 Absolutely. I'm trying to figure out what needs fixing in the article. The info in there is accurate, but I'd like to figure out what isn't clear based on your feedback. Thanks!

[2018-09-26 13:19] crshovrd41 commented on #15620
Please review the screen shot I uploaded. The link is in the content section at the top of this issue.

[2018-09-26 13:31] serixscorpio opened #15660 "Add ubuntu 18.04 in Azure Function Core Tools install doc"
Step 3 of documentation: [Work with Azure Functions Core Tools: Linux (Ubuntu/Debian) with APT](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#linux) is missing Ubuntu 18.04  in the list of linux distributions.  See below screenshot:

![image](https://user-images.githubusercontent.com/1740566/46083146-c1653980-c16e-11e8-9d98-cd54d6efa133.png)

---
#### Document Details

[2018-09-26 13:35] tonisc commented on #15588
@tfitzmac - in my case, this step works fine and appairs "Registered"
"ManagedResourcesMove                Microsoft.Compute                  Registered"

[2018-09-26 13:37] Anmolgan81 commented on #15588
@tonisc @tfitzmac In my case I have registered the Resource provider that is "ManagedResourcesMove Microsoft.Compute" I have registered this in both of the subscription, but I still cannot move the managed disks across subscriptions.

[2018-09-26 13:38] rem8 commented on #15588
@singhkays @tfitzmac Guys, feel free to get in touch with me, you can check my sub if needed, even on Skype call.

[2018-09-26 13:41] mwabbe12 opened #15661 "Add the Login with Azure AD button to the Customer Portal"
It would be nice if the Login with Azure AD button was available from all login screens. When you link a customer to the Jira Customer Portal pages, the Azure AD login is not an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-

[2018-09-26 13:51] rayne-wiselman commented on #15620
@crshovrd41 The screenshot info is accurate. Windows Server 2008 SP2 - 32 bit and 64 bit(IA-32 and x86-64) (Standard, Enterprise, Datacenter) supported for migration of VMware VMs to Azure.

- OS should be running the latest updates for it.
- Mobility service version should be 9.19.0.0 or later. Latest version is available in the portal, or latest update is here - https://support.microsoft.com/en-

[2018-09-26 13:52] roalexan opened #15662 "Using /adftutorial/mynotebook for Notebook Path didn't work"
I originally followed the instructions and used /adftutorial/mynotebook as my Notebook Path. I subsequently got this error when triggering a pipeline run:

Activity Notebook1 failed: Databricks execution failed with error message: Notebook not found: /adftutorial/mynotebook. Run page url: https://eastus.azuredatabricks.net/?o=4085708984321833#job/1/run/1.

I managed to get it to work by instead us

[2018-09-26 13:54] crshovrd41 commented on #15620
@rayne-wiselman Fantastic! I will try with the newest installer again and let you know. Thank you!

[2018-09-26 13:56] rayne-wiselman commented on #15620
@crshovrd41 Yes, let me know. In the meantime I'll sharpen up the text in that article so that the prereqs are a bit clearer.

[2018-09-26 14:00] ajaguilar-viewnext commented on #15058
@rayne-wiselman . Hi, as I said in my last sencence, the actual issue is not documentation but scripts. I just used this way in order to warn about it and to request some help or an indication of what is the next step to get help and resolve this issue.
Thanks.

[2018-09-26 14:06] rayne-wiselman commented on #15058
@ajaguilar-viewnext. Thanks. There's some scripting information here - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-mobility-install-configuration-mgr#deploy-on-linux-machines. Does this help? thx

[2018-09-26 14:06] crshovrd41 commented on #15620
@rayne-wiselman This part: "The servers being migrated should have .NET Framework 3.5 Service Pack 1 for the mobility service to work." I just attempted to install it per the update rollup 28 link and it said it required 4.6.2 or higher. I'm still working on the rest of the install.

[2018-09-26 14:07] colinweiner commented on #14678
I just looked and it has not been updated.  Still is missing the -Virt switch.

________________________________
From: Rayne Wiselman <notifications@github.com>
Sent: Wednesday, September 26, 2018 2:34:54 AM
To: MicrosoftDocs/azure-docs
Cc: Colin Weiner; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Missing the -Virtualization switch (#14678)

#please-close. Issue fixed

—
You are receiving this

[2018-09-26 14:11] sergaz-msft commented on #15645
Hello @SarithaMaran ,
Please see the [following samples](https://github.com/Azure/azure-functions-iothub-extension) to use Direct Method on an Azure Function and let us know if it helped?

Thanks.

[2018-09-26 14:13] rayne-wiselman commented on #15620
Instructions for installing the Mobility service manually are here - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-install-mobility-service#install-mobility-service-manually-by-using-the-gui.

[2018-09-26 14:15] prafullkotecha commented on #15411
@dominicbetts - This is exactly where I am now. Will try this work-around. I got to that point after:
1. deleted my forked repo, and local clone of the same.
2. re-forked the repo, and cloned the forked repo
3. changed docker-compose.yml as suggested
4. copied .env file from `scripts/local` to `services/scripts/local`
5. Created azure resources manually
6. updated environment variables manually in

[2018-09-26 14:19] crshovrd41 commented on #15620
@rayne-wiselman Are you saying I'm doing something wrong by getting prompted to install .NET 4.6.2 when the article clearly states 3.5 SP1? I'm confused.

[2018-09-26 14:23] rayne-wiselman commented on #15620
@crshovrd41 No, just providing an alternative option. Re the .NET version requirement I'm checking with the team now

[2018-09-26 14:35] ajaguilar-viewnext commented on #15058
@rayne-wiselman . I did not have any problem with scripts installation but when I run then. I had to fix some bugs (as I point out in my request) in order to get them work but that was not enough to complete the process.
Can you push this issue to mobility service team (mainly Linux staff)? Or Is there any way to contact them?

[2018-09-26 14:40] mathcantin opened #15663 "Bad IOPS for P30 disk"
I see P30: 500 IOPS but we need to read P30: 5000 IOPS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799662b-8f0f-c4e6-26b5-b2ff24a9242a
* Version Independent ID: 0c93223c-f28b-7ca7-0d10-c19e5fea9197
* Content: [About unmanaged (page blobs) and managed disks storage for Microsoft Azure Windows VMs](https://docs.micr

[2018-09-26 14:45] rayne-wiselman commented on #15058
@ajaguilar-viewnext Sure.

@Rajeswari-Mamilla . Rajeswari, can you help with fixes on the relevant Linux files.

[2018-09-26 14:46] sergaz-msft commented on #15633
Thank you Heinrich!

I am double checking with @nberdy who owns this document to see if there are any known issues that are not yet solved in this documentation?

This is very relevant information - @CIPop can you have a look at it?

Nevertheless, please @hbraasch can you open an issue [here ](https://github.com/Azure/azure-iot-sdk-csharp/issues) and cross reference them?
Thank you so much!

[2018-09-26 14:50] ajaguilar-viewnext commented on #15058
thanks  @rayne-wiselman

[2018-09-26 14:55] sergaz-msft commented on #15571
Hello @kiran007francis . The workaround for this issue is provided here: https://github.com/Azure/azure-iot-sdk-python/issues/205

![image](https://user-images.githubusercontent.com/22173500/46088572-8da50680-c1a4-11e8-8994-f2a44702e035.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the disc

[2018-09-26 14:55] #15571 closed

[2018-09-26 15:01] crshovrd41 commented on #15620
@rayne-wiselman Got it! Thanks! So, I installed .NET 4.6 but it still requires 4.6.2, which apparently is not supported on Server 2008 SP2... Any thoughts?

[2018-09-26 15:02] rayne-wiselman commented on #15620
@crshovrd41 Hhm, at this stage I'll have to wait for response from the engineering team. I'll get back to you as soon as I get that.

[2018-09-26 15:11] msangapu commented on #15648
Hi @amtrived1. The article is being updated today to include a newer Node.js version. Please try updating your application setting for WEBSITE_NODE_DEFAULT_VERSION. The value should be 8.11.1

[2018-09-26 15:17] Mike-Ubezzi-MSFT commented on #15644
@Tkeyy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 15:30] vhorne commented on #15394
@dcbrown16 Thanks! After a repo reorganization, the https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-web-application-firewall-overview article was deprecated and was supposed to be redirected to the https://docs.microsoft.com/en-us/azure/application-gateway/waf-overview article.

That redirection was missed, but is now in place. Thanks for pointing this out!

[2018-09-26 15:31] #14131 closed

[2018-09-26 15:38] Mike-Ubezzi-MSFT commented on #15539
@David-Noble-at-work @rimman This seems to be a popular request. There are currently 756 votes out on the User Voice.

[2018-09-26 15:39] mcurko opened #15664 "Correction"
"Performance" routing method, not "priority" (correct on image, wrong in text).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d374ad11-a051-25a8-4479-f7b906eec081
* Version Independent ID: c48a4d52-016b-9680-5fbe-7661fbd0a74c
* Content: [Tutorial - Route traffic to improve website response using Azure Traffic Manager]

[2018-09-26 15:41] Mike-Ubezzi-MSFT commented on #15552
@David-Noble-at-work Apparently there is a 2.x version of the CosmosDB.Emulator available?

[2018-09-26 15:44] Mike-Ubezzi-MSFT commented on #15654
@Aaron-Yue Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 15:53] jason-j-MSFT commented on #15610
@wsmelton
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 15:57] iainfoulds commented on #15103
If an IP address or disk resource is in a different resource group, the service principal for the AKS cluster needs to have additional permissions granted in order for it to be able to view, create, manage, etc. that resource. For advanced networking, for example, it's fine for the virtual network and subnet that the cluster uses to be in a different resource group, provided the service principal

[2018-09-26 16:03] Adam-Smith-MSFT commented on #15641
@aquibqureshi26 Thank you for the valuable feedback,we are investigating the issue.

[2018-09-26 16:04] Adam-Smith-MSFT commented on #15643
@StephanGee Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 16:05] mmacy commented on #15527
Hello @wy193777 and @timwebster9,

We're currently working on publishing a backlog of reference content. Included in this backlog is the latest REST API reference for ACI and networking. We've just updated the Resource Manager template reference for Azure Container Instances:

[Microsoft.ContainerInstance/containerGroups template reference](https://docs.microsoft.com/azure/templates/microsoft.cont

[2018-09-26 16:06] crshovrd41 commented on #15620
@rayne-wiselman Thanks! Will await a reply!

[2018-09-26 16:07] Karishma-Tiwari-MSFT commented on #15359
@cynthn Before "Reapply the Custom Script Extension to install the updated website" part, we need to remove the old extension to make it work. That step needs to be added in the doc.
If the old extension is not removed, we get the same error which the customer is seeing.

[2018-09-26 16:07] ejschaefer commented on #15588
@rem8 @tonisc @Anmolgan81 - did you run this after registering the feature?

`Register-AzureRmResourceProvider -ProviderNamespace Microsoft.Compute`

[2018-09-26 16:08] #15459 closed

[2018-09-26 16:11] snehithm commented on #15020
@FredFaust This is yet another bug which we hope to get fixed. For now docs will stay as they are and when the issue is fixed, we will update the docs.

[2018-09-26 16:14] cephalin commented on #15648
Also, other people have had issues because the zip file is improperly formatted. Make sure you follow the instructions to zip the files directly IN the root folder, not the root folder itself.

[2018-09-26 16:14] Karishma-Tiwari-MSFT commented on #14757
@anirudhcavale @femsulu Can either of you please share an update with the customer?

[2018-09-26 16:14] reliason commented on #14660
Created:  https://feedback.azure.com/forums/217321-sql-database/suggestions/35531710-be-able-to-set-applicationintent-in-external-data

From: Mike Ubezzi <notifications@github.com>
Sent: Wednesday, September 26, 2018 10:34 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Randy Eliason <Randy.Eliason@INEIGHT.COM>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2018-09-26 16:15] cliffkoh commented on #15607
Hi @BryanTrach-MSFT, I feel this is really relevant in the topic of "customizing auth". How to customize scopes is probably relevant regardless of auth provider. If it isn't possible, it would be good that it is documented.

[2018-09-26 16:18] Lumute commented on #11945
So, Microsoft was useless here in providing the requested info or updating the documentation... Thank you!

That said, I did find the information and can be found here:
https://docs.microsoft.com/en-ca/azure/virtual-machines/windows/reserved-vm-instance-size-flexibility

[2018-09-26 16:29] Karishma-Tiwari-MSFT commented on #15600
@Marisella Any update?

[2018-09-26 16:35] SaurabhSharma-MSFT commented on #15651
@danielcecil Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 16:36] nsoneji commented on #14014
@dmacpherson2 We have updated the Report generation prerequisites.  Also, If you have profiled VMs from any other machine, you can use remote path in report generation as mentioned in Example 2 of Generate Report section.
#please-close. Issue fixed

[2018-09-26 16:37] cynthn commented on #15359
@Karishma-Tiwari-MSFT Ah, I see that now. Weird. I'm going to talk to the extensions guy and see if there is a way to "update" the extension instead of deleting and replacing.

[2018-09-26 16:37] SaurabhSharma-MSFT commented on #15657
@danmyhre Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 16:38] Karishma-Tiwari-MSFT commented on #15663
@mathcantin Thanks for the feedback. PR has been created by the author for this and change will be visible as soon as the PR merges.
Thanks @roygara

[2018-09-26 16:39] MarileeTurscak-MSFT commented on #15638
@beckot
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 16:40] SaurabhSharma-MSFT commented on #15661
@mwabbe12 Thanks for your feedback. Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-26 16:40] MarileeTurscak-MSFT commented on #15660
@serixscorpio
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 16:41] MarileeTurscak-MSFT commented on #15639
@nnasaki
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 16:42] roygara commented on #15663
@Karishma-Tiwari-MSFT no problem. :)

@mathcantin thanks for catching this! We'll get it fixed asap. By the end of day at the latest though should be much sooner than that.

[2018-09-26 16:42] MarileeTurscak-MSFT commented on #15652
@nblx2k4
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 16:43] paulbatum commented on #15630
@Alberto-Vega-MSFT Apologies, I think I left this comment on the wrong article. You are correct that the GetBytes call in this example is on Encoding. Closing this.

[2018-09-26 16:43] #15630 closed

[2018-09-26 16:43] DavidPrio commented on #5286
Hi @vhorne Do you have any updates on this? Can you please remove me from the Assgnation field? As we believe this is a Source text issue.
CC @Adam-Smith-MSFT @Sara-Nicolini @SunnyDeng

[2018-09-26 16:48] mjcarrabine commented on #15095
2.2.0.3

As explained in the question below, Azure PowerShell is also not showing my disk as encrypted.

https://social.msdn.microsoft.com/Forums/azure/en-US/606176d0-d25c-479e-8642-553fb7700625/azure-disk-encryption-getazurermvmdiskencryptionstatus-returning-incorrect-osvolumeencrypted?forum=AzureDiskEncryption

I have opened an Azure support ticket.

[2018-09-26 16:57] roygara commented on #15663
The fix has been merged, and should go live soon. Accordingly,

#please-close

[2018-09-26 16:59] ChipClark opened #15667 "Run the application?"
I can run the applications locally - but the sender version closes the moment I type anything in.
If I run the sender app as an Azure WebJob I can't get to the console to send messages to the listener.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c88f3a-a529-ee07-76b2-1ccba116877b
* Version Independent ID: 262c56eb

[2018-09-26 17:00] prafullkotecha commented on #15411
@dominicbetts - To which service should these env. variables be added? `PCS_SEED_TEMPLATE=default` and `PCS_SOLUTION_TYPE=remotemonitoring`

[2018-09-26 17:03] dlepow commented on #15559
@mcurko - Please see [this article](https://docs.microsoft.com/en-us/azure/batch-ai/use-azure-storage#access-mounted-filesystem-in-a-job) for explanation of the $AZ_BATCHAI_JOB_MOUNT_ROOT environment variable. Batch AI sets the variable to identify a job-specific location to mount the file system.

The error with the file stream command sounds like an issue with the job configuration, specifically

[2018-09-26 17:04] MicahMcKittrick-MSFT commented on #15627
@CHDAFNI-MSFT not sure I fully understand your ask. Can you elaborate?

[2018-09-26 17:05] Karishma-Tiwari-MSFT commented on #14602
@epnasis @sundaxi @Here-Be-Dragons As shared above, the product team is troubleshooting and working on fix for this **Preview** feature. Also shared above is the workaround shared by the product team, until this is fixed.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 17:05] #14602 closed

[2018-09-26 17:06] #15066 closed

[2018-09-26 17:06] Alberto-Vega-MSFT commented on #15646
@h28669 Thanks for the feedback! What are the schema mappings that you are using? Would you please share that with including types?

[2018-09-26 17:08] emahon opened #15668 "Incremental indexing in on demand runs?"
The documentation here says "when you set up a blob indexer to run on a schedule, it reindexes only the changed blobs, as determined by the blob's LastModified timestamp." When running a blob indexer on demand (specifically via .Net runAsync), does it reindex only the changed blobs, or all of them? Is there another document that has the answer? Thank you!

---
#### Document Details

⚠ *Do not edit

[2018-09-26 17:11] Morgma commented on #14979
Thanks for the update @mike-urnun-msft. I believe I've got this working now. The major difference is I am building a "compiled" c# function app - not quite the same as the csx example given in the docs. I think the scripted function apps are less susceptible to runtime version differences. One point of the docs that could be improved is that the **microsoft/azure-functions-runtime:2.0.0-jessie** r

[2018-09-26 17:11] TravisCragg-MSFT commented on #15611
@SychevIgor Thank you for the feedback and the clarification. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 17:13] tfitzmac commented on #15588
I just want to reiterate the point that @ejschaefer made. The message from the Azure CLI command provides details that are not returned in the PowerShell command. First, register the feature. Second, wait for status to be set to registered. Third, register the provider. I am adding these steps to the article.

[2018-09-26 17:13] seangwright opened #15669 "Can Query Performance Insights be enabled at the Logical Server level?"
I have a logical server with an elastic pool containing many databases. I would like to enable QPI at the logical server level instead of going to each database to enable it.

Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d03a2c0e-6a41-56c3-690f-48ec38b45de6
* Version Independent ID: 049a57b7-9181-e8

[2018-09-26 17:14] #15444 closed

[2018-09-26 17:14] CHDAFNI-MSFT commented on #15627
@MicahMcKittrick-MSFT
The article does not state if **"Step 1: Contact Azure Support to expose updated firmware (microcode) into your Virtual Machines."** is a 1-time action needed for the Subscription, or tenant or VM. If it is not 1-time, how often does it need to be performed i.e. every new VM? every new subscription?

Does this make sense?

[2018-09-26 17:14] #15663 closed

[2018-09-26 17:15] stevestein commented on #7985
@Mike-Ubezzi-MSFT - can we reassign or close this one?

[2018-09-26 17:16] TravisCragg-MSFT commented on #15580
@Hyper200 can you clarify what you consider to be a "Strong" cipher? I might not be able to say what exact ciphers are used, but I should be able to confirm if the cipher is strong or note.

[2018-09-26 17:19] kobulloc-MSFT commented on #15659
@duncansmart Thank you for bringing this to our attention!

[2018-09-26 17:20] BryanTrach-MSFT commented on #15668
@emahon Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 17:27] prafullkotecha commented on #15411
Tried added these variables to "Device-simulation" service and then to "Telemetry"
in docker-compose.yml file. Still get the same error:
<img width="1436" alt="dashboard" src="https://user-images.githubusercontent.com/563146/46097417-d8685380-c18f-11e8-9c0f-c9a9e8610298.png">

[Errors in Chrome Console](https://github.com/MicrosoftDocs/azure-docs/files/2420864/azure-iot-remote-monitoring-localhost

[2018-09-26 17:30] SaurabhSharma-MSFT commented on #15095
@mjcarrabine Can you please provide the Azure Support ticket over here so that I can check on internally on the progress and closure of this issue.

[2018-09-26 17:33] tonisc commented on #15588
@tfitzmac @ejschaefer
I made this "Register-AzureRmResourceProvider -ProviderNamespace Microsoft.Compute"
and I wait some minutes until the command "Get-AzureRmProviderFeature -ListAvailable" returns "ManagedResourcesMove  Microsoft.Compute Registered"
After, I have trien with powershell and from portal to move a VM to another resource group in the same subscription. And it fails.
What I made wron

[2018-09-26 17:35] prafullkotecha opened #15670 "Dashboard doesn't show any devices"
Dashboard doesn't show any devices and Cosmos DB's pcs-storage collection only has two documents: "device-twin-properties.cache" and "solution-settings.theme"

in docker-compose.yml file. Still get the same error:
<img width="1436" alt="dashboard" src="https://user-images.githubusercontent.com/563146/46097417-d8685380-c18f-11e8-9c0f-c9a9e8610298.png">

[Errors in Chrome Console](https://github.com

[2018-09-26 17:35] Anmolgan81 commented on #15588
@tonisc I have registered the resource, it takes about 20mins to register, when I get the status as registered only then I tried to move the managed disks and it does not support move.

[2018-09-26 17:35] Karishma-Tiwari-MSFT commented on #15653
@plang85 Thanks for the feedback. I have created a PR for the update and changes will be visible as soon as the PR is merged. Thanks.

[2018-09-26 17:36] Mike-Ubezzi-MSFT commented on #7985
Assigned to @anumjs to confirm functionality. If this is ready to be closed, please let us know. Thank you!

[2018-09-26 17:36] Karishma-Tiwari-MSFT commented on #15110
@rayie123 Any update?

[2018-09-26 17:36] yashesvi commented on #11945
Hey, we have the doc above and we added content to this page to help more: https://docs.microsoft.com/en-us/azure/billing/billing-save-compute-costs-reservations#discount-applies-to-different-sizes-with-instance-size-flexibility

We will add this to footer of all pages.

+ @cwatson-cat

[2018-09-26 17:37] Karishma-Tiwari-MSFT commented on #15216
@tapialuism Any update? can you please share the information as asked above?

[2018-09-26 17:39] Karishma-Tiwari-MSFT commented on #15282
@akx Apologies for the delay. Are you still seeing this issue or there is an update?
@harijayms Can you please chime in and share your insights on this customer's query.

[2018-09-26 17:39] Karishma-Tiwari-MSFT commented on #15368
@tapialuism Any update on this one?

[2018-09-26 17:40] Alberto-Vega-MSFT commented on #15662
@roalexan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 17:42] roygara commented on #15328
I've gone ahead and updated the script with the appropriate change which was included in this ticket.

Accordingly,

#please-close

[2018-09-26 17:44] wesmc7777 commented on #7982
@Itaylor95 I'm sorry for such a slow response to your question. I don't know if this is still an issue for you or not but, I'm responding to your question on behalf of the author.  As you are aware, this documentation doesn't address bar code devices specifically. However, the code, referenced in this article, [here defines functions that read the raw device values](https://github.com/Azure-Sample

[2018-09-26 17:45] CarlRabeler commented on #13645
#please-close

[2018-09-26 17:47] Karishma-Tiwari-MSFT commented on #15577
@kagarmoe Not sure I fully understand your ask. Can you elaborate?

[2018-09-26 17:47] hajjat opened #15672 "Retaining private IPs on VM reboot"
"If you shut down the VM or role instance from the guest operating system, it retains the IP address it had."
We had a VM with two NICs. We ran an experiment to reboot the VM many times. We noticed that at trial 25, the IP addresses assigned to the NICs got swapped. This contradicts what's written in the article, or could this be a bug we should file a ticket for?

---
#### Document Details

⚠ *Do

[2018-09-26 17:54] rem8 commented on #15588
OK guys - now it is working… well, at least. Thanks @ejschaefer for pointing that two registrations are needed: 1 - feature one, which can take about 30 minutes to finish and 2 - resource provider itself which takes a 1 minute to finish.

Now the another case appeared and I think that this has to be added into docs -

The move resources request contains resources like /subscriptions/------------/r

[2018-09-26 17:54] jlian commented on #7222
I don't think that works. It's better to try to transfer the subscription first https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer

[2018-09-26 17:55] MicahMcKittrick-MSFT commented on #15627
@CHDAFNI-MSFT It would just need to be done once. You can provide the engineer a list of your subscription and they can submit the request to apply this to your subscriptions.

It states

Step 1: Contact Azure Support to expose updated firmware (microcode) into your **Virtual Machines**.

So multiple machines. There is nothing stopping you from requesting multiple subscriptions as well. However in

[2018-09-26 17:57] TravisCragg-MSFT commented on #15642
@jurjenoskam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 17:59] mjcarrabine commented on #15095
118092619096914

[2018-09-26 18:00] wesmc7777 commented on #7982
@ltaylor95 We are retiring this specific Python article at this time since we will be making significant improvements to the Python library to improve the developer experience.

[2018-09-26 18:01] wesmc7777 commented on #7982
#please-close

[2018-09-26 18:02] Karishma-Tiwari-MSFT commented on #15425
@TiloGit Thanks for sharing. Yes you can control the size of the data-disk using templates.
Refer to [Resizing data disks](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk#resizing-data-disks) for information on how to control the data disk size.
and [Using Managed Disks in Azure Resource Manager Templates](https://docs.microsoft.com/en-us/azure/virtual-machines/windo

[2018-09-26 18:03] #15425 closed

[2018-09-26 18:10] wesmc7777 commented on #7558
@sumitkvsl I'm sorry for such a slow response to your question. I don't know if this is still an issue for you or not but, I'm responding to your question on behalf of the author.

When compiling on a Linux machine, make sure you have installed the `uuid-dev` package that contains the referenced header file.  For example, on Ubuntu you can install the package as follows:

`sudo apt-get install uui

[2018-09-26 18:12] foskam commented on #15588
Same here...
registered with
   Register-AzureRmProviderFeature -FeatureName ManagedResourcesMove -ProviderNamespace Microsoft.Compute
waited until it was registered. Than I ran
   Register-AzureRmResourceProvider -ProviderNamespace Microsoft.Compute
And finally tried the move... same error as before:
   This subscription is not registered to use Microsoft.Compute/ManagedResourcesMove feature.

[2018-09-26 18:13] wesmc7777 commented on #7558
@sumitkvsl Since Intel has announced [discontinuing the Edison board](http://qdms.intel.com/dm/i.aspx/C5E58142-4E04-4CBD-A7A6-BF330573055D/PCN115579-00.pdf), we will be retiring this article.

[2018-09-26 18:13] Mike-Ubezzi-MSFT commented on #7982
@ltaylor95 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 18:13] #7982 closed

[2018-09-26 18:13] wesmc7777 commented on #7558
#please-close

[2018-09-26 18:20] kagarmoe commented on #15577
The command doesn't run for me, which I understand is because it comes from
an older Azure technology. What are your recommendations for this flow on
the current Azure technologies?

On Wed, Sep 26, 2018 at 10:47 AM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2018-09-26 18:27] TravisCragg-MSFT commented on #15664
@mcurko Thanks for the feedback! I have made the change, and it should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 18:27] #15664 closed

[2018-09-26 18:29] #15653 closed

[2018-09-26 18:31] mike-urnun-msft commented on #15125
Hey @DonPetry-EY As per your feedback, we'll now proceed to update this documentation to communicate this detail better. This issue will remain in closed state as we have created a work item internally as per Esther's comment above. Thank you again for helping us drive improvements toward MS docs, and we certainly appreciate this contribution. If there are further questions regarding this matter,

[2018-09-26 18:32] CHDAFNI-MSFT commented on #15627
@MicahMcKittrick-MSFT Can the verbiage be updated though to explicitly call out that that the code is exposed at the subscription level then? This would clear up any confusion if the code exposure is only for existing VMs

[2018-09-26 18:33] TravisCragg-MSFT commented on #13911
@dcbrown16 a default NSG will allow internet both inbound and outbound, and that will include these IP Addresses.

[2018-09-26 18:34] ChipClark opened #15673 "Works local, but not remote"
Error. An error occurred while processing your request.

This is after the Deploy the app to Azure step

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-6337-3940a5259101
* Content: [Build an ASP.NET app in Azure with SQL Database](https://

[2018-09-26 18:36] mike-urnun-msft commented on #15635
@johndowns Glad to hear that you found the necessary info. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 18:37] rquintino opened #15674 "wrong link or misplaced section? "You can try Azure Machine Learning for free. No credit card or Azure subscription is required. Get started now.""
you have this on Azure Machine learning service but link is for mlstudio start page?

misplaced section? don't know

"You can try Azure Machine Learning for free. No credit card or Azure subscription is required. Get started now."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91925913-8bb4-a7c9-1b43-a466155cabd9
* Ver

[2018-09-26 18:38] mike-urnun-msft commented on #15647
Hi @u983101 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-26 18:39] wasytb opened #15675 "Wrong Syntax Azure Cli Create Connection String"
On the line "current_env_conn_string = $(az storage account show-connection-string -n &lt;storage-account&gt; -g &lt;resource-group&gt; --query 'connectionString' -o tsv) to assign the connection string to the variable". Do no leave spaces bewteen current_env_conn_string, =, the rest of the line. Bash interprets you want to run a command with = as first parameter and the rest a second, third ....

[2018-09-26 18:45] SaurabhSharma-MSFT commented on #15628
@saimsh Disk Encryption using KEK is documented at [Enable Azure Disk Encryption for Linux IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-linux).

[2018-09-26 18:46] rquintino opened #15676 "Location and format of Run metadata, metrics?"
Not clear and was not able to find yet on the default data store, aside from outputs, where is the run execution info stored? in what format? This is relevant information, that can have many use cases, should be in persistent storage on related azure storage accounts.
(even if the preferred use is through the aml API)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-09-26 18:56] Alberto-Vega-MSFT commented on #15480
@PIKESTEL What you are stating is correct,

*"I believe the documentation should state that you need to deploy your SSIS IR in a subnet on which you enabled vnet service endpoint for SQL Database."*

Thanks again for valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

Cheers,

Alberto Vega

[2018-09-26 19:00] sethmanheim commented on #15611
@SychevIgor Thank you for reporting this, I have removed the version number from the link as it seems unnecessary. OK to #please-close.

[2018-09-26 19:04] danimir commented on #15669
@seangwright Hi there! QPI is now enabled for all databases by default, so there is no manual enabling required any longer.

[2018-09-26 19:11] crshovrd41 opened #15678 "Mac VPN access requires Standard SKU"
I would recommend adding this to the documentation. I'm pretty sure people have been wracking their brain over this for a while now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version Independent ID: 8b627174-56cd-a81e-a687-34ba66d33550
* Content: [Create and install P2S VPN c

[2018-09-26 19:21] TravisCragg-MSFT commented on #15611
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 19:21] #15611 closed

[2018-09-26 19:27] TravisCragg-MSFT commented on #14400
@omnimose We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 19:27] #14400 closed

[2018-09-26 19:27] MicahMcKittrick-MSFT commented on #15627
@CHDAFNI-MSFT The code would be exposed at the VM level. I am just saying that support will have access to see a complete list of all VMs in your subscription. So step 1 can be applied across the board if requested. After that though the user would have to go into each VM and complete the instructions.

[2018-09-26 19:27] BryanTrach-MSFT commented on #15637
@SteveMinar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 19:28] BryanTrach-MSFT commented on #15673
@ChipClark Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 19:30] parabolic123 commented on #15081
Hi SaurabhSharma,
 The issue is that just mentioning that some accounts amongst thousands/tens of thousands accounts could be deprecated is not helpful. What would be ideal is if Microsoft could give meaningful information such as accounts a, b and c have not logged in for X days.

[2018-09-26 19:31] ohwellwhatever opened #15680 "Use network isolation and security section is very weak"
Why such sparse documentation and recommendations here?  Why no emphasis on https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patterns-networking#internalexternallb and mention of leveraging Application Gateway and APIM?  Associated Key Vault VNet integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-09-26 19:31] danimir commented on #15669
@seangwright I understand. I would advise to log in a support ticket through Azure portal asking where do you want this to be turned on.

[2018-09-26 19:31] MiladOrderDynamics opened #15681 "Custom pin icon"
Is it possible to use a custom icon for pins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a5842eb-0d03-05bf-db8e-23ee198e8e71
* Version Independent ID: bd76b816-c155-2b88-1271-b47f69690352
* Content: [Add a pin with Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-pin)
* Content Source: [articl

[2018-09-26 19:33] ohwellwhatever commented on #15680
Specifically, Application Gateway Web Application Firewall Sku.

[2018-09-26 19:33] SaurabhSharma-MSFT commented on #15623
@markaldridge Ok got it.  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@Sara-Nicolini Can you please help here.

[2018-09-26 19:33] SaurabhSharma-MSFT commented on #15441
@massiveloop We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 19:33] #15441 closed

[2018-09-26 19:34] seangwright commented on #15669
Will do. Thanks!

[2018-09-26 19:34] #15669 closed

[2018-09-26 19:35] Alberto-Vega-MSFT commented on #15491
@Anded I have assigned the issue to the content author to evaluate and update as appropriate. Thanks again!

[2018-09-26 19:38] jingjing-z commented on #15681
@MiladOrderDynamics See documentation at https://docs.microsoft.com/en-us/azure/azure-maps/map-add-custom-html. We have a new version of map control that makes adding a custom icon easier. + @rbrundritt to comment

[2018-09-26 19:44] MiladOrderDynamics commented on #15681
Thanks.

[2018-09-26 19:44] #15681 closed

[2018-09-26 19:50] rem8 commented on #15588
Moving resources failed
There was an error moving resources. Unknown error occurred.

DAMN, I was so close :D

[2018-09-26 19:52] chlowell opened #15683 "Needs updates for Functions v2"
For example, the `host.json` snippet is for v1 but doesn't point that out or provide an equivalent for v2 (e.g. `logger` vs `logging` section).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b63f570-c630-f14f-34f0-85abe7b94e25
* Version Independent ID: f7960ceb-cbc9-6b08-dd4a-5a698b476471
* Content: [Diagnostics in Du

[2018-09-26 19:54] SaurabhSharma-MSFT commented on #15612
@mrik23 I do not think it is currently possible to partially roll it out. Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-26 19:54] MicahMcKittrick-MSFT commented on #15627
@CHDAFNI-MSFT thanks for chatting with me offline.

The question/ conerns in this doc we are looking to address are:

1) Does the user need to follow steps 1-4 for each VM they create? For example, if a user follows these steps in their environments and then at a later date adds another VM, does the process of engaging support need to be done each time?  Assuming the user wants enable additional s

[2018-09-26 19:56] chetanku commented on #14627
Hello, a quick question,
 https://docs.microsoft.com/en-us/azure/aks/aad-integration
I am following the above article to set up aks in my subscription.  I am trying to wrap my head around the value we provide for --service-principal. Do I need to provide  --aad-server-app-id as --service-principal and --aad-server-app-secret as --client-secret or the --aad-client-app-id?

In this article https://d

[2018-09-26 19:57] TravisCragg-MSFT commented on #15649
@cenkersoy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.[ You can find the correct link Here](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-solution-pipeline).

@mattbriggs I would make this change myself, but there are other pending changes to the doc.

[2018-09-26 20:05] tfitzmac commented on #15588
@tonisc @Anmolgan81 @foskam @rem8 - are you moving to a new resource group or subscription? The registration operations are subscription specific. I haven't tested this myself yet, but I am wondering if you need to run the commands in both subscriptions if you are moving to a new subscription.

[2018-09-26 20:07] Anmolgan81 commented on #15588
@tfitzmac I have registered the resources in both the subscription but still I cannot move the Managed disk VM's across subscriptions.

[2018-09-26 20:12] marki555 commented on #7222
That doesn't work (automatically) because the receiving account has already the Azure benefit taken. Creating a ticket for it with Azure support, they ask for activating Free Trial, otherwise they can't "see" the account... (our company domain name has changed and now we all need to migrate our Azure subscriptions)

[2018-09-26 20:13] sasanmcp opened #15685 "how about transfer between Commercial/Government?"
how would the system react in each of these scenarios?
1.source subscription in Commercial Azure, source Azure AD in Commercial, target Azure AD in Commercial
2.subscription in Commercial, source AAD in Commercial, target AAD in Government
3.subscription in Government, source AAD in Government, target AAD in Government
4.subscription in Government, source AAD in Government, target AAD in Commercia

[2018-09-26 20:35] CODevOp opened #15686 "documentation does not work as explained"
Documentation seems to indicate the following parameters are not required and can be blank but each requires a value if it is passed into powershell.

would it be more clear to use defaults

$AzureSSISEdition = "Standard"
$AzureSSISLicenseType = "LicenseIncluded"

for "$SetupScriptContainerSasUri" inlcude a link to URL to help set this. https://social.msdn.microsoft.com/Forums/en-US/3f20f72a-7ff6-

[2018-09-26 20:36] SaurabhSharma-MSFT commented on #15081
@parabolic123 I got your point.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-26 20:42] iainfoulds commented on #14627
Hi, @chetanku. There's a couple of different things here, which is why there's a difference.

The Azure AD doc isn't a service principal for the cluster, it's for allowing the cluster the use Azure AD to authenticating users and groups to resources within the cluster. The parameters specified there (`--aad-server-app-id`, `--aad-server-app-secret`, `--aad-client-app-id`, and `--aad-tenant-id`) are

[2018-09-26 20:45] jlian commented on #7222
Yes, in this case our support team would have the better tools to help you

[2018-09-26 20:49] anthonylax opened #15687 "ADFS integration w/ "work/personal account" picker"
When ADFS is enabled, if a user has a work and personal account with the same email address, and clicks on "Work account", the user will get a notification to select a number on their phone, but will also get immediately redirected to ADFS.

When I changed my personal account alias to something else so that there is no "work"/"personal" picker, it works flawlessly.

---
#### Document Details

⚠ *D

[2018-09-26 20:51] Adam-Smith-MSFT commented on #15675
@wasytb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 20:53] Mike-Ubezzi-MSFT commented on #15674
@rquintino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 20:54] Mike-Ubezzi-MSFT commented on #15674
In looking at the document, is this section supposed to go under ML Studio or ML service?

![screenshot 359](https://user-images.githubusercontent.com/37126106/46108763-a6f18700-c193-11e8-889a-6a00b3198ed5.png)

[2018-09-26 20:54] rem8 commented on #15588
@tfitzmac - I'm moving it only between resource groups as for now. It seems to work after I removed all backups from them (which is a bit poor that we cannot then comply with backup policies). I cannot check movement between subs yet :)

@Anmolgan81 - i'm wondering how long have you waited for the movement operations from the time both registry Operations in both subscriptions have shown Registere

[2018-09-26 20:55] TravisCragg-MSFT commented on #15678
@crshovrd41 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 20:55] Mike-Ubezzi-MSFT commented on #15676
@rquintino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-26 20:59] TravisCragg-MSFT commented on #15672
@hajjat As long as your VM was never stopped from the Azure Portal, it should keep the DIP. If you are concerned about this functionality, you can open a Support Request to troubleshoot further.

if you are doing this test because you need VMs to be on a specific DIP, you can set the IP on your NICs to static, and they will stay on a particular address even when stopped.

[2018-09-26 21:00] Anmolgan81 opened #15689 "How can we automate the sql database to azurr sql database migrations"
I have about 200 databases that I need to migrate how can I go about automating this so that, I haven't going to log in to the on prem vm  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088ad5a0-569b-e8ea-7cce-83757c37c427
* Version Independent ID: 52097b3c-58cc-a3e3-9511-e8f9d88b2f69
* Content: [Migrate SQL Server D

[2018-09-26 21:00] femsulu commented on #15640
@thuansoldier, thanks for the comment. Your question has been shared with the content owner for further review.

[2018-09-26 21:00] TravisCragg-MSFT commented on #15404
@MetehanBolat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 21:00] #15404 closed

[2018-09-26 21:01] MarileeTurscak-MSFT commented on #15651
There seems to be an ActiveDS Com library that can be used for this. Please check this thread and see if it helps: https://stackoverflow.com/questions/3764327/active-directory-user-password-expiration-date-net-ou-group-policy

[2018-09-26 21:01] MohitGargMSFT commented on #15438
@DeanGross Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-09-26 21:01] #15438 closed

[2018-09-26 21:02] JonBoice opened #15690 "Possible correction to Twitter-specific Callback URL"
Customer had attempted to use the above article and Callback URL of https://your-tenant.b2clogin.com/your-tenant.onmicrosoft.com/your-policy-Id/oauth1/authresp, but found that they needed to add '/te/' to the URL to get it to work.  Ex: https://your-tenant.b2clogin.com/te/your-tenant.onmicrosoft.com/your-policy-Id/oauth1/authresp. That missing /te/ was holding everything up, from what they're repo

[2018-09-26 21:02] MohitGargMSFT commented on #15474
@agrabhi We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-09-26 21:02] #15474 closed

[2018-09-26 21:08] akx commented on #15288
As you wish, I suppose.

I still think that the parameter should be documented within the context of the API endpoint, considering the article I raised this issue against in the first place teaches the reader how to access the endpoint using `curl` or `Invoke-WebRequest` or other low-level means, and _not_ using any of the various client libraries.

[2018-09-26 21:15] Anmolgan81 commented on #15588
@rem8 I just registered the resource and as soon as I got status as Registered, I test the move, are you saying it takes hours to complete?
If yes then can I know how many hours?

[2018-09-26 21:15] femsulu commented on #15656
@blueelvis thanks for the comment. Your feedback has been shared with the content owner for further review.

[2018-09-26 21:18] axisc commented on #14138
Thanks for pointing out the discrepancy. We'll work to clarify the documentation.

To answer your question -
Sessions are created/managed by setting the SessionId. For more information refer [this](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions) article

The confusion was probably because of the [Partitions Queues and Topics](https://docs.microsoft.com/en-us/azure/se

[2018-09-26 21:24] MarkAtAgilliance opened #15691 "Configure logging in host.json differes from the Reference section"
In this doc (https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#configure-logging-in-hostjson), the section *Configure logging in host.json* states the host.json logging section is called "logger".  In the *Reference / Bindings / host.json* section of this doc, it is called "logger" in v1 and "logging" in V2.  Maybe if this is correct,  make it clear this current doc confi

[2018-09-26 21:28] rem8 commented on #15588
@Anmolgan81 Don't have an idea but I registered the second option and it took me about 10 minutes. Are you able to move between RG's in same sub?

[2018-09-26 21:37] axisc commented on #12584
@spelluru  - could you reference Binzy's answer on the referenced MS Forum to make changes to the article?

[2018-09-26 21:40] BryanTrach-MSFT commented on #15241
@dcbrown16 Yes, you can use an App Service Certificate with an external ASE on the isolated tier.

The only exception is an ILB ASE requires an ILB cert, which is typically best if the user creates a self-assigned cert for that and then they can use App Service Certs to secure any apps that are running on the ILB ASE.

We will now proceed to close this thread. If there are further questions regard

[2018-09-26 21:40] #15241 closed

[2018-09-26 21:41] BryanTrach-MSFT commented on #15492
@timhodgson Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-09-26 21:41] #15492 closed

[2018-09-26 21:43] mikemcghee23 commented on #15624
Thanks!

[2018-09-26 21:43] #15624 closed

[2018-09-26 21:45] jgdolph opened #15692 "Examples Examples Examples"
Contoso and Fabrikam have been around forever so maybe use them in examples here.  The Advanced discussion on this page actually confuses what is said in the above section.  Using consumer address(johndoe@fabrikam.com) and  and conglomerate organization(janedoe@contoso.com) would be better examples of how this might work.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-09-26 21:47] piotrp04 opened #15693 "Password Hash Sync is automatically enabled"
I followed this procedure using AADC 1.1.880.0 version and looks like this process still suffers from a similar bug described here: https://support.microsoft.com/en-gb/help/4051623/password-hash-synchronization-automatically-enabled-in-azure-ad-connec
Password Hash Synchronization was disabled in the tenant and so was both Password Synchronization and Pass-through Authentication. After this proces

[2018-09-26 21:54] anumjs commented on #7985
The relevant change is made in the doc. The PR just merged so this issue is ready to be closed.Thanks!

[2018-09-26 21:57] Mike-Ubezzi-MSFT commented on #15689
@Anmolgan81 Thanks for your interest in Azure products and services. We are actively investigating and will get back to you soon. Thank you, ~Mike

[2018-09-26 21:59] BryanTrach-MSFT commented on #14497
@jmhmaine @csuttman @jerbro @dbuonomo @silverbackbg We have investigated the emails that customers have received and have determined an error with the tool we used to collect which customers would be impacted.

These emails are targeted and meant to only be sent to those who need to take action to avoid a disruption of service. In this example, the tool included all customers whom are using IP bas

[2018-09-26 21:59] Mike-Ubezzi-MSFT commented on #15323
@nageshajab We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 21:59] #15323 closed

[2018-09-26 22:00] Mike-Ubezzi-MSFT commented on #7985
@simonnuss We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 22:00] #7985 closed

[2018-09-26 22:05] axisc commented on #12296
@tony-gutierrez That is correct given that premium isolates dedicated resources for the specific namespace. We'll work to clarify the documentation.

Have you also looked at Availability Zones (currently in preview - will GA soon)? This provides fault isolation within the same region. No additional Messaging units are needed for this.

[2018-09-26 22:05] Mike-Ubezzi-MSFT commented on #15689
@Anmolgan81 I will continue to look at all the options that are available but it appears that there is a PowerShell library to automate a bulk migration task.

[Automating the end-to-end migration of SQL Server to Azure SQL Database using the Azure Database Migration PowerShell module](https://blogs.msdn.microsoft.com/datamigration/2018/02/08/automating-the-end-to-end-migration-of-sql-server-to-az