[2020-11-06 16:57] dxk3355 opened #65673 "What's a hive package"
I would like to do this but what is a Hive Package?  Just putting this into a databrick doesn't work obviously and google doesn't have any clear explanations of what you're talking about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1af3ecf-89fb-d22b-2394-74c1fd856a5c
* Version Independent ID: bb88cb91-c815-b2b0-d7c

[2020-11-06 17:09] roygara commented on #65568
Hello @manurm1 , are you support for Microsoft? If so, would you reach out to me internally?

[2020-11-06 17:10] BharathNimmala-MSFT commented on #65640
@padmajauk Thank you for reaching out to us regarding the issue , we will look into it and get back to you at the earliest.

[2020-11-06 17:12] JamesTran-MSFT commented on #65651
@robertpiska
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 17:13] roygara commented on #64497
@CodeAsAnInfrastructureGuy Sorry for the delay, I was going back and forth with the product team. Ultimately we've decided not to add anything, since this is an AES restriction. Still, we thank you for bringing this to our attention, and always appreciate feedback. :)

#please-close

[2020-11-06 17:13] #64497 closed

[2020-11-06 17:17] JamesTran-MSFT commented on #65659
@mattallscripts
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 17:20] #65610 closed

[2020-11-06 17:21] tfitzmac commented on #65665
@ajgball - I appreciate the feedback. I verified you are right about Private Endpoints. I am updating the article now and it should get published later today.

[2020-11-06 17:24] elvirk opened #65674 "Storage used"
[Hi, I create query that reports on number of Storage Accounts in each location (across my 40 subscriptions) but I want to know if there is a way to show how much storage is being used? There are close to 700 storage accounts in our 40 subscriptions but I want to know how much of space is being used. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-11-06 17:24] avpdm commented on #65556
@souravmishra-msft Thanks for your response. I can understand the apps added at tenant level. But is there any way that we can block the add-in(public apps) permanently for all the users. I see an option to disable add-ins icon itself for all the users but that that will not help as I would like to keep add-ins icon to users to install the add-ins for their regular usage but if there is any securi

[2020-11-06 17:26] tfitzmac commented on #65665
#please-close

[2020-11-06 17:26] #65665 closed

[2020-11-06 17:29] jboeshart commented on #65559
@abatishchev can you please elaborate on the mutually exclusive properties? As I've looked through this, I don't believe that there are any inaccuracies in the examples for both unmanaged and managed disks. All the properties look to be supported in the current API's. It appears your issue is related to using images in VMSS, both of which aren't really in scope for this document.

I've deployed [t

[2020-11-06 17:30] mimckitt commented on #65656
#assign: @mimckitt

@jyeblog you can always check the Azure updates site or blogs to see if we post an announcement

https://azure.microsoft.com/en-us/updates/.

That said, we are looking to support managed storage accounts for serial console in the second quarter of 2021. So it is in the works :)

#please-close

[2020-11-06 17:31] #65656 closed

[2020-11-06 17:40] alexkarcher-msft commented on #64762
Cool! How have you configured the connection on the function app? The fact that it's not triggering at all means something is messed up between your event hub and your function app.  [This step in the docs](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-integrate-time-series-insights#set-the-twins-event-hub-connection-string)

If you restart your function app, that's normally when all

[2020-11-06 17:47] JBurdGitsIT opened #65675 "Incomplete Instrucitons"
Under the heading "Add or change your phone number," there are only steps for changing phone numbers. I'm reasonably confident most users would figure out how to add a number; nonetheless, there are no instructions
on the page for adding a phone number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d93c5-5135-b9e9-

[2020-11-06 17:50] JamesTran-MSFT commented on #65675
@JBurdGitsIT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 17:51] shortpatti commented on #65618
#please-close

The content has been updated and is in the publishing queue.  As for the second question, unfortunately we are unable to automatically pull from the production build.

[2020-11-06 17:51] #65618 closed

[2020-11-06 17:52] qinxgit opened #65676 "This Managed HSM page doesn't mention that user should create the container before the backup takes place"
This Managed HSM page doesn't mention that user should create the container before the SAS token was generated.

I didn't create the container, and in the end got an error mesage:

Operation returned an invalid status 'OK'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bbf59f5-4b33-6940-efd6-68bd48603355
* Version Ind

[2020-11-06 18:03] amitbapat commented on #65676
Thanks for reporting this issue. Will fix.

[2020-11-06 18:12] blummichellec opened #65678 "Clarity in Azure DNS Private Zones Section"
[Enter feedback here]
For the Azure DNS Private Zones section of this document, the scope of this integration is not clear.
I would recommend saying something similar to the following as an alternative:

"
After your app integrates with your VNet, it uses the same DNS server that your VNet is configured with. By default, your app won't work with Azure DNS Private Zones. To work with Azure DNS Priv

[2020-11-06 18:13] JamesTran-MSFT commented on #65676
@qinxgit
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-06 18:13] shortpatti commented on #65405
#please-close

The content has been updated.

[2020-11-06 18:19] BryanTrach-MSFT commented on #65652
@jopowel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-06 18:30] DCtheGeek commented on #65674
#assign:DCtheGeek

[2020-11-06 18:34] souravmishra-msft commented on #65556
Hello @avpdm, can you please share a screenshot of the option that you are referring to so that I can take a look at that in the portal and update you accordingly.

[2020-11-06 18:36] ChaitanyaNaykodi-MSFT commented on #65636
Hello @mcrobbj, Thank you for your feedback! We will review and update as appropriate.

[2020-11-06 18:38] DCtheGeek commented on #65674
@elvirk Thanks for the question! Sample Dashboard 1 (found [here](https://docs.microsoft.com/azure/governance/resource-graph/first-query-portal#import-example-resource-graph-explorer-dashboards)) includes a query that shows "Sum of all disk sizes (GB)" that looks like this when placed on a dashboard:

![image](https://user-images.githubusercontent.com/11442954/98402015-6d9acf00-201b-11eb-9436-d52e

[2020-11-06 18:38] #65674 closed

[2020-11-06 18:39] SadiqhAhmed-MSFT commented on #65664
@Absoblogginlutely Thanks for the comment. We will check on this and get back to you soon.

[2020-11-06 18:39] #65586 closed

[2020-11-06 18:40] #65587 closed

[2020-11-06 18:42] ChaitanyaNaykodi-MSFT commented on #65646
Hello @creyke, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-06 18:42] JimacoMS3 commented on #44709
@algorni Thanks for the catch. I've already added this to an existing PR. It should publish after 3 pm today. There are other changes to the connectivity doc in this PR as well.

[2020-11-06 18:43] SadiqhAhmed-MSFT commented on #65431
@SeaGT That's an unexpected behavior. Please reach out to Azure billing team by raising a support request for further investigation into this issue.

[2020-11-06 18:45] #65503 closed

[2020-11-06 18:46] JamesTran-MSFT commented on #65622
@DerekHerman-MSFT
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-11-06 18:47] KrishnaG-MSFT commented on #65665
@tfitzmac Thanks for the super quick response.

[2020-11-06 18:49] KrishnaG-MSFT commented on #65642
@M0ns1gn0r Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-06 18:59] YutongTie-MSFT commented on #65644
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-06 18:59] YutongTie-MSFT commented on #65653
Thanks for the feedback! We are currently investigating and will update you shortly.

@aahill FYI

[2020-11-06 19:05] SeaGT commented on #65431
Come on – I don’t have time for this.  You reach out to Azure billing and tell them the web page is not working as designed…… Trying to do you guys a favor… 

OK to close this issue.  Cheers

Greg                                      

gregt@preceptwine.com   

Desk: 206.576.6012 | IT Support: 206.576.6013 

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Friday, November 6, 2020 10:44 AM

[2020-11-06 19:16] himanshusinha-msft commented on #65655
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-11-06 19:17] SadiqhAhmed-MSFT commented on #65431
@SeaGT I will pass on this feedback to the concerned team.

Thanks once again!

[2020-11-06 19:18] himanshusinha-msft commented on #65661
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-11-06 19:20] farchide opened #65680 "Add-AzAccount update"
`Add-AzAccount` command does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdbb009-ef13-5e6c-d206-6d86418cd270
* Version Independent ID: 8684030a-20a7-33ba-9b94-2acf37d613c6
* Content: [Connect cross-tenant VNets to a hub:PowerShell - Azure Virtual WAN](https://docs.microsoft.com/en-us/azure/virtual-wan/cros

[2020-11-06 19:20] himanshusinha-msft commented on #65673
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-11-06 19:20] nirnaybansal commented on #54283
This issue is back
Get-AzSqlDatabaseImportExportStatus : BadRequest: The ImportExport operation with Request Id 'f64a4e24-b464-4989-b999-00156136b311' failed due to 'One or more unsupported elements were found in the schema used as
part of a data package.
Error SQL71501: Error validating element [dbo].[uspSaveProgramEngineeringConfig]: Procedure: [dbo].[uspSaveProgramEngineeringConfig] has an unre

[2020-11-06 19:21] nirnaybansal commented on #54283
Get-AzSqlDatabaseImportExportStatus : BadRequest: The ImportExport operation with Request Id '******99-00156136b311' failed due to 'One or more unsupported elements were found in the schema used as
part of a data package.
Error SQL71501: Error validating element [dbo].[********]: Procedure: [dbo].[********] has an unresolved reference to object [dbo].[sp_set_session_context].
'.
At line:30 char:21

[2020-11-06 19:25] Brondahl commented on #45546
@MartinJaffer-MSFT , the rule appears to be even more subtle....

I think the pipeline will fail if:

* EITHER an activity with no down-stream activities fails.
* OR if an activity is skipped, _solely and directly_ caused by a failure in an immediately upstream activity.

I believe your last screenshot would behave identically (incl. overall success state) if the 'onCompletion' dependency is chang

[2020-11-06 19:26] SaurabhSharma-MSFT commented on #65222
@rajatbagchi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-06 19:26] #65222 closed

[2020-11-06 19:46] SteveMinar opened #65681 "Incorrect Link"
It appears that the hyperlink in the following text is incorrectly pointing to the source page, not the destination page:
"Note: This setting does not prevent access to joined groups in some Microsoft 365 services like Microsoft Teams. See Microsoft Teams Guest access to learn more."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-11-06 19:48] avpdm commented on #65556
Hi @souravmishra-msft , For ex: User1 installed "Grammarly for Microsoft Word‎" add-in and completed User Consent and started using. Now as an Admin, I would like to block this add-in, how can I block?
Please find attached screenshot from Admin portal where I can see the app installed by the user.
<img width="1906" alt="Screen Shot 2020-11-06 at 11 36 04 AM" src="https://user-images.githubusercont

[2020-11-06 19:48] WinstonHoward-MSFT commented on #65662
Thanks for the issue, I've assigned it to the author to take a look at the command.

[2020-11-06 19:52] vermagit commented on #65662
@jhollowe Thanks for catching the 'y'. I've now corrected it and it should go live soon.

[2020-11-06 20:14] delbert opened #65682 "replace get_installed_distributions code with pkg_resources.working_set"
to enumerate installed packages, it looks like this is now the recommended code:

import pkg_resources
for d in pkg_resources.working_set:
    print( d )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6062879d-b323-e01a-bfc0-b31124e74ea8
* Version Independent ID: ba40190c-159c-b29f-4697-77b6275f8cfb
* Content: [Manage

[2020-11-06 20:25] NovotnyMarek opened #65683 "The example doesn"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cceddcd-1431-ab61-df75-7ccf74a84fba
* Version Independent ID: d5833a30-c43e-8048-63b3-d94d26410a3b
* Content: [Quickstart: Sign in users and call Microsoft Graph in a Universal Windows Platform app - Microsoft identity platform](https://docs.microsof

[2020-11-06 20:47] NovotnyMarek opened #65685 "Sample code fails while trying to run it - missing resource file - Microsoft.Extensions.DependencyInjection.Abstractions.Resources.resw"
Sample code fails while trying to run it.

Throws an exception:

Framework resource extraction failed. Could not find a part of the path '....\Microsoft.Extensions.DependencyInjection.Abstractions\en-US\Microsoft.Extensions.DependencyInjection.Abstractions.Resources.resw'

Does anyone else encounter same problem? And where should i get this missing resource file?

---
#### Document Details

⚠ *Do

[2020-11-06 20:57] SaurabhSharma-MSFT commented on #65540
@cameronlarue The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-11-06 20:57] #65540 closed

[2020-11-06 21:28] DeanGross commented on #65658
Thanks for the detailed response. I will be sure to send you some suggestions

[2020-11-06 21:32] josuvil opened #65686 "why not all auto-upgrade customers get the latest builds"
When new AAD Connect builds are released, the expectation for auto-upgrade customers is that they are automatically upgraded or always get the latest build. However, not all builds are auto-upgraded according to the build history page. I would like to suggest to include a statement to further explain why some builds get auto-upgraded whereas other builds do not. Thank you.

[Enter feedback here]

[2020-11-06 21:35] MicrosoftGuyJFlo commented on #65455
@mmcla Thoughts on required role to upload hardware tokens?

[2020-11-06 21:37] MicrosoftGuyJFlo commented on #65597
Name your policies however your organization has created standards. These are just screenshots for reference. #please-close

[2020-11-06 21:37] #65597 closed

[2020-11-06 21:43] MicrosoftGuyJFlo commented on #64716
Feel free to provide this product feedback using the "This product" link at the bottom of the document. Screenshots are still current as presented. Doc is accurate as written. #please-close

[2020-11-06 21:43] #64716 closed

[2020-11-06 21:45] MicrosoftGuyJFlo commented on #65072
@mmcla Thoughts on required URLs for NPS extension?

[2020-11-06 21:45] cfjedimaster opened #65687 "Yaml file broken with modifications"
I followed the directions to modify the yaml file, and after committing, the GitHub Action is reporting:

![image](https://user-images.githubusercontent.com/393660/98417724-16aaef00-2047-11eb-8122-d3b345e02ab0.png)

Here is my file: https://github.com/cfjedimaster/test-azure-jekyll/blob/main/.github/workflows/azure-static-web-apps-mango-tree-0fc1a5510.yml

---
#### Document Details

⚠ *Do not edit

[2020-11-06 21:47] chuckthompsonprofisee opened #65688 "Vaults only show up if in the same region and subscription"
The list of vaults is only from the current region and subscription that you are in and not from anywhere.
How do I get it to list all the vaults I can see similar to the Microsoft.Solutions.ResourceSelector does via

"options": {
                        "filter": {
                            "subscription": "All",
                            "location": "All"
                        }

[2020-11-06 21:57] JimacoMS3 commented on #45415
#reassign @robinsh

[2020-11-06 21:59] ChangeTheCode commented on #44709
@JimacoMS3 Thank you this documentation will help the guys with this issues to know what is the reason.

But like @algorni  mention we should link this to the iot section so the guys are able to find those information.

[2020-11-06 22:11] dgordonb opened #65689 "Outlook Customer Manager has been deprecated. Please remove the reference to it."
Outlook Customer Manager has been deprecated.  Please remove the reference to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fb85a8-d842-f101-909e-86751922da43
* Version Independent ID: 0c99b5ef-753e-1085-a682-c55ea4059207
* Content: [Enforce group naming policy in Azure Active Directory](https://docs.microsoft.c

[2020-11-06 22:13] dgordonb opened #65690 "Outlook Customer Manager has been deprecated. Please remove the reference to it."
Outlook Customer Manager has been deprecated.  Please remove the reference to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fb85a8-d842-f101-909e-86751922da43
* Version Independent ID: 0c99b5ef-753e-1085-a682-c55ea4059207
* Content: [Enforce group naming policy in Azure Active Directory](https://docs.microsoft.c

[2020-11-06 22:16] MartinJaffer-MSFT commented on #65673
Thank you for the feedback @dxk3355 .  I agree the documentation is unclear, and I have not found any other mention of hive package.  I will assign this to the content owner for clarification and follow-up.

@mssaperla can you help clarify what is meant by "hive package"?  I tried following this document, and when I executed the code, response was "classes defined within packages cannot be redefin

[2020-11-06 22:24] davidsmatlak commented on #65253
@chuckthompsonprofisee Thanks for submitting your questions.

- I tested the `servicePrincipalSelector` control and can't change the control to only allow the selection of an existing app registration or make the password visible in the control.
- The [servicePrincipalSelector schema](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/microsoft-common-serviceprincipalsele

[2020-11-06 22:25] davidsmatlak commented on #65253
#please-close

[2020-11-06 22:25] #65253 closed

[2020-11-06 22:25] JamesTran-MSFT commented on #65622
@DerekHerman-MSFT
Thank you for pointing this out! Walking through the documentation again I'm not able to "list" or "show" the secret either, through AzCLI or Bash.

![image](https://user-images.githubusercontent.com/36619112/98419941-f7a66000-203a-11eb-91ec-1872faa2f64e.png)

@jlichwa are you able to look into this issue?

If you have any other questions, please let me know.
Thank you for your t

[2020-11-06 22:26] davidsmatlak commented on #65492
@chuckthompsonprofisee Thanks for submitting your question.

- I tested the `IdentitySelector` control using the `constraints` property and confirmed it doesn't make properties required.
- The [IdentitySelector schema](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/microsoft-managedidentity-identityselector#schema) doesn't specify support for `constraints`.
- The `con

[2020-11-06 22:26] davidsmatlak commented on #65492
#please-close

[2020-11-06 22:26] #65492 closed

[2020-11-06 22:31] jeevansd commented on #65669
@smoms Although you customize the claims for the applications, Azure AD will not add these custom claims in the Federation Metadata XML file. But when you do the SSO then they will appear correctly in the token.

[2020-11-06 22:31] jeevansd commented on #65669
#please-close

[2020-11-06 22:31] #65669 closed

[2020-11-06 22:41] Nickomang commented on #65478
Hi @darkoa-msft, thanks for the feedback. In the document in question, there is a reference to the Cluster Capacity Planning article, which explicitly states: "Maintain a minimum count of five nodes for any virtual machine scale set that has durability level of Gold or Silver enabled. Your cluster will enter error state if you scale in below this threshold, and you'll need to manually clean up sta

[2020-11-06 22:41] vijaynikam opened #65691 "User Flow creation steps must be updated"
Hi,

Steps to create User Flow as mentioned below on this page are outdated and must be updated to reflect accurately.

Under Policies, select User flows, and then select New user flow. (There is no Policies menu anymore) and it now available under 'External Identities->User Flows, and then select New User flow

Regards
Vijay

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-11-06 22:45] JamesTran-MSFT commented on #65659
@mattallscripts
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-06 22:45] JamesTran-MSFT commented on #65675
@JBurdGitsIT
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-06 22:59] Irfansh20 opened #65692 "SAML using Azure Active Directory Authentication in Java We based Application"
Is there a sample solution for Saml implementation?

I want to use Microsoft Azure AD authentication for the SAML implementation in my Single java based web application

Reference : https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-11-06 23:00] MarlEva opened #65693 "Need clarification on marketplace service fee"
[Reviewing this document - noticed that there's mention of reduced service fees for eligible offers, but no dedicated section on commercial marketplace service fees in general.

Will follow up during docs standup, but suggest adding a section on marketplace service fees to this document, prior to explanation of reduced service fees]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-11-06 23:01] MarlEva commented on #65693
It would also be nice to have the service fee section linked on the right side shortcuts so we can send to publishers more easily

[2020-11-06 23:05] JimacoMS3 commented on #39536
#reassign @robinsh

[2020-11-06 23:09] ramyadutta1986 opened #65694 "Looking for a Pop up message when trying to Set ABLM Policy on $logs container"
Tried setting ABLM policy on $logs container, It did allow to create the policy.Found from the documentation ABLM is not supported for $logs and $web container.
![LCM$logs](https://user-images.githubusercontent.com/42393379/98422962-02182800-2042-11eb-9536-8c0f12f0249b.png)

It will be better to show a pop-up message saying ABLM policy is not supported for $ logs container.

---
#### Document Deta

[2020-11-06 23:22] BharathNimmala-MSFT commented on #65648
@VeV-HDT Thank you for your query, our team will review it and circle back at the earliest.

[2020-11-06 23:23] WinstonHoward-MSFT commented on #65649
Thanks for the feedback, I've assigned this to the doc author to take a look at perhaps providing metadata information in the doc.

[2020-11-06 23:30] darkoa-msft commented on #65478
That link is there in the context of primary nodes and it talks about reliability, not durability. I agree that it should be explicitly stated that durability level minimums should be observed even on non-primary nodes running stateless services.

I don't think that it is obvious from documentation (in general) that there are SF stateful services running on non-primary nodes. One has to find that

[2020-11-06 23:36] SatishBoddu-MSFT commented on #65670
Hello @MakeSense27
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-06 23:40] JimacoMS3 commented on #44709
A link to the topic has been added to this section: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-troubleshoot-connectivity#azure-monitor-use-logs-to-resolve-connectivity-errors

Isn't that what was requested?

@robinsh @philmea FYI

[2020-11-06 23:45] JamesTran-MSFT commented on #65657
@mattallscripts
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 23:46] JamesTran-MSFT commented on #65681
@SteveMinar
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-06 23:47] asinn826 commented on #65501
@dcbrown16 - good catch, thanks for that!

@mathapli - could you please address when you get a chance? Thanks!

[2020-11-06 23:47] JamesTran-MSFT commented on #65683
@NovotnyMarek
Thank you for time, can you please provide some more details on issue or request?

[2020-11-06 23:48] JamesTran-MSFT commented on #65685
@NovotnyMarek
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 23:49] JamesTran-MSFT commented on #65686
@josuvil
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-06 23:50] James-Hamil-MSFT commented on #65690
Updated. Closing

[2020-11-06 23:50] #65690 closed

[2020-11-06 23:50] James-Hamil-MSFT commented on #65689
Updated. Closing

[2020-11-06 23:50] #65689 closed

[2020-11-06 23:51] JamesTran-MSFT commented on #65691
@vijaynikam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 23:53] MarileeTurscak-MSFT commented on #65692
@Irfansh20
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-06 23:54] NavtejSaini-MSFT commented on #65394
@hurtn We are going ahead and closing this request. Please get back to us if any other issue.

[2020-11-06 23:54] #65394 closed

[2020-11-06 23:55] MarileeTurscak-MSFT commented on #65097
Thanks for updating.

[2020-11-06 23:55] NavtejSaini-MSFT commented on #65467
@fbuser1 We are assigning this issue to our doc author for further review and edits.
@stevestein Please look into this issue and make the required changes.

[2020-11-07 00:01] JamesTran-MSFT commented on #65691
@vijaynikam
Thank you for your suggestion! However, it looks like you're under the wrong tenant, you'll have to select your AzureAD B2C tenant prior to following the steps, as stated within [Step 2](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows#create-a-sign-up-and-sign-in-user-flow).

**AzureAD Tenant:**
![image](https://user-images.githubusercontent.com/3

[2020-11-07 00:01] #65691 closed

[2020-11-07 00:01] DerekHerman-MSFT commented on #65607
@dckfnuance Our product team confirmed this is currently an issue and are working to deploy a fix. I will update when I have more information available.

[2020-11-07 00:03] paulbatum opened #65695 "Updates required for functions V3 and linuxFxVersion"
This documentation needs a refresh for V3 and has out of date information about linuxFxVersion.

1. The instructions for linuxfxversion are incorrect. Specifically the information in the reference table for linuxFxVersion is out of date. If the user is deploying code, then linuxFxVersion should be set in the format of "python|3.7" or "dotnet|3.1", rather than "DOCKER|etc" as currently documented.

[2020-11-07 00:04] #65683 closed

[2020-11-07 00:06] JamesTran-MSFT commented on #65651
@robertpiska
Thank you for your time and patience!

Can you provide some screenshots of what you're seeing along with your API permissions tab and documentation on how you're using you app?

Any additional information would be greatly appreciated.
Thank you for your time and patience throughout this issue.

[2020-11-07 00:13] paulbatum commented on #65695
I also suggest putting the table with the valid values for linuxFxVersion under some type of heading so that it can be directly linkable from other documentation.

[2020-11-07 00:13] DerekHerman-MSFT commented on #65694
@ramyadutta1986
Thanks for the feedback. This is stated in the documentation:
"Lifecycle management does not affect system containers like $logs and $web."

I will reach-out internally to the product team to see if this is something they will consider implementing. Unfortunately I cannot promise if/when this will be implemented. I will proceed to close out this issue, please tag me if you have fur

[2020-11-07 00:14] #65694 closed

[2020-11-07 00:18] WinstonHoward-MSFT commented on #65136
Hi @kieronlanning ,

I'm unable to query that property. I'd like to put you in contact with a support technician who can help you troubleshoot. These issues are usually used to doc related bugs. If your able to resolve this with a technician then I'd like to update the doc with the appropriate result. Can you please email AzCommunity@microsoft.com with the subject ATTN - Winston and include your A

[2020-11-07 00:31] WinstonHoward-MSFT commented on #65136
@kieronlanning I've been unable to query that property. But I'd like to put you in contact with a support technician who can help you troubleshoot. These issues are usually for to doc related bugs. If your able to resolve this with a technician then I'd like to update the doc with the appropriate result. Can you please email AzCommunity@microsoft.com with the subject ATTN - Winston and include you

[2020-11-07 00:38] Karishma-Tiwari-MSFT commented on #64695
The internal teams confirmed that you have support case open for this and they have been working with the right teams to investigate this. We will now close this issue. I will track your support case and share the resolution here for others, when the case is resolved.

[2020-11-07 00:38] #64695 closed

[2020-11-07 00:39] Karishma-Tiwari-MSFT commented on #64930
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-07 00:39] #64930 closed

[2020-11-07 00:47] Karishma-Tiwari-MSFT commented on #65466
Here is the link for ARM: https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script

The classic documentation is located as shown below whereas rest is ARM documentation:

![image](https://user-images.githubusercontent.com/20851144/98426918-bbc9c580-204f-11eb-8469-c954d7f1e74e.png)

[2020-11-07 00:47] #65466 closed

[2020-11-07 00:53] JarrettRenshaw opened #65697 "Typo in resolution code"
This was added as a verbatim comment to the survey on 10/27/2020
There is a typo in the resolution. I assume that the value provided for the -AzContext parameter for the Start-AzAutomationRunbook command is the same as the $AzContext value that was set previously, but they use a different variable named "$AzureContext." I'm unsure what value this variable refers to.

---
#### Document Details

⚠ *

[2020-11-07 01:05] pragnagopa commented on #65695
Information provided in the description is accurate. If user is deploying code to linux function app, across all skus, `linuxFxVersion`  siteConfig property should follow the format : `runtime|runtimeVersion` for example for a node 12 function app , `linuxFxVersion`  should be set to `node|12`

It might be more clear to add different sections for deploying code and using a custom container.

**Not

[2020-11-07 01:45] TravisCragg-MSFT commented on #65491
@RonnieQuan It is possible for a group of disks in the same subscription to share a key, but the keys are NOT multi-tenant.

[2020-11-07 01:57] BharathNimmala-MSFT commented on #65697
@JarrettRenshaw Thank you for your bringing this to our notice, we will review the feedback and update the document accordingly.

[2020-11-07 02:01] BharathNimmala-MSFT commented on #65693
@MarlEva Thanks for creating the issue. I have assigned the issue to @mingshen-ms to further evaluate the feedback shared and update the document accordingly.

[2020-11-07 02:02] BryanTrach-MSFT commented on #65680
@farchide Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 02:03] BharathNimmala-MSFT commented on #65688
@chuckthompsonprofisee Thanks for your query, our team will review and circle back to you at the earliest.

[2020-11-07 02:09] BryanTrach-MSFT commented on #65663
@AviateX14 This value is not displayed anywhere. If you are performing automation in the sense that you delete and re-create the web app with each deployment, I would suggest you not delete the App Service Plan each time and keep a dummy app in the App Service Plan (App Service Plans can have more than 1 app in them) and then use that value for your automated process.

[2020-11-07 02:17] BharathNimmala-MSFT commented on #65697
@JarrettRenshaw Thanks again for bringing this to notice, I have raised a PR which should correct the typo and merge into the live document early next week.

Hope this helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue, however if you have any further queries please tag us in y

[2020-11-07 02:17] #65697 closed

[2020-11-07 02:33] BharathNimmala-MSFT commented on #65417
@miloshb Thanks again for sharing the feedback, I have raised a PR to improve the grammar and make it more structural for readability. Once the PR is reviewed and approved early next week, it will merge the changes to the live document later in the week.

Regarding your additional feedback to provide some insights (guidance) as to which option should be selected. Appreciate you sharing the feedbac

[2020-11-07 02:33] #65417 closed

[2020-11-07 02:51] BryanTrach-MSFT commented on #65672
@cfjedimaster Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 02:58] saipraveen-a commented on #65575
A couple of additional things.

[code]
The above command should be using $applicationGatewayGroupId

The command
[code]
results in the below error

[code]

[2020-11-07 02:58] BryanTrach-MSFT commented on #65678
@blummichellec Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 03:09] #65672 closed

[2020-11-07 03:11] BryanTrach-MSFT commented on #65672
@cfjedimaster We agree with your feedback and made an edit to the doc to hopefully prevent others from getting hung up. The changes should be public within 24 business hours. Thanks for bringing this to our attention!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2020-11-07 03:21] dennis-jones opened #65702 "Typo on page causes build error"
I think that the line that reads:
authority: 'Enter_the_Cloud_Instance_Id_Here'/'Enter_the_Tenant_Info_Here',

Should read:
authority: 'Enter_the_Cloud_Instance_Id_Here/Enter_the_Tenant_Info_Here',

Remove the single quotes in the middle.

Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1889fcfe-437f-f8cb-2de9-f4

[2020-11-07 03:28] Krishna-chinthireddy opened #65703 "luis region change"
Hi,

we have a luis application created in westus region now we wanted to move that application to west europe region
is there any option to move the luis application from one region to another ?

[2020-11-07 03:30] #65678 closed

[2020-11-07 03:32] BryanTrach-MSFT commented on #65678
@blummichellec We appreciate your feedback and agree that clarity could be added. We went ahead and used a slightly modified version of what you shared in the PR. The changes should be public within 24 business hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2020-11-07 03:36] BryanTrach-MSFT commented on #65687
@cfjedimaster We had a similar experience in our repro. As a result, we have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-07 03:40] BryanTrach-MSFT commented on #65682
@delbert Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 03:42] BryanTrach-MSFT commented on #65695
@paulbatum and @pragnagopa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-07 03:43] BryanTrach-MSFT commented on #65702
@dennis-jones Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 03:44] BryanTrach-MSFT commented on #65703
@Krishna-chinthireddy Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your

[2020-11-07 03:53] BryanTrach-MSFT commented on #65337
@andy-andykingit Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-07 03:58] BryanTrach-MSFT commented on #65553
@durayakar Thank you for the update. I can see how this could cause issues since you'd need to paste into something like Visual Studio Code, remove the expected output and then copy/paste into PowerShell.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-07 04:15] BharathNimmala-MSFT commented on #65362
@TestUser0811 Apologies for delay in getting back to this thread.

As explained in the documentation : The current default counters that are configured to be collected for ASP.NET/ASP.NET Core web applications are:

% Process\Processor Time
% Process\Processor Time Normalized
Memory\Available Bytes
ASP.NET Requests/Sec
.NET CLR Exceptions Thrown / sec
ASP.NET ApplicationsRequest Execution Time
Pro

[2020-11-07 04:15] #65362 closed

[2020-11-07 05:43] BryanTrach-MSFT commented on #65348
@cephalin I had the same experience as the customer with the error.

Also, there is a second issue. The doc the customer [references](https://docs.microsoft.com/en-us/azure/app-service/quickstart-php?pivots=platform-linux) creates a windows web app instead of a linux web app.

[2020-11-07 06:07] mathapli commented on #65501
Sure

[2020-11-07 09:27] GitHubSachin opened #65704 "Deployment fails with InternalServerError when using Microsoft.KeyVault/vaults/keys"
Using ARM template to create key in keyvault, (Microsoft.KeyVault/vaults/keys)
Deployment gets submitted and gets stuck in provisioning state. The deployment logs show error below, how should this be fixed?

"resourceType": {
        "value": "Microsoft.KeyVault/vaults/keys",
        "localizedValue": "Microsoft.KeyVault/vaults/keys"
    },
    "resourceId": "/subscriptions/***/resourcegroups/***/

[2020-11-07 10:08] YanumVlad opened #65705 "Clarification on simultaneous loss of two regions"
Team,

I would like to clarify the next note for Azure SQL:
Note

**For disaster recovery, we recommend the configuration with application deployment limited to two regions. This is because most of the Azure geographies have only two regions. This configuration does not protect your application from a simultaneous catastrophic failure of both regions. In an unlikely event of such a failure, you ca

[2020-11-07 10:15] abbaskiko opened #65706 "check it for me pls thx :)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da98502-69f3-82fd-14d9-5da825e9d541
* Version Independent ID: dcec6cba-5808-7bcd-ea6c-97996eef4593
* Content: [Configure Ruby apps - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/configure-language-ruby)
* Content Source: [art

[2020-11-07 10:46] SadiqhAhmed-MSFT commented on #65664
@Absoblogginlutely Application Developer is a [role in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#application-developer-permissions) and the assignment occurs within Azure AD (sample portal screenshot below). The role does not exist in Azure RBAC.

![image](https://user-images.githubusercontent.com/44458118/98438994-686d7b00-2114-11eb-91ea-4d22323

[2020-11-07 11:01] mpiugl83 commented on #55473
Hello everyone. I have found this discussion while looking for a solution to setup a secure connection to a Linux webserver in Azure. So I will join @antonmatsiuk in his quest :) , hoping you guys have a solution/suggestion.
This webserver has specific subdomain/pages which are filtered by IP.

I have successfully setup Azure P2S VPN so the users are able to access those areas by using the private

[2020-11-07 11:44] chinkl75 commented on #65505
@AshokPeddakotla-MSFT
After adding a secondary cert, the problem still persist. I hope below snap shot helps to identify the issue. As seen from it, there is no save button to save the X.509 option that is chosen, and therefore when I re-open the connection device it returns back to SAS option.

![image](https://user-images.githubusercontent.com/8462971/98439967-a7a9c500-2130-11eb-8ed4-b170463a5df

[2020-11-07 12:47] kieronlanning commented on #65136
@WinstonHoward-MSFT Thanks, I'll do that first thing Monday when I'm back at my work PC. Cheers!

[2020-11-07 13:39] zjakub1 opened #65707 "Assigning VM roles"
Hi,

Regarding this tutorial, if you are attempting to follow the steps and have a VM (in my case an server with AD roles) then you must first ensure that you enable managed identity fiirst, as the VM will not appear as a selectable resource (in point 7).
To enable the option, select the VM goto Identity in the blade, and set the status to on (system assigned).

---
#### Document Details

⚠ *Do no

[2020-11-07 14:49] AnuragSharma-MSFT commented on #65705
@YanumVlad Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-11-07 14:50] AnuragSharma-MSFT commented on #65452
@sumitsar Please let us know if you have any other query on the same.

[2020-11-07 14:50] cstainie opened #65708 "Resolution for ARRAffinity not desribed"
[Enter feedback here]
Hi,

The documentation is talking about two scenarios but only the first one is described.

How to resolve the issue with ARRAffinity cookies? Solution applies to both? Thought the rewrite is limited for set-cookie.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aacd2683-3d38-ac23-22bb-fadd39d16dc

[2020-11-07 14:57] elvirk commented on #65674
thank you, I will reach out to Microsoft Q&A, above query doesn't take in account File shares, tables, ques.

[2020-11-07 15:13] jhollowe commented on #65662
Thanks!

[2020-11-07 15:13] #65662 closed

[2020-11-07 15:25] Anmolgan81 opened #65709 "What about capturing deletes and restoring it to Azure SQL DB?"
How can we transfer deletes to Azure SQL DB using this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284de931176d
* Version Independent ID: 4002e018-4320-c978-061d-080d89761c8e
* Content: [Incrementally copy multiple tables using Azure portal - Azure Data Factory](https://docs.microsoft.c

[2020-11-07 17:37] romankiss commented on #42797
@banisadr  How this "design issue" has been solved in the version 2020-06-01?
Can we have for input single event the same like we have it at the CloudEvent, such as **no array wrapper**?

Thanks
Roman

[2020-11-07 17:48] edburns opened #65710 "Trivial: missing "select ok"."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0807a931-f927-1f61-8b8b-fcaf64342f3f
* Version Independent ID: 0083adf2-464e-7ed2-f242-c8f765a58c80
* Content: [Quickstart: Create a DNS zone and record - Azure portal - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-getstarted-portal)
* Co

[2020-11-07 17:48] edburns commented on #65710
Please assign this to @edburns .

[2020-11-07 17:54] BryanTrach-MSFT commented on #65706
@abbaskiko Can you please help provide us more details? It's not clear right now what your feedback or ask from us is.

We look forward to your reply.

[2020-11-07 18:05] edburns commented on #65710
https://github.com/MicrosoftDocs/azure-docs-pr/pull/136992

[2020-11-07 18:21] BryanTrach-MSFT commented on #65704
@GitHubSachin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 18:41] BryanTrach-MSFT commented on #65707
@zjakub1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 18:42] BryanTrach-MSFT commented on #65708
@cstainie Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 18:45] BryanTrach-MSFT commented on #65709
@Anmolgan81 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-07 18:46] BryanTrach-MSFT commented on #65710
@edburns Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-07 20:01] MariusVolkhart opened #65711 "Encryption samples in Java"
It would be very helpful to have samples written in Java. The encryption samples link goes to .NET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f034c4-da2c-fba7-3929-194b5101448c
* Version Independent ID: 614b67f7-eea2-f2e8-2a68-b60c30cca250
* Content: [Client-Side Encryption with Java for Microsoft Azure Storage]

[2020-11-07 20:01] amitbapat commented on #65676
Fixed. Added 'az storage container create' in the "backup HSM" snippets. https://github.com/MicrosoftDocs/azure-docs-pr/pull/136994

#please-close

[2020-11-07 20:01] #65676 closed

[2020-11-07 21:13] MarileeTurscak-MSFT commented on #65702
Thank you! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/136997

[2020-11-07 21:13] #65702 closed

[2020-11-07 22:12] AviateX14 commented on #65663
I expected that was the case, just wanted to be sure before raising it on user voice, imo this is quite an oversight - and whilst I appreciate that there **is** a workaround, I don't think it's a proper solution to the probem.

In either case, thank you for the clarification and the workaround suggestion :)

[2020-11-07 22:42] mdrakiburrahman opened #65712 "Auto Loader not working in DBR 7.2+, identical code works when cluster switched to DBR 7.1 or 7.0"
When trying to setup an Auto Loader pipeline in DBR 7.2 (tried in 7.3 LTS and 7.4 as well), I'm running into this error message:

## Error on DBR 7.2, 7.3 LTS, 7.4:
![image](https://user-images.githubusercontent.com/46581776/98452728-e97e3f80-211f-11eb-8ce4-4c97e8e1dc96.png)

The Stream DataFrame starts to initialize and and throws the attached error. Applying the suggested settings in the error `

[2020-11-07 22:59] mdrakiburrahman commented on #65712
Apologies, I see this behavior is noted in the [documentation here](https://docs.microsoft.com/en-us/azure/databricks/spark/latest/structured-streaming/auto-loader#--changes-in-default-option-values-and-compatibility) - adding the following three lines in DBR 7.4 fixes the issue:

![image](https://user-images.githubusercontent.com/46581776/98453033-d28d1c80-2122-11eb-9f00-dbb998c9e8dd.png)

[2020-11-07 22:59] #65712 closed

[2020-11-08 00:22] BryanTrach-MSFT commented on #65712
@mdrakiburrahman We are happy to hear you were able to resolve the issue. Thank you for sharing the solution with the community.

[2020-11-08 00:24] BryanTrach-MSFT commented on #65711
@MariusVolkhart Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-08 08:42] Anmolgan81 commented on #65204
@HarithaMaddi-MSFT I have attached the below screenshot that confirms that even though the stored procedure is rewriting the whole dataset into the destination and this will cause us problems just only to capture Update insert and delete operations.
![image](https://user-images.githubusercontent.com/34720423/98460641-2738a200-21cc-11eb-9911-b1dfe0658916.png)

In the above screenshot you can alread

[2020-11-08 08:42] omrihar opened #65713 "Page fails to mention problems with Databricks and DevOps not in the same AAD"
[Enter feedback here]
After problems with linking a notebook to my repository on Azure, I came across several opened issues regarding this being caused by databricks not being in the same AAD as DevOps. This is, however, not mentioned anywhere in the documentation page. This can help people in similar situations that try to link the notebooks with Azure repos.
A different issue regarding the same

[2020-11-08 09:06] zjakub1 opened #65715 "Users can register applications option"
Hi,

In the User Settings option in the AD Blade the App Registrations allows the admin to decide whether non-admin users have the ability to register applications (Users can register applications). This doesn't seen to be reflected in Overview section within the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-08 09:22] sumitsar commented on #65452
Thanks you Anurag for a quick reply on this. I don't have further queries. Thanks again!

[2020-11-08 09:22] #65452 closed

[2020-11-08 11:24] memildin commented on #64320
@Torxsmind have you had a chance to try JIT yet?
If it's okay with you, I'll close this issue and if you have further questions you can open a new one or reopen this one.

#please-close

[2020-11-08 11:25] #64320 closed

[2020-11-08 11:27] memildin commented on #65496
Hi, it's still true that Azure Security Center's integrated license for Microsoft Defender for Endpoint only covers Windows machines.

[2020-11-08 11:40] VikasPullagura-MSFT commented on #65713
@omrihar
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-08 11:40] VikasPullagura-MSFT commented on #65713
@mssaperla
Can you please check and add your comments on this doc update request as applicable.

[2020-11-08 11:41] VikasPullagura-MSFT commented on #65715
@zjakub1
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-08 13:22] rubit0 commented on #59183
I can't delete my active directory (I'm trying to delete my entire Office 365 account since it was created by accident) because of this issue. When I try to delete my tenant it says that I need the permissions and brings me to the settings blade, but when I enabled the option and save, it is set back to off afterwards by itself.

[2020-11-08 13:24] Absoblogginlutely commented on #65664
Thanks for the clarification @SadiqhAhmed-MSFT - It was pretty obvious after I read the Read More link! - for some reason I assumed this was an Azure Role. Closing issue.

[2020-11-08 13:24] #65664 closed

[2020-11-08 13:49] amjadaljunaidi commented on #65512
@ChiragPavecha can't find the pull request (404), could you please check it again

[2020-11-08 14:37] MariusVolkhart opened #65719 "Docs for version 6 not 12"
It took me quite a while, but I finally realized that the big disconnect between what is documented here and what I'm finding on Github and Maven and in the API docs, is that this page refers to version 6 of the storage library, while the other locations have moved on to version 12!

Version 12 doesn't use an `IKeyResolver` anymore (it uses `com.azure.core.cryptography.AsyncKeyEncryptionKeyResolve

[2020-11-08 15:30] SquirrelAssassin opened #65720 "you need to update the code its broken with the latest azure keyvault and latest az.account module"
$adal = "${env:ProgramFiles}\WindowsPowerShell\Modules\Az.Accounts\1.0.0\PreloadAssemblies\Microsoft.IdentityModel.Clients.ActiveDirectory.dll"
$adalforms = "${env:ProgramFiles}\WindowsPowerShell\Modules\Az.Accounts\1.0.0\PreloadAssemblies\Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll"
The module version is now 2.1.2 and this causes the code to break just use whatever they have

$ad

[2020-11-08 16:34] mustafasalahuldin opened #65721 "MongoDB Atlas doesn't appear in my Linked Services list."
I can't find the "MongoDB Atlas" in the Linked Services list in Azure Data Factory, any ideas?

[2020-11-08 16:46] vdekercd opened #65722 "Code fix"
I think this part of code shoulde be remove

           // These optional request parameters are set to their default values
            queryString["verbose"] = "true";
            queryString["show-all-intents"] = "true";
            queryString["staging"] = "false";
            queryString["timezoneOffset"] = "0";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-11-08 17:23] hoangmnsd commented on #37015
I also getting into this issue, any update on this?

[2020-11-08 17:51] benmo commented on #62877
Same issue here.

[2020-11-08 17:58] BryanTrach-MSFT commented on #65721
@mustafasalahuldin Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your und

[2020-11-08 18:01] BryanTrach-MSFT commented on #65719
@MariusVolkhart Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-08 18:03] BryanTrach-MSFT commented on #65720
@SquirrelAssassin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-08 18:04] BryanTrach-MSFT commented on #65722
@vdekercd Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-08 18:14] t10-13rocket opened #65723 "#1 Issue"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-11-08 18:26] ArielCancnio commented on #38914
+1, hit this issue today.

[2020-11-08 18:41] mohclips commented on #37015
Yup this was all sorted out.

The plan etc are case sensitive.

[2020-11-08 19:16] hhubik opened #65724 "Need instructions for Azure AD B2C"
Please explain the process for using Azure AD B2C login to authenticate an Azure function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure AD authentication - Azure App Service](https://docs.mi

[2020-11-08 20:00] mikeblakeuk opened #65725 "Please update the version of Pig for 4.0"
HDInsight 4.0 (Hadoop 3.1.2.4.1.1.2) uses Pig 0.16.1

`[main] INFO  org.apache.pig.Main - Apache Pig version 0.16.1.4.1.1.2 (r: unknown) compiled Sep 16 2020, 22:07:43`

Can the matrix be updated please.

Also, there is no documentation on this version. Is it a Microsoft build?

https://pig.apache.org/releases.html#8+June%2C+2016%3A+release+0.16.0+available

---
#### Document Details

⚠ *Do not ed

[2020-11-08 20:17] mikeblakeuk opened #65726 "Please provide a working sample in github of the search power bi report"
Please provide a working sample in github (c#)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d15016b-314c-5757-2ea0-76bd04cf87c6
* Version Independent ID: bc6c02ee-9770-7af5-e496-34e5ef8d0865
* Content: [Telemetry for search traffic analytics - Azure Cognitive Search](https://docs.microsoft.com/en-gb/azure/search/sea

[2020-11-08 23:06] ruderod opened #65728 "vm move"
[Enter feedback here]
this needs to be explained,  I don't understand what this means:
Before you can prepare and move VMs, the VM resource group must be present in the target region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3c2d69-079a-6781-a485-5c4d5407cee2
* Version Independent ID: c0b9d4f4-8018-aab4-9695-fd

[2020-11-09 00:53] BharathNimmala-MSFT commented on #65723
@t10-13rocket Thank you for reaching, not sure if this was created as a test issue. Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue,

[2020-11-09 00:53] #65723 closed

[2020-11-09 01:20] RonnieQuan opened #65729 "Can We Define Multiple Action Groups to One Alert?"
Do you have example to add multiple action groups to one alert using ARM or powershell or AZ CLI?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Version Independent ID: 324a8bd9-cec9-3be0-b1fb-01e9a0f95710
* Content: [Create, view, and manage Metric Alerts U

[2020-11-09 01:24] BryanTrach-MSFT commented on #65724
@cephalin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-09 02:34] yiliuTo commented on #65368
Thanks you so much for such a detailed reply @souravmishra-msft , I can get `roles` claim now with your help. Now I have a few new questions:
 -  Does `roles` claim exist only when the `resource` or `scope`(I use the V2 endpoints) parameter in access-token request is set as the client-id or client-id/.default? In my scenorios, I hope my application could acquire an access token of a specific resou

[2020-11-09 03:13] jsburckhardt opened #65730 "Use pkgs.dev.azure.com endpoint instead of pkgs.visualstudio.com"
Hi guys, could you update the endpoints to use the updated ones from AzDO e.g. `pkgs.dev.azure.com`

in other words, I had to update the example as:
[code]
and
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b4c6fed-3e7e-9ff8-c522-381b3c59b537
* Version Independent ID: 82bfe4a4-0f32-5adb-9820-c26dd2251906
* Cont

[2020-11-09 04:06] ram-msft commented on #65730
@jsburckhardt Thanks for the feedback! We will review and update accordingly.

[2020-11-09 04:13] HarithaMaddi-MSFT commented on #65725
@mikeblakeuk - Thanks for posting the valuable feedback. We are looking into it and will get back to you with details soon.

[2020-11-09 04:15] KrishnaG-MSFT commented on #65729
@RonnieQuan Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-09 04:16] HarithaMaddi-MSFT commented on #65726
@mikeblakeuk - Thanks for posting the valuable feedback. We are looking into it and will get back to you with details soon.

[2020-11-09 04:34] mpchen opened #65731 "How to handle remediation task limits"
The limit for remediation task is 500 resources. I am wondering what the best practices for trigging remediation tasks if I have thousands of resources that need to be remediated. Should I batch them by region or spread as many regions as possible in one remediation task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-09 04:39] PatrickDiener commented on #42222
Any updates on this?
Thank you & best regards!

[2020-11-09 04:52] v-hagamp commented on #65290
Issue resolved.
#please-close

[2020-11-09 04:52] #65290 closed

[2020-11-09 04:59] HarithaMaddi-MSFT commented on #65728
@ruderod - Thanks for posting the valuable feedback. We are looking into it and will get back to you with details soon.

[2020-11-09 05:09] HeidiSteen commented on #65726
@mikeblakeuk I just want to make sure I'm on the same page -- are you referring to the C# snippets in the article or the Power BI report itself?  I see that the C# snippets are using Microsoft.Azure.Search instead of Azure.Search.Documents, but you  might be asking for the Power BI report to be hosted in GH...

[2020-11-09 06:46] gathakur opened #65732 "Dependency to *.r.login.microsoftonline.com:443 missing"
Hi Team,

I think we are missing one new dependency to *.r.login.microsoftonline.com:443 which should be added in case customer is using Firewall appliance.

Earlier MSI calls were being made to .login.microsoftonline.com:443 but now they are being made to *.r.login.microsoftonline.com:443

I guess this change was after Azure AD outage on 29 September.

I can provide internal queries if needed. Pl

[2020-11-09 07:11] #65472 closed

[2020-11-09 07:12] SwathiDhanwada-MSFT commented on #65472
@mikeelliottuk Thanks for your feedback. I have updated the documentation and the changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-11-09 07:30] AjayKumar-MSFT commented on #65732
@gathakur, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-09 07:37] HarithaMaddi-MSFT commented on #65725
@mikeblakeuk - As document calls out Hadoop version used for HDInsight 4.0 is 3.1.1, please suggest more details to assist you in this.

![image](https://user-images.githubusercontent.com/61235246/98512578-85c55500-228c-11eb-99a6-25a7aee2b3dd.png)

[2020-11-09 07:39] robertpiska commented on #65651
this is permission api tab:
![image](https://user-images.githubusercontent.com/19970116/98512166-2c4a2f80-2266-11eb-9202-7ff109a8ad06.png)
There is SPA (Angular) application and Web API. And this is how to URL looks like:
https://login.microsoftonline.com/xxxxx/oauth2/authorize?response_type=id_token&client_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Flogin&

[2020-11-09 07:42] harelbr commented on #65729
Hi @RonnieQuan ,

Yes, you can define up to 5 action groups in a single alert rule.

If you're using ARM templates, for example, you can simply specify multiple "actionGroupId" elements under "actions", as in the example below.
`"actions": [
                    {
                        "actionGroupId": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/my-RG/providers/microsoft.i

[2020-11-09 07:45] chenxizhang opened #65733 "Can't make the call from Angular code, CORS issue"
Almost all the step are correct, thanks for the very details information. But in the last step, I got the error message as below.

` XMLHttpRequest at 'https://login.windows.net/91dde955-43a9-40a9-a406-694cffb04f28/oauth2/authorize?response_type=code+id_token&redirect_uri=https%3A%2F%2Ftodo-backend-ares.azurewebsites.net%2F.auth%2Flogin%2Faad%2Fcallback&client_id=657cb573-45bf-450f-b1e4-c9c0f59ad3

[2020-11-09 08:06] souravmishra-msft commented on #65368
Hello @yiliuTo, I have updated my previous response, I would request you to please check that once again as I have added few more details and also corrected one of the points.

To get the group claims in the access-token, you need to use the optional group claims. I have updated the previous answer of mine with the new details on Group claims and how to add them in access_token.

Coming to the sec

[2020-11-09 08:15] SwathiDhanwada-MSFT commented on #65548
Assigning to content author @sujayt for further review and for updating document.

[2020-11-09 08:20] souravmishra-msft commented on #65556
Hello @avpdm, thank you for sharing the details. It looks like this is a multi-tenant app and your user has added that app to your tenant, by consenting to this app's permissions. Now only option to block this app is to remove it from your tenant. You being the Global Admin of the tenant, can surely delete the App's Service Principal object that got registered in your AAD and that can be found und

[2020-11-09 08:33] SayakMukhopadhyay commented on #58894
Shouldn't the docs be updated to reflect this default behavior?

[2020-11-09 08:35] SadiqhAhmed-MSFT commented on #65625
@Mozumich77 Checking in to see if the previous post helped answer your query? Let us know if there are still any additional questions we can help with.

[2020-11-09 08:40] AnuragSharma-MSFT commented on #65579
@ravindraP20 Really appreciate your feedback on this. I observed the same case. I have reached out to product group on the same and will be replying back to you as early as I get the response.

Also, I noticed this query is already posted on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/150704/how-to-enable-azure-defender-for-mysql.html) and we can do the follow up there as Gi

[2020-11-09 08:40] #65579 closed

[2020-11-09 08:47] J0F3 opened #65734 "EA billing account?"
Hi,

I am a bit confused about the description about how to get the EA billing account.
When I do the REST call described in the documentation it returns only an empty array.

However when I make call to `https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts?api-version=2018-03-01-preview` I can see the two EA enrollment accounts, to which I have permission to, in the respons

[2020-11-09 08:52] amanmcse commented on #65454
@danrich0 Closing the issue now.

[2020-11-09 08:52] #65454 closed

[2020-11-09 08:52] J0F3 opened #65736 "Give an ARM template example to create a Subscription in a Management Group"
Hi there,

The documentation states:
 'Note that the action is purely to create an ARM deployment, if a subscription is created, it is created only in the management group specified in the ARM template.'

But the example template deploys only to the root (which requires quite extensive permissions) Can you please give an example how to specify the management group in the ARM Template?

Thanks!

--

[2020-11-09 08:52] mikeblakeuk commented on #65725
It's the pig version that is wrong
![image](https://user-images.githubusercontent.com/1986660/98519583-d88d1580-2268-11eb-834a-e6f9614c9097.png)

[2020-11-09 08:54] HarithaMaddi-MSFT commented on #65725
@mikeblakeuk - Thanks for sharing the details. As in the question you mentioned 3.1.2, we would like to confirm on the ask. Also, please suggest any reference document you are looking at that states 0.16.1 is used by HDInsight 4.0 that would help us understand better.

[2020-11-09 08:55] J0F3 opened #65737 "'Microsoft.Subscription/aliases' Resource is not documented"
Hi there,

The resource 'Microsoft.Subscription/aliases' can not be found in the ARM template reference under [https://docs.microsoft.com/en-us/azure/templates/](https://docs.microsoft.com/en-us/azure/templates/).

It would be very helpful when the resource is also described in the ARM template reference. Please add it there.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-09 08:56] mikeblakeuk commented on #65726
A sample of the C# snippets. I assume both versions (10 and 11) would be similar anyway so don't mind which.

[2020-11-09 09:00] amanmcse commented on #63990
@notoriousedd  Here is a [working scenario with v1 endpoint](https://login.microsoftonline.com/amansi.onmicrosoft.com/oauth2/authorize?client_id=d736a5a0-ee2a-4470-8ee8-d192b45e4aa7&response_type=id_token&redirect_uri=https://jwt.ms&state=1234&scope=openid%20offline_access&nonce=12345&sso_reload=true). I constructed this request url manually without using ADAL or MSAL and the user flow is being ca

[2020-11-09 09:09] amanmcse commented on #65570
@yusukekodama  Using "OR" condition between require approved client app and require app protection policy (preview) is not a requirement. It has to be selected specifically in scenarios when you want to include a set of apps which don't support App Protection Policy and a set of apps that does support App Protection Policy in the same Conditional Access policy.

[2020-11-09 09:09] #65570 closed

[2020-11-09 09:19] HarithaMaddi-MSFT commented on #65725
@mikeblakeuk - Thanks for sharing the logs. As it would requires multiple version updates, I am assigning it to content author to review and update.

@hrasheed-msft - Can you please take a look and share your thoughts.

[2020-11-09 09:20] abbaskiko commented on #65706
i cant understand what i do ?:|
i working some contract ETH but all transection for me is block
i cant fix it

[2020-11-09 09:25] SubhashVasarapu-MSFT commented on #65680
@farchide, Appreciate your patience. The doc has been edited with the following command,

`Add-AzAccount -SubscriptionId "xxxxx-b34a-4df9-9451-4402dcaecc5b"`

It would take some time for the changes to get reflect over the doc.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-09 09:25] #65680 closed

[2020-11-09 09:28] SubhashVasarapu-MSFT commented on #65332
@ShadowXVII, Appreciate your patience. We have assigned this issue to the respective content author for updating it accordingly.

[2020-11-09 09:28] n-elia commented on #65654
Hi @nberdy !
That document is my main reference, and I'm actually referring to it in my bug report.
It says:

The problem is that the `registration id` is not known a-priori in enrollment groups, so I am not able to build a proper MQTT call.
If you use a dummy `registration id`, the MQTT response will always be an authentication error.

[2020-11-09 09:33] psmanhas commented on #65571
@yooakim Which credentials you used for login into Azure using the PowerShell? It will be your user credentials or a service principal..
You can use `Get-AzureRmContext` to see the user.

You can also check the access policies for your key vault.

In Portal, Go to the key vault and in the left pan click on "access policies" under settings.

![image](https://user-images.githubusercontent.com/359907

[2020-11-09 09:34] SubhashVasarapu-MSFT commented on #65413
@veteixei, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-09 09:34] #65413 closed

[2020-11-09 09:52] SwathiDhanwada-MSFT commented on #65736
@J0F3 Thanks for your comment. We will review the issue and get back to you shortly

[2020-11-09 09:52] MoulshreeSD commented on #65709
I am facing the same issues. Please update me on this.

[2020-11-09 09:54] SwathiDhanwada-MSFT commented on #65627
@lgayhardt Can you please provide your inputs on this issue?

[2020-11-09 09:55] MoulshreeSD commented on #65204
I am facing the same issue.. Please update @HarithaMaddi-MSFT

[2020-11-09 09:58] Flodu31 commented on #64856
Hello,
Also have the same error. Any update on this?
Thanks.
Florent

[2020-11-09 10:03] HarithaMaddi-MSFT commented on #65204
@dearandyxu - Can you please share your thoughts on the ask above

[2020-11-09 10:17] SadiqhAhmed-MSFT commented on #65404
@ChrisSommers As you mentioned, in your case already public IP is selected for source public Ip which is already deleted. But our service data base has public ip assigned for target that why we are showing public IP in config blade.

Reason for you not able to edit target public IP now is portal had a check where if source public IP not available then disable target public IP. Portal will always g

[2020-11-09 10:17] #65404 closed

[2020-11-09 11:17] JelmerBarhorst opened #65743 "NVv4 disk performance missing in documentation"
The page doesn't mention anything about the disk performance (IOPS and throughput limits) per VM type in the NVv4 generation, only the ammount of supported data disks. Can this be added to the page so that I can use it for rightsizing a solutiion? Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-09 11:32] psmanhas commented on #65743
@JelmerBarhorst Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-09 11:32] psmanhas commented on #65743
@vikancha-MSFT Can you please check and add your comments on this doc update request as applicable

[2020-11-09 11:47] zoblip commented on #51953
Hi Aquib,

I'm currently trying to achieve the same (direct SAP HANA Backup (data / log) to Azure Blob Storage via blobfuse.
It's not working for me - can you tell me how you mounted the container and what I have to consider?

ERROR   BACKUP   SAVE DATA finished with error: [447] backup could not be completed, [2000008] Error during asynchronous file transfer (io_getevents), rc=22: Invalid argumen

[2020-11-09 12:00] SadiqhAhmed-MSFT commented on #65737
@J0F3 Thanks for the feedback. We have this issue to the content owner to review further and update as appropriate.

[2020-11-09 12:02] SadiqhAhmed-MSFT commented on #65734
@J0F3 Thanks for the question. We will take a look into this and get back to your shortly.

[2020-11-09 12:08] HarithaMaddi-MSFT commented on #65731
@mpchen - Thanks for posting the query. Our team is looking into it and will get back to you shortly.

[2020-11-09 12:13] HarithaMaddi-MSFT commented on #65733
@chenxizhang - Thanks for posting the query. Our team is looking into it and will get back to you shortly.

[2020-11-09 12:16] neok-g commented on #61713
I am trying to get this working for an Azure DevOps Git repository but without success. But is it supported and how to compose the (RAW) url to the azuredeploy.json in the AzureDevOps git repo?

[2020-11-09 12:16] HarithaMaddi-MSFT commented on #64642
@mark-wiemer - Thanks for reaching out. Our team is looking into it and will get back to you shortly.

[2020-11-09 12:29] naraynm commented on #64644
Hi there, do you have any updates? Is it possible for Azure AD-joined Windows virtual machines (VMs) to access Azure file shares with Azure AD credentials?

[2020-11-09 12:31] JeremyTBradshaw opened #65744 "API access to Azure AD Sign-Ins logs in Azure Monitor?"
Hello, I'm hoping this is the best place for this question, and depending on the answer, I would submit a PR to update this article once I familiarize.  I'm using Microsoft Graph to list signIns (auditLogs/signIns).  I'm wondering what is the closest available thing to Microsoft Graph that can query the Sign-Ins logs once they've been forwarded to Azure Monitor.  I realize the standard 30 days' wo

[2020-11-09 12:32] alphasteff opened #65745 "SPN cannot be created with the local PowerShell as described in the documentation"
The last time I used my PowerShell script to create the Azure AD Domains Service, everything still worked.
Now I've tested it again. At first, it didn't work because of the API version. When I test the script again, it fails because of the SPN.
So far the SPN was: "2565bd9d-da50-47d4-8b85-4c97f669dc36"
According to the documentation it is new: "6ba9a5d4-8456-4118-b521-9c5ca10cdf84"

When I try to

[2020-11-09 12:48] SemMulder commented on #48902
@TravisCragg-MSFT would it be possible to get this fixed properly instead of forcing all these people to contact support?

[2020-11-09 12:49] krish-gh commented on #58894
@SayakMukhopadhyay , the docs says:

Apart from that it also has a table as I pointed out in my reply above.

If you are suggesting any other change required for better clarity, please feel free to elaborate a bit. I would be happy to make the suggested change.

[2020-11-09 12:52] toddlers commented on #43438
To be more specific the relevant post I found is this one:https://github.com/microsoft/azure-docs/blob/master/articles/azure-functions/functions-bindings-storage-blob-input.md.

this exact statement

[code]

 returns something like this

[code]

I checked the corresponding SDK[1] as well as the class mentioned,  we have the corresponding attributes available and even the code which I got by the de

[2020-11-09 13:20] SayakMukhopadhyay commented on #58894
Yeah, I think that the following paragraph should be updated

in https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview#validate-signature

The above paragraph gives a wrong indication that the `acr` claim is the valid claim for this info. I suggest changing it to include `tfp` (since its the default) something like

(emphasis mine)

[2020-11-09 13:32] ModernRonin commented on #58894
thanks, @SayakMukhopadhyay  - I *knew* there had been something that had misled me originally, but then when I saw the first reaction here, I thought "strange that I didn't see that". Your comment just made it clear :-)

[2020-11-09 13:36] krish-gh commented on #58894
Thanks @SayakMukhopadhyay for pointing that out. Will publish a change shortly.

[2020-11-09 13:43] AshokPeddakotla-MSFT commented on #65566
@reddyeshwar17 As per my understanding it is not possible to deploy the code directly without creating a VM as it involves many resources associated with it and also all resources provisioned will be interlinked.

As mentioned,  you can post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) for getting others views on this query as this is best suited for [Microsoft Q&A](https://docs.m

[2020-11-09 13:43] #65566 closed

[2020-11-09 14:07] amanmcse commented on #65569
@KennethMLdk When we block **Microsoft Azure Management** application via Conditional Access, it blocks issuance of token for https://management.azure.com API only. The document is rightly indicating all underlying services that uses this API. You can still get tokens for and access resources via other APIs like https://graph.microsoft.com, https://vault.azure.net etc. Depending on your requiremen

[2020-11-09 14:07] #65569 closed

[2020-11-09 14:13] mmacy commented on #62107
@DevRCRun Thanks for your inquiry, and apologies for the delay in response. I'll now move to close this issue as we've not heard back from you in response to https://github.com/MicrosoftDocs/azure-docs/issues/62107#issuecomment-721289103. However, please let us know with an @-mention if you have additional comments on this issue. #please-close

[2020-11-09 14:13] #62107 closed

[2020-11-09 14:19] mmacy commented on #59014
@jeffwilcox Hi Jeff, apologies for the delay in response here. As @mvrak mentions in https://github.com/MicrosoftDocs/azure-docs/issues/59014#issuecomment-721323963, the new MSAL Node should cover you. I'll close this issue out as there are no updates require for this article, but let us know with an @-mention if you have additional comments on the issue. #please-close

[2020-11-09 14:19] #59014 closed

[2020-11-09 14:50] halleythomas opened #65746 "Table not formatted."
The table with the messaging exception types are not formatted properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfacc7cf-4224-9bd8-6211-29244cf60a83
* Version Independent ID: a940a6f2-e1a9-d32b-4303-ab7705753942
* Content: [Azure Service Bus - messaging exceptions - Azure Service Bus](https://docs.microsoft.com

[2020-11-09 15:12] gmantri opened #65747 "What is the maximum number of versions a blob can have?"
According to the documentation, the maximum number of versions a blob can have is 1000. However what I am seeing is that a blob can have versions more than that [https://twitter.com/gmantri/status/1325811789133619202/photo/1](https://twitter.com/gmantri/status/1325811789133619202/photo/1).

Can someone please clarify this behavior? Is it a bug or a documentation issue?

Thanks

---
#### Document D

[2020-11-09 15:21] shashishailaj commented on #65745
@alphasteff Thank you for your feedback . We will investigate and update the thread.

[2020-11-09 15:21] shashishailaj commented on #65744
@JeremyTBradshaw Thank you for your feedback . We will investigate and update the thread.

[2020-11-09 15:23] parasparekh opened #65748 "paras"
Please update the picture.
It seems the picture still reflects only the hybrid DR solution but what about the Azure-only DR solution where you have the primary running in Azure, in that case wouldn't the secondary be a passive replica if you have software assurance and you chose the "Disaster Recovery" option under SQL Server License in the Azure portal ?

---
#### Document Details

⚠ *Do not edit

[2020-11-09 15:26] jquiros90 opened #65749 "No Azure AD join option?"
I was following the steps on the page but then... there are no options at the bottom of the page. Is it doing that automatically in the back end?
I'm running on Windows 20H2, not sure what else you guys might want.

![image](https://user-images.githubusercontent.com/74198005/98560717-0fb5f380-2276-11eb-87ae-32f4989b14e9.png)

[2020-11-09 15:29] mmacy commented on #41385
Reassigning to @hpsin for visibility: #reassign:hpsin

Hirsch, let me know if there are any doc updates required here, happy to help.

[2020-11-09 15:30] jquiros90 commented on #65749
Ah, so this may be a VM issue. I went to my local machine and the options are there but not on the VM. I guess it detects such things?
Both host and VM are on 20H2, I just expected the same behavior.

[2020-11-09 15:30] #65749 closed

[2020-11-09 15:38] stevestein commented on #48192
#please-close

[2020-11-09 15:38] #48192 closed

[2020-11-09 15:39] NavtejSaini-MSFT commented on #65604
@MaxMelcher This [document ](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-overview)explains the best practices for VNET's and subnets.
![image](https://user-images.githubusercontent.com/52257742/98562252-d9797380-2277-11eb-964c-fea640451122.png)

Is this what you are looking for or anything specific.

[2020-11-09 16:01] ahughes257 opened #65751 "update to synapse rest api"
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-compute-rest-api

the API version is very old in the document 2014 -
https://management.azure.com/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Sql/servers/{server-name}/databases/{database-name}?api-version=2014-04-01-preview

is the new one going to be

[2020-11-09 16:23] JHUMikeSchnell opened #65753 "Suggester creation via portal"
There is documentation for creating suggesters via Rest and C# code, but nothing via the portal.  Is this an oversight or is this ability not available through the portal?  You might want to document, if they aren't available through the portal, that this deficiency exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-11-09 16:26] jreypo commented on #65377
@Mahesh-MSFT to answer your questions:

1. Yes AVS can use VWAN hosted ER GWs.
2. VWAN does not provide transitive routiing between two connected ER circuits, same for non-VWAN ER Gateway. Using GR will allow connectvity between on-premises and AVS but traffic will not go through the VWAN hub but Microsoft's global network.
3. In theory yes since the traffic wil be route through Microsoft backbone

[2020-11-09 16:35] dcurwin commented on #63108
@MicrosoftDocs/azure-cxp-triage This issue is a Site Recovery issue, not a Backup issue.

Can the label **backup/svc** be removed, and the label **site-recovery/svc** be added?

[2020-11-09 16:38] bverhoeve opened #65755 "Enhance documentation on debugging Azure Functions JavaScript"
I've been trying to get a debugger working for Azure Functions with NodeJS for about an hour now.

The documentation on it is quite minimalistic:
_"When started with the --inspect parameter, a Node.js process listens for a debugging client on the specified port. In Azure Functions 2.x, you can specify arguments to pass into the Node.js process that runs your code by adding the environment variable

[2020-11-09 16:41] joergrenn opened #65757 "How to register other devices in Azure AD?"
The article states that besides Windows also macOS, iOS or Android devices can be registered in AzureAD.
However there are only instructions on how to register for Windows 10 devices.
Please provide or reference on this page also information how to register devices with the other operating systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-09 16:44] Karishma-Tiwari-MSFT commented on #65748
Let me know if you are seeing any issues.

[2020-11-09 16:44] jreypo commented on #65028
Traffic in the AVS ER circuit is not metered in any way. Traffic from customer ER circuit that connects their on-premises to Azure will be charged according to ER pricing plans.

[2020-11-09 16:56] sunilprabha opened #65758 "Any updates on this feature"
Any updated on this feature, Mounting  Drives for Webapps Linux plan.  I am waiting on this feature since 2018.  Please provide updates.
Regards
Sunil Prabha
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independent ID: 15d95fc5-f08e-a26c-ce06-8ead78

[2020-11-09 17:00] gitathrun opened #65759 "Clarification of when does the meatadata tag filter process happens"
[Enter feedback here]

I am confused at the [Add metadata to filter the answers](Add metadata to filter the answers) section, whic is states:

This filter is applied before the [first and second rankers](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/query-knowledge-base?tabs=v1#ranker-process) are applied.

What is the actual meaning of the **first** and **second** ra

[2020-11-09 17:05] HeidiSteen commented on #65753
@JHUMikeSchnell  It's an oversight!  Thanks for catching it -- I'll try to fix it today or tomorrow.  In the portal, when you use Add Index to create the index, there is a text box where you can specify a suggester name.  In the Field definition section, there is a column/checkbox for "Suggester" where you select specific string fields for which you want to enable autocomplete or suggestions.

[2020-11-09 17:13] ianc911 opened #65760 "DO NOT REMOVE Azure AD registrations manually!"
About halfway down the page, you are told

"In pre-1803 releases, you will need to remove the Azure AD registered state manually before enabling Hybrid Azure AD join"

DO NOT DO THIS! Every machine you remove the Azure AD registered state for will no longer be able to sign in to Teams until you reregister, even if their machine is already Hybrid Azure AD joined! Utterly stupid....

---
#### Docume

[2020-11-09 17:21] SumanthMarigowda-MSFT commented on #65479
@Chireven Since we have not heard back from you we will now proceed to close this thread.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2020-11-09 17:21] #65479 closed

[2020-11-09 17:35] ChaitanyaNaykodi-MSFT commented on #65755
Hello @bverhoeve,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-09 17:38] ChaitanyaNaykodi-MSFT commented on #65746
Hello @halleythomas,  Thank you for your feedback! We will review and update.

[2020-11-09 17:40] gitathrun opened #65761 "Limitation of QnA Maker per subscription"
[Enter feedback here]

Hi, in this page, it shows the limitation of Knowledge Base per QnA maker, but there is no hint about the limitation of QnA maker in one subscription, can you fill in the related information such as:

- **Maximum number** of QnA Maker per subscription could have?

- Limitation of resouce usage such as the query prcoess limiation , etc?

Those information could help us to det

[2020-11-09 17:50] hpsin commented on #41385
Thanks @mmacy

UPN is not issued for guests (external identities, those from another tenant) by default.  You must use the optional claim in order to have it emitted, and it will be emitted with the mangled name. Certainly we cannot change the default behavior, as this will cause issues for code like "if (token.upn==null)".  Additionally, we're wary of issuing it without mangling for a couple reas

[2020-11-09 17:56] YutongTie-MSFT commented on #65753
@HeidiSteen Thanks Heidi for your quick response.

@JHUMikeSchnell
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-09 17:56] #65753 closed

[2020-11-09 17:59] YutongTie-MSFT commented on #65761
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-09 18:00] YutongTie-MSFT commented on #65759
@gitathrun
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-09 18:03] shortpatti commented on #65377
#please-close

[2020-11-09 18:03] #65377 closed

[2020-11-09 18:05] SaiKishor-MSFT commented on #65470
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-09 18:05] #65470 closed

[2020-11-09 18:11] BharathNimmala-MSFT commented on #65480
Thank you @rayne-wiselman for helping on the thread.

@saikovvuri Can you please help with more information on what is the exact discrepancy you see so that our team can help you accordingly ?

We will close this thread for now. However if you can share additional information regarding the discrepancy you are seeing and circle back on this thread , we will gladly reopen the issue and continue the

[2020-11-09 18:11] #65480 closed

[2020-11-09 18:12] PeterCLu commented on #63850
@jamesbannan, since we haven't heard from you in a week, I'll proceed to #please-close this issue.

However, we still want to hear from you! Send me a message at the email above and I'll get you in contact with the product group to work through these issues and see if there a documentation or product resolution. Thanks so much for the report. I hope to hear back from you.

[2020-11-09 18:12] #63850 closed

[2020-11-09 18:13] PeterCLu commented on #65090
#please-close

[2020-11-09 18:13] #65090 closed

[2020-11-09 18:13] PeterCLu commented on #65121
#please-close

[2020-11-09 18:13] #65121 closed

[2020-11-09 18:20] PeterCLu commented on #64990
A doc work item has been created to track this issue and ensure its resolution.

#please-close
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1791674

[2020-11-09 18:20] #64990 closed

[2020-11-09 18:20] BharathNimmala-MSFT commented on #65749
@jquiros90 Thank you for reaching out with your query and also sharing the issue you saw so that it would helpful for others in the community. If you continue to see the issue and have any queries on the documentation please feel free to revert back and will be glad to look further and help.

[2020-11-09 18:21] MaxMelcher commented on #65604
No - this request is particularly in regards to the Postgres vnet integration requirements.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Monday, November 9, 2020 4:40:16 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Max Melcher <melcher.maximilian@gmail.com>; Mention <mention@noreply.githu

[2020-11-09 18:24] MarileeTurscak-MSFT commented on #65757
@joergrenn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-09 18:42] shortpatti commented on #65029
#please-close

[2020-11-09 18:42] #65029 closed

[2020-11-09 18:47] himanshusinha-msft commented on #65751
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-11-09 18:57] #65746 closed

[2020-11-09 19:00] ChaitanyaNaykodi-MSFT commented on #65746
Hello @halleythomas,  we have made the changes in the doc, you will able to see the changes in next 24 hours. Thank you for pointing out the issue to us.

[2020-11-09 19:04] ChaitanyaNaykodi-MSFT commented on #65526
Thank you @runceel, for providing the exact SDK version. @sadiqkhoja , we will now proceed to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-11-09 19:04] #65526 closed

[2020-11-09 19:13] AjayKumar-MSFT commented on #65516
@difatkulbayanova, I understand you're referring to the other statement in this document "[Introduction to the App Service Environments]( https://docs.microsoft.com/azure/app-service/environment/intro#dedicated-environment)"

The **100-instance** limit is for only one single ASP in the ASE, however the cap/limit scoped at ASE including all the App Service Plans is **201** instances.

Kindly take a

[2020-11-09 19:16] cynthn commented on #65113
#assign @MicrosoftGuyJFlo Can you confirm support in Canada Central?

[2020-11-09 19:18] cynthn commented on #65087
#assign @danielsollondon Daniel, can you give a bit more information on where to put the 60-second sleep?

[2020-11-09 19:24] brianmooreoxy opened #65764 "Unclear Documentation"
Under "Create Template Spec" here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-template-specs?tabs=azure-resource-manager#create-template-spec

If you click the "ARM Template" tab to see how to create a template spec using an ARM template, it says in the purple box, "In the embedded template, all left brackets must be escaped with a second left bracket

[2020-11-09 19:25] parasparekh commented on #65748
Hello Karishma, The picture

[2020-11-09 19:29] parasparekh commented on #65748
It seems the picture still reflects only the hybrid DR solution but what about the Azure-only DR solution where you have the primary running in Azure, in that case wouldn't the secondary be a passive replica if you have software assurance and you chose the "Disaster Recovery" option under SQL Server License in the Azure portal ?

[2020-11-09 19:40] anbene commented on #65693
@MarlEva We're tracking this request with work item 29928 on our side. We can talk about it at our next sync. Thanks!

[2020-11-09 19:42] j-martens commented on #65255
@sdgilley and @samuel100 can you address this?

[2020-11-09 19:44] SadiqhAhmed-MSFT commented on #65734
@J0F3 Enrollment accounts are the account owners added under the accounts section in EA.

Billing account is the main enterprise enrollment number.

To programmatically create EA Subscriptions, you need to have owner rights on the Enrollment account since Enrollment account (Account Owner) can only sign up for a new EA Subscription.

The subscription would be associated to the EA Billing Account a

[2020-11-09 19:52] ggailey777 commented on #28927
@cbailiss we've recently updated the Monitoring docs, particularly [here](https://docs.microsoft.com/azure/azure-functions/configure-monitoring?tabs=v2#configure-categories). If this doesn't work better for you, please reopen this issue. #please-close

[2020-11-09 19:52] #28927 closed

[2020-11-09 19:53] nicolaslareu opened #65767 "Transcript videos"
Hi there.

I always prefer to have a text option for learning because the time spent will depends on me. Videos do not allow this since they have a fixed duration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content

[2020-11-09 19:55] wguyman opened #65768 "Missing links on Python quickstart"
Just noticed that on the Python client library page the overview bullet list does not link to the sub sections (only the Python page is like this - the C# page works well)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24f2953b-2900-322d-dbfd-a53846e75940
* Version Independent ID: 25af9875-58cf-69d5-478d-08fb888d12dc
*

[2020-11-09 20:16] MarileeTurscak-MSFT commented on #65767
@nicolaslareu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-09 20:18] Maelito77 commented on #65601
Hi everyone, any update on this please? @Karishma-Tiwari-MSFT @BryanTrach-MSFT

[2020-11-09 20:27] marciomocellin opened #65770 "Documentation failure: Environment name can not start with the prefix AzureML"
I executed the codes on this page (step-by-step), but the register_model (PythonScriptStep) fails.

<i>Response status code does not indicate success: 400 (Environment name can not start with the prefix AzureML. To alter a curated environment first create).</i>
[code]

executionlogs.txt
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-11-09 20:38] mark-wiemer opened #65771 "Typo in Query Optimization Article"
The first paragraph of the Query Optimization Article contains the sentence:

"While automatic optimizations provide significant boost, they are in some cases where you can dramatically improve your query performance."

I think it should read

"While automatic optimizations provide significant boost, **there are** some cases where you can dramatically improve your query performance.

---
#### Docu

[2020-11-09 20:40] celadyn commented on #34263
The documentation may still be incorrect here.

[](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0) still shows MembershipRule in one of the examples but even with version 2.0.2.118 of the AzureAD module the MembershipRule parameter is not found, it's still only in graph preview perhaps?

At least until the feature has been promoted to General from

[2020-11-09 20:41] MarileeTurscak-MSFT commented on #65085
Update: they have merged a fix but it hasn't been deployed yet.

[2020-11-09 20:46] wdspider opened #65772 "The main admin function key should be renamed"
Can we please change the name of the main admin function key to be more inclusive?
Some suggestions include: `main` or `admin`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6cd6a0-5364-65e6-b088-cc00093f836f
* Version Independent ID: 3c90d8fb-0fea-3496-e73e-0020ff33adef
* Content: [Azure Functions HTTP trigger](http

[2020-11-09 20:49] RyanHill-MSFT commented on #62983
This has been resolved by #63928

[2020-11-09 20:49] #62983 closed

[2020-11-09 20:59] MarileeTurscak-MSFT commented on #65085
Just got an ETA: this should be deployed by end of next week. If it's not working by then please feel free to tag me in this thread or reach out to me over email (in my profile).

[2020-11-09 20:59] #65085 closed

[2020-11-09 21:02] joshmachnik commented on #65085
Thank you very much @MarileeTurscak-MSFT
I'll keep an eye out for the change.

[2020-11-09 21:03] avpdm commented on #65556
@souravmishra-msft  Thanks for the information. I think, I should consider creating policy to block the specific add-ins. I will explore and get back to you.
I have one scenario: User1 added one add-in and the corresponding servicePrincipal is "abcd1234" and based on this servicePrincipal I created a Conditional access policy and then removed the add-in for that user. In this case, if user try to

[2020-11-09 21:09] BharathNimmala-MSFT commented on #65425
@suva180 Apologies for the delay in getting back to this thread.

If you want to label the empty column as part of the pie chart, you can use extend with iif .

Below is the possible query with the data set I had and it worked.
[code]

Output PieChart:

![image](https://user-images.githubusercontent.com/45180002/98596432-4860c780-228c-11eb-9e51-c8af6c90e525.png)

Applying the same to your scenario

[2020-11-09 21:09] #65425 closed

[2020-11-09 21:10] craigshoemaker commented on #28806
This article is now updated with guidance on using dependency injection for mocking environment variables in tests. The live site will be updated soon to reflect this change.

#please-close

[2020-11-09 21:10] #28806 closed

[2020-11-09 21:11] LaRiffle commented on #55734
Hey!
I'm getting the same error, I have added the app to a Role following the advice of @hansenms but I still have the same error... Any advice?

[2020-11-09 21:20] JamesTran-MSFT commented on #65760
@ianc911
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-09 21:25] J0F3 commented on #65734
Thank you @SadiqhAhmed-MSFT for the detailed explanation!

So what I need to create a EA Subscription through an ARM template is the Id of an Enrollment Account, right?
And to get this ID trough the API (`GET https://management.azure.com/providers/Microsoft.Billing/billingaccounts/?api-version=2020-05-01`) I need Enterprise Admin permission?

The part which still confuses me is that I get an empty

[2020-11-09 21:26] DerekHerman-MSFT commented on #65711
@MariusVolkhart
I have assigned the issue to the content author to investigate further and update the document as appropriate. The link which is being referred to: https://github.com/Azure/azure-storage-net/tree/master/Samples/GettingStarted/EncryptionSamples

[2020-11-09 21:27] DerekHerman-MSFT commented on #65747
@gmantri Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-09 21:47] tamram commented on #65747
@gmantri - The recommended max number of blob versions is 1000.

Feel free to reach out to me internally if you want more information.

#please-close

[2020-11-09 21:47] #65747 closed

[2020-11-09 21:50] BharathNimmala-MSFT commented on #65771
@mark-wiemer We greatly appreciate you taking time and sharing your feedback to improve our Azure documentation.  Thank you

I have raised a PR to update the document, it will be merged with the live document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation, other than what already called out earlier. We will go ahead and close this

[2020-11-09 21:50] #65771 closed

[2020-11-09 22:00] Nickomang commented on #65478
#please-close

[2020-11-09 22:00] #65478 closed

[2020-11-09 22:03] MarileeTurscak-MSFT commented on #65530
Is it because you are missing the "=All:$true"?

So it should look like:

$dt = [datetime]’2020/08/01’
Get-AzureADDevice -All:$true | Where {$_.ApproximateLastLogonTimeStamp -le $dt} | select-object -Property Enabled, DeviceId, DisplayName, DeviceTrustType, ApproximateLastLogonTimestamp | export-csv devicelist-olderthan-Aug-8-2020-summary.csv

[2020-11-09 22:06] DCtheGeek commented on #65731
@mpchen Thank you for the question. If not all the resources are production, we'd recommend to start by batching them by those non-production resources first, starting with those furthest from production. This lets you validate the remediation on resources that are less likely to cause an issue.  After you've completed all non-production resources, we'd recommend creating remediation tasks by appl

[2020-11-09 22:06] #65731 closed

[2020-11-09 22:20] MarileeTurscak-MSFT commented on #65085
Thanks @joshmachnik! If you send me your support case number I can also see if there's something that they can do internally in the meantime.

[2020-11-09 22:28] atwerae opened #65777 "PowerShell script to add all default NSG rules for Azure AD Domain Services"
With the need to use PowerShell to add one of the default NSG rules for Azure AD Domain Services I think it would be beneficial if the Docs had a script to add all of the rules at once. This would allow someone who set up their own NSG for AADDS without the rules to be able to add the rules all at once instead of using a mixture of the portal and PowerShell. The below script is what I have come up

[2020-11-09 22:28] stevenjudd opened #65778 "Update to match new boot diagnostics settings"
This document needs to be updated to match the content around how to enable boot diagnostics and the two options for the storage of the boot diagnostic data. The relevant information is from https://docs.microsoft.com/en-us/azure/virtual-machines/boot-diagnostics#enable-managed-boot-diagnostics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-11-09 22:28] greg-walrath commented on #65530
Yup, that was it, thanks.

[2020-11-09 22:28] #65530 closed

[2020-11-09 22:32] SatishBoddu-MSFT commented on #65670
Hello @MakeSense27 While We check with the team, could you please confirm if you still see issues with the ADT Explorer tool.

[2020-11-09 22:36] michaelstaszewski commented on #61497
@TravisCragg-MSFT - Another "me too" here. I'm hitting the same issue and hoping for a single source template that can do the deployment vs. having to script part of it or at least confirmation that there is no way to do so within a single template so I can stop thinking about it! :-)

My next plan of action tomorrow is to handle the first deployment case since this is the only time this is a real

[2020-11-09 22:36] joshmachnik commented on #65085
@MarileeTurscak-MSFT my support case (which has since been closed) is 120102824008546. The case was closed stating that this functionality is not available in B2C. I don't think the engineer was aware that it was previously available.

[2020-11-09 22:39] ujjwalmishra opened #65779 "Event delivery retry dont work on 400 status code"
[Enter feedback here]
Event delivery is not retried when webhook return 400 and dead letter is not enabled.
And event is marked as delivery failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 99bdee93-1a4d-d10c-8d90-a58a84bb6187
* Content: [Azure Event G

[2020-11-09 22:51] ggailey777 commented on #31958
Sounds like this issue has been addressed. #please-close

[2020-11-09 22:51] #31958 closed

[2020-11-09 22:53] ggailey777 commented on #32079
Thanks @cgillum. @hmayer1980 if you think this information isn't being presented correctly, you can reopen this issue. Otherwise, #please-close

[2020-11-09 22:53] #32079 closed

[2020-11-09 22:55] ggailey777 commented on #33086
@benbelow you can reopen if you have suggestions on how to make this note more apparent. In the meantime, #please-close

[2020-11-09 22:55] #33086 closed

[2020-11-09 22:57] mieliespoor opened #65781 "Missing reference to System Topic Name"
Creating an Event Subscription inside of the Azure Portal requires a System Topic Name. This part is not covered by the documentation. Some more context around this would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae03e2fc-39bc-4401-82b1-34ae745e936b
* Version Independent ID: 617f4f97-dd3a-4af7-ced1-6e5

[2020-11-09 23:01] MarileeTurscak-MSFT commented on #65541
Thanks @avpdm!

To request this, please add the ask in User Voice and share the link to the feature request on this thread, and I will also create an internal request. https://feedback.azure.com/

[User voice](https://feedback.azure.com/) is the best place for these types of requests.

[2020-11-09 23:01] #65541 closed

[2020-11-09 23:04] KylePolansky opened #65782 "Samples to Create Front Door with Rules Engine"
It would be nice to add a sample template containing a Front Door resource with a routing rule that utilizes a Rules Engine resource in the same template.

The exported templates I've attempted to deploy all have circular references in them. This is because the Front Door routing rule depends on the Rules Engine resource, and the Rules Engine resource on the Front Door resource. It seems like it w

[2020-11-09 23:10] ggailey777 commented on #32126
#assign:anthonychu

[2020-11-09 23:31] MarileeTurscak-MSFT commented on #65648
This may require further troubleshooting as this can happen for a number of reasons. I have seen this happen when an attribute is checked as "Read Only" and unable to be read by the application, but it will require a deeper dive to know for sure with your issue.

If you send an email to AzCommunity@microsoft.com with "Attn: Marilee Turscak" and include your subscription ID, I can open a free suppo

[2020-11-09 23:31] #65648 closed

[2020-11-09 23:46] TravisCragg-MSFT commented on #65491
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-09 23:46] #65491 closed

[2020-11-09 23:50] gitclem opened #65783 "NSG is not defined and it would be nice if it were."
Not everybody knows every MS abbrev.

NSG is not defined and it would be nice if it were on this page (or have a link.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bastion](https://docs.microsoft.com

[2020-11-09 23:53] MarileeTurscak-MSFT commented on #65692
There does not appear to be a Microsoft sample for this, but we have passed your feedback along to the content authors to create one.

https://stackoverflow.com/questions/52004423/read-saml-response-received-from-azure-active-directory-using-java
https://github.com/Azure/azure-docs-sdk-java/blob/master/docs-ref-services/activedirectory.md
https://github.com/Azure-Samples/ms-identity-java-webapp
ht

[2020-11-09 23:53] JamesTran-MSFT commented on #65651
@robertpiska
Thank you for the screenshot and details!

The permissions that you've selected don't require admin consent:
![image](https://user-images.githubusercontent.com/36619112/98608989-389fae00-22a1-11eb-858e-cf01371400e1.png)
Some [high-privilege permissions](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#admin-restricted-permissions) in the Micro

[2020-11-09 23:54] #65692 closed

[2020-11-09 23:54] duongau commented on #63779
@miqm Digicert Global Root G2 is supported. It is also added to our documentation to reflect this: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-troubleshoot-allowed-ca.

[2020-11-09 23:55] duongau commented on #63779
#please-close

[2020-11-09 23:55] #63779 closed

[2020-11-09 23:56] duongau commented on #63806
#please-close

[2020-11-09 23:56] #63806 closed

[2020-11-09 23:58] MonikaReddy-MSFT commented on #65777
@atwerae -
Thank you for your question.
 Can you please share with us the URL of the document that you are looking at ?
Thank you for your understanding.

[2020-11-10 00:02] TravisCragg-MSFT commented on #65708
@cstainie The 2 scenarios are dependent upon which version of the Application Gateway you are using. Using a custom domain name resolves both issues.

[2020-11-10 00:03] tamram commented on #64642
@mark-wiemer - This has been updated for over a week now. I think there was a hold up with the original PR, but it's in now. Thanks for alerting us.

#please-close

[2020-11-10 00:03] #64642 closed

[2020-11-10 00:08] DerekHerman-MSFT commented on #65719
@MariusVolkhart Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-10 00:09] BharathNimmala-MSFT commented on #65758
@sunilprabha Thank you for reaching out to us, our team will review the query and get back to you at the earliest.

[2020-11-10 00:11] cachai2 commented on #30381
#reassign:@stefanushinardi

[2020-11-10 00:14] cachai2 commented on #32126
#please-close

[2020-11-10 00:14] #32126 closed

[2020-11-10 00:14] ggailey777 commented on #37383
@brettcannon, @Hazhzeng has recently gone through and updated the testing section. Please reopen if the issue still exists. #please-close

[2020-11-10 00:14] #37383 closed

[2020-11-10 00:16] cachai2 commented on #33121
#please-close Updated: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-trigger?tabs=csharp#configuration

[2020-11-10 00:16] #33121 closed

[2020-11-10 00:18] BharathNimmala-MSFT commented on #65764
@brianmooreoxy Thank you for reaching out and sharing your feedback, our team will further review the feedback and update the document accordingly.

[2020-11-10 00:18] cachai2 commented on #34013
#reassign:@cachai2 talk to service bus

[2020-11-10 00:19] ggailey777 commented on #38213
@jrm346 I think that we've recently made some improvements to our Python implementation to address some of these import issues. Please review the [Python dev guide](https://docs.microsoft.com/azure/azure-functions/functions-reference-python#unit-testing).

[2020-11-10 00:20] tamram commented on #65489
@RonnieQuan - Yes, the service-level key is the default for Microsoft-managed keys for queues/tables. Here's a bit more information in the docs for customer-managed keys: [Create an account that supports customer-managed keys for tables and queues](https://docs.microsoft.com/en-us/azure/storage/common/account-encryption-key-create?toc=%2Fazure%2Fstorage%2Fqueues%2Ftoc.json&tabs=powershell)

[2020-11-10 00:20] tamram commented on #65489
#please-close

[2020-11-10 00:20] #65489 closed

[2020-11-10 00:20] cachai2 commented on #36458
#reassign: @mattchenderson

[2020-11-10 00:21] MattMellifont commented on #64332
@GitaraniSharma-MSFT , @mblanco77 - Any updates on the above?

[2020-11-10 00:22] cachai2 commented on #37273
#reassign: @cachai2 ping brett

[2020-11-10 00:25] cachai2 commented on #38152
#please-close please refer to linked feature request issue https://github.com/Azure/azure-webjobs-sdk/issues/1726

[2020-11-10 00:25] #38152 closed

[2020-11-10 00:29] cachai2 commented on #39109
#reassign: @anthonychu developer guides for languages

[2020-11-10 00:30] ggailey777 commented on #40987
The features are related to the plan and OS, which is now available on the [Functions Products page](https://azure.microsoft.com/global-infrastructure/services/?products=functions). I'll make sure we link to this page in the upcoming hosting article update. #please-close

[2020-11-10 00:30] #40987 closed

[2020-11-10 00:31] cachai2 commented on #40741
#reassign: @anthonychu

[2020-11-10 00:32] cachai2 commented on #40810
#reassign: @cachai2 followup with CosmosDB

[2020-11-10 00:33] anthonychu commented on #39109
Looks like we've added [a section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#use-application-settings) that links to how to use environment variables from code. Let us know if there's anything missing. Thanks!

#please-close

[2020-11-10 00:33] #39109 closed

[2020-11-10 00:34] gsxmax opened #65785 "please remove the double quota of $SP_SECRET"
If we add "" for $SP_SECRET, it may recognized as string and cause invalid secret error. Please consider to change it to  $SP_SECRET or "${SP_SECRET}"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2e0d-e70e5d8d0e03
* Content: [Reset the c

[2020-11-10 00:34] ningweinw opened #65786 "IoT Edge Python module - how to get the deviceId from leaf device Message"
[Enter feedback here]

Hi, in the IoT Edge python module example, the module calls module_client.receive_message_on_input which returns a Message object. The Message class does not contain attributes of deviceId and moduleId of the leaf device that initiates the message. In this case are there any ways for the Edge module to figure out the leaf device identity for the received message?

An extende

[2020-11-10 00:34] JamesTran-MSFT commented on #65622
@DerekHerman-MSFT
Thank you for your time and patience.

You should be able to resolve your issue by running:

`az keyvault storage sas-definition show --id https://<YourKeyVaultName>.vault.azure.net/storage/<YourStorageAccountName>/sas/<YourSASDefinitionName>`

![image](https://user-images.githubusercontent.com/36619112/98612455-0f831b80-22a9-11eb-80cd-2d265a8e2c8f.png)
For more info: a[z keyvaul

[2020-11-10 00:34] #65622 closed

[2020-11-10 00:35] cachai2 commented on #42183
#please-close

[2020-11-10 00:35] #42183 closed

[2020-11-10 00:35] ggailey777 commented on #43760
@brettcannon we've recently removed this requirement, which was to support unit tests and not featured in this article. If there are still further issues, please reopen the issue. Thanks! #please-close

[2020-11-10 00:35] #43760 closed

[2020-11-10 00:35] cachai2 commented on #42429
#reassign: @stefanushinardi powershell 7 update

[2020-11-10 00:36] NavtejSaini-MSFT commented on #65604
@niklarin Can you please check the  question from the @MaxMelcher and provide guidance,

[2020-11-10 00:37] anthonychu commented on #40741
@sebastianburckhardt Do you know if you updated the doc? Thanks.

#reassign:@sebastianburckhardt

[2020-11-10 00:38] cachai2 commented on #42902
#please-close Documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-output?tabs=csharp

[2020-11-10 00:38] #42902 closed

[2020-11-10 00:38] ggailey777 commented on #45036
A recent change in folder requirements should resolve these issues. Please see [here](https://docs.microsoft.com/azure/azure-functions/functions-reference-python#folder-structure). If there are still issues, please feel free to open a new issue. #please-close

@Hazhzeng

[2020-11-10 00:38] #45036 closed

[2020-11-10 00:39] stefanushinardi commented on #42429
#please-close As this is not needed for PowerShell 7, I'm closing this issue.

[2020-11-10 00:39] #42429 closed

[2020-11-10 00:39] duongau commented on #65332
@ShadowXVII the warning should now reflect the correct component that isn't supported.

[2020-11-10 00:39] duongau commented on #65332
#please-close

[2020-11-10 00:39] #65332 closed

[2020-11-10 00:40] cachai2 commented on #43438
#reassign: @stefanushinardi

[2020-11-10 00:41] duongau commented on #63796
#please-close

[2020-11-10 00:41] #63796 closed

[2020-11-10 00:43] cachai2 commented on #45257
#reassign: @stefanushinardi

[2020-11-10 00:49] ggailey777 commented on #45257
We've recently improved the folder structure for Python functions, which should address your issues. For more information, see [here](https://docs.microsoft.com/azure/azure-functions/functions-reference-python#folder-structure).  Please reopen if there are still issues #please-close

@Hazhzeng

[2020-11-10 00:49] #45257 closed

[2020-11-10 01:07] ggailey777 commented on #47254
I'm pretty sure that only the version 1.x runtime is supported for .NET Framework, but we'll get some clarification from the #productteam

[2020-11-10 01:08] ggailey777 commented on #47254
#assign:jeffhollan

[2020-11-10 01:09] WinstonHoward-MSFT commented on #65778
Thanks for the issue, I've assigned it to the author to take a look at updating the doc.

[2020-11-10 01:14] tfitzmac commented on #65539
@sean-keane25 - thanks for this feedback. I have updated the article to indicate that some resource providers are registered by default and some are registered for you when you take certain actions. Instead of providing a list of resource types that are registered by default, which might not be up-to-date with the latest changes for resource providers, I have added queries that show how to get a l

[2020-11-10 01:14] tfitzmac commented on #65539
#please-close

[2020-11-10 01:14] #65539 closed

[2020-11-10 01:23] GitaraniSharma-MSFT commented on #65783
@gitclem , thank you for the feedback. We'll review this and get back shortly.

[2020-11-10 01:29] ChaitanyaNaykodi-MSFT commented on #65781
Hello @mieliespoor, Thank you for your feedback! We will review and update as appropriate.

[2020-11-10 01:32] ChaitanyaNaykodi-MSFT commented on #65779
Hello @ujjwalmishra,  Thank you for your feedback! We will review and update as appropriate.

[2020-11-10 01:34] v-kerowe opened #65788 "Powershell output bindings are all sent at once after the function is completed."
In this post is stated that Powershell bindings are all sent after the function is completed, this is something to keep in mind in case someone wants to lets say save exceptions using bindings since its going to create a behavior were the function errors out but nothing is going to be sent over the output bindings.

Could this be added to the *Bindings* section of the document ? thanks !

https://

[2020-11-10 01:36] ChaitanyaNaykodi-MSFT commented on #65772
Hello @wdspider, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-10 01:54] jinzejian opened #65789 "Possible out of date command"
[Enter feedback here]
Hi team, regarding the connection create command, I run the latest az module, and it appears we should use command below: Please verify, thanks!
New-AzVirtualHubVnetConnection -ResourceGroupName vwan -ParentResourceName vhubsea -Name crosstenantconn -RemoteVirtualNetwork $remote

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-11-10 02:05] niklarin commented on #65604
Hey Navtej,

We had an e-mail thread with Max and question was answered there. The docs for Flexible Postgres and MySQL will be updated in a short while (work in progress).

Thanks,
nik

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Monday, November 9, 2020 4:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nik Larin <nlarin@microsoft.com>; Assign <assign@noreply.gi

[2020-11-10 02:27] pnarsi opened #65790 "BYOK Encryption status and Creation via ARM template"
A couple of questions on this this feature:

1) Is this a preview feature or is it GA and usable for production use
2) Can we use a ARM template to specify the BYOK at the time of deployment? I don't see anything in the latest ARM template that suggests that we can: https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/2020-03-01/iothubs

---
#### Document Details

⚠ *Do not edit this

[2020-11-10 02:31] GitaraniSharma-MSFT commented on #65782
@KylePolansky , thank you for your feedback. We'll review this and get back to you shortly.

[2020-11-10 02:33] GitaraniSharma-MSFT commented on #65789
@jinzejian , thank you for your feedback. We'll review this and get back to you shortly.

[2020-11-10 02:53] xps233 commented on #65641
Hi all, is there any update for this revision? I need a firm confirmation on whether it is supported or not.

[2020-11-10 02:53] GitaraniSharma-MSFT commented on #65782
@KylePolansky , as mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/64756, this is a known issue that the FrontDoor PG team have also identified with the ARM template creation.

Right now, the following workout may work (depending on your setup for automating):

- Create Frontdoor and Rules Engine Config FIRST, without having Front door reference the Rules Engine config
- THEN, make

[2020-11-10 02:53] #65782 closed

[2020-11-10 02:53] ash2017 commented on #65790
Please contact us through Microsoft support https://azure.microsoft.com/en-us/support/create-ticket/ to see if this is available in your region for use.

[2020-11-10 03:04] NavtejSaini-MSFT commented on #65604
@niklarin Thank you for confirming and help. We will go ahead and close this thread for now.

[2020-11-10 03:04] #65604 closed

[2020-11-10 03:06] GitaraniSharma-MSFT commented on #65783
@gitclem , PR has been created for adding the word Network Security Groups to the abbreviation NSG in the article and assigned to the author for updating the doc accordingly. It should be updated shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-10 03:06] #65783 closed

[2020-11-10 03:25] JohnRusk opened #65791 "Section on Ingress Controllers needs table of options"
It's hard to understand what the options are, for ingress controllers, because the existing conceptual document doesn't list them all.  I'd like to suggest that it should have a table, something like this:

|Type|Name|Comment|Tutorial Link|When to use|
|--|--|--|--|--|
|Your own controller|Own controller with HTTP only| A controller of your own choice, such as NGINX|https://docs.microsoft.com/en-u

[2020-11-10 03:30] Karishma-Tiwari-MSFT commented on #65785
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-11-10 03:43] v-tawe opened #65792 "client.createOrUpdate is not a function"
Hi Team:

When I run this code snippets, I went to an error : `client.createOrUpdate is not a function`

did I missed something?

node version: `v14.15.0`
package.json:
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24d4f831-e971-91d8-f9e9-70729ef72dc2
* Version Independent ID: eb4c0d76-947f-e260-1058-b4

[2020-11-10 04:06] BharathNimmala-MSFT commented on #65768
@wguyman Thanks a lot for bringing this to our notice, our team will review it and get back to you at the earliest.

[2020-11-10 04:09] #65590 closed

[2020-11-10 04:11] VikasPullagura-MSFT commented on #65791
@JohnRusk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-10 04:11] VikasPullagura-MSFT commented on #65791
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-11-10 04:19] BharathNimmala-MSFT commented on #65770
@marciomocellin Thank you for reaching out , our team will review this and get back to you at the earliest.

[2020-11-10 04:22] krish-gh commented on #58894
Update has been published.

[2020-11-10 04:24] BhargaviAnnadevara-MSFT commented on #65768
@wguyman Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-11-10 04:44] AshokPeddakotla-MSFT commented on #65558
@anastasia-ms Thanks for fixing the doc.
@salus-watson As per the feedback doc has been updated. Please review and update if you have further queries.

![image](https://user-images.githubusercontent.com/44426435/98628773-53bffb80-233d-11eb-8d77-f1fcf616585d.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gla

[2020-11-10 04:44] #65558 closed

[2020-11-10 04:56] brad0000 opened #65794 "Misspelling in AD B2C procedure for recovering extensions app"
There is a miss-spelling in section "Recover the extensions app", on bullet point 4:

The miss-spelling is "b2c-extension-app" which should be "b2c-extensions-app", note the added "s", in order to match example text from Azure AD Graph Explorer:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de278669-8936-37ff-9a5d-b6a

[2020-11-10 04:59] HarithaMaddi-MSFT commented on #65786
@ningweinw - Thanks for posting the queries. Our team is looking into it and will get back to you shortly.

[2020-11-10 05:01] chetansir commented on #60784
Hi Team,
Did we reached any conclusion on the magic commands.

[2020-11-10 05:32] yiliuTo commented on #65368
@souravmishra-msft thank you for your explanation and updates! My new question is about the **optional group claims**, is there a way to configure the display value of `groups` claim? I want it to display the name of groups instead of object-id. I have read about these docs: [doc1](https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-fed-group-claims) and [doc2](https://docs.mic

[2020-11-10 05:37] shashishailaj commented on #65794
@brad0000 Thank you for pointing this out. We will investigate and update the thread.

[2020-11-10 05:38] v-hagamp commented on #64866
Hi @systemsmaven ,
  Thanks for your feedback!
 U can attach the updated screenshots here or else send a mail to _SaaSApplicationIntegrations@service.microsoft.com_
We are waiting for your reply to make further changes.

[2020-11-10 05:42] v-hagamp commented on #59338
Issue resolved as per the suggestion.
#please-close

[2020-11-10 05:42] #59338 closed

[2020-11-10 05:46] v-hagamp commented on #58088
Issue resolved as per the suggestion.
#please-close

[2020-11-10 05:46] #58088 closed

[2020-11-10 06:32] souravmishra-msft commented on #65556
Hello @avpdm, first of all, if you remove the add-in from your tenant, it would also wipe out its Service Principal object from AAD, and hence the CA policy would be of no issue as the CA policy when it gets applied, would be check for that Add-ins service principal object present in your tenant directory or not and if it's not present CA policy won't block there.

Secondly, if the user or anyone

[2020-11-10 06:38] souravmishra-msft commented on #65556
Closing this thread for now, but @avpdm, please feel free to let us know if there are any more queries around this so that we can help you better.

[2020-11-10 06:38] #65556 closed

[2020-11-10 06:41] #65582 closed

[2020-11-10 06:57] SnehaAgrawal-MSFT commented on #65544
@wwlorey Thanks again for the feedback!  I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-10 07:06] souravmishra-msft commented on #65368
Hello @yiliuTo, You cannot get the Group Names (for groups created in AzureAD) in tokens. You only get the group ids as claims in the issued tokens by AAD. Usually, this is good, since the id cannot be changed, unlike the name which can change.

If you want to do authorization based on groups, you can set the ids in a configuration file and then check with the id.

If you want the names for some o

[2020-11-10 07:14] SadiqhAhmed-MSFT commented on #65643
@davidsteinar

    public enum OperationStatus
    {
        /// <summary>
        /// Operation succeeded
        /// </summary>
        Success = 0,

        /// <summary>
        /// Operation failed
        /// </summary>
        Failure = 1,

Does that clarify?

[2020-11-10 07:17] HarithaMaddi-MSFT commented on #65792
@v-tawe - Thanks for posting the query. We are looking into it and we will get back to you shortly.

[2020-11-10 07:21] yiliuTo commented on #65368
Thanks for your help~~

[2020-11-10 07:21] #65368 closed

[2020-11-10 07:27] SampathDilhan opened #65795 "Missing details about custom query params."
This is related to [Send authentication requests](https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#send-authentication-requests) section.

I had a use case where, client application pass a custom param and access that value via custom policies. [This SO question](https://stackoverflow.com/questions/64746982/how-to-read-state-parameter-from-custom-policies-in-aad-b2c)  is

[2020-11-10 07:34] dcurwin commented on #64646
We haven't heard back from you, so I hope the above answered your question. If you have any additional concerns, please let us know.

#please-close

[2020-11-10 07:34] #64646 closed

[2020-11-10 07:37] krish-gh commented on #62578
@EmreMARTiN , following up to see if the support case resolved your issue. If you don't mind can you please post the summary of the root here to help people who might face similar issue.

[2020-11-10 07:39] AlMargoi opened #65796 ""My issue is not listed above" is not available when trying to raise a request as instructed."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3ad66f-14bd-bd67-40d2-9b6f29cd633c
* Version Independent ID: 922adbe4-fefb-e895-d7dd-42279d24ff66
* Content: [Region or SKU series unavailable - Azure](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/sku-series-unavailable)
* Cont

[2020-11-10 07:40] dcurwin commented on #63108
@MicrosoftDocs/azure-cxp-triage Can this issue be associated to this document instead?

https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-migrate

[2020-11-10 07:45] BharathNimmala-MSFT commented on #63108
@dcurwin I have updated the metadata of the issue with the document link you shared.

[2020-11-10 07:47] ram-msft commented on #65630
Thanks for the feedback. @swmachan Could you please help to update the following document.
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/sentence-alignment

[2020-11-10 07:51] kishaa commented on #65334
@mscatyao is there any update which you would like to share?

[2020-11-10 07:51] BharathNimmala-MSFT commented on #65532
@goyomiller Apologies for the experience , I am further assigning this to our document author @lgayhardt to further evaluate the feedback and do the needful to update the document.

[2020-11-10 07:52] Sharmistha-Rai commented on #63108
@kappmeier - thanks for bringing this issue to our notice. I couldn't find the content you mentioned in [this](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-migrate) documentation. Could you please help provide the link for the doc where you found this and we can rectify the issue.

As for your question - you're correct, the vault can be in any location **except** th

[2020-11-10 07:58] Sharmistha-Rai commented on #63108
I found the documentation [link](https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault). This is Azure Backup documentation.

While setting up Azure Site Recovery, the recovery services vault will never be in the location same as the source location.

[2020-11-10 08:05] neok-g opened #65797 "Can I use the [Deploy to Azure] button for Azure Git repo?"
[Enter feedback here]

Is it supported and if so, how should I format the URL to the azuredeploy.json in the AzureDevOps git repo?
I also checked https://github.com/MicrosoftDocs/azure-docs/issues/61713

The steps I took:

1. I tried this with the following RAW url of the azuredeploy.json:
https://dev.azure.com/{{tenant}}/{{teamproject}}/_apis/sourceProviders/tfsgit/filecontents?repository=arm&com

[2020-11-10 08:05] shashishailaj commented on #65056
@MINDoSOFT This change has been incorporated within the document .

![image](https://user-images.githubusercontent.com/532022/98646592-98599000-2359-11eb-88b8-a29736009fd5.png)

We will now close this issue .

Thank you.

[2020-11-10 08:05] #65056 closed

[2020-11-10 08:09] RohitMungi-MSFT commented on #65770
@marciomocellin Could you try to update the name of your environment after getting the curated environment?

[code]

[2020-11-10 08:13] rayne-wiselman commented on #63108
Please assign to @dcurwin since this is about backup documentation, with the link Sharmistha mentioned above.  thx

[2020-11-10 08:14] cedricmaesse opened #65798 "Difficulties with mysql workbench use"
Hi all,

In the document, as you explain, we can use mysql Workbench to connect to the azure mysql database by access token.
I succeed to do that but each hour (when the token expire) I have to reconnect mysql workbench by given a new token.
Is there an other way to do that ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-10 08:19] miqm commented on #63779
@duongau - Thank you, however on the website is "DigiCert Global CA G2", while the authority name is "DigiCert Global Root G2". Please fix this.

[2020-11-10 08:39] MakeSense27 commented on #65670
Hi @SatishBoddu-MSFT,
Sorry, I managed to fix the problem yesterday. Somehow npm was making dependencies issues and the same was happening when I tried using yarn. So I uninstalled/reinstalled Node.js and, even though npm still wouldn't work, yarn did the trick !
Thank you for your help !

[2020-11-10 08:41] henrypi73 opened #65799 "SCOM Management group"
So we define the network link and ports for the comms between SCOM management group and LAW, but from which server do they need to define the firewall rules, the actual SCOM server that the console is used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4096fac2-6f38-0e29-45a7-5eedc9abbd30
* Version Independent ID: 49e

[2020-11-10 08:51] KrishnaG-MSFT commented on #65797
@neok-g Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-10 09:25] KrishnaG-MSFT commented on #65796
@AlMargoi Good observation and thanks for the feedback!

[This](https://docs.microsoft.com/en-in/troubleshoot/azure/general/region-access-request-process) is the support document that is current and maintained by our support team. Going forward, please follow it. We will work on our end to update our process to point customers to this support doc instead. @stevendotwang - FYI.

If there are furthe

[2020-11-10 09:25] #65796 closed

[2020-11-10 09:26] kieronlanning commented on #65136
@WinstonHoward-MSFT Done...!

[2020-11-10 09:33] PramodValavala-MSFT commented on #65788
@v-kerowe Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-11-10 09:35] rayne-wiselman commented on #65549
@artisticcheese . Thanks for your feedback!. I'm checking this issue with the PM team.

[2020-11-10 09:40] AnuragSharma-MSFT commented on #65798
@cedricmaesse Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-10 09:44] rayne-wiselman commented on #65165
@jtuliani Thanks for your feedback.  Can you let us know which line you're referring to. A search for exact text "Unsupported operating system" doesn't show up a result in this article. Is the ask for all references to "operating system" in the assessment readiness table should be changed to "OS" for clarity? Can you also let us know which error description only covers the VMware case. This will h

[2020-11-10 09:56] Anmolgan81 commented on #65709
@BryanTrach-MSFT any updates here?

[2020-11-10 09:57] wely opened #65801 "Choosing Availability Zone vs Availability Set: when to choose what?"
This article explains the definition of the terms like Avail Zone, Avail Set, Update Domain, Fault Domain, etc.

However, it still doesn't help customer makes decision when to choose Availability Zone vs. Availability Set, including what are the trade off (pros and cons) when choosing one vs. another.

So, i look forward further guidance on this area.

---
#### Document Details

⚠ *Do not edit thi

[2020-11-10 10:07] ravindraP20 commented on #65579
@AnuragSharma-MSFT Thanks for your response

[2020-11-10 10:16] n-elia commented on #65654
@stevebus has cleared my doubts [here](http://busbyland.com/azure-device-provisioning-server-over-mqtt-using-x509-certificates/#comment-5051) 👍

In short, when using pure _MQTT protocol secured by X.509 certificates_ to connect your devices to Azure DPS, you should use the `CN/SubjectName` of the certificate provided in the enrollment group as `registration_id` for building the MQTT parameters str

[2020-11-10 10:21] Sharmistha-Rai commented on #63108
@kappmeier -
Recovery Services Vault is used for facilitating both Azure Backup and Azure Site Recovery. When using a vault to setup Backup, it is required to have the vault in the same location as the data source. Whereas, when using a vault to setup Azure Site Recovery, it is required to setup the vault in a different location - anything except the data source location. Even though both the serv

[2020-11-10 10:25] #65580 closed

[2020-11-10 10:25] #65567 closed

[2020-11-10 10:26] davidsteinar commented on #65643
Sure this is correct for the [operation status PATCH](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#update-the-status-of-an-operation)  but the actual given status in the webhook payload is "succeeded". In the documentation you specify this value falsely as "succeed". This should look like this:

[code]

[2020-11-10 10:31] dcurwin commented on #63108
#please-close

[2020-11-10 10:31] #63108 closed

[2020-11-10 10:35] J0F3 commented on #64633
I experienced the same. `enrollmentAccounts` is not part of the response. I cloud get it through an other call:
`GET https://management.azure.com/providers/Microsoft.Billing/billingAccounts/<billing account id>/enrollmentAccounts?api-version=2019-10-01-preview`

Where the `billing account id` is the id from the response of the call documented on this page. (`GET https://management.azure.com/provid

[2020-11-10 10:38] J0F3 commented on #64711
I would appreciate it too. Creating ARM deployment through REST is not very practical.

It states even: "The following examples use REST APIs. Currently, PowerShell and Azure CLI aren't supported."
I wondering if this is actually true and if yes why?!

[2020-11-10 10:41] sjosyula3 commented on #64633
@J0F3 - I am very sure you must have considered this, but given the documentation for 2020 version has to be updated - and the 0.0.7 version of the SDK also needs the "AliasOperations" to be documented properly - I have shifted to using the 2018 preview version.  Works just fine for me - as of now.

[2020-11-10 10:44] nerajput1607 commented on #65212
#please-close

[2020-11-10 11:02] psmanhas commented on #65801
@wely Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-10 11:02] psmanhas commented on #65801
@cynthn
Can you please check and add your comments on this doc update request as applicable

[2020-11-10 11:34] marciomocellin commented on #65770
thanks @RohitMungi-MSFT. I already solved this
[code]

[2020-11-10 11:34] #65770 closed

[2020-11-10 11:35] rayne-wiselman commented on #59942
@juanandmsft I've fixed the text to make things clearer. The change should show up later today. thx

#please-close

[2020-11-10 11:35] #59942 closed

[2020-11-10 11:39] rayne-wiselman commented on #65549
@artisticcheese. Hi, this seems to be a configuration issue rather than a docs issue. You might open a ticket to request technical assistance, or post your question in Microsoft Q&A. Thanks!
#please-close

[2020-11-10 11:39] #65549 closed

[2020-11-10 11:49] pvrk commented on #65600
@LijuV-MSFT : The documented version of the command is the correct one and supposed to work. The failure is a bug and we will fix in the upcoming release by Dec 8th.

Given that there is no change in doc, can I please close this bug now and you can re-open if this not fixed in Dec 8th released version?

[2020-11-10 11:52] J0F3 commented on #64633
@sjosyula3 thanks for you response. Yes the 2018 preview version seems to work better as long as you use the REST APIs but my goal is actually to create a subscription through an ARM template.

Something seems to be changed fundamentally since the 2018 preview API because the Enrollments Account have completely different IDs than in the 2020 API. I have also definitively the permission to create S

[2020-11-10 12:11] SadiqhAhmed-MSFT commented on #65734
@J0F3 You don’t need to be EA Admin to create Subscription, enrollment account role is fine.

EA Admin is only required to add a new enrollment account.

When you run GET https://management.azure.com/providers/Microsoft.Billing/billingaccounts/?api-version=2020-05-01 as account owner, it should list the Enrollment Billing account which you have access to with the enrollment account bearer token.

[2020-11-10 12:13] damochiz opened #65803 "The price of PBS Family of Azure VMs is unknown."
[Enter feedback here]
PBS Family of Azure VMs is introduced in the FPGA support in Azure section, but the price is unknown. There is also no public information with details.

- [FPGA support in Azure](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-fpga-web-service#fpga-support-in-azure)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-11-10 12:15] SadiqhAhmed-MSFT commented on #65643
@davidsteinar Thanks for the feedback.

@mingshen-ms Could you please review this request and update the documentation accordingly?

[2020-11-10 12:16] SadiqhAhmed-MSFT commented on #65625
@Mozumich77 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-11-10 12:16] #65625 closed

[2020-11-10 12:19] craigshoemaker commented on #65543
@wwlorey - thanks for the heads up! This was fixed by @BryanTrach-MSFT with 85c0f643fa86672580429d7445ef2c01af545bca.

#please-close

[2020-11-10 12:19] #65543 closed

[2020-11-10 12:27] savjani commented on #56534
Hi @christiankuhtz, @malopMSFT, @NavtejSaini-MSFT - This thread is around 157 days old now and @kummanish  is no longer with Microsoft. Can we please close this ? I agree with Manish here that we have a pointer to your docs since resource graph query may be out of context in our documentation. Further, if there are any disagreements, we can start an internal thread. It need not have to be on this

[2020-11-10 12:34] j82w commented on #64959
@papadi thank you for reporting this. The update to the docs should be merged in the next few days.

[2020-11-10 12:35] J0F3 commented on #65734
@SadiqhAhmed-MSFT Yea, I got it working. Our EA Admin gave me Read-Only Admin Access and now I can see the Billing Account with `GET https://management.azure.com/providers/Microsoft.Billing/billingaccounts/?api-version=2020-05-01`.

But the API definitely does not return the Enrollment Account. There is already an other issue open about that (#64633). Probably because of that you get an empty resp

[2020-11-10 12:38] dazinator opened #65805 "Are there any updates to these docs - concerned about current status of the project"
Can you perhaps link to the issue?

Are there any other updates to this doc as it looks like its a year old - has nothing changed in the interim regarding the issues described?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb514dd-f5f3-a30f-4020-2fdcb92ee5a2
* Version Independent ID: 7764af24-b622-8f85-1136-cb64e9ba6

[2020-11-10 12:44] JayaChatterjee-MSFT commented on #65574
@sgdesmet Yes you are right. The ip-filter policy uses the value from the original context request IP Address : https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions#ref-context-request
Alternatively, you can implement the validation logic using policy expressions and make use the X-Forwarded-For value. For reference please refer to [this example](https://docs.mic

[2020-11-10 13:05] psmanhas commented on #65510
@zr-msft Can you please check and add your comments on this doc update request as applicable

[2020-11-10 13:07] psmanhas commented on #65128
@mattp-rab
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-10 13:07] #65128 closed

[2020-11-10 13:07] psmanhas commented on #64657
@guptaanoop29 We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-10 13:07] #64657 closed

[2020-11-10 13:13] shashishailaj commented on #65795
@SampathDilhan Thank you for your query. We will investigate and update the thread.

[2020-11-10 13:16] docbugger opened #65806 "Bastion connection documentation does not describe security promises for password handling"
Connecting requires you to enter a plaintext VM password into a Web form. Documentation should define the security and privacy guarantees around how that password is handled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d53c0bc-f5bb-0f6e-5fb7-fb775eab4f4a
* Version Independent ID: b8d3a089-c160-7681-2a06-c230c19143d

[2020-11-10 13:20] onemoregile commented on #43666
On macOS Catalina (10.15.7) I am experiencing the "There was a problem connecting to the server" error, tried both via Finder and command line.
I have keys with no / but still it doesn't work.

[2020-11-10 13:37] SadiqhAhmed-MSFT commented on #65734
@J0F3 Thanks for the update. Glad to know you got it working. As far your other query, we will have it reviewed by our content owner and update it accordingly. Let me know if we are good to close this issue.

@bandersmsft FYI, to review and update!

[2020-11-10 13:47] thommck opened #65807 "What is Cooking?"
The File optimisations section say, "It is recommended to have a "cooking" process that generates larger files to use for downstream applications."
Do you have any guidance on what "cooking" is and how to do it? If I'm generating data from IoT devices or log files that is typically tiny files (under 1MB)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-11-10 13:55] #64959 closed

[2020-11-10 13:59] jleechp-occm opened #65809 "Missing Route Table rule when using UDR + Virtual Router"
There appears to be a situation where an additional UDR is required pointing to the API server public IP with next_hop being Internet.  Without this the tunnelfront pod (and therefore proxied calls such as `exec` and `logs`) failed with an I/O timeout.

This does not appear to be DNS related (even though a custom DNS server was in use).

---

Based on the documentation, the following UDR Routes ar

[2020-11-10 14:14] J0F3 commented on #65734
@SadiqhAhmed-MSFT yes you can close this one. If it helps I can open another issues about the permissions?

[2020-11-10 14:14] AshokPeddakotla-MSFT commented on #65505
@chinkl75 I have been researching on this issue and haven't found more information.
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Thread URL: #
Your Subscription ID:
Email Subject:

[2020-11-10 14:21] craigshoemaker commented on #65544
@wwlorey - Thanks for the note. I am having people go to the portal because the Overview pane has direct links to the site's public URL and GitHub Action. Ultimately, when you first create the app it has to build and the banner shown in the portal does a good job of notifying developers that they need to wait for the Action to finish before the app is available.

I'd like to keep it as-is for now,

[2020-11-10 14:21] #65544 closed

[2020-11-10 14:25] SatishBoddu-MSFT commented on #65670
Thank you for the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-11-10 14:25] #65670 closed

[2020-11-10 14:26] craigshoemaker commented on #64146
Good point, @jgwinner. I have updated the title to read, "Deploy static-rendered Next.js websites on Azure Static Web Apps Preview"

#please-close

[2020-11-10 14:26] #64146 closed

[2020-11-10 14:40] stevebus commented on #65654
FYI - I mentioned to Nicola in a comment on my blog that registration id guidance in x509 scenarios can be found here -> https://docs.microsoft.com/en-us/azure/iot-dps/concepts-service#registration-id   (the second bullet in the list)

Might be worth adding a quick reference to that anchor from the MQTT docs...

[2020-11-10 14:44] onemoregile commented on #51129
Hello @SumanthMarigowda-MSFT

I am on a MacOS Catalina (10.15.7) and following the guidelines mentioned in this thread I am experiencing the same problem.

Here are the details:

- As per the required prerequisites, I've disabled the firewall to ensure TCP port 445 is not blocked.

- Trying to connect using Finder I get the error:  "There was a problem connecting to the server"

- Trying to connec

[2020-11-10 14:59] LijuV-MSFT commented on #65600
@pvrk Yes, you may close the bug. Thank you.

[2020-11-10 15:12] kraknellok opened #65810 "Typo"
Doc says...
One to detect attacks is through activity monitoring activity and logging analytics.

You need:
One **way** to detect attacks is through activity monitoring activity and logging analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc49b6-8652-e740-aab9-b00df8de5ac5
* Version Independent ID: 38a06554-

[2020-11-10 15:35] jonwbstr opened #65811 "What is the default policy?"
When adding a new VPN Connection I can use the default "IPsec / IKE policy" or choose a custom one. I clicked the ? to find out what the default policy is, and was directed to this page where I do not see the default policy described.

The current link is useful, and a quick google search finds this page, maybe add a link to this article?

default-ipsec-policies
https://docs.microsoft.com/en-us/az

[2020-11-10 15:41] tfitzmac commented on #65797
@neok-g - thanks for this feedback. I was able to get this to work by using a different operation. I used:

https://dev.azure.com/{organization-name}/{project-name}/_apis/git/repositories/{repository-name}/items?scopePath={url-encoded-path}

For the scope path, I URL encoded a value that started as %2FRepoName%2FWebSiteSQLDatabase.json&api-version=6.0

So the button looks like:

`[![Deploy to Azur

[2020-11-10 15:48] GavinTinnellySIT opened #65812 "Issues with information on the page"
Hi Team,

From reading this page it would seem that its possible to restrict access to Onedrive and Sharepoint via the browser on devices that are not azure ad registered. This doesn't seem to be the case, i had a case open with support and they confirmed this. Could this documentation please be updated to reflect what actually needs to be done in order to resolve this issue.

Gavin Tinnelly
Suppo

[2020-11-10 16:03] Karishma-Tiwari-MSFT commented on #65601
@Maelito77 I am looking into it and will update you soon.

[2020-11-10 16:06] Karishma-Tiwari-MSFT commented on #65748
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-10 16:17] chinkl75 opened #65814 "Can I create a dashboard that is personal to a particular user only?"
Hi,
Can I create a dashboard that is personal to a particular user only, and not accessible to other user?
I couldn't find a way to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dfd552d-139b-9ec8-f812-6675228c969a
* Version Independent ID: d007860c-5cb3-f464-02fc-1ce249d8ddb2
* Content: [Add tiles to your Azur

[2020-11-10 16:19] Karishma-Tiwari-MSFT commented on #65599
@v-chkinn Since we are connecting offline, I will close this issue.
Let's post the solution here once we have an update.

[2020-11-10 16:19] #65599 closed

[2020-11-10 16:24] anthony-c-martin opened #65815 "Lock resource ARM template sample should use extension resource scopes"
We should update our ARM Template docs examples to consistently demonstrate the 'best practice' way to deploy extension resources - using the 'scope' property, rather than munging the 'type' and 'name' fields to generating a resourceId.

See this article for an example: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/scope-extension-resources?tabs=azure-cli#apply-to-resourc

[2020-11-10 16:29] tfitzmac commented on #65449
@HarithaMaddi-MSFT - can you provide more info about what the customer is experiencing? Did the customer exceed a maximum length? There is no max value in the REST API specification for parameters, and no limit for the ARM template, other than the total limit for a parameter file.

[2020-11-10 16:48] jmprieur commented on #65812
@GavinTinnellySIT : your question is probably about conditional access, not about migration from ADAL to MSAL. Is it? Which part of the article makes you think that your question is related to MSAL?

I suggest you look at: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions

[2020-11-10 16:51] burtzz opened #65816 "Seamless SSO"
We are moving out from ADFS 3.0 to Password Hash-Sync.

Why should we consider Seamless SSO if we have windows 10 v19xx and hybrid joined?
As far as I understand we don't gain anything by enabling Seamless SSO.
The SSO capability is already offered by the conjunction of windows 10 v19xx and Azure AD hybrid joined

Anyone available to validate this assumption?
thank you

---
#### Document Details

[2020-11-10 16:52] tfitzmac commented on #65449
@markingmyname - are you familiar with Data Factory parameters and whether there is a max length for those parameters?

[2020-11-10 16:54] GavinTinnellySIT commented on #65812
Yes im sorry i wrote my comment under the incorrect document, my apologies.

[2020-11-10 16:54] #65812 closed

[2020-11-10 17:07] franzoir opened #65818 "Add emphasis on configuration outcome"
This section contains almost exactly the same wording and could easily be misread. (I just did)
I recommend putting emphasis on the *never* and *always* for the different configuration or split by bulletpoints.

*To configure Azure Firewall to never SNAT regardless of the destination IP address, use 0.0.0.0/0 as your private IP address range. With this configuration, Azure Firewall can never route

[2020-11-10 17:14] ajinkrayate commented on #28457
@yash-abhyankar Issue solved, internally. Will discuss once you are back.

[2020-11-10 17:31] jgwinner commented on #64146
Thanks Craig!

@craigshoemaker

[2020-11-10 17:31] WinstonHoward-MSFT commented on #65809
Thanks for the additional route, I've assigned this to the author to consider adding that to the routing table.

[2020-11-10 17:34] WinstonHoward-MSFT commented on #65805
I've assigned this issue to the doc author to follow up. I'll keep myself assigned to ensure this doesn't get dropped.

[2020-11-10 17:45] pavlism opened #65819 "Missing Azure Icon"
I was using this tutorial: https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?pivots=platform-windows

It said to click on the Azure Icon, but there isn't one.  The help page doesn't address this problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 298b87f4-b6eb-5642-7ab5-cd6df709390d
* Version Ind

[2020-11-10 17:47] markingmyname commented on #65449
Hi, @tfitzmac

https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/includes/azure-data-factory-limits.md

|------|---------|-------|
| type | Default | Max |
Maximum parameters per pipeline | 50 | 50
ForEach items | 100,000 | 100,000
ForEach parallelism | 20 | 50
Maximum queued runs per pipeline | 100 | 100
Characters per expression | 8,192 | 8,192

[2020-11-10 17:49] duongau commented on #63779
@miqm This has been changed to reflect the correct authority name.

[2020-11-10 17:49] markingmyname commented on #65449
I'll also add @linda33wj for further details.

@linda33wj, can you please assist with this information?

thank you.

[2020-11-10 17:50] pranavsanghadia opened #65820 "Overlaps or confuses with next section "Create test certificates""
[Enter feedback here]

This page provides enough information but confuses with next page (from left menu/bar): https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates . It would be good if it is made clear on when to use instruction from this page vs. the next page (how to create test certificates)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-11-10 17:51] pavlism opened #65821 "Error not covered in page"
Was following this tutorial: https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?pivots=platform-windows

ran into this error when trying to sign in: An error occurred while signing in:
AADSTS40010: The identity provider has failed with a transient error. Trace ID: 8aa1f8fd-25f9-497e-ae40-4aaefe59bb01 Correlation ID: 71332716-60a5-4ecb-ac75-1f1d2bca6bf6 Timestamp: 2020-11-10 17:50

[2020-11-10 17:53] YutongTie-MSFT commented on #65583
@fernandocostas This has been fixed. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-10 17:53] #65583 closed

[2020-11-10 17:54] neok-g commented on #65797
@tfitzmac thanks for your response!

Ok pre-req is that the teamproject must be public! That fixed it! Thanks again. The issue can be solved!

[2020-11-10 17:56] yash-abhyankar commented on #28457
Sure

On Tue, Nov 10, 2020, 10:44 PM ajinkrayate <notifications@github.com> wrote:

[2020-11-10 18:01] ChaitanyaNaykodi-MSFT commented on #65810
Hello @kraknellok, Thank you for your feedback! We will update the document soon.

[2020-11-10 18:04] YutongTie-MSFT commented on #65803
@damochiz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-10 18:05] donniekerr opened #65824 "iotedge list exit error after following these instructions"
[support_bundle.zip](https://github.com/MicrosoftDocs/azure-docs/files/5519307/support_bundle.zip)

I follow the instructions on this page for Linux and everything seems to work fine until I try to run "iotedge list" and I get an exit error.  I've attached a support bundle for it.  Did I miss a step or is there steps missing on this page?

Thanks
Donnie

---
#### Document Details

⚠ *Do not edit t

[2020-11-10 18:07] raghava1147 opened #65825 "Azure AD B2C Application redirect url edit failure issue once the app is deleted and restored"
Customer accidentally deleted their B2C app registration, and upon restoring when they try to edit the Redirect url getting internal sever error. When we do the process in Azure AD tenant it works as expected.

![image](https://user-images.githubusercontent.com/65304445/98712761-8ec12f80-233b-11eb-80fb-75347378377a.png)

Steps to reproduce the issue.

1. Create a new application and any redirect u

[2020-11-10 18:21] JamesTran-MSFT commented on #65651
@robertpiska
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-11-10 18:36] BharathNimmala-MSFT commented on #65816
@burtzz Thank you for reaching out to us. Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-11-10 18:41] Blackbaud-ChrisBlythe commented on #63988
@vishiy @femsulu Apologies for pestering... still hoping for some guidance here...

[2020-11-10 18:43] BharathNimmala-MSFT commented on #65799
@henrypi73 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-11-10 18:49] robsanf opened #65826 "References to VMMS should be VMSS"
There are three references to "VMMS" on this topic page. These are references to Virtual Machine Scale Sets, so they should be changed to VMSS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00343476-cbb4-2f94-a164-e094fece7a6d
* Version Independent ID: 8cbbab0d-a0f2-fe64-bb5a-1e280c5332b2
* Content: [Configure Log Ana

[2020-11-10 18:53] palma21 commented on #65809
Not sure I understood, which route is missing from?
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#create-a-udr-with-a-hop-to-azure-firewall

[code]

[2020-11-10 18:55] #65810 closed

[2020-11-10 18:57] daviburg opened #65827 "Document signing into a Service Account with the Office 365 Outlook connector, with SSO (Single Sign On)"
Document signing into a Service Account with the Office 365 Outlook connector, with SSO (Single Sign On).

There are two options:
1.	Via the service account log into the Azure portal and create the connection. This will require that the Service Account has ‘Contributor’ role at the Resource Group level.
2.	There is a parameter in the ‘Send email’ action that is From (Send as). Put the Service Acco

[2020-11-10 19:12] #65734 closed

[2020-11-10 19:21] JamesTran-MSFT commented on #65825
@raghava1147
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-10 19:28] joshhayskr opened #65828 "Update Java 11 to GA"
It looks like java 11 is GA: https://azure.microsoft.com/en-us/updates/java-11-support-for-azure-functions-is-now-generally-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac
* Version Independent ID: 2fe0dbd3-7e5b-04b1-46e5-fecd89c4a780
* Content: [Supported languages in Azu

[2020-11-10 19:29] AjayKumar-MSFT commented on #65516
@difatkulbayanova, We will close this out, but if you feel you need more information please just let us know.

[2020-11-10 19:29] #65516 closed

[2020-11-10 19:34] christiankuhtz commented on #56534
I think the point here is to indicate a path to create this workflow in a programmatic fashion that doesn't require interactive digging for a property.  As such, discovering this information via a programmatic instruction should be documented.  If not in this doc, where should it live?

[2020-11-10 20:01] JamesTran-MSFT commented on #65685
@NovotnyMarek
Thank you for your time and patience! Since it's been a few days I just wanted to check in and see if you're still having issues running the application?

I was able to follow the documentation and successfully ran the UWP project:
![image](https://user-images.githubusercontent.com/36619112/98727137-537b2c80-234c-11eb-9081-4c10b622b11d.png)

If you have any other questions, please le

[2020-11-10 20:03] CYoderDev commented on #48902
The az cli command doesn't seem to work for AppServiceLinks. It runs successfully, but the link does not delete.

Can we get an actual fix for this? If you don't provide a way to disconnect the vnet in the case where an app service and the ASP are deleted, then you are likely going to be generating quite a few support tickets for us in non-production environments where deleting entire resource gro

[2020-11-10 20:03] tfitzmac commented on #65449
@markingmyname - thanks! It looks like "Characters per expression" provides the answer. I'll close this issue, but can reopen if that is not related to the original question.

[2020-11-10 20:03] tfitzmac commented on #65449
#please-close

[2020-11-10 20:03] #65449 closed

[2020-11-10 20:30] tfitzmac commented on #65797
@neok-g - glad to hear that worked. I am adding some of that info to the article.

[2020-11-10 20:30] tfitzmac commented on #65797
#please-close

[2020-11-10 20:30] #65797 closed

[2020-11-10 20:32] shortpatti commented on #64050
Azure Files is currently not supported.

#please-close

[2020-11-10 20:32] #64050 closed

[2020-11-10 20:42] shortpatti commented on #65028
#please-close

Question answered

[2020-11-10 20:42] #65028 closed

[2020-11-10 20:44] donniekerr commented on #65824
Note that these steps don't work because upboard-extras isn't found in step a.  (My AAEON device is not purchased from Up.)

Enable the HAT functionality
		a. sudo apt install upboard-extras
		b. sudo usermod -a -G gpio ${USER}
		c. sudo usermod -a -G leds ${USER}
		d. sudo usermod -a -G spi ${USER}
		e. sudo usermod -a -G i2c ${USER}
		f. sudo usermod -a -G dialout ${USER}
		g. sudo reboot now

[2020-11-10 20:59] Nickomang commented on #59675
Closing for lack of activity and lack of artifacts represented in docs. If the issue persists, I'd recommend opening a ticket with Azure Support, who will be more equipped to provide info on the CRP issue, and feed us a docs change if necessary.

#please-close

[2020-11-10 20:59] #59675 closed

[2020-11-10 21:01] NovotnyMarek commented on #65685
Hi James,

thanks a lot for checking in, I tried to re-run all the steps incl. extracting the whole package at the beginning and always got the same issue - missing resource file - Microsoft.Extensions.DependencyInjection.Abstractions.Resources.resw

Not sure what could cause the issue. Any suggestions are welcome.

Thanks,

Marek.

Od: James Tran-MSFT <notifications@github.com>
Odesláno: úterý 10

[2020-11-10 21:02] PeterCLu commented on #65803
Hi @damochiz, you can find pricing information on our pricing guide.
https://azure.microsoft.com/en-us/pricing/details/machine-learning/

If you scroll down and select the "FPGA" tab, you can see pricing for PB-Series FPGAs.

[2020-11-10 21:06] Tiffastic opened #65830 "Not Enough Info on page: Azure Event Hubs - Geo-disaster recovery"
Hi, I am trying to follow the lessons on the page: Azure Event Hubs - Geo-disaster recovery.  On that page, I read that I'm supposed to create a pairing between primary and second Event Hub Namespaces.  But there are no links or resources pointing to how to create this pairing.  The failover diagram is good, but I'm not just reading this page for fun, I'm reading because I need to accomplish some

[2020-11-10 21:16] duanzy47 opened #65831 "Direct connection between Azure Analysis service and Azure PostgreSQL"
Hello, I'm deploying a BI system in Azure which consists of an Azure PostgreSQL server connected to an Azure Analysis Service server. According to [this reply](https://github.com/MicrosoftDocs/azure-docs/issues/59773), I know the Azure PostgreSQL can not be directly used as data source of Analysis Service.

At present, I had no choice but to install an On-premise data gateway in an additional VM i

[2020-11-10 21:19] Nickomang commented on #44678
We've updated the doc to include references to the latest and appropriate version of the Service Fabric Onebox image, now hosted on MCR. Thanks for the feedback!

#please-close

[2020-11-10 21:19] #44678 closed

[2020-11-10 21:28] pranavsanghadia opened #65832 "Please provide some screenshots or more details about downstream device and how to change the connection string"
[Enter feedback here]

It is not clear what to do after creating an IoT Device (downstream) in IoT Hub. After double clicking IoT Device in IoT Hub I could see the connection string and understand what needs to be modified but the connection string is read only. I think there is a gap or missing information, do you expect user to copy and then modify connection string in a note pad? It makes sense

[2020-11-10 21:29] PeterCLu commented on #65803
It's a good callout that we should provide a link to the pricing page in this article. I'm adding a link to, you should see the changes live in a few hours.

[2020-11-10 21:30] JamesTran-MSFT commented on #65704
@GitHubSachin
Thank you for your time and patience. The error message you received, is saying that you don't have the correct permissions to create a key within your vault.

**Error message:**
"statusMessage": "{"error":{"code":"ForbiddenByRbac","message":"[**ForbiddenByRbac (Forbidden)] Caller is not authorized to perform action on resource.**\r\nIf role assignments, deny assignments or role defi

[2020-11-10 21:39] gitclem opened #65833 "No way to slow down (or speed up the video)"
The video is hard to follow because it goes by so fast.  There is no way to control the speed.  I had to back up constantly.

Also, it is incredibly irritating that creating a new machine takes **4 minutes**!  For something that long, you should give the user an indicator of the progress that is being made. It's easy to believe that something died.

---
#### Document Details

⚠ *Do not edit this s

[2020-11-10 21:44] DerekHerman-MSFT commented on #65807
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-10 21:53] JamesTran-MSFT commented on #65685
@NovotnyMarek
Thank you for the quick response!

-Can you make sure that your Visual Studio 2019 is up to date?
-Have you tried running the application via x64 and x86?
-Have you tried downloading the [Microsoft.Extensions.DependencyInjection.Abstractions](https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection.Abstractions/1.0.0), via the package manager?
-Can you make sure that t

[2020-11-10 21:55] TopperKain opened #65834 "Instructions on configuring build is wrong"
The instructions for configuring the build are wrong. They indicate there is an next button, but that is no longer present on the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content: [Add an API to Azure Sta

[2020-11-10 21:57] JamesTran-MSFT commented on #65657
@mattallscripts
Thank you for your time and patience. I've reached out to our engineering team regarding this ask and will update as soon as possible.

If you have any other questions, please let me know.

[2020-11-10 22:08] Nickomang commented on #57063
Hi @senglory, Thanks for the feedback. The TestConfiguration.ps1 file is part of the Service Fabric Standalone package for Windows Server. The entire contents of the package can be seen here: https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-standalone-package-contents

As the doc states to run the file in the standalone package directory, the file will be included in the dire

[2020-11-10 22:08] SB-o-matic opened #65835 "MyAccess Portal for Social Accounts"
I submitted these questions before but it was closed before I got a response.

We used to be able to have social accounts request access packages by signing in at myaccess.microsoft.com. Now, we get an error that says you can not sign in with a personal account. Why is this the case since it remains possible to create a domain like gmail.com or outlook.com as a connected organization in Entitlemen

[2020-11-10 22:08] #57063 closed

[2020-11-10 22:08] NovotnyMarek commented on #65685
Thanks to you for your support, checked it and folder exists, reference is linked, package downloaded (tried to add it again to download package again) but still the same output:

„C:\Users\marek\.nuget\packages\microsoft.net.uwpcoreruntimesdk\2.2.10\tools\CoreRuntime\Microsoft.Net.CoreRuntime.targets(195,9): error : Framework resource extraction failed. Could not find a part of the path 'C:\Users

[2020-11-10 22:15] NovotnyMarek commented on #65685
James,

quick update, I’m able to run the solution now, updated all the linked nuget packages to ver 5.0 from whatever was there in original solution (mostly 3.x). It does not explain why it did not run for me with the original versions of these packages but the most important is i can run it now.

Thanks for your support,

Marek.

Od: James Tran-MSFT <notifications@github.com>
Odesláno: úterý 10.

[2020-11-10 22:17] CaitlinV39 commented on #65652
I updated this! Should be good to close.

[2020-11-10 22:20] JamesTran-MSFT commented on #65685
@NovotnyMarek
Thank you for the quick update! I'm glad you were able to resolve your issue and will now go ahead and close out this issue.

I'll also tag the author of this doc, @jmprieur for their awareness.

Thank you again for your time and patience throughout this issue.

[2020-11-10 22:20] #65685 closed

[2020-11-10 22:27] YutongTie-MSFT commented on #65833
Thanks for the feedback! We are currently investigating and will update you shortly.

@sdgilley Hi Sheri, is there a link for the video so that the customer can control the speed? Thanks.

[2020-11-10 23:19] SunnyDeng opened #65837 "Unable to use Inline Code action: Operation failed: template validation failed"
<this issue comes from azure-docs.fr-fr>
Hi, when trying to use Inline Code action, I get this error : Operation failed: The template validation failed: 'Invalid URI: The hostname could not be parsed.'.
![image](https://user-images.githubusercontent.com/8811264/98745277-20469680-2368-11eb-8d28-ab8851528c6d.png)

[2020-11-10 23:20] #65837 closed

[2020-11-10 23:20] tamram commented on #64736
The docs have been updated to address possible reasons for failure of object replication.

[2020-11-10 23:22] shohamMSFT commented on #55891
@evolve700 The built-in server certificate is based on RSA, 2048 bits. Thanks!

[2020-11-10 23:23] SunnyDeng opened #65838 "Unable to use Inline Code action: Operation failed: template validation failed #748"
<this issue is created on behalf of lasyan3: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/748>
Hi, when trying to use Inline Code action, I get this error : Operation failed: The template validation failed: 'Invalid URI: The hostname could not be parsed.'.
![image](https://user-images.githubusercontent.com/8811264/98745514-93500d00-2368-11eb-8b6f-71a2131ac323.png)

---
#### Document De

[2020-11-10 23:28] SunnyDeng opened #65839 "Pricing for WebHook connecto"
<this issue is created on behalf of MunozVictor, the original escalation is from https://github.com/MicrosoftDocs/azure-docs.es-es/issues/752>

I'm looking for the specific pricing for the web hook connector for Logic Apps,

When the connector it's waiting callback
When action it's invoked.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-10 23:28] MarileeTurscak-MSFT commented on #65835
@SB-o-matic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-10 23:31] SunnyDeng opened #65840 "Restrict inbound IP only for other Logic Apps"
<this issue is created on behalf of DanieleG90, the original issue comes from https://github.com/MicrosoftDocs/azure-docs.it-it/issues/447>

How can I add "Only other logic apps" filter on Json instead of IP ranges for Restrict inbound IP ranges in Azure Resource Manager template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-11-10 23:34] ecfan commented on #65839
Transferring response to this thread:

Hi @MunozVictor, you can find the pricing information here:

[Pricing model for Azure Logic Apps](https://docs.microsoft.com/azure/logic-apps/logic-apps-pricing): General info how billing works for Azure Logic Apps
[Logic Apps pricing](https://azure.microsoft.com/pricing/details/logic-apps/): Specific rate details based on your logic app's region

Adding @jon

[2020-11-10 23:39] ecfan commented on #65840
Transferring response to new thread:

Hi @DanieleG90,

Thanks for your question! Please follow [this link to the doc update](https://docs.microsoft.com/azure/logic-apps/logic-apps-securing-a-logic-app#restrict-inbound-ip-ranges-in-azure-resource-manager-template), which was published on 11/06/2020 and included in this response below.

I'll close this issue for now as the question is addressed, but

[2020-11-10 23:43] JamesTran-MSFT commented on #65825
@raghava1147
Thank you for your time and patience!

I was able to reproduce your issue and have reached out to our PG teams regarding this potential bug.
![image](https://user-images.githubusercontent.com/36619112/98746987-76690900-236b-11eb-9705-f46fcf931fa0.png)

[2020-11-10 23:48] ecfan commented on #65840
#please-close

[2020-11-10 23:48] #65840 closed

[2020-11-10 23:51] jolauMSFT opened #65841 "Document uses different Cipher notation in Known Issue, and is unclear on whether AppGW v1 is needed for certain Predefined TLS Policy"
Change the cipher notation in the **known issue** section of the document to use the same IANA names as used elsewhere in the document. e.g. DHE_RSA_WITH_AES_256_GCM_SHA384 == TLS_ DHE_RSA_WITH_AES_256_GCM_SHA384 as per https://ciphersuite.info/cs/TLS_DHE_RSA_WITH_AES_128_GCM_SHA256/

Make explicit in the **Predefined TLS policy** section that any policy that includes these ciphers such as **AppGw

[2020-11-10 23:51] ecfan commented on #65838
Hi @derek1ee, could you help this customer with this GitHub doc issue, which reports an error when using inline code?

_Operation failed: The template validation failed: 'Invalid URI: The hostname could not be parsed.'._

[2020-11-10 23:52] ecfan commented on #65838
#assign @derek1ee

[2020-11-10 23:54] shohamMSFT commented on #60013
@KitLemmonds For service-managed keys in Azure SQL, you can use the same sys.dm_database_encryption_keys to get information about the encryption state of a database and its associated database encryption keys.

[2020-11-10 23:58] kenwith commented on #45378
https://github.com/MicrosoftDocs/azure-docs-pr/pull/137280 adds an article that will outline the various scenarios. We can iterate on the new article to capture details for each scenario discussed in this thread (and add additional as needed).

#please-close

[2020-11-10 23:58] #45378 closed

[2020-11-10 23:58] BharathNimmala-MSFT commented on #65806
@docbugger Thank you for sharing your feedback, assigning this issue to our document author @cherylmc to further review the feedback and enhance the document accordingly.

[2020-11-11 00:18] ChaitanyaNaykodi-MSFT commented on #65827
Hello @daviburg,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-11 00:20] ChaitanyaNaykodi-MSFT commented on #65828
Hello @joshhayskr,  Thank you for your feedback! We will review and update as appropriate.

[2020-11-11 00:28] reinux commented on #62563
Also, this isn't even a tutorial. This is a link to sample code.

[2020-11-11 00:35] SaiKishor-MSFT commented on #65818
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 00:36] SaiKishor-MSFT commented on #65811
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 00:47] rbrayb opened #65844 "Referring to the policy ID is confusing"
"Replace tenant-name with the name of your Azure AD B2C tenant, and policy-name with the name (ID) of the policy:

https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/policy-name/Samlp/metadata"

There are a number of policies and it's not clear what ID inside which policy is being referred to.

Following the steps in the article, the actual URL is:

https://yourtenant.b2clogin.com/yourte

[2020-11-11 00:52] tfitzmac commented on #65764
@brianmooreoxy - I appreciate this feedback. I have submitted an update to clarify the usage. It should get published tomorrow.

[2020-11-11 00:52] tfitzmac commented on #65764
#please-close

[2020-11-11 00:52] #65764 closed

[2020-11-11 00:53] JamesTran-MSFT commented on #65844
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-11 01:05] PeterCLu commented on #65803
Since I've seen that you've given my comments a thumbs up with no further comments, I'll go ahead and #please-close this issue. If you feel that your documentation issue hasn't been resolved, feel free to open a new issue with additional information.

Thanks again for the report!

[2020-11-11 01:05] #65803 closed

[2020-11-11 01:25] hisasima opened #65845 "Restart AppGW after changing DNS server"
When we changed DNS server for Vnet from Azure-provided to custom DNS, we have to restart the VM. It is written in public document for VNet so I think Application Gateway also requires to restart. I hope you add this requirement into this document.

https://docs.microsoft.com/en-us/azure/virtual-network/manage-virtual-network#change-dns-servers

Restart the VMs that are connected to the virtual ne

[2020-11-11 01:27] razvansalajan opened #65846 "Specify that the workaround is applicable only when using token authentication mode"
The documentation can explicitly specify that the the workaround is applicable only when using token authentication mode, as it does not work when using certificate authentication mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c2fd54-8fa6-f60b-2dcb-ee672d61b561
* Version Independent ID: 162e0362-b785-4373-e340-

[2020-11-11 01:42] SaurabhSharma-MSFT commented on #65709
@Anmolgan81 sorry for the delay.  I am looking into it and update you back on the same.

[2020-11-11 01:45] ecfan commented on #65827
Thanks @daviburg! I've added a work item to the doc backlog for this issue.

[2020-11-11 01:52] bryhall opened #65847 "Why are banned words given points?"
Can someone explain the logic behind **adding** points toward the 5-point threshold for each _banned_ word?

This doesn't make sense to me particularly when we have multiple words in our company that we want banned.  Each of those contribute toward an acceptable score.  In fact, if our company name is 5 or more words long, and all words are  banned; the password that consists of the company name (

[2020-11-11 02:00] femsulu commented on #63988
Sorry for the delay @Blackbaud-BenLambert  - following up on this internally. Will update as soon as possible.

[2020-11-11 02:02] vishiy commented on #63988
its mostly because 'monitor_kubernetes_pods' == true. How many pods do you have in the whole cluster that we are scraping ? Also do you know the metric volume per scrape ?

[2020-11-11 02:09] AdhityaD opened #65848 "Kotlin android immersive tutorial doesnt work on accessing the token"
`fun getToken(): String {
        val clientId = dotEnv["CLIENT_ID"]
        val clientSecret = dotEnv["CLIENT_SECRET"]
        val tenantId = dotEnv["TENANT_ID"]
        val tokenUrl = URL("https://login.windows.net/$tenantId/oauth2/token")
        val form = "grant_type=client_credentials&resource=https://cognitiveservices.azure.com/&client_id=$clientId&client_secret=$clientSecret"

        val

[2020-11-11 02:13] femsulu commented on #65395
Sorry for the delay @alistairl .
@SwathiDhanwada-MSFT , @KrishnaG-MSFT  - Can you please take a look at this and followup with the Automation PG group if needed?

[2020-11-11 02:28] ShuheiUda opened #65849 "Instruction and portal image too old"
Could you please update instruction and portal image?

Current Portal
![image](https://user-images.githubusercontent.com/16984569/98757560-21330300-2410-11eb-9f04-0398fbc8f66b.png)

Old UI
![image](https://user-images.githubusercontent.com/16984569/98757879-c4841800-2410-11eb-87e6-c14977db2601.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-11 02:32] BharathNimmala-MSFT commented on #65819
@pavlism Thanks a lot for bringing this to our attention, our team will review it and update the document accordingly.

[2020-11-11 02:32] VikasPullagura-MSFT commented on #65826
@robsanf Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-11-11 02:33] BharathNimmala-MSFT commented on #65820
@spranav72 Thanks a lot for sharing your feedback, our team will review it and update the document accordingly.

[2020-11-11 02:34] SubhashVasarapu-MSFT commented on #65841
@jolauMSFT, Thanks for reaching out. We will investigate and update this thread.

[2020-11-11 02:35] BharathNimmala-MSFT commented on #65821
@pavlism Thanks for reaching out, our team will review it and circle back with you at the earliest.

[2020-11-11 02:35] SubhashVasarapu-MSFT commented on #65845
@hisasima, Thanks for reaching out. We will investigate and update this thread.

[2020-11-11 02:36] rachelxj-ms opened #65850 "what's the default value of persistent storage?"
On linux doc, https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#use-persistent-shared-storage, it says "By default, persistent storage is **enabled** and the setting is not exposed in the Application Settings."
but on windows doc (https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-windows#use-persistent-

[2020-11-11 02:38] #65826 closed

[2020-11-11 02:38] BharathNimmala-MSFT commented on #65814
@chinkl75 Thanks for reaching out, our team will review it and circle back with you at the earliest.

[2020-11-11 02:40] BharathNimmala-MSFT commented on #65824
@donniekerr Sorry for the experience, our team will review it and circle back with you at the earliest.

[2020-11-11 02:42] BharathNimmala-MSFT commented on #65815
@anthony-c-martin Thanks a lot for bringing this to our attention. I am assigning this issue to our document author @tfitzmac  to further review and update the document accordingly.

[2020-11-11 02:48] SatishBoddu-MSFT commented on #65832
@spranav72
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 02:50] femsulu commented on #65400
Hello @JeremyTBradshaw  - thanks again for the valuable feedback. The Endpoint Manager team would love this feedback directly. Kindly post the feedback [here](https://twitter.com/msintune) so the right subject experts can review and make necessary changes to remove/archive this nagging alert.

CHeers.

[2020-11-11 02:50] femsulu commented on #65400
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-11 02:50] #65400 closed

[2020-11-11 02:52] SatishBoddu-MSFT commented on #65226
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-11-11 02:52] #65226 closed

[2020-11-11 02:55] BharathNimmala-MSFT commented on #65831
@duanzy47 - Thank you for reaching out to us. Please note that this channel (the[ Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-11-11 02:59] BharathNimmala-MSFT commented on #65837
@SunnyDeng Please feel free to revert back if you continue to see any issue or have any further queries on any of the Azure documentation.

[2020-11-11 03:00] SatishBoddu-MSFT commented on #65832
Hello @spranav72
I have assigned the issue to the content author for further review of your feedback.

[2020-11-11 03:01] YutongTie-MSFT commented on #65653
@aahill Hello, I have checked the document, it need to be updated. But I have no access to update the pic in the document. Could you please help on this? Thanks a lot.

@jhancock4d Hi James, I have assigned this issue to the author for updating. Thanks for your feedback.

[2020-11-11 03:06] BharathNimmala-MSFT commented on #65652
@CaitlinV39  Thanks a lot for helping to update the document.

[2020-11-11 03:06] #65652 closed

[2020-11-11 03:07] SatishBoddu-MSFT commented on #65824
Hello @donniekerr
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 03:28] donniekerr commented on #65824
The missing step was a permissions issue.  Had to run this
usermod -aG docker $USER
so that iotedge can access the module images
once I did this and signed out/signed in again, I was able to run iotedge list.

Hope this helps someone else
Donnie

[2020-11-11 03:31] eccountable opened #65852 "substring function requires update"
For the Substring function, the third parameter (length) is an optional parameter. The "Otherwise" portion of the **NOTE** following that function should indicate that if the length parameter is not provided, then the Substring function will take all characters from the _startIndex_ to the end of the string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-11-11 03:35] SatishBoddu-MSFT commented on #65824
Hello @donniekerr

Thank you for the update and we really appreciate your time in sharing the resolution.

Please let us know if we are good to close this issue?
Please let us know if you need further help in this matter.

Thank you,
Satish.

[2020-11-11 03:36] donniekerr commented on #65824
I recommend you add the step to the docs and close it. Thanks

[2020-11-11 03:36] #65824 closed

[2020-11-11 04:00] spelluru commented on #58908
After discussing with the product team, I have added the following note at the top:

 Note

EventGrid doesn't support Azure RBAC for publishing events to Event Grid topics or domains. Use a Shared Access Signature (SAS) key or token to authenticate clients that publish events. For more information, see Authenticate publishing clients.

[2020-11-11 04:01] spelluru commented on #58908
#please-close

[2020-11-11 04:01] #58908 closed

[2020-11-11 04:13] spelluru commented on #56765
@mganeshphani - can you please provide details to @VidyaKukke to get help? Thanks

[2020-11-11 04:15] spelluru commented on #56764
#please-close

[2020-11-11 04:15] #56764 closed

[2020-11-11 04:25] KalyanChanumolu-MSFT commented on #65831
@duanzy47 As on today, you will need to connect via a gateway to use Azure Database for PostgreSQL with Azure Analysis services.
We are continuously evolving our supported data sources and the list will be updated [here](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-datasource).

[2020-11-11 04:51] GitaraniSharma-MSFT commented on #65849
@ShuheiUda , thank you for your feedback and you are correct that the instruction and portal image are old in the doc. We have assigned this issue to the author for updating the doc with the current portal image and instruction.

@yushwang , Could you please review this and update the doc accordingly?

[2020-11-11 04:58] GitaraniSharma-MSFT commented on #65216
@frankthing , below is the update that I received from the backend team regarding Azure FrontDoor managed certificates:

There is an internal security team which keeps track of certificates which have been compromised. This team drives all teams including AFD/CDN to force rotate the certs if such a case arises. A recent example was certs which were revoked by Digicert ([link](https://knowledge.dig

[2020-11-11 04:58] #65216 closed

[2020-11-11 04:58] HarithaMaddi-MSFT commented on #65830
@Tiffastic - Thanks for posting the query. I am looking into it and will get back to you shortly.

[2020-11-11 05:03] GitHubSachin commented on #65704
1. I am able to create key in the vault manually using portal UI, so I have permissions to vault, see permissions list to my account in screenshot.
2. yes, I am trying to create key using ARM template initiated via my account and it fails.
![image](https://user-images.githubusercontent.com/6564838/98770919-20f72100-2398-11eb-813e-551a58466f99.png)

[2020-11-11 05:14] keithcharlie opened #65862 "azure gov applicability?"
Can we address whether or not private plans are usable for azure gov customers here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d78351-7bde-2224-ae47-1c567c65a05d
* Version Independent ID: cf1c0055-aca8-17e0-73ca-9b5688c25909
* Content: [Private offers in Microsoft commercial marketplace](https://docs.microsoft.c

[2020-11-11 05:20] HarithaMaddi-MSFT commented on #65834
@TopperKain - Thanks for posting the valuable feedback. We are looking into it and will update you shortly.

[2020-11-11 05:23] HarithaMaddi-MSFT commented on #65848
@AdhityaD - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-11 05:27] vipulsparsh commented on #65453
@slebodat Apologies for delay on this. Can you create a support case with us for further investigation. Thanks

[2020-11-11 05:27] #65453 closed

[2020-11-11 05:35] AnuragSharma-MSFT commented on #65705
@YanumVlad This is being assigned to the content author to evaluate and update as appropriate.

[2020-11-11 05:43] JayaChatterjee-MSFT commented on #65852
@eccountable Thank you for your feedback! We will review and update as appropriate.

[2020-11-11 05:45] AshokPeddakotla-MSFT commented on #65505
Since we will be working offline for further follow up, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-11 05:45] #65505 closed

[2020-11-11 05:53] RohitMungi-MSFT commented on #65848
@AdhityaD Is it possible to set the variables directly or print the [variables ](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-security?tabs=command-line%2Cobjective-c)to check if they are set or retrieved correctly?

These values should represent the following of your AD settings.