[2020-02-06 17:58] yegu-ms commented on #47563
@Potapy4 Thank you for submitting the pull request for this! We've just accepted it. It should appear online within a day.

[2020-02-06 17:58] yegu-ms commented on #47563
#please-close

[2020-02-06 17:58] #47563 closed

[2020-02-06 18:00] ShawnMcGough commented on #47182
@bigdatamoore
Can you link to your other open issue?
Can you post your results of `az --version` ?

[2020-02-06 18:01] MaxThom opened #47603 "Telemetry, Logs and Alerts"
Hi,

we are currently investigation the use of TSI PAYG. For now it seems like a great product.
But a few questions remain.

Our devices can send telemetry, logs and alerts. In our current architecture, we have our IotHub with different routes for each type of message.
TSI can only be "plugged" onto the default route of an event hub or an IoT hub.
How do you manage different types of data ? I find

[2020-02-06 18:06] xiao-lix commented on #46581
@mabeyer The AppInsights JS SDK snippet was out of date and now it's up to date, please check : https://docs.microsoft.com/en-us/azure/azure-monitor/app/sharepoint#add-the-script-to-your-web-pages

[2020-02-06 18:06] AlexeyBoiko commented on #47230
@BharathNimmala-MSFT no. 2018-09-15 is test api link - there are no such problem, all "term" have "startDate" and "endDate"

[2020-02-06 18:13] mamccrea commented on #46931
Hi @memoryz - Thank you for this feedback. I have created a work item to have this information added. I will respond here when the article has been updated. Please let us know if you have any additional feedback.

#please-close

[2020-02-06 18:13] #46931 closed

[2020-02-06 18:15] BharathNimmala-MSFT commented on #47230
@AlexeyBoiko  Thank you for sharing the additional information, so its just that the production api version (2018-08-31) show cases this issue for you. I will further check with our internal teams and share any insights we might have on this bheaviour. Thank you

[2020-02-06 18:15] mamccrea commented on #46869
Hi @krishnasriSomepalli - Thank you for your feedback. I have opened a ticket to have this issue addressed. I will respond here once the article has been updated. Please let us know if you have any additional feedback.

#please-close

[2020-02-06 18:16] #46869 closed

[2020-02-06 18:18] mamccrea commented on #46918
Hi @memoryz - Thank you for your feedback. This issue is being tracked and is currently in review. I will respond here once the documentation has been updated. Please let us know if you have any additional feedback.

#please-close

[2020-02-06 18:18] #46918 closed

[2020-02-06 18:21] mamccrea commented on #47164
Thank you for your feedback. I have reached out internally for more information.

[2020-02-06 18:24] mamccrea commented on #47125
Thank you for your feedback. I have opened a ticket for this issues and will respond here when the article has been updated. Please let us know if you have any additional feedback.

#please-close

[2020-02-06 18:24] #47125 closed

[2020-02-06 18:25] mamccrea commented on #47124
Thank you for your feedback. This issue is being tracked and is currently in review. I will respond here once the documentation has been updated. Please let us know if you have any additional feedback.

#please-close

[2020-02-06 18:25] #47124 closed

[2020-02-06 18:27] adrianoluiz-brmalls commented on #46877
Hi, I set the Tag "internet" ans now is working. AzureLoadBalancer is not working. Can you review this tag that i set?

[2020-02-06 18:29] KranthiPakala-MSFT commented on #47127
Hi @mcurko, just received a confirmation from internal team that this needs a deeper analysis.

For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to AzCommunity@microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matte

[2020-02-06 18:34] marian-craciunescu commented on #34979
@AjayKumar-MSFT  @kaushalp  common  guys it's been almost half an year regarding this and no update was made.

[2020-02-06 18:35] sujayvsarma commented on #47503
I don't want comments from random "forum members" on those websites. I don't find them credible. That is why I have opened it here.

@YutongTie-MSFT I don't think you're the right person to handle this ticket. Please let someone who knows about this respond.

[2020-02-06 18:45] yoelhor commented on #47272
#please-close

[2020-02-06 18:45] #47272 closed

[2020-02-06 18:45] MithunChopda commented on #45838
This document should be taken off immediately as its complete mess and not up to Microsoft documentation standard.

[2020-02-06 18:46] yoelhor commented on #46916
#please-close

[2020-02-06 18:46] #46916 closed

[2020-02-06 18:47] yoelhor commented on #46728
#please-close

[2020-02-06 18:47] #46728 closed

[2020-02-06 18:49] mamccrea commented on #47522
Thanks for bringing this to our attention. The correct date is March 31st. I have updated the doc.

#please-close

[2020-02-06 18:49] #47522 closed

[2020-02-06 18:50] Grace-MacJones-MSFT commented on #47602
Hi @turfday, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-02-06 18:52] Grace-MacJones-MSFT commented on #47570
Hi Mike,
Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate. @mikewo

[2020-02-06 18:55] NBnfork opened #47605 "Update "Configure Azure AD SSO" section to include missing endpoint"
In step 4. of this section there is a missing endpoint that users need to complete this connection. We have had serval clients unable to finish the setup without our direct intervention. Can we please make these changes.

Add new line (or something like it):
c. In the reply URL text box, type a URL using the following pattern: https://&lt;companyname&gt;.lessonly.com/auth/saml/callback

I would re

[2020-02-06 18:59] mumian commented on #47401
#please-close

[2020-02-06 18:59] #47401 closed

[2020-02-06 18:59] ash2017 commented on #47568
Thanks for pointing this out. The document has been updated and change will show up by end of day today.

[2020-02-06 19:01] bigdatamoore commented on #47182
@ShawnMcGough the issue is https://github.com/MicrosoftDocs/azure-docs/issues/47465
Results of az --version:
[code]

[2020-02-06 19:04] craig-martin commented on #34858
thanks @helderpinto, nice article!  I worked around the limitation by granting permission to the Hybrid Worker's computer object.  Good enough for a workaround.

[2020-02-06 19:10] ShawnMcGough commented on #47465
@bigdatamoore
Can you install the latest Azure CLI?

You have `2.0.80` installed. The latest `2.0.81` has updates that might have addressed this issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest

[2020-02-06 19:15] MGoedtel commented on #47424
I see what you are talking about so I'll bug this and get that step updated today to reflect the repositioning of those two options in the UX.  Thanks!  #please-close

[2020-02-06 19:15] #47424 closed

[2020-02-06 19:25] shankarab commented on #8227
This issue still persists. I'm writing a desktop app in .NET Core 3.1, and I need this constructor to force the user to login. Possible to get this fixed?

[2020-02-06 19:27] chrisahardie commented on #28140
@Arash-Sabet - the `negotiate` endpoint is consumed when you start the connection:

[code]

If you check your network logs, you'll see that the `/api/negotiate` endpoint has been consumed.

[2020-02-06 19:29] MarileeTurscak-MSFT commented on #47605
@NBnfork
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-06 19:29] MarileeTurscak-MSFT commented on #47595
@ChosenSilver
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-06 19:43] RyanHill-MSFT commented on #47130
@PHATGZA, @TynThordin, @andecreation, I've reached out to the product group so I can get a clear concise answer to your question. I'll let you all know what I find.

[2020-02-06 19:52] danone1985 commented on #47193
hi. No need, I guess. I mixed up some stuff. Here's what I figured out:
[AllowToAddGuests] is the setting at directory level.
[AllowAddGuests] is the setting at group level.

When changing the AllowToAddGuests setting at directory level, this reflects (in GUI) unchecking the following setting:
Office 365 Admin => Settings => Office 365 Groups - " Let group owners add people outside your organizati

[2020-02-06 19:53] Karishma-Tiwari-MSFT commented on #47520
@EvgeniiProkofevItomych Please share the doc details so that we can help you with this issue quickly.

[2020-02-06 19:53] Karishma-Tiwari-MSFT commented on #47346
Is there any update? Let me know. Thanks :)

[2020-02-06 19:56] MarileeTurscak-MSFT commented on #47587
@ermacia91
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-06 19:57] MarileeTurscak-MSFT commented on #47566
@sumitt18 thanks for your question. We will investigate and respond shortly.

[2020-02-06 19:57] msfcolombo commented on #37247
hi @awbmansour ,

There is nothing you can do. This are all service responsibilities.

Precisely, and I never said otherwise.

My response was to help you **diagnose** the issue, not fix it. In particular, we must know if the issue is at Azure AD (token issuance) or Key Vault (token interpretation).

Regards!

[2020-02-06 20:01] BhargaviAnnadevara-MSFT commented on #47549
@simeyla I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-06 20:04] zamzowd commented on #46550
I've run into the same concern.  I want to be able to join with Application Insights by operation id:

[code]

If the `operationId` value is converted to guid formatting, then `$left.operation_Id == $right.operationId_g` never matches.

I tried forcing the creation of `operationId_s` by first submitting a record with a string value that can't be cast to a GUID, but then subsequent submitals with a

[2020-02-06 20:07] jmprieur commented on #8227
We recommend that you don't use ADAL.NET but MSAL.NET.
See https://aka.ms/aaddevsamplesv2

[2020-02-06 20:08] briangeorge opened #47608 "Demo Application is broken"
Tried to view the demo application and I cannot search anything "jQuery is not defined"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5af26663-00de-b8a6-0a48-82c7ddf44183
* Version Independent ID: e7593072-ca88-dc1c-ac31-daf7b0b1bb40
* Content: [Add a faceted navigation category hierarchy - Azure Cognitive Search](htt

[2020-02-06 20:09] briangeorge commented on #47608
duplicate of HTTPS issue, but it does not work in Chrome or Edge on HTTPS

[2020-02-06 20:40] Mike-Ubezzi-MSFT commented on #47600
@MaxThom Thank you for your interest in Azure. It appears you have opened two issues for the same inquiry. I am going to close #47603 as a duplicate and respond to your inquiry through this GitHub issue.

[2020-02-06 20:41] Karishma-Tiwari-MSFT commented on #36682
@vyta As shared in the comment above, this document will be updated upon release of the work that has been in progress.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-06 20:41] #36682 closed

[2020-02-06 20:41] HarrisburgUSysAdmin opened #47609 "Feature update to Windows 10, version 1909"
We can not get feature update to Windows 10, version 1909 to automatically install using update management.  What may be the case here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979-a818-39af99d5e6bb
* Version Independent ID: d0e5e766-ef63-d934-b21b-678933a5cc65
* Content: [Manage updates and patche

[2020-02-06 20:42] mike-urnun-msft commented on #47590
@tatroc Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-06 20:42] Mike-Ubezzi-MSFT commented on #47603
@MaxThom
Duplicate of #47600. Closing this issue and will respond to the inquiry via 47600.

[2020-02-06 20:42] #47603 closed

[2020-02-06 20:42] mike-urnun-msft commented on #47596
@MickeJagekrans Thank you for your feedback! We will review and update as appropriate.

[2020-02-06 20:44] vikaskumawat80 opened #47610 "Private Endpoint for Azure Web App"
When will this service get support for Azure Web Apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Content: [What is Azure Private Link?](https://docs.microsoft.com/en-us/azure/private-link/private-link-overview)
*

[2020-02-06 20:45] mike-urnun-msft commented on #47586
@Miteshc1 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-06 20:45] djpmsft commented on #40876
Hi there,

All these changes have been made and published. You should see them no later than end of the day

#please-close

[2020-02-06 20:45] #40876 closed

[2020-02-06 20:47] djpmsft commented on #46460
Hi there,

We have updated the powershell script to account for parent/child relationships. You should see this by the end of the day today. Let us know if you have any errors

#please-close

[2020-02-06 20:47] #46460 closed

[2020-02-06 20:48] m-andersen opened #47611 "Integrate App service with Sign-in with apple"
Identify providers are easy to add but we have big problems trying to find out how to add Sign-in with Apple, which is now a requirement for all new apps. This link describes Azure AD B2C, but is that the same as Azure Active Directory? And how to link all this together like with Facebook.
https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple

I would like to eventually s

[2020-02-06 20:48] andyjballgit opened #47612 "I deployed the "Configure a Log Analytics workspace" sample and it said the cost would be around 5000 a month"
snip below , seems like the name field is duplicated ?

"sku": {
          "name": "[parameters('pricingTier')]",
          "name": "CapacityReservation",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7651b7e-278e-2839-e9f4-cee3d8c8d60b
* Version Independent ID: 45386b9f-a8e3-a398-c0da-880fbdd76abb
* Content: [Use Az

[2020-02-06 20:48] djpmsft commented on #38060
Closing do to lack of activity

#please-close

[2020-02-06 20:48] #38060 closed

[2020-02-06 20:48] jantielens commented on #14123
For the people finding this thread through Google: my mistake was that on the service side, I used the **connection string of the IoT device**. This results in the same error. You need to use the **connection string of the IoT Hub** (in which the IoT Device exists) instead. :)

[2020-02-06 20:49] jantielens commented on #33609
For the people finding this thread through Google: my mistake was that on the service side, I used the **connection string of the IoT device**. This results in the same error. You need to use the **connection string of the IoT Hub** (in which the IoT Device exists) instead. :)

[2020-02-06 20:55] michaelschmit commented on #47460
That seems to have resolved my issue. I appreciate the hint that got me on the right path.

[2020-02-06 20:56] #47460 closed

[2020-02-06 20:57] Karishma-Tiwari-MSFT commented on #47426
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/103579

[2020-02-06 20:57] #47426 closed

[2020-02-06 21:00] Mike-Ubezzi-MSFT commented on #47597
@cbogart Thank you for taking the time to detail and file this GitHub issue and making us aware of this documentation bug. It is greatly appreciated. I will have the content team review this and make an update as appropriate.

[2020-02-06 21:01] Karishma-Tiwari-MSFT commented on #47393
The doc has been updated. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-06 21:01] #47393 closed

[2020-02-06 21:03] Karishma-Tiwari-MSFT commented on #47589
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-06 21:10] YutongTie-MSFT commented on #47585
@nfgallimore

Please help with the link of document on which above document feedback request is created. Which document you think should have this link? ^^

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Profile/u/create?referrer=https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread) or [Stack Overflow

[2020-02-06 21:10] jtracey93 opened #47614 "Can "admin" be defined here in terms of RBAC or Azure AD Role?"
Hi Team,

Could you please define what is meant by admin in terms of RBAC or Azure AD role?

Is it a "Global Administrator" or another Azure AD role?

Or is it an "Owner" RBAC role or another RBAC role?

Think it would be great to get some clarity here on this page!

Thanks

Jack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-06 21:14] MetehanBolat opened #47615 "No point to create an empty resource group and then delegate, considering the purpose of this documentation"
I have come to this documentation over diagnostic settings of Azure Active Directory of a B2C tenant.
Following it, created a resource group and set a user with AAD Premium License. When I tried to enabled diagnostics, it couldn't find Log Analytics workspace.
I was able to select the workspace, only after I did a resource group deployment to the resource group, that already contains the existing

[2020-02-06 21:15] hokugawa opened #47616 "azure cli command"
&gt; New-AzADServicePrincipal -ApplicationId "205478c0-bd83-4e1b-a9d6-db63a3e1e1c8"
How I can do the same with azure cli command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on a

[2020-02-06 21:18] MarileeTurscak-MSFT commented on #47605
Thanks @NBnfork !

I made a pull request to add this. I agree that it is required and should be there. https://github.com/MicrosoftDocs/azure-docs-pr/pull/103581

The change should merge within 24 hours. :)

Thanks for your contribution.

[2020-02-06 21:18] #47605 closed

[2020-02-06 21:20] YutongTie-MSFT commented on #47577
@TheKangaroo
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-06 21:20] danielkon96 commented on #33312
I just realized I was trying to bind with Mongo as well :(

[2020-02-06 21:22] abelal83 opened #47617 "Change service cidr"
We seem to have exhausted our service cidr range. I think I already know the answer but I sincerely hope I'm wrong. Is there any possibility of changing service cidr range once cluster has been created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version Independent ID: 82ac8cf

[2020-02-06 21:22] YutongTie-MSFT commented on #47616
@hokugawa
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-06 21:29] YutongTie-MSFT commented on #47610
@vikaskumawat80
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@malopMSFT
Hi Mario, could you please provide more information about this topic? Thanks.

[2020-02-06 21:31] YutongTie-MSFT commented on #47608
@briangeorge
Thanks for the feedback! We are currently investigating and will update you shortly.

@Grace-MacJones-MSFT
Hi Grace, could you please check this issue? Thanks.

[2020-02-06 21:35] pkieper commented on #41370
@jeevansd That note was already quoted on the comment from @joachimloe 10 days ago. You're not providing any new information.

What is the transition process? Facebook is saying the current integrations will be disabled by the end of the month and Microsoft is saying they'll provide an update on the transition by end of month. Customers need details sooner (like now) or Facebook needs to push back

[2020-02-06 21:39] srcard commented on #40331
If OpenAPI isn't supported, why is it explicitly mentioned in the "HTTP + Swagger" Logic Apps documentation, here:
     https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-custom-api-host-deploy-call
...unless things have changed in the 3 months since the last comment.

[2020-02-06 21:43] JasonWHowell commented on #47531
@su-jie are you tracking this in your backlog elsewhere? If so, we should close out the thread/issue. Thanks for following up.

[2020-02-06 21:44] glittle opened #47618 "Can't delete Microsoft.Compute/restorePointCollections?"
If deleting the Microsoft.Compute/restorePointCollections resource fails, may need to delete the entire resource group that the Microsoft.Compute/restorePointCollections is in.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89ac262-76f7-45fd-d1ab-3a8702167483
* Version Independent ID: 5de7689c-dde8-6e0f-ceb4-b9c509dd5

[2020-02-06 21:47] koo9 opened #47619 "is this step "Register Identity Experience Framework applications" done on Azure AD or Azure AD B2C?"
[Enter feedback here]
The step is confusing. it says creating application in Azure AD B2C but the instruction is for create application in Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Get started

[2020-02-06 21:52] BharathNimmala-MSFT commented on #47579
@szymonslipek  Thank you for reaching out to us, we will evaluate the ask and get back to you at the earliest.

[2020-02-06 21:55] BharathNimmala-MSFT commented on #47580
@PKingRoch Thank you for sharing your feedback, we will further evaluate with our doc author and see what document changes are needed to reflect the feedback.

[2020-02-06 21:56] BharathNimmala-MSFT commented on #47601
@EmanuelYuCorella Thank you for your query , we will look into this and get back to you at the earliest.

[2020-02-06 21:57] PatrickLownds commented on #47512
Thanks you. teach me for using Cloud Shell :-)

[2020-02-06 21:57] KranthiPakala-MSFT commented on #47519
@vlado101 There is no such property for source settings. Even for Azure Database 'write batch size' setting is available only on sink side.

If you have any suggestion/feedback/idea regarding this connector, I would request you to please share it in ADF user voice forum. All the feedback shared in this forum is actively monitored and reviewed by ADF engineering team.

Please do share the feedback

[2020-02-06 21:59] loomlike commented on #31354
@tedway This issue happened to me too. Could we update the [Azure docs](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-fpga-web-service) to have this information so that the customers get less confused with the error? Thank you!

[2020-02-06 22:02] MartinJaffer-MSFT commented on #46799
@vlado101  In my example I was using text to text.  In yours you have SQL as sink.  SQL has its own required datetime format.  This is why you do not have a choice for the format when sink is SQL.  Data Factory would read from text using the format you provide, then store it in an internal format, before outputting what SQL expects.

As to nothing being written, I noticed that you have skipped row

[2020-02-06 22:02] BharathNimmala-MSFT commented on #47609
@HarrisburgUSysAdmin Thank you for your query, we will further look into this and get back to you at the earliest.

[2020-02-06 22:04] BharathNimmala-MSFT commented on #47614
@jtracey93 Thank you for sharing your feedback. I have assigned this to our document author @mgblythe to further clarify the query and evaluate how the document can be enhanced to reflect your feedback. Thanks

[2020-02-06 22:06] hukun01 commented on #47459
Hi Peter,

We are using Standard_D4_v3, and we have 11 nodes in our VMSS. I wonder what are the VM SKUs that support Gold durability. It's hard to find on the web.

[2020-02-06 22:08] Mike-Crowley opened #47620 "article date is wrong"
please remove the hard-coded date tag and allow the date to accurately reflect when this article is updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [Azure Active Directory Conditional Access settings r

[2020-02-06 22:08] mabeyer commented on #46581
Thanks for fixing this part.
Now the key issue is that SharePoint changed as well. All the SharePoint related screenshots are outdated. I checked in my test tenant as well and found that there is no way to edit master pages and add the code as shown in this manual

[2020-02-06 22:10] BharathNimmala-MSFT commented on #47612
@andyjballgit Thank you for bringing this to our attention, will further look into this and update the document accoridngly.

[2020-02-06 22:13] BharathNimmala-MSFT commented on #47618
@glittle Thank you for your query, we will further look into this and get back to you at the earliest.

[2020-02-06 22:19] SaurabhSharma-MSFT commented on #47418
@bartvermeersch Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-06 22:22] MarileeTurscak-MSFT commented on #47620
@Mike-Crowley
Thanks for your feedback! I have assigned this issue to the content author, @MicrosoftGuyJFlo , to look into and update.

[2020-02-06 22:22] bandersmsft commented on #47577
@TheKangaroo I'm investigating this with the enginnering team and I'll reply here when I have more info.

[2020-02-06 22:23] jispar commented on #47591
@Suren Jamiyanaa<mailto:Suren.Jamiyanaa@microsoft.com> – We need Azure Firewall team to update supported service tags in the documentation 😊

Thank you,
Jisu

From: michaelschmit <notifications@github.com>
Sent: Thursday, February 6, 2020 7:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jisu Park <Jisu.Park@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [Micr

[2020-02-06 22:23] rbrayb opened #47621 "Azure Multi-Factor Authentication Server is now depracated"
There are a number of references on this page to Azure Multi-Factor Authentication Server.

However, as per https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy :

"As of July 1, 2019, Microsoft will no longer offer MFA Server for new deployments".

So this is no longer an option and the documentation should be updated to reflect this.

---
#### Document De

[2020-02-06 22:27] AdamGrossTX opened #47622 "Please add URLs required for Enterprise State Roaming to function."
ESR hasn't worked for us since we migrated to Windows 10. We discovered that the issue was related to our WebSense proxy decrypting *.msocdn.com traffic. Clients would sync properly when connected to the internet, but not when on the business network going through the proxy. There doesn't appear to be any reference to the URLs required for Enterprise State Roaming to function.
O365 has a list http

[2020-02-06 22:29] farooqkh opened #47623 "frequency of data replication"
How frequently data is replicated in case of GRS and RA-GRS?

I understand that its asynchronous, i'm trying to understand the min/max delay or potential loss of data that may occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8314bbb-3e1b-7a68-dcd1-f7dfe34221a2
* Version Independent ID: 5c26cb3f-ec5c-b028-f456-539

[2020-02-06 22:38] MarileeTurscak-MSFT commented on #47336
Hi @RagingSquirrel ,

If you are using simple Azure AD join, you are likely you are logging in with the local profile generated. You need to take it out of the domain and re-join it.  You can unjoin the device from Settings > Accounts> Access work or School > disconnect.

If you are just using hybrid Azure AD join, you can run dsregcmd /status you can check if the device is registered with Azure.

[2020-02-06 22:39] MarileeTurscak-MSFT commented on #47336
If you have further questions or are still having this issue, please post to Microsoft Q&A and we can continue the discussion to help you get this resolved. https://docs.microsoft.com/answers/topics/azure-active-directory.html

Since this is a product question that is not related to specific documentation feedback, Q&A is the best place to ask.

[2020-02-06 22:39] #47336 closed

[2020-02-06 22:45] davidsmatlak commented on #46663
#in-progress

[2020-02-06 22:47] tedway commented on #31354
@loomlike sorry you're hitting this error. It is in the doc you linked to (kind of buried, I know), but please let me know if there's a place you think would be easier to find.

[2020-02-06 22:49] MarileeTurscak-MSFT commented on #47621
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-06 22:50] MarileeTurscak-MSFT commented on #47621
Thanks for this feedback. MFA Server is not supported for new deployments, but it is still supported for existing customers.

"Existing customers who have activated MFA Server prior to July 1 will be able to download the latest version, future updates and generate activation credentials as usual."

There are still a number of customers who use this product because they had an existing environment

[2020-02-06 22:50] diberry commented on #47575
@marawanshalaby That is a great suggestion. Can you please open an issue in the bot framework tools GitHub repo for this?

[2020-02-06 22:53] MarileeTurscak-MSFT commented on #47621
@rbrayb your feedback seems more relevant to the deployment article, rather than the FAQ, so I'm moving this issue there.

[2020-02-06 22:53] wy193777 opened #47624 "How to get script output?"
Trying to find how to get the output of the job been executed. The last_message column on jobs.job_executions only contains last message of scheduler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and

[2020-02-06 22:55] MarileeTurscak-MSFT commented on #47621
MFA server is still supported for old customers, but as new deployments are no longer supported I agree that the deployment instructions are less relevant. I'm assigning your feedback to the content author to look into.

[2020-02-06 23:00] jaredmoo commented on #47624
If you specify output server/database/table, then the first result set is written. However if you are looking for info message output (e.g. T-SQL PRINT statements), we unfortunately don't capture it anywhere.

[2020-02-06 23:05] MikeWilcoxMicrosoft opened #47625 "No module named 'azure'?"
Can you help with this error ?  $ python3 recv.py
Traceback (most recent call last):
  File "recv.py", line 2, in &lt;module&gt;
    from azure.eventhub.aio import EventHubConsumerClient
ModuleNotFoundError: No module named 'azure'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a30aef-5279-acde-6bc2-dc1f2720c179
* Ve

[2020-02-06 23:07] MikeWilcoxMicrosoft commented on #47625
Note in VS Code we received the error :  Exception has occurred: ModuleNotFoundError
No module named 'azure'

[2020-02-06 23:07] peterpogorski commented on #47459
There should not be any restrictions on the VM SKUs that support Gold Durability unless you are using Azure Spot VMs. If you are able to I would recommend opening a support ticket on the VMSS resource that is used in your Service Fabric cluster.

[2020-02-06 23:10] lfittl-msft commented on #47597
Note for internal users, opened PR # 103597 on the docs repo to address this.

@cbogart Thanks for the report!

[2020-02-06 23:12] Karishma-Tiwari-MSFT commented on #47617
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-06 23:22] MartinJaffer-MSFT commented on #47625
Hello @MikeWilcoxMicrosoft  and thank you for bringing this to our attention.  Could you please double-check that the python packages installed correctly, and/or used the correct pip?

(Example: Sometimes, when I have Python2 and Python3 installed side-by-side, I forget to use `pip3 install ____` and pip installs for Python2 instead of Python3 )

[2020-02-06 23:24] robert4os commented on #47431
Hi,

I just run the notebook
auto-ml-regression-hardware-performance-explanation-and-featurization.ipynb
<https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/regression-hardware-performance-explanation-and-featurization/auto-ml-regression-hardware-performance-explanation-and-featurization.ipynb>
...

it does not create any explanations in the

[2020-02-06 23:25] MarileeTurscak-MSFT commented on #47487
Hi @BakkerJan ,

I believe that the distinction is that impossible to travel to locations would mean that the user signed into two far-away locations within a timeframe that would make it impossible to travel to that quickly (London to Cleveland within the span of one hour).

Atypical locations would track when someone travels to geographically distant locations where one of the locations is unusu

[2020-02-06 23:25] TravisCragg-MSFT commented on #47591
@michaelschmit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@jispar Let me know if I should reassign this issue.

[2020-02-06 23:37] Grace-MacJones-MSFT commented on #47518
Yes we can. Where in the doc did you see the dead link to app service team blog? Want to make sure we update the right link.

[2020-02-06 23:42] robert4os commented on #47431
ok, I just found out that explanations are created on the remote compute
target but not on the local compute instance.

Is that a known behavior?

Thank you and best regards,
Robert

On Thu, Feb 6, 2020 at 5:46 PM robert4os <notifications@github.com> wrote:

[2020-02-06 23:46] Grace-MacJones-MSFT commented on #47593
Hi @timatactia ,we appreciate your feedback. I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2020-02-07 00:22] wy193777 commented on #47624
@jaredmoo Thanks for your reply. I'm wondering where should I find errors when script execution failed. I'm running a script that cost 15 hours when I run from Azure Date Studio, but maybe because it lasted for too long, Azure Data Studio cannot capture messages. Then I switch to Elastic Job. The script can succeed after around 30 minutes but I don't get expected results on tables that supposed to

[2020-02-07 00:24] martinlarosa opened #47628 "Dispatch app phrase list limit"
What happens if the aggregate of phrase lists between the child apps are more than 10 and I run the dispatch tool. Right now the dispatch app only get 10 phrase lists.
Why is this and how can it be solved? Is it related to the feature in the preview portal that allows to assign phrase lists globally or just to certain intents?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-02-07 00:25] GiftA-MSFT commented on #47584
@damochiz thanks for reaching out. We will review your feedback and get back to you shortly. Thanks.

[2020-02-07 00:30] GiftA-MSFT commented on #47584
@sdgilley can you please confirm and update the information in the document? Thanks.

[2020-02-07 00:33] YutongTie-MSFT commented on #47373
@priyanka-gomatam
Thanks!! I have handed this issue to the right person.

[2020-02-07 00:41] KranthiPakala-MSFT commented on #47218
@hrasheed-msft
Thanks for the feedback! We have assigned the issue to the content author to review your feedback and provide an update as appropriate.

[2020-02-07 00:45] jonwbstr opened #47630 "What is the REST endpoint to create a free cert"
Hello, having trouble finding the REST endpoint for the "Create a free certificate" feature.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage SSL certificates - Azure App Service](https:

[2020-02-07 00:59] artemuwka commented on #47623
Hi, @farooqkh! In case of (RA-)GRS or (RA-)GZRS we typically have an RPO of less than 15 minutes, although there's currently no SLA on how long geo-replication takes. Does that help?

[2020-02-07 01:06] YutongTie-MSFT commented on #47476
@diberry  Hi Dina, could you please share any insights for above questions if you have any? Thanks.

[2020-02-07 01:07] RyanHill-MSFT commented on #37847
Thanks for letting us know @koo9. Feel free to reopen this thread if the updated doc doesn't help.

[2020-02-07 01:07] #37847 closed

[2020-02-07 01:08] kogesaka commented on #46943
Hi, @rdeltcheva

Will the content I point out be fixed?
It would be helpful if you could describe progress.

[2020-02-07 01:09] shravanbilla opened #47632 "Validate network throughput using iperf tool"
Hi, In the above blog, setting up iperf and running the trace is explained well. How is this data analyzed further to understand the through put, what log information in the iperf log references to which perf value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a77eb3-1f6d-0fee-7d77-44a56fdb78b0
* Version Independen

[2020-02-07 01:10] vick-git opened #47633 "Key rotation needs key 2 to be available immediately when key 1 is being regenerated."
#FeatureRequest

Upon rotation, key 2 must be immediately available for use rather than taking up to 30 seconds to be available so I/O is not blocked. Aware that currently there is some lag. Submitting on behalf of a few user base.

[2020-02-07 01:27] GiftA-MSFT commented on #47493
@pbartos PipelineParameters is only available when building pipelines with the Python SDK in python.

[2020-02-07 01:27] GiftA-MSFT commented on #47493
@xiaoharper do you have anything to add here?

[2020-02-07 01:35] femsulu commented on #47226
assigning to @dkamstra for further review.

[2020-02-07 01:52] 9073241516 opened #47634 "not working"
I followew the steps and also the 'new update' as another colleague commented here; but shows error (404 - File or Directory not found) when the end tries to click on "Open Microsoft Teams" button which is redirected to :

https://login.microsoftonline.com/&lt;directory id&gt;/oauth2/authorize?client_id=4660504c-45b3-4674-a709-71951a6b0763&redirect_uri=https%3a%2f%2finvitations.microsoft.com&respo

[2020-02-07 02:14] ArvindHarinder1 commented on #41370
Nothing is expected of the customer. Please see the updates today. We are automatically migrating customers. Just need to make sure your app is not in quarantine so we can do the migration.

[2020-02-07 02:16] TravisCragg-MSFT commented on #47632
@shravanbilla This data is used to validate / test throughput to make sure it meets expectations or needs. The Iperf log is the same as what is outputted in the cmd window and is labeled.

can you clarify your ask a bit more? If you are looking to use this for something specific, can you elaborate a on your scenario?

[2020-02-07 02:24] shravanbilla commented on #47632
Hi Travis,
I am looking to check the network through put using iperf, but also need to be able to analyze the iperf result, for this need a better understanding on what iperf result/values to look to at , and what should be inferred from the results.

Iperf log may spit up various data points, how to read that?

Thanks,
Sravan

________________________________
From: TravisCragg-MSFT <notifications

[2020-02-07 02:34] hukun01 opened #47635 "Does the 'observedCertificates' support secrets that are in another resource group?"
If I have two resource groups, and group1 has a KV, in the group2's VMSS, can its KV extension access group1's KV?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows](http

[2020-02-07 02:39] KalyanChanumolu-MSFT commented on #47256
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-07 02:39] #47256 closed

[2020-02-07 02:40] erickvils opened #47636 "Invalid HTMLEncode in sample C# code"
Page https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-scale-data-dependent-routing

Contains a HTMLEncode in the lambda  C# code block at topic “ Example - data-dependent routing with transient fault handling”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa374d1b-af92-5226-cb8a-bb1c1c2e113d
*

[2020-02-07 02:40] KalyanChanumolu-MSFT commented on #47449
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-07 02:40] #47449 closed

[2020-02-07 02:41] guntaled opened #47637 "ETA for AzDataLakeGen2 feature in GA?"
Is there an ETA when AzDatalakeGen2 feature (Az powershell cmdlets) will be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562aa838-243f-bed8-c3cb-9164af5efe71
* Version Independent ID: 369544f3-5260-3773-68f2-3479c6e9587e
* Content: [Azure Data Lake Storage Gen2 PowerShell for files & ACLs (preview)](https://docs.

[2020-02-07 02:45] CHEEKATLAPRADEEP-MSFT commented on #47574
@robburton58 Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-07 02:48] michaelschmit commented on #46430
+1
If you use an existing collection name you get this error which contradicts itself:
Rule collection '[Collecton]' already exists.
usage error: --collection-name EXISTING_NAME | --collection-name NEW_NAME --priority INT --action ACTION

[2020-02-07 02:48] CHEEKATLAPRADEEP-MSFT commented on #47484
@tamram Could you please look into this issue?

[2020-02-07 02:50] TravisCragg-MSFT commented on #47632
The main purpose of Iperf is to validate the network throughput between 2 machines using a TCP connection.

Bandwidth limits can occur for multiple reasons, such as VPN throughput, or VM Size throughput.

the "interval" shows the amount of time that it used to transfer, the "Transfer" Is the total data transferred, and the "Bandwidth" Is the speed at which the transfer occurred. Bandwidth is the i

[2020-02-07 02:55] CHEEKATLAPRADEEP-MSFT commented on #47633
@vick-git  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2020-02-07 03:00] KrishnaG-MSFT commented on #47573
@md42 Thanks for the comment with duplicate issue reference.

[2020-02-07 03:11] RyanHill-MSFT commented on #47507
@bowlerma, the container can be restarted as result of changes in the storage volume. Upon such an event, your docker.log file should indicated that your app was either restarted or recycled.

Let us know if you need further assistance.

[2020-02-07 03:22] RyanHill-MSFT commented on #47611
Thanks for the feedback @m-andersen! We are currently investigating and will update you shortly.

[2020-02-07 03:28] joelw opened #47638 "Clarify the lifecycle of the public IP address"
The page states that "The static public IP address remains if the ingress controller is deleted.". However I've noticed that if I delete the AKS resource itself, this also deletes the public IP address and the entire nodepool resource group. Is there any way around this in order to decouple the public IP from the lifecycle of the AKS cluster? Is it possible to create the static public IP in a diff

[2020-02-07 03:32] DixitArora-MSFT commented on #47335
@Srinivas-Potnuru For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 03:32] #47335 closed

[2020-02-07 03:32] DixitArora-MSFT commented on #47329
@codemaker For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 03:32] #47329 closed

[2020-02-07 03:32] DixitArora-MSFT commented on #47311
@stevenluda For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 03:32] #47311 closed

[2020-02-07 03:49] StingyJack commented on #47256
@KalyanChanumolu-MSFT - that you suggested that last link shows that you don't understand the problem. AzureSQL requires disconnect and reconnect to access each database. How am I supposed to do that from the connection that is running the sproc?

I have an Azure AD account, so those credentials need to work. Not sql auth. Even if I we're going to create a sql login, I'd still need something like

[2020-02-07 03:49] ram-msft commented on #47376
@greglandrum Can you please add more details about the use case that you are trying as we are unable to access the custom environment link that you mentioned. https://notebooks.azure.com/greglandrum/projects/custom-environment

[2020-02-07 03:50] StingyJack commented on #47257
@KalyanChanumolu-MSFT be sure to read the other issue response before updating this one.

[2020-02-07 04:02] ram-msft commented on #47314
@beritatscioplus We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 04:03] #47314 closed

[2020-02-07 04:19] SwathiDhanwada-MSFT commented on #46691
Assigning @bwren for enhancing the document.

[2020-02-07 04:24] m1nkeh opened #47640 "ADFv2 Integration w. private GitHub repo"
Hi,

I only seem to be able to integrate w. GitHub if my repo is public.. or, alternatively I make it public temporarily in order to set up the integration, and then immediately make it private afterwards 🤔.

I have then run a bunch of tests with the repo as private, and it all works as expected but it feels a bit hacky, and a workaround that i'm not really happy with. I worry that it will simply

[2020-02-07 04:26] abymsft commented on #47297
The solution in question is a java spring boot mvc solution. Being used in IDEs like eclipse and VsCode. The agent jat cannot be a part pf the application jar. It has to sit outside the application jar. Since the ask is it automate it. I was thinking more towards azuredevops/github.

[2020-02-07 04:28] FrankHu-MSFT commented on #47566
@sumitt18 this is currently not available, if you're interested in this feature please submit this as a feature request here and if there's enough community support the PG team will engage accordingly.
https://feedback.azure.com/forums/169401-azure-active-directory

That being said, if there's no more questions I'll be closing this by eod tomorrow. Thanks,

[2020-02-07 04:28] #47485 closed

[2020-02-07 04:29] FrankHu-MSFT commented on #47444
@ajopjo do you have anymore questions in regards to this issue? If not I will be closing this out by end of day tomorrow. Thanks

[2020-02-07 04:29] #47409 closed

[2020-02-07 04:29] FrankHu-MSFT commented on #47409
As there's been no response I'll be closing this out now, please open a new git issue if you have anymore questions.

[2020-02-07 04:32] KalyanChanumolu-MSFT commented on #47636
@erickvils Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live by EOD or tomorrow.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2020-02-07 04:35] greglandrum commented on #47376
@ram-msft Ooops, I had accidentally created a private environment. Sorry.
Here's a public one that has the same problem:
https://notebooks.azure.com/greglandrum/projects/custom-environment2

What I'm trying to do is use an environment.yml file to setup a conda environment that has some extra packages installed for me to use in jupyter. This simple example is just trying to install the conda `py-bo

[2020-02-07 04:35] BryanTrach-MSFT commented on #47046
@dineshbaskaran To see what might be going on, have you tried switching to application logging to filesystem (directly to the ASE)?

Have you ever successfully written your ILB ASE logs to blob storage?

[2020-02-07 04:36] FrankHu-MSFT commented on #47194
@sjthompsonengl I think this sort of issue will need a support ticket for further troubleshooting, please email AzCommunity[at]microsoft[dot]com and I can enable a one time free support ticket. Please provide your Azure Subscription GUID and a reference to this thread. And hopefully we can get you on the right path again soon. 

Please be sure to mention Frank Hu MSFT within Cloud Security and Ide

[2020-02-07 04:37] FrankHu-MSFT commented on #47194
If there are no more questions I will be closing out this ticket by end of day tomorrow, it looks like it's an issue with your custom policy not being setup properly, and is not within the scope of a github issue against the Azure Docs.

[2020-02-07 04:38] KalyanChanumolu-MSFT commented on #47636
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-07 04:38] #47636 closed

[2020-02-07 04:41] JYOTHIRMAISURI commented on #47132
adding
@nolavime the PM

[2020-02-07 04:49] RohitMungi-MSFT commented on #47628
@martinlarosa Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-07 04:53] DixitArora-MSFT commented on #47339
@shashankkr Optional filtering operations can be applied to operations performed using ServiceBusService. Filtering operations can include logging, automatically **retrying**, etc. Filters are objects that implement a method with the signature:
[code]
After doing its pre-processing on the request options, the method must call next, passing a callback with the following signature:
[code]
In this ca

[2020-02-07 04:53] #47339 closed

[2020-02-07 04:53] VikasPullagura-MSFT commented on #47635
@hukun01 Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-07 04:55] RohitMungi-MSFT commented on #47594
@AlexKelAnova Since the issue was closed we believe the issue is self resolved. If you are still facing issues please do tag us and provide more details about the issue. Thanks!!

[2020-02-07 04:56] CHEEKATLAPRADEEP-MSFT commented on #47615
@MetehanBolat  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 04:57] CHEEKATLAPRADEEP-MSFT commented on #47619
@koo9  Thanks for the question! We are investigating and will update you shortly.

[2020-02-07 04:59] CHEEKATLAPRADEEP-MSFT commented on #47622
@AdamGrossTX  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 05:01] CHEEKATLAPRADEEP-MSFT commented on #47623
@farooqkh  Thanks for the question! We are investigating and will update you shortly.

[2020-02-07 05:05] DixitArora-MSFT commented on #47375
@jimmcslim I have assigned this to content author for further review and update as appropriate.

[2020-02-07 05:05] DixitArora-MSFT commented on #47377
@jimmcslim I have assigned this to content author for further review and update as appropriate.

[2020-02-07 05:14] souravmishra-msft commented on #47634
@9073241516, I am looking into this and I will try to share some updates on this.

[2020-02-07 05:23] DixitArora-MSFT commented on #47369
@ajklotz My bad. I missed that. I have assigned this to content author for further review and update as appropriate.

[2020-02-07 05:31] DixitArora-MSFT commented on #47474
@waitingkuo This channel is driving improvements for official repo. If you have specific question to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your r

[2020-02-07 05:31] #47474 closed

[2020-02-07 05:31] #47552 closed

[2020-02-07 05:33] VikasPullagura-MSFT commented on #47552
@pacon-vib Doc update is done, changes will go live shortly.

[2020-02-07 05:38] ram-msft commented on #47204
@digipato We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 05:38] #47204 closed

[2020-02-07 05:41] jaredmoo commented on #47624
If the script *fails* then the error will show up in job execution last_message. However if you just get "unexpected results" then doesn't that mean we don't have an error to show you?

[2020-02-07 05:42] su-jie commented on #47531
I have created an item to track this. #please-close

[2020-02-07 05:42] #47531 closed

[2020-02-07 05:45] Haritha-Nuthi commented on #47142
Hi team,

Do we have any updates on this?

Thanks,
Haritha Nuthi

[2020-02-07 05:48] amanmcse commented on #47021
@dinesh71 Is your app federated with Azure AD using any SDK or any library or is it directly sending the request to https://login.microsoftonline.com?

[2020-02-07 05:57] amanmcse commented on #47619
@koo9 The instruction is to switch to your B2C tenant and go to Azure AD > App Registration. You can also register application under Azure AD B2C > App Registration (Preview) as well. Both these options register applications at same place in the backend.

Hope this clarifies your doubt.

[2020-02-07 06:07] BhargaviAnnadevara-MSFT commented on #47288
@GilShalit Please check if the above options help.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation specifically, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-07 06:07] #47288 closed

[2020-02-07 06:09] AshokPeddakotla-MSFT commented on #47568
@ash2017 Thank you for an update.
@qusp66 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 06:09] #47568 closed

[2020-02-07 06:13] lucidqdreams commented on #46938
![image](https://user-images.githubusercontent.com/6086602/74005420-99bedd80-492d-11ea-8337-8b78a843dad7.png)

I have even managed to get this working with external DNS, this image is showing that both containers are running just fine and responding through app gw at the same time.  The problem is still that the URL path mapping doesnt redirect to the container.

This is great that this works howe

[2020-02-07 06:21] bigdatamoore commented on #47465
I installed 2.0.81 but still got the same error.  Finally after some googling I saw that other people were getting a similar error with other projects and it seems to be related to pip needing to be upgraded.   The version of pip that is installed by the az cli is out of date.

I was finally able to get this installed by picking out the install command and running it with my local pip which is up

[2020-02-07 06:21] msrini-MSFT commented on #47423
@Joel-Cripps , Please tag me if you have any further questions.

[2020-02-07 06:21] #47423 closed

[2020-02-07 06:21] msrini-MSFT commented on #47510
@asasine , Do you have any update for me?

[2020-02-07 06:22] msrini-MSFT commented on #47578
@d4md1n , Do you have any update for me?

[2020-02-07 06:27] ram-msft commented on #47315
@beritatscioplus Please follow the below snapshot to install the azureml.
![image](https://user-images.githubusercontent.com/49180516/74005964-53ef2d00-49a0-11ea-8255-e162384e017f.png)

[2020-02-07 06:29] ChiragMishra-MSFT commented on #47640
@m1nkeh Thanks for reaching out. We are investigating into the issue and will update you shortly.

[2020-02-07 06:38] mcurko commented on #47127
I'm not going to open a support ticket since I'm trying this exercises for educational purposes only.

[2020-02-07 06:54] lucidqdreams opened #47644 "GEO Blocking for Application Gateway"
It seems like you cant use geo-filtering WAF policies for azure application gateways? is this the case.  I have also found this community request.

https://feedback.azure.com/forums/217313-networking/suggestions/38916769-enable-geo-locking-on-application-gateway-waf-poli

can you confirm this is the case?  If this is the case perhaps it might be useful for the documentation to have a **this requir

[2020-02-07 06:58] RohitMungi-MSFT commented on #47205
@DavidRayner Thanks for Sharing. Running the same query returned a response in about 10 seconds without timeout. Also tried to run similar queries within some time span and it worked.

![image](https://user-images.githubusercontent.com/46958063/74007658-d843af00-49a4-11ea-937f-e509985d9c74.png)

The `L` field attribute is not listed in the reference now. @DarrinEide Is the language of paper not su

[2020-02-07 06:59] msrini-MSFT commented on #47644
@lucidqdreams  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-02-07 07:01] RohitMungi-MSFT commented on #47400
@pulakkumar599 We hope the update went successfully on your machine. If you have any issues with VS 2019 we would suggest to raise an issue with visual studio [support](https://visualstudio.microsoft.com/vs/support/). We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-07 07:01] #47400 closed

[2020-02-07 07:02] RohitMungi-MSFT commented on #47436
@cagrimunyas Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-07 07:02] #47436 closed

[2020-02-07 07:06] RohitMungi-MSFT commented on #47470
You can create multiple language pairs under the same category ID except for EN-CHS and EN-CHT, since only one can exist. The second language pair must add "label" under the same workspace. Here is why:

The English to Chinese Simplified and English to Chinese Traditional both use English to Chinese Simplified models.  The English to Chinese Traditional system just adds a post process step at the

[2020-02-07 07:08] ram-msft commented on #47450
@robert4os PR raised for this, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 07:08] #47450 closed

[2020-02-07 07:13] kishan19 opened #47645 "Training model using rest API causes Base Model Error"
Am referring to the swagger of the API provided in https://southeastasia.cris.ai/swagger/ui and hitting a POST request in Python to the endpoint https://southeastasia.cris.ai/api/speechtotext/v2.0/models
In the data body I provide an acoustic dataset, and modelkind as acoustic, but it keeps saying Base Model error. I am using the model ID of the 20191007 model for EN-US and it's corresponding ID

[2020-02-07 07:23] m1nkeh commented on #47640
Ok let me know ;)

[2020-02-07 07:28] yoelhor commented on #47398
Without `data-preload=true`, a page is constructed in view.  This means that Azure AD B2C first loads the referenced HTML file, display it on the page and then download each reference and update the page with the contents. With `data-preload=true`, a page is constructed before being shown to the user.  This means that we first download the HTML file, then all of its references before constructing

[2020-02-07 07:30] BhargaviAnnadevara-MSFT commented on #47574
@robburton58 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-07 07:33] mumian commented on #47238
@Air-Git - We have several other tutorials that use Azure Cloud Shell deployment - https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-templates-use-visual-studio-code?tabs=CLI, and the tutorials under Advanced tutorials -https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-encrypted-storage-accounts.

#please-close

[2020-02-07 07:33] #47238 closed

[2020-02-07 07:36] DavidRayner commented on #47205
I think I must just be getting throttled? Thanks

[2020-02-07 07:37] shunkino commented on #47192
Hi @MohitVerma-MSFT,

Sorry for late reply. Thank you for assigning this issue to the author.
I love the efficiency of prerequisite contents with best practices.

Recently, I have found some users who're totally new to aks/azure platform get confused about prerequisite while reading tutorials.

[2020-02-07 07:38] CHEEKATLAPRADEEP-MSFT commented on #47637
@guntaled We don’t have any ETA for AzDataLakeGen2 feature in GA.

Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/?query=Azure%20Data%20Lake%20Analytics).

Azure updates provide information about important Azure product updates, roadmap, and announcements.

Hope this helps.

[2020-02-07 07:38] #47637 closed

[2020-02-07 07:46] pbartos commented on #47493
@GiftA-MSFT Pipeline parameters are also available for designer modules. E.g.: Split module can use parameter from the pipeline. Question is why this is not supported for the Execution Python Script module and is there any plan to change it?

[2020-02-07 07:52] BhargaviAnnadevara-MSFT commented on #47297
Ok. My comment above addresses it using Visual Studio, but if the ask is to automate it, using Azure DevOps Services will be the right way to go. You might want to check the [Java with Azure DevOps Services](https://docs.microsoft.com/en-us/azure/devops/java/?view=azure-devops) docs to explore the available options.

On a side note, I'd like to let you know that this channel (the [Azure Docs](http

[2020-02-07 07:52] #47297 closed

[2020-02-07 07:58] tdefise commented on #46614
@SaurabhSharma-MSFT Thanks for the clarification, it answers both questions I had.

[2020-02-07 07:58] #46614 closed

[2020-02-07 08:07] Cubercoding commented on #46696
hpsin, I used the PowerShell Invoke-RestMethod commandlet to following URL:
https://login.microsoftonline.com/$TenantID/oauth2/token
$TenantID is a the PowerShell variable which holds the ID of our tenant.
The URL I keep in variable:
$RequestAccessTokenUrl = "https://login.microsoftonline.com/$TenantID/oauth2/token"

The Header for the request is:
$Headers = @{"Content-Type" = "application/x-www-f

[2020-02-07 08:07] mikanyg commented on #47165
What about in Azure Data Factory (ADF) linked services for Databricks. I do not see any options to configure docker image, which means this feature cannot be used if ADF is used as primary data pipeline orchestrator.

[2020-02-07 08:08] v-tawe opened #47646 "Language???"
Why this page is in English? Where is the Chinese version?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 0accd850-354a-8aa1-70ac-5f8f5d8f29b7
* Version Independent ID: 0eaba672-99b6-ae97-32f1-ed7a504f5713
* Content: [Integrate with Azure Private Link Service](https://docs.microsoft.com/zh-cn/azure/key-vault/private-link-service)
* Content Source: [articles/key-vaul

[2020-02-07 08:12] VikasPullagura-MSFT commented on #47459
@hukun01 Hope the provided information helps clarify the query around VM SKU's for gold durability. As suggested please open support case for troubleshooting this issue.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-07 08:12] #47459 closed

[2020-02-07 08:14] thiruma0203 opened #47647 "Temporary storage size descriptions of NVv3 series are different from pricing site."
In this page temp storage sizes for NVv3-series are described as below.
 Standard_NV12s_v3  336
 Standard_NV24s_v3  672
 Standard_NV48s_v3  1344

However, pricing site introduces different sizes.
https://azure.microsoft.com/en-us/pricing/details/virtual-machines/windows/
NV12s v3  736 GiB
NV24s v3  1,474 GiB
NV48s v3  2,948 GiB

Please check which description is correct.
---
#### Document Details

[2020-02-07 08:39] BhargaviAnnadevara-MSFT commented on #47298
@abymsft The resolution for this seems related to #47297.

I'd like to let you know that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any furthe

[2020-02-07 08:39] #47298 closed

[2020-02-07 08:46] dhavalshah02 commented on #47500
Hey @MGoedtel, Any update on this?

[2020-02-07 08:47] KalyanChanumolu-MSFT commented on #47448
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-07 08:47] #47448 closed

[2020-02-07 08:48] VikasPullagura-MSFT commented on #47647
@thiruma0203 Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-07 08:53] yoelhor commented on #47615
@MetehanBolat I appreciate your comments and feedback. I see here two issue:
1) The resource group. You are right, we need to mention that this RG will contain later the 'Azure storage account', 'event hub', or 'Log Analytics workspace' where you want to archive the log to. Or alternatively use an existing RG, where you have existing 'Azure storage account', 'event hub', or 'Log Analytics workspac

[2020-02-07 09:01] SubhashVasarapu-MSFT commented on #46938
@lucidqdreams , From observations it looks like you have mentioned the path parameter as,
/path/*
![image](https://user-images.githubusercontent.com/44890829/74015099-fc5bbc00-49b5-11ea-8846-2fd8b6c927d0.png)
In-order to access contoso.com/path, then you need to define path as /path* or /path.
And also, Health probe is failing because of back-end sending 404.You need to specify the path in health

[2020-02-07 09:01] #46938 closed

[2020-02-07 09:02] souravmishra-msft commented on #47634
@9073241516, I was looking into this issue, where as per the request shared by you, I retried the same using a similar request for one of my Apps that is registered in AAD and it worked for me, as in i was able to get the access token after successfully redeeming that invitation through the request mentioned below.

**My Request:** https://login.microsoftonline.com/{MyTenantID}/oauth2/v2.0/authori

[2020-02-07 09:03] jakaruna-MSFT commented on #47638
@joelw
Thanks for the question! We are investigating and will update you shortly.

[2020-02-07 09:06] bowlerma commented on #47507
OK, thank you.  It would be good if the documentation was updated to reflect this.

Cheers.

[2020-02-07 09:29] bdnts commented on #43766
Actually, very straightforward:
1.  Azure-->Application Configuration --> Configuration Explorer
    Add new KV of "Test1" "Success"
2. Index.razor
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@code
{
  protected override void OnInitialized()
  {
    var gstring = Configuration["Test1"];
    base.OnInitialized();
  }
3.  Run locally in Debugger, inspect gstring

[2020-02-07 09:39] SubhashVasarapu-MSFT commented on #47565
@mavilleg , We have assigned this issue to the respective content author for updating the document accordingly.

[2020-02-07 09:41] databasedav opened #47651 "Alternatives to depends_on"
https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-container#unsupported-options

What alternatives to `depends_on` are there that do not involve performing checks in the application layer? I got a permission error when attempting to run `wait-for-it.sh` at the `docker-compose.yml` level and would like to avoid mixing the checks into the applications. Has there been any

[2020-02-07 10:12] Peter-B- commented on #42046
I just fell for the same thing again. The ```Trigger - host.json properties``` is still outdated.

[2020-02-07 10:13] CHEEKATLAPRADEEP-MSFT commented on #47651
@basedav  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community mem

[2020-02-07 10:14] RohitMungi-MSFT commented on #47645
@kishan19  It looks like you are facing an issue with the API call to the service. This forum is primarily used to address related to our documentation. We would request to provide more details of the error and call to our speech support team at  `speechsupport[at]microsoft[dot]com` so they can investigate and advise.

[2020-02-07 10:23] nicolaibaralmueller commented on #43427
We can't open up inbound port 443 from any source to any. This violates our security. This needs a service source like any other Azure server! Unable to use this feature unless fixed.

[2020-02-07 10:25] marawanshalaby commented on #47575
Done: https://github.com/microsoft/botframework-cli/issues/550 . Thank you

[2020-02-07 10:27] KamilRosinski commented on #47332
Any updates on this topic? We got completely blocked by that issue in our project.

[2020-02-07 11:05] CHEEKATLAPRADEEP-MSFT commented on #47646
@v-tawe  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-02-07 11:06] Dmitry-Me commented on #47393
@Karishma-Tiwari-MSFT It looks like the lines right above and right below that line (links to KB 4530734 and 4530702) also have the same issue.

[2020-02-07 11:07] CHEEKATLAPRADEEP-MSFT commented on #47483
@rubentlc  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-07 11:07] #47483 closed

[2020-02-07 11:23] LXBdev opened #47654 "Do I need to provide content for all languages if I use localized URLs?"
When a user flow is started with an explicit locale set (e.g. `&lang=es` or `&UI-locales=es-ES`) and we don't have a file for this locale, we get an error page.

We have set up SupportedLanguages, but this does not seem to do anything if the locale is passed explicitly. I don't want to have to rely on the applications not passing me this parameter.

[code]
Is there a way to prevent this?

---
####

[2020-02-07 11:33] RohitMungi-MSFT commented on #47431
@robert4os Explanations are designed to work for [remote and local](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability#local-and-remote-compute-target) compute. You can try to use this sample [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/explain-model/azure-integration/scoring-time/train-explain-model-loca

[2020-02-07 11:40] basedav commented on #47651
oops sorry about that I edited the link into the OP

[2020-02-07 11:45] janpalas opened #47655 "Route filter on message body: Field names with ".""
I have messages coming to IoT hub which field names are like "device.name", "protocol.id", etc. Is it possible to set up a route filter on such fields? For example "$body.protocol.id = 14" - this does not work now and I was not able to find out any escape sequence for a route filter to escape the "." in the field name.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-02-07 11:48] dcrystalj opened #47656 "Permission for file size"
Whole point of SAS I see is to prevent attacker doing damage. But SAS policy (sharedAccessBlobPolicy) is missing one important parameter which is maxBlobSize. This would prevent attacker to upload 200gb file as described in `Understand that your account will be billed for any usage, including via a SAS.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-07 11:55] peacemaker360 opened #47657 "Conditional access options"
Specify whether or not other conditional access criteria are valid or not.
Eg. is it supported to also probe for 'Require device to be marked as compliant'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77476799-7803-afb8-c69f-d537af04c2f3
* Version Independent ID: 5e1056a6-61b1-585b-5f01-d6cd942600f3
* Content: [Enab

[2020-02-07 12:03] jakaruna-MSFT commented on #47638
i think you cab create the public ip in a separate resource group.

In that case you need to give the access for service principal of AKS  to that public ip.

Try this if you can. Else i will try in my env and let you know.

While deleting the aks cluster, The whole MC_* resource group is deleted. So all the resources in them are deleted.

[2020-02-07 12:04] jakaruna-MSFT commented on #47002
@pplavetzki did you had a chance to try

[2020-02-07 12:05] jakaruna-MSFT commented on #47394
@devoto13  i will update the doc as needed. Thank you

[2020-02-07 12:07] ram-msft commented on #47315
@beritatscioplus We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 12:07] #47315 closed

[2020-02-07 12:08] balintbako opened #47658 "Can ISE access Azure.Storage Service Endpoint?"
Hi,

The documentation says that "Your logic app or integration account can then directly access resources, such as virtual machines (VMs), servers, systems, and services, in your virtual network.".
It is unclear if Service Endpoints, specifically Azure.Storage, can be accessed vi the VNET injection?

Regards,
 Balin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-02-07 12:09] dineshbaskaran commented on #47046
@BryanTrach-MSFT
(1)Yes, We have tried with application logging to filesystem also. It is not writing any logs. This issue comes only when we deploy in ASE ILB. If I do the same in public App Service, it is writing all the logs which we given in our App.

(2)No, We never seen any successful written logs in ILB ASE with blob storage.

If you need any other details please let me know.

Many Thanks!!

[2020-02-07 12:13] devoto13 commented on #47394
Btw I solved this doing using `az container export --file template.yaml`, then modifying the `template.yaml` using script and running `az container create --file template.yaml` to deploy an updated configuration.

The drawback is that Docker registry password and any secret environment variables are not present in the exported `template.yaml`, so I had to add them back in a script. While the solut

[2020-02-07 12:17] montoshdey commented on #15134
Storage account not visible when creating virtual machine.

[2020-02-07 12:18] jakaruna-MSFT commented on #47439
@tehtertot  @VijayRod
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-07 12:36] MetehanBolat commented on #47615
@yoelhor
I am glad to have contributed. Before last week I was looking for this method, there was no results. All of a sudden last week I come up with that page. It was exactly what I needed but it was time consuming to set it up till I figure out the intention and logic, although I would actually consider myself as an experienced Azure Admin :)

About the second point, I appreciate the clarificat

[2020-02-07 13:05] isamllr opened #47659 "Please provide an architectural diagram to clarify the setup of Azure components"
Please provide an architectural diagram to clarify the setup of Azure components.

Is there a recommended file size for this to perform as good as possible?
Which file format is recommended for best performance if the data will be updated and transformed using Databricks?
It also would be amazing if you could share a working example on github.
Is it possible to use this with Delta?

---
#### Docum

[2020-02-07 13:17] chwilfing opened #47660 "Current Conditional Access does not allow this policy"
Access Policy does not allow to be saved. Error shown:

Policy configuration not supported. Review the assignments and controls.

and redirects to the page: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/best-practices#what-you-should-avoid-doing ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-07 13:19] chwilfing commented on #43521
Still valid - still not fixed..

[2020-02-07 13:23] chwilfing commented on #47660
duplicate of #43521

[2020-02-07 13:23] #47660 closed

[2020-02-07 13:31] Koxzi95 commented on #47516
Receiving the same error. By following the instructions straight through we are getting an invalid URL.
No issues with permissions granted and all actions taken being done via an admin account.

[2020-02-07 13:31] KalyanChanumolu-MSFT commented on #47331
@dav3thompson We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-07 13:31] #47331 closed

[2020-02-07 13:42] DixitArora-MSFT commented on #47658
Hi @balintbako Thanks for reaching out. We will review and update as appropriate.

[2020-02-07 13:44] inesmonteiro14 commented on #47638
Also, there is another way to always keep the DNS label without being removed. It would be great it you could update the information in here!
It was already detected by some people in GitHub and the solution is the following:

To preserve the DNS label of a public IP in use by a cluster service do the following:

1. Use the kubectl edit svc command to edit the manifest of the svc: Kubectl edit svc

[2020-02-07 13:47] waynerobinson opened #47662 "Partitioning and throttling?"
Does partitioning a namespace effect the 1000 RPS throttle limit of the namespace? The document implies it might, but isn’t clear on that fact.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14b28704-f660-c413-a0fe-cb1d469fe35c
* Version Independent ID: 403df162-e673-527f-8e72-8abf43d8b5cc
* Content: [Create partitione

[2020-02-07 13:53] mexidus opened #47663 "Incorrect Powershell Command"
The first powershell command states to use "Connect-AzAccount"
This should be "Connect-AzureAD"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* Content: [Create a storage account - Azure Storage](https://docs.microsoft.

[2020-02-07 13:53] ozanbora commented on #47227
I have tried the following scenario

- Create a standard azure load balancer, without any inbound rule.

- Add 2 front end IP address.

- Configure 2 VM in the backend pool.

- Create an outbound rule with only 8 SNAT port

I'm only able to access internet with the first IP configured within the outbound rule. May be I was not able exhaust the first 8 SNAT port coming from the first public IP, I'm

[2020-02-07 13:54] inesmonteiro14 commented on #47638
In order to do with Helm, as per below documentation, it could be:

# Use Helm to deploy an NGINX ingress controller
helm install nginx-ingress stable/nginx-ingress \
    --namespace ingress-basic \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set controller.se

[2020-02-07 14:06] martinagrom opened #47664 "Policy does not work that way"
the policy, as described - does not work in that way because you cannot add all users, all apps.
Error: "policy configuration not supported"
to implement the policy you need at least an exception or reduce the apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b567e4-ba41-7042-f978-08fd33c4bb39
* Version Independen

[2020-02-07 14:07] martinagrom commented on #47664
duplicate of #43521

[2020-02-07 14:08] magoicochea opened #47665 ""Managed application in local directory" no longer available"
Due to the new look on Azure App Registration this option does not seem to be available. Could you please update the documentation? Is this still possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be62a693-4dfd-ad56-cce2-b4dbc794f34b
* Version Independent ID: bd8bc1b2-925f-a0c3-4286-37eb2f7189f5
* Content: [Restr

[2020-02-07 14:15] grizzljt opened #47666 "What minimum permissions are required for access to the Container registry"
I have created a service principal, `acr_sp_reader`, and given the account the roles, `Reader` and `AcrPull` for the container registry.  The account is still unable to authenticate.  The module deployment works correctly when using the default admin account of the ACR.  What minimum permissions are required for module deployments?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-02-07 14:16] asudbring commented on #47565
Not sure about this one.  Sending over to PM for review and guidance

#assign:@anavinahar

[2020-02-07 14:17] Boshskoski opened #47667 "Wrong picture for explanation"
On the  Grant front-end app access to back end title  , part 4
it is saying: In the Request API permissions page for the back-end app, select Delegated permissions and user_impersonation, then select Add permissions.
But the problem is that the UI is changed and now this Delegated permissions we can see on My APIs.

Please update the picture because it is different and it is not clear

---
#### Do

[2020-02-07 14:22] DixitArora-MSFT commented on #47662
Hi @waynerobinson Thanks for reaching out. We will review and update as appropriate.

[2020-02-07 14:30] ValdivNico opened #47668 "Sample code target a different framework that the one specified in the docs"
Hyperlink to _ASP.NET Core Web App calls Microsoft Graph_ redirects to a project that was updated for NetCore 3.x. It does not longer compile in 2.1. And uses NetCore 3.1 dependencies.

[2020-02-07 14:34] AlexanderSaad opened #47669 "The users that were invited as guests are migrating to another tenant."
TenantA invites users from TenantB, which creates guest accounts in State1. The users from TenantB will migrate to TenantC. At the end of the migration they will the same UPNs and passwords, but will be hosted on a different tenant.
Would it be needed to re-invite them (creating new guest accounts), or the old guest accounts will still work?
Will TenantA know send the authentication request the ne

[2020-02-07 14:39] vasquezx1 commented on #47433
My code is being requested as a 6 digit but my authenticator app only displays an 8 digit code. I am trying to log in and set up my lapsed free azure environment to pay as I go. I was using a trial.

[2020-02-07 14:40] ryanspletzer opened #47670 "Certificates are available from the CurrentUser\My cert store but this is not documented here"
I've discovered that any certificate that you upload to Azure Automation is available to your runbooks in the account from the CurrentUser\My cert store automatically, without the need to first run Get-AutomationCertificate. That cmdlet is only if you want the certificate in-memory to push to some other location potentially.

This is not documented here. It required me to run a hello world runbook

[2020-02-07 14:44] NavtejSaini-MSFT commented on #47481
@DOliana We are checking this with our doc author for further insight.
@TheovanKraay Please check the feedback from the user and provide clarity regarding the same.

[2020-02-07 14:45] NavtejSaini-MSFT commented on #47416
@mbanck Please check the response from our author and let us know if you need further help or we will close this thread by EOD.

[2020-02-07 14:49] benmillaneasos opened #47671 "Incorrect code example given"
There is a snippet for setting up keyvault which is as so:
                options.Connect(settings["ConnectionStrings:AppConfig"])
                        .ConfigureKeyVault(kv =&gt;
                        {
                            kv.SetCredential(new DefaultAzureCredential());
                        });

But the documentation states "When you initialized the connection to App Configuratio

[2020-02-07 14:50] inuvano-labs commented on #36828
@TravisCragg-MSFT - I know this issue is closed, but would you be able to confirm the behaviour of being able to resolve records in a Private DNS Zone linked to a VNET where a web app is integrated?

I am running an Azure Function on App Service plan integrated with a VNET (Regional Integration), Private Zone linked to the same VNET. When adding an A record "test" and firing up nameresolver I get

[2020-02-07 14:50] TheovanKraay commented on #47481
Thanks. Tagging @markjbrown on this as well.

[2020-02-07 14:58] pbazydlo opened #47672 "No link to CLI docs about Batched event delivery"
This page mentions that Batched event delivery can be configured via CLI, however it doesn't point to any docs describing how to do it. Searching for this information outside this page is yielding no results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 9

[2020-02-07 15:01] morcinim opened #47673 "Out of date information"
Hi,
I am trying to find out how CSP Partner can add additional subscription to Azure Plan
The documentation
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/programmatically-create-subscription?tabs=rest#create-subscriptions-for-an-mpa-billing-account
is incorrect.
Specifically:
1) In section "Optional for Indirect providers: Get the resellers for a customer"
the URI for ge

[2020-02-07 15:04] DixitArora-MSFT commented on #47672
Hi @pbazydlo Thanks for your feedback. We will review and update as appropriate.

[2020-02-07 15:07] mbanck commented on #47416
I've asked back about this and will update here, but probably only next week

[2020-02-07 15:10] DLeXh opened #47674 "defaultuser1 issue"
Hello there,

I've tried to implement SSPR functionality locally on my device and everything was working fine but suddenly after several times of pressing the "Reset password" button (without resetting my password actually) it didn't work anymore and I was just redirected to the lock screen again.

Then I've looked under my user directory and found what was causing the problem. A pyramid of defaul

[2020-02-07 15:24] diberry commented on #47516
@RohitMungi-MSFT Can you help with this?

[2020-02-07 15:24] CharmanderJieniJieni opened #47675 "Will on-prem traffic to StorageAccount, Azure SQL route trough ExpressRoute by default?"
We have ExpressRoute created between on-prem and Azure, question is if we try to access Azure PaaS services   which are created with public endpoints from on-prem, such as StorageAccount, Azure SQL, will the traffic route through ExpressRoute by default or it will still goes through internet untill MS peering is in space

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-02-07 15:29] CHEEKATLAPRADEEP-MSFT commented on #47630
@jonwbstr  Thanks for the question! We are investigating and will update you shortly.

[2020-02-07 15:31] RyanHill-MSFT commented on #47630
@jonwbstr, since free certs is in preview I don't believe there's API available; however, I will check with product group team and will provide a definitive answer.

[2020-02-07 15:34] CHEEKATLAPRADEEP-MSFT commented on #47651
@basedav Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-07 15:34] theGrower opened #47676 "The type or namespace name 'SqlAuthenticationProvider' does not exist in the namespace 'System.Data.SqlClient'"
SqlAuthenticationProvider no longer seems to be apart of System.Dat.SqlClient? I attempted to use every version from 4.4.3 to 4.8.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive c

[2020-02-07 15:36] theGrower commented on #47676
SMH. Update the document.  You need 'Microsoft.Data.SqlClient'.

[2020-02-07 15:37] CHEEKATLAPRADEEP-MSFT commented on #47655
@janpalas  Thanks for the question! We are investigating and will update you soon.

[2020-02-07 15:39] CHEEKATLAPRADEEP-MSFT commented on #47656
@dcrystalj  Thanks for the question! We are investigating and will update you shortly.

[2020-02-07 15:42] CHEEKATLAPRADEEP-MSFT commented on #47668
@ValdivNico  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2020-02-07 15:42] datasharkNL opened #47677 "Set-AzureRmDataFactoryV2LinkedService : HTTP Status Code: BadRequest"
Hi all,

When I would to deploy a Azure Data Lake Gen2 Linkedservice via powershell, i get this error:
[code]

My line in powershell (copied from the tutorial):
`Set-AzureRmDataFactoryV2LinkedService -ResourceGroupName "TrialDS" -DataFactoryName "TrialDS-Factory2" -Name "LinkedServiceCuratedWikiData" -File "C:\\Users\\<username>\\Desktop\\ADF Deployment\\linkedservice\\datalake.json" | Format-List

[2020-02-07 15:46] CHEEKATLAPRADEEP-MSFT commented on #47659
@isamllr  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-07 15:48] samueljamkhandi-MSFT opened #47678 "Please update the script with one I tested -"
I see the script makes use of the Snapshot, which is also fine. But in your previous articles you just copied the managed disk so whoever is following this articles will face issue just like I did. If possible please update with below:

#Provide the subscription Id
$subscriptionId = 'yourtargetSubscriptionId'

#Provide the name of your resource group
$resourceGroupName ='yourtargetResourceGroupNam

[2020-02-07 15:55] janpalas opened #47679 "Get IConfiguration in FunctionsStartup"
There is a line in the article saying:

*Values defined in app settings are available in an IConfiguration instance, which allows you to read app settings values in the startup class.*

Could you please elaborate a bit how? There is only single parameter in `Configure` method - `IFunctionsHostBuilder`. How can one get IConfiguration instance from `IFunctionsHostBuilder`?

---
#### Document Details

[2020-02-07 15:56] benmillaneasos commented on #47671
I got it working using the following:

AzureServiceTokenProvider azureServiceTokenProvider = new AzureServiceTokenProvider();
                KeyVaultClient kvClient = new KeyVaultClient(new KeyVaultClient.AuthenticationCallback(azureServiceTokenProvider.KeyVaultTokenCallback));

                config.AddAzureAppConfiguration(options =>
                {
                    options.Connect(settin

[2020-02-07 16:06] andresrocksmx commented on #44790
I think same issue started happening just now but for 2019-Datacenter, exactly the same as for 2016-Datacenter, in both cases I was testing the entire morning and in the afternoon it stopped working, around the same time (between 2pm and 3pm UK time).

I have an Azure Pipeline that runs the packer to generate the image, even running the same release that failed because one of the provisioners is b

[2020-02-07 16:19] NavtejSaini-MSFT commented on #47555
@FredFaust We created a Pull request https://github.com/MicrosoftDocs/azure-docs-pr/pull/103639 for this.
Once approved, changes will be visible.

[2020-02-07 16:20] NavtejSaini-MSFT commented on #47416
@mbanck Thanks for the update. We will go ahead and close the thread for now and when you get more information you can comment here and we will continue the conversation.

[2020-02-07 16:20] #47416 closed

[2020-02-07 16:27] DixitArora-MSFT commented on #47679
Hi @janpalas Thanks for reaching out. We will review and update as appropriate.

[2020-02-07 16:29] DeanCefola opened #47680 "Typo in code"
If you go directly to this link it will take you to the problem section on this page
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes#changing-the-auto-upgrade-setting

there is a code block to import the AFS PowerShell Module with the following code
cd 'C:\Program Files\Azure\StorageSyncAgent'
Import-Module -Name \StorageSync.Management.ServerCmdlets.dll

This code

[2020-02-07 16:35] danvanderboom opened #47681 "Does this documentation reflect the current version of AzCopy? Getting errors when using example commands."
I attempted to use the example on this page to copy the contents of an S3 bucket to an Azure Blob container:

azcopy copy "https://s3.amazonaws.com/mybucketname" "https://mystorageaccount.blob.core.windows.net/mycontainername" --recursive=true

It produces this error:
[2020/02/07 08:31:50][ERROR] The syntax of the command is incorrect. Error parsing the argument "copy": parameter name is required.

[2020-02-07 16:39] NavtejSaini-MSFT commented on #47676
@theGrower We are checking this and we will get back to you.

[2020-02-07 16:41] Alexx221x opened #47682 "org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; Content is not allowed in prolog."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751ccff2-59c4-e2e4-8a64-d90b195c89ac
* Version Independent ID: 6c696aa8-9226-737e-94fe-1f0697e88038
* Content: [Tutorial: Detect and frame faces in an image with the Android SDK - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognit

[2020-02-07 16:59] GiftA-MSFT commented on #47516
@Koxzi95 did you already enable QnA Maker to access your SharePoint resource?

[2020-02-07 17:01] Koxzi95 commented on #47516
Hey there,

We used the link to add the QnA Maker Enteprise App, provides this with admin consent and then auth’d using the QnA maker prompt also. Is there something further which needs to happen?

________________________________
From: GiftA-MSFT <notifications@github.com>
Sent: Friday, February 7, 2020 4:59:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tom Cox <tom.jcox@

[2020-02-07 17:07] Karishma-Tiwari-MSFT commented on #47346
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-07 17:07] #47346 closed

[2020-02-07 17:10] tamram commented on #47623
#reassign: @artemuwka

[2020-02-07 17:10] tamram commented on #47623
#please-close

[2020-02-07 17:10] #47623 closed

[2020-02-07 17:12] SwathiDhanwada-MSFT commented on #47670
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-07 17:15] GiftA-MSFT commented on #47344
@szhaomsft thanks for updates. Will now proceed to close this thread.

[2020-02-07 17:21] loomlike commented on #31354
@tedway I found why I missed that.
Current doc says:

When I did quota check for my subs, I see my subs have 6 available (the same as the docs example)
[code]
but still I'm getting the same error when deploying.

So I think we should add what you said "Some subscription IDs may need to be added to an allowed list, even though they may already have quota" which is much clear.

Btw, I submitted requ

[2020-02-07 17:21] ChristopherHouser commented on #47142
If the certificate from the MQ Server is not issued by a trusted certificate authority, then it will need to be installed in the local machine’s Trusted Root Certificate Authorities store on the Windows system were the On-prem Data Gateway is running.   You can use the Windows Certificate Manager to install the cert (Certmgr.msc).

[2020-02-07 17:23] alohaninja opened #47683 "Code Examples in Net Core"
Can we see code examples written in netframework? The [code examples above appear to be written in netcore ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-dotnet)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de19743-3ef7-893b-d63f-d352cc4c105d
* Version Independent ID: 30fe62

[2020-02-07 17:27] Ceespino commented on #47640
@m1nkeh Unfortunately  I cannot repro this behavior on my side, could you please try to clean up your browser cache and cookies and try again ? (So when you try to link the private git repo again you receive a new prompt for OAuth and we get a new token, you can try this in incognito as well).
Also, are you trying to link an initialized GitHub repo?
Finally, just double checking, are you accessing

[2020-02-07 17:28] sjthompsonengl commented on #47194
No more questions, I've emailed AzCommunity[at]microsoft[dot]com as you suggested. Thanks for your help

[2020-02-07 17:28] AjayKumar-MSFT commented on #47284
@euphonious28, Thanks for bringing this to our attention! I have assigned the issue to the content author to review further and update the document as appropriate.
@sethmanheim, requesting your help on this.

[2020-02-07 17:32] CeciAc opened #47684 "IOT Central devices send the "body" encoded in base64"
The comment below was machine-translated

@aimjarozas commented on [Thu Feb 06 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/697)

I have followed the instructions for elbody to be sent in utf-8 and still send in base64.
iotc.sendTelemetry("{\"temp\": " 20"},{"contentType":"application/json","contentEncoding":"utf-8"})and the system stops sending messages and falls after the first

[2020-02-07 17:33] danielsollondon commented on #44790
Hi All, I'm a Program Manager for the Azure VM image builder (which uses Packer under the hood), we have seen this too with Win2016 from images after October, and we have engaged the Windows PG to investigate. Initially there was a low memory condition which could cause problems, when using Standard D1_v2, this was due to Windows Update, and has been mitigated. However, there is still an issue, Wi

[2020-02-07 17:39] danielsollondon commented on #37579
Hi, apologies for the delay, these pages will be updated with PS examples soon, in the meantime, some are here:
https://github.com/danielsollondon/azvmimagebuilder/tree/master/quickquickstarts/1_Creating_a_Custom_Win_Shared_Image_Gallery_Image#using-powershell-to-create-a-windows-server-custom-image-using-azure-vm-image-builder

Thanks,

[2020-02-07 17:48] cynthn commented on #37579
I recently updated the "how-to" document for using Image Builder with Shared Image Gallery for PowerShell: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-gallery based on the examples that Daniel has in his repo.

[2020-02-07 18:03] #47367 closed

[2020-02-07 18:17] MicrosoftGuyJFlo commented on #47620
@Mike-Crowley the date metadata in docs content is only updated when a full pass by an author has happened and the content is confirmed accurate. I am in the process of refreshing the content in Conditional Access.

[2020-02-07 18:17] MicrosoftGuyJFlo commented on #47620
#please-close

[2020-02-07 18:17] #47620 closed

[2020-02-07 18:17] m1nkeh commented on #47640
Hey,

Thanks for taking a look.. i will try to repro, and update accordingly this weekend.

In answer to the questions:
 - Yes it is initialised, although i will retry with both
 - No i am not using the same account for Azure (client AzureAd) as for GitHub personal..

Ty.

[2020-02-07 18:20] MicrosoftGuyJFlo commented on #47487
@MarileeTurscak-MSFT you are correct in your explanation. Impossible travel is also gathering information from MCAS to make its decision not just the previous normalized behavior from Identity Protection for atypical travel.

[2020-02-07 18:21] dankellett opened #47685 "Reply URL"
This process does not enter the Reply URL that is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf2d1dc-ab4d-5e4a-d18d-a9f4fba5aedb
* Version Independent ID: 2a58c27f-19e8-1a9a-f14a-45db73b91cc2
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with Salesforce](https://docs.micro

[2020-02-07 18:25] brucedkyle opened #47686 "Integration with hub/spoke architecture"
Our team is implementing a hub spoke architecture (as shown in https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/hub-spoke-network-topology) where the Application Gateway V2 make a AKS cluster is available in a spoke using AGIC with RBAC. (see https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview). AGIC requires App Gateway

[2020-02-07 18:29] mmacy commented on #47194
#please-close

[2020-02-07 18:29] #47194 closed

[2020-02-07 18:40] cherylmc commented on #43427
#assign:charwen

[2020-02-07 18:41] shashishailaj commented on #47372
@curtand Could you please help evaluate how best we can improve the description of "User administrator" role ?

[2020-02-07 18:42] nlasso commented on #24319
Had the exact same issue. Thanks to @SleepyRoy for his suggestion. The issue was that there was not enough power to start the ML model defined in `init()` function of the `score.py` file.

The solution was to add more cores (2CPUs) and 8 Gb RAM to enable a faster init and to finish before the 300ms timeout.

[2020-02-07 18:45] mike-urnun-msft commented on #47210
@bigdatamoore Given the scope of update required, as the next step, we are assigning this issue to the content author to review further and take the right course of action.

[2020-02-07 18:50] m9smith commented on #47214
I was able to see the PiTR charges by looking in Cost Management for Part Number AAD-33538 which maps to RA-GRS for that resource when looking at the price list. Is that correct?

[2020-02-07 18:51] Adam-Smith-MSFT commented on #47663
@mexidus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-07 18:57] YinYangOfDao opened #47687 "is there any API or json/python-dict format list about specs of VM sizes?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose - Azure Windows Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2020-02-07 18:58] KranthiPakala-MSFT commented on #47519
@vlado101 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-02-07 18:58] #47519 closed

[2020-02-07 19:05] Mike-Ubezzi-MSFT commented on #47666
@grizzljt Thank you for bringing this to our attention. I am investigating this issue and will update you when I have accurate information to share.

[2020-02-07 19:07] worldhello126 commented on #47000
The 20GB come from our KTLShared log, it will need around 1.1GB per service .and we have 7 service so 7.7GB per node, and we have host 3 node, so 21 GB.

So even 1 node, it require 8GB around. if this work for you. then we can talk about the 1 node dev box.

One easy way is update the ClusterManifest.SingleMachineFSS.xml under /home/ClusterDeployer in the container image

Following section are use

[2020-02-07 19:07] Adam-Smith-MSFT commented on #47680
@DeanCefola Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-07 19:09] Adam-Smith-MSFT commented on #47681
Hi @danvanderboom Which version of Azcopy are you currently using ?

[2020-02-07 19:11] MicrosoftGuyJFlo commented on #47487
#please-close

[2020-02-07 19:11] #47487 closed

[2020-02-07 19:16] grizzljt commented on #47666
To test, I escalated the roles of the Service Principal `acr_sp_reader` to include `AcrPush`, `AcrDelete`, `AcrImageSigner`, as well as `AcrPull` and `Reader`.  This account is still unable to authenticate.  My deployment manifest looks like this:

[code]
however this works fine:
[code]

[2020-02-07 19:16] tfitzmac commented on #47422
By "block properties", I mean I don't display those properties in the docs that get generated for a resource type.

You would find the readonly property in the REST API specification. For example, managed clusters has this [property which is readonly](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-01-

[2020-02-07 19:21] grizzljt commented on #47666
To test, I escalated the roles of the Service Principal `acr_sp_reader` to include `AcrPush`, `AcrDelete`, `AcrImageSigner`, as well as `AcrPull` and `Reader`. This account is still unable to authenticate. My deployment manifest looks like this:
[code]
however this works fine:
[code]
I am using the AzureIoTEdge@2 task and 'Deploy to IoT Edge devices' action in Azure DevOps.  I see the following er

[2020-02-07 19:23] grizzljt commented on #47666
To test, I escalated the roles of the Service Principal `acr_sp_reader` to include `AcrPush`, `AcrDelete`, `AcrImageSigner`, as well as `AcrPull` and `Reader`. This account is still unable to authenticate. My deployment manifest looks like this:
[code]
however this works fine:
[code]
I am using the AzureIoTEdge@2 task and 'Deploy to IoT Edge devices' action in Azure DevOps. I see the following err

[2020-02-07 19:24] BharathNimmala-MSFT commented on #47230
@AlexeyBoiko Thanks again for bringing this to our notice, we have reached out to our internal product to better understand this behavior and once they have a chance to review this issue we will share the updates accordingly.

In the mean time it might be helpful if you could share your account information to further help us and our team to troubleshoot this. Please send an email to AzCommunity@mi

[2020-02-07 19:24] #47230 closed

[2020-02-07 19:29] brucedkyle opened #47688 "Using Private IP"
I am using AGIC.

Do I understand the steps correctly to add a private IP as stated on this page?
1. Add a private IP to the Application Gateway.
2. Connect up the private IP using the annotation:

  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/use-private-ip: "true"

Does the AGIC scenario support these steps? I am confused by what seems

[2020-02-07 19:30] ash2017 commented on #47655
Hi, this is supported and should work. Please contact support so we can resolve the issue.

[2020-02-07 19:34] MarileeTurscak-MSFT commented on #47685
@dankellett
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 19:36] MarileeTurscak-MSFT commented on #47674
@DLeXh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 19:37] MarileeTurscak-MSFT commented on #47665
@magoicochea
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 19:38] MarileeTurscak-MSFT commented on #47654
@LXBdev
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 19:39] MarileeTurscak-MSFT commented on #47669
@AlexanderSaad
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 19:39] MarileeTurscak-MSFT commented on #47664
@martinagrom
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 19:41] #47373 closed

[2020-02-07 19:42] KranthiPakala-MSFT commented on #47373
@priyanka-gomatam Thanks much for letting us know. I have submitted a PR to update the doc as suggested.

[2020-02-07 19:48] tfitzmac commented on #47529
@omerzubair - thanks for this feedback. I agree that would be a good improvement. I will work on adding it.

[2020-02-07 19:48] tfitzmac commented on #47529
#in-progress

[2020-02-07 20:06] Karishma-Tiwari-MSFT commented on #47678
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-07 20:07] Karishma-Tiwari-MSFT commented on #47687
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-07 20:08] langstonj commented on #25972
@LarryChe-600  Thanks for the tip.  Worked like a champ.

[2020-02-07 20:13] hpsin commented on #47224
Hi @slavizh - I can't repro this.

I followed the docs and did the following:
$policy = New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"AccessTokenLifetime":"23:00:00"}}') -DisplayName "Polixy" -IsOrganizationDefault $false -Type "TokenLifetimePolicy"
$sp = Get-AzureADServicePrincipal -ObjectId f4382e16-502f-44c9-ac2d-0922136fde2e // this is the management.azure.com app ID
Ad

[2020-02-07 20:23] TylerMSFT commented on #44694
#please-close

[2020-02-07 20:23] #44694 closed

[2020-02-07 20:30] nickolasfisher commented on #40907
Can this issue be reopened.  The issue is happening again.  It appears to only occur when the update is initiated from the Marketplace.  if initiated from the ISV it seems to work as described in https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#implementing-a-webhook-on-the-saas-service

[code]

[2020-02-07 20:33] SaurabhSharma-MSFT commented on #47512
@PatrickLownds Thanks :).
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-07 20:33] #47512 closed

[2020-02-07 20:33] grizzljt commented on #47666
Eureka!
The APP ID of the Service Principal works with `Reader` and `AcrPull` roles on the ACR.
[code]

[2020-02-07 20:33] CeciAc opened #47689 "Azure Functions 2.x recommended?"
@K232 commented on [Wed Feb 05 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/618)

In https://docs.microsoft.com/de-de/azure/azure-functions/functions-create-your-first-function-visual-studio#create-a-function-app-project it says that Azure Functions 2.x is recommended, at least for creating a first function. Is this still the actual recommendation? If so, why shouldn't 3.x be use

[2020-02-07 20:34] slavizh commented on #47224
Can you provide the web request body to issue token? Scope being Azure Management url but also the resource needs to be the management url otherwise you cannot use it in connect-azaccount and login.

[2020-02-07 20:36] slavizh commented on #47224
Also you have comment // this is the management.azure.com app ID
Is there some default app in every Azure AD that corresponds to url management.azure.com?

[2020-02-07 20:40] hpsin commented on #47224
Yes, it's that one. That's how Azure AD works - apps are registered once and used across tenants.

Scope and resource are identical - it's literally impossible to have scope Foo, and resource not Foo.

[2020-02-07 20:44] GiftA-MSFT commented on #47493
@pbartos thanks for your feedback and for clarifying the issue. Unfortunately, we don't have information at the moment on whether/when Pipeline Parameters will be added to the execute python script module. Since this is a feature request, I encourage you to share this feedback on the [uservoice forum](https://feedback.azure.com/forums/257792-machine-learning) so you and others can upvote as well a

[2020-02-07 20:44] slavizh commented on #47224
Hmm. And how I can find these default apps. For example I would assume there are such default apps for key vault url and graph url?

[2020-02-07 20:47] hpsin commented on #46696
Ah - you're not using the v2 endpoint 😊
https://login.microsoftonline.com/$TenantID/oauth2/token

You need to use /oauth2/v2.0/token, per docs.

[2020-02-07 20:47] fiksen99 opened #47690 "The Key Vault Client samples could be moved to github"
The key vault client samples links out to https://www.microsoft.com/download/details.aspx?id=45343 to download a zip to extract and browse locally. Can we host the contents on github and link to the repo instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdd8ac9-3e5f-3e4b-06f5-e36bf4461c1e
* Version Independent I

[2020-02-07 20:49] GiftA-MSFT commented on #47516
@Koxzi95 Seems like you have taken the necessary steps here. I will need to provide this feedback to the product team to determine if this is a bug and get back to you.

[2020-02-07 20:50] slavizh commented on #47224
My Azure AD cannot find this app:

[code]

[2020-02-07 20:51] NeighborGeek opened #47691 "Extension needed for New Edge?"
Is this extension needed when using the new Edge browser?  If so, should we install the chrome version linked to in this article, since the Edge version is for old edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b16feb18-abbe-5687-e543-afc10e3001ad
* Version Independent ID: 194b7ae7-ef89-aa3e-a889-7aea5952dad9
* C

[2020-02-07 20:56] hpsin commented on #47224
Sorry, that's the object ID in my tenant. Use the app ID - 797f4846-ba00-4fd7-ba43-dac1f8f63013

You can find the whole list in AAD.portal.azure.com under enterprise applications, filtered to Microsoft applications.

[2020-02-07 20:56] jslaybaugh opened #47692 "Name missing"
Several places in this article when creating resources, the name is left out and results in `Error: must either provide a name or specify --generate-name`. For example

[code]
should be something like
[code]

Same with the `helm install` commands. They need a name or they fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-07 21:00] slavizh commented on #47224
ok. I was aware of these but because there are so many I never figured out which is the one corresponding to management.azure.com. They do not have any description nor a property that matches the url. For example if we just look for graph - there are 4 different applications that come in. which is which?

[2020-02-07 21:01] hpsin commented on #47224
Feedback is heard and understood, thank you.

[2020-02-07 21:01] ticianaciminari opened #47693 "Outdated Screenshot"
@K232 commented on [Wed Feb 05 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/619)

Screenshot at https://docs.microsoft.com/de-de/azure/includes/media/functions-run-function-test-local-vs/functions-run-browser-local-vs.png in https://docs.microsoft.com/de-de/azure/azure-functions/functions-create-your-first-function-visual-studio#run-the-function-locally is outdated. It says, the

[2020-02-07 21:02] ticianaciminari commented on #47693
Hi Team, could you please check the issue from user?

Kind regards,

Microsoft DOCS International Team

[2020-02-07 21:06] slavizh commented on #47224
If you give me the name of the app corresponding to management.azure.com. I will try to set the policy for it and test if it works. I wonder why when I set the policy at organization level was not working for those apps as well.

[2020-02-07 21:07] hpsin commented on #47224
It's "Microsoft azure management".

Can you share how you set it to apply at the org level?

[2020-02-07 21:11] slavizh commented on #47224
The same example as above but with IsOrganizationDefault set to $true

[2020-02-07 21:13] MarileeTurscak-MSFT commented on #47690
@fiksen99
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-07 21:15] #44257 closed

[2020-02-07 21:22] femsulu commented on #47296
assigning to mumian to review the steps and embedded script in the documentation.

[2020-02-07 21:22] rishabpoh commented on #44632
Thank you @kogesaka !

[2020-02-07 21:23] jeevansd commented on #47685
@chetansriv and @v-vikum2 Can you please review this issue?

[2020-02-07 21:26] rishabpoh commented on #44632
#sign-off

[2020-02-07 21:29] grockland commented on #5253
I'm having the same problem with key vault policies.  Has this been resolved using this script?

[2020-02-07 21:55] jstawski commented on #36846
QueryRuntimeStatistics doesn't exist for @kanshiG. We are having a hard time recognizing the queries

[2020-02-07 22:02] ecout opened #47694 "Why are user.assigned Roles NOT passed in the Claim List when making a SSO request to Azure Idp?"
Just a note to all those interested - the claim names you entered when you added the 3 additional claims are CaseSensitive as well as the AWS namespace - that's also case sensitive. Another thing that I missed was that once the initial app is configured in AAD, and you turn provisioning on, you have to let provisioning take place - I'm guessing 15-30 minutes is the schedule. After that time and yo

[2020-02-07 22:05] Koxzi95 commented on #47516
Thanks :). Let me know if I can be of any assistance.

[2020-02-07 22:05] TravisCragg-MSFT commented on #47348
@wjia7 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-07 22:05] #47348 closed

[2020-02-07 22:08] femsulu commented on #47673
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-07 22:12] ecout commented on #47694
Well, design is GREAT!!!

The role itself is NOT a value, it must PASS the value to the SAML requester in order to print it because that covers the SAML SSO claim use case just find. Why don't you just make your SAML SSO Test return a more meaningful error to NOT mislead the user?

https://stackoverflow.com/questions/57703810/azure-ad-attribute-user-assignedroles-not-being-sent-in-saml-response-nu

[2020-02-07 22:31] mimckitt commented on #47365
Resolved in https://github.com/MicrosoftDocs/azure-docs-pr/pull/103694

[2020-02-07 22:31] #47365 closed

[2020-02-07 22:38] CeciAc opened #47696 "Access token expiration"
@kwaazaar commented on [Fri Feb 07 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/565)

What if the accesstoken expires?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Zelf stu

[2020-02-07 22:43] MarileeTurscak-MSFT commented on #47674
That is an odd issue! No one wants a pyramid of those. :)

I don't think it should function that way so I've created a bug in the backlog to address this.

[2020-02-07 22:45] tamram commented on #47663
@mexidus - Thanks for your feedback! The command shown in the documentation is correct.

Here's the reference for [Connect-AzAccount](https://docs.microsoft.com/powershell/module/az.accounts/connect-azaccount). You can see that it is for use with resource manager cmdlets (including the Azure Storage resource provider).

The command you mention, [Connect-AzureAD](https://docs.microsoft.com/powershe

[2020-02-07 22:45] #47663 closed

[2020-02-07 22:48] hilari0n commented on #33494
Anyone wanting this to be implemented in AZ CLI should probably upvote this: #8794

[2020-02-07 22:50] TravisCragg-MSFT commented on #47657
@peacemaker360 Can you clarify a bit more on your ask? If you are asking if you can request for MFA and a compliant device, you can specify at the bottom of the blade to require "all selected controls"

[2020-02-07 22:54] dagarkatyal opened #47697 "Load Custom Jars for pyspark deployment on AML"
Hi. I have a model that I have trained on Databricks. I am trying to follow the documentation and trying to deploy the scoring notebooks to AKS using AML.
I followed the MS documentation and also followed this link for pyspark -- https://tsmatz.wordpress.com/2019/03/04/spark-ml-pipeline-serving-inference-by-azure-machine-learning-service/

I want to use a custom jar called spark-nlp for the models

[2020-02-07 22:55] CeciAc opened #47698 "Status code 404, {"error":{"code":"404","message": "Resource not found"}}"
@vcuomo74 commented on [Thu Feb 06 2020](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/422)

Hi,
I'm running the example provided in this page but I always get the exception below.
I've tried my COMPUTER_VISION_SUBSCRIPTION_KEY and COMPUTER_VISION_ENDPOINT (i.e. "https://westcentralus.api.cognitive.microsoft.com/vision") on https://westcentralus.dev.cognitive.microsoft.com/docs/services

[2020-02-07 22:55] MarileeTurscak-MSFT commented on #47674
Okay, I have reached out to address my product team to leave feedback about this. Are you able to reproduce it again if necessary?

I am closing this out because we have a backlog item open for this, but I'll update the thread when we have a response.

[2020-02-07 22:55] #47674 closed

[2020-02-07 23:00] TravisCragg-MSFT commented on #47675
@CharmanderJieniJieni This depends upon what kind of [Peering you have associated with the circuit](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#microsoftpeering). With no peering and connecting to the Public endpoints, traffic will take the public internet.

If you have [Microsoft Peering](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circui

[2020-02-07 23:07] MarileeTurscak-MSFT commented on #47685
@jeevansd I made a PR to add this https://github.com/MicrosoftDocs/azure-docs-pr/pull/103700

Please confirm these values.

CC @chetansriv and @v-vikum2

[2020-02-07 23:07] #47685 closed

[2020-02-07 23:08] koo9 commented on #47619
@amanmcse in step 7 for the Sign-on URL, such entry does not exist in Azure AD B2C app registration page.

[2020-02-07 23:20] TravisCragg-MSFT commented on #47686
@brucedkyle [Application Gateway V2 must have a public IP Attached](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#static-versus-dynamic-public-ip-address). The platform will not allow you to create the resource without a public IP, or remove the public IP once you have created the app gateway

You can block traffic from the Public IP Using NSGs, but ther

[2020-02-07 23:36] pplavetzki commented on #47002
Yes, sorry for the delay, I'm at a conference and haven't been able to troubleshoot.  Yes, I see that role assigned to that subnet.
[code]

[2020-02-07 23:37] Karishma-Tiwari-MSFT commented on #47520
We will now close this issue. Please share the doc details when you are ready or post the issue on Microsoft Q&A forum for troubleshooting related questions. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-07 23:37] #47520 closed

[2020-02-07 23:39] Karishma-Tiwari-MSFT commented on #47000
Thanks @worldhello126 :)
@MattHartz  Did that help answer your question?

[2020-02-07 23:40] TravisCragg-MSFT commented on #47688
@brucedkyle A Private IP Is not required for an App Gateway, but a Public IP is. As was discussed in your other issue #47686, You can block access to the Public IP, but it has to exist. If you would like us to remove this feature in the future, [please upvote this existing piece of feedback](https://feedback.azure.com/forums/217313-networking/suggestions/39348466-ilb-only-mode-for-application-gate

[2020-02-07 23:41] eugen-nw opened #47699 "The PS script does not work as it is written right now."
Please replace the Add-AZVmssSecret line with the info in Drewm3's comment on Sep. 16, 2019: https://github.com/Azure/azure-powershell/issues/9979#issuecomment-532025603  Even if it is not the recommended way to update the certificate, it is pointless to have instructions that do not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-07 23:43] Karishma-Tiwari-MSFT commented on #47699
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-07 23:49] pplavetzki commented on #47002
The Application Gateway is on a different subnet than the aks nodes.  Could that cause the issue?

[2020-02-07 23:55] FrankHu-MSFT commented on #47665
@magoicochea I'm not sure what the issue is, i still see the managed application option in the portal in the overview section. It's in the main blade.

![image](https://user-images.githubusercontent.com/6366013/74074283-3a5edd00-49c2-11ea-9a17-75ba4748dcd6.png)

[2020-02-07 23:59] #47566 closed

[2020-02-07 23:59] #47444 closed

[2020-02-08 00:02] davyyd opened #47700 "Instructions for rolling the kerberos key need to be updated"
The first step in the instructions for "rolling the kerberos key" sends the audience to download the AzureAD powershell module. This module does NOT contain the commandlets listed in subsequent steps.
These commandlets are found in Microsoft Azure Active Directory Connect https://www.microsoft.com/en-us/download/details.aspx?id=47594
 which is an MSI that installs more than the powershell module(s

[2020-02-08 00:20] mamccrea commented on #47118
Thanks for bringing this to our attention. I've updated the TOC. #please-close

[2020-02-08 00:20] #47118 closed

[2020-02-08 00:26] lucidqdreams commented on #46938
Please reopen this case and escalate it to another AKS tech resource or I will have to open another issue with all this content.  You have not answered the question.

I have specified tried to specify all sorts of paths /path/ and /path/*  and not of them work.  As I have already stated I should not be configuring the port probes, that is the job of the ingress controller as AKS manages the AGIC.

[2020-02-08 00:37] alex-mason-jdas opened #47702 "Update to v2 endpoints?"
Is there any reason not to update this page to use the v2.0 endpoints as does the AAD common (multi-tenant) page? This results in more standardized configuration if federating in one policy to both a single-tenant AAD endpoint and the common AAD (multi-tenant) endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf

[2020-02-08 00:43] rdeltcheva commented on #46943
The screen shot for the NSG rules was updated.

[2020-02-08 00:44] tfitzmac commented on #47491
@JoelCBennett - thanks for this suggestion. I have added it to the article. It should get published on Monday.

[2020-02-08 00:44] tfitzmac commented on #47491
#please-close

[2020-02-08 00:44] #47491 closed

[2020-02-08 00:44] rdeltcheva commented on #47011
The screen NSG shot was updated.

[2020-02-08 00:46] alex-mason-jdas commented on #17345
"email" is a standard OIDC claim with a particular documented way of retrieving it (using scope of email). Is there no way that AAD B2C federations can clearly return the OIDC email claim rather than in something like "upn" which feels like it might be an email or might not be an email value?

https://openid.net/specs/openid-connect-basic-1_0.html#Scopes

[2020-02-08 00:48] alex-mason-jdas opened #47703 "OpenID Connect email claim"
"email" is a standard OIDC claim with a particular documented standard way of retrieving it (using scope of email). Is there no way that AAD B2C federations can clearly return the OIDC email claim rather than in something like "upn" which feels like it might be an email or might not be an email value?

https://openid.net/specs/openid-connect-basic-1_0.html#Scopes

---
#### Document Details

⚠ *Do

[2020-02-08 01:31] BryanTrach-MSFT commented on #47667
@Boshskoski Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin Can you please review this? CXP does not have the ability to edit screenshots for docs.

[2020-02-08 01:40] DixitArora-MSFT commented on #47689
Hi @CeciAc Thanks for your feedback. We will review and update as appropriate.

[2020-02-08 02:05] Mike-Ubezzi-MSFT commented on #47597
@cbogart A fix has been merged to master and will be publicly visible in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-08 02:05] #47597 closed

[2020-02-08 02:47] CHEEKATLAPRADEEP-MSFT commented on #47671
@benmillaneasos  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-08 02:49] CHEEKATLAPRADEEP-MSFT commented on #47677
@datasharkNL  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audie

[2020-02-08 02:49] #47677 closed

[2020-02-08 03:04] CHEEKATLAPRADEEP-MSFT commented on #47682
@Alexx221x  Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 03:07] CHEEKATLAPRADEEP-MSFT commented on #47683
@alohaninja  Thanks for your feedback!  We are investigating and will update you shortly.

[2020-02-08 03:08] CHEEKATLAPRADEEP-MSFT commented on #47691
@NeighborGeek  Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 03:09] CHEEKATLAPRADEEP-MSFT commented on #47692
@jslaybaugh  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-08 03:21] CHEEKATLAPRADEEP-MSFT commented on #47693
@K232  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-08 03:23] CHEEKATLAPRADEEP-MSFT commented on #47694
@ecout  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community membe

[2020-02-08 03:27] CHEEKATLAPRADEEP-MSFT commented on #47696
@kwaazaar Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 03:29] CHEEKATLAPRADEEP-MSFT commented on #47697
@dagarkatyal  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2020-02-08 03:31] CHEEKATLAPRADEEP-MSFT commented on #47698
@vcuomo74 Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community mem

[2020-02-08 03:33] CHEEKATLAPRADEEP-MSFT commented on #47700
@davyyd  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-08 03:35] CHEEKATLAPRADEEP-MSFT commented on #47702
@alex-mason-jdas  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-08 03:36] CHEEKATLAPRADEEP-MSFT commented on #47703
@alex-mason-jdas  Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 03:41] CHEEKATLAPRADEEP-MSFT commented on #47465
@bigdatamoore Thanks for the update.
 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-08 03:41] #47465 closed

[2020-02-08 04:54] andyischaos opened #47704 "Not able to swap OS disks because it "cannot be resized down", but the new disk is bigger"
Hi! My problem is about "[**swap OS disks**](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/os-disk-swap)" in my virtual machine. I followed the code with Powershell but failed in "update". Powershell told me that I cannot resize the OS disk down, however, I'm replacing the old disk (30 GB) with a bigger one (1024 GB). The error message is as below:

[code]

My disks are as below:

[2020-02-08 05:31] koo9 opened #47705 "oid is missing from token"
[Enter feedback here]
went through the document and setup multiteant custom policy. tested, worked but noticed that old is not presented in the token.

<Item Key="scope">openid profile</Item>

includes profile, so the oid claim should returned. does it have to be configure on the Azure AD app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-02-08 09:00] amanmcse commented on #47619
@koo9 You are referring to the instructions for App Registration (legacy). Since you are using App Registration (preview), you need to follow the instructions under App Registration (preview) tab in the doc as highlighted in the snip below:
![image](https://user-images.githubusercontent.com/33834131/74082392-6f7d3500-4a7f-11ea-8fd7-c2f59eb0ea3a.png)

[2020-02-08 09:27] slavizh commented on #47224
I did some testing. I have managed to make it work but with some conditions that we were not aware when Microsoft (Partner Center) introduced us with this option instead of using user credential as account for automation. I will try to explain the details here so you are just aware of this although I do not expect that there is a fix for the problem besides the one I will mention:

We are CSP. As

[2020-02-08 09:33] slavizh commented on #47224
One last question do you know what is the application Microsoft Azure PowerShell used for?

[2020-02-08 09:41] msrini-MSFT commented on #47510
@asasine , Please tag me if you have any further questions.

[2020-02-08 09:41] #47510 closed

[2020-02-08 09:42] msrini-MSFT commented on #47578
@d4md1n , Please tag me if you have any further questions.

[2020-02-08 09:42] #47578 closed

[2020-02-08 11:05] DLeXh commented on #47674
Thanks for adressing this buck in the backlog. Yes I'm able to reproduce this issue if necessary :)

[2020-02-08 11:11] danijam opened #47707 "Can private link point to the failover listeners?"
Currently trying to figure out a architecture for a dual region web application with dual SQL backend that A) uses auto failover groups but B) also restricts network access to the PaaS SQL DB backend to only the front end web app.

Currently the only level of restriction I can find is to just tick the option "Allow Azure Services to access". However all this means is that anything within Azure glo

[2020-02-08 13:46] jejsloan opened #47708 "Hybrid Azure AD Join steps with Okta"
When going through the Hybrid Azure AD Join with Federated Domain, steps, when Okta is in the environment, step 8 asks for ADFS Creds. How do we get passed that when there is no ADFS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Version Independent ID: bd3aab43-4202-bb69-bd1a-58

[2020-02-08 13:47] jejsloan commented on #47708
When going through the Hybrid Azure AD Join with Federated Domain, steps, when Okta is in the environment, step 8 asks for ADFS Creds.  How do we get passed that when there is no ADFS?

[2020-02-08 13:50] jejsloan opened #47709 "This with Okta"
When Okta is in the environment and not ADFS, these steps still ask for Federation Configuration and ADFS Credentials in Step 8.  How do we get passed that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Version Independent ID: bd3aab43-4202-bb69-bd1a-580e0464f357
* Content: [Conf

[2020-02-08 13:50] CHEEKATLAPRADEEP-MSFT commented on #47704
@andyischaos  Thanks for the question! We are investigating and will update you soon.

[2020-02-08 13:52] CHEEKATLAPRADEEP-MSFT commented on #47705
@koo9  Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 13:53] CHEEKATLAPRADEEP-MSFT commented on #47707
@danijam  Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 13:57] CHEEKATLAPRADEEP-MSFT commented on #47708
@jejsloan  Thanks for the question! We are investigating and will update you shortly.

[2020-02-08 13:58] CHEEKATLAPRADEEP-MSFT commented on #47709
Duplicate of #47708

[2020-02-08 14:00] #47709 closed

[2020-02-08 14:05] dagarkatyal commented on #47697
These steps were followed using following two URLS:

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service

[2020-02-08 14:08] CHEEKATLAPRADEEP-MSFT commented on #47697
@dagarkatyal Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-08 14:21] AshokPeddakotla-MSFT commented on #47684
@CeciAc  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 15:43] skrepo0 opened #47710 "How do I pass property files and additional configuration files to spark-submit? What is the equivalant option for --files"
How do I pass property files and additional configuration files to spark-submit? What is the equivalant option for --files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ade6f32-df35-af72-d7d5-2b9815148fce
* Version Independent ID: fb12243b-8896-5911-1cfe-3a7e9cf6dd20
* Content: [Transform data with Databricks Python

[2020-02-08 16:03] ciaran036 commented on #38709
@PramodValavala-MSFT apologies for delay. Thank you for the updates.

[2020-02-08 16:07] PrometheusRising1 commented on #47486
Not sure if it can be done, but would be pretty neat to have collapsible sections with examples from each industry vertical (e.g. Finance, Healthcare, Manufacturing, etc.).  Adding to the what the original poster says, mental context is important in learning - working on a highly technical problem where you are researching documentation and then transitioning your mind to think about baseball anal

[2020-02-08 16:10] GiftA-MSFT commented on #47516
@Koxzi95 just to confirm, are you using the url to a supported file type in your SharePoint documents as shown in the tutorial?

[2020-02-08 16:11] Koxzi95 commented on #47516
The file type being used was an .xlsx

[2020-02-08 16:21] tbui8638 opened #47711 "Need Detailed Flows With MFA Context"
While there is a section describes how a MFA claim is added to the PRT but there is a lack of detailed flows for MFA context missing in the PRT/RT.  Can we get flows similar to the “PRT usage during app token requests” or “Browser SSO Using PRT” but with MFA context where the PRT/RT do not have or have MFA claim then that would help us (and other customers) to have a better understanding the MFA U

[2020-02-08 16:52] mslot opened #47712 "Adaptive sampling"
Is adaptive sampling supported by default for this line of applications (non-http applications) like workers, console apps and such?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d4fa84d-4cd3-216e-ca60-885f1565ee29
* Version Independent ID: 5c08427b-21d3-b22a-924a-d07d1461ba79
* Content: [Application Insights for Wor

[2020-02-08 16:58] mslot opened #47713 "Adaptive sampling in non-http applications"
Ad I read this doc, adaptive isn't supported for non-http applications (if I read the table correct in brief summary): https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#brief-summary. Is it impossible to get working for a console app or?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-

[2020-02-08 17:09] flybd5 opened #47714 "Woefully inadequate"
This page is just totally inadequate. It makes too many assumptions and doesn't include enough details. It also doesn't talk about troubleshooting. Azure does not give me access to manage the $web container and the file transfer from Visual Studio Code fails with no explanation (as usual for MS).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-02-08 19:24] YutongTie-MSFT commented on #47710
@skrepo0 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 19:28] furmangg commented on #26737
@Mike-Ubezzi-MSFT @julieMSFT I still don’t see the doc reflecting the Gen2 tempdb size. What’s the status of that ticket you opened?

[2020-02-08 19:29] YutongTie-MSFT commented on #47711
@tbui8638
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 19:45] dotnetgator opened #47715 "Explanation of the options in the ContentDefinition Metadata element"
The definition for the Metadata element of the ContentDefinition element only reads "A collection of key/value pairs that contains the metadata utilized by the content definition." Then the Metadata element universally seems to contain a DisplayName key. Is there a guide somewhere as to what items can be included in the Metadata for the content definitions, and how those items are merged into the

[2020-02-08 20:06] Mike-Ubezzi-MSFT commented on #26737
@julieMSFT This document lacks a Gen2 reference for tempdb sizing, like some of the other category items. Please let me know what the value(s) should be and I can update this document?

![Screenshot (677)](https://user-images.githubusercontent.com/37126106/74091363-78640b80-4a6b-11ea-8ba6-050ca83ccd99.png)

[2020-02-08 20:08] Mike-Ubezzi-MSFT commented on #26737
@sachinpMSFT for awareness.

[2020-02-08 20:24] koo9 commented on #47619
@amanmcse yes, but on the page, https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=applications
the Application tab is still active but the instruction won't work. that's what I was referring to. please update the doc.

[2020-02-08 20:30] koo9 commented on #47705
`<ClaimsProvider>
      <Domain>commonaad</Domain>
      <DisplayName>Common AAD</DisplayName>
      <TechnicalProfiles>
        <TechnicalProfile Id="Common-AAD">
          <DisplayName>Work or school account</DisplayName>
          <Description>Login with your work or school account</Description>
          <Protocol Name="OpenIdConnect"/>
          <Metadata>
            <Item Key="METADATA">htt

[2020-02-08 21:10] jackt-moran opened #47716 "Avro Compression Issue"
Hi,
This page states that:

"If the input format is Avro data that is compressed, it's handled transparently. You don't need to specify compression type with Avro serialization."

However, when I send compressed Avro files to ASA I get the following error:

Source 'IoTHub' had 1 occurrences of kind 'InputDeserializerError.InvalidData' between processing times '2020-02-08T20:46:06.7468508Z' and '20

[2020-02-08 21:24] dotnetgator opened #47717 "DataURI Content appears to be out of date or missing some words?"
The Data Uri values indicated at https://docs.microsoft.com/en-us/azure/active-directory-b2c/contentdefinitions#datauri seem to be missing a conversation of the Page Layout Version concept and its impact on each specific URI.

Is there perhaps a missing word in the sentence before the table? "The following table lists of the page identifiers you can use" (should it be "The following table lists &l

[2020-02-08 21:28] dotnetgator commented on #47715
Following up a little - I noticed that one other newer item that can be specified in here is the TemplateId. For example:
`        <Metadata>
          <Item Key="TemplateId">azureBlue</Item>
        </Metadata>`
Furthermore, when exporting a pre-built policy's file, the Metadata elements do NOT include a DisplayName metadata element...

[2020-02-08 21:30] steele6599 opened #47718 "Function SelectUniqueValue not working"
I'm trying to use the function of SelectUniqueValue to create unique Display Names and Conical Names during the provisioning from Workday to Active Directory. We use the users Employee ID for their Universal Principal Name (UPN).  E.g. 555555@domain.com

This is not working though.  Does this function only work for UPN creation?

Here is the Expression I'm using:
SelectUniqueValue(NormalizeDiacrit

[2020-02-08 21:31] dotnetgator opened #47719 "Content definition IDs section is unclear"
The purpose of the "Content definition IDs" section at https://docs.microsoft.com/en-us/azure/active-directory-b2c/contentdefinitions#content-definition-ids is unclear. Is it saying that the standard downloadable BasePolicy file includes these definitions (it only includes some of them, FWIW)? Or that you do not need these elements in your policy file hierarchy because the IEF runtime auto-declare

[2020-02-08 21:48] diberry commented on #47476
[Training](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-train#train-with-all-data) uses a small percent of negative sampling when this setting is set to true. You would turn it off/set to false, if you have testing that requires a specific value or a threshold value to pass. That is because the negative sampling's randomness may flip two top intents if they are close

[2020-02-08 23:09] YutongTie-MSFT commented on #47713
@mslot
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 23:12] YutongTie-MSFT commented on #47712
@mslot
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 23:15] YutongTie-MSFT commented on #47714
@flybd5
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-08 23:18] YutongTie-MSFT commented on #47715
@dotnetgator
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 23:22] YutongTie-MSFT commented on #47717
@dotnetgator
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 23:23] YutongTie-MSFT commented on #47719
@dotnetgator
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-08 23:25] YutongTie-MSFT commented on #47716
@jackt-moran
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-08 23:26] YutongTie-MSFT commented on #47718
@steele6599
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Profile/u/create?referrer=https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread) or [Stack Overflow ](https://stackoverflow.com/)as it could be better p

[2020-02-09 01:45] ghost opened #47720 "Confusion around the term replication VM"
The page contains this statement: "With Availability Zones, Azure offers industry best 99.99% VM uptime SLA. By architecting your solutions to use replicated VMs in zones, you can protect your applications and data from the loss of a datacenter. If one zone is compromised, then replicated apps and data are instantly available in another zone"

This is misleading and confusing. there is no replicat

[2020-02-09 02:03] danielsollondon commented on #31188
Quick update, I spoke to the Windows team, they have identified an issue with the Windows Server 2016 image (November onwards), that impacts the time to initiate a WinRM connection, they are still working on this, and will update again mid next week. In the meantime please try increasing the Packer timeout to 30mins, and try a larger VM size.

[2020-02-09 04:58] michaelnemtsev opened #47721 "The page is missing authenticateClient() definition for the Python code"
There is a missing definition for the authenticateClient() function in Python code

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text Analytics client library v3 - Azure Cognitive Services](https

[2020-02-09 05:46] jevansAN opened #47722 ""Unprocessed" payments"
Having recently released a commercial product at the Windows Store (Practica Musica) I see that a couple thousand dollars of sales have accumulated and are all marked "unprocessed." We have never received any income for the product - what does it mean that the payments are "unprocessed?" I believe we have a sales contract with the store. Is there something missing? We don't want to purchase a supp

[2020-02-09 06:29] SumanthMarigowda-MSFT commented on #47317
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-09 06:29] #47317 closed

[2020-02-09 07:23] garyapps opened #47723 "Same class names in both libraries"
The library required for Azure Tables (Microsoft.Azure.Cosmos.Table) appears to share some of the same class names as the libraries required for Azure Blobs and Queues (Microsoft.Azure.Storage.Blob and Microsoft.Azure.Storage.Queue). This is an annoying issue if you are using both in the same application.

For instance, there are two CloudStorageAccount classes - Microsoft.Azure.Cosmos.Table.Cloud

[2020-02-09 07:36] baatch opened #47724 "Connect using Azure Active Directory credential?"
Is it possible to connect using Azure Active Directory credential?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4998b228-9ad4-4aa2-91a8-a5dc948975d4
* Version Independent ID: b37ea4d7-319a-67b5-f317-561f34ef2cac
* Content: [Use VS Code to connect and query - Azure SQL Database](https://docs.microsoft.com/en-us/azure/

[2020-02-09 08:08] lokijota commented on #44383
I have the same issue, the IoT Device Connection string is not there.

I logged into the serial interface and ran version:

# version
DevKitSDK version: 1.6.5
Mico version: 31620002.049
mbed-os version: 5.4.3
mbed TLS version: 2.15.0
WIFI version: wl0: Sep 10 2014 11:28:46 version 5.90.230.10

I also tried setting the Iot Hub device connection string on the command line over the serial interface b

[2020-02-09 08:35] amanmcse commented on #47619
@koo9 The instructions under applications tab are for App registration (legacy) option under Azure AD. At this time both App registration legacy and preview are available under Azure AD blade of the B2C tenant.

![image](https://user-images.githubusercontent.com/33834131/74098900-740b2180-4b43-11ea-912d-c2659687f653.png)

That is the reason why we have instructions for both options in the document

[2020-02-09 09:03] chekalinsg opened #47725 "Please correct sentence"
Please correct "You plan to deploy first party images..." to "You plan to deploy third-party images..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c
* Version Independent ID: 22237e49-91a8-0120-913a-fee6432e09d2
* Content: [Azure spending limit](https://docs.microsoft.com/en-us/az

[2020-02-09 09:41] shurick81 commented on #31188
I am using `"image_sku": "2019-Datacenter-smalldisk"` and `"image_sku": "2019-Datacenter-smalldisk"` in combination with `"winrm_timeout": "30m"`, still getting `Timeout waiting for WinRM.` in 95% of build attempts. Is there some open issue related to this problem that we can track? This issue seems old and closed.

[2020-02-09 09:42] Dilergore commented on #31188
@shurick81 https://github.com/hashicorp/packer/issues/8658

[2020-02-09 10:33] KrishnaG-MSFT commented on #47725
@chekalinsg Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-09 10:34] KrishnaG-MSFT commented on #47722
@jevansAN Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-09 10:42] shashishailaj commented on #47700
@davyyd Thank you for your query. I will answer your queries one by one.

We completely agree to what you are saying about the Azure AD module not containing the cmdlets related to AzureADSSO.psd1 module because this module is part of AAD connect powershell modules which gets installed along with Azure AD connect MSI . However we ask to install Azure AD module first because the  AAD Seamless SSO m

[2020-02-09 10:42] #47700 closed

[2020-02-09 11:17] nolavime commented on #47132
I just want to be sure that you created the connection from scratch:
![image](https://user-images.githubusercontent.com/57407840/74101082-8df63580-4b3e-11ea-8322-9f61569be151.png)

[2020-02-09 11:43] jernejk opened #47730 "Form Recognizer no longer needs invite URL"
Hi MS Docs team,

I noticed that you have moved Form Recognizer to public preview and no longer require an invite but all of the docs are linking to the invite.

Example: https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/overview

This is also true for quick starts:
* https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool
* https://

[2020-02-09 12:55] dcurwin commented on #47601
#reassign:pvrk

[2020-02-09 13:39] 8 opened #47731 "Please support Privacy"
I am looking for a privacy conscious way to get 2FA to work with Azure which I can use myself and recommend to colleagues.

What I've tried before:

- searched but didn't find the Microsoft Authenticator App on the F-Droid store
- searched but didn't find the source code of the Authenticator App on github for review
- looked at the FAQ if there is a link to the source code of F-Droid mentioned som

[2020-02-09 13:56] yoelhor commented on #47719
The table lists the most common of content definition Ids used by custom policy, and the page types that relate to them. You don't need to create content definitions, since the starter pack contains most of them. But as mention in the doc *The following table describes the set of content definition IDs that is recognized by the Identity Experience Framework, and the page types that relate to them.

[2020-02-09 13:56] CHEEKATLAPRADEEP-MSFT commented on #47720
@shahidroofi  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-09 13:58] CHEEKATLAPRADEEP-MSFT commented on #47721
@michaelnemtsev  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-09 13:58] magoicochea commented on #47665
Hello

You are correct. I was just trying to find the string

[2020-02-09 13:58] #47665 closed

[2020-02-09 13:59] yoelhor commented on #47717
Thanks for your feedback, I'm fixing the doc

[2020-02-09 14:00] CHEEKATLAPRADEEP-MSFT commented on #47723
@garyapps  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-09 14:01] CHEEKATLAPRADEEP-MSFT commented on #47724
@baatch  Thanks for the question! We are investigating and will update you shortly.

[2020-02-09 14:04] CHEEKATLAPRADEEP-MSFT commented on #47730
@jernejk  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-09 14:06] CHEEKATLAPRADEEP-MSFT commented on #47731
@8  Thanks for the question! We are investigating and will update you shortly.

[2020-02-09 14:28] tmhui94 opened #47732 "Does Azure Blob Storage on IoT Edge support proxy environment ?"
I have deployed this module onto a proxy environment. The data able to be into the blob storage module.
However it could not sync its data with the cloud blob storage.
I check in the logs found that there is an error of Connection refused which I believe is block by the proxy.
Does this module support proxy environment ?
If yes, may I know how should I changed the module configuration ?

Thanks !

[2020-02-09 16:33] BBirdselllab opened #47733 "Data Science Virtual Machine- Ubuntu 18.04 Preview"
I'm strongly suspecting something is wrong with the JupyterHub and JupyterLab quick start guide. I've tried 4 times over 2 weekends to as closely as possible follow this guide to get a simple JupyterLab deployment going to no effect. It seems have something to do with the VM's configuration of allowable external connections but I don't know how to write complex network rules to allow it. So far, t

[2020-02-09 16:56] kiranpradeep opened #47734 "usage of sudo to generate certs could be avoided"
In section, https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-linux#create-certificates-for-vpn-authentication, this document unnecessarily uses sudo. That could be avoided. The commands works well with out sudo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3b74c-2e19-9963-bf78-2

[2020-02-09 17:11] Rodrigossz opened #47735 "Error"
If you use Python 3, this tutorial will give you an error: ImportError: cannot import name 'EntitySearchAPI'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088cb102-79c0-a5c9-febb-cd5befa986df
* Version Independent ID: 0b6c132f-8f88-dce2-4e25-89cc6a3cf25a
* Content: [Quickstart: Search for entities with the SDK for Pyt

[2020-02-09 17:23] alohaninja commented on #23915
@naile  - [Redis v4 is currently being used ](https://azure.microsoft.com/en-us/updates/azure-cache-for-redis-4-0-upgrade-is-now-generally-available/)by **Azure Redis Cache**.

## Azure Redis Cache - Properties
![image](https://user-images.githubusercontent.com/26234626/74106669-8d997280-4b1d-11ea-9bd3-bc38a6f7cc09.png)

[2020-02-09 17:24] nickolasfisher opened #47736 "SAAS Fulfillment webhook ID is not a GUID"
As defined in the documentation for implimenting a webhook on a SaaS service located here:  https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#implementing-a-webhook-on-the-saas-service  the "id" field being returned is not a GUID.  It follows the format org:{guid}, {guid}.  See example response json below.

This issue seems to be referenced in this

[2020-02-09 17:31] filzatariq commented on #34985
@AshokPeddakotla-MSFT I have tried doubling the gas limit as you have guided with the latest version of truffle but still no luck, It should must work with the latest version of truffle though

[2020-02-09 17:50] scale-tone commented on #46834
Any news?
This documentation ambiguity prevents us from making the correct proposal to the customer.

[2020-02-09 17:58] omerd-wixer commented on #47594
I'm having the same problem:
"An error occurred in the ‘’ query. DataSource.Error: Web.Contents failed to get contents from 'https://westus2.api.cognitive.microsoft.com/anomalydetector/v1.0/timeseries/entire/detect' (400): BAD REQUEST
Details:
    DataSourceKind=Web
    DataSourcePath=https://westus2.api.cognitive.microsoft.com/anomalydetector/v1.0/timeseries/entire/detect
    Url=https://westus2.

[2020-02-09 18:24] frankzo opened #47737 "managedIdentity"
When using a managedIdentity in ARM deployments "clientId" doest not work; objectID does work but cannot be abstracted from the deployment.

clientID should be "ApplicationId": since this is working and can be abstracted by using reference('vmresourceid', '2017-12-01', 'Full').identity.principalId]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-09 18:26] yoelhor commented on #47715
If I remember correctly the only supported metadata is DisplayName (which is not shown to the user). The TemplateId is for the internal use for user flows. I'll check with the engineers and will keep you posted.

[2020-02-09 18:29] techsaau opened #47738 "AKS Metrics-Server is not working as expected"
I'm using AKS 1.14.8 version which is using metrics-server:v0.3.5.

But metrics-server gives continues errors:

E0208 03:13:06.403164       1 manager.go:111] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:<node>: unable to get CPU for container "app label" in pod namespace/<pod> on node "x.x.x.x", discarding data: missing cpu usage metric, unable to fu

[2020-02-09 18:44] lilx-ms opened #47739 "Forward HTTPS request"
It would be better to indicate that SF ReverseProxy could only forward HTTPS request when itself is configured with HTTPS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e634b7f-2c67-2081-7bc1-f4bcc18ae50c
* Version Independent ID: dcbaae68-ea97-0972-f021-e1520430f2ea
* Content: [Azure Service Fabric reverse proxy sec

[2020-02-09 18:54] nunopedrosilva2 commented on #27848
Anyone got through this error?

[2020-02-09 19:22] koo9 commented on #47619
understood, but please update the doc to make it clear that it's for azure ad but not b2c.  thx

[2020-02-09 19:35] kovaliovsg opened #47741 "Use of AzureRM module - please change to AZ"
Section: Or upload an existing certificate into Key Vault
Last line of code uses "Set-AzureKeyVaultSecret" which in AzureRM module.
Please change it to "Set-AzKeyVaultSecret"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08acab31-7f58-5faa-cb07-c21209d6cb5a
* Version Independent ID: 9389468f-23c1-7729-3203-1e4100c6ab2

[2020-02-09 19:48] yoelhor commented on #47705
The `oid` should return by default. For the list of claims, see:  https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

Could you add [application insights](https://docs.microsoft.com/en-us/azure/active-directory-b2c/troubleshoot-with-application-insights) to your policy, and check the token return by AAD?

[2020-02-09 19:50] JimacoMS3 commented on #45893
Thanks @jlian. The documentation has been updated as we decided for all of the quickstarts, tutorials, and how-tos. For an example see the last paragragh in this [python quickstart prereqs] (https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python#prerequisites) section. This should mitigate issues on the device samples. I'm going to close this issue.

**Important**: We stil

[2020-02-09 19:58] rrg92 opened #47742 "How query "spot-able" VM Sizes?"
Documentation dont mentions how we can use powershell and nor if it is possible do same filtering on Portal. In portal, we can choose "Support Spot" to filter. There some equivalent in powershell (or REST API)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7972904-b698-d0ed-cd8e-08402f778e66
* Version Independent ID:

[2020-02-09 20:05] JimacoMS3 commented on #39536
@shindigo First thanks very much for your feedback!

For the device side, we recommend switching from MQTT  (port 8883) to MQTT over Websockets (port 443). Of course, if you want to use another transport (HTTPS), you can do so. We've added a prerequisite in all of our quickstarts, tutorials, and how-to's that use MQTT to point out the issue with the blocked port and direct folks to our MQTT topic

[2020-02-09 20:07] JimacoMS3 commented on #39536
@jlian Can you please have a look wrt the service sample here? Let's discuss it offline.

[2020-02-09 21:11] MarileeTurscak-MSFT commented on #47341
Hi @mvaneijken , sorry you are having this problem!

Since this is a product question and less related to the documentation, please post to[ Q&A](https://docs.microsoft.com/answers/questions/index.html) and we will happily troubleshoot there.

Also, feel free to send me an email at AzCommunity@microsoft.com if you'd like to get a support case opened for this.

[2020-02-09 21:11] #47341 closed

[2020-02-09 21:34] revodavid opened #47743 "What does "Generate Profile" do?"
When importing a dataset, the user has the option to "Profile this dataset after creation". There is also the option to Generate Profile after importing. But this option isn't explained on this page (or any other page I could find).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* V

[2020-02-09 21:47] koo9 commented on #47705
I have specifying profile in the token request

The immutable identifier for an object in the Microsoft identity platform, in this case, a user account. It can also be used to perform authorization checks safely and as a key in database tables. This ID uniquely identifies the user across applications - two different applications signing in the same user will receive the same value in the oid claim

[2020-02-09 21:50] fadyanwar opened #47744 "Not straightforward as explained"
The device mentioned on this article is not available to purchase directly as it can be only provided as part of a 3 year subscription for not less than 500 devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439e535e-ce61-8deb-981d-d3b40dbc7c66
* Version Independent ID: 000d1166-f40b-2deb-7095-93605b285af7
* Conte

[2020-02-09 21:53] vnextcoder commented on #39143
Well in my case I was not having graph API Access but I was granted access on the App Registration only. This the way my Azre Ad administrator set up the Azure Ad. How to use Graph Api in this case?

[2020-02-09 22:07] GoEddie commented on #19698
I guess you have found it now but in case it helps someone else, if you want to pass multiple values back to ADF from databricks you can return a JSON object as a string and reference that from ADF:

`dbutils.notebook.exit('{"an_object": {"name": {"value": "exciting"}}}')`

and read in ADF:

`@activity('Run Notebook - JSON Response').output.runOutput.an_object.name.value`

You can also pass back l

[2020-02-09 23:08] koo9 commented on #47705
from application insights, the oid is returned from the handler result, the token contains the oid. I think somewhere along the transformation, oid is missed out.

[2020-02-09 23:09] koo9 commented on #47705
application insights request id is 21172fd1-1897-43c4-8211-1b9584b12319

[2020-02-10 00:07] dcbrown16 opened #47746 "What is a "Log Role""
Is "Log Role" a Kubernetes term? This section of the page isn't referring to RBAC roles as far as I can tell. Can some more explanation be added? Where would we see these Log Roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028ffbf7-3fbc-dd56-59c1-ed6403313671
* Version Independent ID: 94c79eaa-d1c7-59a4-2f45-2ae0

[2020-02-10 00:30] koo9 commented on #47705
never mind, figured it out. it's missing from the relying party sign up sign in outputclaims  collection.

[2020-02-10 00:30] #47705 closed

[2020-02-10 00:31] umberbeard opened #47747 "Download link is broken"
The download link fails with a 404, showing this error:

&lt;Error&gt;
&lt;Code&gt;BlobNotFound&lt;/Code&gt;
&lt;Message&gt;
The specified blob does not exist. RequestId:d444f303-301e-010a-67a9-df67b5000000 Time:2020-02-10T00:31:30.0971282Z
&lt;/Message&gt;
&lt;/Error&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-10 00:59] jevansAN commented on #47722
Let's skip it; I shouldn't waste your time by posting late at night - have figured it out. Appears that the holding period on sales is simply longer than I had expected; sales began in December and I assumed the early sales would be processed by February. So "unprocessed" just means the holding period has not expired but this should take care of itself.

[2020-02-10 00:59] JimacoMS3 commented on #45893
please-close

[2020-02-10 00:59] #45893 closed

[2020-02-10 01:19] SLdragon commented on #46942
Hi, ganesh-gawande, for case 1, can you share your route settings or your sample project file, so that I can take a look.

And for case 2, when you run TrafficEdgeDevice project, it would start the edge project in "solution mode".  In this mode, we do not created a helper container named "azureiotedge-testing-utility" which provide http endpoint to help user to send debug messages, so you cannot s

[2020-02-10 01:36] YutongTie-MSFT commented on #47743
@revodavid

[2020-02-10 01:36] #47743 closed

[2020-02-10 01:37] YutongTie-MSFT commented on #47735
@Rodrigossz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 01:38] YutongTie-MSFT commented on #47733
@BBirdselllab
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 01:41] YutongTie-MSFT commented on #47737
@frankzo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 01:43] YutongTie-MSFT commented on #47739
@lilx-ms

[2020-02-10 01:54] YutongTie-MSFT commented on #47732
@tmhui94
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 02:02] YutongTie-MSFT commented on #47734
@kiranpradeep
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 02:04] mxie220 commented on #44719
I tried recreating the QnA maker but still getting the same issue:
![image](https://user-images.githubusercontent.com/16497068/74116029-c6ad1200-4c05-11ea-97fe-1fd7c554d9b1.png)

[2020-02-10 02:06] YutongTie-MSFT commented on #47736
@nickolasfisher
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 02:17] RossMurr4y opened #47749 "LinuxFXVersion Possible Values - Elaboration/Explanation Required"
The information provided here on the LinuxFXVersion is only partially complete, and all examples are specific to running Azure Functions as a container deployment. This article could greatly benefit from either a definitive list of the possible LinuxFXVersion values, or even better would be the source of truth for that value for each possible runtime.

All examples on this page show the LinuxFXVal

[2020-02-10 02:29] steele6599 commented on #47718
https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/reference-expressions?source=docs#feedback

[2020-02-10 02:29] steele6599 commented on #47718
There you go, thanks.

[2020-02-10 02:39] BBirdselllab commented on #47733
I've left a note on MS Docs Questions with [more detailed configuration info](https://docs.microsoft.com/answers/questions/8511/jupyterlab-networking-config-help.html) that might be helpful in solving this mystery. I'm around if there are follow up questions. I've used Azure App Services to deploy web pages and so I'm a bit unsure what the root cause is. I'm using the basic tier if that makes a di

[2020-02-10 02:40] CHEEKATLAPRADEEP-MSFT commented on #47738
@techsaau  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2020-02-10 02:40] dcbrown16 opened #47752 "Support for Private Link"
Is it supported to use Private Link (private endpoints) to connect to available services, like Storage, SQL, MySQL?
I'm asking here to confirm if Databricks vnet deployments specifically have been tested when using Private Link to connect to those services, or if there are any restrictions/considerations specific to Databricks.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-02-10 02:42] CHEEKATLAPRADEEP-MSFT commented on #47741
@kovaliovsg  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 02:43] CHEEKATLAPRADEEP-MSFT commented on #47742
@rrg92  Thanks for the question! We are investigating and will update you shortly.

[2020-02-10 03:22] DixitArora-MSFT commented on #47749
Hi @RossMurr4y I have assigned this to content author for further review and update as appropriate.

[2020-02-10 03:34] KrishnaG-MSFT commented on #47722
@jevansAN Glad to know you have self resolved the issue. Thanks for the update. We will be closing the issue for now but if there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-10 03:34] #47722 closed

[2020-02-10 03:34] KalyanChanumolu-MSFT commented on #47747
@umberbeard Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-10 03:40] milismsft commented on #47747
@umberbeard the link has been fixed and it should be working now; sorry for the inconvenience

[2020-02-10 04:16] #47535 closed

[2020-02-10 04:22] DashleenBhandari-MSFT commented on #47551
@Ayanmullick , Please refer this doc - https://www.spiria.com/en/blog/web-applications/enabling-windows-containers-windows-10/.

Meanwhile I will work internally for updating the documentation.

[2020-02-10 04:32] #47396 closed

[2020-02-10 04:36] amanmcse commented on #47615
@MetehanBolat We are proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions or concerns.

[2020-02-10 04:36] #47615 closed

[2020-02-10 04:44] AshokPeddakotla-MSFT commented on #47655
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2020-02-10 04:44] #47655 closed

[2020-02-10 04:46] RohitMungi-MSFT commented on #47470
@deepakagr-007 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-10 04:46] #47470 closed

[2020-02-10 04:54] amanmcse commented on #47708
@jejsloan I have assigned author of the document to confirm the same.

[2020-02-10 05:02] amanmcse commented on #47619
@koo9 I am updating the document. This thread will automatically close during merger.

[2020-02-10 05:06] woraperth opened #47753 "Non-practical example in Example 2: Task-based adjustment"
The example 2 is using $ActiveTasks to calculate the no. of VM, which does not take into account of the running tasks. I have tested this script and found that it is not giving the value it should give. Please see the scenario below:
1) VM in the pool = 0 and queue is empty
2) I add 3 tasks to the queue. 3 These 3 tasks become active tasks (waiting for pick up)
3) Pool is resized from 0-&gt;3
4) 3

[2020-02-10 05:06] tarun00197 commented on #40927
@FrankHu-MSFT we are trying to clicking To-Do List, we are getting the error message Please sign in again. Unauthorized. This is because we  are getting the value of username as  Missing from the token response in the TasksController of the Project TaskWebApp code
IConfidentialClientApplication cca = MsalAppBuilder.BuildConfidentialClientApplication();
 var accounts = await cca.GetAccountsAsync();

[2020-02-10 05:07] mansi-aggarwal-2504 opened #47754 "Is sentiment feature supported with "en-IN" or "hi-IN" locale in Speech-to-Text batch transcription service?"
I am getting  {"code":"InvalidPayload","message":"This locale does not support sentiment analysis."} when I try to add sentiment to config properties.
Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Cont

[2020-02-10 05:08] mansi-aggarwal-2504 commented on #47754
I am using a standard subscription (S0).

[2020-02-10 05:10] #47619 closed

[2020-02-10 05:12] DixitArora-MSFT commented on #47543
@dcbrown16 When you hit the storage account from your function, because they are in the same region as each other, all the traffic goes over the internal Azure network on internal IP's, not the public IPs listed in the Function app, and so is not allowed over the firewall . Because you don't have access to the internal IPs of the function, and even if you did they can change, you can't whitelist t

[2020-02-10 05:13] amanmcse commented on #47021
@dinesh71 could you please confirm this?

[2020-02-10 05:15] #47543 closed

[2020-02-10 05:19] ram-msft commented on #47754
@mansi-aggarwal-2504 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-10 05:20] AshokPeddakotla-MSFT commented on #47744
@fadyanwar Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 05:21] CHEEKATLAPRADEEP-MSFT commented on #47694
@ecout  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-10 05:21] #47694 closed

[2020-02-10 05:21] CHEEKATLAPRADEEP-MSFT commented on #47668
@ValdivNico  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-10 05:21] #47668 closed

[2020-02-10 05:22] CHEEKATLAPRADEEP-MSFT commented on #47633
@vick-git  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-10 05:22] #47633 closed

[2020-02-10 05:28] KalyanChanumolu-MSFT commented on #47724
@baatch Thank you for reaching out.
Azure AD Authentication is not available in mssql extension for VS Code yet.
Meanwhile you can use [Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/quickstart-sql-database?toc=%2Fazure%2Fsql-database%2Ftoc.json&view=azuresqldb-current) or [SSMS](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-ssms?view=azu

[2020-02-10 05:30] pvrk commented on #47601
Basically, we need a user who has credentials to add another user. Azure Backup looks for the key for such a user.
1)	If the script is not run with any parameters it will look for a key for the user with name ‘SYSTEM’. By default, we expect a key should be present for ‘SYSTEM’ user in hdbuserstore
2)	Otherwise, you can pass a key name to the script with the –sk parameter (sk = system key). If the

[2020-02-10 05:51] RohitMungi-MSFT commented on #47431
@robert4os We hope local compute explanations are available after using the setup in sample notebook. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-10 05:51] #47431 closed

[2020-02-10 05:53] instafluff commented on #44719
@mxie220 I was getting this same issue just now and realized that my account has 3 "Pay-As-You-Go" Subscriptions, 2 of which aren't actually for anything. After cancelling those, it was able to create the QnA Maker Service properly for me, although I'm not sure if it worked because of the cancellations to reduce to 1 subscription, or if it just needed more time after I'd created the KB Search Serv

[2020-02-10 05:58] kennethvs opened #47755 "Only permanent users can be selected at "users to review admin consent requests""
When configuring Admin consent requests (Preview), I can only select the users who have permanent rights (in my case our breakglass accounts) - please also include the option to select users who are eligible (via PIM) for any of the global, application or cloud application administrator role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-02-10 06:03] VikasPullagura-MSFT commented on #47746
@dcbrown16 Thanks for the Feedback. I have assigned the issue to content author for checking and enhancing the document with mode details.

[2020-02-10 06:04] VikasPullagura-MSFT commented on #47746
@mlearned Can you please check this doc enhancement request and add your comment.

[2020-02-10 06:13] VikasPullagura-MSFT commented on #47753
@woraperth Thanks for the Feedback. I have assigned the issue to content author for checking and updating the example as appropriate.

[2020-02-10 06:20] DixitArora-MSFT commented on #47576
@gomateus It is available in South Africa North . It is mentioned in the doc also.

https://azure.microsoft.com/en-in/global-infrastructure/services/?products=event-grid

![image](https://user-images.githubusercontent.com/46984568/74125371-205c0f00-4bfb-11ea-9f48-75b09045e5f1.png)

Due to the unique characteristics of your issue, we feel it would be best if this issue is worked one on one hence I

[2020-02-10 06:20] #47576 closed

[2020-02-10 06:22] VikasPullagura-MSFT commented on #47720
@shahidroofi Issue is assigned to content author for checking and updating the document as appropriate.

[2020-02-10 06:22] VikasPullagura-MSFT commented on #47720
@cynthn Can you please check this and add your comments.

[2020-02-10 06:24] msrini-MSFT commented on #47562
@bertrandpons , X-Forwarded-For Header will give you the client IP.

![image](https://user-images.githubusercontent.com/47132998/74125619-ce67b900-4bfb-11ea-9c8c-4b691bfc264c.png)

[2020-02-10 06:26] Ayanmullick opened #47756 "Steps to connect with PowerShell"
Is there documentation on how to connect to this ACI thru PowerShell? The Portal fails every time for me.

![image](https://user-images.githubusercontent.com/17693249/74125842-ff180600-4b9b-11ea-8ebe-5e06da5d435b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab030f18-c377-42e4-02ab-f9fda73253ad
* Version Independ

[2020-02-10 06:27] msrini-MSFT commented on #47644
@lucidqdreams , As of now geo filtering for the Application gateway is only IP based. You cannot use Region code to block the traffic. It is in our road map and ETA cannot be shared.

[2020-02-10 06:30] yoichinak opened #47757 "Excluded from the TOC"
This page seems to be excluded from the TOC by the commit
https://github.com/MicrosoftDocs/azure-docs/commit/f273f46a4e4fdd644c06857c12bc911bf75fd068#diff-d29a77de58e37b3c6d943a73d35641b4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e93

[2020-02-10 06:31] AlexanderViken commented on #40300
Any eta on document update?

[2020-02-10 06:34] VikasPullagura-MSFT commented on #47741
@kovaliovsg Doc changes are done and will be live shortly.

[2020-02-10 06:35] #47741 closed

[2020-02-10 06:36] dcbrown16 commented on #47543
@DixitArora-MSFT thanks! Just a point to keep in mind that I just figured out - apparently the default storage account for Functions must be in the same region. So setting it up in a different region is not an option for that particular storage account (the one that saves bindings, is used by durable tasks etc.). If possible, the requirement that this account be in the same region should also be a

[2020-02-10 06:37] DixitArora-MSFT commented on #47658
@balintbako Follow the below considerations :

**Access to storage accounts in other regions**

Logic apps can't directly access storage accounts that have firewall rules and are in the same region. However, if you permit access for the [outbound IP addresses for managed connectors in your region](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#outbound), your logic

[2020-02-10 06:37] #47658 closed

[2020-02-10 06:37] teecode opened #47758 "Image Resource from a mac pc"
The information on the page has been really helpful. But i am of the opinion that examples and image references should be from a windows operating system( referring to the voting app above). It is consistent and also shows a level of confidence in the windows Operating system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-10 06:38] DixitArora-MSFT commented on #47543
@dcbrown16 Thanks for the update.
@ggailey777  Any thoughts on this ?

[2020-02-10 06:48] viswanadham-k commented on #44395
Hi @Karishma-Tiwari-MSFT

This is  informing you wvd scaling tool is now GA. Please access the below link and find the latest version of WVD Scaling tool. It is recommended by Microsoft.

https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script

Thanks,

[2020-02-10 06:50] Jaans opened #47759 "PowerShell support?"
This page references PowerShell for accessing the Backup Restore functionality, yet the examples used don't work. For example, "Install-Module" example shown does not work (Windows 10 1903 PowerShell 5.0). Has PowerShell support for it been removed?
(See this screenshot)
![image](https://user-images.githubusercontent.com/3510981/74153645-d146c600-4c5c-11ea-8bfb-5584edb7e1b7.png)

Also, when restor

[2020-02-10 06:58] Pancat007 opened #47760 "Document of PHP need update? cannot set to 7.1"
Hi team,
I have a question for setting the php version of Azure App Service.

According to the this documentation.
https://docs.microsoft.com/en-us/azure/app-service/web-sites-php-configure

It should be able to set the php versiont to 7.1, but the fact is the configuration page only have the 7.0 and 7.2.
![image](https://user-images.githubusercontent.com/32253420/74125323-f6611780-4c0f-11ea-8d49-

[2020-02-10 07:00] lightupdifire commented on #47485
Thanks, submitted.

[2020-02-10 07:02] RohitMungi-MSFT commented on #47682
@Alexx221x It would be great if you could provide more details of the error faced while using this tutorial. The error message looks like an issue while parsing an XML which might have occurred while copying the code snippets from the tutorial. We would recommend to use the tutorial directly from [github ](https://github.com/Azure-Samples/cognitive-services-face-android-detect/tree/master/FaceTuto

[2020-02-10 07:05] onkarthg commented on #46954
okay please let me know ASAP.

[2020-02-10 07:17] Firewaters opened #47761 "Authentication Service Options"
We are looking to remove ADFS at some point; is there a clearer definition around the drop-down in AAD Connect, it list's both ADFS and Azure Active Directory or tenant fqdn under SCP (Authentication Service). It doesn't seem clear around what the difference (other than down-level support) are there any other impacts or functionality loss changing this from ADFS to Azure? .

---
#### Document Deta

[2020-02-10 07:32] amanmcse commented on #47433
@mihalko I am checking this and will update the thread.

[2020-02-10 07:57] WYarde commented on #17901
@iainfoulds It's a perfectly valid scenario to mount a disk to multiple pods where each pod writes to it's own directory. This is a great way to give each POD their own persistent storage with high IOPS without wasting loads and loads of disk space (=money).

I would propose to document that it is possible to mount disk to multiple pods, and then explain as you did above what the issues with that

[2020-02-10 08:06] bertrandpons commented on #47562
@msrini-MSFT Thank you for the help.

[2020-02-10 08:11] DixitArora-MSFT commented on #47662
@waynerobinson Service Bus supports up to 2,000 subscriptions per topic. (source)

But if you need to go beyond the 2,000 subscriptions limit you can create multiple levels of subscriptions with the Auto-forwarding capabilities of a Subscription. This means you could have the following:

Topic A

Subscription 1 -> Auto-forward -> Topic A1 -> Subscription A1.1, Subscription A1.2, ...
Subscription 2

[2020-02-10 08:17] waynerobinson commented on #47662
Hi

Thanks for that clarification, but my question was related to the 1000 request per second throttle limit per namespace, not the number of subscriptions possible.

Is this 1000 requests per second for the entire Service Bus or is it 1000 requests per second per partition?

[2020-02-10 08:21] pvrk commented on #46814
Apologies for the delay. Updated the document with the changes. Thanks for the feedback @mcbsys
#please-close

[2020-02-10 08:21] #46814 closed

[2020-02-10 08:25] MohitVerma-MSFT commented on #47683
Hello @alohaninja ,

Thanks for reaching out , you can refer below doc for integrating Azure App Configuration with .net framework:

https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-app

You may simple add the below configuration in App.config of your console application:
`<configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBu

[2020-02-10 08:27] janpalas commented on #47655
@AshokPeddakotla-MSFT Thanks, I have sent an e-mail to AZCommunity@microsoft.com regarding this issue.

However, it could be helpful to add some info about this problem to the docs, if this scenario is supported as @ash2017 claims.

Because for the following set up, it does not work now:

Message body: `{ "device.name" : "FMB122", "protocol.id" : 14 }`
Routing query: `$body.protocol.id = 14`
Resul

[2020-02-10 08:32] VasanthMurugan commented on #27555
Hi
I also have similar issue. After creating and injecting the secrets into Settings, while trying to retrieve using "$env:UsernamefromKeyVault", only the URI value (@Microsoft.KeyVault(SecretUri={https://xxxx.vault.azure.net/secrets/xxx/xxx) is returned and not the secret value.

[2020-02-10 08:35] VikasPullagura-MSFT commented on #47753
@LauraBrenner Can you please check this feedback and add your comments.

[2020-02-10 08:38] VikasPullagura-MSFT commented on #47758
@teecode Thanks for the Feedback.
The screenshots are put in to demonstrate cross-platform experiences for Azure tools.
You can find similar feedback [here](https://github.com/MicrosoftDocs/azure-docs/issues/37658#issuecomment-524373064) for which we have the content team comments.

[2020-02-10 08:43] CHEEKATLAPRADEEP-MSFT commented on #47752
@dcbrown16  Thanks for the question! We are investigating and will update you soon.

@mamccrea Could you please look into this issue?

[2020-02-10 08:47] jakaruna-MSFT commented on #47742
@rrg92 Other than Burstable VM(B series) and Promo sizes, All other VM sizes are supported for spot VM's

[2020-02-10 08:47] MohitVerma-MSFT commented on #47713
Hello @mslot ,

Thanks for reaching out!!

The **[Application Insights SDK for Worker Service](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService)** supports both fixed-rate and adaptive sampling. Adaptive sampling is enabled by default. Configuring sampling for Worker Service is done the same way as for ASP.NET Core Applications.

You can refer below doc for detailed expla

[2020-02-10 08:48] jakaruna-MSFT commented on #47742
Reference: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/spot-vms#limitations

[2020-02-10 08:48] MohitVerma-MSFT commented on #47712
Hello @mslot ,

Thanks for reaching out !!

Please check the below link:

https://github.com/MicrosoftDocs/azure-docs/issues/47713

[2020-02-10 08:53] DixitArora-MSFT commented on #47662
@waynerobinson Could you let me know which part of the documentation you are referring.

[2020-02-10 08:54] waynerobinson commented on #47662
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-throttling#what-are-the-credit-limits

[2020-02-10 08:58] m1nkeh commented on #47640
Morning, I have executed the following steps this morning in a new, InPrivate browser.

1. Make an 'Internal' repo on my target GitHub Organisation & initialised w. `README.MD`
2. Make a 'Private' repo on my target GitHub Organisation & initialised w. `README.MD`
3. Create a new, empty ADFv2 instance on Azure Portal w/o GitHub integration.
4. Navigate to ADFv2 'Set up code repository' choose
5. Ch

[2020-02-10 08:58] DixitArora-MSFT commented on #47662
@waynerobinson This is applicable for entire service bus not per partition.

[2020-02-10 09:00] ChiragMishra-MSFT commented on #47640
Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited aud

[2020-02-10 09:00] #47640 closed

[2020-02-10 09:00] RohitMungi-MSFT commented on #47697
@dagarkatyal You can use a custom docker image to deploy your model. The steps to build and deploy the model are mentioned [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image).

[2020-02-10 09:05] RohitMungi-MSFT commented on #47698
@vcuomo74 It looks like the environment variables are not set as mentioned in this [snippet](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/java-sdk#authenticate-the-client). Could you try to set them as variables in your system or use them directly in the code instead of getting the environment variables?

[2020-02-10 09:07] lukipro commented on #46658
Thanks for the update, are there any estimates when this support may be ready?

[2020-02-10 09:13] torbenboeck opened #47762 "Dataflow: Debug error with empty limits"
Previously it was possible to enter a blank value for limits, when setting debug settings in a data factory dataflow. Now, when you do so, you get a cryptic error saying:
DF-ARG-005 - Limit should be a > 0 - [503 644]

It took me quite some time to figure out, what the problem was. First of all, it's annoying to not be able to set an unbounded limit, second of all, I wasted money having the debugg

[2020-02-10 09:20] vcuomo74 commented on #47698
Hi,

since the beginning, I've set the environment variables directly in code...

public static void main(String[] args) {

String subscriptionKey = "303cXXXXXXXXXXXXXXXXXXXXXXXXXXX";
String endpoint = "https://westcentralus.api.cognitive.microsoft.com/vision";

ComputerVisionClient compVisClient = ComputerVisionManager.authenticate(subscriptionKey).withEndpoint(endpoint);

System.out.println("\nA

[2020-02-10 09:24] jakaruna-MSFT commented on #47737
@frankzo Thanks for the feedback.
I will check on this and update you.

@bobbytreed please add your inputs

[2020-02-10 09:27] triforcely opened #47763 "TelemetryConfiguration.Active is deprecated"
Since TelemetryConfiguration.Active is deprecated, this guide needs an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001bf933-15e6-4282-c0aa-6097a8abda16
* Version Independent ID: d81fae51-0ead-9117-f732-163d42cfd772
* Content: [Dependency Tracking in Azure Application Insights - Azure Monitor](https://docs.mi

[2020-02-10 09:27] alexbakker commented on #47731
I'm not familiar with Azure, but Aegis does work with Office 365 if you select "Setup application without notifications", so perhaps there's a similar option in Azure.

[2020-02-10 09:34] jakaruna-MSFT commented on #47704
In the document one of the perquisite is that both the disk has to of same size.

State from the doc below
`Both disks must also be the same size.`

[2020-02-10 09:37] jakaruna-MSFT commented on #47638
@joelw Thanks for the feedback.
I will assign this issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 09:42] #47562 closed

[2020-02-10 09:43] VikasPullagura-MSFT commented on #46943
Doc is updated, closing the issue.