[2021-11-19 23:10] congyiwu commented on #84157
Also, https://docs.microsoft.com/en-us/azure/virtual-machines/flexible-virtual-machine-scale-sets-rest-api uses 2020-06-01 for Microsoft.Network/networkSecurityGroups, which is even older

[2021-11-19 23:12] MonikaReddy-MSFT commented on #84153
@sitaramaprasad-e - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-19 23:25] #84147 closed

[2021-11-19 23:28] KranthiPakala-MSFT commented on #84128
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 23:29] JnHs commented on #83408
@kmcneelyshaw thank you for pointing this out! I've updated the doc to use the same value in both places.
I'll close this issue now, but please let us know if you have further feedback. Thanks again for taking the time to share your feedback and help us improve our content.
#please-close

[2021-11-19 23:29] #83408 closed

[2021-11-19 23:30] JnHs commented on #82895
@pumpkinclarinnet-MSFT I apologize for the delay. I've updated the topic to mention that you can use REST APIs or other methods to retrieve details about the dashboard resource. This works the same way as for other resources in Azure.
I'll close this issue now, but please let us know if you have further feedback. Thanks again for taking the time to share your feedback and help us improve our conte

[2021-11-19 23:30] #82895 closed

[2021-11-19 23:30] anrub opened #84158 "VNet Integration for multi-container apps"
Will it ever be possible to use VNet Integration with multi-container apps?
Are there plans to improve the multi-container support in app services? There hasn't been lot of news in these area, one can get the impression it is a bit left-behind.

This would be greatly useful in most hybrid-app use cases, together with the easy way to deploy docker-compose applications,

---
#### Document Details

⚠

[2021-11-19 23:34] KranthiPakala-MSFT commented on #84157
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 23:35] KranthiPakala-MSFT commented on #84154
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-11-19 23:35] KranthiPakala-MSFT commented on #84152
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 23:35] KranthiPakala-MSFT commented on #84150
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 23:35] KranthiPakala-MSFT commented on #84141
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-11-19 23:35] KranthiPakala-MSFT commented on #84135
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 23:46] v-gpettibone commented on #68131
@suterma the docs have been updated. Specifically, steps 7 and 8 have been updated to use the master branch rather than the main branch. Please review and close this issue if there are no other problems with the article. Thanks!

[2021-11-20 00:06] kobulloc-MSFT commented on #84148
@douglasmaciver You are correct, after step 8 there is the option to create a VM application version and we do not yet have documentation that covers this.  I'm including our doc author (@cynthn) to make sure we have this in our backlog (for immediate information, looking through the wizard it seems like most of the information tips for each field provides a good description of what is needed).

A

[2021-11-20 00:21] tackc opened #84159 "Add note detailing time for changes to populate on server"
After adding an "Identity Provider" (I used Microsoft Identity Platform), my Azure function stopped functioning over https and would only work on http. After approximately 30 minutes, the updates seemed to start working. Please add details to the documentation mentioning this delay (and what the delay is)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-11-20 00:31] suterma commented on #68131
Unfortunately I can not see a commit associated here, so I can not see a diff.
Anyway I will close this and many thanks for your work. Best Regards, Marcel

[2021-11-20 00:31] #68131 closed

[2021-11-20 00:36] curtand commented on #83808
Hi @edmatosm
Thanks for your contribution!! I published your addition, with small edits.

[2021-11-20 00:37] JimacoMS4 commented on #68131
Hi Marcel,

In step 8 here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#host-the-web-app-in-app-service

The command was updated from `git push webapp main:main` to `git push webapp master:master`. That fixed the deployment issue.

Thanks again for reporting this problem,

Jimaco

[2021-11-20 00:39] KranthiPakala-MSFT commented on #84158
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-20 00:40] KranthiPakala-MSFT commented on #84159
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-20 01:10] cynthn commented on #84148
@douglasmaciver Yeah, not sure what happened there. I've created a pull request to add in the missing steps. Should be live by Monday. Thanks for catching that!

#please-close

[2021-11-20 01:10] #84148 closed

[2021-11-20 01:29] JimacoMS4 commented on #79482
@drcrook1 Thanks for your feedback. I've addressed this in the following PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/180608.

This should be live by Monday 11/22. Please let me know if anything else is needed.

Thanks again,

Jimaco

[2021-11-20 05:39] PramodValavala-MSFT commented on #35291
@brolaugh Sorry to not have confirmed this back then, but you right for all public endpoints that APIM send requests to. Only in the case of Consumption Tier, this is not available given the shared nature of the underlying infrastructure. The docs mention the steps required in this case for any IP Restrictions.

It will depend of IP of the internal load balancer and APIM instances whenever you sca

[2021-11-20 07:52] ashokregar opened #84192 "Data Lake Analytics account With Free Subscription not supported"
adls gen 1 can not be created for free subscription. And because of this Data Lake Analytics account creation is not working either.
Is this meant to be? And if it is then we can not explore Data Lake Analytics with free tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ccf20f6-c70a-8372-5764-534fea16e7f4
* Version

[2021-11-20 14:22] OverengineeredNetwork commented on #82039
Ok. I’m out of the office for the next week. Mind keeping this open until I
can return and review?

On Wed, Nov 17, 2021 at 02:41 SwathiDhanwada-MSFT ***@***.***>
wrote:

[2021-11-20 15:25] Rashair opened #84194 "Webhook scope tag different than new image tag"
In the `Modify the app code and redeploy` section it is written:

However, in the previous section (`Configure continuous deployment`) the CI/CD webhook scope is set to `latest`:

If the new image is pushed under new tag, it will not use the webook.
I think the tutorial should use the `latest` tag when updating the image or change the scope of the webhook.

---
#### Document Details

⚠ *Do not edi

[2021-11-20 15:32] JesvinJoseph commented on #83532
@MartinJaffer-MSFT No

[2021-11-20 15:57] KranthiPakala-MSFT commented on #84192
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-20 15:59] KranthiPakala-MSFT commented on #84194
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-20 16:42] DeanGross opened #84196 "Add explanation about why so few administrators are included"
Could you please add some explanation about the rational for including/excluding the administrator roles in the Secure Score calculation. I would think that many more admin roles are potentially risky and should be included.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4180415d-70f5-1ab2-408f-1f850c678829
* Version In

[2021-11-20 20:01] cveld opened #84198 "GitHub Action azure/login claims"
Currently you provide the following entity types for authorization:
Environment, Branch, Pull request, or Tag

Did you consider the name of the GitHub workflow as a possible option?

Maybe it would be great to get a pointer to some more background information, applicability and examples of the entity types you are providing.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-11-20 20:44] chaisen2006 opened #84199 "No Downtime for Azure SQL Movement having PLE? ( Azure Resource Mover )"
Hello Team,

I plan to move my Azure SQL PaaS from one to another subscription using resource mover.
From the documentation it is not clear what and how the dependents for this particular service would be moved.

Example : I have my Azure SQL which would have a logging enabled on Storage Account, Log analytics and PLE enabled.
If all these 3 components are already present in my target subscription

[2021-11-20 20:48] anrub commented on #83864
@hjy1210 Did you configure your app to have access to the ACR? (by configuring URL, username, password of your registry) see https://azure.github.io/AppService/2018/06/27/How-to-use-Azure-Container-Registry-for-a-Multi-container-Web-App.html

Looks like your app can't access the registry. Furthermore you can look into the logs, if there is something relevant.

[2021-11-20 22:10] AceOfSpades29 opened #84200 "Missing note for running command or invaild example for updating policy link"
For the section that instructing on how to associate the WAF policy with the Azure Front Door resource it's not mentioned that you need to escape the quotation marks. Seem like it might be a similar error found here https://github.com/Azure/azure-cli/issues/10011 for gateway.

copy of command given
az network front-door update --name <> --resource-group <> --set frontendEndpoints[0].webApplication

[2021-11-20 23:06] KranthiPakala-MSFT commented on #84196
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-20 23:08] KranthiPakala-MSFT commented on #84198
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-20 23:09] KranthiPakala-MSFT commented on #84199
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-20 23:11] KranthiPakala-MSFT commented on #84200
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-21 00:24] D3-LucaPiombino opened #84201 "Clarify billing implications when Azure Blob Blocks are specified multiple times in the committed block list"
## Relevant Azure service or technology.

Azure Storage

## Link to the published documentation article that you have feedback about.

https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs

## Clear, specific feedback that the author can act on.

In the the section [About block blobs](https://docs.microsoft.com/en-us/rest/api/storageservi

[2021-11-21 01:34] YusukeTobo opened #84202 "WEBSITES_CONTAINER_START_TIME_LIMIT appears not to be limited in Custom Containers"
WEBSITES_CONTAINER_START_TIME_LIMIT is placed in Custom Container section, but the setting also appears valid in Web Apps on Linux.

https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#custom-containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f081389e-21ca-4d1a-80e1-d96c1

[2021-11-21 01:37] adnanasad opened #84203 "IP address types and allocation methods in Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f84765ca-d9e9-f20d-9779-3b1b02cca464
* Version Independent ID: cdec8cef-f76c-e6ab-b86b-47512762a0fb
* Content: [Public IP addresses in Azure - Azure Virtual Network](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresse

[2021-11-21 04:05] YutongTie-MSFT commented on #83893
@erajuarez Hello, I have tried on my end there is no error for that. One thing may cause this issue is the SAS may expire if you have no regenerated it. Please check and refresh the SAS token and try again.

Thanks so much for reaching out to us. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladl

[2021-11-21 04:05] #83893 closed

[2021-11-21 04:09] YutongTie-MSFT commented on #83952
@Hector-Mina-98

If you are talking about the JSON result, I am sorry, you can not get only "display" in the JSON.

But you can change your script to return only "display" in your code. Thank you.

 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-21 04:09] #83952 closed

[2021-11-21 04:11] Hector-Mina-98 commented on #83952
Okay, thank you for the answer.

[2021-11-21 04:51] mike-urnun-msft commented on #83775
Hello @kfolkes Thanks again for your feedback! I’ve gone through the steps and validated that they are consistent with the Portal experience where the downloading of the OpenAPI definition remains within the Azure Functions blade. If i missed something, please let me know and we can re-open.

We will now proceed to close this thread for now. If there are further questions regarding this matter, pl

[2021-11-21 04:51] #83775 closed

[2021-11-21 05:54] spottedmahn opened #84204 "unauthorized: Application not registered with AAD"
on `docker login blah.azurecr.io`

I got:

"fix": https://stackoverflow.com/a/65316883/185123

Seems like this page doesn't describe or refer to configuring the security on the container registry, shouldn't it? 🤔

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22dc1f78-5ef2-391c-732f-740c0ca12880
* Version Independent I

[2021-11-21 05:59] take-4c commented on #84059
Hi @tfitzmac -san and @msangapu-msft -san,
Thank you for the prompt response! I see!

[2021-11-21 06:54] SadiqhAhmed-MSFT commented on #84201
@D3-LucaPiombino Thank you for your post. We will look into this and get back to you soon.

[2021-11-21 06:57] SadiqhAhmed-MSFT commented on #84203
@adnanasad Thank you for your post. Appreciate if you could elaborate your ask.

[2021-11-21 06:59] SadiqhAhmed-MSFT commented on #84202
@YusukeTobo Thanks for your feedback. We will review the content and update accordingly.

[2021-11-21 09:19] Drkjr92 opened #84205 "SQL Managed Instance diagram misspelled "feature""
[Enter feedback here]
In the SQL Managed Instance diagram, under the "Fully managed PaaS", the word "freatures" should be corrected to "feature".
![msMisspell](https://user-images.githubusercontent.com/37879461/142756548-61f718a9-c25e-45d0-bd85-9b0f145923ce.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5

[2021-11-21 10:30] laurentkempe commented on #83983
I experienced the same issue following the doc and following @msftnadavbh it worked, thx @msftnadavbh !

[2021-11-21 12:12] SebastianSchuetze opened #84207 "Specify Quota Scope for Azure Container Apps in Preview"
To list quotas is fine, could you specify if that is per subscription or tenant or region? Seems stupid because I think it means subscription from my experience. But I believe others will not be so sure about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79eb2c12-e84d-a4a6-86ae-907e6196ad67
* Version Independent I

[2021-11-21 14:13] Norrch2 opened #84208 "Default Session Behavior"
Hello,

Can we add or clarify to the documentation to include the default session behavior.

For example,

I have a customer asking what is the time frame for MFA Session? I cannot find any documentation on this and therefore I cannot provide an answer.

Is the MFA session tied to the default session behavior?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-11-21 14:34] mzhukovs commented on #38401
@mswilson4040  @flyboyjon
workaround for the settings is easy enough, could even write a script to output an updated file based on local.settings.json on build if you want to get fancy:
create a local.settings.docker.env file (or whatever you want to name it) that has the same key value pairs you would specify in the app config / local settings file then you could docker run -p 8080:80 --env-file=

[2021-11-21 14:49] donchai opened #84209 "In Memory Antimalware Scanning"
Does it mean Azure defender will perform hash value validation against known malicious content after a file was written to Azure storage, and there is no in-memory scanning (upload in progress) before the file is being uploaded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6fdc03a-8b15-c019-a972-ebde82f6479a
* Versi

[2021-11-21 14:51] donchai opened #84210 "In Memory Scanning"
Does VM antimalware extension offer in memory scanning before a file is being written to disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556effb7261c
* Content: [Microsoft Antimalware for Azure](https://docs.microsoft.com/en-us/

[2021-11-21 16:26] varunrai opened #84211 "Cosmos DB - Links to Capacity planner broken"
Hi,

I have identified an issue with two articles below:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/choose-api.md
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/how-pricing-works.md

Both of the articles refer to the capacity planner (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/estimate-ru-with-capacity-pla

[2021-11-21 16:43] memildin commented on #83961
Hi @prafulbusa, thanks for the feedback and for taking the time to help us improve the docs.

The document doesn't show how to disable VM access. And I can't see anything that (a) has changed, and (b) isn't updated.

If you can point to a specific item on the page that no longer flows the way it's described, we'll gladly update it. The only thing that we've spotted is the presence of "Security Cen

[2021-11-21 16:44] tdurtschi opened #84212 ""Quickstart: Create a Node.js web app in Azure" Following azure cli instructions results in missing node_modules after deployment."
## Steps to Reproduce (I'm using Azure CLI v2.30.0 on MacOS 10.15):

* Follow instructions here to deploy azure app service plan using Command-line Interface https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?tabs=linux&pivots=development-environment-vscode
* Run `az webapp up --sku F1 --name <myaccount>-express-app` and see success message "You can launch the app at..."
* Naviga

[2021-11-21 16:49] NumberPiOso opened #84213 "Misnamed docker container in Docker Compose tutorial"
This command does not work

https://github.com/MicrosoftDocs/azure-docs/blob/5e3d29187e72f8ed2ce9171f7d34f04cfaaccd16/articles/container-instances/tutorial-docker-compose.md?plain=1#L218-L220

However if we change the docker container  to _azure-voting-app-redis_azure-vote-front_ it does work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-11-21 16:52] memildin commented on #83258
Hi @dominikhoefling, thanks for the feedback and for taking the time to help us improve the docs.

The linked page now shows Azure Arc machines as supported destinations for auto provisioning.

![image](https://user-images.githubusercontent.com/55078580/142771349-4c45fede-b62f-4960-b043-363edcd2645f.png)

I'm going to close this issue, but feel free to comment again here or open a new one if you h

[2021-11-21 16:52] #83258 closed

[2021-11-21 16:56] memildin commented on #81913
Hi @sijday, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming months, and we'll incorporate the information discussed here.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-11-21 16:56] #81913 closed

[2021-11-21 17:01] memildin commented on #80937
Hi @ElanShudnow, thanks for the feedback and for taking the time to help us improve the docs.

You're right, this FAQ entry was definitely unclear. I've revised it and the new version will go live within the next 24hrs. Please take a look and let us know if you now agree it's a better description of the correct procedure.

I'm going to close this issue, but feel free to comment again here or open

[2021-11-21 17:01] #80937 closed

[2021-11-21 17:05] KranthiPakala-MSFT commented on #84204
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-21 17:05] memildin commented on #80594
Hi @brummens , thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming days. We'll incorporate the information discussed here.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-11-21 17:05] #80594 closed

[2021-11-21 17:07] KranthiPakala-MSFT commented on #84205
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-21 17:09] KranthiPakala-MSFT commented on #84207
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-21 17:13] spottedmahn opened #84214 "add link(s) / info about viewing logs?"
the first question I had once I got my first container app running was: "how do I see the log?"

should we add some info on this page about this? 🤔

reference: Tutorial: [Deploy a Dapr application to Azure Container Apps using the Azure CLI -> View Logs](https://docs.microsoft.com/en-us/azure/container-apps/microservices-dapr?tabs=bash#view-logs)

---
#### Document Details

⚠ *Do not edit this sec

[2021-11-21 17:15] KranthiPakala-MSFT commented on #84208
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-21 17:18] KranthiPakala-MSFT commented on #84209
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2021-11-21 17:19] KranthiPakala-MSFT commented on #84210
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-21 17:27] KranthiPakala-MSFT commented on #84211
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-11-21 17:27] KranthiPakala-MSFT commented on #84212
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-21 17:28] KranthiPakala-MSFT commented on #84213
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-11-21 17:28] KranthiPakala-MSFT commented on #84214
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-21 20:02] amcamillo opened #84216 "Instructions on how to find the "access reviews" manually are not accurate for the New User experience UI."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 179cbeed-d9aa-3b5d-56c9-46eebf8706b0
* Version Independent ID: 1df6bc01-ee77-ecfb-704a-0b471e89b92d
* Content: [Review your access to groups & apps in access reviews - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/governance/review

[2021-11-21 20:54] helderpinto opened #84218 "Contradiction in Maximum Instance Count for VMSS Uniform"
In two different tables, we see different values for the **Maximum Instance Count (with FD guarantees)** feature of VMSS Uniform. In the first table (Basic Setup), we have a value of **100**. In the last table (FAQs section), we have a value of **3000**. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-11-21 21:27] spygi commented on #80913
A small question here: can you clarify how many replicas in each region need to confirm when strong consistency is used? I.e. is it just the forwarder replica (in each region of the partition-set)? Thank you!

[2021-11-21 23:07] DeanGross opened #84219 "Prerequisites roles - global reader"
Global reader is not listed as a role that can view these, is this correct or an oversight? If Report Reader and Security Reader can view the workbooks, I would expect that Global Reader should be able to also.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2155a4-d8b2-a542-1aba-387183c3f2e3
* Version Independent ID:

[2021-11-22 01:09] aparna10061 opened #84222 "Should we create Windows 10 Pro N or Pro"
Follow this tutorial to create a new lab and then apply the following settings:

LAB CONFIGURATION
Virtual machine size	Image
Medium (Nested Virtualization)	Windows Server 2019 Datacenter
Medium (Nested Virtualization)	Windows 10
 Should we create Windows 10 Pro N or Pro since those are alone available
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-11-22 01:11] kobulloc-MSFT commented on #84218
@helderpinto Thank you for your question!  We are reviewing this and will get back to you shortly.

[2021-11-22 01:15] KranthiPakala-MSFT commented on #84216
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-11-22 01:17] KranthiPakala-MSFT commented on #84219
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-22 01:19] KranthiPakala-MSFT commented on #84222
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-22 01:36] kobulloc-MSFT commented on #84218
@helderpinto I'll do some additional investigation but everything I'm seeing refers to an instance limit of 100:

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes#scale-sets-with-uniform-orchestration

[2021-11-22 01:56] kobulloc-MSFT commented on #84218
@helderpinto It looks like the limit was 100 in the documentation until an update on June 3rd, 2021 that added 3 sets of 1000 as the limit in the general section, but not the FAQ.  I'll see if this was due to a mistake made while updating the documentation or related to a service update.

![image](https://user-images.githubusercontent.com/37556655/142789722-794c2b60-3662-4d96-817c-a7b43b422664.png

[2021-11-22 02:06] HannahHsiao opened #84223 "Please ignore"
Suggest to change title from "Changes for pay-as-you-go subscriptions" to "Transfer from pay-as-you-go subscriptions" for better understanding.

https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/mca-understand-your-invoice#changes-for-pay-as-you-go-subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-11-22 02:20] MonikaReddy-MSFT commented on #84223
@HannahHsiao - Thanks for bringing this to our attention.
Do you have any feedback that needs to be improved that you would like to share regarding the documentation..

If so, please share it with us, so we can take it forward.

If there is no doc update required, We will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2021-11-22 02:59] PramodValavala-MSFT commented on #83459
@WillParry Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-22 03:09] PramodValavala-MSFT commented on #83883
@sarabsandhu Thanks for the feedback! The terms Inbound and Outbound are relative to the component in question, i.e., logic app, connector, etc.

We have assigned this issue to the content author for further review.

[2021-11-22 03:12] PramodValavala-MSFT commented on #83920
@v-bbalaiagar Thanks for the feedback! We have assigned this issue to the content author for further review.

[2021-11-22 03:19] HannahHsiao commented on #84223
Hi ,
Suggest to change title from "Changes for pay-as-you-go subscriptions" to "Transfer from pay-as-you-go subscriptions" for better understanding.

https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/mca-understand-your-invoice#changes-for-pay-as-you-go-subscriptions

[2021-11-22 03:23] tonyeung opened #84224 "How does the AZURE_CREDENTIALS get updated?"
[Enter feedback here]
Need some more details on the AZURE_CREDENTIALS that gets written to the repository's action secrets. TTL and rotation instructions at the minimum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 679c851f-0cc9-3b99-1d31-88672aebb693
* Version Independent ID: 91ce6957-0bc6-1934-8ac9-f7af096caa95
* C

[2021-11-22 03:41] kobulloc-MSFT commented on #84145
@Giant-Kraken We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-22 03:41] #84145 closed

[2021-11-22 04:08] ShaikMaheer-MSFT commented on #83854
@mssaperla / @leifbro Could you please validate customer feedback and update document as appropriate. Thank you.

[2021-11-22 04:15] SubhashVasarapu-MSFT commented on #83923
@jamesots-tq, Appreciate your patience. We have assigned this issue to the respective content author to update the document accordingly.

[2021-11-22 04:25] CHEEKATLAPRADEEP-MSFT commented on #83978
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-22 04:25] #83978 closed

[2021-11-22 04:25] CHEEKATLAPRADEEP-MSFT commented on #83973
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-22 04:25] #83973 closed

[2021-11-22 04:38] BhargaviAnnadevara-MSFT commented on #84141
@Cisien Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-11-22 04:38] #84141 closed

[2021-11-22 04:39] CHEEKATLAPRADEEP-MSFT commented on #83821
@kalai-ek This is an excepted behaviour.

**Reason:** This is an dummy sample url to show case the path: `abfss://users@contosolake.dfs.core.windows.net/NYCTripSmall.parquet`.

Make sure you have placed the [sample data into the primary storage account](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#place-sample-data-into-the-primary-storage-account).

![imag

[2021-11-22 04:40] #83821 closed

[2021-11-22 04:45] GitaraniSharma-MSFT commented on #83663
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-11-22 04:45] #83663 closed

[2021-11-22 04:54] PramodValavala-MSFT commented on #84009
@bbrandt The straightforward way to handle this would be to [mask the URLs](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#MaskURLSContent) and setup endpoints on APIM that handle the masked URLs.

The other approach would be to manually transform the response into a format that best suits your requirement or completely replace it as well. As documente

[2021-11-22 04:55] VikasPullagura-MSFT commented on #84213
@NumberPiOso Thanks for creating the PR for updating the document. The document changes will go live once the PR is approved.

[2021-11-22 04:55] #84213 closed

[2021-11-22 04:58] AndyX-Net opened #84226 "Wrong info about non-EUS step, See details in screenshot. 2021/Nov/22"
Link:
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-rhui#switch-a-rhel-8x-vm-back-to-non-eus-remove-a-version-lock

Step 4:
![image](https://user-images.githubusercontent.com/27819097/142803247-d63a25e2-6500-4a8d-bf3b-cb36cacd59dd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d7

[2021-11-22 05:02] GitaraniSharma-MSFT commented on #83954
@microsmith , I've changed the line to below for more clarity:

Dynamic addresses are assigned after a public IP address is associated to an Azure resource and is started for the first time. Dynamic addresses can change if a resource such as a virtual machine is stopped (deallocated) and then restarted through Azure. The address remains the same if a virtual machine is rebooted or stopped from wit

[2021-11-22 05:05] PramodValavala-MSFT commented on #84150
@safouenmzah Events here refer to any of the trigger specific events supported by Azure Functions. These include HTTP Requests, Queue Messages, Timer, Event Hub, etc. and other trigger available.

[2021-11-22 05:12] clarenceb opened #84227 "Worker nodes max count is 60 in FAQ but 100 in portal"
[Enter feedback here]

In the [FAQ docs](https://docs.microsoft.com/en-us/azure/openshift/openshift-faq#what-is-the-maximum-number-of-pods-in-an-azure-red-hat-openshift-cluster---what-is-the-maximum-number-of-pods-per-node-in-azure-red-hat-openshift) it says 60 workers is the max but pretty sure it's 100 workers. Also, in the Azure Portal, you can choose up to 100 workers.

"Azure Red Hat OpenShif

[2021-11-22 05:21] PramodValavala-MSFT commented on #84152
@johnayoub Thanks for the feedback! Using [identity based connections for host storage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=azurewebjobsstorage#connecting-to-host-storage-with-an-identity-preview) is covered in separate doc already but you are right that this doc should be updated as well.

We have assigned this issue to the content author for further re

[2021-11-22 05:44] VikasPullagura-MSFT commented on #84226
@AndyX-Net Thanks for pointing this out, the document is updated and changes will go live soon.

[2021-11-22 05:57] #84226 closed

[2021-11-22 06:00] KalyanChanumolu-MSFT commented on #83869
@sebhe We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2021-11-22 06:00] #83869 closed

[2021-11-22 06:01] SadiqhAhmed-MSFT commented on #83968
@sumangeorge6 We haven't heard back from you. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2021-11-22 06:01] #83968 closed

[2021-11-22 06:02] SrijitBose-MSFT commented on #84204
@spottedmahn , the authentication options and their descriptions are provided [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication?tabs=azure-cli#authentication-options).

## Authentication options

The following table lists available authentication methods and typical scenarios. See linked content for details.

| Method                               |

[2021-11-22 06:02] KalyanChanumolu-MSFT commented on #84006
@MDG025 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-22 06:03] #84019 closed

[2021-11-22 06:06] KalyanChanumolu-MSFT commented on #84043
@ryocown This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-22 06:10] KalyanChanumolu-MSFT commented on #84205
@Drkjr92 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the image accordingly.

[2021-11-22 06:23] rboucher commented on #76535
#reassign:rboucher  Lauryn has moved responsibilities.

[2021-11-22 06:24] rboucher commented on #82960
#reassign:bwren Given Lauryn has moved responsibilities.

[2021-11-22 06:37] xujiongda opened #84228 "FQDN is not supported in UDR"
This doc is for setting UDR, but about the SCC relay, the FQDNs are provided.
It makes our customers confused.
About the DBFS and metastore, there are the warning messages to run some periodic jobs.
but there arent any statements with SCC relay.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-2455

[2021-11-22 06:48] vipulsparsh commented on #84198
@cveld Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-22 06:59] SwathiDhanwada-MSFT commented on #83971
@ZekeLiuu  [Microsoft.KeyVault.Data ](https://azure.microsoft.com/en-us/updates/gaazurepolicyforkeyvault/)recently went GA . Kindly note that there are a few policies under Microsoft.KeyVault.Data that are still in ‘preview’ mode for various reasons, but most of them are in generally available today.

[2021-11-22 07:17] #83971 closed

[2021-11-22 07:42] v-hagamp commented on #83750
Ok, will update it.
#please-close

[2021-11-22 07:42] #83750 closed

[2021-11-22 07:46] PramodValavala-MSFT commented on #83871
@CloudDevDan Could you confirm the contents of the `/etc/apt/sources.list.d/dotnetdev.list` file? For reference, it should be
[code]

I can confirm the presence of the package and was able to install as usual.

[2021-11-22 07:47] kobulloc-MSFT commented on #81172
@fuglede I'm very sorry for the delayed response but in speaking further with the product group, untagged does not behave the way I thought it did.  When I first read the documentation I thought that `--untagged` would further refine the command and limit the deletion to untagged manifests within the filtered criteria.  Instead, `--untagged` works as an independent flag and runs in addition to the

[2021-11-22 07:51] PramodValavala-MSFT commented on #83871
@CloudDevDan Could you confirm the contents of the `/etc/apt/sources.list.d/dotnetdev.list` file? For reference, it should be
[code]

I can confirm the presence of the package and was able to install as usual.

[2021-11-22 08:47] jus386 opened #84233 "Error: The value 'True' is not allowed for property isSftpEnabled"
I'm trying to use the SFTP support for Azure Account Storage but I still keep getting this error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13064915-f5c2-0a20-48cd-53705e47b396
* Version Independent ID: 5d4cd440-02d0-9684-0b12-e591628c744e
* Content: [Secure File Transfer Protocol (SFTP) support for Azure B

[2021-11-22 09:01] ameetkonnur opened #84234 "The document is confusing to refer especially around WAF Features. Also no mention of the Old AFD and what is the difference."
The document is confusing to refer especially around WAF Features. If somebody is looking at WAF as a standalone feature which type of AFD and what SKU should one pick ?
Ideally the comparison document should include the older AFD (which is GA) as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac400994-c165-34e4-

[2021-11-22 09:05] v-bbalaiagar opened #84235 "Function's resultCode in Application Insights"
When I log a Function in Application Insights, the resultCode in the request table of Application Insights is set to 0 by default, except for HTTP triggers.

I cannot determine that from the following documentation.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model-request-telemetry#response-code
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring

Could y

[2021-11-22 09:19] shashishailaj commented on #84227
@clarenceb Thank you for your feedback . We will have this checked and engage the content team for updating the content .

[2021-11-22 09:20] AshokPeddakotla-MSFT commented on #83911
@Ngapuke Please try using the below command

After installing, use from _azure.iot.device import IoTHubDeviceClient_

Let us know if that solves your issue.

Also, For further assistance and help, please post your query on the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

Since we have not heard back from you we will now proceed to close

[2021-11-22 09:20] #83911 closed

[2021-11-22 09:30] srobroek commented on #83114
Hi,

What is the status of this request? We have a need to get this solution officially certified by Microsoft in order to not run into blockers for a migration.

[2021-11-22 09:36] MiraZJ opened #84236 "Add more screenshot from Azure portal to guide the user in "Turn on the spending limit after removing" part"
[Enter feedback here]
Hi team,
I have many customers  (SR2111120060002368 and 2111120060002709 ) lost their way when following this page and tried to turn on the spending limit back.
In ""Turn on the spending limit after removing" part, could you help to add one more screenshot for the step 4?

the sceenshot is attached, thank you
<img width="1150" alt="image" src="https://user-images.githubuserco

[2021-11-22 09:37] shashishailaj commented on #84233
@jus386 Thank you for your feedback . We will investigate and update the thread .

[2021-11-22 09:55] KrishnaG-MSFT commented on #84236
@MiraZJ Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-22 09:57] SumanthMarigowda commented on #83967
@arnoldtropo  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Are you facing issue in uploading the image or viewing  image.
The articles looks pretty good

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed

[2021-11-22 09:57] #83967 closed

[2021-11-22 10:00] Sayel-76 opened #84238 "The page needs update"
Hi there,

The page needs updating as the 'Properties' option is not there anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665ef070-9879-3f6b-d528-ff64bd5236ff
* Version Independent ID: 9ca6d22b-e684-4e65-cab3-c272189a3ddc
* Content: [Add or change Azure subscription administrators](https://docs.microsoft.com/e

[2021-11-22 10:00] SumanthMarigowda commented on #84023
@b-juche  Can you please look into this.

[2021-11-22 10:08] SumanthMarigowda commented on #84040
@RickWinter Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-22 10:21] m-drozd opened #84240 "Invalid topic for twin requests"
The page says that twins requests should be sent to `$iothub/twin/GET/?rid=<request_id>/#`, while I believe it should say `$iothub/twin/GET/?$rid=<request_id>` like in [this](https://docs.microsoft.com/en-us/azure/iot-edge/module-development?view=iotedge-2020-11&preserve-view=true#twins) example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-11-22 10:37] lucabovo opened #84241 "Storage Accounts redundancy support matrix - tables info integration"
Good morning,
I'm studying the *tables* in Docs  ( https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy )  regarding *Storage redundancy*:
- Supported Azure Storage services   (https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#supported-azure-storage-services),
- Supported storage account types   (https://docs.microsoft.com/en-us/azure/storage/common/stor

[2021-11-22 10:49] DavideDelVecchio opened #84242 "Command line to connect to Cluster may be confusing"
[Enter feedback here]
I  was reproducing the steps described here https://docs.microsoft.com/en-us/azure/managed-instance-apache-cassandra/create-cluster-cli#connect-to-your-cluster in particular when using the command line  to connect to the cluster via CQLSH
It's specified to populate host variable with all the hosts IPs in the cluster, but when the command line is executed the bash shell will o

[2021-11-22 11:02] AshokPeddakotla-MSFT commented on #83662
@kgremban Please look into this feedback.

[2021-11-22 11:14] mllipi opened #84243 "Documentation on Migrating to Azure Firewall Premium is not clear"
Documentation on Migrating to Azure Firewall is not clear about the "migration process expectations".

Having a clear process expectations explanation at the beginning would transmit more security for customers. For example, it does not mention if policy rules or public will remain the same after migration. It only mentions that threat intelligence will not be migrated.

Migration process expectat

[2021-11-22 11:38] CHEEKATLAPRADEEP-MSFT commented on #84228
@xujiongda  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-22 12:04] SwathiDhanwada-MSFT commented on #84238
@Sayel-76 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-11-22 12:08] AndrewSmithRS commented on #64660
I first logged this issue to support in August this year so 4 months for a fix is not reasonable especially due to the impact it has had.

[2021-11-22 12:25] Dmitry-Me opened #84244 "OS 6.37 is available but not documented"
This page https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases doesn't list updates for Guest OS 6.37 although 6.37 is already available for selection in Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8cc2c5-eb5f-edaf-f155-98e5ff1b252c
* Version Independent ID: 8e1a

[2021-11-22 12:28] GitaraniSharma-MSFT commented on #84243
@mllipi , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2021-11-22 12:46] AshokPeddakotla-MSFT commented on #84240
[@m-drozd](https://github.com/m-drozd) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-22 13:13] edmatosm commented on #83808
Hi Curtis!

Thanks! Much appreciated!

Best regards,
Eduardo Marques
Support Escalation Engineer
Office 365 Security & Compliance
Working Hours: M-F 8:00am - 5:00pm ET
***@***.******@***.***>)

Need help outside of my working hours?
Manager: Tom Roughley, ***@***.******@***.***>

MICROSOFT

From: Curtis Love ***@***.***>
Sent: Friday, November 19, 2021 19:36
To: MicrosoftDocs/azure-docs ***@***.**

[2021-11-22 13:33] benoittgt opened #84245 "AzureADPreview commands from doc cannot be used"
Hello

At the moment this documentation doesn't seems to work on a fresh Azure AD tenant app.

I tried various proposal online that suggest to do `UnInstall-Module AzureAD` then install `AzureADPreview`. Also logout/login before using the command but it didn't work.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-11-22 14:12] GitaraniSharma-MSFT commented on #84203
@adnanasad , you can find the IP address types and allocation methods with versions and SKUs in the below doc:
https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/virtual-network-network-interface-addresses#address-types

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-11-22 14:12] #84203 closed

[2021-11-22 14:19] GitaraniSharma-MSFT commented on #84154
@laserprec , BGP is not required to be enabled unless your configuration specifically requires this setting. It is mentioned in the Azure portal doc:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resource-manager-portal#to-create-a-virtual-network-gateway

![image](https://user-images.githubusercontent.com/67630903/142877057-c6436b23-0816-4a48-bfc6-31449669f51d.png

[2021-11-22 14:21] DeanGross opened #84246 "update screen shot"
There is an image showing AWS, it would be better if this was for Cisco Webex.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd387482-3e21-f53c-d54e-6a853356b511
* Version Independent ID: 84781f14-a81a-b0c0-f5c0-2000eb7d08e3
* Content: [Tutorial: Configure Cisco Webex for automatic user provisioning with Azure Active

[2021-11-22 14:22] spottedmahn commented on #84204
that's a good reference page & probably should be referenced on this page but it still feels like there should be some content on this page that's in the [Stack Overflow Q & A](https://stackoverflow.com/questions/65316558/azure-application-not-registered-with-aad/65316883#65316883) 🤔

[2021-11-22 14:31] vspandey opened #84247 "DPS with Nested Edge using X.509"
Hi There,

If we create 'Parent' Edge layer using DPS and X.509 and 'child' Edge as manual X.509 attestation, then is it possible to create a nested iot-edge architecture using these both Parent and Child edge?

What I am thinking is to make 'Parent' Edge a transparent gateways and then manually create another Edge (say Child) using manual X.509 attestation.

Steps I am following:

Create 2 ubuntu

[2021-11-22 14:54] WillParry commented on #83459
I'm sorry, I've been really busy . . on top of which, just as I feel like I don't have time to deal with this now and the issue is closed, actually it's suddenly become a bit of a priority again. So let's see if I can put together a bit more information for you @PramodValavala-MSFT

[2021-11-22 14:58] MaxKhluptsov commented on #50483
Thanks everyone for your clarification! Appreciate it!

[2021-11-22 14:59] darren-bdf opened #84248 "A bug in the G Suite tutorial documentation?"
At stage 5b of the article, a user is instructed to provide a Reply URL with an /acs suffix, for example

- https://google.com/acs
- https://google.com/a/DOMAIN_NAME/acs

When testing against an account with administrator privileges in G Suite, things appear to work well. But for a user without administrator privileges in G Suite, error STS50011 occurs as reported in https://docs.microsoft.com/en-

[2021-11-22 15:00] FrankVanEgmond opened #84249 "Path value seems different when Vnet bound URLs are used"
The path value in the Translate Text Python code snippet is incorrect when Vnet-bound endpoints to the Cognitive Service is used; this gave an 404 error.
What was working, what the value '/translator/text/v3.0/translate' for the path.
Hope you can add this (as a note) to the example text - or as a comment in that paragraph.
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-11-22 15:07] baatch opened #84250 "Azure Storage blob inventory status? Weekly run?"
For the Azure Storage blob inventory feature, I have configured a weekly schedule.

- When will it run the first time?
- Is there a way to check if the inventory is currently running?
- Is there a way to force it to start?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f1a335-26ae-c901-2c62-db165fb1d31f
* Version Ind

[2021-11-22 15:12] aleksandar-miraclemill commented on #84233
Just to add some more context. The error happens when I click "Enable SFTP" in the Storage Account, under settings - SFTP.
I enabled SFTP preview feature on the Azure Subscription and created local user on the Storage Account.
![image](https://user-images.githubusercontent.com/88659936/142885780-88e79a38-2024-414b-91f0-605d57a31c1e.png)

[2021-11-22 15:21] SibeeshVenu opened #84251 "Code change required, need to be updated to accessToken from result.AccessToken"
The code block in the [Option 3: Call a downstream web API without the helper class](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-call-api?tabs=aspnetcore#option-3-call-a-downstream-web-api-without-the-helper-class) should be updated to accessToken from result.AccessToken, as there is only one parameter, `string accessToken` in the function `CallTodoLis

[2021-11-22 15:27] Darryl-G opened #84253 "Missing "monitor" operation for the NC resource."
Hello,

The socat resource (netcat) of the pacemaker cluster setup instructions is missing a "monitor" operation.
It needs a monitor operation adding, otherwise the socat process can be killed and the pacemaker cluster will not detect and react.

If you look at this SUSE KB here:  https://www.suse.com/support/kb/doc/?id=000019536
You will notice that right at the bottom (where they correctly apply

[2021-11-22 15:31] justinpenguin45 opened #84254 "Where is the multiple?"
The only component running in the single container is the wordpress site - am I missing something here? The db is moved out of the container and the Azure MySQL service is used. Where is the multiple apps or multiple containers?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9d9048-6577-c19b-5989-fef8beffd6f6
* Versio

[2021-11-22 15:34] microsmith commented on #83954
Excellent! Thank you.

[2021-11-22 15:38] SamaraSoucy-MSFT commented on #83985
@Ofer-Gal @nailenTV Cloud explorer has been removed in VS2022 in favor of using Connected Services for Function Apps: https://docs.microsoft.com/en-us/visualstudio/azure/vs-azure-tools-resources-managing-with-cloud-explorer?view=vs-2022

I have assigned the issue to the doc author to update appropriately.

[2021-11-22 15:40] Grace-MacJones-MSFT commented on #84224
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2021-11-22 15:40] WillParry commented on #83459
Does some who is assigned this issue need to reopen it?

[2021-11-22 15:47] shashishailaj commented on #84246
@DeanGross Thank you for pointing that out. Even though the option talks about searching "cisco webex" keywords, something like below may be a better option.

![image](https://user-images.githubusercontent.com/532022/142886691-7ac4afc6-63d2-4eb7-8a5b-73cb65f6fceb.png)

We will take the recommendation to the content team to review this suggestion .

[2021-11-22 15:48] shashishailaj commented on #84246
@twimmers Could you please help review the suggestion here?

[2021-11-22 15:50] Grace-MacJones-MSFT commented on #84244
Hi @Dmitry-Me, thanks for your feedback! We will review and update this doc accordingly.

[2021-11-22 15:52] Grace-MacJones-MSFT commented on #84245
Hi @benoittgt, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update  the doc as appropriate

[2021-11-22 15:54] shashishailaj commented on #84248
@darren-bdf Thank you for your feedback . We will investigate and update the thread.

[2021-11-22 15:56] Grace-MacJones-MSFT commented on #84249
Thanks for your feedback! We will review and update this doc accordingly.

[2021-11-22 15:57] shashishailaj commented on #84248
@jeevansd Could you please help on this one ?

[2021-11-22 15:58] Grace-MacJones-MSFT commented on #84250
Hi @baatch, Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-22 16:03] MonikaReddy-MSFT commented on #83909
@celica013 -  Thank you for the response. Like I mentioned earlier, we only scope issues on this repo to feedback related to docs.

If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter,

[2021-11-22 16:03] #83909 closed

[2021-11-22 16:03] pwebendorfer commented on #35432
@jimmymcpeter
I am pulling my hair out, trying to get this to work. I have created the additional claims, per your instructions and it still isn't working. What should the Required Claim be?
Error:
AADSTS650056: Misconfigured application. This could be due to one of the following: the client has not listed any permissions for 'AAD Graph' in the requested permissions in the client's application reg

[2021-11-22 16:06] hjy1210 commented on #83864
Following [Configure App Service to deploy the image from the registry](https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-linux#configure-app-service-to-deploy-the-image-from-the-registry), we can use
[code]
to configure app to have access permission to the ACR.

[2021-11-22 16:06] #83864 closed

[2021-11-22 16:06] MonikaReddy-MSFT commented on #84153
@sitaramaprasad-e - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-22 16:07] Grace-MacJones-MSFT commented on #84235
Thanks for your feedback! We will review and update this doc accordingly.

[2021-11-22 16:09] MonikaReddy-MSFT commented on #84223
@HannahHsiao - Thank you for the response.

The reason the doc is mentioned Changes is because there are other activities are also done as part of that doc details like cancelled, transitioned and transferred. So we cannot change the doc to just use transfer since it has other activities are also being done.

Hope that helps.

At this moment, Since there is no doc update required, We will now proc

[2021-11-22 16:09] #84223 closed

[2021-11-22 16:09] Grace-MacJones-MSFT commented on #84241
Hi @lucabovo , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-22 16:10] MonikaReddy-MSFT commented on #84153
@sitaramaprasad-e - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-11-22 16:10] #84153 closed

[2021-11-22 16:13] MicrosoftGuyJFlo commented on #84077
Managing the device identity for Autopilot devices has to be done via Intune. Called out here... https://docs.microsoft.com/azure/active-directory/devices/device-management-azure-portal

[2021-11-22 16:13] MicrosoftGuyJFlo commented on #84077
#please-close

[2021-11-22 16:13] #84077 closed

[2021-11-22 16:17] rnwhitehead opened #84255 "Links broken"
The links on this page seem to lead to a 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b0a859d-862d-178b-d2a7-0e9571a69b67
* Version Independent ID: d252536b-c6f3-0d4e-f138-483754028b7e
* Content: [Azure Storage samples using C++](https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-c-plus-

[2021-11-22 16:17] sitaramaprasad-e commented on #84153
Hi @MonikaReddy-MSFT,

This is related to DNS connection issues and not related to documentation. If this can't be helped here you can close it

[2021-11-22 16:18] SnehaAgrawal-MSFT commented on #83847
@pettys Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-11-22 16:19] MicrosoftGuyJFlo commented on #83945
#reassign:@justinha

[2021-11-22 16:20] MicrosoftGuyJFlo commented on #83945
Not the writer for this content anymore. @JustinHa can look to see where this makes sense in the content. Referenced previous issue was closed before I saw it.

[2021-11-22 16:27] jgross1031 opened #84257 "Jumbo Frame Rates"
Would it make sense to have it listed somewhere on this page that Jumbo Frame Rates are not supported on Azure? We get asked this question from time to time and the only place we were able to find a mention of that was on this page, https://docs.microsoft.com/en-us/azure/azure-netapp-files/faq-performance#are-jumbo-frames-supported.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-11-22 16:29] SrijitBose-MSFT commented on #84204
@spottedmahn , thank you for your feedback.

@dlepow can you please check if we can add something to this page?

[2021-11-22 16:31] jgross1031 commented on #84255
Looks like it just needs to be samples instead of sample in the URI.

e.g. https://github.com/Azure/azure-sdk-for-cpp/blob/main/sdk/storage/azure-storage-blobs/**samples**/blob_getting_started.cpp#L18

[2021-11-22 16:33] GeethaThatipatri-MSFT commented on #84086
@sqlworldwide Please check my above comments and let us know if you have any additional questions.

[2021-11-22 16:40] GeethaThatipatri-MSFT commented on #84254
@justinpenguin45 Thanks for reaching out, We will Investigate and update you shortly

[2021-11-22 16:55] rnwhitehead commented on #84255
Thanks!

________________________________
From: jgross1031 ***@***.***>
Sent: 22 November 2021 16:31
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Whitehead, Richard ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Links broken (Issue #84255)

[External Email]

Looks like it just needs to be samples instead of sample in the URI.

e.g. https://github.com/Azure/azure-sdk-for

[2021-11-22 17:07] hf-kklein opened #84258 "How to handle case that entity/table row was not found in a Table Storage Input Binding?"
I'm using the table storage input binding for a Python 3.9 function app.
The minimal working example described in the documentation works for me.
[code]
However I wonder how I can programatically handle the case that the row with rowkey==`id` was not found in the specified table. In my case the function app crashes with HTTP 500 before it even reaches my function code.

[2021-11-22T16:58:49.526Z]

[2021-11-22 17:11] sqlworldwide commented on #84086
No, I do not. Thank you for looking into this.

[2021-11-22 17:22] JamesTran-MSFT commented on #84251
@SibeeshVenu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-22 17:29] SumanthMarigowda commented on #84106
@kamfaima Firstly, apologies for the delay in responding here, Your feedback has been shared with the content owner for further review.

[2021-11-22 17:29] JamesTran-MSFT commented on #84015
@mattygrecgrec
Thank you for your time and patience throughout this issue!

I reached out to my team and based off the documentation, this is solely a guideline/recommendation and not a requirement. The documentation is providing guidance on how your sign-in button "should" look.

Since this issue isn't directly related to improving our docs, and if you require additional assistance, I'd recommend

[2021-11-22 17:29] #84015 closed

[2021-11-22 17:33] mattKorwel opened #84261 "Cosoms Graph DB Vertex specification: outE missing"
https://docs.microsoft.com/en-us/azure/cosmos-db/graph/gremlin-support#gremlin-wire-format states that

[code]

outE will be present on the vertex object. it is however not present.  using the data from the .net quickstart  i see a vertex with edges, but the edges are not returned. is there a flag to pass, if so this should be documented. is this a bug/

![image](https://user-images.githubusercont

[2021-11-22 17:34] JamesTran-MSFT commented on #84132
@pjmcglynn
Thank you for your time and patience!

Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2021-11-22 17:34] #84132 closed

[2021-11-22 17:37] JamesTran-MSFT commented on #84139
@akamud
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A fo

[2021-11-22 17:37] #84139 closed

[2021-11-22 17:37] GeethaThatipatri-MSFT commented on #84086
Thank you I'm closing this issue.

[2021-11-22 17:37] #84086 closed

[2021-11-22 17:40] JamesTran-MSFT commented on #84149
@beniluul
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-11-22 17:40] #84149 closed

[2021-11-22 17:43] johnfriedrich opened #84262 "TDE - High availability with customer-managed TDE - Unclear/Not complete"
Hello,

we followed
[High availability with customer-managed TDE](https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-byok-overview#high-availability-with-customer-managed-tde).

In our specific test case we have KV1 in West Europe and KV2 in North Europe.
The SQL database is located in West Europe, like KV1.

We created a Key in KV1, exported it and imported it i

[2021-11-22 17:56] curtand commented on #83808
#please-close

[2021-11-22 17:56] #83808 closed

[2021-11-22 17:56] MartinJaffer-MSFT commented on #84000
Thank you for your feedback @JaimieWi  . This has been assigned to the content owner and will be updated as appropriate.

@kromerm were both of these 'parse' entries intended, or is there a duplicate?

[2021-11-22 17:57] bbrandt commented on #84009
Yes.  Perhaps since there is more than one way to accomplish this, a sample project would be more appropriate than the docs site.  Thank you.

[2021-11-22 17:57] #84009 closed

[2021-11-22 18:01] MartinJaffer-MSFT commented on #84085
Ahh I think I found it.  "Learn" is now "Knowledge Center".  See below images.

![image](https://user-images.githubusercontent.com/46612670/142911912-a9b8812c-e26a-4e1f-b007-5e9b449a2565.png)
![image](https://user-images.githubusercontent.com/46612670/142912004-710fe248-a6b3-408a-8989-d9aaeb0df013.png)

[2021-11-22 18:05] v-gpettibone commented on #70815
Hi @ankitscribbles,

The properties have been added to the documentation. Please close unless there are other problems with the article.

Thanks,
Greg

[2021-11-22 18:14] #84085 closed

[2021-11-22 18:15] Fleid commented on #81247
Hi @Davidswinkels, @Avalaxy,

Sorry for the delay about this one.

To your questions:

I'm getting in touch with the dev team on that one. In the meantime, can you tell me if you observe the behavior only when you use a wildcard (`SELECT C.* ...`), or even if you explicitly project your fields (`SELECT C1, C2, C3...`).

I will be pinging the team on that also. What other customers do is to usually

[2021-11-22 18:20] artur-tolstenco commented on #84233
Hi, also here, same issue. @aleksandar-miraclemill have u sorted out?

[2021-11-22 18:21] alexjhart opened #84264 "New-AzPeerAsn doesn't work as documented"
New-AzPeerAsn doesn't work with Email and Phone. This requires a contact object https://docs.microsoft.com/en-us/powershell/module/az.peering/new-azpeerasn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3311da5-5a97-efa7-ffe6-9280a9d74188
* Version Independent ID: 35718d6a-984b-c3c0-570b-b43ce7528d0d
* Content: [Assoc

[2021-11-22 19:00] ChaitanyaNaykodi-MSFT commented on #84234
Hello @ameetkonnur
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-22 19:10] GeethaThatipatri-MSFT commented on #83980
@airwings17 Please check my above comments and let us know if you have any additional questions

[2021-11-22 19:18] KungFuryKeyboard opened #84267 "template in page is broken."
[Enter feedback here]
Template in docs is broken, seems to be neglected viewing by existing pull requests
https://github.com/staticwebdev/blazor-starter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b5615c8-7144-399d-52d9-04283a942b50
* Version Independent ID: 7e846219-4121-92f4-f9f1-1a35353261ac
* Content: [Tutorial

[2021-11-22 19:44] kr-arjun commented on #65620
I could reproduce the issue is in below scenario.

External metastore with 1.2.x version and DBR 7.x with below configs.

- spark.sql.hive.metastore.jars /databricks/hive_metastore_jars/* ( Any path doesn't have required 1.2.1 metastore jars)
- spark.sql.hive.metastore.version 1.2.1

This is a scenario where the user doesn't set metastore jars directory correctly ( the jars should be available in

[2021-11-22 19:51] josedanielr07350 opened #84270 "Please adjust the service name from bengine to obengine"
[Enter feedback here]
For the public documentation (https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#cache-folder-support) at the cache folder support Location changes. Please adjust the command from (net stop bengine) to (net stop obengine) as bengine service do not exist. Please check attach image for your reference.

---
#### Document Details

⚠ *Do not edit this s

[2021-11-22 19:52] akamud commented on #84139
Hi, the way I see it, it is directly related to improving the docs: the docs doesn't tell me how to do that specific scenario. It fails to address how to add a custom claim coming from extension attributes to a guest account. It shows how to do it on SAML tokens, but not on JWT tokens.

If there is a way to do it, it should be in the docs. What do you think?

[2021-11-22 19:56] GubanovSergey opened #84271 "Prerequisites section simplification"
It seems like Prerequisites section simplification could use the same reference to setup script https://github.com/Azure-Samples/Synapse/blob/main/SQL/Samples/LdwSample/SampleDB.sql as it is done in the other tutorials. However, the explanation of what is actually done there may be put into the separate page (instead of just throwing it away). In that case, reference to this new page could be adde

[2021-11-22 20:17] SidneyPhoon opened #84273 "List Model with REST API does not work with my own resource name"
[Enter feedback here]
If I list models with my own resource name, form-recognizer-s0-westus.cognitiveservices.azure.com, I don't get any results.  If I list the models with westus.api.cognitive.microsoft.com I get a list of my models.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 103287e1-1dbe-77ef-dc3a-fbc8403d0ced
*

[2021-11-22 20:21] austinheinrichs opened #84274 "Supported DotLiquid Filters - Shopify"
Related to #9848

Hi,

I'm looking for clarification on whether you are able to use the additional filters detailed in the DotLiquid repo Wiki - https://github.com/dotliquid/dotliquid/wiki/Additional-Filters.  Specifically, the Shopify hashing filters.

From the documentation, it appears that this would be supported, but from what I'm seeing in a logic app implementation is that it fails to parse

[2021-11-22 20:26] Nicholak-MS commented on #83139
SPE_E5_NOPSTNCONF has been added to the online documentation. We are continuing to evaluate API support at sometime in the future, but we don't have a firm date at this time.

Thanks
Nick

#please-close

[2021-11-22 20:26] #83139 closed

[2021-11-22 20:39] James-Hamil-MSFT commented on #84255
Hi @rnwhitehead , thank you for bringing this to our attention. I have created a PR to fix the links here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/180746

I will now close this issue. Please let me know if you have any questions.

Best,
James

[2021-11-22 20:39] #84255 closed

[2021-11-22 20:49] wajahat1974 opened #84275 "Training compute access - Access training compute targets like Azure Machine Learning Compute Instance and Azure Machine Learning Compute Clusters with public IP addresses (preview)."
Training compute access - Access training compute targets like Azure Machine Learning Compute Instance and Azure Machine Learning Compute Clusters with public IP addresses (preview).
This should be private IP address not public IP address
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6151ae4f-c07

[2021-11-22 21:00] chyphen7 commented on #84067
I got the same error.   Any update on your investigation?

[2021-11-22 21:05] marcinfair commented on #84233
same here, any solution?

[2021-11-22 21:08] jeevansd commented on #35432
@pwebendorfer Your error message state that you have not correctly configured the application in Azure AD. Please look at the SAML Request coming from the app and copy SAML Issuer value in the request and then use that same value in the Azure AD Identifier property. That should solve your issue here.

[2021-11-22 21:21] jdthorpe opened #84277 "These instructions don't work for reasonably large databases"
These instructions are not realistic for a reasonable sized database.  Even when maxing out the RU on my cosmos instance (10,000 RU), the `mongoimport` command errors out with a message stating "Failed: bulk write exception: Reason: (Response status code does not indicate success: TooManyRequests (429)" after uploading just 16 MB of records because mongoimport pushes the data over as fast as possi

[2021-11-22 21:35] Ngapuke commented on #83911
Thanks Ashok. That fixed it (I feel foolish for it being such an obvious thing!)

[2021-11-22 21:35] cshea15 opened #84278 "update screenshot of ad join"
[Enter feedback here]
AD and AADDS join as moved in the storage account blade. Screen shot needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b190fd1-42f6-3a90-5931-74b2ccd309c3
* Version Independent ID: c4ca3c86-6257-59dd-e5a3-d40d4e0fa83c
* Content: [Create an Azure Files file share with a domain co

[2021-11-22 21:46] yunhaoling commented on #81985
Hey @skeltonsc , I'm Adam from the Azure SDK for Python team working on azure-servicebus and uamqp and apologize for not reaching out to you sooner.

The support engineer has explained to me about the issue _(prebuilt uAMQP wheels not supporting FIPS)_ and I'm aware that there're emails going back and forth discussing the solutions I proposed _(manually build uAMQP wheel locally)_ as well as the p

[2021-11-22 22:06] artur-tolstenco commented on #84233
here is what I found :)
documentation says that the available regions are https://docs.microsoft.com/en-us/azure/storage/blobs/secure-file-transfer-protocol-support#regional-availability :
North Central US
East US 2
East US 2 EUAP
Central US EUAP
Canada East
Canada Central
North Europe
Australia East
Switzerland North
Germany West Central
East Asia
France Central

I was trying to spin it up on Wes

[2021-11-22 22:20] mike-urnun-msft commented on #83860
Hello @scherand - Sorry for the late reply. On the _scale & resiliency_ side for Functions that trigger on Blob events, the guidance is to use Event Grid as recommended here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#event-grid-trigger

However, if you were asking specifically about the network isolation side of the Functions (runnin

[2021-11-22 22:20] #83860 closed

[2021-11-22 22:28] James-Hamil-MSFT commented on #84278
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-22 22:43] thirumurthis commented on #84233
i also got this exception during template deployment verification, the issue was i was using a westus 2 region, which doesn't offer this preview feature yet. After selecting East us 2 it worked.

[code]

[2021-11-22 23:02] James-Hamil-MSFT commented on #83695
Hi @Neckross , I suggest submitting a feature request here if you want to change this: https://feedback.azure.com/d365community

I'm going to close out the issue but if I receive an explanation from the product team I will post it here for you.

Best,
James

[2021-11-22 23:02] #83695 closed

[2021-11-22 23:12] drdamour opened #84279 "needs more examples/docs for BlobPath binding and example may be wrong"
the BlobPath supports binding expressions, but this isn't mentioned in the table of params, maybe because it is limited to c#?

thinking this table should make some note of it, AND link to docs explaining the binding syntax.
![image](https://user-images.githubusercontent.com/1514496/142948326-8369f479-4989-4850-aeb5-36d2523652b2.png)

The  example (shows up a few ways)...i think has bug, it reads

[2021-11-22 23:13] mike-urnun-msft commented on #83596
Hello @LAKN-Lasse-Knudsen - Sorry for the late reply. Support for custom domains, DNS settings, SSL cert are roadmap features that are in the works. For more updates, please review & track the following issue: https://github.com/microsoft/azure-container-apps/issues/8

If you have an immediate need for them in production, you can look to use other services like Azure Frontdoor, Azure Application G

[2021-11-22 23:13] #83596 closed

[2021-11-22 23:21] helderpinto commented on #84218
Strangely, I cannot see the same...

![image](https://user-images.githubusercontent.com/10661605/142949544-e8af607c-b495-4ad4-968f-0c225ab937b0.png)

[2021-11-22 23:25] kobulloc-MSFT commented on #84218
@helderpinto Sorry for the confusion--that screenshot was from an earlier version of this documentation.  I'll update the description to help clarify that.  If I go to the live page I see the same thing you see:

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes#basic-setup

[2021-11-23 00:02] pwebendorfer commented on #35432
Thank you so much for your suggestion. How can I capture the SAML request coming from the app?

[2021-11-23 00:10] kobulloc-MSFT commented on #84244
Hello, @Dmitry-Me!  It looks like the November Guest OS was released 3 days ago on [Friday, November 19th](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cloud-services/cloud-services-guestos-update-matrix.md).  It will take a couple days for the documentation to be updated to reflect that (keeping in mind that we have a US holiday coming up).  Adding @gunnarcms to make sure that

[2021-11-23 00:11] jeevansd commented on #35432
You can use the SAML tracer plugin from the Chrome or Firefox browser. They can detect and decode the SAML request and Response easily.

[2021-11-23 00:15] normesta commented on #83986
Thank you @ktremain ! We've addressed this bug!

#please-close

[2021-11-23 00:15] #83986 closed

[2021-11-23 00:23] normesta commented on #83009
Thank you @pnarsi ! The article has been updated.

#please-close

[2021-11-23 00:23] #83009 closed

[2021-11-23 00:24] normesta commented on #82761
Thanks @AngelosP ! The article has been updated to better reflect that the NPM step is for versions before VS 2022.

#please-close

[2021-11-23 00:24] #82761 closed

[2021-11-23 00:29] v-gpettibone commented on #74914
#reassign v-gpettibone

[2021-11-23 00:39] pnarsi opened #84281 "Purview supporting CMK for Encryption once GA"
DP-5 on this page mentions that purview uses Microsoft managed keys to encrypt the metadata stored by Azure Purview. Customer Managed Keys will be supported once the service becomes GA.

![image](https://user-images.githubusercontent.com/7891408/142954992-dd6bc994-d195-4f3e-9465-48834923adc1.png)

There was a GA announcement for Azure Purview late last month, does this mean that CMK is now support

[2021-11-23 00:48] pwebendorfer commented on #35432
Thank you so much for your guidance, but we have started from scratch and now I am getting this error:

Message: AADSTS700016: Application with identifier 'https://xxxxxxxxxxxxxxxx' was not found in the directory 'xxxxxxxxx'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication

[2021-11-23 01:01] b-juche commented on #84023
I connected Carlos (@porrascarlos802018) with the technical team for further discussion.  Currently we are not sure if/what doc changes are required.

[2021-11-23 01:12] GiftA-MSFT commented on #84122
@rastala can you please review above feedback? Thanks.

[2021-11-23 01:13] YutongTie-MSFT commented on #84275
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-23 01:34] eedorenko opened #84282 "Azure-Samples / e2e-diagnostic-provision-cli is archived and broken"
The article is referring to an outdated (archived) and broken repo (see https://github.com/Azure-Samples/e2e-diagnostic-provision-cli/issues/12) https://github.com/Azure-Samples/e2e-diagnostic-provision-cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a00a92-3048-645b-d4a1-eb6b6446268a
* Version Independent ID: 3e

[2021-11-23 01:35] crshovrd41 opened #84283 "This article saved my bacon!"
After going 8 articles deep I found this one. Finally explained how to add a new subscription via the Azure Plan.

I wish this was the first article that comes up when searching for how to add a sub with an Azure plan... or maybe there is a direct link from the partner center!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-11-23 01:55] jmprieur commented on #81709
The second point is addressed. The first will be addressed in the tutorial.
#please-close

[2021-11-23 01:55] #81709 closed

[2021-11-23 02:01] ShaikMaheer-MSFT commented on #84271
@GubanovSergey Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-11-23 02:07] fitzgeraldsteele commented on #84218
The main table has "max count with availability guarantees". That is correct:
VMSS Flex: 1000
VMSS Uniform: 100
AvSets: 200

This is usually an important consideration for many workloads. We also want to help people consider VMSS Flex first

The 2nd table shows absolute maximums, which is also important but doesn't tell the whole story.
VMSS Flex: 1000
VMSS Uniform: 1000
AvSets: 200

Jerry
Steele

[2021-11-23 02:13] ChaitanyaNaykodi-MSFT commented on #84257
Hello @jgross1031
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-23 02:16] YuichiTorigoe opened #84285 "RHEL support for Share Disk"
[Enter feedback here]

The following is a description of this page.

==================

Azure shared disks are supported on:

SUSE SLE HA 15 SP1 and above
Ubuntu 18.04 and above
**RHEL developer preview on any RHEL 8 version**
Oracle Enterprise Linux

==================

Shared Disk is available for RHEL7 and RHEL8 (regular marketplace images)
So this description is misleading.

For example, Coul

[2021-11-23 02:19] ashwinder commented on #77681
Thanks for your feedback. We have updated our documentation.

[2021-11-23 02:51] jmprieur commented on #82316
I proposed a PR to fix the startup.

@marhyno : did you try to call the web API? Or use the client ID as a web app? Web APIs are not required to have redirect URIs?

[2021-11-23 02:54] jmprieur commented on #83742
#please-close as this is product issue (not a documentation issue)

[2021-11-23 02:54] #83742 closed

[2021-11-23 03:02] BharathNimmala-MSFT commented on #84242
@DavideDelVecchio Thanks a lot for bringing this to our notice, assigned this issue to our document author @TheovanKraay to further review the feedback and update the document accordingly.

[2021-11-23 03:07] SumanthMarigowda commented on #83901
@bobhuang1 Firstly apologies for delay in responding here!
If you’re using an Azure project such as a project for Azure Functions, Azurite is automatically installed and then it is started. You can see this happening in the output window after creating the project.

When the developer wants to run the project, they just set their configuration to “Release” instead of “Debug”. Then, they can run th

[2021-11-23 03:07] #83901 closed

[2021-11-23 03:25] PramodValavala-MSFT commented on #84258
@hf-kklein Unfortunately, there is no way to handle such exceptions when using bindings. The alternative would be to use the Table Storage SDK directly in your code.

If you intention is to wait for a while to have the row available, then you could leverage [retry policies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policies-preview) to

[2021-11-23 03:30] MayankBargali-MSFT commented on #84247
@vspandey Thank you for reaching out. Can you please share the document link that you are referring/following up?

[2021-11-23 03:33] PramodValavala-MSFT commented on #84274
@austinheinrichs Looks like this is a rather [new feature](https://github.com/dotliquid/dotliquid/pull/450) and as this page documents, the current version of the library being used is v2.0.361.

Feel free to [open a feature request](http://feedback.azure.com/) to include support for the version that supports this.

[2021-11-23 03:34] MayankBargali-MSFT commented on #84253
@Darryl-G Thank you for your feedback! We will review and update as appropriate.

[2021-11-23 03:44] ram-msft commented on #84067
@chyphen7 Thanks, Please try with the following code, will update the document.

[code]

[2021-11-23 03:46] SumanthMarigowda commented on #83904
@J-Fedor  Firstly apologies for the delay response! I am checking with the product team! In meanwhile you may refer to this suggestion  About the best performance settings. You can run “azcopy bench” and it will tell you what the optimal numbers for the various settings are given your setup.

Optimize the performance of AzCopy with Azure Storage:https://docs.microsoft.com/en-us/azure/storage/commo

[2021-11-23 03:46] MayankBargali-MSFT commented on #84264
@alexjhart Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-23 03:46] PramodValavala-MSFT commented on #84279
@drdamour Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly with more examples.

We will work up a PR to update the configuration table to clearly state that binding expressions are supported as well.

No. It's correct. Each binding has metadata that is exposed for binding expressions. [For Queue Storage](https://docs.microsoft.com/en-us/az

[2021-11-23 03:47] likebupt commented on #82242
#please-close

[2021-11-23 03:47] #82242 closed

[2021-11-23 03:49] mbarsott opened #84286 "The application has an error"
Out of the box, when I log in with my Google account, I get an error page with this message "Processing of the HTTP request resulted in an exception. Please see the HTTP response returned by the 'Response' property of this exception for details.".

When I open developer tools to see the response, it is a 302 (redirected). Even if I clear the cache and try clicking Sign Up again, I go directly to t

[2021-11-23 03:50] Ke403 commented on #82242
STOP

On Mon, Nov 22, 2021, 9:48 PM PRMerger7 ***@***.***> wrote:

[2021-11-23 04:01] J-Fedor commented on #83904
Not applicable for storage-to-storage, that's more for to/from the machine and storage.

John Fedor
Principal Architect
Direct:
Support Desk
630.592.6240
630.592.6260
visit peters.com today!
​Stay up-to-date and follow us on social media!
Don’t be a Turkey this Thanksgiving! Attend our Microsoft 365 Security workshop.
The information transmitted is intended only for the person or entity to which i

[2021-11-23 04:11] CHEEKATLAPRADEEP-MSFT commented on #84062
@isdataninja Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/180805](https://github.com/MicrosoftDocs/azure-docs-pr/pull/180805)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-11-23 04:24] AshokPeddakotla-MSFT commented on #84282
[@eedorenko](https://github.com/eedorenko) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-23 04:30] markjbrown commented on #80913
In each region writes are local local majority so three out of four for each region need to commit and ack.

[2021-11-23 04:30] BhargaviAnnadevara-MSFT commented on #84267
@KungFuryKeyboard Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-11-23 04:31] markjbrown commented on #83980
#please-close

[2021-11-23 04:31] #83980 closed

[2021-11-23 04:42] amanmcse commented on #84286
@mbarsott Thank you for your feedback. We will investigate and update the thread further.

[2021-11-23 04:51] KrishnaG-MSFT commented on #84270
@josedanielr07350 Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-23 05:03] PramodValavala-MSFT commented on #83459
@WillParry That is all right. We can continue our discussion here. I will reopen this issue.

[2021-11-23 05:05] davepile opened #84287 "Excellent tutorial"
Thank you so much for a tutorial that is simple to set up, easy to follow and most of all works!

Great job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-6883-51a9-fed7-01be62302483
* Content: [Tutorial: Create a JavaScript single-page app that u

[2021-11-23 05:05] KrishnaG-MSFT commented on #84283
Hi @crshovrd41, Thanks for reaching out and glad to know that [this](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/create-subscription) Azure document was able to help you.

But [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product i

[2021-11-23 05:05] #84283 closed

[2021-11-23 05:12] amanmcse commented on #83658
@bz-wow In C#, array initialization happens during runtime and "const" expects the value to be evaluated at compile time ... Replacing the "const" by "readonly" should eliminate the error in editor. Optionally, you can use "static readonly" instead of "const" to create a single instance of a string(Since each request gets a fresh controller instance in MVC)).
I will raise a PR to update the docume

[2021-11-23 05:12] #83658 closed

[2021-11-23 05:19] amanmcse commented on #84286
@mbarsott Do you experience the same behavior when using the Run Now endpoint? Do you encounter this error with any other IDP like Facebook or Microsoft Account? Have you [captured any logs using application insights ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/troubleshoot-with-application-insights?pivots=b2c-custom-policy)to investigate the issue?

[2021-11-23 05:20] PramodValavala-MSFT commented on #83459
@WillParry The effective policy is the order in which policies are executed. So in your case, the first `ip-filter` policy rejects the request before proceeding further.

So, having both in your case would never be an option since you don't have any overlapping IPs apart from `100.200.200.5` and `100.210.200.5`.

To have both, you would want to have a wider if not equal range setup in the product

[2021-11-23 05:21] MayankBargali-MSFT commented on #84261
@mattKorwel Thank you for your feedback! We will review and update as appropriate.

[2021-11-23 05:22] KalyanChanumolu-MSFT commented on #84058
@blomm This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-23 05:23] MayankBargali-MSFT commented on #84262
@johnfriedrich Thank you for your feedback! We will review and update as appropriate.

[2021-11-23 05:25] MayankBargali-MSFT commented on #84273
@SidneyPhoon Thank you for your feedback! We will review and update as appropriate.

[2021-11-23 05:27] KalyanChanumolu-MSFT commented on #84211
@varunrai Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-23 05:31] chyphen7 commented on #84067
Thanks for your suggestion.  It works.

On Mon, Nov 22, 2021 at 9:44 PM Ram ***@***.***> wrote:

[2021-11-23 05:55] rwike77 commented on #77965
@ZachEdwards7  Hi, it's been a little while but I did some follow up internally.  Yes, there is a servicePrincipalType of SocialIdp, but it is actually for internal use only and is meant to be used in external apps.    As documented here:  [servicePrincipal resource type](https://docs.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0).  Hope that helps.

[2021-11-23 06:05] RohitMungi-MSFT commented on #83994
@cjgronlund The current development status of the package is still listed as 3-Alpha on pypi [repo](https://pypi.org/project/azureml-contrib-services/#history).
I think the guidance will be updated after it moves to "5 - Production/Stable", @cjgronlund FYI.

[2021-11-23 06:09] ShaikMaheer-MSFT commented on #84281
@pnarsi Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2021-11-23 06:12] eosfor opened #84288 "ACU values"
Hello colleagues,

Seems like ACU is missing for these sizes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88d7c5fb-3196-4bb8-1141-76f6b15a673c
* Version Independent ID: 18571a8a-502b-22d0-6025-b32918a31af2
* Content: [Ev5 and Esv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machine

[2021-11-23 06:15] SumanthMarigowda commented on #46126
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-23 06:17] SumanthMarigowda commented on #84285
@YuichiTorigoe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-23 06:26] mike-urnun-msft commented on #83719
Hello @FrankAlberto - Sorry for the late reply. I've gone through the section regarding the `function.proj` file and validated that there are no faulty steps. If you're still hitting the same error when attempting to install the Azure Identity and KeyVault packages, please re-post on [MS Q&A](https://docs.microsoft.com/en-us/answers/index.html) channel instead and we'd be happy to assist you there

[2021-11-23 06:26] #83719 closed

[2021-11-23 06:28] VikasPullagura-MSFT commented on #84288
@eosfor
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-23 06:29] VikasPullagura-MSFT commented on #84288
@Styli365
Can you please check and add your comments on this doc update request as applicable.

[2021-11-23 06:29] Styli365 commented on #84288
Those values are coming and will be added once ready. Thank you.
________________________________
From: VikasPullagura-MSFT ***@***.***>
Sent: Monday, November 22, 2021 10:29:05 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Styli Tsinaroglou ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] ACU values (Issue #84288)

@eosfor<https://nam06.safelinks.protection.outlook.co

[2021-11-23 06:45] GitaraniSharma-MSFT commented on #83960
@hyparki , We have assigned this issue to the respective product owner for review.

@mohnader , Could you please provide your insights here?

[2021-11-23 06:48] mike-urnun-msft commented on #83922
Hello @Ozzian - Sorry for the late reply. JWT object is derived from the context variable, please review: https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions#ContextVariables

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-11-23 06:48] #83922 closed

[2021-11-23 06:48] GitaraniSharma-MSFT commented on #84003
@taminta , We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , could you please help correcting the Japanese doc as requested?

[2021-11-23 06:53] jcsfp opened #84289 "No any comments about WHY samAccountName need to be synced"
[Enter feedback here]
samAccountName is listed as required under Microsoft 365 Apps for enterprise without any comments, why this legacy on-premise AD attribute is required in cloud world? Because been challenged by internal auditing team, I opened several cases to Microsoft to identify why this attribute is required, but no luck.

The feed back from office team is "Confirmed that this attribute b

[2021-11-23 06:58] Ozzian commented on #83922
Thank you! Perhaps a good idea to link this to the documentation where the policies are too?

[2021-11-23 07:00] hf-kklein commented on #84258
Thanks for the info. Was actually hoping for something like `None` instead of the json string row to be passed to the function. Thanks also for pointing out to the "real" SDK. I'll keep that in mind.

[2021-11-23 07:00] #82316 closed

[2021-11-23 07:00] hf-kklein commented on #84258
Anyways, could you maybe add a sentence to the documentation such that this constraint is clear to the reader?

[2021-11-23 07:04] jmprieur commented on #82406
Fixed #please-close

[2021-11-23 07:04] #82406 closed

[2021-11-23 07:13] shashishailaj commented on #84287
@davepile Thank you for the kind words. The great documentation has been a contiguous effort from the content team and our customers like you who have provided suggestions and feedback . We will surely take the kudos to our Content team . If you require any help on the docs , please do let us know and we will be happy to help .

Thank you.

[2021-11-23 07:17] shashishailaj commented on #84289
@jcsfp Thank you for your feedback . We will check this internally with the engineering team and provide clarifications.

[2021-11-23 07:20] aleksandar-miraclemill commented on #84233
It was the region! Thank you @artur-tolstenco.
The region of my Storage Account was North Europe (on the list of supported) but strangely didn't worked. I created new Storage Account in France Central and works well.

[2021-11-23 07:22] hf-kklein commented on #84258
I created a PR for this case: https://github.com/MicrosoftDocs/azure-docs/pull/84290

[2021-11-23 07:39] FrankAlberto commented on #83719
Hello @mike-urnun-msft! Thanks for the response! I just copy and paste the example in the docs and gave me the error. I post here because I follow a link through the error or the docs. I change the Azure Function to a Docker Azure Function instead.
Thank you very much for the reply.

[2021-11-23 07:40] AIGARSJ opened #84291 "Create peering using Resource Manager template failed"
Getting this error when creating peering using Resource Manager template, even with Owner role at Subscription level.
Status Message: The client has permission to perform action 'Microsoft.Network/virtualNetworks/peer/action' on scope '/subscriptions//resourcegroups//providers/Microsoft.Network/virtualNetworks//virtualNetworkPeerings/', however the current tenant '' is not authorized to access lin

[2021-11-23 07:45] allanalewis opened #84292 "Correction related to ZRS support for managed disk s"
Managed disks now support ZRS. https://docs.microsoft.com/en-us/azure/virtual-machines/disks-redundancy#zone-redundant-storage-for-managed-disks

Hence the following statements in this document, needs to be corrected

"Neither managed nor unmanaged disks support ZRS "
"Storage accounts that contain Azure managed disks for virtual machines always use LRS. "

---
#### Document Details

⚠ *Do not edi

[2021-11-23 07:48] nicemilio opened #84293 "Note and reference to limitations of external tables"
Dear MDSN-Team,

I was trying to work with your new feature for external tables but i ran into a problem where everytime I set a parameter before performing the execute command I get an error, because ODBC is trying to run a cursor over the external table. Over an external source I found out that it is not possible to run some special cursors over an external table. Could you include those (and ma

[2021-11-23 08:04] henrymbuguakiarie commented on #81296
#please-close

[2021-11-23 08:04] #81296 closed

[2021-11-23 08:40] livebase opened #84294 "Only the IoTHub Device Client Sample app exists in the GitHub repository"
[Enter feedback here]
The IoTHub Service Client Sample app does not exist in the GitHub repository.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6bc4fa-3dde-5d65-82a2-f96da962bc16
* Version Independent ID: 8faa4629-38be-408f-a736-2ce5bdece3e5
* Content: [Cloud-to-device messages with Azure IoT Hub (iOS)](https://do

[2021-11-23 08:53] jurjenoskam opened #84296 "This page incorrectly states that Data Factory v2 does not support User Assigned Managed Identities"
This page states that Azure Data Factory v2 does not support User Assigned Managed Identities, but according to the Data Factory documentation these *are* supported; see https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity?tabs=data-factory#user-assigned-managed-identity and https://docs.microsoft.com/en-us/azure/data-factory/credentials?tabs=data-factory

The Azure Po

[2021-11-23 08:56] ShaikMaheer-MSFT commented on #84271
@vvasic-msft Requesting to validate customer feedback and update document as appropriate. Thank you.

[2021-11-23 09:16] SadiqhAhmed-MSFT commented on #84065
@sideeksh Could you please comment on the query?

[2021-11-23 09:19] SadiqhAhmed-MSFT commented on #84033
@Sharmistha-Rai Please comment on the query above.

[2021-11-23 09:26] anrub opened #84297 "Important block references archived github repository"
The "Important" block on top of the page references to an archived github repository

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b33b5
* Version Independent ID: df5d92c4-217b-aa4c-ba21-141850548e4a
* Content: [Tutorial - Use Docker Compose to deploy multi-container group - Azure Contai

[2021-11-23 09:29] yansyunchen opened #84298 "How to remove -SkipCACheck or use other parameter?"
Hi,
I have a question is about the following command in this MS Doc, "-SkipCACheck":
Invoke-Command -ComputerName $HybridEndpoint `
               -Credential $Credential `
               -Port 5986 `
               -UseSSL `
               -ScriptBlock $Script `
               -ArgumentList "*" `
               -SessionOption (New-PSSessionOption -SkipCACheck)

Is there any other way to remove "-

[2021-11-23 09:38] yansyunchen commented on #84298
When I didn't set up "-SkipCACheck" parameter:
It will show the following error message:
<img width="625" alt="image" src="https://user-images.githubusercontent.com/15064864/143001062-dc039396-bc20-46e6-bb4c-2ed1746ba3e2.png">

[2021-11-23 09:44] AshokPeddakotla-MSFT commented on #83531
@JesvinJoseph Thanks for an update. As mentioned, our team is working on a fix. @arduppal please look into this feedback and provide your further suggestions.

[2021-11-23 09:56] AshokPeddakotla-MSFT commented on #84294
[@livebase](https://github.com/livebase) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-23 10:10] MayankBargali-MSFT commented on #84277
@jdthorpe Thank you for your feedback! We will review and update as appropriate.

[2021-11-23 10:11] barisengez commented on #15515
hi @YutongTie-MSFT , did checking internally surfaced any plans? this part is quite crucial for our design phase where will decide our vendors so wanted to check as some time has passed since the last message.

[2021-11-23 10:23] bozenektoja opened #84299 "Missing info on Whiteboard dependency on MS Teams"
[Enter feedback here]

Hello,

Please insert the information about Whiteboard dependency on Microsoft Teams.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7834fc25-6e4d-1a00-e9d3-949928ccb94b
* Version Independent ID: 23e71a83-28ea-da6f-0e3e-cda56a320358
* Content: [Conditional Access service dependencies - Azure Activ

[2021-11-23 10:37] GitaraniSharma-MSFT commented on #84291
@AIGARSJ , thank you for your query. May I know if the 2 subscriptions are associated with different Azure Active Directory tenants?

If yes, did you complete the below mentioned in the beginning of the doc:

![image](https://user-images.githubusercontent.com/67630903/143009276-f786d55f-5e3f-4121-bdd8-29688d48ac07.png)

[2021-11-23 10:39] hermandr commented on #82242
Thank you for responding.
Python custom model in designer creates a model output.
Execute python script does not product a model.
So how to use it for xgboost model?

Documentation is not stated anywhere?

Herman

On Thu, 18 Nov 2021 at 1:41 PM, Blanca Li ***@***.***> wrote:

[2021-11-23 10:55] AIGARSJ commented on #84291
Yes, 2 subscription are associated with different Azure Active Directory tenants.
User created in one Azure AD tenant and added as guest in another Azure AD tenant, so user can access both tenants with single identity. I can create peering between 2 subscriptions associated with different Azure AD tenants when I use Azure Portal and single user account. But can't achieve same thing with Resource M

[2021-11-23 11:04] bozenektoja commented on #84299
BTW there is a ticket number that my customer raised for this very case: 28300191

[2021-11-23 11:07] Robbertbbb opened #84300 "psql script is missing end of loop at the end:"
psql script is missing end of loop at the end:
$do$;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b68d4927-eebf-3cb9-c36d-7eb81e1afa7b
* Version Independent ID: a97afc80-01bd-2206-e2a0-007d4acc9642
* Content: [About Azure Database for PostgreSQL backup - Azure Backup](https://docs.microsoft.com/en-us/azure/backup/bac

[2021-11-23 11:20] idg10 commented on #83901
This is unhelpful. What if I want to run a Test Project that exercises code that uses Azure Storage? Visual Studio fails to recognize this as "an Azure project" so it does not automatically start Azurite.

There doesn't appear to be any documented way either to tell VS that my project needs Azure Storage emulation to be available, nor to start the emulator manually.

It's not true to say **There i

[2021-11-23 11:39] KrishnaG-MSFT commented on #84300
@Robbertbbb Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-23 11:41] JPMarais-Inscorep opened #84302 "Error in code ample"
The following code sample contains an error when referencing the `customSchema` variable:

[code]

It should be as follows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29ae0a5-bdf3-7217-27ad-517af8c8e7e5
* Version Independent ID: 57139651-a482-7adc-ed0e-f401da63ef9f
* Content: [Quickstart - Manage data with

[2021-11-23 11:58] ram-msft commented on #84067
Thanks, Raise pull request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/180821 for the document update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-23 11:58] #84067 closed

[2021-11-23 12:10] austinheinrichs commented on #84274
@PramodValavala-MSFT thank you for looking into this.  I opened a new feature request - https://feedback.azure.com/d365community/idea/0c17d847-564c-ec11-a81a-6045bd78b970

[2021-11-23 12:10] #84274 closed

[2021-11-23 12:11] JaimieWi commented on #84000
Hi, That's not entirely clear. There is a duplicate of 'parse' and it's description. The top occurrence takes you to the 'New branch' link - but this is already in the table.

The first or last 'parse' should be removed OR renamed / take you to the correct link
[https://docs.microsoft.com/en-us/azure/data-factory/data-flow-transformation-overview](url)

[2021-11-23 12:17] Leonardo-Ferreira opened #84304 "No limit for Standard?"
![image](https://user-images.githubusercontent.com/5585339/142912246-03e5092e-686e-4cf4-9826-dc952dbfa92b.png)
Given that:

- the intake rate limit is 1 MB/sec
- Retention can be set up to 7 days

Does that mean that the maximum volume retention for the standard tier is around 590 GB per CU?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-11-23 12:33] JesvinJoseph commented on #83531
@AshokPeddakotla-MSFT will wait till a new image become available

[2021-11-23 12:35] pvrk commented on #83990
@pravinkpatil : We are currently planning to do a sanity test and support Rev 55 by end of Dec, 2021. And just as a principle, major testing is required for major revisions but minor revisions should ideally work as-is.

[2021-11-23 12:53] SnehaAgrawal-MSFT commented on #84158
@anrub Thanks again for asking question! Our product engineering team is actively working on but we do not have an ETA to share at this moment.

[2021-11-23 12:53] #84158 closed

[2021-11-23 13:02] angoo-atea opened #84306 "Screenshots/instructions are out of date"
The screenshots and instructions on this article are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24bcff03-df42-63df-8388-d0977079ed48
* Version Independent ID: aa02a115-8fcd-64d0-0efc-3bd65968be8b
* Content: [Quickstart - Create an Azure Storage table in the Azure portal](https://docs.microsoft.com/en-u

[2021-11-23 13:05] pvrk commented on #83990
Closing this issue since the plan is shared.
#please-close

[2021-11-23 13:05] #83990 closed

[2021-11-23 13:39] ViralRana opened #84308 "Update the document"
[Add more context on how to create/manage rules programmatically. Also update the old screenshots.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b4ec3e-3d82-258b-2038-2990c9f24479
* Version Independent ID: 6c0a6b2e-3b3a-bbd4-8262-fe2c82bd9402
* Content: [Configure IP firewall rules - Azure Synapse Analytics](https:

[2021-11-23 13:49] shashishailaj commented on #84299
@bozenektoja Thank you for your feedback . We will get this checked and update the thread.

[2021-11-23 13:50] shashishailaj commented on #84296
@jurjenoskam Thank you for pointing this out . We will have this reviewed by the content team and updated as necessary  .

[2021-11-23 14:05] YutongTie-MSFT commented on #84117
@pnarsi Thanks again for reaching out to us, I have assigned this issue to author @jpe316 for reviewing and necessary updating.

[2021-11-23 14:05] GubanovSergey opened #84310 "Multiple series do not work"
This in the tutorial

This time, we want to highlight the number of taxi rides during public holidays. For that purpose, we choose none for the Category column and rides_per_day and holiday as the Legend (series) columns.
<
does not work

Whether I tick holiday in the Legend (series) column or not it is still only rides_per_day in the legend and graph does not change as well (no columns become bla

[2021-11-23 14:18] MonikaReddy-MSFT commented on #84153
@sitaramaprasad-e - yeah please sure raise your issue in Microsoft Q&A forum or Stack Overflow. Thank you.

[2021-11-23 14:35] CHDAFNI-MSFT commented on #82215
@tfitzmac - so to summarize and make sure I'm understanding this (and I may make a PR document suggestion afterwards if correct)... the air-gapped method puts the bicep install location in the expected path as if Azure CLI installed/managed it. The manual method is independent of and not associated by default with the Azure CLI installed/managed instance of Bicep.

[2021-11-23 14:42] GitaraniSharma-MSFT commented on #84291
@AIGARSJ , let me check on this and get back to you.

[2021-11-23 14:51] tfitzmac commented on #84199
@chaisen2006 - I just want to double-check about your scenario. Azure Resource Mover is for moving resources to a new region; whereas, this article is about moving to a new resource group or subscription but keeping the region the same. Which type of move are you attempting?

[2021-11-23 15:08] becke-ch-s0-v1 opened #84311 "Which API supports which Authentication Mechanism?"
Looking at the description in: https://docs.microsoft.com/en-us/azure/cosmos-db/database-security
It is not clear which API: Core(SQL) API, API for MongoDB, Cassandra API, Gremlin API, Table API
Supports which authentication mechanism: Primary/Secondary Key, Resource Token, Active Directory
Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-11-23 15:09] dvansteenburg opened #84312 "Linked Servers back to self"
With a Server Trust Group, is there a limitation with creating a Linked Server which points back to the hosting SQL Managed managed instance?

For example... I log onto my server "sqlmi-myself.3209afed984c.database.windows.net" and create the linked server "BackToMe" like below...
[code]
When I try to use the linked server, I am getting an error stating that the server is not part of the Server Tr

[2021-11-23 15:12] GitaraniSharma-MSFT commented on #84154
@laserprec , I setup a lab on this scenario and created a Vnet-to-Vnet connection between 2 Vnets from different subscriptions and was able to ping/RDP into VMs of the connected Vnets from each other without enabling BGP.

I would advise you to disable BGP and check your setup again.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will

[2021-11-23 15:12] #84154 closed

[2021-11-23 15:19] GitaraniSharma-MSFT commented on #83944
@simonkurtz-MSFT , We have assigned this issue to the respective product owner for review.

@azhar2005 , Could you please provide your insights here?

[2021-11-23 15:21] MichielCornilleKenze opened #84313 "Documentation does not reflect breaking changes to az ad sp create-for-rbac"
The examples for creating service principal and querying them in one go work only for password. When you want to  use the next documented query to query the password the cli throws an error message (because the --name does not set the identifier urls anymore.

![image](https://user-images.githubusercontent.com/94917982/143051804-37f54d5c-32fd-47b2-a970-08f75f8e3447.png)

---
#### Document Details

[2021-11-23 15:43] Grace-MacJones-MSFT commented on #84292
Thanks for your feedback! We will review and update this doc accordingly.

[2021-11-23 15:44] Grace-MacJones-MSFT commented on #84293
Hi @nicemilio, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-23 15:45] haciz commented on #33157
Am experiencing the same issue, i will try to read all the comments here and see if something will help. On a side note am using Terraform to deploy application gateway v2, key vault, keyvault ceriticate, keyvault secret and managed identity that is used to access keyvault.

[2021-11-23 15:47] Grace-MacJones-MSFT commented on #84310
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-23 15:48] PramodValavala-MSFT commented on #84298
@yansyunchen the error is because the doc walks through the steps using a self-signed certificate. If you are using a certificate that is generated from a Custom CA and it is setup as a trusted root, then you don't need the parameter anymore.

[2021-11-23 15:50] PramodValavala-MSFT commented on #83871
@CloudDevDan Just following up here... Could you double check the source URL, run apt update, and try installing again?

[2021-11-23 15:50] PramodValavala-MSFT commented on #84150
@safouenmzah Just following up here... Hope my previous comment clears things up.

[2021-11-23 15:52] PramodValavala-MSFT commented on #84258
@hf-kklein Thanks for the PR! We have assigned this issue to the content author to review and update accordingly.

[2021-11-23 16:07] ShaikMaheer-MSFT commented on #84308
@ViralRana Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-11-23 16:21] kobulloc-MSFT commented on #84313
@MichielCornilleKenze Thank you for bringing this to our attention!  We will review this and get back to you shortly.

[2021-11-23 16:25] MonikaReddy-MSFT commented on #84050
@peter-bertok  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2021-11-23 16:38] stevemunk commented on #74516
@halter73 I added an example to [azure-maps-authentication](https://docs.microsoft.com/en-us/azure/azure-maps/azure-maps-authentication)

[2021-11-23 16:39] v-jreyescarm opened #84316 "PHP (Laravel) setup with App Services tutorial is misleading / incomplete"
This tutorial leads the customer to create an Azure Flexible SQL server, a Linux App Service Plan, and a PHP Linux App Service, then deploy a sample Laravel PHP App Service linked to the Azure SQL server.

There's an issue when creating the App Service. This tutorial prompts the user to create the App Service from a blessed PHP image, by running this command:

`az webapp create --resource-group my

[2021-11-23 16:40] aujla0991 opened #84317 "Document: Broken Link Bicep playground"
[Enter feedback here]

Broken Link for the "Bicep playground"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52b19fce-dfd5-f3b0-0974-fda218ed4c70
* Version Independent ID: e28ee608-7955-b12f-ff4d-b4aac66c6979
* Content: [Decompile ARM template JSON to Bicep - Azure Resource Manager](https://docs.microsoft.com/en-us/azu

[2021-11-23 16:44] GeethaThatipatri-MSFT commented on #84302
@JPMarais-Inscorep Thanks for reaching out, We will Investigate and update you shortly

[2021-11-23 16:49] mumian commented on #84317
@aujla0991 - thank you for reporting the issue.  The broken link has been removed.  You can use the Bicep tool to decompile a JSON template.

#please-close

[2021-11-23 16:49] #84317 closed

[2021-11-23 16:50] mikeblakeuk opened #84318 "Check the wording for tenantId vs tenantIdDomain"
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#identifieruris-attribute
[code]
Please check tenantId wording. I would have expected

`https://<tenantIdDomain>.onmicrosoft.com/<string> | https://contoso.onmicrosoft.com/productsapi`
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-11-23 17:03] shadowkiller3 commented on #35432
@pwebendorfer I had the same error. You need to add the application identifier as the Entity ID on the SSO settings on Azure.

[2021-11-23 17:19] brianlehr commented on #84084
Hello @sylvia0409 , and thanks for your feedback.

The error you are receiving is not related to the specific command; rather, it appears related to the Constrained Language Mode on PowerShell.  You may want to look into information here: https://devblogs.microsoft.com/powershell/powershell-constrained-language-mode/ and/or attempt the command in Azure Cloud Shell.

Will close this issue as the do

[2021-11-23 17:19] brianlehr commented on #84084
#please-close

[2021-11-23 17:19] #84084 closed

[2021-11-23 17:22] ivangeorgiev commented on #83517
I am facing the same issue and do not think it is a documentation issue. When I tried to generate token with requested audience from the exception some features work, but some still fail. In my case I was trying to create Key Vault backed secret scope.

Seems like token for 2ff814a6-3304-4ab8-85cb-cd0e6f879c1d is required to access Databricks API, but to perform actions like creating secret scope

[2021-11-23 17:25] Christian-e-S opened #84320 "Ist it possible to set the ServiceBusMessage.Subject Property"
I need to collect events from different sources (e.g., IoT hub and Custom Event Grid) and process them in a on-premise application.

To preserve the temporal order (the order in which they were enqueued in the service bus), I want to send them to the same Service Bus Topic.

Since, I have to handle messages originating from different sources differently (e.g., IoT hub device-to-cloud messages, IoT

[2021-11-23 17:27] MartinJaffer-MSFT commented on #83532
Since I have been unable to help you, I will give you a 1-time free support ticket, @JesvinJoseph .  This will enable access to better assistance.

For this I will need your subscription ID.  Please email it to me, along with this page URL, at AzCommunity@Microsoft.com
you can put my name in the subject like for easier sorting.

[2021-11-23 17:27] #83532 closed

[2021-11-23 17:31] Morgma commented on #84274
@PramodValavala-MSFT is the source built-in action for DotLiquid available? I'd like to just clone it and upgrade the library in a private NuGet.

[2021-11-23 17:37] RyanHill-MSFT commented on #83970
Closing this issue as it's being mitigated in microsoft/vscode-azurefunctions#3002.

[2021-11-23 17:37] #83970 closed

[2021-11-23 17:39] MartinJaffer-MSFT commented on #84126
@minnieshi what is your level of access?
If you are not an administrator, then you would not be able to make someone else an administrator.

[2021-11-23 17:41] Christian-e-S opened #84322 "Can the ServiceBusMessage.Subject property be set for a Custom Service Bus endpoint?"
I need to collect events from different sources (e.g., IoT hub and Custom Event Grid) and process them in a on-premise application.

To preserve the temporal order (the order in which they were enqueued in the service bus), I want to send them to the same Service Bus Topic.

Since, I have to handle messages originating from different sources differently (e.g., IoT hub device-to-cloud messages, IoT

[2021-11-23 17:51] HitenBhavsarMSFT opened #84323 "Synapse Workspace Permission Error:"
After step 3, you have to add the permission, step is missing. found the steps on the tech community.
https://techcommunity.microsoft.com/t5/azure-synapse-analytics/synapse-workspace-permission-error/ba-p/1358045

In the event that you created the workspace via ARM template please follow the guidelines as documented here. The instructions will guide you through granting Storage Blob permissions fo

[2021-11-23 18:06] DougAtClir opened #84324 "I could not find anything on the IoT Portal similar to the documentation to check a device status."
I could not find anything on the IoT Portal similar to the documentation to check a device status.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65aaa6-995a-f041-8dcf-05dcfcf8320d
* Version Independent ID: 97e76d87-bd6b-8238-1534-881d5e8bf486
* Content: [Connect an MXCHIP AZ3166 to Azure IoT Central quickstart](http

[2021-11-23 18:08] robinmanuelthiel opened #84325 "Document all `configuration-settings` for Azure Arc Extension"
Especially for deploying into non-AKS clusters (which should be the default case), we need additional `configuration-settings` like `loadBalancerIp`, which is not included in the table. You should either document all available options or link to a documentation where they can be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-11-23 18:12] kobulloc-MSFT commented on #84218
Thank you for the clarification, @fitzgeraldsteele!  @helderpinto We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-23 18:12] #84218 closed

[2021-11-23 18:19] MartinJaffer-MSFT commented on #84323
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-23 18:21] SaurabhSharma-MSFT commented on #84304
@Leonardo-Ferreira Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-23 18:26] QianqianNie commented on #82808
@yuharucan I am not able to repro the error you were getting from synapse pyspark pool notebook:
![image](https://user-images.githubusercontent.com/44004519/143082340-2a90b23a-f29e-45d1-a80a-f2f1ed39a1df.png)

The azureml-core package version i was trying is the latest 1.36.0, you can follow this doc to configure spark pool with the latest azureml package:
https://docs.microsoft.com/en-us/azure/sy

[2021-11-23 18:30] santypr opened #84326 "Code mistake in the samples"
In the step 4 of Reload data from App Configuration, there's one mistake in the code.

The semicolon at the end of the line when registering the Sentinel key, needs to be removed "refresh.Register("TestApp:Settings:Sentinel", refreshAll:true);"

Hope it could help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 729119d

[2021-11-23 18:43] zhenlan commented on #84326
Thanks for reporting the issue. It's fixed in #84327 if someone can merge the PR.

[2021-11-23 18:53] DerekHerman-MSFT commented on #84096
@Scottie2z
To further troubleshoot this, we're going to enable a free, one time technical support ticket. Please email the following to AzCommunity@microsoft.com and we'll get back to you promptly:
• Subject: "Attn: deherman - Expired CMK still working"
• Email body: Your Subscription ID
• Email body: A link to this thread so we can validate and expedite the request

If you don't receive a respons

[2021-11-23 18:53] #84096 closed

[2021-11-23 18:55] DerekHerman-MSFT commented on #84306
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-23 18:58] krisande23 opened #84329 "Default Parameter of 'None' not supported for compression in Binary Datasets (Azure Data Factory)"
https://stackoverflow.com/questions/70072465/setting-default-value-to-none-for-parameter-azure-data-factory?noredirect=1#comment123874873_70072465

Currently, trying to parameterize the 'Compression Type' and 'Compression Level' properities of a binary dataset causes an error (described in more detail at the link above)

The image below shows an example of how the design differs between a CSV data

[2021-11-23 19:06] JamesTran-MSFT commented on #84318
@mikeblakeuk
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-23 19:18] GeethaThatipatri-MSFT commented on #84311
@becke-ch-s0-v1 We are currently looking into this and will get back to you shortly.

[2021-11-23 19:20] bitswise opened #84331 "Outdated info on use of custom domains for OAuth 2.0 authorization endpoints?"
Hello,

It seems this following statement from this page https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens#request-a-token

"Custom domains are not supported for use with access tokens. Use your tenant-name.onmicrosoft.com domain in the request URL."

is in conflict with statements from this page, where it says the exact opposite that custom domains are in fact supported fo

[2021-11-23 19:39] miqm commented on #75134
@sumeetmittal we're closing to the end of H2CY2021, any update on the feature?

[2021-11-23 19:49] pwebendorfer commented on #35432
Thanks @shadowkiller3  - where can I find the application identifier?

[2021-11-23 19:58] MarileeTurscak-MSFT commented on #84331
@bitswise
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-23 20:01] RemusDutulescu commented on #42603
So currently there's no way to set rules for the rules engine on Verizon CDNs via ARM/Terraform?

[2021-11-23 20:05] WillParry commented on #83459
I see, so this isn’t clear from the documentation at all I don’t think. It would be great if it could be updated. Thanks for explaining how it works.

From: Pramod Valavala ***@***.***>
Sent: 23 November 2021 05:20
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: William Parry ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] IP filter applied on multiple scopes not working a

[2021-11-23 20:11] #82691 closed

[2021-11-23 20:11] #82693 closed

[2021-11-23 20:11] #82694 closed

[2021-11-23 20:11] #83240 closed

[2021-11-23 20:24] curtand commented on #82694
Hi @SychevIgor
Thanks for your contribution! I have several GitHub issues on this article that I'm now able to close. Your updates are to be published today at 3 PM PST.

[2021-11-23 20:25] curtand commented on #82693
Hi @SychevIgor
Thanks for your contribution! I have several GitHub issues on this article that I'm now able to close. Your updates are to be published today at 3 PM PST.

[2021-11-23 20:25] curtand commented on #83240
Hi @v-videba
Thanks for your contribution! I have several GitHub issues on this article that I'm now able to close. Your updates are to be published today at 3 PM PST.

[2021-11-23 20:26] curtand commented on #82691
Hi @SychevIgor
Thanks for your contribution! I have several GitHub issues on this article that I'm now able to close. Your updates are to be published today at 3 PM PST.

[2021-11-23 20:27] svrooij opened #84333 "Link to invalid domain, might lead to Microsoft impersonation or a creditable phishing attempt"
This pages shows an url in a title that is not Microsoft owned (and is actually running ads for management software).

Title: `Sign-In through Visual Studio - myvisualstudio.com/benefits` should be `Sign-In through Visual Studio - my.visualstudio.com/benefits`

![image](https://user-images.githubusercontent.com/1292510/143098580-7f7502e0-e4af-47f4-be55-040169134bcf.png)

---
#### Document Details

[2021-11-23 20:51] chaisen2006 commented on #84199
@tfitzmac : I called it  out in my first statement "I plan to move my Azure SQL PaaS from one to another subscription using resource mover." . Just to add to that it would in the same region under the same tenant. Its about moving from one subscription to another. thank you

[2021-11-23 21:03] Grace-MacJones-MSFT commented on #84316
Hi @v-jreyescarm,, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2021-11-23 21:10] James-Hamil-MSFT commented on #84278
Hi @cshea15 , I have reached out to the author about updating this. Thank you for bringing this to our attention.

Best,
James

[2021-11-23 21:10] #84278 closed

[2021-11-23 21:14] Grace-MacJones-MSFT commented on #84320
Hi @Christian-e-S , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-23 21:14] Grace-MacJones-MSFT commented on #84312
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-23 21:15] #82365 closed

[2021-11-23 21:16] curtand commented on #82365
Hi @bdiana17
Thanks for your contribution? I updated the article for Planner.

[2021-11-23 21:19] JamesTran-MSFT commented on #84318
@mikeblakeuk
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/143130680-a4e01fb5-433e-4525-bba1-003b9634e1db.png)

[2021-11-23 21:29] Grace-MacJones-MSFT commented on #84325
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-23 21:32] Grace-MacJones-MSFT commented on #84324
Hi @DougAtClir, can you please give us some  more infomation regarding your scenario so we know how best to assists you.
We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs.

[2021-11-23 21:40] ig-tr opened #84338 "disable Search for groups by Display Name or ObjectId"
[Enter feedback here]
Hello, i read doc, i want disable default permision: search all groups, for my members and guest users. How can it ? i not found about it on microsft docs

I think, good idea if you add against default permissions how restrict it. thnk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510faed7-b79d-b

[2021-11-23 21:42] Grace-MacJones-MSFT commented on #84007
Hi @VinnyBonner , Like @aaronpowell mentioned above could you raise this issue here: https://github.com/Azure/static-web-apps/issues so that the product team can follow with you ?

We will now proceed to close this thread. Thanks again for your feedback.

[2021-11-23 21:42] #84007 closed

[2021-11-23 22:06] McMatty opened #84340 "Require specific blob storage accounts"
When it comes to firewall access companies require something a bit more that *.blob as you are asking all blob storage accounts to be allowed access. Including malicious parties to allow data exfiltration. Can a more specific range be provided and if not why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e

[2021-11-23 22:18] Oury-MSFT commented on #84312
@dvansteenburg There is no limitation with creating a Linked Server which points back to the hosting SQL Managed managed instance?
The only limitations from server trust group are the below.
Group can contain only instances of Azure SQL Managed Instance.
Trust scope cannot be changed when a group is created or modified.
The name of the server trust group must be unique for its subscription, resour

[2021-11-23 22:24] sunilagarwal commented on #83963
good catch!! How is this 'The flexible server service automatically creates server backups and stores them on zone redundant (ZRS) storage within the region'

[2021-11-23 22:32] jasonzio opened #84341 "This page needs a grammar pass"
There are multiple grammatical problem on this page: subject/verb agreement issues, singular/plural mismatches, pronoun reference ambiguities, etc. These problems interfere with understanding the content itself. It would be considerably improved by an editorial pass.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb1d

[2021-11-23 22:37] v-gpettibone commented on #70815
#please-close

[2021-11-23 22:37] #70815 closed

[2021-11-23 22:44] kobulloc-MSFT commented on #84341
@jasonzio Thank you for the feedback!  I'll give this a pass and see what I can do to improve the grammar and make this easier to read.

[2021-11-23 23:04] MarileeTurscak-MSFT commented on #84338
@ig-tr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-23 23:14] kobulloc-MSFT commented on #84341
@jasonzio I see a number of opportunities where we can improve on the grammar issues you've pointed out and I'm putting together a draft.  The one thing I'm missing is the subject/verb agreement issues (I'd be tempted to look at [Azure managed disks](https://docs.microsoft.com/en-us/azure/virtual-machines/managed-disks-overview), but that should be correct in the context of the service name rather

[2021-11-23 23:30] rbywater commented on #83963
LGTM

[2021-11-23 23:56] MarileeTurscak-MSFT commented on #84338
Members can always view user and group lists, but you can disable this for guest users.

If you would like to request a way to change this permission, you can make a request in the new Ideas feedback forum. https://feedback.azure.com/

[2021-11-23 23:56] #84338 closed

[2021-11-24 00:06] kobulloc-MSFT commented on #84244
@Dmitry-Me Since the November Guest OS was just released, let's wait a week or two (given the holidays) for the documentation to reflect the recent changes.  We can reopen this if it's still outstanding at that time.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the con

[2021-11-24 00:06] #84244 closed

[2021-11-24 00:07] James-Hamil-MSFT commented on #84123
Hi @p0shkar , I have assigned this issue to the author so we can update the video. Thank you for bringing this to our attention.

Best,
James

[2021-11-24 00:10] James-Hamil-MSFT commented on #84100
Hi @capmgn , we recently launched our new User Voice platform here: https://feedback.azure.com/d365community . I do agree though that this link should be in the document. I'll reach out to the author about it.

I am going to close this issue out but if you have any questions please post back.

Best,
James

[2021-11-24 00:10] #84100 closed

[2021-11-24 00:31] JamesTran-MSFT commented on #84340
@McMatty
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-24 00:40] himanshusinha-msft commented on #84112
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/questions/ask.html)and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2021-11-24 00:40] #84112 closed

[2021-11-24 00:42] himanshusinha-msft commented on #84121
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-11-24 00:52] rwike77 commented on #84318
@mikeblakeuk  Thanks for pointing this out, I believe you are correct.  I'll update the article.

[2021-11-24 01:14] rwike77 commented on #84245
@benoittgt  Are you still having trouble with this? I thinkt there's a conflict between the AzureAD and AzureADPreview modules that comes up sometimes. Can you try uninstalling/re-installing the AzureAD module and then reinstalling AzureADPreview with the -allowclobber switch?  Is that what you tried already?

UnInstall-Module AzureAD

Install-Module AzureAD

Install-Module AzureADPreview -AllowCl

[2021-11-24 01:17] rwike77 commented on #84318
I just merged the updates you suggested, which should publish tomorrow.  Closing this issue, now.  Thanks again.  #please-close

[2021-11-24 01:17] #84318 closed

[2021-11-24 01:55] GeethaThatipatri-MSFT commented on #84254
@msangapu-msft can you please provide some clarification on the above query

[2021-11-24 03:01] kobulloc-MSFT commented on #84072
@bsaxbergMS Thank you again for bringing this to our attention!  It does look like the steps will need to be updated to match the new UI.

@cynthn The screenshot will need to be updated to the following, I'll get a PR out for the text update:

![image](https://user-images.githubusercontent.com/37556655/143163736-ffef537a-bf70-4050-b804-76be90cdb747.png)

[2021-11-24 03:46] BhargaviAnnadevara-MSFT commented on #84333
@svrooij Thank you very much for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2021-11-24 04:26] AshokPeddakotla-MSFT commented on #84322
[@Christian-e-S](https://github.com/Christian-e-S) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-24 04:53] VikasPullagura-MSFT commented on #84288
@Styli365 Thanks for the update.

@eosfor As mentioned by the document author, the document will be updated with the ACU values soon.

[2021-11-24 04:53] #84288 closed

[2021-11-24 05:14] bobhuang1 commented on #83901
I totally agree with @idg10 above! What @SumanthMarigowda described could only happen in an ideal world. In the real world, things are much complicated!

With Ian's info, I finally found azurite.exe on my community version of VS2022 and I can start it manually via command line:

`C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Azure Storage Emulator
`

I am

[2021-11-24 05:25] MayankBargali-MSFT commented on #84247
@vspandey Following up to see if you can share more details on the document that you are referring/following up so the right team can assist you.

[2021-11-24 05:35] v-hagamp commented on #83946
We are updating the document following with these changes, it will take 3-5 working days to merge the changes in to the article.
#please-close

[2021-11-24 05:35] #83946 closed

[2021-11-24 05:36] ShaikMaheer-MSFT commented on #84329
@krisande23 Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-11-24 05:39] ShaikMaheer-MSFT commented on #84281
@msmbaldwin Could you please validate customer ask and share details. Thank you.

[2021-11-24 05:51] ShaikMaheer-MSFT commented on #84308
@julieMSFT Requesting to validate customer feedback and update document as appropriate. Thank you.

[2021-11-24 05:57] sideeksh commented on #84065
Thanks for pointing this out. While Azure supports shared disks today, we do not yet have functionality to support disaster recovery of shared disks. That work is in progress. I will update the doc accordingly.

[2021-11-24 06:23] SnehaAgrawal-MSFT commented on #84081
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

@lainreza28 Since we did not here back from you, We will now close this issue but If there are any questions regarding this matter, please let us know.

[2021-11-24 06:23] #84081 closed

[2021-11-24 07:11] svrooij commented on #84333
Something similar is responded to almost every issue on the docs.

I don't want to give criminals a good idea, but it's not very hard to build a website trying to capture Azure AD credentials. And if it's linked from an official Microsoft Documentation page, they would get more credibility instantly.

Maybe this issue should be treated as if this was an actually phishing attempt, even though it's

[2021-11-24 07:18] rolandkru opened #84345 "Describe Batch functionalty"
The batch functionality is not well described. What happens if I receive a batch of 1000 messages and after processing 500 an exception is thrown? Are all messages going back to the queue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-68

[2021-11-24 07:30] v-hagamp commented on #82744
@fabscav,
We are acknowledging this issue on our side. We are already working on this issue and coming out with a  fix. This fix will not allow admins/customers to download the Certificate/Federation Metadata XML file without updating the URLs. In summary customers should be able to update the URLs or upload the Federation Metadata XML first and once they do that then only they can able to downloa

[2021-11-24 07:30] #82744 closed

[2021-11-24 07:30] xiongyu0523 opened #84346 "dmr-client is not compatible with .NET 6.0 as reported by customer"
dmr-client is not compatible with .NET 6.0 as reported by customer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45478e7-180a-0706-3286-926bb260edb3
* Version Independent ID: 363ccb19-d37c-e40d-8802-5aa792817c1a
* Content: [Understand concepts of the device models repository](https://docs.microsoft.com/en-us/azure/io

[2021-11-24 07:50] GregersSR opened #84347 "Looks like content is missing"
Doesn't really look production ready to me, looks like a template without content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc0759d-deb8-42b4-798c-770347ccb527
* Version Independent ID: 5846d3f2-0aa4-d4d4-7e1d-659477e722e2
* Content: [Azure security baseline for Azure Active Directory](https://docs.microsoft.com/

[2021-11-24 08:23] jonathan-martin-endava commented on #83544
Support ticket is #2111060050000127.

The documentation is technical worded correctly but it is also misleading for customers who plan to use RBAC permission model.

If a customer plans on using the RBAC permission model for the Key Vault IAM then I would think it fair to say that they would not except to also need to define the vault access policy as well [it is meant to be a either/or IAM model]

[2021-11-24 08:43] akrabat commented on #14254
What is the official channel for reporting the lack of linux/arm64 builds of the msodbcsql17 library and sqlcmd executable which are required for Docker on Apple Silicon Macs and other ARM platforms like AWS Graviton?

[2021-11-24 09:07] Sruinard opened #84348 "Inaccurate Documentation on WAF + Malware Detection"
In the documentation the following is stated:

Malware Defense
For more information, see the Azure Security Benchmark: Malware Defense.

8.1: Use centrally-managed anti-malware software
Guidance: Deploy Azure Web Application Firewall (WAF) v2 in front of critical web applications for additional inspection of incoming traffic. Web Application Firewall (WAF) is a service (feature of Azure Applicatio

[2021-11-24 09:21] m-soltani commented on #37163
Here is a complete solution for Frontdoor Certificate configuration based on @michaelelleby post:
[code]

[2021-11-24 09:34] spygi commented on #80913
Thank you for the answer! Just to confirm my understanding is correct, for strong consistency
- all regions need to confirm
- in each region, 3 out of 4 replicas need to confirm: the forwarder replica + 2 other replicas.

After the forwarder replica confirms, does this count as a confirmation for the whole region or Cosmos blocks until the other 2 replicas confirm as well?

Thanks again!

[2021-11-24 09:36] HarshitaSingh-MSFT commented on #84347
Hello @GregersSR , thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-11-24 09:37] nicolasmohamed commented on #83374
Hi I'm just getting a timeout every time I try to provision the dapr container app.

az containerapp update `
    --name daprhostcontainerapp `
    --resource-group CdrIdNewArch `
    --image cdrcontainerdev.azurecr.io/daprpochost `
    --registry-login-server cdrcontainerdev.azurecr.io `
    --registry-username cdrcontainerdev
    --registry-password <mypassword> `
    --target-port 3000 `
    --

[2021-11-24 09:41] yansyunchen commented on #84298
Hi, Pramod,
Thanks for your response. Is that possible set the self-signed in the function app as a trust CA?

[2021-11-24 09:43] CloudDevDan commented on #83871
Hey @PramodValavala-MSFT - all working now! Thanks so much.

[2021-11-24 10:26] myCD-SergioMP commented on #78420
Hi there is any update about this topic? We are facing the same issue and following the microsoft guide as well.

Thanks

[2021-11-24 10:45] IgnacioAlvarezArenas commented on #77931
is there any update on this? it has been a while and I have not seen such an update :)

[2021-11-24 10:55] PramodValavala-MSFT commented on #83871
@CloudDevDan Glad to hear that!

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-24 10:55] #83871 closed

[2021-11-24 10:57] PramodValavala-MSFT commented on #83459
@WillParry Glad I could help! The [policy docs](https://docs.microsoft.com/en-gb/azure/api-management/set-edit-policies#configure-scope) do call out the order in which policies are executed, and `ip-filter` doesn't affect the order in any way per se.

[2021-11-24 11:03] kristofferjalen opened #84351 "Documentation says naming conventation is both `access_as_user` and `Employees.Read.All`"
Documentation on [this page](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis) says:

Their example is `Employees.Read.All`.

Documentation on [this page](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#exposing-delegated-permissions-scopes) says:

Their example is `access_as_user`.

[2021-11-24 11:28] azaricstefan commented on #84310
Thanks for reporting this issue @GubanovSergey. This is most likely a bug in the charting feature.
Team is investigating this.

[2021-11-24 11:35] GitaraniSharma-MSFT commented on #84348
@Sruinard , thank you for your feedback. We have assigned this to the content owner/author for review.

@msmbaldwin , for your review.

[2021-11-24 11:55] jasonzio commented on #84341
I'm pretty sure that by "subject/verb disagreement" I meant that some of the references to managed disks used a singular noun and plural verb, or vice-versa. I'm happy to take a look at your draft to see if there are still places where the doc confuses or misleads.

From: kobulloc-MSFT ***@***.***>
Sent: Tuesday, November 23, 2021 3:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jason Zions *

[2021-11-24 12:03] alexandergray1973 opened #84352 "Incorrect format and properties referenced"
When you list the members of the AU, there is no property called "ObjectType" - there only appears "Id" (ObjectId of Group or User) and "OdataType", which does have different entries for groups and users, but these are in the form "#microsoft.graph.user"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82f06ce8-f9ef-7345

[2021-11-24 12:40] asergaz commented on #84324
Hello @DougAtClir , do you mean you can't complete this step? https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-devkit-mxchip-az3166#verify-the-device-status

![image](https://user-images.githubusercontent.com/22173500/143240289-a2c9f820-c1b6-4462-99f5-b04218b0e745.png)

FYI: @timlt

[2021-11-24 12:41] asergaz commented on #84324
........................

[2021-11-24 12:46] asergaz commented on #84346
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-24 12:47] asergaz commented on #84346
,.......................

[2021-11-24 12:53] ding1986 commented on #34828
+10

[2021-11-24 13:09] thanhnt commented on #35931
Hi all,

Do you know there is any update about this issue? Is it possible to use REST APIs to register CA Certificates with IOT Hub?

Thanks.

[2021-11-24 13:39] nicemilio commented on #84293
Hi @Grace-MacJones-MSFT,
thank you for fowarding my feedback.
Could you maybe direct me to someone who can help me with my problem ?

[2021-11-24 13:55] macsurferOhm opened #84353 "Is another new category for classroom types possible? Virtual labs with the digital twin"
Dear Contributers,

I am quite new to the Azure Lab Services but I am very excited about this concept.
My question:
Is there a possibility to add a new classroom type?

I am working at the university of applied sciences in Nuremberg, Germany and I am teaching the subject automation technology.
The practical parts of the subject are based on a simulation of a real machine, also know as digital twin

[2021-11-24 14:00] shashishailaj commented on #84351
@kristofferjalen Thank you for your query . We will investigate and update the thread.

[2021-11-24 14:01] shashishailaj commented on #84352
@alexandergray1973 Thank you for your query . We will investigate and update the thread.

[2021-11-24 14:18] Yuki-Nishio opened #84354 "Permission to view scan result is not correct"
There is the following description about the necessary permission to view scan result. However, I confirmed a user with the two roles was not able to do that and then got able to do by giving the user Security reader at resource group level. Could you correct this description?

------------------
Permissions
The following permissions are required to open links in email notifications about scan res

[2021-11-24 14:49] #84333 closed

[2021-11-24 14:59] SnehaAgrawal-MSFT commented on #83787
@mattdarwin Thanks again for asking question! Our product engineering team is actively working on Autoscaling feature but we do not have an ETA to share at this moment.  Right now, automated manual scale through metrics and Azure Powershell can be used as an alternative way.

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-11-24 14:59] #83787 closed

[2021-11-24 15:01] pumpkinclarinnet-MSFT commented on #82895
@JnHs  what do you mean by other methods?

[2021-11-24 15:07] GiftA-MSFT commented on #84249
@FrankVanEgmond are you able to post a request using the following pattern?

https://[custom domain]/translate?api-version=3.0

[2021-11-24 15:08] BhargaviAnnadevara-MSFT commented on #84267
@KungFuryKeyboard Thanks for reporting this issue and also creating the PR. I've requested a review from our Product group.
[This](https://github.com/staticwebdev/blazor-starter/pull/26) is indeed the right repo to track this issue. Please track further updates to this issue there.

[2021-11-24 15:08] #84267 closed

[2021-11-24 15:11] #84287 closed

[2021-11-24 15:14] jocarv-fte opened #84356 "disregard, open by mistake"
[Enter feedback here]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20453e6-5273-2119-69f7-85b5108a8f7d
* Version Independent ID: 4ac93e53-6969-4c8d-5b5c-0db47a8976ce
* Content: [Setting up Pacemaker on SLES in Azure - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-a

[2021-11-24 15:14] shashishailaj commented on #84246
The screenshot has been updated. We will close this issue now.

[2021-11-24 15:14] #84246 closed

[2021-11-24 15:17] #84356 closed

[2021-11-24 15:17] jocarv-fte opened #84357 "need to state that the VIP needs to be on same NW range/Vnet as the cluster nodes NW range/vnet"
[Enter feedback here]

Hi

I had a customer that tried to add a VIP to the cluster, from a different network range.
basically it was like customer used the IP 10.0.1.13 (NW 10.0.1.0/24) on the LB and the VIP, but the cluster nodes are in NW 10.0.0.0/24
So, maybe we need to specifically state that the VIP needs to be on same NW range /Vnet as the cluster nodes NW range/vnet
I know that this might b

[2021-11-24 15:20] Svijay-msft commented on #84192
Hello @ashokregar,

I had been checking the pricing tier of the Data Lake Analytics. I did not find the free tire. Probably, my understanding is wrong.

Can you pls provide additional context, If that's the case ?

![image](https://user-images.githubusercontent.com/66949976/143265387-cd4a0d8b-384f-4ecb-bb85-23ae2bf71d19.png)

[2021-11-24 15:20] jimmymcpeter commented on #35432
I think you should try identity provider initiated login from https://myapplications.microsoft.com instead of service provided initiated login (from the Sage login page).  Last I checked Intacct didn't play nice with SP initiated and Azure.

You might also check the Company menu > Access Log from Intacct.  This includes some helpful debugging on the Intacct side.

[2021-11-24 15:23] Garhag opened #84358 "No issue. Just a quick comment about this wonderful documentation."
I LOVE this. This is so very well done. When I'm training someone new to troubleshooting password writeback issues, this is where I point them first. I can't tell you how many people I've shown this to. And each time I do, I tell them, "This is my very favorite troubleshooting documentation for any topic we support." This should be used as an example for how all troubleshooting documentation shoul

[2021-11-24 15:30] v-asymes opened #84359 "App Consistency on linux"
Documentation points to using the free/unfreeze script but this is only applicable for scenarios where there is an agent. H2A has no agent on the Linux VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8f2ca3-19b1-330d-8dd3-6dcdce38c8d4
* Version Independent ID: 700335aa-c802-0314-1579-3493918f5000
* Content: [Genera

[2021-11-24 15:48] markjbrown commented on #80913
Not quite. In the write region, the primary and two secondary replicas need to commit. A secondary may or may not be the forwarder. In the secondary regions the primary and two secondary replicas need to commit. There are no forwarder replicas in secondary read regions.

[2021-11-24 15:50] WillParry commented on #83459
@PramodValavala-MSFT :

Surely if the ip-filter has overlapping `address` or `address-range` elements, then it won't matter what order the `base` policy is placed in the `api` scope. If the overlap is present, then it's allowed if it hits one policy or the other or both as they all cover the required `address` or `address-range`?

I still feel that this could be clearer in the documentation, but a

[2021-11-24 15:50] markjbrown commented on #84311
All database API's support master key authentication.

Only SQL API supports Azure AD authentication and RBAC. and currently only in the .NET and Java SDKs. SQL API also supports resource tokens via it's REST API.

[2021-11-24 16:08] danjpadgett commented on #64724
any update on this? the URL is nowhere to be found

[2021-11-24 16:27] ross-worth opened #84362 "AKS 4 vCPU limit not 2 vCPU"
AKS service will not let me deploy with machines that have 2 vCPUs via the GUI. The virtual machine types say supported but cannot be selected as a primary node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6-a06d-9bc4-fef6-6ece8a166e84
* Version Independent ID: a9efcfab-f4c5-969b-4cd4-aa86ebd80534
* Content:

[2021-11-24 16:27] becke-ch-s0-v1 commented on #84311
Hi @markjbrown , Thank you for your feedback. Question - isn't it a security risk to store the master key, which gives the user unrestricted access to the DB, at the client side? (most other azure DBs support a more fine granular access control).

[2021-11-24 16:31] cfotos opened #84363 "No explanation of "AAD Endpoint""
one of the values in the Node.js .env file is "AAD endpoint", but there's no mention of what that is or where to find it. There's also no explanation of what the GRAPH_ENDPOINT value is or where we're supposed to get it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bcd9e7-d45f-1867-185a-c74636a9f448
* Version Indep

[2021-11-24 16:34] kobulloc-MSFT commented on #84353
@macsurferOhm That's an interesting use case.  Let me reach out to the product group and I'll get back to you shortly (keeping in mind that we have a holiday coming up this week).

[2021-11-24 16:35] MarileeTurscak-MSFT commented on #84358
@Garhag thank you very much for the kind feedback! I have passed this along to the content author, @Justinha .

[2021-11-24 16:35] #84358 closed

[2021-11-24 16:46] pwebendorfer commented on #35432
Thanks, Jimmy. We found some other documentation that started us down the IdP path too. That seems more and more like the root of the problem, which will probably result in us abandoning this effort. Appreciate all the feedback from the group.

[2021-11-24 17:05] SrijitBose-MSFT commented on #84362
@ross-worth , thank you for your feedback. System node pools and user node pools are two different node pool modes for your AKS clusters. System node pools serve the primary purpose of hosting critical system pods such as `CoreDNS `and `metrics-server`. Every AKS cluster must contain at least one system node pool with at least one node. [Reference](https://docs.microsoft.com/en-us/azure/aks/use-sy

[2021-11-24 17:09] SrijitBose-MSFT commented on #84362
@zr-msft also [this bit](https://docs.microsoft.com/en-us/azure/aks/quotas-skus-regions#restricted-vm-sizes) looks a little confusing:

VM sizes with _less than 2 CPUs_ may not be used with AKS.

... To ensure the required kube-system pods and your applications can be reliably scheduled, AKS requires nodes use _VM sizes with > 2 CPUs_.

[2021-11-24 17:16] ishanslab opened #84364 "missing unmount steps"
The article says "azure-netapp-files-mount-unmount-volumes-for-virtual-machines".
I am not able to find the unmount steps in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c4691a-bc1e-3a5e-4849-a4ab11eb3f17
* Version Independent ID: 6ca9ad64-3a8e-69f7-0eca-471d3e0e3706
* Content: [Mount Azure NetApp Files v

[2021-11-24 17:30] jmprieur commented on #84363
#please-assign @EmLauber

[2021-11-24 17:34] JamesTran-MSFT commented on #84363
@cfotos
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-24 17:39] mike-urnun-msft commented on #84345
@rolandkru Thank you for your feedback! We will review and update as appropriate.

[2021-11-24 18:09] SamaraSoucy-MSFT commented on #84025
Javascript and C# both return the same results. They use the sign of the dividend, and Logic Apps do the same, so -5.5, 5.5, and -5.5. I've put in a PR to add examples with negative numbers. It will go live once the doc author has approved the changes.

[2021-11-24 18:09] #84025 closed

[2021-11-24 18:26] SamaraSoucy-MSFT commented on #84041
I've put in a PR to make the update. It will go live once the content author has reviewed it.

[2021-11-24 18:26] #84041 closed

[2021-11-24 18:40] shubha-rajan opened #84366 "Steps that use the docker command don't work on Cloud Shell"
The tutorial suggests that we can use Cloud Shell instead of running the Azure CLI locally to complete this tutorial:
![image](https://user-images.githubusercontent.com/19631367/143295863-13c3f688-8e4a-4f34-90f1-fc3971289398.png)
However, running any Docker commands in the terminal will return an error that the Docker daemon isn't running:
[code]

---
#### Document Details

⚠ *Do not edit this sec

[2021-11-24 18:47] yankeetechgal opened #84367 "tenant_region_scope is different value for gov tenant"
[Enter feedback here]
The article says to determine if B2B collaboration is available in my Azure US Government tenant, the values could be

"tenant_region_scope":"USGOV" or "tenant_region_scope":"USG"

Our tenant shows the following that does not match either:

"tenant_region_scope":"NA"
"tenant_region_sub_scope":"GCC"

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-11-24 19:01] JamesTran-MSFT commented on #84367
@yankeetechgal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-24 19:14] JamesTran-MSFT commented on #84367
Thank you for your time and patience!

Based off your JSON Response:

- "tenant_region_scope":"NA"
- "tenant_region_sub_scope":"GCC"

Your Tenant's region scope is North America, and your Tenant's region subscription scope is Government Community Cloud (GCC). From our [Azure Government](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-plan-identity#choosing-your-ide

[2021-11-24 19:33] #79450 closed

[2021-11-24 19:37] jdthorpe commented on #84277
For what it's worth, I ended up going with this solution:

[code]

With my connection, the 8MB chunks load in about 0.6 seconds each(we should all be so fortunate...), so it's not surprising that trying to load the data all at once (~300MB in my case), exceeds even the maximum RU setting available for cosmos.

PS. I'm using a custom terminal that has certain  bash commands available (`split` in th

[2021-11-24 20:00] Pythagoras888 opened #84369 "Azure AD built-in role Action ends with ".../read", Description says "Update...", so which is it?"
<html>
<body>

In the section of the page "Content" referenced below, under application or admin role "Directory Reader", there is a line that shows an "Action" of ".../read", but the "Description" starts with the word "Update...".  Here it is with the following two lines as context:

<b>microsoft.directory/directoryRoles/standard/read ............. | ... Update basic properties in Azure AD roles<

[2021-11-24 20:23] GeethaThatipatri-MSFT commented on #84354
@Yuki-Nishio Thanks for reaching out, We will Investigate and update you shortly

[2021-11-24 20:44] JesvinJoseph commented on #83532
@MartinJaffer-MSFT  I can raise a support ticket from my account. No prblm. I will take care of that. Thank you for the support

[2021-11-24 20:49] aakarner opened #84371 "Linux partition resizing workflow needs to be updated to consider different file systems"
The workflow listed on this page doesn't work if the underlying file system is xfs.

In that case, you have to use `xfs_growfs`.

The page should be updated to consider that different file systems will be in use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c61c5a-d9e4-742b-36e5-b9effa33d903
* Version Independent I

[2021-11-24 20:55] schwabenlander opened #84372 "Need instructions on how to implement in app"
It would be helpful if this page included directions on how to implement this in the application. Meaning: how do I call the profile editing flow from my application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b2f352-2d04-bda7-fafd-2f2ce1f85aa3
* Version Independent ID: ad0ee7de-8679-6387-1f52-b45b24a99cf4
* Cont

[2021-11-24 20:58] JamesTran-MSFT commented on #84372
@schwabenlander
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-24 21:12] RyanHill-MSFT commented on #84366
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-24 21:24] AldensNow opened #84373 "Add info about debugging export error: "Unable to convert message to API definition""
When exporting an API definition from APIM, it would be helpful to understand the requirements to avoid the export error "Unable to convert message to API definition."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-8da1-dd3d-9d1c-8a21dabd44fe
* Con

[2021-11-24 21:31] GeethaThatipatri-MSFT commented on #84302
@anfeldma-ms please check the above code change feedback and let us know if we can update the documentation.

[2021-11-24 21:37] skeltonsc commented on #81985
I followed your instructions and have also installed a number of other modules that we require

had to shuffle a few around and reinstall newer versions but I think it can connect now, I'm going to test with the Development team tomorrow and revert

Thank you so much I'm 99% sure this will work now

[2021-11-24 21:40] MarileeTurscak-MSFT commented on #84369
@Pythagoras888
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-24 21:47] MarileeTurscak-MSFT commented on #84369
@Pythagoras888 thanks for bringing this to our attention! I can see how this would have been alarming.

This appears to be a typo, so I made a pull request to fix it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/181023

CC @rolyon please review.

[2021-11-24 21:47] #84369 closed

[2021-11-24 21:58] Jehoel opened #84374 "Article on CosmosDB's geospatial types should disclose that EF Core does not support them"
It's commonplace for developers to use CosmosDB via Entity Framework Core, however as of late 2021 EF Core still does not support using CosmosDB's geospatial types as complex-value-types in EF entity classes:

* https://github.com/dotnet/efcore/issues/17317
* https://github.com/dotnet/efcore/issues/15896
* https://github.com/dotnet/efcore/issues/14336

And this is becoming a _gotcha_ for users unf

[2021-11-24 22:02] owenpww commented on #51432
Hello @RohitMungi-MSFT and @melghazali, I am currently trying out the Custom Translator services (we are currently using just the Text Translator API right now but want to see what options are available should we want to create our own translations which is likely in the future) and I am feeding in 2 .txt files in an English-Spanish project. Each of the text files only have 4 sentences. I just wan

[2021-11-24 22:05] yunhaoling commented on #81985
@skeltonsc , thanks for trying it out and glad it works on your side!

let me know how it works with your development team and do not hesitate to reach out if you need help!

[2021-11-24 22:10] owenpww opened #84375 "Custom Translator stuck on "Training queued" for days"
I am currently trying out the Custom Translator services (we are currently using just the Text Translator API right now but want to see what options are available should we want to create our own translations which is likely in the future) and I am feeding in 2 .txt files in an English-Spanish project. Each of the text files only have 4 sentences. I just wanted to try it out to see how the develop

[2021-11-24 22:17] kobulloc-MSFT commented on #84371
@aakarner Thank you for reporting this!  We'll review this and get back to you shortly.

[2021-11-24 22:26] dianasm22 opened #84376 ""File IO characteristics in General Purpose tier" vs Pricing Managed-Disks Reservation"
Based on the "File IO characteristics in General Purpose tier" section on https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits#service-tier-characteristics, looks like the SQLMI files jump directly from P10 (<=128GiB) to P20 (<=512GiB) in size tiers.

![File IO](https://user-images.githubusercontent.com/94997777/143320161-3ef3352f-6155-46bc-91ea-a8230e7de63b.JPG)

But

[2021-11-24 22:28] Davidswinkels commented on #81247
Hi Fleid. Thanks for your reply!

We observed this random order behavior when we had multiple (SELECT C1, C2, C3...) statements in sequence and then unioned them. Example union:
[code]
Test data of these three groups all had same timestamp and therefore we would expect order of unioned events to be FIRST_GROUP, SECOND_GROUP, THIRD_GROUP, but this order was random for testing. So for same input tes

[2021-11-24 22:35] meenalsri opened #84377 "Add prerequisite section to this doc"
[Enter feedback here]
Please add a pre-requisite section to this doc to list the permissions required for a user or entity to generate SAS tokens. I could not find this information in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba8dd43-ef02-5c5c-382d-f8d653721280
* Version Independent ID: 4127d388-f82a-b1

[2021-11-24 22:46] kgremban commented on #84294
Thank you for flagging this inconsistency for us. The service APIs in the C SDK have been deprecated, which is why the sample-service application was removed from the github repo. I updated the article to use the Azure portal to send a cloud-to-device message to test the sample-device application instead.

[2021-11-24 22:46] kgremban commented on #81683
Thank you for flagging this inconsistency for us. The service APIs in the C SDK have been deprecated, which is why the sample-service application was removed from the github repo. I updated the article to use the Azure portal to send a cloud-to-device message to test the sample-device application instead.

[2021-11-24 22:46] kgremban commented on #72414
Thank you for flagging this inconsistency for us. The service APIs in the C SDK have been deprecated, which is why the sample-service application was removed from the github repo. I updated the article to use the Azure portal to send a cloud-to-device message to test the sample-device application instead.

[2021-11-24 22:49] KennethJakobsen commented on #69658
is this still the case?

[2021-11-24 23:05] TethysSvensson commented on #39270
Those guides **really** need an update. I've spent two evenings now trying to setup up an azure vpn using either OpenVPN or Strongswan and connect to it using any guides I have come across, and I have yet to successfully authenticate even once.

[2021-11-24 23:27] #81683 closed

[2021-11-24 23:27] #84294 closed

[2021-11-24 23:27] #72414 closed

[2021-11-24 23:34] adetterer commented on #75134
@sumeetmittal I'm particularly keen for this feature also; any word on this?

[2021-11-24 23:35] pnarsi opened #84380 "Azure Key Vault-backed secret scope where AKV uses RBAC roles"
"Create an Azure Key Vault-backed secret scope using the UI" steps listed on this page only work if the AKV is configured to use Access Policies to manage authorisation. If the AKV uses RBAC then an additional step of assigning the "Key Vault Secret User" role to the AzureDatabricks enterprise app needs to be performed otherwise users will not be able to list secrets via Databricks CLI.

Refer to

[2021-11-24 23:39] petevdp opened #84381 "annoying x-scrolling behavior on azure configure monitoring page"
As seen in the screenshot, this table forces me to scroll in the x-axis rather than just wrapping the text to stay in the tab container. This wouldn't be so bad but I needed to take a screenshot to show my co-worker which required me to set `overflow: visible;` on the containing element as a work-around. I didn't have any luck re-sizing the browser viewport or anything similar either.

![image](ht

[2021-11-25 00:01] Yuki-Nishio commented on #84354
@GeethaThatipatri-MSFT Hi, I verified further this and then the following roles appears to be needed at least.

  Security reader (resource group level)
  Reader (resource (SQL server) level)

[2021-11-25 00:15] akczcz commented on #79965
@rockboyfor I have same issue, @SrijitBose-MSFT is there any news regarding this topic?

[2021-11-25 00:20] #84072 closed

[2021-11-25 00:28] rido-min commented on #84346
we are aware of this issue, as a workaround the customer must install .NET 3.1 or .NET 5 to use `dmr-client`

/c @digimaun

[2021-11-25 00:29] kgremban commented on #83662
@prabirkrsarkar This diagram uses the directional arrows to show that all communication from the device and service is outbound. As mentioned in other parts of the article:

[2021-11-25 00:44] mrdenny opened #84382 "Screenshots don't match the portal"
This page needs to have upgraded graphics and directions. These don't match the current portal.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caec76df-16e4-f418-14c3-6c83528134c7
* Version Independent ID: 813b93bb-1b61-c31a-a277-0b56a3f51d4a
* Content: [Configure Azure resource role settings in P

[2021-11-25 01:26] Josh-chadison-1 opened #84383 "Defender for Cloud integration with MDE for Linux VMs, image requires update."
[Enter feedback here]
The screenshot displaying "Enable for Linux machines (Preview)" requires updating to reflect the integration for Linux with Defender for Cloud integration with MDE now being Generally Available.

I have taken a screenshot with the now update UI selection that no longer contains (Preview) I believe this will help prevent confusion if readers scroll past the top of the page and

[2021-11-25 01:34] AlphaBun opened #84384 "Azure workbook grid visualization - Column width not working as intended"
Hi there,

I am having issues with the grid visualization in Azure Workbook. Its a simple query to Pull the list of VMs from the ConfigurationChange table. I have tried specifying the "Computer" column width (with 200ch, 100%) or leaving it empty.  But the visualization always cuts off the column even though theres only 1 column to display.

[code]

I have tried a couple of different queries and t

[2021-11-25 01:35] SaurabhSharma-MSFT commented on #84304
@Leonardo-Ferreira I think you are correct but deferring to the author for the correct answer.

Thanks
Saurabh

[2021-11-25 01:48] hyn-tester opened #84385 ".zip and .xml must need when restoring"
## When restoring a backup file it must need .zip and .xml file

After click backup, there are 3 files which are .zip, .xml and .log files.
When we restore, .zip and .xml must exist in the storage accounts.

- If only a zip file exists in the storage account and restore in the app service, then:
![image](https://user-images.githubusercontent.com/77420512/143354574-a9c1478f-ac5d-4a0f-9d51-50f05a059

[2021-11-25 02:02] SamaraSoucy-MSFT commented on #84092
I was able to confirm that the portal version of SBE doesn't yet support sessions. I have assigned the issue to the doc author to update appropriately.

[2021-11-25 02:03] SamaraSoucy-MSFT commented on #84235
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-11-25 02:22] eedorenko opened #84386 "IoT Hub doesn't log under DistributedTracing category"
I have followed the guidance on distributed tracing. I have an updated iothub_ll_telemetry_sample working as expected and sending messages with tracestate property. I can see this system property in the message on the IoT Hub side.
But! IoT Hub doesn't log anything under DistributedTracing category.

Is this guidance still relevant?
---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-11-25 02:46] HarshitaSingh-MSFT commented on #84347
@GregersSR, this has been fixed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-25 02:46] #84347 closed

[2021-11-25 03:05] MayankBargali-MSFT commented on #84357
@rdeltcheva Thank you for your feedback! We will review and update as appropriate.

[2021-11-25 03:06] MayankBargali-MSFT commented on #84359
@v-asymes Thank you for your feedback! We will review and update as appropriate.

[2021-11-25 03:08] MayankBargali-MSFT commented on #84375
@owenpww Can you please provide the document you are referring to so the right team can assist you.

[2021-11-25 03:09] MayankBargali-MSFT commented on #84373
@AldensNow Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-25 03:15] MayankBargali-MSFT commented on #84381
@petevdp Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-25 03:17] GeethaThatipatri-MSFT commented on #84354
@Yuki-Nishio Thanks for your findings, I'm assigning this to the author for the feedback review.

[2021-11-25 04:14] CHEEKATLAPRADEEP-MSFT commented on #84380
@pnarsi Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details on how to connect using RBAC role in the document.

[2021-11-25 04:40] SumanthMarigowda commented on #84377
@meenalsri Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-25 04:42] SumanthMarigowda commented on #84364
@ishanslab Thanks for the question! We are investigating and will update you shortly.

[2021-11-25 04:43] shashishailaj commented on #84382
@mrdenny Thank you for your feedback. We will investigate and update the thread .

[2021-11-25 04:50] BenjaminCharlton opened #84388 "Add a Blazor example"
This page has links to Microsoft Identity examples for JavaScript development frameworks from other vendors, but nothing for your own SPA frameworks Blazor Server and Blazor WebAassembly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6e5855-ef79-2759-6773-f3a44886cb14
* Version Independent ID: 73154754-ea03-f123-350

[2021-11-25 05:16] SnehaAgrawal-MSFT commented on #84102
@ryepup Thanks again for the feedback! The PR has been created for this once reviewed by author will be visible in document.

We will now close this out but if you feel you need more information please just let us know.

[2021-11-25 05:16] #84102 closed

[2021-11-25 05:46] PramodValavala-MSFT commented on #84274
@Morgma While the source isn't available, you could definitely build a simple Azure Function that leverages the latest the DotLiquid library and exposes an API. You cannot use the Integration Account like the built-in action, so you would either have to store the template in blob storage and pass it to the Function App in the call itself.

[2021-11-25 05:48] SadiqhAhmed-MSFT commented on #84065
@Heloiseboanerges We will now proceed to close this issue as there is no action pending from our end.

[2021-11-25 05:48] #84065 closed

[2021-11-25 06:12] BrianBMN commented on #84233
I am experiencing this issue as well. I have tried in two supported regions: East US 2 and North Central US and receive the error as detailed above.

[2021-11-25 06:54] Grace-MacJones-MSFT commented on #84374
Hi @Jehoel, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-25 06:58] Grace-MacJones-MSFT commented on #84376
Hi @dianasm22 , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-25 07:07] SnehaAgrawal-MSFT commented on #83523
@BasavarajGM My sincere apologize for late response here! We kindly request you to share your question on [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/search.html?c=&includeChildren=&f=&type=question+OR+idea+OR+kbentry+OR+answer+OR+topic+OR+user&redirect=search%2Fsearch&sort=relevance&q=azure-media-services)or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-media-ser

[2021-11-25 07:07] #83523 closed

[2021-11-25 07:21] FaridAhamat commented on #51639
This requires a Github account. Some company don't have Github accounts, so I can't simply use my personal Github account just to deploy.

Please fix Azure App Service and not force people to use the Azure Static Web App (or at least remove the Github account requirement!)

[2021-11-25 07:44] jjindrich opened #84391 "Migration to Azure Firewall not working"
I was following this steps. https://docs.microsoft.com/en-us/azure/firewall/premium-migrate#migrate-a-vnet-hub-firewall
There is missing command to change FW policy to premium policy !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326302f4-752f-4e20-cdf6-39a249548ae4
* Version Independent ID: 576f83ed-4053-40bd-f7c0-9

[2021-11-25 08:09] MughundhanRaveendran-MSFT commented on #83842
@reflash , Are you still facing the error with latest V4?

[2021-11-25 08:28] MughundhanRaveendran-MSFT commented on #84135
@AC740 , I didnt understand your question/requirement clearly. There is no option of external ip in the logic app properties. we only have inbound and outbound ip adresses

[2021-11-25 08:42] OwenTheAnalyst opened #84394 "Cost of use"
Would it be possible to outline how pricing works for this visual, and if there are no costs for using it, whether this could be explicitly stated? This is also relevant for the Power Apps pages

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 551e3e82-bdac-49cd-1355-b416facb020b
* Version Independent ID: c5699332-f895-c

[2021-11-25 08:51] amanmcse commented on #84210
@donchai This is assigned to the author to review and update this information in the document.

[2021-11-25 08:52] amanmcse commented on #84286
@mbarsott Closing due to inactivity.

[2021-11-25 08:52] #84286 closed

[2021-11-25 09:05] gjongeneel opened #84395 "On-demand Capacity Reservation and SLA"
[Enter feedback here]
With On-demand Capacity Reservation we'll get some kind of 'SLA on the availability of a certain VM SKU'. This will ensure that we can use this specific VM SKU when needed somewhere in the future. However, during preview, there is no SLA. Does this mean that we are paying full price for a feature that provides a SLA without actually getting that SLA? In this Docs it is not cl

[2021-11-25 09:09] gjongeneel opened #84396 "Message in Azure portal about registration required"
[Enter feedback here]
When we want to use this feature in the portal, it still shows us the 'Capacity reservation group is in public preview. To create a capacity reservation group, you must register your subscription.' message with a Learn more link that redirects to this page. However, this page does not provide any information on this requirement. Is it still needed to register for this feature

[2021-11-25 09:26] RutgerKosters opened #84397 "Azure NetApp Files - create/update volume API"
https://docs.microsoft.com/en-us/rest/api/netapp/volumes/create-or-update

The service level of an ANF volume needs to match the service level of the capacity pool it is placed in. To emphasize on this, I have the following 2 suggestions.

**Suggestion 1**
Current description of Name properties.serviceLevel: "The service level of the file system"
Change to: "The service level of the volume. Needs

[2021-11-25 09:26] danjpadgett commented on #64724
https://scim.smartsheet.com/v2/

[2021-11-25 09:30] chi-ltd opened #84398 "Needs updating"
Update agent slightly out of date now.  Is now - Settings - Agents Mgt.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1bc14e-2be9-0eba-b68a-e3e266e7949c
* Version Independent ID: c931a6ce-5d85-b6b7-420d-99e2c9ed09d4
* Content: [Managing the Azure Log Analytics agent - Azure Monitor](https://docs.microsoft.co

[2021-11-25 09:35] aleksandar-miraclemill commented on #84233
@BrianBMN check if your storage account is set with Geo-redundant storage, with secondary location in a region that is not supported.
In my case I set the storage account to Locally-redundant storage (LRS). I'm not even sure if Geo-redundant will support SFTP even if both primary and secondary locations are in regions that support SFTP.

[2021-11-25 09:35] mlaboj commented on #84391
![Powershell_error](https://user-images.githubusercontent.com/67639343/143416177-e5fe7199-d600-4d5c-b675-c539d03b02f9.png)
This is the error I have received after I have tried to allocate the firewall with premium sku.

[2021-11-25 09:40] masoncusack commented on #83994
Great, thanks for the info!

[2021-11-25 09:40] #83994 closed

[2021-11-25 10:01] LingYi-Wu opened #84399 "Incorrect price "Price per Snapshot GB (Disk snapshots)""
Hello Team,

This page offers "Azure Backup pricing estimator" to help customer estimate the cost.
Link: https://aka.ms/AzureBackupCostEstimates

The default price is using US East Region.
I found the pricing of "Price per Snapshot GB (Disk snapshots) = 0.12" is incorrect.
The correct price should be 0.132. Please refer to pricing page: https://azure.microsoft.com/en-us/pricing/details/managed-dis

[2021-11-25 10:10] sdebruyn commented on #66923
@julieMSFT that link doesn't work

[2021-11-25 10:12] pettermoe95 opened #84400 "Token Store Challenges"
I would like to know if it is possible to configure the Authentication in Azure App Service with token store in such a way that it would give me access tokens to i.e. both Graph API and Power BI REST API.

**Access Token to multiple API's**
I have a backend written i python/django and our security experts says I should implement the built in authentication for the Azure App Service where the backe

[2021-11-25 10:14] gvanteylingen commented on #84397
Besides checking the validity of the feedback we'd need to check correct use of interpunction, As such rather change to:
"The service level of the volume needs to match the capacity pool service level." on both occasions.

[2021-11-25 10:19] SnehaAgrawal-MSFT commented on #84385
@hyn-tester Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-25 11:12] GitaraniSharma-MSFT commented on #84391
@jjindrich , thank you for your feedback. We'll investigate this issue and get back to you shortly!

[2021-11-25 11:13] MayankBargali-MSFT commented on #84383
@Josh-chadison-1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-25 11:21] asergaz commented on #84386
Hello @eedorenko . This service is still in preview. Let me research internally for any known issues. Thanks!

[2021-11-25 11:24] asergaz commented on #84386
@eedorenko on the device side can you see this?
![image](https://user-images.githubusercontent.com/22173500/143432965-1744138c-06db-4f65-a1c4-6b3eec953477.png)

[2021-11-25 11:27] asergaz commented on #84386
@eedorenko I noticed you opened another issue in the sdk: https://github.com/Azure/azure-iot-sdk-c/issues/2167 . If you believe this is not related with the document let us close the issue here and continue the discussion in the SDK side. Thanks!

[2021-11-25 11:30] thommck opened #84402 "Missing info on lab policies"
I got here via the link on the Azure portal lab creation workflow. I wanted to find out more about the statement:
"Lab policies do not apply to lab environments" (this message is also shown on the screenshot on this page).
That statement is confusing to me, but this page doesn't offer any explanation to what it means. Can you explain on this page exactly what that means as it seems to contradict i

[2021-11-25 11:32] asergaz commented on #84394
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-25 11:35] thommck opened #84404 "AVD or Bastion alternatives?"
I thought an RD Gateway was legacy tech? Would it not make more sense to use Azure Bastion or Azure Virtual Desktop?
I think this would be a common expectation so it would be good to have a note at the beginning of this page explaining why this would/wouldn't work. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-11-25 11:37] asergaz commented on #84394
............................

[2021-11-25 11:47] MrImpossibru opened #84405 "Linux security baseline script"
Hello,

Could you provide a script to fix all of this issues on the VMs with the common images from the Marketplace (like ubuntu)? Or fix all of these images? For now it looks like default images are vulnerable.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccbe3c35-2c82-c7f5-7cce-94bdbb229ea6
* Version Indepe

[2021-11-25 12:00] arzWZM opened #84406 "Prevent Azure Expressroute from learning routes from VPN Gateway"
How can I prevent Azure Expressroute from learning routes from VPN gateway? We're setting up a IPsec over Azure Expressroute. We want the Azure Expressroute just be a circuit. Right now Azure Expressroute is advertising the routes that's learned from VPN Gateway to the Edge routers.

Is there a way to prevent Azure Expressroute from learning routes from VPN gateway?

[2021-11-25 12:34] KalyanChanumolu-MSFT commented on #84261
@mattKorwel Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-25 12:44] KalyanChanumolu-MSFT commented on #84277
@jdthorpe Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-25 12:45] KalyanChanumolu-MSFT commented on #84376
@dianasm22 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-25 12:47] KrishnaG-MSFT commented on #84384
@AlphaBun Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-25 12:50] shashishailaj commented on #84388
@BenjaminCharlton Thank you for your suggestion . We will check this with the content team and create an internal request accordingly .

[2021-11-25 12:55] robinmanuelthiel opened #84408 "Document, how to change `arcConfiguration.artifactStorageClassName`"
When deploying an App Service Kubernetes Environment with `az appservice kube create` it automatically picks `default` as its storage class in `arcConfiguration.artifactStorageClassName`. In cases a cluster does not have that storage class, the environment never reached `"provisioningState": "Succeeded"`.

Please document, how to use another storage class

---
#### Document Details

⚠ *Do not edit

[2021-11-25 13:05] richard-artes opened #84409 "This page assumes I am using vCenter. But I am using Hyper-V."
This page assumes I am using vCenter, keeps talking about vCenter issues. But I am using Hyper-V and I get these assessment-readiness-issues.
Please update for Hyper-V.
Thanks,
Richard Artes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e359e11-8328-07e0-168b-7920c8a37d5e
* Version Independent ID: b673f646-874d-6a12

[2021-11-25 13:34] GannonMA opened #84410 "Creating new Custom XPATH value"
Hi All,

We are configuring the automatic account provisioning using an API connecting Workday to AD.
We are trying to pass a custom attribute from workday that does not have a XPATH out of the box.

How do we go about setting up this link?

Regards

Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27710bf3-6226-4d0

[2021-11-25 13:37] KrishnaG-MSFT commented on #84398
@chi-ltd Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-25 13:38] MughundhanRaveendran-MSFT commented on #83713
Hello @gitdram , Thanks for reporting this. I have added details to the note. It will be published soon.

[2021-11-25 13:41] MughundhanRaveendran-MSFT commented on #83491
@nfgrep , Sorry for the delay in getting back to you.

The logic to parse the Binding information and convert it to JSON is here.
https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.Http/Utility.cs#L17

It is defined here : https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.Http/HttpTriggerAttributeBindingProvider.cs#L100

[2021-11-25 13:41] #83491 closed

[2021-11-25 13:46] #83713 closed

[2021-11-25 13:55] jmschafferer opened #84411 "Link to alert-setup on Azure KeyVault"
[Enter feedback here]

The best pratice guide for the KeyVault mentions alerting, but has no links to instructions for setting it up.

Please link to correct documentation, I'm having trouble figuring out how to set it up.

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199fbc30-6751-5ee6-4fbb-f23f2f

[2021-11-25 14:11] AdaTheDev opened #84412 "Include Canceled orchestration status in code Singleton Durable Function code samples"
In the C#, Python and Javascript code samples for implementing a Singleton Durable Function, it currently starts a new orchestration if there is no existing instance, or there is but has a status in: Completed, Failed or Terminated.

Should Canceled be included in that list of statuses too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-11-25 14:50] priyankareddy20 opened #84413 "I am facing a wird issue where if we assign the users to the Administrative unit everything is fine as expected but when we assign the group with same user accounts to the administrative unit, the feature is not working.My requirement is Authentication Admin should be able to re-register MFA for few users."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11702e8d-98ba-b314-13cf-4c27963dcafd
* Version Independent ID: 9d2cb191-a0c7-abee-36ba-1f4079d357bd
* Content: [Administrative units in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/roles/administrative-units)
* Conte