[2018-08-17 02:26] VWilcox2000 opened #13571 "minor typo"
'Deafult' in the source blurb to 'default'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 552373c2-1d7c-bc6b-46a3-c635a9f9f15e
* Version Independent ID: ed48ef85-d772-552c-d451-2d5a6eab9d70
* Content: [How-to specify environment variables for services in Azure Service Fabric](https://docs.microsoft.com/en-us/azure/serv

[2018-08-17 02:28] MirzaSikander commented on #13569
It would be great if you can add an example where Automation Credentials are used with `PsDscRunAsCredential.` Have tried loads of different things but can't seem to make it work. Thanks

[2018-08-17 02:35] BryanTrach-MSFT commented on #13357
@vivekjainAco I would suggest looking into the [content specific metadata properties](https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage#content-type-specific-metadata-properties). We have a large list of properties that you can choose for different file formats. Have you considered creating a content type and field name for each doc type that is in your blob?

[2018-08-17 02:35] #13357 closed

[2018-08-17 02:37] BryanTrach-MSFT commented on #13493
@MikeWasson I was having issues obtaining the connection string as well. We have assigned this to the doc author to have them review the doc and make the necessary changes.

[2018-08-17 02:42] BryanTrach-MSFT commented on #13358
@rifaterdemsahin To clarify, you are not editing the host file of the ILB ASE. You are editing the host file on your local client. I refer to the below step. If you have concerns regarding this, it would be helpful if you could provide greater detail.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2018-08-17 02:42] #13358 closed

[2018-08-17 03:26] EmmaZhu commented on #13145
@Sambsamb
I tried with your settings, but could not repro the issue you met.
From the error message, I guess it's caused by conflict versions of Azure Storage Client library in different module versions. Microsoft.WindowsAzure.Storage.Blob.CloudBlobContainer is defined in Azure Storage Client library.

Could you try with following command lines to see whether the issue still exists?
[code]

[2018-08-17 03:46] jkindwall opened #13575 "Need more detail on JavaScript language-integrated query API"
The "JavaScript language-integrated query API" section of this page really needs to be fleshed out quite a bit (either that or provide a link to more detailed documentation elsewhere which I have thus far been unable to find.)  I spent the afternoon today trying to figure out how to get the __.map() or __.pluck() functions to work, with no luck thus far.  I have 3 major issues with the documentati

[2018-08-17 04:16] tiny-dancer opened #13576 "Ability to automatically redirect to preferred IdP page"
How would one configure policies to achieve the equivalent of this keycloak feature?

https://www.keycloak.org/docs/latest/server_admin/index.html#default_identity_provider

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33489541-1210-69d0-4a45-5ba306d254fc
* Version Independent ID: 4dd79b67-4004-f7d0-d59d-d3c94

[2018-08-17 04:26] hukun01 commented on #11893
@winterTTr Thanks for the info. Looks like `secretUriWithVersion` is only valid with secrets that were created in the old way..

[2018-08-17 04:42] payalgaikwad42 commented on #13516
however when i when i deploy my SampleModule on edge it is not getting reported by the device.
edgeAgent does not create the module and hence it is not getting connected via edgeHub.

[2018-08-17 04:52] KeiroKamioka0000 opened #13577 "Change the name of admin"
Does the changing the name of the admin username of SQL Database is possible or not yet?
If not could you add it to the FAQ please?

https://social.msdn.microsoft.com/Forums/azure/en-US/825c9608-ccd9-49cd-bdc9-475837b77435/want-to-change-server-admin-username-for-sql-server?forum=ssdsgetstarted

https://feedback.azure.com/forums/217321-sql-database/suggestions/15285531-allow-changing-azure-sql-db-

[2018-08-17 05:08] dcbrown16 commented on #13120
@rolyon I figured out the scrollbar on body behavior - it shows up when I expand a feedback item in Edge only. Either Open or Closed feedback items trigger it.

[2018-08-17 05:39] MohitGargMSFT commented on #13550
@tbebekis Thanks for reporting. I have done the change and pull request is created. The change will be live soon.

[2018-08-17 05:48] parilla opened #13578 "Seamless Single Sign-On support"
Under 'Trust architecture' can Azure Active Directory Seamless Single Sign-On be leveraged instead of ADFS?
More info: https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed13352
* Version Independent

[2018-08-17 05:54] tymtam2 commented on #13501
@sergaz-msft, thanks for your reply.

The article you pointed to me doesn't say much about the devices:

_Physical devices

You can connect physical devices to the solution. You can implement the behavior of your simulated devices using the Azure IoT device SDKs.

You can provision physical devices from the dashboard in the solution portal._

I still don't understand *how* the Contoso apps send te

[2018-08-17 05:59] #13550 closed

[2018-08-17 06:14] alohaninja opened #13579 "API Management Response Cache Policies are Client-side Only"
APIM cache policies are not server-side caches - they basically mirrors ASP.NET Core `ResponseCache` option - this should be clarified in the docs.

Reference: https://github.com/aspnet/Docs/issues/8045

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181c69b0-e136-426b-02f5-4a1a8f0f419d
* Version Independent ID: 2e57c2f

[2018-08-17 06:47] tamram commented on #13568
@pythianchaves - Thanks for reporting this broken link. I've fixed it and it should go live shortly.

#please-close

[2018-08-17 06:54] smoms commented on #13437
@sergaz-msft i understand. That means that Azure Iot Edge can **only** be used in conjunction with Azure IoT Hub. Right?

[2018-08-17 06:57] TravisCragg-MSFT commented on #13546
@theangellmethod Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 06:58] TravisCragg-MSFT commented on #13549
@datarelish Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 06:58] TravisCragg-MSFT commented on #13556
@mikeper12 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 06:59] TravisCragg-MSFT commented on #13557
@StarkCaptain Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 07:19] mchudinov commented on #13432
Hello, this is my mistake. Documentation is correct. I just tried to use this instruction in wrong context in Azure. Issue can be closed.

[2018-08-17 07:19] #13432 closed

[2018-08-17 07:34] dcbrown16 opened #13581 "Funneling through a VPN"
"If your virtual network is connected to an Azure VPN gateway, do not associate a route table to the gateway subnet that includes a route with a destination of 0.0.0.0/0. Doing so can prevent the gateway from functioning properly."
If that's the case, is BGP the only way to force tunnel through a VPN? I have a customer who wants to route all traffic from their vnet through the VPN to on premises.

[2018-08-17 07:39] dpravo commented on #13364
Update: SSPR is working, the correct SSPR URL for the Azure Government is https://passwordreset.activedirectory.windowsazure.us/

[2018-08-17 07:50] SarithaMaran commented on #13122
@sergaz-msft  Dockerfile.arm32v7:

[code]

[2018-08-17 08:18] irari opened #13582 "Application Insights - Cohort-based filtering"
Application Insights: non-binary cohorts / custom filters?

Let me make myself clear with an example. I can filter my users on operating system. But there are different types of Windows 10 OS, Windows 8 OS... which makes this a bit messy, unclear and unorganized. I could group all Windows 10 OS together using a cohort, but then I can only select all that are part of this cohort or all that are not

[2018-08-17 08:44] imvigo opened #13583 "AD identities in the managed app instance created in the publisher tenant instead of customer tenant"
I want to understand the AD identities created as part of using Managed Applications. One of the customers were using an app published by me to create an Managed App Instance. The instance consisted of an App Service. When the customer enabled MSI in the Web App, the corresponding identity created had the publisher's tenantId instead of the customer's tenantId. Is this by design ? If yes, can I ge

[2018-08-17 08:52] VaclavK commented on #5633
@nikmd23 this looks very good, thanks for that

agree with your comment re logging relationship to "telemetry"

[2018-08-17 08:59] irari opened #13586 "Application Insights - Dashboard sharing issue"
Dashboard sharing issue:

I want to share a dashboard in Application Insights (I am a contributor so I have the rights). When I click 'share', a mandatory (*) dropdown menu 'location' appears but it keeps loading so I can't select anything. I can select 'publish' but then I get the following message:

Sharing + access control
An error occurred while publishing your dashboard. Additional details mi

[2018-08-17 09:34] dannyrc commented on #12991
I think you have misinterpreted my last comment - the first example response is from the test (and the timestamps are correctly showing as the end of the tumbling window, implying that time windowing was successfully applied!). The second example response is from actually running the job (not the test) and these timestamps are those that match when the data were uploaded to the blob, showing that

[2018-08-17 09:41] shizn commented on #13122
Thank you. I will take a look and try to reproduce your issue.

[2018-08-17 11:07] dominicbetts commented on #13501
Hi @tymtam2 - we have a couple of guides that show you how to implement a device that connects to the remote monitoring solution. The Node.js article (https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-connecting-devices-node) shows the structure of the JSON messages exchanged between a device and the solution accelerator. There are also some C articles, such as this one: https://d

[2018-08-17 11:18] smoms opened #13587 "Runtime and module architecture question"
Just an architecture question: if the variable EdgeHubConnectionString contain the address of the Edge runtime and if that is an TCP address, would it be possible to run a module and runtime on different devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7aa1ca-7807-7b0e-6ddb-887106288aa8
* Version Independent I

[2018-08-17 11:46] MikkelHegn commented on #13571
Addressed here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/49270

[2018-08-17 12:19] TechWatching opened #13588 "Can't make this tutorial work with an ASP.Net Core Project"
I get an Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException exception when I run an empty ASP.Net Core project  after having followed this tutorial.

I don't know how the connection to the Azure Key Vault is handled by the code as adding the key vault as a connected service does not change it but it seems not to work for me.

I have the following error message : `Paramet

[2018-08-17 12:36] TechWatching commented on #13588
Ok I found what was the issue : I was connected on Visual Studio with both my personal and professional account (same mail adress for both) and Visual Studio was using my professional one whereas my Azure subscription was for my personal one.  So the tutorial works fine and I must say it's quite impressive to see how simple it is to configure azure key vault (if you don't have authentications issu

[2018-08-17 12:36] andyzhangx commented on #12944
Workaround:
 - Add a ClusterRole and ClusterRoleBinding for azure file dynamic privision before creating azure file PVC
[code]

And if user has already created that file share, need to remove it by deleting the PVC and then run above command

[2018-08-17 12:40] diberry commented on #13197
@sodafatty Thank you for letting me know which culture you are using. Sentiment analysis is currently not supported in that culture. I will make sure the documentation for this feature links back to the [supported languages](https://docs.microsoft.com/azure/cognitive-services/LUIS/luis-supported-languages). Sentiment analysis is provided by text analytics, which currently doesn't support zh-cn. I

[2018-08-17 12:44] remyblok opened #13589 "Arrays and ?-operator"
The ?-operator is very handy. The documentation is only not very clear that it can also be used in combination with array index. Also for array it is not clear that it can be used with string index. So I would like to propose the following additions:

In the operator section, add the following:
-For Arrays add a case like myObject['my Property with spaces'] to indicate that it can be used to get p

[2018-08-17 13:03] Stech01 commented on #13401
Thanks TravisCragg and apwestgarth, I ll follow the instructions in the doc linked.

best regards

S_

[2018-08-17 13:26] gsacavdm commented on #13364
@femsulu , can you assign this to @bernie-msft ?
I'll update the doc to indicate he's the owner.

[2018-08-17 13:33] iMartyn opened #13590 "Move the warning about guest to be prominent!"
The part of the doc that says :
&gt;If you are seeing an authorization error message after signing in successfully, check that the user you are signing in as is not a Guest in the Azure AD (this is often the case if you are using a federated login from a different directory).
Is *EXTREMELY* important.  We use Azure AD Connect and are getting this error, and cannot change that setup.

This means I

[2018-08-17 13:47] Sambsamb commented on #13145
@EmmaZhu no luck :(

`PS C:\WINDOWS\system32> C:\Data\Scripts\Get-BlobUsedSize3.ps1
VERBOSE: Populating RepositorySourceLocation property for module Azure.
VERBOSE: Loading module from path 'C:\Program Files\WindowsPowerShell\Modules\Azure\0.9.11\.\Services\Microsoft.WindowsAzure.Commands.dll'.
VERBOSE: Loading module from path 'C:\Program Files\WindowsPowerShell\Modules\Azure\0.9.11\.\Automation\

[2018-08-17 14:04] MGoedtel commented on #8742
@slavizh and @MicahMcKittrick-MSFT - I've gotten a response verifying we support Win 10 and Win Server version 1803.  I am going to bug this and get the article updated on Monday.  #please-close

[2018-08-17 14:12] MedAnd commented on #12977
@zuhairp - below is the simplified/pseudo-code... note ProcessAsync might run on the same or different TPL thread:

![image](https://user-images.githubusercontent.com/13365135/44270465-f7afbf00-a27a-11e8-90b9-8fb4722e9e66.png)

So would like to clarify if the value of:

is the incremented value or the original value?

[2018-08-17 14:19] TomShinder opened #13591 "VPN Gateway v. Virtual Network Gateway"
Not clear if VPN Gateway is the same thing a "Virtual Network Gateway" - they sound like two different things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content: [Azure VPN Gateway](https://docs.microsoft.com/en-u

[2018-08-17 14:26] mapoitras commented on #13542
When I create a Logic App and Add a SQL Server Connector as explained here: https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-sqlazure

I don't have the option of setting the port.  We have tried entering the port using servername:port or servername,port but we are getting errors.

You can see that in the initial preview of the SQL Connector, there was the capability to enter

[2018-08-17 14:29] theboymango commented on #13424
Not working for me either

[2018-08-17 14:36] stevozilik opened #13592 "Reverse Proxy does not work with NTLM/Windows Authentication"
We have been getting random 401 with NTLM Windows Authentication over Reverse Proxy, and after talking to support/product team, turns out this is not supported.

Please update the documentation to steer people away from Reverse Proxy when NTLM is a requirement.

[2018-08-17 14:50] jjgriff93 opened #13593 "Why does this still reference ProjectOxford? Isn't this supposed to be Bing Speech now?"
Very confused as to which package I should be using in my C# console app, documentation and Azure website say two different things

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 029104c8-ebde-d9d4-c5c9-5f80644b8776
* Version Independent ID: c5e10d5d-4e04-5b97-d30f-28a46e9f86fa
* Content: [Microsoft Speech Service](http

[2018-08-17 15:12] DMoonesinghe opened #13595 "Is this a mistake?"
You wrote:
"The MARS agent is used to back up the following data types to Azure:

Files
System state data
backing up System Center DPM to Azure
Azure Backup Server (MABS)"

What you are implying is
DPM & Azure Backup Server are file types.

Aren't DPM & Azure Backup Server two things that uses MARS Agent as a component to do backups?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-08-17 15:14] creationsoft opened #13596 "Create Linux VM step"
The behaviour I've seen with Hyper-V is that the VM won't start installing Ubuntu successfully unless you disable 'secure boot' BEFORE you set the iso image and try to install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2113dfd-71ce-f982-35d2-528ec73c6a66
* Version Independent ID: 5f043c8f-03ed-5d95-ec2d-4a02d80ec

[2018-08-17 15:18] iainfoulds commented on #13524
If you still run into problems, @amitmawkin, please let us know.

For now, #please-close

[2018-08-17 15:25] EVMartinez opened #13598 "No funcional level required for gMSA"
Here the documentation says the following:
The domain needs to be at a Windows Server 2012 or later functional level.
As per this documentation, there is no functional level requirement for gMSA
https://social.technet.microsoft.com/Forums/windows/en-US/97512065-c31c-49c2-a346-e61b2fe042f9/groupmanaged-service-accounts-in-the-presence-of-a-downrev-dc?forum=winserver8gen
Could you please clarify?

-

[2018-08-17 15:54] #13438 closed

[2018-08-17 15:56] aszego opened #13599 "Can't build mywebapi in Visual Studio 2017"
Trying to run the freshly cloned sample fails during build with error:

`/usr/share/dotnet/sdk/2.1.202/Sdks/Microsoft.NET.Sdk/build/Microsoft.PackageDependencyResolution.targets(327,5): error : Assets file '/src/obj/project.assets.json' not found. Run a NuGet package restore to generate this file. [/src/mywebapi.csproj]
`
Removing `--no-restore` at line 13 in Dockerfile.develop seems to resolve th

[2018-08-17 16:00] diberry commented on #13197
@YutongTie-MSFT Please reopen this issue. If I can do it, I don't know how.

[2018-08-17 16:04] jkindwall commented on #13575
Update:

Okay, I finally figured out my problem.  I was testing this through the azure portal, and when you call a stored proc from the portal, it prompts you to specify a partition key.  The portal assumes the partition key is a string, but the actual partition key values in my documents are integers.  So it was querying for documents with a partition key value of "1" and finding nothing because

[2018-08-17 16:05] dlepow commented on #13456
@kjakah08 - Both $TargetDedicated and $TargetDedicatedNodes are supported variable names, and you can use either according to your preference, according to the Batch team. Please let me know if you have other questions about this. Otherwise, I will close this issue. Thanks!

[2018-08-17 16:08] wtanimihardja opened #13600 "Software Engineer"
It would be much clearer in Figure 2, if there were color legend to represent individual partition. In addition, example scenario with 10 partitions is too overwhelm. Prefer to have much smaller number number of partitions and color legend provided to make easy people understand visualize what the partition is all about.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-08-17 16:08] Adam-Smith-MSFT commented on #13595
@DMoonesinghe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 16:09] Adam-Smith-MSFT commented on #13570
@boomalator Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 16:10] Adam-Smith-MSFT commented on #13568
Thanks @tamram We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 16:10] #13568 closed

[2018-08-17 16:14] dlepow commented on #11473
@pgsoub - Since we haven't heard back I'm recommending to close this issue. Thanks again for feedback.
#please-close

[2018-08-17 16:19] RajuKanumuri opened #13601 "Is there a way to use both Aggregate and Analytic Functions in the same query to get the result"
I am receiving an IOT data input every minute which has an Integer and String Value fields. In my stream analytics query how can I get the average of last 5 minutes for integer value field and the 5th minute value of the String variable. Example: [A,1],[B,2],[C,3],[D,4],[E,5] Result: E,3 (Last String value =E & Average of 1,2,3,4,5=3). Individually I am able to get these values using Aggregate and

[2018-08-17 16:26] karthick4d opened #13602 "The ARM template Is Failing now"
I used this ARM template to deploy the Alerts and Action groups. It was working until 14th of August 2018. But suddenly I am getting JSON payload errors while deploying the Alerts.
 "error": {
    "code": "BadRequest",
    "message": "Please validate the JSON payload."
  }

Please let me know If there is any change in the Scheme recently.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-08-17 16:26] ggailey777 commented on #13457
@jeffhollan or @paulbatum do we already have a list compiled of the triggers that attempt automatic retry?

[2018-08-17 16:29] iainfoulds commented on #12944
Thanks, @andyzhangx

@lastcoolnameleft The doc has been updated to detail the currently required _clusterrole_ and _clusterrolebinding_. This update should publish live within the next hour or so.

#please-close

[2018-08-17 16:30] Mike-Ubezzi-MSFT commented on #13566
@rajeevac Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 16:31] #11473 closed

[2018-08-17 16:32] kgremban commented on #13323
@theangellmethod Is it that you find the specific images in the Functions tutorial helpful, or are you concerned that the tutorials aren't identical?

[2018-08-17 16:33] #12944 closed

[2018-08-17 16:36] roygara commented on #13206
Hello @KeiroKamioka0000 , I'll add this question to the FAQ. Thanks for bringing this to our attention!

[2018-08-17 16:36] ggailey777 commented on #13447
Yes, you have a good point. Cloud Services was the competing PaaS offering, but I'm not sure what the status of it is. You could also potentially even add Functions to the mix. I am in the process of assigning this topic back to @cephalin, who owns the rest of the App Service content. @BryanTrach-MSFT, can you also assign this to @cephalin to investigate?

[2018-08-17 16:36] YutongTie-MSFT commented on #13197
@sodafatty Thanks for the screenshot.

@diberry Hi, I have reopened it. The reason why I closed it is the customer has no response within 3 days. Thanks!

[2018-08-17 16:37] iainfoulds commented on #10899
Thanks for the suggestion, @digeler. The link to the RBAC authorization doc is added, and there's additional engineering work on-going to improve this experience.

@MicahMcKittrick-MSFT For now, #please-close

[2018-08-17 16:38] YutongTie-MSFT commented on #13593
@jjgriff93
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 16:39] MicahMcKittrick-MSFT commented on #13565
Thanks for the question! We are investigating and will update you shortly.

[2018-08-17 16:39] MicahMcKittrick-MSFT commented on #13567
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 16:39] RajuKanumuri commented on #13601
<img width="256" alt="screen shot 2018-08-17 at 12 38 26 pm" src="https://user-images.githubusercontent.com/5324380/44277997-8e985f00-a21a-11e8-8cc1-9e6c3fe3132e.png">

[2018-08-17 16:40] MicahMcKittrick-MSFT commented on #13571
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 16:41] MicahMcKittrick-MSFT commented on #13590
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-17 16:42] #13524 closed

[2018-08-17 16:42] MicahMcKittrick-MSFT commented on #13598
Thanks for the question! We are investigating and will update you shortly.

[2018-08-17 16:43] MicahMcKittrick-MSFT commented on #13600
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-17 16:43] daveba commented on #13505
@MohitGargMSFT Your understanding is correct.  Also, there is an engineering item to look over these numbers in an upcoming sprint and update as appropriate.  I will request this issue to be closed at the moment as I've added a backlog item to update the docs. #please-close

[2018-08-17 16:45] ggailey777 commented on #13433
This request for additional examples is being tracked internally by [1325840](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1325840).
In the meantime,  #please-close per policy.

[2018-08-17 16:48] #8742 closed

[2018-08-17 16:51] iainfoulds commented on #13600
@MicahMcKittrick-MSFT I think that should be assigned to be @msfussell as the doc author instead, please.

[2018-08-17 16:52] MicahMcKittrick-MSFT commented on #13600
Thanks @iainfoulds! Sorry about that!

[2018-08-17 16:54] ggailey777 commented on #13301
Thanks @benc-uk for catching this. I have opened an internal work item ([1325845](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1325845)) to track getting this updated. Per feedback policy, #please-close

[2018-08-17 16:54] ahmedelnably commented on #13373
Opened https://github.com/Azure/azure-cli-extensions/issues/264 to track the version change

[2018-08-17 16:57] SteveL-CXP commented on #12843
@cynthn I have the script updated...

[2018-08-17 16:59] ggailey777 commented on #13117
@hannesne I've opened a work item to track your documentation request internally ([1325848](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1325848)). If you need an example more quickly, I suggest you ask this question either on [Stack Overflow](http://stackoverflow.com/questions/tagged/azure-functions) or in the [Functions Forum](https://social.msdn.microsoft.com/Forums/en-US/hom

[2018-08-17 17:02] ggailey777 commented on #12978
@jwargo and @camiloramirezf these are both great questions about working with the `context` object in a JavaScript function. @ColbyTresness is working on some improvements to the JavaScript documentation and would be interested in this feedback.

[2018-08-17 17:02] Mike-Ubezzi-MSFT commented on #13575
@jkindwall Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 17:03] DCtheGeek commented on #13569
@MirzaSikander Thanks for pointing out the issue!  I'll fix both of the first issues (correcting the cmdlet used back to `Get-AutomationPSCredential` and removing the duplicate wording).

On the issue of `PsDscRunAsCredential`, see [Running DSC with user credentials](https://docs.microsoft.com/powershell/dsc/runasuser) for more information.  Is the **PSCredential** that you are trying to use part

[2018-08-17 17:06] Mike-Ubezzi-MSFT commented on #13577
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 17:08] MichaelHauss commented on #13570
GPv2 storage accounts are where you can take advantage of all of the most recent storage features. I will add this information to the beginning of the quick start section.

[2018-08-17 17:08] mike-urnun-msft commented on #13589
@remyblok Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-17 17:10] kakridge commented on #13396
The instructions reference this command:

az mesh deployment create --resource-group kaSFMesh --template-uri https://sfmeshsamples.blob.core.windows.net/templates/helloworld/mesh_rp.linux.json --parameters "{\"location\": {\"value\": \"eastus\"}}"

Which in Azure Cloud CLI yields:
Deploying . . .
Unable to parse parameter: {\

I successfully ran the command by modifying the parameters portion:
az

[2018-08-17 17:11] kobulloc-MSFT commented on #13579
@alohaninja Thank you for the feedback!  We are investigating this and will get back to your shortly.

[2018-08-17 17:12] kobulloc-MSFT commented on #13599
@aszego Thank you for the feedback!  We are investigating this and will get back to your shortly.

[2018-08-17 17:14] mike-urnun-msft commented on #13582
@irari Thank you for your feedback! Could you link us the URL of the particular documentation you were following and this feedback is applicable to? That way, we can make sure your questions and feedback are addressed by right team

[2018-08-17 17:16] mamccrea commented on #12991
When we run the test, we know the data is complete upfront. In an actual job, data can arrive at any time and it can be late. The late arrival policy (located under **Configure -> Event ordering**) defines how late data can be, up to 20 days. The default action is to adjust late data to the current time minus the late arrival policy.

For this to work, we need the input data to be near real-time.

[2018-08-17 17:16] YutongTie-MSFT commented on #13593
@zhouwangzw Hi, I saw the latest update of the document is last year, I think the content may out of date. Can you please check it and update the document as necessary? Thanks a lot!

[2018-08-17 17:17] irari commented on #13582
Of course! https://docs.microsoft.com/en-us/azure/application-insights/app-insights-usage-cohorts

[2018-08-17 17:25] roygara commented on #13206
This change has been merged and will be live later today. Accordingly:

#please-close

[2018-08-17 17:25] rolyon commented on #13120
Hi @dcbrown16 I'm not able to trigger the scroll bar appearing the body. Here are the steps I'm using. Are these the steps you are using?
1. In Edge, open a doc page containing a feedback section.
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles
2. In the Feedback section, click Closed tab.
3. Expand a feedback item.

[2018-08-17 17:26] Mike-Ubezzi-MSFT commented on #13578
@parilla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 17:27] MicahMcKittrick-MSFT commented on #10150
@TomA-R I ran through this on my other subscription and was able to get farther than using my FTE subscription but applying the yml still produced an error

[code]

The only changes I made to the code was when I had to add my subscription ID to the input. Other than that all I did was copy paste

[2018-08-17 17:28] MicahMcKittrick-MSFT commented on #12956
@strimpak any update on this?

[2018-08-17 17:28] mike-urnun-msft commented on #13586
Hey @irari - Could you provide the URL of the documentation that this feedback is applicable to too?

[2018-08-17 17:28] jason-j-MSFT commented on #13560
@rondelzer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 17:29] iainfoulds commented on #13590
@iMartyn Sorry you ran into issues. I've submitted a PR to make the existing limitations on use of guest account and existing non-RBAC enabled clusters more prominent at the top of the article.

#in-progress

[2018-08-17 17:29] MicahMcKittrick-MSFT commented on #13070
Thanks for clarifying this @suhuruli!

@kieronlanning So seems like as of now we do not have a way to do these same steps using Docker-Compose. Once we do, I will make sure we get the correct steps added.

[2018-08-17 17:29] #13070 closed

[2018-08-17 17:29] rolyon commented on #13120
Hi @dcbrown16, A scrollbar has been added to the "In this article" heading list.
Do you prefer having the roles and providers in this list instead of current alphabet?
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

[2018-08-17 17:33] jason-j-MSFT commented on #13561
@KeiroKamioka0000
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 17:33] MicahMcKittrick-MSFT commented on #13558
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 17:35] jason-j-MSFT commented on #13564
@WhitWaldo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 17:36] MohitGargMSFT commented on #13559
@DanielJBrown Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-17 17:36] jason-j-MSFT commented on #13601
@RajuKanumuri
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-17 17:37] MohitGargMSFT commented on #13576
@tiny-dancer Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-17 17:39] MicahMcKittrick-MSFT commented on #13440
@girishgouda can you tell me what OS and version you are using so I can try this out as well?

[2018-08-17 17:40] mike-urnun-msft commented on #13602
@karthick4d Thank you for your feedback! Could you link us the URL of the particular documentation you were following and this feedback is applicable to? That way, we can make sure your questions and feedback are addressed by right team

[2018-08-17 17:40] MicahMcKittrick-MSFT commented on #13476
@sandormakai I will close this for now. If you need more information let me know and we can reopen and continue.

[2018-08-17 17:40] #13476 closed

[2018-08-17 17:41] MohitGargMSFT commented on #13505
@daveba Thanks Davanand.

@bingosummer We will now proceed to close this thread.

[2018-08-17 17:41] #13505 closed

[2018-08-17 17:41] mike-urnun-msft commented on #13592
@stevozilik Thank you for your feedback! Could you link us the URL of the particular documentation you were following and this feedback is applicable to? That way, we can make sure your questions and feedback are addressed by right team

[2018-08-17 17:41] jajens opened #13604 "Supported Browsers"
Note - the UI supports only modern browsers: Edge, Firefox and Chrome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac080129-df96-f794-3397-999ecc3d1955
* Version Independent ID: 69435e73-967c-72ac-b0af-02d6ef4767f2
* Content: [Create an Azure IoT Central application](https://docs.microsoft.com/en-us/azure/iot-central

[2018-08-17 17:44] karthick4d commented on #13602
Hi Mike,
The URL for the docs is below

https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solutions-resources-searches-alerts

[2018-08-17 17:45] mike-urnun-msft commented on #13588
@TechWatching Thank you for your feedback and we're glad that you were able to find the issue and resolve it. We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-17 17:46] #13590 closed

[2018-08-17 17:46] Minewiskan commented on #12310
@GaretAnderson @nheinbaugh I updated the article with additional information. New features were just added to both SSMS and PBID around this. Let me know if this update works for you.

[2018-08-17 17:47] mike-urnun-msft commented on #13602
Thanks @karthick4d

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926fc77a-c2ae-4fce-899d-d8feb2729edb
* Version Independent ID: dc8fce2e-038e-5ff3-c872-bf736e155ae3
* Content: [Saved searches and alerts in management solutions](https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solutions-resources-searches-a

[2018-08-17 17:48] MicahMcKittrick-MSFT commented on #13498
@gfilicetti any update on this?

[2018-08-17 17:49] #13433 closed

[2018-08-17 17:49] #13301 closed

[2018-08-17 17:50] #13117 closed

[2018-08-17 17:50] MicahMcKittrick-MSFT commented on #13554
@eqmwright as of right now you cannot use MSFT authentication app to approve the requests. However I think that would be a great idea!

The AAD team has suggested that you leave all feedback regarding this preview feature here

https://feedback.azure.com/forums/169401-azure-active-directory?category_id=166032

That way others can see and if they also want that feature they can upvote it and the pr

[2018-08-17 17:51] #13206 closed

[2018-08-17 17:51] kiranjshetty opened #13606 "Master node security for AKS"
I was going through some  blogs about AKS and below blog grabed my attention ,could you confirm my master node which holds my AKS cluster configuration is secure and isolated from another user AKS cluster(Need to know how master node security will be handled). Also please check below link and clarify.
https://itnext.io/aks-kubernetes-security-walk-through-challenge-2-dbe3ed16beec

---
#### Documen

[2018-08-17 17:52] #13554 closed

[2018-08-17 17:57] Mike-Ubezzi-MSFT commented on #13587
@smoms Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-17 17:59] theangellmethod commented on #13323
@kgremban

A bit of both - for the ones I listed in the last comment:
1) Architecture image - Helpful
2) Container image - helpful but more for consistency
3) Solution folder image - this could be helpful or listing the files like in the Deploy/Debug file: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-csharp-module .  I think listing the files might be better because the screensho

[2018-08-17 18:00] iainfoulds commented on #12362
@TomArcher Did your hear back on this one? I don't know if it's possible to currently do this with Terraform, as it's not strictly an Azure operation here. To create the Kubernetes service load balancer, you interact with the Kubernetes API itself. On the backend, an Azure load balancer is created, but the examples @MicahMcKittrick-MSFT correctly links to in terms of assigning a static address use

[2018-08-17 18:03] danieljsmarda opened #13607 "Failure Connection to Address [hostname]"
Hello,

I've tried following this tutorial exactly and I'm running into an error when trying to execute the module on a Raspberry Pi 3B running Raspbian. Please see the screenshot below. I've tried using both a company guest network and a mobile hotspot and received the same errors so I don't believe that this is a network issue. As you can see in the screenshot, I tried changing the hostname in /

[2018-08-17 18:03] iainfoulds commented on #12282
At the moment, this isn't a part of the Terraform provider support for AKS. The cluster autoscale feature is still in preview, and the suggestion would be to create a feature request at https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks to help track demand for this.

@MicahMcKittrick-MSFT For now, #please-close

[2018-08-17 18:04] Mike-Ubezzi-MSFT commented on #13596
@creationsoft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 18:10] cherylmc commented on #13591
Hi! It's in the text. "One of the settings you configure is the gateway type. The gateway type 'vpn' specifies that the type of virtual network gateway created is a VPN gateway."
A virtual network gateway is the object. VPN is the type of gateway you create. So, all VPN gateways are virtual network gateways.

[2018-08-17 18:10] cherylmc commented on #13591
Also, it's in the very first line in the article " A VPN gateway is a specific type of virtual network gateway that is used to send encrypted traffic between an Azure virtual network and an on-premises location over the public Internet."

[2018-08-17 18:17] TravisCragg-MSFT commented on #13581
@dcbrown16 Normally traffic does not go to the VPN Gateway unless it is destined for an on-premise location.

You can create UDRs on the subnet where the VMs are located to send all traffic to an address on-premise.

[2018-08-17 18:17] SnehaGunda commented on #13468
@jl-g thanks for the feedback, I updated the Table API docs to mention in the prerequisites section that this library is supported for .Net standard framework only and not .Net core.

[2018-08-17 18:17] SnehaGunda commented on #13468
#please-close

[2018-08-17 18:27] cephalin commented on #13373
Sounds good. Thanks guys for driving the decision. [VSTS item](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1325918) created.

[2018-08-17 18:29] cephalin commented on #13447
Good suggestion. @BryanTrach-MSFT Please assign it to me. [VSTS item](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1325921) created.

[2018-08-17 18:35] Mike-Ubezzi-MSFT commented on #13352
@lyrana Can you please provide more detail, such as, were you using the Azure Portal or the SQLPackage method of this tutorial?

In looking at the tutorial, the SQLPackage method issues a cmd which issues `/p:DatabaseEdition=Premium /p:DatabaseServiceObjective=P6`.

**Full Command:**
`SqlPackage.exe /a:import /tcs:"Data Source=mynewserver20170403.database.windows.net;Initial Catalog=myMigratedData

[2018-08-17 18:36] GeekActual commented on #13521
Hello Alberto, I referencing the text in the article that says
Yes, I am trying to programmatically set the minIoThreads and minWorkerThreads in the <processModel>, something that can't be done with Azure Websites.

It would be nice to have the promised _*(see below)*_ programmatic example included.

[2018-08-17 18:36] zhouwangzw commented on #13593
Sorry for the confusion. The page you referred is the old bing speech page, and will be deprecated. The new unified Speech Service is now in preview, please find documentation and SDKs here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

Thanks,

[2018-08-17 18:37] vasivara-MSFT commented on #13502
@jeewannc The error message: "An item with the same key has already been added" usually means there is a duplicate key but I don't see any duplicate keys in the JSON. I have assigned the issue to the content author to evaluate the scenario and update as appropriate.

[2018-08-17 18:37] cephalin commented on #13536
@frankmatull Thank you for your comment. However, the web.config file is a file in Laravel's public directory [by default](https://github.com/laravel/laravel/blob/master/public/web.config). Unfortunately this isn't a doc about Laravel, so for any Laravel-specific customizations (like whether you can remove a default file) you'll need to find guidance elsewhere. #please-close

[2018-08-17 18:38] Mike-Ubezzi-MSFT commented on #13465
@avidiyal Any updates? Has this been resolved? We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 18:38] #13465 closed

[2018-08-17 18:39] #13468 closed

[2018-08-17 18:43] martin1856 commented on #13282
We are seeing the same problem.  We have JIRA behind a load balancer setup for SSL Offload.  In our case, the URLs for Reply URL, Identifier, and Sign On URL  are all coming up as http instead of https.

[2018-08-17 18:46] lyrana commented on #13352
I was running the powershell:

$importRequest = New-AzureRmSqlDatabaseImport -ResourceGroupName
"myResourceGroup" ` -ServerName $servername ` -DatabaseName "MyImportSample"
` -DatabaseMaxSizeBytes "262144000" ` -StorageKeyType "StorageAccessKey" `
-StorageKey $(Get-AzureRmStorageAccountKey -ResourceGroupName
"myResourceGroup" -StorageAccountName $storageaccountname).Value[0] `
-StorageUri "http://

[2018-08-17 18:46] Mike-Ubezzi-MSFT commented on #13542
Adding a comment here, as I hope it helps with resolution. Please take a look at [Connecting to on-premises data sources with Azure On-premises Data Gateway](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-gateway), specifically the [Ports](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-gateway#a-nameports-aports) section, which details all th

[2018-08-17 18:49] Mike-Ubezzi-MSFT commented on #13352
@lyrana Awesome, you resolved your issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 18:49] #13352 closed

[2018-08-17 18:52] SnehaGunda commented on #13549
@datarelish the URL is not reachable, however data is pulled when you connect to it from PowerBI so the demo account works. WRT to the lengthy URL and zoom option, I have added code formatting around the URL and key, I hope it fixes the issue.

[2018-08-17 18:53] miaojiang commented on #13490
I followed the tutorial again from scratch and it worked. Thanks for all the help.

[2018-08-17 18:59] SnehaGunda commented on #13549
#please-close

[2018-08-17 19:10] mapoitras commented on #13542
I believe this applies only to the Communication between Azure and the on-premise data gateway. For example. the Data Gateway will communicate with the on premise SQL server default port is 1433 which is not on this list but we know works.  The questions is how can I pass in a different port than 1433 to the Logic App SQL Server Connector.

[2018-08-17 19:17] gsacavdm commented on #13534
Updated the doc to reflect the gap with regards to Load Balancer standard.]
Thanks for calling this out @codyrat .

@femsulu , can you please close this issue.

[2018-08-17 19:26] ecfan commented on #9848
@middlewaysas We've published an update that clarifies that the filters list exists elsewhere:

https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform#create-liquid-template-or-map-for-your-integration-account

[2018-08-17 19:33] Mike-Ubezzi-MSFT commented on #13542
In the case of Logic Apps connecting to On-Premise Data Gateway, the traffic from Logic Apps is going to use HTTPS/443. The Data Gateway will then route to the on-premise SQL database instance on server:1433. This is all part of the auto-configuration of the Logic-Apps connector. **My Assumption**

[2018-08-17 19:35] Jiping-hi commented on #6788
1. changing port doesn't work;
2. found error log in "Event Viewer(local) > Windows Logs > Application",  two related error logs, one says:

[2018-08-17 19:47] Adam-Smith-MSFT commented on #13486
@KeiroKamioka0000 What specific version of Storage explorer are you using ? This could be indeed a bug. Could you also provide me with a download link of the Japanese version ?

Thanks.

[2018-08-17 19:47] mike-urnun-msft commented on #5796
@HerbM We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 19:47] #5796 closed

[2018-08-17 19:58] iainfoulds commented on #13514
I've just ran through this for a separate doc update and it works without problems.

@piizei To clarify, cert-manager/Let's Encrypt does work with the Azure domains, but there is rate limit of 20 certs per week (I believe) that restricts the number of certs that can be issued with the _production_ Let's Encrypt API endpoint. The doc was updated to use _staging_ endpoint, which does not have this r

[2018-08-17 19:58] veyalla commented on #13531
@johnmay1 Do you have any other application like a webserver etc running that using the SSL port 443?

[2018-08-17 20:00] iainfoulds commented on #13498
I can confirm this works as expected, I just completed the steps for a separate doc update.

@gfilicetti Please ensure that the second Helm chart is also installed for the app that is used by the second ingress routing rule - `helm install azure-samples/aks-helloworld --set title="AKS Ingress Demo" --set serviceName="ingress-demo"`

[2018-08-17 20:02] Mike-Ubezzi-MSFT commented on #13607
@danieljsmarda Thanks for the feedback. We are actively investigating and will get back to you soon but wanted to run this by you:

Can you run the following command to check the modules running on your board:
`sudo journalctl -u iotedge`

The is more information: [IoT Edge security daemon fails with an invalid hostname](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#iot-edge-securit

[2018-08-17 20:10] kthejoker commented on #11701
Hey Mike, Thanks for the answer!

[2018-08-17 20:11] Karishma-Tiwari-MSFT commented on #13194
@cynthn Since Availability set comprises of Fault domain and update domain, this statement from the doc:
"To change the availability set, you need to delete and then recreate the virtual machine."
it implied to me that we need to delete and then recreate VM to update the _update domain_ as well.

I could not find any other documentation on how to update the update domain other than this [doc](http

[2018-08-17 20:12] MicrosoftGuyJFlo commented on #13042
The fix should be live now.
#please-close

[2018-08-17 20:14] Mike-Ubezzi-MSFT commented on #6788
@Jiping-hi Can you please follow the steps outlined in [Troubleshooting](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#troubleshooting), followed by sending the data collected in [Collect trace files](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#trace-files), and send the information to askcosmosdb@microsoft.com

Thank you!

[2018-08-17 20:16] Karishma-Tiwari-MSFT commented on #13347
@chpaadmin Thanks for bringing this to our attention.
The product team is working on the fix. We'll share the updates here once it is fixed.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 20:17] Karishma-Tiwari-MSFT commented on #13308
@vindiki Any updates?

[2018-08-17 20:33] #12282 closed

[2018-08-17 20:33] #13490 closed

[2018-08-17 20:45] iainfoulds commented on #11654
@gkaleta The doc has been updated with steps to show to create/use a static public IP address. This should publish later on this afternoon.

#please-close

[2018-08-17 20:48] daveba commented on #13453
@Strozak @MarileeTurscak-MSFT I've updated the article (https://github.com/MicrosoftDocs/azure-docs-pr/pull/49322) to show the client id returned when creating the user assigned managed identity is the same as the client id when making the request to obtain a token.  Also, the call to the Azure Resource Manager endpoint was missing the trailing forward slash at the end of the URL (https://manageme

[2018-08-17 20:49] tbebekis opened #13609 "There is no "Invite" button when adding a guest to an application"
Section: Add guest users to an application. Step 8: "If the guest user does not already exist in the directory, select Invite."

There is no Invite button. So the image published with this tutorial in step 8, is inaccurate.

Here is what I get.

![inviteguestmissing](https://user-images.githubusercontent.com/5454973/44288162-0648a700-a278-11e8-9150-80c9b18f9c80.png)

---
#### Document Details

⚠ *

[2018-08-17 20:53] tbebekis commented on #13609
Hmm...

You must enter the UPN of the user, and if the user is not in an existing user, then the "Invite" button actually shows up.

[2018-08-17 21:07] iainfoulds commented on #10399
As @berndverst notes, this can now be done with the Azure CLI. I have created a PR to update the doc, which should merge and publish this afternoon.

#in-progress

[2018-08-17 21:13] MicahMcKittrick-MSFT commented on #13543
@Ayanmullick I have been playing around with this and it seems if you are trying to redeploy from a marketplace image that requires you to accept terms and has additional terms on top of it such as plan information you need to deploy from an image and not a snapshot.

[code]

To get these terms it took a bit of digging. I had to run `Get-AzureRmVmImageOffer -Publisher "" -Location ""`

Here is my

[2018-08-17 21:25] TravisCragg-MSFT commented on #13604
@jajens Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 21:28] Mike-Ubezzi-MSFT commented on #6788
@Jiping-hi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 21:28] #6788 closed

[2018-08-17 21:38] TylerMSFT commented on #12299
Hi,
There are a few ways to remove an app from the local dev cluster:
- Close VS  (removes the app you were running in VS)
- Do a build > Clean Solution (the app producted by the open solution will be removed)
- You can use the PowerShell script: Delete-ServiceFabricApplicationResource.ps1, e.g. Delete-ServiceFabricApplicationResource.ps1 fabric:/todolistapp  (this PowerShell cmdlet is installed u

[2018-08-17 21:39] jason-j-MSFT commented on #13416
@ranarah we are closing this issue for now, please feel free to add comments as needed.

[2018-08-17 21:39] #13416 closed

[2018-08-17 21:42] MightKamioka commented on #13486
@Adam-Smith-MSFT
This is Keiro, from home.
I currently out of office.

The screenshot is from the Portal, not the Storage Explorer.

Thanks

[2018-08-17 21:43] jason-j-MSFT commented on #13530
@ShubhaVijayasarathy in the Note section:
"...as shown in the [Scaled out event processing][Scaled out event processing] sample."

The Note section is right above the Next Steps section:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-framework-getstarted-receive-eph#next-steps

[2018-08-17 21:50] jason-j-MSFT commented on #13533
@Minewiskan are there any plans to add any other methods to this document?  If not, @beaubgosse I would say this current procedure is the only way.

[2018-08-17 21:50] MicahMcKittrick-MSFT commented on #13598
@EVMartinez The domain must be at at least the Windows Server 2012 R2 or later version in order to utilize gMSA as the document states.

[2018-08-17 21:50] #13347 closed

[2018-08-17 21:53] MicahMcKittrick-MSFT commented on #13567
@gmoed you are correct. Whenever doing any such operations with a VM that has multiple NICs you will always need to specify which NIC is the primary.

@cynthn can we add a note about this in the doc?

[2018-08-17 21:57] yushwang commented on #13581
What @TravisCragg-MSFT said.

@dcbrown16, the quoted statement is about the GatewaySubnet. Adding a UDR default route to the GatewaySubnet will break the Azure VPN gateways. For your regular VMs, you can always associate a UDR default route pointing to the Azure VPN gateway to achieve forced tunneling, of course you will need to add a "default site" on the gateway if you are not using BGP.

@chery

[2018-08-17 21:58] #10399 closed

[2018-08-17 22:00] EVMartinez commented on #13598
Seems that the documentation is open to interpretation, this Service Fabric document states:
The domain needs to be at a Windows Server 2012 or later **functional level**
For IT Admins a Functional Level easily can be confused with Forest Functional level, if so, this document Is not correct, since the only requirement for gMSA is a Windows 2012 DC with no specific Forest Functional level required

[2018-08-17 22:05] mike-urnun-msft commented on #13542
Hi @mapoitras Let us know if the answer above helps

[2018-08-17 22:11] jason-j-MSFT commented on #13555
@heatherita711 I see in this section:
https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-u-sql-sdk#working-directory

"When running the U-SQL script locally, a working directory is created during compilation under current running directory. In addition to the compilation outputs, the needed runtime files for local execution will be shadow copied to this working director

[2018-08-17 22:18] jason-j-MSFT commented on #13560
@bwren the C# sample is here:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-collector-api#c-sample

Line 43:
var encoding = new System.Text.ASCIIEncoding();

Could you take a look?

[2018-08-17 22:26] tfitzmac commented on #13284
@aindeevar - thanks for this question. I am trying to track down more details.

[2018-08-17 22:31] danieljsmarda commented on #13607
@Mike-Ubezzi-MSFT thank you for the quick response! The hostname I put doesn't appear to be too long. I'm happy to go through some of the troubleshooting steps on Monday morning (including making the logs more verbose if necessary), but in the meantime, here's the output of the "journalctl -u iotedge" command. Do you see any errors that I'm not seeing?

Thanks and have a great weekend!

<img width

[2018-08-17 22:35] MicahMcKittrick-MSFT commented on #13598
@EVMartinez makes sense. I will assign to the content author to review and see if we can be more clear.

[2018-08-17 22:39] jason-j-MSFT commented on #13564
@carmonmills could you help route this to a content author, I am not able to assign it to anyone listed in the metadata.

[2018-08-17 22:43] jason-j-MSFT commented on #13601
@RajuKanumuri this repository is for focused documentation feedback rather than individual howto.  You question would best be asked here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics

If you find something that should be added to our documentation, do let us know!

[2018-08-17 22:43] #13601 closed

[2018-08-17 22:44] MicahMcKittrick-MSFT commented on #13565
@dcbrown16 Agreed that it does not make much sense to have an AV set with only 1 fault domain and 1 update domain but regardless, I was able to deploy one using the portal:

![image](https://user-images.githubusercontent.com/32313503/44291533-d4155600-a233-11e8-9d44-6182e67b95e9.png)

You user should be able to add multiple machines to the same AV set with 1 fault domain and 1 update domain but it

[2018-08-17 22:44] MicahMcKittrick-MSFT commented on #13523
@vabed I will close then. Please provide me with a link to what you are referring to and we can reopen and continue.

[2018-08-17 22:44] #13523 closed

[2018-08-17 22:44] kobulloc-MSFT commented on #13579
@alohaninja Thank you very much for your interest in this article!  We've reviewed this request with the product group and in this instance, the preference is not to focus on implementation details in the article.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conver

[2018-08-17 22:44] #13579 closed

[2018-08-17 22:45] MicahMcKittrick-MSFT commented on #13514
Thanks @iainfoulds for confirming this as well. I also had no issues.

@piizei I will close this for now but please try running through the doc again. If you are still seeing issues let me know and we can get it sorted out.

[2018-08-17 22:45] #13514 closed

[2018-08-17 22:51] conceptdev commented on #13537
I've made some updates to the doc - when the image cache expires you should see a shiny new X simulator.

I took a look at the code for Swift and also the other quickstart samples. In general, it doesn't seem like the 'basic' sample is supposed try to keep a 'local' copy of the data -- rather it treats the cloud-hosted database as the "master", which means whenever the app restarts it makes sense

[2018-08-17 22:51] conceptdev commented on #13537
#please-close

[2018-08-17 22:52] Karishma-Tiwari-MSFT commented on #13449
@misterspeedy Thanks for your feedback.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-17 22:53] ecfan commented on #13096
@MikeAinOz Hi Mike, we've published an update that now uses function groups, rather than individual functions, on the right side:

https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference

[2018-08-17 22:54] MicahMcKittrick-MSFT commented on #13606
@kiranjshetty all nodes and services running in Azure are isolated from other customers services. One such isolation is using the Virtual network associated with any service. The Vnet is an isolated service where only your services on that same Vnet can communicate. You can obviously add external endpoints to allow users outside the Vnet to connect but they are still isolated.

Can you elaborate a

[2018-08-17 22:56] MarileeTurscak-MSFT commented on #13544
I am closing this issue for now but if this does not answer your question, please leave a comment or open a new issue and we will gladly continue the discussion.

[2018-08-17 22:56] #13544 closed

[2018-08-17 22:57] ecfan commented on #13363
@TWolverson We updated the article to clarify the difference between public and private certificates: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-certificates

@mike-urnun-msft Could you #please-close, thanks!

[2018-08-17 22:58] ecfan commented on #13467
@BryanTrach-MSFT Hi Bryan, can you #please-close, thanks!

[2018-08-17 22:59] YutongTie-MSFT commented on #13593
@jjgriff93
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 22:59] #13593 closed

[2018-08-17 23:00] ecfan commented on #13467
+ @mike-urnun-msft for help with #please-close, thanks!

[2018-08-17 23:00] mike-urnun-msft commented on #13363
Hey @TWolverson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-17 23:00] #13363 closed

[2018-08-17 23:12] heatherita711 commented on #13555
I created the project, added the USQL SDK from NuGet and added LocalRunHelper.exe. If I try to call DoRun I get an error that says System.ArgumentException: 'RuntimePath'

I have tried adding ScopeCompiler and ScopeEngineManaged as references to my project. If I manually copy the entire directory to my debug folder then the code works. Is there something else that I’m missing?

From: Jason J <noti

[2018-08-17 23:36] brett-todd commented on #10835
Logging is working.
However, the screenshot in section 4 of this article is for the Standard Load Balancer rather than Basic.

[2018-08-17 23:40] christiankuhtz commented on #13201
@jquinn99002 Can you please explain what exactly you're looking for please?  I don't recall removing anything from this article.

[2018-08-17 23:53] kalyankrishna1 commented on #12476
Its a known issue and is the process of being fixed.

Certificates created through PowerShell are created using a different encoding than the certificates created through the Ibiza Portal, and a bug in UI does not handle these two different encoding correctly.

[2018-08-17 23:54] SnehaGunda commented on #13317
@lafe I added a statement to all the Table API docs that `Microsoft.Azure.cosmosdb.table` library is currently available for .NET Standard framework only, it's not yet available for .NET Core. Adding .Net core support is in our backlog.

WRT to .Net core sample that uses 'Microsoft.WindowsAzure.Storage.Table' I sent an email to our dev team asking for any existing samples, will get back to you whe

[2018-08-18 00:17] Alberto-Vega-MSFT commented on #13398
@Ayanmullick [Azure SQL Database Intelligent Insights](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-intelligent-insights) takes care of all that for you. Please read the doc and there is a really good [demo ](https://channel9.msdn.com/Shows/Azure-Friday/Get-Intelligent-Insights-for-Improving-Azure-SQL-Database-Performance?ocid=player) of what it can do where it surfaces for you

[2018-08-18 00:17] #13398 closed

[2018-08-18 00:29] jajens commented on #13604
Sure – this came from a CSS ticket where a user was trying unsuccessfully to use IE11 (this is happened twice) and there is no official documentation regarding supported browsers for customers to discover.

Thanks,
Jay
From: TravisCragg-MSFT <notifications@github.com>
Sent: Friday, August 17, 2018 2:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jay Jensen <jajens@microsoft

[2018-08-18 00:52] gmoed commented on #13567
@MicahMcKittrick-MSFT yes I know, with the code that I pasted it will leave the primary nic the same as the original VM

[2018-08-18 01:06] BryanTrach-MSFT commented on #13467
@neligajb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-18 01:06] #13467 closed

[2018-08-18 02:06] darrellbooker opened #13614 "Unable to Access Web API"
Followed docs and successfully retrieving an access token. But when attempting to us to hit Web API I get Unauthorized, invalid_token.

Keep in mind this is the same API I have no trouble hitting using a Sign In/Sign Policy.  Seems like my new ROPC doesn't have access to the API somehow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-08-18 02:26] aapalm opened #13615 "Some of the cmdlets appear to be obsolete (yet still working)"
Invoke-ServiceFabricChaosTestScenario appears to be obsolete with the latest Service Fabric Sdk (3.2.162).  The cmdlet still works, though based on the warning we should be using Start-ServiceFabricChaos, Stop-ServiceFabricChaos, and Get-ServiceFabricChaosReport.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35a4b3f2-

[2018-08-18 03:09] johnmay1 commented on #13531
Yes, I have IIS sever installed and I am using it on daily basis.

John

On Fri, Aug 17, 2018 at 3:58 PM Venkat Yalla <notifications@github.com>
wrote:

[2018-08-18 03:56] mufeez-amjad opened #13617 "Missing links for documentation"
The following doc has 2 missing links for documentation.

[code]

[2018-08-18 04:06] kiranjshetty commented on #13606
Vnet I can agree, because am already using AKS but master node is not within my Vnet. Am worried about master node itself as all orchestration is done by master which holds my all configuration. As in multi tenant environment how my master is secure from others AKS master.
Also please check the link which I provided in my earlier query and comment.

[2018-08-18 04:08] #13617 closed

[2018-08-18 04:58] veyalla commented on #13531
What's going on here is that the edge hub is trying to listen for downstream connections on port 443 and failing to acquire it as it already used by IIS. To get past this, from the portal, click **Set Modules**,  then click **Advanced Runtime Settings** and edit the edge hub create options to remove the 443 port binding. Save the runtime settings and submit the updated deployment after clicking ne

[2018-08-18 05:04] girishgouda commented on #13440
Following are the configuration i am using . I am attaching the whole json template . Instead of relying on my inputs why can you give an working sample with any VM .This is going nowhere

"hardwareProfile": { "vmSize": "Standard_A7" },

"publisher": "MicrosoftWindowsServer",
"offer": "WindowsServer",
"sku": "2016-Datacenter",
"version": "latest"

________________________________
From: Micah <noti

[2018-08-18 05:40] tiny-dancer opened #13620 "Highlighting requirements from "Obtain access tokens" content in this page."
After spending the majority of the day on this, I found the "Obtain access tokens" content is equally important in how applications are registered.  The content on this "Register your application" page led me to look past application uri (optional) and published scopes without appreciating the consequences of doing so.

After solving the issue on why our implementation wasn't working, I realized a

[2018-08-18 05:59] simeyla commented on #12901
@MicahMcKittrick-MSFT  Well... I'm not having much luck either.
First time ever trying to use Azure functions. This is what I have:

azure-functions-core-tools@2.0.1-beta.35

Node v10.5

.NET Core SDKs installed:
  2.1.201 [C:\Program Files\dotnet\sdk]
  2.1.202 [C:\Program Files\dotnet\sdk]
  2.1.301 [C:\Program Files\dotnet\sdk]
  2.1.400-preview-009063 [C:\Program Files\dotnet\sdk]
  2.1.400-pr

[2018-08-18 06:58] lafe commented on #13317
Thank you very much!

[2018-08-18 07:12] girishgouda commented on #13440
Attaching the screen shot and the log file for extensions

________________________________
From: Girish Goudar <girishgouda@hotmail.com>
Sent: Saturday, August 18, 2018 5:04 AM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs
Cc: Mention
Subject: Re: [MicrosoftDocs/azure-docs] Vm extension says "Connected to another account" (#13440)

Following are the configuration i am using . I am attach

[2018-08-18 07:36] kieronlanning commented on #13070
Thanks everyone.

[2018-08-18 08:53] githubavi opened #13621 "Not able to connect to my Azure account"
Hi, I have my own personal Azure account (pay as you go). I want to connect VI to that azure subscription. But it is failing. From the documentation it seems, even I have paid Azure subscription account, I will not be able to connect. Is my understanding is correct?

Otherwise can you help me to connect to my azure account? (I have already followed the steps related to permissions for my Azure acc

[2018-08-18 09:10] TravisCragg-MSFT commented on #13614
@darrellbooker Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-18 09:11] TravisCragg-MSFT commented on #13615
@aapalm Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-18 09:12] TravisCragg-MSFT commented on #13617
@mufeez-amjad could you please share a link to the doc you are referring to?

[2018-08-18 10:22] goncalvesj opened #13622 "Cannot delete subscription"
Is there a way to delete a "Azure Active Directory Subscription" (Offer MS-AZR-0110P) ?
There are no options for that in both the Azure portal and Account portal.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content:

[2018-08-18 14:02] MedAnd commented on #12977
@zuhairp - this is the reason I opened the issue :relaxed: as the docs in their current form state:

the above could be understood to mean using a NEW or different "ITransaction object will show the last committed transaction". I am hoping the docs can be made more explicit in regards to the scenario detailed above, specifically the following words:

maybe the document can be clarified in relation

[2018-08-18 14:53] mike-urnun-msft commented on #13620
@tiny-dancer Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-18 14:55] mike-urnun-msft commented on #13621
@githubavi Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-18 14:56] mike-urnun-msft commented on #13622
@goncalvesj Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-18 15:08] techronaut commented on #6325
@sspage Thank you. This resolved the following error we encountered during FreshDesk SSO setup:
<Login was unsuccessful! - Validation Failed : Invalid Signature on SAML Response>

[2018-08-18 16:10] rattaphoom opened #13625 "A"
A

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61d93091-7054-48af-bf9a-fe4f6bad231a
* Version Independent ID: 419a0e45-3f15-a220-8b16-fa420b464cae
* Content: [Face API C# quickstart - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickstarts/csharp)
* Content Source: [ar

[2018-08-18 16:45] benoitc opened #13626 "Are nested document content stored"
Reading the original paper it seems that Only tuple `{PartialPath, Id}` are indexed. But then what is the code to filter using the content on that path? Are you each time fetching the doc and then computing the content/ subdocument related to this path or are fragments/sub documents indexed? This part of the doc isn't clear. IT would also help to figure the design of the document since indexing al

[2018-08-18 17:07] rishisaraf11 opened #13627 "No option to run emulator in mac"
I use mac. To evaluate cosmosdb I want to use emulator but there is no option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos DB Emulator](https://docs.microsoft.com/en-u

[2018-08-18 17:53] sergaz-msft commented on #13377
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-18 17:53] #13377 closed

[2018-08-18 18:40] agvardha opened #13628 "ASDK version my "Update" box in Region Management says Not Found!!"
I installed the ASDK last week. I think mine is something 18xx something. Dashboard is also different than the one you show here. So my Update box says Not Found. So how do I get the version? Kindly clarify. I hope there is a Power Shell script I can run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e7184f5-2c6b-ad9

[2018-08-18 18:44] SaurabhSharma-MSFT commented on #13473
@ajhstn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-18 18:44] #13473 closed

[2018-08-18 18:44] SaurabhSharma-MSFT commented on #13480
@ajhstn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-18 18:44] #13480 closed

[2018-08-18 21:27] agvardha commented on #13628
Finally found out. Go to C:\CloudDeployment\Logs and open the file AzureStackStampInformation.json. That has the
 "StampVersion":  "1.1805.1.47",

My guess is this is the version of ASDK. If someone could confirm that would be awesome. I also discovered just before downloading the ASDK they do reveal the version number. For future one should write it down and keep it :)

![image](https://user-imag

[2018-08-18 22:50] Alberto-Vega-MSFT commented on #13454
@ljmack00 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-18 22:50] #13454 closed

[2018-08-19 00:29] HarshSingh1986 opened #13631 "Disk reattach command"
With last command, Managed Disk (OS DISK ) got added of 30 GB , instead of required Data Disk of 128 GB. Here OS Disk and Data Disk both looks like got same disk added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34301147953d
* Version Independent ID: c2bc2467-8743-491c-c84c-f6983772f4da
* Co

[2018-08-19 01:24] jfoshee opened #13632 "DSC?"
This is an excellent article (and points at a gap in VSTS tasks).  But I do not know what DSC stands for, and though it is used throughout the article it is never defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 739d6ac9-97b6-7a95-a1dd-e5379793aac3
* Version Independent ID: bd5c7f6a-6bf7-37e7-1e33-4316582ac608
*

[2018-08-19 01:58] mike-urnun-msft commented on #13625
@rattaphoom Did you have a particular feedback? We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 01:58] #13625 closed

[2018-08-19 02:00] mike-urnun-msft commented on #13626
Hi @benoitc Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-19 02:02] mike-urnun-msft commented on #13627
Hi @rishisaraf11 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-19 02:07] mike-urnun-msft commented on #13628
Hi @agvardha Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-19 02:10] mike-urnun-msft commented on #13631
Hi @HarshSingh1986 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-19 02:12] mike-urnun-msft commented on #13632
Hi @jfoshee Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-19 02:12] mike-urnun-msft commented on #13549
@datarelish We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:12] #13549 closed

[2018-08-19 02:13] mike-urnun-msft commented on #13537
@GrantMeStrength We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:13] #13537 closed

[2018-08-19 02:13] spottedmahn opened #13633 "Add User w/ their Work Account Not Personal Account"
When I go add a user, it doesn't ask me which type, only their email address.

I have a personal account and I want to grant my work account access to a resource group.  Both accounts have the same email address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3bc72-3623-6acf-44e2-887ad49ffd96
* Version Independent I

[2018-08-19 02:25] mike-urnun-msft commented on #10899
@digeler
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:25] #10899 closed

[2018-08-19 02:26] mike-urnun-msft commented on #11035
@alaconda
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:26] #11035 closed

[2018-08-19 02:27] mike-urnun-msft commented on #11654
@gkaleta
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:27] #11654 closed

[2018-08-19 02:28] mike-urnun-msft commented on #11786
@turnma
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:28] #11786 closed

[2018-08-19 02:28] mike-urnun-msft commented on #11919
@cpressland
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:28] #11919 closed

[2018-08-19 02:28] mike-urnun-msft commented on #11920
@brownken
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:28] #11920 closed

[2018-08-19 02:29] mike-urnun-msft commented on #12010
@mganeshphani
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:29] #12010 closed

[2018-08-19 02:29] #12519 closed

[2018-08-19 02:29] #13010 closed

[2018-08-19 02:30] #13042 closed

[2018-08-19 02:30] #13144 closed

[2018-08-19 02:31] #13386 closed

[2018-08-19 02:35] #13475 closed

[2018-08-19 02:35] #13536 closed

[2018-08-19 02:38] mike-urnun-msft commented on #13592
@stevozilik
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-19 02:38] #13592 closed

[2018-08-19 02:46] Gamecock opened #13634 "Signature identifier"
The example for using a SAS require a signature identifier:https://docs.microsoft.com/en-us/rest/api/storageservices/service-sas-examples
How do I generate the identifier from https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-explorer-blobs#get-the-sas-for-a-blob-container

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-08-19 03:02] hectoralicea commented on #11969
appears that all of these three sites are down:  Unable to do yum updates or build my servers.  What's up with that?   https://rhui-1.microsoft.com/pulp/repos/microsoft-azure-rhel7/repodata/repomd.xm, https://rhui-2.microsoft.com/pulp/repos/microsoft-azure-rhel7/repodata/repomd.xm, https://rhui-3.microsoft.com/pulp/repos/microsoft-azure-rhel7/repodata/repomd.xm

[2018-08-19 04:52] SnehaGunda commented on #13627
@rishisaraf11 Azure Cosmos DB emulator is currently supported for Windows platform only, can you please vote for this feature in uservoice: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18533509-add-documentdb-emulator-support-for-mac-os-x-and This will help us prioritize the feature accordingly.

[2018-08-19 04:52] SnehaGunda commented on #13627
#please-close

[2018-08-19 06:28] myokeeh commented on #12268
"ms-app://" is not "ms-appx-web://..."

You will leave anyone looking at that literally down the wrong path.

[2018-08-19 06:35] wmengmsft commented on #5391
@patrickjlee, Azure Function has a limitation today with Cosmos DB Table due to the Newtonsoft.Json dependency conflict. Please see https://github.com/Azure/azure-functions-host/issues/1751. The should be resolved with Azure Function v2.

[2018-08-19 07:36] SirichaiLordsin commented on #13549
ไง
________________________________
จาก: Mike Urnun <notifications@github.com>
ส่ง: 19 สิงหาคม 2561 9:13:04
ถึง: MicrosoftDocs/azure-docs
สำเนาถึง: Subscribed
ชื่อเรื่อง: Re: [MicrosoftDocs/azure-docs] Azure Cosmos DB data is inaccessible and the full master key isn't accessible unless you reduce browser size down (#13549)

Closed #13549<https://github.com/MicrosoftDocs/azure-docs/issues/13549>.

[2018-08-19 08:12] SnehaGunda commented on #5391
@patrickjlee In addition to the above following are few more comments from Wenbin:

* We don’t have a sample for the .Net Core version of the legacy Azure Storage SDK. Our focus right now is to create our own .Net Core version Table SDK. We will deliver a preview of that soon, no ETA’s yet.

* Unable to find a version of 'Microsoft.Azure.DocumentDB' that is compatible with 'Microsoft.Azure.CosmosD

[2018-08-19 11:17] pkl728 opened #13636 "Azure ML Workbench installer fails"
MacOS High Sierra 10.13.6
AmlWorkbenchSetup.dmg

8/19/2018 7:09:00 AM 1: Installer [Information] - 0: Creating engine
8/19/2018 7:09:00 AM 1: Installer [Verbose] - 0: Setting up command line args
8/19/2018 7:09:00 AM 1: Installer [Information] - 0: Invoked with command line arguments: "/private/var/folders/5c/j2vspzy96_1fqrnt72_s1yrm0000gn/T/AppTranslocation/387782C3-E2FC-450B-A12E-3E8C4D8924C8/d/

[2018-08-19 11:35] patrickjlee commented on #5391
@wmengmsft re "This should be resolved with Azure Function v2": thanks, but you've left the obvious question unanswered: when will this be fixed?

[2018-08-19 12:16] JozoSlejko opened #13637 "Replication process"
Following sentence in the Step 4: "Tracked changes for a machine are held in a .hrl file."
Isn't this true only for Hyper-V scenarions since .hrl files are Hyper-V Replication Log files?

Following sentence in the Step 1: "When you enable replication for a VM, it begins to replicate in accordance with the replication policy."
VMware to Azure has continuous replication regardless of the replication

[2018-08-19 12:59] JozoSlejko opened #13638 "Double sentence"
There is a double sentence: "You can also replicate VMs running on hosts managed by System Center Virtual Machine Manager (VMM)."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9913f3-ec70-ea20-86f4-ffb74f1fadb8
* Version Independent ID: bead153a-cfb4-977f-345f-d526a15dd3bd
* Content: [Common questions - Hyper-V to A

[2018-08-19 13:02] piotrek-k opened #13639 "No "Application Insights Search" window"
I have dotnet 2.1.302 and Visual Studio 15.7.6 installed. Although all conditions specified in "prerequisites" are satisfied, I can't find "Application Insights Search" window in menus in Visual Studio (searching using `ctrl+q` doesn't help either). Do I need to enable it somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-08-19 13:17] SQLJunkie opened #13640 "Verbose Logging"
Is there an option for verbose logging to be sent to the screen instead of a file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95dca004c
* Content: [Copy or move data to Azure Storage with AzCopy on Windows](https://docs.micros

[2018-08-19 13:50] vashish76 commented on #11312
Hi

This issue seems to have not been resolved. I am getting the following error..

"HTTPError: 400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Handwritten"

Appreciate if you could help in solving the above issue

[2018-08-19 13:54] JozoSlejko opened #13641 "What does Site Recovery install on Hyper-V VMs?"
The statements in this section are referring to the VMware to Azure scenario. Configuration server and process server are VMware scenario components and they are not used in Hyper-V scenario this document describes.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9913f3-ec70-ea20-86f4-ffb74f1fadb8
* Version Independen

[2018-08-19 14:03] JozoSlejko opened #13642 "Can I fail back to a different location?"
"Learn more" link in this section is pointing to the VMware article.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9913f3-ec70-ea20-86f4-ffb74f1fadb8
* Version Independent ID: bead153a-cfb4-977f-345f-d526a15dd3bd
* Content: [Common questions - Hyper-V to Azure replication with Azure Site Recovery](https://docs.micro

[2018-08-19 14:38] BenHayat opened #13643 "Sample Vue App, requested"
Hi;
Could you please provide a working Vue Sample app (Single page app) that uses Azure B2C to login and authenticate and allow the Vue app to run?

Thank you in advance!
..Ben

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370e4c33-91b6-eafb-1ced-0a079449d982
* Version Independent ID: cefd38c9-5c1e-c381-0549-ded07f752

[2018-08-19 15:06] sergaz-msft commented on #13272
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-19 15:11] sergaz-msft commented on #13437
Hello @smoms that is correct:

https://docs.microsoft.com/en-us/azure/iot-edge/

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-19 15:11] #13437 closed

[2018-08-19 15:15] sergaz-msft commented on #13501
Thanks for the extra details shared @dominicbetts .

@tymtam2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @dominicbetts in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-19 15:15] #13501 closed

[2018-08-19 15:16] sergaz-msft commented on #13507
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-19 15:16] #13507 closed

[2018-08-19 15:40] senthilkrishnankr opened #13644 "Get List of soft deleted blobs thru REST API"
Hello,
I need to get list of soft deleted blobs thru Azure blob REST API service. Based on returned list of blob names, i would like to undelete those blobs. Please let me know if it's possible to get list of soft deleted blobs thru Azure blob REST API service. Currently, I am able to list the soft deleted blobs only thru UI screen.

[2018-08-19 15:50] juongithub opened #13645 "All "Transact-SQL" links redirect to non-pertinent examples"
The documentation states that

 and

but actually the "Transact-SQL" links to not show any example how to do these scaling operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b861f9-4ed1-afc9-127c-dca2cbb98a56
* Version Independent ID: 967aa4c2-77eb-1ce8-e0bb-e12e705e3c61
* Content: [Scale single database reso

[2018-08-19 16:55] AndyLiTaiwan opened #13646 "How to deploy module by IoT Hub service SDK"
I can't find any document about this topic, does somebody know how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed3eb802-31f2-6c9c-7c8d-17b88f33f7c6
* Version Independent ID: fb1ea209-a141-85ef-c9b4-113d69536892
* Content: [Deploy Azure IoT Edge modules (CLI)](https://docs.microsoft.com/en-us/azure/iot-ed

[2018-08-19 18:04] jdogg89 commented on #11654
Please close, thank you

Thanks,

Justin Hauer

[2018-08-19 19:26] martingbrown opened #13647 "Time to update this to describe windows SSH client"
Windows 10 now has open ssh as an option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys with Windows for Linux VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ssh-from-windows)

[2018-08-19 19:33] michal-staniszewski opened #13648 "Vnet link to ExpressRoute vs. Vnet peering"
What is the relation between Vnet linking to ExpressRoute and Vnet peering, apart from obvious ExpressRoute connectivity to Onprem resources?
Do I still need Vnet peering for Vnets linked to the same ExpressRoute circuit to have the resources from linked Vnets communicate to each other?

Am I right that using Hub-and-Spoke Vnet topology I can overcome Vnet linking to ExpressRoute limitation?

Than

[2018-08-19 19:46] TravisCragg-MSFT commented on #13633
@spottedmahn Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:47] TravisCragg-MSFT commented on #13634
@Gamecock Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:48] TravisCragg-MSFT commented on #13636
@pkl728 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:50] TravisCragg-MSFT commented on #13640
@SQLJunkie Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:51] TravisCragg-MSFT commented on #13637
@JozoSlejko Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:51] TravisCragg-MSFT commented on #13638
@JozoSlejko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-19 19:52] TravisCragg-MSFT commented on #13639
@piotrek-k Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:54] TravisCragg-MSFT commented on #13641
@JozoSlejko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-19 19:54] TravisCragg-MSFT commented on #13642
@JozoSlejko Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 19:57] TravisCragg-MSFT commented on #13643
@BenHayat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-19 19:58] TravisCragg-MSFT commented on #13644
@senthilkrishnankr could you please provide a link to the doc that you are referring to?

[2018-08-19 19:59] TravisCragg-MSFT commented on #13645
@juongithub Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-19 20:00] TravisCragg-MSFT commented on #13646
@AndyLiTaiwan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-19 20:01] TravisCragg-MSFT commented on #13647
@martingbrown Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-19 21:08] lucasmike commented on #13527
hi team, any updates on this? I figured out that:
/.auth/logout?post_logout_redirect_uri=[x] is the one for signing users out
/.auth/me is for getting user info
what endpoint is for allowing users edit their profile?
is there another endpoint for allowing users delete their account?
are there any other endpoints? where is a full documentation for the entire API?

[2018-08-19 22:05] KeiroKamioka0000 commented on #13486
@Adam-Smith-MSFT
I'm back to office, with this account I confirm @MightKamioka Is my personal account which is accessible account from my home.

The Screen Shot is from the Portal, instead of the Storage Explorer.

[2018-08-19 22:29] agvardha commented on #13628
Just to give you full picture, this is how the Dashboard looks:
![image](https://user-images.githubusercontent.com/23228929/44313862-a57ab500-a3c4-11e8-954d-bfbe1f41bc4c.png)

[2018-08-19 23:32] dcbrown16 commented on #13565
Sorry @MicahMcKittrick-MSFT , I discovered that after posting as well and updated the feedback item but forgot to post here. I am unable to create an AV set with 1 fault domain and 2+ update domains.
I'm not entirely sure why this limitation makes sense as the update domains are, in my understanding, not hardware-dependent like fault domains are.
However, whatever the reasoning may be, I'd ask tha

[2018-08-19 23:38] dcbrown16 commented on #13120
@rolyon I too am unable to reproduce the scrollbar on the body again, although those are the steps that led to it before. Will let you know if I see it again.
IMHO yes, having the roles and providers spelled out in the heading list would be nice and I think would be easier for readers - I feel like people are more likely to look at the list and wonder what a certain role or provider name is than t

[2018-08-19 23:49] senthilkrishnankr commented on #13644
Here is the link that am referring

https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs

I am able to get list of all azure blobs (including soft deleted blobs) using the below Rest API URL. But I would like to get only list of soft deleted blobs. is there a way i can filter the results based on soft deleted blobs at service level  thru ODATA query?

https://myaccount.blob.core.wi

[2018-08-20 00:00] dcbrown16 commented on #13581
Thanks @TravisCragg-MSFT @yushwang !
Understood about the tunneling configuration. The customer I'm working with (through Azure Pro Direct) is also wondering why exactly we can't set a 0.0.0.0/0 route on the GW subnet. One would think that if it has a route set up going to on-premises and a route going back to the VM subnet etc., this should be sufficient (which is probably why you need a warning)

[2018-08-20 00:08] QiMata opened #13651 "Debugging Issue"
I am getting a debugging issue on this one. Everything else works fine up until I go to debug then I get sh: 1: [: Linux: unexpected operator. Also there is multiple copy past errors where "Node.js" was left in place of C.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d57262ff-a4b9-8117-6811-4906376063d0
* Version Ind

[2018-08-20 00:13] BenHayat commented on #13643
Thank you Travis;
I hope the team would put together a nice sample how to use Vue.js with Azure B2C. I can use one. :-)

[2018-08-20 00:35] ganesr commented on #13648
VNet peering and Links are unrelated. VNEt links are the way you connect an ExpressRoute circuit to a VNet. Since we have deprecated all classic APIs this is not relevant for VNet peering.

From: michal-staniszewski <notifications@github.com>
Sent: Sunday, August 19, 2018 12:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ganesh Srinivasan <Ganesh.Srinivasan@microsoft.com>;

[2018-08-20 01:27] Alberto-Vega-MSFT commented on #13541
@kvaes @bonova This document states that the expected performance for the [General Purpose Service Tier](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#general-purpose-service-tier) is *"**500**-7500 IOPS per data file"* while also linking to documentation for [Azure Premium Storage Disk Sizes](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premi

[2018-08-20 01:46] DanielJBrown opened #13653 "External DNS provider"
Hi it would be great if this article had links for the tasks needed to setup the DNS Zone and how to add the DNS entry etc.
Also would be good if it had comments about how xyz.onmicrosoft.com domains are handled...
I am trying to create a DNS Zone for mine but unsure if this will work because the onmicrosoft domains are all handled by microsoft right?

---
#### Document details

⚠ *Do not edit thi

[2018-08-20 02:53] AkshathaSP opened #13654 "Difference between blob rehydration from Archive to hot and Archive to cool ?"
[Enter feedback here]

What is the difference between blob rehydration from Archive to hot and Archive to cool ?
Is there any performance difference between the two ?
And is one of this faster than the other ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID:

[2018-08-20 03:30] AkshathaSP opened #13655 "Writing data directly to archive tier"
[Enter feedback here]

Can we write data directly to Archive tier if we are sure that the data is not going to be retrieved soon?
If yes, Is there any change in the pricing for writing directly to archive tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID:

[2018-08-20 04:03] TravisCragg-MSFT commented on #13651
@QiMata Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-20 04:14] femsulu commented on #13379
@jdogg89 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 04:14] #13379 closed

[2018-08-20 04:15] MotoManCan commented on #13426
Thank you! If you'd like to do a working session to test with this I'm available to do that as well. To clarify I am trying in the AzureGov in Arizona.

[2018-08-20 04:27] Noiskee opened #13656 "Authentications used by DMS"
Hi, What are the authentications supported by DMS connecting to the Source SQL Server and to the Destination Azure SQL DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f233fef5-5db2-8444-22ab-92045e36b119
* Version Independent ID: c243f2b3-febe-22aa-03de-0fa068fb7243
* Content: [FAQ about using the Azure Database Mig

[2018-08-20 05:27] Karishma-Tiwari-MSFT commented on #13308
@vindiki Looks like this is a known issue : https://github.com/Azure/azure-quickstart-templates/issues/3285
[Here](https://github.com/Azure/azure-quickstart-templates/issues/3285#issuecomment-293819375) are the steps you can take to ensure successful deployment.

Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the document as approp

[2018-08-20 05:28] kuhussai commented on #13655
Currently, it is not possible to upload data directly into the Archive tier.

[2018-08-20 05:38] kuhussai commented on #13654
There's no difference in rehydrate performance between Archive to Hot or Archive to Cool. Rehydrating from Archive is billed as a read from Archive so pricing is the same as well regardless of the destination tier.

[2018-08-20 05:38] dominicbetts commented on #10887
@prafullkotecha - I'm going to request that we close this documentation issue now - I understand you are now working with CSS is resolve the issue. Feel free to reopen this issue if you wish to continue the conversation. Thanks!

[2018-08-20 05:38] dominicbetts commented on #10887
#please-close

[2018-08-20 05:40] femsulu commented on #13445
@dgorocho-quest issue escalated to content author offline for deeper review.

[2018-08-20 05:44] femsulu commented on #13556
@ellacroi please review the comments for potential documentation enhancements.

[2018-08-20 05:47] dcbrown16 opened #13657 "App service plan"
As far as I can tell with some quick experimentation, the inbound (virtual) and outbound addresses are the same across apps in the same App Service Plan. Is this guaranteed behavior?
I believe being in the same App Service Plan means the apps are deployed in the same region, but from what I can tell they can be in different resource groups (and the resource groups themselves in different regions)

[2018-08-20 05:54] MikeAinOz commented on #13096
Hey that’s awesome!

From: Esther Fan <notifications@github.com>
Sent: Saturday, 18 August 2018 8:54 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike Allen <mike@mikeallen.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] In this article pane not scrolling (#13096)

@MikeAinOz<https://github.com/MikeAinOz> Hi Mike, we've published an upda

[2018-08-20 05:57] vashish76 opened #13658 "HTTPError 400 Error - Computer Vision"
Hi

I am getting the following error

"HTTPError: 400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Handwritten"

Appreciate if you could help in solving the above issue.

[2018-08-20 05:59] saravp123 opened #13659 "Conflicting default values for “query_maxretrywaittimeinseconds” and “query_maxretryattemptsonthrottledrequests”"
As per this document the default vales for below parameters are
“query_maxretrywaittimeinseconds” = 1000
“query_maxretryattemptsonthrottledrequests” = 1000.

But according to https://github.com/Azure/azure-cosmosdb-spark/wiki/Configuration-references, the default values are
“query_maxretrywaittimeinseconds” = 30
“query_maxretryattemptsonthrottledrequests” = 9.

Can you please let me know which one

[2018-08-20 06:02] femsulu commented on #13557
@StarkCaptain, yes this is supported. Here are a few resources. please let me know if you have any followup questions.
1. https://docs.microsoft.com/en-us/azure/role-based-access-control/tutorial-role-assignments-user-powershell
2.https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell
3. https://docs.microsoft.com/en-us/azure/role-based-access-control/role-ass

[2018-08-20 06:07] femsulu commented on #13602
@bwren were there any breaking changes to the template referenced in your doc?

[2018-08-20 06:35] placetobejohan opened #13660 "Cannot edit template data in Developer Portal"
In the Developer Portal I am only able to edit the template html, not the template data. I've checked this in Chrome, Edge and Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54275fa6-b72e-d7d6-b162-0e6beb4c0d14
* Version Independent ID: 676fc019-0dff-5d15-8777-b1fbdc0e8cac
* Content: [Customize the API Manage

[2018-08-20 06:43] Karishma-Tiwari-MSFT commented on #13182
@gsimardnet This issue has been discussed at length [here](https://github.com/Azure/azure-functions-host/issues/2546).
The summary is that internally functions will find time of next occurrence in UTC and initialize a timer with the difference of next UTC time and current UTC time.
Therefore, for your scenario 1: Function will run every 20 minutes, DST does not affect this and for your scenario 2:

[2018-08-20 06:57] kgreed opened #13662 "Is SQL Managed Instances now called SQL databases?"
I could not find SQL Managed Instances in my portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure Active Directory authentication - SQL](https://docs.microsoft.com/en-us/azure/sql-database/sq

[2018-08-20 07:08] Nilis312 commented on #13010
Thanks for the answer! We are working now with IBM to get this fixed.

[2018-08-20 07:33] msilinda opened #13663 "Is there a complete PowerShell script or JSON to automate"
Is there a complete PowerShell script or JSON to automate any Azure Enterprise Installation and Configuration?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74f69861-fd51-b4f0-e31e-fbe7b85c228d
* Version Independent ID: 121a0f4b-811a-ed2f-bb9d-e69e4fa22bcd
* Content: [Add an app to your Azure Active Directory tenant](h

[2018-08-20 07:33] irari commented on #13586
Sorry, didn't check my mails in the weekend ;)
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-dashboards
I have the same screen as the one in 'share dashboards' but I have an extra tab 'Location'  that I can not edit.

[2018-08-20 08:32] BasvanH commented on #12701
Any update on this matter please?

[2018-08-20 08:54] ggailey777 commented on #12901
@ahmelsayed is it possible that the dotnet templates aren't being installed correctly?

[2018-08-20 09:01] AkshathaSP commented on #13654
What is the early rehydration / early deletion fees for Archive and Cool tier ?

[2018-08-20 09:06] AkshathaSP opened #13665 "early rehydration / early deletion fees ?"
[Enter feedback here]

What is the early rehydration / early deletion fees for Archive and Cool tier ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID: 3da34196-ac73-5fd9-c473-51a07226f83a
* Content: [Azure hot, cool, and archive storage for blobs](https://do

[2018-08-20 09:20] ArttuArstila opened #13666 "Removing default issuerid claim should be mentioned"
Office 365 federation creates three default claim rules in ADFS. Adding new claim rules for hybrid domain join as listed in the article does not work, unless one of the original claim rules (3rd rule, issuerid) is removed. That is required because it conflicts with the new rules also defining issureid claim. This should be mentioned in the article to help other admins implementing this.

---
####

[2018-08-20 09:21] rifaterdemsahin opened #13667 "my server can not access ILB ASE in the same network"
The same vnet and resources are in different subnets

checking the default created NSG it looks ok.

what else should i do to be able to access the ILB ASE

I have also double clicked onto the certificate in the vm that i am doing the calls

Reference

https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-08-20 09:39] jalanubha commented on #6745
I am facing exactly the same issue for web app deployment using azure maven plugin 1.3.0
I am using the Azure Cloud Shell, which by default logs the user in. However, the below error appears

INFO] Building simple-service-webapp 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- azure-webapp-maven-plugin:1.3.0:deploy (default-cli) @ simpl

[2018-08-20 09:59] mrdfuse opened #13669 "journalctl gives no output"
Strange, has this been changed lately? I run an AKS cluster with kubernetes 1.10.6, created about two weeks ago. The command in this documentation gives no output for me, tried it on different nodes:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e345df-2425-d3ea-2d98-53949bc9314a
* Version Independent ID: 17

[2018-08-20 10:23] VikramPendse opened #13671 "Re : Extension Settings --> Update Settings"
Hi Team, In the "Enable automatic updates" section, this document does not provide any guidance when we change extension settings--&gt;Update settings to "Manual" mode. Do we have a control or governance to manually hold and roll the ASR agents updates. In few scenarios I saw that due to ASR agent updates application on VMs are getting affected (In some cases I saw forcing DHCP client shutdown in

[2018-08-20 10:48] ampac28 opened #13672 "How to send telemetry data in BSON fomat to IoT hub"
To reduce the network cost we are looking to sending Gzip json format to use Bson format from device to Azure IoT hub. We are not sure how to ready the Bson data from IoT hub using stream analytic job. Please suggest if this is right approach to reduce network cost in our current scenerio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-08-20 11:07] gramakrish opened #13673 "Data Connectedness & Sufficiency"
Nice video and content. However need some more clarification on the difference between connectedness in the data and the sufficiency of the data. From the example given it seems both point towards Data completeness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45331f18-31b0-2d37-e1e0-482f3c18dbb1
* Version Independen

[2018-08-20 11:12] sunnygitacc opened #13674 "ServicePrincipalCredentials Using Certificate"
I tried to search in python sdk but could not find anything on using service principal credentials through cert based authentication. Could you please help or point in that direction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8cc9-be6c-3b8e8521b90d
* Version Independent ID: 9ef477fb-8321-4763-d340-0f

[2018-08-20 11:30] aquibqureshi26 opened #13675 "Source and Destination contains"
Source and Destination shows as "sourceIP":"0.0.0.0/0",
"destinationIP":"0.0.0.0/0", this is incorrect and values should be included in the logs properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52db43c4-1dd4-9788-1f8a-e87b690ce77c
* Version Independent ID: fad1bd1f-0765-093d-bae7-166fa1520dfc
* Content: [Networ

[2018-08-20 11:33] Rajani-Janaki-Ram commented on #13671
With manual settings, you don’t need an automation account. Its only required to automate the installs.

As part of the enable replication step:

When you enable replication for a virtual machine either starting from the virtual machine view<https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-quickstart>, or from the recovery services vault<https://docs.microsoft.com/en-us/azure/si

[2018-08-20 12:01] AkshathaSP opened #13676 "Hot/Archive tier to cool tier is available in blob storage account ?"
[Enter feedback here]

The article says:
In addition to the per GB, per month charge, any blob that is moved into the cool tier (GPv2 accounts only) is subject to a cool early deletion period of 30 days

Can the blobs be moved to cool tier only in GPv2 accounts ?
Or is it possible in blob storage accounts as well ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-08-20 12:09] VikramPendse commented on #13671
Hi Rajani,

Thanks for your quick response and inputs.

Currently we have kept ASR to manage the updates in the extension settings. Recently we found that due to updates rolled by Microsoft for ASR agents, couple of our VMs are facing issues. We are also working with MS Support for the same.

Basically we are looking for some information on below areas in the documentation -

-What is the schedule

[2018-08-20 12:16] Rajani-Janaki-Ram commented on #13671
PFIL

This is only applicable to Azure to Azure scenario, by the way. Your questions seem to be inclined to on-prem as well, so just ensuring the premise is understood by both of us.

[cid:image001.png@01D438AD.BD9AE650]

Thanks,
Rajani.

From: VikramPendse <notifications@github.com>
Sent: Monday, August 20, 2018 5:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rajani Janak

[2018-08-20 12:40] tieronebanter opened #13677 "Clarity on Hybrid Azure AD Joined"
In a hybrid scenario, are devices joined to both on-prem AD and Azure AD, or is the device joined to on-prem AD and REGISTERED to Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d97-4f816a2b696c
* Content: [Introduction to devic

[2018-08-20 12:53] vijaybujula commented on #12999
I do verify that vm name/size exists in the region but still get the same error.

[2018-08-20 13:09] JBines opened #13678 "Connectivity - AD Connect NAT to DC Not supported"
Please confirm and add requirement...
Question: I have a multi-forest environment and the network between the two forests is using NAT (Network Address Translation). Is using Azure AD Connect between these two forests supported?
Answer: Using Azure AD Connect over a NAT is not supported.

From &lt;https://cloudblogs.microsoft.com/enterprisemobility/2015/12/18/azure-ad-mailbag-syncing-with-azure-ad

[2018-08-20 13:19] rsrinivasanhome opened #13679 "Application List - Use of the application"
From the documentation it is not clear what business benefit the user is getting by creating an application in APIM developer Portal ?  All I can see is the data entry . How does this integrate with APIM ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a9c3be-6ed9-f1dc-a6a4-adf6145be328
* Version Independent ID: 55be

[2018-08-20 13:26] gatornation11 opened #13680 "Create a new on-premises Active Directory from data in Azure AD?"
This section needs more information. I want to run an on prem AD for all the obvious reasons, group policy, faster logon, security etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ff947d2-e32d-25d8-63df-5fb51acccb0f
* Version Independent ID: f6d7c864-ee90-fdec-3995-dccc16825ed8
* Content: [Azure AD Connect: When yo

[2018-08-20 13:30] henriquebrisola commented on #13089
This has not been fixed, link still redirecting to an outdated link that is talking about hyper-v support, not ASR

[2018-08-20 13:32] abhiramani-iptiq opened #13681 "Ingress with Internal Load Balancer and Private IP"
Hi can this document be modified to provide exact steps to create Ingress with internal load balancer because we have requirement to to use AKS cluster within our intranet and do not want to expose our cluster over public network

Some github article suggests this command:helm install stable/nginx-ingress --namespace kube-system --set controller.service.annotations."service\.beta\.kubernetes\.io/a

[2018-08-20 13:48] jurjen74 commented on #7693
Still not available. We'd like to use this with Microsoft.Azure.Services.AppAuthentication to be able to use managed services identities in .NET Core .

[2018-08-20 13:50] MoNadtheGrey commented on #9199
We have the same issue, despite our AAD Connect version is 1.1.880 and AD FS farm is Windows Server 2012 R2. is there any more update on this issue?

[2018-08-20 13:52] azoumed opened #13682 "User Error invalid Application Gateway SubnetV2"
Hello every one , i got this message when i try to restor my NM into azure "User Error invalid Application Gateway SubnetV2"

i try step by step restoration but i find this message
can some one help to bypass this situation

Thank you

[2018-08-20 13:52] LarryBolton commented on #13025
#jeevansd have you received any guidance on this issue?  To reiterate, we are hoping to have the same capability in SPO, where we can authenticate external Microsoft Accounts (personal accounts) into SharePoint 2016 On-prem. Thank you.

[2018-08-20 13:53] MoNadtheGrey commented on #12051
We have the same issue, despite our AAD Connect version is 1.1.880 and AD FS farm is Windows Server 2012 R2. is there any more update on this issue?

[2018-08-20 13:54] MoNadtheGrey commented on #10974
We have the same issue, despite our AAD Connect version is 1.1.880 and AD FS farm is Windows Server 2012 R2. is there any more update on this issue?

[2018-08-20 13:56] dotnetgator commented on #7693
@jurjen74   if you follow one of the links [above ](https://github.com/dotnet/corefx/issues/13660), it appears that this will be coming in the .NET Core 2.2 release, scheduled for Q4 2018.

[2018-08-20 13:56] piotrek-k commented on #13639
I've updated Visual Studio to 15.8 today and I suprisingly found "Application Insights Search" in "View" panel. I used it for some time, then closed Visual Studio. After a few hours I've opened VS again, but I can't find it anymore. Looks like this option is present, but not always shows up.

[2018-08-20 14:08] mrbullwinkle commented on #13639
@piotrek-k do you see it consistently if you go to **View** > **Other Windows** ? (I believe it's location in the UI can vary sometimes based on project template.)

 ![Application Insights Search](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/13639/app-insights-search.png)

[2018-08-20 14:26] James-Burnham opened #13683 "Breaking Policy"
The "requestedServiceObjectiveName" is no longer registering as a valid field. This resulted in a policy I had pre-existing no longer functioning at all and it was allowing any and all resources to be created rather than what I had explicitly allowed. The removal of this segment in my policy had it once again blocking resource creation properly. This means I had to open my policy up to allowing al

[2018-08-20 14:30] CHDAFNI-MSFT commented on #13201
@christiankuhtz the article's title includes the verbiage 'Log analytics'. It states that public basic LB supports Log Analytics. The example provided however only covers retrieving logs from Storage Accounts. The ask is for the article to be improved to also show how to set (and retrieve) logs from Log Analytics.

[2018-08-20 14:39] amirgra opened #13684 "Virtual Networks Limitations"
Regarding [virtual-networks-limitations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#virtual-networks-limitations)

- What other dependent resources need to be moved with virtual network? (Virtual Network Gateways are specified, what else?)
- If virtual network peering isn't disabled does it fail on validation?

---
#### Document Details

⚠ *Do not e

[2018-08-20 14:41] piotrek-k commented on #13639
Here is what I see. I have currently opened solution containing three aspnet core projects. Each has target framework set to `.NET Core 2.0`. What exactly requirements should be met to display "Application Insights Search" in `View` menu? Should it be some specific type of project?
![aps](https://user-images.githubusercontent.com/5506878/44347047-446fe180-a497-11e8-8684-088302fda08f.png)

[2018-08-20 14:43] msimecek opened #13685 "admin key -> master key"
There's no mention of "admin key" in the referenced [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#authorization-keys). I think it should be called **master key** in the *Create a subscription* section to be consistent and prevent confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-08-20 14:45] trevor-schmidt commented on #13391
@shawntabrizi we do not give our users full subscription contributor access only resource group level. If we have to go the route of subscription level roles then we would want to pin-point the actions needed within the certain roles so we could create a custom role for certain users.

[2018-08-20 14:54] DCtheGeek commented on #13683
@James-Burnham Thanks for the feedback!  I just checked via Azure CLI and `Microsoft.Sql/servers/databases/requestedServiceObjectiveName` is still registered as an alias. Can you please open a support case to look into this instance?

@MicrosoftDocs/azure-cxp-triage Please label this 'product-issue', assign it to me for now, and mark as #in-progress.  Thanks!

[2018-08-20 15:06] albru123 opened #13686 "Guide outdated"
Please update this guide to use latest libraries and code. The NuGet package Xamarin.Azure.NotificationHubs.Android is obsolete and Microsoft.Azure.NotificationHubs should be used instead. Even the code used in examples here is marked as obsolete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9

[2018-08-20 15:09] James-Burnham commented on #13683
@DCtheGeek thank you for the prompt response! I've submitted a support request with some additional attachments. Request #: 118082018823154

[2018-08-20 15:09] nik-shornikov opened #13687 "addon vs helm vs no ingress"
I suspect the feedback will never percolate: the doc is missing any kind of guidance on picking how to deploy ingress. For instance, this addon-managed ingress controller is apparently not "go-forward," it's "quickstart."

For example, if you need to change any startup options for NGINX, you're outta luck. This addon operates in replace mode, meaning you can't customize its resources. As far as I

[2018-08-20 15:13] antimoroma opened #13688 "AADLoginForLinux source code and customization + force chroot on ssh login"
AADLoginForLinux extension: It could be useful to see the source code
Apparently this is a PAM implementation for a login with Active Directory but i can't find the source code in repository with a grep on source.
I try the search in this repo:

[https://github.com/Azure/custom-script-extension-linux](https://github.com/Azure/custom-script-extension-linux)

May be this second question is not relat

[2018-08-20 15:16] jimdial commented on #13675
@aquibqureshi26 The values are those in the rule referenced. In this case, the rule referenced did have a source and destination of 0.0.0.0/0. That information was mixed with variable information that appears in the log however. I've updated the article so that all information (except for the computer itself in the example) shown is now the variables that will appear in the logged data. That shoul

[2018-08-20 15:17] albru123 commented on #13686
Nevermind, I misunderstood Microsoft.Azure.NotificationHubs purpose. Closing.

[2018-08-20 15:17] #13686 closed

[2018-08-20 15:29] DCtheGeek commented on #13683
@James-Burnham Perfect.  Since you have a support case, I'm going to ask to close this Issue.  If you get a response to your case that shows the docs to be wrong, please feel free to come back and let me know so I can adjust the information as necessary.

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-20 15:31] mrbullwinkle commented on #13639
If you go to **Tools** > **Customize** can you add Application Insights?

![Tools > Customize Screenshot](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/13639/tools-customize.png)

![App Insights](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/13639/App-insights.png)

[2018-08-20 15:32] wasabii commented on #11663
How does the Reverse Proxy deal with service names that are overlapping? I have the following two services:

fabric:/FileAndServe.Xpress_DEV1/Web
fabric:/FileAndServe.Xpress_DEV1/Web/Core

Up until.... minutes ago... for a URI like http://CLUSTER:19081/FileAndServe.Xpress_DEV1/Web/Core/api/foo it was picking the second service (Core). Now it's picking the first one. I'm wondering if it was never d

[2018-08-20 15:32] dataangler commented on #12356
This is not resolved. I suspect the availability of this option must be dependent upon the source type. The screenshot suggests you're querying from a source that supports tables and queries, perhaps Azure SQL Db? Try it with a source of Azure Data Lake Store. The intended workflow is stupid simple: move json files as-is into Cosmos. Works fine in ADFv1. Not supported by the otherwise superior ADV

[2018-08-20 15:38] AMustapha opened #13689 "Wrong Title"
Hello
the streaming code is on .Net Standard i think you should correct the title , i was looking to the way to send event to eventhub using powershell the first result was this page, but after reading the steps it is not what the title means.
Ceers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03c930b1-1721-b020-f6ae

[2018-08-20 15:40] piotrek-k commented on #13639
Can't see anything like that
![customize](https://user-images.githubusercontent.com/5506878/44350602-15aa3900-a4a0-11e8-969d-0685d9de32e2.png)

[2018-08-20 15:48] aquibqureshi26 commented on #13675
Hi Jim,

I have a rule of source port : any, Source ip : any, Destination port : 80, Destination IP : any.

If i use pc which is on internet and try to telnet the public ip of the server where this NSG is assigned I see the Source and Destination as 0.0.0.0. Don't you think I should be able to see the source as the internet machine from which traffic is coming from and got blocked? I mean public i

[2018-08-20 15:52] jimdial commented on #13675
That's not what it's showing. It's showing the source and destination defined in the rule. In that case, it was 0.0.0.0/0 for both. The destination that the communication was to is the IP address of the VM (which is a little higher in the log entry). The source IP address that communicated with the VM is not logged at all. If you want that, use [NSG flow logs](https://docs.microsoft.com/azure/netw

[2018-08-20 15:53] mrbullwinkle commented on #13639
@piotrek-k Are you using Visual Studio Community or Enterprise edition? (I was testing with Enterprise Edition, but I can spin up a copy of VS Community if that is what you are using?)

[2018-08-20 15:54] DCtheGeek commented on #12650
@badalk I apologize for the slow response, I completely missed the notification on this.  As the article states, Append is evaluated before a Resource Provider is passed the request to create or update a resource.  This allows Append to add to the request before it is actually processed.  If the Append details matches what is in the request, it is allowed through (since it is already in the reques

[2018-08-20 15:56] aquibqureshi26 commented on #13675
Ah, I got it. I just read the note section where this is mentioned clearly.
Just for getting the source ip I've to purchase network watcher.

Thanks for your help Jim.

[2018-08-20 15:58] DCtheGeek commented on #11100
@thuansoldier Sorry for the slow answer.  I appreciate the ideas and I've created a Work Item to track making sure this type of content is addressed.  Thanks again for the feedback and contribution!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-20 16:00] aquibqureshi26 commented on #13353
Hi Adam,

I believe this is missed.

[2018-08-20 16:06] #13683 closed

[2018-08-20 16:09] VikramPendse commented on #13671
Hi Rajani,

Thanks again for your quick response. Yes, I am talking about Azure to Azure scenario only.

Regards,

Vikram Pendse.

________________________________
From: Rajani Janaki Ram <notifications@github.com>
Sent: Monday, August 20, 2018 5:47 PM
To: MicrosoftDocs/azure-docs
Cc: VikramPendse; Author
Subject: Re: [MicrosoftDocs/azure-docs] Re : Extension Settings --> Update Settings (#13671)

[2018-08-20 16:17] VireshMathapati13 commented on #13671
Hi Rajani,

We also faced the similar issue and it will be helpful if you provide more details.

So basically we want to understand how can we manage the updates of Site recovery softwares on our VM?
If we select Manual Setting while ASR configuration, then where do we need to go to check/update the ASR agent?
Do we need to check site recovery agent inside every VM and update it like the third par

[2018-08-20 16:17] wasabii opened #13690 "Reverse Proxy Resolution Order"
How does the Reverse Proxy deal with service names that are overlapping? I have the following two services:

fabric:/FileAndServe.Xpress_DEV1/Web
fabric:/FileAndServe.Xpress_DEV1/Web/Core

Up until.... minutes ago... for a URI like http://CLUSTER:19081/FileAndServe.Xpress_DEV1/Web/Core/api/foo it was picking the second service (Core). Now it's picking the first one. I'm wondering if it was never d

[2018-08-20 16:18] Mike-Ubezzi-MSFT commented on #13656
@Noiskee Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-20 16:18] YutongTie-MSFT commented on #13500
@MrRhino70
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 16:18] #13500 closed

[2018-08-20 16:34] Karishma-Tiwari-MSFT commented on #13669
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-20 16:37] eross-msft commented on #12093
@elongman @dubrox @lashchev  It looks like this content actually got published too early by mistake. I'm going to pull this article down and replace it with older content later today. I'll be republishing the new article as soon as the feature is ready.
I wanted to make sure you all knew what happened since you took the time to comment. Please keep reading and commenting!

[2018-08-20 16:39] Karishma-Tiwari-MSFT commented on #13681
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-20 16:44] jason-j-MSFT commented on #13674
@sunnygitacc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-20 16:46] bschlechty opened #13691 "NPS extension firewall"
Does the NPS server require any uninitiated inbound connectivity from the internet, or are all requests initiated from the extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Use existing NPS servers to

[2018-08-20 16:47] YutongTie-MSFT commented on #13673
@gramakrish Thanks for your feedback! I have assigned the issue to the author for updating the document properly.

@heatherbshapiro Hi, this is a kudos and a suggestion about the document, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-20 16:48] Mike-Ubezzi-MSFT commented on #13662
@kgreed Thanks for your inquiry. Azure SQL Database is a specific PaaS offering, as is Azure SQL Managed Instance (also a PaaS offering). There is also Azure SQL Elastic Pools, which is a SaaS offering. In terms of the Azure SQL Managed Instance, it is currently under preview and requires an approval process. The deployment blades will walk you through this process.

If you navigate to 'Create a R

[2018-08-20 16:57] #13571 closed

[2018-08-20 16:58] Mike-Ubezzi-MSFT commented on #13672
@ampac28 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-20 16:58] #5633 closed

[2018-08-20 16:59] #11100 closed

[2018-08-20 17:01] Karishma-Tiwari-MSFT commented on #13688
Thanks for the question. We are currently investigating and will update you shortly.

[2018-08-20 17:01] Karishma-Tiwari-MSFT commented on #13687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-20 17:02] Karishma-Tiwari-MSFT commented on #13685
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-20 17:05] MicahMcKittrick-MSFT commented on #12956
@strimpak I will close this for now. When ready let me know and we can reopen and continue.

[2018-08-20 17:05] #12956 closed

[2018-08-20 17:06] mike-urnun-msft commented on #13686
@albru123 Glad to hear that there was no issues. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 17:06] MarileeTurscak-MSFT commented on #13663
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 17:07] Karishma-Tiwari-MSFT commented on #13690
Thanks for the question. We are currently investigating and will update you shortly.

[2018-08-20 17:07] mike-urnun-msft commented on #13657
Hi @dcbrown16 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-20 17:08] basilhariri commented on #9289
#please-close

[2018-08-20 17:09] basilhariri commented on #9010
#please-close

[2018-08-20 17:10] MicahMcKittrick-MSFT commented on #12977
@timlt can you work with @MedAnd and @zuhairp to see if this makes sense to add to the doc?

I cannot assign directly to the author @rajak

[2018-08-20 17:12] badalk commented on #12650
So is there a way that I need to audit even request denials to know which business units are violating the resource provisioning compliance rules? If I enable denial policy then my understanding is it wouldn't be logged as non-compliant right?

[2018-08-20 17:12] #9289 closed

[2018-08-20 17:16] Adam-Smith-MSFT commented on #13676
@AkshathaSP "cool storage and archive storage are not supported in GPv1", the differences between GPv1 and GPv2 can be found in this article: https://docs.microsoft.com/en-us/azure/storage/common/storage-account-options
Let me know if this helps.

[2018-08-20 17:16] #13676 closed

[2018-08-20 17:19] kobulloc-MSFT commented on #13586
@irari Thank you for the document link!

[2018-08-20 17:21] ghost opened #13692 "Domain Field"
I was able to get this to work by not using https:// in the beginning of the URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe2af6f9-785f-8bcc-0afb-3e7398b1eb56
* Version Independent ID: e045f8bd-0ba2-27dd-1a23-3383b2463adf
* Content: [Tutorial: Configure Zendesk for automatic user provisioning with Azure Active D

[2018-08-20 17:23] LuisGonzalezLT opened #13693 "Replication lag"
Is there a way to see how far behind the replica is? I tried the same approach as for geo-replicas using dm_geo_replication_link_status but got nowhere. dm_hadr_database_replica_states doesn't work in Azure SQL Database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Indep

[2018-08-20 17:25] MicahMcKittrick-MSFT commented on #13440
@girishgouda we do have full examples. This doc is just describing the extension so it does not make sense to add extra info.

I was requesting your inputs used because this is not something I am able to repro. The extension applies fine on a new VM when I test it. The issue here is that yours is locked to another account as the error mentions. So the fix here will be to get the VM removed that th

[2018-08-20 17:27] Adam-Smith-MSFT commented on #13654
@AkshathaSP I just answered the fees question on the other thread. The fees change when the tier is changed, I provided more details on the other thread. Closing this one for duplicate question.

[2018-08-20 17:27] #13654 closed

[2018-08-20 17:28] Rod-in-NM opened #13694 "The PowerShell image is cut off"
In the section with a header of, "Provision an Azure Active Directory administrator for your Managed Instance", step 4 (starting with, "Select on banner on top of Active Directory admin page...", the second image which lists PowerShell commands being executed in Home &gt; sqlmi-feb03-portal-gp8 - Active Directory admin, is cut off on the right side.

---
#### Document Details

⚠ *Do not edit this

[2018-08-20 17:28] JasonWHowell commented on #13148
@SychevIgor Thanks for making the issue. You could also just spin up an email if needed. Rest APIs pages do not have GitIssues enabled at present.

We can probably just remove the page, since it is out of scope of Azure Data Catalog, but I'll check with the current PMs.

Thanks, Jason

[2018-08-20 17:29] MicahMcKittrick-MSFT commented on #13498
@gfilicetti I will close this for now. If you have additional questions just let us know.

[2018-08-20 17:29] #13498 closed

[2018-08-20 17:30] MicahMcKittrick-MSFT commented on #13504
@anandjain1984 I will close this for now. When ready let me know and we can reopen and continue.

[2018-08-20 17:30] #13504 closed

[2018-08-20 17:30] rolyon commented on #13120
@dcbrown16 - Okay, thanks for the testing. I restored the full heading list.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations
Let me know if you notice anything else.
thanks

[2018-08-20 17:32] rolyon commented on #13120
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-08-20 17:35] kobulloc-MSFT commented on #13660
@placetobejohan Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-20 17:36] mike-urnun-msft commented on #13542
Hey @mapoitras Just following up here. Let us know if the above helped answer your question, and whether or not we can proceed to close this issue :)

[2018-08-20 17:38] MarileeTurscak-MSFT commented on #13678
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 17:39] Grace-MacJones-MSFT commented on #13548
Hi @nmallick1, in regards to your first question it does automatically update but sometimes there is an issue that prevents that from happening 100% of the time. This is issue is been looked at. So the doc will remain as is until we get an update. In regards to your second question, the documentation has been updated. Thanks for your feedback!

We will now proceed to close this thread. If there ar

[2018-08-20 17:39] #13548 closed

[2018-08-20 17:39] MarileeTurscak-MSFT commented on #13666
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 17:41] VireshMathapati13 commented on #13671
Hi Rajani,
Some more question where we need your help.

Is there a way to manage the update of ASR services using SCCM?
Does security center display this update as being available?
We have configured OMS, so is there any way/query to check for these event and alerts ?

Regards,
Viresh.

[2018-08-20 17:41] dlepow commented on #13647
@martingbrown - Martin, great suggestion. I will add a mention of this option and then close the issue. Thanks!

[2018-08-20 17:42] yushwang commented on #13581
@dcbrown16 - It's not addressed directly, but another FAQ item will provide a bit of an explanation. The gist of it is because the Azure VPN gateways need to accept connections from Azure management infrastructure, which are hosted on public IP addresses. As a result, if the VPN gateway subnet is forced tunneled, it will be broken because of the asymmetric connection behavior due to forced tunneli

[2018-08-20 17:43] #13120 closed

[2018-08-20 17:44] MicahMcKittrick-MSFT commented on #13543
@ramankumarlive can you take a look at this and see if we can add a note to this script that for VMs that require plan information a user needs to create a VM from an Image not a snapshot in order for it to work

[2018-08-20 17:45] kobulloc-MSFT commented on #13679
@rsrinivasanhome Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-20 17:46] kgremban commented on #13393
Hi @theangellmethod I've been thinking about incorporating Azure VM steps into the Windows quickstart as well. I'm still considering the best way to do it. I'll keep you posted as I make progress.

[2018-08-20 17:46] MicahMcKittrick-MSFT commented on #13565
@dcbrown16 Got it. Yes if you create a AV set with a single fault domain then only a single update domain is supported.

I will assign to author to review and see if it makes sense to add that information to the doc.

[2018-08-20 17:51] alohaninja opened #13696 "Disabling Backup Extension"
How do you disable the backup extension - e.g. stop VM snapshotting, say for arm-generated VMs which can be easily regenerated?

We are seeing VM snapshotting our OS VHDs without Backup being enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9edc7e-ff2d-47fd-7305-03cd6dcd9449
* Version Independent ID: 207c680a-

[2018-08-20 17:53] MicahMcKittrick-MSFT commented on #13606
@kiranjshetty as per the link, I don't have much to say regarding it. It is a personal blog post and not an official document so some statements may be false.

@iainfoulds can you comment on this? From my understanding as long as a customer takes steps to secure their cluster all is fine.

[2018-08-20 17:53] jimdial commented on #13581
I've added a link to this question in the GW FAQ in the routing overview article (that this issue was filed against).

[2018-08-20 17:54] MicahMcKittrick-MSFT commented on #13615
@motanv can you take a look and update the doc accordingly?

[2018-08-20 17:56] ahmelsayed commented on #12901
@simeyla open an issue on azure-functions-core-tools repo

[2018-08-20 17:57] bwren commented on #13414
This was in the process of being rolled out last week.  Documentation going out today.

[2018-08-20 17:57] bwren commented on #13414
#please-close

[2018-08-20 18:01] OscarCanek opened #13697 "Azure Mobile App backend"
In the https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-ios-get-started-push#add-push, at the "swift" section, step, What is the Azure Mobile App backend?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694b5f7-466b-9079-7194-ee8a0d7639e6
* Version Independent ID: a9d12ec4-c16b-5c17-4f29-645

[2018-08-20 18:03] yudomsft commented on #13628
Hi, I am the engineer responsible for the back end component of this tile. This is a known issue and it will be fixed in version 1808.

[2018-08-20 18:04] conceptdev commented on #13697
'backend' refers to the Azure-server-based features. At the start of the document, [Configure Notification Hub](https://docs.microsoft.com/azure/app-service-mobile/app-service-mobile-ios-get-started-push#configure-hub), it finishes with "Now you have connected a notification hub to your Mobile Apps back-end project. Later you configure this notification hub to connect to a platform notification sy

[2018-08-20 18:06] ggailey777 commented on #13451
@GuyHarwood, @MicahMcKittrick-MSFT local.settings.json is designed to mock project-level settings for local development, such as application settings and CORS. It has no impact on individual function bindings.

If you are using C# class library functions, you can [set binding properties at runtime](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#binding-at-run

[2018-08-20 18:08] BryanTrach-MSFT commented on #13658
@vashish76 Can you please provide us with the doc URL that you are having issues with? We look forward to your reply.

[2018-08-20 18:09] sunilagarwal opened #13698 "Example - 1 above refers to incorrect computaiton"
Instead of 495 + 8, it should be 495*8. there are similar mistakes in other places as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea00c3f-e389-9258-45a5-395247555f75
* Version Independent ID: f01af29d-f543-077a-3d71-6b6b437758cd
* Content: [High-performance Premium Storage and Azure managed disks for Windows V

[2018-08-20 18:11] OscarCanek commented on #13697
Thank you 👍

[2018-08-20 18:11] sunilagarwal commented on #13698
Actually, I read it incorrectly (i.e. 495 reads of 2MB each) . The content is correct so please ignore

[2018-08-20 18:18] andyschan opened #13699 "Step 1.2: Get your Azure subscription ID"
Step 1.2 specifies to use "Add-AzureAccount" and "Get-AzureSubscription"; should be "Connect-AzureRmAccount" and "Get-AzureRmSubscription".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd8f9c6c-9980-9774-6e13-21e4f23a1d8f
* Version Independent ID: 9f60034d-d0c0-e56c-c1a9-c215b6a416c3
* Content: [How to generate and t

[2018-08-20 18:18] BryanTrach-MSFT commented on #13667
@rifaterdemsahin Thank you for your question. The scope azure-docs on GitHub is for handling issues directly related to the doc. Since this is going beyond the initial creation that the doc covers, we request you to post your question in the [MSDN Forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview). Microsoft actively monitors this channel as well a

[2018-08-20 18:18] #13667 closed

[2018-08-20 18:25] asinn826 commented on #11969
@hectoralicea we had a hiccup with the certs on our end of the update infrastructure that prevented some folks from accessing RHUI. It should be fixed now, but let me know if you're seeing otherwise.

[2018-08-20 18:26] Adam-Smith-MSFT commented on #13344
@ngeegoh I'd highly recommend leaving product feedback on this link: https://feedback.azure.com/forums/217298-storage/suggestions/6930594-azcopy-should-support-mir-option-like-robocopy

Your feedback would be valuable for the team to include this as a feature request plan. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will g

[2018-08-20 18:26] #13344 closed

[2018-08-20 18:27] Adam-Smith-MSFT commented on #13112
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 18:27] #13112 closed

[2018-08-20 18:27] SaurabhSharma-MSFT commented on #13559
@DanielJBrown Running $PSVersionTable on either ISE or PowerShell command prompt should give you the same results.  Please upgrade your PowerShell to Version 5 and check.  Here is the documentation for upgrading the PowerShell version - [Upgrading existing Windows PowerShell](https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-windows-powershell?view=powershell-6#upgrading-exist

[2018-08-20 18:28] Adam-Smith-MSFT commented on #13353
@aquibqureshi26 I just assigned additional engineers to investigate the request.

[2018-08-20 18:29] Mike-Ubezzi-MSFT commented on #12860
@cmullican We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 18:29] #12860 closed

[2018-08-20 18:29] SaurabhSharma-MSFT commented on #12476
@kalyankrishna1 Thanks Kalyan for the update.
@chaami We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 18:29] #12476 closed

[2018-08-20 18:29] rondelzer commented on #13560
No, it shouldn’t cause an issue at all. The ASCII encoding and the UTF8 encoding should produce the same results for the string in question. It’s just potentially confusing for users that the documentation and sample code aren’t consistent.

From: Brian Wren [mailto:notifications@github.com]
Sent: Monday, August 20, 2018 11:21 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: ron

[2018-08-20 18:30] Adam-Smith-MSFT commented on #13464
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 18:30] #13464 closed

[2018-08-20 18:31] ggailey777 commented on #12901
@simeyla and @haydenhancock, here's link to that repo: <https://github.com/Azure/azure-functions-core-tools/issues/>

[2018-08-20 18:34] BryanTrach-MSFT commented on #13511
@rifaterdemsahin Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-20 18:34] #13511 closed

[2018-08-20 18:34] jason-j-MSFT commented on #13555
@kfile could you help route this to a content author?  This may be an document enhancement oppurtunity, but if is not, @heatherita711 could you ask your question here:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataLake

@heatherita711 have you checked if this is related to the CppSDK path:
https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-u-s

[2018-08-20 18:41] Adam-Smith-MSFT commented on #13486
@KeiroKamioka0000 I signaled the bug internally. Feel free to use the local Storage explorer as a workaround, I will update this thread if there are any updates on the bug. The portal storage explorer is still in preview, so there are potential bugs such as the one you mentioned. I'll close this issue for now, but will re-open if i get any updates from the storage explorer/portal teams.

[2018-08-20 18:48] MohitGargMSFT commented on #13426
@MotoManCan Please open a [Azure Support Ticket](https://aka.ms/azsupt) to help you with it. Azure Support Engineer will work with you and help it get resolve. Do let me know if you have limitations in your support plan to open Azure Support Ticket.

[2018-08-20 18:48] MohitGargMSFT commented on #13419
@vsathiamoo We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-20 18:49] MohitGargMSFT commented on #13529
@YassineSOUABNI We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-20 18:49] #13529 closed

[2018-08-20 18:49] bwren commented on #13560
Got it.  Waiting for the engineering team to weigh in.

[2018-08-20 18:49] mattbriggs commented on #13628
@agvardha Thanks for your feedback and note.

#please-close

[2018-08-20 18:49] MohitGargMSFT commented on #13532
@jfuller28495 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-20 18:49] #13532 closed

[2018-08-20 18:50] MicrosoftGuyJFlo commented on #12823
#please-close

[2018-08-20 18:50] MarileeTurscak-MSFT commented on #13680
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 18:50] MarileeTurscak-MSFT commented on #13677
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 18:51] kobulloc-MSFT commented on #13479
@miaojiang Going through the documentation, it does look like this page could use some additional steps.

[2018-08-20 18:53] Ayanmullick commented on #13543
Resolved.

Adding `Set-AzureRmVMPlan -VM $VirtualMachine -Publisher "ipswitch" -Product "moveit-transfer-vm" -Name "moveit-transfer-starter"` to the script resolved the issue for me.

[2018-08-20 18:54] OscarCanek opened #13701 "Create a registration id"
At [this link](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-ios-apple-apns-notification#register-for-notifications-by-using-the-webapi-backend), step 11, at the example code:

[code]
- What is "handle"? Could you be more explicit?
- Why 100 at GetRegistrationsByChannelAsync? Which is the correct way to calculate that number?

---
#### Document Details

[2018-08-20 18:55] msmimart commented on #11415
@pstapf We do still create JIT/viral tenants for the time being, but we're working on features that will eventually eliminate them. Please check out the Azure roadmap for updates. Thanks for your feedback!

[2018-08-20 18:57] SaurabhSharma-MSFT commented on #13609
@tbebekis Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@msmimart  Can you please check and update if the screenshot under Step 8 is old.

[2018-08-20 18:58] heatherita711 commented on #13555
I posted the question. It doesn’t seem to be related to the CppSDK since if I copy all of the files from the runtime folder manually to my working directory the code will work.

From: Jason J <notifications@github.com>
Sent: Monday, August 20, 2018 11:35 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Heather Camm <heather.camm@avanade.com>; Mention <mention@noreply.github.com>

[2018-08-20 18:58] jeevansd commented on #13378
This article does not require any next steps, so I have not added it. SaaS app tutorials are not TOC integrated.
Our toc is here: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-tutorial-list
#sign-off

[2018-08-20 18:59] MicahMcKittrick-MSFT commented on #13669
@mrdfuse thanks for bringing this up. I am seeing the same behavior. However, if I run the command as sudo it does work

[code]

[code]

@iainfoulds can you take a look and confirm if this is by design? If so, we should update the doc to reflect that the users need to use sudo to pull the logs

[2018-08-20 19:00] msmimart commented on #13609
@tbebekis Thank you for the feedback and the follow-up, glad it worked. But I do think this warrants a note to avoid confusion. We'll update the article. Thanks again!

[2018-08-20 19:01] MicahMcKittrick-MSFT commented on #13543
@Ayanmullick Great! I must have been having additional issues then but happy to hear we were able to figure it out :)

[2018-08-20 19:03] jeevansd commented on #13378
@lyyeh We have published the update to this article as per your suggestion. Soon you should see the updates here.

[2018-08-20 19:03] MicahMcKittrick-MSFT commented on #13681
Thanks for the feedback @abhiramani-iptiq

I will assign to the content author to review and see if we can get these steps added.

[2018-08-20 19:04] trevor-schmidt opened #13702 "Symantic Endpoint Protection DSC Configuration"
We are looking for a way to include the install of SEP into our DSC Configurations for Azure VM's. Possibly looking for module for extension or something of that sort.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eced847b-ff11-9466-324c-5253799b7e2b
* Version Independent ID: 23f632ce-edf7-61fe-03e6-e18372b87ba8
* Con

[2018-08-20 19:04] SaurabhSharma-MSFT commented on #13663
@msilinda By "Installation and Configuration" do you mean integrating the enterprise application to AAD ? If so, you can use PowerShell to do the same. Please refer to [Channel 9 video](https://channel9.msdn.com/Series/Azure-Active-Directory-Videos-Demos/ManageAppsAzureADPowerShell) for using PowerShell to achieve the same.

[2018-08-20 19:04] Ayanmullick commented on #13543
You are welcome. the document should be updated that `Set-AzureRmVMPlan` is a requirement for marketplace product VM's.

[2018-08-20 19:04] christiankuhtz commented on #9019
@FLavalliere pleae investigate with support case.

[2018-08-20 19:06] KumudD commented on #9019
#please-close

[2018-08-20 19:06] ggirard07 commented on #5179
@PatAltimore How can you close this with your last comment stating

While your documentation clearly says the opposite:

Please reopen and document the proper way to automate this!

[2018-08-20 19:07] agvardha commented on #13628
That is very good but of no use to me :). In the meanwhile can you tell me from where I can get the installed version number please? I had found it at
C:\CloudDeployment\Logs and open the file AzureStackStampInformation.json. That has the
"StampVersion": "1.1805.1.47",
Does this reflect the ASDK version number installed?

[2018-08-20 19:07] christiankuhtz commented on #9019
@pagrenin following up with the original author.  thanks for pointing this out.

[2018-08-20 19:14] MicahMcKittrick-MSFT commented on #13543
@Ayanmullick yes! Sorry accidentally close :)

[2018-08-20 19:15] MarileeTurscak-MSFT commented on #13677
From [How to control the hybrid Azure AD join of your devices](url): "Hybrid Azure AD join is a process to automatically register your on-premises domain-joined devices with Azure AD."

From this, it seems that you need to join devices in the on-prem and then register them to Azure AD. The device would be joined and registered to both since joining is just an extension to registering.

@MarkusVi ,

[2018-08-20 19:22] lisaguthrie opened #13703 "This page looks nothing like what I see in the portal"
I'm trying to onboard to the Standard tier and I was directed to this page. But when I click on Security Center in my portal, I'm taken to a "Getting Started" page, which prompts me to apply a 60-day free trial to my subscriptions. It looks nothing like what's described in this article. I started the trial (I was ready to pay for it from day 1, but whatever) but I'm still not entirely sure that it

[2018-08-20 19:25] SnehaGunda commented on #5391
@patrickjlee making it clear, The proposed solution is using Azure Function v2 with Cosmos DB SDK, this functionality is available, are you asking Cosmos DB support for V1?

[2018-08-20 19:29] PatAltimore commented on #5179
@ggirard07 Sorry, I guess I misread the original question.  My mistake.  Thanks for pointing this out. I'll send this along to the product team.

Thanks,
Pat

[2018-08-20 19:37] arbiben opened #13704 "sending local images"
Is there a way to use a photo from my local machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1277042-8870-230a-b35c-764b95d5cc9d
* Version Independent ID: b7351fc7-2923-fcd1-c667-92277ae04a6b
* Content: [Computer Vision API Java quickstart - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/c

[2018-08-20 19:38] MarileeTurscak-MSFT commented on #13692
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 19:41] MarileeTurscak-MSFT commented on #13691
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-20 19:43] Mike-Ubezzi-MSFT commented on #13334
@ddobric We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 19:43] MarileeTurscak-MSFT commented on #13692
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 19:43] #13334 closed

[2018-08-20 19:47] MarileeTurscak-MSFT commented on #13699
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-20 19:47] vasivara-MSFT commented on #13689
@AMustapha Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-20 19:51] #13414 closed

[2018-08-20 19:53] MarileeTurscak-MSFT commented on #13703
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 19:55] Mike-Ubezzi-MSFT commented on #13531
@johnmay1 Have you had a chance to implement the change recommended by @veyalla?
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 19:55] #13531 closed

[2018-08-20 19:57] ddobric commented on #13334
You can close it. Updating of article will be helpful.

Thanks for quick feedback.

[2018-08-20 19:58] MarileeTurscak-MSFT commented on #13678
Hi, I'm sorry but I am having trouble understanding - what exactly is your feedback? As you said, AD Connect over a NAT is not supported.

[2018-08-20 19:59] KumudD commented on #13201
@CHDAFNI-MSFT I have created a VSTS work item to fill this content gap with a new topic that describes how to set (and retrieve) logs from Log Analytics. Thanks for the clarification!

#please-close

[2018-08-20 20:04] MohitGargMSFT commented on #13614
@darrellbooker Please open a new MSDN forum post for your specific scenario and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please post your MSDN thread here and I will make sure your query is been assigned in MS

[2018-08-20 20:09] nik-shornikov commented on #13687
Definitely not asking for anything to be duplicated off their site (and what you guys have that's complementary is useful). Although they do have Azure-specific documentation, my feedback wasn't about what is or should be in their doc.

I think the technical doc miss for this section is calling out the limitations AKS (arguably by its nature) imposes on addon management -- i.e. you can't log onto

[2018-08-20 20:23] MarileeTurscak-MSFT commented on #13691
NPS extension handles inbound connection requests from the Internet, if that's what you mean. Uninitiated inbound connectivity is not required.

[This document ](https://docs.microsoft.com/en-us/windows-server/networking/technologies/nps/nps-top)explains the process in detail.
![image](https://user-images.githubusercontent.com/13383753/44363677-ad486100-a479-11e8-8157-31fb9f6be4b2.png)

I'm going

[2018-08-20 20:23] #13691 closed

[2018-08-20 20:31] ggailey777 commented on #13685
@msimecek you are correct&mdash;we don't do a great job being consistent between `master key` and `admin key.` I'll clarify the topic.

[2018-08-20 20:33] MohitGargMSFT commented on #13653
@DanielJBrown Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-20 20:39] MarileeTurscak-MSFT commented on #13703
If you added the trial through that page it will be the Standard tier. If you want to double-check what trials you have on your subscription, you can go to your billing blade or check under Licenses.
![image](https://user-images.githubusercontent.com/13383753/44365317-4ed1b180-a47e-11e8-99f3-04aa768e441e.png)

The UI looks slightly different depending on what services you already have on your subs

[2018-08-20 20:39] #13703 closed

[2018-08-20 20:42] MarileeTurscak-MSFT commented on #13692
As long as the URL matches exactly in all of your configurations, to my knowledge it should work that way. HTTPs is recommended for security reasons.

[2018-08-20 20:43] MarileeTurscak-MSFT commented on #13692
@zchia can you confirm?

[2018-08-20 20:44] jellison-belllus commented on #13692
That makes sense except that I get an internal error when attempting to configure with https instead of http. What might I be missing? Is the User Provisioning portion busted right now?

[2018-08-20 20:45] SnehaGunda commented on #13317
@lafe thanks for the feedback, I updated the terminology to .Net Standard. Hope it helps!

[2018-08-20 20:47] spelluru commented on #11602
@amjad-Alhusseini - Thanks for reporting the issue. I have fixed the issue in the article.

@vasivara-MSFT - #please-close

[2018-08-20 20:48] TravisCragg-MSFT commented on #13675
@aquibqureshi26 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-20 20:48] #13675 closed

[2018-08-20 20:48] spelluru commented on #11000
@MikeWasson - Thank you. I have updated the article.

@vasivara-MSFT - #please-close

[2018-08-20 20:49] spelluru commented on #13530
@kevbry - Thanks for reporting the issue. I have fixed the link.

@jason-j-MSFT - #please-close

[2018-08-20 20:51] #13530 closed

[2018-08-20 20:55] mamccrea commented on #12991
The TIMESTAMP BY clause allows you to use the datetime field as time timestamp. If the late arrival policy is set to 20 days, the specified timestamp must be no more than 20 days older than the arrival time.

[2018-08-20 21:01] Minewiskan commented on #12310
@GaretAnderson If you set the credentials by using Refresh Credentials, you shouldn't have to set it in Properties>Credentials. If you set by using Refresh Credentials, then disconnect and reconnect to he db, then run a refresh, do you still get the error?  SSMS caches credentials, so you have to clear that cache for the process job to pick up the new credentials.

[2018-08-20 21:02] SnehaGunda commented on #13317
#please-close

[2018-08-20 21:02] protac1 opened #13705 "Documentation for Azure B2C Registration of Native apps appears to be out of date"
Documentation for Azure B2C Registration of Native apps appears to be out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c2ea43-4468-6ce2-c963-6940f5cb1d34
* Version Independent ID: e91ad7a8-0dbd-79b4-0f1b-b3c5a66d6d78
* Content: [Application registration in Azure Active Directory B2C](https://docs.microsoft.

[2018-08-20 21:06] JBines commented on #13678
Hi @MarileeTurscak-MSFT it might be helpful if this added to this page so it is clearly called out. Just an idea. :) 👍

[2018-08-20 21:08] SnehaGunda commented on #13659
@saravp123 The GitHub wiki isn't in sync with latest updates, what we have in public docs is the latest. These are the right values:

“query_maxretrywaittimeinseconds” = 1000
“query_maxretryattemptsonthrottledrequests” = 1000.

I updated the wiki with latest information.

[2018-08-20 21:08] SnehaGunda commented on #13659
#please-close

[2018-08-20 21:09] Mike-Ubezzi-MSFT commented on #13659
@saravp123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 21:09] #13659 closed

[2018-08-20 21:11] Minewiskan commented on #13533
@beaubgosse @jason-j-MSFT Unfortunately, at this time, there is no automated way to deploy a gateway. Keep an eye out though. Things can change.
#please-close

[2018-08-20 21:16] Karishma-Tiwari-MSFT commented on #13698
@sunilagarwal Glad you were able to figure it out.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-20 21:16] #13698 closed

[2018-08-20 21:16] kobulloc-MSFT commented on #13660
@placetobejohan That is correct.  You are able to edit the template html however the template data cannot be edited.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-20 21:16] #13660 closed

[2018-08-20 21:16] ostreifel opened #13706 "Wrong search rank for query language reference"
The first search result on bing for "application insights query language reference" is
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-analytics
when it should be
https://docs.loganalytics.io/docs/Language-Reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41dcdb9d-ab1f-5703-8d0f-20e14615

[2018-08-20 21:18] Karishma-Tiwari-MSFT commented on #13702
Thanks for the question. We are currently investigating and will update you shortly.

[2018-08-20 21:21] anandyadavMSFT commented on #10974
Can you try the latest release?

[2018-08-20 21:21] YutongTie-MSFT commented on #13704
@arbiben Hi, thanks for your feedback. We will investigate it and get back to you soon.

[2018-08-20 21:22] tbebekis opened #13707 "Wrong sign in URL"
The issue I have is not a documentation bug. I believe it's an Azure AD bug.
I'll describe it.

When I try to connect, either as an invited and configured user, or by clicking the "**Test SAM Settings**" button, in the "**How to configure XXXX with Azure AD**" section, in Azure AD, it redirects me to a page with the following url: **https://yoursharepointserverurl/**

Although I've configured it r

[2018-08-20 21:24] kobulloc-MSFT commented on #13679
@rsrinivasanhome You are correct in that currently the goal is data entry.  Approved applications will appear on the Gallery page of the developer portal and allows developers the chance to highlight the apps they've built using the publisher's APIs.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we

[2018-08-20 21:24] #13679 closed

[2018-08-20 21:28] matthias-scharl commented on #10974
1.1.880 is the latest official release at this time.

[2018-08-20 21:33] MoNadtheGrey commented on #10974
Thanks for your reply Anand, I believe 1.1.880 is the latest release? Our AADC is set to auto update and this was pushed as recent as 16/08. Besides the fact that official MS doc suggests this feature should be available for much earlier version (1.1.553.0) so more updates might just be a red herrings

[2018-08-20 21:39] femsulu commented on #13622
@goncalvesj you should be able to delete the subscription if you are the account administrator on the subscription. Can you please confirm? More instructions @ https://docs.microsoft.com/en-us/azure/billing/billing-how-to-cancel-azure-subscription

[2018-08-20 21:45] Adam-Smith-MSFT commented on #13640
@SQLJunkie unfortunately no, the only option that seems to be allowed is to write to a local logfile. I'd highly recommend posting your feedback on this link : https://feedback.azure.com/forums/217298-storage

[2018-08-20 21:45] #13640 closed

[2018-08-20 21:46] goncalvesj commented on #13622
hey @femsulu for some reason for me is displaying as unknown
![image](https://user-images.githubusercontent.com/13003889/44368461-d47b4e80-a4ca-11e8-90e1-58d980459f10.png)

[2018-08-20 21:56] SQLJunkie commented on #13640
Thank you for the quick turnaround!
________________________________
From: Adam-Smith-MSFT <notifications@github.com>
Sent: Monday, August 20, 2018 5:45:33 PM
To: MicrosoftDocs/azure-docs
Cc: Chris Baker; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Verbose Logging (#13640)

@SQLJunkie<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FSQLJunkie&data=02%7C01%7C%7Cb86

[2018-08-20 21:58] femsulu commented on #13622
Interesting... Did anything change with your account recently? were you able to confirm if you are an account administrator on this subscription?

https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer#whoisaa
Who is the Account Administrator of the subscription?
The Account Administrator is the person who signed up for or bought the Azure subscription. They're authorized to

[2018-08-20 21:58] #13533 closed

[2018-08-20 22:07] BarbaraSelden opened #13710 "Please update with new B2B info"
Please update this doc to reflect that when using B2B, users can create a self-service portal that does not require invitation: https://docs.microsoft.com/en-us/azure/active-directory/b2b/self-service-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a42ef49-22e4-25f4-97a8-1e392d1679ac
* Version Independent ID: 62

[2018-08-20 22:09] mrbullwinkle commented on #13706
@ostreifel thanks for bringing this to our attention. The reference content on http://docs.loganalytics.io is actually currently in the process of being [migrated to its new official home on docs.microsoft.com](https://twitter.com/OlegAnaniev/status/1031530593878790145).

While we do take into account SEO when authoring docs, we don't have exact control over how search engines (Bing included) ulti

[2018-08-20 22:18] goncalvesj commented on #13622
This particular subscription I remember I created it myself from an email I got. And interestingly enough nothing shows up regarding account admin.
![image](https://user-images.githubusercontent.com/13003889/44369634-f1198580-a4ce-11e8-851e-cbf9fc92d41b.png)

For all the other subscriptions the account admin is a different user but if I remember correctly I asked him to check the portal and he did

[2018-08-20 22:29] paulbatum commented on #13457
blob, storage queue and service bus queue/topic all have automatic retry.

[2018-08-20 22:36] evshieh-msft opened #13711 "Instructions on using External JARs Unclear"
This documentation on known issues with external JARs is helpful and I am glad that it is included: https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-livy-rest-interface#using-an-external-jar-from-the-additional-storage-is-not-supported

It would be even more helpful if the documentation could include a specific CURL command from Livy that shows how to use the JAR correctly. I ha

[2018-08-20 22:39] jeevansd commented on #13707
This seems to be the configuration issue. Can you please open a support ticket with Microsoft and then we can look into more details.

[2018-08-20 22:43] PatAltimore commented on #5179
@ggirard07 @shoeb8997 @leftler @HiroyukiSako, I'm sorry.  I gave some incorrect guidance on the original question.  The correct location for feedback on programmatically registering B2C applications is https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19975480-programmatically-register-b2c-applications

Please upvote the feature if you are interested.

[2018-08-20 22:43] jason-j-MSFT commented on #13555
Closing issue as the question has been taken to the forums:
https://social.msdn.microsoft.com/Forums/azure/en-US/72e4e3fd-4981-463d-9d50-803c4959c285/usql-sdk-unit-test-vs2017-necessary-runtime-files-are-not-getting-copied-to-working-directory?forum=AzureDataLake

[2018-08-20 22:43] #13555 closed

[2018-08-20 22:45] Karishma-Tiwari-MSFT commented on #13388
@jlaw2018 This issue have been discussed at length here : https://github.com/Azure/azure-powershell/issues/6847

The solution as shared in the thread above is to specify StorageAccountType in the `Set-AzureRmVMOSDisk` phase, before creating the VM with [New-AzureRmVm](url):

`$VirtualMachine = Set-AzureRmVMOSDisk -VM $VirtualMachine -ManagedDiskId $disk.Id -CreateOption Attach -Windows -StorageAcc

[2018-08-20 22:53] marct22 opened #13712 "your 'create databricks workspace - resource manager template' doesn't do that"
there is no ARM template (resource manager template) to create a databricks workspace.
I was expecting something like
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "databrick_base_name": {
            "defaultValue": "marc",
            "type": "String"
        },
        "azure_locat

[2018-08-20 22:54] carmonmills commented on #13564
@bwren would you take a look at this and see if this is something you can address?

[2018-08-20 22:54] MarileeTurscak-MSFT commented on #13692
What is the internal error? Is it possible that somewhere in your config you have the url configured as http and it is getting confused when you put https?

[2018-08-20 23:00] #13707 closed

[2018-08-20 23:01] MarileeTurscak-MSFT commented on #13710
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 23:03] tolandmike commented on #11650
RTO isn't in our SLA. We strive for 99.9% with a 15-minute RTO but we can't commit to that, contractually speaking. Hence why we don't provide a number.

[2018-08-20 23:03] tolandmike commented on #11650
#please-close

[2018-08-20 23:05] MarileeTurscak-MSFT commented on #13705
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-20 23:07] tfitzmac commented on #13254
@aluong - Thanks again for the suggestion. I have added [Subscribe to events through portal](https://docs.microsoft.com/en-us/azure/event-grid/subscribe-through-portal).

[2018-08-20 23:07] tfitzmac commented on #13254
#please-close

[2018-08-20 23:08] MarileeTurscak-MSFT commented on #13705
@protac1 can you provide more detail about this issue?

[2018-08-20 23:08] tolandmike commented on #7697
Not sure about the "bunch of buzzwords which make no sense" comment but okay. Upgrade domain and fault domain are very real and commonplace concepts. That said, I'm not sure this is the right section if you are looking to eval Azure as a backup solution. This section is simply providing an overview of how our storage infra is resilient to failures of all levels to ensure your data is safe.  I woul

[2018-08-20 23:11] tolandmike commented on #7651
Temporary or 'transient' might be more appropriate. Thanks for the feedback, Jeremy.

#in-progress

[2018-08-20 23:33] daveba commented on #13453
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-08-20 23:41] BryanTrach-MSFT commented on #13657
@dcbrown16 All apps in the same App Service Plan (ASP) typically should have the same inbound and outbound IP addresses. The exceptions being when you start talking about App Service Environments (ASE) and if you bind an IP based SSL cert to your web app you can then have an app with unique IPs. Otherwise, if you're not using SSL or SNI SSL bindings and not using an ASE, they should be the same.

[2018-08-20 23:41] #13657 closed

[2018-08-20 23:45] shrishar opened #13713 "How can I deploy my experiments in Azure ML Studio without using "Deploy as Web Service" Option?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-20 23:48] BryanTrach-MSFT commented on #13713
@shrishar Can you please provide us with the Azure Doc URL that you are having issues with? We look forward to your reply.

[2018-08-20 23:50] dcbrown16 commented on #13657
Thanks @BryanTrach-MSFT :)

[2018-08-20 23:57] kobulloc-MSFT commented on #13706
@ostreifel Thank you very much for bringing this to our attention.  Echoing what @mrbullwinkle has said, we have limited control over how our content is ranked on different search engines however comments like yours will help guide others to the right place in the future.

Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regar

[2018-08-20 23:57] #13706 closed

[2018-08-21 00:01] Adam-Smith-MSFT commented on #13696
Thank you for the valuable feedback,we are investigating the issue.

[2018-08-21 00:02] BryanTrach-MSFT commented on #13701
@OscarCanek Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 00:02] mike-urnun-msft commented on #13542
@mapoitras We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 00:02] #13542 closed

[2018-08-21 00:03] JasonWHowell commented on #13711
Hi @evshieh-msft

The doc explains that the jar file should live on the default storage account configured in the cluster, as in the first example. It is not supported to use an external Jar file, since the storage location is not be accessible (whitelisted) to all the nodes in the cluster, so that example is not provided.

If you have specific questions, email me internally, or use the discussion

[2018-08-21 00:04] JasonWHowell commented on #13711
#please-close

[2018-08-21 00:28] j-martens commented on #10196
If possible, #please-close

[2018-08-21 00:29] evshieh-msft commented on #13711
@JasonWHowell and I working to resolve this offline; will update the doc with instructions if we find anything. Thanks!

[2018-08-21 00:29] #13711 closed

[2018-08-21 00:32] j-martens commented on #10330
@jonreade Have you checked out Microsoft Machine Learning SERVER for on-premises? https://docs.microsoft.com/en-us/machine-learning-server/what-is-machine-learning-server
Please see here for GDPR concerns for Azure ML: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/export-delete-experimentation-model-management-data-dsr

@DennisFaucher - new tutorials are due out in late

[2018-08-21 00:32] j-martens commented on #10330
If this answers your question, #please-close this issue. Thank you!

[2018-08-21 00:33] j-martens commented on #10336
If hning's response answers your question, #please-close this issue. Thank you!

[2018-08-21 00:39] j-martens commented on #13167
@hning86 and @raymondlaghaeian -  a customer is reporting the delete model API call is being accepted but the model is not being deleted, could you take a look? Thanks!

[2018-08-21 00:42] j-martens commented on #10081
Thanks for your report, @sauercrowd. I've checked in a fix for this that will go live tomorrow morning. When satisfied, #please-close.

[2018-08-21 00:43] JasonWHowell commented on #10512
#please-close

[2018-08-21 00:44] j-martens commented on #13167
@jdobrzen - do the commands here help at all? https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/export-delete-experimentation-model-management-data-dsr

[2018-08-21 00:44] j-martens commented on #13029
@YutongTie-MSFT - this is an issue for support, not doc.

[2018-08-21 00:45] #13453 closed

[2018-08-21 00:48] j-martens commented on #13028
@YutongTie-MSFT - I don't believe this is a doc bug. Can you reproduce?

[2018-08-21 00:49] j-martens commented on #12503
@XianghanWang, can you #please-close?

[2018-08-21 00:53] j-martens commented on #12267
@LeitchP - thanks for your report. I've made the correction which should **go live in the morning**. If you are satisfied with the fix, #please-close this issue. again, thank you.

[2018-08-21 00:56] femsulu commented on #13622
Unfortunately, without knowing the account administrator, this will be challenge to delete. The other/final option is to engage the subscription management support team to help delete the subscription on the backend. Are you able to file a support ticket via the Azure management portal? If not then please send mail to Azcommunity@microsoft.com with the subscription ID and a link to this GitHub iss

[2018-08-21 00:57] vashish76 commented on #13658
Sure. following is the code..

import requests
import matplotlib.pyplot as plt
from matplotlib.patches import Polygon
from PIL import Image
from io import BytesIO

subscription_key = "ceAbdcd9a601000XXXXXXXXXXXXXX"
assert subscription_key
vision_base_url = "https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/"
text_recognition_url = vision_base_url + "recognizeText"

image_url = r"D:\Use

[2018-08-21 01:01] JasonWHowell commented on #9620
@lstak That's a good suggestion. Since the engine is updated more often than this doc article, I think we should rely upon the version in the output from this query: `SELECT * FROM pg_available_extensions;`

That list will be most current and easier to maintain than to transcribe in the docs.

Thanks, Jason
#please-close

[2018-08-21 01:02] JasonWHowell commented on #10774
#please-close

[2018-08-21 01:03] JasonWHowell commented on #11892
#please-close

[2018-08-21 01:08] j-martens commented on #12189
@jxjia - thanks for letting us know. I've checked in a fix that will go live tomorrow morning. Thanks for your report. If you are satisfied with the fix, #please-close this issue. Thank you!

[2018-08-21 01:09] dbasznianin opened #13714 "accept invitation deny access to granted documents"
I am using graph api. Steps which I am doing:
1. upload document
2. create guest user via invitation endpoint
3. add permision to document

In azure Invited guest is created.
Document on onedrive is granted to guest user.
If user open URL do document need to accept terms for b2b azure active directory. Once do it has error: access deny.
On onedrive from document user is removed. In azure user is m

[2018-08-21 01:11] #12267 closed

[2018-08-21 01:38] mrbullwinkle commented on #13639
Thanks for the added info. I did a new install of VS 2017 with the default ASP.NET and web development components just to test and confirm that nothing has changed.

![Visual Studio install screen](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/13639/vs-install.png)

Post install I still had Application Insights Search under **View** > **Other Windows**

I did a little more di

[2018-08-21 01:49] scottzilla commented on #12445
This example would be more compelling if a namespace other than kube-system was used.

[2018-08-21 02:12] rafats commented on #13626
I don't understand what you mean by " it seems that Only tuple {PartialPath, Id} are indexed". Can you please point in the document, the section you are referring to.

Cosmos DB models JSON documents and the index as trees. You can tune to policies for paths within the tree. Within documents, you can choose the paths to **include or exclude from indexing**.

"/" Default path for collection. Recurs

[2018-08-21 04:29] CelesteDG commented on #13710
Thank you for the feedback, @BarbaraSelden - Please review the changes in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/49523 and let me know if you approve. The changes are staged here: https://review.docs.microsoft.com/en-us/azure/active-directory/develop/howto-get-appsource-certified?branch=pr-en-us-49523. Thank you.

[2018-08-21 04:57] femsulu commented on #13622
@goncalvesj  We will now close this issue but can continue the conversation via email - per my previous comments.

[2018-08-21 04:57] #13622 closed

[2018-08-21 05:08] femsulu commented on #13557
@StarkCaptain We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-08-21 05:08] #13557 closed

[2018-08-21 05:17] v-maroge opened #13715 "What are the specific usages of IP addresses reserved by Azure in subnets?"
"Yes. Azure reserves some IP addresses within each subnet. The first and last IP addresses of each subnet are reserved for protocol conformance, along with the x.x.x.1-x.x.x.3 addresses of each subnet, which are used for Azure services."
-Can you explain usages for the first and last, and the x.x.x.1-x.x.x.3 IP addresses as specific as possible?

---
#### Document Details

⚠ *Do not edit this sect

[2018-08-21 05:30] YossiShasha opened #13716 "Custom control with a new provider"
I understand that the custom control is not open for general development.
I am working at a leading security company, how can we become a custom control provider?

ID: e03d33c6-c60b-153c-bf76-a127be502170
Version Independent ID: 7bbf1dc5-bd91-d03a-7939-439bfbee85c9
Content: [What are access controls in Azure Active Directory conditional access?](https://docs.microsoft.com/en-us/azure/active-direct

[2018-08-21 05:36] ramankumarlive commented on #13543
@MicahMcKittrick-MSFT  can you please propose an edit as you have already done all the investigation and proposed a resolution? I will approve it.

[2018-08-21 05:52] DanielJBrown opened #13717 "Name Servers"
It would be great if the connectivity issues points included information on ensuring that a domain name regirsters named servers are pointing to the DNS zone's name servers. Because if they are not no one is joining the domain!
It took me days of research and understanding to get the vm to join the domain.
I couldn't get it connected to the mydomain.onmicrosoft.com one either... So I went and brou

[2018-08-21 06:06] jimeilong opened #13718 "500 error when run the app in azure"
Hi ,
when i try to open the url and it's show a server error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Content: [Real-time data visualization of sensor data from your Azure IoT hub – Web Apps](https://docs.micros

[2018-08-21 06:07] jimeilong commented on #13718
![capture](https://user-images.githubusercontent.com/18300923/44383524-8fe3c780-a54b-11e8-88fe-732b0e2e7181.PNG)

[2018-08-21 06:09] Zebusch opened #13719 "Can you really use A records?"
This doc: https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-addresses states that ip-addresses might change over time, for example when renewing certificates. So, can you really use A records (which basically requires the IP address to be static)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-

[2018-08-21 06:12] EmmaZhu commented on #13145
@Sambsamb  The container instance has been accepted by the script. At the very end, it failed due to a temporary network issue.
Could you try it again? If you still meet this issue,  we should think a way to retry on such kind of network error.

[2018-08-21 06:26] kamellemann opened #13720 "Encrypt new disks added to VMs already encrypted"
We have the experience that sometimes newly attached disks got encrypted, sometimes not (encryption configured with volumetype -all).
What is the best way to handle this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aed5ca44-9a26-aa5c-089b-73e2d3a626a6
* Version Independent ID: 067a251b-df8b-75bb-d351-4f2b475e55de
*

[2018-08-21 06:32] shruti456 commented on #13065
@sergaz-msft - Yes it works when i am on wifi but does not work on my office network.
Can you tell me why is that?

[2018-08-21 06:36] DanielJBrown commented on #13653
I reigstered a domain with a domain register and created a Azure AD Domain Service and DNS zones for that register. Then after updating the named services of the register to the ones from the NS record for the DNS Zone I was finally able to join the domain from within Azure. I would just like this information to be more easily accessible for this page because I knew little about it until now.

[2018-08-21 06:44] dcbrown16 opened #13721 "Expiration of connection?"
How long does the connection to Office remain valid for? Would that be the 90 day run duration documented below?
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#change-duration
I'm working with a customer who observed that the connection stays valid even after changing the password on the account used to connect, and wants to know when the connection will need to be

[2018-08-21 06:46] Pavankumar9989 opened #13722 "versioning required"
team .. great documentation !! only trouble is the content being changed frequently .. would be great to see what has been changed. Can you please maintain versions to track changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d2a9d09-f0f0-f02a-dfc6-f9562c0d66ec
* Version Independent ID: f7c0b99d-daae-5616-ab57-ff2

[2018-08-21 07:22] IFLinfosec opened #13723 "Duplicate information"
The info in the following two paragraphs is almost identical to the third:

Azure Active Directory Identity Protection is more than a monitoring and reporting tool. Based on risk events, Identity Protection calculates a user risk level for each user, so that you can configure risk-based policies to automatically protect the identities of your organization.

These risk-based policies, in addition t

[2018-08-21 07:28] msimecek commented on #13685
Cool, thanks! Closing.

[2018-08-21 07:28] #13685 closed

[2018-08-21 07:44] Anmolgan81 opened #13724 "Data Factory V2 Move is Supported Now?"
Does Data Factory V2 Move is supported, I heard it was not supported earlier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.

[2018-08-21 07:51] patrickjlee commented on #5391
@SnehaGunda I don't mind, as long as there is a solution. So are you saying that Azure Function v2 is available and will can be used to write to Cosmos DB databases? How do I get Azure Function v2? Thanks

[2018-08-21 07:52] tumluliu commented on #12338
Hi Eric, may I ask if there is any update on this issue recently? I am still stuck on how to attach a previously encrypted datadisk to a new VM.
Thanks! @ejarvi

[2018-08-21 07:53] Anmolgan81 opened #13725 "What about the Batch account does that enables move?"
Does Batch Account enables move??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resou

[2018-08-21 07:55] Anmolgan81 opened #13726 "What about the Data Managment Gateway?"
Does Data Management Gatrway enables move?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-mana

[2018-08-21 07:57] dcbrown16 opened #13727 "No portal settings?"
"Forced tunneling can be configured by using PowerShell, not through the portal."
Which steps here are not possible in the Portal? Is it Set-AzureRmVirtualNetworkGatewayDefaultSite -GatewayDefaultSite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e199bebd-d994-ec96-4716-c995559adc21
* Version Independent ID: 1b856aa3

[2018-08-21 08:00] zaxer0229 opened #13728 "Could not create private zone in the VNet had VMs"
Hi
I tried to create new private zone in the VNet with VMs, got the error message
"New-AzureRmDnsZone : Virtual networks that are non-empty (have Virtual Machines or other resources) are not allowed during association with a private zone."

It seems by design, is there any way or possible can deploy the private zone in the existing VNet had VM?

Thanks!

---
#### Document Details

⚠ *Do not edit t

[2018-08-21 08:04] dcbrown16 commented on #13581
@jimdial thanks for the quick action!
@yushwang OK, if I'm understanding correctly the gateway basically can't respond if force tunneled when Azure management is talking to it. Is this not a problem for VMs or other resources in the subnets that can be force tunneled?

[2018-08-21 09:35] chaseDream1314 commented on #6646
@deansavovic  Thanks for your guidance. I have fixed the same error about the "Unable to Start Container" Error message with Azure ML Workbench just by switching docker to linux container.
 And then I can run the docker container and pull the image.

When it comes to initialize the container, however, I face the error:container failed to initialize. Can you recommand me further solution? Thank you

[2018-08-21 09:42] MSSedusch commented on #13722
You can see the changes in GitHub.
https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/virtual-machines/workloads/sap/high-availability-guide-suse.md
or
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/virtual-machines/workloads/sap/high-availability-guide-suse.md

I understand that it is not possible to see which version of the documentation was actually published

[2018-08-21 10:24] gmconte opened #13729 "Block a specific IP"
Hi, I can't make this work for some reason.
As I understand it, to block a specific IP I need 2 rules: one that blocks the IP and the other that allows the rest of the internet.
So I found my public IP (whatismyip.com) and I created those two rules, and because they are evaluated in order of priority (asc) I set the DENY to priority 1 and the ALLOW to priority 300.

My test failed: I can still com

[2018-08-21 10:29] gmconte commented on #13729
Just to be crystal clear, here is my resource manager configuration (I wrote X.X.X.X instead of my real IP):

...
"ipSecurityRestrictions": [
      {
        "ipAddress": "X.X.X.X/32",
        "action": "Deny",
        "tag": "Default",
        "priority": 1,
        "name": "Ban Me"
      },
      {
        "ipAddress": "0.0.0.0/0",
        "action": "Allow",
        "tag": "Default",
        "pr

[2018-08-21 10:50] chaseDream1314 commented on #6646
@deansavovic Thank for response! No, I didn't run the cli like administrator in azure workbench, but I want to give you more details:
[Local mode] Waiting for container to initialize...{
    "Azure-cli-ml Version": "0.1.0b2.post2",
    "Error": "Error, container failed to initialize. Please run 'az ml service logs realtime -i imgclassapi1' to determine the cause."}

when I run the command like "az

[2018-08-21 10:58] Pavankumar9989 commented on #13722
Thanks for looking at this.. we see the need for version when using this
guide as reference at client deployment.. we usually perform a PoC first
and after few months do actual prod ha setup.. in this time gap, the
document is updated and we are unable to track "what's changed " .. making
POC setup no longer dependable hence Prod HA setup is all new again.
Hope you understood the pain :)

On 21-Au