[2021-03-24 16:49] JamesTran-MSFT commented on #72698
@SaschaSeipp
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-24 16:51] #71388 closed

[2021-03-24 17:00] JamesTran-MSFT commented on #72622
@campbellj0
Thank you for your time and patience throughout this issue!

I received a response from our Azure Key Vault engineering team, and it's advised to open an issue under the - [Azure/secrets-store-csi-driver-provider-azure](https://github.com/Azure/secrets-store-csi-driver-provider-azure#support) GitHub repo.

**Per the [support statement](https://github.com/Azure/secrets-store-csi-driver-

[2021-03-24 17:00] #72622 closed

[2021-03-24 17:09] JamesTran-MSFT commented on #72647
@ran-ten21
Thank you for your time and patience throughout this issue!

I've reached out to our ASC engineering team on this and will update as soon as possible.

[2021-03-24 17:10] thommck opened #72702 "Unclear troubleshooting steps"
The troubleshooting step doesn't make it clear what config is being reset.
Do you mean something in the Log Analytics Workspace, or the "configure" button in the solution, or somewhere else?
![image](https://user-images.githubusercontent.com/29751878/112353498-b0f09400-8cc3-11eb-8e42-5a33668871ec.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-24 17:13] JamesTran-MSFT commented on #72629
@rondfw
Thank you for your time and patience throughout this issue!

I've reached out to our engineering team on this and will update as soon as possible.

[2021-03-24 17:13] BrooksV commented on #72697
I tried with and without  "fetchPropertyChanges" and tried several interval.start from 6 hours to 14 days

{
    "resourceId":  "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/xxx-xxxx-x-RGP-xxxx-xxxx/providers/Microsoft.Storage/storageAccounts/xxxxxxxxxxxxxstorage1",
    "fetchPropertyChanges":  true,
    "interval":  {
                     "start":  "2021-03-10T00:00:00.000Z"

[2021-03-24 17:14] DerekHerman-MSFT commented on #72494
@Zarathrustra Since it seems you are needing guidance I recommend posting your questions https://azure.microsoft.com/en-us/support/community/
After you have the proper guidance you can create new feedback for the appropriate documentation page. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2021-03-24 17:14] #72494 closed

[2021-03-24 17:16] michaelshire opened #72703 "Quantify the difference in latency between LRS and ZRS?"
"However, the write latency for LRS disks is better than ZRS disks because LRS disks synchronously write data to three copies in a single data center."
Would you be able to quantify this difference?  At least within some order of magnitude?
IE: Is the write latency of LRS 100x less than ZRS?  Or is the write latency of LRS <1.1x less than ZRS?

---
#### Document Details

⚠ *Do not edit this sectio

[2021-03-24 17:17] VikasPullagura-MSFT commented on #72692
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-03-24 17:17] bandersmsft commented on #70789
https://github.com/MicrosoftDocs/azure-docs-pr/pull/151888

[2021-03-24 17:20] DCtheGeek commented on #72697
@BrooksV In that case I recommend opening a [Support Ticket](https://azure.microsoft.com/support/create-ticket/).  As this doesn't appear to be a problem with the Docs (the intent of this forum), I'm going to close this issue.  If your ticket indicates a change to the Doc is required, the escalation team will let me know.  Thank you!

#please-close

[2021-03-24 17:20] #72697 closed

[2021-03-24 17:20] bandersmsft commented on #70789
@jonwbstr You're right and make a good point. The grace period you mentioned was recently chagned to 90 days (per the Reservation enginnering team). I've updated the article as you suggested and noted the 90 period. Thank you.
#please-close

[2021-03-24 17:20] #70789 closed

[2021-03-24 17:22] kinetiq commented on #72168
@felinepc  Thanks for getting back to me on that. I'm only having this issue in one place... I think what I'm going to do is try and add calls to Environment.GetEnvironmentVariable in the event that IConfiguration can't find a value. I have to make sure this works in both MVC and Azure Functions, which is tricky, although in the previous version of AF this was working fine.

[2021-03-24 17:24] SadiqhAhmed-MSFT commented on #72691
@paulfinol Thank you for posting your question.

Short answer: YES: OS disk should be smaller than 4TB, data disk smaller than 8TB

[2021-03-24 17:26] SadiqhAhmed-MSFT commented on #72609
@amanjeetsingh Hope the previous response by @sideeksh answered your question. Feel free to ping if there are further questions in this matter.

[2021-03-24 17:26] JamesTran-MSFT commented on #72658
@BHeshka
Thank you for your time and patience throughout this issue!

When it comes to getting another QR code, you should be able to do this by sign-in to your account, and then turning on two-factor verification using either your device or your computer. If two factor is already turned on, you should see a "security" tab or similar option for MFA.

![image](https://user-images.githubusercontent.

[2021-03-24 17:32] bandersmsft commented on #72044
https://github.com/MicrosoftDocs/azure-docs-pr/pull/151888

[2021-03-24 17:32] SadiqhAhmed-MSFT commented on #72230
@t-leblanc You may directly share the feedback with product group here - https://feedback.azure.com/forums/256299-site-recovery

[2021-03-24 17:34] JamesTran-MSFT commented on #72678
@mickhowarth
Thank you for your time and patience throughout this issue!

- When it comes to your issue, are you/your users having issues logging into Exchange after enabling security defaults?
- Or are you looking for documentation to install PowerShell?
- Are you recommending a doc enhancement so we can improve our PowerShell references as you mentioned above?

Any additional information would b

[2021-03-24 17:36] bandersmsft commented on #72044
@SS-atwork You're right. We didn't say that if you're creating the export programmatically and/or with the API you need to manually register the “Microsoft.CostManagementExports” resource provider with the subscription where the storage account resides. This happens automatically if you create the export in the Azure portal but must be done manually if you are creating exports via the API. Info on

[2021-03-24 17:36] #72044 closed

[2021-03-24 17:40] SaurabhSharma-MSFT commented on #72447
@xp0522  As this issue is not a documentation issue I suggest you to please open a new Microsoft Q&A forum post with the details and community will help address your query. Please refer to [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-hdinsight.html to ask a new question.

[2021-03-24 17:41] ggailey777 commented on #72168
I just chatted with @brettsam and there are 2 points that need to be clarified in the docs:

+ The custom dependency injection model that we have for .NET in-process (C# class library functions) doesn't apply at all to .NET isolated (.NET 5.0) functions. Totally ignore the [old DI article](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection) and follow the guidan

[2021-03-24 17:49] SubhashVasarapu-MSFT commented on #72604
@rolandnyamo, Appreciate your patience. The portal released earlier than expected but we'll be publishing docs soon.

[2021-03-24 17:55] felinepc commented on #72168
@ggailey777 DI itself registered via `.ConfigureServices` in isolated Azure Functions does work. The problem is specific to `IConfiguration` and config/options binding.

To put it more clearly, in traditional ASP.NET Core we have `appsettings.Environment.json` files in which we can enter configuration variables, and either access them via either `IConfiguration` or `IOptions` (if binding is config

[2021-03-24 17:57] paulfinol commented on #72691
Great!

Thanks

Paul Finol

On Wed, Mar 24, 2021 at 2:25 PM SadiqhAhmed-MSFT ***@***.***>
wrote:

[2021-03-24 17:58] shmcvation commented on #62877
We are seeing the same, inconsistent issue, where the publisher verification sometimes fails:

Code = "UnableToAddPublisher"
Message = "A verified publisher cannot be added to this application. Please contact your administrator for assistance"

Have tried with multiple application and it seems random whether it works. For some applications, I have been rejected at first attempt, but retrying a few

[2021-03-24 18:00] dkattan commented on #62877
My error is different "You are unable to add a verified publisher to this application. Please contact your administrator for assistance."

[2021-03-24 18:02] bandersmsft commented on #70507
@JelmerBarhorst Sorry for the delay. Exchanging a reservation purchased with a pay-as-you-go subscription for a new reservation with a CSP subscription isn't supported. So for sure, canceling the old PAYG reservation (and getting a refund) and then buying a new CSP reservation is what you must do. The order you do it is your choice. When you buy a new reservation, a new reservation term starts so

[2021-03-24 18:02] #70507 closed

[2021-03-24 18:04] kgremban commented on #72534
@stmccartney Can you provide more information about your device configuration? Since you mention vCPUs as a prerequisite, does that mean that you're running EFLOW on a virtual machine and needed 4vCPUs for the nested virtualization capabilities?

[2021-03-24 18:06] RobertWalther opened #72706 "Parameter missing"
In paragraph _Create role assignments / With Azure CLI_ the resource group parameter is not assigned to the variable.

Wrong:` az cosmosdb sql role assignment create --account-name $accountName --resource-group --scope "/" --principal-id $principalId --role-definition-id $readOnlyRoleDefinitionId`

Correct:` az cosmosdb sql role assignment create --account-name $accountName --resource-group $resou

[2021-03-24 18:07] ericthomas1 commented on #25149
Hi @YASWANTHM-MSFT ,

**RE: "A SAS token you generate with the storage client library, for example, is not tracked by Azure Storage in any way.":**
- Does this mean there is _no way to determine_ **which** SAS token was used to retrieve a blob from a Azure Storage container?

**Example:**
- I issue Bob and Jane individual SAS tokens to a single Azure Storage container
- One of them used the SAS to

[2021-03-24 18:12] KKanekoa opened #72708 "Avro"
Wondering if the Explorer will support avro serialized messages soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4473571e-db99-fd3c-5861-1ba66e3a6890
* Version Independent ID: a2ebb61f-e901-a778-cca0-503fb10ae42b
* Content: [Use Azure Service Bus Explorer to perform data operations on Service Bus (Preview) - Azure

[2021-03-24 18:15] Jarlotee commented on #64660
@ukphillips good call, I am using user assigned without success

[2021-03-24 18:19] Sri-SD commented on #72634
Yes, it installs fine. But the APIs are throwing error. The same API will not throw any error on AKS 1.17.3 and NGINX 1.17.10 but on any version of AKS from 1.17 to 1.19 we tried it throws error if NGINX version 1.19

By default the link in the document will install 3.25.0 chart (NGINX 1.19), That's the reason we are asking what is the specific chart link for NGINX 1.17.10 for ingress-nginx (with

[2021-03-24 18:20] Sri-SD commented on #72634
Can you let me know the procedure to create support ticket with microsoft pls?

[2021-03-24 18:21] ThomasWeiss commented on #72706
Nice catch, thanks a lot @RobertWalther ! The change has been submitted and will go live today.
#please-close

[2021-03-24 18:21] #72706 closed

[2021-03-24 18:21] garthoid commented on #72399
Unfortunately I had to use the "emergency" access to bypass the normal Azure AD group authentication. I will create a new cluster using the steps and try again. Will report back when it is done.

[2021-03-24 18:24] TravisCragg-MSFT commented on #72703
@michaelshire Unfortunately this is something that cannot really be quantified, as it is different depending up on the datacenter and Availability Zone. Typically this difference will be some additional ms of latency. A great way to test this on your VM is to attach a LRS and ZRS disk and test the write latency on both.

[2021-03-24 18:33] MashaMSFT commented on #69506
Hi @alalani123 , it's been some time since we've heard from you, so we're going to assume your issue has been addressed and close out this Git Issue.

However, please feel free to comment should you need anything further.

Thanks and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-03-24 18:33] #69506 closed

[2021-03-24 18:36] BharathNimmala-MSFT commented on #72696
@JerryMSFT Thanks a lot for bringing this to our notice, we will update the document accordingly.

[2021-03-24 18:37] BharathNimmala-MSFT commented on #72702
@thommck Thank you for reaching out with your query , we will review and get back to you at the earliest.

[2021-03-24 18:40] Ayanmullick opened #72709 "Convert Gen1 VM's OS disk to Gen2 using MBR2GPT.exe"
Could one convert a Gen1 VM's Azure disk to Gen2 using the MBR2GPT.exe tool mentioned in link below and recreate the  VM as Gen2 from the same disk?

https://plusontech.com/2018/11/04/convert-virtual-machine-from-generation-1-to-generation-2-the-fast-and-easy-way/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 940f5217

[2021-03-24 18:41] AjayKumar-MSFT commented on #72345
@shizn, Apologies for the delay! Following the doc cmdlet, I was able to create the Postgres database in Azure. I have 'tried this on Azure CLI on Windows and it works (screenshot below), I understand you have mentioned that you experienced the error on WSL2 Ubuntu.
Kindly review the [prerequisites](https://docs.microsoft.com/azure/app-service/tutorial-python-postgresql-app?tabs=cmd%2Cclone#1-set-

[2021-03-24 18:53] michaelshire commented on #72703
Ok thanks.
Will look to test and share results in some sort of blog post.

[2021-03-24 18:53] #72703 closed

[2021-03-24 19:00] SunnyDeng opened #72712 "Outdated BlockBlobService"
The original escalation is from nl-nl:  https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/653

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26752b49-023e-da0d-a209-1eed0d7fcd25
* Version Independent ID: e43d7001-e9ce-a863-7456-fc28bb349736
* Content: [Quickstart - Use Python API to run an Azure Batch job - Azur

[2021-03-24 19:12] stmccartney commented on #72534
Yes, that's correct. I was running Edge for Linux in Windows on an Azure VM
using nested virtualization. When I ran the deploy-eflow script it failed
with an error saying 4 vCPUs were required.

Steve

On Wed, 24 Mar 2021, 18:04 Kelly Gremban, ***@***.***> wrote:

[2021-03-24 19:18] joheec opened #72714 "Issue with $triggersToStart"
Used the `Sample pre- and post-deployment script` from the [Docs](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#script) and came across an issue with setting $triggersToStart

The following code was always returning false: `$_.properties.runtimeState -eq "Started"`. This prevented adding any of the triggers from `$triggersInTemplate`, despite the values in t

[2021-03-24 19:21] ehm-wehb commented on #21850
Am I missing something or has it been over two years with no resolution to this?  I have a specialized image and am running into this same error when deploying via cli. Just doing a simple az vm create:
`
 az vm create --resource-group myresourcegroup --name testvm --image "/subscriptions/tenant/resourceGroups/myresourcegroup/providers/Microsoft.Compute/galleries/BaseImage/images/Base-v-1-1-Unatte

[2021-03-24 19:23] kinetiq commented on #72168
Yes, to be extremely specific: in the previous version of Azure Functions, if I injected `IConfiguration`, it would automatically pick up values in `local.settings.json`, in the Values array. In Production, it looks like it would also pick up environment variables.

That could be useful in cases where code needed to be shared between MVC  and Functions... It was possible to drop the value in `loca

[2021-03-24 19:29] mcgear opened #72716 "Equivalent support in Front Door Standard/Premium"
As we move forward with our V2 tech, our goal is to use Front Door standard/premium as it provides the superset of capabilities.  Wondering if there is documentation for Std/Prem to accomplish this same thing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02772612-08a7-06a1-f0ca-d6d8c5de3ed7
* Version Independent ID:

[2021-03-24 19:31] sphenry opened #72717 "Python example contains non-python code for acquiring interactive token"
Python example contains non-python code for acquiring interactive token

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29430c6-fd84-c423-db14-4f87853dc5d6
* Version Independent ID: 99605c52-055e-8361-4540-2527fd0ad342
* Content: [Quickstart - Create and manage access tokens - An Azure Communication Services quickstart

[2021-03-24 19:34] duongau commented on #72716
Assignees - duongau

[2021-03-24 19:39] felinepc commented on #72168
@kinetiq Hey looks like I just missed mhoger's reply [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/318#issuecomment-805996945). Adding
[code]
made `IConfiguration` pick up values in `local.settings.json` again (still have to be under `Values` section).

They stated that they'll add this by default in the next release.

Sorry I think I may have driven this particular issue of

[2021-03-24 19:42] SnehaGunda commented on #70418
We will now lcose this issue.

#please-close

[2021-03-24 19:42] #70418 closed

[2021-03-24 19:43] stevestein commented on #72531
@vhe1 - thanks for the feedback. The DTU limits are listed in this article: https://docs.microsoft.com/azure/azure-sql/database/resource-limits-dtu-single-databases.  Am I interpreting this correct that you're occasionally exceeding these limits?  Perhaps scaling up to a higher tier would help.

[2021-03-24 19:43] hamiltonha commented on #72420
@Li-Yanzhi  your admin has to enable you to put the device in shared mode: "in the Azure portal, set the Cloud Device Administrator by modifying Organizational Roles. In the Azure portal, access your Organizational Roles by selecting Azure Active Directory > Roles and Administrators > Cloud Device Administrator. Add the users that can put a device into shared mode."

[2021-03-24 19:44] ajhoekst opened #72718 "Missing Type Properties For Passing Data Path Assignments To ML"
The user interface provides the option to pass "data path assignments" to Machine Learning. However, the type properties on this option are missing and no other documentation (that I've found) explains how to use them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e7af5a-71c6-bca4-d305-39875e132afe
* Version Indepen

[2021-03-24 19:50] mikemowgli commented on #71150
I confirm I have these roles, and still see this issue.

[2021-03-24 19:55] SnehaGunda commented on #72514
@mpchen hope the above response addresses your question. we will now close this issue. if you need further help please reopen it.

#please-close

[2021-03-24 19:55] #72514 closed

[2021-03-24 19:56] stevestein commented on #67342
@JCDeist - thanks for pointing this out. The article has been updated to account for SQLG7: https://docs.microsoft.com/azure/azure-sql/database/migrate-dtu-to-vcore#dtu-to-vcore-mapping

#please-close

[2021-03-24 19:56] #67342 closed

[2021-03-24 20:15] cgillum commented on #64287
Thank you for this feedback @chrolivier and @jogikalpesh. We are currently in the process of working on substantial documentation and Azure Portal UX improvements, using this issue as well as feedback we've heard from other customers (both internal and external) for guidance. As part of that work, we will also provide more clear documentation and guidance for enabling multi-tenant applications for

[2021-03-24 20:17] sarthak-git opened #72721 "AzureADPreview module does not behave as intended"
Most of the Cmdlets in the preview module do not work as advertised .
![image](https://user-images.githubusercontent.com/48988578/112377597-f311d980-8cb3-11eb-9773-7bddbafdb7ac.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7537fd89-fd10-1fa2-a721-5260896cfa8a
* Version Independent ID: 8baca

[2021-03-24 20:18] DerekHerman-MSFT commented on #72690
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-24 20:22] b-juche commented on #72633
Per email discussion with the team, we are adding the following under the Considerations section of the AD Connection article (Create and manage Active Directory connections for Azure NetApp Files).

* For non-AD integrated DNS, you should add a DNS A/PTR record to enable Azure NetApp Files to function by using a “friendly name".

This change is in Pull Request #151938 (merged for publishing withi

[2021-03-24 20:23] chanuengg commented on #71150
Can you create a support ticket. We need more information to investigate this issue.

[2021-03-24 20:30] colinmaheu commented on #72502
Same issue... Dead link. My partner can't post his Azure offer on Appsource.

[2021-03-24 20:35] chaisen2006 opened #72722 "SQL Authentication"
[Enter feedback here]
 --""For SSIS package executions, your SSIS IR will still connect to SSISDB using SQL authentication with fully managed accounts that are created during SSISDB provisioning"".-- Taken from the Page

If we choose Azure AD while provisioning the ADF, then do I have to switch back to SQL Authentication in order to make my SSIS packages run. I don't understand the use of Azure AD

[2021-03-24 20:37] kinetiq commented on #72168
@felinepc I did, thanks! Works great!

[2021-03-24 20:51] lobrien commented on #71830
#assign @samuel100

[2021-03-24 20:53] SaiKishor-MSFT commented on #72716
We are currently investigating and will update you shortly.

[2021-03-24 20:54] roygara commented on #72294
@samueljamkhandi-MSFT Thanks again for standing up the PR. Since it's merged I'll go ahead and close out this issue.

#please-close

[2021-03-24 20:54] #72294 closed

[2021-03-24 20:57] MarileeTurscak-MSFT commented on #72677
Thanks! I made a pull request to add the licensing requirements https://github.com/MicrosoftDocs/azure-docs-pr/pull/151953

CC @rolyon

[2021-03-24 20:57] #72677 closed

[2021-03-24 20:59] JamesTran-MSFT commented on #72721
@sarthak-git
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-24 21:05] b-juche commented on #72633
#please-close

[2021-03-24 21:05] #72633 closed

[2021-03-24 21:09] dmangonakis opened #72723 "R Studio on Azure"
Hi there!

What is the best way of programmatically spinning up an R Studio environment on demand with specific dependencies, e.g. R version, CPU, packages, ... ?

Azure ML CI is a managed VM. Thus, you can't choose the R version you want. One may fire up another CI within R Studio for using a different R environments but that seems to decrease rapid experimentation.

Is DSVM as an unmanaged VM th

[2021-03-24 21:10] sccmfan opened #72724 "Intune enrollment"
Hi,

it would be great to clarify support statement regarding Intune Enrollment app.

i've Conditional Access policy configured with a ToU and targeted only to "Microsoft Intune Enrollment"

the enrollment works good and the ToU is displayed in the following cases:
when we deploy Android Corporate-owned, fully managed device using KNOX
when we deploy Android Corporate-owned device with work profil

[2021-03-24 21:13] MarileeTurscak-MSFT commented on #72570
This does seem to align with the Powershell documentation so I made a pull request to update the command. https://github.com/MicrosoftDocs/azure-docs-pr/pull/151955

I also made a PR to update [this additional article ](https://docs.microsoft.com/en-us/powershell/module/az.addomainservices/new-azaddomainservice?view=azps-5.7.0)that had a reference to this command: https://github.com/Azure/azure-po

[2021-03-24 21:13] #72570 closed

[2021-03-24 21:16] syntrixsystems opened #72725 "Quickbooks Online Linked Service - Connection Failed - Cannot Resolve Hostname"
Followed the information on [this](https://docs.microsoft.com/en-us/azure/data-factory/connector-quickbooks#linked-service-properties) page which was very helpful.  I gathered all the pieces required on the QBO side; however the connection is failing with:

ERROR [HY000] [Microsoft][QuickBooks] (20) Error while attempting to use REST API: Couldn't resolve host name

Is this a problem with the end

[2021-03-24 21:19] PingPongSet commented on #72592
@ VikasPullagura-MSFT

Thank you for your comments.

I followed the instructions on the article, but it failed.

I wonder if this happens to someone else.

Canyone provide code that can fix this? I am new to AKS/K8s.

[2021-03-24 21:46] hpsin commented on #72041
Is it possible to route system context traffic for only login.microsoftonline.com through the proxy and allow requests to other domains through? I don't understand why all system traffic has to be routed through the proxy in an all or nothing way.

[2021-03-24 21:54] BevanSin opened #72726 "Encryption between Agent and the Gateway"
While the port number can be configured, and we discuss the TLS version of encryption between the gateway and the Log Analytics instance, there does not appear to be any discussion of the encryption level between the agent and the Gateway, or if this is customisable.  Can we add a section that describes the encryption of the traffic between the agent and the gateway, and if the port actually matte

[2021-03-24 21:55] bandersmsft commented on #70253
@v-sashig By default, regular virtual machine license costs are rolled into the per-minute charge per VM. See https://azure.microsoft.com/en-us/pricing/licensing-faq/. The license cost is combined and shown in Cost Management with the meter category *virtual machine*. Licensing costs for reserved virtual machine instances (VM reservations) are shown in Cost Management > Cost analysis > Add filter

[2021-03-24 21:56] #70253 closed

[2021-03-24 22:21] SaiKishor-MSFT commented on #72212
@Herman5006 I was able to reproduce it. Let me reach out internally regarding this. I will update you soon. Thank you!

[2021-03-24 22:39] mike-urnun-msft commented on #71031
Hello @gaborbuzasi - My apologies for the late reply. I believe the confusion stems from the terminologies used.

Technically speaking, the slot-specific settings _will have to move_ to the new environment which maybe is what you've observed. I think the term "slot-specific" probably means in the context of how these settings will always be marked to move to the environment you're swapping to, the

[2021-03-24 22:39] #71031 closed

[2021-03-24 22:48] Karishma-Tiwari-MSFT commented on #72712
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-24 22:52] BharathNimmala-MSFT commented on #72330
@D-Moonesinghe We really appreciate you taking time to provide additional feedback. I am taking this feedback with our Internal team and post review we will have a backlog item to enhance the document accordingly.

[2021-03-24 23:04] hpsin opened #72729 "Proxy and tenant restrictions configuration is not listed here"
This page should also include the details about tenant restrictions and proxy configuration that another page lists:
https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-managed-domains#prerequisites
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Vers

[2021-03-24 23:06] bharti8085 opened #72730 "https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh - not available"
Why I cant find below link?

https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh

is it moved or do you have a separate link for it?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62f5abc-b327-bac5-9f61-8bb31b70aa45
* Version Independent ID: 2be0a6a6-fe31-0704-d667

[2021-03-24 23:12] tfitzmac commented on #72597
@paulfinol - thanks for this feedback. I have added a section that explains the resource ID changes during a move and requires updates anywhere the ID is used. It should get published tomorrow.

[2021-03-24 23:12] ggailey777 commented on #72587
@opticyclic there's doesn't seem to be an limitation using a YAML file to build a Java app. We'll try to get this content gap addressed in a week or so by adding a Java version of the YAML build instructions.

[2021-03-24 23:12] tfitzmac commented on #72597
#please-close

[2021-03-24 23:12] #72597 closed

[2021-03-24 23:14] ggailey777 commented on #72587
#reassign:ggailey777
#assign:stefanushinardi

[2021-03-24 23:14] PRMerger9 commented on #72587
stefanushinardi is already assigned.

[2021-03-24 23:15] prsandhu commented on #66662
Azure South Africa North has the AZ's and is listed on the doc.

[2021-03-24 23:16] prsandhu commented on #62835
Service documentation is the source of truth.  We have removed the availability information from the doc page.

[2021-03-24 23:27] TonySh127-ms commented on #72612
Hi Jeevan,

Thank you for your time to investigate the issue.

Understand, the issue URL is for DocuSign QA/Demo environment. Hope we will add this note in our doc soon. Many thanks your quick assistance and effort! 😊

Best regards,
Tony Shen

From: Jeevan Desarda ***@***.***>
Sent: Wednesday, March 24, 2021 10:54 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tony Shen ***@***.***>; Mention ***

[2021-03-24 23:29] himanshusinha-msft commented on #72714
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-24 23:31] himanshusinha-msft commented on #72718
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-24 23:51] ChaitanyaNaykodi-MSFT commented on #72708
Hello @KKanekoa,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-25 00:07] Sri-SD commented on #72634
Hey Vikas, We got the issue fixed after downgrading the NGINX version from 1.19 to 1.17 it all worked. we are getting 204 and not 502. We can close this issue. Thanks.

[2021-03-25 00:10] BHeshka commented on #72658
Thanks James but this is not quite what I am meaning. I will detail the situation.

1. Staff member has setup 2 factor authentication successfully and is using it with no issues.
2. Within the Microsoft Authenticator app, the staff member has backed up their codes.
3. Staff member gets a new device and tries to restore codes from the backup.
4. All non Microsoft codes seccessfully restore. However

[2021-03-25 00:24] dankuchem opened #72732 "Push Fails and Documentation isn't Helping to Resolve"
Push Fails and Documentation isn't Helping to Resolve

The Tutorial # 4 - Run Application asks you to update the Manifest file, which I previously uploaded via the Azure Portal - Azure Cloud Shell Bash cut & past input.  The yellow-highlighted below make the assumption that you can connect with / find the yaml file created in Tutorial # 1 (Prepare Application for AKS) to update line # 60 of the ya

[2021-03-25 00:43] Rodrigo30Horas commented on #72041
As my understanding of NETSH goes, I only see ways to bypass URLs (including wildcard support), but I am not aware of ways to use NETSH PROXY for a chosen URL, like a PAC file would do, but at the system context (if this is an option it would solve the problem in comment here).
The issue with bypass parameter at NETSH is that we need to know all URLs that we should bypass prior of its configuratio

[2021-03-25 00:46] felinepc commented on #72168
@allanlw @ggailey777 @brettsam  After getting the DI issue sorted out, I conducted extensive testing on the logging configuration. Here's what I found (its current behavior is very quirky):

1. The `"default":` log level actually can ONLY be set in `host.json`. Configuring it  via `.AddFilter` has no effect.  Furthermore, when it is set to `Information` or above in `host.json`, it applies globally

[2021-03-25 01:00] mrlerch opened #72733 "Unable to recover my account"
I am trying to recover from my account backup, but it tells me Authenticator is "Unable to Recover"!

Why. I checked on my iPhone that iCloud backup is enabled. Please help me here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9

[2021-03-25 01:06] cynthn commented on #62835
#please-close Closing per Prab's comment on where folks should look for that information.

[2021-03-25 01:06] #62835 closed

[2021-03-25 01:07] cynthn commented on #66662
#please-close Clowing per Prab's comment.

[2021-03-25 01:07] #66662 closed

[2021-03-25 01:32] UtpalMattoo commented on #72684
Hi - Any ideas what might be causing this...could this be a local set up/browser setting?

[2021-03-25 02:04] mcollier opened #72734 "Consolidated list of required app settings"
**Documentation request**
As a developer building Azure Resource Manager (ARM) templates or Terraform scripts to automate my function app,
I would like to have official Microsoft documentation which shows a consolidated list or matrix of required application settings (with allowed values) by OS, hosting plan, functions' runtime version, and functions' app language,
so that I can create my template

[2021-03-25 02:07] BharathNimmala-MSFT commented on #72730
@bharti8085 Thank you for reaching out with your query, we will look into it and get back to you at the earliest.

[2021-03-25 02:09] ChaitanyaNaykodi-MSFT commented on #72358
Hello @MattNamaste, Thank you for for reaching out and apologies for the delay.
You can implement a [customized approval process using Logic App](https://medium.com/@derek_li/recently-i-had-a-logic-apps-customer-asking-me-how-to-customize-send-approval-email-df4138bbd5f1) as described by Derek Li.
If MailChimp is not a preferred option and depending on the services you want to use you can also cre

[2021-03-25 02:09] #72358 closed

[2021-03-25 02:27] ChaitanyaNaykodi-MSFT commented on #72463
Hello @MikeChristensen, Apologies for the delay.
As per the [overview documentation ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#add-to-your-functions-app) you need to refer the `Microsoft.Azure.WebJobs.Extensions.CosmosDB` [nuget package](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.CosmosDB) for Cosmos DB binding to work.
We will no

[2021-03-25 02:27] #72463 closed

[2021-03-25 02:48] YutongTie-MSFT commented on #72689
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mimcco Hello Mike, could you please take a look of this issue and update the document if necessary? Thank you,

[2021-03-25 03:13] MayankBargali-MSFT commented on #72734
@mcollier Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-25 03:21] phuongcao1995 opened #72736 "No Input image codecs"
No Input image codecs in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0461d82a-d767-3c13-3a31-b501bfea75e2
* Version Independent ID: 3aa4cecc-e94b-700a-dd32-9eab6bccd079
* Content: [Standard Encoder formats and codecs - Azure - Azure Media Services v3](https://docs.microsoft.com/en-us/azure/media-servic

[2021-03-25 03:31] cro27 commented on #72566
The Oracle default OS group for SYSBACKUP role is backupdba, and is listed in the Oracle Database Installation guide as the recommended group name (https://docs.oracle.com/en/database/oracle/oracle-database/19/ladbi/creating-operating-system-privileges-groups.html#GUID-427709CA-F169-4357-9992-75A19826DDAF).
The suggested changes only make sense if the OS group is to be changed or if a custom image

[2021-03-25 03:35] AshokPeddakotla-MSFT commented on #72685
@diablodale Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-25 03:43] AnuragSharma-MSFT commented on #72500
@SogoGolf We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-25 03:43] #72500 closed

[2021-03-25 03:49] Herman5006 opened #72737 "any plan to support TLS1.3?"
[Enter feedback here]
Hi team, we're going to use TLS1.3 on application gateway. Looks like not supported currently.

Is there any plan to support TLS1.3? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4973b6d3-d3b9-69b6-75d1-6c6e03a37480
* Version Independent ID: 68ae78c3-5118-741a-58c9-9fdf9512a9f3
* Content:

[2021-03-25 03:56] mike-urnun-msft commented on #72426
@tslavik I hope the comment above answers your questions. Since we didn't determine any changes for this doc upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-25 03:56] #72426 closed

[2021-03-25 04:09] KalyanChanumolu-MSFT commented on #72681
@nkumars Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2021-03-25 04:09] mandar-karnik opened #72738 "Not able to copy files from local to data lake storage account using Azcopy and SAS"
Hi,

I created a data lake storage account and tried to copy some files from local machine to storage account using azcopy command

**azcopy copy "D:\temp\*" "sp=racwdlmeop&st=2021-03-25T04:02:10Z&se=2021-03-25T12:02:10Z&spr=https&sv=2020-02-10&sr=c&sig=oLhksxH4Pe87JLsXkWVIEI9n5W0iwERVI41tAdGT%2FbU%3D" --recursive=true**

Note I have give all 10 access while creating a SAS token

I got following e

[2021-03-25 04:11] KalyanChanumolu-MSFT commented on #72693
@guybartal Thank you for reporting this issue.
We are actively investigating and will get back to you soon.

[2021-03-25 04:15] shashishailaj commented on #72729
@hpsin Thank you for suggesting the same. We will have this reviewed with the content team and get this updated.

[2021-03-25 04:16] shashishailaj commented on #72724
@sccmfan Thank you for your feedback . We will investigate and update the thread.

[2021-03-25 04:18] shashishailaj commented on #72733
@mrlerch Thank you for your query. We use the github azure-docs repository for issues with the documentation however will try to help you on this . In case it requires deeper troubleshooting we would request you to engage with support team directly . As of now we have assigned this to one of our engineers to review and provide guidance around this issue . They will investigate and update the threa

[2021-03-25 04:25] SwathiDhanwada-MSFT commented on #72726
@BevanSin Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-25 04:26] SwathiDhanwada-MSFT commented on #72431
Assigning to content author @bwren for review.

[2021-03-25 04:32] CHDAFNI-MSFT opened #72739 "Adding Azure Government - Private Endpoints zone names"
The zone names (DNS FQDNs) for Commercial and China are listed. US Government cloud is not. Please consider adding them to the table - suggested data is sourced from: [https://blog.brooksjc.com/2020/09/10/azure-government-private-link-endpoints/](https://blog.brooksjc.com/2020/09/10/azure-government-private-link-endpoints/)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-03-25 04:34] AjayKumar-MSFT commented on #72717
@sphenry, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-25 04:38] AjayKumar-MSFT commented on #72736
@phuongcao1995, Thanks for the feedback! We are taking a look into this and will get back to you soon. In the interim, could you also share more details about your requirement?

[2021-03-25 04:51] VikasPullagura-MSFT commented on #72634
@Sri-SD Thanks for the update.

[2021-03-25 04:51] #72634 closed

[2021-03-25 04:53] VikasPullagura-MSFT commented on #21850
@cynthn @mimckitt Can you please check and add your comments.

[2021-03-25 05:01] VikasPullagura-MSFT commented on #72709
@Ayanmullick
Thanks for your Question! We are currently investigating and will get back on this.

[2021-03-25 05:01] KranthiPakala-MSFT commented on #72632
@os-slalom

Please do share the Forum thread link once it is posted.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-03-25 05:01] #72632 closed

[2021-03-25 05:08] VikasPullagura-MSFT commented on #72732
@dankuchem Thanks for the Feedback.
Can you please share the link of the document you are referring to.

[2021-03-25 05:28] CHEEKATLAPRADEEP-MSFT commented on #72722
@chaisen2006  Thanks for the question! We are investigating and will update you shortly.

[2021-03-25 05:29] CHEEKATLAPRADEEP-MSFT commented on #72723
@dmangonakis  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2021-03-25 05:30] CHEEKATLAPRADEEP-MSFT commented on #72725
@syntrixsystems  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-03-25 05:39] lgayhardt commented on #56399
Sorry for the delay and thank you for the suggestion. I will create an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1829698) to add sample code for v3 and add it to our backlog. We will update this thread when the work is completed. Thank you for your patience.

#please-close

[2021-03-25 05:39] #56399 closed

[2021-03-25 05:43] lgayhardt commented on #69428
Closing this issue since the doc has been updated. Thank you

#please-close

[2021-03-25 05:43] #69428 closed

[2021-03-25 05:48] jcflore3 commented on #45210
Does anyone know if the 20MB file size limit that is imposed on the File System Connector with the on-prem gateway, is greater for the ISE File System Connector?

[2021-03-25 05:49] dhruvjaiswal007 commented on #32902
Hello, Is it possible to reuse ms sql connection instance in azure function. Means i have opened a connection and the same connection i used whenever azure function is triggered. If not then please give some alternative for the same.

[2021-03-25 06:07] lgayhardt commented on #46798
Sorry for the delay and thanks for the feedback. I will add an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1829699) to our backlog. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-03-25 06:07] #46798 closed

[2021-03-25 06:10] ram-msft commented on #72665
@nibaccam Could you please help with the document enhancement for the same.

[2021-03-25 06:11] lgayhardt commented on #63924
Thanks for the feedback. I will add an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1829704) to our backlog to cover recommendations for 1 Application Insight per location vs consolidating in a single location.. I'll close out this issue for now but will @mention you when the update is complete.

#please-close

[2021-03-25 06:11] #63924 closed

[2021-03-25 06:13] HarshitaSingh-MSFT commented on #72399
Shall we go ahead and close this issue @garthoid?

[2021-03-25 06:21] phuongcao1995 commented on #72736
Hi @AjayKumar-MSFT, I'm researching Azure Media supported files.  After reading the article,  I think I still don't understand what is containers, video codecs, and audio codes. Which codes are supported by which container? Which containers/file types are compatible with all browsers?
I hope you guys can help me explain them. Thanks.

[2021-03-25 06:21] jg11jg opened #72741 "automatically indexed with a spatial index in accordance to the indexing policy of the container ?"
[Enter feedback here]

_When you create documents that contain GeoJSON values, they are automatically indexed with a spatial index in accordance to the indexing policy of the container. If you're working with an Azure Cosmos DB SDK in a dynamically typed language like Python or Node.js, you must create valid GeoJSON._

Could you expand on that "in accordance to the indexing policy"? Are you saying

[2021-03-25 06:21] VikasPullagura-MSFT commented on #72592
@PingPongSet As this issue need investigation to check the reason why it is failing, I would request you to open a support case so that support engineer can check on this.

If you don't have the ability to open a technical support case on your subscription, let me know so that I can help on this.

[2021-03-25 06:23] VikasPullagura-MSFT commented on #72482
We will now close this issue. Please tag me in a comment once you have the requested information. I will reopen the issue and we will continue the discussion.

[2021-03-25 06:23] #72482 closed

[2021-03-25 06:25] Sharmistha-Rai commented on #72676
@atb-laktionov We have published the script in the [same](https://docs.microsoft.com/azure/site-recovery/site-recovery-manage-registration-and-protection#unregister-a-vmm-server) documentation page. Please refer to it.

[2021-03-25 06:26] Sharmistha-Rai commented on #71086
@tawfik21 - we have updated the documentation and added the script in the [same](https://docs.microsoft.com/azure/site-recovery/site-recovery-manage-registration-and-protection#unregister-a-vmm-server) documentation page.

[2021-03-25 06:27] Sharmistha-Rai commented on #71086
@SwathiDhanwada-MSFT - request you to close this issue.

[2021-03-25 06:37] sabuncu opened #72742 "Terminology used - surfacing a user interface"
I am writing about the terminology used in the page:

"A single-page application **runs entirely on the browser surface** and fetches page data (HTML, CSS, and JavaScript) dynamically or at application load time."

"A desktop application is typically binary (compiled) code that **surfaces a user interface** and is intended to run on a user's desktop."

I would like to offer my humble opinion that

[2021-03-25 06:58] SadiqhAhmed-MSFT commented on #72691
@paulfinol We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-25 06:58] #72691 closed

[2021-03-25 07:05] GitaraniSharma-MSFT commented on #72200
@GavinJin8 , I discussed this scenario with the PG team and below is the final update:

Microsoft Managed Certificate auto renewal (when custom domain is mapped to cdnverify subdomain & not the CDN endpoint) also happens over email validation before expiry. But, if for some reason the email doesn't come through, the customer must reach out to us before/after expiry of cert and get it renewed.

We

[2021-03-25 07:05] #72200 closed

[2021-03-25 07:13] madhub opened #72744 "Error while execuring the certs.sh script in WSL"
[Enter feedback here]

- Error while execuring the certs.sh script in WSL.
- Also I see that `[ req_distinguished_name ]` has `0.organizationName` is this correct ?

openssl.cnf content has follows
[code]

![image](https://user-images.githubusercontent.com/8907962/112432847-717b8380-8d67-11eb-9299-c2bd07057cb3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-03-25 07:16] SwathiDhanwada-MSFT commented on #71086
@tawfik21 As the documentation is updated , we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-25 07:16] #71086 closed

[2021-03-25 07:32] cro27 commented on #72580
Thanks @tigormanoak, great suggestion. Will look to add these in next update.

[2021-03-25 07:34] cro27 commented on #72571
Thanks for the update @tigormanoak. Will incorporate into next update.

[2021-03-25 07:47] RohitMungi-MSFT commented on #72605
@tjunnu We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-25 07:47] #72605 closed

[2021-03-25 07:48] kennethvs opened #72746 "Where can we enable the ADFSSignIns stream"
[Enter feedback here]
Hi,

The document states: "To enable Log Analytics for the feature, navigate to the Log Analytics blade and select "ADFSSignIns" stream. This selection will allow AD FS sign-ins to flow into Log Analytics."

Can you provide me with some more details on where I can find this configuration exactly? Should I go to my log analytics workspace, should I go to the Azure AD Connect H

[2021-03-25 07:56] michalswi opened #72747 "Missing info about key type when configuring encryption for Storage Account using HSM"
I think there has to be some note like:
`Azure Storage encryption supports RSA and RSA-HSM keys of sizes 2048, 3072 and 4096.`
and link how to generate RSA key:
https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/key-management#create-an-rsa-key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a6c9c7e-de8f-f0b1

[2021-03-25 08:12] KrishnaG-MSFT commented on #72502
Assigning document author / owner @trkeya for visibility, review and document enhancement consideration as appropriate.

[2021-03-25 08:13] KrishnaG-MSFT commented on #72506
@SnoWolfT As we didn't hear back from you and as at this point it appears that there's no edits or updates needed for the documentation so closing this issue for now.

If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-03-25 08:13] #72506 closed

[2021-03-25 08:19] jbpaux opened #72748 "Multiple options are defined as "When using custom installation, it is the default option unless another option is used.""
In the table showing the different account type options, multiple options are defined as "When using custom installation, it is the default option unless another option is used.":
* Virtual Service Account
* Managed Service Account
* User Account

So which one is the default ? (the sentence should only be present for the VSA option, except if remote SQL is used in that case gMSA)

---
#### Documen

[2021-03-25 08:31] SwathiDhanwada-MSFT commented on #72558
@GitHubUser1339 Thanks for your feedback. I have made necessary changes to the document and the changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-25 08:36] #72558 closed

[2021-03-25 08:55] kennethvs commented on #72746
I found the setting myself, it's a new checkbox in the Diagnostic setting configuration of the Azure AD sign-in logs. Please add this to the documentation for clarification.

Regards, Kenneth

[2021-03-25 08:58] KrishnaG-MSFT commented on #64984
@xuegao0112 Just FYI, AU East is supported now.

![image](https://user-images.githubusercontent.com/45988031/112446489-43ea0680-8d76-11eb-9cea-160c6fc9c2d8.png)

[2021-03-25 08:58] nielsheeren opened #72749 "Cannot set certificate contacts with ARM template"
It seems impossible to set the certificate contacts with an ARM template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adde7541-5e77-17e0-5f7d-9690215b2064
* Version Independent ID: 5888b1c0-7685-028e-7168-2a3bcdbdd514
* Content: [About Azure Key Vault certificate renewal](https://docs.microsoft.com/en-us/azure/key-va

[2021-03-25 09:01] xuegao0112 commented on #64984
Hi team,

Million thanks for the kind update, appreciate it!

At 2021-03-25 16:58:26, "KrishnaG-MSFT" ***@***.***> wrote:

@xuegao0112 Just FYI, AU East is supported now.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-25 09:28] AnuragSharma-MSFT commented on #72741
@jg11jg Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-25 09:38] trobes09 commented on #33157
This is still a problem.  Lost several hours of work and had to delete my gateway entirely because once you're in this error loop you can't seem to get out of it cleanly.

[2021-03-25 09:51] nickQuant opened #72750 "Azure B2C SAML Issuer - Attribute Signing"
As per https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/saml-issuer-technical-profile.md#cryptographic-keys, there are only Cryptographic keys supported - MetadataSigning and SamlMessageSigning.  The key **SamlAssertionSigning** referenced at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/saml-service-provider.md#enable-yo

[2021-03-25 09:55] adnan333bd opened #72751 "is it required for the landing page to have AD secured authentication?"
[Enter feedback here]

As per this article https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-registration , the AD token can be retrieved by the backend with tenantId, client_id and client_secret. so how this AD SSO comes into the picture. should my landing page have an authentication layer to authenticate the user first?
---
#### Document Details

⚠ *Do not edit thi

[2021-03-25 10:16] tslavik commented on #72426
@mikebudzynski thanks for clarification

[2021-03-25 10:20] swinarko commented on #72722
When provisioning SSIS IR, instead of entering SQL DB server/MI admin credentials for SQL Auth, you can use AAD Auth w/ ADF managed identity instead.  We'll use this authentication method to create SSISDB on your behalf.  We'll also use it to create managed SQL accounts that will only be used by our service to fetch packages from SSISDB before executing them on SSIS IR and write execution logs bac

[2021-03-25 10:20] #72722 closed

[2021-03-25 10:29] SubhashVasarapu-MSFT commented on #72737
@Herman5006, Thanks for reaching out. We will investigate and update this thread.

[2021-03-25 10:33] SubhashVasarapu-MSFT commented on #72744
@madhub, Thanks for reaching out. We will investigate and update this thread.

[2021-03-25 10:37] SubhashVasarapu-MSFT commented on #72739
@CHDAFNI-MSFT, Thanks for reaching out. We will investigate and update this thread.

[2021-03-25 10:39] deyanp opened #72753 "95% of what? (When average working set memory usage per container is greater than 95%)"
Can you explain what the average working set memory per container is compared to? It says greater than 95%, but I don't understand 95% of what?

95% of the overall VM node memory, e.g. if a node has 8Gb, then a container must reach 7,9x G?
95% of predefined requests/limits in the pod definition? What about containers without such specified?

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-25 10:41] allanlw commented on #72168
What @ggailey777 says matches my understanding of the issue. I don't really care where I configure log filters (json or in the code) but the documentation right now is IMO confusing if not outright wrong.

[2021-03-25 11:28] SwathiDhanwada-MSFT commented on #72543
Assigning to author @bwren for review.

[2021-03-25 11:38] mickhowarth commented on #72678
Thank you @JamesTran-MSFT
I eventually had Office365 support call and guide me through the steps so the issue is now fixed.

I did try to fix myself, but unfortunately the documentation was difficult to follow with lots of assumptions about the user's level of knowledge in Powershell and few links to direct to explain the basic functionality - how to even launch it?!
I know this is admin documenta

[2021-03-25 11:38] #72678 closed

[2021-03-25 11:47] sudmis opened #72754 "Does Azure AD DS joined windows VMs support Multi Factor Authentication(Smart Card) in Cloud-Only Organization?"
Does Azure AD DS joined windows VMs support Multi Factor Authentication (Smart Card) in Cloud-Only Organization?

[2021-03-25 11:53] geoffbrucepayne opened #72755 "Clarifications"
Hi, I have a few questions.

First one may be a dumb one but I assume the SharedCode folder name is arbitrary or does it actually need to be `SharedCode`?

Can you please provide an explicit example of the `extensions.csproj` file?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d

[2021-03-25 11:55] dmangonakis commented on #72723
https://docs.microsoft.com/en-us/machine-learning-server/install/machine-learning-server-in-the-cloud

[2021-03-25 11:55] NBroomfield opened #72757 "No examples or step by step"
I'm trying to set this up, but there no example or step by step, just background info, I'm using the azure cli and it's saying I need to set a -vnet-subnet-id, none of this is mentioned in the page, or what format does this looks like, where do I get it from, presumably I need to create a vnet first, some example would really be useful.
---
#### Document Details

⚠ *Do not edit this section. It is

[2021-03-25 12:03] raphael-deletoille commented on #65000
Hi, is that possible to use a service principal to set a keyvault backed on databricks. Because i get this error "Azure KeyVault cannot yet be configured for Service Principal authorization" when i try to terraform it, but when i use a user it works perfectly.

[2021-03-25 12:31] PramodValavala-MSFT commented on #72663
@henrikhelvete Just following up here to see if you could share the doc that you are referring to here.

[2021-03-25 12:39] JonRunheim opened #72758 "The Azure-Vote.yaml is incorrect"
Hi!
The azure-vote.yaml is incorrect on this page (for the Azure Portal).
When clicking the link for the same guide for the CLI variant, the azure-vote.yaml is different - more extensive.
The CLI variant works whereas the Azure Portal variant gives error messages when running the Kubectl apply command.
/Jon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-03-25 12:44] SwathiDhanwada-MSFT commented on #72753
@deyanp Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-25 13:05] henrikhelvete commented on #72663
My bad, I'm new to this. I'm not sure how I ended up here. I just followed the workflow I was presented with from az devops trying to get a comment on this. I was following "stable task" link from here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-devops-task

[2021-03-25 13:07] Pesonet1 commented on #14413
Well this is strange. On Tuesday pinning was working again without doing any changes (related to codexponent message). So I assume some Azure related problem was occurring and making it not to work. For me this problem lasted for almost one week.

[2021-03-25 13:12] Svijay-msft commented on #72684
Hello @UtpalMattoo,

I had been testing the behavior at my end. Unfortunately, I was not able to reproduce the issue at my end following the steps mentioned in the document.  I wanted some further inputs from your end.

![image](https://user-images.githubusercontent.com/66949976/112476958-73aa0600-8d98-11eb-8f9c-1414602ec9dd.png)

Can you please confirm the Step 3 command ( the -L address ) that y

[2021-03-25 13:13] vikasgoyal opened #72760 "Gremlin API"
Does the connector support gremlin APIs ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c77b390-e483-d7d4-3ea8-813a296c9e89
* Version Independent ID: 3b1e6865-894e-9958-3e6d-4b04bf40e892
* Content: [Connect Apache Spark to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/spark-connector)
* Content So

[2021-03-25 13:16] garthoid commented on #72399
I would like to respectfully ask for you to please keep this open as I find time, today or tomorrow to work through your suggestions. As I mentioned I had to use the emergency access provisions. So I will need to recreate the steps. I hope to respond by Friday.

[2021-03-25 13:17] DaveRuijter commented on #65000
It is not working.

[2021-03-25 13:28] Jones-Bones opened #72761 "Downloaded activity reports result codes"
Can't seem to find which export contains codes mentioned in [Downloaded activity reports result codes](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-reporting#downloaded-activity-reports-result-codes). It's said that:

But I can't find these codes mentioned in any Azure sign-in log export. There are also a lot more logs available, not just 1. Log prefixes:
Intera

[2021-03-25 13:43] jkovacev opened #72762 "Azure Front Door Standard/Premium POP locations list"
Access logs have detailed information about every request including the POP , but I cannot find the final list anywhere. This is really needed so we can know based on logs from which billing Zones are requests being made.

[2021-03-25 13:56] pisees opened #72764 "Timeframe for GA"
Hi,

Is there a timeframe for when this Access Azure Storage as a network share from a container in App Service will GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independent ID: 15d95fc5-f08e-a26c-ce06-8ead78474661
* Content: [Add Azure Storage (container) - Azure Ap

[2021-03-25 13:57] v-amallick commented on #72150
#please-close

[2021-03-25 13:57] #72150 closed

[2021-03-25 14:02] UtpalMattoo commented on #72684
Tried both:

ssh -L 8888:localhost:8888
ssh -L 8889:localhost:8889

Also - tried accessing both
http://localhost:8888/?token=TOKEN and
http://localhost:8889/?token=TOKEN

same error.
might be a network issue.

[2021-03-25 14:06] v-amallick commented on #71657
#please-close

[2021-03-25 14:06] #71657 closed

[2021-03-25 14:14] ankku opened #72765 "Change Feed does not return all results."
Here is my Change Feed function which I am calling from a PowerShell cmdlet. The parameter I allow user to pass here is Max Age, Continuation Token (if available) and Max Results (number which can be iterated over a time and results which can be returned). But My below method does not return all document changes. I might get less number of documents returned than the MaxResults, and  I can verify

[2021-03-25 14:30] #72576 closed

[2021-03-25 14:31] MayankBargali-MSFT commented on #72422
@@olitomlinson I will close this issue for now and once the changes are approved it will be published soon.

[2021-03-25 14:31] #72422 closed

[2021-03-25 14:31] VikasPullagura-MSFT commented on #72758
@JonRunheim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-25 14:31] VikasPullagura-MSFT commented on #72758
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-03-25 14:35] Sdrapak opened #72767 "Need to update this page to reflect that customers need to select the Base64 certificate and not the RAW version"
Hello,
We need to update this page to reflect that customers need to select the Base64 certificate and not the RAW version.
This is for this URL: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/ms-azure-sso-access-for-ethidex-compliance-office-tutorial

Thank you
Steve
sdrapak@ethidex.com
![CertificateBase64](https://user-images.githubusercontent.com/12818640/112490526-d201c500-8

[2021-03-25 14:39] AjayKumar-MSFT commented on #72764
@pisees, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-25 14:46] PeterBursky commented on #45940
This obviously remains an issue - just spent 2 days going down the rabbit holes of NTLM authentication protocols and troubleshooting GPO policies, after this seemed to work fine in a separate test environment - only to realize the issue is my password, which contained the "£" character.

[2021-03-25 14:48] #72345 closed

[2021-03-25 14:51] Svijay-msft commented on #72684
Yes, to eliminate issue to be specific to a machine / network  I'd recommend you to check on a different machine & network.

[2021-03-25 14:54] JamesTran-MSFT commented on #72742
@sabuncu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 14:57] tigormanoak commented on #72566
You are absolutely incorrect.  While "backupdba" is indeed the
nomenclature used in Oracle documentation, Oracle customers are able to
make changes and they do so on a regular basis.

I included these steps in the original documentation for a reason,
because it was necessary during the private preview several times.

It is necessary to retain these steps in the documentation, so please do
not remo

[2021-03-25 14:57] JamesTran-MSFT commented on #72749
@nielsheeren
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 14:59] JamesTran-MSFT commented on #72767
@Sdrapak
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-25 15:00] AjayKumar-MSFT commented on #72764
@pisees, Our product engineering team is actively working on it, and we do plan to GA the feature in the next few months, however we do not have an exact ETA to share at this time.
Please note that this timeline is just an estimate and is subject to change, depending on a myriad of factors. We really appreciate your feedback and interest in this feature.

Thanks for your patience!

[2021-03-25 15:33] #72758 closed

[2021-03-25 15:34] BharathNimmala-MSFT commented on #72330
@D-Moonesinghe Our engineering team have reviewed your feedback and they are planning to have a backlog item in the upcoming sprints to enhance the document as required. Thanks again for taking time to share your valuable feedback and helping us improve our Azure documentation.

We will go ahead and close this issue for now, however if you have any further feedback please tag us in your reply and

[2021-03-25 15:34] #72330 closed

[2021-03-25 15:40] zr-msft commented on #72758
Thank you @JonRunheim for the feedback!

We've updated the article to address your feedback and the changes should be available soon.

[2021-03-25 15:54] ewastempel commented on #10766
It is still a valid issue.
When is it going to be fixed?

[2021-03-25 15:54] mimckitt commented on #21850
We added a note to the doc. Specialized images do not have an OsProfile so you cannot update something that does not exist. To do this you need to generalize the image.

As per changing the host name of the computer, you can do that from inside the guest os by going to my computer

[2021-03-25 15:58] Marwaabouawad opened #72770 "Auto-Scale explanation of Cool-Down period"
[We had a few customers asking about cool-down period and wanted to get more clarification on that concept.]
In that doc, no clear explanation for cool-down period and how it works.
The explanantion of cool-down period is explanied in detail at this link
https://docs.microsoft.com/en-us/azure/azure-monitor/autoscale/autoscale-understanding-settings

**My Ask is:**

Is it possible to link the above

[2021-03-25 16:05] servisys opened #72771 "Wrong command Debian"
The command: sudo waagent –force -deprovision
The correct one is: sudo waagent –force -deprovision+user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be23fa1-7083-e231-3bcc-6b86c57412a7
* Version Independent ID: 14f6de07-473f-7993-5493-6ded9ded4435
* Content: [Prepare an Debian Linux VHD - Azure Virtual Machines](htt

[2021-03-25 16:08] afield1235 opened #72772 "02/10/2021 - Added support for core attributes "emails[type eq "work"]" for users."
When you added this attribute it completely broke our synchronization and resulted in 500+ provisioning errors. We have been working through issues with many users still to do this day that were able to create accounts outside of provisioning and trying to reconcile all the records, you really screwed us up bad. Please in the future test and ensure your changes don't completely break companies tha

[2021-03-25 16:09] joheec commented on #72714
Thank you! If you wouldn't mind commenting here when the documentation is updated, I would love to update my code with verified logic.

[2021-03-25 16:10] Elangamban opened #72773 "Encryption/Decryption Duration"
It will be great if you include an appx time to encrypt/decrypt a disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1db5eef-75ae-aeb0-5562-595d7a72a047
* Version Independent ID: c2b5ff71-4a5c-ee59-4e8a-bf8501b86db8
* Content: [FAQ - Azure Disk Encryption for Windows VMs - Azure Virtual Machines](https://docs.micros

[2021-03-25 16:14] JamesTran-MSFT commented on #72742
@sabuncu
Thank you for pointing this out and for providing your feedback on our documentation! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-25 16:24] DerekHerman-MSFT commented on #72738
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-25 16:31] danjpadgett opened #72776 "Issue with Download using --include-after"
[Following the guidance here - i am having issues with https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-files#download-files-that-were-modified-after-a-date-and-time

include-after '2020-08-19T15:04:00Z' - this is working for local to Azure , but not azure to local. Is this a known issue?

AzCopy 10.8.0

]

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-03-25 16:37] Oury-MSFT commented on #72573
@mattneerincx Thank you for your feedback. Please let us know if have any questions

[2021-03-25 16:38] Oury-MSFT commented on #72533
@Briwalkr We are closing this issue. Please feel free to reach out again if you have any questions.

[2021-03-25 16:41] Oury-MSFT commented on #72573
@mattneerincx We are closing this issue but please feel free to reach out if you have any questions

[2021-03-25 16:46] JamesTran-MSFT commented on #72749
@nielsheeren
Thank you for your time and patience throughout this issue!

Based off our documentation, it looks like [adding a certificate contact](https://docs.microsoft.com/en-us/azure/key-vault/certificates/overview-renew-certificate#steps-to-set-certificate-notifications) to your key vault can only be done using the Azure portal or [PowerShell cmdlet](https://docs.microsoft.com/en-us/powershel

[2021-03-25 16:48] Karishma-Tiwari-MSFT commented on #72771
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-25 16:50] robs opened #72778 "ACI Burst Scaling Question"
Hiya,

What happens when ACI burst scaling AND node auto-scaling are active?

Will the node auto-scaler get triggered and the ACI's fire up to take the load while the nodes are creating and then stop once the nodes are online?

Thanks,

Rob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8185fe-e724-7a2d-7579-8e94ef8

[2021-03-25 17:00] #72573 closed

[2021-03-25 17:00] #72533 closed

[2021-03-25 17:15] felinepc commented on #72168
@allanlw What I meant was, from what I observed in my test, this section in your `host.json`:
[code]
actually did have effects, though it by itself wouldn't enable your other trace logs.

If you don't mind doing a test, change the `default` level above to `Information` or `Warning`, or remove this section completely from your `host.json`, you should see the `logging.AddFilter("System.Net.Http", Lo

[2021-03-25 17:16] BillyBolton opened #72780 "Comments in application.properties"
Comments after each property in application.properties causes a fragment error.
Such as:
`aad.authority=https://login.microsoftonline.com/${directoryID}/ #Directory (tenant) ID`

![FragmentError](https://user-images.githubusercontent.com/50888798/112515005-45aecc80-8d6c-11eb-8a00-45a2bc2ff5d9.JPG)

Not supporting inline comments is not explicit in the documentation. On this note, it is confusing t

[2021-03-25 17:28] BharathNimmala-MSFT commented on #72655
@mhyon Thanks again for bringing this to our notice and helping us to improve our Azure documentation. I have raised a PR to fix the query , once reviewed and approved the change would go live accordingly.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, however if you hav

[2021-03-25 17:28] #72655 closed

[2021-03-25 17:33] diberry opened #72781 "Troubleshooting deployment"
I didn't see my exact issue in this table.

I used Azure CLI to create my app deployment user, plan, and app. The local git is using branch main and the remote (Azure app service) seems to be using master.

From the troubleshooting table at the bottom of this page, I think the branch on my remote should also be main but it looks like it is master.

How do I change the app service's branch to main?

[2021-03-25 17:33] shaima-MS opened #72782 "Application secret for applications integrate with Azure AD B2C"
please add the info where apps integrate with B2C can only hold up to two secrets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Quickstart: Register an app in the Microsoft identity platform](https://docs.m

[2021-03-25 17:35] RyanHill-MSFT commented on #72781
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-25 17:39] gmuenster opened #72783 "Link pointing to wrong address"
Dear all,

the link meant to point to sp_addrolemember examples in the section https://docs.microsoft.com/en-us/azure/azure-sql/database/logins-create-manage#using-fixed-and-custom-database-roles points to ALTER ROLE examples as in the bullet point above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb2d3ad-4751-005

[2021-03-25 17:39] SwathiDhanwada-MSFT commented on #72608
@akshaymatmicrosoft Thanks for notifying this issue. I have made changes to the document and once the changes are approved, they will be live.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-25 17:39] #72608 closed

[2021-03-25 17:42] JamesTran-MSFT commented on #72772
@afield1235
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-25 17:45] lgayhardt commented on #63376
#please-close

[2021-03-25 17:45] #63376 closed

[2021-03-25 17:45] #72623 closed

[2021-03-25 17:46] kenwith commented on #72041
This is a great discussion, however, from my understanding there isn't a doc issue here. **Feel free to continue discussion in this thread** and if any doc updates surface we can get them added. For requests to how the service works, I recommend we open a User Voice item here: https://feedback.azure.com/forums/169401-azure-active-directory

#please-close

[2021-03-25 17:46] #72041 closed

[2021-03-25 17:47] lgayhardt commented on #62815
Sorry for the delay and thank you for the feedback however this doc is no longer supported and has been retired.

#please-close

[2021-03-25 17:47] #62815 closed

[2021-03-25 17:47] JamesTran-MSFT commented on #72782
@shaima-MS
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-25 17:53] HarshitaSingh-MSFT commented on #72399
Sure, take your time.

[2021-03-25 17:57] mawah opened #72784 "Incorrectly formatted list in Basics tab > Workspace details section of Quickstart: Get started - create a Synapse workspace - Azure Synapse Analytics"
A list of instructions is incorrectly rendered in the "Basics tab > Workspace details" section of the "Quickstart: Get started - create a Synapse workspace - Azure Synapse Analytics". The list elements are all in a single paragraph and the numbering is incorrect ("1" for all steps) suggesting a markdown formatting issue.
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-03-25 17:57] TheFairey commented on #61587
Hi, just a final update, this does indeed solve the issue. Thanks. Simon

From: Lucas ***@***.***>
Sent: 10 March 2021 13:46
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: TheFairey ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] AKS failing to deploy - "vnet-subnet-id is not a valid Azure resource ID" (#61587)

@TheFairey <https://github.com/TheFairey>  can you try addin

[2021-03-25 18:02] BharathNimmala-MSFT commented on #72730
@bharti8085 I see that we are able to successfully reach the end point , can you please check if you are able to get to the end point from the machine you are trying to run the wget command. If you are not able to , can you please check the proxy setting or any of firewall configurations which is not able to resolve the URL.

https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/i

[2021-03-25 18:06] PeterCLu commented on #72665
#assign:@nibaccam

[2021-03-25 18:06] DeanGross opened #72786 "Explanation of Status terminology"
Please provide some explanation about how the various status options should be used and how they affect the score.
To Address and Planned seem like the same thing to me, so I"m not sure when to choose one or the other.
Also, Resolved through 3rd Party and Resolved through alternate mitigation seem like the same thing, so I'm not sure when to use each of those.
The text states that we can Ignore an

[2021-03-25 18:07] rconiv opened #72787 "IdFix link takes me to a different page"
When I click the IdFix link on:

Use IdFix to identify errors such as duplicates and formatting problems in your directory before you synchronize to Azure AD and Microsoft 365.

It takes me to a page that doesn't talk at all about IdFix, but setup directory synchronization for M365.  https://docs.microsoft.com/en-us/microsoft-365/enterprise/set-up-directory-synchronization?redirectSourcePath=%252f

[2021-03-25 18:08] RonMatsu opened #72788 "Following this page always results in "400 -- The deployment configuration is malformed or invalid""
Trying to get rig of iotedge runtime warnings:

‼ production readiness: Edge Agent's storage directory is persisted on the host filesystem - Warning
    The edgeAgent module is not configured to persist its /tmp/edgeAgent directory on the host filesystem.
    Data might be lost if the module is deleted or updated.
    Please see https://aka.ms/iotedge-storage-host for best practices.

I followed t

[2021-03-25 18:23] syntrixsystems commented on #72725
It is still related to the document.  The info in the document was used to create the linked service which isn't working.  Perhaps the documents should outline prerequisites in ADF for the connection to succeed as well.

[2021-03-25 18:24] DerekHerman-MSFT commented on #72747
@michalswi This is mentioned in the article: _Supported key types include RSA-HSM keys of sizes 2048, 3072 and 4096._ I am assigning to author to see about adding the link and see if there are additional improvements that can be made.

[2021-03-25 18:24] RonMatsu opened #72790 "Cannot get child device to install/run modules"
I have been working on this for four (4) working days now. This documentation is extremely incomplete. The parent device setup goes fairly smoothly. Following the instructions for child device setup (with a raspberry pi) initially results in 9 errors. I have been able to reduce this to 2 errors by correcting child file system permissions according to this article: https://github.com/Azure/iotedge/

[2021-03-25 18:28] himanshusinha-msft commented on #72714
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-25 18:43] bandersmsft commented on #71165
https://github.com/MicrosoftDocs/azure-docs-pr/pull/152100

[2021-03-25 18:44] Oury-MSFT commented on #72686
@xmasteron Please let us know if you have any questions.

[2021-03-25 18:48] bandersmsft commented on #71165
@drewjandreatta Sorry for the delay. Per the Reservations enginnering team: SUSE changed the name. They deprecated Priority and instead provide all the additional benefits in the Standard product now. It was causing them brand confusion with both previously.

So, we updated our product names accordingly. I've updated the article to replace references from *SUSE Linux Enterprise Server for SAP Prio

[2021-03-25 18:48] #71165 closed

[2021-03-25 18:49] Oury-MSFT commented on #72760
@vikasgoyal We are looking into this and will get back to you

[2021-03-25 18:54] billpieper opened #72791 "PowerShell script does not work -- fwlink address is requesting certificate authentication"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/annotations#create-custom-annotations-from-powershell
PowerShell script does not work.  fwlink address is requesting certificate authentication.
documentation needs to be fixed/updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1eec15-6783-f8a2-81c0-ffa9d1

[2021-03-25 18:58] JamesTran-MSFT commented on #72721
@sarthak-git
Thank you for your time and patience throughout this issue!

Initially I was able to reproduce your issue, but I followed the below steps to resolve it. Would you able to try this out on your end to see if this helps?

[code]
For more info - https://stackoverflow.com/questions/54953927/get-azureadpolicy-the-term-get-azureadpolicy-is-not-recognized/66442381#66442381

![image](https://u

[2021-03-25 19:00] SadiqhAhmed-MSFT commented on #72609
@amanjeetsingh We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-03-25 19:00] #72609 closed

[2021-03-25 19:00] JamesTran-MSFT commented on #72786
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-25 19:05] JamesTran-MSFT commented on #72787
@rconiv
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 19:07] JamesTran-MSFT commented on #72780
@BillyBolton
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 19:07] JamesTran-MSFT commented on #72748
@jbpaux
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 19:09] JamesTran-MSFT commented on #72750
@nickQuant
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 19:10] JamesTran-MSFT commented on #72761
@Jones-Bones
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 19:26] v-tcassi commented on #72790
Hi, Ron. I apologize for this tutorial being frustrating and lacking, and I'm sorry it's taken up several work days for you.

To address your comments, I think you're are actually safe to proceed onto the next step. If I understand what the errors you're receiving, the issue is that the lower layer device does not have internet connectivity to pull the edgeAgent and edgeHub images from the Cloud,

[2021-03-25 19:27] jonburchel commented on #34997
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:27] #34997 closed

[2021-03-25 19:38] jonburchel commented on #35208
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:38] #35208 closed

[2021-03-25 19:39] jonburchel commented on #38878
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:39] #38878 closed

[2021-03-25 19:40] jonburchel commented on #38398
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:40] #38398 closed

[2021-03-25 19:42] blhubbard opened #72792 "Network Security 1.1 out of date?"
It looks like Network Security 1.1 is out of date. It says that Private Link is not supported, but [this page](https://docs.microsoft.com/en-us/azure/automation/how-to/private-link-security) says that Private Link is supported for Azure Commercial and Azure US Gov.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e64cd

[2021-03-25 19:42] jonburchel commented on #55121
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:42] #55121 closed

[2021-03-25 19:45] jonburchel commented on #63347
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:45] #63347 closed

[2021-03-25 19:45] jonburchel commented on #62506
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:45] #62506 closed

[2021-03-25 19:46] jonburchel commented on #54032
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:46] #54032 closed

[2021-03-25 19:46] jonburchel commented on #61109
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:46] #61109 closed

[2021-03-25 19:48] jonburchel commented on #60703
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:48] #60703 closed

[2021-03-25 19:48] jonburchel commented on #58325
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:48] #58325 closed

[2021-03-25 19:48] jonburchel commented on #56570
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:48] #56570 closed

[2021-03-25 19:48] jonburchel commented on #26862
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:49] #26862 closed

[2021-03-25 19:49] SaurabhSharma-MSFT commented on #72784
@mawah Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 19:50] SaurabhSharma-MSFT commented on #72447
@xp0522 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-25 19:50] #72447 closed

[2021-03-25 19:54] MS-jgol commented on #65627
@SenthuranSivananthan
Is this what you are looking for?
https://search.maven.org/search?q=g:com.microsoft.azure%20a:applicationinsights-agent

[2021-03-25 19:57] jonburchel commented on #47037
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question.  You can engage support dire

[2021-03-25 19:57] #47037 closed

[2021-03-25 19:58] MS-jgol commented on #70328
@Josh-Kewley-BC Please follow the instructions to enable application insights Java 3.0 agent here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#auto-collected-requests-dependencies-logs-and-me

We used to have an agent that was corresponding to the older version of the SDK. The instructions above take you through the recommended method of instrumentation.

[2021-03-25 19:59] taylor-bianchi opened #72794 "Is it possible to create new policies directly in the repo and then have the workflow push them to Azure?"
Hello,

I exported my current definitions as described in the guide and it works great. Very cool. However, I am trying to understand how we create new policies in the structure defined and then push them to Azure?

[2021-03-25 20:02] RonMatsu commented on #72790
Hi Tom. Thanks for the quick reply. I guess I didn't include enough information about the parent device and modules. I've already deployed the IoTEdgeAPIProxy, registry modules to the parent, and the SimulatedTemperatureSensor to the child. The child is pulling the EdgeAgent docker image (see below), but it won't create a container for it or run it or (pull the EdgeHub)

Parent: $ sudo iotedge che

[2021-03-25 20:03] sarthak-git commented on #72721
I have tried this and that does not help
![image](https://user-images.githubusercontent.com/48988578/112536310-4ac74800-8d7b-11eb-872e-f8f5ac3b36bb.png)

[2021-03-25 20:06] SenthuranSivananthan commented on #65627
Yes, this is what I would like to see in the docs.  Similar to

![image](https://user-images.githubusercontent.com/16688027/112536523-f96f8680-8d83-11eb-8703-29e727d5559d.png)

[2021-03-25 20:06] durayakar commented on #33157
We switched to AGWV2 to have keyvault integration.

We updated the certificate in KeyVault, and now the AGW listener is BROKEN.

The Managed Identity has rights in the KeyVault.
We have the soft delete and I have the keyvault network settings set to "All Networks"

Still fail with the same error.

Opening a case with Microsoft as well.
The application development team is tired of AGW issues with C

[2021-03-25 20:09] MS-jgol commented on #71730
@LPalmerMSI We are just around the corner rolling out the option to enable application insights from the portal with all configurations available - a few weeks out.
Otherwise, you just deploy the agent as a part of your app. I hear you on the lack of the documentation, but at this point we are so close to releasing the portal experience, the documentation will become obsolete very soon...

[2021-03-25 20:11] lgayhardt commented on #70328
#please-close

[2021-03-25 20:11] #70328 closed

[2021-03-25 20:20] jonburchel commented on #51574
Thank you for correcting this Haidong, and apologies it took so long for us to get it updated, but the change is checked in now at least!  In the future you can also directly Edit the article, clicking Edit in the top right and then making the change yourself, and submitting a Pull Request for it, which will automatically be submitted to the author for immediate review. #please-close

[2021-03-25 20:20] #51574 closed

[2021-03-25 20:21] jonburchel commented on #43372
Thank you for alerting us to this error.  I fixed this now and the site should be updated to reflect it soon. #please-close

[2021-03-25 20:21] #43372 closed

[2021-03-25 20:22] juhlee-microsoft opened #72796 "Still confusing service principal"
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#service-principal-object

Lost the tracking on the picture. I still don't understand what the service principal is. Especially "The Enterprise applications blade in the portal is used to list and manage the service principals in a tenant. You can see the service principal's permissions, user consente

[2021-03-25 20:24] jonburchel commented on #53461
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 20:24] #53461 closed

[2021-03-25 20:25] kgremban commented on #72788
@RonMatsu I took a look at your sample json, and I believe the issue is that you added a second "HostConfig" parameter instead of just adding the "binds" parameter to the existing "HostConfig." Here's a comparison of your json (I removed some newlines and added indents for easier reading) and the sample json from the article:

![image](https://user-images.githubusercontent.com/13578436/112538151-c

[2021-03-25 20:29] jasonbart opened #72797 "Broken Link"
Next Steps link is broken

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/auth-code

link above is 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 947d3d39-1df6-d570-0ddc-ab155c76545e
* Version Independent ID: e9174aa0-fccc-810b-a6a9-838cfc232

[2021-03-25 20:30] RonMatsu commented on #72788
Hi Kelly - Thank you for the quick reply! Looks like I definitely made an oversight there. I've been struggling with getting modules to deploy on my child device all week and this is a secondary issue so I didn't dive in as deep as I should have. I'll try your suggestion and get back to you.

Ronald Lang
Electrical Controls Designer
Komatsu Mining Corp. Group
25 Fielding Road
Lively, ON
P3Y 1L7
Ca

[2021-03-25 20:32] RonMatsu commented on #72788
Hi Kelly - Thank you for the quick reply! Looks like I definitely made an oversight there. I've been struggling with getting modules to deploy on my child device all week and this is a secondary issue so I didn't dive in as deep as I should have. I'll try your suggestion and get back to you.

[2021-03-25 20:37] lgayhardt commented on #63288
Thank you so much for bringing this to our attention. The naming is definitely confusing and we have passed your feedback on to the engineering team. We have added the following section to the doc to hopefully help clarify this:

The naming of AppFilter in this context can be confusing, `AppFilter` sets the application name regex filter (HostingEnvironment.SiteName in the case of .Net on IIS). `Vi

[2021-03-25 20:37] #63288 closed

[2021-03-25 20:37] JamesTran-MSFT commented on #72797
@jasonbart
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-25 20:40] JamesTran-MSFT commented on #72658
@BHeshka
Thank you for the detailed response and I apologize for the inconvenience this must've caused.

I've assigned this issue to the author who will investigate and update the docs as appropriate.

[2021-03-25 20:45] JamesTran-MSFT commented on #72721
@sarthak-git
Thank you for the quick reply! I've reached out to our engineering team to report this potential bug. In the meantime, I'd like our support engineers to take a closer look into your issue/environment.

Can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support team to get this i

[2021-03-25 20:45] bharti8085 commented on #72730
The link was not working yesterday but somehow it works today.

when I run below command

wget --no-check-certificate https://raw.githubusercontent.com/Micr
osoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh -w <Workspace ID> -s <Primary Key> -d opinsights.azure.com

Then get below error

Resolving raw.githubusercontent.com (raw.githubusercontent.com)... fai

[2021-03-25 20:49] elvirk opened #72798 "Can there be multiple policy rules?"
[Hi,
Can there be multiple policy rules under same policy?

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c1e6a2-53e3-17af-a3f6-2e83653562f0
* Version Independent ID: a1c60cb8-c6f6-6307-2556-1634a8e4df83
* Content: [Tutorial: Create a custom policy definition - Azure Policy](https://docs.microsoft.com/en-us/azure/

[2021-03-25 20:50] adamday2 commented on #33157
It seems that this bug has gotten even worse since the last time I tested it. I can no longer get out of the error loop using the Azure Portal alone. My guess is that the portal is just sending broken requests.

I was able to dig out of this hole by relying on the `az network application-gateway` commands to send the appropriate updates.

[2021-03-25 20:53] JasonPaape opened #72800 "Link to next tutorial on bottom of Bicep step "10 - Add modules" is wrong"
The link to the next tutorial page at the bottom of this page: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/bicep-tutorial-add-modules

Is incorrect, the link there currently links to this same "Modules" page. But it should link to the next "Deploy a local template" page: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-tutorial-local-te

[2021-03-25 20:54] DCtheGeek commented on #72798
#assign:DCtheGeek
#label:"product-question"
#label:"triaged"
#label:"assigned-to-author"

[2021-03-25 20:54] MarileeTurscak-MSFT commented on #72746
I also do not see it. @kennethvs, do you have a screenshot of the place where you found it?

[2021-03-25 21:00] DCtheGeek commented on #72798
@elvirk Thanks for the question!  A policy definition can only have a single [policyRule](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#policy-rule) property within the policy definition. Within that rule, you can use a combination of [logical operators](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#logical-operators) such as `a

[2021-03-25 21:00] #72798 closed

[2021-03-25 21:01] v-tcassi commented on #72790
Oh, I see! I missed the part in the configuration check where it said it could pull the Edge Agent module.

I don't want to waste too much of your time going back and forth on my guesses and checks, considering you've already spent a lot of time on this issue. I'll refer to you someone on the development team. I emailed @ebertrams, directing him to this issue.

[2021-03-25 21:05] jonburchel commented on #52392
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:05] #52392 closed

[2021-03-25 21:06] jonburchel commented on #55300
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:06] #55300 closed

[2021-03-25 21:06] jonburchel commented on #55547
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:06] #55547 closed

[2021-03-25 21:07] MarileeTurscak-MSFT commented on #72748
It's for different dates and purposes.

Virtual Service Account is the default for express and custom, April 2017 and later for all express installations, **except for installations on a Domain Controller**

User Account is for Express and custom, 2017 April to 2021 March **when installed on a Domain Controller**.

Managed Service Account is for Express and custom, **2021 March and later for custo

[2021-03-25 21:07] #72748 closed

[2021-03-25 21:07] andrejpk opened #72801 "Functions Javascript node.js connection management guidance isn't correct on the use of third-party libraries"
This page says that 'non-native' network libraries should be avoided since they can't be configured with the appropriate connection management limits. This isn't strictly true since most node http libraries (node-fetch was mentioned, also Axios) are built on top of node's http library and can be configured with these same options. The way this is stated in this document is incorrect.

I may submit

[2021-03-25 21:07] jonburchel commented on #57817
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:08] #57817 closed

[2021-03-25 21:08] TXbluzmn opened #72802 "Authorization key needs to be created on the ER circuit"
The authorization key for this peering needs to be created on the ER circuit, NOT on the AVS ER. You're asking to connect the AVS Circuit to the customer ER circuit and the permissions needed are there.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5e365a3-e2f9-0fed-e8cc-8a6cad6224ef
* Version I

[2021-03-25 21:08] jonburchel commented on #57999
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:08] #57999 closed

[2021-03-25 21:08] jonburchel commented on #56080
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:09] #56080 closed

[2021-03-25 21:09] jonburchel commented on #51777
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:09] #51777 closed

[2021-03-25 21:09] jonburchel commented on #59401
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:09] #59401 closed

[2021-03-25 21:09] DeiverK opened #72803 "Additional packages"
Hi Team,

So far, I have tested this process and I guess depending on the versions not all the things work good with the current steps and installed packages,

I installed some additional packages and that made the process easier:
realmd libnss-sss libpam-sss sssd sssd-tools adcli samba-common-bin oddjob oddjob-mkhomedir

Also, I did some changes in krb5.conf file since for some reason, in my envi

[2021-03-25 21:10] shortpatti commented on #72802
#assign @shortpatti

[2021-03-25 21:11] jonburchel commented on #59664
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:11] #59664 closed

[2021-03-25 21:12] jonburchel commented on #54995
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:12] #54995 closed

[2021-03-25 21:17] jonburchel commented on #59386
Thanks for your dedication to our documentation. We have not heard back from you for quite a while so we are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-03-25 21:17] #59386 closed

[2021-03-25 21:17] mumian commented on #72800
@JasonPaape - thank you for the comment.  I will get it fixed today.

#please-close

[2021-03-25 21:17] #72800 closed

[2021-03-25 21:17] jonburchel commented on #60611
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:17] #60611 closed

[2021-03-25 21:17] jonburchel commented on #43985
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:17] #43985 closed

[2021-03-25 21:18] jonburchel commented on #58313
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:18] #58313 closed

[2021-03-25 21:20] JagVeerappan commented on #72349
@fusyd we are glad to see your note!

[2021-03-25 21:25] jonburchel commented on #61464
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:25] #61464 closed

[2021-03-25 21:25] jonburchel commented on #61509
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:25] #61509 closed

[2021-03-25 21:27] jonburchel commented on #37365
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:27] #37365 closed

[2021-03-25 21:27] jonburchel commented on #59648
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:27] #59648 closed

[2021-03-25 21:27] jennabourgeois commented on #59386
We didn't get the answer timely.  The customer fired us as a result and they have refused to pay for one month of our time.

Jenna M Bourgeois

CEO Dynamics Intelligence Inc

http://www.dynamicsintelligence.us

206.483.8610

________________________________
From: Jon Burchel ***@***.***>
Sent: Thursday, March 25, 2021 3:17 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jenna Bourgeois ***@***.**

[2021-03-25 21:27] jonburchel commented on #60996
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:27] #60996 closed

[2021-03-25 21:28] jonburchel commented on #60637
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:28] #60637 closed

[2021-03-25 21:29] jonburchel commented on #61382
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:29] #61382 closed

[2021-03-25 21:31] jonburchel commented on #63426
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-03-25 21:31] #63426 closed

[2021-03-25 21:37] DerekHerman-MSFT commented on #72776
@danjpadgett I tested this from my blob container but it worked for me. I'd recommend posting your issue in https://github.com/Azure/azure-storage-azcopy/issues since it's not directly related to the documentation. Our AzCopy team will be able to assist you there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gl

[2021-03-25 21:37] #72776 closed

[2021-03-25 21:47] rofisher opened #72804 "cef_troubleshooter.py - checks"
[Enter feedback here]
script appears to only check /var/log/syslog for incoming CEF. Many implementations of rsyslog use /var/log/messages as the file containing all incoming logs.

Validating the CEF\ASA logs are received and are in the correct format when received by syslog daemon
sudo tac /var/log/syslog
tac: failed to open '/var/log/syslog' for reading: No such file or directory
Located 0
 CEF

[2021-03-25 22:00] BharathNimmala-MSFT commented on #72751
@adnan333bd Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-03-25 22:04] PingPongSet commented on #72592
@ VikasPullagura-MSFT I don't have permission to create support ticket.

Could it be an issue with the commands?

[2021-03-25 22:09] samspade21 commented on #48662
For anyone who is interested, I tossed together a quick script to show the expiring SAML certs in AzureAD Enterprise Applications.  I hope this is of use to someone.

[code]

[2021-03-25 22:14] BrendanHere opened #72805 "Inconsistent example"
Hi. I'm new to Bicep and trying to pick it up.
You state, "Add the following code to the beginning of the file:
@minLength(3)
@maxLength(24)
@description('Specify a storage account name.')

However, later on in the example of lines 1-10 in the file, you have:
param storageAccountName string {

metadata: {
   DisplayName:

}
minLength: 3
maxLength: 24
}

This is confusing as I'm thinking it should

[2021-03-25 22:16] ggailey777 commented on #65678
Note that the owner of this content (and our App Services networking expert) @ccompy has rejected this change to the article, so I've removed it in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/152140 More details [here](https://github.com/MicrosoftDocs/azure-docs-pr/pull/150750#discussion_r601796893).

[2021-03-25 22:30] MS-jgol commented on #65627
@SenthuranSivananthan Got it, thank you. Let me bring this up to the team and see if we can add it the info in the docs.

[2021-03-25 22:31] BharathNimmala-MSFT commented on #72791
@billpieper Thanks a lot for bringing this to our attention, we will review the feedback and update the document accordingly.

[2021-03-25 22:34] BharathNimmala-MSFT commented on #72792
@blhubbard Thank you for bringing this to our attention, we will review and update the document accordingly.

[2021-03-25 22:36] BharathNimmala-MSFT commented on #72770
@Marwaabouawad Thanks a lot for taking time to share feedback and idea to update the original doc, I have assigned this issue to our document author to further review the feedback. Thank you.

[2021-03-25 22:44] JamesTran-MSFT commented on #72803
@DeiverK
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-25 23:02] cro27 commented on #72571
Testing /etc/azure/workload.conf  with the following contents shows error "Pre script failed for the workload" and only file system consistent backup is taken.

[workload]
workload_name = oracle
configuration_path = /etc/oratab
timeout = 90
linux_user = azbackup

[2021-03-25 23:09] grant-flander opened #72807 "GZRS availability"
CanadaCentral isn't like under GZRS but it is available. Customer and I both create a storage account there with GZRS. Please check for other regions that should be updated and update the doc. Thank you!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0e80614f66d3
* Version

[2021-03-25 23:38] ChaitanyaNaykodi-MSFT commented on #72755
Hello @geoffbrucepayne,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-25 23:38] ChaitanyaNaykodi-MSFT commented on #72801
Hello @andrejpk,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-25 23:41] contrapost commented on #42379
nvm use 10.22.1 helped when starting functions on mac

[2021-03-25 23:47] bandersmsft commented on #69955
@jhueppauff Hi there. Sorry for the delay.

Allowed values for `Workload` are `Production` and `DevTest`, as documented in the article.

The `Aliasname` is the name of the alias used to create a subscription. The `SubscriptionName` is the name of the subscription.

#please-close

[2021-03-25 23:47] #69955 closed

[2021-03-25 23:48] Karishma-Tiwari-MSFT commented on #72757
Thanks for providing feedback.
I found the following example with step by step instructions:
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#restrict-egress-traffic-using-azure-firewall

Please check if that helps. If not, please let me know your scenario and I will try to find documentation on the same. Thanks.

[2021-03-26 00:11] ctfairhousing commented on #70851
Same problem here. We meet the pre-requisites. No idea what's going on.  I opened a ticket in Azure and was directed to open one in the partner center.  Two open tickets, no progress...

[2021-03-26 00:14] Oury-MSFT commented on #72783
@gmuenster Thank you for your feedback. I will assign this issue to the content author for further review and update the doc as appropriate.
@VanMSFT The [document](https://docs.microsoft.com/en-us/azure/azure-sql/database/logins-create-manage#using-fixed-and-custom-database-roles) where sp_addrolemember is mentioned point to the following [document](https://docs.microsoft.com/en-us/sql/t-sql/stat

[2021-03-26 00:26] oising commented on #33157
Wow... this is still going on? The lynchpin in Microsoft's edge services, and it's still a steaming crusty old turd after all this time? This is incredibly depressing.

[2021-03-26 00:28] oising commented on #33157
@mark-szabo Any input here from the team? This shouldn't be this difficult...

[2021-03-26 00:47] hrferdowsi opened #72809 "missing line of code"
Before attempting to connect and make query with " .on('connect', (err) =>{ .. ",  we need to establish a connection by adding this line of the code --> **connection.connect();**

The new code would look like this:
. . .
[code]
 . . .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 353bf767-02de-e7ea-d4a1-e0c4b9a82b4f
*

[2021-03-26 00:47] Karishma-Tiwari-MSFT commented on #72802
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-26 00:57] VanMSFT commented on #72783
Thanks @gmuenster! We appreciate the help! I'm updating the link now, and it should be live by tomorrow.

[2021-03-26 00:59] #72783 closed

[2021-03-26 01:04] rboucher commented on #72770
Fixing per internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/152177

[2021-03-26 01:52] Oury-MSFT commented on #72809
@hrferdowsi We are looking into this and will get back.

[2021-03-26 02:16] v-brfedy commented on #27629
input on doing manually
1.	Install the extension
2.	Configure the first and only instance to join the domain manually.
3.	Restart the first instance and it will hold the domain configuration.
4.	Proceed with the scaleout configuration and add more instances, those new instances will join the domain without problems.

[2021-03-26 02:26] xmasteron commented on #72686
Hello All,

In this doc there are sections that mention about the changes in service in 2020 but docs last update date is 2018.

This is the reason for the ask.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Oury-MSFT ***@***.***>
Sent: Friday, March 26, 2021 12:15:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: xmasteron ***@***.***>; Mention ***@***.

[2021-03-26 02:32] sherzyang opened #72810 "Multi-service subscription note"
Hello! Can we please remove the sentence in the note about the multi-service subscription not being available for Form Recognizer? Removing it would leave this: "when you create a Cognitive Service resource in the Azure portal, you have the option to create a multi-service subscription key (used across multiple cognitive services) or a single-service subscription key (used only with a specific cog

[2021-03-26 02:41] peter-bertok opened #72812 "Application Insights profiler install instructions very unclear, near impossible to follow"
I've spent the last two days trying to convince Application Insights to collect profiler traces from an Azure virtual machine, a scenario that "should just work".

I'm following the instructions in this article with no success.

Some notes:

- There's a requirement to install an unrelated monitoring agent. Why?
- Then there's a step for **manually** editing that agent's config file. What about ARM

[2021-03-26 03:30] Norrch2 opened #72813 "How long does it take to update claims with MS Graph?"
Hello,

I have searched everywhere for this answer.

We have been updating a custom claim with Microsoft Graph and noticing that it is taking anywhere up to 10 seconds to be updated.

Is there any documentation that can shed some light on this? I have done some research and I am aware that Azure AD B2C is globally redundant and deployed across multiple availability zones. This leads me to believe

[2021-03-26 04:15] AjayKumar-MSFT commented on #72773
@Elangamban, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-26 04:17] AjayKumar-MSFT commented on #72810
@sherzyang, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-26 04:18] SwathiDhanwada-MSFT commented on #72805
@BrendanHere Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-26 04:19] SwathiDhanwada-MSFT commented on #72812
@peter-bertok Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-26 04:20] AjayKumar-MSFT commented on #72794
@taylor-bianchi, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-03-26 04:31] neednlab opened #72815 "How to choose distribution key if VARCHAR type in the only right candidate?"
[Enter feedback here]
Tips in the document described "Don't distribute on varchar format".
So How can I choose a distribution key if VARCHAR type in the only right candidate(e.g. store_id, product_id etc.)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61988aaf-ef0d-999f-536b-47af6b6b1258
* Version Independent ID: bf9

[2021-03-26 04:50] VikasPullagura-MSFT commented on #72732
@dankuchem Any update on this?

[2021-03-26 04:54] VikasPullagura-MSFT commented on #72773
@Elangamban
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-26 04:54] VikasPullagura-MSFT commented on #72773
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2021-03-26 04:54] CHEEKATLAPRADEEP-MSFT commented on #72725
@syntrixsystems  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-26 04:55] abhijeet-MSFT opened #72817 "Update licensing requirements."
The doc states that SSPR is available as a free feature. However as per https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-licensing, password change is available in free tier but password reset is not. This should be updated in this doc too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-03-26 04:57] VikasPullagura-MSFT commented on #72592
@PingPongSet

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and [link](https://github.com/MicrosoftDocs/azure-docs/issues/72592) to this thread. I can then enable your subscription for one time free support.

Also, once you get the issue fixed, request you to repl

[2021-03-26 04:59] BrendanHere commented on #72805
Thanks a ton. Also, the examples will absolutely not work if you attempt to use powershell to associate the template with new-ResourceGroupDeployment cmdlet. It throws an error on the first character of the first line in the bicep file.

Terribly frustrating., I spent hours trying to figure it out, I finally resorted to the azcli. I really don't want to use that because I'm well versed in powershe

[2021-03-26 05:05] CHEEKATLAPRADEEP-MSFT commented on #72815
@neednlab  Thanks for the question! We are investigating and will update you shortly.

[2021-03-26 05:07] KalyanChanumolu-MSFT commented on #72754
@sudmis Is this question related to a specific document on GitHub?
If so, please provide a link to the doc so that we can route the question to the right team.

Technical support on GitHub is limited to documentation issues only.
In future, please post technical issues on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility.

[2021-03-26 05:10] KalyanChanumolu-MSFT commented on #72765
@ankku Is this question related to a specific document on GitHub?
If so, please provide a link to the doc so that we can route the question to the right team.

Technical support on GitHub is limited to documentation issues only.
In future, please post technical issues on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) for better visibility.

[2021-03-26 05:12] vipulsparsh commented on #72235
@allanlw This has been reported to the engineering team. I will be closing this now, once we have any new update on the same, I will post it here.

[2021-03-26 05:12] #72235 closed

[2021-03-26 05:16] AjayKumar-MSFT commented on #72794
@taylor-bianchi, Since you'd closed the issue, I presume you have a already figured out the issue. Kindly let us know if you have further questions on this topic, with the associated Azure doc URL.

[2021-03-26 05:48] juhanilahtovaara opened #72818 "Fix the documentation or Synapse?"
[Enter feedback here]

In **Query language** and **Built-in functions (analysis)** you said that **Yes, all Transact-SQL Analytic, Conversion, Date and Time, Logical, Mathematical functions, except CHOOSE, IIF, and PARSE** , but **IIF**- function is not supported in Synapse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-03-26 06:20] VikasPullagura-MSFT commented on #72778
@robs
What happens when ACI burst scaling AND node auto-scaling are active?
By default there is a 10 sec scan interval for a auto-scaler to reevaluate the cluster and then deploy nodes based on need. In this whole time, if the virtual kubelet is enabled and HPA is creating more pods which are in pending state, then ACI bursting will be the only option available to the scheduler for scheduling the

[2021-03-26 06:26] pemsft opened #72819 "References to listed services"
Is the content on this page up-to-date?
On the documentation page there is a list of services that are included in the built-in rule collection:
- Compute access to storage Platform Image Repository (PIR)
- Managed disks status storage access

Do you have any references / links on details about those services? What service endpoints / URLs / IP addresses they are using?

---
#### Document Details

[2021-03-26 07:10] jokarl opened #72820 "How Edge Hub handles TTL when offline and power outage"
I am looking for more information regarding how TTL is handled on the Edge Hub in different scenarios. By default,  the TTL is 7200 seconds (2 hours). Consider the following scenarios and please correct me if I'm wrong here:

**Sunshine case** :heavy_check_mark:
1. System is **online**
2. A message appears on the Edge Hub at timestamp `1`.
3. The message is forwarded upstream immediately

**Offlin

[2021-03-26 07:11] lazarillo commented on #50228
@kheckbh , it's so cool when such an elegant and obvious answer arises in these threads!  It's like the paper clip of solutions.  :)

This is ideal in so many ways:  the name could be post-pended with something like `deleted-<timestamp>`, so that multiple deletions can be performed and you can, in essence, get free "version controlling", in case a week later you realize that you really did want th

[2021-03-26 07:30] kennethvs commented on #72746
![2021-03-26_08-27-23](https://user-images.githubusercontent.com/20910988/112597341-4a778d00-8e0d-11eb-91ad-2a60ad08bb90.png)

So it's under Azure AD -> Diagnostic Settings -> Select "Edit setting" for your tenant specific Diagnostic setting -> Select ADFSSignInLogs

[2021-03-26 07:32] ms-ishiyam opened #72821 "About ingress traffic."
I know it is not necessary that we should allow access from the internet. We can limit the source address for public IP of Bastion. Could you add this setting into this document ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da4

[2021-03-26 07:38] ankku commented on #72765
This belongs to the Change feed functionality model of Cosmos DB. This is the  MS documentation link for it https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor

[2021-03-26 07:40] Jens-Schwendemann opened #72822 "Does not seem to work with current SAP Analytics Cloud (on Cloud Foundry) as HTTP Header is missing"
We struggled to get this working. We have two main topics we think this tutorial / the respective app falls short.

1. HTTP header x-sap-sac-custom-auth
We think it is because SAP introduced some Change on the API forcing an HTTP Header "x-sap-sac-custom-auth = true" when making the actual API call, e.g. GET https://<sac_host>/api/v1/scim/Users.

There's also a note for that https://launchpad.supp

[2021-03-26 08:00] CHEEKATLAPRADEEP-MSFT commented on #72818
@juhanilahtovaara  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-26 08:10] jpdfr-msft opened #72824 "Microsoft-Managed key for encryption at rest"
Can you precise if the Microsoft-Managed encryption key is dedicated to the Subscription, the AAD tenant the subscription is attached to, or is multi-tenant (multi customer) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404

[2021-03-26 08:12] codefactorydevelopment opened #72825 "Add default protocol explanation."
It is clear from the documentation that default connection mode is direct but its not clear that default protocol is TCP (as seen here: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs)

would be good to add that notion into docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-03-26 08:49] SubhashVasarapu-MSFT commented on #72821
@hisasima, Thanks for reaching out. We will investigate and update this thread.

[2021-03-26 08:50] mzedeler commented on #33157
I've experienced this issue as well and wound up spending a lot of unplanned hours working around it. At the very least, add a note to the documentation where you clarify that this doesn't currently work as expected.

[2021-03-26 08:54] hamzajeljeli95 opened #72827 "Outdated content"
Hello, This page screenshots seems to contain some outdated screenshots and/or contents regarding enabling/disabling rules. Currently in Azure Portal, we use Checkboxes to see if a rule is enabled or No.

![image](https://user-images.githubusercontent.com/28194327/112607222-43567c00-8e19-11eb-816b-64daab0bc94a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-03-26 09:11] AgribotGit opened #72828 "How to export a trained model using Python SDK"
Thanks for providing these valuable and interesting how-to details, and also the python code snippets stored at

[https://github.com/Azure-Samples/cognitive-services-quickstart-code/tree/master/python/ComputerVision](url)

Please provide some python code snippets and how-to instructions on how to export the trained tensorflow model to a local windows laptop – using python code.

The existing mater

[2021-03-26 09:44] lgayhardt commented on #68451
@davecatt  Sorry for the delay. To figure out in more detail what is going on, can you create a bug against the SDK repo: https://github.com/microsoft/ApplicationInsights-dotnet/issues/new?assignees=&labels=bug&template=bug_report.md

And provide enough details so the engineering team can repro. Once resolved,  if you would like to see the answer covered in the docs or the doc needs to be update

[2021-03-26 09:44] #68451 closed

[2021-03-26 09:45] madiathomas opened #72829 "Command for creating VM using PowerShell is incorrect. It is using Azure CLI."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart create an Azure IoT Edge device on Linux](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2018-06)

[2021-03-26 09:56] justPaulo opened #72830 "Is spark.databricks.driver.disableScalaOutput setting respected by DBR 8.0 ?"
Is spark.databricks.driver.disableScalaOutput setting respected by DBR 8.0 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e3a7fd6-a11f-0e9f-9747-7574d1096810
* Version Independent ID: 7fdd2591-162b-a0a7-8ff7-b94c93829804
* Content: [Jobs - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/jobs#--no

[2021-03-26 10:00] melzayet opened #72831 "Azure Data Box Disk - Preserving File Metadata"
The public information on ACL preservation for Azure Data Box Disk into Azure Files might need more clarification or update:

1. This FAQ question mentions that Azure File Sync will not preserve metadata of data copied through Data Box Disk. Does this implicitly mean if not using File Sync, ACL preservation is guaranteed to be copied into Azure Files?
https://docs.microsoft.com/en-us/azure/databox

[2021-03-26 10:03] Raj-MCITP opened #72832 "Supported Browser"
On the Supported Browser section, Chrome marked as supported browser for Mac OS and it will be consider as managed browsers when validated through Conditional Access Policy. Do we need to deploy any extension like **Windows 10 accounts** to make it managed/compliant ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625b

[2021-03-26 10:16] SandraVanDijk opened #72833 "Example for other providers for Tutorial: Authenticate and authorize users end-to-end in Azure App Service"
Hello!

This page is wonderful to setup authentication for Azure AD. I managed to have a app service with Angular and an Azure function using the same authentication token acquired in the app service for the Azure function.

I tried for days now to get the same working for the provider Google, without success. I have put both on "login with Google", used same client id or different one. The end re

[2021-03-26 10:19] wilson-mar opened #72834 "What does "G" mean in Keyboard Shortcuts documentation?"
https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-keyboard-shortcuts#keyboard-shortcuts-for-specific-pages-in-the-azure-portal
says "Go to Dashboard | G+D"
What is G?  And is that different on Windows vs. Macs?
Does that represent the Ctrl key on Windows or command key on Mac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-03-26 10:26] PingPongSet commented on #72592
@ VikasPullagura-MSFT

I have deleted all related resources a few days back. I am not sure when I will repeat it.

[2021-03-26 10:28] PingPongSet commented on #72592
@ VikasPullagura-MSFT

I noticed you have handled this ticket before and assigned to someone else. But the issue mentioned on the ticket has not been resolved, this is more important.
https://github.com/MicrosoftDocs/azure-docs/issues/72620

[2021-03-26 10:34] CHEEKATLAPRADEEP-MSFT commented on #72830
@justPaulo  Yes, its available on DBR 8.0.

[2021-03-26 10:37] jovanpop-msft commented on #70019
closing - because azure oped data set is returning valid data:
![image](https://user-images.githubusercontent.com/20593304/112619443-a0f1c500-8e27-11eb-8c15-165f6bca006d.png)

thanks @julieMSFT

[2021-03-26 10:38] jaganpt opened #72835 "How to create a PowerShell function in Azure using Visual Studio?"
Hi,

How to create a PowerShell function in Azure using Visual Studio?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Quickstart: Create your first function in Azure using Visual Studio](https://d

[2021-03-26 10:42] SychevIgor opened #72836 "Add more query examples"
Debugging of custom policies in AAD B2C - is not trivial exercise and Application Insights is almost single option for that.
My challenge was - different components of "microservices" app writing logs to the same app ins instance and when we added b2c- we can't identify traces from custom policies in an flow of traces.

Should we have separate App Ins instance for B2C only or we may combine? (What

[2021-03-26 10:43] SychevIgor commented on #48222
It takes more than 1 year to close this ticket...

[2021-03-26 11:15] arashcomsense commented on #72548
@ggailey777 @ChaitanyaNaykodi-MSFT any updates on this question? Lack of this particular info has become a showstopper to progress.

[2021-03-26 11:20] VikasPullagura-MSFT commented on #72592
@PingPongSet The issue you linked in previous comment is assigned to the document author as it is a document enhancement (request to include the examples in the doc)  who will be publishing the document. Document author will update on the issue accordingly.

As you don't have the resources in your subscription to troubleshoot the issue now. I would recommend to open support case when you are ready

[2021-03-26 11:20] #72592 closed

[2021-03-26 11:20] SumanthMarigowda commented on #72807
@grant-flander Thanks for your question. We are checking on this and will respond to you soon.

[2021-03-26 11:26] Dilergore commented on #33157
I think something changed in the documentation recently indicating that now you can configure network security around the KV to some extent.

Old:
![image](https://user-images.githubusercontent.com/14315890/112624851-6d666900-8e2e-11eb-9ed5-8875565deae1.png)

New:
![image](https://user-images.githubusercontent.com/14315890/112624676-3abc7080-8e2e-11eb-8645-342bd48b8408.png)

https://docs.microsoft

[2021-03-26 11:46] VikasPullagura-MSFT commented on #72522
@SnoWolfT ETA is ~2 weeks.

Hope this helps.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-26 11:46] #72522 closed

[2021-03-26 11:49] raunakjhawar opened #72837 "Can conditional access be used to limit access from named locations to Synapse deployment?"
It seems that the document - https://docs.microsoft.com/en-us/azure/azure-sql/database/conditional-access-configure suggests that conditional access can be used in conjunction with Synapse Analytics, but this not node made clear on this page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221733cf-3951-3fb4-12cc-486ef43

[2021-03-26 11:51] Ozzian opened #72838 "Misleading solution for certificate issue."
I struggled to save Virtual network gateway Point-to-site configuration as I received the following error message

Failed to save virtual network gateway <gateway name>. Data for certificate <certificate ID> is invalid.

The solution tells: "Make sure that the data in the certificate does not contain invalid characters, such as line breaks (carriage returns). The entire value should be one long li

[2021-03-26 11:55] emerrf commented on #65000
Related issue opened in databricks-cli: https://github.com/databricks/databricks-cli/issues/338

[2021-03-26 11:55] yarcyarc opened #72839 "purview starter kit for linux please"
for those of us who'd like to learn purview but are working from linux/bash,

[code]

Would've been great if linux was a first class citizen in the azure universe :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2039cb-fc85-a189-1938-57d102a09b2f
* Version Independent ID: 4bc83b4b-afcb-8521-a882-628ce151b093
* Cont

[2021-03-26 12:06] vipulsparsh commented on #72796
@juhlee-microsoft Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-26 12:07] vipulsparsh commented on #72817
@abhijeet-MSFT  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-26 12:09] vipulsparsh commented on #72822
@Jens-Schwendemann Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-26 12:10] shashishailaj commented on #72804
@rofisher Thank you for your feedback . We will investigate and update the thread.

[2021-03-26 12:10] vipulsparsh commented on #72813
@Norrch2 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-26 12:11] dankuchem commented on #72732
I got this part working, but I'm now stuck with an issue on one of the other tutorials in the group on AKS.  It's a well done site, but I think the documentation may need some updating.

dk

From: VikasPullagura-MSFT ***@***.***>
Sent: Friday, March 26, 2021 12:50 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Dan Kuchem ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs]

[2021-03-26 12:11] vipulsparsh commented on #72832
@Raj-MCITP Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-26 12:15] shashishailaj commented on #72836
@SychevIgor Thank you for your feedback . We will have this reviewed and update accordingly .

[2021-03-26 12:15] AnuragSharma-MSFT commented on #72825
@codefactorydevelopment Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-26 12:16] VikasPullagura-MSFT commented on #72732
@dankuchem Can you share the document link which needs updating, share your feedback along with the document link. I will share the feedback with the document author team for updating.

[2021-03-26 12:16] shashishailaj commented on #72837
@raunakjhawar Thank you for your feedback . We will have this reviewed by the content team and update the thread.

[2021-03-26 12:25] RohitMungi-MSFT commented on #72828
@AgribotGit The current documentation provides details on how to [export ](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-your-model)your tensor flow model and use it with [python ](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python)locally. I hope you can review the steps and try to run the same. Thanks!!

[2021-03-26 12:27] enqueue opened #72840 "CDN Purge: Hint at --no-wait option"
Thank you for the good tutorial. It helped my team to get started.

One issue that we have seen is the long runtime of the CDN purge job. Runtime is chargeable on github, so we resorted to adding the `--no-wait` option to the ` az cdn endpoint purge` step. Perhaps this is a useful option for other tutorial readers, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-03-26 12:28] KalyanChanumolu-MSFT commented on #72540
@codemaker Apologies for the delay in getting back to you.
Code provided on the documentation page targets .Net Framework and uses System.Data.SqlClient

If you want to migrate to Microsoft.Data.SqlClient or target .Net core, please refer to the example [here](https://github.com/dotnet/SqlClient/blob/main/doc/samples/AzureKeyVaultProviderExample.cs)
The implementation for both providers is differe

[2021-03-26 12:31] Avinash279939 opened #72841 "created Linux VM and facing issues trying to connect with bastion"
@Roopesh-Bharatwaj-K-R

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ba2ac9-6097-7af1-5200-190d2bbbbd08
* Version Independent ID: 35206463-40cf-7af2-a713-cecb70972a1e
* Content: [Connect to a Linux VM using Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-ssh)
* Content Source: [artic

[2021-03-26 12:44] rberrada commented on #60733
hello,
was there any update on this issue ?

[2021-03-26 13:41] AgribotGit commented on #72828
Thank you for your prompt reply.

I'm familiar with the portal based way of exporting a previously trained model. I've used it and it's handy.

But ... The how-to instructions and the accompanying python code snippets do not enable the model created and trained using them to be exported. the code seems to create a model
using the General (A2) type of domain. That prevents an export.

It is true th

[2021-03-26 13:55] tamram commented on #72807
@grant-flander - Thanks for your feedback! The doc has been updated with all of the currently available regions.

#reassign: @tamram

#please-close

[2021-03-26 13:55] #72807 closed

[2021-03-26 13:56] tamram commented on #72652
@DanielLarsenNZ - Thanks for your feedback! The doc has been updated with all of the currently available regions.

#please-close

[2021-03-26 13:56] #72652 closed

[2021-03-26 13:56] tamram commented on #71706
@SlavaRoikhman - Thanks for your feedback! The doc has been updated with all of the currently available regions.

#please-close

[2021-03-26 13:57] #71706 closed

[2021-03-26 14:16] Arkthos opened #72842 "there are a couple of typos"
[Enter feedback here]
"e selective password had synchronization o"
This is in one of the information blue globes, should be hash rather than had

"rd hash synchronization will only effect user objects t"
Should be affect rather than effect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28b3326-1302-1492-3961-0e1d59e12

[2021-03-26 14:29] centrolutions opened #72843 "Error in script"
The second powershell script is currently:
`
az account set -s <your-subscriptionId>                                    # Select your Azure Subscription
tenantId=$(az account show --query tenantId)                               # Get your tenantId
az keyvault update -n myvault --remove Properties.accessPolicies           # Remove the access policies
az keyvault update -n myvault --set Properties.t

[2021-03-26 15:27] VicSmith opened #72845 "When using App Config and Key Vault with Managed Identities... Do you have two IAMs to setup?"
In step 6 you outline the below.

**To use both App Configuration values and Key Vault references, update Program.cs as shown below. This code calls SetCredential as part of ConfigureKeyVault to tell the config provider what credential to use when authenticating to Key Vault.**

But do you also have to set up IAM from the App Service to the Key Vault?

You cover setting up IAM from the App Service

[2021-03-26 15:30] VicSmith commented on #71592
@zhenlan , I am circling back.  Having no luck with using :

`
        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)

                .UseSerilog()
                .ConfigureWebHostDefaults(webBuilder =>
           webBuilder.ConfigureAppConfiguration((hostingContext, config) =>
            {
                var settings = config.Build()

[2021-03-26 15:31] RobertHutchinsAIS opened #72846 "404 when accessing azure rest api documentation"
I was able to access the subscriptions/list api documentation yesterday, but today it is giving me a 404 error.  The other two for Policy States and Policy Definitions have been down for several days now.  I've had other users try these links and receive the same error message.  I am able to view other non-rest api documentation on the Microsoft site still, it's just these links that I have bookma

[2021-03-26 15:33] VicSmith commented on #71592
@SCuffy
That was a part of the problem, but the weird part is after switching to the right azure subscription, I removed the AD environment variables and it stopped working.  So I put them back one at a time.   It works when I put the AZURE_TENANT_ID back as an environment variable.

[2021-03-26 15:37] k-byun opened #72847 "'apiVersion' not found in schema"
[Enter feedback here]
2019-12-01 is not shown below - should it be **2020-12-01** instead?
![image](https://user-images.githubusercontent.com/72177353/112656185-c0342680-8e16-11eb-8a2b-c47298bd035a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1414a6ee-60d8-8b6c-ec16-a3feda85d2a6
* Version Independent ID: a5a72cb

[2021-03-26 15:38] jan-tosovsky-cz opened #72848 "Deleting Boot Diagnostics logs after deleting VMs"
When using default managed storage account for storing Boot Diagnostics, I can't inspect the stored data anywhere. Is the stored content deleted together with deleting VM? If not, can I delete it manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691353ad-7c13-bce2-510f-b9a641cf95c4
* Version Independent ID: afce

[2021-03-26 15:39] SamaraSoucy-MSFT commented on #72845
Thanks for the question! We will review and get back to you shortly.

[2021-03-26 15:40] RonMatsu commented on #72790
I have resolved this. The problem was a discrepancy between the text of the article and the images. Specifically, in the module deployment part the picture indicates mcr.microsoft.com/azureiotedge-hub:1.2.0-rc2, but the correct value is mcr.microsoft.com/azureiotedge-hub:1.2.0-rc4.

[2021-03-26 15:40] #72790 closed

[2021-03-26 15:43] v-tcassi commented on #72790
Glad to hear it, Ron. I'll be sure to correct the image text in our next update.

When the tutorial was initially published, rc2 was correct, but 1.2 has evolved pretty quickly, so the tutorial fell out of date fairly quickly.

Sorry for the inconvenience!

[2021-03-26 15:43] RonMatsu commented on #72788
@kgremban - I made the changes you indicated and the problem is resolved. Thanks!

[2021-03-26 15:43] #72788 closed

[2021-03-26 15:45] jan-tosovsky-cz opened #72849 "Overwriting logs when exceeding 1GB"
In this https://github.com/MicrosoftDocs/azure-docs/issues/69953#issuecomment-776246351 it is stated logs will be overwritten when the total size crosses 1 GB. Is this size per blob, or per Managed Storage Account ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691353ad-7c13-bce2-510f-b9a641cf95c4
* Version Independen

[2021-03-26 15:46] SwathiDhanwada-MSFT commented on #72726
Assigning to content author @bwren for review.

[2021-03-26 15:50] JamesTran-MSFT commented on #72843
@centrolutions
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-26 15:51] JamesTran-MSFT commented on #72842
@Arkthos
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-26 16:09] jonasjancarik opened #72850 "Bing Search APIs are moving to Bing Search Services but azure.cognitiveservices.search.websearch is used in the guide"
I tried following the quickstart guide at https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/quickstarts/client-libraries?pivots=programming-language-python but got "Forbidden" response when I tried to make a request. I believe this is related to the fact that Bing Web Search is no longer under Cognitive Services (see https://docs.microsoft.com/en-us/dotnet/api/overview/azur

[2021-03-26 16:17] JayaChatterjee-MSFT commented on #72606
@ToruMakabe If function host crashes, the container is killed immediately. However, you can check https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#cancellation-tokens (for in-process C#)

[2021-03-26 16:20] JamesTran-MSFT commented on #72749
@nielsheeren
I just wanted to check in and see if you had any other questions or if you were able read through my previous comment?

[2021-03-26 16:24] SubhashVasarapu-MSFT commented on #72841
@Avinash279939, Thanks for reaching out. We will investigate and update this thread.

[2021-03-26 16:25] SubhashVasarapu-MSFT commented on #72838
@Ozzian, Thanks for reaching out. We will investigate and update this thread.

[2021-03-26 16:27] JayaChatterjee-MSFT commented on #72835
@jaganpt Thank you for the question. We will review and get back to you.

[2021-03-26 16:28] liliankasem commented on #17737
Hey @asergaz, this issue seems to be happening again. All of a sudden our pipelines stopped working with the same error:

`Error: Unable to locate executable file: 'iotedgedev'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable.`

Our last successful run was on

[2021-03-26 16:29] flo-joe opened #72851 "Incorrect link in Tutorial"
The link to create an Apache Spark pool is incorrect. It takes users to a document describing how to create a dedicated SQL pool instead. For a newbie like me, this is an issue.

Current URL: https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-create-sql-pool-studio
Needs to be: https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-create-apache-spark-pool-studio

---

[2021-03-26 16:30] sreddy58 opened #72852 "Is there any timeline or roadmap to stop seeing /32 routes on peered vnets"
Is there any feature request to stop /32 udr routes per private endpoint in peered vnets? These /32 routes within same vnet is acceptable but not to peered vnets, makes us do a lot of /32 udr overrides or design changes in hub-spoke model. If there is any work being on this issue, please let me know the preview timeline if any.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-03-26 16:31] Avinash279939 commented on #72841
thank you please .

[2021-03-26 16:38] JayaChatterjee-MSFT commented on #72835
@jaganpt  Here is you can try: Go to the portal--> Navigate to Function App --> Click on the three dots --> Click on "Download App Content"
![image](https://user-images.githubusercontent.com/51781464/112663397-c827b100-8e7e-11eb-9633-e63713064131.png)

Then select "Content and Visual Studio Project" and Download. You can "Include the app settings" if you need to.
![image](https://user-images.githu

[2021-03-26 16:38] #72835 closed

[2021-03-26 16:47] codemaker commented on #72540
Appreciated your time. Thank you

[2021-03-26 16:47] YutongTie-MSFT commented on #72850
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-26 16:48] DerekHerman-MSFT commented on #72824
@jpdfr-msft
I believe this is stated [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption#encryption-scopes-for-blob-storage-preview): _By default, a storage account is encrypted with a key that is scoped to the storage account._
Let me know if that doesn't answer your question or you think the document needs clarifying.

[2021-03-26 16:51] BharathNimmala-MSFT commented on #72834
@wilson-mar Thank you for reaching out with your query, I have assigned this issue to our document author @JnHs who is currently reviewing your query and will update the thread accordingly.

[2021-03-26 16:55] jazzyray commented on #36664
@AlexisJackson did you work this out?

I am seeing the same error with a system-managed identity created via arm?

[2021-03-26 16:58] mumian commented on #72847
@k-byun Thank you for the comment.  2019-12-01 is a valid API version. See https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-12-01/virtualmachines/extensions?tabs=json. Somehow VSCode intellisense didn't pickup the version.  I will update the article to use the latest.

#please-close

[2021-03-26 16:58] #72847 closed

[2021-03-26 17:00] robs commented on #72778
@VikasPullagura-MSFT

If the pending pods get scheduled on ACI won't that mean that the node auto-scaler doesn't create a new node because there are no longer any pending pods?

If that's not the case and a node is getting created, will the pods already on ACI get moved back to the new node or will they just stay on ACI until HPA drops them?

If the pods stay on ACI won't the node auto-scaler remo

[2021-03-26 17:05] jazzyray commented on #36664
Found this... looks to be the answer (Add role so system managed identity) in this case a role for ACR

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity#grant-identity-access-to-the-container-registry-1y

[2021-03-26 17:08] SatishBoddu-MSFT commented on #72829
@madiathomas
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-26 17:14] dankuchem commented on #72732
Vikas:

Thanks - it may well be that it's because I'm new at this (My role also doesn't require a deep AKS skill set, but does require I can work with basic concepts.)

The Tutorial # 4 - Run Application asks you to update the Manifest file, which I previously uploaded via the Azure Portal - Azure Cloud Shell Bash cut & past input.  The yellow-highlighted below make the assumption that you can con

[2021-03-26 17:18] JamesTran-MSFT commented on #72721
@sarthak-git
Thank you for the quick responses over email!

Since I've enabled your subscription for a one-time free technical support request, and have reached out to our engineering team to report this potential bug. I've assigned this issue to the author to investigate this issue and they'll update as needed.

If you have any other questions, please let me know.
Thank you!

[2021-03-26 17:21] JamesTran-MSFT commented on #72647
@ran-ten21
Since you're internal, I'll go ahead and close out this issue.

I'll be adding you to the email thread with or PG member for more info on the phone number being retired.

[2021-03-26 17:21] #72647 closed

[2021-03-26 17:24] SubhashVasarapu-MSFT commented on #72852
@sreddy58, please do provide the document URL you were referring to here.

[2021-03-26 17:27] JamesTran-MSFT commented on #72780
@BillyBolton
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-26 17:31] thommck opened #72853 "No mention of Azure Arc"
The overview page (https://docs.microsoft.com/en-us/azure/security-center/azure-defender) states we should use Azure Arc to onboard on-prem VMs into Azure Defender but this page says install the Log Analytics agent. From what I understand Arc uses the MMA agent instead of Log Analytics. Can you clarify which method is preferred (I'm assuming it is just htis page that is out of date?)

---
#### Doc

[2021-03-26 17:41] sreddy58 commented on #72852
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations
Mitigation: "Deploy individual routes with /32 prefix to override private endpoint routes"

[2021-03-26 17:44] SubhashVasarapu-MSFT commented on #72604
@rolandnyamo, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-26 17:44] #72604 closed

[2021-03-26 17:45] SubhashVasarapu-MSFT commented on #72636
@felixtsem5, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-26 17:45] #72636 closed

[2021-03-26 17:46] jaganpt commented on #72835
Hi @JayaChatterjee-MSFT ,

Thanks for your reply. This is creating PowerShell function app within portal and then  download app content from there.
But I am looking for create PowerShell function app  using Visual Studio.

[2021-03-26 17:48] JamesTran-MSFT commented on #72787
@rconiv
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**PR:**
Added new IdFix Link - https://github.com/Microsoft/idfix
Moved current IdFix Link to a different location within the sentence.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.

[2021-03-26 17:48] #72787 closed

[2021-03-26 17:53] DerekHerman-MSFT commented on #72831
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-26 17:55] rconiv commented on #72787
Thank you for the help.

[2021-03-26 17:56] vimeht opened #72855 "test"
test feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17de4614-f12f-1ea1-5d20-a2d65111de52
* Version Independent ID: 6a05ed78-88bc-3f1d-4df9-916b0c4e18ef
* Content: [Device Update for Azure IoT Hub tutorial using the Raspberry Pi 3 B+ Reference Yocto Image](https://docs.microsoft.com/en-us/azure/iot-hub-device-u

[2021-03-26 18:00] JamesTran-MSFT commented on #72797
@jasonbart
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**Updated Link:**
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/auth-code

I will now close out this issue. Please allow some time for the author (@mmacy ) to review and the changes to re

[2021-03-26 18:00] #72797 closed

[2021-03-26 18:02] rajapadmanaban opened #72856 "Typo in the menu item"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/58539628/112673553-18bcf100-8e22-11eb-8cb0-9460db052b19.png)

Pls observe the screenshot pasted above. One of the menu items is presented as "ASP.NET Console" instead of Console. The term ASP.NET Console may confuse the reader as in this context, we are talking about .NET console application. Not a ASP.NET Console. Kindly con

[2021-03-26 18:02] vboyev-MSFT opened #72857 "Please remove Preview - this service GA's 2/20/21"
https://azure.microsoft.com/en-us/updates/azure-image-builder-service-now-generally-available/

Released to GA 2/20/21
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54f35593-3d7b-a56d-0fba-593eb9b3032d
* Version Independent ID: b1e5fe22-ef19-b992-0fea-7e6848c37845
* Content: [Learn about Azure Image Builder (preview) -

[2021-03-26 18:06] JamesTran-MSFT commented on #72842
@Arkthos
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-26 18:06] #72842 closed

[2021-03-26 18:17] SubhashVasarapu-MSFT commented on #72515
@ClaudioRifo, Apologies for the delay in response. This is the same case in Application gateway --> Key vault integration as well. The issue here is they are not been part of Microsoft trusted services list yet. According to docs, APPGW will be added to the trusted list in March 2021. In the same way, CDN would be part of this list soon. You can always provide your feedback and can ask for a featu

[2021-03-26 18:18] TravisCragg-MSFT commented on #72857
@vboyev-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-26 18:19] #72515 closed

[2021-03-26 18:26] JamesTran-MSFT commented on #72843
@centrolutions
Thank you for pointing this out! The second script that you're referring to is specifically for Azure CLI which is why "$" isn't necessary.

![image](https://user-images.githubusercontent.com/36619112/112676257-70109080-8e25-11eb-9bd1-a0a5a54ba14c.png)
![image](https://user-images.githubusercontent.com/36619112/112676163-54a58580-8e25-11eb-8632-c65fa7eeebe4.png)

Since our documenta

[2021-03-26 18:26] #72843 closed

[2021-03-26 18:28] JamesTran-MSFT commented on #72853
@thommck
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-26 18:28] julieMSFT commented on #72818
Hi @juhanilahtovaara, thank you for contacting Microsoft. Your are correct that IIF is supported in Azure Synapse Analytics. We have updated the doc. You should see the changes later today. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-03-26 18:28] julieMSFT commented on #72818
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/152220

[2021-03-26 18:29] julieMSFT commented on #72818
#please-close

[2021-03-26 18:29] #72818 closed

[2021-03-26 18:33] kenwith commented on #58920
I am going to close this out as a doc issue but feel free to follow up in this thread is something needs updated.

#please-close

[2021-03-26 18:33] #58920 closed

[2021-03-26 18:34] julieMSFT commented on #70019
#please-close

[2021-03-26 18:34] #70019 closed

[2021-03-26 18:53] MatthewSteeples opened #72858 "CDN Bandwidth is free from Azure Sources"
[Pricing Page](https://azure.microsoft.com/en-us/pricing/details/bandwidth/#:~:text=Data%20transfer%20from%20Azure%20origin%20to%20Azure%20CDN) for reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518f4eaa-297f-5981-97c5-274a4103fa5d
* Version Independent ID: 0dbdc5d6-d448-544d-a862-3f7f5204be22
* Content: [Tut

[2021-03-26 18:56] Oury-MSFT commented on #72760
@vikasgoyal Could you please explain what you are trying to achieve and which connector you are talking about because Cosmos DB has Spark connector , Spring data connector and both support SQL API only. There are also a bunch of other cosmos DB connectors, Power BI connector, Cassandra Kafka connector, data factory Cosmos DB connector.

[2021-03-26 18:56] aletheatoh commented on #71618
@aidarko I am sorry I am only seeing this now as I didn't not get a notification.

I will look into this issue. I notice that the virtual network id/resource group is different in the first message than the second, can I confirm if there's only one VNET in question? You were trying to create a ddos plan, and add an existing VNET to it?

Does the correct VNET resource ID show in both the success me

[2021-03-26 19:02] pardhasaradhireddy commented on #10396
Can we use the copy option for multiple scopes.
How can I send the resource ids dynamically?

https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate#create-or-update-a-dynamic-alert-rule-for-multiple-resources

[2021-03-26 19:08] Jagdish007 opened #72859 "Can you please clarify on how to get the private IP for the storage in the documentation?"
[Enter feedback here]

In the last section, you use the parameter. There are no instructions on how to get the value of the parameter. I succeded by using nslookup. Can you please add that step into the doc to help our customers?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3b74c-2e19-9963-bf78-2d0a01e6f906
* Versi

[2021-03-26 19:20] danielsollondon commented on #72663
Hi @henrikhelvete - Apologies for this, we will run a documentation check, however without knowing your exact inputs (image source, customizations, distribution) it will be best effort check. I don't want you to wait on us checking the docs, in parallel please can you raise a [case](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-troubleshoot#getting-support) that has y

[2021-03-26 19:22] BharathNimmala-MSFT commented on #72856
@rajapadmanaban Thank you for sharing your feedback, we will review and updated the document as needed.

[2021-03-26 19:23] justPaulo commented on #72830
Surprised by still seeing this:
Run result unavailable: job failed with error message
 The output of the notebook is too large. Cause: rpc response (of 20985137 bytes) exceeds limit of 20971520 bytes

[2021-03-26 19:26] JamesTran-MSFT commented on #72247
@sgdesmet
Thank you for your time and patience on throughout this issue.

As mentioned by @stevenxzhou, we'll fix this issue in version selfasserted-2.1.5. WIP. The only workaround for now is you can choose to override our method "changeVerificationControlState" with the typo corrected using custom JS.

Since our engineering team is aware of this issue and will be working on a fix, I'll go ahead a

[2021-03-26 19:26] #72247 closed

[2021-03-26 19:37] viseshag commented on #72237
Do you mean the table itself in your SQL pool instance was deleted? Did we wait for up to an hour after the scan completed to see this?

[2021-03-26 19:38] viseshag commented on #72237
#reassign:hophanms

[2021-03-26 19:38] craigktreasure opened #72860 "Standard_A1 is no longer a valid option"
The documentation indicates to use "Standard_A1" VMs, but those aren't allowed anymore and don't work anymore. Unfortunately, it was also the default in the Portal for me, which left me in a broken state wondering what sort of quota I had violated. "Standard_A1_v2" is now the way to go it appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-26 19:41] viseshag commented on #72488
Our list of connectors grows every month and it's challenging to update this screenshot every time. Please use the list of sources in the table of contents as your reference.

[2021-03-26 19:42] TheGoodNEvil opened #72861 "I Copied And Pasted All The Code But Got Different Results After Running It"
[I copied and pasted all the code in the designated areas, but I was unable to get the same results after running the code.]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29430c6-fd84-c423-db14-4f87853dc5d6
* Version Independent ID: 99605c52-055e-8361-4540-2527fd0ad342
* Content: [Quickstart - Create and manage acces

[2021-03-26 19:42] viseshag commented on #72488
#please-close

[2021-03-26 19:42] #72488 closed

[2021-03-26 19:43] v-jheichman commented on #72237
Yes, I have run the scan days after it was deleted and it still showed up. We were finally able to delete it through the REST API per this link
https://feedback.azure.com/forums/932437-azure-purview/suggestions/42103249-delete-assets-and-items-from-the-catalog-using-the

I believe that there is no Delete menu in the AI

Thanks for looking into this

[2021-03-26 19:43] #72237 closed

[2021-03-26 20:04] Karishma-Tiwari-MSFT commented on #72849
Thanks for the question. We are currently investigating and will update you shortly.

[2021-03-26 20:05] Karishma-Tiwari-MSFT commented on #72848
Thanks for the question. We are currently investigating and will update you shortly.

[2021-03-26 20:06] Karishma-Tiwari-MSFT commented on #72860
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-26 20:08] chinmoysarangi commented on #72488
I believe the issue that I reported was not really understood. For a brand new product as Azure Purview, which needs wider user adoption, this kind of resolution closure is disappointing!

[2021-03-26 20:17] SnehaGunda commented on #72760
@Oury-MSFT I didn't know you were referring to the question on Gitissue. This issue is on the spark connector doc see the content in the above description.

@vikasgoyal this connector currently doesn't support the Gremlin API.

[2021-03-26 20:26] Oury-MSFT commented on #72760
@SnehaGunda Thank you for your clarification.

[2021-03-26 20:47] alexjasinowski opened #72862 "Missing SystemForCrossDomainIdentityManagementServiceIncompatible Error Code"
Looks like the list is missing SystemForCrossDomainIdentityManagementServiceIncompatible . Could it be added?

I'm seeing this error when attempting to provision to AWS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684c1153-f8bc-0c5c-9004-4ae150c4dc37
* Version Independent ID: 33863c64-ad39-dd57-06e5-a0fc7ac4993c
* C

[2021-03-26 20:48] JamesTran-MSFT commented on #72862
@alexjasinowski
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-26 21:01] mumian commented on #72805
@BrendanHere - thank you for your comment.  The screenshot will be updated later today. Regarding the Azure PowerShell deployment issue, it is likely that you don't have the latest Bicep CLI installed.  The latest is 0.3.126. You need version 0.3.1 or later.  To check the version, run "bicep --version".  To install the latest, use one of the manual methods documented in https://docs.microsoft.com/

[2021-03-26 21:04] BrendanHere commented on #72805
Thanks a ton for getting that updated!

I do have the latest bicep version.
Has someone tried to actually execute that example?

PS C:\temp> az bicep version
Bicep CLI version 0.3.126 (a5e4c2e567)

PS C:\temp> $PSVersionTable.PSVersion

Major  Minor  Patch  PreReleaseLabel BuildLabel
-----  -----  -----  --------------- ----------
7      2      0      preview.3

Thank you,
Brendan

From: Jonathan

[2021-03-26 21:08] mumian commented on #72805
@BrendanHere - Azure CLI installs its own self-contained version of Bicep.  Azure PowerShell uses a different copy.  To check the version, use "bicep --version" instead of "az bicep version".

[2021-03-26 21:10] SatishBoddu-MSFT commented on #72820
@jokarl Definitely a great technical question, I hope you have seen the below comment/
Maybe we can take a look at CleanupProcessor.CleanupMessage

https://github.com/Azure/iotedge/blob/027a509549a248647ed41ca7fe1dc508771c8123/edge-hub/src/Microsoft.Azure.Devices.Edge.Hub.Core/storage/MessageStore.cs#L223

![image](https://user-images.githubusercontent.com/62923178/112692579-6b0b0b80-8e3c-11eb-806

[2021-03-26 21:10] RyanHill-MSFT commented on #72781
I'm awaiting confirmation but I don't believe this is possible. The Deployment Center only triggers off commits to `master`. I confirmed having a branch named 'main' on kudu instance, but it doesn't trigger any builds.

[2021-03-26 21:13] DerekHerman-MSFT commented on #72840
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-26 21:15] diberry commented on #72781
@RyanHill-MSFT Thanks for letting me know.

[2021-03-26 21:15] jokarl commented on #72820
Thank you @SatishBoddu-MSFT, I will direct my question to QnA forums.

[2021-03-26 21:15] #72820 closed

[2021-03-26 21:27] DerekParks opened #72863 "Wheel house as better work around for this?"
I think a better workaround here might be to use a wheelhouse that holds both dependencies. That ensures that they get installed at the same time.

But maybe it only works for me because my wheels dependency chain happens to be alphabetical?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52385941-4ba7-5ceb-9289-5055b92

[2021-03-26 21:29] kgremban commented on #72788
Great! I'm glad I could help resolve this for you.

[2021-03-26 21:32] BrendanHere commented on #72805
I must be missing something then.

I was trying to use Bicep in PowerShell Preview 7 – where I typically run all of my shell commands.

I also have Azure Cloud Shell installed in Windows Terminal. So, do I have it improperly installed?

Azure Cloud Shell:
PS /home/brendan> az bicep install
PS /home/brendan> az bicep --version
the following arguments are required: _subcommand

PowerShell 7 Preview:

[2021-03-26 21:34] BharathNimmala-MSFT commented on #72856
@rajapadmanaban Thanks again for bringing this to our notice, I have raised a PR to correct the description based on your feedback. Once the PR is reviewed and approved the change with go live in next few days.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, however if yo

[2021-03-26 21:34] #72856 closed

[2021-03-26 21:36] glomaga opened #72864 "Example of Azure AD B2C sign-in with Conditional access with MFA as remediation?"
Hi

The example provided on this Git: https://github.com/azure-ad-b2c/samples/tree/master/policies/conditional-access
MFA is not included as remediation, can you provide an example XML file of the Customs Policy where is included?

I need to create a custom policy that requires MFA for a particular set of users configured on the Conditional Access policy.

Thanks

---
#### Document Details

⚠ *Do

[2021-03-26 21:38] mumian commented on #72805
@BrendanHere - Remove "az" from the command.  It is "bicep --version" instead of "az bicep --version".  Here is what I have:

$ bicep --version
Bicep CLI version 0.3.126 (a5e4c2e567)

If the Bicep comment is not recognized, you need to install Bicep CLI by using the link I shared with you earlier.

[2021-03-26 21:40] ramya-rao-a opened #72865 "State property not available on peeked messages"
I believe the very old WindowsAzure.ServiceBus was the only package that allowed reading the "state" on the peeked message. None of the packages that came after that allow this. Neither is this information available in the [spec for the peek operation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#peek-message)

This might be the reason for the feat

[2021-03-26 21:45] BharathNimmala-MSFT commented on #72696
@JerryMSFT Thanks again for bringing this to our notice, I have raised a PR to correct the description based on your feedback. Once the PR is reviewed and approved the change with go live in next few days.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, however if you hav

[2021-03-26 21:45] #72696 closed

[2021-03-26 21:50] MarileeTurscak-MSFT commented on #72746
Thank you so much, @kennethvs ! I made a pull request to update the article with the new instructions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/152314

[2021-03-26 21:50] #72746 closed

[2021-03-26 22:11] himanshusinha-msft commented on #72851
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-26 22:26] rido-min opened #72866 "Desired property example does not follow the ACK convention"
This article suggest to use the custom field `status` this report when the property has been accepted by the device.

This suggestion contradicts what IoT Central, and IoT Explorer expect, as described in [concepts-convention#writable-properties](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-convention#writable-properties)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-03-26 22:32] lazarillo commented on #29578
I am truly confused:  if *outputs* cannot be in a secure string format, what is the point of even allowing secure strings at all?

It is the *output* which often has the more critical secret information.  For instance, I cannot create a data lake (storage account) with a known key.  That key is only provided *after* I have created the data lake.  How can I access that value in any CI/CD pipeline?

[2021-03-26 22:32] BryanTrach-MSFT commented on #72833
@SandraVanDijk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

The doc author will review the feedback for the doc. If you require technical assistance with with matter, we suggest you post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).

[2021-03-26 22:38] SaiKishor-MSFT commented on #72827
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-26 22:41] SaiKishor-MSFT commented on #72819
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-26 22:41] SaiKishor-MSFT commented on #72858
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-26 22:50] ChaitanyaNaykodi-MSFT commented on #72865
Hello @ramya-rao-a,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-27 00:00] YutongTie-MSFT commented on #72839
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@viseshag Hello, could you please take a look on this issue and update the document if necessary? Thanks.

[2021-03-27 00:02] rajapadmanaban commented on #72856
Thank you.

[2021-03-27 00:21] lgayhardt commented on #71996
I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1830397) and added it to our backlog to make the documentation more clear.  @NoriMin let us know if you have any additional questions.

Thank you
#please-close

[2021-03-27 00:21] #71996 closed

[2021-03-27 00:23] ToruMakabe commented on #72606
@JayaChatterjee-MSFT Thanks. It's an excellent opportunity for improvement. Please could you consider the following from docs point of view?

**Clarify the behavior**
Graceful shutdown is [essential ](https://12factor.net/disposability)for maximizing robustness. If Azure App Service/Functions on docker would not send signals when stop/restart, docs should describe as a limitation. If I understood

[2021-03-27 00:28] GiftA-MSFT commented on #72688
@trevorbye please review above feedback for doc enhancement. Thanks.

[2021-03-27 00:32] NavtejSaini-MSFT commented on #72540
@codemaker Glad we could help. We will go ahead and close the issue for now. If you have any questions, please get back to us.

[2021-03-27 00:32] #72540 closed

[2021-03-27 00:35] NavtejSaini-MSFT commented on #72741
@timsander1 Can you please here.

[2021-03-27 00:36] NavtejSaini-MSFT commented on #72760
@SnehaGunda Thank you for the guidance here.
@vikasgoyal We are going ahead and closing this question. If you have any other, please get back to us.

[2021-03-27 00:36] #72760 closed

[2021-03-27 00:39] Karishma-Tiwari-MSFT commented on #72546
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live after author review.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-03-27 00:39] #72546 closed

[2021-03-27 01:24] lukedbarton opened #72871 "I dont think the manual steps are clear enough"
[Enter feedback here]

SPN: "cifs/your-storage-account-name-here.file.core.windows.net" Password: Kerberos key for your storage account.
This command isnt clear enough for myself to execute, does this mean I need to create a spn using the setspn command then I need to set the computer account password using the Set-ADAccountPassword command?

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-27 01:29] Karishma-Tiwari-MSFT commented on #72557
I couldn't find any documentation with ARM examples, I will share this feedback with the Product team.
Meanwhile, I found another article on

[2021-03-27 01:29] #72557 closed

[2021-03-27 02:40] #72134 closed

[2021-03-27 02:41] MoneyMan573 commented on #72134
Thank you, all!
  I appreciate everyone's support and feedback.  I am still trying to recover everything.  It is getting there.

[2021-03-27 03:12] BryanTrach-MSFT commented on #72284
@dd09 The doc that you filed the feedback under appears to be about iOS. Can you please share the URL of the doc that you are referring to so we can investigate it further?

We look forward to your reply.

[2021-03-27 03:14] BryanTrach-MSFT commented on #72460
@jkatebin We have reviewed the feedback and feel it would be best reviewed by the doc author going forward. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-27 03:49] TheGoodNEvil opened #72873 "The "pip install" command isn't finding the package"
[The "pip install" command isn't finding the package]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641aef05-1d16-ba0d-fb48-1527583a860d
* Version Independent ID: 2ca9c55d-56a7-ec67-80da-7c0337316245
* Content: [Quickstart - Manage Phone Numbers using Azure Communication Services](https://docs.microsoft.com/en-us/azur

[2021-03-27 04:00] rboucher commented on #72770
Done. #please-close

[2021-03-27 04:00] #72770 closed

[2021-03-27 04:01] rboucher commented on #72770
Public update to the article will occur by Monday morning 11 am Pacific time.

[2021-03-27 04:15] VicSmith commented on #71592
To wrap up this issue, I followed all the instructions to set up Service Identity for the App Service on the App Config.
What is missing:  I had Global Administrators in my AD for Azure that were NOT native Azure AD users.  They were personal accounts or other work accounts (microsoft 365).  None of those users worked when used in Visual Studio.  All other Azure related work was fine over the year

[2021-03-27 04:15] #71592 closed

[2021-03-27 04:17] VicSmith commented on #71592
For future readers... AZURE_TENANT_ID was not needed as an environment variable.
See:
https://github.com/MicrosoftDocs/azure-docs/issues/71592#issuecomment-808646566

[2021-03-27 04:21] VicSmith commented on #72845
see:

https://github.com/Azure/AppConfiguration/issues/421#issuecomment-723330218
And:
https://github.com/MicrosoftDocs/azure-docs/issues/71592#issuecomment-808646566

[2021-03-27 04:21] #72845 closed

[2021-03-27 04:22] rboucher commented on #44112
@ofirmanor Can you speak to this please?

[2021-03-27 05:30] lgayhardt commented on #71730
Closing this issue for now since the portal experience is close to being released and the doc will be update anyways with the new information.

Thank you for your patience.

#please-close

[2021-03-27 05:30] #71730 closed

[2021-03-27 06:02] YutongTie-MSFT commented on #72855
@vimeht Hello, may I close this if this is only testing?

[2021-03-27 06:18] lgayhardt commented on #71629
Closing this issue for now since a new version is close to being released and the doc will be update anyways with the new information ( in which @MS-jgol will consider your feedback when making the updates =D ) @Josh-Kewley-BC let us know if you have any additional questions.

Thank you for your patience.

#please-close

[2021-03-27 06:18] #71629 closed

[2021-03-27 06:19] lgayhardt commented on #70328
Let us know if you have any additional questions. =)

#please-close

[2021-03-27 06:25] lgayhardt commented on #65627
@SenthuranSivananthan  Let know us know if you have any additional questions or feedback. We will take your suggestion into account and talk about it with the team. Closing this issue for now.

Thank you!

#please-close

[2021-03-27 06:25] #65627 closed

[2021-03-27 06:44] lgayhardt commented on #54389
@kiwiant Thanks for bring this to our attention. I updated the Status Monitor v2 troubleshooting doc to reflect what people need to add to their ApplicationInsights.config file for SQL collection. The change should go live later this weekend.

Thanks again
#please-close

[2021-03-27 06:44] #54389 closed

[2021-03-27 06:55] lgayhardt commented on #62698
Thanks @cijothomas. I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1830416) for this.

#please-close

[2021-03-27 06:55] #62698 closed

[2021-03-27 06:59] lgayhardt commented on #30986
Closing this issue for now since an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1709909) has already been created and is on our backlog. Will update this thread when the work is completed. Thank you for your patience.

#please-close

[2021-03-27 06:59] #30986 closed

[2021-03-27 07:03] lgayhardt commented on #64031
Thank you for helping us to improve the docs. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1830417) internally and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-03-27 07:03] #64031 closed

[2021-03-27 07:08] YutongTie-MSFT commented on #72859
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-27 07:10] YutongTie-MSFT commented on #72871
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@roygara Hello, could you please check on this issue? Thanks.

[2021-03-27 07:12] YutongTie-MSFT commented on #72861
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 07:13] lgayhardt commented on #72364
@jun110 Thanks for catching this! The doc was updated about 5 days ago with the correct supporting versions:

"* .NET Core and ASP.NET Core applications running .NET Core 2.1 (LTS) or 3.1 (LTS) on Windows.
* .NET 5.0 applications on Windows.

We don't recommend using .NET Core 2.0, 2.2 or 3.0 since they are out of support."

Thank you!

#please-close

[2021-03-27 07:13] #72364 closed

[2021-03-27 07:14] YutongTie-MSFT commented on #72873
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-27 07:16] YutongTie-MSFT commented on #72863
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 07:17] YutongTie-MSFT commented on #72864
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 07:19] YutongTie-MSFT commented on #72866
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nehsin Hello Neha, could you please check on this issue and update the document? Thanks.

[2021-03-27 07:36] imamahmadrazatrustadmin opened #72876 "How to change default setting from warning as error to false in below yml file?"
[Enter feedback here]

My react build got failed with error because by default it set as "Treating warnings as errors because process.env.CI = true." Below is my yml file.

Can you please help me where to overwrite the setting to disable it?

`name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:

[2021-03-27 09:57] ananthasivanvk opened #72877 "Can I make use of the Xamarin Forms Sample for Azure AD B2C for Azure AD B2B collaboration?"
Can I make use of the Xamarin Sample [Integrate Azure AD B2C into a Xamarin forms app using MSAL](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native)  for Azure AD B2B?

or

Is there a Xamarin Forms sample available specifically for Azure AD B2B?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-

[2021-03-27 10:07] KalyanChanumolu-MSFT commented on #72754
Its been a while we heard from you.
We will proceed to close this issue now.
If you need further assistance, please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility.

[2021-03-27 10:07] #72754 closed

[2021-03-27 10:53] hhasanmd opened #72878 "2nd point in the Restriction has been mentioned twice rather duplicated."
Restrictions
For now, customer-managed keys have the following restrictions:

If this feature is enabled for your disk, you cannot disable it. If you need to work around this, you must copy all the data to an entirely different managed disk that isn't using customer-managed keys:

For Linux: Copy a managed disk

For Windows: Copy a managed disk

Only software and HSM RSA keys of sizes 2,048-bit, 3

[2021-03-27 12:17] CarlosAugustoDeSouzaJunior opened #72879 "The BluePrint Portal is Borken"
https://servicetrust.microsoft.com/ViewPage/BlueprintOverview/
Error

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692b2097-29ee-38da-1db5-109ee69de93b
* Version Independent ID: eef42aae-39f8-4960-eed4-c21f9ffb157a
* Content: [Security compliance with Azure Policy and Azure Blueprints](https://d