[2022-06-12 19:51] #93747 closed

[2022-06-12 21:06] #93980 closed

[2022-06-12 21:08] RyanHill-MSFT commented on #93980
I've updated the doc to reference the application insights connection string doc @jspaith. Thanks for the feedback.

[2022-06-12 21:09] JamesTran-MSFT commented on #94264
@xtianus79
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-12 21:49] mohanM5k opened #94267 "why do we need backup and restore?"
You could also mention in this article that the entire instance can be exported in the YAML file and place it code repo, which will act as back up and restore. Advantages and disadvantages of backup in code repo vs azure file storage?
And also why we need Backup and restore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-06-12 22:43] RyanHill-MSFT commented on #94155
There's a pending PR to correct that description.

[2022-06-12 22:52] #94155 closed

[2022-06-13 00:49] JamesTran-MSFT commented on #94267
@mohanM5k
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-13 01:46] hazeljin1 commented on #93749
@shashishailaj Hope you are doing well!
May I know if there is any new progress on this Change Request item?

[2022-06-13 01:58] Madhufuture opened #94270 "Deploy APIM Policy Fragment using Bicep template"
How should we deploy Policy Fragment in APIM using Azure pipelines? I don't see much documentation/sample around it.

 I tried below example

[code]

But the pipeline has thrown below error
[code]
We have multiple APIM Products, and each product is associated with a Policy. Certain blocks of policy are repeated in multiple products. Wanted to extract them as Fragment and reuse them in Product poli

[2022-06-13 02:57] rui-hi opened #94271 "Archive tier and append blob redundancy"
[Enter feedback here]
Hi Team,

I would like you to review these sections for zone redundancy.
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#standard-storage-accounts
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#geo-zone-redundant-storage
![image](https://user-images.githubusercontent.com/107377167/173270148-50cb1626-9a86-432b-803e-a3dd8c670fe

[2022-06-13 03:05] JananiRamesh-MSFT commented on #93950
Hi Xuejun,

Yes, that is exactly correct we need to add this note in the document

Regards,
Janani.

From: Xuejun-MSFT ***@***.***>
Sent: Saturday, June 11, 2022 6:08 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Janani R ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The sample to use system identity to grant access policy for the API Management instance from Azure

[2022-06-13 03:10] JananiRamesh-MSFT commented on #93950
Janani R would like to recall the message, "[MicrosoftDocs/azure-docs] The sample to use system identity to grant access policy for the API Management instance from Azure Key Vault is not working (Issue #93950)".

[2022-06-13 03:17] barkhabhatia opened #94272 "How can we update this page, since we are currently working on building some new UIs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6ca
* Version Independent ID: 1d3d0543-89f7-180a-e52a-b5668a314e6a
* Content: [Tutorial: Azure AD SSO integration with Zendesk - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/zendes

[2022-06-13 03:19] JananiRamesh-MSFT commented on #93950
@rachelxj-ms that is exactly correct we will be adding the note in the document.

[2022-06-13 03:38] shwetamathur7 commented on #94272
@barkhabhatia Thanks for the feedback. Could you please provide more details like what information you want to update in this page.

We will verify that information and update the page accordingly.

[2022-06-13 03:38] yukurash opened #94273 "Add how to add "Out-of-process" Service Bus extension package"
[Enter feedback here]
In this session 3., it is written that you need to add package which supports managed identities.
![image](https://user-images.githubusercontent.com/68846110/173274786-abaeb496-022c-4cbb-864b-d459afe82c37.png)

However, "Microsoft.Azure.WebJobs.Extensions.ServiceBus" is "Isolated process". If users are using "Out-of-process" apps, they should add "Microsoft.Azure.Functions.Wo

[2022-06-13 03:43] SumanthMarigowda commented on #94271
@rui-hi Thanks for the question! We are investigating and will update you shortly.

[2022-06-13 03:44] #93730 closed

[2022-06-13 03:53] SumanthMarigowda commented on #92969
@shendan19880215 Article has been updated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-13 03:53] #92969 closed

[2022-06-13 03:54] SumanthMarigowda commented on #93103
@dooleydo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-13 03:54] #93103 closed

[2022-06-13 04:06] SwathiDhanwada-MSFT commented on #94008
@Michaelvsk Thanks for your feedback.

Assigning to content author @ofirmanor   for review.

[2022-06-13 04:20] ggailey777 commented on #94273
Thanks @yukurash for the feedback. This article hasn't yet been updated to support C# running in an isolated process. I'm not sure that the isolated process package you indicate is yet supporting managed identities. Did it work for you?

[2022-06-13 04:33] moarychan opened #94274 "Missing the error code AADB2C99027"
[Enter feedback here]
I can not find any exception description for exception code `AADB2C99027`.

The full exception message is below:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd9c64ff-5065-9a2b-4965-c48685482fe1
* Version Independent ID: 3ff9871f-d28d-b752-750e-1142556ec8cb
* Content: [Error code referenc

[2022-06-13 04:48] moarychan opened #94275 "Does Azure AD B2C also apply the same assertion format as Azure AD"
[Enter feedback here]
I want to know whether this assertion format is also suitable for Azure AD B2C service, please help provide some reference doc if exists.

I think this content [OAuth 2.0 authorization code flow in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow) should be updated about the JWT Client Authentication.

Related iss

[2022-06-13 05:01] SadiqhAhmed-MSFT commented on #94244
@bandersmsft FYI

[2022-06-13 05:07] SadiqhAhmed-MSFT commented on #94095
@giovannifl We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-06-13 05:07] #94095 closed

[2022-06-13 05:10] Harsha-CS commented on #94164
@Sharmistha-Rai who owns this

[2022-06-13 05:11] Sharmistha-Rai commented on #94164
@giovannifl - we will check this and get the content updated.

[2022-06-13 05:14] amanmcse commented on #94274
@moarychan Thank you for your feedback. We will investigate and update the thread further.

[2022-06-13 06:07] Venkateshdodda-MSFT commented on #94075
@sumner804, since we didn't hear from you, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-13 06:07] #94075 closed

[2022-06-13 06:12] quekmc opened #94276 "Redundancy Options error"
In the table with the columns "Redundancy options" and "Regions", it lists France Central Region as having two availability zones.  This is incorrect as France Central has three availability zones.  Have tried it out using the Azure Portal and it is possible to select the Ultra Disk in the "Create and attaching a new Disk" section under the "Disk" tab when choosing all 3 availability zones after t

[2022-06-13 06:21] CHEEKATLAPRADEEP-MSFT commented on #94184
@Kunwilshire Thanks for bringing this to our attention.

We are working with internal team to fix this issue and will get back to you as soon as we have an update.

[2022-06-13 06:24] XiaoYue2-22 opened #94277 "memeory mismatch between API response and official document for M-series VM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 214d459e-48c9-9a8f-65f0-0febb5c5b215
* Version Independent ID: e0ad25f2-56c2-db86-1919-52dcfea33e4c
* Content: [M-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/m-series)
* Content Source: [articles/virtual-ma

[2022-06-13 06:30] AlfonsDreschler opened #94278 "Please add a warning Hystrix/ Hystrix Dashboard EOL"
Hystrix Dashboard appears to be EOL for about 5 years, yet this page has been recently updated. I would recommend putting a warning on top of this page that Hystrix dashboard is not supported anymore.

https://github.com/Netflix/Hystrix
_Hystrix is no longer in active development, and is currently in maintenance mode._

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-06-13 06:35] bmansheim commented on #93749
Hi @hazeljin1 . I'm looking into it. I need to make sure that the relevant product manager is involved. I'll update soon.

[2022-06-13 06:46] SreejaBhattacharya-MSFT commented on #94277
@XiaoYue2-22 ,
Thanks for reaching out. I am looking into this and will update you. Thanks.

[2022-06-13 06:49] stan-sz opened #94279 "Provide cloud name values for all supported clouds in the docs"
Provide example value of the `environment()` function (specifically the `name` property) for all supported clouds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b99c507-4598-544c-aa4c-3b22d2315d3c
* Version Independent ID: adadc545-61bb-7423-4a8d-779edf43691e
* Content: [Bicep functions - deployment - Azure Resource

[2022-06-13 07:03] drtomasso opened #94280 "Missing command"
Configure Azure AD SSO, step 4c is wrong (missing `saml` in URL), should be `https://<FortiGate IP or FQDN address>:<Custom SSL VPN port>/remote/saml/login`

Complete FortiGate command-line configuration, step 2, commands for adding azure saml user is missing `set idp-single-sign-on-url`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-06-13 07:14] saurabhvartak1982 opened #94281 "aks-preview extension is needed"
Hello,

For recognizing the **--outbound-type** for **managedNATGateway**  OR **userAssignedNATGateway** ,  an **aks-preview** extension is needed and the same needs to be mentioned in the document as a pre-requisite.

Also, since the NAT Gateway integration is now GA, should the **--outbound-type** for **managedNATGateway**  OR **userAssignedNATGateway** be still made available as a part of **aks

[2022-06-13 07:16] SumanthMarigowda commented on #94276
@quekmc Thanks for the question! We are investigating and will update you shortly.

[2022-06-13 07:20] ayushiaks opened #94282 "ARM Template/Portal Changes for CNI's Dynamic Support"
Don't we have a way to make the changes for CNI's dynamic support through Azure portal/ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-4a9b969a3ade
* Content: [Configure Azure CNI networking in Azure Kubernetes Service

[2022-06-13 07:53] BakkerJan commented on #91157
@shashishailaj @weyCC81 Any update on this? I'm having the same issue.

[2022-06-13 08:12] TahaMdarhriExakis commented on #94039
For the child device :
![image](https://user-images.githubusercontent.com/105916727/173308348-9ba9c07f-a1f9-437f-900b-44949ad1949b.png)

For the parent device :
![image](https://user-images.githubusercontent.com/105916727/173309277-af7f7160-4792-4417-8de5-2625314da7bd.png)

Thanks for lookinf into this !

[2022-06-13 08:19] PriyankaRudramaina commented on #94281
@saurabhvartak1982
Thank you for your feedback. We will investigate and update the thread further.

[2022-06-13 08:20] PriyankaRudramaina commented on #94282
@ayushiaks,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-13 08:21] abdinegoro opened #94283 "CallGraphAPI doesn't work"
The CallGraphAPI function doesn't work, instantiation of IAuthenticationProvider produces the following override and not the one you mentioned in the tutorial
The one I got from Graph 5.6 is :
new IAuthenticationProvider() {
                    @Override
                    public CompletableFuture<String> getAuthorizationTokenAsync(URL requestUrl) {
                        return null;

[2022-06-13 08:27] SwathiDhanwada-MSFT commented on #94279
@stan-sz Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-13 08:37] george-kuanli-peng commented on #93665
I have the same problem today.

Additionally, the Python-SDK code in the *[Write data in a job](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-read-write-data-v2?tabs=Python-SDK#write-data-in-a-job)* section does not have a line to create the `ml_client` instance; it uses the variable directly without definition.

[2022-06-13 08:42] shwetamathur7 commented on #94280
@drtomasso Thanks for your feedback. We will investigate and update the thread.

[2022-06-13 08:44] shwetamathur7 commented on #94283
@abdinegoro Thanks for your feedback. We will investigate and update the thread.

[2022-06-13 08:52] timoklimmer commented on #94151
@RohitMungi-MSFT @shivanissambare The provided link does not describe what I am looking for. I want to debug the score.py with the score.py run in AML Inference HTTP Server. The article says it's possible, but then the "How to Integrate with VS.Code" section does not sufficiently explain how to do it. Unfortunately, the Docker container approach is too slow, so I have to use the AML Inference HTTP

[2022-06-13 08:53] rockboyfor commented on #91658
@Grace-MacJones-MSFT,

Could you please share any schedule for updating the following articles when necessary?

**articles/active-directory/hybrid/how-to-connect-install-prerequisites.md
articles/active-directory/hybrid/tshoot-connect-connectivity.md**

The customer are eager to find the resolution for corresponding content .

Best Regards,
Edward Chen

[2022-06-13 08:55] AlexcFrench commented on #94077
OK thank you - could you update the documentation to clarify this please?
i.e. "For ASR to ensure that accelerated networking is on the destination
VM it MUST be enabled on the source VM"

On Wed, 8 Jun 2022 at 11:41, Sharmistha Rai ***@***.***>
wrote:

[2022-06-13 09:03] AjayKumar-MSFT commented on #94123
imorrish, We had followed-up on this internally and the team is looking into this - https://github.com/Azure/azure-powershell/issues/15039

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.
We can continue our discussion on [azure-powershell repo](https://github.com/Azure/azure-powershell/issues/15039 ).

[2022-06-13 09:05] Vikram1988 commented on #93506
@ganniaiuei I have updated the aka.ms link to point to the right download link now so you wouldn't have this issue henceforth

[2022-06-13 09:19] Vikram1988 commented on #94034
@cwestwater The issue has now been resolved. Please check and confirm

[2022-06-13 09:32] ganniaiuei commented on #93506
Thank you @Vikram1988.
I would ask you one last thing. Was the file that one can download from the previous link a safe ova or not ? because I’ve downloaded it and installed it.

[2022-06-13 09:41] Givary commented on #94140
@Nicholak-MS Yes, right remove these entries from this article/section https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference#service-dynamics-crm:~:text=Service%3A%20Dynamics%20CRM
DYN365_ENTERPRISE_CUSTOMER_SERVICE 99340b49-fb81-4b1e-976b-8f2ae8e9394f
DYN365_ENTERPRISE_P1 d56f3deb-50d8-465a-bedb-f079817ccac1

[2022-06-13 10:04] ayushiaks commented on #94282
I'm guessing this is it:

[code]

Can the doc make it more clear? Makes it very difficult to find it out

[2022-06-13 10:08] maximilianluc opened #94286 "azureml-monitoring in preview or not?"
[Enter feedback here]

Hi,

Is the azureml-monitoring package (for data collection specifically) in preview? The docs don't specify this (in a clear way). In PyPi, the latest release was in 2020, and that being the alpha version https://pypi.org/project/azureml-monitoring/.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-06-13 11:00] GeethaThatipatri-MSFT commented on #93777
Thanks, @code-sidd  for adding the links

[2022-06-13 11:05] GeethaThatipatri-MSFT commented on #93777
Hi, @HitenBhavsarMSFT as per @code-siddlinks are added, We will now proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.
Thanks again for your findings which help in improving our documents.

[2022-06-13 11:05] #93777 closed

[2022-06-13 11:09] ciufudean opened #94288 "What is "Total aggregation"?"
This page says with respect to metric `TotalRequestUnits`, "use Total aggregation at minute and divide by 60".
What aggregation is `Total`? `Sum`? Should "at minute" be written as "at minute level"? (Note that I am not an En native speaker)
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83be8d0a-348a-303a-6424-4

[2022-06-13 11:28] ciufudean opened #94289 "Total Request Units is not throughput"
This page introduces confusion bw _Total Request Units_ and _throughput_.
Request Units is a cost, much like Total Requests and not throughput.
See the below quote.

The second ambiguity is about the aggregation of this metric: The aggregation type needs to be specified as an `avg` over one minute is all too different than a `max`. I suppose in this case it is `Count `as defined [here](https://doc

[2022-06-13 11:48] GitaraniSharma-MSFT commented on #94261
@youkhi , thank you for bringing this to our notice. Looks like the portal UI has changed and this doc has a older model mentioned as below:

![image](https://user-images.githubusercontent.com/67630903/173346677-c2322ebc-146f-476c-b3a4-f5a13ba72942.png)

Which is no longer available.

The new way to connect a VPN site to a virtual hub is as below:

![image](https://user-images.githubusercontent.co

[2022-06-13 11:49] AnuragSharma-MSFT commented on #94288
@ciufudean Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-13 11:50] AnuragSharma-MSFT commented on #94289
@ciufudean Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-13 12:23] serverbaba opened #94290 "Spelling Error"
[Enter feedback here]

There is a spelling error. It reads "files hare" instead of "file share". Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d07acc7-3a8c-13f9-abf7-f7effb7700f2
* Version Independent ID: c236823a-06c3-2803-9cde-5dc5cc95059f
* Content: [Tutorial: Migrate SQL Server to Azure SQL Managed Ins

[2022-06-13 12:38] matthewjward opened #94291 "More detail requested"
Would it be possible to get more detail or an example for the below?

I am unsure what the 'second "sign-in" HTML page is.

Thanks

//

Configure a single-page application

For a single-page application, you'll also need to a second "sign-in" HTML page that loads into the iframe. This sign-in page hosts the authentication library code that generates the authorization code and returns the token.bac

[2022-06-13 12:38] ciufudean opened #94292 "Metric requestCharge: is it cost or throughput?"
Both can be inferred from this page:

throughput:
_requestCharge ... The number of RU/s that are used by the operation_

cost:
_MongoRequestCharge ... Mongo Request Units Consumed_

Sounds like a confusion bw RUs (plural) and RU/s (per second).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83be8d0a-348a-303a-6424-401b

[2022-06-13 12:46] v-ksreedevan commented on #92717
Hi @bhpat,

This change was worked on as part of another PR and the doc update is available at https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-vmware#prepare-an-azure-user-account. Hence, closing the issue.

Thanks!

#please-close

[2022-06-13 12:46] #92717 closed

[2022-06-13 12:48] rob-davis-tccs opened #94294 "UI of current extension is vastly different from what is presented in this page"
UI of current extension is vastly different from what is presented in this page. My VS Code lists it as Azure Functions 1.73

Cannot follow the steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ac735e-3c90-8ba4-2d19-55099d03a1e4
* Version Independent ID: c3b1b510-641b-2cfb-e414-8d8b068de9e6
* Content: [Develop Azu

[2022-06-13 13:16] nemobis opened #94296 "Recreating Linux VM without temp disk withough going through snapshots"
The page advises that, due to potential issues in Windows hosts, even on Linux hosts it is forbidden to directly convert from an instance type with a temporary disk to an instance type without. The temp disk is often `/dev/disk/cloud/azure_resource-part1` mounted on `/mnt`.

To manually work around the limitation, the page suggests to create a snapshot of the disks and recreate the VM manually int

[2022-06-13 13:34] seesharprun commented on #94289
#assign:seesharprun

Hello @ciufudean! The term throughput is purposefully used here as request units are commonly referred to as the "currency of throughput" in Azure Cosmos DB. In the screenshots and text, it's indicated that total RUs is being integrated on a time interval, which fits the definition of throughput for Azure Cosmos DB.

At this time, I don't believe there are any action items to

[2022-06-13 13:34] #94289 closed

[2022-06-13 13:35] nagendramishr opened #94297 "Query to get the users objectID is no longer valid"
# Azure documentation issue guidance

URL:  https://docs.microsoft.com/en-us/azure/azure-functions/functions-identity-access-azure-sql-with-managed-identity

The query should be updated to reflect the latest schema.. The query returns the following text:

This command or command group has been migrated to Microsoft Graph API. Please carefully review all breaking changes introduced
during this migr

[2022-06-13 13:37] seesharprun commented on #94292
#assign:seesharprun

Hello @ciufudean!

You are correct! The request charge header is the amount of RU currency used by a specific operation. RU/s measures the total amount of RUs available in a time interval.

We have a change queued that will be released shortly. Thank you for your feedback!

[2022-06-13 13:41] seesharprun commented on #94288
Hello @ciufudean!

Thank you for your feedback! The language recommendations you made will make this article clearer.

We have an update to this article "in the pipeline" and it should be live soon. I will close this issue soon.

[2022-06-13 13:43] lauradolan commented on #94174
@danbrooks-kr Per the product team, the SKUs below 208 are on this page: https://docs.microsoft.com/en-us/azure/virtual-machines/msv2-mdsv2-series. Does that page contain the information you were looking for?

[2022-06-13 13:44] seesharprun commented on #93792
Hello @nc71!

There seems to be an issue with the URL for the "Try Azure Cosmos DB Free" page that's affecting multiple areas, not just this documentation article.

We are investigating this elsewhere, so I will close the docs bug since there's not much we can do on the documentation side.

Thanks for bringing this to our attention!

#please-close

[2022-06-13 13:44] #93792 closed

[2022-06-13 13:45] seesharprun commented on #93670
Hi @helloyesthisisdave!

Since this is being tracked by the engineering team, I'm going to go ahead and close this docs issue. If you have further questions about the functionality of Azure Cosmos DB. I recommend visiting the [Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html).

#please-close

[2022-06-13 13:45] #93670 closed

[2022-06-13 13:46] #94292 closed

[2022-06-13 13:50] #94288 closed

[2022-06-13 14:02] lauradolan commented on #94277
I've passed this along to the product team to review

[2022-06-13 14:08] sananoorani commented on #93797
No, we do not need to change the URLs, as they are still unchanged. Thanks for asking.

[2022-06-13 14:29] GeethaThatipatri-MSFT commented on #94290
Hi @serverbaba Thanks for your findings,We will investigate and update as appropriate

[2022-06-13 14:39] shwetamathur7 commented on #94280
@drtomasso Thanks for your contribution to enhance the documentation. I have updated the document and sent the changes for approval.

[2022-06-13 14:45] mike-urnun-msft commented on #94294
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-13 14:46] ggailey777 commented on #94294
Thanks for letting us know. Updates are currently underway.

[2022-06-13 14:51] rothja commented on #82153
Apologies on the long delay for this issue. @MashaMSFT Masha, could you please take a look at this issue when you get a chance and involve others as needed to see if this article needs work? I know we have other plans to refresh the articles in Azure SQL, so I don't know if that would be covered with that work. Thank you! #reassign:mashamsft

[2022-06-13 14:51] zaalion opened #94299 "Blueprint parameters are missing from the definition"
[Enter feedback here]
Hello,

We defined several Blueprint parameters in the blueprint.json, and used Import-AzBlueprintWithArtifact to deploy the blueprint. After publishing the new version, 3 of the parameters are missing from the Blueprint definition in the portal. The blueprint.json file is valid. Any idea why the parameters are missing?

Thanks

---
#### Document Details

⚠ *Do not edit this

[2022-06-13 14:52] Carcamo-ben commented on #85521
Why was this issue closed? Same error still happening 6 months later...

[2022-06-13 14:56] esha0611 commented on #88258
Feedback has been addressed and content is corrected.

#please-close

[2022-06-13 14:56] #88258 closed

[2022-06-13 15:14] kobulloc-MSFT commented on #94296
@nemobis Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-13 15:27] PiKappZ746 opened #94302 "What role(s) are allowed to unblock MFA for a user?"
There doesn't seem to be any documentation about what role(s) are allowed to unblock users from MFA. This needs to be documented as currently Authentication Administrators cannot do this.  It seems only Global Administrators have this right. Can someone please confirm and document what roles should be able to unblock user MFA?

https://docs.microsoft.com/en-us/azure/active-directory/authentication

[2022-06-13 15:27] Strahosi commented on #94257
@MayankBargali , Hello,
hope you are doing good . Any update on this ? Thank you

[2022-06-13 15:42] Carcamo-ben opened #94304 "Unable to serialize value #85521 not solved"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-06-13 15:42] DougPetrole opened #94305 "Update request for new publishing options"
Hello Team,

There are new options within the Properties section of a SaaS offer that aren't documented here:

- Apps
- Microsoft Clouds for Industry

Does selecting Apps make you available from a storefront within the Office suite apps?

What requirements are in place for certifying for Microsoft Clouds for Industry? It's a selection here that references outside requirements and it would be good

[2022-06-13 15:54] johnmreynolds opened #94307 "Further information needed for a solution for dbutils expiry"
The solution presented here isn't really a solution; it just repeats that this doesn't work.

It really could do with suggesting some alternatives. Presumably one could use the Azure Key Vault API directly, but the documentation is rather thin on whether this would work as expected from databricks or resolve this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-06-13 16:01] JamesTran-MSFT commented on #94291
@matthewjward
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-13 16:10] Givary commented on #94302
@PiKappZ746  Thanks for your feedback. We will investigate and update as appropriate.

[2022-06-13 16:15] duongau commented on #91820
@GavinJin88 I wanted to check back with you to see if you're still experiencing this particular issue?

[2022-06-13 16:21] ronortloff commented on #94217
Hi @collinbarrett

I would not recommend doing a blanket flip of all small tables to replicated distribution.  Focus on tables that are generating a lot of data movement.

If you need table sizes in tabular form check out:
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-overview#table-size-queries

[2022-06-13 16:22] bandersmsft commented on #94244
@Jenny-Chiu I'll verify with the Billing engineering team and then update the article accordingly. Thanks

[2022-06-13 16:26] MonikaReddy-MSFT commented on #93933
@kongou-ae  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-13 16:26] duongau commented on #55620
@awentzel I apologize no one has responded to this request of yours. Azure Front Door has been redesigned with the release of the newer tiers. Has this problem persist since then? I would like to work with you on resolving this issue if it still remains for you.

[2022-06-13 16:28] mrbullwinkle commented on #85521
This is addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/201367 The change is merged and will go-live during the next publishing run.

[2022-06-13 16:29] MonikaReddy-MSFT commented on #94078
@paololec - Apologies for the delay in response. I have reached out to Product team and awaiting their response. I will get back to you as soon as we hear back from them.

[2022-06-13 16:30] MonikaReddy-MSFT commented on #94160
@engwah -  Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-06-13 16:30] #94160 closed

[2022-06-13 16:34] mmacy commented on #94283
@abdinegoro Thanks for the report! Labeling as __doc-bug__ to get this one prioritized.

#reassign:mmacy
#label:doc-bug
#label:usability-accuracy

[2022-06-13 16:34] mmacy commented on #94283
#label:doc-bug
#label:usability-accuracy

[2022-06-13 16:36] mmacy commented on #94283
#label:"usability-accuracy"

[2022-06-13 16:42] duongau commented on #67813
@rachelxj-ms The name ASLBSA and ASLBSACORS stands for "Azure Software Load Balancer Session Affinity" and "Azure Software Load Balancer Session Affinity Cross Origin Resource Sharing".  Please let me know if you have any further questions, for now I will be archiving this issue. Thank you! #please-close

#reassign: duongau

[2022-06-13 16:42] #67813 closed

[2022-06-13 16:47] kamilzzz opened #94310 "Understanding autoscaled Application Gateway"
I don't quite understand how autoscaled v2 Application Gateway behaves after reading this article.

From one hand it says:

But shortly after:

From the docs I understand 1 instance of application gateway can provide roughly 10 capacity units.
But what happens when I create autoscaled Application Gateway with minimum instance count of 0?

Even if Application Gateway will be completely idle for who

[2022-06-13 16:58] duongau commented on #60794
#reassign: duongau

[2022-06-13 16:59] duongau commented on #60794
@KeithDarragh1 Thank you for your suggestions on this section of the article. I have made the following updates to it in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/201376. Please feel free to comment back if you would like me to include anything else. For now I will be archiving this issue. Cheers! #please-close

[2022-06-13 16:59] #60794 closed

[2022-06-13 17:10] meenasaravanan02 commented on #46498
Hi @kamilk, Could you please follow @tomvcassidy's suggestion in the comment above.  If you still have problems, could you open another issue? We will be closing this one for tracking purposes.  Thanks!
#please-close this issue

[2022-06-13 17:10] #46498 closed

[2022-06-13 17:12] avandras commented on #93751
Thanks for checking - this indeed explains a few surprising things around the documentation :D  and the new version looks fine to me.

[2022-06-13 17:24] ENT56 opened #94312 "Need clarity on behavior when updating dynamic queries for large licensing groups"
It may take a significant amount of time for licensing groups with dynamic membership to update their memberships after a query change.  Depending on how the change is processed, and how long it takes to rebuild membership, this could result in a loss of license/service and bounced email for affected users.

How will updating dynamic user group queries will affect membership and licensing assuming

[2022-06-13 17:32] cynthn commented on #89057
#please-close Support is in progress. The article will be updated when support for 2022 is confirmed. In the meantime, I'm going to close out this issue. Thank you!

[2022-06-13 17:32] #89057 closed

[2022-06-13 17:40] #50829 closed

[2022-06-13 17:44] ecfan commented on #94245
Thanks @abatishchev, the doc just hasn't been updated. We'll get the table filled out.

[2022-06-13 17:45] YutongTie-MSFT commented on #94190
@aahill Hello, could you please check on this issue and update the document if needed? Thanks.

[2022-06-13 17:45] PriyankaRudramaina commented on #94257
@Strahosi

This is in preview, and I am checking internally on this, please stand by while I get back

[2022-06-13 17:48] mike-urnun-msft commented on #94297
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-13 18:11] ZollnerdMSFT commented on #94189
Hi - I'm a product manager here at Microsoft and work on our SCIM client and provisioning service. We've looked into this and things are working as expected both by our design and by the requirements of the spec. Key things to call out:

1) The test credentials action you initially reference is a GET - there is no body to the request, therefore no content-type header is required
2) The SCIM protoc

[2022-06-13 18:14] #91145 closed

[2022-06-13 18:17] KranthiPakala-MSFT commented on #94249
@abbgrade Thanks for leveraging Azure docs feedback channel to raise this question. Please refer to this doc to explore about storing credentials in Azure Key Vault and using it in ADF linked services https://docs.microsoft.com/en-us/azure/data-factory/store-credentials-in-key-vault

 This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-06-13 18:17] #94249 closed

[2022-06-13 18:27] #94245 closed

[2022-06-13 18:28] ecfan commented on #94245
@abatishchev: The doc update should go live after 4 PM Pacific Time, thanks!

[2022-06-13 18:34] KranthiPakala-MSFT commented on #94307
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-13 18:50] kgremban commented on #93932
@JimacoMS4 can you take over this issue to clarify the doc?

[2022-06-13 18:52] esha0611 commented on #71520
Issue fixed

#please-close

[2022-06-13 18:52] #71520 closed

[2022-06-13 18:55] JimacoMS4 commented on #93932
#reassign @JimacoMS4

[2022-06-13 19:04] bsladania opened #94314 "Typo"
[Enter feedback here]

It should be 'your' instead of 'you'.

"**If you data** or the clients are placed in multiple regions, you can create separate workspaces in different regions co-located with your data and clients."

![image](https://user-images.githubusercontent.com/45115140/173425882-03362e8a-df86-456e-be65-7c4d5e822b34.png)

---
#### Document details

⚠ *Do not edit this section. It is re

[2022-06-13 19:11] ChaitanyaNaykodi-MSFT commented on #94310
Thank you for your feedback! We will review and update as appropriate.

[2022-06-13 19:21] spadeki opened #94316 "Creating a storage account for an Azure Files mount is not made explicit enough in docs"
When creating a container app then a fundamental requirement will be to have a shared mount container configuration information (e.g. DB connection string) that all containers need to access when initialised.
I understand from the documentation I need an Azure Files fileshare and a pre-requisite to create one is a storage account but when I go to create a storage account there are a plethora of op

[2022-06-13 19:32] collinbarrett commented on #94217
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-overview#table-size-queries

Thanks! This was immensely helpful. The "Table space summary" query in particular provided some very useful info.

We are building out a greenfield reporting warehouse, so we are deciding on some initial table design decisions (as opposed to deciding whether to flip ex

[2022-06-13 19:33] KranthiPakala-MSFT commented on #94314
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-06-13 19:40] ronortloff commented on #94217
Ok, it looks like you're on the right path then.

[2022-06-13 19:46] #82917 closed

[2022-06-13 19:50] cynthn commented on #71809
#please-close

[2022-06-13 19:50] #71809 closed

[2022-06-13 19:52] cynthn commented on #71502
#please-close It looks like this has been fixed.

[2022-06-13 19:52] #71502 closed

[2022-06-13 19:54] cynthn commented on #71502
Investigating/working on this in AB#1958451

[2022-06-13 19:54] cynthn commented on #71809
Investigating/working on this in AB#1958451

[2022-06-13 19:55] cynthn commented on #68922
Investigating/working on this in AB#1958451

[2022-06-13 19:58] cynthn commented on #68922
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 19:58] #68922 closed

[2022-06-13 19:58] wcneumann219 opened #94319 "Article needs paragraph that explains that App Gateways may need to be reset via PowerShell"
This article should note that configuration changes to Private Endpoints and Private DNS related to App Services may not be recognized by an App Gateway until / unless a reset is performed. Since such a reset cannot be done, one has to use PowerShell commands to do the reset.

When there is no text about the need for resets and no UI in the Azure portal for a reset one can spend days trying to und

[2022-06-13 20:00] cynthn commented on #66039
Investigating/working on this in AB#1958451

Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue fo

[2022-06-13 20:00] #66039 closed

[2022-06-13 20:00] spelluru commented on #94100
Closing this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/92652.

#please-close

[2022-06-13 20:00] #94100 closed

[2022-06-13 20:01] spelluru commented on #92652
#reassign:EldertGrootenboer

[2022-06-13 20:02] cynthn commented on #71253
@TerryLanfear can you close this out with a fixed\won't fix note? Thanks :)

Investigating/working on this in AB#1958451

[2022-06-13 20:03] spelluru commented on #94145
#reassign:EldertGrootenboer

@EldertGrootenboer - please review and respond when you get a chance. Thanks.

[2022-06-13 20:04] #70760 closed

[2022-06-13 20:08] cynthn commented on #69069
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 20:08] #69069 closed

[2022-06-13 20:11] cynthn commented on #66434
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 20:11] #66434 closed

[2022-06-13 20:15] cynthn commented on #62920
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 20:15] #62920 closed

[2022-06-13 20:17] cynthn commented on #60859
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 20:17] #60859 closed

[2022-06-13 20:17] porrascarlos802018 opened #94320 "Clarifications needed"
I would summarize something as this

The actions on this document will allow you to create a private endpoint (private ip) for your virtual network and use a virtual link, to link the virtual network with a private dns zone which will be resolved by a private DNS zone to the name of your container registry but with a private IP.

The private endpoint gets associated to the VNET and to the ACR , al

[2022-06-13 20:20] sicil1ano opened #94321 "Invalid Azure CLI command to register SQL Resource Provider"
Under "Register with SQL RP" paragraph, there're 3 different ways to register SQL Resource Provider.
Using the provided Azure CLI command (az provider register --namespace Microsoft.SqlVirtualMac), I'm getting this error:

![image](https://user-images.githubusercontent.com/2143694/166206873-31467c49-c7ee-4230-ad04-ad972577d9cf.png)

Apparently the `Microsoft.SqlVirtualMac` resource provider doesn'

[2022-06-13 20:30] cynthn commented on #60183
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 20:30] #60183 closed

[2022-06-13 20:32] MonikaReddy-MSFT commented on #94079
@Leoer  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-13 20:38] keferna commented on #93597
Thanks for the feedback, while we work on updating the article please create a support ticket to get immediate help #please-close

[2022-06-13 20:38] #93597 closed

[2022-06-13 21:00] Anand-Moghe opened #94322 "What is the max size of docker image allowed to run on AKS?"
What is the allowed max limit for running docker image in AKS cluster?
Is there any such limitation and can it be documented in FAQ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions f

[2022-06-13 21:01] BradfordDJones opened #94323 "Navigating to another Tenant via "Switch Directory" from a "Delete Tenant" screen on a tenant that wouldn't delete due to required actions...."
...starts the delete process for the Tenant navigated to.

When trying to delete a tenant the delete stopped due to some necessary Required Actions.
I navigate back to another tenant and the pages starts the validations to see if the tenant I navigated to can be deleted.
The navigated to tenant is not in a state where it would delete, and additional confirmations would take place if it was, but it

[2022-06-13 21:04] cynthn commented on #59252
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 21:04] davidsmatlak commented on #37975
Closing this issue because there hasn't been any activity since September 2019. The document is no longer included in the Managed apps documentation. The link redirects to [Create an Azure application offer](https://docs.microsoft.com/azure/marketplace/azure-app-offer-setup) in the Commerical Marketplace documentation. If this is still a valid issue, open a new GitHub issue in the Marketplace docu

[2022-06-13 21:05] davidsmatlak commented on #37975
#please-close

[2022-06-13 21:05] #37975 closed

[2022-06-13 21:08] cynthn commented on #69572
#please-close This article no longer exists in this repo. I believe the newer version is here: https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/troubleshoot-performance-virtual-machine-linux-windows

Investigating/working on this in AB#1958451

[2022-06-13 21:08] #69572 closed

[2022-06-13 21:12] cynthn commented on #70029
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 21:12] #70029 closed

[2022-06-13 21:13] JamesTran-MSFT commented on #94255
@djadame
I wanted to check in and see if you were able to review my previous post or if you have any other questions?

[2022-06-13 21:13] cynthn commented on #67161
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing We are closing this issue for now, but feel free to comment here as necess

[2022-06-13 21:13] #67161 closed

[2022-06-13 21:15] cynthn commented on #66422
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 21:15] #66422 closed

[2022-06-13 21:17] cynthn commented on #62031
#please-close This article moved, so I am closing this issue (I'm unsure if it was fixed). The new version should be here:
https://docs.microsoft.com/troubleshoot/azure/virtual-machines/performance-diagnostics-vm-extension

Investigating/working on this in AB#1958451

[2022-06-13 21:17] #62031 closed

[2022-06-13 21:18] carosil opened #94324 "What-If tool support for report-only mode"
[Conditional Access policies in report-only mode are being evaluated as part of the What-If tool, while this doc specifically says otherwise: _"The What If tool currently does not evaluate policies in report-only mode."_

This doc needs to be updated to reflect the change in the tool.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-06-13 21:22] dlepow commented on #93598
@drazen-relias - After adding an API version (which creates the API version set), you can edit it like any other API added to API Management: add operations, edit the Open API spec, etc. See [Edit and API](https://docs.microsoft.com/en-us/azure/api-management/edit-api#update-the-swagger). Let us know if this helps. Thanks

[2022-06-13 21:25] cynthn commented on #59807
#please-close This doc has been moved to another repo: https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/troubleshoot-rdp-internal-error

Investigating/working on this in AB#1958451

[2022-06-13 21:25] #59807 closed

[2022-06-13 21:27] cynthn commented on #66115
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 21:28] cynthn commented on #62522
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 21:28] #62522 closed

[2022-06-13 21:30] cynthn commented on #61142
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 21:30] #61142 closed

[2022-06-13 21:32] cynthn commented on #70107
#please-close The samples for this article should have all been moved (and the links updated) to this repo: https://github.com/azure/azvmimagebuilder/  Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 21:33] #70107 closed

[2022-06-13 21:34] cynthn commented on #66472
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 21:34] #66472 closed

[2022-06-13 21:35] rwike77 commented on #94263
@vladkasianenko  Thanks for pointing this out.  I just pushed an article update, which should go live in a little while.  #please-close

[2022-06-13 21:35] #94263 closed

[2022-06-13 21:35] #59234 closed

[2022-06-13 21:35] #93821 closed

[2022-06-13 21:36] russd2357 opened #94326 "Quickstart instructions generate error for Wildcard domain forwarding rule"
I followed the Quickstart instructions until I got to the part where you set up the forwarding rules:

$targetDNS1 = New-AzDnsResolverTargetDnsServerObject -IPAddress 192.168.1.2 -Port 53
$targetDNS2 = New-AzDnsResolverTargetDnsServerObject -IPAddress 192.168.1.3 -Port 53
$targetDNS3 = New-AzDnsResolverTargetDnsServerObject -IPAddress 10.0.0.4 -Port 53
$targetDNS4 = New-AzDnsResolverTargetDnsServe

[2022-06-13 21:38] cynthn commented on #63193
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 21:38] #63193 closed

[2022-06-13 21:51] natewaddoups opened #94328 "This page needs pricing information"
I need to make a decision between the options shown here, and I can't make that decision without pricing information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e34a359d-9ba2-a8e3-8391-8dfa780a5c47
* Version Independent ID: f8b7a25e-c8ea-c435-7a96-45cdcfd2e60e
* Content: [Compare Azure Content Delivery Network (CDN

[2022-06-13 21:52] cynthn commented on #64755
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 21:52] #64755 closed

[2022-06-13 21:52] JamesTran-MSFT commented on #94323
@BradfordDJones
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-13 21:53] JamesTran-MSFT commented on #94324
@carosil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-13 21:55] JamesTran-MSFT commented on #94189
@kwent
Since our SCIM client and provisioning service is working as expected, I'll go ahead and close out this issue. If you're still running into problems, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microso

[2022-06-13 21:59] YutongTie-MSFT commented on #94286
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-13 22:08] kirkktx opened #94330 "mongoimport password on commandline not working"
The commandline options [here](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/create-mongodb-dotnet#load-sample-data) are wrong.

It looks like mongoimport has changed command line args to now require password in a config yaml file (stdin works too though)
See the [mongoimport doc](https://www.mongodb.com/docs/database-tools/mongoimport/#std-option-mongoimport.--password)

[2022-06-13 22:09] khdownie commented on #87847
@RobG-MSFT updated to say Windows 8/Windows Server 2012 or newer. @SumanthMarigowda this issue can now be closed.

[2022-06-13 22:16] kobulloc-MSFT commented on #94322
@Anand-Moghe Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-06-13 22:24] abhijit-me commented on #49537
No it doesn't, which is very annoying, and more annoying that this bug has not been addressed till date.

My resource group location is East US. Why does CDN profile shows a grayed out disabled dropdown showing "West Europe". Using "Verizon Standard", which is available in East US.

Kindly answer.

[2022-06-13 22:29] JamesTran-MSFT commented on #94323
@BradfordDJones
Thank you for your feedback! To gain a better understanding of your issue with our docs, can you share what you'd like to update?

[2022-06-13 22:39] James-Hamil-MSFT commented on #94264
Hi @@xtianus79 , thanks for the question. To understand your question, you want your page to look like this:
![template-ocean-blue](https://user-images.githubusercontent.com/69171367/173458962-95b211b4-5047-4d90-b4d0-12898a1e579b.png) but instead it looks like this:
![dghxv6r5qbmrjchigv7b](https://user-images.githubusercontent.com/69171367/173459064-1f57282f-0c40-48e2-bfc1-8b9983de84e8.jpg)

order

[2022-06-13 22:45] kgremban commented on #93110
Hi @digimaun, thank you for the suggestion. I think that including CLI capabilities would be a good addition to this set of content. I'm going to make an item for this work in our backlog so that it can be triaged and prioritized appropriately. I'll send you a pointer once that is created.

In the meantime, I'm going to close this issue. I'll make a note to post here again once the work is complet

[2022-06-13 22:45] #93110 closed

[2022-06-13 22:49] #71194 closed

[2022-06-13 22:56] mikequ-taggysoft opened #94331 "Web sockets configuration disappeared from Linux app configuration portal UI"
See attached screenshots.  The "web sockets" setting used to be present on both Windows and Linux app service config UI. Out of nowhere it got removed from Linux apps.

We can still set this via Azure CLI, but I see no reason for this to be removed from UI for convenient quick config.

![ss-websocket-linux](https://user-images.githubusercontent.com/87355285/173460689-c12a5def-f246-4c0e-95c9-b8eaba

[2022-06-13 23:02] cynthn commented on #58423
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] #58423 closed

[2022-06-13 23:02] cynthn commented on #60094
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] #60094 closed

[2022-06-13 23:02] cynthn commented on #60252
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] #60252 closed

[2022-06-13 23:02] cynthn commented on #62194
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] cynthn commented on #62455
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] #62194 closed

[2022-06-13 23:02] #62455 closed

[2022-06-13 23:02] cynthn commented on #62458
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] #62458 closed

[2022-06-13 23:02] cynthn commented on #63340
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:02] #63340 closed

[2022-06-13 23:02] cynthn commented on #65641
#please-close The public preview feature described in this article was deprecated August 15, 2021. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:06] cynthn commented on #69680
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

Investigating/working on this in AB#1958451

[2022-06-13 23:06] #69680 closed

[2022-06-13 23:07] cynthn commented on #64196
#please-close This doc has been archived and is no longer being updated. Thank you!

Investigating/working on this in AB#1958451

[2022-06-13 23:08] #64196 closed

[2022-06-13 23:14] iUnknwn opened #94332 "Add Details for Getting Usable Graph Token"
It's unclear from the documentation that, even if your app registration has permissions to Microsoft graph, the `access_token` returned is invalid unless you go to Azure Resource Manager and change settings, as described here: https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?tabs=azure-resource-explorer

However, that tutorial isn't easily finda

[2022-06-13 23:17] cynthn commented on #61609
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-13 23:18] #61609 closed

[2022-06-13 23:19] cynthn commented on #66872
Investigating/working on this in AB#1958451

[2022-06-13 23:19] iUnknwn opened #94333 "Add info on getting EasyAuth claims for non .NET languages"
The current documentation doesn't appear to explain how to get claims (such as group information) if you're not in a .NET language.

As far as I can tell, parsing the JWT in `X-MS-TOKEN-AAD-ID-TOKEN` works for AAD, but it would be great if this information was incorporated into the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-06-13 23:20] cynthn commented on #66872
Investigating/working on this in AB#1958451

[2022-06-13 23:20] #69347 closed

[2022-06-13 23:21] cynthn commented on #66872
#please-close Removed the link because I couldn't find a good alternative.

[2022-06-13 23:22] #66872 closed

[2022-06-13 23:46] cynthn commented on #88223
#please-close

[2022-06-13 23:46] #88223 closed

[2022-06-13 23:59] ChaitanyaNaykodi-MSFT commented on #94326
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-14 00:01] ChaitanyaNaykodi-MSFT commented on #94328
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-14 00:27] mmacy commented on #78005
#reassign:mmacy

[2022-06-14 00:27] bishal41 commented on #86366
@chmagitt Thanks for the feedback. The preview for the experimental MQTT broker will not move to general availability and will be removed from the future version of IoT Edge Hub. We are continuing to refine our plans for an MQTT broker based on feedback received. We are suggesting our customers to use open source broker like Mosquitto (https://mosquitto.org/) as an IoT Edge module should they need

[2022-06-14 00:28] mmacy commented on #78003
#reassign:mmacy

FYI @iambmelt - will reach out internally.

[2022-06-14 00:40] duongau commented on #94328
Hello @natewaddoups, all pricing information for Azure CDN can be found here: https://azure.microsoft.com/en-us/pricing/details/cdn/. We don't put our pricing information in the documentation section because it is different depending on the zone used. For more information about billing, please see: https://docs.microsoft.com/en-us/azure/cdn/cdn-billing.

Thank you! #please-close

[2022-06-14 00:40] #94328 closed

[2022-06-14 00:41] larrywa opened #94335 "Need clarity on a bullet point about single load balancer/K8s service"
[Enter feedback here]
This is the bullet point article.
A single load balancer and single Kubernetes service are associated with each container apps environment.

What does this actually mean? Load balancers should be automatically provided when scaling. And what is this single K8s service? What kind of service?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-06-14 00:49] gabe-microsoft commented on #80538
The fix is also incorrect and much more confusing than the original.

Originally the comment said 16 MB (though MiB was probably intended), and code example showed 15728640.
15728640 Bytes = 15360 KiB = 15 MiB. So, based on the original either 15 MiB or 15 MiB was intended.

Currently, the comment still says 16 MB and the code example shows 16300 KiB, which is 15.92 MiB or 16.69 MB. This seems lik

[2022-06-14 00:49] ysmu commented on #94151
Here's a snippet that should work:
[code]
In the next version of the server (0.7.3+) users will be able to specify `azureml_inference_server_http` instead of `azureml_inference_server_http.amlserver` as the module.

We will update the documentation.

[2022-06-14 01:12] vlad-kozlov opened #94337 "in 5b under 4. On the Activities tab, copy the code below into the Expression."
it worked the opposite for me:
@concat(activity('CheckState').output.value[0].properties.status,'-',pipeline().parameters.PauseOrResume)
throws the error:
{
    "errorCode": "InvalidTemplate",
    "message": "The expression 'concat(activity('CheckState').output.value[0].properties.status,'-',pipeline().parameters.PauseOrResume)' cannot be evaluated because property 'value' doesn't exist, available

[2022-06-14 02:00] MonikaReddy-MSFT commented on #94305
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-06-14 02:08] dcbrown16 opened #94338 "Default HTTPS setting"
Doc says:
"By default, anyone can still access your app using HTTP. "

All of the apps in my environment have this setting enabled (HTTPS only) upon creation. Can you please check if this info is still accurate and update if not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2906753-7656-ef4d-0de9-7e238181e3e1
* Vers

[2022-06-14 02:11] GeethaThatipatri-MSFT commented on #94321
HI @sicil1ano Thank you for reaching out.We will look into it and update as appropriate.

[2022-06-14 02:12] anishi1222 opened #94339 "SQL Database looks out scope of Service Connector, but it is available."
[Enter feedback here]
Azure Services supported by Service Connector are listed in this overview page, but Azure SQL Database looks out of scope.
However, https://docs.microsoft.com/azure/service-connector/how-to-integrate-sql-database indicates that Azure SQL Database is supported. Sooner correction would be much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-06-14 02:16] BryanTrach-MSFT commented on #93822
@Josverl Thank you for sharing this feedback. We went ahead and updated the document with the link you suggested.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-14 02:19] MayankBargali-MSFT commented on #94304
@Carcamo-ben Thank you for your feedback! We will review and update as appropriate.

[2022-06-14 02:21] MayankBargali-MSFT commented on #94299
@zaalion Thank you for your feedback! We will review and update as appropriate.

[2022-06-14 02:57] KrishnaG-MSFT commented on #94270
@Madhufuture Thanks for your comment! We will review and provide an update as appropriate.

[2022-06-14 03:17] Leoer opened #94341 "missing link"
### Is there a link [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability#why-is-model-interpretability-important-to-model-debugging)? Or is that so?
This seems to be markdown syntax, and the link should be added in the brackets, right?
If there is indeed a link missing, what is the link? Trouble technicians to add a link.
![image](https://user-ima

[2022-06-14 04:00] ecfan commented on #93648
@xuehongg: Would you know any examples for how the Request trigger handles multi-part forms?

[2022-06-14 04:02] ecfan commented on #86175
#assign @rarayudu

[2022-06-14 04:04] SwathiDhanwada-MSFT commented on #93669
@felipeaugusto-ergo While Microsoft very recently added the ability to migrate Standard SKU Public IPs across subscriptions—it is not possible to move them if they are associated with any resource . Product team has plan to add this ability in the future. As of now, there isn't any ETA specified yet.

[2022-06-14 04:10] #93669 closed

[2022-06-14 04:11] SwathiDhanwada-MSFT commented on #93951
@HannahHsiao5 While Microsoft very recently added the ability to migrate Standard SKU Public IPs across subscriptions—it is not possible to move them if they are associated with any resource. Product team has plan to add this ability in the future. As of now, there isn't any ETA specified yet.

The same information will be updated in the document soon. As there are no further changes, we will clos

[2022-06-14 04:11] #93951 closed

[2022-06-14 04:19] adjustit commented on #93648
it is possible to handle multi-part forms, you can get each form element by either using triggerFormDataValue(fieldName) to get the value from each field.

See [for more details](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-content-type)

[2022-06-14 04:24] PriyankaRudramaina commented on #94320
Hi @porrascarlos802018,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-14 04:34] SwathiDhanwada-MSFT commented on #94072
@Aprilllllll You can download the default config map from [here](https://raw.githubusercontent.com/microsoft/Docker-Provider/ci_prod/kubernetes/container-azm-ms-agentconfig.yaml).

I have submitted the PR to make the requested change. Once approved by the content author, it will be available on public documentation.

As there are no further documentation changes, we will close the issue for now. I

[2022-06-14 04:34] #94072 closed

[2022-06-14 04:44] v-hgampala commented on #93797
Done!
#please-close

[2022-06-14 04:44] #93797 closed

[2022-06-14 04:45] mokabiru commented on #94290
This is fixed and will be published on 06/14. Thanks for the feedback.

[2022-06-14 04:45] CHEEKATLAPRADEEP-MSFT commented on #94337
@vlad-kozlov  Thanks for the feedback! We are investigating and will update you shortly.

[2022-06-14 04:46] SnehaAgrawal-MSFT commented on #94319
@wcneumann219 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 04:47] SwathiDhanwada-MSFT commented on #94234
Assigning to content author @arifgani for inputs on this issue.

[2022-06-14 04:47] SwathiDhanwada-MSFT commented on #94230
Assigning to content author @arifgani for inputs on this issue.

[2022-06-14 04:48] SnehaAgrawal-MSFT commented on #94331
@mikequ-taggysoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 04:51] SnehaAgrawal-MSFT commented on #94332
@iUnknwn Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 04:52] SnehaAgrawal-MSFT commented on #94333
@iUnknwn Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 04:53] SwathiDhanwada-MSFT commented on #94279
@stan-sz You can retrieve cloud names values by using command Get-AzEnvironment.

![image](https://user-images.githubusercontent.com/48976275/173495909-4c55407a-6270-4421-9ba8-6928ad179bdb.png)

@mumian Can you please look into this issue and check if this can be added to the document?

[2022-06-14 04:53] SnehaAgrawal-MSFT commented on #94338
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 05:06] YutongTie-MSFT commented on #94341
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 05:09] AdamGuanhh commented on #94341
Thanks a lot.

[2022-06-14 05:11] AjayKumar-MSFT commented on #94312
@ENT56,
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-06-14 05:14] AjayKumar-MSFT commented on #94316
@spadeki,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-14 05:35] youkhi opened #94343 "You can download only one vpn config file in step 3. Download the VPN configuration files"
Team,

I created two vpn sites and downloaded vpn config files from each site, however, those two files contain the same data.
I can check instance0's and instance1's ip addresses and bgp peering addresses in one file.

Best,
Youkhi.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124ec59c-bf0d-50e1-8972-63ebb8870302
*

[2022-06-14 06:06] MayankBargali-MSFT commented on #94335
@larrywa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-14 06:20] PriyankaRudramaina commented on #94320
@tejaswikolli-web,

Could you please review this and update if we can get this clarification added?

[2022-06-14 06:28] yaakov-simon opened #94344 "Update Cato SCIM Provisioning Document for Updated UI"
In the section Step 2. Configure Cato Networks to support provisioning with Azure AD, steps 1, 2, and 3 are incorrect and show the old UI.

Here are the correct steps:

- Log in to your account in the [Cato Management Application](https://cc.catonetworks.com/).
- From the navigation menu select **Access > Directory Services** and click the **SCIM** section/tab.
- Select **Enable SCIM Provisioning*

[2022-06-14 06:37] descartes123 opened #94345 "Set-ClusterQuorum alway failed according to the steps"
Dear admin，

We are following the guide on this page to create a FCI on azure environment, we ensure all the prerequisites were done and all previous steps were executed well, but when configure quorum as the page described:
Set-ClusterQuorum -CloudWitness -AccountName "Storage_Account_Name" -AccessKey "Storage_Account_Access_Key"
this commandlet always failed with below error:

Set-ClusterQuorum

[2022-06-14 07:00] SnehaAgrawal-MSFT commented on #93979
@jspaith Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-06-14 07:01] shwetamathur7 commented on #94121
@ajburnle I repro the issue at my end and able to create two group with same name and different object ids while creating at same time.

As per documentation, that should not be allowed. Could you check on that. Thanks.

[2022-06-14 07:05] armiar opened #94346 "Azure Automation Event Grid"
The article doesn't work anymore. I didn't hit any issue in following the steps.
But when VM is created, automation doesn't kick in. It error's out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc42ccc0-e520-9aad-e417-c03aa8c96fd0
* Version Independent ID: 3fb6ae53-e543-21ae-b702-93cb08b53521
* Content: [Integrate Az

[2022-06-14 07:12] AnuragSharma-MSFT commented on #94330
@kirkktx Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-14 07:15] HartejSingh2001 opened #94348 "Note"
[Enter feedback here]

For Indian students who have the subscription "Azure for students,"  the VM will not be created by selecting West Europe as it will show this size is currently unavailable in West Europe for this subscription error.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5508502b-91e9-3cd5-c976-23c9b9bac1a

[2022-06-14 07:26] TonySh127-ms opened #94349 "Security doc update suggestion"
Hi Team, I would like to suggest the doc need to update the "should" word to be "MUST". It is impossible to select only auth app code during the SSPR setting at 1 method required page. There is not other option I believe. And, if 2 method required, the additional method will be required even selected both 2 auth app method.

If that is possible, could you please provide the design reason instead o

[2022-06-14 07:29] ethanhou99 opened #94350 "What is the frequency of the signature update?"
Hi,

Our business compliance requires us set up the signature update frequency to daily and I want to leverage MS antimalware to meet the goal, could you please tell me what is the **pre-determined frequency** of the signature update?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83

[2022-06-14 07:47] ciufudean commented on #86562
Hello, any progress on this one?

[2022-06-14 08:02] #94066 closed

[2022-06-14 08:12] PriyankaRudramaina commented on #94282
@ayushiaks

Checking with the docs team to see how we can makes this more clear, I will get back to you.

[2022-06-14 08:13] bmansheim commented on #90801
@naokitakeda14 For the second question, sounds like we should add a sentence in https://docs.microsoft.com/en-us/azure/azure-sql/database/azure-defender-for-sql?view=azuresql#enable-microsoft-defender-for-cloud like: "When you enable on the subscription level, all SQL databases are protected. You can then disable them individually if you choose. If you want to manually manage which SQL databases a

[2022-06-14 08:29] kulkarniyudhi opened #94353 "Mistake in Analyze identity (ID) documents documentation"
In this page under "Get the Analyze ID Document result" section there is mistake in "Request"  CURL command
curl -X GET "https://{endpoint}/formrecognizer/v2.1/prebuilt/**businessCard**/analyzeResults/{resultId}" -H "Ocp-Apim-Subscription-Key: {key}"

Here model should be **idDocument** instead of **businessCard**

---
#### Document Details

* ID: 4c39ca68-ddb6-c531-5bcd-19e8a4806882
* Version Ind

[2022-06-14 08:32] Bosch-Eli-Black opened #94354 "Update ServiceBus Client SDK link?"
In the "Automatically tracked dependencies" table, the text "ServiceBus Client SDK" links to the [Microsoft.Azure.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus) NuGet, which is deprecated. Should the link be updated to point to [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus), or is that package not yet supported?

Thanks! 🙂

---
####

[2022-06-14 08:44] shwetamathur7 commented on #94349
@TonySh127-ms Thanks for your feedback. We will check and update the thread.

[2022-06-14 08:46] shwetamathur7 commented on #94344
@yaakov-simon Thanks for your feedback. We will investigate and update the thread.

[2022-06-14 08:48] GitaraniSharma-MSFT commented on #94343
@youkhi , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-14 08:49] GitaraniSharma-MSFT commented on #94348
@HartejSingh2001 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-14 09:03] samcarswell commented on #94331
We cannot see this option in the UI either. The CLI says it is on, but all of our linux app services using web sockets have been failing since Friday due to web socket errors.

[2022-06-14 09:06] AnuragSingh-MSFT commented on #94114
@PNW-BRZ thank you for bringing it to our attention. I am assigning it to our content team for further review.

@V-SSenthilna, can you please review this issue and share your thoughts. Thank you.

[2022-06-14 09:07] #94033 closed

[2022-06-14 09:10] SwathiDhanwada-MSFT commented on #94346
@armiar Thanks for your feedback.

Assigning to content author @eamonoreilly  for review.

[2022-06-14 09:15] SwathiDhanwada-MSFT commented on #94354
@Bosch-Eli-Black Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-06-14 09:16] Bosch-Eli-Black commented on #94354
@SwathiDhanwada-MSFT  Thanks 🙂

[2022-06-14 09:18] #94290 closed

[2022-06-14 09:41] SwathiDhanwada-MSFT commented on #94078
@paololec  For further troubleshooting, kindly send mail to AzCommunity@microsoft.com with Subject as "Attn:Swathi" , include your subscription ID and a link to this GitHub thread (for context).

[2022-06-14 09:46] timoklimmer commented on #94151
@ysmu Thank you so much, it worked like a charm - the debugging feature is awesome!

[2022-06-14 09:57] xujiongda opened #94355 "partitions_api_format missing in sample python code"
partitions_api_format is not defined in Client application sample python cod.

partitions_api_format is used in the code below, but it is never defined.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bce02528-f445-3f1d-6045-66c719d339fb
* Version Independent ID: 4c7f98d1-87ba-4fbd-37b8-d5b66b5ea064
* Content: [Ap

[2022-06-14 11:03] #94018 closed

[2022-06-14 11:16] robert4os opened #94357 "Data Explorer Cost Estimator does not output the amount of cache storage needed"
Hi,

this page refers to the use of the Data Explorer Cost Estimator
https://dataexplorer.azure.com/AzureDataExplorerCostEstimator.html

Specifically under "Create ADX cluster"
https://docs.microsoft.com/en-us/azure/time-series-insights/how-to-tsi-gen2-migration#create-adx-cluster
...it says to confirm the cost estimator's suggestion for cache, with an example 'Cost Estimator suggestion: 9x DS14 +

[2022-06-14 12:11] michasacuer commented on #33494
Any updates on that?

[2022-06-14 12:23] SreejaBhattacharya-MSFT commented on #94258
@ameetkonnur did you try registering the feature using the below command?
`az feature register --namespace "Microsoft.ContainerService" --name "AKS-Dapr"`

[2022-06-14 12:43] lasyan3 opened #94358 "On-premises data gateway not listed in Azure portal"
Hi,

I'm unable to retrieve my on-premise data gateway from the azure portal.
Seems like it has been removed from Azure ?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7ea2d08503ed
* Version Independent ID: 364890ed-d3ba-9e01-c40a-ce78600319f1
* Content: [Install on-premises data gateway - Azu

[2022-06-14 12:50] MonikaReddy-MSFT commented on #93824
@AdamMachera - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-14 12:50] #93824 closed

[2022-06-14 13:02] christgelinas opened #94359 "No category description."
[Enter feedback here]
There is no description on each category
it is impossible for common of mortal to know the difference between
File scale targets and Azure file share scale targets
you should add a description for each particular category.

For example, Microsoft DSE explains to us that the file share target apply to the file share global
and file target apply per single file. That should be

[2022-06-14 13:16] RohitMungi-MSFT commented on #94151
Thanks @ysmu for adding your inputs, looking forward to update the documentation. @timoklimmer I'll go ahead and close this issue.

[2022-06-14 13:16] #94151 closed

[2022-06-14 13:35] ventil8 commented on #86094
Was this resolved? I am seeing the same issue for Azure function apps using the deployment task AzureFunctionAppContainer@1
where it overwrites the deployment center settings?

[2022-06-14 13:41] #94195 closed

[2022-06-14 13:44] AjayKumar-MSFT commented on #94016
Apologies for the delay! I have relayed this feedback internally and awaiting for a response.

Also, checkout this Kudu [GitHub wiki page](https://github.com/projectkudu/kudu/wiki/Configurable-settings#disable-the-generation-of-bindings-in-applicationhostconfig) and [blog](https://ruslany.net/2019/06/azure-app-service-deployment-slots-tips-and-tricks/) (from one of our App Service PG)  - which as

[2022-06-14 13:46] fhzhang opened #94362 "Add one more limitation to the websocket API"
[Enter feedback here]

After checking with product team, there is a limitation for websocket API.

With set header policy in APIM, it is NOT allowed to update "Host" header in websocket API.

Is it possible to add this limitation in the documentation page?

Product team said this limitation will be fixed by the end of 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-06-14 13:58] khdownie commented on #87847
#please-close

[2022-06-14 13:58] #87847 closed

[2022-06-14 14:04] MayankBargali-MSFT commented on #94358
@lasyan3 Thanks for reaching out. You can view the OPDG on the [Power Platform admin center](https://admin.powerplatform.microsoft.com/ext/DataGateways). You can find the OPDG under the Data (preview) --> On-premises data gateways. For more details you can refer to [On-premises data gateway management (preview)](https://docs.microsoft.com/en-us/power-platform/admin/onpremises-data-gateway-manageme

[2022-06-14 14:06] krja opened #94363 "Description of limitations of UAMI is ambiguous"
I am investigating configuration of BCM and have come across this page. I am interested in case where I create UAMI in north europe. Then north europe goes down and I created new VM in west europe and try to configure it with UAMI from not available region.

In limitation section there is this sentence:
_'The activities performed by any resources already configured to use the managed identities wo

[2022-06-14 14:09] dani3lheidemann opened #94364 "RDP Shortpath for Public Networks does not work with Azure Firewall"
Hi Microsoft,
thank you for the great feature and the documentation about it. I have tested RDP ShortPath for Public so far, but unfortunately, I can't use it in production at the moment.

The reason seems to be that RDP ShortPath Public cannot route through an Azure firewall. I.e. if my next hop is the Azure Firewall, RDP ShortPath Public will not work. If I use a UDR to route all traffic (as spe

[2022-06-14 14:57] JamesTran-MSFT commented on #94363
@krja
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-14 15:11] baanders commented on #94203
I'm going to go ahead and merge the pull request with the updates I described. This will automatically close this issue as resolved. Feel free to continue the conversation with additional questions or comments, and we can reopen if needed. Thank you!

[2022-06-14 15:11] ameetkonnur commented on #94258
Will try doing this and get back.
Is this documented as a pre-requisite on our docs ? I may have missed it.

thanks
--
Ameet

From: ***@***.***>
Sent: 14 June 2022 17:53
To: ***@***.***>
Cc: Ameet ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] extension type microsoft.dapr is not registered in region centralindia (Issue #94258)

@ameetkonnur<https://github.com/ameetkonnur> did

[2022-06-14 15:15] lasyan3 commented on #94358
ok thanks @MayankBargali-MSFT for the clarification.

[2022-06-14 15:15] #94358 closed

[2022-06-14 15:28] jasongroce commented on #90330
#reassign:durior1

[2022-06-14 15:35] DeanCefola opened #94365 "Which Clients are supported?"
RDPShortPath for Managed Networks requirements (https://docs.microsoft.com/en-us/azure/virtual-desktop/shortpath#requirements)
show which clients are supported.
however
RDP ShortPath for public networks does not say which clients are supported.
If ONLY the windows clients are supported, then a lot of customers will try to use this feature and fail because they are on a MAC or HTML client

we need

[2022-06-14 15:39] #94255 closed

[2022-06-14 15:39] JamesTran-MSFT commented on #94323
@BradfordDJones
I wanted to check in and see if you were able to review my previous post or if you have any other questions?

[2022-06-14 15:41] JamesTran-MSFT commented on #94324
@carosil
Thank you for pointing this out!

Would you be able to share the documentation of where you found - `Conditional Access policies in report-only mode are being evaluated as part of the What-If tool`, so I can properly update the docs.

Thank you for your time and patience throughout this issue.

[2022-06-14 15:47] normesta commented on #92755
Thank you for the great suggestion! I tested both commands. All works great. I updated the content and those changes should appear live at around 10. Thank you again!

#please-close

[2022-06-14 16:02] evanportwood opened #94367 "Incorrect note in HTTP version section"
The note in the HTTP version section references the request cookies match condition instead of the HTTP version match condition.  Looks like a simple copy & paste error.

![image](https://user-images.githubusercontent.com/96517/173623079-a4bceeea-c4cb-4854-9c8e-d31482a51a07.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-06-14 16:07] mrbullwinkle commented on #94304
@Carcamo-ben reached out to me internally yesterday with his proposed fix and I made the associated change to the docs, but I didn't realize that a new GitHub Issue had been created. I believe this issue is now resolved unless there was an additional problem.

[2022-06-14 16:10] tejaswikolli-web commented on #92739
Added a note to the docs: https://github.com/MicrosoftDocs/azure-docs-pr/pull/201564

[2022-06-14 16:11] SumanthMarigowda commented on #94209
@paulspinkstr Apologies for the delay response! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-14 16:13] WilliamDAssafMSFT commented on #94217
Thanks @ronortloff. Good conversation and question @collinbarrett, thanks for taking the time to create this docs issue.
#please-close

[2022-06-14 16:13] #94217 closed

[2022-06-14 16:13] SumanthMarigowda commented on #94171
@assaf-grth Apologies for the delay response! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2022-06-14 16:13] #94171 closed

[2022-06-14 16:18] Anand-Moghe commented on #94322
@kobulloc-MSFT Thanks. We have the limit documented for ACI which is 15 GB. I am working with a customer who has docker image size reaching 20GB for his data science model. But I could not figure out the max limit for docker image documented anywhere for AKS.

[2022-06-14 16:25] duongau commented on #94367
#reassign: duongau

[2022-06-14 16:26] duongau commented on #94367
@evanportwood Thank you for catch that typo. I corrected the note and it should go live a little bit later today.

[2022-06-14 16:26] duongau commented on #94367
#please-close

[2022-06-14 16:28] ChaitanyaNaykodi-MSFT commented on #94092
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-14 16:28] nishantsharan2603 commented on #55058
Any solution for this issue??

[2022-06-14 16:28] josefehse opened #94368 "Reference to the root partition is a little confusing (according to customer)"
Customer mentioned the reference below would actually refer to the /root folder, not the 'root partition'.
![image](https://user-images.githubusercontent.com/13967863/173628488-417cada8-5a24-4433-a589-2f70fb5f66e6.png)
The sugestion is to either use "/" partition or just "root partition" (without the slash).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-06-14 16:41] collinbarrett commented on #94217
@WilliamDAssafMSFT ,

I think it could be helpful to add a link to [the article that ronortloff pointed me to](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-overview#table-size-queries) in the bullet quoted below from the Content Source. It could certainly help others (and would have prevented me opening this issue).

[2022-06-14 16:45] WilliamDAssafMSFT commented on #94217
I agree! That doc update is already in flight and should be published later today.

[2022-06-14 16:49] kobulloc-MSFT commented on #94365
@DeanCefola Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-06-14 16:52] safari137 opened #94369 "KEDA ScaledObject"
The documentation states:

Can this be overridden?  If so, how could that be done?  It doesn't look like rules has a parameter for 'spec'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent ID: eae53948-3193-a451-5963-3e6cd8ee2972
* Content: [Scaling in Azure Contai

[2022-06-14 16:54] kobulloc-MSFT commented on #94364
@dani3lheidemann Thank you for the feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-14 16:55] spadeki opened #94370 "Additional feedback on Container App file storage mout"
When creating a container app then a fundamental requirement will be to have a shared mount container configuration information (e.g. DB connection string) that all containers need to access when initialised.
I understand from the documentation I need an Azure Files fileshare and a pre-requisite to create one is a storage account but when I go to create a storage account there are a plethora of op

[2022-06-14 16:56] kobulloc-MSFT commented on #94345
@descartes123 Thank you for your feedback!  We have assigned this to the document author for further review.

[2022-06-14 17:03] Commochief opened #94372 "Update images to reflect correct UPN Suffix"
Images need updated to reflect that the standard domain name for Azure Government is *.onmicrosoft.us not *.onmicrosoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fb73708-8571-ebf9-aabc-697f7ab2ec75
* Version Independent ID: e172721d-1017-f593-baad-f54fd54fc42f
* Content: [Azure Government Identity - Azure Go

[2022-06-14 17:12] laujan commented on #94353
Hi @kulkarniyudhi, Thank you for catching the error! We have updated the article and the change should be reflected this afternoon. Thanks again!

[2022-06-14 17:20] aahill commented on #94197
Thanks for reaching out, currently the summarization feature is available in the following regions:

- North Europe
- East US
- UK South

I'll update this article to specify this information!

#please-close

[2022-06-14 17:20] #94197 closed

[2022-06-14 17:21] KranthiPakala-MSFT commented on #94355
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-14 17:22] #94353 closed

[2022-06-14 17:27] bandersmsft commented on #94244
@Jenny-Chiu I've spoken with the Billing engineering team about this issue. From my disscussion with them: the change Azure subscription or account ownership functionality, as documented, is still available. It hasn't been retired.

I'll close this doc issue for now. If this is something that needs more investigation, please email me directly at banders@microsoft.com and we can continue to work th

[2022-06-14 17:27] #94244 closed

[2022-06-14 17:31] YutongTie-MSFT commented on #94147
I think this has been fixed, thanks for reporting it again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-06-14 17:31] #94147 closed

[2022-06-14 17:51] trantrung76 opened #94373 "Add Start/Stop by Date\Time in Tags"
Please add ability to start/stop a virtual machine by Date and Time in Tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95ba76f8-580a-a119-f4c0-19c47bdd8fed
* Version Independent ID: d2c1d2a3-b468-02d7-4698-973fa7642ccc
* Content: [Start/Stop VMs v2 overview](https://docs.microsoft.com/en-us/azure/azure-functions/s

[2022-06-14 17:56] cfarmermike opened #94375 "Track full "actual" sql parameter values in app insights?"
Per this doc, the SQL "command" can be tracked, from say Entity Framework.  However, there doesn't appear to be guidance, doc, etc. on tracking the SQL Parm Values in App Insights Logs.

I assume this is by design for PII?  Is this documented somewhere?  The workaround would be custom telemetry item if we wanted to turn something up to track full SQL Commands with parameter actual values, correct?

[2022-06-14 18:02] mrbullwinkle commented on #94304
I just confirmed that this is resolved.

[2022-06-14 18:02] mrbullwinkle commented on #94304
#please-close

[2022-06-14 18:03] rmats808 opened #94377 "Control Your Device Commands not found"
[Enter feedback here]
When trying the following step:

 The LightOn Command does not exist and the Command options are completely different than the tutorial.  There is no option to select Enable Sensors->Sensors->Change Delivery Interval.  What I see is only "Method Name" and "Component Name" with blank boxes to enter names.  Tried to enter "LightOn" or even

---
#### Document Details

⚠ *Do not

[2022-06-14 18:30] #80565 closed

[2022-06-14 18:30] dlepow commented on #80565
@saadatahmed - Apologies for the delayed response. You make a good point and I am updating the article to refer to `resource="AD_application_id"` for this case.  Thanks for letting us know.

[2022-06-14 18:41] bwren commented on #90006
Sorry for delay on this. Not sure where that term came from. Updating the article.

#please-close

[2022-06-14 18:44] CHDAFNI-MSFT commented on #74181
@GitaraniSharma-MSFT  @asudbring  - given the age of this request - can this document be updated to reflect current state of service availability?

API Management and Cognitive Services are 2 additional examples of available services not listed in the doc.

[2022-06-14 19:02] shizn commented on #94339
The page has been updated and we are going to close this issue. Again, thanks for the feedback! @anishi1222 #please-close

[2022-06-14 19:02] #94339 closed

[2022-06-14 19:12] MashaMSFT commented on #92184
Hi @rameshmo1967 , thanks for contacting Microsoft! Since we haven't heard back from you, we'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-06-14 19:12] #92184 closed

[2022-06-14 19:12] sidkri commented on #93185
@BryanTrach-MSFT thanks for making the change.  I suggest we change the example to include "throwOnError" with a value of "true" as this may be the most common behavior users expect.  The explanation will help users understand how to configure the attribute differently and users who quickly use the example without reading through the explanation will get the behavior they most likely expect.

[2022-06-14 19:19] wsmelton commented on #84371
Considering your documentation on [adding a data disk](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/add-disk_ has the customer set to XFS is there a reason you are only "considering" the change?

I mean you link customers to this page for resizing only to find out it can't be done.

This issue should be reopened as it is a direct issue with the documentation.

[2022-06-14 19:28] w-azure commented on #86366
In light of MQTT broker not moving to the general availability state, we have determined a diagram will not be made. If it would have advanced out of preview, a diagram would have been a great idea. Thank you for the suggestion. Closing this issue, but if you would like to continue the discussion for any reason, feel free to reopen it.
#please-close

[2022-06-14 19:28] #86366 closed

[2022-06-14 19:31] Karishma-Tiwari-MSFT commented on #94369
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-14 19:34] Karishma-Tiwari-MSFT commented on #93239
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-14 19:43] Karishma-Tiwari-MSFT commented on #94256
@wcom939 Thanks for sharing the update. I was able to find the explanation behind this error posted by my colleague here : https://github.com/MicrosoftDocs/azure-docs/issues/81858#issuecomment-934244357

It states -

`If you run helm install ingress-nginx-new ingress-nginx/ingress-nginx --namespace ingress-basic-new --set controller.ingressClass="nginx-devices" --debug you shall see cluster-scoped

[2022-06-14 19:44] Turbofroggy opened #94381 "Benchmark table as a spreadsheet?"
It would be great to get this table of benchmarks as a CSV or Excel file. That way we can filter and sort on the data to better evaluate the SKUs.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Co

[2022-06-14 19:55] Tomanow opened #94382 "Payload looks invalid: "Webhook payload example of ChangeQuantity event""
Payload looks cut off and invalid JSON.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94571708-c2f3-e6ff-c455-3a37b42c23a0
* Version Independent ID: eb2b45a6-7996-3eaa-1f86-4aafcf40290c
* Content: [Implementing a webhook on the SaaS service](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-por

[2022-06-14 19:56] arifgani commented on #93497
doc is being updated
#please-close

[2022-06-14 19:56] #93497 closed

[2022-06-14 20:00] lordisp opened #94383 "Error: INSTALLATION FAILED: template: ingress-nginx/templates/controller-deployment.yaml:2:4"
I was following along this article and tried to install an ingress controller using a static internal IP on an internal load-balancer. I succeeded until `Use Helm to deploy an NGINX ingress controller...`.

`.\helm\ingress.yaml`:
[code]

Powershell:
[code]

### This results the following error:

---
##### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-14 20:04] arifgani commented on #93499
JSON for webhook payload is documented here. https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-webhook

#please-close

[2022-06-14 20:04] #93499 closed

[2022-06-14 20:05] #94230 closed

[2022-06-14 20:05] jwoodcook opened #94384 "Several inaccuracies in "Tutorial: Create user flows and custom policies in Azure Active Directory B2C""
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-user-flow#create-a-sign-up-and-sign-in-user-flow

1) Incorrect: "A prefix of B2C_1 is automatically prepended to the name."
Only a prefix of "B2X_1_" is forced.
2) There is also no mention of "Recommended" sections in the Azure portal
3) Test the user flow cannot be performed (no option for Run user f

[2022-06-14 20:08] BryanTrach-MSFT opened #94385 "Request for Sample Update"
@BryanTrach-MSFT thanks for making the change.  I suggest we change the example to include "throwOnError" with a value of "true" as this may be the most common behavior users expect.  The explanation will help users understand how to configure the attribute differently and users who quickly use the example without reading through the explanation will get the behavior they most likely expect.

_Ori

[2022-06-14 20:08] kobulloc-MSFT commented on #94381
@Turbofroggy Thank you for the feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-14 20:10] BryanTrach-MSFT commented on #94385
@sidkri Thank you for the further feedback. We have branched the input about the sample needing to be updated into a new item as the doc author owns that part and thus we assigned this feedback extension to the doc author.

[2022-06-14 20:11] ChaitanyaNaykodi-MSFT opened #94386 "Typo in the page"
![image](https://user-images.githubusercontent.com/67453298/173679813-2a887e10-13a1-47df-96cc-e9d269fc5275.png)

![image](https://user-images.githubusercontent.com/67453298/173679868-fd1a0d5c-7c3d-4edf-8d50-04e6c883584b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39669cec-7e76-c8ff-70f0-52774efa6a3b
* Version I

[2022-06-14 20:12] Turbofroggy opened #94387 "Formatting error in the EV4 section"
There is a typo/formatting error in the Ev4 section:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/compute-benchmark-scores#ev4
It isn't forming the table and the data is just all smushed up on one line.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323

[2022-06-14 20:12] ChaitanyaNaykodi-MSFT commented on #94386
Working on a PR

[2022-06-14 20:12] lordisp commented on #94383
my fault; please go-ahead and close this. I did some mistakes with the vars

[2022-06-14 20:12] #94383 closed

[2022-06-14 20:15] Karishma-Tiwari-MSFT commented on #94096
Due to [the deprecation of Azure Active Directory (Azure AD) Graph](https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-overview), the underlying Active Directory Graph API will be replaced by [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/api/overview) in Azure CLI 2.37.0.

https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration

Thanks for the feedback! I hav

[2022-06-14 20:15] #94234 closed

[2022-06-14 20:16] kobulloc-MSFT commented on #94296
@lauradolan brbell is listed as the doc owner for this, but that appears to be out of date.

[2022-06-14 20:24] Karishma-Tiwari-MSFT commented on #93989
This document has been updated by the author. The portal section has been removed. Thanks for bringing this to our attention.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-06-14 20:24] #93989 closed

[2022-06-14 20:26] JamesTran-MSFT commented on #94384
@jwoodcook
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-14 20:33] josuvil opened #94388 "Azure Government support"
Hello,

Can you please find out from Apple if this enterprise app is supported in Azure Government? We have received some information indicating that Apple does not support this app in Azure Gov or DoD, despite the app being currently published in Azure Government gallery. If it is not supported, we should update this document accordingly. Feel free to reach out to me internally for details. Thank

[2022-06-14 20:45] JamesTran-MSFT commented on #94388
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-14 20:50] roygara commented on #94276
@quekmc Thanks for reaching out and making us aware of this. I checked with the product team and passed this on, this appears to be a bug with the UI. We confirmed that ultra is only in two of the three zones for France Central, it isn't available in all three. If you select all three and try to create an ultra disk, the ultra disk will disappear from the final selection.

I'm going to go ahead an

[2022-06-14 20:50] #94276 closed

[2022-06-14 20:53] Karishma-Tiwari-MSFT commented on #94387
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 20:54] #94386 closed

[2022-06-14 21:11] DWeda1 opened #94390 "AVS missing info in docs about process flow order for HCX add-on"
I was wondering for the deployment of the HCX add-on if its possible to first request the HCX add-on enterprise edition just like you do with Quotas and then roll out the complete AVS instance and then immediately enable the HCX add-on? So you can more easily roll it out in one flow and with a pipeline?  I don't think this is clearly described in the proces flow and in the Prerequisites on the doc

[2022-06-14 21:14] cebundy commented on #94202
@Kaimonos Thank you for reporting this.  We have updated the document to specify that no usage charges are billed when your app is scaled to 0.  I hope that this provides clarity.
#please-close

[2022-06-14 21:14] #94202 closed

[2022-06-14 21:17] cebundy commented on #93876
@zer0big  I suspect that when that your previous resource group must have been cached causing this error.  I don't this that this is a documentation issue.  If you continue to see this error, you may want to open a product issue for ACR.
#please-close

[2022-06-14 21:18] #93876 closed

[2022-06-14 21:24] cebundy commented on #94369
#assign=cebundy

[2022-06-14 21:24] PRMerger7 commented on #94369
The following users don't have valid GitHub IDs, or are not collaborators on this repo: =cebundy

[2022-06-14 21:26] #94369 closed

[2022-06-14 21:32] santhoshb-msft opened #94392 "Is the JIT field in createUI still needed?"
Is JIT field in createUIDef still needed? Looks like its automatically coming up once the checkbox is selected in the offer. Could we update the docs on that please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 068af6c1-f78a-b7cd-ab16-11f72ae79b23
* Version Independent ID: 74b9351e-b8f6-04d7-b751-6815a83f628d
* Conte

[2022-06-14 21:37] davidsmatlak commented on #93973
#please-close

[2022-06-14 21:37] #93973 closed

[2022-06-14 21:39] davidsmatlak commented on #37958
#reassign:davidsmatlak

[2022-06-14 21:44] nikki-c opened #94393 "Missing functionality for inactive users And B2B direct connect users"
The Access Review functionality has new features for inactive users And B2B direct-connect users that are not shown in your examples. See screen shot

![image](https://user-images.githubusercontent.com/69439002/173693721-5c7bdcf8-75ec-4f56-92fc-311612f7022f.png)

In public preview, B2B direct connect users and teams in shared channels are included in access reviews. B2B direct connect users and te

[2022-06-14 21:46] DevMan01 commented on #88584
+1 to this issue.

[2022-06-14 21:56] DevMan01 commented on #88584
The only way I was able to get this to work, was to use a work around.

So, yes, the instructions do not match the way peerings are now created. Some time ago Azure changed the way peerings are created from a VNET. Where once it was a two step process, it is now one step.

However DataBricks has special permissions over its VNET when you create DataBricks in such way, that it manages its own VNET.

[2022-06-14 22:04] suzizuber commented on #94390
#assign: @blueflygene please look into this and let me know if you need to make changes to the process for this article. Thanks, Suzi

[2022-06-14 22:04] PRMerger6 commented on #94390
The following users don't have valid GitHub IDs, or are not collaborators on this repo: blueflygene please look into this and let me know if you need to make changes to the process for this article. thanks, suzi

[2022-06-14 22:20] ChaitanyaNaykodi-MSFT commented on #94238
Hello @PingPongSet,
Base on your questions above.

Azure Load Balancer uses a five-tuple hashing algorithm for the distribution of inbound flows. If you have selected session persistence to be None in the Azure portal then [Hash based distribution](https://docs.microsoft.com/en-us/azure/load-balancer/distribution-mode-concepts#hash-based) model is used where the hash is used to route traffic to he

[2022-06-14 22:20] #94238 closed

[2022-06-14 22:24] rajeshsetlem commented on #94130
Hi @wapayne69, Thanks for the feedback to separate out content for SQL DB & SQL MI. We will work on a plan and execute it. Please stay tuned.

[2022-06-14 22:27] rajeshsetlem commented on #94130
#please-close

[2022-06-14 22:27] #94130 closed

[2022-06-14 22:31] JamesTran-MSFT commented on #94393
@nikki-c
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-14 22:34] pond commented on #94189
This makes sense and is in line with `GET` examples in RFC 7644 which contain no `Content-Type` header in the request, compared with all other examples for other HTTP methods where the header _is_ included. If that's how Azure AD behaves, it should be fine.

It's a minor point, but that is incorrect. https://datatracker.ietf.org/doc/html/rfc7644#section-3.8 is clearly talking about _the `Accept` h

[2022-06-14 22:40] khdownie commented on #86071
@valmark1 yes, 2022 is supported and the page has been updated to reflect this. I will now close this issue.

[2022-06-14 22:41] khdownie commented on #86071
#please-close

[2022-06-14 22:41] #86071 closed

[2022-06-14 22:50] WilliamDAssafMSFT commented on #70720
Reviewing this issue, my thoughts.
@aodugga would you say that the development environment that was generating ATP alerts was using typical deployment methods, or were they doing something unusual (even if not unsafe) with their deployments? Were they deploying via `sp_executesql` T-SQL statements to deploy or test code, for example? Triggering injection attack alerts via deployment activity doesn

[2022-06-14 22:56] MartinJaffer-MSFT commented on #94357
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-14 22:58] MartinJaffer-MSFT commented on #94359
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-14 23:01] MartinJaffer-MSFT commented on #94362
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-14 23:05] MartinJaffer-MSFT commented on #94368
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-14 23:07] MartinJaffer-MSFT commented on #94372
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-14 23:09] MartinJaffer-MSFT commented on #94372
Thank you for your feedback @Commochief  . This has been assigned to the content owner, @stevevi , and will be updated as appropriate.

[2022-06-14 23:11] MartinJaffer-MSFT commented on #94373
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-14 23:21] ChaitanyaNaykodi-MSFT opened #94396 "Typo in Documnetation"
Missing a comma in Json
![image](https://user-images.githubusercontent.com/67453298/173705076-df34f4a5-5cf9-407f-8660-fac394510639.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d523f27c-74fc-3a85-e89e-111f8bf8d276
* Version Independent ID: 50ad9ec6-a57b-72ed-8eb3-5d63737f0fe5
* Content: [Enable and work with Azur

[2022-06-14 23:22] ChaitanyaNaykodi-MSFT commented on #94396
Working on a PR

[2022-06-14 23:34] #94396 closed

[2022-06-14 23:42] Karishma-Tiwari-MSFT commented on #94383
Thanks for sharing the update.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-06-14 23:58] xuehongg commented on #93648
You may need to use @triggerBody() to get the content and parse it to obtain the file name etc. The same doc link has some mention.

![image](https://user-images.githubusercontent.com/49498706/173708584-c6431fa0-68d5-4bb1-98f8-93995c72cfd4.png)

[2022-06-15 00:23] chwarr opened #94398 "If-Modified-Since request header for Cosmos DB SQL REST API: "Returns etag of resource modified after specified date"?"
The documentation for the [If-Modified-Since request header for the Cosmos DB SQL REST API is unclear](https://docs.microsoft.com/rest/api/cosmos-db/common-cosmosdb-rest-request-headers?source=docs). I don’t know how to interpret it:

What does "Returns etag of resource modified after specified date" mean on a _request_ header? I see the ETag returned even when this header is omitted.

My expectat

[2022-06-15 00:33] carlost-MSFT opened #94399 "Need documentation on managing Azure Front Door Premium via CLI and PowerShell"
[Enter feedback here]
Documentation only shows how to manage using the portal.
Need documentation on managing Azure Front Door Premium via CLI and PowerShell.

Here are CLI and PS commands that only work with FD Standard:
https://docs.microsoft.com/en-us/cli/azure/network/front-door?view=azure-cli-latest
https://docs.microsoft.com/en-us/powershell/module/az.frontdoor/?view=azps-7.1.0

Looking for

[2022-06-15 01:09] pnarsi opened #94400 "Missing Data Explorer"
I believe Azure Data Explorer is missing from the list of event handlers. As per the description here: https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-event-grid-overview, Event Grid can be used to listen for Azure Storage and updates Azure Data Explorer to pull information when subscribed events occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-06-15 01:15] jun110 opened #94401 "It is difficult to understand the parameters of outputStream to be specified when creating DCR."
The instructions for creating a DCR to collect custom logs are confusing.

- https://docs.microsoft.com/en-US/azure/azure-monitor/agents/data-collection-text-log#create-data-collection-rule
![image](https://user-images.githubusercontent.com/25476639/173715121-648d5bf9-bf58-4ed0-9fbb-6d4d1a294628.png)

I thought the value of outputStream was the name of the table from which the custom logs are coll

[2022-06-15 01:22] pnarsi commented on #94400
Actually never mind . Reading the documentation a bit more,  the integration is actually Event Grid -> Event Hub -> Data Explorer. There is no direct Event Grid to Data Explorer integration.

[2022-06-15 01:23] KevinZonda commented on #92225
They hv removed all doc of how to create from portal. (Even the CDN section of WAF.)

[2022-06-15 01:24] thopsai97 opened #94402 "Regarding new update - Re-run a pipeline with new parameters"
If we are re-running a pipeline with new parameters how is it different from Running the same pipeline again with new parameters?

The update would have been great if the update was - Re-Run From Failed Activity with new parameters. Which will save a lot of time while debugging if the parameter is wrong.

Instead of re-running the whole pipeline for the wrong parameter - we can re-run from failed

[2022-06-15 01:32] blairmoloney commented on #94127
@ntrogh Thanks Nick.

[2022-06-15 01:32] KevinZonda commented on #92225
Ok, quite clear now, the CDN WAF is retired.

[2022-06-15 01:41] #94400 closed

[2022-06-15 02:02] LifeRyuto opened #94403 ""Can turn off SSL" should be yes for flexible server as well."
"Can turn off SSL" should be yes for flexible server as well.
Reference: https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/how-to-connect-tls-ssl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e4deba6-4073-0174-e4cf-ee02458fb764
* Version Independent ID: 13b2c9e1-283b-41b7-99f2-9008e53ee7f3
* Content:

[2022-06-15 02:09] LifeRyuto opened #94404 "Flexible server also supports Geo-redundant backup storage although it's under preview."
For "Cross region DR", flexible server also supports Geo-redundant backup storage although it's under preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e4deba6-4073-0174-e4cf-ee02458fb764
* Version Independent ID: 13b2c9e1-283b-41b7-99f2-9008e53ee7f3
* Content: [Compare Azure Database for PostgreSQL - Single Ser

[2022-06-15 02:09] danbuche opened #94405 "Dapr Servicebus component YAML code is invalid and results in error"
[Enter feedback here]
The YAML sample for creating a servicebus-based pubsub component is broken and won't be accepted through the CLI. The correct version should look like this:

`componentType: pubsub.azure.servicebus
version: v1
metadata:
- name: connectionString
  secretRef: sb-root-connectionstring
- name: lockDurationInSec
  value: 60
- name: lockRenewalInSec
  value: 30
secrets:
- name: sb-

[2022-06-15 02:16] LifeRyuto opened #94406 "Resource health is supported for flexible server as well although it's under preview."
Resource health is supported for flexible server as well although it's under preview.
https://azure.microsoft.com/ja-jp/updates/azure-resource-health-for-azure-database-for-postgresql-flexible-server-in-public-preview/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e4deba6-4073-0174-e4cf-ee02458fb764
* Version Indepen

[2022-06-15 02:16] sr-msft commented on #94404
Thank you @LifeRyuto for catching that. We will update it soon.

[2022-06-15 02:22] BryanTrach-MSFT commented on #94098
@npalmer1452 We are still in the process of obtaining a phone number, but we are getting successful error messages stating we do not have permissions to use the phone number we tried or that the phone number was an incorrect format. This tells me my sample is successfully authenticating and thus receiving error messages.

I followed the sample step by step so I would advise you to review the docum

[2022-06-15 02:39] Wiiki0807 commented on #94203
@baanders Thanks. it's more clear for the user who aren't familiar with Azure.

[2022-06-15 02:46] BillmanH opened #94407 "Roadmap to return notebooks to data explorer in Cosmos DB?"
The site says "Currently the notebook feature is temporarily disabled. Azure Cosmos DB team is working on a fix.".  Is there any roadmap to return this?

Context: The feature was removed when a vulnerability was reported in the jupyter notebook feature. Thanks to the quick response of the Azure team, the feature was stopped immediately, and a note was put up that it is 'temporary'.
![image](https:

[2022-06-15 03:39] sreekzz commented on #94355
@xujiongda @KranthiPakala-MSFT
Acknowledging this issue. Working with PM/Tech Team, update the document accordingly and inform you.

[2022-06-15 03:43] AshokPeddakotla-MSFT commented on #94377
@rmats808 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-15 04:27] SwathiDhanwada-MSFT commented on #94382
@Tomanow Thanks for your feedback.

Assigning to content author @arifgani  for review.

[2022-06-15 04:29] SwathiDhanwada-MSFT commented on #94401
@jun110 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-15 04:33] kobulloc-MSFT commented on #93518
@suzizuber I have a PR available for review which should resolve this issue.

[2022-06-15 04:39] AnuragSharma-MSFT commented on #94407
@BillmanH Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-15 04:41] AnuragSharma-MSFT commented on #94406
@LifeRyuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-15 05:00] AnuragSingh-MSFT commented on #94212
@ethanhou99, I am sorry for the delayed response. the issue being faced here seems to be because of the compatibility mode of Defender module.  `Defender` is a Windows Server module with native compatibility in PS 7. Please refer to [this link](https://docs.microsoft.com/en-us/powershell/windows/module-compatibility?view=windowsserver2022-ps) for more details.

In PS7, it is loaded with the name `

[2022-06-15 05:22] AnuragSharma-MSFT commented on #94403
@LifeRyuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-15 05:25] kenhia opened #94410 ""ListSecrets" use in the example does not exist in the module"
[Enter feedback here]
The code example shows how to list the secret id's by calling "ListSecrets"

But...
   client.ListSecrets undefined (type *azsecrets.Client has no field or method ListSecrets)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2530233-a443-a9f9-b121-5ce9f591c048
* Version Independent ID: 54535497-2fd

[2022-06-15 05:26] SreejaBhattacharya-MSFT commented on #94007
@cmpl-giedriusk , the product team is aware of this and working to find a fix. Thank You.

[2022-06-15 05:39] Chris-Burgess-ACTGOV opened #94411 "CSV file not up to date?"
Hi Team
is the csv file updated at the same time as the table 'Product names and service plan identifiers for licensing'?

It looks like there a number of orphaned parts that appear in **table** but not in **CSV**
eg (have copied and pasted but think this is all :) )
D365_MARKETING_USER
DYN365_ENTERPRISE_CASE_MANAGEMENT
DYN365_ENTERPRISE_CUSTOMER_SERVICE   D365_FIELD_SERVICE_ATTACH
Microsoft_Teams

[2022-06-15 05:44] abatishchev opened #94412 "Section Asynchronous zip deployment is present twice"
The same exactly test can be found under two sections near each other:

- https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#asynchronous-zip-deployment
- https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#asynchronous-zip-deployment-1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-06-15 05:47] Johnnytechn opened #94413 "Could you please help to update the script within the GitHub repository?"
Hi, team
The customer told us that the PowerShell script([https://raw.githubusercontent.com/Azure/RDS-Templates/master/wvd-templates/wvd-scaling-script/CreateOrUpdateAzLogicApp.ps1](https://raw.githubusercontent.com/Azure/RDS-Templates/master/wvd-templates/wvd-scaling-script/CreateOrUpdateAzLogicApp.ps1)) in this article is not available in **Mooncake**.

![](https://raw.githubusercontent.com/John

[2022-06-15 05:58] SnehaAgrawal-MSFT commented on #94331
@mikequ-taggysoft @samcarswell  Apologies you were facing issue on this, Could you please try this again, Let us know if issue remain.

[2022-06-15 06:23] Givary commented on #94302
@PiKappZ746 Azure AD Role - Authentication Policy Administrator has the privilege to unblock users from MFA. Same has been updated here.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#authentication-policy-administrator
Let me know if you have any further questions.

[2022-06-15 06:27] mikequ-taggysoft commented on #94331
@SnehaAgrawal-MSFT No changes as far as I can see. Web sockets option still missing in Linux web apps. Below is the template used to create the latest test:

[code]

[2022-06-15 06:37] bmansheim commented on #90801
@naokitakeda14 I have the changes in a PR. Thanks for triggering these changes!
#please-close

[2022-06-15 06:37] #90801 closed

[2022-06-15 06:41] AnuragSingh-MSFT commented on #94375
@cfarmermike, thank you for the question.
I checked and could not see instructions to collect the Parameters being used with sql command with Application Insights. The information here is for collecting full SQL commands - [Advanced SQL tracking to get full SQL Query](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#advanced-sql-tracking-to-get-full-sql-query).

When u

[2022-06-15 06:55] GitaraniSharma-MSFT commented on #94399
@carlost-MSFT , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-15 07:13] ofirmanor commented on #94008
@yanivlavi can you have a look?

[2022-06-15 07:14] yanivlavi commented on #94008
@liadtal is there a difference between the AI and LA payloads?

[2022-06-15 07:29] AjayKumar-MSFT commented on #94405
@danbuche,
Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-06-15 07:44] AnuragSharma-MSFT commented on #94398
@chwarr Thank you for the detailed feedback. I have tagged the author of the document to shed more light on this.

[2022-06-15 07:58] ggailey777 commented on #93055
This code is actually being generated from the Python template for Timer trigger. I'll check and see if we need to update the source.

[2022-06-15 08:22] MayankBargali-MSFT commented on #94412
@abatishchev Thank you for your feedback! We will review and update as appropriate.

[2022-06-15 08:24] shashishailaj commented on #94410
@kenhia Thank you for your feedback . We will investigate and update the thread.

[2022-06-15 08:26] PriyankaRudramaina commented on #94413
@Johnnytechn,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-15 08:31] MayankBargali-MSFT commented on #94392
@santhoshb-msft Thank you for your feedback! We will review and update as appropriate.

[2022-06-15 08:45] Leoer opened #94417 "link error"
[DoWhy](https://microsoft.github.io/dowhy/) is error(404).
Please fix the link.
![image](https://user-images.githubusercontent.com/102143373/173784050-3cba2350-c5eb-4b77-9742-a0fe0c098f34.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77728c85-be7d-5ead-d4ff-f6d3eeda8c23
* Version Independent ID: 4b36bc27-57df-722

[2022-06-15 08:55] MayankBargali-MSFT commented on #94373
@trantrung76 Thanks for reaching out. It looks more towards the feature request for the Start/Stop VM's rather than document enhancements. I will suggest you to post your feature request [here](https://github.com/microsoft/startstopv2-deployments/issues). I will go ahead and close this thread as I don't see any document issue.

Feel free to tag me if you have any queries or concerns.

[2022-06-15 08:55] #94373 closed

[2022-06-15 09:01] thirotane opened #94418 "HTTP trigger functions returns 500 error if it does not complete within 230 seconds."
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=in-process%2Cfunctionsv2&pivots=programming-language-csharp#limits

In "Limit" section, it says that Azure Load Balancer returns HTTP 502 error if the HTTP trigger doesn't complete within 230 seconds.
However, when I run HTTP trigger functions which doesn't complete within 230 seconds, and it return

[2022-06-15 09:15] w0ut0 opened #94419 "When not providing an AZDO PAT, is the current user's AAD token used forever?"
In the document, the following is documented:
[code]

Does this mean when user A adds the AZDO repo (without providing a token/password), that user A's AAD token is saved and always used, even when user B does a pull/push?

Or does the above section implicate that user A's access token is used for the initial connection (one-time), and for subsequent pushes/pulls, the respective user's token is us

[2022-06-15 09:18] Leoer opened #94421 "link is 404"
Docs link: https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-pipeline-python-sdk#next-steps
[Link](https://github.com/Azure/azureml-examples/blob/sdk-preview/notebooks/mlflow/mlflow-v1-comparison.ipynb) is 404.
Please fix it.
![image](https://user-images.githubusercontent.com/102143373/173791271-980e5154-12af-4028-a5d1-17084497887e.png)

---
#### Document Details

⚠ *Do not edit thi

[2022-06-15 09:26] CraigGardinerDXC commented on #42737
Hi, I have created my Bastion NSG rules identical to the rules mentioned in the KB https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg and whilst deploying the NSG as part of a blueprint I still receive the error "NetworkSecurityGroupNotCompliantForAzureBastionSubnet" is this documentation up to date?

![BastionNSG](https://user-images.githubusercontent.com/74206397/173793126-8aa6eca6-82e5-

[2022-06-15 09:30] MayankBargali-MSFT commented on #94418
@thirotane Thank you for your feedback! We will review and update as appropriate.

[2022-06-15 09:49] ram-msft commented on #94417
@Leoer Thanks for the question. We are investigating the issue and will update you shortly.

[2022-06-15 09:50] ram-msft commented on #94421
@Leoer Thanks for the question. We are investigating the issue and will update you shortly.

[2022-06-15 10:13] huwjeffries opened #94423 "Security group is an ambiguous term - change to AD Groups?"
Where this page talks about "Security Groups" does it mean "Active Directory Groups"? If so please can you change the wording to AD groups to avoid confusion? (Searching the web for "Azure security groups" only returns Network Security groups, which are not relevant here).

This is a very helpful page. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-06-15 10:23] AdamWyzgol opened #94424 "Missing --priority parameter for create command"
To sample application-gateway create command --priority "1" is missing, regarding error message it's mandatory since 2021-08-01

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Tutorial: Enable Ingress Controll

[2022-06-15 10:32] Givary commented on #94423
@huwjeffries  Thanks for your feedback. We will investigate and update as appropriate.

[2022-06-15 10:48] dominicbetts commented on #94377
Hi @rmats808 - thanks for getting in touch.

There's a couple of things to check:

- Did you see the dashboard (Overview) with data from the phone earlier in the quickstart? The screenshot shows what you should see - battery level, altitude, maps, etc?
- Do you have the latest version of the phone app installed?
- It sounds like you may have clicked the **Manage device > Command** menu option inst

[2022-06-15 11:10] ameetkonnur commented on #94258
***@***.***

Still gives this error.

--
Ameet

From: Ameet ***@***.***>
Sent: 14 June 2022 20:41
To: ***@***.***>; ***@***.***>
Cc: ***@***.***>
Subject: RE: [MicrosoftDocs/azure-docs] extension type microsoft.dapr is not registered in region centralindia (Issue #94258)

Will try doing this and get back.
Is this documented as a pre-requisite on our docs ? I may have missed it.

thanks
--
Ameet

F

[2022-06-15 11:40] ttq-ak opened #94425 "Does the Service Bus Explorer in the portal support sending without using websockets?"
Is there a way to use the Service Bus Explorer to send a message in the portal without websockets?

Websockets are blocked behind our work proxy by default, and we're unable to use the "send messages" without a "websocket connection failed" error appearing in devtools.

Is there a way to not use the websockets from in the portal? Or have it automatically fallback?

Thanks
---
#### Document Details

[2022-06-15 11:47] jamescrowley opened #94426 "Document 'system' level AML yaml variables available"
It would be helpful to document the global v2 YAML arguments available in the ML pipeline YAML - for instance $${{name}} provides the name/id of the current run - found this buried in an example.

As another example, it would be useful to access the parent run id/name in order to set input/output paths specific for the whole pipeline run, but it's not clear from the documentation if this is possib

[2022-06-15 11:48] SnehaAgrawal-MSFT commented on #94331
@mikequ-taggysoft Could you please send an email with subject line “Attn:Sneha |thread title” to AzCommunity@microsoft.com referencing this thread with your Azure subscription ID, I will follow-up with you.

[2022-06-15 11:51] Gouravkala opened #94427 "hyper-v migration to Azure"
[Enter feedback here]
Hi Team, we are planning to migrate Hyper-V VMs from on-prem to Azure , we have used  Movere tool as discovery & assessment. could you please confirm do we need to still deploy Azure migrate: server migration tool for hyper-V VMs migration as we don't want to discover and asses VMs now as all these VMs are already discovered by Movere tool or we just need to install  Hyper-V

[2022-06-15 11:52] gbmarimuthu opened #94428 "Databricks SQL External Metastore SessionHiveMetaStoreClient"
[Enter feedback here]
Please Updated the resolution for Problem 2: Hive metastore verification failed
for Databricks SQL use
spark.hive.metastore.schema.verification false
spark.hive.metastore.schema.verification.record.version false

We have limited support for spark configuration in Databricks SQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-06-15 12:01] #94272 closed

[2022-06-15 12:12] seesharprun commented on #94407
Thanks @BillmanH for the question.

#assign:seesharprun

Generally, we cannot answer specific roadmap or feature questions here on Docs as this GitHub repository is for public documentation content.

If you want to post somewhere where you will get more traction, I suggest posting on the [Feedback forum](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858) or the [Q

[2022-06-15 12:12] PRMerger16 commented on #94407
The following users don't have valid GitHub IDs, or are not collaborators on this repo: annot answer specif

[2022-06-15 12:22] AjayKumar-MSFT commented on #94402
@thopsai97, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-15 12:33] AjayKumar-MSFT commented on #94400
pnarsi, Thanks for leveraging Azure docs feedback channel to raise this question.

No worries. Much appreciate the follow-up and update.

[2022-06-15 12:36] #94123 closed

[2022-06-15 12:39] mathiasi commented on #86803
We are also affected by this.

[2022-06-15 12:53] AnuragSingh-MSFT commented on #94392
@santhoshb-msft, thank you for your feedback. I am assigning this issue to the content team for further review and update.

@MSEvanhi, can you please review this feedback and share your thoughts? Thank you

[2022-06-15 12:54] shashishailaj commented on #94067
@georgin-lau Apologies for the delay in handling this query . We are trying to get more information from Product group on this and we will update the thread. Generally it is difficult to provide exact timelines but if we get anything , I will update the thread.

[2022-06-15 13:06] GitaraniSharma-MSFT commented on #94424
@AdamWyzgol , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-15 13:13] SkillieZA commented on #87875
I had the same problem. We are using failover groups, and I had to create the login on the secondary server. Turns out you cannot do this for the server-admin, it must be a normal login.

[2022-06-15 13:20] #94140 closed

[2022-06-15 13:20] SreejaBhattacharya-MSFT commented on #94277
Thanks @lauradolan

[2022-06-15 13:23] SreejaBhattacharya-MSFT commented on #94199
@bandersmsft could you please look into this?

[2022-06-15 13:38] JonathanPitre commented on #75717
Can you please update the doc and fix those icalcs commands already ?

[2022-06-15 13:42] Nicholak-MS commented on #93143
@korpx The SKU's identified above have been added to the online document as well as the downloadable CSV. Thanks!

@Please-Close

[2022-06-15 13:42] #93143 closed

[2022-06-15 13:49] Nicholak-MS commented on #93125
@ratty67 the above SKU's have been added to the online document as well as the downloadable CSV. Thanks

#please-close

[2022-06-15 13:53] smallzfsu opened #94432 "Note is cut off"
The Note at the top of the page is cut off.  It says 'VM insights does not currently support [Azure Monitor agent](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview). You can' but doesn't expand or inform on what I can do.  I can have a bowl of ice cream?  I can go for a walk?  I must know.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-06-15 13:54] SreejaBhattacharya-MSFT commented on #93423
@rumatavz any update?

[2022-06-15 14:02] MicrosoftGuyJFlo commented on #94208
Hybrid Azure AD joined devices are joined to Active Directory Domain Services (on-premises) and Azure Active Directory. Their source of truth is on-premises Active Directory Domain Services. The information in the article is correct. If you want to request a change to the feature please use the "This Product" link at the bottom of the article. #please-close

[2022-06-15 14:16] cchapin2020 opened #94433 "RBAC requirements needed"
[Enter feedback here]
The RBAC required to create an Attestation Provider needs to be included on this page or on the various quick start pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b22057d4-94e3-1a39-9cb2-4320838bc748
* Version Independent ID: 7f67afa0-4ef4-8cc8-c9ef-647e91ab18bc
* Content: [Azure Attestatio

[2022-06-15 14:17] Nicholak-MS commented on #93801
Hi @thomasjsweet The product ID for Microsoft 365 Business Standard is correctly shown as O365_BUSINESS_PREMIUM.

Thanks
Nick

#please-close

[2022-06-15 14:17] #93801 closed

[2022-06-15 14:21] MicrosoftGuyJFlo commented on #93460
@SanDeo-MSFT Can you provide feedback on this issue?

[2022-06-15 14:33] SadiqhAhmed-MSFT commented on #94427
@Gouravkala Thank you for posting your question. We will look into this and get back to you soon.

[2022-06-15 14:35] MonikaReddy-MSFT commented on #94432
@smallzfsu - Thanks for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-15 14:35] #94432 closed

[2022-06-15 14:45] HitenBhavsarMSFT opened #94434 "Missing Managed identities page. on the step 2, https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/quickstart-bulk-load-copy-tsql-examples"
**Missing Managed identities page on Azure portal**
I have checked on the 2 portal sites.
https://ms.portal.azure.com/
https://preview.portal.azure.com/

https://ms.portal.azure.com/
![image](https://user-images.githubusercontent.com/72768193/173856796-28e492de-c606-4851-bf65-5667f66acf2a.png)

https://preview.portal.azure.com/
![image](https://user-images.githubusercontent.com/72768193/173856681-

[2022-06-15 15:00] softcloudservices opened #94435 "closing browser or tab retaining AD B2C session after opening again."
I have an Web Application built on node js   react  SPA with Azure AD B2C as authentication, When the session is active and when we close the browser, On re opening the link the screen is automatically log in without asking for credentials, So My requirement is on closing browser all the tokens needs to be cleared and re login should be prompted.

I am using custom policy i have following code in

[2022-06-15 15:02] KrishnaG-MSFT commented on #94178
@Borgquite We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-06-15 15:02] #94178 closed

[2022-06-15 15:18] skandupmanyu commented on #67976
Now that VSCode extension is retiring as mentioned in the doc, what are the plans to use PyCharm/VSCode to develop .py scripts instead of notebooks?

[2022-06-15 15:21] jdoblams opened #94436 "Permissions necessaries to perform the Purge"
Hi Team, it will be important to add into the documentation the next permissions are necessaries to perform the purge of the soft-deleted APIM

`"Microsoft.ApiManagement/locations/deletedservices/delete"
  "Microsoft.ApiManagement/deletedservices/read"`

This is important because under the built-in role "API Management Service Contributor" those permissions aren't granted.

It is also necessary ad

[2022-06-15 15:24] JamesTran-MSFT commented on #94435
@softcloudservices
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-15 15:28] bandersmsft commented on #94199
@SreejaBhattacharya-MSFT Yes, I'm investigating this with the Billing engineering team. I'll CC you in email offline.

[2022-06-15 15:39] softcloudservices commented on #94435
Thanks @JamesTran-MSFT   for you quick response  you can  access full policy code from below link
https://github.com/softcloudservices/AADHTTP/blob/master/B2C_1A_signup_signin_ild.tokenized.xml

[2022-06-15 15:42] #94098 closed

[2022-06-15 15:43] sdgilley commented on #93935
@aronchick - the error message indicates that you used this with a compute _instance_, not a compute _cluster_.  Compute instances do not yet support managed identity.

Can you give details of the type of compute you used when you got the error?

[2022-06-15 15:51] MughundhanRaveendran-MSFT commented on #94210
@sadiqkhoja , I will change the documentation as Isbatched property is not present for Isolated process. It will be reflected soon. Thanks for the feedback. I will close this issue for now. Feel free to reopen if you have any further questions

[2022-06-15 15:51] #94210 closed

[2022-06-15 15:57] dalehhirt opened #94437 "TemplateFile for .NET Core Runtime does not use currentStack parameter"
In the parameter files for .NET Core Runtime and ASP.NET runtime, they list a value for the currentStack parameter.  However, the template files do not make use of the parameter at all.

Is currentStack no longer supported in ARM?  I can't find any documentation anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-06-15 15:59] JamesTran-MSFT commented on #93415
@trs80
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-15 16:04] ram-msft commented on #94426
@jamescrowley Thanks for the question. we are investigating the issue and will update on the same.

[2022-06-15 16:05] lostmygithubaccount commented on #94426
@jamescrowley It looks like you probably found that example here: https://github.com/Azure/azureml-examples/blob/main/cli/jobs/basics/hello-pipeline-customize-output-folder.yml#L14

@balapv can you help to document this and any other similar things in the YAML references? (also should probably transfer ownership of these doc articles so you or someone gets pinged) tagging @paulshealy1 as well

I w

[2022-06-15 16:08] vhorne commented on #63718
This article was retired, so the content no longer exists.
#please-close

[2022-06-15 16:10] SwathiDhanwada-MSFT commented on #94437
@dalehhirt Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-15 16:19] artieroggeband opened #94438 "Terraform Parameters table structure is different from most others on teh page"
Probably just an OCD thing, however, there's something to say for consistency, when copying the variables, type, and descriptions in the Terraform Parameters section/paragraph, i noticed that the description and type are switched in position.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1df2dc-5dcf-3411-75df-290d96

[2022-06-15 16:33] jamescrowley commented on #94426
@lostmygithubaccount yep, that was exactly it. I was hunting around for the second use-case I mentioned, and stumbled across it.

[2022-06-15 16:40] TheSaltyKorean commented on #94236
You should mention that there is a quota. Don't just be lazy and try and close it out.  Why do you think I'm bringing it up?  I shouldn't have to find out by running into the quota.

[2022-06-15 16:44] sadukie opened #94441 "Differential Privacy How-to Demo is broken"
Calls to `sn.cast()` require a parameter of `atomic_type` instead of `type`.  Running the code in the document in my own notebook returns:

[code]

Is there a particular version of Smart Noise that should be used with this Differential privacy how-to document? That might be helpful to call out.

Looking at the Smart Noise repo, it looks like they changed from `type` to `atomic_type` as of [May 5,

[2022-06-15 16:52] #93904 closed

[2022-06-15 16:54] kobulloc-MSFT commented on #93904
@JeffSmalley A PR is out to remove the statement about Overprovisioning being the default value until all deployment experiences are unified.  Thank you for bringing this to our attention!

[2022-06-15 17:02] zr-msft commented on #94227
Thank you for the feedback!

We've considered the update, but we're leaving the doc as is for now.

#please-close

[2022-06-15 17:02] #94227 closed

[2022-06-15 17:03] zr-msft commented on #94226
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-06-15 17:03] #94226 closed

[2022-06-15 17:03] kobulloc-MSFT commented on #94365
@DeanCefola I checked with the product group and confirmed that the Windows Client is supported.  The documentation now elaborates on this a bit:

[2022-06-15 17:07] dani3lheidemann commented on #94364
@kobulloc-MSFT, thanks for your answer! Will do so 😊👍

[2022-06-15 17:09] suzizuber commented on #93518
@kobulloc-MSFT I'll look for the PR update, thank you for your help on this as well. Can this PR be closed out?

[2022-06-15 17:12] KranthiPakala-MSFT commented on #94428
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-15 17:18] khdownie commented on #19797
@gacurtin apologies that this was ignored for literally years. I've added the unregister PowerShell command to the doc.

[2022-06-15 17:18] khdownie commented on #19797
#please-close

[2022-06-15 17:18] #19797 closed

[2022-06-15 17:19] kobulloc-MSFT commented on #94364
@dani3lheidemann Thank you!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-15 17:19] #94364 closed

[2022-06-15 17:21] KranthiPakala-MSFT commented on #94434
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-15 17:22] KranthiPakala-MSFT commented on #94434
@WilliamDAssafMSFT - Could you please have a look at the above feedback and provide an update as appropriate? Looks like the docs need to be updated accordingly if there is a change in Azure Portal.
Thank you

[2022-06-15 17:25] kmccullagh19 opened #94444 "ListVMInstanceViews by doing a REST API GET is not providing Fault Domain information"
According to the [VMSS FAQ doc](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-get-property-information-for-each-vm-without-making-multiple-calls--for-example--how-would-i-get-the-fault-domain-for-each-of-the-100-vms-in-my-virtual-machine-scale-set-), you can obtain fault domain information for each instance by running a REST API GET call

[2022-06-15 17:28] #94314 closed

[2022-06-15 17:29] cburuzie commented on #93957
#reassign:thisisanniefang

[2022-06-15 17:32] Karishma-Tiwari-MSFT commented on #94438
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-15 17:32] EllieNosrat opened #94445 "Feedback on training material for ML pipelines"
Codes are incomplete and cannot be executed as written in the document. Also, it refers to files that don't exist.
If you can share the whole project as a git repo it would help a lot.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4658aec-a0e6-174

[2022-06-15 17:38] WilliamDAssafMSFT commented on #94434
Thanks for catching this @HitenBhavsarMSFT. This was removed in November and changed in _almost_ all the docs, I see. I'll get this doc updated shortly. #please-close

[2022-06-15 17:38] #94434 closed

[2022-06-15 17:39] WilliamDAssafMSFT commented on #94434
To followup: The "Allow Pipelines" step is no longer necessary. The system assigned managed identity (SA-MI) of the workspace is a member of the Synapse Administrator role and thus has elevated privileges on the dedicated SQL pools of the workspace.

[2022-06-15 17:39] ggailey777 commented on #94210
Here's the in-process extension source code: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/extensions/Worker.Extensions.ServiceBus/src/ServiceBusTriggerAttribute.cs#L76

[2022-06-15 18:06] YutongTie-MSFT commented on #94441
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-15 18:10] nzthiago commented on #93200
This is related to https://github.com/Azure/azure-functions-host/issues/8448. This was caused by an internal platform component, and I’ll update/close this issue when the component fix has been fully released. Unfortunately, the ETA for a full roll out is within the next 3 to 4 months.

[2022-06-15 18:11] ltalirz opened #94446 "Documentation on infiniband partition keys outdated"
The section on setting partition keys assumes a folder layout
[code]

However, I believe this is no longer the case on the CentOS-HPC image, see [MS blog post](https://techcommunity.microsoft.com/t5/azure-global/accelerated-networking-with-h-series-vms-on-azure-for-older-os/ba-p/2205464).
The new layout is
[code]

Besides this update, may I suggest a few more changes:

1) The sentence `UCX require

[2022-06-15 18:20] GeethaThatipatri-MSFT commented on #94259
Thanks, @GennadNY for the information.
@rarandiv please let us know if you have any additional questions

[2022-06-15 18:29] #62503 closed

[2022-06-15 18:37] Justinha commented on #75670
@mosesmosheh Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-15 18:37] #75670 closed

[2022-06-15 18:38] vinayp0812 commented on #67794
Hi @ggailey777
I was going through the below documentation -

https://github.com/Azure-Samples/function-app-arm-templates/wiki/App-Settings-for-Function-Apps#website_run_from_package

https://docs.microsoft.com/en-us/samples/azure-samples/functions-storage-managed-identity/using-managed-identity-between-azure-functions-and-azure-storage/

I am facing the issue while deploying the azure function wi

[2022-06-15 18:51] haydanbarry opened #94447 "Role Required to Perform Azure AD User/Token Revocation"
[Enter feedback here]
Could this article be updated to highlight exactly what Azure AD role is required to disable a user and revoke a token / device in Azure AD?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b38e3c-c054-794a-70af-ce9d2ec70507
* Version Independent ID: 04653c31-670f-ebd4-da07-072ea5503483
* C

[2022-06-15 18:51] kobulloc-MSFT commented on #94262
@joniba It looks like you'll need to increase your vCPU quota:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/per-vm-quota-requests

It's worth noting that there are vCPU quotas both for your VM family as well as for regional vCPUs (this would prevent someone from using all the GPU family VMs or blocking out availability in US East, for example).  In addition to the portal, you

[2022-06-15 18:53] kobulloc-MSFT commented on #94242
@trwhitcomb We've assigned this to the document author for further review.

[2022-06-15 18:58] erik-ha-msft commented on #94242
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-06-15 18:58] #94242 closed

[2022-06-15 19:05] joniba opened #94448 "role assignment creation fails"
Command: `PASSWORD=$(az ad sp create-for-rbac --name $SERVICE_PRINCIPAL_NAME --scopes $ACR_REGISTRY_ID --role acrpull --query "password" --output tsv)`

Returns the following warnings and error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622be52c-4745-7122-700e-38a64223a698
* Version Independent ID: 380df4f6

[2022-06-15 19:07] HitenBhavsarMSFT commented on #94434
@WilliamDAssafMSFT  Thank you for Quick update on the doc

[2022-06-15 19:09] JamesTran-MSFT commented on #94447
@haydanbarry
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-15 19:14] #81940 closed

[2022-06-15 19:15] #69343 closed

[2022-06-15 19:16] Justinha commented on #81013
@shballa-msft Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2022-06-15 19:16] #81013 closed

[2022-06-15 19:18] Justinha commented on #80785
@c3rberus the registry setting is related to feature work that is not yet released and we have no additional content for it. #please-close

[2022-06-15 19:18] #80785 closed

[2022-06-15 19:19] billmath commented on #75229
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-06-15 19:19] #75229 closed

[2022-06-15 19:20] billmath commented on #75330
Thank you for your issue submission. Unfortunately, this appears to be a problem with the sync rule and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https

[2022-06-15 19:20] #75330 closed

[2022-06-15 19:20] #94417 closed

[2022-06-15 19:20] YutongTie-MSFT commented on #94417
It has been fixed, thanks.

[2022-06-15 19:22] timwarner-msft commented on #94135
Hi @gherik. Done! I edited the third example; you should see the change within 24 hours. Thanks, Tim

[2022-06-15 19:22] #94135 closed

[2022-06-15 19:23] billmath commented on #75600
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-06-15 19:23] #75600 closed

[2022-06-15 19:25] billmath commented on #75837
Azure SQL database is not supported means all instances of Azure SQL.

Thanks!

#please-close

[2022-06-15 19:25] #75837 closed

[2022-06-15 19:25] suzizuber commented on #94390
@DWeda1 thank you for your feedback and inquiry. Unfortunately, we don’t install HCX-Enterprise by default as per design. Once we have the decision on the cost for HCX-Ent in AVS pricing, we can revisit this if we want to automate the HCX-Enterprise installation.

[2022-06-15 19:26] suzizuber commented on #94390
#please-close

[2022-06-15 19:26] #94390 closed

[2022-06-15 19:26] billmath commented on #76091
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-06-15 19:26] #76091 closed

[2022-06-15 19:29] billmath commented on #76625
No this is not needed at this time.
Thanks!

#please-close

[2022-06-15 19:30] Justinha commented on #79117
@fixx-er Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-15 19:30] #79117 closed

[2022-06-15 19:31] billmath commented on #84005
Thank you for your issue submission. Unfortunately, this appears to be a support/consult issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

#p

[2022-06-15 19:31] #84005 closed

[2022-06-15 19:32] #84093 closed

[2022-06-15 19:32] billmath commented on #84340
Thank you for your issue submission. Unfortunately, this appears to be a support/consult issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

#p

[2022-06-15 19:33] #84340 closed

[2022-06-15 19:34] billmath commented on #84499
Yes, the video has been removed.

#please-close

[2022-06-15 19:34] #84499 closed

[2022-06-15 19:40] #93518 closed

[2022-06-15 19:43] weyCC81 commented on #84005
This is clearly not a support issue, please give a recommendation in the support document!
#please-reopen #reopen

[2022-06-15 19:48] billmath commented on #84539
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-06-15 19:48] #84539 closed

[2022-06-15 19:49] #84538 closed

[2022-06-15 19:50] billmath commented on #84576
Support for 2022 is not official yet.  Thanks!

#please-close

[2022-06-15 19:50] #84576 closed

[2022-06-15 19:52] billmath commented on #84736
Thank you for your issue submission. Unfortunately, this appears to be a support/consult issue.   The resolution for these issues typical require the assistance of support.  You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: ht

[2022-06-15 19:52] #84736 closed

[2022-06-15 19:53] billmath commented on #84724
Thank you for your issue submission. Unfortunately, this appears to be a support/consult issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

#p

[2022-06-15 19:53] #84724 closed

[2022-06-15 19:56] billmath commented on #85027
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-06-15 19:56] #85027 closed

[2022-06-15 20:03] hvoerman opened #94449 "How-To-Access the file share from the webserver (App Service)"
Please extend this page with a working example on how to actually access the file share from the AppService.

A directory mapping is not allowed as the shares are mounted on D:\mounts which is outside wwwroot.

I saw some undocumented environment variables:
D:\home>set  | findstr mount
AZUREFILESSTORAGE_media=***********|media|[REDACTED]|/mounts/media|
WEBSITE_MOUNT_media=D:\mounts\media

Please e

[2022-06-15 20:05] kobulloc-MSFT commented on #94322
@Anand-Moghe Contrasting the [15 GB container image size limit](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-faq#how-large-can-my-container-image-be-) for Azure Container Instances (ACI), there doesn't appear to be a limit on the size on a container image size in AKS.  However Max goes into more detail as to a potential limit based on resources or overall availabl

[2022-06-15 20:06] yoelhor commented on #92641
Sorry for the delay (I was OOF). The only way I'm familiar with is using custom policies. Unfortunately we don't have this feature in user flows for the next while.

[2022-06-15 20:10] ekpgh opened #94450 "Link on "kubenet" goes to a page that doesn't mention "kubenet""
I expected to learn what "kubenet" means when I clicked the link in the first sentence, but the external link goes to a page that describes CNI network plugins and doesn't use the term kubenet. (The URL includes "#kubenet" - https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#kubenet)

If "kubenet" is a nickname or shorthand term, maybe it needs to be defined

[2022-06-15 20:21] James-Hamil-MSFT commented on #94264
Hi @xtianus79 , do you still need help with this?

[2022-06-15 20:23] #94323 closed

[2022-06-15 20:24] JamesTran-MSFT commented on #94324
@carosil
I wanted to check in and see if you were able to review my previous post or if you have any other questions?

[2022-06-15 20:27] JamesTran-MSFT commented on #94388
@josuvil
I spoke with the author offline and @twimmers will look into this internally to get the app removed from the Gov cloud gallery. I'll go ahead and close this out as we continue to work on this.

If you have any questions, feel free to reach out to either of us for any updates.
Thank you for your time and patience on this!

[2022-06-15 20:27] #94388 closed

[2022-06-15 20:28] carosil commented on #94324
I actually didn't find it in the docs, I checked in a few different AAD tenants and in all of them the what-if tool was evaluating policies in report-only mode.

[2022-06-15 20:32] seesharprun commented on #94082
#assign:seesharprun

I am working with @GeethaThatipatri-MSFT to get this resolved now.

[2022-06-15 20:32] PRMerger19 commented on #94082
Users seesharprun are already assigned.

[2022-06-15 20:49] normesta commented on #74297
Hello - I see that you've posted here to this issue as well - https://github.com/Azure/azure-storage-azcopy/issues/289. Looks like @zezha-msft replied by stating that "0" is for success and non-zero is failure with a caveat that for AzCopy V10, it's not advised to retry but instead use the jobs resume command - which is documented pathway. Are you expecting to see (in docs) each non-zero error cod

[2022-06-15 20:55] Justinha commented on #79289
@tadwimmer sorry for delay. you didnt mention if this is AAD or B2C tenant. If AAD and you are using Email as Alt ID, perhaps we can help further. Otherwise, we samples for B2C and VC that might help you: https://github.com/Azure-Samples/active-directory-verifiable-credentials/tree/main/B2C

[2022-06-15 21:03] camillek-db commented on #50023
Thank you for your feedback. This issue was fixed some time ago. I'll close this issue.

#please-close

[2022-06-15 21:03] PRMerger5 commented on #50023
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-06-15 21:03] normesta commented on #24841
Hello AzCopy v8 docs are currently archived. Looking at the link referenced by this issue, it looks like the feedback applied to the linux v8 version of the AzCopy docs. The AzCopy V10 article (by design) omits installation specifics associated with Linux distrubutions.  This keeps guidance about install commands in the hands of the docs for any given distribution and keeps the focus of our AzCopy

[2022-06-15 21:03] #24841 closed

[2022-06-15 21:04] camillek-db commented on #50023
#please-close

[2022-06-15 21:04] PRMerger-2 commented on #50023
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-06-15 21:05] ianc911 commented on #74297
"Are you expecting to see (in docs) each non-zero error code and a definition?"

I think that was the desire, yes. If that information exists and can help people trying to use azcopy for scripting purposes, why not publish it?

From: Norm Estabrook ***@***.***>
Sent: Wednesday, June 15, 2022 1:50 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ian Campbell ***@***.***>; Author ***@***.***>
Subjec

[2022-06-15 21:06] ssivas commented on #94152
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-15 21:10] #94229 closed

[2022-06-15 21:10] zr-msft commented on #94229
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2022-06-15 21:12] amycolyer opened #94452 "Error when attempting to resize OS disk"
After following all the steps to register the LiveResize provider and use the URL https://aka.ms/iaasexp/DiskLiveResize

I still get the following error
Failed to update disk 'xx_OsDisk_1_67db7af7e5164c85a2db27f3a4365620'. Error: Change in disk property of OS disk '' is not allowed when VM is running

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-06-15 21:18] normesta commented on #74297
Thank you @ianc911 I can see no reason myself. @zezha-msft is there a legal or other concern over not making this information public?

[2022-06-15 21:23] normesta commented on #92982
Hello @VitalyMCT that limitation has now been addressed and the limitation is removed from the doc. Sorry for the confusion.

#please-close

[2022-06-15 21:23] #92982 closed

[2022-06-15 21:24] o-l-a-v opened #94454 "UDR service tags requires specific NSG rules, not covered by outbound 65001 "Internet""
If one add specific Service Tags to an UDR (user defines routing table), default NSG rule 65001 allow destination "Internet" does not cover it.

Please document this.

Reference / more context:

- https://www.reddit.com/r/AZURE/comments/rv08q2

[2022-06-15 21:33] cachai2 commented on #92727
#reassign:@nzthiago

[2022-06-15 21:40] jaldinger opened #94455 "Migration steps for linux-based VMs not mentioned"
The section answering question "How do I migrate from a VM size with local temp disk to a VM size with no local temp disk?" only refers to Windows VMs, since steps 1 and 2 are Windows actions. It should at least be mentioned if following only steps 3 and 4 is the required procedure for Linux VMs.

Or, to make it even clearer:
If Windows... these are the steps: ...
If Linux... those are the steps..

[2022-06-15 21:43] MashaMSFT commented on #92360
Hi @fracol  and @ussvgr , thanks so much for reaching out and letting us know! Since the issue is resolved, I'll proceed with closing out this Git Issue.

Thanks again and hope you both have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-06-15 21:43] #92360 closed

[2022-06-15 21:44] MashaMSFT commented on #91778
Hi @L-u-k-e-GIT , thanks so much for reaching out and helping improve our documentation! Since the issue has been resolved, I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-06-15 21:44] #91778 closed

[2022-06-15 21:53] TerryLanfear commented on #71253
@cynthn @psmanhas - The PM for Microsoft Antimalware stated that he will take some time to improve this article but I don't have a delivery date. I can close with a "fix is coming" or do you think it should remain open?

[2022-06-15 21:55] MashaMSFT commented on #91873
Hi @KeeveySongMS , thanks for contacting Microsoft! @WilliamDAssafMSFT would you be able to assist with this Git Issue?
#reassign:WilliamDAssafMSFT

Thanks!
Masha from the SQL Docs team

[2022-06-15 21:55] MashaMSFT commented on #90797
Hi @toastjoqo , thanks for contacting Microsoft! @WilliamDAssafMSFT would you be able to assist with this Git Issue?
#reassign:WilliamDAssafMSFT

Thanks!
Masha from the SQL Docs team

[2022-06-15 22:07] msmbaldwin commented on #79512
Hi, @t-omo-t. We are in the process of producing new security baselines that conform to the [Azure Security Benchmark v3](https://docs.microsoft.com/en-us/security/benchmark/azure/overview).  The baseline for Azure SQL Database is slated to be published on July 1st. When it is released, it will overwrite this baseline, and your issue will be resolved. Thank you! #please-close

[2022-06-15 22:07] #79512 closed

[2022-06-15 22:16] MashaMSFT commented on #87243
Hi @LifeRyuto , thanks for contacting Microsoft! The documentation has been updated so we'll close out this Git Issue but please feel free to comment should you need anything further :)

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:rajeshsetlem
#please-close

[2022-06-15 22:16] #87243 closed

[2022-06-15 22:25] #93935 closed

[2022-06-15 22:26] #94337 closed

[2022-06-15 22:26] KranthiPakala-MSFT commented on #94337
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-06-15 22:30] sdgilley commented on #93935
I added a note to the document to clarify that managed identity works only with compute clusters, not compute instances.  If this isn’t what went wrong for you, please reopen this issue.

[2022-06-15 22:33] MashaMSFT commented on #94321
Hi @sicil1ano , thanks for bringing this to our attention! We've processed a change to update the documentation, and it should be live later this week. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-06-15 22:33] #94321 closed

[2022-06-15 22:45] jainr commented on #51914
I am facing similar issue, I am using Azure CLI to create an AAD app. Then using the CLI command in my ARM template as part of deploymentScript. For identity, I pass a user defined identity with contributor access but it gives me error about privileges. Is there any other permission/role I need to assign to this user managed identity?

[2022-06-15 22:48] Justinha commented on #80004
@mbendana Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-15 22:48] #80004 closed

[2022-06-15 22:50] kobulloc-MSFT commented on #94452
@amycolyer Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-15 22:53] mike-urnun-msft commented on #94425
Thank you for your feedback! We will review and update as appropriate.

[2022-06-15 22:57] mike-urnun-msft commented on #94436
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-15 22:59] kobulloc-MSFT commented on #94444
@kmccullagh19 Thank you for your feedback!  We've assigned this to the document author for review.

[2022-06-15 23:02] kobulloc-MSFT commented on #94446
@ltalirz Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-06-15 23:07] kobulloc-MSFT commented on #94450
@ekpgh Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-15 23:08] kobulloc-MSFT commented on #94448
@joniba Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-06-15 23:16] JimacoMS4 commented on #93932
Hi @bniranjanbhat,

Thanks for your feedback. The topic has been updated: https://docs.microsoft.com/en-us/azure/iot-dps/concepts-symmetric-key-attestation?tabs=windows#group-enrollments. Please let me know if anything further needs to be done. I'll leave this open until the end of the week to give you a chance to provide feedback.

Thanks again,

Jimaco

[2022-06-15 23:16] s7s7s7 opened #94457 "Wrong Namespace for CosmosClient in Migration Documentation"
It should be `Microsoft.Azure.Cosmos.CosmosClient`, instead of `Microsoft.Azure.CosmosClient`
![image](https://user-images.githubusercontent.com/29487160/173957628-5b1796b9-4487-4ecf-a586-45f500891f81.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ee5ae7-e8d3-25b7-9e56-b2d056039533
* Version Independent ID: 3927

[2022-06-15 23:46] cynthn commented on #71253
I think it is fine to close this with "fix is coming".

[2022-06-16 00:00] lsprado commented on #93243
Hi folks... I have the same issue

 uses: azure/webapps-deploy@v2.2.3
        name: Deploy APP
        with:
          app-name: ${{ env.AZ_APP_NAME_CONTAINER }}
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_APP_CONTAINER }}
          images: '${{ env.ACR_SERVER }}/projetodemo.webapp:$GITHUB_RUN_NUMBER'

Any solution here?

[2022-06-16 00:19] MartinJaffer-MSFT commented on #94433
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-16 00:20] MartinJaffer-MSFT commented on #94433
Thank you for your feedback. This has been assigned to the content owner @msmbaldwin , and will be updated as appropriate.

[2022-06-16 00:21] MartinJaffer-MSFT commented on #94454
Thank you for bringing this to our attention @o-l-a-v .  To better assist you, could you please identify which document this is in reference to?

[2022-06-16 00:24] masters3d opened #94458 "How does dapr connect across Container Apps"
[Enter feedback here]

Still learning it seem that each container apps had its own dapr side cart. How does it work if I hand to talk to the another container app ( in the same environment ) via dapr? This part was not clear to me.

Also if I have multiple containers in the same app. Which container gets the ingress port forward?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-06-16 00:24] MartinJaffer-MSFT commented on #94454
Oh, I see, it is in the reddit post.  Thank you @o-l-a-v .

[2022-06-16 00:47] VanMSFT commented on #90120
Hi @sch56 - Sorry for the delay. Can you please provide more context on your issue? Can you describe the scenario with what permissions/roles each user has, and how the query results look like? How much any user can see would pertain to their permissions, which is listed here: https://docs.microsoft.com/sql/relational-databases/system-catalog-views/sys-database-principals-transact-sql?view=sql-ser

[2022-06-16 00:48] VanMSFT commented on #90120
#assign:VanMSFT

[2022-06-16 00:50] VitalyMCT commented on #92982
@normesta Perfect. I appreciate the update.

[2022-06-16 00:52] BryanTrach-MSFT commented on #94449
@hvoerman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-16 01:20] GeethaThatipatri-MSFT commented on #94457
Hi @s7s7s7 Thanks for reaching out, We will Investigate and update you shortly.

[2022-06-16 01:22] abhidotnet opened #94459 "Is there any working example or step by step guide for the MSAL setup in an app service on azure?"
I have been through the document and am wondering if there is a step-by-step guide on how to do this.
I want to have a web app call a web API, but both app services need to be protected/secured in the Azure cloud.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1899cdf5-3dfd-5f6b-bf3b-8d12bdba4138

[2022-06-16 01:27] angel-menendez opened #94460 "Code example several problems"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c4b4cd-4993-e079-9128-6f1259695a2e
* Version Independent ID: 04223a19-0eba-53b4-a069-d58b7a68a88f
* Content: [Synonyms C# example - Azure Cognitive Search](https://docs.microsoft.com/en-us/azure/search/search-synonyms-tutorial-sdk)
* Content Source:

[2022-06-16 02:04] MartinJaffer-MSFT commented on #94454
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85eb6a21-2659-019a-71ab-66f2e3a7f474
* Version Independent ID: ee2ab576-3c19-15a5-8c41-29a00275614b
* Content: [Step 2 - Configure WSUS](https://docs.microsoft.com/en-us/windows-server/administration/windows-server-update-services/deploy/2-configure-wsus#211-configure-your-

[2022-06-16 02:23] Givary commented on #94350
@TerryLanfear Thanks for the update.
@ethanhou99 Thank you for raising this issue. Let me know if you have any further questions.

[2022-06-16 02:23] #94350 closed

[2022-06-16 02:24] #94302 closed

[2022-06-16 02:30] Givary commented on #94140
@Nicholak-MS Thanks for the update.
@YoshikaSuzuki Changes have been updated as requested.

[2022-06-16 02:33] shwetamathur7 commented on #94459
@abhidotnet Thanks for your feedback. We will investigate and update the thread.

[2022-06-16 02:45] zhusulai commented on #42737
This looks like the same problem I ran into earlier. The source of the outbound rule has to be `Any` (rule 120).

[2022-06-16 03:02] MarcosMMartinez opened #94461 ""external" property definition is incorrect"
This definition is not correct:

![image](https://user-images.githubusercontent.com/29489962/173980976-1eb05320-5a43-4211-9a0c-0e1e1c0c8611.png)

The effects here are different depending on whether the environment has an external or internal loadbalancer.

If environment has public endpoint:
-  external = true means new connections from the internet can reach the app.
-  external = false means app

[2022-06-16 03:06] MarcosMMartinez commented on #93609
@cebundy - I think in practice it's fair to assume that users consuming this article have deployed resources in the past so far as to know what the validation + create process is like - it applies to just about all Azure resources. 99% of the users that consume this article will already be familiar with this redundant process of validating and creating an Azure resource.

[2022-06-16 03:10] cavillue opened #94462 "Pricing after migration"
The "Pricing after migration" section says: "The continuous mode backup cost is cheaper than periodic mode."
Should be the other way around, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b8a089c-745b-8389-5917-b5430ed521c7
* Version Independent ID: 5665f9e0-fe08-ef23-a9fe-ff75f4905684
* Content: [Migrate an Az

[2022-06-16 03:23] rishjai-msft commented on #93638
Updated the documentation with this. Thank you!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/201796

[2022-06-16 03:48] ethanhou99 commented on #94350
Hi @Givary , @TerryLanfear ,

Appreciate for your detailed information, that's really helpful!

[2022-06-16 03:49] shanjin90 opened #94464 "Does Fido key sign into Windows forces to select a RWDC?"
In the doc, it says, as long as you have a RWDC per site, Fido sign into Windows works.
![image](https://user-images.githubusercontent.com/37856131/173986957-3636bd00-ab89-4b32-b45d-ad72a8b4fbe5.png)

but according to my troubleshooting, the Windows client does not force to locate a RWDC. So randomly RODC or RWDC is located. If RODC is located, the sign in would fail. Pls help to confirm.

---
###

[2022-06-16 04:07] PriyankaRudramaina commented on #94455
@jaldinger,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-16 04:14] GeethaThatipatri-MSFT commented on #94462
Hi @cavillue Thanks for your findings,We will investigate and update as appropriate

[2022-06-16 04:30] SreejaBhattacharya-MSFT commented on #93741
@Nidhoggr any update?

[2022-06-16 04:40] shwetamathur7 commented on #94464
@shanjin90 Thanks for your feedback. We will investigate and update the thread.

[2022-06-16 04:44] kobulloc-MSFT commented on #94262
@joniba We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-16 04:44] #94262 closed

[2022-06-16 04:57] kobulloc-MSFT commented on #94188
@edernucci Thank you again for your feedback!  We have passed this along to the documentation team and are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-16 04:57] #94188 closed

[2022-06-16 05:07] kobulloc-MSFT commented on #94219
@andshill7 As part of the requirements for this tutorial, you will need to run Linux containers:

Windows-based AKS Clusters are out of scope for the purpose of the tutorial.

[2022-06-16 05:09] kobulloc-MSFT commented on #94219
@andshill7 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-16 05:09] #94219 closed

[2022-06-16 05:21] SwathiDhanwada-MSFT commented on #94065
@Nustinian  Thanks for your feedback. The specified document has been updated. As there are no further documentation changes ,we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-06-16 05:21] #94065 closed

[2022-06-16 06:24] lulukdog commented on #92640
![image](https://user-images.githubusercontent.com/4277659/174004925-1f0e5af2-f0ac-4abb-9fd7-161710f4df82.png)
Huawei mate 30 pro and almost any Android phone doesn't work.I create new object to package the result.Hope support by offcial

[2022-06-16 06:40] nikhilramabhadra opened #94465 "Azure Application Gateway V1 + WAF: Ask WAF not to scan the backend URL path of Umbraco CMS (/umbraco, /umbraco/*, /umbraco?*)."
I use the V1 gateway + WAF which has a VM behind it hosting Umbraco CMS version 9.5.1. Umbraco backend has the path https://mysite.com/umbraco. I would like to add an exclusion to skip scanning this path and all query strings etc. i.e. any URL that has the path Umbraco in it.

The documentation is not clear on whether a URL can be skipped in the V1 firewall.

As a result we are unable to login to

[2022-06-16 08:40] JustinDyt opened #94467 "VM ID referenced blog has to be updated"
Hello team,

In this section: Instance metadata -> Get VM metadata -> Response -> Schema breakdown -> VMID
The link referenced here has to be updated.
[Unique identifier](https://azure.microsoft.com/blog/accessing-and-using-azure-vm-unique-id/) for the VM.

This blog is posted on 2014.
The query Linux VM unique ID section in that blog only suits for VMs that has SMBIOS < 2.6.
For VMs that has SMBI

[2022-06-16 08:47] SreejaBhattacharya-MSFT commented on #94467
@JustinDyt , Thanks for the feedback. We will investigate and update this thread accordingly.

[2022-06-16 08:55] ethanhou99 opened #94468 "How to check if the key in an object has the correct value?"
Hi,

I want to check the value of the key in an object has correct value, in this doc I only found contains can check if there is a key exists.

Could you please tell me is there a method to check the value of a key is correct?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac0fc0a9-f885-10b3-d5e0-dfa6426b42dd

[2022-06-16 09:26] AjayKumar-MSFT commented on #94461
@MarcosMMartinez, Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

[2022-06-16 09:26] ethanhou99 opened #94470 "How to check a value in an object without alias"
Hi,

Recently I want to create a policy to monitor the IaaSAntimalware extension for the Windows VM:
![image](https://user-images.githubusercontent.com/43047951/174039102-4478fa30-8dea-4c40-955f-6013da9e25be.png)

The property I want to check is if the `RealtimeProtectionEnabled` is set to true, however, this property doesn't have alias:
![image](https://user-images.githubusercontent.com/43047951/

[2022-06-16 09:28] AjayKumar-MSFT commented on #94460
@angel-menendez,  Thanks for leveraging Azure docs feedback channel to raise this question.
 Could you please share more details about the issue you encountered with the doc/sample to better assist you.

[2022-06-16 09:33] ethanhou99 commented on #94212
Hi @AnuragSingh-MSFT,

Thanks for your detailed reply, that's really helpful! With your help I generated the policy successfully.

I have one more question about the Guest Configuration. After I generated the guest configuration policy successfully, I found that the contenturl to the Guest Configuration packet and content hash was exposed in the policy content:
![image](https://user-images.githubu

[2022-06-16 09:58] adi-garg opened #94471 "Key Vault creation has more steps as seen in portal-Access Policy,Networking,Tags"
Article needs to add all the steps with explanation of sections
Access Policy,Networking,Tags are missing in current article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930afeda-ea55-4e46-6dd0-25da38eae788
* Version Independent ID: 2c4f9d1a-92db-d480-c690-960f72602f60
* Content: [Quickstart - Create an Azure Key Va

[2022-06-16 10:02] adi-garg opened #94472 "Azure Key Vault support for VM in different subscription"
Contradictory points with regard to key vault's subscription and VM using this key vault:

Your Azure key vault, disk encryption set, VM, disks, and snapshots must all be in the same region and **subscription** for deployment to succeed.

VS
Most resources related to your customer-managed keys (disk encryption sets, VMs, disks, and snapshots) must be in the same subscription and region.
 **Azure K

[2022-06-16 10:19] t0keeffe opened #94475 ""Contact us for help" update needed"
Hey All,

On the page for troubleshooting signing up for an Azure Account - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/troubleshoot-azure-sign-up under the 'Contact us for help' section - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/troubleshoot-azure-sign-up#contact-us-for-help we direct customers to create a support request and link them to the

[2022-06-16 10:26] AnuragSingh-MSFT commented on #94212
@ethanhou99, thank you for the reply. No, these cannot be masked/avoided. The contentHas helps the extension to validate that the package has not been modified after the Policy definition. You may refer to this link for details - [Policy Lifecycle](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/guest-configuration-create-definition#policy-lifecycle). Permission to edit it would be

[2022-06-16 10:32] kmrrakesh opened #94476 "Azure Digital Twins Explorer locally not working"
# Azure Digital Twins Explorer locally not working
Azure Digital Twins Explorer locally not working

# Source of code
https://github.com/azure-samples/digital-twins-explorer/tree/main/

![image](https://user-images.githubusercontent.com/13743867/174051799-d8dec690-9e7b-4f66-b1c1-d4c1a57e4147.png)

![image](https://user-images.githubusercontent.com/13743867/174052768-0de24459-376a-4236-811b-acbb791

[2022-06-16 10:39] mikeblakeuk opened #94477 "Can you add a sample that consumes Parquet"
Can you add a sample that consumes Parquet, not just CSV.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 300a38f4-7797-ee5e-5250-2e5e4b9ea343
* Version Independent ID: f4dfcf0b-d912-2238-3e5b-eab550700633
* Content: [Calculate blob count and size using Azure Storage inventory](https://docs.microsoft.com/en-us/a

[2022-06-16 10:44] jdocampo commented on #50023
I have reviewed the docs and it is indeed specified. Closing this issue.

[2022-06-16 10:44] #50023 closed

[2022-06-16 10:50] Givary commented on #94471
@adi-garg Thanks for raising this, let me investigate and update you.

[2022-06-16 11:00] littlease opened #94478 "Please include details for AADSTS500022"
AADSTS500022
Failure reason Access to '{tenant}' tenant is denied.

AADSTS500022 error description is missing from aadsts error codes reference
https://docs.microsoft.com/ru-ru/azure/active-directory/develop/reference-aadsts-error-codes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7

[2022-06-16 11:26] shashishailaj commented on #94478
@littlease Thank you for your feedback . We will investigate and update the thread.

[2022-06-16 11:31] ullerdk commented on #86248
When will vCenter v7.0.x be supported by Azure Arc?

[2022-06-16 11:40] shashishailaj commented on #94478
@littlease We have requested the content team to review and update the changes. The error AADSTS500022 is similar to error AADSTS500021 which is mentioned in the error code table. Once the content team reviews and approves,  the change will be live in the documentation .

[2022-06-16 11:41] hvoerman commented on #94449
Searching for ""WEBSITE_MOUNT_" on Google gave me one (yes just one) result at [Bring Your Own Storage (BYOS) Azure App Service map directory path](https://www.thebestcsharpprogrammerintheworld.com/2022/06/03/bring-your-own-storage-azure-app-service-map-directory-path/)

Is this the preferred way of doing this? I hope it's not ;) Hopefully there is a more robust way (via the Azure Portal) of achie

[2022-06-16 11:41] shashishailaj commented on #94478
@rwike77 I have created a change request for this issue . It would be great if you could review the same  .

Thank you .

[2022-06-16 11:44] erasmus76 opened #94480 "Blob Storage account type"
This page refers to Blob Storage accounts.
"Lifecycle management policies are supported for block blobs and append blobs in general-purpose v2, premium block blob, and **Blob Storage accounts**."

When checking the below page for the storage account types, Blob Storage as the main account type is not listed.
In terms of blob, only Premium block blobs and Premium page blobs are listed as account ty

[2022-06-16 11:56] ethanhou99 commented on #94212
Hi @AnuragSingh-MSFT , thanks for your quick response!

I noticed that the build-in policy with guest configuration category doesn't have the `contenturl `info, is it means that if we onboard our custom guest configuration policy into build-in policy, the `contenturl `can be avoided?

[2022-06-16 12:09] shashishailaj commented on #94158
As far as what we have found , In order to standardize the code for users who could be from any platform linux , windows , mac etc. Asp.net core code is provided in place of older asp.net . Microsoft aims to provide platform agnostic code which can run on every platform which is achievable by ASP.net core in every aspect . Hence we recommend using ASP.net core which is almost similar for anyone wh

[2022-06-16 12:09] #94158 closed

[2022-06-16 12:11] SwathiDhanwada-MSFT commented on #94468
@ethanhou99 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-16 12:17] SwathiDhanwada-MSFT commented on #94470
@ethnhou99  Thanks for reaching out. You can request an alias to be created for the same. All you need to do is raise request for creating alias [here](https://github.com/Azure/azure-policy/issues).

For more information, refer [this document](https://github.com/krnese/azure-policy-samples/blob/master/1-contribution-guide/request-alias.md).

[2022-06-16 12:17] PRMerger5 commented on #94457
The following users don't have valid GitHub IDs, or are not collaborators on this repo: n

a fix for this

[2022-06-16 12:22] seesharprun commented on #94462
Hello @cavillue!

#assign:seesharprun

I agree that the current language is insufficient.

We have a change in-flight that will update the language to say that it can vary and point you to the pricing page. We include this because pricing for continuous backup can vary and potentially be similar in pricing if you don't have a long retention period.

Thanks for your feedback!

[2022-06-16 12:24] seesharprun commented on #94462
#assign:seesharprun

[2022-06-16 12:24] seesharprun commented on #94457
#assign:seesharprun

[2022-06-16 12:24] #94457 closed

[2022-06-16 12:32] #94462 closed

[2022-06-16 12:38] #94375 closed

[2022-06-16 12:40] JustinGrote commented on #89377
@MarileeTurscak-MSFT  the PR link 404s, do you have an updated link to it?

[2022-06-16 12:40] JustinGrote commented on #89377
Also the docs still show the old method, so this is not complete.

[2022-06-16 12:43] naitmare01 opened #94482 "Enable Defender for cloud Azure CLI instructions are displaying wrong namespace in docs"
We followed the guide to deploy the Defender extension with Azure CLI.
On step 4 "Verify" we couldn't find any namespace called "azuredefender"

`kubectl get pods -n azuredefender`

We did however find the pods in the `kube-system` namespace.
Error in the documentation or error from our side? I guess it is the former.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-06-16 12:52] #94470 closed

[2022-06-16 12:52] seesharprun commented on #94330
#assign:seesharprun

[2022-06-16 12:53] #94475 closed

[2022-06-16 12:54] MMollyy opened #94483 "Why are two resource groups created with AKS?"
Hello,

The page details that the AKS service works in a way that it creates the second resource group.
However, the question remains unanswered.

Looking at the resources that get deployed, there is litterally no reason for all the resources to be split up. If I want to deploy all of these resources in a single resource group, then I could simply do so and it wouldn't make a difference. In fact,

[2022-06-16 12:54] skillbuilderzone opened #94484 "Synapse Analytics Notebook : tokenlibrary.getsecret() gets old version of the secret"
The issue :

[code]

When the keyvault is updated with a new version of the secret, the above function fetches old version of the secret.

can we specify it to fetch only the current version

Azure doc :
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-secure-credentials-with-tokenlibrary?pivots=programming-language-scala#tokenlibrary-for-azure-data-lake-storage-gen2

Ed

[2022-06-16 12:56] seesharprun commented on #94330
Hello @kirkktx!

After a couple of days trying to reproduce your issue using the version of the mongoimport tool that's available on MongoDB's download site (``100.5.3``), I was unable to reproduce.

![image](https://user-images.githubusercontent.com/5067401/174074421-c955859d-b61c-45bc-9c9e-23b6cf6c4093.png)

For now, the documentation works as-is so I will close the issue. If you are running int

[2022-06-16 12:58] jorisva8 opened #94485 "FIDO authentication method?"
Will FIDO be supported as an authentication method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18640c6c-b52c-84e3-59d8-90f2a663cc6b
* Version Independent ID: 77b249dc-4440-0334-31d7-b05d30f52657
* Content: [Self-service password reset deep dive - Azure Active Directory - Microsoft Entra](https://docs.microsoft.com/

[2022-06-16 13:00] ivanbm97 opened #94486 "Unable to deploy ACI in Virtual Network from another subscription"
Hello, as I spoke with Microsoft Support, it seems that there is a limitation that is currently not publicly documented. this limitation is the fact that if you deploy a private ACI on a Virtual Network, this said VNet has to be in the same subscription where this ACI is going to be located. From the portal, it will only let you choose Virtual Networks on the same subscription, so I tried with an