[2022-05-06 16:34] #92155 closed

[2022-05-06 16:37] KranthiPakala-MSFT commented on #92540
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-06 16:38] KranthiPakala-MSFT commented on #92543
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-06 16:38] tfitzmac commented on #92546
@matthewtatsch - thanks for this feedback.

@SnehaGunda - do you happen to know which limit is correct? Or, if they are referring to different scenarios?

[2022-05-06 16:41] KranthiPakala-MSFT commented on #92263
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-06 16:42] flang-msft commented on #81340
#please-close

[2022-05-06 16:42] #81340 closed

[2022-05-06 16:45] SatishBoddu-MSFT commented on #92520
@kenichi-segawa What is the actual document you are referring to?

[2022-05-06 16:51] SatishBoddu-MSFT commented on #92526
@Ethan033100 We want to help you in the right forum on this issue.

Could you please add more detailed information on the issue?
Is this issue specific to the documentation or any tutorial which is blocking you to get started?

If this issue is more of a technical side, then I would suggest making use of the [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/index.html) where you will

[2022-05-06 16:52] stevensnicole commented on #91945
@tamram Yes of course, you mean Teams/Zoom?  How do I get the info to you without pasting my personal email address in here?  Many thanks!

[2022-05-06 17:11] MarileeTurscak-MSFT commented on #92551
@samaea
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-06 17:13] robert4os opened #92555 "Edge Hub's storage directory is persisted on the host filesystem - Error"
Hi,

I have followed the instructions on
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2020-11#deploy-the-iot-edge-device

...but the edgeHub module is not started on the newly created edge device VM:

sudo iotedge list
[code]

Running the self diagnosis shows:

sudo iotedge check --verbose ...gives the following error:
[code]

The connected IotHub reports the follo

[2022-05-06 17:27] robert4os commented on #92555
Never mind, I found that the edgeHub module is only started once the first module is deployed, see here:
this https://docs.microsoft.com/en-us/answers/questions/416063/getting-error-34configuration-has-correct-uris-for.html

I could confirm this.

[2022-05-06 17:27] #92555 closed

[2022-05-06 17:40] whhender commented on #92493
I've added the link, and we'll continue to work on improving the clarity of these docs.

Thank you again!

[2022-05-06 17:41] whhender commented on #92493
#please-close

[2022-05-06 17:41] #92493 closed

[2022-05-06 18:07] Oury-MSFT commented on #92550
@AminAvan Thank you for your question. I think this is one of the limitations in Azure SQL Ledger.
@VanMSFT Could you please confirm that.

[2022-05-06 18:08] visualstuart commented on #91275
You're welcome. Happy to contribute it to share with others. Be well.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Maud ***@***.***>
Sent: Friday, May 6, 2022 6:41:36 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Stuart Celarier ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Update "Quickstart: Add feature flags to an ASP.NE

[2022-05-06 18:11] Oury-MSFT commented on #92545
@markjbrown is the [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/resource-manager-template-samples) only for Mongo version 3.2 or 3.6

[2022-05-06 18:12] AminAvan commented on #92550
Therefore, we cannot have PRIMARY KEY on Azure Ledger SQL database?!
If you cannot have a PRIMARY KEY on the database, then your database is not SQL (relational database)!!

[2022-05-06 18:16] Oury-MSFT commented on #92550
@AminAvan, I meant to say in Azure Ledger Primary key cannot be nullable.
@VanMSFT Could you please share your inputs on the below question.

[2022-05-06 18:18] boblooney2 opened #92558 "Please add Dv5 ACU information"
[Enter feedback here]
This newer series of VMs is not yet listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](https://docs.microsoft.com/en-us/a

[2022-05-06 18:22] DerekHerman-MSFT commented on #92558
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-06 18:24] AminAvan commented on #92550
Ok, but the Azure Ledger cannot accept non-nullable columns as well !!

"Only nullable columns can be added to ledger tables, and when they aren't specified WITH VALUES."

so what about a PRIMARY KEY on a table, that is non-nullable column?

[2022-05-06 18:26] msmimart commented on #91786
Thank you @dshimogawa and @JamesTran-MSFT for the great questions and discussion. We'll be updating the documentation with billing and licensing information when the feature is generally available. Since we’re tracking the work and this feedback internally, I’ll go ahead and close this issue for now, but please stay tuned for updates to the documentation. Thanks again for your feedback!
#please-cl

[2022-05-06 18:26] #91786 closed

[2022-05-06 18:27] AminAvan commented on #92550
I am wondering that I could run following table and PRIMARY KEY (i.e., AccidentID) on Append-only table on Azure Ledger SQL:

 creating a table
 CREATE SCHEMA [Accident6]
 CREATE TABLE [Accident6].[AccidentReport6]
     (
         [AccidentID] INT NOT NULL PRIMARY KEY CLUSTERED,
         [OfficerID] CHAR (255) NOT NULL CHECK(len(OfficerID) >= 2),
         [Location] CHAR (255) NOT NULL CHECK(len(L

[2022-05-06 18:28] PriyankaRudramaina commented on #92506
@tokyotexture,

Thanks for highlighting the issue. I have reviewed this with content author @andysports8, he will get that corrected in the pricing document.

[2022-05-06 18:35] Minewiskan commented on #92543
@hansmbakker - You are correct. It's not clear. Excel online version Data tab does not support creating an external data source connection. This must be done in Desktop version. The file can then be opened in Online version. We'll add a note to that effect.
Thank you.
#please-close

[2022-05-06 18:35] stevemunk commented on #92482
@smith0505 - thanks for reporting this, I've updated the code sample, it should show the area value correctly now.

[2022-05-06 18:37] stevemunk commented on #92482
Note that no PR was required to fix this as the changes were not made in the docs, but in the CodePen sample embedded in the article.

[2022-05-06 18:37] stevemunk commented on #92482
#please-close

[2022-05-06 18:37] #92482 closed

[2022-05-06 18:41] hansmbakker commented on #92543
@Minewiskan that is another point that could be documented indeed,  but that was not my point. My point was whether Excel Online could consume an Azure Analysis Services data connection at all.

I did create an excel file in the desktop version containing the data connection to Azure Analysis Services. I then uploaded that file to Excel Online. Authentication and data refreshing works in Excel des

[2022-05-06 18:43] drdamour commented on #90867
@LitKnd  any follow up comments?

[2022-05-06 18:43] harre096 opened #92560 "Add tip for console apps missing logs"
Could we consider adding a note under https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data#no-data-from-my-server regarding console apps? We had a heck of a time trying to figure why App Insights worked from visual studio but not when run on a server. The Flush must be built into visual studio or something. Definitly a gotcha that we spent a lot of time chasing and

[2022-05-06 18:45] stevemunk commented on #86925
@Adam-GIT-MS There is a fix for this. It will hopefully be available by EOW next week.

[2022-05-06 18:46] hansmbakker commented on #92543
@Minewiskan summarising: you say it should be possible for Excel Online to refresh an Azure Analysis Services data source that was authored in Excel desktop.

It would be very helpful if you could add pitfalls and troubleshooting for this in the documentation, since neither Excel Online nor Azure Analysis Services provide debugging tools for this.

I tried looking in the network tab of my browser

[2022-05-06 19:02] benjaminjnr commented on #92503
Yes I have.

This is the full file I used below (I was unable to attach), you can try the url, the service should still be up (for now).

`apiVersion: v1
kind: Pod
metadata:
  name: test-agic-app-pod
  labels:
    app: test-agic-app
spec:
  containers:
  - image: "mcr.microsoft.com/dotnet/core/samples:aspnetapp"
    name: aspnetapp-image
    ports:
    - containerPort: 80
      protocol: TCP
---
a

[2022-05-06 19:04] kimjamia commented on #92115
Hmm how is it not related to the documentation? I went to this page to read how is it intended to be develop locally but it doesn't explain what to do with the connection string. If the answer is that you need to have a real Service Bus even if you don't use it, that would still be useful to know so that people don't spend time trying make it work without it.

[2022-05-06 19:05] jeffsilverm opened #92562 "I'm interested in IPv6."
Your screen shot, https://docs.microsoft.com/en-us/learn/azure-fundamentals/azure-networking-fundamentals/media/virtual-network-additional-settings-faff6cec.png , has a tantalizing IPv6 checkbox.  What does that checkbox do?

Not only am I interested in an answer, I am also interested in changes to the documentation. IPv6 is a hot button issue for me.

Thank you.

[Enter feedback here]

---
#### D

[2022-05-06 19:08] stevemunk commented on #91782
@pan9killer Have you looked at the Azure Maps Samples? The sample titled [Map Localization](https://samples.azuremaps.com/?sample=map-localization) may help.

[2022-05-06 19:10] mimckitt commented on #92558
We are aware the ACU numbers are missing for these new v5 series. We are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers. Hence, at this time we are omitting the ACU numbers while we reevaluate.

#please-close

[2022-05-06 19:10] #92558 closed

[2022-05-06 19:24] w-azure commented on #92084
#please-close

[2022-05-06 19:24] #92084 closed

[2022-05-06 19:35] boblooney2 commented on #92558
@mimckitt just voicing the request that it would be nice to be able to pull ACU (or whatever metric replaces it) from an API end point in the future.  Thanks!

[2022-05-06 19:37] mimckitt commented on #92558
Much appreciated! We keep track of all the mentions of it and ensure the correct folks are aware

[2022-05-06 19:38] msmimart commented on #89158
Hi @danmyhre, thanks so much for pointing this out. An update is in the works and will be published shortly; when it goes live, this issue will be closed. Your feedback is greatly appreciated!

[2022-05-06 19:40] aysark opened #92563 "Outdated tutorial"
Recent versions of IntelliJ no longer allow you to create a Spark project:

![image](https://user-images.githubusercontent.com/654356/167206292-9a415e10-f70e-4acc-901e-2acef6d98e7a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3c784d-8201-db31-8d1a-23703f935377
* Version Independent ID: d7ac03d6-426d-a2b5-f95b-

[2022-05-06 19:44] #89158 closed

[2022-05-06 20:13] msmimart commented on #88134
Hi @benjaminjamesowens, apologies for the delay; you've likely already gotten clarification, but during this B2B redemption process, the guest user *must* provide their consent to continue. This ensures that they see and agree to the privacy terms and any terms of use before they can access the resource. (This is true whether they've received an invitation or if they're accessing the resource with

[2022-05-06 20:13] #88134 closed

[2022-05-06 20:36] enterpriseSoftware opened #92564 "Configure and secure Function App section has errors"
https://docs.microsoft.com/en-us/azure/api-management/howto-protect-backend-frontend-azure-ad-b2c#configure-and-secure-the-function-api

The steps outlined don't corespond with the UI the Azure portal offers for the Function App.
1.  It says Next select 'Authentication / Authorization' (under 'Settings'). but the blade option is Authentication
2. Step 5 doesn't exist Set the Action to take when re

[2022-05-06 20:37] msmimart commented on #90569
Hi @dnetoa, the introduction of cross-tenant access settings doesn't change the current B2B collaboration setup you have, so if you don't change any of the settings, B2B collaboration is enabled by default and your existing B2B guest users will still have their same access. If you wanted more fine-grained control over B2B users and tenants, you could change the settings.

B2B direct connect is a s

[2022-05-06 20:37] #90569 closed

[2022-05-06 21:09] VanMSFT commented on #92550
Hey @Pietervanhove - Can you please help with this question?

[2022-05-06 21:19] DavidWHarvey opened #92565 "Managed ID for VMs in scaleset vs for scaleset"
[Enter feedback here]
The VM scaleset is a resource, as are the VMs that are created by the scaleset.    I'm trying to read about how to do the obvious thing:  I want to create a scaleset and authorize all VMs created by that  scaleset to access a resource like a blob or a database.
This page describes "how to" do something, but it does not describe or link to a clear description of what behavior

[2022-05-06 21:25] bandersmsft commented on #92535
@PedroCruzPT I've created a work item for our localization team for them to fix this issue. I'm not sure how long it will take for them to fix it, but when it is fixed, I'll reply here.

Thanks for letting us know about this issue.

#please-close

[2022-05-06 21:25] #92535 closed

[2022-05-06 21:29] JamesTran-MSFT commented on #92565
@DavidWHarvey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-06 21:41] erik-ha-msft commented on #81761
Thanks for the feedback.

There doesn't appear to be any forced translation when navigating to the site.

#please-close

[2022-05-06 21:41] #81761 closed

[2022-05-06 22:06] MarileeTurscak-MSFT commented on #92551
From what I've found, the preferred_username is the same thing as the unique_name that is only present in v 1.0 tokens. And the unique_name claim is a unique identifier for that can be displayed to the user, which is usually a user principal name (UPN) in id-token.

When a user signs in with a non-UPN email, the unique_name and preferred_username claims (if present) in the [ID token](https://docs.

[2022-05-06 22:06] #92551 closed

[2022-05-06 22:22] festivus opened #92567 "New-AzCosmosDBSqlRoleAssignment unsupported type : [Application]"
The documentation says I can grant permissions using New-AzCosmosDBSqlRoleAssignment  to a service principal. However, when I attempt to do that I get the following error

New-AzCosmosDBSqlRoleAssignment : Long running operation failed with status 'Failed'. Additional Info:'The provided principal ID
[xxx] was found to be of an unsupported type : [Application]
ActivityId: 8dbd1da3-1d60-46e3-8443-27

[2022-05-06 22:24] ThomasWeiss commented on #92567
@festivus Please see this call-out located [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#role-assignments):
![image](https://user-images.githubusercontent.com/4797533/167223632-80918e3a-5f91-4520-a439-fd544148cc19.png)

[2022-05-06 22:28] khdownie commented on #70159
@SatishBoddu-MSFT @RZomermanMS I added a link to the prerequisites in the overview article, which should tell the user how to configure items on the AD side.

[2022-05-06 22:29] khdownie commented on #70159
#please-close

[2022-05-06 22:29] #70159 closed

[2022-05-06 22:36] festivus commented on #92567
I did but I had created an App Registration in AAD instead of an Enterprise Application. When I tried with an Enterprise Application it worked. Are there 2 ways to create a service principal in AAD? Cause i've seen instructions to create a service principal that state to create an App Registration. Maybe this needs to be clarified in the documentation

[2022-05-06 22:43] Minewiskan commented on #92543
@hansmbakker - Can you provide a screenshot of the Refresh button in Excel online you're pressing?

[2022-05-06 22:45] ChaitanyaNaykodi-MSFT commented on #92562
Thank you for your feedback! We will review and update as appropriate.

[2022-05-06 23:11] ThomasWeiss commented on #92567
When you create an app registration, it will then show up in enterprise applications. The main takeaway is that even for app registrations, you need to use the Object ID found in the Enterprise applications section.

[2022-05-06 23:15] festivus commented on #92567
ok, i get it now.

[2022-05-06 23:18] mike-urnun-msft commented on #92538
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-06 23:19] mike-urnun-msft commented on #92541
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-06 23:21] mike-urnun-msft commented on #92564
Thank you for your feedback! We will review and update as appropriate.

[2022-05-06 23:31] #92328 closed

[2022-05-06 23:32] YutongTie-MSFT commented on #92328
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-05-06 23:36] ThomasWeiss commented on #92567
#please-close

[2022-05-06 23:36] #92567 closed

[2022-05-06 23:42] KranthiPakala-MSFT commented on #92563
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-06 23:43] holms opened #92572 "Migration documention doesn't cover how to backup all database together with users"
I've really expected this document to cover how to backup all users with all databases included. Maybe by usinng `pg_dumpall` tool? Can it be used at all?  I believe moving  all databases in the cluster including users is quite a usual use case for everyone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13bf223-61ca-

[2022-05-06 23:44] dareneiri opened #92573 "Example Configuration Profile Should Include additional details when setting IdPAttributeProfile = azure"
It may be helpful to include additional information for setting the configuration to use:

`IdPAttributeProfile = azure`

In this case, the profile sets the NameIDFormat to persistent, among other settings and overrides any other specified attributes defined in the configuration file:
https://docs.rstudio.com/connect/admin/authentication/saml/#the-azure-profile

This becomes an issue if you want t

[2022-05-06 23:46] w-azure opened #92574 "No mention of what tags are"
[Enter feedback here]
I'm doing the tutorial for image classification, and they say create tags, but I don't see any definition of what tags are and what they are used for. I would have expected that on this introduction page, so that's why I'm leaving feedback here. That, or in the Concepts section, but looks like there is no such section in this documentation.

https://docs.microsoft.com/en-us/a

[2022-05-06 23:52] KY0915 opened #92576 "ADF SSIS IR fails creating SSISDB in Azure SQL server"
Hi, I have a Azure SQL server with

- AD Security group that also has system managed identity of ADF as a member as AAD admin
- AAD auth only checked
- 0.0.0.0 to 0.0.0.0 Allowed
- Azure services are allowed through exception checkbox
- NO SSISDB deployed ( this has to be provisioned through Azure SSIS IR catalog database creation process.
- AAD admin group has been given dbmanager role in the mas

[2022-05-07 00:05] johncrim commented on #38819
For anyone that comes across this, the key learning for me was that Service Fabric does not use .NET Core to load certificates: It uses its own C++ logic, so the rules for cluster certs and secrets certs in Service Fabric are completely separate from what .NET Core does.

Put another way, there are no parameters for `new X509Store(...)` that will give you access to the certs used by ServiceFabric.

[2022-05-07 00:07] brucelangston opened #92577 "Are managed domains really this confusing and difficult?"
The quoted paragraph is quite confusing.

"A managed domain must be deployed in its own subnet. Don't use an existing subnet or a gateway subnet. This includes the usage of remote gateways settings in the virtual network peering which puts the managed domain in an unsupported state."

The first sentence is ok. The second sentence is somewhat confusing in its backwardness, telling the reader what n

[2022-05-07 00:51] SatishBoddu-MSFT commented on #92537
@bdegs
I have assigned the issue to the content author for further review.

[2022-05-07 00:54] Norrch2 opened #92578 "Clarification on Using Claim Resolvers"
Hello,

I recently opened an issue with Microsoft Answers about an Error Message I was getting when attempting to use a Claims Resolver in an Azure AD Technical Profile.

Per [Claim Resolver Overview](https://docs.microsoft.com/en-us/azure/active-directory-b2c/claim-resolver-overview#using-claim-resolvers) documentation; it indicates that we can use Claims Resolvers in InputClaims and Output Claim

[2022-05-07 00:56] SatishBoddu-MSFT commented on #92542
Hello @PcChip Thanks for bringing this to our attention!

![image](https://user-images.githubusercontent.com/62923178/167231521-7b64bbf2-f7e4-49c8-8cb6-d90e29cd6d0a.png)

[2022-05-07 01:04] SatishBoddu-MSFT commented on #92560
@harre096 Our SME will review your feedback, thanks for reaching out on this issue!

[2022-05-07 02:37] GeethaThatipatri-MSFT commented on #92572
Hi @holms Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-07 04:10] sy-huss opened #92580 "Confusing terminology; is it App Service or Web App for Containers"
There is confusing terminology on this page. Anyone looking to compare Azure containers will come across this:

On this page it is called 'Azure App service' and on other pages on the document site it is called 'Web App for Containers'. Which is the correct term to use?

A Microsoft employee and I tried to work this out together; we ended up calling it App Service for the duration of the project.

[2022-05-07 05:20] qt-luigi opened #92581 "An option name "--authLevel" of a command "func new" is wrong"
In a section "func new", An option name "--authLevel" is wrong. "--authlevel" is correct. (L -> l)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd12e95-e21a-49f1-cfa4-a06bfa324ac9
* Version Independent ID: ada431b0-2ec7-8420-b4d9-a66f516957f1
* Content: [Azure Functions Core Tools reference](https://docs.microsoft.c

[2022-05-07 05:48] Tbohunek commented on #91025
I understand your point @shashishailaj. It's OK.
Just for this example, the linked article does not include the word `context`, so its understanding doesn't help beyond _"I think this is how it works"_.

[2022-05-07 08:15] tangzhengyue opened #92582 "How can I get the index of an item in an array without read the whole document from the cosmos DB?"
Seems we need to know the index of an item in an array to path it. I am wandering is there a way to get the index of an item from CosmosDB without read the whole document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baaba7e8-d79c-ca90-e36c-4282dd048bb4
* Version Independent ID: 7e8f5647-b1d1-ca7e-5984-811469bf9229
*

[2022-05-07 09:20] yutaro113 opened #92583 "Condition Overview of generating suggestion wanted to be mentioned."
Hi team,

There seems no explanation about when and in which condition suggestion from Active Learning will be generated.
But for QnA Maker, this is explained in the below doc.

https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/use-active-learning#how-active-learning-works
-----------
"When five or more similar queries are clustered, every 30 minutes, QnA Maker suggests the

[2022-05-07 09:54] faizan1990 opened #92584 "Databricks blob storage access tutorial doesn't work!"
At Step # 5 of "Create an Azure Databricks workspace and add a secret scope":

When you create a secret scope in Databricks, it throws an error saying:

[code]

And it doesn't say anywhere that this tutorial is only supposed to work on Databricks Premium.

(IF that is NOT the case,) I also tried creating secret scope from Databricks CLI via:

[code]

and still unable to follow rest of the steps of

[2022-05-07 11:11] davidkarlsen commented on #38914
Could github actions be added as a trusted service too?

[2022-05-07 14:35] GeethaThatipatri-MSFT commented on #92582
Hi @tangzhengyue Thank you for reaching out. We will look into it and update as appropriate.

[2022-05-07 14:37] GeethaThatipatri-MSFT commented on #92285
@sicil1ano I have not heard back from you. did you get a chance to check my above response?

[2022-05-07 15:23] jaganpt commented on #89965
Any update on this? Thanks in advance!

[2022-05-07 15:39] SatishBoddu-MSFT commented on #92573
@dareneiri
I have assigned the issue to the content author for further review.

[2022-05-07 15:39] SatishBoddu-MSFT commented on #92574
@w-azure
I have assigned the issue to the content author for further review.

[2022-05-07 15:41] SatishBoddu-MSFT commented on #92576
@KY0915
I have assigned the issue to the content author for further review.

[2022-05-07 15:42] SatishBoddu-MSFT commented on #92577
@brucelangston
I have assigned the issue to the content author for further review.

[2022-05-07 15:46] SatishBoddu-MSFT commented on #92578
@Norrch2
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-07 15:52] SatishBoddu-MSFT commented on #92581
@qt-luigi Thanks for bringing this to our notice!

![image](https://user-images.githubusercontent.com/62923178/167261918-e8a0621a-8301-4aac-94bc-8ff8f12a901d.png)

[2022-05-07 15:54] SatishBoddu-MSFT commented on #92583
@yutaro113
I have assigned the issue to the content author for further review.

[2022-05-07 15:56] SatishBoddu-MSFT commented on #92584
@faizan1990
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-07 17:48] pizzaz93 commented on #13252
![image](https://user-images.githubusercontent.com/10904763/167265826-f9c13417-6aa6-4488-97db-95376f50bffb.png)
@mimckitt is this screenshot correct (from that document currently)?

[2022-05-07 17:59] ncikac opened #92587 "All samples are for "Accounts in any organizational directory (Any Azure AD directory - Multitenant)" and there are no samples for "Accounts in this organizational directory only""
All samples are for "Accounts in any organizational directory (Any Azure AD directory - Multitenant)" and there are no samples for "Accounts in this organizational directory only".

And, as you probably know - **Starting November 9th, 2020 end users will no longer be able to grant consent to newly registered multitenant apps without verified publishers.  [Add MPN ID to verify publisher](https://aa

[2022-05-07 17:59] qt-luigi commented on #92581
@SatishBoddu-MSFT , Thank you!

My using "func" command version is 4.0.4483 and Intel chip macOS.

First, "Function" value did not change in function.json when I typed "func new ... --authLevel anonymous" (upper "L").

{
  "bindings": [
    {
      "authLevel": "Function",
      ...

Next, "Function" value changed "Anonymous" in function.json when I typed "func new ... --authlevel anonymous"  (low

[2022-05-07 18:51] pizzaz93 commented on #62564
1. https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/event-based-video-recording-tutorial currently 404s, same behavior for the GitHub source file as well.
In https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/edge/record-event-based-live-video the .NET link goes to a cross-platform page and

2. "set up the environment"  is no longer a lin

[2022-05-07 18:55] pizzaz93 commented on #55878
All of the links appear to work currently.

[2022-05-07 18:56] pizzaz93 commented on #55978
All of the links on this page appear to work currently.

[2022-05-07 18:57] pizzaz93 commented on #58590
The link currently redirects to https://docs.microsoft.com/en-us/azure/databricks/kb/_static/notebooks/metastore/external-metastore-setup-hive-2.1-sqlserver.html is that correct?

[2022-05-07 19:10] pizzaz93 commented on #85107
I've added a bullet point in the main doc linking to the FAQ.

[2022-05-07 19:19] pizzaz93 commented on #33643
Both links seem to currently work.

[2022-05-07 19:20] pizzaz93 commented on #29809
The image appears to be updated with https://docs.microsoft.com/en-us/azure/web-application-firewall/media/overview/wafoverview.png

[2022-05-07 22:17] site-speed opened #92591 "Set-AzWebApp from the example doesn't work for a static web app - responds "Not Found""
1)
Set-AzWebApp from the example doesn't work for a static web app - responds "Not Found"

Set-AzWebApp -Name $webappname -ResourceGroupName $resourcegroupname
Set-AzWebApp : Operation returned an invalid status code 'NotFound'
At line:1 char:1
+ Set-AzWebApp -Name $webappname -ResourceGroupName $resourcegroupname
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Categor

[2022-05-08 01:25] MartinJaffer-MSFT commented on #92587
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-08 01:26] MartinJaffer-MSFT commented on #92591
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-08 03:22] WilliamDAssafMSFT commented on #92043
Hi @waltheed thanks again for taking the time to provide this feedback. The permissions necessary are Azure RBAC permissions - not SQL Server permissions. The SQL DB Contributor role or SQL Server Contributor Azure RBAC roles. https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles If you have more specific questions or troubleshooting, I'd consider contacting Microsoft Sup

[2022-05-08 03:29] tagauto opened #92597 "table data confidence info"
Custom models that are trained trained to extract table data doesn't return confidence level. Is there a way to acquire this info. It would be great to see these details added to this page if available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35cb4999-9110-64a0-2361-9e434d6e3d54
* Version Independent ID: d840438a

[2022-05-08 06:00] tksrc opened #92598 "ARM64 architecture not supported"
Hi all,

I was following the steps to install the azure function core tools in my Debian 11 dev container.

Unfortunately, the package does not exist in the Microsoft repo for the ARM64 architecture.
https://packages.microsoft.com/debian/11/prod/dists/bullseye/main/binary-arm64/

Could you make a note somewhere that this is expected or a link to a roadmap for when the package will be released for

[2022-05-08 08:49] katergin opened #92601 "The authentication token is being rejected"
The authentication token generated in [Create an authentication token](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/cost-management-budget-scenario#create-an-authentication-token) section is being rejected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-fc3d9210b363
* Ve

[2022-05-08 10:30] helderpinto opened #92603 "Specify which operations are impacted by migrating a container to a version-level immutability policy"
Customers planning to migrate existing containers to a version-level WORM policy may be concerned about the impact this has on operations in the Storage Account while the migration process is ongoing. We state that "certain operations on the container and on the blobs inside it may not be available until the migration is completed" (see screenshots in [Migrate an existing container to support vers

[2022-05-08 11:29] yelevin commented on #92509
@DeanGross Thanks for your feedback! Working on updating the page.

[2022-05-08 12:51] GeethaThatipatri-MSFT commented on #92285
@sicil1ano We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-05-08 12:51] #92285 closed

[2022-05-08 12:54] GeethaThatipatri-MSFT commented on #92458
Hi, @christopinka-vp as @ealsur mentioned this is the duplicate issue, We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-05-08 12:54] #92458 closed

[2022-05-08 13:44] AbbyMSFT commented on #89661
#please-close

[2022-05-08 13:44] #89661 closed

[2022-05-08 19:51] akhan-2020 opened #92608 "Feedback"
[Enter feedback here]
I followed the instructions as is but the ingress endpoint does not work, it was not clear if the incompatible version of http addon is with 1.22.6 specifically or higher than 1.2..6?? all my resources created succesfully and the pods in kube-system for DNS and ingress-controller are running

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-05-08 21:40] mjrich19 commented on #91090
Hi John,

I just wanted to bump this thread and get a status update. I know this is low priority so please do not feel pressured.

[2022-05-08 21:42] johndowns commented on #91090
@mjrich19 Apologies for the delay - I assure you I haven't forgotten this, it's just been delayed a bit but I will get to it as soon as I can :)

[2022-05-08 22:08] mike-urnun-msft commented on #92598
Thank you for your feedback! We will review and update as appropriate.

[2022-05-08 23:00] not-authorized commented on #90819
We're currently using Azure CDN and it is showing up in DNS as an azure resource. Now we must go with AFD Premium however it is impossible due to this issue. What is the ETA for this fix?

[2022-05-08 23:58] adriancuadrado opened #92614 "Broken link at How-to > Build > Sign in users > Support passwordless authentication"
![image](https://user-images.githubusercontent.com/29214635/167321113-79f9f663-fc22-495c-a0a1-7fd34450c74a.png)

`How-to > Build > Sign in users > Support passwordless authentication` points to https://docs.microsoft.com/en-us/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea40460-d69c-5a16-33ce-6c4fa6c6e49f
* Versio

[2022-05-09 01:09] hyungjin-han opened #92615 "Korean page is linked to an invalid hyperlink."
In the [Create your first meta]paragraph, [Login to the account console] is linked to an invalid hyperlink.
https://docs.microsoft.com/ko-kr/azure/databricks/data-governance/unity-catalog/get-started#create-your-first-metastore
![image](https://user-images.githubusercontent.com/75968866/167324643-b43450a8-ee31-4dff-be09-07b5da5173e6.png)

The English page's hyperlink is correct.

English page's hy

[2022-05-09 01:13] MonikaReddy-MSFT commented on #92601
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-09 01:42] MartinJaffer-MSFT commented on #92603
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-09 01:44] MartinJaffer-MSFT commented on #92597
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-09 01:46] MartinJaffer-MSFT commented on #92608
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-09 01:55] YutongTie-MSFT commented on #92344
@erindormier Hello Erin, I don't see more information about CMK, could you please add more insight here so that we can avoid the confusion. Thank you so much.

[2022-05-09 02:00] YutongTie-MSFT commented on #92597
Reassigned to Rohit since I am on OOF

[2022-05-09 02:07] rockboyfor commented on #92208
@CHEEKATLAPRADEEP-MSFT,
Appreciate your comments!

[2022-05-09 02:15] Givary commented on #92614
@adriancuadrado Thank you for your feedback . We will investigate and update the thread.

[2022-05-09 02:25] zackliu commented on #74145
If you just need to get the principal id of the resource you've just created. With azure cli, you can use `az signalr show -n <name> -g <resource-group> --query identity.principalId --out tsv`

[2022-05-09 04:28] CHEEKATLAPRADEEP-MSFT commented on #92615
@hyungjin-han  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-09 04:38] SumanthMarigowda commented on #92372
@mrsxelle Firstly, apologies for the delay in responding here!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-09 04:38] SumanthMarigowda commented on #92468
@dikadali Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-09 04:40] #92498 closed

[2022-05-09 04:42] KrishnaG-MSFT commented on #92401
@SKjerland I have verified and updated the document as required. The update should go live in sometime i.e., in less than 24 hours. Thanks again!

[2022-05-09 04:42] #92401 closed

[2022-05-09 04:51] RohitMungi-MSFT commented on #92597
@tagauto Unfortunately, custom models do not support providing confidence scores currently. Please refer the note at the top of the page documenting the same.

<img width="303" alt="image" src="https://user-images.githubusercontent.com/46958063/167342775-a8f4b7e8-4a41-467d-ba51-55374afef7a6.png">

[2022-05-09 04:56] Vikram1988 commented on #92467
@jaxidian I tried verifying the Hash value with the latest script downloaded from the portal and I get the Hash value as currently showing in docs:
![image](https://user-images.githubusercontent.com/50093810/167343213-6b62244e-eda9-4f9a-95e6-98119abcbaa3.png)

Can you please ensure that you have downloaded the latest version of the script as we recently updated the scripts

[2022-05-09 04:57] akiyoshi opened #92619 "Change the title from AuthN to AuthZ"
The title says "OAuth 2.0 **authentication**" and the first paragraph says "The OAuth 2.0 is the industry protocol for **authorization**"

It seems that someone will be confused.
It would be better to change the title to "authorization".

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 535cb7a2-f177-7ba0-bb06-25

[2022-05-09 05:30] pnarsi opened #92620 "Debug Session in Preview?"
Is this Debug Session feature actually still in preview. This [Azure updates announcement ](https://azure.microsoft.com/en-au/updates/general-availability-azure-cognitive-search-implements-debug-sessions/) from about 6 weeks ago mentions that it is now generally available!

![image](https://user-images.githubusercontent.com/7891408/167346133-0f15c4fe-e5eb-4178-8b1f-d238003ad4e0.png)

---
#### Docu

[2022-05-09 05:35] sreekzz commented on #92563
@aysark @KranthiPakala-MSFT
Working with the PM to get details on this. Will update the document accordingly.

[2022-05-09 05:39] amanmcse commented on #92489
@GertjanBanga You can use a self-signed public certificate or a certificate issued by a Certification Authority (Internal or public) to authenticate your application. Using a self-signed certificate is only recommended for development, not production.
You can refer to **_https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-self-signed-certificate_** for creating self-signed

[2022-05-09 05:53] zhangyuezhong opened #92621 "file size for the Read API"
[Enter feedback here]

The file size must be less than **500 MB** (4 MB for the free tier) and dimensions at least 50 x 50 pixels and at most 10000 x 10000 pixels.

should this be 50MB?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-d

[2022-05-09 05:57] SwathiDhanwada-MSFT commented on #92467
@Vikram1988 Just verified again by downloading the latest version. I still same hash version as mentioned by @jaxidian.

<img width="776" alt="image" src="https://user-images.githubusercontent.com/48976275/167349020-2f7f358e-5677-47e1-ab77-8c88c676ae2b.png">

[2022-05-09 05:59] radhegithub opened #92622 "Device Update for IoT Hub-ADUGroup not visible"
I am beginer for Device Update for IoT Hub,

AduGroup Tag is not visible
have provision Linux VM, created Edge Device using https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-ubuntu-agent
till import this is working fine, when trying to add group
![image](https://user-images.githubusercontent.com/33256542/167348583-043c797e-e345-47ea-8010-ce921e3d80b5.png)

have tried to ch

[2022-05-09 06:20] AnnuKumari-MSFT commented on #92584
@mssaperla ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-05-09 06:41] rboucher commented on #84103
HI @jenellea.  Sorry not to answer this sooner.  Yes, we've been actively looking into how to make this table appear better.  You aren't the first one to have a problem with it.  It's optimized to be visible across mobile, PC and other form factors.  The widths are set up to deal with the biggest items in the tables. However, I know it's not using the full width of the screen on the PC which leads

[2022-05-09 06:42] rboucher commented on #84103
Closing for now as this is an ongoing project controlled by the larger docs.microsoft.com organisation.  #please-close

[2022-05-09 06:42] #84103 closed

[2022-05-09 07:05] ghsober opened #92625 "For Red Hat Enterprise Linux (RHEL)/CentOS the steps are missing the installation of libtools"
in the following steps:

For Red Hat Enterprise Linux (RHEL)/CentOS

#RHEL/CentOS - Install Git and other helpful tools
    sudo yum install gcc -y -q
    sudo yum install git -y -q
    sudo yum install gcc-c++ -y
    sudo yum install ncurses-devel -y
    sudo yum install -y automake
    sudo yum install -y autoconf

there is one command that is missing which installs the libtools

this needs to b

[2022-05-09 07:11] AshokPeddakotla-MSFT commented on #92487
@robert4os Thanks for the confirmation. I have notified to the author and SME @PatAltimore to review and update the doc if necessary.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-09 07:11] #92487 closed

[2022-05-09 07:24] Givary commented on #92486
@sijday Apologies for the delay. Researched on your requirement, I see there is an API to create/update data connectors, you can leverage this option https://docs.microsoft.com/en-us/rest/api/securityinsights/stable/data-connectors/create-or-update.

If this doesnt help, send me an email to 'AzCommunity@microsoft.com' with Sub - Attn: Givary and following details in the email body:
Link to this th

[2022-05-09 07:24] #92486 closed

[2022-05-09 07:39] JimmyLS commented on #92459
@MarileeTurscak-MSFT Thanks for helping. I've read that post you shared, look like no solid answer. So we still need an answer here.

[2022-05-09 07:41] Kene252745 commented on #77499
Hey @damendo  Dalan, you confirmed yet ?

[2022-05-09 07:57] hansmbakker commented on #92543
Please see attached - it is the `Data` tab in the ribbon.
The buttons are either `Refresh selected connection` or `Refresh all connections`.

I'm not sure what you can see from the button's appearance, though..

![image](https://user-images.githubusercontent.com/3463496/167365688-c0bcb15b-2daa-4026-ad60-bf6091c92744.png)

[2022-05-09 08:34] schalkvanwyk opened #92629 "Azure Front Door setup/configuration process has changed"
The process to setup and configure Azure Front Door has changed, however the steps and screens in the documentation does not reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4a65cd-dae6-898a-514b-5bb9238f58a3
* Version Independent ID: 9c2f7824-efed-7108-7c1e-eb2b57f3c0d6
* Content: [Enable Azure AD B2C cu

[2022-05-09 08:55] AshokPeddakotla-MSFT commented on #92622
@radhegithub Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-09 09:00] pfsantosaad opened #92630 "Unclear unsupported scenario"
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout#unsupported-scenarios

"While users are in Staged Rollout with Password Hash Synchronization (PHS), by default no password expiration is applied. Password expiration can be applied by enabling "EnforceCloudPasswordPolicyForPasswordSyncedUsers". When "EnforceCloudPasswordPolicyForPasswordSyncedUsers" is ena

[2022-05-09 09:23] kyk199x opened #92632 "The link to this page is missing"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/26732123/167380684-d33a8bbe-3210-4f66-803a-33c9ebd78e3b.png)
The link to this page is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24bd54ee-3ebd-6388-9b68-2bb2acf43d50
* Version Independent ID: 100d3796-a127-fe44-9d23-f88808e143f3
* Cont

[2022-05-09 09:49] joibarr opened #92633 "App certificate can't be store in KV by design limitation."
I had a case in which the customer bought a certificate with a very long name.
Due this, when the customer was trying to store the certificate in Key Vault, it was throwing an error.

The issue was that the "ResourceID" had more than 255 characters, and this represents a limitation for storing the Certificate in Key Vault.

The only solution was to request the customer to re-create the certificate

[2022-05-09 10:07] rbeltman commented on #92417
While searching I found something on Stackoverflow: https://stackoverflow.com/questions/67567379/azp-claim-missing-from-azure-ad-jwt. Maybe this helps for updating or adding a reference.

[2022-05-09 10:15] RohitMungi-MSFT commented on #92352
@robert4os Thanks for spotting this. I believe [this ](https://azure.microsoft.com/en-us/global-infrastructure/data-residency/)should be the correct website for azure data residency.
@PatrickFarley FYI, for correcting the link on compliance and privacy [page](https://azure.microsoft.com/en-us/support/legal/cognitive-services-compliance-and-privacy/).
#https://github.com/MicrosoftDocs/azure-devops-

[2022-05-09 11:51] olavt opened #92635 "Use of /common endpoint is obsolete?"
This article goes through the use of the /common endpoint of Azure AD.

Isn't this obsolete and article needs to be updated?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326f7173-a654-fda7-2438-6905da3fdbef
* Version Independent ID: 7dbc5a10-9d61-26e1-f532-973b4bdfae9a
* Content: [Build apps that sign in Azure AD user

[2022-05-09 11:54] WillEastbury commented on #92564
That's absolutely correct - thank you for the feedback. This has occurred since the launch of a new-look settings GUI for EasyAuth in App Service and Functions. Basically, the Azure Functions portal UI for Auth has been updated and this doc will need to change slightly.

I'll make a point of getting this updated, in the meantime, I just took a quick look so you are not blocked and the corrected st

[2022-05-09 11:59] olavt commented on #92635
Seems like asp.net does this behind the scenes and that you should not add "/common" to the endpoint manually.

[2022-05-09 11:59] #92635 closed

[2022-05-09 11:59] SreejaBhattacharya-MSFT commented on #92503
Thanks @benjaminjnr , I have made the changes, have replaced
apiVersion: extensions/v1beta1
with
apiVersion: networking.k8s.io/v1
for Ingress.
Thanks for pointing it out. The changes will start reflecting within 12-24 hours.

[2022-05-09 12:08] ghsober commented on #92625
Hi Sreeja,

This is the one:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency

Best Regards,
Ghandi Sober
Support Escalation Engineer
Azure Networking
Customer Services and Support
Office: +962 6 5509423
***@***.******@***.***>
Working Hours: 6 AM - 3 PM UTC
[Microsoft Logo]
Backup | If I am unavailable ***@***.******@***.***>)
If you have any feedback about my

[2022-05-09 12:18] larryclaman commented on #33643
This issue should be closed.

[2022-05-09 12:24] SreejaBhattacharya-MSFT commented on #92625
Thanks for pointing it out. i have made the necessary changes in the document and the changes will start reflecting in a while.

[2022-05-09 12:31] Givary commented on #92632
@kyk199x  Thank you for your feedback. if i understand correctly you want this content https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-data-storage-japan to be listed under Reference ---> Data Storage.

[2022-05-09 12:37] ollliegits opened #92639 "Which formatting is supported for attribute 'RemediationDescription'?"
Hi,

the attribute 'RemediationDescription' for SecurityCenter is only described by its data type of String. Various built-in Defender for Cloud recommendations use a basic formatting (bold text, enumerations, hyperlinks, etc.). I'd be very helpful if you add some information on which formatting is supported - Markdown, or basic HTML, or other.

Hope this will help other users, too. Keep up the go

[2022-05-09 12:44] waltheed commented on #92043
fyi - it all works now. the currently assigned role of SQL Database Contributor seems to be enough.
After further investigation the subscription guid in the url to call the api command appeared to be wrong.
Thanks for your help.

[2022-05-09 12:50] henrymbuguakiarie commented on #91554
Hello @chadcarlton,

Thank you for your suggestion to reveal the query that is used to generate that list of apps that are using Azure Active Directory Authentication Library (ADAL).

The customer's intent for [Get a complete list of apps using ADAL in your tenant](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-get-list-of-all-active-directory-auth-library-apps) is to help a

[2022-05-09 12:54] henrymbuguakiarie commented on #91554
#please-close

[2022-05-09 12:54] #91554 closed

[2022-05-09 12:54] shashishailaj commented on #92629
@schalkvanwyk Thank you for your feedback . We will engage the content team and update the thread.

[2022-05-09 12:56] shashishailaj commented on #92630
@pfsantosaad Thank you for reporting this. We will investigate and update the thread.

[2022-05-09 12:58] shashishailaj commented on #92639
@ollliegits Thank you for your feedback . We will investigate and update the thread.

[2022-05-09 13:23] SnehaAgrawal-MSFT commented on #92633
@joibarr Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-09 13:24] lulukdog opened #92640 "Android didn't call SpeechRecognizer's Recognized function"
Android didn't call SpeechRecognizer's Recognized function.
 C# code
![image](https://user-images.githubusercontent.com/4277659/167419559-54e7299e-0fc2-40a4-ac89-353897104c6c.png)

Android Log
![image](https://user-images.githubusercontent.com/4277659/167419429-5639d6c7-a8ae-420d-a67b-43bd503cb2d3.png)

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: ba25224e-dcdf-f86

[2022-05-09 13:29] nkumars opened #92641 "Signin by User ID/Email/Phone is unavailable"
Hi,
We have a requirement to sign-in using either user id or email id, but this combination is unavailable. Could you explain why and when can we expect to be available?

![image](https://user-images.githubusercontent.com/7982858/167420451-0ff5d6bd-4975-40b3-942f-4cafe3840b52.png)

Regards,
Naveen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-05-09 13:41] m-soltani opened #92642 "Onboarding Management Groups"
Thanks for documenting this. Is there any plans ( roadmaps ? )  known to you, that onboarding Management Groups will eventually be available as part of lighthouse onboarding process ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10652b31-f933-14ce-cb01-da93acd7e826
* Version Independent ID: 315c12d0-b894-f858-0266-1c

[2022-05-09 13:42] dataRunner2 opened #92643 "TabularDataset as Mount results in error - incorrect/incomplete instructions"
This page gives the following instructions:
[code]
However, this results in the following error message:
`Message: <class 'azureml.data.tabular_dataset.TabularDataset'> does not support mount. Only FileDataset supports mount`

It is also missing the Dataset as a prerequisite import.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-05-09 13:45] bigkangji opened #92644 "Name of the menu on the tool bar is not "Trigger" but "Add trigger""
Name of the menu on the tool bar is not "Trigger" but "Add trigger"

First, from https://docs.microsoft.com/en-us/azure/data-factory/tutorial-copy-data-portal#trigger-the-pipeline-manually
"1. Select **Trigger** on the toolbar" is wrong. "**Trigger**" should be replaced by "**Add trigger**".

Second, from https://docs.microsoft.com/en-us/azure/data-factory/tutorial-copy-data-portal#trigger-the-pip

[2022-05-09 13:51] guarismo opened #92645 "Old version on screenshot"
The screenshot after the language menu says iot-sensor-10.5 instead of the latest one 22.x

[https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/media/tutorial-install-components/sensor-architecture.png](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02235a4d-2df4-9a39-6d37-9dd6f3b68acf
* Version

[2022-05-09 14:23] shyamshinde08 commented on #42508
Can anyone provide a solution to the issue? Tried the above re-writes but it does not work.

[2022-05-09 14:28] RohitMungi-MSFT commented on #92621
@zhangyuezhong Thanks for spotting this. Yes, the file size should be <50MB, this is confirmed by the REST API reference page [here](https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-2/operations/5d986960601faab4bf452005).
I added a PR to get this corrected. The change should be updated once the PR is reviewed, approved and merged.

[2022-05-09 14:51] #92560 closed

[2022-05-09 15:00] tclev opened #92646 "Out of date documentation regarding letsencrypt and kubernetes YAML files."
Many of the YAML files are quite out of date and thus made getting this operational much more challenging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Independent ID: 4f92bd5b-4b91-b03d-4f1d-8c31d45af0ef
* Content: [Use LetsEncrypt.org certificates with Application Gate

[2022-05-09 15:27] YassineSOUABNI opened #92647 "The created "krbtgt_AzureAD" user account mentioned in the doc as "disabled" is actually created as "Enabled""
[Enter feedback here]

The "krbtgt_AzureAD" created user account mentioned in the documentation as "disabled user account"
is actually created as "Enabled".  If it needs to be "disabled", it must be clearly mentioned in the documentation as such I mean a an action post using the Commandlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-05-09 15:29] zergdog opened #92648 "Confusion on Automatic Updates for W10/W11 enterprise multi-session"
Please clear up the confusion by either removing the "Note" about not support or further explain in the Note what's not supported for automatic updated for W10 / W11 Client updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4690ad4-6ccf-ace4-8e8f-98ab83838034
* Version Independent ID: 89a9b8dd-162d-7f7f-b98f-bed5

[2022-05-09 16:13] GiftA-MSFT commented on #92643
@dataRunner2 we'll review your feedback and get back to you shortly. Thanks.

[2022-05-09 16:22] PriyankaRudramaina commented on #92648
Hello @zergdog,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-09 16:22] jason934 opened #92650 "Article doesn't mention what permissions are required to create alerts. Are there specific RBAC roles associated? or just all Owners/Contributors?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97484428-195e-80cc-f484-1cc2e7aee855
* Version Independent ID: b5711fa9-cec5-d930-ed72-039ef01b36a2
* Content: [Monitor usage and spending with cost alerts in Cost Management - Azure Cost Management + Billing](https://docs.microsoft.com/en-us/azure/co

[2022-05-09 16:23] JamesTran-MSFT commented on #92647
@YassineSOUABNI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-09 16:29] liconkle opened #92651 "The option to use the "AND" clause needs to be removed as it does not work"
Hi,

We have a document https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-policy-approved-app-or-app-protection that several times says you have to use the "OR" clause with require app protection or Require approved apps however in the step by step creating this CA policy #8 says you can use "AND" which is not supported:
8. Under Access controls > Grant, select Grant

[2022-05-09 16:31] #92538 closed

[2022-05-09 16:32] JamesTran-MSFT commented on #92651
@liconkle
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-09 16:35] chetta19 opened #92652 "Unable to Create a policy to audit for compliance of minimum TLS version for an Azure Service Bus namespace"
Minimum TLS version for Azure Service Bus namespace policy definition does not work.

1. It has a an extra space  before Microsoft here  field": " Microsoft.ServiceBus/namespaces/minimumTlsVersion"

2. When removing the space and trying to save the policy definition I get the following error

Complete error stack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-05-09 16:39] SnehaAgrawal-MSFT commented on #92483
@edwh
Thanks again for the feedback! Since your feedback is more inclined towards product-feedback-suggestion, so suggest you  create a [Feedback item and upvote it.](https://feedback.azure.com/d365community/forum/b09330d1-c625-ec11-b6e6-000d3a4f0f1c) The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much

[2022-05-09 16:41] zpbonjour commented on #92461
While the page still needs some updates I believe that my errors using the template are happening is because I am attempting to use it with blob containers.  After re-reading the docs it seems that it is only for file stores.

[2022-05-09 16:44] duongau commented on #92529
Hi @endk-awo, you have the link to the old endpoint manager profile. The new one is this link:  https://docs.microsoft.com/en-us/azure/frontdoor/how-to-configure-endpoints. I'll include a new section for how to update the origin endpoint timeout at the end of the article. It should reflect later today.

@GitaraniSharma-MSFT Thank you for letting me know about this. The changes should reflect short

[2022-05-09 16:49] duongau commented on #92529
#please-close

[2022-05-09 16:49] #92529 closed

[2022-05-09 16:54] dazinator opened #92653 "Azure Disk Backup"
I cannot use Azure Backup for my VM as it has a "shared drive" attached and azure backups says that it doesn't yet support Backup of VMs with shared drives attached.

However I can set up Azure Disk backups - of the shared drive.

My question is - does this feature "application consistent" backups work with azure Disk backups (not azure vm backups) - if not, is there anyway to take an application

[2022-05-09 16:57] spelluru commented on #90950
@jeej - have you looked at this tutorial?
https://docs.microsoft.com/en-us/azure/event-grid/blob-event-quickstart-portal#subscribe-to-the-blob-storage

It uses Webhook as an event handler. The source code for webhook is at: https://github.com/Azure-Samples/azure-event-grid-viewer.

Also, please look at the following article.
https://docs.microsoft.com/en-us/azure/event-grid/webhook-event-delivery

[2022-05-09 17:07] selectstarfromsql opened #92654 "how to create and add striped disks to the SQL server on a Azure VM?"
we have few SQL servers on Azure VM, now the drives are above to full, we need to add new drives with striping, since we have created SQL VM's with striping disks while spinning from market place.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d508e8ae-bbba-703d-e94e-c42520a4cad8
* Version Indepen

[2022-05-09 17:21] khdownie commented on #89878
@aamorale and @SaiKishor-MSFT the dev team fixed the portal bug and I have added the portal instructions to the page:
https://docs.microsoft.com/en-us/azure/storage/files/files-smb-protocol?tabs=azure-portal#smb-security-settings

This issue can now be closed.

[2022-05-09 17:22] Givary commented on #92639
@ollliegits Researched on your query, as per the example for "remediationDescription" mentioned in this article https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments-metadata/create-in-subscription#examples, looks like it supports bold text, hyperlinks ). let me know if you have any further questions.

[2022-05-09 17:22] #92639 closed

[2022-05-09 17:27] KranthiPakala-MSFT commented on #92644
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-09 17:28] GaneshMSFT commented on #91680
@SumanthMarigowda , do you or content author has any updates on this?

[2022-05-09 17:46] HeidiSteen commented on #92620
@pnari Unfortunately, that announcement was premature and the deployment for shipping the generally available version was pulled back. I think the outstanding issues are pretty minor, and might even be regressions.  The feature will GA soon.

[2022-05-09 17:49] #92485 closed

[2022-05-09 17:55] JamesTran-MSFT commented on #92565
@DavidWHarvey
Thank you for pointing this out! I've created a PR to add a link to the [How managed identities for Azure resources work with Azure virtual machines](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-managed-identities-work-vm) documentation, and it's currently waiting for the author to review and sign off.

When it comes to managed identi

[2022-05-09 17:55] #92565 closed

[2022-05-09 17:57] khdownie commented on #89878
#please-close

[2022-05-09 17:57] #89878 closed

[2022-05-09 17:58] JamesTran-MSFT commented on #92647
@YassineSOUABNI
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-09 17:59] ecfan commented on #92485
Hi @Jeej, this doc should be updated sometime later today after 3 PM Pacific Time. Thank you!

[2022-05-09 18:02] RyanHill-MSFT commented on #92282
Apologies for the delayed response @pnarsi. I will confer with the doc author for clarity, but after creating the knowledge store, you will follow [Assign a role](https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-data-sources?tabs=portal-sys%2Cportal-user#assign-a-role) steps to grant the managed identity `Storage Table Data Contributor` role and then use the `knowledge

[2022-05-09 18:08] cebundy commented on #91977
This issue has been resolved.

[2022-05-09 18:25] SatishBoddu-MSFT commented on #92284
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-05-09 18:25] #92284 closed

[2022-05-09 18:31] MicrosoftGuyJFlo commented on #92651
That is what the doc says. Step 8 is a two step item.
<img width="448" alt="image" src="https://user-images.githubusercontent.com/25777989/167474118-ce57d057-9398-4834-ae1e-df82ec16477f.png">

[2022-05-09 18:31] cebundy commented on #91901
This issue has been resvolved.

[2022-05-09 18:32] cebundy commented on #91901
#please-close

[2022-05-09 18:32] #91901 closed

[2022-05-09 18:33] liconkle commented on #92651
Hi John,

The step #8, a says select require approved client app and require app protection policy
This is confusing to customers. We should have or there instead of and or remove a. entirely.

From: John Flores ***@***.***>
Sent: Monday, May 9, 2022 2:32 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Lindsay Conkle ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The o

[2022-05-09 18:39] KranthiPakala-MSFT commented on #92644
Hi @bigkangji - Please see below image for more clarification on which the document is referring to and let us know if you have further questions.

![image](https://user-images.githubusercontent.com/50185738/167475491-02bbd6dc-fc50-461e-ac3f-68050939dd5b.png)

Hope this clarifies.

Thanks

[2022-05-09 18:42] Jeej commented on #90950
@spelluru thank you for your reaction!

Yes, I have looked at it. This is what I described in [this](https://github.com/MicrosoftDocs/azure-docs/issues/90950#issuecomment-1087985914) comment.
The thing is that the requirement is that all communication should be internal, no internet traffic is allowed.
Your example / tutorial uses public internet. When the web app is only available via VNet integr

[2022-05-09 18:44] Karishma-Tiwari-MSFT commented on #92030
Thanks for sharing the update.

[2022-05-09 18:45] Karishma-Tiwari-MSFT commented on #92635
Thanks for sharing the update.

[2022-05-09 18:47] laujan commented on #92528
Hi @blixtor, Thank you for catching this. We have updated the documentation and the change should be reflected later today.

cc: @RohitMungi-MSFT

[2022-05-09 18:48] laujan commented on #92528
#please-close

[2022-05-09 18:48] #92528 closed

[2022-05-09 18:50] JnHs commented on #92642
Hi @m-soltani - I'm glad the documentation has been helpful. While I don't have any info on timelines, this feature is something that has been proposed - you can upvote/comment on our product feedback site here if you'd like: https://feedback.azure.com/d365community/idea/db5090d8-f824-ec11-b6e6-000d3a4f0da0
I'll close this issue now as there is no documentation update required, but please let us k

[2022-05-09 18:50] #92642 closed

[2022-05-09 18:58] mike-urnun-msft commented on #92347
Hello @matteus29 - Thanks again for your feedback. This is expected behavior that I confirmed with the Logic Apps team at the time of responding to the Q&A thread that you referenced. If you observe and encounter any issue outside of what is explained in the Note section regarding the described behavior, please let me know and I'd be happy to validate and file a bug with the team.

If your feedbac

[2022-05-09 18:58] #92347 closed

[2022-05-09 19:03] MicrosoftGuyJFlo commented on #92651
You have to choose both items.

[2022-05-09 19:07] liconkle commented on #92651
John,

What do you mean by you have to choose both?

If you are referring to selecting require approved apps and require app protection with AND clause is supported that is not correct. If you review more content from that document there are several places where it says you must use the OR clause not AND. Also, I've dealt with several cases using AND and it does not work/not supported.

From: John

[2022-05-09 19:08] MicrosoftGuyJFlo commented on #92651
Please reach out to me via email (in my profile) so we can discuss further.

[2022-05-09 19:25] tedvanderveen commented on #69658
December of 2021 or 2022? Or 2023?

[2022-05-09 19:36] rwike77 commented on #92614
@adriancuadrado  Thanks for pointing out the broken link.  It should be pointing to this article:
https://docs.microsoft.com/en-us/azure/active-directory/develop/support-fido2-authentication

I've submitted a fix, should go through soon.

[2022-05-09 19:37] ChaitanyaNaykodi-MSFT commented on #92646
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-09 19:38] ggailey777 commented on #81253
This issue has been addressed in https://github.com/MicrosoftDocs/azure-docs/issues/81253 #please-close

[2022-05-09 19:38] #81253 closed

[2022-05-09 19:38] bandersmsft commented on #92601
@katergin  Do you have permission to the environment where you're creating the budget? Are they able to actually log in using the client?

[2022-05-09 19:39] ggailey777 commented on #78539
This has been addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/192244 #please-close

[2022-05-09 19:39] #78539 closed

[2022-05-09 19:42] msmimart commented on #90744
Hi @dbona75, thanks so much for pointing this out and providing details about how you resolved the issue. We've updated the article, and the changes should be published shortly. At that time, this issue will be closed automatically. Thanks again for your feedback!

[2022-05-09 19:47] markjbrown commented on #92545
Quick update.

The ARM and Bicep samples within our docs are actually located in the [Azure Quickstart GitHub Repository here](https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.documentdb).

The samples on GitHub have both regular Azure Cloud and Gov Cloud included parameter files. During PR these are built and deployed to both clouds and must pass to be merged.

[2022-05-09 19:47] #92545 closed

[2022-05-09 19:50] pinkfloydx33 opened #92657 "AKS gitops addon decryption provider guidance"
When creating a Kustomization via the AKS Gitops Preview add-on, is it possible to specify the decryption provider (for example "sops")? The docs make it sound like there may be additional options available but this doesn't look to be one of them.

It looks like I might be able to create a Kustomization resource manually, specifying it there, and then point the AKS "top level" Kustomization at tha

[2022-05-09 19:53] jkdouglas commented on #91830
Hi - Here are answers to your questions.

Q1: I could choose only "Office 365" in the Microsoft app when setting the app limit in the Inbound access settings. Is it correct? [josh] Yes this is correct. B2B direct connect only works with Teams Shared Channels, so we limited which apps can be used for direct connect.
Q2: User X can access Tenant A? [josh] Yes, as long as direct connect is configured

[2022-05-09 19:54] jkdouglas commented on #91828
Hi - Here are answers to your questions.

Q1: I want to set condtional access "MFA or Hybrid Azure AD Join" for only Tenant B. I thinkt that this setting is impossible. Is this correct? [josh] Correct. Today you have to target all external users and guests to target B2B direct connect users since they have no user presence in the resource tenant.
Q2: In the future, can I set condtional access for

[2022-05-09 20:01] MarileeTurscak-MSFT commented on #92645
@guarismo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-09 20:02] rwike77 commented on #92614
The fix was merged, so closing this now.  #please-close

[2022-05-09 20:02] #92614 closed

[2022-05-09 20:05] #90744 closed

[2022-05-09 20:14] ssivas commented on #91828
Feel free to reach out to us if you have any additional questions. #please-close

[2022-05-09 20:14] #91828 closed

[2022-05-09 20:15] ssivas commented on #91830
Feel free to reach out us if you have any additional questions. #please-close

[2022-05-09 20:17] madsd commented on #92504
#please-close

[2022-05-09 20:17] #92504 closed

[2022-05-09 20:18] SreejaBhattacharya-MSFT commented on #92409
I have merged the changes into the document. The changes will start reflecting within next 12-24 hours.

[2022-05-09 20:18] #92409 closed

[2022-05-09 20:21] DevanshuSyk opened #92659 "what module does Set-AzSqlDatabaseThreatDetectionPolicy belong to"
what module does  Set-AzSqlDatabaseThreatDetectionPolicy belong to
find-command is unable to find the module
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48466f8a-fe67-cf7f-ce8e-30fd21024e79
* Version Independent ID: 04ec9073-4c56-7a46-6002-494fb31e2840
* Content: [PowerShell example of auditing

[2022-05-09 20:22] SreejaBhattacharya-MSFT commented on #92135
Do you have any further questions @jemag ?

[2022-05-09 20:24] jemag commented on #92135
No questions. Will the documentation be changed according to minimal permissions? Did not see any commit or PR referencing this

[2022-05-09 20:56] robece commented on #90950
Hi @Jeej, thanks for reaching out, we do not have a solution using private links for event delivery because private links, it's a Network Resource Provider feature, that was not designed for this scenario. That said, there are alternative options you could use: https://docs.microsoft.com/en-us/azure/event-grid/consume-private-endpoints.

Are you curious as to why private links are not applicable f

[2022-05-09 21:04] alisonOCT commented on #83750
@v-hagamp Can I please get an update? It's now been 5 months. Thanks!

[2022-05-09 21:09] TCPhelps opened #92661 ""Default Directory" doesn't exist in menu options"
The "default directory" category mentioned here is not an option in the Azure dashboard, and doesn't come up when I use the search bar.  I was sent to this page to find out who my administrator is (by https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/resolve-orphaned-organization?view=azure-devops)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-05-09 21:16] ronitr commented on #92460
Hi, thanks for your question! The current “CMMC Level 3” initiative is based on CMMC 1.02. In the new CMMC 2.0 version, DOD moved from five compliance levels to three. The 1.02 “Level 3” corresponds to “Level 2” in the new 2.0 version.
We do not currently have an option to add CMMC 2.0 to the Defender dashboard - and since the new CMMC 2.0 L2 is aligned with NIST 800-171, we will later release an

[2022-05-09 21:22] MladjoA commented on #91851
@vjc216 , thanks for pointing out the error in the documentation regarding removing a managed instance database from failover group. I just submitted a pull request to fix it.

What you already descried is the recommended way for performing point-in-time restore of a database to managed instance within failover group: _"deleting the target database and restoring with its same name by recovering fr

[2022-05-09 21:22] GeethaThatipatri-MSFT commented on #92659
Hi, @DevanshuSyk Thank you for reaching out. We will look into it and update as appropriate.

[2022-05-09 21:22] hansmbakker commented on #92543
The Github issue was to clarify whether Excel online can or cannot read data from Azure Analysis Services.

When you have a file with a Pivot Table with data from Azure Analysis Services (created in the desktop version and uploaded to e.g. onedrive), **I would expect to be able to change its filters using Excel Online and see the updated values** in the Pivot Table.

The queries, that should be ma

[2022-05-09 21:42] cebundy commented on #91772
It looks like this issue has been resolved.

[2022-05-09 21:42] cebundy commented on #91772
#please-close

[2022-05-09 21:42] #91772 closed

[2022-05-09 21:47] mike-urnun-msft commented on #92359
Hello @LasneF - Regarding:

Exporting the OpenAPI v3 option currently defaults to v3.0.1.

As for the specific restrictions within v3.0.3 and v3.1, @mikebudzynski @VitaliyKurokhtin could you share your insights?

[2022-05-09 21:48] pizzaz93 commented on #33643
@larryclaman the syntax `#please-close` should work to close the issue. I personally can't trigger the bot since I'm not part of Microsoft.

[2022-05-09 21:50] larryclaman commented on #33643
#please-close

[2022-05-09 21:50] #33643 closed

[2022-05-09 21:53] MarileeTurscak-MSFT commented on #92661
@TCPhelps
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-09 21:53] larryclaman commented on #83357
@zr-msft any update on this?

[2022-05-09 21:55] MladjoA commented on #92184
Hi @rameshmo1967 , I am not sure what part of the article your question refers to. Can you please expand a bit on the capability and the issue/unknown you are facing? Thanks

[2022-05-09 22:01] micahl commented on #89923
@hammar, @AshokPeddakotla-MSFT, @PatAltimore the packages-microsoft-prod.deb should have been fixed as of the end of March such that the instructions on ARM64 work as documented.  I believe we can close this issue.

[2022-05-09 22:03] cebundy commented on #90556
@fhinkel  Thank you for your feedback.  I wonder if you get the same error using Canada Central?

[2022-05-09 22:04] bmc-msft opened #92662 "typo on api"
The document refers to `mi_res_id`, however the underlying API specifications, as well as multiple implementations use `msi_res_id`.   As such, I believe the use of `mi_res_id` on this page is a typo.

Ref [rest API spec](https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2019-03-11/imds

[2022-05-09 22:05] jscottarmstrong opened #92663 "What are the possible values for DeliveryStatus?"
For a `Microsoft.Communication.SMSDeliveryReportReceived` event, what are the possible values for `DeliveryStatus`? The documentation only references `"Delivered"`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c93b84d-6835-6125-7ff9-deb47f255294
* Version Independent ID: ab1e0683-e6d2-9acf-4bc2-311d4bc5bc3a
* Conten

[2022-05-09 22:12] SatishBoddu-MSFT commented on #92338
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-05-09 22:13] #92338 closed

[2022-05-09 22:13] mike-urnun-msft commented on #92378
@KaiWalter Per the following issue, the sample appears to be based on AzureRM cmdlets: https://github.com/MicrosoftDocs/azure-docs/issues/27411

Please use the sample shared by @PramodValavala-MSFT: https://github.com/MicrosoftDocs/azure-docs/issues/27411#issuecomment-475295617

Existing sample is located here: https://github.com/Azure/azure-docs-powershell-samples/blob/master/api-management/setup

[2022-05-09 22:14] aj9411 opened #92664 "Typo on API query parameter"
Copying content of issue raised by @bmc-msft https://github.com/MicrosoftDocs/azure-docs/issues/92662 (same API is covered, I believe)

The document refers to mi_res_id, however the underlying API specifications, as well as multiple implementations use msi_res_id. As such, I believe the use of mi_res_id on this page is a typo.

Ref [rest API spec](https://github.com/Azure/azure-rest-api-specs/blob

[2022-05-09 22:15] mark-beaupre opened #92665 "Incorrect Logic for ANF Replication Health Monitor"
[Enter feedback here]
The logic is not correct for triggering alerts for replication health. Please see the changes in bold below:

To check if the replication is unhealthy:
**Set Operator to Less than.**
Set Aggregation type to Average.
**Set Threshold value to 1.**
Set Unit to Count.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-05-09 22:16] cebundy commented on #90155
This issue appears to be resolved.
#please-close

[2022-05-09 22:16] #90155 closed

[2022-05-09 22:19] mike-urnun-msft commented on #92652
Thank you for your feedback! We will review and update as appropriate.

[2022-05-09 22:19] mike-urnun-msft commented on #92663
Thank you for your feedback! We will review and update as appropriate.

[2022-05-09 22:20] tamram commented on #90062
@LijuV-MSFT - thanks for your feedback. The page has been updated.

#please-close

[2022-05-09 22:20] #90062 closed

[2022-05-09 22:24] Minewiskan commented on #92543
We're looking into this further. It's more of an Excel issue, so it may take a bit to track down the right contacts. It should work because it's not really any different than using in Excel in Power BI. It should just be a live connection.
https://stackoverflow.com/questions/70258265/excel-online-connection-to-azure-analysis-services

#please-open

[2022-05-09 22:25] cebundy commented on #89742
It seems that this issue has been resolved.
#please-close

[2022-05-09 22:25] #89742 closed

[2022-05-09 22:25] tamram commented on #91552
@johanste - Thanks for your feedback. I've updated the page.

#please-close

[2022-05-09 22:25] #91552 closed

[2022-05-09 22:26] tamram commented on #88883
@akshaymatmicrosoft - Thanks for your feedback. The page has been updated.

#please-close

[2022-05-09 22:29] tamram commented on #92190
@javester - Thanks for your feedback. I've updated the page to clarify this point. Please reach out to me directly if you have any further issues.

#please-close

[2022-05-09 22:29] #92190 closed

[2022-05-09 22:31] ChaitanyaNaykodi-MSFT commented on #92339
Hello @a30004053, Thank you for your feedback. I have made a PR to address this issue and it is currently under doc author's review. We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-05-09 22:31] #92339 closed

[2022-05-09 22:38] gwu70ca opened #92667 "Port showing up in sample code is different from the port in screenshot"
Sample Go code uses port 8080 but the URL and screenshot of section [Run the function locally](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other?tabs=go%2Cwindows#run-the-function-locally) shows port 7071

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524efc8-3aef-53b3-732b-683

[2022-05-09 22:42] cebundy commented on #89138
It appears that this issue has been resolved.  All Azure CLI and Powershell commands are tabbed where appropriate.  Container Apps does not support the schema of the Dapr component, therefore the "components" yaml has been removed from the article.
#please-close

[2022-05-09 22:42] #89138 closed

[2022-05-09 22:44] wcneumann219 opened #92668 "Windows VPN Client w/ MFA only supports phone verification and Authenticator App with Push Notifications"
This article is missing key information that you included with the sister article on using Azure MFA withe Remote Desktop Services.

I recommend you add the same Important notification but change the "Remote Desktop Gateway" to "Azure VPN Client."

"The sign-in behavior for **Remote Desktop Gateway** doesn't provide the option to enter a verification code with Azure AD Multi-Factor Authentication.

[2022-05-09 23:02] MarileeTurscak-MSFT commented on #92662
@bmc-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-09 23:04] MarileeTurscak-MSFT commented on #92662
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/197620

In the future feel free to make your own PRs for these types of changes.

[2022-05-09 23:04] #92662 closed

[2022-05-09 23:06] cebundy commented on #91644
Thanks for your dedication to our documentation.  We have looked into the issue and have not been able to reproduce the problem.  We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out again. #please-close

[2022-05-09 23:06] MarileeTurscak-MSFT commented on #92668
@wcneumann219
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-09 23:06] #91644 closed

[2022-05-09 23:25] khdownie commented on #92468
@dikadali there is no downtime. I have added this to the docs:

https://docs.microsoft.com/en-gb/azure/storage/files/storage-how-to-create-file-share?tabs=azure-portal#enable-large-files-shares-on-an-existing-account

@SumanthMarigowda this issue can now be closed.

[2022-05-09 23:26] pnarsi commented on #92282
@RyanHill-MSFT - actually, I found more detail on this page (third example).

https://docs.microsoft.com/en-us/rest/api/searchservice/preview-api/create-or-update-skillset#examples

So we if specify the "storageConnectionString" without the Account Key, it will attempt to use the System Assigned Managed Identity. We can also include the "identity" property to specify a User Assigned Managed Identi

[2022-05-09 23:42] johnc-ftl commented on #86704
There's a useful video on this topic here, which is the only other info I could find on it:
https://www.youtube.com/watch?v=zAbOlqf21No

[2022-05-09 23:47] johncrim commented on #86704
There's a useful video on this topic here, which is the only other info I could find on it:
https://www.youtube.com/watch?v=zAbOlqf21No

[2022-05-09 23:57] Karishma-Tiwari-MSFT commented on #92270
Unfortunately this is not planned, as the classic objects have always been only in the US.
We are looking into ways to migrate ARM objects at a later stage, but no ETA.
The recommendation at this time for you is to create new host pool objects in ARM in Europe.

Hope this helps.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this m

[2022-05-09 23:57] #92270 closed

[2022-05-09 23:58] tamram commented on #83622
@ramakrpr - Thanks for your feedback! This was fixed sometime recently.

#please-close

[2022-05-09 23:58] #83622 closed

[2022-05-09 23:58] Karishma-Tiwari-MSFT commented on #92278
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-09 23:58] #92278 closed

[2022-05-10 00:10] tamram commented on #81434
@nazakathussain - We now recommend using the built-in policy to monitor compliance with the key expiration policy. See [here](https://docs.microsoft.com/azure/storage/common/storage-account-keys-manage?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-portal#check-for-key-expiration-policy-violations) for details.

The query in question has been removed from the documentation.

#please-close

[2022-05-10 00:10] #81434 closed

[2022-05-10 00:16] tamram commented on #80754
@yuyichung - Thanks for your feedback! This was updated in the docs a while ago; now closing the open issue.

#please-close

[2022-05-10 00:16] #80754 closed

[2022-05-10 00:26] PatAltimore commented on #89923
Thanks, @micahl.

I'll close the issue. #please-close

[2022-05-10 00:26] #89923 closed

[2022-05-10 00:43] wcneumann219 opened #92670 "Missing possibility for error..."
I believe that this sentence in the article is incomplete: "This error usually reflects an authentication failure in AD or that the NPS server is unable to receive responses from Azure AD. "

I believe you can also get this error message if the Radius server does not get a response to a secondary authentication prompt from the VPN appliance, e.g., when the authentication message is an SMS one that

[2022-05-10 01:12] w-azure commented on #89657
Thanks for the feedback. After reviewing the article, there does not appear to be an opportunity to update it, as the MarkupSafe library is not required for this tutorial. Good to see a solution was found through the right version though, if you do have that library. We'll close this issue, but if you have any other comments or concerns feel free to reopen it. Thanks.
#please-close

[2022-05-10 01:42] MonikaReddy-MSFT commented on #92657
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-10 02:05] Karishma-Tiwari-MSFT commented on #92654
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-10 02:54] ammarasmro commented on #92502
Awesome, thanks!

[2022-05-10 03:03] SnehaAgrawal-MSFT commented on #92664
@aj9411 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-10 03:09] kekatahi opened #92673 "Add Description that zone redundant enable automatically and cannot disable manually on portal"
Currently, we don't have option to choose zone redundant enable or disable on portal.
And we need to use azure cli if we want to create AZ disable namespace.
Please add above description . This is customer friendly.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr?tabs=portal#availability-zones

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-05-10 03:11] lulukdog commented on #92640
Is't already a known issue .Just did not fix now.
And may I get the date when the issue would be fixed

[2022-05-10 03:51] CHEEKATLAPRADEEP-MSFT commented on #92673
@kekatahi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-05-10 04:01] RohitMungi-MSFT commented on #92516
@varun43in I hope the above clarification helped for your query. We will now proceed to close this issue. Thanks!!

[2022-05-10 04:01] #92516 closed

[2022-05-10 05:10] lulukdog commented on #92640
@GiftA-MSFT  PS：HUAWEI mate40pro ，Harmony OS

[2022-05-10 05:10] max811811 opened #92675 "Capitalizing items that should not be capitalized"
[Enter feedback here]
Under field extraction it is capitalizing the values which is pretty confusing as you need to enter the values uncapitalized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9146882-685c-ea22-2a62-a1629c93eeb5
* Version Independent ID: e759e157-0557-3f16-5b95-3a99a88b5368
* Content: [Form Recogniz

[2022-05-10 05:19] a30004053 commented on #92339
Thank you @ChaitanyaNaykodi-MSFT!

[2022-05-10 05:26] KaiWalter commented on #92378
Thanks @mike-urnun-msft - I exactly reverted to the approach with `Set-AzApiManagement` stated in that other issue

[2022-05-10 05:27] E-RELevant commented on #92278
Thank you, @RyanHill-MSFT and @Karishma-Tiwari-MSFT for your quick responses, and sorry for the late response of mine.
Running the command using both flags gave the following output:
[code]

[code]

[2022-05-10 05:29] E-RELevant commented on #92278
Thank you, @RyanHill-MSFT and @Karishma-Tiwari-MSFT for your quick responses, and sorry for the late response of mine.
Running the command using both flags gave the following output:
[code]

[code]

[2022-05-10 05:31] SreejaBhattacharya-MSFT commented on #92135
@zr-msft could you please look into this and see if we can change the documentation?

[2022-05-10 05:43] alex-sameli commented on #89791
Any update on this? We ran into the same issue.

`az vmss update --resource-group xxx--name yyy --set virtualMachineProfile.storageProfile.imageReference.id=/subscriptions/zzz/resourceGroups/weu-co-rsg-mds-cqf/providers/Microsoft.Compute/images/ubuntu2004-32086`

returns
**(OperationNotAllowed) The Image type for a Virtual Machine Scale Set may not be changed.**

`C:\Users\Alex>az version
{
  "azu

[2022-05-10 05:49] AjayKumar-MSFT commented on #92407
assaf-grth, Hope the above answer helps. Since we have not heard back from you, we will close this thread for now.
Thanks for sharing your insights, seligj95.

[2022-05-10 05:49] #92407 closed

[2022-05-10 06:25] SnehaAgrawal-MSFT commented on #92483
@edwh We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-10 06:25] #92483 closed

[2022-05-10 06:33] ggailey777 commented on #66834
@alexandair are you able to help with this issue?
cc. @mikefrobbins

[2022-05-10 06:39] ggailey777 commented on #60741
Thanks for the heads up, and sorry it took so long to get back to you. The page you reference should be up-to-date at this point. If not, please open a new issue. #please-close

[2022-05-10 06:39] #60741 closed

[2022-05-10 06:41] ggailey777 commented on #61219
We now have PS examples in this article. Thanks for your patience. #please-close

[2022-05-10 06:41] #61219 closed

[2022-05-10 07:01] GertjanBanga commented on #92489
Thank you for this. I will try this.

Still hope the use of the Graph API will be simplyfied. All I want is to get the users last non-interactive logons to see the users activity. Interactive logons I can get with normal PowerShell commands.

Regards,

Gertjan
________________________________
Van: AmanpreetSingh-MSFT ***@***.***>
Verzonden: maandag 9 mei 2022 7:39
Aan: MicrosoftDocs/azure-docs ***

[2022-05-10 07:28] hemski635 opened #92679 "Typo under Microsoft.Network / networksecuritygroups"
Typo under Microsoft.Network / networksecuritygroups
Refers to "NGSs" instead of "NSGs"

Region moves:
`Yes

Use [Azure Resource Mover](https://docs.microsoft.com/en-us/azure/resource-mover/tutorial-move-region-virtual-machines) to move network security groups (NGSs).`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d

[2022-05-10 07:43] o-l-a-v opened #92680 "So, how do you enforce minimum TLS on an Azure Service Bus Namespace?"
* [Announcement](https://azure.microsoft.com/en-au/updates/policy-to-control-the-minimum-tls-version-used-with-azure-service-bus-now-in-public-preview/)
* [Documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/transport-layer-security-enforce-minimum-version)
* [ARM / Bicep reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.servicebus/namespaces?tabs=bicep)

[2022-05-10 07:44] GitaraniSharma-MSFT commented on #92411
@iromanovsky , you can find all the details regarding conditional forwarding & the explanation for the recommendation by Azure in the below doc:
https://github.com/dmauser/PrivateLink/tree/master/DNS-Integration-Scenarios#41-which-conditional-forwarder-zone-should-be-used

"There are reports that BIND-based DNS Servers (including Infoblox) work using conditional forwarders towards the privatelink.

[2022-05-10 07:44] #92411 closed

[2022-05-10 07:45] GitaraniSharma-MSFT commented on #92411
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-05-10 08:04] Molx32 opened #92682 "Wrong command for disconnecting a machine"
Hello there!
The docs says that we need to use the **--tenant-id** parameter to disconnect a machine. However, the command documentations shows it is not necessary.
![image_2022-05-10_100110021](https://user-images.githubusercontent.com/16539754/167579141-a0af6b35-398e-46f0-9b51-c83bd8d64020.png)

After some testing, the use of the **--tenant-id** parameters generates an error and the command fail

[2022-05-10 08:08] dejan-shuki opened #92684 "Unable to access adf-publish branch, just main"
If I follow your procedure in step 7.e I am able to access just **main** branch, **not adf_publish**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d185ba52-7285-4ba3-abd8-06a76ee8f6dc
* Version Independent ID: 6cbe707a-5031-2b63-e950-ea5456d58bb4
* Content: [Automate continuous integration - Azure Data Factory](https

[2022-05-10 08:13] YassineSOUABNI commented on #92647
Dear,
Kindly close this thread - >>>> Appologies <<<<<
It turns out that it is indeed disabled but depending on the privileges of the account running the AD console
- if opened as domain Admin (or enough privileges) : the "KRBTGT_AzureAD"  looks fine & disabled
- if opened as normal user : the "KRBTGT_AzureAD"  looks Enabled which is a false represenation probably due to lack of read privileges

B

[2022-05-10 08:35] kengaderdus commented on #92629
@schalkvanwyk

Thank you for your feedback and patience. We're already tracking this issue internally, and we're in the process of updating this document to capture the new changes. For now, I'll close this issue, and will comment back once the document is updated. #please-close

[2022-05-10 08:35] #92629 closed

[2022-05-10 08:54] SumanthMarigowda commented on #92665
@mark-beaupre Thanks for your question. We are checking on this and will respond to you soon.

[2022-05-10 08:56] paooox opened #92686 "Broken link"
The link on the following section, to download the configuration server template, is currently broken (I'm getting a 404) :

_You can also download the latest version of the configuration server template directly from the [Microsoft Download Center](https://aka.ms/asrconfigurationserver)._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-05-10 09:07] SwathiDhanwada-MSFT commented on #92682
@Molx32 Thanks for your feedback.

Assigning to content author @JnHs for review.

[2022-05-10 09:08] lulukdog commented on #92640
The code block in PringResultOffset()
the problem most like Android doesn't have the functon `result.Best()` isn't it?
![image](https://user-images.githubusercontent.com/4277659/167592513-d099028f-c141-4b83-9a7a-748e55649ebf.png)

[2022-05-10 09:11] #92489 closed

[2022-05-10 09:13] #92679 closed

[2022-05-10 09:22] SnehaAgrawal-MSFT commented on #92667
@gwu70ca Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-10 09:22] RohitMungi-MSFT commented on #92675
@max811811 Is there any Field that you are seeing is being extracted with a different case other than the one in the form or document? Could you try testing the API using the form recognizer [studio ](https://formrecognizer.appliedai.azure.com/studio/prebuilt?formType=invoice)to check if this behavior is replicated?
Ideally, the response will contain the same case as the document. If there is any

[2022-05-10 09:24] Venkateshdodda-MSFT commented on #92620
@pnarsi Looks like @HeidiSteen has answered your question. We will close this out, but if you feel you need more information, please just let us know.

[2022-05-10 09:24] #92620 closed

[2022-05-10 09:24] Expecho opened #92687 "How to deal with cancellations?"
This page does list a lot of scenario's but I cannot find anything about what happens when cancellation is requested. Take the following code for example:

[code]

will checkpointing take place if the function is about to shutdown and the `cancellationToken` is in the canceled state?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-05-10 09:28] jdk-2020 opened #92688 "Problem with Installing C:\Software\DRAppliance\MicrosoftAzureAutoUpdate.msi..."
When installing the DRAppliance from PowerShell, the:

MSI installer for MicrosoftAzureAutoUpdate.msi included in package may be corrupt.
Installation fails at step.  I've verified the MSI file individually and fails to run: "Verify that the package exists and that you can access it"
I'm running as elevated PowerShell and no restriction with code execution.  Unlikely to be permission issue.

---
#

[2022-05-10 09:44] MughundhanRaveendran-MSFT commented on #92519
@aomachi , I am closing this issue and I will be providing the feedback internally. Feel free to reopen this issue when needed.

[2022-05-10 09:44] #92519 closed

[2022-05-10 09:45] andrefboliveira opened #92689 "Wrong query to check OverQuota"
The query on the documentation to check for OverQuota (Data collection stopped due to daily limit) is outdated.

The query in the [docs](https://docs.microsoft.com/azure/azure-monitor/logs/monitor-workspace#operation-data-collection-stopped) states:
`_LogOperation | where TimeGenerated >= ago(7d) | where Category == "Ingestion" | where Operation has "Data collection"`

However, the "Operation" fie

[2022-05-10 09:47] andrefboliveira commented on #92689
The query in the [[docs](https://docs.microsoft.com/azure/azure-monitor/logs/daily-cap#alert-when-daily-cap-is-reached) states)](https://docs.microsoft.com/azure/azure-monitor/logs/daily-cap#alert-when-daily-cap-is-reached) states:

`_LogOperation | where Operation =~ "Data collection stopped" | where Detail contains "OverQuota"`

However, the "Operation" field is an ID, not a text field. Therefor

[2022-05-10 09:50] andrefboliveira commented on #92689
Please note, that is this reporting a similar issue in 2 docs page:

Content Source: [articles/azure-monitor/logs/monitor-workspace.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-monitor/logs/monitor-workspace.md)
Content Source: [articles/azure-monitor/logs/daily-cap.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-monitor/logs/daily-cap.md)

[2022-05-10 09:57] SadiqhAhmed-MSFT commented on #92688
Thank you for your post. Could you please share the screenshot of the error message/UI?

[2022-05-10 09:59] SadiqhAhmed-MSFT commented on #92686
Thank you for bringing this to our notice. We will review this request with content owner and fix the link shortly.

[2022-05-10 10:00] bmansheim commented on #92181
Hi @CarlosAugustoDeSouzaJunior . Can you consult with Support to identify the solution to your issue?

[2022-05-10 10:04] SadiqhAhmed-MSFT commented on #92686
@Sharmistha-Rai FYI

![image](https://user-images.githubusercontent.com/44458118/167603935-aa74a4cc-5847-4803-8dc7-71f2fc4a978c.png)

Could you please fix the link - https://aka.ms/asrconfigurationserver ?

[2022-05-10 10:08] Meertman opened #92691 "Incorrect default values for excluded types of Application Insights specified on the documentation page."
In the subsection of the document: Configuring adaptive sampling for ASP.NET applications

The documentation specifies that the "The figures shown are the default values:"

Looking at the values for the excluded types, this gives the impression that the values specified there are default values, namely:
<ExcludedTypes>Trace;Exception</ExcludedTypes>

However, when running the default configuration

[2022-05-10 10:13] AnuragSharma-MSFT commented on #92346
@A141182 Thanks for your patience, and sorry for the delay. We are assigning this request to content author for updates.

[2022-05-10 10:25] SwathiDhanwada-MSFT commented on #92689
@andrefboliveira Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-10 10:26] ShaikMaheer-MSFT commented on #92684
@dejan-shuki Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2022-05-10 10:38] edgreenberg-mri opened #92692 "Got lost on this page trying to create the Container App Environment"
"In the Create Container App environment field, select Create new."

How do you get to the screen with this field? A step is missing.

When I go search for 'Container App Environments' I get a screen that has "Manage View, Refresh, Export to CSV, OPenQuery and Assign Tags" so I got lost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-05-10 10:40] jdk-2020 commented on #92688
Hi,All run well until this step: MicrosoftAzureAutoUpdate.msi  When checking the logfile, the error relates to this: “ MSI (s) (70:2C) [09:25:38:823]: Executing op: ActionStart(Name=RunPowerShellScript,,)MSI (s) (70:2C) [09:25:38:823]: Executing op: CustomActionSchedule(Action=RunPowerShellScript,ActionType=3073,Source=BinaryData,Target=WixQuietExec,CustomActionData="C:\Windows\SysWOW64\WindowsPow

[2022-05-10 10:42] SadiqhAhmed-MSFT commented on #92688
Not clear!

[2022-05-10 10:48] radhegithub commented on #92622
Thank you, Please update since have asked client to wait

[2022-05-10 10:51] jdk-2020 commented on #92688
Apologies - that did not translate very well.

It all runs well until this step: MicrosoftAzureAutoUpdate.msi

![image](https://user-images.githubusercontent.com/98876576/167611632-2d3841a0-91b0-42e1-bd1e-2ac9b0ba6acb.png)

I tried to manually run or extract the MicrosoftAzureAutoUpdate.msi file - but it shows this error:

![image](https://user-images.githubusercontent.com/98876576/167612153-f8a7e

[2022-05-10 10:52] jdk-2020 commented on #92688
I may also add that there is no script execution restrictions.
I've also added antivirus exclusions.

[2022-05-10 10:55] amanmcse commented on #92619
@akiyoshi OAuth is used in conjunction with OIDC for authentication. The document is focused on the flow of acquiring the token after successful authentication and not on the authorization. Hence it is titled OAuth 2.0 authentication and not OAuth 2.0 authorization.

[2022-05-10 10:55] #92619 closed

[2022-05-10 11:04] Venkateshdodda-MSFT commented on #92680
@o-l-a-v Thanks for reaching out. Please take a look into [this documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/transport-layer-security-configure-minimum-version?msclkid=52e56759d04a11ec84f0802991bd6781) to deploy the Service Bus Namespace with enabling `minimumTlsVersion:1.2`.

[2022-05-10 11:11] o-l-a-v commented on #92680
Thanks @Venkateshdodda-MSFT, I'll do further research into it.

Will that make it som that the audi policy in my OP will work?

[2022-05-10 11:12] amanmcse commented on #92670
@wcneumann219 Thank you for the feedback. I have assigned the issue to the author of the document to review and update.

[2022-05-10 11:18] kyleharperSAIT opened #92693 "Import error with TextOperationStatusCodes"
Afternoon,

there seems to be an issue with one of the imports;

ImportError: cannot import name 'TextOperationStatusCodes' from 'azure.cognitiveservices.vision.computervision.models' (******/anaconda3/lib/python3.9/site-packages/azure/cognitiveservices/vision/computervision/models/__init__.py)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-10 11:19] Venkateshdodda-MSFT commented on #92680
@o-l-a-v as per the documentation steps you will be able to enforce the policy post configuring [this ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/transport-layer-security-configure-minimum-version?msclkid=52e56759d04a11ec84f0802991bd6781)

[2022-05-10 11:22] SadiqhAhmed-MSFT commented on #92688
This is what the logs says:

WixQuietExec: Creating task scheduler.
WixQuietExec: Log-Error : Script execution failed with error Cannot bind argument to
WixQuietExec: parameter 'FilePath' because it is null..Exception.Message
WixQuietExec: At C:\Program Files\Microsoft Azure Appliance Auto
WixQuietExec: Update\Scripts\CreateTaskScheduler.ps1:133 char:5
WixQuietExec: + Log-Error "Script execution f

[2022-05-10 11:27] shashishailaj commented on #92460
@J227668 Hope the explanation above clarified your query . We will now close this issue. Should you still have any further query , please feel free to open a new issue tagging this and we will help you further.

[2022-05-10 11:27] #92460 closed

[2022-05-10 11:29] maud-lv commented on #91806
#please-close

[2022-05-10 11:29] #91806 closed

[2022-05-10 11:46] #92536 closed

[2022-05-10 11:47] shashishailaj commented on #92536
@ghoul652 Please let us know if you have a query related to azure documentation and we will be happy to help you further.

Thank you .

[2022-05-10 11:53] bmansheim commented on #91722
#please-close

[2022-05-10 11:53] #91722 closed

[2022-05-10 12:00] shashishailaj commented on #92477
@paulinembabu There are some changes to the service which will be updated . For the moment, you would enable the verifiable credentials preview the following service principals automatically get created in your tenant . That is when you click on save and create credentials.

<img width="398" alt="image" src="https://user-images.githubusercontent.com/532022/167623078-e7bf76ee-f5e4-408c-a033-64271fc

[2022-05-10 12:00] #92477 closed

[2022-05-10 12:09] akiyoshi commented on #92619
@amanmcse Thank you for the response.
I understand what you mean, but if the document is focused on the OICD authentication flow, that is redundant because there is the OIDC authentication section.
Since this is an OAuth 2.0 section, it would be nice to have more explanation about authorization.
I would appreciate it if you could add it as an item for improvement in future documentation.
Thanks,

[2022-05-10 12:25] timjansenortec opened #92694 "Consumption plan and data storage region"
The table in section 'Resource type and host environment differences' seems to imply that there are no garantuees about where data (scheduling queues, flow input/output logging) is stored for a consumption plan logic app on the multi-tenant platform. Is this really the case?
You can create such a resource in a specific 'region'. What does this do then? Is any compute or data storage tied to this r

[2022-05-10 12:26] Pietervanhove commented on #92550
Hi @AminAvan,

A primary key column can never contain a NULL value. Not even on a normal table. See
[https://docs.microsoft.com/en-us/sql/relational-databases/tables/create-primary-keys?view=sql-server-ver15#Restrictions](url)

That said, you can create a ledger table with a primary that is set to NOT NULL. The example of the append-only table that you posted will work. If you want to change your

[2022-05-10 12:58] andrew-vdb commented on #57363
@bainian12345 your statement is incorrect
i can't get stable throughput when i hammer azure relay
![image](https://user-images.githubusercontent.com/12871379/167633012-bb1850e8-ce17-4710-b396-4bcb6e461ea3.png)

[2022-05-10 13:05] ram-msft commented on #92693
@kyleharperSAIT Thanks for the question. We are investigating the issue and will update you shortly.

[2022-05-10 13:26] sicil1ano commented on #92285
Hi @GeethaThatipatri-MSFT. I'm sorry, I didn't have Internet access in the past few days.

About the issue, the problem I've with the CLI command reported in that doc is that `Microsoft.SqlVirtualMac` isn't a valid resource provider to register, as it doesn't exist. Your screenshot is indeed showing that `Microsoft.SqlVirtualMac` isn't available.
The user will always encounter an error executing t

[2022-05-10 13:35] julio-gago-msft opened #92695 "Queries from powerbi.com to Azure Cosmos DB account are working for me!"
[Enter feedback here]
There is a note stating this is not possible, but I just tried and it works both, using an in-premises gateway and directly. The latter needs the DB to be reachable from internet.

Thanks,
Julio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independe

[2022-05-10 13:35] JoelCanteroGCO opened #92696 "Error in the page "Run Python scripts through Azure Data Factory using Azure Batch""
[In this section](https://docs.microsoft.com/en-us/azure/batch/tutorial-run-python-batch-azure-data-factory#create-a-batch-pool-using-batch-explorer), when it says to select "Dsvm Windows as the operating system", it does not appear in the option list.

Thank you,
Joel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894

[2022-05-10 13:50] mgowing opened #92697 "Broken Link for Page"
There is a broken link for the parquet memory adjustments. See below.

It might be necessary to adjust the Java settings if memory errors occur, as described in the [Parquet format] documentation(format-parquet#using-self-hosted-integration-runtime).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d

[2022-05-10 14:04] TimDaborn commented on #83901
So, while I like the convenience of Visual Studio installing Azurite, this issue where version of Azurite in Visual studio is not being updated when a new version is released, caused me pain.  See [https://github.com/Azure/Azurite/issues/1476](https://github.com/Azure/Azurite/issues/1476)

In addition, having no control over the start command is not helpful either.

[2022-05-10 14:09] HeidiSteen commented on #92282
@pnarsi, I'm glad you're unblocked.  I'll update the docs in more places to note the availability of the RBAC option.  Thanks for pointing this out.

#please-close

[2022-05-10 14:17] #92686 closed

[2022-05-10 14:18] SadiqhAhmed-MSFT commented on #92688
We need to debug further why is that giving error at running createtaskscheduler.ps1. I recommend you to contact Azure technical support team by raising a support request. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.

Here is the link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-reque

[2022-05-10 14:18] #92688 closed

[2022-05-10 14:29] julio-gago-msft commented on #92695
![image](https://user-images.githubusercontent.com/105295158/167652601-7ab69d33-0cc8-4815-b158-bca14a6c6c5f.png)
Please look at the note at the bottom.

I am now thinking that perhaps I misinterpreted it. Perhaps the note is trying to say that you need to go through powerbi desktop in order to create a report that queries directly to cosmos.

I leave to you if that if my misinterpretation is weird

[2022-05-10 14:33] Rodrigossz commented on #92695
Hello! I think that the message is clear: You need to use PBI Desktop to create the reports, and then publish them. You can't create the report in PBI web because you can't extract the data. If you somehow extract the data and upload it to PBI web as a data source, you can then create the report.

What is your suggestion?

[2022-05-10 14:39] #92468 closed

[2022-05-10 14:41] WillEastbury commented on #92564
@mike-urnun-msft, fix complete and merged.

[2022-05-10 14:42] julio-gago-msft commented on #92695
What about this one:

Reports created in Power BI Desktop can be published to PowerBI.com. Refreshes of such reports by querying the Azure Cosmos DB are supported either directly or via on-premises gateway. Creating datasets/reports that query Azure Cosmos DB directly from powerbi.com, without first using Power BI Desktop, is not supported.

Idk, perhaps it's only me, but "direct extraction of Azu

[2022-05-10 14:56] DeanGross opened #92702 "Old link"
The link to Threat Intelligence information points to an article that is almost 4 years old. Is there anything more current that is relevant to this plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04416a52-f2e8-105d-1115-6c5c31279470
* Version Independent ID: 07629d50-c6dd-5eff-1c80-9afb5de53e15
* Content: [Micros

[2022-05-10 14:57] Rodrigossz commented on #92695
Direct queries aren't supported... Only import mode.

[2022-05-10 15:00] SreejaBhattacharya-MSFT commented on #92692
Hello @edgreenberg-mri , when you go to Container App, select the first option **Create**, it will take you to the creation section for container apps. I hope this answers your question.

[2022-05-10 15:00] #92692 closed

[2022-05-10 15:01] SreejaBhattacharya-MSFT commented on #92692
If you have any queries, feel free to reach back.

[2022-05-10 15:05] thomasncc opened #92703 "Email Notifications in PIM"
Hello, the section of the page entitled **Notifications for Azure AD roles** is confusing. It would be good if the detail on which admins receive what notifications, whether they have to just be eligible or whether their PIM role has to be activated at the time to receive a notification. PIM Role Settings (https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-h

[2022-05-10 15:18] PriyankaRudramaina commented on #92696
@JoelCanteroGCO,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-10 15:26] esha0611 commented on #88258
This issue has been addressed and can be closed.

[2022-05-10 15:31] enterpriseSoftware commented on #92564
One question I had in this AD, AD B2C scenario is what pattern could be
used in the following scenario.

Tenant A:   Has a Function App and User Tom in this tenant has permissions
used in the implementation.
Tenant B: This is an AD B2C and the app registrations have been configured
so a user in Tenant A can access the Function App API.
Tenant B has a user called Jack.  He can access the API but he

[2022-05-10 15:50] Karishma-Tiwari-MSFT commented on #92702
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-10 15:59] soaand01 commented on #54143
Maybe @mrbullwinkle

[2022-05-10 16:01] mike-urnun-msft commented on #92687
Thank you for your feedback! We will review and update as appropriate.

[2022-05-10 16:09] WillEastbury commented on #92564
Yes it would be considered out of scope for Docs comments , but if I were you -> then I’d start with considering these scenarios. 😊

https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant
Set up sign-in for an Azure AD organization - Azure AD B2C | Microsoft Docs<https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-sing

[2022-05-10 16:10] lanicolas opened #92706 "Typo on Arc note"
There is a typo on this note:

Azure VMware Solution vCenter will be available in global search but will NOT be available in the list of vCenters for ARc for VMware.

ARc should be Arc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5552f7e0-11e2-d29d-79ba-f80fdc861de9
* Version Independent ID: 403cf634-0799-86bd-d26c-c

[2022-05-10 16:21] mrbullwinkle commented on #54143
@soaand01 Unfortunately, I moved over to Cognitive Services/Applied AI so I am not up on all the great work being done with OpenCensus. From quick glancing at the docs it looks like this should be what you need: https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#opencensus-python-telemetry-processors but I am not sure how up-to-date this is. If this doesn't work @lzche

[2022-05-10 16:39] Heidilohr commented on #92102
@J227668 @SreejaBhattacharya-MSFT I believe it's mentioned in the last bullet point in [this blog post](https://techcommunity.microsoft.com/t5/azure-virtual-desktop-blog/intune-device-configuration-for-azure-virtual-desktop-multi). Does that answer your question?

[2022-05-10 16:39] KranthiPakala-MSFT commented on #92697
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-05-10 16:47] AshokPeddakotla-MSFT commented on #92622
@radhegithub I looked into the screenshots which you have shared and unable to conclude what is wrong here. As you have already  mentioned restarted multiple times, we need to look into this further to find out the root cause of it. Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Is

[2022-05-10 17:02] edgreenberg-mri commented on #92692
It’s the container-app-environment that I was having trouble with. I was reporting that the documentation seems to skip a step.  I got the environment created from the command line, so I’m OK, but when I got confused in the portal, thought you guys should read it over again and maybe try following the instructions for yourselves.

From: SreejaBhattacharya-MSFT ***@***.***>
Sent: Tuesday, May 10, 2

[2022-05-10 17:09] laujan commented on #92597
Hi @tagauto, Thank you for your feedback. I checked with the product team: cell level confidence is currently not available and is not scheduled for the next preview update.  I've passed your suggestion on to the product team. Thanks again!

cc: @RohitMungi-MSFT

[2022-05-10 17:14] KranthiPakala-MSFT commented on #92644
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2022-05-10 17:14] #92644 closed

[2022-05-10 17:40] Karr opened #92708 "Lack of information"
6.  Select Add and enter all the necessary details for the specific initiative such as scope, parameters, and remediation.

So, I am attempting to add a HITRUST/HIPAA regulatory compliance and I am asked a series of question in PARAMETERS.
Documentation doesn't cover this as I am presented a puzzling question there.

Certificate thumbprints
A semicolon-separated list of certificate thumbprints tha

[2022-05-10 17:40] KenBiel-OPM opened #92709 "Re: In preview or GA? #51650"
Over two years later, this page says the feature is in preview. This is the only page regarding the feature that claims it is, but I also cannot find any announcement for GA. Can someone confirm whether this is in GA and if not is there a timeline for release?

https://github.com/MicrosoftDocs/azure-docs/issues/51650

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-05-10 17:43] damendo commented on #77499
Assigning @Harsha-CS

[2022-05-10 17:44] efdake commented on #92139
@MarileeTurscak-MSFT
Awesome. You can ping me internally on Teams if you have any questions.

[2022-05-10 17:45] efdake commented on #92138
@MarileeTurscak-MSFT
Awesome... Feel free to ping me on Teams internally if there are any questions.

[2022-05-10 18:02] GiftA-MSFT commented on #92643
Hi @dataRunner2 you would need to replace the values for all these arguments (that is, "train_data", "train.py", cluster, and iris_dataset) with your own data as mentioned in the notes. The previous step shows how to [create datasets](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines#use-dataset-objects-for-pre-existing-data) as well as this [document](ht

[2022-05-10 18:15] b-hchen commented on #92665
@mark-beaupre - Thanks, Mark. I've looped in the initial content providers (Dev & SRE) via email for confirmation.  GitHub issues are public, so let's move this discussion to internal email.

[2022-05-10 18:17] KevinInch commented on #77499
Almost 1 year later and Microsoft still does not know how reader roles work.

[2022-05-10 18:18] ealsur commented on #92454
Could you clarify what you mean by progress? This is a conceptual document that describes general approach with any Cosmos DB SDK, it will not include code snippets.

For Java specific material there are plenty of documents around:

* https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-java-sdk-v4-sql
* https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-java-sdk-v4

[2022-05-10 18:21] #23021 closed

[2022-05-10 18:27] mbender-ms commented on #59747
@AbdullahBell Would you like to assignment of this, or did you cover this in your Freshness updates?

[2022-05-10 18:37] Dekard opened #92711 "AES256 updates before you created the object."
[In the instructions we have the instructions on setting it to use AES-256 before setting up the object, which users if they try this will get an error that no such object can be found.

Please move the section titled:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable?tabs=azure-portal#recommended-use-aes-256-encryption

Recomme

[2022-05-10 18:39] SunandaChowdhary opened #92712 "Is msgraph_host field returned as part of OpenID API call, a required field?"
Hi,

I am looking for the team to discuss msgraph_host field. As part of response from OpenID, this field contains Graph URL for downloading picture. I do not find any documentation around it and not sure if we can use it in product with certainty or not. Kindly guide.
Thank you!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-05-10 18:47] kegregoi opened #92713 "Guest Agent automatic log collection"
Can we update/rename this section to explain that this feature is also available on Linux (Since version 2.7, only Ubuntu so far) along with listing what files are collected analogous to what we already have here for Windows?

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#windows-guest-agent-automatic-logs-collection

---
#### Document Details

⚠ *Do not edit thi

[2022-05-10 18:52] sparksterz commented on #28378
Just got it today as well...getting nothing via app insights. Issue started occurring for me while trying to add in logic from the force password reset sample into my already existing workflow.

[2022-05-10 18:56] v-thepet commented on #84950
@johnkemnetz - The video is working now, so you can close this.

[2022-05-10 18:56] v-thepet commented on #84701
@johnkemnetz - The video is working now, so you can close this.

[2022-05-10 18:59] PriyankaRudramaina commented on #92242
Hello @felixtsem5,

I think this may need aks-preview extension. Could you try update your cli and run:
az extension add --name aks-preview
az extension update --name aks-preview

[2022-05-10 19:05] PriyankaRudramaina commented on #92470
Hello @ashishmundrajll,

Users can configure [diagnostic logs](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-log-query#resource-logs) for cluster-autoscaler and use log based alerts. Alternatively use metrics based alerts, [autoscaler metrics are available](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftcontainerservi

[2022-05-10 19:05] #92470 closed

[2022-05-10 19:16] SreejaBhattacharya-MSFT commented on #92692
Hi @edgreenberg-mri , thanks for reaching back. I tried following the documentation step by step and implemented it via Portal. It seems correct to me. **Create new** option is available below the **Container Apps Environment**. Please do correct me if my understanding is wrong here, or if I am unable to get the exact query.

[2022-05-10 19:17] PriyankaRudramaina commented on #92506
@tokyotexture,

The pricing document will be update, please check back in a day or 2 and if there are any further concerns please reach out to me. We will be more than happy to hear from you.

Once again, thank you very much for pointing this correction out. We appreciate it.

[2022-05-10 19:21] jasongroce commented on #87824
Thanks for your feedback. We are including this issue in our internal planning for future updates to the docs. #please-close

[2022-05-10 19:21] #87824 closed

[2022-05-10 19:27] TousleyTN opened #92716 "Shaky content on assorted areas of page"
This page had confusing textual elements that appeared to make it far from doctrinal Microsoft documentation (imho)....  For instance, it starts by immediately defining
"Azure Virtual Network" as VNet, and then proceeds to constantly interchange variations of the two terms even though one is much shorter and less confusing.  Microsoft is not so 'whimsical' when they write documentation.  I am simi

[2022-05-10 19:38] spelluru commented on #92652
similar issue:
https://github.com/MicrosoftDocs/azure-docs/issues/92680

[2022-05-10 19:50] ChaitanyaNaykodi-MSFT commented on #92716
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-10 19:53] Rodrigossz commented on #92695
Closing for now since the actual limitations may change.

[2022-05-10 19:53] Rodrigossz commented on #92695
#please-close

[2022-05-10 19:53] #92695 closed

[2022-05-10 19:56] HeidiSteen commented on #91131
Image Analysis skill docs are now updated to include skill outputs and an index definition that covers all of the expected outputs. Thanks for raising this issue!

#please-close

[2022-05-10 19:56] #91131 closed

[2022-05-10 19:56] rolyon commented on #92117
Hi @xtcw255
Thanks for your feedback. We checked with the team and you should be able to use the Billing Administrator role for your scenario.
Also, as improvements are made, we update the Least privileged roles by task in Azure Active Directory article:
https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task
thanks

[2022-05-10 19:59] MarileeTurscak-MSFT commented on #92708
@Karr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-10 20:06] rolyon commented on #91609
Hi @joshua-paredes
Thanks for your feedback. Can you clarify your scenario? If you are assigned the Application Developer role and you create an application, you are added as an owner and can delete the application.
thanks

[2022-05-10 20:12] ChaitanyaNaykodi-MSFT commented on #92562
Hello @jeffsilverm, Thank you for your feedback.

The information regarding IPv6 for Azure Virtual Network is [documented here](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/ipv6-overview).

The documentation linked to this issue is related to Azure Virtual Network NAT, which is a fully managed and highly resilient Network Address Translation (NAT) service.

Please let me know

[2022-05-10 20:16] James-Hamil-MSFT commented on #91865
Hi, we're still reviewing this!

[2022-05-10 20:16] James-Hamil-MSFT commented on #92578
Hi, we're still reviewing this!

[2022-05-10 20:16] James-Hamil-MSFT commented on #90531
Hi, we're still reviewing this!

[2022-05-10 20:22] bhpat opened #92717 "Need to highlight 'User Access Administrator' at Subscription level"
We need to highlight better indicating '**User Access Administrator**' needs to be at Subscription Level, not Resource Group.

This is what we have in our documentation:
Owner or Contributor and User Access Administrator permissions in the Azure subscription to create an instance of Azure Key Vault, which is used during agentless server migration

Could be worth rewording to 'at the subscription l

[2022-05-10 20:32] kobulloc-MSFT commented on #92484
@hantimo Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-10 20:35] tamram commented on #78790
@dheerajawale-svg - Thanks for your feedback. We aren’t actively investing in content related to Gen1 as it will soon be retired (Feb 29, 2024). We recommend upgrading your applications to use Gen 2.

#please-close

[2022-05-10 20:35] #78790 closed

[2022-05-10 20:53] tamram commented on #83295
@lunar87 @camseitz - This tutorial has been completely updated. Please refer to the new tutorial (available via the same link) for the latest guidance.

#please-close

[2022-05-10 20:53] #83295 closed

[2022-05-10 20:54] inputoutputcode commented on #66134
Hi @mcurko,

Sorry for the late response. Please can you provide all executed commands including the result here? I am wondering if you have executed Copy-ServiceFabricClusterPackage before as described in the documentation for Register-ServiceFabricClusterPackage. Also, I believe this is only for standalone cluster. We should correct this in the public docs. I'm happy to double check on the latte

[2022-05-10 20:54] JustinGrote opened #92719 "Activate Graph Example is wrong"
The Activate example uses this endpoint:
`PUT https://management.azure.com/providers/Microsoft.Subscription/subscriptions/dfa2a084-766f-4003-8ae1-c4aeb893a99f/providers/Microsoft.Authorization/roleEligibilityScheduleRequests/64caffb6-55c0-4deb-a585-68e948ea1ad6?api-version=2020-10-01-preview`

Which is for **creating** eligible assignments, not activating them.

Per this documentation:
https://doc

[2022-05-10 20:55] vimeht commented on #92622
Hey @radhegithub You need to ensure your device update agent is connected before you can add a tag and group your device. You can do that by configuring the agent with a connection string or using DPS. Also, if you are configuring you agent as a module, you need to add your ADU group tag to the module twin (and device twin if you are configuring the agent with device identity)

[2022-05-10 21:08] JamesTran-MSFT commented on #92719
@JustinGrote
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-10 21:13] rolyon commented on #76214
Hi @weyCC81
Thanks for your patience and detailed feedback. We've created an internal work item and provided all your details for the Intune team to review. Based on their investigation, we'll make any recommended updates to the docs. Doc feedback isn't the best mechanism to provide product feedback. We suggest that you submit an Azure support request.
https://docs.microsoft.com/en-us/azure/azure-

[2022-05-10 21:21] tamram commented on #85873
#reassign: @normesta

[2022-05-10 21:24] tamram commented on #87522
#reassign: @normesta

[2022-05-10 21:25] suzizuber commented on #92706
Changes have been made and merged.

[2022-05-10 21:28] kobulloc-MSFT commented on #92706
@lanicolas We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-10 21:28] #92706 closed

[2022-05-10 21:32] tamram commented on #30804
#reassign: @stevenmatthew

[2022-05-10 21:33] tamram commented on #92150
#reassign: @tamram

[2022-05-10 21:46] JnHs commented on #92657
Hi @pinkfloydx33 - thank you for sharing your feedback/question! The work to add this parameter has been added to our service work backlog, though I don't have any expected time frame to share. In the meantime, the workaround you indicated may be used.

[2022-05-10 21:49] mbender-ms commented on #92716
Thanks for the feedback, @TousleyTN.

I'm creating a doc bug related to the feedback, and I will evaluate the article accordingly.

[2022-05-10 21:49] mbender-ms commented on #92716
#please-close

[2022-05-10 21:49] #92716 closed

[2022-05-10 21:50] tamram commented on #80247
This tutorial has been updated.

#please-close

[2022-05-10 21:50] #80247 closed

[2022-05-10 21:50] tamram commented on #70043
#reassign: @tamram

[2022-05-10 21:52] tamram commented on #44702
#reassign: @normesta

[2022-05-10 21:52] stevenmatthew commented on #91680
Hi Sumanth, thanks for bringing this to our attention. This has been resolved with [PR 197766](https://github.com/MicrosoftDocs/azure-docs-pr/pull/197766). Please feel free to reach back out if the issue hasn't been resolved.

[2022-05-10 21:52] stevenmatthew commented on #91680
#please-close

[2022-05-10 21:52] #91680 closed

[2022-05-10 21:53] tamram commented on #51998
#reassign: @normesta

[2022-05-10 21:55] tamram commented on #56960
#reassign: @normesta

[2022-05-10 21:56] tamram commented on #76726
#reassign: @stevenmatthew

[2022-05-10 21:56] PRMerger19 commented on #76726
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-05-10 21:57] tamram commented on #80177
#reassign: @tamram

[2022-05-10 21:57] PRMerger13 commented on #80177
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-05-10 21:58] tamram commented on #73333
#reassign: @tamram

[2022-05-10 21:58] PRMerger8 commented on #73333
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-05-10 21:59] tamram commented on #73701
#reassign: @normesta

[2022-05-10 21:59] PRMerger8 commented on #73701
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-05-10 21:59] site-speed opened #92720 "I think this page may be a bit out of date now that "Azure Static Web Apps" are available"
I think this page may be a bit out of date now that "Azure Static Web Apps" are available as their own resource type.

In the Az Portal when creating an App Service resource selecting "Static HTML" now cancels that page and takes me to "Azure Static Web Apps" page.

Even if I'm incorrect in stating the above, then this page could possibly cause some confusion
- I landed on it after a search (looki

[2022-05-10 22:00] tamram commented on #24841
#reassign: @normesta

[2022-05-10 22:01] tamram commented on #29952
#reassign: @tamram

[2022-05-10 22:03] jks05c opened #92721 "Physical reboot"
Hoping for clarification on this:
The HSM has a command-line reboot option, however, we are experiencing issues where the reboot stops responding intermittently and for this reason it is recommended for the safest reboot that you raise a support request with Microsoft to have the device physically rebooted.

Frequently asked questions - Azure Dedicated HSM | Microsoft Docs

Does this mean MS has t

[2022-05-10 22:04] tamram commented on #84040
#reassign: @tamram

[2022-05-10 22:07] #92581 closed

[2022-05-10 22:10] tamram commented on #90396
#reassign: @jimmart-dev

[2022-05-10 22:12] tamram commented on #90777
@darkoa-msft - Thanks for your feedback! There shouldn't really be any migration required. If you need additional assistance, please reach out to us internally.

#please-close

[2022-05-10 22:12] #90777 closed

[2022-05-10 22:16] stevenmatthew commented on #89163
Resolved with [PR 192389](https://github.com/MicrosoftDocs/azure-docs-pr/pull/192389).

#please-close

[2022-05-10 22:16] #89163 closed

[2022-05-10 22:17] tamram commented on #85997
@joaocpribeiro - Even though this is deprecated, it still works, and it's the best option we can offer at this time.

#please-close

[2022-05-10 22:17] #85997 closed

[2022-05-10 22:24] tamram commented on #80667
@boskjoett - Thanks for your suggestion. We recommend consulting the Docker docs to learn more about how to mount as a Docker volume.

#please-close

[2022-05-10 22:24] #80667 closed

[2022-05-10 22:28] tamram commented on #82828
@lucabovo - The documentation has been updated according to your feedback. We'll raise the tooltip error with the portal team to get that fixed eventually.

#please-close

[2022-05-10 22:28] #82828 closed

[2022-05-10 22:36] tamram commented on #88752
#reassign: @tamram

[2022-05-10 22:38] tamram commented on #14182
Closing this out as it is not a documentation issue, and this forum is only for documentation.

#please-close

[2022-05-10 22:38] #14182 closed

[2022-05-10 22:40] tamram commented on #91478
#reassign: @tamram

[2022-05-10 22:43] tamram commented on #92236
#reassign: @tamram

[2022-05-10 22:47] tamram commented on #72239
#reassign: @tamram

[2022-05-10 22:48] stevenmatthew commented on #72239
#reassign: @stevenmatthew

[2022-05-10 22:48] shashankbarsin commented on #92491
@chenditc - when service accounts are created, tokens are automatically created and referenced by service accounts - https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-multiple-service-accounts

[2022-05-10 22:49] tamram commented on #83524
#reassign: @stevenmatthew

[2022-05-10 22:54] JamesTran-MSFT commented on #92721
@jks05c
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-10 22:58] fswgm opened #92723 "Azure Virtual Machine Scale Sets column - move right?"
I love this set of tables. Thank you for taking the time to document this so well and so clearly!!!

It would be slightly easier to read if the Azure Virtual Machine Scale Sets column was one to the right - so:

Azure VMs | Multicloud VMs | Scale Sets

Or even just put a footnote in the bottom about which properties are not available on scale sets, as I think most customers want to compare Azure i

[2022-05-10 23:01] MarileeTurscak-MSFT commented on #92661
Hi @TCPhelps,

If you want to locate your default directory, you can click on your name in the top right corner of the Azure Portal and select "Switch Directories". In the "Favorites" section, if you have selected or starred a favorite directory, that will be your default one. If

<img width="499" alt="image" src="https://user-images.githubusercontent.com/13383753/167738326-b5e6491d-3c8e-4c48-9cb8

[2022-05-10 23:01] #92661 closed

[2022-05-10 23:08] lachie83 commented on #92608
Hi @akhan-2020 - I am currently not able to reproduce the issue you described using an AKS cluster (v1.22.6) with the HTTP application routing add-on enabled. I'm able to successfully connect to the ingress endpoint using a browser.

Can you kindly provide some more detail regarding "... the ingress endpoint does not work"? How are you trying to connect to the endpoint? Have you created a DNS entr

[2022-05-10 23:13] vimeht commented on #89877
Hey @dsburns you can use the apt update path to receive packages from any publicly available Debian repository or set up your own private Debian repo. You will need to configure the agent to point to the repo.

[2022-05-10 23:39] mrtrombone opened #92724 "Couple of issues with this tutorial"
Good tutorial however I have one suggest and one hiccup I could not explain or find out why online:
- In section '6 - Generate the Database Schema' the MyDBConnectionString has placeholders for DB username and password but not server name - easy fix but would be more correct to have a placeholder for server also rather than blindly using coredbserver456 by accident
- I was using Azure CLI and the

[2022-05-10 23:42] kobulloc-MSFT commented on #92713
@kegregoi, that would add an equivalent section to Linux VM Agent?
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-linux

We're assigning this to the document author for further review.

[2022-05-10 23:49] romerve commented on #91768
Yeah, Api reference also mentions type is int: https://docs.microsoft.com/en-us/azure/templates/microsoft.app/2022-01-01-preview/containerapps?tabs=bicep

And since Bicep types dont seam to support double, managedEnvironments would have to accept a string vs the current int...  https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/data-types#supported-types

[2022-05-11 00:12] Karishma-Tiwari-MSFT commented on #92691
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-11 00:23] MarileeTurscak-MSFT commented on #92712
@SunandaChowdhary
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-11 00:45] Karishma-Tiwari-MSFT commented on #92709
Thanks for posting the question. We are currently investigating and will update you shortly.

[2022-05-11 00:47] Karishma-Tiwari-MSFT commented on #92723
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-11 00:50] RyanHill-MSFT commented on #92278
Check your AAD tenant for principal id of dd9491ea-776a-4009-9ac2-81fe27cbb3d1. It's pulling the correct role but not finding principal id. If you can do it in the portal, then I would confirm the principal id using `az identity show --ids dd9491ea-776a-4009-9ac2-81fe27cbb3d1`

[2022-05-11 01:13] RyanHill-MSFT commented on #92720
[Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/overview) and creating a static site are not synonymous in this case. SWAs have a more simplified hosting plan that has first class CI/CD for deployments and a host of other features. 

This particular doc is an overview of creating an App Service plan with an App Service and uploading/hosting HTML files. On the surface, the

[2022-05-11 01:27] RyanHill-MSFT commented on #92724
Thanks for the feedback [@mrtrombone](https://github.com/mrtrombone). Your first point is valid and it should be `&lt;your-server-name&gt;` being used in the appsettings.json connection string. I will update the doc for that clarity.

Your second point, `az sql db show-connection-string` doesn't return a user name and password. It returns placeholders for those values and should be updated prior t

[2022-05-11 01:40] spelluru commented on #92652
@chetta19 - The product is aware of the issue. We will let you know as soon as the issue is resolved. Sorry for the inconvenience.

[2022-05-11 01:42] spelluru commented on #92680
@o-l-a-v - Product team is aware of the issue (the error you are seeing) and is working on it. We will let you know as soon as the issue is resolved. Sorry for the inconvenience.

[2022-05-11 01:43] spelluru commented on #92673
@kekatahi - Thanks for reporting the issue and the tip about using CLI. I have added a note to the section.

#please-close

[2022-05-11 01:44] #92673 closed

[2022-05-11 02:00] AshokPeddakotla-MSFT commented on #92622
@radhegithub Please see Vidhi suggestions and let us know if that solves your issue.

[2022-05-11 02:14] jrca025 opened #92726 "Expand an Azure Managed Disk - Resize without downtime for Linux VM is still not working"
I followed the tutorial [here ](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/virtual-machines/linux/expand-disks.md)

But resize button is still disabled while VM is running.
![image](https://user-images.githubusercontent.com/89201548/167755732-3dd90f43-4421-4563-a37e-55fe741678c1.png)

I am using the southeast asia region.

---
#### Document Details

⚠ *Do not edit this section.

[2022-05-11 02:14] #92724 closed

[2022-05-11 02:16] yeahsicy opened #92727 "The info is wrong for Pre-warmed instances via portal"
"**You can configure the number of pre-warmed instances in the Azure portal** by selecting the Scale Out options under Settings of a function app deployed to that plan and then **adjusting the Always Ready Instances count**" that is wrong. Pre-warmed instances and Always ready instances are two different concepts with different properties (preWarmedInstanceCount and minimumElasticInstanceCount). C

[2022-05-11 02:18] DeanGross opened #92728 "old product name"
Azure Advanced Threat Protection was renamed, please update this and every other product name as appropriate
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Version Independent ID: 72c38d9b-b8b1-92d4-3937-12de08c35918
* Content: [Azure services that support availability zones](https

[2022-05-11 02:23] yeahsicy commented on #79436
closing this as the doc was updated

[2022-05-11 02:23] #79436 closed

[2022-05-11 02:23] site-speed commented on #92720
Yes agreed,

You know this but you’re an expert/insider

  *   I now know this too, but it too several hours of going down the wrong path
  *   I’m not an expert/insider but as CTO of a number of MS based companies not entirely a novice!

It may sill be possible via the command line, but

  1.  Isn’t possible via the portal
  2.  Probably isn’t the best solution for someone starting out with “stat

[2022-05-11 02:46] AjayKumar-MSFT commented on #92728
@DeanGross, Thanks for bringing this to our attention! We are taking a look into this and will get back to you soon.

[2022-05-11 02:53] mrtrombone commented on #92724
Hi Ryan
Re second point I absolutely did swap out my placeholders for the valid username and password before running the az webapp config connection-string set command however it seemed to strip out the password

[2022-05-11 03:01] SumanthMarigowda commented on #92711
@Dekard Thanks for your question. We are checking on this and will respond to you soon.

[2022-05-11 04:16] madsd commented on #91989
@Jaffacakes82 Thank you for your patience. Tomorrow we should be done rolling out the fix to all regions, and I believe South Central US should already be covered. #please-close

[2022-05-11 04:16] #91989 closed

[2022-05-11 04:37] SadiqhAhmed-MSFT commented on #92717
@bhpat Thank you for posting your question. In the doc - https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-vmware#prepare-an-azure-user-account under "Prepare an Azure user account" it is clearly mentioned the permissions needs to be granted in the Azure subscription. There is no specific permission needs to be given at the resource group level, neither it is documented.

I would be

[2022-05-11 04:38] tamram commented on #84306
#reassign: @stevenmatthew

[2022-05-11 04:38] miguelarcilla commented on #92406
@bandersmsft Apologies for the delay here, missed the notification on this issue.

I am supporting another customer who I assumed was on Microsoft Customer Agreement, but it is likely that they are still on MOSP. I see the excerpt in the documentation noting that _"If you have a Microsoft Online Services Program (pay-as-you-go) account **and you've been approved to pay by check or wire transfer**,

[2022-05-11 04:47] batamig commented on #91855
Hi @guarismo - thanks for writing into docs with your question!

I'll have to check with the team about this one and am opening a backlog item for myself to make any fixes needed.
To prevent double-tracking, I'm going to close this item here, but please feel free to continue commenting as needed.

I can also recommend that you request clarification in our Defender for IoT TechCommunity space here:

[2022-05-11 04:47] #91855 closed

[2022-05-11 05:06] SumanthMarigowda commented on #92603
@helderpinto Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-11 05:24] MughundhanRaveendran-MSFT commented on #92291
@sanjeebSubedi , Answered similar question in the below forum
https://docs.microsoft.com/en-us/answers/questions/833306/how-to-mount-azure-fileshare-to-kubernetes-for-use.html?childToView=844597#answer-844597

@eamonoreilly , please feel free to add anything here

[2022-05-11 05:27] RohitMungi-MSFT commented on #92597
Thanks @laujan for confirming. @tagauto We will now proceed to close this thread.
Any updates to the service to display confidence scores for tables will be documented and published. Thanks!!

[2022-05-11 05:27] #92597 closed

[2022-05-11 05:43] radhegithub commented on #92622
@Ashok- have been assigned with - Device Update Administrator for Device Update Instance
Subscription is mine , its client subscription, i have permission to create  IoT Hub resources, created linux vm and related stuffs

[2022-05-11 05:47] sinclr4 opened #92730 "Broken Link"
In this question https://docs.microsoft.com/en-us/azure/healthcare-apis/azure-api-for-fhir/fhir-faq#where-can-i-see-some-examples-of-using-the-azure-api-for-fhir-within-a-workflow- there is a link to **https://github.com/microsoft/health-architectures** - this link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-05-11 06:18] radhegithub commented on #92622
@vimeht ,
after reset group

  "tags": {
        "ADUGroup": null
    },
executed -sudo systemctl restart adu-agent
checked device status as below
![image](https://user-images.githubusercontent.com/33256542/167780662-52c6069c-5bc1-4caf-8354-d86e1a263f90.png)

Device twin show connected
![image](https://user-images.githubusercontent.com/33256542/167780940-e532b452-1c3b-4bd8-84a8-d4d1fa608b3f.png)

[2022-05-11 06:21] leonard520 commented on #70666
@przem Due to Application Insights Java In-Process Agent is GA last year, we have deprecated distributed tracing. can you please try to use [application insight](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-application-insights) to monitor the apps instead? Thanks.

[2022-05-11 06:25] radhegithub commented on #92622
@ashok, have sent email to suggested email id from radhe.sah@tavant.com

[2022-05-11 06:29] kobulloc-MSFT commented on #92440
@cynthn It looks like there may be more to this or perhaps I'm executing this out of order.  From the doc I executed up through:
`sudo DEBIAN_FRONTEND=noninteractive apt-get -y install xfce4`

And followed that with (basing the order off of [one of the other examples I found](https://github.com/akuhnet/wqemu/blob/main/xfce4.sh)):
`sudo sed -i.bak '/fi/a xfce4-session \n' /etc/xrdp/startwm.sh`

But

[2022-05-11 07:35] akhudairymicrosoft opened #92732 "Add documentation about stop words for Lucene and Microsoft analyzers"
I suggest to add in this page (or a new page) the actual stop words or links to outsource pages which have the stop words for both **Lucene** and **Microsoft** analyzers and for the different supported languages (English, French .... etc)

This is related to a customer case that I worked on with help from Derek Legenzoff. Please reach out to me if you need more details.

The list which was provide

[2022-05-11 07:43] AnuragSharma-MSFT commented on #92730
@sinclr4 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-11 08:01] ElazarK commented on #88031
@azure1123 You are correct and the documentation is in the process of being updated to reflect this.

[2022-05-11 08:05] litvinolek opened #92733 "Wrong $managedAppUrl in # Get resourceUsageId from the managed app section"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d97cc9-da66-55f0-a377-afb33d84a6c9
* Version Independent ID: 8fa34f92-3761-150d-df68-e14ad465567d
* Content: [Marketplace metering service authentication strategies supported in Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketplace/m

[2022-05-11 08:07] litvinolek commented on #92733
First it should be different RG in $metadata.compute.resourceGroupName
Also $managedappId this is resource id but you need only name

[2022-05-11 08:50] tina-ho opened #92735 "Users should've been able to change the namespace to flat or hierarchical at any time now, is it correct?"
[Enter feedback here]
Hi, I found the document says, "After you've enabled a hierarchical namespace on your account, you can't revert it back to a flat namespace. " However, now we actually can revert it back to a flat namespace and change it to hierarchical / flat namespace at any time. Please confirm and adjust the description in the document. Thanks.

---
#### Document Details

⚠ *Do not edit t

[2022-05-11 09:25] chris5287 opened #92736 "Share User defined function across multiple ADFs"
Will we be able to share these across multiple ADFs?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e557b6f-244d-61a7-0640-5371efbb557a
* Version Independent ID: db54c190-673b-5f62-1e79-7e6ff8889014
* Content: [User defined functions in mapping data flows - Azure Data Factory & Azure Synapse](https://docs.microsoft.co

[2022-05-11 09:25] EstherKrogdahl-VGW opened #92737 "Your link to get flight data is wrong"
[Enter feedback here]
Your link to get flight data is wrong. It is also wrong in another tutorial I found that asks you to download flight data
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independent ID: 837e74fd-2554-8de6-7203-2924006204f2
* Content: [Tutorial: Azure Da

[2022-05-11 09:27] DishanRajapaksha opened #92738 "'New-AzUserAssignedIdentity' command required parameter 'Location' is missing in the example"
The example command `New-AzUserAssignedIdentity -ResourceGroupName myResourceGroupVM -Name ID1` should have a parameter for the location as well. Documentation can be found [here](https://docs.microsoft.com/en-us/powershell/module/az.managedserviceidentity/new-azuserassignedidentity?view=azps-7.5.0).

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-05-11 09:40] #84346 closed

[2022-05-11 09:47] lucabovo commented on #91096
Hi @meenalsri  @PRMerger17  @KranthiPakala-MSFT  @JJ
Any news about this request?

Thanks for your cooperation,
Luca

[2022-05-11 09:56] shashishailaj commented on #92472
@morgan-cromell . This issue has been fixed in the documentation . Currently 974c5e8b-45b9-4653-ba55-5f8555dd0fb88 is not found there and has been corrected.

[2022-05-11 09:56] #92472 closed

[2022-05-11 09:56] ptata-msft opened #92739 "Helm 3.8.0 - Helm Push to OCI artifact url instructions do not work"
I am currently using the following build of Helm

[code]

It seems that despite being able to successfully add the Helm repo and authenticate using the prescribed scenario "Authenticate with your individual Azure AD identity to push and pull Helm charts using an AD token." on the page, I keep seeing the following error when trying to push a new helm chart to an ACR via the command like so

[code]

[2022-05-11 10:07] shashishailaj commented on #91948
@rafalfitt-mptv Thank you for reporting this. We have initiated a change request on this one and the document will be updated once the content team approves the same.

Thank you.

[2022-05-11 10:07] #91948 closed

[2022-05-11 10:22] PriyankaRudramaina commented on #92161
#Please-close

[2022-05-11 10:22] #92161 closed

[2022-05-11 10:44] shwetamathur7 commented on #92738
@DishanRajapaksha Thanks for your feedback. We will investigate and update the thread.

[2022-05-11 10:48] nkumars commented on #92641
@JamesTran-MSFT, any update you have on this to share please?

[2022-05-11 10:49] SnehaAgrawal-MSFT commented on #92732
@akhudairymicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-11 10:56] TarekNabeel opened #92741 "Azure File Sync and storage account failover feature."
I can see in this document that Azure File Sync does not support the storage account failover feature. although in https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-disaster-recovery-best-practices  under https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-disaster-recovery-best-practices#geo-redundancy i can see failover can be initiated by Microsoft or manually .

[2022-05-11 11:04] TarekNabeel opened #92742 "Azure file share backup high availability"
Hello ,

I reahced to this statement "_The Storage Replication setting of the vault isn't relevant for Azure Files backup. This is because the current solution is snapshot-based and there's no data transferred to the vault. Snapshots are stored in the same storage account as the backed-up file share, and therefore replicated as per the replication setting of storage account_" , my question is will

[2022-05-11 11:10] GitaraniSharma-MSFT commented on #92512
@jayeshdesai1 , User-defined routes can be used to override traffic destined for the private endpoint.
Private Endpoint support for User Defined Routes (UDRs) is now available in few regions and in Public preview in other regions.
Refer : https://azure.microsoft.com/en-in/updates/public-preview-of-private-link-udr-support/

This feature enhancement will provide you with the ability to apply custom

[2022-05-11 11:10] #92512 closed

[2022-05-11 11:17] yutaro113 opened #92743 "Transform-based Model also consider general synonyms for Japanese?"
Hi Team,
Regarding the description below, same can be applied to Japansese model as well?
[code]

Because in another section in this page, there's also below description and above seems applicable only for English model.
[code]

We are wondering if "User" need to consider all general synonyms in Japanese model so if it's only for English model, kindly emphasize it in the above description.

---
##

[2022-05-11 11:32] dandresini opened #92744 "If account is set to Italian can't create B2C resource"
# Can not create Azure B2C resource if the account of user is set in Italian Language
As of image below, the creation of B2C failing with  error: "The provided location Europa is not avaiable".

<img width="702" alt="errore_lingua_Italiana" src="https://user-images.githubusercontent.com/3338265/167839080-bb2b15c7-9eff-45a2-a6f0-f7ecbfbc2f5c.png">

---
#### Document Details

⚠ *Do not edit this sec

[2022-05-11 11:37] avivka-tr opened #92745 "Http body request - functionality not clear"
In paragraph 7 a body added to http POST trigger request - >{ "input": "test" }
how do I get the string as argument in the function? it is not clear
is it even possible?
my goal is to manually trigger a timer function with a string or http request in the body.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e8

[2022-05-11 11:44] bhpat commented on #92717
@SadiqhAhmed-MSFT  - This does cause confusion because when we are throwing the error it is scoped at the resource group level.

[2022-05-11 11:54] shwetamathur7 commented on #91932
@aneesh631 Apologies for delay in response. In case of multi -tenant app we don't have any option to see the information about other tenants. Any service principal created for that tenant is accessible in that tenant only.

[2022-05-11 12:13] edgreenberg-mri commented on #92692
Since I made the report on Tuesday,  I’ve lost the link to the page I reported.

From: SreejaBhattacharya-MSFT ***@***.***>
Sent: Tuesday, May 10, 2022 3:17 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ed Greenberg ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Got lost on this page trying to create the Container App Environment (Issue #92692)

Hi @edgreenberg-mri<h

[2022-05-11 12:42] SadiqhAhmed-MSFT commented on #92742
@TarekNabeel Thank you for posting your question. IMO, yes - storage account replication be enough to provide high availability for Azure File Share backups. But would like to confirm this with the feature owner. Shall update you shortly.

[2022-05-11 12:42] kyk199x commented on #92632
@Givary
Yes, that's right!

[2022-05-11 12:48] si-chan opened #92746 "Recovery"
Can a few statements be added to explicitly document what is allowed in terms of recovery?
Should cover the very basic points, for example (I don't know whether these statements are correct or not, these are just indicative!!!):

* Restores can only be performed within the same Azure NetApp Files account, cross-account restores are not supported
* Restores can be performed to a different capacity

[2022-05-11 12:54] si-chan opened #92747 "Capacity Pool - storage replication"
Please clarify how the underlying data / storage is protected in an Azure NetApp Files Capacity Pool.

For example, in a normal Azure storage account, you might have LRS (3 copies in the same data center) or ZRS (copies distributed between different data centres in the same Azure region).

In ANF terms, how many copies of the data are there, or is it possible to state the expected durability (agai

[2022-05-11 12:57] si-chan commented on #92198
Hi
Perhaps this is not an entirely free choice if a SQL FCI is involved, since the failover dependencies would require that different instances have different drives... this implies that you can only have a very limited number of FCIs per cluster in Azure if you're following storage recommendations?

For example, two FCIs would consume 6 drives which would be the maximum supportable on a 3-node, 4

[2022-05-11 13:20] ebainto opened #92748 "Automatic /Manual failover configurations steps."
This article is very helpful. covers the end to end configuration with Azure LB.

Please include the configuration for automatic and manual fail-over steps. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69e44ab-94d3-5080-aa35-376484f467ca
* Version Independent ID: f775f1ae-cdb8-0579-31aa-2bbe8de1a5

[2022-05-11 13:33] MonikaReddy-MSFT commented on #92491
@shashankbarsin  - Thank you for providing your insights.
@chenditc - I hope @shashankbarsin has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-11 13:44] MonikaReddy-MSFT commented on #92657
@JnHs - Thanks for sharing your insights.

@pinkfloydx33 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-11 13:44] #92657 closed

[2022-05-11 13:47] ram-msft commented on #92743
@yutaro113 Thanks for the question. We are investigating the issue and will update you shortly.

[2022-05-11 14:01] #88031 closed

[2022-05-11 14:07] SadiqhAhmed-MSFT commented on #92717
Not sure what you mean by "when we are throwing the error it is scoped at the resource group level."

[2022-05-11 14:12] MsGabsta commented on #92713
@kegregoi I am currently working on updating this information for WALA.

[2022-05-11 14:13] tamram commented on #84241
@lucabovo - Thanks for your suggestions! I agree, and I've updated the doc accordingly.

#please-close

[2022-05-11 14:13] #84241 closed

[2022-05-11 14:16] tamram commented on #85631
@marcelkmfst - Thanks for your feedback. We've updated the doc to clarify that object replication is not supported if the source blob is encrypted with a customer-provided key.

Note that a customer-provided key encrypts the blob when it's written, while a customer-managed key encrypts all data in the storage account.

@ozgeeg FYI

#please-close

[2022-05-11 14:16] #85631 closed

[2022-05-11 14:17] tamram commented on #82343
@sklinger83 - Thanks for your feedback. We've updated the doc to incorporate your suggestion.

#please-close

[2022-05-11 14:17] #82343 closed

[2022-05-11 14:49] mrappard opened #92749 "active-directory-verifiable-credentials-node requires different credentials"
For the NodeJS version of active-directory-verifiable-credentials-node the configuration requires different attributes

For example (CertificatePrivateKeyLocation) which is not included in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e85be67f-8375-6229-18aa-d687463991f9
* Version Independent ID: c

[2022-05-11 14:53] antonGritsenko commented on #32472
I even don't enough words to describe how (sorry) stupid this solution is. You just flooding the app logs and stress the application with unnecessary requests. You have the health check URL, why not to use it? Or at least give option to change the URL. We need to put exclusion for monitoring, which is annoying.

[2022-05-11 14:58] GeethaThatipatri-MSFT commented on #92572
@sr-msft Can you please provide your inputs here

[2022-05-11 15:05] shashishailaj commented on #92744
@dandresini You are correct . I just tried the same and got the following error if I set the language of Azure portal to Italian .

`The provided location 'Europa' is not available for resource type 'Microsoft.AzureActiveDirectory/b2cDirectories'. List of available regions for the resource type is 'global,unitedstates,europe,asiapacific,australia,japan'.`

The datacenter location value is taken as

[2022-05-11 15:21] MsGabsta commented on #92713
@kegregoi, I have updated the doc and it should be live in the next 24h.

[2022-05-11 15:22] MsGabsta commented on #92713
@kobulloc-MSFT please close this issue.

[2022-05-11 15:23] RyanHill-MSFT commented on #65143
@KaranRami @AhmedAdelGadElkareeem I'll go back through the doc and see if I run into the same issue, will let you know.

[2022-05-11 15:23] kobulloc-MSFT commented on #92713
@kegregoi We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-11 15:23] #92713 closed

[2022-05-11 15:30] dknappettmsft commented on #73926
Closing the loop on this - I believe the release notes were slightly delayed, but version 1.0.2944.1400 is there in the history of https://docs.microsoft.com/en-us/azure/virtual-desktop/whats-new-agent

#please-close

[2022-05-11 15:39] kamilzzz commented on #85409
Still not updated.
What is the correct dns zone?

@ma3u where did you get privatelink.azurestaticapps.net from? After enabling private endpoint on my Static web app it created a different one zone - privatelink.1.azurestaticapps.net.

[2022-05-11 15:44] JamesTran-MSFT commented on #92749
@mrappard
Thank you for following up on this and for sharing the updates linked in your other issue!

Please allow some time for the author look into this and update the docs as necessary.
Thank you!

[2022-05-11 16:00] RoseHJM commented on #61612
#please-close

The account that the feedback came from has since been deleted, so there is no one to respond to.

The issue was resolved during the v2 content update, and examples given on this page now align with the general naming convention.

[2022-05-11 16:00] #61612 closed

[2022-05-11 16:04] nbachm opened #92751 "How to determine rule collection group size"
The document states: _"Rule collection groups have a maximum size of 2 Mb. If you need more than 2 Mb, you can split the rules into multiple rule collection groups."_

Suggest to add the following information:
- How can the size of a rule collection be determined?
- Or are any values known to get an estimation, e.g. x rule collections or x lines of json when exported to arm-template

That would be

[2022-05-11 16:20] naeisner opened #92754 "Bicep support for providers API"
https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/bicep-functions-resource#providers

It's not clear that Providers API is only deprecated for Bicep.
There are other uses for the providers API besides using it for versioning. Maybe consider putting links to the ARM API documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-11 16:36] cutecycle opened #92755 "Permanent download link for azcopy method fails with 301 on PowerShell Core 7"
1. Ironically, the current instructions using curl break on versions of windows with `curl` built in, because they don't support `MaximumRedirection`:

[code]

2. Invoke-WebRequest will fail with a 301 on PowerShell Core 7

[code]

3. I think it may be best to have users directly use `iwr` or `Invoke-WebRequest` directly since it hits the lowest common denominator of
* Barebones Windows container

[2022-05-11 16:39] JnHs commented on #92473
Hello @rozzamozza, thanks for your feedback. Additional services may have other endpoints that need to be allowed, depending on your scenarios, and those are usually covered in the documentation for those services. The URLs above don't appear to be necessary to include on this general page.

[2022-05-11 16:45] meenasaravanan02 commented on #66134
Hi @mcurko , We are closing this issue.  You can open a new issue if the question is for standalone cluster.
#Please-close this issue

[2022-05-11 16:48] #66134 closed

[2022-05-11 16:50] johnmarco commented on #92682
Hi @Molx32

Thank you for taking the time to point out this issue! I’ve updated the doc and the fix should be visible later today. I’ll close this issue now, but please let us know if you have additional questions.

#please-close

[2022-05-11 16:52] #92682 closed

[2022-05-11 16:52] JonesMikael opened #92756 "Clarify if Windows 11 is also a supported client configuration for Pre-authentication"
In the table at the bottom that shows that "Pre-authentication" is supported for RD Web and Windows 7/10, can you please update if it also is supported client configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ecb521c-9c0a-6baf-d25f-2b0fb130b54f
* Version Independent ID: 71d4d2d4-ff30-d592-175f-f1e76d5cc88b

[2022-05-11 17:11] cherylmc commented on #91983
I'll add this to the limitations. Thanks! #please-close

[2022-05-11 17:12] m-chau opened #92757 "Syntax Error on TPM attestation using version 1.2 Sample"
At [sample-policies-for-tpm-attestation-using-version-12](https://docs.microsoft.com/en-us/azure/attestation/policy-version-1-2#sample-policies-for-tpm-attestation-using-version-12), there is an syntax error (Noted between ** below)

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee3d1f84-8186-858e-6ebb-d99a2849a

[2022-05-11 17:14] KranthiPakala-MSFT commented on #92736
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-11 17:35] RyanHill-MSFT commented on #92720
I appreciate the candid feedback @site-speed. I've updated the doc with a note with the link to a Static Web Apps documentation for serverless.

[2022-05-11 17:39] DirectorEngineeringDbDriven opened #92759 "az ad sp show --id $SP_ID --query password --output tsv does not work"
[Enter feedback here]
One of the steps that uses az ad sp show --id $SP_ID --query password --output tsv to set the password in the secret vault does not work.  Nothing is returned.

The entire command gives the error:  argument --value: expected one argument, but it appears to be because this command does not return the password

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-05-11 17:40] lipalath-ms opened #92760 "AzureFunctionsJobHost__extensions__durableTask__hubName"
Can I set hub name by adding a property 'AzureFunctionsJobHost__extensions__durableTask__hubName' in app setting rather than in host.json and adding DurableClient?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bda2389-aeb2-b28f-a646-082979122f88
* Version Independent ID: 4fa3fdc7-4f59-ff5e-6e42-bc1ed2b2e306
* Content

[2022-05-11 17:41] lipalath-ms opened #92761 "Hub Names in Deployment Slots"
Should I set different hub names for each deployment slot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bda2389-aeb2-b28f-a646-082979122f88
* Version Independent ID: 4fa3fdc7-4f59-ff5e-6e42-bc1ed2b2e306
* Content: [Task hubs in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable

[2022-05-11 17:44] MarileeTurscak-MSFT commented on #92668
Thanks! I made a pull request to add the note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/197905

[2022-05-11 17:44] #92668 closed

[2022-05-11 17:46] KranthiPakala-MSFT commented on #92736
Hi @chris5287 - Currently you can only reuse the UDF libraries across multiple mapping data flows within same ADF but product team is evaluating on expanding the ability to export/import UDF libraries across multiple ADFs.

Hopefully you can expect an update on the same before this feature gets to GA.

As this sounds like a feature request, I would recommend you to please log it in ADF uservoice f

[2022-05-11 17:50] cgillum commented on #92760
@lipalath-ms can you clarify what you mean by "and adding DurableClient"?

[2022-05-11 17:54] lipalath-ms commented on #92760
[code]

As specified above - should we provide [DurableClient(TaskHub = "%MyTaskHub%")] IDurableOrchestrationClient starter?

This is how I specified in the code: [DurableClient] IDurableOrchestrationClient starter.

[2022-05-11 17:54] ChaitanyaNaykodi-MSFT commented on #92751
Thank you for your feedback! We will review and update as appropriate.

[2022-05-11 17:57] SreejaBhattacharya-MSFT commented on #92692
@edgreenberg-mri , Oh that is okay. In future, if you want to raise any issues regarding documentation, you can go ahead and raise it from that very page itself. If you scroll down to the bottom of each page, you will see a section to "submit and view feedback" for "This page". Select on "This page" and it shall open an issue for you, wherein you can provide your comments on that very documentatio

[2022-05-11 18:01] cgillum commented on #92761
Yes, and the simplest way to do this is to use app settings, as described in this article.

[2022-05-11 18:02] cherylmc commented on #91983
#please-close

[2022-05-11 18:02] #91983 closed

[2022-05-11 18:03] SreejaBhattacharya-MSFT commented on #92692
Ok sure, thanks @edgreenberg-mri

[2022-05-11 18:07] DerekHerman-MSFT commented on #92748
Thanks for the feedback!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-11 18:10] PriyankaRudramaina commented on #92759
Hello @DirectorEngineeringDbDriven,

Thank you for your feedback. We will investigate and update the thread further

[2022-05-11 18:12] lipalath-ms commented on #92760
Thank you - for clarification I only want to add 'AzureFunctionsJobHost__extensions__durableTask__hubName ' property. no other changes are required to set hub name. Please confirm the same. Thanks!

[2022-05-11 18:13] lipalath-ms commented on #92760
Also, if I have 2 deployment slots (staging and production), can I set 2 different values for the property 'AzureFunctionsJobHost__extensions__durableTask__hubName ' in app settings for both slots?

[2022-05-11 18:15] lipalath-ms commented on #92760
Can this be mentioned in the doc (the doc doesn't mention anything about this property)

[2022-05-11 18:19] MDJM5 opened #92762 "Alice referred to as "their""
I think Alice is improperly referred to with the pronoun "Their" on this web page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9fee114-c821-ae93-4482-08bf354e06ea
* Version Independent ID: 6e8e19fb-5fb2-cd9b-688e-de53f9f7956f
* Content: [Azure Active Directory architecture overview (preview)](https://docs.microsoft

[2022-05-11 18:23] SaiKishor-MSFT commented on #92737
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-05-11 18:24] jdev1977 commented on #86858
I'm needing this for the support of webp also. Stripping Accept header is still missing in the docs.

[2022-05-11 18:25] sroons opened #92763 "Content title does not match the name of the page, creating confusion for user."
The title of the page in the cotntent does not match the name on the page. This creates confusion for the user when they see a link with one name, but the content in the page they link to is different. Page title and name should match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e53c41e-ee60-5992-5381-61ae4aa443e2

[2022-05-11 18:27] SaiKishor-MSFT commented on #92741
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-11 18:29] SaiKishor-MSFT commented on #92755
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-11 18:32] ApeironThanatos opened #92765 "Incorrect Hash Value for AzureMigrateInstaller.zip"
In the 'Verify Security' section, the link to the file download for AzureMigrateInstaller.zip does not match the hash provided.

URL: https://docs.microsoft.com/en-us/azure/migrate/how-to-set-up-appliance-physical#verify-security

File Download: https://go.microsoft.com/fwlink/?linkid=2140334

Expected Hash: 277C53620DB299F57E3AC5A65569E9720F06190A245476810B36BF651C8B795B
Actual Hash: 7745817a5320

[2022-05-11 18:36] alpinedelight opened #92766 "Screenshots Low Res / Blurry"
Many of the screenshots towards the top of the article are not legible, due to low resolution.
The reader can't expand the images, thus having to guess the field labels and values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b045f9fd-795b-b987-dc31-d5aa8d5d681a
* Version Independent ID: f8ce03bb-5f7f-c6f6-c119-9e5ce

[2022-05-11 18:36] #92720 closed

[2022-05-11 18:40] KranthiPakala-MSFT commented on #92697
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-05-11 18:40] #92697 closed

[2022-05-11 18:57] sroons opened #92768 "awkward wording in first paragraph"
the writing in the first paragraph is very awkward and needs to be fixed.

"Domain is a unique name that appears after the @ sign in email addresses. It typically takes the form of your organization's name and brand that is recognized in public. Using your domains in email helps build credibility and reputation for email that you send. If you prefer to off board the managing domains Azure Communic

[2022-05-11 19:02] JamesTran-MSFT commented on #92762
@MDJM5
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-11 19:07] bppn opened #92769 "Azure Managed Application - ViewDefinition.json, missing documentation for editUIDefinition"
The viewDefinition schema contains an option for a) custom create ui definition, to be able to add custom resources.  I could figure out how it works using the sample included in this page.

However, when editing a custom resource, there is an option editUIDefinition in the schema, but I could not find any documentation or examples to explain the usage.

schema: https://github.com/Azure/azure-reso

[2022-05-11 19:20] grminch commented on #91963
Thanks for alerting us to the problem. It is fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/197801. An index card was added under Integration and Web categories. The updates will be published to public docs in ~24 hours.

#please-close

[2022-05-11 19:20] #91963 closed

[2022-05-11 19:42] AbdullahBell commented on #59747
@mbender-ms I will take assignment of this issue.

[2022-05-11 19:43] DeanGross opened #92771 "Required Perms"
what permissions are required in GCP to do this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9132fa3-434e-8339-b5e4-5ecc924d8f63
* Version Independent ID: 365c05fb-43b8-807c-e14b-804050e0340a
* Content: [Connect your GCP project to Microsoft Defender for Cloud](https://docs.microsoft.com/en-us/azure/defender-for-clo

[2022-05-11 20:22] Karishma-Tiwari-MSFT commented on #92733
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-11 20:29] Karishma-Tiwari-MSFT commented on #92739
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-11 20:30] abhijit-tilak opened #92773 "Azure Data Factory Self Hosted Runtime instructions point to install Oracle Java"
In the URL: https://docs.microsoft.com/en-us/azure/data-factory/format-parquet

can we please add a link to download OpenJDK from internet (something like https://adoptopenjdk.net/), so that application developers can rely on OpenJDK as a default option rather than Oracle JDK. As we all know, Oracle JDK is now licensed product and causes licensing issues at Enterprise level?

---
#### Document Det

[2022-05-11 20:42] afogarty85 opened #92774 "Specify database for Azure Databricks Delta Lake linked service connector"
There appears to be no parameter that we can set to point the linked service connector to a specific database. The consequence of this is that you cannot use the copy data tool to its maximum utility. When you use the copy data tool, you are only allowed to see tables that exist on the default database.

While you can query other databases, it would be convenient to select them all from the availa

[2022-05-11 20:46] chilicrepe commented on #78351
Unfortunately the script is still not working with RBAC ...

[2022-05-11 20:51] phatcher opened #92775 "Clarity of what permission is required on Topics/Subscriptions"
[code]
You can't trigger from a topic so I'm a bit confused - may be break out to handle the case of sending and receiving separately?

Does this mean that you should assign `Azure Service Bus Data Owner` on the subscription rather than just `Azure Service Bus Data Receiver` - if so, why not say so directly rather than the caveats.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-05-11 20:58] HeidiSteen commented on #92732
@akhudairymicrosoft   I added links to the STOPWORDs list that's posted on GH at this URL: https://github.com/Azure-Samples/azure-search-sample-data/blob/master/STOPWORDS.md

Can you tell me where you found the following two links?  I can't find them in our docs:

- https://github.com/apache/lucene/tree/main/lucene/analysis/common/src/resources/org/apache/lucene/analysis
- https://github.com/apach

[2022-05-11 21:08] JamesTran-MSFT commented on #92641
@nkumars
Thank you for following up on this!

When you say that you have a requirement for users to sign-in using either `user id` or `email id`, can you share an example of what you mean by that?

- Is this a numeric number that user's will be using to sign-in? Rather than using their email addresses or usernames?

If you have any other questions, please let me know.
Thank you for your time and p

[2022-05-11 21:14] JamesTran-MSFT commented on #92719
@JustinGrote
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-11 21:14] #92719 closed

[2022-05-11 21:19] bachoang opened #92778 "Instruction to enable MSAL4J logging does not work"
This document is missing info to enable logging.  The logback.xml file content is definitely missing info, for example appender section.  Can you revise this documentation to provide more detail?  Step by step instruction followed by example would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61912a4c-5a05-4

[2022-05-11 21:20] JamesTran-MSFT commented on #92762
@MDJM5
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-11 21:23] JamesTran-MSFT commented on #92778
@bachoang
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-11 21:26] JamesTran-MSFT commented on #92756
@JonesMikael
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-11 21:37] chitturs commented on #65175
@amenarde it is only for local testing. I was merely pointing to the Trouble Shooting question on NTE_BAD_PROV_TYPE and requesting more information. May I suggest updating the doc with your answer?

[2022-05-11 21:51] rolyon commented on #92117
Hi @xtcw255
Let us know if you have any additional feedback.
thanks

[2022-05-11 21:51] rolyon commented on #92117
#please-close

[2022-05-11 21:51] #92117 closed

[2022-05-11 21:56] himachida opened #92780 "Move operation support for Microsoft.Communication"
[Enter feedback here]

Could you please add a description about move operation support for Microsoft.Communication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azu

[2022-05-11 22:13] MarileeTurscak-MSFT commented on #92771
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-11 22:36] MarileeTurscak-MSFT commented on #92771
Thanks! I made a pull request to update the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/197969

Based on [this other guide](https://docs.microsoft.com/en-us/defender-cloud-apps/connect-google-gcp) they appear to need the following:

IAM and Admin edit – Organization level
Project creation and edit

[2022-05-11 22:36] #92771 closed

[2022-05-11 23:01] roygara commented on #83328
#reassign: @ericd-mst-github

[2022-05-11 23:02] roygara commented on #64247
#reassign: @ericd-mst-github

[2022-05-11 23:33] bashan-git commented on #92768
Thanks for feedback addressed some of the feedback.

[2022-05-11 23:37] b-hchen commented on #92747
[si-chan](https://github.com/si-chan) - Thanks for the questions. We'll consult the content stakeholders and get back to you.

[2022-05-11 23:38] Minewiskan commented on #92543
@hansmbakker - Short answer from Excel team; Excel for the web does not support connections to AAS.
Excel for the web does support Power BI dataset connections, but not if those datasets have direct connections to AAS or SSAS.
We will update the article to reflect this.
You might find this interesting though:
https://techcommunity.microsoft.com/t5/excel-blog/new-in-excel-for-the-web-power-query-re

[2022-05-11 23:42] b-hchen commented on #92746
@[si-chan](https://github.com/si-chan) - Thanks!  We'll consult the content stakeholders about enhancing this article.

As to linking to the "How-To Guides" -- Please see the **Next Steps** section of the article for links to articles about ANF backup.

[2022-05-11 23:45] tamram commented on #84377
@meenalsri - We've updated the doc based on your suggestion.

For future reference, a service SAS is signed with the account access key, so the user must have access to the key.

A user delegation SAS is signed with Azure AD credentials. To create a user delegation SAS, you must have permissions to call the Get User Delegation Key operation. Permissions information is available [here](https://docs

[2022-05-11 23:45] tamram commented on #84377
#please-close

[2022-05-11 23:45] #84377 closed

[2022-05-11 23:49] ChaitanyaNaykodi-MSFT commented on #92562
Hello @jeffsilverm, just following up here please let us know if you have any additional questions. Thank you!

[2022-05-12 00:01] TiloGit commented on #40480
@Fmstrat did you got anywhere with SSL cert renew via API / CLI?

[2022-05-12 00:36] andrewbrownmsft commented on #71520
@AshokPeddakotla-MSFT can you please assign this to @esha0611?

[2022-05-12 00:38] andrewbrownmsft commented on #74903
Thanks for the feedback in this thread! Please let us know if there are any remaining questions or issues. Otherwise, we will plan to close this next week (you can always re-open later if needed).

[2022-05-12 00:38] andrewbrownmsft commented on #80826
Thanks for the feedback in this thread! Please let us know if there are any remaining questions or issues. Otherwise, we will plan to close this next week (you can always re-open later if needed).

[2022-05-12 00:38] mike-urnun-msft commented on #92761
@lipalath-ms I hope the above answers your question. If any further questions, please post on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-12 00:38] #92761 closed

[2022-05-12 00:41] mike-urnun-msft commented on #92775
Thank you for your feedback! We will review and update as appropriate.

[2022-05-12 00:45] Karishma-Tiwari-MSFT commented on #92754
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-12 00:49] andrewbrownmsft commented on #82917
Hi. Apologies for the delay in response; our team is working through a backlog of older issues.

Device Update for IoT Hub is a distribution platform for update content which has been previously created via any number of different sources and methods of your choosing. An update, then, can be any type of content you choose, as long as there is a handler on the device which understands what to do wi

[2022-05-12 00:56] Hakim83 commented on #11450
Same issue, any solution yet?

[2022-05-12 00:57] Karishma-Tiwari-MSFT commented on #92747
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-12 01:23] jdelforno commented on #53153
Circling back to this.

In a hub-and-spoke model, having each spoke  (subscription) requiring access to the hub private-zone, means there's no separation of privileges - which is the intent  with using the hub-spoke model, separating out network traffic and access controls to ensure environment isolation.

This is actually the 3rd time I've run into an Azure Service  that  really does not support

[2022-05-12 01:26] aish21 commented on #69658
When is this coming?

[2022-05-12 02:04] Karishma-Tiwari-MSFT commented on #92302
Can you please share exactly where in the document are you seeing this command? Thanks.

[2022-05-12 02:10] Karishma-Tiwari-MSFT commented on #92748
Hi @MashaMSFT, Would you be the right person to assign this issue to? Please let us know if we should be assigning it to someone else in the team. Thanks.

[2022-05-12 03:07] abhaybhangale opened #92789 "Global Parameters page shows a deprecation notice"
While authoring an ADF artifact I noticed a deprecation notice on the configuration page that allows us to create Global parameters. However the documentation does not specify what we are expected to do now. Should i be manually updating the ARM template with the global params ? Any guidance with an accompanying example with screenshots would be helpful.

---
#### Document Details

⚠ *Do not edit

[2022-05-12 03:13] Grace-MacJones-MSFT commented on #92768
Thanks for making changes to update the doc @bashan-git. We will close out this issue. Thanks again for raising this feedback @sroons.

[2022-05-12 03:13] #92768 closed

[2022-05-12 03:40] rachelxj-ms commented on #91695
@GitaraniSharma-MSFT do we have any update for this issue?
![image](https://user-images.githubusercontent.com/66855967/167987387-80bd43d6-22f8-4c1c-afbb-8a1a0d3d4c37.png)

[2022-05-12 04:20] JayaChat opened #92791 "Sort Listblob using name of the file"
[I am trying to sort the blobs in my code ( c#) using orderby on Name of the blob . However it is not working. Is there a way to achieve it. My blob file names are nothing but the id numbers e.g. 100.jpg, 101.jpg. Once I fetch all the blobs trying to sort that. Sharing the codes I have tried:
IEnumerable<IListBlobItem> blob = container.ListBlobs()
                .OrderBy(i => ((CloudBlob)i).Name)

[2022-05-12 04:22] Grace-MacJones-MSFT commented on #92763
Hi @sroons, thanks for the feedback! what are you currently seeing as the name of the page? Can you please share a screenshot with us?

[2022-05-12 04:53] SadiqhAhmed-MSFT commented on #92765
@ApeironThanatos Thank you for bringing this to our attention. We will look into it and get back to you soon.

[2022-05-12 05:13] SreejaBhattacharya-MSFT commented on #92757
Hello @m-chau , thanks for the feedback. We'll look into this.

[2022-05-12 05:21] Vikram1988 commented on #92765
@ApeironThanatos I tried verifying the Hash value with the latest script downloaded from the portal and I get the Hash value as currently showing in docs:
![image](https://user-images.githubusercontent.com/50093810/167997529-d909be47-2b62-4ee2-a8f4-45f36ca1343e.png)

[2022-05-12 05:29] shashishailaj commented on #92766
@alpinedelight Thank you for your feedback . We will engage the content team to review and update as necessary .

[2022-05-12 05:30] shashishailaj commented on #92766
@abbymsft Could you please review and help here ?

[2022-05-12 05:35] #92757 closed

[2022-05-12 05:50] MughundhanRaveendran-MSFT commented on #92775
@phatcher ,

"For triggering from Service Bus topics, the role assignment needs to have effective scope over the Service Bus subscription resource."

This means that the identity of the subscriber (azure functions/other client apps that consume messages from topics) should have necessary role assignments and scope over the Service Bus resource and not at the subscription level. For example: You wi

[2022-05-12 05:56] #92020 closed

[2022-05-12 06:01] Vikram1988 commented on #92467
@SwathiDhanwada-MSFT can you please share the zipped folder with me on mail so that I can verify and investigate if the hash value is indeed mismatching

[2022-05-12 06:05] Vikram1988 commented on #92467
@SwathiDhanwada-MSFT please make sure that the redirection link for script download is : https://go.microsoft.com/fwlink/?linkid=2191847 i.e. the link we have on the portal download button as well. If you are downloading from any old redirection links than it may be pointing to old hash values

[2022-05-12 06:09] fslefevre78 opened #92794 "Assign custom roles with a function cannot contain spaces in the role name"
I am not sure where to post and/or if the issue I am facing is by design.
Anyway....as soon as a role name contains spaces the custom role is not assigned to the user during the login process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6355b9cc-780a-c5e9-e24a-aa6593b37ae1
* Version Independent ID: aa20c4a6-3243-d7b

[2022-05-12 06:19] Vikram1988 commented on #92765
@ApeironThanatos please make sure that the redirection link for script download is : https://go.microsoft.com/fwlink/?linkid=2191847 i.e. the link we have on the portal download button as well. If you are downloading from any old redirection links (docs may need an update) than it may be pointing to old hash values

[2022-05-12 06:21] RohitMungi-MSFT commented on #92621
@zhangyuezhong Due to upcoming build conference the change is still pending to be merged. I will go ahead and close this issue as the PR is already created and will be merged after build 2022. Thanks a lot for helping.

[2022-05-12 06:21] #92621 closed

[2022-05-12 06:27] spaelling commented on #34672
bump