[2020-04-23 08:50] #53026 closed

[2020-04-23 08:52] RobMcZagBDS commented on #52806
@kromerm who are you suggesting to? Me or @ChiragMishra-MSFT ?

In the last 3 days I had to figure out that the only way to pass things between pipeline and data flow is using strings. Everything else just brings problems.
**So it should not even be possible. :)**

Another source of confusion to me was the quoting.
Inside the data flow every time you write a string literal you have to surround it

[2020-04-23 08:57] likebupt commented on #53007
@RohitMungi-MSFT  Sure. Will update the docs recently. Thanks!

[2020-04-23 09:00] nareshkumarhk commented on #51554
Same here

[2020-04-23 09:01] anthonymsanders opened #53129 "Questions over details in the document - customer ask"
Documentation questions: -

Tenant-specific service-bus relay
When you set up the service, a tenant-specific service bus relay is set up that's protected by a randomly generated strong password that Microsoft never has access to.

What is the strength of the password/Complexity being used?

Locked down, cryptographically strong, password encryption key

After the service bus relay is created, a st

[2020-04-23 09:01] amitkub commented on #52734
Hi Ram,

1. I have installed nuget Microsoft.Azure.CognitiveServices.FormRecognizer --version 0.8.0-preview
sadly the BatchReadReceiptAsync is not there.
2. I have grabbed the code from github and integrated in my code manually - sadly there is a bug in this code related to the operation id being the full URL and not the partial url
3. Lastly the results of the form recognizer (receipts) are curre

[2020-04-23 09:10] v-pugoe commented on #50722
@ChrisAtMAF The * values denote wildcards and they are just for pattern matching. Ideally they need to be replaced by some original value which supports this pattern. So what exactly will be the values that will replace this URL. Can you provide a complete Reply URL example so that we can mention the same in the tutorial accordingly.

[2020-04-23 09:16] palma21 commented on #52060
No, support for nat gateway is being worked on, and would be its own outboundtype

Outbound type UDR _requires_ some sort of forced tunneling. The next hop is up to you but you need to provide an egress path (aka a default route for egress traffic as the example)

[2020-04-23 09:17] ChrisAtMAF commented on #50722
@v-pugoe I am only quoting what I was told by ICIMS support (and is working 100% for us at this point in time):

'Below is also an example of how these should be should be configured:

[code]

I can't comment on how the values should be except that this is what we were told by ICIMS.

[2020-04-23 09:20] jpb501 commented on #53017
Its also worth noting that if I Filter on AssignmentState or StartDateTime
(similar to the command without any filter) doesn't bring back any records
with:

AssignmentState -eq 'Active' and StartDateTime -ne $null

no matter what you ask for.

Jeff

On Thu, 23 Apr 2020 at 09:06, Jeffrey Barber <jeffrey.barber@york.ac.uk>
wrote:

--
Thanks

Jeffrey Barber
Windows & Virtualisation Specialist

Twitte

[2020-04-23 09:22] SwathiDhanwada-MSFT commented on #52716
We will close the issue for now. If you have further questions ,kindly revert and we will be glad to assist you.

[2020-04-23 09:22] #52716 closed

[2020-04-23 09:28] npigit commented on #50831
@Mike-Ubezzi-MSFT Have you received a feedback regarding the DHCP lease time? I would like to know how long it will to take effect when the custom DNS is configured after the azure SQL Managed Instance provisioning.

[2020-04-23 09:31] SamirFarhat commented on #38595
Worked for me using SPN. Thanks man

[2020-04-23 09:31] RohitMungi-MSFT commented on #53114
@tjkb Thanks for checking this. @swmachan Could we cross check the limits and correct the same?

[2020-04-23 09:32] dcurwin commented on #53010
Thank you for your comment. We've updated the doc to reflect that point:

The file share data is not transferred to the Backup service, since the Backup service creates and manages snapshots that are part of your storage account and backups are not transferred to the vault.

#please-close

[2020-04-23 09:32] #53010 closed

[2020-04-23 09:33] chrsi commented on #53040
Hello Eustace,

I am using the DPS and created two intermediate certificates for two different manufacturers. Both can therefore issue certificates on their own for the devices. But once both manufacturers use the same SubjectName in their issued certificates they become the same device in the IoTHub although they are different devices. How could this be prevented?

Is it possible to namespace the

[2020-04-23 09:33] neeleshray-msft commented on #53126
@84618315 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-23 09:33] mike-urnun-msft commented on #52561
@pellebjerkestrand `context.done` does take the 2 _optional_ parameters as described in this documentation, you may refer to the type: https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/public/Interfaces.ts#L59

Per your suggestion, I'll enhance the sample to show the use-case more clearly.

We will now proceed to close this thread. If there are further questions regarding this ma

[2020-04-23 09:33] #52561 closed

[2020-04-23 09:34] neeleshray-msft commented on #53110
@jrabams Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-23 09:34] neeleshray-msft commented on #53111
@swiftPeter Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-23 09:36] FlorianBorn71 commented on #52193
Since the units in the box are meters, it indeed looks like your model is too large and geometry is clipped in all directions.

There is no way to explicitly _set_ a bounding box in content creation tools like Blender. Instead, the box is a result of the min/max extent converted geometry, specifically the vertex positions. You should see corresponding units in the source tool, and maybe there is a

[2020-04-23 09:36] neeleshray-msft commented on #53129
@anthonymsanders Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-23 09:41] neeleshray-msft commented on #52849
@realdaweiyao The information would need to be given to Company A by the Company B to have the user removed. Or if the Company B has an Admin in the Company A's tenant, then the Admin would have to remove the employee. There is no notification/automatic method in this regard.

[2020-04-23 09:42] neeleshray-msft commented on #52849
@realdaweiyao We will be closing the thread now. Let us know if you need further help.

[2020-04-23 09:42] #52849 closed

[2020-04-23 09:45] neeleshray-msft commented on #52991
@QuetzalcoatlRosso Have you checked on this document ? - **[Use secrets in training runs](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-secrets-in-runs)**

[2020-04-23 09:46] RohitMungi-MSFT commented on #53115
@leshaved The input requirements for form recognizer are document in the form recognizer landing [page](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/overview#input-requirements).

A placeholder is available for content type in the sample.
`    'Content-Type': '<file type>',`

You can use PDF, JPEG, PNG or TIFF file types with the following format for Content-Type heade

[2020-04-23 09:46] mike-urnun-msft commented on #52659
@Prabhakar96-dev If I understood correctly, you have your JWT structured such that the issuer comes in as `issuer/tenant` format and you want to validate it as such in the APIM?

[2020-04-23 09:47] neeleshray-msft commented on #52992
@msmbaldwin Could you check on this please ?

[2020-04-23 09:49] neeleshray-msft commented on #52993
@jeevansd Could this be verified ?

[2020-04-23 09:50] FlorianBorn71 commented on #52292
We have a new release:
https://github.com/Azure/azure-remote-rendering/releases
It incorporates stability improvements also in the sample code, so it would be worthwhile to check again.
Is my assumption correct that as of yet you haven't seen a sample (e.g. quickstart) running? Have you tried the "showcase app" as well?
https://docs.microsoft.com/en-us/azure/remote-rendering/samples/showcase-app

[2020-04-23 09:52] KrishnaG-MSFT commented on #53102
@averkinderen I have tried to reproduce the issue that you have observed but ended up successfully running the command in lower PS versioned environment. Please find below screenshot for reference. I suggest you to fetch verbose / debug information to understand the issue better.

![image](https://user-images.githubusercontent.com/45988031/80085612-1600ae80-8576-11ea-8469-8b1c210f328c.png)

[2020-04-23 09:57] neeleshray-msft commented on #53028
@curtand Could the document be updated ?

[2020-04-23 10:01] ChiragMishra-MSFT commented on #52917
@RobMcZagBDS Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory).

Once you post your issue on forums, it will have visibility across the community which is

[2020-04-23 10:02] jjindrich commented on #52060
Excellent, any highlevel timeframe ? I didn't find it in AKS roadmap yet.

[2020-04-23 10:06] Mrchief85 commented on #49481
I also have the error 86 with private link enabled on my storage account and AD authentication enabled.
How to resolve this?

[2020-04-23 10:06] ram-msft commented on #53122
@stawo Thanks for the question. We will update you shortly.

[2020-04-23 10:10] likebupt commented on #53122
Hi @stawo , Sorry that currently we don't support such function. But you can use the [Execute Python Script module](https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/execute-python-script) to implement it.

[2020-04-23 10:11] nareshkumarhk commented on #51554
Hey- have made a fix for the issue- please find the sections below.

1. Replace the current "$predeployment -eq $true" block with this

if ($predeployment -eq $true) {
    #Stop all triggers
    Write-Host "Stopping deployed triggers"
    $triggerstostop | Sort-Object Name | ForEach-Object {
        Write-host "Disabling trigger " $_
        Stop-AzDataFactoryV2Trigger -ResourceGroupName $Resource

[2020-04-23 10:14] wolfma61 commented on #52732
there are no hard-coded limits in the batch transcription service itself regarding file size or audio duration.

a batch transcription request must be finished withing 48hours (currently), once it has started processing. This includes downloading the audio blob, transcribing, uploading the result data. We are transcribing with up-to double realtime speed. All these parameters are internal and can

[2020-04-23 10:18] 1c7 commented on #52732
@wolfma61 Thank you :)

[2020-04-23 10:18] #52732 closed

[2020-04-23 10:23] ivanaliptakova commented on #52822
My users:
`
`

[2020-04-23 10:33] upmygit opened #53134 "Exporting feature manager keys has changed behaviour - breaking change!"
Previously I could press export to copy all keys from one App Configuration (Feature management) to the next one (acceptance -&gt; production). It would merge all the keys on the target, and the state of already existing keys was left untouched. Great, just what I want!

Only now I saw this behaviour has changed, which is breaking for me. Why? Because the keys are used for feature toggling certain

[2020-04-23 10:38] RobMcZagBDS commented on #52917
@ChiragMishra-MSFT the documentation explains how the unroll feature should work and the expected effects of having different unroll roots, but the effects are different from the Documentation.
I cannot say what is right or wrong, but we users need to have documentation and product to be aligned.
For this I believe this is very much a documentation related issue.
Please reopen and clarify what is

[2020-04-23 10:44] neeleshray-msft commented on #52991
@QuetzalcoatlRosso You can also check on this document - **[Azure Key Vault libraries for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/key-vault?view=azure-python)**

Let us know if this helps or if you need further help.

[2020-04-23 10:46] neeleshray-msft commented on #53103
@dcbrown16 Are you referring to this document - **[Azure Key Vault basic concepts](https://docs.microsoft.com/en-us/azure/key-vault/general/basic-concepts)** ?

[2020-04-23 10:48] neeleshray-msft commented on #53109
@iainfoulds Could you check on the same ?

[2020-04-23 10:55] neeleshray-msft commented on #53110
@jrabams When a user has accounts in Azure AD and in G-Suite, both identities are different as they would have different UPNs (User Principle Name). Hence, as the tutorial suggests, both accounts would be linked with SSO. For example, if the user signs-in from a Windows 10 device with Azure AD Credentials, then with SSO they are automatically authenticated to G-Suite Connector without a Password P

[2020-04-23 10:59] SnehaAgrawal-MSFT commented on #52720
@peachorchid Just checking in if you have had a chance to see the previous response.

[2020-04-23 11:02] SubhashVasarapu-MSFT commented on #53127
@hisasima , We are looking into this query and will update you as soon as possible.

[2020-04-23 11:03] SubhashVasarapu-MSFT commented on #53120
@chkapil , We are looking into this query and will update you as soon as possible.

[2020-04-23 11:11] ram-msft commented on #52734
@amitkub Thanks for the details. We recommend to post your question in the following forum in stack overflow with input data/receipts that you are trying as we have product group team to answer this.
https://stackoverflow.com/questions/tagged/form-recognizer

[2020-04-23 11:18] nareshnagpal06 opened #53135 "MakeSet operator - Only 127 records"
I am using makeset() operator. What I noticed is that it only allows 127 records in the set. However, actual count in my list is around 2000. Is this a limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f299272e-9906-09e3-2152-4d781d8ee9a3
* Version Independent ID: 9982d1cc-20be-e350-a38d-a5a7bd76cc27
* Content

[2020-04-23 11:22] cahann commented on #41744
can you please elaborate on what do you mean by directory ?

[2020-04-23 11:25] CharlKlein commented on #38914
With you There, Looking to move Many projects to AZ Devops but this is an Issue

[2020-04-23 11:32] Vegas588 opened #53136 "Need Clarification on RHEL 8+"
Hi. I need clarification on why RedHat versions 8.0+ are not supported? Is there any plan to support this version for Log Analytics? We have a customer that wants to use Update Management and is also interested in upgrading applications to RHEL 8. What are our options here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-04-23 11:32] 84618315 commented on #53126
a better way than this

<ClaimsSchema>
            <ClaimType Id="newPassword">
                <PredicateValidationReference Id="StrongPassword" />
            </ClaimType>
            <ClaimType Id="reenterPassword">
                <PredicateValidationReference Id="reStrongPassword" />
            </ClaimType>
</ClaimsSchema>

        <Predicates>
            <Predicate Id="LengthRange" Method=

[2020-04-23 11:33] SwathiDhanwada-MSFT commented on #53135
@nareshnagpal06 Thanks for your comment. We will review your request and get back to you shortly.

[2020-04-23 11:38] 84618315 commented on #53126
a better way than this

\<ClaimsSchema>
            \<ClaimType Id="newPassword">
                \<PredicateValidationReference Id="StrongPassword" />
            \<ClaimType>
            \<ClaimType Id="reenterPassword">
                \<PredicateValidationReference Id="reStrongPassword" />
            \</ClaimType>
\</ClaimsSchema>

        <Predicates>
            <Predicate Id="LengthRange"

[2020-04-23 11:41] fowl2 commented on #41744
An [Azure AD Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-whatis#terminology) or tenant.

[2020-04-23 11:44] VikasPullagura-MSFT commented on #53101
@johncrim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-23 11:44] VikasPullagura-MSFT commented on #53101
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-04-23 11:46] hugo-paredes commented on #13958
I've to agree with @pflickin. There should be an easier way to get to this information. It would be very helpful if you want to automate this.

[2020-04-23 11:54] chkapil commented on #53120
Hi Subash, I have now found the cause. It was down to the traffic routing configuration that barred traffic flowing into firewall. This is now resolved and can be closed. Sorry for flagging up a non-issue and thanks for the timely update..!!

[2020-04-23 12:01] souravmishra-msft commented on #53111
@swiftPeter, Yes, you can use a redirect uri with http in it. I have one running in my lab.
![image](https://user-images.githubusercontent.com/54057592/80097011-333e7880-8588-11ea-9e2b-42bd2e834439.png)

Hope this helps.

Closing this thread for now. Do let us know in case there are any more queries around this so that we can try to help further by re-opening this thread.

[2020-04-23 12:01] #53111 closed

[2020-04-23 12:13] jayendranarumugam commented on #53028
FYI, Infact While I attending AZ-500 Exam today I got a question which was mentioning with the same old UI. Which means that question itself is outdated.

I'm not sure whether for that question I've got points or not. I also provided feedback for that question also after the exam. So it's something Microsoft AD team as well as Microsoft certification team needs to catch up on the updates.

Thanks

[2020-04-23 12:13] MariusFlorea99 opened #53137 "Feedback for RG deletion"
Hello, it seems that this article does not cover the fact that Resource Group deletion is irreversible. Please consider adding it, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30e8626-d145-a638-e3ad-6948f7897dec
* Version Independent ID: a261c750-16ff-ee26-8024-50f724feb291
* Content: [Delete resource group

[2020-04-23 12:21] blueelvis opened #53138 "Add documentation on how a slot can be accessed for testing purposes"
Hi,

Could you please add some documentation on how to access the Slot using the Host name and what is the naming convention for that? I thought that the host name would be like "original-web-app-name"+"slot-name" but this doesn't seem to hold under certain edge cases where the "original-web-app-name" section gets trimmed.

-Pranav

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-04-23 12:29] cahann commented on #41744
This means that the applications before migration were tied to users with different identities under different tenants, correct ?

[2020-04-23 12:30] philliprenouf opened #53139 "Looks like some comments are included in the published document"
The Prepare PIM for Azure Roles section looks like a duplicated and edited version of Prepare PIM for Azure AD Roles (still there above it), and also looks like some comments on the section and what to include are there on the doc published on docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f720f767-871a-b92b-0efa

[2020-04-23 12:36] ryanbowden commented on #44253
@craigshoemaker any update on this as its been a few months now.

[2020-04-23 12:41] VikasPullagura-MSFT commented on #52758
@MicrosoftDocs/aks-pm Can you please check this add your comments.

[2020-04-23 12:45] kgopi1 opened #53140 "Severity for Azure activity log alerts"
Hi,  Can we have option to set the severity for the activity log alerts also , the severity can be set for metric log alerts only but not for activity log alerts ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4361b185-8181-891f-bf59-7365aa84427c
* Version Independent ID: 083d5ddb-5d02-34bc-246a-ac23c6a8e4f6
* Content

[2020-04-23 12:48] v-nagta commented on #46603
#please-close

[2020-04-23 12:48] #46603 closed

[2020-04-23 12:51] enichols-insight opened #53141 "I suggest adding a Note box on this page that Custom Metrics are not available in all regions"
Make a note to indicate that Custom Metrics are not available in all regions. Perhaps link to the supported-regions page: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#supported-regions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cea95e2-c775-c363-d468-2232c2b51f4a
* Version

[2020-04-23 12:51] RyanHill-MSFT commented on #52915
Thanks for the feedback @BartVanBerkel! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-23 12:57] MonikaReddy-MSFT commented on #53134
@upmygit , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-23 12:59] RyanHill-MSFT commented on #51638
Thanks for the feedback @antempus. I'll pass your feedback along to the appropriate teams and get back with any updates. I've also assigned this issue to the content author so we can address the inconsistencies.

[2020-04-23 13:00] VikasPullagura-MSFT commented on #53139
@philliprenouf
Thanks for pointing this out! We are currently investigating and will update the doc accordingly.

[2020-04-23 13:02] SnehaAgrawal-MSFT commented on #52812
@hire-him Thanks for reply. Could you please check if you can deploy in any other closer region.

Also refer to this blog  https://azure.microsoft.com/en-us/blog/update-2-on-microsoft-cloud-services-continuity/

[2020-04-23 13:08] dimilider opened #53142 "Restrict virtual network access to your storage accounts"
The note below the section: **_https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-about-networking#create-network-service-endpoint-for-storage_** says that "Do not restrict virtual network access to your storage accounts used for ASR. You should allow access from 'All networks'" but if i look into the Azure Storage documentation, then Azure Site Recovery is listed as a trusted ser

[2020-04-23 13:09] yinoa opened #53143 "NSG doesn't block custom DNS besides Platform DNS."
"Virtual IP of the host node" part on this page only mentioned platform DNS will not be blocked by "Effective security rules and effective routes will not include these platform rules." But actually, "effective security rules" also cannot block outbound custom DNS traffic.  Could you please add the custom DNS here too?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-23 13:12] gdprtcl opened #53144 "Deploy Multiple ML Models"
How to deploy multiple (consider 2 ML Models) using the "az ml model deploy..." command? The documentation shows the example for just 1 model.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [How and where to d

[2020-04-23 13:45] nivdolgin opened #53145 "CSP availability"
Is there no support for CSP Azure subscriptions for WAF &lt;-&gt; Security Center integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f110dc0c-5af1-d742-6b77-8bbf4f27f07b
* Version Independent ID: 8b933d44-f08d-d00b-2d8f-b3fd3daf73f8
* Content: [Application Gateway integration with Azure Security Center](https:

[2020-04-23 13:55] OffColour commented on #49481
Sorry, I never returned to this as I gave up on using Azure Files as there's no way to prevent a share being deleted which is too risky.

[2020-04-23 13:56] sharadrumane opened #53146 "Sending Data to SQL Server using routes"
I have deployed the market place module on edge device and able to connect to SQL Server as well. next step i have to do is sending data to sql server from my TemperatureSensorModule is there any document which i can follow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e48b7502-105d-b440-0e30-f69d0a75a5de
* Version I

[2020-04-23 13:58] jishansiddique opened #53147 "Azure search max simple fields allowed in Basic subscription level"
As we can see in the documentation,

[Azure search-limits-quotas-capacity](https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity)

The Basic level can allow 100 simple fields but we tried with 900+ fields with it, and the index is successfully created with 900+ fields in Azure. So, can someone confirm the max limit for fields in the Basic subscription level?

Also, we can see

[2020-04-23 14:00] jtuliani opened #53148 "What about external/public load balancers?"
My web VMs have a public LB. However, I can't seem to configure the LB in the failover/test failover settings. I have created the LB, set up the FE IP config and BE pool, but still it doesn't show.

This doc refers explicitly to internal LBs and doesn't mention public LBs. Does this mean public LBs aren't supported (and I will have to set up manually?) The doc should cover both the internal and pu

[2020-04-23 14:02] Lt-P-Mitchell opened #53149 "Reply URL setting missing from documentation"
This following setting needs to be added to the documentation:
Reply URL
https://&lt;your tenant&gt;.evidence.com/?class=UIX&proc=Login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99376dd-7fe2-a35b-60f7-50ce32e30cc9
* Version Independent ID: 742721e3-71c0-6568-932f-2632c65c4f66
* Content: [Tutorial: Azure Active Di

[2020-04-23 14:10] thohan88 commented on #52413
@ram-msft: Am I interpreting this correctly?
Microsoft has effectively blocked the ability to create VMs in a ML Workspace by introducing 0-quotas. Further, these 0-quotas are not visible in the GUI, making the error messages sound totally confusing:

This is the error message for an Enterprise Machine Learning Workspace with 10 available cores for DSv2 shown under the "Workspace + Quota"-pane in

[2020-04-23 14:11] #53098 closed

[2020-04-23 14:24] #52661 closed

[2020-04-23 14:27] sirjordan opened #53150 "Code sample for creating self signed certificate mislpelled"
At the first line the string should be closed (add closing " at the end)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f3a8caa-796a-18ab-480c-161e6c806782
* Version Independent ID: 9b8988f6-79d9-4558-5c0c-983ceb857a76
* Content: [Certificates bindings - Azure App Service Environment](https://docs.microsoft.com/en-us/

[2020-04-23 14:28] tanaybaldua opened #53151 "Tool provided is not authentic"
Hi team, I downloaded the threat modelling tool and on installation - it throws below error message

"the threat model file could not be deserialized. File is not an actual threat model or the threat model maybe corrupted".

Kindly help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c188c4-9aee-f131-f9c4-2582fcc2db6e

[2020-04-23 14:38] MonikaReddy-MSFT commented on #52583
@Costo , Hope you're doing fine. Thought of checking to see if you're still having issues. And Since this is not a doc update related question, please open a question in [Application Insights MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in yo

[2020-04-23 14:38] #52583 closed

[2020-04-23 14:38] SaurabhSharma-MSFT commented on #53151
@tanaybaldua Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-23 14:38] v-nagta commented on #52977
Hi @CeciAc  @ShujiMIYOSHI

![image](https://user-images.githubusercontent.com/27479164/80111318-5e7f9280-859d-11ea-9f02-7e43d3bc1aaa.png)

They need to copy and paste the entire **Service Provider Login URL** value into the Sign-on URL textbox in the Azure portal.  So at the end of the **Service Provider Login URL** you will get the IDPID value.

Thanks,
Nagireddy

[2020-04-23 14:40] SaurabhSharma-MSFT commented on #53149
@Lt-P-Mitchell Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-23 14:40] MonikaReddy-MSFT commented on #53037
@rphoon , Thanks again for bringing this to our attention. I am glad that the issue is resolved for you.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-23 14:40] #53037 closed

[2020-04-23 14:47] KrishnaG-MSFT commented on #53136
@Vegas588 Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-23 14:48] jvanzeir opened #53152 "Active Directory Domain Services authentication with DFSN for Azure file shares"
Hi,

Some potential customers of mine are interesting in this cool new feature using local Active Directory over SMB with azure File Share. I have implemented it just fine, but with DFSN, it does not work. In the DFSN MMC, the Shares are not visible connecting the Folder Target .

Is there any opportunity using DFSN with Local AD and Azure file Share?
Would be nice, because when mounting the Drive

[2020-04-23 14:48] KrishnaG-MSFT commented on #53137
@MariusFlorea99 Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-23 14:49] KrishnaG-MSFT commented on #53141
@enichols-insight Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-23 14:50] aelmanaa commented on #47869
Hello,

I confirm that this would be needed

[2020-04-23 14:51] KrishnaG-MSFT commented on #53140
@kgopi1 Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-23 14:53] tomcooperca opened #53153 "Impossible to implement DNS integration in more than a single subscription"
In order to integrate with on-premises networking either through ExpressRoute or VPN, central DNS name servers are required. When attempting to integrate private endpoints with this design, virtual network links are required to be added to private DNS zones in order for these name servers to resolve private endpoint FQDNs.

It's currently impossible to add virtual network links to multiple private

[2020-04-23 14:57] mdaslamansari commented on #53151
Can you please advice how to do threat modelling of microservices that needs to be deployed in AKS and behind APIM?

[2020-04-23 15:07] ram-msft commented on #52734
@amitkub We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-23 15:07] #52734 closed

[2020-04-23 15:20] yllekz opened #53155 "Incorrect information: "Configuration Data PSD1 File: This field is optional." - It is now required."
"Configuration Data PSD1 File: This field is optional." - It is not optional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 627bf595-d3a1-bbdd-b045-b6c4a580fdb3
* Version Independent ID: 529fbe9a-c711-c1a0-5697-5853b1e51071
* Content: [Desired State Configuration for Azure overview](https://docs.microsoft.com/en-us/az

[2020-04-23 15:24] DixitArora-MSFT commented on #53138
Hi @blueelvis Thanks for your feedback. We will review and update as appropriate.

[2020-04-23 15:25] qianw211 commented on #47736
#please-close this was fixed.

[2020-04-23 15:25] LuisCabrer commented on #53021
This is already fixed, can you #please-close

[2020-04-23 15:28] supmn084 commented on #51931
[DPMError2.txt](https://github.com/MicrosoftDocs/azure-docs/files/4523512/DPMError2.txt)
Uploaded error of a fresh install on another server. I've run through the install from scratch at least 30 times, same error every time.

[2020-04-23 15:32] gwenbettwy commented on #52707
So are you saying you support SSL 3.0 or earlier?

Gwen

[2020-04-23 15:33] KalyanChanumolu-MSFT commented on #52808
@sebhe Could you please post a screenshot from your Azure portal so that we can check the screenshot.

[2020-04-23 15:34] PatAltimore commented on #53090
Hi @HarlowBurgess,

Thanks for the feedback. Good point. I'll add a backlog item to add the information to the article.

Thanks,
Pat

#in-progress

[2020-04-23 15:37] PatAltimore commented on #53079
Hi @HarlowBurgess,

Thanks for the feedback. You're right. It should be more clear. I added a backlog item to improve the clarity of the steps.

Thanks,
Pat

#in-progress

[2020-04-23 15:44] guythetechie opened #53156 "Create free tier account with ARM template"
Is there a way to create a free tier account (https://devblogs.microsoft.com/cosmosdb/build-apps-for-free-with-azure-cosmos-db-free-tier/) with an ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff94a85a-cdd6-94d8-1848-0c69e04e54e1
* Version Independent ID: ccf04691-9ed7-c44e-88ce-1ac6c2ac6a88
* Content: [

[2020-04-23 15:48] Karishma-Tiwari-MSFT commented on #53106
Thanks for the update.

[2020-04-23 15:54] Karishma-Tiwari-MSFT commented on #53155
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-23 16:04] SMazu commented on #51799
Thank you @dagiro and @SnehaGunda. My support request ID is: `120042323002380`

Please let me know once you've had a chance to take a look

[2020-04-23 16:06] Phatage commented on #52292
Thanks for the update. That is correct in that I have not been able to see
the example working at all yet, neither through the Unity editor nor
through deploying to my HoloLens 2. Even with this latest version, I've
followed the instructions for Quickstart
<https://docs.microsoft.com/en-us/azure/remote-rendering/quickstarts/render-model>
and still get the error at the bottom of this message.

When

[2020-04-23 16:07] JasonBodley commented on #30898
Same here, I want to be able to pass through the JWT bearer token from my Azure AD login so that i can use it to call the Graph API. Following the user flows it returns a proper JWT token, however via custom policy (can't get away from using this) it returns some unknown compact token format which isn't of any use ... I've gone to the extent of looking at the base xml policy that is produced for t

[2020-04-23 16:14] tsharp opened #53157 "Resource Group for VNet can be different than the Resource Group for the Load Balancer"
In the commands it doesn't tell you where/if you're able to use different resource groups for vnet's and load balancers. This currently makes the assumption that they're both in the same RG. For services like Azure Kubernetes Service this makes using this challenging if not impossible. Perhaps there could be some clarity or additional information regarding what configurations are supported.

---
#

[2020-04-23 16:18] markjbrown commented on #53089
Yes, this is related to Private Link. See this article here for more information on Private Link and how to use, see this section for what this specific property does.

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-private-endpoints#blocking-public-network-access-during-account-creation

Thanks.

#please-close

[2020-04-23 16:19] #53089 closed

[2020-04-23 16:23] dpolivy commented on #46251
@warnov I'd suggest opening a support ticket for assistance with that.

[2020-04-23 16:23] FlorianBorn71 commented on #52292
It would be good to know whether the showcase sample works or not, just to have clarity if it is something with the connection/firewall or the logic in the samples. Besides, the showcase sample is much more polished and fun to play with (if it works ;-)

The showcase app has its own documentation here:
https://github.com/Azure/azure-remote-rendering/tree/master/Unity/AzureRemoteRenderingShowcase

[2020-04-23 16:32] bandersmsft commented on #52075
@the-blesss Investigating this with the engineering team.

[2020-04-23 16:42] m-xen opened #53158 "iOS and Android 3rd Party mobile apps cannot provide the device compliance state at login"
I've raised this with Microsoft Support (ref:120021922001217) and they confirmed this does not work for the combination of Intune & AAD Conditional Access policies that require managed devices, & 3rd party mobile applications. In our case Workday, SAP Concur, Citrix Files as examples. The Microsoft mobile applications, Outlook, Teams etc. work perfectly, but other 3rd party apps are blocked from a

[2020-04-23 16:50] YgorFiqmetrix commented on #38430
@SubhashVasarapu-MSFT would you be able to give a little bit more details in how you set up your storage account connection across tenants via service endpoints?

[2020-04-23 16:51] jluk commented on #52060
No ETA today, but this is the issue tracking the request on the roadmap.

https://github.com/Azure/AKS/issues/1122

[2020-04-23 16:53] gaikovoi commented on #42947
@jcbrooks92 I see what happened in my case. The function app **inbound** IP got changed. The Azure infrastructure continues to use this old **inbound** IP to access KV. We back to the original issue # 1 of this thread: documentation does not mention that **inbound** IP is used as outbound in some cases.

[2020-04-23 16:58] aditya21891 opened #53160 "Awesome Tutorial for beginners"
Thanks To Microsoft for their Documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Quickstart: Create a Node.js web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-serv

[2020-04-23 17:00] j03Martin opened #53161 "When in the Azure Global TLS 1.2 Phase 2 Happening"
It says May 11 2020, but it has extended next to the date. Is this the extended date or has it been extended past May 11 2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5e31f8-a816-2b22-96c0-f763fa67f9e6
* Version Independent ID: d1ff1bc0-c88e-f51f-c6d8-fb9f9b212b94
* Content: [Remove TLS 1.0 and 1.1 from use wi

[2020-04-23 17:09] YutongTie-MSFT commented on #53144
@gdprtcl
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-23 17:14] MarileeTurscak-MSFT commented on #49331
PG response on token lifetime issue - They should be ignored automatically.

Also, existing policies will be honored until 6/30.

Hope this helps!

I will close this out now but feel free to send me an email at AzCommunity@microsoft.com if you have further questions.

[2020-04-23 17:14] #49331 closed

[2020-04-23 17:21] viju2008 opened #53162 "Adding Custom Headers in Speech WebSocket Request using Microsoft Speech SDK"
With reference to

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/speech-container-howto.md

I am using Speech to Text Endpoint for development and plan to move to Containers for Speech to Text On-premise. I went to the SDK and container documentation but didnt find a method to add custom headers using Microsoft Speech SDK. I need to add addition

[2020-04-23 17:22] mtvessel commented on #43390
I couldn't agree more.  We have a team of developers all working on multiple feature branches in parallel.  We need to be able to publish any or all of those features to our collaboration branch, but selectively move features to higher environments as they are tested/approved.  Right now our only option is to work solely in feature branches, and test using debug triggers.  Debug triggers are highl

[2020-04-23 17:29] Mike-Ubezzi-MSFT commented on #53118
@sandip22490 Thank you for the insightful questions. Let me research this a bit so that I can provide you accurate information along with identifying refinements that we could make to the documentation.

[2020-04-23 17:32] RickXMoore commented on #43390
I currently manage all of this via PowerShell 7, but my problem is that it’s still a manual process.  I’m a SQL DBA with 30+ yrs, but I’m not a developer, so my coding options are rather limited.  I can publish a single object or an entire feature thru each environment and never have to deploy the entire datafactory each time.  Even with the link in the initial reply, it still deploys the entire d

[2020-04-23 17:33] Mike-Ubezzi-MSFT commented on #53123
@npigit Thank you for bringing this to our attention. Let me research this and get back to you.

[2020-04-23 17:36] AndresDevelop commented on #52495
@Glaubscher Sorry, my bad. I got confused between the consumer group and the resources groups it works just fine now.  btw is there any difference  between EventHubClient.createFromIotHubConnectionString and EventHubConsumerClient when it comes to retrieve , read the data that comes from the device ? I tried both and it seems to me the outcome is still the same. I really do appreciate your help.

[2020-04-23 17:39] CeciAc opened #53163 "--encryption blob -- az storage account create: error: ambiguous option:"
@jmorcar commented on [Thu Apr 23 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/714)

The documentation with param  "--encryption" is deprecated , must be changed to name "--encryption-services"
The correct command is discuss in this issue: https://github.com/Azure/azure-cli/issues/4220

Currently follow this page, the error is:
az storage account create: error: ambiguous option:

[2020-04-23 17:40] SnehaGunda commented on #53156
@guythetechie Currently you can create the free tier account from Azure portal only. We will update the docs when ARm support is available.

[2020-04-23 17:40] YutongTie-MSFT commented on #53034
@AshutoshSinghTACT
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-23 17:40] #53034 closed

[2020-04-23 17:41] jmprieur commented on #36402
Fix in progress
cc: @mmacy

[2020-04-23 17:42] Grace-MacJones-MSFT commented on #53160
Hi @aditya21891, thanks for the positive feedback! We are glad you found this Quickstart tutorial helpful :)

[2020-04-23 17:42] #53160 closed

[2020-04-23 17:42] jmprieur commented on #45068
The desktop tutorial is available.
#please-close

[2020-04-23 17:42] #45068 closed

[2020-04-23 17:46] #36402 closed

[2020-04-23 17:47] rarera opened #53164 "What about Azure Batch?"
would that work with managed identities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/manag

[2020-04-23 17:47] DanielJanik opened #53165 "missing detail or mistake?"
The article appears to be cut off or unedited.

RE:   "Number of management solutions enabled and their configuration (e.g."

Note that : "(e.g."  ends the line. I would expect that this would be followed by some examples and closed with ")".  This issue can be found on the first bullet in the pricing model section.  https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage

[2020-04-23 17:59] palma21 commented on #52758
For kubenet is not possible. For CNI @aanandr from CNI team to answer.

[2020-04-23 18:01] Phatage commented on #52292
Thanks for referring me to that. So yes I was able to get the Showcase app
working in the Unity editor! Very impressive to see the engine model even
on my small laptop screen and no errors were observed in the console until
I stopped play (the error was something along the lines of the service
being only available in play mode so that made sense).

However when I try to build to VS and then to my

[2020-04-23 18:18] jmprieur commented on #49182
Taken into account by https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1776

[2020-04-23 18:18] jmprieur commented on #49182
#please-close

[2020-04-23 18:18] #49182 closed

[2020-04-23 18:26] CeciAc opened #53167 "Is there a way (azure cli, powershell, Graph API) to automate requests to extend role assignment ?"
@TechWatching commented on [Thu Apr 23 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/707)

I would like to automatically request for a role assignment extension when I receive a mail telling me that one of my role is going to expired. Indeed it's something I have to do quite often and can take a lot of time when you have multiple roles assigned for different ressources and environ

[2020-04-23 18:27] sgdesmet opened #53168 ""Adding a non-federated user signInType is not permitted if the user only has social/federated identities or no identities""
Attempting to add email and password to an existing user which previously used federation results in the error:
`"Adding a non-federated user signInType is not permitted if the user only has social/federated identities or no identities"`

Other resources seem to indicate that a user can have both local and federated identities.
For example: ["A single account can have multiple identities, both loc

[2020-04-23 18:30] TravisCragg-MSFT commented on #52683
@cwester72 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-23 18:30] #52683 closed

[2020-04-23 18:46] nareshnagpal06 commented on #53135
I just found out that MakeSet has second parameter - MaxSize which will return required number of rows.
make_set(Expr [, MaxSize]).

Hence Closing the issue.

[2020-04-23 18:46] #53135 closed

[2020-04-23 18:56] mauleb opened #53170 "Compatibility with Azure CDN?"
Hello, I was wondering if I could get some guidance for how a static website hosted in a storage account + cdn + custom domain could be configured to restrict access to a virtual network. Basic whitelisting works for the static website itself but not the CDN. Would a private endpoint enable the CDN to still function but with a restriction to IP addresses?

---
#### Document Details

⚠ *Do not edit

[2020-04-23 18:57] anthonylax opened #53171 "Incorrect powershell script"
Get-MsolUser -All | Where-Object {$._StrongAuthenticationMethods -ne $null -and $._BlockCredential -eq $False} | Select-Object -Property UserPrincipalName
Get-MsolUser -All | Where-Object {$._StrongAuthenticationMethods.Count -eq 0 -and $._BlockCredential -eq $False} | Select-Object -Property UserPrincipalName

Both Where_Object refer to $ instead of $_.

---
#### Document Details

⚠ *Do not edit

[2020-04-23 19:00] TravisCragg-MSFT commented on #53143
@yinoa I just tested this functionality, and it is possible to block custom DNS by blocking port 53.

When specifically blocking port 53 with a high priority rule, it is still possible to get DNS queries from the virtualized host IP Address, but not from a public internet DNS.

[2020-04-23 19:01] cp-bwg opened #53172 "Needs info about how to store the data"
We have tried JSON and CSV... can't sort out how to get a usable data copy - please clarify the output / sink storage method to get a usable data set from the data copy activity.

Also suggest noting that a manager account is required to get the developer token, and an individual client account has to be specified after getting the api token with google ads.

---
#### Document Details

⚠ *Do not e

[2020-04-23 19:06] elamalani commented on #52840
@KAnderson Unfortunately, these docs are not updated for some time now. If you want to set up Push notification in your app, I'd recommend you use Azure Notification Hubs which is an up-to-date service for sending mobile push.

[2020-04-23 19:25] peachorchid commented on #52720
So I ran 'dotnet tool uninstall -g dotnet-ef' and then 'dotnet tool install -g dotnet-ef --version 3.1.3'  which reported 'Tool dotnet-ef (version '3.1.3') was successfully installed.'

Then I ran 'dotnet-ef database update' again and got the same result I originally did, which is 'version '2.2.0' was not found'. So I get that message with specifying 3.1.1 or 3.1.3, both with 3.1.3 actually instal

[2020-04-23 19:25] SaurabhSharma-MSFT commented on #53171
@anthonylax Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-23 19:28] SaurabhSharma-MSFT commented on #53151
@tanaybaldua I am also getting the same error and checking internally with the products team on the same.  I will update you once I hear back from them.

[2020-04-23 19:29] MicrosoftGuyJFlo commented on #52033
#please-close

[2020-04-23 19:29] #52033 closed

[2020-04-23 19:29] SaurabhSharma-MSFT commented on #52936
@iricigor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-23 19:29] #52936 closed

[2020-04-23 19:34] SaurabhSharma-MSFT commented on #53164
@rarera Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-23 19:40] tpeltz opened #53176 "How to set access for TokenGroupsGlobalAndUniversal"
Your prerequisites say:  "The server running the Connector has access to read the TokenGroupsGlobalAndUniversal attribute for users. This default setting might have been impacted by security hardening the environment."  It doesn't say how to do that.  I'm sure there are several ways to do it, but what worked for me was to add my connector and web servers to the Windows Authorization Access Group.

[2020-04-23 19:41] xyz92 opened #53177 "Azure Cosmos DB (Table API) in ADF"
Does ADF support linked service Azure Cosmos DB (Table API)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607b235f-468f-0494-3e7e-5f1e53e745f4
* Version Independent ID: bbed8d23-b22a-d50c-22fb-e656f4cfebd2
* Content: [Mapping data flows - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/concept

[2020-04-23 19:44] jahobson75 opened #53178 "Resizing disks?"
You list in the introduction to this section and in the closing that you specifically covered resizing disks.  However I don't see a specific section addressing how to go in and resize a disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34301147953d
* Version Independent ID: c2bc2467-8743-491

[2020-04-23 19:45] mimckitt commented on #51103
@jonwbstr got it. I would suggest opening an issue on the WALinuxAgent repo to have that team add it. If they do, we then can update the document.

https://github.com/Azure/WALinuxAgent/issues

[2020-04-23 19:46] pererap01 commented on #33157
This is the 3rd time same appgateway has gone to la-la-land. Cant stop and or update:
{
  "error": {
    "code": "MissingIdentityIds",
    "message": "The identity ids must not be null or empty for 'UserAssigned' identity type."
  }
}

[2020-04-23 19:46] mimckitt commented on #52360
@RubenKhachatryan Also, if you are referring to the repo that we do manage then I suggest opening an issue against that repo so the owners can update. Such as opening an issue here:

https://github.com/Azure/WALinuxAgent/issues

[2020-04-23 19:46] #52360 closed

[2020-04-23 19:47] stephenc01 commented on #33157
To be honest. I gave up on it as it’s unstable.

On Thu, Apr 23, 2020 at 3:46 PM pererap01 <notifications@github.com> wrote:

[2020-04-23 19:47] mimckitt commented on #52445
I am going to close this out for now but if you have further feedback let me know and we can always reopen and continue the discussion. However from reading the doc and the included links I don't see any need for an update at the moment.

[2020-04-23 19:47] #52445 closed

[2020-04-23 19:47] SnehaGunda commented on #52633
@KalyanChanumolu-MSFT jasontho and lbosq are the SMEs, please add them to your thread if you don't already have them.

[2020-04-23 19:48] pererap01 commented on #33157
we had to stand up another one and use this because the original one is flaky! I have a ticket with MS regarding this issue... let's see if it is gonna get resolved this time?

[2020-04-23 19:53] #41601 closed

[2020-04-23 20:04] Thomas-Bailey commented on #43390
Hi,

No, I only use Git on my dev factory.  I'm familiar with the need to promote to test and prod using ARM template deployment. However, that doesn't stop it being clunky as hell and fiddly. Disabling triggers, checking against the ARM template for deprecated pipelines etc is just not a good experience.  I've even taken to bastardising the Key Vault for environment variables.  This product does

[2020-04-23 20:11] Thomas-Bailey commented on #43390
IMO the quickest win on this is to permit publish to ADF from more than just the compare branch.  So you could have a 'test' branch that can publish to your ADF Test (and you should be able to designate the 'publish' branch per ADF). That with environment variables would solve a lot grief.

Also, does anyone want to explain to me what the hell the point is in adf_publish if it's not supposed to go

[2020-04-23 20:11] ioan-agopian commented on #51835
Any news on this? We have encountered the same bug.

[2020-04-23 20:16] Drag0nR3b0rn opened #53179 "Extend table for 'Encryption Model and key management table' for support of "Server-side encryption using customer-managed keys in customer-controlled hardware""
The table 'Encryption Model and key management table' (https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#encryption-model-and-key-management-table) is a nice summary for encryption model for data at rest, but its missing a column for services supporting "Server-side encryption using customer-managed keys in customer-controlled hardware" (HYOK) scheme, albeit they're ra

[2020-04-23 20:28] Mike-Ubezzi-MSFT commented on #52707
@kummanish This is currently labeled a doc-enhancement. This update is not so simple. It requires potential changes to not only references within the doc but also titles and document file names, etc. In instances where the command line parameter references ssl (`sslmode` for example) those are changes that will not be made, for obvious reasons. This update is also applicable to many other docs whe

[2020-04-23 20:34] wolfheart01 opened #53181 "Confusion around which registration method will work for both MFA and/or SSPR"
The statement "After you enabled combined registration, users need to register or confirm their phone number or mobile app through the new experience to use them for both MFA and SSPR." does not make it clear whether the already registered methods in MFA or SSPR will work or not for both after enabling the combined experience. Please make this clearer.

In the same fashion the statement "SSPR regi

[2020-04-23 20:38] brandonh-msft opened #53182 "Incorrect HTML page title"
In a browser (and therefore on search results) the page title for this is "Azure SingnalR ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbc7f4d-f312-e8ea-0d5f-9337de1e96fa
* Version Independent ID: e92063d8-9ca5-1894-93d8-6bd767c17917
* Content: [Azure SingnalR as Event Grid source](https://docs.microsoft.com/en

[2020-04-23 20:38] brandonh-msft commented on #53182
![image](https://user-images.githubusercontent.com/20270743/80147012-aaafe000-8567-11ea-8cc9-e159ae976008.png)

[2020-04-23 20:52] BharathNimmala-MSFT commented on #53165
@DanielJanik  Thank you for bringing this to our notice, we will look into and fix the document accordingly.

[2020-04-23 20:53] BharathNimmala-MSFT commented on #53148
@jtuliani Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-23 20:57] kgremban commented on #51885
@njbuch Yes, you're correct in that the Blob Storage on IoT Edge module doesn't enable cloud-to-device blob downloads. I checked with the team and they've gotten this suggestion from other customers, so are tracking it as a request already.

I'm going to close this issue now, but feel free to post here again if you have more comments/concerns about this. Thanks!

#please-close

[2020-04-23 20:57] #51885 closed

[2020-04-23 20:58] kgremban commented on #51230
@manueljesusrd Did veyalla's recommendation to store the runtime containers in your private repository resolve your issue?

[2020-04-23 21:11] tamram commented on #53163
@CeciAc - I've addressed this error. The change should be live in a few hours.

#reassign: @tamram

[2020-04-23 21:11] tamram commented on #53163
#please-close

[2020-04-23 21:11] #53163 closed

[2020-04-23 21:14] pictoric opened #53184 "Double negative's in a sentence may not be scored correctly"
I'm not sure the best place to leave feedback for you to update the model or to discuss it.  The type of sentence below that is quoted is 100% positive yet it gets rated as negative (65/35).  I understand it is a complex situation with double negatives but it is a common feedback pattern for retail clients:

"Never once have we been disappointed, keep up the good work and please don’t change anyth

[2020-04-23 21:17] Mike-Ubezzi-MSFT commented on #52707
@kummanish I have reached out to Andrea for which she has detailed the broader changes being made along with the specific needs for this document since the service supports SSL an TLS.

[2020-04-23 21:21] averkinderen commented on #53102
I'm getting this.

![image](https://user-images.githubusercontent.com/8144122/80150643-15aaf680-85fc-11ea-8ef3-f863010690a1.png)

Only way to get it working was with ps7

[2020-04-23 21:29] stgeorgi commented on #46294
Your observations are correct. We are not investing (for now) in documentation on how to do change management for WVD as this is highly divergent across customers. The statement that the WVD team has been making around update management, app management and image management has been (paraphrased and shorten) "use any process that your organization already uses, with the distinction that the image h

[2020-04-23 21:33] llgjermeni commented on #52847
Thanks again @Mike-Ubezzi-MSFT . I am waiting news from you.

[2020-04-23 21:38] aaltotsky commented on #49245
Why this issue is closed? As of today, it's still not working for the Free tier. Is there a reference, so we can watch it and be notified when the fix will be deployed to Azure?

[2020-04-23 21:38] BrianLevenson commented on #44173
Ah, good to know. Do you mind if we close this thread and re-engage if you encounter problems when publishing?

[2020-04-23 21:39] mtvessel commented on #43390
Being able to publish from multiple branches might help, but I'd still have
multiple developers who need to publish their feature branches to the live
factory, without fear that *every *feature is now going to be promoted to
the next environment.

On Thu, Apr 23, 2020 at 4:11 PM Thomas-Bailey <notifications@github.com>
wrote:

--
Michael Taubman
email: mtvessel85@gmail.com
mobile: 917-670-3945

[2020-04-23 21:42] dsindona commented on #44173
@rogeraustin we've passed on this feedback to engineering. If you have any problems when publishing, feel free to open another docs issue if needed.
#please-close

[2020-04-23 21:42] #44173 closed

[2020-04-23 21:45] iainfoulds commented on #53109
Thanks for the feedback, @g0pinath. Glad you were able to successfully configure your environment.

I've created a PR to add these pieces of advice.

[2020-04-23 21:48] adammodlin opened #53185 "Documentation unclear for running cspack on both web and worker roles"
The documentation for packaging both web/worker roles is a bit unclear. I am running the following command:

```cspack C:\dev\MonoRepo\src\Lens.Exchange.Services\src\Cloud\Lens.Exchange.Cloud.Orchestrator\ServiceDefinition.csdef /out:"C:\Users\amod\Downloads\cloud.cspkg" /role:Lens.Exchange.Services.Auditor;C:\dev\MonoRepo\src\Lens.Exchange.Services\src\Services\Lens.Exchange.Services.Auditor\bin\

[2020-04-23 21:48] gabrieljtaylor commented on #46294
Management via golden image rollout is definitely preferred and the route we want to go with, but as mentioned above, we've experienced issues when trying to deploy and updated image to an existing host pool via the Marketplace template. Can you assist by providing semi-official guidance on deploying an updated golden image to existing hosts? Is there a way to do this without requiring the destruc

[2020-04-23 21:53] #53109 closed

[2020-04-23 21:54] kgremban commented on #51145
@chris-han Thank you for pointing this out. I verified the same behavior that you reported, so I'll update the article now. Since this is a pretty straightforward update, I'll have GitHub automatically close this issue when my changes are merged. If you have any further comments/concerns about this issue, feel free to post here again and we can reopen the issue. Thanks again!

[2020-04-23 21:55] mshedeed1 commented on #27800
Hello Christian, i am working for one of Microsoft LSPs and we have multiple customers in urgent need to this request, is there anyway to get early access to the documentation though some program enrollment request or so ?

[2020-04-23 21:57] MarileeTurscak-MSFT commented on #53179
@Drag0nR3b0rn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-23 21:58] MarileeTurscak-MSFT commented on #53158
@m-xen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-23 22:09] #51145 closed

[2020-04-23 22:15] TravisCragg-MSFT commented on #53145
@nivdolgin I am not able to find a restriction with CSP subscriptions & Security Center integration. There are some limits within Azure Security Center and CSP subscriptions, but it should not affect this integration.

[2020-04-23 22:17] Noutlaw1 opened #53186 "Script to detect status of VM agent is incorrect."
I'm using Az module version 3.5.0

This section of Powershell does not detect the current status of the VM agent:

$vms = Get-AzVM

foreach ($vm in $vms) {
    $agent = $vm | Select -ExpandProperty OSProfile | Select -ExpandProperty Windowsconfiguration | Select ProvisionVMAgent
    Write-Host $vm.Name $agent.ProvisionVMAgent
}

This ProvisionVMAgent property is there for marketplace images that h

[2020-04-23 22:23] Grace-MacJones-MSFT commented on #53150
Hi @sirjordan,  thanks for your feedback! We will review and update this doc accordingly.

[2020-04-23 22:26] NavtejSaini-MSFT commented on #53161
@j03Martin We are trying to get this information and will get back to you.

[2020-04-23 22:38] Grace-MacJones-MSFT commented on #53150
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-23 22:38] #53150 closed

[2020-04-23 22:48] SQLSourabh commented on #53146
Hi @sharadrumane are you deploying the SQL Server module or the Azure SQL Database Edge module (in preview and requires whitelisting) from the Marketplace. If you are using the SQL Server module, then you can use an ASA on Edge module to send data to SQL Server module through Edge Hub.

[2020-04-23 22:48] mike-urnun-msft commented on #52659
@Prabhakar96-dev Please review the following example on how to parse a JWT in policy expressions: https://github.com/Azure/api-management-policy-snippets/blob/master/examples/Parse%20a%20JWT%20token%20using%20expressions.xml

Since this channel is more for driving improvements towards MS Docs and we haven't determined any changes to this documentation upon reviewing this feedback, we will now proc

[2020-04-23 22:48] #52659 closed

[2020-04-23 22:50] mprentice22153 opened #53187 "Slight process change"
With the newest version of AADC,  the SCP Configuration and Device Operating System pages/prompts are opposite of what is displayed on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Independent ID: ce5166e4-5d15-ef1f-1090-576a69e601e8
* Content: [Configure hybri

[2020-04-23 22:59] navyasric commented on #49541
Thanks for feedback. Fixed in above PR. Please close.

[2020-04-23 22:59] #49541 closed

[2020-04-23 23:00] dcbrown16 commented on #53103
I'm suggesting this should go in the Concepts section of the ToC. Wherever you want to put it is fine, but it's not discoverable right now.

[2020-04-23 23:02] SaurabhSharma-MSFT commented on #53017
@jpb501 I have tried the below cmdlets and I am getting the same results  -
Get-AzureADMSPrivilegedRoleAssignment -ProviderId $Provider -ResourceId $AzureADRef | where {$_.RoleDefinitionId -eq "Role Definition Id >>"}

Get-AzureADMSPrivilegedRoleAssignment -ProviderId $Provider -ResourceId $AzureADRef -Filter "roleDefinitionId eq 'Role definition Id '"

Also, for your second query can you please c

[2020-04-23 23:06] eric-camplin opened #53190 "Starting template != completed template Quick Start Template"
`projectName` variable doesn't exist in previous Quick start template as noted

**Review template**
The template used in this tutorial is similar to the template used in the tutorial about Quickstart templates. If you are interested in creating the template, you can go through that tutorial. However it's not required for completing this tutorial.

The template deploys a storage account, app servic

[2020-04-23 23:06] Karishma-Tiwari-MSFT commented on #53178
Thanks for bringing this to our attention.
Here is the document for disk resize: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks
I will remove the resize mention from this document.

[2020-04-23 23:09] xyz92 opened #53191 "Azure Cosmos DB (Table API) & Azure Cosmos DB (SQL API) Linked Services in ADF"
I'm looking into using ADF for reading data from data lake and storing the data to Cosmos DB. I'm figuring out whether I should use Azure Cosmos DB Table API or Azure Cosmos DB SQL API. I see that ADF does not support linked service Azure Cosmos DB (Table API). Can we use Azure Table Storage as a sink and persist it into a Cosmos DB account? Which one among Azure Cosmos DB (Table API) & Azure Cosm

[2020-04-23 23:10] #53178 closed

[2020-04-23 23:16] MarileeTurscak-MSFT commented on #52673
The important thing is to add the domain of the current page, where the XMLHTTPRequest object is executing, as a CORS allowed origin for the app. If you're using a published version with a local version or vice versa, this can happen.

CORS may also have some limitations on the browser side. In some cases it will make an options call (preflight) in order to determine CORS. We block the options cal

[2020-04-23 23:16] #52673 closed

[2020-04-23 23:21] #53078 closed

[2020-04-23 23:23] fowl2 commented on #41744
Yes

[2020-04-23 23:25] MarileeTurscak-MSFT commented on #53181
@wolfheart01
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-23 23:29] NavtejSaini-MSFT commented on #53082
@PeterUherek Please let us know if you need any further help with this.

[2020-04-23 23:32] NavtejSaini-MSFT commented on #53087
@roofiq Please let us know if you need any further help with this.

[2020-04-23 23:33] MayMSFT commented on #52412
Hi @alanflanders  thanks for reaching out. Are the computes amlcompute? Can you send us the details about your compute and are you able to see those computes in your workspace on ml.azure.com?
![image](https://user-images.githubusercontent.com/47834041/80159538-19009c80-8580-11ea-9794-69dd7e74f763.png)

[2020-04-23 23:34] Mike-Ubezzi-MSFT commented on #52847
@llgjermeni By taking the Instance Pools template example and adding it to the basic Managed Instance ARM deployment: [Azure Sql Database Managed Instance (SQL MI) Creation inside New Virtual Network](https://github.com/Azure/azure-quickstart-templates/tree/master/101-sqlmi-new-vnet#azure-sql-database-managed-instance-sql-mi-creation-inside-new-virtual-network) by swapping out the [Managed Instanc

[2020-04-23 23:34] dagiro commented on #51799
Thank you for the support ID. We will now close this item. #please-close

[2020-04-23 23:34] #51799 closed

[2020-04-23 23:37] djpmsft commented on #43390
Hi all,

This is Dan from the product group. Just wanted to say I am monitoring this discussion and really appreciating all of your points. Please continue making suggestions and we are brainstorming ways to make things better!

Thanks,
Dan

[2020-04-23 23:40] SaurabhSharma-MSFT commented on #53058
@thdotnet I have followed the article and checked for PowerShell and it worked fine.
![image](https://user-images.githubusercontent.com/38112130/80159702-86143200-8580-11ea-8028-23d66712e407.png)
Can you please make sure that you create the user and assign role on the required database (not on master) by selecting from SSMS.
![image](https://user-images.githubusercontent.com/38112130/80159901-0b97

[2020-04-23 23:41] NavtejSaini-MSFT commented on #53161
@j03Martin The May 11 is actually the extended date that was changed from March 31 2020. If there is any further change our Product team will update the document.
Hope this helps.

[2020-04-23 23:47] GiftA-MSFT commented on #53060
@rriley99 thanks for reaching out. Another option could be to use [Azure ML Notebooks](https://docs.microsoft.com/en-us/azure/machine-learning/samples-notebooks) as a way to load data from Blob into a pandas dataframe. You can also use [Azure ML datasets](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#create-datasets) to access data for your experiments.

[2020-04-23 23:47] uajvi opened #53192 "No able to add below parameters fore Recurrence"
Hello  i am trying to add on these days/on these hours from the code view as I don't find those parameters on the Designer. Now i am able to use only hours/min/timezone/start from parameters.

Save logic app failed
6:43 PM
Failed to save logic app TriggerEBM_Dashboardbuild. The template validation failed: 'The template trigger 'Recurrence' at line '1' and column '238' is not valid: "Could not find

[2020-04-23 23:48] sdgilley commented on #52585
@mahhanifi thanks so much for your comment.  This article isn't a full tutorial; rather it shows little examples of different parts of a pipeline.  However, you're entirely correct that it would make much more sense to use the same data in these two examples.  I've just made that change, you should see the new examples by tomorrrow.

[2020-04-23 23:48] #52585 closed

[2020-04-23 23:52] djpmsft commented on #43390
Purely brainstorming,  what would peoples thoughts be on something like the ability to exclude resources from getting published (pardon the mspaint) ? This is just for selectively deciding what to promote from the collaboration branch into the live factory

![image](https://user-images.githubusercontent.com/31044028/80160265-0b4c1680-8582-11ea-9c70-ca859592ca0e.png)

[2020-04-24 00:00] SaurabhSharma-MSFT commented on #53171
@anthonylax I see both cmdlets are correct and contains "$_." only.

![image](https://user-images.githubusercontent.com/38112130/80160959-d17c0f80-8583-11ea-9e5a-b63153ffb67c.png)

[2020-04-24 00:04] SaurabhSharma-MSFT commented on #53164
@rarera No currently MSI support is not available in Azure Batch. You can view and upvote existing Uservoice over [here](https://feedback.azure.com/forums/269742-batch/suggestions/33640984-support-managed-service-identity).

[2020-04-24 00:10] jakehockey10 opened #53193 "Using stopwatch to record total bulk execution time not working"
I've basically utilized the code snippets in this document for my project, and I love the V3 API as opposed to the V2 BulkExecutor API.  Thanks for all the hard work!

One problem I'm having is that the stopwatch in this section (https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-migrate-from-bulk-executor-library#execute-operations-concurrently) is reporting that an operation took roughly 1.

[2020-04-24 00:14] jakehockey10 commented on #53193
Here is the method that is not reporting the correct `Elapsed` `TimeSpan`:

[code]

And here is how the method is being used:

[code]

[2020-04-24 00:16] sandeepiiit commented on #52087
This conversation was very helpful :) I have a follow-up question: You mention that the default rotations occurs every 46 days, and that it can be changed/controlled by the resource provider. If a user-assigned managed identity is being used by multiple resource providers (e.g. Function App & DevTest Lab), then which resource provider would control the rotation period?

[2020-04-24 00:18] tezzigator opened #53194 "What is max number of network acl entries supported on storage account?"
What is max number of network acl entries supported on storage account?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71b6-77c4-3ab6-8ec9-353ea407d70f
* Content: [Configure Azure Storage firewalls and virtual networks](https://docs.microsoft.com/en-us/a

[2020-04-24 00:19] Karishma-Tiwari-MSFT commented on #53186
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-24 00:20] jakehockey10 commented on #53193
I attempted to use `ContinueWith` to chain on my `Task.WhenAll(tasks)` method is `await`ed, and stop the stopwatch there and return my `BulkOperationResponse`, but I still get the same really small `Elapsed` `TimeSpan` compared to how long I actually wait.  It is almost the exact same 1.5 seconds reported despite taking over 5 minutes.

[2020-04-24 00:20] yinoa commented on #53143
Hi Travis, thanks for update. Could you please set a outbound rule with higher priority to deny all outbound traffic  like "source/port any, dest/port any, deny"?  In our environment, we can see DNS outbound traffic to custom DNS server is still allowed.

[2020-04-24 00:21] MarileeTurscak-MSFT commented on #53167
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 00:36] #52967 closed

[2020-04-24 00:36] #52722 closed

[2020-04-24 00:46] Jaryd1212 opened #53195 "Missing Step for oAuth2"
After registering the application I had to:
Certificates & Secrets -&gt;
New Client Secret -&gt;
Use that Value in Postman Client Secret where this page says to leave blank.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74d0dae2-ed92-bad6-1a97-4fdcda016c07
* Version Independent ID: ec5ca2c6-319a-1af5-eda3-95e84c7fac8d

[2020-04-24 00:54] ningweinw commented on #52735
HI

Very strange, my steps are the same, but I got error at step 3
[image: image.png]
Then I got this error. I tried .azurewebsites.net, the result was the same
[image: image.png]

Best Regards
Ning Wei

On Thu, Apr 23, 2020 at 2:29 PM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2020-04-24 00:56] Mike-Ubezzi-MSFT commented on #52751
@AshishRay Use SQL Server on an Azure VM as the basis for your comparison, as the Azure Stack SQL Provider is a connector to an SQL Server on an Azure VM instance. From the following document, Add hosting servers for the SQL resource provider, the [SQL Server VM images](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers?view=azs-2002#sql-server-

[2020-04-24 00:56] #52751 closed

[2020-04-24 01:00] brucenelson6655 opened #53196 "Encrypt traffic between cluster worker nodes document does not work"
Found typo: "mv $driver_conf ${DB_HOME}/driver/conf/spark-branch.com" should be "mv $driver_conf ${DB_HOME}/driver/conf/spark-branch.conf" upon fixing the typo the script still resulted in errors, crashed cluster.

This init setup worked (using scala) :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5586a3-5c

[2020-04-24 01:02] AndresDevelop opened #53197 "Invoke a direct method from a back-end app not working"
I am trying to invoke a direct method as it's shown below however I always get a 401 error,  the iot hub is
S1 - Standard so It has this feature available. I am able to invoke it from azure iot hub tool in vscode and it works just fine.
Your help is very much appreciated.

![Screen Shot 2020-04-23 at 7 55 21 PM](https://user-images.githubusercontent.com/33887732/80163661-70ad0100-859c-11ea-95fe-c4

[2020-04-24 01:02] ChrisH82 commented on #46294
@stgeorgi I will second that request from @GJTaylor I am happy enough with the actual image management processes for the gold image, of “do it how you usually would, were not going to prescriptive around that” however the existing guidance linked to appears be concentrated around deployment of your prepared new host pool rather than the updating the gold image (or more having updated and uploaded

[2020-04-24 01:03] NavtejSaini-MSFT commented on #52822
@ivanaliptakova Thanks for the elaborate comment.
@markjbrown @timsander1 Please help with this issue. Here everything is working as per design where a default query with composite index included the item with last name not defined is coming first and then all other items coming in ASC order.
Is there a scenario where a query delivers sorting order with item in ASC order and items with last name n

[2020-04-24 01:07] TravisCragg-MSFT commented on #53143
@yinoa Is your custom DNS server inside your Virtual Network or a Network connected via VPN?

[2020-04-24 01:11] gopitk commented on #52722
What makes you think it is invalid json? What is the input format?

[2020-04-24 01:11] david-peden-q2 opened #53198 "Code sample is missing a critical character"
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager#deploy-an-azure-app-configuration-store

Code in Section 3:

[code]

Is missing the `` ` `` continuation after the `-ResourceGroupName` parameter.

It should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0000e043-071

[2020-04-24 01:15] david-peden-q2 commented on #53198
https://github.com/MicrosoftDocs/azure-docs/pull/53199

[2020-04-24 01:19] TarekAljabban opened #53200 "NETCore 3.1.0 is selected but 2.2.7 provided instead"
Following this guide step by step doesn't work.
I can see the sample webpage created but when trying to push my local repo, it fails to deploy because the ASP .NETCore Version on the app container is: 2.2.7. (you can see that from Logs and by SSH to the app container).

I did some troubleshooting and found that running: "az webapp create" even with the --runtime "DOTNETCORE|Lts" creates a containe

[2020-04-24 01:28] TravisCragg-MSFT commented on #53069
@forvaidya This tutorial has been validated and is working as expected. As I have stated before, this is an issue with your specific subscription that is a result of the abnormally high usage Azure has been receiving.

If you would like further assistance in getting this working with your subscription, I would be happy to work with you. Please Email me at AzCommunity@microsoft.com with your subscr

[2020-04-24 01:28] #53069 closed

[2020-04-24 01:44] jahobson75 commented on #53178
Thanks!

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Thursday, April 23, 2020 4:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jason Hobson <Jason.Hobson@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Resizing disks? (#53178)

Closed #53178<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.

[2020-04-24 02:00] VikasPullagura-MSFT commented on #53197
@AndresDevelop  Could you provide the URL of the specific documentation that your feedback is applicable to?

[2020-04-24 02:01] VikasPullagura-MSFT commented on #53192
@uajvi Can you please share the document link you are following.

[2020-04-24 02:05] uajvi commented on #53192
Hello Vikas,

I am following below link

https://docs.microsoft.com/en-us/azure/connectors/connectors-native-recurrence

Thanks,

Ajay

On Thu, Apr 23, 2020 at 9:01 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2020-04-24 02:06] uajvi commented on #53192
Hello Vikas,

I am using below link

https://docs.microsoft.com/en-us/azure/connectors/connectors-native-recurrence

Thanks,

Ajay

On Thu, Apr 23, 2020 at 9:01 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2020-04-24 02:07] Exnav29 opened #53201 "(401) Authorization Required"
Going through the lab I receive a 401 error Authorization required.  I have redone the Event Hub and Twitter application and each time I run the "dotnet run" command it errors out.  Has there been a change the instructions are not including?  Here is the exact error:

 "Sending data eventhub : tweetfeels-eh PartitionCount = 2
System.AggregateException: One or more errors occurred. (The remote serv

[2020-04-24 02:22] AndresDevelop commented on #53197
@VikasPullagura-MSFT Sure, it's this one https://docs.microsoft.com/en-gb/azure/iot-hub/iot-hub-devguide-direct-methods

[2020-04-24 02:29] mtvessel commented on #43390
Hi Dan,

Thanks for the suggestion, but an option to excluding from publishing to
the live factory kind of misses the point.  We already do that by requiring
pull reqs into master.  If I want to prevent something from being published
I just don't approve the PR.  I need to be able to publish whatever I want
to the live factory, but selectively choose what goes into the ARM template
that CI/CD will

[2020-04-24 02:44] chhatley opened #53202 "This page needs content"
I am sent here from the action groups page to figure out how to create a App Registration that can be used for a secure webhook. This page provides no content that supports that and the generic app registration pages are not helpful for this use case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9194b048-5256-685d-85

[2020-04-24 02:47] mike-urnun-msft commented on #53182
Looks like you've already created a PR for it. Thanks @brandonh-msft!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-24 02:47] #53182 closed

[2020-04-24 02:51] Ayanmullick opened #53203 "PowerShell documentation for AzIoT"
Is there PowerShell documentation for connecting a Rasberry Pi to Azure IoT Hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773d535b-29c4-20ca-d260-1d6c20fc43dd
* Version Independent ID: b38b426a-6f56-026c-be29-6aee30586170
* Content: [Connect Raspberry Pi to Azure IoT Hub using C](https://docs.microsoft.com/en-us/

[2020-04-24 03:00] alllohaaa commented on #45817
Remove BOM byte from the beginning of batch file or convert it's encoding to ANSI. BOM treats system to think you use unavailable command.

[2020-04-24 03:30] CHEEKATLAPRADEEP-MSFT commented on #53196
@ Thanks for bringing this to our attention. I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/202](https://github.com/MicrosoftDocs/databricks-pr/pull/202)

@mamccrea Could you please approve the pull request?

[2020-04-24 03:34] basilwong opened #53204 "Alternatives for Implicit FTPS"
If Implicit FTPS is a requirement for sending files over FTP from blob storage to another endpoint, are there any options on Azure for doing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4369690-c09e-893d-3e39-86d5cf283698
* Version Independent ID: 8649c37a-a148-136c-d366-279943e4bbf3
* Content: [Connect to FTP

[2020-04-24 03:36] CHEEKATLAPRADEEP-MSFT commented on #53177
@xyz92  Unfortunately, Azure Data Factory don’t support Azure Cosmos DB (Table API) connector.

![image](https://user-images.githubusercontent.com/44426401/80172463-b0123680-860a-11ea-9efa-284acf3ea170.png)

**Reference:** [ADF - Supported data sources](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats)

I would suggest you to vote up an i

[2020-04-24 03:36] #53177 closed

[2020-04-24 03:39] CHEEKATLAPRADEEP-MSFT commented on #53191
@xyz92  Unfortunately, Azure Data Factory don’t support Azure Cosmos DB (Table API) connector.

![image](https://user-images.githubusercontent.com/44426401/80172463-b0123680-860a-11ea-9efa-284acf3ea170.png)

**Reference:** [ADF - Supported data sources](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats)

I would suggest you to vote up an i

[2020-04-24 03:44] PramodValavala-MSFT commented on #53192
@uajvi Thanks for the question! We will review and get back to you!

[2020-04-24 03:45] VikasPullagura-MSFT commented on #53185
@adammodlin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-24 03:45] VikasPullagura-MSFT commented on #53185
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-04-24 03:45] SwathiDhanwada-MSFT commented on #53142
@dimilider Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-04-24 03:46] PramodValavala-MSFT commented on #53204
@basilwong Thanks for the question! We will review and get back to you!

[2020-04-24 03:47] SwathiDhanwada-MSFT commented on #53190
@eric-camplin Thanks for your comment. We will review the issue and get back to you shortly.

[2020-04-24 03:49] PramodValavala-MSFT commented on #53192
@uajvi Could you share your workflow code for the trigger? Based on the [docs](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#recurrence-trigger), `weekDays` should be under a `schedule` object and based on the error message, I believe you are placing it under `recurrence` itself.

[2020-04-24 03:54] mamccrea commented on #53196
I've approved the PR. Please allow a few days for the changes to go live.

#please-close

[2020-04-24 03:54] #53196 closed

[2020-04-24 03:54] SnehaAgrawal-MSFT commented on #52735
@ningweinw Thanks for the reply! I am not able to see the image you have attached, could you please copy it directly here.

[2020-04-24 04:02] yevster opened #53205 "Missing Java example"
There is no Java example for how to consume the change feed via the MongoDB API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee62ff-7042-a2d2-94d6-69189878aff3
* Version Independent ID: 4dc6fce6-b47a-cc95-ea16-b9e3e3f00c68
* Content: [Change streams in Azure Cosmos DB's API for MongoDB](https://docs.microsoft.com/e

[2020-04-24 04:03] SnehaAgrawal-MSFT commented on #52720
@peachorchid Thanks for the clarification! Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter.

[2020-04-24 04:03] #52720 closed

[2020-04-24 04:14] DashleenBhandari-MSFT commented on #53200
@TarekAljabban Thanks for raising the issue. We will investigate and update you.

[2020-04-24 04:22] Mike-Ubezzi-MSFT commented on #52633
@Cephei Can you confirm the endpoint this test is being run against.

Thanks!

[2020-04-24 04:36] PramodValavala-MSFT commented on #53204
@basilwong While the available connector doesn't support Implicit FTP, it is possible to develop your own service that supports it and use that as a [custom connector](https://docs.microsoft.com/en-us/connectors/custom-connectors/) in your Logic App.

Also, there is an existing feature request to support Implicit FTP that you could up vote for it to gain traction.

[2020-04-24 04:38] Mike-Ubezzi-MSFT commented on #53172
@cp-bwg Thank you for making us aware of this issue. We are investigating and will update this issue when we an understanding of the root cause.

[2020-04-24 04:40] AshokPeddakotla-MSFT commented on #53203
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-24 04:44] Mike-Ubezzi-MSFT commented on #53168
@sgdesmet Thank you for making us aware of this issue. We are investigating and will have an update for you shortly.

[2020-04-24 04:45] sharadrumane commented on #53146
@SQLSourabh i am using Azure SQL Database Edge module from marketPlace.

[2020-04-24 04:45] ChiragMishra-MSFT commented on #52800
@djpmsft Can you please take a look at this?

[2020-04-24 04:46] Mike-Ubezzi-MSFT commented on #53187
@mprentice22153 Thank you for making us aware of this issue. We are evaluating this and will have the documentation corrected as appropriate.

[2020-04-24 04:54] cp-bwg commented on #53172
We found out that it had a "\ in many of the data in the extract. Replace that with null, and it imports fine into the CSV.   That said, it is also not clear how to get multiple dates - only the last day import with this connector by default.  Anything you can add to help with this would be great.

[2020-04-24 04:57] AshokPeddakotla-MSFT commented on #52958
@ShreedharYashoda Yes, you can get the device connection string and then use the IoTHub sdk on the pi as usual.

Follow the steps from the documentation [Get the IoT Hub device connection string from the Management API](https://docs.microsoft.com/en-us/azure/digital-twins/concepts-device-ingress#get-the-iot-hub-device-connection-string-from-the-management-api) for further details.

Hope this answe

[2020-04-24 04:59] Mike-Ubezzi-MSFT commented on #53170
@mauleb Thank you for your inquiry. We are investigating and will update you when we have accurate information to share.

[2020-04-24 05:00] KalyanChanumolu-MSFT commented on #53205
@yevster Thank you for reaching out.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-04-24 05:04] BhargaviAnnadevara-MSFT commented on #53100
@damupras Any update here?

[2020-04-24 05:10] Mike-Ubezzi-MSFT commented on #53193
@jakehockey10 Thank you for providing all the detail. We are reviewing this and will have an update for you shortly unless we have additional questions.

[2020-04-24 05:20] CHEEKATLAPRADEEP-MSFT commented on #53201
@Exnav29 Make sure you have valid grant access to the eventhub.

**Note:** There is a Shared access policies option under for the event hub namespace and for the event hub. Make sure you're working in the context of your event hub, not the overall event hub namespace.

Hope this helps.

[2020-04-24 05:24] SwathiDhanwada-MSFT commented on #53190
@eric-camplin I am bit confused by the question you have asked as it is too vague. I have gone through the document projectName is just another way to name a resource group and it can be used either ways. If possible, can you please elaborate on your request?

[2020-04-24 05:26] KalyanChanumolu-MSFT commented on #52808
@sebhe I have checked the screen both on the public and opt in preview portal and it is same as the screenshot in the documentation

![image](https://user-images.githubusercontent.com/8835012/80177720-1b173980-861a-11ea-9cfa-149dff51231b.png)

If you are seeing anything different, please post a screenshot and let us know.

We will proceed to close this issue now.
If there are further questions reg

[2020-04-24 05:26] #52808 closed

[2020-04-24 05:30] fex commented on #25468
Hi @smakarsky, @smakarsky, @saurbhsh, Date is still wrong...

[2020-04-24 05:36] stgeorgi commented on #46294
To summarize the ask is to have a this is how you update your WVD environment once you have a new image?

[2020-04-24 05:43] neeleshray-msft commented on #53176
@tpeltz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-24 05:44] neeleshray-msft commented on #53202
@chhatley Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-24 05:57] PramodValavala-MSFT commented on #52685
@luis-sanchez-globant Just following up here... Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-24 05:57] #52685 closed

[2020-04-24 06:09] SQLSourabh commented on #53146
@sharadrumane you can use a stream analytics jobs for this. This is described in this article.
https://docs.microsoft.com/en-us/azure/sql-database-edge/stream-analytics

[2020-04-24 06:11] ram-msft commented on #53162
@viju2008 Thanks for the question. We will update you shortly.

[2020-04-24 06:12] ram-msft commented on #53184
@pictoric Thanks for the question. We will update you shortly.

[2020-04-24 06:13] yinoa commented on #53143
Hi Travis, the DNS server is in on-prem environment. You can also check it with public DNS 8.8.8.8 and you will find same behavior.

[2020-04-24 06:15] xinxinzhan opened #53209 "Suggest to add detailed backup and cleanup commands"
Some customers do not know how to backup and clean up the zookeeper data folder. Better to add the detailed command such as "mv /hadoop/zookeeper/version-2 /hadoop/zookeeper/version-2.bk" to help them understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9284e805-9166-4da9-4d8c-8f45d1e8cb10
* Version Independent I

[2020-04-24 06:25] brucenelson6655 commented on #53196
the exact problem is in the following section : https://docs.microsoft.com/en-us/azure/databricks/security/encryption/encrypt-otw#set-the-driver-configuration "Set the Driver Configuraion". It seems in later Databricks clusters, the config ${DB_HOME}/driver/conf/spark-branch.conf has changed and now need to have trailing bracket removed and a block appended. Using (python code) :
[code]

[2020-04-24 06:29] lozanov95 opened #53210 "What will happen if I have more users than licenses in the group"
Hello,

What is going to happen if for example I have a group with 200 users, however I only have 100 licenses available? Which users will be able to use the licensed features? How is it determined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b5

[2020-04-24 06:29] rick-man commented on #52610
Addressed by [PR 112607](https://github.com/MicrosoftDocs/azure-docs-pr/pull/112607) in the azure-docs-pr repo.

[2020-04-24 06:33] Glaubscher commented on #52495
Hi,

Here is a good explanation of the diff connection strings, its a older article but has good info.
https://devblogs.microsoft.com/iotdev/understand-different-connection-strings-in-azure-iot-hub/

very glad you got it working :-)

[2020-04-24 06:36] lisaguthrie commented on #53134
Thanks @upmygit - can you open an issue in our regular App Config issues list, rather than on this doc? That way, it will get the attention of the developers. https://github.com/Azure/AppConfiguration/issues

[2020-04-24 06:38] jonwbstr commented on #51103
Uh, no.. I wanted you to add a reference to the docs page I referenced that
describes how to add the repo. I guess you don't want this document to be
useful in that regard.

That's fine, someone can find this issue and the answer provided here
instead.

I'll even save someone from diving through docs and  put it here for
convenience

If you would like to use the OpenLogic mirrors that are hosted w

[2020-04-24 06:43] SnehaAgrawal-MSFT commented on #53105
@DDFXulei Thanks for asking question! As Gulp 3 is no longer supported by Gulp team, suggest you to upgrade your project to Gulp 4.
Official announcement from Gulp Team on GitHub: https://github.com/gulpjs/gulp/issues/2324#issuecomment-486435312

Also, the temporary workaround to be unblocked immediately is to downgrade to an earlier node while running on hosted vs2017 agent, .E.g., node v10.16.3

[2020-04-24 06:47] manueljesusrd commented on #51230
@kgremban Actually, no 😢 It didn't resolve what I was asking for at the beginning... Is there any news related to the rules that should be open in our client's firewall and are not in your doc?

[2020-04-24 07:00] SumanthMarigowda-MSFT commented on #53152
@jvanzeir Thanks for the question! We are investigating and will update you shortly.

[2020-04-24 07:01] kspoojary opened #53211 "EventGridTrigger supports batch events?"
Is there any support for batch event processing using EventGridTrigger?
 [FunctionName("EventGridTest")]
        public static void EventGridTest([EventGridTrigger]EventGridEvent eventGridEvent, ILogger log)
        {
            log.LogInformation(eventGridEvent.Data.ToString());
        }
In the above function it receives only one event at a time.
when batching is configured on subscription how

[2020-04-24 07:01] VikasPullagura-MSFT commented on #53153
@tomcooperca
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-24 07:01] SumanthMarigowda-MSFT commented on #53194
@tezzigator Thanks for the question! We are investigating and will update you shortly.

[2020-04-24 07:05] PeterUherek commented on #53082
If I dont have a firewall?

[2020-04-24 07:12] lgmorand commented on #47793
Guys, it's been written for six months https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#re-enable-a-disabled-cluster-autoscaler. Name is not obvious I agree <:) (but you read the full page not carefully @poochwashere :)

[2020-04-24 07:20] souravmishra-msft commented on #53139
@philliprenouf, The changes have been pushed out through a PR. The updates to the doc would go live once the PR is approved.

Closing this thread for now.

[2020-04-24 07:20] #53139 closed

[2020-04-24 07:23] CHEEKATLAPRADEEP-MSFT commented on #53209
@xinxinzhan Thanks for bringing this to our attention, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/112608](https://github.com/MicrosoftDocs/azure-docs-pr/pull/112608)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update

[2020-04-24 07:23] #53209 closed

[2020-04-24 07:24] adelwin commented on #38659
So what's the answer for this one.
at the top, the yaml for the DS was mentioned to use `gpu-resources` as the namespace
at the bottom, on output of "get nodes" it shows that the DS is actually in "kube-system"

[2020-04-24 07:25] zhenlan commented on #53134
@upmygit, I am trying to understand the scenario that is broken for you. You were exporting feature flags from one App Configuration store to another store and you saw feature flags that only exist in the destination store changed after the export. Is my understanding correct? If so, can you please give me an example of how it's changed?

[2020-04-24 07:29] infra-jl commented on #46763
Wildcards are not supported:

Reply URL (Assertion Consumer Service URL)
The default reply URL will be the destination in the SAML response for IDP-initiated SSO
https://*.zoom.us/saml/SSO
Wild cards * are not supported.

[2020-04-24 07:31] dohughes-msft commented on #51336
I am seeing this same behaviour on SLES 12.4.

[2020-04-24 07:32] Antse commented on #29361
Hello, i would like to know, in case of using Standard Load Balancer, in front of vmss network security groups are mandatory on vmss nics to allow traffic to the application ?

[2020-04-24 07:38] LeonSweden opened #53212 "Outdated guide"
Step 3 "Register new application" is not available at the Amazon Developer center and therefor it is not possible to use this guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e8f05f-7ae6-d266-bb6f-5adf0fe4f585
* Version Independent ID: faa8058e-7bea-900b-3067-716bdb028bd2
* Content: [Set up sign-up and sign-in w

[2020-04-24 07:50] jiasli opened #53213 "The example JSON should follow the REST spec"
The [example JSON](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#custom-role-example) should follow the [Role Definitions - Create Or Update](https://docs.microsoft.com/en-us/rest/api/authorization/roledefinitions/createorupdate) REST API spec, and also use camelCase, instead of PascalCase.

These properties don't match their REST equivalents:

[code]

The mapping i

[2020-04-24 07:57] ChrisH82 commented on #46294
@stgeorgi Yes, I have just reviewed the documentation again an can't see how to update an existing host pool with a new gold image. It would be useful to have the Microsoft supported/recommended/documented/best practice way of doing it.

Using a search engine not called Bing brings back a number of "approaches" some of which refer to the preview offering before WVD GA'd. I guess the ideal would be

[2020-04-24 07:59] SubhashVasarapu-MSFT commented on #53157
@tsharp , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-24 08:02] SadiqhAhmed-MSFT commented on #53142
@dimilider Your question seems to be more specific to enabling firewall on the storage account and restricting network level access. If I have misunderstood your ask, kindly provide a little more details.

[2020-04-24 08:16] bharav opened #53214 "Hi Team"
I am getting the below issue while using documentation
https://docs.microsoft.com/en-us/powershell/windows-virtual-desktop/overview

WARNING: Source Location 'https://www.powershellgallery.com/api/v2/package/Microsoft.RDInfra.RDPowershell/1.0.1804.100'
 is not valid.
PackageManagement\Install-Package : Package 'Microsoft.RDInfra.RDPowershell' failed to download.
At C:\Program Files\WindowsPowerShe

[2020-04-24 08:18] isamllr opened #53215 "Which replication mode is supported for the preview?"
Since only Canada Central and France Central regions are supported for the preview, is ZRS or LRS a requirement or is it possible to choose any?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a6c1f4-9152-0f5a-b546-6ba9e1e2bf88
* Version Independent ID: 282b084a-8184-29a0-799b-6f3a55dccdc5
* Content: [Filter data by u

[2020-04-24 08:21] rajivkan opened #53216 "found the problem, you have to put the inputclaimstransformation in the same techinal profile as the localizedResources."
found the problem, you have to put the inputclaimstransformation in the same techinal profile as the localizedResources.

_Originally posted by @84618315 in https://github.com/MicrosoftDocs/azure-docs/issues/52349#issuecomment-613391320_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9db8986-3f26-82e2-8985-69f06b74a3f

[2020-04-24 08:24] rajivkan commented on #53216
where exactly we have to put "inputclaimstransformation".. not able to find correct technical profile... can you please share the details for the same.. Thanks.

[2020-04-24 08:30] KrishnaG-MSFT commented on #53102
Interesting! Can you first run the below command to update PowerShellGet.

`Install-Module PowerShellGet –Repository PSGallery –Force`

and then after it's successful execution, run the below command.

`Install-Module Az.Resources -RequiredVersion 1.12.1-preview -AllowPrerelease`

If the above approach resolves your issue then it would be good to consider adding a note regarding the same in the re

[2020-04-24 08:32] KrishnaG-MSFT commented on #53107
Verified and updated the document as required. Thanks.

[2020-04-24 08:32] #53107 closed

[2020-04-24 08:33] KrishnaG-MSFT commented on #53119
@abymsft At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are any questions / feedback regarding referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-04-24 08:33] #53119 closed

[2020-04-24 08:34] robinmanuelthiel opened #53217 "Differentiate between Azure Red Hat OpenShift 3.11 and 4.3"
When this article mentions Azure Red Hat OpenShift, it always refers to version 3.11. With ARO 4.3 many things changes and the customer is now cluster-admin and most of the mentioned restrictions do not apply anymore! Please update to 4.3 or differentiate between these two ARO versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-04-24 08:37] KrishnaG-MSFT commented on #53217
@robinmanuelthiel Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-24 08:38] CHEEKATLAPRADEEP-MSFT commented on #53215
@isamllr  Thanks for the question! We are investigating and will update you shortly.

@normesta Could you please look into the question?

[2020-04-24 08:41] snehithm commented on #16061
Apologies, I didn't realize I still had this. @harelbr who is current owner for this area.

[2020-04-24 08:42] Rockjesse commented on #53008
Any updates?

[2020-04-24 08:54] Peha1906 commented on #46337
After creating the profile and getting the XML file out of it, we have used the Powershell script to import that XML file into the Azure VPN Client. That step is generating an rasphone.pbk file which actually holds the configuration used by client. We have took the content of PBK file (with notepad) and created a Powershell script which is creating PBK file in app's folder instead of XML file. Tha

[2020-04-24 08:55] Rockjesse commented on #53008
Please help to reolve the issue since the trial will be expired next week.

[2020-04-24 08:56] v-pugoe commented on #50722
@ChrisAtMAF I understand the above comment. This is because the Reply URL would have been something like this pattern and thus it worked as expected. We will mention something like this in the reply URL in the tutorial just for understanding- https://<tenant name>.icims.com/<CustomerURL> and the pattern displayed in the azure portal would be the same as https://*.icims.com/*

[2020-04-24 09:01] SwathiDhanwada-MSFT commented on #53147
@jishansiddique Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-04-24 09:04] 84618315 commented on #53216
It is on the techinal profile where you also put the referce to the displaycontrol

does this help?
![image](https://user-images.githubusercontent.com/62284604/80194783-30d92e80-861b-11ea-9336-057477c115e0.png)

[2020-04-24 09:24] michalczerwinski commented on #31771
Still have the same issue for app service linux and Blazor 3.1. What is the status of this one?

[2020-04-24 09:27] stmax82 opened #53219 "Error Handling"
Could you add a description about how the IoT Hub (and other) triggers handle failed functions?

For example the page for [queue storage triggers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp) contains a description how errors are handled:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-24 09:35] t104 opened #53221 ""location" node under "Microsoft.DataFactory/factories/datasets" is missing in Default parameterization template"
The current nodes under "Microsoft.DataFactory/factories/datasets" in Default parameterization template
[code]
"location" node is missing between "typeProperties" and "folderPath".
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-666

[2020-04-24 09:35] michalczerwinski commented on #49245
I still have this issue for Blazor 3.1 and Linux App Service (B1). Can we please reopen or publish some clear recommendation on this one?

[2020-04-24 09:35] Membaer opened #53222 "Update Request: Picturepark Content Platform"
Picturepark has release the Picturepark Content Platform supporting OpenID Connect. The Picturepark DAM SAML integration still stands and is working just fine. How can the new Picturepark Content Platform be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db93166f-7835-1b68-2fd9-9056081f36cd
* Version Independent

[2020-04-24 09:36] MichalKosowski commented on #53102
Hi,

I have exact same issue. Tried your first suggestion and it did not help:

![image](https://user-images.githubusercontent.com/48284314/80198037-d1c9e880-861f-11ea-88fb-3de0f2b4d51d.png)

Will check the second one...

[2020-04-24 09:37] jeevaeastpoint opened #53223 "appRoles - id"
I was trying to add roles to the app where I need to explicitly provide the "id". Assumed that Azure will generate a GUID if the "id" field left empty. Learnt that you need to provide the "id". Could someone add this as notes to relevant section? It could help ignorant users like me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-04-24 09:40] jeevaeastpoint commented on #53223
ha ignore me. I found this info on a different page https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

[2020-04-24 09:43] jmprieur commented on #49182
Addressed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/112613

[2020-04-24 09:45] rajivkan commented on #53216
I followed the instructions from [https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email#optional-localize-your-email]

and I placed inside (see attachment),  what you suggested but now I am getting "**Unable to validate the information provided.**" while validating email Id.
![image](https://user-images.githubusercontent.com/8556984/80198781-36943b80-863e-11ea-8687-b8a0d8ac2047.

[2020-04-24 09:45] stspinu opened #53224 "No Verbose event level"
I think there is a small mistake here - regarding the Level of the alert.

On the docs, it says:
'Level: The severity level of the event (Verbose, Informational, Warning, Error, or Critical).'

I couldn't find any Verbose activity log, in the Azure Portal, the only possible options are Informational, Warning, Error, and Critical.

Therefore, the correct listing should be "(Informational, Warning,

[2020-04-24 09:51] stmax82 opened #53225 "Pricing "vCPU", "execution time""
This issue belongs to the page "https://azure.microsoft.com/en-us/pricing/details/functions/". Posting it here since there's no feedback link.

The pricing page says:

&gt; is billed on a per second basis based on the number of **vCPU**-s

and:

&gt; by the **time in milliseconds it takes to execute** the function

Please define what vCPU means. Does it mean that time is only calculated while a CP

[2020-04-24 10:02] 84618315 commented on #53216
you are missing the reference to the display control, something like this:

<DisplayClaim DisplayControlReferenceId="emailVerificationControl" />

docuement step: https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email#make-a-reference-to-the-displaycontrol

[2020-04-24 10:06] VikasPullagura-MSFT commented on #53214
@bharav Thanks for posting your question.

I just tried installing the modules as administrator and it is working as expected. The [link](https://www.powershellgallery.com/api/v2/package/Microsoft.RDInfra.RDPowershell/1.0.1804.100) that you shared is also accessible.

I think it was some network issue that was causing the problem, can you please retry and check if you are still running into issue.

[2020-04-24 10:12] lasyan3 opened #53226 "SSO not working with Azure AD provider between standard flows and custom policies"
Hi,
I have set a standard user flow using an Azure AD provider which works fine.
I also have set a custom policy also using the same Azure AD provider, with the help of this page.
Both flow work fine, but the SSO is not applied between the two: if I authenticate with the standard flow, the custom policy doesn't recognize it and ask me to authenticate again. And vice-versa.
Thanks.

---
#### Docume

[2020-04-24 10:15] lasyan3 commented on #53226
More details:

- If I create another custom policy using the Azure AD provider, the SSO works fine between the 2 custom policies (but not with the standard flow).
- With local authentication, SSO works fine with **all flows and policies**.

[2020-04-24 10:15] dhulme opened #53227 "Old library and broken link"
This page refers to azure-sb package, but there's a newer @azure/service-bus package. Can/should we use this for notifications?

Also the link to the iOS notification payload documentation does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4435f8-c50c-57a3-c98c-c089b280afec
* Version Independent ID: 545a9f

[2020-04-24 10:17] techadmin1982 opened #53228 "Error in provided scripts - Variable declaration"
The scripts provided won't work on Azure Cloud CLI. After i modified the variables with a $ sign , then it started working. Please correct the scripts as it will certainly waste people's time who are new to Azure CLI and programming.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a106b26c-4d9b-9c83-95e6-72f2f13ff39e
*

[2020-04-24 10:17] VikasPullagura-MSFT commented on #52600
@nelsonflorez11 Please send email with requested details for further troubleshooting the issue.

I will now proceed to close this issue, looking forward for the subscription detail over email.

[2020-04-24 10:17] #52600 closed

[2020-04-24 10:21] PoorviSrivastavaGit commented on #51931
@supmn084
For the latest error log file you have shared:
we are fixing it in the latest packages. Once they are ready you will hear from SujayJDesai.

For the first issue you shared:
I researched and gathered SQL related information. If the TCP/IP settings under general tab has 'Listen All" set to "No" then you will need to configure each IP and Port under IP Addresses tab.
However, if the Listen

[2020-04-24 10:22] LarsWH commented on #52606
My colleague, who is administering our Azure accounts, contacted Microsoft yesterday, and today I can create DB in “West Europe” again.

[2020-04-24 10:28] techadmin1982 commented on #53228
Ok. After some more digging found the modified article.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/convert-disk-storage

[2020-04-24 10:43] VikasPullagura-MSFT commented on #53228
@techadmin1982 Thanks for the Feedback.

The Variable assignment is correct in the first article, you can check that by running in Cloud Shell, I just tested it with all possible variable assignments. All Linux based shells will support this assignment.

![image](https://user-images.githubusercontent.com/48944027/80204249-22ecd300-8646-11ea-9416-e40a90dae3a3.png)

However, we are glad that you men

[2020-04-24 10:43] #53228 closed

[2020-04-24 10:51] jlorek commented on #49245
Like already stated in the first post, this problem seems well known but all issues get closed without providing any solution. Seems a bit strange. @AjayKumar-MSFT any infos about the progress on the fix?

[2020-04-24 10:52] levi106 commented on #51800
@kgremban
Another IoT Edge module running on the same device.

The following is the logs on the blob module side:

x-ms-client-request-id:f892b641-509a-4ea4-b4a4-8dcba120fc46
x-ms-date:Fri, 24 Apr 2020 10:47:31 GMT
x-ms-return-client-request-id:true
x-ms-version:2019-07-07
/samplecontainer/samplecontainer
restype:container'.
   at Microsoft.Cis.Services.Nephos.Common.Authentication.NephosAuthentic

[2020-04-24 10:56] v-nagta commented on #49680
@c3474  We have updated the Doc, please review

#please-close

[2020-04-24 10:56] #49680 closed

[2020-04-24 10:58] KrishnaG-MSFT commented on #53224
@stspinu Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-24 11:00] rnwolf opened #53230 "except ValueError: should be except AttributeError:"
The sample python code for Http Trigger fails when I create a POST with no "name" parameter.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6cd6a0-5364-65e6-b088-cc00093f836f
* Version Independent ID: 3c90d8fb-0fea-3496-e73e-0020ff33adef
* Content: [Azure Functions HTTP trigger](https://docs.microsoft.com/en-

[2020-04-24 11:05] nwipfli opened #53231 "Incorrect pricing"
Hi,

I think there is an error (and maybe others) with the pricing reported by the tool. Under the tab "Cost Estimation" I have added 1 Domain Controller/DNS (cell B25) with a IaaS size (C25) to "Standard_B2s". And the tool tells me that the monthly price for this machine is Frs 0.04 which is impossible. I've extracted the formula "VLOOKUP(C25,Prices!A4:D200,3,FALSE)" and it reports a price of Fsr

[2020-04-24 11:17] mayurigupta13 commented on #53231
Azure calculator is for DR cost of Azure VMs. When you say you added 1 DC, do you mean you did the profiling for 1 VMware VM which was DC?

[2020-04-24 11:22] blessedwithsins opened #53232 "Private IP Address not supporting with Windows Container Instances"
During a troubleshooting session, I found that Windows container instances can't be attached to Private IP Address while creation. Please update the document for same as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8-332e-9ce0-7d80e8a973

[2020-04-24 11:28] rajivkan commented on #53216
I am using urn:com:microsoft:aad:b2c:elements:contract:selfasserted:1.2.0 version. and getting error while using DisplayControls
{
  "message": "An error has occurred.",
  "exceptionMessage": "Validation failed: 1 validation error(s) found in policy \"B2C_1A_COMMON\" of tenant \"barcociamdev.onmicrosoft.com\".Schema validation error found at line 314 col 6 in policy \"B2C_1A_COMMON\" of tenant \"b

[2020-04-24 11:29] VikasPullagura-MSFT commented on #53112
@Bangarraju1005

Azure Key Vault will not replace the old cert that is not a feature, as a work around you can use custom script and periodically delete old certs.

Yes, pollingIntervalInS =3600 is for checking the changes for every 1 hour.

Also, as confirmed by Azure support it is currently not possible to add new certificate into existing key vault through VMSS extension. So you need to uninsta

[2020-04-24 11:29] #53112 closed

[2020-04-24 11:30] VikasPullagura-MSFT commented on #53232
@blessedwithsins
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-24 11:30] VikasPullagura-MSFT commented on #53232
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-04-24 11:34] rpet opened #53233 "tutorial-enable-sspr-writeback : excessive permissions? what about Powershell?"
If I follow the first steps with "Active Directory Users and Computers" (ADUC) to give permissions to Reset passwords and to write on `lockoutTime `and `pwdLastSet` I get a warning about 105 permissions that are going to be added.

It seems that the form loads a number of default permissions that (possibly) are not really needed. Can I unchek all the boxes other than the three relevant ones ?

By

[2020-04-24 11:37] 84618315 commented on #53216
please retake the steps in  de documentation carefully, displaycontrol is added in v2.0.0

https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email#add-datauri-content-definition

[2020-04-24 11:37] AshokPeddakotla-MSFT commented on #53197
@AndresDevelop Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-24 11:38] Madrawn opened #53234 "AppServiceFileAuditLogs on Windows | Supported log types wrong?"
We have several AppServices (Windows-Platform) with AppServiceFileAuditLogs enabled and sending to Application-Insight. We have never seen any results inside AppServiceFileAuditLogs. And last time I checked (4/8/2020) the table "Supported log types" said TBA for Windows and Yes for Linux. Now it is the other way around.
![image](https://user-images.githubusercontent.com/1095756/80208608-df3b9e80-8

[2020-04-24 11:40] BhargaviAnnadevara-MSFT commented on #53198
@david-peden-q2 Thank you for the contribution!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-24 11:40] #53198 closed

[2020-04-24 11:42] mgravell opened #53235 "Client list example is misleading"
The docs here https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-how-to-use-azure-redis-cache give an example that uses `Execute` to get the client list from an `IDatabase`. This should not be encouraged, especially on azure where cluster is quite common. The client list is server specific, and should be fetched via `IServer` via `GetServer`. IIRC it is even wrapped up in a

[2020-04-24 11:46] rajivkan commented on #53216
You are right.. I saw that... can you please refer any link where I will follow the instructions to make it working in  selfasserted:1.2.0 version...  Thanks.

[2020-04-24 11:46] patrickjlee opened #53236 "This page is out of date?"
This page looks very out of date, it refers to Microsoft.Azure.Storage.Blob and common, rather than the newer Azure.Storage.Blobs packages?
Please would you update it?
I must repeat my frustration (expressed elsewhere) at how difficult it seems to be to get good, simple, working code examples from Microsoft to connect to Azure Storage securely in a way that is consistent with connecting to Azure S

[2020-04-24 11:48] 84618315 commented on #53216
don't think it is possible in v1.2 because display control gets added in v2.0

[2020-04-24 11:50] mrmueller commented on #51604
Can confirm. With some providers, you have to leave the name field empty and if you enter "@" they wont accept.

[2020-04-24 11:50] balukantu opened #53237 "Azure App Configuration: Dynamic Configuration"
Hi Team,

I configured the azure app configuration in my project. I would like to get the latest configuration values without deploying the changes.
So, I have configured my application using IOptionSnapshot and it is not giving the latest updated values. However, the middleware configuration is working without any issues.

As per the [documentation](https://docs.microsoft.com/en-us/azure/azure-ap

[2020-04-24 11:52] rajivkan commented on #53216
The requirement is to do localized string for custom email template.. and we use sendgrid to send an email.

[2020-04-24 11:54] jmprieur commented on #49490
FIxed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/112615

[2020-04-24 11:54] patrickjlee commented on #52236
@tamram Sorry, but I don't find your response helpful at all.  You should be concerned that a customer is expressing frustration at how inconsistent accessing Azure resources with managed identity seems to be across Azure Storage, SQL and KeyVault, and how useless your proposed approach (using Environment variables: if one wants to do this for 10 different apps, then that is a lot of Environment v

[2020-04-24 12:07] efraimnewman commented on #52932
The issue was solved [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/594).

[2020-04-24 12:07] #52932 closed

[2020-04-24 12:09] bharav commented on #53214
Not sure if I am missing anything. But still i am getting the same issue both from my machine and azure vm
PS C:\> Install-Module -Name Microsoft.RDInfra.RDPowerShell

Untrusted repository
You are installing the modules from an untrusted repository. If you trust this repository, change its
InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to install the modules

[2020-04-24 12:14] jmprieur commented on #51220
@smkrjlnn :
access to controls should be guarded by a `Dispatcher.Invoke` section like in:

[code]

Can you please tell us more about the exception? (a call stack?). Looking at the code everything seems guarded. Did yo modify the code and add things outside a dispatcher section?

[2020-04-24 12:18] jmprieur commented on #51992
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/112615

[2020-04-24 12:23] SnehaAgrawal-MSFT commented on #53234
@Madrawn Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-24 12:25] SnehaAgrawal-MSFT commented on #52812
@hire-him We will close this out but if you feel you need more information please just let us know.

[2020-04-24 12:25] #52812 closed

[2020-04-24 12:38] ningweinw commented on #52735
Hi, I reattached the screenshots

Best Regards
Ning Wei

On Fri, Apr 24, 2020 at 11:54 AM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2020-04-24 12:39] DixitArora-MSFT commented on #53225
Hi @stmax82 Thanks for your feedback. We will review and update as appropriate.

[2020-04-24 12:39] nwipfli commented on #53231
The Excel spreadsheet generated by the Deployment Planning allows you to add a permanent IaaS VM as a Domain Controller. This is in the cell B25 of this spreadsheet. However, the prices used for this VM seems to be incorrect. Please generate a spreadsheet and look at the result by yourself, you will see.

[2020-04-24 12:41] nwipfli commented on #53231
BTW I also discussed this with a Microsoft employee while demonstrating this via a Teams session and he said that there is effectively something that looks wrong.

[2020-04-24 12:41] KaleabTessera commented on #19317
Why is this issue closed? I have the same problem. Why do I need a username and password? Why can't I just use an access key?

[2020-04-24 12:41] DixitArora-MSFT commented on #53219
Hi @stmax82 Thanks for your feedback. We will review and update as appropriate.

[2020-04-24 12:42] DixitArora-MSFT commented on #53211
Hi @kspoojary Thanks for reaching out. We will review and update as appropriate.

[2020-04-24 12:43] DixitArora-MSFT commented on #53230
Hi @rnwolf Thanks for reaching out. We will review and update as appropriate.

[2020-04-24 12:45] foramkumar-parekh opened #53238 "AD with OpenID - The provided token does not contain a valid issuer"
I am setting up custom policy to login with one of my Azure tenant's AD.

I followed the steps mentioned in [Doc here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-microsoft-account-custom?tabs=applications).

After the setup, I am getting

Below is the claims provider I have added.

     <ClaimsProvider>
      <Domain>*** TENANT_NAME.net **</Domain>
      <Display

[2020-04-24 12:55] MikkelHegn commented on #41694
Hi all,

We current have an issue, which causes the provisioning script to try and download scripts from GitHub. If this is blocked, it will prevent the provisioning of the nodes to succeed.

You'll have to open access to the following fqdn's and ports:
- github.com on 443
- raw.githubusercontent.com on 443

[2020-04-24 12:55] SwathiDhanwada-MSFT commented on #53195
@Jaryd1212 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-04-24 12:55] BarnumD opened #53241 "Cannot find service settings"
I don't see "service settings" on the "Multi-Factor Authentication" page.  Has the page changed?  Am I missing permissions to see it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-8670-fd0d-2524-01305ccff2a1
* Version Independent ID: 0849b4a9-ff14-1d61-47f2-a2daecf3cde9
* Content: [Deployment considerations f

[2020-04-24 12:56] SwathiDhanwada-MSFT commented on #53213
@jiasli Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-04-24 13:05] MikkelHegn commented on #41694
For reference: https://github.com/Azure/aks-engine/issues/3139

[2020-04-24 13:06] VikasPullagura-MSFT commented on #53214
@bharav
It could be due to the TLS version issues, can you please check related issues and try the suggestions:
https://devblogs.microsoft.com/powershell/powershell-gallery-tls-support/

https://stackoverflow.com/questions/55826791/powershell-installing-nuget-says-unable-to-access-internet-but-i-actually-can

https://github.com/Azure/azure-powershell/issues/9687

[2020-04-24 13:07] jmprieur commented on #53202
@chhatley: do you have some documenation about secure web hooks? is it related to Microsoft web hooks? what is it? (i'm not familar with them)

[2020-04-24 13:11] DeanGross opened #53242 "Azure AD Resources"
Please provide a detailed listing of the Azure AD resources that can be contained in an AU. This will help us understand the capabilities and limitations of this new tool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11702e8d-98ba-b314-13cf-4c27963dcafd
* Version Independent ID: 9d2cb191-a0c7-abee-36ba-1f4079d357bd
*

[2020-04-24 13:11] dckfnuance commented on #52473
Can we get an update on this please?

[2020-04-24 13:18] chhatley commented on #53202
I do not have any specific documentation for it. It is an action for an Action Group that allows you to send notifications or payloads from Azure. The Secure Webhook enables you to use AAD/App Registration to secure the connection. I think the issue is that it generically shoots you to this page which doesn't have content specifically tailored to secure webhooks. Very confusing if you are trying t

[2020-04-24 13:18] chhatley commented on #53202
Curious if there are any plans to add this content or who would be responsible for authoring it.

[2020-04-24 13:18] MGoedtel commented on #53217
@robinmanuelthiel - As the documentation reflects, we only support Az Red Hat OpenShift v3 and we are presently working on introducing support for version 4.x.  This will be released shortly, so when that happens, the documentation will be released in cadence with the changes to this Insight. This includes a number of updates to the article for scraping metrics with Prometheus.  #please-close

[2020-04-24 13:18] #53217 closed

[2020-04-24 13:19] KrishnaG-MSFT commented on #53140
@kgopi1 Thanks for the valuable 'produce feedback' or in other words 'product feature request'. I recommend you to raise feature request under this https://feedback.azure.com/forums/919477-azure-service-health UserVoice / feedback forum. Responsible product / feature team would triage / start checking feasibility and would prioritize the feedback.

Just FYI, going forward if you want to share any

[2020-04-24 13:19] rpet commented on #53233
Here is a screenshot of the aforementioned warning:

![ADUC-warning-2020-04-24 151736](https://user-images.githubusercontent.com/2404067/80216788-e2d62200-863e-11ea-86e1-fdf3e1d29e39.png)

[2020-04-24 13:21] KrishnaG-MSFT commented on #53140
@kgopi1 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.)

At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are

[2020-04-24 13:21] #53140 closed

[2020-04-24 13:23] KrishnaG-MSFT commented on #53136
@Vegas588 The next version of the Log Analytics Linux agent will bring support to RedHat 8. It is planned that the agent will be released in May.

[2020-04-24 13:24] amanmcse commented on #52907
@ms-yuukih Thank you for pointing this out. You are right, since $myCreds contains both username and password, we don't need to pass the username by using -UserPrincipalName  switch. I will update the document and this issue will be closed automatically during the merger.

[2020-04-24 13:28] rpet opened #53243 "tutorial-enable-sspr-writeback : permissions: what about password change permission?"
Taken from step 7 at the beginning of the tutorial:

However in the screenshot in step 8 it is shown that the "change password" permission is checked. Also please note that step 7 talks about "options" (in plural), but only one is especified.

Do I have to set both permissions? (password change and password reset)

---
#### Detalles do documento

⚠ *Non editar esta sección. É obrigatorio para docs

[2020-04-24 13:31] NavtejSaini-MSFT commented on #53082
@yegu-ms Can you add clarity here and check if this can be added to the document.
@PeterUherek We are checking this with our Doc author for further update.

[2020-04-24 13:33] #52907 closed

[2020-04-24 13:34] nfpiche opened #53244 "Can this verification page be temporary?"
Do I need to have the verification page up forever, or can I just put it up to get verified and then take it down?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61edea45-b5d6-05b3-33c3-2265ef8cb309
* Version Independent ID: c7d5813c-5cf1-44c3-88ff-3c194d3e44ad
* Content: [Configure an app's publisher domain - Microsof

[2020-04-24 13:35] jvannor opened #53245 "Case wrong in bash script"
There's a bug in the bash script that checks DNS configuration.  The script says, "--query "primaryEndpoints.File"", but based on my tests, it should be, "--query "primaryEndpoints.file"".  (Notice the F in file should be lowercase.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87a52dac-048f-2a4d-b857-cb91b9534cf5
*

[2020-04-24 13:35] amanmcse commented on #52535
@sgdesmet Please let me know if you have any question or shall we close the thread.

[2020-04-24 13:37] sowsan opened #53246 "Kubenet vs Azure CNI and maxium number of nodes"
I think this document should be updated to reflect the Azure CNI / Kubenet

Maximum nodes per cluster with Virtual Machine Scale Sets and Standard Load Balancer SKU

With Kubenet = 400 nodes / AKS cluster
With Azure CNI = 1000 nodes / AKS cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6-a06d-9bc4-fef6-6e

[2020-04-24 13:41] Vegas588 commented on #53136
that's good news. Thanks.

[2020-04-24 13:41] #53136 closed

[2020-04-24 13:43] sgdesmet commented on #52535
Hello @amanmcse based on your reply, it seems that the example I gave should work? However this does not seem to be the case. Do `ExternalLoginSSOSessionProvider` session management TPs also repopulate the session before executing the orchestration step?

[2020-04-24 13:47] uajvi commented on #53192
Hello below was my json, please let me know where should I add
On these days
On these Hours
Like the below document:
https://docs.microsoft.com/en-us/azure/connectors/connectors-native-recurrence

{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Queue_a_new_build":

[2020-04-24 13:50] ktleach commented on #45582
@mike-urnun-msft
Any feedback on this?  we have several clients that are looking to get the rewrites working with Azure AD auth.

[2020-04-24 13:51] ktleach commented on #45582
@shibinchandra
Did you ever find a working solution?

[2020-04-24 13:51] hire-him commented on #52812
I am not sure if this is problem with my subscription but I could not
complete any tutorial successfully

Pathetic

I will have decide if exploring azure or be with AWS / GCP

Cn you check what is wrong with my subscription; user name is
hire.him@gmail.com

On Fri, 24 Apr 2020 at 5:55 PM, SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2020-04-24 13:54] Mrchief85 commented on #49481
We managed to make this work by following the documentation below:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-overview
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-dns#using-the-azure-files-hybrid-module-to-configure-dns-forwarding
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-dns#confirm-dns-forwar

[2020-04-24 14:02] fauzanooor opened #53247 "Cannot Find disablesxsstackrc.ps1 file"
I'm not seeing any download link for disablesxsstackrc.ps1 file, or path that showing on that particular file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a53ee0-7057-8bd1-79d3-1af1bf4f4579
* Version Independent ID: 36022099-424e-db24-ce9e-637ad39e9f77
* Content: [Troubleshoot Windows Virtual Desktop session host -

[2020-04-24 14:10] glteache opened #53248 "Insufficient permissions to join domain error"
There's a closed issue regarding this that I responded on(https://github.com/MicrosoftDocs/azure-docs/issues/8028), posting this here since it looks like that issue is no longer being watched.

Following the outlined steps, this error is misleading on what's wrong.
! Insufficient permissions to join the domain
realm: Couldn't join realm: Insufficient permissions to join the domain

To successfully

[2020-04-24 14:25] jamcguire commented on #52442
Hi there, I'm having an issue with the ARM file as well.

It fails deployment, it creates the automation account, creates the workspace, links the automation account with the workspace.  All successfully.

Finally it tries to perform some sort of update on the automation account which appears in the deployment list as "Updates(workspacename)" and returns an error "Not Found" and "Bad Request".  It

[2020-04-24 14:27] jamcguire opened #53249 "ARM template not successfully deploying"
Hi there, I'm having an issue with the ARM file on this page.

It fails deployment, it creates the automation account, creates the workspace, links the automation account with the workspace. All successfully.

Finally it tries to perform some sort of update on the automation account which appears in the deployment list as "Updates(workspacename)" and returns an error "Not Found" and "Bad Request".

[2020-04-24 14:39] stijnbrouwers opened #53250 "oAuth2 doesn't seem to be applied"
I have following scenario: I have an API Management on TenantA and want users to authenticate against TenantB. I have created the backend-app and client-app both on TenantB. Then, I provided all values in the API Management, Security &gt; OAuth 2.0
Next, I selected the server for OAuth2 security in my API.

"Successfully call the API from the developer portal" section, step 2 mentions that now the

[2020-04-24 14:46] ncheymol opened #53252 "Configuration Manager multi-session support"
Configuration Manager only supports multi-session starting version 1910,  1906 only supports partially Windows 10 multi-session
https://docs.microsoft.com/en-us/mem/configmgr/core/plan-design/changes/whats-new-in-version-1910#enable-user-policy-for-windows-10-enterprise-multi-session

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-04-24 14:48] ecfan commented on #53192
Hi @uajvi, the options to specify `weekDays` and `hours` are available only when you use these `frequency` values:

* `weekDays`: Set `frequency` to `week`.
* `hours`: Set `frequency` to `day` or `week`.

Looks like your Recurrence trigger uses `minute` as the `frequency`, thus the error. Here's the syntax for the Recurrence trigger:

https://docs.microsoft.com/azure/logic-apps/logic-apps-workflow

[2020-04-24 14:49] pannikbutton opened #53253 "Description for Bypass Cache behaviour for Cache Expiration action is inaccurate when using global rule"
The description reads "when this option is selected and the rule matches, the content is not cached." The content is, in fact, cached when adding this action to the global rule.
More details here: https://docs.microsoft.com/answers/questions/23956/action-in-azure-cdn-rules-engine-to-bypass-cache-w.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-24 14:53] stijnbrouwers commented on #53250
UPDATE:
I got it to work by changing the JWT validation policy.
<claim name="aud">
   <value>{Application ID of backend-app}</value>
</claim>
should be replaced with
<audiences>
   <audience>{Application ID of backend-app}</audience>
</audiences>

The Authorization header still doesn't appear in the developer portal though...

[2020-04-24 14:58] kosinsky opened #53255 "Updating HDInisght configuration files"
Could these configuration files be updated in the same way as they initially set? For example, if I apply ARM template with modified configuration settings will configuration files be updated?

Is it any way to update these settings via Azure APIs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096913ec-b990-0da5-4be4-

[2020-04-24 14:59] Ayanmullick opened #53256 "Existing workspace to deploy agents"
Is there a way to configure Security Center so that it uses the existing connected workspace and not an additionally created Default Workspace to deploy agents on VM's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52631c70-1c13-324f-29db-23d80f756e47
* Version Independent ID: f8f06c19-4bf7-7ede-12f0-e3867c6cd889
* Co

[2020-04-24 15:02] ShreedharYashoda commented on #52958
@AshokPeddakotla-MSFT Thanks for the response.
I got little confused while following https://docs.microsoft.com/en-us/azure/digital-twins/concepts-device-ingress
That should **I use IoTHub sdk or Azure IoT device sdk to send data from raspberry pi to Digital twin using SendEventAsync or  SendEventBatchAsync call..??**
And either ways are there any documents to follow how to implement the same..?
T

[2020-04-24 15:04] uajvi commented on #53192
Thanks a lot Ecfan, its helpful

[2020-04-24 15:14] vipulsparsh commented on #52775
@memildin Can you please look into this ?

[2020-04-24 15:16] SaurabhSharma-MSFT commented on #53212
@LeonSweden Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:18] SaurabhSharma-MSFT commented on #53256
@Ayanmullick Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:20] curtand commented on #53028
Hi @jayendranarumugam
I'm the writer for Privileged Identity Management. I'll huddle with my PMs and get this corrected. Thanks for your help! I'll add how you can get  to  the reviews to this issue as soon as I find out.

[2020-04-24 15:20] SaurabhSharma-MSFT commented on #53216
@rajivkan Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:21] SaurabhSharma-MSFT commented on #53222
@Membaer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-24 15:22] wildky commented on #52806
@RobMcZagBDS your issue and frustration around quoting (and lack of documentation) sounds very similar to mine. I haven't cracked the case on how to pass a string parameter from a pipeline to data flow using a pipeline expression. The documentation is confusing on this too.

In my case, the parameters being sent from pipeline to data flow look correct in the json input to the data flow, but the da

[2020-04-24 15:22] SaurabhSharma-MSFT commented on #53223
@jeevaeastpoint Good to hear.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-24 15:22] #53223 closed

[2020-04-24 15:23] SaurabhSharma-MSFT commented on #53226
@lasyan3 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:24] AdminTurnedDevOps opened #53257 "az acr build requored <SOURCE_LOCATION> parameter"
Per the documentation, `<SOURCE_LOCATION>` is not a required parameter, but what I can see in my output (per the screenshot attached), it definitely is. Can that be fixed in the docs?

https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build

![image](https://user-images.githubusercontent.com/28905827/80229234-210f1980-861e-11ea-99c9-ab2ce01804be.png)

---
#### Document De

[2020-04-24 15:24] #53060 closed

[2020-04-24 15:25] SaurabhSharma-MSFT commented on #53242
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-24 15:26] djpmsft commented on #52800
Hi @RobMcZagBDS ,

You are correct that the documentation is a bit out of date with this topic. Pipelines (which are based upon logic apps) and Data Flows (which are built on Spark) are differing pipeline languages without 1:1 equivalent. What we allow for types that don't exist are the evaluation of them verbatim within dataflow. Say you have a timestamp column 'date-time' in your data. If you pa

[2020-04-24 15:27] SaurabhSharma-MSFT commented on #53248
@glteache Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-24 15:28] SaurabhSharma-MSFT commented on #53244
@nfpiche Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:28] djpmsft commented on #52800
As we have an open doc item, I am going to go ahead and close this issue. Hoping to get to it next week

#please-close

[2020-04-24 15:28] #52800 closed

[2020-04-24 15:29] SaurabhSharma-MSFT commented on #53241
@BarnumD Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:30] SaurabhSharma-MSFT commented on #53243
@rpet Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:30] SaurabhSharma-MSFT commented on #53233
@rpet Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:30] AdminTurnedDevOps commented on #53257
Also - it states that I need that parameter, but it's not a real parameter. Any way around this?

![image](https://user-images.githubusercontent.com/28905827/80229851-0e491480-861f-11ea-82b1-40f305fe2b77.png)

[2020-04-24 15:31] GiftA-MSFT commented on #52722
@jpe316 please do you have any additional reference?

[2020-04-24 15:31] RonnieQuan opened #53259 "Query Editor and SQL Server Private Link"
I'm looking for information regarding query editor, does it support to connect to private endpoint sql database?
If yes, what configuration need to be done? if no, when the feature will be added?

I tested in my environment, once I configure my sql server with private endpoint, not able to connect from Azure portal query editor anymore.

Thank you!

---
#### Document Details

⚠ *Do not edit this s

[2020-04-24 15:31] SaurabhSharma-MSFT commented on #53210
@lozanov95 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 15:32] RonnieQuan opened #53260 "Query Editor and SQL Server Private Endpoint"
I'm looking for information regarding query editor, does it support to connect to private endpoint sql database?
If yes, what configuration need to be done? if no, when the feature will be added?

I tested in my environment, once I configure my sql server with private endpoint, not able to connect from Azure portal query editor anymore.

Thank you!

---
#### Document Details

⚠ *Do not edit this s

[2020-04-24 15:36] ii-batman commented on #33638
@MarileeTurscak-MSFT @swiftPeter @ZaherButt  @PRMerger13  @PRMerger17
So guys... where do we stay with this? I am not going to build a machine on-prem just to hold the PTA agent - and my DC is a Tier1 machine... Can we have some clarity on this please?
Many thanks to all.

[2020-04-24 15:37] NowinskiK commented on #43390
Hey Dan. Appreciate you follow this thread.
Agree with @mtvessel. "Exclude" property shouldn't be present in ADF itself. It should be an option for deployment. Please take a look at how it works for database projects (DACPAC). When you compile database project with SSDT in VS - there is a DACPAC file as a output. This is your BUILD Image.
Then with `sqlpackage.exe` application, you can deploy to s

[2020-04-24 15:38] osteel commented on #29884
Hi,

I'm running into some issues as well. Here's the error log:

[code]

Looks like `sshd_config` could use an update :)

Thanks,

Yannick

[2020-04-24 15:38] upmygit commented on #53134
@lisaguthrie, @zhenlan - I have opened an issue with more informatie (nice table layout)

[2020-04-24 15:46] emshimon opened #53262 "The link is wrong"
The link of CREATE CERTIFICATE is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b7218e8-a8de-4d10-0a6f-143180e024d1
* Version Independent ID: cb2b90ac-6211-d1ae-8129-9f54ff9402b4
* Content: [T-SQL statements - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/

[2020-04-24 15:48] abhirockzz opened #53263 "Is this a recommended SDK?"
Note on GitHub *"The implementation in this project is intended for reference purpose only."*
(https://github.com/Azure/azure-documentdb-java#disclaimer)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c3a450f-817b-2e71-3417-643517321d1f
* Version Independent ID: 32758837-5c8f-2cd6-0c16-15878c050f9f
* Content: [Azure C

[2020-04-24 15:48] MarcLaf opened #53264 "SSO doesn't appear to work with new Edge Chromium"
The configuration works great when using Chrome to sign in via SSO but when using the new Edge Chromium, you receive an error on the Jamf page that says Single Sign-On Error. An error occurred while processing your Single Sign-On Request. Contact your administrator for assistance.

I'm not sure if the real error exists on Jamf side or Azure side (or if it's just Edge Chromium acting strange).

---

[2020-04-24 15:58] SaurabhSharma-MSFT commented on #52821
@alex-mason-jdas Thanks for your feedback. I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-04-24 15:58] iainfoulds commented on #53248
The document has already been updated based on a separate public PR to include setting `rdns=false` if an error is encountered during join. It gets hard to note every possible situation that could require this setting, but in future reviews of the doc we can see if it make sense to specify additional troubleshooting that could include such errors.

For now, #please-close

[2020-04-24 15:58] #53248 closed

[2020-04-24 16:00] mimckitt commented on #51103
@jonwbstr does that apply to both the CentOS 6 and 7 sections?

[2020-04-24 16:03] NavtejSaini-MSFT commented on #53259
@RonnieQuan This issue will be worked here - https://github.com/MicrosoftDocs/azure-docs/issues/53260
We are closing this as duplicate.

[2020-04-24 16:07] mmacy commented on #42720
#reassign:jmprieur per 4/24 doc sync

[2020-04-24 16:08] SaurabhSharma-MSFT commented on #53151
@mdaslamansari I suggest you to please reach to tmtextsupport[at]microsoft[dot]com with your complete scenario and some one will help you on that.

[2020-04-24 16:09] eric-camplin commented on #53190
Sorry, to clarify, this document states "The template used in this tutorial is similar to the template used in the tutorial about Quickstart. **If you are interested in creating the template, you can go through that tutorial.**"  but the previous template does not include projectName.  I am suggesting that the bolded is incorrect.  The previous project resulting template will not work for this tut

[2020-04-24 16:11] curtand commented on #53028
Hi @jayendranarumugam
I looks from you pictures that in the second instance you're in the wrong place. The breadcrumb trail shouldn't say "Identity governance | Access reviews > Create an access revew." It should say Privileged Identity Management: There ARE governance access reviews also, but those are not the subject of the PIM article. I'll add a sentence to make that clear.
![image](https://us

[2020-04-24 16:11] Falven opened #53265 "Missing AKV SDK's"
You are missing a plethora of supported Key Vault SDK references on this page.
The one I was searching for is [this Ruby SDK](https://github.com/Azure/azure-sdk-for-ruby).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcba3146-83d6-fea9-78ca-d75df31a7d8a
* Version Independent ID: 34472edb-c5bf-d751-e5f0-70f7ab2a6c02
*

[2020-04-24 16:12] ealsur commented on #53193
@jakehockey10 Does the operation complete even though it might report 1.5 seconds?

Can you share how are you generating the list of Tasks?

[2020-04-24 16:13] osteel commented on #29884
Right. For those ending up on this thread looking for answers regarding SSH (like I did), you want to look at this other App Service tutorial instead: https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-container#enable-ssh

Don't hesitate to browse the sample repository as well: https://github.com/Azure-App-Service/node/tree/master/10.14

Look for SSH-related stuff in t

[2020-04-24 16:15] jakehockey10 commented on #53193
@Mike-Ubezzi-MSFT it looks like `Stopwatch.StartNew()` isn't being called until the majority of the work is being done.

[2020-04-24 16:16] jakehockey10 commented on #53193
@ealsur my middle code snippet shows how the tasks are being generated

[2020-04-24 16:17] basilwong commented on #53204
Would it be possible to implement Implicit FTP connector using Azure Functions?

[2020-04-24 16:18] jakehockey10 commented on #53193
@ealsur I think my code is basically verbatim with the example in the link I provided at the top

[2020-04-24 16:19] Licantrop0 commented on #49182
@jmprieur the link is 404

[2020-04-24 16:20] ealsur commented on #53193
This might be a race condition on resources of the machine.

Technically speaking, the code creates a list of Tasks, it does not await them, and then starts the Stopwatch. So it should just move forward and start the stop watch, it should not wait for any of those Tasks. That being said, maybe the resources are not high enough to handle the volume of Tasks and it is preempting code execution, so i

[2020-04-24 16:22] x3nc0n commented on #25249
@hemantpro, in the time since this issue was closed, Microsoft announced a BGP community for Azure AD.

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing#service-to-bgp-community-value

You can use this community over an ExpressRoute with Microsoft peering setup to access Azure AD over the ExpressRoute circuit. #please-close

[2020-04-24 16:22] SaurabhSharma-MSFT commented on #52845
@bleek00 No, you cannot disable it for Cloud-only users however you can enable or disable for an on-premises active directory users by going to the Authentication methods blade on Azure portal.
![image](https://user-images.githubusercontent.com/38112130/80234428-03858400-860d-11ea-8fce-5aa4a4b8b1f8.png)

[2020-04-24 16:22] jonwbstr commented on #51103
Hi Micah,
The complete instructions for adding the Repo for CentOS 6 and 7+ are at the following links. I shared the parent article earlier.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-centos#centos-70
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-centos#centos-6x

You will notice the section they are part of is about uploading an image

[2020-04-24 16:24] MarileeTurscak-MSFT commented on #53181
From my understanding they will be prompted for MFA if they previously registered, but will need to confirm their methods before they get access.

In conditional access, if you have "block access" selected then this will apply the conditions on already registered users updating registration information. However, if you have "grant control" set to "require multi-factor authentication", these users

[2020-04-24 16:24] #53181 closed

[2020-04-24 16:24] markjbrown commented on #53156
@guythetechie we have support for creating a Free Tier Cosmos DB account via ARM Template.

Please see this GIST below. Will look to post this as an official sample in an upcoming update.
https://gist.github.com/markjbrown/03d3640a2d915f5899b84e5927e4e589

Thanks.

#please-close

[2020-04-24 16:24] #53156 closed

[2020-04-24 16:26] jakehockey10 commented on #53193
Which resources could possibly be causing this on my machine?  I have a pretty new i7 processer and 64 GB of RAM?

The Cosmos DB Emulator I'm "talking" to has "rate limiting" turned on.  I'm changing my throughput to a higher throughput before running my ETL and restoring it to my default after.

[2020-04-24 16:28] djpmsft commented on #53221
Hey @t104 ,

While for many datasets, the filepath is a subset of the location field, we also have many that are still using the format stated Keep in mind that '=' just keeps the current value and doesn't generate an ARM parameter. This is just a default template to help you get started with custom parameters so edit this according to whatever configurations you have!

Thanks,
Daniel

#please-clo

[2020-04-24 16:28] #53221 closed

[2020-04-24 16:28] mimckitt commented on #51103
Thanks for all that! I will work with some other members of my team to find the best option to update all this and get working on it. Appreciate all the feedback :)

[2020-04-24 16:30] curtand commented on #51050
Hi @vinayakdshenoy
I'm the writer for Azure AD groups. It's kind of a good news/bad news situation. The bad news is that Azure AD Connect being able to sync more than 50,000 objects per AD domain does not imply that it can sync more that 50K members in a group, and that's not yet possible. However, the good noews is that there's a private preview currently in progress to raise this limit to 250K.

[2020-04-24 16:30] #51050 closed

[2020-04-24 16:32] ealsur commented on #53193
Ok, something is wrong with the extension samples, for some reason the main thread continues while some tasks are still in progress. Will update this thread and update the code once I fix it.

[2020-04-24 16:36] jakehockey10 commented on #53193
Great thank you @ealsur

[2020-04-24 16:39] MarileeTurscak-MSFT commented on #53243
Hi @rpet,

Thanks. I believe this is an error in the article because all other documentation indicates that you need to set both.

This is outlined [here](https://github.com/uglide/azure-content/blob/master/articles/active-directory/active-directory-passwords-getting-started.md):

And in the troubleshooting guide for SSPR, it's stated that one of the reasons for SSPR failure is when users don't ha

[2020-04-24 16:39] #53243 closed

[2020-04-24 16:44] djpmsft commented on #43390
Thanks for responding so quickly! The need is clear and hopefully we can think of some ways for this be well integrated within the tool itself.

[2020-04-24 16:47] MarileeTurscak-MSFT commented on #53233
I have reached out to the product team to ask if you need those extra permissions. My guess is that, like you said, they're just default permissions that you can uncheck.

But I've reached out to the product team to confirm.

[2020-04-24 16:47] ermacia91 commented on #52745
At that point, it is a good idea to engage support.

[2020-04-24 16:48] Cephei commented on #52633
Yep, 100% sure I'm using 3.6.

[2020-04-24 16:49] MarileeTurscak-MSFT commented on #50692
I agree with you and was able to reproduce this issue in my own lab. I think it's an issue with the product and have reported this to the product team. It appears to be a bug and I am hoping they can deploy a fix. It doesn't make a lot of sense to have this role without being able to apply it at the resource level.

[2020-04-24 16:52] djpmsft commented on #43390
Regarding the initoal post:

- The stance on deployment requirements needs to change, either by modifying the existing CI/CD process to be more functional or by providing another avenue for deploying objects.
[Dan]: We are think of ways to improve
- The PowerShell and Data Factory product teams need to work more closely together to ensure 100% compatibility.
[Dan] We consistently update the pre/po

[2020-04-24 16:52] Mike-Ubezzi-MSFT commented on #53235
@mgravell Thank you for bringing this to our attention. I am going to have the content author review this suggestion and update the documentation as appropriate.

[2020-04-24 16:55] mossywell opened #53266 "Clarification needed re the NTFS permissions on the root folder"
1. "Azure Files supports the full set of NTFS basic and advanced permissions" --&gt; "Except for the root folder restrictions listed below, Azure Files support [etc]". Reason for suggestion: Azure doesn't support the full set on the root folder.
2. "The following sets of permissions are supported" --&gt; "Only the following sets of permissions are supported". This makes it clear that attempting to

[2020-04-24 17:00] jpb501 commented on #53017
When I mentioned
 Get-AzureADMSPrivilegedRoleAssignment -ProviderId $Provider -ResourceId
$AzureADRef | where {$_.RoleDefinitionId -eq "Role Definition Id >>"}

Get-AzureADMSPrivilegedRoleAssignment -ProviderId $Provider -ResourceId
$AzureADRef -Filter "roleDefinitionId eq 'Role definition Id '"

It was specifically around an example of the Global Reader Role as I have
an account that is Active in

[2020-04-24 17:02] MartinJaffer-MSFT commented on #53255
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-04-24 17:07] bleek00 commented on #52845
In order it to be enabled for on-premise I must have the agent deployed right? Without the agent the enable/disable option isn’t relevant , isn’t it?

Sent from my iPhone

[2020-04-24 17:11] MartinJaffer-MSFT commented on #19317
@KaleabTessera This is for a local file system, such as on your desktop/laptop.  Where would you get an access key?  This is assuming to log on using your credentials.

[2020-04-24 17:11] mossywell commented on #53266
3. "you must assign proper NTFS permissions at the root, directory, or file level" --> "you must assign proper NTFS permissions at the directory or file level".

[2020-04-24 17:13] hansenms commented on #53195
@Jaryd1212. Not sure I follow. Can you clarify which field you had to add the secret to. The part where we say leave blank is the scope and it should be left blank. The client secret goes in the client secret.

[2020-04-24 17:15] RickXMoore commented on #43390
Hi Dan,

Let me start off by saying that I’m glad someone from Microsoft directly responded to the post.  I’d like to ask for clarification around some of your responses, but in general I’m OK with the issue itself as being closed.

•	I’m certainly glad to hear that you are “thinking” of ways to improve, but it’s obvious to me that your customers have varying degrees of how they approach this and

[2020-04-24 17:16] roygara commented on #53036
@stdistef Thanks for reaching out! I've gone ahead and confirmed that it is up to 32TiB at this point. I'll update the doc accordingly, it'll be live later today.

We appreciate you helping improve our docs, thank you! :D

#please-close

[2020-04-24 17:16] #53036 closed

[2020-04-24 17:18] gretchunkim opened #53268 "Suggestion: To add SharePoint platform compatibility"
Great SharePoint/Azure information!  Unsure from the content whether or not which SharePoint platform will content applies (SP 2010, 2013, SP Online v On-Premises (2016) at the header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcc086be-6b9d-3218-8033-46d00cae7783
* Version Independent ID: 2fd4c214-5afe-facd-7f97-e

[2020-04-24 17:19] CaitlinV39 commented on #53195
@Jaryd1212 for this tutorial we have you setup a public client application in the previous step. If you are using a confidential client app, you would set the secret, but the context for this tutorial is to use a public client application. Let us know if that answers the question.

[2020-04-24 17:25] Karishma-Tiwari-MSFT commented on #53246
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-24 17:26] tamram commented on #52236
@patrickjlee - I hear that you are frustrated. But I am not able to address the error you are getting through the documentation. There is a sample in the article that shows how to use a managed identity with Azure Storage, and it works as described.

This forum is for Azure Storage documentation issues only. If you have an issue with how managed identities are designed and implemented, I recommend

[2020-04-24 17:27] djpmsft commented on #43390
Hey Rick,

First off sorry the delay in response initially, it shouldn't have taken this long to get this strong dialog going between everyone on this thread.

Regarding 'I’d like to understand what cmdlets you’re referring to around the pre / post deployment. I’m specifically talking about the AzureDataFactory module and the cmdlets included i.e. xxx-AzDataFactoryV2Pipeline, Dataset, trigger.' I

[2020-04-24 17:27] #43390 closed

[2020-04-24 17:28] djpmsft commented on #43390
Another thing on upcoming features, as ADF (and now data flows as well) are GA, you can expect there will be no breaking changes to existing pipelines without months and months of warning

[2020-04-24 17:37] SaurabhSharma-MSFT commented on #53265
@Falven Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 17:38] Jaryd1212 commented on #53195
Thanks  - I must have made a mistake in making it private.
I had to add each user's objectID to the FIHR server for them to access the data even after oauth2.
But I finally get through the tutorial successfully and it was very successful.

[2020-04-24 17:38] #53195 closed

[2020-04-24 17:38] SaurabhSharma-MSFT commented on #53264
@MarcLaf Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-24 17:42] veyalla commented on #51230
Please the ACR firewall access rules doc: https://docs.microsoft.com/azure/container-registry/container-registry-firewall-access-rules

[2020-04-24 17:43] dapathy opened #53269 "Usage quota bandwidth request and/or response?"
It is not clear to me if the usage quota bandwidth applies to request payloads and/or response payloads.  Thank you for your help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184-6e7f-c1f5-3ff2531df357
* Content: [Azure API Management access re

[2020-04-24 17:46] RickXMoore commented on #43390
Hi Dan,

That's not what I was referring to when discussing the issues with PowerShell between the product teams, but that's OK.  I'm sure that needed the update as well.

[2020-04-24 17:51] SnehaAgrawal-MSFT commented on #52812
@hire-him We apologize for the inconvenience with the issue. After performing the initial investigations we believe you have already reached us on email AzCommunity[at]Microsoft[dot]com  and we will assist you with engaging Azure technical support to resolve the same.

[2020-04-24 17:52] RyanHill-MSFT commented on #53227
Thanks for the feedback @dhulme! We are currently investigating and will update you shortly.

[2020-04-24 17:52] sudoxue opened #53270 ""App tests automation" should be mandatory"
"App tests automation
You can optionally upload an App tests automation file here (.app)." This is wrong. App tests automation is now mandatory. please modify the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b50ce1d1-fc0b-0d5d-ff42-8da5baa3b8c2
* Version Independent ID: f53d7482-5aa1-de0b-68c0-f302161568a1

[2020-04-24 17:54] djsly commented on #47048
Note that is works when you create the private endpoints before doing the delegation

[2020-04-24 17:56] iainfoulds commented on #53243
Sorry for the confusion here. The wording is actually correct in that 'Change password' permissions aren't required. The doc update was based on a public PR where engineering confirmed it's not needed - https://github.com/MicrosoftDocs/azure-docs/pull/50000.

I'll review the rest of the doc for areas like the screenshot that incorrectly show the permission being required and update accordingly.

[2020-04-24 17:58] Karishma-Tiwari-MSFT commented on #52060
Thanks @palma21 and @jluk.
@jjindrich Hope that helps answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-24 17:58] #52060 closed

[2020-04-24 18:03] brthurr opened #53271 "Incorrect graphic for device verification"
In the "Simulate first boot sequence for the device" section, under step 7, the accompanying graphic is incorrect. It looks as if the graphic is from the TPM attestation quickstart, and shows a device that uses Sas authentication to the IoT Hub. Confusing, as devices using X.509 attestation use X.509 authentication with IoT Hub.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-04-24 18:05] FlavioDiasPs opened #53272 "Missing example: How to deal with settings / connectionString in a Console WebJob"
Can't do this dependency injection pattern in a console application I Think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f558900b-3bbe-a734-73e6-b04cc16a0139
* Version Independent ID: d4f6ef6d-ae8b-565a-400f-d92339bf527f
* Content: [Configure Linux ASP.NET Core apps - Azure App Service](https://docs.microsoft.com/en

[2020-04-24 18:10] SaurabhSharma-MSFT commented on #53241
@BarnumD I am able to see service settings page.  I am a Global Admin in my tenant.  What role you have in your tenant.
![image](https://user-images.githubusercontent.com/38112130/80243524-3daa5200-861c-11ea-8cf9-768ab8016a84.png)

[2020-04-24 18:11] rodsaw11 opened #53273 "Command no longer available"
The ADSyncConfig.psm1 that used to be installed with ADConnect has been deprecated, and the Get-ADSyncADConnectorAccount command is not available any more.  I don't know about the other commands on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eab5899-ad7d-2071-6d43-50e7de4a304b
* Version Independent ID: ab

[2020-04-24 18:13] ealsur commented on #53193
@jakehockey10 Please see https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1432

Particularly the `BulkOperation` helper class.

[2020-04-24 18:14] rboucher commented on #53224
Looks good to me @KrishnaG-MSFT . Thanks for making the change.  @stspinu You should see the update in 24 hours if not sooner.

[2020-04-24 18:14] BarnumD commented on #53241
I have an assigned role of `Global administrator` in Azure AD.
Ahh.. I see it.  I didn't even recognize that as a button.  Thought it was just text and didn't pay enough attention.  Thanks

[2020-04-24 18:14] #53241 closed

[2020-04-24 18:14] rboucher commented on #53224
#please-close

[2020-04-24 18:14] #53224 closed

[2020-04-24 18:16] njsee opened #53274 "Getting Error while connecting dataset to my EA"
Getting this error while connecting to my dataset:
Something went wrong
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.

Data source error{"error":{"code":"DMTS_MonikerNotFoundError","pbi.error":{"code":"DMTS_MonikerNotFoundError","parameters":{},"details":[],"exceptionCulprit":1}}} Table:

[2020-04-24 18:20] archunz commented on #50986
Are you able to try it explicitly instead @wadstromdev ? Like
New-AzSubscriptionDeployment --location 'westeurope' -TemplateUri 'https://raw.githubusercontent.com.../rgDelegatedResourceManagement.json'.... and let us know if that works  ?

[2020-04-24 18:27] MSEvanhi commented on #52444
1. Is it possible to hide/show dynamically steps based on selections in "basics" ?
* Yes, in your createUIdef.json you can another steps control's visibility with [ARM template functions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions). For instance, if I wanted to change visibility of an element based on a textbox's content, I could use:
`"visible": "[e

[2020-04-24 18:32] #52945 closed

[2020-04-24 18:33] KranthiPakala-MSFT commented on #52945
The PR for additional clarification has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-24 18:34] MashaMSFT commented on #49595
Hi @mrdenny, and @jdanton , thanks again for reaching out and providing your feedback! Changing the default port is the recommended best practices in helping increase the security of your SQL Server. Security works in layers, and we want to implement as many changes as possible to deter intruders. Likewise, we recommend choosing the most restrictive option for your scenario when configuring the co

[2020-04-24 18:34] #49595 closed

[2020-04-24 18:35] KranthiPakala-MSFT commented on #52998
Thanks much for sharing the link. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-24 18:35] #52998 closed

[2020-04-24 18:36] MarileeTurscak-MSFT commented on #53273
@rodsaw11 thanks! I'm looking into this.

[2020-04-24 18:36] archunz commented on #50986
@mike-urnun-msft can you triage this over to the powershell team for a response? Doesn't seem to be an issue with the Lighthouse ARM template being used.

[2020-04-24 18:38] laughingman42 opened #53276 "Clarification on Linux OMS multi-homing option available in v 1.12.25"
The overview page (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent) specifically mentions Linux agent does not support multi-homing. However, as of version 1.12.25, the options to upgrade to multi-homing schema (-U) and add a secondary workspace (-m) exist in the help doc of the omsagent script.

That is either a bug in the current version of omsagent and removed

[2020-04-24 18:47] iainfoulds commented on #53171
Sorry for the confusion here. This doc had already been updated from a separate request, though didn't publish until 3pm PST yesterday. The correct PowerShell commands are now live as per the screenshot from @SaurabhSharma-MSFT

#please-close

[2020-04-24 18:47] #53171 closed

[2020-04-24 18:50] Bpoe opened #53277 "sample project link is broken"
The link to the sample project is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 767b5c3c-a71a-3975-6510-efea7975e635
* Version Independent ID: 8f23a3de-8ea4-50da-73a2-8fb8af9f1343
* Content: [How to run Durable Functions as WebJobs - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-

[2020-04-24 18:50] AjayKumar-MSFT commented on #52812
@hire-him, We really understand it is a frustrating experience with this. We have tried the steps outlined in the tutorial and it works.  As Sneha mentioned, it looks like you’re seeing this error because of the resource surge in the region due to COVID-19 situation.
We would like to work with you offline for a closer look and help you resolve this problem.  We have received your email from f…..a@

[2020-04-24 18:50] iainfoulds commented on #52845
@bleek00 - Correct. Enabling the option for on-prem password protection doesn't do anything without the proxy and DC agents installed as outlined in https://docs.microsoft.com/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy

As @SaurabhSharma-MSFT notes, password protection for Azure AD can't be disabled.

#please-close

[2020-04-24 18:50] #52845 closed

[2020-04-24 18:54] SaurabhSharma-MSFT commented on #53164
@rarera We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-24 18:54] #53164 closed

[2020-04-24 18:56] kgremban commented on #51800
@arduppal or @mbialecka could you take a look at this?

[2020-04-24 18:56] SaurabhSharma-MSFT commented on #53017
@jpb501 sorry, but I am not able to see your image.  can you please send screenshots, command output etc. over an email to azcommunity[at]microsoft[dot]com with this GitHub Issue link and I will take a look.

[2020-04-24 18:57] KranthiPakala-MSFT commented on #53262
@emshimon Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-04-24 18:57] DaveVoyles opened #53278 "SAS URI has expired again."
When I try to connect it gives this error:

"Blob operation Failed. ContainerName: , path: . The remote server returned an error: (403) Forbidden.StorageExtendedMessage=Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. RequestId:76046c7d-701e-00a4-0a6a-1a1219000000 Time:2020-04-24T18:57:08.5506730Z, The remote server

[2020-04-24 18:58] markrad opened #53279 "iotedge check with web proxy"
It should be noted that currently the _iotedge check_ command will **not** work when one is using a web proxy. It does not respect that setting and all connection attempts will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014b28e4-afcd-a151-1819-1eccd31d3715
* Version Independent ID: 032a4694-18d7-67eb-56bb-640

[2020-04-24 18:59] SaurabhSharma-MSFT commented on #53052
@mzmaili This feature is in preview and PowerShell cmdlets are available under AzureADPreview module.

[2020-04-24 19:00] derekschauland commented on #39015
This is not clear at all for Internally configured APIM. If there is an internal APIM there is no load balancing of any kind unless explicitly configured by the customer? That should be called out. In addition, the steps to accomplish this:

App gateway forwards traffic to Traffic manager instance which watches two or more instances of APIM to determine which one is healthy to route traffic toward

[2020-04-24 19:02] hire-him commented on #52812
Ok I will allow things to come back to normal in a month or so. Can
Microsoft extent $200 preview credits for longer periods of time?

Thanks

On Sat, 25 Apr 2020 at 12:20 AM, AjayKumar-MSFT <notifications@github.com>
wrote:

[2020-04-24 19:04] BharathNimmala-MSFT commented on #53249
@jamcguire Thanks for your query, we will look into get and get back to you at the earliest.

[2020-04-24 19:06] BharathNimmala-MSFT commented on #53270
@sudoxue Thank you for your feedback, we will look into and fix the document accordingly.

[2020-04-24 19:13] BharathNimmala-MSFT commented on #53276
@laughingman42 Thank you for bringing this to our notice , we will look into and update the document accordingly.

[2020-04-24 19:13] viju2008 opened #53280 "Getting Detailed Connection Error Information when using Containers"
Hello,

I am trying to connect to an endpoint which has a Speech Container hosted.

However, since I cannot directly expose the container it is behind a proxy. I am able to connect via the proxy with the WebSocket protocol.

Now I have enabled WebSocketSecure in the proxy. Expectation is that the SDK will connect using WSS protocol to the WebSocket Proxy and then from the WebSocket proxy to the co

[2020-04-24 19:21] KranthiPakala-MSFT commented on #53278
@DaveVoyles Thanks for the feedback and bringing this to our attention! We have assigned the issue to the content author to update the document as appropriate.

[2020-04-24 19:21] cadeavil-msft opened #53281 "at least for Ubuntu 20.04, you need to ALSO install python2"
20.04 does not come with Python version 2 installed at all. So you need to install python-is-python2 AND python2:

sudo apt install python2 python-is-python2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db5e2e62-b8fd-71e7-33c7-f0725aa9fda5
* Version Independent ID: 5d936c2a-b42f-885a-7cab-1db79714b621
* Content: [Iss

[2020-04-24 19:22] KranthiPakala-MSFT commented on #53278
Hi @nabhishek , @Samantha-Yu Could you please have a look at the feedback from @DaveVoyles and update the document as needed. Thanks you!

[2020-04-24 19:23] #53262 closed

[2020-04-24 19:23] KranthiPakala-MSFT commented on #53262
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-24 19:26] Mike-Ubezzi-MSFT commented on #52847
@llgjermeni This should get you started but I still have an inquiry into the product group to see if there is an example someone can share that was used to deploy an Instance Pools instance. I am going to close this issue but the dialog can still continue. Instance Pools are currently in Preview so receiving full support is limited at this time. When it goes GA, full support and documentation will

[2020-04-24 19:26] #52847 closed

[2020-04-24 19:27] AjayKumar-MSFT commented on #53147
@jishansiddique, Thanks for bringing this to our attention.
Some Basic services are provisioned on newer hardware. Your service is probably one of those. However, other Basic services are still on older clusters. For this reason, we will keep the documented limits as-is until we can lift the restriction for all customers.

Regarding batch size, several customers have also noticed the additional ca

[2020-04-24 19:28] SnehaGunda commented on #53255
#reassign: @dagiro

[2020-04-24 19:30] CeciAc opened #53282 "Can AKS create deployment using Azure Disk?"
@CodingXCat commented on [Thu Apr 23 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/717)

 Can AKS create deployment other than pod using Azure Disk?
I want to create N pods in a deployment and each one mount a Azure Disk for itself. Can I do this?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independe

[2020-04-24 19:31] Karishma-Tiwari-MSFT commented on #53281
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-24 19:35] AjayKumar-MSFT commented on #49245
@JennyLawrance, Requesting your help and comments on this.

[2020-04-24 19:36] Karishma-Tiwari-MSFT commented on #53247
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-24 19:39] Karishma-Tiwari-MSFT commented on #53252
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-24 19:50] Mike-Ubezzi-MSFT commented on #52633
@Cephei This is likely a bug but I need to redirect this out of MicrosoftDocs and present this to the product group. Can you please send me an email with your instance name and your subscription GUID to [AzCommunity](mailto:azcommunity@microsoft.com). I can leverage the details of the issue from this issue but need your instance and subscription information as part of the investigation.  Thank you

[2020-04-24 19:56] wolfheart01 commented on #53181
Hi, this answer addresses my first comment, but not the second regarding SSPR registration enforcement when you have the Combined Registration mode enabled. I want to believe that when you enable the Combined Registration, even if you enforce it via the SSPR settings, the authentication methods registered will then be used for both SSPR & MFA, since the users will go through the same combined regi

[2020-04-24 19:59] jhernandez212 commented on #52981
An update to this constructing,  the URL as follows allows google guests to be redirected to google for authentication:
https://teams.microsoft.com/l/team/?tenantId=<your tenant id>

This should be added to the Limitations section of this document.

[2020-04-24 20:01] jamcguire commented on #52985
On the same topic, why is it that you don't mention locations such as "southcentralus" as being supported, however it's listed in allowed values for the "location" property of the ARM template on this page: https://docs.microsoft.com/en-us/azure/automation/automation-create-account-template.

If the location is not supported, what does that mean?  a) It wont work, or  b) it may work but if I encou

[2020-04-24 20:06] jamcguire opened #53283 "Regions not listed as supported."
Why is it that you don't mention locations such as "southcentralus" as being supported, however it's listed in allowed values for the "location" property of the ARM template which addresses deployment of a workspace and linking of an automation account on this page: https://docs.microsoft.com/en-us/azure/automation/automation-create-account-template.

If the location is not supported, what does th

[2020-04-24 20:08] femsulu commented on #15020
Adding @bwren just FYI only. Per documentation [here](https://github.com/uglide/azure-content/blob/master/articles/log-analytics/log-analytics-api-alerts.md)

[2020-04-24 20:11] zhenlan commented on #53134
Thanks, @upmygit.  We will follow up on the new issue https://github.com/Azure/AppConfiguration/issues/318.

This issue here can be closed.

[2020-04-24 20:12] Mike-Ubezzi-MSFT commented on #52633
@Cephei One additional detail. You have shared what you are expecting to see but can you share what you are are actually seeing? Than you!

[2020-04-24 20:13] NavtejSaini-MSFT commented on #52763
@yorek Please check this thread further and provide input.

[2020-04-24 20:14] tony-gutierrez opened #53284 "false statement"
"The App Service deployment engine (Kudu) automatically runs npm install --production for you when you deploy a Git repository, or a Zip package with build processes switched on."

By default this is off for zips. (https://github.com/projectkudu/kudu/wiki/Configurable-settings#enabledisable-build-actions) so you are misleading users to think that modules will be installed.

---
#### Document Detai

[2020-04-24 20:20] MGoedtel commented on #53283
@jamcguire - That was mistake on my part to leave that list of workspaces in the template, as a carry over from ARM templates I had created for AzMon documentation.  It isn't meant to conflict with the supported workspace/automation account region mapping specified [here](https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappings).  I'll bug this and fix it as soon as I can.  Thanks

[2020-04-24 20:20] #53283 closed

[2020-04-24 20:26] mike-urnun-msft commented on #52668
@jochenvanwylick @jochenvw Yes, the schema version is [updated](201-api-management-create-with-internal-vnet/azuredeploy.json) fairly recently and the template is deploying successfully.

Since this channel is for driving improvements towards MS Docs and we haven't determined any changes for this particular documentation upon reviewing your feedback, we'll proceed to close this issue. If there are

[2020-04-24 20:26] #52668 closed

[2020-04-24 20:28] diepes commented on #51498
I just ran into the same problem,
# ssh -i id_rsa azureuser@10.240.0.4
ECDSA key fingerprint is SHA256:Cu4J4iDz9Nm5EL9Z7qZlGc3KiaGmSFJwOUpl2ere
Authorized uses only. All activity may be monitored and reported.
Your account has expired; please contact your system administrator
Connection closed by 10.240.0.4 port 22

The updating of the ssh key should probably also unlock the account ?

[2020-04-24 20:33] jamcguire commented on #53283
Thanks for your response.  I'm still not sure what Supported means in this context however, can you elaborate on that?

Also you may wish to pay attention to the  "automationAccountLocation" property as there is no list of accepted values or description of this field, although I suspect it is identical to "location", both properties could probably be consolidated?

[2020-04-24 20:37] jamcguire commented on #53283
P.S. I also raised #53249 which deals with the Same ARM template referenced here but appears to have been unlisted from the page @ https://docs.microsoft.com/en-us/azure/automation/automation-create-account-template

Would you be able to take a look since you developed the template?

[2020-04-24 20:37] dlewissandy opened #53286 "Not enough details"
assuming that you are going to write nodes and edges that you generate from a spark process, what are the required fields?   What are the valid values in those fields.    Not enough information is provided here to actually use this product in a non-trivial way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c77b390-e4

[2020-04-24 20:40] MarileeTurscak-MSFT commented on #53273
Thanks. I'm assigning this to the author to look into.

[2020-04-24 20:43] mike-urnun-msft commented on #52827
So sorry to hear about your job, @MadDenker! I hope everything will turn out well soon.

Closing this for now until we're able to consistently reproduce the issue.

[2020-04-24 20:44] #52827 closed

[2020-04-24 20:48] mike-urnun-msft commented on #53250
@stijnbrouwers Thank you for your feedback! We will review and update as appropriate.

[2020-04-24 20:48] sanketmitra commented on #43364
Getting permission denied issue for some of the files/folders while deploying the application with azure file share static/dynamic. Without pv/pvc, the application is working fine. In mount option gid/uid specify as 1000. Is there any changes required in mountoptions, if permission needs to change within file share?

[2020-04-24 20:49] mike-urnun-msft commented on #53268
@gretchunkim Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-24 20:50] mike-urnun-msft commented on #53269
@dapathy Thank you for your feedback! We will review and update as appropriate.

[2020-04-24 20:51] mike-urnun-msft commented on #53277
@Bpoe Thank you for your feedback! We will review and update as appropriate.

[2020-04-24 20:54] MGoedtel commented on #53283
Supported means you need to specify the supported region mapping for Automation Account/LA Workspace per the article I referenced in my earlier response when using the example template.  The allowedValues element isn't required, I left it in there as an example so its up to the individual to use it or not, or modify it to meet their requirements/standards. I made this clear in both using AR M temp

[2020-04-24 20:59] hetaldesai opened #53287 "i no longer have MFA setup on the phone"
i cannot login to my MS portal since i no longer have my phone and MFA app.

option i get
1. Approve a request on my Microsoft Authenticator app.
2. Use a verification code from my mobile app.
dont work for me since i do not have the app any more.
Please Help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72

[2020-04-24 21:00] mike-urnun-msft commented on #42203
@Majo4443 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-24 21:00] #42203 closed

[2020-04-24 21:03] lisaguthrie commented on #53134
#please-close

[2020-04-24 21:03] #53134 closed

[2020-04-24 21:06] ealsur commented on #53193
@Mike-Ubezzi-MSFT @jakehockey10

PR with documentation fix: https://github.com/MicrosoftDocs/azure-docs-pr/pull/112689

[2020-04-24 21:10] ojasp commented on #50919
@mike-urnun-msft any update on this?

[2020-04-24 21:11] dlepow commented on #53232
@blessedwithsins - Currently only Linux container groups can be deployed in a virtual network, as noted in the article (see [Regions and resource availability](https://docs.microsoft.com/azure/container-instances/container-instances-vnet#regions-and-resource-availability)). Windows support is on the product roadmap but no date is set. You may comment on this issue in the [Azure Feedback Forum](htt

[2020-04-24 21:11] #53232 closed

[2020-04-24 21:12] MarileeTurscak-MSFT commented on #53066
That's a really good question! I also can't find documentation describing the distinction, so I have asked some subject matter experts from the Azure Government team. They're usually pretty quick to respond and I will update you as soon as I hear from them.

[2020-04-24 21:19] mpanaro-cisco commented on #47187
as documented here: https://github.com/npm/npm/issues/17268#issuecomment-310167614 , appending the additional parameters `--unsafe-perm=true --allow-root` permit the `sudo npm install` to complete successfully.

[2020-04-24 21:22] normesta commented on #52473
@blueww Would you be able to answer this?

[2020-04-24 21:27] curtand commented on #46636
#please-close
This does not match the sign-in UI we deliver, so it's impossible to tell where this user's problem is.

[2020-04-24 21:27] #46636 closed

[2020-04-24 21:35] Mike-Ubezzi-MSFT commented on #53193
@jakehockey10 Update has been published and will be made available in the public facing version of the document in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-24 21:35] #53193 closed

[2020-04-24 21:52] thdotnet commented on #53058
It only worked when I added the Microsoft.Azure.Services.AppAuthentication nuget package. Manually retrieving the token didn't work.

[code]

[2020-04-24 21:52] #53058 closed

[2020-04-24 21:54] jamcguire commented on #53283
I appreciate your response and clarification on the meaning of supported.

I do disagree on this point however.  There is no description which clarifies the purpose of "automationAccountLocation".  I can't see anywhere in either article where you clarify this although had I used the web interface it may have been made clearer.

The supported regions listed here:  https://docs.microsoft.com/en-us/a

[2020-04-24 21:59] Cephei commented on #52633
You can see in the original post:
Expected: [{ "accts": "Clayton" }]

Actual CosmosDB Result:
{ "accts" : "David" }
{ "accts" : "Clayton" }
{ "accts" : "John" }
{ "accts" : "Daniel" }
{ "accts" : "Eric" }
{ "accts" : "David" }

... it's not really doing anything but concatenating the sets

[2020-04-24 22:08] Grace-MacJones-MSFT commented on #53272
Hi @FlavioDiasPs, thanks for the feedback. Are you seeing any errors?

[2020-04-24 22:09] Grace-MacJones-MSFT commented on #53284
Hi @tony-gutierrez, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-04-24 22:09] CharmanderJieniJieni opened #53291 "Is User and Group only identities capable for MFA?"
What about Service Principals? Is it capable for MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a586047b-a3f3-9cc7-5408-e06f81c1ff99
* Version Independent ID: 5a6f9e74-2859-6f44-1ec4-9fada1441df5
* Content: [Azure Multi-Factor Authentication overview](https://docs.microsoft.com/en-us/azure/active-directory/authent

[2020-04-24 22:12] MarileeTurscak-MSFT commented on #50714
PG response:

During AADConnect installation the tenant admin specifies forests in which they would like to enable DSSO. For each forest the AZUREADSSOACC computer account gets created. As long as AZUREADSSOACC is created in forest, all users from that forest should be able to use DSSO irrespective of which domain user is in or which domain AZUREADSSOACC computer account is created.

AADC forest i

[2020-04-24 22:13] Mike-Ubezzi-MSFT commented on #53237
@balukantu Thank you for making us aware of this issue. We are investigating and will update you when we have more information to share.

[2020-04-24 22:13] MarileeTurscak-MSFT commented on #50714
Hope this helps! We will close this out now but if you have further questions feel free to create a thread in [Q&A ](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered)or make a new issue.

[2020-04-24 22:13] #50714 closed

[2020-04-24 22:15] JnHs commented on #52443
Hi @o-l-a-v - sorry for the delayed response. Yes, any user with AOBO access can onboard a subscription. This is mentioned on our CSP topic https://docs.microsoft.com/en-us/azure/lighthouse/concepts/cloud-solution-provider#azure-delegated-resource-management but I'll clarify this in the onboarding topic as well.

[2020-04-24 22:22] SaurabhSharma-MSFT commented on #53256
@Ayanmullick To use an existing Log Analytics workspace you can go to Security Center > Pricing & Settings > Data Collection blade on Azure portal.  You can select a different workspace under **Use another workspace** drop down.  Please refer to the [documentation](https://docs.microsoft.com/en-us/azure/security-center/faq-data-collection-agents#how-can-i-use-my-existing-log-analytics-workspace).

[2020-04-24 22:23] SaurabhSharma-MSFT commented on #53238
@foramkumar-parekh Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-24 22:25] ecfan commented on #53268
Hi @gretchunkim, I've passed question along to the team who owns the SharePoint connector. I'll update when I hear a response.