[2022-10-21 20:00] #92390 closed

[2022-10-21 20:01] #92789 closed

[2022-10-21 20:02] jonburchel commented on #92923
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 20:02] #92923 closed

[2022-10-21 20:02] jonburchel commented on #93169
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 20:02] #93169 closed

[2022-10-21 20:03] anandmeg commented on #99957
#assign:@roseHJM

[2022-10-21 20:04] jonburchel commented on #93190
Thanks @bburner for your dedication to help us improve the docs. This doc has been updated and includes a reference to 202 response handling now.  #please-close

[2022-10-21 20:04] #93190 closed

[2022-10-21 20:07] jonburchel commented on #93258
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 20:07] #93258 closed

[2022-10-21 20:07] jonburchel commented on #93258
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 20:07] #92151 closed

[2022-10-21 20:08] jonburchel commented on #93259
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 20:08] #93259 closed

[2022-10-21 20:09] jasongroce commented on #99850
#reassign:sarahsnow-msft

[2022-10-21 20:11] ChaitanyaNaykodi-MSFT commented on #100102
@arsnyder16 Thank you for your feedback.

When Azure Front Door determines if the endpoint is in unhealthy state, then Session affinity is not maintained, and it will send request to the healthy endpoint. The unhealthy state can be due to backend being disabled etc.
In your case above was the backend disabled when you observed the session affinity cookies were reissued.

[2022-10-21 20:49] dereklegenzoff commented on #99486
This doc could be a good one to file the bug against: https://learn.microsoft.com/en-us/sharepoint/dev/general-development/query-refinement-in-sharepoint

[2022-10-21 20:51] dereklegenzoff commented on #98824
Hi @kawazoe - thanks for flagging this. Looks like you're correct; I'll work on creating a fix.

[2022-10-21 21:20] arsnyder16 commented on #100102
@ChaitanyaNaykodi-MSFT are you saying it’s “disabled” because it’s lower priority?

What about weight?
If I do weight 1000 and weight 1 ?

[2022-10-21 21:23] #51579 closed

[2022-10-21 21:35] khdownie commented on #100164
@mbiver thanks for the catch, I'll make that change

[2022-10-21 22:06] ChaitanyaNaykodi-MSFT commented on #100102
@arsnyder16

No, not due to reducing the priority but as you mentioned in the post above "If I need to take a backend offline or upgrade a backend" I was wondering if the backend was not available when you observed the session affinity cookies were reissued or you had only interchanged the priorities and the original priority one backend was up and running fine.

[2022-10-21 22:23] dlepow commented on #99301
Hello @schwibach - Thanks for feedback. There's a more detailed walkthrough with screenshots in in [this blog](https://techcommunity.microsoft.com/t5/azure-paas-blog/restricting-api-management-access-to-users-through-aad/ba-p/2116259). Is this helpful?

[2022-10-21 22:28] khdownie commented on #100164
@mbiver I added a section on this to our NFS article and linked to it from the tutorial:
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-how-to-mount-nfs-shares#mount-an-nfs-share-using-etcfstab

[2022-10-21 22:28] khdownie commented on #100164
#please-close

[2022-10-21 22:28] #100164 closed

[2022-10-21 22:35] andrefboliveira commented on #92689
Hi @guywi-ms

Is there any update on this topic?

I see that both pages still show the wrong query:
[https://learn.microsoft.com/azure/azure-monitor/logs/monitor-workspace#operation-data-collection-stopped](https://learn.microsoft.com/azure/azure-monitor/logs/monitor-workspace#operation-data-collection-stopped)
[https://learn.microsoft.com/azure/azure-monitor/logs/daily-cap#alert-when-daily-cap-is

[2022-10-21 22:35] dereklegenzoff commented on #98824
Doc was updated to reflect that integers can be negative
`integer_literal ::= sign? digit+`

#please-close

[2022-10-21 22:35] #98824 closed

[2022-10-21 22:35] jsmonet commented on #35343
this error message is useless and provides no information regarding fixes, or possible causes of the error

[2022-10-21 22:39] cynthn commented on #90637
Thank you for the feedback. I've updated the storage account section and created a new screenshot.

#please-close

[2022-10-21 22:39] #90637 closed

[2022-10-21 22:59] arsnyder16 commented on #100102
@ChaitanyaNaykodi-MSFT No it was healthy just adjusted the priority

customers active must retain the affinity to their original  backends (priority 2)

new customer should  be deferred to the new priority 1 clusters

as customer sessions close on the priority 2 clusters, those clusters will eventually go idle and can be torn down

[2022-10-21 23:03] arsnyder16 commented on #100102
Think of it as a blue green deployment with stateful sessions that cannot be interrupted.

[2022-10-21 23:21] KarlErickson commented on #100100
@ezYakaEagle442 I've informed the product team about your proposal, but for requests like this, please use the [Contribution Proposal](https://aka.ms/Contribution) form. Thanks!

[2022-10-22 00:09] dcaro opened #100300 "Quickstart using Azure PowerShell is missing"
With the [Az.Automanage](https://www.powershellgallery.com/packages/Az.Automanage/0.1.0) PowerShell module now available, we should have a quickstart that explain how to use it.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e3590fe0-3ff2-fde5-6c4c-7ce94a67997e
* Version Independent ID: b10965bb

[2022-10-22 00:10] dcaro commented on #100300
cc: @mikefrobbins

[2022-10-22 02:13] dlepow commented on #100087
@vlad610 - Thanks for the suggestion, and I agree some documentation around this will be useful. I'll add a doc workitem to our backlog to explain this feature when we update the relevant page (most likely around description of test console in the Azure portal and use of tracing). The short description is:

Bypass CORS proxy box unchecked: request goes from your computer -> CORS proxy (13.91.254.7

[2022-10-22 02:14] #100087 closed

[2022-10-22 02:59] jerryeml commented on #100278
Hi @tfitzmac

Thanks for providing CLI method
it looks work!

I can find the Microsoft.DevTestLab with "az feature list --namespace Microsoft.DevTestLab --output table"
and can register it with "az feature register --namespace Microsoft.DevTestLab --name DisableLabVirtualMachineQuota"

![image](https://user-images.githubusercontent.com/41797744/197316084-b1624f3d-0fc8-497b-b293-67fec8019090.png)

[2022-10-22 03:02] jerryeml commented on #100278
But it wired with pending status even waiting for over 1  hours?
It make sense?

[2022-10-22 03:13] ManoharLakkoju-MSFT commented on #100039
@patilpappmodz1
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-22 03:13] #100039 closed

[2022-10-22 03:16] AjayBathini-MSFT commented on #100249
Hi @LadtoHelp

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-10-22 03:16] #100249 closed

[2022-10-22 03:23] LadtoHelp commented on #100249
The point I'm trying to make is that your documentation is flawed and not fit for use as a getting started document.

[2022-10-22 03:24] AjayBathini-MSFT commented on #100283
@clarotech
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-22 03:54] YashikaTyagi-MSFT commented on #100292
@AlexFilipin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 03:58] YashikaTyagi-MSFT commented on #100295
@Petermarcu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 04:00] YashikaTyagi-MSFT commented on #100300
@dcaro
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-22 05:16] jahirul2022 commented on #100261
**_I have followed below documentation :_**
[https://learn.microsoft.com/en-us/azure/cosmos-db/table/how-to-dotnet-get-started?tabs=azure-cli%2Cwindows#connect-using-the-microsoft-identity-platform](url)

[2022-10-22 11:21] kszicsillag opened #100302 "Azure SQL firewall settings steps outdated"
The step _Generate the Database Schema_ references a menu entry called _Firewalls and virtual networks_:

The menu entry has been renamed to _Networking_ and significantly redesigned - therefore the instructions and screenshots for this section are outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7

[2022-10-22 11:25] dmw5678 opened #100303 "Invalid "Create or update shared image gallery" Example"
[Enter feedback here]
The Create Or Update Example has an added space after the equal sign by the API version causing it to fail. Please remove

PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/sharedgalleries/{name}?api-version= 2018-10-15-preview

Should be this

PUT https://management.azure.com/subsc

[2022-10-22 11:31] sancarn commented on #99486
Oh so this isn't a limitation in ODATA itself? Query providers have their own space removal protocols to comply with ODATA I suppose? Will raise with sp docs then 😊

[2022-10-22 11:46] fschmied opened #100304 "Please improve the documentation for the OIDC Issuer feature"
I came to this page from the AKS release notes, saying that "OIDC Issuer is now Generally Available". However, the docs here don't help me at all to understand what this feature is all about.

What does this mean? What provider? What do I do with an OIDC Issuer URL? Why and how would I use this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-22 11:50] fschmied commented on #100304
Googling a bit showed that this is probably about supporting Azure AD Workload Identity: https://azure.github.io/azure-workload-identity/docs/installation/managed-clusters.html. This information should be included on this docs page.

[2022-10-22 12:00] sekharkumar commented on #100280
Thanks @YashikaTyagi-MSFT

[2022-10-22 12:14] kszicsillag opened #100305 "Confusing App Service logging settings"
Section _Configure and Stream Application Logs_ (Azure portal tab) asks to set the retention period to 30 days.

However, throughout the tutorial, we are creating a Windows-based Web App, and for Windows-based Web Apps, there is no setting for a retention period. [Even on the screenshot](https://learn.microsoft.com/en-us/azure/app-service/media/tutorial-dotnetcore-sqldb-app/azure-portal-stream-log

[2022-10-22 15:14] PhilKri opened #100306 "Feedback"
You should include a link to a document that explains how to export and view data beyond 200 rows

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 75687a2c-c9e0-262f-197b-4b88b8e6d27d
* Version Independent ID: 58bd1e87-6399-d276-7258-b5022d1019a8
* Content: [Monitor Azure Storage services with Azure Monitor Storage insi

[2022-10-22 15:16] YashikaTyagi-MSFT commented on #100302
@kszicsillag
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-22 15:19] YashikaTyagi-MSFT commented on #100303
@dmw5678
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-22 15:20] YashikaTyagi-MSFT commented on #100304
@fschmied
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 15:23] YashikaTyagi-MSFT commented on #100306
@PhilKri
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-22 17:11] Jeremyp87 opened #100308 "API unclear"
Unclear what API is called here, is it the subscription and resource group of the Sentinel/Log analytics workspace? Or Azure Maps?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed0acd-16df-e264-b7bb-db7f5785d3fd
* Version Independent ID: 64116a32-8fd9-aa78-beee-3a1f30cd839a
* Content: [Enrich entities with geolocat

[2022-10-22 17:12] Naveenommi-MSFT commented on #100071
@JeeWeetje
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-22 17:12] #100071 closed

[2022-10-22 17:25] #100125 closed

[2022-10-22 18:46] wugreg opened #100309 "Property of Metadata may not be correct, please verify"
"QueueTrigger" property of Metadata section does not return the queue payload according to my test. The PowerShell sample code uses "QueueItem", which seems correct property name. Please verify

https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=in-process%2Cextensionv5&pivots=programming-language-powershell#message-metadata

#This line returns no

[2022-10-22 20:23] AminAvan commented on #99806
Would you please update me?
The Azure Confidential Ledger is a new service; unfortunately, its document has many issues! Even, it does not provide a sample on how we can get query from "Azure Confidential Ledger"!
Thanks!

[2022-10-22 22:08] artisticcheese opened #100310 "Troubleshooting steps shall be using Powershell and not curl command"
Troubleshooting steps specify curl command which is by default in Windows powershell aliased to `Invoke-WebRequest` and commands would just fail. I'm confused why somebody who is writing instruction for Windows only would put `culr` in a first place as part of troubleshooting.
Any `curl` command in document shall be replaced with `Invoke-Webrequest` instead
For example `curl -H Metadata:true "http

[2022-10-22 22:08] data-architect-actioncontrelafaim opened #100311 "Why can Data Factory access to my secured Blob?"
Why can Data Factory / Synapse access to my blob data without Private Endpoint? Does the System-Assign Managed Identity allow this? Can I be sure that the traffic is routing safely?

Here you can see the network configuration
![image](https://user-images.githubusercontent.com/102252024/197363873-634e13a4-a047-4231-a422-32d0d3ee9d18.png)

and Private endpoint connections
![image](https://user-image

[2022-10-22 22:15] reyesGeorge commented on #23919
I added the functionality to my React project since I was using a Linux based web container for my api, I was to eligible for the auto-swap functionality (October 2022). My solution was to manually set the cookie using react-cookie:

setCookie(myCookie, myCookie, { path: '/', maxAge: 360000, httpOnly: false, secure: true, sameSite: "none" });

Someone else had a bug where the cookie expired, so to

[2022-10-23 03:33] YashikaTyagi-MSFT commented on #100308
@Jeremyp87
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 03:36] YashikaTyagi-MSFT commented on #100309
@wugreg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 03:37] YashikaTyagi-MSFT commented on #100310
@artisticcheese
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 03:38] #100283 closed

[2022-10-23 03:39] YashikaTyagi-MSFT commented on #100311
@data-architect-actioncontrelafaim
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 03:52] leavedream opened #100312 "error running webapp up for python flask quickstart web app"
Following the instruction to install and deploy msdocs-python-flask-webapp-quickstart using az-cli, but got below error.
Environment is WSL 2 with Ubuntu 20.04 LTS on Windows 10.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: af57ca1d-6109-b46b-ec0e-50fb35d8981a
* Version Independent ID: 2f24c98c-d89f-8693-261

[2022-10-23 07:45] omrigaonms opened #100313 "DS14_v2 networking info"
[Enter feedback here]

Please add networking info for DS14_v2
Thanks
Omri Gaon
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b681fb36-d142-204e-85a7-0ab5f86edc75
* Version Independent ID: f71468a6-899e-5c3d-044f-606fca3d4c88
* Content: [Dv2 and DSv2-series - Azure Virtual Machines](https://learn.microsoft.com/en-us/az

[2022-10-23 08:45] welbornt opened #100314 "Unable to Install Microsoft.CognitiveServices.Speech.CLI"
Running the command "**dotnet tool install --global Microsoft.CognitiveServices.Speech.CLI**" from https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=windows%2Cpowershell&pivots=programming-language-cli results in the following error:

[code]
I am not having Internet issues and I am able to browse to https://www.nuget.org/packages/Microsoft.Co

[2022-10-23 09:17] ezYakaEagle442 commented on #99964
I have created this Issue, this is enough, see also [https://github.com/microsoft/azure-container-apps/issues/453](https://github.com/microsoft/azure-container-apps/issues/453)

[2022-10-23 10:17] sarah19990 opened #100315 "trying to add a storage account to the template but it is not working and i have changed the storage name 5 times but still not working"
{"code": "InvalidTemplateDeployment", "message": "The template deployment 'addstorage' is not valid according to the validation procedure. The tracking id is '627f7af1-418a-473b-ad33-87c576cecbcf'. See inner errors for details."}

Inner Errors:
{"code": "PreflightValidationCheckFailed", "message": "Preflight validation failed. Please refer to the details for the specific errors."}

Inner Errors:
{

[2022-10-23 11:46] gamon73 commented on #91649
I've got the same issues, after calling the command Join-AzStorageAccount I get this error: Set-AzStorageAccount; Cannot validate argument on parameter 'ActiveDirectoryDomainSid'. The argument is null or empty.

I've solved removing ".Value" in the script AzFilesHybrid.psm1 at lines 3771 and 3775:

$azureStorageSid = $azureStorageIdentity.SID[.Value]
$domainSid = $domainInformation.DomainSID[.Valu

[2022-10-23 13:57] ElectricLlama commented on #98884
Apologies I didn't realise that I didn't post the source I was using. I was using the sample from here: https://github.com/Azure-Samples/azure-cosmos-db-sql-api-nodejs-getting-started I'll do some more troubleshooting and raise a ticket with that source once I work out it (based on your guidance). It seems to use `const {resources: offers} = await client.offers.readAll().fetchAll();` instead (whic

[2022-10-23 13:59] HarriJaakkonen opened #100317 "Add Hybrid Identity Administrator to the documentation"
https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#accounts has only Global Admin account as required rights for AAD connect, this is a false statement. There should be also Hybrid Identity Administrator in the list.

Please fix the documentation.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.c

[2022-10-23 15:01] rfabro commented on #92847
I have the same issue, hopefully someone can take a look.

[2022-10-23 15:18] TiTi commented on #36828
The proper way is to "Configure your own DNS server to forward to Azure DNS private zones", as mentionned in https://learn.microsoft.com/en-us/azure/app-service/overview-vnet-integration#private-endpoints

However that's going to apply for your whole devices using your custom dns resolver. Which needs to be taken into consideration (might be what you want or not).

A "clean" workaround for an azur

[2022-10-23 16:37] YashikaTyagi-MSFT commented on #100312
@leavedream
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 16:44] YashikaTyagi-MSFT commented on #100313
@omrigaonms
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-23 16:45] YashikaTyagi-MSFT commented on #100314
@welbornt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 16:46] YashikaTyagi-MSFT commented on #100315
@sarah19990
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 16:47] YashikaTyagi-MSFT commented on #100317
@HarriJaakkonen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-23 18:33] AjayKumar-MSFT commented on #100051
tseward, apologies for the delay.  Just to highlight, by default, compression is not enabled on Azure App Service Linux.
Since on App Services we don’t expose configuration to any platform components, this would need to be done through application.Users can enable this, as per their requirement. We have this article- [Compression on App Service Linux
](https://azureossd.github.io/2022/07/13/Compre

[2022-10-23 18:59] ForteUnited opened #100319 "runtimeSubnetId never mentioned"
Nowhere on this page is the runtimeSubnetId mentioned. There is a brief mention of the infrastructure subnet id and then a reference to another subnet in which address space shouldn't overlap with but no explanation of what this other subnet is and when it is needed. This whole section on networking needs more clarification and content.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-10-23 20:08] AminAvan opened #100321 "No response in "REST API Try It""
I try to work with Azure Confidential Ledger API, and I try the "try it" button in the [List Collection](https://learn.microsoft.com/en-us/rest/api/confidentialledger/list-collections/list-collections?tabs=HTTP#code-try-0), while I provide the "Ledger Endpoint" when I send it, I did not see any result, no error & no success!

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-10-23 20:35] tseward commented on #100051
@AjayKumar-MSFT in this case, we were running App Service on Windows.

[2022-10-23 21:17] ssabat commented on #94070
@Thomas-Bailey  What is given is an example only. When you export factory, you write to a local directory. Local directory  usually starts with C:\ on Windows, it could be /home/thomas/adf  on Linux.  We need a local path.

#please-close

[2022-10-23 21:17] #94070 closed

[2022-10-23 21:25] ssabat commented on #94080
@zakkra  Thanks for input. Doc gave a generic example of how to securely parameterize secrets and use them in pipeline. To extend it across environments is not covered. That is a CI/CD topic. When you deploy pipeline to other environments, you have to do environment specific secret pull and that mechanism varies company to company. That is another reason why we did not cover it.  You can use featu

[2022-10-23 21:25] #94080 closed

[2022-10-23 21:31] ssabat commented on #94549
@chisha1 thanks for your input. It was a good suggestion.  We did PR as you see above.

#please-close

[2022-10-23 21:31] #94549 closed

[2022-10-23 21:40] ssabat commented on #94718
@pnarsi  Kusto expects  URL starting with https://.. Please follow the docs. If any questions, please contact ADF support from your ADF portal left bar.

Thanks

#please-close

[2022-10-23 21:40] #94718 closed

[2022-10-23 21:50] himachida opened #100322 "Update C# sample for Tutorial: Use a Windows VM system-assigned managed identity to access Azure Storage"
Is the C# sample still working? I was not able to find the DNS record for storage.azure.com. If not, could you update the sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8dbf1
* Content: [Access Azure Storage using a W

[2022-10-23 21:56] ssabat commented on #94928
@thaav Thank you for your suggestion. We have clarified the paragraph and did a PR.

#please-close

[2022-10-23 21:56] #94928 closed

[2022-10-24 01:28] AjayBathini-MSFT commented on #100319
@ForteUnited
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 01:30] AjayBathini-MSFT commented on #100321
@AminAvan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 01:31] AjayBathini-MSFT commented on #100321
@msmbaldwin
Can you please check and add your comments on this query as applicable.

[2022-10-24 01:32] AjayBathini-MSFT commented on #100322
@himachida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 01:38] AjayBathini-MSFT commented on #100263
@Hung20736
 This thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-24 01:49] AminAvan commented on #100321
I have test to work with API via Postman, while I have an app that I created in AAD and I add it as an owner in my ACL's role, the API responds to me with "403 forbidden" (server refusing to respond to me, while I have authenticated by it!)

[2022-10-24 01:53] Naveenommi-MSFT commented on #100251
@jesweare

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-24 01:59] Naveenommi-MSFT commented on #100255
@ynpandey

Could you please review and add your comments on this update as appropriate.

[2022-10-24 01:59] Naveenommi-MSFT commented on #100255
@ynpandey

Could you please review and add your comments on this update as appropriate.

[2022-10-24 01:59] Naveenommi-MSFT commented on #100255
@jesweare

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-24 02:00] showpune opened #100323 "Confuse to link this page to "A conceptual overview of this feature is available in Cluster extensions - Azure Arc-enabled Kubernetes article""
I wonder if this feature will only be supported by Azure Arc-enabled Kubernetes  or will be supported by the managedCluster

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 78b10581-fc01-7ae0-ef90-81d754d2f560
* Version Independent ID: 01ee8215-7cb9-6588-b715-8ae12d95e88a
* Content: [Cluster extensions for Azure Kuberne

[2022-10-24 02:01] Naveenommi-MSFT commented on #100255
@jesweare

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-24 02:14] Naveenommi-MSFT commented on #100277
@mssaperla
Could you please review and add your comments on this update as appropriate.

[2022-10-24 02:15] Naveenommi-MSFT commented on #100277
@chris2shehu
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-24 02:28] vicancy commented on #99773
Hi @tajwan69, really appreciate your support in reporting the issue. Could you email me `lianwei(at)microsoft.com` your Azure SignalR resource name for me to take a deep look?

[2022-10-24 02:30] JennyLJY opened #100324 "Suggest to add explanation regarding the platform metrics."
We observed that windows node pool is not supported in the platform metrics. The windows nodes cannot be filtered when choosing 'working set memory' or 'cpu' related metrics in the platform data when configuring the alerts rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a58791a-92e9-fa17-b054-cf8e551f16a2
* Ver

[2022-10-24 02:39] Naveenommi-MSFT commented on #100274
@iww9

use version 1.14.5 of Gstreamer https://gstreamer.freedesktop.org/pkg/windows/1.14.5/gstreamer-1.0-x86_64-1.14.5.msi - complete setup

use version 1.13 of Microsoft.CognitiveServices.Speech (Nuget package)

Go to environment variables and add path the following C:\gstreamer\1.0\x86_64\bin
then add a system variable called "GSTREAMER_ROOT_X86_64" (without the quotes) and the value to "C:\gst

[2022-10-24 02:46] ianburrowes commented on #38625
In case it helps, I have a rough work-around for this issue that may help others in the situation where they really want to send a group name claim rather than the cryptic group ID value.

The work-around is not scalable into large amounts or constantly changing groups, but if you know your users will be in a fixed predetermined list of groups, (e.g.: that determines permissions levels for your SA

[2022-10-24 03:40] vicancy commented on #99773
Is it possible that there are any rules blocking path "/aspnetserver" on your custom domain side?

[2022-10-24 03:49] hsszlll opened #100326 "Some questions about front door security report"
[Enter feedback here]
1. What the data resource is about this security page?
2.  What the query is about this security page?
3. The security page showing is not match with the result of my by using log analytics with AzureDiagnostics datasource, which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 52b6

[2022-10-24 04:10] Aravin commented on #38310
Getting an error, any idea to fix it?

But I can see values in TS intellisense

[code]

[2022-10-24 04:59] AjayKumar-MSFT commented on #100051
tseward, thanks for the additional info.  Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@Cephalin) for further review, and update the document as appropriate.

[2022-10-24 05:27] isdaniel opened #100327 "Three different PostgreSQL Single Server Auto-growth conditions in the document"
I saw there are three articles that talked about azure single PostgreSQL server auto-grow condition.

But those articles describe different logic when servers with more than 100 GB of provisioned storage.

1. The [Comparison chart - Azure Database for PostgreSQL Single Server and Flexible Server](https://learn.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-compare-single-server-flex

[2022-10-24 06:46] alexchen2016 commented on #99050
@msmimart @ManoharLakkoju-MSFT
We have been waiting for your reply.  And I didn't find any change on your page.

[2022-10-24 06:48] alexxiongxiong opened #100329 "Demo for "Custom forward server" can easily be misunderstood."
In this section,
https://learn.microsoft.com/en-us/azure/aks/coredns-custom#custom-forward-server

If the "domain to be rewritten" is "game.com", the "foo.com" in the demo will misunderstand our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9

[2022-10-24 07:01] nonoxp opened #100330 "Training data broken link"
Sample code for pytorch training refers to the following broken link to download training data.

https://azureopendatastorage.blob.core.windows.net/testpublic/temp/fowl_data.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 34201ee9-62ca-1ffc-ac23-01a742d5ba64
* Version Independent ID: 20c4fd76-e65d-c9e5-a5a8-fe91790

[2022-10-24 07:13] yertaylan67 opened #100331 "Trade-in Azure reserved instances for compute for a savings plan"
[Enter feedback here]
Please check if the following statement is true: "**For a limited time** you may [trade-in](https://learn.microsoft.com/en-us/azure/cost-management-billing/savings-plan/reservation-trade-in) your Azure reserved instances for compute for a savings plan." Is this trade-in option really valid for a limited time? This restriction is not mentioned anywhere else in the documentatio

[2022-10-24 07:29] ukchrist commented on #96053
#please-close

[2022-10-24 07:29] #96053 closed

[2022-10-24 07:30] Alocyte opened #100332 "Options to specify items to transfer/delete - when Exclusion fails"
Hi.

Note: Exclusion options seem to fail -
--exclude-pattern (string) Exclude these files when copying. This option supports wildcard characters (*)

--exclude-regex (string) Exclude all the relative path of the files that align with regular expressions. Separate regular expressions with ';'.

Instead of relying on this, build a list of the folders to copy excluding these that you want to exclude

[2022-10-24 08:04] MarekLani commented on #99559
hello @sabbour , please may I ask you to have the information on the details of nginx ingress packages being used as part of addon? Thank you

[2022-10-24 08:08] iww9 commented on #100274
Hi, Thank you very much for your response.

How can I do this on Azure Synapse?

[2022-10-24 08:13] StephanBis commented on #52940
@cocallaw We are in the exact same situation at the moment, using RADIUS and OpenVPN. How is it acceptable to only support PAP? Is there any other way to use MSCHAPv2?

[2022-10-24 08:15] realrubberduckdev opened #100333 "Confusion regarding 'Compliance isn't as expected' scenario resolution"
Under Resolution for 'Compliance isn't as expected', it says

[code]

Note the "_should be indexed if the policy definition checks for tags or location_".

But  further reading docs [Azure Policy definition structure](https://learn.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#resource-manager-modes)

it says "_indexed: only evaluate resource types that support tags and

[2022-10-24 08:30] kovacija commented on #96097
Hello,

has the bug been fixed? Thank you for the information.

[2022-10-24 08:30] #94986 closed

[2022-10-24 08:36] maud-lv commented on #100295
Hi @Petermarcu, good catch! Thank you your opening this issue. We're not updating the code of the app in this tutorial so the SDK isn't necessary. I've removed the prerequisite.

#please-close

[2022-10-24 08:36] #100295 closed

[2022-10-24 08:36] Mishco opened #100335 "Wrong `id` vs `objectId` in retrieve command"
Example command:
[code]
Does not retrieve anything. After retry `az ad user show --id "username@example.com"` I found that id was changed to objectId

Correct example command should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409092e073e5
* Version Independent ID: 7484bf47-59da-5e

[2022-10-24 09:24] samryanturner commented on #67001
Still not working, trying to create a blanket block policy for specific IP ranges, 'policy not supported as it will block all users'. Well yes, if they sign in from the IPs I specify.

[2022-10-24 09:26] bkeski opened #100339 "Missing SKU: Microsoft_Teams_Rooms_Pro"
Missing SKU:  Microsoft_Teams_Rooms_Pro (and Basic)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD - Microsoft Entra](https://learn.microso

[2022-10-24 10:04] vatsenko opened #100340 "listBlobHierarchical example"
[Enter feedback here]

for listBlobHierarchical function works for me if

const listOptions = {
    includeMetadata: true,
    includeSnapshots: false,
    includeTags: true,
    includeVersions: false,
    prefix:  virtualHierarchyDelimiter.substring(1)
  };

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3e29a779-ded

[2022-10-24 10:19] chengyuliu-msft opened #100342 "The link here does not work"
[Enter feedback here]

The link for SDK v2. does notwork [Full sample link](https://github.com/Azure/azureml-examples/blob/main/sdk/jobs/pipelines/1b_pipeline_with_python_function_components/pipeline_with_python_function_components.ipynb)

The correct link is here. https://github.com/Azure/azureml-examples/blob/main/sdk/python/jobs/pipelines/1b_pipeline_with_python_function_components/pipeline_wit

[2022-10-24 10:35] rozzamozza opened #100343 "How to check "The directory of the Azure subscriptions match"?"
[Enter feedback here]
It's very difficult to understand what the following constraint means.
Re: "The directory of the Azure subscriptions that are transferred must match the directory of the customer that was selected while establishing the CSP relationship"

Assume you mean the Azure AD Directory?
What do you mean by "Match"?
What do you mean by "establishing"? How do I find the establishing CSP

[2022-10-24 10:59] prjelesi opened #100344 "Force password change on next logon with Azure AD connect cloud sync"
Hi,

we don't have official guide how to enable this feature if customer s using Azure AD connect cloud sync. This page is mentioning only Azure AD connect

https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization#synchronizing-temporary-passwords-and-force-password-change-on-next-logon

i tested in lab:
copy Azure AD connect powershell and execu

[2022-10-24 11:34] tajwan69 commented on #99773
Hi @vicancy, I sent you email message with informations about my Azure SignalR resource name.

I don't have any blocking rules on my custom domian side. I host my sites on cloudflare services.

[2022-10-24 11:39] GeethaThatipatri-MSFT commented on #100327
@isdaniel Thank you for reaching out. We will look into it and update you as appropriate.

[2022-10-24 11:41] JaimeBotiaLanzas opened #100345 "Outdated az cli command on this tutorial"
Greetings from Spain,

In the webpage the command is written as it was written on its previous version.
In the webpage it appears as:
SP_SECRET=$(az ad sp credential reset --id "$SP_ID" --query password -o tsv)

The new versions of cli should be --name instead of --id.
SP_SECRET=$(az ad sp credential reset --name "$SP_ID" --query password -o tsv)

Also the documentation of this command is outdated

[2022-10-24 11:48] GarretWayne opened #100346 "Missing .Net Core 6.x Example with new Program.Cs Template"
The tutorial is of excellent quality, although from my point of view it would be even better with examples on the usage of the new **.Net Core 6.x `Program.Cs`** Template, where the whole **`Startup.Cs`** file is discarded.

I believe this new example would be a great addition as it is a bit cloudy now how this feature is represented in and after the .NET Core 6.x changes.

---
#### Document Detai

[2022-10-24 12:27] AjayBathini-MSFT commented on #100323
@showpune
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:30] AjayBathini-MSFT commented on #100324
@JennyLJY
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:33] AjayBathini-MSFT commented on #100326
@hsszlll
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:34] AjayBathini-MSFT commented on #100329
@alexxiongxiong
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:35] AjayBathini-MSFT commented on #100330
@nonoxp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:38] AjayBathini-MSFT commented on #100331
@bandersmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-10-24 12:39] AjayBathini-MSFT commented on #100332
@Alocyte
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:43] AjayBathini-MSFT commented on #100335
@Mishco
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:44] maskati opened #100347 "Add warning that diagnostic settings extension resources are not deleted with the parent resource"
Currently diagnostic setting extension resources are not (at least immediately) deleted when the parent resource is deleted. This can result in unexpected behavior, where resources that are deleted and recreated with the same name resume diagnostic logging to the previously configured destinations.

If this behavior is by design, add a warning that diagnostic settings should be deleted before dele

[2022-10-24 12:44] AjayBathini-MSFT commented on #100339
@bkeski
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:45] AjayBathini-MSFT commented on #100340
@vatsenko
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:46] AjayBathini-MSFT commented on #100342
@chengyuliu-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:49] AjayBathini-MSFT commented on #100343
@rozzamozza
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-24 12:50] bwren commented on #100217
#reassign: @guywi-ms

[2022-10-24 12:52] AjayBathini-MSFT commented on #100345
@JaimeBotiaLanzas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 12:53] AjayBathini-MSFT commented on #100346
@GarretWayne
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-24 12:54] jonbprogramming opened #100348 "steps 7-9"
It seems that the same screen shot was used for steps 7-9. The screen shot used has the IP of the sensor instead of the mask, DNS, and GW.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 02235a4d-2df4-9a39-6d37-9dd6f3b68acf
* Version Independent ID: be6053d0-6fe5-504d-6a0a-642cefa53d35
* Content: [Install OT network mo

[2022-10-24 12:55] AjayBathini-MSFT commented on #100347
@maskati
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 13:05] kabharati commented on #100134
#please-close

[2022-10-24 13:05] #100134 closed

[2022-10-24 13:07] ezYakaEagle442 commented on #91311
recent change seen at [https://github.com/MicrosoftDocs/azure-docs/commit/81f314cbd11383a342539e957ba6d61af2476ef6](https://github.com/MicrosoftDocs/azure-docs/commit/81f314cbd11383a342539e957ba6d61af2476ef6)

Tutorial at [https://learn.microsoft.com/en-us/azure/spring-apps/tutorial-managed-identities-key-vault?tabs=user-assigned-managed-identity](https://learn.microsoft.com/en-us/azure/spring-app

[2022-10-24 13:16] CarreEau opened #100349 "Commerce Account ID is not something the cx can find by himself or is it?"
Hi Bill,

The Commerce Account ID asked in the form to switch payment method might not be a visible information for the cx.
Can you add a mention stating so or giving a hint on where this ID can be found?
It's not on the Azure Portal nor on the Invoice.

Have a good day,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-10-24 13:17] mumurug-MSFT commented on #100271
@hoejsagerc We will now proceed to close this thread. Feel free to add a comment if any other questions or concerns.

[2022-10-24 13:17] #100271 closed

[2022-10-24 13:19] lucabovo commented on #86103
I have a similar Github-Issue about the same doc (https://learn.microsoft.com/en-us/azure/synapse-analytics/sql/how-to-pause-resume-pipelines) and the same scenario/environment (pipeline execution in Synapse Workspace with Managed VNet and data exfiltration protection ENABLED)
You can find the issue here:  https://github.com/MicrosoftDocs/azure-docs/issues/99174

[2022-10-24 13:20] eubreno opened #100350 "Multi-Factor Authentication with IOS and Android devices"
[Enter feedback here]
In section "Microsoft Authenticator known issues and workarounds" we have information about Android and IOS, but if you see the section bellow, we discuss only about Android (Multi-Factor Authentication with Android devices), I think the IOS information is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-10-24 13:22] KurtSchenk opened #100351 "Regions that support ZRS with Managed Disk, Shared Disk"
Are there additional regions beyond what is shown in the document?
West US 2, West Europe, North Europe, and France Central regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca709b7-462b-66c0-ed1b-c757e786061f
* Version Independent ID: 972b31ed-cb41-ad74-27ce-4e1fe2656c1b
* Content: [Redundancy options for Azur

[2022-10-24 13:33] #100062 closed

[2022-10-24 13:42] maskati opened #100353 "Clarify that disabling local authentication does not impact ingestion from Azure trusted sources"
It would be good to clarify in the documentation that disabling local authentication:
- Does not prevent Azure Monitor [diagnostic settings](https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings) based ingestion
- Does not prevent ingestion from [workspace-based Application Insights resources](https://learn.microsoft.com/en-us/azure/azure-monitor/app/create-workspace

[2022-10-24 13:57] drdreo commented on #32472
Just created a ticket on our board to investigate why we have so many 404 responses. Thanks for the annoyance Microsoft.

[2022-10-24 14:03] JeffZheng666 opened #100354 "downtime"
Hello team,

For **Other subscription transfers to a CSP partner** part, it states that 'Moving Azure resources between subscriptions might result in service downtime, based on resources in the subscriptions.', however, based on the following article, there is no downtime but only lock for 4 hours when moving resource across subscription, it is not consistent.

https://learn.microsoft.com/en-us/az

[2022-10-24 14:04] chris-mcguinness commented on #99957
Hi @msandbu, try using the path: "msandbu/azure/tree/master"

Enter the folder path relative to the clone URI that contains sub-folders with your catalog items. This folder path should be the path to the folder containing the sub-folders with the catalog item manifests, and not the path to the folder with the catalog item manifest itself.

This was the issue I was experiencing.

[2022-10-24 14:09] MicrosoftGuyJFlo commented on #99757
Following up with the PG

[2022-10-24 14:09] MicrosoftGuyJFlo commented on #99757
#label:"awaiting-product-team-response"

[2022-10-24 14:09] MicrosoftGuyJFlo commented on #99770
#label:"awaiting-product-team-response"

[2022-10-24 14:10] MicrosoftGuyJFlo commented on #99770
@SanDeo-MSFT Thoughts?

[2022-10-24 14:11] Dusted1969 opened #100355 "Kusto query incorrect?"
[Enter feedback here]

Could be wrong but I think the KQL query has incorrect inverted commas around Computer:

Heartbeat | where Category == "Azure Monitor Agent" and 'Computer' == "<computer-name>" | take 10

Should be this:

Heartbeat | where Category == "Azure Monitor Agent" and Computer == "<computer-name>" | take 10

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-10-24 14:15] tfitzmac commented on #100278
@jerryeml - not every preview feature is available through the portal. Also, [here is info](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/preview-features?tabs=azure-portal#register-preview-feature) about how to proceed with a pending request.

[2022-10-24 14:18] whhender commented on #99102
@KyferEz - Okay! Thanks for your patience. I've been working with the engineering team to see if I can provide any additional details, but the guidance is just like before:

Currently the request is going to come from the Microsoft Purview service itself, and so will follow the AzureCloud range for the region where the Microsoft Purview account is located (https://www.microsoft.com/en-us/download/

[2022-10-24 14:35] amiddles opened #100358 "Azure Speech Service (text to speech) is not longer reachable inside Azure Datacenter"
Service: Azure Speech Service (text to speech)
Issue: no longer reachable on our VM in our VNet in the azure datacenter, but it is reachable form my external machine outside of azure.
It appears that there is some kind of internal routing issue that has cause this service to become unreachable.
It was working fine until around Oct 16th 2022.

Please investigate.

So far I have tried upgrading the

[2022-10-24 14:53] ChaitanyaNaykodi-MSFT commented on #100102
@arsnyder16
Thank you for the clarification. I am reaching out to the team internally regarding this issue and will post an update as soon as I get a response. Thank you!

[2022-10-24 15:07] khdownie commented on #82464
@dazinator I added a note about this to the doc. Sorry this took so long:
https://learn.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux?tabs=smb311#static-mount-with-etcfstab

#please-close

[2022-10-24 15:07] #82464 closed

[2022-10-24 15:18] yertaylan67 opened #100360 "Use of "Azure Resource Manager" Service Tag in Azure Firewall"
[Enter feedback here]
Please check the table entry for Azure Resource Manager in the "Available service tags" chapter. It says this tag cannot be used with Azure Firewall, although one is able to configure a destination in Azure Firewall with this service tag.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82

[2022-10-24 15:25] ctimonjr opened #100362 "Modifying Security Alerts"
Can the severity for the alerts be modified within the MDfC product itself, or does it need to be done in code?  Are there security references used to set the severity for each alert?  If yes, can they be listed in the documentation?

Thanks.

Chuck

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0dd0-a05

[2022-10-24 15:25] kohithms commented on #95961
Hi @MarileeTurscak-MSFT , Any update on this issue ?

[2022-10-24 15:36] GouravGit opened #100363 "Correct Typo remove one your "If no users in your your Azure Active Directory tenant have yet logged in to the account console, ""
Correct Typo remove one your "If no users in your your Azure Active Directory tenant have yet logged in to the account console,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e920826e-3c2b-ec23-9474-764d333b9acf
* Version Independent ID: e920826e-3c2b-ec23-9474-764d333b9acf
* Content: [Enable admin protection for “No

[2022-10-24 15:36] kszicsillag opened #100364 "Commit needed before push"
In step _Generate the Database Schema_, one needs to modify appsettings.json, Program.cs, but no mention of committing to git.
In step _Deploy to the App Service (Deploy using local git)_, also no mention of committing the changes. If one deploys using git push without committing beforehand, the code changes (i.e. the connections string settings) are not applied in Azure. I recommend adding a step

[2022-10-24 15:54] garrodonnell commented on #98325
@theabraxas
We've updated the URL in the article now.

#please-close

[2022-10-24 15:54] gvanteylingen opened #100366 "Put stress on the important note"
Write out does not (versus doesn't) in:

**(i) Important**

Azure NetApp Files availability zone volume placement provides zonal placement. It _does not_ provide proximity placement towards compute. As such, it _does not_ provide lowest latency guarantee. VM-to-storage latencies are within the availability zone latency envelopes.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-10-24 15:55] ssabat commented on #96053
It could be user config issue because you are getting low thruput. The doc is right. Please open a support ticket if needed.

[2022-10-24 16:00] gvanteylingen opened #100367 "Fix link"
Link to Azure’s [Well Architected Framework](https://learn.microsoft.com/en-us/architecture/framework/resiliency/design-best-practices#use-zone-aware-services) is broken

Should be:
https://learn.microsoft.com/en-us/azure/architecture/framework/resiliency/app-design#use-availability-zones-within-a-region
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-24 16:01] gvanteylingen opened #100368 "Fix link"
Link to Azure’s [Well Architected Framework](https://learn.microsoft.com/en-us/architecture/framework/resiliency/design-best-practices#use-zone-aware-services) is broken

Should be:
https://learn.microsoft.com/en-us/azure/architecture/framework/resiliency/app-design#use-availability-zones-within-a-region

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-10-24 16:03] ssabat commented on #95111
@LeMaciek  thanks for feedback.  This doc is how to run pre and post deployment scripts as part of ADO.  ADO steps represent Visual YAML files. You are adding scripts as steps so that they get included properly, but visually.

#please close

[2022-10-24 16:03] gvanteylingen opened #100369 "Put emphasis"
Please put emphasis on "does not"

This feature provides zonal volume placement, with latency within the zonal latency envelopes. It _does not_ provide proximity placement towards compute. As such, it _does not_ provide lowest latency guarantee.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c21b2533-c5fe-6b35-019f-d9f

[2022-10-24 16:03] ssabat commented on #95111
#please-close

[2022-10-24 16:03] PandaBoy00 opened #100370 "Azure Batch Account Tutorial Not working"
Hi there,

Following this 'tutorial' line for line and it doesn't seems to work at all.

All I do when I'm reviewin gmy MyJob is an message that say "The files of the specified task cannot be accessed as the task moved to completed state without running".  It never moved from Active state at all even if I was to let it run for three days.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-10-24 16:05] sadukie opened #100371 "Broken "What is Azure Databricks?" link on Azure Databricks documentation home page"
There doesn't seem to be a feedback link for the general [Azure Databricks documentation](https://learn.microsoft.com/en-us/azure/databricks/) page. However, the "What is Azure Databricks?" link on this page is returning a 404.

The link needs to be updated to go to: [databricks/introduction](https://learn.microsoft.com/en-us/azure/databricks/introduction/) rather than the other link: https://lear

[2022-10-24 16:07] msmimart commented on #99187
Hi @frankchen76, thanks so much for this feedback. We've added this request to an internal work item to be addressed in an upcoming revision of this article. Because we're now tracking the change internally, I'll close this issue. Thanks again!
#please-close

[2022-10-24 16:15] khdownie commented on #91649
#reopen

[2022-10-24 16:21] RichardSmith1208 opened #100372 "IPv6 traffic isn't supported between Azure VNets - but information isn't listed in the IPv6 section of the Azure VNets Overview page."
"**Azure VMs cannot connect over IPv6 to other VMs, other Azure services, or on-premises devices. They can only communicate with the Azure load balancer over IPv6. However, they can communicate with these other resources using IPv4**."

This information **IS** listed on the Load Balancer Overview page (https://learn.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview?source=recomme

[2022-10-24 16:27] barkills-gmail opened #100373 "Wrong syntax"
You've got the wrong syntax twice on this page:

Connect-MgGraph -Scopes "User.Read.All"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 657eb385-653c-09f5-1680-fc83e7e5e25e
* Version Independent ID: 32231ba2-23ee-e4c2-6ce4-eaf80f7d8ffe
* Content: [Clean up unmanaged Azure AD accounts - Azure Active Directory - Microso

[2022-10-24 16:32] #100210 closed

[2022-10-24 16:48] RichardSmith1208 opened #100376 "Azure VNet Overview Page needs to clearly state that IPv6 traffic isn't supported within Azure VNet, without Load Balancer."
"_**Azure VMs cannot connect over IPv6 to other VMs, other Azure services, or on-premises devices. They can only communicate with the Azure load balancer over IPv6. However, they can communicate with these other resources using IPv4**_."

This information **IS** listed on the Load Balancer Overview page (https://learn.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview?source=recom

[2022-10-24 16:53] cynthn commented on #100268
@iamwilliew Can you work with the sizes team to double check the math for the B-series?

[2022-10-24 16:54] Oury-MSFT commented on #100239
@AbdullahMSFT Please see feedback above from @HitenBhavsarMSFT can we add a note to the doc, so customers are aware of the change.

[2022-10-24 16:59] andreyn-msft opened #100377 "The provided sequence for getting the subnet ID of the AKS cluster doesn't seem to work"
I have followed the guidance to get the subnet ID, but it doesn't seem to work for my AKS cluster as `Get-AzVirtualNetwork -ResourceGroupName $CLUSTER_RG` returns nothing.
Any ideas if the snippet is still uptodate?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: baa35e3e-65b0-d980-bd0a-0dcb198fd791
* Version Independe

[2022-10-24 16:59] JFImagery opened #100378 "Page out of date"
This page is no longer up to date. External collaboration settings do not match the screen shots

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3f76cc85-8dc0-9be3-4071-217589ddef56
* Version Independent ID: e7bdba65-bacc-7fef-2c27-b3425f697b12
* Content: [Troubleshooting B2B collaboration - Azure Active Directory - Mi

[2022-10-24 17:00] epomatti commented on #63780
As I understand what @MayankBargali-MSFT explained, credits are not cumulative.

So ,1000 messages/sec is the absolute limit. I would suggest adding this not cumulative behavior explicitly in the docs. I had the impression that, if I don't use the 1000, it would sum to a bigger credit pool, which is not the case.

[2022-10-24 17:03] msmimart commented on #97194
Hi @new-kirte, thank you for passing along your workaround for this issue. We've opened an internal work item to add this to the next revision of the article. Because we're now tracking this internally, I'll close the issue. Thanks again for helping us improve the documentation!
#please-close

[2022-10-24 17:14] MashaMSFT commented on #96927
Hi @helenxfu , thanks so much for helping improve our content! Since your issue was addressed, we'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-10-24 17:14] #96927 closed

[2022-10-24 17:24] msmimart commented on #99050
@alexchen2016 thank you so much for pointing this out. The note you've identified is indeed obsolete; the settings in the UI have since been updated and clarified. I'll remove this note from the documentation. Once the change is merged, this issue will close automatically and the update will publish later today. Thanks again!

[2022-10-24 17:24] pk-orange opened #100379 "TYPE in Docs"
[Enter feedback here]

Achor Link: https://learn.microsoft.com/en-us/azure/active-directory/saas-apps/g-suite-provisioning-tutorial#step-2-configure-g-suite-to-support-provisioning-with-azure-ad

Issue > Second ordered list item, TYPO
- Navigate to Security -> Access and data control -> API Controls  ** .Select** the check box Trust internal,domain-owned apps and then click SAVE

Fix
- Navigate to

[2022-10-24 17:26] pk-orange commented on #100379
re

[2022-10-24 17:38] lucabovo opened #100380 "VPN Gateway P2S OpenVPN with AAD auth: clarification needed for AUDIENCE parameter in "Point-to-site configuration" tab"
Good evening,
I'm analyzing this doc and you need to clarify the section "6. Enable authentication on the gateway"  -->  https://learn.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant-multi-app#enable-authentication
![image](https://user-images.githubusercontent.com/77054756/197588931-71a34a87-f3c6-4e4d-9ee9-cabf4ae255db.png)

As stated in the purple note "Do not use the Azure VPN cli

[2022-10-24 17:43] #99050 closed

[2022-10-24 17:45] laujan commented on #100066
Hi @micli, Thank you for your feedback. We checked the quickstart code using axios version 1.1.3 and wer were unable to replicate your error. Can you please send a screenshot of the error? Thank you again!

[2022-10-24 17:58] LakshmanAVN opened #100382 "How to create multiple instances of Azure enterprise applications"
Hi,

I followed the instructions as per the below articles to integrate aws clientvpn federated authentication with Azure AD and it is working as expected for non-prod.
https://learn.microsoft.com/en-gb/azure/active-directory/saas-apps/aws-clientvpn-tutorial
https://docs.aws.amazon.com/vpn/latest/clientvpn-admin/client-authentication.html#federated-authentication

I tried to create same AWS Client

[2022-10-24 18:25] a-kubicz opened #100384 "Unable to write queries in demo environment"
The demo environment doesn't allow me to write queries. I'm able to follow the tutorial until the 'Write a Query' section, but any attempt to select the table or type into the query window fails. If you refer to the image below, you can see that my mouse doesn't recognize the window as an input element.

![image](https://user-images.githubusercontent.com/107582072/197597961-e8fdee0e-8333-47f3-9593

[2022-10-24 18:27] MicrosoftGuyJFlo commented on #99757
Per the PG, yes terms of use are supported in Azure China. #please-close

[2022-10-24 18:27] #99757 closed

[2022-10-24 18:35] ericd-mst-github opened #100385 "PS Get-AzVM OS filtering does not appear to be working correctly."
Hi, the [PowerShell](https://learn.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows?source=docs#powershell) example scripts for Get-AzVM on Windows or Linux filtering does not appear to be accurate.

For example: I have 3 VMs deployed, 1 Linux and 2 Windows. Using the above Linux and Windows Get-AzVM scripting examples appear to list all 3 VMs regardless of OS filtering in the s

[2022-10-24 18:37] timwarner-msft commented on #100333
Hi @realrubberduckdev. For your use case I'd recommend using *All*. Technically it doesn't matter because, as you correctly stated, Key Vault supports both taxonomic tags and location.

However, because you aren't including those properties in your policy evaluation, *All* is fine.

Thanks,
Tim

[2022-10-24 18:37] timwarner-msft commented on #100333
#please-close

[2022-10-24 18:38] #100333 closed

[2022-10-24 18:38] khdownie commented on #91649
@gamon73 were you using PowerShell 7 or PowerShell 5?

[2022-10-24 18:39] jagojar opened #100387 "Error in command to get the Account_Id"
Under the section **Assign role permissions to a user or group**:

The next command has an error:
ACCOUNT_ID=$(az ad user show --id $ACCOUNT_UPN --query **objectId** -o tsv)

objectId has to be id

ACCOUNT_ID=$(az ad user show --id $ACCOUNT_UPN --query **id** -o tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: baa6

[2022-10-24 18:55] axlee39 opened #100389 "Event Grid - Delayed delivery details"
[From this section](https://learn.microsoft.com/en-us/azure/event-grid/delivery-and-retry#delayed-delivery):

Is there a concrete set of times that a delivery might be delayed by? This is different from the exponential backoff, which has a table of times further up in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-10-24 19:04] jonburchel commented on #95734
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://feedback.azure.com/d

[2022-10-24 19:04] #95734 closed

[2022-10-24 19:13] #95167 closed

[2022-10-24 19:15] RoseHJM commented on #100303
Hi @dmw5678, thanks for taking the time to raise this issue.
I've updated the PUT and GET examples in the [Configure a shared image gallery in Azure DevTest Labs](https://learn.microsoft.com/en-us/azure/devtest-labs/configure-shared-image-gallery).
It'll take a few hours for the changes to propagate to the public documentation. so please check back later if you don't see the updates immediately.
I

[2022-10-24 19:15] RoseHJM commented on #100303
#please-close

[2022-10-24 19:24] mikerains opened #100391 "The subscription Key is not visible in the Test Page as described"
The tutorial explains using the Test tab to test the api, and it says the Subscription Key is shown.  But in the current portal, the key is not visible unless the user clicks on the "eye" icon to reveal it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 59

[2022-10-24 19:28] BretUst opened #100392 "This statement is incorrect - You cannot purchase Defender for Endpoint for Server any longer (as of Sept 2022)."
This page is no longer correct.

Per this link - as of Sept 2022, Defender for Endpoint for Server is no longer GA, and this document should reflect the same. Please remove this messaging as it is null at this point.

https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/onboard-windows-server?view=o365-worldwide#license-requirement
"As of Sept 2022, MDE for Server is no longe

[2022-10-24 19:42] lielu opened #100393 "Typo in LTS support end date"
[Enter feedback here]
There is a typo of the end date of the LTS 1.4: it should be November 12, 2024, not 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a51ce61-e530-1794-b76d-23040b2c46d4
* Version Independent ID: b07d1fff-1868-1a02-2756-510fee13bed6
* Content: [IoT Edge version navigation and history - Azure

[2022-10-24 20:01] nkrebsbach opened #100396 "Cached metrics for Ds_V4"
For the Standard DS V4 vm's - premium storage caching is supported, but there are no metrics in the graph for the cached iops/mbps and cache size.  Same issue for the V5's.

For the Dsv3's the data exists in these columns:

Max cached and temp storage throughput: IOPS/MBps (cache size in GiB)
Max burst cached and temp storage throughput: IOPS/MBps2

Is it possible to add this information?

Thank y

[2022-10-24 20:07] ChaitanyaNaykodi-MSFT commented on #100372
@RichardSmith1208 ,

Thank you for your feedback. As this document has been superseded by [IPv6 for Azure VNet Overview](https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/ipv6-overview). I will proceed to close this issue out as duplicate of #100372 and I will be assigning it to the author for further review and action.

![image](https://user-images.githubusercontent.com/67453298

[2022-10-24 20:07] #100372 closed

[2022-10-24 20:09] ChaitanyaNaykodi-MSFT commented on #100376
@RichardSmith1208 ,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-24 20:24] sabbour commented on #99559
@MarekLani  The source code of the Web App Routing add-on is here: https://github.com/Azure/aks-app-routing-operator
The current version of the nginx controller that's deployed with the Web App Routing is v 1.2.1 (https://github.com/Azure/aks-app-routing-operator/blob/main/pkg/manifests/manifests.go#L257). We deploy an internal build of the upstream project with no further modifications.

[2022-10-24 20:26] artisticcheese commented on #92908
Where did you get information about additional parameters for system assigned identities `AzureWebJobsStorage__clientId`? I was unable to find it in documentation and accidentally stumbled upon this issue.

[2022-10-24 20:26] Leahy001 opened #100397 "Netmask Input"
Hello!

I have noticed when using a subnet prefix such as /24 for the netmask parameter, an error presents when using the run command. When I use the dotted decimal such as 255.255.255.0 in the netmask portion, the run command runs without errors. Can the documentation please be updated to reflect working notation in parameters please.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-10-24 20:34] ChaitanyaNaykodi-MSFT commented on #100380
@lucabovo
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-24 20:54] mike-f50 opened #100399 "Unclear regional availability for SFTP support"
The page states "SFTP support for Azure Blob Storage is not yet generally available in the West Europe region."  Does this mean it _is_ generally available in other regions?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 13064915-f5c2-0a20-48cd-53705e47b396
* Version Independent ID: 5d4cd440-02d0-9684-0b12-e59

[2022-10-24 21:02] unkinected opened #100401 "ACU information"
Can you please add ACU information to this page? We've been using the Edsv4 series and I don't know if it's worth it to move to the v5 series. Similarly, the Edsv5 series is missing from the ACU page: https://learn.microsoft.com/en-us/azure/virtual-machines/acu

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d3a25abf-5

[2022-10-24 21:04] bandersmsft commented on #100331
Hi @yertaylan67. Yes, it's true. I've updated the article to echo information that's on the self-service exchange article and add specific trade-in dates with "Until December 31, 2023 you can trade-in your Azure reserved instances for compute for a savings plan."

https://github.com/MicrosoftDocs/azure-docs-pr/pull/215673

#please-close

[2022-10-24 21:04] #100331 closed

[2022-10-24 21:07] aholler2 opened #100402 "All Supported Regions Not Listed"
I know at least South Central US is a supported AZ redundancy region for app service plans. I deployed one today. The list on this page is not up to date.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef86ae6-02f7-b8dd-5530-519ba21d153d
* Version Independent ID: 6274feaa-aa0a-721b-fb18-2dce06cec13e
* Content: [Migra

[2022-10-24 21:10] cherylmc commented on #83700
We've updated the documentation. The change will publish this week. Thanks! #please-close

[2022-10-24 21:10] #83700 closed

[2022-10-24 21:26] DeanGross opened #100405 "Which services don't have native threat detection capability"
Please provide a listing of the services that don't have native capability that we should consider for data plane log collection

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ddb4efa0-598e-c461-0617-c5299d0c3efa
* Version Independent ID: ddb4efa0-598e-c461-0617-c5299d0c3efa
* Content: [Microsoft cloud security benchm

[2022-10-24 21:35] khdownie commented on #87046
@marcelkmfst added clarification here. It's not practical to detail every situation that involves more than one transaction but this is the concept:

When you read or write to a file, the application you are using performs a series of API calls to the file system API provided by your operating system. These calls are then interpreted by your operating system into SMB protocol transactions, which a

[2022-10-24 21:41] arindam0310018 opened #100406 "REST API Reference missing: SFTP Support for Azure Blob Storage"
Hello Team,

I noticed that there is no mention of REST API reference for SFTP Support for Azure Blob Storage.

I checked in the below documentations and could not find -
- https://learn.microsoft.com/en-us/rest/api/storageservices/
- https://learn.microsoft.com/en-us/azure/storage/blobs/secure-file-transfer-protocol-support

Please let me know if this available else where OR if its is not availab

[2022-10-24 21:50] ChaitanyaNaykodi-MSFT commented on #100360
@yertaylan67
Thank you for your feedback! We will review and update as appropriate.

[2022-10-24 21:52] cherylmc commented on #100380
Yes, you use the Application (client) ID from step 9. I can update the note to make that more apparent. The note was added because people were mistakenly using the application ID of the VPN client itself. Thanks for letting me know the wording is confusing! #please-close

[2022-10-24 21:52] #100380 closed

[2022-10-24 21:57] cherylmc commented on #100380
Also, I'm sending the article through for a full review.

[2022-10-24 22:00] kamfaima commented on #99600
Hello, is there any update on this?

[2022-10-24 22:10] arindam0310018 opened #100407 "Assign a Key Vault access policy - Update Screenshots in the Documentation"
Hello Team,

Key Vault Access Policy UI has changed.
Request you to update the Screenshots in the Documentation.

**Link to the Documentation -** https://learn.microsoft.com/en-us/azure/key-vault/general/assign-access-policy?tabs=azure-portal

**New UI Reference Screenshot:-**

![image](https://user-images.githubusercontent.com/29681063/197639365-fc0bad2f-0c0a-4804-8b36-595d83e5f7a9.png)

Many Tha

[2022-10-24 22:23] AjayBathini-MSFT commented on #100348
@jonbprogramming
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:25] AjayBathini-MSFT commented on #100349
@CarreEau
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:26] AjayBathini-MSFT commented on #100350
@eubreno
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:27] AjayBathini-MSFT commented on #100165
@tasdflkjweio
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-24 22:27] #100165 closed

[2022-10-24 22:29] AjayBathini-MSFT commented on #100351
@KurtSchenk
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:31] AjayBathini-MSFT commented on #100353
@maskati
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:32] AjayBathini-MSFT commented on #100354
@JeffZheng666
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-24 22:33] AjayBathini-MSFT commented on #100355
@Dusted1969
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:35] AjayBathini-MSFT commented on #100358
@amiddles
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-24 22:37] AjayBathini-MSFT commented on #100362
@ctimonjr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:38] AjayBathini-MSFT commented on #100363
@GouravGit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:40] AjayBathini-MSFT commented on #100364
@kszicsillag
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:41] b-ahibbard commented on #100369
@gvanteylingen - This change has been applied to the [Manage availability zone volume placement for Azure NetApp Files](https://learn.microsoft.com/en-us/azure/azure-netapp-files/manage-availability-zone-volume-placement)
#please-close

[2022-10-24 22:43] AjayBathini-MSFT commented on #100366
@gvanteylingen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:44] AjayBathini-MSFT commented on #100367
@gvanteylingen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:46] AjayBathini-MSFT commented on #100368
@gvanteylingen
Duplicate of #100367

[2022-10-24 22:46] #100368 closed

[2022-10-24 22:48] AjayBathini-MSFT commented on #100370
@PandaBoy00
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:49] AjayBathini-MSFT commented on #100371
@sadukie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:50] AjayBathini-MSFT commented on #100373
@barkills-gmail
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:51] AjayBathini-MSFT commented on #100377
@andreyn-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:52] AjayBathini-MSFT commented on #100378
@JFImagery
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:53] AjayBathini-MSFT commented on #100379
@pk-orange
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:55] AjayBathini-MSFT commented on #100382
@LakshmanAVN
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-24 22:57] AjayBathini-MSFT commented on #100384
@a-kubicz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 00:41] GennadNY commented on #99974
@Oury-MSFT - this has been fixed, can we close.

[2022-10-25 00:45] GennadNY commented on #100120
@dbgitrdone - reason why firewall rules page doesn't go in detail around VNET integration is that you cannot deploy these rules in that networking configuration. I will add a sentence mentioning so.

@GeethaThatipatri-MSFT - can we close?

[2022-10-25 01:15] alexchen2016 commented on #98685
@YashikaTyagi-MSFT @msmimart
Any reply? Thanks.

[2022-10-25 02:12] AaronGeorgeson opened #100410 "Incorrect Photo for Section"
The wrong photo is used in the ["Enable password writeback for SSPR" ](https://learn.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr-writeback#enable-password-writeback-for-sspr) section.  Said photo is of configuration in Azure AD Connect, instead of Azure AD.  In fact it's the same photo from earlier in the article.

---
#### Document Details

⚠ *Do not edit this s

[2022-10-25 02:33] AshokPeddakotla-MSFT commented on #100393
@lielu Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-25 02:41] amiddles commented on #100358
So basically this code works in a command line app at my home over the public protocol, but it no longer works when executed on the VM inside the azure datacenter.  It appears that the internal routing has likely changed and that's why it was working one day and then stopped the next.  It does not matter what API version I used either. I've tried the latest one 1.24.0 and also tried going back to

[2022-10-25 03:16] YashikaTyagi-MSFT commented on #100188
@99Edorde
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-25 03:16] #100188 closed

[2022-10-25 03:26] YashikaTyagi-MSFT commented on #100122
@benoithamet
Apologies for the delayed response. I am assigning this issue to author to provide inputs.

[2022-10-25 03:27] epomatti opened #100411 "Clarification on all-active or stand-by operations of Service Bus cluster on multi-AZ deployment"
In the beginning of the article there is [this](https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-geo-dr#:~:text=The%20all%2Dactive%20Azure%20Service%20Bus%20cluster%20model%20with%20availability%20zone%20support) segment which defines the multi-AZ cluster as "all-active":

However, in [this other segment](https://learn.microsoft.com/en-us/azure/service-bus-messaging/servic

[2022-10-25 03:30] Naveenommi-MSFT commented on #100371
@mssaperla

Could you please review this and update as appropriate.

<img width="919" alt="image" src="https://user-images.githubusercontent.com/113576472/197673621-4e8bea89-f6c4-47f6-950a-d2b0d6f29833.png">

[2022-10-25 03:30] Naveenommi-MSFT commented on #100371
@sadukie
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-25 03:37] epomatti opened #100412 "Does zone-redundant Service Bus add additional costs?"
I couldn't find in the documentation if enabling Zone Redundancy for Service Bus will add costs due to the service syncing data across two stand-by replicas spread around multiple availability zones, as opposed of having a Service Bus namespace which has multi-AZ disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-10-25 03:56] thierrytropee opened #100414 "What is the exact difference between Query and NonQuery in scripts.type"
Is it possible to provide clear recommendantions on when to use Query vs NonQuery ? Will for instance in some circumstances a DDL statement fail if I run a CREATE statement with Query being selected ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b0e64407-55e5-d56f-25e7-c9e080501372
* Version Independent ID: 1a1240c7

[2022-10-25 04:10] Venkateshdodda-MSFT commented on #100402
@aholler2 Thank you for your feedback! We will review and update as appropriate.

[2022-10-25 04:14] YashikaTyagi-MSFT commented on #100129
@tanjakersten
Apologies for the delayed response. I am assigning this issue to Author. @rolyon Please review it.

[2022-10-25 04:18] YashikaTyagi-MSFT commented on #100199
Apologies for the delay response. I am assigning this issue to author. @billmath   Please review it.

[2022-10-25 04:19] AjayBathini-MSFT commented on #100385
@ericd-mst-github
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:20] AjayBathini-MSFT commented on #100387
@jagojar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:24] AjayBathini-MSFT commented on #100389
@axlee39
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:25] YashikaTyagi-MSFT commented on #100202
@danielharkerdp
Apologies for the delayed response. I have assigned the issue to author. @Justinha please review.

[2022-10-25 04:26] AjayBathini-MSFT commented on #100391
@mikerains
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:29] AjayBathini-MSFT commented on #100392
@BretUst
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-25 04:30] AjayBathini-MSFT commented on #100396
@nkrebsbach
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:32] AjayBathini-MSFT commented on #100397
@Leahy001
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:33] AjayBathini-MSFT commented on #100399
@mike-f50
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:34] AjayBathini-MSFT commented on #100401
@unkinected
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:35] AjayBathini-MSFT commented on #100406
@arindam0310018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:37] AjayBathini-MSFT commented on #100405
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:39] AjayBathini-MSFT commented on #100407
@arindam0310018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:39] AjayBathini-MSFT commented on #100407
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-10-25 04:41] AjayBathini-MSFT commented on #100410
@AaronGeorgeson
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-25 04:45] AjayBathini-MSFT commented on #100411
@epomatti
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:48] AjayBathini-MSFT commented on #100412
@epomatti
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 04:50] AjayBathini-MSFT commented on #100414
@thierrytropee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 05:02] SnehaAgrawal-MSFT commented on #100055
@meepstei Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-10-25 05:05] AjayBathini-MSFT commented on #100358
Hi @amiddles
I can understand your feedback. Kindly please provide the Micrsoft document link you are following the steps. So we can be able to help and resolve the issue.

Thanks!

[2022-10-25 05:22] SaibabaBalapur-MSFT commented on #100269
@Candelit
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-25 05:27] SaibabaBalapur-MSFT commented on #100304
@fschmied
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-25 05:28] SaibabaBalapur-MSFT commented on #100304
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-25 05:30] RamanathanChinnappan-MSFT commented on #100133
#sign-off

[2022-10-25 05:30] #100133 closed

[2022-10-25 05:31] SturgeonMi commented on #100075
Created https://github.com/MicrosoftDocs/azure-docs-pr/pull/215730

[2022-10-25 05:31] SaibabaBalapur-MSFT commented on #100323
@showpune
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-10-25 05:32] Candelit commented on #100269
Eh, sorry, but did you ever read my input? Its 100% relevant to improving Docs…
The article today is unclear, unfinished and wrong.
I tried to help you, me and every other customer is all.

I do not need help from support, where did you read that?

Regards
Thomas

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Saibaba Balapur Hireka ***@***.***>
Sent: Tuesd

[2022-10-25 05:33] AshokPeddakotla-MSFT commented on #100393
@lielu Thanks again for the feedback. Changes were done already.

<img width="349" alt="image" src="https://user-images.githubusercontent.com/44426435/197690795-301c1c58-438d-4d29-817d-856657dc3e50.png">

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-25 05:41] AshokPeddakotla-MSFT commented on #100393
@lielu PR has been created to fix the date. Changes will be done once it has been peer reviewed and merged. This issue will be closed automatically once PR merged. Do let us know if you have any further queries.

[2022-10-25 05:41] SaibabaBalapur-MSFT commented on #100335
@Mishco
Thank you for pointing this out.  We have created a PR for this issue and the changes should go live soon.

[2022-10-25 05:43] SaibabaBalapur-MSFT commented on #100269
@Candelit
I have reopened this case and assign this to the document author so they can take a look at it accordingly.

[2022-10-25 05:48] #100393 closed

[2022-10-25 05:52] ManoharLakkoju-MSFT commented on #100268
@rishabv90
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-25 05:53] ManoharLakkoju-MSFT commented on #100268
@rishabv90
Can you please check and add your comments on this doc update request as applicable.

[2022-10-25 06:05] RamanathanChinnappan-MSFT commented on #100236
@betolauda

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365commun

[2022-10-25 06:05] #100236 closed

[2022-10-25 06:06] v-amallick commented on #99315
@eric-PBI - Sorry for delay in responde. We are tracking this internally. will update soon.

[2022-10-25 06:11] v-amallick commented on #99105
@matt961 - request you to please share more details on the command that needs changes, and the error you encounter. Thanks!

[2022-10-25 06:16] RamanathanChinnappan-MSFT commented on #100254
@sunnybansalmsft

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-25 06:19] YashikaTyagi-MSFT commented on #100287
@starbuck3000
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-10-25 06:19] #100287 closed

[2022-10-25 06:21] batamig commented on #100231
Hi and thanks for your feedback! Tagging a current content owner - @yelevin , can you take a look?

[2022-10-25 06:27] kmathewmk opened #100416 "Optimal block size for reading from blobs"
Could you please detail the optimal block size to use when reading from the various blob types? Some do's and dont's would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6cca4823-69a3-0b1a-059a-3a0605ed74ce
* Version Independent ID: 8e8299f1-e618-f1d1-bed2-0e3f4e05829e
* Content: [Performance and scalabili

[2022-10-25 06:32] YashikaTyagi-MSFT commented on #100292
@AlexFilipin
Thanks for pointing this out. Required changes have been made and visible in the document itself. I am going to close this thread now. Please feel free to reach out.

[2022-10-25 06:32] #100292 closed

[2022-10-25 06:45] ntrogh commented on #100226
@bartvermeersch Thanks a lot for reaching out! The only requirement when attaching a VNet to a Lab Plan is that it needs to be in a subscription as part of the same AAD tenant (can be a different subscription) and the user creating the lab plan must have “Subnet/Join” access to that subscription.
The Azure portal only shows VNETs in the same subscription. To use another subscription, you can use A

[2022-10-25 06:56] KapilAnanth-MSFT commented on #100247
@jngibert,

I had checked this internally and our Product Team has confirmed the documentation is correct.

[2022-10-25 07:11] RamanathanChinnappan-MSFT commented on #100258
@dem108

could you please review this and update as appropriate.

[2022-10-25 07:11] yodobrin opened #100418 "Billing by factory/pipeline is only available in ADF"
While the document refers to both ADF and Synapse pipeline, the preview feature is not (yet?) available for Synapse pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee2df95-5904-e9e5-be02-e6d3d4285c80
* Version Independent ID: 8c07da4a-448c-4926-32fc-d673d35f8db8
* Content: [Plan to manage costs for Azure Da

[2022-10-25 07:13] YashikaTyagi-MSFT commented on #100310
@artisticcheese
Thanks for pointing this out. I am assigning this case to author. @MicrosoftGuyJFlo Please review it

[2022-10-25 07:18] SaibabaBalapur-MSFT commented on #100335
#closed

[2022-10-25 07:18] #100335 closed

[2022-10-25 07:27] YashikaTyagi-MSFT commented on #100315
@sarah19990
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue th

[2022-10-25 07:27] #100315 closed

[2022-10-25 07:34] limanea commented on #99959
Yes. I did add the using directive.

[2022-10-25 07:41] GitaraniSharma-MSFT commented on #100076
@rockboyfor , I'm following up on my previous comment. Could you please provide some details?

[2022-10-25 07:56] yichungyu opened #100420 "Can we add a note reminding users to update the AI instrumentation key if the key is regenerated on the AI side?"
My customer reported an issue where APIM stopped sending data to AI after both resources were recovered from an accidental deletion. After investigation, we found that the AI instrumentation was refreshed after the recovery, but the APIM logger was still using the old key. The issue was resolved when the customer manually entered the value of the new instrumentation key in the logger via Azure Por

[2022-10-25 08:11] RamanathanChinnappan-MSFT commented on #100254
#sign-off

[2022-10-25 08:11] #100254 closed

[2022-10-25 08:13] bartvermeersch commented on #100226
Thank you for the info!

[2022-10-25 08:38] vgool opened #100423 "Clarification requested on API Management calling Traffic Manager ending up in wrong region"
I have a question regarding API Management which is calling a Traffic Manager, where the API Request ends up in the wrong (regional) endpoint.

**Situation:**
We have a multi regional API Management setup (regions in West Europe [primary], East US and Southeast Asia).
My API in API Management does nothing more than forward the request to a Traffic Manager which points to 3 API Apps as deployed in

[2022-10-25 08:39] RamanathanChinnappan-MSFT commented on #100289
@TrzeciLacek

Thanks for your suggestion!!

It is also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:

Navigate to the page of interest
Select the "Edit" button at the top right of the page
Select the "Pencil" icon on the right
Mod

[2022-10-25 08:42] RamanathanChinnappan-MSFT commented on #100311
@data-architect-actioncontrelafaim

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there s

[2022-10-25 08:42] #100311 closed

[2022-10-25 08:53] ulkeba commented on #99271
Thanks, @shlipsey3 for the update.

I was wondering if it would also make sense to remove the usage of 'inherit' from following sentences:

and

I think that would make sense to ensure consistency and avoid irritation.

[2022-10-25 08:55] jahirul2022 commented on #100261
Hi @GeethaThatipatri-MSFT / @YashikaTyagi-MSFT  ,  Please provide some update .

[2022-10-25 09:09] ntrogh commented on #100226
#please-close

[2022-10-25 09:09] Shr3ps commented on #98088
Any news on this?

[2022-10-25 09:09] alexespencer commented on #47501
Could we also get some guidance as how to mock a HTTP request with a files section?

You can access files when processing a HTTP request like this: `file = req.files["file"]`

...so I was rather expecting to be able to set the `func.HttpRequest.files` property somehow but it's read only.

[2022-10-25 09:12] gvanteylingen commented on #100368
This is not a duplicate, same issue exist in TWO different documents:
https://learn.microsoft.com/en-us/azure/azure-netapp-files/use-availability-zones
https://learn.microsoft.com/en-us/azure/azure-netapp-files/whats-new

Hence me opening two feedback requests.

[2022-10-25 09:13] alexespencer commented on #47850
You could try something like this:
[code]

[2022-10-25 09:15] fardarter opened #100426 "Include example for Azure Devops"
Please include an Azure Devops example

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0bddf9-8d20-459b-ed02-3a7520b9fa12
* Version Independent ID: fee8f15e-7567-450a-dc89-7a1c35b37301
* Content: [Create an App Service app using a Terraform template - Azure App Service](https://learn.microsoft.com/en-us/azure/app-ser

[2022-10-25 09:28] RamanathanChinnappan-MSFT commented on #100276
@enkrumah

could you please review this and update as appropriate.

[2022-10-25 09:28] RamanathanChinnappan-MSFT commented on #100276
@VEshelbyMTT

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-25 09:39] raphaotten commented on #74092
To follow on, as I have the same question: Is there documentation on what "maxMemoryInMb" limit setting does? Doesn't seem to work for me with a Linux App Service using a docker container.

[2022-10-25 09:39] alexespencer commented on #47501
I found the source code for `azure.functions.HttpRequest` and managed to create and test this. Slightly messy construction of the data element , but works:

[code]

[2022-10-25 09:53] SaibabaBalapur-MSFT commented on #100367
@gvanteylingen
Thanks for pointing out this, I have assigned this to the document author so they can take a look at it accordingly.

@b-hchen
Please updated broken link.

https://learn.microsoft.com/en-us/architecture/framework/resiliency/design-best-practices#use-zone-aware-services

<img width="842" alt="image" src="https://user-images.githubusercontent.com/111563669/197741854-d69f350c-7ef4-4909

[2022-10-25 09:58] yelevin commented on #100231
@bwren Do you know how to answer this? Thanks.

[2022-10-25 10:16] AshokPeddakotla-MSFT commented on #100189
@sekharkumar Apologies for the delayed response. Could you confirm if you would like to Partially update module twin or replace Replace desired properties?

There is a documentation on updating module twin https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#back-end-operations

[2022-10-25 10:19] rverkerk opened #100430 "What do you think sku means?"
In general, don’t use abbreviations.
But hey; wdik.
I do not understand what “stock keeping unit” has to do with software versions.
Is it a release version or not?
private link; is it still in public preview or not?
And how does this relate to the “SKU” in the application gateway v2 version.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub is

[2022-10-25 10:31] ezYakaEagle442 opened #100431 "Add trouble shoot section about DNS private-zone"
You Need 3 Records in the DNS, this is not documented :

- asaInstanceName.private.azuremicroservices.io => service runtime 'kubernetes-internal' ILB IP
- asaInstanceName-myAppName.private.azuremicroservices.io => service runtime 'kubernetes-internal' ILB IP
- asaInstanceName.svc.private.azuremicroservices.io => service runtime 'kubernetes-internal' ILB IP - REQUIRED to communicate with managed se

[2022-10-25 10:35] ezYakaEagle442 opened #100432 "Custom-Domain doc should be added also in the How-To/Secure section"
[https://learn.microsoft.com/en-us/azure/spring-apps/tutorial-custom-domain?tabs=Azure-portal](https://learn.microsoft.com/en-us/azure/spring-apps/tutorial-custom-domain?tabs=Azure-portal) should be added also in the How-To/Secure section as the users would look first in the How-To/Secure section

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitH

[2022-10-25 10:38] ezYakaEagle442 opened #100433 "Doc missing Records about DNS private-zone"
You Need 3 Records in the DNS, this is not documented :

asaInstanceName.private.azuremicroservices.io => service runtime 'kubernetes-internal' ILB IP
asaInstanceName-myAppName.private.azuremicroservices.io => service runtime 'kubernetes-internal' ILB IP
asaInstanceName.**svc**.private.azuremicroservices.io => service runtime 'kubernetes-internal' ILB IP - REQUIRED to communicate with managed serv

[2022-10-25 10:50] ezYakaEagle442 opened #100435 "Key-Vault private-link IP missing for France-Central Region"
1 IP address is missing at [https://learn.microsoft.com/en-us/azure/spring-apps/tutorial-custom-domain?tabs=Azure-portal#keyvault-private-link-considerations](https://learn.microsoft.com/en-us/azure/spring-apps/tutorial-custom-domain?tabs=Azure-portal#keyvault-private-link-considerations) for France-Central Region :

20.74.97.5

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-10-25 10:51] SumanthMarigowda commented on #100057
@JV-conseil Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in you

[2022-10-25 10:51] #100057 closed

[2022-10-25 10:53] SumanthMarigowda commented on #100048
@adi-garg Firstly, apologies for the delay in responding here!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-10-25 10:55] ezYakaEagle442 commented on #95119
also at :

- [https://learn.microsoft.com/en-us/azure/spring-apps/concept-security-controls](https://learn.microsoft.com/en-us/azure/spring-apps/concept-security-controls)
- [https://learn.microsoft.com/en-us/azure/spring-apps/security-controls-policy](https://learn.microsoft.com/en-us/azure/spring-apps/security-controls-policy)
- [https://learn.microsoft.com/en-us/security/benchmark/azure/baselin

[2022-10-25 11:04] Naveenommi-MSFT commented on #100291
Hi @vittalmanikonda
Could you please go through this below link for your reference. Thanks.

https://learn.microsoft.com/en-us/azure/databricks/administration-guide/users-groups/groups#:~:text=within%20the%20workspace.-,Add%20groups%20to%20workspaces,to%20hide%20the%20drop%2Ddown%20list%20and%20show%20the%20Confirm%20button.,-Remove%20a%20user

if there are any further questions regarding the docu

[2022-10-25 11:14] red-erik commented on #99628
Hello,
any news on that? It should be simple:
The suggested command on you page is not working, it needs to be escaped into the proper way.
Regards,
Red.

[2022-10-25 11:19] SaibabaBalapur-MSFT commented on #100351
@KurtSchenk
I'm going to assign this to the document author so they can take a look at it accordingly.

@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-10-25 11:24] pferrot commented on #90225
+1

[2022-10-25 11:31] vicancy commented on #99773
Looks like HTTP headers required by WebSocket requests ( **Connection: Upgrade** and **Upgrade: websocket** ) are removed by cloudflare service.

[2022-10-25 11:33] nimsim opened #100438 "Form to open "No Public IP" preview can't be opened."
From the documentation:

The form URL is not opened to customers, as we're getting a permission error:

Can you please open this up so that we can opt in the preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 750a9fd2-b807-0eff-2495-0cbcf3564b03
* Version Independent ID: d3be69a7-18d9-9b22-8424-92f0f43ccaa0
* Con

[2022-10-25 11:39] subodhpatil opened #100439 "The maximum number of members in groups assigned to a Gateway is 390 is ocnfusing"
[Enter feedback here]
Regarding below:

The maximum number of groups that can be referenced by a single Point-to-site VPN Gateway is 90. The maximum number of members in groups assigned to a Gateway is 390. However, if a group is assigned to multiple connection configurations on the same Gateway, this group and its members are counted multiple times towards the limits. For example, if there's a po

[2022-10-25 11:39] KapilAnanth-MSFT commented on #100273
Hi @TomaszWRutkowski ,

Yes, I am able to reproduce this now.
It appears Private DNS Zones linked to Private EndPoints behave differently and have least precedence.

I shall get this checked and update here.

Thanks again for bringing this to our attention.

[2022-10-25 11:56] Naveenommi-MSFT commented on #100251
@jboback
Could you please review this and update as appropriate.

[2022-10-25 11:57] Naveenommi-MSFT commented on #100251
@jesweare

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-25 11:59] gdubya commented on #86103
@lucabovo my personal conclusion was that this was the root cause of the problem for us

[2022-10-25 12:05] RohitMungi-MSFT commented on #100143
@Jessieliu111 I believe the directory structure of the [repo ](https://github.com/Azure/azureml-examples)has changed and could be causing issue while running the scripts. The changes should be the following:

`- script: pip install -r sdk/dev-requirements.txt`
to
`- script: pip install -r sdk/python/dev-requirements.txt`

    `filePath: 'sdk/setup.sh'`
to
    `filePath: 'sdk/python/setup.sh'`

`wo

[2022-10-25 12:25] mhamilton723 commented on #100274
I think this isnt the fix. This hsould work OOTB on synapse, Can you try this example, keeping the wav file intact:

https://github.com/microsoft/SynapseML/blob/master/notebooks/features/cognitive_services/CognitiveServices%20-%20Overview.ipynb

If the following example does not work. Then we have a bigger problem. If it does work but the example fails when you use an mp3, then we need to run this

[2022-10-25 12:31] GeethaThatipatri-MSFT commented on #99993
@cveld We will proceed to close this issue now.If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-10-25 12:31] #99993 closed

[2022-10-25 12:31] AjayBathini-MSFT commented on #100329
@alexxiongxiong
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-25 12:37] AjayBathini-MSFT commented on #100345
@JaimeBotiaLanzas
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-25 12:45] Jvekka opened #100441 "Wrong kind of API reference in Bicep."
Onboard an Azure virtual machine, Template file for Bicep includes

[code]

It should not have '@' before version.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4776c9f5-e298-678b-c5f6-64c9ed0d082e
* Version Independent ID: 223a92c8-5baa-0999-1ace-0c49b0071743
* Content: [Resource Manager template samples for VM insi

[2022-10-25 12:48] AjayBathini-MSFT commented on #100387
@jagojar
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-25 12:50] #100329 closed

[2022-10-25 12:51] #100345 closed

[2022-10-25 12:54] AjayBathini-MSFT commented on #100416
@kmathewmk
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 13:00] AjayBathini-MSFT commented on #100418
@yodobrin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 13:03] GitaraniSharma-MSFT commented on #100430
@rverkerk , thank you for your query. We'll review this and get back to you shortly!

[2022-10-25 13:04] GitaraniSharma-MSFT commented on #100439
@subodhpatil , thank you for your query. We'll review this and get back to you shortly!

[2022-10-25 13:04] #100387 closed

[2022-10-25 13:07] iww9 commented on #100274
Thanks @mhamilton723.
The wav file example runs successfully.

How can you run that script on the synapse workers?

[2022-10-25 13:09] Naveenommi-MSFT commented on #100342
@chengyuliu-msft

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-25 13:11] batamig commented on #100348
Hi @jonbprogramming, thanks for taking the time to write into docs. Indeed, these sample screenshots need to be fixed. I've added this to our short-term backlog and we'll get it fixed in an upcoming publish.
I'm closing this issue for now only to prevent double tracking, but feel free to continue commenting as needed.

Thanks for your contribution to Microsoft docs!
#please-close

[2022-10-25 13:11] #100348 closed

[2022-10-25 13:13] trstroem opened #100443 "Some inconsistencies in our documentation"
Hi, I wanted to provide some input on this doc page since I've been using it to install the Sentinel agent a few times. First of all, step 1 - download the SAP SDK to the agent machine - should be placed further down in the list of steps. You cannot install the SDK on a machine you haven't created yet (steps 2 onwards relate to creating the VM... this is out of order). Secondly, the step about cre

[2022-10-25 13:17] Klaas- opened #100444 "Azure Host Servicing"
I am trying to figure out what
https://learn.microsoft.com/en-us/azure/virtual-network/accelerated-networking-how-it-works#azure-host-servicing
really means :)

How often are such service requests performed? Is something that is constantly happening or should I be worried if this happens a lot?
I am looking at a server where this happend ~900 times in a 1h window. Then the azure node crashed :)

G

[2022-10-25 13:21] Klaas- commented on #100444
Log Output:
[code]

Associated support case with the hypervisor crash 2210170050001435

[2022-10-25 13:21] sumitmalik51 commented on #100163
Hi @samuel100 , do we have any upcoming fix for this soon?

[2022-10-25 13:24] fardarter opened #100445 "Please include some log analytics queries to see the logs"
Please include some log analytics queries to see the logs

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 86ace6da-e626-2877-de58-0a8b6999d431
* Version Independent ID: 740682ab-690c-7bf1-4c28-7e6bf4ce3f18
* Content: [Enable Azure Network Watcher](https://learn.microsoft.com/en-us/azure/network-watcher/enable-network-w

[2022-10-25 13:24] langeschro opened #100446 "Recommend to use NTP pools additionally? Prefer PHC?"
For GCP it is recommended to remove the other time sources.
Should we do the same for Azure? (My Rocky 8 image uses 2.pool.ntp.org additionally)
What is the Microsoft recommendation?

Also it seems to often prefer these other clock sources usually, adding a "prefer" option to the refclock entry or adding a "server" entry for "PHC" don't seem to make any difference.
Is there any way to accomplish t

[2022-10-25 13:25] ericd-mst-github commented on #98869
This is now fixed. We'll look into the API pages to make a better distinction for Action vs Managed.

#please-close

[2022-10-25 13:45] seligj95 commented on #100426
Hi @fardarter - Thank you for the feedback. The intention of these docs is quickstarts to get users up and running. DevOps is a more advanced scenario that is well documented on it's own for users specifically looking to leverage that tool. Please see the DevOps docs if that has what you're looking for. https://learn.microsoft.com/en-us/azure/devops/?view=azure-devops

[2022-10-25 13:45] joeldewaternn opened #100447 "Example on Docu page gives different result"
On the wiki page on [decode](https://learn.microsoft.com/en-us/azure/databricks/spark/latest/spark-sql/language-manual/functions/decode) a few examples are listed.

When I run the example `SELECT decode(NULL, 6, 'Spark', NULL, 'SQL', 4, 'rocks')` in my own environment it gives a different result.

See Attachments

![image](https://user-images.githubusercontent.com/116643704/197790264-18918e1b-2cea

[2022-10-25 13:48] fardarter commented on #100426
Hi, there isn't a terraform example in the devops docs. If you know one, please direct me to it.

Otherwise, it's like to get up and running with Azure Devops and terraform and it seems like there is no guidance around this anywhere. I'd argue quite strongly that this is a failure to offer support on MS's own products.

[2022-10-25 14:01] priteshpisat commented on #99550
Any update on this?

[2022-10-25 14:06] MelK-HH commented on #99974
Could you please use the full name "PostgreSQL" at all times as this is the official name.

See last sentence of second articel:
       "...the potential threat to your Postgres servers." should be
        "...the potential threat to your Postgre**SQL** servers."

[2022-10-25 14:36] 410sean opened #100448 "update script to include an update permission"
the script does not address updating permissions such as expanding what a person is doing in graph explorer or microsoft graph powershell module

step 2 of the script can be improved to look like this

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4b1904fc-0df4-01e6-c1f8-8e92673b76ec
* Version Independent ID:

[2022-10-25 14:49] raporpe opened #100449 "Possible outdated docs - Azure Migrate VMWare"
The document states the following: "The ability to turn on SSE with CMK for the replicated disks is currently available only through REST API.". I have been able to migrate a VM from VMWare using agentless replication to an Azure VM with Managed Disks with SSE and CMK enabled *using the portal*.

This seems to be possible now since the option to use disks with SSE and CMK is enabled if you previou

[2022-10-25 15:03] GeethaThatipatri-MSFT commented on #99320
@pablojavierf the document is updated

[2022-10-25 15:19] MicrosoftGuyJFlo commented on #100287
reassign:@MicrosoftGuyJFlo

[2022-10-25 15:20] KrishnaG-MSFT commented on #100441
@Jvekka Thanks for your comment! We will review and provide an update as appropriate.

[2022-10-25 15:27] ThomasVanBilsen opened #100450 "Error in code sample"
[Enter feedback here]

@dlt.table
def streaming_silver_table:
  return dlt.read_stream("streaming_bronze_table").where(...)

Should be:

@dlt.table
def streaming_silver_table():
  return dlt.read_stream("streaming_bronze_table").where(...)

The () after streaming_silver_table is missing.
---
#### Document Details

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-10-25 15:30] KrishnaG-MSFT commented on #100167
Tagging @bwren for visibility, review and to help provide insights and enhance the document as appropriate. Thanks.

[2022-10-25 15:49] #98728 closed

[2022-10-25 15:55] nzthiago commented on #92727
We have clarified the [Pre-Warmed Instances](https://learn.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#pre-warmed-instances) and [Always Ready](https://learn.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#always-ready-instances) settings and how they work in the documentation.

[2022-10-25 15:57] #58053 closed

[2022-10-25 15:58] #92727 closed

[2022-10-25 16:02] #82394 closed

[2022-10-25 16:07] MarileeTurscak-MSFT commented on #39816
Update: the most current information is that there exists a limit of ~1000 collection properties on app registration objects, which includes secrets and certificates.

[2022-10-25 16:13] Oury-MSFT commented on #99974
Sure, I will change it to PostgreSQL

[2022-10-25 16:15] nzthiago commented on #42726
You can only control minimum, via [Always Ready](https://learn.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=azurecli#always-ready-instances), and maximum for the plan via [Max Burst](https://learn.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=azurecli#plan-and-sku-settings) and maximum for each app via [functionAppScaleLimit](https://learn.microsoft

[2022-10-25 16:20] Oury-MSFT commented on #99974
@GennadNY https://github.com/MicrosoftDocs/azure-docs-pr/pull/215807
Could you please check and approve. Thanks

[2022-10-25 16:20] #99974 closed

[2022-10-25 16:22] KrishnaG-MSFT commented on #100244
Tagging @bwren for visibility, review and document enhancement consideration if feature doesn't work in mentioned region.

[2022-10-25 16:33] andrePKI opened #100451 "Supported regions - list is longer?"
I believe the list of supported regions with availability zones is much longer now. There is a longer list at [this article](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/logs-dedicated-clusters)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 536eb96c-7a9a-7cf0-5fb5-3b9dfdb2076d
* Version Independent ID:

[2022-10-25 16:55] bandersmsft commented on #100354
@JeffZheng666  Hi there. Downtime only occurs when the service tenant of a subscription is changed. https://learn.microsoft.com/azure/azure-resource-manager/management/move-resource-group-and-subscription#checklist-before-moving-resources is describing resource moves between two subscriptions or a resource group. There’s no tenant change, there’s no down time.

I hope this helps.

#please-close

[2022-10-25 16:55] #100354 closed

[2022-10-25 17:02] AjayBathini-MSFT commented on #100423
@vgool
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-25 17:11] AjayBathini-MSFT commented on #100358
Hi @amiddles
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue t

[2022-10-25 17:14] AjayBathini-MSFT commented on #100426
@fardarter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:16] AjayBathini-MSFT commented on #100431
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:17] AjayBathini-MSFT commented on #100432
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:19] AjayBathini-MSFT commented on #100433
@ezYakaEagle442
Duplicate of #100431

[2022-10-25 17:19] #100433 closed

[2022-10-25 17:20] AjayBathini-MSFT commented on #100435
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:23] AjayBathini-MSFT commented on #100443
@trstroem
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:25] AjayBathini-MSFT commented on #100444
@Klaas-
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:26] AjayBathini-MSFT commented on #100445
@fardarter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:27] AjayBathini-MSFT commented on #100446
@langeschro
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:31] AjayBathini-MSFT commented on #100450
@ThomasVanBilsen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:31] Catsanova opened #100454 "Cognitive Services Azure AD/Local Authentication"
The Cognitive Services articles do not provide direct guidelines on how and when Azure AD authentication is enabled or disabled and what the pre-requisites are. The only reference is the "Important" header on this page however, even that does not clearly define that custom domains are the only way Azure AD authentication can be enabled.

This is important because there's a built-in Azure Policy to

[2022-10-25 17:33] AjayBathini-MSFT commented on #100449
@raporpe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:34] AjayBathini-MSFT commented on #100451
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:36] AjayBathini-MSFT commented on #100454
@Catsanova
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 17:40] b-ahibbard commented on #100366
Thanks @gvanteylingen - stress has been added in [Use availability zones for high availability in Azure NetApp Files](https://learn.microsoft.com/en-us/azure/azure-netapp-files/use-availability-zones)
#please-close

[2022-10-25 17:40] #100366 closed

[2022-10-25 17:45] b-ahibbard commented on #100367
Thanks @gvanteylingen - The link has been fixed in [What's new in Azure NetApp Files](https://learn.microsoft.com/en-us/azure/azure-netapp-files/whats-new)
#please-close

[2022-10-25 17:45] #100367 closed

[2022-10-25 17:48] b-ahibbard commented on #100368
@gvanteylingen - thanks for reporting. The link has been corrected in both documents: https://learn.microsoft.com/en-us/azure/azure-netapp-files/use-availability-zones and, per https://github.com/MicrosoftDocs/azure-docs/issues/100367
https://learn.microsoft.com/en-us/azure/azure-netapp-files/whats-new
@AjayBathini-MSFT - this has been resolved and can remain closed

[2022-10-25 17:48] austinmccollum commented on #89587
#please-close

[2022-10-25 17:56] vhorne commented on #99780
added new Inbound vs. Outbound section to article.

To suggest Azure feature changes, go to https://developercommunity.visualstudio.com/AzureDevOps

#please-close

[2022-10-25 17:56] #99780 closed

[2022-10-25 18:14] whhender commented on #99102
I'm going to close this issue for now, but if you have any follow up questions, please reach out.

Thank you!

#please-close

[2022-10-25 18:14] #99102 closed

[2022-10-25 18:14] krishjag opened #100456 "CosmosDB for PostgresSQL azure_storage extension"
I am experimenting with CosmosDB for PostgresSQL **azure_storage** extension and trying to load a little more than 100K files from Azure Storage (ADLS Gen2) and the total volume of data is around ~100GB. This is open data available from the [GDELT](https://www.gdeltproject.org/) project.

A couple of issues.

1. It appears that the **azure_storage.blob_list** function only returns first 5000 blobs

[2022-10-25 18:18] RichardSmith1208 commented on #100376
Thank you - basically, I'm needing clarification stated whether VM to VM traffic is supported via IPv6, as the pages referenced are providing seemingly conflicting information.

[2022-10-25 18:44] goorallab opened #100458 "Clarifications on NGINX ingress controller documentation"
In documentation for [Create an ingress controller in Azure Kubernetes Service (AKS)](https://learn.microsoft.com/en-us/azure/aks/ingress-basic) section  [Customized configuration](https://learn.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-powershell#customized-configuration) there are steps that either require additional explanation or improvements:

1. Section [Import the images used b

[2022-10-25 18:50] Oury-MSFT commented on #100456
@krishjag We are looking into this and will get back shortly. Thanks

[2022-10-25 18:53] JazminRMT opened #100459 "Add more documentation about Account and resource forest topologies"
This is the only document/article we have to for Account and Resource Forest / Full mesh topologies, it will be valuable to add more useful data in there

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0562f646-ef99-e341-e2fc-fcc3eed44d15
* Version Independent ID: 1fc5ebad-f1b3-babe-f492-c6c888c7781a
* Content: [Azure

[2022-10-25 18:53] devszr opened #100460 "Using Named Values in Policy XML Files"
Azure Portal seems to return an error when using a named-value as part of an attribute value. However, using the Azure APIM VS Code extension doesn't have any trouble publishing the policy.xml for an API which has such a setting and the API is also working as expected.

Is this expected behavior by Azure Portal?

For example using

[code]

in policy.xml for an API through VS Code works, but, Azure

[2022-10-25 18:54] matt961 commented on #99105
Hi, there is no error, it's just the same command is duplicated for 2 examples meant to show different things, per my original description.

[2022-10-25 19:03] twimmers commented on #49121
#please-close

[2022-10-25 19:03] #49121 closed

[2022-10-25 19:06] twimmers commented on #56180
#please-close

[2022-10-25 19:06] #56180 closed

[2022-10-25 19:11] twimmers commented on #64846
#please-close

[2022-10-25 19:11] #64846 closed

[2022-10-25 19:24] twimmers commented on #65093
#please-close

[2022-10-25 19:24] #65093 closed

[2022-10-25 19:31] khdownie commented on #91649
The issue for DomainSID is known for powershell7 and the fix will be in the next release of AzFilesHybrid module.

I haven’t heard any report on $azureStorageIdentity.SID[.Value] but we will include it in the validation for the new release on powershell7.

[2022-10-25 19:34] wasker opened #100461 "IsraelCentral region is isrealcentral in JSON files"
For example:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://learn.microsoft.com/en-us/azure/virtual-network/service-tags-overview#discover-service-tags-by-using-do

[2022-10-25 19:35] twimmers commented on #72772
#please-close

[2022-10-25 19:35] #72772 closed

[2022-10-25 19:36] twimmers commented on #85633
#please-close

[2022-10-25 19:36] #85633 closed

[2022-10-25 19:44] twimmers commented on #96580
@TonySh127-ms I don't follow entirely, you're saying that we should outline what permissions need to be configured on the Salesforce side in order to provision users?

[2022-10-25 19:45] cynthn commented on #99693
@antgonz  What kind of notifications are customers receiving for TOR switches?

From my engineering contact:
"Planned maintenance does not control TOR updates. However, customers will receive scheduled event notifications for TOR if MR will be created for TOR updates.  Having said these should not be Planned maintenance notifications. "

[2022-10-25 19:46] dostonnabotov opened #100462 "External type links do not open the page in a new tab"
I noticed that in the docs, links do not open the page in a new tab despite a little icon showing that you will be redirected to a new tab. I checked several articles, and it is the same problem with them.

After inspecting the Dev tools, there was a `target="_blank"` missing in links with `data-linktype="external"`.

You can view the screenshot below.

![image](https://user-images.githubuserconte

[2022-10-25 19:47] jcauthorn commented on #92878
I'm having the same issue.
"An error occurred while importing your synchronization settings. Details: 'Could not find a part of the path 'C:\Users\myusername\desktop\data\mv.dsml'.'
Were you able to find a resolution?

[2022-10-25 19:49] twimmers commented on #97984
#Please-close

[2022-10-25 19:49] #97984 closed

[2022-10-25 19:51] MGoedtel commented on #100304
@fschmied - Thanks for bringing this to our attention. This section was self-serviced by one of the PMs in the product group and I agree it's not helpful in its current form. From my perspective, that section should be edited to reference the workload identity feature and redirect you to the relevant content for that feature. I'm going to bug this and fix it in next month's sprint, along with a fe

[2022-10-25 19:51] #100304 closed

[2022-10-25 19:57] ChaitanyaNaykodi-MSFT commented on #100461
@wasker
Thank you for sharing your feedback. Based on this issue here #99038 . The team is aware of this typo, and they will update the tags soon.
We will now proceed to close this issue out. Please tag me in your response if you have any questions. Thank you!

[2022-10-25 19:57] #100461 closed

[2022-10-25 19:59] spelluru commented on #99926
Fixed. #please-close

[2022-10-25 19:59] #99926 closed

[2022-10-25 20:28] jackchenwork opened #100463 "missing pieces in az.migrate powershell module"
[Enter feedback here]

Seems there are still many functions missing in az.migrate module, which make it difficult to actually do the migration through powershell.

1. I didn't find any powershell cmdlet to retrieve migrate assessment data, so I can't use the recommended settings in New-AzMigrateServerReplication .

2. When I start a replication from Portal UI, I can choose target vnet/subnet, test

[2022-10-25 20:36] mikaelweave commented on #99662
Thanks! I tested and it works! 💯

[2022-10-25 20:36] #99662 closed

[2022-10-25 20:46] msmbaldwin commented on #99806
#please-close

[2022-10-25 20:46] #99806 closed

[2022-10-25 21:31] FabianGonzalez-MSFT opened #100465 "Marshalling secret to get the text value is no longer needed"
Marshalling secret to get the text value is no longer needed. A script like this should be the ideal:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d39f7f3d-668d-a922-4695-0539a075dcdc
* Version Independent ID: 31b6a561-d2bb-350d-e4f5-3399df55b7b8
* Content: [Export certificates from Azure Key Vault](https://

[2022-10-25 21:31] gamon73 commented on #91649
@khdownie the powershell version is 7.2.6

$PSVersionTable

Name                           Value
----                           -----
PSVersion                      7.2.6
PSEdition                      Core
GitCommitId                    7.2.6
OS                             Microsoft Windows 10.0.14393
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRe

[2022-10-25 21:35] psignoret commented on #100448
@410sean You are correct, as the comment in step 2 says, "This example assumes that an existing delegated permission grant does not already exist, in which case it would be necessary to update the existing grant, rather than create a new one."

In this example, we're trying to keep things as simple as possible, but we could certainly consider adding a second example showing additional more complex

[2022-10-25 21:59] mumurug-MSFT commented on #100460
@devszr I tested the policy snippet in my apim and it worked as expected (couldn't reproduce this issue). I would like to let you know that azure-docs is related to docs issue. Since this issue is product related, I recommend you post the question in [Q&A](https://learn.microsoft.com/en-us/answers/topics/25484/azure-api-management.html) so that experts can investigate and assist you to mitigate it

[2022-10-25 21:59] #100460 closed

[2022-10-25 22:01] SatishBoddu-MSFT commented on #100206
we are looking into this.

[2022-10-25 22:02] vimeht commented on #98467
Duplicate of Issue https://github.com/MicrosoftDocs/azure-docs/issues/89877

[2022-10-25 22:03] vimeht commented on #89877
Please close this item

[2022-10-25 22:04] vimeht commented on #88554
Please close this item

[2022-10-25 22:17] nickludwig commented on #99385
Closing since the PR has been merged.

#please-close

[2022-10-25 22:17] nickludwig commented on #99385
#please-close

[2022-10-25 22:17] #99385 closed

[2022-10-25 22:28] nickludwig commented on #99569
Hey @jimbarrett33, I think we're going to keep things as is for the time being. Given that this is a fairly recognized name at this point, I don't feel particularly great about making any naming changes. That said, I'm certainly willing to reconsider my position if this becomes a common feedback topic in the future.

I would be open to listing the token exchange RFC somewhere in the doc, but I thi

[2022-10-25 22:47] nickludwig commented on #98787
Hey @AvinandanPatra - thanks for the feedback!

**For issue 1** - I'll look into this.

**For issue 2** - I'm not sure I agree with you here. Auth code flow, by default (i.e., `response_type=code`), doesn't return an id_token. In order for an id_token to be returned, you need to specify that in the `response_type` querystring param (i.e., `response_type=code+id_token`). In the example sequence dia

[2022-10-25 23:03] croblesm commented on #98564
Hello @pgr-lopes!

Thanks for your patience with my delayed response. After reviewing the content, I agree with your comment that DMS only allows offline migrations for Azure SQL Database targets —I will update this content as soon as possible.

in the meantime, I would like to share [this other article](https://learn.microsoft.com/en-us/azure/dms/dms-tools-matrix#migration-phase) with you. This a

[2022-10-25 23:13] TonySh127-ms commented on #96580
Hi @twimmers , thanks for your response. No, I suggest point out if they have concern on the system administrator assignment, you may require to reach out Salesforce side support to check it. We may provide some link to give some insight only

[2022-10-25 23:14] lucitemple opened #100467 "tutorial doesn't work @microsoft/microsoft-graph-sdk"
Trying to follow this tutorial, however two issues arise:
1) One of the dependencies does not appear to exist in the registry, so cannot download, and get error message.
`@microsoft/microsoft-graph-sdk`

![Screen Shot 2022-10-26 at 10 04 51 am](https://user-images.githubusercontent.com/5368666/197899096-f0efdb3d-7142-42a9-bd9c-25c66f16bea8.png)

2) While it is common to need to sign up for a devel

[2022-10-25 23:21] shlipsey3 commented on #99924
#please-close

[2022-10-25 23:21] #99924 closed

[2022-10-25 23:31] Turbofroggy opened #100468 "What if I want to move an existing domain?"
I have an existing domain that I want to move to Azure Custom Domains. These instructions on how to make a new one but how do I move an existing domain name from another registrar?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9fda02a
* Version Independent ID: d45201fb-c603-b878-b7d2-191d

[2022-10-25 23:59] jcocchi commented on #98300
@dgpoulet I've updated the best practices document to differentiate writes not being retried on single write region accounts and the possibility that they can be retried on multi region accounts. As you pointed out, if the account has multiple write regions configured and the preferred regions list is set up, then transient errors including writes will be retried on other regions.

#please-close

[2022-10-25 23:59] #98300 closed

[2022-10-26 00:19] mikaelweave opened #100470 "Wrong Link (Goes to Azure Policy not APIM Policy)"
In this doc, there is a link to more policy definitions. I would expect this to take me to APIM API Policy examples, but instead it goes to Azure Policy examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bdc8ea72-24e2-edb6-567d-2e692174273a
* Version Independent ID: 62cb755c-2f8d-bd9f-13e2-3e8dafcbe218
* Content

[2022-10-26 00:21] wolffhaven opened #100471 "Possible mistake in this page"
I think there is a mistake in this document. In this section https://learn.microsoft.com/en-us/azure/automation/automation-secure-asset-encryption#use-of-customer-managed-keys-for-an-automation-account, it states "The managed identity is available only after the storage account is created." I think this should read "The managed identity is available only after the automation account is created."

[2022-10-26 00:34] SnehaGunda commented on #93897
@roalexan Apologies for the long delay, currently there isn't a programmatic way to create a lake database from templates. Please submit a feature request at this link and our team will prioritize as appropriately as possible: https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8

[2022-10-26 00:35] SnehaGunda commented on #93897
Closing this issue now.

#please-close

[2022-10-26 00:35] #93897 closed

[2022-10-26 00:35] SnehaGunda commented on #93897
#reassign:@SnehaGunda

[2022-10-26 02:34] dvpm246 opened #100474 "Please write some lines to clarify what is the difference between storage accounts and storage types?"
[Enter feedback here]
Please write some lines to clarify what is the difference between "storage accounts" and  "storage types" ?
It very confusing for readers.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 77356aa1-080b-708c-e1f6-14aadfab247c
* Version Independent ID: 1a96322e-9c52-b7bb-f213-eb0691d71073
* Co

[2022-10-26 03:08] #100402 closed

[2022-10-26 03:10] Venkateshdodda-MSFT commented on #100402
@aholler2 I have updated the document and changes will go live soon.

[2022-10-26 03:47] AjayBathini-MSFT commented on #100458
@goorallab
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-26 03:47] UJSP commented on #69947
looking for a solution for this.  any idea whether this is fixed? Thanks!

[2022-10-26 03:49] AjayBathini-MSFT commented on #100459
@JazminRMT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 03:49] YashikaTyagi-MSFT commented on #100339
@bkeski
I went through the document as per your suggestion and I can see two SKUs in the table already. Could you please confirm whether it is correct or not? If you were suggesting something different. Kindly elaborate that.
<img width="519" alt="image" src="https://user-images.githubusercontent.com/110381034/197930098-fe7ed0bc-0f41-4815-b616-fda9f070ae8f.png">

[2022-10-26 03:50] AjayBathini-MSFT commented on #100462
@dostonnabotov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 03:52] AjayBathini-MSFT commented on #100463
@jackchenwork
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 03:52] jimbarrett33 commented on #99569
Hi @nickludwig. That's totally fine with me. I was just trying to offer a viewpoint of someone with non-expert level knowledge of  OAuth that lands on the Microsoft docs, particularly the OBO page, and gets lost. I don't really have a strong opinion on this...was just trying to help.

"Given that this is a fairly recognized name at this point"

Not sure what name you're referring to but if you Goo

[2022-10-26 03:53] AjayBathini-MSFT commented on #100465
@FabianGonzalez-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 03:53] YashikaTyagi-MSFT commented on #100344
@prjelesi
I have assigned the issue to content author who will update accordingly. @billmath Please take a look at this.

[2022-10-26 03:54] AjayBathini-MSFT commented on #100467
@lucitemple
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 03:58] AjayBathini-MSFT commented on #100468
@Turbofroggy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 04:01] AjayBathini-MSFT commented on #100470
@mikaelweave
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 04:02] HannahHsiao5 opened #100476 "EU program"
in doc, "EA credit expires when the EA enrollment ends for all programs except the EU program." Please describe what's "EU program"; otherwise, partner and customer will confuse if they are EU program.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 611ff5f6-f273-bf7c-d959-83cd4f07168e
* Version Independent ID: f1d1ea8

[2022-10-26 04:04] AjayBathini-MSFT commented on #100471
@wolffhaven
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 04:07] AjayBathini-MSFT commented on #100474
@dp2468
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 04:32] YashikaTyagi-MSFT commented on #100350
@eubreno
Thanks for pointing this out. I have assigned the issue to content author to update the document accordingly.
@billmath kindly provide your inputs.

[2022-10-26 04:39] YashikaTyagi-MSFT commented on #100378
@JFImagery
Thanks for pointing this out. I have assigned the issue to author who will update accordingly.
@msmimart Please take a look at this

[2022-10-26 04:46] YashikaTyagi-MSFT commented on #100405
@DeanGross
Thanks for pointing this out. I have assigned the issue to author who will update accordingly.
@msmbaldwin Kindly take a look at this

[2022-10-26 04:46] KapilAnanth-MSFT commented on #100273
Hi @TomaszWRutkowski ,

I was able to discuss this with our Product team and we did some digging

- We must note that the precedence order is not followed because we have "privatelink.blob.core.windows.net” in private DNS Zones and “blob.core.windows.net” in Forwarding RuleSet, which are actually not same.
- If we are to have a "privatelink.blob.core.windows.net” in private DNS Zones and “privatel

[2022-10-26 05:15] shaktisingh-msft commented on #100225
Hi @Bashar-MSFT,

Could you please look into this question about the documentation. Thanks!

[2022-10-26 05:25] SaibabaBalapur-MSFT commented on #100385
@ericd-mst-github
I'm going to assign this to the document author so they can take a look at it accordingly.

@MsGabsta
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 05:43] ManoharLakkoju-MSFT commented on #100308
@Jeremyp87
Hi This doc shows you how to enrich entities in Microsoft Sentinel with geolocation data using the REST API.

You use this API the same as all other Microsoft Sentinel APIs - documented here:
https://docs.microsoft.com/rest/api/securityinsights/

You can find general information about getting started with REST here: https://docs.microsoft.com/rest/api/azure/

[2022-10-26 05:44] ManoharLakkoju-MSFT commented on #100377
@andreyn-msft
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-26 05:44] ManoharLakkoju-MSFT commented on #100377
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 05:49] Jeremyp87 commented on #100308
It is still unclear what to deploy in order for this to work. What resource is "Microsoft.SecurityInsights"?

https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityInsights/enrichment/ip/geodata/?ipaddress={ipAddress}&api-version={api-version}

[2022-10-26 05:56] Venkateshdodda-MSFT commented on #100468
@Turbofroggy Based on the shared information, we have understood that you want to migrate your domain from external provider registrar to Azure app service domain. As mentioned here in [this documentation](https://azure.github.io/AppService/2021/09/22/2021-Managing-ASD.html) currently transferring the custom domain from external provider to App service Domain is not supported.

Feel free to reach

[2022-10-26 05:56] MughundhanRaveendran-MSFT commented on #100470
@mikaelweave , Could you please point out the exact section where the link is present so that I can change the link? Thanks

[2022-10-26 05:57] ManoharLakkoju-MSFT commented on #100319
@ForteUnited
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-26 05:57] ManoharLakkoju-MSFT commented on #100319
@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 05:58] yulin-li commented on #97922
Hi @almudenaftourne  , what's the encoding of your `ssml-spanish-v2.xml` file? Could you share this file with us for further investigating?

[2022-10-26 06:02] SatishBoddu-MSFT commented on #100206
Hello @sekharkumar
You can create multiple containers for the Blob Storage Module on the device!

<img width="312" alt="image" src="https://user-images.githubusercontent.com/62923178/197946092-22d9c96a-6eae-40c2-b884-d279edcaa0fd.png">

If you want to map any one of the Edge Blob container with the Cloud container, then mention that in your deployment manifest otherwise you can use the other conta

[2022-10-26 06:02] #100206 closed

[2022-10-26 06:02] ManoharLakkoju-MSFT commented on #100465
@FabianGonzalez-MSFT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-26 06:02] ManoharLakkoju-MSFT commented on #100465
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 06:04] ManoharLakkoju-MSFT commented on #100396
@nkrebsbach
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-26 06:05] ManoharLakkoju-MSFT commented on #100396
@andysports8
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 06:05] bkeski commented on #100339
My bad :-(
Sorry, somehow I downloaded CVS at oct 24 and looked inside and didn't find
them... I messed it up with older CSV.
But current CSV is correct and include Microsoft Teams Rooms Basic
and Microsoft Teams Rooms Premium

On Wed, 26 Oct 2022 at 06:50, YashikaTyagi-MSFT ***@***.***>
wrote:

--
Jako Bergson
***@***.***
GSM: 5122799

[2022-10-26 06:11] ManoharLakkoju-MSFT commented on #100446
@langeschro
I'm going to assign this to the document author so they can take a look at it accordingly

@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 06:11] MughundhanRaveendran-MSFT commented on #100391
@mikerains , It is mentioned as "The Ocp-Apim-Subscription-Key is filled in automatically for the subscription key associated with this API." The subscription key will be masked and only when user "eye" icon, it will be visible as you see in the screenshot. I dont see that the doc specifies "subscription key is shown". Could you please point out to the right location if I am missing something?

[2022-10-26 06:18] sekharkumar commented on #100189
@AshokPeddakotla-MSFT thanks for the response, I want to update the existing **module twin desired properties**.

But, from the above given links i am able to found anything regarding that,

Example: let us take sample module twin with desired property as **temperature**

**Module Twin Desired Properties:**

"properties": {
        "**desired**": {
            "temperature": **20**
         },

[2022-10-26 06:19] SaibabaBalapur-MSFT commented on #100373
@barkills-gmail
Could you please help me with screenshot of doc file and error you're reference while you perform activity.

[2022-10-26 06:36] SaibabaBalapur-MSFT commented on #100399
Hi @mike-f50 could your reference to below screenshot, SFTP support available regions.

<img width="518" alt="image" src="https://user-images.githubusercontent.com/111563669/197951940-a50cf516-022c-43d9-a741-9dc325537748.png">

[2022-10-26 06:38] YashikaTyagi-MSFT commented on #100339
@bkeski
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-26 06:38] #100339 closed

[2022-10-26 06:38] RamanathanChinnappan-MSFT commented on #100289
@TrzeciLacek

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-26 06:38] #100289 closed

[2022-10-26 06:42] SaibabaBalapur-MSFT commented on #100416
@kmathewmk
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-26 06:45] SaibabaBalapur-MSFT commented on #100443
@trstroem
I'm going to assign this to the document author so they can take a look at it accordingly.

@MSFTandrelom
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 06:45] crankin91 opened #100477 "Missing commands in tutorial"
Page says "Return to the terminal and run the following command to pull the commit containing the new file." But doesn't provide the commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a1b3f061-f523-e60d-9633-92841373318e
* Version Independent ID: 87f53c02-bfa8-8d07-b166-5cbc4d5775a1
* Content: [Tutorial: Deploy

[2022-10-26 06:48] RamanathanChinnappan-MSFT commented on #100363
@GouravGit

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-26 06:50] AjayBathini-MSFT commented on #100340
@vatsenko
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-26 06:51] AjayBathini-MSFT commented on #100340
Hi @pauljewellmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 06:53] SaibabaBalapur-MSFT commented on #100467
@lucitemple
I'm going to assign this to the document author so they can take a look at it accordingly.

@cilwerner
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 06:55] AjayBathini-MSFT commented on #100370
@PandaBoy00
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@harperche
Can you please add your comments.

[2022-10-26 06:58] AjayBathini-MSFT commented on #100379
@pk-orange
I think the changes has been already made in the document. Can you please refer below screenshot

[2022-10-26 07:00] AjayBathini-MSFT commented on #100397
@Leahy001
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-10-26 07:12] cilwerner commented on #100467
Hi @SaibabaBalapur-MSFT, sure thing. I've recently attained ownership of this article, so will set aside some time to get it working.

[2022-10-26 07:12] antgonz commented on #99693
Hello @cynthn , Thanks a lot for the update, that explains it. The problem if that customer cannot know when a Schedule Event is also a Planned Maintenance or not as on the Schedule Event notification we can read "Scheduled Maintenance Event", and the same for the Planned Maintenances, for example:

Schedule Event:
New scheduled maintenance event: {'EventId': '16E664C3-6699-4F12-963D-E9E3ECE596A0'

[2022-10-26 07:30] Naveenommi-MSFT commented on #100274
Hi @mhamilton723

Could you please review and add your comments on this, update as appropriate.

[2022-10-26 07:30] Naveenommi-MSFT commented on #100274
@iww9
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-26 07:36] soferreira commented on #95430
If an inner activity fails, the Until activity does not stop. This has added to the article. Thanks for mentioning it. #please-close

[2022-10-26 07:36] #95430 closed

[2022-10-26 07:56] TomaszWRutkowski commented on #100273
Thank you for an update. One more thing that should be mentioned too. It seems that in rulesets its not possible to put Azure DNS IP as DNS Server for forwarding purposes.

it ends up with:

[Exception while making add request for rule :rule01])
Encountered exception while adding rule : [object Object]

Use case where we wanted to use that for was to forward specific FQDNs from blob.core.windows.n

[2022-10-26 07:58] KapilAnanth-MSFT commented on #100273
Yes @TomaszWRutkowski,

We did have a discussion about that as well and should be updated along with other changes

[2022-10-26 07:59] mike-f50 commented on #100399
Thank you.  I was struggling to find that list online.  (Is it linked from the documentation somewhere?)

You may wish consider updating the comment "SFTP support for Azure Blob Storage is not yet generally available in the West Europe region." to simply "SFTP support for Azure Blob Storage is not yet generally available." - as the existing wording suggests it is generally available, just not in W

[2022-10-26 08:08] byte-sizedk opened #100478 "POP Abbreviations not match with pop_s"
The POP location abbreviations do not match with pop_s field in Log Analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a2d9b75c-6697-1838-ca26-1b76900329e6
* Version Independent ID: b3c539ce-0051-42f8-b0a8-7ef7485d95c2
* Content: [Azure Front Door edge locations by abbreviation](https://learn.microsoft.com/en-us

[2022-10-26 08:19] leewebb opened #100480 "Unable to create a Service Fabric container using Ubuntu 20.04 LTS as the image"
Under the "[Create a local container and set up Service Fabric](https://learn.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac#create-a-local-container-and-set-up-service-fabric)" section's step 2 "Start the cluster" states that an Ubuntu 20.04 LTS image can be used via:

`docker run --name sftestcluster -d -v /var/run/docker.sock:/var/run/docker.sock -p 19080:19080 -p 19000

[2022-10-26 08:25] kmathewmk commented on #100416
Personally, I think it would easier for users if the best practices were readily available in the docs rather than have to contact support or a Q&A forum. For eg you have some such info below but not much on blob reads:
https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs#about-block-blobs
https://learn.microsoft.com/en-us/azure/storage

[2022-10-26 08:38] bmansheim commented on #99972
Note: Update for AKS and on-premises instructions

[2022-10-26 08:47] RamanathanChinnappan-MSFT commented on #100330
@balapv

could you please review this and update as appropriate.

[2022-10-26 08:48] RamanathanChinnappan-MSFT commented on #100330
@nonoxp

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-26 08:49] RamanathanChinnappan-MSFT commented on #100363
#sign-off

[2022-10-26 08:50] GitaraniSharma-MSFT commented on #100478
@byte-sizedk , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-26 08:50] RamanathanChinnappan-MSFT commented on #100363
#sign-off

[2022-10-26 08:50] #100363 closed

[2022-10-26 08:50] tdekelver-bd opened #100481 "update requirements"
Hi

the title "Use Azure Databricks Container Services on a cluster to access files in Repos" is not relevant anymore, but you should replace it by the fact that you need to activate the Files in Repos feature from the admin console and restart the databricks clusters before it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-10-26 08:51] KapilAnanth-MSFT commented on #100247
@jngibert,
I shall close this thread as there is no active discussion going on.
Please reopen the thread if you need additional information.

[2022-10-26 08:51] #100247 closed

[2022-10-26 08:58] cindyweng opened #100482 "No step #3 in the Azure CLI instructions, goes straight from #2 to #4"
No step #3 in the Azure CLI instructions, goes straight from #2 to #4

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c8e42446-e39e-990f-6868-ddccb7b5ce84
* Version Independent ID: 9c44d0ea-3c53-712d-37e0-1f79523fb700
* Content: [Train ML models - Azure Machine Learning](https://learn.microsoft.com/en-us/azure/machine-

[2022-10-26 09:16] RamanathanChinnappan-MSFT commented on #100450
@ThomasVanBilsen

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-26 09:19] lightupdifire opened #100483 "Create an API connector | Endpoint URL"
Hello,

Would be good to add documentation with examples of how to add the Endpoint URL.
Trying to set "Perform identity verification" for any guest users that have a Microsoft account Personal/Work to make sure they do the one-time password.
Else currently the situation is that non-MS accounts do receive one-time codes,
For any MS account, if the tenant is not set to use MFA for guests and the us

[2022-10-26 09:20] MughundhanRaveendran-MSFT commented on #100389
@axlee39 , Yes, there is a set of times. Please refer to the below table. And it is different from exponential backoff

<html>
<body>

Error | Probation Duration
-- | --
Busy | 10 seconds
NotFound | 5 minutes
SocketError | 30 seconds
ResolutionError | 5 minutes
Disabled | 5 minutes
Full | 5 minutes
TimedOut | 10 seconds
Unauthorized | 5 minutes
Forbidden | 5 minutes
InvalidAzureFunctionDestination

[2022-10-26 09:24] Naveenommi-MSFT commented on #100187
@PhilKoay
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-26 09:24] Masih17 opened #100485 "The DHCP server conflicts between the VMs"
[Enter feedback here]
I followed the tutorial and faced the following issue after publishing the template. All the VMs in the lab are now connected to the same ********.fx.internal.cloudapp.net DHCP server. I learned that while the DHCP is not supported in Azure, internal DHCP should work fine. Our internal binding works fine, but any configuration on the DHCP by the student will affect all the VM

[2022-10-26 09:27] madiepev opened #100486 "Sample code for ADLS Gen2 incorrect"
To create an Azure Data Lake Gen2 datastore, the sample code for Python SDK, identity-based access is:
[code]

However, the parameter `file_system` should be `filesystem` as per https://learn.microsoft.com/en-us/python/api/azure-ai-ml/azure.ai.ml.entities.azuredatalakegen2datastore?view=azure-python

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ G

[2022-10-26 09:29] jjindrich commented on #100219
Please is there any update ?

[2022-10-26 09:30] jjindrich commented on #100218
Do we have any updates on Debian ?

[2022-10-26 09:40] KillerFrost2000 opened #100487 "azcopy 7.3 table storage copy command"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-26 09:47] KillerFrost2000 commented on #100487
I am trying to use azcopy 7.3 to copy table storage from one storage account to another using the following command :-

**.\azcopy --source "https://<sourceaccountname>.table.core.windows.net?[SAS]" --destination "https://<destinationaccountname>.table.core.windows.net?[SAS]" --recursive=true.**

**Getting the error - "The syntax of the command is incorrect. The option "--source" is not recognized

[2022-10-26 09:58] danglund opened #100488 "Special character section incorrectly explains how en.microsoft analyzer will analyze special characters like € and ❤"
The article's "Special Character' section incorrectly says that the en.microsoft analyzer will tokenize special characters like € and ❤.

This is not correct. Running the analyzer:

{
  "text": "hotel ❤ heart",
  "analyzer": "en.microsoft"
}

Produces tokens _hotel_ and _heart_ only.

    "tokens": [
        {
            "token": "hotel",
            "startOffset": 0,
            "endOffset": 5,

[2022-10-26 10:01] stockers opened #100489 "percentage estimate calculation isn't correct in the tutorial text"
The percentage estimate isn't correct in the text:
"
For example, if you have a workload that has high activity during 9am – 6pm weekday business hours, then the percentage of time at peak is: 45 hours at peak / 730 hours / month = ~6%.
"

It should be closer to ~27% not ~6% as:
(45hpw * 52wpy / 12mpy) / ( 24hpd * 7dpw * 52wpy / 12mpy) = 195 / 728 = 0.267

---
#### Document Details

⚠ *Do not edit

[2022-10-26 10:02] enkrumah commented on #100276
#re-assign: an-emma

[2022-10-26 10:03] shaktisingh-msft commented on #100489
Hi @stockers,

Thanks for sharing this feedback. We will look into this and action as appropriate.

[2022-10-26 10:12] enkrumah commented on #100276
#reassign:an-emmma

[2022-10-26 10:12] enkrumah commented on #100276
#reassign:an-emma

[2022-10-26 10:19] enkrumah commented on #100276
Hello!

We are currently tracking a known issue with current config for this tutorial and should release a fix soon.

Regards,
Ebenezer Nkrumah  | Program Manager
Azure Stream Analytics<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fazure.microsoft.com%2Fen-us%2Fservices%2Fstream-analytics%2F&data=04%7C01%7CEbenezer.Nkrumah%40microsoft.com%7C868b6175cf3847bf03b308d8b00e01e9%7C72

[2022-10-26 10:45] jadzdtc opened #100493 "[Clarification] Access managed identity during region outage"
I'm unable to find within documentation evidence that indeed managed identities are geo-replicated and can be accessed (e.g. az identity show ...)  even during region outage.

However in issue: https://github.com/MicrosoftDocs/azure-docs/issues/24909 about 3 years ago priyamohanram stated this:

_Originally posted by @priyamohanram in https://github.com/MicrosoftDocs/azure-docs/issues/24909#issuec

[2022-10-26 10:47] fabiocannas commented on #85310
@johndowns thank you so much :)

[2022-10-26 10:49] AnuragSingh-MSFT commented on #100218
@jjindrich, the team is working on support plan for distros. It will take a while to confirm the support for Debian and we do not have any timeline as of now. I will share additional details as soon as possible.

[2022-10-26 10:57] Naveenommi-MSFT commented on #100314
@eric-urban
Could you please check and add your comments on this, update as appropriate.

[2022-10-26 10:57] Naveenommi-MSFT commented on #100314
@welbornt
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-26 11:07] RamanathanChinnappan-MSFT commented on #100438
@nimsim
could you please look to this below screenshot for same.

![image](https://user-images.githubusercontent.com/110973511/198010275-a6f30e6f-be83-4b4d-ac44-ee57a73b8afe.png)

[2022-10-26 11:08] v-amallick commented on #99105
@matt961 - thank you for pointing it out, will look into it and get back.

[2022-10-26 11:11] ForteUnited opened #100495 "Set the iKey in code wordsmithing"
The sentence at the top of this document is a bit misleading. When I first read it, I thought you it meant "set it in code" in a hard coded way which obviously wouldn't be right. Then later in the document in the Dynamic section, there is an example of using code to retrieve the key from some type of configuration.

_To make it easier to change the instrumentation key as a version moves from one s

[2022-10-26 11:25] Naveenommi-MSFT commented on #100418
@yodobrin

Could you please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/synapse-analytics/plan-manage-costs

[2022-10-26 11:28] nimsim commented on #100438
As stated, this form isn't open to the public. I am still getting permission error

[2022-10-26 11:35] Naveenommi-MSFT commented on #100406
@arindam0310018
Could you please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/storage/blobs/secure-file-transfer-protocol-support

[2022-10-26 11:41] Naveenommi-MSFT commented on #100401
@andysports8

Could you please review this and update as appropriate.

[2022-10-26 11:43] yodobrin commented on #100418
Hi, the feedback is on the fact this document: https://learn.microsoft.com/en-us/azure/data-factory/plan-manage-costs#monitor-costs-at-pipeline-level-with-cost-analysis indicate it is valid for both ADF and Synapse pipeline, while in fact the billing by pipeline is only available in ADF.

we should (I can also do it) add a note to the document to specify that section does not pertain to Synapse pi

[2022-10-26 12:03] asdcristi opened #100498 "MTP missing from 4 plans"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

Following the anouncement on https://azure.microsoft.com/en-us/updates/mtp-auto-enabled/ , since the 1st of June 2020 MTP has been automatically updated for the listed subscriptions, however by checking our licensing service plan reference, I've noticed that MTP is not included in all pla

[2022-10-26 12:05] AnuragSingh-MSFT commented on #100347
@maskati, Thank you for this question. Based on the question, I assume you are writing about Diagnostic settings in Azure VM through extension.

These extensions depend on the parent resource (VM) and do not exist without it. They get removed as part of VM deletion process. It is possible that you were still seeing them temporarily post removal pending portal/cache refresh.

Please let us know if

[2022-10-26 12:07] Naveenommi-MSFT commented on #100454
Hi @Catsanova
Could you please go through these below links for your reference.

https://learn.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account?tabs=multiservice%2Canomaly-detector%2Clanguage-service%2Ccomputer-vision%2Cwindows

https://learn.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference

[2022-10-26 12:12] AnuragSingh-MSFT commented on #100286
@msft-takend, thank you for the question.

The `.config` files-based configuration are available only with .NET Framework-based applications. The .NET Core and newer .NET uses `.json` based configuration files. Hope this help

[2022-10-26 12:17] AnuragSingh-MSFT commented on #99582
@sabbadino, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-10-26 12:17] seesharprun commented on #98884
Thanks for pointing this out. You are correct that "getting offers" in unsupported in Serverless.

[2022-10-26 12:41] JordyGit opened #100499 "Contradictory statements for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING"
Contradictory statements for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING, see images/urls below

My bicep was throwing the next error, so I was checking the docs because of this: _"Required parameter WEBSITE_CONTENTSHARE is missing."_ By removing both appsettings my deployment succeeded, and function is working

https://learn.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_co

[2022-10-26 12:48] imanabidi opened #100500 "is the warning about the unchangeable partition count still true?"
Is the following warning still valid?
"The partition count can no longer be changed after a task hub has been created"

Because i changed it locally to 16 and i am seeing the new control queues, and i want to increase it in our Production as well to increase the number of workers that can concurrently execute orchestrator functions.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-10-26 12:49] sabbadino commented on #99582
Sorry I did not reply you back soon .
Its not clear how to apply the code mentioned in that article for asp.net not core apps.
In such apps the ai cn string is in the appinsights file .. one does not need to write any code to provide ai cn string ..
In other docs or is shown now to setup ai cn string read from app settings

TelemetryConfiguration.Active.ConnectionString = ...

It's not clear at al

[2022-10-26 12:53] patrick-vonsteht commented on #89255
In my case, the problem was that I first configured the "pgbouncer.stats_users" server parameter and only afterwards created the pgbouncer user on the server.
Instead, you first need to create the pgbouncer user on the server and then set the "pgbouncer.stats_users" server parameter after that. A server restart is not required.

On a side note: you also need to enable the "pgbouncer.enabled" serve

[2022-10-26 12:57] phatcher opened #100501 "Valid key vault secret name for managed identity connection"
There's a note in the page stating:
[code]
However, key vault secret names can only contain A-Z or hyphen - what secret name should we use?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6bea1026-35d3-a51f-6161-01aa0cc245a4
* Version Independent ID: 8f084907-67d6-c2a6-69a4-7a8c8aaa0ba0
* Content: [Use identity-based c

[2022-10-26 12:57] SychevIgor opened #100502 "Referenced Azure Container Service - but it's retired"
Referenced retired service in an index
![image](https://user-images.githubusercontent.com/578954/198031639-e767d801-cd61-441c-a625-e5aecdb58a0a.png)
need to replace it with link on AKS. it's not an issue on this page, but there is no other way to create issue on navigation

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-10-26 13:11] GitaraniSharma-MSFT commented on #100076
@rockboyfor , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-26 13:11] #100076 closed

[2022-10-26 13:14] altrivis opened #100503 "Add licensing details for public spacecraft"
We should reference which spacecraft AOGS supports that do NOT require "licensing" (i.e., Aqua, Terra, JPSS, etc).

Received customer inquiries on public spacecraft and licensing costs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8b80d385-5a11-afcf-da59-7d5a8d82187a
* Version Independent ID: 02c9f569-3c5e-4127-6192

[2022-10-26 13:21] mumurug-MSFT commented on #100500
@imanabidi Thanks for the feedback. We will review and update as appropriate.

[2022-10-26 13:23] jgarplind opened #100504 "Documentation refers to non-functioning redirect URI behavior"
The quoted segment indicates that it is possible to use wildcards in redirect URIs by applying them directly to the manifest, using a format like:

[code]

Specifically, I have tried adding a redirectUri like so:

[code]

However, this works just as poorly as if it had not been added at all, whereas the full URL obviously works fine.

I understand that what I am trying to do is by all means a poor

[2022-10-26 13:28] jgarplind commented on #100504
It appears I may have been too quick to dismiss the functionality as not working.

Rather than lacking functionality, I experienced a longer delay between setting the value and having it work as expected (minutes for the wildcard URL, as compared to seconds for the hardcoded URL).

Feel free to close the issue, or if you can provide any further clarity to the documentation such as whether a longer

[2022-10-26 13:36] nkrebsbach commented on #100396
I have checked on this with PG and this is the response -

Answer:
ESV4s & ESvs5

These do not support Temp Disks.  Only remote disks are supported.

The Cache size for remote disks isAzure platform optimization & would vary based on HW.     Hence, the cache size is not published.

This feedback request can be disregarded.

Regards,
Nick Krebsbach
***@***.******@***.***>

***@***.***

Support Engi

[2022-10-26 13:38] mumurug-MSFT commented on #100499
@JordyGit Thanks for the feedback. We will review and update as appropriate.

[2022-10-26 13:39] shaktisingh-msft commented on #100489
Hi @deborahc,

Could you please look into the feedback shared here and update as appropriate. Thanks!

[2022-10-26 13:53] seligj95 commented on #100426
@AjayBathini-MSFT - This request would be better suited for the terraform or devops teams. Can you please help route/loop in the appropriate contacts so they can have a look?

[2022-10-26 13:57] SnehaSudhirG commented on #100471
#please-close

[2022-10-26 13:57] #100471 closed

[2022-10-26 13:59] rboucher commented on #100347
Emailed the product group to clarify behavior.

[2022-10-26 14:02] rboucher commented on #100347
@maskati What type of resource where you using when you ran across this behavior? Was it an Azure VM and while using the Diagnostic Extension or something else?

[2022-10-26 14:07] rboucher commented on #79634
#reassign:guywi-ms

[2022-10-26 14:11] azaricstefan commented on #100187
@PhilKoay by one JSON document in the documentation we meant one JSON file.

With this query you can read JSON text file (jsonl) separated by new line (\n character)

[code]

You mentioned a query that reads **one** JSON document/file and it is read as 1 row in results.

If you want to extract the fields from JSON you can use queries like this:

[code]

Referenced queries are in this [article](htt

[2022-10-26 14:12] ehogeweg commented on #95297
Any update or work-around on this issue? I ran into it as well.

Thanks.

[2022-10-26 14:14] SadiqhAhmed-MSFT commented on #100463
@v-ksreedevan Can you help get some traction on this from PMs team?

[2022-10-26 14:14] rboucher commented on #90315
#reassign:guywi-ms

[2022-10-26 14:19] pascalgaleazzi opened #100505 "the module is outdated: azureadpreview"
the module is outdated: azureadpreview

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent ID: 43851f8a-b71f-0a0a-8b1f-629e3528972f
* Content: [Assign sensitivity labels to groups - Azure AD - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active-director

[2022-10-26 14:21] SnehaSudhirG commented on #96947
@jbolduan - thank for your feedback.  The information is updated as a Note. Link for your reference - https://learn.microsoft.com/en-us/azure/automation/automation-webhooks?tabs=portal#create-a-webhook

[2022-10-26 14:22] SnehaSudhirG commented on #96947
#please-close

[2022-10-26 14:22] #96947 closed

[2022-10-26 14:31] GeethaThatipatri-MSFT commented on #100225
@ualves This document has been updated and you will see the changes after 24hrs, thanks for your feedback in improving the Microsoft document.

[2022-10-26 14:32] ccoder83 commented on #95961
@amgmdz That seems like quite a neat solution that could work for me too, as I'm facing similar issues.

I have one question - Why did you use the openshift cli rather than az cli? As I understand, you are using ADO agents hosted on AKS clusters

[2022-10-26 14:34] richard-artes opened #100506 "Can you restore to a different VM, or does it have to be the same VM?"
[Enter feedback here]
Please clarify: Can you restore to a different VM, or does it have to be the same VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f-523b4221935c
* Content: [Azure Instant Restore Capability - Azure Backup](htt

[2022-10-26 14:50] austinmccollum commented on #90465
#assign:austinmccollum

[2022-10-26 15:01] Nicholak-MS commented on #100498
Hi @asdcristi,

Thank you for contacting us about the issue you found. In order to help I need a bit more information. I did some spot checking on the list of products you provided above, but I am not able to easily identify the MTP item you note. I think you are referencing a service plan that is to be included in each of those products is that right? Can you provide the service plan name and GUI

[2022-10-26 15:02] DickBaker opened #100508 "Username and password text"
the text "3 - Create the Database" at https://learn.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?tabs=azure-cli%2Cvisualstudio-deploy%2Cdeploy-instructions-azure-portal%2Cazure-portal-logs%2Cazure-portal-resources#3---create-the-database states
"replace db-username and db-username with a username and password of your choice"
when it should read
"replace db-username and db-pa

[2022-10-26 15:03] Klaas- commented on #74845
@ziesemer can't you escalate this internally? I don't see any progress being made on this issue :)

[2022-10-26 15:05] austinmccollum commented on #100308
Microsoft "Security Insights" was the previous name for Sentinel, so that portion of the REST call is referencing the Sentinel API. The enrichment call is detailed more here:
[Domain Whois](https://learn.microsoft.com/en-us/rest/api/securityinsights/preview/domain-whois/get?tabs=HTTP)
https://learn.microsoft.com/en-us/rest/api/securityinsights/preview/domain-whois/get?tabs=HTTP

Does that help @Je

[2022-10-26 15:07] tamram commented on #100416
#please-reopen

[2022-10-26 15:08] tamram commented on #100416
@SaibabaBalapur-MSFT - could you please reopen this issue? I agree with @kmathewmk that we should address this in the docs.

[2022-10-26 15:12] YashikaTyagi-MSFT commented on #100477
@crankin91
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:15] MicrosoftGuyJFlo commented on #100310
I will forward the feedback to the PM who owns the feature. Thanks!

#please-close

[2022-10-26 15:15] YashikaTyagi-MSFT commented on #100480
@leewebb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:16] YashikaTyagi-MSFT commented on #100481
@tdekelver-bd
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:18] Nicholak-MS commented on #100498
Thanks Cristian, this is very helpful. I will do some additional analysis and see if I can get to the bottom of this. Thank you for the information. I will get back to you if I need any additional details.

Thanks
Nick

[2022-10-26 15:18] YashikaTyagi-MSFT commented on #100482
@cindyweng
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:19] JeffZheng666 commented on #100354
Thanks for the response and providing the information. For the resources that are not included in the move operation, would you let me know what will be the steps to move them to a different subscription? Thanks.

[2022-10-26 15:20] YashikaTyagi-MSFT commented on #100483
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:22] YashikaTyagi-MSFT commented on #100485
@masih17
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:23] YashikaTyagi-MSFT commented on #100486
@madiepev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:24] MicrosoftGuyJFlo commented on #67001
@samryanturner I was just able to create a policy using the steps in the article as written.

The exclusion is needed because we don't want customers to inadvertently lock themselves out.

If this is still an issue for your organization, I would recommend opening a support case where our engineers can look more closely at the scenario with you.

[2022-10-26 15:25] henrypi73 opened #100509 "Manually configure Hybrid AAD join"
This file: AdSyncPrep.psm1 doesn't exist in AAD Connect 2.0 anymore, can this page be updated please.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8c829209-9559-6ae3-b57a-8c2f109b4ab7
* Version Independent ID: 89269c6f-76d7-5d9d-0f81-56683941054d
* Content: [Manual configuration for hybrid Azure Active Directory joi

[2022-10-26 15:27] YashikaTyagi-MSFT commented on #100487
@KillerFrost2000
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:29] YashikaTyagi-MSFT commented on #100488
@danglund
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:31] YashikaTyagi-MSFT commented on #100493
@jadzdtc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:33] YashikaTyagi-MSFT commented on #100495
@ForteUnited
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:37] YashikaTyagi-MSFT commented on #100501
@phatcher
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:40] YashikaTyagi-MSFT commented on #100502
@SychevIgor
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:44] YashikaTyagi-MSFT commented on #100503
@altrivis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:46] YashikaTyagi-MSFT commented on #100504
@jgarplind
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-26 15:48] YashikaTyagi-MSFT commented on #100505
@pascalgaleazzi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:50] YashikaTyagi-MSFT commented on #100506
@richard-artes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:53] YashikaTyagi-MSFT commented on #100508
@DickBaker
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 15:53] CESANU commented on #98369
@yezhu6 we update the rules periodically based on customer feedback, new/deprecated features and also if we identify changes that can help better protect against trending attacks against SQL Server.

Hope this helps.

[2022-10-26 15:54] YashikaTyagi-MSFT commented on #100509
@henrypi73
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-26 16:09] ErikBoSo opened #100512 "Deprecated?"
On our domain controller installed with Azure AD Connect as per these instructions, the two services referred are not installed. However the ADSync (Microsoft Azure AD Sync) is installed tunning under the installer account, and the synchronization runs flawless...

Moreover the "New configuration" button in Azure Portal's Azure AD Connect cloud sync is disabled and no On-premises provisioning agen

[2022-10-26 16:10] seesharprun commented on #100261
@jahirul2022, I'm checking with the server-side team for the API for Table to see why this error code is being displayed. Based on [our documentation]([https://learn.microsoft.com/en-us/azure/cosmos-db/table/how-to-dotnet-get-started?tabs=azure-cli%2Cwindows#connect-using-the-microsoft-identity-platform)  and the [SDK readme](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Da

[2022-10-26 16:16] oliviacrain opened #100513 "Provide instructions for checking feature enablement status"
In [the "Install the Azure CLI aks-preview extension" part of this doc](https://learn.microsoft.com/en-us/azure/aks/azure-blob-csi?tabs=NFS#install-the-azure-cli-aks-preview-extension), we tell users how to register a feature. However, we don't tell the user (a) how to check the status of feature enablement, (b) that the feature enablement may take a few minutes, and that (c) the feature needs to

[2022-10-26 16:26] bgavrilMS commented on #98709
Hi, what version of MSAL and what target framework are you using?

[2022-10-26 16:27] pauljewellmsft commented on #100340
Thanks for your feedback. Depending on what you pass in for virtualHierarchyDelimiter, this functionality will vary. The configuration for **prefix** that you provide in the original post will start with the second character (as substring assumes a zero-based index) and will go to the end of the original string passed in for virtualHierarchyDelimiter. So if the substring() call returns an empty st

[2022-10-26 16:29] seesharprun commented on #98317
@dezfowler, you are right that this may be a typo. That particular table cell should say *"No availability loss for read region failure, temporary for write region failure"*. We will publish an update shortly with that change.

[2022-10-26 16:40] seesharprun commented on #98978
@aparna198809,

Based on the [documentation](https://learn.microsoft.com/en-us/azure/cosmos-db/autoscale-faq#what-happens-if-i-exceed-the-storage-limit-associated-with-my-max-throughput-), the answer is that 50,000 RU/s can store up to 500 GB of data.

Azure Cosmos DB will transparently manage physical partitions for the logical partition keys so that there is [no more than 20 GB of data](https://

[2022-10-26 16:40] #98978 closed

[2022-10-26 16:41] #98317 closed

[2022-10-26 16:44] sefriend commented on #52799
Hi @jonwbstr, we now have a generally available scaling service called Autoscale that you should use for any scaling needs. See the documentation for more information: https://learn.microsoft.com/en-us/azure/virtual-desktop/autoscale-scaling-plan

[2022-10-26 16:57] sefriend commented on #78621
Hi @jonwbstr, we now have a generally available scaling service called Autoscale that doesn't require this permissions setup process. We are consequently no longer making updates to the Azure Automation scaling script. All additions and improvements will come to Autoscale. Please refer to our documentation for more information: https://learn.microsoft.com/en-us/azure/virtual-desktop/autoscale-scal

[2022-10-26 16:57] sefriend commented on #99032
Hi @randydover, we now have a generally available scaling service called Autoscale that doesn't require this permissions setup process. We are consequently no longer making updates to the Azure Automation scaling script. All additions and improvements will come to Autoscale. Please refer to our documentation for more information: https://learn.microsoft.com/en-us/azure/virtual-desktop/autoscale-sc

[2022-10-26 16:58] rothja commented on #99633
This has been reported through another internal channel within Microsoft to get addressed by our localization team.

[2022-10-26 17:02] Rodrigossz commented on #99633
Yes @rothja , I did it. Thank you. #please-close

[2022-10-26 17:02] tshaiman opened #100515 "missing more unsupported regions"
[Enter feedback here]
USGovArizona / USGov Virgina is not supported as well

---
#### Document Details

I was running

az identity federated-credential create .... with user assigned managed identityh and got :
[code]

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6820696e-906f-2832-5102-78b38f50b83e
* Version Independent ID: f4e5e67f-3b94-3f5f

[2022-10-26 17:06] seesharprun commented on #99343
@davidnorena, it looks like `AZURE_COSMOS_EMULATOR_CERTIFICATE` is a setting intended for internal development on the emulator. Since the emulator is closed source, it's not intended to be overridden.

If you would like that functionality or to request an enhancement to the default certificate, please post in our [Azure Cosmos DB Q&A forums](https://learn.microsoft.com/en-us/answers/topics/azure-c

[2022-10-26 17:06] #99343 closed

[2022-10-26 17:10] seesharprun commented on #100456
@jonels-msft, can you assist with this question?

#assign:jonels-msft

[2022-10-26 17:10] seesharprun commented on #100456
#assign:seesharprun

[2022-10-26 17:10] seesharprun commented on #99799
#reassign:seesharprun

[2022-10-26 17:10] seesharprun commented on #99871
#reassign:seesharprun

[2022-10-26 17:10] seesharprun commented on #99873
#reassign:seesharprun

[2022-10-26 17:12] tjarrettveracode opened #100516 "Update Veracode docs to reflect new SSO/JIT workflows"
[Enter feedback here]
Veracode has [updated its workflows around single sign on and JIT](https://docs.veracode.com/r/c_all_platform?tocId=U0LjAs3UvBWJEVYQNx3MgQ). There are a few things that should be updated in the Azure AD page walking through the process of setting up single sign on with Veracode.

We would like to provide a pull request with the recommended changes. However, there is a slight

[2022-10-26 17:19] jonels-msft commented on #100456
Actually, @mulander is a better person to answer this.

#assign:mulander

[2022-10-26 17:21] brsieff opened #100517 "Request to clarify how External Collaboration Settings would effect Cross-tenant access settings"
Hello, I need some clarification on how a setting in the "External Collaboration settings" tab of External Identities would impact (if at all) the settings defined in "Cross-tenant access settings". If we were to lock down External Collaboration settings to just allowed domains would this essentially take precedence over the B2B collaboration settings defined in Cross-tenant access settings. For e

[2022-10-26 17:22] dataengineerdeveloper opened #100518 "Issue loading data to Dynamics D365 in ADF"
Hello everyone,

I have the following issue in a copy activity:

**"Code": 23605,
"Message": "ErrorCode=DynamicsOperationFailed,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=Dynamics operation failed with error code: -2147088238, error message: **A record that has the attribute values SAP Client, SAP System Id, OrderPOS-ID, Order ID, SAP Module, Account Assignment ID a

[2022-10-26 17:28] vhorne commented on #98433
Test URL has been updated in the article.
#please-close

[2022-10-26 17:28] #98433 closed

[2022-10-26 17:35] nickludwig commented on #99569
Hey @jimbarrett33:

"I don't really have a strong opinion on this...was just trying to help."

I appreciate it! I think it's a fantastic callout and, honestly, I wasn't aware of this until you brought it up. I had to do some digging on my own to figure things out... Anyways, I'll definitely keep an eye out for future feedback regarding this. So, thank you for bringing it up!

"Not sure what name y

[2022-10-26 17:36] nickludwig commented on #99569
#please-close

[2022-10-26 17:36] #99569 closed

[2022-10-26 17:45] cwnoyes opened #100519 "Broken link to NYCTripSmall.parquet"
Following the link to download the dataset in the getting started guide reaches the following error:

`PublicAccessNotPermittedPublic access is not permitted on this storage account. RequestId:dccbf99f-101e-0003-4b62-e97e89000000 Time:2022-10-26T17:43:44.4955296Z`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2

[2022-10-26 17:59] samcloud2000 opened #100521 "Duplicate Page"
How-to Guides has extra duplicate page titled Private Resolver - Resolve Azure and on-premises domains

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e527ea3a-8034-ccf3-5a13-6bf555095d23
* Version Independent ID: 44484208-6a25-082a-6765-686f5aefa245
* Content: [Resolve Azure and on-premises domains](https://learn.micr

[2022-10-26 18:06] CESANU commented on #99230
Added a note about archive access tier not being supported. Thanks!

[2022-10-26 18:08] MGoedtel commented on #100513
@oliviacrain - Thanks for taking the time to share your constructive feedback. I agree we could do a better job with these steps to indicate a command may take time to complete and to your last point, running the `az feature show` command to confirm both the provider and feature are registered. Indeed, these steps are used consistently in other articles in the AKS content set, so I'll make sure th

[2022-10-26 18:08] #100513 closed

[2022-10-26 18:23] svdHero commented on #100198
@sr-msft any comment on this? Our Azure Pipeline is stuck because of this. We need to find a way to restore our prod database.

Could you please look into this? Any help would be highly appreciated.

[2022-10-26 18:26] SnehaGunda commented on #87259
@ankku Apologies for the long delay, you can use a database created through the templates in a pipeline. When creating a new dataflow, select **workspace DB** under **source settings**. The database dropdown will list the databases created through the database template. FYI this option is only available for new dataflows, it's not available when you use an existing pipeline from the gallery.

![im

[2022-10-26 18:29] sr-msft commented on #100198
++ @Kanchan ***@***.***> could you look into this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joerg ***@***.***>
Sent: Wednesday, October 26, 2022 11:23:49 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sridhar Ranganathan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Flexible Server: pg_restore produces pg_catalog ACL privileg

[2022-10-26 18:30] ChaitanyaNaykodi-MSFT commented on #100521
@samcloud2000 Thank you for your feedback! We will review and update as appropriate.

[2022-10-26 18:30] ChaitanyaNaykodi-MSFT commented on #100444
@Klaas-
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-26 18:31] roberts-andy opened #100523 "Typo?"
Under the heading Backup Storage Consumption --

For all databases, including [TDE-encrypted](https://learn.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-tde-overview?view=azuresql) databases, backups are compressed to reduce backup storage compression and costs. Average backup compression ratio is 3 to 4 times. However, it can be significantly lower or higher depending

[2022-10-26 18:33] sr-msft commented on #100198
I'll look into it.

Thanks,
Kanchan
(M) (630)286-3323

PS: I'm sending this message at a time that suits me (EST).  I don't expect you to read, reply, or take any action about this outside of your working hours of choice.

From: Sridhar Ranganathan ***@***.***>
Sent: Wednesday, October 26, 2022 2:30 PM
To: MicrosoftDocs/azure-docs ***@***.***>; MicrosoftDocs/azure-docs ***@***.***>; Kanchan Bharat

[2022-10-26 18:47] limwainstein commented on #99218
#please-close

[2022-10-26 18:47] #99218 closed

[2022-10-26 18:47] KarlErickson commented on #100193
@ezYakaEagle442 @ninpan-ms does this address the feedback, or do we need a doc update? Thanks!

[2022-10-26 18:55] acidrod commented on #99873
Looking forward to some updates on this doc! Thank you for the effort!

[2022-10-26 19:01] sidramadoss commented on #93883
#please-close

[2022-10-26 19:01] #93883 closed

[2022-10-26 19:02] SnehaGunda commented on #87259
I submitted a PR to update the pipeline, data flow source & sink docs to address this issue. The changes will be live by end of today. We will now close this issue.

#please-close

[2022-10-26 19:02] #87259 closed

[2022-10-26 19:22] MattITMan opened #100525 "URL is wrong"
The URL for [Fix modified default rules in Azure AD Connect](https://learn.microsoft.com/en-us/active-directory/hybrid/how-to-connect-sync-best-practices-changing-default-configuration),  goes nowhere.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version

[2022-10-26 19:23] knicholson0 opened #100526 "Page ends before full explanation of task"
The page ends after clicking the download button but after navigating to Azure Portal / Azure Active Directory / Sign-in Logs / Download / CSV there are several files/downloads to choose from which could use explanation to understand the security value of each file, which would prevent users from downloading all just to review and see what file contains what metadata.

---
#### Document Details

⚠

[2022-10-26 19:32] brandonmartinez opened #100527 "Specify Port Ranges used by the SQL Gateway"
Only the SQL Host port ranges are documented here (11000+), but the Gateway ports are not. When undergoing audits, port scanning shows ranges such as 16000+ being used by the Gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 91ccf8ab-63c7-bba1-7aae-e850e38187b4
* Version Independent ID: d4887628-eb3f-b39f-5d52-3

[2022-10-26 19:43] rolyon commented on #98040
Hi @eyekelly
I've sent your feedback about providing more detail in permission descriptions to the team.
If you can provide your repro steps for your custom role, I can send that to the team as well.
I'll close this feedback for now, but please re-open if you have additional feedback.
thanks

[2022-10-26 19:44] rolyon commented on #98040
#please-close

[2022-10-26 19:44] #98040 closed

[2022-10-26 19:55] GeethaThatipatri-MSFT commented on #100523
@roberts-andy Thanks for your findings,We will look into it and update as appropriate.

[2022-10-26 19:59] ChaitanyaNaykodi-MSFT commented on #100521
@samcloud2000,

Thank you for your feedback. I have made a PR to address this issue and the change will go live soon.