[2021-07-26 20:37] #76951 closed

[2021-07-26 20:37] priyankareddy20 commented on #78051
Thank you for your response

On Mon, Jul 26, 2021, 10:31 PM Justin Hall ***@***.***> wrote:

[2021-07-26 20:41] rbrayb commented on #78735
Hi,

I discussed it here -
https://medium.com/the-new-control-plane/using-the-graph-api-to-change-the-password-programmatically-in-azure-ad-b2c-94043e2d3c4a

Rory

On Mon, Jul 26, 2021 at 6:52 PM singhh-MSFT ***@***.***>
wrote:

[2021-07-26 20:52] Justinha commented on #78051
#please-close

[2021-07-26 20:52] #78051 closed

[2021-07-26 21:00] GreggRevak commented on #78847
Regardless, it should reflect current options. It does not.

From: John Flores ***@***.***>
Sent: Monday, July 26, 2021 3:23 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Gregg Revak ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Currently available settings not reflected on page (#78847)

This page is approved client app not app protection policy.

App protection po

[2021-07-26 21:01] itsrskumar opened #78856 "Priority modification required under Request Routing rules evaluation order"
[Enter feedback here]
This ordering can be established by providing a 'Priority' field value to the request routing rules associated with the listeners. You can specify an integer value from 1 to **2000** with 1 being the highest priority and **20000** being the lowest priority.

Please update the lowest priority to 2000 from 20000.
---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-07-26 21:08] Justinha commented on #77040
@abhijeet-MSFT Global Admin permissions are required to modify an Azure AD DS instance.

[2021-07-26 21:08] Anand-Moghe opened #78857 "ASE V3 in Azure Gov cloud"
Is ASE V3 available in Azure Gov Cloud?
Also is ASE V3 available for both Linux and Windows workload in Azure Public Cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39980d7c-2702-a924-6412-a0ec40d719c8
* Version Independent ID: 613452e8-c5b8-37e7-a8b6-2f5284f208c8
* Content: [Create an App Service Environment - A

[2021-07-26 21:22] Karishma-Tiwari-MSFT commented on #78642
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-26 21:39] BharathNimmala-MSFT commented on #78837
@pumpkinclarinet Thanks a lot for bringing this to our attention.

Can you please share the document link on where you got the below screen shot ?  which would help to compare and update the document.

![image](https://user-images.githubusercontent.com/45180002/127023392-201330b4-2b46-43f3-9d97-3155c9f0852a.png)

[2021-07-26 21:48] DerekHerman-MSFT commented on #78711
@robertdeheer Can you run this command to see what your tables available are? Perhaps you need to doublecheck you enabled log analytics in your diagnostic settings.

`az monitor log-analytics workspace table list --resource-group RGNAME --workspace-name NAME`

[2021-07-26 21:52] BharathNimmala-MSFT commented on #78850
Thank you @tfitzmac for helping on the thread.

@ashkickindevelopment - Please review the information shared by @tfitzmac and let us know if you have any further queries.

Please note that [this](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At this point it appears that there's no furthe

[2021-07-26 21:52] #78850 closed

[2021-07-26 22:05] Karishma-Tiwari-MSFT commented on #78706
Please take a look at this document on deploying a container group to an existing virtual network by using a YAML file:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet
Let me know if you have further questions. Thanks.

[2021-07-26 22:07] SaiKishor-MSFT commented on #78651
@annerajb You can have the firewall set to: Key Vault Firewall Enabled (Trusted Services Only)

As mentioned [in the documentation,](https://docs.microsoft.com/en-us/azure/key-vault/general/network-security#key-vault-firewall-enabled-trusted-services-only). When you enable the Key Vault Firewall, you will be given an option to 'Allow Trusted Microsoft Services to bypass this firewall.'

Azure Fron

[2021-07-26 22:07] #78651 closed

[2021-07-26 22:08] atul-ram opened #78858 ""defaultValue": "i3.xlarge" is not a Azure virtual machine SKU."
[Enter feedback here]
This is an azure databricks cluster policy guidance page, it is not good to mention AWS SKU values in default values.
Please remove `"defaultValue": "i3.xlarge"` and give a suitable default value.

![image](https://user-images.githubusercontent.com/79183421/127087338-806f49bb-b1bc-478a-b481-af38961612c6.png)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-07-26 22:19] thelazydogsback opened #78859 "Should add Azure Digital Twins to event source list"
Should add Azure Digital Twins to event source list

Per: https://docs.microsoft.com/en-us/azure/digital-twins/how-to-manage-routes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3427291a-bf0e-81c6-0e9f-72bdf440b871
* Version Independent ID: 3d833d91-98c1-548b-06c5-681b0c41326b
* Content: [What is Azure Event Grid? - A

[2021-07-26 22:32] SaiKishor-MSFT commented on #78724
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-26 22:32] #78724 closed

[2021-07-26 22:32] SaiKishor-MSFT commented on #78726
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-26 22:32] #78726 closed

[2021-07-26 22:39] MartinJaffer-MSFT commented on #78718
Hello @tgpmoraes and thank you for bringing this to our attention.  I will begin my attempts to reproduce your issue.  At which point did the error occur?
Was it "Set the default Spark pool" step 3?

[2021-07-26 22:40] KranthiPakala-MSFT commented on #78771
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-26 22:40] #78771 closed

[2021-07-26 22:42] MartinJaffer-MSFT commented on #78718
Also, did you previously create a Spark pool?  You might see this message if you did not previously create a pool, and tried to find one to connect to.

[2021-07-26 22:54] jspaith commented on #78371
After further discussion with team, we think that my initial comments above should be incorporated into the document.  Re-opening this issue.  Thanks.

[2021-07-26 23:01] rajkumar-rangaraj opened #78862 "Provide UI walkthrough to enable VM/VMSS auto-instrumentation"
[Enter feedback here]

It is very difficult for customers to follow this page. Separating with language tabs will help. There is no document for onboarding application insights VM extensions through Azure Portal UI, please add UI onboarding experience.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4d

[2021-07-26 23:11] rwike77 commented on #78055
@hanslai  Thanks for the input, appreciate it.  We'll definitely refer to it when we start on the content for automated unit and e2e testing.   I'm closing this issue now, feel free to re-open if there's more you'd like to add.  #please-close

[2021-07-26 23:11] #78055 closed

[2021-07-26 23:16] MartinJaffer-MSFT commented on #78715
Hello @gabsylvain  and thank you for bringing this issue to our attention.  I am beginning my attempts to reproduce your findings.

[2021-07-26 23:23] Marusyk commented on #78601
Hi @ggailey777, it doesn't work for me
I got this on dotnet publish command

[2021-07-26 23:31] lgayhardt commented on #78862
Hi @rajkumar-rangaraj we have switch to the model where we ask internal employees, especially those on the product team, to email us when they want us to create a work item to update the docs, instead of opening a GitHub issue.

So I'm closing this issue for now, I created a [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1861614) for it.

#ple

[2021-07-26 23:31] #78862 closed

[2021-07-26 23:34] ChaitanyaNaykodi-MSFT commented on #78859
Hello @thelazydogsback,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-07-26 23:35] TiloGit opened #78863 "How to use AAD groups for AuthZ"
What are the options to use AAD groups in OCP for authorization.
OCP  Syncing LDAP groups would need AD DS I assume. https://docs.openshift.com/container-platform/4.7/authentication/ldap-syncing.html

Any suggestion:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0bd7bfa-9c1c-c19c-0e80-fbcaf1fe048b
* Version Independe

[2021-07-26 23:36] tullydwyer commented on #78380
@GitaraniSharma-MSFT, sorry I was slow! but I have just emailed the information with the following subject: "ATTN gishar - Github Issue #78380 tullydwyer"

Thanks,
Tully

[2021-07-26 23:36] ChaitanyaNaykodi-MSFT commented on #78855
Hello @matthewc101,
Thank you for your feedback! We will review and update as appropriate.

[2021-07-26 23:40] gardnerjr commented on #52844
Yes, @dibyendupal05,  that (without the exact `[newGuid()]` code was what i meant when i posted a few replies back:

the default assumption in our samples is that you want a new workbook.  If you're modifying this to create/update the same workbook you'd have to set an explicit id *somewhere*, otherwise you will get the error about duplicate names.

As dibyendupal05 says, if you want to use a temp

[2021-07-26 23:44] ChaitanyaNaykodi-MSFT commented on #78843
Hello @nick-luong
Thank you for your feedback! We will review and update as appropriate.

[2021-07-26 23:48] ggailey777 commented on #78601
I thought you were deploying a Linux container?

[2021-07-26 23:56] tgpmoraes commented on #78718
The problem is in the step 12, because I am not able to see the kernel Synapse Pyspark
![image](https://user-images.githubusercontent.com/8151342/127073704-98d7cb5c-65a1-4809-a650-41940fb416da.png)
Yes, I created before:
![image](https://user-images.githubusercontent.com/8151342/127073882-df289d95-ccb0-4c96-b1f1-444e4161e25d.png)

[2021-07-26 23:56] Marusyk commented on #78601
Yes, it is a Linux but the error occurs on build step, not deploy

[2021-07-26 23:56] v-hakob opened #78864 "Differences between HTTP and APIM connectors"
Our customer requested to add the explanation about any functional differences between HTTP and APIM connectors to this doc when using API in their APIM instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7b449c-c725-3f3d-f433-69769c75efc4
* Version Independent ID: 39b57ebb-6c6a-b46c-2c8e-cfc52cbea630
* Content:

[2021-07-26 23:57] Oury-MSFT commented on #78830
@timsander1 Please see customer feedback above. Do we need to add the NuGet Packages to the project. Please let me know if we need to raise a PR to update the doc.

[2021-07-27 00:08] orspod commented on #77641
Thank you for your contribution to the Azure Time Series Insights documentation.  We have created a work item based on your feedback.  We will prioritize it and make any necessary changes.

[2021-07-27 00:08] orspod commented on #77641
Thank you for your contribution to the Azure Time Series Insights documentation.  We have created a work item based on your feedback.  We will prioritize it and make any necessary changes.

[2021-07-27 00:08] orspod commented on #77641
#please-close

[2021-07-27 00:08] #77641 closed

[2021-07-27 00:24] tedvilutis commented on #78470
@sandervandevelde, this is just an example of the best practice to have a unique TSID within the same fleet. I couldn't find any reference to PnP in the doc. Can you provide us more details? Thank you.

[2021-07-27 00:25] ringoc opened #78865 "Include solution for detecting GA for VM created by custom image"
Section **_Detect the VM Agent_** should include instruction for detect VM agent for VM created from custom image. For VM created by custom image, the `OsProfile` object returned by `Get-AzVM` is null. Should use `Get-AzVM` with `-Status`  parameter and look for `Statuses` object.
Another option is to use `az vm get-instance-view`

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-07-27 00:26] edjez commented on #69932
Hi @ram-msft  - We have reviewed the doc.
Tacowan was right - thanks a lot for bringing it up!!-  it is also a bit of a tangled mess as docs about dependencies also say to run the npm install command.
Closing the issue for now, thankful you took the time to send the ticket in!

[2021-07-27 00:27] edjez commented on #69932
#please-close

[2021-07-27 00:27] #69932 closed

[2021-07-27 01:05] jeevansd commented on #78736
@v-rant and @v-hagamp Can you please validate this through Cisco team?

[2021-07-27 01:18] spelluru commented on #78752
Fixed now

#please-close

[2021-07-27 01:18] #78752 closed

[2021-07-27 01:37] ElsaChen11 opened #78867 "The driver in Japanese page is incorrect"
[Enter feedback here]
Regarding this article, in the Japanese page, it hasn’t been updated. The download link below for GRID 12.1(461.33) is actually for 462.31.

https://docs.microsoft.com/ja-jp/azure/virtual-machines/windows/n-series-driver-setup

While the English version page doesn’t have issue:
Could you help to update the Japanese page so that it aligns with English page?

---
#### Document

[2021-07-27 01:58] toddalbers opened #78868 "This example doesn't work."
Plenty of People Posting this. Don't Know Why It Wouldn't Be Important to Make Sure the Example Works. This example doesn't work. A dysfunctional example is not much of an example. Frustrating. I just Want to Be Able to Develop Using an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cceddcd-1431-ab61-df75-7cc

[2021-07-27 02:05] spelluru commented on #78859
The sources in this list are Azure sources that send events to [system topics](https://docs.microsoft.com/en-us/azure/event-grid/system-topics). Whereas, Azure Digital Twins sends events to a [custom topic](https://docs.microsoft.com/en-us/azure/event-grid/custom-topics). It's like any other application sending events to custom topics.

When you select a source in this list, you will see the schem

[2021-07-27 02:08] toddalbers commented on #78868
I am not sure if this links to the page that I am referring to.  The page I am referring to is the following.  https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-uwp
When I follow the steps in the example, I go through the steps including creating the certificate and get to the point of running the application.  I run the application and get the error message below.

I s

[2021-07-27 02:08] Herman5006 commented on #78391
@GitaraniSharma-MSFT Thanks so much. Let's see what can we get from PG team.

[2021-07-27 02:10] toddalbers commented on #78868
PS - I guess my point is that if it is an "Example" project is should generally always work if the steps are followed.  There shouldn't have to be a lot of troubleshooting of an "Example" project.  Thanks.

[2021-07-27 02:37] ggailey777 commented on #78601
OK, I'm getting your error. Let me look more into this, and sorry for the delay.

[2021-07-27 02:38] yutaro113 commented on #78576
@MayankBargali-MSFT ,thank you very much for the quick update!
Understood current behavior and yes, it would be very helpful to have such explanation in the official doc for other users...!
Thanks for working on doc improvement as well!

[2021-07-27 02:38] yutaro113 commented on #77369
@SnehaAgrawal-MSFT , any update on this?

[2021-07-27 02:40] yutaro113 commented on #76938
@HarshitaSingh-MSFT , thanks for the escalation and will wait for the doc improvement...! Thank you!

[2021-07-27 02:49] CHEEKATLAPRADEEP-MSFT commented on #78858
@atul-ram  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-27 02:55] BharathNimmala-MSFT commented on #78846
@Nandeeshswami Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-07-27 02:59] BharathNimmala-MSFT commented on #78852
@chuckthompsonprofisee Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-07-27 03:31] AJRus opened #78870 "How are auths managed after october 1 for AAD accounts"
I am a little confused on the wording for OTP after October 2021.  If we leave this enabled, and I invite a user who actually has a MSA or AAD tenant account (not registered with my tenant though), will they go through the B2B process still? Or will they only go through the OTP process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-07-27 03:35] AJRus commented on #69099
Sorry James, I forgot I asked this and I might have just asked the same question again.  If my new invitee has a MSA or a AAD account in another tenant but is not currently registered in our tenant.  Will they go through the B2B process (after OTP is enabled in the tenant) or will they be subject to OTP only?

My preference would be if a user can go through the B2B process, they do - with OTP as a

[2021-07-27 03:35] AJRus commented on #69099
@JamesTran-MSFT  - please see above

[2021-07-27 03:47] yutaro113 opened #78871 "Is it possible to customize output of AppServiceHTTPLogs?"
Hi team, kindly confirm whether above is possible or not.
For example,
・Add additional column.
・Customize not to generate value in specific existing column.
・Customize change value of the existing column.
・Filter transaction. (Not to include always on request etc.)

If possible, It would be great help to have doc update with its procedure.
Thank you!

---
#### Document Details

⚠ *Do not edit this

[2021-07-27 03:55] GitaraniSharma-MSFT commented on #78856
@itsrskumar , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-27 04:06] BhargaviAnnadevara-MSFT commented on #78854
@RonnieQuan Thanks for the question. We're investigating this and will get back to you shortly.

[2021-07-27 04:27] VikasPullagura-MSFT commented on #78867
@ElsaChen11
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-27 04:27] VikasPullagura-MSFT commented on #78867
@vikancha-MSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-07-27 04:54] VikasPullagura-MSFT commented on #78865
@ringoc
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-27 04:54] VikasPullagura-MSFT commented on #78865
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2021-07-27 05:02] v-hagamp commented on #75625
#please-close

[2021-07-27 05:02] #75625 closed

[2021-07-27 05:13] HeidiSteen commented on #78223
Hello @joeljanke, just reaching out to let you know that there is a new sign up page for RBAC preview. Previous versions of the doc missed this point so if you tried to use it, it probably didn't work.  The sign up page can be found at https://aka.ms/azure-cognitive-search/rbac-preview.    My apologies that this hasn't gone more smoothly.

[2021-07-27 05:21] StevenTCramer opened #78872 "actions or operations?"
It is a little confusing as to what name we are calling things.

"Only data operations can be added to the DataActions and NotDataActions properties"

And again on this [Azure resource provider operations](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftaddons)  the header is "Action".

![image](https://user-images.githubusercontent.com/357219

[2021-07-27 05:53] gabesmsft opened #78873 "The TXT record name needs to be _dnsauth.subdomain instead of subdomain in order to transfer an existing subdomain without downtime"
Step 6 of [this section](https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns#configure-txt-record-with-your-domain-provider) says the following about the name of the TXT record to add:
"@ for root domain, or enter the subdomain"

However, if there is already a CNAME record whose name is the subdomain (as is commonly the case when you are trying to transfer an existi

[2021-07-27 05:54] vipulsparsh commented on #78786
@mbendana Its not a bug.

While creating a group, you need to take account the following table [this document](https://docs.microsoft.com/en-us/graph/api/resources/groups-overview?view=graph-rest-1.0) :
![image](https://user-images.githubusercontent.com/63580915/127102413-76e24769-f056-490f-a49a-241792f56b26.png)

So if you select the groupTypes as unified, it is a Microsoft 365 group which must h

[2021-07-27 06:09] SadiqhAhmed-MSFT commented on #78578
@karkavi980 Closing this issue for now. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2021-07-27 06:09] #78578 closed

[2021-07-27 06:19] rogierverkaik opened #78874 "Parameters not visible while saving a function"
[Enter feedback here]
While saving a function, I noticed that I am not able to add any parameters. I only see this:
![image](https://user-images.githubusercontent.com/52470207/127105339-998efa05-8196-41e2-a77b-837b2c5a4ae2.png)
Is there something that need to be configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-07-27 06:32] SnehaAgrawal-MSFT commented on #78857
@Anand-Moghe Thank you for your feedback! We will review and update as appropriate.

[2021-07-27 06:42] MayankBargali-MSFT commented on #78864
@v-hakob Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-27 06:49] SnehaAgrawal-MSFT commented on #78737
@adamasmar Thanks again! Your feedback has been shared with the content owner for further review on this.

[2021-07-27 06:56] shashishailaj commented on #78868
@toddalbers We apologize for your experience with the example. As far as I think , the Key would be specific to machine and hence may need to be changed. But you are correct the instructions can be made clearer. I will reach out to the authors on this and see how best we can improve the documentation .

Thank you.

[2021-07-27 07:02] JialinXin commented on #78737
@adamasmar, we've some doc sharing about authentication. See [this](https://docs.microsoft.com/en-us/azure/azure-signalr/authenticate-application) for reference. Would you explain your scenario a little more to let us know if anything we can improve in the document side.

[2021-07-27 07:03] shashishailaj commented on #78870
@AJRus Thank you for your query . We will investigate and update the thread.

[2021-07-27 07:04] Grace-MacJones-MSFT commented on #78871
Hi @yutaro113, Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-07-27 07:08] AJRus commented on #5872
Its been a while, but I imagine I meant I ran a full sync on the user object so it completely updated in AAD from the on-premise object.

[2021-07-27 07:09] jeremyhagan commented on #5872
Full AAD Connect Sync:
Start-ADSyncSyncCycle -PolicyType Initial

From: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-feature-scheduler

[2021-07-27 07:26] rahele-al opened #78876 "Cannot get 'LastModified' infomation from file on FTP"
I am trying to use CopyNewFilesByLastModifiedDate pipeline to load new files from an FTP into Azure blob storage. However, I am getting this error

"Cannot get 'LastModified' information from file XXX"

I was wondering if the solution only works to copy files from blob storage to blob storage?

Thanks
![Capture](https://user-images.githubusercontent.com/88024653/127113351-f6518cf8-a4ea-4625-a0c0-6

[2021-07-27 07:41] Jandev opened #78878 "Incorrect sample with `--service-name`"
The sample on this page mentions the `--service-name` attribute.
However, this does not exist (anymore). According to a different issue I made (https://github.com/Azure/azure-cli/issues/17737#issuecomment-887157817), it should be `--name` nowadays.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83a737e-6585-b9e0-2a43-

[2021-07-27 07:44] HarshitaSingh-MSFT commented on #78735
Thanks for the information. I have created the PR internally and it is being reviewed.

[2021-07-27 08:00] SwathiDhanwada-MSFT commented on #78874
@rogierverkaik Thanks for your comment. We will review the issue and get back to you shortly.

[2021-07-27 08:13] AjayKumar-MSFT commented on #78873
@gabesmsft, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-27 08:31] GrzegorzHejman commented on #78705
@psmanhas Can you reopen this issue as the provided method won't work?

[2021-07-27 08:39] psmanhas commented on #78705
@GrzegorzHejman Thank you for your inputs!!! I am reopening the issue and I have reached out to internal team on this to get better insights.

Thanks

[2021-07-27 08:52] Shivani2596 opened #78883 "CosmosDB Graph API ways to add list value to the Vertex property?"
We have found that we can add list data on to the vertex property using below syntax, and it works perfectly for Azure cosmos Graph API.

g.V().has('cId', 'XX').property('country', 'UK').property('country', 'USA').property('country', 'India')

Gives response as :
"country": [
      "UK",
      "USA",
      "India"
    ]

http://tinkerpop.apache.org/docs/current/reference/#vertex-properties

Is thi

[2021-07-27 09:03] SaiKishor-MSFT commented on #78878
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-07-27 09:06] SwathiDhanwada-MSFT commented on #78874
@rogierverkaik Seems you are trying to create function from Logs section of Application Insights service. Kindly try creating function from Log Analytics workspace.

[2021-07-27 09:09] jonnyboy62 opened #78885 "Lab does not work"
There is no way I can get this to work. There simply is not new app plan anywhere at all. I can find the service plan but no way to create a new one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31a9-7767-73cb-857b-ad8aa81cdce5
* Content: [Manage App S

[2021-07-27 09:19] HarshitaSingh-MSFT commented on #78789
Can you try deleting the Authenticator method?:
![image](https://user-images.githubusercontent.com/25202671/127129544-73f26346-6246-4690-85bf-0fc656afa074.png)

And, try re-installing/re-setting the Authenticator app by following [these ](https://docs.microsoft.com/en-us/azure/active-directory/user-help/security-info-setup-auth-app#to-set-up-the-microsoft-authenticator-app) steps?

[2021-07-27 09:21] Neutrino-Sunset opened #78886 "Won't following this tutorial potentially run up a bill of $100s?"
This tutorial describes deploying a container to a B1 Basic tier App Service instance. Doesn't that cost >$50/month? In which case shouldn't there be some sort of warning about that?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd52d297-e2d9-9a51-3ed6-05c33f521672
* Version Independent ID: b9f21bef-4944-fbc1-c39c-7c2

[2021-07-27 09:32] AjayKumar-MSFT commented on #78885
@jonnyboy62,  Thanks for leveraging Azure docs feedback channel to raise this question.
Could you please share the Lab that you're referring?/ or if you're referring to the steps outlined in this doc, the step 4 mentions about creating a New App Service Plan (ASP). I'm able to proceed fine in creating the ASP fine, are you seeing any specific issues? Please share a screenshot after concealing any

[2021-07-27 09:46] frenky29a opened #78888 "Storage account firewall rules when using Express Route"
Hello there,

We are trying to configure storage account firewall based on this guidance:

https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#configuring-access-from-on-premises-networks

This is response from Express Route support:
"I understand from your verbatim that you need the public ips configured for this expressroute circuit.
This applies when

[2021-07-27 09:50] SadiqhAhmed-MSFT commented on #78635
@manzoo79 Please send an email to appcontainerization@microsoft.com. The team will troubleshoot this issue and help you with solution.

[2021-07-27 10:06] SubhashVasarapu-MSFT commented on #78623
@Ayanmullick, Appreciate your patience. I have tested this in my lab and found that this NIC comes with read-only access. Also, the same has been demonstrated on this [doc](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview) for your reference.
Here is an [Azure feedback section](https://feedback.azure.com/forums/34192--general-feedback) to provide your ideas for develop

[2021-07-27 10:57] RutgerKosters opened #78889 "FAQ add question on dynamic service level change cool down"
Hi team,

I've had multiple customers (at least 4) asking me about the dynamic service level change 7-day cooldown period, so I think it would be good to add it to the FAQ. Customers are asking me if there is a way around the cooldown or if it will be lowered in the future or possibly lifted entirely.

Suggestion:
- Are there plans to change the 7-day cooldown period for the dynamic service level

[2021-07-27 11:07] zbrilhart commented on #27217
I would like to know the maximum thread count for each service tier. I can't find this anywhere.

[2021-07-27 11:10] stianbearingpoint opened #78890 "Unable to copy data from GCP Storage to Azure"
Hi,
We want to copy files from GCP Storage to Azure Storage
We tried following this guide: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-google-cloud

We run this command:
`azcopy copy 'https://storage.googleapis.com/telia-ddi-delivery-plaace/activity_daily_al1_20min/' 'https://plaacedatalakegen2.blob.core.windows.net/teliamovement?<SASKEY>' --recursive=true
`

And get t

[2021-07-27 11:17] ssivas commented on #78870
Hello @AJRus ,

Thanks for reaching out.

One-time passcode only for guest users who don't already have an Azure AD or Microsoft account(MSA). Lets say If we leave this enabled, and when you invite a user who actually has a MSA or AAD tenant account, then they will continue to go through the B2B process still.

However, If guest users don't already have an Azure AD or Microsoft account(MSA) then t

[2021-07-27 11:37] HarshitaSingh-MSFT commented on #78827
When a user signs in to the application, Azure AD emits a roles claim for each role that the user or service principal has been granted individually to the user and from their group membership. **This can be used to implement claim-based authorization.**

The article also says that _if you add a service principal to a group, and then assign an app role to that group, Azure AD does not add the role

[2021-07-27 11:40] HarshitaSingh-MSFT commented on #78886
Hello @Neutrino-Sunset , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-27 11:41] HarshitaSingh-MSFT commented on #78872
Hello @StevenTCramer , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-27 11:50] vinishgeorge opened #78894 "Container settings for the job that was added named : adfv2-custom-activity-pool"
Hi ,

how can I add the container settings for the task that was added using the Data Factory.

In Azure batch we can set the container settings for the task to be performed in . Is it possible to give the image name , and parameters to run the command ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894562e1-2c07-2f75

[2021-07-27 11:54] AJRus commented on #78870
Hi @ssivas  - I would disagree with you here.  Today, I shared a test file from SharePoint to a outlook.com account, from my global admin account, that has guest inviter role (just for kicks) and my MSA account received the email but did not go through the B2B process.  It was sent a OTP to open the file.  Which surprised me because a) the documentation as per your explanation doesnt suggest that

[2021-07-27 11:58] AJRus commented on #78870
@ssivas - I think the documentation needs to be updated to reflect that the sharing tenant must have an AAD or MSA account for that user already, in order to go through the B2B process.  Otherwise, OTP will the preference.  This will make it much clearer, as this has too much ambiguity and can be interpreted incorrectly.

As much as OTP helps where an user doesnt have a 'home' AAD tenant, or a MSA

[2021-07-27 12:00] Rvvhub opened #78895 ""premium" detections not listed?"
Paragraph "Other risk detections" states:
" _indicates that one of the above premium detections was detected_"

but no premium detections are listed on this page?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d468eb75-88a9-b1aa-7fb3-

[2021-07-27 12:20] shashishailaj commented on #78863
@TiloGit Thank you for your query . We will have this reviewed and update the thread.

[2021-07-27 12:23] shashishailaj commented on #78849
@efonsecab Thank you for pointing that out. We will investigate and update the thread

[2021-07-27 12:23] thebeautiful opened #78896 "AAD authentication only shouldnt be at db level, but server level"
The heading suggests that this feature is available at database level, but it is a SQL Server feature.

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62819146-5a2f-5e8f-3fea-ef8af90536d4
* Version Independent ID: 99d8e35b-38ae-b4ab-3858-be248ea8b736
* Content: [Azure Active Directory only authentication with Azure SQL

[2021-07-27 12:24] shashishailaj commented on #78895
@Rvvhub Thank you for your query . We will investigate and update the thread.

[2021-07-27 12:47] sandyjec opened #78897 "Security hardening for AKS agent node host OS for image version 18.04 ubuntu"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/aks/security-hardened-vm-host-image
above page still mentions about the image version 16.04 and CIS policies however AKS is using 18.04 ubuntu as default image .

---
#### Document Details
https://docs.microsoft.com/en-us/azure/aks/security-hardened-vm-host-image

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-07-27 12:56] AnuragSharma-MSFT commented on #78896
@thebeautiful Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-27 13:02] jongross4 opened #78898 "Use of direct and group-based licensing does not work as described"
[Enter feedback here]
The documentation implies that you can turn on or off individual features in a SKU that may have been assigned or not assigned via group based licensing.  Only entirely new skus can be added via direct assignment and not individual features such as Yammer when part of another SKU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-07-27 13:05] beanska opened #78899 "Spelling error - "broowser""
Spelling error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [Plan hybrid Azure Active Directory join - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-j

[2021-07-27 13:12] tanjakersten commented on #59925
Hi Team,

I would like to understand this in more detail.

I have two policies in my environment with the same conditions and controls:
Policy 1: "Always MFA"- On
Policy 2: "Always MFA"- Report-only

If I report only on Policy 2 in Conditional Access Insights & Reporting I would expect to see my user only in "User action required" as MFA is required but not enforced and success or failure cannot b

[2021-07-27 13:12] stianbearingpoint commented on #78890
Hi, I managed to solve it with some help from StackOverflow: https://stackoverflow.com/questions/68543893/azcopy-interprets-source-as-local-and-adds-current-path-when-it-is-a-gcloud-stor?noredirect=1#comment121139575_68543893

The reason I got this issue is because the URL storage.cloud.google.com is hardcoded in the application source code for azcopy. From this link:

const gcpHostPattern = "^sto

[2021-07-27 13:12] #78890 closed

[2021-07-27 13:13] rajlearner17 opened #78901 "Add the history of change to the doc."
Since it was released in June, we see some changes already, where few of the policy is removed. Is it possible to get those information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42d1dd8-e687-8f58-6ed4-812e2a35b27d
* Version Independent ID: 6d6d8a41-fd22-2f37-2d42-b919daefcb82
* Content: [Regulatory Compliance de

[2021-07-27 13:17] SrijitBose-MSFT commented on #78897
@sandyjec, Thank you for your feedback. We have shared the same with the content authors.

[2021-07-27 13:19] rodrigoffonseca opened #78902 "Update network connectivity from VPN to Global Peering"
In this document, you are recommending using VPN to setup VNET to VNET communication in a DR scenario. This should be replaced to Global Vnet Peering, which is an easier and cheaper option to configure communication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e51bc6-b077-a976-c890-a02e7d71b88e
* Version Independe

[2021-07-27 13:29] MonikaReddy-MSFT commented on #78902
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-27 13:29] jaydeepn commented on #78114
@pnarsi , Thanks for your feedback. We will consider your suggestion for future updates that we may do on this topic.

[2021-07-27 13:31] MhAllan commented on #78180
can we re-open this ticket? we got no answer

[2021-07-27 13:32] yodobrin opened #78903 "wrong class used in section: Create a versioned pipeline endpoint"
[Enter feedback here]

the part that explains how to configure a pipeline endpoint, is not using the right class. it should obtain the published pipeline like this:
published_pipeline = PublishedPipeline.get(workspace=ws, id="your pipeline id")
and not
from azureml.pipeline.core import PipelineEndpoint

published_pipeline = PipelineEndpoint.get(workspace=ws, name="My_Published_Pipeline")
pipeline_

[2021-07-27 13:36] vipulsparsh commented on #78895
@Rvvhub Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-27 13:43] Vikram1988 commented on #78664
@LeoMarks7 the commands have been documented here: https://docs.microsoft.com/en-us/azure/migrate/troubleshoot-appliance#failed-to-fetch-bios-guid-for-server-during-validation

[2021-07-27 13:54] Vikram1988 commented on #78664
I realize that the redirect link in the section: https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-physical#physical-server-requirements is not redirecting to the right section. I will get it corrected.

[2021-07-27 14:02] spelluru commented on #78841
Updated the article.

#please-close

[2021-07-27 14:02] #78841 closed

[2021-07-27 14:04] shashishailaj commented on #78899
@beanska Thank you for pointing this out . We will engage the content team to review and update the thread.

[2021-07-27 14:05] IgnacioAlvarezArenas opened #78904 "Create a queue triggered function: "public class access modifier""
Hi,

I noticed a few people having the same issue when following this guide: https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#create-a-queue-triggered-function

In this guide, when the Function is created we add a Class by going to the project level. In the doc explicitly says:

In Solution Explorer, right-click the project, select Add > New Item, and then select Class.

[2021-07-27 14:20] JSieglaf opened #78905 "Doesn't work"
Trying to follow this tutorial, copied and pasted all of the code, but trying any link gives:

`[2021-07-27T14:18:13.981Z] SwaggerUI page was requested.
[2021-07-27T14:18:14.021Z] The type initializer for 'Microsoft.Azure.WebJobs.Extensions.OpenApi.OpenApiTriggerFunctionProvider' threw an exception.
[2021-07-27T14:18:14.360Z] Executed 'Functions.RenderSwaggerUI' (Failed, Id=c7ee3472-ef0d-497c-bcec

[2021-07-27 14:26] shae-hurst opened #78906 "pickZones ZoneRedundant Resource Documentation update"
Hi,

Can we update documentation for the pickZones ARM template function? pickZones does not work for Zone Redundant (resources that are deployed across multiple availability zones for resiliency) resource deployments. As a result if pickZones is used with say CosmosDB pickZones("Microsoft.DocumentDB", "databaseAccounts", "westus"), it returns empty zones array (since this resource is not zonal),

[2021-07-27 14:31] michaellyoungg opened #78907 "Demo code has incorrect partition keys"
I believe the partition keys given in the demos are incorrect. I believe the partition keys should be "category" instead of "Personal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-c6a1-ab36-70b60a18f8b5
* Version Independent ID: 10a323f6-5a10-8b38-6339-48ee7a4c54b3
* Content: [Register and use stored pr

[2021-07-27 14:31] Ayanmullick commented on #78623
@SubhashVasarapu-MSFT , UserVoce is shutting down.
![image](https://user-images.githubusercontent.com/17693249/127172042-7b671c07-5e67-4ff4-8361-5877f4934f3a.png)

Also, `Read-Only` doesn't mean it can't comply with naming standards. There should be a way to specify the name; maybe using Invoke-AzRestMethod using the API's, for now.  It's just not documented. Could you engage the product team to g

[2021-07-27 14:32] thepaulmacca commented on #78257
I'm sorry but why are issues like this being closed when they're not resolved? I'm seeing this all over the place with docs at the moment and it's really frustrating - issues being closed with no real resolution

Can we at least keep issues like this open for people like myself and @slavizh to track?

[2021-07-27 14:48] mcollier commented on #78755
It looks like the tutorial at https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp#create-and-configure-a-function-app-on-azure-with-the-image already includes a "Tip" to set the `DisableColors` property.
![image](https://user-images.githubusercontent.com/1142273/127175418-aff3fbab-b1ad-40f2-b892-6

[2021-07-27 14:48] timrhaynes opened #78908 "Two typos"
"Letting the user to correct the data on the page..." should be "Letting the user correct the data on the page...".

"Your should design your REST API service..." should be "You should design your REST API service..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ce480b-caa7-fbae-c69b-94af8d3bed35
* Version Independ

[2021-07-27 14:51] beagam opened #78909 "Direct peer between VNETs - Troubleshoot SMB or dual-protocol volumes"
In section "Troubleshoot SMB or dual-protocol volumes" (https://docs.microsoft.com/en-gb/azure/azure-netapp-files/troubleshoot-dual-protocol-volumes#errors-for-dual-protocol-volumes), the resolution of "Dual-protocol volume creation fails with the error **Could not query DNS server. Verify that the network configuration is correct and that DNS servers are available**.", could have some additional

[2021-07-27 14:53] laurensvp commented on #78219
Hi, any news on this? It has been a fortnight.

[2021-07-27 14:53] DCtheGeek commented on #78901
@rajlearner17 Thanks for the question! There are two ways to see the history since we keep both the initiative and the Doc in public GitHub repos:

- History of the initiative: https://github.com/Azure/azure-policy/commits/master/built-in-policies/policySetDefinitions/Regulatory%20Compliance/HIPAA_HITRUST_audit.json
- History of the Doc: https://github.com/MicrosoftDocs/azure-docs/commits/master/a

[2021-07-27 14:53] #78901 closed

[2021-07-27 14:54] GiftA-MSFT commented on #78903
@yodobrin we'll review your feedback and get back to you shortly. Thanks.

[2021-07-27 14:56] ilyas2020n opened #78910 "I got an error"
[Enter feedback here]
I  got an error when tried to run some commands in powershel:

this command gives me an error:
$userIdentifier = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" -IncomingClaimTypeDisplayName "name" -LocalClaimType "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"

The message says:
New-SPClaimTypeMapping : The t

[2021-07-27 14:59] rogierverkaik commented on #78874
You are right, these parameters are only available in the Log Analytics workspace. That explains it. Do you know if the Function parameters will be available soon for Application Insights service?

[2021-07-27 15:03] AdamSharif-MSFT opened #78911 "CAS behavioral changes for minimum count"
Hello,

Currently we have this call-out in the document:

"The cluster autoscaler makes scaling decisions based on the minimum and maximum counts set on each node pool, but it does not enforce them after updating the min or max counts. For example, setting a min count of 5 when the current node count is 3 will not immediately scale the pool up to 5. If the minimum count on the node pool has a valu

[2021-07-27 15:05] RyanHill-MSFT commented on #78904
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-07-27 15:06] MarileeTurscak-MSFT commented on #78908
@timrhaynes
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-27 15:06] MarileeTurscak-MSFT commented on #78898
@jongross4
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-27 15:20] efonsecab commented on #78849
You are welcome, just to point out, we do have a special situation in our project.
We have the videos placed in a home page, but we also allow users to click on the eye, to show a modal for the select video with new widgets for the player and insights.
so our page hats lots of iframes for at least the player

[2021-07-27 15:20] MonikaReddy-MSFT commented on #78911
@AdamSharif-MSFT - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-27 15:24] priyankareddy20 opened #78912 "I see that MS is to use OR control when we use Require approved client app OR Require app protection policies.I would like to know, if I am allowed to use Require device to be compliant and Require approved client app as my requirement is I want all users to access Office 365 apps from a Compliant device and an approved client app.How do I achieve it"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent ID: 8188cee4-3f28-6014-f3be-1ee9e9b183b6
* Content: [App protection policies with Conditional Access - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/condition

[2021-07-27 15:34] MarileeTurscak-MSFT commented on #78908
Thank you! I made a pull request to fix these. https://github.com/MicrosoftDocs/azure-docs-pr/pull/167038

[2021-07-27 15:34] #78908 closed

[2021-07-27 15:44] SwathiDhanwada-MSFT commented on #78906
@shae-hurst Thanks for your comment. We will review the issue and get back to you shortly.

[2021-07-27 15:46] joeljanke commented on #78223
I don't have permissions to the signup form.   If I am not mistaken, however, I do believe I already have access to the preview RBAC roles.

From: Heidi Steen ***@***.***>
Sent: Tuesday, July 27, 2021 00:13
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Janke, Joel ***@***.***>; Mention ***@***.***>
Subject: [External]Re: [MicrosoftDocs/azure-docs] New Search Roles Not Mentioned (#78223)

Hello @jo

[2021-07-27 15:47] timrhaynes commented on #78908
Thank you very much!
    On Tuesday, July 27, 2021, 11:35:08 AM EDT, Marilee Turscak - MSFT ***@***.***> wrote:

Thank you! I made a pull request to fix these. MicrosoftDocs/azure-docs-pr#167038

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-27 15:48] scubaninja commented on #78555
@SnehaAgrawal-MSFT

Currently, there is not an option to do this from within the Static Web App build task, but… there are some options.

Might I ask how you’re deploying the Function, Manually in the portal? Or using IaC?

If you’re already using something like Terraform or ARM/Bicep to deploy your resources, you can use update that string no issue. Might be worth looking at deploying it using yo

[2021-07-27 15:49] boris-tarasov-maersk opened #78913 "IDurableActivityContext size limit in a store used by durable func framework."
What is a limit on IDurableActivityContext size?
Yes, we do not need to use only IDurableActivityContext, any json serializable object can be binded but what is a limit on such object in terms of store?
Can JSON be of size 1MB? 100MB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a535d4d1-4ba0-0da2-9c23-59a64293ccb5
*

[2021-07-27 15:54] DerekHerman-MSFT commented on #78888
@frenky29a It sounds like Support was unable to provide the NAT IP addresses and confirmed you are using public peering, is this correct? Could you share the Support case ID? I will be happy investigate further.

[2021-07-27 15:54] b-juche commented on #78889
Thanks, @RutgerKosters !  Will consult the team and copy you.

[2021-07-27 16:06] Oury-MSFT commented on #78773
@Markus-Wolff We are checking on this and will get back shortly. Thanks

[2021-07-27 16:06] b-juche commented on #78909
@beagam - Thanks for the comment. I'll consult the technical team about your input.  Meanwhile, if you are a NetApp or Microsoft team member, feel free to reach out through email at juliec@netapp.com or b-juchfw@microsoft.com so that I can loop you in for the discussion.  Thanks.

[2021-07-27 16:08] cgillum commented on #78913
There is no size limit for the activity function inputs. An activity function input (or output) can be any size as long as the serialized and deserialized payloads can fit into available memory. However, we recommend smaller input and output sizes for better overall performance.

[2021-07-27 16:17] spissay opened #78914 "Azure firewall deployment failing"
PS C:\Users\Shashank> $Azfw = New-AzFirewall -Name "fw-infra-prod" -ResourceGroupName $rg -Location $reg -VirtualNetwork $vnet -PublicIpAddress $FWpip

New-AzFirewall : Cannot parse the request.
StatusCode: 400
ReasonPhrase: Bad Request
ErrorCode: InvalidRequestFormat
ErrorMessage: Cannot parse the request.
Additional details:
    Code: MissingJsonReferenceId
    Message: Value for reference id is

[2021-07-27 16:28] v-kydela opened #78915 "What is the relationship between a service bus namespace resource and a relay resource?"
What is the relationship between a service bus namespace resource and a relay resource?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e4bcb2-e585-af85-8abd-0bc37b2b7992
* Version Independent ID: 1ce8abec-50fc-cd5b-2853-7ba2dbd01149
* Content: [How to create a Service Bus namespace in the Azure portal - Azure Service

[2021-07-27 16:37] HarshitaSingh-MSFT commented on #78912
Hello @priyankareddy20 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-27 16:40] craigshoemaker commented on #68245
Closing this item as the issue is a product concern.

#please-close

[2021-07-27 16:41] #68245 closed

[2021-07-27 16:41] Anand-Moghe commented on #78857
Azure Gov regions are not included in the ASE V3 available [region](https://docs.microsoft.com/en-us/azure/app-service/environment/overview#regions) list.

[2021-07-27 16:42] jwashbur commented on #15826
This is a painful process that Microsoft should consider simplifying. We used this script to grant users in a management group the Owner role on every Reservation in our tenant. You need to make sure that your instance of PowerShell has the Az.Reservations module. If you do not have the module installed, the commands will not work. To install the module, type:

Install-Module Az.Reservations

# ge

[2021-07-27 16:42] rolyon commented on #76140
Hi @spaelling
Thanks for noticing this. We checked with the team and the Azure AD roles don't grant access to Azure Security Center.
We've updated the Azure AD roles doc:
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#security-administrator
thanks

[2021-07-27 16:43] rolyon commented on #76140
#please-close

[2021-07-27 16:43] #76140 closed

[2021-07-27 16:43] shraboin opened #78917 "Clarity on supported storage accounts: What does 'legacy' mean ?"
Under this section:
Blob versioning is available for standard general-purpose v2, premium block blob, and legacy Blob storage accounts. Storage accounts with a hierarchical namespace enabled for use with Azure Data Lake Storage Gen2 are not currently supported.
https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview?source=docs#how-blob-versioning-works

What does it mean by legac

[2021-07-27 16:43] vikancha-MSFT commented on #78867
@ElsaChen11 This has already been escalated to the right teams in Microsoft. We will check and get an ETA from the team.

[2021-07-27 16:44] BharathNimmala-MSFT commented on #77744
@pjrcdf Thanks a lot for being patient on this. The document has been updated to call out the current support scope.

![image](https://user-images.githubusercontent.com/45180002/127194067-85efa4a6-a8a9-44c3-bd18-a05f453b0645.png)

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further que

[2021-07-27 16:44] #77744 closed

[2021-07-27 16:46] craigshoemaker commented on #74608
@anthonychu, @mkarmark - Does skipping the build process change how the config file is located?

[2021-07-27 16:48] craigshoemaker commented on #77359
@anthonychu, @mkarmark - can you help provide details here, please?

[2021-07-27 16:53] craigshoemaker commented on #78707
Thanks for the heads-up, @GeordieP! The typo is now fixed.

#please-close

[2021-07-27 16:53] #78707 closed

[2021-07-27 16:56] RyanHill-MSFT commented on #78128
Hi @rwiankowski and @gitstua, I've assigned the content author so we can better clarify this.

[2021-07-27 16:57] rolyon commented on #78171
Hi @fernandoferrini
We've updated the Azure AD service limits doc:
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/directory-service-limits-restrictions
Let us know if you have additional feedback.
thanks

[2021-07-27 16:58] rolyon commented on #78171
#please-close

[2021-07-27 16:58] #78171 closed

[2021-07-27 16:59] jyama4ta commented on #78372
@SatishBoddu-MSFT Is there any update?

[2021-07-27 17:01] craigshoemaker commented on #77970
Hi, @bobleujr - Proxying is available through the Static Web Apps CLI. Check out [Set up local development for Azure Static Web Apps](https://docs.microsoft.com/azure/static-web-apps/local-development) for details.

#please-close

[2021-07-27 17:01] #77970 closed

[2021-07-27 17:04] Oury-MSFT commented on #78907
Thank you @michaellyoungg  for your feedback. We are reviewing this and will get back shortly.

[2021-07-27 17:11] rajashekhargundeti opened #78919 "An interface to send one message to eventhub instead of batch of events"
Hi,

I'd like to send one event as message to eventhub, unfortunately i couldn't find it. But i found that i could send multiple messages or single message as a batch. Is there a particular reason for not providing an interface to publish one single message using azure eventhub node module.
i'm using typescript language for development.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-07-27 17:15] frenky29a commented on #78888
2107260050002419
thank you

[2021-07-27 17:15] HarshitaSingh-MSFT commented on #78825
I am working with the PM on this.

[2021-07-27 17:16] twofingerrightclick opened #78920 "Listed API Prerequisite insufficient for Assign Azure roles PS Tutorial"
The prerequisites listed on this page are insufficient for use with Service Principals and Az 6.2.1. I was unable to run `Get-AzADUser`  (from step 1 on the page) without Azure Active Directory Graph `Directory.Read.All` as an API permission for the service principal (else received a forbidden response)
I suggest adding that requirement until Az.Resources (I was using v4.2.0) no longer uses the AA

[2021-07-27 17:17] mkarmark commented on #71349
This fix should have been rolled out a while ago, sorry for forgetting to update this thread, let me know if anyone runs into any issues!

[2021-07-27 17:23] mkarmark commented on #65687
It appears that the section of the workflow file erroring doesn't come from the tutorial for the Jekyll setup. @cfjedimaster this issue is from a while ago, but are you still experiencing an issue, and is there a reason you added that with clause there?

[2021-07-27 17:24] djtech2k-MS opened #78921 "Broken Link to Az Module Import into Azure Automation"
Go to https://azure.microsoft.com/en-us/updates/azure-automation-supports-the-azure-powershell-az-module/
Click on "Read more about how to import and use the Az module in Automation." (https://docs.microsoft.com/azure/automation/az-modules)
See error: 404 Page not found
Expected behavior
See the Import Az Module docs.

[2021-07-27 17:27] JamesTran-MSFT commented on #78920
@twofingerrightclick
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-27 17:29] mkarmark commented on #74608
@RossMurr4y Was the build skipped by removing the build section from the workflow file or using the skip_app_build setting in the workflow file?

[2021-07-27 17:30] mkarmark commented on #77359
@hkusulja I believe we do support .br files, can you please elaborate on what failure you're experiencing?

[2021-07-27 17:32] MichaelNCCA opened #78922 "Pricing"
I came to this page to find out if we are still charged for the database if it is in a stopped state. I could not find the answer on this page. Thank you for your time in looking at this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f639e1-f3fd-67b2-224e-cf263ce5e4a3
* Version Independent ID: 4c1985f1-6297-8b

[2021-07-27 17:35] bandersmsft commented on #78324
@tuxnam Hi there. You're right about ATP getting replaced. We're working on updating the article. Thanks for letting us know about this issue.
https://github.com/MicrosoftDocs/security-benchmark-docs-pr/pull/103
#please-close

[2021-07-27 17:35] #78324 closed

[2021-07-27 17:43] andrewbrownmsft commented on #77875
Following up on this: is the issue with getting the token itself, or is it getting 401 from the Device Update service endpoint? If you have successfully gotten a token but received 401 from the DU API call, one thing to check is whether you got the token for the DU scope, which should be https://api.adu.microsoft.com/user_impersonation for user flows or https://api.adu.microsoft.com/.default for c

[2021-07-27 17:45] tamram commented on #78917
@shraboin - "Legacy" in this case means that we discourage their use. We recommend that customers use general-purpose v2 accounts instead of blob storage accounts. But the feature is supported on blob storage accounts.

#please-close

[2021-07-27 17:45] #78917 closed

[2021-07-27 18:01] jlichwa commented on #77395
Thank you @kamsumlee-ms. We have updated the screenshots. #please-close

[2021-07-27 18:01] #77395 closed

[2021-07-27 18:04] SubhashVasarapu-MSFT commented on #78623
@Ayanmullick, Agree with you. UserVoice feedback sites will be moving away by EOF 2021 calendar year.
We have a variety of channels that allow customers to communicate with us. Including:
- In-product experiences
- Windows Feedback Hub
[- Microsoft Tech Community
](https://techcommunity.microsoft.com/)- Microsoft Store
[- Microsoft Q&A
](https://docs.microsoft.com/en-us/answers/products/)
Customer

[2021-07-27 18:04] jlichwa commented on #76354
Please follow provided link for guidelines. We tested scenario and cannot reproduce, it seems like it is general issue with Python modules. #please-close

[2021-07-27 18:04] #76354 closed

[2021-07-27 18:05] bradleypatton opened #78925 "TestFactory shows creating a HttpRequest not the newer HttpRequestData"
TestFactory shows creating a HttpRequest not the newer HttpRequestData. V3 Azure Functions now take HttpRequestData as the first parameter. Creating a HttpRequest will not work. Docs should be updated on how to unit test V3 functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
*

[2021-07-27 18:08] ggailey777 commented on #78601
OK, so there are two things going on:

1. There is still a dependency on the .NET 3.1 Core SDK even in .NET 5.0 function projects, which [seems to be "by design."](https://github.com/Azure/azure-functions-dotnet-worker/issues/297)
2. The Dockerfile that we generate for a project with `--worker-runtime = dotnet-isolated --docker` [is missing a key line to add the reference to .NET Core 3.1](https:/

[2021-07-27 18:17] DerekHerman-MSFT commented on #78876
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-27 18:20] SubhashVasarapu-MSFT commented on #78914
@spissay, Thanks for reaching out. We will investigate and update this thread.

[2021-07-27 18:33] anthonychu commented on #65687
Originally, we required customers to add additional steps to the workflow to build Jekyll apps. The instructions were unclear and caused many people to insert [this code](https://github.com/cfjedimaster/test-azure-jekyll/blob/5bf4f143902f03acd6e8f2901f6e733b4865a4cb/.github/workflows/azure-static-web-apps-mango-tree-0fc1a5510.yml#L19-L26) in the incorrect spot in the file, which split the submodul

[2021-07-27 18:37] anthonychu commented on #74608
I think we've updated the docs to clarify this.

The docs now say it needs to be inside the folder specified in `app_location`. This should be valid whether the build is being skipped.

[2021-07-27 18:46] shraboin commented on #78917
@tamram that doesn't clear up the issue with documentation. It says versioning works with all legacy options of storage. Gpv1 is a legacy option and doesn't support versioning. It might be more concise and more clear to give what doesn't support the feature instead of what does

[2021-07-27 18:47] BryanTrach-MSFT commented on #77754
@AndrewSmithRS Log Analytics really is best at providing general metrics. Trying to get specific instance data out of Log Analytics is tough. Not to mention, the instances serving your site can change at random so hard coding for specific instances would likely become broken once your instances get rotated out.

For this reason, I would recommend something like Azure Monitor, which is more advance

[2021-07-27 18:47] #77754 closed

[2021-07-27 18:50] BharathNimmala-MSFT commented on #78615
@sven73 My apologies for delay in getting back to this thread.

Assuming that you performed a [soft delete](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/delete-workspace#soft-delete-behavior) in the scenario you called out. I did test it out and recovering a Log analytics workspace from recycle and using the ARM template to enable the diagnostic setting for a service bus, it does work

[2021-07-27 18:50] #78615 closed

[2021-07-27 18:51] DerekHerman-MSFT commented on #78888
If you are using public peering that means you are the owner of the IP addresses and they should be configured in your peering details. You can see the information here on how to get the configuration.
https://docs.microsoft.com/en-us/azure/expressroute/about-public-peering#getpublic

[2021-07-27 19:07] jasongroce commented on #76794
#please-close now that the docs have been updated.

[2021-07-27 19:07] #76794 closed

[2021-07-27 19:08] jasongroce commented on #77905
#please-close

[2021-07-27 19:08] #77905 closed

[2021-07-27 19:13] tamram commented on #78917
@shraboin - I know it's confusing that we have a type of account called "Blob storage". In this case, the text is literally referring to "the legacy type of account called a Blob storage account". I'm not sure how to say it more clearly. There's no need that I see to mention GPv1, because it's not supported.

We do not say anywhere in this article that versioning works with all legacy options of s

[2021-07-27 19:18] abandyop opened #78929 "Powershell Script incompatible with Powershell 7.x"
[Enter feedback here]
Hi Team,
Issue :
Looks like there is a compatibility Bug in Powershell Script - "purview-msi-configuration.ps1" : https://github.com/Azure/Purview-Samples/tree/master/Data-Source-MSI-Configuration
Found where : Tutorial -- https://docs.microsoft.com/en-us/azure/purview/tutorial-msi-configuration
I discovered that it may be incompatible with Powershell 7.
It was working okay i

[2021-07-27 19:20] AjayKumar-MSFT commented on #78712
@tcarcachi, We appreciate you taking time to share your valuable feedback.

The tutorial aims to provide key concepts and _general instructions_ for configuring scraping of Prometheus metrics with Container insights.
The doc meant to show something more involved, but still allow users (/readers) to learn things beyond a specific configuration. It provides step-step process on Prometheus scraping s

[2021-07-27 19:22] Wibusts opened #78930 "Broken reference: see [Connectivity problem](#connectivity problem)."
[Enter feedback here]
On this area:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-password-hash-synchronization#no-passwords-are-synchronized-manual-troubleshooting-steps

Found a broken reference on this article:
![image](https://user-images.githubusercontent.com/62709550/127214861-baf06c4a-3c20-4d84-9dd9-d286ad5d14a1.png)

---
#### Document Details

⚠ *Do not edit

[2021-07-27 19:23] MarileeTurscak-MSFT commented on #78930
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-27 19:23] bandersmsft commented on #78280
@jonstelly Sorry for the delay. In short, Amber was incorrect at the Azure feedback site. If I could change the Azure portal code to give you the functionality that you need, I would. Unfortunately, the only way you can have a single credit card associated with a specific subscription is to create a new subscription. I updated the article throughout to essentially say as much and I added the follo

[2021-07-27 19:23] #78280 closed

[2021-07-27 19:28] jonstelly commented on #78280
Understood.  obviously I'd like to see that feature but I appreciate you updating the documentation, I'm sure that'll be help prevent confusion in the future.

Thanks for tracking all of this down.  I'll go make a bit of noise on the azure feedback item to try and get it re-opened.

[2021-07-27 19:33] MarileeTurscak-MSFT commented on #78930
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/167072

I removed the reference since that section is right below the reference.

[2021-07-27 19:33] #78930 closed

[2021-07-27 19:45] clu005 opened #78933 "Need more info/clarification for VS"
Please update this document for Visual Studio 2019/2022 (preview) if possible. Otherwise please update the 1st sentence of this page, changing from "Visual Studio" to "Visual Studio Code".
I am requesting for support for Visual Studio, not Visual Studio Code. Integration with Visual Studio Code is already covered in the current document.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-07-27 19:47] James-Hamil-MSFT commented on #78069
Hi @LockTar , I'm going to escalate this as I have not received a response yet.

[2021-07-27 19:58] SaurabhSharma-MSFT commented on #78922
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-27 20:05] SaurabhSharma-MSFT commented on #78922
@MichaelNCCA When Database is in stopped mode then you have to pay only the storage cost .  Please refer to the [pricing page](https://azure.microsoft.com/en-us/pricing/details/mysql/server/)
![image](https://user-images.githubusercontent.com/38112130/127219958-71ccbf00-602a-46a1-9923-97e11e1f6b28.png)
**Storage Cost (as per the pricing page)**
![image](https://user-images.githubusercontent.com/38

[2021-07-27 20:06] JamesTran-MSFT commented on #77886
@momdim
Thank you for your time and patience throughout this issue.

I received an update from our engineering team, and it doesn't look like there's any backlog item or plans to change the current iFrame implementation. I also got confirmation that there aren't any alternatives available for this yet.

I'd recommend leveraging our [User Voice forum](https://feedback.azure.com/forums/34192--genera

[2021-07-27 20:06] #77886 closed

[2021-07-27 20:11] ChaitanyaNaykodi-MSFT commented on #78905
Hello @JSieglaf
Thank you for your feedback! We will review and update as appropriate.

[2021-07-27 20:18] cveld opened #78934 "My Apps browser extension acting as a secure proxy?"
We plan to enable password-based single sign-on for a cloud app without enabling Azure application proxy. Can you add to the documentation how the extension is keeping the shared password secure? We need confirmation that users are not able to sniff the shared secret being submitted through the browser's dev tools or network capture tooling.

We assume the extension is acting as a proxy to some cl

[2021-07-27 20:21] JamesTran-MSFT commented on #78839
@caitlinzinda
Thank you for your time and patience throughout this issue.

When it comes to logging into the `salesforce.com` domain first, if you own this domain and can have users added to/signed into it, then you should be able to use it. However, based off our documentation you should be using your `mydomain.salesforce..com`  domain to sign in users.

Since this issue isn't directly related to

[2021-07-27 20:21] #78839 closed

[2021-07-27 20:27] JamesTran-MSFT commented on #78934
@cveld
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-27 20:27] JamesTran-MSFT commented on #78910
@ilyas2020n
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-27 20:39] SatishBoddu-MSFT commented on #78372
Hi,
Tagging content author, @mlearned to take a look into this issue.

[2021-07-27 20:40] tfitzmac commented on #78832
@Rao-CZ - thanks for this feedback. I reviewed the content and it doesn't seem like the general guidance changes. In either case, the recommendation is to review dependencies and remove unnecessary ones.
#please-close

[2021-07-27 20:40] #78832 closed

[2021-07-27 20:43] Justinha commented on #78630
@AlexFilipin Thanks for your comment! It actually is encrypted by both. Specifically, the passwords themselves are encrypted with the Public key, then the entire request + metadata is encrypted with the symmetric key.

[2021-07-27 20:44] Justinha commented on #78630
#please-close

[2021-07-27 20:44] #78630 closed

[2021-07-27 20:44] tfitzmac commented on #78846
@Nandeeshswami - the principal can have 1,500 app role assignments. @curtand can correct me if that's not right.

[2021-07-27 20:46] KranthiPakala-MSFT commented on #78919
@rajashekhargundeti
Thanks for reaching out. Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which has a better suited audience for s

[2021-07-27 20:47] Justinha commented on #78342
@priyankareddy20 Thanks for catching this! Both software and hardware OATH tokens support SSPR. The topic is corrected now.

[2021-07-27 20:47] Justinha commented on #78342
#please-close

[2021-07-27 20:47] #78342 closed

[2021-07-27 20:48] tfitzmac commented on #78792
For an example of creating a resource group and deploying resources to it, see [Create resource group and resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/deploy-to-subscription?tabs=azure-cli#create-resource-group-and-resources).
#please-close

[2021-07-27 20:48] #78792 closed

[2021-07-27 20:50] Justinha commented on #70376
@DeanGross Sorry for delay. This is done.

[2021-07-27 20:50] Justinha commented on #70376
#please-close

[2021-07-27 20:50] #70376 closed

[2021-07-27 20:51] sandervandevelde commented on #78470
Hello @tedvilutis,

This [page](https://docs.microsoft.com/en-us/azure/time-series-insights/how-to-select-tsid) is about best practices regarding the Time Series ID.

It does not include the Azure PnP related [best practice](https://docs.microsoft.com/en-us/azure/iot-develop/tutorial-configure-tsi#choose-a-time-series-id):

[code]

Please show the same best practices on both page.

[2021-07-27 20:52] Justinha commented on #78800
@loosus thanks for the feedback! This step has been added.

[2021-07-27 20:52] Justinha commented on #78800
#please-close

[2021-07-27 20:52] #78800 closed

[2021-07-27 20:54] AlexFilipin commented on #78630
There is one sentence that says

And one that says

I understand that the password is encrypted and then the entire request BUT the two sentences above both refer to the plain text password and are contradictory.

[2021-07-27 20:55] Justinha commented on #78551
@aceoforder Thanks for nudge! The PowerShell is going through final internal quality check. When it is released we will update the topic with syntax and examples. In the meantime, I removed the reference to it. Sorry for the confusion.

[2021-07-27 21:09] KranthiPakala-MSFT commented on #78933
@clu005 - Thank you for reaching out and providing the feedback. At this time we are reviewing the ask and will provide an update as appropriate.

[2021-07-27 21:12] KranthiPakala-MSFT commented on #78933
@leifbro - Could you please review this feedback and make changes accordingly on Databricks source?

![image](https://user-images.githubusercontent.com/50185738/127227941-35ada7a8-2c70-4f13-90f2-fb993ab668c4.png)

The doc describes about Visual Studio code:

![image](https://user-images.githubusercontent.com/50185738/127228047-2f003c64-61be-4a58-8531-3d0bb63a1c53.png)

Thank you

[2021-07-27 21:14] BharathNimmala-MSFT commented on #78921
Thanks a lot @djtech2k-MS for bringing this to our notice. Will work with respective article owner and fix the broken link.

[2021-07-27 21:26] robinsh commented on #73228
#please-close

[2021-07-27 21:26] #73228 closed

[2021-07-27 21:29] robinsh commented on #72932
#please-close

[2021-07-27 21:29] #72932 closed

[2021-07-27 21:40] MartinJaffer-MSFT commented on #78718
I have run into several of the issues now, but I'm not certain they were in the same order.

One thing I did, was change the Python interpreter.  That seemed to unstick a problem where it was denied permission to install the kernel, if I understood correctly.  However, I wasn't able to go back and verify this was fix because it wouldn't  re-break.

The selection of interpreter also appears to be l

[2021-07-27 21:45] #78855 closed

[2021-07-27 21:46] ChaitanyaNaykodi-MSFT commented on #78855
Hello @matthewc101, Thank you for your feedback. I have made a PR to address this issue and the changes will go live soon.

[2021-07-27 21:50] CousinJohn140 opened #78939 "add "Error: inappropriate ioctl for device" to Common errors"
Hello 👋🏻,

so I was trying to do some stuff with Gcloud commands and helm. i was running into issues b/c i had to do most of it in bash.

the issue I ran into was caused by this:
`gcloud auth print-access-token | helm registry login -u oauth2accesstoken **>** --password-stdin https://us-docker.pkg.dev`
(not that this should matter but I am trying to push my charts to a gcp artifact repository)

Th

[2021-07-27 21:50] leifbro commented on #78933
Fixed in the Databricks source and will be updated on docs.microsoft.com
with the next doc deploy

Leif Brown | Director of Documentation | Databricks

He, Him, His

On Tue, Jul 27, 2021 at 2:12 PM Kranthi Pakala ***@***.***>
wrote:

[2021-07-27 21:51] Marusyk commented on #78601
Cool, it works.
Thank you very much!!

[2021-07-27 22:04] Karishma-Tiwari-MSFT commented on #78773
Cloud Services (extended support) is a new Azure Resource Manager based deployment model for Azure Cloud Services product and is now generally available. Cloud Services (extended support) has the primary benefit of providing regional resiliency along with feature parity with Azure Cloud Services deployed using Azure Service Manager. It also offers some ARM capabilities such as role-based access an

[2021-07-27 22:05] cherylmc commented on #70168
#reassign:reyandap

[2021-07-27 22:16] rboucher commented on #52532
Got this back from the product group.  Hope this helps. @nisreen95. It's actually documented here.

https://docs.microsoft.com/en-us/azure/azure-sql/database/auditing-overview#setup-auditing

===============

[2021-07-27 22:18] cherylmc commented on #78090
No problem. The update will publish this week. #please-close

[2021-07-27 22:18] #78090 closed

[2021-07-27 22:21] Justinha commented on #77967
@glebaron Sorry my expertise here is limited. Can you submit a pull request with this info? I found a command to reset computer account: RESET COMPUTER ACCOUNT
       adcli reset-computer resets a computer account in the domain. If a the appropriate machine
       is currently joined to the domain, then its membership will be broken. The account must
       already exist.

           $ adcli reset

[2021-07-27 22:24] matthewc101 commented on #78855
Excellent.  Fast work.
Matt

On Tue, Jul 27, 2021 at 2:46 PM ChaitanyaNaykodi-MSFT <
***@***.***> wrote:

[2021-07-27 22:25] tomcam commented on #78090
you folks rock. Thanks.

On Tue, Jul 27, 2021 at 3:18 PM PRMerger7 ***@***.***> wrote:

[2021-07-27 22:41] ChaitanyaNaykodi-MSFT commented on #78913
Thank you @cgillum,
Hello @boris-tarasov-maersk , we will now proceed to close this issue out. Please feel free to reopen and comment on this issue if there are any additional concerns. Thank you!

[2021-07-27 22:41] #78913 closed

[2021-07-27 22:51] DerekHerman-MSFT commented on #78894
@vinishgeorge Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-27 22:55] cherylmc commented on #74668
#reassign:anzaman

[2021-07-27 23:02] BharathNimmala-MSFT commented on #78837
@pumpkinclarinet Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the unit type as CountPerSecond for the document in question. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We

[2021-07-27 23:02] #78837 closed

[2021-07-27 23:19] ChaitanyaNaykodi-MSFT commented on #78925
Hello @bradleypatton,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-07-27 23:20] ChaitanyaNaykodi-MSFT commented on #78915
Hello @v-kydela,
Thank you for your feedback! We will review and update as appropriate.

[2021-07-27 23:38] Leonardo-Ferreira commented on #12292
What is the current status on this? `_myCollection.Find(item => item.NotMyShardKey == 1234)` works?

[2021-07-27 23:48] #77976 closed

[2021-07-27 23:52] BryanTrach-MSFT commented on #77976
@shgoldbe We went ahead an made an edit to the doc to call out that the app being .net core will prevent this from working.

In regards to support, we typically recommend Azure Functions if you're looking for a more robust feature set. Azure WebJobs is positioned to more or less offer a quick and dirty solution that rides on top of your existing Web App.

We will now proceed to close this thread.

[2021-07-28 00:42] rwike77 commented on #76807
@jvalente-salemstate The 50053 error can indeed be triggered by two different conditions:
1- Sign-in was blocked because it came from an IP address with malicious activity.
2- Account is locked because user tried to sign in too many times with an incorrect user ID or password.

The Azure AD sign-in logs will actually list one or the other of these descriptions, so you'll be able to tell.
 I'll get

[2021-07-28 00:43] leifbro commented on #78776
Created a Jira ticket in the internal Databricks DOC project: DOC-2918

[2021-07-28 00:48] leifbro commented on #78933
Merged to Microsoft docs, #please-close

[2021-07-28 00:48] #78933 closed

[2021-07-28 00:48] leifbro commented on #78776
#label:"in-progress"

[2021-07-28 00:59] shivanissambare commented on #78611
This might be a bug on our side then, this is a preview functionality.
May I know your use case for using functions?

I'd recommend to use Managed Endpoints
Azure machine learning launched managed endpoints, please take a look :
- https://docs.microsoft.com/en-us/azure/machine-learning/concept-endpoints
- https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-managed-online-endpoint

[2021-07-28 01:02] Karishma-Tiwari-MSFT commented on #78706
Hope that helped. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-28 01:02] #78706 closed

[2021-07-28 01:15] crisansou commented on #78611
Hi @shivanissambare,

Thanks for the updates. For now I'm just testing the existing options for deploying a regression model.

[2021-07-28 01:23] jasonbourneasc commented on #77499
I am studying and a big discussion, how come readers make changes?
A reader can't modify anything, it's explicitly in the name (reader)

[2021-07-28 01:28] tamram commented on #77805
@mauriciojost - I have asked the portal team to clarify the UI to provide feedback about which type of policy you are creating.

[2021-07-28 02:29] WilliamBonilla62 commented on #61423
Sorry for almost been a year later but It worked for me. @prachandabhanu if you have any questions feel free to contact me.

[2021-07-28 02:44] GitaraniSharma-MSFT commented on #78548
@RonnieQuan , Here are the answers to your questions:

1. Yes, the inbound connectivity can be configured using the DNAT rules only.
2. That rule is not visible to the user, and the user doesn’t need to maintain it, it exist as long as the DNAT rule exists.
3. No, in order to allow direct inbound access a user needs to configure a DNAT rule.
4. That is correct, this refers to the DNAT rule.

Confi

[2021-07-28 02:44] #78548 closed

[2021-07-28 02:45] MS-jeremy opened #78943 "Azure Go SDK reference/tutorial for creating Cosmos DB SQL API"
[Enter feedback here]
Do we have any Azure Go SDK reference/tutorial for creating Cosmos DB SQL API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1447c3-9885-7225-1b63-8e568bdfe04f
* Version Independent ID: 5574832e-2af1-ba6d-cfac-3f330b5e11e0
* Content: [Quickstart - Create Azure Cosmos DB resources from the Azure

[2021-07-28 02:56] GitaraniSharma-MSFT commented on #78691
@martintoreilly , I have reached out to the Azure WAF PG team to confirm regarding the pricing. I will respond as soon as I receive an update from them.

[2021-07-28 03:15] 29039 commented on #67344
I figured out from Microsoft Support that actually the user's MFA needs to be set to "Enforced" rather than simple "Enabled"

This is a bug in the documentation. Please re-open

[2021-07-28 03:21] CHEEKATLAPRADEEP-MSFT commented on #78929
@abandyop  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-28 03:48] kasunsjc opened #78944 "Outdated Contents"
[Enter feedback here]

When I go through this documentation to enable Azure SQL service endpoints for Postgress SQL I notice the contents are not up to date. I can't find a configuration as mentioned in the documentation

![image](https://user-images.githubusercontent.com/16514562/127260425-380b0c3f-5a52-4b2c-b531-ed356575a9a3.png)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-07-28 03:50] ram-msft commented on #78801
@jyravi Thanks, Here is doc for full details of compute targets that supported for the training.
![image](https://user-images.githubusercontent.com/49180516/127260599-06e7d4eb-1f42-4184-a357-18426064becd.png)

https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-target#train

[2021-07-28 04:01] AElharouny opened #78945 "Azure Active Directory role assignments on service bus resources don't replicate from primary to secondary namespace.e"
Hello,

Seems there is a gap in Service Bus Geo-disaster recovery documentation:

Service Bus supports [Azure Active Directory authentication](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-authentication-and-authorization) and we have noticed that AAD role assignments to entities (topics, queues) are not being replicated to secondary namespace entities.

This is very dan

[2021-07-28 04:07] AnuragSharma-MSFT commented on #78944
@kasunsjc Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-28 04:41] Vipin-Sharma commented on #78787
@PramodValavala-MSFT please tell me if you need more details on the questions here.

[2021-07-28 04:47] hkusulja commented on #77359
In given Blazor documentation / example fro Azure static apps, needs to be described, how is .gzip and .br files served.
Since, when using mentioned .NET 5, after build, by default, you get also the .gzip and .br file.
I believe that web server / azure static files, needs to be somehow configured to do rewrite and return those, already compressed files.

[2021-07-28 04:47] StevenTCramer commented on #78872
`az provider operation show -n Microsoft.Subscription`

also uses a mix in the naming. I would expect a collection of operations but one of the objects as "isDataAction".  Maybe there is some inheritance going on where "Operation" is a "Action" or vice a versa

[code]

[2021-07-28 05:10] CHEEKATLAPRADEEP-MSFT commented on #78939
@CousinJohn140  Thanks for the feedback! We are investigating and will update you shortly.

[2021-07-28 05:21] PramodValavala-MSFT commented on #78787
@Vipin-Sharma Hope the below answers your queries

Yes. If you plan to use the built-in logging of the Function Runtime, then you would have to pass this along as required.

The built-in logging functionality is great when writing simple functions. But if you already have lots of java library code that leverages java-native logging, its best to leverage the same.

The built-in logging is simple to

[2021-07-28 05:25] PramodValavala-MSFT commented on #78762
@shizn Thanks for catching that! Looks like there isn't a replacement for the sample yet. We have worked up a PR to fix the link and have it point to the GitHub Actions docs. Once there is a new sample published, the doc should be updated then.

[2021-07-28 05:29] BhargaviAnnadevara-MSFT commented on #78814
@maskx Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-07-28 05:29] #78814 closed

[2021-07-28 05:30] PramodValavala-MSFT commented on #78632
@reachnishant Based on the error and code that you've linked, the problem is likely because of `AzureCliCredential()`. This requires setting up Azure CLI and authenticated to Azure by running `az login`.

The better option is to use `DefaultAzureCredential()` which runs through a couple of options before failing out. [This doc about authentication using the Python SDK](https://docs.microsoft.com/e

[2021-07-28 05:30] #78632 closed

[2021-07-28 05:34] HarshitaSingh-MSFT commented on #78789
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-28 05:35] HarshitaSingh-MSFT commented on #78827
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-28 06:16] #78786 closed

[2021-07-28 06:22] #78762 closed

[2021-07-28 06:38] OliverRC commented on #78706
Thank you so much, that document was great.

[2021-07-28 06:39] slavizh commented on #78257
I agree with @thepaulmacca

[2021-07-28 06:45] PramodValavala-MSFT commented on #78945
@AElharouny Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-07-28 06:54] HarshitaSingh-MSFT commented on #78828
@simonech, some developers might prefer manual handling of Exceptions and also the other document as well say:

But, you are right that Web.Config gets updated automatically. Hence, I have updated Step #7 as:

The PR is getting reviewed internally. Thanks in advance for patience.

[2021-07-28 07:00] simonech commented on #78828
@HarshitaSingh-MSFT I know that handled exceptions are not tracked automatically, but registering the filter as global, means that even unhandled exceptions will be tracked "manually" and potentially tracking these exceptions twice

[2021-07-28 07:11] #78828 closed

[2021-07-28 07:14] AnuragSharma-MSFT commented on #78896
@thebeautiful Could you please point us to the section headline as mentioned in your query?

[2021-07-28 07:22] thesuraj2011 commented on #78789
after deleting its working but now not able to see notification in mobile.

On Wed, Jul 28, 2021 at 11:04 AM HarshitaSingh-MSFT <
***@***.***> wrote:

[2021-07-28 07:28] Gilada opened #78950 "mistake in step # 7 order"
Hi,
Step 7 instruction is
Set Keys to source.

instead it should be

Set Keys to category.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independent ID: 7fe76247-c969-2068-2c3c-bf327fbbe39e
* Content: [Quickstart - Run a Spark job on Azure Databricks Workspace using Azure

[2021-07-28 07:33] JayaChatterjee-MSFT commented on #78781
Hello @gcmlpfaltaher, Yes we need storage for stateless workflows , mainly for storing keys for the functions runtime. The logic apps engine in standard runs on the azure functions runtime. When the functions runtime is hosted on azure it needs a storage account to store its various keys for access control, this is why even when we run logic apps in stateless mode we need a storage account even th

[2021-07-28 07:33] #78781 closed

[2021-07-28 07:33] HarshitaSingh-MSFT commented on #78872
As the document says, `Resource providers identify which operations are data operations, by setting the isDataAction property to true. To see a list of the operations where `isDataAction` is true, see [Resource provider operations](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations).`

Hence, you are seeing one of the properties as `isDataAction`. On the

[2021-07-28 07:47] HarshitaSingh-MSFT commented on #78912
@priyankareddy20, you can use Conditional Access Policies to achieve your goal. You can set [Complaint Device](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#device-platforms) and [Approved Client Apps ](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/app-based-conditional-access) in it's settings. Let me

[2021-07-28 07:48] AnirvanK opened #78951 "Bulk Executor Support for Java - Gremlin API"
It is not clear from the documentation whether a Java SDK is available for Bulk inserts/updates on Cosmos DB Gremlin API. Is it only available for .NET?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f942c792-655b-4174-a427-644108abd6d5
* Version Independent ID: 4009eeb3-ee41-ab49-d0d0-4269d678a0bc
* Content: [Use bulk

[2021-07-28 08:19] AnuragSharma-MSFT commented on #78943
@MS-jeremy Azure Cosmos DB SQL API support with Golang is on roadmap, however you can refer to below link for open source code:

https://github.com/vippsas/go-cosmosdb

Please refer to below thread for same query:

https://docs.microsoft.com/en-us/answers/questions/45184/cosmos-sql-api-support-for-golang.html

[2021-07-28 08:23] CHEEKATLAPRADEEP-MSFT commented on #78950
@Gilada  Thanks for the feedback! We are investigating and will update you shortly.

[2021-07-28 08:25] slavizh opened #78952 "Page may be out of date"
I have not checked all information but I have stumbled on some out of date information. For example Bastion has both metrics and logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592ccdb-4c92-7da9-aeb3-e93cf8cb3512
* Version Independent ID: 5ac6b940-88e9-fd5b-98fa-f46eb2cc9758
* Content: [What is monitored by Azure

[2021-07-28 08:28] psshri commented on #39577
update please?

[2021-07-28 08:39] jonnyboy62 commented on #78885
Hi,

Unfortunately I was unable to navigate back in the course successfully, however I am currently on Secure network connectivity on Azure, so it would have been the module prior to that?

I don't know if I can connect back and retry the module as there are no course markers to indicate where I am. I have to work through the courses and face that fact that once I move forward all previous cannot

[2021-07-28 08:41] CHEEKATLAPRADEEP-MSFT commented on #78950
@Gilada As per my repro, there is no issues with the step7.

**Note:** You can `keys` and `values` according to your requirement.

![image](https://user-images.githubusercontent.com/79183421/127292217-4a42d19c-9546-4f02-9097-f1f8bb8177ae.png)

Hope this helps.

[2021-07-28 08:48] rdenouden opened #78953 "Incorrect download links at azure monitor IP address listing page"
The download links in the page seem all to end up in a surface product page

I am refering to the download links at https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#azure-public-cloud

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015

[2021-07-28 08:54] HarshitaSingh-MSFT commented on #78789
Try [Change your default security info method](https://docs.microsoft.com/en-us/azure/active-directory/user-help/security-info-setup-auth-app#change-your-default-security-info-method).

[2021-07-28 08:56] HarshitaSingh-MSFT commented on #78952
Hello @slavizh, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-28 08:58] HarshitaSingh-MSFT commented on #78953
Hello @rdenouden , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-28 09:08] pumpkinclarinet commented on #78837
Apologies  @BharathNimmala-MSFT , I just saw this today.
This is the correct link: https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftstoragestorageaccountsfileservices

Would you share the PR with me please?

[2021-07-28 09:08] yahorsi opened #78954 "Sample needed"
The article does not explain how to use a private endpoint after creation.
The problem is, from the UI, it is not possible to get a private endpoint IP.
E.g., in our case, we need to access to the Azure MySql database using private endpoint, we have created private endpoint just fine, but now it's not clear what shoulds we do, should we just access resource using it public DNS name that will be re

[2021-07-28 09:31] ram-msft commented on #78809
@likebupt Can you please help with this.

[2021-07-28 09:39] timja opened #78957 "TXT record validation should use _dnsauth record for zero downtime domain validation"
TXT DNS records and CNAME cannot be used at the same time

In order to do a zero-downtime transfer like is documented:

It should recommend use a TXT record on the subdomain `_dnsauth`
Instead of using the domain you're actually going to serve traffic over

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f

[2021-07-28 09:40] timja commented on #78957
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/78873

[2021-07-28 09:40] #78957 closed

[2021-07-28 09:41] timja commented on #78873
I hit this as well and raised https://github.com/MicrosoftDocs/azure-docs/issues/78957.

Also have verified the fix myself

[2021-07-28 09:49] SadiqhAhmed-MSFT commented on #78635
@manzoo79 Closing this thread for now as no action pending from documentation perspective.

Please update this thread once the team helps with a solution to your issue.

[2021-07-28 09:49] #78635 closed

[2021-07-28 09:52] SubhashVasarapu-MSFT commented on #78741
@Ravivarman13, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-28 09:52] #78741 closed

[2021-07-28 10:17] manzoo79 commented on #78635
Thanks, I was able to get it working. I could not get it working on my Official laptop, but worked on one of the Azure VM.

[2021-07-28 10:20] SadiqhAhmed-MSFT commented on #78635
@manzoo79 Thanks for the update. Glad to know it worked.

[2021-07-28 10:29] AjayKumar-MSFT commented on #78957
timja, Thanks for sharing your findings. We're following-up on the other thread.

[2021-07-28 10:43] AnuragSharma-MSFT commented on #78951
@AnirvanK Thanks for reaching out. Yes you are correct. Java Bulk Executor library is supported only for SQL API. There is a user voice already in place for Java, you can upvote it:

[Gremlin bulk executor for java library](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/40499824-gremlin-bulk-executor-for-java-library)

[2021-07-28 10:45] aidanfinn commented on #66817
Same here. This instruction is effectively completely missing.

[2021-07-28 10:48] CHEEKATLAPRADEEP-MSFT commented on #78954
@yahorsi At the end of the document, you will find the next steps article, which  helps to create a Managed private endpoint to your data source.

![image](https://user-images.githubusercontent.com/79183421/127309810-f49d82f4-5887-476f-b6e5-1f50f0f8c328.png)

Hope this helps.

[2021-07-28 10:58] Gilada commented on #78950
and this is what I get ... I checked and source is null in all rows
![image](https://user-images.githubusercontent.com/1651081/127311329-060a8451-2272-4015-b882-1f5993debe6e.png)

[2021-07-28 11:01] Gilada commented on #78950
source column is null
![image](https://user-images.githubusercontent.com/1651081/127311669-40301759-8aed-4e1e-b65e-5685b2de488a.png)

[2021-07-28 11:02] Gilada commented on #78950
source column is null in all rows

![image](https://user-images.githubusercontent.com/1651081/127311872-84d1c0d9-95f7-4897-a9e1-c04e206f13e3.png)

[2021-07-28 11:08] AjayKumar-MSFT commented on #78653
@chtourou-youssef, Apologies for any confusion. Both folder content on /site and /var would be available.

I have tried a similar scenario that you mentioned.

Created a folder /var/www/html and files inside.
![image](https://user-images.githubusercontent.com/44606227/127305274-20619eb2-0268-4171-8d8e-3cdb5ffc7465.png)

Deleted the var folder
![image](https://user-images.githubusercontent.com/4460

[2021-07-28 11:15] ctahok opened #78959 "No workaround for port 445 is provided."
You say "You can learn about various ways to workaround blocked port 445 [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems#cause-1-port-445-is-blocked). " But the article doesn't show even a single workaround for blocked port 445.
I was expecting something like Private Link, Private Endpoint ways of workarounds but sadly none is there

[2021-07-28 11:24] yahorsi commented on #78954
@CHEEKATLAPRADEEP-MSFT No, it does not. As I already mentioned, I have already created managed private endpoint. The next question is how I can use it to connect to my source.
The problem is, from the UI, it is not possible to get a private endpoint IP.
E.g., in our case, we need to access the Azure MySql database using a private endpoint, we have created a private endpoint just fine, but now it's

[2021-07-28 11:40] CHEEKATLAPRADEEP-MSFT commented on #78950
@Gilada Thanks for the details, now I got you what you are saying.

This is due to recent changes in the document.

**Before:** The document used `Boston Safety Data`

![image](https://user-images.githubusercontent.com/79183421/127316234-280c4c7a-197d-4e08-af8a-c08e5c3a9b77.png)

**Now:** It changed to `Seattle Safety Data` and author has forgot to update the screenshot/content in the document.

!

[2021-07-28 11:50] muthu329024 opened #78961 "in `bash` cloud-shell update remove `$` in token"
In `bash` cloud-shell update remove `$` in token
[code]

[2021-07-28 11:58] simonfrindberg commented on #78066
Hello, could I please get an estimated time line of when the issue is going to be resolved?

/Simon

[2021-07-28 12:17] Bafff commented on #78827
@HarshitaSingh-MSFT Hi!

I didn't totally understand your answer because I have a lack of knowledge on this topic but if you are sure that all information is correct I think we can close this issue

[2021-07-28 12:18] komayama opened #78962 "App Service publish access control need to change"
Regarding the following publish access control need to change about first string to small `m` .

- Microsoft.Web/sites/publish/Action -> microsoft.web/sites/publish/action
- Microsoft.Web/sites/slots/publish/Action -> microsoft.web/sites/slots/publish/action

Becasue, Kudu wiki has write for small `m` and should be same syntax.

https://github.com/projectkudu/kudu/wiki/Accessing-the-kudu-service#s

[2021-07-28 12:38] AjayKumar-MSFT commented on #78885
Steve, I'm not sure about the module that you're attempting to complete and the exact issue you'd faced. Typically, being on secure network is always recommended.

If you're referring to the learn modules, please reach out to the help links available here - [Microsoft Learn help](https://docs.microsoft.com/learn/support/)

From the [Learn FAQ,](https://docs.microsoft.com/learn/support/faq?pivots=g

[2021-07-28 12:38] #78885 closed

[2021-07-28 12:48] HarshitaSingh-MSFT commented on #78827
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-28 12:48] #78827 closed

[2021-07-28 12:59] sijucm opened #78963 "Name for an Entity function for clients to use. Not mentioned"
[Enter feedback here]
Normally for the durable functions it is possible to overwrite the name of the durableOrchestrator or Activity with a name instead of defaulting to the Function name itself. For example:
 "bindings": [
    {
      "name": "context",
      "orchestration": "ACustomNameForTheOrchestrator",
      "type": "orchestrationTrigger",
      "direction": "in"
    }
  ]

I was searching

[2021-07-28 13:05] gcmlpfaltaher commented on #78781
If that's the case, the documentation is misleading since it indicates that it's needed only for stateless workflows.  According to your response, a storage account is needed for both stateless and stateful workflows since they both run on the azure functions runtime.  Can it be updated to reflect that?

[2021-07-28 13:19] andersand opened #78964 "Where can I find the joint hierarchy in the body tracking api code?"
This is useful, but it would be better if I didn't have to "reinvent the wheel " to define the joint relationships in my code, if there was an api method to get this data structure/table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfd96838-87c8-c27e-f8ee-a2db651ba463
* Version Independent ID: ab4d754c-e83f-7d20-cd8

[2021-07-28 13:21] craigshoemaker commented on #74608
I'm am going to #please-close this issue for now. @RossMurr4y please feel free to reopen if think more details are required.

[2021-07-28 13:21] #74608 closed

[2021-07-28 13:24] craigshoemaker commented on #71349
Thanks, @mkarmark! @PiMihai I am going to #please-close this issue for now, but feel free to reopen if you feel more detail is required.

[2021-07-28 13:24] #71349 closed

[2021-07-28 14:01] rscottwatson opened #78967 "Not clear if I need to allow the nodes/kubelet access to the api server"
[Enter feedback here]
I cannot tell based on this documentation if I need to allow my nodes access to the api server.  I want to make sure that I have not locked out various components.  ie, kubelet, or container insights etc.  While trying this out I noticed that the azure portal is no longer able to show information due to enabling this setting for different ranges.

---
#### Document Details

⚠

[2021-07-28 14:31] colindembovsky opened #78968 "URL rewrite rule is not working"
We have 2 app services: `foo.azurewebsites.net` and `bar.azurewebsites.net` and have configured origin groups for both sites. We would like the front door to do path based routing: i.e.:
[code]
We can configure this to work using `Patterns to match` on the routes as `/foo/*` and `/bar/*` respectively. This works as expected.

Next, we want to rewrite the URL so that we don't get the initial `/foo`

[2021-07-28 14:34] grajdeanserghei opened #78970 "Hosting multiple function apps on same consumption plan - documentation inconsistency"
Statement from [Multiple apps in the same plan](https://docs.microsoft.com/en-us/azure/azure-functions/consumption-plan#multiple-apps-in-the-same-plan) says that multiple Function apps can be hosted on same consumption plan without any impacts:

_Function apps in the same region can be assigned to the same Consumption plan. There's no downside or impact to having multiple apps running in the same

[2021-07-28 14:38] spelluru commented on #78945
Yes. Product team is already aware of this limitation. I will add an important note to the article. Thanks.

[2021-07-28 14:39] SrijitBose-MSFT commented on #78967
When you enable API server authorized IP ranges during cluster creation, **_the outbound public IP for the Standard SKU load balancer for your cluster is also allowed by default in addition to the ranges you specify_**. To allow only the outbound public IP of the Standard SKU load balancer, use 0.0.0.0/32 when specifying the `--api-server-authorized-ip-ranges` parameter. [[Reference](https://docs.

[2021-07-28 14:41] AElharouny commented on #78945
Awesome thanks @spelluru

[2021-07-28 14:45] spelluru commented on #78701
Fixed now. Thanks.
https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#batching-behavior

#please-close

[2021-07-28 14:45] #78701 closed

[2021-07-28 14:46] spelluru commented on #78859
Added a note in the Custom Topics article. Thanks.
https://docs.microsoft.com/en-us/azure/event-grid/custom-topics#arm-template-tutorials

#please-close.

[2021-07-28 14:46] #78859 closed

[2021-07-28 15:06] Justinha commented on #77967
#please-close

[2021-07-28 15:06] #77967 closed

[2021-07-28 15:07] Justinha commented on #78551
#please-close

[2021-07-28 15:07] #78551 closed

[2021-07-28 15:08] nosvalds opened #78974 "GitHub Actions Workflow for api-management/automate-portal-deployments"
I've written a basic GitHub Actions Workflow that others might find useful in setting up this automation script. It can be run manually in GitHub when necessary.

The AZURE_CREDENTIALS Service Principal has been given Contributor role on both the Dev and Prod Resources so that it can move the resources between them.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-07-28 15:08] Justinha commented on #77123
@GuyPaddock Thanks for catching this. The sentence is removed.

[2021-07-28 15:08] Justinha commented on #77123
#please-close

[2021-07-28 15:08] #77123 closed

[2021-07-28 15:13] Justinha commented on #76895
#please-close

[2021-07-28 15:13] #76895 closed

[2021-07-28 15:14] Justinha commented on #77040
#please-close

[2021-07-28 15:14] #77040 closed

[2021-07-28 15:15] mzentz opened #78975 "Missing .net 4.8 code"
I used the script on this page to install .Net framework 4.8 on the cloud service but it did not install. After further investigation, the only 4.8 code is the variable at the top. It's missing the following lines of code:

if %netfx%=="NDP48" goto NDP48

and

:NDP48
set "netfxinstallfile=NDP48-Web.exe"
set netfxregkey="0x80ff4"
goto logtimestamp

---
#### Document Details

⚠ *Do not edit this sec

[2021-07-28 15:16] Justinha commented on #70615
@virtualjack Thanks for the feedback and sorry for delay. The topic has been revised to align with Microsoft's passwordless strategy. Please submit a pull request for any other changes you suggest.

[2021-07-28 15:16] Justinha commented on #70615
#please-close

[2021-07-28 15:16] #70615 closed

[2021-07-28 15:19] Justinha commented on #75647
@rtrigueiro The Important text has been removed for lack of clarity. It was added by an external contributor but we are unsure of the intent.

[2021-07-28 15:19] Justinha commented on #75647
#please-close

[2021-07-28 15:19] #75647 closed

[2021-07-28 15:23] rafatecoy opened #78976 "On-prem AD Universal group required to have RBAC permission to the share works"
Hello!

This document needs to be updated.
When we have on-prem AD Syncing with Azure AD, if we try to grant share level permission with RBAC, it only works with groups if we use an on-prem AD group with scope Universal. Groups with either Local or Global scopes don’t work.
Also, based on my testing, only convert group scope does not work. We need to have a group which already has Universal scope

[2021-07-28 15:25] MarileeTurscak-MSFT commented on #78962
@komayama
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-28 15:28] AlexFilipin opened #78977 "Add details for scoped roles and custom roles"
The Administrator roles by admin task in Azure Active Directory is super helpful, I think it would be create if we could add details for AU/SP/Application scoped role assignments and custom roles to the document - often these are the best choice from least privileged point of view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-07-28 15:37] BhargaviAnnadevara-MSFT commented on #78961
@muthu329024 I believe you are referring to this article that has the mentioned command: [Get access token for Azure API for FHIR using Azure CLI](https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/get-healthcare-apis-access-token-cli). You're right in that the variable `token` should not be prefixed with `$` when running it in Cloud Shell/`bash` environment.

Thanks for bringing this to

[2021-07-28 15:38] ashkickindevelopment opened #78978 ""Catalog owner, or Access package manager" not found in Azure AD Roles"
Roles Needed: Global administrator, Identity Governance administrator, User administrator, Catalog owner, or Access package manager --- "Catalog owner, or Access package manager" not found in Azure AD Roles

These roles are not found in Azure AD, are they different roles now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-07-28 15:38] porrascarlos802018 opened #78979 "Please update the document for newer version like 1.19.11"
Please update the document for newer version like 1.19.11

Different data is shown in newer and supported versions.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
* Content: [Integrate Azure Key Va

[2021-07-28 15:59] DerekHerman-MSFT commented on #78711
If you are still facing issues I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-28 15:59] #78711 closed

[2021-07-28 16:01] priyankareddy20 opened #78980 "Dear MS, kindly be clear with the licensing part"
Dear MS, kindly be clear with the licensing part, as in most of the documents there is a line stating "Using this feature requires an Azure AD Premium P2 license". If I have the single P2 to my GA, the feature still works, so how do we make sure if this feature requires per user license or only tenant GA license. I see in most of the documents this is mentioned in the similar way.

---
#### Docume

[2021-07-28 16:02] bmilbauer opened #78981 "Steps to disable authentication methods don't work"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#enable-and-disable-verification-methods

Browsing to "Users" in Azure Active Directory does not present an option to configure multi-factor authentication.

![image](https://user-images.githubusercontent.com/20801780/127356407-b0f4dbd6-c458-40d6-a1b4-31b7d8484296.png)

---
#### Document Details

⚠ *Do not

[2021-07-28 16:03] JamesTran-MSFT commented on #78977
@AlexFilipin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-28 16:07] ayanan1020 opened #78982 "DATABASE SCOPED CREDENTIAL vs GRANT REFERENCES CREDENTIAL"
I followed this tutorial and ran into one issue that was difficult to find the answer to. You have setup the Database Scoped Credential WorkspaceIdentity but then you grant REFERENCES to the CREDENTIAL rather than the DATABASE SCOPED CREDENTIAL. You might want to change that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-07-28 16:10] tshaiman opened #78983 "missing Migrating Steps from AADPODIDENTITY, Uninstall Process and recommendation on V2"
[Enter feedback here]
following the remark :
"The feature described in this document, pod-managed identities (preview), will be replaced with pod-managed identities V2"
it is not clear when V2 will come out , and if users should wait for V2 or upgrade now to V1 and then to V2.

Following the remark  :
"If you have an existing installation of AADPODIDENTITY, you must remove the existing installatio

[2021-07-28 16:11] johndhunter opened #78984 "Missing details for Visual Studio Community/Professional etc"
If the Azure Storage Emulator is deprecated as per (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) - should there not be advice for using Azurite with the above mentioned IDE's or at least links to same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* V

[2021-07-28 16:12] dastewa opened #78985 "Reverse Proxy Total Http Request Header Size Limit"
Hi Team,

I have noticed that requests with header data totaling approximately 15.98KB or greater get reject by the service fabric reverse proxy with a 400 response. The response message indicates that the size of the headers in the request is too large, "HTTP Error 400. The size of the request headers is too long."

Is there any documentation around request header size limits for the service fabr

[2021-07-28 16:12] JimacoMS4 commented on #68477
Hi @mgiuseppe and @jerkohren Thanks again for  your feedback regarding our documentation. As I stated above, I think the problems you reported have been addressed by subsequent topic updates. I haven't heard back from you, so I'm going to go ahead and close this issue. If you have more feedback regarding this topic please @comment me here or open a new issue.

[2021-07-28 16:13] JimacoMS4 commented on #68477
#please-close

[2021-07-28 16:13] #68477 closed

[2021-07-28 16:14] JamesTran-MSFT commented on #78978
@ashkickindevelopment
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-28 16:15] JamesTran-MSFT commented on #78979
@porrascarlos802018
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-28 16:23] JamesTran-MSFT commented on #78980
@priyankareddy20
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@MicrosoftGuyJFlo
Similar issue: https://github.com/MicrosoftDocs/azure-docs/issues/78645#issuecomment-885089228

[2021-07-28 16:28] JamesTran-MSFT commented on #78981
@bmilbauer
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-28 16:34] Fleid commented on #78637
Do you have a fixed list of services you intend to use in your solution?
What are you doing in Visual Studio: testing locally with live data, viewing deployed jobs...?

If you want to do live testing, you will need to whitelist every input services involved (event hub, service bus, storage account).

[2021-07-28 16:35] shivanissambare commented on #78611
got it, thanks!
Yup, our recommendation would be to try Managed Endpoints.

[2021-07-28 16:35] shivanissambare commented on #78611
#please-close

[2021-07-28 16:35] #78611 closed

[2021-07-28 16:36] JamesTran-MSFT commented on #78981
@bmilbauer
Thank you for pointing this out!

I believe the button name recently changed from "Multi-Factor Authentication" to "Per-user MFA", so I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/127361055-2574c9a6-6c6a-45be-a76e-5d640f79621f.png)

If you're still having issues

[2021-07-28 16:38] bmilbauer commented on #78981
Hi James,

That's not correct. That's a separate pane for management of legacy MFA on a per-user basis, and has nothing to do with disabling authentication methods for the tenant.

Thanks

[2021-07-28 16:39] ChaitanyaNaykodi-MSFT commented on #78974
Hello @nosvalds,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-07-28 16:41] timrhaynes opened #78986 "Technical Profile Id incorrect"
The page refers to REST-ValidateProfile, when I believe it should refer to REST-GetProfile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781ff5da-dba7-1be3-b310-e74ddf3bbce0
* Version Independent ID: d904416e-c5ba-89dd-c6d6-b8e6375b9c63
* Content: [REST API claims exchanges - Azure Active Directory B2C](https://docs.

[2021-07-28 16:42] ecfan commented on #78534
Hi @carlgrzywacz, thanks for reaching out! You requested to include a doc update for this UX in the topic, [Deploy logic app templates - Azure Logic Apps](https://docs.microsoft.com/azure/logic-apps/logic-apps-deploy-azure-resource-manager-templates#authorize-oauth-connections).

Could you please elaborate in what way or context you're requesting to have the authentication page documented? For exa

[2021-07-28 16:43] linkhp commented on #78870
Hi @AJRus, you can [enable the SharePoint and OneDrive integration with Azure AD B2B](https://docs.microsoft.com/en-us/sharepoint/sharepoint-azureb2b-integration#enabling-the-integration) to ensure that the invited account goes through the B2B process when a SharePoint file is shared with them. Enabling this integration will respect the [redemption logic](https://docs.microsoft.com/en-us/azure/act

[2021-07-28 16:43] ChaitanyaNaykodi-MSFT commented on #78970
Hello @grajdeanserghei,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-07-28 16:43] JamesTran-MSFT commented on #78981
@bmilbauer
Thank you for the quick response!

Are you referring to the "users" section as the management of legacy MFA?
![image](https://user-images.githubusercontent.com/36619112/127362787-97fba10f-6312-468b-9630-7a829dc8a79d.png)

From the documentation, you should be navigating to "service settings" which will allow you to manage the verification options for the tenant.
![image](https://user-im

[2021-07-28 16:47] JamesTran-MSFT commented on #78986
@timrhaynes
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-28 16:49] bmilbauer commented on #78981
I'm not sure that's the right place, as it doesn't allow disabling email as a factor. You can see below email is available as an authentication factor in the tenant, but it's not possible to disable it from the pane in per-user MFA settings.

![image](https://user-images.githubusercontent.com/20801780/127363484-721c9481-6bbf-4090-b1ac-e340555dca21.png)

[2021-07-28 16:51] erikadoyle commented on #78974
I no longer work on API Management docs, so I'm afraid I can't be much help.

[2021-07-28 16:54] bmilbauer commented on #78981
Do you know why you can't disable email as a verification method? It's still available in my tenant

![image](https://user-images.githubusercontent.com/20801780/127364195-aa564e65-94b8-473d-8493-214ce1e5add3.png)

[2021-07-28 17:02] apwestgarth commented on #68957
Hi, apologies for the delayed update.  We were able to release Azure App Service on Azure Stack Hub 2021.Q1 last month which has a fix for this issue in the update - [Azure App Service on Azure Stack Hub 2021.Q1 Release Notes](https://docs.microsoft.com/azure-stack/operator/app-service-release-notes-2021-q1).  Please ensure your Azure Stack Hub is running 2102 and then update your App Service on A

[2021-07-28 17:07] robinsh commented on #68957
#please-close

[2021-07-28 17:07] #68957 closed

[2021-07-28 17:22] nansravn opened #78988 "Structured Streaming"
Does Spark pools in Azure Synapse include Structured Streaming API? If it's included, shouldn't Structured Streaming be listed in this documentation page?

<img width="730" alt="2021-07-28_14-18-11" src="https://user-images.githubusercontent.com/9952451/127367568-b42e0f40-b7fc-4d3c-a407-c5d4e175f9ef.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-07-28 17:23] Tiberriver256 opened #78990 "Access to Azure Global CDN from within China"
Hello,

From the documentation here it would seem that I should be able to use Azure Global CDN to serve content to users within China. It would be slow because it would be coming from outside China via the nearest POP but it would work.

However, if I create a brand new CDN endpoint using the new Azure Front Door Standard and attempt to reach the endpoint directly (i.e., https://{my-custom-name}.

[2021-07-28 17:29] MonikaReddy-MSFT commented on #78524
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-07-28 17:29] #78524 closed

[2021-07-28 17:30] MonikaReddy-MSFT commented on #78664
@Vikram1988  - Thank you for providing your insights.
@LeoMarks7  - I hope @Vikram1988 has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-28 17:30] #78664 closed

[2021-07-28 17:30] KranthiPakala-MSFT commented on #78982
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-28 17:31] MartinJaffer-MSFT commented on #78718
@tgpmoraes if you are still facing the issue, please let me know, and I will work with you to open a support ticket.  If you are no longer blocked, let me know and I will close this issue.

[2021-07-28 17:33] KranthiPakala-MSFT commented on #78988
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-28 17:36] GiftA-MSFT commented on #78698
@minthigpen please review above feedback for doc enhancement. Thanks.

[2021-07-28 17:36] craigshoemaker commented on #65687
Moving to #please-close this issue for now. @cfjedimaster please feel free to reopen if you think this requires further discussion.

[2021-07-28 17:36] #65687 closed

[2021-07-28 17:41] b-juche opened #78991 "Add Azure NetApp Files subsection"
Our product team (Azure NetApp Files) would like your help in adding the following information to this page.  Thanks!

------------------------------------------

 **Azure NetApp Files**

Azure NetApp Files – like some other Azure services – has a regional limit based on capacity. The standard capacity limit for each subscription is 25 TiB, per region, across all service levels.
Increase of capaci

[2021-07-28 17:41] gagarine opened #78992 "App Service on Linux with predefined stack: Container didn't respond to HTTP pings on port: 80, failing site start."
Deploying a nodejs app to Azure App Service **without** using a custom container fail.

`Container didn't respond to HTTP pings on port: 80, failing site start.`

A few time it works... but I don't know why. I'm using VS code to push deploy at the moment.

I'm loading the PORT environment variable as such
[code]

It's a loopback.io 4 application. Working fine in local with `npm start` and other cl

[2021-07-28 17:43] rmogalipuvvu opened #78993 "SendGrid Account"
Not able to create sendgrid account from Azure portal , throws error couldn't create from marketplace.
I have contributor role in this subscription
[sendgrid.docx](https://github.com/MicrosoftDocs/azure-docs/files/6895430/sendgrid.docx)

[2021-07-28 17:44] MonikaReddy-MSFT commented on #78975
@mzentz - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-28 17:49] chchadha opened #78994 "IAAS Diagnostics Extension Installation via Azure Rest APIs to Setup Diagnostic Settings"
Hello,

I have been looking to install the IAAS Diagnostics VM extension to a newly created virtual machine. Though the provisioning for the extension has succeeded, the diagnostics pane in the Azure Portal is stuck on a loading screen and no telemetry is being sent to the storage account. Please see the details below for further information. I suspect this is happening due to the private configur

[2021-07-28 17:53] v-gpettibone commented on #54998
Cannot reproduce. The stream analytics job allows only UTF-8. The sample detailed in the documentation uses UTF-32. Everything worked as presented in the documentation. I couldn't find any problems. The issue is a year old, however, so perhaps it was fixed on some previous iteration.

[2021-07-28 17:53] v-gpettibone commented on #54998
#please-close

[2021-07-28 17:53] #54998 closed

[2021-07-28 17:56] laujan commented on #78654
Updated C#/.NET Manage custom models: FormRecognizerClient → FormTrainingClient

[2021-07-28 17:56] laujan commented on #78654
#please-close

[2021-07-28 17:56] #78654 closed

[2021-07-28 17:57] Justinha commented on #75526
@Chrniel sorry for delay. if this is still an issue can you submit a pull request to the troubleshooting topic with guidance? https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-troubleshoot

[2021-07-28 17:59] Justinha commented on #75054
@darrenroback sorry for delay. Can I ask what you want to achieve or what problem want to solve?

[2021-07-28 18:07] whhender commented on #78929
@abandyop - Thank you for bringing this to our attention!
I built up a PowerShell 7 environment from scratch today, following the steps in the article to set up the environment and my script ran as expected-- no issues with AzureAD.

Step 7 under "Run the script..." does instruct the user to install the AzureAD module. Based on your description and workaround, it seems it wasn't included in your e

[2021-07-28 18:08] cgillum commented on #78963
If you're using .NET, you can use the [EntityTriggerAttribute.EntityName](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.entitytriggerattribute.entityname?view=azure-dotnet) property to name the entity. If you're using **function.json**, you can specify the `entityName` field in the binding description.

[code]

Looks like this information is missing in

[2021-07-28 18:20] HarshitaSingh-MSFT commented on #78952
@slavizh, we admit that this page is out of date and this will be worked upon by the owners soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-28 18:20] #78952 closed

[2021-07-28 18:21] abandyop commented on #78929
Hey MicrosoftDocs/azure-docs!
I reached this workaround with some hit and trial and some researching on
MS Azure community on the web.
Yes it will be helpful to add this workaround if it can't be fixed as it
is, or if the fix takes time.

On Wed, Jul 28, 2021 at 11:37 PM Whitney Henderson ***@***.***>
wrote:

[2021-07-28 18:23] HarshitaSingh-MSFT commented on #78886
@Neutrino-Sunset, Custom Containers require a Basic instance by default. But, we will discuss on this internally and might add some text about the pricing.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-28 18:23] #78886 closed

[2021-07-28 18:26] brianlehr commented on #28782
#reassign: @brianlehr

[2021-07-28 18:26] brianlehr commented on #23293
#reassign: @brianlehr

[2021-07-28 18:27] brianlehr commented on #47876
#reassign: @brianlehr

[2021-07-28 18:30] msangapu-msft commented on #78886
@Neutrino-Sunset see "basic service plan" section here: https://azure.microsoft.com/en-us/pricing/details/app-service/linux for more details.
Thanks @HarshitaSingh-MSFT.

[2021-07-28 18:31] kof-f commented on #78705
Hey @GrzegorzHejman, the AIB service does not allow Customer specified tags but it does specify its own. As you mentioned the AIB service created its resources with the tag: "createdBy": "AzureVMImageBuilder". You are also right the current Tag property that is used in the template is for the image generated by AIB only.

We are tracking the need for custom tags to be added to the resources create

[2021-07-28 18:39] AjayKumar-MSFT commented on #78653
chtourou-youssef, Hope the above answers your questions. We will close those for now, if you have any questions, please let us know. Thanks again for raising this question.

[2021-07-28 18:39] #78653 closed

[2021-07-28 18:53] HarshitaSingh-MSFT commented on #78991
Hello @b-juche , thanks for reaching out to us! We are taking a look into this and will get back to you soon.

[2021-07-28 18:55] ilyas2020n commented on #78910
Additional info:
I was able to run all commands from that instruction when I downloaded Sharepoint Management Shell, but getting an error when running it from Windows Powersehll

[2021-07-28 19:04] anavinahar commented on #78729
@v-mparker

Hi M! Your note made my day, it was so nice and well written.

We have this in our backlog to fix as we are constantly improving our UI - right now, it hasnt rolled to all users, we will update it once it does @asudbring  as FYI

Thanks and have a good one!

#please-close

[2021-07-28 19:04] #78729 closed

[2021-07-28 19:08] DerekHerman-MSFT commented on #78959
@ctahok There is more information about privatelink and VPN in the documentation here: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-overview#tunneling-traffic-over-a-virtual-private-network-or-expressroute
@roygara perhaps we should also link to this in the troubleshooting documentation?

[2021-07-28 19:13] zr-msft commented on #78983
Thank you for the feedback!

We have added an item to the backlog and will prioritize accordingly.

#please-close

[2021-07-28 19:13] #78983 closed

[2021-07-28 19:17] hdadwal commented on #35296
that's not the solution( suggested above), error itself says that

[2021-07-28 19:18] JamesTran-MSFT commented on #78981
@bmilbauer
Thank you for the quick response and the screenshot!

When it comes to adding another method to the Security Info page, [Email](https://docs.microsoft.com/en-us/azure/active-directory/user-help/security-info-setup-email#security-vs-password-reset-verification) is only used for Password reset authentication only and not MFA.

![image](https://user-images.githubusercontent.com/36619112/12

[2021-07-28 19:18] #78981 closed

[2021-07-28 19:19] cherylmc commented on #78756
Thanks! Taking a look at this now.

[2021-07-28 19:19] Justinha commented on #74276
#please-close

[2021-07-28 19:19] #74276 closed

[2021-07-28 19:21] MicrosoftGuyJFlo commented on #78980
Azure AD is licensed per-user. https://azure.microsoft.com/pricing/details/active-directory/

As mentioned in the doc you opened this from under [License requirements](https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#license-requirements) it lays out what parts of Identity Protection require P2 licenses in detail.

Do you have any recommendations t

[2021-07-28 19:24] MicrosoftGuyJFlo commented on #78912
Yes you can combine [grant controls](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-grant#grant-access). You will just need to test to confirm the desired outcomes. These articles are provided as a means to get you up and running with simple examples but more complex solutions can be employed.  #please-close

[2021-07-28 19:24] #78912 closed

[2021-07-28 19:24] rscottwatson commented on #78967
So for an existing cluster would I have to add 0.0.0.0/32 in addition to the IPs I want to allow access?

[2021-07-28 19:25] billmath commented on #78768
@josuvil

Thank you for the feedback.  I have created an internal work item to investigate this further.  This is going to require working with engineering to get additional technical details.  At this point, I am going to go ahead and close this issue and will update it once I have more information.

Thanks!

Bill

#please-close

[2021-07-28 19:25] #78768 closed

[2021-07-28 19:27] billmath commented on #78252
@scottbutton

Thank you for the feedback.  With the release of the V2 version we may see a return to auto-updates.  If it is decided that auto-update is going away for good, then we will definitely look at pulling this page.  Thanks!

Bill

#please-close

[2021-07-28 19:27] #78252 closed

[2021-07-28 19:29] mhmoore12 commented on #78062
@MonikaReddy-MSFT Hi - following up on this.

[2021-07-28 19:29] billmath commented on #78453
@greghoyle

Thanks for the feedback.  This doc is going through a revision and you should see some updates in the future.

Thanks!

Bill

#please-close

[2021-07-28 19:29] #78453 closed

[2021-07-28 19:33] tgpmoraes commented on #78718
Hi Martin, I followed the steps, but the kernel is not available, and I am not find a way to install it.

[2021-07-28 19:34] MarkusVi commented on #47031
I've added a link to the article.

#please-close

[2021-07-28 19:34] #47031 closed

[2021-07-28 19:34] brianlehr commented on #47876
#reassign: @asudbring

[2021-07-28 19:34] #78899 closed

[2021-07-28 19:36] tgpmoraes commented on #78718
I just noticed the following message:
![image](https://user-images.githubusercontent.com/8151342/127384946-8ac9dcb3-e90a-455d-bb2a-c548e6df0bfc.png)

[2021-07-28 19:37] MarkusVi commented on #53001
I've created a backlog item to track this.

#please-close

[2021-07-28 19:37] #53001 closed

[2021-07-28 19:38] MicrosoftGuyJFlo commented on #78895
All of the other risk detections are premium. We are planning an update to the list to make it more clear. #please-close

[2021-07-28 19:38] #78895 closed

[2021-07-28 19:40] curtand commented on #68379
Hi @Himurashi

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I'm following up again with the team, but the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing this iss

[2021-07-28 19:40] #68379 closed

[2021-07-28 19:41] MarkusVi commented on #52990
I've created a backlog item to get this updated.

#please-close

[2021-07-28 19:41] #52990 closed

[2021-07-28 19:42] gagarine commented on #78992
The problem is about the timeout. Loopback by default build in npm start (I opened an issue about this their https://github.com/loopbackio/loopback-next/issues/7684 )

So the container is shutdown before he had a chance to start. I was on a small dev instance, this make things worst certainly.

BUT it was stupidly hard to debug. First because the doc is not very clear about PORT, or how to disable

[2021-07-28 19:43] MarkusVi commented on #52933
I've created a backlog item to track this.

#please-close

[2021-07-28 19:43] #52933 closed

[2021-07-28 19:43] rolyon commented on #62065
Hi @D-Moonesinghe
Thanks for your feedback. We made several updates to this article. We added a Why section and added a diagram. Hopefully this helps.
https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept
Let us know if you have any additional feedback.
thanks

[2021-07-28 19:44] rolyon commented on #62065
#please-close

[2021-07-28 19:44] #62065 closed

[2021-07-28 19:46] tgpmoraes commented on #78718
PythonPath to the virtual environment for this folder and jupyter Launch Timeout have been changed. If you want to use your own python env in this folder, you need to switch it back manually.

[2021-07-28 19:48] priyankareddy20 opened #78998 "Verification code from mobile app allows any 3rd party app"
Could not find the FEEDBACK option on "https://docs.microsoft.com/en-us/azure/active-directory/user-help/auth-app-android-china" hence sending the feedback on other link.

For Android users in china we have to enable "Verification code from mobile app or hardware token in the Azure MFA service settings, which allows all users to download any 3rd party app to perform the MFA authentication.

How do

[2021-07-28 19:49] billmath commented on #76071
@b-col

Thank you for the feedback.  The article states to only use the PowerShell cmdlet if the on-premises account is **expired**.

_We recommend that if the **account is expired,** a workflow action should trigger a PowerShell script that disables the user's Azure AD account (use the Set-AzureADUser cmdlet). Conversely, when the account is turned on, the Azure AD instance should be turned on._

[2021-07-28 19:49] #76071 closed

[2021-07-28 19:53] Justinha commented on #72143
#please-close

[2021-07-28 19:53] #72143 closed

[2021-07-28 19:56] ecfan commented on #78864
@v-hakob, thanks for reaching out.

Can you elaborate what kind of functional differences the customer hopes to find in the doc? Just based on the descriptions, the API Management operations are designed for use with and only with API service instances created with API Management. So, you can only view and access those APIs in APIM where you have visibility or permissions. The HTTP operation is mo

[2021-07-28 20:00] zr-msft commented on #77704
Thank you for the feedback.

Based on the comments, it appears the issue is resolved and does not need any doc updates.

#please-close

[2021-07-28 20:00] #77704 closed

[2021-07-28 20:01] priyankareddy20 commented on #78980
In the document, it says..to use this feature you need P2 and it doesn't
state licence per user wherw I got confused as without assigning each
licence to each user, the feature appears to be workinh

Regards

On Wed, Jul 28, 2021, 9:22 PM John Flores ***@***.***> wrote:

[2021-07-28 20:03] priyankareddy20 commented on #78912
Okay, I have been told it will not work and as I dint have a complaint
device,I wanted to confirm from MS

It means I can have 2 policies
1.require all cloud apps from a compliant device
2. Select apps from the list of approved client apps and there we can give
grant as require approv d client app.

Regards
Priyanka

On Wed, Jul 28, 2021, 9:24 PM John Flores ***@***.***> wrote:

[2021-07-28 20:04] zr-msft commented on #78291
Thank you for the feedback and the suggestion.

At this time, we don't plan on adding that scenario to this doc.

#please-close

[2021-07-28 20:04] #78291 closed

[2021-07-28 20:05] darrenroback commented on #75054
Hi @Justinha no problem! I had a unique scenario arise where there was a need to modify some of the records inside of DNS deployed as part of Azure AD Domain Services. Was just looking for some guidance on what records were created automatically, required by the service and should not be modified.

[2021-07-28 20:06] rolyon commented on #61601
Hi @patrickdrewsBFS
I apologize for the delay in responding. Thank you very much for taking to the time to provide this feedback. I have sent your feedback to the product team to look into.
Let us know if you have any additional feedback.
thanks

[2021-07-28 20:06] rolyon commented on #61601
#please-close

[2021-07-28 20:06] #61601 closed

[2021-07-28 20:07] zr-msft commented on #77558
Thank you for the feedback.

We have add this to our backlog and will prioritize accordingly.

#please-close

[2021-07-28 20:07] jeevansd commented on #78297
@robertfletcher-cds I think what you are trying is to add the AppRoles to Service Principal object. Where as when you are updating the manifest they get applied on the application object. So I suggest that if you would like to add them on the App object either you need to use the Graph Explorer on the App Object rather than SP object and everything should work as described.

Now we also have the u

[2021-07-28 20:11] billmath commented on #76389
@chadmcox

Thank you for the feedback.  I have created a work item to investigate this further.  I am going to close this issue now and will update it once I have additional information and an update.  Thanks!

Bill

#please-close

[2021-07-28 20:11] #76389 closed

[2021-07-28 20:12] billmath commented on #74896
@shivtorov

Thank you for the feedback.  This article has been fixed and now includes the script in the article.

Thank you!

Bill

#please-close

[2021-07-28 20:12] #74896 closed

[2021-07-28 20:14] billmath commented on #70401
@DeanGross

Thank you for the feedback. I have created a work item to update the screenshots. I am going to close this issue now and will update it once I have additional information and an update. Thanks!

Bill

#please-close

[2021-07-28 20:14] #70401 closed

[2021-07-28 20:15] #78962 closed

[2021-07-28 20:17] billmath commented on #72456
@andrewwillett

Thanks for catching this.  I have created a work item and will be updating this next month.  I am going to close this issue for now and will update it once it has been fixed.

Thanks!

Bill

#please-close

[2021-07-28 20:17] #72456 closed

[2021-07-28 20:19] billmath commented on #69532
@bdschaap

Thank you for the feedback.  I have created a work item for this and will be reviewing it in the coming month.  I am going to close this issue for now and will update it once I have posted a fix.

Thanks!

Bill

#please-close

[2021-07-28 20:19] #69532 closed

[2021-07-28 20:21] curtand commented on #59210
#assign:@nkramer

[2021-07-28 20:21] PRMerger12 commented on #59210
nkramer is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-07-28 20:30] Justinha commented on #59467
@andrewc513 let us know if this is still a problem. Enabled header likely appeared in error and can be removed.

[2021-07-28 20:30] Justinha commented on #59467
#please-close

[2021-07-28 20:30] #59467 closed

[2021-07-28 20:39] JamesTran-MSFT commented on #78998
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-28 20:42] curtand commented on #61004
Hi @felickz

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I have contacted the team again for this issue, but the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing

[2021-07-28 20:42] #61004 closed

[2021-07-28 20:42] curtand commented on #59419
Hi @schnabel45

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I have contacted the team again for this issue, but the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closi

[2021-07-28 20:42] #59419 closed

[2021-07-28 20:46] curtand commented on #63122
Hi @Skatterbrainz

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I have contacted the team again for this issue, but the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are cl

[2021-07-28 20:46] #63122 closed

[2021-07-28 20:52] curtand commented on #59210
Hi @sub2d
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I have contacted the team again for this issue, but the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing thi

[2021-07-28 20:52] #59210 closed

[2021-07-28 20:55] MicrosoftGuyJFlo commented on #78980
Correct. Clicking the link in that section takes you to the pricing page. There it says that licensing is per user. We link to that information as it is the primary source of truth regarding Azure licensing.

[2021-07-28 20:55] MicrosoftGuyJFlo commented on #78980
#please-close

[2021-07-28 20:55] #78980 closed

[2021-07-28 20:58] whhender commented on #78929
@abandyop - A fix isn't needed-- I was able to fully test with a new PowerShell 7 environment and had no trouble with the AzureAD module or the script.

I will add this workaround in case others experience this issue, but I expect there was something going on with the environment, rather than with PowerShell 7 itself.

[2021-07-28 21:01] BarbaraSelden commented on #74535
this is great feedback. thank you. I will assign to one of our SMEs.

[2021-07-28 21:03] schnabel45 commented on #59419
Thanks for the update @curtand, it looks like someone else actually incorporated this into the docs since I opened the issue. Here's the commit I'm referring to: 2dcdf7a107db4af1e8b0c93907d436ae2930a3a4.

[2021-07-28 21:05] JamesTran-MSFT commented on #78978
@ashkickindevelopment
Thank you for pointing this out!

It looks like these roles have been removed since they aren't in Azure Active Directory, or within the [Azure AD built-in roles](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference) documentation. The closest role that I found to replace both the Catalog Owner and Access Package Manager, would be the [Identity

[2021-07-28 21:06] BarbaraSelden commented on #75938
My apologies for not seeing this earlier. I am going to meet with the SMEs for multiple areas of feedback on this doc.

[2021-07-28 21:06] JamesTran-MSFT commented on #78998
@priyankareddy20
Thank you for your time and patience!

[2021-07-28 21:07] #78998 closed

[2021-07-28 21:12] #78904 closed

[2021-07-28 21:15] omarine commented on #69635
Hello,

We are having the same issue,iot hib routing doesn't work for iotedge devices based on $twin.tag...

Any updates from Ms would be highly appreciated ? otherwise where can we create issue for Azure Iothub ?

Regards,
Oussama

[2021-07-28 21:19] ash2017 commented on #69635
@nehsin to comment

[2021-07-28 21:22] priyankareddy20 commented on #78998
I didn't receive any response on this issue yet.

May I know why is this closed now?

Regards
Priyanka

On Wed, Jul 28, 2021, 11:07 PM James Tran-MSFT ***@***.***>
wrote:

[2021-07-28 21:25] #78703 closed

[2021-07-28 21:33] SaiKishor-MSFT commented on #77303
@idunbar46 This issue has been fixed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-28 21:33] #77303 closed

[2021-07-28 21:37] MartinJaffer-MSFT commented on #78718
Yes, I saw that too.  I don't think I fixed it on mine, but changing the interpreter might have changed the path.

[2021-07-28 21:50] josuvil opened #79001 "Note on Configuration Documenter Tool"
Hello,

This page makes reference to Azure AD Connect configuration documenter, an open source tool with limited support not bundled with AAD Connect product. We may wish to add a note in this regard. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be523268-53e3-43f1-21ce-c1e7d5210a9c
* Version Independent ID

[2021-07-28 21:50] mix2this commented on #50722
uh no.. this still isnt right .. you can no use wild cards with in the SSO configuration on the azure portal. -- Attempting to enter the Reply URL will result in the error message "Wild cards * are not supported"

[2021-07-28 21:54] tfitzmac commented on #78991
@b-juche - thanks for providing this information. Yes, I can add it to the article.

[2021-07-28 22:00] MarileeTurscak-MSFT commented on #79001
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-28 22:03] MarileeTurscak-MSFT commented on #79001
Thanks! I think this is good feedback. I made a pull request to add a note to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/167302

[2021-07-28 22:03] #79001 closed

[2021-07-28 22:03] DerekHerman-MSFT commented on #78976
@rafatecoy Can you review the section [here ](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-assign-permissions?tabs=azure-portal#share-level-permissions-for-specific-azure-ad-users-or-groups )to see if it might be your issue? _"Share-level permissions must be assigned to the Azure AD identity representing the same user or group in your AD DS to support AD DS aut

[2021-07-28 22:11] DerekHerman-MSFT commented on #78984
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-28 22:20] PankajMeshramCSA opened #79003 "Azure Python SDK version for SLES 12"
[Enter feedback here]
Hi,

I am working on automating pacemaker clustering and when I was testing the pacemaker setup, the fence_azure_arm resource was not starting. As per the documentation, I had the version greater than 4.6.2 for python-azure-mgmt-compute and this version was 17.0

As soon as I removed this version and install 4.6.2 the fence resource started to work.
rpm -q python-azure-mgmt-c

[2021-07-28 22:26] jeevansd commented on #50722
@mix2this WE are not allowing the wildcards in the Reply URLs from last 2 years. It seems that you have very old app which you are trying to edit. Please enter the exact ACS URL in this Reply URL field and then you should be good here to test the integration.

[2021-07-28 22:36] JamesTran-MSFT commented on #78998
@priyankareddy20
Thank you for the follow up on this!

Because your issue isn't related to improving our docs and more along the lines of a product question. It's recommended that you leverage our [Q&A forums](https://docs.microsoft.com/en-us/answers/products/) so our community, and MVPs can further assist you in troubleshooting this issue, or finding potential workarounds when it comes to making

[2021-07-28 22:48] spelluru commented on #78945
Done. Added an important note at the top and a section at the end.

#please-close

[2021-07-28 22:48] #78945 closed

[2021-07-28 22:48] cherylmc commented on #78756
Added a new screenshot. Good catch! It will publish this week. #please-close

[2021-07-28 22:48] #78756 closed

[2021-07-28 22:59] ghost opened #79004 "Document the need to create AzureIdentity in the cluster's resource group"
When using creating the AzureIdentity as a User assigned managed identity, we need to ensure that it is created in the cluster's autogenerated node resource group, or the MIC will not have the right permissions to assign identities.

If this is not done, we run into the following issue: https://github.com/Azure/aad-pod-identity/issues/38

---
#### Document Details

⚠ *Do not edit this section. It

[2021-07-28 23:19] carmodyquinn opened #79005 "AKV to AKS integration needs clarification and testing"
[Hi, I was following the AKV to AKS integration and it seems as though it contains a couple of errors.  Midway down the page where there are instructions to Install AAD pod identity and you create role assignments.  It makes it look as though the NODE_RESOURCE_GROUP is a regular group, but should indicate that this can be found with by running "az aks show -g $RESOURCE_GROUP -n $AKS_CLUSTER --quer

[2021-07-28 23:27] adamasmar commented on #78737
@JialinXin thank you for that. I feel like that should work but any type I change my connection string I get this exception. It seems like the app will only take a connection string with an access key and nothing else.

# A collapsible section with markdown
<details>
  <summary>Stacktrace</summary>
`Unhandled exception. System.ArgumentException: Connection string missing required properties endpoi

[2021-07-28 23:54] tfitzmac commented on #78846
#please-close
@curtand if there is any clarification that is needed later, feel free to add it.

[2021-07-28 23:54] #78846 closed

[2021-07-29 00:02] psignoret commented on #78297
@robertfletcher-cds

The simplest and most common approach is to define app roles on the app registration. You can do this with the Azure portal, or by updating the app's `application` object. For most cases, this is the recommendation.

You can also define app roles on a service principal. There is no user interface for this, you need to use PowerShell or Microsoft Graph. Only do this in one of t

[2021-07-29 00:28] Karishma-Tiwari-MSFT commented on #79003
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 00:28] Karishma-Tiwari-MSFT commented on #78985
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-29 00:54] v-hakob commented on #78864
Thank you @ecfan for the quick response. I asked the details about their scenario before. They said they plan to use their logic apps, and they want to increase the speed of developing their client apps. To do so, they decided to group some operations together, and call multiple APIs from the Logic apps.

We provided the information about HTTP and APIM connecters, and they asked which connectors a

[2021-07-29 00:56] NeverOddOrEven opened #79007 "Can an example with a Linux NVA be added?"
I've tried to follow the instructions to the best of my ability, but I must be missing something key. Can you add a Linux-based example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb63-82c2-a132a6576add
* Content: [Route network traffic -

[2021-07-29 01:03] maskx opened #79008 "Chinese translation error"
This is a translation error in Chinese document, the page link is https://docs.microsoft.com/zh-cn/azure/role-based-access-control/overview#how-azure-rbac-works

The word '角色订阅'   should be '角色定义' in  **How Azure RBAC works** section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e21d4b9-f574-e01d-8676-fb23d6a4ab67
*

[2021-07-29 01:11] BharathNimmala-MSFT commented on #78921
Thanks again @djtech2k-MS for bringing this to our notice, respective blog owners have been informed regarding the broken link and they are already working to fix it , fix should go live in next day or two.

At this point it appears that there's no edits or updates needed to the azure documentation, other than what has been listed above for the blog. We will go ahead and close this issue for now,

[2021-07-29 01:11] #78921 closed

[2021-07-29 01:57] gitgithan opened #79009 "Linking to wrong page"
"The msg parameter is an instance of the azure.functions.InputStream class."

The link at `azure.functions.InputStream class` goes to "azure.functions.HttpRequest" docs instead, slightly confusing for first time user who has to then try search for InputStream in left panel.

However, a more confusing issue is why is `azure.functions.InputStream class` even mentioned? (It does not have the `set` me

[2021-07-29 02:03] dcbrown16 opened #79010 "What is "data encryption""
Is the "Data encryption" line in the comparison chart referring to encryption in transit?
Per the security doc, TLS is required for data in transit, but in 4.8, it specifically says data is NOT encrypted at rest unless using Storage.
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-overview#service-tiers

If this is referring to encryption in transit, please edit it to state that

[2021-07-29 02:06] RomHartmann opened #79011 "Missing host in ingress object"
It seems like the Ingress resource (at https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip#create-an-ingress-route) is missing `spec.rules.host`?

If not, then I have no idea how the Ingress resources is supposed to link to the ingress controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf9c2f3-caeb-

[2021-07-29 02:18] JialinXin commented on #78737
Please check you connection string with AAD should be like this, and we will identify `AuthType=aad` to parse it correctly under this pattern.

[code]

[2021-07-29 02:32] BryanTrach-MSFT commented on #78343
@mmulhearn We appreciate the feedback.

We reached out to the product group and verified that the two below scenario's are the only times the public IP should change.

Following cases will change the IP address:

- Changing the pricing tier: free -> standard or standard -> free
- Internal maintenance, e.g.: regular release.

As a result, we will not be making a change to the document.

It's possib

[2021-07-29 02:32] #78343 closed

[2021-07-29 02:44] KnicKnic commented on #77704
@zr-msft I don't understand how the issue is resolved. You are not SSH'ing into the node. you are essentially logging into a privileged container that is in a different chroot.

People will expect it behave like it is SSH'd (even the MSFT docs), it doesn't as evidence that the get kubelet logs instructions do not work. The instructions should clearly explain how this is different from an SSH, and

[2021-07-29 02:53] GitaraniSharma-MSFT commented on #78968
@colindembovsky , thank you for your query. We'll review this and get back to you shortly!

[2021-07-29 02:55] GitaraniSharma-MSFT commented on #78990
@Tiberriver256 , thank you for your query. We'll investigate this and get back to you shortly!

[2021-07-29 03:12] MayankBargali-MSFT commented on #78755
@mcollier Thanks for your response.

@v-bbalaiagar As the document is already updated. We will proceeds with closing of this issue. If If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-29 03:12] #78755 closed

[2021-07-29 03:20] DerekHerman-MSFT commented on #78964
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 03:25] DerekHerman-MSFT commented on #78992
@gagarine Thanks for your feedback. Could you please provide the URL for the documentation you are working with? This way I can assign the issue to the proper team. To ensure proper routing we recommend opening documentation issues directly from the URL at the bottom of the page.
![documentation feedback](https://user-images.githubusercontent.com/65573242/127426788-debfe67a-9977-4f9c-ad96-7ec3b288

[2021-07-29 03:27] DerekHerman-MSFT commented on #78993
@rmogalipuvvu I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-29 03:27] #78993 closed

[2021-07-29 03:27] rawatsudhir1 opened #79015 "How to label SQL objects from Azure Purview"
As per the document, "Labeling in Purview and labeling in SSMS are separate processes that do not currently interact with each other. Therefore, labels applied in SSMS are not shown in Purview, and vice versa. **We recommend Azure Purview for labeling SQL databases**"....It would be good to share screenshot or how to steps on set label for SQL object from Azure Purview.

---
#### Document Details

[2021-07-29 03:28] juantuhod opened #79016 "This doesn't exactly say how to use ForceDelete"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67566e6a-ffb4-4adf-73b5-3d6c0c58cd05
* Version Independent ID: 9c9a6f63-ec87-0e45-9d0e-f5030041ab06
* Content: [Add and verify custom domain names - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/domai

[2021-07-29 03:31] DerekHerman-MSFT commented on #78994
@chchadha Thanks for your feedback. Could you please provide the URL for the documentation you are working with? This way I can assign the issue to the proper team. To ensure proper routing we recommend opening documentation issues directly from the URL at the bottom of the page.
![documentation feedback](https://user-images.githubusercontent.com/65573242/127427277-33050e53-a858-4141-93c1-861c5df4

[2021-07-29 03:38] timleyden commented on #51438
@vladvino  this is broken again. needs to be updated to
https://docs.microsoft.com/en-us/rest/api/apimanagement/2020-12-01/api-management-service/apply-network-configuration-updates

[2021-07-29 03:44] GitaraniSharma-MSFT commented on #78856
@itsrskumar , I tested this in my lab and found that **20000** is the lowest priority that you can set in the request routing rule:

![image](https://user-images.githubusercontent.com/67630903/127428142-b5af9fb8-1bd7-4f2c-9c38-9685abb5b9b3.png)

I will update the doc accordingly.

[2021-07-29 03:44] JustinDyt opened #79017 "REST API body invalid"
When using az rest to send the api request, it reports

Only when I add

The request was sent successfully.
Please kindly modify the documentation for REST API --> BODY section as it lacks this necessary component.

Also please add a note of the default endpoint as management.azure.com

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-07-29 03:49] DishanH opened #79019 "B2C Sign-in user flow with MFA enforcement to Conditional not working as expected."
I created a user group calls **People with MFA Required** then I added one b2c user.
Then I created a conditional access policy with Grant’s user access with the required multi-factor authentication. With the below configurations.
1.	Set users and groups to **People with MFA Required** group.
2.	Cloud apps or actions to all cloud apps.
3.	Conditions to any device, any location.

![image](https://u

[2021-07-29 04:00] #78856 closed

[2021-07-29 04:02] GitaraniSharma-MSFT commented on #78856
Doc has been updated and the change will reflect shortly!

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-29 04:02] JamesTran-MSFT commented on #79004
@bhargav-voleti
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-29 04:04] JamesTran-MSFT commented on #79008
@maskx
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-29 04:05] JamesTran-MSFT commented on #79005
@carmodyquinn
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-29 04:16] AjayKumar-MSFT commented on #78712
tcarcachi, Your feedback has been shared with the content owner for further review.

[2021-07-29 04:18] SnehaAgrawal-MSFT commented on #78668
@sanjay3290 Apologize for late response! We don’t support publishing from TFS. We will now close this issue but if you feel you need more information let us know.

[2021-07-29 04:18] #78668 closed

[2021-07-29 04:31] v-hagamp commented on #67966
#please-close

[2021-07-29 04:31] #67966 closed

[2021-07-29 04:33] jlichwa commented on #79004
@bhargav-voleti in this tutorial we use system assigned identity. For using other authentication please refer to product documentation here:
https://azure.github.io/secrets-store-csi-driver-provider-azure/

[2021-07-29 05:12] #78735 closed

[2021-07-29 05:12] AJRus commented on #78870
@linkhp - Thank you, thats helpful - I was able to enable those settings in my lab, and have MSA and AAD accounts invited and go through the B2B process.  OTP throws up an error though, so I will raise a support ticket to investigate.

[2021-07-29 05:13] HarshitaSingh-MSFT commented on #78789
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-29 05:16] HarshitaSingh-MSFT commented on #78872
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-29 05:20] psmanhas commented on #79017
@JustinDyt Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-07-29 05:21] psmanhas commented on #79017
@mayanknayar Can you please check and add your comments on this doc update request as applicable

[2021-07-29 05:32] Bafff opened #79020 "Changing SKU"
Hi!

I thi k this is not true anymore as Microsoft supports Basic - > Standard upgrade. Or did the doc mean anything else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aea3ba6e-2fe1-ea38-4ec0-1c6ec581e602
* Version Independent ID: 6cfafba3-39ca-70b3-2538-d9189e60ede9
* Content: [Azure Load Balancer SKUs](https://docs

[2021-07-29 05:57] AnuragSharma-MSFT commented on #79010
@dcbrown16 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-29 05:57] #78803 closed

[2021-07-29 05:58] AnuragSharma-MSFT commented on #78896
@thebeautiful Awaiting your response on this.

[2021-07-29 05:58] AnuragSharma-MSFT commented on #78943
@MS-jeremy We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-29 06:04] SrijitBose-MSFT commented on #78967
No, in that case, the Load Balancer's IP address is going to be appended to your list of whitelisted IPs on the API server by default.
In case you want **only and only the AKS cluster's load balancer to be able to talk to the API server** and **block API server access to any other client**, you can use 0.0.0.0/32 when specifying the `--api-server-authorized-ip-ranges` parameter.

[2021-07-29 06:06] xtellurian opened #79022 "Maximum Reward Time has a max of 2 days when set in the Azure Portal"
The documentation says that the Maximum Reward wait time is 6 days, but the Azure Portal returns an error saying the maximum wait time must be less than 2 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3f9990f-9e92-bfe3-997d-dbb8f6572f4a
* Version Independent ID: d6805c18-7282-9ca2-5df6-ea58b04faa53
* Content: [

[2021-07-29 06:14] v-hagamp commented on #77896
Hello @sommerfn,

I have created a separate [Pull Request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/167354) for your changes. So, I am closing this issue now.

#please-close

[2021-07-29 06:14] #77896 closed

[2021-07-29 06:18] KranthiPakala-MSFT commented on #78919
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-29 06:18] #78919 closed

[2021-07-29 06:28] KranthiPakala-MSFT commented on #78939
Hi @CousinJohn140,

Thanks for leveraging Azure docs feedback channel to raise this question.  Could you please elaborate a bit on how the feedback is related to this doc content? This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. At this time we didn't determine any changes for this documentation upon reviewing this feedback.

If your

[2021-07-29 06:30] anishi1222 opened #79023 "Version of Azure Functions action should be corrected."
[Enter feedback here]
According to the document, "Azure/functions-action@v1" is used to run Azure Functions. However, this configuration does not work and I confirmed that "Azure/functions-action@v1.3.1" instead of "Azure/functions-action@v1.3.1" worked by referencing the following issue.

https://github.com/Azure/functions-action/issues/86#issuecomment-850996814

Sooner updating this document wou

[2021-07-29 06:32] KranthiPakala-MSFT commented on #78988
Hi @nansravn - As per my conversation with product team, it was not originally supported but things have changed now so product team is working on updating the document with latest information.

Thanks again pointing this our and helping us to improve the content. :)

Appreciate much!

[2021-07-29 06:53] v-hagamp commented on #77302
Issue resolved.
#please-close

[2021-07-29 06:53] #77302 closed

[2021-07-29 06:59] HarshitaSingh-MSFT commented on #79016
Hello @juantuhod , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-29 07:05] ssivas commented on #78870
Glad that above information helpful. If you have any additional question, feel free to reach out to us. Thanks.

#please-close

[2021-07-29 07:05] #78870 closed

[2021-07-29 07:11] ssivas commented on #77876
Happy to inform you that this [feature is now GA](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-developer-notes#user-experience-customization) and “preview” label from the admin UI would updated soon.

#please-close

[2021-07-29 07:11] #77876 closed

[2021-07-29 07:14] ssivas commented on #78510
I agree with you and sorry for the inconvenience caused, I will work with content author and update the same. Thanks.

[2021-07-29 07:14] olprod opened #79024 "AAD P1/P2 have already been available in Mooncake since FY20"
Copied from https://github.com/MicrosoftDocs/azure-docs.zh-cn/pull/791

AAD P1/P2 have already been available in Mooncake since FY20, please see https://www.azure.cn/pricing/details/active-directory/index.html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independent ID:

[2021-07-29 07:20] SrijitBose-MSFT commented on #79011
@RomHartmann , Thank you for your question.

According to [Kubernetes Ingress Rules](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-rules):

Each HTTP rule contains the following information:

- An **_optional host_**. If no host is specified, the rule applies to all inbound HTTP traffic through the IP address specified. If a host is provided (for example, foo.bar.com), t

[2021-07-29 07:26] MS-jeremy opened #79025 "ADF link for Cosmos DB's API for MongoDB section"
[Enter feedback here]
The ADF link in the section [Azure Cosmos DB Mongo API](https://docs.microsoft.com/en-us/azure/cosmos-db/cosmosdb-migrationchoices#azure-cosmos-db-mongo-api) is linked to https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-cosmos-db, can it be changed to https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-cosmos-db-mongodb-api ? As that's the A

[2021-07-29 07:30] xela-95 opened #79026 "How to manage certificates with DPS and automatic deployments?"
This page tells nothing about how to install certificates on IoT Devices when using DPS and automatic deployments, since the operations described here require manual intervention to move files and modify configuration files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94792ff1-5976-90f4-5092-0d8d8ff01635
* Version I

[2021-07-29 07:34] imakhlin opened #79027 "Description is unclear"
The following sentence is ambiguous. Please clarify what do you mean under "single region". Does it refer to "single write region"? What is the minimum value of K & T for single write multi read?

Thank you in advance
Igor
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Inde

[2021-07-29 07:36] branimirackovic commented on #51790
Hi, I have similar situation and setup as Dirk, and same issue. The problem is I can not set WEBSITE_AUTH_DISABLE_IDENTITY_FLOW. If I set it (save) when I refresh configuration it just disappears. Any idea?

[2021-07-29 07:44] KalyanChanumolu-MSFT commented on #79025
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-29 07:48] rforster-dev commented on #77383
@HarshitaSingh-MSFT Is there an update on my comment? What is the alternative for this functionality?

[2021-07-29 07:52] KalyanChanumolu-MSFT commented on #79027
@imakhlin Thank you for reaching out. We are actively investigating and will get back to you soon.

[2021-07-29 07:54] slavizh opened #79028 "Bastion metrics and logs not documented and not working completely"
Hi,
I have been testing the Bastion logs and metrics and I have found some missing documentation and issues.
Missing documentation:
* for table MicrosoftAzureBastionAuditLogs the values for column OperationName are not documented
* for table MicrosoftAzureBastionAuditLogs the values for column Message are not documented
Issues:
* When you try to connect with incorrect password the message is Succe

[2021-07-29 08:24] cbailiss opened #79029 "Azure SQL Elastic Jobs Pricing"
There is no information in the Elastic Jobs documentation (anywhere) about pricing.  Are they free?  If so, it would be helpful if the documentation could explicitly state this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe5d5f3a-ed62-4868-962e-2a2561309e80
* Version Independent ID: fbeebf38-10b9-e855-467f-750310b1

[2021-07-29 08:24] andreasmarx opened #79030 "gMSA permissions inconsistent?"
Hi.

I just compared the permissions provided in this doc for the gMSA account with the defaults:

![image](https://user-images.githubusercontent.com/11066304/127457335-92e6eea7-82e4-40d6-a542-04a4ae0ac204.png)

They are completely different (except one "Create/Delete User objects"). Is the table with permissions wrong? The table should reflect the defaults? Or are these the minimum required right

[2021-07-29 08:41] AnuragSharma-MSFT commented on #79029
@cbailiss Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-29 08:42] ToruMakabe opened #79031 "[Inconsistency between doc and actual] Standard_D2d_v4 with Accelerated Networking"
Standard_D2d_v4 has only 2 vCPUs, So, according to the documentation, Accelerated Networking should not be supported.

However, it seems to be enabled in my deployment.

[code]

In VM

[code]

Could you confirm that the documentation is correct? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a43e5b4-7893-dcd7-

[2021-07-29 08:54] Nandeeshswami commented on #78846
@tfitzmac Which one is it?
An app say ResourceApp1 can have up to a maximum of 1500 appRoles?
or
ResourceApp1 a bare bone exposes the rw.all approle.
We can assign that approle to 1500 different client applications (service) principals.

I think it's the former, need more clarity in the doc.

[2021-07-29 09:04] thebeautiful commented on #78896
maybe I linked this comment to the wrong article
my issue relates to this link
https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-only-authentication?tabs=azure-cli#azure-sql-database

although you might argue that Azure SQL database as the product name is right.

[2021-07-29 09:05] psmanhas commented on #79031
@ToruMakabe Thank you for the feedback We will work on it and will keep you updated on the thread

[2021-07-29 09:08] Sonali00000 opened #79032 "Need more information"
[Enter feedback here]

I have referred this document but we don't want to mention subscription id and resource group in the rest call
is it possible to get the keys through token without using these fields or by only using database name?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f59dde4d-488c-f922-da0f-c7489312edd1

[2021-07-29 09:14] gagarine commented on #78992
Thanks for the tips. Actually their is multiple page concerned. Regarding the nodejs problem going out of timeout:

- https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?pivots=platform-linux In this page, in the section Troubleshooting a paragraph could be added about "Container didn't respond to HTTP pings on port" and explain 1) that start script need to be fast and finish in 2

[2021-07-29 09:19] gagarine commented on #78992
Oh and this page https://docs.microsoft.com/en-us/azure/app-service/configure-language-nodejs?pivots=platform-linux need to be linked in this page https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?pivots=platform-linux

I see really little value in making those quickstart page. You end up doing back and forth between the two... Instead I would create one page for each language w

[2021-07-29 09:20] GrzegorzHejman commented on #78705
Thanks, @kof-f . We will go with the workaround until the custom tags functionality is added.

[2021-07-29 09:20] #78705 closed

[2021-07-29 09:23] HarshitaSingh-MSFT commented on #77383
@rforster-dev, this issue was being handled by @SnehaAgrawal-MSFT, she will respond you soon.

[2021-07-29 09:34] sasego opened #79033 "Missing info"
OWASP CRS 3.2 (public preview) section includes the same rule groups as OWASP CRS 3.1 section, missing the 2 new rule groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079888f6-188c-1bb9-0516-bd52ad0f287e
* Version Independent ID: 1971c541-4019-f620-b57b-8cfd5acf87a1
* Content: [CRS rule groups and rules - Azure W

[2021-07-29 09:52] shashishailaj commented on #79030
@andreasmarx Thank you for your feedback . We will investigate and update the thread.

[2021-07-29 09:56] shashishailaj commented on #79007
@NeverOddOrEven Thank you for your feedback . We will review this and see how best we can improve upon this document . If something is not working for you we will try to help you and in case it requires deeper troubleshooting we will help with alternate support options.

[2021-07-29 09:58] shashishailaj commented on #79019
@DishanH Thank you for your feedback . We will investigate and update the thread.

[2021-07-29 09:59] shashishailaj commented on #79009
@gitgithan Thank you for your feedback . We will investigate and update the thread.

[2021-07-29 10:16] AnuragSharma-MSFT commented on #79032
@Sonali00000 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-29 10:17] slavizh commented on #79028
Also does Metrics work on Basic SKU at all. I do not see them being sent to Log Analytics workspace.

[2021-07-29 10:28] AnuragSharma-MSFT commented on #78944
@kasunsjc Could you please highlights the configurations that differ between portal and the documentation?

[2021-07-29 10:29] AnuragSharma-MSFT commented on #78951
@AnirvanK We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-29 10:43] nosvalds opened #79036 "Should not reference sending a test email, since it's not possible with new Developer Portal"
The article includes a Note: "The parameters are not replaced with actual values when previewing or sending a test."

But there is no way with the new Developer Portal to send a test email. So this statement is misleading and should be removed from the documentation.

Related Developer Portal issue confirming this: https://github.com/Azure/api-management-developer-portal/issues/854

---
#### Docum

[2021-07-29 10:51] kasunsjc commented on #78944
It's configuration to add the service endpoint to postgresql. In azure portal postgresql server settings  under security there are no option for adding vnet rule.

[2021-07-29 10:52] AnuragSharma-MSFT commented on #78896
@thebeautiful Thanks for replying back. Actually the article focuses on syntactic difference between Azure SQL Database and Azure SQL Managed Instance for AAD authentication, hence the headline is mentioned as you said. However, if you still think it should be corrected I can assign this issue to content author. Please let me know.

[2021-07-29 10:53] Ashish-Goel007 opened #79037 "Need a Script for updating DNS Host record"
Hi @MarileeTurscak-MSFT @shashishailaj ,

We require a script which will update the DNS Host A Record (DNS hosted in On-Prem) using a service account remotely via azure PowerShell runbook.

Regards,
Ashish

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 795e3876-816e-e7ca-8d2a-4bbdbe786c30
* Version Independent ID: e2d9

[2021-07-29 11:23] ram-msft commented on #79022
@xtellurian Thanks for the feedback! We will review and update accordingly.

[2021-07-29 11:36] aochmann commented on #33157
Hey here!

We have some other issues when we try to attach a self-signed certificate (PEM, X509) stored in KeyVault to Application Gateway in Listener.

* Application Gateway and user has access to Key Vault.
* Application Gateway has an identity assigned which has access to the Key Vault
* Key Vault networking set to: "All networks"

Error:

[code]

[2021-07-29 11:41] AshokPeddakotla-MSFT commented on #79026
@xela-95 Separate documentation is available to [Create and provision an IoT Edge device using X.509 certificates](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-x509-certs?view=iotedge-2020-11&tabs=windows)
Adding author @kgremban for further clarity and to add the documentation reference in the next steps.

[2021-07-29 11:45] manishmsfte commented on #78883
Yes it is supported at vertex.

#please-close

[2021-07-29 11:45] #78883 closed

[2021-07-29 12:02] GitaraniSharma-MSFT commented on #79020
@Bafff , thank you for your query. We'll review and get back to you shortly!

[2021-07-29 12:05] GitaraniSharma-MSFT commented on #79033
@sasego , thank you for your feedback. We have assigned this to the content owner/author for review.

[2021-07-29 12:06] GitaraniSharma-MSFT commented on #79028
@slavizh , thank you for your feedback. We have assigned this to the content owner/author for review.

[2021-07-29 12:08] GitaraniSharma-MSFT commented on #78775
@Ivaylo1 , We have assigned this to the content owner/author for review.

@yushwang , for your review.

[2021-07-29 12:26] chtourou-youssef commented on #78653
in the capture , you use a windows web app , not linux conatiner image

[2021-07-29 12:41] PramodValavala-MSFT commented on #78787
@Vipin-Sharma Just following up here... Hope my previous comment clears things up.

[2021-07-29 12:57] frenky29a commented on #78888
The 1st command works.

The 2nd command looks like this:
(Az.Network module 4.10.0)

Get-AzExpressRouteCircuitPeeringConfig -Name "AzurePublicPeering" -ExpressRouteCircuit $ckt
Get-AzExpressRouteCircuitPeeringConfig -Name "Azure private" -ExpressRouteCircuit $ckt
Get-AzExpressRouteCircuitPeeringConfig -Name "Azure public" -ExpressRouteCircuit $ckt

They all give the same error:

PS C:\work\repos\A

[2021-07-29 13:09] PramodValavala-MSFT commented on #79009
@gitgithan Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-07-29 13:16] #79009 closed

[2021-07-29 13:21] marki555 commented on #77737
I can confirm TTS works now in Switzerland North region.

[2021-07-29 13:28] JFolberth opened #79040 "Provide data formatting and types"
Data Cost Analysis gives you the ability to export the data.  It would be beneficial to know the default data types and formats. Specifically number of decimal places cost is calculated at.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302575cd-86c8-5ddb-97c6-b406925cf0f4
* Version Independent ID: 84c2ceb5-e2f5-f8f6-e

[2021-07-29 13:31] SumanthMarigowda commented on #78843
@nick-luong Firstly, apologies for the delay in responding here and Your feedback has been shared with the content owner for further review.

[2021-07-29 13:31] AshokPeddakotla-MSFT commented on #79015
@rawatsudhir1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-29 13:35] zebs1 opened #79041 "Missing step?"
Section "Under Conditions > Client apps (Preview), under Select the client apps this policy will apply to leave all defaults selected and select Done." doesn't mention if "Configure" should be set to yes or no

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6262808-898e-6196-de6c-d76f649f20fa
* Version Independent ID:

[2021-07-29 13:36] BharathNimmala-MSFT commented on #79040
@JFolberth Thank you for your valuable feedback, assigning this to our document author to further evaluate the feedback and update the document accordingly.

[2021-07-29 13:48] stetou opened #79042 "Parameter template definition samples for Linked Services"
The description of the code snippet in [here](https://docs.microsoft.com/en-us/azure/synapse-analytics/cicd/continuous-integration-deployment#linkedservices) explain the ConnectionString and AzureKeyVault properties, but those are not in the code snippet.
Please add those parameters in the example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-07-29 13:54] p0shkar opened #79043 "Update examples to not use MSOnline module"
The Azure Automation example for O365 should be updated to use AzureAD module or GraphAPI instead of the MSOnline service since customers are encouraged to not use it and it doesn't support Certificate Authentication.

https://docs.microsoft.com/en-us/powershell/module/msonline/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-29 13:57] thebeautiful commented on #78896
@AnuragSharma-MSFT Never mind I think you are right.

[2021-07-29 14:10] mix2this commented on #50722
Ok, for anyone in the future needing the CORRECT syntax ..
https://<company>.icims.com/icims2/servlet/icims2?module=Root&action=samlAssertionConsumerService

This is pulled from the faq:  https://developer.icims.com/sso/saml/sample-idp-setup-using-adfs-20
You have to make an account to access this unfortunately.

entityID: icims.com
Location: https://CUSTOMER.icims.com/icims2/servlet/icims2?module

[2021-07-29 14:14] tfitzmac commented on #78991
This content has been added and should get published this morning.
#please-close

[2021-07-29 14:14] #78991 closed

[2021-07-29 14:16] AnuragSharma-MSFT commented on #78896
@thebeautiful Thank you for the reply again. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-29 14:16] #78896 closed

[2021-07-29 14:25] RPMSFT opened #79044 "Customer is misinterpreting the lockbox overview text"
[Enter feedback here]
Hi, Customer(Wells Fargo) is misinterpreting the lockbox overview available in public documentation.  customer is reading it as if customers don't use LockBox, Microsoft resources have access to customer data. Please make it clear in the document that  Microsoft engineers dont have access to customer data even without customer lockbox.

Thanks
Raj

---
#### Document Details

[2021-07-29 14:37] MicrosoftGuyJFlo commented on #79041
That step can be ignored now.

When not configured, policies now apply to all client apps, including modern and legacy auth.

[2021-07-29 14:57] #79041 closed

[2021-07-29 14:59] MarileeTurscak-MSFT commented on #79037
@Ashish-Goel007
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-29 15:11] whhender commented on #78929
#please-close

[2021-07-29 15:11] #78929 closed

[2021-07-29 15:16] squasta opened #79045 "Adding a virtual hard disk (VHD) on the file share and mounting the VHD over SMB seems not possible on an Azure File Share"
Workaround for cause 2 is strange or not applicable in this situation (using and troubleshooting latency issues with Azure File Share)

**How do you mount a VHD on a managed service like Azure File Share ?**

There is no reference or additional information about that on all Azure documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-07-29 15:16] djtech2k-MS opened #79046 "Document Missing Azure Gov Network Requirements"
This document does not list any network requirements for the configuration server that would be used in Azure Government.  The Azure Migrate document does AND the ASR document for doing physical DR with ASR does list it, but this one does not.  I think a customer would ignore the network requirements of the doc for physical DR if they were doing vmware DR, so they will proceed with incorrect netwo

[2021-07-29 15:19] curtand commented on #78846
Hi @Nandeeshswami ,
@tfitzmac is correct. It's a maximum on the user, service principal, or group, not a limit on an app role.

[2021-07-29 15:31] andoius opened #79047 "mismatch of roles and actions"
the tables in
Synapse RBAC roles and the actions they permit
and
Synapse RBAC actions and the roles that permit them
do not match

the roles and actions in one do not directly map to the other

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49a5eb79-6b7b-c217-36cd-b38c32dd1404
* Version Independent ID: 0e54e680-a48e-97d

[2021-07-29 15:39] chrisjeffreyuk opened #79048 "ENDPOINT Reference"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eb90387-ddb2-8fe2-69d5-828a483cb409
* Version Independent ID: ed7533b0-9b54-5604-b59a-97f40031afa4
* Content: [Deploy a Spatial Analysis web app - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/spa

[2021-07-29 15:40] chrisjeffreyuk commented on #79048
I believe the doc needs updating to show that "ENDPOINT" actually now reads "BILLING" in the manifest file.

"EULA": {
    "value": "accept"
},
#This should now read BILLING
"ENDPOINT":{
    "value": "<Use a key from your Computer Vision resource>"
},
"APIKEY":{
    "value": "<Use the endpoint from your Computer Vision resource>"
}

[2021-07-29 15:41] chaplic opened #79049 "Missing permission required and typo"
There are two mistakes in the
"What permission do I need to read the property?" section of

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-manage-inactive-user-accounts

1)  AuditLog**s**.Read.All  should be AuditLog.Read.All
2) These two properties are not enough to gain access as app. Also need user.ReadAll

---
#### Document Details

⚠ *Do not edit this section

[2021-07-29 15:44] ChaitanyaNaykodi-MSFT commented on #78974
Thank you @erikadoyle,
Hello @vladvino could you please help us review this issue? Thank you!

[2021-07-29 15:46] adamasmar commented on #78737
@Jialin that is the connection string I have set via the Azure App Settings as Azure__SignalR__ConnectionString. However doing so will prompt the app to throw the same sort of exception that I had previously posted.

[2021-07-29 15:57] spelluru commented on #78915
In a **Service Bus** namespace, you can create queues and topics/subscriptions. Please see quick starts in the Service Bus documentation. For example: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-portal.

In a **Relay** namespace, you can create WCF relays and hybrid connections. Please see the [tutorial](https://docs.microsoft.com/en-us/azure/azure-relay/rel

[2021-07-29 15:59] KatGGS opened #79050 ""Microsoft® Azure Backup Server v3" binary is not signed."
Hello,

The "[Microsoft® Azure Backup Server v3](https://www.microsoft.com/en-us/download/details.aspx?id=57520)" binary is not signed.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-microsoft-azure-backup#extracting-the-software-package

using SmartScreen, or UAC alerts us and we can't really trust the package.
![20210729_180146](https://user-images.githubusercontent.com/88154716/1275

[2021-07-29 16:04] #78801 closed

[2021-07-29 16:14] JamesTran-MSFT commented on #79044
@RPMSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-29 16:16] JamesTran-MSFT commented on #79049
@chaplic
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-29 16:19] DerekHerman-MSFT commented on #79023
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 16:38] MartinJaffer-MSFT commented on #78718
I will continue to engage with you on teams, and close this issue here.

[2021-07-29 16:38] #78718 closed

[2021-07-29 16:39] DerekHerman-MSFT commented on #79024
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-29 16:40] bandersmsft commented on #79040
@JFolberth Hi there. We don’t publish much detailed information for usage data details, which is what you export from Cost analysis (for a selected time period) in CSV format. The usage + charges file can also be downloaded at the subscription level for most, but not all, subscription types. The usage + charges file corresponds to an invoice.

https://docs.microsoft.com/azure/cost-management-billi

[2021-07-29 16:40] #79040 closed

[2021-07-29 16:48] Vipin-Sharma commented on #78787
Passing this in all methods may not be nice/clean solution, can we tie this with threadLocal? I am using this in function app, if every http request is served with new thread, it is probably good idea. I am not sure exact behaviour of function apps.

Does built-in logging using ExecutionContext  have any overhead or it is similar to other logging frameworks?

If I want to use logging framework lik