[2021-01-13 02:23] #66437 closed

[2021-01-13 02:37] chitturs opened #68821 "Add reference to a better way of declaring SF cert"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-create-template#add-all-certificates-to-the-virtual-machine-scale-set-osprofile

While the above works, it creates a problem when you renew the cert since the versioned URL will be broken. It'd be great to point to a better option of using Azure Key Vault VM extension pulling down versionless secret which is frie

[2021-01-13 03:02] omerzubair opened #68822 "Typo on page for powershell"
instead of this :
$appInsights = Get-AzApplicationInsights -ResourceGroupName "{resource_group_name}" -Name "{storage_account_name}"
Remove-AzApplicationInsightsLinkedStorageAccount -ResourceId $appInsights.Id

its should be:
$appInsights = Get-AzApplicationInsights -ResourceGroupName "{resource_group_name}" **-Name "{application_insights_name}"**
Remove-AzApplicationInsightsLinkedStorageAccount -

[2021-01-13 03:05] SnehaGunda commented on #68546
@BorisKornienko  thank you, looking at all the outputs, looks like the article was tested for 3.2 version. I will update the "mongo.cosmos.azure.com" connection string to "documents.azure.com" for consistency.

[2021-01-13 03:08] SnehaGunda commented on #68546
Changes in the above PR will be live tomorrow. We will close this issue now.

#please-close

[2021-01-13 03:08] #68546 closed

[2021-01-13 03:09] SnehaAgrawal-MSFT commented on #68813
@Hasan038 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-13 03:16] AnuragSharma-MSFT commented on #68665
@ThomasWeiss Thanks for providing the details.

@kostelnyy Please let us know if this helps or else you need more details on it.

[2021-01-13 03:16] xujing-ms commented on #65632
#reassign: @cynthn
@cynthn, I am no longer in the Azure Compute teams but I don't know who is best to put as content owner as none of my original team are on github.

[2021-01-13 03:17] xujing-ms commented on #67968
#reassign: @cynthn
@cynthn, I am no longer in the Azure Compute teams but I don't know who is best to put as content owner as none of my original team are on github.

[2021-01-13 03:36] CHEEKATLAPRADEEP-MSFT commented on #68556
@DennesTorres  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-13 03:36] #68556 closed

[2021-01-13 03:37] BhargaviAnnadevara-MSFT commented on #68818
@Ray5254 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-13 03:38] BhargaviAnnadevara-MSFT commented on #68822
@omerzubair Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-01-13 04:05] spelluru commented on #41399
@videlalvaro - So sorry for the delay. I have been going through these issues since I took over.

In this example, "Update" and "Delete" events are sent to the same partition and the consumer reads them in the order (Update and then Delete). Could you please let me know which part of the statement is confusing? Thanks.

[2021-01-13 04:09] spelluru commented on #48394
#please-close

[2021-01-13 04:09] #48394 closed

[2021-01-13 04:14] omerzubair opened #68824 "Do we need to manually switch on the code-level diagnostics (Profiler/Debugger) per webApp"
I have run the commands for BYOS
	$appInsights = Get-AzApplicationInsights -ResourceGroupName $productNameRg -Name $row.resourceName
	Remove-AzApplicationInsightsLinkedStorageAccount -ResourceId $appInsights.Id

	$storageAccount = Get-AzStorageAccount -ResourceGroupName $productNameRg  -Name $staInsights.resourceName
	$appInsights = Get-AzApplicationInsights -ResourceGroupName $productNameRg  -Nam

[2021-01-13 04:14] timer84 opened #68825 "The values are a bit outdated"
I believe the values on this page is a bit outdated, for example, https://docs.microsoft.com/en-us/azure/virtual-machines/edv4-edsv4-series?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521

[2021-01-13 04:37] SaiKishor-MSFT commented on #68784
@RonnieQuan Specific traffic to Virtual Appliance is supported and should not be a problem.

[2021-01-13 04:37] AnuragSharma-MSFT commented on #68676
@shkale-msft Thanks for updating the document and providing the details.

@thedarkfalcon Please let us know if any more details needed.

[2021-01-13 04:41] GitaraniSharma-MSFT commented on #68639
@cakriwut , Kindly let us know if the above helps or you need further assistance on this issue.

[2021-01-13 04:41] yuriwoof opened #68826 "Enable egress traffic"
I got feedback from customer regarding egress scenario.
As per doc, virtual machine can reach Internet through Azure F/W.

https://docs.microsoft.com/en-us/azure/azure-vmware/public-ip-usage#reference-architecture

They said that "Internet traffic" is "None" as default. They need to change this to "Azure Firewall" in this scenario.
It would be helpful if you could specify this procedure in the doc

[2021-01-13 04:43] SwathiDhanwada-MSFT commented on #68819
@omerzubair Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-13 04:43] SwathiDhanwada-MSFT commented on #68824
@omerzubair Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-13 04:46] femsulu commented on #68616
Good feedback, @ezcodify but adding the solution author @mrajess to review and consider for future revisions.

[2021-01-13 04:51] ChaitanyaNaykodi-MSFT commented on #68485
Hello @PRS-M, Thank you for the feedback. I have made a PR to include the suggested changes in the document and currently pending author's review. Just a heads up as this code sample is used extensively across multiple docs and provided as [template](https://github.com/Azure/azure-functions-templates) in the developer environment it might take some time to reflect the change if the changes propose

[2021-01-13 04:51] #68485 closed

[2021-01-13 04:52] shashishailaj commented on #68798
@marcelkmfst Thank you for your query. We will investigate and update the thread.

[2021-01-13 04:56] wahyuen opened #68828 "Incorrect HTTP Verb used to retrieve token"
In the current samples, it is stated that a GET request is used to obtain an access token. Whilst this works in curl (and maybe it shouldn't?) this certainly doesn't work if someone attempts to replicate this using another tool such as Powershell `Invoke-RestMethod`

According to MSAL documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#g

[2021-01-13 04:59] payalgaikwad42 commented on #68336
I have tried with azure blob storage image with tag 1.3-linux-amd64 and latest.

the properties configured are as follows:

      "properties.desired": {
        "deviceAutoDeleteProperties": {
          "deleteOn": true,
          "deleteAfterMinutes": 10,
          "retainWhileUploading": true
        },
        "deviceToCloudUploadProperties": {
          "uploadOn": true,
          "uploadOrde

[2021-01-13 05:00] payalgaikwad42 commented on #68336
okay I will try this version and let you know. Thank you.

[2021-01-13 05:01] psmanhas commented on #68825
@timer84 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-13 05:02] psmanhas commented on #68825
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-01-13 05:03] psmanhas commented on #68821
@chitturs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-13 05:03] psmanhas commented on #68821
@erikadoyle Can you please check and add your comments on this doc update request as applicable

[2021-01-13 05:09] psmanhas commented on #68815
@arbrod13 Thank you for sharing your query! Can you help me understand your use case in detail so that I can take it our internal team and documentation can be enhanced accordingly.

Awaiting your response.

Thanks

[2021-01-13 05:12] ruixinxu commented on #68125
The fixed of the notebook preview visualization issue (rather than the document) is under deployment. The deployment is target to complete by Jan 13th.

Here are more details.

The fix has been deployed to following regions:

EastUS2EUAP
West Central US
South East Asia
West Europe
Japan East
Canada Central
Canada East
Korea Central
North Central US
UK West
Japan West
France Central
South Africa No

[2021-01-13 05:17] #68413 closed

[2021-01-13 05:35] HarithaMaddi-MSFT commented on #68817
@hecflores - Thanks for posting the question. We are looking into it and will get back to you shortly.

[2021-01-13 05:45] rwike77 commented on #65289
@nigaur  I'm sorry, but this scenario is outside the scope of what we would include in the identity platform or AAD docs.  Many products/services support authentication, we don't have the resources to document all of them for this docset.  I suggest you follow up with the Sharepoint content.  #please-close

[2021-01-13 05:45] #65289 closed

[2021-01-13 06:10] SubhashVasarapu-MSFT commented on #68442
@ftereso, Appreciate your patience. This has been assigned to the respective SME to provide better insights.

[2021-01-13 06:23] hiaga commented on #65600
Steps followed:

1) $container = Get-AzRecoveryServicesBackupContainer -BackupManagementType AzureVM -ResourceGroupName hiagawus-rg -ContainerType AzureVM  -VaultId $vault.ID

2) $vault=Get-AzRecoveryServicesVault -ResourceGroupName "hiagawus-rg" -Name "hiagaeus-vault"

3) $container = $container[0]

4) $item = Get-AzRecoveryServicesBackupItem -BackupManagementType "AzureVM" -WorkloadType "AzureVM

[2021-01-13 06:24] varleg commented on #68473
@SaiKishor-MSFT This is the command I am reffering to, yes. The problem with the ampersand on sudo is that you will send the command itself to a new background shell which sudo has not been run in (at least in zsh). This will try to run openvpn without the sudo command (as superuser rights does not propagate). Therefore I suggest using sudo --background, as referenced by the manual page of the sud

[2021-01-13 06:25] SubhashVasarapu-MSFT commented on #68471
@AntZhelev, Appreciate your patience. AFAIK, port 25 restriction is on top of subscription level and the restriction changes according to the subscription type. Requests to grant on Azure Pass subscription type won't be granted until unless you change the subscription type.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly con

[2021-01-13 06:25] #68471 closed

[2021-01-13 06:28] docast opened #68830 "User Defined managed Identity in Azure Data Explorer"
As per the article:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities

User Defined managed Identity is not Available for Azure Data Explorer ( table shows Not Available for all regions ).

However, referring to the Azure Data Explorer documentation:  User Defined Managed Identity is supported:
https://docs.microsoft.com/

[2021-01-13 06:31] amanmcse commented on #68638
@diberry I've assigned the issue to the author of the doc.

[2021-01-13 06:32] amanmcse commented on #68643
#please-close

[2021-01-13 06:32] #68643 closed

[2021-01-13 06:37] dominicbetts commented on #67927
Hi @romankiss - we've also just added the following article: https://docs.microsoft.com/en-us/azure/iot-central/core/howto-use-commands - does this help to clarify the issue? I'll also forward your comments to the product team to make sure that they're aware.

[2021-01-13 06:54] AshokPeddakotla-MSFT commented on #68820
@rido-min Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-13 06:58] SaiKishor-MSFT commented on #68784
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-13 06:58] #68784 closed

[2021-01-13 06:59] AnandGoel813 commented on #68504
Thanks. Please archive the case.
Regards,Anand Goel

Sent from Yahoo Mail on Android

  On Mon, 11 Jan 2021 at 9:44, CHEEKATLAPRADEEP-MSFT<notifications@github.com> wrote:

Closed #68504.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-01-13 07:01] IanIsFluent commented on #68489
If anyone finds this bug report - according to an answer on the support forum, apparently the size and 'S' number were wrong - see here: https://docs.microsoft.com/en-us/answers/questions/227037/errors-trying-to-import-db-from-bacpac.html

[2021-01-13 07:08] SnehaAgrawal-MSFT commented on #68813
@Hasan038 Could you please elaborate your query to help you better on this.

[2021-01-13 07:11] psmanhas commented on #68528
@lissff  Azure Kubernetes Service (AKS) cluster requires a service principal to create additional resources like load balancers and managed disks in Azure. Either you must provide a service principal or AKS creates one on your behalf.

`az aks show -g $RG -n $AKS --query identityProfile.kubeletidentity.clientId -o tsv`

In this command you are specifically querying the identity profile with client

[2021-01-13 07:12] #68528 closed

[2021-01-13 07:16] evertonmc commented on #66329
Thanks @mksuni but, none of the links above address the issue mentioned here.
It's about setting Server Parameters for pgFlex servers (flexibleServers/configurations)

[2021-01-13 07:19] psmanhas commented on #68653
@ToruMakabe Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-13 07:19] CHEEKATLAPRADEEP-MSFT commented on #68828
@wahyuen  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-13 07:19] psmanhas commented on #68653
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-01-13 07:23] vipulsparsh commented on #68644
@SerjSX  As of now the autofill for the organizational account is not supported in MS authenticator App but should work perfectly fine with MSA accounts which you seems to have as main account there.
Can you share any screenshots where it is not allowing you to use Autofill while doing some MSA login ?
I am sure that you would have already enabled the  Autofill option, verify it once again just in

[2021-01-13 07:39] vipulsparsh commented on #68703
@djs0203 Azure AD B2B does not support shared mailbox scenarios, you would not be able to do this with shared mailboxes.
Feel free to provide the product idea at https://feedback.azure.com/forums/169401-azure-active-directory/category/165471-b2b?query=B2B

[2021-01-13 07:39] SerjSX commented on #68644
Sorry it's not letting me take screenshots, can you check from your end? Authenticator is backed up from a normal Microsoft account, but I alsonhave an org account on Teams on my phone which is seperate. Afterall I am only using authenticator for authentications and not passwords, so if you want check it out or else I will close this.

[2021-01-13 07:46] onlywhale opened #68832 "The scope of scheduled events marked differently according to the OS"
[Enter feedback here]
[linux] https://docs.microsoft.com/en-us/azure/virtual-machines/linux/scheduled-events#scope
Standalone Virtual Machines.
All the VMs in a cloud service.
All the VMs in an availability set.
**All the VMs in an availability zone.**
All the VMs in a scale set placement group.

[windows] https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-events#scope
Stand

[2021-01-13 08:02] SumanthMarigowda-MSFT commented on #68832
@onlywhale  Thanks for the question! We are investigating and will update you shortly.

[2021-01-13 08:20] SaiKishor-MSFT commented on #68473
@varleg I understand now. I will discuss this with our PG team to determine this change and will update the document as needed. We really appreciate your valuable feedback.

[2021-01-13 08:31] #68473 closed

[2021-01-13 08:33] helloyesthisisdave commented on #67463
Thanks Julie

On Tue, 12 Jan 2021, 22:08 julieMSFT, <notifications@github.com> wrote:

[2021-01-13 08:52] AbelLykens opened #68834 "Mapping to MITRE Techniques"
Sentinel use cases have a mapping to MITRE Techniques. Adding Techniques (like T1546, T1134, etc) to the UC list would be very useful in MITRE ATT&CK mapping. The Tactics already is useful, so thanks for that, but for good coverage we need Techniques, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0d

[2021-01-13 09:04] stephenstack opened #68835 "Page requires a step to add a fileshare"
Page requires a step to add a fileshare as a pre-requisite to creating the Synapse workspace; My addition script is below. This should come after  "az storage account keys list"

az storage share create \
    --account-name ${storageAccountName} \
    --account-key ${StorageAccountKey} \
    --name ${FileShareName} \
    --quota 1024 \
    --output none
[Enter feedback here]

---
#### Document Det

[2021-01-13 09:15] smoms opened #68836 "SMB protocol vs Virtual machine disk traffic impact. Please clarify."
To me looks contraddictory at this point:

**Network rules are enforced on all network protocols for Azure storage, including REST and SMB. To access data using tools such as the Azure portal, Storage Explorer, and AZCopy, explicit network rules must be configured.

....

Virtual machine disk traffic (including mount and unmount operations, and disk IO) is not affected by network rules. REST acces

[2021-01-13 09:18] alenroki commented on #68604
I see. I have tried that and it works. Thx for the detailed explanation. You may close this issues.

[2021-01-13 09:18] #68604 closed

[2021-01-13 09:26] stingster commented on #64736
Hi @tamram , can you please provide the link to the updated documentation? Looking at the page where object replication is described I don't see any mentions about customer-provided keys  and/or container existence pre-requisite: https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-overview.

Is there another page for this?

Also, while you are at this... I can't seem to find ho

[2021-01-13 09:30] HarithaMaddi-MSFT commented on #68835
@stephenstack - Thanks for your valuable feedback. We are looking into it and will get back to you soon.

[2021-01-13 09:39] dcurwin commented on #68701
Thank you for your suggestion. The page has been updated.

#please-close

[2021-01-13 09:39] #68701 closed

[2021-01-13 09:40] romankiss commented on #67927
Hi @dominicbetts , thanks for article, there is no problem to understand behaviour of the command in the IoT Central App. The issue is, that the pnp model didn't described uniquely type of the command such as synchronous (direct method) vs asynchronous (c2d messaging).

from the [changes from Version 1](https://github.com/Azure/opendigitaltwins-dtdl/blob/master/DTDL/v2/dtdlv2.md#changes-from-versi

[2021-01-13 09:44] HarithaMaddi-MSFT commented on #68762
@lonevvolf - I had issues in reproducing guest scenario where adding and removing is not impacting the configuration from ADF, I am moving it to content author to confirm and make the changes appropriately.

@dcstwh - Can you please take a look and share your thoughts.

[2021-01-13 09:45] PramodValavala-MSFT commented on #68589
@Indrasen-Singh Hope my previous comment helps.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-13 09:45] #68589 closed

[2021-01-13 09:51] SnehaAgrawal-MSFT commented on #68747
@leonmeijer Thanks again for the feedback! You may refer to [Current workaround script to use with PowerShell](https://github.com/Azure/azure-powershell/issues/10518)

[2021-01-13 09:58] jovanpop-msft commented on #67463
Hi @helloyesthisisdave

Sorry for the late response.

CETAS is one-off command that copies/transform source files into destination. Column values do not define location, so once you export data to an external storage you cannot repeat the same script unless if you drop the data on storage.
Currently, it does not enable you to insert new data in external table or to drop underlying data to repeat t

[2021-01-13 10:02] savjani commented on #66669
@yoshioterada , @NavtejSaini-MSFT - Are we good to close this ?

[2021-01-13 10:05] savjani commented on #56534
@MarileeTurscak-MSFT - this thread isnt moving and is 221 days old. Can we consider closing this and if re-open if there is a customer or user request?

[2021-01-13 10:06] SumanthMarigowda-MSFT commented on #68836
@smoms Thanks for the question! We are investigating and will update you shortly.

[2021-01-13 10:15] HarithaMaddi-MSFT commented on #68817
@hecflores - I went through the steps suggested for hotfix where we are manually updating the adf_publish branch. My understanding is that, we are creating new branch from latest commit of production (Hotfix branch) which is similar to any other feature branch that requires pushing code to collaboration branch first and from there it can be published to adf_publish. Instead of doing manual export

[2021-01-13 10:34] robert4os opened #68838 "How often exactly are Microsoft-managed keys rotated"
[Enter feedback here]

Hi,

in the docs you state 'Microsoft-managed keys are rotated appropriately per compliance requirements'.

Could you please be more specific about how often Microsoft-managed keys are rotated? The compliance requirements are from FIPS 140-2?

Thank you and best regards,
Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-01-13 10:39] helloyesthisisdave commented on #67463
If this is the case I think you really need to highlight this in the documentation both here and elsewhere.  That the resulting files are created with a Query ID and a Timestamp, dropping the External Table doesn't actually remove the files and that there is no mention of only being able to run the script once very strongly suggests that new files will either be created in place or in addition to

[2021-01-13 10:42] HarithaMaddi-MSFT commented on #68835
@stephenstack - The storage account and file share are expected to be created before creating Synapse workspace in this tutorial. Hence, even the storage account creation step is not included in it. Please suggest if this clarifies the question or let us know if you think document changes are needed still.

[2021-01-13 10:54] batamig opened #68840 "Suggestion to break up these tables"
Long tables like these are very difficult to read and track.

By the time I've scrolled down to view info for my product, I've lost track of the headings and what each column indicates.
I suggest either breaking it up alphabetically with links a-z. Or perhaps we should add some sort of a scrolling heading to our template ;)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-01-13 11:03] shashishailaj commented on #68830
@docast Thank you for pointing it out . We will have this checked internally and update the thread.

[2021-01-13 11:12] iamkarlson opened #68841 "One-time password example doesn't work"
Hi,
I copied technical profiles examples to my policy and it fails into the error:

`
Unable to cast object of type 'Web.TPEngine.Providers.OneTimePasswordProtocolProvider' to type 'Web.TPEngine.Providers.IProtocolProvider'.
`
[code]

UserJourney used:

[code]

However, if I'm using it as a validation profile of another profile - it doesn't generate a code. Otp claim is empty.

This is an example

[2021-01-13 11:47] SumanthMarigowda-MSFT commented on #68838
@robert4os Thanks for the question! We are investigating and will update you shortly.

[2021-01-13 11:51] ramakrpr commented on #68717
@asergaz and @arduppal
this seems to be working for me, maybe one last question
For both local storage as well as az storage a/c auehentication from the module i believe the only supported option now is using the key? Are there any feasibility/plans to use something more secure? for example maybe an SPN / Managed identity?

[2021-01-13 11:55] amanmcse commented on #68672
@iamkarlson Closing the issue for now. Feel free to tag us in your reply once the issue is reproduced and we will reopen the issue.

[2021-01-13 11:55] #68672 closed

[2021-01-13 12:14] Georgi-K commented on #11854
Hello all,
This is literally the only place I've found a useful explanation as to why my Free Offer is still considered as such, even though I upgraded to Pay-as-Go.
This behavior is crippling me as a business as with the Free Trial (even de facto it is not) offer, port 25 SMTP remains closed, with no option to request it to be opened.

It would've been nice if we had this information documented s

[2021-01-13 12:15] mjaow opened #68842 "Arc enabled k8s cannot provide load balancer ip for service"
[Enter feedback here]

I have a service
[code]

After applied it , it's pending on getting load balancer ip (EXTERNAL-IP) for a long time. Not quite sure if  arc enabled k8s support getting load balance ip from azure?  ( My arc k8s is build on azure vm)

![image](https://user-images.githubusercontent.com/8275883/104451303-4c86c980-55dc-11eb-978e-f129490b0f85.png)

---
#### Document Details

⚠ *Do

[2021-01-13 12:18] lmqferreira opened #68843 "Some commands are deprecated"
Tried to follow this but got into some errors that are related to the quick evolution of Istio. One example is that istioctl lo longer has the authn command.
This should be updated to work with Istio 1.7/1.8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e91998-d53d-5074-5c67-0f9f031bc26c
* Version Independent ID: 9

[2021-01-13 12:32] psmanhas commented on #68843
@lmqferreira Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-13 12:32] psmanhas commented on #68843
@paulbouwer Can you please check and add your comments on this doc update request as applicable

[2021-01-13 12:58] SwathiDhanwada-MSFT commented on #68741
@omerzubair Thanks for your comment. You have already linked this issue to #68739 and issue has been assigned to content author for review.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-01-13 12:58] #68741 closed

[2021-01-13 13:16] jazelenk opened #68844 "This page is very helpful, but I wish it talked more about or had a link to the mechanics. For example, on Linux, the waagent writes custom-data to a file. How does the waggent obtain the data? I'd guess some interaction with the metadata service, but that isn't completely clear."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 282b39fe-e8fe-f698-36c2-321f088f6554
* Version Independent ID: 2a7c130c-291b-40ff-cae5-43255bcb3bc3
* Content: [Custom data and Azure Virtual Machines - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/custom-data)
* Con

[2021-01-13 13:28] mattruma commented on #68430
I am working with Qixiao Wang, Ravindra Patel and Varun Chawla.

[2021-01-13 13:39] yoshioterada commented on #66669
I confirmed the document was updated. Thank you so much for adding the explanation.
Please close the bug.

Thank you & Best Regards.
Yoshio.

[2021-01-13 13:39] #66669 closed

[2021-01-13 13:49] SwathiDhanwada-MSFT commented on #68819
@omerzubair As per my understanding, Application insights needs to access  storage account which requires identity, in this case default Application is provided by Microsoft which is known as a Diagnostic Services Trusted Storage Access. Access to Application Insights is restricted by the roles assigned to the service principal, giving you control over how storage account can be accessed and at wh

[2021-01-13 13:49] #68819 closed

[2021-01-13 13:55] estoel81 commented on #65000
Please document it somewhere! It has cost me a day to figure out why this was not working 👎

[2021-01-13 14:03] #68616 closed

[2021-01-13 14:05] neepika987 opened #68846 "Users unable to create any new resources on Azure Portal when Adblocker "Ad Block Plus" was enabled on Microsoft Edge Browser as an extension"
[Enter feedback here]
Customers are reporting that an Adblocker named "Ad Block Plus" can interfere with normal functioning of Azure portal when used an extension on Microsoft Edge Browser. Please note when Adblock Plus is enabled on Microsoft Edge browser Customers are not able to create any resources on Azure Portal and receive an error as " something went wrong while creating this resource". Pl

[2021-01-13 14:11] JFolberth opened #68847 "Outdated images"
I had some PRs out there that never got assigned in terms of some of the images being outdated since the Log Analytics integration is no longer in preview.
https://github.com/microsoft/azure-docs/pull/3
https://github.com/microsoft/azure-docs/pull/2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc462b2-cc7f-7209-fac7

[2021-01-13 14:13] SwathiDhanwada-MSFT commented on #68847
@JFolberth Thanks for submitting PR's and for your feedback.

Assigning to content author @lgayhardt for reviewing the issue.

[2021-01-13 14:15] TheUniversalSpider commented on #65000
It is working for me. You got to do what is said here:
 - https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token#programmatic
 - https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token#configure-an-app-in-azure-portal

Basically, you get to grab a token with this:
  token_response = context.acquire_token_with_username_password(...)

[2021-01-13 14:20] DRAirey1 commented on #68791
The web page you reference above gives a 404 error.

[2021-01-13 14:20] simondmorias commented on #65000
Yes that works because you are using your user account. This thread relates to it not working for service principals - and that the documents do not state this clearly causing wasted time.

[2021-01-13 14:21] floatingfrisbee commented on #50976
The solution using `az rest` suggested by kristofer84 is the way to go if you're able to use Azure CLI. If you want a PowerShell based way to achieve the same, please check out this StackOverflow question:

https://stackoverflow.com/questions/65691699/how-to-make-an-azure-app-registration-with-platform-spa-via-powershell

Bottom line, as of today, 01/13/2021, there is no built-in command to be abl

[2021-01-13 14:22] SwathiDhanwada-MSFT commented on #68846
@neepika987 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-13 14:27] TheUniversalSpider commented on #65000
Oups, I edited my comment.

[2021-01-13 14:45] marcelfranke opened #68848 "ONNX conversion in notebook not working"
The onnx conversion in the notebook tutorial-predict-nyc-taxi-tips-onnx.ipynb is not working. I'll get the error "ValueError: You passed in an iterable attribute but I cannot figure out its applicable type."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2b7493-8a67-f5af-1dba-7f8c37db47e8
* Version Independent ID: 93

[2021-01-13 14:46] BhargaviAnnadevara-MSFT commented on #68756
Closing this in favor of MicrosoftDocs/azure-docs#68757

[2021-01-13 14:46] #68756 closed

[2021-01-13 14:56] BhargaviAnnadevara-MSFT commented on #68757
@Bngo15 Thank you for the response. I would request you to open your query against the [Bot Framework Solutions](https://github.com/microsoft/botframework-solutions) GitHub repository as mentioned [here](https://microsoft.github.io/botframework-solutions/index).

I'd like to let you know that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for drivin

[2021-01-13 14:56] #68757 closed

[2021-01-13 15:00] memildin commented on #67884
Hi @annerajb, thanks for the questions.

Currently, it’s only possible to connect the children accounts one by one. If you want to only consume data from Security Hub, as it says in the docs, you can connect all accounts to one security hub destination, from which Security Center will get the data.

I'm going to close this issue, but feel free to comment again here or open a new one if you have ad

[2021-01-13 15:01] #67884 closed

[2021-01-13 15:09] andy-clapham opened #68849 "Can you not please keep on prompting me to read this page from the main azure metrics screen! It's nice, but not that exciting!!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea95f9c8-e0ad-93d2-cac2-0b486a684600
* Version Independent ID: e03365fb-056d-1388-1cc3-01c009b1d2ec
* Content: [Advanced features of Azure Metrics Explorer - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts#c

[2021-01-13 15:11] #67569 closed

[2021-01-13 15:14] SaurabhSharma-MSFT commented on #68848
@marcelfranke Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-13 15:16] tamram commented on #64736
@stingster - It's [here](https://docs.microsoft.com/azure/storage/blobs/object-replication-configure?tabs=portal#check-the-replication-status-of-a-blob) at the bottom of the section, perhaps a bit too difficult to find. I'll add it to the overview doc as well.

The text reads:

If the replication status for a blob in the source account indicates failure, then investigate the following possible cau

[2021-01-13 15:24] moazmirza opened #68850 "database user for the tenant"
The following documentation says to install the database user in the tenant if log trimming is used. You actually need it even without the log trimming option. Can you clarify and update this please? Thanks.

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azacsnap-installation#additional-instructions-for-using-the-log-trimmer-sap-hana-20-and-later[Enter feedback here]

---
#### Document

[2021-01-13 15:25] tamram commented on #64736
@stingster - We don't currently document how failover is handled in the case of object replication. But both the source and destination accounts would need to be failed over. Given that customer-managed failover often results in some data loss, it's possible that some objects would not be replicated during the failover process. I'll check with the engineering team on this and let you know if they

[2021-01-13 15:32] moazmirza opened #68851 "Log Trimming functionality"
Can you also elaborate more on log trimming functionality? I believe it is a great functionality and the reader would like to know more about it with examples.

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azacsnap-installation#additional-instructions-for-using-the-log-trimmer-sap-hana-20-and-later

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-13 15:32] sameer-kumar commented on #68728
When I do **nslookup** from my VM, I get this:

[code]

This is not the private IP (10.149.1.1) which is configured in **privatelink.azconfig.io**

[2021-01-13 15:41] stokes776 opened #68852 "Specify Which ConfigMap to edit"
It is unclear which ConfigMap needs to be adjusted. Do I need to go edit each pods configmap that is doing logging, or the configmap for the Azure Container Insights service pulling the metrics? What about kube-metrics, maybe its that one?

Just saying edit the configmap when I have dozens, is not specific enough.
I suspect maybe it is this?

kubectl edit configmaps container-azm-ms-aks-k8scluster

[2021-01-13 15:49] #68790 closed

[2021-01-13 15:53] shashishailaj commented on #68834
@AbelLykens Thank you for your feedback . We will check the same with the content team and update what can be done on the same.

[2021-01-13 15:54] shashishailaj commented on #68834
@memildin Could you please review this request if this is something we could add or if there is anything related within your backlog for adding the techniques in the documentation ?

[2021-01-13 15:56] mimckitt commented on #68825
I do not see what is outdated. Can you elaborate?

[2021-01-13 15:59] shashishailaj commented on #68841
@iamkarlson Thank you for your query. We will have this reviewed and update the thread.

[2021-01-13 16:09] noah-birrer8451 opened #68853 "Support for MacOS or Linux Machines"
Relevant tool: [Azure Policy Extension for VS Code](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/extension-for-vscode)

Topic: [On Demand Evaluation Scan](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/extension-for-vscode#on-demand-evaluation-scan)

Question: Are there any plans to add support for the Mac OS version of the Plugin to support On Demand evaluation

[2021-01-13 16:12] thommck opened #68854 "No mention of the newer portal"
I think you need to include some information on the new portal https://myapplications.microsoft.com/.
I know the original myapps URL redirects to it but it is confusing what users should be told to go to. What is the "official" URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e63fbf2-8107-91fa-ea13-d63b4000bab6
* Ve

[2021-01-13 16:17] spelluru commented on #68714
You are probably right. I am looking at the IoT Hub article and it doesn't have this paragraph.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid#event-types

I am trying to confirm with the product team.

[2021-01-13 16:18] azaricstefan commented on #58619
If you specify schema (external table or OPENROWSET WITH), using default lax path mode, those columns that don’t exist in some files will be returned as NULLs (for rows from those files).

You can check [How to use OPENROWSET using serverless SQL pool in Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-openrowset) and look for path mode explanation, par

[2021-01-13 16:29] AshokPeddakotla-MSFT commented on #68401
@martgut Agree the verbiage "flickering" is very ambiguous, and does not fully represent the behavior of sending at most 1 message per device per minute.  We are working on this with respective tam and will update the doc accordingly for more clarity. Please stay tuned for further updates.

[2021-01-13 16:31] vhorne commented on #66430
#please-close

[2021-01-13 16:31] #66430 closed

[2021-01-13 16:32] SumanthMarigowda-MSFT commented on #68737
@santoshc1 Can you please add your comments here?
Thanks!

[2021-01-13 16:34] #68724 closed

[2021-01-13 16:40] AshokPeddakotla-MSFT commented on #68713
Duplicate issue of https://docs.microsoft.com/en-us/answers/questions/226357/index.html

[2021-01-13 16:42] AshokPeddakotla-MSFT commented on #68713
@PatAltimore Do you have any comments on this?

[2021-01-13 16:58] yowl commented on #67166
@elafnit Thanks for the update.  We don't have a HSM and the provider of our USB dongle, Comodo, do not offer a solution compatible with KeyVault.  So I've upvoted https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/35488669-add-ev-code-signing-certificate-support-with-azure which looks like it might deliver some kind of 2 step process for final builds, using a non EV cert for tes

[2021-01-13 17:04] elonp opened #68855 "What are the requirements from a custom docker image used for training?"
[Enter feedback here]
Are there any specifications regarding what a custom docker image should contain in order to work in this context?
Can you please provide them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af5a2184-2f06-5c07-477c-86b2591fb2aa
* Version Independent ID: 0cbf10e2-1cc1-7eff-57a9-6bc8872e7620
* Conte

[2021-01-13 17:14] YidiQin opened #68856 "DNAseq pipeline doc"
Do I need to edit read_group in the provided example if my input file is a bam file? Usually, multiple unique read group ids are included in a bam file. How does the pipeline identify them?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 796846ea-4dff-5c31-15f7-63fb61faccd0
* Version Independent ID: 79c141f4-790b-4d18-6a

[2021-01-13 17:16] psmanhas commented on #68735
@vishnu4 Apologies for delay in response and all the inconvenience caused because of the issue.
As mentioned in the article The ingress controller also needs to be scheduled on a Linux node. Windows Server nodes shouldn't run the ingress controller. A node selector is specified using the --set nodeSelector parameter to tell the Kubernetes scheduler to run the NGINX ingress controller on a Linux-ba

[2021-01-13 17:16] GiftA-MSFT commented on #68855
@elonp we'll review your feedback and get back to you shortly. Thanks.

[2021-01-13 17:17] cynthn commented on #65632
@mimckitt

[2021-01-13 17:19] PatAltimore commented on #68713
Hi @AshokPeddakotla-MSFT,

I'm probably not the best contact on this particular question. I'll email you a contact.

Thanks,
Pat

[2021-01-13 17:23] trevorbye commented on #67565
#please-close

[2021-01-13 17:23] #67565 closed

[2021-01-13 17:23] alinuxguru70 opened #68857 "Missing Redhat 8 elif block"
There is no RedHat 8 check like the below example in the /etc/redhat-release if statement.

Else
  if uname -a | grep -q x86_64; then
        OS="RHEL8-64"
        echo $OS >> /tmp/MobSvc/sccm.log
        cp *RHEL8*.tar.gz /tmp/MobSvc
 fi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08001ec-4173-259d-36a6-2534945d2a

[2021-01-13 17:23] cynthn commented on #68791
Sorry, that is just to internally track the changes. The change in the content should be live now :)

[2021-01-13 17:27] AlexandraKemperMS commented on #68664
Hi @dazinator, yes, the multiple page refresh is due to caching. Once the cache period is reached, an http request is sent to your configuration store in Azure to update the values. This happens whether your configuration in Azure has changed or stayed the same. You can adjust the cache period by seconds, minutes, and hours depending on your setup. If you would like groups of keys to be updated sy

[2021-01-13 17:28] mimckitt commented on #65632
#reassign: @mimckitt

[2021-01-13 17:30] mimckitt commented on #65632
@dcbrown16 I recently updated this doc to show that you can deploy a windows 10 image as long as you have multi-tenant hosting rights. And the following subscriptions have that:

![image](https://user-images.githubusercontent.com/32313503/104487329-d0f82e80-5581-11eb-917e-8406955d7352.png)

I had discussions with the portal team and the subscriptions team on this and at this time we are leaving th

[2021-01-13 17:30] #65632 closed

[2021-01-13 17:32] #68853 closed

[2021-01-13 17:32] GitaraniSharma-MSFT commented on #68656
@adiun , the latest update that I have regarding this issue is related to the certificate CA.
Allowed certificate authorities for enabling custom HTTPS on Azure CDN : https://docs.microsoft.com/en-us/azure/cdn/cdn-troubleshoot-allowed-ca
This article only lists "Let's Encrypt Authority X3".  However, Let's Encrypt [has retired X3 and uses RSA (R3) now](https://letsencrypt.org/certificates/).

Coul

[2021-01-13 17:33] noah-birrer8451 opened #68858 "Support for Mac OS or Linux Machines"
Relevant tool: [Azure Policy Extension for VS Code](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/extension-for-vscode)

Topic: [On Demand Evaluation Scan](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/extension-for-vscode#on-demand-evaluation-scan)

Question: Are there any plans to add support for the Mac OS version of the Plugin to support On Demand evaluation

[2021-01-13 17:35] HarshitaSingh-MSFT commented on #68664
@dazinator , does the answer provided by Alexandra (from the PG) help you?

[2021-01-13 17:35] DCtheGeek commented on #68858
#assign:DCtheGeek

[2021-01-13 17:36] nagasandeepp opened #68859 "No information about down time during ASE Scale up/down"
[Enter feedback here]
Under "How Scaling Works section", There is no information related to Down time of the application during Scale UP/Down in ASE.
Please include Application down time/ availability related information during Scale up or down on ASE
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e754567e-9482-5693-5ef

[2021-01-13 17:36] DCtheGeek commented on #68858
#label:product-question

[2021-01-13 17:37] PRMerger15 commented on #68858
Are you trying to add a custom label? The syntax for that is `#label:"your label"`. Please note that the max length for a label is 200 characters.

[2021-01-13 17:37] mrajess commented on #68616
I don't believe it's going to be possible to target the parent of Microsoft.Storage/StorageAccounts when trying to deploy diagnostic settings for the individual services (blob, table, files, and queue). A DINE policy looks to see if an associated (or if you're using DINE to enforce compliance on the resource caught in the if block, then it inspects that resource) resource exists, if not, it then d

[2021-01-13 17:37] DCtheGeek commented on #68858
#label:"product-question"

[2021-01-13 17:38] DCtheGeek commented on #68858
@noah-birrer8451 Thanks for the question. I believe the answer is yes, but the right place to make the Feature Request and get information is through [UserVoice](https://feedback.azure.com/forums/915958-azure-governance).  This forum is for feedback (issues, gaps, etc.) in the Docs themselves.  As such, I recommend posting to UserVoice to ask.  I'm going to close this issue.  Thanks!

#please-clos

[2021-01-13 17:38] #68858 closed

[2021-01-13 17:43] ekalyvio opened #68861 "Various mistakes"
The following page contains incomplete or wrong information. These are:
1) It requires a Key-vault to exist with name _containertestvault_ that also has the _Azure Virtual Machines for deployment_ access policy enabled. Nowhere this is stated in the tutorial.
2) After creating the service fabric cluster on Azure, selecting it with `sfctl cluster select` and running `install.sh` it says to open the

[2021-01-13 17:45] MGoedtel commented on #68541
@TobiRoby - To expand one of my points further, with AzMon for containers, you can control most of the types of data collected from the cluster. If your cluster is on the list of supported configurations, I would recommend you consider and evaluate using that feature instead of this solution. I'm looping in @saaror from the PG to clarify or provide additional feedback based on your original questi

[2021-01-13 17:46] dazinator commented on #68664
Yes thank you!

[2021-01-13 17:51] memildin commented on #68834
Hi @AbelLykens, thanks for the feedback and for taking the time to help us improve the docs.

You're right that techniques would be a nice addition. We're exploring this area and when there are changes, you'll likely see them here and on the release notes page.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-01-13 17:52] #68834 closed

[2021-01-13 17:56] anthonychu commented on #67021
I think @mikegoatly was trying to use the output binding. I'm not sure if the binding supports setting sessionId in out-of-proc languages. The change here may be to call out that to set the sessionId (and partitionId in Event Hubs, etc), the guidance is to use the SDKs. @stefanushinardi

[2021-01-13 17:59] arbrod13 commented on #68815
Regarding setting up an Environment with Azure Virtual Machines, where you install a script using Powershell. When you have multiple pipelines that publish to the same Virtual Machines there is a small note that says:

That's not very helpful - it should be more specific with an example. Something like:

It's just not clear / obvious and this seems less important the way you have it documented. Th

[2021-01-13 17:59] stingster commented on #64736
@tamram thank you for your prompt answer!

Regarding the failover procedure, I think I didn't express my self in the most coherent and exhaustive way, sorry for that.

What we are trying to achieve is this: to provide read service for users in case of primary ABS fail. For this, we decided to use LRS + Object replication so that there is one back up ABS containing all data which will, in theory, b

[2021-01-13 17:59] vishnu4 commented on #68735
yes, i do get an error similar to what you have above.  Apparently it's fixed by the comment here: https://github.com/MicrosoftDocs/azure-docs/issues/68513 .  I'll close this issue as a duplicate, thanks!

[2021-01-13 17:59] #68735 closed

[2021-01-13 18:02] mikegoatly commented on #67021
Thanks @anthonychu - yeah, that was my scenario. I came to the that conclusion, but wasn't aware of why the limitation was there and felt the documentation could do with being a bit more explicit. (I ended up switching over to .NET Core as I'm more familiar with it and there are fewer surprises for me there :) - we were only using Python because it was being used as part of a project that relied o

[2021-01-13 18:13] NavtejSaini-MSFT commented on #68677
@emahagan11 We are going ahead and closing this for now. Please get back to us if any more questions.

[2021-01-13 18:13] #68677 closed

[2021-01-13 18:17] SnehaAgrawal-MSFT commented on #68859
@NagaSandeepZen3 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-13 18:18] MGoedtel commented on #68811
@kenkinkopf - Your point is well made and I agree, these system requirements details should be in the overview article. I'll create a work item and take care of it this week.  Thanks. #please-close

[2021-01-13 18:18] #68811 closed

[2021-01-13 18:27] kenieva commented on #68858
We are currently working on the fix for this issue! The change should be coming in the next update, ETA: end of Jan.

[2021-01-13 18:30] ejarvi commented on #50352
Just merged, change should propagate shortly.  Thank you!

[2021-01-13 18:31] MonikaReddy-MSFT commented on #68861
@ekalyvio -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-13 18:39] peterw31 opened #68864 "I cannot execute Deploy template in azure cli"
I cannot get the sample code of Deploy template with Azure CLI to run

running the azure cli commands in powershell or the command prompt , it does not know the command read
 in the azure cloud shell it cannot access the json files and messes up the path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479023c0-ce6b-aab

[2021-01-13 18:41] Plus3IT-Azure opened #68865 "Want notifications for user errors/failures"
This article seems to revolve around the general availability of the application and sending notifications in regards to it. I'd like to send notifications from appinsights in regards to errors/failures our users experience which don't solely involve availability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffeb598c

[2021-01-13 18:54] jeevansd commented on #67669
@wombling This is not a bug but it is in this way by design. When you are adding a new application from new design of Azure AD app gallery then you need to populate the URLs first. Once the URLs are populated then the certificate will be created and that will be set to Active. If you are trying to create a new certificate directly then you need to manually activate the certificate. So there are tw

[2021-01-13 18:57] rohithah commented on #65838
Couple of questions:
1. Looks like the error is being returned when trying to save the logic app - can you confirm?
2. if that's the case, this looks like a bug, can you share the name of the logic app and the region where you are trying to create this or a trackingId from the error?

[2021-01-13 19:06] spelluru commented on #29028
Fixed
#please-close

[2021-01-13 19:06] #29028 closed

[2021-01-13 19:06] KranthiPakala-MSFT commented on #68856
@YidiQin
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-13 19:10] sameer-kumar commented on #68728
I have re-tried a fresh configuration but still doesn't work. Here are my repro steps:

1. Create a regource group named rg-testappconfig in EastUS2. Create another resource group named rg-appConfig001-dev in EastUS2.
2. Create a virtual network named vNet1 in rg-testappconfig with address space as 10.1.0.0/16 having 2 subnets. First subnet named subnet1 with address range as 10.1.1.0/24. Second s

[2021-01-13 19:10] spelluru commented on #66784
Hi @j-hansen - PHP SDK does use SharedAccessKeyName and SharedAccessKey. Please see https://github.com/Azure/azure-sdk-for-php/blob/1e4eb9d083c73727561476ef3941c3b8b313cf04/src/Common/Internal/ServiceBusSettings.php#L239.

Are you receiving any error with the code from quickstart? Thanks.

[2021-01-13 19:13] spelluru commented on #66784
[code]

[2021-01-13 19:14] lmcdasm commented on #32886
Hello there.

any update on this - it seems that we shouldnt have to provision an VM so that we can get to the DISK and then export as an image.

[2021-01-13 19:14] DerekHerman-MSFT commented on #68850
@moazmirza Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-13 19:15] pyoungberg opened #68866 "Smart Quote Usage"
Code examples are using 'smart quotes' instead of straight quotes. Should be cleaned up.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9cb3-b52f334fb94d
* Version Independent ID: fe358aa5-5bb6-b8f0-8ab7-ef181dc8af42
* Content: [Manage authentication methods for Azure AD Multi-F

[2021-01-13 19:18] DerekHerman-MSFT commented on #68851
@moazmirza Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-13 19:19] GiftA-MSFT commented on #68840
@batamig we'll review your feedback and get back to you shortly. Thanks.

[2021-01-13 19:26] AjayKumar-MSFT commented on #66406
Just adding a note from [this ](https://docs.microsoft.com/azure/app-service/app-service-web-tutorial-connect-msi#grant-permissions-to-managed-identity) doc "AAD is not supported for on-prem SQL Server, and this includes MSIs" for additional info.

[2021-01-13 19:29] MSEvanhi commented on #68803
Agreed to the fix here. I can confirm the error described is thrown unless we remove ".dll". Can we please also get a short fix added for the C# reference doc as well @BhargaviAnnadevara-MSFT? https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/custom-providers/reference-custom-providers-csharp-endpoint.md

[2021-01-13 19:30] MonikaReddy-MSFT commented on #68864
@peterw31 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-13 19:31] mgblythe commented on #67673
@Jcardif - We'll be redirecting this article to https://support.microsoft.com/help/4339658/azure-region-access-request-process for the time being, and will look at adding it back if it makes sense to have two separate articles.

#please-close

[2021-01-13 19:31] #67673 closed

[2021-01-13 19:33] mgblythe commented on #40222
We'll be redirecting this article to https://support.microsoft.com/help/4339658/azure-region-access-request-process

#please-close

[2021-01-13 19:33] #40222 closed

[2021-01-13 19:33] mgblythe commented on #48058
We'll be redirecting this article to https://support.microsoft.com/help/4339658/azure-region-access-request-process

#please-close

[2021-01-13 19:33] #48058 closed

[2021-01-13 19:33] mgblythe commented on #25929
We'll be redirecting this article to https://support.microsoft.com/help/4339658/azure-region-access-request-process

#please-close

[2021-01-13 19:33] mimckitt commented on #67968
#reassign: @mimckitt

[2021-01-13 19:33] mgblythe commented on #51961
We'll be redirecting this article to https://support.microsoft.com/help/4339658/azure-region-access-request-process

#please-close

[2021-01-13 19:33] #51961 closed

[2021-01-13 19:34] jvalley19 commented on #14765
This issue was not fixed.... We all are still having issues with this solution.

[2021-01-13 19:34] mimckitt commented on #67968
@kilasuit what versions are you referring to?

[2021-01-13 19:39] SaurabhSharma-MSFT commented on #68719
@algattik The PR for the fix has been created and it will be merged once approved by the document author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-13 19:39] #68719 closed

[2021-01-13 19:46] NomadRex opened #68867 "[Typo] Why is a user is at risk? --? Why is a user at risk?"
I believe it is a typo.

Why is a user is at risk?

should be

Why is a user at risk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665863f8-00aa-155a-aa5d-9dc4254b60d4
* Version Independent ID: b898c3ed-651d-4fb0-814a-62a857082fd3
* Content: [FAQs for Identity Protection in Azure Active Directory](https://docs.micros

[2021-01-13 19:49] kfarlee commented on #64681
Another difference which we need to clarify is that DNN listeners only have an effect at connection time, so once the connection is established, it won't move during a failover, however new connections will go to the new primary.

[2021-01-13 19:56] SaiKishor-MSFT commented on #67930
@RonnieQuan I will proceed to close this thread now. If you have anymore questions, please feel free to re-open it and we can gladly continue to discuss further. Thank you!

[2021-01-13 19:56] #67930 closed

[2021-01-13 20:13] RonnieQuan commented on #64981
Any update on this issue?

[2021-01-13 20:17] prasadu-microsoft opened #68868 "CSS doc requires more clarity on resource naming and APIs"
The CSS document has an example for adding and using a secret but doesn't provide any guidance on secret naming restrictions. Can they be paths or do they have to be a single path component? Is there a maximum length to the resource name?

Further, is there a API library for managing secrets or are implementers expected to use REST calls directly? Is the cluster certificate the only one that can b

[2021-01-13 20:25] RonnieQuan commented on #67929
Understand it's deployed to one zone, when we run Get-AzFirewall, does it show which zone it's deployed to?

[2021-01-13 20:27] JamesTran-MSFT commented on #68854
@thommck
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-13 20:32] JamesTran-MSFT commented on #68866
@pyoungberg
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/104507037-09583680-559b-11eb-9786-4c4301f8a4c6.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your t

[2021-01-13 20:32] #68866 closed

[2021-01-13 20:36] SnehaGunda commented on #68665
I made a minor commit to the doc to mention the default indexing policy.

[2021-01-13 20:40] JamesTran-MSFT commented on #68867
@NomadRex
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-01-13 20:40] #68867 closed

[2021-01-13 20:43] tfitzmac commented on #68758
@henrybeen - thanks for this feedback. I will add that information to the docs.

[2021-01-13 20:44] git001 opened #68869 "How to activate settings in the web app when deployed as deployment-container-image-name"
I have deployed a "Container Image" on the Web App Service with the following command.

[code]

After the app was successfully deployment I need to change some Environment variables via the following commands.

[code]

Now I have updated and restarted the Web App but it looks like the Image is not redeployed or at least the Environment variables are not there.

[code]

I looked with log tail to th

[2021-01-13 20:45] jimmyca15 commented on #68728
The setup looks fine. In this repro can you verify the private dns is in fact linked to the VNET that the VM is in. Run one last nslookup in the VM and see if it resolves to the IP that is pointed to by the private DNS record. The connection to app configuration won't work unless the `nslookup` command shows that you are pointing to private IP address of the private endpoint.

[2021-01-13 20:52] adrianklein commented on #51639
This was the solution for me: https://azureossd.github.io/2020/04/30/run-production-build-on-app-service-linux/

Add the following start up command under general settings in the portal:

https://azureossd.github.io/2020/04/30/run-production-build-on-app-service-linux/

After this I restarted my site, and after 5 mins the vue page displayed. It DID take a few minutes for the change to take place, I

[2021-01-13 20:54] adrianklein commented on #51639
This was the solution for me: https://azureossd.github.io/2020/04/30/run-production-build-on-app-service-linux/

Add the following start up command under general settings in the portal:

https://azureossd.github.io/2020/04/30/run-production-build-on-app-service-linux/

After this I restarted my site, and after 5 mins the vue page displayed. It DID take a few minutes for the change to take place, I

[2021-01-13 20:54] JamesTran-MSFT commented on #68787
@Evi-P
Thank you for your question!

If your Cosmos DB can't move to a different tenant, but you migrated your subscription to this new tenant, your Cosmos DB and all other services in your current tenant will simply be disabled (not deleted). For example, that means your virtual machines are de-allocated, temporary IP addresses are freed, and storage is read-only.

This is because multiple subscr

[2021-01-13 21:02] rccnw opened #68870 "Can't see 'Platform Features' as advised on Function App"
In this section of the page: '**Function app inbound IP address'**
The following instructions are provided:

-Each function app has a single inbound IP address. To find that IP address:
-Sign in to the Azure portal.
-Navigate to the function app.
-**Select Platform features**.

I am unable to locate any item labeled 'Platform Features' on the Function App UI

[Enter feedback here]

---
#### Docume

[2021-01-13 21:11] johnvlittle opened #68871 "This page does not tell me why there are two almost identical products, and how to chose which to use,"
This page does not tell me why there are two almost identical products, and how to chose which to use,

I have read it twice, and apart form the long list of micro difference, which offer no obvious "winner", we cant see why microsoft have to competing products, what the use cases are for each, or How to chose.

This critical info is missing.

---
#### Document Details

⚠ *Do not edit this section

[2021-01-13 21:13] tfitzmac commented on #68758
The update will get published later today.
#please-close

[2021-01-13 21:13] #68758 closed

[2021-01-13 21:17] michelamarie opened #68872 "AzCopy Security"
It would be helpful if this document on AzCopy described the authentication and transport security mechanisms the utility uses. When deciding whether to use it or not, I need to know that AzCopy is secure enough for our use case.

One can presume that AzCopy uses the Azure API, which uses TLS to secure connections, but I could not find a clear confirmation of that in this document or elsewhere.

-

[2021-01-13 21:58] spelluru commented on #68714
Removed the paragraph after confirming with the product team. The updated article will go live in an hour or so.

#please-close

[2021-01-13 21:58] #68714 closed

[2021-01-13 22:00] JTInfinite opened #68873 "Function app outbound IP addresses - Incorrect / Unusable instructions"
Description for "Function App Outbound IP Addresses" does not reflect the user experience.

1. There is no "providers" link (there is a "Resource Providers"
2. You can't click a provider to get the JSON

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6e0cb7-2621-fa82-7c35-e20c923fb762
* Version Independent ID: 00efb5b

[2021-01-13 22:00] spelluru commented on #43468
@ahamad-MS - please review the latest post from Roman as soon as you can. Thank you.

[2021-01-13 22:04] adiun commented on #68656
@GitaraniSharma-MSFT Thanks for following up. Good catch on the LetsEncrypt certificates. However I initially used App Service Certificates (issued by GoDaddy) and that's when I started seeing the error. Yesterday, custom certificates with Azure CDN magically started working - for both MS Standard and Verizon Premium! I'm using an App Service Certificate. I didn't change anything so I requested ro

[2021-01-13 22:06] sameer-kumar commented on #68728
Another interesting fact finding,
I followed the same steps on my personal subscription and it works at my home network.
Looks like my work subscription and office network (which also uses zScalar) may be blocking some URLs?
However, private end points are configured and working with office network too but those for different services like Sql, WebApps etc. Looks like I need to get some URLs white

[2021-01-13 22:10] KranthiPakala-MSFT commented on #68763
@lesterw1
We have assigned the issue to the content author to further investigate this and update the document as appropriate. In the mean time could you please share the SR# for reference?

Thanks!

[2021-01-13 22:14] Hasil-Sharma opened #68874 "ADF Web Activity to Generate AAD Token Using Certificates"
Hey,

I want to write to a queue in storage from ADF and cannot generate AAD token using Client Credentials. Can you help me figure token generation using Client Certificate instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d5

[2021-01-13 22:18] wombling commented on #67669
Hi @jeevansd,

So it's by design that the exported metadata can include inactive certificates? That doesn't make sense.

It makes sense that a user could have inactive certs, and I agree, if they do everything in the right order then they wouldn't have any. But if they do, you're saying it is correct that the metadata should include that inactive certs?

If this is the case, then whilst I think th

[2021-01-13 22:19] wombling commented on #67669
Oops pressed wrong button!

[2021-01-13 22:28] GiftA-MSFT commented on #68842
@mjaow we'll review your feedback and get back to you shortly. Thanks.

[2021-01-13 22:31] GiftA-MSFT commented on #68844
@jazelenk we'll review your feedback and get back to you shortly. Thanks.

[2021-01-13 22:43] jeevansd commented on #67669
@wombling We are adding inactive certificates in the Application Metadata. This is majorly used by our customers. Consider a scenario where customer has already build the SSO trust and it is running properly but in few days the certificate is going to expire. Then they create a new certificate in Azure AD and provide the new metadata to the vendor. Vendor look at the new inactive certificate from

[2021-01-13 22:43] jeevansd commented on #67669
#please-close

[2021-01-13 22:43] #67669 closed

[2021-01-13 22:46] wombling commented on #67669
Hi,

Could you please reopen this issue so it can be used to track the update to the documentation that then informs customers that this is the case and to be aware of it?

Thanks,

Chris

[2021-01-13 22:58] KranthiPakala-MSFT commented on #68786
@@ZanetaSzymanska Following up to see if you have got a chance to see my previous comment? If so could you please confirm the details requested.

Thank you

[2021-01-13 23:01] KranthiPakala-MSFT commented on #68874
@Hasil-Sharma
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https

[2021-01-13 23:01] #68874 closed

[2021-01-13 23:32] DerekHerman-MSFT commented on #68872
@michelamarie Yes AzCopy connectivity is encrypted by default since it uses HTTPS. Authorization can be done with SAS token or [Azure AD](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-authorize-azure-active-directory?toc=/azure/storage/blobs/toc.json).
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document

[2021-01-13 23:44] BharathNimmala-MSFT commented on #68865
@Plus3IT-Azure Thank you for reaching out, we will review your query and get back to you at the earliest.

[2021-01-13 23:45] sandeeppujar commented on #67927
This is valid feedback, we are working with a broader Azure IoT group to provide better guidance on this.

[2021-01-13 23:46] michelamarie commented on #68872
Fantastic. Thanks for clarifying that so quickly!

Hopefully, this information is put into documentation for others as well.

[2021-01-13 23:49] BharathNimmala-MSFT commented on #68857
@alinuxguru70 Thanks a lot for sharing your feedback on this, will incorporate the feedback and update the document accordingly.

[2021-01-13 23:51] NavtejSaini-MSFT commented on #56534
@mblanco77 Can you please check if there is a documentation on the NW side which MySQL can point to?

[2021-01-13 23:58] kenwith commented on #50720
Article is being updated with: https://github.com/MicrosoftDocs/azure-docs-pr/pull/140818

Thank you for feedback and sorry for delay.

#please-close

[2021-01-13 23:58] #50720 closed

[2021-01-14 00:30] RyanHill-MSFT commented on #68869
Thanks for the feedback @git001! We are currently investigating and will update you shortly.

[2021-01-14 00:49] ChaitanyaNaykodi-MSFT commented on #68565
Hello @DanielMeixner, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-14 00:49] #68565 closed

[2021-01-14 00:58] hungapl commented on #68755
@RohitMungi-MSFT I tried the code above and I am getting this error:

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-17-09615e126efd> in <module>
      2
      3 batch_run = next(pipeline_run.get_children())
----> 4 batch_output = batch_run.get_output_data("scores")
      5 batc

[2021-01-14 01:03] markingmyname commented on #41732
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

Thank you.

@chez-charlie for awareness

#please-close

[2021-01-14 01:03] #41732 closed

[2021-01-14 01:08] ChaitanyaNaykodi-MSFT commented on #68870
Hello @rccnw, Thank you for reaching out. You can see the inbound IP address under **Properties** section directly. I will make a PR shortly to rectify this in the documentation.

[2021-01-14 01:11] ChaitanyaNaykodi-MSFT commented on #68873
Hello @JTInfinite,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-14 01:35] jasonpanggit opened #68880 "Wrong number of licenses"
An administrator creates an access review of Group D with 6 member users and 108 guest users. Makes it a self-review.

Shouldn't the number of licenses be 6 rather than '-'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8a3416-ca49-e148-89ec-aa004914eaa5
* Version Independent ID: 6e6831f4-40ed-4058-5a6f-56cd3900460a

[2021-01-14 01:54] emuench commented on #64857
Screen has been updated.

[2021-01-14 02:30] BharathNimmala-MSFT commented on #68852
@stokes776 Thank you for reaching out, I have assigned this issue to our document author to further review and clarify, also update the document if needed.

[2021-01-14 02:33] RonnieQuan opened #68881 "Luis Security Consideration"
Could you please give an overview of Luis security, including network security and IAM authentication?
or  point out where the network security and IAM authentication are documented for this service?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 902be7bb-e623-ff49-9d9d-e53f17161f06
* Version Ind

[2021-01-14 02:35] RonnieQuan opened #68882 "QnA Maker"
Could you please give overview on security for QnA Maker.
or where is the network security and IAM/Authentication documented?

Thank you so much!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb10c01-db1f-1c61-f5cd-857df2b7fbd8
* Version Independent ID: 3ef184f7-6288-caec-ea33-f3d5dadd8965
* Co

[2021-01-14 02:49] wanglijun378617 commented on #68761
Hi team, any update?

[2021-01-14 02:59] C-Kenny commented on #22624
Is it possible to change the frequency to be more aggressive than every 40 minutes?

[2021-01-14 03:07] chitturs opened #68883 "Give a better example showing CertificateIssuerThumbprints which is auto-rollover safe"
https://docs.microsoft.com/en-us/azure/service-fabric/cluster-security-certificate-management#simplifying-management---an-autorollover-example

shows how issuer TPs can be used to declare a certificate which won't break authentication when the certificate is renewed and certificate thumbprint changes. Suggest add an example that uses CertificateRemoteCommonName, FindBySubjectName and CertificateIs

[2021-01-14 03:11] NavtejSaini-MSFT commented on #65554
Thank you @mksuni . @bkgoksel We are going ahead and closing this request.

[2021-01-14 03:11] #65554 closed

[2021-01-14 03:17] SnehaAgrawal-MSFT commented on #68868
@prasadu-microsoft Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-14 03:17] SnehaAgrawal-MSFT commented on #68868
@erikadoyle Could you please check and add your comments on this doc update request as applicable

[2021-01-14 03:17] spelluru commented on #67617
Hi @toddwhitehead - I have created a DevOps work item to track this. I will work with you on updating the article to use App Service. Thanks.

#please-close

[2021-01-14 03:17] #67617 closed

[2021-01-14 03:19] SnehaAgrawal-MSFT commented on #68883
@chitturs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-14 03:20] SnehaAgrawal-MSFT commented on #68883
@suchiagicha  Could you please check and add your comments on this doc update request as applicable

[2021-01-14 03:22] SnehaAgrawal-MSFT commented on #68871
@johnvlittle Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-14 03:25] spelluru commented on #19737
Worked with @axisc to finalize the text and added it as important notes:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/duplicate-detection#how-it-works

#please-close

[2021-01-14 03:25] #19737 closed

[2021-01-14 03:25] SnehaAgrawal-MSFT commented on #68880
@jasonpanggit Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-14 03:29] SnehaAgrawal-MSFT commented on #68881
@RonnieQuan Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-14 03:31] SnehaAgrawal-MSFT commented on #68882
@RonnieQuan Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-14 03:32] mjaow commented on #68842
it seems I need to setup my kubernetes with cloud controller manager, to support setting load balancer ip automatically

[2021-01-14 03:49] nick863 commented on #52309
In this scenario the problem is caused by the target_lags set to auto.
During the lag computation we need to detect the next time granularity period. In case of minute, it will be an hour and in case of hour it will be a day. The supported frequencies will be:
1.	frequencies which are divisible of the day, but larger then minute for example 24 minutes
2.	frequencies which are divisible of the hour

[2021-01-14 04:11] djperlovsky commented on #68763
@lesterw1 can you clarify what you are looking to do? Are you looking to find all assets that have a specific classification? Are you trying to see which classifications exist in your data?

[2021-01-14 04:23] NavtejSaini-MSFT commented on #68871
@johnvlittle Please go through these documents([Doc1](https://docs.microsoft.com/en-us/azure/azure-sql/azure-sql-iaas-vs-paas-what-is-overview), [Doc2](https://docs.microsoft.com/en-us/azure/azure-sql/database/features-comparison)) to get better understanding of the platform and feature comparison of Azure SQL single instance and MI.
Your use case or current DB scenario will be the criteria which

[2021-01-14 04:25] NavtejSaini-MSFT commented on #68665
Thank you @ThomasWeiss  and @SnehaGunda  to help out here.
@kostelnyy We are going ahead and closing this issue and please get back to us if you have any further issue.

[2021-01-14 04:25] #68665 closed

[2021-01-14 04:33] NavtejSaini-MSFT commented on #68669
@michaelgobz Please check the configuration of your environment again as we have seen this issue with use of incorrect driver.

![image](https://user-images.githubusercontent.com/52257742/104545234-8fa26600-55f7-11eb-95f7-b1ef172ab75a.png)

@stevestein Please check the feedback and provide your input as well.

[2021-01-14 04:35] NavtejSaini-MSFT commented on #68676
@shkale-msft We are going ahead and closing this request. Please get back to us if any other issue.

[2021-01-14 04:35] #68676 closed

[2021-01-14 04:36] happy-jo opened #68885 "Confused: Sentiment analysis?"
I'm not sure where in this scenario that the sentiment analysis comes into play.?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9636d03-2832-6aaf-9b92-dc67e7ba16fb
* Version Independent ID: eb372908-c7f1-313b-198e-8f960cadda6c
* Content: [Real-time Twitter sentiment analysis with Azure Stream Analytics](https://docs

[2021-01-14 04:40] NavtejSaini-MSFT commented on #68697
@femi-msft @BharathNimmala-MSFT Can you please provide insight with this issue.

[2021-01-14 05:01] cconrado opened #68886 "AAD SSO on MacOS is also supported"
needs the docs for macos as thats supported as well and not only iOS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3aa0933-44ee-6c0f-caf2-defe2b90c3f9
* Version Independent ID: 7a281e52-2e8d-cae3-34b8-8ce5f6b78c03
* Content: [Microsoft Enterprise SSO plug-in for Apple devices - Microsoft identity platform | Azure](ht

[2021-01-14 05:30] m-sterspace opened #68887 "Routing Doesn't Work Properly"
If you actually deploy this on Azure Static Web Apps, then none of your sub pages urls will actually work.

You need to include a [routes.json](https://docs.microsoft.com/en-us/azure/static-web-apps/routes#example-route-file) file in the public folder that duplicates the information you're putting in exportPathMap so that Static Web Apps will serve up the right files. As it is your sub urls will j

[2021-01-14 05:32] sumitkute opened #68888 "Support for redirection with Private Link enabled Azure MySQL DB"
[Enter feedback here]
This option of redirection does not work with Private Link. It should be mentioned in the docs. We tried it even with support team.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4a9d32-64e1-9fe5-5d05-6dd8ce921703
* Version Independent ID: 63ac51f0-f4a7-7219-2797-e08523bdf18d
* Content: [Connect

[2021-01-14 05:38] zsybupt opened #68889 "Set MediaService mru not working"
[Enter feedback here]
CLI cannot get or set media service v3 mru, I always get a 403 error when run the cli command:
![image](https://user-images.githubusercontent.com/3711046/104549386-be5b2380-566d-11eb-9411-aaa7ee618894.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216bba2b-1c2b-840d-b334-0360bdcaf82c
* Versio

[2021-01-14 05:47] zsybupt commented on #68889
Seems that it must enable Classic api when you create a media service account, the cli use v2 rest api underlying, the document can be more clear about this

[2021-01-14 05:59] VijayRod commented on #67311
No driver pod in Windows node. We ran commands in https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes.

[2021-01-14 06:17] jlichwa commented on #67311
@VijayRod did you have successful message from installing it using helm:

[code]

https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#install-helm-and-the-secrets-store-csi-driver

[2021-01-14 06:18] Grace-MacJones-MSFT commented on #68889
@zsybupt  Thanks for bringing this to our attention. We will look into this and update the docs as necessary

[2021-01-14 06:27] PeteHaigh-MSFT opened #68890 "Sentinel traffic costs"
Howdy - it would be great to clarify what Azure/Sentinel traffic/ingestion costs might apply when connecting Defender for IoT to Sentinel.

Cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279ae3c9-a6cf-87fd-3f16-3092aa685f24
* Version Independent ID: 3a841314-02b2-005e-2069-d21430bc7186
* Content: [Configure Azu

[2021-01-14 06:28] mwucbs opened #68891 "prerequisite missing from guide ?"
Hi
We have tried to enable AAD sso on an internal WIA ( SCSM helpdesk website) but no matter what we do we getting failed login at the helpdesk website.

i Stongly believe something is missing in this guide.
How can a user with an approved AAD SAML token/claim authenticate into an on-premises Active directory based website?
The service account/ kerberos delegation account can only forward kerberos

[2021-01-14 06:45] chaseyangguang opened #68892 "If we can make the customer need to reboot the ASE if the customer DNS server changed to be more prominent, such as put into a Notes segment"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [Networking considerations - Azure App Service Environment](https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#cust

[2021-01-14 06:46] lzl124631x opened #68893 "how to create a alias record with a zone apex and a traffic manager profile which doesn't have public IP?"
https://docs.microsoft.com/en-us/azure/dns/tutorial-alias-tm

I was following this instruction and got an error:

![image](https://user-images.githubusercontent.com/5824517/104554258-cd4fc080-55f0-11eb-88a3-5d4f599fec7f.png)

My traffic manager points to a cloud service which has production and staging slots (I guess that's the reason why it doesn't have a static public IP)

![image](https://user-

[2021-01-14 06:51] dominicbetts commented on #67927
Hi @romankiss - I'm going to close this issue for now. When I hear from @sandeeppujar about any updates to the guidance I'll update the docs accordingly. Thanks for your input.

[2021-01-14 06:51] dominicbetts commented on #67927
#please-close

[2021-01-14 06:51] #67927 closed

[2021-01-14 07:09] MayankBargali-MSFT commented on #68608
@daneel3001 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-01-14 07:09] #68608 closed

[2021-01-14 07:13] romankiss commented on #67927
Hi @dominicbetts  thanks for your help to clarify this issue.

[2021-01-14 07:28] kobulloc-MSFT commented on #68580
@HamishBrowne The correct screenshots would be as shown below and the documentation will be updated shortly.

![image](https://user-images.githubusercontent.com/37556655/104557820-b8762b80-55f6-11eb-8c24-58988f023a3c.png)

![image](https://user-images.githubusercontent.com/37556655/104557931-e196bc00-55f6-11eb-9a94-4b9197c54912.png)

Thank you again for bringing this to our attention and for helpi

[2021-01-14 07:28] #68580 closed

[2021-01-14 07:33] Grace-MacJones-MSFT commented on #68887
Hi @m-sterspace, thanks for bringing this to our attention. To be precise, what part of the tutorial are you referring to? Configure dynamic routes?

[2021-01-14 07:34] BryanTrach-MSFT commented on #68892
@chaseyangguang Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-14 07:36] #68803 closed

[2021-01-14 07:37] BhargaviAnnadevara-MSFT commented on #68803
@NickDrouin Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-01-14 07:55] savjani commented on #68888
Thanks @sumitkute for reporting this. We have added this limitation to the document. It will be merged and live in a day or so.

[2021-01-14 08:23] linda33wj commented on #53278
The issue has been addressed in above PR. Closing..
#please-close

[2021-01-14 08:23] #53278 closed

[2021-01-14 08:48] wlitke-dn commented on #67597
@mike-urnun-msft I recently returned from vacation, so I had only the chance to write right now.
Thanks for your reply! If I use the suggested resource type "Microsoft.ServiceBus/namespaces/topics/providers/roleAssignments" I need to adjust/extend the name as well. According to the ARM rules the amount of name segments (separated with "/") must match the amount of type segments minus one (e. g. if

[2021-01-14 09:06] olaj commented on #63098
Can't this just be fixed? September was like 4 month ago. I just wasted one hour now with deployments and stuff just to see that the useragent should be HealthCheck/1.0 and not ReadyForRequest/1.0.

[2021-01-14 09:18] dodjango commented on #68761
Thank you for investigating this!

[2021-01-14 09:19] BhargaviAnnadevara-MSFT commented on #68818
@Ray5254 Could you help us with the URL of the MS Doc that you were following, if any?

[2021-01-14 09:20] BhargaviAnnadevara-MSFT commented on #68885
@happy-jo Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-14 09:23] shawnxzq commented on #67213
@prasenjitcloudgurua Have you ever installed azure-cli in your machine? If so, this is probably caused by the version conflicts of some common libraries, you can work around the issue by following operations:
pip uninstall msal
pip uninstall msal-extensions
pip uninstall azure-identity
pip install azure-identity

[2021-01-14 09:55] #68822 closed

[2021-01-14 09:56] BhargaviAnnadevara-MSFT commented on #68822
@omerzubair Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-01-14 10:00] mbell1083 commented on #68822
-

[2021-01-14 10:06] mbell1083 opened #68897 "Heaven and hell"

[2021-01-14 10:11] wlitke-dn commented on #67597
With the help of the Microsoft Support I could find a solution. Based on the MS documentation (https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#resource-scope) I've adapted the ARM template and was able to assign a role to a Service Bus Queue (see below example - don't forget to replace the <...> placeholders). Case done :) Thx everyone for the support!

*

[2021-01-14 10:13] mbell1083 commented on #68850
az account show

[2021-01-14 10:42] lanetgithub opened #68899 "step missing"
Before you can register data sources we have to go to the purview studio, this is not explained.  i had to grant user access first to see this option too.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2039cb-fc85-a189-1938-57d102a09b2f
* Version Independent ID: 4bc83b4b-afcb-8521-a882-628ce151b

[2021-01-14 10:47] kostelnyy commented on #68665
Thank you all for the feedback ❤️
@NavtejSaini-MSFT I'm happy to have it closed

[2021-01-14 10:57] mbell1083 opened #68900 "margaretb1084@gmail.com"

[2021-01-14 11:09] k3rst1n opened #68901 "Weekly backup specification - not clear which backup is used as weekly backup point"
Hi there,

Regarding the weekly backup, the following is specified in the documentation:

To enable LTR, you can define a policy using a combination of four parameters: weekly backup retention (W), monthly backup retention (M), yearly backup retention (Y), and week of year (WeekOfYear). _If you specify W, one backup every week will be copied to the long-term storage._

Could you please specify wha

[2021-01-14 11:16] PCNZ opened #68902 "Explain why LRS accounts continue to be billed for geo replication and remote storage after switching from RA-GRS or GRS"
The reason for this statement needs to be explained in the article. Logic would be that information would stop being replicated and stored in the remote site immediately after the change to LRS, so there would not be costs for an additional 30 days.

Also another statement in the same article somewhat contradicts the above statement. Costs for something you are no longer using (i.e. moving from RA

[2021-01-14 11:20] z-bckr commented on #33638
Any update on this?

[2021-01-14 11:35] ThomasBalder commented on #5070
The Excelsheet is outdated again. Is there a way to create a new one, or perhaps export security configurations recommendations from the Azure security center?

[2021-01-14 11:36] SnehaAgrawal-MSFT commented on #68886
@cconrado Thank you for the feedback! We are investigating this and will get back to you shortly.

[2021-01-14 11:40] SnehaAgrawal-MSFT commented on #68891
@mwucbs Thank you for the feedback! We are investigating this and will get back to you shortly.

[2021-01-14 11:48] happy-jo commented on #68885
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-twitter-sentiment-analysis-trends

[2021-01-14 11:50] SnehaAgrawal-MSFT commented on #68890
@PeteHaigh-MSFT Thank you for the feedback! We are investigating this and will get back to you shortly.

[2021-01-14 11:51] SnehaAgrawal-MSFT commented on #68893
@lzl124631x Thank you for the feedback! We are investigating this and will get back to you shortly.

[2021-01-14 11:51] evpil commented on #68787
Thank you @JamesTran-MSFT!

[2021-01-14 11:53] SnehaAgrawal-MSFT commented on #68897
@mbell1083 Please let us know if you have any query or feedback regarding specific document.

[2021-01-14 11:57] thecpshah opened #68903 "Changes required for this tutorial."
This tutorial has few errors:

Using the default library `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12`, I am able to send tweets to Event Hub but I can't analyse it because the Databricks runtime is `7.5 ML (includes Apache Spark 3.0.1, Scala 2.12)`.

So I changed the library to `com.microsoft.azure:azure-eventhubs-spark_2.12:2.3.17`, which works well to analyse tweets but the earlier no

[2021-01-14 11:57] SnehaAgrawal-MSFT commented on #68899
@lanetgithub Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-14 11:58] SnehaAgrawal-MSFT commented on #68899
@viseshag Could you please check and add your comments on this doc update request as applicable

[2021-01-14 12:08] kilasuit commented on #67968
@mimckitt this table is referencing the older RS2/RS3 versions of Windows 10 - this should be updated to more recent versions as these are no longer deployable in Azure

![image](https://user-images.githubusercontent.com/6355225/104589045-35d68600-5661-11eb-9f01-4d48f120c6e5.png)

[2021-01-14 12:46] adriangalvarez opened #68904 "Application Insights default loglevel set has to be uppercase in host.json"
In the Azure Functions host.json documentation page, Application Insights logging options are said to be specified inside the "logging" section with lowercase, just like this:

[code]

What is more, in Visual Studio, the intellisense also suggests "applicationInsights" as a section inside "logging".

This is partially incorrect.  This logging setting is ignored, and it has to be set either in uppe

[2021-01-14 12:58] sebader commented on #61497
same issue on my side. There is also a thread on SO on this https://stackoverflow.com/questions/63707676/how-to-deploy-front-door-with-rules-engine-within-single-arm-template

[2021-01-14 13:05] cephalin commented on #68498
@jhauray both 21 and 990 are supported, as per my test. I added 990 to the doc. Thank you. #please-close

[2021-01-14 13:05] #68498 closed

[2021-01-14 13:11] sagu94271 opened #68905 "Invoke Rest API using Python to extract scan results from Azure Purview and store it into ADLS Gen2"
How to Invoke Rest API using Python to extract scan results from Azure Purview and store it into ADLS Gen2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c30758f-e4a0-9673-b531-5447c0cfee0e
* Version Independent ID: 935b5097-6ca8-4a3d-5fca-4b4ac4c27a41
* Content: [Tutorial: Use the REST APIs - Azure Purview](https://

[2021-01-14 13:11] Raoul2504 opened #68906 "Registry entry should be noted."
Read through this entire document multiple times and couldn't understand why our servers were updating outside of the scheduled deployment window.

Finally found the fix here:
https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-management#updates-nodeployment

I think this should be referenced in the "Schedule an update deployment" section of the document as we had no idea to add

[2021-01-14 13:12] RonnieQuan commented on #68882
@SnehaAgrawal-MSFT  This question is critical, could you share your insight ASAP?

[2021-01-14 13:12] RonnieQuan commented on #68881
@SnehaAgrawal-MSFT  This question is critical, could you share your insight ASAP?

[2021-01-14 13:14] aliounegdiop commented on #53201
is there any solution for this issue ?Thanks

[2021-01-14 13:19] WhiteTomX opened #68907 "Scope of Automation account wrong"
Hey,

we stumbled across the following error while creating an new automation account:

[code]
so apperently the scope `resourcegroup`from the docs is wrong and is at least subscription.

Best regards"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9

[2021-01-14 13:31] kjwilso commented on #61791
Is the doc update still in process? Going over the document for deployment and Chrome in private browsing does not seem to work where it works fine on IE.

[2021-01-14 13:38] BhargaviAnnadevara-MSFT commented on #68907
@WhiteTomX Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-01-14 13:40] BhargaviAnnadevara-MSFT commented on #68900
@mbell1083 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-14 13:52] nerajput1607 commented on #68882
Please check: https://azure.microsoft.com/en-us/support/legal/cognitive-services-compliance-and-privacy/

[2021-01-14 14:02] SwathiDhanwada-MSFT commented on #68906
@Raoul2504 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-14 14:26] linda33wj commented on #57158
The Xero connector supports OAuth 2.0 now. Sorry for missing to update this thread earlier.
#please-close

[2021-01-14 14:26] #57158 closed

[2021-01-14 14:35] milind8451 commented on #36607
You can disable Weekly Digest on this location in Azure portal -

Azure AD - > Security - > Identity Protection -> Weekly Digest

[2021-01-14 15:04] linda33wj commented on #67059
#assign lrtoyou1223

[2021-01-14 15:09] SGGIRBS opened #68911 "Duplicate FAQ"
The question..

Is duplicated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd443b5-c0b0-0506-09ea-e8776b924819
* Version Independent ID: 466a89e7-0271-35df-1407-653484659643
* Content: [FAQ - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-faq)
* Content Source: [articles/s

[2021-01-14 15:09] SGGIRBS opened #68912 "Duplicate FAQ"
The question..

Is duplicated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd443b5-c0b0-0506-09ea-e8776b924819
* Version Independent ID: 466a89e7-0271-35df-1407-653484659643
* Content: [FAQ - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-faq)
* Content Source: [articles/s

[2021-01-14 15:13] linda33wj commented on #65528
In general, this error occurs when there is mismatch between the bit pattern (32-bi vs, 64-bit). For ADF, 64-bit ODBC driver is required.
#please-close

[2021-01-14 15:13] #65528 closed

[2021-01-14 15:20] shashishailaj commented on #68679
@rdronio We are still working with Netsuite on this and do not have the alternate way for now. Once a conclusion is reached , we will be publishing more details on this issue. Please consider this request on hold for now. I have engaged the author on this and they will update it once we have results from netsuite engagement.

[2021-01-14 15:20] linda33wj commented on #65202
Thanks for sharing the example in details. Unfortunately the given pagination pattern is not supported now. If the value of "next" in the response is just "2" instead of "?page=2", then it's supported.
#please-close

[2021-01-14 15:20] #65202 closed

[2021-01-14 15:23] spelluru commented on #32003
Fixed the image now. Apologize for the delay. I have been going through the old issues and resolving them. Thanks.

#please-close

[2021-01-14 15:23] #32003 closed

[2021-01-14 15:24] azeltov opened #68913 "No matching distribution found for torch==1.5.0+cpu"
when u run the step to do : pip install --no-cache-dir -r requirements.txt

you get this error
[code]

[2021-01-14 15:26] linda33wj commented on #65153
Thanks for sharing the requirement and voting for the idea. At the moment we don't yet have plan to support Marketo instance integrated with external CRM. Will keep monitoring the need.
#please-close

[2021-01-14 15:26] #65153 closed

[2021-01-14 15:29] Lahiru89 opened #68914 "Hyper-V Server support"
Does Hyper-V server 2019 or 2016 supported for ASR?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [Support for disaster recovery of Hyper-V VMs to Azure with Azure Site Recovery - Azure Site Recovery](https:/

[2021-01-14 15:30] jenlg commented on #36607
All users on the recipient list are disabled, and Send weekly digest emails is set to no.  Yet emails send.

[2021-01-14 15:36] linda33wj commented on #63464
We added additional notes in the doc to clarify the current refreshToken limitation. And we are tracking internally on eliminating such friction in the future.
#please-close

[2021-01-14 15:36] #63464 closed

[2021-01-14 15:36] shashishailaj commented on #68598
@moehoward We have update the document and the changes should be live in the next 48 hours.

[2021-01-14 15:43] linda33wj commented on #58731
Thanks for pointing out the doc issue! It was fixed a while ago (sorry for not updating the thread in time).
#please-close

[2021-01-14 15:43] #58731 closed

[2021-01-14 15:45] SaurabhSharma-MSFT commented on #68911
@SGGIRBS Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-14 15:47] SaurabhSharma-MSFT commented on #68912
@SGGIRBS  Duplicate of [68911](https://github.com/MicrosoftDocs/azure-docs/issues/68911) We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-01-14 15:47] #68912 closed

[2021-01-14 15:51] linda33wj commented on #40669
Thanks for bringing up the use case. ADF copy activity doesn't support "DELETE/CLEAR" Cosmos DB destination before loading the new data; only insert and upsert operations are supported. Seems it would be easier to simply drop the DB and re-create.
#please-close

[2021-01-14 15:51] #40669 closed

[2021-01-14 15:56] linda33wj commented on #37343
Thanks for sharing the feedback. We upgraded the Xero connector several months back and it should support Journals data. If you hit any issue using the connector, please file support ticket so we can look into details.
#please-close

[2021-01-14 15:56] #37343 closed

[2021-01-14 15:59] shashishailaj commented on #68675
@mikepetridisz If you check out the main article on Microsoft Docs main site, https://docs.microsoft.com/en-us/azure/security-center/continuous-export?tabs=rest-api , you would be able to get to the correct link and it does work without any 404 error. As ffor github , the data for API documentation is fetched from a different location hence if you try to browse the documentation through Github , y

[2021-01-14 16:03] shortpatti commented on #68826
#assign @shortpatti

[2021-01-14 16:05] shortpatti commented on #68826
#unassign @TravisCragg-MSFT

[2021-01-14 16:05] GiftA-MSFT commented on #68561
Will proceed to close this thread since issue is being reviewed with the product team.

[2021-01-14 16:05] #68561 closed

[2021-01-14 16:10] shortpatti commented on #68826
Thank you @yuriwoof, I'll work with engineering to validate the information and then get the content updated.

[2021-01-14 16:11] linda33wj commented on #39227
Thanks for sharing your feedback, trying it out and reporting your observation!
The doc was corrected while missed to update this thread - the data is indeed sent to the stored proc per batch.
There is no transaction guarantee in copy activity, no roll back upon failure. You are right on considering to handle partial data properly. The pre-copy script in copy activity sink can kinda serve this nee

[2021-01-14 16:11] #39227 closed

[2021-01-14 16:14] #68598 closed

[2021-01-14 16:22] linda33wj commented on #33677
Thanks for sharing your scenario, trials and feedback! The schema and data type mapping features have been evolved during the past months/year to standardize the behavior, and the doc is refreshed. HTH.
#please-close

[2021-01-14 16:22] #33677 closed

[2021-01-14 16:24] w0ut0 opened #68917 "Is there a reason not to use NAT gateway to have a fixed outbound IP for the Container Instances?"
While the proposed solution using an Azure Firewall will work, just setting up the Firewall for this purposes is a bit overkill (and gets expensive).

We experimented by deploying a NAT gateway with a fixed IP address. We made sure to enable VNET integration on our ACI (Linux containers) and we attached the NAT gateway to the ACI subnet.

This seems to work fine, if I ping an external service from

[2021-01-14 16:24] larryclaman opened #68918 "Please clarify: 1) Is this service GA? 2) Are there regional limitations?"
Could you clarify this page as there's some confusing/possibly contradictory information.

On one part of the page it says "All Cloud Shell regions apart from Central India are currently supported."
But later it also says "While in public preview, the resource group and virtual network must be located in either WestCentralUS or WestUS."

Could you clarify if the regional limitation has been remove

[2021-01-14 16:29] #68675 closed

[2021-01-14 16:32] m-sterspace commented on #68887
It's not just dynamic routes that this causes problems with, but any routes other than the homepage.

In general with the Azure Static Web App service, after deployment, only the homepage url will work.

i.e. <myApp>.azurestaticapps.net/ will work correctly, however, <myApp>.azurestaticapps.net/myOtherPage will return an Azure 404 page.

This behaviour is documented on the "routes.json" page [here

[2021-01-14 16:37] commakoerschgen opened #68919 "Broken link"
The last link "Migrate Azure AD Graph apps to Microsoft Graph" in the first paragraph of https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-graph-api.md is broken. It should refer to this page: https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/concepts/migrate-azure-ad-graph-property-differences.md

---
#### Document Details

[2021-01-14 16:38] commakoerschgen opened #68920 "Broken link"
The last link "Migrate Azure AD Graph apps to Microsoft Graph" in the first paragraph of https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-graph-api.md is broken. It should refer to this page: https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/concepts/migrate-azure-ad-graph-property-differences.md

---
#### Document Details

[2021-01-14 16:38] commakoerschgen opened #68921 "Broken link"
The last link "Migrate Azure AD Graph apps to Microsoft Graph" in the first paragraph of https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-graph-api.md is broken. It should refer to this page: https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/concepts/migrate-azure-ad-graph-property-differences.md

---
#### Document Details

[2021-01-14 16:38] bledMS82 opened #68922 "Missing error - 2147156093"
Error code -2147156093 is missing from the page , I was referred here by this error and it is not listed please update .

![image](https://user-images.githubusercontent.com/64666203/104620442-9f9c6300-5654-11eb-8655-f8e00aca276b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d8-d6d9-990bf1cfe34d
*

[2021-01-14 16:42] shashishailaj commented on #68118
@hjchin This document is just for the helping the user get started on how to register an app using azure portal.  For the certificates ther eis a complete section on how to use them as well.

[2021-01-14 17:09] m-sterspace commented on #68887
The issue is actually slightly more subtle than I initially realized, though I do still think the tutorial should be updated to include the "routes.json" file.

I've built and deployed the demo, and the pages and their sub urls will work and load without a routes.json.

However, as it is, I believe that what's happening is that without that routes.json file, it's still always serving up index.html

[2021-01-14 17:14] NavtejSaini-MSFT commented on #68749
@ShadowPic Please share which part you are getting error for and share the error as well to take this forward. Any elaboration will help here.

[2021-01-14 17:16] NavtejSaini-MSFT commented on #68901
@k3rst1n We are checking this and will get back to you.

[2021-01-14 17:19] mimckitt commented on #67968
I made some updates to the page:

![image](https://user-images.githubusercontent.com/32313503/104625342-8641e980-5649-11eb-9e0e-841b0438df7e.png)

Changes will be live later this afternoon :)

#please-close

[2021-01-14 17:19] #67968 closed

[2021-01-14 17:20] ibarrien commented on #68678
Hello. Wondering if a sql db/msdb solution may work without necessitating Azure? Any concrete examples would be welcome. The following may work:
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/97d7623b-8e02-4fbe-912b-4acc2bef7cbe/send-email-when-row-count-1?forum=transactsql

[2021-01-14 17:22] aramase commented on #67311
@VijayRod The driver and provider are enabled by default only for Linux nodes. For windows nodes, there are helm configuration values that you can use to install the driver and provider.

[code]

List of all available helm configuration values are here: https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#configuration

[2021-01-14 17:34] MonikaReddy-MSFT commented on #68596
@magnus-longva-bouvet - I have reached out to product team and waiting on theri response. I will keep you posted as soon as I hear back from them.

[2021-01-14 17:43] MarileeTurscak-MSFT commented on #68919
@commakoerschgen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-14 17:44] MarileeTurscak-MSFT commented on #68920
@commakoerschgen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-14 17:45] MarileeTurscak-MSFT commented on #68921
@commakoerschgen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-14 17:45] MarileeTurscak-MSFT commented on #68921
Closing this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/68919

[2021-01-14 17:46] #68921 closed

[2021-01-14 17:46] cynthn commented on #63294
It looks like the author has gotten the feedback and is incorporating it. I'll close this issue now.

#please-close

[2021-01-14 17:46] #63294 closed

[2021-01-14 17:46] MonikaReddy-MSFT commented on #68861
@ekalyvio -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-14 17:46] #68861 closed

[2021-01-14 17:46] MarileeTurscak-MSFT commented on #68920
Closing this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/68919

[2021-01-14 17:46] #68920 closed

[2021-01-14 17:48] MonikaReddy-MSFT commented on #67755
@boris-tarasov-maersk -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-01-14 17:48] cynthn commented on #68769
@roygara FYI

[2021-01-14 17:48] himanshusinha-msft commented on #68903
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-14 17:50] cynthn commented on #59242
@ayshakeen Did this ever get resolved?

[2021-01-14 17:52] cynthn commented on #61944
@brbell Did this ever get resolved?

[2021-01-14 18:00] KranthiPakala-MSFT commented on #68786
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-01-14 18:00] #68786 closed

[2021-01-14 18:01] ChaitanyaNaykodi-MSFT commented on #68904
Hello @adriangalvarez,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-14 18:02] m-sterspace opened #68925 "Information On How To Use An API"
At present, this tutorial explains how to use next.js to export a static build of your frontend application, however, it doesn't explain how to integrate and use the Azure Functions API part of the static web app service, which is not entirely straightforward.

Assuming that you intend on using both the functions api, and the next js frontend, there's a bit of more work you have to do:

1. First,

[2021-01-14 18:03] m-sterspace opened #68926 "Doesn't Explain How To Work With Backend"
At present, this tutorial explains how to use next.js to export a static build of your frontend application, however, it doesn't explain how to integrate and use the Azure Functions API part of the static web app service, which is not entirely straightforward.

Assuming that you intend on using both the functions api, and the next js frontend, there's a bit of more work you have to do:

1. First,

[2021-01-14 18:04] #68926 closed

[2021-01-14 18:05] m-sterspace commented on #68926
Sorry, it threw an error the first time I submitted this issue, but it looks like it actually went through twice so I'm closing the duplicate.

[2021-01-14 18:06] cynthn commented on #67978
#please-close

[2021-01-14 18:06] #67978 closed

[2021-01-14 18:09] cynthn commented on #67979
@aschlei Thanks for the feedback! We are working on better ways to present the different information about each VM size. I've added your feedback to the rest of the feedback we have gathered. Hopefully we will be able to make some global changes in the near future.

I'm going to close this issue for now. Thanks again!

#please-close

[2021-01-14 18:09] #67979 closed

[2021-01-14 18:09] cynthn commented on #67996
Looks like this was resolved, so I'm going to close it now.

#please-close

[2021-01-14 18:09] #67996 closed

[2021-01-14 18:14] RonnieQuan opened #68927 "Keyvault Data Plane RBAC Permission"
Hi,

When the feature mentioned in https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide#secret-scope-role-assignment will be GA?

Thanks,
Ronnie

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b9a84f-6765-67dc-bb7b-04303e070c03
* Version Independent ID: 32fc20a0-4321-c74a-34aa-909

[2021-01-14 18:17] commakoerschgen commented on #68919
Thanks, and sorry for the two duplicates. I experienced some glitches, didn't mean to spam.

[2021-01-14 18:18] m-sterspace commented on #68925
I took the sample repo and updated package.json with the dev dependencies you need, as well as the correct `dev` script, and added the custom server.js with a proxy to localhost:7071

[2021-01-14 18:24] MarileeTurscak-MSFT commented on #68927
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-14 18:26] peterwj opened #68928 "Inaccurate docs for accessing PostgreSQL maintenance settings"
The linked docs include this text:

As you can see in the screenshot below, the Settings header does not include an entry titled "Maintenance".  I cannot find maintenance settings anywhere in the azure web UI.

<img width="266" alt="Screen Shot 2021-01-14 at 10 24 42 AM" src="https://user-images.githubusercontent.com/918264/104632578-c194e600-5652-11eb-8818-2771d066ec72.png">

---
#### Document De

[2021-01-14 18:26] brbell commented on #67996
Thank you!

From: Cynthia Nottingham <notifications@github.com>
Sent: Thursday, January 14, 2021 10:10 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brenda Bell <brbell@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Es_v4, Eds_v4 series are missing in supported vm sizes (#67996)

Looks like this was resolved, so I'm going to close

[2021-01-14 18:26] himanshusinha-msft commented on #68905
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-14 18:30] tamram commented on #68647
@RajHiray - We've added some diagrams for GRS/GZRS that show how many copies are maintained, in addition to providing this data in table per your pull request.

[2021-01-14 18:32] BharathNimmala-MSFT commented on #68914
@Lahiru89 Thank you for your query, we will review it and get back to you at the earliest.

[2021-01-14 18:34] JamesTran-MSFT commented on #68922
@bledMS82
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-14 18:37] SaiKishor-MSFT commented on #68430
@mattruma I will be closing this issue for now as you are working with the team internally. Please re-open this thread if needed anytime. Thank you!

[2021-01-14 18:37] #68430 closed

[2021-01-14 18:42] RajHiray commented on #68647
@tamram Thanks for making content more clear and informative.

This is really helpful for azure leaning like me.

[2021-01-14 18:50] cynthn commented on #59242
It looks like the response from engineering is: "The reason you may see more than the max bank credits is because that is including the initial credits + the max bank credits."

I'll close out this issue now. If you still have questions, you can reopen this issue, or create a new one. Thank you!

#please-close

[2021-01-14 18:50] #59242 closed

[2021-01-14 18:51] spelluru commented on #62867
The Firewall feature is GA. The UI is being updated now.

[2021-01-14 19:05] GiftA-MSFT commented on #68913
@azeltov can you please share the document you're providing feedback on? Thanks.

[2021-01-14 19:09] GiftA-MSFT commented on #68918
@larryclaman we'll review your feedback and get back to you shortly. Thanks.

[2021-01-14 19:10] spelluru commented on #49942
As @banisadr mentioned, this request has been added to the backlog.

#please-close

[2021-01-14 19:10] #49942 closed

[2021-01-14 19:14] spelluru commented on #62867
Final updates to the articles should go live by the end of the day.

#please-close

[2021-01-14 19:14] #62867 closed

[2021-01-14 19:14] AjayKumar-MSFT commented on #40968
JFolberth, Apologies for the delay in responding here, I'd followed with the author on the PR and also internally now. @mattchenderson, requesting your review and help.

[2021-01-14 19:15] GiftA-MSFT commented on #68902
@PCNZ we'll review your feedback and get back to you shortly. Thanks.

[2021-01-14 19:21] dlepow commented on #68226
@aelij - Thanks for the suggestion, you have a good point and suggestion. I will incorporate that in the near future.
#in-progress

[2021-01-14 19:21] jayallenmsft opened #68930 "Need clarification of context behavior in a loop"
I feel this document does not adequately explain the role of the queue context. This can lead to some aberrant side effects.

E.g., say I have two messages in a queue. If I say this:

[code]

The issue with this code is that the context *caches messages*. So, if I delete message 1, and then attempt to get another message using the same context, I will at some point in this loop see message 1 again

[2021-01-14 19:21] jayallenmsft opened #68931 "Need clarification on behavior of the context in a loop"
I feel this document does not adequately explain the role of the queue context. This can lead to some aberrant side effects.

E.g., say I have two messages in a queue. If I say this:

[code]

The issue with this code is that the context *caches messages*. So, if I delete message 1, and then attempt to get another message using the same context, I will at some point in this loop see message 1 again

[2021-01-14 19:23] ksaye opened #68932 "API version updated beyond 1.0"
[Enter feedback here]

The API version have been updated beyond 1.0, so now if you send

[code]

you will get the error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d8d9e5-73a9-b668-e346-39af5237d40a
* Version Independent ID: 6c622d44-b1fe-6d84-5c36-9b457bf6f06c
* Content: [Deploy Live Video Analytics on a

[2021-01-14 19:35] #68776 closed

[2021-01-14 19:45] axisc commented on #27039
@spelluru, regarding the doc change -

Can you add a note mentioning that AMQP is the default and preferred/recommended. The default option must not be overriden.

[2021-01-14 19:47] spelluru commented on #43421
The Advanced Filtering section has been updated recently.
https://docs.microsoft.com/en-us/azure/event-grid/event-filtering#advanced-filtering

[2021-01-14 19:50] RyanHill-MSFT commented on #68869
@git001 just to confirm, you have

[code]
defined in your dockerfile? With regards to your log file, did you check `https://<app-name>.scm.azurewebsites.net/api/logs/docker` to see if any log files were generated?

[2021-01-14 19:50] KimBon opened #68935 "Deprecated library: Microsoft.Azure.Services.AppAuthentication ?"
When navigating to the reference page of Microsoft.Azure.Services.AppAuthentication, it is marked as deprecated there. Replaced by the newer Azure.Identity library. If so, also the code displayed here to get tokens for .NET is obsolete and should be updated?

Kr

Kim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3

[2021-01-14 20:06] DerekHerman-MSFT commented on #68930
closing in favor of https://github.com/MicrosoftDocs/azure-docs/issues/68931

[2021-01-14 20:06] #68930 closed

[2021-01-14 20:06] maertendMSFT commented on #68918
@larryclaman, thanks for pointing this out.  This functionality is GA and available everywhere (apart from Central India).  I will make sure the docs are updated

[2021-01-14 20:06] DerekHerman-MSFT commented on #68931
@jayallenmsft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-14 20:17] dreck410 opened #68936 "What are options for Frequency?"
I have a modern commerce bill and my frequency for Reservations is "UsageBased" I am curious what other options there are for frequency. I'm assuming UsageBased corresponds to a monthly reservation. What would the value be for an Upfront Reservation?

--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302575cd-86c8-5ddb

[2021-01-14 20:20] adriennn commented on #41350
any news on this?

[2021-01-14 20:20] Grace-MacJones-MSFT commented on #68932
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-14 20:23] sourabharsh commented on #58642
Why have we closed this thread?
It's not been answered yet!

[2021-01-14 20:25] artisticcheese opened #68937 "Scripts are missing Target_VNET_RG parameter for migration"
Script which was used for Recovery Vault based migration had an option to specify Resource Group name for VNET so it can be in a different RG compared to where VM are migrated to. New version of the script is missing this parameter which forces migrated VMs to be colocated with VNET in the same RG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-01-14 20:26] artisticcheese opened #68938 "Target_VNET_RG is missing in parameters"
Script which was used for Recovery Vault based migration had an option to specify Resource Group name for VNET so it can be in a different RG compared to where VM are migrated to. New version of the script is missing this parameter which forces migrated VMs to be collocated with VNET in the same RG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-01-14 20:32] stevenxzhou commented on #68373
May I ask if this is still a ongoing issue? Can you share the repro steps of this issue if it is?

[2021-01-14 21:09] MarileeTurscak-MSFT commented on #68927
Hi @RonnieQuan ,

Thanks for the question! As you mentioned Azure built-in roles for Key Vault data plane operations are currently in preview. https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide

There is no ETA yet for when this feature will be out of preview, but you can check the update page here which will have the latest information: https://azure.microsoft.com/en-us/updates/a

[2021-01-14 21:09] #68927 closed

[2021-01-14 21:35] sameer-kumar commented on #68728
I have added an entry in local host (C:\Windows\System32\drivers\etc) file of VM.
`10.149.1.1     zcfg-dev.azconfig.io`

[2021-01-14 21:44] DerekHerman-MSFT commented on #68902
@PCNZ Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-14 21:49] Grace-MacJones-MSFT commented on #68887
appreciate the detailed feedback! I have assigned the issue to the content author to evaluate and update this doc as necessary

[2021-01-14 22:11] emuench commented on #63051
Response from our PM, first part of your question: "It is unclear what different scenarios are being referred to here. When we are able to call the http url configured successfully, we will send the lead information. If there is an issue while pushing information, no data will be received by the partner—so either they get the lead or not. We will not push any error messages or partial data." And o

[2021-01-14 22:11] emuench commented on #63051
#please-close

[2021-01-14 22:11] #63051 closed

[2021-01-14 22:14] darginok opened #68940 "Backend pools"
Please include information that states whether we have to use IP address or virtual machine name for backend pool servers in a different virtual network than the application gateway.

IE: Application gateway is in vnet-01, but backend pool VMs are in vnet-02.  To add the VMs to be used as backend pool servers, we need to use "IP address" and not "virtual machine" in the drop down selection.

---
#

[2021-01-14 22:25] ChaitanyaNaykodi-MSFT commented on #68614
Hello @empz, Thank you for reaching out. I could not reproduce the error received and was successfully able to add the setting as shown below.
![image](https://user-images.githubusercontent.com/67453298/104653313-442b9e80-566f-11eb-9e22-c29f884f3324.png)

I will now proceed to close this issue out, Please tag me in your response if there are any concerns I will be glad to continue with our discuss

[2021-01-14 22:25] #68614 closed

[2021-01-14 22:30] MicrosoftGuyJFlo commented on #54301
Has been reviewed by the product group and approved as is. #please-close

[2021-01-14 22:30] #54301 closed

[2021-01-14 22:32] MicrosoftGuyJFlo commented on #53158
Some third party apps may not see the state data. Will add an update to the doc in the near future. #please-close

[2021-01-14 22:32] #53158 closed

[2021-01-14 22:35] MicrosoftGuyJFlo commented on #55727
It would depend on how the device is configured. If this is still an issue I would raise the question to support. #please-close

[2021-01-14 22:35] #55727 closed

[2021-01-14 22:38] MicrosoftGuyJFlo commented on #57287
The linked sign-on document already covers this. https://docs.microsoft.com/azure/active-directory/manage-apps/configure-linked-sign-on#before-you-begin

#please-close

[2021-01-14 22:39] #57287 closed

[2021-01-14 22:42] brianbar-MSFT opened #68941 "Azure Monitor logs cost considerations for the page seem to be off"
Two of the tables in the document seem to contradict each other.

[The first table:](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-activity-logs-azure-monitor#storage-size-for-activity-logs)

Log category	Number of users	Events per day	Volume of data per month (est.)	Cost per month (est.)	Cost per year (est.)
Audit	100,000	1.5 million	**90 GB**	$1.93	$23.12

Si

[2021-01-14 22:49] MarileeTurscak-MSFT commented on #68919
Thank you! What do you mean by broken? It currently links to this page: https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-planning-checklist

[2021-01-14 22:53] MicrosoftGuyJFlo commented on #59582
If this is still an issue I would ask that you open a support case for them to troubleshoot further. #please-close

[2021-01-14 22:53] #59582 closed

[2021-01-14 22:56] MicrosoftGuyJFlo commented on #64068
Thanks for your contribution. Yes there is a difference in what apps support all features and eventually we hope all apps will support all features. #please-close

[2021-01-14 22:56] #64068 closed

[2021-01-14 22:57] MicrosoftGuyJFlo commented on #64212
Doc has been reviewed by the PMs and approved as written. Sorry I dont have any additional clarification. #please-close

[2021-01-14 22:57] #64212 closed

[2021-01-14 22:58] MicrosoftGuyJFlo commented on #65455
For now it is still global administrator. #please-close

[2021-01-14 22:58] #65455 closed

[2021-01-14 22:59] tpalacino commented on #63051
This screenshot of the documentation shows an example of the ActionCode when an "Install" is performed.
![image](https://user-images.githubusercontent.com/5368015/104658847-3d118a00-5689-11eb-800f-87861cb7aa06.png)

This screenshot of the documentation shows the portaion of the schema that describes the ActionCode property.
![image](https://user-images.githubusercontent.com/5368015/104659001-819d2

[2021-01-14 22:59] MicrosoftGuyJFlo commented on #65915
Using an authenticator app is different from the hardware tokens. Hardware token doesnt present itself in the SSPR workflow. #please-close

[2021-01-14 22:59] #65915 closed

[2021-01-14 23:02] MicrosoftGuyJFlo commented on #65035
Not in the list of apps already. When supported it will be added. #please-close

[2021-01-14 23:02] #65035 closed

[2021-01-14 23:14] stepheja opened #68943 "Listener on TCP 0.0.0.0:808"
Please include a note that the hybrid worker uses tcp port 808. My installation failed several times until I found that requirement buried in the error logs and removed the listener already registered to that port. It is an extremely common port to use for a variety of applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-14 23:17] tfitzmac commented on #65737
Aliases is now available at [https://docs.microsoft.com/en-us/azure/templates/microsoft.subscription/aliases](https://docs.microsoft.com/en-us/azure/templates/microsoft.subscription/aliases)

[2021-01-14 23:17] tfitzmac commented on #65737
#please-close

[2021-01-14 23:17] #65737 closed

[2021-01-14 23:22] spelluru commented on #27039
Updated the article. It should go live tomorrow morning.

#please-close

[2021-01-14 23:22] #27039 closed

[2021-01-14 23:27] julieMSFT commented on #68125
@marktab Hello, has the upgrade to the notebooks resolved your issue?

[2021-01-14 23:33] nin-o commented on #37847
My issue was that I used the Client secret ID instead of 'Application (client) ID'.

[2021-01-14 23:33] diberry opened #68944 "sdk object defintion isn't obvious"
The sdk object, `import * as sdk from "microsoft-cognitiveservices-speech-sdk";` is not obvious/visible if you don't select the correct import tab for the sdk (browser/import/require).

Can you make sure all 3 tabs end up with an sdk object and then use the sdk object? There are other possibilities but figuring out where sdk comes from can be a little cumbersome.

---
#### Document Details

⚠ *Do

[2021-01-14 23:39] #65072 closed

[2021-01-14 23:44] JamesTran-MSFT commented on #68941
@brianbar-MSFT
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-14 23:50] GiftA-MSFT commented on #68917
@w0ut0 we'll review your feedback and get back to you shortly. Thanks.

[2021-01-14 23:58] kgremban commented on #61407
The work to switch this article from Azure Notebooks to Azure ML Studio was completed this week with https://github.com/MicrosoftDocs/azure-docs-pr/pull/142395

I'm going to mark this issue as resolved. If there are any further comments or questions on the topic, please post here again and we can reopen the issue. #please-close

[2021-01-14 23:58] #61407 closed

[2021-01-15 00:07] GiftA-MSFT commented on #68855
@elonp Custom Docker image requirements are provided in this [document](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image#create-a-custom-base-image).

[2021-01-15 00:10] GiftA-MSFT commented on #68944
@trevorbye please review above feedback. Thanks.

[2021-01-15 00:12] julieMSFT commented on #68125
#assign:julieMSFT

[2021-01-15 00:17] macolso commented on #68761
@wanglijun378617 - thank you for the repro steps! Can you open a support ticket for our team to investigate in further detail?

[2021-01-15 00:30] L1ttl3J1m opened #68945 "More information please"
"go to the Azure portal and select your app"

Select my app from where?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independent ID: 516bc8a7-d927-d080-36a6-69ca95686feb
* Content: [Hybrid connections - Azure App Service](https://docs.microsoft.com/en-us/azure/app-servic

[2021-01-15 00:36] MicrosoftGuyJFlo commented on #58629
If this is still an issue I would suggest opening a support case for them to troubleshoot this further. #please-close

[2021-01-15 00:36] #58629 closed

[2021-01-15 00:38] JamesInDenver commented on #68373
After digging into this again to write up repro steps, I think I misunderstood the docs.  This page: [JavaScript and page layout versions in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-and-page-layout) states that:

I didn't understand that to mean you ***can only*** use page layout versions if you use the page contract data uri.  Without 'con

[2021-01-15 00:38] #68373 closed

[2021-01-15 00:39] MicrosoftGuyJFlo commented on #67798
@stephenc01 I would suggest you reach out to support for them to troubleshoot more deeply. Unable to find this app being part of the Office 365 grouping of applications.

[2021-01-15 00:39] MicrosoftGuyJFlo commented on #67798
#please-close

[2021-01-15 00:39] #67798 closed

[2021-01-15 00:46] EdmundLai opened #68946 "Issue with Index.cshtml file code in tutorial"
When I copied the Index.cshtml code from the site as is, the webpage did not load with the prefilled static data (Icecream, 3) and (Pizza, 4).

Here is the previous section of the code as is:

[code]

The issue was that the ```vote.Key``` and ```vote.Value``` were not cased properly, since the Javascript object keys stored in data from VotingAppController.cs were in fact key and value all lowercas

[2021-01-15 00:59] #65361 closed

[2021-01-15 01:51] GiftA-MSFT commented on #68925
@m-sterspace we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 01:52] GiftA-MSFT commented on #68928
@peterwj we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 03:01] VikasPullagura-MSFT commented on #68946
@EdmundLai Thanks for pointing this out. We have updated the document and changes will go live soon.

[2021-01-15 03:02] nvliumang opened #68948 "How to extenad lifetime of token?"
I followed the Tutorial and integrate AAD with my SP 2019, it works. However, Our users experience that they have to re-authenticate more frequently because of expiring tokens ( I guess).  So I turn to this page to configure lifetime of token:

- https://blog.octavie.nl/index.php/2019/09/19/managing-timeouts-for-sharepoint-and-azure-ad-integrations

But I hear that this method will get invalid aft

[2021-01-15 03:06] #68946 closed

[2021-01-15 03:14] Gamecock opened #68949 "Unable to get filename and extension in Python"
When trying to follow the Get File name and extension example,  I get the following error:
Python 3.8
Running locally
VS Code

System.Private.CoreLib: Exception while executing function: Functions.AnalyzeFile. System.Private.CoreLib: Result: Failure
Exception: AttributeError: 'InputStream' object has no attribute 'blobname'

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-01-15 03:34] AnuragSharma-MSFT commented on #68697
@assaf-grth Sorry for the delayed response. Could you please clarify that by notification do you mean to say if we change the role of member principal from db_ddladmin to db_datareader, will it still show in scan of the vulnerability results? If thats the query, it depends on roles that we configure on the principal, and not all roles will have this failure. ddl_datareader is just a select on exis

[2021-01-15 03:34] VikasPullagura-MSFT commented on #34967
@mimckitt Can you please check on this.

[2021-01-15 03:37] AnuragSharma-MSFT commented on #68943
@stepheja Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-15 03:37] SnehaAgrawal-MSFT commented on #68935
@KimBon Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 03:39] SnehaAgrawal-MSFT commented on #68945
@L1ttl3J1m Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 03:41] VitalyMCT opened #68950 "Private Link for Azure Automate in US Government regions"
According to this page, the functionality is only available in commercial regions.

However [https://docs.microsoft.com/en-us/azure/automation/how-to/private-link-security](https://docs.microsoft.com/en-us/azure/automation/how-to/private-link-security) includes the following quote:

Which page is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-01-15 03:43] VikasPullagura-MSFT commented on #61488
@rakesh08 You can add the feature request [here](https://feedback.azure.com/forums/602224-azure-container-instances).

[2021-01-15 03:43] wanglijun378617 commented on #68761
Hi @macolso, I have a ticket, may I know which team are you from? Actually I own the support request 120121725003864, but I cannot find Azure CLI related team to route, also I have an ICM ticket(https://portal.microsofticm.com/imp/v3/incidents/details/219107115/home) to ACI team but seems out of their support. Please let me know if any other ticket needed.

[2021-01-15 03:44] #61488 closed

[2021-01-15 03:48] VikasPullagura-MSFT commented on #63767
@Dbakevlar Thanks for sharing the details.
@alexjoybc The entire document will be revamped as per previous comment from doc author.

[2021-01-15 03:50] #63767 closed

[2021-01-15 03:59] SnehaAgrawal-MSFT commented on #68936
@dreck410 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 04:02] SnehaAgrawal-MSFT commented on #68937
@artisticcheese Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 04:03] marktab commented on #68125
@julieMSFT I have not tried any updates.  I work on a number of projects, and honestly don't remember which one this was for.  I'll trust any updates are satisfactory, thanks

[2021-01-15 04:04] SnehaAgrawal-MSFT commented on #68938
@artisticcheese Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 04:10] SnehaAgrawal-MSFT commented on #68940
@darginok Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 04:12] RohitMungi-MSFT commented on #68881
@RonnieQuan You can refer the documentation of [encryption](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-encryption-of-data-at-rest) and [network security](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fcognitive-services%2Fluis%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com

[2021-01-15 04:15] RohitMungi-MSFT commented on #68881
#https://github.com/MicrosoftDocs/azure-docs/issues/68881#issuecomment-759902090 Referenced the issue with the same query to avoid duplication.

[2021-01-15 04:18] SnehaAgrawal-MSFT commented on #68747
@leonmeijer We will now close this out but if you feel you need more information please just let us know.

[2021-01-15 04:18] #68747 closed

[2021-01-15 04:20] GitaraniSharma-MSFT commented on #68639
@cakriwut , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-15 04:20] #68639 closed

[2021-01-15 04:24] spelluru commented on #14133
Microsoft.ServiceBus.Messaging doesn't actually support AmqpWebsockets.

It's only supported in Microsoft.Azure.ServiceBus as mentioned above.

[2021-01-15 04:24] GitaraniSharma-MSFT commented on #68656
@adiun , thank you for the update. Since the issue is already auto-resolved, we are closing this issue for now. Regarding the root cause analysis, as you already have a support case raised, the support team should be able to go through the backend logs and provide the RCA to you. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-15 04:24] #68656 closed

[2021-01-15 04:26] GitaraniSharma-MSFT commented on #68734
@RonnieQuan , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-15 04:26] #68734 closed

[2021-01-15 04:28] BharathNimmala-MSFT commented on #68842
@mjaow Thanks a lot for sharing the resolution for broader community users. Will also share this feedback with our team to see if we can add this information in any of the document to help clarify it.

At this point it appears that there's no further edits or updates needed to the documentation listed in the thread. We will go ahead and close this issue, however post discussion with the team if we

[2021-01-15 04:28] #68842 closed

[2021-01-15 04:29] shashishailaj commented on #68948
@nvliumang Thank you for your query . We will review and update the thread.

[2021-01-15 04:34] pdhimate opened #68953 "Can we get similar guide for AzureDevOps?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2db5100c-6804-3290-7986-e203119751b0
* Version Independent ID: e03089e8-acc5-6926-3883-d38e7bc1ae41
* Content: [Tutorial: Implement Azure Policy as Code with GitHub - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/tutorials/policy-as-code-github)
* C

[2021-01-15 04:36] KalyanChanumolu-MSFT commented on #68669
@michaelgobz Were you able to check the drivers and install the right one?

[2021-01-15 04:44] SnehaAgrawal-MSFT commented on #68813
@Hasan038 Since we did not here from you. We will now close this out but if you feel you need any information or query please just let us know.

[2021-01-15 04:44] #68813 closed

[2021-01-15 04:48] AjayKumar-MSFT commented on #68853
duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/68858

[2021-01-15 04:49] #68703 closed

[2021-01-15 04:49] niklarin commented on #68928
Thank you for your feedback and screenshot!

This documentation page (https://docs.microsoft.com/azure/postgresql/flexible-server/concepts-maintenance) is for Azure Database for PostgreSQL - **Flexible server**, that is currently in preview, whereas the product in screenshot provided is Azure Database for PostgreSQL - **Single server**.

For information about planned maintenance in Single server p

[2021-01-15 04:51] vipulsparsh commented on #68891
@mwucbs Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-01-15 04:54] AjayKumar-MSFT commented on #68926
m-sterspace, No worries, thanks for the update. Duplicate of #68925

[2021-01-15 04:55] spelluru commented on #41894
This SDK is not actively being worked on. We will announce when there is an update. Apologize the delay.

#please-close

[2021-01-15 04:55] #41894 closed

[2021-01-15 04:56] hoakedo opened #68954 "If the file share is a standard file share, the alert rule fail without evaluation data when selecting "All Current and Future Values"."
[Enter feedback here]
Hi,
The cx chose "All current and future values" because of the following text:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-monitoring?tabs=azure-portal#how-to-create-an-alert-if-the-azure-file-share-size-is-80-of-capacity
**If the file share is a standard file share, select All current and future values.**

As a result, the dimension was specified and

[2021-01-15 05:03] shashishailaj commented on #57009
@vremeni4 This script has been updated by the product group now and the errors should not be seen. In case you still see any error , please send open a ticket with Microsoft support . In case you do not have any support plan , please send us an email on azcommunity [at] microsoft [dot] com and we will help you with alternative support options.

[2021-01-15 05:03] #57009 closed

[2021-01-15 05:15] SwathiDhanwada-MSFT commented on #68794
@shawnstl Thanks for your feedback. I have verified the PowerShell command and it works properly. For your reference, adding a snapshot here.

![image](https://user-images.githubusercontent.com/48976275/104682540-ea80ae00-571a-11eb-80f8-01b70405c494.png)

Also raised a PR to add requested changes to the document. Once approved, the changes will be live.  As there are no further documentation chang

[2021-01-15 05:15] #68794 closed

[2021-01-15 05:17] ahamad-MS commented on #43468
@romankiss we are investigating this issue and will update the thread with findings. However, as a general comment, this is not a real document bug and fit better as service issue. Please use user voice or open a support ticket to handle similar issues in the future. Thanks

[2021-01-15 05:20] chintanr97 commented on #68713
Hi @gs-repo ,

The `azhlfTool` client makes use of Fabric Node SDK to install chaincodes on peer nodes. While performing chaincode installation using Fabric Node SDK, you do not need to package the chaincode. While running the installation command, you must specify the details of the chaincode, including the absolute path of the chaincode source code directory.

For example, we have shared 2 sampl

[2021-01-15 05:23] MayankBargali-MSFT commented on #68949
@Gamecock Thank you for your feedback! We will review and update as appropriate.

[2021-01-15 05:29] HarshitaSingh-MSFT commented on #68953
Hello @pdhimate , thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-15 05:30] SubhashVasarapu-MSFT commented on #68652
@tdihp, Appreciate your patience. Release/Renew in Linux distributions Is little bit tricky as you need might lose current SSH connection. So, here are the commands that should be run on the same line to avoid this issue.

`sudo dhclient -r && sudo dhclient
`

Also, if you have more than one interface then use the below command to choose the right interface for renewal,

`sudo dhclient -r eth0 &&

[2021-01-15 05:30] #68652 closed

[2021-01-15 05:31] HarshitaSingh-MSFT commented on #68664
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-15 05:31] #68664 closed

[2021-01-15 06:06] SadiqhAhmed-MSFT commented on #68938
Duplicate of #https://github.com/MicrosoftDocs/azure-docs/issues/68937#issuecomment-760630331

[2021-01-15 06:06] #68938 closed

[2021-01-15 06:08] HarithaMaddi-MSFT commented on #68817
@hecflores - I will proceed with closing the issue now. Please feel free to post for further queries and we will be glad to assist.

[2021-01-15 06:08] #68817 closed

[2021-01-15 06:09] HarithaMaddi-MSFT commented on #68835
@stephenstack - I will proceed with closing the issue now. Please feel free to comment for further queries and we will be glad to assist.

[2021-01-15 06:09] #68835 closed

[2021-01-15 06:10] SadiqhAhmed-MSFT commented on #68937
@rahug1190 For assistance/clarification.

[2021-01-15 06:18] rahug1190 commented on #68937
HI @artisticcheese
You can choose a virtual network that the migrated VMs should connect to. The virtual network should be in the target subscription and target region of the migration. We do not restrict it to the target resource group.

[2021-01-15 06:35] Azrielsetiyadi opened #68955 "Readme.md"
[Enter feedback here]

404
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Back up and recover accounts with the Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/u

[2021-01-15 06:36] boris-tarasov-maersk commented on #67755
hi Monika

Thanks. Waiting to see so updates on documentation.

[2021-01-15 06:42] yuriwoof commented on #68826
@shortpatti  Thanks😀

[2021-01-15 06:44] vipulsparsh commented on #68644
@SerjSX I tested the scenario, it works perfectly for me. Can you try to remove the app and start from scratch by installing it again.
If it fails again, most probably you will need to open a support case to investigate further.

[2021-01-15 06:54] wombling commented on #67669
@jeevansd @shashishailaj can we please reopen this ticket to consider updating the documentation to help people that get stuck when connecting their systems to SAP instances because of this "feature" of AAD metadata exports?

Thanks,

Chris

[2021-01-15 06:59] vipulsparsh commented on #67760
@Sushgautam We did look into this, but this is not a available scenario as of now. You can still go ahead an upvote for the scenario you are interested in as you also mentioned in the user voice.

The Intune team  considers the uservoice which are getting more votes :

[2021-01-15 06:59] #67760 closed

[2021-01-15 07:01] JimmyLS opened #68956 "The statement "This role also grants the ability to consent to delegated permissions and application permissions, with the exception of permissions on the Microsoft Graph API." is not accurate"
The statement under "Application Administrator" role section based on my testing, is not accurate (link [https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#application-administrator](url)):

_**"This role also grants the ability to consent to delegated permissions and application permissions, with the exception of permissions on the Microsoft Graph API."**_

If the

[2021-01-15 07:19] SumanthMarigowda-MSFT commented on #68832
@onlywhale The PR has been initiated and changes should reflect soon!  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-15 07:19] #68832 closed

[2021-01-15 07:28] HarithaMaddi-MSFT commented on #68885
@happy-jo - As per my understanding, document did not cover details that shows sentiment analysis and covers on topic analysis. I am moving it to content author to review and share their thoughts.

@enkrumah - Can you please take a look and share your thoughts.

[2021-01-15 07:32] #68644 closed

[2021-01-15 07:49] dmitriyteteruk opened #68957 "Web-app deployment failed on Azure Stack environment"
Hi! I am trying to replicate this tutorial on Azure Stack environment but getting error during after `git push`.
At same time if use sample from tutorial located here [https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git](https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git) it works fine.

Error from Kudu console:
[code]
Web-app log:
[code]

---
#### Document Details

[2021-01-15 07:50] dgonzo27 commented on #34451
This is honestly pathetic.  Does Microsoft not have any customers that leverage modern technologies via Docker?  Like how has this continued to drag on for this long?  In the time that it's taken me to troubleshoot the various options they "kindly" recommend, I've spun up the same app, same dockerfile on AWS and GCP.  It's worth paying more for the underlying instances at this point.

[2021-01-15 08:06] HarithaMaddi-MSFT commented on #68885
@mamccrea - As I could not find alias of Ebenezer (enkrumah) to assign this issue. Since I saw you contributed in last month to this document, I have assigned it to you. Kindly move it to appropriate person if not relevant for you. Thanks!

[2021-01-15 08:07] #68663 closed

[2021-01-15 08:10] ifslearning opened #68958 "Reduce session timeout in dev environment?"
We're testing rolling session timeouts across multiple sites, but it's pretty annoying that the minimum time we can set for the session length is 15 minutes, as this is making testing way longer than it needs to be. We're using custom policies so is there anyway that B2C can accept values less than 15 minutes (SessionExpiryInSeconds value of less than 900) in a development environment?

---
#### D

[2021-01-15 08:15] sk-bln opened #68959 "Germany West Central shall be included in the Europe Geographic Cluster list"
Germany West Central is not included in the Europe Geographic Cluster list, it should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Support matrix for Azure VM disaster recovery with Azure Site Recovery

[2021-01-15 08:20] psmanhas commented on #68844
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-01-15 08:26] amanmcse commented on #68880
@jasonpanggit Thank you for pointing it out. I have updated Required number of licenses to 6. The change is sent to author for review and will reflect on the doc after approval.

[2021-01-15 08:38] SnehaAgrawal-MSFT commented on #68945
Thanks again for asking question! Please refer to below steps.

Sign in to Azure
Open the Azure portal, and sign in with your Azure account.

Select the app in the Azure portal
1.	Search for and select App Services.

![image](https://user-images.githubusercontent.com/46553948/104700693-8bcb2c80-573a-11eb-8003-6e2f0e488d8d.png)

2.	On the App Services page, select the name of your Azure app.

![ima

[2021-01-15 08:38] psmanhas commented on #68761
@wanglijun378617 @macolso is from our ACI internal team. This issue needs more investigation and since you already have an ICM and Support Ticket in place there is nothing much we can do from our side since Support has the required tools and expertise to help you out on the issue. I will close this issue for now here and if you need any help you can reach out me internally as well or mention me on

[2021-01-15 08:38] #68761 closed

[2021-01-15 08:41] psmanhas commented on #68685
@yeqing113 Apologies for the delay in response and all the inconvenience caused because of the issue.

The CLI command "az vmsss update-instances" takes an input argument "instance ids". It would only update all instances at the same time if customer input all instance IDs. Maybe it wasn't clear, when updating the SSH keys, the CLI should run a rolling upgrade from client side, to update instances

[2021-01-15 08:43] amanmcse commented on #68948
@nvliumang Token lifetime policies are being deprecated in favor of Session Controls in Conditional Access Policy. You can use Session Controls to configure sign in frequency.

**Read More:** https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime

[2021-01-15 08:45] psmanhas commented on #68815
@genlin Can you please check and add your comments on this doc update request as applicable.

[2021-01-15 08:46] mwiedemeyer opened #68960 "Add app principal to a role is not supported"
I'm trying to follow the doc on how to add the registered app to the "User Management" role [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg-ga#enable-user-delete-and-password-update).

However I cannot find the app. Then I tried to add the app via graph api directly and this is the result:
![image](https://user-images.githubusercontent.co

[2021-01-15 08:47] psmanhas commented on #68527
@norshtein Can you please check and add your comments on this issue.

Thanks

[2021-01-15 08:49] SnoWolfT opened #68961 "Unable to enable Performance diagnostics in SLES 12 SP4 with the error message "Unsupported operating system: SLES 12.4". However, SLES 12 SP4 is in the supported Linux list."
I check the status of the extension, **AzurePerformanceDiagnosticsLinux**, and find it’s “**Provisioning failed**”. This extension is used by the feature, **Performance diagnostics**. The error message is “**Unsupported operating system: SLES 12.4**”. The detailed error message can be checked in the file, **/var/log/azure/Microsoft.Azure.Performance.Diagnostics.AzurePerformanceDiagnosticsLinux/ext

[2021-01-15 08:53] shashishailaj commented on #68118
@hjchin We have linked the documentation and credentials section with related documentation for better discoverability . We will now close this issue . The changes will be live in the next 48 hours.

Thank you.

[2021-01-15 08:53] #68118 closed

[2021-01-15 08:59] wigsaparelli opened #68962 "Possible typo, should "account" be "database""
[Enter feedback here]

Hi, the Per-account limits Serverless section contains:

![image](https://user-images.githubusercontent.com/26044512/104703615-72f95180-570f-11eb-8e89-b9280d09b5af.png)

It seems odd to have an unlimited number of databases per account but a very small "Maximum number of containers per account" (as after all, containers belong to a database).

I was wondering whether the "Ma

[2021-01-15 09:01] SadiqhAhmed-MSFT commented on #68959
@sk-bln Thanks for posting the question. Germany West Central is part of "Restricted Regions reserved for in-country disaster recovery" You may refer to the Note: https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#region-support

Would be happy help further :)
--

[2021-01-15 09:03] genlin commented on #68815
@psmanhas I am not the author of this article. Please reassign the issue.

[2021-01-15 09:14] sk-bln commented on #68959
@SadiqhAhmed-MSFT  This is not correct. Germany North is part of "Restricted Regions reserved for in-country disaster recovery". Germany West Central is regular region. It's the same as France Central or UK South, which are listed under Europe

[2021-01-15 09:22] commakoerschgen commented on #68919
Did you check out the link on Github (on this page https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-graph-api.md)? The one on docs.microsoft.com is fine, but the one in the markdown file on Github gives me a 404.

[2021-01-15 09:23] psmanhas commented on #68815
Thank you @genlin for heads up . @cynthn Can you provide some input here?

Thanks

[2021-01-15 09:25] shashishailaj commented on #66489
As mentioned the azure AD free tier only allow one verification method which is Mobile App . I tried following the same steps as you creating a new user in a directory in Azure AD free tier as shown below.

![image](https://user-images.githubusercontent.com/532022/104706474-26c70500-5741-11eb-9427-0c65bd091a46.png)

I assigned the user billing administrator role and then tried logging on . At this

[2021-01-15 09:25] #66489 closed

[2021-01-15 09:26] BhargaviAnnadevara-MSFT commented on #68907
@WhiteTomX As mentioned in the [Azure Automation docs](https://docs.microsoft.com/en-us/azure/automation/automation-create-standalone-account#create-a-new-automation-account-in-the-azure-portal), Automation account names are unique **per region and resource group**.

Therefore, you should be able to create an Automation account in a different resource group with the same name, as shown under:

![i

[2021-01-15 09:27] stateofthearb commented on #51543
@KjellZijlemaker is the P2S forced tunneling GA yet as I can't see any information online in this regard. How will this be configured?
I need internet traffic to flow through Azure as opposed to going through users local ISP so we can control the source IP Address for 3rd party firewall whitelisting.

[2021-01-15 09:30] BhargaviAnnadevara-MSFT commented on #68818
@Ray5254 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-15 09:30] #68818 closed

[2021-01-15 09:32] #68897 closed

[2021-01-15 09:36] psmanhas commented on #68104
Taken offline

[2021-01-15 09:36] #68104 closed

[2021-01-15 09:39] RohitMungi-MSFT commented on #68755
@hungapl Just curious if your pipeline run is running as expected? Could you please check the run details directly from portal and the SDK version that is used for your run?

The default notebook steps seems to run successfully when i ran it against my compute.

![image](https://user-images.githubusercontent.com/46958063/104707736-cd5fd580-5742-11eb-8906-489aeb80acc3.png)

This step id should be v

[2021-01-15 09:49] empz commented on #68614
@ChaitanyaNaykodi-MSFT I figured it out. Semi-colons only work in Windows based Apps/Functions. Mine it's Linux and we need to use `__` in place of `:`.
I don't understand why the Portal can't simply abstract that away from the user, but I'd clarify that anyway in the docs.

[2021-01-15 10:01] Smoovsky opened #68963 "VMSS terminate-notification doc should mention "Metadata" header for request to Azure Metadata Service"
I notice the header "Metadata" with the value of "true" is required for requests to metadata service, this also applies to Scheduled Events endpoint. But nowhere in the doc mentioned it, not even in the Troubleshoot section.
It might be confusing and frustrating to who those who first use metadata service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-01-15 10:14] ToruMakabe opened #68964 "Clarify Configuration server locale (Non English OS)"
As the support matrix, Site Recovery configuration server only supports English (en-us) locale.
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#site-recovery-configuration-server

So, does the configuration server support OS locale changing from Non English to en-US? or we have to install OS with en-US?

It seems some users struggle with this also, so coul

[2021-01-15 10:17] #67311 closed

[2021-01-15 10:19] DiSae opened #68965 "Set-AzResource : Cannot convert 'System.Object[]' to the type 'System.Collections.Hashtable' required by parameter 'Tag'"
The title describes the issue.

`$tags += @{ResourceType="VM"}` results in a System.Object resource, checked via `$tags.GetType()`
While `Set-AzResource ... -Tag x -Force` expects x to be a Hashtable.

When I first create an empty Hashtable it seems to be ok, but when I run the below command, the name changes.
`$tags = (Get-AzResource -ResourceGroupName $rg -Name $vm.Name).Tags`
![image](https://u

[2021-01-15 10:33] lonevvolf opened #68966 "Default connection policy behavior for Private Link connections"
Referring to the following page/section:
https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#limitations
It states that:
Connections to private endpoint only support Proxy as the connection policy

This seems to be in conflict with the information on this page, which says:
The default policy isRedirect for all client connections originating inside of Azure (for exam

[2021-01-15 10:40] savjani commented on #68888
@BhargaviAnnadevara-MSFT - the document is live. Could you please help close this issue. thanks !!

[2021-01-15 10:44] SnehaAgrawal-MSFT commented on #68859
Thanks for asking question! The time frame is not mentioned as it depends on a numbers of factors.
You may refer to this document [Scaling apps in an App Service Environment v1](https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-web-scale-a-web-app-in-an-app-service-environment) might be helpful.

As mentioned in the document that  the multitenant App Service, scaling is us

[2021-01-15 10:51] Dastreum opened #68967 "Sendgrid free tier not available anymore"
[Enter feedback here]
Sendgrid free tier is not available anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](https://docs.microsoft.com/en-us/azure/sendgrid-d

[2021-01-15 10:53] diegoalb opened #68968 "The "Import/export jobs" blade doesn´t exist anymore on the Azure Portal"
This document refers to go to the Import/Export blade on the Azure Portal to create new Job, however this blade got removed (or was moved to someplace else)

I´m referring to this section:

    "Perform the following steps to create an export job in the Azure portal.
     Log on to https://portal.azure.com/.
     Go to All services > Storage > Import/export jobs."     <==== This is not valid anymo

[2021-01-15 10:57] wigsaparelli opened #68969 "Clarification of "Entity""
This page mentions "Entity" scope in the following table for the "Concurrent listeners on a relay" row:
![image](https://user-images.githubusercontent.com/26044512/104716661-25391500-5720-11eb-934d-5af775828c73.png)

Entity scope, or even the term Entity is not mentioned/referenced/defined anywhere on this page.  I'm guessing it should be a scope of endpoint or hybrid connection but I feel clarifi

[2021-01-15 10:57] nvliumang commented on #68948
Sign-in frequency requires end-users to be redirected to Azure AD on a regular basis:

I want to configure how regular this is or automate this for users. Now, using sign-in frequency, our users are redirected to the SharePoint login page every ~60 minutes because Azure AD expires its access tokens.

In our case, we use FBA and Azure AD to login to SharePoint and a custom login-page that lets user

[2021-01-15 11:00] RicardoNiepel opened #68970 "No clear explanation of notification strategy / Missing concise language"
This paragraph does not make it clear **which person will receive important information** like urgent security issues, price/billing changes, or breaking changes to services.

### Email communication
Please provide answers to the **following questions**:
- Will the Billing Account receive urgent security issues, price/billing changes, or breaking changes to services by email?
- Is this notificatio

[2021-01-15 11:02] Donovand4 opened #68971 "Add that B2B profiles should switch organization to update B2B registration information."
Hi All,
Could a short extract be added to the "Change the default method from My Profile" section to include details that a B2B user would need to switch organization from their my profile in order to change the security registration information for a 3rd party tenant?

Kind Regards
Donovan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-01-15 11:28] #68795 closed

[2021-01-15 11:35] SadiqhAhmed-MSFT commented on #68959
@sk-bln I shall check on that and get back to you soon.

[2021-01-15 12:02] haymansfield opened #68972 "Can the batch api make use of managed identities for blob access?"
Can the batch api make use of managed identities for blob access?

This would avoid the need for SAS urls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use batch transcription - Speech service - Azur

[2021-01-15 12:28] Harshitjain188 opened #68973 "Facing "Error 5 - SQL connection failed" while connecting to Source sql server & migrating to azure sql db"
Full error details:

{ "resourceId":"/subscriptions/c52acb64-9ece-4809-b825-22b10b1f07ef/resourceGroups/SSDT/providers/Microsoft.DataMigration/services/mydmsd2", "errorType":"Failed to connect, please check error details", "errorDetail":"Error 5 - SQL connection failed.Please use this interactive user guide to troubleshoot the connectivity issue: https://support.microsoft.com/en-us/help/4009936/so

[2021-01-15 12:46] ianpurvis1976 commented on #21611
I just had this problem today and was able to resolve with Sendgrid. If you click on the resource within Azure, then select Json View, you should be able to confirm the email address under properties. Then if you contact Sendgrid support via their website, with this email address, then they can check and hopefully re-enable the account. You should then be able to delete the resource from Azure. It

[2021-01-15 12:51] artisticcheese commented on #68937
I want to migrate Vms into existing virtual network and existing subnet which I already have in my subscription. Say there is VNET called `My-Vnet` inside resource group called `Existing-RG`. I'm migrated VMs into resource group `Migration-RG`, what my parameters would need to be for this?

[2021-01-15 12:52] PaulVrugt opened #68974 "time-generated-field per record"
Am I correct that there is no way to set a time-generated-field per record to insert? So if I do want to fill the `TimeGenerated` with the correct value per record, I need to perform a separate API call per record to insert? This seems a bit inefficient to me.

Use case:
We have error logging in our product. We save these errors in a database. Because we want monitoring and alerting on these error

[2021-01-15 12:53] AjayKumar-MSFT commented on #68925
m-sterspace, Thanks again for the detailed doc feedback.
@christiannwamba, Requesting to review the feedback and share your comments.

[2021-01-15 12:58] rahug1190 commented on #68937
You will need to ensure that My-Vnet is in the target subscription and region that are you are migrating to. Once this is confirmed, then you can specify the Virtual Network name in TARGET_VNET_NAME column and subnet in TARGET_SUBNET_NAME column in the csv file. These will be picked up as the target network and subnet values when you run AzMigrate_StartReplication.ps1 script.

[2021-01-15 13:04] panitaxx commented on #68170
Hello @RohitMungi-MSFT,

Any updates ? Dalia voice is the most liked in our contact center and would love to be able to deploy it again.

Thanks

[2021-01-15 13:08] amanmcse commented on #68642
@hongooi73 Yes, it works with single slash but as mentioned in the doc, "this is non-standard and should not be relied on by your application." You should use double slash in the scope while requesting a token for https://management.azure.com//.default.

[2021-01-15 13:08] #68642 closed

[2021-01-15 13:08] artisticcheese commented on #68937
What happens if I have 2 VNETs in the same region with the same name in different Resource Groups?

[2021-01-15 13:13] AnuragSharma-MSFT commented on #68962
@wigsaparelli Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-15 13:13] rahug1190 commented on #68937
In that case, the automation would pick up the first VNET returned by the Get-AzVirtualNetwork. You can modify the automation to directly input the Virtual Network Id (TargetNetworkId parameter for the cmdlet) which will address this issue or you could add a column for Virtual Network Resource Group and update the AzMigrate_StartReplication.ps1 to take that as an additional parameter while running

[2021-01-15 13:14] AnuragSharma-MSFT commented on #68966
@lonevvolf Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-15 13:15] AnuragSharma-MSFT commented on #68973
@Harshitjain188 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-15 13:16] miwithro commented on #68104
In the current version of the Pod Identity Managed Component kubenet functionality is disabled.  We are realizing an update which will work with kubenet shortly.

[2021-01-15 13:18] #68937 closed

[2021-01-15 13:25] alexgorb2016 opened #68975 "Found unused var $memberDatabaseName - is it correct?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b44ef846-17a1-d4ce-bf91-660d837c5269
* Version Independent ID: d55e515c-5168-84e5-4b32-fdbf6dfec314
* Content: [PowerShell: Sync data between SQL Database and SQL Server - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/s

[2021-01-15 13:25] psmanhas commented on #68963
@Smoovsky Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-15 13:25] psmanhas commented on #68963
@avirishuv Can you please check and add your comments on this doc update request as applicable

[2021-01-15 13:27] wolfma61 commented on #68972
we support byos/managed identity for output/result files
batch source / input files requires SAS or standard URLs.

[2021-01-15 13:40] AdamSharif-MSFT opened #68976 "Need clarification whether the feature can be disabled/removed from a cluster"
There is no mention of whether the feature can be removed from a cluster and I saw that there's no ` --disable-azure-rbac` command in the CLI.
Can this be clarified in the docs please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42afd8de-b697-100c-98c7-ae8e6a6f1b92
* Version Independent ID: 81674054-0ea2-210b-2e65-1

[2021-01-15 13:41] sacrophyte opened #68977 "Bad link"
The document says:
"For a quickstart about creating a server-level IP firewall rule, see Create a single database in Azure SQL Database."

However, the page for "Create a single database in Azure SQL Database" does not show how to create a server-level IP firewall rule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79

[2021-01-15 13:43] AdamSharif-MSFT commented on #68976
Also, can this be enabled on an existing cluster, or is a new cluster required?

[2021-01-15 13:43] cdawson1971 opened #68978 "Misinformation"
Page says "Self-paced training is free for all customers." That is not true. Follow link to Databricks Academy. Self-paced courses are $75 USD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b9f1bc-021e-fd7e-526e-00288f79c798
* Version Independent ID: 7b6e38f7-eb85-fb31-b5a5-97885600d3ef
* Content: [Get Databricks tr

[2021-01-15 13:50] amanmcse commented on #68948
@nvliumang  Firstly, Increasing the lifetime of Access Token is not recommended from security perspective. Secondly, expiry of the Access Token shouldn't log out the user as long as a valid session cookie is present.

You should consider increasing sign-in frequency to Days instead of Hours. Maximum time that can be specified for sign-in frequency is 365 days.

[2021-01-15 14:08] bhsolberg opened #68979 "Trouble with federated identities and Authenticator"
Authenticator works fine when first setting up access and configuring Authenticator when your user is from one tenant / IDP into a separate tenant / IDP. If you reset Authenticator for whatever reason, then having your admin reset the config for your IDP works fine and you can reconfigure Authenticator for your "home" IDP. However, then the "other" IDP does the same (resetting access for your user

[2021-01-15 14:17] shashishailaj commented on #68950
@VitalyMCT Thank you for your query. We will investigate and update the thread.

[2021-01-15 14:18] SadiqhAhmed-MSFT commented on #68964
@ToruMakabe Thanks for posting this question. We will review it with the content owner and concerned team and get back to you shortly.

[2021-01-15 14:20] shashishailaj commented on #68955
@Azrielsetiyadi Thank you for opening this issue on the azure-docs repository. We use azure-docs repository for improvements in azure documentation. Could you please help share the details of the document and what exact query do you have related to the same so that we can help you better ?

[2021-01-15 14:21] shashishailaj commented on #68956
@JimmyLS Thank you for pointing this out. We will investigate and update the thread.

[2021-01-15 14:23] shashishailaj commented on #68958
@ifslearning Thank you for your query . We will investigate and update the thread.

[2021-01-15 14:25] shashishailaj commented on #68960
@mwiedemeyer Thank you for your query. We will investigate this and update the thread.

[2021-01-15 14:26] shashishailaj commented on #68971
@Donovand4 Thank you for pointing this out. We will have this reviewed and update the document accordingly as needed after review.

[2021-01-15 14:28] shashishailaj commented on #68954
@hoakedo Thank you for your query . We will investigate and update the thread.

[2021-01-15 14:32] HarshitaSingh-MSFT commented on #68953
Assigning this to @DCtheGeek for further action.

[2021-01-15 14:46] #68880 closed

[2021-01-15 14:55] DCtheGeek commented on #68953
@pdhimate Thanks for the question!  Currently, Azure Policy only supports this style of export/import to GitHub. If this capability is extended to Azure DevOps, I'll add an article to match.  There's already an open suggestion for this on UserVoice. Please add your vote there (https://feedback.azure.com/forums/915958-azure-governance/suggestions/35890846-integrate-azure-policy-with-azure-devops).

[2021-01-15 14:55] #68953 closed

[2021-01-15 14:56] Esme-A opened #68982 "Microsoft Azure Backup Server (MABS) / VMware Role Privilege Error"
Hello, I'm working on implementing MABS in a environment and I followed the instruction in this article https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-server-vmware#role-permissions to setup a VMWare role and user account . In the MABS I setup vCenter FQDN to use the account with the role assigned; however, there seems to be some privileges missing in the Microsoft documentation

[2021-01-15 15:06] IshamMohamed commented on #29354
On 2020 Jan 15 - I am still getting the error. It seems like the documentation page is not updated.
I have to either
- remove the `s` in `https `and make it `http`
- or, run `sudo apt install gnupg-curl`

can you kindly update the documentation please.

[2021-01-15 15:08] knunery opened #68983 "Error Message"
If I cut and paste and run the commands I get an error when creating the application-gateway.
[code]
Does anyone know how to fix this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3bd4c2d-241e-8607-da8f-8903e95d7037
* Version Independent ID: 39cbd014-bb0b-3666-6e28-b1bd621b8cb9
* Content: [Enable Web Application Fire

[2021-01-15 15:11] joelbarendregt commented on #50047
@lodeagcf Do you know if the is the preferred solution or just a workaround? Or in other words, why does it suddenly need another outbound ip? Today this problem is popping up and can't seem to figure out what is causing it.

[2021-01-15 15:11] DougPetrole opened #68984 "Grid 11.3 is available as of January 2021"
Hi Team,

I see on https://docs.nvidia.com/grid/index.html that the NVIDIA GRID driver v11.3 is available as of January 2021 - can you please add his here?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Con

[2021-01-15 15:14] knunery opened #68985 "Create App Gateway CLI Commands throws deployment error"
If I cut and paste and run the commands I get an error when creating the application-gateway.
[code]
Does anyone know how to fix this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3bd4c2d-241e-8607-da8f-8903e95d7037
* Version Independent ID: 39cbd014-bb0b-3666-6e28-b1bd621b8cb9
* Content: [Enable Web Application Fire

[2021-01-15 15:20] emuench commented on #64808
We've added additional code to address the Description field. It should post after 10:00 am PST today. Thank you for your patience and for contributing! #please-close

[2021-01-15 15:21] #64808 closed

[2021-01-15 15:40] KranthiPakala-MSFT commented on #68978
@cdawson1971
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-15 15:54] hrkyemba opened #68986 "Cannot rename database that is in auto failover group"
The doc says to rename the source database, but when I tried running:

ALTER DATABASE [cust01-live] MODIFY NAME = [newdbname]

I got an error:

Msg 40680, Level 16, State 1, Line 1
The operation cannot be performed since the database 'cust01-live' is in a replication relationship.

So I don't see how we can rename the source DB for a disaster recovery drill involving a geo-redundant database.
---

[2021-01-15 16:00] spelluru commented on #34489
Apologize for the delay. I have been going through old issues and responding where I can.

As per our dev, SAS connection string with proper permission should work. Here are the minimum set of permissions.
![minium-set-of-permissions](https://user-images.githubusercontent.com/6722422/104749473-db046380-5720-11eb-89cc-888b9bc8d394.jpg)

If it doesn't work, please open a support ticket. Thanks.

#pl

[2021-01-15 16:00] #34489 closed

[2021-01-15 16:02] spelluru commented on #18709
Apologize for the delay. I am adding it to our backlog. Thanks.

#please-close

[2021-01-15 16:02] #18709 closed

[2021-01-15 16:13] pamcdo opened #68988 "Clarification on PS modules"
There needs to be extra clarification around the installation and removal of powershell modules on this page. It does not appear you can run the AzureAD and AzureADPreview modules on the same system and execute the commands in the article.

During the initial setup the user is asked to uninstall the AzureADPreview module - I feel like this should be changed to just 'AzureAD'. But I'd also like to

[2021-01-15 16:14] spelluru commented on #25427
Added it to our backlog. We will get to it as soon as possible.

#please-close

[2021-01-15 16:14] #25427 closed

[2021-01-15 16:14] knunery commented on #68985
Updating my CLI version fixed this issue for me (2.13.0 -> 2.17.1).

[2021-01-15 16:14] #68985 closed

[2021-01-15 16:15] knunery commented on #68983
I opened a duplicate issue.

[2021-01-15 16:15] #68983 closed

[2021-01-15 16:15] spelluru commented on #39355
Added a note:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-metrics-azure-monitor#azure-event-hubs-metrics

#please-close

[2021-01-15 16:15] #39355 closed

[2021-01-15 16:16] spelluru commented on #41399
#please-close

[2021-01-15 16:16] #41399 closed

[2021-01-15 16:22] Craigmeister68 opened #68989 "No mention of shared throughput settings for Table API in documentation."
Table API is a different animal in the Cosmos DB world. There is a single database per database account and configuring shared throughput is outside of Data Explorer under the Settings menu. I have not found where these facts are mentioned in the Table API Overview or FAQ documents. I looked in other Table API documents from the menu, also.

Is this information available in one of the other docume

[2021-01-15 16:26] mimckitt commented on #68844
Thanks for the feedback on this @jazelenk. Going into exactly how custom data and cloud-init works at that granular for this specific doc was not the intention. However I can appreciate your interest in understanding how it actually works.

This specific doc I am going to leave it as is. However, we are working on some doc updates and I am making notes on topics we want to elaborate on. I will add

[2021-01-15 16:26] #68844 closed

[2021-01-15 16:28] MonikaReddy-MSFT commented on #68984
@DougPetrole -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-15 16:30] mimckitt commented on #34967
#reopen

[2021-01-15 16:31] mimckitt commented on #34967
The script itself was archived hence no further updates are being done.

However we are looking at adding back some disk related scripts. This work should be complete by End of Next week.

#please-close

[2021-01-15 16:31] #34967 closed

[2021-01-15 16:34] jyeblog commented on #67831
@RonyMSFT

I have tried to follow your suggestion, enabled private endpoint, however now I ran into different error.
[code]

[code]

The whole process is documented here:
[Repro steps](https://github.com/jyeblog/jyeblog.github.io/blob/main/_posts/2021-01-15-synapse-analytics-workspace-access-storage-account-with-firewall.md)

Also when creating the Synapse Workspace, when enabling Managed Network

[2021-01-15 16:34] spelluru commented on #59059
**Client Libraries**

- **Azure.Messaging.EventHubs**:  This is the current version of the library, conforming to the unified Azure SDK design guidelines and under active development for new features.  It supports the NetStandard platform, allowing it to be used by both the full .NET Framework and .NET Core.  There is feature parity at a high level with Microsoft.Azure.EventHubs , with details and

[2021-01-15 16:35] spelluru commented on #59059
#please-close

[2021-01-15 16:35] #59059 closed

[2021-01-15 16:36] JamesTran-MSFT commented on #68988
@pamcdo
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-15 16:37] spelluru commented on #20013
Updated. Apologize for the delay. I have been going through old issues and resolving.
#please-close

[2021-01-15 16:37] #20013 closed

[2021-01-15 16:38] spelluru commented on #14133
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-dotnet#amqp-over-websockets

#please-close

[2021-01-15 16:38] JamesTran-MSFT commented on #68979
@bhsolberg
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-15 16:38] #14133 closed

[2021-01-15 16:39] spelluru commented on #20944
Updated.

#please-close

[2021-01-15 16:39] #20944 closed

[2021-01-15 16:48] mamccrea commented on #68885
Hi @happy-jo - this article needs to be updated with a new method for sentiment analysis. Originally, the data generator provided sentiment scoring, but the newer version does not. I will update the title to make it more accurate.

[2021-01-15 16:49] spelluru commented on #38759
I have added the request to the backlog. We will review, prioritize, and work on it as soon as we can.

#please-close

[2021-01-15 16:49] #38759 closed

[2021-01-15 16:49] spelluru commented on #66784
#please-close

[2021-01-15 16:49] #66784 closed

[2021-01-15 16:55] thomastitze commented on #68970
This actually creates some confusion on the customer side. Would be very helpful to make this more clear.

[2021-01-15 16:59] hansmbakker opened #68992 "Content about the modern Azure.Messaging.ServiceBus is missing"
The page only contains optimization suggestions for the older ServiceBus SDK versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-5827-9dd398412f9d
* Version Independent ID: 1e3dc2ac-1d5e-3da1-7d51-91d36bda14f2
* Content: [Best practices for improving performance using Azure Service Bus - Azure Se

[2021-01-15 17:01] BhargaviAnnadevara-MSFT commented on #68900
@mbell1083 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-15 17:01] #68900 closed

[2021-01-15 17:06] AnuragSharma-MSFT commented on #68975
@alexgorb2016 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-15 17:07] AnuragSharma-MSFT commented on #68986
@hrkyemba Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-15 17:09] ManuRiver opened #68993 "We are missing some vital miscellaneous details regarding the behavior after LFS is enabled."
It is not documented anywhere that after migrating an existing Storage Account to LFS, activation of the higher 10k IOPS limit will not be automatic for existing FShares and to force the enablement, one must vary the size of the FShare by any miscellaneous amount so full effect would kick in.

Also it's not clear that if we were to downsize the fs below 5TiB, would the FS keep its 10K IOPS limit.

[2021-01-15 17:10] SaurabhSharma-MSFT commented on #68911
@SGGIRBS The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-15 17:10] #68911 closed

[2021-01-15 17:16] quasarea opened #68994 "Azure DevOps Binskim task uses 1.6.1 as latest"
Related to https://github.com/microsoft/binskim/issues/334

Default task configuration uses 1.6.1 when it should be pointing to 1.7.2 already. There is no link to any repo that holds this task. Its not in any of below
https://github.com/microsoft/azure-pipelines-tasks
https://github.com/microsoft/azure-devops-extension-tasks

[code]
When set to use LatestPreRelease it also goes with 1.6.1, it usin

[2021-01-15 17:20] emuench commented on #68087
Working with PM.

[2021-01-15 17:28] GiftA-MSFT commented on #68957
@dmitriyteteruk we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 17:28] spelluru commented on #59650
Submitted a PR with these changes. The updated article should go live sometime today.

#please-close

[2021-01-15 17:28] #59650 closed

[2021-01-15 17:30] GiftA-MSFT commented on #68961
@SnoWolfT we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 17:30] spelluru commented on #68992
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/66848.

We will work on updating the article soon.

#please-close

[2021-01-15 17:30] #68992 closed

[2021-01-15 17:31] spelluru commented on #68772
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/68091. We are working on fixing it.

#please-close

[2021-01-15 17:31] #68772 closed

[2021-01-15 17:34] AlvinRamoutar opened #68995 "microsoft.web/sites/metricdefinitions/read duplicate action?"
Building a custom role, noticed there's two actions with the same description:

[code]

Possible duplicate, or are they functionally different actions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure res

[2021-01-15 17:38] ezYakaEagle442 opened #68996 "Containerd replaces Moby"
[https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools](https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools) states that
_In AKS, Moby is used as the container runtime._

Whereas it is now [Containerd](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#container-runtime-configuration-preview) since 1.19, se

[2021-01-15 17:43] #68855 closed

[2021-01-15 17:58] VanMSFT commented on #68977
Hi @sacrophyte! Thanks! That sentence should be removed. This will be updated shortly.

[2021-01-15 17:58] marciomocellin opened #68997 "ERROR:azureml._model_management._util:Failed to get Docker container"
system='Linux' CentOS
Docker version 20.10.0-beta1, build ac365d7
AzureML SDK Version:  1.18.0

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [How to deploy machine learning models - Azure Machine Lear

[2021-01-15 17:58] VanMSFT commented on #68977
#assign:VanMSFT

[2021-01-15 18:03] cynthn commented on #68815
@psmanhas I'm not the author either :)

#reassign @ushan

[2021-01-15 18:04] PRMerger6 commented on #68815
ushan is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-15 18:08] cynthn commented on #68815
#reassign @N-Usha

Can you please take a look at this feedback and also fix your GitHub username in the article? ms.author should be your GitHub username.

[2021-01-15 18:10] #68977 closed

[2021-01-15 18:14] julieMSFT commented on #68125
@marktab Thank you for your response. I will go ahead and close this issue. We hope to hear from you again.

[2021-01-15 18:14] julieMSFT commented on #68125
#please-close

[2021-01-15 18:14] #68125 closed

[2021-01-15 18:18] Naishy opened #68999 "Autoscaling with multiple profiles example"
In the example in the section titled **Considerations for scaling when multiple profiles are configured in an autoscale setting** it states:

The profile is configured to start at 03:00 on Monday and end at 20:00. The first-time autoscale checks the condition will be just after 00:00, so surely the Default profile will still apply as the Start time hasn't been reach yet for the Monday specific pro

[2021-01-15 18:20] vikancha-MSFT commented on #68984
@DougPetrole We have published GRID11.3 on the Microsoft download center and updated our Nvidia driver installation extensions. The doc updates are pending due to a build error. But here are the download links for you to use. For Linux: (https://go.microsoft.com/fwlink/?linkid=874272, for Windows 10/server2016/2019: https://go.microsoft.com/fwlink/?linkid=874181) and for server 2012R2: https://dow

[2021-01-15 18:29] weiwchu commented on #58642
@sourabharsh and @crevulus and others who are interested in this topic, let me share my thoughts with you on this:
(Important things first, I created a group for discussing speech assessment questions and problems, I will see if I can answer most of them for you guys during weekends or evening time. And please free free to post your questions. I have a PhD in speech, and my thesis is on pitch esti

[2021-01-15 18:34] mimckitt commented on #67819
#reassign: @mimckitt

[2021-01-15 18:35] mhopkins-msft commented on #66237
Hi @asears

Thank you for your feedback. I've created a work item and added it to our backlog for future update consideration.

Sincerely,
 ~ *Mark*

#please-close

[2021-01-15 18:35] #66237 closed

[2021-01-15 18:39] mimckitt commented on #67819
@assaf-grth yes there is a new way. On the Basics Tab, if you scroll down to the very bottom you will see the following:

![image](https://user-images.githubusercontent.com/32313503/104765488-d5594e80-571d-11eb-8b5e-b35e8b6cdd95.png)

I will update the doc and have it live today.

#please-close

[2021-01-15 18:39] #67819 closed

[2021-01-15 18:40] mhopkins-msft commented on #67430
Hi @fhryo-msft

Thank you for your feedback. This is by design as the schema is subject to change. This first line of the output file contains a description of each field, as shown in the screen capture showing the output file in Excel.

Thanks,
 ~ *Mark*

#please-close

[2021-01-15 18:40] #67430 closed

[2021-01-15 18:42] JamesTran-MSFT commented on #68995
@AlvinRamoutar
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Removed - microsoft.web/sites/metricdefinitions/read (this role is missing an "s")
![image](https://user-images.githubusercontent.com/36619112/104764993-07b67c00-571d-11eb-88e1-6108f3acb540.png)

I will now close out this issue. Please all

[2021-01-15 18:42] #68995 closed

[2021-01-15 18:57] JamesTran-MSFT commented on #68995
@AlvinRamoutar
Working with the author, I realized this isn't a duplicate or incorrect operation so I've gone ahead and closed out my PR.

**Operations:**
microsoft.web/sites/**metricdefinitions**/read 	Get Web Apps Metric Definitions.
microsoft.web/sites/**metricsdefinitions**/read 	Get Web Apps Metrics Definitions.

`az provider operation show --namespace microsoft.web`

Output:

        "displa

[2021-01-15 19:09] RyanMannix opened #69001 "What is "MY_EXTERNAL_IP_RANGE"?"
[Enter feedback here]
Reading through the "Restrict inbound traffic to specific IP ranges" section...
It would be nice to have a tiny explanation of the MY_EXTERNAL_IP_RANGE.  I first thought it might be a global or env variable, but I think it is probably just a placeholder for a written IP range... In that case, how should it be written/formatted in order for this to function properly.
---
####

[2021-01-15 19:09] erikadoyle commented on #47699
The above PR fixes this issue. #please-close

[2021-01-15 19:09] #47699 closed

[2021-01-15 19:18] YutongTie-MSFT commented on #68997
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-15 19:22] femsulu commented on #68974
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-01-15 19:39] femsulu commented on #68982
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-01-15 19:59] BharathNimmala-MSFT commented on #68626
@jude-chen Apologies for delay in getting back to the thread. Thanks again for bringing this to our notice, will create a work item and associated PR to update this document or any other relevant document , to incorporate the feedback you shared.

We will go ahead and close this issue for now, but will make sure to tag the PR to this thread. If you have any further feedback on the documentation, p

[2021-01-15 19:59] #68626 closed

[2021-01-15 20:01] mhopkins-msft commented on #67955
Hi @Enmebaragezi

Thank you for your feedback. This is by design, so that the user can just click the copy button on the examples and paste it into their chosen shell. These are actually just commands to invoke the Azure CLI tool. We could eliminate the separate examples but then some users would have to modify the commands to make them work in their chosen shell.

Thanks,
 ~ *Mark*

#please-close