[2021-09-03 20:01] glomaga opened #80616 "Question about Delete or Remove Element from StringCollection"
Hi,
Question:
Is there a way to remove an element from the StringCollection?
The page only talks about Add, Get, Contain operation but not Delete/Remove Operation.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f167f4c9-f5ea-edde-579b-f2c7980349ea
* Version Independent ID: 688c71d2-421a-41de-4b74-cb1ca498a33b
*

[2021-09-03 20:17] drdamour opened #80618 "does this apply when using serverless mode?"
It was unclear to me why this is necessary in serverless mode since there is no persistent connection to the hub.  Can these docs explain if this is applicable regardless of service mode, or in all modes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 486a7817-5fe2-1006-cda1-c8de634967a0
* Version Independent ID: 5c395

[2021-09-03 20:22] JamesTran-MSFT commented on #80616
@glomaga
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-03 20:26] shortpoet opened #80620 "Add section to detail how SAS token key vault key/value is stored"
In [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/56508) a user mentions something similar. The CLI version of the docs do not make an explicit reference to how the keys are stored in vault. This is something that is, however, covered in the [Manage storage account keys with Key Vault and Azure PowerShell](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-k

[2021-09-03 20:28] femsulu commented on #80605
@manoj-rath, can your team help expedite a fix for this broken link on the Portal pls?

[2021-09-03 20:29] mike-urnun-msft commented on #80339
Hello @yutaro113 - The error seems to originate from [a known race condition](https://developer.mozilla.org/en-US/docs/Web/HTTP/Conditional_requests#avoiding_the_lost_update_problem_with_optimistic_locking) that might occur in the _HTTP Conditional Requests_ flow which is what is utilized under the covers between Azure Blob APIs and the Blog trigger (at Function side) when they communicate w/ each

[2021-09-03 20:31] JamesTran-MSFT commented on #80620
@shortpoet
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-03 20:57] tomshaffner opened #80621 "Permission denied on resultant disc"
I followed pretty much exactly the instructions in this page (my disc name was the same so I mostly copied and pasted apart from my UUID) and the resultant disc was mounted and persisted through a reboot, but any attempt to use it without sudo throws a permission error. How do I mount the disc with permissions for non-root users to use it!??

---
#### Document Details

⚠ *Do not edit this section.

[2021-09-03 20:58] ggailey777 commented on #80589
@balas77 can you help with this?

[2021-09-03 21:00] Grace-MacJones-MSFT commented on #80618
Hi @drdamour, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-09-03 21:06] Nimleth commented on #80541
This actually doesn't answer my question. Do you use availability zones in the regions that support it?

[2021-09-03 21:07] SatishBoddu-MSFT commented on #55813
#

[2021-09-03 21:09] tomshaffner commented on #80621
I'm an idiot; just needed to chmod the resultant folder.

[2021-09-03 21:09] #80621 closed

[2021-09-03 21:22] YutongTie-MSFT commented on #80614
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-03 21:23] mmaitre314 opened #80623 "Undocumented linuxFxVersion = DOTNET-ISOLATED|5.0 required to deploy Azure Function via ARM template"
I was trying to deploy Azure Function using dotnet-isolated on Linux and kept hitting `ServiceUnavailable` errors from the web app until I found this [post](https://stackoverflow.com/a/66591408/3783926) on StackOverflow which pointed to linuxFxVersion accepting an extra value `DOTNET-ISOLATED|5.0`. This value does not appear to be documented and is not returned by the Azure CLI.

[code]

---
####

[2021-09-03 21:28] ElanShudnow opened #80624 "Ensure you're using Emergency Accounts?"
This page mentions to ensure you have Emergency Accounts.  Emergency Accounts page recommends ensuring MFA is not applied and make sure you're excluding the accounts from Conditional Access Policies.

However, when enabling Security Defaults, it does not give you the option to exclude accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-09-03 21:38] InformTechPro opened #80625 "Calculations are not visible in dark mode browser."
Calculations are not visible in dark mode browser. Attaching screenshot.
![image](https://user-images.githubusercontent.com/57687149/132067624-710f65d5-35a4-43b2-956c-af998fab9420.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce8b9ab-528e-52bb-862c-ac25e565df86
* Version Independent ID: 2b1a321d-51cd-4f22-52de-d

[2021-09-03 21:50] julieMSFT commented on #72815
@neednlab I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-09-03 21:50] BharathNimmala-MSFT commented on #80400
@xingqiri Apologies for delay in getting back to this thread, this needs further evaluation since its beyond the doc update. Assigning this issue to our author to further evaluate the query. Thank you

[2021-09-03 21:50] julieMSFT commented on #72815
#please-close

[2021-09-03 21:50] #72815 closed

[2021-09-03 21:52] julieMSFT commented on #74682
@reed9999 I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-09-03 21:52] julieMSFT commented on #74682
#please-close

[2021-09-03 21:52] #74682 closed

[2021-09-03 21:53] jjcv2304 opened #80626 "Multitenant AD app & B2C endpoint"
Inside the [Prerequisite](https://docs.microsoft.com/en-ca/azure/active-directory/develop/v2-howto-app-gallery-listing#prerequisites) section it says:

Would it be possible to publish into the Azure Gallery a Web App that is being configured for Multitenant Azure AD and also for social login through Azure B2C? (I understand that people using the Gallery will only connect through its Azure AD, but

[2021-09-03 22:06] JamesTran-MSFT commented on #80624
@ElanShudnow
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-03 22:44] balas77 commented on #80589
Yeah will take care to update the doc to move the note section ahead of the user inputs to let them aware. Also will include this in the help text for the fields that we add the suffix.

[2021-09-03 22:55] ggailey777 commented on #80623
@mmaitre314 Thanks for letting us know about this content gap.
Cc @anthonychu
#assign:ggailey777

[2021-09-03 23:15] lXbalanque opened #80630 "List of all services... but is there a place that shows what they do?"
Hello MicrosoftDocs,

I'm in the process of standing up a new tenant for a new company and as I go to assign licenses, I have the option to disable certain products/features. Problem is, I'm having a hard time knowing what's necessary for my user and what isn't.

I looked up a few here and there (Sway, Delve, Kaizala, etc) and I can safely say my users won't use these... but I'm not sure if there

[2021-09-03 23:59] femsulu commented on #80605
@FaithOmbongi , spoke offline with the feature owner regarding this issue. Goodnew,s a doc-fix will be included in next release in 2-3 weeks. Once fix is live, this will be resolved.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2021-09-03 23:59] #80605 closed

[2021-09-03 23:59] GiftA-MSFT commented on #80602
@nerajput1607 please review above feedback for doc enhancement. Thanks.

[2021-09-04 00:55] femsulu commented on #80626
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-04 00:59] femsulu commented on #80625
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-04 01:05] femsulu commented on #80630
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-04 02:10] sds111 commented on #80387
Thanks a lot for your support. The issue has been resolved.
However, manually adding IP doesnt seem to be a production solution from a
maintenance point of view. I am currently investigating the Azure VPN
solution.

On Fri, Sep 3, 2021 at 7:43 PM BhargaviAnnadevara-MSFT <
***@***.***> wrote:

[2021-09-04 02:45] RyanHill-MSFT commented on #80209
@daniel-seitz, I went through the tutorial and couldn't reproduce your issue. In fact, upon deploying the app from Visual Studio Code, `WEBSITE_NODE_DEFAULT_VERSION` was already there and I did not need to add it. I created a Windows plan.

I'm going close this issue as I couldn't reproduce it; however, I have pasted what version my app service was deployed to. Feel free to reopen and tag me if yo

[2021-09-04 02:45] #80209 closed

[2021-09-04 05:46] #80309 closed

[2021-09-04 11:50] gabriel-kohen-by opened #80633 "Any function link incorrect"
"Template functions - any - Azure Resource Manager" link in "Output iteration in ARM templates" documentation page is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 834eb528-d20c-19cb-6785-a1061703f15a
* Version Independent ID: 8b1ac257-3427-7a49-6daa-e3d2cd283434
* Content: [Define multiple instances of an

[2021-09-04 12:29] BhargaviAnnadevara-MSFT commented on #80633
@gabriel-kohen-by Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-04 15:40] andylim0221 opened #80634 "Multi-AWS-accounts connection with Azure Security Center"
From the documentation site, there's shown the method of integrating with one AWS accounts. What if there are use cases where I have to integrate with multiple accounts (~100 for example) across AWS Organization under Control Tower?

Do I have to add them one by one? Or can I utilize only one account that aggregates all the Security Hub findings across the organization and use that account as an e

[2021-09-04 16:30] brianlehr commented on #28782
Thanks for providing feedback that helps improve our documentation.  Unfortunately, we were unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We've updated the documentation re: DNS for Public IPs to be more clear: [https://docs.microsoft.com/azure/virtual-network/public-ip-addresses#dns-name-label](https://docs.microsoft.com/azure/virtual-network/

[2021-09-04 16:30] #28782 closed

[2021-09-04 16:33] brianlehr commented on #23293
Thanks for providing feedback that helps improve our documentation.  Unfortunately, we were unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We've updated the documentation re: the concept of "secure by default" for Standard Public IPs to be more clear: [https://docs.microsoft.com/azure/virtual-network/public-ip-addresses#sku](https://docs.microso

[2021-09-04 16:33] #23293 closed

[2021-09-04 16:51] michaelspinks opened #80635 "Storage Account permissions for App logging"
It would be beneficial to know whether you must allow All Networks on your Storage Account when applogging to Blob from App Service.  It doesn't seem to work when entering the Outbound IP Address of the App Service.  So what IP Address does the app logging could from for the purposes of the Storage Account Firewall, or it is simply you cannot restrict it and have to Allow All Networks?

---
#### D

[2021-09-04 21:58] femsulu commented on #80635
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-04 22:02] femsulu commented on #80634
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-04 22:41] mabicca commented on #64553
@Dbakevlar are we ok to close this out? Was the other document updated?

[2021-09-04 23:15] curtand commented on #64673
Hi @GitHubUser1339
The reference for API commands to assign Azure resource roles is at https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest

For Azure AD directory roles, the reference is at https://docs.microsoft.com/en-us/graph/api/resources/rolemanagement?view=graph-rest-beta

I'm just about to publish the first of our article updates to "Assign an Azure AD  ro

[2021-09-05 01:01] zakariakhorf commented on #34451
Hey, can anyone elaborate more  of this solution ?

[2021-09-05 09:59] AshleyYangSZ opened #80643 "Have trouble when start cosmosDB emulator"
[Enter feedback here]
Hi Team,

I followed the doc to install and start cosmosDB emulator, but every time I start it, a Just-in-time debugger windows will pop up like this
![image](https://user-images.githubusercontent.com/72924235/132122756-3b5900c6-ce59-42b2-8ab2-ae394059de1d.png)
This is the .NET framework installed in the computer,
![image](https://user-images.githubusercontent.com/72924235/13

[2021-09-05 10:29] iqfareez opened #80644 "Some out of date instruction in article"
In this [section](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-train-score#visualize-the-data), there is no longer an option to **Right Click > Visualize > Dataset output**. Do **Right Click > Preview Data** instead.

In this [section](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-train-score#clean-missing-d

[2021-09-05 11:49] memildin commented on #80634
Hi @andylim0221, thanks for the feedback and for taking the time to help us improve the docs.

Currently, Security Center doesn't support onboarding at-scale. But the good news is that this is something we're working on, and it's planned to arrive in the near future.

In the meantime, you can aggregate all findings into a single event hub and connect that.

Howver, SSMAutomation will not work on t

[2021-09-05 11:49] #80634 closed

[2021-09-05 14:21] psmanhas commented on #80643
@AshleyYangSZ Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-05 14:23] psmanhas commented on #80644
@iqfareez Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-05 14:32] memildin commented on #79984
Hi @mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh, thanks for the feedback and for taking the time to help us improve the docs.

I've made an update to correct the issue you raised. The change should go live within the next 48hrs.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-09-05 14:32] #79984 closed

[2021-09-05 16:38] gmantri opened #80647 "Continuation tokens not supported for Node SDK?"
Reading [`here`](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-pagination#continuation-tokens), I found the following statement:

I am not sure if this is correct. I mean I can use continuation tokens fine with Node SDK.

Would appreciate if the team can clarify.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-09-05 17:17] PramodValavala-MSFT commented on #80462
@tomcam Just following up here... Hope my previous comment clears things up.

[2021-09-05 18:06] ohadschn opened #80648 "Bicep object and array equality / comparison"
The current explanation for (in)equality only touches `int`, `string`, and `bool` data types, which are pretty trivial to understand anyway.
The more interesting types are arrays and objects - how are those compared exactly?

- Value or reference comparison?
- Order sensitivity?
- How are repetitions handled?
- etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-09-05 18:12] ohadschn opened #80649 "intersection - document returned array order"
Since array comparison in Bicep is order-sensitive, it's important to know the order returned from `intersection`, for example I might want to do something like this: `var isSubset = intersection(s1, s2) == s1`.
It looks like the first array passed to the function determines the order, if that is guaranteed it should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-09-05 18:16] btardif commented on #80625
@ccompy / @madsd this is an old doc dealing with ASEv1... i'm thinking this should probably be archived rather than trying to fix it.

[2021-09-05 18:41] femsulu commented on #80647
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-05 18:45] femsulu commented on #80648
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-05 18:47] femsulu commented on #80649
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-05 19:06] memildin commented on #80232
Hi @helderpinto, thanks for the feedback and for taking the time to help us improve the docs.

We've moved the MCAS note to the relevant part of the docs and tried to clarify the situation wrt when that's needed. Those changes will go live within 48hrs. Many of your other points are things we'll consider as we revamp this page (and others) going forward.

I'm going to close this issue, but feel fr

[2021-09-05 19:06] #80232 closed

[2021-09-05 23:11] curtand commented on #64673
For further updates, the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-09-05 23:11] #64673 closed

[2021-09-05 23:12] curtand commented on #69965
Hi @binnum

[2021-09-05 23:12] curtand commented on #69965
Hi @binnum
Thanks for your contribution to our documentation!
The reference for API commands to assign Azure resource roles is at https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest

For Azure AD directory roles, the reference is at https://docs.microsoft.com/en-us/graph/api/resources/rolemanagement?view=graph-rest-beta

I'm just about to publish the first of our

[2021-09-05 23:12] #69965 closed

[2021-09-06 00:09] cataggar opened #80650 "explicitly set `WEBSITES_ENABLE_APP_SERVICE_STORAGE` to `false`"
This document says:

I had to explicitly set `WEBSITES_ENABLE_APP_SERVICE_STORAGE` to `false` to disable the mount. See https://github.com/Azure/azure-functions-host/issues/7649.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad93cdc-b192-914c-796c-b1e022d31df5
* Version Independent ID: 56f48dbd-a0f0-a2ce-6ccc-0a82ae5

[2021-09-06 00:58] Svijay-msft commented on #80362
@tbienvenu - Could you please create a support ticket for this issue. So that support engineer can take a deeper look into this to help. Please Note, GitHub forum is specifically for logging document feedbacks or doc issues.

How to create support request: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2021-09-06 01:33] yichungyu opened #80651 ""Destination requirements" section does not explicitly mention limitation for file storage"
[Enter feedback here]
In the "Destination requirements" of the document, it is not explicitly stated that file storage storage is NOT support for Azure Storage Account. This is implied in the Note section where the limitation for ADLS Gen2 accounts is described, but not all customers are aware of the hierarchical namespace nature of ADLS Gen2 accounts, and they may not be able to make the connecti

[2021-09-06 02:08] ram-msft commented on #80452
Thanks @krisbock . Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/171468 to fix the typo.

[2021-09-06 02:09] ram-msft commented on #80452
@krisbock  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-06 02:09] #80452 closed

[2021-09-06 02:13] ram-msft commented on #80457
@nishankgu Can you please help with the document update for CLI2.0 - az ml workspace share in [manage workspace](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-assign-roles#manage-workspace-access) access.

[2021-09-06 02:19] sandeep-ma commented on #63746
Is it scrapped? I still cannot find it.

[2021-09-06 02:42] yuriwoof opened #80654 "Specifing the additon of "--os-type" for OS disk case"
If we copy managed disk with following steps. We will not be able to create virtual machine from Azure portal ("+Create VM" menu is disabled).

![image](https://user-images.githubusercontent.com/1770342/132152864-9555b839-0314-415d-9d77-6294bcb55992.png)

This is because OS type was not specified and Azure cannot recognize whether this disk is OS disk.
So, please add "--os-disk" option in the belo

[2021-09-06 02:56] chshihMSFT opened #80656 "regarding reindex priority statement in zh-tw is incorrect"
Traditional Chinese version of following statement is incorrect.
zh-tw: "索引轉換會使用您布建的 ru，但優先順序**高**於 CRUD 作業或查詢。"
should be modified to:
zh-tw: "索引轉換會使用您布建的 ru，但優先順序**低**於 CRUD 作業或查詢。"

original in en-us: "The index transformation uses your provisioned RUs but at a lower priority than your CRUD operations or queries."

doc link:
[zh-tw] https://docs.microsoft.com/zh-tw/azure/cosmos-db/index-policy#

[2021-09-06 02:58] shashishailaj commented on #80654
@yuriwoof Thank you for your feedback . We will investigate and update the thread.

[2021-09-06 03:20] BryanTrach-MSFT commented on #80167
@annaselway Thank you for the update. We have gone ahead and reassigned the issue to the doc author to have them review the document and make any necessary changes.

[2021-09-06 03:33] BryanTrach-MSFT commented on #80441
@ahofman We apologize for the frustration that you have encountered with this.

We took the time to try and reproduce the solution but did not encounter the error that you shared.

Can you please reach out to us at azcommunity@microsoft.com with the subject ATTN: Bryan and in the body include your subscription ID. This will help us enable a free technical support ticket for you so that you can wor

[2021-09-06 03:33] #80441 closed

[2021-09-06 03:40] BryanTrach-MSFT commented on #80650
@cataggar Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-06 03:47] SatishBoddu-MSFT commented on #80443
 #

[2021-09-06 03:48] SatishBoddu-MSFT commented on #80407
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-09-06 03:48] #80407 closed

[2021-09-06 04:17] BryanTrach-MSFT commented on #80650
@cataggar We agree that this could be called out better. We created a PR to alert others that you must set this to false to dismount the storage.

We are waiting on the doc author to approve the change, which should be done on Tuesday or Wednesday.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2021-09-06 04:17] #80650 closed

[2021-09-06 04:25] SwathiDhanwada-MSFT commented on #80651
@yichungyu Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-06 04:44] CHEEKATLAPRADEEP-MSFT commented on #80517
@sunscorch  I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-09-06 04:44] #80517 closed

[2021-09-06 04:45] CHEEKATLAPRADEEP-MSFT commented on #80537
@Nimleth  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-06 04:45] #80537 closed

[2021-09-06 04:47] CHEEKATLAPRADEEP-MSFT commented on #80566
@msdpalam I could not find any typo issue in the document. As per the error message it looks like the user  already exists in the current database.

[2021-09-06 04:49] AnuragSharma-MSFT commented on #80469
@manishjha2088 I have observed the same. Thanks for pointing out. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-06 04:50] AnuragSharma-MSFT commented on #80500
@koder101 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-06 04:50] #80500 closed

[2021-09-06 04:52] AsiaWatson opened #80659 "Azure AD Groups and mandatory SWSD role selection"
The SWSD Enterprise Application in Azure AD requires you to select a SolarWinds Service Desk role when you add assignments for an Azure AD group to the Enterprise Application:

![image](https://user-images.githubusercontent.com/61215008/132162113-c707f4e8-bc7d-4f7a-adef-6180a5889b56.png)

This mandatory Role field results in limiting the provisioning of groups to only members that share exact same

[2021-09-06 04:55] SumanthMarigowda commented on #62895
@skdola https://docs.microsoft.com/en-us/azure/storage/blobs/storage-feature-support-in-storage-accounts

[2021-09-06 04:56] saiut commented on #80023
Hi @v-sreekesh , if you have any updates, please tell me these updates.

[2021-09-06 05:16] BhargaviAnnadevara-MSFT commented on #80387
@sds111 Thanks for confirming. The tutorial in question is more of a quickstart to help one get familiarized and build hands-on experience with Azure App Service. Please feel free to follow standard best practices for production scenarios.

At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further que

[2021-09-06 05:16] #80387 closed

[2021-09-06 06:13] RohitMungi-MSFT commented on #80506
@ccg-ahagen This seems to be a limitation with the package if the python version is >3.7 which seems to be the case with the databricks runtime where python version is 3.8.10

@rastala The documentation probably needs an update in this [section ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-databricks-automl-environment#set-up-a-databricks-cluster)to use python version

[2021-09-06 06:15] SadiqhAhmed-MSFT commented on #80601
@VGSandz Closing this issue for now. If you've any further questions in this matter, you may continue the conversation in the forum shared in my previous post.

[2021-09-06 06:15] #80601 closed

[2021-09-06 06:16] SadiqhAhmed-MSFT commented on #80567
@ManasaDevadas Closing this issue for now. Feel free to ping if you've any further questions in this matter.

[2021-09-06 06:16] #80567 closed

[2021-09-06 06:17] KalyanChanumolu-MSFT commented on #80656
@chshihMSFT Thank you for taking the time to report this issue.
I have filed an internal [work item](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/483349) for the localization team to have a look.

We will proceed to close this issue on GitHub.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-06 06:17] #80656 closed

[2021-09-06 06:23] #80486 closed

[2021-09-06 06:38] GitaraniSharma-MSFT commented on #64209
@mscatyao , could you please share updates on this issue, if any?

[2021-09-06 07:02] ssivas commented on #80659
@AsiaWatson , Thank you for your feedback . We will investigate and update the thread.

[2021-09-06 07:03] HarshitaSingh-MSFT commented on #80529
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-09-06 07:07] Nimleth commented on #80537
Hi,

Why is it closed? I didn't get an answer and the document wasn't updated.

Or is the answer 'no, we're not leveraging AZs'?

Rgds,
Dennis

[2021-09-06 07:28] rjnfrazao commented on #34451
I am facing the same problem. I followed all suggestions above, including the last one by changing the order of EXPOSE and WORKDIR. But it didn't work.

My EXPOSE in Docker file is 80, but it get changed to 8080 and 8081. See below my log file.

2021-09-06T07:24:43.787Z INFO  - docker run -d -p 3673:8080 --name document-manager-app_0_846ceeff -e WEBSITES_PORT=8080 -e WEBSITE_SITE_NAME=document-man

[2021-09-06 08:32] yoelhor commented on #80616
Unfortunately there is not way to remove an element form the collection. But, there should be a way to nullify the collection.  If you are looking for nullify/reinitialize the collection, please let us know.

[2021-09-06 08:39] yoelhor commented on #80529
Please check out [this article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-web-app?tabs=visual-studio#step-21-register-the-app), you should see a screenshot the demonstrates how to copy the client ID.

As for the client secret, it visible only once the secret is created. After that you can't see it again. You need to create a new one and store the s

[2021-09-06 08:47] rsrinivasanhome commented on #80529
Thanks @yoelhor  .  What is the significance of the secret id ?   Why is it getting displayed ? I got confused between the client id and secret id.

[2021-09-06 08:55] yoelhor commented on #80529
Secret ID (in this case) is meaningless. Use the secret **value**.

![image](https://user-images.githubusercontent.com/20111866/132189460-4dc6172e-56b7-4531-b825-4b655b29517e.png)

[2021-09-06 08:55] aseminjakiw opened #80662 "Use Managed Identity to read messages from IoT Hub built-in IoT endpoint"
Hi there,

Is it possible to use Azure AD token to read device-to-cloud messages directly from the built-in endpoint instead of using a shared access key?

We have the following use case:
An IoT Hub and a custom .NET backend service running inside Azure VM or Azure App service with a Managed Identity attached. We would like to use the Managed Identity to connect to the built-in endpoint and read m

[2021-09-06 09:07] JCS-Enterprises-LLC-PRG opened #80663 "Copyright-License(2021)JCS-Enterprises-LLC-PRG, Patrick Rene Guerrero"
[JCS-Enterprises-LLC]
https://github.com/MicrosoftDocs/azure-docs/blob/c0bc9a2d35b88dc7471640390ee3ebd43e567dc5/CODE_OF_CONDUCT.md
https://github.com/MicrosoftDocs/azure-docs/blob/c0bc9a2d35b88dc7471640390ee3ebd43e567dc5/CONTRIBUTING.md
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2baa11a5e8

[2021-09-06 09:15] #80455 closed

[2021-09-06 09:18] SwathiDhanwada-MSFT commented on #80159
@aelij  I have made changes to the document and the changes will reflect soon. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-09-06 09:19] SwathiDhanwada-MSFT commented on #80066
Assigning to content author @lgayhardt for review

[2021-09-06 09:20] GitaraniSharma-MSFT commented on #80663
@JCS-Enterprises-LLC-PRG , could you please provide some details on the issue you are facing?

[2021-09-06 09:24] #80159 closed

[2021-09-06 09:32] psmanhas commented on #80510
@axelriet Any update on this? Awaiting your response.

[2021-09-06 09:38] gxgrammatikos opened #80664 "Change title to the "Enable company branding in user flow pages" section"
I think the title here should change

https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui?pivots=b2c-custom-policy#enable-company-branding-in-user-flow-pages

From: Enable company branding in user flow pages
To: Enable company branding in custom policy pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-09-06 10:00] #80529 closed

[2021-09-06 10:13] koncarevicradovan opened #80665 "Add better description"
I was struggling with following basics steps that you can create account but not login with it. Please emphasize that IdentityExperienceFramework  and ProxyIdentityExperienceFramework needs to be created under AAD blade and not under B2C blade. That resolved my issue.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-09-06 10:13] yoelhor commented on #80664
Dear @ gxgrammatikos, thanks for the feedback. I'm updating the article with the correct title. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-09-06 10:21] #80664 closed

[2021-09-06 10:26] hanslai commented on #78055
Hi @aricrowe57, sorry for the late reply.

Actually, that is not the case, my protected web API works fine and I was able to get all the required tokens in production scenario.

Yet, since all the web API are protected, my question was what is the best way to do automatic Unit or Integrated testing with Microsoft identity platform?  Please refer to my July 20 comment.

[2021-09-06 10:54] SalmanPadder25 commented on #16950
Basically, there is a template (Setting object) already for the Unified Guest so we need to remove that and then apply the settings.

Step1: get the Id of the template.
Get-AzureADObjectSetting -TargetObjectId $groupID -TargetType Groups

Copy the Id from the output next to the DIsplayName =>  Group.Unified.Guest

Step 2: Remove the setting object from the group.
Remove-AzureADObjectSetting -Targe

[2021-09-06 10:55] boskjoett opened #80667 "Show an example of how to mount as a docker volume"
On this page it would be useful with an example showing how to mount an NFS Blob Storage as a docker volume.
The only example is how to mount it in a Linux file system.

I am sure a lot of developers would like to use this feature for docker volumes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc0bd3-6245-82ad-e78

[2021-09-06 11:05] asergaz commented on #80328
Hello @gary918 I followed the step by step thoroughly and successfully  ran the ARM Template deployment from my machine. I suspect this is related with your environment. As this is not related with a doc enhancement or bug I will proceed and close the issue.

Please if you continue to see the issue after confirming ou have the latest versions of extensions and CLI, open a new issue in [Microsoft Q

[2021-09-06 11:05] #80328 closed

[2021-09-06 11:33] chaisen2006 opened #80669 "Not use SSMS and automate using Azure Devops"
Hi Team,

Can you please direct me to a place where we can achieve the section below using Azure Devops ( automated ) and not using SSMS as given in the documentation.

We need to login using Azure SQL Server Admin using SSMS and create the users, instead we intend to have this done via Azure Devops.

Section
Create a contained user in Azure SQL Database representing the Azure AD group

Thanks
Sid

[2021-09-06 11:53] yoelhor commented on #80665
Both the IdentityExperienceFramework and ProxyIdentityExperienceFramework apps can be registered under the Azure AD **B2C** blade. So, I'm not quite sure I understand what you say: *needs to be created under AAD blade and not under B2C blade. That resolved my issue.*

[2021-09-06 12:08] koncarevicradovan commented on #80665
When I register under Azure AD B2C blade it is not working for me, when I do that under Azure AD it is working.

[2021-09-06 12:12] yoelhor commented on #80616
To initialize a string collection, you can use the following claims transformation:

1. Create a new empty string collection (in this example, emptyStringCollection)
2. Call the claims transformation (in this example, NullifyNames)
3. Set a value for the first element in the collection (in this example, empty string).

[code]

After the call to the claims transformation, the names (stringCollectio

[2021-09-06 12:47] Auburg opened #80672 "I can't get these code snippets for authentication to work"
[Enter feedback here]
I've tried the JS and C# code snippets and always get a 401 Unauthorized error saying
`HMAC-SHA256 error="invalid_token", error_description="Invalid Signature"`

I'm using the client id and secret from the portal for my app config and i'm passing in a base 64 encoded version of the secret so what am i doing wrong ?

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-09-06 12:49] SwathiDhanwada-MSFT commented on #80583
@hardikpithadiya Application Insights Connector has been replaced with Azure Monitor Logs Connector. Kindly use Azure Monitor Logs connector to get required data.
![image](https://user-images.githubusercontent.com/48976275/132220003-8f6a834d-116b-4bb1-8afe-53c518fce8db.png)
As there are no further documentation changes, we will close the issue for now. If there are further questions , please rever

[2021-09-06 12:49] #80583 closed

[2021-09-06 12:52] shiniizuka commented on #79957
@cherylmc - Any update?

[2021-09-06 13:16] preethamrajk opened #80673 "Please share an example which talks about overriding secureString parameters such as Azure SQL DB connection strings."
How do we override secureString parameters such as connection String?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 126c00f8-e9d2-4af1-65b1-67a1e5516197
* Version Independent ID: 30660b73-1e11-3e1f-f2c8-1daa094a410a
* Content: [Automated publishing for continuous integration and delivery - Azure Data Factory](https://

[2021-09-06 13:19] shashishailaj commented on #80665
@koncarevicradovan Thank you for your feedback . We will investigate and update the thread.

[2021-09-06 13:21] shashishailaj commented on #80667
@boskjoett Thank you for your feedback . We will investigate and update the thread.

[2021-09-06 13:45] dwanjuhi opened #80674 "Update documentation to mark Azure AD Graph as deprecated and use MS Graph instead"
Since AAD Graph is being deprecated, should we update the documentation here to use MS Graph?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3002a469-b615-6231-9e96-6ce1917d1bbd
* Version Independent ID: fc8af44d-7880-3541-9962-da43e2707960
* Content: [Prerequisites for Azure Active Directory reporting API](https://doc

[2021-09-06 14:17] ingebeumer opened #80675 "replace Log Analytics agent in image"
Hi,
On August 24, there was an Azure Community Announcement mentioning that Log Analytics agent will be retired on August 31, 2024. In section https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-security?source=docs#cloud-computing-security-data-flow there's an image in the lower left corner that mentions 'Your company using Log Analytics agent'. Please review if this needs to be replac

[2021-09-06 14:18] Lucas-MSFT opened #80676 "Helper SSH pod is not removed upon pod exit"
Our documentation shares:

Remove SSH access
When done, exit the SSH session, stop any port forwarding, and then exit the interactive container session. After the interactive container session closes, the pod used for SSH access from the AKS cluster is deleted.

Although, this is not the case. Upon exiting the Pod it can either end up staying with Error/Completed status indefinitely, but will not

[2021-09-06 14:53] SumanthMarigowda commented on #79132
@x509cert Working Offline, hence closing this thread

[2021-09-06 14:53] #79132 closed

[2021-09-06 14:55] SumanthMarigowda commented on #80438
@anthfuller PR has been merged! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-06 14:55] #80438 closed

[2021-09-06 14:57] SumanthMarigowda commented on #80473
@krisrajzlive  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. Please share the screenshot of the error message and detailed information of the issue  We will now proceed to clo

[2021-09-06 14:57] #80473 closed

[2021-09-06 14:59] SumanthMarigowda commented on #80514
@jamesorlando Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Your feedback has been shared with the content owner for further review.

[2021-09-06 15:00] skyovi opened #80677 "Use /metadata/identity/oauth2/token endpoint to check the VM in the specific tenant?"
We are developing a window service that will be deployed in Azure VMs. However, we want to restrict the the windows service to be used in VMs created in specific AAD tenants. We are planning to use /metadata/identity/oauth2/token endpoint to validate the tenant.

The windows service gets a token using the [token endpoint](http://169.254.169.254/metadata/identity/oauth2/token) from a VM and validat

[2021-09-06 15:10] #80339 closed

[2021-09-06 15:16] MS-rav0kk opened #80678 ""Verify Locally" session for Down-level devices"
Add a section on how to verify locally for down-level devices (something on Event Viewer), because as you know "dsregcmd /status" only works for Windows 10.

**Source:** Microsoft-Workplace Join
**EventId:** 201
**Message:** Hybrid Azure AD Join operation succeeded. Activity Id: 00000000-0000-0000-0000-000000000000
Registration Service URI: https://enterpriseregistration.windows.net/EnrollmentServ

[2021-09-06 15:19] SHERMANOUKO commented on #80396
#reassign: @henrymbuguakiarie

[2021-09-06 15:39] vipulsparsh commented on #80521
@aspnet4you This is a expected behavior, the InPrivate mode hides the device information and thus the device authentication cannot be done in Azure AD , hence the conditional access will fail.

The same is also mentioned here : https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions

![image](https://user-images.githubusercontent.com/6358091

[2021-09-06 15:39] #80521 closed

[2021-09-06 15:43] psmanhas commented on #80662
@aseminjakiw Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-06 15:51] psmanhas commented on #80676
@Lucas-MSFT Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-06 15:51] psmanhas commented on #80676
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-09-06 16:00] SwathiDhanwada-MSFT commented on #80675
@ingebeumer Thanks for your feedback.

Assigning to content author @bwren   for review.

[2021-09-06 16:02] vipulsparsh commented on #80594
@brummens Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-06 16:07] czmirek opened #80679 "Add note about SSH password"
The page contains the following code.
[code]

Please add a note that the password must actually be "**Docker!**" and nothing else. I didn't test it for case sensitivity. Configuring the password to any other string results in refused connection in the SSH page in the portal.

I find this behavior quite silly although I can imagine implementation was easier this way. SSH passwords shouldn't be some

[2021-09-06 16:19] veikkoeeva commented on #34451
I don't know if this helps: https://github.com/veikkoeeva/dockerservice. This used to work "back then" when I got this particular problem solved. Obviously it's all old versions now, I don't know if it still works.

[2021-09-06 17:15] swinarko commented on #75694
SSIS pricing example is being published.  #please-close

[2021-09-06 17:15] #75694 closed

[2021-09-06 17:56] #80362 closed

[2021-09-06 18:05] GitaraniSharma-MSFT commented on #80511
@yinoa , yes, NSG and UDR support for private endpoints is in public preview. As mentioned by @ivapplyr , sometimes it takes 15 mins for the registration to be updated.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-06 18:05] #80511 closed

[2021-09-06 18:18] mike-urnun-msft commented on #80122
Hello @v-bbalaiagar - For the behavior observed above from the v2 -> v3 migration, I recommend you open a new issue at either of the below instead and we'd help get clarity on the matter:

- [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)
- [Azure Functions Service Bus Extension repo: Issues](https://github.com/Azure/azure-functions-servicebus-extension/issues)

Since this cha

[2021-09-06 18:18] #80122 closed

[2021-09-06 18:25] GitaraniSharma-MSFT commented on #80585
@vrdse , We have assigned this to the content owner/author to forward it to the PG team.

@vhorne , could you please assign this Product feedback to the PG team for review?

[2021-09-06 18:38] jjindrich opened #80681 "ASE v3 and Azure Firewall"
Hi, I can't find details how lock down ASE v3 with Azure Firewall. I found this only for v2
https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29246f12-744e-08a1-c222-b0eae866b401
* Version Independent ID: 6e925f96-dc31-d400-2681-2e387b40ed

[2021-09-06 18:41] ecfan commented on #63746
@divyaswarnkar: Can you please provide an update? Thanks!

[2021-09-06 18:47] SatishBoddu-MSFT commented on #80662
Hello @aseminjakiw
Please refer to the below documentation, I hope this may help with the initial query.

_In IoT Hub, managed identities can be used for egress connectivity from IoT Hub to other Azure services for features such as message routing, file upload, and bulk device import/export. In the below article, you learn how to use system-assigned and user-assigned managed identities in your IoT

[2021-09-06 18:58] nick-o opened #80683 "Inconsistent capitalisation of powershell cmdlets"
Hi,

In the linked article there is some inconsistent spelling of powershell cmdlets: `New-AzManagementPartner`, `Get-AzManagementPartner` and `Remove-AzManagementPartner` should all be spelled with a capital first letter as here, not with lowercase letters as in the article. The actual cmdlet names are actually spelled like above in Pascal Case (can be confirmed by typing them into powershell and

[2021-09-06 19:09] Lucas-MSFT opened #80684 "Issues with latest nginx-ingress helm chart"
Currently the latest nginx-ingress helm chart has issues when automatically deploying with cluster. We must add the following lines for it to deploy properly, without tagging empty digests it tries to pull a digest that does not exist. When using latest version, controller pod fails with unknown flag: --controller-class if you pull the logs from the nginx controller.

[code]

Discussed: https://st

[2021-09-06 19:30] aseminjakiw commented on #80662
Hello @SatishBoddu-MSFT

I'm aware of that and we use this feature already for another use case. But my question is not about connecting to another Azure service. Let me give you an example:

Lets say there is an IoT Hub and there is an Azure VM. On this Azure VM runs a custom windows service. This windows service wants to read device-to-cloud messages from the IoT-Hub. If the windows service uses

[2021-09-06 19:45] itguysocal commented on #80562
![2021-09-06_12-44-04](https://user-images.githubusercontent.com/43482381/132256720-b5da3851-23e7-4934-bbbc-52e3e26cac40.jpg)

Sure - see attached error "an error occurred while processing your request."
I've reproduced this with two separate tenants.

[2021-09-06 21:32] teavanist opened #80685 "Unclear statement "Requiring users to do multi-factor authentication when necessary.""
This statement in the first paragraph is unclear and is not explained in the rest of the document:

How is this different from mandating MFA for all users and admins and when Azure Resource Manager APIs are accessed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independe

[2021-09-06 22:39] msdpalam opened #80686 "Failed to add <ws> as Storage Blob Data Contributor for <store> : The role assignment already exists."
Following the article, when we try to add the Blob Data Contributor role, I get the error:
"
Failed to add Role assignment
Failed to add <ws-name> as Storage Blob Data Contributor for <store-name> : The role assignment already exists..

It sounds like the ML Workspace provision step, does add the role to the store, so the following step is redundant:

_Enable studio
Azure Machine Learning studio i

[2021-09-07 00:20] KrishnaG-MSFT commented on #80683
@nick-o Thanks for the question! We are investigating and will update you shortly.

[2021-09-07 00:24] SatishBoddu-MSFT commented on #80662
Hello @aseminjakiw

**Response from Microsoft Team:**
`it's not directly supported, but you can route messages to separated Event Hubs added as custom endpoint because Event Hubs itself supports Azure AD authentication (Managed Identity).`

[Control access to IoT Hub using Azure Active Directory | Microsoft Docs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-dev-guide-azure-ad-rbac)

Plea

[2021-09-07 01:00] eranganovade opened #80687 "Cannot find "pgbouncer.enabled" server parameter"
In the documentation it states:

However, when I try to look at the "Server parameters" blade, I don't see this setting. I am on the General Purpose pricing tier.

Screenshot from the Azure portal:

![image](https://user-images.githubusercontent.com/59552878/132269180-b4e4c69f-cc0b-4acd-b2c1-7b1c8e2382d8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-09-07 01:48] MonikaReddy-MSFT commented on #80677
@skyovi - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-07 02:02] CHEEKATLAPRADEEP-MSFT commented on #80669
@chaisen2006  Thanks for the question! We are investigating and will update you shortly.

[2021-09-07 02:03] CHEEKATLAPRADEEP-MSFT commented on #80673
@preethamrajk  Thanks for the question! We are investigating and will update you shortly.

[2021-09-07 02:23] SamaraSoucy-MSFT commented on #80435
I'm going to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-07 02:23] #80435 closed

[2021-09-07 02:23] SamaraSoucy-MSFT commented on #80442
I'm going to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-07 02:23] #80442 closed

[2021-09-07 02:27] SamaraSoucy-MSFT commented on #80434
Here is an example in Java for using PeekLock: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues-legacy#receive-messages-from-a-queue

Your code for setting to mode is correct. You call complete() yourself in this mode- it allows you to delay message completion until you are sure processing completed successfully. If the message is not completed within

[2021-09-07 02:27] #80434 closed

[2021-09-07 02:36] SamaraSoucy-MSFT commented on #80482
@rudolphjacksonm can you check which plan you are on? I don't see it in the ARM template. A single-tenant (Standard plan) based logic app currently supports only the system-assigned identity.

[2021-09-07 02:36] bigteejay opened #80689 "From BulkExecutor to List<Task> with dynamic types?"
Given the [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-migrate-from-bulk-executor-library#create-tasks-for-each-operation), I am trying to implement a bulk insert.

[code]

When the code tries to add the task, I get the following exception...

[code]

All the documentation demonstrates using typed classes.  However, the payloads I am working with will have a `dynamic

[2021-09-07 02:46] vikancha-MSFT commented on #80531
@yuxisun1217 Thanks for the feedback. We are updating the fwd links. In the mean time you can get the latest driver at https://download.microsoft.com/download/b/d/d/bdd729ee-5003-4427-ace4-a7b9172b2e29/NVIDIA-Linux-x86_64-470.63.01-grid-azure.run

[2021-09-07 03:12] HarshitaSingh-MSFT commented on #80520
@ajay-ch, you are right. We are discussing this, please be patient.

[2021-09-07 03:21] ram-msft commented on #80686
@msdpalam Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-07 03:32] MayankBargali-MSFT commented on #80044
@pmozbert Apology for the delay. You need to use the [Azure.Messaging.Servicebus.Administration](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.administration.correlationrulefilter?view=azure-dotnet) library for the administration operation such as correlation filter. [This code](https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Azure.Messaging.ServiceBu

[2021-09-07 03:36] vipulsparsh commented on #80674
@dwanjuhi Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-07 03:37] vipulsparsh commented on #80678
@MS-rav0kk Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-07 03:37] Megatron1024 opened #80690 "Need instructions for clean up too"
great article! Thank you.
It would be great if you can please add instructions to clean up too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 298b87f4-b6eb-5642-7ab5-cd6df709390d
* Version Independent ID: 0518cce4-7677-6d63-979d-e0a9e532efc0
* Content: [Quickstart: Create a Node.js web app - Azure App Service](https:/

[2021-09-07 03:38] vipulsparsh commented on #80685
@teavanist Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-09-07 03:46] rmmcgr opened #80691 "Azure B2C with AAD (Multi-tenant) Pre-requisites not clear enough"
This document seems to be assuming that in the pre-requisites, the where the reader is advised to follow the initial getting started with custom policies document, that they have gone down the path (in that document) of using "Social and Local Accounts", rather than starting with "Local Accounts" only.

This means that later on there are various elements missing from the TrustFrameworkBase.xml tha

[2021-09-07 03:48] YutongTie-MSFT commented on #80497
@jreynolds01 Thanks again for pointing this out. Will update this document soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-07 03:48] #80497 closed

[2021-09-07 03:51] SnehaAgrawal-MSFT commented on #80679
@czmirek Thank you for your query . We will investigate and update the thread.

[2021-09-07 03:52] HarshitaSingh-MSFT commented on #80672
Hello @Auburg , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-09-07 04:11] shashishailaj commented on #80681
@jjindrich Thank you for your query . We will try to check internally and update the thread.

[2021-09-07 04:12] shashishailaj commented on #80684
@Lucas-MSFT Thank you for your feedback . We will investigate and update the thread.

[2021-09-07 04:14] shashishailaj commented on #80687
@eranganovade Thank you for your query . We will investigate and update the thread.

[2021-09-07 04:15] shashishailaj commented on #80689
@bigteejay Thank you for your query . We will investigate and update the thread.

[2021-09-07 04:16] mderriey-prospa commented on #68274
I came here with the same question, it's unclear to me in which cases App Configuration uses its managed identities.

We're using AAD authentication to connect to App Configuration from .NET apps, and found that we also need to configure AAD authentication to Key Vault for secret references to resolve properly (matching the second diagram from @Cedric-Bravo in the previous comment).

[code]

---

[2021-09-07 04:22] shashishailaj commented on #80691
@vipulsparsh Thank you for your feedback . We will investigate and update the thread.

[2021-09-07 04:24] shashishailaj commented on #80690
@Megatron1024 Thank you for your great suggestion . We will investigate and update the thread.

[2021-09-07 04:36] baatch opened #80692 "Instructions on how Azure Data Factory (ADF) support Databricks Repos?"
Please provide instructions how this is supported and used: (**[Does Azure Data Factory (ADF) support Repos?](https://docs.microsoft.com/en-us/azure/databricks/repos#does-azure-data-factory-adf-support-repos)**)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0edc68be-c91d-f305-d1d9-8999778b6a7f
* Version Independent ID

[2021-09-07 04:36] lucabovo commented on #80278
Ok, this is the expected behaviour.
Thanks for your kind reply!

[2021-09-07 04:36] #80278 closed

[2021-09-07 05:12] bigteejay commented on #80689
Awesome, greatly appreciated!  Also, (an update) I **can** get the same code to work if I import the Newtonsoft libraries and type the data as JObject.

[2021-09-07 05:56] swinarko commented on #80669
You could try running sqlcmd (https://docs.microsoft.com/sql/tools/sqlcmd-utility?view=sql-server-ver15) in Azure DevOps pipeline to execute the relevant T-SQL script, connecting to the database server with an AAD user who has at least the ALTER ANY USER permission.  #please-close

[2021-09-07 05:56] michael-freidgeim-webjet opened #80693 "Multiple addresses in ClientIpAddress fields"
In individual Audit Log Details I see 3 ClientIpAddress e.g.
ClientIpAddress 20.92.177.18, 162.158.2.18, 147.243.116.119

Please describe which one is the real customer address and what are other 2 ?

Update: From the search I found that in the example above middle IP is CloudFlare EdgeServerIP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-09-07 05:56] #80669 closed

[2021-09-07 05:57] aseminjakiw commented on #80662
Hello @SatishBoddu-MSFT

Thanks for the clarification, though not the answer I was hoping for.

You can close this query, thank you for your effort.

[2021-09-07 05:57] #80662 closed

[2021-09-07 06:05] swinarko commented on #77638
I've tested it using a SAS URI of blob container in Azure Storage v2 (ADLS Gen2), it works fine.  #please-close

[2021-09-07 06:05] #77638 closed

[2021-09-07 06:09] RyanHill-MSFT commented on #80364
Apologies for the delayed response. I've assigned the doc author to update the doc appropriately.

[2021-09-07 06:28] SnehaAgrawal-MSFT commented on #80590
@michaelspinks Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-09-07 06:34] kahawai-sre commented on #79973
Thanks @DerekHerman-MSFT
SO for this "The process of approving the creation of a private endpoint grants implicit access to traffic from the subnet that hosts the private endpoint", given it explicitly states "from the subnet that hosts the private endpoint", does that also include traffic originating from another subnet or peered/remote vnet?

[2021-09-07 06:58] vishutyagi000 opened #80695 "Compute Schedules in Compute Instances do not work while redeploying as shown in Documentation"
As per the below documentation we can create arm templates for Compute Instance with schedules ,Its working fine  when we deploy the arm templates for first time ,but if we redeploy arm template  it gives error shown in below image.
This means we cannot update the compute instance schedules with arm templates or even cannot have the same schedules
as on redeployment it gives error
![image](https:/

[2021-09-07 07:15] DavidTaig opened #80696 "Provide Least Privilege roles required when Global Reader is not supported"
When there is a limitation for Global Reader, please provide the Least Privilege role required to perform an action
E.g. Teams admin center - IP phone device requires Teams Devices Administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e

[2021-09-07 07:17] DavidTaig opened #80697 "Add Microsoft 365 Apps admin center to limitations table"
See https://github.com/MicrosoftDocs/OfficeDocs-DeployOffice/issues/989

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Azure AD built-in roles - Azure Active Directory](https://docs.microsoft.com/en-us/azure/

[2021-09-07 07:26] kdejaeger commented on #30693
We were also very disappointed with the slow performance of the SMB file shared. We're using docker ACI to deploy.

[2021-09-07 08:00] Cedric-Bravo commented on #68274
@mderriey-prospa
There is no need for an App Configuration Managed Identities, it work perfectly with KV without .
I still don't understand the point of the ms article...
https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview-managed-identity

[2021-09-07 08:08] brootware commented on #80152
hi @shashishailaj and @SrijitBose-MSFT , I have found out the answer to the first question. Seems like even though I am technically able to scale down to 1, the support policy would be out of scope by then.

This brings me to question 2, are there any options available for me to save cost as I am running a proof of concept and would like to minimize cost for the duration of the POC period.?

[2021-09-07 08:15] AnuragSharma-MSFT commented on #80643
@AshleyYangSZ Thanks for reaching out to us. Mostly the error could be related to framework. Can you please try repairing the framework and try running it again?

[2021-09-07 08:16] blueww commented on #78577
@G0PINATH-WW

We have released [Az.Storage 3.11.0](https://www.powershellgallery.com/packages/Az.Storage/3.11.0).
after install the new module, New-AzStorageContainerSASToken generated Sas token will have API version 202-04-08, it should works with blob version scenarios.
And in the future, with SDK upgrade to new version in Az.Storage module, the API version will also increase.

[2021-09-07 08:35] pitawatn opened #80698 "Cost of Azure SQL Managed Instance Transactional Replication"
The documentation should mention if using Transactional Replication will incur any cost. The same goes to this [tutorial](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-between-two-instances-configure-tutorial) as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e3252e-e065-c6e7-042

[2021-09-07 08:38] pitawatn commented on #80698
In the meantime, does anyone know if using Transactional Replication will cost me? I'm replicating data from SQL MI production database to SQL MI test database for testing purposes.

Thanks.

[2021-09-07 08:54] Bishoy opened #80699 "It's just that I realized that i could use firefox , if i enable network.http.windows-sso.enabled in about:config of firefox"
It's just that I realized that i could use firefox , if i enable network.http.windows-sso.enabled in about:config of firefox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Conditions in Conditional Access po

[2021-09-07 08:57] G0PINATH-WW commented on #78577
Outstanding, thanks

On Tue, 7 Sept 2021 at 18:16, Wei Wei ***@***.***> wrote:

--

CAUTION: This email, links and files included in its transmission by
Woolworths Group Limited ABN 88 000 014 675 and its group of companies
(Woolworths Group) are solely intended for the use of the addressee(s) and
may contain information that is confidential and privileged. If you receive
this email in error, plea

[2021-09-07 08:58] Juz3 opened #80701 "Azure AD B2C access token version request/response clarification"
Hello. It seems that in the access token request example, v2 token endpoint is being used. However, below that example where the access token is decoded using the jwt.ms site, it shows that "ver" claim has value "1.0" which means that the access token is a v1 token. We are currently having a similar problem and having trouble finding out why our Azure AD B2C OAuth 2.0 token endpoint (v2) is giving

[2021-09-07 09:06] ak5678 opened #80702 "HybridConnectionManager service restart is necessary"
I have a suggestion. Before the text:

"You can now see the Hybrid Connections you added. You can also select the configured Hybrid Connection to see details."

please add information that:

"After adding a hybrid connection to Hybrid Connection Manager it has "disconnected" Azure status by default. Go to windows services, restart the "HybridConnectionManager" service and the status will change to

[2021-09-07 09:07] CHEEKATLAPRADEEP-MSFT commented on #80692
@baatch Please check the GitHub issue addressing similar issue: https://github.com/MicrosoftDocs/azure-docs/issues/74826

[2021-09-07 09:12] eirikhanssensteria opened #80703 "Azure Spatial Anchors, locate anchor race condition"
When locating an anchor according to the documentation, [https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#locate-a-cloud-spatial-anchor](Locate a cloud spatial anchor), you should subscribe to AnchorLocated on the current session.
Which works fine, except there is a race condition and if you try to use GetPose() on the foundanchor. It throws an "Didn't fin

[2021-09-07 09:16] SrijitBose-MSFT commented on #80152
@brootware thank you for your question. We regret the delayed response and any inconvenience it might have caused.

Yes, although it is possible to manually scale down the machinesets in an ARO cluster, that is still an unsupported operation. As you pointed out, the [ARO 4 support policies](https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4) says:

The support policy in the link

[2021-09-07 09:26] KalyanChanumolu-MSFT commented on #80647
@timsander1 @SnehaGunda Could you please check if this page needs to be updated?
The [V3 SDK](https://github.com/Azure/azure-sdk-for-js/blob/a4eb25d8743912dc1688fac8ba83bf8e87c3ae44/sdk/cosmosdb/cosmos/src/request/request.ts#L65) seems to have support for continuation tokens.

[2021-09-07 09:58] MayankBargali-MSFT commented on #80565
@saadatahmed Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-07 09:58] PramodValavala-MSFT commented on #80462
@tomcam Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-07 09:58] #80462 closed

[2021-09-07 10:00] v-bbalaiagar opened #80704 "Clearer documentation of IIS Hidden Segments features as it relates to Function Apps"
This Hidden Segments feature of IIS blocks certain keywords from being used as Function App Names/Endpoints.
https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/requestfiltering/hiddensegments/

related issue : https://github.com/Azure/Azure-Functions/issues/1656

[2021-09-07 10:11] baatch commented on #74826
Can you please provide a more detailed instruction on the workaround? What specific code is in the triggering notebook? How do you call the other notebooks inside of the repos? what format? how do you call a specific branch?

[2021-09-07 10:18] dannradkov opened #80705 "Define Management group as the alert scope level"
There was a thread on feedback.azure.com (now unfortunately its down ) that you folks are soon going to allow Service Health alerts at Management group level. I dont see this as a possible scope as of now. Instead i have to define an alert on each sub. If i have an enterprise customer with over 600 prod subs, that needs to be automated and monitored etc.

https://nam06.safelinks.protection.outlook

[2021-09-07 10:39] PhilB-MSFT opened #80706 "Tutorial uses separate domain accounts for SQL Server instances - this does not follow the guidance for using"
In the "Configure the domain accounts" section of this tutorial, it encourages the use of separate domain service accounts for the two SQL Server replicas, 'SQLSvc1' and 'SQLSvc2' however, should a customer follow this guidance, it does not follow the advice for creating the SPN for the AG listener to support Kerberos authentication, where the advice is "_For the SPN to work across all replicas, t

[2021-09-07 10:49] manjzu opened #80707 "What happens to Azure billing when we change edition to Developer edition?"
Please provide more information on the Azure PAYG billing when we change the editions or versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c28128-eaea-e5a3-f11a-620737d398d7
* Version Independent ID: 6e18bce5-b452-6f81-f228-bdd102ac264a
* Content: [In-place change of SQL Server version - SQL Server on Azure VM

[2021-09-07 10:51] AndrewSmithRS commented on #64660
We've come across the same issue with the acrUseManagedIdentityCreds property being reset to false after a change.
This occurred when using Terraform to set it to true and then subsequent changes when changing the VNET, diagnostic settings or the image it is being set back to false.
We can reproduce this issue in the portal outside of Terraform as well. Via support we've logged a ticket eventually

[2021-09-07 10:55] fmms opened #80708 "Describe effect of "Allow Azure Services and resources to access this workspace""
This documentation should explain what exactly is meant by the checkbox *Allow Azure Services and resources to access this workspace* .

This can be easily confused with *Allow Azure services on the trusted services list* that is available on the storage account.

To my understanding:
- trusted services for a storage account are just within a subscription
- Azure Services on an Azure Synapse works

[2021-09-07 11:02] psmanhas commented on #80706
@PhilB-MSFT Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-07 11:02] psmanhas commented on #80706
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-09-07 11:04] BhargaviAnnadevara-MSFT commented on #80704
@v-bbalaiagar Thanks for the feedback. It seems like this feedback is for the IIS Documentation, which is maintained here: https://github.com/MicrosoftDocs/iis-docs. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the [Azure](https://docs.microsoft.com/azure) documentation.

Request you to open an

[2021-09-07 11:04] #80704 closed

[2021-09-07 11:05] Auburg commented on #80672
I get the same error with the Python code:

`host = '<my app config host>'
credential = '<my app config id>'
url = '/kv/A28?api-version=1.0'
secret=base64.b64encode(bytes('<my app config secret>', 'utf-8'))
verb = 'GET'
headers = sign_request(host,verb,url,'',credential,secret)
reqUrl = 'https://'+host+url

conn = http.client.HTTPSConnection (host)
conn.request (verb, url,None,  headers)
response

[2021-09-07 11:07] timoklimmer opened #80709 "Unclear Description of Model Mounting Feature"
The article says "Model mounting enables you to deploy new versions of the model without having to create a new Docker image.". It's unclear to me how this is can be done. As far as I understand, deployments reference specific model versions, and existing model versions cannot be overwritten. In case that it is possible to replace models underneath -- how does the container(s) learn about the new

[2021-09-07 11:07] psmanhas commented on #80707
@manjzu Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-07 11:10] psmanhas commented on #80510
@axelriet We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-07 11:10] #80510 closed

[2021-09-07 11:17] rarandiv opened #80710 "Creating replica without downtime with a Azure premium file shares"
Adding replica with PFS (premium file share), the primary replica does not require a reboot or no restart required for a primary replica, however, in the document its mention in a generic way “When you create a replica for a source that has no existing replicas, the source will first restart to prepare itself for replication.”

Can you please update the document based on PFS and SPS Storage Type c

[2021-09-07 11:20] ingebeumer opened #80711 "Title and content not reflected in Applies to"
Hi,

Title and content of the doc are about Azure SQL Managed Instance, however the Applies to is Azure SQL database. Please review if Applies to needs to be changed to Azure SQL Managed Instance.

Kind regards, inge

![image](https://user-images.githubusercontent.com/40343254/132329521-30f4b39b-766f-4862-97a7-af45d3d3fa05.png)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-09-07 11:21] SnehaAgrawal-MSFT commented on #80702
@ak5678 Thank you for your query . We will investigate and update the thread.

[2021-09-07 11:52] Donovand4 commented on #80592
Hi @bandersmsft, we did and received a response of 200 but based on the documentation, we should be able to see the account listed but we have now waited 4 days and it does not reflect if read access is granted? My customer was confused when trying to follow the guide because the images for reader access did not match what was shown on their JSON.

[2021-09-07 12:05] AnuragSharma-MSFT commented on #80698
@pitawatn Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-07 12:06] britex opened #80712 "Azure Storage Account (File Share) zone redundancy - data transfer costs"
Hello, I need some clarification about data transfer billing across availability zones.
The [bandwidth pricing](https://azure.microsoft.com/en-us/pricing/details/bandwidth/) page says:

_Following Availability Zone data transfer is charged:
•	Data transfer, ingress and egress, from a VNet resource deployed in an Availability Zone to another resource in different Availability Zone in the same VNET_

[2021-09-07 12:06] AnuragSharma-MSFT commented on #80710
@rarandiv Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-07 12:06] CHEEKATLAPRADEEP-MSFT commented on #80418
@BCarlson-RentPath There is no issue with the code which is available in the document.
I had tested the code and it works as excepted.

![image](https://user-images.githubusercontent.com/79183421/132341666-5dbcb985-273f-41fd-a096-7114c97437ae.png)

Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.co

[2021-09-07 12:06] #80418 closed

[2021-09-07 12:07] AnuragSharma-MSFT commented on #80711
@ingebeumer Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-07 12:21] AdilSarwarNU commented on #37847
Same here, thanks a bunch.

[2021-09-07 12:35] MonikaReddy-MSFT commented on #80705
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-07 12:37] GitaraniSharma-MSFT commented on #80663
@JCS-Enterprises-LLC-PRG , I'm following up on my above comment. Could you please provide details on the issue you are facing?

[2021-09-07 12:38] MonikaReddy-MSFT commented on #79453
@m-gug - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update you accordingly.

[2021-09-07 12:44] MonikaReddy-MSFT commented on #80677
@skyovi - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-07 12:46] XristophD opened #80714 "Supported RHEL Versions for Azure Disk Encryption"
The document lists supported Linux versions for Azure Disk Encryption on Linux VMs.
For RHEL distro, only up to 8.2 is listed, newer RHEL versions like RHEL 8.4 is not listed.

The documentation has been last edited on 08/06/2019.
Is RHEL 8.4 still not supported, or is this documentation just out-of-date?
Is there any reason the version 8.4 (minor update) is not supported for Azure Disk Encryption

[2021-09-07 12:50] skyovi commented on #80677
My question is on token validation: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows

This is product related questions. anyway I posted on Sack overflow.

[2021-09-07 13:01] dombat opened #80715 "How? Register the Microsoft.DataMigration resource provider in your subscription if you are performing this for the first time."
It says;

"Register the Microsoft.DataMigration resource provider in your subscription if you are performing this for the first time."

It would be nice to link to the instructions on how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1ef54d-fed2-9f8c-b1d1-0ac7fd759fa8
* Version Independent ID: 2de8de0f-1

[2021-09-07 13:10] shashishailaj commented on #80693
@michael-freidgeim-webjet Thank you for your query . We will investigate and update the thread.

[2021-09-07 13:10] dombat opened #80716 "What happen if tests or migration fail?"
If the tests you've written fail, or the target is not performant, what then? How do we either fix it or role back the migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bb61ecc-cde3-f110-eacb-ac98a8337362
* Version Independent ID: 4f162679-e83b-f964-610d-bd6603169391
* Content: [SQL Server to Azure SQL Databas

[2021-09-07 13:11] ccg-ahagen commented on #80506
I was able to get it to work by creating a new Spark Cluster with a runtime of 7.3 LTS which is running Python version 3.7.5.

[2021-09-07 13:35] shashishailaj commented on #80699
@Bishoy Thank you for your feedback . We will have this checked internally and update the thread. The engineering was testing different scenarios before updating about Firefox. I will check internally and let you know.

[2021-09-07 13:41] shashishailaj commented on #80701
@Juz3 Thank you for sharing this information . We will investigate and update the thread.

[2021-09-07 13:43] shashishailaj commented on #80697
@DavidTaig Thank you for your feedback . We will investigate and update the thread.

[2021-09-07 13:44] shashishailaj commented on #80696
@DavidTaig Thank you for your feedback . We will investigate and update the thread.

[2021-09-07 13:50] shashishailaj commented on #80695
@vishutyagi000 Thank you for your feedback . We will investigate and update the thread.

[2021-09-07 13:52] amanmcse commented on #80665
@koncarevicradovan When you say "it is not working", what is the error you get?

When you used Azure AD B2C blade, did you configure the delegated permissions to add IdentityExperienceFramework to ProxyIdentityExperienceFramework application? If delegated permissions are not configured, users can signup but fail to sign-in. All the steps are same whether you use App registrations under Azure AD B2

[2021-09-07 14:02] tfitzmac commented on #70831
Sorry for the delay in finishing this work. I have added Microsoft.Security to the article. It should get published later today.
#please-close

[2021-09-07 14:02] #70831 closed

[2021-09-07 14:13] tfitzmac commented on #80633
@gabriel-kohen-by - thanks for making us aware of this issue. I have fixed the link. The update should get published later today.
#please-close

[2021-09-07 14:18] dazinator opened #80719 "What roles do I assign the managed identity?"
I'd like to create a managed identity and configure application gateway to use it to obtain the SSL certificate from key vault. This document links to a page about how to create a managed identity, but it doesn't explain what roles I need to give the managed identity so that it can be used with application gateway with minimal privileges.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-09-07 14:23] benhurjoel commented on #70831
Thank you @tfitzmac . Appreciate it!

[2021-09-07 14:33] GitaraniSharma-MSFT commented on #80719
@dazinator , thank you for your feedback. We'll review this and get back to you shortly!

[2021-09-07 14:41] jahnavivalluri commented on #80364
Hi Ryan,

Thank you very much for sharing an update.

Thanks,
Jahnavi Valluri

From: Ryan Hill ***@***.***>
Sent: Monday, September 6, 2021 11:10 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jahnavi Valluri ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Add steps for 'how to clone an existing app from the portal' (#80364)

Apologies for the delayed response. I've ass

[2021-09-07 14:51] dmbuk commented on #51543
We stumbled across this problem and implemented a workaround by creating S2S between a separate VPN gateway and another gateway inside VWAN hub that contains Azure firewall, and it works.  Sound like overkill, but it's ok for us as we do have VWAN already.

[2021-09-07 14:51] BharathNimmala-MSFT commented on #80419
@marcelkmfst My sincere apologies for delay in getting back to this thread.

Regarding your query , yes it in will incur charges as outbound data transfer at the normal rate documented [here](https://azure.microsoft.com/en-us/pricing/details/bandwidth/) , however the inbound data transfer is free,

Please let us know if you have any queries. I will also take this thread feedback to our document au

[2021-09-07 14:51] EnzoGorlomi23 commented on #80577
Hi @MarileeTurscak-MSFT, any further update on this ticket ?

[2021-09-07 15:09] olayemio commented on #80560
It is one replica per scale set. The text is being updated. The new text will be up in 24 hours and clearly state one replica per scale set

[2021-09-07 15:15] mokabiru commented on #80716
@dombat - The tests are an indicator that further optimization may be required after migrating to the cloud. This could involve multiple factors and it is important to remediate them based on Azure SQL SKU, resources, hardware generation etc. You could leverage automated and intelligent optimization features in Azure SQL, move between Gen Purpose and Business Critical depending on your performance

[2021-09-07 15:18] cephalin commented on #79890
Sorry for the delay. The doc has been updated to AuthV2. It will be published within the next day. #please-close.

[2021-09-07 15:18] #79890 closed

[2021-09-07 15:18] cephalin commented on #79161
Sorry for the delay. The doc has been updated to AuthV2. It will be published within the next day. #please-close.

[2021-09-07 15:18] #79161 closed

[2021-09-07 15:19] cephalin commented on #77932
Sorry for the delay. The doc has been updated to AuthV2. It will be published within the next day. #please-close.

[2021-09-07 15:19] #77932 closed

[2021-09-07 15:19] cephalin commented on #76921
Sorry for the delay. The doc has been updated to AuthV2. It will be published within the next day. #please-close.

[2021-09-07 15:19] #76921 closed

[2021-09-07 15:19] cephalin commented on #76532
Sorry for the delay. The doc has been updated to AuthV2. It will be published within the next day. #please-close.

[2021-09-07 15:19] #76532 closed

[2021-09-07 15:19] cephalin commented on #70099
Sorry for the delay. The doc has been updated to AuthV2. It will be published within the next day. #please-close.

[2021-09-07 15:19] #70099 closed

[2021-09-07 15:19] mokabiru commented on #80715
@dombat - thanks for the feedback. We will provide a link in the instructions for this.

[2021-09-07 15:27] spelluru commented on #79964
#assign:msmbaldwin

[2021-09-07 15:32] YutongTie-MSFT commented on #80709
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-07 15:49] ealsur commented on #80689
Due to `dynamic`'s nature, try to specify the `T` on the operation manually.

I took the sample code and changed to this and it still worked:
[code]

![image](https://user-images.githubusercontent.com/1633401/132374344-4410c8f1-d47d-4d80-83a6-a7431631d2a8.png)

[2021-09-07 16:08] JohanWinther opened #80724 "Resolve past due balance has the wrong information"
[Enter feedback here]
Step 4 is not correct.

There is **no** red banner on this page. The settle balance page can only be found by clicking "Pay now >" in the email you receive from Azure. Please update the information on this page to reflect that or actually add a "Settle balance" link on the **Subscription overview** page.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-09-07 16:28] leshr4k commented on #80559
Might it be possible to get this reviewed more quickly? The company I work for has an increasing number of people running into problems with our software due to the changes recommended in this article.

[2021-09-07 16:36] roygara commented on #80598
@aaronswebs Thanks for bringing this to our attention. I've checked with the product team and we've made some minor updates to the wording in this section, they'll be live later today. I realize SAP referred you to Microsoft but this is determined by the distribution vendor, not by Microsoft. You'd need to reconfirm with them what is supported in your version of the distro. The wording is still va

[2021-09-07 16:47] sajeetharan commented on #80647
#reassign: @sajeetharan

[2021-09-07 16:58] savjani commented on #80710
Adding @SudheeshGH to help with this.

[2021-09-07 17:03] ManasaDevadas commented on #80567
Please update the doc accordingly. This is misleading customers,

[2021-09-07 17:08] nmadan235 opened #80725 "DiskFormatQuery"
Can you please explain when to use DiskFormatQuery parameter and some specific examples/format to use that parameter correctly. The document says the below:

{"dev_path":"","name":"","file_system":""}

How will the above format look like if there are multiple disks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666d4e

[2021-09-07 17:08] v-hhunter commented on #55217
This issue has been resolved. Thank you! #please-close

[2021-09-07 17:08] #55217 closed

[2021-09-07 17:11] ChaitanyaNaykodi-MSFT commented on #80540
Hello @fbertilsson,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your response and we will gladly continue the discussion. Thank you!

[2021-09-07 17:11] #80540 closed

[2021-09-07 17:19] jsandersrocks opened #80727 "Edit config 3 settings"
Within the authsettingsV2 collection, you will need to set three properties (and may remove others):

Set platform.enabled to "true"
Set platform.configFilePath to the name of the file (for example, "auth.json")

But there are only two referenced here....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca023618-58e6-d10

[2021-09-07 17:26] BharathNimmala-MSFT commented on #80429
@Klaas- My sincere apologies for delay in getting back to you.

Thanks again for bringing this to our notice and helping us improve our Azure documentation. I will have an internal item to further validate this with our product/doc team and have a PR to update the document . PR will be linked to this thread once we create it. And once the PR is reviewed and approved , changes would go live.

At th

[2021-09-07 17:26] #80429 closed

[2021-09-07 17:29] brjohnstmsft commented on #80167
@Yahnoosh will be looking into this

#reassign:Yahnoosh

[2021-09-07 17:37] saif-chaudhry opened #80728 "Azure Databricks (ADB) integration with Azure key vault (AKV) with private link/endpoint Configuration"
Hoping to get some clarity on the Azure DataBricks (ADB) integration with Azure Key Vault (AKV).

1- When ADB is configured with AKV backed secret which component connects to the AKV? The control plane or the cluster (data plane) ? (I'm assuming it's control plane but not sure...)

2- If AKV is configured with Private link/endpoint and ADB cluster in deployed in a VNET ( i.e. vnet injected) and it

[2021-09-07 17:50] xairrick opened #80729 "FUNTIONS_WORKER_RUNTIME needs to be set to dotnet"
In this section here where the function app is configured -> https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=dotnet%2Cazure-powershell#configure-the-function-app
you also need to add;

And the AppSetting also need to be a hash table;
`Update-AzFunctionAppSetting -Name $functionapp -ResourceGroupName $resour

[2021-09-07 17:53] himanshusinha-msft commented on #80708
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-09-07 17:54] ElanShudnow opened #80730 "Discuss previous sign-in / user risks"
Even without Identity Protection enabled, if you look at reports, you may see existing entries for risky users/sign-ins.  The general recommendation here is to set up the MFA Registration Policy, then start enabling risky users/sign-ins.  But what the documentation is missing is to go through existing risky users/sign-ins and remediation before enabling these users for Identity Protection because

[2021-09-07 17:57] himanshusinha-msft commented on #80728
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-07 17:59] Michael-Kagnew commented on #69947
Just wanted to follow up and say that I am still running into this issue where the default linked service name is in the template, and is propagated throughout my integration datasets in the template. Am I supposed to do something to stop this so that I can deploy to other Synapse workspaces?

[2021-09-07 18:04] Auburg commented on #80672
ok here's an update from a SO post that i posted regarding  [https://stackoverflow.com/questions/69046391/azure-app-config-hmac-authentication-returns-unauthorized-error/69092173#69092173](this error). I've got the C# implementation but what should the equivalent JS call look like ? And why does the solution seemingly contradict what the JS sample code state (that the secret should be base 64 enco

[2021-09-07 18:07] tfitzmac commented on #80648
@ohadschn - thanks for this feedback. I have updated the article to include examples for objects and arrays.
#please-close

[2021-09-07 18:07] #80648 closed

[2021-09-07 18:07] tfitzmac commented on #80648
The update will be published later today.

[2021-09-07 18:20] kjeske opened #80732 "Generate a searchable PDF/A file from a regular PDF"
Is it possible to generate a searchable PDF/A file from scanned pdf document using Azure Cognitive Services?

I was able to find tools for text extraction, but what I need is to:
- put a scanned document in pdf format as an input
- get the same pdf (together with recognized text on it) as an output.

Our customer wants to copy recognized text straight from the PDF file.

---
#### Document Details

[2021-09-07 18:32] MarkHeff commented on #80329
Thanks for pointing this out! We are in the process of getting the documentation updated this month.

[2021-09-07 18:34] bigteejay commented on #80689
Ah!  I had tried that, but based on your example, perhaps not fully (I had the bulk op object typed, but I don't think I specified it all the way down the chain).  The format/shape of the data does have the PK/id and is fine otherwise (as mentioned above, simply typing the collection as JObject allowed it to work).  I'll give that a shot and report back.  Thanks!

[2021-09-07 18:47] Auburg commented on #80672
<sigh> more weirdness - i have c# code that attempts to do a PUT with a given key and JSON object for value. My request code is `using (var client = new HttpClient())
	{
		var request = new HttpRequestMessage()
		{
			RequestUri = new Uri($"{appConfigBaseUrl}/kv/{key}?api-version=1.0"),
			Method = HttpMethod.Put,
			Content = JsonContent.Create<MsgRouterConfigValue>(GetConfigValue())

		};

		req

[2021-09-07 18:53] bigteejay opened #80734 "Retry configuration, "no hidden behavior""
As per the [docs](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-migrate-from-bulk-executor-library#retry-configuration)...

"_For bulk support in the .NET SDK, there is no hidden behavior. You can configure the retry options directly..._"

There are indeed a handful of retry-related options in `CosmosClientOptions` (`RequestTimeout`, `OpenTcpConnectionTimeout`, etc).

However, in sim

[2021-09-07 19:07] MicrosoftGuyJFlo commented on #80678
Covered in the following article https://docs.microsoft.com/azure/active-directory/devices/troubleshoot-hybrid-join-windows-legacy#step-1-retrieve-the-registration-status

[2021-09-07 19:26] MarileeTurscak-MSFT commented on #80730
@ElanShudnow
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-07 19:42] MarceOrtegas opened #80736 "ResourceID in Metrics is mandatory for EventHub to work"
The page claims in the Public Settings, resource ID in Metrics is only mandatory for JsonBlob, but it is also a requirement for Event hub.
![image](https://user-images.githubusercontent.com/90283087/132401623-14c02327-add1-4eb3-a0ca-d005ff88e0a1.png)

Refer to support ticket 2108240010000092 for confirmation. Please, add that it is required for EventHub as well. Thank you.

---
#### Document Detai

[2021-09-07 20:04] asudbring commented on #77338
Updated with PR:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/171603

#please-close

[2021-09-07 20:04] #77338 closed

[2021-09-07 20:07] tfitzmac commented on #80649
@ohadschn - thanks for this feedback. I have added an example that shows the different ordering based on which array is the first parameter. The update will be published later today.
#please-close

[2021-09-07 20:07] #80649 closed

[2021-09-07 20:11] R1k91 commented on #74826
![image](https://user-images.githubusercontent.com/57228476/132404679-b433b034-5137-42b9-9c29-1063170d7ba5.png)

Repos folder is visible from ADF as any other folder defined in Databricks, so you can point to a specific branch using a path like:

repos/<project_name>/<branch_name>

[2021-09-07 20:21] roygara commented on #80654
Thanks for bringing this to our attention, @yuriwoof . We've updated the article with this parameter, those changes should be live later today.

Accordingly, I'll close this out.

Thanks again!

#please-close

[2021-09-07 20:21] #80654 closed

[2021-09-07 20:32] PatrickFarley commented on #80289
Yes, the personId comes as part of the async response. see https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/how-to-add-faces
#please-close

[2021-09-07 20:32] #80289 closed

[2021-09-07 20:37] #80678 closed

[2021-09-07 20:39] SamaraSoucy-MSFT commented on #80490
Can you confirm that you've changed the settings in your API to use the confirgured OAuth server? Without that setting I only get the Subscription Key option in the dev console, but once I enable it, the authorization code option appears. If you want to disable subscriptions, you can do that from the same settings page.

![image](https://user-images.githubusercontent.com/47195189/132407825-f6952c8

[2021-09-07 20:42] BharathNimmala-MSFT commented on #80724
@JohanWinther Thanks a lot for bringing this to our notice, assigned this issue to our document author @genlin to further review your feedback and update the document.

[2021-09-07 20:48] MicrosoftGuyJFlo commented on #80699
#sign-off validation work still being done by the PG before this can be added to the list of browsers.

[2021-09-07 20:49] MicrosoftGuyJFlo commented on #80685
If you aren't assigned an admin role you will only have to do MFA when necessary. Nothing more the PG is willing to say about that functionality.

[2021-09-07 20:49] MicrosoftGuyJFlo commented on #80685
#please-close

[2021-09-07 20:49] #80685 closed

[2021-09-07 20:53] MicrosoftGuyJFlo commented on #80624
You can create another account that has different methods, but yes the traditional emergency access account is based on Conditional Access. The real issue this is trying to prevent is the small organization with one admin and that admin gets locked out or leaves and no one else has admin credentials.

[2021-09-07 20:53] MicrosoftGuyJFlo commented on #80624
#please-close

[2021-09-07 20:53] #80624 closed

[2021-09-07 20:57] KailasDeshmukh opened #80737 "Include the minor patched in the AKS calendar"
[Enter feedback here]
Can you please include the calendar for minor patches?
We selected 1.20.5 assuming 1.20 has support for a while. But noticed that 1.20.5 support was taken away without notice.
It would be nice to have a calendar with minor patch support as well.

Also is there a way, the subscription owner can get some advance email notification when a specific version(major/minor/patch) of t

[2021-09-07 21:05] MicrosoftGuyJFlo commented on #80730
Added to my backlog (1549454) and will discuss details with the PG. Good call out. Will update this issue when change is published.

[2021-09-07 21:13] NoNameProvided commented on #69519
Hi @psanapathi! Can you provide an update on the status of managed NAT for ACI? As far as I am aware no such service has been launched since your comment.

[2021-09-07 21:24] teavanist commented on #80685
Thanks @MicrosoftGuyJFlo
About this:

So if security defaults forces every one including the admins to get MFA, why would this even be necessary?

[2021-09-07 21:31] MGodfrey50 opened #80739 "Update to document with more detailed information on Global Reach connectivity"
[In the third paragraph, include a statement that each AVS 2.0 environment is it's own ExR region (ie that it has it's own virtual MSEE device).   This allows Global Reach to be connected to the 'local' peering location, meaning that multiple AVS instances in one region can all be connected to the same peering location.]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-09-07 21:40] Oury-MSFT commented on #80541
@mksuni could you please help with customer question above. Thanks

[2021-09-07 22:01] JerryNixon opened #80740 "Widgets in %SQL are case sensitive"
Since everything in SQL is generally not case sensitive, it would be a benefit to the developer to point out that `${output}` will not read the value of the widget `OUTPUT` since they do not match case.

[2021-09-07 22:42] MonikaReddy-MSFT commented on #80677
Thanks for confirming that this is not a doc related issue and its a product question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-07 22:42] #80677 closed

[2021-09-07 23:11] BharathNimmala-MSFT commented on #80446
@xuegao112 Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to include the note in the [proxy configuration section of this document](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/log-analytics-agent#proxy-configuration). Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's

[2021-09-07 23:11] #80446 closed

[2021-09-07 23:12] JamesTran-MSFT commented on #80562
@itguysocal
Thank you for your time and patience throughout this issue!

We'd like to take a closer look into your environment. Can you please email me with the info below, I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:

[2021-09-07 23:13] ealsur commented on #80734
How is stopping the emulator simulating a client-side outage? You are simply removing the DNS entry completely. That is not what would happen on an outage. In that case what you are doing is, upon removal of the global DNS (the emulator endpoint), any Http requests to fetch metadata information (see https://youtu.be/McZIQhZpvew?t=847) might start to fail, because the emulator has no other regions

[2021-09-07 23:14] cynthn commented on #80560
Looks like this was merged: https://github.com/MicrosoftDocs/azure-docs-pr/pull/171541 so I'm going to close the issue. Please feel free to ask to reopen the issue or create a new one if this doesn't resolve the problem. Thanks!

#please-close

[2021-09-07 23:17] JamesTran-MSFT commented on #80616
@glomaga
I just wanted to check in and see if you had any other questions or if @yoelhor's comments helped resolve your issue?

[2021-09-07 23:21] JamesTran-MSFT commented on #80563
@catherine-weiss
Thank you for your post!

Since this issue isn't directly related to our docs and requires additional troubleshooting, I'd recommend posting this to our [Azure Key Vault Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-key-vault.html) so our community, and MVPs can look further into this.

Thank you for your time and patience throughout this issue.

[2021-09-07 23:21] #80563 closed

[2021-09-07 23:25] itguysocal commented on #80562
Yes, thank you! I have sent the email.

[2021-09-07 23:25] ChNorman opened #80742 "Missing Documentation for “WEBSITE_USE_LOCAL_RESOLVECONF""
Documentation is missing for this app setting “WEBSITE_USE_LOCAL_RESOLVECONF"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f081389e-21ca-4d1a-80e1-d96c13ec1ffb
* Version Independent ID: 9d1246c8-bfbf-78af-e87f-4d0dd287da90
* Content: [Environment variables and app settings reference - Azure App Service](https://docs.

[2021-09-07 23:28] #80562 closed

[2021-09-07 23:37] adamkimsft opened #80744 "allowPublicClient treats false differently on b2c"
[Enter feedback here]
In a b2c tenant, register a javascript app such as the sample at https://github.com/Azure-Samples/ms-identity-javascript-tutorial/tree/main/1-Authentication/2-sign-in-b2c.

The app will login fine.  If you then toggle the UI for allowPublicClient to Yes and save and then back to No, you're essentially changing it from null to false.

Now if you try to login, it fails with una

[2021-09-08 00:08] aaronswebs commented on #80598
Thankyou @roygara that will help by specifying the main branch of kernel. I agree it is still distro specific and requires a vendor statement, but that comment will help customers differentiate further investigation moving forward.  Thanks for the updates.

[2021-09-08 00:21] atakadams opened #80745 "Inconsistent memory bandwidth spec description on HBv2-series"
The document https://docs.microsoft.com/en-us/azure/virtual-machines/hbv2-series says "Each HBv2 VM provides up to 340 GB/sec of memory bandwidth," while the table on the same page says "Memory bandwidth GB/s" for "Standard_HB120rs_v2" is 350.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78925076-ce8f-9f7c-df0b-963dd

[2021-09-08 00:32] samadara-msft commented on #78446
@psmanhas, @shants123, any update on this please ?

[2021-09-08 01:02] pmozbert commented on #80044
thanks, the sample code is really helpful.

[2021-09-08 01:37] siva24anand opened #80746 "Error 'ImagePullBackOff' occured in AKS when deploying the Azure Machine Learning Serivce using Azure cli commands"
I am working on deploying AML to AKS. I have used below commands for attach and deploy. Deployment failed with below error in AKS POD. I would like to know the exact reason for the error. Also please let me know if I missed anything in the deployment. Thanks

Error:
'Error: ImagePullBackOff'

Commands:
az ml computetarget attach..
az ml model deploy..

---
#### Document Details

⚠ *Do not edit thi

[2021-09-08 01:47] MiraZJ opened #80748 "help to update the "Charges billed separately" part"
[Enter feedback here]
Hi team,
could you help to update the information about the "Charges billed separately" part, could you also update the same information as the below page? thank you

- https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-enrollment-invoices

your team has  made a  update to the article to change the text from “The following services are billed sepa

[2021-09-08 01:56] laitaiyu opened #80749 "CustomVisionErrorException: Operation returned an invalid status code 'Access Denied'"
I got "CustomVisionErrorException: Operation returned an invalid status code 'Access Denied'".
training_key = "PASTE_YOUR_CUSTOM_VISION_TRAINING_SUBSCRIPTION_KEY_HERE"  .  Is it Key1?
prediction_key = "PASTE_YOUR_CUSTOM_VISION_PREDICTION_SUBSCRIPTION_KEY_HERE"   .   Is it Key2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-09-08 02:04] halkazwini opened #80750 "Lack of screenshots"
Hi Team,

It would be great and much easier for learners to include screenshots in this page like most of the other Azure documentation pages.

Regards,
Hussein

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f88fdf5-74e8-f6ab-5fa2-219bc94a926f
* Version Independent ID: b8ed85cd-0cc4-9f39-2dd3-e1e22fc43eb3
* Content: [

[2021-09-08 02:39] YutongTie-MSFT commented on #80712
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-08 02:42] bigteejay commented on #80734
Thanks for your feedback, and I'll certainly check into those resources.

Shutting down the emulator was (more to the point) to trigger a failure (DNS issues could certainly be applicable in very spotty/intermittent connectivity).  More to the point, I wanted to ensure that (no matter the underlying cause) that failed writes follow the failure/fallback strategy I've implemented.  In this case, the

[2021-09-08 02:46] Karishma-Tiwari-MSFT commented on #80412
@MashaMSFT There is another open thread with the same query. Looking for your insights on this. Thanks :)

[2021-09-08 02:48] bigteejay commented on #80689
That indeed did the trick, outstanding.  Thank you!

[2021-09-08 02:48] #80689 closed

[2021-09-08 02:49] shi-ding opened #80751 "The ACL recursive sample link in this page SAS token is expired."
[Enter feedback here]
![image](https://user-images.githubusercontent.com/57244064/132438444-505dcdff-228c-411f-b19a-10f6a10a6d27.png)

The ACL recursive sample link in this page SAS token is expired. Fail to download.

https://recursiveaclpr.blob.core.windows.net/privatedrop/samplePS.ps1?sv=2019-02-02&st=2020-08-24T17%3A04%3A44Z&se=2021-08-25T17%3A04%3A00Z&sr=b&sp=r&sig=dNNKS%2BZcp%2F1gl6yOx6QLZ6O

[2021-09-08 03:05] bigteejay commented on #80734
While considering your feedback, I realized perhaps I should've been more precise in my language.  It isnt a Cosmos/Azure "outage" specifically I am concerned about, but any cause (regardless of what it is specifically) which precludes a successful write.

[2021-09-08 03:11] YutongTie-MSFT commented on #80749
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-08 03:11] Karishma-Tiwari-MSFT commented on #80714
@msmbaldwin Can you please help confirm on the same?  Thanks :)

[2021-09-08 03:15] Karishma-Tiwari-MSFT commented on #80736
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-08 03:20] SamaraSoucy-MSFT commented on #80729
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-08 03:30] dip07 opened #80752 "How to change certificateUrlValue for osProfile to use certificateCommonName"
How to change certificateUrlValue for osProfile to use certificateCommonName? It still points to one version of the cert, which will be changed if the cert is rotated.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302570c-50f7-af0d-ab7c-62845ecd35cb
* Version Independent ID: 679e51cc-2123-adb8-abe2-1c8bbacf46

[2021-09-08 03:43] #80692 closed

[2021-09-08 03:44] yuyichung opened #80754 "Default egress/ingress limits should be updated"
[Enter feedback here]
I believe the ingress/egress for standard V2 accounts are now 60/120 Gbps respectively. Should we update the document to reflect this as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b38b2
* Conten

[2021-09-08 03:58] AjayKumar-MSFT commented on #80727
@jsandersrocks, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-09-08 04:02] mokabiru commented on #80715
@AjayKumar- this is resolved. Documentation is now updated based on the feedback.

[2021-09-08 04:04] mokabiru commented on #80716
@AjayKumar-MSFT I've already responded to the question above.

[2021-09-08 04:06] BhargaviAnnadevara-MSFT commented on #80742
@ChNorman Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-08 04:08] BhargaviAnnadevara-MSFT commented on #80740
@JerryNixon Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-08 04:09] BhargaviAnnadevara-MSFT commented on #80732
@kjeske Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-08 04:13] BhargaviAnnadevara-MSFT commented on #80625
@InformTechPro Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-08 04:15] KrishnaG-MSFT commented on #80528
@jun110-ms I have verified and updated the document as required. The change should reflect soon in the document i.e., in less than 24 hours. Thanks again!

[2021-09-08 04:15] #80528 closed

[2021-09-08 04:21] bigteejay commented on #80734
Great video, and thanks for sharing.  One question I had, you say around [1h3m](https://youtu.be/McZIQhZpvew?t=3792) that retries are not attempted on writes.  Is that really the case when using `await Task.WhenAll`?  I thought one of the key features/drivers for switching to the V3 SDK (rather than the BulkExecutor/etc) is that such resiliency is included?

[2021-09-08 04:45] psmanhas commented on #80739
@MGodfrey50 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate .We will update you accordingly.

[2021-09-08 04:45] psmanhas commented on #80739
@shortpatti Can you please check and add your comments on this doc update request as applicable

[2021-09-08 04:54] psmanhas commented on #80744
@adamkimsft Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-08 04:56] psmanhas commented on #80752
@dip07 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-08 04:58] psmanhas commented on #80745
@atakadams Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-08 04:58] psmanhas commented on #80745
@vermagit Can you please check and add your comments on this doc update request as applicable

[2021-09-08 05:00] psmanhas commented on #80737
@KailasDeshmukh Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-08 05:01] psmanhas commented on #80737
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-09-08 05:09] amanmcse commented on #80693
@michael-freidgeim-webjet  The subnets "147.243.0.0/16" and "20.92.128.0/17" belong to Azure Datacenters, which means the action captured in the audit log is performed via some other service/resource in Azure.
The azure datacenter IP ranged can be downloaded from here: https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519

[2021-09-08 05:09] #80693 closed

[2021-09-08 05:11] fowl2 commented on #80310
It would be great if this could also mention something about whether it has any relationship to [plans/hosting options](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#overview-of-plans), as 'App Service Environment (ASE)' also mentions "isolated".

Specifically, if .NET 5 can be used in consumption plans.

[2021-09-08 05:13] RohitMungi-MSFT commented on #80746
@siva24anand Thanks for the question. With respect to the steps the commands and the sequence is correct.

The error might be specific to the AKS configuration or the image, I have seen some similar issues on the AKS github repo [here](https://github.com/Azure/AKS/issues?q=is%3Aissue+%22ImagePullBackOff%22+in%3Atitle+is%3Aclosed).
I think it would be easier to debug the issue if you could post mor

[2021-09-08 05:26] madsd commented on #80625
@BhargaviAnnadevara-MSFT The images has been updated to support dark mode. You may close the issue.

[2021-09-08 05:54] omarmallat commented on #56071
Today, I created a new server and follow the same steps to install the MFA extension, but getting the same behavior. when user tried to login, he got an MFA notification, but, the login succeeds before even looking at the MFA.
I believe this is related to this log: _NPS Extension for Azure MFA: NPS Extension for Azure MFA only performs Secondary Auth for Radius requests in AccessAccept State. Requ

[2021-09-08 05:56] amanmcse commented on #80744
@adamkimsft  Please submit a **[product feedback](https://support.microsoft.com/en-us/office/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a)** for Azure AD B2C regarding this issue. This platform is to address documentation related issues.

[2021-09-08 05:56] #80744 closed

[2021-09-08 06:06] GitaraniSharma-MSFT commented on #80750
@haalkaz , thank you for the feedback. We have assigned this to the content owner/author for review.

@vhorne , could you please review the suggestion and provide your inputs?

[2021-09-08 06:21] ronthy opened #80755 "Error in last line of CLI command"
Hi,
I think there's an error in the last line of the CLI command, as it's returning an error:
az deployment group create

It should be:
az group deployment create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6eb602-fe75-1400-e683-39ae6308fdf6
* Version Independent ID: 3a8da44e-acc9-bb4f-af6b-ddfcabab0cd9
* Content:

[2021-09-08 06:49] yutaro113 opened #80756 "The place certificate should be uploaded via FTP wanted to be mentioned."
Hi team,
In this doc, the option to upload certificate via FTP is introduced.
Where actually should it be uploaded?

In my understanding,  if uploaded to instance local place like D:\local, it will disappear once instance get changed due to maintenance etc so it seems not right place. I think under D:\home\site seems fine but it would be more helpful to have this point documented more concretely.

[2021-09-08 06:52] AnuragSharma-MSFT commented on #80568
@rhod3rz I am tagging the content author to appropriately evaluate the article and update if needed.

[2021-09-08 06:58] kjeske commented on #80732
I checked these docs for example:
- https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr
- https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/vision-api-how-to-topics/call-read-api

[2021-09-08 07:02] KeysAU commented on #28786
Getting same issue, even after Add-AzureADApplicationPolicy -Id <ObjectId of the Application> -RefObjectId <ObjectId of the Policy> and following original documentation.

[2021-09-08 07:29] IanMoroney commented on #80263
@msmbaldwin any updates on this?

[2021-09-08 07:49] #80390 closed

[2021-09-08 07:50] suuuuuper commented on #80390
Looks like it was my mistake. Thank you guys, this issue had been solved.

[2021-09-08 07:59] KrishnaG-MSFT commented on #80755
@ronthy Can you please share the error that you see ?

It should be "az deployment group create" but not "az group deployment create" because the command group has been deprecated and will be removed in future release and the recommended one to use to deployment group.

![image](https://user-images.githubusercontent.com/45988031/132469735-ae0726dc-dff4-4852-9d4e-b029d93004e4.png)

Check this [this

[2021-09-08 08:09] komayama opened #80757 "FrontEnd App Service Occuor HTTP Status 500 When call BackEnd AppService."
I tried to create FrontEnd, BackEnd App Service and configure Azure AD setting.

I add code the following document code and access to FrontEnd.

https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#call-api-securely-from-server-code

![image](https://user-images.githubusercontent.com/24888431/132470517-ab38613f-de51-4d66-b06e-bd2e7878ecbc.png)

When FrontEnd c

[2021-09-08 08:13] ogliznutsa opened #80758 "The email address ampinfo@microsoft.com is unreachable"
The email address ampinfo@microsoft.com is unreachable (it's provided at the top of the page):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714093b2-eb5f-8cb2-a32c-7a8be2b4603f
* Version Independent ID: 9d5faf12-46ae-713a-5ea2-5dba7cbeb63d
* Content: [Azure Media Player Overview - Azure Media Player](https://docs.mic

[2021-09-08 08:19] BzSpi opened #80759 "Missing Front Door rules engine limits"
The limits for the FrontDoor rules engine should be set on this page. Limits are currently defined in this documentation https://docs.microsoft.com/en-us/azure/frontdoor/front-door-rules-engine#terminology

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff

[2021-09-08 08:20] koncarevicradovan commented on #80665
@amanmcse not working means users can signup but fail to sign-in. Yes, I did that
![image](https://user-images.githubusercontent.com/14827173/132473072-9a094c1e-ae72-4220-bc07-45368e4744f9.png)

[2021-09-08 08:28] imeya opened #80760 "need to explain more about "modifications to configuration values used in triggers can cause scaling errors."."
From this azure function doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources

in the Important section, it says:
For function apps running in the Consumption or Premium plans, modifications to configuration values used in triggers can cause scaling errors. Any changes to these properties by the FunctionsStartup class r

[2021-09-08 08:37] SnehaAgrawal-MSFT commented on #80756
@yutaro113 Thank you for your query . We will investigate and update the thread.

[2021-09-08 08:40] SnehaAgrawal-MSFT commented on #80758
@ogliznutsa Thank you for your query . We will investigate and update the thread.

[2021-09-08 08:44] HarshitaSingh-MSFT commented on #80672
Hello @Auburg , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-09-08 08:49] kjeske commented on #80732
Basically what I'm trying to achieve is what [ocrmypdf ](https://github.com/jbarlow83/OCRmyPDF)python tool does:

[2021-09-08 09:02] embeau opened #80762 "Issue in the screen capture Search for Dynamics and select the Dynamics 365 connector"
In the "Create a linked service to Dynamics 365 using UI", you mention "Search for Dynamics and select the Dynamics 365 connector." but the screen capture refer to Blob Storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2

[2021-09-08 09:05] SudheeshGH commented on #80710
Please close this PR , Change are updated and merged to master

[2021-09-08 09:11] FinitelyFailed opened #80763 "Unable to setup selfhosted build agent on arm32v7"
The documentation links to this guide: https://devblogs.microsoft.com/iotdev/setup-azure-iot-edge-ci-cd-pipeline-with-arm-agent/

However when trying to run azure-cli ("az --version" or similar) after a successful install you will get `"/usr/bin/az: line 3: /usr/bin/../../opt/az/bin/python3: cannot execute binary file: Exec format error"` which leads one to find this:
 https://github.com/Azure/azu

[2021-09-08 09:19] vgarmash opened #80764 "Java Samples use deprecated Spring Oauth2 and Spring Boot API. Need to replace with current versions of the Spring platform."
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-app-configuration?tabs=java

This page provides Java samples based on deprecated Spring Oauth2 and very old Spring Boot. You can see that "The Spring Security OAuth project is deprecated. The latest OAuth 2.0 support is provided by Spring Security. ": https://projects.spring.io/spring-security-oauth/docs/Home

[2021-09-08 09:46] flasheras opened #80766 "OjSalesSimulated. Memory and API problems when getting the dataset"
I was trying to follow the following instructions about training many models y Azure Machine Learning:
https://github.com/microsoft/solution-accelerator-many-models

When trying to prepare the data. A memory error jumps out when executing (in Python):

Pulling  all of the data inside the dataset

`oj_sales_files = OjSalesSimulated.get_file_dataset()`

It is a memory exception:

I have tried to exe

[2021-09-08 10:22] Geraint87 opened #80767 "Running functions that have no parameters - gotcha"
One slight gotcha that caught me out for a bit, that might be worth documenting, is that if the function does not take any parameters, you _still_ have to pass the Body as raw, and provide an empty JSON shell, otherwise you get a 400 response.

![image](https://user-images.githubusercontent.com/5928208/132492428-205e4331-9af0-40af-8d16-30bb5624fab9.png)

Previously I have Body none and I was getti

[2021-09-08 10:22] amanmcse commented on #80665
@koncarevicradovan Could you please share the error message from sign-in events when the sign-in failed?

[2021-09-08 10:24] CHEEKATLAPRADEEP-MSFT commented on #80566
@msdpalam  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-08 10:24] #80566 closed

[2021-09-08 10:24] GitaraniSharma-MSFT commented on #80591
@Ajay-MS , I reached out to the PG team regarding this query and PG Anavi mentioned that you reached out to them internally to get answers.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-08 10:24] #80591 closed

[2021-09-08 10:35] SadiqhAhmed-MSFT commented on #80748
@MiraZJ Thank you for your valuable feedback. We will review the content and update as needed.

[2021-09-08 10:43] flasheras commented on #80766
After further investigation does not seem a memory problem. It looks like a parsing problem:
---------------------------------------------------------------------------
MemoryError                               Traceback (most recent call last)
<ipython-input-14-d98463c4a2f7> in <module>
      3
      4 # Pull all of the data
----> 5 oj_sales_files = OjSalesSimulated.get_file_dataset()
      6

[2021-09-08 10:48] imartin-MT opened #80768 "Wrong disk sharing information"
The article says the disk is available to only one **node** but it's only available to one **pod**.
![image](https://user-images.githubusercontent.com/57625850/132496170-6debac3e-8866-4a01-aa8c-68d1f5b295b8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independent ID

[2021-09-08 10:49] psmanhas commented on #80754
@yuyichung Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-08 10:49] psmanhas commented on #80754
@tamram Can you please check and add your comments on this doc update request as applicable

[2021-09-08 10:51] psmanhas commented on #80751
@shi-ding Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-08 10:52] MonikaReddy-MSFT commented on #80759
@BzSpi - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-08 10:58] koncarevicradovan commented on #80665
@amanmcse Sure
![image](https://user-images.githubusercontent.com/14827173/132497721-c25d2b14-842a-41ac-a879-dc28e5428645.png)

[2021-09-08 11:05] amanmcse commented on #80665
@koncarevicradovan I meant the error message logged under Azure AD > Sign-in logs under Monitoring section.
![image](https://user-images.githubusercontent.com/33834131/132498196-87335b7c-be17-491a-a3e3-ca58b6b646ec.png)
Please share the correlation id along with the error message as well.

[2021-09-08 11:06] psmanhas commented on #80768
@imartin-MT Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-08 11:06] psmanhas commented on #80768
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-09-08 11:13] asergaz commented on #80763
Hello @FinitelyFailed thank you for your question! Can you clarify better what step in the documentation is failing for you?

Thanks!

[2021-09-08 11:14] koncarevicradovan commented on #80665
@amanmcse Is that log in main directory or in b2c directory?

[2021-09-08 11:14] asergaz commented on #80763
Hello @FinitelyFailed thank you for your question! Can you clarify better what step in the documentation is failing for you?

Thanks!

[2021-09-08 11:17] RohitMungi-MSFT commented on #80766
@flasheras This issue is opened with Azure docs repository which supports bugs in documentation of azure docs repo.
The issue in questions seems to be related to a different [repo](https://github.com/microsoft/solution-accelerator-many-models/tree/ae47f0ffa0ce6e55bda17f036959cfe53d83816b). We would request to raise an issue with the [issues ](https://github.com/microsoft/solution-accelerator-many-

[2021-09-08 11:23] flasheras commented on #80766
Sure, I will raise the issue in the correct repo. Thanks a lot!

[2021-09-08 11:29] #80766 closed

[2021-09-08 11:40] MayankBargali-MSFT commented on #80767
@Geraint87 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-08 11:49] asergaz commented on #80000
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-08 11:49] #80000 closed

[2021-09-08 12:16] ronthy commented on #80755
Hi @KrishnaG-MSFT,

Thanks for following this up so promptly. I have since discovered the nature of the error.

It turns out that the version of Azure CLI I had installed on my Ubuntu (20.04.3 LTS) was the outdated version (v2.0.81).
Hence, it was producing the following error:
`$ az deployment group create`
`az deployment: 'group' is not in the 'az deployment' command group. See 'az deployment --

[2021-09-08 12:16] #80755 closed

[2021-09-08 13:02] hambali2019 commented on #27942
Please downgrade to PowerShell 5.1
The Commands should work as expected

[2021-09-08 13:24] glomaga commented on #80616
Hi, @James-Hamil-MSFT  and @yoelhor thanks for the information was helpful to know that we have the option to clean the collection,  but I am trying to implement a way to save the IP address on a Collection for each one of the users and have the ability to let the user Update the list, and remove IP's that do not need anymore. I will need to implement another approach for example API call and save

[2021-09-08 13:33] vlado101 opened #80773 "Does az copy working with ADLS gen1?"
Hello,

I was curious if I could do the following scenario:

Use az copy to move files from ADLS gen1 to ADLS gen2.

Otherwise can az copy be used to copy data between different ADLS gen2 accounts.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb553f6-e2ad-c6c9-eb6c-d7c268fef494
* Version Independent ID: f

[2021-09-08 13:50] kimjamia opened #80775 ""View dashboard" button is disabled"
Two issues in the "Analyze audit logs and reports" section:
1. The first sentence is: "If you chose to write audit logs to Azure Monitor logs." It would be clearer if it used "Log Analytics Workspace" instead of "Azure Monitor logs" because that's the term used in the configuration section.
2. In the "If you chose to write audit logs to Azure Monitor logs" part, it says that the "View dashboard" b

[2021-09-08 13:51] Floriszz opened #80776 "Confusing naming"
The index calls it 'About Web Apps', the title is about 'App Service overview'.
Azure App Service is the PAAS offering. 'Web App' is used for hosting websites and web applications(Previous called Azure Websites)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID

[2021-09-08 13:58] sesmyrnov opened #80777 "Recommendation to update GitHub reference samples to switch from SparkContext to SparkSession"
[Enter feedback here]
Customer tried to use this page and GITHUB reference example to create Spark job to read/write to Cosmos DB via Synapse Link - but the examples referencing using SparkContext where for them to be able to port/use "spark" object wiht dataframe they should/need to use SparkSession instead.

Recommendation to update the sampels to switch using SparkSession ..

---
#### Document

[2021-09-08 13:59] ealsur commented on #80734
Timeouts during Writes are not retried because they are not idempotent, more details here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-dot-net-sdk?tabs=diagnostics-v3#retry-logic-, if we send a request and we get a timeout, we cannot know if the request timed out reaching the server or when the response was coming back.
429s or any other retriable scenario during Writes on th

[2021-09-08 14:15] blockingHD opened #80778 "CORS example copy is misleading"
In the example it states that 'This example demonstrates how to support pre-flight requests, such as those with custom headers or methods other than GET and POST.' However this is an oversimplification of the specification due to the requirements around what counts as a simple request. In most cases I imagine Content-Type will be application/json or xml so if the header section is not set then thi

[2021-09-08 14:17] BhargaviAnnadevara-MSFT commented on #80776
@Floriszz Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-08 14:17] davihern opened #80779 "Outdated information regarding that version 2.0 is deprecated"
In this document there is a sentence that says: "While there are no immediate plans to retire support for the 2.0 SDKs, the SDKs will be replaced by newer versions in the future and the SDK will go into maintenance mode.
"

But currently 2.0 SDK is deprecated and retirement date has been announced (August 31 2024)
https://github.com/Azure/azure-cosmos-dotnet-v2/blob/master/changelog.md#release--re

[2021-09-08 14:18] BhargaviAnnadevara-MSFT commented on #80757
@komayama Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-08 14:22] v-hhunter commented on #39141
This issue has been resolved. Thank you! #please-close

[2021-09-08 14:22] #39141 closed

[2021-09-08 14:23] kimjamia commented on #15200
Could you please what was the answer to the question: Is the preferred_username claim globally unique at a given time?

This is very relevant to the [original question](https://github.com/MicrosoftDocs/azure-docs/issues/14498#issue-356993279) where @andrewdialpad asked if the claim can be used to pre-provision accounts.

[2021-09-08 14:35] josemaia opened #80781 "Missing text in Azure Postgres quickstart"
At a point in the article, the words "If you choose private access" are dangling at the end of a section, with no explanation or link to a different page explaining what to do if this "if" is true :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b171ea0e-38d5-12ed-7dcb-d9a5a23ab64f
* Version Independent ID: 4087b7ee-b

[2021-09-08 15:07] RalfKlahrMS opened #80782 "Hi, maybe we need to tell that Azure Blob is not fast enough in several backup scenarios. I have a customer with large Oracle SAP deployments and we get into difficult discusions because they point to this page and tell us it is supported. But it is very difficult in terms of backup/restore performance. For high throughput customers should consider using ANF storage to backup and restore database backups. Thank you."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d268593-ff49-6297-0795-b0f780569bfb
* Version Independent ID: 3326aad9-8817-f2ce-7925-22b0d8458e12
* Content: [Oracle Database in Azure Virtual Machines backup strategies - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machin

[2021-09-08 15:12] RalfKlahrMS opened #80783 "Low Throughput for large Oracle databases on Azure Blob"
Hi, we recently had some difficult discussions with customers running a large Oracle SAP deployments. The point to this documentation and complained about the NFS throughput for their backups and restores using Azure Blob even with Blobfuse. This article should point out that Azure Blob is not meant to backup very big databases, here ANF should give better customer experience. Please reach out if

[2021-09-08 15:23] roygara commented on #80598
No problem, I'll go ahead and close this out, since the article has been updated.

#please-close

[2021-09-08 15:23] #80598 closed

[2021-09-08 15:31] soafara opened #80784 "APIM Log Analytics setting - additional information that may help"
Hello,

It would be very helpful to add some configuration information on the overall Diagnostic Settings (for example, how to choose the destination table for the Log Analytics workplace: Resource Specific or Azure Diagnostics? How is it different and which one we recommend)

![image](https://user-images.githubusercontent.com/11698609/132538980-7c85af6d-9183-4e1c-bc6b-514c63ca74f6.png)

Also, it

[2021-09-08 15:31] c3rberus opened #80785 "Documentation for Azure MFA NPS Extension 1.0.1.40 (OVERRIDE_NUMBER_MATCHING_WITH_OTP) is missing?"
Can you please add documentation on how to use the new features of Azure MFA NPS Extensions? Specifically OVERRIDE_NUMBER_MATCHING_WITH_OTP registry entry released in 1.0.1.40?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d

[2021-09-08 15:32] molotch opened #80786 "For which principal should the get and list permissions be set?"
The steps for confirming permissions are correctly set on the key vault misses information on which principal the access policy get and list permissions should be set for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da278b7-2b30-3a2a-8321-f19c7cac96e2
* Version Independent ID: c44bb6d9-ddf2-f4ef-2d83-efd67d6a3960
*

[2021-09-08 15:33] jeremiedeveloper opened #80787 "Workaround to create AKS cluster within Azure ML without Managed Identity"
Hello everyone,

**Context**

Since few weeks, I'm facing an issue when trying to create an AKS cluster using Azure Machine learning command ([az ml computetarget create aks](https://docs.microsoft.com/en-us/cli/azure/ml(v1)/computetarget/create?view=azure-cli-latest#az_ml_v1__computetarget_create_aks))
It looks like now, AKS cluster is automatically created with a Managed Identity.

**Limitation*

[2021-09-08 15:37] vermagit commented on #80745
I agree those values should be made consistent. Historically, this slight 2% variation is normal when running the STREAM-Triad benchmark to obtain the memory BW. Additionally the value differs based on the OS (Linux distro, Windows).
But yes, point noted and this will be corrected.

[2021-09-08 15:38] shortpatti commented on #80739
@MGodfrey50, I'll work with the networking folks to make sure we have this updated with accuracy.

[2021-09-08 15:43] nlcamp opened #80788 "Clarify hostname prerequisites especially for Windows downstream devices"
A few IcMs and Github issues have been filed recently related to configuring a Windows downstream device to connect to an Edge transparent gateway device using IoT Edge 1.2.  In each of these cases, the customer saw TLS authorization errors in EdgeHub logs because they failed to meet the prerequisites documented in the following article: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-authe

[2021-09-08 15:46] gvanteylingen opened #80789 "Use correct service name for Azure NetApp Files"
Hi ANF product manager here.

Please replace all references to "NetApp Files" on this document to the full service name "Azure NetApp Files".
( for reference see https://azure.microsoft.com/services/netapp/)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9b1a5d6-248a-0c2b-14f9-ad5f46eb86cd
* Version Independent ID: 53c

[2021-09-08 15:56] SillyKeith opened #80790 "Are the sample Update Manifest and SWU file supposed to be for Raspberry Pi 3?"
[Enter feedback here]
In the Import Update section are listed a manifest and update package.  These two files appear to be for a Raspberry Pi 3 and not the Ubuntu images I would expect.

If these are expected, we should call it out for those worried about applying an update not specific to the Ubuntu image in the tutorial.

If these are the wrong updates... then we should fix the hyperlinks to poi

[2021-09-08 15:59] bandersmsft commented on #80748
https://github.com/MicrosoftDocs/azure-docs-pr/pull/171738
@MiraZJ Sure, that's an easy update to make. The article should be refreshed live later this morning.
#please-close

[2021-09-08 15:59] #80748 closed

[2021-09-08 16:05] aartools commented on #41726
@AjayKumar-MSFT

Basically all links in broken in the long post you made.

I need filtering with price, length, depth, weight and many more ... I'm not sure if this is supported or still only with the buckets/lists ...

I also found this: https://stackoverflow.com/questions/46327897/azure-search-price-range-min-max-value-calculation

There a user posted a link to: https://feedback.azure.com/forums

[2021-09-08 16:36] glomaga opened #80791 "I want to check if this Technical Profile is still on Public Preview or is already released for everyone"
Hi,
I am planning to implement MFA in the company that I work for next month and I want to check if this Technical Profile is already released for everyone and if I can use it on PRODUCTION TENANTS without issues because this technical Profile is the core for MFA on custom policies.

Thanks

![image](https://user-images.githubusercontent.com/27291517/132549016-2594a24b-32d3-4cc6-bee4-4c6eedbe8cce.

[2021-09-08 16:51] bandersmsft commented on #80683
https://github.com/MicrosoftDocs/azure-docs-pr/pull/171742
@nick-o Thanks, Nico. Updated per your request.
#please-close

[2021-09-08 16:51] #80683 closed

[2021-09-08 17:06] SaurabhSharma-MSFT commented on #80786
@molotch Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-08 17:08] SaurabhSharma-MSFT commented on #80762
@embeau Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-09-08 17:10] skip-cherniss-ae opened #80793 "Include How to add with PowerShell"
Include how to add with PowerShell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7d60ee3-b420-f0f3-8b8e-f749636e4429
* Version Independent ID: c2b584fa-4884-057f-9217-6f335045590a
* Content: [Quickstart - Enable managed identities for your Automation account using the Azure portal](https://docs.microsoft.com/en-us/az

[2021-09-08 17:10] SaurabhSharma-MSFT commented on #80777
@sesmyrnov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-09-08 17:13] SaurabhSharma-MSFT commented on #80773
@vlado101 Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-08 17:17] SwathiDhanwada-MSFT commented on #80793
@skip-cherniss-ae Thanks for your feedback.

Assigning to content author @MGoedtel  for review.

[2021-09-08 17:18] kobulloc-MSFT commented on #80789
@gvanteylingen, thank you you for bringing this to our attention.  I'll get a PR to use the full service name ("Azure NetApp Files") for all references made in this document.

[2021-09-08 17:28] YutongTie-MSFT commented on #80614
@acd13 Thanks for the feedback again, will contact with the author to see how to make it work better.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-08 17:28] #80614 closed

[2021-09-08 17:37] himanshusinha-msft commented on #80728
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-09-08 17:50] SaurabhSharma-MSFT commented on #80781
@josemaia Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-09-08 17:51] SaurabhSharma-MSFT commented on #80779
@davihern Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-09-08 18:03] LijuV-MSFT opened #80795 "Is "Owner" also not eligible for authorization?"
Is owner also not eligible? From the error below it appears Owner and User Access Administrator are both restricted:

[code]
If valid, please update the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa4dea5b-05c6-3f48-0c9c-46f54ca2935b
* Version Independent ID: 9ec87402-a831-e343-4c1c-cdb6bf45f26a
* Content:

[2021-09-08 18:36] sunnyhay commented on #79249
Any update on this issue? @ram-msft

[2021-09-08 18:37] ThinklogicDeveloper commented on #61261
@tiago-alves - were you able to resolve this? I also am 100% sure I created the app under Azure AD B2C Tenant and NOT Azure AD option, and yet I am in the same space. I have also followed a video tutorial of someone showing it working and verified my setup against theirs, and still getting this same error message.

[2021-09-08 18:38] JamesTran-MSFT commented on #80764
@vgarmash
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-08 18:39] JamesTran-MSFT commented on #80785
@c3rberus
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-08 18:40] JamesTran-MSFT commented on #80791
@glomaga
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-08 18:45] wbplomp opened #80796 "Auto Registration for Private DNS Zone is not limited to single VNET."
The page memtions the following limits:

**- Auto Registration for Private DNS Zone is limited to single VNET.**
But when you enable auto registration on multiple VNets (Virtual Network Links) they de DNS records are automatically registerd on all VNets. Is this limit still valid?

**- DNS records are created automatically only if the primary virtual machine NIC is using DHCP. If you're using stat

[2021-09-08 18:49] Meister1867 opened #80797 "Good info, but..."
The information for the Switch Activity good, useful, but I feel that there needs to be a presentation using the ADF UI.  Most of us do not define activities using pure JSON to start.  We may refine it that way, but it would be good to start with a video (or something) using the UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-09-08 19:01] JnHs commented on #80795
Hi @LijuV-MSFT - The Owner role isn't ever supported for Azure delegated resource management (whether the authorization is eligible or not). The User Access Administrator is supported, but with a limited, specific scope. However, it's not supported at all for eligible authorizations, which is why it's called out here. See https://docs.microsoft.com/azure/lighthouse/concepts/tenants-users-roles#rol

[2021-09-08 19:08] shants123 commented on #78446
Updated portal doc and the changes should be live by EoD.

[2021-09-08 19:09] LijuV-MSFT commented on #80795
I had missed that piece of info; thank you for clarifying, @JnHs ;

[2021-09-08 19:09] #80795 closed

[2021-09-08 19:20] BharathNimmala-MSFT commented on #80515
@mle-ii My sincere apologies for delay in getting back to this thread. This needs to be further reviewed by our doc authoring/PG team , so assigning this to @cweining to further review and update the document as needed. Thank you

[2021-09-08 19:23] cveld commented on #66112
I assume the private endpoint on the event grid resource only enables secure ingress into the event grid topic. What would be the way to be able to route an event to a subscriber with an endpoint within our vnet?

[2021-09-08 19:24] tmoeltner opened #80798 "Wrong scala code"
Wrong parameters for scala

instead of
[code]
![image](https://user-images.githubusercontent.com/79183421/132614891-5864db7f-10b7-4984-9c4b-c16a3b0fbb5f.png)

must be (mountPoint, extraConfigs)
[code]
![image](https://user-images.githubusercontent.com/79183421/132614874-3cbcb82e-f0ad-4b87-9812-42beee28cdb9.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-09-08 20:15] himanshusinha-msft commented on #80544
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-09-08 20:17] mike-urnun-msft commented on #80784
Hello @soafara - Thank you for your feedback! We will review and update as appropriate.

[2021-09-08 20:19] mike-urnun-msft commented on #80778
Hello @blockingHD - Thank you for your feedback! We will review and update as appropriate.

[2021-09-08 20:32] SatishBoddu-MSFT commented on #80788
Hello [@nlcamp](https://github.com/nlcamp) Thanks for the feedback.

Our SME will review this feedback and get back soon on this.

[2021-09-08 20:36] Anand-Moghe opened #80799 "Is GitHub Enterprise Service in Public preview in Microsoft Azure Gov Cloud (MAG) for ADF"
We have customers who are able to create the pipeline with GitHub Enterprise Service in MAG but there is no information available for Data Factory in the official Azure Gove cloud developer [guide](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-developer-guide).  Can we have some more detailed documentation on this topic in developer guide? We have many confused c

[2021-09-08 20:37] duongau commented on #61522
@artisticcheese Please see https://ccadb-public.secure.force.com/microsoft/IncludedCACertificateReportForMSFT. We have updated the list of certificates and Sectigo is included in the list. Please let me know if you have any other questions. For now I will be closing this issue.

#please-close

[2021-09-08 20:37] #61522 closed

[2021-09-08 20:42] JoakimGrotvedt opened #80800 "Update for App Service Environment"
There is a stamp fee for ASE v2. That is not relevant for ASEv3. Would be nice to update doc to reflect there are newer versions also that are more relevant to use.

Found under: https://docs.microsoft.com/en-us/azure/app-service/overview-hosting-plans#how-much-does-my-app-service-plan-cost

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-09-08 20:46] stejpal opened #80801 "function bindings for output outdated ?"
[Enter feedback here]
We tried using the sample to output to eventhub but the nuget package is depreated and the code did not work when using it with a cosmosdb trigger outputting to eventhub. Instead created a eventhub producer client to output to eventhub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0710db32-eb75-f

[2021-09-08 20:50] duongau commented on #61497
#reassign: gunjanj

[2021-09-08 21:01] RyanHill-MSFT commented on #80800
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-08 21:08] mcavallo-work opened #80803 "Argument --enable-pod-identity does not exist for command [az aks create] - please update documentation"
Argument --enable-pod-identity does not exist for command [az aks create] - please update documentation

Quoted: "az aks create -g myResourceGroup -n myAKSCluster --enable-pod-identity --network-plugin azure"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 2

[2021-09-08 21:17] duongau commented on #60960
#please close

[2021-09-08 21:18] #60960 closed

[2021-09-08 21:21] russd2357 opened #80804 "Typo in the Create VM in availability zone tutorial"
[Enter feedback here]

The code sample

osdiskname=$(az vm show -g myResourceGroupVM -n myVM --query "storageProfile.osDisk.name" -o tsv)

should be

$osdiskname=$(az vm show -g myResourceGroupVM -n myVM --query "storageProfile.osDisk.name" -o tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c432aa-bea5-e8a6-6987-

[2021-09-08 21:25] duongau commented on #60854
@tsharp The domain validation is stated here in the tutorial for enabling HTTPS: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https#custom-domain-is-not-mapped-to-your-front-door. Validation is dependent on when you receive and respond to the email. If no response is given after 6 business days for approving the domain will automatically be canceled. Please let me know

[2021-09-08 21:31] duongau commented on #60794
#reassign: jessie-jyy

[2021-09-08 21:39] mike-urnun-msft commented on #80801
Hello @stejpal - Thank you for your feedback! We will review and update as appropriate.

[2021-09-08 21:41] stewartadam opened #80806 "Provide Azure CLI to create Bastion ruleset"
Azure Bastion requires specific rules to be in place when configured with a NSG, and the creation of its subnet attached to a NSG fails even if the NSG has equivalent *effective* rules.

For instance, the default NSG rules permitting all outbound traffic do not satisfy the validation Bastion subnet creation - it checks for the presence of the explicit rules.

In light of that, it would be far simp

[2021-09-08 21:53] duongau commented on #60553
#reassign: gunjanj

[2021-09-08 21:57] duongau commented on #59043
Hello @ward0, as this GitHub issue is very old and would better be suited for our support team I am going to close this for now. Please do let me know if there is something in the documentation that is missing or needs updating.

#please-close

[2021-09-08 21:57] #59043 closed

[2021-09-08 22:00] duongau commented on #59703
Hello @hz7qnf, as we haven't received a response from you in regards to this matter, I will proceed in closing this GitHub issue. Please feel free to reach back out if you have any questions or concerns. Thank you!

#please-close

[2021-09-08 22:00] #59703 closed

[2021-09-08 22:04] duongau commented on #58943
#reassign: jessie-jyy

[2021-09-08 22:05] duongau commented on #58611
#reassign: gunjanj

[2021-09-08 22:05] PRMerger15 commented on #58611
GitHub user sohamnchatterjee has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-08 22:09] duongau commented on #57912
#reassign: jessie-jyy

[2021-09-08 22:11] duongau commented on #57764
#reassign: gunjanj

[2021-09-08 22:13] duongau commented on #57713
#reassign: jessie-jyy

[2021-09-08 22:13] PRMerger17 commented on #57713
GitHub user sohamnchatterjee has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-08 22:28] duongau commented on #57455
#reassign: gunjanj

[2021-09-08 22:29] arsnyder16 commented on #57764
@gunjanj

Just to add more information surrounding this since i have been working around this for over a year.

One of main thing missing from the front door rules engine that the cdn rules engine has is the "Preserve unmatched path" option.  Front door always assumed "Yes"

Here are some simple rules i use in cdn. Basically redirect all paths to /client container in blob. If there is no file exte

[2021-09-08 22:29] bandersmsft commented on #80724
Hi @JohanWinther, I'm investigating your issue with the Azure Billing enginnering team. In the meantime, is your Azure subscription offer ID MS-AZR-003P or is your billing account type listed as Microsoft Online Services Program?
![sub-type](https://user-images.githubusercontent.com/9596428/132594141-ec2bd8ba-84f3-40b8-95b0-f304f1db5114.png)

[2021-09-08 22:31] spelluru commented on #80044
Mentioned it in the article:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-filter-examples?source=docs#correlation-filters

#please-close

[2021-09-08 22:31] #80044 closed

[2021-09-08 22:31] duongau commented on #57022
#reassign: jessie-jyy

[2021-09-08 22:32] duongau commented on #56991
#reassign: gunjanj

[2021-09-08 22:38] mhamilton723 commented on #80614
@acd13 this should still work with latest version and spark 3. Can you please try out the following coords on a spark 3.1 cluster?

MMLSpark Build and Release Information
Maven Coordinates
com.microsoft.ml.spark:mmlspark:1.0.0-rc3-169-80889120-SNAPSHOT

Maven Resolver
https://mmlspark.azureedge.net/maven

[2021-09-08 22:44] duongau commented on #57643
#reassign: duongau

[2021-09-08 22:44] duongau commented on #56608
#reassign: duongau

[2021-09-08 22:47] duongau commented on #55892
#reassign: jessie-jyy

[2021-09-08 22:50] duongau commented on #55648
@LarsAndreasEk we have updated the caching documentation with a behavior and duration section: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-behavior-and-duration. Please let me know if you have any other questions or concerns. For now I will be closing this issue.

Thank you!

#please-close

[2021-09-08 22:52] duongau commented on #55620
#reassign: gunjanj

[2021-09-08 22:52] duongau commented on #55503
#reassign: jessie-jyy

[2021-09-08 23:28] Karishma-Tiwari-MSFT commented on #80804
As described in the example in the document here : https://docs.microsoft.com/en-us/cli/azure/azure-cli-variables#use-shell-variables , this is correct syntax for getting a value for a variable based on an existing virtual machine

osType=$(az vm get-instance-view --resource-group $MyResourceGroup \
   --name $vmName --subscription "$MySubscription" \
   --query 'storageProfile.osDisk.osType' --ou

[2021-09-08 23:28] #80804 closed

[2021-09-08 23:30] Karishma-Tiwari-MSFT commented on #80782
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-08 23:32] cynthn commented on #80287
@naspinski Where are you seeing a link to https://raw.githubusercontent.com/iainfoulds/architecture-center/aks-devops/docs/sample-solutions/app-modernization/templates/devops-with-aks/nested/grafana.json in this article? I'm not finding it at all.

[2021-09-08 23:49] LaudixGit opened #80808 "Prior version"
Please include links (and/or instructions) on how to download a prior version of the updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84d6309-04d8-c79c-e958-6f8fcfd609b2
* Version Independent ID: 4340ee42-6dc7-e4be-eb4b-37422a0f28aa
* Content: [Select your Azure Percept DK update package](https://docs.microsoft.

[2021-09-09 00:02] ChaitanyaNaykodi-MSFT commented on #80806
Hello @stewartadam
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-09 00:04] balag0 opened #80809 "Document FUNCTIONS_EXTENSION_VERSION appsetting is slot specific"
Existing documentation is available here but could be useful have it mentioned in this page as well.

https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#deployment-slots

<html>
<body>

WEBSITE_OVERRIDE_STICKY_EXTENSION_VERSIONS | **_By default, the versions for site extensions are specific to each slot._** This prevents unanticipated application behavior

[2021-09-09 00:04] smoop-msft opened #80810 "Request updating description"
At https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftcomputevirtualmachinescalesets
It says below
![image](https://user-images.githubusercontent.com/71783322/132601203-08e050c1-ba59-4039-8510-a7777574cdd1.png)
But it would be more clear to mention that it would be actually average of CPU across all instances running under a VMSS.

Thanks,
Satish

---
#### D

[2021-09-09 00:13] MicrosoftGuyJFlo commented on #80699
#please-close

[2021-09-09 00:13] #80699 closed

[2021-09-09 00:23] ChaitanyaNaykodi-MSFT commented on #80796
Hello @wbplomp
Thank you for your feedback! We will review and update as appropriate.

[2021-09-09 00:50] SamaraSoucy-MSFT commented on #80482
Since I have not heard back from you I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-09 00:51] SamaraSoucy-MSFT commented on #80490
Just checking in. Could you please check to make sure the API was set up with the OAuth provider?

[2021-09-09 00:54] SamaraSoucy-MSFT commented on #80809
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-09 00:55] lee0c opened #80811 ""pod-managed identities" is a misleading term"
Reading "pod-managed identities" implies to me that the identities are managed *by* the pods rather than assigned *to* them. Even just removing the dash and saying "pod managed identities" would add clarity (changing the wording may be even better though).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11

[2021-09-09 01:00] avidunixuser opened #80812 "Not working as documented"
I'm not a javascript developer but this tutorial is not working as documented. I was testing it before sharing it with the customer but I'm unable to. Can someone reach out to me to help me understand this better? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9bff6f3-5131-9ba4-cdf0-63228900b839
* Version I

[2021-09-09 01:00] fowl2 opened #80813 "Sync the same user to multiple Azure AD tenants - National Clouds"
Is it supported to sync the same user in AD to a single Azure AD tenant in each national/sovereign cloud? M365/ExO would remain in the worldwide tenant for all users.

The use case is a global org that uses global M365 services that wants to use their existing ADFS infrastructure to sign into the Azure Portal for Azure China (21Vianet), as Azure AD B2B isn't support across clouds.

---
#### Docume

[2021-09-09 01:03] fowl2 commented on #80813
This [article](https://techcommunity.microsoft.com/t5/public-sector-blog/microsoft-us-sovereign-cloud-myth-busters-active-directory-does/ba-p/1093339) seems (Illustration 3) to indicate it's ok.

[2021-09-09 01:06] lee0c opened #80816 ""Clean up" section does not include information on how to remove pod identity from the cluster"
The "Clean up" section at the end of this document starts with

but then continues to only detail how to remove the sample app, the pod identity used by the sample app, and the Azure identity.

Is it possible to disable pod identity on a cluster where it's been enabled? If so, that should be included here. If not, the wording of this section should change so as not to suggest removing these demo c

[2021-09-09 01:18] femsulu commented on #80810
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-09 01:19] nishankgu commented on #80457
@denniseik  can you take a look at this please per the teams chat

[2021-09-09 01:21] femsulu commented on #80760
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-09 01:27] MhAllan commented on #79817
This is closed for the second time without my question is being answered. does that mean if I have 1000 client, they tried to connect, each connected for 5 seconds then they disconnected, does that mean I consumed my 1000 connection for that day?

[2021-09-09 01:47] SamaraSoucy-MSFT commented on #80729
I've put in a PR to update the code samples. It will go live once it has been reviewed by the doc author.

[2021-09-09 01:47] #80729 closed

[2021-09-09 02:01] DataSnowman opened #80817 "Spelling issue on script"
https://docs.microsoft.com/en-us/azure/purview/register-scan-power-bi-tenant#register-and-scan-a-cross-tenant-power-bi

This script https://login.microsoftonline.com/<purview_tenant_id>/oauth2/v2.0/authorize?client_id=<client_id_to_delegate_the_pbi_admin>&scope=openid&response_type=id_token&response_mode=fragment&state=1234&nonece=67890

should be nonce=67890 for example.

---
#### Document Detail

[2021-09-09 02:04] KalyanChanumolu-MSFT commented on #80775
@kimjamia Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-09-09 02:20] gcsfred2 opened #80818 "Where exactly do the KBs live? Databases? not enough details"
There aren't enough details about where the KBs live or how to import and manage KBs. Can they live in a database? In SharePoint? In a spreadsheet? Are they indexed somewhere? What's the process that refreshes them? I can't find this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dce931c1-ae7e-14a4-707c-dd

[2021-09-09 02:24] CHEEKATLAPRADEEP-MSFT commented on #80797
@Meister1867  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2021-09-09 02:29] CHEEKATLAPRADEEP-MSFT commented on #80799
@Anand-Moghe  Thanks for the question! We are investigating and will update you shortly.

[2021-09-09 02:43] CHEEKATLAPRADEEP-MSFT commented on #80817
@DataSnowman Thanks for pointing out the issue, I've addressed this issue in PR:[https://github.com/MicrosoftDocs/azure-docs-pr/pull/171838](https://github.com/MicrosoftDocs/azure-docs-pr/pull/171838)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributi

[2021-09-09 02:58] CHEEKATLAPRADEEP-MSFT commented on #80798
@tmoeltner Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/747](https://github.com/MicrosoftDocs/databricks-pr/pull/747)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

@leifbro Cou

[2021-09-09 03:17] GiftA-MSFT commented on #80818
@gcsfred2 we'll review your feedback and get back to you shortly. Thanks!

[2021-09-09 03:34] kamsumlee-ms opened #80819 "virtual network and private endpoint is not supported in Premium tier?"
[Enter feedback here]
The document mentioned virtual network and private endpoint is not supported in Premium tier. Is that still true? I have just created a premium namespace and then created a PEP successfully.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa6a799-cfb1-4cf3-c25d-2bf19a8f6560
* Version Independent I

[2021-09-09 04:02] BhargaviAnnadevara-MSFT commented on #80783
@RalfKlahrMS Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-09 04:04] BhargaviAnnadevara-MSFT commented on #80790
@SillyKeith Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-09 04:08] BhargaviAnnadevara-MSFT commented on #80787
@jeremiedeveloper Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-09 04:09] AnuragSharma-MSFT commented on #80643
@AshleyYangSZ Awaiting your response on this.

[2021-09-09 04:14] BhargaviAnnadevara-MSFT commented on #80740
@JerryNixon Are there any further updates here?

[2021-09-09 04:42] RohitMungi-MSFT commented on #80732
@kjeske You can use the read API or Azure Form recognizer to get the text in the document but it does not make it searchable directly. If you need to ensure the extracted document is searchable you should look at using [Azure cognitive search](https://docs.microsoft.com/en-us/azure/search/search-what-is-azure-search). The [document extraction skill](https://docs.microsoft.com/en-us/azure/search/co

[2021-09-09 04:50] SrijitBose-MSFT commented on #80816
@lee0c , thank you for your feedback. We have shared the same with the content author(s).

[2021-09-09 04:53] SrijitBose-MSFT commented on #80811
@lee0c thank you for your feedback. We have shared the same with the content authors

[2021-09-09 05:24] ram-msft commented on #80644
Thanks @iqfareez. Raised the pull request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/171845 for the mentioned changes.

[2021-09-09 05:24] ram-msft commented on #80644
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-09 05:24] #80644 closed

[2021-09-09 05:29] DexterDreeeam opened #80822 "About MachineLearningServices Workspace Name Rule"
Hi, there,

I am Microsoft internal employee,
Our team service want to create Workspace (Microsoft.MachineLearningServices) in Azure.
But we found some trade marks are reserved, and couldn't be used as part of workspace name.

In this doc.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules
the name rule for Microsoft.MachineLearningServices.workspace is on

[2021-09-09 05:34] SrijitBose-MSFT commented on #80803
@mcavallo-work , thank you for sharing your concern with us. However, the `--enable-pod-identity` is available with the latest `aks-preview` extension on the latest version of Azure CLI.

Can you please run `az version` and check if the `aks-preview` extension exists and if so please run `az extension update --name aks-preview`? If you do not have `aks-preview` extension enabled on Azure CLI, plea

[2021-09-09 05:38] SrijitBose-MSFT commented on #80152
@brootware do you have further queries on this?

[2021-09-09 05:43] ojasvin commented on #46280
Getting this same issue as well.
In my case I have not created a Prediction and Training Resource separately rather I have created a
All Cognitive Services kind of Resource but I still see this issue happening

[2021-09-09 05:45] JohanWinther commented on #80724
Yes, the offer ID for the subscription is MS-AZR-003P and the account type is listed as Microsoft Online Services Program.

[2021-09-09 05:47] SrijitBose-MSFT commented on #80684
@Lucas-MSFT thank you for your feedback. We are aware of this. We shared this concern with our product team and the content authors

[2021-09-09 05:53] KrishnaG-MSFT commented on #80822
@DexterDreeeam Thanks for the question! We are investigating and will update you shortly.

[2021-09-09 06:09] HarshitaSingh-MSFT commented on #80672
Moving this issue to [here](https://github.com/Azure/AppConfiguration/issues).

[2021-09-09 06:09] #80672 closed

[2021-09-09 06:13] Lovejeets opened #80823 "spelling mistake"
[Enter feedback here]
Instead of ContainterRegistryLoginEvents, it will be ContainerRegistryLoginEvents. There is an additional character 't' after contain in the above spelling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff7ea15c-a91a-3fa0-8ac6-a835aa32d430
* Version Independent ID: 1da7a292-c21d-f7de-8371-37ff7c6

[2021-09-09 06:22] RohitG92 commented on #80413
Can we have any update on this issue ..please?

[2021-09-09 06:42] haripraghash opened #80824 "Periodic backup option modification of backup config"
The article states **_Currently you can change them backup options from Azure portal only._**

Is this still true? I am able to change backup retention and backup interval using arm templates after provisioning.

`  "backupPolicy": {
                    "type": "Periodic",
                    "periodicModeProperties": {
                        "backupIntervalInMinutes": 480,

[2021-09-09 06:44] debanandaghosh opened #80825 "Document date 2020?"
[Enter feedback here]

seems to be new feature but August 2020 date? Is the date correct, or its a existing feature since 2020

Debananda Ghosh
GBB ASIA team

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6764c5c9-9bc2-d8f1-d26f-9991679ab101
* Version Independent ID: 538f3ccb-32a2-6fd3-c85f-327bab2152f7
* Content: [Sha

[2021-09-09 06:54] aelij commented on #80159
@SwathiDhanwada-MSFT the PR doesn't address the primary issue - I would like to see a list of required permissions in one place. And the Log Analytics permission is missing.

[2021-09-09 06:58] JasonWHowell commented on #80825
#reassign:yanancai
@yanancai this is a new page you made, do you want it to say 2021?

[2021-09-09 07:20] jeevannagvekar opened #80826 "ADU Raspberry pi - Nested Edge Configuration"
Hello team, I am trying to setup Raspberry Pi as ADU device in nested fashion. I am using the sample image (https://github.com/Azure/iot-hub-device-update/releases) - busybox as provided in this tutorial. This image is flashed on raspberry pi child device. I have another Raspberry Pi device running Azure IoT Edge Runtime as Top layer parent Device. To connect this child device to parent, I need to

[2021-09-09 07:22] yossi-y commented on #80001
Thanks for reporting.
A fix to 500 GB/d was submitted.

[2021-09-09 08:01] MatthiasWinzeler commented on #16721
Hi folks

Due to an infrastructure problem (some nodes could not pull from ACR anymore) we contacted Azure support to provide us with steps to remove/replace a node manually from AKS.

We got the following instructions:

[code]

After deleting the node from k8s, the VM instance backing the node was still running in Azure portal.
However, after 10-20 minutes, it automatically got deleted.
So it see

[2021-09-09 08:04] SrijitBose-MSFT commented on #80823
@Lovejeets thank you for sharing this feedback. We have updated the document and the changes should reflect soon.

[2021-09-09 08:06] TammyMGI opened #80827 "Azure AD B2C_Single Sign out"
Hi all,

Our team has used Azure B2C- User flow- Open ID Connect to build the Single-sign on. Now, when moving to the Single Sign out, we have some issues.

We follow the instruction of [Azure doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc), but it doesn't work functionally wherein other applications under the same tenant does not simultaneously sign out as

[2021-09-09 08:17] ash-ishh commented on #53622
In our case the above error was due to quota exhaustion.

[2021-09-09 08:20] #80823 closed

[2021-09-09 08:27] SrijitBose-MSFT commented on #80321
@dlahmad thank you for your feedback. We have shared the same with the content author(s)

[2021-09-09 08:42] JoostvdB94 commented on #45796
This may help with configuring the azure cloud provider and configure a service principal in AAD
https://medium.com/swlh/using-the-azure-kubernetes-provider-in-a-vm-based-k8s-cluster-fdf941b86d69

[2021-09-09 08:51] romankiss opened #80828 "Scanning a QR code for device connection"
This is a great feature for device provisioning to obtain the following properties, such as:
_scopeId_, _deviceId_ and _deviceKey_, btw. it will be nice to have it also for _Administration/Device connection_ page.

I'm surprised that the QR code doesn't contain properties like **modelId** especially when it comes to IoT Central App.

So, would it be possible to add to the QR code property _modelId

[2021-09-09 08:58] jjindrich opened #80829 "Guest health - Windows services"
Please, is it planned to have support to monitoring health of Windows service ? Like service is running -> health.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 412d6d5f-37a0-ec03-d2e2-96a2e6d5996a
* Version Independent ID: 08262432-8584-a61c-ed68-7356a5f254b4
* Content: [VM insights guest health (preview) - Azure Mon

[2021-09-09 09:14] jocarv-fte opened #80830 "recover a CMK encrypted storage account failing"
Hi
I have tried to recover a CMK encrypted storage account, but the recovery failed due to the storage account "losing" the managed identity. The solution was to re-run the powershell steps in: https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=powershell
(I tried first to run the AZ CLI, but the command to assign managed identity did not work)

Is

[2021-09-09 09:16] joaomoreno commented on #55648
@duongau From what I understand, if I set my settings as below, the content should be cached for a year. But in practice, I easily observe my backend being hit again within a couple of days, which tells me that FD is still using 1-3 days of cache instead of the 365 days.

![image](https://user-images.githubusercontent.com/22350/132658353-23fc7ee0-d246-4182-8c5b-873da31708b2.png)

Can you explain w

[2021-09-09 09:18] AnuragSharma-MSFT commented on #80824
@haripraghash Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-09 09:19] CHEEKATLAPRADEEP-MSFT commented on #80819
@kamsumlee-ms Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/171856](https://github.com/MicrosoftDocs/azure-docs-pr/pull/171856)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribu

[2021-09-09 09:26] h579684 opened #80832 "Blueprint assignments"
Considering the blueprint and where they can be assigned
The documentation says
https://docs.microsoft.com/en-us/azure/governance/blueprints/overview
The documentation says
"Each Published Version of a blueprint can be assigned  to an existing management group or subscription. In the portal, the blueprint defaults the Version to the one Published most recently. If there are artifact parameters or

[2021-09-09 09:34] AnuragSharma-MSFT commented on #80687
@eranganovade This article is specific to Flexible Server where enabling PgBouncer is possible through server parameters. Please check the screenshot below. I think you are using single server not flexible server. Please let us know:

![image](https://user-images.githubusercontent.com/66360845/132661646-57330bfe-43cc-41d7-aed6-ca20c63b8583.png)

[2021-09-09 09:43] eranganovade commented on #80687
@AnuragSharma-MSFT Yes, it looks like you're correct. I didn't know about "Flexible server" beforehand. Thank you for the info.

[2021-09-09 09:44] #80687 closed

[2021-09-09 09:52] SwathiDhanwada-MSFT commented on #80832
@h579684 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-09 10:26] RalfKlahrMS commented on #80783
Absolutely....
Oracle Database in Azure Virtual Machines backup strategies - Azure Virtual Machines | Microsoft Docs<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fvirtual-machines%2Fworkloads%2Foracle%2Foracle-database-backup-strategies%23%3A~%3Atext%3DAzure%2520Blob%2520storage%2520is%2520a%2520highly%2520cost%2520effective%252C%2Cusing%252

[2021-09-09 10:29] amanmcse commented on #80665
@koncarevicradovan In the B2C directory.

[2021-09-09 10:33] memildin commented on #80094
Hi @dwrusse, thanks for the feedback and for taking the time to help us improve the docs.

We've added the ARNs as requested. I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

Thanks again.

#please-close

[2021-09-09 10:33] #80094 closed

[2021-09-09 10:34] koncarevicradovan commented on #80665
I don't see any failed request there or error message

[2021-09-09 10:37] gjongeneel opened #80835 "Issue with multiple country codes"
If a contact covers more than one country or region, enter each of the two letter codes separated by a comma. For example, enter "US, CA, FR" without quotation marks into the template.

This will not work, as it will interfere with the 'States/Provinces' option. It will use the second country for a States/Provinces option and this will not be accepted when uploading the Excel sheet. For instance,

[2021-09-09 10:50] asos-andrewgoad opened #80836 "Use of --disabled instead of --enabled for az monitor metrics alert update"
As per [documentation](https://docs.microsoft.com/en-us/cli/azure/monitor/metrics/alert?view=azure-cli-latest#az_monitor_metrics_alert_update) shouldn't

`az monitor metrics alert update -g {ResourceGroup} -n {AlertRuleName} --disabled false`

actually be

`az monitor metrics alert update -g {ResourceGroup} -n {AlertRuleName} --enabled false`

---
#### Document Details

⚠ *Do not edit this section

[2021-09-09 11:04] asergaz commented on #80790
@SillyKeith Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-09 11:09] PhilipAnthonyMurray commented on #66112
@JayaChatterjee-MSFT @cveld This appears to be the case when the subscriber endpoint is within a vNet. In my case our Function Apps are within an ILB ASE and while I can register the Function App Event Trigger method as  subscriber endpoint Event Grid fails to forward over the event to the endpoint with the below error.

`errorMessage=The server name or address could not be resolved`

I have a pri

[2021-09-09 11:15] harelbr commented on #80836
Thanks so much for pointing this out @asos-andrewgoad !
I've just issued a fix to the documentation.

[2021-09-09 11:18] fearofweapons opened #80837 "Code Example has errors for RecoveryPoints"
Towards the bottom of the page is a code example to get the latest RecoveryPoint time...

"{0} {1}" -f $RecoveryPoints[0].RecoveryPointType, $RecoveryPoints[-1].RecoveryPointTime

This code actually returns the type of the most recent recovery but the time of the oldest recovery.

It should, probably, return both the type and time of the most recent recovery.

---
#### Document Details

⚠ *Do not

[2021-09-09 11:23] asergaz commented on #80808
Hello @LaudixGit , thank you for your feedback! Let me connect with Product Group to understand if there is an alternative place for that. As a workaround you can look at this page History and check for a specific version you are looking for: [History for articles/azure-percept/how-to-select-update-package.md - MicrosoftDocs/azure-docs (github.com)](https://github.com/MicrosoftDocs/azure-docs/comm

[2021-09-09 11:35] BhargaviAnnadevara-MSFT commented on #80635
@michaelspinks Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-09-09 11:39] marki555 opened #80838 "ApplicationInsights settings not working"
I am trying to enable Application Insights logging for Speech-to-text container (`mcr.microsoft.com/azure-cognitive-services/speechservices/speech-to-text` tag `2.13.0-amd64-sk-sk`).

I'm not sure what is the correct syntax - when I try to add `InstrumentationKey=87dc8918-xxxx-xxxx-xxxx-xxxxxx` as another parameter to the `docker run` command, it seem to ignore it:

[code]

When trying `Applicatio

[2021-09-09 11:42] BhargaviAnnadevara-MSFT commented on #80783
@RalfKlahrMS Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-09-09 11:47] RalfKlahrMS commented on #80783
Please let me know if you have any questions....happy to participate

Best,
Ralf

From: BhargaviAnnadevara-MSFT ***@***.***>
Sent: Donnerstag, 9. September 2021 13:42
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ralf Klahr ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Low Throughput for large Oracle databases on Azure Blob (#80783)

@RalfKlahrMS<https://nam06.safelink

[2021-09-09 11:55] saurabh-sengar opened #80839 "Please correct the git clone link for python"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e42b97c-42d8-4649-214f-b72cbafe5841
* Version Independent ID: 2fe19ba3-803c-c852-c42b-fd660df07626
* Content: [Analyze live video with your own model - HTTP](https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/analyze-live

[2021-09-09 12:19] marki555 commented on #80838
Just noticed that there is already a new version of the container (`2.13.0-amd64-sk-sk`). I tested it, but the error is the same.

[2021-09-09 12:20] amanmcse commented on #80665
@koncarevicradovan please send an email at AzCommunity[at]Microsoft[dot]com with subject Attn:Amanpreet and we will connect offline to investigate into it.

[2021-09-09 12:20] #80665 closed

[2021-09-09 12:26] dominicbetts commented on #80828
Hi @romankiss - thanks for the feedback.

We're currently working on some updates here, which will include group enrolments from the _Administration/Device connection_ page. I don't currently have any details about release dates.

The phone app does send a model id that IoT Central uses to create a device template. The QR code only works with the phone app - so the model ID is fixed and doesn't ne

[2021-09-09 12:26] mdlister opened #80840 "Azure monitor instructions are no longer valid"
I tried to fine the "More" options on Azure Monitor and it's not on the page. I managed to find it by searching for solutions and then adding the Surface hub solution and following the config to join it to the log analytic workspace that the hubs are configured to send there config too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-09-09 12:30] nlcamp opened #80842 "Add section for "Downstream Device fails to connect to Edge Transparent Gateway Device""
We've run into several customer issues recently where they see TLS authorization errors when attempting to connect their downstream (leaf) device to an Edge device configured as a transparent gateway. ICM #255878002 and [GH Issue #5343](https://github.com/Azure/iotedge/issues/5343) are two examples.

The remedy in both cases was the following:

1. Misconfiguration of the Gateway Host Name in the c

[2021-09-09 12:43] ram-msft commented on #80081
@kevin-titantech Thanks for the details. The product team debugging further on this, will update once the issue fixed.

[2021-09-09 12:45] hdelaby opened #80843 "Missing CIS benchmark control 9.11"
Hi,

I noticed that control "9.11 Ensure Azure Keyvaults are used to store secrets" is missing from this documentation page. I might have missed some others. Is there any reason why this control is missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b6f2f9-66f8-2fd2-18bc-c569f8216efd
* Version Independent ID: cc3

[2021-09-09 12:52] ram-msft commented on #80838
@marki555 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-09 12:55] prashanthmadi opened #80844 "Update Springboot Sample"
[Enter feedback here]
Below Springboot app referred in this article is outdated.. using old libraries/code does not compile anymore
https://github.com/Azure-Samples/azure-cosmos-db-mongodb-spring

I have worked with (balaks) on below sample
https://github.com/prashanthmadi/cosmosdb-mongodb-readpreference-springboot-java

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-09-09 12:59] jeremiedeveloper commented on #80787
Hello @BhargaviAnnadevara-MSFT , thanks for your feedback.

Azure CLI command to create AKS with Azure ML : https://docs.microsoft.com/en-us/cli/azure/ml(v1)/computetarget/create?view=azure-cli-latest#az_ml_v1__computetarget_create_aks

Documentation about AKS creation and attachment : https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-attach-kubernetes?tabs=azure-cli

Service P

[2021-09-09 13:01] EnzoGorlomi23 commented on #80581
Hi @amanmcse, any further update on this ticket ?

[2021-09-09 13:04] asergaz commented on #80812
@avidunixuser Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-09 13:07] asergaz commented on #80812
Hello @avidunixuser could you be more specific on what step in the documentation is failing for you so we try and reproduce the same? Fyi @anastasia-ms

[2021-09-09 13:08] satyajitcet opened #80846 "How to do atomic transaction in Azure cosmosdb Gremlin api?"
# Azure documentation issue guidance

## Tech support and product feedback

Technology Used - Azure CosmosDB gremlin API
Language Used - Java
Integration Library - Apache Tinkerpop Gremlin Driver
Problem:
  We are using 2 graphs (Let GraphA & GraphB) in single database.
  for 1 transaction we need to update vertices and edges of GraphA and GraphB. Need update in both graphs else no update in any s

[2021-09-09 13:10] nlcamp opened #80847 "Add section for "IoT Edge 1.1 Windows Deployment Error: The container operating system does not match the host operating system""
A few customers have run into this error and filed IcMs. The error is caused by using a host device and module that are not running the same version of Windows. Both host and module should run the specific version supported by IoT Edge: Windows version 1809/build 17763

The following page has steps for checking the Windows version on both host and container/module: https://docs.microsoft.com/en-us

[2021-09-09 13:13] #80836 closed

[2021-09-09 13:14] SwathiDhanwada-MSFT commented on #80840
@mdlister Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-09 13:15] asergaz commented on #80847
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-09 13:15] asergaz commented on #80842
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-09 13:16] SwathiDhanwada-MSFT commented on #80843
@hdelaby Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-09 13:18] SwathiDhanwada-MSFT commented on #80835
@gjongeneel Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-09 13:22] nhwkuhns opened #80849 "Unable to Successfully Consume Inference Endpoint"
[Enter feedback here]
I appears the code within the notebook 02-turbofan_deploy_model.ipynb has some issues both with creating the container image and getting predictions once the model is deployed.

First, I could not get the image creation to work with the myenv.yml. I had to use the docker_file parameter with the below entries to get everything to deploy correctly.

[code]

Second, once the mod

[2021-09-09 13:25] ehsf973 opened #80850 "missing explanation: interest of using the ResourceManager Vnet instead of the Classic VNet."
hello,
I read the whole page and I still didn't understand the interest of using  the ResourceManager Vnet instead of the Classic VNet. Should explain first the aim/goals/interest of this architecture with the pros and cons and then goes to details of implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94fb7

[2021-09-09 13:28] anrub opened #80851 "Dead link to Multitenant Hosting for Windows 10."
Link to Multitenant Hosting for Windows 10. is dead
https://www.microsoft.com/en-us/CloudandHosting/licensing_sca.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec82f0e4-0094-5d72-44f8-de52afad4e8a
* Version Independent ID: 5011e419-85d7-d003-1522-0e4f18135400
* Content: [How to deploy Windows 10 on Azure with Mul

[2021-09-09 13:49] ghaering opened #80852 "Permissions incorrect"
az role assignment create --assignee <appId> --scope $VNET_ID --role "Network Contributor"

is incorrect

permission "Network Contributor" must be assigned to scope route table instead.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version Independent ID: 82ac8cfa-b0a2-c77a-408a-

[2021-09-09 13:50] tech1982 opened #80853 "Internal Admin takeover seems no longer works"
Hi

The "Internal admin takeover" step-by-step guidance seems no longer valid (I can confirm we followed it many times and it worked in past)

We end with the message:
_Switch to an account that has permission
Your account (admin@xxxxxx.org) doesn’t have permission to view or manage this page in the Microsoft 365 admin center._

![image](https://user-images.githubusercontent.com/39118145/132697873

[2021-09-09 13:53] EthanChangAED commented on #80808
A new page was recently created for the previous versions.
https://docs.microsoft.com/en-us/azure/azure-percept/software-releases-usb-cable-updates

And please also check the following one to for choosing the suitable update method for your scenario.
https://docs.microsoft.com/en-us/azure/azure-percept/how-to-determine-your-update-strategy

[2021-09-09 13:54] naspinski commented on #80287
I can't remember which page you are referring to, please give me the link.

Stan Naspinski
- The Lumberjack <https://www.thelumberjackmn.com/>
- Cohesive Real Estate <http://cohesive.condos>
- Chili Lime Restaurant & Tavern <https://chililime.net/>

On Wed, Sep 8, 2021 at 6:32 PM Cynthia Nottingham ***@***.***>
wrote:

[2021-09-09 14:03] HarshitaSingh-MSFT commented on #80853
Hello @tech1982, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-09-09 14:04] hpsin commented on #80827
Hey there,
These are the docs for AAD, which operate slightly differently from B2C.  @nickgmicrosoft can you direct to the right doc?

[2021-09-09 14:08] asergaz commented on #80808
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-09 14:08] #80808 closed

[2021-09-09 14:10] Exploitacious commented on #21757
Hey Neelshray,

This is a bit off-topic, but I'm searching for a solution that I believe you might have an answer to. I know this is possible because I've done it before, but have since forgotten how and never saved the article I followed on how to accomplish this! I've been circling back around my search history and search terms for ages now trying to figure it out again. The reason I'm asking yo

[2021-09-09 14:17] SaiKishor-MSFT commented on #80413
@RohitG92 Apologize for the delay. I am looking into this now and will update you soon.

[2021-09-09 14:19] SaiKishor-MSFT commented on #80850
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-09 14:19] BhargaviAnnadevara-MSFT commented on #80839
@saurabh-sengar Thanks for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2021-09-09 14:26] HimanginiSisodia opened #80854 "Update for Azure Python SDK package version restriction for Azure-Fence-Agent"
###  **Update for Azure Python SDK package version restriction for Azure-Fence-Agent .**

As mentioned in document , the below restriction is no more applicable and azure python sdk package version can be updated to latest available.

- on SLES 12 SP4 or SLES 12 SP5 install version 4.6.2 or higher of package python-azure-mgmt-compute
- on SLES 15.X install version 4.6.2 of package python3-azure-mg

[2021-09-09 14:39] jihu opened #80855 "Azure still only offers MariaDB version 10.3 at the most. When will the newer (and stable) versions become offered?"
MariaDB 10.4 became stable in 2019, 2 years ago. 10.5 and 10.6 are also available as stable versions. Will you offer these versions any time soon? And is there any place where we can read about Microsofts thoughts and plans regarding MariaDB support for different versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-09-09 14:49] Germling opened #80857 "Can't sign up"
When trying to log in, I get the error:
The key is either invalid or doesn't use the region provided. Please verify your key and region in the Azure portal then try again.

My resource has the region germanywestcentral, which is not available in the dropdown.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-09 15:03] SnehaAgrawal-MSFT commented on #80681
@jjindrich Thanks for asking question! ASEv3 has several major changes in the system architecture that serve to remove all management traffic from the customer VNet. This allows you to configure your firewall tightly without breaking your ASE. So, the documented steps not need to be followed.

Also suggest you to check this document on [Feature differences Compared to earlier versions ](https://do

[2021-09-09 15:08] yunishiz opened #80858 "Name resolution for resources in Azure virtual networks"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resolution for resources in Azure virtual networks](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resol

[2021-09-09 15:09] romankiss commented on #80828
Hi @dominicbetts - thanks for prompt reply.

Adding a _modelId_ into the QR code will allow to use this feature for any application (emulator, simulator, tester, bridge, etc.). Note, that the QR code will have the modelId only when the device is assigned to the device template.

I have agree, the phone app doesn't need the _modelId_ property in the QR code, but having it will be a QR code more use

[2021-09-09 15:13] Oury-MSFT commented on #80844
@prashanthmadi Thank you for your feedback. We are checking this and will get back shortly.