[2020-06-11 13:24] VikasPullagura-MSFT commented on #56877
@nebula0248
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-11 13:25] VikasPullagura-MSFT commented on #56877
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-06-11 13:26] mrbullwinkle commented on #56388
@MonikaReddy-MSFT can you reopen this one and assign to me, this will require a bit more work on the docs side per my comments/code sample above. Thank you!

[2020-06-11 13:26] VikasPullagura-MSFT commented on #56871
@kaysauter
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-11 13:26] VikasPullagura-MSFT commented on #56871
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-06-11 13:27] KalyanChanumolu-MSFT commented on #56867
@bertrandpons Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-06-11 13:34] wUEZRs opened #56883 "SSL (full?)"
Coming from a Cloudflare world - this article does not mention much in regards to SSL all the way from client to backend. Is it just between the client and the front you get https traffic? If so this should be mentioned and perhaps even implemented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa

[2020-06-11 13:46] jtuliani opened #56884 "Missing Microsoft.Resources"
Missing info on Microsoft.Resources RP, in particular can I move a resource group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5793ee25-abff-fe59-3ffe-f137aaa91464
* Version Independent ID: 953a05ef-9d62-cb4e-105b-c16cd259def0
* Content: [Support for moving Azure resources across regions - Azure Resource Manager](ht

[2020-06-11 13:48] CHEEKATLAPRADEEP-MSFT commented on #56880
@sarathsasidharan  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-06-11 13:50] CHEEKATLAPRADEEP-MSFT commented on #56875
@bvorland Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-06-11 13:51] tfitzmac commented on #56739
@bsiva - thanks for this feedback. I'll update the list.

[2020-06-11 13:54] SychevIgor opened #56885 "Update screenshot, it's not preview"
Nobody want to use "preview" feature for DR. this screenshot stopping from usage of this feature

https://docs.microsoft.com/en-us/azure/storage/common/media/storage-initiate-account-failover/portal-failover-confirm.png
Current UX
![image](https://user-images.githubusercontent.com/578954/84393300-175c6800-ac04-11ea-946b-d1e6d1e6c867.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-11 13:59] LRSFC-DanJ commented on #49247
We are also seeing this issue at my workplace. There appears to be no way to access or update the Authentication Phone or Authentication Email properties of an Azure AD user using the AzureAD v2 PowerShell module.

[2020-06-11 14:04] jctbak opened #56886 "Azure SQL and Azure AD"
I am getting the following error when trying to create a user in Azure SQL DB. Active Directory admin is properly set for the DB.  The database is in Basic tier and located in North Central US region.
We have another DB in Central US region and I can create a user without any problems.

CREATE USER [***] FROM EXTERNAL PROVIDER;

Msg 33134, Level 16, State 1, Line 1
Principal '***' could not be res

[2020-06-11 14:09] mumian commented on #56797
@billspat - the article has been updated.  Thanks.

#please-close

[2020-06-11 14:09] #56797 closed

[2020-06-11 14:15] tfitzmac commented on #56739
The update will get published later today.
#please-close

[2020-06-11 14:15] #56739 closed

[2020-06-11 14:16] NavtejSaini-MSFT commented on #56738
@pthibodeaux Please follow link https://github.com/MicrosoftDocs/azure-docs/issues/43764 for more more help regarding this issue.

Here is solution for now:
"Some good news, we just release an update for the Cosmos Emulator version 2.11.1 which fixes both the Data Explorer unable to connect to the emulator’s endpoint, as well as an issue related to failing to upload a JSON item.
The emulator can b

[2020-06-11 14:18] CHEEKATLAPRADEEP-MSFT commented on #56882
@MikhailTymchukFT Azure Synapse Analytics now available in **public preview**.

**Public preview** – during this phase we allow any customer with the proper Azure AD license to evaluate the new feature. Microsoft Customer Support Services will supply support services during this phase, but normal service level agreements do not apply. For new features exposed in the Azure AD Portal, customer can e

[2020-06-11 14:20] mikeholmes-personal opened #56887 "Data Flow IP range"
When will data flows use fixed IP ranges per region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP addresses - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-fac

[2020-06-11 14:21] AshokPeddakotla-MSFT commented on #56734
@ash2017 If possible can we add a note or more information regarding the message body via routes to address this feedback for better clarity?

[2020-06-11 14:24] MikhailTymchukFT commented on #56882
Wow, thank you very much!
I see it now 👍

[2020-06-11 14:24] #56882 closed

[2020-06-11 14:37] sgdesmet commented on #54403
In our experience, `ver_fail_server` is shown if an email can't be sent to the supplied email address.

For example, the default regex for the `email` claim will allow emails such as `firstname.lastname@outlook`, but this will result in a `ver_fail_server` message

[2020-06-11 14:45] nextorr commented on #56815
Hello, im referring to the later, connecting to a VPN Gateway via a Public IP with IPv6 enabled.  The document you are linking adds to the confusion, as the document i am commenting on states that i can add an IPv6 range to the VNET associated with the Gateway: "IPv6: If your configuration requires IPv6 address space, select the Add IPv6 address space box to enter that information." now it is less

[2020-06-11 14:47] CHEEKATLAPRADEEP-MSFT commented on #56881
@BrianJackson There is no restriction on amount of data you can store in a Data Lake Storage Gen2.

**Note:** Azure Data Lake Storage Gen2 able to store and serve many exabytes of data.

**For Azure Storage** – Maximum storage account capacity is **5 PiB Petabytes**.

**For Azure Data Lake Gen1 Store:** There's no limit to the amount of data you can store in a Data Lake Storage Gen1 account.

**Fo

[2020-06-11 14:48] aurokk commented on #56868
Sure!
I'd like to build an event-sourcing based app and it needs to react to events. I think of using change streams to manage this problem. And I expect there will be a high amount of them so I think how can I horizontally scale processing of these events. So I'm looking for an opportunity to do that with the Mongo API of CosmosDB.

With the SQL API, I can rely on the change feed processor — http

[2020-06-11 14:49] CHEEKATLAPRADEEP-MSFT commented on #56574
@RonnieQuan  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-11 14:49] #56574 closed

[2020-06-11 14:50] CHEEKATLAPRADEEP-MSFT commented on #56743
@anurag-oss  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-11 14:50] #56743 closed

[2020-06-11 14:56] LuisCabrer commented on #55088
The issue is resolved with https://github.com/MicrosoftDocs/azure-docs-pr/pull/115957
#please-close

[2020-06-11 14:56] #55088 closed

[2020-06-11 15:04] kobiwan opened #56890 "the example on this page doesn't work"
[Enter feedback here]

below import block doesn't work, fails at "from azure.cognitiveservices.vision.computervision.models import TextOperationStatusCodes"
and "from azure.cognitiveservices.vision.computervision.models import TextRecognitionMode"

from azure.cognitiveservices.vision.computervision import ComputerVisionClient
from azure.cognitiveservices.vision.computervision.models import TextOpe

[2020-06-11 15:07] danipralea commented on #38310
or if you don't want to manually specify the keys, just use:

[code]

[2020-06-11 15:13] #56703 closed

[2020-06-11 15:14] BhargaviAnnadevara-MSFT commented on #56703
@sachinpanwar Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

Meanwhile, please refer to the archived blog here: [App Service and Functions hosted apps can now update TLS versions!](https://azure.github.io/AppService/2018/04/17/App-Service-and-Functions-hosted-apps-can-now-update-TL

[2020-06-11 15:20] sarathsasidharan opened #56891 "Extending this documentation with connecting Via Proxy Server"
In many enterprises a proxy server is used to route traffic from on premise to Cloud, in this case since the inbuilt spark connector cannot be configured to route via a proxy it is not possible to connect to Databricks via a proxy server from power bi desktop on the enterprise machine. Can you extend the documentation on how this can be achieved , guess many enterprises will face a similar issue.

[2020-06-11 15:21] barisengez commented on #15515
Hi, is there any roadmap for barcode recognition inside Computer Vision/OCR (Read API v3) ? We will require both barcode recognition and OCR from documents and pricing doubles up if we use read api + bing api which wouldnt be feasible. @YutongTie-MSFT

[2020-06-11 15:22] soydlopez opened #56892 "Error Import bulk members group Azure from csv"
In the document instructions, it is indicated that row 3 should be replaced by your own entries. Well, this when you do it does not work and the import fails.
Only leaving line 3 and start adding data from row 4 works correctly.
You should review this status.
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b2

[2020-06-11 15:27] tjoyce-admin commented on #56722
The action group name is "TJ Action Group", I assume the ID is the same if not let me know how to get the ID.
The runbook name is "Start-AzureAlertingToSN"

Not sure if you are talking about the time of creation for the action group or the runbook. The runbook has been around since early May 2020 and has been modified a number of times since then. The action group I believe was created May 20, 202

[2020-06-11 15:28] kuniteru opened #56894 "I got "ResourcePurchaseValidationFailed""
I got an error code that information isn't provided in this article.

It's "ResourcePurchaseValidationFailed".
That happened when I ran "New-AzManagedApplication".

I got following message.
New-AzManagedApplication: ResourcePurchaseValidationFailed : User failed validation to purchase resources. Error message: 'Offer with PublisherId: 'xxxxxxxx', OfferId: 'xxxxxxxxx' cannot be purchased due to val

[2020-06-11 15:29] JnHs commented on #55837
@timleyden thank you again for pointing out this issue! We have updated the content to read: "The Key Vault must be in the same subscription and region as the Batch account to be created." I'm going to request that this issue be closed now, but please let us know if you have further questions. #please-close

[2020-06-11 15:29] #55837 closed

[2020-06-11 15:36] onkarthg commented on #56606
Thank You for help.
Hello @amanmcse issue is bresolve token is genrated but after that i am tryg to retrive the secrete from key vault to linux machine using following command.
curl https://<YOUR-KEY-VAULT-URL>/secrets/<secret-name>?api-version=2016-10-01 -H "Authorization: Bearer <ACCESS TOKEN>"

ERROR:-
does not have secrets get permission on key vault 'testingok;location=eastus'. For help resol

[2020-06-11 15:44] diberry commented on #56269
#please-close

[2020-06-11 15:44] #56269 closed

[2020-06-11 15:48] ovishesh commented on #56243
Hi @xieofxie, thanks for reaching out and the feedback. We're currently tracking to enable language detection feature in Direct Line Speech by end of this calendar year.

[2020-06-11 15:51] s3rgant opened #56895 "Clarification"
[The Tenant that you log into to and navigate to Billing+ Costs -> Customers, is this done within the clients tenant or the CSP tenant ?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3673197a-4414-5a4c-b717-3aaa7529c5ed
* Version Independent ID: 4656d633-57a0-a8b8-29b9-5f5479c5e48a
* Content: [Get billing ownership o

[2020-06-11 15:52] vikaskumawat80 commented on #56217
I tried that. Adding a host entry but didn't work. Then we tried OpenVPN Access Server which worked.

[2020-06-11 15:54] pmozbert opened #56896 "troubleshooting steps not working on windows"
troubleshooting steps 3 and 4 do not work on windows server 2019.  The curl syntax is invalid.   for example:
[code]

For step 4 - `Azure AD join activity is captured in Event viewer under the User Device Registration\Admin log` I don't see this section in the event log.

Under Troubleshoot sign-in issues it says
`The Device and SSO State can be viewed by running dsregcmd /status. The goal is for

[2020-06-11 16:00] mrbullwinkle commented on #56388
#assign:mrbullwinkle

[2020-06-11 16:03] mrbullwinkle commented on #56388
@twastvedt I have updated the docs with the information I provided in the comment above. The changes will go-live between 10-11 AM UTC-7. If you have any further questions on this, please just let me know.

[2020-06-11 16:04] eric-camplin opened #56897 "This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release."
got following msg running the code in my own account in cloudshell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b616b7-f52b-2d08-3cc4-b4cfaf6bf9a0
* Version Independent ID: 365568da-879f-3212-d2ae-4848df94f64c
* Content: [Create a Linux VM in Azure from a template - Azure Linux Virtual Machines](https://docs.micros

[2020-06-11 16:05] BharathNimmala-MSFT commented on #56884
@jtuliani Thank you for your query,  moving Azure resources from one region to other are limited to Azure resources listed [here ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/region-move-support). You cannot move Azure Resource group to another region, however you can create a new resource group in intended region and [move the resources to new resource group](https://

[2020-06-11 16:05] #56884 closed

[2020-06-11 16:12] blainejt opened #56898 "Document issue with POP codes and missing explanation of Cache Status values"
The documentation says that "Pop The edge pop, which responded to the user request. POPs' abbreviations are airport codes of their respective metros." but this is not correct. Airport codes are 3 character codes but the logs has 2 character codes in them such as SN, BL, HK, DB.
Would be nice to have a valid list of the 2 character codes, actually all of them.

The values for Cache Status are not l

[2020-06-11 16:12] #55155 closed

[2020-06-11 16:15] fedehermida commented on #52291
Hi @danijam could you find out how this policies work? We are experiencing issues with this feature too as this sample didn't work for us.

[2020-06-11 16:15] SumanthMarigowda-MSFT commented on #56109
@tamram Can you please add your comments

[2020-06-11 16:25] kummanish commented on #56245
I have added this note:
Use the predefined private DNS zone for your service or create a new one. Refer to the Azure services DNS zone configuration for details.

The content of the DNS zone cannot be replicated in multiple docs. So having the link to read more is the preferred way. Let me know if this clarifies your question. thanks.

[2020-06-11 16:27] gs-repo commented on #56303
Hi Ramya,

Issue has been resolved.

Thanks,

Gurinder

From: Ramya Vastrad <notifications@github.com>
Sent: June 11, 2020 12:53 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gurinder Singh Mann <gsmann@blubyte.io>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to use ./azhlf (#56303)

Hi @gs-repo<https://github.com/gs-repo>,

Please conf

[2020-06-11 16:28] accenture-eso commented on #55155
Did we get a response from the product team to go with this being closed?

Thanks!

Joe Kaplan
Architecture and Strategy Lead – Technology Security Senior Manager
Accenture CIO Identity and Access Management Organization
---------------------------------------------------------------------------------
Mobile: (312) 953-9029 | E-mail: joseph.e.kaplan@accenture.com<mailto:joseph.e.kaplan@accenture.c

[2020-06-11 16:30] BharathNimmala-MSFT commented on #56894
@kuniteru Thank you for you for reaching out to us. We see you have already created a support ticket with our team, which should be the best place for you to get support on this issue. Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improvements related to the Azure documentation.

Our team will continue to work with you

[2020-06-11 16:30] #56894 closed

[2020-06-11 16:32] DixitArora-MSFT commented on #56554
@Atyulyakadam2013 I have assigned this to content author for further review and update as appropriate.

[2020-06-11 16:38] SumanthMarigowda-MSFT commented on #56668
@RonnieQuan  You can't mount Azure file share using SAS.
You can share your feedback: https://feedback.azure.com/forums/217298-storage/suggestions/14498352-allow-azure-files-shares-to-be-mounted-using-sas-s

[2020-06-11 16:40] jayforu commented on #54628
@dimaqq even we are having similar setup but , failing to add security headers. Have you figured that out? And how is it working for you? We are using standard CDN of Azure
[https://i.stack.imgur.com/yi8my.png](url)

[2020-06-11 16:44] paratz commented on #48361
Hi,

In step 3, "roll out the feature" there are 2 URLs listed:

https://aadg.windows.net.nsatc.net
https://autologon.microsoftazuread-sso.com

however in both procedures, only the second URL is listed... this might lead to some issues with customers following the procedure.

Is it feasible to modify the document? Thanks!

[2020-06-11 16:45] tamram commented on #56109
@ripudaman - FYI

[2020-06-11 16:48] jtuliani commented on #56884
Thanks for the quick update. It's great to get an answer to my question, but my goal is also to see docs improved for others. I still think the page should be updated to include the Microsoft.Resource RP specifically (folks will look for it, it's a core RP) and to explain the support for RGs explicitly.

[2020-06-11 16:48] ysabih commented on #53978
Turns out I didn't set allow-private-response-caching to true and so the responses weren't cache because the requests contained the authorization header. When I did, we started to get some cache hits. My bad, sorry.

[2020-06-11 16:48] #53978 closed

[2020-06-11 16:54] tamram commented on #56432
@Soichi-Fukasawa - Thanks for pointing out that error. I've made the fix and it's now live.

#please-close

[2020-06-11 16:54] #56432 closed

[2020-06-11 16:55] MartinJaffer-MSFT commented on #56887
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-11 16:56] rikotcho commented on #56154
@da1rren the IP address is not random, it is the IP address of Instance Metadata Service, which is the same non-routable IP address for all Azure VMs with Instance Metadata Service. See [Azure Instance Metadata service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service).

A hostname and/or TLS are not available for Instance Metadata Service.

[2020-06-11 16:59] carinewa opened #56899 "SLES page update"
Hello,
Please update the link to "SUSE Linux Enterprise Server for SAP Applica­tions 12 SP4" as SUSE has deployed a new documentation website and changed their links.

The new working link is: https://documentation.suse.com/sles-sap/12-SP4

Carine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57197f20-6682-49c9-19ff-a

[2020-06-11 16:59] mallecespedes opened #56900 "Azure Key Vault Linked Service name parameterization"
Hello,

**Does ADF support parameterizing the Key Vault linked service name inside another linked service?**
For example, I have an ADLS Gen 2 linked service with the URL parameterized. I want to use the _Account key_ as the authentication method and I'm using a Key Vault to store the Account key. I specify dynamic contents in JSON format as shown below.

[code]

When testing the connection it fai

[2020-06-11 17:14] BharathNimmala-MSFT commented on #56884
@jtuliani Absolutely, we greatly appreciate you taking time and providing feedback. I will take this forward with our document author @rayne-wiselman to further evaluate the feedback and see what can be done to enhance the document. Will keep this thread updated as i get more information. Thanks again.

[2020-06-11 17:16] nickmorgy opened #56902 "'Max data disks' is a confusing term"
I have just had this point raised by a customer.  They had assumed that 'Max data disks' did not include the operating system disk as this is not used for data.  They suggested that 'Max disks' would be clearer and less open to misunderstanding, and I agree.  Is there some reason for using the term 'Max data disks' or can it be changed?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-06-11 17:20] djpmsft commented on #56900
Hi @mallecespedes ,

You cannot parameterize the Linked Service reference. What you can do is parameterize the AKV linked service itself to have a parameter that you use as the baseURL. This unfortunately doesn't have a native UX, but you can edit the JSON. A sample properties JSON is below:

[code]

That being said, I recommend using a single Key Vault to store all your data factory secrets.

Tha

[2020-06-11 17:22] SumanthMarigowda-MSFT commented on #56222
@alexvy86 Apologies for delay for the responding here!

Its saying that when you create a private endpoint for storage account A1 in VNet1, then the private DNS zone for that VNet1 is authoritative for the subdomain “privatelink.blob.core.windows.net”. Same thing happens for VNet2 if it has a private endpoint for a storage account A2.

Account A1 doesn’t have a private endpoint in VNet2. So if a c

[2020-06-11 17:22] #56222 closed

[2020-06-11 17:26] SumanthMarigowda-MSFT commented on #56126
@marc-gmail-towersap Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-11 17:32] ripudaman commented on #56109
@ashkickindevelopment  When you purchase Azure Storage reservation, you must choose the region, access tier, and redundancy option for the reservation. These attributes along with the size and term of reservation, form a unique SKU that you can purchase. Your total usage matching these attributes (region, access tier, and redundancy) for GPV2 Block Blob and ADLS Gen 2 in all storage accounts withi

[2020-06-11 17:33] bandersmsft commented on #55568
#please-close

[2020-06-11 17:33] #55568 closed

[2020-06-11 17:33] mike-urnun-msft commented on #56870
@jakub-klapka Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-11 17:35] Heidilohr commented on #56818
This is related to a bug that was fixed during the latest update of the client. I don't think this requires a doc update just yet, but we'll definitely keep an eye on this in case other people encounter this issue again.

[2020-06-11 17:36] AdamNSTA commented on #56818
Hmm ok. I have the latest client and run into this on Monday and Tuesday.

From: Heidi Lohr <notifications@github.com>
Sent: Thursday, June 11, 2020 1:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Adam Gell <adam@nextstepta.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] consent Windows Virtual Desktop serer app (#56818)

This is related to

[2020-06-11 17:41] mike-urnun-msft commented on #56878
@steveculshaw Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-11 17:43] webyxdesign commented on #56475
any update on this - it is a really big problem? Already in deployment means that it should work now?

[2020-06-11 17:44] SumanthMarigowda-MSFT commented on #49513
@brandonh-msft Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Are you still finding any issue in the above mentioned query, If so can you please reach me through Teams or you can drop me an email ?

[2020-06-11 17:46] oeicramirez opened #56903 "Issues with JIRA SAML SSO add-on redirect"
Hello,

If this isn't the correct place for this, apologies but it would be great if you can point me in that direction.

We installed this add-on on our Jira instance (as well as the Confluence equivalent). A majority of the time we don't have any issues, however one of our users has been getting weird behavior with it.

The basics of it is once the user clicks on the Login with Azure AD button,

[2020-06-11 17:54] tfitzmac commented on #56847
@mhyon - thanks for this question. I have clarified in the article that Azure CLI can be used to deploy a template that applies a tag. The update will be published later today.

[2020-06-11 17:54] spelluru commented on #55874
Fixed now.

#please-close

[2020-06-11 17:54] #55874 closed

[2020-06-11 17:58] mallecespedes commented on #56900
Hi @djpmsft ,

Ok, got it. Thanks for your answer.

Marielle

[2020-06-11 17:59] ajlam commented on #56867
Hi @bertrandpons, thanks for your question. Have you had a chance to read the [concepts data-in replication](https://docs.microsoft.com/en-us/azure/mysql/concepts-data-in-replication)" article?

In a nutshell, Data-in replication uses the native binary log replication that is available in the MySQL engine. This replicates **asynchronously** from the master server into the replica server hosted in

[2020-06-11 18:02] bandersmsft commented on #54358
@uvw We've added a note to the article to say that reservation discounts don't apply to Azure SQL Database serverless.

Thanks for catching this.
#please-close

[2020-06-11 18:02] #56847 closed

[2020-06-11 18:02] #54358 closed

[2020-06-11 18:04] MarileeTurscak-MSFT commented on #56892
@soydlopez
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-11 18:05] JamesTran-MSFT commented on #56903
@oeicramirez
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-11 18:05] MarileeTurscak-MSFT commented on #56896
@pmozbert
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-11 18:09] petro2050 commented on #49731
Any update?

[2020-06-11 18:12] anumjs commented on #54864
@joannapea

[2020-06-11 18:14] tfitzmac commented on #56524
@RonnieQuan - the delete lock blocks all delete operations that are sent to management.azure.com. All of the interfaces (portal, CLI, PowerShell, etc.) get processed as REST operations. I suspect the discrepancy you are seeing is that the PowerShell commands you are using get converted to an [update of the route table](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/routetables/createorup

[2020-06-11 18:18] tfitzmac commented on #55241
It looks to me that this has been fixed.
#please-close

[2020-06-11 18:18] #55241 closed

[2020-06-11 18:22] djpmsft commented on #56900
Glad I can help!

#please-close

[2020-06-11 18:22] #56900 closed

[2020-06-11 18:25] SaurabhSharma-MSFT commented on #56410
@marcosvidolin I am checking on this internally and get back to you.

[2020-06-11 18:30] MicrosoftGuyJFlo commented on #56746
The pricing page is the source of truth for licensing. Yes that is currently included in the free tier. Most of the functionality in the devices area of docs though refers to features that would need premium licenses.

[2020-06-11 18:31] MicrosoftGuyJFlo commented on #56746
#please-close

[2020-06-11 18:31] #56746 closed

[2020-06-11 18:34] CeciAc opened #56905 "既存の従量課金プランの割り当てについて"
@go-shinyashiki commented on [Thu Jun 11 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4791)

**Azure Functions のスケールとホスティング > 従量課金プラン**

ページ内の上記 1 文につきまして、GUI 上で以下操作を試しました。
・Azure Function を新規作成する際、Azure Portal で既に作成されているホスティングプラン「従量課金」で構成された App Service Plan を指定する

結果として、プラン選択時に従量課金で構成された App Service Plan は表示されず、新規 Azure Function を既存の従量課金プランに割り当てることはできませんでした。
もしドキュメントの誤りでしたら、該当の

[2020-06-11 18:40] JamesTran-MSFT commented on #56716
@ii-batman
Thank you for the quick response.

Since we will have to further troubleshoot this issue and it's not a doc related question/update. Please feel free to follow one of the below steps.

1: Post your issue in detail with any screenshots to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html), where myself and other engineers/community members can co

[2020-06-11 18:40] #56716 closed

[2020-06-11 18:46] MarkAtAgilliance opened #56906 "Daemon server or user apps? confused."
This page is redirected to from pages that talk about services and daemons like [this.](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#daemons-and-server-side-apps)   It introduces that in the first two paragraphs.

By the time is gets to [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#application-permissions) s

[2020-06-11 18:47] TravisCragg-MSFT commented on #56872
@ld0614 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-11 18:48] JamesTran-MSFT commented on #56906
@MarkAtAgilliance
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-11 18:49] JimacoMS3 commented on #31138
Hi @toddgauntgs,

Thanks very much for your feedback. I've updated the sentence to specifically call out the use of the `CN` attribute. I'm going to go ahead and close this issue. Please @ comment me here if you think we need to address this further.

Thanks again for bringing this to our attention!

-Jimaco

[2020-06-11 18:49] JimacoMS3 commented on #31138
#please-close

[2020-06-11 18:49] #31138 closed

[2020-06-11 18:50] craigshoemaker commented on #28860
I just verified that attribute indeed works at the class level. @joshlrogers, please feel free to reopen this issue if you feel it needs further discussion.

#please-close

[2020-06-11 18:50] #28860 closed

[2020-06-11 18:50] julieMSFT commented on #54864
#assign:joannapea

[2020-06-11 18:54] agentsim opened #56907 "Document how to customize the SMS message"
At the moment, the SMS message is of the form:

[code]

Unfortunately this doesn't work with iOS autocomplete, so the user always has to manually enter the code. It would be ideal if this message could be customized as a way to resolve the autocomplete problem as well as generally to provide a more appropriate message by context.

---
#### Document details

⚠ *Do not edit this section. It is requi

[2020-06-11 18:57] 14006873 opened #56908 "403 This request is not authorized to perform this operation using this resource type."
Hi All,
I am getting the above mentioned error when i try to upload files to the SAS token link provided to me.

I'm using windows 10 with the following command:

azcopy copy "file directory" "SAS token link"

both the file directory and token link is accurate.

I got the below error.

INFO: Authentication failed, it is either not correct, or expired, or does not have the correct permission -> git

[2020-06-11 19:04] Kenrik commented on #56907
`Use this code <code> for <application  name> verification`

This format would work - this needs to be user customizable.

[2020-06-11 19:13] hpsin commented on #56906
@MarkAtAgilliance - would it help if we renamed it from "sign the user in" to "sign the admin in"? The admin is required to grant the app-only permission.  We can certainly make the divide much more significant and simply eliminate the consent section, saying "go look at the consent page to figure out how to get consent for your app".

[2020-06-11 19:18] KSVarun opened #56909 "Post request to create an event using graph api createEvent is throwing “OrganizationFromTenantGuidNotFound” error"
Hi All.

Please help me solve this issue.

https://github.com/microsoftgraph/msgraph-sdk-java-auth/issues/32

[2020-06-11 19:20] SaurabhSharma-MSFT commented on #56535
@SeaDude We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-11 19:20] #56535 closed

[2020-06-11 19:23] TomGeske commented on #51539
#please-close

[2020-06-11 19:23] #51539 closed

[2020-06-11 19:24] SaurabhSharma-MSFT commented on #56701
@arolshan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-11 19:24] #56701 closed

[2020-06-11 19:25] hrushib commented on #56132
@khandelwalbrijesh, can you have look at it?

[2020-06-11 19:26] TomGeske commented on #50914
Kubectl 1.18 has been released in the meantime and az aks install-cli instal 1.18.3.

#please-close

[2020-06-11 19:26] #50914 closed

[2020-06-11 19:31] sameer-kumar commented on #56517
So, if I understood correctly, they are quite different in terms of features. E.g. I can't set Cloud Role Name if using LoggingProvider?

[2020-06-11 19:31] TomGeske commented on #47814
You can use `--node-count 1`  parameter.

I'm going ahead closing this one. Feel free to keep commenting in case of further questions.

#please-close

[2020-06-11 19:31] #47814 closed

[2020-06-11 19:36] MonikaReddy-MSFT commented on #51097
@TsuyoshiUshio ,  Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-11 19:36] #51097 closed

[2020-06-11 19:37] cijothomas commented on #56517
Both are different things - that part is correct.

The example about CloudRoleName is incorrect - its not tied to Logging or Asp.net core - so you can set roleName (or anything else as well) in both.

[2020-06-11 19:39] TomGeske commented on #54304
Thanks @lgmorand. We added a link to our docs as well. I'm going ahead closing this issue. Feel free to continue commenting.

#please-close

[2020-06-11 19:39] #54304 closed

[2020-06-11 19:49] StingyJack opened #56910 "Table naming limitation needs clarification"
Does this apply to the source, target, or both?  We have tables in a source database that would be named like...
 - dbo.Customer - the "base" table with the transactional data
 - audit.Customer - an audit table containing change records for the base table
 - history.Customer - a temporal table of the base table

... and we want to replicate the dbo.Customer table to a few remote databases using Da

[2020-06-11 19:55] tschaffler opened #56911 "HTTP trigger, look up ID from query string section - C# script code - errors"
Is the 'HTTP trigger, look up ID from query string' / C# script code example up to date, or are there additional configuration steps needed that this document may not address? I have tried and checked this code multiple times and receive a '500 internal server error' response each time. The issue seems to be caused by casting the Cosmos Db binding to the ToDoItem type. Substituting IAsyncCollector

[2020-06-11 19:59] JimacoMS3 commented on #28519
@ash2017 @jlian @elhorton Can one of you point me to the right person to help with this issue?

[2020-06-11 19:59] SubhashVasarapu-MSFT commented on #56736
@drwillis07 , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-11 19:59] #56736 closed

[2020-06-11 20:16] MarkAtAgilliance commented on #56906
Thanks for getting back so quickly.

I don't know if I can advise one way or another - I am new to OAuth (hence learning through these docs).  the good/bad thing about auth protocols is that they are so flexible that you have to deal with many scenarios.  In that case, let me explain mine and see if it helps.

I have an external service (from SendGrid) which has a webhook.  This webhook sends me d

[2020-06-11 20:32] Karishma-Tiwari-MSFT commented on #56821
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-11 20:32] #56821 closed

[2020-06-11 20:35] briancuster commented on #37696
This problem is the same for row delimiter.  If I type in \r\n I get a validation error stating that it cannot be a multi-character delimiter.  This is so dumb!  Why can't I type in \r\n?  It doesn't make any sense to me at all!

[2020-06-11 20:37] marcosvidolin commented on #56410
Thank you @SaurabhSharma-MSFT

[2020-06-11 20:38] Karishma-Tiwari-MSFT commented on #56526
Looks like the error you are getting is related to a name resolution not working.

Please use nslookup command from the computer you are trying to run the OC LOGIN command.
For example,
I am seeing:

[code]

** server can't find api.pradaro1.pradm.azureintheenterprise.com: NXDOMAIN

[2020-06-11 20:41] Karishma-Tiwari-MSFT commented on #56902
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-11 20:42] JamesTran-MSFT commented on #56903
@oeicramirez
Thank you for the detailed post. Since we will have to further troubleshoot this issue and it's not a doc related question/update. Please post your issue in detail with any screenshots to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html), where myself and other engineers/community members can continue to work with you on this issue.

Thank yo

[2020-06-11 20:44] MicrosoftGuyJFlo commented on #56358
Hey @kennethvs the [FAQ doc](https://docs.microsoft.com/azure/active-directory/identity-protection/troubleshooting-identity-protection-faq#how-do-the-feedback-mechanisms-in-identity-protection-work) covers this briefly, but you are right I need to cover it more broadly in the docs. I will get this in my backlog and work with the Product Team to update the content with more detail.

[2020-06-11 20:44] pradm commented on #56526
thanks for the update , i am closing this reported issue. i found the details documented @
https://github.com/stuartatmicrosoft/azure-aro/blob/master/README.md#aro4-buildsh
Appreciate all the help.

•	Custom domains will error on an invalid SSL certificate since the certificate is self-signed. You will need to upload a signed SSL certificate for your domain to address this.
•	The build script will

[2020-06-11 20:44] #56526 closed

[2020-06-11 20:45] JamesTran-MSFT commented on #56907
@agentsim
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-11 20:47] Karishma-Tiwari-MSFT commented on #52820
@zr-msft There has been 3 GitHub issues on the same topic by customers. Need your help in getting the document updated. Thanks :)

[2020-06-11 20:48] Karishma-Tiwari-MSFT commented on #56627
Since it is the same issue as #52820. We will close this issue. I am engaging with the doc-author on #52820

[2020-06-11 20:48] #56627 closed

[2020-06-11 20:49] MicrosoftGuyJFlo commented on #56358
#please-close

[2020-06-11 20:49] #56358 closed

[2020-06-11 20:50] chrisfromwork opened #56912 "Page does not call out how to install cocoapods if pod command does not exist"
This page should call out how to install cocoapods if the pod command does not exist
`sudo gem install cocoapods`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36302c32-a8cf-a00d-b7df-5647fb8cc742
* Version Independent ID: 2fa9dd03-6d79-0f02-bdc0-8d7a3d6bf8fc
* Content: [Quickstart: Create an iOS app - Azure Spatial A

[2020-06-11 20:50] MicrosoftGuyJFlo commented on #56322
#assign @sandeo

[2020-06-11 20:50] PRMerger18 commented on #56322
sandeo is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-06-11 20:51] Karishma-Tiwari-MSFT commented on #56526
Thank you for sharing the update and the solution for the issue you were seeing.

[2020-06-11 20:53] craigktreasure commented on #56912
Having CocoPods installed is mentioned as a prerequisite with a link to install it.

[2020-06-11 20:54] #56154 closed

[2020-06-11 21:01] oising commented on #44425
@bhushang19 As a last resort, I would suggest to delete the certificates from AppGw's store, then delete the listener and recreate it.

[2020-06-11 21:03] DerekHerman-MSFT commented on #56885
Thanks for the feedback! I have assigned the issue to the content author for further review.

[2020-06-11 21:14] Marusyk opened #56914 "Distributed tracing through Service Bus messaging doesn't work automatically"
Docs says:

I use  message handler pattern in worker service app with installed Microsoft.ApplicationInsights.WorkerService package and `AddApplicationInsightsTelemetryWorkerService` but no result. No any logs, dependency. AppInsights is empty.

Manual message processing tracking works. Why it doesn't work automatically?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-06-11 21:17] bandersmsft commented on #56722
@tjoyce-admin Thanks for those details. We're evaluating the incident. Can we get your email address to give you details? Once we get it, I'll close this issue and we'll track it using a different system.

[2020-06-11 21:19] tjoyce-admin commented on #56722
tom.joyce@teck.com

[2020-06-11 21:25] bandersmsft commented on #56722
@tjoyce-admin Thanks, Tom. After you're contacted by Support, please reply here. I want to ensure that your getting the support we've pleged. Thanks.

[2020-06-11 21:28] LenaVinogradov opened #56915 "Incorrect documentation"
This page page doesn't see to have the correct info regarding recognizing Azure Government tenants. It states that if value should be USG, but we have Azure Gov Tenant that is GCC High that has different value in the tenant_region_scope (USGov) :
It would really help to know what are the possible values for both tenant_region_scope and tenant_region_subscope properties. Out GCC High tenant has thi

[2020-06-11 21:30] JuanKRuiz commented on #46527
Thank you, How could We iterate over this issue>

[2020-06-11 21:30] MarileeTurscak-MSFT commented on #55757
The defaults should be the same the same, but some settings that are configured as part of enabling multi-factor may affect the flow connection. For example, when MFA is enabled from Microsoft 365 admin center and the "remember multi-factor authentication" setting is selected, the configured value overrides the default token policy settings, MaxAgeMultiFactor and MaxAgeSessionMultiFactor. Here are

[2020-06-11 21:30] #55757 closed

[2020-06-11 21:30] deathgaze commented on #56732
@psmanhas Thanks for your response! I'm still a bit confused. Specifically this part:

For some reason, the cluster I created is not appearing in the list of App Registrations in the portal even if I select All Application. For the record, I have the Global Administrator role. I can view them from the CLI fine tho -- but I'm not sure how to, for example, get the service principal password

[2020-06-11 21:37] kzu commented on #56827
Reported this as an issue too because I don't think it is actually supported (that I could figure out anyway): https://github.com/Azure/azure-functions-host/issues/6207

[2020-06-11 21:41] MarileeTurscak-MSFT commented on #56823
@frankkilcommins thanks! I made a pull request to update this https://github.com/MicrosoftDocs/azure-docs-pr/pull/118639

[2020-06-11 21:41] #56823 closed

[2020-06-11 21:42] BharathNimmala-MSFT commented on #56915
@LenaVinogradov Thank you for your feedback, assigned this issue to our document author @bernie-msft to further look into it.

[2020-06-11 21:56] KranthiPakala-MSFT commented on #56444
Hi @saikumarellendula,

This was identified as a UX parsing issue. As a workaround, you can try to specify a timestamp format in the source and sink as below in your Data flow script.. Currently, selecting the output format in the UX for timestamp doesn't let you type in a custom format directly, but you can go to the DSL editor and change it as below. ADF team has acknowledged this issue and have

[2020-06-11 21:56] #56444 closed

[2020-06-11 21:56] Karishma-Tiwari-MSFT commented on #56899
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-11 21:59] bandersmsft commented on #56054
@eosho Updated the article for clarity, per your suggestion with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118593. Thanks!
#please-close

[2020-06-11 21:59] #56054 closed

[2020-06-11 22:00] Karishma-Tiwari-MSFT commented on #56539
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-11 22:00] #56539 closed

[2020-06-11 22:00] bandersmsft commented on #56895
@s3rgant CSP tenant. Updated the article for clarity to address your issue with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118593
#please-close

[2020-06-11 22:00] #56895 closed

[2020-06-11 22:01] Heidilohr commented on #56818
@AdamNSTA For more information, please look at [this TechCommunity request](https://techcommunity.microsoft.com/t5/windows-virtual-desktop/feedback-requested-changes-to-the-subscription-logic-for-the/m-p/1451808).

[2020-06-11 22:03] MarkKharitonov opened #56917 "The table lists region human friendly names, but not the azure region code names."
So, it tells us that **Switzerland North** is paired with **Switzerland West**, for example. But it does not provide the Azure region code for Switzerland North - is it switzerlandnorth ? Or anything else?

Is the rule to just concatenate (excluding everything in the brackets) and remove spaces? We need this for scripting.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-11 22:03] bandersmsft commented on #56652
@bertsawicki They need to be returned in your PAYG subscription and repurchased in your CSP subscription. There's no penality for that situation. I updated the article for clarity to address your issue with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118593
#please-close

[2020-06-11 22:03] #56652 closed

[2020-06-11 22:09] jahobson75 opened #56918 "Link to RHEL Documentation Doesn't Work"
[Enter feedback here]

The link here:

Azure-specific RHEL documentation:
Install SAP HANA on Red Hat Enterprise Linux for Use in Microsoft Azure

doesn't work.

It points here:
https://access.redhat.com/solutions/3193782

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fd0d34-e78f-594c-8027-2d0d30ccf427
* Version Inde

[2020-06-11 22:09] bernie-msft commented on #56915
Hi @LenaVinogradov thanks for surfacing this! The only other possible is "USGov". We are transitioning all USG values to USGov over the next few months. I just submitted a change to reflect this other possible value.

Hope this helps,
Bernie

[2020-06-11 22:24] mamccrea commented on #56028
Hi @dimitri-b! Can you please tell me which section of the article makes reference to "column" instead of "partitionColumn"? We do state to use partitionColumn in the JDBC properties in the [Optimize performance when reading data](https://docs.microsoft.com/azure/databricks/data/data-sources/sql-databases#optimize-performance-when-reading-data) section.

![image](https://user-images.githubusercont

[2020-06-11 22:29] NavtejSaini-MSFT commented on #56534
@kummanish Would love your input and insight regarding this.

[2020-06-11 22:30] NavtejSaini-MSFT commented on #56532
@kummanish Can you please correct the document.

[2020-06-11 22:32] NavtejSaini-MSFT commented on #56671
@ryancrawcour We will go ahead and close this thread. Please get back to us for any other question.

[2020-06-11 22:32] #56671 closed

[2020-06-11 22:34] NavtejSaini-MSFT commented on #56621
@maartenkools Yes, as the allocation is dynamic, an upfront cost cant be attached to storage and is calculated depending on dynamic allocation.

[2020-06-11 22:36] SnehaGunda commented on #54507
FYI this is in progress, we will update the doc when the examples are available.

[2020-06-11 22:39] kummanish commented on #56532
this is fixed. we can close this.

[2020-06-11 22:42] YutongTie-MSFT commented on #56879
@dhruv12399
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 22:48] LenaVinogradov commented on #56915
Hi Bernarldo,
Thank you for getting back to me so quick!

  1.  Can you please tell me what would be the value of this property for DoD tenants?
  2.  What are the possible values for "tenant_region_sub_scope” property?
Thanks
Lena

From: Bernarldo Ellis <notifications@github.com>
Sent: Thursday, June 11, 2020 6:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Lena Vinogradov

[2020-06-11 22:53] YutongTie-MSFT commented on #56890
@kobiwan
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-11 22:58] #56416 closed

[2020-06-11 23:01] mike-urnun-msft commented on #56587
@Astersss Since we didn't determine any changes to this documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-11 23:01] #56587 closed

[2020-06-11 23:06] bernie-msft commented on #56915
Hi Lena, tenant_region_sub_scope will only have DODCON and DOD as values.

[2020-06-11 23:14] KranthiPakala-MSFT commented on #56731
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-11 23:14] #56731 closed

[2020-06-11 23:16] #52820 closed

[2020-06-11 23:21] KranthiPakala-MSFT commented on #56837
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-11 23:21] #56837 closed

[2020-06-11 23:24] MartinJaffer-MSFT commented on #56887
Thank you for your feedback, @mikeholmes-personal .
Our Product Group is working diligently on this feature amongst others. There is no ETA at this time, but it is something to come.

You can help prioritize this feature by voting for it at [feedback forum link](https://feedback.azure.com/forums/270578-data-factory/suggestions/40504123-data-flow-static-ip-address-ranges-and-allow-trus)

Until then

[2020-06-11 23:24] #56887 closed

[2020-06-11 23:24] LenaVinogradov commented on #56915
Bernarldo,
Can you please tell me when each one of them would be used? Presumably for DoD Office 365 Tenants?
thanks

[2020-06-11 23:28] derisen commented on #51392
@hamiltonha @DarylThayil @jmprieur neither msal.js nor adal.js has an `extractClaims` method as  far as I can see. I wonder if the author meant some custom method for illustration, though it is misleading of course. Regardless, there seems to be no need extracting claims for something like MFA, handling `InteractionRequiredAuthError` with an interactive request is enough. May I suggest taking down

[2020-06-11 23:34] bernie-msft commented on #56915
Correct. DODCON == O365 GCC High and DOD == O365 DoD.

________________________________
From: Lena Vinogradov <notifications@github.com>
Sent: Thursday, June 11, 2020 7:24:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bernarldo Ellis <Bernarldo.Ellis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Incorrect documentation (#56915

[2020-06-11 23:35] LenaVinogradov commented on #56915
thank you!

[2020-06-11 23:39] bandersmsft commented on #52879
@v-pethur Thanks for your input. Updated article with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118635.
#please-close

[2020-06-11 23:39] #52879 closed

[2020-06-11 23:39] bandersmsft commented on #52878
@v-pethur Thanks! Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118635

[2020-06-11 23:39] junpark12 commented on #56861
It's clear. Thanks :)

[2020-06-11 23:39] #56861 closed

[2020-06-11 23:39] bandersmsft commented on #52878
#please-close

[2020-06-11 23:39] #52878 closed

[2020-06-11 23:40] Karishma-Tiwari-MSFT commented on #56897
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 23:40] bandersmsft commented on #42340
@tsarna Updated for clarity with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118635. Thanks very much for your input.
#please-close

[2020-06-11 23:40] #42340 closed

[2020-06-11 23:41] Karishma-Tiwari-MSFT commented on #56918
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 23:42] fabio770 opened #56921 "Azure Functions 3.x - Azure Cosmos DB input binding"
I would like to know if it would be possible to have some examples of Azure Cosmos DB input binding for the Azure Functions 3.x.

Thank you very much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e3fe74-1d65-41eb-6a5e-0595e6d06029
* Version Independent ID: 8933389b-f4c0-acbd-afe3-86f18738c1f9
* Content: [Azure Cosm

[2020-06-11 23:47] prashantma opened #56922 "169.254.169.254 IP Address in this page content"
What does this IP Address "169.254.169.254" mentioned in this page point to? Is it same address for all Azure subscribers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8dbf1
* Content: [Access Azure Storage using a Windows V

[2020-06-11 23:52] Hao-Qian commented on #34451
+1 experienced same issue.  I tried to deploy a linux docker image (a .net core web app)  to Azure App service and got the following errors:

2020-06-11T17:55:59.454Z ERROR - Container for site testdeletable has exited, failing site start
2020-06-11T17:55:59.455Z ERROR - Container didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging.

 Setting BOTH PORT an

[2020-06-11 23:55] MarileeTurscak-MSFT commented on #56819
In my labs I have 443 enabled for connection to the Internet on the WAP and 80 to validate certificates on the ADFS. This is consistent with existing best practices.

80 - "Used to download CRLs (Certificate Revocation Lists) to verify TLS/SSL certificates."

https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/best-practices-securing-ad-fs

Hope this helps! If you have furthe

[2020-06-11 23:55] #56819 closed

[2020-06-12 00:01] JamesTran-MSFT commented on #56922
@prashantma
The IP you mentioned is the Azure Instance Metadata Service, which is a REST Endpoint that is a well-known non-routable IP address (169.254.169.254), it can be accessed only from within the VM.

For more info, please see - [Azure Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service)

Thank you for your time and patience, I

[2020-06-12 00:01] #56922 closed

[2020-06-12 00:20] mamccrea commented on #49484
Thanks, @vikash476! I've updated the doc. Changes should go live tomorrow.

#please-close

[2020-06-12 00:20] #49484 closed

[2020-06-12 00:27] jeevansd commented on #56869
Yes, I can also see it. Make sure that you are login into Azure Portal with Cloud Application Administrator role or Global Admin role to add the application from gallery.

[2020-06-12 00:31] pmozbert commented on #56896
I realized that the metadata queries work from a powershell prompt but not a dos prompt, while the other curl connection tests work from a dos prompt but not a powershell window.

[2020-06-12 00:35] HansonChiu1994 opened #56924 "Export the cost analysis to a storage account with selected network"
Due to my company restriction, I have to export the cost analysis report to a storage account with selected network. In the storage account, I've enabled the MS trusted services. But it seems the Excel can't export to the destination and being blocked. Are there any workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-12 00:41] prashantma opened #56925 "More than one Azure Keyvault"
As in this page,
Response to this returns access token. Does this mean that for this VM, same "access token" is to be used irrespective of key vault resource, if more than one, where secret is stored?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294128ee-aa91-8f63-f2e1-04b1ec5db5bc
* Version Independent ID: 68

[2020-06-12 00:58] imeya commented on #55642
@RyanHill-MSFT , this one: Microsoft.Azure.WebJobs.Logging.ApplicationInsights 3.0.14.

[2020-06-12 01:08] atrauzzi commented on #56245
No it didn't at all. You aren't speaking directly with the phrase "or create a new one". It's just vague English and doesn't offer a well anchored understanding to the degree of flexibility.

It would be better to say something to the effect of "...you are free to provide a DNS zone with a name other than the default or any examples found here..."

Phrasing it that way makes it clear what you're t

[2020-06-12 01:16] tomas-gottwald opened #56926 "Invalid ST_DISTANCE query syntax in the docs"
It seems like this query is not working because it needs double quotes instead of single quotes:

SELECT f.id
FROM Families f
WHERE ST_DISTANCE(f.location, {'type': 'Point', 'coordinates':[31.9, -4.8]}) < 30000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9373723-a59a-0cd5-8208-5a33a5fd623b
* Version Independent ID:

[2020-06-12 01:17] kummanish commented on #56245
The idea is for making it easy to use for customer. So the preferred way is through predefined DNS zone name. Therefore I can rewrite this as below. This does make it clear that it is just an option for customers to try.

"Use the predefined private DNS zone for your service or provide your preferred DNS zone name. Refer to the Azure services DNS zone configuration for details."

[2020-06-12 01:18] Leon99 opened #56927 "Deleting a leased blob"
There is no straightforward way to delete a leased blob using the .NET library, it would be great to cover it in the documentation (or mention that it's impossible).
It can be done using the REST API by providing the lease ID via an HTTP header, but there seem to be no way to pass that header via BlobClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-06-12 01:40] dimaqq commented on #54628
@jayforu looks like the suggested way to affect the 100 char limit is to submit feedback to azure :(

[2020-06-12 01:51] Karishma-Tiwari-MSFT commented on #56250
Thanks for sharing the update.

[2020-06-12 01:54] mhopkins-msft commented on #56126
@marc-gmail-towersap Thank you for this feedback. I have added examples for both Bash and PowerShell and fixed the command to create a container. The update should be published soon.

Thanks!
 ~ *Mark*

#please-close

[2020-06-12 01:54] #56126 closed

[2020-06-12 02:23] KrishnaG-MSFT commented on #56924
@HansonChiu1994 Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-12 02:42] AshokPeddakotla-MSFT commented on #56883
@wUEZRs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-12 02:44] AshokPeddakotla-MSFT commented on #56886
@KalyanChanumolu-MSFT Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-12 02:45] AshokPeddakotla-MSFT commented on #56891
@sarathsasidharan Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-12 02:46] AshokPeddakotla-MSFT commented on #56898
@blainejt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-12 02:47] mikew1927 opened #56929 "Please explain WHY"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Enable per-user Multi-Factor Authentication - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates)

[2020-06-12 02:48] mikew1927 opened #56930 "Please explain WHY "You shouldn't enable or enforce users if you're using Conditional Access policies""
Please explain exactly WHY "You shouldn't enable or enforce users if you're using Conditional Access policies".

It is very hard to find information or examples to reconcile this statement, the results should be predictable, explainable, and well documented. Please help us by fixing this omission?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-06-12 02:49] oscholz commented on #43218
Creating PR for the fix now.

[2020-06-12 02:54] AshokPeddakotla-MSFT commented on #56909
Duplicate of #https://github.com/microsoftgraph/msgraph-sdk-java-auth/issues/32
Since you have already raised an issue in another place, please continue your discussion there to avoid duplicate efforts.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-12 02:54] #56909 closed

[2020-06-12 02:56] AshokPeddakotla-MSFT commented on #56908
@14006873 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-12 02:56] jctbak commented on #56886
It is related to:
https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-configure?tabs=azure-powershell

[2020-06-12 03:07] AshokPeddakotla-MSFT commented on #56724
@dinesh1393 Please help with the link of document on which above document feedback request is created.

[2020-06-12 03:10] ram-msft commented on #56243
@mswellsi @ovishesh Thanks for sharing the road map.
@xieofxie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-12 03:10] #56243 closed

[2020-06-12 03:21] manish-jain-1 commented on #32922
We are experiencing this issue. Is there an issue reported on Azure repo somewhere as this is just a docs repo? We are very disappointed with this limitation. Microsoft allowing same VNET with a new ASP but not an existing ASP. Is there a technical reason? We possibly can have hundreds of app services, so we need to pay for each service under a new premium ASP? Is there a workaround @BryanTrach-MS

[2020-06-12 03:45] KalyanChanumolu-MSFT commented on #56840
@sredman Thank you for reaching out.
It is infact the other way round, AzureRm Module was the older one and was replaced by the newer Az module.

[2020-06-12 03:47] AshokPeddakotla-MSFT commented on #56691
@anastasia-ms Do you have any further updates or are we good to close this issue?

[2020-06-12 03:51] adamkadzban opened #56931 "When will this page be updated for Durable Functions 2.x?"
This page specifically notes that it's providing guidance for Durable Functions 1.x. I'd like guidance for Durable Functions 2.x to be provided as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9799c027-110a-deae-571e-b370ca6643a6
* Version Independent ID: 28c0c8bb-2c1d-4660-5dd2-6a1330e21fb4
* Content: [Zero-dow

[2020-06-12 03:52] dimitri-b commented on #56028
I was only referring to the code example, I assumed (incorrectly) that the  name for the partitioning column parameter/key would be the same in both Python function parameter and connection properties dictionary.
But judging by the error message, the connection properties is handled by something from Java behind Python.
I only encountered this confusion in Pyhton, in Scala the names are consistent

[2020-06-12 04:00] kuniteru commented on #56894
Thank you for your commnet.
As you wrote, I have already created a support ticket.

The following was written at the top of this document and I reported it here accordingly.

Of course, the decision to edit or update is fine the way you wrote it.

Thank you

[2020-06-12 04:00] alexchen2016 commented on #55629
Hi @neeleshray-msft, Can you help on this? Thanks

[2020-06-12 04:03] anuraj opened #56932 "Nuget reference redirecting to old version of NuGet package"
In the documentation - there is option which talks about adding reference of `Microsoft.Azure.CognitiveServices.Search.NewsSearch` which is redirecting to old version - 1.2.0. But if we use that package - we won't get the reference of `NewsSearchClient` class.

Update that to 2.0.0 or remove the version from the URL - so it will show to latest version.

---
#### Document Details

⚠ *Do not edit th

[2020-06-12 04:08] 14006873 commented on #56908
Hi there, found the mistake. it was due to a missing char in the sas token.

[2020-06-12 04:08] #56908 closed

[2020-06-12 04:10] Mike-Ubezzi-MSFT commented on #55839
@kamaljit-1991 @jagarg This is being addressed in the current sprint and will be released to public cloud during a future release.

[2020-06-12 04:11] anastasia-ms commented on #56691
Go ahead and close. I reached out to the pm, but didn’t receive a response.

On Jun 11, 2020, at 8:47 PM, AshokPeddakotla-MSFT <notifications@github.com> wrote:

﻿

@anastasia-ms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fanastasia-ms&data=02%7C01%7Cv-stharr%40microsoft.com%7C11796e5be86445cee40f08d80e835e7c%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637275304

[2020-06-12 04:11] greendx opened #56933 "Unable to bulk import B2B guest users"
Hi,

I am unable to bulk import B2B invited guest users from another Azure tenant by via their UPN. It works when using their object ids but when using UPN I get an error:

Bulk operation GroupImportMembersTemplate.csv finished. However, 2 of the 2 sub-operations failed. Click on the title to see the detailed information.

No user with this user name/object ID exists in this group. Change the user

[2020-06-12 04:13] VikasPullagura-MSFT commented on #56398
@BryanAdvisicon Yes, it is the same as mentioned in this [doc](https://docs.microsoft.com/en-us/azure/virtual-desktop/environment-setup).

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-12 04:13] #56398 closed

[2020-06-12 04:13] greendx opened #56934 "Documentation Update request"
[Enter feedback here]

Please update this document to say that a minimum of 2 users is required to use the bulk import feature. While it may seem obvious, when testing this feature with one user and getting a generic error "user name/object ID of an existing user in this group  and resubmit your request." It is not clear why.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-12 04:48] DixitArora-MSFT commented on #56931
Hi @adamkadzban Thanks for reaching out. We will review and update as appropriate.

[2020-06-12 04:50] shashishailaj commented on #56929
@mikew1927 Thank you for your query. We will review this request and update the thread.

[2020-06-12 04:51] shashishailaj commented on #56930
@mikew1927 Thank you for your query. We will review this request and update the thread .

[2020-06-12 04:53] shashishailaj commented on #56929
@mikew1927 This thread seems duplicate of #56930 . I will be closing this thread and we will work on the other issue with detailed description. Please let us know in case otherwise.

Thank you .

[2020-06-12 04:54] shashishailaj commented on #56933
@vipulsparsh Thank you for your query. We will investigate and update the thread.

[2020-06-12 04:55] shashishailaj commented on #56934
@greendx Thank you for pointing that out . We will review this and have it updated.

[2020-06-12 04:57] shashishailaj commented on #56925
@prashantma Thank you for your feedback . We will investigate and update the thread further.

[2020-06-12 05:01] bhushang19 commented on #44425
@oising Yes, have tried it but still the same. Point to note here is that If you add the custom probe without 'Test' and then associate it with the HTTP setting - it works but issue occurs only when you try and create the custom health probe and 'Test' is before creating.

[2020-06-12 05:04] Tbohunek commented on #44425
I believe there is just a bug with the `Test` mechanism. The `Probe` itself works, the `Backend Health` also shows as healthy and everything works. Just that any time you decide to run the `Test` within the `Probe` config, it always fails with `CN mismatch`, no matter what you enter in the `Host header` or any other parameter.

[2020-06-12 05:07] bhushang19 commented on #44425
@Tbohunek yes thought the same, seems like a potential bug.

[2020-06-12 05:09] KorKiak commented on #36458
Hi. Not sure how can you guys do ti but it seems like I can't deploy with
WEBSITE_CONTENTAZUREFILECONNECTIONSTRING without WEBSITE_CONTENTSHARE. Even through the portal, it gave me an error while trying to set the config;
`Failed to update web app settings: Required parameter WEBSITE_CONTENTSHARE is missing.`

On the overview page of the function app I also see this warning message: `Storage is no

[2020-06-12 05:13] VikasPullagura-MSFT commented on #56710
@qxg Thanks for pointing this out.
The doc is updated with instructions for Ubuntu 18.04 support and currently under review. The changes will go live once the changes are approved.

[2020-06-12 05:13] #56710 closed

[2020-06-12 05:15] KalyanChanumolu-MSFT commented on #56886
@jctbak Thank you for reaching out and we apologize for the inconvenience because of this issue.

This seems to be an intermittent issue with managed identities.
If this is a priority, as a work around please scale the database to S3 or higher, create the users an scale down.

Support on GitHub is limited to documentation only.
For future issues please post your questions on [Microsoft Q&A](https:

[2020-06-12 05:15] #56886 closed

[2020-06-12 05:15] VikasPullagura-MSFT commented on #56846
@mlearned Please update the document to clarify on the new Cluster part.

[2020-06-12 05:17] VikasPullagura-MSFT commented on #56846
@techbunny I am proceeding to close this issue. If there are any further questions regarding this, requesting your to add on the linked issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/46588).
Thanks.

[2020-06-12 05:17] #56846 closed

[2020-06-12 05:19] VikasPullagura-MSFT commented on #46588
@mlearned There are 3 feedback's to clarify the new Cluster. Need your help on updating the the  documents.
Thanks.

[2020-06-12 05:23] VikasPullagura-MSFT commented on #56318
@ibrahimalihc
You can find these extension handler logs in `/var/log/azure/applicationhealth-extension`.
You can find the status log in ` /var/lib/waagent/Microsoft.ManagedServices.ApplicationHealthLinux-1.0.0/status`

We are updating the document to reflect this.

[2020-06-12 05:57] #56318 closed

[2020-06-12 05:57] KalyanChanumolu-MSFT commented on #56862
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-12 05:59] YujunXieODA opened #56935 "The _master key seems now on app level....."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Content: [Manually run a non HTTP-triggered Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http)

[2020-06-12 06:00] KalyanChanumolu-MSFT commented on #56840
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-12 06:00] #56840 closed

[2020-06-12 06:00] werwolfby commented on #56862
@KalyanChanumolu-MSFT, I understand about order by, the question was about TOP.

Because in example all data looks sorted, and it looks like that TOP returns top most food categories.
While it returns just 5 random categories with counts.
And I think it should be mentioned.

[2020-06-12 06:01] Druffl3 commented on #56691
Wait, can we know if it is at least planned for in future?

[2020-06-12 06:06] werwolfby commented on #56862
For example, [Azure Search](https://docs.microsoft.com/en-us/rest/api/searchservice/search-documents#facetstring-zero-or-more) for `facet` can return exactly `n` top most categories (5 by default), like this: `facet=food_category,count:5`.

And have `TOP` in `GROUP BY` can produce the same result. However it just returns 5 random values. Which is confusing.

And to achieve TOP most I have to reque

[2020-06-12 06:07] Melody-Fu opened #56936 "Update the doc AAD use only HTTP GET for logout response now"
[Enter feedback here]
AAD doesn't support HTTP POST when sending logout response use only HTTP GET now.

Can you please update this doc mentioning this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d4eac0-25d3-b5d5-f58e-cdd1024f32b4
* Version Independent ID: 7771f280-3701-4f88-cb9f-add968d494de
* Content: [Azure Si

[2020-06-12 06:07] Melody-Fu opened #56937 "Update the doc AAD use only HTTP GET for logout response now"
[Enter feedback here]
AAD doesn't support HTTP POST when sending logout response use only HTTP GET now.

Can you please update this doc mentioning this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d4eac0-25d3-b5d5-f58e-cdd1024f32b4
* Version Independent ID: 7771f280-3701-4f88-cb9f-add968d494de
* Content: [Azure Si

[2020-06-12 06:10] kazshi opened #56938 ""Azure Monitor for VMs" is linked to "Azure Monitor for containers overview""
Currently "Azure Monitor for VMs" link jumps to "Azure Monitor for containers overview"
The link should be linked to "Azure Monitor for VMs" ('What is Azure Monitor for VMs?'?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592ccdb-4c92-7da9-aeb3-e93cf8cb3512
* Version Independent ID: 5ac6b940-88e9-fd5b-98fa-f46eb2cc9

[2020-06-12 06:11] KalyanChanumolu-MSFT commented on #56862
Got it. Thank you for the detailed feedback.
I will reopen this issue and assign it to the content author to evaluate and update the documentation as appropriate.

[2020-06-12 06:14] anastasia-ms commented on #56691
I will ping him again.

On Jun 11, 2020, at 11:01 PM, Goutham R <notifications@github.com> wrote:

﻿

Wait, can we know if it is at least planned for in future?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-docs%2Fissues%2F56691%23issuecomment

[2020-06-12 06:14] maartenkools commented on #56621
Thank you for clarifying!

[2020-06-12 06:14] #56621 closed

[2020-06-12 06:22] timsander1 commented on #56862
Hi @werwolfby, the example uses "TOP 4" because the example query has foodGroup in the GROUP BY clause. Since there are many (more than 10) possible foodGroups, we used TOP to make the output easier to read (including 4 instead of all foodGroups). You're correct, there's no value of TOP in this query. TOP is just used to make the example easier to read. Example dataset is available here: https://w

[2020-06-12 06:30] werwolfby commented on #56862
Hi @timsander1, thank you for response. I got this. And I just suggest to avoid confusion mention this in documentation. Moreover response looks exactly like top most, cause all results are sorted by count in documentation, while in real demo data it returns different results that are completely not ordered.

Here is response from documentation:
[code]

It looks exactly like 4 top most `foodGroup`

[2020-06-12 06:34] werwolfby commented on #56862
You already said:

But this is a little bit implicit that result will be completely unsorted and TOP 4 is just a regular TOP and it hasn't any special meaning in `GROUP BY` queries.

[2020-06-12 06:39] SwathiDhanwada-MSFT commented on #56938
@kazshi Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-12 06:49] souravmishra-msft commented on #56925
@prashantma, Everytime you run the Invoke-WebRequest command on the VM, it would hit the AAD and try to get a new access token. Now if you are trying to get this access token for a specific Azure Key Vault, then in the access token in the audience section you would find something like _https://vault.azure.net_ this is a common endpoint for fetching a token for the Azure Key Vault resource.

When y

[2020-06-12 06:50] #56938 closed

[2020-06-12 06:50] SwathiDhanwada-MSFT commented on #56938
The changes will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-12 07:05] souravmishra-msft commented on #56856
@giggio, The Assigned User Roles is part that gets populated if the application offers any kind of roles. It can be one or multiple depending on the application being integrated. Like for Github ideally its just the **Users** Role that would be available and hence the **Select Roles**  option is disabled for now. Once multiple roles gets populated it would provide you the option to select the othe

[2020-06-12 07:06] dcollien opened #56939 ""Customise the Endpoint" makes no mention of routing format"
[The "Customise the Endpoint" section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#customize-the-http-endpoint) makes no mention of the template format to use for the "route" parameter.

After some digging around I found the following:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#route-constrain

[2020-06-12 07:08] SwathiDhanwada-MSFT commented on #56917
@MarkKharitonov Thanks for your question. To retrieve the  azure region codes, you can use below az command in Azure CLI.

`az account list-locations -o table`

Hope this helps!!

[2020-06-12 07:14] souravmishra-msft commented on #56854
@giggio, Once you add Github from the Microsoft Apps Gallery, you should be able to find that option to configure SSO for Github. After you have added the Github gallery app, you need to go to **Single sign-on** ---> Select **SAML** ---> then you would land up on the page that says "**Set up Single Sign-On with SAML**". Please refer to the screenshot below:

![image](https://user-images.githubuser

[2020-06-12 07:22] kobulloc-MSFT commented on #56910
@StingyJack Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-12 07:24] kobulloc-MSFT commented on #56905
@CeciAc Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-12 07:27] RubenDelange commented on #29240
I'm having the same problem as @starforce. I followed the guidelines given by @MohitDhingra-MSFT and this article https://medium.com/the-new-control-plane/getting-the-scopes-and-audiences-correct-when-calling-an-api-in-azure-ad-b2c-fe4fb14a10d8 .

When I run the B2C user flow and select the client application requesting access tokens for the server application with selected scopes, I always end up

[2020-06-12 07:29] KalyanChanumolu-MSFT commented on #56926
@tomas-gottwald Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2020-06-12 07:32] Dev-ML11 commented on #56048
@SwathiDhanwada-MSFT  any update on this.

[2020-06-12 07:36] RohitMungi-MSFT commented on #56645
We will now proceed to close this thread as it is better suited for bot framework [repo](https://github.com/microsoft/botframework-solutions/issues). If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-12 07:36] #56645 closed

[2020-06-12 07:40] souravmishra-msft commented on #56855
@giggio, Please follow the screenshots in the steps below. This would help you in setting the **nameIdentifier** to **user.mail.**
 Steps:
1.  Press the **Edit** button on the **User Attribute and claims** section.
![image](https://user-images.githubusercontent.com/54057592/84477270-fdc32b00-acac-11ea-9b3a-a6a2cf6094a7.png)

2. On the next page you would find the "**Unique User Identifier (name ID

[2020-06-12 07:40] hadyni commented on #54869
Is this the correct place to raise this as I haven't had any feedback?

[2020-06-12 07:42] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Yes, I have been told to try [Price Sheet API](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/consumption-api-overview#price-sheet-api)to retrieve the price sheet and I haven't verified it from my end. Meanwhile, you can check it out from your end.

[2020-06-12 07:50] RohitMungi-MSFT commented on #56932
@anuraj For pointing this out. I have raised PR [118708 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/118708) to update the link.

[2020-06-12 08:01] MSSedusch commented on #44659
The updated SAP deployment guide went live yesterday.
http://docs.microsoft.com/azure/virtual-machines/workloads/sap/deployment-guide

The following chapter describe how you can install the new extension using PowerShell or Azure CLI
http://docs.microsoft.com/azure/virtual-machines/workloads/sap/deployment-guide#2ad55a0d-9937-4943-9dd2-69bc2b5d3de0
http://docs.microsoft.com/azure/virtual-machines/

[2020-06-12 08:04] TravisCragg-MSFT commented on #56698
@surajmuthreja Azure will advertise address ranges as described here. Route Tables in the hub only alter the path based upon the destination, so they will not be able to discriminate based upon what VNET they came from.

The best way within Azure to deny traffic is to use Network Security Groups to allow or deny traffic

[2020-06-12 08:05] kummanish commented on #56534
hi @christiankuhtz
the command is the same as @NavtejSaini-MSFT  mentioned.

 C:\Users\manishku> az network private-endpoint show --name testambhatnaqw --resource-group ambhatna-general --query 'customDnsConfigs[0].ipAddresses[0]'
"172.16.3.8"

[2020-06-12 08:25] sarathsasidharan commented on #56891
https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/power-bi#:~:text=When%20you%20use%20Azure%20Databricks,the%20built%2Din%20Spark%20connector.

[2020-06-12 08:25] sarathsasidharan commented on #56891
This is the documentation its regarding how to connect from power bi desktop to databricks using the inbuilt odbc connector

[2020-06-12 08:30] VikasPullagura-MSFT commented on #56690
@gsxmax I followed the tutorial and ran the commands on cloud shell and did not get any errors.
I have successfully deployed the app from GitHub actions as documented.

From the error, I suspect that the service principal is not configured properly. It needs at least Contributor role on the resource group where ACI will be deployed, and AcrPush role on the container registry resource.

Also, ACR a

[2020-06-12 08:41] TravisCragg-MSFT commented on #56815
@nextorr At this time, you cannot use a Public IP with IPv6 for a VPN Gateway. This feature is currently planned, but I am unable to give a timetable for its release. If you would like us to prioritize this feature, [please contribute to this existing piece of feedback](https://feedback.azure.com/forums/217313-networking/suggestions/18170860-support-ipv6-in-application-gateway-front-end-publ#{togg

[2020-06-12 08:41] #56815 closed

[2020-06-12 08:49] pbaumgartner commented on #44659
@MSSedusch thank you for sharing, i installed the new extension, what was successful, but in SAP ST06 it's still visible as FALSE! and in /var/lib/AzureEnhancedMonitor nothing is visible. no file or so since installation.

![image](https://user-images.githubusercontent.com/15338623/84483932-53420c80-ac9a-11ea-8b08-182b0a236ac9.png)

[2020-06-12 08:56] MSSedusch commented on #44659
Did you also update your SAP Host Agent to PL47? It is not yet included in the documentation. I added this information a couple of hours ago and will be part of the published deployment guide tomorrow.

[2020-06-12 08:58] AshokPeddakotla-MSFT commented on #56891
I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-12 09:05] jnimander opened #56941 "Features disabled"
Log Analytics and View Dashboard are both disabled.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Azure SQL Auditing for Azure SQL Database and Azure Synapse Analytics - Azure SQL Data

[2020-06-12 09:10] pbaumgartner commented on #44659
good point, hope it's added soon, it's working with the latest version 47.

![image](https://user-images.githubusercontent.com/15338623/84486208-58ed2180-ac9d-11ea-991b-b3e565941768.png)

[2020-06-12 09:22] RohitMungi-MSFT commented on #56890
@kobiwan Did you install the pip package before running the import statement?

`pip install azure-cognitiveservices-vision-computervision`

Works fine for me
![image](https://user-images.githubusercontent.com/46958063/84487391-4f26e680-acbc-11ea-9c23-2f774ca03d10.png)

[2020-06-12 09:31] JonesMikael opened #56943 "Explain what [v] Mark as trusted location actually does"
Can we in this article explain what "Mark as trusted location" actually means technically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authentication - Azure Active Directory](

[2020-06-12 09:32] ezYakaEagle442 opened #56944 "Provide CLI snippet samples"
Please Provide CLI snippet samples for ALL Use Cases including PointToSite VPN :

[https://docs.microsoft.com/fr-fr/cli/azure/network/local-gateway?view=azure-cli-latest#az-network-local-gateway-create](https://docs.microsoft.com/fr-fr/cli/azure/network/local-gateway?view=azure-cli-latest#az-network-local-gateway-create)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-06-12 09:41] TiTi opened #56945 "Clarify if PremiumV2 is required for VNET integration"
Hi,

Could you clarify if **PremiumV2** is required for **VNET integration**?

The [online article](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet) says:

and also

(i found no mention of the last phrase on github however?!)

We are trying to enable VNET integration on a new App Service using **Standard** App Service Plan and we get errors such as:
- "Regional VNE

[2020-06-12 09:49] AshokPeddakotla-MSFT commented on #56911
@tschaffler Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-12 09:49] CHEEKATLAPRADEEP-MSFT commented on #56762
@mamccrea Could you please look into the above issue?

[2020-06-12 09:49] CHEEKATLAPRADEEP-MSFT commented on #56881
@BrianJackson  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-12 09:49] #56881 closed

[2020-06-12 09:51] AshokPeddakotla-MSFT commented on #56914
@Marusyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-12 09:53] AshokPeddakotla-MSFT commented on #56921
@fabio770 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-12 09:54] AshokPeddakotla-MSFT commented on #56927
@Leon99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-12 09:55] CHEEKATLAPRADEEP-MSFT commented on #56858
@HansonChiu1994 With selected network, it is not possible to stream the Azure Monitor log into event hubs.

Implementing Virtual Networks integration can prevent other Azure services from interacting with Event Hubs.

Trusted Microsoft services are not supported when Virtual Networks are implemented.

Common Azure scenarios that don't work with Virtual Networks (note that the list is NOT exhaustiv

[2020-06-12 09:55] shashishailaj commented on #56936
@Melody-Fu Thank you for catching this. We will review with the content team and have this updated.

[2020-06-12 09:56] ChiragMishra-MSFT commented on #56570
@nabhishek Can you please take a look at this ?

[2020-06-12 09:56] shashishailaj commented on #56937
@Melody-Fu Thank you for catching this . We will have this reviewed and update it accordingly.

[2020-06-12 09:57] ChiragMishra-MSFT commented on #56747
@linda33wj Do you think adding a note here makes sense?

[2020-06-12 09:57] shashishailaj commented on #56937
@Melody-Fu As this is a duplicate of #56936 . We will be closing this one as duplicate .

[2020-06-12 09:58] shashishailaj commented on #56937
#please-close

[2020-06-12 09:58] #56937 closed

[2020-06-12 09:59] #56929 closed

[2020-06-12 10:00] AjayKumar-MSFT commented on #56945
@TiTi,  Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-06-12 10:01] shashishailaj commented on #56943
@JonesMikael Thank you for your query. We will investigate and update the thread.

[2020-06-12 10:03] RohitMungi-MSFT commented on #56879
@dhruv12399 I just tried out the tutorial and it worked fine. In one scenario during the setup i encountered an issue with this API call where my speech resource was using a free tier. After upgrading the resource to standard tier my recording transcription was successfully displayed. Here is the output from the script

![image](https://user-images.githubusercontent.com/46958063/84491273-e9d5f400-

[2020-06-12 10:07] coreazure-jd opened #56946 "Samples need updating to Azure.Storage.Blobs"
Can samples be provided for using the latest SDK code (Azure.Storage.Blobs) and/r samples be clearly marked for which SDK they are meant - with now three different SDKs in existence it is getting impossible to find the right sample for the right SDK.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a

[2020-06-12 10:14] JimMoyle opened #56947 "Linux SDK should be marked as GA"
Hi all,

The Linux SDK is GA I thought?  docs state not GA.

Also I thought USB redirection was supported, doesn't look like it here.

Jim
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2790f804-e26d-d830-cfd3-f856fb2f4d45
* Version Independent ID: 0049bc46-c7c6-fd43-b9ca-2b8e76c3ef55
* Content: [

[2020-06-12 10:34] amanmcse commented on #56606
@onkarthg Make sure you have assigned permissions to the System Assigned Identity on the Key Vault.

**Azure Portal > Key vaults > Your_Key_vault > Access policies** > Add the System Assigned Identity in service principal option and grant permissions to perform desired actions on the Secrets stored in the Key Vault. Please refer to the screenshot below:

![image](https://user-images.githubusercont

[2020-06-12 10:37] amanmcse commented on #56943
@JonesMikael This information is documented here:
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition#trusted-locations

[2020-06-12 10:37] #56943 closed

[2020-06-12 10:45] Ericgre commented on #56841
Hello, thank you for the feedback, you are right, connect a first web app to a second web app is the same pattern than connecting the first web app to any other PaaS service. We already provide all connectivity patterns, just read this doc https://docs.microsoft.com/en-us/azure/app-service/networking-features. For example the multi tier pattern. I'll not change the doc for private endpoint web app

[2020-06-12 10:57] AnuragSharma-MSFT commented on #56750
@prashantma Really appreciate the detailed information provided as part of the issue.

We have tried replicating the scenarios with the inputs provided but could not observe any discrepancies and in all the 3 scenarios, request units consumption match for both cases.

Could you please let us know few more details mentioned below:

1. Were you using the cosmos instance provisioned through the learn

[2020-06-12 11:15] VikasPullagura-MSFT commented on #56947
@JimMoyle
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-12 11:16] VikasPullagura-MSFT commented on #56947
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-06-12 11:23] pcdiks opened #56948 "Invoke-AzVMRunCommand hangs but does work after issuing reboot command"
I have a virtual machine that I created based on an image from my own shared image gallery. Part of the deployment is to execute a powershell script on the VM with the command Invoke-AzVMRunCommand. If I issue this command, nothing happens for a long time. But if I restart the VM, either through the portal or by using Restart-AzVM the command is executed when the VM comes online again.

I want to

[2020-06-12 11:35] BarryShtPeas opened #56949 "Powershell example?"
Can you kindly provide a powershell example for configuring a private endpoint for a storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bed2e199-b8cc-81d0-a739-b9acb46950bd
* Version Independent ID: 7028bfc9-dd53-9a7a-b561-e7292e8aa055
* Content: [Connect privately to a storage account using Azure Private

[2020-06-12 12:09] koolhand opened #56951 "link to "What is an external user" is incorrect"
On the linked [SharePoint Online external sharing overview](https://docs.microsoft.com/sharepoint/external-sharing-overview) page, there is no "_What is an external user?_" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ab5696-ee53-9104-95e8-9a55d3ec26c9
* Version Independent ID: ed1092ea-de38-275d-5437-4c22

[2020-06-12 12:10] Expecho opened #56952 "Lack of details regarding sampling configuration"
According to [the docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#configure-sampling) sampling can be configured in the host.json. A sample has been given but is there an overview with all the options. A schema would be helpful. For example I can't find information how to change the sampling for specific types of telemetry like events.

---
#### Document

[2020-06-12 12:15] lonevvolf opened #56953 "Public Load Balancer"
The instructions state that the load balancer can be Public.  If this is public, though, there is nowhere to configure the private IP to set it to the FCI IP.  How should this be configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af26cb8a-f7a0-291b-7ac3-e38f679df4ba
* Version Independent ID: dd04d12d-05cb-6fb4-

[2020-06-12 12:20] Expecho commented on #56952
Found it, it is [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights). Would be nice if this link is included. I think the docs have improved very much last couple of years but I find it is mostly too scattered.

[2020-06-12 12:21] WillEastbury commented on #56554
Hi @Atyulyakadam2013, could you let me know what you would like to see changed / added?

If you can let me know what specifically would you like to see changed in the description, or what challenge you are seeing when following the document?

[2020-06-12 12:24] rphoon opened #56954 "Double entries in csv"
CSV has duplicate entries for "Microsoft.EventGrid/eventSubscriptions" and "Microsoft.Sql/locations".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Ma

[2020-06-12 12:33] Marusyk opened #56955 "Microsoft Azure Storage Explorer doesn't see any documents in container"
Why I can't see any items?
<img width="363" alt="Screenshot_1" src="https://user-images.githubusercontent.com/9221694/84502958-f9edd380-acc1-11ea-952d-987d489f3038.png">

On portal
<img width="274" alt="Screenshot_2" src="https://user-images.githubusercontent.com/9221694/84502974-02460e80-acc2-11ea-87a6-cba8508160be.png">

<img width="181" alt="Screenshot_3" src="https://user-images.githubusercont

[2020-06-12 12:56] Plus3IT-Azure opened #56956 "Azure Private Link & App Service Environments"
Attempted to create a private link endpoint to an app service in an app service environment. My error code was `Call to Microsoft.Web/sites failed. Error message: App Service Environment Site is invalid.  This site exists on an internal load balancing ASE. This feature is not supported in this configuration.`

I don't want to assume but since I can't find it in documentation anywhere I want confir

[2020-06-12 12:58] saikovvuri opened #56957 "Invalid Cast Exception in .NET Core while acquiring a token"
[Enter feedback here]
Hello ,
My environment: ASP.NET Core 2.2 running on Windows App Service.
Database: Azure SQL

Followed the documentation and added the 2 lines
var conn = (Microsoft.Data.SqlClient.SqlConnection)Database.GetDbConnection();
            conn.AccessToken = (new Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider()).GetAccessTokenAsync("https://database.windows.ne

[2020-06-12 13:04] RyanHill-MSFT commented on #56623
Since we have not heard back from you @karthikeyanVK we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-12 13:04] #56623 closed

[2020-06-12 13:06] #54421 closed

[2020-06-12 13:07] JamesTran-MSFT commented on #56951
@koolhand
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-12 13:23] Dev-ML11 commented on #56048
@SwathiDhanwada-MSFT , This can be accessed by a customer with Enterprise Subscription only.

Can you please let me know why not Rate Card API, is this not getting updated with latest prices as i see the data isn't matching.

[2020-06-12 13:26] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Can you please let me know what type of subscription are you using?  Also, on Rate Card API, I will check and provide you an update soon.

[2020-06-12 13:46] kevinwedwards commented on #39634
We're also seeing this issue with our vnet arm template config, after deploying private link for sql server via another arm template.   Feels similar to the error above.

[2020-06-12 13:47] ezYakaEagle442 opened #56960 "Provide CLI snippet for DNS Forwarder"
A BLOB Storage is correcly resolved with its private-IP from my Jumpoff but no more then from home when using a VPN-Gateway, it looks like I need a DNS forwarder, this is not documented nowhere.

Please provide a CLI snippet, (not only PowerShell !) like at [https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-dns#manually-configuring-dns-forwarding](https://docs.microsoft

[2020-06-12 14:02] NDSoul opened #56961 "Include "With Failover Groups" section Elsewhere"
Hello,

I think it would be beneficial to include the "With Failover Groups" section of this document on the Tutorial page for configuring replication between two managed instances (https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-between-two-instances-configure-tutorial)

At the very least, a note on the tutorial page to get you back to this "concepts" page.

---
####

[2020-06-12 14:02] jopgommans opened #56962 "We want to restrict the ability to remove (security) groups and not show this option for users. Can we configure this somehow? If not, can this ability be created (feature request)?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb97fa6-4030-9efe-2c46-2bd5e7988bac
* Version Independent ID: 8ddb99c4-bf3d-2808-cf14-cc6f19d07ee3
* Content: [Update your Groups info on the My Apps portal - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-

[2020-06-12 14:07] dhruv12399 commented on #56879
@RohitMungi-MSFT
Thanks for the prompt reply
![image](https://user-images.githubusercontent.com/31129727/84511164-c3c14b80-ace3-11ea-9349-e9a2e1c0a8f4.png)

This is the error we are facing while hitting the API. Did you also encounter the same error while using the free tier ??

Also, this is the subscription we have, is there a way to try out the standard tier for free just to check if the API wo

[2020-06-12 14:14] sedelrio opened #56963 "Links to wordpress site seems to be broken"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e71d2e5-5327-fd8b-1246-b452e74d5dff
* Version Independent ID: d32e079f-c30f-06ef-c054-7f9a6b6420ca
* Content: [Azure Security Control - Incident Response](https://docs.microsoft.com/en-us/azure/security/benchmarks/security-control-incident-response)

[2020-06-12 14:17] RohitMungi-MSFT commented on #56879
@dhruv12399 I think these are trial keys and may not work in this scenario. You can use a standard tier resource after signing up for [azure ](https://azure.microsoft.com/en-us/free/)by using the $200 credit within the first 30 days. If the steps in the document as followed as is the python script should work.

[2020-06-12 14:17] shooker opened #56965 "FAQ Error"
In the question "How can I manage the Network Watcher Resource?" there is a sentence that says: " Operations like move are not supported on the resource." However, I was able to successfully move the resource in the portal. Can it be moved now and this needs to be updated? Or will my change in the portal eventually revert?
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-12 14:25] adamkadzban commented on #56931
@DixitArora-MSFT Thank you!

[2020-06-12 14:37] malopMSFT commented on #39634
Hi guys,

Appreciate if you can raise a support ticket, it's hard t diagnose multiple issues without looking at the configuration.

I'm reading multiple issues listed here with PrivateEndpointNetworkPoliciesCannotBeEnabledOnPrivateEndpointSubnet and PrivateLinkServiceNetworkPoliciesFlag  as 2 separate independent controls.

[2020-06-12 14:40] smolina74 commented on #51728
Can you please confirm if availability zones is still not compatible with azure disks?

[2020-06-12 14:41] vipulsparsh commented on #56791
@prashant1380 Thanks for the feedback. You can upvote this [idea ](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39794101-dynamic-group-based-on-manager)for user.manager request.

At present, we cannot utilize Direct Report with any other attribute in dynamic membership rules.

[2020-06-12 14:48] sameer-kumar commented on #56517
This is what I have in my appsettings.json:
[code]

But I don't see **RoleName** anywhere in portal.
I'm using "Microsoft.Extensions.Logging.ApplicationInsights" Version="2.14.0" in my AspNet Core 3.1 project.

[2020-06-12 14:49] zr-msft commented on #52820
Thank you for the feedback @yogeshverma1!

I have updated the section of the topic and the changes are live.

[2020-06-12 14:51] cijothomas commented on #56517
There is no ability to configure RoleName in appsettings.json. You need to write own initializers to do that.

[2020-06-12 14:59] SadiqhAhmed-MSFT commented on #56924
@bandersmsft Any thoughts on this?

[2020-06-12 15:01] stevestein commented on #54739
@LudoBoggioTotal - thanks for the feedback. I added info about how to turn on the AHB in the portal.

![image](https://user-images.githubusercontent.com/9388190/84516488-b7f16d00-ac82-11ea-9d4a-5660eff563ac.png)

#please-close

[2020-06-12 15:01] #54739 closed

[2020-06-12 15:01] DavidTrigano commented on #56941
Hello @jnimander

To have access to Log Analytics and View Dashboard you have to open Auditing at the database-level.

[2020-06-12 15:01] VikasPullagura-MSFT commented on #56834
@jusnitlive I have reached out to Internal team on this ask. Will update once I hear back on this.

[2020-06-12 15:07] tamram commented on #56885
@SychevIgor - Thanks for pointing that out. The images have been updated.

#please-close

[2020-06-12 15:13] KrishnaG-MSFT commented on #56954
@rphoon Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-12 15:22] davidsmatlak commented on #53936
@saikrishna-v The issue with the PublicIpAddressCombo UI element displaying an error when the **Public IP address** was set to **None** is fixed, so I'll close GitHub issue. Thank you.

[2020-06-12 15:22] davidsmatlak commented on #53936
#please-close

[2020-06-12 15:22] #53936 closed

[2020-06-12 15:33] sameer-kumar commented on #56517
This is what I did after your suggestion, but can't find RoleName in any of my traces logs.

[code]
And in Startup,cs
[code]
Ref: https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map?tabs=net

[2020-06-12 15:35] #56934 closed

[2020-06-12 15:36] JamesTran-MSFT commented on #56963
@sedelrio
Looking at the doc attached to this thread, I wasn't able to find a WordPress link. Can you please create a new ticket with more info regarding your doc update.

[2020-06-12 15:36] #56963 closed

[2020-06-12 15:36] amanmcse commented on #56934
@greendx Thank you for your feedback. I have updated the document.

[2020-06-12 15:40] JamesTran-MSFT commented on #56962
@jopgommans
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-12 15:42] jctbak commented on #56886
We changed tier to S3 but that didn't help. Still the same issue. Your workaround doesn't work.

select * from sys.database_service_objectives

database_id edition    service_objective    elastic_pool_name
----------- ---------- -------------------- ------------------
5           Standard    S3                   NULL

(1 row affected)

CREATE USER [***] FROM EXTERNAL PROVIDER;

Msg 33134, Level 16

[2020-06-12 15:52] timsander1 commented on #56862
Hi @werwolfby, the fact that the counts are ordered is just a coincidence. You may observe different orderings of results than the example, even with running the same query on the same data.  Since the doc says "TOP keyword is used to limit results", I do think it is clear that TOP is just used to limit the number of results. I can tweak the example so that the results are not coincidentally order

[2020-06-12 15:53] timsander1 commented on #56862
#please-close

[2020-06-12 15:53] #56862 closed

[2020-06-12 15:57] pingyin97 opened #56970 "Private Endpoint not Showing"
The private endpoint feature is not visible within the WebApp even when deployed in Central US, East US 2 and East US

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fc5319-ac3d-db5d-a3d2-aa0e800a3c7e
* Version Independent ID: 4197cd82-b89e-ac93-d966-40c06e3e8588
* Content: [Connect privately to a Web App using Azure

[2020-06-12 16:00] saikovvuri commented on #48401
Hello Sven,
(5) code , did you place this in EF context (MyDatabaseContext.cs) file?

regards

[2020-06-12 16:08] giggio commented on #56855
Ok, I updated it on my end and it worked. It was also working before, so I'm not sure if that step really is needed.
The docs should be clearer on what property is being updated.

[2020-06-12 16:13] psmanhas commented on #56732
@deathgaze  Glad to hear that you are now able to retrieve the Service Principal from the client id through CLI as per your initial ask.

If you are creating the Service Principal manually as mentioned in this documentation, then you will be able to get the password of the Service Principal from the output at the time of creation.

Please note that the Service Principal password can only be viewed

[2020-06-12 16:15] giggio commented on #56854
When you are working on the initial set up, as per section "Configure Azure AD SSO" you need to inform the Reply Url before you can save:

![Basic SAML Configuration](https://user-images.githubusercontent.com/334958/84523219-5a731580-acae-11ea-9660-90ae78b84a95.png)

And, as the docs don't mention it (See it [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/s

[2020-06-12 16:17] giggio commented on #56856
I understand that, but the docs don't mention it. They have to be updated to reflect that, or it is confusing.

[2020-06-12 16:40] shashishailaj commented on #56809
@AmitavaHazra Yes you can use any certificate as you wish and same certificate in all the applications. There are no restrictions on the same.  Any certificate which is in .cer format is a cert which only contains public key . It does not have a private key associated with it . If you export the certificate from a windows machine which has a private key from the personal Key store on a computer yo

[2020-06-12 16:40] #56809 closed

[2020-06-12 16:42] VikasPullagura-MSFT opened #56973 "Wrong link redirection for az group show in the document"
The link for az group show is wrongly redirected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c5d2898-9714-9b98-f065-66a59889f909
* Version Independent ID: 6a7e0145-9e57-b2e6-04f6-9aeda314bad7
* Content: [Deploy container instance by GitHub action - Azure Container Instances](https://docs.microsoft.com/en-us/azure/

[2020-06-12 16:46] tgiorgio commented on #47707
Same thing here. I have two SQL Servers in a failover group and I can't figure out the DNS entry to point to the failover group instead of individual servers.

[2020-06-12 16:47] mikal768 opened #56974 "No error messages when attempting to review creation of new VMs in existing hostpool."
Hi all.
I attempted to add VMs to an existing hostpool, one  which I've added to before. However, when using the same settings as last time during the review and create point the following message is displayed:
"Required parameters are missing. Please complete all required form fields."

All form fields are correctly added to the system. The workspace name is set to none, which seems strange. Howe

[2020-06-12 16:52] AmitavaHazra commented on #56809
@shashishailaj,

Thanks for this.
But I tried to download certificate from enterprise application and then did same thing from mmc but I could not get option for pfx conversion  for certificate (Microsoft federated SSO certificate). As Personal information exchange was grayed out.
But for all other server certificate I had that option for conversion.
I believe if we download certificate from enter

[2020-06-12 16:53] #56973 closed

[2020-06-12 16:54] VikasPullagura-MSFT commented on #56973
Documented updated.

[2020-06-12 16:54] cijothomas commented on #56517
I dont know which sdk you are using, but if you are using LoggingProvider alone, then follow the examples here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#console-application

If you are using Asp.Net Core SDK, then follow instructions from https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#adding-telemetryinitializers

[2020-06-12 16:59] RyanHill-MSFT commented on #56957
Thanks for the feedback @saikovvuri! We are currently investigating and will update you shortly.

[2020-06-12 17:00] RyanHill-MSFT commented on #56970
Thanks for the feedback @pingyin97! We are currently investigating and will update you shortly.

[2020-06-12 17:00] danijam commented on #52291
Hi @fedehermida I have not gone further down that path. For now my organisation is deferring progressive profiling to a later phase of our project. However I would recommend following this blog https://www.wintellect.com/hello-world-and-then-some-with-azure-active-directory-b2c-custom-policies-part-1-introduction/ It does a good job of walking through process of building up a custom policy from th

[2020-06-12 17:02] Ericgre commented on #56970
Hello, is it a PremiumV2 tier ?

[2020-06-12 17:08] saikovvuri commented on #56957
@RyanHill-MSFT  Thank you.  For your reference this is the contents of the csproject file

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.App" />
    <PackageReference Include="Microsoft.A

[2020-06-12 17:10] saikovvuri commented on #56957
[csproj](https://raw.githubusercontent.com/saikovvuri/dotnetcore-azurepipeline/master/DotNetCoreSqlDb.csproj)

[2020-06-12 17:19] sven73a commented on #48401
No, not in the code, but on the Configuration => Application Settings of the Azure App Service.
![config](https://user-images.githubusercontent.com/14097812/84529377-a1c6c980-ace1-11ea-87c5-fa937041c216.png)

[2020-06-12 17:21] TomGeske commented on #52894
You may want to check: [private link for ACR](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link).

I'm going ahead closing this one. Feel free to keep commenting.

#please-close

[2020-06-12 17:21] #52894 closed

[2020-06-12 17:48] mike-urnun-msft commented on #56935
@YujunXieODA Thank you for your feedback! We will review and update as appropriate.

[2020-06-12 17:52] wintech147 opened #56976 "B2B admin access limits"
- Screen shots are slightly out of date compared to what you see today when assigning roles to a B2B user

- Most importantly limitations of access are not mentioned such as if I give a B2B user Exchange Admin role, they cannot access the Exchange Admin Center (or admin.microsoft.com for that matter). The doc in it's current state gives the illusion that admin roles will function as they normally

[2020-06-12 17:54] alathrop opened #56977 "Get regression coefficients"
Is it possible to get the regression coefficients from the trained model?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c40f439-613c-e09d-9d5a-8c6001c47417
* Version Independent ID: 185d3a30-b35b-cc5f-f374-f2881a1fccf6
* Content: [Tutorial: Predict car prices with the designer - Azure Machine Learning](https://docs.m

[2020-06-12 17:55] mike-urnun-msft commented on #56939
@dcollien Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-12 17:56] mike-urnun-msft commented on #56952
@Expecho Thank you for your feedback! We will review and update as appropriate.

[2020-06-12 18:01] saikovvuri commented on #48401
Hello @sven73a ,  i was not referring to the appsetting.  but the code to acquire the token . When i am using the code (ASP.NET Core) as mentioned on the docs page, it is throwing an invalid cast exception
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-aspnet-core

[2020-06-12 18:18] sven73a commented on #48401
[code]

[2020-06-12 18:20] sven73a commented on #48401
[code]

[2020-06-12 18:22] YutongTie-MSFT commented on #56977
@alathrop
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-12 18:44] sirdank opened #56978 "How to fail the webhook action"
What is error handling supposed to look like for a webhook action? If my async process encounters an error, is there a magic string I can post to the callback to have the logic app webhook action fail?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43127bca-9e45-47bc-8164-f7c0bd670fe3
* Version Independent ID: 559964eb-

[2020-06-12 18:59] Dwayne75 opened #56980 "Wrong Hbase version"
When i deploy Hdinsight 4.0 Hbase, The Hbase version is 2.0.2 not 2.1.6 as listed in this doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af6ae544-80bf-209a-9de5-63153fd47ab5
* Version Independent ID: c70f7c14-6c10-a3e3-8593-8ec63b7fabe2
* Content: [Apache Hadoop components and versions - Azure HDInsight](https://do

[2020-06-12 18:59] alexbuckgit opened #56981 ".markdownlint.json configuration - MD044 currently has a destructive bug"
I noticed that the .markdownlint.json file in azure-docs-pr defines a handful of terms for rule MD044.

There is a destructive bug in the MD044 implementation when running markdownlint from the command line with the --fix parameter. I've opened an issue here:
https://github.com/igorshubovych/markdownlint-cli/issues/98

Anyone running markdownlint --fix in Azure Docs may find certain content uninte

[2020-06-12 19:03] IEvangelist commented on #56981
/cc @SyntaxC4

[2020-06-12 19:18] MarileeTurscak-MSFT commented on #56976
@wintech147
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-12 19:23] sameer-kumar commented on #56517
I'm using AspNet Core and following the ILogger docs https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger
Again as mentioned earlier, I'm not using SDK nuget Microsoft.ApplicationInsights.AspNetCore. just the Microsoft.Extensions.Logging.ApplicationInsights" Version="2.14.0" nuget.

[2020-06-12 19:31] anastasia-ms commented on #56691
Hello. Thank you for your patience. I apologize for the difficulties.

Here is the answer:

Xamarin forms won’t be supported for a while. Before that can be supported, the indoor maps functionality needs to be added to our mobile SDKs first, and then we can create Xamarin bindings on top of that.  I would say we are at least a year out from that. That said, it should be possible to use the web SDK

[2020-06-12 19:38] frankzo commented on #51184
Same here. Would like to get a heads up.

[2020-06-12 19:42] CeciAc opened #56984 "arm32v7 build failes"
@Bengkel commented on [Fri Jun 12 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/602)

I tried to use the Azure IoT Task to in my Azure DevOps CI Pipeline. The purpose is to build a container image for arm32v7.

 I have selected a Unbuntu-18.04 Build Agent.

The build succeeds when I build an amd64 image; the build fails when I try to build an arm32v7 image.

Step 4/12 dotnet resto

[2020-06-12 19:47] jlian commented on #28519
I don’t think this is true? Either way, in our documentation, we need to recommend using api-version

[2020-06-12 19:49] JimacoMS3 commented on #36321
@CeciAc @Alberto-Vega @KeiroKamioka0000 I haven't heard back and this is an old issue that appears to have been fixed already, so I'm going to close it at this time. Please @ comment me in this thread if you think otherwise. Thanks!

[2020-06-12 19:49] JimacoMS3 commented on #36321
#please-close

[2020-06-12 19:49] #36321 closed

[2020-06-12 19:51] BMichaelJ opened #56985 "Reference to wrong product"
This section:
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-real-time-fraud-detection#create-an-azure-event-hubs-to-ingest-events

Has this line and link to Service Bus at the end
*For more about event hubs, see the Azure Service Bus documentation.

I belive it should read Azure Event hub and link to this page: https://docs.microsoft.com/en-us/azure/event-hubs/

---
####

[2020-06-12 19:55] cwiederspan opened #56986 "Update for Self-Hosted Gateways"
It would be great to see this document updated to include new options supported by the self-hosted gateway feature of API Management. Specifically, I'm wondering how you would setup the backend APIs in APIM now that you're gateway is running in-cluster. In that scenario, I should be able to use native Kubernetes DNS entries to address those pods instead of exposing APIs externally.
---
#### Docume

[2020-06-12 19:56] bandersmsft commented on #56924
@HansonChiu1994 Investigating this with the engineering team.

[2020-06-12 19:57] JimacoMS3 commented on #40485
@MaStr11 Thanks for your feedback! You are correct. I've updated the topic to reflect that 50 module IDs are possible per device. Thanks for taking the time to help us improve our documentation. At this time, I'm going to close the issue. If you think there is more that needs to be addressed, please @ comment me  in this thread.

Thanks again,

Jimaco

[2020-06-12 19:57] JimacoMS3 commented on #40485
#please-close

[2020-06-12 19:57] #40485 closed

[2020-06-12 20:04] shashishailaj commented on #56588
@JaredCross We are assigning this to the author for reviewing the details and getting the documents  updated as needed.

[2020-06-12 20:05] deathgaze commented on #56732
@psmanhas I have verified that there are no matching entries under 'App Registrations' in the Portal for the cluster that I have created. In fact, it doesn't look as if any new app registrations have been created for a few months...

[2020-06-12 20:05] JimacoMS3 commented on #51864
Hi @TwoSeven99 Thanks again for your feedback. I haven't heard back from you, so, at this time, I'm going to close this issue. If you think it needs to be further addressed, please @ comment me in this thread.

Thanks again,

Jimaco

[2020-06-12 20:05] JimacoMS3 commented on #51864
#please-close

[2020-06-12 20:05] #51864 closed

[2020-06-12 20:05] shashishailaj commented on #56588
@msmimart  Could you please look into this request and have the documents updated accordingly ?

[2020-06-12 20:08] bandersmsft commented on #56924
@HansonChiu1994 Sorry you've ran in to this situation, which is a bug. Currently exports doesn't   support storage accounts with an active firewall, but we're working on it.

For now, the work around is to use a storage account without a firewall or use the Usage Details API to download the usage file locally.

#please-close

[2020-06-12 20:08] #56924 closed

[2020-06-12 20:08] JimacoMS3 commented on #56538
Hi @bjorn-jarisch The updates you pointed out have been made. At this time, I'm going to go ahead and close this issue. If you think there is more that needs to be addressed, please @ comment me in this thread.

Thanks for taking the time to help us improve our documentation. Your contribution is much appreciated! -Jimaco

[2020-06-12 20:09] shashishailaj commented on #56586
@msmimart This seems similar to the request at #56588 . Could you please have this reviewed ?

[2020-06-12 20:09] JimacoMS3 commented on #56538
#please-close

[2020-06-12 20:09] #56538 closed

[2020-06-12 20:15] mgreg90 opened #56987 "--sku-name is incorrect"
I get an error:
`Gen4 hardware is not supported for this region.` when I try to run the `az postgres create` command. When I use `--sku-name GP_Gen5_2` it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb30245-963c-d1ec-76a9-66119c79fb1e
* Version Independent ID: d3ee025c-ad6d-d8bd-84a2-9409f1a682f7
* Content:

[2020-06-12 20:22] cweining commented on #56509
@Etsap - We have published updates to our documentation to address the issues you reported. Let us know if you still have questions.

[2020-06-12 20:26] MartinJaffer-MSFT commented on #37696
@briancuster  @jangcy
When parameterizing a delimiter via UI, do not enter the escaped version, but the actual character itself.
I.E. for  newline do not enter "\r\n" , go to a text editor, press enter, and then copy-paste the newline into the UI.
Similarly for tabs, do not enter "\t", go to text editor, press tab, and then copy-paste the whitespace into the UI.

This is because the UI is backed b

[2020-06-12 20:26] #37696 closed

[2020-06-12 20:32] werwolfby commented on #56862
Hi @timsander1, I **don't** agree that this is clear. I as developer reading this documentation was confused. This is exactly why I asked this question here. And this is why I suggest to tweak documentation, example response, whatever to avoid such confusion.

I'm new to CosmosDB, and SQL in it not the same SQL. But very close, and really thank you for this.

For example `elasticsearch` and `Azure

[2020-06-12 20:51] RyanHill-MSFT commented on #55642
@imeya, I've been digging around on `ITelemtryProcessor`. I came across microsoft/ApplicationInsights-dotnet#1563 which I don't believe is your "exact problem" but this [comment](https://github.com/microsoft/ApplicationInsights-dotnet/issues/1563#issuecomment-398123580) indicates there's a different method of loading `TelemetryProcessors`. Unfortunately, the wiki link doesn't resolve so I can't co

[2020-06-12 20:51] kceiw opened #56989 "Call out the command to custom activity cannot have leading and trailing spaces"
I set up a custom activity in ADF and set the command like this " cmd /c <command> ". When I debug the pipeline, it always times out. And the job created for the batch is still showing running. Because I only set up one node in Batch, and the job is running, I cannot debug a new run. The job never completes. But if I remove the spaces, the command look like "cmd /c <command>", the run completes su

[2020-06-12 20:57] santosfilipe commented on #34985
@codyborn Changing `gas` to the value you recommended did the trick for me. I'm running Truffle v5.1.29.

May I ask you to reason about why this exact value for `gas`?

Thank you!

[2020-06-12 21:00] austincrft commented on #47749
@aholler2 I don't think that list is up to date. When I ran it, it was missing `DOTNETCORE|3.1` which I know is a valid value because that's how I'm currently deploying.

[code]

[2020-06-12 21:05] BharathNimmala-MSFT commented on #56579
@kruti-m Thanks again for reaching out to us.

Platform metrics are created by Azure resources and give you visibility into their health and performance. Each type of resource creates a [distinct set of metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported) without any configuration required. Platform metrics are collected from Azure resources at **one-minute fre

[2020-06-12 21:05] #56579 closed

[2020-06-12 21:10] JimacoMS3 commented on #28519
Hi @davidahoward - thanks for your feedback! After consulting with engineering, it appears that we always recommend including the api-version property, so I don't think a change is needed here. Since this issue has been open for some time, I'm going to close it. Please @ comment me here if you have any further questions. Thanks, again,

Jimaco

[2020-06-12 21:10] JimacoMS3 commented on #28519
#please-close

[2020-06-12 21:10] #28519 closed

[2020-06-12 21:14] KranthiPakala-MSFT commented on #56980
Hi @Dwayne75 , Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-06-12 21:14] StingyJack opened #56990 "Why does this wizard sometimes show an "Integrations" tab?"
Our IT staff (who creates these resources for our production subscription) sees an "Integrations" tab in this wizard. Others (who create these resources for dev/test subs) dont get this tab. Why does this tab show up sometimes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Versio

[2020-06-12 21:16] samcic opened #56991 "Shared response despite "do not cache" directives"
The **Cache expiration** section states:

I'd like to clarify the implications of the last sentence . Let's imagine we have two independent clients accessing my back-end via the same Front-Door POP. They're both authenticated with my app. At some time, the first user makes a `GET /myprofileinfo` call. At the same time, the second user makes the same call to `GET /myprofileinfo`. Of course, althoug

[2020-06-12 21:40] alac0m opened #56992 "Azure Function Keyvault SecretExpiring EventGridEvent"
According to the documentation:

"Key Vault integration with Event Grid is currently in preview. It allows users to be notified when the status of a secret stored in key vault has changed. A status change is defined as a secret that is about to expire **(within 30 days of expiration),** a secret that has expired, or a secret that has a new version available. Notifications for all three secret type

[2020-06-12 21:56] Karishma-Tiwari-MSFT commented on #56948
Thanks for the question. We are currently investigating and will update you on this.

[2020-06-12 21:57] Karishma-Tiwari-MSFT commented on #56953
Thanks for the question. We are currently investigating and will update you shortly.

[2020-06-12 22:00] anilrv opened #56993 "Retaining Public IP after failover - not supported"
In this page it is mentioned that, Public IP is retained after a failover.
And in "https://docs.microsoft.com/en-us/azure/site-recovery/concepts-public-ip-address-with-site-recovery" here it is mentioned
"Public IP address of the production application cannot be retained on failover. "
They seem little contradictory.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-06-12 22:05] Karishma-Tiwari-MSFT commented on #52820
Thanks so much @zr-msft

[2020-06-12 22:08] dsedivec opened #56994 "What does "SSE" stand for?"
[The page from which I am reporting this issue][this_page] says that "SSE" stands for "Storage Service Encryption", but [many][1] [other][2] [Microsoft][3] [pages][4] [say][5] [it's][6] ["Server-Side Encryption"][7].  (There are seven separate links there.)

All of these pages are talking about the same "SSE", right?

If yes, then could you please tell me, definitively, what "SSE" stands for?  Onc

[2020-06-12 22:12] KranthiPakala-MSFT commented on #56985
@BMichaelJ Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-06-12 22:35] mike-urnun-msft commented on #56978
@sirdank Thank you for your feedback! We will review and update as appropriate.

[2020-06-12 22:36] mike-urnun-msft commented on #56986
@cwiederspan Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-12 22:44] CODevOp opened #56997 "Mix of Wizard and SQL Script"
This article is switching back and forth between using the wizard and using a wizard. Can the publication not created by using SQL Script, "sp_addpublication", "sp_addlogreader_agent", and "sp_addpublication_snapshot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3928da3-edc5-432c-3d05-c2837fd52e56
* Version Independ

[2020-06-12 22:46] ssemyan opened #56998 "Error in example on what operations can do"
In the section https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-dotnet-entities#what-can-operations-do

The code will not trigger if the input amount is one (like it is in the sample). Also it is missing a semi colon.

This:
[code]

Should probably be this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-12 22:46] BharathNimmala-MSFT commented on #56993
@anilrv Thank you for your query, we will look into it and get back to you at the earliest.

[2020-06-12 22:47] mike-urnun-msft commented on #43026
Hi @kspoojary @oising - Sorry for the long delay. I'm unable to reproduce this issue as EventGrid trigger (Function App deployed as EP1 and is inside a vnet) is working for me as expected:
![image](https://user-images.githubusercontent.com/36717703/84551742-543b6400-acc3-11ea-8acd-622649354f9b.png)

If you're continuing to encounter this issue, please open a support case and work with a support en

[2020-06-12 22:47] #43026 closed

[2020-06-12 22:55] BharathNimmala-MSFT commented on #56994
@dsedivec Thank you for bringing this to our attention, we will look into it and get back to you at the earliest.

[2020-06-12 22:58] tfitzmac commented on #56843
@AElharouny - thanks for this feedback. I added that automatic deletions start when deployment history reaches 790. The performance of the deletions will be monitored and adjusted as necessary. These numbers are subject to change.

[2020-06-12 22:59] tfitzmac commented on #56843
#please-close

[2020-06-12 22:59] #56843 closed

[2020-06-12 23:09] SaurabhSharma-MSFT commented on #56410
@marcosvidolin sorry, currently this is not supported and there is an existing [uservoice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37538425-azure-ad-b2c-limitation-on-local-account-either-em) for the same. Though I have provided this feedback internally to the products team I would suggest you to please upvote the existing feedback to allow the community to upvo

[2020-06-12 23:20] JamesTran-MSFT commented on #56962
@jopgommans
I was able to look into your issue and will post my findings below.

**Question:**
We want to restrict the ability to remove (security) groups and not show this option for users.

**Findings:**
When it comes to deleting groups within the My Apps Portal, only the group Owners have the ability to delete these groups.
![Groups](https://user-images.githubusercontent.com/36619112/84553096-e

[2020-06-12 23:20] #56962 closed

[2020-06-12 23:23] NavtejSaini-MSFT commented on #56802
@webbermt The IP of your DB which can change as it is not static is behind public IP of the Gateway. As this [document ](https://docs.microsoft.com/en-us/azure/mysql/concepts-firewall-rules) says:
![image](https://user-images.githubusercontent.com/52257742/84553285-c458e280-ace1-11ea-86e9-c3b56cb21ec9.png)

You need to whitelist these Ip's and there is not range per say. Still I will check with ou

[2020-06-12 23:24] NavtejSaini-MSFT commented on #56738
@pthibodeaux Please follow issue https://github.com/MicrosoftDocs/azure-docs/issues/43764 for any further questions or issues. We will be closing this thread.

[2020-06-12 23:24] #56738 closed

[2020-06-12 23:47] NavtejSaini-MSFT commented on #56790
@Coldpawz This document describes this  - https://docs.microsoft.com/en-us/azure/azure-sql/database/migrate-dtu-to-vcore in details.
![image](https://user-images.githubusercontent.com/52257742/84554347-6f1ed000-ace5-11ea-813d-75e5c91eea61.png)

The export and import from one model to other works.

[2020-06-12 23:49] sultandxb opened #57001 "L"
L

_Originally posted by @sultandxb in https://github.com/sultandxb/sultan-m/pull/1#discussion_r439682303_

[2020-06-12 23:58] NavtejSaini-MSFT commented on #56792
@waqar-anwar1990 This would be an issue that has to be checked by support as this forum is for the document issue and other information. I will strongly advise to raise a support ticket. Having said that i will still assign this to our doc author to get feedback.
@stevestein Can you please check this and if you have any feedback please share.

[2020-06-13 00:02] NavtejSaini-MSFT commented on #56955
@Marusyk We are checking this and we will get back to you.

[2020-06-13 00:04] TravisCragg-MSFT commented on #56944
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-13 00:55] kobulloc-MSFT commented on #56946
@coreazure-jd Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-13 01:03] kobulloc-MSFT commented on #56949
@BarryShtPeas The Azure Storage documentation has a great overview as well as links for creating and configuring a private endpoint using the CLI as well as PowerShell:

- Azure Storage overview: https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints
- Azure Storage private endpoint using Azure CLI: https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoin

[2020-06-13 01:14] andrewatfornax opened #57002 "Adjusting the alert to avoid User Initiated events"
Hello!

I have been experimenting with this preview feature, and have been discussing some of the wording of the alerts that have been coming through with the Azure support team.

Recently, we had some alerts arrive which were due to a partitioning issue in an Azure Storage Account. One of the things that I noted about these alerts was that the the "cause" of the alert was listed as "UserInitiated

[2020-06-13 01:27] kobulloc-MSFT commented on #56956
@Plus3IT-Azure Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-13 01:42] TravisCragg-MSFT commented on #56965
@shooker Can you explain what you mean by 'move'? It should not be possible to move the region or resource group of a Network Watcher, and I was not able to find a move option in the portal.

Are you sure what you moved was a Network Watcher resource?

[2020-06-13 01:51] kobulloc-MSFT commented on #56961
@NDSoul Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-13 02:10] rachelxj-ms opened #57004 "Can not find Simple Azure Cloud Service solution referred by the doc"
The link of Simple Azure Cloud Service solution referred by this doc is broken, couldn't find this project online. Here is the link https://code.msdn.microsoft.com/Simple-Azure-Cloud-Service-e01df2e4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc8f1b2-fa7a-6772-e534-9f91b37106e7
* Version Independent ID: e9309449-3

[2020-06-13 02:12] AshokPeddakotla-MSFT commented on #56960
@ezYakaEagle442 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 02:18] AshokPeddakotla-MSFT commented on #56974
@mikal768 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-13 02:21] TravisCragg-MSFT commented on #56991
@samcic Let me follow up and get a definitive answer on this. I will post any updates as soon as I have them.

[2020-06-13 02:23] AshokPeddakotla-MSFT commented on #56984
@Bengkel Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 02:25] AshokPeddakotla-MSFT commented on #56987
@mgreg90 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 02:36] AshokPeddakotla-MSFT commented on #56638
I would suggest you, please go through the below links and see if it helps.

[Virtual WAN FAQ](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq)

https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue th

[2020-06-13 02:36] #56638 closed

[2020-06-13 02:55] AshokPeddakotla-MSFT commented on #56981
@alexbuckgit Is this feedback related to a particular doc? Can you share the documentation link?

Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-13 02:58] AshokPeddakotla-MSFT commented on #56989
@kceiw Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 02:59] AshokPeddakotla-MSFT commented on #56992
@alac0m Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-13 03:00] TravisCragg-MSFT commented on #56956
@Plus3IT-Azure Azure Private Link can work with [existing Azure services as described Here](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-link-resource), which include Azure Web Apps, but not App Service Environments.

As App Service Environments are not supported by default, the only way this could be possible is by [creating your own private link service](

[2020-06-13 03:01] AshokPeddakotla-MSFT commented on #57001
@sultandxb The link shared above is not working.

Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-13 03:41] #56558 closed

[2020-06-13 03:46] #56864 closed

[2020-06-13 03:46] BryanTrach-MSFT commented on #56558
@cox-antohi  As far as I am aware, Docker Hub does not support upper case for image and tags. The doc has been updated to avoid this scenario and conflict between VS and Docker Hub naming standards. The changes should be public within 24 hours.

[2020-06-13 03:47] #51611 closed

[2020-06-13 04:19] khushi978 opened #57005 "Document Needs to be updated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 806c0eb1-6e39-d04f-f870-9bab02bd168d
* Version Independent ID: 6b936c21-52c3-92b5-1410-70c73a7157e2
* Content: [Integrate Azure DNS with your Azure resources - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-custom-domain)
* Content Source:

[2020-06-13 04:30] mike-urnun-msft commented on #56998
@ssemyan Thank you for your feedback! We will review and update as appropriate.

[2020-06-13 04:50] v-nagta commented on #56656
@leebjn  We have updated the article. Please review

#please-close

[2020-06-13 04:50] #56656 closed

[2020-06-13 05:08] SubhashVasarapu-MSFT commented on #56714
@radoslawjakubowski , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-13 05:08] #56714 closed

[2020-06-13 05:10] SubhashVasarapu-MSFT commented on #57005
@khushi978 , Could you please elaborate where it needs improvement so that we will have a look in to it?

[2020-06-13 05:12] BharathNimmala-MSFT commented on #57002
@andrewatfornax Thank you for bringing this to our notice and sharing the feedback. Assigning this issue to our document author @stephbaron to further evaluate the feedback and see if the document needs to be enhanced.

[2020-06-13 05:30] BharathNimmala-MSFT commented on #56573
@elvirk Apologies for delayed response on this. Sorry to inform that currently there isn't a way to utilize a file for assignableScopes in a custom role. You can explore using [management groups to manage your subscriptions](https://docs.microsoft.com/en-us/azure/governance/management-groups/overview). It is possible to use a management group for assignableScopes in a custom role, but this feature

[2020-06-13 05:30] #56573 closed

[2020-06-13 05:31] BryanTrach-MSFT commented on #53237
@balukantu Since this is going outside the scope of the doc, can you please post your question on Microsoft Q&A? We have engineers there who can assist further with your question. We try to keep this channel scoped to feedback on the docs.

Thank you for your understanding.

[2020-06-13 05:31] #53237 closed

[2020-06-13 05:48] BryanTrach-MSFT commented on #54070
@MichalLechowski I wanted to check and see if you were able to find an answer to this. Please let me know if you didn't.

[2020-06-13 05:50] BryanTrach-MSFT commented on #54345
Adding the doc author as I'm having issues as well but it's not clear what is causing the issue.

[2020-06-13 06:01] santhoshbomma9 commented on #56866
@dsindona , the updated URL does help to call but the returned resource doesnt contain the property, can we get some help on this please?

[2020-06-13 06:06] 8191 opened #57008 "Azure Disk Encryption for Linux: Filesystem limitations"
It seems that there are some filesystem restrictions for ADE which are not documented. I've tried to encrypt an XFS volume which results in an error:

    2020/06/13 05:54:26 [Microsoft.Azure.Security.AzureDiskEncryptionForLinux-1.0]: 2197: [Warning] Encrypting xfs file system is not supported for data-preserving encryption. Consider using the encrypt-format-all option.
---
#### Document Details

[2020-06-13 06:11] BryanTrach-MSFT commented on #54531
@cdeil I am unable to recreate the error and I lack the hardware to properly test. Assigning your feedback to the doc author to review further.

[2020-06-13 06:59] AshokPeddakotla-MSFT commented on #56990
@StingyJack Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 07:03] AshokPeddakotla-MSFT commented on #56997
@CODevOp Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-13 07:05] AshokPeddakotla-MSFT commented on #57004
@rachelxj-ms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-13 07:09] DibyodyutiMondal commented on #43316
I feel there may be a use case where it'd be best to have appRoles even with B2C.

What if I had an SPA+API architecture where both the SPA and API were using RBAC?

If it was a customer, then they can read products.
But an administrator can create, read, update and delete products.

Both these actions can be performed from the same SPA, depending on who is logging in, and the 'roles' claim they h

[2020-06-13 07:10] AshokPeddakotla-MSFT commented on #57008
@8191 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 07:19] vremeni4 opened #57009 "Migrate-Aadds does not work with classic virtual network"
Hi

I used the script Migrate-Aadds to upgrade Azure Domain Service from Classic to ARM.
The issue is that script does not work with Classic virtual network as the command used in the script is for ARM.
the command in the script is
` $vnet = Get-AzVirtualNetwork -Name  $VirtualNetworkName -ResourceGroupName $VirtualNetworkResourceGroupName -ErrorAction SilentlyContinue`

This will never return the

[2020-06-13 07:29] madhukiranbr opened #57010 "Help with more info on what resources are created"
[Following this doc in free account I constantly get `quota exceeded error`. No info on how to set quota.

I tried the master-vm-size and worker-vm-size parameter `D2s_v3` and many other combination. No luck. what are the acceptable values? Examples would help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-197

[2020-06-13 07:37] amanmcse commented on #56606
@onkarthg I am now proceeding with closure of this thread. Feel free to tag me in your reply if you have any question.

[2020-06-13 07:37] #56606 closed

[2020-06-13 10:52] nelsonmorais commented on #56725
Hi @mmacy, you're right. The info I gave you was for the Web / Native apps, before the introduction of specific apps for iOS/Mac. This can be closed. Thanks!

[2020-06-13 10:52] #56725 closed

[2020-06-13 12:10] prashantma commented on #56750
You will need to follow the learning tutorial from start to finish.
1. I was using cosmos instance provisioned through the learn site to exercise this. The test data, code, resource templates are all provided by ms learning site.
2. I tried it multiple times...
a. if data exists in the collection and could be found, RU are less.
b. then I run the query for something that does not exist in collecti

[2020-06-13 12:44] prashantma commented on #56925
If one of the keyvaults is for production secrets, and other is for dev/uat secrets, and each of them have managed identity to respective vms in production or dev/uat. Is additional setup necessary to prevent unwanted access requests to production keyvault from dev/uat vms?

[2020-06-13 14:06] KalyanChanumolu-MSFT commented on #56886
@jctbak The issue has been mitigated.
Could you please try to create the user now.

If the issue persists, please reach out to Azure support with your subscription details so that an engineer can work with you on the case.

[2020-06-13 14:44] coxantohi opened #57012 "Indicated menu item Resource Explorer missing in the portal"
In the section [Configure App Service to return a usable access token](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad#configure-app-service-to-return-a-usable-access-token) there is the following instruction:

But I cannot find *Resource Explorer* under *Development Tools*.
Attached is a screenshot showing the contents of this section:

![image](https://user-i

[2020-06-13 14:50] x509cert opened #57013 "platform/customer-managed-keys.md - replace whitelisted with allow-listed"
You may want to do a page scrub and replace whitelist with allow-list or some other verbiage. The use of blacklist and whitelist is not allowed at MS.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7976d09-bf41-a2f5-ea18-b467e9376aad
* Version Independent ID: c669ef1e-2b71-426b-695d-37da38003372
* Content: [A

[2020-06-13 14:51] ermacia91 opened #57014 "This article needs to be updated for the new UX experience."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68db0568-1cf5-2196-ca38-9043c2161611
* Version Independent ID: 5854518a-281a-ef97-766c-746f03ec386f
* Content: [Tutorial: Configure GoToMeeting for automatic user provisioning with Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-

[2020-06-13 14:52] DeanGross opened #57015 "Branding is mixed message"
The popup shows that the guest is creating a Microsoft account, but they are trying to do business with Woodgrove. I can envision this being potentially confusing. Will it be possible to avoid the big MS logo on the create account form?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613f5d73-1bd1-cdbb-df60-66fc53ded20e

[2020-06-13 14:53] dhruv12399 commented on #56879
@RohitMungi-MSFT

Thanks for the help. It works fine on upgrading the subscription.

[2020-06-13 14:57] AshokPeddakotla-MSFT commented on #57009
@vremeni4 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-13 14:59] KalyanChanumolu-MSFT commented on #56926
@tomas-gottwald Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live by EOD tomorrow.
We will proceed to close this issue now.

[2020-06-13 14:59] #56926 closed

[2020-06-13 15:02] mkosieradzki opened #57016 "No such role Storage Blob Contributor"
[code]

There is no such a role mentioned here: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

You probably either mean:
`Storage Account Contributor`
or
`Storage Blob Data Contributor`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 875d94f8-8268-f317-ceac-c58d700d165c
* Version Indepe

[2020-06-13 15:32] AshokPeddakotla-MSFT commented on #56724
If your issue is not related to any doc, Please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-13 15:32] #56724 closed

[2020-06-13 16:02] lorrinferdinand opened #57018 "CICD described on this page is for single-team?"
[Enter feedback here]
Having read through this and then implemented it, it seems like this article is only applicable to a single team - single data factory development lifecycle.  In my environment, we are endeavoring to support multiple teams.  In its current configuration, the CICD process would inevitably result in "development" code being intermixed with "release-ready" code. This is untenabl

[2020-06-13 16:23] KrishnaG-MSFT commented on #57013
@x509cert Thanks for your comment!
Assigning @yossi-y for visibility, review and document enhancement consideration.

[2020-06-13 16:24] dhananjaypatkar opened #57019 "HDInsight release region availability"
Documentation says "`The release date here indicates the first region release date. If you don't see below changes, wait for the release being live in your region in several days`"
Can you also provide details on per region availability of hdinsight releases? this will give us idea when & what to expect changes and plan accordingly.

We are specifically looking forward to spark 2.4.4 on hdinsight.

[2020-06-13 16:27] yossi-y commented on #57013
I've removed the term whitelist .

[2020-06-13 16:41] zzl1 opened #57020 "After created wechat auth provider, the login page does not show wechat icon to click for login"
e.g., the url:

https://zzlone.b2clogin.cn/zzlone.partner.onmschina.cn/B2C_1_demo/oauth2/v2.0/authorize?client_id=42416d48-2555-442d-a535-b1ba67d63b4b&response_type=code+id_token&redirect_uri=https%3A%2F%2Fhk.zzl.one%2Fazure-ad-b2c-handler%2Freply&response_mode=form_post&scope=openid%20offline_access&state=arbitrary_data_you_can_receive_in_the_response&nonce=12345

Please help. Thanks.

[Enter fee

[2020-06-13 16:47] x509cert commented on #57013
absolutely - the terms have been frowned upon at Microsoft for as long as I remember!

[2020-06-13 16:52] Azasyaid404 opened #57021 "Install-Package Paddle.PaddleSDK -Version 2.0.14"
[Ketikkan umpan balik di sini]

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: 733b62e7-fc91-613e-aff7-ab4c84408c5e
* Version Independent ID: 0e395801-d320-58f9-5685-c37c78a8d80b
* Content: [Release notes for Azure Application Insights - Azure Monitor](https://docs.microsoft.com/id-id/azure/azure-monitor/app/release-notes)

[2020-06-13 17:12] djpmsft commented on #57018
Hi @lorrinferdinand ,

Is there a business reason that multiple teams are collaborating on the same data factory? Generally in most engineering environments, repositories (and in this case data factories) are delimited by teams.

Currently there is no concept of feature flag in ADF, but it is something we are currently investigating and planning to implement the second half of the year

Thanks,
Da

[2020-06-13 17:17] AshokPeddakotla-MSFT commented on #57010
@madhukiranbr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-13 17:36] Druffl3 commented on #56691
Thank you for the response @anastasia-ms . Here's to hoping for a xamarin.forms support and a  nice use-case satisfaction with Web View controller.

[2020-06-13 17:37] surajmuthreja commented on #56698
@TravisCragg-MSFT -- Thanks for your inputs.
Will you be please able to add some examples for this use case to control via Network Security Groups?

[2020-06-13 19:27] aralvar opened #57022 "Update documentation about caching when backend is unresponsive"
Update public doc https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-expiration to include below statement that explains what happens when the cache expires:

If the cache content has expired (cache-control and max-age headers), then AFD will try to reach the origin to pull the new content. If the backend is down then it will result an error on the client side. AFD will not

[2020-06-13 21:03] bacmodung opened #57023 "hi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [Plan hybrid Azure Active Directory join - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-az

[2020-06-13 21:50] marcosvidolin commented on #56410
Thank you @SaurabhSharma-MSFT
Voted! ✌️

[2020-06-13 22:22] prashantma opened #57024 "WEBSITE_LOCAL_CACHE_OPTION for App Service in Azure portal"
I cannot find WEBSITE_LOCAL_CACHE_OPTION or "Application Settings" in Azure portal. Is this setting still available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f1a8ab-c577-b9e8-b46e-28e0a90a0eae
* Version Independent ID: b716dcf9-1faf-fe60-b7be-f2bec92adbb5
* Content: [Local cache - Azure App Service](https://docs

[2020-06-14 00:31] rachelxj-ms opened #57025 "Does Visual Studio 2019 support Python when create Cloud Service?"
I installed Visual Studio 2019 and Python 2.7 32bit, but I couldn't see python in the Azure Cloud Service roles list.
![image](https://user-images.githubusercontent.com/66855967/84582022-3c75f400-ae19-11ea-9fea-b4a08f9244a4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa23d358-672b-863a-36ba-6d87c801de6b
* Versi

[2020-06-14 00:35] kobulloc-MSFT commented on #57012
@coxantohi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-14 00:38] kobulloc-MSFT commented on #57014
@ermacia91 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-14 00:39] kobulloc-MSFT commented on #57015
@DeanGross Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-14 00:45] kobulloc-MSFT commented on #57016
@mkosieradzki Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-14 00:54] geekgurl-muraco opened #57026 "This is not in preview anymore - update the page"
[Enter feedback here]

This service is not in preview anymore - update your page (from 2017!)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34f8cfb0-85b9-7de6-1fe4-0ceb1848aa03
* Version Independent ID: 65573e3b-f61f-d7c3-54e9-ee33bae8e8d1
* Content: [Targeting monitoring solutions in Azure Monitor - Azure Monitor](htt

[2020-06-14 01:47] zzl1 commented on #57020
Also I external auth prodiver of Google / Github / QQ ... none of them show up.

[2020-06-14 01:57] KrishnaG-MSFT commented on #57026
@geekgurl-muraco Thanks for the comment.
Assigning @bwren for visibility, review and document enhancement consideration.

[2020-06-14 04:07] Cognitive-dissonance opened #57027 "Read the whole page, and almost at the very end, find I can't use Spot VM's anyway."
I don't know what would be the best resolution. Perhaps, a quick "If you're in either of the Benefits or Free Trial Channels, you can't use Spot VM's, so this may not be useful information."
Or something?  It's not like it killed an hour or anything, but still...
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2020-06-14 04:13] RonnieQuan opened #57028 "Clarify continuous sync"
DMS is for one time migration and cut over to SQL server running in Azure, if I understand correctly.
Can you please explain continuous sync? Does it service fit in the ongoing replication from source to target?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8dc618-bff7-b1aa-be2c-b6b933f75545
*

[2020-06-14 04:52] AshokPeddakotla-MSFT commented on #57019
@dhananjaypatkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-14 04:54] AshokPeddakotla-MSFT commented on #57020
@zzl1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-14 05:00] AshokPeddakotla-MSFT commented on #57021
@Azasyaid404 Could you please elaborate your query bit more to understand better? What exactly you are looking for?

[2020-06-14 05:06] AshokPeddakotla-MSFT commented on #57022
@aralvar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-14 05:11] AshokPeddakotla-MSFT commented on #57024
@prashantma Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-14 05:38] AshokPeddakotla-MSFT commented on #57023
@bacmodung Could you please elaborate your query?
if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

[2020-06-14 05:54] AshokPeddakotla-MSFT commented on #57025
@rachelxj-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-14 07:12] techadmin1982 commented on #56782
Could you look at the following section
[https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/automation/shared-resources/schedules.md#link-a-schedule-to-a-runbook-with-powershell
](url)
The parameter array in that script contains "Show"=$true . This gave me an error as it was looking for the correct parameter "Simulate"=$true. Hope that clarifies. I also cross checked the API referenc

[2020-06-14 07:23] DixitArora-MSFT commented on #56692
@Sarah-Aly I have assigned this to content author for further review and update as appropriate.

[2020-06-14 07:33] DixitArora-MSFT commented on #56772
@moanrose I have assigned this to content author for further review and update as appropriate.

[2020-06-14 07:35] DixitArora-MSFT commented on #56778
@w0ut0 Will create the internal item with content writing team and will see if there is a change required. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-14 07:35] #56778 closed

[2020-06-14 07:37] DixitArora-MSFT commented on #56857
@nikolaiblackie I have assigned this to content author for further review and update as appropriate.

[2020-06-14 07:39] DixitArora-MSFT commented on #56911
@tschaffler I have assigned this to content author for further review and update as appropriate.

[2020-06-14 07:44] DixitArora-MSFT commented on #56931
@adamkadzban I have assigned this to content author for further review and update as appropriate.

[2020-06-14 08:10] memildin commented on #56081
We're discussing this with Qualys. If the conversations result in customer-facing information pertinent to this page, it'll be added.
Thanks for your feedback!
#please-close

[2020-06-14 08:15] memildin commented on #56673
The duplication is deliberate. Some recommendations are relevant to multiple resources and the intention is that someone referencing a single table will still see tangentially related recommendations.

The example you gave, of "Secure transfer to storage accounts should be enabled" is a great one: it touches on networking AND storage issues, and is consequently listed in both tables.

Thanks for y

[2020-06-14 08:15] #56673 closed

[2020-06-14 09:03] memildin commented on #54946
It's actually pretty straightforward: Security Center does collect info from all of the resource types listed in the first sentence you quoted ("Security Center collects data from your Azure virtual machines (VMs), virtual machine scale sets, IaaS containers, and non-Azure (including on-premises) computers").

But auto-provisioning only works for Azure machines. So "When automatic provisioning is

[2020-06-14 09:03] #54946 closed

[2020-06-14 09:24] dan-gibbons opened #57029 "Log Analytics Workspace Data Source Regex"
- The relevant Azure service or technology - Log Analytics Workspace Data Source .
- A link to the published documentation - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powershell-workspace-configuration.

### Issue

I am attempting to use the ARM template here: https://github.com/dan-gibbons/issues/blob/master/custom-log-collection.json to add two custom data sources to an exist

[2020-06-14 09:47] aelij commented on #51539
@TomGeske I think this issue should remain open until the documentation is updated with information about ARM.

[2020-06-14 10:34] JiriZidek opened #57030 "Use of the same public IP address by multiple "services" is not possible"
If I try to specify existing IP address, that is associated by  existing service with type load balancer, I get PublicIPReferencedByMultipleIPConfigs and it does not work. This serious limitation should be marked clearly in the docs, possibly showing alternatives, since this is quite natural way of architecting things.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-06-14 10:35] abhishakemitra commented on #56081
Please keep me updated on the outcome of conversations

[2020-06-14 10:54] KrishnaG-MSFT commented on #57029
@dan-gibbons Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-14 11:08] jayendranarumugam commented on #51437
@RyanHill-MSFT after enabling the system managed identity for the azure staging web app. I couldn't able to see that in the enterprise application! In your screenshot, you can able to see that
May I know why is that for working for me? Do I need to wait for more time to reflect in the azure ad?

[2020-06-14 12:17] ansred opened #57031 "Message: AADSTS50020: User account from identity provider 'live.com' does not exist in tenant 'Microsoft Services' and cannot access the application '2793995e-0a7d-40d7-bd35-6968ba142197'(My Apps) in that tenant."
Greetings,

I have this issue I am facing when testing the new experience for MyApps in Azure Portal.

So when I am trying to login to the portal, using the classic UI, it works fine.
[https://account.activedirectory.windowsazure.com/r#/applications
](url)

Here is a screenshot below to show you the successful login attempt.

<img width="1618" alt="Screenshot 2020-06-14 07 36 00" src="https://user

[2020-06-14 12:58] karthikeyanVK commented on #56623
@RyanHill-MSFT , Thanks for your reply. I did add the below command in the startup command in general settings area and also added gevent in requirement.txt
`
gunicorn --worker-class=gevent --workers=4 --timeout=600 wsgi:app`

![image](https://user-images.githubusercontent.com/11407921/84593977-e16dec80-ae6c-11ea-83df-6d2bae1447fa.png)

[2020-06-14 13:09] #57001 closed

[2020-06-14 13:14] ojintoad commented on #56396
Thanks @SamaraSoucy-MSFT appreciate the pickup here

[2020-06-14 13:20] soniaang opened #57032 "Not able to install the interoperability and explainability features : wrong module"
#Hello your documentation is wrong and i woudl like to flag this /
docs:Model interpretability in Azure Machine Learning
Interpretability with Azure Machine Learning
The interpretability classes are made available through multiple SDK packages: (Learn how to install SDK packages for Azure Machine Learning)

azureml.interpret, the main package, containing functionalities supported by Microsoft.

az

[2020-06-14 13:52] aldass opened #57033 "Proposed example code for `Insert a message into a queue`"
In the [Insert a message into a queue](https://docs.microsoft.com/en-us/azure/storage/queues/storage-dotnet-how-to-use-queues?tabs=dotnet#insert-a-message-into-a-queue) section, the example code does not mention that the `message` (if a string) needs to be Base64 encoded. The proposed example code below would help tremendously:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-14 14:18] AshokPeddakotla-MSFT commented on #57030
@mlearned Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-14 14:22] ShafeerAli opened #57034 "Error while creating cluster"
Resource quota of cores exceeded. Maximum allowed: 20, Current in use: 0, Additional requested: 36
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* Content: [Tutorial - Create an Azure Red Hat OpenS

[2020-06-14 14:33] AshokPeddakotla-MSFT commented on #57027
@Cognitive-dissonance Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-14 14:39] raphaelzulliger opened #57035 "Spelling error?"
I'm not native English, but this sentence seems to make no sense:

`Once you create the first deployment more a device, the second system module, the IoT Edge hub, is started as well.` (the "more a device" part of it)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6b8e5f-7de7-b40b-ad37-dc9b5c8f7d63
* Version Independ

[2020-06-14 14:46] AshokPeddakotla-MSFT commented on #57028
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-14 14:58] AshokPeddakotla-MSFT commented on #57032
@soniaang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-14 15:04] cedmallet opened #57036 "Timeout in Premium: unlimited or not ?"
This page https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout  says that "In the Premium plan, the valid range is from 1 second to 60 minutes,", whereas it says above that Premium has an unlimited timeout.
Which one is correct ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064367

[2020-06-14 15:06] puthurr commented on #56591
Thanks

On Wed, Jun 10, 2020 at 3:40 PM Ram <notifications@github.com> wrote:

[2020-06-14 15:25] memildin commented on #56405
You can specify the pricing tier at the resource group level via the API.
Use API version "2017-08-01-preview" and run PUT with the same body as current API as follows:

https://management.azure.com/subscriptions/<subscriptionId>/resourceGroups/<ResourcegroupName>/providers/Microsoft.Security/pricings/<ResourcegroupName>?api-version=2017-08-01-preview

Future versions of a deployment planning guid

[2020-06-14 15:25] #56405 closed

[2020-06-14 15:29] emb3dded commented on #57008
Exact same issue.
Did you already try it with encrypt-format-all?

[2020-06-14 16:06] coxantohi opened #57038 "Wrong indication on page Create certificates to allow the backend with Azure Application Gateway"
In the section [Create certificates to allow the backend with Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/certificates-for-backend-authentication#export-trusted-root-certificate-for-v2-sku) it is said in *Step 1*:

But the referenced section has only 8 steps, it does not have a 9th step.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-06-14 16:29] memildin commented on #56408
These sections were indeed deprecated with the release of Azure Sentinel. They'll be removed from this page shortly. Thanks for the feedback!
#sign-off

[2020-06-14 16:29] #56408 closed

[2020-06-14 16:55] vremeni4 commented on #57009
Sure this is the link
[https://docs.microsoft.com/en-us/azure/active-directory-domain-services/migrate-from-classic-vnet](url)

[2020-06-14 17:51] jcpayne opened #57040 "azcopy tenant should be specified"
Please note the problem that is detailed on this StackExchange page: azcopy fails if you don't provide your tenant id (at least it did for me, working from OS X), and apparently a lot of other people have had the same problem.  The fix should be mentioned in the documentation.
[https://stackoverflow.com/questions/53085003/azcopy-login-fails](https://stackoverflow.com/questions/53085003/azcopy-logi

[2020-06-14 18:32] shashishailaj commented on #51746
This is now working . You require to update the powershell and [install the new Az module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-4.2.0).
You will require to install the module Az.ManagedServiceIdentity for this.
[code]
Also you must already have Az module containing the Az.Accounts module on which the Az.ManagedServiceIdentity  module depends.

[code]

I

[2020-06-14 18:32] #51746 closed

[2020-06-14 18:51] loosus456 opened #57042 "Update references to build 18945 to "2004""
For clarity, I think it would be helpful to change references to build 18945 to just "Windows 10, version 2004" now that it is a generally available build.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7e1d9a-fdaf-0a29-0746-e3a32826eb6b
* Version Independent ID: 78e9b684-1121-6193-387f-fd8b6040cc0a
* Content: [Passw

[2020-06-14 18:59] terminic opened #57043 "Documentation Issue with Azure Functions Quickstart on Connect to Storage section"
The documentation indicates that the output from the code will be:

The actual output based on the example code is just:

Removing the following code from the _HttpExample.cs_ file removes the extra text, but leaving it in makes the code non-functional:

`string responseMessage = string.IsNullOrEmpty(name)
                ? "This HTTP triggered function executed successfully. Pass a name in the qu

[2020-06-14 19:25] shashishailaj commented on #55021
@jeevaeastpoint You can use the powershell to find the accounts which are invited Microsoft Accounts and have administrative access.

- Install Azure AD powershell module by using `Install-Module -Name AzureAD`
- Then use Connect-AzureAd to connect to Azure AD instance.
- After you have done this and successfully logged on using a global administartor on azure AD powershell, you can use the follow

[2020-06-14 19:25] #55021 closed

[2020-06-14 19:36] shashishailaj commented on #55104
@WyattBest In general `dsregcmd.exe /debug /leave` can be used for the windows 10 clients in theory but there are reliability issues in federated environment and we do not have instant join solution for managed environments. It will differ from scenario to scenario and with Desktop virtualizations environments its not easier to practically confirm if this will always work wthout knowing the enviro

[2020-06-14 19:36] #55104 closed

[2020-06-14 19:48] brbell commented on #56553
We have updated the table, it was missing the label and it should be "Max cached and temp storage throughput: IOPS/MBps (cache size in GiB)". The information has been updated.

[2020-06-14 19:50] shashishailaj commented on #56760
@eschrader It could due to the placement of Azure AD app proxy . you can check the [network topology considerations for azure AD app proxy here](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-network-topology). Sometimes the latency is introduced due to placement of the proxy . Also it could be about where the users are trying o access the application , are e

[2020-06-14 19:50] #56760 closed

[2020-06-14 20:00] MSFT-MarcoEs opened #57044 "Page refering to "create management solutions" in the second paragraph is missing"
[Enter feedback here]
The link points to "https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions-creating" but instead it self-redirects to the same (this) page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2902958-bbda-b892-6da7-1b8ed598c6bb
* Version Independent ID: 7f63a743-b2a7-245a-dcee-07d4b35

[2020-06-14 20:22] mrcasancrem opened #57045 "MFA - Backup problem"
Hello, I installed the microsoft authentication application on my cell phone and logged in with my outlook account, with this I inadvertently replaced my previous backup that I had with that email. Is there a way to recover my previous backup? Please, I need a urgent solution for this because I cannot login to most of my accounts with 2fa security.

---
#### Document Details

⚠ *Do not edit this s

[2020-06-14 20:24] cqueern opened #57046 "A sentence lacks a subject"
Complete sentences require a subject.  There's no subject in the second sentence here:

Suggest combining the sentences so it reads:

Thanks! Appreciate your hard work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cf98993-22de-6e5e-a11c-14fc78a6a0a7
* Version Independent ID: 9e1dc9b5-df80-367a-9ed5-e30c6cbf964d
* Co

[2020-06-14 20:25] Corstiaan84 commented on #49245
Same issue on Linux B1

[2020-06-14 20:30] cqueern opened #57047 "Suggest combining these sentences"
Suggest you consider combining these two sentences:

...into one sentence like so:

Thanks! Appreciate your hard work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cf98993-22de-6e5e-a11c-14fc78a6a0a7
* Version Independent ID: 9e1dc9b5-df80-367a-9ed5-e30c6cbf964d
* Content: [Overview of enterprise security in Azure HD

[2020-06-14 21:04] mmacy commented on #56725
Thanks for the update, @nelsonmorais!

[2020-06-14 21:57] Corstiaan84 commented on #31771
Same issue on Linux B1

[2020-06-14 22:09] imran-siddique opened #57048 "Wrong name in the dropdown/search"
I see this instead of Synapse workspaces

![image](https://user-images.githubusercontent.com/45405841/84605258-e1f88a00-ae50-11ea-86d4-e8da52eaadf6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96ddf06d-9dae-32b9-6f8b-8ec560ace6d5
* Version Independent ID: 315a0dfe-c87d-8b1e-f6f1-525cecf57d3c
* Content: [Quicksta

[2020-06-14 22:25] cclague commented on #14254
is there a plan to provide ODBC support for ARM64 too? - I have SQL Edge running fine, but my local app can't connect to it (remote app can)

[2020-06-14 22:42] VitalyMCT opened #57049 "Page references SQL Data Warehouse"
Recommend updating to new name (Azure Synapse Analytics)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d529ad40-d4e1-13fa-7e91-94e57c8b660c
* Version Independent ID: d9669a1d-eb55-f31c-b2f8-6a0764bf497e
* Content: [Copy activity performance optimization features - Azure Data Factory](https://docs.microsoft.com/en-us/a

[2020-06-14 22:50] cahann commented on #55704
@v-kydela the sentiment score in LUIS should follow v2.1. This customer got routed to a flight. The score around 1 should be positive, 0.5 neutral and 0 is negative. Will fix the flighting issues in 2 weeks.

[2020-06-14 22:57] jackchenquest opened #57050 "Backend policy example?"
[Enter feedback here]

Could you please provide some samples for backend policy? I have difficulty to understand why backend policy is needed ( can't it just be at the bottom of the inbound policy? ).  A example will help users to understand the difference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d2eed60-cf97-4

[2020-06-14 23:10] robidas opened #57051 "Authenticate User Tutorial Blocker"
The tutorial at https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad is not possible to complete as written. "Configure App Service to return a usable access token" section instructions cannot be followed. The instruction "In your front-end app's left menu, select Resource explorer under Development Tools, then select Go." doesn't make sense because there is no Reso

[2020-06-15 00:05] paulvanw opened #57052 "no data in custom event log"
[Enter feedback here]
When running the PowerShell sample the call to Post-LogAnalyticsData returns a 200 / OK

In the LogAnalytics workspace, I see a table with the name as specified in $LogType with _CL added
any query I run returns 0 records . My timerange is  set to 7 days, I created the sample in the last hour...

How do  troubleshoot this further?

---
#### Document Details

⚠ *Do not edit th

[2020-06-15 00:40] pnarsi opened #57053 "Support for Isolated Plan"
Is Azure App Service on Linux supported on the isolated plan (i.e. on ASE)? The Limitations section says that it is supported for  Free, Basic, Standard, and Premium plans but not the shared tier. It doesn't make any mention of the Isolated plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05

[2020-06-15 00:52] BharathNimmala-MSFT commented on #57044
@MSFT-MarcoEs Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-06-15 00:59] BharathNimmala-MSFT commented on #57052
@paulvanw Thank you for your query, we will look into it and get back to you at the earliest.

[2020-06-15 01:00] MarileeTurscak-MSFT commented on #57031
@ansred please link the document that you are following so that we can better assist.

[2020-06-15 01:36] RyanHill-MSFT commented on #56957
@saidbleik make sure you change `options.UseSqlite("Data Source=localdatabase.db"));` to `options.UseSqlServer(Configuration.GetConnectionStrings("MyConnectionString");` in your Startup.cs where `"MyConnectionString": "Server=tcp:<server-name>.database.windows.net,1433;Database=<database-name>;"` is in your appsettings.json.

[2020-06-15 01:40] ROSMITHJ-MSFT opened #57054 "Asset Definition"
Hello,

My feedback is that you should include a definition of assets in the section of Data Retention.

Many Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 372f4102-fb76-8708-580d-28d8121e780e
* Version Independent ID: 6f1fb46e-f233-cbe2-7e4e-2b267c66e99c
* Content: [Azure Automation data security](https://docs

[2020-06-15 01:42] ntachandley commented on #56553
Interesting, this reads as though _cached_ read events have higher caps than a similarly configured DSv2, effectively being the first "HT" SKU with equal or better IO consideration than vCore-based (see DSv2) SKUs. Is that consistent with plan?

[2020-06-15 03:01] AshokPeddakotla-MSFT commented on #57033
@aldass Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 03:02] AshokPeddakotla-MSFT commented on #57034
@ShafeerAli Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-15 03:08] kevball2 opened #57055 "provide summary or download or licenses that are limiting Tenant Deletion"
I have been fighting with deleting an old test tenant with no licenses assigned (or ever assigned). It would be nice to get a report or listing of the subscriptions or licenses that appear to be tied to the tenant.  also in the documentation, there is no mention of having to deal with Windows Store for Business applications or subscriptions that may be stopping the deletion of a tenant.

---
####

[2020-06-15 03:12] AshokPeddakotla-MSFT commented on #57038
@coxantohi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-15 03:13] AshokPeddakotla-MSFT commented on #57035
@raphaelzulliger Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-15 03:15] AshokPeddakotla-MSFT commented on #57036
@cedmallet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-15 03:23] pnarsi opened #57056 "Client Side Encryption using CMK for Azure DevOps and Azure Repo"
This page says that Azure DevOps Services and Azure Repos support Client-Side Encryption using Client Managed Keys. Can you advise where this feature is documented?

The [DevOps Data protection](https://docs.microsoft.com/en-au/azure/devops/organizations/security/data-protection?toc=%2Fazure%2Fdevops%2Fget-started%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fget-started%2Fbreadcrumb%2Ftoc.json&view=azure-dev

[2020-06-15 03:29] jay0604 opened #57057 "NFS rather than GlusterFS"
Is there any limitation on using NFS for systems based on RHEL 7.2 for shared file systems (just like SUSE). As drbd is still supported for RHEL would there be any limitation for the cloud deployment?
Document https://access.redhat.com/articles/3569681 suggests the use of the external NFS server is compatible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-06-15 03:34] RyanHill-MSFT commented on #56970
@pingyin97 just as @Ericgre stated, your app service plan SKU [must be PremiumV2](https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal#create-your-web-app-and-private-endpoint). Let us know if you're not able to see the option when your app is hosted in a PremiumV2 plan.

[2020-06-15 03:55] AmitavaHazra commented on #56458
@vipulsparsh,
Now it is working. There might be some update going on when I was facing issue. Not sure it was from which end. Above all I was using free trial subscription to test it out.

Now all good. Thanks.

[2020-06-15 04:09] SumanthMarigowda-MSFT commented on #56109
@ashkickindevelopment Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-15 04:09] #56109 closed

[2020-06-15 04:10] SumanthMarigowda-MSFT commented on #56668
@RonnieQuan Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-15 04:10] #56668 closed

[2020-06-15 04:12] griffinbird opened #57058 "Incorrect capitalisation of checking if the Ingress Application Gateway Add-on has been successfully registered"
Hi,

The add-on is registered like:

microsoft.containerservice/AKS-IngressApplicationGatewayAddon

But all the other service add-ons are in camel case..

Therefore the command below doesn't return back anything:

az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AKS-IngressApplicationGatewayAddon')].{Name:name,State:properties.state}"

Therefore the command needs to b

[2020-06-15 04:15] VikasPullagura-MSFT commented on #56690
@gsxmax
Hope the provided information is helpful. Please retry as suggested.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-15 04:15] #56690 closed

[2020-06-15 04:18] SnehaAgrawal-MSFT commented on #56841
@krispenner We will close this out but if you feel you need more information please just let us know.

[2020-06-15 04:18] #56841 closed

[2020-06-15 04:19] SwathiDhanwada-MSFT commented on #56917
@MarkKharitonov Just following up to check if you need further assistance on this issue.

[2020-06-15 04:19] HadiGolkarian opened #57059 "Next steps JavaScript link is incorrect. it should link to javascript docs but opens java docs for Azure Event Hubs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78479c3a-c7b1-e27c-b390-107ba95d0fac
* Version Independent ID: 75219d0f-6fa7-0991-7fc0-bfe59e4c1da6
* Content: [Receive events using Event Processor Host - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-event-processor-

[2020-06-15 04:20] SnehaAgrawal-MSFT commented on #56779
@pnarsi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-06-15 04:23] SwathiDhanwada-MSFT commented on #57054
@ROSMITHJ-MSFT Thanks for your feedback.

Assigning to content author @MGoedtel for reviewing and updating the doc if required.

[2020-06-15 04:31] AjayKumar-MSFT commented on #57053
@pnarsi, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-06-15 04:32] AjayKumar-MSFT commented on #57051
@robidas, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-15 04:33] CHEEKATLAPRADEEP-MSFT commented on #57048
@imran-siddique Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@pimorano Could you please update the screenshot and replace Synapse workspace  => Azure Synapse Analytics (workspaces preview).

**Update1: Step1: Screenshot**

![image](https://user-images.githubusercontent.com/44426401/84618159-f5f2c900-aeee-11ea-9bdc-0ec0af48c44

[2020-06-15 04:42] pnarsi opened #57060 "Outbound FQDN Dependencies for Functions."
If have a Functions Premium instance and use  the WEBSITE_VNET_ROUTE_ALL=1 feature that is documented in this page to force all outbound traffic to my VNET, do I need to whitelist any FQDN dependencies in my L7 Firewall in order to allow my Function app to work?

For context the documentation for ASE lists over [70 FQDN dependencies](https://docs.microsoft.com/en-us/azure/app-service/environment/f

[2020-06-15 04:43] CHEEKATLAPRADEEP-MSFT commented on #57046
@cqueern Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/118880](https://github.com/MicrosoftDocs/azure-docs-pr/pull/118880)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2020-06-15 04:43] #57046 closed

[2020-06-15 04:47] CHEEKATLAPRADEEP-MSFT commented on #57047
@cqueern Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/118881](https://github.com/MicrosoftDocs/azure-docs-pr/pull/118881)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2020-06-15 04:47] #57047 closed

[2020-06-15 04:50] CHEEKATLAPRADEEP-MSFT commented on #57049
@VitalyMCT  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-06-15 04:51] MarkKharitonov commented on #56917
I have managed, but I still think the documentation should mention real region codes. For me they are more important than the human friendly names

[2020-06-15 04:56] BhargaviAnnadevara-MSFT commented on #57021
@Azasyaid404 In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-06-15 05:06] CHEEKATLAPRADEEP-MSFT commented on #57059
@HadiGolkarian Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/118882](https://github.com/MicrosoftDocs/azure-docs-pr/pull/118882)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2020-06-15 05:06] #57059 closed

[2020-06-15 05:07] CHEEKATLAPRADEEP-MSFT commented on #56858
@HansonChiu1994  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-15 05:07] #56858 closed

[2020-06-15 05:13] shashishailaj commented on #57056
@vipulsparsh Thank you for your feedback . We will investigate and update the thread.

[2020-06-15 05:15] shashishailaj commented on #57055
@kevball2  Thank you for your feedback . We will investigate and update the thread.

[2020-06-15 05:15] shashishailaj commented on #57042
@vipulsparsh Thank you for your feedback . We will investigate and update the thread.

[2020-06-15 05:18] brootware opened #57061 "Docker Trouble Shooting. Also offer to just run docker commands locally instead of using docker-machine"
[Enter feedback here]
This feedback is regarding the section on troubleshooting on docker command on azure cloud shell. Probably be great to also point the users to just use docker cli locally.
https://docs.microsoft.com/en-us/azure/cloud-shell/troubleshooting#bash-troubleshooting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-06-15 05:19] firephantomassasin opened #57062 "Allow Recover or Purge Soft Deleted Azure Key Vaults in Portal"
Hi Azure team,

We hope that you could add a feature in azure portal where we can recover or purge the soft deleted azure secret value. Right now it is kinda hassle to do CLI in the cloud powershell just to remove or recover specific soft deleted azure secret value. This will be a big help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-06-15 05:22] shashishailaj commented on #57045
@mrcasancrem Thank you for your query. As far as I know if you have erased it from backup there is no other way to restore it because there is only one copy of it stored in your icloud account or Microsoft account depending upon which phone you have (iOS or Android) . I understand this is not the answer you were expecting but at this point this is the only thing i can tell you as the original back

[2020-06-15 05:26] pingyin97 commented on #56970
@RyanHill-MSFT and @Ericgre the private endpoint option is now available after switching it to a premium v2 tier. Thanks for the help!

[2020-06-15 05:37] senglory opened #57063 "Missed file mention - TestConfiguration.ps1"
The article missed the link to TestConfiguration.ps1. I have absolutely no ideas where to take the file from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a9dd40a-f095-a37b-17e8-cf0ec1d5a41c
* Version Independent ID: 7e9ea6d0-915c-f500-936c-910a89920016
* Content: [Upgrade the configuration of a standalone cluster -

[2020-06-15 05:37] johanburati opened #57064 "RHEL images with minor version not connected to EUS repositories"
According to the [documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-rhui), images connected to EUS repositories will contain a minor version number in the SKU.

However it seems this is not the case, as I have deployed the four images below today and some are connected to the EUS repositories while others are not.

| Image  | Repositories |
| ----------

[2020-06-15 05:43] SubhashVasarapu-MSFT commented on #57058
@griffinbird , Thanks for reaching out. We will investigate and update this thread.

[2020-06-15 05:43] RohitMungi-MSFT commented on #57032
@mesameki Could you please review the PR [118884](https://github.com/MicrosoftDocs/azure-docs-pr/pull/118884) and approve?

[2020-06-15 05:47] souravmishra-msft commented on #56842
@iainfoulds, can you please take a look at this and help on this ask.

[2020-06-15 05:49] SubhashVasarapu-MSFT commented on #57005
@khushi978 , I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2020-06-15 05:53] SumanthMarigowda-MSFT commented on #57040
@jcpayne

[2020-06-15 05:54] asergaz commented on #56691
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @AshokPeddakotla-MSFT  in your reply. We will gladly continue the discussion and we will reopen the issue.