[2020-04-03 22:16] asergaz commented on #46189
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 22:16] #46189 closed

[2020-04-03 22:22] MarileeTurscak-MSFT commented on #51650
I've reached out to confirm. I thought it was still in preview but will get back to you once I have word from the PG.

[2020-04-03 22:23] kgremban commented on #39958
@Mskirvk The new python SDK package is azure-iot-device, while the error you shared reflects the old azure-iothub-device-client package. For more information, see the python sdk repo: https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device or the pypi page: https://pypi.org/project/azure-iot-device/

In an IoT Edge module, the spot to update the package name is in the requiremen

[2020-04-03 22:29] VanMSFT commented on #41001
Hi @StingyJack and @jeffqu17 - Thanks for the feedback. We will look at adding more connection string examples in our docs. We appreciate the feedback. Connection string properties are dependent on the provider that is being used, and we do try to list all the keywords available for our providers. You can also reference https://www.connectionstrings.com/sql-server/ for examples to build your conne

[2020-04-03 22:29] #41001 closed

[2020-04-03 22:30] BharathNimmala-MSFT commented on #51656
@mapoitras  Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-04-03 22:32] kgremban commented on #49656
I'll create the pull request today to update the docs for consistency, and have github close this issue when the changes are merged.

Thanks @its-phil for pointing this out, and @stevebus for the clarification.

[2020-04-03 22:34] BharathNimmala-MSFT commented on #51658
@jackchenquest  Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-03 22:37] KranthiPakala-MSFT commented on #51632
Hi @pemar-MSFT Security key and also MSI are the supported authentication methods for ADLS Gen2.

Please refer to this doc: https://docs.microsoft.com/en-us/azure/stream-analytics/blob-output-managed-identity

[2020-04-03 22:38] aywolman commented on #51691
Test labels

[2020-04-03 22:39] SaurabhSharma-MSFT commented on #51105
@Brinh123 Here is what I got from the products team  -
Onboarding is a way for a tenant admin to express consent that they want to use access reviews. Once a tenant onboards, they can start using access reviews. Without onboarding, all APIs throw "_403 forbidden error_".
In the back end, when you onboard, we persist this consent in our database. Later on, when someone tries to use any APIs or UX,

[2020-04-03 22:46] BharathNimmala-MSFT commented on #51657
@3vi1 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-03 22:46] timsander1 commented on #49219
Hi @gdalsnes. Thank you for your feedback. I tested the C# sample and confirmed that it produces the result in the docs. I also added a section to explicitly mention that range queries only work if the string is UTC and always the same length. This is a great point to call out! Changes should be live shortly.

[2020-04-03 22:46] timsander1 commented on #49219
#please-close

[2020-04-03 22:46] #49219 closed

[2020-04-03 22:49] Karishma-Tiwari-MSFT commented on #51690
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-03 22:53] Karishma-Tiwari-MSFT commented on #51244
All of the access provided under
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-azure-resources

are needed for the SP used by AKS to properly operate. For the cluster autoscaler, nothing extra is needed, AKS will configure the SP with the required access on the VMSS/Resource Group that is created.

Role-based access controls (RBAC)
To provide gran

[2020-04-03 22:55] brandonh-msft opened #51692 "How do we locally debug our application if it's set up to auth via MSI?"
Would be good to have some dev documentation here, or somewhere, that guides developers on how they should write their code so that it is both debuggable locally w/ their IDE but also runs correctly in Azure.

Now that we've switched to MSI on a current project, we can't figure out how to get the credentials at local debug runtime that are necessary in order to hit Azure resources to which the log

[2020-04-03 22:55] aywolman commented on #51691
test 10

[2020-04-03 22:56] Karishma-Tiwari-MSFT commented on #51256
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 23:06] MarileeTurscak-MSFT commented on #51564
Thanks @sujgayvsarma!

We have added these in our backlog! For now, we do have documents around some of the things you requested:

https://docs.microsoft.com/azure/storage/common/storage-auth-aad-app#grant-your-registered-app-permissions-to-azure-storage

https://docs.microsoft.com/azure/sql-database/active-directory-interactive-connect-azure-sql-db

https://docs.microsoft.com/en-us/azure/active-d

[2020-04-03 23:06] #51564 closed

[2020-04-03 23:14] YutongTie-MSFT commented on #51302
@diberry Hi Dina, this PDF is broken. Could you please update the link if you have a new one? Thanks.

[2020-04-03 23:14] Karishma-Tiwari-MSFT commented on #51666
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 23:16] turing-complet commented on #51606
Thanks, yes I'm using a yaml file which has the following identity which is assigned AcrPull on the registry.

[code]

I grabbed the principalId for the managed identity, but don't see a way to assign that to the registry. Looking in the portal at the registry access control here:

![Screenshot from 2020-04-03 16-08-35](https://user-images.githubusercontent.com/7369159/78411785-bc841000-75c5-11ea-

[2020-04-03 23:17] ms-willfid opened #51693 "Subscription requirements"
We should document that at minimum Azure AD Premium P1 or higher is required to use the Azure AD Reporting API.

Otherwise MS Graph will throw a 401 Unauthorized: Neither tenant is B2C or tenant doesn't have premium license;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3002a469-b615-6231-9e96-6ce1917d1bbd
* Version I

[2020-04-03 23:18] MarileeTurscak-MSFT commented on #50894
Thanks for following up!

[2020-04-03 23:18] #50894 closed

[2020-04-03 23:18] aywolman commented on #51691
test config

[2020-04-03 23:22] Karishma-Tiwari-MSFT commented on #51272
Please make sure that you are using Managed disk. If your disk is unmanaged, first convert it to a managed disk so you can switch between storage options.
To use Premium managed disks, your VM must use a [VM size](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes) that supports Premium storage.

[2020-04-03 23:24] diberry commented on #51302
@cahann @tellarin Is there a different URL to use for timex info? #in-progress.

[2020-04-03 23:27] aywolman commented on #51691
test config2

[2020-04-03 23:29] PPreamble commented on #51652
I did follow the steps and later discovered that the error is present until
there are applicable log entries to query on. The query should be adjusted
to properly handle lack of entries among the joins. Thank Ltd for the
response.

On Fri, Apr 3, 2020 at 3:04 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-04-03 23:30] #49656 closed

[2020-04-03 23:37] AjKundnani opened #51695 "Disk Encryption Set created using AZ CLI Not available for use in Portal"
This is in addition to issue reported in #49499

If I am creating the disk encryption set using az cli commands given in this document, the disk encryption set is not available for use in Azure Portal or ARM/Terraform. It's created successfully but while creating VM through portal in same region as DES, it doesn't shows up in the drop-down.

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-03 23:38] nastassiar opened #51696 "Error in "Ingest JSON records containing arrays"?"
In the "Ingest JSON records containing arrays" section for KQL in #4 it says: "Ingest data into the RawEvents table." but then the command references the Event table not the raw events table: .ingest into table Events...

Is this an accident or a purposeful?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d5f8ab-85c7-

[2020-04-03 23:40] Karishma-Tiwari-MSFT commented on #51338
Thanks for the update.
@ChristianMontoya Need your help answering this question:

[2020-04-03 23:44] Karishma-Tiwari-MSFT commented on #51453
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 23:44] Karishma-Tiwari-MSFT commented on #51455
This will be taken care with https://github.com/MicrosoftDocs/azure-docs/issues/51453

[2020-04-03 23:44] #51455 closed

[2020-04-03 23:46] Karishma-Tiwari-MSFT commented on #49190
Thanks for sharing the update.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 23:46] aywolman commented on #51691
need to try another case

[2020-04-03 23:48] tistocks opened #51697 "Typo in Sliding Window description"
In the Sliding Window description, the text is describing Epsilon ε but uses the EU Currency symbol (€) in stead of the Epsilon symbol (ε).

I thought I would bring it up in case someone wanted to make an edit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID:

[2020-04-03 23:50] Karishma-Tiwari-MSFT commented on #51672
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-03 23:51] Karishma-Tiwari-MSFT commented on #51695
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 23:51] Karishma-Tiwari-MSFT commented on #51677
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 23:52] aywolman commented on #51691
xx

[2020-04-03 23:52] Karishma-Tiwari-MSFT commented on #51678
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-03 23:54] AjKundnani commented on #50729
Hello @TravisCragg-MSFT  - Taking a different approach using nginx for now hence couldn't complete the test. Will confirm later once test completes, closing this issue for now, thanks.

[2020-04-03 23:54] #50729 closed

[2020-04-03 23:55] Karishma-Tiwari-MSFT commented on #51682
The scope for these doc issues is to help identify gaps and issues with the documentation.
Is there something in any specific Azure doc you are looking to have updated or are having issues with? If yes, please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues I would suggest reaching out to the MSDN

[2020-04-03 23:55] ishepherd commented on #51517
Thanks @SnehaAgrawal-MSFT, sure, may I have an email address to send the screenshot privately?

[2020-04-03 23:56] Karishma-Tiwari-MSFT commented on #51670
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 23:56] Karishma-Tiwari-MSFT commented on #51681
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 23:57] Vc921N13 commented on #51678
Hi Karishma,

I got on a chat with support and the agent was able to identify the issue.
I was using a free account and needed to upgrade to a paid subscription.
Perhaps this can be put into the documentation for CDNs.

Thank you,

On Fri, Apr 3, 2020 at 1:53 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
<https://vibecreativemarketing.com/>

*Aaron Schank*
Account Executive
Vibe

[2020-04-04 00:07] Mike-Ubezzi-MSFT commented on #51696
@nastassiar Thank you for bringing this to our attention. I believe that should read:

Let me get this reviewed and verified and if this is the case, I will have a pull request created and the issue corrected.

[2020-04-04 00:19] MarileeTurscak-MSFT commented on #51650
Hi, I was able to find this in our release notes. It is still in public preview and pending a GA date. This page will be updated when that changes. Not sure why it doesn't show that in the portal but I'll report that!

[2020-04-04 00:19] #51650 closed

[2020-04-04 00:22] BharathNimmala-MSFT commented on #51697
@tistocks Thank you for bringing this to our notice, will fix the document accordingly.

[2020-04-04 00:25] MarileeTurscak-MSFT commented on #51500
Thanks @brandonh-msft

In this case related services are grouped together, but I can see a case for alphabetical organization as well and the reason you mentioned is a fair use case.

I'm passing this on to @MarkusVi  but feel free to edit the article and make a PR to list it alphabetically if you would like to do that.

[2020-04-04 00:25] #51500 closed

[2020-04-04 00:25] MarileeTurscak-MSFT commented on #51500
Also, if you edit the article and link your PR here we can have it reviewed.

[2020-04-04 00:28] MartinJaffer-MSFT commented on #51669
@v-liatba  Thank you for your question.  Please let me explain.

The Managed Identity is created when the Factory is created/deployed.  The Identity is not part of the ARM template.
Each time a Factory is created, it is assigned an Identity by Azure.  The identity does not exist before the Factory is created.  Therefore you cannot retrieve the Identity from an ARM template.

[2020-04-04 00:31] #51566 closed

[2020-04-04 00:33] KranthiPakala-MSFT commented on #51566
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-04 00:55] aywolman commented on #51691
jsjsj

[2020-04-04 01:19] jmprieur commented on #51392
+ @hamiltonha, @DarylThayil

[2020-04-04 01:22] edemen commented on #23789
Never mind. Apparently Dashboard v1.10.1 does not even work on Kubernetes 1.16 that we have.
Thank you

[2020-04-04 01:31] saugusto opened #51699 "Size of Azure Files inconsistent with other Docs pages"
"Azure storage account size limits" - has the maximum size for an Azure File Share as 5TB. Yet, https://docs.microsoft.com/en-us/azure/storage/files/storage-files-planning#storage-tiers has the maximum share size updated to 100 TiB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfcdc67c-1726-a874-7ea9-cc3ad2d57fc3
* V

[2020-04-04 02:09] MarileeTurscak-MSFT commented on #51559
Are you saying that you can't get in as well?

You will need to manually re-create the account if you deleted it.

I can create a support ticket for you if you'd like to reach out to me at AzCommunity@microsoft.com

[2020-04-04 02:09] nastassiar commented on #51696
So for the ingest mapping to work you should be uploading files to the final table not the intermediate table? And then the mappings and update policies will take care of the transformation?

[2020-04-04 02:21] coldplay5467 commented on #51559
I deleted one of several MFA accounts within the Microsoft Authenticator App., but I have iCloud backup enabled. When I restore from backup, it restores the most recent backup. How can I restore from an older backup?

[2020-04-04 02:32] TravisCragg-MSFT commented on #51678
@Vc921N13 I am checking now to see if this is a temporary restriction or a permanent one. If it is permanent I will update the documentation.

[2020-04-04 02:34] BAM5 commented on #51600
@TomaszOledzki 99.9% certain you're mistaken about uri not being encrypted in https. To my knowledge the only thing that a mitm attack can ascertain from an https connection is the endpoints (ip addresses) of the communicating machines.

[2020-04-04 02:45] RyanHill-MSFT commented on #51638
Can you share a screen shot @juchom?

[2020-04-04 02:49] erick-thompson commented on #23789
I didn't have any luck with getting the out-of-the-box Kubernetes dashboard working with AKS, but I must admit I didn't spend a lot of time working on it. The solution that appears to be working (time will show any issues) is to use the standard dashboard with `kubectl proxy` and uploading the local users kubeconfig.

It's a multi-step process which isn't as easy/nice as a simple URL, but appears

[2020-04-04 03:20] jaygeek opened #51700 "SSMS acronym mis-typed"
The paragraph under "Restore the database from a backup file"
starts with "In SSMS, follow..." but the Step 1 below it has this error:
"1. Open SMSS"
[I have a nice screenshot that would help, but this control does not support uploading it. @jaygeek]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 759e5bd8-e4f0-24aa-ab4

[2020-04-04 04:06] Mike-Ubezzi-MSFT commented on #51696
@nastassiar Upon closer inspection of this part of the tutorial, and in looking other examples, step number 4 should be:

`.ingest into table RawEvents h'https://kustosamplefiles.blob.core.windows.net/jsonsamplefiles/array.json?st=2018-08-31T22%3A02%3A25Z&se=2020-09-01T22%3A02%3A00Z&sp=r&sv=2018-03-28&sr=b&sig=LQIbomcKI8Ooz425hWtjeq6d61uEaq21UVX7YrM61N4%3D' with (format=multijson, jsonMappingRefer

[2020-04-04 04:25] ram-msft commented on #51684
@MatthewMcD Thanks for the feedback. We will update you shortly.

[2020-04-04 04:26] ram-msft commented on #51685
@MatthewMcD Thanks for the feedback. We will update you shortly.

[2020-04-04 04:28] ram-msft commented on #51687
@MWsys Thanks for the feedback. We will update you shortly.

[2020-04-04 04:29] ram-msft commented on #51688
@johnjohnjohn87 Thanks for the question. We  will update you shortly.

[2020-04-04 04:30] ram-msft commented on #51689
@sheyitx Thanks for the question. We will update you shortly.

[2020-04-04 04:35] ram-msft commented on #51692
@brandonh-msft Thanks for the question. We will update you shortly.

[2020-04-04 04:37] ram-msft commented on #51693
@ms-willfid Thanks for the feedback. We  will update you shortly.

[2020-04-04 04:40] ram-msft commented on #51700
@jaygeek Thanks for the question. We will update you shortly.

[2020-04-04 04:43] ram-msft commented on #51699
@saugusto Thanks for the feedback. We will update you shortly.

[2020-04-04 04:55] EarthlyAlien commented on #46264
Is there a way to log **GPU Metrics** of **N Series Azure VMs** into **Log Analytics Workspaces**? If so, how?

If not, how to do collect GPU Metrics using API or Azure CLI/Powershell Commands?

[2020-04-04 05:59] mailtogurvindersingh opened #51701 "Back from SQL Managed Instance"
**On the Overview page you are saying**

Backups from a managed instance can only be restored to another managed instance. They cannot be restored to an on-premises SQL Server or to a single database/elastic pool.

**But on FAQ**

**How can I move database from managed instance back to SQL Server or Azure SQL Database?**
ou can export database to BACPAC and then import the BACPAC file. This is a r

[2020-04-04 06:04] pradeep-upadhyay opened #51702 "How to allow custom headers in Nginx Ingress controller"
I have a nginx ingress controller running in AKS. One of my application is accessed using POSTMAN, in which I pass some custom headers and their values. The problem is that those custom header values are null when i see in the application.
What configuration should I do in my ingress controller to allow those header values to pass to my application. My ingress controller is sitting behind the Azur

[2020-04-04 07:52] XavUnsg commented on #51219
Thanks, I tried the steps in #50537, with no success. Steps were :
- Clone the project and open a terminal
- Run "dotnet tool install -g dotnet-ef --version 3.1.1"
- Run "dotnet-ef database update"

I received the exact same error as originally, which ask to install a SDK here.

However, the same error message is :

If you really want to use a deprecated SDK, could you provide a direct link to it,

[2020-04-04 08:03] SumanthMarigowda-MSFT commented on #44267
@Grant-Rc Apologies for the delay in responding here! Are you still finding any difficulties?

[2020-04-04 08:27] lhs901 commented on #51538
Thank you for your reply. It means that to follow Oracle's support policy?

[2020-04-04 08:56] asanaliev opened #51704 "Getting HTTP 403 when adding a cluster"
Source: https://docs.microsoft.com/en-us/azure/data-explorer/ingest-sample-data

When I am adding my test cluster URI I get this following:

But if I use "Data Ingestion URI" it is added successfully.

Also, if I use the help cluster "https://help.kusto.windows.net" I don't get an error (
https://docs.microsoft.com/en-us/azure/data-explorer/web-query-data#add-clusters).

---
#### Document Details

[2020-04-04 09:06] asanaliev opened #51705 "HTTP 400 "Bad request: query could not be parsed" to run a query"
Source: https://docs.microsoft.com/en-us/azure/data-explorer/ingest-sample-data

**Steps to reproduce**
(1) Added my cluster. (I use "Data Ingestion URI" of the cluster, instead of "URI". Although not sure if it is a correct way. See for details #51704.)

(2) Run this query (copy-paste from the doc page):

**Result**

Syntax error: Query could not be parsed: . Query: '.create table StormEvents (St

[2020-04-04 09:16] o-l-a-v commented on #50894
@MarileeTurscak-MSFT

Why did this issue get closed? AOBO scenario should either be fixed, or the documentation should be updated with this known limitation.

[2020-04-04 09:17] nwipfli commented on #51631
@KrishnaG-MSFT Thanks for your update.
I hope the information on https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines are not incorrect and hope to get a response asap because I'm currently deploying an ASR project for a customer.

[2020-04-04 09:31] CongDs opened #51706 "Provide more about Architecture Images"
[Enter feedback here]

I need more Architecture detail such as case study or images.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba948130-9ae2-4e15-398e-3573c46d5392
* Version Independent ID: f2bed927-309d-d106-c126-b07d357b880e
* Content: [Tutorial: Create and test a NAT Gateway - Azure portal](https://docs.microsof

[2020-04-04 09:35] theheatDK opened #51707 "Limitations and IPv6 for VNets?"
Hi,
I assume several of the listed limitations go away now that the IPv6 for VNets is GA?

For example "Azure VMs cannot connect over IPv6 to other VMs, other Azure services, or on-premises devices."?

Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f430c66f-e2a5-d6b7-9bae-485b1fba5d2e
* Version Independen

[2020-04-04 10:07] ram-msft commented on #51328
@h164654156465 Please follow the below guide for bringing vision models to IOT edge.
 [guide ](https://github.com/microsoft/azure-iot-edge-cv-model-samples/raw/master/Documentation/Bringing%20Computer%20Vision%20models%20to%20the%20Intelligent%20Edge%20with%20Azure%20IoT%20Edge%20-%20A%20guide%20for%20developers%20and%20data%20scientists.pdf) is for you!

And it happens to be on [GitHub](https://g

[2020-04-04 10:38] ram-msft commented on #51354
Please follow if you are using [Token-Based Authentication](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service#authentication-with-tokens) to the endpoint.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-data-collection

@trevorbye Can you please check on the permissions are required for a service principal or user to score a model

[2020-04-04 10:49] kishan19 commented on #51521
Thank you, this has been super helpful! Solved a long time roadblock for us.

[2020-04-04 11:02] ram-msft commented on #51359
@giorgia995 To perform real-time inferencing, you must deploy a pipeline as a real-time endpoint. The real-time endpoint creates an interface between an external application and your scoring model.
https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-deploy
Please follow the below to train your model on Azure ML and deploy everywhere with ONNX Runtime.
https:/

[2020-04-04 13:38] TestUser0811 opened #51708 "Azure function app caching issue with key vault reference"
My Application settings of Azure function app, has keyvault reference like @Microsoft.KeyVault(SecretUri=https://myvalut.vault.azure.net/secrets/mySecret/), whenever new version of "mySecret" introduced in keyvault, Azure function still renders the old/stale value not the latest value/version of "mySecret".

If I open up app setting using KUDU (https://myhttpfunc.scm.azurewebsites.net/api/settings

[2020-04-04 13:52] frehnejc opened #51709 "Screenshot doesnt match the text"
The Azure AD connector is named aaddscontoso.onmicrosoft.com - AAD.
The screenshot shows: contoso.onmicrosoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dedc709c-19ce-e83b-dae8-7cc18793632e
* Version Independent ID: 1f14d8cc-761d-1cf3-e40a-6a8774b7e812
* Content: [Enable password hash sync for Azure AD Domain S

[2020-04-04 13:53] ram-msft commented on #51701
@mailtogurvindersingh Thanks for the question. We will update you shortly.

[2020-04-04 14:04] SubhashVasarapu-MSFT commented on #51142
@stilbu , Appreciate your patience. You should be able to create a hostname entry for AFD using AFD [frontend endpoint](https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door/frontend-endpoint?view=azure-cli-latest). But, I believe that those commands might not be same for binding wildcard domain. I would suggest you to raise a support request. Please let me know, if you do n

[2020-04-04 14:24] eruditewriter commented on #50407
@anhowe I had this issue and tried the fixubuntuimage.sh script and it did not resolve the problem. I did discover that by changing the following code change in /usr/lib/python3/dist-packagescloudinit/source/DataSourceAzure.py actually resolved my issue:
# Used to match classes to dependencies
 datasources = [
-  (DataSourceAzure, (sources.DEP_FILESYSTEM, )),
+ (DataSourceAzure, (sources.DEP_FILES

[2020-04-04 14:35] codemaker opened #51710 "Will my Gateway URL change?"
Currently Virtual network setting is "OFF" for my APIM. I am planning to change it to external or internal. However, my customers already using "gateway" URL in the field.   Does the URL of my APIM endpoint change?   I am basically want to enable it to protect my APIM from DDoS attacks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-04-04 15:26] yaniaoulmi opened #51711 "return ONLY return"
Duplicated word « return » in Python code comment.
See the section :
Create datasets with Azure Open Datasets / Use the SDK

# Diabetes class can return ONLY return TabularDataset and must be called from the static

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* Version Independent

[2020-04-04 15:38] TestUser0811 commented on #51708
Some quick update would be appreciated.

[2020-04-04 15:41] neerajks77 opened #51712 "Error in the command for monitor-events"
When I try to use the below command. I am getting error.

&gt; az iot hub: 'monitor-events' is not in the 'az iot hub' command group. See 'az iot hub --help'.

az iot hub: 'monitor-events' is not in the 'az iot hub' command group. See 'az iot hub --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit htt

[2020-04-04 15:48] artisticcheese opened #51713 "There is no reason to create/manage certificates (item 8)"
Azure Ad authentication does not require following through with all the items in point 8. No certificate authority needs to be created or configured in VPN configuration. Also there is UI available for enabling Azure AD authentication with no requirement to do it with powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-04 16:34] l-rossetti commented on #38951
I just want to highlight that the correct value is "SharedKey" and I'm able to correctly process data from such a secondary Data Lake 2 storage.

[2020-04-04 16:47] johnstaveley opened #51714 "Needs more info"
The descriptions of tasks are great. It just doesn't state clearly what each task actually does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ca5e7d-d25c-2b11-44fe-620946cf4577
* Version Independent ID: 224fdc61-9afd-d790-3aea-d83ce567315f
* Content: [Customize Microsoft Security Code Analysis tasks - Azure](https:

[2020-04-04 17:04] sethuraj commented on #49786
EMail information still missing in the export csv. Using Graph API, I am able to see the email. ANy update on this posting. Really need this feature to track the users. Thanks.

[2020-04-04 17:04] azbiz commented on #51368
Any updates on this?

[2020-04-04 17:08] Karishma-Tiwari-MSFT commented on #51702
The scope for these doc issues is to help identify gaps and issues with the documentation. Is there something in any specific Azure AKS doc you are looking to have updated or are having issues with?
If yes, please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues I would suggest reaching out to the [

[2020-04-04 17:11] Karishma-Tiwari-MSFT commented on #51704
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:12] Karishma-Tiwari-MSFT commented on #51705
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-04 17:12] Karishma-Tiwari-MSFT commented on #51706
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-04 17:13] Karishma-Tiwari-MSFT commented on #51707
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:14] Karishma-Tiwari-MSFT commented on #51708
The scope for these doc issues is to help identify gaps and issues with the documentation. Is there something in any specific Azure doc you are looking to have updated or are having issues with?
If yes, please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues I would suggest reaching out to the MSDN

[2020-04-04 17:16] Karishma-Tiwari-MSFT commented on #51709
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:16] shashishailaj commented on #42684
@jgudsell @davidfox2 We have merged the pull request after review . The document must be live in 24-48 hours.

Thank you.

[2020-04-04 17:16] #42684 closed

[2020-04-04 17:17] Karishma-Tiwari-MSFT commented on #51710
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:17] Karishma-Tiwari-MSFT commented on #51711
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:18] shashishailaj commented on #51254
@LeonardoFelippine We will now close this issue. Should you have any further question on this , feel free to tag us to your reply and we will be happy to help .

[2020-04-04 17:18] #51254 closed

[2020-04-04 17:19] Karishma-Tiwari-MSFT commented on #51712
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:20] Karishma-Tiwari-MSFT commented on #51713
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-04 17:20] Karishma-Tiwari-MSFT commented on #51714
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-04 17:27] shashishailaj commented on #51687
@MWsys Thank you for catching this. We will engage the content team to have the document reviewed and screenshot updated.

[2020-04-04 17:27] shashishailaj commented on #51687
@v-nagta @chetansriv @jeevansd Could you please have this reviewed and updated accordingly.

[2020-04-04 17:37] msrini-MSFT commented on #51653
@johnynitro , Just try to print $virtualNetwork1 after executing the add command, you can see the subnet getting added to your Virtual Network.

The command mentioned in the doc is correct!

[2020-04-04 17:37] VOLOTD commented on #51248
Hi, I said in my first post that the problem occured when I try to export
in excel (xlsx) format, not tsv...
Regards
D volot

Le ven. 3 avr. 2020 à 17:51, YutongTie-MSFT <notifications@github.com> a
écrit :

[2020-04-04 17:39] mark-szabo commented on #33157
@CMS-seglo so you are telling, that you have:

- [x] soft delete enabled
- [x] retention period set to the default 90 days
- [x] networking set to all-network
- [x] and appgw identity correctly configured

and you are still getting this error?

[2020-04-04 17:49] BharathNimmala-MSFT commented on #51372
@simonech Glad to hear that its working for you with --output json. Thank you for your feedback , currently the doc calls out the format is in JSON format as below.

![sc](https://user-images.githubusercontent.com/45180002/78457762-72506c80-7661-11ea-8ce6-c70ef21febe1.png)

However to give more clarity i have raised a PR to add the note on the output format. Once reviewed and approved the document

[2020-04-04 17:49] #51372 closed

[2020-04-04 18:01] amramtamir commented on #50932
Hi,
Thanks for your answer, I know it's applied to all, I have already checked it in my development environment, Just wanted to get an approval that this is the supported way - so waiting for your input.
Thanks!

[2020-04-04 18:09] BharathNimmala-MSFT commented on #51397
@vlkuznet, @TUSAB-web - Thank you both for reaching out to us and sharing valuable feedback on the script linked in the document. I have reached out to the [repo ](https://github.com/yujhongmicrosoft/spncreationn/blob/master/spncreation.ps1) owner and also our internal doc authoring teams to find the right point of contact and put this feedback into there backlog.

At this point it appears that th

[2020-04-04 18:10] #51397 closed

[2020-04-04 18:12] melghazali commented on #51469
@celery6131
As I understand your issue, you've trained custom translator model with phrase dictionary only and you requested to translate (TO JP) from EN to JP using your custom model category ID. The result is (からJP) and the expectation is (JPへ ) which is similar to our general model.

Using bing/translator which invokes my general models translation service, I was able to repro your findings.

P

[2020-04-04 18:12] bdbvb opened #51717 "Which XSLT versions supported?"
Which XSLT versions are supported for "Transform XML using an XSLT"? Is 2.0 or 3.0 supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5c8bfc-df28-c601-ffe2-244bf261e869
* Version Independent ID: e2c3a983-4f42-3aa7-1432-6221365c74aa
* Content: [Azure API Management transformation policies](https://docs.microsof

[2020-04-04 18:13] msmimart commented on #45547
Fixed in https://github.com/MicrosoftDocs/azure-docs/pull/49917
#please-close

[2020-04-04 18:13] #45547 closed

[2020-04-04 18:14] BharathNimmala-MSFT commented on #51697
@tistocks Thanks again for bringing this to our notice, i have raised a PR to update the document. Once reviewed and approved the changes will be merged, probably in next 1-2 business days.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and wil

[2020-04-04 18:14] #51697 closed

[2020-04-04 18:30] kishan19 opened #51718 "Acoustic Customisation Through the API"
I am a bit confused on the model kind to be chosen, when it comes to acoustic customisation through the API.
In the Custom Speech Portal, I am picking a base language model such as in East US2, where I have picked the model 20190523 (v4.14b Unified) with id: 6f035940-42e4-4b60-8afd-e5c086621c5f. This allows both acoustic and language customisation.

I am easily able to add about 7-8 zip files (i.e

[2020-04-04 18:32] #51718 closed

[2020-04-04 18:33] kishan19 commented on #51718
Moving it to another more relevant forum.

[2020-04-04 18:33] BharathNimmala-MSFT commented on #51463
@Chai-NED Quick update on this, Azure Monitor for Storage is in Public Preview and slated for GA in near future. Currently it does not require any boarding and it is Out of box available to all Azure customers.  Please let us know if you have any additional queries on this. Thank you.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the

[2020-04-04 18:33] #51463 closed

[2020-04-04 18:34] kishan19 opened #51719 "Acoustic Customisation through the API"
I am a bit confused on the model kind to be chosen, when it comes to acoustic customisation through the API.
In the Custom Speech Portal, I am picking a base language model such as in East US2, where I have picked the model 20190523 (v4.14b Unified) with id: 6f035940-42e4-4b60-8afd-e5c086621c5f. This allows both acoustic and language customisation.

I am easily able to add about 7-8 zip files (i.e

[2020-04-04 18:43] BharathNimmala-MSFT commented on #51656
@mapoitras Thanks again for reaching out, assigning this issue to our doc author @anuragdalmia to further evaluate the feedback and update the document accordingly.

[2020-04-04 19:13] jjblack604 commented on #50904
Not sure if this is similar.. using 2.9> on a fresh install w/ python3.6 and the msrest module IS installed, I even verified that I am getting this same error on a vm that has been untouched for about 1.5 months same O/S, ansible version, python version which had been working since I last used it, does not work on either setup. Is this related?

[WARNING]:  * Failed to parse /home/xxx/scripts/azur

[2020-04-04 19:18] SubhashVasarapu-MSFT commented on #51142
@stilbu , The doc with samples is yet to come. We are working on updating the doc. Please stay tuned!

[2020-04-04 19:20] SubhashVasarapu-MSFT commented on #51269
@zhusulai , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-04 19:20] #51269 closed

[2020-04-04 19:23] SubhashVasarapu-MSFT commented on #51282
@calewilliams , The doc has been edited accordingly and it would take some time for the edits to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-04 19:23] #51282 closed

[2020-04-04 19:25] msmimart commented on #50359
Thanks for bringing this up: "$email" is the iterator variable and it gets defined automatically by Powershell when the [foreach](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_foreach?view=powershell-7) loop runs. I just tried the sample and it ran successfully--for now I'll close this issue, but please comment if it's not working.
#please-close

[2020-04-04 19:25] #50359 closed

[2020-04-04 19:31] SubhashVasarapu-MSFT commented on #50967
@jackvdbuk , Appreciate your patience. Could you please elaborate/provide some more details about this integration outcome you are looking for here? This could be helpful for us to provide better assistance on this integration possibilities.

[2020-04-04 19:57] BharathNimmala-MSFT commented on #50718
@evmimagina Apologies for delayed response on this , please let us know if you are still experiencing the same issue.

If you have already login in to Azure CLI with a specific account where you have subscription and AKS clusters created and which you are  trying to upgrade please directly use below command and exclude the az login and see if that helps.

[code]

When using the az login , below ar

[2020-04-04 20:17] kumarallamraju opened #51721 "References to availability-set"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-cli

This tutorial refers to an availability-set while creating backend VMs but the steps to create an availability-set were missing. As such availability-set is not need for standard SKU. So either create a basic LB or create an availability-set before creating the backend VMs.

--

[2020-04-04 20:18] nastassiar commented on #51696
Yeah I tried it and I think you are right they should both be raw events. In that same section in #1 for KQL I think records = Events might be swapped. When I tried my own example. I was getting errors when I had the format like this but if I had | mv-expand Event = records the errors went away and I could run it.

[2020-04-04 20:21] nastassiar opened #51722 "Array fields not being mapped when ingesting JSON"
I ran into some issues when ingesting a JSON array. My example is a little different than the example in that I want to include some fields other than just those within the array but the issue I'm having is although multiple records are being created all the fields from within the array aren't getting mapped. I outlined my question in more detail on stackoverflow: https://stackoverflow.com/questio

[2020-04-04 21:23] BucurCosmin opened #51723 "viewing the blob directly"
Viewing the blob it shows on the body:
"Body":"eyBUZW1wZXJhdHVyZTogNDA5NX0="} for all the messages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d2af37f-a62d-13c8-2bce-626231e12824
* Version Independent ID: 557bcb4d-855a-22f1-7114-19a767645071
* Content: [View Azure IoT Hub message routing results (.NET)](https://do

[2020-04-04 21:33] danfuentes opened #51724 "Domain Not Listed under 'Create App Service Managed Certificates'"
Hello,

I added my domain under 'Custom Domains' without 'www' in front of it like can be seen here:
![CustomDomains](https://user-images.githubusercontent.com/42923035/78462104-72328a00-76be-11ea-86b2-560dc2b207c3.png)

This how my Host Records look on Namecheap:
![Namecheap-HostRecords](https://user-images.githubusercontent.com/42923035/78462108-76f73e00-76be-11ea-87a8-4456ae6948a6.png)

However

[2020-04-04 21:59] danmi20 opened #51725 "This page is useless and contains misleading information."
The current versions of compass and Azure Cosmos DB are incompatible since Azure Cosmos DB doesn't support connectionStatus Command.

![image](https://user-images.githubusercontent.com/9846863/78462246-eda13500-76d8-11ea-9deb-0cd0b183c078.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae63b0b-8c13-36da-c5c9-d126f

[2020-04-04 22:15] #44943 closed

[2020-04-05 01:14] neerajks77 opened #51726 "The point wise example does not work"
I am following the example point by point, but I am ending up with the same error when I am trying to run the application after uploading the code. I have done it 4 times

[Starting] Opening the serial port - COM7
[Info] Opened the serial port - COM7
2020-04-05 01:04:07 INFO:  &gt;&gt;&gt;Re-connect.
2020-04-05 01:04:07 INFO:  IoThub Version: 1.3.6

2020-04-05 01:04:11 ERROR: mqtt_client.c (ln 454

[2020-04-05 02:38] ram-msft commented on #51719
@kishan19 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-05 02:40] ram-msft commented on #51717
@bdbvb Thanks for the question. We will update you shortly.

[2020-04-05 02:42] ram-msft commented on #51725
@danmi20 Thanks for the question. We will update you shortly.

[2020-04-05 02:52] ram-msft commented on #51721
@kumarallamraju Thanks for the feedback. We will update you shortly.

[2020-04-05 04:07] Karishma-Tiwari-MSFT commented on #51718
Thanks for sharing the update.

[2020-04-05 04:53] MarileeTurscak-MSFT commented on #51473
Thanks @robmacf! I made a pull request to add this role in the places where it is relevant.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/110297

@curtand I also made a pull request to standardize all of the capitalization, as the titles were inconsistently capitalized throughout (i.e. "Security reader" in one paragraph and Security Reader" in the next).

[2020-04-05 04:53] #51473 closed

[2020-04-05 05:58] naqash11 commented on #51168
I do not know why you did not understand. Let me explain, These reports are generated under Azure AD > Security > Identity Protection, we need to know how these are generated and on what basis even though we have no policies enforced still we can see these reports? I hope my question is cleared now.

[2020-04-05 06:22] zindexsolutions commented on #47760
Hello @BryanTrach-MSFT

I have the same issue I also want my web app in 7.1.

But same if I executing command which is below,

`az webapp config set --name <app-name> --resource-group <resource-group-name> --linux-fx-version "PHP|7.1"`

It's not working it's changed but still, my app is not working,

![php](https://user-images.githubusercontent.com/16116433/78468245-a005e600-7733-11ea-9094-ce1fd48

[2020-04-05 06:35] dcurwin commented on #51434
@BharathNimmala-MSFT  Can you please reopen this issue? Thanks.

[2020-04-05 07:08] ram-msft commented on #51722
@nastassiar Thanks for the question. We will update you shortly.

[2020-04-05 07:09] ram-msft commented on #51723
@BucurCosmin Thanks for the question. We will update you shortly.

[2020-04-05 07:12] ram-msft commented on #51724
@danfuentes Thanks for the question. We will update you shortly.

[2020-04-05 07:12] orspod commented on #51696
@nastassiar thanks so much for your feedback.
@Mike-Ubezzi-MSFT thanks for your help.
I created a WI to fix this doc error.

[2020-04-05 07:14] ram-msft commented on #51726
@neerajks77 Thanks for the question. We will update you shortly.

[2020-04-05 07:17] kerend commented on #51722
@nasantia. all you need to do is include your top level fields as well, in table schema, mapping and update function, I also replied to your question on Stack overflow.

[2020-04-05 07:32] orspod commented on #51722
@nastassiar thanks for the feedback. I hope @kerend response was helpful.

[2020-04-05 09:00] timdeluxe opened #51728 "Azure disk limitations not up to date anymore"
The information in the section "Azure disk limitations" (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/availability-zones.md#azure-disks-limitations) seems not to be correct anymore:
From all what i could find, Kubernetes is aware of Azure availability zones since version 1.12 and scheduler does schedule the pod only in the zone, where its volume is. I did not need to config

[2020-04-05 10:36] Eldar1205 commented on #23004
@SubhashVasarapu-MSFT Hi I'm looking for an automated solution too, couldn't access the link by @materniak because of too many redirects.. mind you provide me with instructions or alternative guideline link?

[2020-04-05 10:47] nastassiar commented on #51722
I updated my question on stackoverflow but the issue isn’t with the top level fields those are working well actually, the problem is with the fields within the objects in the array, those aren’t being mapped

[2020-04-05 10:57] AshokPeddakotla-MSFT commented on #51386
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-05 10:57] #51386 closed

[2020-04-05 11:47] erwinmanuel opened #51730 "Powershell command to Remove Windows shutdown command from Start menu doesn't work on Windows Server 2016"
PowerShell command works on Server 2019 but not on Server 2016. The manual process via Group Policy also works. Is there a different registry or method that is used through PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d0b3ca4-82f2-70f2-d242-c16d46d6cea9
* Version Independent ID: 77047fd2-4e50-fca7-a7c2-0

[2020-04-05 12:03] nishantrajmitra opened #51731 "Error in query and right query added."
for one element, you can use only the dot notation. The given below query returns error:

let hosts_report='{"location":"North_DC", "status":"running", "rate":5}';
print hosts_report
| extend status = hosts_report.status

Result: SYNTAX ERROR
Path expression status source must be scalar of type 'dynamic'. Received a source of type string instead
The correct query is below:
let hosts_report=dynamic

[2020-04-05 12:19] yanivlavi commented on #51541
We don't want to make the document long by adding many results.
This is a reference, not a exact payload.

[2020-04-05 12:34] jethrovaneetvelde commented on #51541
You could also change the ResultCount to 2, to match :)
It may sound stupid but since there are no descriptions regarding all possible payload outcomes, it would be nice that what's there is correct...
To automate based on the alertcontext, right now it's a big guess for many "would it be possible to have x".

[2020-04-05 12:42] yanivlavi commented on #51541
Fixed, it should roll out later in the month.

[2020-04-05 12:49] michuny25 opened #51732 "Index entities pattern - missing PartitionKey in index entity in a separate partition"
In the description of [index entities pattern](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-design-guide#index-entities-pattern), specifically in Option 3 (index entities in a separate partition or table) the documentation suggests the following entity:
![image](https://user-images.githubusercontent.com/23375592/78498672-e8310280-774b-11ea-9652-b7ad04026b06.png)
Followed by descr

[2020-04-05 12:54] yejiyang commented on #51639
@kfolkes Hey, thanks for the reply.
I checked the /wwwroot folder, which has the source code.

root@xxx:/home/site/wwwroot# ls -h
README.md
hostingstart.html
oryx-manifest.toml  public
babel.config.js
node_modules
package-lock.json
src
dist
node_modules.tar.gz
package.json

And inside the dist folder, the generate files from build exists.
root@cdb3d23a2b95:/home/site/wwwroot/dist# ls
css
favicon.i

[2020-04-05 13:11] MonikaReddy-MSFT commented on #51730
@erwinmanuel , Thanks for raising the question. We will investigate it further and update you shortly.

[2020-04-05 13:15] SubhashVasarapu-MSFT commented on #51191
@asichaib ,Appreciate your patience. Yes you do need VNET peering between spoke VNET and NVA Vnet in-order to establish SPOKE-SPOKE VNET communication.
![image](https://user-images.githubusercontent.com/44890829/78499303-75388380-776d-11ea-9431-4423a69ae174.png)
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the disc

[2020-04-05 13:15] #51191 closed

[2020-04-05 13:45] h021902 opened #51733 "Tracking where azure ad accounts have been used as guest accounts in other directories"
As an end user it is possible to see where I have used my account with other organisations, however this information doesn’t appear to be available for global admins of the source directory.

Is this information available and if so where?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc

[2020-04-05 13:54] TestUser0811 commented on #51708
It is not about the document it more about the functionality of app services as I have mentioned in my original post. Can you move this concern or tag right team to answer/clarify the query?

[2020-04-05 14:14] amanmcse commented on #51518
@mwwhited I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any questions.

[2020-04-05 15:27] v-pethur opened #51735 "In "Buy a software Plan" section step 4, Select a scope. Only 2 scopes are listed, "Single subscription" and "Shared", however in the Portal, "Resource Group" exists too."
Hello,

In the "Prepay for Azure software plans" document https://docs.microsoft.com/en-us/azure/virtual-machines/linux/prepay-suse-software-charges#buy-a-software-plan,

it only lists 2 select-able scopes, "Single subscription" and "Shared", in the "Buy a software Plan" section, (Step 4).  However, in the Azure portal, there is the (and commonly seen in other RI selections) the 3rd "Single Resour

[2020-04-05 15:34] KrishnaG-MSFT commented on #51731
@nishantrajmitra Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-05 15:56] neerajks77 commented on #51726
Thanks for looking into the issue. the failure in connecting to the endpoint was happening due to the firewall rules on the router. Once the rules were disabled, the connection was established and IoT Hub was able to retrieve the data.

[2020-04-05 15:56] #51726 closed

[2020-04-05 15:56] BharathNimmala-MSFT commented on #51541
@yanivlavi  Thank you for helping on this thread and also raising a PR to reflect the feedback.

@jethrovaneetvelde  Thanks again for sharing your feedback. ,  At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be more than happy to reopen

[2020-04-05 15:56] #51541 closed

[2020-04-05 16:01] Norrch2 opened #51736 "Correction needed for ApplicationInsights Common technical profile"
The input claims tag was not closed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b323b269-e228-4e1f-265c-1b47831cc871
* Version Independent ID: 9248541d-dc78-4cd6-01eb-2d459df058fe
* Content: [Track user behavior with Application Insights - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/an

[2020-04-05 16:10] StingyJack opened #51738 "What about limits for "container group quota""
We get this message when we try to start an 11th concurrent container...

 Microsoft.Rest.Azure.CloudException: Resource type 'Microsoft.ContainerInstance/containerGroups' container group quota 'StandardCores' exceeded in region 'eastus'. Limit: '10', Usage: '10' Requested: '1'.

Which of the limits above refer to this?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-04-05 16:35] dgancho opened #51740 "Deprecated command "group deployment""
Running command
"az group deployment create --resource-group &lt;resource group of log analytics workspace&gt; --template-file ./containerSolution.json --parameters @./containerSolutionParams.json"
results in
"This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead."

---
#### Document Deta

[2020-04-05 16:39] YinglongJiang commented on #51368
I'm seeing the same message, attempted to upgrade, but github says 404 file not found.

[2020-04-05 17:01] eydelrivero opened #51741 "Adding/Removing custom domain restarts the app service"
When I add or remove a custom domain on the azure portal, the app service restarts. I have confirmed that the app is indeed restarting by creating an empty aspnet core app and only enabling Serilog logging to log when `Program.Main()`, `Startup.ConfigureServices()` and `Startup.Configure()` methods are executed. I found this related issue (https://github.com/MicrosoftDocs/azure-docs/issues/13429)

[2020-04-05 17:06] mohammedrameesp opened #51742 "While setting the budget, the budget ask for the amount in $ and sets in my default currency (INR) after creating."
I am using INR as my default currency on Azure. While creating the budget ask for the amount as Amount ($), when we give in dollars, for example, 100, it will set on INR 100 after creation

![image](https://user-images.githubusercontent.com/63202229/78504997-1416ad00-7779-11ea-80e3-197f5ae3879f.png)

![image](https://user-images.githubusercontent.com/63202229/78505041-54762b00-7779-11ea-9a09-7eb22

[2020-04-05 17:24] CharithEkanayake commented on #25273
Storage Blob Data Owner at the storage account level works.

[2020-04-05 17:27] aswar464 opened #51743 "#bohoso moto"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-05 17:39] dgancho opened #51744 "Incorrect syntax "helm install --name <name>""
Suggested syntax "helm install --name &lt;name&gt;" is incorrect, results in "Error: unknown flag: --name"
Correct syntax is "helm install &lt;name&gt;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4d8022-4515-b83d-4588-518e3830f2a3
* Version Independent ID: c78e0650-4575-2b89-b41f-7e17abc2e17e
* Content: [Configur

[2020-04-05 17:47] githubvick opened #51745 "Service tiers explanation inconsistencies"
Hi,

I see that in this link https://azure.microsoft.com/en-us/updates/azure-sql-database-introduces-new-basic-standard-and-premium-previews/ which was updated Feb 12 2020, the service tiers mentioned are Basic, Standard and premium whereas in this page, the service tiers discussed are Business critical, Hyperscale and General purpose. It would be easier if there is consitency in the terminologies

[2020-04-05 17:48] msrini-MSFT commented on #51543
Please tag me if you have any further questions.

[2020-04-05 17:48] #51543 closed

[2020-04-05 17:49] msrini-MSFT commented on #51595
Please tag me if you have any further questions.

[2020-04-05 17:49] #51595 closed

[2020-04-05 17:49] msrini-MSFT commented on #51653
Please tag me if you have any further questions.

[2020-04-05 17:49] #51653 closed

[2020-04-05 18:10] haroldwongms commented on #49873
@eyusubov : Sorry, just fixed it so should go live in the next day.

[2020-04-05 18:24] yoelhor commented on #51736
Thank you @Norrch2  for bringing this to our attention. I fixed this issue, should be published Monday morning (Pacific time zone).

Yoel

[2020-04-05 18:26] yoelhor commented on #51736
#sign-off

[2020-04-05 18:27] #51736 closed

[2020-04-05 18:39] the-blesss opened #51746 "Trying to use Get-AzUserAssignedIdentity in module 0.7.3 and getting an error"
Using Az.ManagedServiceIdentity version 0.7.2 is able to successfully get an existing UAMI. I've reproduced this in both cloud and local PS sessions with different users/subscriptions. I can't run this command against an entire subscription, nor a resource group, nor with both RG and Name of UAMI. As soon as I update the module to 0.7.3, I'm getting the following error:
Get-AzUserAssignedIdentity

[2020-04-05 18:59] mwwhited commented on #51518
So you’re not going to maintain the documentation.

[2020-04-05 19:13] danfuentes commented on #51724
I ended up using CloudFlare SSL/TLS encryption.
This issue can now be closed. Thanks!

[2020-04-05 19:13] #51724 closed

[2020-04-05 19:15] BharathNimmala-MSFT commented on #51728
@timdeluxe  Thank you for your feedback, our team will further look into this and get back to you at the earliest.

[2020-04-05 19:19] KalyanChanumolu-MSFT commented on #51745
@githubvick Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-04-05 19:20] KalyanChanumolu-MSFT commented on #51732
michuny25 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-04-05 19:24] BharathNimmala-MSFT commented on #51744
@dgancho Thank you for bringing this to our notice, we will review the feedback and update the document accordingly.

[2020-04-05 19:28] Karishma-Tiwari-MSFT commented on #51733
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-05 19:28] jasonshave commented on #47377
Is there an update someone can provide to this? I'm encountering the same.

[2020-04-05 19:29] Karishma-Tiwari-MSFT commented on #51735
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-05 19:33] Karishma-Tiwari-MSFT commented on #51743
Can you please elaborate on the feedback you have for the doc and provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-05 19:33] Karishma-Tiwari-MSFT commented on #51244
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-05 19:33] #51244 closed

[2020-04-05 19:34] Karishma-Tiwari-MSFT commented on #51272
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-05 19:34] #51272 closed

[2020-04-05 19:35] BharathNimmala-MSFT commented on #51740
@dgancho Thank you for bringing this to our notice, we will further review the feedback and update the document accordingly.

[2020-04-05 19:36] aswar464 commented on #51743
Ok kk🙏🙏

[2020-04-05 19:51] BharathNimmala-MSFT commented on #51742
@mohammedrameesp Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-05 19:59] yoelhor commented on #51660
The `InputValidation` value is used to localize one of the PredicateValidation group error messages as specified in the StringId.

[code]

The following example shows a localized a predicate validation group help text.

[code]

[2020-04-05 20:09] rhalaly commented on #39595
@elamalani in the announcement you wrote

What are the alternative ways to have similar functionality as the Mobile App?

[2020-04-05 20:29] NavtejSaini-MSFT commented on #51546
@sgiovinetti The intention here is to convey that if you have the [Private link](https://azure.microsoft.com/en-us/updates/private-link-now-available-in-ga/) feature you don't need to add the Client Ip into the allowed Firewall rules but if you don't have Private link you need to add the Ip's to the firewall rules.
I have edited the line to reflect that, once the doc author approves the same the d

[2020-04-05 20:48] jordanmills commented on #51478
We had a similar issue.  For reference (and lots of fun), you can break MFA for any user in any tenant by creating a guest user with the same email/UPN in a tenant in another cloud environment (like GCC).  It seemed that there was no way to resolve this from the Microsoft side - after months of MFA not working for the affected users, they finally figured it out and said that the only way to fix it

[2020-04-05 21:15] NavtejSaini-MSFT commented on #51547
@rohitnayakmsft Please look into the feedback from the user and let us know if this can be incorporated in the document.
@ecki We are assigning this to our doc author for further insight.

[2020-04-05 21:19] NavtejSaini-MSFT commented on #51700
@jaygeek Thanks for the feedback. We have raised the Pull Request to correct the typo and once approved changes will be displayed.

[2020-04-05 21:58] NavtejSaini-MSFT commented on #51701
@mailtogurvindersingh Backups(.bak) and bacpac are 2 different types of files. The overview page is referring to native backups (.bak) and you will not be able to take the back up and restore it on premises or azure sql single Db as explained in these threads - https://github.com/MicrosoftDocs/azure-docs/issues/32768
https://feedback.azure.com/forums/915676-sql-managed-instance/suggestions/3541451

[2020-04-05 22:02] jeevansd commented on #51687
@MWsys We have setup meeting with Mimecast team and will get the article updated soon.

[2020-04-05 22:08] NavtejSaini-MSFT commented on #51745
@githubvick  The document https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-general-purpose-business-critical mentions these are service tier for v core model of purchasing.
![image](https://user-images.githubusercontent.com/52257742/78511120-41a72a80-7768-11ea-9fe3-e46ba9c1e43d.png)

The Basic, Standard and Premium service tier are for DTU model of purchasing resource

[2020-04-05 22:27] the-blesss commented on #51746
I'm currently using Get-AzResource to get the UAMI resource ID, then using that for Blueprint assignment for a work-around to using Get-AzUserAssignedIdentity.

[2020-04-05 22:51] finsharp commented on #51437
@RyanHill-MSFT I didn't know mananged identity for slots would be [webAppName]/slots/[slotName]. As such I couldn't find the slot.

Can you enable search by ObjectID? Is that available?

[2020-04-05 23:13] ramisohail commented on #33551
i am also running on the same issue and the use is a global admin,Contributor and RDS Owner, i am unable to get it to work?

[2020-04-05 23:29] jambo58 opened #51752 "Installing Language pack on 1909 using DISM does show language for additional multiession users"
Installing Language pack on 1909 using DISM does show language option for the additional multisession users.
SO i installed language packs and LXPs into the image, permormed sysprep however when the WVD user signs in they do not have the installed language listed to select

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-05 23:53] MWsys commented on #51687
thank you for being so on top of this.
It will be really helpful when the documents are updated for future rollouts

[2020-04-06 00:02] golfalot opened #51753 "Changing custom message in Portal means losing the tracking request id"
I'd like to output a custom message containing the tracking request id. e.g. Contact the admin team citing the following reference {tracking request id}.
Currently only the message text is output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0754376f-24d5-1bea-72b3-37912c20ea86
* Version Independent ID: f924669a-68b5

[2020-04-06 00:06] boarnoah commented on #51493
In addition, Azure Databases for PostgreSQL is an option now, the connection string prefix for that is "POSTGRESQLCONNSTR_" which isn't documented here.

[2020-04-06 00:51] BharathNimmala-MSFT commented on #51741
@eydelrivero Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-06 01:44] Karishma-Tiwari-MSFT commented on #51538
Supported versions for Oracle Linux are : 6.4+, 7.0+

[2020-04-06 01:45] Karishma-Tiwari-MSFT commented on #51527
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-06 01:45] #51527 closed

[2020-04-06 01:45] Karishma-Tiwari-MSFT commented on #51531
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-06 01:45] #51531 closed

[2020-04-06 01:45] Karishma-Tiwari-MSFT commented on #51532
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-06 01:45] #51532 closed

[2020-04-06 01:46] neeleshray-msft commented on #51746
@the-blesss Thank you for your query . We will investigate and update the thread further.

[2020-04-06 01:46] Karishma-Tiwari-MSFT commented on #51648
Is there any update?

[2020-04-06 01:47] Karishma-Tiwari-MSFT commented on #51652
Thanks for sharing the update.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-06 01:47] neeleshray-msft commented on #51709
@iainfoulds Can this be checked and changed ?

[2020-04-06 01:48] Karishma-Tiwari-MSFT commented on #51738
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-06 01:51] YutongTie-MSFT commented on #51308
@markamos Hi Mark, could you please provide some insights about multiple languages as input? We don't have any document regarding to this. Thanks.

[2020-04-06 01:51] neeleshray-msft commented on #51733
@h021902 If you mean that the Global Admin of Tenant A to be able to check which users of Tenant A have been added to other tenants/organizations as Guest Users - No, this feature is not available in Azure AD as of today. You can post your ideas on the [Azure Feedback Forum](https://feedback.azure.com/forums/169401-azure-active-directory) for our Engineers to have a look at.

[2020-04-06 01:53] neeleshray-msft commented on #51514
@jackvdbuk Could this be verified from the Product team ?

[2020-04-06 01:55] gdmeann commented on #29095
Deletion of a recommended rule does not save when following the steps stated in this MS article. Is there another steps/procedure on how to delete a rule? Thanks.

[2020-04-06 02:02] gdmeann opened #51754 "Delete a rule on Adaptive Network Hardening in Azure Security Center"
Deletion of a recommended rule does not saved when following the steps stated in this MS article. Is there another steps/procedure on how to delete a rule on Adaptive Network Hardening in Azure Security Center? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db55d711-a6c9-a620-a783-6e3e0d2617a0
* Version Indepen

[2020-04-06 02:02] bartelink commented on #42708
didn't work / has regressed...

[2020-04-06 02:33] YutongTie-MSFT commented on #51371
@gdprtcl Hi Partha, this is a method of Python SDK, it can not be used in .NET. Please refer to the document: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice(class)?view=azure-ml-py#get-keys--

@jpe316 FYI

[2020-04-06 02:37] AshokPeddakotla-MSFT commented on #51726
Glad to hear that you were able to resolve the issue.

[2020-04-06 02:46] andrewlee26 commented on #35344
I have been trying to follow the instructions and get to the point where I can test this. Using the local account only and setting up the required applications, when I select the B2C_1A_signup_signin custom policy, I'm presented with no options to the select application or reply url. Both fields are greyed out.

[2020-04-06 03:02] RossMurr4y opened #51755 "Supported Extensions Not Documented"
This page mentions that only two extensions are supported, however it provides no links to further reading on the correct usage of those extensions or even a summary of what they do. Searching broadly on the Azure docs site does not bring up any results for either of them, nor on Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-04-06 03:14] ElliotWood opened #51757 "Server 500 with Upload geofence - breaks on step 4"
Server 500 issue when following these instructions, got stuck on step 4 of Upload Geofence.

Steps to reproduce:
POST https://atlas.microsoft.com/mapData/upload?subscription-key=****removedmykey****&api-version=1.0&dataFormat=geojson

body &gt; from here
https://raw.githubusercontent.com/Azure-Samples/iothub-to-azure-maps-geofencing/master/src/Data/geofence.json?token=AKD25BYJYKDJBJ55PT62N4C5LRNN4

[2020-04-06 03:18] ElliotWood commented on #51757
x-ms-azuremaps-region: West US 2

[2020-04-06 03:40] shashishailaj commented on #51754
@gdmeann Thank you for your query . We use github for documentation improvement and we will try to investigate and help you with your query.

[2020-04-06 03:40] shashishailaj commented on #51754
@gdmeann  In case you see any specific error message , please do let us know.

[2020-04-06 04:02] jay-tuckey opened #51758 "-match regex syntax? What syntax does it use? How can you escape a . character?"
I tried making a -match regex:
`(user.userPrincipalName -match ".*@example\.email")`

However, this didn't find any users. What do I use to escape the `.` character in the email address properly? Is there a regex syntax cheatsheet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Ve

[2020-04-06 04:06] PramodValavala-MSFT commented on #51755
@RossMurr4y Thanks for the feedback! We will review and update accordingly.

[2020-04-06 04:08] ecfan commented on #47946
Here's an update with a link to the current gateway PowerShell cmdlets:

https://www.powershellgallery.com/packages/DataGateway/3000.15.15

[2020-04-06 04:08] PramodValavala-MSFT commented on #51253
@sweeeneey Thanks for catching this and sharing the workaround! We have shared the feedback with the concerning team who will be address this.

We are assigning this issue to the author for further review.

[2020-04-06 04:08] PramodValavala-MSFT commented on #51519
@y10e Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-06 04:08] #51519 closed

[2020-04-06 04:23] lyrana commented on #49385
#please-close

[2020-04-06 04:23] #49385 closed

[2020-04-06 04:29] RohitMungi-MSFT commented on #51443
@gdprtcl We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-06 04:29] #51443 closed

[2020-04-06 04:30] shashishailaj commented on #51392
#reassign:DarylThayil

[2020-04-06 04:32] shashishailaj commented on #45068
#reassign:jmprieur

[2020-04-06 04:49] lyrana commented on #51334
I understand the confusion here. The prefix "mega" denotes one million, and this is the standard used by manufactures. I believe the term mebibyte was introduced as the binary prefix.
#please-close

[2020-04-06 04:49] #51334 closed

[2020-04-06 04:50] RohitMungi-MSFT commented on #51524
@damochiz This change is now updated in the document. Ref [commit](https://github.com/MicrosoftDocs/azure-docs-pr/commit/7e57a00daf6e6fdaec54212183c755fe014dc19f#diff-61b9b85746c2f6c91434cd62afc145ec).
@cartacioS Thanks for updating the document.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-06 04:50] #51524 closed

[2020-04-06 04:52] nnamedieh opened #51759 "Billingdata from older periods changes daily"
Hi all,
I'm quite wondering why billingdata from the last billingperiod (e.g. 03/2020 or 02/2020) changes from day to day. I thought this billingperiod would be close for changes after month ends. Can you explain me this behaviour and how to get the "real" cost?
Thank you!
Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-06 05:14] SumanthMarigowda-MSFT commented on #51224
@hugohhk Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  It could a time on the server , please reset the time .  When exactly are you getting this error  message can you please share the screenshot.
You may also refer to the suggestion : https://docs.microsoft.com/en-us/azure/storage/common/storage-auth
You may also refer to the suggestion me

[2020-04-06 05:14] #51224 closed

[2020-04-06 05:15] #51270 closed

[2020-04-06 05:25] VikasPullagura-MSFT commented on #51752
@jambo58 Thanks for posting your question here.

As this issue needs deeper investigation, this can be better handled via a support ticket.

We recommend you to open a support ticket so that a dedicated engineer can take a look at this issue.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me

[2020-04-06 05:25] #51752 closed

[2020-04-06 05:27] VikasPullagura-MSFT commented on #51677
@Mitaric Thanks for posting your question here.

As this issue needs deeper investigation, this can be better handled via a support ticket.

We recommend you to open a support ticket so that a dedicated engineer can take a look at this issue.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me

[2020-04-06 05:27] #51677 closed

[2020-04-06 05:28] SaurabhSharma-MSFT commented on #51271
@madhanan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-06 05:28] #51271 closed

[2020-04-06 05:29] SumanthMarigowda-MSFT commented on #51391
@erik-jansen Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Azure Files supports identity-based authentication and access control. You can choose one of two ways to use identity-based access control: Active Directory (AD) (preview) or Azure Active Directory Domain Services (Azure AD DS) (GA). AD supports authentication using AD domain joined

[2020-04-06 05:31] VikasPullagura-MSFT commented on #51672
@MicrosoftDocs/aks-pm Please add your comments

[2020-04-06 05:34] SumanthMarigowda-MSFT commented on #51447
@tebeco Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-06 05:35] SnehaAgrawal-MSFT commented on #51517
@ishepherd Thanks for the reply. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-04-06 05:37] ancibira opened #51760 "Training is looping"
When running this in a Jupyter Notebook I found that the training step was looping and not quitting after the first successful training. I replaced quit() with break and it worked fine after that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18818774-5076-cb76-ee9e-4ecb632b6caa
* Version Independent ID: 22d60153-50fc

[2020-04-06 05:37] SumanthMarigowda-MSFT commented on #51544
@MaduraDias Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-06 05:40] SumanthMarigowda-MSFT commented on #51451
@alexvolchetsky Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-06 05:42] SnehaAgrawal-MSFT commented on #51410
@CmdrBeavis We will close this out but if you feel you need more information please just let us know.

[2020-04-06 05:42] #51410 closed

[2020-04-06 05:47] SnehaAgrawal-MSFT commented on #51430
@aximobile We will close this out but if you feel you need more information please just let us know.

[2020-04-06 05:47] #51430 closed

[2020-04-06 05:53] pbartos commented on #47478
Hi, @likebupt . I can see the feature, but caching is not working. Even this option is unchecked, the module is executed each run.

[2020-04-06 06:02] sujayvsarma opened #51761 "Which documentation? - Configure permanent admin permissions for application"
Hello!

For an application I am working on, the application needs to be a "permanent Admin" on the Azure AD it is working off. For example, it performs various user & groups management tasks in the background. These need to be performed regardless of the actually logged in user.

For example, a user uses a sign up form and the application creates a corresponding User account in the Azure AD. Now,

[2020-04-06 06:03] amanmcse commented on #51518
@mwwhited The documentation is up to date. Since B2C supports both Legacy and New app registration experience, it is necessary to keep steps for both experiences in the documentation. Hope this clarifies.

[2020-04-06 06:12] TomGeske commented on #51672
@CeciAc

Your **cluster** and **ACR** instance really the same name: "testmsi"?

[2020-04-06 06:12] RohitMungi-MSFT commented on #51308
@octupul Thanks for the question. Conversation Transcription doesn’t support bi-lingual meetings at current moment. We will pass this feedback to our team to take this up as a feature in the backlog.

[2020-04-06 06:12] #51308 closed

[2020-04-06 06:19] ahmedHashwa commented on #44401
I can verify that it has changed from https://api.ciscoweb.com/v1/scim/{OrgId} to https://api.ciscospark.com/v1/scim/{OrgId} and your mentioned URL doesn't work anymore.

[2020-04-06 06:32] GiriB opened #51762 "Working with multiple namespaces"
To register with a namespace we set call `Azure.configure` - which sets that values for the whole class.

But this wont work if your program is working with two different namespaces as each time we call configure `Azure` values are overwritten. Is this a bad design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d9aa

[2020-04-06 06:35] RohitMungi-MSFT commented on #51711
@yaniaoulmi Thanks for pointing this out. A change is now merged through PR [110322](https://github.com/MicrosoftDocs/azure-docs-pr/pull/110322). The change should be updated in the document in next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-06 06:35] #51711 closed

[2020-04-06 06:37] asergaz commented on #51364
Thanks for confirming @bamajeed . Assigning this issue to the author to fix the doc accordingly.

[2020-04-06 06:37] mikanyg commented on #51554
It hangs during pre-deployment in the while loop. It succesfully disabled one trigger out of 10ish, then it just hangs.

[2020-04-06 06:38] asergaz commented on #51345
Hi @chris-han , let us know the answer to the above question to proceed the troubleshooting.
Thanks!

[2020-04-06 06:46] HWouters commented on #51660
Unfortunately, this doesn't work. I can translate everything except
[code]

[2020-04-06 06:50] lhs901 commented on #51538
Noted with thanks.

[2020-04-06 06:50] #51538 closed

[2020-04-06 06:55] Thoemmeli opened #51763 "How to find the http header for subscriptions"
It took me a while and some research to figure out, that the API subscription has to be provided in the "Ocp-Apim-Subscription-Key". Please include that either in this page or in a link to the corresponding page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b18e22-18d0-f82d-cbd0-e9ca300ee655
* Version Independent I

[2020-04-06 06:57] freever commented on #49749
Was there a resolution for this? I am also unable to get server-side installations working for iOS.

[2020-04-06 06:58] HWouters commented on #51660
ElementId should be the id of PredictateValidation, in this case CustomPassword. Then it works!

[2020-04-06 07:10] Neelkamal10 commented on #51648
still ,its not working. The above code only encrypt os disk.

[2020-04-06 07:10] rich-davies opened #51764 "No Security Recommendations"
The category "Security" does not appear to be available.  The only vaguely security-related recommendations I've been able to find have been listed under the "High Availability" category.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45701464-9df3-04a6-f3f5-934783665fd4
* Version Independent ID: db57a5e9-426b-4136-e5e

[2020-04-06 07:15] SubhashVasarapu-MSFT commented on #51753
@golfalot , We are looking into this query and will update you as soon as possible.

[2020-04-06 07:16] SubhashVasarapu-MSFT commented on #50967
@jackvdbuk , I am wondering if you had a chance to look over my previous reply.

[2020-04-06 07:18] petitbetty commented on #51244
Thank you very much for your help.

On Sun, 5 Apr 2020 at 21:34, Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-04-06 07:21] mozziemozz opened #51765 "Neural Voice de-De Jana Neural missing since 04.04.2020"
Hi

Last week, on 03. April 2020 there was a neural Voice de-De Jana available for Neural TTS. Now, after the weekend, this voice seems gone. Please check why it's not listed as an available voice on the docs and why it's not appearing as a selection anymore. This Jana voice was much better than de-De Katja Neural.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-06 07:26] gorillapower opened #51766 "Autopilot logical partition limits"
Hi there,

Does the logical partition storage limit (currently 20Gb) remain the same on autopilot? Or does the storage limit mentioned in the Autopilot section include logical partitions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e00a0946-e2b2-9a5f-f823-fb1ab1a662ef
* Version Independent ID: 33e279f8-b757-048a-005

[2020-04-06 07:30] RohitMungi-MSFT commented on #51765
@mozziemozz Thanks for your question. Could you please let us know if you are referring to any documentation link on azure docs that could relate this to a service or quickstart that could help us find the right team to address this issue?

[2020-04-06 07:33] RohitMungi-MSFT commented on #51760
@ancibira Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-06 07:34] aristosvo commented on #51672
@TomGeske Yup!

[2020-04-06 07:34] mozziemozz commented on #51765
@RohitMungi-MSFT I'm referring to this one:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#neural-voices

Last week I was able to choose de-DE - JanaNeural as a voice which is not available anymore and is also not on the list.

[2020-04-06 07:35] SumanthMarigowda-MSFT commented on #51396
@gldsomeshwarduggirala Please refer to the suggestion mentioned in this GitHub
https://github.com/Azure/azure-storage-azcopy/issues/507

[2020-04-06 07:39] #51391 closed

[2020-04-06 07:41] RohitMungi-MSFT commented on #51761
@sujayvsarma Thanks for your question. This support forum is primarily used to address issues related to our document content and based on the above question it looks like you need help regarding a setup for which the right forum might be our Azure AD Q&A [forum](https://docs.microsoft.com/answers/topics/azure-active-directory.html) where community and service experts could advise and provide the

[2020-04-06 07:43] VijayRod commented on #51672
@aristosvo mentioned command requires Owner.

https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#configure-acr-integration-for-existing-aks-clusters , "require" "Owner or Azure account administrator role on the Azure subscription"

[2020-04-06 07:43] SumanthMarigowda-MSFT commented on #51628
@jeffw-wherethebitsroam Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-06 07:49] aristosvo commented on #51672
`az role assignment list --all`
[code]

[2020-04-06 07:53] SnehaAgrawal-MSFT commented on #51420
@v-tawe Thanks for bringing this to our attention. I have raised the PR and it will merge soon.

[2020-04-06 07:53] #51420 closed

[2020-04-06 08:04] AshokPeddakotla-MSFT commented on #51757
@ElliotWood  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-06 08:07] kszymanski commented on #33157
@mark-szabo I have all of that check boxes checked. And ARM template is throwing me an error:

`
"Invalid value for the identities '/subscriptions/<sub-id>/resourceGroups/wb-all-rg-commons/providers/Microsoft.ManagedIdentity/userAssignedIdentities/wb-application-gateway-identity'. The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource exisiting property.

[2020-04-06 08:10] pemar-MSFT commented on #51632
Hello:

Thank you for your reply. My comment wasn’t so much regarding what the authentication methods are, but to make them explicit for ADLS Gen 1 on the same page where they are explicit for ADLS Gen 1, for consistency.

Thank you,
Pedro

From: KranthiPakala-MSFT <notifications@github.com>
Sent: 3 de abril de 2020 23:38
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Pedro Marti

[2020-04-06 08:12] KrishnaG-MSFT commented on #51556
@andreatmicro I was able to reproduce the issue and looks like the issue is with sudo pip install ansible[azure].
Assigning @TomArcherMsft for visiblity and to help provide insights.

[2020-04-06 08:15] juchom commented on #51638
Hello,

Here is a webapp with docker where I use LinuxFxVersion only:
![image](https://user-images.githubusercontent.com/17902415/78536758-a60ccd00-77ee-11ea-8652-149998a43330.png)

and this appsettings:
![image](https://user-images.githubusercontent.com/17902415/78536898-d6546b80-77ee-11ea-9a0d-c15d488f5ce3.png)

And here is a webapp using both LinuxFxVersion and DOCKER_CUSTOM_IMAGE_NAME:
![image

[2020-04-06 08:17] cloudsavara commented on #37403
Please provide an update, as per earlier update it is supposed to live at the beginning of Q1 in the calendar year 2020

[2020-04-06 08:17] AjayKumar-MSFT commented on #51616
Thanks, Luis. @braco, We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion.

[2020-04-06 08:17] #51616 closed

[2020-04-06 08:17] cloudsavara commented on #37403
Till the time, request you to keep this issue open.

[2020-04-06 08:19] jamesshapiro commented on #49169
Just FYI, I was able to fix this by adding "azure-storage-blob" to my requirements.txt, whereas I had only "azure-storage" in there before.

[2020-04-06 08:21] KrishnaG-MSFT commented on #51630
Checked internally with @Daya-Patil and got to know that @rayne-wiselman is the point of contact w.r.t referred document's content so tagging in @rayne-wiselman for visibility and insights. Thanks.

[2020-04-06 08:21] SnehaAgrawal-MSFT commented on #51219
@XavUnsg Thanks for reaching us. As its mentioned in the prerequisites section to complete this tutorial:
[Install Git](https://git-scm.com/)
[Install .NET Core SDK](https://dotnet.microsoft.com/download)
Could you try downloading .Net Core 3.1 SDK from here and try with further steps.

[2020-04-06 08:21] KrishnaG-MSFT commented on #51630
Related to #51631

[2020-04-06 08:21] KrishnaG-MSFT commented on #51631
Related to #51630

[2020-04-06 08:21] pierluigilenoci commented on #23789
@edemen of course this works only for K8s < 1.15. For K8s 1.16 you need to wait until the official release of the new v2.0 dashboard, I presume.

[2020-04-06 08:28] StefanIvemo opened #51768 "Applicable to Application Gateway?"
Is this workaround applicable to scenarios with Azure Application Gateway as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b33cf5-3747-59b6-29b4-9aa076a6d271
* Version Independent ID: ddd15c52-275e-68e6-513e-07d42292b059
* Content: [Integrate Azure Firewall with Azure Standard Load Balancer](https://docs.micro

[2020-04-06 08:36] KrishnaG-MSFT commented on #51630
@nwipfli Checked internally with the team and got an update that unfortunately we wouldn't comment publicly when a new version will be available. It will be documented when it becomes available. #please-close

[2020-04-06 08:37] jakaruna-MSFT commented on #51738
@StingyJack By default the limit is 100 container groups per region per subscriptions.
i see that you have created a support ticket as well.
Lets wait for the support to get the info

[2020-04-06 08:38] SubhashVasarapu-MSFT commented on #51492
@jhueppauff , Appreciate your patience. Caching rules are available only for Azure CDN Standard from Verizon and Azure CDN Standard from Akamai profiles.
![image](https://user-images.githubusercontent.com/44890829/78538489-b5037780-780e-11ea-8c07-98fbf3fdb3d5.png)
For Azure CDN from Microsoft, you must use the standard rules engine.
![image](https://user-images.githubusercontent.com/44890829/78538

[2020-04-06 08:38] #51492 closed

[2020-04-06 08:41] DixitArora-MSFT commented on #51402
@stefrostik It is taking time in taking response. As it is quite urgent for you, Just checking if you have a support plan and open the support request ? Please do let me know if you don't have.

[2020-04-06 08:41] DixitArora-MSFT commented on #51400
@stefrostik  It is taking time in taking response. As it is quite urgent for you, Just checking if you have a support plan and open the support request ? Please do let me know if you don't have.

[2020-04-06 08:42] jakaruna-MSFT commented on #51738
Once quota is increased, you will be able to provision container groups

[2020-04-06 08:42] aquibqureshi26 opened #51769 "Disable outbound NAT for a load balancing rule | Information needed"
I have queries related to the section “**Disable outbound NAT for a load balancing rule**”

**You’ve Mentioned :** “As stated previously, load balancing rules provide automatic programming of outbound NAT”

**Query :**
**Scenario 1 :** Does it mean if we have inbound rule configured then automatically the reply from the LB will be made by the same public IP of the LB?

If we change that using outb

[2020-04-06 08:44] DixitArora-MSFT commented on #51763
Hi @Thoemmeli Thanks for your feedback. We will review and update as appropriate.

[2020-04-06 08:44] jurjenoskam opened #51770 "Please document whether or not the newGuid() function uses a cryptographically strong random number generator"
The documentation of the newGuid() function does not state whether the random number generator it uses is cryptographically strong or not. Could this be added to the documentation?

If it is cryptographically strong, the newGuid() function is handy to generate passwords for resources requiring one, and would make password rotation as simple as redeploying a template. If it is not, a warning not to

[2020-04-06 08:47] SubhashVasarapu-MSFT commented on #51407
@golfalot , Appreciate your patience. From your Azure DNS zone you can create a DNS record that CNAMEs to any domain, whether it’s of another Azure resource in another subscription, or even outside of Azure. Also, you can add a custom domain name to Azure resources where the custom domain name is a DNS zone (even in another subscription).

[2020-04-06 08:56] felipecruz91 commented on #16061
Any updates?

[2020-04-06 08:57] jhueppauff commented on #51492
Thank you for your reply.
I noticed the hint that the caching rule is only available with Verizon and Akamai and that for Microsoft I have to use the rules engine. But I can’t find any documentation on how this should look like.

[2020-04-06 09:01] 84618315 commented on #50354
we also have this issue but only on Edge, it works fine in Chrome

[2020-04-06 09:01] RohitMungi-MSFT commented on #51765
@mozziemozz Looking at the document history it looks like there was no change to update the list for de-DE. The only change to this section is to recommend using en-US-AriaNeural instead of en-US-JessaNeural. Were you referring to JessaNeural voice?

![image](https://user-images.githubusercontent.com/46958063/78541264-001f8980-7813-11ea-84ef-6e670cd3357a.png)

@IEvangelist Could you please confirm

[2020-04-06 09:04] dcurwin commented on #50541
From @GeethalakshmiG  - "Replace existing is supported only when the source VM exists and throws error during pre-validation before the restore kicks off. As this has not thrown pre validation, this needs support case for investigation from engineer"

[2020-04-06 09:07] carlchan1994 commented on #44030
The document about fstab is not working! It killed my Azure VM and it is unable to connect to the OS disk now!
/<path_to_blobfuse>/mount.sh </path/to/desired/mountpoint> fuse _netdev

[2020-04-06 09:07] OlivierInSumma opened #51772 "Managed Identity"
I think this needs to be here:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500a2c86-b9f9-1e9a-1c22-3579450ba95b
* Version Independent ID: ce872fbb-7707-5ff3-e1f9-aa8c170553cc
* Content: [Securing PaaS Databases in Azure](https://

[2020-04-06 09:17] #51525 closed

[2020-04-06 09:20] benmarriott-TVT opened #51773 "OData fail"
Hi Team.
Looking online, ADF apparently only works with an OData URL with an "odata.svc".
Business Central OData queries don't have this - and the metadata URL is:
"https://api.businesscentral.dynamics.com/v2.0/[redacted]/Production/ODataV4/$metadata"
Whenever trying to connect to this I get:
"Failed to create OData connection to RequestUrl Fail to get metadata of odata service, please check if se

[2020-04-06 09:26] Brinh123 commented on #51105
Hi Saurahbh,

That's perfect, many thanks for taking the time to investigate this for me :)

[2020-04-06 09:26] #51105 closed

[2020-04-06 09:34] Amethi opened #51774 "Broken link"
The link "Configure Identity Federation with the User Store of SAP Cloud Platform Identity Authentication." is broken. SAP have moved their documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e64689-b302-894f-08b4-60e9a037afdb
* Version Independent ID: 1d5e1344-a63b-7592-56f6-d35a78cafcc8
* Content: [Tutori

[2020-04-06 09:37] neeleshray-msft commented on #51758
@jay-tuckey Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-06 09:37] neeleshray-msft commented on #51772
@OlivierInSumma Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-06 09:38] neeleshray-msft commented on #51774
@Amethi Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-06 09:39] rajsshah86 commented on #51661
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview

[2020-04-06 09:39] Arkadiusz2 commented on #44527
After opening a logic app with logic app designer from a visual studio solution, it is not possible to change subscription. Important to know is that logic app designer stores settings in ".suo" file of the solution. So you can either delete the .suo file, but this will remove all your solution settings, or use .suo Structured Storage Viewer (http://www.mitec.cz/ssv.html) to modify them. (1) Open

[2020-04-06 09:45] cybercop opened #51775 "Azure service fabric deployment costs"
My problem is regarding deployment cost, I don't know if this is right place to post this question but i will do it for now.

I wanted to get to know azure service fabric stateless and statefull services. For this i have created a project with 1 stateless reliable service and 1 statefull reliable service in my project. This application calls a third party api and parses data and returns the inform

[2020-04-06 09:53] CMS-seglo commented on #33157
@mark-szabo thank you for your reply, I was able to go over the whole setup again with a fresh set of eyes and found one point, where my configuration differed: The KeyVault Firewall was set to "Private endpoint and selected networks", but with "Allow trusted Microsoft services to bypass this firewall?" set to enabled.
When I allowed "All networks" I could successfully create a https listener in t

[2020-04-06 10:00] PramodValavala-MSFT commented on #51717
@miaojiang @vladvino Could you please share any insights?

[2020-04-06 10:03] RohitMungi-MSFT commented on #51775
@cybercop Thanks for your question. It looks like you have a query regarding our service regarding the cost incurred for your VMs. We would suggest you to post this query in our [Azure Virtual Machines Q&A forum](https://docs.microsoft.com/answers/topics/azure-virtual-machines.html) where the community of experts could help you with finding the right VM size according to your application or use ca

[2020-04-06 10:05] PramodValavala-MSFT commented on #51710
@codemaker The gateway URL will not change when turning on virtual networks but whether it is exposed to the public internet by default depends on the mode that you are changing it to.

In case of the external mode, no further action is required to expose the gateway endpoint.

In case of the internal mode, you will have to both setup the [DNS Records](https://docs.microsoft.com/en-us/azure/api-ma

[2020-04-06 10:09] mark-szabo commented on #33157
@CMS-seglo yup, it's a known issue, tracked here: https://github.com/MicrosoftDocs/azure-docs/issues/48866

[2020-04-06 10:10] KrishnaG-MSFT commented on #37403
Support for Python 3 in AA is work in progress & we are targeting May end as the ETA. Should not go beyond that. Due to COVID 19 & deployment freeze the ETA's have gone ahead.

[2020-04-06 10:13] CMS-seglo commented on #33157
@kszymanski What did you set for the 'certificateSecretUrl'? 'some-id' in your url must be the 'version' of the certificate object in KeyVault. Unfortunately, this neither returned by 'az keyvault certificate list --vault-name ...' nor by 'Get-AzKeyVaultSecret' or 'Get-AzKeyVaultSecret' in Powershell, but is displayed in the  Portal when you look at the certificate in KeyVault.

I had the same mis

[2020-04-06 10:21] dominicbetts commented on #51364
Hi @bamajeed  - thanks for getting in touch. I've updated this article to clarify the section that talks about enabling and disabling rules for devices - the changes should be live shortly. You're quite correct that you can't use the device ID to enable or disable a rule - you have to use one of the properties defined for the device type. If you think this would be useful feature, consider making

[2020-04-06 10:24] cybercop commented on #51775
Thank you. I will close this issue here

[2020-04-06 10:24] #51775 closed

[2020-04-06 10:27] arvind-dhariwal opened #51777 "Missing scenario of hosting SHIR in cloud when source is on-premises"
Hello,

Diagram given under https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime#integration-runtime-types is missing the scenario where SHIR can be hosted in cloud when source is on premises. Is it valid scenario? or do we need to always host SHIR on-premises when either source or sink belongs to on-premises???

Need clarity when where SHIR should be hosted when either

[2020-04-06 10:28] mbratukha commented on #8367
Could anybody provide a bit more clear description of when exactly it is needed to check/unchecked this option?
@MarkusVi, is there some updated docs about it? I couldn't find any...

[2020-04-06 10:32] PramodValavala-MSFT commented on #51708
@TestUser0811 I believe this is the current intended behavior. The secret is fetched when the function first warms up and if the function were to scale down to zero, it will pick the latest secret at the time of warming up again.

@mattchenderson Could you please confirm and share more insights here?

We are assigning this issue to the content author for further review and to update the docs accor

[2020-04-06 10:38] msrini-MSFT commented on #51769
@aquibqureshi26 , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-06 10:45] katatohuk commented on #41790
What does http://0.0.0.0:${PORT:-80} mean ?
Are you referring env variable ?

[2020-04-06 10:48] KalyanChanumolu-MSFT commented on #51508
@SnehaGunda Could you please help here.
As per the [user voice item](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/36979456-using-cassandra-cosmos-indexing-to-improve-queryi), support for secondary indexes in Cassandra is completed.

But the documentation still mentions that the support is planned.

[2020-04-06 10:56] #51407 closed

[2020-04-06 11:03] jakaruna-MSFT commented on #51516
@rockboyfor
I will close this out for now. If you need additional help please open a new issue

[2020-04-06 11:03] #51516 closed

[2020-04-06 11:04] SergGu opened #51779 "Event hub messages for activity logs table missing sign-ins for 100,000 users"
"Event hub messages for activity logs" table is missing an estimate for sign-ins for 100,000 users. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bd6875-8c82-02ff-5b74-86bc9ce5b902
* Version Independent ID: d9d36752-ac83-89b1-e22d-32ba6a41d7e5
* Content: [Azure Active Directory activity logs in Azure

[2020-04-06 11:11] jeroenhabets commented on #37403
@jaspkaur28, @KrishnaG-MSFT any ticket for this implementation you can provide so we can track it directly?

[2020-04-06 11:12] jay-tuckey commented on #51758
Ok, found the correct rule syntax:
`(user.userPrincipalName -match ".*\@example\.email")` - Note the backslash before the @ symbol `\@`

Escaping the @ symbol like that fixes the problem. You can also escape it using a `\u` escape, like this:
`(user.userPrincipalName -match ".*\u0040example\.email")`

It would be great to have some better docs on how this regex is processed. :)

[2020-04-06 11:31] adeel-shahzad commented on #6788
This seems specific to IE and I could see data explorer working on Chrome

[2020-04-06 11:31] msrini-MSFT commented on #51768
@StefanIvemo , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-06 11:43] blueelvis commented on #48896
@BryanTrach-MSFT - We faced this issue where enabling the caching on both the production and the staging slots did not refresh the code on the production slot after a swap. The production slot had to be manually stopped and then started to refresh the cache. Tried this multiple times but still the issue was there. In the end, finally disabled the cache on both the production and the other slots be

[2020-04-06 11:43] sujayvsarma commented on #51761
No, I am asking for the DOCUMENTATION that deals with such aspects. Therefore, this is the right forum.

[2020-04-06 11:44] jakaruna-MSFT commented on #51177
@arvindr9 is there any update

[2020-04-06 11:45] sujayvsarma commented on #49637
It has been a month now with no updates on this. Could you provide some information please?

[2020-04-06 11:49] RohitMungi-MSFT commented on #51761
@sujayvsarma this is the right forum for documentation issues that users have issues. Since you have requested help for a scenario we have requested you to post in the right forum for help from experts. Without a link to the documentation it makes it difficult to assign this issue to the right people for help as this repo covers entire Azure documentation. We hope this clarifies the above response

[2020-04-06 11:50] narasimhareddyjob opened #51781 "Unable to install latest Integration Runtime due to missing old version DataManagementGateway service"
Hi Team,

when we try to install latest version integration run time, setup is trying to uninstall existing data management gateway but the setup failing due to specific version is not available 2.3.6100.2 datamangementservice.msi to uninstall.

Please help here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-

[2020-04-06 11:51] #51456 closed

[2020-04-06 11:56] #51655 closed

[2020-04-06 11:57] erik5starg commented on #51391
How does this behave when you are using mail as the login attribute because your upn is non routable?

[2020-04-06 11:59] VikasPullagura-MSFT commented on #51672
@aristosvo Thanks for responding back with details.

Internal team suggested to open a support case on this issue as this needs live troubleshooting.
Can you please open a support case for this issue? If you already have opened a case please share the SR # with me that way we can track it internally.

If you don't have the ability to open a technical support ticket, you can email me with Subject a

[2020-04-06 11:59] mozziemozz commented on #51765
@RohitMungi-MSFT no, I was referring to "JanaNeural" for Germany (de-DE). Maybe I was too fast since the docs have not been updated yet. Maybe IEvangelist can tell us more.

[2020-04-06 12:01] Fabiest opened #51782 "Notes related to producer in wrong place and missing better explanation for java option"
The notes regarding producer.sh not working with TLS or in Kafka 1.1 should be, in my opinion, in topic "Verification" since there is where it is explained how to do that part.

I also believe the java option should be explained how it can be used and where it is, similar to the .sh option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-04-06 12:02] roofiq commented on #48108
This error happens only when I'm copying database from elastic pool and want to create failover group with ARM template.

[2020-04-06 12:13] roofiq opened #51784 "ARM deploy - copied DB from elastic pools, replication error"
Hello :)

I'm facing some weird Azure behavior.
I have a release pipeline that creates database with failover group.

But I want to use existing database (filled with some data) so I'm copying it to my target resource group. After that I'm running my pipeline with ARM template that configures above.

There is one issue though..when I'm copying standalone database, all the operations are going smoo

[2020-04-06 12:14] manish-95 opened #51785 "Retry Tenant Model Training in case of failure"
I have tried training a speech model using Tenant Model, however the first attempt failed with message 'No public group email data'. I have since added more public groups and email and document data for the same. However, on the Custom Speech portal, there is no option that allows me to try and train the model again. Is there a way to try again after a failed attempt? Refer screenshot below for th

[2020-04-06 12:16] Joepvtilburg opened #51786 "set-adsyncpasswordhashsyncpermissions not working"
Hello,

When running set-adsyncpasswordhashsyncpermissions -adconnectoraccountname 'accountname' -adconnectoraccountdomain 'domainname' i receive the following error:

GrantAclsNoInheritance : De parameter is onjuist.   The command failed to complete successfully.
At C:\Program Files\Microsoft Azure Active Directory Connect\AdSyncConfig\AdSyncConfig.psm1:1637 char:17
+ ...             GrantAclsNoI

[2020-04-06 12:19] vglu opened #51787 "Document examples without link for examples"
Document examples without link for examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d133f522-5f70-76a1-22b3-dbf90606ce7e
* Version Independent ID: d809f541-abdf-5989-aac7-a38aa407d471
* Content: [Import document format guidelines - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogn

[2020-04-06 12:24] shashishailaj commented on #51779
@SergGu Thank you for your feedback . we will investigate and update this further.

[2020-04-06 12:25] shashishailaj commented on #51786
@Joepvtilburg Thank you for your feedback . We will investigate and update the thread .

[2020-04-06 12:40] juanand commented on #51424
Thanks @RyanHill-MSFT,
Unfortunately, my customer refuses to have firewall rules with wildcard destinations.
As per doc, we could block *:12000 without affecting ASE, but we need to provide specific IP addresses for NTP destinations used by ASE. We can provide those found in the lab so far, but we need all other possible used, hopefully in a regularly updated JSON format like other Azure IPs?

Tha

[2020-04-06 12:40] SwathiDhanwada-MSFT commented on #49480
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-04-06 12:40] #49480 closed

[2020-04-06 12:42] RohitMungi-MSFT commented on #51785
@manish-95 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-06 12:47] RohitMungi-MSFT commented on #51787
@vglu Could you please provide more details of the examples your are looking for? There are two links to documents that can be used as examples to create a Kb.

[Product Manuals
](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/reference-document-format-guidelines#product-manuals)[Brochures](https://qnamakerstore.blob.core.windows.net/qnamakerdata/docs/Manage%20Azure%20Blob%20St

[2020-04-06 12:47] v-nagta commented on #47383
@afield1235 we have updated the doc as per your comments please review

#please-close

[2020-04-06 12:47] #47383 closed

[2020-04-06 12:52] SwathiDhanwada-MSFT commented on #51759
@nnamedieh Thanks for your comment. We are actively looking into it and will revert to you shortly.

[2020-04-06 12:55] v-nagta commented on #50861
@LeitchP  Updated the doc as per your comments, please review

[2020-04-06 12:57] shashishailaj commented on #51779
@SergGu The section just below the first table in the section [Event hub messages for activity logs](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-activity-logs-azure-monitor#event-hub-messages-for-activity-logs) with a heading [Azure monitor logs cost considerations](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-activity-lo

[2020-04-06 12:57] KristapsT commented on #50047
Hey, I am experiencing the same issue.
Fresh created AKS cluster with Standard Load Balancer that also then automatically creates Public IP with Standard SKU - I am unable to then use that Public IP address in nginx-ingress with error `PublicIPReferencedByMultipleIPConfigs`

The only place where the Public IP is used is in the mentioned Standard Load Balancer in `
aksOutboundRule`

[2020-04-06 12:58] IEvangelist commented on #51765
Hi @mozziemozz,

I just looked through the last 16 months of file history and I never say a Jana neural voice for `de-DE`, are you certain? In fact, I did a git search on the entire *language-support.md* file for its whole history, and I cannot find Jana at all.

[code]

I also search for `JanaNeural`
[code]

[2020-04-06 12:59] PrasenjitSaha commented on #48360
Hi, I also got same error but when I changed my function version to 2 that problem solved. But for Function App 3 what is the recommended approach?

[2020-04-06 13:01] anandmt commented on #41369
It is actually a Person class defined under Microsoft.Azure.CognitiveServices.Vision.Face.Models namespace, hence instead of CreatedPersonResult use var or Person class object.
for ex:
// Define Anna
            var friend1 = await faceClient.PersonGroupPerson.CreateAsync(
                // Id of the PersonGroup that the person belonged to
                personGroupId,
                // Name of

[2020-04-06 13:03] mozziemozz commented on #51765
Hi @IEvangelist thanks for checking. Yes I am 100% certain. I used this tool which was created by an MVP (Luca Vitali) [https://github.com/LucaVitali/AzureTTSVoiceGeneratorGUI](https://github.com/LucaVitali/AzureTTSVoiceGeneratorGUI) to generate Audio Files with the region westeurope as my endpoint. I have generated several files using the "Jana" Voice on Friday, April 3rd. When I wanted to genera

[2020-04-06 13:04] anandmt commented on #39374
This issue has been fixed in Microsoft.Azure.CognitiveServices.Vision.Face version#2.5.0-preview.1

Thanks.

[2020-04-06 13:04] anandmt commented on #39281
This issue has been fixed in Microsoft.Azure.CognitiveServices.Vision.Face version#2.5.0-preview.1

Thanks.

[2020-04-06 13:09] haroldwongms commented on #49873
Resolved

[2020-04-06 13:12] shashishailaj commented on #51693
@ms-willfid Thank you for catching this. We have initiated a pull request and its under review with the content team . Once verified , it will be merged.

[2020-04-06 13:18] dgilbert101 commented on #40338
Just following back up to see if there a better solution. @axayjo or @mimckitt?

[2020-04-06 13:20] drewdz commented on #44996
Hi all, the script `02-turbofan_deploy_model` is failing for me on the `Create Container Image` step with the following error

`ERROR - Image creation polling reached non-successful terminal state, current state: Failed
Error response from server:
StatusCode: 400
Message: Docker image build failed.`

[2020-04-06 13:22] IEvangelist commented on #51765
This is great information, what region (location) were you using?

[2020-04-06 13:24] mozziemozz commented on #51765
Azure westeurope. I also tried eastus today but I can‘t find the JanaNeural Voice there either.

[2020-04-06 13:24] morteza54dp opened #51789 "missing step press "insert policy" button on top right"
in section "Set the transformation policy" before step 6, mention press on top right "insert policy" button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f650a0b5-a147-ff23-533e-5a5481b3f02e
* Version Independent ID: 5271aa75-8a47-62fd-1e35-d0a23c58a6e2
* Content: [Transform and protect your API with Azure API Manage

[2020-04-06 13:28] Yxider commented on #51640
@SumanthMarigowda-MSFT Now solved: https://github.com/MicrosoftDocs/azure-docs/issues/51566

[2020-04-06 13:29] DirkSonguer opened #51790 "Azure Web App + Node.js + Azure AD = HTTP status 431"
I created a Node.js based web application, running in an Azure Web App, that I wanted to put behind an Azure Active Directory authentication. After activating "App Service Authentication" as described on this page, the login process works normally, however upon returning to my app, it just returns a HTTP 431 "Request Header Fields Too Large".

To validate it's not my app, I checked the Azure web a

[2020-04-06 13:30] IEvangelist commented on #51765
Do you have the voice listed locally on your machine, are you on a Windows PC? If so, look to see if the voice is locally available.

- Press the <kbd>Windows key</kbd>
- Search for **Narrator voice**
- Look at the available voices on your machine

![image](https://user-images.githubusercontent.com/7679720/78563125-16f8b880-77e0-11ea-9cb7-f52b9d000821.png)

Is the Jana voice listed? It looks like

[2020-04-06 13:40] CHEEKATLAPRADEEP-MSFT commented on #51782
@Fabiest  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-06 13:44] SergGu commented on #51779
Not sure if we are on the same "page".

The table "Storage size for activity logs" has 4 rows:
Audit | 100,000
Audit | 1,000
Sign-ins | 100,000
Sign-ins | 1,000

The table "Event hub messages for activity logs" only has 3 rows:
Audit | 100,000
Audit | 1,000
Sign-ins | 1,000

I was expecting to see an estimate for Sign-ins | 100,000

Thanks!

[2020-04-06 13:46] KalyanChanumolu-MSFT commented on #51725
@danmi20 Thank you for reaching out to us.
The instructions on the page are still relevant to customers using MongoDB version 3.2 with Compass.
We will update the documentation to call out the version compatibility

[2020-04-06 13:50] DirkSonguer commented on #51790
Quick update: I now did a clean run of the "Create a Node.js app in Azure" page (https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-nodejs), which worked *without* authentication.

After activating AAD authentication as described, this app also returns a 431 error.

[2020-04-06 13:52] darrens280 commented on #50961
Hi. I already have the empty features block, as per the below, but I continue to receive the error when running terraform plan:

provider "azurerm" {
  features {}
  version = ">=2.0.0"
}

I have also tried pinning version to 2.0.0, 2.1.0, 2.2.0, 2.3.0, 2.4.0, but still get same error every time

**Error: "features": required field is not set**

Any advice would be appreciated. Thank you

[2020-04-06 13:59] KalyanChanumolu-MSFT commented on #51725
@LuisBosquez I have submitted a PR to call out the version compatibility.

[2020-04-06 14:01] kszymanski commented on #33157
It is obfuscated here. I'm setting an id from portal, I've tried both Certificate Identifier and Secret Identifier no luck in both cases. Also as mentioned even setting certificate with raw data and password (totally removed Key Vault references) is not changing anything still same error. So I think it might be a problem with Identity assignment rather than key vault cert URL.

[2020-04-06 14:10] #51437 closed

[2020-04-06 14:16] sujayvsarma commented on #51761
Which is why I specifically tagged @MarileeTurscak-MSFT  in my question. She helped on a related issue just two days ago. Why did you pick it up!!!

[2020-04-06 14:18] sujayvsarma commented on #51761
Feedback for @RohitMungi-MSFT :

Also, since it is "one microsoft" and all, the "forum" should not matter. That should be the least of your worries. You are behaving like an Ops team, and yet you are not an Ops team. You are supposed to be "customer focussed", instead, you are "forum obsessed." That is NOT the right way to go. You are team, handling one product (in this instance, that being "azure

[2020-04-06 14:19] mathieu-benoit commented on #51672
Which Azure CLI version do you have? Looks like [2.3.1](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.3.1) got the implementation for `--attach-acr` with a cluster which has `--enable-managed-identity`?

[2020-04-06 14:20] vglu commented on #51787
@RohitMungi-MSFT Last line on this document "**Document examples**" not linked with anything.
If this button - why I cant click it, if this table - why this table from one single element, if this header - where description ....

[2020-04-06 14:23] DevonAleshire commented on #50961
@darrens280 azurerm > 2.0 should simply need the empty features block as noted. If you are putting in a version make sure you are using the _pessimistic constraint operator_ (~>) correctly (Noted here: [Terraform azurerm learning](https://learn.hashicorp.com/terraform/azure/configure_az#providers)) or setting the version to a specific version using = as noted in the [terraform azurerm docs](https:

[2020-04-06 14:23] MGoedtel commented on #15122
The heartbeat record is not managed by a scheduled task on Windows, it is core to the agent and a workflow is actively running to send the heartbeat record from the agent every minute to the service. To troubleshoot this, you can start by reviewing the Extension troubleshooting article to verify it installed correctly. If you've confirmed it has, then you should review the [Windows agent troublesh

[2020-04-06 14:44] 84618315 opened #51791 "v1.2.0 white page on IE(v11)"
with layout page version 1.2.0 (&lt;DataUri&gt;urn:com:microsoft:aad:b2c:elements:contract:selfasserted:1.2.0&lt;/DataUri&gt;)
in IE v11 it will throw an error : SCRIPT1014 'invalid character ' authorize (8373,95766).
everything works fine on layout page version 1.1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c427

[2020-04-06 14:52] sweetmoniker commented on #40062
Apologies for the delay. I'm not sure why this issue was closed. It appears exactly as it did when I originally posted. In the Get file content step the only dynamic content available are "List of" options. Unless I am missing something, there is no way to obtain "File Content" from the ftp in the logic app using "when a file is added or modified (properties only)."

[2020-04-06 14:54] darrens280 commented on #50961
Hi. Thank you for the reply @DevonAleshire . Yes, with each attempt of pinning the version, I would use the syntax version = "=2.0.0"; "=2.1.0"; "=2.2.0"; "=2.3.0"; "=2.4.0", and each time deleting the .terraform directory, and doing a fresh init, and plan each time.

Normally I've been using ">=2.0.0" ever since the 2.0 AzureRm Provider got released, and I originally added the features block with

[2020-04-06 14:59] RohitMungi-MSFT commented on #51787
@vglu Apologies for missing that earlier and thanks for pointing this out.
@diberry Are we missing any content here?

![image](https://user-images.githubusercontent.com/46958063/78572548-3fff6480-7845-11ea-9ce7-4ba78d5c03ff.png)

[2020-04-06 15:06] markjbrown commented on #51766
Storage quota's remain the same.

Thanks.

#please-close

[2020-04-06 15:06] #51766 closed

[2020-04-06 15:06] vglu commented on #51787
@RohitMungi-MSFT np, have a good day

[2020-04-06 15:09] markjbrown commented on #51508
Please assign to @TheovanKraay

Update is in progress on this to clarify.

Thanks.

[2020-04-06 15:17] gaikovoi commented on #51594
I've posted the details here - https://blog.gaikovoi.dev/2020/04/azure-application-gateway-http-headers.html

[2020-04-06 15:18] yoyotam commented on #50642
Hi
after the first line of "targetCPUUtilizationPercentage: 50 # target CPU utilization".
ctrl+f in the doc

[2020-04-06 15:20] aristosvo commented on #51672
azure-cli version was [2.2.0](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.2.0), I updated it just a few minutes ago to [2.3.1](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.3.1) and it's working.

Thanks @mathieu-benoit !

[2020-04-06 15:20] MGoedtel commented on #51577
While it is performing the same checks as the online version, I can make sure this is clear in the article. I also need to update this article as there are new checks introduced that aren't covered.  I have a work item for this and will make sure this is completed in this sprint or the next sprint.

Thanks!  #please-close

[2020-04-06 15:20] #51577 closed

[2020-04-06 15:20] Rvvhub opened #51792 "Windows 7, really?"
Sort of awkward that this high-security topic still allows for Windows 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0157378-8843-f6e1-3838-41a63450bc10
* Version Independent ID: a4defdb9-9111-0c7e-f004-6dc5c130c682
* Content: [How to generate and transfer HSM-protected keys for Azure Key Vault - Azure Key Vault](

[2020-04-06 15:21] aristosvo commented on #51672
@CeciAc It can be closed, as updating to [2.3.1](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.3.1) solved the issue.

Thanks!

[2020-04-06 15:25] likebupt commented on #47478
@pbartos  Do you mean the regenerate output checkbox? It should by default use the previous generated results. Could you please clarify more details about your scenario?

[2020-04-06 15:26] LeonardoFelippine commented on #51254
Hello, Shashishailaj.

Thank you for the detailed reply. I was able to understand why it is unsupported.

Regards.

[2020-04-06 15:26] SubhashVasarapu-MSFT commented on #51510
@Chai-NED , Appreciate your patience. There is no algorithm here in selection of IP's by Vnet NAT. It will choose IP on its own  by design.
We want to know how we can improve the service. Propose and vote on what we should build next at [UserVoice for NAT](https://aka.ms/natuservoice).
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will

[2020-04-06 15:26] #51510 closed

[2020-04-06 15:29] NeighborGeek opened #51793 "krbtgt_AzureAD account fails to export to azuread via aadconnect, due to "permissions-issue""
I'm not sure if there's something missing from the documentation or if this is just something specific to our enviornment, but after following the process to create the Kerberos server object, I am getting errors in the sync manager of aadconnect.  The sync appears to be trying to add an msDS-ExternalDirectoryObjectID attribute to the krbtgt_AzureAD account, and fails with a "permissions-issue" er

[2020-04-06 15:32] cooperwolfesmithtech opened #51794 "ExpressRoute appears to be supported by the Distcp tool"
In the first image in the Solution architecture section, the image says "Internet (HTTPS) or ExpressRoute private peering," but the copy engine is Distcp, which from my understanding does not support ExpressRoute private peering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92cbf9a6-535c-2adf-17fe-63be42255e1a
* Vers

[2020-04-06 15:33] sokiable opened #51795 "Nested lists"
I tried to implement a nested list by example and found that it does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1ba3c8-db60-fcd0-7bff-2801091ca0cb
* Version Independent ID: 01991ce1-d2db-3c90-3d04-ac0895b4ff55
* Content: [Markdown format - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com

[2020-04-06 15:33] christiankuhtz opened #51796 "not mentioned in overview"
this concept isn't mentioned or referred to in the overview.  it's undiscoverable unless ones digs through the toc several layers deep.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for Azure

[2020-04-06 15:39] mathieu-benoit commented on #51672
@Karishma-Tiwari-MSFT @VikasPullagura-MSFT  @VijayRod, do you think a note on that doc about having the Azure CLI 2.3.1 when using an AKS cluster with Managed Identity could make sense?

[2020-04-06 15:40] ChristianMontoya commented on #51338
@townendk : Unfortunately, no, there is not a specific registry key to enable the multi-session capabilities. If you would like to use the benefits from Windows 10 Enterprise multi-session, you will need to create a new image from it.

[2020-04-06 15:41] sokiable commented on #51795
Specifically does not work Example markdown (incorrectly displayed) but the Format works.

[2020-04-06 15:44] jluk commented on #51672
Agree on the doc update cc @mlearned

[2020-04-06 15:45] bajumar opened #51797 "A simple Standard v1 vs v2 vs WAF v1 and v2 comparison table would ne nice."
Just want to make decision based on requirements but this documentation does not make it easy to figure this out. Also, putting the Autoscaling SKU docs on a different page that is not even linked to this one add further confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f75e973-f682-8e41-0a5b-87d9b8563662
* Ve

[2020-04-06 15:47] mimaayan opened #51798 "listen to event hub constantly"
What is the recommended way to listen to event hub constantly ?
Is it by Task.Delay or something similar?

https://docs.microsoft.com/en-us/azure/event-hubs/get-started-dotnet-standard-send-v2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906c5c40-2451-beb8-1859-de648af134dc
* Version Independent ID: 3cce140c-2d2c-60b

[2020-04-06 15:50] BharathNimmala-MSFT commented on #51770
@jurjenoskam Thank you for your feedback, assigning this issue to our document author @mumian to further evaluate the feedback and update the document accordingly.

[2020-04-06 15:52] BharathNimmala-MSFT commented on #51764
@rich-davies Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-06 15:55] SnehaAgrawal-MSFT commented on #51493
@vladik-hbinov @boarnoah Thanks for the valuable feedback! I have created PR it will merge soon.

[2020-04-06 15:55] #51493 closed

[2020-04-06 15:57] sokiable commented on #51795
Understood, this format does not work if the bot is deployed for Telegram.

Is there any other option for forming a nested list so that it works for the mentioned channel?

[2020-04-06 15:59] #51709 closed

[2020-04-06 16:04] SMazu opened #51799 "Spark DataSet v/s DataFrame Performance"
For the DataFrame API you mention:
Whole-stage code generation.
Direct memory access.
Low garbage collection (GC) overhead.

As compared to the above for DataSet:
Not good in aggregations where the performance impact can be considerable.
Adds serialization/deserialization overhead.
High GC overhead.
Breaks whole-stage code generation.

Could you please provide some more documentation about Whole-s

[2020-04-06 16:11] levi106 opened #51800 "Cannot connect by module name"
When I tried to connect to a blob storage module, I got the following error:

---
Azure.RequestFailedException: Server failed to authenticate the request. Make sure the value of Authorization header is
formed correctly including the signature.
RequestId:13d2ca2e-8be7-41fa-9f1d-f4a9d2f5bf02
Time:2020-04-06T15:51:05.9726238Z
Status: 403 (Server failed to authenticate the request. Make sure the value

[2020-04-06 16:14] SaurabhSharma-MSFT commented on #51792
@Rvvhub Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-06 16:15] SaurabhSharma-MSFT commented on #51793
@NeighborGeek Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-06 16:16] SaurabhSharma-MSFT commented on #51791
@84618315 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-06 16:16] BeMor81 opened #51801 "How do you map one path to another"
So how do you map a different path from the frontend to the backend? So apimurl/foo from someotherapi/reallylongpath/withmore ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c254cd61-0ff3-bd87-f088-6f9916e056c6
* Version Independent ID: 1426c1ee-1979-f58c-8276-2afe8e6600b5
* Content: [Add an API manually using the Azu

[2020-04-06 16:17] iainfoulds commented on #50442
Per the engineering team:

Doc is being updated to clarify this.

[2020-04-06 16:20] cynthn commented on #49190
@Karishma-Tiwari-MSFT Can you assign this to someone from engineering that works on nested virtualization? Thanks!

[2020-04-06 16:24] gokul2018 opened #51802 "Can we use a NVA or Azure firewall to monitor traffic and block websites on Windows virutal desktop setup?"
Team,

We have deployed a WVD setup recently. Before putting it to use, customer wants to harden the security even more.

they wish to place a Sophos or sonicwall firewall in front of the WVD setup or use some firewall to monitor the web activity. Also to block certain websites when the user is connected to the WVD host.

Is that possible? is it even required to place a firewall ahead of WVD? ther

[2020-04-06 16:24] krnese commented on #50986
@wadstromdev, I notice you have a '.' after .json in the TemplateParameterUri. Can you remove it and try again?

[2020-04-06 16:30] zingledot commented on #15122
Thank you, I appreciate the follow-up. I have sifted through these articles and ended up where you said, with the connectivity test tool, and still cannot get the agent to communicate, even though the Connection Troubleshoot tool in Azure says the communication on 443 is green. Ended up submitting a support ticket and if there is something I think might be publicly useful I'll post it here in case

[2020-04-06 16:31] #50442 closed

[2020-04-06 16:31] tfitzmac commented on #51770
@jurjenoskam - thanks for this feedback. I am researching it. In general, I do not think GUIDs are cryptographically strong.

[2020-04-06 16:41] Grace-MacJones-MSFT commented on #51790
Hi @DirkSonguer, thank you for the detailed question! We are currently investigating and will update you when we have accurate information to provide.

[2020-04-06 16:44] iainfoulds commented on #51569
Sorry for the confusion. The password policy doc is correct. All users in Azure AD DS are affected, though there are still a couple of differences for users created directly in Azure AD DS - https://docs.microsoft.com/en-us/azure/active-directory-domain-services/password-policy#default-password-policy-settings

The key part is that users are only affected by password policy within the Azure AD DS

[2020-04-06 16:44] NeighborGeek commented on #51793
In my case, I show the krbtgt_azuread account security settings have no permissions granted to the MSOL or AAD accounts used by AADConnect.  After granting write permissions to the MSOL account, the export was able to complete successfully.  I suspect that other permissions may be required though, so please do still check into whether these should have been added automatically or need to be added

[2020-04-06 16:47] ajlam commented on #50552
Hi @rhuanbarreto, were you able to test with the server provided?

[2020-04-06 16:47] SaurabhSharma-MSFT commented on #51454
@netw0rks Did you get a chance to look into your AzureADPreview version ?

[2020-04-06 16:52] vbatr opened #51804 "User cannot request admin approval after feature is enabled"
Hi,
I've enabled admin request workflow to the tenant, so users should be able to request admin consent to app.
After user is calling admin consent by openening https://login.microsoftonline.com/{tenantId}/adminconsent?client_id={application_id}&redirect_uri={redirect_uri}, where  application_is is the id of the enterprise application in my tenant, the user still can see the consent without a requ

[2020-04-06 16:53] wadstromdev commented on #50986
@krnese that's just a typo in the example, I'm running it without the dot after .json.

[2020-04-06 16:54] #51569 closed

[2020-04-06 16:56] levi106 opened #51805 "Failed to list blobs with .NET"
list blobs using .NET SDK v12 will cause the following errors:

System.FormatException: String '' was not recognized as a valid DateTime.
   at System.DateTimeParse.Parse(ReadOnlySpan`1 s, DateTimeFormatInfo dtfi, DateTimeStyles styles, TimeSpan& offset)
   at System.DateTimeOffset.Parse(String input, IFormatProvider formatProvider, DateTimeStyles styles)
   at System.DateTimeOffset.Parse(String i

[2020-04-06 16:57] CeciAc opened #51806 "Add section for CBA on macOS"
@identityiskey commented on [Sat Apr 04 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/641)

Certificate Based Authentication on macOS works as well - I recommend to add a section here:
a) The Certificate needs to have a "Client Authentication" E.K.U and contains the UPN of the user in the Subject Alternative Name "NT Principal Name"
b) ADFS server with activated "Certificate Authe

[2020-04-06 16:57] MattHartz commented on #51296
@banisadr @DixitArora-MSFT I am doing the follow

1. Returning 200
2. Returning {  "validationResponse": "<validationCode>" }
3. Responding in < 1 second.

What else am i missing from your documentation?

[2020-04-06 16:57] SubhashVasarapu-MSFT commented on #51540
@erndob , Appreciate your patience. Yes, Azure WAF on Azure CDN supports only Microsoft profiles for now. The doc is being updated accordingly with the necessary note and would take some time for the edits to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-06 16:57] #51540 closed

[2020-04-06 16:59] Cephei commented on #51508
The aim of my question was not focused on secondary indexing  in Cassandra. I understand some users will want that feature. But how does Cassandra index currently? As best as I can tell, it seems to function like Apache Cassandra; if I try a query filter on a non partition key or cluster key, it breaks.

If that's the case, it might be helpful to be more explicit in the documentation: "No, Cassand

[2020-04-06 17:09] himanshusinha-msft commented on #51773
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-06 17:10] CeciAc opened #51807 "New "Microsoft Office" app"
@identityiskey commented on [Sat Apr 04 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/640)

Please add that also the new "Microsoft Office" app is supported for Certificate Based Authentication. Works perfect on iOS!

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: c10a5c

[2020-04-06 17:12] himanshusinha-msft commented on #51777
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-06 17:15] himanshusinha-msft commented on #51794
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-06 17:16] Mike-Ubezzi-MSFT commented on #51766
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-06 17:16] himanshusinha-msft commented on #51799
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-06 17:17] ecfan commented on #40062
The topic was updated to show that you now have to use the **Get file metadata** action in between the **When a file is added or modified (properties only)** trigger and the **Get file content** action. In the **Get file content** action, you reference the file through the **Id** property. And then finally, in the **Send an email (V2)** action, you can reference the **File Content** property.

[2020-04-06 17:18] RyanHill-MSFT commented on #51424
@ccompy is there a service tag that covers addresses used for NTP that @juanand and their customer can use?

[2020-04-06 17:23] vbrinza commented on #35932
an interim solution is to provision the AKS Cluster, then query it to find out the fqdn of the provisioned API Server and add the rule into the firewall.

[2020-04-06 17:24] AshokPeddakotla-MSFT commented on #51712
@neerajks77  Seems like a step was missed. The iot extension is needed for this command set to work:

"Run the following command to add the Microsoft Azure IoT Extension for Azure CLI to your Cloud Shell instance. The IOT Extension adds IoT Hub, IoT Edge, and IoT Device Provisioning Service (DPS) specific commands to Azure CLI.

`az extension add --name azure-iot`

Also, please make sure to remove

[2020-04-06 17:24] theheatDK opened #51808 "169.254.169.254 and 168.63.129.16 protocol and ports?"
Hi,
NSG's must allow traffic to and from 169.254.169.254 and 168.63.129.16.
But which ports and protocols?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0995aacb-a06b-2f6a-265d-09b1ebc09379
* Version Independent ID: 64cb47f8-df56-2400-9be1-f56d29fa0350
* Content: [Manage packet captures - Azure portal -

[2020-04-06 17:25] vbrinza commented on #35932
the command:
az aks show -g rgName -n k8sName --query fqdn -otsv

[2020-04-06 17:31] MGoedtel commented on #51740
Confirmed group deployment is being deprecated and I'll create a task to update the article this sprint to avoid other customers from running into this.  Thanks for bringing this to our attention.  #please-close

[2020-04-06 17:31] #51740 closed

[2020-04-06 17:35] bandersmsft commented on #51735
@v-pethur Yes, you're correct. Single resource group needs to be documented. I'll update the article shortly. BTW, https://docs.microsoft.com/azure/cost-management-billing/reservations/prepare-buy-reservation does mention Single Resource Group..

[2020-04-06 17:37] Breaker119 commented on #49459
Same here - following. I may just have to attempt to proceed without the wizard...

[2020-04-06 17:38] AshokPeddakotla-MSFT commented on #51723
@BucurCosmin Can you elaborate your issue bit more to understand better?

[2020-04-06 17:40] Grace-MacJones-MSFT commented on #51651
Thanks for the detailed question @hypertrends. To clarify are you asking how to auto-start the Live event using the SDK?

[2020-04-06 17:42] BucurCosmin commented on #51723
when I'm settting a route to a storage with JSON settings, in the blob data I see a lot of info but not actual data sent.
when I'm settting a route to a storage with AVRO settings, in the blob data I see the actual data sent.

[2020-04-06 17:43] gorillapower commented on #51766
Hi @Mike-Ubezzi-MSFT,

We were just a but uncertain of what the autopilot limits pertain to. I guess we could word it another way, would we still hit the logical 20Gb partition limit if we had autopilot on?

Is it correct that autopilot scales the overall container capacity RU/s and overall storage limits across a container but the logical partition limit remains still at 20Gb?

It's not clear if

[2020-04-06 17:44] Karishma-Tiwari-MSFT commented on #51457
@iozee While the example might no show an exact way of doing it, the SDK allows for it.
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/containerinstance/mgmt-v2018_10_01

Here's a Java example on how to attach multiple VolumeMounts:

https://github.com/Azure/azure-sdk-for-java/blob/057d7b91b5ec3981a6a4ab0d92eeadcc7ce35f24/sdk/management/azure/src/test/java/com/azure/management/TestCon

[2020-04-06 17:50] Karishma-Tiwari-MSFT commented on #51743
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-06 17:50] #51743 closed

[2020-04-06 17:52] Karishma-Tiwari-MSFT commented on #51648
Is there something in any specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.
Please share the link to the azure doc that you are following and seeing issues.

[2020-04-06 17:53] MicrosoftGuyJFlo commented on #51168
@naqash11 it depends on the risk type. The article [What is risk?](https://docs.microsoft.com/azure/active-directory/identity-protection/concept-identity-protection-risks#risk-types-and-detection) covers when detection happens for each type of risk. Some are real-time others require offline processing of data.

[2020-04-06 17:55] bandersmsft commented on #51735
@v-pethur Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/110386.
#please-close

[2020-04-06 17:55] #51735 closed

[2020-04-06 17:55] Chai-NED opened #51810 "Diag setting for storage account?"
"if you need to retain data for a longer period of time, you can archive metrics data to an Azure Storage account. This is configured in diagnostic settings in Azure Monitor."

My Azure monitor does not show any of my existing storage accounts. What am I missing? Could you include a screenshot in the doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-04-06 17:57] Karishma-Tiwari-MSFT commented on #49873
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-06 17:57] #49873 closed

[2020-04-06 17:58] jurjenoskam commented on #51770
@tfitzmac - Thanks for looking into this! It is certainly correct that you can't *in general* say that GUIDs are cryptographically strong, but the GUIDs as generated by the newGuid() function are so-called "version 4" GUIDs, which the standard describes as "randomly generated". It then depends on the random number generator whether the randomness in the generated GUID is cryptographically strong o

[2020-04-06 18:01] silverl commented on #40132
@TravisCragg-MSFT Any whiff this will get attention anytime soon? Thanks.

[2020-04-06 18:02] Karishma-Tiwari-MSFT commented on #51338
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-06 18:02] #51338 closed

[2020-04-06 18:07] #49843 closed

[2020-04-06 18:10] Grace-MacJones-MSFT commented on #51499
@jayeshshingote92 are you seeing any specific error messages when using those two methods?

[2020-04-06 18:11] narasimhareddyjob opened #51811 "Not able to restore all Slots at once."
Hi Team,

I have a app service with two slots and deleted incidentally. When I restore the app service using below command, app service is restored with only I slot.

Restore-AzDeletedWebApp -ResourceGroupName '&lt;&lt;RG Name&gt;&gt;' -Name '&lt;&lt;AppName"&gt;&gt; -TargetAppServicePlanName '&lt;&lt;AppServicePlanName&gt;&gt;'

How to restore another slot in the same app? Can't we restore the al

[2020-04-06 18:12] hypertrends commented on #51651
Hello,
Thanks for your response. I don't think that is what I was saying. Hopefully this clarifies:

1. Currently, the SDK will NOT return Ingest and Preview URLs until the Live Stream is actually started. The code in the documentation assumes that the Live stream will be "started" immediately, which may not be the case.

2. Many of our customers would ideally like to "Create" the live streams upf

[2020-04-06 18:13] SubhashVasarapu-MSFT commented on #51353
@haymansfield , Appreciate you patience. we have assigned this question to the content author for better insights.

[2020-04-06 18:16] Karishma-Tiwari-MSFT commented on #51662
Is there any update? Please share the link to the doc you are following.

[2020-04-06 18:16] Karishma-Tiwari-MSFT commented on #51682
Is there any update? Please share the link to the doc you are following.

[2020-04-06 18:16] Karishma-Tiwari-MSFT commented on #51690
Is there any update? Please share the link to the doc you are following.

[2020-04-06 18:16] Karishma-Tiwari-MSFT commented on #51702
Is there any update? Please share the link to the doc you are following.

[2020-04-06 18:21] Grace-MacJones-MSFT commented on #51415
Hello @maxal1917, thanks for you patience. From my understanding based on the [document](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub):

When a device receives a remote notification, iOS calls the `ReceivedRemoteNotification` method. Incoming message JSON is converted into an `NSDictionary` object, and the `ProcessNotification` method **ex

[2020-04-06 18:23] SnehaGunda commented on #51508
@TheovanKraay Can you please take a look at the feedback in this thread.

[2020-04-06 18:26] steve19922 commented on #51662
Hey Karishma, here is the link for the documentation: https://docs.microsoft.com/en-us/powershell/module/az.sql/get-azsqldatabaseadvancedthreatprotectionsetting?view=azps-3.7.0

For the feature-request I mentioned, there is no documentation yet as this doesn't exist: Get-AzManagedInstanceAdvancedThreatProtectionSetting

[2020-04-06 18:34] Grace-MacJones-MSFT commented on #51651
Ah I see. Thank you for the clarification! I will take this feedback to our engineering team internally so they can verify the workaround before updating the documentation.

[2020-04-06 18:36] Fabiest opened #51812 "Unable to setup 2 way SSL for any case"
For the last days I've been trying to setup the example in this documentation, but whenever i try the producer and consumer on port 9093 I always get SSL handshake error.

Somethings are not clear:
 - for kafka 2.1, the producer command uses file X but I never see instructions for that file to be created on head node 1.
 - It is not clear in which machine the producer and consumer should be execut

[2020-04-06 18:39] narasimhareddyjob commented on #51781
Okay, Thanks

[2020-04-06 18:42] Fabiest opened #51813 "Extra step on Ambari Configuration"
Step 6 of https://docs.microsoft.com/en-us/azure/hdinsight/kafka/apache-kafka-ssl-encryption-authentication#update-kafka-configuration-to-use-tls-and-restart-brokers should not exists and in fact step 7 should be the action.

At least for HDI 4.0, if you anything on the server.properties, it will get undone on broker restart.
Note: If you do the kafka env template for HDI 4.0, the server.propertie

[2020-04-06 18:49] SubhashVasarapu-MSFT commented on #51808
@theheatDK , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-06 18:49] SnehaGunda commented on #51782
Please assign this to @dagiro

[2020-04-06 18:50] SnehaGunda commented on #51799
@himanshusinha-msft Please assign this to @dagiro

[2020-04-06 18:51] sweetmoniker commented on #40062
I follow. My apologies. That extra "Get file metadata" step is key. This appears to be working.

[2020-04-06 18:51] SnehaGunda commented on #51812
Please assign this issue to @dagiro

[2020-04-06 18:51] SnehaGunda commented on #51813
Please assign this issue to @dagiro

[2020-04-06 19:01] markpaley opened #51814 "Value 'func.Out' is unsubscriptable error when running output binding code"
I hit the error, and pylint provided:  Value 'funct.Out' is unsubscrfiptable  on the line def main(req: func.HttpRequest, msg: func.Out[func.QueueMessage]) -&gt; str:

It seems like it should be, accoridng to the definition of func.Out, but I am new to Python and having some difficulty figuring out why I am getting this error.

I've been succesful with all the previous steps.

---
#### Document De

[2020-04-06 19:02] mike-urnun-msft commented on #51762
@GiriB Thank you for your feedback! We will review and update as appropriate.

[2020-04-06 19:12] bowlerma commented on #49988
I was curious about this too, and was wondering whether there was an update.  It essentially means that when deploying a new application that requires access to a service via a service endpoint, you have no idea when it will be usable.

[2020-04-06 19:14] diberry commented on #51787
Thank you for reporting it. Will have a fix published today. #please-close

[2020-04-06 19:14] #51787 closed

[2020-04-06 19:14] mgblythe commented on #50655
Update will go live today.

[2020-04-06 19:15] mgblythe commented on #50655
#please-close

[2020-04-06 19:15] #50655 closed

[2020-04-06 19:15] TheovanKraay commented on #51508
@Cephei thanks for the feedback. Indeed, Cassandra does not index all attributes by default and endeavours to behave in the same way as native Apache Cassandra. We are creating a new documentation which will take your comments into account. Thanks again.

[2020-04-06 19:24] maxal1917 commented on #51415
I understand that, but this is not what my comment was about.

[2020-04-06 19:28] vladvino commented on #51717
I believe we support 1.0 and 2.0. Is there a specific issue you are running into @bdbvb?

[2020-04-06 19:31] bdbvb commented on #51717
@vladvino No particular issue. Was just wanting to know whether there were any restrictions on functionality based on version. This answers my question. Thanks!

[2020-04-06 19:32] hansmbakker commented on #49385
Thank you for the feedback @lyrana!

[2020-04-06 19:33] #51717 closed

[2020-04-06 19:36] Cephei commented on #51508
Happy to help. I think it just depends how someone comes to learn Cosmos. e.g. if they come from SQL first, they may learn that indexing occurs on every attribute by default and you may define policies to exclude meta. Then begin learning about Mongo / Cassandra and may assume similar features apply.

[2020-04-06 19:40] brucedkyle opened #51816 "JIT using ARM Template"
What is the guidance to enable JIT access to a VM using an ARM template? (I'm looking for "JIT VM access via ARM" example. Many thanks for your thoughts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just-in

[2020-04-06 19:41] devlife opened #51817 "How can we apply the custom rules to an existing WAF/policy?"
Can we get an example of how to apply to rule(s) to an existing WAF/policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f37e9d2-9044-93ba-8ce5-cd9cc3dc64fc
* Version Independent ID: 4c03470f-1e5e-62d1-fbf2-4386e3712fe6
* Content: [Create and use v2 custom rules - Azure Web Application Firewall](https://docs.microso

[2020-04-06 19:41] babukumarg opened #51818 "Password Reset and Logout"
Following along the example, I'm able to successfully test the user login feature. But, I'm stuck with Logout.

When I click on the logout button, I get a 404 error. I believe the test application is redirecting to

https://login.microsoftonline.com/te/&lt;tenant_name&gt;.onmicrosoft.com/&lt;policy_name&gt;/samlp/sso/logout =&gt; 404

instead of

https://&lt;tenant_name&gt;.b2clogin.com/&lt;tenant

[2020-04-06 19:52] ROSMITHJ-MSFT opened #51819 "Clarification Request"
Hello~

This statement is a bit unclear to me;

"A modified alert rule resource URI containing the IDs used in the legacy Log Analytics Alert API instead of the alert rule name in this structure &lt;WorkspaceName&gt;|&lt;savedSearchId&gt;|&lt;scheduleId&gt;|&lt;ActionId&gt;. Display name of the alert rule will remain unchanged."

Is that statement saying that the resource URI format for the new al

[2020-04-06 19:55] berndverst commented on #49186
@juchom should be just like this -- no need to specify username and password etc

[code]

[2020-04-06 20:00] orspod commented on #51696
@Mike-Ubezzi-MSFT thanks for your assistance. Doc will be updated accordingly. #please-close this issue.

[2020-04-06 20:00] #51696 closed

[2020-04-06 20:02] djpmsft commented on #51554
This looks like this may be better handled as part of a support case. Would it be possible to open it there?

Otherwise could you provide the trace correlation id, or at the very least the trigger name, factory name, region, and approximate time when the timeout occurred

cc @KranthiPakala-MSFT

[2020-04-06 20:12] bdegs opened #51820 "Clarification on Soft-Delete"
The only section where it states that if a workspace was previously soft-deleted that you need to recover the workspace in order to force delete it is under the troubleshooting section (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace#troubleshooting). Would we be able to place a section towards the top of the page stating something like:
"If your workspace was delete

[2020-04-06 20:13] CeciAc opened #51821 "Quotation marks when setting environment variables"
The comments below were machine-translated

@shosokawa118 commented on [Thu Apr 02 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4324)

About hosting a web app in App Service {3. Application setting of environment variables}:
It says "Do not enclose the value in quotation marks", but it seems that if you follow the instructions, the IotHubConnectionString will be split at each sem

[2020-04-06 20:14] cap273 opened #51822 "Include Examples for Linux or Specify that this is only for Windows"
This documentation includes the following in its example of a docker run command:
--mount type=bind,source=c:\input,target=/input  \
--mount type=bind,source=c:\output,target=/output \

Clearly these mounts apply only to Windows. It would be nice to have a simple copy-pastable example for Linux as well. Either that, or explicitly state that this applies only to Windows.

---
#### Document Details

[2020-04-06 20:19] katherinakryvenko opened #51823 "Correction of code in section "Sentiment analysis" for Python 3.7"
For the Python version 3.7 the code presented in the section "Sentiment analysis" needs the following correction (due to object AnalyzeSentimentResult no longer having parameters confidence_scores and grapheme_length):

def sentiment_analysis_example(client):

    document = ["I had the best day of my life. I wish you were there with me."]
    response = client.analyze_sentiment(inputs=document)[0

[2020-04-06 20:32] abhirockzz opened #51824 "Explicit Kafka version"
The document starts off with "Event Hubs supports Apache Kafka protocol 1.0 and later". It would be great if the exact version can be provided. This is because Event Hubs is providing a proxy layer and its critical for users to know the explicit Kafka version being supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-06 20:39] rjmccallumbigl opened #51825 "Where is $sub?"
In Table 1 we see the following definitions for tenant_id and subscription_id:

TABLE 1
Parameter	Where to obtain
tenant_id	Output from $sub.TenantId command
subscription_id	Output from $sub.SubscriptionId command

Where do we define $sub? Should $sub be equal to Get-AzSubscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-04-06 20:46] henriquebelotto opened #51826 "App registered using App Registrations (Preview) does NOT show under "Select Application""
Hello,

I have been following the this tutorial and also this one https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=applications and I noticed that if I register the main application under "Applications", then I can see it under the "Select Application" on the Identity Experience Framework page. However, if when I register the application using the "Ap

[2020-04-06 20:49] crowz4k commented on #47191
Also, same issue here we. For ASP.NET Core 3+ indicates that AddAzureSignalR() is invoked by default. But that is not true as stated above.

[2020-04-06 20:53] jmedina-genetec opened #51828 "Move-AzureStorageAccount command is not working"
I have automated the part when I list the Storage Accounts under a specific Classic Service and when I run the command: "Move-AzureStorageAccount -Validate..." I receive the following error:

[code]

Could you guys please help me see what's happening? Is there something missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-06 20:54] tesych commented on #49882
@barakooda the depth sensors should be run with a delay, but if the Kinects are synchronized, it is automatic.

[2020-04-06 20:56] MartinJaffer-MSFT commented on #51777
@arvind-dhariwal   Thank you for your concern, please allow me to explain.

The primary use of a SHIR is to allow Data Factory to connect to your on-premise data stores.
The challenges solved by hosting a SHIR on premises include the following:

- On premise solutions frequently have complex networking or security considerations.  If you did not host a SHIR in your on-premise network, then in orde

[2020-04-06 20:58] DeanGross opened #51829 "Cloud App Security"
This page says that MCAS is not available, but this page https://docs.microsoft.com/en-us/enterprise-mobility-security/solutions/ems-cloud-app-security-govt-service-description says that it is. Please update this page to provide accurate information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d495f3d-a30d-0e44-a0de

[2020-04-06 21:01] markjbrown commented on #51766
Yes, logical partition size remains 20GB. If you do not use a partition key with a high enough cardinality you will hit the 20 GB limit regardless of whether you are using AutoPilot.

Autopilot is set either per container or per database. The Max Storage limit applies to how you configure it at the container or database level.

Hope this helps clarify.

Thanks.

[2020-04-06 21:07] CaitlinV39 commented on #51621
The CORS portion is covered in the first step of the tutorial (https://docs.microsoft.com/en-us/azure/healthcare-apis/tutorial-web-app-fhir-server) and should resolve this. Please let me know if there was an issue after setting the data up as described in step 1.

[2020-04-06 21:10] YutongTie-MSFT commented on #51371
@gdprtcl I will forward this product feedback to product group. For this question, I will close it for now.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-06 21:10] #51371 closed

[2020-04-06 21:14] TravisCragg-MSFT commented on #51794
@cooperwolfesmithtech This image uses [Microsoft Peering](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#microsoftpeering), which allows connectivity over ExpressRoute to an Azure Storage Account or any other Azure PaaS service.

The limit with ExpressRoute and Distcp is when using [Private Peering](https://docs.microsoft.com/en-us/azure/expressroute/expressroute

[2020-04-06 21:14] #51794 closed

[2020-04-06 21:21] BharathNimmala-MSFT commented on #51820
@bdegs Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-06 21:22] BharathNimmala-MSFT commented on #51819
@ROSMITHJ-MSFT Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-06 21:23] GiftA-MSFT commented on #51823
@katherinakryvenko we will review your feedback and get back to you shortly. Thanks.

[2020-04-06 21:24] BharathNimmala-MSFT commented on #51829
@DeanGross  Thank you for bringing this to our notice, we will further look into it and get back to you at the earliest.

[2020-04-06 21:24] GiftA-MSFT commented on #51822
@cap273 we will review your feedback and get back to you shortly. Thanks.

[2020-04-06 21:26] GiftA-MSFT commented on #51795
@sokiable we will review your feedback and get back to you shortly. Thanks.

[2020-04-06 21:28] TravisCragg-MSFT commented on #51678
@Vc921N13 This is a temporary restriction for Azure CDN from Verizon or Akamai, and we hope to lift the restriction soon. I apologize for any inconvenience this caused.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-06 21:28] #51678 closed

[2020-04-06 21:29] MarileeTurscak-MSFT commented on #51568
Hi @evandimsby ,

I tested and am able to invite with users who only have the Guest Inviter role assigned while the other setting is turned to **No**. I made a pull request to update the documentation with this information.

[2020-04-06 21:29] #51568 closed

[2020-04-06 21:35] Grace-MacJones-MSFT commented on #51811
Hi @narasimhareddyjob, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-04-06 21:36] Mike-Ubezzi-MSFT commented on #51704
@asanaliev In the upper right when you are viewing https://dataexplorer.azure.com/, are you logged in and if so, what identity are you logged in under? Do you have an active subscription? I did a quick test and I am unable to resolve this instance: dataexplorer1ire.eastus.kusto.windows.net. Can you verify that the instance is correct?

[2020-04-06 21:47] TravisCragg-MSFT commented on #51661
@rajsshah86 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-06 21:49] PaulEstevesAtPEX opened #51830 "WamDefaultSet : ERROR"
I am seeing  WamDefaultSet : ERROR under User State. Any insight?
Also seeing IsUserAzureAD : NO, which is not the case, user has an AAD account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d74-8dcb-e644-9647-0d1d0817f975
* Version Independent ID: e249cc9d-2120-8868-dbca-bc3b85f38b4b
* Content: [Troubleshooting

[2020-04-06 21:51] rowong opened #51831 "forceupdatetag is misleading it needs to be a different value every retry"
According to posts online, the forceupdatetag needs to be a different value every time or else it will not retry.  Please clarify the document unless this behavior has changed.  Referencing this stackoverflow post https://stackoverflow.com/questions/37723567/how-to-force-vm-created-with-an-arm-template-customscriptextension-to-redownlo

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-04-06 21:56] TravisCragg-MSFT commented on #51796
@christiankuhtz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@KumudD FYI

[2020-04-06 21:58] tesych commented on #49735
@barakooda as I understand correctly the issue is fixed? Is it ok to close this?

[2020-04-06 22:00] TravisCragg-MSFT commented on #51797
@bajumar Thanks for the feedback! You can find a [comparison of V1 vs V2 Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#feature-comparison-between-v1-sku-and-v2-sku), but that information should be on this doc.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-06 22:00] mike-urnun-msft commented on #51789
@morteza54dp Thank you for your feedback! We will review and update as appropriate.

[2020-04-06 22:08] JustinGrote opened #51832 "Do NOT include a version folder within the .zip package for your module. - Still True after 5?"
This guidance says to not include a version folder, however this article:
https://azure.microsoft.com/en-us/blog/announcing-powershell-v5-support-azure-automation/

says version folders are fine, especially if you need to do SxS (which is critical in a lot of DSC configurations, e.g. updating a DSC configuration and having both "staging" and "production" in the same account which use different fol

[2020-04-06 22:13] Grace-MacJones-MSFT commented on #51477
Hello @batanun, you can create an app in ASE using this CLI command found in this [documentation](https://docs.microsoft.com/en-us/cli/azure/appservice/ase?view=azure-cli-latest):

[code]

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-06 22:13] #51477 closed

[2020-04-06 22:23] jackvdbuk commented on #51514
Sorry?

[2020-04-06 22:24] SnehaGunda commented on #50292
@JamesEarle Because the section corresponds to the cleaning up of resources, we want to make sure users enter the right resource group and account names. So the resource group name is asked twice in each section. We used && to execute the command that follows the && only if the first command is successful. it's just a best practice.

The current structure keeps the doc consistency with the rest of

[2020-04-06 22:24] realgregoryk opened #51833 "KMSI session default lifetime"
This document says the session cookie when KMSI is selected is 180 days.  Most other MSFT documentation states this as 90 days including the "more info" button on the AAD "Sign In Frequency" conditional access session policy.  The "more info" button points to this doc: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime.  Can this be

[2020-04-06 22:31] asergaz opened #51834 "Test case"
delete me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f93fe26-0fea-1ff3-42f0-785cc3d30c12
* Version Independent ID: 72af83f2-54ef-c712-9346-7228d067edd7
* Content: [What is Azure FarmBeats - Azure for Industry: Agriculture](https://docs.microsoft.com/en-us/azure/industry/agriculture/overview-azure-farmbeats#feedbac

[2020-04-06 22:33] acobb69 opened #51835 "VDI Auto Scale shutsdown host that is already powered off."
I have set to leave only 2 hosts running after peak hours. See below. Why does it shut down 1-3, which is not up/available?
------
Starting WVD tenant hosts scale optimization: Current Date Time is: 04/06/2020 18:21:53

It is Off-peak hours

Starting to scale down WVD session hosts ...

Processing hostpool Jmp1
Checking session host: VDIJmp1-2.domain.com of sessions: 1 and status: Available
Checki

[2020-04-06 22:34] #51834 closed

[2020-04-06 22:41] GFoley83 opened #51836 "Clarify which services can be used with an App Service Plan"
I can't seem to find a page that clearly articulates which Azure services can be used with an App Service Plan. Would be useful to clarify.

e.g. Is it just App Services and Azure Functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a9696e-10fd-a74e-4957-0d7ed9ef5a0f
* Version Independent ID: dad3cbd5-b2d0-9cc4-

[2020-04-06 22:58] JimacoMS3 commented on #28498
#reassign JimacoMS3

[2020-04-06 22:59] asergaz commented on #51345
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-06 22:59] #51345 closed

[2020-04-06 23:00] JimacoMS3 commented on #28498
@AshokPeddakotla-MSFT, @aishanibhalla -- thanks for your feedback, but I don't really understand what the ask is here. Can you please try to explain it in more detail?

[2020-04-06 23:01] kj299 commented on #28256
I see this problem as well. I downloaded the sparse vmdk and the regular (less than 1kb) vmdk. The image didn't merge. When browsing for the secondary disk, it doesn't appear. It won't show up. I also verified the images were good with the md5 checksum from the downloaded zip

[2020-04-06 23:07] msrini-MSFT commented on #51817
@devlife , Seems similar to the below issue. Please try the commends mentioned in that issue and let me know if that helps.

https://github.com/MicrosoftDocs/azure-docs/issues/51595

[2020-04-06 23:19] msrini-MSFT commented on #51768
@StefanIvemo , Application Gateway will act as a reverse proxy and hence the return traffic will be send back to the AppGW instead of Azure Firewall. Also Adding UDR to the AppGW subnet is not supported.

So, if you have Application Gateway and you have added private IP of your VM as the backend pool, then there will not be any asymmetric routing.

[2020-04-06 23:19] asergaz commented on #51096
Hello @thnk2wn we can confirm that Is_Defined on non primitive types returns false by design. The doc was updated to reflect that:

**IS_DEFINED**
Returns a Boolean indicating if the property has been assigned a value. This is supported only when the value is a primitive type. Primitive types include string, Boolean, numeric, or null. DateTime, object types and arrays are not supported.

https://g

[2020-04-06 23:19] #51096 closed

[2020-04-06 23:36] MarileeTurscak-MSFT commented on #51478
Hi @bradcstevens ,

Unfortunately once the account is disabled, the tenant admin needs to either enable the account so that you can remove yourself, or delete the account. There isn't a better workaround for this.

https://docs.microsoft.com/en-us/powershell/module/msonline/remove-msoluser?view=azureadps-1.0

The admin can create a support request if assistance is needed.

Sorry that there isn't a

[2020-04-06 23:36] #51478 closed

[2020-04-06 23:38] JasonWHowell commented on #51782
#reassign: @dagiro

[2020-04-06 23:40] dcbrown16 opened #51837 "Extending disks"
Does extending the disks as described on this page require that you then go into the OS and expand the partition with DiskPart etc.?
That is the guidance for normal disks (link below), I'm wondering if the SQL Server Extension somehow does this for you when you use the Extend Disks menu.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk#expand-the-volume-within-the-os

[2020-04-06 23:41] SaurabhSharma-MSFT commented on #51663
@henriquebelotto I have tried using "data-preload=true" and it is working fine for me -
Here is the html I am using -
![image](https://user-images.githubusercontent.com/38112130/78615063-4251c680-7825-11ea-9b99-ef97d64b17d5.png)
 Output:
![image](https://user-images.githubusercontent.com/38112130/78615087-5bf30e00-7825-11ea-9d11-d636e7e7418e.png)

[2020-04-06 23:47] SaurabhSharma-MSFT commented on #51692
@brandonh-msft For local development, AzureServiceTokenProvider fetches tokens using Visual Studio, Azure command-line interface (CLI), or Azure AD Integrated Authentication and Microsoft.Azure.Services.AppAuthentication for .NET library uses the developer's credentials to authenticate during local development. When the solution is later deployed to Azure the library automatically switches to appl

[2020-04-06 23:49] MarileeTurscak-MSFT commented on #51559
I've reached out to ask about this as I haven't found documentation on it.

[2020-04-06 23:52] SaurabhSharma-MSFT commented on #51792
@Rvvhub I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory).  "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-04-06 23:56] Grace-MacJones-MSFT commented on #51836
Hi @GFoley83, thanks for your feedback. Is this the type of doc you were looking for?https://docs.microsoft.com/en-us/azure/app-service/overview

[2020-04-06 23:58] tmccart1 commented on #40089
I can concur that some configuration is missing from the ARM template creation. If I provision everything manually from the QnA Maker web site, it works, but if I use an ARM template for all of the supporting Azure resources, it does not work. I made sure that the ARM template resources had all of the exact same configuration as the resources created from the QnA Maker site UI.

I tried all of the

[2020-04-07 00:15] Karishma-Tiwari-MSFT commented on #51831
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-07 00:18] Karishma-Tiwari-MSFT commented on #51368
I am reaching out to the internal team and will share the update shortly.

[2020-04-07 00:22] Karishma-Tiwari-MSFT commented on #51837
@MashaMSFT Can you please share your insights on the customer's question? Thanks :)

[2020-04-07 00:32] Karishma-Tiwari-MSFT commented on #51825
Yes, that's correct.
$sub = Get-AzSubscription
and then use $sub.SubscriptionId and $sub.TenantId

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-07 00:32] #51825 closed

[2020-04-07 00:35] SteveFarmerJr commented on #51499
This documentation was supposed to be updated back in December 2019 for something that was released May 2019.  Yikes!  Not a pleasant upgrade experience.

UnregisterAllAsync crashes iOS even after updating AzureNotificationHub Nuget to 2.04
Use this call instead of the old callback format:
				await AzureNotificationHub.HUB.UnregisterAllAsync(token);
Same with the hub.RegisterAsync call:

[2020-04-07 00:39] MarileeTurscak-MSFT commented on #51761
Hi @sujayvsarma ,

Sorry for the delay, I missed your message earlier. I reached out to check about documentation for what you are specifically requesting as I'm not sure what the best document would be. I'll get back to you when I have an answer.

Here is the documentation for assigning permanent roles: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how

[2020-04-07 00:52] RonnieQuan opened #51839 "Naming Convention for Rule Collection and Rule"
Do you have rule collection and rule naming convention documented somewhere?
e.g. max length, allowed characters, best practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https:/

[2020-04-07 00:55] RonnieQuan opened #51840 "Rule Collection Prority Number Convention and Guideline"
I'm looking for document on rule collection priority number,
- Range
- Incremental by 1, 10, 100?
- Best Pracitce

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https://docs.microsoft

[2020-04-07 01:09] MarileeTurscak-MSFT commented on #51804
@vbatr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 01:17] MarileeTurscak-MSFT commented on #51807
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 01:20] MarileeTurscak-MSFT commented on #51826
@henriquebelotto
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 01:22] MarileeTurscak-MSFT commented on #51818
@babukumarg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 01:23] arvind-dhariwal commented on #51777
Yes it make sense.
Here you considered only one aspect , what about accessing source or sink
in azure cloud which has Vnet service end point. And SHIR is on-premises.

For ADLS gen2 with firewall on , will not be accessible from on-premises
SHIR straight forward .

Thanks
Arvind dhariwal

On Tue, 7 Apr 2020 at 4:56 AM, MartinJaffer-MSFT <notifications@github.com>
wrote:

--
Thanks
Arvind Dhariwal

[2020-04-07 01:52] cgillum commented on #48360
cc: @anthonychu

This problem is being tracked here: https://github.com/Azure/azure-functions-durable-js/issues/148. Unfortunately we are currently blocked from making the updates necessary to fix this automatically on the product side. Switching to use the v2 runtime is one way to work around this. Another workaround for now is to set an app setting named `FUNCTIONS_V2_COMPATIBILITY_MODE` to `tru

[2020-04-07 01:55] daniv-msft commented on #51000
@krishjan05 Another similar issue was opened recently, and has likely the same root cause: https://github.com/Azure/dev-spaces/issues/306

After investigating, it seems to me that the root of the issue is related to using a .NET Core 3.1 project. I couldn't reproduce the issue with a .NET Core 2.2 project.
Could you please confirm that your project runs on .NET Core 3.1 as well?

[2020-04-07 02:03] abbodh commented on #40089
I was able to run after scaling up the azure app service SKU. As after few deployments, I realized that the CPU consumption spiked really high.

[2020-04-07 02:04] BharathNimmala-MSFT commented on #51832
@JustinGrote Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-04-07 02:07] anthonychu commented on #48360
I have it on my list to update the Learn module this week, I know how to do it. The portal tutorial should need the same extra steps. I can update that too. But if there’s anyone who can help with updating these, let me know.

[2020-04-07 02:13] Wibbbs opened #51842 "Load cert from file on windows"
Is there any way to load a cert from file on windows. Having a hard time get the cert from the store, especially private key. Would love to be able to just pull a cer and key from file or a pfx on windows like what is possible on Linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf6dd80-7e07-3e24-7aa8-d3f278f34588

[2020-04-07 02:15] BharathNimmala-MSFT commented on #51784
@roofiq Thank you for reaching out to us, [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel is to improve Azure documentation. Can you please help with the documentation link you are referring, so that we can route you accordingly.

[2020-04-07 02:30] alexsab1 opened #51843 "Scale Set Managed Disk support"
Hello, is disk bursting available for existing Scale Set VMs with managed disk (OS + Data). Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dcff8-b7b3-68b3-2364-dffa15b28356
* Version Independent ID: 6401288f-c695-2d25-1198-07b237242005
* Content: [Managed disk bursting - Azure Windows Virtual Machines](htt

[2020-04-07 02:30] BharathNimmala-MSFT commented on #51798
@mimaayan  Thank you for reaching out to us, [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel is to improve Azure documentation. Can you please help with the documentation link you are referring, so that we can route you accordingly.

[2020-04-07 02:31] BharathNimmala-MSFT commented on #51800
@levi106  Thank you for reaching out to us, [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel is to improve Azure documentation. Can you please help with the documentation link you are referring, so that we can route you accordingly.

[2020-04-07 02:33] mike-urnun-msft commented on #48360
@anthonychu I can help with the changes needed for the portal tutorial

[2020-04-07 02:34] mike-urnun-msft commented on #51801
@BeMor81 Thank you for your feedback! We will review and update as appropriate.

[2020-04-07 02:36] BharathNimmala-MSFT commented on #51802
@gokul2018 Thank you for reaching out to us, this channel is to improve Azure documentation. Can you please help with the documentation link you are referring, so that we can route you accordingly.

[2020-04-07 02:37] BharathNimmala-MSFT commented on #51805
@levi106 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-07 02:39] BharathNimmala-MSFT commented on #51810
@Chai-NED Thank you for you query, our team will further look into it and get back to you at the earliest.

[2020-04-07 02:42] BharathNimmala-MSFT commented on #51812
@Fabiest Thank you for reaching out, this issue has been assigned to @dagiro for further help on this.

[2020-04-07 02:45] BharathNimmala-MSFT commented on #50718
@evmimagina Can you please review the above information and circle back if you have any further queries. Thank you.

[2020-04-07 02:45] mike-urnun-msft commented on #51814
@markpaley Thank you for your feedback! We will review and update as appropriate.

[2020-04-07 02:55] githubvick commented on #51745
Got it. Thanks for the clarification.

[2020-04-07 02:55] #51745 closed

[2020-04-07 02:58] levi106 commented on #51800
@BharathNimmala-MSFT
The following is the document link:

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#connect-to-your-blob-storage-module

- For modules that are deployed on the same device as where the Azure Blob Storage on IoT Edge module is running, the blob endpoint is: http://<module name>:11002/<account name>.

[2020-04-07 03:00] ElliotWood commented on #50473
Same thing happened to me, then It started working. I think it take a while for the Maps account to spin up and be ready for this operation.

[2020-04-07 03:12] gokul2018 commented on #51802
https://techcommunity.microsoft.com/t5/azure/windows-virtual-desktop-firewall-appliance/m-p/1215893/highlight/false#M5061

This is what we are trying to achieve

[2020-04-07 03:17] MarileeTurscak-MSFT commented on #51833
@realgregoryk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 03:17] ElliotWood commented on #51757
Today It started working. I think it takes a while for the Maps account to spin up and be ready for this operation. Spun the service up at 11:22 am and the availability metrics show it working from 3:52 pm

[2020-04-07 03:20] MarileeTurscak-MSFT commented on #51833
The Azure AD default configuration for user sign in frequency is a rolling window of 90 days, but persistent tokens have a lifetime of 180 days. The KMSI selection sets a session cookie that bypasses authentication for 180 days. https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Hope this helps! If you have further questions feel free to

[2020-04-07 03:20] #51833 closed

[2020-04-07 03:22] gpj1 opened #51844 "Can I associate a single shared access policy to more than one event hub (topic)?"
If I have to give similar permission on more than 1 event hub, then I need to create separate shared access policy for each event hub individually. Is there a way where I can create a shared access policy and associate that with more than 1 event hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c58d87-83ad-9328-d9

[2020-04-07 03:25] BharathNimmala-MSFT commented on #51800
@levi106 Thank you for sharing the documentation link, i have assigned the issue to @AshokPeddakotla-MSFT  to further review and take it forward. Thanks

[2020-04-07 03:27] AshokPeddakotla-MSFT commented on #51624
Adding author @shizn for further review and update the doc as appropriately.

[2020-04-07 03:29] AshokPeddakotla-MSFT commented on #47406
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-07 03:29] #47406 closed

[2020-04-07 03:31] MarileeTurscak-MSFT commented on #51565
This is referring to objects in the metaverse. I made a pull request to add this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/110472

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2020-04-07 03:31] #51565 closed

[2020-04-07 03:33] acobb69 commented on #51835
Update: Oddly enough, it finally shutdown host VDIJmp1-2 later at 7:51 PM. Am curious why.

I would also like to make a suggestion. Can you make it shutdown all the hosts it needs to shutdown at the same time? Currently it waits to power down a host before the next. Azure VMs can get stuck "dealloctating" for 10 or 15 minutes. It took about an hour to power down, which costs money.

[2020-04-07 03:34] ElliotWood opened #51845 "Link to visualize the map"
Could you please provide the link to view map to close out this tutorial?
"The map below shows four points where the vehicle was outside the geofence, logged at regular time intervals."

Something like below with the correct parameters to visualize the route and geofence.
https://atlas.microsoft.com/map/static/png?api-version=1.0&subscription-key=&lt;&gt;

---
#### Document Details

⚠ *Do not edit

[2020-04-07 03:37] mike-urnun-msft commented on #51262
@BeMor81 Each policy section (cross-domain, cors, jsonp) on this documentation includes explicit guidance on the appropriate place where they need to be implemented within XML, like below:
![image](https://user-images.githubusercontent.com/36717703/78627257-dc296b80-7845-11ea-830e-841cc594f2cd.png)

Since this documentation does already contain the information requested in your feedback, we will h

[2020-04-07 03:37] #51262 closed

[2020-04-07 03:41] worldspawn opened #51846 "Alternative storage options?"
This sentence

| By default, Durable Functions stores state in Azure Storage.

alludes to there being other options for function state storage. What are they/where can we find out more?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5bf5562-1289-29da-ebfe-60704ca8cb6c
* Version Independent ID: 9ab410a9-6fe7-c4dd-af3b-

[2020-04-07 03:41] MarileeTurscak-MSFT commented on #51816
@brucedkyle
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 03:48] tmccart1 commented on #40089
@abbodh , what sku did you use on the app service?  I was using S1.  Thank you for your insight, this may end up helping me a lot!

[2020-04-07 03:48] ElliotWood opened #51847 "Server 400 with Azure Function - breaks on step 8"
Server 400 when following these instructions  "Create an Azure Function and add an Event Grid subscription" on step 8 the provided Azure function code makes a call below

GET https://atlas.microsoft.com/spatial/geofence/json?subscription-key=&lt;&gt;&api-version=1.0&deviceId=InVehicleDevice&isAsync=True&udId=f595c106-e4f8-b1e3-bd88-a3b22e7f9375&lat=38.90135353865269&lon=-77.03197002410889&searchBu

[2020-04-07 03:49] Dmitry1987 commented on #37884
lol @LenCardinal did you actually expect to get an autoscaling WAF service with so many features for about 200$? :D (for a cloud service, it has a lot of features, for example there's no equivalent for app-gateway in AWS until now at all, the ALB cannot do half of what it does). So naive! hehe.
IMHO: I really like the features and flexibility, the price is not exorbitant, but the "minimal X, minim

[2020-04-07 03:49] ram-msft commented on #51189
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-07 03:49] #51189 closed

[2020-04-07 03:49] AjayKumar-MSFT commented on #51426
@BMichaelJ, That's a great feedback and I believe it will be an important addition to the security recommendation document.  Private Link on App Service is in public preview available in limited regions. This [document](https://docs.microsoft.com/azure/app-service/networking/private-endpoint) outlines more details about this topic.

At a high level, this doc aims at outlining security recommendati

[2020-04-07 03:51] mike-urnun-msft commented on #51471
@slyons Thanks for reporting this linking issue and helping us drive improvements toward MS Docs! I've created a PR that corrects the link to the complete sample and the change should be live shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-07 03:51] #51471 closed

[2020-04-07 03:52] abbodh commented on #40089
@tmccart1 I changed it from S1 to S2. Interestingly, once endpoint got created, I switched back to S1 and did not noticed any issue since then (perks of azure scaling)

[2020-04-07 03:54] DixitArora-MSFT commented on #51402
@stefrostik Please let me know if you don't have the support plan, If not, just let us know as we're able to grant you a one-time free support case to resolve this issue. Recommendation in this case to open a support case to troubleshoot this issue together with a service engineer who has deeper insight to your environment.

For now I will proceed with closure of this. Please tag me in your reply

[2020-04-07 03:54] #51402 closed

[2020-04-07 03:55] DixitArora-MSFT commented on #51400
@stefrostik @stefrostik Please let me know if you don't have the support plan, If not, just let us know as we're able to grant you a one-time free support case to resolve this issue. Recommendation in this case to open a support case to troubleshoot this issue together with a service engineer who has deeper insight to your environment.

For now I will proceed with closure of this. Please tag me in

[2020-04-07 03:55] #51400 closed

[2020-04-07 03:59] agassijoelbrio opened #51848 "How do we install MARS Agent in Linux Systems which are not in Azure"
Hi, I want to install MARS Agent in a CentOS machine, but the machine is not in Azure. Is it possible to install it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00f29580-ea89-9c2d-d973-9b839c958f03
* Version Independent ID: 2986809f-2c86-a7f0-c3c4-6e734cf67c68
* Content: [Azure Linux VM Agent Overview](https://docs.

[2020-04-07 03:59] DixitArora-MSFT commented on #51846
Hi @worldspawn Thanks for reaching out. We will review and update as appropriate.

[2020-04-07 04:02] CHEEKATLAPRADEEP-MSFT commented on #51813
@Fabiest Step6 talks about "**Configuration**" and step7 talks about "**verify the configuration using Ambari UI**".

There is no extra step on Ambari configuration and step6 and step7 are different and which don't create duplicate entries.

Hope this helps.

[2020-04-07 04:02] balukantu commented on #51532
Hi @Karishma-Tiwari-MSFT , Please check the [link](https://docs.microsoft.com/en-us/azure/cosmos-db/import-data)  that I have followed to export data from CosmosDB to Files/Azure Blob and vice versa.

[2020-04-07 04:03] tmccart1 commented on #40089
@abbodh , in my case I was also sharing the hosting plan with a bot app service (just a small demo, didn't think I needed much).  The hosting plan was at S1.  I am going to try splitting out the cognitive service app out to its own hosting plan and bump it up.  Thanks again!

[2020-04-07 04:04] CHEEKATLAPRADEEP-MSFT commented on #51824
@abhirockzz  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-07 04:05] CHEEKATLAPRADEEP-MSFT commented on #51781
@narasimhareddyjob  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-07 04:05] #51781 closed

[2020-04-07 04:07] TravisCragg-MSFT commented on #51666
@ezYakaEagle442 Thanks for the feedback! It looks like the existing version of the CL does not have a way to add a WAF policy. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-07 04:07] neeleshray-msft commented on #51830
@PaulEstevesAtPEX Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-07 04:15] BharathNimmala-MSFT commented on #51802
@gokul2018 Thank you for circling back , assigning this issue to @jakaruna-MSFT to further evaluate.

[2020-04-07 04:19] brandonh-msft commented on #51692
Sure but this API doesn't conform to the same object model as the `Azure. *` packages...

[2020-04-07 04:19] PEGAH-SZ commented on #46484
We are waiting for this for too long. Could you please update us if the connector will be upgraded anytime soon?

[2020-04-07 04:53] VikasPullagura-MSFT commented on #51835
@acobb69
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-07 04:54] VikasPullagura-MSFT commented on #51835
@RoopChevuri @ChristianMontoya Can you please check and add your comments.

[2020-04-07 04:57] sujayvsarma commented on #51761
Thank you @MarileeTurscak-MSFT.

I think my primary confusion was between App vs Delegated permissions in Azure AD.

Could you clarify this:

1. If I add the Application Permission `Group.Create`, the app can create groups regardless of the access level of the user logged on -- alternatively, can create groups even when there is no one logged on (as in a background service).

True/False ?

2. Like

[2020-04-07 04:59] VikasPullagura-MSFT commented on #51843
@alexsab1
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-07 04:59] akashlkendre opened #51849 "dashboard time range overwrites time range specified in query"
I have written a query in LogAnalytics which let's say get all data for last one month.
When I pin this query to dashboard, dashboard time range overwrites this time range specified in query. is there any workaround with this. My company is working on a POC for that this is very crucial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l