[2020-05-27 21:51] MarileeTurscak-MSFT commented on #55763
@abshouston
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 21:52] BharathNimmala-MSFT commented on #55797
@st-christ Thanks again for bringing this to our notice, i have raised a PR once merged to the main branch the document will be updated accordingly later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen th

[2020-05-27 21:52] #55797 closed

[2020-05-27 21:56] v-radelg opened #55816 "priatednszonename"
@trehberg commented 5 hours ago

"priatednszonename" should probably be "privatednszonename" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resolution for resources in Azure virtual networks](https://d

[2020-05-27 22:10] MarileeTurscak-MSFT commented on #55791
Hi @lingeshmukilan , what exactly are you hoping to do? Do you want to use powershell to bulk-remove organizations from users?

[2020-05-27 22:12] Karishma-Tiwari-MSFT commented on #55778
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-27 22:15] Karishma-Tiwari-MSFT commented on #55764
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-27 22:15] Karishma-Tiwari-MSFT commented on #55766
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-27 22:18] rwike77 commented on #52955
@vvoinov, hopefully that answered your question.  Closing this issue for now.  #please-close

[2020-05-27 22:18] #52955 closed

[2020-05-27 22:19] erjosito commented on #55378
Hello @nihaozh creating the cluster with the flags --client-id and --client-secret is definitely the right way to go, to prevent a new SP from being created every time (and hence use the one for which you have created the corresponding role assignments).

Does the error message indicate exactly which operation was not allowed? Something you can check is the activity log in the Virtual Network, you

[2020-05-27 22:20] MarileeTurscak-MSFT commented on #55804
@BenLeggiero
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 22:23] emanuele1986 opened #55817 "Get-AzDataLakeGen2ChildItem returns 5000 entries"
Hi all,

i'm getting this limitation also. I need to export all ACL from all file and folder in our datalake, but with 5000 limits is a bit hard. Is possible to avoid the limit or how i can loop it without put everytime continuos token?

Thanks a lot

[2020-05-27 22:24] cynthn commented on #55426
I've added this file to the Windows TOC. Pull request will probably merge tomorrow. Thank you!

#please-close

[2020-05-27 22:24] #55426 closed

[2020-05-27 22:29] femsulu commented on #55814
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-27 22:29] mbiver opened #55818 "Verify if NVIDIA GPU drivers are supported on Red Hat Enterprise Linux 7.7 and 7.8"
Hello, I was wondering if you could Verify if NVIDIA GPU drivers are supported on Red Hat Enterprise Linux 7.7 and 7.8?  If so, could the document be updated?  Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Independent ID: ad5f6be7-e089-161f-306c-39d10e7ab0a0
* Cont

[2020-05-27 22:32] smarthall opened #55821 "Suggestion for Windows nodes doesn't work"
This suggestion didn't work for me, complaining that there was no Pod spec for that version. I had to modify it to the following:

`kubectl run -it --rm aks-ssh --image=debian --overrides='{"apiVersion":"v1","spec":{"nodeSelector":{"beta.kubernetes.io/os":"linux"}}}'`

Using AKS and kubectl 1.18.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-27 22:36] JimacoMS3 commented on #49270
#reassign JimacoMS3

[2020-05-27 22:42] JimacoMS3 commented on #49270
Hi @Chahul ,

Thanks for your feedback, I'm not sure I understand your question, though. [Microsoft.Azure.Devices](https://www.nuget.org/packages/Microsoft.Azure.Devices/) is the package that contains the [ServiceClient](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.serviceclient?view=azure-dotnet). Did you have trouble running the sample?

Thanks,

Jimaco

[2020-05-27 22:42] SaurabhSharma-MSFT commented on #55776
@jedduff Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-27 22:44] #54955 closed

[2020-05-27 22:44] cynthn commented on #54955
I'm filed a PR to fix the issues. Should go live 5/28/2020. Thank you!

#please-close

[2020-05-27 22:49] SaurabhSharma-MSFT commented on #55059
@HWouters It can be used in any case.. All we are doing is specifying a user journey that should be executed when we are redeeming the refresh token to get new access token.  Please check this
![image](https://user-images.githubusercontent.com/38112130/83079795-74b3bf00-a031-11ea-8944-f3327eabb539.png)
Ref: [Define a technical profile for a JWT token issuer](https://docs.microsoft.com/en-us/azure/

[2020-05-27 22:49] contactvikasgupta commented on #55405
Thanks, this worked.

[2020-05-27 22:58] jackbradshaw opened #55822 "Cannot test the user flow"
When following this guide and coming to 'Run user flow' I cannot enter a Reply URL (the field appears to be disabled), and clicking the 'Run User Flow' button in the form does nothing:

![image](https://user-images.githubusercontent.com/1769253/83080238-9c2c7b00-a075-11ea-9e00-71fb45663d83.png)

Any idea why this might be?

 I also cannot get this working with MSAL either,, recieveing the error:
R

[2020-05-27 22:58] kgremban commented on #55154
@rgamage Thank you for your detailed feedback on the documentation. I'm working my way through your separate issues, and taking this as an opportunity to retry all the steps in this set of articles myself. So I'll be responding to all your issues over the next day or so as I get to them in order.

You make a good point about that first statement being confusing. How about this as a rewrite for the

[2020-05-27 22:59] Grace-MacJones-MSFT commented on #54651
Hi @cveld, thanks for your patience. Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary to align with your feedback.

[2020-05-27 23:07] MarileeTurscak-MSFT commented on #55804
Good catch, @BenLeggiero !

I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/116746

[2020-05-27 23:07] #55804 closed

[2020-05-27 23:13] SeanFeldman commented on #43468
Six months since it was raised. Seems to be related to https://github.com/Azure/azure-sdk-for-net/issues/10684

@jfggdl is this something on the radar?

[2020-05-27 23:20] stevenluda opened #55823 "Scaling question"
[Can you be more specific about the scaling part mentioned in this tutorial? In the compute target creation part, the maximum nodes was set to 4. Is the scaling able to exceed that number? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-

[2020-05-27 23:27] sidkri opened #55824 "Mention Azure Functions blob trigger supports Storage V2 accounts with hierarchal namespaces"
This issue is specific to Azure Functions support for triggers on general purpose storage accounts.  With the introduction of [Azure Data Lake Gen2 and hierarchal namespaces](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-namespace) on Storage V2 accounts, customers can create Azure Storage V2 accounts and
optionally enable hierarchal namespaces so they can use the account

[2020-05-27 23:27] rgamage commented on #55154
The new wording looks a lot better, thanks!

On Wed, May 27, 2020 at 3:58 PM Kelly Gremban <notifications@github.com>
wrote:

[2020-05-27 23:29] kgremban commented on #55156
@rgamage Yes, the information about installing certificates on the gateway device used to be explicitly listed in this article but recently were abstracted away and made to be part of the prerequisites: https://docs.microsoft.com/azure/iot-edge/how-to-manage-device-certificates#install-production-certificates. I can see how that loses quite a bit of context for the reader, though. I'll work on bri

[2020-05-27 23:33] JamesTran-MSFT commented on #55806
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 23:38] JimacoMS3 commented on #51864
#reassign JimacoMS3

[2020-05-27 23:41] Hasil-Sharma opened #55825 "Non-Overlapping Scheduled Pipeline Executions"
My scenario is a following -

I've long running Azure Data Factory pipelines which I want to execute every x hours. Though, if one of the executions is taking more than x hours, next pipeline execution should not start until previous one has finished.

I've a hunch that tumble window triggers could be used to achieve this but I am unable to figure out how.

Could you help?

---
#### Document Detai

[2020-05-27 23:45] mehran63 opened #55826 "What is maintenanceWindow attribute?"
The documentation doesn't explain what is the actual impact/effect of maintenanceWindow attribute? What if it is short? What if it is too long?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06eed28a-51cd-9282-0364-680c7fa98bd8
* Version Independent ID: ce2aace1-9078-6ad1-39f1-fc90a7c72312
* Content: [How to administer

[2020-05-27 23:53] eddied4 commented on #55222
Hi Sumanth,

So I already have this authentication working with a S2S VPN. I would like to have kerb authentication over the internet but this has not been working. How will Kerberos work over the internet if the client does not have access to a Domain Controller? This diagram does not show this...
![image](https://user-images.githubusercontent.com/63406856/83083237-facf1480-a0c8-11ea-9fd6-b907ccf

[2020-05-27 23:53] djpmsft commented on #55825
Hey Hasil,

A tumbling window trigger should solve your use case! Assign a TWT to the pipeline and set a max concurrency of 1. This will limit one pipeline running at once and queue additional pipelines coming in.

Thanks,
Daniel

[2020-05-27 23:57] Mike-Ubezzi-MSFT commented on #55405
@contactvikasgupta Thank you for the confirmation.

[2020-05-27 23:57] mjboggs opened #55827 "You should test your procedure AT LEAST ONCE"
Where do I start!  So many bugs in this procedure that you should remove it, repair it, and then republish it.  Before republishing it, test your procedure at least once from a clean install to ensure things work.  First issue: no mention of installing node.js to install npm.  In preprequisites, no mention of the need to install either.  Second, getting to the Live Server part - code just doesn't

[2020-05-27 23:59] kthapa1229 opened #55828 "What logs are we looking at"
[Can we mention in this doc what logs are we looking for the message shown in the sample log]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9284e805-9166-4da9-4d8c-8f45d1e8cb10
* Version Independent ID: 1b88cee5-cbf9-0f09-9780-be94fef3db49
* Content: [Apache ZooKeeper server fails to form a quorum in Azure HDInsight](

[2020-05-28 00:00] kobulloc-MSFT commented on #55810
@killnine Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-05-28 00:01] NavtejSaini-MSFT commented on #55663
@CharmanderJieniJieni Please let us know if you need any further help.

[2020-05-28 00:03] NavtejSaini-MSFT commented on #55679
@rohitnayakmsft Please weigh in regarding the failover when Azure SQL DB has Private Link and how it works for cnames.

[2020-05-28 00:04] Grace-MacJones-MSFT commented on #55805
Hi @edisga, thanks for the feedback! We will make an update to the docs shortly

[2020-05-28 00:05] NavtejSaini-MSFT commented on #55652
@knightmeister Please let us know if you need any further help regarding this.

[2020-05-28 00:09] Hasil-Sharma commented on #55825
@djpmsft Thakns for the prompt response.

 There is an additional requirement to set a negative offset, which I am setting as "-0.00:00:10". Though , when starting trigger I get this error.

``Self dependency trigger tumble_trigger_all_cdm_1 can't have offset -00:00:10 and size 00:00:00 together which means to depend on future self``

My trigger json looks like this (only keeping the relevant attr

[2020-05-28 00:10] kromerm commented on #55057
This is on our roadmap. However, because we allow upsert/merge on DW Synapse, we still need to create temp tables, which requires elevated permissions.

[2020-05-28 00:11] cynthn commented on #53508
I did a full review of the article, and added a screenshot showing the basic\advanced toggle. New content should be live 5/28/2020.

#please-close

[2020-05-28 00:11] #53508 closed

[2020-05-28 00:22] Grace-MacJones-MSFT commented on #55685
Hi @MatthewSteeples,

We looked up www.scriptlist.co.uk internally and it looks like this domain is using an A Record, which this doc states that _A Record is not supported_ in the list of limitations. However, we will create a work item internally to clarify it on the portal’s error message.

We will now proceed to close this thread. If there are further questions regarding this matter, please ta

[2020-05-28 00:22] #55685 closed

[2020-05-28 00:41] JamesTran-MSFT commented on #55806
@xom-pschiess

Under the "[Groups](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-delegate-by-task#groups)" section the least privileged role assigned to creating a group is "User administrator". I was able to look into this further and will post my findings below.

![image](https://user-images.githubusercontent.com/36619112/83082685-f3602a80-a038-11ea-8a4e-e1102d

[2020-05-28 00:42] emacdona opened #55829 "How to properly encode GET urls?"
How are any of your examples to be url encoded?

For example:
https://graph.microsoft.com/beta/roleManagement/directory/roleAssignments&$filter=roleDefinitionId eq ‘<object-id-or-template-id-of-role-definition>’

There are actual SPACES in that url. Every effort I've tried at url encoding it before using it with curl has failed. I keep seeing this error:
 "message": "Searches against this resource

[2020-05-28 00:44] swanderz commented on #55713
@WilliamAntonRohm perhaps this issue is better suited in `sql-docs`?

[2020-05-28 00:49] femsulu commented on #55497
adding @dsindona for input on how to escalate this ?

@santhoshbomma9  - as this channel is reserved for questions & issues with documentation, we will have to redirect to the appropriate support channel for partner center portal.

A quick scan of the scan of the content yielded [these  support options](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/support). Also shown i

[2020-05-28 00:49] femsulu commented on #55497
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-28 00:49] #55497 closed

[2020-05-28 00:55] akuchotrani commented on #55397
Any update on the above question?

[2020-05-28 00:59] asergaz commented on #54965
It was a pleasure to discuss this with you @erikerikson ! A great learning for me to :). I will proceed and close this issue for now. Others will have access to this issue\discussion if they ever come to similar questions as yours :). @wesmc7777 will definitely be on top of this doc for any doc-enhancements needed based on valuable feedback as yours.

Please enjoy using Azure IoT Hub and feel free

[2020-05-28 00:59] #54965 closed

[2020-05-28 01:13] mandiaya commented on #38747
@jeevansd
So this add-on compatible with confluence 7.4.0?

[2020-05-28 01:14] asergaz commented on #55586
@eladeyal-intel thank you for adding feedback to enhance this doc, see more about endpoints here: [Reference - IoT Hub endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#list-of-built-in-iot-hub-endpoints)

The device can indeed listen for direct method's requests using HTTPS, AMQP, MQTT, AMQP and MQTT over Websockets.

I will let the content author @nberdy valida

[2020-05-28 01:25] TravisCragg-MSFT commented on #55762
@joelharkes Thanks for the feedback! We currently allow you to specify your own cipher suites, but this is not currently a default setting. If you would like us to add this in the future as a default setting, please leave your feedback at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are furthe

[2020-05-28 01:25] #55762 closed

[2020-05-28 01:29] TravisCragg-MSFT commented on #55811
@damendo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-28 01:36] TravisCragg-MSFT commented on #55774
@andrewCluey Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-28 01:36] MarileeTurscak-MSFT commented on #55782
@puthurr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-28 01:36] nberdy commented on #55586
@asergaz Please assign this to Ashita, I no longer work on direct methods.

[2020-05-28 01:51] chen98 opened #55834 "api/update not working"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c93275-7ff0-f515-8001-ad513f3d714b
* Version Independent ID: 2c4a7f97-4532-9bd8-ba57-03a11784329a
* Content: [Quickstart: Send custom events with Event Grid and Azure CLI](https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart)
*

[2020-05-28 01:58] blueww commented on #52473
@emanuele1986

With current [rest API design](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/list), if you have many Items which can't be returned in single request, need to list them by ContinuationToken.

So in Powershell, you need to list them by ContinuationToken.

Let us know if you meet any difficulty to write the script with ContinuationToken.

[2020-05-28 02:07] glprasanna commented on #55438
Hi Jeevan,

Thank you for the update.
We haven't upgrade our JIRA to 8.5.4 yet. Currently we are in 8.0 version and using 1.0.6 version SSO plugin which you have given in the URL. So we are checking with you whether this plugin will be compatible with 8.5.4 version.
https://www.microsoft.com/en-us/download/details.aspx?id=56506

If you confirm that 1.0.6 SSO plugin is compatible with 8.5.4 version

[2020-05-28 02:29] likebupt commented on #55259
Hi @RohitMungi-MSFT , please refer to [this article](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.akswebservice?view=azure-ml-py).

[2020-05-28 02:33] Grace-MacJones-MSFT commented on #55805
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-28 02:33] #55805 closed

[2020-05-28 02:41] SatishBoddu-MSFT commented on #55765
@michuny25 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-28 03:02] SatishBoddu-MSFT commented on #55765
@michuny25 Could you please have a look at [Module twin JSON schema](https://docs.microsoft.com/en-us/azure/event-grid/edge/twin-json#desired-properties-json).
Please try to send the desired property array as a string.

![VS_Maintain_Secrets_checkinGit](https://user-images.githubusercontent.com/62923178/83093759-ea7d5200-a054-11ea-9c3e-b131ac0aca7d.gif)

Please let us know if you need further help

[2020-05-28 03:25] SubhashVasarapu-MSFT commented on #55816
@v-radelg , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-28 03:36] SubhashVasarapu-MSFT commented on #55503
@awentzel , Appreciate your patience. We have assigned this issue to the respective content author to update the document accordingly.

[2020-05-28 03:38] swinarko commented on #53075
#please-close

[2020-05-28 03:38] #53075 closed

[2020-05-28 03:38] SubhashVasarapu-MSFT commented on #55431
@hisasima , Appreciate your patience. We have assigned this issue to the respective content author to update the document accordingly.

[2020-05-28 03:52] SumanthMarigowda-MSFT commented on #55770
@edburns Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-28 03:52] SumanthMarigowda-MSFT commented on #55809
@bilekt3 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-28 03:53] aakashbansal001 commented on #55745
https://docs.microsoft.com/en-us/azure/data-factory/data-flow-surrogate-key

[2020-05-28 03:57] DixitArora-MSFT commented on #55515
@aasim For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-28 03:57] #55515 closed

[2020-05-28 04:00] DixitArora-MSFT commented on #55824
Hi @sidkri Thanks for your feedback. We will review and update as appropriate.

[2020-05-28 04:18] Andriy-dev commented on #55658
@mialdrid Thank you !

[2020-05-28 04:18] #55658 closed

[2020-05-28 04:36] Mike-Ubezzi-MSFT commented on #55790
@dylanbronson Thank you for bringing this to our attention. We are investigating this issue and will update you when we have information to share.

[2020-05-28 04:37] SaurabhSharma-MSFT commented on #54656
@devagnanam Thank you for your help.
@sebassem We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-28 04:37] #54656 closed

[2020-05-28 04:44] Mike-Ubezzi-MSFT commented on #55808
@rosenthalm Thank you for your inquiry. Your request is being investigated by a Blockchain engineer and will update this issue with the requested information. In the meantime, please take a look at the reference architecture items for [Blockchain](https://docs.microsoft.com/en-us/azure/architecture/browse/#blockchain).

[2020-05-28 04:45] DixitArora-MSFT commented on #55834
@chen98 Could you provide the specific section in documentation that your feedback is applicable to?

[2020-05-28 04:55] Mike-Ubezzi-MSFT commented on #55799
The International Doc Content Team has been assigned this issue and will update the documentation as appropriate.

[2020-05-28 04:57] Mike-Ubezzi-MSFT commented on #55800
@srvbpigh Closing this issue as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/55799

[2020-05-28 04:57] #55800 closed

[2020-05-28 05:07] c-nova commented on #55801
I've retry to this tutorial after move the synapse workspace from southeastasia to eastus.
Conclusion, I can made sure several spark jobs has moving on next job stage fast (about 30min. over 3 hours in southeastasia).
I suggest to write on this page as warning 'This tutorial should very long time if you deployed to 'NO EASTUS region'.

e.g.
 Important
There may be additional charges for pulling th

[2020-05-28 05:07] SadiqhAhmed-MSFT commented on #55568
@bandersmsft and @yashesvi FYI.

[2020-05-28 05:08] Mike-Ubezzi-MSFT commented on #55807
@pragnagopa Thank you for the enhancement request. This has been assigned to the content team for evaluation.

[2020-05-28 05:12] Mike-Ubezzi-MSFT commented on #55788
@BhaskarDasari Thank you for the inquiry. There is currently no Python binding for Spark. Please comment on and upvote the following UserVoice entry: [Implement python bindings for azure-sqldb-spark connector](https://feedback.azure.com/forums/217321-sql-database/suggestions/35773315-implement-python-bindings-for-azure-sqldb-spark-co) which is currently under review by the product group.

[2020-05-28 05:15] Mike-Ubezzi-MSFT commented on #55788
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-28 05:15] #55788 closed

[2020-05-28 05:17] SadiqhAhmed-MSFT commented on #55488
@bandersmsft To review and updates as appropriate.

[2020-05-28 05:18] SwathiDhanwada-MSFT commented on #55246
@HansonChiu1994 We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-05-28 05:18] #55246 closed

[2020-05-28 05:18] Mike-Ubezzi-MSFT commented on #55815
@brianlehr Thank you for making us aware of this issue. We are evaluating this and will update the documentation as appropriate.

[2020-05-28 05:19] SadiqhAhmed-MSFT commented on #55496
@roflemin Could you please share the document you are referring to?

[2020-05-28 05:19] ram-msft commented on #55397
@akuchotrani Missing data points are common in evenly distributed time series data sets, especially ones with a fine granularity (A small sampling interval. For example, data sampled every few minutes). Missing less than 10% of the expected number of points in your data shouldn't have a negative impact on your detection results. Consider filling gaps in your data based on its characteristics like

[2020-05-28 05:20] SwathiDhanwada-MSFT commented on #55302
@greendx Please do reach out to us as mentioned in earlier comment so that we can check and assist you accordingly.
As there are no further documentation changes, we will close the issue for now.

[2020-05-28 05:20] #55302 closed

[2020-05-28 05:20] Mike-Ubezzi-MSFT commented on #55817
@emanuele1986 Thank you for your inquiry. We are investigating and will update you when we have additional information to share.

[2020-05-28 05:23] euangms commented on #55801
Did you try using the new code I provided or just change region? The performance is fine in regions other than US East that we have tried (US West, Europe, UK) but we can add a specific warning about South East Asia.

[2020-05-28 05:23] Mike-Ubezzi-MSFT commented on #55827
@mjboggs Thank you for the feedback. The content team is evaluating this issue and will update the document as appropriate.

[2020-05-28 05:25] Kavita-2703 commented on #44030
The below command works fine when run manually
/<path_to_blobfuse>/mount.sh </path/to/desired/mountpoint> fuse _netdev
But when it doesn't work when added in /etc/fstab , with error "unknown filesystem"

Any updates on this topic on how to make the blobfuse mount persistent across reboots ?

[2020-05-28 05:31] akuchotrani commented on #55397
@ram-msft Thank you for the response.
So according to my understanding, it's the responsibility of the customer to perform all preprocessing steps to take care of missing value, resample the data into even buckets.

Sometimes it could happen when there's an IOT sensor is damaged or stopped emitting the data for few timestamps.

1)In real-time(streaming) how would a customer take care of the prepro

[2020-05-28 05:38] CHEEKATLAPRADEEP-MSFT commented on #55828
@kthapa1229  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-05-28 05:40] CHEEKATLAPRADEEP-MSFT commented on #55817
@emanuele1986   I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-lake-storage.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-28 05:41] RohitMungi-MSFT commented on #55597
@jpe316 Do we have a plan to update the document with more details for using an existing AKS cluster to avoid such errors? Maybe a note or pre-req section might be useful

[2020-05-28 05:47] ram-msft commented on #55397
@akuchotrani Thanks for the details. The Basic SKU brings with its simplicity several challenges. Developers have found it clumsy to build a streaming solution as every API call has to be made with a sliding window of data points; Data preparation was another barrier in terms of ingestion, sampling, aggregation, and formatting; Some customers were deterred when it came to large number of time-seri

[2020-05-28 05:49] fhtino opened #55836 "Not only static methods"
In section "Methods recognized as functions", the page says "In a class library, a function is a static method with a FunctionName and a trigger attribute".  As far as I know, I can declare a function as a non static method. In some case - like dependency injection - I'm forced to do that.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

---
#### Docume

[2020-05-28 05:50] saarivirtajCGI commented on #47130
I may have discovered an additional issue/feature: I enabled backups for the File Share via Recovery Services Vault and this may have been a somehow disruptive action, as it seems that Grafana is stuck or responding very slowly and returns a Server Error afterwards. The backup operation is probably taking over the lock and depriving Grafana access to the database file, since this basically happens

[2020-05-28 05:56] RohitMungi-MSFT commented on #55259
Thanks @likebupt. @syed-sohaib7 Could you please check if the endpoint can be updated with the above command?

[2020-05-28 06:01] BhargaviAnnadevara-MSFT commented on #55564
@jmoralesv Is there anything else you'd like us to assist you with?

[2020-05-28 06:01] SwathiDhanwada-MSFT commented on #55581
@YggY  It hasn't changed and I verified from my end and I could the principle is shown.  Can you please re check and share the snapshot ?

![image](https://user-images.githubusercontent.com/48976275/83104593-b185c180-a0d6-11ea-9c94-930cffda5f4f.png)

[2020-05-28 06:01] dudu-markovitz commented on #55568
Sorry, my bad :-)
It is fine.

This is indeed the DBU reservation and in addition with have the VM reservation.

David (דודו) Markovitz
Sr. Cloud Solution Architect, Data & AI      Mobile: +972-525-834-304
Microsoft Israel                                              Office: +972-747-119-274

[cid:image001.png@01D634CE.8BBBB410]

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Thursday, Ma

[2020-05-28 06:03] danielbjork commented on #55792
Issue was due to some re-writing of network requests, connecting with VPN or rebooting all my network devices helped and the issue is gone.

[2020-05-28 06:09] SadiqhAhmed-MSFT commented on #55568
@dudu-markovitz let us know if there is any action pending from us that needs attention or we are good to close this thread?

[2020-05-28 06:13] timleyden opened #55837 "Keyvault in the same resouce group?"
The document states
" Azure key vault is required that belongs to the same resource group as the Batch account to be created."  why does it need to be in the same resource group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2146b9a6-94f1-b2a8-972e-63602992d092
* Version Independent ID: ec164b99-5fc9-f5a1-6eb7-1d5fb1c

[2020-05-28 06:14] michaelthyregod opened #55838 "Update documentation regarding "Custom TLS policy""
[Enter feedback here]
Please update section regarding "Custom TLS policy" to reflect hard requirement on the policy "TLS_RSA_WITH_AES_256_CBC_SHA256" which is considered weak by ssllab (https://blog.qualys.com/ssllabs/2018/02/02/forward-secrecy-authenticated-encryption-and-robot-grading-update)

If the weak policy is not included Application Gateway will report failing state.

---
#### Document De

[2020-05-28 06:17] AjayKumar-MSFT commented on #55812
@NDSoul, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-28 06:25] AjayKumar-MSFT commented on #55826
@mehran63, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-28 06:37] BhargaviAnnadevara-MSFT commented on #55645
From this image, I see again that the URL isn't as mentioned in the docs.

The correct format is:
**https://yourwebsite.scm.azurewebsites.net/diagnosticservices** and not **/diagnosticservice**

Please navigate to:
**https://deepsitetest.scm.azurewebsites.net/diagnosticservices**

and let me know what you see.

I can confirm that this does work for me with the following response:

![image](https:/

[2020-05-28 06:43] RohitMungi-MSFT commented on #55823
@stevenluda Yes, you should be able to use a different max node number and if required the scaling should automatically add nodes upto your max nodes to run the experiment.

[2020-05-28 06:46] kamaljit-1991 opened #55839 "Fix(Azure Synapse): Not able to drop the primary key column"
Hello Team,

I am running into a weird situation here and I am not sure whether I am doing anything wrong here. Based on the documentation https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-table-constraints I created a primary key in a table, but I am not able to drop that column.

[code]

Then I am fetching the constraint information from table_constra

[2020-05-28 06:54] ram-msft commented on #52904
@viju2008 Speech SDK throttles to 2x by default even for on prem containers, but we have ways to work around that (special settings in speech SDK), going up to about 3x real-time with the currently shipped en-US container (will be even more in the near future). We have built this functionality into our batch client, in case you are interested in using this. It’s a way to process a large set of fil

[2020-05-28 06:54] nelsonpv commented on #50495
Thanks for the info.

[2020-05-28 06:54] #50495 closed

[2020-05-28 06:58] lissff commented on #35607
Any update on this issue? Customers find it confusing on customizing NSG, they tried to create another NSG on their own, and have no idea the newly created NSG would block all internet traffic by default;
and also they are not aware when a load balancer type service is created, what they should do on this manually created NSG.

[2020-05-28 06:58] patrickmal commented on #44030
hello

I found the way to make it persistent
this is how you  have to put in /etc/fstab

/<path_to_blobfuse>/mount.sh
</path/to/desired/mountpoint>  *            fuse
                  defaults,_netdev 0 0*

Le jeu. 28 mai 2020 à 07:25, Kavita-2703 <notifications@github.com> a
écrit :

[2020-05-28 07:05] Kavita-2703 commented on #44030
Thanks Patrick. Yeah I was able to make the entry in fstab successfully.
I was missing on the package "fuse" and hence was facing the unknown filesystem error.
Post installing the "fuse" package, it worked :) Thanks

[2020-05-28 07:09] souravmishra-msft commented on #55612
Closing this thread for now since no more updates.

[2020-05-28 07:09] #55612 closed

[2020-05-28 07:16] souravmishra-msft commented on #55566
@LXBdev, Thank you for reaching out. Looking at the error, it looks like somehow the logout request to ADFS was not correct and hence ADFS threw that error. One thing that I can think of to check here is if the certificate (public key) added under the Signature tab of the B2C relying party properties in ADFS is matches the certificate that is present in the B2C.

If this is also correct, then to t

[2020-05-28 07:17] DixitArora-MSFT commented on #55836
Hi @fhtino Thanks for reaching out. We will review and update as appropriate.

[2020-05-28 07:18] Johnnytechn commented on #55645
The result is still the same.
![](https://raw.githubusercontent.com/Johnnytechn/myimages/master/Kudu_URL_2.png)
Does it have anything to do with account permissions or the configuration information of one
 specific App Service or VPN access ?

[2020-05-28 07:22] SAIMMINHAS commented on #16033
?????

[2020-05-28 07:23] kulpras opened #55840 "Connect to Azure Storage using SAS url"
Is it possible to use SAS url to connect to blob storage ? Logic app not allowing to create connection using SAS url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1a51f6-730a-6077-6f9d-90afeaceed20
* Version Independent ID: 6d012a9a-5fbd-fd18-9656-c42e88bac5d0
* Content: [Connect to Azure Blob Storage - Azure Logic

[2020-05-28 07:27] w0ut0 commented on #54071
I am still having intermittent issues with users that can not login using Chrome. Can you clarify what the expected behavior is?
Is this something that only works on Edge?

[2020-05-28 07:37] FS-svc-azure-storage opened #55841 "Private repository in Data Factory doesn't show"
I have a private GitHub repository that I want to link to my ADF but the credentials authentication doesn't pop up and the repo doesn't show.  I am missing some configuration. I appreciate some help here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7309c102-934f-e073-823d-684804e38ff9
* Version Independent ID: 2035c

[2020-05-28 07:37] sasever commented on #55449
@Karishma-Tiwari-MSFT   yes that is the correct document. After stating the selected storeage type with -storageType FS  there is an additional command required to specify where the datafiles should be
located. the command is -datafileDestination.
the help for the command is like:
                [-storageType < FS | ASM >]
                        -datafileDestination <Destination directory for al

[2020-05-28 07:54] PhilipAnthonyMurray opened #55842 "Clarification on Key Vault CLI command and permissions requirements"
Within the **Give Key Vault access to your storage account** section of the article it states to set the **--assignee** parameter to "https://vault.azure.net". It is unclear is this is meant to be a hard coded parameter or the URL of the newly created KeyVault i.e. https://MyKeyVaultName.vault.azure.net.

Also it would be useful to understand the required permissions to run the Azure CLI commands

[2020-05-28 07:57] lucarv opened #55843 "Where are the serivce logs?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce0da6a2-d5f1-3815-53b7-83a9cacb8806
* Version Independent ID: 8773faa9-a0bd-331c-3ff5-952b946ef763
* Content: [Create an advanced simulated device model - Azure](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-device-simulati

[2020-05-28 08:18] jschwellnus92 opened #55846 "Azure Image Builder Navigation"
Hi Folks!

I was just taking a look at your Azure Image Builder documentation via 'docs/azure/virtual-machines/windows' [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-overview) and noticed in the navigation area (How-to Guides -> Use Images -> Image builder (preview)) it seems some of the articles take you to '/linux/' addresses and others '/windows/' when the

[2020-05-28 08:19] likebupt commented on #55259
Hi @syed-sohaib7   Thanks for your feedback.
We are working on AML studio, and would like to set up a call to understand your scenario, to see if our feature can satisfy your requirement.
Could you please contact keli19@microsoft.com so that we can send you the meeting invitation?
Thanks a lot!

[2020-05-28 08:20] jmprieur commented on #42830
@DanielThomasHealy it's perfectly ok to request an ID token. This is not the implicit flow in that case (even if the portal does present it as such as the moment. We are fixing this, BTW).
What we don't do is request an implicit flow access token (which would expose your application).

[2020-05-28 08:30] nuno-barreiro opened #55848 "Missing .NET Core templates for Service Fabric projects in VS 2019"
Hi,

I'm running Visual Studio 2019 Enterprise (latest version) and every time I try to create a new Service Fabric project the only options I have are for the .NET framework and I can't seem to create any .NET Core version of it like your docs show. Also tried to look into dotnet new but found no templates for it. Azure Service Fabric SDK 4.1.409 is also installed.

How can I get those templates?

[2020-05-28 08:36] rdudyk commented on #55750
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-custom-overview

and this sentence

Required license plan
Using this feature requires an Azure AD Premium P1 license. To find the right license for your requirements, see Comparing generally available features of the Free, Basic, and Premium editions.

[2020-05-28 08:37] jeppe742 opened #55849 "Wrong comment format"
Of the three comment format described, the last one (// This is a single line comment) does not seem to be interpreted as a comment
![image](https://user-images.githubusercontent.com/12828495/83118872-3967cd80-a0cf-11ea-9eb8-47ec1a01ff36.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0566a65b-8e82-4de1-0568-a6f28a

[2020-05-28 08:46] c-nova commented on #55801
Hi @euangms ,
I've just change the region to US East.
Also I agree you mentioned what put warning message about southeast region.

And I found lack of code about 'display(sampled_taxi_df.show(5))'.
Should I open another issue about it?

[2020-05-28 09:02] BhargaviAnnadevara-MSFT commented on #55645
@Johnnytechn Can you please restart your webapp once and give it another try?

[2020-05-28 09:06] Johnnytechn commented on #55645
I deliberately created a new Web App service, and finally verified the result, in which case also need to be restarted to access?

[2020-05-28 09:08] BhargaviAnnadevara-MSFT commented on #55645
@Johnnytechn Also, how was Application Insights enabled on the App Service?

[2020-05-28 09:13] haymansfield opened #55851 "Section on best practices for integration runtimes."
[Enter feedback here]

Integration runtimes and sharing. Integration runtimes don't change often and are similar across all stages in your CI/CD. So Data Factory expects you to have the same name and type of integration runtime across all stages of CI/CD. If you want to share integration runtimes across all stages, consider using a **ternary** factory just to contain the shared integration runtime

[2020-05-28 09:16] BhargaviAnnadevara-MSFT commented on #55645
@Johnnytechn I was assuming that you had configured Application Insights on the App Service already, but if not, please enable it following this document:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps?tabs=net#enable-agent-based-monitoring

[2020-05-28 09:20] jtuliani opened #55852 "Clarify use of $ErrorActionPreference"
Script states:
You can control how PowerShell responds to non-terminating errors by using the $ErrorActionPreference variable in your deployment script

It then goes on:
Despite the value you set for $ErrorActionPreference, deployment script sets the resource provisioning state to Failed when the script encounters an error.

I've read this several times over, and I just can't understand it. These

[2020-05-28 09:35] Johnnytechn commented on #55645
Oh, yes, I have not enabled the Application Insights, after enabled, the link is accessible to success, thank you! BhargaviAnnadevara-MSFT.

[2020-05-28 09:35] jtuliani opened #55853 "Clarify permissions for user-assigned MI"
Doc states we need: "A user-assigned managed identity with the contributor's role to the target resource-group."

Does this *really* need the contributor role? Granting full contributor access may be problematic in some least-privilege security scenarios. For example, a customer delegating access to a partner under Lighthouse might not want to allow the 'contributor' role to be used.

It would be

[2020-05-28 09:40] BhargaviAnnadevara-MSFT commented on #55645
@Johnnytechn Sure, glad I could help! :)

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-28 09:40] #55645 closed

[2020-05-28 09:45] Johnnytechn commented on #55645
ok, thanks!

[2020-05-28 09:46] Gurpreet103 opened #55854 "Unable to enable Selinux on Ubuntu 16.04.6 LTS VM deployed in Azure cloud"
[I am unable to enable Selinux on Ubuntu 16.04.6 LTS virutal machine deployed in Azure Cloud. Even after installing Selinux and enabling the same in the configuration and after rebooting it, it is still showing that Selinux is disabled]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814b92ed-f712-53c8-644b-d3be513a4d06

[2020-05-28 10:00] serbaniuliuscezar opened #55856 "Add documention for ARM What-If feature when using an SDK"
The ARM preview feature (similar to what Terraform does with its plan/apply flow) seems to be documented for Powershell and Azure CLI, but a short guide on using it via SDKs would be appreciated. Or at least let users know if it's even possible or if it can only be done via shell tools.

I am running my ARM deployments using Azure Python SDK and this would be a very nice feature.

---
#### Documen

[2020-05-28 10:04] nitinbhatia-dev opened #55857 "cli error with wave file"
[Enter feedback here]

spx recognize --file whatstheweatherlike.wav
above command throws invalid file format error both in windows as well as linux (ubuntu 20.04)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-6216-b2a00bbd3fdf
* Version Independent ID: 7d902f9e-4f56-30c9-4a39-7d800f92e088
* Content:

[2020-05-28 10:05] #55824 closed

[2020-05-28 10:05] Tbohunek opened #55858 "Full CIS compliance table"
The table lists points where system hardening meets CIS.

For better understanding, could the table list all CIS points and yes/no hardening indication instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d622f9d9-1e69-39ab-d32d-566e8a5b3f1a
* Version Independent ID: 007268cc-d231-7376-27c8-e968507247c5
* Content: [

[2020-05-28 10:11] nasarbasha opened #55859 "Default Registered Resource Providers"
Hello,

Maybe you should list info on which resource providers are default enabled.

Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b4bb50-25ad-a3c6-f42a-84f33c84e362
* Version Independent ID: 6188226a-1f56-2a0a-fc57-4b8616b5fe32
* Content: [Resource providers by Azure services - Azure Re

[2020-05-28 10:19] knightmeister commented on #55652
Thanks for the response, it may be worthwhile updating the documentation highlighting the differences.

[2020-05-28 10:22] kggayo opened #55860 "Clarification to transient exceptions retries"
This section at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#remoting-exception-handling
it says

Is it referring only to **ServiceProxyFactory.CreateServiceProxy** when creating the proxy with OperationRetrySettings? because when i checked the code in **ServiceProxy.Create** to create a proxy, it didn't create OperationRetrySettings

[2020-05-28 10:31] AjayKumar-MSFT commented on #55818
@mbiver,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-28 10:33] AjayKumar-MSFT commented on #55821
@smarthall, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-28 10:36] deeppr opened #55861 "Release (GA) timeline for OAuth2 bearer authentication"
Hi,

Is there a timeline which you guys have, when using OAuth2 bearer authentication for securing a REST API will be released?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac25ae741dae
* Version Independent ID: 7b7a29b9-b779-88a6-b53a-84b4a6cc1f9b
* Content: [Secure a Restful service in your

[2020-05-28 10:36] AjayKumar-MSFT commented on #55822
@jackbradshaw, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-28 10:39] AjayKumar-MSFT commented on #55829
@emacdona, Thanks for leveraging Azure docs feedback channel to raise this question. We are currently investigating and will update you shortly.

[2020-05-28 10:41] kimlundjohansen opened #55862 "Data Factory: ARMTemplateForFactory and ARMTemplateParametersForFactory cannot handle brackets in trigger values"
If your trigger parameters in Azure Data Factory contains JSON with "[", the first representation of every JSON property is replaced by a double "[[". Below is an example of a trigger. Note that the **SourceTableName** and **TableName** contains brackets.

`{
    "name": "PackData_NY",
    "properties": {
        "annotations": [],
        "runtimeState": "Started",
        "pipelines": [

[2020-05-28 10:43] nitinbhatia-dev commented on #55857
if i directly do save link as file sizer is about 133kb...this does not
if i open the github link and then download raw, filesize is 65kb...this works

[2020-05-28 10:43] #55857 closed

[2020-05-28 11:05] cqueern opened #55863 "Next steps section contains an unecessary parenthesis"
...should probably read:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6327ed0b-21da-4c50-ea67-9699f6ceec08
* Version Independent ID: fbfdb3f1-641a-6453-d4a0-e56472e71d75
* Content: [What is Azure Key Vault?](https://docs.microsoft.com/en-us/azure/key-vault/general/basic-concepts)
* Content Source: [articles/key-vault

[2020-05-28 11:08] syed-sohaib7 commented on #55259
Done. Thanks @likebupt .

[2020-05-28 11:08] AndreasMWalter opened #55864 "SMT Status unknown"
The table doesn't inform whether SMT is enabled or disabled for AMD Epyc based systems such as
Dasv4 or Easv4. The much higher ACU in comparison with the respective Intel D or E-Series might suggest that it is off, a clarification might help when picking the right VM-Size.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-28 11:12] roofiq opened #55865 "Failover group with VNets"
Hello,

I have a scenario where I have web app (in west eu) that is connected to failover group (in west eu and north eu).
I want to improve security by closing everything in virtual networks. I thought that it would be sufficient to create two VNets in those two regions and just create peering between them.

But it seems that it's not so straightforward, right?
It has to be configured with either

[2020-05-28 11:14] lopejum opened #55866 "C# Botframework: get the key "Authorization" (bearer token sent by the client web-chat)"
Hello

I need to extract / get / retrieve the field "Authorization" into my EchoBot.cs (this is the bearer token created and sent by the user, from the web-chat)

So, what's the best way into de code to retrieve this field from "turnContext"?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fd0bdf8-7cb8-1f26-65a

[2020-05-28 11:28] Farzad-Jalali commented on #52418
you are right, thanks you save one day of my life!
I used the  --validate=false and the after a few minutes you could see the valid certificate throw your browser!  :)

[2020-05-28 11:36] luistelmocosta opened #55867 "Last Point Anormaly detection"
Hello, I have a doubt regarding the last point anormaly detection feature. Imagine that I want to detect if the last data point is anormal but I want that prediction to be consistent with the history. Shouldn't the model be trained in the whole dataset first, get the parameters and then evaluate each data point accordingly?

For what I read, a data point is just sent to the API and it is evaluated

[2020-05-28 11:38] timleyden opened #55868 "AZURE_FUNCTION_PROXY_BACKEND_URL_DECODE_SLASHES is misleading"
the name, description and example implies that unless the route param is encoded on the incoming request it will not need to be decoded. My expectation being if I do not set the setting to true slashes would not be modified neither encoded or decoded. However in my testing all / are encoded to a %2f unless you specify this property to be true.

example
route template: "/api/proxy/speechtotext/{*re

[2020-05-28 11:40] DixitArora-MSFT commented on #55868
@timleyden I have assigned this to content author for further review and update as appropriate.

[2020-05-28 11:42] markarnolditpro commented on #55531
@TravisCragg-MSFT I gave it a shot but this UI doesn't seem to take a query as an input.

[2020-05-28 11:43] AjayKumar-MSFT commented on #55857
@nitinbhatia-dev,  Thanks for leveraging Azure docs feedback channel to raise this question.
We see that you have closed this issue, kindly let us know if you need further assistance with this we would be more than happy to assist you.

[2020-05-28 11:43] DixitArora-MSFT commented on #55840
Hi @kulpras Thanks for reaching out. We will review and update as appropriate.

[2020-05-28 11:55] panjevic commented on #55744
We managed to get it working by changing the function app registration manifest to 	"accessTokenAcceptedVersion": 2,

[2020-05-28 12:01] medavamshi commented on #53610
I figured out the default machine types.  Standard_D4s_v3

[2020-05-28 12:04] medavamshi opened #55869 "Whats the different between az openshift vs az aro deployment? one and the same?"
What's the different between az openshift vs az aro deployment? one and the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a12fffe-6845-d5ec-08ea-c2e230b5bc4b
* Version Independent ID: dc374dc6-2304-4eea-5d59-c7f4e0a43555
* Content: [Introduction to Azure Red Hat OpenShift](https://docs.microsoft.com/en-us/azure

[2020-05-28 12:12] roflemin commented on #55496
https://docs.microsoft.com/en-us/azure/sentinel/connect-common-event-format

the list of supported operating systems. The CIS Benchmark builds do not work, but we have had customers try to install it on them and it does not work.

[2020-05-28 12:12] Falconwmua commented on #55813
Yes. It would better align with the various other services we use and keep a consistent authentication model.

[2020-05-28 12:15] SnehaAgrawal-MSFT commented on #55578
@hansmbakker Thanks for the valuable feedback! The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) and upvote it. The product group monitors this site for feedback.

Having said that, I will internally work on this and update here accordingly.

We will now proceed to close this thread. If there are further questions rega

[2020-05-28 12:15] #55578 closed

[2020-05-28 12:18] spunukol commented on #54071
#assign @SanDeo-MSFT

[2020-05-28 12:19] cryptofetti commented on #55687
Please see the following output. I am noticing a status of "Unavailable" when I run the below cmd. Could this be my potential issue? I also do not see a registry key for the following:

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\RDInfraAgent --> (there is now RDInfraAgent folder listed in the registry currently)

PS C:\Users\username> Get-RdsSessionHost -TenantName -HostPoolName

SessionHostName    : S

[2020-05-28 12:23] dave-mccollough opened #55870 "Missing word"
In the following sentence, 'a' should be 'any':
By default Restore-AzDeletedWebApp will restore both your app configuration as well a content. If you want to only restore content, you use the -RestoreContentOnly flag with this commandlet.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2233ca-e4c5-a53b-f493-31

[2020-05-28 12:29] hansmbakker commented on #55578
I added my perspective to https://feedback.azure.com/forums/169385-web-apps/suggestions/37053178-key-vault-references-for-app-service-for-connectio, but I feel that reporting something on Uservoice is similar to throwing something in a black hole.

I am very annoyed that uservoice is required for feedback on the product, because in practice there is no good way to have a discussion there, and I ha

[2020-05-28 12:33] SadiqhAhmed-MSFT commented on #55496
@roflemin Thanks for bring this to our attention. This is being assigned to the content owner for review.

@rkarlin & @yelevin To review and update as needed.

[2020-05-28 12:43] medavamshi opened #55871 "Deployment failed. invalid: custom DNS servers are not supported on the vNet."
How to use existing vnets that has custom dns servers defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Content: [Azure Virtual Network FAQ](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks

[2020-05-28 12:54] AshokPeddakotla-MSFT commented on #55285
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-28 12:54] #55285 closed

[2020-05-28 12:55] jptarqu opened #55872 "404 on the vanilla generate link"
https://github.com/staticwebdev/vanilla-basic/generate throws a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
* Content: [Quickstart: Building your first static web app with Azure Static Web Apps](https://docs.micr

[2020-05-28 13:13] xom-pschiess commented on #55806
This role needs to be revisited - User admin has the ability to create groups AND users... which is significantly higher privilege and security implication than just creating and managing groups

[2020-05-28 13:15] JoeBengalen opened #55874 "Default protocol. AMQP or HTTP?"
I am wondering what the default protocol is for the dotnet `Microsoft.Azure.ServiceBus` SDK, since the documentation seems to state different things.
This page declares the default being SOAP (HTTP)

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-dotnet#configure-net-applications-to-use-amqp-10

While the page about "Optimize performance" states that AMQP is the defa

[2020-05-28 13:23] antonioberetini opened #55875 "Custom build scrip"
My team and I are trying to run storybook.js and next.js which both require a build to run. Is it possible to build both on deploy?

[2020-05-28 13:25] #55665 closed

[2020-05-28 13:26] antonioberetini opened #55876 "Custom build scripts"
Is it possible to run two build scripts let's say I want to build next.js and storybook.js at the same time.

[2020-05-28 13:30] jouniheikniemi opened #55877 "Can't find information on the permission set required for ACR listCredentials"
I can't seem to find an explanation of which permissions I need to grant to allow a service principal to perform an ARM listCredentials on an ACR instance. Contributor is sufficient, AcrPull isn't; haven't tried all the others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2b8b02-584a-d113-0ed4-d2c4821ba774
* Versio

[2020-05-28 13:30] VikasPullagura-MSFT commented on #55858
@Tbohunek
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-28 13:30] VikasPullagura-MSFT commented on #55858
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-28 13:31] KrishnaG-MSFT commented on #55856
@serbaniuliuscezar Thanks for the comment!
Assigning @mumian for visibility, review and document enhancement consideration.

[2020-05-28 13:33] KrishnaG-MSFT commented on #55859
@nasarbasha Thanks for the comment!
Assigning @tfitzmac for visibility, review and document enhancement consideration.

[2020-05-28 13:33] NavtejSaini-MSFT commented on #55663
@CharmanderJieniJieni We are going ahead and closing this thread for now. Please get back to us if you have any further question.

[2020-05-28 13:33] #55663 closed

[2020-05-28 13:35] zlDev opened #55878 "Dead Links"
Majority of the links are dead and not pointing to any docs.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8971bf0-28a2-2440-fde2-f8f262fae7b4
* Version Independent ID: 3b9de397-5346-9d30-c8af-6e9f0e619f26
* Content: [Microsoft Services in Cybersecurity](https://docs.microsoft.com/en-us/azure/security/fundamentals/cyb

[2020-05-28 13:35] urduitacademy commented on #43271
Despite conditional access, it is not enforcing users to Enter MFA again .

[2020-05-28 13:36] KrishnaG-MSFT commented on #55853
@jtuliani Thanks for the comment!
Assigning @mumian for visibility, review, to help provide insights and for document enhancement consideration.

[2020-05-28 13:38] KrishnaG-MSFT commented on #55852
@jtuliani Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-28 13:39] bsocca opened #55879 "Alternate Phone really supported ?"
Hello,

The Alternate phone feature is indicated to be supported for the combined registration referring to this documentation.
However, after enabling the feature, it is not possible for users to add another phone number in their security informations. As administrator, it does not seem also possible to add this attribute in Powershell.

Could you confirm this feature is really supported ? If yes

[2020-05-28 13:39] JoeBengalen commented on #55874
I guess this answers my question https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.transporttype?view=azure-dotnet

Only `Amqp` and `AmqpWebSockets` is supported. Still means the docs are wrong though.

[2020-05-28 13:40] VikasPullagura-MSFT commented on #55846
@jschwellnus92
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-28 13:40] VikasPullagura-MSFT commented on #55846
@cynthn
Can you please check and add your comments on this.

[2020-05-28 13:42] amanmcse commented on #55529
@pravin197 I am closing this thread. Feel free to tag me in your reply if you have any question.

[2020-05-28 13:42] #55529 closed

[2020-05-28 13:44] VikasPullagura-MSFT commented on #55864
@AndreasMWalter
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-28 13:44] VikasPullagura-MSFT commented on #55864
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-05-28 13:44] AshokPeddakotla-MSFT commented on #55843
@lucarv Could you please elaborate your question bit more to understand better?

[2020-05-28 13:46] yoelhor commented on #55126
Hi @MartinManchev, thanks for the feedback. Do you use the `ResolveJsonPathsInJsonTokens` metadata in your technical profile?

Can you share the InputClaims section of the technical profile?
If I understand correctly the error occurs when the return value is `[]`, correct?

[2020-05-28 13:49] dylanbronson commented on #55790
I deleted everything I had done and started from scratch and it worked.
Not sure why it wasn't working at first. Feel free to close!

[2020-05-28 13:50] yoelhor commented on #55539
Could you check if there is any error on the browser **console**?
![image](https://user-images.githubusercontent.com/20111866/83149921-5d450680-a103-11ea-9bea-54cc928e0feb.png)

[2020-05-28 13:54] Herman5006 opened #55881 "how to use traffic manager with public IP endpoints from other subscription"
[Enter feedback here]
In this link, it says:
Using endpoints from multiple subscriptions is not possible with Azure Web Apps. Azure Web Apps requires that any custom domain name used with Web Apps is only used within a single subscription. It is not possible to use Web Apps from multiple subscriptions with the same domain name.

For other endpoint types, it is possible to use Traffic Manager with

[2020-05-28 13:59] NothingMuch123 opened #55883 "Missing prerequisites"
It will be nice to mention the need to install "Desktop development with C++" in Visual Studio 2019. From the problem I encoutered earlier, RemoteRenderingClient.dll and Microsoft.Holographic.HybridRemoting.dll failed to load because of missing dependencies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99450c3c-4213-

[2020-05-28 14:01] SeaDude opened #55884 "Python Runtime, Consumption Plan Deployment Examples NEEDED"
I must be the first person ever to deploy an Azure Function with python runtime.

1. **When attempting to deploy using the VS Code Azure Functions extension, I get the errors**:
- `Linux consumption plans only support .zip deploy`
![image](https://user-images.githubusercontent.com/8636973/83147014-f34d4280-a0ab-11ea-915d-575e392b61f1.png)
- `Malformed SCM_RUN_FROM_PACKAGE when uploading built cont

[2020-05-28 14:04] shashishailaj commented on #55589
@ThijsLecomte We are trying to get this information from the back-end. It might take us some time to get it checked.

Thank you.

[2020-05-28 14:04] shashishailaj commented on #55589
@vipulsparsh Could you please look into this ?

[2020-05-28 14:06] FlorianBorn71 commented on #55883
Thanks for the feedback, I'll have a look into this and add this.
Cheers,
Florian

[2020-05-28 14:07] portacha commented on #55793
This is my code. The Virtual Machine in azure is a new Ubuntu 18.04 with apache and php.
On another servers works perfect. But in azure the code return this.

Warning: file_get_contents(): php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution in /var/www/html/AzureText/script.php on line 60

Warning: file_get_contents(https://********.cognitiveservices.azure.com/text/a

[2020-05-28 14:09] SeaDude commented on #55632
@APressatoGEOS , are you trying to deploy a python-runtime Azure Function?

[2020-05-28 14:11] lucarv commented on #55843
yes i can. the accelerator is broken. if you create an advanced device model as described in the page, the telemetry sent to IoT Hub is always the initial value, the functions are never called. According to the document you can trace the execution with logs, and the document tells you to check the service logs, whatever these are. They are not in the application itself, so I wonder where it is. Wh

[2020-05-28 14:16] keschnei42 opened #55885 "If SAML is used for login, why is WS-FED being called for logout?"
If SAML is used for the login to Gsuite, why do these directions say call WS-FED for logout?  That may not show an error, but the user isn't really logged out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [T

[2020-05-28 14:24] shooker opened #55886 "Metrics Dimensions Section - Open <a> tag"
There is an open <a> tag causing an entire section to look like a link in the Metrics Dimensions section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 595d902d-2dd2-f0c5-c2d3-59f2596c746c
* Version Independent ID: b3432bf6-6230-3d46-aae3-1f3410de8a95
* Content: [Azure Storage monitoring data reference](https://docs.m

[2020-05-28 14:27] abshouston commented on #55763
I updated the validation profile as below. if "login-NonInteractive" returns success it works. if it fails then "SecureREST-AccessToken" fails. See the screenshot below. FYI..I can get the access token from the same endpoint successfully in Postman.

![image](https://user-images.githubusercontent.com/38496776/83154125-5eefd980-a0c5-11ea-9d1c-b12633741d16.png)

[2020-05-28 14:28] jrwalzer commented on #53853
@rohitnayakmsft - when you say, "If you set it to No ( default) then you have both public access ( via firewalls)" what firewalls are you referencing?

Thx

[2020-05-28 14:31] srvbpigh commented on #24559
Hello, @javierruizjimenez

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-28 14:31] APressatoGEOS commented on #55632
Hi Eric,
I have correctly deployed 5 functions.
The problem started when I tried to deploy the sixth, an "Azure Queue Storage Trigger" function.
Deploing I got the error message "Malformed SCM_RUN_FROM_PACKAGE when uploading built content.
Deployment Failed".
Being the only change made to the project I tried to cancel it but it was not possible to do it from VS Code or from the Portal.
My solution

[2020-05-28 14:33] SamaraSoucy-MSFT commented on #55662
I'll pass this to the doc author to look at. The general page listed just after the language specific ones does have Javascript instructions, but we may want to add a Javascript-specific page similar to what exists for the other languages.

[2020-05-28 14:33] SnehaAgrawal-MSFT commented on #55627
@OzBob Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-28 14:36] Joe8908 opened #55887 "No mention of how to use Wildcards in Expressions"
Hi,
Good summary of the functions and expressions here, but no mention of how we can use a wildcard like * to do a filename pattern ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions in

[2020-05-28 14:38] SeaDude commented on #55632
Hm. I've tried multiple times, same result. I have several open questions in various Microsoft doc repos and out on StackOverflow.
I cannot seem to get a python runtime deployed using either the VS Code Extension, `functools` nor `az cli`.

[2020-05-28 14:39] Chris-May opened #55888 "Guide broken for Static Site"
I've had a very frustrating few days, trying to set up a static website on Azure storage accounts.

It seems the static website documentation, the portal, and the CLI are out of sync.

- [The documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website#viewing-content) says you can only set up static websites in "traditional" storage accounts (forgive me, I don't

[2020-05-28 14:45] LeonJansen commented on #55076
@Karishma-Tiwari-MSFT The problem still exists. When i try to add a Virtual Machine to a exisiting host pool to error message appears: The value of deployment parameter 'vmInitialNumber' is null. Please specify the value or use the parameter reference.

I am using the following image:
Windows 10 Enterprise multi-session, Version 2004 + Office 365 ProPlus

[2020-05-28 14:47] GiftA-MSFT commented on #55867
@luistelmocosta we will review your feedback and get back to you shortly. Thanks.

[2020-05-28 14:48] athmanb opened #55889 "This documentation is out of date and erroneous"
The screenshots in this article are out of date.
The method described also does not work if it is reasonably translated to the new interface. Subscriptions can still block the deletion process even if they are not listed on the Subscriptions list anymore. Since they are not listed they can also not be deleted anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-05-28 14:49] youngbink commented on #52431
@dheerajkumar-solanki Thanks for the details! we will shortly investigate this issue.

[2020-05-28 14:52] curtand commented on #50216
Hi @tsrob50
The PIM UI and documentation for Azure AD roles has been updated on 4/23. I hope this helps your experience.

#please-close

[2020-05-28 14:52] #50216 closed

[2020-05-28 14:53] acomley commented on #43468
I noticed that you can now specify the field that maps to topic when creating the Event Grid Domain. I added a custom field called `route` to handle the topic. Verified this all works by just making a direct request to the endpoint (no sdk) using a `Content-Type: application/cloudevents-batch+json`.

[2020-05-28 14:54] JamesTran-MSFT commented on #55806
Hi @xom-pschiess,

Thanks for the quick response. I have reached out to my colleagues regarding this and will update as soon as possible.

[2020-05-28 14:55] macolso commented on #39725
Hey @porrascarlos802018  - to answer your question, in general pods deployed from virtual nodes should come up quicker than it would take to scale out another node with VMSS. However, we have a limit of 16GBs for Virtual Node pods as we do not support GPU-compute yet, although it is on the roadmap.

[2020-05-28 14:56] Vijayshubhankar opened #55890 "Issue in the Clean Up deployment section"
You have mentioned that we need to create a resource group with the name myresourcegroup at the beginning of the tutorial. If that is followed then in the CleanUp deployment section,

The code snippet should be
Remove-AzResourceGroup -Name myresourcegroup -Force instead of
Remove-AzResourceGroup -Name $webappname -Force

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-28 14:59] dvanderslice commented on #55581
We have the same issue for several random subscriptions that do not have the Enterprise Application or Principal ID for the "Appliance Resource Provider". We cannot deploy any Service Definition Managed Applications without it for a particular application. Has something changed with this or is there a way that we can register that provider?

[2020-05-28 15:01] APressatoGEOS commented on #55632
Hm...
In my case the problem was due exclusively to the "Queue Storage" function.
Once deleted from Local Sources, if I had managed to delete it from the APP Service everything would have worked again.
I have 5 "HTTP Triggered" functions in production that have deployed smoothly from VS Code.

I'm quite new on Azure and I don't know what the basic parameters are to report ...
I am working with Pyt

[2020-05-28 15:04] evolve700 opened #55891 "Built-In Server Certificate Strength?"
Strangely enough this document does not state the type of certificate and its strength for service-managed TDE. You state that you encrypt with AES256, but is the built-in server certificate based on RSA or EC? Is it 2048bits or less/more? Would be nice to have that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-28 15:05] artisticcheese opened #55892 "Please update the page with time expectations when configuration stabilized"
Current info states that one need to wait ~10 mins for changes. Please provide indicator on page (like it was on Application Gateway) that changes are still being updated. For me personally it took 20+ minutes for changes to take effect and there is no indication anywhere within Azure wether configuration is still incosistent and wether behavior one is seeing is due to misconfiguration or due to u

[2020-05-28 15:07] AlexeyKoltsov opened #55893 "No related policy for recommendation"
The document says for the **Install monitoring agent on your virtual machines** recommendation: `Related policy: Monitoring agent should be enabled on your virtual machines`

But I cannot find such a policy within any of my subscriptions.
Also, the definition for the assessment metadata id "/providers/Microsoft.Security/assessmentMetadata/d1db3318-01ff-16de-29eb-28b344515626" which refers to this

[2020-05-28 15:10] RavennMSFT commented on #54071
@w0ut0 It's not clear whether you have issues on Chrome or Edge, can you please clarify.

Device-based conditional access and SSO work by default in Edge, but require the Windows 10 Accounts extension on Chrome.

[2020-05-28 15:15] ClaudioRifo commented on #43271
Check the Sign-ins of the user on AzureAD to see why Conditional access was not applied.

By any chance have you configured IPs on the whitelist of MFA?

Also, has it ever asked for MFA? if it has it will not ask again until the X number of days as setup on MFA.

[2020-05-28 15:20] NorthHighlandNicole commented on #36012
Am I missing something? I still don't see that xml snippet in this documentation: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-cluster-description#placement-constraints-and-node-property-syntax

[2020-05-28 15:34] jdemaree commented on #53853
Sorry at the local resource firewall level.

We identified that even if you apply a private link the public link remains
open and usable unless you specifically disable it with the toggle.

On Thu, May 28, 2020 at 9:28 AM jrwalzer <notifications@github.com> wrote:

[2020-05-28 15:36] AspenForester commented on #55700
I found the problem and it was me.

[2020-05-28 15:36] #55700 closed

[2020-05-28 15:40] AjayKumar-MSFT commented on #55837
@timleyden, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-28 15:42] BharathNimmala-MSFT commented on #55886
@shooker Thank you for bringing this to our notice, will look into it and update the document accordingly.

[2020-05-28 15:44] AjayKumar-MSFT commented on #55838
@michaelthyregod, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-28 15:47] Mike-Ubezzi-MSFT commented on #55462
@mafais Did you need additional assistance with this? Since we haven't heard back from you, we are going to move forward with closing this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-28 15:47] #55462 closed

[2020-05-28 15:54] w0ut0 commented on #54071
I had the problem when using Chrome browser.

Thank you for your response.

Is it possible to clarify in the documentation that the "Windows 10 account" extension is required to enforce "Device State" in Chrome?

[2020-05-28 15:58] AjayKumar-MSFT commented on #55839
@kamaljit-1991, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-28 15:59] SanDeo-MSFT commented on #54071
We do document here https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: w0ut0 <notifications@github.com>
Sent: Thursday, May 28, 2020 8:55:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sandeep Deo <sandeo@microsoft.com>; Assign <as

[2020-05-28 16:01] elvirk opened #55894 "Sharing Gallery"
Can Gallery be shared at the Subscription level instead with user or service principle?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64aca2a-97a2-97e1-8c76-fe22028574c3
* Version Independent ID: 2515f36b-1bb0-1594-39c9-60123b88e6cd
* Content: [Create shared Azure Linux VM images using the portal - Azure Linux Virtua

[2020-05-28 16:07] CharmanderJieniJieni opened #55896 "How to distinguish authentication from user and root access key"
Hi,

Reading from [this document](https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-log-format) we can see for log version 2.0 there is a user principal field which logs if the storage account is accessed from a user, however, when we check our logs, this field is empty. Does it mean the request is using root access key to authenticate in this case?

---
#### Document Det

[2020-05-28 16:08] Karishma-Tiwari-MSFT commented on #55848
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 16:10] Karishma-Tiwari-MSFT commented on #55860
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 16:13] Karishma-Tiwari-MSFT commented on #55877
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 16:23] duanecr opened #55897 "Incorrect word usage"
The page has on-premise instead of on-premises.  There is no such word as on-premise.  It is always on-premises when referring to a location.  A premise is a belief.  Premises is one ore more locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49421ed5-6252-b24f-2983-ae58cea26df2
* Version Independent ID: 0dd3e8b

[2020-05-28 16:31] sorantis commented on #47031
Hi @MarkusVi, wondering if there's been any progress with this? Thanks.

[2020-05-28 16:33] hpsin commented on #55792
Thanks for the update Daniel. #please-close

[2020-05-28 16:33] #55792 closed

[2020-05-28 16:33] mmacy commented on #55576
Hi @Calvin-Yuhui-Liu, checking in to see how it's going on this issue. If you're all set, let us know and we can close it out. Otherwise, let us know what additional information you require and we can work through it.

[2020-05-28 16:34] Karishma-Tiwari-MSFT commented on #16033
@SAIMMINHAS Sorry for the delay on this. We would need a support engineer to do live troubleshoot with you on this. Can you please send an email to AzCommunity@microsoft.com with your subscription Id and link to this thread. I will enable support request for you and provide further instructions on it.

[2020-05-28 16:35] euangms commented on #55801
Sorry I don't understand what you mean by "a lack of code".

Did you use my code from above, it does the following;

#sampled_taxi_df.show(5)
display(sampled_taxi_df)

[2020-05-28 16:38] SubhashVasarapu-MSFT commented on #55897
@duanecr , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-28 16:40] KranthiPakala-MSFT commented on #55849
@jeppe742 Thank you for the feedback. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-05-28 16:40] AjayKumar-MSFT commented on #55841
@FS-svc-azure-storage,  Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for Azure documentation feedback and content enhancement.

I understand you're configuring a private repo, could you please share any Azure documentation that you maybe referring to? And, also kindly share some more details about the scenario you are trying to accomplish.

[2020-05-28 16:44] AjayKumar-MSFT commented on #55854
@Gurpreet103, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-28 16:45] cynthn commented on #55846
@jschwellnus92 Thanks for the feedback! In some cases, there are no differences between Windows and Linux, so we create one file and share it into both TOCs. I'll take a look at how the topics are shared and make sure it is working correctly. Thanks again!

#please-close

[2020-05-28 16:45] #55846 closed

[2020-05-28 16:46] cloudmelon commented on #55597
I read a blog on kubernetes.io blog about kubeflow and all about ML pipeline on Kubernetes, I am interested in blogging in tech community something around how to work with Azure ML on AKS, and happy to support if you need it then convert it to a documentation article. We could set up a call to discuss about it. https://kubernetes.io/blog/2020/05/my-exciting-journey-into-kubernetes-history/

[2020-05-28 16:47] AjayKumar-MSFT commented on #55862
@kimlundjohansen, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-05-28 16:47] Mike-Ubezzi-MSFT commented on #55592
@dotnetjunky It appears that the issue you reported and a planned documentation update are very well timed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
@erhopf Thank you for the update.

[2020-05-28 16:47] #55592 closed

[2020-05-28 16:49] BreakingBI opened #55898 "Limited Documentation Available for Storing Custom Environment Variables"
[Enter feedback here]

I'm working with a customer who has a use case for storing global variables at the environment level to be used by multiple developers across multiple use cases.  It was extremely difficult to find this in the documentation.  I was able to scrape it together by scouring the syntax documentation.

env = Environment(name="Sample-Environment")
env.environment_variables.update({

[2020-05-28 16:52] SatishBoddu-MSFT commented on #55633
@smartpcr Just checking back, Please let us know if you need further help.

[2020-05-28 16:52] #55870 closed

[2020-05-28 16:54] SaurabhSharma-MSFT commented on #53017
@jpb501 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-28 16:54] #53017 closed

[2020-05-28 16:56] garybushey opened #55899 "Links in step 1 and 2 are the same"
[Enter feedback here]
Are the links in step 1 and step 2 supposed to both point to the same place (a listing of CEF documents for Palo Alto)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4894ff7c-b711-09f1-360d-6411c5d3ffa5
* Version Independent ID: c10300bf-5467-0a77-ffe4-09fb0ca80dbd
* Content: [Connect Palo Alto N

[2020-05-28 17:02] PeterCLu commented on #55259
Since our product team has requested additional details directly, I'll proceed to #please-close this issue.

[2020-05-28 17:02] #55259 closed

[2020-05-28 17:02] SaurabhSharma-MSFT commented on #55893
@AlexeyKoltsov Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-28 17:03] SaurabhSharma-MSFT commented on #55863
@cqueern Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-28 17:03] HWouters commented on #55059
Thank you for answering @SaurabhSharma-MSFT !

[2020-05-28 17:06] SatishBoddu-MSFT commented on #55465
@payalgaikwad42 Please let us know if you need further help.

[2020-05-28 17:06] lucidqdreams opened #55900 "Cant install dependency agent on Azure Linux VM (RHEL & Ubuntu)"
I cant install the dependency agent onto a redhat VM in Azure

[root@zooombee03 ~]# wget --content-disposition https://aka.ms/dependencyagentlinux -O InstallDependencyAgent-Linux642.bin
--2020-05-28 16:34:17--  https://aka.ms/dependencyagentlinux
Resolving aka.ms (aka.ms)... 2.21.120.100
Connecting to aka.ms (aka.ms)|2.21.120.100|:443... connected.
HTTP request sent, awaiting response... 301 Moved

[2020-05-28 17:07] himanshusinha-msft commented on #55851
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-05-28 17:10] himanshusinha-msft commented on #55887
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-28 17:11] DonPetry-EY opened #55901 "Missing historical release notes"
There have been more releases of DSVM images than listed here.  This information seems to be missing or removed.  Please re-add to provide visibility and knowledge of releases such as:
 - Server 2012
 - CentOS
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46fda6c3-785b-6773-af26-ff4faceba3e5
* Ve

[2020-05-28 17:22] SaurabhSharma-MSFT commented on #55878
@zlDev Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-28 17:23] SaurabhSharma-MSFT commented on #55889
@athmanb Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-28 17:24] SaurabhSharma-MSFT commented on #55885
@keschnei42 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-28 17:25] hrasheed-msft commented on #53989
@MartinJaffer-MSFT could you reassign this issue to the synapse-analytics service?

[2020-05-28 17:37] RyanHill-MSFT commented on #55870
Thanks for the feedback @dave-mccollough, I've made the corrections and should be live momentarily.

[2020-05-28 17:39] CeciAc opened #55903 "Update az commands"
@adiazcan commented on [Fri May 22 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/723)

This page refer to how to create a cluster with version 4 but the az commands refer to version 3. You have to change az openshift for az aro because az aro is the new extension for version 4

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vincula

[2020-05-28 17:46] SatishBoddu-MSFT commented on #55790
@dylanbronson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-28 17:46] #55790 closed

[2020-05-28 17:49] RohitMungi-MSFT commented on #54875
@khmerforce We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-28 17:49] #54875 closed

[2020-05-28 17:50] RohitMungi-MSFT commented on #55502
@JonathanPalmerGD We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-28 17:50] #55502 closed

[2020-05-28 17:52] RohitMungi-MSFT commented on #55616
@Brunolosse I think generateAnswer API does not capture this information so they are blank in the requests query.

[2020-05-28 17:53] GuyPaddock commented on #51307
Another question here -- why does specifying a `max_age` cause the "Don't ask again for 7 days" option to become greyed out if an MFA token is required during the re-auth?

[2020-05-28 17:54] GuyPaddock commented on #51307
Any updates @souravmishra-msft or @rwike77? We have gotten a few questions about the MFA side effect here and I don't have docs to fallback on.

[2020-05-28 17:59] jrwalzer commented on #53853
@jdemaree - TYVM for the reply and info

[2020-05-28 18:03] SumanthMarigowda-MSFT commented on #55651
@arvinder-dhar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 18:03] pulakkumar599 opened #55904 "Cannot enter values in the Allowed object IDs: box after createing a Azure API for FHIR server"
Hi,

I have a azure free subscription account and I have created a Azure API for FHIR. But even after creating the "Allowed object IDs" box is grey in color and is disabled. I am not able to enter any object Id inside it.
 I tried assigning the role FHIR Data Reader to the user that is my account here. But even after that the box does not get enabled. Can you please help me out.
Attaching the scre

[2020-05-28 18:07] SumanthMarigowda-MSFT commented on #55809
@bilekt3 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 18:12] jeevansd commented on #55438
Yes, this is supported in the new version of the plugin.

[2020-05-28 18:12] jeevansd commented on #55438
#please-close

[2020-05-28 18:12] #55438 closed

[2020-05-28 18:22] dbird03 opened #55905 "Additional documentation for non-interactive sign-ins"
This Docs page has an Important note that says:

It would be helpful if there was additional documentation about non-interactive sign-ins. Are these logged anywhere? We recently noticed that there is no sign-in event generated when users authenticate using the Microsoft Authenticator app. Is this a form of non-interactive sign-ins? I tried searching, but I was not able to find any additional detai

[2020-05-28 18:23] craigshoemaker commented on #55872
I just tried the URL again and verified that the destination is correct. Perhaps it was something on your end? Please feel free to re-open if you think there is still something we should address here.

#please-close

[2020-05-28 18:23] #55872 closed

[2020-05-28 18:27] jtwardos commented on #55076
Same issue still persists for me as well. Using the same image, but version
1909.

On Thu, May 28, 2020 at 10:45 AM LeonJansen <notifications@github.com>
wrote:

--

John

[2020-05-28 18:27] SaurabhSharma-MSFT commented on #55278
@b3spoke I am checking this internally with the product team and let you know of my findings.

[2020-05-28 18:27] craigshoemaker commented on #55562
Thanks for the suggestion, @mattmazzola!

This is really more of a product request than something that can be addressed in the docs. You can always provide product feedback at https://github.com/azure/static-web-apps/issues, but mono-repo support is something the Engineering team is evaluating.

#please-close

[2020-05-28 18:27] #55562 closed

[2020-05-28 18:29] Brunolosse commented on #55616
RIP... :( It would be easier with this info, as we are in an early stage, separating my tests from actual user questions would be nice.

[2020-05-28 18:29] JamesTran-MSFT commented on #55755
@Chai-NED

Thank you for your time and patience over the course of this issue, I will now proceed to close this thread. If you would like to continue the discussion feel free to reach out on Microsoft Q&A or create a new issue.

[2020-05-28 18:29] #55755 closed

[2020-05-28 18:32] craigshoemaker commented on #55516
@richardrobberse - you secure an API route via defining the `allowedRoles` array in the [routes.json file](https://docs.microsoft.com/azure/static-web-apps/routes#example-route-file). So once you secure an API route you would only need to access the request header when you need to access user information.

Does this help clarify?

[2020-05-28 18:34] craigshoemaker commented on #55517
Unfortunately there are no local scenarios for testing anything using the `.auth` folders at the moment. While this is something that the engineering team is evaluating, please feel free to add your suggestions and feedback to the product here:

https://github.com/azure/static-web-apps/issues

#please-close

[2020-05-28 18:34] #55517 closed

[2020-05-28 18:37] craigshoemaker commented on #55532
Azure Static Web Apps works with private GitHub repositories. Can you tell me more about the issue you're facing?

[2020-05-28 18:37] craigshoemaker commented on #55476
@miwebst - can you comment, please?

[2020-05-28 18:38] Mike-Ubezzi-MSFT commented on #55841
@FS-svc-azure-storage As part of the GitHub repository integration, you are adding your credentials to Azure Data Factory: Please see: [Configure a GitHub repository with Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/source-control#configure-a-github-repository-with-azure-data-factory).

[2020-05-28 18:39] PeterCLu commented on #55901
#assign:@laobri

[2020-05-28 18:39] PRMerger16 commented on #55901
laobri is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-05-28 18:39] asudbring commented on #55431
Sending over to PM for review and plan to update doc.

#reassign:@anavinahar

[2020-05-28 18:41] richardrobberse commented on #55516
@craigshoemaker I see, for some reason I thought that the routes.json was only used in the app and not in the API but it makes sense now.

Thanks a lot for your reply and I really like where this is going ;)

[2020-05-28 18:41] #55516 closed

[2020-05-28 18:42] christiankuhtz commented on #54808
it's work in progress. thanks for feedback.

[2020-05-28 18:42] mattmazzola commented on #55562
After re-reading my comment I see it starting going into possible solutions / implementation which would involve product changes which obfuscated the core issue.  I thought there should be a way to detect changes in a certain folder and if none, terminate the current action or prevent processing of future actions.  I thought people more experience with github actions could add note to docs about h

[2020-05-28 18:46] miwebst commented on #55476
So this step is important because it will remove your staging environment that got created as a result of the pull request. Without this you will need to remove any leftover staging environments in the Portal.

As for your second question on getting your API token. This will be available in our next release which should take a month or so.

[2020-05-28 18:47] christiankuhtz commented on #53854
sure, you can use any of the methods commonly used to check the source IP of request, including the one you mentioned.

given that there are many ways to do so and the quickstart is intended to be a tutorial for how to create and not how to validate, a specific method isn't provided in this doc.

we'll add something to the validation tutorial, which is a self contained e2e scenario where this can

[2020-05-28 18:49] craigshoemaker commented on #55827
@mjboggs - Thanks for bringing this to our attention. We're working with the doc and will have some updates for you soon.

[2020-05-28 18:50] cqueern opened #55907 "Potential recategorization of a couple bullets"
These two points:

are currently under the **Network traffic to Azure** section.

Would they be better aligned to the **Data security** section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f33a676-6bb6-949f-3bf4-bb0f9a8297d0
* Version Independent ID: 9a31c4c4-f191-1298-cdbf-be70e59f4578
* Content: [Azure Backup sup

[2020-05-28 18:54] jlian commented on #55813
Can you describe your scenario a little more? Is IoT Hub's implementation of MSI not enough?

[2020-05-28 18:55] JamesTran-MSFT commented on #55863
Submitted PR to delete the parenthesis.

Thank you for your time and patience, I will now proceed to close this thread. If you would like to continue the discussion feel free to reach out on Microsoft Q&A or create a new issue.

[2020-05-28 18:55] #55863 closed

[2020-05-28 18:56] kimlundjohansen commented on #55862
Sure. https://github.com/Microsoft/azure-docs/blob/master/articles/data-factory/how-to-create-schedule-trigger.md

[2020-05-28 18:57] jamserra opened #55908 "COPY use Polybase?"
Does the COPY statement use Polybase behind the scenes?  I don't believe so but the doc is confusing on that matter.  Perhaps clarify somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be44db83-d389-9662-031d-ac59d7ee7073
* Version Independent ID: 73954863-684f-12e3-80d1-a9aae6242b13
* Content: [Data loading bes

[2020-05-28 18:59] LarrySmith-1437 opened #55909 "The page seems to be out of date, TelemetryConfiguration.Active and new TelemetryClient() are marked as obsolete in most recent version, 2.14.0"
[Enter feedback here]
when following the examples on this page, my code gets highlighted indicating it is obsolete and no longer recommended.  I know things change faster than docs seem to.  Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc6

[2020-05-28 19:15] gregdegruy commented on #55112
@SnehaAgrawal-MSFT I was able to get an answer here https://stackoverflow.com/questions/61977838/azure-app-service-container-images-force-pulled-from-docker-hub-instead-of-acr?noredirect=1#comment109650230_61977838

The comment from user Hong Ooi resolved my issue.

[2020-05-28 19:16] jd8757417 opened #55910 "Missing words"
There appears to be something missing here:

Validating configuration
You can use a variety of methods to validate that data is being sent to the event hub. ne straightforward method is to use Event Hubs capture as described in Capture events through Azure Event Hubs in Azure Blob Storage or Azure Data Lake Storage.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-28 19:18] Mike-Ubezzi-MSFT commented on #55869
@medavamshi Thank you for the inquiry. The [Azure Resource Optimization (ARO) Toolkit ](https://azure.microsoft.com/en-us/resources/templates/azure-resource-optimization-toolkit/)is built upon native Azure serverless technologies leveraging an Azure Automation Account with preconfigured runbooks. With the [az openshift](https://docs.microsoft.com/en-us/cli/azure/openshift?view=azure-cli-latest) op

[2020-05-28 19:20] pratima-cloudknox opened #55911 "Azure PIM API Seems to require R/W permissions even for GET/Read Operations"
The Azure List governance Role API documentation indicates that we only need
Application | PrivilegedAccess.Read.AzureResources permission.

https://docs.microsoft.com/en-us/graph/api/governanceroleassignment-list?view=graph-rest-beta

However when actually invoking that API with just PrivilegedAccess.Read.AzureResources permission we seen an error as below - is this an issue with documentation or

[2020-05-28 19:22] SaurabhSharma-MSFT commented on #55667
@dakraft Are you trying to directly hit the link which you have shared earlier - https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.
I see you are missing .html at the end and thus it is working.
https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html

Sorry but I am not able to see your images.  If you are going to Microsoft Q&A through Microsoft documentat

[2020-05-28 19:25] SeanFeldman opened #55912 "Support for logical OR operator with FindBlobsByTags operation"
Currently, the documentation states that

I'd like to bump the importance of the logical OR operator in tag queries and add support for the operator in `FindBlobsByTags` operation.

In addition to that, support for more than a single OR operator in a single query would help with various scenarios when filtering is more advanced. This could count as an advanced query and be charged accordingly.

--

[2020-05-28 19:25] SaurabhSharma-MSFT commented on #55842
@PhilipAnthonyMurray Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-28 19:28] TravisCragg-MSFT commented on #55881
@Herman5006 I was unable to get the portal to see Public IPs from different Subscriptions, but I was able to successfully add a Public IP from a different subscription with [PowerShell using the New-
AzTrafficManagerEndpoint cmdlet](https://docs.microsoft.com/en-us/powershell/module/az.trafficmanager/new-aztrafficmanagerendpoint?view=azps-4.1.0). The Resource ID of the Public IP will need to be th

[2020-05-28 19:29] pratima-cloudknox opened #55913 "PIM API Without Delegated Permissions"
We are trying to use Azure PIM API with Azure Resources (NOT Azure AD).
The documentation seemed to indicate we only need Application permission and it doesnt have to be delegated.
https://docs.microsoft.com/en-us/graph/api/governanceroleassignment-list?view=graph-rest-beta

However we are unable to get access without using a delegated user. Also we are being forced to give
PrivilegedAccess.ReadWr

[2020-05-28 19:31] RyanHill-MSFT commented on #55890
Thanks for the feedback @Vijayshubhankar, we've made the necessary corrections and should be live momentarily.

[2020-05-28 19:32] MonikaReddy-MSFT commented on #55490
@rajkumar-rangaraj -  I'm going to assign this to the document author so they can provide more inputs on the same.

[2020-05-28 19:34] MonikaReddy-MSFT commented on #55470
@blikenoother ,  I'm going to assign this to the document author so they can update you on the same.

[2020-05-28 19:35] mike-urnun-msft commented on #32296
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-28 19:35] #32296 closed

[2020-05-28 19:43] Ayanmullick opened #55914 "Subscription tenant migration procedure for CMK-encrypted storage account"
How could one migrate or recreate the identity of a storage account in case of a tenant migration for the subscription the CMK-encrypted storage account is in?

The encryption breaks after changing the key vault tenant id per below documentation since the new tenant doesn't have the old SPN.

https://docs.microsoft.com/en-us/azure/key-vault/general/subscription-move-fix

---
#### Document Details

[2020-05-28 19:43] mike-urnun-msft commented on #50919
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-28 19:43] #50919 closed

[2020-05-28 19:47] Mike-Ubezzi-MSFT commented on #55475
@ssindhuvmo Thank you for the additional information. Do you have an application that your organization has created where this user flow can be integrated? This is how you would accomplish running this solution. It cannot be run in a stand-alone mode. Does this answer your question?

![Screenshot (30)](https://user-images.githubusercontent.com/37126106/83186205-0595a380-a0e1-11ea-8a43-ea5f58b020ad

[2020-05-28 19:49] travis-c-lagrone opened #55915 "Hints missing"
Specific `SELECT` hints are missing. Only the `skew` is specified. This page should either list the hints that can be used, or should link to other Spark documentation that does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4741da43-53b0-b8bf-6271-e08cc1e7e8c5
* Version Independent ID: f0e82a6b-b3d5-d1a7-1ffb-7117068

[2020-05-28 19:54] medavamshi commented on #55869
Az aro is the newer 4.x azure redhat openshift deployment . Not related to aro tool kit. I also came to know az openshift is v3.x and az aro is 4.x openshift after I tried both deployments. We were looking to implement Azure Redhat openshift that's 4.x

[2020-05-28 19:57] jfggdl commented on #43468
Thanks @romankiss and @SeanFeldman. We are doing our backlog grooming and we will prioritize this ask. @abhash-msft or someone else from our team can start providing some information about what is supported. We will also fix any resulting documentation issues.

[2020-05-28 20:00] chrisfromwork opened #55916 "Azure authentication documentation does not call out that it doesn't support MSAs"
Azure spatial anchors does not currently support creating an azure authentication token with a MSA account. It needs to use an organization AAD account. This may require setting up an AAD organization in the azure portal for developers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d43bc57-798b-d3a4-5f31-a22f9ef99b2d

[2020-05-28 20:03] lobrien commented on #55901
Created docs workitem https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1592970/?triage=true&workitem=1727908

[2020-05-28 20:06] AjayKumar-MSFT commented on #55345
@saquibm6,
Apologies for the delay! I wish to engage with you offline further to understand some more details about the problem, have a closer look and provide a specialized assistance, please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID, I will follow-up with you. As we will work with you offline, I will now proceed to close this thread.

[2020-05-28 20:06] #55345 closed

[2020-05-28 20:11] jfggdl commented on #43468
#reassign:ahamad-MS

[2020-05-28 20:12] jfggdl commented on #43468
#assign:ahamad-MS

[2020-05-28 20:12] PRMerger8 commented on #43468
ahamad-MS is already assigned.

[2020-05-28 20:14] jptarqu commented on #55872
It looks like it is working now. Not sure why I got the Github 404 this morning, but it is working now. Thank you!

[2020-05-28 20:17] soniaang opened #55917 "new cache of azure search"
The document must explain if you need to rebuild an index or not as well , talks about invalidation of cache ,, but must explain when index needs to be redone or indexer rerun

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f0444e-1fea-b9be-8cca-08a26d995e60
* Version Independent ID: e401363d-e606-6133-bef0-8c90fc0d17

[2020-05-28 20:17] Mike-Ubezzi-MSFT commented on #55866
@lopejum Thank you very much for your inquiry. I didn't see any document you are referencing and wanted to point you to the [Authentication](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0) document which explains this in greater detail.

[2020-05-28 20:19] ohwellwhatever opened #55918 "ARM Template Examples"
I have been trying to get this to work repeatedly with ARM templates with no success.  Can you please provide examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54464a5d-7cf0-c1c1-bada-b8bb9bf6da93
* Version Independent ID: b76a8842-c752-d92a-9e07-6593206b0aab
* Content: [Set and manage immutability policies for

[2020-05-28 20:21] AjayKumar-MSFT commented on #55491
@gbrandonparga, Apologies for the delay! Thanks for leveraging Azure docs feedback channel to raise this question.  This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

These errors usually indicate you have an old version of Git, or you don't have access to the repository. Kindly [verify](https://help.github.com/en/github/creating-clon

[2020-05-28 20:21] #55491 closed

[2020-05-28 20:24] sidprasher opened #55919 "Integration with EventHub"
"Common Azure scenarios that don't work with Virtual Networks (note that the list is NOT exhaustive) -

Integration with Azure Event Grid"

Is this still valid if EventGrid has a private endpoint as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e147f10f-d686-829a-bc46-62de76b7ca01
* Version Independent ID: 7a0ad

[2020-05-28 20:27] spaelling opened #55920 "Picture in To bulk delete users"
The picture in https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/users-bulk-delete#to-bulk-delete-users is for bulk restoring users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ec44f25-325a-beec-79c6-2f4991088fa0
* Version Independent ID: af186ee8-d08e-0bbb-3b32-9cc2845bbe01
* Content: [Bulk

[2020-05-28 20:28] SaurabhSharma-MSFT commented on #55535
@SaurabhSharma-MSFT Yes, you can use the same account for recovery.

[2020-05-28 20:29] SaurabhSharma-MSFT commented on #55059
@HWouters We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-28 20:29] #55059 closed

[2020-05-28 20:34] himanshusinha-msft commented on #55460
@DanielHolth  : At this time i don't think that we have a connector for that . Please go ahead add the same as request at : https://feedback.azure.com/forums/270578-data-factory . The ADF team does reviews the request and can plan it to impment in future .

We are closing this issue  , you can always re-open the issue if you think that appropriate .

[2020-05-28 20:34] #55460 closed

[2020-05-28 20:41] AjayKumar-MSFT commented on #55508
@mattpatera-ych, Apologies for the delay! If you haven't done this already, you may try increasing the app startup time,, to do so, set the WEBSITES_CONTAINER_START_TIME_LIMIT app setting to the value you want. The default value is 230 seconds, and the maximum value is 1800 seconds
With this, you can configure the amount of time the platform will wait before it restarts your container, I have seen

[2020-05-28 20:43] TravisCragg-MSFT commented on #55892
@artisticcheese Thanks for the feedback! To give better feedback to when the configuration is updated, your best bet is to leave that feedback on [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

To update the docs, i have assigned this issue to the doc author to evaluate and update as appropriate.

[2020-05-28 20:49] MWsys commented on #51687
looks better thanks for your work
From: Nagireddy Tangirala <notifications@github.com>
Sent: Tuesday, May 26, 2020 10:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael L. Lirtzman <Michael.Lirtzman@moyewhite.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Documentation out of date, enforces bad values . Screenshots need update (#51687

[2020-05-28 20:49] kgremban commented on #55109
@rgamage In this case, "the gateway device name" refers to whatever parameter you passed in to the script to create the certificate. That name is used to create the certificate, and appears in the certificate filename.

For example, on Linux when you run

[code]

And you get the output certificate

[code]

That <device name> parameter is also used as part of the certificate name that it presents w

[2020-05-28 20:55] normesta commented on #55377
Hi @sql-deadwood thanks for the question. Please see [Change the location of the plan and log files](https://docs.microsoft.com/azure/storage/common/storage-use-azcopy-configure?toc=/azure/storage/blobs/toc.json#change-the-location-of-the-plan-and-log-files)

[2020-05-28 20:56] normesta commented on #55377
#please-close

[2020-05-28 20:56] #55377 closed

[2020-05-28 21:04] SaurabhSharma-MSFT commented on #55787
@ntare16 I am not seeing any typos in the cmdlet -
![image](https://user-images.githubusercontent.com/38112130/83193512-04b63f00-a0ec-11ea-8b1a-050d42b0aa14.png)
Are you referring to the same url - https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service

[2020-05-28 21:09] anavinahar commented on #55431
Please see doc linked for classic: https://docs.microsoft.com/en-us/previous-versions/azure/load-balancer/load-balancer-outbound-connections-classic

#please-close

[2020-05-28 21:09] kgremban commented on #55109
If I change the phrasing to "The **certificate name** passed into these scripts", would that be clearer?

[2020-05-28 21:10] normesta commented on #55376
Hello @sql-deadwood - yes some features aren't supported in AzCopy 10. There is a migration doc on Github here - https://github.com/Azure/azure-storage-azcopy/tree/migrationdoc . We need to make that more discoverable as it's currently in a dedicated branch. This should be visible to you though. It has rows in a table for things like "/XO".

[2020-05-28 21:11] normesta commented on #55376
#please-close

[2020-05-28 21:11] #55376 closed

[2020-05-28 21:13] MartinJaffer-MSFT commented on #50520
@RobMcZagBDS Thank you for letting us know.  @TjommeVergauwen  I will close the issue now.  Please tag me in comment if you are still facing the problem.

[2020-05-28 21:13] #50520 closed

[2020-05-28 21:14] roygara commented on #55565
@hajime008 Thanks for reaching out, this is incorrect, it should just be storage type. We'll get this changed soon. Thanks for bringing this to our attention, we appreciate it! :)

#please-close

[2020-05-28 21:14] #55565 closed

[2020-05-28 21:15] normesta commented on #55350
Hi @LANETLTD - The term "classic" is how we refer to storage analytics logs which is totally supported. The reason for the term is that Azure Storage logs in Azure Monitor will be the preferred path forward. That is in preview at the moment.  @fhryo-msft might have information on whether storage analytics logs (classic logs) will deprecate in future.

[2020-05-28 21:24] fhryo-msft commented on #55350
@LANETLTD We don't have deprecation plan for classic logs as of now. As Norm clarified, it's our strategy to shift investment focus to new logging as Azure is unifying monitoring experience with Azure Monitor. You are recommended to test new logs now and adopt it formally once it's GAed (targeting end of 2020).

[2020-05-28 21:25] normesta commented on #55309
Hi @crisansou - For the user to see the "adm" subdirectory, you'll have to grant execute perms to the marketing directory. Please see [Common scenarios related to permissions](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#common-scenarios-related-to-permissions) for examples. Thx for asking!

[2020-05-28 21:25] normesta commented on #55309
#please-close

[2020-05-28 21:25] #55309 closed

[2020-05-28 21:26] MartinJaffer-MSFT commented on #54804
@dckfnuance  sorry for the delay.  As to propagating the changes,
A tree-traversal algorithm would be an easy way to make the change.  The psuedo-code would look like:
[code]
I hope this helps.  I will proceed to close the thread.  For further queries please, open a thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-lake-storage.html)

[2020-05-28 21:26] #54804 closed

[2020-05-28 21:26] dlepow commented on #55035
@pnarsi - Thanks for the request. Currently we expect that the limitation around task run logs in CMK-encrypted registries is temporary. I will log your suggestion in case we need to update this guidance. Best wishes.
#please-close

[2020-05-28 21:26] #55035 closed

[2020-05-28 21:34] dakraft commented on #55667
sent

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Thursday, May 28, 2020 2:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Kraft <dakraft@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Q&A link is 404 error (#55667)

@dakraft<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdakraft&

[2020-05-28 21:35] normesta commented on #55350
#please-close

[2020-05-28 21:35] #55350 closed

[2020-05-28 21:38] crisansou commented on #55309
Hi @normesta ,

So if I have 10 subdirectories before the "adm" subdirectory would I have to give access one by one?

Best regards,
Cristina

[2020-05-28 21:39] normesta commented on #55087
Hi @anderseide - the service announcement refers to storage analytics logs (now informally referred to as "classic logs"). That announcement is correct as it describes GA support for storage analytics logs for blob storage accounts that have a hierarchical namespace enabled (Azure Data Lake Storage Gen2).  The Monitoring article that mentions "preview" refers to logs in Azure Monitor. Logs in Azur

[2020-05-28 21:39] normesta commented on #55087
#please-close

[2020-05-28 21:39] #55087 closed

[2020-05-28 21:41] normesta commented on #55000
Hello @arvind yes the error that you received is absolutely correct. CLI 2.5.1 does not contain an "fs". The doc had a typo and has since been fixed. The version that you'll need to install is 2.6.0. Sorry for the confusion.

[2020-05-28 21:41] normesta commented on #55000
#please-close

[2020-05-28 21:41] #55000 closed

[2020-05-28 21:41] MarileeTurscak-MSFT commented on #55861
@deeppr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-28 21:44] normesta commented on #54626
Hello @Chai-NED. The support levels that appear in that table refer only to how the feature is supported with Data Lake Storage Gen2. Yes. you are correct. the feature itself is in GA. Thx!

[2020-05-28 21:44] itsyashpal opened #55922 "Cost effectiveness is with a caveat for Auto Scale"
[Enter feedback here]
Auto Scale benefits mentions it is cost effective and later on the page detailed comparison provides it is effective if 66% of the time windows it is less than the max throughput provisioned . So cost effectiveness is there or not  it is case by cases and should be clearly documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-05-28 21:44] normesta commented on #54626
#please-close

[2020-05-28 21:44] #54626 closed

[2020-05-28 21:45] gbarr42 opened #55923 "default arm-template-parameters-definition.json not up to date."
Hello, I previously asked where the current default template parameters could be found and it was stated that the one in this document was correct (as of February). We recently came across a difference for file system linked services where the default was considering host as a parameter. When we used our custom arm-template-parameters-definition.json that we copied from this site, host was not in

[2020-05-28 21:46] lopejum commented on #55866
Hello

I created my **token** with _directline secret_ into my custom web-chat app. Perfect.

Then, I sent the message from this web-chat app up to my Azure bot as **"Authorization" : "Bearer token..." header**. Perfect. The message is arriving to my C# Bot. Perfect

So, I need to retrieve the same "**token**" into my C# bot, because I need to send this **token** to another external app, generate

[2020-05-28 21:49] erbalaji commented on #54713
@anavinahar, if that is the case, people creating resources should be warned or not allowed to create subnets/address spaces beyond the said limit.
  It is the first step and people should be aware of the limits when planning. so if /16 is the limit and my first address space is a /16, I should not be allowed to create an additional space.

[2020-05-28 21:51] MartinJaffer-MSFT commented on #55010
@luisjmlky  Sorry for the delay.  A quick question, is this for Data Factory version 1 or version 2?
Also, which powershell commands did you use to create the dataset and linked service?  Can you share the steps to create the bad dataset?

[2020-05-28 21:52] mamccrea commented on #55915
Hi @travis-c-lagrone! Currently, `broadcast` and `skew` (both of which are mentioned [in the doc example](https://docs.microsoft.com/azure/databricks/spark/latest/spark-sql/language-manual/select#examples-5) are the only supported hints. Skew is only in Databricks, and [broadcast ](https://spark.apache.org/docs/latest/sql-performance-tuning.html#broadcast-hint-for-sql-queries) is in Spark. I'll ad

[2020-05-28 21:54] saquibm6 commented on #55345
Thanks for the update Ajay.

I was not aware of the fact that we had separate board for such queries and will keep that for future reference, that is much appreciated info.

I will drop an email certainly but would request some time as I am also investigating the matter and might have got something, if all is good then I might not even need to reach you guys again otherwise I will but that would r

[2020-05-28 21:56] Mike-Ubezzi-MSFT commented on #55869
@medavamshi Thank you for this additional detail. This service is new to our group so I have limited information but, I do see a Red Hat hosted blog: [Introducing Azure Red Hat OpenShift on OpenShift 4](https://www.openshift.com/blog/introducing-azure-red-hat-openshift-on-openshift-4)

[2020-05-28 21:56] deborahc commented on #55693
Hi @hanuk, thanks for reaching out. There's not a specific high watermark that makes it easy to determine the point at which async scale-up is needed, as it depends on how much higher the new throughput requested is than your current throughput. That said, we appreciate that it would be helpful to know the value as a user. We'll take this feedback and pass it to the team.

[2020-05-28 22:02] hisasima commented on #55431
@anavinahar I know that document but I can not find the behavior of dynamic SNAT port. I can find only static port which is below. Could you add the behavior of dynamic SNAT port for classic LB in that document ?

![image](https://user-images.githubusercontent.com/37136042/83198382-075f7580-a17a-11ea-835a-8d728b4a20fc.png)

[2020-05-28 22:05] normesta commented on #54746
Thanks for bringing this to our attention @cstainie! Yes this was missing from our content. I've added this to the ref articles - "--trusted-microsoft-suffixes string   Specifies additional domain suffixes where Azure Active Directory login tokens may be sent.  The default is '*.core.windows.net;*.core.chinacloudapi.cn;*.core.cloudapi.de;*.core.usgovcloudapi.net'. Any listed here are added to the

[2020-05-28 22:05] normesta commented on #54746
#please-close

[2020-05-28 22:05] #54746 closed

[2020-05-28 22:06] nick5454 opened #55926 "Update screens shots in the documentation"
All or most of the screen shots are very old and menu items, functions, links, and the UI are completely different. Can you please update these screen shots?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bade06-ea57-4f02-656b-409b50b13043
* Version Independent ID: eb496c21-53a8-8a59-4c65-85a88ccbab54
* Content: [Com

[2020-05-28 22:08] ecfan commented on #54975
Hi @nthewara,

We have additional questions to investigate. Will update when I have more news.

[2020-05-28 22:08] jagwaran opened #55927 "Example needed for log4net logging"
Please provide an example for log4net. I tried this with log4net logging in a dotnet core 2.1 console app and it is not working. Basically there is no way to flush the logs/traces created thru log4net.

I was trying this in replacement for TelemetryConfiguration.Active as it is obsolete now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-28 22:10] hisasima opened #55928 "About SNAT port for Classic LB."
My feedback was closed but the PM did not understand my feedback.
https://github.com/MicrosoftDocs/azure-docs/issues/55431

I know that document but I can not find the behavior of dynamic SNAT port. I can find only static port which is below. Could you add the behavior of dynamic SNAT port for classic LB in that document ?

![image](https://user-images.githubusercontent.com/37136042/83198970-40e4b

[2020-05-28 22:11] ecfan commented on #55738
This issue is now fixed and live.

@DixitArora-MSFT: #please-close

[2020-05-28 22:11] #55738 closed

[2020-05-28 22:14] MarileeTurscak-MSFT commented on #55905
@dbird03
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-28 22:15] BharathNimmala-MSFT commented on #55910
@jd8757417 Thank you for bringing this to our notice, we will look into it and fix the document accordingly.

[2020-05-28 22:15] Mike-Ubezzi-MSFT commented on #55871
@medavamshi Based upon your previous inquiry, I assume this is pertaining to an Azure Red Hat OpenShift deployment? Can you provide a document link that references the task you are attempting to follow? A custom DNS suffix is not supported by a VNET (Please see: [Azure Virtual Network frequently asked questions (FAQ)](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#can-

[2020-05-28 22:17] BharathNimmala-MSFT commented on #55907
@cqueern Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-05-28 22:25] normesta commented on #55309
Hi @crisansou my understanding is yes. If you create a new directory after the ACL of the parent directory is set, then the child directory inherits those ACLs. However, if you apply an ACL to the parent directory (such as execute), it doesn't auto propagate down to the child directories. @priyashetty-gh can check my understanding. Thx

[2020-05-28 22:28] #53575 closed

[2020-05-28 22:30] GiftA-MSFT commented on #55637
@mikehachen Form Recognizer is in Preview as shown on the [product page](https://azure.microsoft.com/en-us/services/cognitive-services/form-recognizer/). I couldn't find any statement in the document specifying otherwise.

[2020-05-28 22:35] v-radelg opened #55930 "`cephalin-core` is wrong. `<server-name>` is right."
@Soichi-Fukasawa commented 18 hours ago

At "Create connection string"

az sql db show-connection-string --client ado.net --server cephalin-core --name coreDB

Probably, cephalin-core is come from @cephalin .
Please change cephalin-core to <server-name>.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736

[2020-05-28 22:51] Karishma-Tiwari-MSFT commented on #55449
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 22:55] jmoralesv commented on #55564
Hi @BharathNimmala-MSFT

I think we can close this case, I can see there is no more localhost traces in Application Insights when using configuration.DisableTelemetry = true; in Debug mode.

Thank you so much for your help!

Regards,
Jorge

[2020-05-28 22:56] Karishma-Tiwari-MSFT commented on #55869
@medavamshi Let us know if you need any further help on this.

[2020-05-28 22:56] GiftA-MSFT commented on #55704
@diberry please review above feedback for doc enhancement. Thanks.

[2020-05-28 22:57] Karishma-Tiwari-MSFT commented on #54678
@itdap77 Are you still seeing this issue?

[2020-05-28 22:58] Karishma-Tiwari-MSFT commented on #54748
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 22:58] MarileeTurscak-MSFT commented on #55861
Hi @deeppr,

We don't have that information yet, but you can check the[ release notes](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new) for the latest updates on this and they'll be posted as soon as the information is available.

If you have further questions feel free to post to[ Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.

[2020-05-28 22:58] #55861 closed

[2020-05-28 22:59] priyashetty-gh commented on #55309
What @normesta has described is the current system behavior. We have this capability planned in the roadmap, that will allow propagation of ACLs to child items, to handle such cases where ACLs are being assigned to parent items after child items are created.

[2020-05-28 23:00] Karishma-Tiwari-MSFT commented on #55076
@RoopChevuri Do you have any insights on this error? Can you please direct me to someone who can help with this. Thanks. :)

[2020-05-28 23:01] crisansou commented on #55309
Ok guys, thank you.

[2020-05-28 23:01] mike-urnun-msft commented on #55874
@JoeBengalen Thank you for your feedback! We will review and update as appropriate.

[2020-05-28 23:01] Karishma-Tiwari-MSFT commented on #55250
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 23:02] Karishma-Tiwari-MSFT commented on #55378
@nihaozh Did you get a chance to try the suggestion in the comment above? Let me know.

[2020-05-28 23:03] petertuton opened #55932 "Link to Cloud Solution Provider (CSP) program is broken"
Current link: https://partner.microsoft.com/Solutions/cloud-reseller-overview (404)
Correct link(?): https://partner.microsoft.com/en-us/membership/cloud-solution-provider
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddf531c3-a196-e2f2-c233-e694d3bbbd38
* Version Independent ID: c5b3b4eb-f150-627e-d828-a3c426f9d29b
*

[2020-05-28 23:04] mike-urnun-msft commented on #55884
@SeaDude Thank you for your feedback, and sorry for the inconvenience. I will review, validate each steps, and share my findings with you here.

[2020-05-28 23:05] mike-urnun-msft commented on #55919
@sidprasher Thank you for your feedback! We will review and update as appropriate.

[2020-05-28 23:05] Karishma-Tiwari-MSFT commented on #55687
We would need to connect you with a support engineer to live troubleshoot this with you and look at the backend. Can you please send an email to AzCommunity@microsoft.com with your Subscription Id and link to this issue. Please include 'Attn: Karishma' in the subject. I will enable a free support ticket for you.

[2020-05-28 23:09] MarileeTurscak-MSFT commented on #55791
You can bulk remove users from Azure AD or from Groups, if that's what you're looking to do.

Import-Csv -Path “C:\users_for_removal.csv” | ForEach-Object {Remove-ADGroupMember -Identity “Group-Name” -Members $_.’User-Name’ -Confirm:$false}

[2020-05-28 23:09] Karishma-Tiwari-MSFT commented on #55903
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 23:10] MarileeTurscak-MSFT commented on #55791
Hope this helps! Since this is more of a product question than a doc issue I will now proceed to close this thread. If you have further questions or if I misunderstood your ask, feel free to create a new issue on [Microsoft Q&A ](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/users-bulk-delete)and link it here, and I will gladly continue the discussion.

[2020-05-28 23:10] #55791 closed

[2020-05-28 23:10] Karishma-Tiwari-MSFT commented on #55926
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-28 23:11] Karishma-Tiwari-MSFT commented on #55894
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-28 23:18] RoopChevuri commented on #55076
+Stefan

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Thursday, May 28, 2020, 16:01
To: MicrosoftDocs/azure-docs
Cc: Roop Kiran Chevuri; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Fails validation checks (#55076)

@RoopChevuri<https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FRoopChevuri&data=02%7C01%7C%7C081f29dff

[2020-05-28 23:36] BharathNimmala-MSFT commented on #55886
@shooker Thanks again for bringing this to our notice, a [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/116878) has been raised and merged. Changes will reflect the document by end of week or so.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in y

[2020-05-28 23:36] #55886 closed

[2020-05-28 23:40] kgremban commented on #55163
@rgamage Correct, with the 1.0.9 release the config file switched from using absolute paths to file URIs. I will update this reference. Thank you for flagging it.

[2020-05-28 23:40] BharathNimmala-MSFT commented on #55910
@jd8757417 Thanks again for bringing this to our notice, i have raised a PR once its reviewed and approved the document will reflect accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue

[2020-05-28 23:40] #55910 closed

[2020-05-28 23:41] MarileeTurscak-MSFT commented on #55678
I believe it's referring to something like the Object ID but I've reached out to the product team to confirm.

[2020-05-28 23:46] MarileeTurscak-MSFT commented on #55879
@bsocca
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-29 00:02] SaurabhSharma-MSFT commented on #55278
@b3spoke Unfortunately it is not supported and an existing [Uservoice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/32578897-add-custom-header-support-for-azure-ad-b2c-custom) is already available.  Please upvote the same for the product team to include into their plans.

[2020-05-29 00:05] edmilsonss commented on #40107
Getting this too. :(

[2020-05-29 00:23] BharathNimmala-MSFT commented on #55445
@mboppe Sorry we don't have a out of box automated way to tell if the agent is up to date or not. However when you try to install the agent on a machine which already have one would show the message to upgrade the agent.

For now the best way i could think of is writing a custom script to validate the current version of MMA agent of the machine and install it accordingly if it isn't the latest ver

[2020-05-29 00:23] #55445 closed

[2020-05-29 00:24] c-nova commented on #55801
@euangms
OK.
If execute 'display(sampled_taxi_df.show(5))', show result same as 'sampled_taxi_df.show(5)'.
This result is row table of Spark df such as below:

+--------+-------------------+-------------------+--------------+------------+------------+------------+--------+--------+------+------+----------+---------------+-----------+----------+-----+------+--------------------+---------+----------

[2020-05-29 00:59] Mike-Ubezzi-MSFT commented on #55876
@antonioberetini Thank you for your inquiry. Is it possible to provide the tutorial or quickstart link that you are following? This information will help us address your question more efficiently.

[2020-05-29 01:02] Mike-Ubezzi-MSFT commented on #55875
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/55876 and closing this issue.

[2020-05-29 01:13] Mike-Ubezzi-MSFT commented on #55888
@Chris-May Thank you for bringing this to our attention. This issue is being evaluated by the content team and updated as appropriate.

[2020-05-29 01:21] Mike-Ubezzi-MSFT commented on #55899
@garybushey Thank you for your inquiry. This is being evaluated by an engineer from the product team who can confirm that this is the case.

[2020-05-29 01:27] hansenms commented on #55904
The box will not get enabled. You should just use the access control to assign roles. Box will only be enabled if you use an external tenant.

[2020-05-29 01:39] medavamshi commented on #55869
I am looking for a design document for Redhat Openshift 4.x using ARO .  Can you please point me to the right direction?

[2020-05-29 01:51] Mike-Ubezzi-MSFT commented on #55908
@jamserra Thank you for bringing this to our attention. I will have the content author evaluate this and enhance the document as appropriate. I actually could not find clarity and this was the best I could find: [Load the data using PolyBase or the COPY statement](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/design-elt-data-loading#4-load-the-data-using-polybase-or-t

[2020-05-29 02:00] BharathNimmala-MSFT commented on #55932
@petertuton Thank you for bringing this to our notice, we will look into it and fix the document.

[2020-05-29 02:00] Mike-Ubezzi-MSFT commented on #55911
@pratima-cloudknox Thank you for bringing this to our attention. I will have the content team review the documentation and if the documentation requires an update, have a PR submitted to correctly reflect the necessary permissions.

[2020-05-29 02:01] MonikaReddy-MSFT commented on #55927
@jagwaran , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-29 02:16] Mike-Ubezzi-MSFT commented on #55913
@pratima-cloudknox Thank you for bringing this to our attention. This issue along with the other issue (https://github.com/MicrosoftDocs/azure-docs/issues/55911) are being investigated.

[2020-05-29 02:20] BharathNimmala-MSFT commented on #55932
@petertuton Thanks again for bringing this to our notice. I have raised a PR for fixing the link, it would be merged to the original document later this week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread

[2020-05-29 02:20] #55932 closed

[2020-05-29 02:24] Mike-Ubezzi-MSFT commented on #55917
@soniaang Thank you for bringing this to our attention. I will have the content owner review this feedback and update the document where appropriate.

[2020-05-29 02:40] Mike-Ubezzi-MSFT commented on #55898
@BreakingBI Thank you for bringing this to our attention. I will have the content team evaluate this enhancement and make updates as appropriate.

[2020-05-29 02:42] Mike-Ubezzi-MSFT commented on #55553
@ihl396 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-29 02:42] #55553 closed

[2020-05-29 02:49] Mike-Ubezzi-MSFT commented on #55923
@gbarr42 Thank you for bringing this to our attention. This inquiry is being investigated further by the Analytics team and will update you upon their investigation.

[2020-05-29 03:02] BharathNimmala-MSFT commented on #55900
@lucidqdreams  Thank you for reaching out to us, we will look into it and get back to you at the earliest.

[2020-05-29 03:02] euangms commented on #55801
Please look at the code I provided there is no need to convert to pandas this will actually run out of memory depending on the filter that was originally applied to the dataset.

[2020-05-29 03:08] nasir998 opened #55937 "Does this plugin supports latest JIRA enterprise release 8.5.x versions(8.5.0,8.5.1,8.5.2,8.5.3,8.5.4) ?"
Hi All,

Can anyone please confirm SSO plugin in the below link supports latest JIRA enterprise versions 8.5.x  ?
A) 8.5.0
B)8.5.1
C)8.5.2
D)8.5.3
E)8.5.4

https://www.microsoft.com/en-us/download/details.aspx?id=56506

Thanks,
Nasir

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
*

[2020-05-29 03:22] JadenLy commented on #55560
@AjayKumar-MSFT It looks like the cost has been reduced significantly. Seem like a delay on the billing. I will close the issue now

[2020-05-29 03:22] #55560 closed

[2020-05-29 03:25] Mike-Ubezzi-MSFT commented on #55865
@roofiq Are you attempting to deploy a VNET for your Failover Group? If you deploy a Gateway for each of your VNETs, you can use VNET Peering from a VNET in one region to another VNET in another region. Please see: [About Connecting VNETs](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vnet-vnet-rm-ps?toc=/azure/virtual-network/toc.json#about).
More specific information about this

[2020-05-29 03:28] Mike-Ubezzi-MSFT commented on #55891
@evolve700 Thank you for making this suggestion. This is being assigned to the content owner as an enhancement request where an update will be made as appropriate.

[2020-05-29 03:28] SumanthMarigowda-MSFT commented on #55896
@CharmanderJieniJieni Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-29 03:30] SumanthMarigowda-MSFT commented on #55918
@ohwellwhatever Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-29 03:31] SumanthMarigowda-MSFT commented on #55912
@SeanFeldman Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-29 03:31] SumanthMarigowda-MSFT commented on #55914
@Ayanmullick Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-29 03:31] tamusjroyce opened #55938 "Isn't Bulk Insert part of Cosmos Client-Side Api version 3+ (at least for .NET)?"
Isn't Bulk Insert part of Cosmos Client-Side Api version 3+ (at least for .NET)? Asking because the examples all use version 2 which is not .net core compatible (not cross-platform).

Could some notes and links be given about this fact?

This was supposed to be for https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net

Feel free to close as won't-do if this is in the wrong locatio

[2020-05-29 03:32] dcbrown16 opened #55939 "ToC"
Is it at all possible to get this back in the ToC somewhere?
I assume we're trying to push Azure Monitor for VMs, which is great, but in support I often have situations where I need to advise a customer on how to set up Log Analytics just for a specific log type and they may not want all of Monitor for VMs. It would be great to have this document back in the ToC.
Doc is still linked as "Manually f

[2020-05-29 03:38] Mike-Ubezzi-MSFT commented on #55922
@itsyashpal Thank you for the inquiry. You will find at the bottom of the page in the [Next Steps](https://docs.microsoft.com/en-us/azure/cosmos-db/provision-throughput-autoscale#next-steps) section the following link: [How to choose between standard (manual) and autoscale provisioned throughput](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-choose-offer)
This should help you evaluate yo

[2020-05-29 03:40] AjayKumar-MSFT commented on #55909
@LarrySmith-1437,  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-29 03:40] vipulsparsh commented on #55920
@spaelling Thanks for notifying us Anders. We will investigate and update accordingly.

[2020-05-29 03:42] vipulsparsh commented on #55920
@curtand Can you look into this please ?

[2020-05-29 03:43] Mike-Ubezzi-MSFT commented on #55916
@chrisfromwork Thank you for bringing this to our attention. I have assigned this feedback to the content owner where an update can be made as appropriate.

[2020-05-29 03:47] Mike-Ubezzi-MSFT commented on #55928
@hisasima Thank you for your persistence in ensuring the documentation reflects accurate information. We are evaluating your feedback and will have the documentation updated as appropriate.

[2020-05-29 03:48] itsyashpal commented on #55922
I agree with you that is that good information, my concern is the statement of cost saving  is contextual , according to that article if someone is consuming less than X%(66%) of capacity then it is cost effective so cost can go up even though it is not using full capacity all the time.  Also this is different from all the dynamic scaling offering Azure offers where in dynamic and manual scaling t

[2020-05-29 03:55] ram-msft commented on #55397
@akuchotrani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-29 03:55] #55397 closed

[2020-05-29 04:02] AjayKumar-MSFT commented on #55930
@v-radelg, @Soichi-Fukasawa, Thanks for taking time to share your valuable feedback. We are making the appropriate changes in the document and it should reflect within 24 hours.

[2020-05-29 04:02] SaurabhSharma-MSFT commented on #55667
@dakraft Thanks for your email. We will now proceed to close this thread as we are working offline on this. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-29 04:02] #55667 closed

[2020-05-29 04:04] akuchotrani commented on #55397
@ram-msft Awesome explanation. This is really great and exciting.
For a multivariate signal scenario does the service use the same set of algorithms. Can SR-CNN support multivariate signal anomaly prediction?

Is the multivariate service going to support static as well as dynamic signals or only static signals?

[2020-05-29 04:07] BhargaviAnnadevara-MSFT commented on #55564
@jmoralesv Awesome, thanks for confirming. Happy to help!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-29 04:07] #55564 closed

[2020-05-29 04:12] JasonCard opened #55940 "Page missing TOC and breadcrumbs"
This page is missing TOC and breadcrumbs.
Found from loc testing, as it affects all languages.

This page also has the same issue:
https://docs.microsoft.com/en-us/azure/storage/common/storage-samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8e46764-7c5c-9cd9-a943-ac29c69ad88e
* Version Independent ID: d679b8e9-

[2020-05-29 04:21] ChiragMishra-MSFT commented on #55549
@Rutikhal I will now proceed to close this thread. However, feel free to still comment and tag me if you have any queries.

[2020-05-29 04:21] #55549 closed

[2020-05-29 04:23] ChiragMishra-MSFT commented on #55547
@Michael-Kuritzky Thanks again for the feedback.

I am assigning this feedback to the content owner to review and update as appropriate.

@djpmsft Can you please take a look at this?

[2020-05-29 04:29] ChiragMishra-MSFT commented on #55507
@djpmsft Can you please take a look at this?

[2020-05-29 04:38] mikehachen commented on #55637
See "Getting startet" section here: [https://azure.microsoft.com/en-us/services/cognitive-services/form-recognizer/#getting-started](url)

Click on the following link: [https://aka.ms/FormRecognizerRequestAccess](url)

![image](https://user-images.githubusercontent.com/7340450/83221716-d3cf1c00-a176-11ea-95cd-e11f0ae05592.png)

You will see the following text: Form Recognizer is now **publicly ava

[2020-05-29 04:39] ChiragMishra-MSFT commented on #55745
@aakashbansal001 As mentioned in the doc, you can Increment from existing maximum value in your dataset.

### Database sources

Use a SQL query option to select MAX() from your source. For example, Select MAX(<surrogateKeyName>) as maxval from <sourceTable>/

![image](https://user-images.githubusercontent.com/43365826/83221749-413d7580-a194-11ea-8a31-4116fe79fe31.png)

### File sources :

If your

[2020-05-29 04:44] RohitMungi-MSFT commented on #55616
@Brunolosse If you want to record all the conversation messages of your bot you can save user and conversation data to an underlying storage like blob or cosmos DB. This [sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/45.state-management) provides these scenarios and this [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-h

[2020-05-29 04:55] RohitMungi-MSFT commented on #55866
@lopejum Thanks for the details. I think we have an implementation of echo bot in our bot builder samples [repo](https://github.com/microsoft/BotBuilder-Samples) and this question seems to be specific to an implementation of a scenario so it might be helpful to post the same on the bot builder samples [repo](https://github.com/Microsoft/BotBuilder-Samples/issues) as our product engineers might be

[2020-05-29 04:56] SnehaAgrawal-MSFT commented on #55533
@ericgarza70 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-29 04:59] DixitArora-MSFT commented on #55575
@abalogh You can Set up chunking over HTTP. If an endpoint has enabled chunking for downloads or uploads, the HTTP actions in your logic app automatically chunk large messages.

![image](https://user-images.githubusercontent.com/46984568/83222944-451ec700-a197-11ea-98f7-9ce17831a89a.png)

https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-handle-large-messages#set-up-chunking-over-http

[2020-05-29 04:59] #55575 closed

[2020-05-29 05:05] danielnorkin commented on #55808
Hi @rosenthalm. @SatishBoddu-MSFT asked me to join the thread and help out. If you are ok with scheduling a call, @SatishBoddu-MSFT can organize it so we can chat.

[2020-05-29 05:06] DixitArora-MSFT commented on #55593
@SychevIgor I have assigned this to content author for further review and update as appropriate.

[2020-05-29 05:23] rodrigb opened #55942 "Container creation options is missing required volume bindings"
Container creation options is missing required volume bindings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d8d9e5-73a9-b668-e346-39af5237d40a
* Version Independent ID: 6c622d44-b1fe-6d84-5c36-9b457bf6f06c
* Content: [Deploy Live Video Analytics on an IoT Edge device - Azure - Live Video Analytics on IoT Edge](http

[2020-05-29 05:31] RohitMungi-MSFT commented on #55938
@tamusjroyce Thanks for the feedback. We have assigned this issue to an engineer to help you check the same.

[2020-05-29 05:34] sathana31 opened #55943 "Use static IP created on a different resource group"
[Hi Team, the article provides information on how create static IP on node resource group and then use while creating an ingress controller. Alternatively, we can also use the static IP which is created in a different RG if we use the parameter: --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-resource-group"="RESOURCE_GROUP" , while creating the ingress cont

[2020-05-29 05:34] JamesTran-MSFT commented on #55842
@PhilipAnthonyMurray
I was able to look into your issue and will post my findings below.

**Findings:**
Based off the screenshot below, you can see that the actual "https://vault.azure.net", needs to be used when you run the az role assignment command. Otherwise, if you assign the actual vault URL that you plan to use, you'll receive a "Cannot find user or service principal..." error message.
![im

[2020-05-29 05:49] VikasPullagura-MSFT commented on #55943
@sathana31 Thanks for sharing the details this really helps in improving the azure docs.
I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-29 05:49] frojoamadeo opened #55944 "Container xx_0_afc3de95 didn't respond to HTTP pings on port: 8080, failing site start. See container logs for debugging."
I've been deployed my app with FTP several times and always worked until now. I'm not using docker, so I suppose azure is dockerizing my app, but why it throws this error? How can I fix it?

**Here the error:**

2020-05-29T05:34:18.801Z INFO  - Starting container for site
2020-05-29T05:34:18.802Z INFO  - docker run -d -p 6115:8080 --name upisite_0_99ae64d5 -e WEBSITE_SITE_NAME=Upisite -e WEBSITE_A

[2020-05-29 05:50] VikasPullagura-MSFT commented on #55943
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-29 05:51] VikasPullagura-MSFT commented on #55151
@SAIMMINHAS
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-29 05:51] #55151 closed

[2020-05-29 05:52] VikasPullagura-MSFT commented on #55419
@athinanthny Can you please check and add your comments on this,.

[2020-05-29 05:53] VikasPullagura-MSFT commented on #55495
@rwallerms
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-29 05:53] #55495 closed

[2020-05-29 05:53] #55742 closed

[2020-05-29 06:03] lopejum commented on #55866
First at all, thanks a lot for the support.

So, I explained the whole scenario, yes; however, my issue is simple: there's no way to retrieve a simple header value ("Authorization", aka, bearer token created from direct line secret key) into my C# Bot code.

So, I need to retrieve the token for a particular conversationId. That's all.

Best regards
Lope

[2020-05-29 06:14] luisjmlky commented on #55010
Hi, I don't remember what the problem was, could you send me my mail or request please?

Regards.
________________________________
De: MartinJaffer-MSFT <notifications@github.com>
Enviado: jueves, 28 de mayo de 2020 23:52
Para: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: luisjmlky <luisjmlky@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [MicrosoftDocs/azure-docs]

[2020-05-29 06:15] kobulloc-MSFT commented on #55810
@killnine You are correct that 2.14.0 is the [most recent version](https://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore/2.8.0).  Version 2.8.0 was released in late September of 2019, followed by a jump to 2.12 in late December of 2019.  Version numbers were skipped to [keep in sync with the Base SDK](https://github.com/microsoft/ApplicationInsights-aspnetcore/releases).

In this

[2020-05-29 06:16] abalogh commented on #55575
@DixitArora-MSFT Thanks for the reply. I would like to know also if the String limitations described in the doc (131,072 characters) applies to all String operations and functions.
If yes can you explain a bit this limit?

[2020-05-29 06:30] #55746 closed

[2020-05-29 06:54] stgeorgi commented on #55076
Hi, I am not clear on what are the exact steps to repro this issue. A host pool that is based on an image  v1 cannot have new VMs added to it based on image v2. Not sure if that is the root cause but since we are talking about the just published 2004 image lets make sure that is observer.

I am sorry but for us to take this forward we need few more things that just the error message.

1) What is t

[2020-05-29 06:57] ShugoYoko opened #55945 "Wrong procedure with HTML file to consider domain"
<Domain verification is not working>
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-domain-ssl-certificates#domain-problems

In this document you will find:
1.Create an HTML file that's named {domain verification token}.html. The content of this file should be the value of domain verification token.
2.Upload this file at the root of the web server that's hosting your domain.
3.Sel

[2020-05-29 07:08] rigdern opened #55946 "Elaborate on warning about attempting to read from files on the Consumption plan"
There's a warning at the bottom of the ["Working with options and settings" section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings):

This leaves me with 2 questions:
  - If I can't read from those files, what should I do instead?
  - What is special about the Consumption plan that prevents this from working? Or does

[2020-05-29 07:21] aakashbansal001 commented on #55745
This is not my use case -- if my target was loaded with surrogate key 1 to 20000 in first run. Then next day I truncate my target and reload it ,then surrogate key should start from 20001.
I want surrogate key to persist its value from one session to another.

[2020-05-29 08:07] TechWatching opened #55947 "Missing information on how to automate the creation of the scope to expose web APIs"
This page only provides information on how to expose web API from the Azure portal.
Azure cli or powershell scripts are missing to describe how to do that programatically which is necessary when deploying infrastructure as code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b434db-9091-da08-2c96-839d462bc114
* Versi

[2020-05-29 08:10] robinmanuelthiel commented on #55742
Please re-open. This issue is not closed until the docs are updated.

[2020-05-29 08:15] b3spoke commented on #55278
Thanks @SaurabhSharma-MSFT - will update on there. Closing as this is duplicated by that open request.

[2020-05-29 08:15] #55278 closed

[2020-05-29 08:16] SAIMMINHAS commented on #16033
Hi Karishma,

I've now done as asked.

Many thanks.

[2020-05-29 08:19] jijordre opened #55949 "Lacking namespace field in aks-hello-world configurations"
Hi,

I just took the suggested ingress setup for a spin in an AKS cluster. Doing so I found that `namespace` fields were missing in the `aks-hello-world-{one/two}` Deployment and Service configurations. I.e. adding the following to `aks-hello-world-one.yaml` and `aks-hello-world-two.yaml` remedied my 503 error met when opening my web browser on the external IP of the ingress controller:
[code]
---

[2020-05-29 08:21] dominicbetts commented on #54570
Hi @sschotte - we're currently updating these docs - for the time being please refer to https://github.com/Azure/Industrial-IoT/tree/master/docs/. Thanks.

[2020-05-29 08:26] SnehaAgrawal-MSFT commented on #55942
@rodrigb Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-29 08:27] #55743 closed

[2020-05-29 08:29] SnehaAgrawal-MSFT commented on #55743
@Ahmad-Al-Ali Thanks again for the feedback! I have created PR for this, it will be visible soon.

[2020-05-29 08:33] souravmishra-msft commented on #55566
@LXBdev, Just wanted to followup with you to check if you got a chance to create a case of if you have sent an email to the community on the email id mentioned above. Do let us know if any more help is required from our end on this.

[2020-05-29 08:35] souravmishra-msft commented on #55539
@Grahamworth, Just wanted to follow up with you to check if you got a chance to check for the errors in the browser's console, so that we can help you better.

[2020-05-29 08:56] trangluong commented on #55232
Hi  SnehaAgrawal-MSFT,
Thanks for helping me.
Do I need to install the public key in the virtual machine?, my Azure
function app was deployed in App service environment.
Which StoreName and StoreLocation that I should use. I think it should be Local
Machine\My
<https://docs.microsoft.com/en-us/windows-hardware/drivers/install/local-machine-and-current-user-certificate-stores>
I use a thumbprint to

[2020-05-29 09:02] c-nova commented on #55801
Ok, I've make sure 'display(sampled_taxi_df)' is correct result!

I think would like be more shorter this result so I had change to Pandas df and use head().
If you have any idea more better, I want to use it.

[2020-05-29 09:02] arvinder-dhar commented on #55543
Thank you Sumanth!!

[2020-05-29 09:03] arvinder-dhar commented on #55651
Thank you Mike & Sumanth !!

[2020-05-29 09:04] dacarubio commented on #55703
@AjayKumar-MSFT, any updates on this please? Thanks

[2020-05-29 09:07] amanmcse commented on #55625
@Calvin-Yuhui-Liu Thank you for pointing this out. I am updating the document. This thread will be closed automatically during the merger.

[2020-05-29 09:08] vipulsparsh commented on #55947
@TechWatching  Thanks for reaching out, we will investigate and update as needed.

[2020-05-29 09:09] CHEEKATLAPRADEEP-MSFT commented on #55748
@pemsft  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-29 09:09] #55748 closed

[2020-05-29 09:09] CHEEKATLAPRADEEP-MSFT commented on #55817
@emanuele1986  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-29 09:09] #55817 closed

[2020-05-29 09:10] AshokPeddakotla-MSFT commented on #55608
Adding @rbrundritt for further insights.
If a layer is set to **hybrid**  It returns an image containing borders, roads, and labels, and can be overlaid on other tiles (such as satellite imagery) to produce hybrid tiles. Please see [Render - Get Map Image](https://docs.microsoft.com/en-us/rest/api/maps/render/getmapimage#staticmaplayer)

[2020-05-29 09:14] LeonJansen commented on #55076
Hi @stgeorgi,

When you have a HostPool in WVD Spring Update, you can add a Session Host through the Azure Portal.

Steps to reproduce:
1. Go to the HostPool in the Azure Portal.
2. Click Session hosts, and click Add.
3. Basics tab is already filled in, now fill in the Virtual Machines tab with correct data.
4. When you click Review and Create you will get an Validation Failed error message:
`The

[2020-05-29 09:33] adminsysteme opened #55954 "management groupe page in portal not accurate"
the page says you can find management groups in all services/management+governance/cost management+billing.

its in fact directly in all services / management + governance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75483b3e-714e-d142-b123-90fa16926621
* Version Independent ID: 8d456ee7-a4e3-2069-481c-857e148395a3
*

[2020-05-29 09:41] amanmcse commented on #55947
@TechWatching  Creating scopes under **Expose an API** blade is not yet supported grammatically. You can set App ID URI using below cmdlet:
`Set-AzureADApplication -ObjectId _Object_id_of_App_ -IdentifierUris https://domain.name/myapi`
Please refer to below document for other supported parameters:
https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadapplication?view=azureadps-2.0

[2020-05-29 09:41] #55947 closed

[2020-05-29 09:44] Herman5006 commented on #55881
It works. Thanks for you help. It would be great if  this example can be updated to public docs.

[2020-05-29 09:45] jijordre commented on #55949
Or, alternatively you should remove `namespace: ingress-basic` from `hello-world-ingress.yaml`. I reckon that is more in line with a normal setup where ingress, service(s) and deployment(s) are in a separate namespace than the ingress controller.

[2020-05-29 09:46] SwathiDhanwada-MSFT commented on #55581
@tfitzmac  Can you please provide your inputs on the issue?

[2020-05-29 09:47] VikasPullagura-MSFT commented on #55949
@jijordre Thanks for the Feedback. I will update the document.

[2020-05-29 09:51] rolandabt opened #55955 "Examples with join not as 'helpful' as they could be"
many examples on https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/advanced using "join" do not work as expected, e.g.

[code]

having multiple instances per subscription only one is kept after joining
instead what you should use is join **kind=leftouter**

Edited: Added doc metadata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-05-29 09:55] amanmcse commented on #55520
@beezital Thank you for pointing this out. I have updated the document. This issue will be closed automatically during the merger.

[2020-05-29 09:57] #55520 closed

[2020-05-29 09:58] craigshoemaker commented on #55946
@rigdern - the guidance of what to do instead is to use the options and settings as described in the section above the warning 😉

As for why I call out Consumption specifically - values read from those `.json` files aren't available as the app scales because the hosting infrastructure has no access to the configuration information as its spinning up additional instances of the app.

I'll add a bit

[2020-05-29 09:58] #55946 closed

[2020-05-29 10:02] VikasPullagura-MSFT commented on #55949
Doc update, changes will go live soon.

[2020-05-29 10:02] #55949 closed

[2020-05-29 10:12] johnkors commented on #55476
Thanks!

[2020-05-29 10:16] AjayKumar-MSFT commented on #55937
@nasir998 , Thanks for leveraging Azure docs feedback channel to raise this question.
I understand you're looking forward to know the SSO plugin compatibility for JIRA release version.
While we check on this information and get back to you, if your feedback is applicable/you are referring to any specific Azure documentation for this topic, please share it with us.

Just as a side note, this channe

[2020-05-29 10:16] sergey-netdev commented on #55662
@SamaraSoucy-MSFT Thank you. Sorry for not being very clear from the beginning.

[2020-05-29 10:26] Samantha-Yu commented on #54688
Thanks for the feedback! This article has been refreshed to address the issue, updates will be reflected in public doc within 24 hours. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-05-29 10:26] #54688 closed

[2020-05-29 10:37] SubhashVasarapu-MSFT commented on #55130
@Sahil-13 , Appreciate your patience. We have assigned this issue to the respective content author for updating the doc accordingly.

[2020-05-29 10:39] medavamshi commented on #55871
https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4
Don't modify the DNS configuration of the cluster's virtual network. The default Azure DNS resolver must be used.

[2020-05-29 10:41] medavamshi commented on #55871
I posted this comment before i found the policy document.  this can be closed.  i will work internally with microsoft on this.  thank you

[2020-05-29 10:51] SubhashVasarapu-MSFT commented on #55137
@KosukeHosoda , Appreciate your patience. For sure Azure virtual machines you create for Windows Virtual Desktop must have access to the above listed URLs/FQDNs to function properly and they are deployment specific. Incase, if you are securing your WVD with a Azure firewall in front then you have a  log analytics query to list the exact required FQDNs, and then allow them explicitly in your firewa

[2020-05-29 10:51] #55137 closed

[2020-05-29 10:54] fab66m opened #55956 "Self-hosted gateway and Azure Monitor"
Please clarify in https://docs.microsoft.com/en-us/azure/api-management/self-hosted-gateway-overview:

[..]
The following functionality found in the managed gateways is not available in the self-hosted gateways:
Azure Monitor logs
[..]
Self-hosted gateway uses connectivity to Azure for:
[..]  Sending request logs and metrics to Azure Monitor, if configured to do so

---
#### Document Details

⚠ *D

[2020-05-29 10:59] VictorAlekhno opened #55957 "Azure AD B2C integration with Zendesk"
For Azure AD is clear, do we have any special configurations need for Azure AD B2c?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6ca
* Version Independent ID: 1d3d0543-89f7-180a-e52a-b5668a314e6a
* Content: [Tutorial: Azure Active Directory integration with Zendesk](https://docs.micro

[2020-05-29 11:05] SubhashVasarapu-MSFT commented on #55210
@saurabhakumbhare , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-29 11:05] #55210 closed

[2020-05-29 11:19] mikemowgli opened #55958 "aks_target.update(update_config) hangs forever"
I successfully attached an existing VNet injected AKS cluster to my AML workspace using this code:
[code]

but I cannot update its config so it'd use private load balancers. My notebook cell hangs forever, and the AML studio shows that my cluster is attached, but updating. Even after cancelling my cell, the portal still shows the target as being updated and I cannot even detach. So the process is

[2020-05-29 11:27] nihaozh commented on #55378
Yes, thanks!

[2020-05-29 11:31] SubhashVasarapu-MSFT commented on #55429
@frehnejc , Appreciate your patience. Is updating status announced before connecting status? or instead of connecting status?

[2020-05-29 11:36] Falconwmua commented on #55813
IoT Hub's implementation of MSI is fine for all the scenarios where we send data to other resources. But we also make use of the Built-In Endpoint for pulling data off that doesn't match one of our other rules. Being able to access this endpoint in the same manner as our other Event Hubs would allow us to have a coherent access model throughout our services.

[2020-05-29 11:44] vipulsparsh commented on #55957
@VictorAlekhno Thanks for reaching out. We will investigate and update this thread.

[2020-05-29 12:00] MicrosoftGuyJFlo commented on #55263
#assign @SanDeo-MSFT

[2020-05-29 12:01] MicrosoftGuyJFlo commented on #55263
@SanDeo-MSFT please review

[2020-05-29 12:03] darivuki opened #55959 "How Event Hubs Capture is charged - pay per use?"
Hello,

for the event hubs capture feature pricing model, would I be charged even if there is no data coming through event hubs? If I understood this correctly, the 0.10$ hourly charge is applied even if the capture feature does not capture any messages from event hubs (due to the hub not having any data flowing through)?

Best,
Davor

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-29 12:04] MicrosoftGuyJFlo commented on #54701
When Azure AD Connect is deployed correctly machines will automatically be able to hybrid join your on-premises AD DS environment and Azure AD.

[2020-05-29 12:05] MicrosoftGuyJFlo commented on #54701
#please-close

[2020-05-29 12:05] #54701 closed

[2020-05-29 12:09] Ogglas commented on #38914
@souravmishra-msft Thank you, I hope this will be prioritized soon.

[2020-05-29 12:10] MicrosoftGuyJFlo commented on #54600
You dont have to exclude a user in this case because you would only be blocking locations you specifically dont want users signing in from. You could choose to exclude a user if you wish.

[2020-05-29 12:10] MicrosoftGuyJFlo commented on #54600
#please-close

[2020-05-29 12:10] #54600 closed

[2020-05-29 12:10] shashishailaj commented on #55937
@nasir998 Yes the new [plugin v1.0.6 does work with v8.5.x](https://github.com/MicrosoftDocs/azure-docs/issues/55438) . I would suggest you to download and try it . We will now close this issue. Shold you have any further query regarding the document please let us know . If you have any issue while implementing the plugin , please open a ticket with Microsoft Support and we will help you further.

[2020-05-29 12:10] shashishailaj commented on #55937
#please-close

[2020-05-29 12:10] #55937 closed

[2020-05-29 12:11] MonikaReddy-MSFT commented on #55670
@dandenton , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-29 12:11] #55670 closed

[2020-05-29 12:17] MicrosoftGuyJFlo commented on #53896
#please-close

[2020-05-29 12:17] #53896 closed

[2020-05-29 12:21] MicrosoftGuyJFlo commented on #53485
#please-close Taking this to our backlog and will see how best to handle with the product group as development continues.

[2020-05-29 12:21] #53485 closed

[2020-05-29 12:26] EHulburd opened #55960 "Incorrect Task NAme"
Under the Continuous Integration section, Step 7b says to add a task called 'Azure Resource Group Deployment', but I can't find a task with this name. Should it instead be 'ARM Template Deployment'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66

[2020-05-29 12:29] mjaow opened #55961 "attach aks with error Received bad response from Resource Provider"
[Enter feedback here]

attach aks following the tutorial, get resource id with long string format as
[code]
replace aksresource id in  `az ml computetarget attach aks -n myaks -i aksresourceid -g myresourcegroup -w myworkspace` with long string and excuted,get result:

Received bad response from Resource Provider:\nResponse Code: 400

Compute name is invalid. It can include letters, digits and das

[2020-05-29 12:36] AjayKumar-MSFT commented on #55944
@frojoamadeo,  Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.
Could you please share the Azure documentation for which this feedback is applicable to?

[2020-05-29 12:39] AjayKumar-MSFT commented on #55939
@dcbrown16,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-29 12:41] AjayKumar-MSFT commented on #55940
@JasonCard,  Thanks for taking time to bring this to our attention! We are taking a look into this and will get back to you soon.

[2020-05-29 12:47] AjayKumar-MSFT commented on #55945
@ShugoYoko,  Thanks for taking time to share your vaulable feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-29 12:49] AjayKumar-MSFT commented on #55954
@adminsysteme, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-29 12:53] AjayKumar-MSFT commented on #55955
@rolandabt, Thanks for leveraging Azure docs feedback channel to share your valuable feedback. Your feedback has been shared with the content owner for further review.

[2020-05-29 12:53] lkohn commented on #28805
Are there any updates on this?  We're trying to have an AppService connect to KeyVault using this methodology.  We've found that by restarting the ServicePlan (change the pricing tier and put it back) it goes away most of the time but it pops up pretty much 100% of the time we create a new AppService.

From the investigating we've been doing there is something going on with the routing where the A

[2020-05-29 12:53] DeanGross commented on #53896
I don't think that this should be closed, if a user follows these instructions they still won't have a CA policy that requires MFA access from an untrusted location. they must complete additional steps before the policy is created. I think that a  How To article should provide all of the steps necessary to complete the task

[2020-05-29 12:55] spaelling opened #55962 "Http setting - Override with new host name"
Any documentation on Override with new host name. This is forced when whitelisting a specific root certificate.

Does this mean you need a http setting for each listener where the backend must be explicitely whitelisted?

![image](https://user-images.githubusercontent.com/871412/83261776-2f6fc880-a1bc-11ea-9440-882fb88e4287.png)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-05-29 12:56] AjayKumar-MSFT commented on #55956
@fab66m, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-29 12:58] AjayKumar-MSFT commented on #55958
@mikemowgli, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-29 13:01] AjayKumar-MSFT commented on #55959
@darivuki, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-29 13:01] DCtheGeek commented on #55955
@rolandabt Thanks for the feedback. You said "having multiple instances per subscription", but since the very first step is `summarize resourceCount=count() by subscriptionId`, you shouldn't have more than one row for any given subscriptionId.  At that point, the `join` is just looking up the subscriptionId and getting the name for it.  Running this query with the default _kind_ (which is **inneru

[2020-05-29 13:03] AjayKumar-MSFT commented on #55960
@EHulburd, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-29 13:04] AjayKumar-MSFT commented on #55961
@mjaow, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-29 13:06] jtwardos commented on #55076
Hello,

Can confirm the above are the exact same steps I am taking. I am using the same image I used to deploy the Session Host initially. The image is Windows 10 Enterprise multi-session, Version 1909 + Office 365 ProPlus.

Will be happy to screen share with someone to demonstrate this in real time.

[2020-05-29 13:06] AjayKumar-MSFT commented on #55962
@spaelling, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-29 13:23] langstonj opened #55964 "What is the default when not TLS selection has been made?"
There is no mention of what the default setting is when no selection has been made (nothng appears selected).  Also, how would I revert to that "unselected" state?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b783bd-c5bc-8c0c-eb78-eebdfbb03679
* Version Independent ID: 65d9e215-542b-66ef-4797-e5781930cfea
* Content

[2020-05-29 13:25] PhilipAnthonyMurray commented on #54183
@Mike-Ubezzi-MSFT Any update on this functionality?

[2020-05-29 13:27] porrascarlos802018 opened #55965 "Add Section"
Consider adding a section
Situations on which this process may be applicable:
you see error: x509: certificate has expired or is not yet valid

[2020-05-29 13:33] AjayKumar-MSFT commented on #55965
@porrascarlos802018, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-05-29 13:34] RaymondColijn opened #55966 "The link "Microsoft Application Network portal" doesn't work"
[The link, Microsoft Application Network portal., in "After you've tested that your application integration works with Azure AD, submit your application request in the "Microsoft Application Network portal."" doesn't work.

this is on the page https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/howto-app-gallery-listing

The link is https://microsoft.sharepoint.com/teams/onboarding

[2020-05-29 13:35] RohitMungi-MSFT commented on #55961
@mjaow Could you please try again and let us know if this error is persistent? Looks like the name might be incorrect for the compute target. Can you try this again with a name like `"-n myaks-compute"`

[2020-05-29 13:36] travis-c-lagrone commented on #55915
Hey Mary. There are several additional hints supported as of Spark 2.4.5, which is the version of Spark that the already-published DBR 6.x series is built from.

https://jaceklaskowski.gitbooks.io/mastering-spark-sql/spark-sql-hint-framework.html

[2020-05-29 13:38] lisaguthrie commented on #55509
Hi @abhaybhangale - you can load feature flags with a specified label by calling the [`Select` method](https://docs.microsoft.com/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationoptions.select?view=azure-dotnet-preview) and passing in the label you want to load, just as you do for other configuration items.

[2020-05-29 13:41] amanmcse commented on #55822
@jackbradshaw How have you registered the mountainizeapp application?

Could you please try registering a new application in your B2C tenant as per the steps mentioned here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-preview#register-a-web-application

Also, check if the user has permissions to access registered application. If the user

[2020-05-29 13:43] NavtejSaini-MSFT commented on #55693
@deborahc Thank you for the insights. @hanuk We are going ahead and closing this thread for now. If you have any other question, please get back to us.

[2020-05-29 13:43] #55693 closed

[2020-05-29 13:45] Rikpat commented on #45225
Any updates? I'm trying to use it for a static site that has every page as subfolder with index.html, so I would like to rewrite */page/* or */page* to */page/index.html*.
I have it working in verizon premium, but I need to create these rules in ARM templates, and so far I'm unable to create verizon rules by ARM, or create working rules for standard CDNs

[2020-05-29 13:45] SubhashVasarapu-MSFT commented on #55342
@frehnejc , Appreciate your patience. Due to pandemic situations some doc releases were pending for now. It might be one among them. We will let you know by confirming with the content author.

[2020-05-29 13:51] SubhashVasarapu-MSFT commented on #55897
@duanecr , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-29 13:51] #55897 closed

[2020-05-29 13:54] amanmcse commented on #55957
@VictorAlekhno Yes, to federate Zendesk with B2C there is different configuration required. These instructions will not work with Azure AD B2C.

In order to use Zendesk as SAML Service Provider, you would need to first configure Azure AD B2C as a SAML Identity Provider and then configure **samlMetadataUrl** attribute with SAML metadata URL of Zendesk in the manifest of the application that you reg

[2020-05-29 13:54] #55957 closed

[2020-05-29 13:55] SubhashVasarapu-MSFT commented on #55816
@v-radelg , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-29 13:55] #55816 closed

[2020-05-29 13:55] shashishailaj commented on #55387
@priyankareddy20 Skipped assessments are assessments which are in some way dependent on any other assessment or they may not apply on a particular resource . For example, Lets take an Azure subscriptions audit report for regulatory compliance of PCI DSS 3.2.1 control . I have 3 controls which are skipped.

![image](https://user-images.githubusercontent.com/532022/83265081-a453fa00-a1de-11ea-96e4-9

[2020-05-29 13:55] #55387 closed

[2020-05-29 13:59] shashishailaj commented on #55439
@priyankareddy20 No this is not applicable for the non-azure servers because this feature depends on the access to the azure NSG and gives options to modify/enforce new NSG rules . A non-azure Server may not be connected to an existing azure NSG hence this will not apply to them.

Thank you.

[2020-05-29 13:59] #55439 closed

[2020-05-29 13:59] SubhashVasarapu-MSFT commented on #55541
@adebareshowemimo , Could you please elaborate your issue here for better analysis?

[2020-05-29 14:02] andifandrich opened #55967 "Samples please"
In my opinion the provided code is not a sample. Every developer with a little bit of experience can figure that out. Please provide real exapmles, like how to check if a container exists. Or how to work with directories inside a container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4

[2020-05-29 14:03] SubhashVasarapu-MSFT commented on #55579
@Hindy-UK , Appreciate your patience. The reference template will deploy Azure Bastion in a new or existing Azure Virtual Network, along with dependent resources such as the AzureBastionSubnet, Public Ip Address for Azure Bastion, and **Network Security Group rules**. Could you please give a try again?

[2020-05-29 14:04] dudu-markovitz opened #55968 "There is nothing between the comma and the close bracket"
`FORMAT = 'CSV', PARSER_VERSION = '2.0',
    )`

I am not sure we have an excess comma or something is missing between the comma and the close bracket.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9e4b4c-1d1f-4d81-9ad9-0201c7734b53
* Version Independent ID: 42e48906-2585-c602-51e8-1342ff559d44
* Content: [Store que

[2020-05-29 14:19] SubhashVasarapu-MSFT commented on #55579
@Hindy-UK , Yes, NSG's were not deployed as part of template deployment. We will check and update accordingly.

[2020-05-29 14:23] amanmcse commented on #55089
The OAuth 2.0 SAML Bearer Assertion Flow is intended for federated domains only, more info [here](https://github.com/MicrosoftDocs/azure-docs/issues/45071), that thread has a more in depth discussion of the scenario.

[2020-05-29 14:23] #55089 closed

[2020-05-29 14:32] SubhashVasarapu-MSFT commented on #55579
@Hindy-UK , Here is the [template](https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-bastion-nsg) carrying NSG rules. We are in process of updating the docs and it would take some time for the changes to get reflect over the doc.

[2020-05-29 14:39] tx5westmt opened #55969 "Two Pages for Legacy Auth with Different EAS Setting"
There seem to be 2 legacy auth pages with a different settings for checking the Exchange Active Sync option.  This page does not say to check EAS but the other [block legacy auth page](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication) has it checked. Perhaps these 2 pages can be merged and give more details about the limitations of checking EAS

[2020-05-29 14:49] SubhashVasarapu-MSFT commented on #55543
@arvinder-dhar , Appreciate your patience. Yes, exactly planting NSGs on top of gateway subnet will block the gateway creation.
![image](https://user-images.githubusercontent.com/44890829/83273013-95267980-a1e9-11ea-8243-155226d2dde6.png)
We will update the doc accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are furth

[2020-05-29 14:49] #55543 closed

[2020-05-29 14:52] tx5westmt opened #55971 "More details on how Conditional Access can block Legacy Auth connections"
I read in a veeam backup forum that there is debate whether Conditional Access policies properly limit legacy authentication.  When this article says 'Conditional Access policies are enforced after the first-factor authentication has been completed', can you expand on how conditional access is intercepting the legacy authentication requests after this first authentication and then blocking it? Thi

[2020-05-29 14:59] medavamshi commented on #54840
I am running into the same issue as well.  The provided master VM size 'Standard_D4s_v3' is invalid  for a ARO 4.x deployment

[2020-05-29 14:59] SatishBoddu-MSFT commented on #55808
@rosenthalm Also please refer to [Azure Blockchain Workbench architecture ](https://docs.microsoft.com/en-us/azure/blockchain/workbench/architecture) which depicts how a typical Blockchain application architecture would look like. You can also explore Azure Blockchain Workbench offering to get started.
Please let us know if you need further help.

[2020-05-29 15:01] medavamshi commented on #54840
Tried in Both Eastus2 and westus2 location. same thing

[2020-05-29 15:06] AirLancer opened #55972 "JavaScript redirect instead of API response"
Hi,

I followed the tutorial step by step but I can't access my SecretAPI behinde the App Proxy.
The authentication works fine, I get an AuthenticationResult containing an Access- and ID-Token (both the same).
But when I try to access the API the response returns that JavaScript is required (see first screenshot).
The MessageBox in the NativeClient Form1.cs also doesn't show up. I guess it doesn't

[2020-05-29 15:10] mmacy commented on #55576
Hi @Calvin-Yuhui-Liu, I'm going to request that this issue be closed as no doc updates are currently required. As mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/55576#issuecomment-635457717, if you have further questions, please let us know.

#please-close

[2020-05-29 15:10] #55576 closed

[2020-05-29 15:16] priyankareddy20 commented on #55439
Hello,
Thanks for the reply.
I understand that this feature is applicable only to azure vms
How about if we use 3rd party firewall, can we still use the jit vm feature for azure vms having 3rd party firewall??

Is Jit Feature dependent on Firewall?
If yes any constraints?? like we have to use azure firewall or any firewall is supported?

[2020-05-29 15:18] shutsona2go commented on #42392
Ran into same situation on 2019 DC and the Preview Feature TCBTech highlights. To avoid having to recreate VM I was able to use "dsregcmd /leave" after checking status. After that can join domain normally.

[2020-05-29 15:23] ms-lolo opened #55973 "A double release caused an upgrade to be required within 9 days"
I'm finding this documentation very difficult to interpret. Especially when two patch versions are released on the same day.

We were on version **1.16.7** recently and version **1.16.18** and **1.16.9** were both released on the same day (**2020-05-18**). on **2020-05-27**, version **1.16.7** was removed and we were not able to create new nodepools in our cluster. This meant we were expected to u

[2020-05-29 15:23] vipulsparsh commented on #55589
@ThijsLecomte We are investigating on this and will get back to you with some updates.

[2020-05-29 15:30] dougmolineux commented on #55678
Thanks for the response, I think I am going to use the property "userIdentifier" that I get back, please let me know if this is incorrect or not. Feel free to close this, thanks again!

[2020-05-29 15:34] SeaDude commented on #55884
I really appreciate it @mike-urnun-msft, thank you.

[2020-05-29 15:34] jlichwa commented on #40595
Document updated

[2020-05-29 15:34] jlichwa commented on #40595
#please-close

[2020-05-29 15:34] #40595 closed

[2020-05-29 15:41] soeirodefaria opened #55974 "Clarify and show how to perform required step"
Could you please clarify and show how to perform the second half of step one of "Audit who created subscriptions using activity logs". https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/grant-access-to-create-subscription?tabs=azure-powershell%2Cazure-powershell-2#audit-who-created-subscriptions-using-activity-logs

The action in question is: "assign a Reader role to the audi

[2020-05-29 15:42] jtuliani opened #55975 "Get-AzSubscription guidance wrong"
Doc states: "The Azure PowerShell Get-AzSubscription cmdlet show the tenantID for each subscription"

My tests show this is not the case. I have two tenants, 'Fabrikam' and 'Contoso'. Both have a subscription. The Fabrikam tenant delegates their subscription to Contoso. Running 'Get-AzSubscription' from the Contoso tenant returns:

Name                    Id                                   Tenan

[2020-05-29 15:48] MarileeTurscak-MSFT commented on #55966
@RaymondColijn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-29 15:50] rigdern opened #55976 "Overview doc about Azure Function settings"
There should be a doc that gives an overview about settings in Azure Functions that covers these topics:
  - The distinction between settings for local deployments (`local.settings.json`) and Azure deployments (Application Settings in the Azure Portal). They use different settings mechanisms.
  - How Azure Function settings compare with .NET core web services settings. Currently, developers like m

[2020-05-29 15:51] VikasPullagura-MSFT commented on #55854
@Gurpreet103 One reason could be  you may have `apparmor`  running along with selinux.
Can you try to remove the AppArmor and then install selinux and check if that works.

[2020-05-29 15:51] CeciAc opened #55977 "invalid links"
@v-tawe commented on [Fri May 29 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/731)

Links on this page returns 404.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a8971bf0-28a2-2440-fde2-f8f262fae7b4
* Version Independent ID: 3b9de397-5346-9d30-c8af-6e9f0e619f26
* Content: [网络安全中的 Microsoft 服务](https://docs.microsoft.com/zh-cn/azure/security/fundam

[2020-05-29 15:52] CeciAc opened #55978 "invalid links"
@v-tawe commented on [Fri May 29 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/731)

Links on this page returns 404.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a8971bf0-28a2-2440-fde2-f8f262fae7b4
* Version Independent ID: 3b9de397-5346-9d30-c8af-6e9f0e619f26
* Content: [网络安全中的 Microsoft 服务](https://docs.microsoft.com/zh-cn/azure/security/fundam

[2020-05-29 15:54] VikasPullagura-MSFT commented on #55821
@smarthall
Thanks for sharing this. I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-29 15:54] VikasPullagura-MSFT commented on #55821
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-29 15:54] ecfan commented on #52103
The topic has now been updated:

https://docs.microsoft.com/azure/logic-apps/logic-apps-using-sap-connector#add-an-http-request-trigger

@PramodValavala-MSFT: Please change label to "doc-enhancement". #sign-off

[2020-05-29 15:55] #52103 closed

[2020-05-29 15:58] mmacy commented on #46469
#reassign:paulgarn

Cc: @hpsin

[2020-05-29 16:05] vikasmishra5599 opened #55979 "Typo in command of storage account share"
[Enter feedback here]

There is typo in command "account" keyword was missing. I have added in this example

az storage **account** share create \
    --account-name $storageAccountName \
    --account-key $storageAccountKey \
    --name $shareName \
    --quota 1024 \
    --output none

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-05-29 16:06] rigdern commented on #55946
@craigshoemaker Thanks for the response. I believe this issue should be reopened. Let me elaborate on my feedback.

The section above the warning just talks about putting settings in `local.settings.json` and provides a link to the [app settings doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings) with little additional context. Thi

[2020-05-29 16:07] vikasmishra5599 commented on #55979
Invalid

[2020-05-29 16:07] #55979 closed

[2020-05-29 16:09] porrascarlos802018 commented on #55272
We were reviewing documentation for this preview feature in AKS, Egress Outbound Type (https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype).
•         Currently this feature requires either a Load Balancer or a UDR configured.
•         They are using ExpressRoute and advertise 0.0.0.0/0 directly over BGP.
•         The AKS cluster is deployed into a virtual network peered with the virt

[2020-05-29 16:19] SaurabhSharma-MSFT commented on #55978
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-29 16:20] SaurabhSharma-MSFT commented on #55977
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-29 16:29] #55944 closed

[2020-05-29 16:30] BharathNimmala-MSFT commented on #55974
@soeirodefaria  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-05-29 16:36] kobulloc-MSFT commented on #55810
@killnine We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-29 16:36] #55810 closed

[2020-05-29 16:39] normesta commented on #55888
@Chris-May. Thank you for your question. Can you direct to me to a specific area in the documentation that is incorrect? You'd mentioned the portal somehow not showing a static site option. Can you please help me understand which section of content does not match with what you are seeing in the portal. Your CLI error looks as though its expecting a general-purpose V2 storage account. It is true th

[2020-05-29 16:44] tobystic commented on #45348
Semantics. I think @ositobio may be right as this seems to be a grammar issue. Would it be better worded to say "Frontdoor considers all the healthy backends and routes traffic in a round robin distribution across all of them" ?