[2021-06-30 19:23] #48378 closed

[2021-06-30 19:23] curtand commented on #52163
Hi @jnphlp
Thanks for your dedication to our documentation! Unfortunately, at this time the engineering team has been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We have been unable to resolve your query since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to in

[2021-06-30 19:23] #52163 closed

[2021-06-30 19:26] JamesTran-MSFT commented on #77691
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-30 19:26] curtand commented on #57486
Hi @GavinHaak
Thanks for your dedication to our documentation! Unfortunately, at this time the engineering team has been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We have been unable to resolve your query since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to

[2021-06-30 19:26] #57486 closed

[2021-06-30 19:26] ajburnle commented on #74598
#reassign:@ajburnle

[2021-06-30 19:26] #48006 closed

[2021-06-30 19:27] wpcarroll opened #77696 "More information at end of the article on how to approve when state is Approval State is Pending."
At the end of the article it will show the managed private endpoint with an approval state is pending. Should add verbiage to go to the azure storage gen2 networking blade and click on the private endpoints  connections and the approve button.

![image](https://user-images.githubusercontent.com/79993092/124019819-834c7280-d9b7-11eb-960b-7a14ae88635f.png)

---
#### Document Details

⚠ *Do not edit

[2021-06-30 19:28] zr-msft commented on #75937
Thank you for the feedback.

The following section states that VM Scale Sets are required:
https://docs.microsoft.com/azure/aks/use-multiple-node-pools#limitations

#please-close

[2021-06-30 19:28] #75937 closed

[2021-06-30 19:29] caroysMSFT commented on #75503
I was asked to set up a lab to show this behavior to PG this week.  What I have observed as of today is behavior consistent with the documentation.  Which is to say, an element which is matched is excluded from rule evaluation, and nothing else.

I do not know when this changed, but I was able to reproduce it across about a month time period in testing, and a couple different workloads and App Gat

[2021-06-30 19:29] #75503 closed

[2021-06-30 19:29] pritamso commented on #47819
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:29] #47819 closed

[2021-06-30 19:29] zr-msft commented on #77222
Thank you for the feedback.

Based on the discussion, it seems like your issue has been resolved.

#please-close

[2021-06-30 19:29] #77222 closed

[2021-06-30 19:29] JamesTran-MSFT commented on #77694
@nairmai
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-30 19:31] ajburnle commented on #67748
#reassign:@owinfreyatl

[2021-06-30 19:31] pritamso commented on #47226
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:31] #47226 closed

[2021-06-30 19:31] zr-msft commented on #74471
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:32] zr-msft commented on #75450
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:32] zr-msft commented on #71727
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:34] zr-msft commented on #72236
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:34] #72236 closed

[2021-06-30 19:34] zr-msft commented on #75762
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:34] #75762 closed

[2021-06-30 19:34] pritamso commented on #46935
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:34] #46935 closed

[2021-06-30 19:36] MicrosoftGuyJFlo commented on #77401
#assign:@SanDeo-MSFT

[2021-06-30 19:37] zr-msft commented on #73937
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-30 19:37] #73937 closed

[2021-06-30 19:37] femsulu commented on #38530
This is closed.

[2021-06-30 19:38] curtand commented on #58195
Hi @YassineSOUABNI I have clarified the language in the article as of PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/164194

Thanks for your interest and your contribution!

#please-close

[2021-06-30 19:38] #58195 closed

[2021-06-30 19:38] wpcarroll opened #77697 "More description on scenarios and limitations"
The important! Note needs more details.
This leads you to believe that Spark SQL is not possible with DEP. If you create a managed private endpoint to the storage gen2 that is provisioned with synapse and get it approved you can do spark sql commands. Think this needs to be brought out more and is confusing/misleading.

![image](https://user-images.githubusercontent.com/79993092/124020697-9d3a8500

[2021-06-30 19:38] pritamso commented on #46549
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:38] #46549 closed

[2021-06-30 19:38] zr-msft commented on #72452
Thank you for the feedback.

Based on the discussion, it seems like your question has been addressed. If you continue to experience issues, please contact support.

#please-close

[2021-06-30 19:38] #72452 closed

[2021-06-30 19:39] billmath commented on #57069
This article has been updated and now links out directly to O365.  Azure AD Connect supports all multi-geo locations in the O365 article.  Thanks!

#please-close

[2021-06-30 19:39] #57069 closed

[2021-06-30 19:40] pritamso commented on #46131
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:40] zr-msft commented on #72542
Thank you for the feedback.

The article has been updated to address your feedback:
https://docs.microsoft.com/azure/aks/uptime-sla#opt-out-of-uptime-sla

#please-close

[2021-06-30 19:40] #46131 closed

[2021-06-30 19:40] #72542 closed

[2021-06-30 19:42] pritamso commented on #44112
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:42] #44112 closed

[2021-06-30 19:42] zr-msft commented on #72881
Thank you for the feedback.

At this time, we are not planning on incorporating this feedback.

#please-close

[2021-06-30 19:42] #72881 closed

[2021-06-30 19:44] curtand commented on #56510
Hi @harp365

Thanks for your interest and your contribution! The list of "MS Standard Blocked Words" has been deprecated, so we no longer support its use. It's not that we replace it with something better; it was just very old and no longer appropriate. I hope this helps. Please don't use it.

Cheers!

#please-close

[2021-06-30 19:44] #56510 closed

[2021-06-30 19:44] pritamso commented on #43225
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:44] #43225 closed

[2021-06-30 19:45] msftradford commented on #77113
Thanks for the info @AdCCooN! We haven't been able to reproduce this issue on our end. It would be great if you were able to reproduce this in one of [our samples ](https://github.com/Azure/azure-spatial-anchors-samples/tree/master/Unity). If so, please document the steps to hit the issue and include any log files that are available. Thanks!

[2021-06-30 19:45] tomkerkhove commented on #72881
Hi,

Can you elaborate on the why because this is pretty fundamental

[2021-06-30 19:46] msangapu-msft commented on #46019
Hi @StingyJack sorry for the delay. You can run shell commands through the SSH console, but App Service doesn't provide commands to restart or control the containers. There's also CLI commands to manage App Service web apps: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest

Hope that helps.

[2021-06-30 19:47] Justinha commented on #71915
@olprod  This is fixed

[2021-06-30 19:47] Justinha commented on #71915
#please-close

[2021-06-30 19:47] #71915 closed

[2021-06-30 19:48] zr-msft commented on #74158
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:48] #74158 closed

[2021-06-30 19:49] zr-msft commented on #75443
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-30 19:49] #75443 closed

[2021-06-30 19:51] pritamso commented on #43161
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:51] #43161 closed

[2021-06-30 19:51] zr-msft commented on #75549
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:51] #75549 closed

[2021-06-30 19:52] StingyJack commented on #46019
Thanks, I'm sure that will help someone else.

[2021-06-30 19:52] #46019 closed

[2021-06-30 19:53] zr-msft commented on #76153
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:53] #76153 closed

[2021-06-30 19:53] pritamso commented on #42707
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:53] #42707 closed

[2021-06-30 19:56] zr-msft commented on #76626
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 19:57] curtand commented on #56037
Hi @softwarecraft
I'm working with the Licensing team to get this article out of the docs.microsoft.com site, where as you observe the experience is is suboptimal.

Because we've been unable to resolve your query since the creation of this issue, and the timeline for resolution may vary based on resourcing, we've created an internal work item to incorporate your suggestions. We are closing this is

[2021-06-30 19:57] #56037 closed

[2021-06-30 19:59] pritamso commented on #42655
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:59] #42655 closed

[2021-06-30 20:00] migrande opened #77698 "Permissions for Disabling Soft Delete"
The "Enabling and disabling soft delete" section notes "Only the vault owner can disable this feature" but it isn't clear what this means.  I'd assume that means users with the Owner permission on the vault, but my testing shows that only Contributor rights are needed for this.  Can this be cleaned up to be more clear with what's required to disable soft delete?  The security ramifications of this

[2021-06-30 20:02] zr-msft commented on #76660
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:02] #76660 closed

[2021-06-30 20:03] SaiKishor-MSFT commented on #77494
@alephenne I think you are referring to this- [Azure platform considerations](https://docs.microsoft.com/en-us/azure/virtual-network/network-security-groups-overview#azure-platform-considerations) which mentions the following-

Basic infrastructure services like DHCP, DNS, IMDS, and health monitoring are provided through the virtualized host IP addresses 168.63.129.16 and 169.254.169.254. These IP

[2021-06-30 20:04] SaiKishor-MSFT commented on #77494
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-30 20:04] #77494 closed

[2021-06-30 20:04] zr-msft commented on #76737
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:04] #76737 closed

[2021-06-30 20:08] zr-msft commented on #77180
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:09] SaiKishor-MSFT commented on #77499
@damendo Could you please look into this?

[2021-06-30 20:10] MicrosoftGuyJFlo commented on #77646
Resolved. Thank you #please-close

[2021-06-30 20:10] #77646 closed

[2021-06-30 20:13] zr-msft commented on #73317
Thank you for the feedback.

We've added a task to our backlog for possible changes and will prioritize accordingly.

#please-close

[2021-06-30 20:13] #73317 closed

[2021-06-30 20:16] MicrosoftGuyJFlo commented on #77474
This is a known issue per @lujiangfeng666. If you think the product should change then I would suggest creating a product feedback item using the link at the bottom of the doc that says "This Product" #please-close

[2021-06-30 20:16] zr-msft commented on #73715
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:16] #77474 closed

[2021-06-30 20:16] #73715 closed

[2021-06-30 20:16] sashiRachakonda opened #77699 "Azure AD B2C Sign In - JAWS"
[Azure.AD.B2C.Sign.In.-.Tab.stops.pdf](https://github.com/MicrosoftDocs/azure-docs/files/6743707/Azure.AD.B2C.Sign.In.-.Tab.stops.pdf)

- On login page
- Tab through the page to the "Sign up now" link
- Note JAWS does not read the "Don't have an account?" when you tab through the page

JAWS does not read the "Don't have an account?" text on the login page.
The corresponding 'Don't Have an Account?

[2021-06-30 20:19] MicrosoftGuyJFlo commented on #66624
This has been added to the backlog of work on devices troubleshooting content. Will be working with the Product Group to better identify resources outside of engaging support. #please-close

[2021-06-30 20:19] #66624 closed

[2021-06-30 20:21] zr-msft commented on #73835
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:21] #73835 closed

[2021-06-30 20:21] zr-msft commented on #77237
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:21] #77237 closed

[2021-06-30 20:21] zr-msft commented on #76905
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:21] #76905 closed

[2021-06-30 20:23] markjbrown commented on #77161
Clients can relax the consistency within the SDK. However, it requires restarting the application instance and it only applies on the read path. If your default is strong then all writes will be strong (global quorum).

For details on how to do this see, [Override default consistency level](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-consistency?tabs=portal%2Cdotnetv3%2Capi-asyn

[2021-06-30 20:24] curtand commented on #55274
Hi @Torxsmind
Thanks for your interest and your contribution! In the short term, I made it clear that this article is only for the resource denied error. This is published in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/164194.

We will consider the other enhancement suggestions, but the timeline for resolution may vary based on resourcing, so we've created an internal work item to incor

[2021-06-30 20:24] #55274 closed

[2021-06-30 20:28] zr-msft commented on #74040
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:28] #74040 closed

[2021-06-30 20:31] curtand commented on #58589
Hi @mundayn
Thanks for your interest and your contribution. The blog post lists only the Azure AD Preview module as a requirement, which isn't third party at all.  We have been unable to reproduce the problem since the creation of this issue, so we are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-06-30 20:31] #58589 closed

[2021-06-30 20:32] nickgmicrosoft commented on #64073
Hi Charlie,

MSAL.JS abstracts away and automatically does the PKCE/code_challange. It's currently not a passable parameter. You can see the source code that deals with this [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a48ad5101514d0f2e4ef679af10ddc3c76e53e61/lib/msal-browser/src/app/ClientApplication.ts#L1204).

If you follow the steps above that I recommend (app

[2021-06-30 20:34] JamesTran-MSFT commented on #77699
@sashiRachakonda
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-30 20:35] zr-msft commented on #74498
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:37] RobertCadd opened #77700 "Copy an image from another gallery in another tenant"
[Enter feedback here]
This is a great example but I think a common use case is copying an image from a gallery to another image gallery in a different tenant, Having an example of this would be very helpful since it is a more complicated process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4366ce95-0bb0-8a2b-f834-8d3

[2021-06-30 20:40] zr-msft commented on #75110
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:40] #75110 closed

[2021-06-30 20:40] zr-msft commented on #75299
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:40] #75299 closed

[2021-06-30 20:41] curtand commented on #58225
Hi @timograef78
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate you

[2021-06-30 20:41] #58225 closed

[2021-06-30 20:41] mtrangel89 commented on #76950
Tanks @SadiqhAhmed-MSFT !

[2021-06-30 20:41] #76950 closed

[2021-06-30 20:43] rolyon commented on #48391
Hi @MauricioP92
Thanks for noticing this. I've submitted a request to the team to update this description.
thanks

[2021-06-30 20:43] zr-msft commented on #75604
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:43] rolyon commented on #48391
Let us know if you have any additional feedback.
thanks
#please-close

[2021-06-30 20:43] #48391 closed

[2021-06-30 20:46] zr-msft commented on #76374
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-30 20:46] #76374 closed

[2021-06-30 20:48] zr-msft commented on #77097
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 20:48] #77097 closed

[2021-06-30 20:53] zr-msft commented on #77168
Thank you for the feedback.

Please review the following article with details around the standard load balancer:
https://docs.microsoft.com/azure/aks/load-balancer-standard

If you continue to experience issues, please contact support.

#please-close

[2021-06-30 20:53] #77168 closed

[2021-06-30 20:54] mtillman commented on #77107
#reassign @Nicholak-MS
Nick - can you also update the author metadata to you so you get these issues directly?

[2021-06-30 20:54] Justinha commented on #77373
@Wibusts thanks for feedback. This topic is planned to be localized to all locales that docs site supports in a couple weeks.

[2021-06-30 20:57] mtillman commented on #59609
#reassign @Justinha

[2021-06-30 21:00] zr-msft commented on #77556
Thank you for the feedback.

In addition, consider reviewing:
https://docs.microsoft.com/azure/aks/use-multiple-node-pools#specify-a-taint-label-or-tag-for-a-node-pool
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

At this time, we won't be making any changes to this article based on this feedback.

#please-close

[2021-06-30 21:00] #77556 closed

[2021-06-30 21:03] pritamso commented on #42255
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:03] #42255 closed

[2021-06-30 21:06] pritamso commented on #40998
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:06] #40998 closed

[2021-06-30 21:10] pritamso commented on #40953
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:10] #40953 closed

[2021-06-30 21:13] pritamso commented on #40746
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:13] #40746 closed

[2021-06-30 21:15] pritamso commented on #40085
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:15] #40085 closed

[2021-06-30 21:18] pritamso commented on #39303
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:18] #39303 closed

[2021-06-30 21:20] pritamso commented on #38972
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:20] #38972 closed

[2021-06-30 21:22] SaiKishor-MSFT commented on #77565
@yushwang Can you please look into this?

[2021-06-30 21:22] pritamso commented on #38400
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:22] #38400 closed

[2021-06-30 21:23] SaiKishor-MSFT commented on #77570
@zhangmanling Can you look into this please?

[2021-06-30 21:24] pritamso commented on #38371
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:24] #38371 closed

[2021-06-30 21:27] pritamso commented on #37903
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:27] #37903 closed

[2021-06-30 21:27] lujiangfeng666 commented on #77474
The UX will be moved to under Conditional Access in the future. For this setting, we would suggest to put users into a group to work around the issue for now.

[2021-06-30 21:29] sashkotarasenko commented on #77665
![image](https://user-images.githubusercontent.com/85489217/124032433-dc88c600-d9f8-11eb-892e-63d28e7cc46e.png)
@ggailey777 , english is not my native languages so I barely understand instructions. Wouldn't you mind to point me out which of the prerequisites contains any mention about extension bundles?

[2021-06-30 21:31] pritamso commented on #35574
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:31] #35574 closed

[2021-06-30 21:31] JamesTran-MSFT commented on #77622
@scottstout
Thank you for the quick follow ups and details!

I reached out to my team regarding this and unfortunately none of them were able to reproduce this. However, since it's been about a day, I just wanted to check in and see if you're still running into this issue?

[2021-06-30 21:33] pritamso commented on #34664
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:33] #34664 closed

[2021-06-30 21:33] midway500 opened #77702 "Feed back on NSG section"
Please give an example (with screenshot) of all the rules in an NSG as using verbiages cannot fully explain all the details needed to be performed for the rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8759537d-dc4e-4a19-afe9-94b3a9fcbf63
* Version Independent ID: 2d15a9e2-0f39-c792-57b4-65d33095074f
* Content:

[2021-06-30 21:34] SaiKishor-MSFT commented on #77623
@haalkaz Thank you for pointing this out. I have updated the document and this should be reflected soon. Thank you!

[2021-06-30 21:34] #77623 closed

[2021-06-30 21:37] CharlieDigital commented on #64073
Got it; thanks for the clarification.

[2021-06-30 21:38] pritamso commented on #34080
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:38] #34080 closed

[2021-06-30 21:40] Justinha commented on #56518
@c016smith sorry for delay! Organization default is per policy type.

[2021-06-30 21:42] pritamso commented on #32730
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:42] #32730 closed

[2021-06-30 21:48] pritamso commented on #18746
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:48] #18746 closed

[2021-06-30 21:50] pritamso commented on #13013
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 21:50] #13013 closed

[2021-06-30 21:52] scottstout commented on #77622
I reproduced it just now. If you don't think this is widespread we can just
drop it. I don't need to get to this page on my phone.

On Wed, Jun 30, 2021 at 4:32 PM James Tran-MSFT ***@***.***>
wrote:

[2021-06-30 22:01] mmacy commented on #76926
#label:msid-quality-accuracy

[2021-06-30 22:06] SaiKishor-MSFT commented on #77557
@zacabrer I think you are refering to the Default SNAT which comes into play for a VM with no load balancer, no NAT GW on the subnet, and no public IP asssigned to the VM, the VM will get default SNAT. Details of that are given here- https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#how-does-default-snat-work

[2021-06-30 22:12] BharathNimmala-MSFT commented on #77698
@migrande Thanks a lot for taking time to share your feedback on this, I have assigned this issue to our document author @v-amallick to further review your feedback and update the document as needed.

[2021-06-30 22:16] santhoshbomma9 opened #77703 "Adding resource to the pre-requisites"
At the Prerequisites https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-storage#prerequisites should it say "our account needs "Owner" permissions at the appropriate scope (your subscription or resource group or **resource**)" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-06-30 22:16] Grace-MacJones-MSFT commented on #77680
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-30 22:17] zacabrer commented on #77557
Hey Sai thanks for getting back to me. You are correct. I'm referring to default SNAT for a VM with no LB, NATGW, or ILPIP. I think what's confusing in the documentation you linked is this part in bold/italics:
"When a VM creates an outbound flow, Azure translates the source IP address to the **_public IP address of the public load balancer frontend_**."

This leads the reader to believe that "Def

[2021-06-30 22:18] mmacy commented on #76926
- #label:"doc-bug"
- #pri1

[2021-06-30 22:20] zacabrer commented on #77557
I would propose adding one more entry to the chart at the bottom of this section: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#what-is-the-ip-for-default-snat
Under all of the load balancer combos, add one more entry like below:

Type: VM with no Load Balancer, NAT GW, or public IP
Outbound behavior: SNAT with unknown dynamic IP address

[2021-06-30 22:20] SatishBoddu-MSFT commented on #77687
Hello @algattik
Our SME will review your feedback and get back soon.

[2021-06-30 22:21] olumideo commented on #77550
Hi Karishma, Sorry I wasn't specific in my earlier comment. It is the introductory sections before the "Overview of API server authorized IP ranges." It was much more challenging to follow and it took several reads before it become clear. Also, why does it have two "This article shows you how to ..."? I think the second one refers only to the CLI installation and not this particular article, but r

[2021-06-30 22:25] JamesTran-MSFT commented on #77622
@scottstout
Thank you for the quick follow up on this!

I reached out to the author of this article, who tried to repro this as well and wasn't able to. However, since you're internal I'll go ahead and close this out, and the doc author will follow up with you offline.

If you have any other questions or if this issue gets worse, please let us know.
Thank you for your time and patience throughout

[2021-06-30 22:25] #77622 closed

[2021-06-30 22:28] JamesTran-MSFT commented on #77703
@santhoshbomma9
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-30 22:32] mmacy commented on #76926
#pri1

[2021-06-30 22:32] Nicholak-MS commented on #77107
Hi @richardojel,
I need a bit more information here as I am not following why we would change the name of the string for that product. Our catalog still shows the GUID: 0c266dff-15dd-4b49-8397-2bb16070ed52 as Microsoft 365 Audio Conferencing and MCOMEETADV. This is where the information in the Service Plans document is sourced from.  MCOMEETADD is a completely separate product.

[2021-06-30 22:40] SatishBoddu-MSFT commented on #77690
Hello @algattik
Could you please provide us any screenshot for this build task-Warning?

![image](https://user-images.githubusercontent.com/62923178/124040205-4bdec580-d9b9-11eb-8611-06f790207f31.png)

[2021-06-30 22:40] muthu329024 commented on #35768
https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet/delegateSubnet.ps1

[2021-06-30 22:53] c016smith commented on #56518
Thanks very much @Justinha , I do appreciate the response and the clarity. Have a great day!

[2021-06-30 23:00] KnicKnic opened #77704 "AKS ssh instructions are not correct"
This is very misleadingly entitled ssh into the node. It does not do that, it creates a privileged container on the node.

A coworker was looking at https://docs.microsoft.com/en-us/azure/aks/kubelet-logs to try and understand why a node went unready. Kubelet-logs page redirects to SSH to ssh into the machine. However once completing the "ssh" steps they went back to the Kubelet-logs page and comp

[2021-06-30 23:02] brentleslie opened #77705 "How to turn on Analytics store?"
There doesn't appear to be any explanation as to how this is turned on, if you already have a Cosmos instance with it turned off. Seems like a massive oversight...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e8897fc-2ff6-8ad3-a1bc-e419f44b8091
* Version Independent ID: 4952789e-14ad-339e-7c28-129f7a1999f4
* Content

[2021-06-30 23:19] Rodrigossz commented on #77705
Currently it's only available for new containers. You can check out the process here:  https://docs.microsoft.com/en-us/azure/cosmos-db/configure-synapse-link

[2021-06-30 23:20] Rodrigossz commented on #77705
#please-close

[2021-06-30 23:20] #77705 closed

[2021-06-30 23:29] jimoneil opened #77706 "Clarify three versus four agent options in FAQ"
[Enter feedback here]
"You can choose between the following three options" is mentioned in the text, but there are four options bulletized below it. In addition one of the options indicates it's "agentless" and another option is to not install an agent, so the concept of "agentless" isn't completely clear (or it's an overloaded term).

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-06-30 23:51] JustinGrote opened #77708 "Hide resource group selection in basics?"
If I am doing a subscription level deployment, how do I hide the resource group dropdown? This would confuse my user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa4dc0f9-5eb2-1928-5546-6eb5b38d79fc
* Version Independent ID: 56e0b028-1deb-1dff-e838-17821d0648e2
* Content: [CreateUiDefinition.json file for portal pan

[2021-07-01 00:04] SamaraSoucy-MSFT opened #77709 "Update screenshot for workbook parameters."
The screenshot for creating a new parameter (and related instruction) is out of date:

![image](https://user-images.githubusercontent.com/47195189/124045637-139dae00-d9de-11eb-82ca-a9752ab5b059.png)

There is now a third option, so the checkbox has been replaced with a select:

![image](https://user-images.githubusercontent.com/47195189/124045728-4d6eb480-d9de-11eb-8caf-670434f3ff96.png)

---
####

[2021-07-01 00:04] SamaraSoucy-MSFT commented on #77709
triaged (opened by CXP)

[2021-07-01 00:12] WilliamDAssafMSFT commented on #77661
@anuragsharma-MSFT I also see the blurred screenshot text, we'll need to adjust the images. The issue is because for some reason the images have transparency built into them between the characters, and dark/high contrast modes for docs.microsoft.com renders them difficult to read.

Thanks for bringing this to our attention, @kasunsjc. The workaround for you is to change your docs.microsoft.com the

[2021-07-01 00:17] konabuta commented on #75992
@RohitMungi-MSFT  Any updates on this? It seems there's no change in document.

[2021-07-01 00:22] ssabat commented on #64051
Hi @jpaulo-kumulus ,

In our doc update,  we have an exmaple to create run id at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/quickstart-create-data-factory-rest-api.md#create-pipeline-run

Thanks,
Sunil

#please-close

[2021-07-01 00:22] #64051 closed

[2021-07-01 00:40] Grace-MacJones-MSFT commented on #77682
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2021-07-01 00:43] Grace-MacJones-MSFT commented on #77681
Thanks for the feedback! I have assigned the issue to the doc author to evaluate and provide more guidance for your scenario.

[2021-07-01 00:59] BretMishler commented on #76871
@JamesTran-MSFT Thanks for reaching out. I apologize for not getting back sooner. If the contributors involved feel its not of significance than I'll just let it rest :)

[2021-07-01 01:08] Grace-MacJones-MSFT commented on #77669
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-07-01 01:15] WilliamDAssafMSFT commented on #77661
An update is in flight. Thanks again @kasunjc, your feedback improves Microsoft Docs.
#please-close

[2021-07-01 01:15] #77661 closed

[2021-07-01 01:30] Grace-MacJones-MSFT commented on #77693
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-07-01 01:57] carlosporter commented on #75725
I ended up answering my own question, and  I have say that it's because the **documentation lacks important details**, the mayor pieces of missing information are:

 - "az ssh config" creates a certificate file named "id_rsa.pub-aadcert.pub" and it expires 1 hour after being created.

 - The configuration file works only with an OpenSSH client for Linux, the Windows version doesn't have the suppor

[2021-07-01 02:22] carlosporter opened #77711 "Support for password authentication."
Will AADSSHLoginForLinux ever support password authentication with any ssh client instead of depend of the Azure CLI client ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b92aa
* Content: [Sign in to Linux virtual machine in

[2021-07-01 02:24] yeahsicy opened #77712 "ARM template sample for Diagnostic setting for App service (and slot) is missing"
The samples don't include creating a diagnostic setting for App service (and slot).
Please review and add below example for users who need Diagnostic setting for App service (and slot) via ARM template.

{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "settingName": {
      "type": "String"
    }

[2021-07-01 02:32] yeahsicy commented on #76205
@davehcdn , I found the same and able to figure it out. Hope the example (https://github.com/MicrosoftDocs/azure-docs/issues/77712) would help!

[2021-07-01 02:41] PennyZhou-MSFT commented on #61661
Thanks for the feedback. Having update our ACOM Doc by adding this link https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-get-started-connect-with-ps
![image](https://user-images.githubusercontent.com/83812325/124056434-4b493c00-da58-11eb-800d-13f5a3aca41e.png)
#please-close

[2021-07-01 02:41] #61661 closed

[2021-07-01 02:54] BharathNimmala-MSFT commented on #77712
@yeahsicy Thanks a lot for resurfacing the feedback along with the example. Assigning this to our document author @bwren to further evaulate and update the document accordingly.

[2021-07-01 02:57] BharathNimmala-MSFT commented on #77708
@JustinGrote Thank you for reaching out with your query , assigned this to our document author to further review the query and update the document if needed.

[2021-07-01 03:03] hanslai opened #77714 "Please add an example for Blazor WASM Access WebAPI"
In the Single-page application (SPA)

There is not Blazor WASM example for accessing Web API, please add one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Microsoft identity platform authentication librarie

[2021-07-01 03:15] mrhannah88 opened #77715 "Limitations of Device Filtering"
Kia Ora, Just want to understand how the the requests are processed for Conditional Access with Device Filtering.

Looking at utilizing Hybrid Azure AD joined Servers (created via Azure AD Connect) as secure access workstations. I have got the Extension attribute populated via Graph as per #77551 (as Transforming AD Attributes via AADC seems to be nigh on impossible), but this doesn't seem to have

[2021-07-01 03:15] CHEEKATLAPRADEEP-MSFT commented on #77696
@wpcarroll Thanks for the feedback. It's has been already mentioned in the step5.

![image](https://user-images.githubusercontent.com/79183421/124059360-99eeda00-da48-11eb-8140-f032e1746354.png)

Hope this helps.

[2021-07-01 03:17] CHEEKATLAPRADEEP-MSFT commented on #77697
@wpcarroll  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-01 03:51] ShuheiUda opened #77717 "Diagnostic log for Basic LB"
Diagnostic log for Basic LB is already removed.
Please update "Known Issues" section.

Notification:
![image](https://user-images.githubusercontent.com/16984569/124061868-a421d000-da6a-11eb-95d8-9bce3aa563cd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da108ef2-ced6-2a2c-c2b8-2ed5ba334b77
* Version Independent I

[2021-07-01 03:53] MayankBargali-MSFT commented on #77692
@felixtsem5 As mentioned in section "[What IP addresses do I need to add to allow list](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-faq#what-ip-addresses-do-i-need-to-add-to-allow-list-)" if your namespace is zone redundancy then only you will see the Non-authoritative answer section with the below i.e. when you create the premium namespace which has zone redundancy. Y

[2021-07-01 03:55] GitaraniSharma-MSFT commented on #77679
@ankku , thank you for your query. We'll review this and get back to you shortly!

[2021-07-01 03:57] GitaraniSharma-MSFT commented on #77660
@MCKLMT , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-01 03:59] GitaraniSharma-MSFT commented on #77702
@midway500 , thank you for the feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2021-07-01 04:16] GitaraniSharma-MSFT commented on #77700
@RobertCadd , thank you for your feedback. We have assigned this to the content owner/author for review.

@cynthn , for your review.

[2021-07-01 04:35] v-hagamp commented on #77151
#please-close

[2021-07-01 04:35] #77151 closed

[2021-07-01 04:39] v-amallick commented on #77698
@migrande, thank you for your feedback. Will consult with the product group and get back.

@BharathNimmala-MSFT: Thanks for looping me in.

[2021-07-01 04:58] #75528 closed

[2021-07-01 05:15] #77344 closed

[2021-07-01 05:21] Prakash-Muthu opened #77719 "Affirmed Private Network Service Manager Deployment Guide"
Please correct spelling mistake in "Pulling from Azure Storage Account" section
In Step 1, it says "To complere az login, execute the following command"

Please correct "complere" to "complete"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddb5927c-4e55-d4ff-384a-2cf3ae3efb9a
* Version Independent ID: 9d000615-d945-74

[2021-07-01 05:33] mattpurnell commented on #58225
I really hope this can be resolved. I work at a large organisation, and it looks like I have to slowly click through the PIM GUI to remove a large list of PIM roles.

Cannot find any method for removing Assignments, can only deactivate activations..

[2021-07-01 05:35] rockboyfor opened #77720 "Scenario about Azure VM without public IP address and not in the backend of load balance."
Hi colleagues,

For the following articles:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-deploy-static-pip-arm-cli

Our customers are interesting to the first note section about using ephemeral IP to configure outbound internet connection in **images 1**.

_**Image 1:**_
![image](https://user-images.githubusercontent.com/4704301/124066369-1d212780-da6b-11eb-8b1a-e3137cd54

[2021-07-01 05:37] vipulsparsh commented on #77714
@hanslai Does this help : https://github.com/cmatskas/BlazorWASMB2C

Let us know so that we can take this up accordingly.

[2021-07-01 05:41] mstavrev commented on #77344
No, I can no longer reproduce it. Thanks.

[2021-07-01 06:30] memildin commented on #76958
Hi @timmcfadden, thanks for the feedback and for taking the time to help us improve the docs.

I've uploaded a new screenshot and the changes will go live within the next 24hrs. Feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-07-01 06:30] #76958 closed

[2021-07-01 06:46] KranthiPakala-MSFT commented on #77635
Hi @parasin - Just wanted to double check, if you have placed the sample data ( NYC Taxi data ) in the primary storage account you created for the workspace.

If not, I would highly recommend to complete the other tutorials which are the prerequisites for this tutorial.

![image](https://user-images.githubusercontent.com/50185738/124078839-368b8a80-d9fd-11eb-9347-bbd93a7502d9.png)

You can follow

[2021-07-01 06:53] SrijitBose-MSFT commented on #77704
@KnicKnic thank you for the feedback. The document was updated to use privileged container pods on the node which removed the earlier complexities of setting password/ssh keys on the node Virtual machine/Virtual Machine Scale Sets which required reboots of the underlying machines. However, if the use case is to [get kubelet logs from Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure

[2021-07-01 07:01] algattik commented on #77690
![image](https://user-images.githubusercontent.com/22099722/124080655-e4715600-da4a-11eb-80ca-fdac36542141.png)

[2021-07-01 07:01] algattik commented on #77690
See also https://github.com/toolboc/IoTEdge-DevOps/pull/13

[2021-07-01 07:05] JayaChatterjee-MSFT commented on #77585
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-01 07:05] #77585 closed

[2021-07-01 07:06] AshokPeddakotla-MSFT commented on #77475
@Christian-e-S How are you generating the ID? is it auto generated by Event grid or any other application or generated by your code?
Take a look at the below similar asks and see if it helps to resolve your issue?
1. https://docs.microsoft.com/en-us/answers/questions/268414/index.html
2. https://github.com/MicrosoftDocs/azure-docs/issues/15127
3. https://stackoverflow.com/questions/53851926/how-do

[2021-07-01 07:06] SaiKishor-MSFT commented on #77720
@KumudD Can you please look into this?

[2021-07-01 07:08] SaiKishor-MSFT commented on #77717
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-07-01 07:09] JayaChatterjee-MSFT commented on #77378
@ggailey777 Could you please review this and see if we need any modification?

[2021-07-01 07:11] hk-chahal opened #77721 "Unable to get Resource-Location in response header after sending https://us.atlas.microsoft.com/mapData/metadata/{{uid}}?api-version=2.0&subscription-key={{subscription-key}} request"
Hi,

I am unable to get Resource-Location in response header after I send https://us.atlas.microsoft.com/mapData/metadata/{{uid}}?api-version=2.0&subscription-key={{subscription-key}} request. I am using the same key throughout the process but still not able to get UDID.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-07-01 07:22] GitaraniSharma-MSFT commented on #77706
@jimoneil , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@ElazarK , please update the doc as requested.

[2021-07-01 07:36] GitaraniSharma-MSFT commented on #77711
@carlosporter , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-01 07:38] GitaraniSharma-MSFT commented on #77715
@mrhannah88 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-01 07:54] SrijitBose-MSFT commented on #77656
@akamienski thank you for the feedback. We have created a work item for this and is currently being reviewed.

[2021-07-01 07:55] sijucm opened #77725 "Entity client missing information and example"
[Enter feedback here]
This page is redirected from the page: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=javascript. That page talks about getting the binding information for an entity client. The example shown in this page, given below, is not a usable example. It talks about name being the same as the input parameter in the function signature. I

[2021-07-01 08:04] Arjunguanas opened #77726 "Unable to add the user journey on the signup sign in"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781ff5da-dba7-1be3-b310-e74ddf3bbce0
* Version Independent ID: d904416e-c5ba-89dd-c6d6-b8e6375b9c63
* Content: [REST API claims exchanges - Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-

[2021-07-01 08:11] shubhi97 opened #77727 "How we can do incremental load from Azure Managed instance to Azure SQL Database using CDC"
[Enter feedback here]

how I can make a SSIS Package to move data from Azure Managed instance to Azure SQL Database using change data capture.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b71c2574-0f45-622b-3981-a83f255dda86
* Version Independent ID: ccc0eff7-2555-7af0-6458-6d2b3f96a2f1
* Content: [Incrementally copy

[2021-07-01 08:35] cveld opened #77728 "PowerShell: how to calculate retention period?"
As the documentation states, containers can only be removed after the retention period of all blobs has passed.

If I use the following to retrieve the applied policy:

[code]

I guess this only retrieves the policy, not the retention period of the latest blob that got added. What is your guidance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-07-01 08:43] priyankareddy20 opened #77729 "In the recommended browsers, it is mentioned that, FireFox is supported. I have downloaded the latest version of FIREFOX 89.02 version, I was unable to access the azure portal.Kindly update the documentation is FIREFOX is not recommended or supported"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported browsers and devices for Azure portal - Azure portal](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-supported-

[2021-07-01 08:43] priyankareddy20 commented on #77406
I did not receive any feedback on the issue.Kindly look onto it

[2021-07-01 08:53] memildin commented on #77675
@digitalzomb can you please provide some more details about the kind of Security Center data you're hoping to see elsewhere.

Ideally, you'd integrate Microsoft 365 Defender with Azure Sentinel. Since Azure Defender also integrates with Azure Sentinel, that would be the best way to see the data for both.

Since you specifically mentioned 'onboarding', and you've commented on the page that discusse

[2021-07-01 08:53] #77675 closed

[2021-07-01 08:59] rolandkru commented on #77402
Thank you for your clarification.

[2021-07-01 09:06] AurimasNav commented on #77269
No additional questions, thanks.

[2021-07-01 09:14] CHEEKATLAPRADEEP-MSFT commented on #77727
@shubhi97  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-07-01 09:22] AshokPeddakotla-MSFT commented on #77721
@hk-chahal  Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-01 09:22] rizaan1 opened #77730 "Azure Virtual Desktop - local Drive re-direction"
Hi

I have an issue whereby i have setup Azure Virtual desktop and everything is working as expected besides my local drives do not map to my session on WVD and i also cant see my local drives on the published apps.

i verified on the hostpool RDP properties that all device re-direction is enabled.

i can confirm there is no group policy or any local policy setup on the WVD.

to access the above p

[2021-07-01 09:23] SARIGASURENDRAN commented on #76403
The issue is not with the Spell Check API - it returns success when called separately. The issue is when the Spell Check API integration with LUIS. I enable Spell Check and provide key in LUIS ->Manage Resources->Prediction -> Query Parameters. However upon refreshing the page or reloading the project, the settings goes to back to disabled and the key is removed.

<img width="633" alt="Screenshot

[2021-07-01 09:34] SumanthMarigowda commented on #77728
@cveld Thanks for the question! We are investigating and will update you shortly.

[2021-07-01 09:47] nkumars commented on #77104
@jitendraRai, so is it confirmed we don't get identities attribute in the request? If so, you can go ahead and close the ticket. We will have to find an alternative approach identifying the issuer to take necessary action.

[2021-07-01 09:50] matzter opened #77731 "Missing permissions on AKS"
I think the command:
`az aks get-credentials --resource-group myResourceGroup --name myAKSCluster`

should contain --admin. At least if you then want to check node configuration

`kubectl get nodes`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba

[2021-07-01 09:52] nkumars opened #77732 "Disable some of the network service ports"
From our security team, we are recommended to disable ports that are not used exclusively in the frontend. Just to confirm, from the explanation in the page,

can I conclude no ports can be closed from the list of exposed ports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
* Versi

[2021-07-01 09:58] saptarshibasu opened #77733 "LAD 4.0 is not writing to EventHub sink"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute - Linux diagnostic extension 4.0 - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux?tabs

[2021-07-01 10:13] AshokPeddakotla-MSFT commented on #77721
@hk-chahal Are you seeing any error message?
@anastasia-ms I am also not getting the Resource-Location in response header as mentioned in the steps 6.

![image](https://user-images.githubusercontent.com/44426435/124107314-bc054e00-da82-11eb-9285-990d25809be0.png)

I see 404 error message

![image](https://user-images.githubusercontent.com/44426435/124107553-f969db80-da82-11eb-9ae8-2fb63619c5f5.png

[2021-07-01 10:17] saulobejo opened #77734 "Azure ARC :: Omboarding :: AZCM0104 :: Failed To Get OS Information :: Failed to obtain FqdnDNS"
Hello,

I'm receiving the following error when trying to onboard my CentOS 7 machine to Azure ARC.

[code]

Versions:

[code]

[2021-07-01 10:24] ElazarK commented on #77706
@jimoneil Thank you for bringing this to our attention. I will look into this and follow up as is appropriate.

[2021-07-01 10:26] shiniizuka opened #77735 "Adding an Application Gateway scenario for "Considerations before applying locks""
I have a suggestion for "Considerations before applying locks" part.

I would request the document to mention that the backend status cannot be shown if the Application Gateway has read-only lock. When we try to get the backend health, it is needed to use POST method, not GET method. That is why we cannot retrieve the backend health when the Application Gateway has read-only lock. Sometimes we are

[2021-07-01 11:26] marki555 opened #77737 "Switzerland North missing for Speech regions"
In Azure Portal, I can create Speech resource also in Switzerland North region, but here it is not listed under supported regions for Speech.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d004939e-c536-33b0-7151-fcae2abcc3fc
* Version Independent ID: 12d0932a-536d-f62b-c399-a56a7bf60fcd
* Content: [Regions - Speech se

[2021-07-01 11:30] HarrisburgUSysAdmin commented on #77474
@lujiangfeng666 - Thank you!

[2021-07-01 11:32] VishalSinhaNF opened #77739 "Storage event trigger scope"
Under Storage even trigger scope

The way to retrieve folder path is given as TriggerBody().folderName. It should be TriggerBody().folderPath
Wasted 2 hours just trying to figure that out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-738

[2021-07-01 11:44] SnehaAgrawal-MSFT commented on #77461
@darrenferguson Since we did not here from you. We will close this out but if you feel you need more information please just let us know.

[2021-07-01 11:44] #77461 closed

[2021-07-01 11:46] SnehaAgrawal-MSFT commented on #77732
@nkumars Thank you for your feedback! We will review and update as appropriate.

[2021-07-01 11:53] rabbitf00t commented on #60272
Do we need same "write" access while attaching existing Shared Image gallery?? I am getting same error while attaching vnet and share image gallery

[2021-07-01 12:03] PramodValavala-MSFT commented on #77475
@Christian-e-S To add to @AshokPeddakotla-MSFT's comment and after looking at some of the IoT Hub samples, I believe the IDs here are generated on the IoT Hub front before sending them to Event Grid for routing.

I will try to check with the team internally and get back on this.

[2021-07-01 12:09] RohitMungi-MSFT commented on #77737
@marki555 Thanks for spotting this. I think in this case the resource creation is possible but the availability of the speech service functionality i.e STT or TTS might still be pending. You can try to use the keys and check if it works for this region.

@mahilleb-msft Could you please confirm if the availability of service and creation of resource follow a similar timeline?

[2021-07-01 12:11] Sreini opened #77740 "Pre and postdeploy sample script doesn't work out of the box"
If I run the script exactly as presented, it returns the error message "Cannot index into a null array." This is because the script is checking specifically for a deployment with a name that looks like "ArmTemplateForFactory*" etc etc. Perhaps it is a good idea to specify this together with the script (or add it as a parameter), because most people will copy paste the script and then wonder why it

[2021-07-01 12:12] marki555 commented on #77737
I can confirm STT in switzerlandnorth is working for me. Didn't try TTS yet.

[2021-07-01 12:15] arbrctb opened #77741 "SkipOutOfScopeDeletions value cannot be set via Graph Explorer"
This does not seem to work. Instructions followed exactly and I receive 401 Unauthorized "UnknownError".

When I change it to the 1.0 API, I get the following:

"code": "Request_BadRequest"
"message": "Unexpected segment OpenPropertySegment. Expected property/$value."

Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-01 12:25] KranthiPakala-MSFT commented on #77739
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-07-01 12:31] parasin commented on #77635
Ah, looks like it was on my end. You can close this issue

From: Kranthi Pakala ***@***.***>
Sent: Thursday, July 1, 2021 2:47 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Param Singh ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Taxi dataset unavailable (#77635)

Hi @parasin<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fparasin&dat

[2021-07-01 12:45] cyberwhiz2u opened #77743 "Can the CGNAT 100.64.0.0/10 CIDR range be used for internal Azure VNETs"
Can this page please be more explicit on the use of the CGNAT 100.64.0.0/10 CIDR range usage in Azure VNET.

There is a section of text on this page that mentions by default the next hop type for 100.64.0.0/10 is None and not Virtual network. But it also states “If you assign any of the previous address ranges within the address space of a virtual network, Azure automatically changes the next hop

[2021-07-01 12:51] huipingli2009 commented on #77682
Hi Grace,

Thank you for investigating on this. Let me know.

Henry

Sent from my iPhone

[2021-07-01 12:58] blueelvis commented on #50919
@ivapplyr - Whom should I reach out to get access to the Public Preview? I am right now in the implementation mode for Private Endpoints and this would simplify a lot of the things regarding DNS and Firewall rules for us.

[2021-07-01 13:13] felixtsem5 commented on #77692
OK makes sense. Thanks very much @MayankBargali-MSFT!

[2021-07-01 13:13] #77692 closed

[2021-07-01 13:27] GitaraniSharma-MSFT commented on #77719
@Prakash-Muthu , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@KumudD , could you please update the doc as requested?

[2021-07-01 13:29] GitaraniSharma-MSFT commented on #77725
@sijucm , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-01 13:31] GitaraniSharma-MSFT commented on #77729
@priyankareddy20 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-01 13:37] pjrcdf opened #77744 "Clarity required on Supported Table - OfficeActivity"
Hi,

In the supported tables section of this page there is an entry for the OfficeActivity table that states

"Partial support – some of the data to ingested via webhooks from O365 into LA. This portion is missing in export currently."

Can this be written more clearly to explain what sections will be missing? Right now from the current explanation it is not clear.

Thanks

Paul

---
#### Document

[2021-07-01 13:47] LordDelacroix opened #77746 "Good Grief"
As usual anymore, following the directions on the page and it just does NOT work. I am just beyond tired of this crap with MS anymore.

pressing F5 yields:

Build started...
Failed to download package 'WindowsAzure.Storage.9.3.1' from 'https://api.nuget.org/v3-flatcontainer/windowsazure.storage/9.3.1/windowsazure.storage.9.3.1.nupkg'.
The decryption operation failed, see inner exception.
  The spe

[2021-07-01 13:51] ntabris commented on #74711
Any update on this? We'd like to know when cross-stamp scaling on functions with key vault references *is* supported, and it's hard to know this when the relevant docs are stale.

[2021-07-01 13:57] v-new commented on #10766
Yep. It's still with us. What is that App Vortex [wsfed enabled] anyway? Should I be concerned?

[2021-07-01 14:02] billmath commented on #72503
@Baasky01 Thanks for catching this.  I have updated the diagram and it should be live later today.

Thanks!

#please-close

[2021-07-01 14:02] #72503 closed

[2021-07-01 14:02] tanieee28 commented on #44894
Yes, I checked this in  my environment and saw the same error.
let me try to debug this.
@AshokPeddakotla-MSFT Request your help on this incase its an issue from some new updates.

[2021-07-01 14:21] tfitzmac commented on #77678
@hollowdrutt - thanks for this feedback, and I agree with your suggestion. I'll update the article.

[2021-07-01 14:24] artemislee88 opened #77749 "Azure Files does not support RA-GRS and RA-GZRS"
There is a note in the [Read access to data in the secondary region](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#read-access-to-data-in-the-secondary-region) section that conflicts with a table in the [Supported Azure Storage services](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#supported-azure-storage-services)

The note states:

The table

[2021-07-01 14:39] nailuenlue opened #77750 "Limitation of 200 pod identities per Cluster"
I know that there was initial a limit of 50 pod identities per Cluster, which has been increased to 200. We're now facing those limits as our plan is to share the AKS cluster for multiple applications, which are sitting in their dedicated namespaces. As some of the applications have multiple microservices, its not unusual to have 10-15 identities used for a single application.

Where does the limi

[2021-07-01 14:40] shashishailaj commented on #77726
@Arjunguanas Thank you for your query . We use azure-docs repository for capturing feedback on the documentation . For any issues which may require troubleshooting we suggest you to post on the [Microsoft QnA](https://docs.microsoft.com/answers) where we have a vibrant community of Azure experts who can help you on the query. We will try to help you with your query however if it requires detailed

[2021-07-01 14:45] keen85 opened #77751 "Doesn't work with Spark 3.0 Pools"
Spark 3.0 pools are in public preview.
Using this newer Spark version this tutorial doesn't work any more.

Quickfix is to add
`from notebookutils import enableMatplotlib`
`enableMatplotlib()`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6060323-f30c-6421-2c78-b85729e51b8a
* Version Independent ID: 778c3f9c-fd30-c5a

[2021-07-01 14:54] th3w4y commented on #76401
will the documentation be coreectwd, do you have any updates on that, as this seem to still be causing some confusion in the current form it is mentioning DiND

[2021-07-01 15:01] ggailey777 commented on #77746
@LordDelacroix sorry for your frustration with [this Visual Studio tutorial](https://docs.microsoft.com/azure/azure-functions/functions-create-your-first-function-visual-studio). This tutorial only supports .NET Core 3.1. If you want to run Azure Functions on .NET 5.0. you need to [follow this article instead](https://docs.microsoft.com/azure/azure-functions/dotnet-isolated-process-developer-howto

[2021-07-01 15:02] ggailey777 commented on #77746
#assign:ggailey777

[2021-07-01 15:03] MicrosoftGuyJFlo commented on #77401
Per the Product Group 'enterpriseregistration.windows.net` and `pas.windows.net` should return 404 Not Found, which is expected behavior. #please-close

[2021-07-01 15:03] #77401 closed

[2021-07-01 15:09] david-tap opened #77753 "403 error can be caused by enabling Network Isolation for ingestion"
In the Resolution for the error "The service returned HTTP status code 403 in response to a query. Check with the service administrator for the health of the service. The query will be retried later", please add that enabling Network Isolation on the Workspace without setting up Private Links, will result in 403 errors as well.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-07-01 15:14] SrijitBose-MSFT commented on #77731
On clusters that use Azure AD, users with the _clusterUser_ role have an empty _kubeconfig_ file that prompts a log in. Once logged in, users have access based on their Azure AD user or group settings. Users with the _clusterAdmin_ role have admin access.

**Clusters that do not use Azure AD only use the _clusterAdmin_ role.**

For more information please check [Available cluster roles permissions

[2021-07-01 15:21] AndrewSmithRS opened #77754 "App Service Metrics for Instances"
I understand that metrics are aggregated when being ingested into Log Analytics. Using max I could trigger an alert for an instance with for example high CPU. How do I identify the actual instance?
When viewing metrics in the portal and splitting by instance I end up with a unique name however when getting the list of instances using get-azresource (or any other tool) with a type of Microsoft.Web/

[2021-07-01 15:24] tfitzmac commented on #77678
I have submitted an update which should get published later today.
#please-close

[2021-07-01 15:24] #77678 closed

[2021-07-01 15:33] tfitzmac commented on #77735
@shiniizuka - thanks for this feedback. I'll add that consideration to the article.

[2021-07-01 15:35] kilasuit opened #77756 "Incorrect link reference for Application Gateway docs"
https://github.com/MicrosoftDocs/azure-docs/blob/bfae8d9e4e341fa4e7bb1c9568c9494ecb4de57c/articles/networking/index.yml#L121-L122

[2021-07-01 15:37] roygara commented on #77384
#assign:twooley

[2021-07-01 15:59] rajeevmv opened #77758 "Clarification regarding bastion and private DNS zones"
[Enter feedback here]

Under https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-portal#create-a-private-endpoint, step 9, this page indicates "Integrate with private DNS zone | Leave the default of Yes."

However, if you read the Bastion FAQ: https://docs.microsoft.com/en-us/azure/bastion/bastion-faq#can-i-use-azure-bastion-with-azure-private-dns-zones, it specifies very c

[2021-07-01 16:02] TobyHFerguson opened #77759 "Warning about Sum given but no details"
This page says that Sum may give misleading results for certain metrics, but it doesn't say which ones, nor give the reasoning so one can figure out what the issue is.

Please make this more detailed, so we poor users can figure out exactly what to do! I would like to use Sum for certain values, but am now concerned about its use!

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-07-01 16:22] louisjrdev opened #77761 "Multi-Tenant Custom Policy for AAD Missing the ClaimSchema for the corresponding OutputClaims"
When running through this tutorial, at the end I get an error described like so:
[Troubleshooting Docs Error](https://docs.microsoft.com/en-us/azure/active-directory-b2c/troubleshoot-custom-policies#makes-a-reference-to-claimtype-with-id-claim-name-but-neither-the-policy-nor-any-of-its-base-policies-contain-such-an-element)

Where the {claim name} is one of the fields in the new OutputClaims we ad

[2021-07-01 16:26] MicrosoftGuyJFlo commented on #77711
Yes it is in the doc https://docs.microsoft.com/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#exporting-ssh-configuration-for-use-with-ssh-clients-that-support-openssh

[2021-07-01 16:28] JamesTran-MSFT commented on #77741
@arbrctb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-01 16:30] MicrosoftGuyJFlo commented on #77476
Will consider for updates to content . Thanks for the idea. #please-close

[2021-07-01 16:30] #77476 closed

[2021-07-01 16:31] MicrosoftGuyJFlo commented on #77711
#please-close

[2021-07-01 16:31] #77711 closed

[2021-07-01 16:32] rolyon commented on #56125
Hi @cconli
Thanks for your feedback. I passed this along to the team. Many features automatically email users - especially administrators. We don't have updates to this doc at this time.
Let us know if you have any additional feedback.
thanks

[2021-07-01 16:32] rolyon commented on #56125
#please-close

[2021-07-01 16:32] #56125 closed

[2021-07-01 16:37] hk-chahal commented on #77721
Hi @AshokPeddakotla-MSFT ,

You are getting a 404 error because of the status-url value you are passing in the request. You should pass only the following as status-url in the request:
**_2307dace-863a-4bdf-8660-2a157dacf0e9_**

<img width="631" alt="Image" src="https://user-images.githubusercontent.com/66459171/124159288-98311080-da60-11eb-8982-8da5eed17f15.png">

There is one more problem with o

[2021-07-01 16:42] MP7373 commented on #77161
If all writes are strong when the account level is set to strong then what is the significance of having a client configured to something lower like eventual?

Wouldn't that mean an eventual consistency client would get all the most recent data if all writes are still strong?

I did notice when the account is set to strong you still get the half cost reads with the client overridden to eventual as

[2021-07-01 16:46] rolyon commented on #77041
Hi @weyCC81
We are going to close this for now, but let us know if you have any additional feedback.
thanks

[2021-07-01 16:46] rolyon commented on #77041
#please-close

[2021-07-01 16:46] #77041 closed

[2021-07-01 16:51] KranthiPakala-MSFT commented on #77751
@keen85
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-01 16:55] SumanthMarigowda commented on #77530
@pmia  Can you provide more information(Are you facing any issue)?

[2021-07-01 16:56] rolyon commented on #76840
Hi @fernandoferrini
Thanks for the Microsoft Graph API link.
Btw, we've made some updates to Assign Azure AD roles to users article
https://docs.microsoft.com/en-us/azure/active-directory/roles/manage-roles-portal

[2021-07-01 16:56] BryanTrach-MSFT commented on #77546
@jhancock4d Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-01 16:59] KranthiPakala-MSFT commented on #77739
@VishalSinhaNF - Thanks again for bringing this to our notice and apologies for the inconvenience caused because of this.
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-07-01 16:59] #77739 closed

[2021-07-01 17:09] tfitzmac commented on #77735
I have submitted an update which should get published later today.
#please-close

[2021-07-01 17:09] #77735 closed

[2021-07-01 17:10] leepylee opened #77767 "I found a couple of errors on this page which I managed to work out after quite a few hours"
[Enter feedback here]
1) The logout request XML didn't work for me. It kept saying NameId is null. Only when I copied the XML on this example did it work:
https://developers.onelogin.com/saml/examples/logout-request
2) The diagram shows the response coming back from Azure in a POST request. For me it came in a HTTP GET redirect request.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-07-01 17:22] tomaschladek opened #77768 "Misleading sentence"
If I don't have the app registered in the tenant, I can't find it in the AAD tenant. In following sentence it is probably meant if domain is not registered

If your app isn't registered in a tenant, you'll only see the option to verify a new domain for your application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61

[2021-07-01 17:25] JamesTran-MSFT commented on #77663
@SAIMMINHAS
Thank you for your time and patience throughout this issue!

I recently created an Az Key Vault with the Soft Delete feature enabled. Is it possible to permanently delete it?
- Yes, you can delete or permanently delete (purge) the Azure Key Vault even with the [Soft Delete feature](https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-overview#soft-delete-behavior) enabl

[2021-07-01 17:26] bandersmsft commented on #77516
@MatthewSteeples Unfortunately, App Service reservations must currently be exact matches. Size flexibility isn’t available for App Service reservations. The engineering team is investigating enabling size flexibility, but we don’t know when App Service reservations will support it.

#please-close

[2021-07-01 17:28] bandersmsft commented on #77516
#please-close

[2021-07-01 17:28] #77516 closed

[2021-07-01 17:29] JamesTran-MSFT commented on #77703
@santhoshbomma9
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-01 17:29] bandersmsft commented on #77106
@jyeblog As Anurag commented, your feedback is correct and we'll update the docs as soon as we can to address your points. Thanks for letting us know!
#please-close

[2021-07-01 17:29] #77106 closed

[2021-07-01 17:30] DerekHerman-MSFT commented on #77749
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-01 17:30] JamesTran-MSFT commented on #77767
@leepylee
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-01 17:32] msmimart commented on #72117
Updates will publish later today. Thanks again for the feedback! #please-close

[2021-07-01 17:35] ggailey777 commented on #35467
#reassign:ggailey777

[2021-07-01 17:35] KranthiPakala-MSFT commented on #77740
@Sreini
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-01 17:37] craigshoemaker commented on #38100
Thanks, @JonathanWilbur!

I added a note to the article that mentions key casing for request and response objects.

#plese-close

[2021-07-01 17:38] himanshusinha-msft commented on #77730
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2021-07-01 17:38] #38100 closed

[2021-07-01 17:43] marcindulak opened #77769 "The "App Armor" section incorrectly states that "hello-apparmor pod shows as blocked""
The expected outcome of annotating the container with

[code]
is not a pod with a "Blocked" STATUS.

The expected outcome is a "Running" pod that blocks writes to the container filesystem:

[code]

Please see the documentation at https://kubernetes.io/docs/tutorials/clusters/apparmor/

The reason for the pod being "Blocked" described in azure-docs is most likely due to improper apparmor configurat

[2021-07-01 17:43] himanshusinha-msft commented on #77733
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-07-01 17:45] himanshusinha-msft commented on #77734
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2021-07-01 17:45] rboucher commented on #45679
#please-close

[2021-07-01 17:45] #45679 closed

[2021-07-01 17:57] ajburnle commented on #51675
Hey @Jason-ACESGroup, sorry for the delay in addressing this GitHub issue. The content in this document has been updated and the screenshots refreshed. You can view the changes in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/157631. I'm closing this GitHub issue, and thanks again for your feedback. #please-close

[2021-07-01 17:57] #51675 closed

[2021-07-01 17:59] InformTechPro commented on #77234
In addition to clarifying when the change is supported or note, please consider clarifying use scenarios. The option is available for a reason. We need to make sure it's clear when it's appropriate to consider a change since, if the change is not supported in general.

[2021-07-01 17:59] cynthn commented on #77700
@RobertCadd Thank you for the feedback! I totally agree that this is a likely scenario. I'm doing a bunch of rework on this content over the summer, and I've added a work item to directly cover the cross-tenant scenario for copying an image.

I'm going to close this issue for now and link to the work item. I think the comments of this issue will get updated once the work item is closed.

Fixes htt

[2021-07-01 18:28] SaiKishor-MSFT commented on #77758
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-01 18:29] himanshusinha-msft commented on #77743
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-01 18:32] himanshusinha-msft commented on #77744
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-01 18:33] gsethgit commented on #72450
Currently we do not support Custom DNS when using private endpoints with BYOS. This is already captured under limitations section here https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux&tabs=portal#limitations

[2021-07-01 18:36] himanshusinha-msft commented on #77750
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MicrosoftQ&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update ,

[2021-07-01 18:36] #77750 closed

[2021-07-01 18:42] Justinha commented on #56518
#please-close

[2021-07-01 18:42] #56518 closed

[2021-07-01 18:49] rwike77 commented on #76807
@jvalente-salemstate Thanks, I'm looking into this and will try to get an update into the docs.

[2021-07-01 19:12] CaitlinV39 commented on #77606
Yes that would be great! thanks!

[2021-07-01 19:34] asudbring commented on #77045
Added limitations section to doc.
#please-close

[2021-07-01 19:34] #77045 closed

[2021-07-01 19:35] mrochon opened #77772 "Does userType=guest determine user is a B2B user?"
The opening paragraph says: "An Azure AD business-to-business (B2B) collaboration user is a user with UserType = Guest". My understanding is though that the userType may be changed to member or from member to guest with Graph API. Isn't it the creationType=invited that is the only full-proof way of identifying B2B users?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-07-01 19:59] nenright opened #77773 "Incorrect Powershell Device Provisioning Commands"
this section: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-x509-certs?tabs=eflow&view=iotedge-2018-06#configure-the-device-with-provisioning-information

has this for the powershell command:
[code]

the identityCertLocWin, identityPkLocWin, identityCertLocVm and identiryPkLocVm are invalid.

should just be identityCertPath and identityPrivKeyPath

see this for the correct

[2021-07-01 20:01] anavinahar commented on #77717
This has been addressed and should go live by EOD US PT time.

#please-close

[2021-07-01 20:01] #77717 closed

[2021-07-01 20:12] ciprianglg opened #77774 "Linux script is not working"
In the linux script we have the following command:

tar -zxvf *.tar.gz

In case are multiple files, this will not workout:

+ tar -zxvf Microsoft-ASR_UA_9.42.1.0_RHEL7-64_GA_04Jun2021_Release.tar.gz RHEL7-64_pushinstallclient.tar.gz
tar: RHEL7-64_pushinstallclient.tar.gz: Not found in archive
tar: Exiting with failure status due to previous errors

And because of this, entire script will fail, as

[2021-07-01 20:47] JamesTran-MSFT commented on #77772
@mrochon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-01 20:56] ricec opened #77775 "Cognitive Services - Immersive Reader - Bug in Node JS Sample"
The Node JS sample on this page has a code error due to a naming collision. This results in an error stating "res.send is not a function" when running the sample. I have left comments in the code below, describing the problem.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c529f49-055e-bfbc-c814-e4accc77a91f
*

[2021-07-01 20:58] dlepow commented on #77598
@RaoulRSV - Thanks for the question, I'm investigating. Please note that the notary client is only used in Azure Container Registry for image signing as described in [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-content-trust).

[2021-07-01 21:00] bwren commented on #77416
It looks like we have a typo that I'll fix. Should be "When the Azure Monitor agent fully supports..." What that means is that when those services support AMA, you won't need those other agents. You'll get the same functionality with AMA.

[2021-07-01 21:01] asudbring commented on #77557
Added section on default SNAT to table and verbiage.

#please-close

[2021-07-01 21:01] #77557 closed

[2021-07-01 21:01] mrhannah88 commented on #77715
Reviewing signin logs in my Log Analytics Workspace

SigninLogs
| where UserDisplayName contains "USERNAME"
| where ResultType startswith "53003"

Doesn't seem to contain any detail about the relevant filters for the Device Filtering policy.

DeviceDetail | {"deviceId":"","operatingSystem":"Windows 10","browser":"Edge 91.0.864"}

There is nothing here regarding ExtensionAttrtibute, DisplayName or

[2021-07-01 21:04] davidmrdavid commented on #77633
Thanks for reaching out @tyler555g!

Ah yes, this is an interesting one and I see where you're coming from. While the Python example doesn't really take the output of one activity and pass it as the input to the next, it can still be considered "function chaining" because the pattern, in the docs themselves, is defined as follows:

In other words, the pattern's main characteristic is to establish

[2021-07-01 21:06] robinsh commented on #77316
Added some specifics about the max message size for D2C versus C2D messages.
#sign-off

[2021-07-01 21:19] James-Hamil-MSFT commented on #77699
Hi @sashiRachakonda , I saw you verified my answer on QA so I'll repost it here:

Depending on how JAWS works, I imagine this is an issue with the html and JAWS' ability to find it. I would look into [customizing the UI](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-with-html?pivots=b2c-custom-policy) and seeing if that fixes your problem. There might be nested divs that

[2021-07-01 21:19] #77699 closed

[2021-07-01 21:25] scott-alvis opened #77776 "This example does not work."
This example does not work. It does not fire any events so the resizing never happens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Tutorial: Use Azure Event Grid to automate resizing uploaded images - Azur

[2021-07-01 21:58] kgremban commented on #77687
Hello @algattik. I'm interested to learn more about your experience going through this article. What would be useful about having a link to the conceptual article about deployment templates?

I assume that when you said "when the deployment.template.json document is introduced" you mean step 7 of creating the build pipeline? Did you not have a deployment template created at that point, or did you

[2021-07-01 22:06] Jas30 commented on #43722
I don't believe this is a resolved issue. I do have a git enabled data factory and have a web activity using the basic authorization. For the password I have it saved in Azure Key Vault. The web activity fails with a 403 error. I am able to see the password with a GET request using MSI authentication. What I need is to pass the user credentials ina POST request with user/pswd and other details int

[2021-07-01 22:08] snugghash opened #77780 "CosmosDB firewall VNET addition UI doesn't warn users of posisble downtime when adding service endpoints to subnets"
The UI for adding VNETs to Azure CosmosDB firewall conveniently has the option of adding the service endpoints for the subnet, but there's no obvious indication that doing so would cause downtime - this needs to be a warning-level message to be acknowledged by the user, in my opinion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-07-01 22:17] SatishBoddu-MSFT commented on #77773
Hello @nenright
Our SME will review your feedback and will get back soon.

[2021-07-01 22:22] himanshusinha-msft commented on #77753
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-01 22:22] himanshusinha-msft commented on #77759
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-01 22:24] himanshusinha-msft commented on #77761
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-01 22:25] himanshusinha-msft commented on #77768
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-01 22:27] himanshusinha-msft commented on #77756
Keeping this issues open . Once https://github.com/MicrosoftDocs/azure-docs/pull/77757 is resolved will close this .

[2021-07-01 22:30] JnHs commented on #77007
As we haven't heard any further feedback I will close this issue now, but please let us know if you have additional questions. Thanks again for submitting your feedback!
#please-close

[2021-07-01 22:30] #77007 closed

[2021-07-01 22:36] SatishBoddu-MSFT commented on #77690
Hello @algattik Thanks for the confirmation.

Our SME will review the documentation and will update it accordingly.

[2021-07-01 22:36] mikebudzynski commented on #77258
@dlepow, could you take care of that?

[2021-07-01 22:40] julieMSFT commented on #75580
Hi @matt1883 can you help direct this to the right person who can take a look at this?

[2021-07-01 22:40] julieMSFT commented on #75403
Hi @matt1883 can you help direct this to the right person who can take a look at this?

[2021-07-01 22:40] julieMSFT commented on #75175
Hi @matt1883 can you help direct this to the right person who can take a look at this?

[2021-07-01 22:47] mike-urnun-msft commented on #77776
Hi @scott-alvis - Thank you for your feedback! We will review and update as appropriate.

[2021-07-01 22:48] carlosporter commented on #77711
Thanks for your response @MicrosoftGuyJFlo but that is not what I was asking for.

I mean ssh authentication using the ONLY the password from Azure AD account, without any "temporal" certificates involved.

[2021-07-01 22:51] robinsh commented on #73228
This is still the case. They're still renaming all the repos.
#please-close

[2021-07-01 22:51] himanshusinha-msft commented on #77541
Since we have not heard back , going ahead and closing the issue.

[2021-07-01 22:51] #77541 closed

[2021-07-01 22:55] LimingRenPA opened #77783 ""Set up the environment" language question"
I used this VS2019 template to start  my C#  net5.0 project .  What is the language  regarding the "Set up the environment"?

Is it .NET or ASP.NET?   How do we tell?

It makes a difference  for the YAML file.

Thanks

![image](https://user-images.githubusercontent.com/74560586/124197640-ddb30500-da83-11eb-9309-a30d1d076925.png)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-07-01 22:59] himanshusinha-msft commented on #77730
Since we have not recieved any response from you so going ahead and closing the issue.

[2021-07-01 22:59] #77730 closed

[2021-07-01 22:59] riserrad commented on #77618
Thank you for your contribution to the Azure Time Series Insights documentation.  We have created a work item based on your feedback.  We will prioritize it and make any necessary changes.

#please-close

[2021-07-01 22:59] #77618 closed

[2021-07-01 23:00] himanshusinha-msft commented on #77734
Since we have not recived any response from you  so going ahead and closing the issue for now .

[2021-07-01 23:00] #77734 closed

[2021-07-01 23:05] femsulu commented on #77774
Thanks for bringing this to our attention, @ciprianglg.
Your feedback has been shared with the content owner for further review.

[2021-07-01 23:15] Oury-MSFT commented on #77606
@CaitlinV39  I have raise a PR to update the doc. Thanks

[2021-07-01 23:22] robinsh commented on #76716
Those code blocks are not designed to be clicked on from github. If you render the article (like when you access it as https://docs.microsoft.com/etc), the build engine will render those links for you. But Github will only show them as the original text. As some have pointed out, it's not a problem with the Github page, it's supposed to look that way.  So you can look at a published version of the

[2021-07-01 23:23] robinsh commented on #76716
#please-close

[2021-07-01 23:23] #76716 closed

[2021-07-01 23:25] BharathNimmala-MSFT commented on #77579
@anomalousdigitalemissions Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to reflect the feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue f

[2021-07-01 23:25] #77579 closed

[2021-07-01 23:34] WhitWaldo opened #77786 "Instructions for doing the same in CI/CD"
Presently, the page contains details for packaging up an application in Visual Studio, saving it to blob storage via the Portal, manually authoring the JSON for the ARM deployment and then running some Powershell to deploy the package to the cluster.

Might you also add a section describing how to do the same in both GitHub and Azure DevOps from a purely programmatic perspective (e.g. entirely non

[2021-07-01 23:35] robinsh commented on #73641
@nehsin Did you guys figure out an answer to this?

[2021-07-01 23:36] rboucher commented on #35322
#reassign:bwren

[2021-07-01 23:37] rboucher commented on #35322
Brian I think we should close this given that the Diagnostics Extension is being replaced by the Azure Monitor agent. However, leaving it up to you.

[2021-07-01 23:40] DeanGross opened #77787 "Example does not work"
The example with $roleAssignment = New-AzureADMSRoleAssignment -ResourceScope '/' -RoleDefinitionId $roleDefinition.Id -PrincipalId $group.Id does not work, I get an error message about a missing parameter.

I had to use $roleAssignment = New-AzureADMSRoleAssignment -ResourceScope '/' -RoleDefinitionId $roleDefinition.Id -PrincipalId $group.Id -DirectoryScopeId '/'

Please update the documentation

[2021-07-01 23:43] robinsh commented on #72961
I fixed this a couple of months ago but forgot to mark it as completed,
#please-close

[2021-07-01 23:43] #72961 closed

[2021-07-02 00:18] dlepow commented on #77598
Locate the notary installation path:
PowerShell: `Get-Command notary).Path`
Bash: `command -v notary`
In your case download the Windows version, rename to `notary.exe`, and overwrite your existing notary.
![image](https://user-images.githubusercontent.com/2762013/124201903-135ceb80-da8e-11eb-832b-38dfaad96505.png)

Please let us know if this helps.

[2021-07-02 00:39] rwike77 commented on #74602
I confirmed with engineering, the article is out of date. Claims mapping policies do apply to guest users.  If you apply a mapping policy to a service principal and then access the app as a guest user you will see the updated claims in the token.  I've updated the SO post and removed the incorrect information from the article.  #please-close

[2021-07-02 00:56] davidemontanari opened #77790 "[cosmosdb] [stored procedures] Typo in queryDocument error message for async/await with Promises example"
Found a typo (looks like copy/paste related) in the [Async await with stored procedures](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs?tabs=javascript#async-promises) section. The `replaceDocument was not accepted.` error message shows in the `queryDocuments` operation, where I guess it should be `queryDocuments was not accepted.` instead.

---
####

[2021-07-02 01:16] LimingRenPA opened #77791 "Which publishProfile is used out of the three publishProfiles ?"
I am following the steps outlined in this article to deploy my .NET Core app.    My Azure publish profile  file contains 3 publishProfile ( and in that order):

1. Web Deploy
2. FTP
3. Zip Deploy

How does the YAML file actions decide which publishProfile  to use?   Is there a way to tell the YAML file to use a specific publishProfile (say "Zip Deploy")?

Thanks

---
#### Document Details

⚠ *Do n

[2021-07-02 02:13] fliang-ms opened #77792 "The description in the section "Burstable virtual machine with non-burstable disks" is different from the graph. It said 2 P10 data disks. But the graph shows 2 P50 data disks."
[Enter feedback here]
The description in the section "Burstable virtual machine with non-burstable disks" is different from the graph. It said 2 P10 data disks. But the graph shows 2 P50 data disks.

https://docs.microsoft.com/en-us/azure/virtual-machines/disk-bursting#burstable-virtual-machine-with-non-burstable-disks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-07-02 02:18] MS-jeremy opened #77793 "max length of Cosmos DB account name : 31 characters or 44 characters?"
[Enter feedback here]
In this page https://docs.microsoft.com/en-us/azure/cosmos-db/manage-with-templates, max is 44 characters.
Yet in this page https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-database-account, max is 31 characters

But when I try to create in Azure Portal, it looks like it should be **44 characters.**

Please cross check all account name documentation after confir

[2021-07-02 02:22] snimmagadda1 opened #77794 "Wrong link in Azure functions Http trigger example for PowerShell"
Great docs, small issue with a link:

The Example [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=powershell#example)  for PowerShell has a link with text 'PowerShell function' that I think should route to the [PowerShell dev guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal), but inst

[2021-07-02 02:29] GitaraniSharma-MSFT commented on #77769
@marcindulak , thank you for the feedback. We'll review this and get back to you shortly!

[2021-07-02 02:29] BhargaviAnnadevara-MSFT commented on #77783
@LimingRenPA Thanks for the question. We're investigating this and will get back to you shortly.

[2021-07-02 02:31] GitaraniSharma-MSFT commented on #77775
@ricec , thank you for your feedback. We have assigned this to the content owner/author for review.

[2021-07-02 02:32] BhargaviAnnadevara-MSFT commented on #77533
@msjoshua Thanks again for the feedback. The changes should reflect post the merge.

We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-07-02 02:32] #77533 closed

[2021-07-02 02:33] rarandiv opened #77795 "Document points to geo-replication tab/button but in the actual Azure portal it has changed to "replicas”. Need to update the doc."
Its seems the document needs to be updated, the document still pointing to Geo-Replication tab but look like in the portal, it has been replaced with "Replicas"
In the document

![image](https://user-images.githubusercontent.com/72970021/124211999-bd2e8d80-db0b-11eb-87b7-b82a1f19b6e2.png)

Actual in portal

![image](https://user-images.githubusercontent.com/72970021/124212022-c91a4f80-db0b-11eb-8d

[2021-07-02 02:33] GitaraniSharma-MSFT commented on #77780
@snugghash , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-02 02:34] msmimart commented on #72117
#please-close

[2021-07-02 02:34] #72117 closed

[2021-07-02 02:35] GitaraniSharma-MSFT commented on #77786
@WhitWaldo , thank you for your feedback. We have assigned this to the content owner/author for review.

[2021-07-02 02:39] GitaraniSharma-MSFT commented on #77787
@DeanGross , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-02 02:42] GitaraniSharma-MSFT commented on #77790
@davidemontanari , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-02 02:44] BhargaviAnnadevara-MSFT commented on #77791
@LimingRenPA Thanks for the question. We're investigating this and will get back to you shortly.

[2021-07-02 02:57] scott-alvis commented on #77776
Sorry, for leaving such a useless comment but after trying this example 3 times without any luck, I was a little up set. Basically, the first attempt was not firing any events and then the second and third time the event would fire but delivery would fail and I could not find any valuable information on why the delivery failed.

[2021-07-02 03:06] yutaro113 opened #77800 "On Linux Dedicated Functions, Is connecting Storage via both Service/Private Endpoint not supported yet?"
Hi Team,
Regarding below article, Could you please confirm question in the title?
https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network

Actually i've tested both Service endpoint/Private endpoint scenario following above article's procedure but both seems working.
But from article, it seems currently both option is no

[2021-07-02 03:07] mike-urnun-msft commented on #77794
Hello @snimmagadda1 - Nice catch! Thank you for reporting this and helping us drive improvements towards MS Docs! I've created a PR that fixes the link, and once merged, this issue will self-close.

[2021-07-02 03:27] BhargaviAnnadevara-MSFT commented on #77754
@AndrewSmithRS Thanks for the question. We're investigating this and will get back to you shortly.

[2021-07-02 03:48] zhaohuijuan commented on #77391
Got it, thanks  a lot!

[2021-07-02 03:55] gregbnz opened #77801 "Leaving an org as a one-time-password provisioned B2B account"
Hi there, can you please add a note to reference accounts that are provisioned using One-Time-Password (OTP) - both myaccount.microsoft.com and myapps.microsoft.com do not work, but using the full myaccount link including the tenancy name does (ie https://myaccount.microsoft.com/?tenantId=wingtiptoys.onmicrosoft.com)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-07-02 04:26] ram-msft commented on #77654
@@masoncusack  Thanks, When you create or attach an AKS cluster, you can configure the cluster to use an Internal Load Balancer. With an Internal Load Balancer, scoring endpoints for your deployments to AKS will use a private IP within the virtual network. Following code snippets show how to configure an Internal Load Balancer for an AKS cluster.

[code]

[2021-07-02 04:28] gozmanyoni commented on #76633
Yes - it works now on my end!

[2021-07-02 04:34] AnuragSharma-MSFT commented on #77793
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-02 04:35] AnuragSharma-MSFT commented on #77795
@rarandiv Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-02 04:39] KranthiPakala-MSFT commented on #77635
Thanks for confirming @parasin. We will now proceed to close this issue.

[2021-07-02 04:39] #77635 closed

[2021-07-02 04:43] rkarlin commented on #77694
@TerryLanfear can you please take a look

[2021-07-02 05:17] tshepang opened #77804 "sentence not clear"
text referred to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80cc467f-2705-81af-d429-3f8bf5eeef99
* Version Independent ID: 35eee5b6-9cc8-00e0-f182-0d065695e24d
* Content: [Get started with log queries in Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/get-started-queries)
*

[2021-07-02 05:19] VikasPullagura-MSFT commented on #77792
@fliang-ms Thanks for pointing this out.
The document is updated and changes will go live soon.

[2021-07-02 05:19] AshokPeddakotla-MSFT commented on #77721
@hk-chahal I had the same issue even with just URL. Try after some time gives correct result for Resource-Location.
You are correct, api-version mentioned twice in the URL which gives another error message.
I am assigning this issue to SME @anastasia-ms for further review and update the doc accordingly.

[2021-07-02 05:23] tshepang commented on #77804
Maybe adding a comma would help, and maybe also mentioning that it's a bug

[2021-07-02 05:29] dacevedo12 commented on #76633
It works for me too. Thanks!

[2021-07-02 05:30] #77792 closed

[2021-07-02 05:50] Svijay-msft commented on #77645
Can you please look into this @MikeDodaro ?

[2021-07-02 05:50] Svijay-msft commented on #77645
Can you please look into this @MikeDodaro ?

[2021-07-02 05:52] NingKuang commented on #30370
For details on how to access user data through instance metadata service, see:
[User data on Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/user-data)
Thanks!

[2021-07-02 05:54] SumanthMarigowda commented on #77555
@vit100  Currently, NFS 4.1 shares are only available as premium file shares. To deploy a premium file share with NFS 4.1 protocol support, you must first create a FileStorage storage account. A storage account is a top-level object in Azure that represents a shared pool of storage which can be used to deploy multiple Azure file shares.

[2021-07-02 06:00] mauriciojost opened #77805 "Seems impossible to add hold policy to container"
I don't see the option **Legal hold** mentioned in the documentation:

![image](https://user-images.githubusercontent.com/1756756/124227921-b0aa3500-db0b-11eb-8702-12cc67e173e8.png)

This is what I see instead (kind of forced to **time-based retention** policy):

![image](https://user-images.githubusercontent.com/1756756/124227519-1d70ff80-db0b-11eb-8370-f264c2a0d38b.png)

I assume the documentati

[2021-07-02 06:11] PramodValavala-MSFT commented on #77475
@Christian-e-S I've checked with the team and it's the publisher that sets the ID, IoT Hub in this case. I'm assigning this issue to the right team to share better insights.

[2021-07-02 06:12] PramodValavala-MSFT commented on #77535
@sijucm Just following up here... Hope my previous comment clears things up.

[2021-07-02 06:14] PramodValavala-MSFT commented on #77665
@sashkotarasenko A new function app generated should already have the extension bundle configured for non-C# projects. Could you confirm if this is a freshly generated projec?

[2021-07-02 06:36] ssivas commented on #76633
#please-close

[2021-07-02 06:36] #76633 closed

[2021-07-02 07:07] xxflop opened #77806 "Nested virtualization support"
I'm missing detailed info regarding the support (or not) of nested virtualization on each VM series. Can this supported/non supported flag be added to the documentation (similar to the premium storage support or the advanced networking support and so on)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdfbee1-bb47-fdf

[2021-07-02 07:09] jjeziorny opened #77807 "App name not same in portal and document"
I understand Microsoft is renaming windows virtual desktop to azure virtual desktop, but right now it can causes confusion since the app name in the portal differs from the one in the document

Document:
_Within Enterprise applications, search for Azure Virtual Desktop. You'll see the two applications that you provided consent for in the previous section. Of these two apps, select **Azure Virtual

[2021-07-02 07:18] psmanhas commented on #77807
@jjeziorny
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-02 07:18] psmanhas commented on #77807
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-07-02 07:52] Maximum2712 commented on #33632
I am experiencing the same issue, however I have 3 VMs in the same vNet and subnet, where I can access two of them just fine - the third one fails with the same error message as in this post. The Subnet all three VMs are on utilize on single NSG and the bastion subnet does not use any NSG. I can connect to the unresponsive VM by RDP directly, but not through Bastion for some reason that escapes me

[2021-07-02 07:53] yuxisun1217 opened #77808 "00-azure-swap.cfg is incorrect"
In the doc, the 00-azure-swap.cfg contains such config:
```  - ["ephemeral0.2", "none", "swap", "sw", "0", "0"]```
It should be:
 ```  - ["ephemeral0.2", "none", "swap", "sw,nofail,x-systemd.requires=cloud-init.service", "0", "0"]```
Please help to correct this part. Thanks!
* The doc https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cloudinit-configure-swapfile is correct.

---
#### D

[2021-07-02 08:02] metoule opened #77809 "ACR: is there a way to see which webapp uses a particular tag?"
We have multiple webapps configured to use a docker image from our ACR. From time to time, we need to update the tag of the image we use (e.g. when migrating to .NET5).

Is there a way to see which tags are used by which webapp? The goal is to see if we can clean a tag without impacting our webapps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-07-02 08:14] jaydeepn commented on #77348
@HarshCo, Due to the nature of the question that you are posting to the generateanswer endpoint being a chit-chat type of question, the underlying ranker does not retrieve it when you specify "top:10".

Please increase the value for the top parameter to see the appropriate response returned. It is also purely coincidental that w/o the rankerType:QuestionOnly you are getting the most relevant answe

[2021-07-02 08:25] shashishailaj commented on #77801
@gregbnz Thank you for your feedback . We will investigate and update the thread.

[2021-07-02 08:35] jesinity commented on #46889
hello, is there any update on this issue? Thank You

[2021-07-02 08:43] saptarshibasu commented on #77733
Can I provide any further info on this to facilitate  the investigation?

[2021-07-02 08:57] KevinInch commented on #77499
Reader roles cant modify or create. How has this not been fixed yet?

[2021-07-02 09:00] shashishailaj commented on #76533
Issue is resolved #please-close

[2021-07-02 09:00] #76533 closed

[2021-07-02 09:05] psmanhas commented on #77808
@yuxisun1217 Thank you for the feedback.We will work on it and will keep you updated on the thread

[2021-07-02 09:14] MarkPryceMaherMSFT opened #77811 "Minor markdown issue link:"
At the bottom of the page  (./sql-data-warehouse-load-sample-databases.md). is shown, and not the actual link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224a5d25-3715-3150-af60-0fd273ad19d9
* Version Independent ID: 13584abc-bdae-c88e-73ab-27070f94359c
* Content: [Synapse SQL architecture - Azure Synapse Analytics

[2021-07-02 09:25] JBustin commented on #15004
Hello,

Same problem, by following the documentation.

I have a contributor role, I cannot create a resource group with ansible (`Error checking for existence of name ... - 403`), but I can by azure portal UI ^^

By the way, I cannot delete a resource group by azure portal, ansible delete ends with success but the resources is not deleted, and I can delete with azure cli... I'm completely lost.

C

[2021-07-02 09:29] psmanhas commented on #77808
@yuxisun1217 The document is updated and changes will go live soon.

[2021-07-02 09:41] gkoperczak001 opened #77812 "Wrong information about possibility to test this scenario with free subscription - limit for vcore in region (max 4) is denying cluster creation"
Following steps with MPN subscription or free subscription there is a validation message which say:
"There are not enough cores available to support the selected number of nodes. Please adjust the number of worker nodes selected or pick a different region."

Even when specifying minimum configuration:
head nodes (x2): 2 cores
zookeeper node (x3): 1 core
worker node (x1): 2 cores
It is not possible

[2021-07-02 09:59] SrijitBose-MSFT commented on #77809
@metoule , thank you for your question.

Azure Container Registry does not track information about targets (like webapps, VMs, Kubernetes clusters etc) using an image from its repository. For example, you might pull an image to your workload from Azure Container Registry and then remove the resource. Azure Container registry can only log information of the pull event created in its repository but

[2021-07-02 10:16] PramodValavala-MSFT commented on #77800
@yutaro113 There are some changes in the pipeline and a doc update is pending which is tracked on this [existing issue](https://github.com/MicrosoftDocs/azure-docs/issues/75896). I will share updates on that issue, so closing this in favor of that.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2021-07-02 10:16] #77800 closed

[2021-07-02 10:17] PramodValavala-MSFT commented on #75896
@take-4c I will check with the concerning team and get back if there are any.

[2021-07-02 10:25] RaoulRSV commented on #77598
Thanks. I will try that and report to you

Le ven. 2 juil. 2021 à 02:18, Dan Lepow ***@***.***> a écrit :

[2021-07-02 10:28] CHEEKATLAPRADEEP-MSFT commented on #77811
@MarkPryceMaherMSFT Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/164423](https://github.com/MicrosoftDocs/azure-docs-pr/pull/164423)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community co

[2021-07-02 10:28] #77811 closed

[2021-07-02 10:35] mahilleb-msft commented on #77737
STT is available in Switzerland North, we'll update the docs.
@qiliao123 - can you comment on TTS availability in Switzerland North?

[2021-07-02 10:41] metoule commented on #77809
@SrijitBose-MSFT that's excellent, thank you! That answers my question, so you can close this issue.

[2021-07-02 10:42] #77809 closed

[2021-07-02 10:49] SrijitBose-MSFT commented on #77558
@AronT-TLV , Thank you for your feedback. I am assigning this to the content author for review.

[2021-07-02 10:53] SubhashVasarapu-MSFT commented on #77806
@xxflop , Thanks for reaching out. We will investigate and update this thread.

[2021-07-02 11:20] psmanhas commented on #75678
@ulflunde As per mentioned in the linked issue with similar problem our PG has confirmed that they are working on it and is their backlog. Since there is not much we can do right now will close the issue for time being. Once we have an update on same will keep this thread posted.

Thanks

[2021-07-02 11:20] #75678 closed

[2021-07-02 11:27] urosmil opened #77816 "Deletion order of remaining resources"
Regarding the bullet 3. "The remaining resources are deleted after the previous two categories." - in which order are remaining resources being removed? Alphabetic, date created...?

Thanks,
Uros

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30e8626-d145-a638-e3ad-6948f7897dec
* Version Independent ID: a261c750-16ff-

[2021-07-02 11:40] GitaraniSharma-MSFT commented on #77805
@mauriciojost , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-02 11:42] GitaraniSharma-MSFT commented on #77804
@tshepang , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-02 11:44] v-amallick commented on #77698
@migrande, we have updated the following section with the role type and the permission types required for a user to enable or disable soft delete.

https://docs.microsoft.com/en-us/azure/backup/backup-azure-security-feature-cloud#enabling-and-disabling-soft-delete

If you have any queries, please get back to us. We will be happy to help.

Thank you.

[2021-07-02 11:45] v-amallick commented on #77698
#please-close

[2021-07-02 11:45] #77698 closed

[2021-07-02 11:51] xxflop opened #77817 "Missing FX-series info"
The ACU info for the fastest FX-series is missing: https://docs.microsoft.com/en-us/azure/virtual-machines/fx-series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure V

[2021-07-02 12:08] v-amallick commented on #77305
@chriselleman-msft, as confirmed from the product group, AAD now supports private endpoints.

Private endpoints for Backup don’t include access to Azure Active Directory (Azure AD) and the same needs to be ensured separately. So, IPs and FQDNs required for Azure AD to work in a region will need outbound access to be allowed from the secured network when performing backup of databases in Azure VMs

[2021-07-02 12:10] v-amallick commented on #77305
#please-close

[2021-07-02 12:10] #77305 closed

[2021-07-02 12:17] TobiTh opened #77819 "Azure API Management - Policy authentication-managed-identity when app registration has custom app id"
When the app registration as a custom app id assigned, e.g. https://MyAwesomeApp, then the resource parameter doesn't find the app registration unless the value is exactly the client_id (without api:// as documented).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2be8b264-03df-625e-0064-06cb4372c3b7
* Version Independ

[2021-07-02 12:18] #77808 closed

[2021-07-02 12:51] #77521 closed

[2021-07-02 12:52] vipulsparsh commented on #77652
@Klaas- Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-02 13:00] davi-cruz opened #77820 "Incorrect Arm Templates for Azure Defender Integrated Scanner"
After some tests with customers, noticed that resource types for Integrated Vulnerability Scanners for Azure Defender are incorrect.

The object provisioned from Azure Defender recommendation is from type `Microsoft.HybridCompute/machines/providers/serverVulnerabilityAssessments`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-02 13:03] SaMuma opened #77821 "Link leads to 404"
The link embedded in these docs:  "Azure AD identity provider compatibility docs" leads to a generic Microsoft homepage, rather than the documentation described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3e70f22-6947-70c0-73f9-1d3b309820df
* Version Independent ID: b6fc77d4-2c0f-2101-8a24-1845325f7696
* Content:

[2021-07-02 13:24] psmanhas commented on #77817
@xxflop Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-07-02 13:24] psmanhas commented on #77817
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-07-02 13:37] migrande commented on #77698
@v-amallick I recommend removing or clarifying what "the vault owner" means in the doc.  Without context, it sounds like it means the person who created the vault, which isn't the case.  There's no standard naming convention for Azure that includes "owner", except for the RBAC role (which isn't what this is).

[2021-07-02 13:40] cephalin commented on #60829
@sergioadofaci Sorry for the delay. You wouldn't receive that error if you were actually using the sample app for the tutorial because the `init.sh` script doesn't actually try to access `/etc/motd`. If you however used the init script from the built-in containers (for example, [https://github.com/Azure-App-Service/ImageBuilder/blob/master/GenerateDockerFiles/python/template-3.9/init_container.sh]

[2021-07-02 13:41] cephalin commented on #60829
#please-close

[2021-07-02 13:45] cephalin commented on #60957
@RonnieQuan Sorry for the delay and thank you for the feedback. Yes we're indeed considering integrating Front Door into our documented scenarios in the coming months. Closing this for now. #please-close

[2021-07-02 13:56] salils123 opened #77823 "In the last section of the document the mentioned url is incorrect "http://mytestcluster.southcentral.cloudapp.azure.com:8080" and it is not matching to the screenshot as well. Please do the correction"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089974a0-7387-0266-d499-362153ed2851
* Version Independent ID: f3a0c273-e276-6eab-9a24-e4b0603274e4
* Content: [Deploy a Service Fabric app to a cluster in Azure - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fab

[2021-07-02 14:04] v-amallick commented on #77698
@migrande: Thank you. I will look into it and get back.

[2021-07-02 14:06] BhargaviAnnadevara-MSFT commented on #77821
@SaMuma The link actually leads one to the right place I believe: https://www.microsoft.com/en-us/download/details.aspx?id=56843

Scrolling down a bit, you should be able to find the download options as under:

![image](https://user-images.githubusercontent.com/44050820/124286578-bd12aa00-db6c-11eb-9194-6ee48f38d6aa.png)

Hope that helps!

[2021-07-02 14:09] SaMuma commented on #77821
Confirmed that the link works as described :)

[2021-07-02 14:09] #77821 closed

[2021-07-02 14:11] BhargaviAnnadevara-MSFT commented on #77590
@iMicknl Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-02 14:12] ccstorm-nl commented on #39518
Apparrently this issue still exists as to this date.

We have abandoned the use of app settings for secrets in favor of Arcus.Security. This is a codit.eu initiated open source initiative (Arcus) providing multiple quick start libraries around security, web-api development, logging/monitoring (observability) and others.

https://security.arcus-azure.net/

https://github.com/arcus-azure

If your se

[2021-07-02 14:18] psmanhas commented on #77823
@salils123 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-02 14:18] psmanhas commented on #77823
@athinanthny Can you please check and add your comments on this doc update request as applicable

[2021-07-02 14:23] damone1200 opened #77824 "Update documented default TLS version"
The following section appears to be out of date. Azure Storage Accounts currently default to TLS 1.2.

**By default, Azure Storage accounts permit clients to send and receive data with the oldest version of TLS, TLS 1.0**, and above. To enforce stricter security measures, you can configure your storage account to require that clients send and receive data with a newer version of TLS. If a storage

[2021-07-02 14:25] furmangg opened #77825 "Need an equivalent limits page for Synapse SQL Serverless"
There either needs to be section for Synapse SQL Serverless or a separate page to document the limitations for Serverless. I couldn't find these documented anywhere:

**Limitations**
* Max query duration 30min
* ~10TB max data that can be processed per query

This comes from a L300 deck on Synapse which I'm sure the appropriate engineers on the Synapse team can track down.

---
#### Document Detai

[2021-07-02 14:36] VikasPullagura-MSFT commented on #77806
@xxflop
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-02 14:36] VikasPullagura-MSFT commented on #77806
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2021-07-02 14:37] Jez85 opened #77826 "Azure Migrate is unable to connect to the remote server"
Hi I'm getting the following error
Unable to connect to the machine with the provided credentials. The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: [X.X.X.X] Connecting to remote server X.X.X.X failed with the following error message : WinRM cannot complete the operation. Verify that the specified computer name is valid, that t

[2021-07-02 14:43] ayprof opened #77827 "your to you're or you are"
Grammatical error:

Writing guides typically don't encourage contractions in technical documentation, so probably should stick with 'you are'.

# Replace storageaccount.file.core.windows.net with the appropriate FQDN for your storage account.
# Note the proper suffix (core.windows.net) depends on the cloud **your** deployed in.
Resolve-DnsName -Name storageaccount.file.core.windows.net

---
#### D

[2021-07-02 14:52] KiZach opened #77828 "Error in the script"
[Enter feedback here]

Script has an error. The line:

$newCert = Get-AzKeyVaultCertificate -VaultName $vaultName -Name $certificateName

Must be moved below the do statement:

        # it takes a few seconds for KeyVault to finish
        $tries = 0
        do {
          Write-Host 'Waiting for certificate creation completion...'
          Start-Sleep -Seconds 10
          $operation = Get-AzKe

[2021-07-02 14:53] ECNUJason opened #77829 "Cannot find `Azure Spring Cloud Resource Provider`"
[Enter feedback here]
When I add `role assignment`, I cannot find the `Azure Spring Cloud Resource Provider` to be the owner of my vnet.
not sure if this step is still needed or anything is missed out by me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee481df-4234-b6a2-7b20-6b3e4bef512c
* Version Independent ID: 00

[2021-07-02 14:59] SadiqhAhmed-MSFT commented on #77826
@Jez85 Refer to the suggestion here - https://docs.microsoft.com/en-us/azure/migrate/troubleshoot-appliance-discovery#error-50004-cant-connect-to-host-or-cluster

Also check if you meet all the prerequisites mentioned in the documentation for your set up.

[2021-07-02 15:02] TheovanKraay commented on #77477
@Oury-MSFT can we close this?

[2021-07-02 15:10] furmangg commented on #77825
@filippopovic  pointed out https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/resources-self-help-sql-on-demand#constraints which covers the 30 min query duration but not the 10TB max data that can be processed

[2021-07-02 15:12] Jez85 commented on #77826
Hi, thanks for the quick response.

Yes, I've already gone through this troubleshooting page and checked all possible error points including updating firewall rules on both sides, making sure Winrm is setup and running and added the remote host to trusted IP addresses on the Azure Migrate Appliance.

The error seems to persist.

[2021-07-02 15:39] SadiqhAhmed-MSFT commented on #77826
@Jez85 Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improvements related to the Azure documentation. It would be great if you could reach out Azure technical support team by raising a support request. The issue requires further deeper investigation and the support professionals would be able to assist further.

[2021-07-02 15:44] SamaraSoucy-MSFT commented on #77829
Thanks for the question! We will review and get back to you shortly.

[2021-07-02 15:49] zeesyed commented on #77477
Yes please, thanks for the clarification on the 10ms vs 1 ms.
*-Z*

On Fri, Jul 2, 2021 at 10:02 AM Theo van Kraay ***@***.***>
wrote:

[2021-07-02 15:59] carvalhorui commented on #34672
Almost two years of this initial post and still confusing. I need to upgrade a project and I can't be sure about the prices.

[2021-07-02 16:06] markjbrown commented on #77793
Fix for these is in PR now.

@SnehaGunda, can you sign off. These includes are in your name.

Thanks for reporting.

[2021-07-02 16:07] Oury-MSFT commented on #77679
@deborahc Could you please help with customer question above.

[2021-07-02 16:08] markjbrown commented on #77780
Please #reassign @ThomasWeiss

Thanks.

[2021-07-02 16:08] Oury-MSFT commented on #77759
@yegu Could you please help with customer feedback above. Let me know if any help is needed to raise a PR and update the doc. Thanks

[2021-07-02 16:08] cephalin commented on #60829
#sign-off

[2021-07-02 16:08] cephalin commented on #60829
#please-close

[2021-07-02 16:08] #60829 closed

[2021-07-02 16:09] cephalin commented on #60957
#please-close

[2021-07-02 16:12] gabrielnecula commented on #52844
Has this been fixed? Do we still have to delete the workbooks before deploying?

[2021-07-02 16:15] porrascarlos802018 opened #77830 "Urgent French instructions not the same as english, extension portion needs to be removed."
English instructions are good, they dont mention vmss extension,
https://docs.microsoft.com/en-us/azure/aks/ssh
French traslation doesnt work, customer followed instructions about vmss extension and corrupted the cluster

https://docs.microsoft.com/fr-fr/azure/aks/ssh

"az vmss extension set  \
    --resource-group $CLUSTER_RESOURCE_GROUP \
    --vmss-name $SCALE_SET_NAME \
    --name VMAccessForL

[2021-07-02 16:17] markjbrown commented on #77793
@SnehaGunda you can disregard. Was able to auto-merge.

This will push in PM.

[2021-07-02 16:25] StefArroyo commented on #77408
Hi! M1 is on the roadmap, but don't have any specific details on dates. Will update docs w/ this info.

[2021-07-02 16:26] StefArroyo commented on #77408
#please-close

[2021-07-02 16:26] #77408 closed

[2021-07-02 16:29] epomatti commented on #57611
@chamukallem-msft

I do not agree with this decision.

[2021-07-02 16:30] Alazari-main opened #77831 "The way to delegate only the subscription operations"
Hi.

Is there a way to delegate only the subscription operations? Right, enabling subscription delegation while leaving user management delegation disabled breaks the developer portal.

Details:

Even though it is not obvious, the subscription delegation can be enabled without 'sign-in & sign-up delegation':
<img width="1190" alt="Screenshot 2021-07-05 at 12 19 17 PM" src="https://user-images.gith

[2021-07-02 16:34] SnehaGunda commented on #77793
Thanks Mark.

@MS-jeremy we will now close this issue.
#please-close

[2021-07-02 16:34] #77793 closed

[2021-07-02 16:36] DrejmeisterDrej commented on #58044
I am try to send NSG flow logs to one storage account from 2 different VNets. Is this possible? Using on-premises private DNS.

[2021-07-02 16:36] SnehaGunda commented on #77477
#please-close

[2021-07-02 16:36] #77477 closed

[2021-07-02 16:37] CaitlinV39 commented on #77606
@Oury-MSFT  - I'm not seeing the PR.

[2021-07-02 16:38] DrejmeisterDrej opened #77832 "2 private endpoints in different VNets to one Storage Account"
I want to send diagnostic traffic from each VNet to go to its respective private endpoint that leads to the same storage account.

I am using an on-premises DNS.

Is this possible? What would my DNS records have to look it?

[2021-07-02 16:41] markjbrown commented on #77161
The advantage is that reading from a single replica is half as expensive as reading from two.

Strong and Bounded Staleness reads are done from two replicas. On reads, the LSN from each is compared. If they match then it's the latest data. If they don't, the data with the higher LSN is returned. This works because all data is written to 3 replicas. So a 2 replica read is always guaranteed to retur

[2021-07-02 16:42] craigshoemaker commented on #38153
I have added a note in the article that calls out the restrictions of the dot notation.

#please-close

[2021-07-02 16:44] mimckitt commented on #77817
Pushed fix. Changes will be live by EOD. Thanks! :)

#please-close

[2021-07-02 16:44] #77817 closed

[2021-07-02 16:48] nelsonpv commented on #68764
Thanks for addressing this!

[2021-07-02 16:50] craigshoemaker commented on #38213
Link to the Python dev article is now added.

#please-close

[2021-07-02 17:05] ThomasWeiss commented on #74774
The code sample has been updated accordingly.
#please-close

[2021-07-02 17:10] DerekHerman-MSFT commented on #77812
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-02 17:17] DerekHerman-MSFT commented on #77824
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-02 17:21] himanshusinha-msft commented on #77825
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 17:26] MS-jgol commented on #77625
@Vipin-Sharma
At the moment you can enable Java for Functions Windows from the portal:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-functions

Similar functionality is coming in a matter of a few weeks to Linux as well.

Will that resolve your question?

[2021-07-02 17:31] j-patrick commented on #74774
The code sample has been updated accordingly.
#please-close

[2021-07-02 17:31] #74774 closed

[2021-07-02 17:39] j-patrick commented on #73280
Please #reassign @ThomasWeiss

[2021-07-02 18:07] meganbradley commented on #38153
#please-close

[2021-07-02 18:07] #38153 closed

[2021-07-02 18:07] meganbradley commented on #38213
#please-close

[2021-07-02 18:08] #38213 closed

[2021-07-02 18:27] weitzhandler opened #77835 "Please add DNS information for other providers"
Hi,

In the attached article, we're given instructions ([here](https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?wt.mc_id=azurestaticwebapps_inline_inproduct_general&tabs=azure-dns#add-domain-using-txt-record-validation)) on how to copy the values from the custom-domain settings in Azure to the DNS provider. The manual assumes the reader to be using Azure as a domain provider. P

[2021-07-02 18:30] himanshusinha-msft commented on #77816
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:31] himanshusinha-msft commented on #77819
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:32] kgremban commented on #77690
@algattik Thank you for bringing this to our attention. Most of our documentation uses an empty object for createOptions, but I did a global search and fixed four articles that had examples using an empty string. I'll close this issue as resolved once my changes get merged.

[2021-07-02 18:39] himanshusinha-msft commented on #77820
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:40] himanshusinha-msft commented on #77827
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:41] hk-chahal commented on #77721
@AshokPeddakotla-MSFT I am still not getting Resource-Location in response header for following request after trying multiple times.

<img width="897" alt="Error1" src="https://user-images.githubusercontent.com/66459171/124316433-35f90e00-db3b-11eb-8a7e-90947ad4a088.png">

[2021-07-02 18:42] #77828 closed

[2021-07-02 18:44] craigshoemaker commented on #40164
Thanks, @d3vAdv3ntur3s, for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitat

[2021-07-02 18:44] himanshusinha-msft commented on #77830
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:46] himanshusinha-msft commented on #77831
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:47] avEggHead opened #77837 "Typo in code snippet"
In the section 'Create a custom topic' there is a typo in the code snippet.

it says:
topicname=<your-topic-name>

it should say:
$topicname = '<your-topic-name>'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c93275-7ff0-f515-8001-ad513f3d714b
* Version Independent ID: 2c4a7f97-4532-9bd8-ba57-03a11784329a
* Content:

[2021-07-02 18:51] himanshusinha-msft commented on #77835
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-02 18:52] anastasia-ms commented on #77721
@hk-chahal

Looks like there was a merging error and some old steps were re-inserted into the document. I removed them again. Hopefully this helps you.

[2021-07-02 18:52] himanshusinha-msft commented on #77837
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-02 18:54] Oury-MSFT commented on #77606
https://github.com/MicrosoftDocs/azure-docs-pr/pull/164380

[2021-07-02 18:59] Oury-MSFT commented on #77606
![image](https://user-images.githubusercontent.com/78940872/124318042-eb709500-db2c-11eb-8532-ddc02ba050f9.png)

[2021-07-02 19:01] #77690 closed

[2021-07-02 19:01] #77606 closed

[2021-07-02 19:06] tifischer opened #77838 "The doc says Purview does not support VNET but another doc says that it does"
This doc may require some clarity.

The doc says that Purview does not support VNET but it does according to [Use private endpoints for secure access to Azure Purview - Azure Purview | Microsoft Docs](https://docs.microsoft.com/en-us/azure/purview/catalog-private-link)

Here is the doc for Azure SQL Registration Register and scan Azure SQL Database - Azure Purview | Microsoft Docs

---
#### Docume

[2021-07-02 19:17] SadiqhAhmed-MSFT commented on #77520
@anvar-ms For visibility

[2021-07-02 19:43] amsliu commented on #69998
@JakeMoe Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2021-07-02 19:52] rolyon commented on #54335
Hi @TaylorBogle
Thanks for your feedback. We've updated the doc with a prerequisites section.
https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-add-manage-users

[2021-07-02 19:52] rolyon commented on #54335
Let us know if you have any additional feedback.
thanks
#please-close

[2021-07-02 19:54] rolyon commented on #54335
#please-close

[2021-07-02 19:57] rolyon commented on #54335
#please-close

[2021-07-02 20:15] amsliu commented on #69998
#please-close

[2021-07-02 20:31] SnehaGunda commented on #77790
@davidemontanari yes it's a typo, I fixed it in the above PR. Changes will be live by EOD today. We will now close this issue.

#please-close

[2021-07-02 20:31] furmangg commented on #77825
looks like everything that needs to be documented is documented per @jovanpop-msft so I'm closing

[2021-07-02 20:31] #77825 closed

[2021-07-02 20:32] SnehaGunda commented on #77790
#please-close

[2021-07-02 20:38] cotepatrice opened #77840 "Missing steps"
It seems like there's some informations missing in that page between the "**Azure AD B2C extensions app**" and the "**Using custom attribute with MS Graph API**". Why do we have to copy the Object ID since we don't even use it? And it doesn't tell us how we're supposed to create those custom attributes in Graph API. At least, some link on the documentation could be provided. While it's so simple t

[2021-07-02 20:48] JamesTran-MSFT commented on #77571
@jeremiedeveloper
Thank you for pointing this out! I've created a PR to update the missing "y" and it's currently waiting for the author to review and sign off.

I've assigned this issue to the author who will investigate your other points and update as appropriate.
Thank you for your time and patience!

[2021-07-02 20:48] #77663 closed

[2021-07-02 20:49] JamesTran-MSFT commented on #77761
@louisjrdev
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-02 20:55] JamesTran-MSFT commented on #77840
@cotepatrice
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-02 20:56] JamesTran-MSFT commented on #77768
@tomaschladek
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-02 20:56] #77768 closed

[2021-07-02 21:01] DerekHerman-MSFT commented on #77827
The usage of your is correct here as it is possessive. https://www.kaplaninternational.com/blog/learning-languages/eng/your-vs-youre-grammar-differences#:~:text=Understanding%20how%20to%20use%20YOUR%20and%20YOU%27RE%3A%20Your,the%20present%20participle%20%28verb%20form%20ending%20in%20-ing%29.

[2021-07-02 21:16] MP7373 commented on #77161
So is there any semantic difference for a Bounded Staleness read and a Strong read if the account consistency level is set to Strong?

If 3 replicas are always written to and Bounded Staleness checks 2 replicas doesn't that make it a pointless configuration to override a client consistency level to Bounded Staleness if the account is set to strong because it will default to Strong, and whether its

[2021-07-02 21:29] ayprof commented on #77827
Sorry, I think you must be referring to the first 'your' in the included text and not the second one.  The 'your' in question is in this sentence: "Note the proper suffix (core.windows.net) depends on the cloud your deployed in."  In this case, your is not possessive and is meant to convey "the cloud you are deployed in."  I apologize for the formatting issue in the original submission.

[2021-07-02 21:43] MartinJaffer-MSFT commented on #77552
Thank you for your feedback. This has been assigned to the content owner , @mssaperla ,and will be updated as appropriate.

[2021-07-02 21:47] #77790 closed

[2021-07-02 21:56] Oury-MSFT commented on #77679
same question posted on Stack Overflow https://stackoverflow.com/questions/68197216/failed-task-of-azure-cosmos-db-emulator-in-azure-devops-yaml-pipeline/68231589#68231589

[2021-07-02 21:58] Oury-MSFT commented on #77679
@deborahc I was not able to repro the issue. Your help will be very appreciated here

[2021-07-02 22:01] rolyon commented on #54335
#please-close

[2021-07-02 22:19] kgremban commented on #74110
Hi @w0ut0 thank you for your patience while I confirmed my answer.

The announcement that @kiranpradeep linked to is still the most recent update for Azure Functions on IoT Edge, with C# and the custom edge hub binding supported.

IoT Edge uses the WebJobs SDK, and you can see on the Azure Functions site that this means only C# is supported: https://docs.microsoft.com/en-us/azure/azure-functions/f

[2021-07-02 22:21] DerekHerman-MSFT commented on #77827
Thanks for clarifying. I have submitted a PR changing you're to you are and it should update shortly.

[2021-07-02 22:21] #77827 closed

[2021-07-02 22:26] lgayhardt commented on #77709
@SamaraSoucy-MSFT I made a PR to update the screenshot. I also sent you an email.

#please-close

[2021-07-02 22:28] lgayhardt commented on #77709
#please-close

[2021-07-02 22:34] ThomasWeiss commented on #73280
Addressed in [this PR](https://github.com/MicrosoftDocs/azure-docs/commit/1126459994fb45960d8fa3fe58b3bfd99f4c7308)

[2021-07-02 22:37] j-patrick commented on #73280
See Thomas's comment
#please-close

[2021-07-02 22:43] heyucongtom opened #77841 "Status should be "Cancelled" vs "Canceled" as per API return value"
Status should be "Cancelled" vs "Canceled" as per API return value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf124c4c-3ba1-57ed-3679-8539f2a311fc
* Version Independent ID: 4b32b092-c4ad-74aa-58d3-75449d87d306
* Content: [Programmatically monitor an Azure data factory - Azure Data Factory](https://docs.microsoft.co

[2021-07-02 23:15] laujan commented on #75939
resolved
#please-close

[2021-07-02 23:19] SnehaGunda commented on #73280
@AnuragSharma-MSFT auto close bot isn’t working, can you manually close this issue.

[2021-07-02 23:29] laujan commented on #75939
#please-close

[2021-07-02 23:30] jordanjohnson13 commented on #35923
@kromerm any chance you've got any updates on this feature? Wondering if it's possible to somehow specify a private endpoint for the ADF? Perhaps we can associate the ADF instance to the same VNET/Subnet as the VM that houses the SQL Server instance? Really need this feature...

[2021-07-02 23:31] laujan commented on #75939
#sign-off

[2021-07-02 23:46] jonwbstr commented on #55620
Can confirm this is confusing. We just spent a few days with azure support learning the error "SSLHandshakeError" means we cant use an IP address for the host name and an fqdn for the host header for HTTPS.

Apparently IIS 10.0 is among the backends that require the host header and host name to match.

I scanned the documentation and found no indication the host name and host header needed to matc

[2021-07-02 23:54] BharathNimmala-MSFT commented on #75421
@Jont-K My sincere apologies that this took some considerable amount of time to circle back, post validation with the team below is the information which I could share.

Customer must be a subscription owner or contributor to make a purchase, regardless if it's a public or private plan.  This is documented [here](https://docs.microsoft.com/en-us/marketplace/azure-purchasing-invoicing#permission-to

[2021-07-02 23:54] #75421 closed

[2021-07-02 23:58] BharathNimmala-MSFT commented on #77625
Thank you @MS-jgol for helping on the thread.

@Vipin-Sharma Requesting to please review the information shared by @MS-jgol and let us know if you have any additional queries.

Thank you for your query. Hope the above information helps.

Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the A

[2021-07-02 23:58] #77625 closed

[2021-07-03 00:53] BryRamCam opened #77843 "Postman collection issue with versions unsupported"
Feedback
============================
Yesterday I was following the steps to create application and publish it. All good.

But, when I went to Postman to test the endpoint I had an issue with the Collection as it is V1 and not Postman does not support v1, it needs to be converted to v2.

It would be amazing if it can be checked and updated accordingly if needed

https://docs.microsoft.com/en-us/az

[2021-07-03 01:56] manhquang144 opened #77844 "Azure map - How to render pins on top of path layers ?"
Hi there, I wonder if it is possible to put the pins in front of the paths (the rectangle) while rendering a static map ?

![image](https://user-images.githubusercontent.com/6846400/124339930-fc84d900-dbf4-11eb-8875-100337cba39c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeb145b-1372-1e2a-c10a-2d430d72b4f5
*

[2021-07-03 02:13] santoshmallena opened #77845 "Some Confusion Moving Storage Account to Another Region"
When you say "Move a storage account to a different region" , some folks think that we can use same storage name in another region why because  the title it says can move storage account to different region. actually we know its not possible it should be globally unique. It would be good if you can update like this step in doc.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-07-03 03:34] joetechem commented on #77841
According to my google search, “canceled vs cancelled”, both spellings are correct.
—https://www.merriam-webster.com/words-at-play/canceled-or-cancelled

[2021-07-03 03:34] joetechem commented on #77841
According to my google search, “canceled vs cancelled”, both spellings are correct.
—https://www.merriam-webster.com/words-at-play/canceled-or-cancelled

[2021-07-03 03:50] heyucongtom commented on #77841
Thanks for the reply. I understand that both ways of spelling are correct.
When I send a get pipeline request, I am getting “cancelled” as return
status. However on the docs we are using canceled. This is a minor mismatch.

On Fri, Jul 2, 2021 at 8:35 PM joe ***@***.***> wrote:

[2021-07-03 03:52] lgayhardt commented on #76557
@funkysi1701 Thank you for the feedback and the code snippet. Engineering wants to keep the script simple so instead we are going to use your script as a separate example for releaseProperties. The changes should go live in a few days.

Thank you
#please-close

[2021-07-03 04:20] GitaraniSharma-MSFT commented on #77838
@tifischer , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-03 04:22] GitaraniSharma-MSFT commented on #77841
@heyucongtom , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-03 04:24] GitaraniSharma-MSFT commented on #77843
@BryRamCam , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-03 04:28] GitaraniSharma-MSFT commented on #77844
@manhquang144 , thank you for your query. We'll review this and get back to you shortly!

[2021-07-03 04:34] GitaraniSharma-MSFT commented on #77845
@santoshmallena , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-03 07:09] #73280 closed

[2021-07-03 07:51] SandeepShah89 opened #77848 "Broken links on "Check out these samples on GitHub""
As per title. The links take you to a broken github page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab0e1be-fcfe-6f77-d5c0-3ad4d16bbe97
* Version Independent ID: 168f8515-2da3-0b7e-a8bf-ef87f3d21274
* Content: [Send or receive events from Azure Event Hubs using JavaScript (latest) - Azure Event Hubs](https://docs

[2021-07-03 11:17] andybooth opened #77849 "Invalid markdown makes null propagation for @pipeline()?.TriggeredByPipelineName unclear"
I believe `@pipeline()__?__.TriggeredByPipelineName` is malformed markdown when published on Microsoft Docs making the expected syntax of `@pipeline()?.TriggeredByPipelineName` unclear. This also applies to `@pipeline()__?__.TriggeredByPipelineRunId`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b

[2021-07-03 13:00] ankku commented on #77679
Please let me know if any thing specific required from my end. Waiting for your response.

[2021-07-03 15:18] bkalmanj opened #77850 "Unable to create VM from shared image gallery"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-07-03 15:19] #77850 closed

[2021-07-03 16:14] gkoperczaknord opened #77851 "Error related to lack of resources (vcores) when trying to run step 6 of tutorial "Analyze data in a storage account""
In step "Analyze data in a storage account" of tutorial we can see:
Attach to the Spark pool named Spark1. Run the cell.
When trying to do so, error related to lack of cores is visible. It looks that it creates new spark session, and becuase one is already running and using all available resources of spark1 pool, it is not possible to run this step.
It require to cancel spark session first before

[2021-07-03 16:55] Baasky01 commented on #72503
@billmath Thank you!!!

[2021-07-03 16:58] spechtx commented on #36927
Hi @BryanTrach-MSFT

Thank you very much for helping with this issue.

I came across the same issue and followed your steps. Unfortunately i get an application error, right after the app starts. When i remove /home/startup.sh" as the Startup Command everything is fine again. Do you have any advice, in how to get the GDAL library working with Django on Azure Web Service?

[2021-07-03 17:39] himanshusinha-msft commented on #77851
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-03 17:40] himanshusinha-msft commented on #77849
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-03 17:41] himanshusinha-msft commented on #77848
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-03 18:00] jonwbstr commented on #40680
Quick note, you can also update the certificate name check setting and timeout from the azure portal by clicking "settings" inside the frontdoor designer.

[2021-07-03 20:15] hypertrends opened #77853 "UserInfo endpoint name translations"
Hello,
We are looking for a way to translate the Userinfo endpoint output into std. OIDC known claims.

The current endpoint returns something like so:

`{
    "objectId": "",
    "givenName": "John",
    "surname": "Doe",
    "displayName": "John Doe",
    "signInNames.emailAddress": "aaa@aaa.com"
}`

It should be noted that OIDC compliance requires given_name, family_name etc. to be emitted in t

[2021-07-03 21:41] markjbrown commented on #77161
Both Strong and Bounded Staleness are local minority quorum reads. This is documented [here](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#consistency-levels-and-throughput)

Yes, if you are configured for strong it is pointless to override to Bounded Staleness. People who do this go to a weaker level of consistency so they can get cheaper reads.

[2021-07-03 22:35] Cnordbo opened #77855 "Deprecated guide on how to use managed identity"
This page has not been marked as deprecated or updated according to the latest standards.
The referred code samples and docs are updated:
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-to-service-authentication
https://github.com/Azure-Samples/app-service-msi-keyvault-dotnet/tree/master/WebAppKeyVault

But the main section is not:
https://docs.microsoft.com/en-us/azure/app-serv

[2021-07-03 23:33] kilasuit opened #77856 "Page content is out of date"
This page shows images that are old and dated & looks like the option to delete a tenant has now been removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-1ff17e427757
* Content: [Delete an Azure AD organization (tenant) - Azure Ac

[2021-07-04 04:46] GitaraniSharma-MSFT commented on #77853
@hypertrends , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-04 04:49] GitaraniSharma-MSFT commented on #77855
@Cnordbo , We have assigned this to the content owner/author for review.

[2021-07-04 04:51] GitaraniSharma-MSFT commented on #77856
@kilasuit , thank you for your feedback. We have assigned this to the content owner/author for review.

[2021-07-04 07:21] kdupindersingh opened #77858 "new update on the images"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart - Access & create new tenant - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-a

[2021-07-04 09:44] hanslai opened #77859 "code snippet of Customizing token validation CS1061 Error"
Following the doc, in [Customizing token validation](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration#customizing-token-validation)

Will get a CS 1061 Error: 'BinderOptions' does not contain a definition of 'Events', so the project won't build.

Not sure what nuget package or using statement add to solve the build error.

---
#### Docume

[2021-07-04 09:54] hanslai commented on #77714
Even the sample is for Azure AD B2C and not for AAD, but it did help.  Thanks.

Yet, I think the major problem for readers is what to put in appsettings.json for those magic string related to Azure AD or Azure AD B2C, and where to get those magic string value from.

For example:
[code]
For example, TenantId and ClientId is easy, but what to put in domain, it is not mentioned in the doc, but it com

[2021-07-04 09:56] hanslai commented on #77523
Thanks, feel free to close.

[2021-07-04 11:49] memildin commented on #76844
Hi @vmonge, thanks for the feedback and for taking the time to help us improve the docs.

I've updated this line in the table. The changes will go live in the coming few days.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-07-04 13:34] SrijitBose-MSFT commented on #77731
@matzter is there any update on this?

[2021-07-04 14:15] jmprieur commented on #77859
@hanslai this is `JwtBearerOptions`, not `BinderOptions`
where do you see `BinderOptions` ?

[2021-07-04 18:09] himanshusinha-msft commented on #77858
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-04 19:26] 6bkatkr opened #77860 "Wrong translation from EN to HU"
[Enter feedback here]
In English on the page can be read:
DDoS Protection Basic helps protect all Azure services, including PaaS services like Azure DNS.

I Hungarish on the page can be read:
DDoS Protection alapszintű, így biztosítható az összes Azure-szolgáltatás, beleértve a Pásti-szolgáltatásokat, mint a Azure DNS.

PaaS has been translated to Pásti - this is misleading.

---
#### Document Det

[2021-07-04 21:06] ashfurrow commented on #31136
I just received an email from someone claiming to be with Microsoft’s Software Analysis and Intelligence Research Group asking me to fill out a survey for open source contributors on an `aka.ms` url. There are clearly MS employees who are using this shortener for external communication and it’s impeding the MS business interests.

[2021-07-04 23:26] BryanTrach-MSFT commented on #77594
@iMicknl We received confirmation from the product group that they support N-2 of the major releases for each platform.

We (Azure CXP)  have been asked not to update the documentation as the PG has taken an action item to work with the docs team to add clarity to this doc. This doc update should be coming in future weeks.

We will now proceed to close this thread. If there are further questions r

[2021-07-04 23:26] #77594 closed

[2021-07-05 00:47] ram-msft commented on #77654
We have created backlog item for that comes with a public IP We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 00:47] #77654 closed

[2021-07-05 00:55] yamauchikazu opened #77861 "Document Bug"
NG:
az role assignment create \
    --assignee $imgBuilderCliId \
    --role $imageRoleDefName \
    --scope /subscriptions/$subscriptionID/resourceGroups/$imageResourceGroup

OK:
az role assignment create \
    --assignee $imgBuilderCliId \
    --role "$imageRoleDefName" \
    --scope /subscriptions/$subscriptionID/resourceGroups/$imageResourceGroup

---
#### Document Details

⚠ *Do not edit this

[2021-07-05 01:30] GitaraniSharma-MSFT commented on #77860
@6bkatkr , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@aletheatoh , could you please fix the doc as requested?

[2021-07-05 01:35] hanslai commented on #77859
Please refer to the attached image.  It comes from `Options.Events`

![image](https://user-images.githubusercontent.com/20576491/124406480-0d0f8d80-dd74-11eb-844c-09772c7e3792.png)

[2021-07-05 01:40] hanslai commented on #77859
My bad.  Once I filled out the _list of valid issuers_ &  _list of valid audiences_, then the error is gone.
Sorry to waste your time.

[2021-07-05 01:40] #77859 closed

[2021-07-05 02:30] nunepalli commented on #77361
When will I get the response?
We need a way to get an alert for long-running pipelines.

[2021-07-05 02:52] HarryUlysses opened #77863 "It should not be Versionless using Azure CLI to create Kafka cluster"
I tested the template using Azure CLI to create KAFKA cluster.
https://docs.microsoft.com/en-gb/azure/hdinsight/disk-encryption#using-azure-cli
`
az hdinsight create -t spark -g MyResourceGroup -n MyCluster \
-p "HttpPassword1234!" --workernode-data-disks-per-node 2 \
--storage-account MyStorageAccount \
--encryption-key-name SparkClusterKey \
--encryption-key-version 00000000000000000000000000000

[2021-07-05 03:06] hanslai opened #77864 "Please add Blazor WASM code sample"
I am trying to follow the doc for Microsoft Identity platform with Blazor WASM, but there is no code samples for Blazor WASM.
Please refer to image below, only JavaScript code examples.  Please add Blazor WASM code sample, it will make the learning experience much easier.

![image](https://user-images.githubusercontent.com/20576491/124412328-d2f8b880-dd80-11eb-8f78-d2439255decb.png)

---
#### Docu

[2021-07-05 03:16] SwathiDhanwada-MSFT commented on #77549
@mdrief Thanks for bringing this to our notice. Content team has already opened a work item  internally to work on this feedback.

@chamukallem-msft - FYI. Reference Link [69201](https://github.com/MicrosoftDocs/azure-docs/issues/69201)

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-07-05 03:16] #77549 closed

[2021-07-05 03:22] SwathiDhanwada-MSFT commented on #77437
@JFolberth  Apologies for late response. Can you please share which repository are you referring to ? As I could see there are no PR's related to automation service in the current repository.

![image](https://user-images.githubusercontent.com/48976275/124413473-56f57500-dd6e-11eb-9d30-31105d8bdd7c.png)

[2021-07-05 03:36] dcbrown16 opened #77865 "Missing from ToC"
Was this doc intentionally removed from the table of contents? It helps discoverability if it appears in the ToC somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota inc

[2021-07-05 03:38] dcbrown16 commented on #77865
I see that this was asked  on #47757 over a year ago as well, but leaving it open since nothing has happened.

[2021-07-05 03:39] CHEEKATLAPRADEEP-MSFT commented on #77863
@HarryUlysses  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@JasonWHowell Could you please review?

[2021-07-05 03:46] saptarshibasu commented on #77733
Any update on this please?

[2021-07-05 03:57] claire-q opened #77866 "Should or shouldn't file sync use on-prem backup with cloud tiering disabled?"
[Enter feedback here]
In https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-planning#backup It was noted that
"
If you prefer to use an on-premises backup solution, backups should be performed on a server in the sync group that has cloud tiering disabled.
"

However in [VSS section](https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-deployment-guide?tabs=azure-porta

[2021-07-05 04:20] VikasPullagura-MSFT commented on #77830
@porrascarlos802018
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-05 04:20] VikasPullagura-MSFT commented on #77830
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-07-05 04:26] vipulsparsh commented on #77864
@hanslai Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-05 04:34] CHEEKATLAPRADEEP-MSFT commented on #77696
@wpcarroll  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 04:34] #77696 closed

[2021-07-05 04:34] CHEEKATLAPRADEEP-MSFT commented on #77727
@shubhi97  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 04:34] #77727 closed

[2021-07-05 04:38] pedro-aaron commented on #68962
An empty database It not functional...misleading advertising!

[2021-07-05 04:44] VikasPullagura-MSFT commented on #77861
@yamauchikazu Thanks for the feedback. The document is updated and changes will go live soon.

[2021-07-05 04:58] nkumars commented on #77732
@SnehaAgrawal-MSFT, please respond as this is critical for us to make decisions.

[2021-07-05 04:59] nkumars commented on #77104
@jitendraRai, can we expect "identities" will soon be included in the request to API connectors?

[2021-07-05 05:03] MayankBargali-MSFT commented on #77186
@waltervos Apology for the delay.
@waltervos Can you help on this?

[2021-07-05 05:10] jyama4ta opened #77869 "Update request: includes patch versions that aren't supported"
Regarding 'What happens when a user scales a Kubernetes cluster with a minor version that isn't supported?', I think it should be also included a patch version that isn't supported.
Could you please update 'with a minor or a patch version that isn't supported', or simply 'with a version that isn't supported'?

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-07-05 05:33] RohitMungi-MSFT commented on #77596
@nikhilnaregal We will now proceed to close this thread since this does not seem related to the documentation. If there are any further questions we would request to post the same on MS Q&A [forum ](https://docs.microsoft.com/en-us/answers/products/)for technical queries. Thanks.

[2021-07-05 05:33] #77596 closed

[2021-07-05 05:35] SumanthMarigowda commented on #77530
@pmia Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-07-05 05:35] #77530 closed

[2021-07-05 05:35] SumanthMarigowda commented on #77555
@vit100 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-07-05 05:35] #77555 closed

[2021-07-05 05:37] SumanthMarigowda commented on #77666
@yah01  PR has been initiated necessary changes will take very soon! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 05:37] #77666 closed

[2021-07-05 05:48] rogerbramon opened #77870 "Create a service principal script doesn't work"
Hi,

The Create a service principal sample script doesn't work anymore, it fails on getting the `SP_APP_ID`. It seems that the display name cannot be used, Id is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11bbaa44-52ed-33fd-d710-af73d3665ec9
* Version Independent ID: b11deb17-311c-3aa3-78a7-1f8cdc7e9e5e
* C

[2021-07-05 07:05] olavt opened #77871 "Unclear terminology used (workers, instances, function app host)"
The documentation for Azure Functions uses some terms that some find a bit confusing. It’s especially the mix of instances and workers I found most confusing.

Azure Functions scale and hosting | Microsoft Docs

“Automatically scales based on demand using pre-warmed workers which run applications with no delay after being idle, runs on more powerful instances, and connects to virtual networks.”

1

[2021-07-05 07:07] HarshitaSingh-MSFT commented on #77865
Hello @dcbrown16 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-05 07:37] Derek1101 commented on #77004
@robinsh @asudbring seems [https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns) is not yet updated, would you help move this forward, thanks.

[2021-07-05 07:39] AjayKumar-MSFT commented on #77850
@bkalmanj, Thanks for leveraging Azure docs feedback channel to raise this question.

Since you have closed this thread, I presume the issue is resolved. If you have any feedback with the Azure docs' steps or suggesting some enhancements, please do share the Azure doc for which this feedback is applicable to.
From your question, it looks like you're following the steps from this doc  -
[Create an

[2021-07-05 08:08] cephalin commented on #60957
#please-close

[2021-07-05 08:30] jyama4ta opened #77873 "Update Request: adding update cycle for Kubernetes patch version level"
Update cyccle for minor version is noted on 'How often should I expect to upgrade Kubernetes versions to stay in support?'.
We would like to know similar qustion for patch level. I think customer should update their AKS cluster for patch level in less than a year to get support from follwoing notes.

_Users have **30 days** from a patch release's removal from AKS to upgrade into a supported patch

[2021-07-05 08:38] MCKLMT commented on #77660
Seems to be a Safari bug, I will report it to Apple. Thanks

[2021-07-05 08:38] #77660 closed

[2021-07-05 08:38] SnehaAgrawal-MSFT commented on #77732
@nkumars Could you please elaborate your query on what you are try do and what your environment is to help you better on this.

All Azure Web Apps (as well as Mobile App/Services, WebJobs and Functions) run in a secure environment called a sandbox. Each app runs inside its own sandbox, isolating its execution from other instances on the same machine as well as providing an additional degree of sec

[2021-07-05 08:54] MonikaReddy-MSFT commented on #77603
@LievensGert -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 08:54] #77603 closed

[2021-07-05 08:56] #77861 closed

[2021-07-05 10:05] LazaUK opened #77874 "Section about use of MS Graph for SCIM provisioning into ADB is misleading / inaccurate"
Dear Team,

  There are 2 options described on this page: use of AAD UI with an enterprise app and MS Graph.

  You can follow AAD UI part and easily setup required connection. However, MS Graph part is misleading / inaccurate:
- adding custom provisioning in registered AAD app is not supported (there is a warning in AAD, which explains that it should be requested when you publish the app into gal

[2021-07-05 10:06] dotnetsupportquestion opened #77875 "To generate Authorization token for device update for azure IoT hub Rest API"
[Enter feedback here]

currently we are exploring the device update for IoThub. we want to achieve the same functionality through the rest api using below URL -
https://docs.microsoft.com/en-us/rest/api/deviceupdate/updates/import-update#examples

In order to execute this, we follow the request details shared. Every time we are getting the unauthorize error (401). Need assistance here to generate

[2021-07-05 10:06] hung-doan opened #77876 "Is JavaScript page-layout still under the preview ?."
Is the Javascript enabled page available for production use ?.
This document have no mention about that,
However when I tried to created a new Sign-up flow.  It shows that: "Enable JavaScript enforcing page layout (preview)".

**Does that mean this feature is not ready for the production use?.**

![image](https://user-images.githubusercontent.com/11371581/124454919-2f74cb80-ddb3-11eb-83ca-16eb6688

[2021-07-05 10:28] KevinInch opened #77877 "Incorrect info (traffic analytics)"
[Enter feedback here]

I would just like to verify this information. Can an account on the reader level enable traffic analytics? Surely readers cannot enable, disable or modify information right?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a3b799a-7429-813c-c630-e6242c39b77f
* Version Independent ID: 8ad04d

[2021-07-05 10:28] AnuragSharma-MSFT commented on #77795
@rarandiv Thanks for bringing this to out notice. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-05 10:29] Skaaapi commented on #76340
Hi,

Same issue here, I tried a lot of multi-language words, none of them gave me alternative languages.

Is it possible to have a parameter to let the developer choose if he wants alternative languages or not ? Even if the confident score is low.

If not, do you have another tool to detect languages with alternatives (even when condifent scores are low) ?

Thanks in advance.

[2021-07-05 10:35] CliffAgius opened #77878 "Update the Windows Command Line Text"
Under the section:  Run the command that transfers the update package to the dev kit

There is a enter the following command in the command prompt or terminal for the Windows set-up and this is:

    uuu -b emmc_full.txt fast-hab-fw.raw Azure-Percept-DK-<version number>.raw

This really should be changed to have a "./" at the front so that it will run correctly on Windows so should be:

    ./uuu

[2021-07-05 10:41] MayankBargali-MSFT commented on #77871
@olavt Thank you for your feedback! We will review and update as appropriate.

[2021-07-05 10:53] ivovdgrift opened #77879 "Incorrect spark config name is referenced in Databricks External Hive Metastore Docs"
Incorrect spark config name is referenced:
`<mssql-connection-string> is the JDBC connection string (which you can get in the Azure portal). You do not need to include username and password in the connection string, because these will be set by javax.jdo.option.ConnectionUserName and javax.jdo.option.ConnectionDriverName.`

should be
`<mssql-connection-string> is the JDBC connection string (which

[2021-07-05 11:02] spotakash opened #77881 "Self Sign Certificate Command Seems as Import keeps on throwing Password Error"
https://docs.microsoft.com/en-us/azure/application-gateway/create-ssl-portal#create-a-self-signed-certificate

Create Self Sign Certificate Command seems wrong and PFX file during Import in Listener keeps on throwing Password error. While i use CLI based Self Sign Certificate Command, it worked fine.

Review PowerShell Command for Self Sign Certificate

---
#### Document Details

⚠ *Do not edit th

[2021-07-05 11:12] SnehaAgrawal-MSFT commented on #77639
@huipingli2009 Could you please confirm if you have configured a server firewall rule and configured app to connect to production database?

[2021-07-05 11:17] v-amallick commented on #77698
@migrande: We have updated the document. The changes will reflect soon. Thank you.

[2021-07-05 11:21] jmprieur commented on #76977
proposed a PR for this one.

[2021-07-05 11:24] amanmcse commented on #77715
@mrhannah88 This is assigned to the author to review and update.

[2021-07-05 11:42] waltervos commented on #77186
Related: #77220

[2021-07-05 11:47] tiantun opened #77882 "Azure SDK for PHP is no longer supported as of February 2021"
Hi team,

The Azure SDK for PHP is no longer supported as of February 2021. [Important Announcement](https://github.com/Azure/azure-sdk-for-php#important-annoucement)

It would be great to mention this in the Quickstart so that users are aware that the REST API might be the way to go for many PHP scenarios.

Thanks,
Tiago

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-07-05 11:59] VladimirtheGreatest opened #77883 "Microsoft.Automation automationAccounts/schedules mistake in documentation"
I was trying to find repo for runbook schedules but could not find it but I definitely found a mistake in your official documentation
Microsoft.Automation automationAccounts/schedules
https://docs.microsoft.com/en-us/azure/templates/microsoft.automation/automationaccounts/schedules?tabs=json

{
  "name": "string",
  "type": "Microsoft.Automation/automationAccounts/schedules",
  "apiVersion": "2020

[2021-07-05 12:19] MonikaReddy-MSFT commented on #77866
@claire-q -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:20] MonikaReddy-MSFT commented on #77869
@jyama4ta -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:22] MonikaReddy-MSFT commented on #77870
@rogerbramon -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:24] danielmokaomv commented on #52660
@mikebudzynski Thanks for the quick answer! In the Azure API management under the tab "Management API" we can only find the Management API URL. Where can we find the backendUrl?

If we self-host our Developer Portal in an Azure Storage and place a custom domain on static website, is this then the value we need to configure as the backendUrl? We have checked your provided documentation, but could n

[2021-07-05 12:26] MonikaReddy-MSFT commented on #77873
@jyama4ta -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:27] MonikaReddy-MSFT commented on #77874
@LazaUK - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:27] LaurentAl commented on #47344
It seems to be possible to control the default duration of silence added to start and end of the generated tts file with SSML:
`<mstts:silence type="Leading" value="0"/>Hello<mstts:silence type="Tailing" value="0"/>`
I doubt that it helps to control the exact time, but maybe this info is helpful in some way.

[2021-07-05 12:28] mirind4 commented on #52660
@mikebudzynski Thanks for the quick answer! In the Azure API management under the tab "Management API" we can only find the Management API URL. Where can we find the backendUrl?

If we self-host our Developer Portal in an Azure Storage and place a custom domain on static website, is this then the value we need to configure as the backendUrl? We have checked your provided documentation, but could n

[2021-07-05 12:29] MonikaReddy-MSFT commented on #77875
@dotnetsupportquestion -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:33] MonikaReddy-MSFT commented on #77877
@KevinInch -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:34] MonikaReddy-MSFT commented on #77878
@CliffAgius -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:37] momdim opened #77886 "Azure B2C: Cannot sign out of 3rd party IDP because end_session_endpoint url is called from an iFrame"
Hello,

We are using Azure B2C with custom XML policies to integrate with a 3rd party OIDC compliant IDP.
We have configured B2C to call the session_endpoint_url of the 3rd party IDP.
Even though the end_session_endpoint url is called by B2C, the session cookie is not removed and the 3rd party IDP session "survives" the logout.
After some further investigation and debugging, we've found out that t

[2021-07-05 12:38] MonikaReddy-MSFT commented on #77878
@CliffAgius -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 12:38] #77878 closed

[2021-07-05 12:38] MonikaReddy-MSFT commented on #77879
@ivovdgrift -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:39] RichG36 opened #77887 "Small typo"
In the sentence "but they most both run on the same operating system (Windows or Linux)", I think "most" should be "must".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Independent ID: a25b6b5b-05ab-b3b2-616c-5d06eadb928d
* Content: [Azure Functions Premium plan](https://

[2021-07-05 12:41] DeanGross opened #77888 "Include ci/cd pipeline help"
Please add some info about how to make this part of a ci/cd pipeline to help non devs get started

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29a2db56-ab28-57fb-f1d3-f0a906a0558f
* Version Independent ID: d7a75386-70eb-6fce-17cb-06a3ff4298bf
* Content: [Import and export Azure Sentinel analytics rules](https://docs.

[2021-07-05 12:44] MonikaReddy-MSFT commented on #77879
@ivovdgrift - - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-05 12:47] MonikaReddy-MSFT commented on #77881
@spotakash - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:47] eksklawa opened #77889 "The guide is a bit confusing and not working as described"
why it does not mention anything about "az ssh cert --public-key-file..."?
without it it simply does not work when I run:
 az ssh vm -n (myVM) -g (myRG)

it produces error:
The command failed with an unexpected error. Here is the traceback:
'NoneType' object has no attribute 'id'
Traceback (most recent call last):

I run it on Windows10, az CLI 2.25.0, ssh extension up-to-date.

PS. Does the solut

[2021-07-05 12:48] MonikaReddy-MSFT commented on #77882
@tiantun -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:50] MonikaReddy-MSFT commented on #77882
@tiantun -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 12:50] #77882 closed

[2021-07-05 12:51] jyama4ta commented on #69292
@cynthn @ayshakeen @jwhit-MSFT @mimckitt Is there any update? This doc has not updated long time... Does it mean Windows Server 2019 does not support 64+ vCPUs?

[2021-07-05 12:53] MonikaReddy-MSFT commented on #77887
@RichG36 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 12:53] #77887 closed

[2021-07-05 12:54] MonikaReddy-MSFT commented on #77886
@momdim -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:55] JFolberth commented on #77437
It is in the repo the document refers to for automatically running module updates. https://github.com/microsoft/AzureAutomation-Account-Modules-Update

[2021-07-05 12:56] MonikaReddy-MSFT commented on #77889
@eksklawa -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 12:57] MonikaReddy-MSFT commented on #77888
@DeanGross - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-05 12:58] rarandiv opened #77891 "There is no per second view in the metric. It’s started with a minute. Need to update the document"
The document says that, metric provides a **per second view** whereas there is no second view in the portal. In the time granularity section, it’s started with _minute_. The documents need to update.

Screenshot attached.

![image](https://user-images.githubusercontent.com/72970021/124474756-892ec300-ddbe-11eb-9966-4fb1b0a9ac59.png)

Here in the documents, it says metric provides a per second view

[2021-07-05 13:00] shashishailaj commented on #77843
@BryRamCam Thank you for finding this out . We have reached to the internal teams and will provide update on this soon.

[2021-07-05 13:07] JordanSimba opened #77892 "Azure Machine learning Experiment cancel requested for 40hrs +"
I wanted to cancel a launched experiment but it was stuck in cancel request for 40hrs + as can be seen below...

The process inside the experiment was still running, logs were being updated.

The code inside was a pretty long running while (Model training) loop, however it was not doing anything special like swallowing Interrupt or Terminate signals so one would expect it to be able to be terminat

[2021-07-05 13:17] RomDaBoss opened #77893 "vCpu Bug"
Ok so I have been talking to twitter support about this bug this bug consist of me creating a virtual machine that failed after failing I decide to delete it because even after redeployment it failed bare in mind it was NOT created. So after that I went to create a new one then it said I used all my vcpu's and in case you are wondering yes I have tried to create a ticket but there isn't much bugs

[2021-07-05 13:22] kristi29 commented on #77019
Hi ,

I'm having the same issue, and I have specified my subscription key. I get the following message when inspecting the page:

![image](https://user-images.githubusercontent.com/55747722/124477822-009b2d00-dd94-11eb-8622-84758b08bcfe.png)

Hope you can help!

[2021-07-05 13:27] RomDaBoss opened #77894 "So I was trying to make a virtual machine that failed but because it failed to deploy I decided to try and redeployment but that failed so I deleted the machine keep in mind it was NOT created so I decided to tried to create a new one and it said I used up all my vCPU's even though the virtual machine was NOT created."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-07-05 13:39] vipulsparsh commented on #77714
@hanslai I have moved your new thread for a review so that you can find some sample there. Thanks.

[2021-07-05 13:39] #77714 closed

[2021-07-05 13:40] vipulsparsh commented on #77726
@Arjunguanas We will be closing this now, if you are still getting any error, please share the error so that we can help you accordingly.

[2021-07-05 13:40] #77726 closed

[2021-07-05 13:48] vurhanau opened #77895 "Managed identities: quickstart - add how to enable managed identities"
It would be nice to show how to enable managed identities in `Prerequisites` section.
Something like:
 1. Navigate to your VM instance
 2. Click `Identity`
 3. Ensure `Status` is `On`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4b3fc20-1edb-7b03-fe6f-ae7842be2b25
* Version Independent ID: b720e106-bdfa-2897-6a24-b1

[2021-07-05 14:13] sommerfn opened #77896 "PR from 2019 merged but not published yet: When are the docs updated?"
Hi,

The PR https://github.com/MicrosoftDocs/azure-docs/pull/43738 was merged quite some time ago, but the changes still do not show in the documentation.
What's the proper process for getting the docs updated?

Kind regards
Nadja

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377f7678-82ce-1501-9aa4-4844b431a2d9
* Ver

[2021-07-05 14:27] vurhanau opened #77897 "Managed identities: quickstart - Resource Manager call issues"
`Get an access token using the VM's system-assigned managed identity and use it to call Resource Manager` doesn't work.
I run this:
`curl https://management.azure.com/subscriptions/<SUBSCRIPTION ID>/resourceGroups/<RESOURCE GROUP>?api-version=2016-09-01 -H "Authorization: Bearer <ACCESS TOKEN>" `
Result:
[code]

I fixed it with:
1. Go to `Subscriptions > Access Control (IAM)`
2. Add a new reader r

[2021-07-05 14:45] rpilot opened #77898 "Spelling"
Please remove space in 'throughput' in the sentence "To maximize your Key Vault through put rates"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc6bfba-ef99-bfbd-23e6-987d570b81d4
* Version Independent ID: c5f7c3c6-ee98-2c29-3a5f-9a82b5bd57c8
* Content: [Azure Key Vault throttling guidance](https://docs.microsoft.co

[2021-07-05 14:46] huipingli2009 commented on #77639
Yes. I did by following the tutorial.

Thanks.

Sent from my iPhone

[2021-07-05 15:01] hanslai opened #77899 "There is no doc on what value should be used for Domain in appsettings.json"
In the download [sample project](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-web-api#step-2-download-the-aspnet-core-project) in appsettings.json
[code]
Since there is no doc mention anything about domain, I am a bit confused about what value should be used in Domain?
is it the domain of my Azure account?  or is it the domain of my Azure Active Directo

[2021-07-05 15:21] AlexCesarini opened #77900 "update an existing terms of use policy document"
Why in the FAQ the document says
Currently, you can't update an existing terms of use policy document

but then there is a section that explains how to Update the version or pdf of an existing terms of use
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/terms-of-use#update-the-version-or-pdf-of-an-existing-terms-of-use

I think this is confusing

---
#### Document Detail

[2021-07-05 16:07] ssivas commented on #77876
@hung-doan , Thank you for your feedback . We will investigate and update the thread further.

[2021-07-05 16:35] lpmac opened #77901 "No error handling information related to Copy activity when using Odata as your connector"
[[There is no information on handling Copy Data error related to source when using Odata as your connector. For example;

]]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8193f2a3-80f3-14e9-7022-27ea5fa02001
* Version Independent ID: 9eff4721-c265-74a7-11fd-c6920f309982
* Content: [Copy data from OData sources by usin

[2021-07-05 16:39] aletheatoh commented on #77860
@KumudD are you able to help with this translation issue?

[2021-07-05 16:51] jmprieur commented on #77899
@hanslai the domain is not used for AAD. It's used for B2C.
this is normally the name of your directory (for instance youorg.onmicrosoft.com), but could be the tenant ID. or you can just remove this line.

[2021-07-05 16:51] jmprieur commented on #77899
#please-close

[2021-07-05 16:51] jmprieur commented on #77899
#assign jmprieur

[2021-07-05 16:52] jmprieur commented on #77899
#please-assign jmprieur

[2021-07-05 16:52] SatishBoddu-MSFT commented on #77883
Hello @VladimirtheGreatest Thanks for the feedback!

I have assigned the issue to the content author for further review and update the doc as appropriate.

![image](https://user-images.githubusercontent.com/62923178/124501504-8b6d2f00-dd76-11eb-8c9b-e367b36de348.png)

[2021-07-05 16:55] lpmac opened #77902 "Missing error handling for Odata as connector - Copy activity error"
[There is no information on handling Copy Data error related to source when using Odata as your connector. For example;

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717e412c-8668-68d1-a4a8-d80f80056768
* Version Independent ID: d20185f8-824d-e9ea-9cd1-257c11362899
* Content: [Troubleshoot Azure Data Factory connec

[2021-07-05 17:05] SatishBoddu-MSFT commented on #77891
Hello @rarandiv Thanks for the feedback.
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-05 17:08] cynthn commented on #77656
@SrijitBose-MSFT This should probably stay assigned to you. It should auto-close when the PR is merged, but you may need to double check that it does.

#reassign @SrijitBose-MSFT

[2021-07-05 17:09] cynthn commented on #77656
#assign @SrijitBose-MSFT

[2021-07-05 17:24] SatishBoddu-MSFT commented on #77892
Hello @JordanSimba Thanks for the feedback.

I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-05 17:26] SatishBoddu-MSFT commented on #77893
Hello @RomDaBoss Thanks for reaching out to us!.

Could you please let us know the exact **MS Document link** to which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

[2021-07-05 17:28] DeanGross opened #77903 "Managing connectors"
It states that we can't deploy a connector from Lighthouse, but what about updating an existing connector? Please add some more information about what can/cannot be done in the customers tenant from Lighthouse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f7047a-14be-a631-adea-239f80f0abd9
* Version Independent ID:

[2021-07-05 17:31] DeanGross commented on #77888
This was in regards to the introduction section of https://docs.microsoft.com/en-us/azure/sentinel/import-export-analytics-rules

[2021-07-05 17:37] SatishBoddu-MSFT commented on #77894
Hello @RomDaBoss Thanks for reaching out to us!

Could you please let us know the exact MS Document link to which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket.
If you need any assistance relate

[2021-07-05 17:37] Swimburger opened #77904 "ACR Auth with Service Principal script does not work anymore"
The script to create a create a service principal and give access to ACR does not work anymore.

Here's the output from a freshly installed Azure CLI on Ubuntu.
[code]
It successfully created the SP, it prints the password, but the following line does not work:
[code]
As a result, the output is `Service principal ID: ` without the ID.

If you use the list command to query service principals by dis

[2021-07-05 17:38] melazrak opened #77905 "No example on how to use shared image gallery"
This doc https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-create-using-own-image indicates that: "You don’t need to generate SAS URIs as you can now publish a SIG Image on Partner Center."

However I cannot find in the doc how to publish a shared image gallery using the rest API as I only see a vhdUrl attribute.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is requ