[2020-12-30 17:43] SubhashVasarapu-MSFT commented on #68039
@maotsuk, Appreciate your patience. Ideally, Azure log analytics should monitor all the rules including "Allow" or "Deny" at network configuration irrespective of DNAT rule. @yairt1974, is this expected? Could you please provide your insights on the same?

[2020-12-30 17:49] reigntastic opened #68250 ""Redundant" is spelled incorrectly in a note within the following section."
https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/boot-diagnostics#enable-diagnostics-on-a-virtual-machine-created-using-the-azure-portal

The Boot diagnostics feature does not support premium storage account or Zone **Redundent** Storage Account Types. If you use the premium storage account for Boot diagnostics, you might receive the StorageAccountTypeNotSupported error when

[2020-12-30 18:04] JamesTran-MSFT commented on #68250
@reigntastic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-30 18:06] alexanderbikk commented on #54015
hi @karolz-ms
Thanks for the answer.
Actually I have one issue. I'm trying to pull image from my ACR on local kubernetes cluster.

I tried both existing and new ServicePrincipal with Contributor role. I restore the password and used the [command from the article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-kubernetes#create-an-image-pull-secret) to create the

[2020-12-30 18:09] mamccrea commented on #68081
Glad I could help! Happy New Year!

#please-close

[2020-12-30 18:09] #68081 closed

[2020-12-30 18:10] SaiKishor-MSFT commented on #68230
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-30 18:19] NavtejSaini-MSFT commented on #68161
@spotakash We are assigning this to our doc author for further review.
@VanMSFT Please check and provide guidance here.

[2020-12-30 18:24] DerekHerman-MSFT commented on #68232
@akingscote Actually this is correct. v12 is referring to the [Azure SDK for Python](https://github.com/Azure/azure-sdk-for-python). v2 refers to
[Azure Storage SDK for Python](https://github.com/Azure/azure-storage-python)

[2020-12-30 18:24] #68232 closed

[2020-12-30 18:36] JamesTran-MSFT commented on #68234
@romina2001
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-30 18:48] ninarn commented on #67389
I am currently working with my team to update both the portal messaging and the Azure documentation for these query editor issues to make this clearer and easier to troubleshoot. I will follow up when I have updates to share.

[2020-12-30 18:49] #68229 closed

[2020-12-30 18:50] DongDanBam opened #68252 "Need additional info / clarification"
Two questions.

https://docs.microsoft.com/en-us/azure/media-services/latest/how-to-video-js-player#sample-code

The code in the sample "Using tokenized DRM", where does this code go?
The code in the sample "Using tokenized DRM", where does this code go?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-12-30 18:59] JamesTran-MSFT commented on #68250
@reigntastic
Thank you for pointing this out! I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-12-30 18:59] #68250 closed

[2020-12-30 19:00] JamesTran-MSFT commented on #68249
@grant-flander
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-30 19:20] MarekLani commented on #64073
same as @HaimBendanan  I am seeing this error when trying to test the user flow using Azure Portal (my app is set to SPA)

[2020-12-30 19:37] WinstonHoward-MSFT commented on #68150
Hi @kwaazaar , I'm closing this issue as this doc is in preview and I haven't heard back from you. Feel free to open another issue if you find another bug or have feedback.

[2020-12-30 19:37] #68150 closed

[2020-12-30 19:56] iloving commented on #67344
Wait... app passwords are not enabled for people configured via conditional access?  Are you serious?  Why would Microsoft sabotage the conditional access functionality like this?  It's bad enough that Microsoft enforces the nonsensical requirement of having MFA enabled first.

[2020-12-30 20:01] DerekHerman-MSFT commented on #68205
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-30 20:12] gsimardnet commented on #68072
@JamesTran-MSFT,

I have successfully setup a User Flow with a social account button to sign in to a [single tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow). Now I would like to setup a [multi tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-user-

[2020-12-30 20:16] SB-o-matic commented on #65835
Thank you for your response and apologies for the delay.
We don't have Google federation enabled. We however, have OTP turned on.
No special steps are taken. I construct the tenanted URL as above, enter it into a browser and hit ENTER. Get redirected to login.microsoftonline.com/xxxxxxxxxx which doesn't take a social account.

[2020-12-30 20:44] Simon-Gregory-LG commented on #68246
Correction, it may well be not specifically be related to the Snapshot Debugger but is actually this issue:

https://github.com/Azure/azure-functions-host/issues/6085

With the suspected underlying cause of this:

https://github.com/Azure/azure-functions-host/issues/6239

It seems that as this was intermittent changing the snapshot debugger setting and pushing could have triggered a state change t

[2020-12-30 21:00] AjayKumar-MSFT commented on #68128
@aelij,  To use this feature you do not need contributor role. You can assign the '[Azure Kubernetes Cluster User](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-cluster-user-role)' role to the new user and they will be able to access live features on the AKS cluster.

Great catch! Based on your feedback, we have raised a PR to add clarity on thi

[2020-12-30 21:00] #68128 closed

[2020-12-30 21:01] felipepessoto commented on #64272
Hi @SatishBoddu-MSFT, any updates?

[2020-12-30 21:03] calebsmith411 opened #68254 "When to use code versioning vs api manager versioing"
Currently we use attributes from Microsoft.AspNetCore.Mvc.Versioning package and we get things like depreciated, and supported versions.  Is that available from API Manager?

If we version the Versioning Package and API Manager then we start seeing URLs like this "/v2/api/v2..."  Any suggestions on how to handle this?

We lose features by not doing versioning in code, but we also lose features by

[2020-12-30 21:34] ericsampson commented on #68246
I does seem that the code using `InDebugMode` to set the environment as 'Development' is a bad assumption - what if a person attaches a VS remote debugger to a Function app running in Azure in order to do debugging - that shouldn't change the Environment variable, we'd expect it to remain Production (or a custom value that we set).

[2020-12-30 21:36] jacqueskang commented on #44383
Same issue today with my device: "Failed to send telemetry data: 400."

# version
DevKitSDK version: 2.0.0
Mico version: 31620002.049
mbed-os version: 5.4.3
mbed TLS version: 2.15.0
WIFI version: wl0: Sep 10 2014 11:28:46 version 5.90.230.10

[2020-12-30 21:38] snekkermoen opened #68256 "Microsoft.DigitalTwins.Twin.Update: Filter on $body.patch ?"
Given a Microsoft.DigitalTwins.Twin.Update notification, is it possible to do a event route filter based on the patch and the data therin?
E.g. CONTAINS($body.patch[0].path, 'MyProperty') , or: $body.patch[0].value > 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7fd4eb-3cbb-f1da-7d6f-d39018cd4697
* Version Indepe

[2020-12-30 21:46] JamesTran-MSFT commented on #68072
@gsimardnet
Thank you for the quick response! I've reached out to my team regarding your question and will update as soon as possible.

In regards to the Single Tenant tutorial, it's single tenant because it should only allow for users within your organizational directory to sign-in/use your application. As you can see below, from my testing I was only able to sign in using users from my B2C tenan

[2020-12-30 22:24] MarileeTurscak-MSFT commented on #68231
@rasmus-s
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-30 22:24] Stacks-88 opened #68257 "Not able to show the dropdownsingleselect in the login for Custom Flow"
Based on this article (custom Policy), I made the following changes to my Extensions.xml file.  There is never a DropdownSingleSelect displayed in the login screen.  Am I missing something here?  Shouldn't the fact that I am adding the inputclaim to my selfasserted policy be enough to display the DropdownSingleSelect on the login screen?

ClaimsSchema:
[code]
Claims Providers
[code]

signupin.xml

[2020-12-30 23:10] amanjeetsingh opened #68258 "Clarification required - how long it takes to complete migration operation?"
Clarification required
 - How long does it take to migrate a subscription to a new AAD tenant? Understand that there's no SLA around migration, but is there a threshold defined at the backend? For example, if transfer operation does not complete in a set amount of time, a rollback is triggered to return to original state?
 - What locks are in place when subscription migration operation is active?

[2020-12-30 23:24] SaiKishor-MSFT commented on #68190
@eugene-xie The document has steps for the below NSG rules:
Outbound security rules:

1. Create a rule that allows outbound communication to the Azure Storage service
2. Create another outbound security rule that denies communication to the internet. This rule overrides a default rule in all network security groups that allows outbound internet communication.

Inbound security rules:

1. Create an

[2020-12-30 23:28] bendavis78 opened #68259 "How to mount NFS share on ACI?"
I cannot seem to find a way to mount NFS file shares on ACI. I have tried the following:

- Created a virtual network in eastus with two subnets, one specific to aci
- Changed NFS storage account networking to only allow connections from above vnet (see screenshot)
- Deployed container with ` --vnet ide-vnet-eastus --subnet aci`, along with appropriate volume mount settings

![image](https://user-

[2020-12-30 23:33] curtiswmcmillin opened #68260 "I do not see where ServerlessHub is?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c2755f-9604-2e0d-827b-9f8db937279c
* Version Independent ID: 84ba9454-4cc9-2a93-0708-10ad7c1428ed
* Content: [Develop & configure Azure Functions app - Azure SignalR](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-serverless-de

[2020-12-30 23:39] gbowerman commented on #68249
Unassigning as I don't own these docs.

[2020-12-30 23:44] gbowerman commented on #68211
Unassigning myself, not content author

[2020-12-31 00:03] MarileeTurscak-MSFT commented on #68258
@amanjeetsingh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-31 00:09] YutongTie-MSFT commented on #68238
Thanks for the feedback! We are currently investigating and will update you shortly.

@erhopf FYI

[2020-12-31 00:25] Theresa-Nguyen commented on #68249
I unassigned as another PM works on the RHEL publishing.

[2020-12-31 00:26] JamesTran-MSFT commented on #68257
@Stacks-88
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-31 01:00] cwidhelm opened #68261 "Backup Center isn't really a single pane of glass"
Something called **Backup Center** claiming to be a **single pane of glass for enterprises to govern, monitor, operate, and analyze backups at scale** should include all backups across the Azure environment instead of just what is included in Recovery Services.

This should include PaaS services as well.

- Azure SQL
- Azure MySQL
- App Services
- etc

---
#### Document Details

⚠ *Do not edit thi

[2020-12-31 01:08] MGrasdal opened #68262 "PowerShell remoting fails because of SSL certificate issues"
After enabling PowerShell remoting by using this command, Enable-AzVMPSRemoting, this subsequent command fails:

Invoke-AzVMCommand -Name MyVM1 -ResourceGroupName MyResourceGroup -Scriptblock {Get-ComputerInfo} -Credential (Get-Credential)

With the following error:

SSL operation failed - tls_process_server_certificate:certificate verify failed

---
#### Document Details

⚠ *Do not edit this sect

[2020-12-31 01:23] ChaitanyaNaykodi-MSFT commented on #68254
Hello @calebsmith411, Thank you for your feedback! We will review and update as appropriate.

[2020-12-31 02:00] VisionaryMind opened #68263 "Apt repositories do not make SDK available on Ubuntu Linux"
This has been broken for quite some time. Developers are forced to build from source. There is no option (at least on Ubuntu) to install from your repository. We have tried on multiple systems to install the SDK via apt. Here are the steps for Ubuntu 20.04 LTS:

1. curl -sSL https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
2. sudo apt-add-repository https://packages.microsoft

[2020-12-31 02:31] chadcarlton opened #68264 "Is the Kusto Query accurate?"
This page

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-setup-alerts-virtual-network-gateway-log

describes creating an alert from a kusto query:

I am entering the logs query interface from the virtual network gateway "logs" link in the monitoring section of this particular virtual network gateway resource

and then putting in this kusto query, with proper values for the <

[2020-12-31 02:52] LilacBrandy opened #68265 "My function code doesn't contain an If statement like the example"
In the 'Add code that uses the output binding' instructions there's no indication that I need to move to the index.js file to complete the step.

After adding the context.bindings.msg line my code looks like the attached. It doesn't have an If statement and doesn't match the example given in docs.
![image](https://user-images.githubusercontent.com/38820710/103391731-d8691200-4b55-11eb-8af9-da74dbd

[2020-12-31 03:39] femsulu commented on #68242
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-31 03:39] AshokPeddakotla-MSFT commented on #68256
@snekkermoen Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-31 03:39] mike-urnun-msft commented on #68239
Hello @jacqueskang - Thank you for your feedback! We will review and update as needed.

[2020-12-31 03:41] femsulu commented on #68245
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-31 03:45] femsulu commented on #68246
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-31 04:07] AnuragSharma-MSFT commented on #68140
Thanks @arpit9mittal. Thanks for confirming. We will close this thread now and follow up on the other one.

[2020-12-31 04:07] #68140 closed

[2020-12-31 04:08] AnuragSharma-MSFT commented on #68152
@gsuttie Awaiting your response on above comment.

[2020-12-31 04:11] femsulu commented on #68248
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-31 04:15] femsulu commented on #68252
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-31 04:17] RonnieQuan opened #68266 "Is private IP zone redundant?"
Is the private IP assigned to the standard load balancer across all three availability zones?

When we create public IP standard sku, by default it's across three zones, or we can explicitly define three zones in 2020-08-01 api version
https://docs.microsoft.com/en-us/azure/virtual-network/create-public-ip-powershell?tabs=option-create-public-ip-standard-zones#create-public-ip.

How does it work f

[2020-12-31 04:27] BryanTrach-MSFT commented on #68260
@curtiswmcmillin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-31 05:10] AnuragSharma-MSFT commented on #68142
@arpit9mittal Please find my response below:
1. Yes single instance of premium or business critical tier offers 99.99% availability. (Refer to [link](https://azure.microsoft.com/en-us/support/legal/sla/sql-database/v1_5/)):
![image](https://user-images.githubusercontent.com/66360845/103395437-309f1480-4b54-11eb-93ca-858fbeb31c99.png)
2. Rightly said, zone redundancy cost will remain same for premi

[2020-12-31 05:17] andersa86 commented on #62974
Is it really true that the VMs will lose internet connectivity in this configuration? I was able configure this and the VM in the backend pool still has internet connectivity via the 0.0.0.0/0 route to Azure Firewall.

[2020-12-31 05:17] JimmyLS commented on #68228
@vipulsparsh  Thank you so much for your answer. This thread can be closed.

[2020-12-31 05:18] SubhashVasarapu-MSFT commented on #68266
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2020-12-31 05:18] SubhashVasarapu-MSFT commented on #68264
@chadcarlton, Thanks for reaching out. We will investigate and update this thread.

[2020-12-31 05:56] RonnieQuan opened #68268 "Clarify no zones"
Standard SKU - no zones
This selection is valid in all regions and is the default selection for Standard Public IP addresses in regions without Availability Zones.

What does it mean, meaning the resource is outside zone 1 &2&3 and it's not in any zone?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-12-31 06:01] JimmyLS commented on #68228
Sorry one last question, do we have any roadmap when we will add support for custom LOB apps? Thanks.

[2020-12-31 06:24] BryanTrach-MSFT commented on #68260
@curtiswmcmillin ServerlessHub is a base class of SignalR. It is not a product per se.

Just ensure that you have enabled your Azure SignalR to _serverless_ in the settings of your service in the Azure Portal.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2020-12-31 06:24] #68260 closed

[2020-12-31 06:34] oshezaf commented on #68198
Sure. The documentation page under the section "function parameters" states that "The only way to currently create a function with parameters is using a Resource Manager template". However, while their is no UX option to do, you can define parameter functions using PowerShell, which is the simplest way, or using the API. I listed the relevant links above.

[2020-12-31 06:57] SumanthMarigowda-MSFT commented on #68259
@bendavis78 Thanks for your question. We are checking on this and will respond to you soon.

[2020-12-31 07:01] psmanhas commented on #68268
@RonnieQuan Thank you for your query!!!

When it comes to zone it is referring to creating a Standard SKU in a particular availability zone. It Can be zone-redundant (advertized from all 3 zones) or zonal (can be created zonal and guaranteed in a specific availability zone).You can find more info [here](https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-addresses#standard).

If you d

[2020-12-31 07:04] femsulu commented on #68261
Hello @cwidhelm, thanks for the feedback to integrate PaaS services into Backup center.
The Backup feature team is already engaged on [this suggestion ](https://feedback.azure.com/forums/258995-azure-backup/suggestions/31241989-backup-azure-paas-resources) and would like to hear your direct feedback as they review  feature priorities for the upcoming release milestones.
This also gives you the cha

[2020-12-31 07:04] #68261 closed

[2020-12-31 07:09] PramodValavala-MSFT commented on #68265
@LilacBrandy Thanks for the feedback! We will review and update accordingly.

[2020-12-31 07:13] PramodValavala-MSFT commented on #68265
@ggailey777 the code here is part of an include file. So, assigning this issue to you for further review and to update accordingly.

[2020-12-31 07:39] PsychoData commented on #31136
while I think most of this thread is extremism, as an end-user if you go to the bare-url https://aka.ms , you are now redirected to https://redirectiontool.trafficmanager.net/am/redirection/home?options=host:aka.ms which redirects to a login page for the MS Redirection tool. Though it doesn't show you that anywhere on the screen - [sample screen](https://i.imgur.com/wxPu8zk.png).

If an end user w

[2020-12-31 08:40] psmanhas commented on #66193
@cervezerg Apologies for all the delay in response.

I have shared the feedback with our internal team and they will make the changes as applicable.

Thanks

[2020-12-31 08:40] #66193 closed

[2020-12-31 08:41] psmanhas commented on #68084
@pkruesi Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-12-31 08:41] #68084 closed

[2020-12-31 09:14] ram-msft commented on #68147
@wukun2015 Thanks,  using single-shot recognition, which recognizes a single utterance. The end of a single utterance is determined by listening for silence at the end or until a maximum of 15 seconds of audio is processed. In contrast Continuous recognition is used when you want to control when to stop recognizing. session_started: Signal for events indicating the start of a recognition session (

[2020-12-31 09:25] RohitMungi-MSFT commented on #68132
@truvaking I believe you are referring to getting the list of voice for the TTS service. You can call the [voices/list ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#get-a-list-of-voices)API to get the list in each region in JSON format. I hope this helps.

[2020-12-31 09:27] #68132 closed

[2020-12-31 09:34] AshokPeddakotla-MSFT commented on #68263
@Brent-A Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-31 09:57] psmanhas commented on #64437
@jamesbannan Apologies for all the delay in response and all the inconvenience this issue has caused you.

I did shared your feedback earlier with our Product Group. The document was last updated in November. I did the repro as mentioned in the documentation and was successfully able to login to Azure VM once I assign Virtual Machine User Role or Admin role to either Guest user or the local user o

[2020-12-31 09:57] #64437 closed

[2020-12-31 11:01] ram-msft commented on #68147
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-31 11:01] #68147 closed

[2020-12-31 11:04] MayankBargali-MSFT commented on #68181
@dhawalk1981 I have tested it at my end creating the event grid trigger in VS 2019 but I couldn't observe any issue. I can see that the events object of type EventData[] has the list of events that I am sending in the batch. Can you confirm if the issue is reproduced at your end? I can connect with you offline to have a look into the repro/setup at your end.

[2020-12-31 11:14] KnowledgeFlexBlr opened #68269 "Grammatical mistakes"
Section: Handle messages sent from SignalR Service
"**You** can be triggered when clients send messages or clients get connected or disconnected."
"You also need to configure your function endpoint as an upstream so that service will trigger the function **where** there is message from client"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-12-31 11:17] dumbledad commented on #61114
What's the status of this? I am trying to replicate an Azure ML Workspace from our subscription to our collaborator's subscription. I cannot be given owner or contributor role on their subscription since that would give me access to assets beyond our collaboration. They have made a new Resource Group and made me owner and contributor on that. I would expect that to be sufficient to create an Azure

[2020-12-31 11:51] MayankBargali-MSFT commented on #68180
@ramya-rao-a Key/value means property on context.bindings in this context. Each binding with a name can be accessed via context.bindings.(name), irrespective of the number of bindings that you have defined as in the same article that you have refereed under the [bindings Inputs section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#bindings). They are pass

[2020-12-31 11:57] asergaz commented on #68006
Hello @perkops let us know if you are still facing the issue?

I will close the issue for now. If you can still reproduce the issue or there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-31 12:13] RohitMungi-MSFT commented on #68193
@gbelenky The changes are now merged and should be available in the documentation in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-12-31 12:13] #68193 closed

[2020-12-31 12:13] RohitMungi-MSFT commented on #68194
@gbelenky The changes are now merged and should be available in the documentation in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-12-31 12:13] #68194 closed

[2020-12-31 12:21] sachinpanwar opened #68270 "Can't access Util as suggested in the documentation"
As per the code snippet provided, we can't access `Util` and it is somewhat misleading or we simply can have better, straight-forward snippet.
**Section**: https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#upgrading-from-the-old-version-of-application-insights
Current code snippet:
```appInsights.properties.context.telemetryTrace.traceID = Util.generateW3CId()```

Should be / cor

[2020-12-31 12:26] SwathiDhanwada-MSFT commented on #68270
@sachinpanwar Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-31 12:38] asergaz commented on #68239
Thanks for the feedback @jacqueskang can you share a screenshot of what you see?

[2020-12-31 12:45] asergaz commented on #68148
@Walfa @jacqueskang @XToinho please can you give it a try with the `devkit-getstarted-2.0.0.bin`
 file from here: https://github.com/microsoft/devkit-sdk/releases/ ?

Thanks

[2020-12-31 13:02] perkops commented on #68006
Hi,

Its not in the creation of the ServiceClient that the code fails, it is further down in the example:

[code]

[2020-12-31 13:12] curtiswmcmillin commented on #68260
Which NuGet Package and/or using directives should I use? @BryanTrach-MSFT

[2020-12-31 13:44] asergaz commented on #68041
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-31 13:44] #68041 closed

[2020-12-31 13:49] perkops commented on #68006
Just for reference - the SampleModel.json

[code]

[2020-12-31 14:18] tajaber opened #68272 "SLD Domain support"
Can you please update the document and clarify if Single Label Domains (SLD) are supported with Azure AD Connect or not?
This doc says it is supported but not documented, but inside the wizard it says not supported

![image](https://user-images.githubusercontent.com/64084421/103413806-be462880-4b83-11eb-8c21-eae688740820.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-31 14:45] hichamveo opened #68273 "Deploy Logic Apps flow to Docker"
Hi,
i'm trying to deploy my Logic App to docker following the Doc but getting the following errors:

usr/share/dotnet/sdk/3.1.404/Microsoft.Common.CurrentVersion.targets(4364,5): error MSB3030: Could not copy the file "/root/.nuget/packages/microsoft.azure.workflows.webjobs.extension/1.0.0.7-preview/lib/netcoreapp3.1/ClearScript.dll" because it was not found. [/src/dotnet-function-app/LogicAppPrev

[2020-12-31 14:50] fantocciotesina commented on #68237
@VikasPullagura-MSFT @genlin Thank you all, now the document is OK!

[2020-12-31 14:51] danhellem commented on #68006
@perkops give me a day or two, I will test out the full example then and see what happens. Stand by.

[2020-12-31 15:51] Cedric-Bravo opened #68274 "Miss understanding of Managed identities for App configuration"
The article tell that Managed Identities can be used to gain access to Keyvault from App Configuration.

_Ex : A managed identity from Azure Active Directory (AAD) allows Azure App Configuration to easily access other AAD-protected resources, such as Azure Key Vault._

It seem it introduce the false idea that App configuration need access to KV. After testing, we found there is no need for KV acce

[2020-12-31 15:53] DeanGross opened #68275 "Add Azure AD Alerts"
Please add a section for alerts associated with Azure AD security concerns or provide a link to this content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0dd0-a055-79ae32b62a6d
* Version Independent ID: 66ce0f69-16aa-c1f8-5163-7cc5392a3399
* Content: [Reference table for all security alerts in Azure Sec

[2020-12-31 16:03] msdpalam opened #68276 "No "dropdown" option under "Datastore selection" form"
In the article, we mentioned "On the Datastore selection form, use the **dropdown** to select your Previously created datastore, for example tutorial_images (Azure Blob Storage)". In the article though, there is no dropdown option. Currently we have radio buttons, one for "Currently selected datastore..." and one for "Previously created datastore..."

Could you please update the document to reflec

[2020-12-31 16:11] Walfa commented on #68148
Hi Asergaz.

Same issue for me. The link to "https://azureboard.azureedge.net/" still does not work resulting in the error situation.

Regards

[2020-12-31 16:11] dhawalk1981 commented on #68181
I removed nuget reference to Azure.Messaging.EventHubs and its working now. I guess Azure function still uses Microsoft.Azure.EventHub

[2020-12-31 16:11] #68181 closed

[2020-12-31 16:15] tdenesevich opened #68277 "Azure iPv6 documentation for Windows VM networks without Load Balancers"
Hello,
Are your notes for iPv6 on this page current?  Per the purple highlighted section for iPv6, you are not able to add a private iPv6 address to a VM in Azure using the portal.  We tested it yesterday, and it worked.  We have a network with many VMs deployed, in which we are not currently using Load Balancers.  We're planning to deploy iPv6 along with iPv4 to this Azure windows environment and

[2020-12-31 16:16] bendavis78 commented on #68259
Some more info: the deployment fails with the following output:
[code]

When I attempt to look at logs for the container, I get an error saying that the logs are not available yet.

[2020-12-31 16:33] danhellem commented on #68006
@perkops I am able to reproduce 😢. We will have someone from engineering take a look and find out what is going on. Thanks for bringing it to our attention 👏.

[2020-12-31 16:33] gsimardnet commented on #68072
@JamesTran-MSFT,

If I understand correctly your point, you mean that:
  - [Single-tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow) provides instructions to authenticate users only in the B2C tenant.
  - [Multi-tenant (user flow)](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-

[2020-12-31 16:37] danmyhre opened #68278 "Licensing"
It should be updated that the "trusted ips" section is not available unless you have Azure AD P1.  This prevents all of the business standard tenants from even using this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
*

[2020-12-31 16:44] jennirethi opened #68279 "Restricting Azure Static Web Apps easy auth to a single tenant"
I am wanting to use the baked in auth feature of Azure Static Web apps. I'm able to secure my routes by just simply using the authenticated role, but I am seeing that I have the ability to sign in from id's that are not singly restricted to my Azure AD tenant. If I don't want to invite users/define custom roles and simply want to use the authenticated role, how can I restrict access to only my ten

[2020-12-31 16:55] DeanGross opened #68280 "Inconsistent support info"
The Support information states that it is included in Server 2019, but the last bullet states that 2019 is not supported. please clarify that text which seems contradictory.

Supported versions of Windows:
|• Defender for Endpoint is built into Windows 10 1703 (and newer) and **Windows Server 2019**.
• Security Center supports detection on Windows Server 2016, 2012 R2, and 2008 R2 SP1.
• Server en

[2020-12-31 17:07] danmyhre opened #68281 "Details on MFA for users"
Please add details on MFA settings for users
- how often will they be prompted?
- What actions will cause prompts?
- Are there any options for trusted IPs or trusted devices?
- Methods available for MFA (it makes it sound like you can't use SMS, which is needed at least as a backup).  You can't have people setup with only a single MFA option.

---
#### Document Details

⚠ *Do not edit this section

[2020-12-31 17:13] AnuragSharma-MSFT commented on #68152
@gsuttie We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-31 17:13] #68152 closed

[2020-12-31 17:14] JamesTran-MSFT commented on #68272
@tajaber
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-31 17:15] JamesTran-MSFT commented on #68275
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-31 17:19] memildin opened #68282 ""Agent" or "Extension"?"
In the **Supported client types** section, you say "Guest Configuration agent". But on the rest of the page you call it an extension. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b04e5c5
* Version Independent ID: d02abfda-83d6-4022-bfb0-b3d0391a6223
* Content: [Learn to

[2020-12-31 17:20] JamesTran-MSFT commented on #68278
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-31 17:21] JamesTran-MSFT commented on #68280
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-31 17:23] JamesTran-MSFT commented on #68281
@danmyhre
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-31 17:26] memildin commented on #66334
Hi @mariuszo-at-microsoft-com, thanks for the feedback and for taking the time to help us improve the docs.

I've updated the page after researching the issue. I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2020-12-31 17:26] #66334 closed

[2020-12-31 17:40] AjayKumar-MSFT commented on #68137
Thanks for the follow-up. My personal opinion is that given it represents write access not read there's not a data loss/exfiltration scenario , you can write "spam" data but I'm not sure that's going to be a security risk for the majority of customer workloads particularly as either way it needs to be accessible at runtime in memory.   Hope this helps!  Closing this for now.
Thanks again for takin

[2020-12-31 17:40] #68137 closed

[2020-12-31 18:06] ChaitanyaNaykodi-MSFT commented on #68273
Hello @hichamveo, Thank you for your feedback! We will review and update as appropriate.

[2020-12-31 18:19] AjayKumar-MSFT commented on #68262
@MGrasdal, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-31 18:22] brianlo-ms commented on #68248
Please note that only the 'Azure Monitor Log Analytics service – Capacity Reservations' would need to be added.
I overlooked the storage link within the documentation.  Sorry for any confusion on that one.

[2020-12-31 18:28] AjayKumar-MSFT commented on #68269
@KnowledgeFlexBlr, Thanks for the feedback! We have raised a PR and the requested changes would be merged soon.
 Much appreciate you taking time to share your valuable feedback.

[2020-12-31 18:29] jmarstonsl opened #68283 "Microsoft Dependency agent (preview)"
How do I enable auto provisioning for the dependency agent from PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3663e88-0fa4-cdd3-7f4c-9660f0592473
* Version Independent ID: 05e2cb42-80e3-d26f-7d32-5bb791138948
* Content: [Onboard to Azure Security Center with PowerShell](https://docs.microsoft.com/en-us/az

[2020-12-31 18:30] ChaitanyaNaykodi-MSFT commented on #68121
Hello @kprpg, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-31 18:58] kobulloc-MSFT commented on #68274
@Cedric-Bravo Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-12-31 18:59] srobin2 opened #68284 "Install the agent"
[Enter feedback here]
The name in the Azure AD connect, under "Install the agent" says "Manage Cloud Sync", for step 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fe7786b-fe1c-4afd-d26e-059920ae04b6
* Version Independent ID: 51b901e8-5075-673d-fa0d-82d90f02b645
* Content: [Install the Azure AD Connect cloud provis

[2020-12-31 19:04] jaybo opened #68285 "v12 Add info: Use the StorageSharedKeyCredential class to create the credential that is used to sign the SAS.""
The v12 version of this page contains the line:  "Use the StorageSharedKeyCredential class to create the credential that is used to sign the SAS.", but then offers no hint on how this class is to be used.  If I follow the instructions as written, the line:

`Uri sasUri = containerClient.GenerateSasUri(sasBuilder);`

results in an exception:
[code]

An hour into StackOverflow and MS docs and I stil

[2020-12-31 19:28] JamesTran-MSFT commented on #68072
@gsimardnet
Thank you for the detailed response!

Yes, based off of what I tested in my lab using the ["User Flow" tutorial](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-user-flow), I was only able to authenticate with what you stated above for both Single/Multi-tenant.

I also received confirmation from our engineering team that Us

[2020-12-31 19:36] ddorsett opened #68287 "What about Linux??"
This seems to only be relevant to Windows App Service plans- what about Linux? (this is actually a pervasive problem in the Azure documentation).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddebdc5-6ef4-f612-64d8-937eaad6de7d
* Version Independent ID: fba172bf-f982-a33f-1a46-edc6ef263702
* Content: [OS and runtime

[2020-12-31 19:43] JamesTran-MSFT commented on #68284
@srobin2
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/103423702-f2f2b980-4b5c-11eb-8e95-3f84df5ef727.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time

[2020-12-31 19:43] #68284 closed

[2020-12-31 19:46] JamesTran-MSFT commented on #68278
@danmyhre
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-31 19:48] jacqueskang commented on #68148
@asergaz With devkit-getstarted-2.0.0.bin installed my devkit is able to connect to Iot hub.

But the issue is about installing AZ3166 board for Arduino where it requires downloading gcc-arm-none-eabi-5_4-2016q3-20160926-win32.zip and openocd-0.10.0-32.zip from the CDN endpoint azureboard.azureedge.net. (See https://github.com/VSChina/azureiotdevkit_tools/blob/master/package_azureboard_index.json,

[2020-12-31 20:11] SnehaAgrawal-MSFT commented on #68287
@ddorsett Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-31 20:14] SnehaAgrawal-MSFT commented on #68279
Thanks for the feedback! Could you please share the link of document you are referring to help you better on this.

[2020-12-31 20:15] PatrickFarley commented on #67705
#please-close

[2020-12-31 20:15] #67705 closed

[2020-12-31 20:18] jacqueskang commented on #68239
Sorry I realized have installed https://aka.ms/devkit/prod/firmware/latest by mistake.
The firmware https://aka.ms/devkit/prod/getstarted/latest does have Iot hub connection string input in AP mode.

I'm closing this issue

[2020-12-31 20:18] #68239 closed

[2020-12-31 20:19] PatrickFarley commented on #67964
This looks like a new product issue. @berhir Can you verify you're calling Import using your target subscription credentials (not the credentials you used when exporting)?

[2020-12-31 20:21] srobin2 commented on #68279
https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/how-to-install

Kind regards,
[cid:image008.png@01D6DF88.8C379ED0]<http://www.synergyadvisors.biz/>
Sidney Robin
Sr. Consultant | Synergy Advisors

phone: +1.425.708.8952
mobile: +1.803.810.9294
site: www.synergyadvisors.biz<http://www.synergyadvisors.biz/>
email: srobin@synergyadvisors.biz<mailto:srobin@synergyadvisors.biz

[2020-12-31 20:21] jacqueskang commented on #56496
Maybe duplicated with #68239

[2020-12-31 21:00] DerekHerman-MSFT commented on #68285
@jaybo [This sample](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs#L156) might be helpful to you.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-31 21:00] MarileeTurscak-MSFT commented on #68283
@jmarstonsl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-31 21:02] MarileeTurscak-MSFT commented on #68283
There does not appear to be an option for this yet. To make a feature request for this, you can add a feedback item in User Voice https://feedback.azure.com/

CC @memildin

[2020-12-31 21:02] #68283 closed

[2020-12-31 21:23] baanders commented on #68006
In the meantime, I am adding a known issue for this to the documentation via PR [#141997](https://github.com/MicrosoftDocs/azure-docs-pr/pull/141997).

[2020-12-31 22:18] MartinJaffer-MSFT commented on #68097
Thank you for your feedback @Sanoobk  . This has been assigned to the content owner, @dcstwh , and will be updated as appropriate.

[2020-12-31 22:39] femsulu commented on #68282
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-31 22:46] msdpalam opened #68288 "ModuleNotFoundError: No module named 'azureml'"
When trying to run the training script with the line "from azureml.core import Run", following the doc, I get the error:
[2020-12-31T17:04:02.719796] The experiment failed. Finalizing run...
Traceback (most recent call last):
  File "train.py", line 7, in <module>
    from azureml.core import Run
ModuleNotFoundError: No module named 'azureml'

How can fix this issue, so we can run a training scrip

[2020-12-31 23:13] YutongTie-MSFT commented on #68276
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-31 23:14] YutongTie-MSFT commented on #68288
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-31 23:19] large commented on #68011
Thank you @tiagonmas , you solved my puzzle of the new year :)
Happy new year!

[2020-12-31 23:33] JamesTran-MSFT commented on #68257
@Stacks-88
Thank you for your time and patience throughout this issue!

I was able to replicate your issue when it comes to not seeing a dropdown on the log-in screen. However, as stated in the tutorial you are [collecting a new attribute during your sign-up journey in Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-user-input?pivots=b2c-custom-policy), and you

[2020-12-31 23:39] BryanTrach-MSFT commented on #68260
@curtiswmcmillin This [document ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd)does a good job acting as a developer reference and should address your question about nuget packages.

[2020-12-31 23:53] BryanTrach-MSFT commented on #68167
@ntabris Thank you for the feedback. We agree that this would be useful information to have in the document. We have created a PR and hope to push it within the next 24 hours.

In regards to the changes in the Azure portal, we have taken a note on this feedback and will share it in our January meeting with the product group.

We will now proceed to close this thread. If there are further questions

[2020-12-31 23:53] #68167 closed

[2021-01-01 01:49] nammyoho opened #68289 "Not able to get the filtered message"
I followed the tutorial and the filtered message is the same as the received message. The property (filteredMessage.Properties.Add("MessageType", "Alert") is not getting added. Can you help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-

[2021-01-01 02:41] mike-urnun-msft commented on #68277
@tdenesevich Thank you for your feedback! We will review and update as appropriate.

[2021-01-01 04:11] BertAnthonyRochester opened #68290 "I'm Gonna Give These A Try. 😇"

[2021-01-01 07:19] BhargaviAnnadevara-MSFT commented on #68290
@BertAnthonyRochester Thanks for reaching out. In order to best address your query, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-01 07:55] kemurayama commented on #68104
Hi @psmanhas ,

I don't think I use Windows Server node pools though I haven't checked the raw request from `az aks create` yet.

Here my repro steps.

1. Open Azure Portal and Cloud Shell
2. Create Resource Group by `az group create -n <My RG name> --location eastus`
3. Create AKS with `az aks create -g <My RG name> -n <My AKS name> --enable-managed-identity --enable-pod-identity`

Then I got the

[2021-01-01 07:57] Jigar191089 opened #68291 "Update the document with missing information"
using dataflow I was trying to write to a delimited text sink.
the column had value jig"ar. In the output file this value is written as jig"ar.

When similar dataframe have same value in column in written using a pyspark api spark.write.csv using the default parameters this value is written as jig\"ar i.e jig then a backslash after that double quote and after that ar

Do note the difference of pre

[2021-01-01 08:40] gopal-amlekar opened #68292 "AD B2C app does not return ID / Access tokens without explicit setting"
Hi,

I am not sure if this is an issue or correct behaviour but certainly I find a slight mismatch in the documentation with respect to actual behaviour.
Here are the steps I am following.

1. Create AD B2C tenant.
2. Create app registrations. Add _Web_ redirect endpoint as https://jwt.ms
3. Create a sign up / sign in user flow with email accounts and some application attributes and claims (Given

[2021-01-01 09:32] MarekLani opened #68293 "Setting "Treat application as a public client" is missing"
Same issue as mentioned in this other github issue:
https://github.com/MicrosoftDocs/azure-docs/issues/54460

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Get started with custom policies - Azure AD B2C](htt

[2021-01-01 10:20] DeveloperMujtaba commented on #60409
hi @gyto23 please downgrade the version in compose file from 3.8 to 3.3, it might fix the issue, i had been facing the exact issue and using version 3.3 fixed my issue.

[2021-01-01 12:04] BertAnthonyRochester opened #68294 "DROID MR."

[2021-01-01 12:08] BertAnthonyRochester opened #68295 "Security issue?"

[2021-01-01 12:11] BertAnthonyRochester commented on #68293
😇 looking for a new trial..

[2021-01-01 12:12] BertAnthonyRochester commented on #68293
The first thing I did inhaled and exhale.

[2021-01-01 13:24] BhargaviAnnadevara-MSFT commented on #68294
@BertAnthonyRochester Could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-01 13:24] BhargaviAnnadevara-MSFT commented on #68295
@BertAnthonyRochester Could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-01 13:33] msdpalam commented on #68288
I just found out what I was doing wrong. I somehow missed the "Update the Conda environment file" section for the use of azureml module. I still feel that we need to highlight that if someone misses to change the environment file, they will get the error I got.

[2021-01-01 15:39] mikejboss opened #68296 "WTF? I've got a virus and MS is making it worse"
[Enter feedback here] 2-factor authentication wasn't part of the deal when i bought my 365 subscription from Costco.  If it truly is required then curse you for that.  But definitely curse you for putting me in a continuous loop when trying to get to my Onedrive account to access virus removal tools.   My desktop got infected yesterday.  Using my laptop, no matter how I try to get to my Onedrive w

[2021-01-01 17:23] MTijbout opened #68297 "Incorrect reference to IIS Webserver"
[Enter feedback here]
Hi,

Just before "Clean up Resources" there is a paragraph: "To see the load balancer distribute traffic across all three VMs, you can customize the default page of each VM's IIS Web server and then force-refresh your web browser from the client machine."

This paragraph references to a IIS Web server. I am sure this is impossible as Ubuntu Linux VMs with a NGINX Webserver is

[2021-01-01 17:39] mikejboss commented on #68296
In 64 years, I have wasted more of my like on Microsoft shite than on any other commercial concerns.  That includes time spent on religious affiliations as well since they are really commercial.  And just like religious organizations, Microsoft spews out tremendous loads of shite that  I am constantly forced to wade thru in hopes of finding solutions to their turd-inspired pile of garbage lovingly

[2021-01-01 18:43] BryanTrach-MSFT commented on #68149
@laultman The original document was created in 2016 but has been updated over time as necessary. The statement about local cache was most recently updated in February by the product group and it remains true right now.

Serverless Function Apps are essentially shared tier web apps. As called out in the document, shared tier web apps and Function Apps are not supported by local cache.

Local cache

[2021-01-01 18:43] #68149 closed

[2021-01-01 18:55] chuksgpfr opened #68298 "Can't play audio stream feedback on Xamarin Forms"
I'm trying to play the audio stream by using your example code. I'm on Xamarin Forms tho.

The code below is where I'm having issues because it's not available in Xamarin

[code]

Please help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eccff5b5-9038-3871-57ad-913d5739c417
* Version Independent ID: 29139141-b9c1-1bf1

[2021-01-01 18:59] femsulu commented on #68246
adding @cweining for input since the above comments touches on both product feedback and doc-enhancement requests.

[2021-01-01 19:25] femsulu commented on #68246
Related to #6239

Adding @fabiocav, @ankitkumarr and @pragnagopa as this appears to be related to the bug discussed [here](https://github.com/Azure/azure-functions-host/issues/6239).

Will now close this issue. Please continue to use the abovementioned link to track progress on this.

thanks.

[2021-01-01 19:25] #68246 closed

[2021-01-01 20:25] amyndhupelia commented on #64073
I am getting same error. I think this issue is closed...we might have to open a new one.

[2021-01-01 20:28] amyndhupelia opened #68299 "Azure B2C Code Flow Error: AADB2C99059: The supplied request must present a code_challenge"
after following the docs step by step:

Create B2C tenant
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant
Register SPA
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-spa
Create user flow
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows

I am seeing this error when trying to test the user flow us

[2021-01-01 20:38] amyndhupelia commented on #64073
Opened https://github.com/MicrosoftDocs/azure-docs/issues/68299

[2021-01-01 21:17] jcroom opened #68300 "Hyperlink Broken"
[Enter feedback here]

Hyperlink at the bottom of the page: https://docs.microsoft.com/en-us/azure/virtual-network/subnet-extension#extend-your-subnet-to-azure is broken:

Extend your subnet to Azure using vendor solutions.
https://github.com/microsoft/Azure-LISP
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c221d52e-1

[2021-01-01 22:29] jpcast88 opened #68301 "Missing link"
This section refers to a port article, but with no link. Review [port] (migrate-replication-appliance.md#port-access) access requirements for the replication appliance.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3d7cc0-ecf8-a48f-3c6e-8e18c7787c41
* Version Independent ID: 31b358bd-1ee6-a058-8590-802941350e90
* Con

[2021-01-01 22:52] jtburney opened #68302 "Where in the Azure sign-in logs can you see these MFA requests / failures?"
When you install the NPS Extension it creates the application Azure Multi-Factor Auth Client.  I see the application, but I do not see any sign-in information for the two users we tested this with.  I find this to be fairly odd.  Where can I find this information?  I looked directly at the two user's sign-in logs and did not find anything.  We want to train our front desk on how to better troubles

[2021-01-01 23:14] berhir commented on #67964
hi @PatrickFarley, I want to import the custom vision project in the same subscription. so I used the same subscription credentials for both operations. but I used different training keys for export and import.

the new project was partially imported, but some tags and images are missing. and the status of the project is now `Failed`

[2021-01-02 00:30] #68295 closed

[2021-01-02 00:32] BertAnthonyRochester commented on #68295
Sorry I'm trying... I'm new 😇

[2021-01-02 00:59] SubhashVasarapu-MSFT commented on #68289
@nammyoho, Thanks for reaching out. We will investigate and update this thread.

[2021-01-02 01:01] SubhashVasarapu-MSFT commented on #68291
@linda33wj, Thanks for reaching out. We will investigate and update this thread.

[2021-01-02 01:03] SubhashVasarapu-MSFT commented on #68292
@gopal-amlekar, Thanks for reaching out. We will investigate and update this thread.

[2021-01-02 01:05] SubhashVasarapu-MSFT commented on #68293
@MarekLani, Thanks for reaching out. We will investigate and update this thread.

[2021-01-02 01:07] SubhashVasarapu-MSFT commented on #68296
@mikejboss, We will investigate and update this thread.

[2021-01-02 01:08] SubhashVasarapu-MSFT commented on #68297
@MTijbout, Thanks for reaching out. We will investigate and update this thread.

[2021-01-02 01:39] jpcast88 opened #68303 "Correct spelling"
First sentence in this article reads
"Since app service is a multi-tenant service instead of a dedicate deployment"

I believe this should read as
"Since app service is a multi-tenant service instead of a dedicated deployment"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218baca3-fde1-9a34-6cb2-19fd48daa471
* Version

[2021-01-02 02:49] #68301 closed

[2021-01-02 02:50] BhargaviAnnadevara-MSFT commented on #68301
@jpcast88 Thank you for catching that error in the docs. The change is merged internally and will go-live in the public docs shortly.

[2021-01-02 03:03] #68303 closed

[2021-01-02 03:03] BhargaviAnnadevara-MSFT commented on #68303
@jpcast88 Thank you for catching that error in the docs. The change is merged internally and will go-live in the public docs shortly.

[2021-01-02 05:14] nammyoho commented on #68289
I think the problem is about seeing app properties in the "built in monitoring endpoint" in VS Code.

[2021-01-02 05:54] dtaylorus opened #68304 "MySQL in-app backup does not include all databases"
MySQL in-app backup only backs up localdb and does not backup other databases.

In my case I have a database named "matchdb" in addition to "localdb" in the MySQL in-app instance.

![image](https://user-images.githubusercontent.com/2476671/103451647-a4483b00-4c94-11eb-9fff-1d57d6100516.png)

This database is not included in the backup, and manually adding the connection string to the backup fails

[2021-01-02 07:50] jzhouw opened #68305 "where is the Egress metrics from Azure Portal?"
I cannot find the Egress metric from Azure Portal, so does some other key metris listed below for Streaming Endpoint.
https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-metrics-diagnostic-logs

How to add these key metrics to the Metrics chart?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee

[2021-01-02 09:01] neemevool opened #68306 "Missing package/dependency instructions"
1. The page does not provide any guidance/glue which packages must be installed as dependencies. Have to Google by error messages and do guesswork about needed packages
2. When using ASP.NET Core 3.1 template, then adding Microsoft.Identity.Web package fails with error message that Microsoft.Identity.Web 5.0 is not compatible with aspnetcore3.1

---
#### Document Details

⚠ *Do not edit this secti

[2021-01-02 09:43] MarekLani opened #68307 "Using API Connector when user profile is updated"
It is not quite clear from documentation, if the api connector can be called also on profile edit. Documentation mentions only before creating user, however I believe there are scenarios when it is desired to call external API also when user profile is edited. Scenario might be if you need to maintain read only copy of user data inside own database model. Also it might be desired when validating t

[2021-01-02 10:52] SubhashVasarapu-MSFT commented on #68299
@amyndhupelia, please tag the document you were referring to. Thanks!

[2021-01-02 10:56] SubhashVasarapu-MSFT commented on #68298
@chuksgpfr, Thanks for reaching out. We will investigate and update this thread.

[2021-01-02 11:01] SubhashVasarapu-MSFT commented on #68300
@jcroom, we have assigned this issue to the respective content author for updating the document accordingly.

[2021-01-02 11:04] SubhashVasarapu-MSFT commented on #68302
@jtburney, please provide the document link you were referring to. Thanks!

[2021-01-02 12:14] jtburney commented on #68302
This is the document I am referring to.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension

On Sat, Jan 2, 2021, 5:05 AM suvasara <notifications@github.com> wrote:

[2021-01-02 13:17] ncarandini commented on #65318
Please note that `uses: ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0` is obsolete, see #68123

[2021-01-02 13:31] NickBishop2112 opened #68308 "Issues With CLI Examples"
[Enter feedback here]
Are the CLI commands for bash?  If so the following is incorrect:

**Incorrect path**

Should the --template-file "c:\Templates\linkedTS\azuredeploy.json be --template-file /c/templates/linkedTS/azuredeploy.json?

Reference is:
[code]

**Syntax Error**
Should `az template-specs show` be `az ts show`?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-01-02 13:45] ncarandini commented on #66213
Hi @AjayKumar-MSFT and @SnehaAgrawal-MSFT
I think this issue can be closed because the documentation has already changed and the

[code]
is no more there.

[2021-01-02 15:22] nickgmicrosoft commented on #68299
Hi all,

You can test the user flow without implementing it in an application by appending a static value for the code_challange on the run now url.

For example, you can append **&code_challenge=YTFjNjI1OWYzMzA3MTI4ZDY2Njg5M2RkNmVjNDE5YmEyZGRhOGYyM2IzNjdmZWFhMTQ1ODg3NDcxY2Nl** to the url and it should work for you.

We're working on appending this in the Azure Portal experience for convenience. I

[2021-01-02 15:28] AnandGoel813 opened #68310 "Can't found few things written on the page in Azure link"
Hi Team,

I have created a workspace for Synapse recently and following instruction given on this page. But could not found 'container' and 'Blob storage owner role'. Am I doing something wrong. Additional screenshots against the notes will be helpful to follow. Please revert in case page is updated so that I can continue my testing.

Regards,
Anand Goel

---
#### Document Details

⚠ *Do not edit

[2021-01-02 15:38] nickgmicrosoft commented on #64073
_Copying from the newly opened Github issue:_

Hi all,

You can test the user flow without implementing it in an application by appending a static value for the code_challange on the run now url.

For example, you can append &code_challenge=YTFjNjI1OWYzMzA3MTI4ZDY2Njg5M2RkNmVjNDE5YmEyZGRhOGYyM2IzNjdmZWFhMTQ1ODg3NDcxY2Nl to the url and it should work for you.

We're working on appending this in the

[2021-01-02 16:28] mohowzeh opened #68312 "Details on how Powershell command on myVmWeb can be executed?"
Hi,

First of all, thanks for a great tutorial. One question though, as I am fairly new to all of this:

Since myVmWeb is not accessible via RDP, how can step 7 about the PowerShell command be executed on it? Step 7 says:

_To install Microsoft IIS on the myVmWeb VM, enter the following command from a PowerShell session on the myVmWeb VM:_
`Install-WindowsFeature -name Web-Server -IncludeManagemen

[2021-01-02 16:35] mohowzeh commented on #68312
My apologies. myVmWeb was accessible via RDP from myVmMgmt

[2021-01-02 16:35] #68312 closed

[2021-01-02 18:26] mike-urnun-msft commented on #68304
@dtaylorus Thank you for your feedback! We will review and update as appropriate.

[2021-01-02 18:32] mike-urnun-msft commented on #68305
@jzhouw Thank you for your feedback! We will review and update as appropriate.

[2021-01-02 18:34] mike-urnun-msft commented on #68306
@neemevool Thank you for your feedback! We will review and update as appropriate.

[2021-01-02 18:36] mike-urnun-msft commented on #68307
@MarekLani Thank you for your feedback! We will review and update as appropriate.

[2021-01-02 18:55] BhargaviAnnadevara-MSFT commented on #68308
@NickBishop2112 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-01-02 18:57] mike-urnun-msft commented on #68310
@AnandGoel813 Thank you for your feedback! We will review and update as appropriate.

[2021-01-02 19:21] erapade opened #68313 "Why "Sign in using the Connect-AzAccount cmdlet""
Wh does it say:
"Sign in using the Connect-AzAccount cmdlet. Then, run the following example with any necessary modifications"

As I understand, the Az module needs to be installed, but why do I need to use the Conect-AzAccount cmdlet at this point

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-

[2021-01-02 20:27] RonnieQuan opened #68314 "Question About PrivateDnsZoneGroup"
As the web app and private endpoint owner, what permission on the private DNS zone is needed in order to create the integrated DNS zone group?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07670d4a-481b-3ca2-5db7-65ac07e2fa48
* Version Independent ID: 1a273de0-68c0-b77f-c5de-a9c665a1

[2021-01-02 21:19] SaurabhSharma-MSFT commented on #68212
@siva-data synapsesql() function works with Scala only.  Can you please elaborate on your ask please.

[2021-01-03 01:27] chenxie95 commented on #43666
I am facing the same issue and could not mount the azure files into my local mac book.
The error is time out and could not find the remote azure file...
Really appreciate if there is a clear way to fix the nasty error

[2021-01-03 02:21] mike-urnun-msft commented on #68313
@erapade Thank you for your feedback! We will review and update as appropriate.

[2021-01-03 02:22] mike-urnun-msft commented on #68314
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2021-01-03 02:48] vitrungkhanh opened #68319 "issue for read data avro file from storage account using python"
[Enter feedback here]

I meet this issue:
![image](https://user-images.githubusercontent.com/46453276/103470497-828aa900-4da5-11eb-9f17-16a5a7bf0470.png)

" readers_fields_dict = reader_schema.field_map
AttributeError: 'RecordSchema' object has no attribute 'field_map'
"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16

[2021-01-03 04:11] ramya-rao-a commented on #68180
Thanks for the clarification @MayankBargali-MSFT
Can we update the content such that this is clear to the reader?

[2021-01-03 05:01] chandrapola opened #68320 "Adding the output illustration to the document, for using the discard(option in /etc/fstab) or fstrim , should have been great"
Can you please , add the output illustrating the use of discard( option in /etc/fstab) or fstrim ?

I tried the same there is no impact on the system . The df -h output is same before and after the execution of fstrim or /etc/fstab.
I am using the following system in Azure -- ChandraUbuntu_group

azureuser@ChandraUbuntu:~$ uname -a
Linux ChandraUbuntu 5.4.0-1031-azure #32~18.04.1-Ubuntu SMP Tue Oc

[2021-01-03 05:06] amyndhupelia commented on #68299
Hello - I have added the 3 links of the document/steps i referred too in the original post...

[2021-01-03 05:21] amyndhupelia commented on #68299
Thank You!!

[2021-01-03 07:12] rbrisita commented on #54550
Still needed. Will continue searching for the correct format.

[2021-01-03 07:31] amyndhupelia commented on #68299
@nickgmicrosoft  - Thanks for your help. I could get to the sign-in/up page and able to create a user. I have jwt.ms as redirect URI as advised by microsoft but i dont get the token once i sign-in or signup. I get the re-direction to URL's like below but no token.

https://jwt.ms/?code=eyJraWQiOiJjcGltY29yZV8wOTI1MjAxNSIsInZlciI6IjEuMCIsInppcCI6IkRlZmxhdGUiLCJzZXIiOiIxLjAifQ..pg4hknBgHfQYPOpo.CSfs

[2021-01-03 07:45] amyndhupelia commented on #68299
How do i get the code challenge from/for jwt.ms ?  I think that is breaking the flow to see the token on jwt.ms as i cannot verify the random code challenge i am using. :( Probably there is no way to get it working with jwt.ms

[2021-01-03 07:49] unnitd commented on #68299
i hello guys, i don't know english there are many things i don't understand. can you inmail in Vietnamese language

Tải Outlook for Android<https://aka.ms/ghei36>

________________________________
From: amyndhupelia <notifications@github.com>
Sent: Sunday, January 3, 2021 2:46:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject:

[2021-01-03 07:55] nickbrown1968 opened #68321 "Determine account billing administrator"
The section "Determine account billing administrator" doesn't actually describe how to do so. What it details is how "To identify accounts for which you're a billing administrator". These are two entirely different things. I can see the service admin and account admin from the subscription properties, but how do I determine who is a billing admin?
---
#### Document Details

⚠ *Do not edit this sec

[2021-01-03 07:58] unnitd commented on #68299
Vạn tài thang tiến,vạn lộc xùm vây.vạn người một y,vạn chí một con đường``

Tải Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Viettel-smart united company in the world Nguyen Hai Nam <pheuculeu@outlook.com>
Sent: Sunday, January 3, 2021 2:49:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>
Cc:

[2021-01-03 08:01] unnitd commented on #68321
What should I do to confirm payment administration

Tải Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nick Brown <notifications@github.com>
Sent: Sunday, January 3, 2021 2:56:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Determine account billing administrato

[2021-01-03 08:02] unnitd commented on #68321
Mình không giỏi cho lắm/ I'm not very good.

Tải Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Viettel-smart united company in the world Nguyen Hai Nam <pheuculeu@outlook.com>
Sent: Sunday, January 3, 2021 3:01:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>
Cc: Subscribed <subscribed@noreply

[2021-01-03 08:07] rbrisita commented on #54550
So it seems that a file with a word, tab, and then spoken form works.
[code]
Hope this helps anyone searching for this.

[2021-01-03 09:58] msftnadavbh opened #68322 "jq is needed for completion of the deployment script"
I had a few customers telling me the execution script fails.
From my investigation it seems to be that they were missing jq.
There are some distros of Linux missing this oob and this needs to be installed.

Looking at the doc I see no indication in the prerequisites to have it installed.

The command "**sudo apt install jq**" should be added or at least adding to the "before you begin" section tha

[2021-01-03 11:53] jmprieur commented on #68306
@neemevool what is Microsoft.Identity.Web 5.0 ? the latest version of MIcrosoft.Identity.Web is 1.4.0: https://www.nuget.org/packages/Microsoft.Identity.Web/

You might want to have a look at your nuget.config?
Do you have repro steps from a clean repo? Feel free to raise an issue on the Microsoft.Identity.Web repo if you do.

[2021-01-03 11:56] jmprieur commented on #68306
@mike-urnun-msft @MarileeTurscak-MSFT, I think we need more info on this one.

[2021-01-03 13:21] kemurayama commented on #68104
Hi @psmanhas ,

I don't think I use Windows Server node pools though I haven't checked the raw request from `az aks create` yet.

Here my repro steps.

1. Open Azure Portal and Cloud Shell
2. Create Resource Group by `az group create -n <My RG name> --location eastus`
3. Create AKS with `az aks create -g <My RG name> -n <My AKS name> --enable-managed-identity --enable-pod-identity`

Then I got the

[2021-01-03 14:43] nickgmicrosoft commented on #68299
The [authorization code flow ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow) only returns an authorization code once the user flow is complete. The authorization code then has to be redeemed by an application for an id or access token. Since the auth request is originating from the Azure Portal in the "run now" experience, the jwt.ms tool has no way of being

[2021-01-03 15:33] memildin commented on #67412
Hi @BASFmthibodeaux, thanks for the feedback. I've spoken with the relevant product team and, as far as I'm aware, there are no plans for including checks for the FireEye Agent.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-01-03 15:33] #67412 closed

[2021-01-03 15:34] somisoko opened #68323 "Confusing RBAC documentation"
RBAC Documentation says:
Account Administrator  ----  Manage billing **in the Azure portal**   ----   The Account Administrator **has no access** to the Azure portal.

[https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles](url)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11c

[2021-01-03 15:36] memildin commented on #68280
Hi @DeanGross, thanks for the feedback and for taking the time to help us improve the docs.

Technically, both lines were true but they certainly weren't clear. I've updated the page and I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

Also, this documentation page is going to get refreshed in the coming weeks with further chang

[2021-01-03 15:36] #68280 closed

[2021-01-03 15:42] memildin commented on #67061
Hi @chwilfing, thanks for the feedback and for taking the time to help us improve the docs.

It seems like this is a product bug, not a doc issue. Please open a support ticket and work through this issue with the Azure Security Center support team.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-01-03 15:42] #67061 closed

[2021-01-03 16:07] KalyanChanumolu-MSFT commented on #68319
@vitrungkhanh Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2021-01-03 16:11] #68126 closed

[2021-01-03 16:58] evandromalmsteen commented on #67939
Hi guys,

I want to let all recorded here, the problem persist in azure powershell only following the prerequisites above in my desktop.

I tested in azure cloud shell and is working fine.

My version PS and PC.
![image](https://user-images.githubusercontent.com/65626650/103484033-65b49c80-4dca-11eb-8dbe-129dbf0808eb.png)

![image](https://user-images.githubusercontent.com/65626650/103484147-51bd6

[2021-01-03 17:16] mohowzeh opened #68324 "Link out of date"
Hi,
In section "Additional resources" at the bottom of the page, there is a link called "SQL migration using Azure Data Migration Service" which refers to:
https://www.microsoft.com/handsonlabs/SelfPacedLabs/?storyGuid=3b671509-c3cd-4495-8e8f-354acfa09587

I believe the above link is no longer valid.

You may want to consider pointing to [this Microsoft Learn tutorial](https://docs.microsoft.com/e

[2021-01-03 17:32] theheatDK opened #68325 "What uploades FIM data to a Log Analytics workspace?"
Hi,

It is stated that FIM uploads data to a Log Analytics workspace. Is this done by a special extension or is the Log Analytics agent used?

Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041c588e-1148-a91e-9f60-137a64582676
* Version Independent ID: 4faaf286-5b2f-215c-081e-4a31c83e1cad
* Content: [File

[2021-01-03 18:32] AjayKumar-MSFT commented on #68252
@DongDanBam, Apologies for the delay! You may check this sample for the usage:
https://github.com/Azure-Samples/media-services-3rdparty-player-samples/blob/4e80bb6370f74c611f5e0dd56ace245a9c033f01/src/video.js/index.js#L24

`
    videoJS.eme()

    if (this.playReadyLicenseUrl || this.widevineLicenseUrl || this.fairPlayCertificate) {
      videoJS.src({
        src: this.manifest,
        type: ty

[2021-01-03 18:35] AjayKumar-MSFT commented on #68269
We will close this for now, the changes would be live once the PR is merged. Thanks!

[2021-01-03 18:35] #68269 closed

[2021-01-03 18:50] mike-urnun-msft commented on #68320
@chandrapola Thank you for your feedback! We will review and update as appropriate.

[2021-01-03 18:51] mike-urnun-msft commented on #68321
@nickbrown1968 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-03 18:53] 357-dev opened #68326 "Outdated samples"
Samples are pretty much outdated, using .NET 4.5.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a web application - Azure AD B2C](https://docs.microsoft.com/en-us/azure/a

[2021-01-03 18:53] mike-urnun-msft commented on #68322
@msftnadavbh Thank you for your feedback! We will review and update as appropriate.

[2021-01-03 18:54] mike-urnun-msft commented on #68323
@somisoko Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-03 18:55] mike-urnun-msft commented on #68324
@mohowzeh Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-03 20:49] chuksgpfr commented on #68298
Any updates ?

This is the example I'm following below

[2021-01-03 21:32] MikeForster100 opened #68327 "--private-dns-zone does not exist with the latest version of AzureCLI cant run your example"
I cant run the option --private-dns-zone none or system the option does not exist?  Am I missing something?

I have the latest version of azure cli and az.aks

The page https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create also does not show this as an option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-01-03 23:58] xuegao0112 commented on #68182
Hi @SwathiDhanwada-MSFT S, greetings, may I know if any update on our issue? Many thanks!

[2021-01-04 00:03] CalebPaul opened #68329 "Query string delimiting character not working as expected"
Regarding this portion of the Step 3, the 'Test the function' section:
 `Add the query string value ?name=<your_name> to the end of this URL and press Enter to run the request.`

The function returns a 401 when using the `?` character as indicated.  The function runs successfully when using a `&` character in place of the `?`.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-01-04 00:09] njrodwell-D61 opened #68330 "AuditIfExists policy in baseline only looks for a subset of valid values"
The policy logic is flawed in many of the AuditIfExists comparators. For example it looks only for a value of "Healthy" only and reports a compliance issue when "Not Applicable" is returned. In many cases a NA is totally appropriate status as is verifiable from Security Center looking at the same configuration item.

Whilst I could edit the policy logic for all of these false positives myself, I t

[2021-01-04 01:09] jpcast88 opened #68331 "Extra column of text"
Under the section
https://docs.microsoft.com/en-us/azure/migrate/server-migrate-overview#compare-deployment-steps

There appears to be an extra column of text for the "Use the Server Assessment tool" row. Specifically, there's a duplicate "Assessment is optional." column of text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-01-04 01:15] jpcast88 opened #68332 "Respective order of vnets"
Under the Requirements and Constraints section https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#requirements-and-constraints

There is a bullet listed goes over transitive connections between vNets.
"A peering is established between two virtual networks. Peerings by itself are not transitive. If you create peerings between:

VirtualNetwork1 & VirtualNetwork2 -

[2021-01-04 01:27] mike-urnun-msft commented on #68325
@theheatDK Thank you for your feedback! We will review and update as appropriate.

[2021-01-04 01:27] mike-urnun-msft commented on #68325
@theheatDK Thank you for your feedback! We will review and update as appropriate.

[2021-01-04 01:28] mike-urnun-msft commented on #68326
@357-dev Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-04 01:59] BhargaviAnnadevara-MSFT commented on #68331
@jpcast88 Thanks for bringing this to our attention. The changes should reflect post the merge.

[2021-01-04 03:08] AjayKumar-MSFT commented on #68327
@MikeForster100, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-04 03:10] AjayKumar-MSFT commented on #68329
@CalebPaul, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-04 03:16] AjayKumar-MSFT commented on #68330
@njrodwell-D61, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-04 03:29] yinoa opened #68335 "Number of private endpoints per subscription is not 64000."
[Enter feedback here]

Number of private endpoints per subscription  is NOT 64000, which should be 65536.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#private-link-limits

Please check Portal.

![image](https://user-images.githubusercontent.com/36754105/103498520-0add7c80-4e80-11eb-9907-68cc0fb0cf20.png)

---
#### Document Details

⚠ *

[2021-01-04 03:30] AjayKumar-MSFT commented on #68332
@jpcast88,  Thanks for leveraging Azure docs feedback channel to share this great feedback.
We'll review the PR raised and merge as appropriate. Thanks for contributing to Azure doc improvements, your feedback is much appreciated.

[2021-01-04 04:02] vipulsparsh commented on #68228
@JimmyLS Currently there is no timelines for that, please feel free to suggest that here
https://microsoftintune.uservoice.com/forums/291681-ideas

[2021-01-04 04:02] #68228 closed

[2021-01-04 04:22] karataliu commented on #67749
Thanks for looking at this.

`most users understand that the question mark is part of the URI query syntax and not part of the SAS token`. Do you have support data for this?
Even if it is true, that's the big problem, some people think there is a mark, some thinks not. It's hard to implement an unclear definition.

If there isn't a clear definition, it's always going to be confusing. Even when peo

[2021-01-04 04:32] vipulsparsh commented on #68302
@jtburney You should be able to see the sign in logs at Event viewer on NPS server.
Windows Logs -> Applications and Service Logs -> Microsoft -> AzureMfa

Let us know if this helps.

[2021-01-04 04:55] SadiqhAhmed-MSFT commented on #68335
@yinoa Thanks for bringing it to our attention. We will review it and update as appropriate.

[2021-01-04 04:58] SadiqhAhmed-MSFT commented on #68335
@tfitzmac FYI. Please review and update the documentation.

[2021-01-04 05:00] ram-msft commented on #68075
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-04 05:00] #68075 closed

[2021-01-04 05:04] CHEEKATLAPRADEEP-MSFT commented on #68212
@siva-data  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-04 05:04] #68212 closed

[2021-01-04 05:30] Shridharfly commented on #26228
Is a multi-column support added now?

[2021-01-04 05:31] #68270 closed

[2021-01-04 05:32] SwathiDhanwada-MSFT commented on #68270
@sachinpanwar Thanks for your feedback. The changes has been made to the document and will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-01-04 05:38] payalgaikwad42 opened #68336 "Blob Storage Module on IoTEdge throws error"
Hi I have deployed azure blob storage on azure iotedge by following the steps given in the document:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob?view=iotedge-2018-06

I am using azure storage explorer to upload sample files in local container in order from them to sync on cloud blob storage but I am getting following error in blob storage module on IoTedge device

<details>

[2021-01-04 05:40] amyndhupelia commented on #68299
Thanks Makes sense.

[2021-01-04 05:40] CHEEKATLAPRADEEP-MSFT commented on #68310
@AnandGoel813 Navigate to an existing ADLSGEN2 storage account and you will find the container option as shown below:

![image](https://user-images.githubusercontent.com/44426401/103503759-580b1f80-4e7b-11eb-954f-364035297f4b.png)

In case, if you are unable to follow any steps mentioned in the document, please point me to the section in which you are unable to follow, so that I can pitch in to he

[2021-01-04 05:43] CHEEKATLAPRADEEP-MSFT commented on #68291
@Jigar191089, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2021-01-04 06:10] SubhashVasarapu-MSFT commented on #68144
@JiangYuchun, Appreciate your patience. Yes, you can configure custom ports to receive the WebSocket traffic on the listener.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-04 06:10] #68144 closed

[2021-01-04 06:32] amanmcse commented on #68151
@fbasco81 For this purpose, you need to use custom policy as provided here [Azure AD B2C: Edit MFA phone number](https://github.com/azure-ad-b2c/samples/tree/master/policies/edit-mfa-phone-number).

**Note**: This feature is not Generally Available and is currently in private preview which is why it is not documented under the official B2C documentation. Please test it in dev environment before de

[2021-01-04 06:32] #68151 closed

[2021-01-04 07:07] chanuengg commented on #68195
We currently don't support scoping the PBI scan to specific workspace. Can you submit a feature request here please. https://feedback.azure.com/forums/932437-azure-purview

[2021-01-04 07:09] MayankBargali-MSFT commented on #68180
@ggailey777 Can you please provide your input on this?

[2021-01-04 07:13] srini-t10 commented on #68195
Sure, Thanks!

[2021-01-04 07:13] #68195 closed

[2021-01-04 07:15] SnehaAgrawal-MSFT commented on #68287
Thanks for reply! You may want to know that Linux apps in App Service run in their own containers. No access to the host operating system is allowed, you do have root access to the container. Likewise, for apps running in Windows containers, you have administrative access to the container but no access to the host operating system.

You may refer to below document link for App Service Linux and li

[2021-01-04 07:28] SwathiDhanwada-MSFT commented on #68198
Thanks for your feedback @oshezaf.

Assigning to content author @bwren for review and updating the document.

[2021-01-04 07:48] hellojxg opened #68337 "Please help to double check and update the value in "Per request timeout is set to 60 seconds.""
From internal TSG and below document the timeout should be 30s instead of 60s.
   https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#mongodb-api-specific-limits
Please kindly help to double check and update this page if it's incorrect.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00cf2565-782

[2021-01-04 07:48] jasonsue53 opened #68338 "Subclip using Node.js"
I've been trying to figure out how create a subclip job using the Node SDK.  I can't seem to find any Node equivalent for the .NET JobInputAsset class.  I've also looked through the model in jobInputAsset.js and the start and end keys aren't even defined.  I guess I can modify the model and build it myself but I'm hoping you guys have an updated Node SDK in the works.

---
#### Document Details

⚠

[2021-01-04 07:48] AnuragSharma-MSFT commented on #68142
@arpit9mittal Thanks for your patience. Please refer to the verbatim we received from product group "**_We do not provide an RTO and RPO wrt Zone Redundancy in our SLA. We only provide RTO and RPO wrt geo-replication with Business Critical tier of Azure SQL Database._** "

Please let us know if you have any follow up queries.

[2021-01-04 07:59] ramakrpr commented on #68041
Hi @asergaz for issue no. 3 above
- i am using azure CLI 2.16.0 and indeed the iot edge version for the CLI is also the updated 2.3.1
- is this a specific issue only in West Europe is what i am assuming?
- i dont face any issues applying the template on a non-preview iot hub, but on a preview version i get the error
- I have a MS ticket in progress as well on this, but no updates yet

[2021-01-04 08:00] bizinbarefeet opened #68339 "Broken Instructions"
[Enter feedback here]
This page is wrong. Following the instructions results in an error about ID not being right.  As there is no ID to input there is something different in the website than what is described on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db349d8c-fb64-fc0a-a063-7dd7c047be93
* Version In

[2021-01-04 08:00] #68243 closed

[2021-01-04 08:03] asergaz commented on #68122
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me and @AshokPeddakotla-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-04 08:03] #68122 closed

[2021-01-04 08:14] AnuragSharma-MSFT commented on #68337
@hellojxg Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-04 08:20] HarithaMaddi-MSFT commented on #68319
@vitrungkhanh - I was able to reproduce the issue with the same error. I am moving it to content author to review and share their thoughts.

@spelluru - Can you please take a look and suggest.

[2021-01-04 08:20] jasonsue53 commented on #68338
Hmm.  I think I just found that the Node documentation points towards an old version of the SDK.  It told me to install azure-arm-mediaservices but I just noticed that is incorrect.

[2021-01-04 08:27] GitaraniSharma-MSFT commented on #68339
@bizinbarefeet , Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you shortly.

[2021-01-04 08:30] AjayKumar-MSFT commented on #68252
We will close this out, but if you feel you need more information please just let us know.

[2021-01-04 08:30] #68252 closed

[2021-01-04 08:41] rwatjen opened #68340 "Discrepancy between description and sample in "Test the ROPC flow section" and sample not working"
In the description of how to test the ROPC flow, the text says to use an URL like this:
[code]
In the sample, the URL looks like this:
[code]
The part after `.onmicrosoft.com` differs. Where the policy name `B2C_1A_ROPC_Auth` is part of the URL path in the text, it is a query parameter in the sample.

The sample does __not__ work. The policy name must either be part of the URL path as in the descr

[2021-01-04 08:42] SnehaAgrawal-MSFT commented on #68338
@jasonsue53 Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 09:00] #66213 closed

[2021-01-04 09:00] amanmcse commented on #68299
@amyndhupelia Please let us know if you have any further question or shall we close the thread.

[2021-01-04 09:01] ChaitanyaNaykodi-MSFT commented on #67862
Apologies for the delay. When WEBSITES_RUN_FROM_PACKAGE is set the SCM_DO_BUILD_DURING_DEPLOYMENT will be ignored during deployment. I will now proceed to close this issue out please let me know if there are any additional concerns. Thank you!

[2021-01-04 09:01] #67862 closed

[2021-01-04 09:09] ChaitanyaNaykodi-MSFT commented on #67824
Hello @hwride, apologies for the delay. I observed that `func azure functionapp publish` command by default does not use remote build (I will make a PR to rectify this thank you for the feedback.) Regarding the `SCM_DO_BUILD_DURING_DEPLOYMENT` setting you can find additional information [here](https://github.com/projectkudu/kudu/wiki/Configurable-settings#enabledisable-build-actions). I will now p

[2021-01-04 09:09] #67824 closed

[2021-01-04 09:18] amanmcse commented on #68293
@MarekLani Toggling the button under "Allow Public Client flows" to **YES**, eventually updates the value of the **allowPublicClient** parameter from Null to True in the application manifest. If you do not see below option in the portal, you can directly update the app manifest.
![image](https://user-images.githubusercontent.com/33834131/103519384-6ff29b80-4e9b-11eb-97c7-4e8b7077b8ea.png)

[2021-01-04 09:18] #68293 closed

[2021-01-04 09:23] karataliu opened #68341 "How to clean up '\home\data\SitePackages'"
I'm using ZipDeploy and find there are more and more zip files uploaded to '\home\data\SitePackages'

Is there a convenient way of clean up unused packages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7838171-5cab-d164-cc88-2973c0d0e56e
* Version Independent ID: d888bc9c-c031-f67c-d5a0-25cc265f14e3
* Content: [Run

[2021-01-04 09:33] karataliu commented on #68341
This comment is related https://github.com/Azure/app-service-announcements-discussions/issues/32#issuecomment-554379071, which is not answered

[2021-01-04 09:40] BhargaviAnnadevara-MSFT commented on #68290
@BertAnthonyRochester We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-04 09:40] #68290 closed

[2021-01-04 09:40] BhargaviAnnadevara-MSFT commented on #68294
@BertAnthonyRochester We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-04 09:40] #68294 closed

[2021-01-04 09:41] psmanhas commented on #68327
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-01-04 09:44] karataliu commented on #68341
nvm, found answer here: https://github.com/projectkudu/kudu/wiki/Dealing-with-locked-files-during-deployment

[2021-01-04 09:44] #68341 closed

[2021-01-04 10:03] psmanhas commented on #68268
@RonnieQuan Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-01-04 10:03] #68268 closed

[2021-01-04 10:10] psmanhas commented on #68104
@kemurayama Thank you for your response.

I am having discussion internally with our team on this and will keep you posted once I have an update.

Thanks

[2021-01-04 10:42] psmanhas commented on #68007
@lissff Apologies for the delay in response and all the inconvenience caused because of the issue.

You can run the below command:

`az aks show --resource-group<resource group name> --name <AKSCluster name>`

If in the result output under Service Principal Profile for client id if you see some numeric value as below then it is SP associated with AKS:

![image](https://user-images.githubuserconten

[2021-01-04 10:43] assaf-grth opened #68343 "Replicating a stopped VM in ASR"
I have a VM definition I want to include in an ASR replication process
The VM is usually stopped and doesn't run.

I will have the machine running to create one replication data and would like to update it manually
Is there a support for this type of flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b55957-eb46-c3

[2021-01-04 11:27] AjayKumar-MSFT commented on #68336
@payalgaikwad42,  Thanks for leveraging Azure docs feedback channel to raise this question. We are taking a look into this and will get back to you soon.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-01-04 11:31] yichungyu opened #68346 "Event Hubs documentation conflicting with one another"
In [this document](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions), it is stated that "**The partition count of an Event Hub can be increased after the Event Hub has been created**, but the distribution of streams across partitions will change when it's done as the mapping of partition keys to partitions changes, so you should try hard to avoid such changes if the

[2021-01-04 11:31] AjayKumar-MSFT commented on #68341
Thanks for leveraging Azure docs feedback channel to raise this question. Glad you found the answer, much appreciate the follow-up and update.

[2021-01-04 11:36] brianpdk opened #68347 "RetentionDays set to 0"
[Enter feedback here]

What happens if retentionDays is set to 0, will. the transactions log just keep growing ?

Set-AzSqlDatabaseBackupShortTermRetentionPolicy -ResourceGroupName resourcegroup01 -ServerName server01 -DatabaseName database01 -RetentionDays 0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b388152-5d9d

[2021-01-04 12:02] HarithaMaddi-MSFT commented on #68346
@yichungyu - Thanks for posting the valuable feedback. As per my understanding, the partition count can be increased both for standard and dedicated SKU using an support request only. We will proceed with updating the documents to specify this clearly, please suggest if you are able to directly edit partition count for event hubs using dedicated SKU.

[2021-01-04 12:10] rayne-wiselman commented on #68343
Thanks for your feedback! This type of flow (not ongoing replication) isn't supported. If a VM is in a stopped state, replication can't be enabled. If a VM is stopped after enabling replication for it, then the replication will move into a critical state.

Closing this #please-close

[2021-01-04 12:10] #68343 closed

[2021-01-04 12:19] AnuragSharma-MSFT commented on #68347
@brianpdk Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-04 12:28] asergaz commented on #68148
Thank you so much for sharing the related [gitter discussion](https://gitter.im/Microsoft/azure-iot-developer-kit?at=59e69a64d6c36fca3164c9a8) @jacqueskang. And thanks for testing it @Walfa .

I see that a feedback request was also added here: https://feedback.azure.com/forums/321918-azure-iot-hub-dps-sdks/suggestions/42258562-azureedge-net-seems-to-be-down-or-misconfigured

And an issue here: htt

[2021-01-04 12:41] XToinho commented on #68148
Not sure if its helpful, but here are the links for the dependencies
- [openocd](https://sourceforge.net/p/openocd/code/ci/v0.10.0/tree/)
- [arm-none-eabi-gcc](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads/5-2016-q3-update)

[2021-01-04 12:49] amanmcse commented on #68279
@jennirethi If you configure the Issuer URI with https://sts.windows.net/< your_tenant_id > under advanced management mode as highlighted below, only the users present under your_tenant_id will be able to sign in to your application.

![image](https://user-images.githubusercontent.com/33834131/103533205-b4d5fc80-4eb2-11eb-92ec-fac106410f88.png)

Also, configure the application whose client ID you

[2021-01-04 12:52] romina2001 commented on #67311
Same here. It might be because of the node taints on windows node?

[2021-01-04 12:57] DeanGross opened #68348 "Typo- December Updates"
Small typo.

"Wish this change" - should be "With this change"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e15ac4e7-7e04-980d-27e1-cf5837763cf3
* Version Independent ID: 69f74d6d-c0ee-18cd-9457-f2dbb7771f31
* Content: [Release notes for Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/re

[2021-01-04 13:11] hwride commented on #67824
Hi @ChaitanyaNaykodi-MSFT, thanks for looking at this. I have looked at the doc page you linked for `SCM_DO_BUILD_DURING_DEPLOYMENT` and it says:

Are the "Kudu executes build steps" the same thing as the remote build that is referenced elsewhere in the documentation? I can't seem to find it mentioned.

[2021-01-04 13:29] jwshive opened #68349 "Instructions on this page do not match what is in live Azure."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e48a9c89-b7da-ba99-1f4c-15f8ef9fa526
* Version Independent ID: 8e435467-bcac-eaff-9059-d5e40049e452
* Content: [Azure Defender for SQL - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/azure-defender-for-sql)
* Content So

[2021-01-04 13:57] pavelrozenberg opened #68350 "Indexing is not explained"
Hello,

On the 'Split' function the first indexing number is not clear. Whereas in programming the indexing starts from 0, here it starts from 1.
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/functions-for-customizing-application-data#item

Can you please add an note/explanation to the documentation regarding this remark.

Thank You

---
#### Document Details

⚠ *Do not

[2021-01-04 13:58] bellaned opened #68351 "Can't use helm chart from an Azure container registry as dependency chart"
Is there any way using a helm chart from an Azure container registry as dependency chart.
There is no info regarding that on the docs.

If I:
1. run helm dep up "no repository definition for testrepo.azurecr.io/helm/testchart:v0.1. Please add them via 'helm repo add'"
2. tried to add the acr repo as helm repo "helm repo add testrepo testrepo.azurecr.io/helm/testchart:v0.1" ->
"Error: could not fin

[2021-01-04 14:17] shashishailaj commented on #68340
@rwatjen Thank you for your feedback . We will investigate and update the thread.

[2021-01-04 14:18] shashishailaj commented on #68348
@DeanGross Thank you for catching this. We will review and fix shortly .

[2021-01-04 14:25] shashishailaj commented on #68350
@pavelrozenberg Thank you for your feedback . However I wanted to clarify if you are talking about the **item** function because it is the one which has the index value example ?  The split function does not take index parameter .

![image](https://user-images.githubusercontent.com/532022/103544751-937f0b80-4ec6-11eb-9ec6-332bcf27e155.png)

Please confirm and we will have this reviewed and actione

[2021-01-04 14:34] DCtheGeek commented on #67409
@mulcahys As a note, the source for those are [here](https://github.com/Azure/azure-blueprints/tree/master/samples/001-builtins).  So you can use those and the article @MonikaReddy-MSFT linked to create a new blueprint from one of the built-in samples. Looks like they haven't been refreshed recently, so I'll ask the PM to do that.

[2021-01-04 14:49] shashishailaj commented on #68348
@DeanGross We have fixed the document and the changes will be live in the next 48 hours. We will now close this issue.

Thank you.

[2021-01-04 14:49] #68348 closed

[2021-01-04 14:49] MustAl-Du commented on #67850
Thanks Ram and Bo!

[2021-01-04 14:51] jude253 opened #68352 "Access Key admin enabled"
Hey, thank you for making this tutorial.

As I was following it, I realized that I was unable to login to my container from the command line like in the example.  I had to do some digging on the internet to realize what to do.  I had to go to access key in the azure container registry for "myregistry" and enable admin access.

I did not see this in the tutorial, and it caused me quite a headache.

[2021-01-04 14:53] arpit9mittal commented on #68142
Hi,

Yes, this is concerning if we do not know the lag between zone replicas
then we cannot trust to adopt this model. Then it's better to be with just
geo-replication for disaster recovery, instead of achieving HA with zone
replications.

Regards
-Arpit Mittal

On Mon, Jan 4, 2021 at 2:48 AM AnuragSharma-MSFT <notifications@github.com>
wrote:

[2021-01-04 14:54] jtburney commented on #68302
Hello Vipul Sparsh,

I understand that from reading through the documentation.  Why aren't the
sign-in logs available in Azure?  We have frontline support agents who do
not typically have access to those logs on our NPS server.  We were hoping
you would have that information available in the Azure Sign-in logs.  I
suppose I will have to put in a user voice or +1 an existing entry for this
function

[2021-01-04 14:59] skiddder opened #68353 "Broken link to Resouce Usage API"
In section https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/usage-rate-card-overview#azure-resource-usage-api-preview
the link to the Resource Usage API is pointing to a deprecated content site: https://docs.microsoft.com/en-us/previous-versions/azure/reference/mt219003(v=azure.100)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-01-04 15:06] annerajb opened #68354 "Typo on the link of the website"
Typo on this document / section where the link dosn't seem to link right see below
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [What's new? Release notes - Azure Active Directory](https://docs.micros

[2021-01-04 15:11] vhorne commented on #66998
This issue is documented here:

https://docs.microsoft.com/en-us/azure/firewall-manager/overview#known-issues
#please-close

[2021-01-04 15:11] #66998 closed

[2021-01-04 15:11] shashishailaj commented on #68127
@doran0509 I am sorry that you have faced such problems. But from what I understand , it seems you have traced some Ip address back to azure where you suspect someone used your identity . This is a very delicate matter and we have a security response team for the same. I would suggest you to contact Microsoft Security response team at https://msrc.microsoft.com/create-report?c=icon . Select to rep

[2021-01-04 15:27] AshokPeddakotla-MSFT commented on #68349
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-04 15:28] shashishailaj commented on #68127
@doran0509 I am sorry that you have faced such problems. But from what I understand , it seems you have traced some Ip address back to azure where you suspect someone used your identity . We use GitHub issues for documentation improvement and your situation and this may not be a suitable forum for discussing this problem which you have mentioned. However I will still try to provide you pointers to

[2021-01-04 15:28] #68127 closed

[2021-01-04 15:42] pdhunsberger opened #68356 "Timespan example is wrong"
There is an incorrect example for
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#example

In the Timespan examples

"24:00:00" | every 24 days

is wrong, either the value should be "24.00:00:00" or the description should be "every 24 hours"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-04 15:50] tfitzmac commented on #68335
@KumudD - it looks like the private link limit is 65536 per region per subscription. Do you know if that is correct? Should the 64000 be updated?

[2021-01-04 15:51] bhaktajb opened #68357 "Update picture - We should remove SQL Server from picture (in yellow bar), as database covers it. SQL Server is not a key workload for ANF at this point without Continuous Access feature."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06cdfa32-759b-d946-00ff-3a43420fd375
* Version Independent ID: 04675450-c497-88a8-3c4c-67b91163baa5
* Content: [Solution architectures using Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-solution-arch

[2021-01-04 15:53] DCtheGeek commented on #68330
#reassign:DCtheGeek

[2021-01-04 15:55] ran-ten21 opened #68358 "has defaults changed?"
[Has the deafault changed on the selection of this? Customer reported that normally the selection of High is normally disabled but upon creating a new subscription it was enabled by default.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535

[2021-01-04 15:55] DCtheGeek commented on #68330
@njrodwell-D61 Thanks for the feedback.  Since the doc documents the product as is and there's nothing to change in the doc, I'm going to close this issue.  @parulbansal2009 owns that Blueprint, so I'm tagging her on this so she's aware of the request and can evaluate for the next update to this Blueprint. Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage Please remove label 'doc-bug

[2021-01-04 15:55] #68330 closed

[2021-01-04 16:04] MonikaReddy-MSFT commented on #67619
@dcbrown16 - The PR has been raised and the doc is updated. https://github.com/MicrosoftDocs/azure-docs-pr/pull/142064

[2021-01-04 16:06] sijucm commented on #32204
I'm surprised that it is not viewable in the portal. That's really not a nice thing and not consistent. I searched a lot thinking I might have missed it. #microsoftstuff

[2021-01-04 16:10] DCtheGeek commented on #68282
@memildin Thanks for the feedback.  There are two components, the "extension" and the "client".  I believe the reference in that section is supposed to be "client", but will confirm with the PM prior to updating.  Thanks!  cc/ @mgreenegit

@MicrosoftDocs/azure-cxp-triage #in-progress.

[2021-01-04 16:14] asergaz commented on #68041
Hello @ramakrpr , by Preview you mean you have enabled preview mode for IoTHub following this doc?: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-preview-mode

- Can you share the MS Ticket number to follow-up? Also share this link in the ticket with the Engineer.

CA certificates is supported and the instructions are similar. See following threads:

- https://docs.microsoft.com/en-us/ans

[2021-01-04 16:17] SnehaAgrawal-MSFT commented on #68231
Thanks again for the feedback! Could you please confirm if [SerializePropertyNamesAsCamelCase] attribute is on the AzureSearchDocument class? Check this link might be helpful: Search SDK: [[SerializePropertyNamesAsCamelCase] not converting property names to camel case while indexing documents. · Issue #4087 · Azure/azure-sdk-for-net (github.com)](https://github.com/Azure/azure-sdk-for-net/issues/4

[2021-01-04 16:22] psmanhas commented on #68351
@bellaned Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-01-04 16:23] #67838 closed

[2021-01-04 16:23] psmanhas commented on #68352
@jude253 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-04 16:24] psmanhas commented on #68352
@dlepow Can you please check and add your comments on this doc update request as applicable

[2021-01-04 16:27] ramakrpr commented on #68041
These are the tickets
120121825004463  - specific for iot hub breaking in preview mode
120121025003364 - for our questions on iot hub , which i also posted here

No need to reopen this thread, since the questions are no more related to documents. I will post further in Q&A forum

[2021-01-04 16:28] tamram commented on #67749
@karataliu - But they can understand where the question mark is coming from by understanding the HTTP protocol, which everyone uses every day via the web.

You are the only person that's ever asked about this - so far as I know, it's not a significant source of user confusion. The documentation is correct as it is, so this issue is not a high priority for us.

[2021-01-04 16:30] mgreenegit commented on #68282
No problem for me if we use "client" everywhere

[2021-01-04 16:37] DCtheGeek commented on #68282
Thanks @mgreenegit.  @memildin - I've submitted a PR to change "agent" to "client" (except for actual file names) so it's more consistent.  Once that merges, this issue will automatically be closed.  Thanks again for the feedback!

[2021-01-04 16:42] AlexandraKemperMS commented on #68274
@Cedric-Bravo Thank you for pointing this out to us, we will update the documentation to make this more clear!

[2021-01-04 16:45] AnuragSharma-MSFT commented on #68142
@arpit9mittal Yes you are right as currently RTO and RPO with zone redundancy are not available but should be available in future. We cannot commit the dates as well. And we do have these available for geo-replication. I will take this feedback to product team.

Please let us know if you have any other queries and we can discuss the same.

[2021-01-04 16:45] AlexandraKemperMS commented on #68221
@MarkAtAgilliance thanks for the feedback, we will include this in the docs.

[2021-01-04 16:45] PumpkinVision opened #68359 "express.static reference to msal-browser"
[Enter feedback here]
On the tutorial page, there are two separate setups of routing for express in the server.js file.
The first is:
`// Set the front-end folder to serve public assets.
app.use("/lib", express.static(path.join(__dirname, "../../lib/msal-browser/lib")));`

The second is:
`app.use(express.static('app'));`

I wanted to raise the following points about this call:

1. The first call a

[2021-01-04 16:45] JamesTran-MSFT commented on #68354
@annerajb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 16:46] #68282 closed

[2021-01-04 16:53] blueboy1355 commented on #68352
Yes thank you for the timely and easy to follow guidelines

[2021-01-04 16:54] YutongTie-MSFT commented on #68213
Hi,

Happy New Year and sorry for the delay. When you enable authentication for a deployment, you automatically create authentication keys. Authentication is **enabled by default** when you are deploying to Azure Kubernetes Service. Authentication is disabled by default when you are deploying to Azure Container Instances. To control authentication, use the auth_enabled parameter when you are creat

[2021-01-04 16:54] #68213 closed

[2021-01-04 16:56] sijucm opened #68360 "collection.createDocument : Javascript SDK misses this function"
The page gives an example stored procedure and in this it gets a "collection" from getContext().getCollection(). First of all this is confusing when working with Core "SQL" API because that is a container. Then later it says collection.createDocument(), but I cannot find this function because when I execute this stored procedure it complains that the first parameter is invalid. Now, when I execute

[2021-01-04 16:56] SwathiDhanwada-MSFT commented on #68182
@xuegao0112  Apologies for late response. From the information provided, I could see the you weren't facing any issues with most of the virtual machines but with specific virtual machines. I would recommend engaging our technical support team for further detailed analysis. Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-creat

[2021-01-04 16:56] #68182 closed

[2021-01-04 16:57] alanflanders-teck commented on #68213
Hi,

Thanks for the information. I used the UI in ML Studio to deploy, not the CLI.

Cheers,

Alan

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, January 4, 2021 9:55 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Flanders Alan CGO <Alan.Flanders@teck.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 403 Forbidden - Can't run scri

[2021-01-04 16:59] SwathiDhanwada-MSFT commented on #68353
@skiddder Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-04 17:03] ChaitanyaNaykodi-MSFT commented on #68356
Hello @pdhunsberger,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-04 17:17] dradovic opened #68361 ""Instead of" or "instead to""
The second paragraph says of this page says:

It is grammatically unclear which approach is recommended. I assume it should be:

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b44819-ed7b-84bc-f5d2-2b937029f7df
* Version Independent ID: db9f8408-c234-90d0-4817-3516e5fc3ba0
* Content: [Microsoft identity platform and O

[2021-01-04 17:17] MarileeTurscak-MSFT commented on #68359
@PumpkinVision
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 17:18] MarileeTurscak-MSFT commented on #68361
@dradovic
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 17:20] shashishailaj commented on #67454
@christianigay You are getting this error since you are using postman with a hybrid credential (federated Identity) and this requires redirection to your federation server which postman is not designed to redirect . Hence you should use PTA enabled or managed accounts in this case.

You may consider configuring the azure AD policy to perform managed authentication for a specific application for th

[2021-01-04 17:20] #67454 closed

[2021-01-04 17:26] tarosler commented on #68358
Hi @ran-ten21 ,
Yes we improved the default experience to send notifications to subscription owners about high-severity alerts which indicates in high probability on a real threat.

Update was delivered through our release notes in the following link: https://docs.microsoft.com/en-us/azure/security-center/release-notes#email-notifications-from-azure-security-center-improved

Thanks,
Tal Rosler, Pr

[2021-01-04 17:35] shashishailaj commented on #68143
@kagkarlsson I checked this internally and at this point we do not have any specific dates to share however we hope this to be available in the early second half of this year.

Thank you.

[2021-01-04 17:35] #68143 closed

[2021-01-04 17:36] tamram commented on #68285
@jaybo - The StorageSharedKeyCredential constructor takes the account name and account key. You can then use the initialized instance to create a new BlobContainerClient object. For example:

`BlobContainerClient blobContainerClient = new BlobContainerClient(new Uri(containerEndpoint),
                                                                              new StorageSharedKeyCredential(Acco

[2021-01-04 17:37] tfitzmac commented on #68206
@miqm - thanks for this suggestion. I will make that addition.

[2021-01-04 17:38] shashishailaj commented on #67696
@ciphersbak This has been resolved and the changes will be live in the next 48 hours.

Thank you.

[2021-01-04 17:38] #67696 closed

[2021-01-04 17:39] SubhashVasarapu-MSFT commented on #68266
@RonnieQuan, Appreciate your patience. Both types of load balancer support zone redundancy and zonal deployment. Both load balancer types can direct traffic across zones as needed.

For an internal load balancer frontend, add a zones parameter to the internal load balancer frontend IP configuration. A zonal frontend guarantees an IP address in a subnet to a specific zone.

[code]
Ref : https://doc

[2021-01-04 17:39] #68266 closed

[2021-01-04 17:42] JeffSmalley opened #68363 "Old info needs updating"
Greetings Folks,
This page on the Cloud Shell needs updating for example it isn't Ubuntu but now Debian.  A lot of the software has been upgraded and changed.  New versions: PowerShell 7.1, Python 3.7, & Ruby 2.5.

Source: https://azure.microsoft.com/en-us/updates/the-azure-cloud-shell-image-has-been-updated/

Cheers,
Jeff Smalley MCT
Chicagoton

---
#### Document Details

⚠ *Do not edit this sect

[2021-01-04 17:42] JamesTran-MSFT commented on #68257
@Stacks-88
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

Thank you for your time and patience throughout this issue.

[2021-01-04 17:43] aramase commented on #67311
`driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers` usually means the driver pods aren't running on the same node as the application. If the nodes are tainted, then you can add the tolerations to the CSI Driver and AKV provider pod specs using Helm.

[2021-01-04 17:47] tarosler commented on #68275
Hi @DeanGross ,
Thanks for your feedback.

Azure AD alerts can not be connected anymore to Azure Security Center and still hitting only for customers enabled this integration before it was retired. These alerts can be now connected into Azure Sentinel, and this is the recommended way to consume them (or directly in the AAD portal).

Customers that enabled the connection of these alerts in the past

[2021-01-04 17:54] mimckitt commented on #67513
#reassign: @mimckitt

[2021-01-04 17:55] #68206 closed

[2021-01-04 17:55] b-juche commented on #68357
@bhaktajb - Thank you for your feedback!  I'm consulting our technical owner of the diagram re. your suggestion.

[2021-01-04 17:55] tfitzmac commented on #68206
The update should get published later today.

[2021-01-04 17:56] JamesTran-MSFT commented on #68354
@annerajb
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

![image](https://user-images.githubusercontent.com/36619112/103563468-ac110680

[2021-01-04 17:56] #68354 closed

[2021-01-04 18:00] sijucm opened #68364 "Triggers does not get called automatically is not mentioned"
I just wasted 2 hours of my time with the permutations and combinations to make the pre-trigger work. Of course I assumed it will be called automatically. Otherwise I would use a stored procedure. Mentioning that critical information was very important in the document. First of all the "feature" is very un-intuitive that I could not guess that behaviour. CosmosDB is like an API and a trigger is pr

[2021-01-04 18:03] jude253 commented on #68352
@psmanhas thanks for taking care of this.   I hope this will help people in the future

[2021-01-04 18:03] DCtheGeek commented on #66987
@lalitkumarms Thanks for the feedback.  Since you are internal, I'll reach out to you internally to discuss.  Thanks.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2021-01-04 18:09] cijothomas commented on #48326
Is there a Microsoft doc which recommends "codeless" approach?

[2021-01-04 18:10] YutongTie-MSFT commented on #68238
@millercor Happy new year and sorry for the delay. I have reached out to the author and we will take care of this document. Thanks!!!
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-01-04 18:10] #68238 closed

[2021-01-04 18:10] ggailey777 commented on #68180
@ramya-rao-a thanks for pointing this out. Clearly, this article needs to be refreshed. I'll schedule this work.
#assign:craigshoemaker

[2021-01-04 18:12] MonikaReddy-MSFT commented on #68363
@JeffSmalley -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-04 18:12] IngridAtMicrosoft commented on #67865
This has been forwarded to the development team.

[2021-01-04 18:13] baanders commented on #68006
As the documentation has now been [updated](https://docs.microsoft.com/azure/digital-twins/troubleshoot-known-issues#issue-with-default-azure-credential-authentication-on-azureidentity-130) to capture this as a known issue, I'm going to close this documentation issue thread.

Meanwhile, we're working with our engineering team to investigate the source of the issue and see how best to resolve. I'll

[2021-01-04 18:13] #68006 closed

[2021-01-04 18:15] JamesTran-MSFT commented on #67194
@andreasmarx and @OMSRocks
Thank you both for your time and patience throughout this issue. I just wanted to reach out and let you know that I received an update from our engineering team regarding this issue.

**PG Update:**
This does look like a documentation issue with Security Defaults, but it gets to deeper questions beyond just docs.

**Next Steps:**
Our PG team will continue working interna

[2021-01-04 18:15] #67194 closed

[2021-01-04 18:17] rolyon commented on #68323
Hi @somisoko
Thanks for the feedback. We updated article:
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles

[2021-01-04 18:17] rolyon commented on #68323
#please-close

[2021-01-04 18:17] #68323 closed

[2021-01-04 18:18] viseshag commented on #67401
@chanuengg Can you please help update the document with the right permissions required?

[2021-01-04 18:22] PRMerger12 commented on #68180
craigshoemaker is already assigned.

[2021-01-04 18:25] siva-data commented on #68212
Hello,

I understood the synapsesql() works with scala. However currently it supports only reading a table or writing into a table.
So would like to understand is there any extension to use this to get the result of a SQL

val df = spark.read.synapsesql("<DBName>.<Schema>.<TableName>")

For ex:

val df = spark.read.synapsesql("Select * from <DBName>.<Schema>.<TableName>")

[2021-01-04 18:31] HeidiSteen commented on #68231
@SnehaAgrawal-MSFT The above link is from 2018, which pre-dates the new SDK v11.  Let's ask the SDK team for insights on this. If there is an Azure-wide approach for handling camel case, the team would have implemented that approach rather than a one-off approach.

[2021-01-04 18:46] IngridAtMicrosoft commented on #68338
I am reviewing the issues.

[2021-01-04 18:49] cynthn commented on #68224
Thanks for the feedback! I'll pass this request on to the folks that do the benchmark testing. As soon as we have new information, it will be added into the docs. It does take a while to run the benchmark testing and confirm the results.

#please-close

[2021-01-04 18:49] #68224 closed

[2021-01-04 18:55] mumian commented on #66340
@bgspan - I have updated the article with the missing information.

#please-close

[2021-01-04 18:55] #66340 closed

[2021-01-04 19:09] albecker1 commented on #63294
Hi @mihammer.

In the second paragraph in the **How does disk performance work?** section, I state "To make these examples easy to follow, we'll only look at IOPS. But, the same logic applies to throughput.". I don't want to put throughput examples because it would make this article longer.

I do think you are right and we should make a new article that shows how to use the disk metrics available.

[2021-01-04 19:15] v-demjoh opened #68367 "ComputerVisionQuickstart.cs"
Here's a passage:

"In a console window (such as cmd, PowerShell, or Bash), use the dotnet new command to create a new console app with the name computer-vision-quickstart. This command creates a simple Hello World C# project with a single source file: ComputerVisionQuickstart.cs."

This command?:

dotnet new console -n my-vision-quickstart

This command does not create that file.

---
#### Docume

[2021-01-04 19:16] vii33 opened #68368 "Phrase lists do not improve final recgontion"
# Action
Improve the recognition accuracy by adding name strings via grammar lists. Example as shown on website:
[code]
("Veit" is pronounced like "fight")

# Resulting Error
The added phrases are recognized in the preliminary `recognizing` events *but not* in the final `recognized` event. This was tested for several people's names.

### Example showing all the received recognizing events (`T`) an

[2021-01-04 19:23] yohaddad commented on #68000
Thank you for the heads up, I just submitted the edit for this.

-YH

From: VikasPullagura-MSFT <notifications@github.com>
Sent: Monday, December 21, 2020 10:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yousef Haddad <yohaddad@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is family 5 releases Typo ? (#68000)

@toakiyos<https:

[2021-01-04 19:23] IngridAtMicrosoft commented on #68305
Hi @jzhouw, this document should be helpful.

https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-metrics-howto

See especially step #3

Click the RESOURCE box to select the resource you want to monitor. That will open a dialog for you to select the streaming endpoint you want to add to the chart.

#please-close

[2021-01-04 19:23] #68305 closed

[2021-01-04 19:26] jasonsue53 commented on #68338
This was my entry point to get started with using AMS through Node.  https://docs.microsoft.com/en-us/azure/media-services/latest/configure-connect-nodejs-howto   It repeatedly points towards "azure-arm-mediaservices" so that's what I used.  The sample you publish also uses that SDK https://github.com/Azure-Samples/media-services-v3-node-tutorials

[2021-01-04 19:26] kzuenkler-avanade commented on #67953
Hi Ram,

sorry, that I could not respond in time.
Here are the files, which cause errors when uploading.
The documentation must mention that UTF-8 BOM format must be used, when special language characters are used like in the example here.

Best regards
Klaus

From: Ram <notifications@github.com>
Sent: Mittwoch, 23. Dezember 2020 05:38
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
C

[2021-01-04 19:28] kzuenkler-avanade commented on #67953
Text of one of the SSMl files:
<speak version="1.0" xmlns="http://www.w3.org/2001/10/synthesis" xmlns:mstts="http://www.w3.org/2001/mstts" xmlns:emo="http://www.w3.org/2009/10/emotionml" xml:lang="da-DK"><voice name="Microsoft Server Speech Text to Speech Voice (da-DK, ChristelNeural)"><prosody rate="-5.00%">Ønsker du personlig betjening: tast "et"</prosody><break strength="x-weak" /><prosody rate

[2021-01-04 19:28] IngridAtMicrosoft commented on #68338
Thanks @jasonsue53.

[2021-01-04 19:30] YutongTie-MSFT commented on #68367
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-04 19:32] YutongTie-MSFT commented on #68368
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-04 19:34] petersladek commented on #57455
AFAIK documentation is correct. You pretty much almost always want filtering both based on IP ACLs and X-Azure-FDID header. IP restriction on front door address space is not enough - if I create front door in my subscription I would be able access your backend. Validating the X-Azure-FDID header without IP restrictions would mean you would be filtering all traffic - it has performance implications

[2021-01-04 19:36] rkganji commented on #36458
@shubDhond Any update on this?

[2021-01-04 19:41] kenwith commented on #57180
Thank you all for the feedback. I have synced with @japere and have a PR that should go live today that captures this thread and updates the article. Very much appreciated.

#please-close

[2021-01-04 19:41] #57180 closed

[2021-01-04 19:41] lmasieri opened #68369 "Article needs refreshed screenshots"
This article needs refresh. IoT Central CDE screenshots are stale.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e433fb86-7028-39b6-95bf-260231313503
* Version Independent ID: 4de0616e-1ed5-2a3a-3ea9-f7e05ee79b37
* Content: [Extend Azure IoT Central with custom rules and notifications](https://docs.microsoft.com/en-us

[2021-01-04 19:44] memildin commented on #68358
Hi @ran-ten21, thanks for taking the time to share your feedback.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-01-04 19:44] #68358 closed

[2021-01-04 19:48] miqm commented on #68206
awesome!

[2021-01-04 19:56] SatishBoddu-MSFT commented on #68289
Hello @nammyoho Just checking back, are you still facing the same issue?

[2021-01-04 19:59] sdgilley commented on #68276
Thanks for your feedback, @msdpalam.  The interface has changed slightly from what was in the article.  The new instructions should be available later today.  The new steps are:
 1. On the **Datastore selection** form, select **Previously created datastore**, then click on the datastore name and select **Select datastore**.
 2. On the next page, verify that the currently selected datastore is corr

[2021-01-04 19:59] secpapa opened #68372 "Additional event log samples"
Would it be possible to have sample event log messages for all event IDs, maybe under the FAQ section? At least for Admin and Operational logs.
ProxyEvents.man and DCAgentEvents.man both contain several event IDs that are not documented here. It would be beneficial to have all of the descriptions up front when configuring reporting within a SIEM platform.

---
#### Document Details

⚠ *Do not edit

[2021-01-04 20:00] JamesInDenver opened #68373 "Page layout versions calls out versions not in use"
This page refers to layout versions of the pages that are not available in B2C.  The versions listed above 1.2 for selfasserted and unifiedssp cannot be used either with out of the box flows or custom policies (unless I'm missing something?).  Attempting to reference a higher version in custom policy throws a validation error stating that: The available versions are: '["1.0.0","1.2.0"]'.

---
####

[2021-01-04 20:01] #68276 closed

[2021-01-04 20:08] msftradford commented on #54441
Addressed with MicrosoftDocs/azure-docs-pr#141841

#please-close

[2021-01-04 20:08] #54441 closed

[2021-01-04 20:08] IngridAtMicrosoft commented on #61847
I am investigating the localization process of Docs.

[2021-01-04 20:11] ChaitanyaNaykodi-MSFT commented on #68254
Hello @calebsmith411, Currently marking the API as depreciated is not supported currently by API Management. There is an [open feature request](https://feedback.azure.com/forums/248703-api-management/suggestions/6684898-mark-api-operations-as-obsolete-deprecated) for the same, please fell free to upvote it.
Regarding the issue where the version identifier is occurring twice in the URL, you can fol

[2021-01-04 20:11] #68254 closed

[2021-01-04 20:12] JamesTran-MSFT commented on #68372
@secpapa
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 20:13] SatishBoddu-MSFT commented on #44383
Hello @jacqueskang Please create a new post or question on Github documentation feedback page or on [Microsoft Q&A-Azure-IoT-Hub](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html)

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-01-04 20:17] korggy opened #68374 "Forgets to mention the ASP.NET Core Logging Integration extension"
After several hours of research I determined that you must go to Extensions and install/update the ASP.NET Core Logging Integration extension to enable Application Logging, otherwise you won't get anything. Having the latest version of the extension is important--if it's an older version, you may not get any Application Logging.

After installing/updating the ASP.NET Core Logging Integration exten

[2021-01-04 20:19] SatishBoddu-MSFT commented on #68256
Hello @snekkermoen Thanks for the product-question, We are checking on this with our team.

[2021-01-04 20:21] SatishBoddu-MSFT commented on #68369
Hello @lmasieri Thanks for the feedback,
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-01-04 20:24] MarileeTurscak-MSFT commented on #68361
I think it is clear. The sentence above says, "This article describes how to program directly against the protocol in your application using any language."

It's saying to use MSAL when possible to acquire tokens and call secure APIs, rather than programming directly using the OAuth 2.0 authorization code flow.

+ @hpsin in case I missed anything.

If you still think that something is unclear or n

[2021-01-04 20:24] #68361 closed

[2021-01-04 20:39] MSEvanhi commented on #67806
Hey folks, JIT is not supported for Service Catalog Managed applications. The JIT feature in docs is for cross tenant JIT. You can use Azure Privileged Identity Management normally for Service Catalog managed applications and gain access through a combination of that and the identities you authorize when defining the app.

[Docs for PIM](https://docs.microsoft.com/en-us/azure/active-directory/priv

[2021-01-04 20:39] baanders commented on #67052
@Mja101  Hello! Checking back in with you to see whether anything has changed, or whether you are still experiencing the same issues described earlier in this thread.

---
While we'll continue to debug here, I also wanted to offer you another resource in the meantime to broaden your sources for potential assistance, as this can sometimes give more immediate resolution for personalized scenarios th

[2021-01-04 20:45] MicrosoftGuyJFlo commented on #68281
As mentioned in the doc security defaults is not intended as a method for customers who need customization. It is designed for customers who need an easy button to enable MFA and don't want to configure anything.

If you need the ability to customize MFA settings you will need to enable Conditional Access based Azure AD Multi-Factor Authentication.

[2021-01-04 20:45] artisticcheese opened #68377 ""identityIds" property is depreciated. Examples are no longer valid"
User assigned identity example are not longer valid. Attempting to use those will end up with error below

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dada714-f867-2a46-6b94-eaea6e1da966
* Version Independent ID: 25dc8f50-52c6-3c2b-ade6-c5d8258b74ec
* Content: [Configure managed identities on Azure VM using t

[2021-01-04 20:49] Mja101 commented on #67052
Hi @baanders,

I will close the issue considering the original problem was resolved. Due to other priorities I cannot continue on this for a couple weeks so I will reach out in the future if required.

Thanks for the help.

Cheers

[2021-01-04 20:49] #67052 closed

[2021-01-04 20:50] #68377 closed

[2021-01-04 20:54] baanders commented on #67052
@Mja101  Ok-- thank you for the response and status update. And yes, feel free to continue reaching out and/or utilizing the Q&A forum for future support that might be needed!

[2021-01-04 20:55] spelluru commented on #68319
@HarithaMaddi-MSFT - I just tried the code and it worked fine for me. I am using the following environment:

- Python 3.7.
- azure-eventhub 5.2.0
- azure-storage-blob 12.6.0
- avro-python3 (1.10.1)

I will mention them as prerequisites in the article. Let me know what packages and the Python version you are using. Thanks.

[2021-01-04 20:57] danmyhre commented on #68281
Understood, but I think the details I asked about should still be added to the article as it is too vague.  Need more details on what exactly these defaults are.

[2021-01-04 21:00] almscl opened #68378 "User flow section not visible in this document"
[Enter feedback here]

I shared this documentation: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-user-flow with a group of users and just today I noticed that the default User flow section is not applicable anymore and this document has been updated. Can you please clarify the reason and if this was indeed a mistake ? should we fall

[2021-01-04 21:01] Himurashi opened #68379 "Empty fields for AssignedDirectly and AssignedFromGroup"
Hi team,

The fields mentioned in the title are coming up empty when running this script:

#the license SKU we are interested in. use Get-MsolAccountSku to see a list of all identifiers in your organization
$skuId = "tenant:ENTERPRISEPACK"
#find all users that have the SKU license assigned
Get-MsolUser -All | where {$_.isLicensed -eq $true -and $_.Licenses.AccountSKUID -eq $skuId} | select `
    O

[2021-01-04 21:07] amenarde commented on #68014
Hi @mcurko, this document is specifically about securing service remoting for inter-service remoting calls. The main doc for service remoting is here https://docs.microsoft.com/azure/service-fabric/service-fabric-reliable-services-communication-remoting.

FabricClient is for talking to SF, which may include management operations, or in the case of inter-service communication, for resolving the loc

[2021-01-04 21:12] MarileeTurscak-MSFT commented on #68359
I made a pull request to update this but will leave it open for confirmation from @hahamil

https://github.com/MicrosoftDocs/azure-docs-pr/pull/142130

[2021-01-04 21:12] #68359 closed

[2021-01-04 21:26] TravisCragg-MSFT commented on #68320
@chandrapola What exact change did you expect to happen? fstrim discards unused blocks, it does not unmount / change the mount of an existing mounted file system.

[2021-01-04 21:26] A132770 commented on #57557
@astaykov Just adding to your comment. If you request a v1.0 token (I'm using the MSAL library) with a scope like `xxx-default-app-guid/YOUR_SCOPE`, things will also work because the resulting token audience will be `aud: xxx-default-app-guid`

if your v1.0 token request utilizes the full URI in the scope, e.g. `https://xxx-default-app-guid/YOUR_SCOPE`, the resulting audience will be `aud: https:/

[2021-01-04 21:30] TravisCragg-MSFT commented on #68322
@msftnadavbh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-04 21:34] KranthiPakala-MSFT commented on #68360
@sijucm
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-04 21:36] MarileeTurscak-MSFT commented on #68378
@almscl
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 21:36] TravisCragg-MSFT commented on #68203
@csharpfritz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-04 21:36] #68203 closed

[2021-01-04 21:46] JamesTran-MSFT commented on #68373
@JamesInDenver
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-04 21:46] KranthiPakala-MSFT commented on #68364
@sijucm
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-04 21:48] JamesTran-MSFT commented on #68372
@secpapa
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-04 22:01] jeevansd commented on #65325
@zchia I think this is a good ask. We should add a note here.

[2021-01-04 22:06] PatrickFarley commented on #67964
@berhir Looks like you are correct. This looks like an unidentified issue, so please take a look at [this document](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fcognitive-services%2Fcognitive-services-support-options&data=02%7C01%7Cpafarley%40microsoft.com%7Cdf4deeaf12d84c1dd11808d7729f898f%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C63710

[2021-01-04 22:06] #67964 closed

[2021-01-04 22:12] jacqueskang commented on #68148
@XToinho Seems that Arduino dashboard requires those dependencies be built & packaged in a particular manner which is not trivial to figure out.

[2021-01-04 22:27] CaseyB-NuAxis opened #68382 "ServiceNow Connector App (Broken for FedRamped URL's)"
Hi,

Currently the  Connector App does not allow you to put in another URL when the servicenow instance happens to not follow the standard URL convention.  (Step 5 in Provisioning Part)

Can we get a way to change this on the backend? I believe your app is trying to figure out the URL automatically by entering in the instance name (then appending .service-now.com) to it to find the URL. However th

[2021-01-04 22:33] MicrosoftGuyJFlo commented on #68281
I will forward your question to the Program Manager who owns the feature. Have documented as much information as they have given me.

[2021-01-04 22:39] MicrosoftGuyJFlo commented on #68281
Email out to PG for followup.

[2021-01-04 22:41] MicrosoftGuyJFlo commented on #68046
It is still there. Just a checkbox now instead of a radio button. Closing. #please-close

[2021-01-04 22:41] #68046 closed

[2021-01-04 22:44] danmyhre commented on #68281
Thanks @MicrosoftGuyJFlo !

[2021-01-04 22:50] MicrosoftGuyJFlo commented on #67798
Message out to PG for feedback. Cannot confirm this info myself.

[2021-01-04 22:51] MicrosoftGuyJFlo commented on #67469
#please-close

[2021-01-04 22:51] #67469 closed

[2021-01-04 22:52] MicrosoftGuyJFlo commented on #67351
#please-close Will try to clarify and add to a future update to docs.

[2021-01-04 22:52] #67351 closed

[2021-01-04 22:53] MicrosoftGuyJFlo commented on #67330
#please-close

[2021-01-04 22:53] #67330 closed

[2021-01-04 22:53] MicrosoftGuyJFlo commented on #67327
#please-close

[2021-01-04 22:53] #67327 closed

[2021-01-04 22:53] MicrosoftGuyJFlo commented on #67320
#please-close

[2021-01-04 22:53] #67320 closed

[2021-01-04 22:54] MicrosoftGuyJFlo commented on #67160
#please-close

[2021-01-04 22:54] #67160 closed

[2021-01-04 22:54] MicrosoftGuyJFlo commented on #67159
#please-close

[2021-01-04 22:54] #67159 closed

[2021-01-04 22:54] MicrosoftGuyJFlo commented on #67157
#please-close

[2021-01-04 22:54] #67157 closed

[2021-01-04 22:54] MicrosoftGuyJFlo commented on #67129
#please-close

[2021-01-04 22:54] #67129 closed

[2021-01-04 23:03] jasonnutter commented on #68037
This is by design, as the `Enter_the_Graph_Endpoint_Here` is a placeholder for the Graph endpoint (usually `https://graph.microsoft.com/v1.0/`) when sample compiled by the Azure Portal.

[2021-01-04 23:05] jasonnutter commented on #68037
I do agree that table in the documentation should be updated to include replacing that string. cc @jo-arroyo @hamiltonha We should make sure that gets updated for the v2 docs.

[2021-01-04 23:06] jasonnutter commented on #68037
#assign @hamiltonha

[2021-01-04 23:26] MicrosoftGuyJFlo commented on #67798
@stephenc01 do you have an AppID I can provide to the PG they can refer to to troubleshoot?

[2021-01-04 23:30] chetansriv commented on #66605
@humbertocg We have made the changes, please review.

#please-close

[2021-01-04 23:30] #66605 closed

[2021-01-04 23:32] knicholasa commented on #66044
Thank you @taylorchasewhite for your thoughtful feedback on the doc and @guardrex for your help as well. I have added a note that points to the documentation @guardrex mentioned to the top of this doc, and I am kicking off a discussion about merging the sample code here with other [samples](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code) we have on GitHub which shou

[2021-01-04 23:36] MicrosoftGuyJFlo commented on #50204
#please-close

[2021-01-04 23:36] #50204 closed

[2021-01-04 23:37] MicrosoftGuyJFlo commented on #52350
#please-close

[2021-01-04 23:37] #52350 closed

[2021-01-04 23:37] MicrosoftGuyJFlo commented on #56896
#please-close

[2021-01-04 23:37] #56896 closed

[2021-01-04 23:38] MicrosoftGuyJFlo commented on #57777
#please-close No response from Product Group

[2021-01-04 23:38] #57777 closed

[2021-01-04 23:39] MicrosoftGuyJFlo commented on #58739
#please-close no response from product group

[2021-01-04 23:39] #58739 closed

[2021-01-04 23:41] MicrosoftGuyJFlo commented on #60297
@EmilSPL I am going to revise this doc soon.

[2021-01-04 23:41] MicrosoftGuyJFlo commented on #60582
#please-close No response from Product Groups

[2021-01-04 23:41] #60582 closed

[2021-01-04 23:43] giterdn commented on #58739
Personally, I would have re-sent the request before closing due to no response.  There isn't incentive to provide feedback to articles otherwise.

[2021-01-04 23:44] JamesTran-MSFT commented on #68382
@CaseyB-NuAxis
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-04 23:46] AdamGrossTX commented on #60582
Why would this get closed? Has anyone from the PG even looked at this?

[2021-01-04 23:48] MashaMSFT commented on #67906
@kfarlee  would you be able to assist?

Thanks!
Masha from the SQL Docs team
#assign:kfarlee

[2021-01-04 23:52] JamesTran-MSFT commented on #68379
@Himurashi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-04 23:52] MashaMSFT commented on #67481
@kfarlee would you be able to assist?

Thanks!
Masha from the SQL Docs team
#assign:kfarlee

[2021-01-04 23:54] soumag opened #68386 "Enabling autoscale throughput for existing containers"
This is related to enabling the auto scale throughput for existing containers. In one section it is mentioned that "**In the current release, he Azure portal is the only way to migrate between autoscale and standard (manual) provisioned throughput**", however, at other place, it is mentioned that autoscale max throughput can be changed using the following API
_**await container.ReplaceThroughputAs

[2021-01-05 00:04] knicholasa commented on #66044
#please-close

[2021-01-05 00:04] #66044 closed

[2021-01-05 00:21] kjyam98 commented on #66741
#reassign: @hamiltonha

[2021-01-05 00:22] kjyam98 commented on #66739
#reassign: @hamiltonha

[2021-01-05 00:22] kjyam98 commented on #66101
#reassign: @hamiltonha

[2021-01-05 00:24] JamesTran-MSFT commented on #68379
@Himurashi
Thank you for your detailed post! Using the below commands I was able to replicate your issue.

[code]

![image](https://user-images.githubusercontent.com/36619112/103592532-2197c980-4ea8-11eb-9f64-692ea49fc2b7.png)
Azure Active Directory -> Licenses -> All Products -> Licensed Users
![image](https://user-images.githubusercontent.com/36619112/103592786-d29e6400-4ea8-11eb-8be3-ec7d25a0af

[2021-01-05 00:26] JamesTran-MSFT commented on #68072
@gsimardnet
Happy New Year! I just wanted to check in and see if you had any other questions?

Thank you for your time and patience throughout this issue.

[2021-01-05 00:32] danielsollondon commented on #67019
I have added Deb10 support to the page. Endorsed means there is a business and engineering relationship with the distro vendor, so if the customer has setup the endorsed image correctly, they should receive support, @linuxelf001 - can you keep me honest here please.

[2021-01-05 00:34] MicrosoftGuyJFlo commented on #60582
Hey Adam if you want to email me I am happy to chat offline. Email is in my profile.

[2021-01-05 00:36] MicrosoftGuyJFlo commented on #58739
I have. I am sorry. I have followed up multiple times with the Product Group to no avail. If you want to email me I am happy to chat offline. Email is in my profile.

[2021-01-05 00:37] MicrosoftGuyJFlo commented on #66624
#reassign @SanDeo-MSFT

[2021-01-05 00:40] idm-kiyoshi opened #68389 "The url of idp validation guideline is not found"
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-compatibility#idp-validation

I can't find the link to the idp validation guideline documentation because [the guideline link](https://www.microsoft.com/download/details.aspx?id=56843) on this page is not appropriate. Please correct the link.

The link is described in the following part .
` If you would like to test

[2021-01-05 00:48] qm13 commented on #68263
@VisionaryMind I believe you are using ARM. If that is the case you need to use https://packages.microsoft.com/ubuntu/18.04/multiarch/prod instead of https://packages.microsoft.com/ubuntu/18.04/prod. This is documented here https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#debian-package.

[2021-01-05 00:55] YutongTie-MSFT commented on #68288
@msdpalam Thanks Meer, I will update the document. Happy New Year.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-01-05 00:55] #68288 closed

[2021-01-05 01:10] jzhouw commented on #68305
Hi I meant the step 5, I cannot find the "Egress" metric from the dropdown but the docs does show it.
![image](https://user-images.githubusercontent.com/1085984/103595114-98c76f00-4f35-11eb-9956-a5e17642d7ba.png)

[2021-01-05 01:18] MarileeTurscak-MSFT commented on #68306
I agree @jmprieur

@neemevool please open an issue on the other repo or provide the details asked for and we can help you resolve this.

[2021-01-05 01:18] #68306 closed

[2021-01-05 01:21] KumariSupriya commented on #64154
This is still being worked on and we will communicate with Doc updates when we have a fix.

[2021-01-05 01:21] IngridAtMicrosoft commented on #68305
The doc needs to be updated.  Click on the Scope field, then filter and select the Streaming Endpoint you want to monitor under under the account.  You have the account selected **not** the streaming endpoint in the above screenshot.

[2021-01-05 01:25] KumariSupriya commented on #63619
This has been fixed and addressed in the latest document PR. #please-close

[2021-01-05 01:25] #63619 closed

[2021-01-05 01:26] KumariSupriya commented on #64154
#please-close

[2021-01-05 01:26] #64154 closed

[2021-01-05 01:26] #64440 closed

[2021-01-05 01:29] tdihp opened #68390 "Kusto query error on summarizing pod status"
The below two lines doesn't work for the phase count query:

[code]

The first line should be using `ClusterName` to match the query parameters, otherwise the 2nd summarize doesn't recognize `ClusterName` field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4873260a-eaeb-2ff9-ee38-36f3243b697f
* Version Independent ID

[2021-01-05 01:35] MicrosoftGuyJFlo commented on #65113
#reassign @JustinHa Can you follow up with the new PM on this?

[2021-01-05 02:21] jeevansd commented on #67928
@zchia Can you please add this guidance in our documentation?

[2021-01-05 03:00] spelluru commented on #68346
@HarithaMaddi-MSFT @yichungyu

CC: @serkantkaraca

Here's the response from Serkant (CCed above):

"Today we support partition scale out on **dedicated** offering only. Partition scale out is available through both ARM (Azure Resource Manager), management endpoints, and APIs. ".

We will need to update documentation to reflect this.

[2021-01-05 03:08] linuxelf001 commented on #67019
No, they are not endorsed.

Customers who bring their own image, Microsoft support will assist with issues related to Azure platform or services and may offer guidance for issues within Linux. For more details on this topic - https://docs.microsoft.com/en-us/troubleshoot/azure/cloud-services/support-linux-open-source-technology

[2021-01-05 03:22] chandrapola commented on #68320
Yes it would be great if you can show the unused blocks being deleted , like the following scenario ,

a) Add a large file to the mounted volume ( based on the minimum block size on the file system )
b) Observe the usage being billed in the cost analysis of the Azure cost analysis.
c) Delete the file from the mounted volume.
d) use fstrim to identify that the blocks are cleaned up.
e) User should

[2021-01-05 03:26] BhargaviAnnadevara-MSFT commented on #68390
@tdihp Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-01-05 04:11] lichaozhao opened #68396 "This article is so misleading"
I can not answer the question after reading this article, "how to use distcp migrate on-premise hadoop data to azure blob?" .  but I can find it from another url, which is not on azure docs, "https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/hdinsight/hadoop/apache-hadoop-on-premises-migration-best-practices-storage.md"

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-01-05 04:15] AnuragSharma-MSFT commented on #68386
@soumag Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-05 04:16] KranthiPakala-MSFT commented on #68374
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-05 04:17] AnuragSharma-MSFT commented on #68142
@arpit9mittal We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-05 04:17] #68142 closed

[2021-01-05 04:26] ram-msft commented on #68298
@chuksgpfr Thanks for the details, Could you please help with the error details that you are facing.

[2021-01-05 04:27] AjayKumar-MSFT commented on #68245
Rich, Your feedback has been shared with the content owner for further review.

[2021-01-05 04:34] AnuragSharma-MSFT commented on #68337
@hellojxg Thanks for providing the feedback. I was going through the document and it mentions 30 seconds execution time.
![image](https://user-images.githubusercontent.com/66360845/103606783-4ab66980-4f3d-11eb-9195-9371826bc31a.png)

Could you please elaborate the issue a little more?

[2021-01-05 04:41] vipulsparsh commented on #68389
@idm-kiyoshi Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath  Can you have a look

[2021-01-05 04:44] #68302 closed

[2021-01-05 04:51] vipulsparsh commented on #68138
@Sayuri-Sato The best thing would be to let support investigate why Edge was not able to access the resource without App configuration policy. Ideally all first party apps should behave the same. Open a Intune support ticket with us and investigate further.

[2021-01-05 04:53] CHEEKATLAPRADEEP-MSFT commented on #68396
@lichaozhao  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-01-05 05:03] VikasPullagura-MSFT commented on #68000
@yohaddad Thanks for updating the document.

[2021-01-05 05:03] #68000 closed

[2021-01-05 05:04] kfarlee commented on #67481
I’ll take a look

From: Masha at MSFT <notifications@github.com>
Sent: Monday, January 4, 2021 3:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kevin Farlee <kevin@farlee.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] PS script creates resource named as port (e.g. 1433) (#67481)

@kfarlee <https://github.com/kfarlee>  would you be able to a

[2021-01-05 05:04] PRMerger6 commented on #67481
kfarlee

—
You is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-05 05:17] SubhashVasarapu-MSFT commented on #68277
@tdenesevich, Appreciate your patience. We have assigned this issue to the respective content author for doc approval.

[2021-01-05 05:26] SubhashVasarapu-MSFT commented on #68297
@MTijbout, the doc has been updated accordingly. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-05 05:26] #68297 closed

[2021-01-05 05:30] tlourey opened #68397 "PNG Issue in Dark Mode"
A PNG on this page have transparent backgrounds but are items on the diagram are coloured assuming a white background.

https://docs.microsoft.com/en-us/azure/postgresql/media/concepts-aad-authentication/authentication-flow.png has a dashed border that doesn't seem to come up in dark mode but does in light mode.

Issue similar to [https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3699](ur

[2021-01-05 05:42] tamaejim opened #68398 "Add one item to the "Prerequisites” section"
Can you add the following information to the "Prerequisites” section?
It is a mandatory requirement to support BGP 4-byte ASN to establish connectivity between AVS and On-premise.

- Azure VMware Solution uses 4-byte Public ASN to advertise routes. Make sure that all routers including your ExpressRourte Provider's service support 4byte ASN.

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-05 05:44] rockboyfor opened #68399 "`az ad app permission admin-consent` cmdlet not running successfully on server component."
When we run the `az ad app permission admin-consent` cmdlet to grant the **server component** permission,
We find that the grant action did not run successfully through the CLI, could you please help to confirm and refresh the document?

Please refer to the following information.

| Category      |  Description               |
| --------------|-------------------|
| Environment |  **Azure China Cl

[2021-01-05 06:06] psmanhas commented on #68399
@rockboyfor Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-01-05 06:18] amanmcse commented on #68279
@jennirethi closing out the issue. Feel free to tag me in your reply if you have any question.

[2021-01-05 06:18] #68279 closed

[2021-01-05 06:41] amanmcse commented on #68292
@gopal-amlekar Please find my comments inline:

**Is step 7 above necessary? If so, is it that the documentation is not updated for that? I did see some pluralsight course and many other videos, documents but didn't find any mention of this step anywhere.**

This step is required only when your app is using Implicit flow to acquire token. If the app is using Authorization Code grant flow or ROPC f

[2021-01-05 06:41] #68292 closed

[2021-01-05 06:43] amanmcse commented on #68299
@amyndhupelia Closing out the issue. Feel free to tag me in your reply if you have any question.

[2021-01-05 06:43] #68299 closed

[2021-01-05 06:53] SubhashVasarapu-MSFT commented on #68332
@jpcast88, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-05 06:53] #68332 closed

[2021-01-05 06:53] martgut opened #68401 "Algorithm for device connection flickering detection?"
The document says: "...If the device connection is flickering, which means the device connects and disconnects frequently, we will not send every single connection state..."
-> What is the algorithm to detect flickering? Can this please described in more details? Under which circumstances, a periodic snapshot is used instead?

Rationale: We run into issues, where device connection states are not r

[2021-01-05 07:02] weng5e opened #68402 "The first ARC VM extension example is not working"
The first example of creating VM extension is not working. It will fail complaining about the **extension cannot be found**.

weng5e@5e-box:~$ az connectedmachine extension create --machine-name "5e-arc-ub1" --name "OmsAgentforLinux" --location "westus2" --type "CustomScriptExtension" --publisher "Microsoft.EnterpriseCloud.Monitoring" --settings "{\"workspaceId\":\"ec44a9b8-6e7e-40ff-abbe-3e585f78

[2021-01-05 07:15] AshokPeddakotla-MSFT commented on #68401
@martgut Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-05 07:20] SwathiDhanwada-MSFT commented on #68402
@weng5e Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-05 07:29] deomaximo commented on #68148
I hope this will be fixed.  None of the MxChip IoT demos that require Arduino library works.  I tried Platform IO but that didn't take me very far.  Mbed studio was the closest thing.

[2021-01-05 07:31] amanmcse commented on #68296
@mikejboss If you are using personal account, you can disable MFA from [Account Settings](https://account.live.com/proofs/manage/additional). If it is a work account, you need to contact the admin of your organization to exclude your account from MFA registration policy.

We use this platform to fix documentation related issues. For product feedback please, use our [feedback portal](https://feedba

[2021-01-05 07:31] #68296 closed

[2021-01-05 07:32] MaxKinny opened #68403 "How to receive the telemetry data from IoT Hub by using SDK?"
This [tutorial](https://docs.microsoft.com/en-us/learn/modules/remotely-monitor-devices-with-azure-iot-hub/ ) only teaches us how to send and receive telemetry data directly using Azure IoT SDK. In the tutorial, the virtual devices directly use the client.sendEvent() method.

However, in the case of the IoT Edge device, we use IoT Edge Hub to route this telemetry message to IoT Hub. Concretely, de

[2021-01-05 07:35] robinhultman commented on #36458
I tried to do this as suggested but after I initially create the Function App with the "WEBSITE_CONTENTSHARE" setting I can't remove it. I tried removing it from the template and run it again and the deployment succeeds but the setting is still there. Same when I try to manually remove it from the portal.

[2021-01-05 07:39] AnuragSharma-MSFT commented on #68347
@brianpdk We cannot set the retention days to 0 as it is not a valid configuration. if we try to do that we receive the error message "**_Set-AzSqlDatabaseBackupShortTermRetentionPolicy: The retention days of 0 is not a valid configuration. Valid backup retention in days must be between 1 and 35_**".

Please refer to below link for more details:
https://docs.microsoft.com/en-us/rest/api/sql/backup

[2021-01-05 08:14] amanmcse commented on #68340
@rwatjen  Both URL formats work as highlighted below:
![image](https://user-images.githubusercontent.com/33834131/103621675-92e48480-4f5b-11eb-9276-a376977c1865.png)

When policy name is passed as URL parameter, it must be p=< Policy Name >. I am updating the document with this information. Thank you for pointing this out.

[2021-01-05 08:15] SnehaAgrawal-MSFT commented on #68231
@HeidiSteen Sure, Thanks for sharing insights. @rasmus-s Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-05 08:18] christianigay commented on #67454
thank you for this. it works now

On Tue, Jan 5, 2021 at 1:20 AM ShashiShailaj-MSFT <notifications@github.com>
wrote:

[2021-01-05 08:31] SnehaAgrawal-MSFT commented on #68287
@ddorsett We will close this out but if you feel you need more information please just let us know.

[2021-01-05 08:31] #68287 closed

[2021-01-05 08:49] #68340 closed

[2021-01-05 08:54] SubhashVasarapu-MSFT commented on #68277
@tdenesevich, Also Could you please confirm that document you were referring to here? Looks like you are following this [doc](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-addresses#ipv6).

[2021-01-05 08:59] DufferFromParis opened #68405 "Modify DNS considerations"
Hi,

This part is not clear I think : "Use the Azure Active Directory (Azure AD) domain controllers deployed on the Hub (described in Identity considerations) as name servers."

There is no such thing as Azure AD domain controllers, what is meant here is domain controllers deployed in Azure but it doesn't "belong" to Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-01-05 09:08] a-ibolog opened #68406 "conflictual information"
the following paragraph says in short that you have to reinstall ad connect to change source anchor

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-design-concepts#changing-the-sourceanchor-attribute

this is no longer the case, as stated in this same article, in a lower section

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-design-concept

[2021-01-05 09:31] vipulsparsh commented on #68406
@a-ibolog  Thanks for reaching out.  For changing the source anchor you must re-install the AAD connect. The express or custom method lets you configure it while a fresh installation.  You cannot have the custom mode running after a installation. It has to be configured at first go.

[2021-01-05 09:38] AnuragSharma-MSFT commented on #68397
@tlourey Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-05 09:46] HarithaMaddi-MSFT commented on #68346
@spelluru - Thanks for looking into it and sharing the details.

[2021-01-05 10:01] tigerdeccan opened #68409 "This document need updating"
This Document mentions Az.Profile module is needed but Az.Profile Module is replaced with Az.accounts . so please update this appropiately. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d18144-dd03-c659-f0a4-c0ab13d3d343
* Version Independent ID: ecdcbda2-259f-4992-57d8-c448a3934011
* Content: [Send an email

[2021-01-05 10:33] BhargaviAnnadevara-MSFT commented on #68409
@tigerdeccan Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-01-05 11:00] BhargaviAnnadevara-MSFT commented on #68308
@NickBishop2112 Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-01-05 11:00] #68308 closed

[2021-01-05 11:04] sijucm commented on #29213
I found this accidentally and my curiosity is on why this is so. What is the possible relation between the indexing and TTL and from your example, only the flag is required and everything excluded. The permutations and combinations make not a lot of sense and I cannot try to remember what works with what. CosmosDB is unnecessary complex for no reason.

[2021-01-05 11:40] JayaChatterjee-MSFT commented on #68329
@CalebPaul Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-01-05 11:42] BhargaviAnnadevara-MSFT commented on #68331
@jpcast88 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-05 11:42] #68331 closed

[2021-01-05 11:46] DJTomos commented on #67829
Hi,

is there any update on this subject?

gr,
Tom

[2021-01-05 12:09] #68390 closed

[2021-01-05 12:09] BhargaviAnnadevara-MSFT commented on #68390
@tdihp Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-01-05 12:16] mbanck opened #68412 "Clarify how to change db user password via psql \password"
The page discusses how to create users, but somewhat glosses over the `@mydomain` (or whatever domain it is you're using) thing and how to change passwords. I am not talking about Azure Active Directory users here, but conventional Postgres database users.

It seems you're supposed to create the user without the `@mydomain`, but Azure forces you to append `@mydomain` to the username on login.

The

[2021-01-05 12:16] AshokPeddakotla-MSFT commented on #68403
@MaxKinny Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-01-05 12:22] mbanck commented on #68412
Oh, I just realized that `\password michael.banck` works, so that's an easy "work-around" that could be documented.

[2021-01-05 12:23] AshokPeddakotla-MSFT commented on #68403
@MaxKinny Thanks for trying Azure! We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would open an issue with your question on the [IoTEdge repository](https://github.com/Azure/iotedge/issues) or Microsoft QnA or

[2021-01-05 12:39] jkovacev commented on #45225
Did they say anything about planning to support dynamic rewriting and when ?

[2021-01-05 12:42] MaxKinny commented on #68403
@AshokPeddakotla-MSFT  Yes, please open an issue with this question on the IoTHub SDK repository or Microsoft QnA, or StackOverflow forums. Thanks.

[2021-01-05 13:06] DeanGross opened #68413 "Request for Diagram"
Please provide a diagram that shows how the app proxy connectors work with Azure and the on-premises systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f46e2c-47f2-51d5-7149-b66832993971
* Version Independent ID: 3dade80a-3064-50c2-dcd6-a4240bb89b82
* Content: [Understand Azure AD Application Proxy connectors](h

[2021-01-05 13:07] DeanGross opened #68414 "Preview duration"
The report has been in Preview for almost 2 years. When can we expect it to become GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48c465ba-b553-fabd-acd2-27ed54211c62
* Version Independent ID: ac0e0987-eff2-dab5-b3cb-367eb8ba2248
* Content: [Use the activity report to move AD FS apps to Azure Active Directory](http

[2021-01-05 13:20] kmetzger9 opened #68415 "Grammer error"
For regression task, the dataset to evaluate must has one column, named Regression Scored Labels, which represents scored labels.

Word "has" should be "have"
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773576c4-687f-d7b4-8b94-3f3f4cf357d6
* Version Independent ID: dcfa310b-d9d1-23a9-dac7-4a0cef529f65
* Content: [Evaluat

[2021-01-05 13:20] #68409 closed

[2021-01-05 13:21] spacecat opened #68416 "This feature is great"
Please don't remove it! Helps a ton when developing and doing a lot of testing when you're on a tight budget!

Just wanted to let you guys know ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-be23-5dcd-3c3146d5cf63
* Content: [Start and Stop

[2021-01-05 13:21] BhargaviAnnadevara-MSFT commented on #68409
@tigerdeccan Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-01-05 13:22] spacecat commented on #68416
Woops I might have removed references and stuff... but here's the page I was talking about...

https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster

[2021-01-05 13:25] shashishailaj commented on #68414
@DeanGross Thank you for your feedback . We will try to find this internally and update the thread.

[2021-01-05 13:26] vbrinza opened #68417 "A way to check when the auto upgrade is happening or scheduled to happen"
Please provide a way to check when the auto upgrade is happening or scheduled to happen.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AKS) cluster - Azure Kubern

[2021-01-05 13:26] DeanGross commented on #68275
@tarosler Thanks for the explanation. I'm trying to help my customers simplify there security operations and they would like to use fewer portals. They are not going to be happy to learn that they will still need to use the AAD portal to see identity alerts. It would be helpful if ASC included some links/views of the key data from AAD.

[2021-01-05 13:27] GitaraniSharma-MSFT commented on #68339
@bizinbarefeet . Could you please let me know at which step you are receiving this error and if you have a screenshot, could you please provide the same?

[2021-01-05 13:28] ram-msft commented on #68298
Thanks, Check out Bot Framework [Virtual Assistant](https://techcommunity.microsoft.com/t5/azure-ai/build-2020-introducing-bot-framework-virtual-assistant-1-0/ba-p/1407833) solution accelerator http://aka.ms/VirtualAssistant.

[2021-01-05 13:31] shashishailaj commented on #68413
@DeanGross Thank you for your feedback . Could you please check the article https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-application-proxy which have multiple details and screenshots on working of application proxy ?

[2021-01-05 13:44] chuksgpfr commented on #68298
@ram-msft there are no errors. I just want to know how to play PullAudioStream object (gotten from bot framework ) on xamarin forms

[2021-01-05 13:44] ram-msft commented on #68415
@kmetzger9 Thanks for the feedback! We will update accordingly.

[2021-01-05 13:49] XToinho commented on #68148
Interesting! I didn't know about that

[2021-01-05 13:55] VikasPullagura-MSFT commented on #68398
@tamaejim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-05 13:55] VikasPullagura-MSFT commented on #68398
@shortpatti
Can you please check and add your comments on this doc update request as applicable.

[2021-01-05 13:55] MonikaReddy-MSFT commented on #68417
@vbrinza -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-05 13:56] VikasPullagura-MSFT commented on #68405
@DufferFromParis
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-05 13:56] AshokPeddakotla-MSFT commented on #68416
@spacecat Thank you so much for the feedback and great words.
@palma21 FYI This is a great feedback. Kudos!!

[2021-01-05 14:02] VikasPullagura-MSFT commented on #67019
@danielsollondon Thanks for adding the details to the document.
@linuxelf001 Thanks for sharing the details.

[2021-01-05 14:02] VikasPullagura-MSFT commented on #67019
@juanandmsft
Hope the provided information is helpful.

[2021-01-05 14:16] rdaruich opened #68418 "update snippet url in azure docs"
you can update the snippet src url to cdn endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps - Azure Monitor](https://docs.microsoft.com/en-us/azure/az

[2021-01-05 14:26] dvanlaerhoven commented on #5717
@TingyiLi
@elepherai

Hi!

I'm struggling with the exact same problem.
I cannot find resources about converting it to ONXX format, could you give me a little push?

[2021-01-05 14:36] shortpatti commented on #68405
I'll work with the engineering team to clarify this more :)

[2021-01-05 14:36] shortpatti commented on #68398
I'll work with the engineering team to clarify this more :)

[2021-01-05 14:39] theonemcdonald opened #68421 "Amazon Business Documentation Needs Updating"
This support document is broken. I have been unable to successfully integrate Amazon Business with Azure AD following this guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b612c20-6995-2ae5-5d73-ef54ccf4afa2
* Version Independent ID: cfda3f69-819a-8e44-718e-e718e8eb0806
* Content: [Tutorial: Azure Active Director

[2021-01-05 15:10] porrascarlos802018 opened #68422 "please clarify in documentation"
can users rollback the change if they selected paid SLA, return to free tier for AKS SLA? if yes, how to.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-3476-9b5f-c800-2c528129c2e2
* Content: [Azure Kubernetes Service (AKS) w

[2021-01-05 15:13] MGoedtel commented on #68402
@weng5e - The example wasn't syntactically correct.  It should be - az connectedmachine extension create --machine-name "myMachineName" --name "OMSAgentForLinux" --location "eastus" --settings '{\"workspaceId\":\"myWorkspaceId\"}' --protected-settings '{\"workspaceKey\":\"myWorkspaceKey\"}' --resource-group "myResourceGroup" --type-handler-version "1.13" --type "OmsAgentForLinux" --publisher "Micr

[2021-01-05 15:17] porrascarlos802018 commented on #68422
https://docs.microsoft.com/en-us/azure/aks/uptime-sla#creating-a-new-cluster-with-uptime-sla
"Currently, if you enable Uptime SLA, there is no way to remove it from a cluster."

[2021-01-05 15:17] #68422 closed

[2021-01-05 15:19] MonikaReddy-MSFT commented on #68418
@rdaruich -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-05 15:35] mikejboss opened #68423 "Domain Email Account Should Not Be Classified as Work/School"
**Domain Email Account Should Not Be Classified as Work/School**

**_"If you are using personal account, you can disable MFA from Account Settings. If it is a work account, you need to contact the admin of your organization to exclude your account from MFA registration policy"_**

I give up. Yes, I am using a personal account as of mid-December.  Prior to that it was a work/school.  it was made a

[2021-01-05 15:37] marcoboffi opened #68424 "How build on ACR from private git repository?"
I would move build image step on ACR .
My source code is on private git repositories. HTTPS Endpoint is reachable only from intranet because IP address belongs to an azure vnet where I deployed git tool (Gitlab EE).
I don't understand from code example and [documentation](https://docs.microsoft.com/it-it/azure/container-registry/container-registry-tasks-overview#context-locations) if and how is th

[2021-01-05 15:42] jimdigriz commented on #67806
Could the 'jitAccessPolicy' error made a non-critical warning so the same template can be used for both the service catalog and marketplace?

[2021-01-05 15:45] DanielBirmingham opened #68425 "Password expiration policies note update request"
Under the "Password expiration policies" section (#set-password-expiration-policies-in-azure-ad), the note "Only passwords for user accounts that aren't synchronized..." should be updated to include "By default," (ie, "By default, only password for user accounts that aren't synchronized...").  When the "EnforceCloudPasswordPolicyForPasswordSyncedUsers" flag is set in Azure AD Connect sync, it is c

[2021-01-05 15:46] SumanthMarigowda-MSFT commented on #68259
@bendavis78  Apologies for the delay in responding here! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2021-01-05 15:46] #68259 closed

[2021-01-05 15:59] sumitsengupta opened #68426 "Fix confusion about table api support for CosmosDB change feed"
[Enter feedback here]

In the documentation page - on top we say that the page is applicable to all the apis - including **table api**. But in supported api table we say _table api is not supported_" This is confusing !!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Indep

[2021-01-05 16:00] ecfan commented on #68073
#assign @lauradolan

[2021-01-05 16:02] alscor opened #68427 "Can you add a section of "Explore data in datasets"?"
I am having a hard time to understand how to inspect/explore actual data in datasets.  Creating datasets is well-covered, then, it jumps right to Training models.

Data processing steps are often time and resource consuming.  Please add a section on that subject.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-

[2021-01-05 16:07] gsimardnet commented on #68072
@JamesTran-MSFT,

I was able to configure multi-tenant AD access by using custom policies.
It is much more complex and time consuming so I hope you will enable that for user flow in the future.

Thanks for your help!

[2021-01-05 16:07] xelossan opened #68428 "B2C custom policies - default localization working only for some strings"
Hi, I tried to create a custom policy based on Display Controls starter pack (https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/Display%20Controls%20Starterpack/LocalAccounts), but it looks like that localization isn't working as expected (I'm using default localization, not providing any custom strings).

On unified sing-in/sign-up page everything is corr

[2021-01-05 16:07] jsandersrocks opened #68429 "File system drivers not compatible with Azure Storage Triggers"
We should update this documentation as we discovered an issue with the FS drivers.  Due to the implementation, when uploading large files we get a notification when the file is first created, then again when the data has all be streamed.  This creates an issue with Azure Function Apps that are listening for the new file as there are two notifications and no reliable way to determine if the file ha

[2021-01-05 16:15] kenwith commented on #67829
@DJTomos - sorry for the delay over the holiday. I agree with you that looking at the documentation it seems to say that the connector does not need to be in the DMZ and can be close to the application. Which implies to me it can be inside the network.

It sounds like the questions specifically is around pass-through mode.

Let's loop the @japere who is the PM for this area. Jasmine - for pass-thr

[2021-01-05 16:21] MonikaReddy-MSFT commented on #68363
@JeffSmalley -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-05 16:21] #68363 closed

[2021-01-05 16:23] mattruma opened #68430 "Azure CDN Premium from Verizon profiles geo-filtering not taking trailing slash"
The docs say I should use a trailing slash for the paths that need to be geo-filtered, e.g. `/Photos/Strasbourg/`, the interface is not letting add that trailing slash, complains it is an invalid directory.

Is this an issue with docs or the UI?

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96825a08-0b8a-ed56-

[2021-01-05 16:31] kenwith commented on #68350
@pavelrozenberg - I can definitely add a note. However, I am not fully following what is needed.

Looking at the reference article the Split function https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/functions-for-customizing-application-data#split looks like it takes a string that is a the source to be split and also the string that should be used to split the string.

The

[2021-01-05 16:33] JamesTran-MSFT commented on #68421
@theonemcdonald
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-05 16:35] JamesTran-MSFT commented on #68428
@xelossan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-05 16:49] edisga opened #68431 "Missing a space in script"
[Enter feedback here]

Hello, just to review a quick feedback, in the following command

az aks create --resource-group wordpress-project --name wordpresscluster--node-count 1 --generate-ssh-keys

You are missing a space between --name and --node-count 1, if customers run the script from the page, they will get the following error:

UnrecognizedArgumentError: unrecognized arguments: 1

---
#### Do

[2021-01-05 17:12] DrEnnui opened #68432 "Quickstart describing legacy process"
Given the advent of Disk Encryption Sets, isn't the process described here outdated?  Working with new VMs, I only see options to encrypt using Encryption Sets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cfc05c-fcaf-0f60-614a-0eb9943baf1f
* Version Independent ID: 74b16deb-0d8a-c3af-af39-640b01706b49
* Content: [

[2021-01-05 17:13] maertendMSFT commented on #68262
@MGrasdal can you provide some more information about the VM you are trying to connect to?  What OS is it running?

[2021-01-05 17:17] JamesTran-MSFT commented on #68432
@DrEnnui
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-05 17:20] JamesTran-MSFT commented on #68072
@gsimardnet
I'm glad that you were able to configure multi-tenant AD access using custom policies, and I apologize for the time consuming process. If you'd like to enable this for User Flows, please feel free to leverage our [User Voice forums](https://feedback.azure.com/forums/34192--general-feedback) to suggest this feature be implemented.

Since your issue's resolved, I'll go ahead and close ou

[2021-01-05 17:20] #68072 closed

[2021-01-05 17:21] JamesTran-MSFT commented on #68257
@Stacks-88
Since I haven't received a response from your end regarding this issue, I'll go ahead and close out thread.

If you have any other questions or require additional support, please let me know.
Thank you for your time and patience throughout this issue.

[2021-01-05 17:21] #68257 closed

[2021-01-05 17:22] MarileeTurscak-MSFT commented on #68307
@MarekLani

They can't be used for that at the moment. The API connectors can only be used to alter the sign up part of a sign up and sign in or sign up user flows.

In this document near the note it was mentioned that In both of these cases, the API connectors are invoked during user sign-up, not sign-in.

And for your reference please refer this [Azure AD B2C API connectors for built-in user flo

[2021-01-05 17:22] #68307 closed

[2021-01-05 17:26] nunepalli opened #68433 "Subscription/region/resourcegroup for Member database in sql data sync group"
It's not clear whether the member database in sql data sync group should be in the same Subscription/region/resourcegroup as that of Hub database or in any Subscription/region/resourcegroup.

Can someone please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
* Version Indepe

[2021-01-05 17:27] JuGhithub opened #68434 "licensing prerequisite for hybride Azure Domain join?"
[Enter feedback here]

Hybrid Azure Domain Join also need an Azure Ad PE Lincense or juste Azure AD Join?

**License requirements**
Using this feature requires an Azure AD Premium P1 license. To find the right license for your requirements, see Comparing generally available features of the Free, Basic, and Premium editions.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-01-05 17:29] mimckitt commented on #67513
@Sara-Nicolini seems this is a localization issue. Assigning to you for your team to triage.

#reassign: @Sara-Nicolini

[2021-01-05 17:32] JamesTran-MSFT commented on #68425
@DanielBirmingham
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author (@Justinha)  to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-01-05 17:32] #68425 closed

[2021-01-05 17:36] RDukes425 opened #68435 "Can You Update Password Complexity Verbiage for Share Password and Device Password"
Can you please update the requirements for Share Password and Device Password to the below is outline on the Azure Government Portal

For share password:  The password must be alphanumeric, contain at least one uppercase letter, one lowercase letter, one special character, and one number. Only @ # - $ % ^ ! + = ; : _ ( ) special characters are allowed, I i L o O 0 characters are not allowed. The p

[2021-01-05 17:38] MGrasdal commented on #68262
Hi, I am using WS2016. My theory is that you need to implement the [SkipCACheck](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-pssessionoption?view=powershell-7.1) option in your code. When you run the Enable-AzVMPSRemoting command, a self-signed certificate gets installed into the local machine store of the Windows Azure VM. I believe you are not accounting for

[2021-01-05 17:41] JamesTran-MSFT commented on #68432
@DrEnnui
Based off the documentation, this isn't a legacy encryption process, the doc is just referring to a different encryption method (ADE) which is still currently used within Azure, the encryption method you're referring to, which uses Disk Encryption Sets is SSE+CMK.

[Storage Service Encryption with Customer Managed Keys](https://docs.microsoft.com/en-us/azure/virtual-machines/disk-encrypti

[2021-01-05 17:43] ajbrun commented on #58592
Hi @megvanhuygen - could you say why this issue has been closed? I'm having the same problem as originally reported. The documentation shows this screenshot:
![image](https://user-images.githubusercontent.com/16187357/103679897-5c1f6600-4f7d-11eb-9eee-88b78c6aab60.png)

But I currently see this:
![image](https://user-images.githubusercontent.com/16187357/103679965-6e010900-4f7d-11eb-8d2f-170278384

[2021-01-05 17:45] nunepalli commented on #68433
In the FAQ section, I see that I can sync between databases that belong to resource groups owned by different subscriptions.
Should the member database present in a different subscription be in the same region as that of Hub database?

[2021-01-05 17:46] GiftA-MSFT opened #68436 "Add definition for Average Precision"
Please add complete definition for average precision. Similar question asked in [Q&A](https://docs.microsoft.com/en-us/answers/questions/218920/metrics-for-azure-custom-vision.html?childToView=219570#answer-219570).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074ad73e-f611-d9e4-d612-0813148c9202
* Version Independen

[2021-01-05 17:46] ThomasWeiss commented on #29213
@sijucm When indexing is enabled, the `_ts` property (timestamp of last write) is automatically indexed. This index is required by the TTL feature to efficiently look up which documents have expired and should be deleted.

[2021-01-05 17:46] ronarieke opened #68437 "wrong code example used for related paragraph"
Good morning,
Please take a look at the following:
![image](https://user-images.githubusercontent.com/5808016/103680210-717b9c80-4f4b-11eb-896f-3ab21d06997e.png)
The code example references eventHubName, but should that be queueName?
Thanks!

Service Bus Queue output
If you want to forward events to a Service Bus Queue, add configuration information to the bottom section within "bindings" that set

[2021-01-05 17:49] PJ200923 opened #68438 "Incorrect Link for "ARM Template" within the code examples"
Hi,

The link for "ARM Template" within the code examples brings you to the .NET example instead of the ARM Template example.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41e002ed-e566-8407-66a0-15a7941a9406
* Version Independent ID: 7e39f152-fc9a-3b99-8982-eaa72552342f
* Content: [Authenticate to Azure Key

[2021-01-05 17:51] NavtejSaini-MSFT commented on #68426
@sumitsengupta We are checking this and will get back to you.

[2021-01-05 17:52] MarileeTurscak-MSFT commented on #68434
@JuGhithub
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-05 17:57] NavtejSaini-MSFT commented on #68431
@edisga We are checking this and will get back to you.

[2021-01-05 17:58] MarileeTurscak-MSFT commented on #68438
@PJ200923
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-05 18:06] jbrysonMSFT opened #68439 "Review prerequisites for free tier feature - AAD SSPR"
review prerequisites on licensing.  According to Azure AD Pricing page, SSPR for cloud-only users is not included in free tier.  Only self service password change is included:

https://azure.microsoft.com/en-us/pricing/details/active-directory/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cacc043b-aeec-5deb-e60f-b11e

[2021-01-05 18:07] erikadoyle commented on #8461
Azure Files volume plugin works on Windows Server version 1709, Windows 10 version 1709 or later operating systems. This feature has undergone multiple updates and GA'd since the issue was filed, so should no longer repro the above bugs.

[2021-01-05 18:07] #8461 closed

[2021-01-05 18:08] JamesTran-MSFT commented on #68439
@jbrysonMSFT
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-05 18:16] MayMSFT commented on #68427
thanks for the feedback. You can find out how to explore data here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-connect-data-ui#data-profile-and-preview

[2021-01-05 18:23] dlepow commented on #68351
Hello @bellaned - Thanks for reaching out. Currently with Helm v3 you can't add an Azure container registry as a Helm repository. For example, see https://github.com/helm/helm/issues/8094. If I'm understanding your dependency chart correctly, you won't be able use it with the current OCI support in ACR.

[2021-01-05 18:24] GiftA-MSFT commented on #68427
@alscor thanks for your feedback. This document describes how to access access data from a datastore using python. However, Azure ML Studio (Designer) provides an interactive interface for [visualizing ](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-train-score#visualize-the-data) and [transforming ](https://docs.microsoft.com/en-us/azure/machine-learni