[2019-09-23 04:18] RohitMungi-MSFT commented on #39192
@NHaiby Could you please forward this behavior of the service to the product team as feedback for future releases to fix it?

[2019-09-23 04:26] Karishma-Tiwari-MSFT commented on #39091
Closing this issue now. Will discuss offline with the author and make changes accordingly.

[2019-09-23 04:26] #39091 closed

[2019-09-23 04:26] Karishma-Tiwari-MSFT commented on #39137
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-23 04:26] #39137 closed

[2019-09-23 04:27] Karishma-Tiwari-MSFT commented on #39155
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-23 04:27] #39155 closed

[2019-09-23 04:28] Karishma-Tiwari-MSFT commented on #39299
Can you please share the doc so that we can direct it to the right team.

[2019-09-23 04:33] CHEEKATLAPRADEEP-MSFT commented on #38862
@davidc555 Thanks for sharing this information! It will help any others that are looking to for the similar ask.

[2019-09-23 04:37] CHEEKATLAPRADEEP-MSFT commented on #39271
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - MSDN or stack overflow.
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread and post it's link here and tag me. I will now proceed to close this issue. Feel free to comment

[2019-09-23 04:37] #39271 closed

[2019-09-23 04:38] SwathiDhanwada-MSFT commented on #39183
@jantoney N is the latest released version and versioning change can't be determined ,sometimes it may change 5.0 to 5.1 and sometimes it may change 5.1.3xxx to 5.1.4xxx. To check the current version numbers that are supported,you can refer from [here](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-whats-new#supported-updates).

Here is a snapshot for your reference.
![image](h

[2019-09-23 04:38] #39183 closed

[2019-09-23 04:45] souravmishra-msft commented on #39178
@sanjaybhagia, Looking at the code snippet, and looking at your description, it looks like the issue is with the API, which is responsible for returning the status. We are looking into this internally and would get back soon.

[2019-09-23 04:47] jakaruna-MSFT commented on #39330
@mitchellalm Is you container running?
From the command i see that its giving a warning for not using a long running command.
Because of that the container will come up and terminate.

Please check the container status in portal and let me know.

Meanwhile i will deploy a nginx container in vnet and let you know

[2019-09-23 04:56] mitchellalm commented on #39330
Of course the container shown as "running" in the Portal. However, when I go to Overview of that container, it shows this (note, not ip address):
![image](https://user-images.githubusercontent.com/25229622/65402470-67984f00-dd83-11e9-8e29-5bcce7df2fed.png)
![image](https://user-images.githubusercontent.com/25229622/65402508-b0e89e80-dd83-11e9-990a-ae4244ffa5f9.png)

![image](https://user-images.gi

[2019-09-23 04:58] ram-msft commented on #39338
@kgreed Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-23 05:02] jakaruna-MSFT commented on #39330
Coontainer is in terminated state.

Can you add the below flag tot he existing command and try again.
`--command-line "tail -f /dev/null"`
This command will stop the container from terminating. Usually a web server or long riunning process will be started during the container startup.

[2019-09-23 05:04] mitchellalm commented on #39330
Here is my main question:
As shown in Microsoft documentation, the flow of their scenarios is that, they create a new vNet/subnet while creating a new container group. Then create another new container using this new vNet/subnet.

However, in real life scenarios, we should already had a vNext/subnet that connect to on-premise, then how do we create a container that use this existing vNext/subnet?

[2019-09-23 05:08] scheblein opened #39339 "Incorrect sentence under Create a Conditional Access policy heading"
as is: The following steps will help create a Conditional Access policy to require those assigned administrative roles to perform multi-factor authentication.

to be: The following steps will help create a Conditional Access policy to block legacy authentication requests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-23 05:09] mitchellalm commented on #39330
Sure, i update the command and here is still the same error:
PS D:\AzureLandingZone\GitRepo\Azure> az container create --resource-group DEV_MitchellVPN2 --name garytestvnet5 --image centos --command-line "tail -f /dev/null" --restart-policy never --vnet DEV_MitchellVPN2_VNET --subnet Subnet1 --ports 80 443 --ip-address Private
Resource /subscriptions/XXXX/resourceGroups/DEV_MitchellVPN2/providers/

[2019-09-23 05:13] ashwinnatty commented on #39097
Please archive the case. My fault. It works

On Thu, Sep 19, 2019 at 4:45 PM JasonYeMSFT <notifications@github.com>
wrote:

[2019-09-23 05:14] #39097 closed

[2019-09-23 05:17] jakaruna-MSFT commented on #39330
We can deploy in existing Vnet as well. But the subnet inside the vnet has to be empty or we can create a new subnet.
That subnet has to be delegated to the ACI. We cant deploy resources other than ACI in that subnet.

So for existing Vnets, We have to create a new subnet and deploy ACI there or we need to empty an existing subnet and deploy ACI there

[2019-09-23 05:19] jujubung opened #39340 "cdnverify destination explanation not correct,"
The desnation for cdnverify CNAME should be direct contoso.azureedge.net without cdnverify.
cdnverify is only needed for the source, please correct it,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial

[2019-09-23 05:20] jakaruna-MSFT commented on #39330
@mitchellalm  Got your issue.
I will verify and update you once i have some information

[2019-09-23 05:20] msrini-MSFT commented on #39232
@alvipeo , I tried this script in 2 different gateways and it does work fine. Take your time and try executing the script in your gateway and let me know if you face any issues.

[2019-09-23 05:20] #39232 closed

[2019-09-23 05:31] souravmishra-msft commented on #38636
@ritmos, Regarding this thread, do share an email with the details to azcommunity@microsoft.com. For now, we are closing this thread. Feel free to re-open this thread if needed.

[2019-09-23 05:31] #38636 closed

[2019-09-23 05:32] roshansabapaty opened #39341 "Document BGP community value for Azure Active Directory and CRM online"
@jaredr80

**Docs link:**
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing#service-to-bgp-community-value

**Topic:**
Azure Express Route BGP community value

Under "Service to BGP community value" there is no mention of BGP community value for Azure Active Directory and CRM online. We should include the following in the docs:

++++++++++++++++++++++++++++++++++++++++++
Azu

[2019-09-23 05:33] souravmishra-msft commented on #39339
@scheblein, Thank-you for pointing it out. We will investigate with the content author and update the same.

[2019-09-23 05:45] test123114 commented on #39122
Thanks. Regarding the the rest api, I have another issue about it. Could you tell me what is value of the properties.blob and kind?

![image](https://user-images.githubusercontent.com/54306791/65403853-69582600-de08-11e9-87c3-3bc230e2e941.png)

[2019-09-23 05:47] KalyanChanumolu-MSFT commented on #38053
@ebrucucen Thank you for confirming.
The "Try It" experience uses the latest CLI.
If running from a dev machine, it is recommended to upgrade manually.

[2019-09-23 05:52] mitchellalm commented on #39330
Thanks Jakaruna,
Where does it say on the documentation that, the subnet needs to be delegated only for ACI?
So we need to have a separate subnet just only for container instances?
Can it be 1 single subnet for all different container groups???

Here is my new command. I create the new subnet while creating the new container and it seems to go 1 step further:
PS D:\AzureLandingZone\GitRepo\Azure>

[2019-09-23 05:59] SwathiDhanwada-MSFT commented on #39118
@artisticcheese I have reproduced the issue from my end. Seems the alert for "User initiated" is being triggered even when the condition is set to "Platform initiated".

As mentioned in the document, It is possible for the cause field to be null in some events. That is, a health transition takes place (e.g. available to unavailable) and the event is logged immediately to prevent notification delay

[2019-09-23 06:00] HannahHsiao opened #39342 "The Python code for Deploy to the cloud is wrong"
The Python code for Deploy to the cloud is wrong https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-fpga-web-service#deploy-to-the-cloud

it should be specify the region for the AKS provisioning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25565324-f64d-a8db-bc1c-e50956e6e878
* Version Inde

[2019-09-23 06:01] shashishailaj commented on #39152
@pfista We checked this internally. The expected content type Header has to be exactly `application/json` . If you have used anything else than that , It would show up as an error. I have seen this happen if 'application/json; charset=utf-8' is used in place of 'application/json' .   I am not sure if this can be changed but If you would like this to be relaxed , I would suggest to post a feature r

[2019-09-23 06:15] ram-msft commented on #39342
@HannahHsiao Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-09-23 06:23] cycwll opened #39343 "My Jenkins in intranet"
My Jenkins server in intranet, to access Internet, necessary set up HTTP PROXY. Is this plugin supported proxy configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebdc1fd4-5bc2-5879-ee00-3d5e1a48ed36
* Version Independent ID: a04ce698-ed4b-d324-f611-8e2963e3bc36
* Content: [Deploy to Azure App Service by usin

[2019-09-23 06:26] AshokPeddakotla-MSFT commented on #39306
@tu-trankilo Can you elaborate your query? What exactly are you looking for?

[2019-09-23 06:31] maras2002 opened #39344 ""...An Activity Log can be connected to only one workspace...""
Hi,
I was just able to connect the same Activity Log to two different LA workspaces. Did this change? Checked this few times and even asked my colleagues to confirm that they see the same and yes, we see Activity Log connected in both, separate LA (both are in different subscriptions within the same tenant).

Can you please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-09-23 06:31] PramodValavala-MSFT commented on #39105
@DrReedo Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-23 06:31] #39105 closed

[2019-09-23 06:32] PramodValavala-MSFT commented on #39313
@unshavenspyder Just following up here... Hope my previous comment helps.

[2019-09-23 06:32] cycwll commented on #39343
Now I configured credential meet a PROXY error.
Proxy Error
The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request POST /jenkins/job/New-Co-Test/descriptorByName/com.microsoft.azure.util.AzureCredentials/verifyConfiguration.

Reason: Error reading from remote server

[2019-09-23 06:32] PramodValavala-MSFT commented on #39318
@polywld7 Just following up here... Could you provide more details here?

[2019-09-23 06:35] PramodValavala-MSFT commented on #39064
@t-l-k Just following up here... Hope my previous comment helps. Also, this repo is essentially for doc feedback and I believe you could have a more insightful discussion on this if you were to open an issue on the [azure-functions-host](https://github.com/Azure/azure-functions-host) repo.

[2019-09-23 06:35] jakaruna-MSFT commented on #39330
Good to know that it worked for you.

Delegation is mentioned [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#required-network-resources) on that document.

Its also mentioned on the [subnet ](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#subnet-delegated) as well

Name resolution is not supported yet. Please see the

[2019-09-23 06:50] hharsunen commented on #9304
It had, but it was withdrawn, see https://confluence.atlassian.com/doc/confluence-release-notes-327.html

[2019-09-23 06:51] SychevIgor commented on #13315
@sergaz-msft did microsoft finally evaluated this feedback? 13 months is short, but enough time

[2019-09-23 06:54] ChiragMishra-MSFT commented on #39194
@Rainer21 I hope the above doc resolved your query. I will now proceed to close this issue. Feel free to still comment and tag me if you have any queries.

[2019-09-23 06:54] #39194 closed

[2019-09-23 07:01] PatLaPoint opened #39345 "Get-NSGFlowLogBlockList"
When trying to use your example:
$blockList = Get-NSGFlowLogBlockList -CloudBlockBlob $CloudBlockBlob
Method invocation failed because [Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob] does not contain a method named 'DownloadBlockList'.

im able to se that the method DownloadBlockListAsync() is availble but not DownloadBlockList()

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-23 07:02] #39340 closed

[2019-09-23 07:04] Grace-MacJones-MSFT commented on #39216
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2019-09-23 07:09] jpiston opened #39346 "Azure Backup | Admin Portal Manipulation"
Hi Guys,
I'm new to Azure Backup.
So far I've been able to:

1. Create my Recovery Vault.
2. Create Backup Item/ Azure Backup Agent
3. Configured with File/Folders and System State.
4. Perform Backup and Restore successfully.

However, I as the Portal Admin I can't performed any manipulation from the Azure  Web Portal itself. I can see only the status of the backup job for the protected server/wor

[2019-09-23 07:29] amistry79 commented on #31771
Ajay, Yes, the issue is not with documentation however issue with WebApp with Linux based app service which does not support WebSocket. In case, if we have support for WebSocket on Linux based App Service then please update the document. Hope this helps...

[2019-09-23 07:33] Grace-MacJones-MSFT commented on #38955
Hi @anavinahar, The doc already says "The integration subnet can only be used by only one App Service plan." Please keep in mind this feature is still in preview.

![vnet intergration note](https://user-images.githubusercontent.com/42247081/65408242-928d9d80-dd99-11e9-9836-612b060dd217.PNG)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2019-09-23 07:33] #38955 closed

[2019-09-23 07:36] SnehaAgrawal-MSFT commented on #39122
@test123114 We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home) forum. Thank you for your understanding.

[2019-09-23 07:36] #39122 closed

[2019-09-23 07:38] SwathiDhanwada-MSFT commented on #39190
@JnHs Can you please provide your thoughts on the issue?

[2019-09-23 07:50] girishgouda opened #39347 "Auto sync feature is not working for azure git repo."
Is this by design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Source Control integration in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/source-control-integration#feedback)
* Conte

[2019-09-23 07:54] KrishnaG-MSFT commented on #39343
@cycwll Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-23 07:54] KrishnaG-MSFT commented on #39344
@maras2002 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-23 07:55] KrishnaG-MSFT commented on #39347
@girishgouda Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-23 07:58] KrishnaG-MSFT commented on #39346
@jpiston Thanks for reaching out to us! To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to and also provide more details on your query / scenario ?
@SadiqhAhmed-MSFT Meanwhile, try to provide your insights (if any) on @jpiston's product related question(s).

[2019-09-23 08:03] KrishnaG-MSFT commented on #39340
@jujubung I hope you have self resolved this Azure CDN product related question and so closed this issue. However, in future if there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-09-23 08:09] jakaruna-MSFT commented on #39077
@bobbytreed I raised a PR. Please validate

[2019-09-23 08:14] SubhashVasarapu-MSFT commented on #39345
@PatLaPoint, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-23 08:15] SubhashVasarapu-MSFT commented on #39341
@roshansabapaty, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-23 08:17] jakaruna-MSFT commented on #39335
@omnimose Thanks for the feedback. I hope the load balancer is not needed at that point.
In the [next article](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-alwayson-int-listener) , steps to configure the load balancers are given.

![image](https://user-images.githubusercontent.com/43405697/65410670-9dcbe200-de08-11e9-95cd-c146e3c8d19b.png)

[2019-09-23 08:19] jakaruna-MSFT commented on #39014
@MedAnd I am following up internally with the content author to get his confirmation to edit the doc.

[2019-09-23 08:36] SumanthMarigowda-MSFT commented on #39206
@AlexBrassington Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-23 08:36] roshansabapaty commented on #39341
@SubhashVasarapu-MSFT - thanks! Any questions, please reach out to my alias roshanp.

[2019-09-23 08:38] msrini-MSFT commented on #39231
@artisticcheese , It is similar to linking the service to the endpoint which is present in the same tenant.

Once the Links service is created, you execute the below command to get the object:

`$privateLinkService=Get-AzPrivateLinkService -Name $plsName -ResourceGroupName $rgName `

In the consumer end, i.e in different tenant, when you create link service connection, you need to use the resource

[2019-09-23 08:48] dzoech commented on #38357
Thanks for your reply. Out of curiosity: could you elaborate in which cases it is needed?

[2019-09-23 08:55] Grace-MacJones-MSFT commented on #39228
@anis020 no, there's no way to use the same app name. I tested it out and was able to verify your scenario isn't possible.
![cloneappname](https://user-images.githubusercontent.com/42247081/65412933-1d27ca00-dda5-11e9-8d1d-90d3319dbca7.PNG)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2019-09-23 08:55] #39228 closed

[2019-09-23 09:01] EB1996 commented on #38562
@YutongTie-MSFT
I have been trying to diagnose the same issue with no success. I was wondering if you could share the solution to the problem if it was ever solved?

[2019-09-23 09:09] AbhishekTripathi commented on #39264
Hello @DixitArora-MSFT , I think I didn't explain my point well. While the aforementioned detail is a shortcoming in the function, this is not mentioned in the documentation. The document should state that the Azure Function Configuration can be injected with an object model but the default configuration can not have a nested json as the value. See here: https://github.com/Azure/azure-functions-co

[2019-09-23 09:15] SychevIgor opened #39348 "Explicitly specify Web App and App service for "I accidentally deleted a part of my QnA Maker""
Please, explicitly specify that we can't delete Web Apps and App Services associated with QnA maker instead of just says
"All deletes are permanent, including question and answer pairs, files, URLs, custom questions and answers, knowledge bases, or **Azure resources**"
Because commons sense told me, that if data stored in QnA it self, search index stored in Azure  Search- deletion of WebApp and Ap

[2019-09-23 09:16] anis020 commented on #39228
Thanks for the confirmation @Grace-MacJones-MSFT. Please let me know if any workaround is there to achieve this or if not, i believe MS-Azure must provide a way to clone it with the same name.

[2019-09-23 09:24] MatthewSteeples opened #39349 "ACU details for AMD series VMs"
Easv3 and Eav3 are both missing an ACU value. Is this information available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fe6a40-0b95-f1ed-db11-7a49d4a97ecf
* Version Independent ID: 54269236-da55-a1cd-01df-79a0458d9ac9
* Content: [Azure VM sizes for Windows - Memory](https://docs.microsoft.com/en-us/azure/virtual-

[2019-09-23 09:24] MatthewSteeples commented on #39349
Related - https://github.com/MicrosoftDocs/azure-docs/issues/37212

[2019-09-23 09:30] tiandklerk commented on #38862
Hi @normesta & @CHEEKATLAPRADEEP-MSFT

Perfect, I also have a call logged, for later this afternoon with a support engineer, but if @davidc555 had that outcome, will most probably not get a different outcome, will post an update later today.

[2019-09-23 09:32] VikasPullagura-MSFT commented on #39319
@jonbeck7 Can you please add your comment on this.

[2019-09-23 09:35] DrReedo commented on #39105
Hi Pramod,

Can the documentation also include details of what’s required in the other tiers?

thank you

Claire Reed | Senior Engineer (MS Dynamics) | Corporate Systems Team
IT Services, University of the West of England, Coldharbour Lane, Bristol BS16 1QY

Tel: 0117 32 81058
My working days are: Monday, Tuesday, Wednesday and Thursday (8.15am-2pm)

This email and any attachments are confidential

[2019-09-23 09:36] VikasPullagura-MSFT commented on #39349
@MatthewSteeples Thanks for the feedback, we are looking into this.

[2019-09-23 09:45] AshokPeddakotla-MSFT commented on #37084
@florianbader Does that answer your question?
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-23 09:45] #37084 closed

[2019-09-23 09:46] ram-msft commented on #39348
@SychevIgor Thanks for the feedback. We are investigating and will update shortly.

[2019-09-23 09:53] CHDAFNI-MSFT opened #39352 "Clarity on which element for API 2019-05-10"
The copy limits supports zero when using api version 2019-05-10. When what uses that version? Any resource API? The template schema? The subscription template schema?

Just seeking clarity on knowing what constitutes an API that would support the new copy limit function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e

[2019-09-23 09:55] SubhashVasarapu-MSFT commented on #39294
@kumarallamraju, Appreciate your patience. The doc was updated accordingly with the variable mentioned. It will take some time to get reflected over the doc.
Edited Block :
[code]
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-23 09:55] #39294 closed

[2019-09-23 10:01] Thomas-G-H opened #39353 "Alternative to code verification"
Hi Adam,
thanks for this good explanation and also the youtube clip https://www.youtube.com/watch?v=GmBKlXED9Ug. We already use the service, but many of our consumers struggle with the code verification process. Are there any alternatives or would it be possible to split the process into tow steps. What happes is that consumer type in their email address and directly choose their password. I would

[2019-09-23 10:04] #39317 closed

[2019-09-23 10:05] ManojReddy-MSFT commented on #39317
@aakash-shah I have updated the doc to include this information. Thanks for taking the time provide the feedback.

[2019-09-23 10:05] balaji830 commented on #6135
Just because it is 90 days older, you are closing it without fixing the problem?

[2019-09-23 10:08] #39077 closed

[2019-09-23 10:09] ltaljaard commented on #6135
I agree, please re-open the issue and keep it open until it has been fixed.

[2019-09-23 10:11] PramodValavala-MSFT commented on #39301
@IgorPietraszko All of the steps are still required with a change in `Step 5` of [Enable OAuth 2.0 user authorization in the Developer Console](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#enable-oauth-20-user-authorization-in-the-developer-console). You would have to select `Resource owner password` as well as `Authorization code` (or instead

[2019-09-23 10:13] lonevvolf opened #39354 "Wrong hosts entry"
It seems that someone changed the article, and reversed the data which should be entered into the hosts file.  In fact, it should read:
127.0.0.1 centos.contoso.com centos
not the other way around.  Otherwise, the DNS update fails when joining.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd8cc7e2-c92b-e73b-1812-3fdc

[2019-09-23 10:18] ram-msft commented on #39258
@PatrickFarley Can you please help on getting the confidence levels for the result.

[2019-09-23 10:18] aodugga opened #39355 "User Errors - we currently do not provide customers with details on these in our Diagnostic Logs"
I worked a case with a customer recently where they could see a very large volume of user errors on the portal for their Event Hub when they checked their diagnostic logs but there are no details on what these were. The customer opened the support ticket with us to understand what these errors were so I took the case and followed up for them - I was told that we do not provide details and it is up

[2019-09-23 10:21] garin-evans opened #39356 "Clarification needed for failover group region consistency"
Can you please clarify how the database region remains consistent with the web app region in Scenario 1? The diagram shows that both regions use the Read Write connection string of the failover group. My understanding is that when the database in Region A reports an issue, the web app in Region A will report to traffic manager (TM) that there is a connectivity issue during TM's ping and therefore

[2019-09-23 10:23] ManojReddy-MSFT commented on #39354
@lonevvolf Can you share the error you received during the join? I am trying to reproduce the issue in my lab and it will be good to know if we get the same error.

[2019-09-23 10:28] SadiqhAhmed-MSFT commented on #39346
@jpiston This is by design. You cannot modify the backed up data or do not have option to  do so. You can leave a comment here with your business requirement for this feature request and the product team would consider this request for their future release based on the demand and need for this option. Let me know if you need any further information I can help with.

[2019-09-23 10:29] v1v opened #39357 "user name is not shown in bold format in the Sign in to VCenter for the cloudsimple documentation"
Markdown doesn't bold the user name in the `Sign in to VCenter` section:

https://docs.microsoft.com/en-us/azure/vmware-cloudsimple/quickstart-create-private-cloud#sign-in-to-vcenter

![image](https://user-images.githubusercontent.com/2871786/65418621-c1852d00-ddf4-11e9-8412-0d6ff06711ef.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-09-23 10:40] ram-msft commented on #39357
@v1v Thanks for the feedback. We will update the document shortly.

[2019-09-23 10:41] SwathiDhanwada-MSFT commented on #39182
@MikeInSwitzerland [Here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-operations#portal) is an document on how to check deployment history and the reason of failure in portal.

Hope this is what you are looking after.

[2019-09-23 10:45] tmaheshwar opened #39358 "Is Service Principal value same as Application ID"
Little confusing around "Enterprise Applications" and "App Registrations" in Azure Active Directory
Is "Application ID" also called as "Service Principal"; in this page I think step number 4 is missing which can mention what is the value of Service Principal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ef3583-67cc-

[2019-09-23 10:45] thiagofborn opened #39359 "Can you provide an example using availability zones and multiples vms?"
Hi Team,

I hope all is well. Thanks for the introduction guide.

Can you provide a sample of  6 vms being launched in the same location/region however in 3 different availability zones in a round-robin fashion?

For instance:
  VM1 - availability zone 1
  VM2 - availability zone 2
  VM3 - availability zone 3
  VM4 - availability zone 1
  VM5 - availability zone 2
  VM6 - availability zone 3

Is t

[2019-09-23 10:51] souravmishra-msft commented on #39189
@MdAbidHussain-91

This error comes up when the permissions being used are either not consented by the administrator or the user. Now there are two scenarios:

- **Application Permissions :** If in your application/web-app/native-app, only application permissions are used, then the Global Admin of the tenant has to consent it before you can use that application to query any resource using Postman.

[2019-09-23 11:03] gfk76 opened #39360 "It is possible to assign custom roles to Azure management groups"
The doc's say

However it is possible to assign custom roles to Azure management groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac44e5e-65e1-d989-4afe-0463e8ff51d0
* Version Independent ID: 5665dd03-d06e-ca29-668f-7cb91e5f9ffd
* Content: [Custom roles for Azure resources](https://docs.microsoft.com/en-us/azure

[2019-09-23 11:10] AndreaC-MSFT opened #39361 "Application Insights Search does not show debug session telemetry without ApplicationInsights.config"
I've noticed that if the project does not contain a file called ApplicationInsights.config, the Application Insights Search does not show any data from “Debug session telemetry”.
Adding the file ApplicationInsights.config (even an empty one) solves the problem - but obviously it’s counter intuitive to users.
Bug submitted here https://developercommunity.visualstudio.com/content/problem/740343/appl

[2019-09-23 11:13] BhupalPatil opened #39362 "Missing links in this article"
Hi there,

There is not enough clarity on how the AI Log analytics or Log Analytics work space are linked to the logic flow action? after running the flow I dont see any thing coming up in AI Log Analytics as well as the Log Analytics workspace. even strangely the action "Send Data" is not taking any input like Log Analytics workspace id etc...

on the path of the container in Get Blob Content usi

[2019-09-23 11:16] SadiqhAhmed-MSFT commented on #39329
@marcpascual That is some great feedback! But currently there is no such plans yet might be a good feature/option to be considered for a future release. I encourage you to leave your valuable feedback at our [user voice forum](https://feedback.azure.com/forums/258995-azure-backup) and up vote the request to get some counts on it from other customers and some traction from the product group.

We wi

[2019-09-23 11:16] #39329 closed

[2019-09-23 11:19] #39346 closed

[2019-09-23 11:20] ManojReddy-MSFT commented on #38588
@MickQuinlan Apologies for the delay in getting back to you. Can you please share the manifest of both the applications to azcommunity@microsoft.com over an email?

Please reference this issue in the email.

[2019-09-23 11:39] AjayKumar-MSFT commented on #39305
@eyast, Thanks for reporting this issue! Much appreciated. The screenshot/display text on the 'Configure' backup options have been changed. The screenshots in the document does require an update, I have assigned the issue to the content author (@cephalin) to review further and update the document as appropriate.
![image](https://user-images.githubusercontent.com/44606227/65422565-784cd180-de24-11e

[2019-09-23 11:53] kyubisation commented on #39201
I can provide a minimal reproduction, if that helps in your investigation.

[2019-09-23 11:55] wukun2015 opened #39363 "Container does not work for zh-cn"
Hello,

I've downloaded container image for zh-cn locale as below. However, transcription output of Chinese speech is still English, though i've set language explicitly as below python code snippet.

Do i miss any other parameter for lang ?

Thank you.

IMAGE ID            REPOSITORY                                                                TAG
a364943a6a9c        containerpreview.azurecr.io/

[2019-09-23 11:56] SadiqhAhmed-MSFT commented on #39331
@toddysm As an '[User Access Administrator](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#user-access-administrator)' you cannot modify the subscription name. You need to be an Owner/Contributor to do so. For more details on built in roles refer to - https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#built-in-role-descriptions

For gro

[2019-09-23 12:00] thommck opened #39364 "Table Zone"
It's not clear what you mean by the "Zone" column of the table in the "ExpressRoute connectivity providers" section. There is no text to describe what the zone number refers to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Independent ID: 841f2ce1-b101-0fbf-e33d-4e56a624

[2019-09-23 12:00] AshokPeddakotla-MSFT commented on #39324
@djaus2 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-23 12:02] jakaruna-MSFT commented on #39359
@thiagofborn are all those vms serve the same purpose like group of web servers getting traffic from a load balancer?
If they are all same, Then you can consider using VMSS with availablity zones. So that it will automatically distribute the VMS for you.

Let me know if they are different .

[2019-09-23 12:07] MicrosoftGuyJFlo commented on #39339
@scheblein Wow! Thanks for finding that I am embarrassed I didn't catch that. Fixing now.

[2019-09-23 12:10] Trickermand commented on #8840
I've found that you need to assign the "Security Admin" too, though it seems very privileged for a simple request access feature...
(I'm sorry but i don't know the path like you describe with the others)

[2019-09-23 12:16] sidk25 commented on #39114
After modifying the code it gave me the following error :-
"error": {
    "code": "LinkedInvalidPropertyId",
    "message": "Property id '=' at path 'properties.typeProperties.scope' is invalid. Expect fully qualified resource Id that start with '/subscriptions/{subscriptionId}' or '/providers/{resourceProviderNamespace}/'."
  }
}

[2019-09-23 12:19] #39339 closed

[2019-09-23 12:21] ChiragMishra-MSFT commented on #39355
@aodugga Thanks for bringing this to our notice. I am assigning this issue to the doc owner to review and update as appropriate.

@ShubhaVijayasarathy  Can you please take a look at this one?

[2019-09-23 12:30] ROSMITHJ-MSFT opened #39365 "There is no more View Designer; please update this page"
Hello Team,

This page would benefit from an update, as the screenshots and content references to "View Designer" no longer exist within Azure Monitor and appear to have been rolled into Azure Monitor Solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 509bc5b8-98b4-001c-0111-bc9f2e4645a5
* Version Independent ID

[2019-09-23 12:33] ROSMITHJ-MSFT opened #39366 "Views and View Designer reference should be removed"
Hello Team,

This page is referencing View Designer and Views, both of which seem to have been depricated from the Azure Portal; please revise the content on this page to reflect that when you're able.

Many thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c1f2f2-da35-02b0-b59d-1e1f4d982904
* Version Independen

[2019-09-23 12:35] SadiqhAhmed-MSFT commented on #39279
@Robbiem06 Connection to ESXi is not supported. You need to have vCenter Server. For migration, you can use the [physical server migration flow](https://docs.microsoft.com/en-us/azure/site-recovery/physical-azure-disaster-recovery ) and treat each VM as a physical server and migrate.

[2019-09-23 13:05] IEvangelist commented on #39363
Hi @wukun2015,

Thank you for taking the time to reach out. It looks like you have two container images installed, the `latest` and the `1.2.0-amd64-zh-cd-preview`. Could you please confirm which container is running when you're encountering this error? Additionally, could you [configure logging on](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-configura

[2019-09-23 13:23] watahani opened #39367 "Is Redirect Uri for custome oidc provider different?"
I tried crating custom OIDC provider as ClaimProvider in in TrustFramewokBase.xml. If that’s the case B2C send AuthZ request with `redirect_uri=https://yourdomain.b2clogin.com/yourdomain.onmicrosoft.com/b2c_1a_trustframeworkbase/oauth2/authresp`.

But in document

te😅?

What is wrong for that or is the document mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-09-23 13:23] j-martens commented on #38613
#reassign:@csteegz

[2019-09-23 13:27] SubhashVasarapu-MSFT commented on #39341
@roshansabapaty, Thanks for your contribution. @cherylmc, could you please review and merge this PR.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-23 13:27] #39341 closed

[2019-09-23 13:39] KrishnaG-MSFT commented on #39362
@BhupalPatil Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-23 13:40] KrishnaG-MSFT commented on #39365
@ROSMITHJ-MSFT Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-23 13:41] KrishnaG-MSFT commented on #39366
@ROSMITHJ-MSFT Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-23 13:42] KrishnaG-MSFT commented on #39352
@CHDAFNI-MSFT Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-23 13:56] IEvangelist commented on #39363
This issue has been resolved. #please-close

[2019-09-23 13:56] #39363 closed

[2019-09-23 13:56] porrascarlos802018 opened #39369 "missing troubleshooting."
image deployed doesn't seems to have logs, where to retrieve logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac50d772-fc90-0e3a-3ce9-864d5e321f4d
* Version Independent ID: 479059a5-7789-3c0f-eef0-068cc9001b6f
* Content: [(DEPRECATED) CI/CD with Azure Container Service Engine and Swarm Mode](https://docs.microsoft.

[2019-09-23 14:05] xtianus79 commented on #39275
@diberry yes that is correct, how to lable when perhaps you don't want to use spellcheck or how to perhaps use spellcheck at different entry points into the chat conversation as to not effect entity spellings. I read something to that scenario

[2019-09-23 14:08] xtianus79 commented on #39219
@diberry and @YutongTie-MSFT there are service level keys and keys that appear in the the portals that have a little bit of confusion to which key is being referred to in the documentation.  For example in the portal and in the documentation for the QNA maker it refers to an endpoint key but it wants the key from the service and not the portal.

The api checker for the azure service is really good

[2019-09-23 14:28] crixo commented on #39044
@mmacy I confirm everything works as expected using AzureAD module.
Just a note: in order to have snippet working, I have first to assign through the azure portal interface the role "User Administrator" to an existing user within the tenant (I did it to my Global administrator Account) in order to have a result from the following query
Get-AzureADDirectoryRole | Where-Object {$_.displayName -eq 'U

[2019-09-23 14:28] MicahMcKittrick-MSFT commented on #38512
Adding @MicrosoftDocs/aks-pm

[2019-09-23 14:30] MicahMcKittrick-MSFT commented on #38600
adding @MicrosoftDocs/aks-pm

[2019-09-23 14:31] NavtejSaini-MSFT commented on #39272
@nabeelp Please share the script so that this can be looked into. Or if you your issue is resolved we will close the thread by EOD.

[2019-09-23 14:32] jmattmacd commented on #38503
@dmarlow - many button clicks later.... Go to the accounts link Manojreddy is sending you to, click the subscription name which takes you back to the the azure portal at the subscriptions page, then click manage at the top left of this page and it opens the accounts portal again but with the full menu on the right which is the start of the top of this page. Probably something in low url string tha

[2019-09-23 14:36] #39021 closed

[2019-09-23 14:37] NavtejSaini-MSFT commented on #39356
@garin-evans We are checking this and will get back to you.

[2019-09-23 14:37] SwathiDhanwada-MSFT commented on #39259
Assigning @tfitzmac  for review

[2019-09-23 14:39] MicahMcKittrick-MSFT commented on #39335
@jakaruna-MSFT correct :)

@omnimose we will go ahead and close this out. If you have further questions just let us know.

[2019-09-23 14:39] #39335 closed

[2019-09-23 14:49] MicahMcKittrick-MSFT commented on #39369
@porrascarlos802018 Azure Container Services has been depreciated. You should migrate to AKS.

We are no longer adding any information around Azure Container Services.

[2019-09-23 14:49] #39369 closed

[2019-09-23 14:49] mmacy commented on #39367
Hi @watahani, the documentation is incorrect. You want to use the `b2clogin.com` redirect URI. Tthank you for the notification on this, I will get the article updated.

#reassign:mmacy

[2019-09-23 14:50] MicahMcKittrick-MSFT commented on #38947
I will go ahead and close this. If you are still seeing issues let us know and we can reopen and continue.

[2019-09-23 14:50] #38947 closed

[2019-09-23 14:51] MicahMcKittrick-MSFT commented on #38807
Thanks all! @jmcshane I will go ahead and close this out but if you have further questions let us know and we can always reopen and continue the discussion.

[2019-09-23 14:51] #38807 closed

[2019-09-23 14:51] KrishnaG-MSFT commented on #39362
@BhupalPatil I believe the document consists of an example that too a hypothetical scenario illustrating the overall functionality of Data Collector API Pipeline.
Assigning content owner @MGoedtel for visibility of your valuable feedback on the document, for review and for document enhancement considerations if any.

[2019-09-23 14:52] MicahMcKittrick-MSFT commented on #39061
Thanks @axayjo

@yeswps I will go ahead and close this out. If you have further questions just let us know and we can always reopen and continue the discussion.

[2019-09-23 14:52] #39061 closed

[2019-09-23 14:58] MicahMcKittrick-MSFT commented on #39349
@MatthewSteeples as mentioned in the other comment, we are working to get all of this addressed shortly. We are reworking all the sizing documentation and making sure all info is included. I don't have the numbers at the moment but work is being done offline to address this.

CC @cynthn @Drewm3

[2019-09-23 14:58] #39349 closed

[2019-09-23 14:58] thejrack commented on #38807
So maybe I am dull this morning.  Did we get to an answer or direction here?  External DNS seemed to come up, but this was for the ALB deployed as an internal ingress.  So is auto registration of A records on the radar for private zones similar to AzureVM?

[2019-09-23 14:58] BharathNimmala-MSFT commented on #39361
@ACsharp Thank you for bringing this to our attention and sharing the feedback, will get back to you shortly on this. Thanks

[2019-09-23 15:04] FrankAtHexagon opened #39370 "Need to manually scale deployment to do rolling update?"
The *Deploy the updated application* section states the following:

The section then goes on to state the following:

From the doc, it seems pretty clear that you must have more than one pod in a deployment running in order to handle a rolling update. If you don't have more than one pod running, you need to manually execute the `scale` command to scale the deployment up.

However, my team has noti

[2019-09-23 15:09] mmacy commented on #39353
Hi @Thomas-G-H, thanks for reaching out. Because this is a product usage question and not an issue with this article, it is better suited for StackOverflow (use the [`[azure-ad-b2c]`](https://stackoverflow.com/questions/tagged/azure-ad-b2c) tag). I recommend that you submit your question there as you'll have more visibility on your question, and other users can benefit from the answer. I'll reques

[2019-09-23 15:09] #39353 closed

[2019-09-23 15:09] Klaas- commented on #29974
@cynthn as I said earlier, I would like to understand what the actual limitations of an availability set are. Not the practical limitations of hardware availability but the real limitations of an availability set.

[2019-09-23 15:15] manu4rhyme opened #39371 "Does TimeSpan type expressions still work for Azure Functions?"
UI in Azure Functions App (on the azure portal) shows "Invalid Cron Expression" when using a TimeSpan value as documented above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger for Azure Functions

[2019-09-23 15:16] norachuga commented on #36849
If you set `"kind": "linux"` but without setting `"reserved": true`, **it deploys a Windows service plan with a Linux icon!**

[2019-09-23 15:17] MicahMcKittrick-MSFT commented on #38357
From my understanding it is to help ensure DNS resolution works correctly and only applies to Windows VMs.

[2019-09-23 15:18] manu4rhyme commented on #39371
It does seem to work, UI needs to be updated. Please don't drop this feature, it's a quite helpful alternative.

[2019-09-23 15:19] manu4rhyme opened #39372 "Is runOnStart getting deprecated?"
https://github.com/microsoft/azure-maven-plugins/pull/430#issuecomment-432477036

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-

[2019-09-23 15:19] thiagofborn commented on #39359
Hi @jakaruna-MSFT,

Thanks for the answer.

In fact, the VMs are getting traffic from _HAProxy_ VMs.  The load balancer is in front of the _HAProxy_ VMs. So, it is faster to react to any issue taking out a failing host from the _HAProxy_ pool than waiting for the load balancer.

But, I will take a look at VMSS and see how can I adapt.

Regards.
born

[2019-09-23 15:20] jits2019 opened #39373 "AADLoginForLinux doesn't install on B1ls VM size running Ubuntu"
I tried many times but the extension won't install on a VM with B1ls size running Ubuntu Image..The install runs forever and shows as 'unavailable' in the Portal. Can this doc be updated if this particular size can't be used for this extension? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-b

[2019-09-23 15:21] mmacy commented on #39044
Thanks, @crixo! So I'm clear on this - you assigned *User Administrator* to the user you signed in with when you executed `Connect-AzureAD`?

[2019-09-23 15:22] DixitArora-MSFT commented on #39264
@craigshoemaker Any inputs in this ?

[2019-09-23 15:23] KaNaPaPi opened #39374 "DetectAsync method not available"
Your documentation is not up to date: https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoidentifyfacesinimage

Using NuGet package Microsoft.Azure.CognitiveServices.Vision.Face version v2.5.0-preview.1, the DetectAsync method is not available.

Should I be using DetectWithStreamAsync?

Does that return an IList&lt;Guid&gt; of face IDs?  Or should this return

[2019-09-23 15:26] DixitArora-MSFT commented on #39371
Hi @manu4rhyme Thanks for reaching out. We will review and update as appropriate.

[2019-09-23 15:27] stephbaron commented on #39118
I want to make sure I understand. Are you saying:

1. Alert rules which specify platforminitiated are firing when the cause is set to userinitiated?

or

2. The "virtual machine has been unavailable for 15 minutes" event says platforminitiated when it should be userinitiated?

[2019-09-23 15:28] crixo commented on #39044
@mmacy. Yes, that's correct: I had to assignthe role "User Administrator" to the user ("Global Admin account" in my azure ad b2c tenat) I used for sign-in w/ Connect-AzureAD in order to have the query `Get-AzureADDirectoryRole | Where-Object {$_.displayName -eq 'User Account Administrator'}`
returning the expected role

[2019-09-23 15:30] artisticcheese commented on #39118
Number 2.

[2019-09-23 15:31] stephbaron commented on #39118
Thanks, we're aware of this issue and will be working on a fix. I do not have an ETA at the moment.

[2019-09-23 15:32] mmacy commented on #39044
@crixo Got it, thanks. I will add this as a "You might have to assign..." note in the updated version of the article I'm currently working on. I didn't need to perform such an assignment, but I'm also the subscription admin which may be the reason for that. Thanks again for the additional input--super helpful!

[2019-09-23 15:32] AFUEU opened #39375 "Deploy trained text model in Azure ML services"
Hello together,

I have successfully used Azure ML services to deploy small test models as a webservice. Usually I am creating the models outside of Azure ML services using gensim to train a text model. The models are fairly large, which is why I wanted to use the AzureFileStore.

The models are uploaded to the AzureFileStore under a specific path. Loading the workspace and the datastore works wit

[2019-09-23 15:34] YutongTie-MSFT commented on #39374
@KaNaPaPi
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT
Hi Steven, could you please help us to update the document? Thank you very much.

[2019-09-23 15:36] YutongTie-MSFT commented on #39375
@AFUEU
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 15:37] mmacy commented on #39044
#in-progress

[2019-09-23 15:48] jaypatrick opened #39376 "1.4.X.0 "Released for auto-upgrade only""
So how are installations that are in topologies which aren't supported for autoupgrade (e.g. those of us who use a non LocalDB install and have a dedicated Sql Server) supposed to upgrade? Will this ultimately be distributed as a standalone installer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a4

[2019-09-23 15:53] Adam-Smith-MSFT commented on #39140
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-23 15:53] #39140 closed

[2019-09-23 15:54] YutongTie-MSFT commented on #39203
Data lake Gen2 is just on the top of data blob, whose hierarchical namespace accelerates big data analytics workloads and enables file-level access control lists (ACLs). So you can use the same way to import data from Gen2.

Please refer to below for further clarification:
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/38084098/65441672-ab20a680-dddf-11e9-87df-a30d56ef21bb.p

[2019-09-23 15:55] ROSMITHJ-MSFT commented on #39365
Many thanks for your reply; the mistake was mine. We can close this request. Thanks everyone!

[2019-09-23 15:55] #39365 closed

[2019-09-23 15:56] MicahMcKittrick-MSFT commented on #39370
Thanks for reaching out. If you still have issues just let us know.

[2019-09-23 15:57] ROSMITHJ-MSFT commented on #39366
Thanks for the update Krishna; the mistake was mine. Thanks everyone!

[2019-09-23 15:57] #39366 closed

[2019-09-23 15:58] MicahMcKittrick-MSFT commented on #39373
@jits2019 the extension does not have a VM size requirement. Likely there is a different issue.

What version of Ubuntu are you running? Have you tried it on the same image using another VM size?

[2019-09-23 15:58] diberry commented on #39219
@xtianus79 What is the api checker?

[2019-09-23 15:59] NextTurn opened #39378 "Broken link"
https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs.ServiceBus/EventHubs/EventHubAttribute.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691e8fe7-3db3-1913-dcba-68789e625c59
* Version Independent ID: 8846f2c6-df56-f387-4727-1004fab35c0a
* Content: [Azure Functions C# script developer

[2019-09-23 16:00] jits2019 commented on #39373
I have tried with latest ubuntu and other ones too..other VM size works with same image..also other OS works on same vm size..issue is only with B1ls + Ubuntu

[2019-09-23 16:03] KrishnaG-MSFT commented on #39353
@mmacy Thanks for the quick response. 👍

[2019-09-23 16:05] xtianus79 commented on #39219
When you create a service in azure in the > quick start section -> step 2 you have this information about your api

Make an API call to this endpoint: https://xxxxxx.cognitiveservices.azure.com/qnamaker/v4.0
Get in-depth information about the properties and methods of the API. Test your keys with the built-in testing console without writing a single line of code. Once you have the API running, you

[2019-09-23 16:12] mitchellalm commented on #39330
Jakaruna,
Thanks again for pointing out the documentation.
So related to this topic, we start using "Azure Container Agent Plugin" for Jenkins to configure the Jenkins agent. Whenever a build run, Jenkins master supposes to spin up an azure container in ACI dynamically. It doesn't seem to have a setting to configure the vNext and subnet???
 https://tutorials.visualstudio.com/jenkins-azure/new/conf

[2019-09-23 16:14] MicahMcKittrick-MSFT commented on #39373
hmm strange.

@yyanev @SanDeo-MSFT is this expected?

[2019-09-23 16:17] DixitArora-MSFT commented on #39378
Hi @NextTurn Thanks for your feedback. We will review and update as appropriate.

[2019-09-23 16:23] KrishnaG-MSFT commented on #39296
@omerzubair Thanks for sharing the UserVoice suggestion link here. It would help others who are looking for an update on the same.

At this point it appears that there's no edits or updates needed for the referred Azure documentation in this azure-docs repo GitHub issue so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do l

[2019-09-23 16:23] #39296 closed

[2019-09-23 16:24] ms-vincent opened #39379 "Clarification needed with auto provisioning docs"
The documentation for autoprovisioning of edge devices needs to be updated to clarify that a derived key is not required for individual enrollments. in this section of the docs, there's no notes indicating that you can just use the symmetric key that is auto-generated when you create the individual enrollment: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-symmetric-keys#der

[2019-09-23 16:25] Rupaliss opened #39380 "Standard_M32ms SKU"
Here we are not having storage details of Standard_M32ms (32 CPU,  875 GiB) SKU. Shall we consider same as M64ls.

Regards,
Rupali S

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ecd5d2-9d58-1d74-8e27-22754055120c
* Version Independent ID: 3e93d9d3-5341-0e3c-a15c-85906fc0b5b3
* Content: [SAP HANA Azure virtual machi

[2019-09-23 16:27] Willem-J-an opened #39381 "Private link for Azure SQL Database & Data Warehouse is available for use in West Europe region."
Private link for Azure SQL Database & Data Warehouse is available for use in West Europe region (For me at least). Is this a bug or are the docs incorrect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Content: [What

[2019-09-23 16:30] alkohli commented on #39206
#in-progress

[2019-09-23 16:31] athinanthny commented on #39014
@jakaruna-MSFT
We publish SDK version# in our public blog, docs  and release notes doc  per release. Below are links

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-versions

https://techcommunity.microsoft.com/t5/Azure-Service-Fabric/Azure-Service-Fabric-6-5-Second-Refresh-Release/ba-p/800523

https://github.com/Azure/service-fabric/blob/master/release_not

[2019-09-23 16:32] TheMoroccanBoss commented on #16761
do we know the GA of AAD nested groups?

[2019-09-23 16:37] TerryLanfear commented on #39333
@MarileeTurscak-MSFT , @DeanGross - We're reworking the Azure security landing page and table of contents. As part of this effort, I will be deleting the boundary security link from the table of contents. The network security best practices link will remain in the table of contents.

[2019-09-23 16:38] mjannapureddy07 opened #39382 "Did not get Alerted for unexpected Host Failure for the above template"
I have just used the above ARM template for Resource Health Alerts for Virtual machines types. We had an unexpected host failure and did not get the alert for that. I have filtered out for Platform initiated (properties.cause) in my template. I am not able to grab the Activity Log Schema directly from the Resource (That was Affected) as it had been more than 14 days since the time Resource had une

[2019-09-23 16:42] conceptdev commented on #6135
Authentication is being added as a feature of [App Center](https://appcenter.ms/) ([docs](https://docs.microsoft.com/appcenter/)), and going forward this will be the recommended approach for mobile developers. It's currently in preview, and any feedback is welcome.

[2019-09-23 16:42] dmarlow commented on #38503
@jmattmacd awesome find! Worked great, thank you!

[2019-09-23 16:42] #38503 closed

[2019-09-23 16:51] stephbaron commented on #39382
I think the Activity log has 90 days worth of events, so you should be able to find the resource health event for that resource there. Let me know if my understanding is incorrect.

[2019-09-23 16:54] alex-frankel commented on #39321
Hey @mrvamsidhar - I'm confused by the error you are getting:

`Expected Object but got String`

It is saying that the value that follows the property "RGToLock" is a string, not an object, but you have an object declared above. How are you performing the assignment? Via powershell or via REST?

[2019-09-23 16:55] philipstreet-hiscox commented on #15252
Can this work with XRDP (and a desktop, such as XFCE4)?

I can login using AAD via SSH, but when I try to login with AAD creds from XFCE4 (via RDP) I get the following error in auth.log;

xrdp-sesman: pam_aad(xrdp-sesman:auth): Failed to invoke PAM_CONV

I'm not well versed in Linux but I'm wondering if there is a missing configuration that would allow XRDP & the AAD auth module to work together.

[2019-09-23 16:57] MicahMcKittrick-MSFT commented on #15252
No it will not work with XRDP at this time. Only via SSH.

[2019-09-23 16:57] cijothomas commented on #37389
Closed with https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service

[2019-09-23 16:57] #37389 closed

[2019-09-23 16:58] alkohli commented on #39206
@AlexBrassington  I have added more specific information in the NIST guidelines for data erasure. The changes are merged and could go live as early as after 10 AM. Hopefully that helps. If you have more questions, please drop me a note at alkohli@microsoft.com. I will now proceed to close this issue. Thanks!

[2019-09-23 17:06] philipstreet-hiscox commented on #15252
Thanks @MicahMcKittrick.

My requirement is that users can RDP to an Ubuntu 16.04 VM in Azure from our on-premise network and be authenticated using their AAD credentials. Would it be more appropriate to domain join the VMs? Thanks.

Phil

[2019-09-23 17:08] MicahMcKittrick-MSFT commented on #15252
Correct. That would be the path to take for now :)

[2019-09-23 17:08] FrankHu-MSFT commented on #39376
@jaypatrick Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-23 17:08] normesta commented on #38862
assign: @bensack

[2019-09-23 17:08] FrankHu-MSFT commented on #39358
@tmaheshwar Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-23 17:08] FrankHu-MSFT commented on #39360
@gfk76 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-23 17:09] diberry commented on #39219
@xtianus79 This is referred to as the APIM internally because that is the service hosting the API docs. The official reference documentation is implementing the same functionality - not sure when that will be released. I'm closing this issue since the work is actually taking place on the bot framework public issue. #please-close

[2019-09-23 17:09] #39219 closed

[2019-09-23 17:10] cynthn commented on #39373
Also pinging @ayshakeen in case this has come up before on B1s

[2019-09-23 17:13] Karishma-Tiwari-MSFT commented on #39380
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-23 17:16] MarileeTurscak-MSFT commented on #39333
Thanks @TerryLanfear !

Closing this out.

[2019-09-23 17:16] #39333 closed

[2019-09-23 17:28] duanecr opened #39384 "PowerShell code is wrong"
Under "View Topology - PowerShell", #3 has Retrieve a Network Watcher instance, but the code does not work.  The problem is that it has "EastUS" with capital letters, but the actual name is in all lower case and does not match.  Changing it to "eastus" fixes the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2019-09-23 17:31] MartinJaffer-MSFT commented on #28027
@chriscrawfordTR It appears, for whatever reason, the support ticket was not redeemed.  Therefore there is no resolution to speak of.

[2019-09-23 17:31] RyanHill-MSFT commented on #39184
@jason-work123 sincerest apologies for the confusion. Basic does run on shared resources. We'll get this doc updated so that it reflects correctly.

[2019-09-23 17:31] Mike-Ubezzi-MSFT commented on #39213
Thank you for this additional detail. This has been assigned to the content owner for review. @stevestein for awareness.

[2019-09-23 17:34] msrini-MSFT commented on #39384
@duanecr , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-23 17:38] mjannapureddy07 commented on #39382
@stephbaron My Activity Log has lot of Audit policy related logs but nothing comes up if I filter it out for resource Health or Service Health type alerts.

[2019-09-23 17:39] yyanev commented on #39373
We did some debugging and this is what we found:

  *   Calling “apt-get update” takes very long time probably because of limited resources. As a result the agent kills the installation script and using the extension consistently fails.
  *   Running the installation script manually may succeed but we were also seeing random failures, again caused by the limited resources. For example, trying to i

[2019-09-23 17:40] stephbaron commented on #39382
And are you using the portal to try and find these events, or POSH/AZCLI?

[2019-09-23 17:45] PeterTurcan commented on #39216
Hi @MHarrison22
I wrote the tutorial. Can you give me a few more details - a screenshot of the error/exact steps to replicate/expect behavior? The hotel data set is for demo purposes only, and is small (50), so will run to the end in a few scrolls of infinite scrolling, so perhaps the issue is "by design" but happy to investigate if you have found an issue.

[2019-09-23 17:50] SubhashVasarapu-MSFT commented on #39381
@Willem-J-an , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-23 17:51] shashishailaj commented on #39023
@MicrosoftGuyJFlo Please help clarify the details as requested by the customer.

[2019-09-23 17:51] SubhashVasarapu-MSFT commented on #39364
@thommck, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-23 18:00] HJToland3 commented on #39193
This issue has been addressed in the documentation.

[2019-09-23 18:04] mitchellalm opened #39386 "Configure this using Jenkins master on-premise???"
Does this support for our Jenkins master on-premise???
We follow this instructions to configure "Azure Container Instances" but doesn't seem to work. Do we need to configure ssh key???
https://wiki.jenkins.io/display/JENKINS/Azure+Container+Agents+Plugin

[2019-09-23 18:06] mjannapureddy07 commented on #39382
yes currently using Portal.

[2019-09-23 18:12] gvashishtha opened #39388 "Azure ML integration"
I would like a more clear explanation of how to integrate with Azure ML

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 256bb460-6bd0-404e-a720-f50ea44ab46c
* Version Independent ID: b58ada0a-8f5f-1d00-6baf-e06fc2caabe4
* Content: [Quickstart: Create a Windows DSVM](https://docs.microsoft.com/en-us/azure/machine-learnin

[2019-09-23 18:13] TravisCragg-MSFT commented on #39120
@wbargerb Thanks for the additional info! I looked deeper into this example and you are correct, there are some issues.

1) I was incorrect in my earlier statement. The Hub and Spoke Virtual Networks are not connected Via VPN Gateway, [they are peered](https://docs.microsoft.com/en-us/azure/firewall/tutorial-hybrid-portal#peer-the-hub-and-spoke-virtual-networks). This means that the Spoke VNET doe

[2019-09-23 18:15] HJToland3 commented on #39193
@Mike-Ubezzi-MSFT, what more do I need to do on this issue?

[2019-09-23 18:15] alkohli commented on #39206
#please-close

[2019-09-23 18:15] #39206 closed

[2019-09-23 18:16] MHarrison22 commented on #39216
Hey @PeterTurcan , thanks for reaching out, for example, looking at this solution:

https://github.com/Azure-Samples/azure-search-dotnet-samples/tree/master/create-first-app/3-add-typeahead

Once I run the app from VS 2019 Professional I'm seeing this front end error inside of a chrome incognito window:

![typeahead-err](https://user-images.githubusercontent.com/10841756/65451237-bf2ecd00-de0c-11e

[2019-09-23 18:16] #39388 closed

[2019-09-23 18:17] TravisCragg-MSFT commented on #39212
@damart23 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-23 18:17] #39212 closed

[2019-09-23 18:21] SwathiDhanwada-MSFT commented on #39118
@artisticcheese We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-23 18:21] #39118 closed

[2019-09-23 18:30] rezasherafat commented on #39324
@djaus2, Windows, or Linux users must have valid user credentials on the device they are logging on. This is not part of device streams, rather a pre-requisite of getting access to the device (for both linux & windows). I will clarify this in the doc. How to acquire such user credentials, however, is up to the user.

[2019-09-23 18:30] femsulu commented on #39190
adding @qianw211 for input.

[2019-09-23 18:32] andrewconnell opened #39389 "Can't read the text on the image because image is transparent when using docs in dark mode"
When using docs in dark mode, you can't read the text on the image. The image is transparent so, black text is on a very dark gray background.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b35fae1d-754a-459e-76ba-d0f759869a74
* Version Independent ID: 85537046-bf18-58d0-7d54-9aaa1d16bd61
* Content: [JavaScript single-

[2019-09-23 18:36] peterpogorski commented on #39210
@gabriion you can find a number of cluster samples in this repo: https://github.com/Azure-Samples/service-fabric-cluster-templates

You can customize the template based on your needs. This guidance is not specific to enabling reverse proxy but would be general guidance that should be used for managing any Azure resource.

#please-close

[2019-09-23 18:36] #39210 closed

[2019-09-23 18:39] mganeshphani commented on #35335
@MicahMcKittrick-MSFT is there a SLA on the content update.. i ran from Azure CLI command window from my machine and this still failed
az ad app permission grant --id $serverApplicationId --api 00000003-0000-0000-c000-000000000000

Operation failed with status: 'Not Found'. Details: 404 Client Error: Not Found for url: https://graph.windows.net/5d135798-0ae4-4f20-a663-a223e2cd1f4e/oauth2Permission

[2019-09-23 18:39] msrini-MSFT commented on #39384
@duanecr , I tried the same and it does work for me with EastUS in capital letter. Attached screenshot below:

![image](https://user-images.githubusercontent.com/47132998/65452779-80763280-de5f-11e9-94d1-22c0135001fe.png)

[2019-09-23 18:40] msrini-MSFT commented on #39231
@artisticcheese , Do you have any update on this issue?

[2019-09-23 18:41] SuperSing commented on #39203
Okay. Are there any examples of code on the documentation pages ? 

On mandag, september 23, 2019, 5:54 pm, YutongTie-MSFT <notifications@github.com> wrote:

Data lake Gen2 is just on the top of data blob, whose hierarchical namespace accelerates big data analytics workloads and enables file-level access control lists (ACLs). So you can use the same way to import data from Gen2.

Please refer to b

[2019-09-23 18:41] peterpogorski commented on #38519
@eyast Thank you for your feedback! This is the image that we use across multiple articles to represent physical machines. We want to ensure that we maintain consistency across all of our articles and therefore will not update it at this time.

If you have any other feedback about the article, please feel free to suggest other improvements.

#please-close

[2019-09-23 18:41] #38519 closed

[2019-09-23 18:42] peterpogorski commented on #38819
#reassign @bartonjs

[2019-09-23 18:42] PRMerger16 commented on #38819
bartonjs is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-09-23 18:43] peterpogorski commented on #38819
#reassign @richlander

[2019-09-23 18:43] PRMerger17 commented on #38819
richlander is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-09-23 18:45] peterpogorski commented on #38304
#reassign @dekapur

[2019-09-23 18:45] PRMerger17 commented on #38304
dekapur is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-09-23 18:45] peterpogorski commented on #38304
#reassign @dkkapur

[2019-09-23 18:46] shashishailaj commented on #39286
@sonnycloudtp I checked the article and I believe the details for storageEncryptionMonitoringEffect-like (Policy names reference) parameters are deprecated and it may need removal from the article. The current list of controls in the policy assignment does not contain the **_`Audit missing blob encryption for storage accounts`_** option. Apart from that I do not see any other changes in the securi

[2019-09-23 18:47] #39231 closed

[2019-09-23 18:47] dcurwin commented on #38986
#assign:pvrk

[2019-09-23 18:48] MicahMcKittrick-MSFT commented on #39373
Thanks @yyanev !

@jits2019 you can go ahead and give the work arounds a try. All in all, seems to be based on limited resources of that specific series.

We won't add that info to the document at this time but you comment will remain on the doc so if other users encounter the same problem they will be able to see the work around. If we have enough users running into this issue and trying it on th

[2019-09-23 18:48] #39373 closed

[2019-09-23 18:55] shashishailaj commented on #39037
@rwike77 Could you please review this and update the documentation as required.

Thank you.

[2019-09-23 18:56] peterpogorski commented on #26599
#reassign @dkkapur

[2019-09-23 18:57] athinanthny commented on #30791
@DianeHadley  Thanks for your feedback. please apply your comments/changes to doc  and create PR.

[2019-09-23 19:02] sqlchick commented on #36933
To use the new ADLS Gen2 connector, you want to use the new addressing scheme - this means using the DFS endpoint within the URL instead of the Blob endpoint. I wrote up a quick blog entry about this: [https://www.coatesdatastrategies.com/blog/querying-data-in-azure-data-lake-storage-gen-2-from-power-bi](https://www.coatesdatastrategies.com/blog/querying-data-in-azure-data-lake-storage-gen-2-from-

[2019-09-23 19:05] FrankAtHexagon commented on #39370
Reopening this issue after confirming that it occurs with the command given in the doc.

[2019-09-23 19:07] Alberto-Vega-MSFT commented on #39379
@ms-vincent Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-23 19:10] aakash-shah commented on #39317
Thanks!  May I also suggest adding it to this line to clarify that this works for password resets too:

Thanks!

[2019-09-23 19:12] mmacy commented on #39044
@crixo Your comment about role assignment got me to digging around a bit... It turns out that you can use the Azure portal to grant the "User administrator" role to the application to support user delete/passwd reset. PowerShell is _not_ required.

Steps are as such:

1. Sign in to the [Azure portal](https://portal.azure.com) and switch to the directory that contains your Azure AD B2C tenant.
1. S

[2019-09-23 19:20] PeterTurcan commented on #39216
@MHarrison22

OK, got it. Are you able to verify the apps work as expected if you use Microsoft Edge?

[2019-09-23 19:20] NavtejSaini-MSFT commented on #39356
@garin-evans We are assigning this to doc author for further clarification
@anosov1960 Please help clarifying the users question.

[2019-09-23 19:23] axisc commented on #14858
@jzoran05 - these are highlighted in the [Event Hubs quotas and limits page](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas)

Hope this helps.

[2019-09-23 19:23] axisc commented on #14858
#please-close

[2019-09-23 19:23] #14858 closed

[2019-09-23 19:24] TeaBaerd opened #39391 "How to upload User Flow"
How are we supposed to upload the dupliacted and altered SignUpSignInContoso.xml file to the UserFlows next to the SignUpSignIn user flow? I am not seeing any upload feature to upload the new xml file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b59818
* Version Independent ID: 76f7519d

[2019-09-23 19:26] MHarrison22 commented on #39216
Same issue in Edge as well it looks like:
![typeahead-err2](https://user-images.githubusercontent.com/10841756/65456035-7845d500-de16-11e9-8638-57dc2c624b1c.PNG)

[2019-09-23 19:26] stephbaron commented on #39382
Just to be absolutely certain, when you say filter for Service Health and Resource Health types alerts, I assume you mean the following filter choices:

![image](https://user-images.githubusercontent.com/4484115/65456051-5ab84180-ddfd-11e9-90eb-d7bf14204082.png)

[2019-09-23 19:26] alexkalita commented on #38613
It looks like you have azureml-core updated to 1.0.62, but other related packages are still on 1.0.57.  Can you try updating those other packages as well?  I would start with 'azureml-sdk'.

[2019-09-23 19:30] axisc commented on #18170
made the doc updates for this. Will be published with the next run of the documents.

#please-close

[2019-09-23 19:30] #18170 closed

[2019-09-23 19:32] axisc commented on #14583
@TecumsehSamp ,

with ReceiveAndDelete, the lock value is useless. It is set to max for a service side optimization.

#please-close

[2019-09-23 19:32] #14583 closed

[2019-09-23 19:42] mjannapureddy07 commented on #39382
![msft](https://user-images.githubusercontent.com/54611683/65456890-f488ea00-de0f-11e9-9427-de4ce7522929.PNG)
Above is the activity log for filtered event category of "Resource Health"

And I have a host failure on this VM on Aug 08. See below screenshot

![image](https://user-images.githubusercontent.com/54611683/65457002-36b22b80-de10-11e9-8318-61d0dc9ddf1c.png)

[2019-09-23 19:45] stephbaron commented on #39382
Is that just a sample screenshot? It appears to be from April?

[2019-09-23 19:50] MicahMcKittrick-MSFT commented on #39370
@MicrosoftDocs/aks-pm @jluk @mlearned is this expected behavior? I can add it to the doc if needed.

[2019-09-23 19:51] TravisCragg-MSFT commented on #39312
@mgaufman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-23 19:54] MarileeTurscak-MSFT commented on #39389
@andrewconnell
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-23 19:56] duanecr commented on #39384
Okay.  Now mine is working as well.  I’m not sure why it didn’t work before.  Thanks for checking.

From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Monday, September 23, 2019 2:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Duane C. <dhcrider@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] PowerShell code is wrong (#39384)

[2019-09-23 19:57] jnoller commented on #39370
More correctly, the current AKS upgrade procedure does not actually scale up the deployments - what's being observed is the cordon, drain and deletion of each node.

AKS fires a cordon and drain to reschedule the pods to a new node - it blocks for a maximum of 20 minutes waiting for all work to be rescheduled. Since a cordon / drain and rescheduling of the work can take an indeterminate a mount of

[2019-09-23 20:01] MukundaMurthy opened #39392 "Typo: in just-in-time provisioning"
"In this section, a user called Britta Simon is created in Salesforce Sandbox. Salesforce Sandbox supports just-in-time provisioning, which is enabled by default",  [correction:  should be disabled by default]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c206e955-bb5b-0707-5cf5-7b29cdf0ff6e
* Version Independent ID:

[2019-09-23 20:03] svangeti commented on #28395
Hi @tfitzmac, What is the solution for this issue. I am facing same issue while creating the SendGrid account. Can you please provide some insights.

[2019-09-23 20:04] NavtejSaini-MSFT commented on #39320
@csjh60627 We have added a note to document for the same. Once the PR is approved, it will be published.
@KavithaJonnakuti Please approve https://github.com/MicrosoftDocs/azure-docs-pr/pull/89453

[2019-09-23 20:06] mjannapureddy07 commented on #39382
Re-Posting with correct data...
Activity Log For past 90 days is attached below: (With Resource Health filtering)
![kdjfni](https://user-images.githubusercontent.com/54611683/65458656-b1307a80-de13-11e9-82f5-6eb68edc8947.PNG)

Below is the screenshot from the host failure we had a month ago in the same subscription scope that we have set the resource health alerts on.

![image (1)](https://user-im

[2019-09-23 20:07] kashimiz commented on #38894
@ggailey777 by "type-specific methods" you mean `DateTime.UtcNow` (.NET) and `Date.now` / `Date.UTC` (JavaScript)? If so, it's because the current time is constantly changing, so two calls to one of the aforementioned methods will result in two different results, aka non-determinism. This "unreliable" behavior causes problems with Durable event-sourcing model, so we provide the `currentUtcDateTime

[2019-09-23 20:10] vsaroopchand commented on #33494
Any updates on the Azure CLI command equivalent to New-AzureADUserAppRoleAssignment? We primarily use AZ AD App for all AAD automation and would like to avoid mixing Azure Powershell cmds

[2019-09-23 20:10] bytemech opened #39393 "PolicyDefinition Schema reference not valid"
Hello,

The documentation states that one must look at [this link](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/2019-01-01/policydefinitions) to find the schema for the policydefinitions schema.

However, this is the schema for deploying a policydefinition via ARM, and not the same schema for the policydefinition itself.

In addition, the published schema at [this GitHu

[2019-09-23 20:12] Karishma-Tiwari-MSFT commented on #39326
@DCtheGeek Thank you. :)
@mrvamsidhar Did the answer provided above helped? Please let me know.

[2019-09-23 20:13] bandersmsft commented on #38595
@andergailer Per the enginnering team, the following headers are needed.

x-ms-client-tenant-id :
x-ms-client-object-id :
x-ms-client-principal-id:

Does that do the trick?

[2019-09-23 20:13] #39384 closed

[2019-09-23 20:14] FrankAtHexagon commented on #39370
Thanks for your reply. I'm not sure if we're on the same page, however.

The behavior that I'm referring to is observed during a container image update. Example: I've got a deployment whose pods have an older image version and I want to update the pods to use a newer image version. This workflow is described [here](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-app-update).

If I'm

[2019-09-23 20:17] MarileeTurscak-MSFT commented on #39392
@MukundaMurthy
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-23 20:17] Mike-Ubezzi-MSFT commented on #39193
@HJToland3 If there are no additional documentation updates to be made then I will go ahead and close it out. There was no PR linked to this issue, which is helpful to know when updates are published. Thank you for the update. Alternatively, you can simply `type` **hashtag please hyphen close** and the issue will be closed out.

[2019-09-23 20:18] Mike-Ubezzi-MSFT commented on #39193
@ahamedembibe
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Thank you!

[2019-09-23 20:18] #39193 closed

[2019-09-23 20:22] bartonjs commented on #38819
I agree that LocalMachine\My doesn't work on Linux.  Perhaps Service Fabric has a custom loader for Linux that re-interprets what LM\My would mean from config... but `/var/lib/sfcerts` has no special meaning to .NET and there's no way to control what LM\My does (which is to just throw an exception).

I'm unsure what the intention is/was with assigning the issue to me... it's Service Fabric documen

[2019-09-23 20:25] FrankAtHexagon commented on #39370
This is a slightly simplified version of what I'm seeing if I execute the `kubectl get pods` command on the appropriate namespace:

Initially...
[code]
After executing the `set` command with a new image version.
[code]
A little while later...
[code]
Finally.
[code]

[2019-09-23 20:27] nickwalkmsft commented on #38894
That's perfect - explains what `currentUtcDateTime` *is* and why you'd use it relative to the alternatives.

[2019-09-23 20:29] cogran opened #39394 "BGP Peering Address Public IP Use"
What are the requirements for the BGP Peer IP addresses on my VPN device?
Your on-premises BGP peer address MUST NOT be the same as the public IP address of your VPN device or the Vnet address space of the VPN Gateway. Use a different IP address on the VPN device for your BGP Peer IP. It can be an address assigned to the loopback interface on the device, but please note that it cannot be an APIPA

[2019-09-23 20:30] Mike-Ubezzi-MSFT commented on #7990
Navigate to Start > Settings:

![Screenshot (270)](https://user-images.githubusercontent.com/37126106/65460013-da4a0e80-de05-11e9-80c1-ce8daa748b2a.png)

Then select Apps and Features:

![Screenshot (271)](https://user-images.githubusercontent.com/37126106/65460046-ee8e0b80-de05-11e9-801a-c2ac107bb9f2.png)

Followed by typing `Cosmos` into the filter and clicking on Cosmos to reveal the currently

[2019-09-23 20:34] DCtheGeek commented on #39393
#assign:DCtheGeek

[2019-09-23 20:35] DCtheGeek commented on #39393
@bytemech You are correct.  I'm working to get the correct links and get them posted to these docs.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress

[2019-09-23 20:36] ashfondu opened #39395 "Should ClusterRoleBinding be linked to a ClusterRole"
In this article it is mentioned to create a ClusterRoleBinding but i dont see the ClusterRole defined. Can someone explain why ? or are there any assumptions that we should be aware of.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abbc5958ff
* Version Independent ID: 3611b478-6df6-f5cd-563d-

[2019-09-23 20:40] mitchellalm opened #39396 "Jenkins Container Agent support for on-premise Jenkins master???"
We use [this instruction](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-jenkins) and the Jenkins Container Agent seems to work in ACI using the Jenkins on Azure.
However, in real life scenarios, user can have Jenkins master on-premise, and the container needs to have connection to on-premise and need to be able to work with Jenkins master on premise.
Do you have ad

[2019-09-23 20:50] Alberto-Vega-MSFT commented on #39230
Since we discussed this via email and the issue was resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-23 20:54] toddysm commented on #39331
@SadiqhAhmed-MSFT you send a link to a Tutorial how to do group assignment, which I really well know how to do.
My issue is that if I assign a role `Owner` to a group that I am member of, I am not able to do the changes. If you carefully review my original post, you will see that I have two roles assigned: `User Access Administrator` directly and `Owner` through the Group Membership.

[2019-09-23 21:01] xtianus79 opened #39397 "spell check is not working for the api call as it throws an error to remove spell check from the service"
here is the direct error which contradicts the information in this article:

{
  "error": {
    "code": "BadArgument",
    "message": "The application xxxxxx-5e70-48dd-xxxxsxxxxx cannot be packaged for the STAGING slot due to having unsupported features. In order to be able to package the application, please do the following:Remove the spell checker publish setting and republish.\r\n"
  }
}

---
#

[2019-09-23 21:05] AlexanderFergusonBI commented on #24482
“Coming soon” can we have an update as to the availability of the update?
The last comment claimed 3-4 months in February

[2019-09-23 21:07] axisc commented on #14684
@vhe1 If there are no active messages for a session, then that session does not utilize any resources on the service side.

it will not show up when queried using the SessionBrowser also.

#please-close

[2019-09-23 21:07] #14684 closed

[2019-09-23 21:07] PeterTurcan commented on #39216
@MHarrison22

I am finding an issue with SessionState.  If this is enabled, TempData works in the MVC code, but if it is not enabled TempData is not persisted, so the app fails. I am not savvy enough with this setting yet to be sure of how to be certain it is set. Not sure either if this is the issue you are seeing!

[2019-09-23 21:08] Karishma-Tiwari-MSFT commented on #39299
Is there any update?

[2019-09-23 21:08] Karishma-Tiwari-MSFT commented on #39395
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 21:09] danvalero commented on #39299
I opened a ticket irectly on the page and I got a response..

thanks

On Mon, Sep 23, 2019 at 4:08 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
Daniel Valero

[2019-09-23 21:14] EstherGaddindla opened #39399 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independent ID: 9ca42ebd-4ff2-226f-8bae-74fc8973a825
* Content: [What is Azure Active Directory? - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-whatis#feedb

[2019-09-23 21:15] EstherGaddindla commented on #39399
testing for some documentation

[2019-09-23 21:15] #39399 closed

[2019-09-23 21:15] pvrk commented on #39135
Please try the following. All PS commands expects a vault object or Vault ID.  Name is not sufficient.

[code]

[2019-09-23 21:16] Karishma-Tiwari-MSFT commented on #39217
Thanks @bschlechty.
@gbagate I saw in the support ticket that document request has been submitted. Can you please share the status of the doc update? Thanks :)

[2019-09-23 21:17] mikebudzynski commented on #39015
It will be. We'll use this Issue to track progress.

[2019-09-23 21:28] peterpogorski commented on #32213
@fbuser1 this issue has been reported to the Azure Portal team and hasw been priortized to be completed by the end of the year. Thank you for your feedback!

#please-close

[2019-09-23 21:28] #32213 closed

[2019-09-23 21:34] Alberto-Vega-MSFT commented on #39156
@jacksturtevant I reached out internally and got this info from Quentin Miller from the Body Tracking SDK.

 _There is no technical limit to the number of bodes that can be tracked within the FOV of the camera. That said there probably is a practical limit based on the field of view of the camera and amount of compute available. The amount of GPU compute required depends on the depth camera mode (

[2019-09-23 21:37] kgremban commented on #39379
@v-stadam Can you take a look at this?

[2019-09-23 21:41] TravisEz13 opened #39400 "page out of date"
cannot find /etc/rsyslog.d/security-config-omsagent.conf or  /etc/syslog-ng/security-config-omsagent.conf.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014e86f7-1ca2-a994-0a0e-1c191b1b0e9e
* Version Independent ID: 5fc1cdeb-70ef-b8f8-b6cf-0c23989cfb9c
* Content: [Connect Syslog data to Azure Sentinel Preview](https:/

[2019-09-23 21:48] ecfan commented on #39165
@fiksen99: Here's a doc update to better clarify how to customize the table output. Please review and let me know any improvements or suggestions? Thank you!

https://docs.microsoft.com/azure/logic-apps/logic-apps-perform-data-operations#customize-table-format

[2019-09-23 21:49] SnehaGunda commented on #39272
@nabeelp I tested the script and it works as is like Mark mentioned. I don't see any changes to it. Please test it again on your end, just change the resource group name and deploy it and it should work.

[2019-09-23 21:51] svangeti opened #39401 "Getting "ResourcePurchaseValidationFailed" message on SendGrid creation"
I am getting the below error while trying to create the SendGrid account. Anyone know what's the root cause?

`{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
  "details": [
    {
      "code": "BadRequest",
      "message": "{\r\n  \"error\": {\r

[2019-09-23 21:52] FrankHu-MSFT commented on #39278
Hey @softwarecraft that seems fine, I'll add the phrasing in, if you have anymore comments/requests please let me know. Otherwise I will be closing out this git issue by end of day tomorrow.

Thanks for letting us know about this again!

[2019-09-23 21:56] peterpogorski commented on #34377
Hi @MedAnd what details would you like to learn about the event?

[2019-09-23 21:58] cherylmc commented on #39270
@anzaman

[2019-09-23 21:58] MicahMcKittrick-MSFT commented on #39386
Same post here: https://social.msdn.microsoft.com/Forums/en-US/e618a674-777f-4c8a-99cb-7d4fcb876f5c/jenkins-container-agent-for-jenkins-master-onpremise?forum=AzureContainerServices

Will work off that.

[2019-09-23 21:58] #39386 closed

[2019-09-23 21:59] dkkapur commented on #38304
There is a section in the cluster config called "security" that is used to specify these properties (see
[Security](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-manifest#security) for more info on this. Here are some examples of cluster configs that may help as well:
- https://github.com/Azure-Samples/service-fabric-dotnet-standalone-cluster-configuration/blob/maste

[2019-09-23 21:59] MicahMcKittrick-MSFT commented on #39396
Same post here: https://social.msdn.microsoft.com/Forums/en-US/e618a674-777f-4c8a-99cb-7d4fcb876f5c/jenkins-container-agent-for-jenkins-master-onpremise?forum=AzureContainerServices

Will work off that.

[2019-09-23 21:59] #39396 closed

[2019-09-23 22:01] SnehaGunda commented on #38561
@KevinMZiegler Thanks for bringing this to our attention, I have removed the list from the doc and instead added a link to the Cosmos DB case studies page:  https://azure.microsoft.com/en-us/case-studies/?service=cosmos-db. The above PR will fix the issue. We will now close the issue.

#please-close

[2019-09-23 22:01] #38561 closed

[2019-09-23 22:02] FrankHu-MSFT commented on #39358
Hey @maheshwar I think there's some confusion in regards to what an enterprise application is. An enterprise application is a service principal.

I do think there is some clarification that can happen here, so I'll go ahead and put in a sentence discussing how enterprise applications  = service principals.

Thanks for your feedback! Let me know if there are anymore questions in regards to this iss

[2019-09-23 22:02] SnehaGunda commented on #39272
#please-close

[2019-09-23 22:02] #39272 closed

[2019-09-23 22:02] MedAnd commented on #39014
Please allow me to clarify above. I followed the guidance in the docs only to find out that it mandatory for my build server to also have SF .Net SDK installed otherwise the package step silently removes any refs to Managed Identity from the xml as it does not pass schema validation. Given the failure is silent I then attempted to deploy via ARM, a process feedback loop that can take 20mins+. The

[2019-09-23 22:05] leeprtc opened #39404 "Missing step in "Generate the C code stub" section"
My initial attempt to go through "Generate the C code stub" failed as the tooling could not find urn:azureiot:DeviceManagement:DeviceInformation:1 interface information. I had to connect to a Model Repository to download the DeviceInformation interface and then go through the steps again.

It would be helpful to add steps before "Generate the C code stub" to download the DeviceInformation interfac

[2019-09-23 22:06] MedAnd commented on #34377
EventId details; how to find (filter for) this Event in the ETW logs as all SF events are logged to ETW. Thanks.

[2019-09-23 22:08] cherylmc commented on #39364
Those are pricing zones. I can add a little more info. If you look at the pricing links, you'll see what it means though.

[2019-09-23 22:12] ealsur commented on #37970
@irriss What the first statement means is:
1. You create a document on time T1
2. You read the change feed, and see the document creation
3. Then do two updates, one at T2, and one at T3, for the same document
4. Then you read the change feed again, you might only get the update at T3, (which would also include any change in T2 since we don't support partial updates).

So depending on when you rea

[2019-09-23 22:12] v-stadam commented on #39379
@kgremban Yes, I'm working on it

[2019-09-23 22:14] MarileeTurscak-MSFT commented on #39392
I checked my tenant. It is set to "manual", and appears to be enabled by default. Can you clarify where you see that it is disabled?

@jeevansd

[2019-09-23 22:22] #39044 closed

[2019-09-23 22:33] dcbrown16 commented on #39242
@MarileeTurscak-MSFT thanks for responding. These features all seem to apply to VMs, not Web Apps. Is Security Center running those against the underlying VMs for App Services somehow?
The question is what we are paying for when enabling Standard Security Center for App Services.

[2019-09-23 22:33] CeciAc opened #39407 "The Python code for 部署到雲端 is wrong"
@HannahHsiao commented on [Mon Sep 23 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/553)

The Python code for 部署到雲端 is wrong https://docs.microsoft.com/zh-tw/azure/machine-learning/service/how-to-deploy-fpga-web-service#deploy-to-the-cloud

it should be specify the region for the AKS provisioning
prov_config = AksCompute.provisioning_configuration(vm_size = "Standard_PB6s",

[2019-09-23 22:36] YutongTie-MSFT commented on #39407
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 22:37] YutongTie-MSFT commented on #39397
@xtianus79
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-23 22:38] YutongTie-MSFT commented on #39388
@gvashishtha
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-23 22:40] mhopkins-msft commented on #23046
@smithGit
The code snippets and sample have all been updated. Thank you for your contribution!
#please-close

[2019-09-23 22:40] #23046 closed

[2019-09-23 22:41] dlepow commented on #39250
@jjindrich - We might need more info from the ACR team, but I was able to use `az acr build` and `az acr task run` to manually trigger build of a couple of test images using Windows Server 2019 base images. I built from official nanoserver and windows/servercore images (both available from Microsoft Container Registry). Which 2019 image do you plan to use as a base? Thanks.
cc/ @northtyphoon @saja

[2019-09-23 22:44] tamram commented on #26849
@dcbrown16 - Thanks for your feedback. I've updated the LRS article to clarify that it writes three copies. The change should go live in the next day or so.

#please-close

[2019-09-23 22:44] #26849 closed

[2019-09-23 22:44] CeciAc commented on #39407
Hi team,
the issue refers to the code but is related to the region of the localized page (zh-TW)
maybe some clarification degarding the location could be added to the documentation?
best regards

[2019-09-23 22:46] SnehaGunda commented on #39084
@paulpce Thank you for your feedback, I did an edit pass on the whole doc and submitted some changes in the above PR. Hope it's better now, if you see any minor issues, please feel free to click on the edit icon on the page and submit a PR. We are happy to take public contributions.

I will now close this issue if there aren't further questions.

#please-close

[2019-09-23 22:46] #39084 closed

[2019-09-23 22:58] ms-premp commented on #38595
@bandersmsft @AndrewGailer clients cannot set these headers. When they make ARM call, these headers get set by system. The fact that error says that this header is missing, it means that the call is being made in context of an App (AAD app or service prinicipal). This is at present not supported for management group scope.

[2019-09-23 22:59] zhenlan commented on #39310
Hi @vikramdadwal you can create a pipeline task, in which you can import configuration from a json file to App Configuration using Azure CLI. Please check out
[code]

[2019-09-23 23:06] Alan-d opened #39409 "Broken link"
Hello, the link (Azure Data Lake Storage Gen1 Python (Filesystem) Reference) to https://azure-datalake-store.readthedocs.io/en/latest does not work.  That page does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a236500-e18a-cfd4-ad38-8cb1d149f49f
* Version Independent ID: b6639581-6175-f913-7a45-52d1e551f77

[2019-09-23 23:10] peterpogorski commented on #11951
@eugen-nw The authorization of Event Store REST calls is done the same way as any other REST call. See https://docs.microsoft.com/en-us/rest/api/servicefabric/ for a listing of the Service Fabric REST APIs.

[2019-09-23 23:13] SnehaGunda commented on #37970
@irriss adding to Matias's response:

"_You can read the change feed for historic items, for example, items that were added five years ago. If the item is not deleted you can read the change feed as far as the origin of your container.
and_"

The above statement means there will be one entry (just the most recent change not the intermediate changes) in the change feed log for every item as long as

[2019-09-23 23:13] #37970 closed

[2019-09-23 23:13] ibabou commented on #11951
@eugen-nw The authentication should be similar to other SF REST APIs. nothing should be special with EventsStore APIs. https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-authenticating-service-fabric-rest-requests
Are you seeing issues with authentication ?

[2019-09-23 23:24] palma21 commented on #39370
That is the default kubernetes behavior when doing an image upgrade. "RollingUpdate"

This is user configurable by using the Strategy property.
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy

[2019-09-23 23:26] njsee commented on #39381
+1 - I just deployed it for a blob storage account in Canada Central.

[2019-09-23 23:26] njsee commented on #39381
please dont turn it off!

[2019-09-23 23:31] ecfan commented on #38448
@KonTheCat: Hi Konstantin, thanks for raising the UX issue in this topic. The content is updated to show the current UX.

[2019-09-23 23:34] rwike77 commented on #33008
Hi @blueelvis , I talked with some other folks about adding the REST endpoint.  We're concerned about people taking dependencies on specific error codes and messages in their apps, which has caused problems in the past.  Adding programmatic lookup could encourage that.  We're not currently planning to add a REST endpoint for looking up the error codes.  Sorry, I'm sure that's not the answer you we

[2019-09-23 23:36] MarileeTurscak-MSFT commented on #39242
Yes, those features apply to apps that are running on VMs. To monitor and secure your App Service, you have to have an App Service plan that is associated with dedicated machines. Azure Security Center does not support the Free, Shared, or Consumption plans.
https://docs.microsoft.com/en-us/azure/security-center/security-center-adaptive-application

Additionally, if the app is hosted in a Free or

[2019-09-23 23:38] MarileeTurscak-MSFT commented on #39242
I do think the pricing tier description is a bit confusing and even showing the service offering for the free tier is contradictory to the statement about Security Center not supporting the free plans. I am looping in @memildin to see if we can update this.

[2019-09-23 23:40] SnehaGunda commented on #38700
@bartsokol as Mark mentioned, V3 SDK supports partitioned containers by default, migration is only required if you are using V2 or lower SDKs.

I sent an email to Pradeep to check if something has changed with the code sample.

[2019-09-23 23:42] MarileeTurscak-MSFT commented on #39242
Also, the Security Center settings do not include everything the Standard tier offers for app services. There are many more features offered that are covered here. https://docs.microsoft.com/en-us/azure/app-service/overview-hosting-plans

[2019-09-23 23:49] ChulHul opened #39410 "typo"
Install-Module -Name Az.Compute -Repository PSGallery -RequiredVersion 2.4.2-preview -AllowPrelease should be Install-Module -Name Az.Compute -Repository PSGallery -RequiredVersion 2.4.2-preview -AllowPrerelease

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 094dfe37-f34e-ecc6-abeb-0baf1a86511b
* Version Independent ID

[2019-09-23 23:50] SnehaGunda commented on #38157
@rbrundritt I don't have any context about this issue. I sent an email to few folks on the Cosmos DB team who work on this area and CC'ed you. Let's track this issue via email.

I will close it here and track any doc updates with that email thread.

#please-close

[2019-09-23 23:50] #38157 closed

[2019-09-23 23:51] dcbrown16 commented on #39242
@MarileeTurscak-MSFT sorry, let me clarify. I saw the restriction on Free/Shared App Service Plans, but that's not what I'm talking about, I'm talking about the Free/Standard plans of Security Center.

What value are we getting from paying the price I highlighted in this screenshot?

![image](https://user-images.githubusercontent.com/34466884/65470998-52263200-de22-11e9-8291-82475db0f7ca.png)

[2019-09-23 23:53] MarileeTurscak-MSFT commented on #39242
I think there is a discrepancy between the pricing page and the article.

[2019-09-23 23:53] mrvamsidhar commented on #39326
@DCtheGeek , Thanks. I added a new feature request, https://feedback.azure.com/forums/915958-azure-governance/suggestions/38662042-allow-deny-assignments-for-existing-resource-group

It would be great if we can apply to this to the existing resource group as well.

[2019-09-23 23:55] mrvamsidhar commented on #39321
@alex-frankel , I am performing via REST in Powershell.
`function Get-ScriptDirectory {
    Split-Path -Parent $PSCommandPath
}

$currentDirectory      = Get-ScriptDirectory
$azContext = Get-AzureRmContext
$azProfile = [Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureRmProfileProvider]::Instance.Profile
$profileClient = New-Object -TypeName Microsoft.Azure.Commands.ResourceManager

[2019-09-23 23:57] fiksen99 commented on #39165
Looks good. One thing to note is that we realised that, instead of going
into code view, you can achieve the same thing with the "Expressions" tab
of the dynamic content window (i.e. find the items() expression and
dereference using that)

Thanks Esther!

On Mon, Sep 23, 2019 at 2:48 PM Esther Fan <notifications@github.com> wrote:

[2019-09-24 00:05] KranthiPakala-MSFT commented on #39409
@Alan-d Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-09-24 00:13] kobulloc-MSFT commented on #39241
@MedAnd That does appear to be the case.  I'm following up with the document author.

![image](https://user-images.githubusercontent.com/37556655/65471793-6c154400-de25-11e9-94b1-e3cbf44a4941.png)

[2019-09-24 00:14] Karishma-Tiwari-MSFT commented on #39299
Thanks for the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-24 00:14] #39299 closed

[2019-09-24 00:16] Karishma-Tiwari-MSFT commented on #39326
Thanks @mrvamsidhar for sharing the valuable feedback on feedback.azure.com.
This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for prioritization.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-24 00:16] #39326 closed

[2019-09-24 00:18] Alberto-Vega-MSFT commented on #39404
@leeprtc Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-24 00:21] MarileeTurscak-MSFT commented on #39009
The product team has confirmed:

Azure AD B2C does not have native integration with the first party services such as O365, and that includes My Apps. It only works if you use the Azure AD functionality of a B2C tenant, such as logging in with an Azure AD account that resides in an AAD B2C tenant. It will not tie into the B2C functionality, such as determining which B2C apps you signed up to.

You

[2019-09-24 00:22] MarileeTurscak-MSFT commented on #39009
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or open a thread on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-09-24 00:22] #39009 closed

[2019-09-24 00:26] cynthn commented on #39410
@ChulHul Thanks for catching that! I've filed a pull request to fix the typo. Thanks again :)

#please-close https://github.com/MicrosoftDocs/azure-docs-pr/pull/89491

[2019-09-24 00:26] #39410 closed

[2019-09-24 00:32] BharathNimmala-MSFT commented on #39310
Thank you @zhenlan for your help on this.

@vikramdadwal Hope the above information helps, please let us know if you have any further queries. Thank you

[2019-09-24 01:04] cherylmc commented on #39060
All set! Thank you for letting us know.

[2019-09-24 01:05] cogran opened #39413 "Health Probe Comparison"
It would helpful the difference in health probes with the Azure Front Door compared to other Azure Networking products such as Load Balancers and Application Gateways which have much more generous allowances for their "healthy" probe statuses. Making a call out to this may reduce confusion with first time users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-09-24 01:05] #39059 closed

[2019-09-24 01:45] dcbrown16 commented on #38691
@msrini-MSFT can we at least use AzureCloud service tag to restrict the inbound traffic on ports 65503-65534 to the AGW subnet, instead of allowing access on those ports from all sources?

[2019-09-24 01:52] kumarallamraju opened #39414 "typo on this page : DQL to SQL"
[Enter feedback here]
Access DQL Database Server privately from the VM

should be

Access SQL Database Server privately from the VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c1d2a4-68a1-4afa-9363-27ffe5513e1b
* Version Independent ID: 69285ac6-3150-5cc0-4a12-efba59187696
* Content: [Create an Azure private endpo

[2019-09-24 02:05] cawrites commented on #38178
@DeanGross I have an update on your request. I viewed the query text that generates these insights in the workbook.  In order for the **Require Privacy Statement** to appear in the workbook it needs to be configured for your application. https://docs.microsoft.com/azure/active-directory/develop/howto-add-terms-of-service-privacy-statement for **Require Terms of Use** to appear will need to be conf

[2019-09-24 02:31] KingdomOfEnds commented on #39263
@BhupalPatil - Thank you for the great question!

Having the ability to represent data in a variety of formats is fairly essential for any charting effort. The documentation provides a few examples about to incorporate multiple charting options using the JS client SDK here: https://docs.microsoft.com/en-us/azure/time-series-insights/tutorial-explore-js-client-lib. These examples can be viewed here

[2019-09-24 02:32] johncrim commented on #38819
@bartonjs - I wasn't trying to create any work for you, just pointing out that the documentation completely does not work, and is misleading, when writing .NET Core services that run in Service Fabric on Linux.

I appreciate your other work, which is quite clear about what is supported, and what is not, on Linux.

[2019-09-24 02:33] KingdomOfEnds commented on #39266
@BhupalPatil - Thank you for the great question!

We appreciate your need to redundantly backup data. There are presently a few options. For the Preview: https://docs.microsoft.com/azure/time-series-insights/time-series-insights-update-plan#business-disaster-recovery and https://docs.microsoft.com/azure/time-series-insights/time-series-insights-update-storage-ingress describe data persistence conf

[2019-09-24 02:42] msjuergent commented on #39380
Reason not having M32ms listed with recommended storage is that we never certified M32ms for SAP HANA usage. Please see: https://www.sap.com/dmc/exp/2014-09-02-hana-hardware/enEN/iaas.html#categories=Microsoft%20Azure
We found the VM too memory overloaded, so, that it did not make sense o certify for HANA. If you still want to use it, consider similar storage configuration as M64s (1TB memory)

[2019-09-24 02:43] johncrim commented on #39137
@Karishma-Tiwari-MSFT : This is the current documentation on this property:

Type: string (enum)
Required: No

Which is completely not helpful. The definition repeats the property name, and doesn't add any helpful information. Also, if it's an enum, the set of possible properties should be listed, and the effect of listing any of them.

Lastly, my initial question is why this value is included in

[2019-09-24 02:43] DixitArora-MSFT commented on #39264
Hi @AbhishekTripathi / @natelaff I have assigned this to content author for further review and update as appropriate.

[2019-09-24 03:06] omnimose commented on #28745
Although I am not sure, to me subnet mask seems not right. Anybody could explain why we need this step here? and why we need to set the subnet mask to 255.255.255.255?

[2019-09-24 03:13] KetanChawda-MSFT commented on #39268
@durgesh23 The steps mentioned in the MS document are valid for the scenario covered. Since your issue is not directly related to the document, , I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

This channel is for driving improv

[2019-09-24 03:13] #39268 closed

[2019-09-24 03:59] StingyJack opened #39415 "Errors with New-AzContainerGroup when following the instructions verbatim"
The first time I tried this command, it failed with
[code]
After figuring out I needed to run `get-azcontext | Set-AzContext`. the second time I tried this command I got...
[code]
After changing the DnsNameLabel parameter to something with a random ending, I was able to create the container group.  Please update the documentation to include the first step of setting the subscription or context.

A

[2019-09-24 04:08] SeanFeldman commented on #33060
It appears the document was modified and the command to search for a topic has been removed.
The original command was https://github.com/MicrosoftDocs/azure-docs/blame/2296a45e11fcebaf0a0463c9b1dae3fe5a7941c6/articles/event-grid/how-to-event-domains.md#L205

[2019-09-24 04:14] KrishnaG-MSFT commented on #39399
@EstherGaddindla 👍 Thanks. Looking forward to see any actual feedback on the Azure documentation so that it helps to improve the quality of the Azure documentation.

[2019-09-24 04:16] KrishnaG-MSFT commented on #39410
@cynthn Thanks for the quick response. :+1:

[2019-09-24 04:26] msrini-MSFT commented on #38691
@woutervanranst , yes you can.

[2019-09-24 04:28] dcbrown16 commented on #38691
Thanks @msrini-MSFT - it seems like adding that information for now (as opposed to "all sources") would go a long way towards easing customer concerns about open access to the App GW. Can we consider adding this to the doc? Or is the GatewayManager service tag issue close to being resolved (so we can wait and update with that more restrictive tag instead)?

[2019-09-24 04:34] tmaheshwar commented on #39358
Hi

Is Application ID also called as “Service Principal”; please confirm

Thanks

Best Regards
Maheshwar Tayal

From: Frank Hu <notifications@github.com>
Sent: Tuesday, September 24, 2019 03:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tayal, Maheshwar <mtayal4@dxc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is Service Principal valu

[2019-09-24 04:36] kasinh commented on #24482
@SujayJDesai can you take a look and tag the right folks

[2019-09-24 04:39] msrini-MSFT commented on #39413
@cogran , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-24 04:39] msrini-MSFT commented on #39414
@kumarallamraju , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-24 04:42] zhulixuan opened #39416 "No "Alias Record Set check box" option under A record"
According to above instruction :
Leave the Name text box empty to represent the domain name apex. An example is contoso.com.
Leave the Type as an A record.
Select the Alias Record Set check box.
Select Choose Azure service, and select the TM-alias-test Traffic Manager profile.

However, I do not see such an "Alias Record Set check box" on Azure portal.  It only has a text box of "IP address".  How

[2019-09-24 04:53] msrini-MSFT commented on #39416
@zhulixuan , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-24 05:04] KrishnaG-MSFT commented on #39343
@cycwll For now the Azure App Service Jenkins plugin does not support proxy configuration. I suggest you could enable proxy at JVM level when you start the Jenkins for a temporary solution.

Closing this azure-docs repo GitHub issue for now. If there are further questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-09-24 05:04] #39343 closed

[2019-09-24 05:10] Mark7even opened #39417 "No more add button?"
The only time I see the ability to add is when searching in the access panel and then "Didn't find what you were looking for? Add an app" shows up with a link. Maybe documentation needs to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94025351-b9fe-5819-64fc-a2fe2686c7e2
* Version Independent ID: f66ce467-

[2019-09-24 05:11] SwathiDhanwada-MSFT commented on #39352
@tfitzmac any input on this ?

[2019-09-24 05:26] shashishailaj commented on #39417
@Mark7even Thank you for your feedback . We will investigate and update the thread.

[2019-09-24 05:32] SubhashVasarapu-MSFT commented on #39401
@svangeti , We are looking into this query and will update you as soon as possible.

[2019-09-24 05:36] jjindrich commented on #39250
Hi, I'm building webapp based on dotNET core 2.1. Runnning command `az acr build -r myacr https://github.com/tkubica12/dotnetcore-sqldb-tutorial.git -f Dockerfile --platform Windows -t web:0-windows`
Docker image is created but when I run it on Azure Container Instance getting error about wrong base image. You can check it

[2019-09-24 05:52] shashishailaj commented on #39400
@TravisEz13 Thank you for your feedback . We will investigate and update the thread.

[2019-09-24 06:08] PramodValavala-MSFT commented on #39064
@t-l-k Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-24 06:08] #39064 closed

[2019-09-24 06:08] PramodValavala-MSFT commented on #39313
@unshavenspyder Hope my previous comment helps.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-24 06:08] #39313 closed

[2019-09-24 06:08] PramodValavala-MSFT commented on #39318
@polywld7 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-24 06:08] #39318 closed

[2019-09-24 06:10] MarileeTurscak-MSFT commented on #39280
Hi @yull1860 ,

Please send me an email at AzCommunity@microsoft.com so I can further troubleshoot with you. I would like to understand more about your case.

[2019-09-24 06:10] #39280 closed

[2019-09-24 06:11] MarileeTurscak-MSFT commented on #39391
@TeaBaerd
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-24 06:15] sajayantony commented on #39250
/cc @northtyphoon

[2019-09-24 06:17] axelgMS opened #39418 "Soft Delete available for Classic disks??"
This page mentions:
"Is soft delete available for virtual machine disks?
Soft delete is available for both premium and standard unmanaged Disks. "

Can you please clarify how it is for Classic Disks?
In Classic, Disks is different than Blobs - and I'm not aware of a soft delete feature for Classic Disks.

That does doesn't make it clear and confuse users.

---
#### Document Details

⚠ *Do not edit

[2019-09-24 06:22] dooriya commented on #39404
@leeprtc The standard interface **_urn:azureiot:DeviceManagement:DeviceInformation:1_** is supposed to be automatically downloaded by the VS Code extension when you trigger the “**IoT Plug and Play: Generate your Device Code Stub…**” command.

No matter user is connected to a model repository or not, VS Code extension will automatically download the DeviceInformation interface file if it doesn’t e

[2019-09-24 06:30] dooriya commented on #39404
Follow [this tutorial](https://docs.microsoft.com/en-us/azure/iot-pnp/quickstart-create-pnp-device):
A new json file which contains the DeviceInformation definition will be downloaded to your **pnp_app** folder after you trigger the Generate Code command:
![image](https://user-images.githubusercontent.com/10163840/65486481-21ec9b00-ded7-11e9-8722-ddc5aa92aac3.png)

[2019-09-24 06:38] msrini-MSFT commented on #39414
PR has been made: https://github.com/MicrosoftDocs/azure-docs-pr/pull/89504

Changes will be reflected shortly.

[2019-09-24 06:40] souravmishra-msft commented on #39187
@crixo, As of now, this is not possible to store an image in a custom attribute in B2C, while the user signins in directly to B2C. In case you are using IDPs like Facebook or Azure AD with B2C, in that case you can fetch the image and store it in an attribute.

As example, you can refer to this StackOverflow url,[https://stackoverflow.com/questions/29895279/get-profile-picture-from-azure-active-di

[2019-09-24 06:44] #39414 closed

[2019-09-24 06:49] msrini-MSFT commented on #39416
@zhulixuan , you should create Alias record in DNS Zone not on "Private DNS Zone". I am able to create Alias record. Attached screenshot:

![image](https://user-images.githubusercontent.com/47132998/65487957-9c142400-dec5-11e9-9f72-9327b042d567.png)

[2019-09-24 06:54] cycwll commented on #39343
@KrishnaG-MSFT thank's for your help, I'll try it your solution.

[2019-09-24 06:54] cycwll commented on #39343
@KrishnaG-MSFT thank's for your help, I'll try it your solution.

[2019-09-24 06:57] lonevvolf commented on #39354
No DNS domain configured. Unable to perform DNS Update.

[2019-09-24 07:29] mike-urnun-msft commented on #38975
Hello @virendragour - I've gone through the steps and didn't run into any issues:

![image](https://user-images.githubusercontent.com/36717703/65490281-b87e7500-de61-11e9-85ff-81d3417490c3.png)

Since we haven't found any issues with this documentation, we will now proceed to close this thread. As the next step, we'd like to invite you to open a thread on [MSDN forums](https://social.msdn.microsof

[2019-09-24 07:29] #38975 closed

[2019-09-24 07:30] dcbrown16 opened #39420 "B size temporary disks"
Has there been a change in the temporary disk size for small B series VMs?
This page lists 4 GB for B1ls and B1s but the portal is showing 1GB and 2GB, respectively.

![image](https://user-images.githubusercontent.com/34466884/65490725-83265700-de62-11e9-82a4-64c6f78d2187.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-24 07:42] nagasandeep opened #39421 "Foreign key and concurrent connections"
Will this approach automatically sequence tables based on the presence of foreign keys? When there are concurrent connections, don't we run into reference errors?

[2019-09-24 07:43] kruti15ars opened #39422 "Please include how customers can extend backup retention period through the portal"
Hi Team,
I checked the following links for backups on Azure MySQL
https://docs.microsoft.com/en-us/azure/mysql/concepts-pricing-tiers#backup
https://docs.microsoft.com/en-us/azure/mysql/concepts-backup
https://docs.microsoft.com/en-us/azure/mysql/howto-create-manage-server-portal
No where in the documentation it teaches you how to extend backup retention for 35 days.
Finally I found it at the Pric

[2019-09-24 07:44] #39421 closed

[2019-09-24 07:45] nagasandeep commented on #39421
wrongly tagged

[2019-09-24 07:47] nagasandeep opened #39423 "Drop/Truncate table in pre-copy script with foreign keys and concurrent connections"
Will this approach automatically sequence tables based on the presence of foreign keys for drop or truncating a table in pre copy script? When there are concurrent connections, don't we run into reference errors?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent I

[2019-09-24 07:50] kruti15ars opened #39424 "Please include how customers can extend backup retention period through the portal"
Hi Team,
I checked the following links for backups on Azure MySQL
https://docs.microsoft.com/en-us/azure/mysql/concepts-pricing-tiers#backup
https://docs.microsoft.com/en-us/azure/mysql/concepts-backup
https://docs.microsoft.com/en-us/azure/mysql/howto-create-manage-server-portal
No where in the documentation it teaches you how to extend backup retention for 35 days.
Finally I found it at the Pric

[2019-09-24 08:12] jjindrich commented on #39250
Getting this error from ACI deployment: {"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n \"error\": {\r\n \"code\": \"OsVersionNotSupported\",\r\n \"message\": \"The Windows version of image 'cpacr6aznnn7mvnp

[2019-09-24 08:14] KrishnaG-MSFT commented on #39421
@nagasandeep  I hope you have self resolved an Azure product related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-09-24 08:17] SubhashVasarapu-MSFT commented on #39334
@MartinJindrisek, I am wondering if you had a chance to look over the previous reply. It would be great if you can elaborate on the issue for further help.

[2019-09-24 08:21] ekurutepe commented on #35553
I'm building a speech to text feature based on this service for my customers and I could only get the webhooks working with the workaround @rajatb94 posted two months ago on this thread! I understand different modules can have different releases cycles and all but two months? Not even the docs are updated.

[2019-09-24 08:32] rajatb94 commented on #35553
Hi Microsoft guys I got a really quick fix for you. Just change the issue title to "Beating Head Against The Wall".

[2019-09-24 08:33] shashishailaj commented on #39152
We will close this for now . The pr is initiated for review and it will reflect on the doc after due diligence by the documentation team. FYI @rwike77 .

Thank you.

[2019-09-24 08:33] #39152 closed

[2019-09-24 08:34] ChiragMishra-MSFT commented on #39423
@nagasandeep Yes, it will automatically approach tables in sequence. Each iteration of the ForEach activity is only executed once the previous one is complete.
The pre-copy script is something that is executed just before starting the copy activity.
Hence, concurrency is not an issue.

[2019-09-24 08:34] AshokPeddakotla-MSFT commented on #39324
@djaus2 We hope your query is addressed. [PR](https://github.com/MicrosoftDocs/azure-docs/pull/39390) has been created to update the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-24 08:34] #39324 closed

[2019-09-24 08:38] jjindrich commented on #39250
Using base image mcr.microsoft.com/dotnet/core/aspnet:2.1

[2019-09-24 08:58] MickQuinlan commented on #38588
@ManojReddy-MSFT I sent the manifests of both the applications to azcommunity@microsoft.com as requested.

[2019-09-24 09:04] msrini-MSFT commented on #39394
@cogran , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-24 09:04] owingruters commented on #33157
I see the same issue

[2019-09-24 09:04] SumanthMarigowda-MSFT commented on #39418
@axelgMS Thanks for your question. We are checking on this and will respond to you soon.

[2019-09-24 09:28] ToMakeSense commented on #39323
@PramodValavala-MSFT  Ok, Got it. thanks for your update.

[2019-09-24 09:30] DrReedo opened #39425 "What value do we give for <app_name>?"
When I try entering the name of my API I am unable to set clientCertEnabled = true using the following:

az webapp update --set clientCertEnabled=true --name &lt;app_name&gt; --resource-group &lt;group_name&gt;

Are you able to provide an example?  What az_resource_type should app_name be?  If it's type API Management Service is it possible to only enable the clientCert for one API (not all of the

[2019-09-24 09:49] KalyanChanumolu-MSFT commented on #39245
@ignomat, this appears to be a known issue and very sporadic with ARM tracking.
It should succeed on second attempt.
Please reach out to Azure Support if the issue persists.
We will proceed to close this issue now.

[2019-09-24 09:49] #39245 closed

[2019-09-24 09:51] GitTune commented on #34880
@AhmadNYasin that makes sense, but it is confusing because it is not described in the documentation.

[2019-09-24 10:00] SubhashVasarapu-MSFT commented on #39364
@thommck,  For ExpressRoute traffic, the zones are defined as follows:

**Zone 1:** West US, East US, North Central US, South Central US, East US 2, Central US, West Europe, North Europe, France Central, France South, Canada East, Canada Central.

**Zone 2:** East Asia, Southeast Asia, Australia East, Australia Southeast, Japan East, Japan West, Korea Central, Korea South, India South, India West,

[2019-09-24 10:02] AshokPeddakotla-MSFT commented on #39306
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-24 10:02] #39306 closed

[2019-09-24 10:09] prvnai opened #39428 "Exception on Initializing TelemetryConfiguration"
1. I referred

 nuget package.

2. TelemetryConfiguration is configured via
`
[code]

3. When Injecting as Dependency in a Durable Function Constructor , Getting the following exception

Using .NET Core 2.2,

Azure Functions Core Tools (2.7.1595 Commit hash: dbf9a30b5775570ceac0baf6338ef4e88746f3c4)
Function Runtime Version: 2.0.12653.0

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-09-24 10:10] AshokPeddakotla-MSFT commented on #27826
@robinsh Please share the sample here so that customers can try.
@ntrpnr As mentioned, the documentation will be rewritten.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-24 10:10] #27826 closed

[2019-09-24 10:16] jrm346 opened #39429 "context.Request.MatchedParameters"
Is context.Request.MatchedParameters supposed to be the query parameters from the request? if so it doesn't seem to work. I passed in the URL "/forward_equity_rates?n=11" and got this from a trace:

set-query-parameter (0.015 ms)
{
    "message": "Expression was successfully evaluated.",
    "expression": "String.Join(\" \", context.Request.MatchedParameters.Keys)",
    "value": ""
}

should value

[2019-09-24 10:16] pdebruin opened #39430 "Add Project results in error"
In AKS Deployment Center I want to configure a new deployment, so I click Add project, select github, select repository and master, leave found dockerfile and port and location, enter new devops project name and select existing registry. This results in "The response doesn't contain httpApplicationRoutingDomain".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-09-24 10:23] AjayKumar-MSFT commented on #39425
@DrReedo, Thanks for posting the question! For the <app_name>, you would typically provide the app name (yourwebappname.azurewebsites.net). Kindly let us know if you're receiving an specific error message. Share a screenshot of the issue after concealing any private details.
![image](https://user-images.githubusercontent.com/44606227/65503667-038c9c80-dee3-11e9-9fd8-e4c9b344d30f.png)

[2019-09-24 10:25] jakaruna-MSFT commented on #39357
@tysonn when the text contains `@` in it, then bold, italic are not working for that text. Instead the ** is showing as it is on the document.

This is happening for the username mentioned in this issue where the username is having `@`.
This is happening on other documents also.
For example https://docs.microsoft.com/en-us/azure/vmware-cloudsimple/private-cloud-secure#rbac-for-private-cloud-vcente

[2019-09-24 10:26] jrm346 commented on #39429
OK fidured out to get the query parameters you need context.Request.Url.Query which give a read only dictionary. but in this case what is  context.Request.MatchedParameters?

[2019-09-24 10:29] VikasPullagura-MSFT commented on #39420
@dcbrown16 Thanks for the feedback, we are looking into it.

[2019-09-24 10:31] prvnai commented on #39428
Found the reason - The project was referring Microsoft.Extensions.Logging.ApplicationInsights nuget package as well. Removing this reference solved the issue

[2019-09-24 10:31] #39428 closed

[2019-09-24 10:32] az-newbie opened #39431 "Scenario 3 doesn't work"
Scenario 3 „Autostop VMs based on low CPU usage“ doesn’t work on subscription that already has been migrated to use new metric alert. This function uses classic alert rules. Classic alerts in Azure Monitor have been retired in September 2019.

I have the following error message in the runbook log „AutoStop_CreateAlert_Child“: Add-AzureRmMetricAlertRule : Exception type: ErrorResponseException, Mes

[2019-09-24 10:37] jakaruna-MSFT commented on #39330
I check with the team. Currently that plugin cant place ACI inside the Vnet.
I will place a feature  request for that feature from here https://issues.jenkins-ci.org/secure/Dashboard.jspa

[2019-09-24 10:39] harshavemuluru-gep commented on #38220
@annaymj  i was able to download the docker container where the model has been deployed and ssh into it to see the exact scoring script, the json payload is something like this :

` {"data":[{"Column4": "This model should be working."}]}`

In my case,
"Column4" will be my name of the column in input excel .

[2019-09-24 10:43] VikasPullagura-MSFT commented on #39420
@dcbrown16 I have raised a PR the changes will be live once it is approved.

[2019-09-24 10:45] karthick3d commented on #32161
I had the same issue, followed the same approach as above to delete the partition. However, I am not sure how to recreate a recovery drive (for completeness) at the end of the Drive. Please suggest If someone solved this already.

[2019-09-24 10:48] tiandklerk commented on #38862
Hi @normesta  & @bensack

This is a solution I received from Microsoft support. Please note the link in the below is based on Data Lake gen1 connector and also based on authentication error which I believe is not the same issue here, but rather with the connector not being supported by PBI online as per @davidc555's feedback so not sure if it is applicable:
....
We have got the updates from the pr

[2019-09-24 10:49] DrReedo commented on #39425
Hello,

I am trying to secure an API.  I have tried to put the name in the yourwebappname (I have looked at the Service URL in Resource Explorer) and I am still getting an error when running this:

az webapp update --set clientCertEnabled=true --name ‘xxxxx.azurewebsites.net' --resource-group '<redacted - name of resource group>'

The error log is as below.  I’m also in the Developer tier so I’m n

[2019-09-24 11:01] PandaWood opened #39432 "Adding a school or work account shows a dialog with code/url - this is not explained here"
On adding a work or school account in Microsoft Authenticator, I get a dialog showing 2 text boxes "code" and "url" - I have no idea what these are supposed to be and the possibility of this dialog showing is not mentioned here at all. Is this a bug in the product or an omission in the documentation here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-09-24 11:02] DrReedo commented on #39425
Hello,

I am trying to secure an API.  I have tried to put the name in the yourwebappname (I have looked at the Service URL in Resource Explorer) and I am still getting an error when running this:

az webapp update --set clientCertEnabled=true --name ‘xxxxx.azurewebsites.net' --resource-group '<redacted - name of resource group>'

The error log is as below.  I’m also in the Developer tier so I’m n

[2019-09-24 11:22] SubhashVasarapu-MSFT commented on #39381
@Willem-J-an, Thanks for your feedback. As the private link is still in preview, we may change or discontinue Previews at any time without notice. We also may choose not to release a Preview into "General Availability." We don't advice to deploy preview services into your production environment.
Here are the [supplemental terms of use for Microsoft Azure previews.](https://azure.microsoft.com/en-i

[2019-09-24 11:22] SwathiDhanwada-MSFT commented on #39431
@az-newbie Thanks for comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-24 11:22] PramodValavala-MSFT commented on #39429
@jrm346 This contains key-value pairs of parameters defined in the operation as described in [this section](https://docs.microsoft.com/en-us/azure/api-management/add-api-manually#add-and-test-a-parameterized-operation).

![image](https://user-images.githubusercontent.com/43602528/65507373-6da93f80-deeb-11e9-8661-2e31c5bcb325.png)

Basically, if your operation is defined like above, it would be ava

[2019-09-24 11:26] GitTune opened #39433 "Learning mode"
Does the learning period starts at the first login, or sooner? In other words, when a user is active in Azure AD, but does not log in for 30 days, will all locations be marked as unfamiliar?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d4

[2019-09-24 11:41] femsulu commented on #39103
We currently dont have at-scale scripts for Azure Migrate yet. The at-scale scritps are for ASR technology. Using PowerSHell/CSV is optional. There's also the option of using the Azure management portal to do migrations.

[2019-09-24 11:41] femsulu commented on #39103
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-24 11:41] #39103 closed

[2019-09-24 12:04] SadiqhAhmed-MSFT commented on #39307
The [link](https://docs.microsoft.com/en-us/azure/billing/billing-enterprise-api#enabling-data-access-to-the-api) you've referenced in your post is not for ARM based APIs. The APIs which support that token are also mentioned on same page.. The host name for these apis will be consumption.azure.com and not management.azure.com.

[2019-09-24 12:05] SadiqhAhmed-MSFT commented on #39108
@MiroslavVanicky Unfortunately there isn’t a global region Id, as you've noted different systems are using different region Ids.

[2019-09-24 12:06] reubster commented on #6226
@fmms

"I am just building the TMSL as part of DevOps pipeline dynamically and injecting there the authentication information from secure variables."

My TMSL powershell has

$AlterDataOpsDatasourceCommand = @"

[code]

In the script, $AASAutomationUsername, $AASAutomationPassword need to be expanded plain text, even if they're originally secure variables.

TMSL doesn't support secure strings in t

[2019-09-24 12:12] TeaBaerd commented on #39391
You may close this question. I misunderstood the request to update SignUpSignInContoso.xml to instead update the SignUpSignIn User Flow.

[2019-09-24 12:19] iamnarendhar opened #39434 "Need to Access External ADLA catalog tables in USQL"
We need to join a table in one ADLA catalog with another table in different ADLA catalog in a USQL script.

Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9ce1c9b-b724-4d9c-7761-25d861b85e0e
* Version Independent ID: 79629675-b477-ab57-1597-25ac3aed9e0c
* Content: [Get started with the U-SQL catalog in Az

[2019-09-24 12:27] BhupalPatil commented on #39263
@KingdomOfEnds , Thanks for getting back.... with the JS option I think I would need to create a new web application and host it, which adds additional app to look after etc... is it possible to have something in time series insights portal it self? or alternatively can the same data redirected to Azure Log Analytics and build dashboard there? ( using log queries).

Thanks,
Bhupal

[2019-09-24 12:34] MLopesSousa opened #39435 "Lack of consistent nomenclature"
You install a small instrumentation package in your application, and set up an "Application Insights" resource in the Microsoft Azure portal. The instrumentation monitors your app and sends telemetry data to "Azure Monitor". (The application can run anywhere - it doesn't have to be hosted in Azure.)

The interchange in the usage of "Application Insights" and "Azure Monitor" can lead to confusion w

[2019-09-24 12:34] joshschmitter commented on #30853
I agree there should not be a separate template required for updating throughput.  This defeats the purpose of idempotent IaC.  I would consider this a bug.  It's inconsistent with how all other azure resources work.

[2019-09-24 12:38] memildin commented on #32474
@PRMerger10 please assign this to @rkarlin

[2019-09-24 12:40] memildin commented on #32615
#reassign:memildin

[2019-09-24 12:42] memildin commented on #38965
#reassign:memildin

[2019-09-24 12:42] memildin commented on #38456
#reassign:memildin

[2019-09-24 12:43] memildin commented on #37063
#reassign:memildin

[2019-09-24 12:43] memildin commented on #36997
#reassign:memildin

[2019-09-24 12:43] memildin commented on #33748
#reassign:memildin

[2019-09-24 12:44] memildin commented on #32474
#reassign:rkarlin

[2019-09-24 12:45] memildin commented on #29964
#reassign:memildin

[2019-09-24 12:45] gchappell99 opened #39437 "tagsList does not always return a JSON array"
The example command given for 'tagsList' includes the query parameter "format=text" which causes this API call not to return the example response JSON array. Instead it requires further drilling down to "tagsList/0/name" and "tagsList/0/value".

To actually get a JSON response, "format=json" is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-24 12:46] memildin commented on #29229
#reassign:memildin

[2019-09-24 12:57] hakoneriksson commented on #6226
This looks promising. Everytime we merge features is a pain. Thanks!
https://tabulareditor.github.io/blog.html

[2019-09-24 13:06] j-martens commented on #38613
We hope this addresses your issue. We will now proceed to close this issue.

#please-close

[2019-09-24 13:06] #38613 closed

[2019-09-24 13:07] j-martens commented on #39273
@blackmist - any advice here?

[2019-09-24 13:16] edlang commented on #28906
There does seem to be a package for Debian 10, albeit with no dependencies specified:

$ apt-cache show blobfuse
Package: blobfuse
Priority: optional
Section: devel
Installed-Size: 16209
Maintainer: Microsoft - Azure Storage
Architecture: amd64
Version: 1.1.1
Filename: pool/main/b/blobfuse/blobfuse-1.1.1-buster.deb
Size: 4716550
MD5sum: 1989ffcf1934866b68517c612f597a34
SHA1: 284e42b19d21e9a9ac45b1

[2019-09-24 13:18] amitbapat commented on #32741
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-vnet-service-endpoints#trusted-services

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: nicolasevens <notifications@github.com>
Sent: Tuesday, September 24, 2019 5:39:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Amit Bapat <amit.bapat@microsoft.com>; Assign <assign@norep

[2019-09-24 13:23] albigi opened #39439 "Easv3 (and Dasv3) series available only in CentralUS region"
Despite both Easv3 and Dasv3 series are labeled as supported without specific region availability limitation, they are only available in Central US region as of today.

az vm list-sizes --location eastus --query "[? name!='null']|[? starts_with(name, 'Standard_E')]|[? contains(name, 'as')]"
[
  {
    "maxDataDiskCount": 4,
    "memoryInMb": 16384,
    "name": "Standard_E2as_v3",
    "numberOfCores

[2019-09-24 13:35] reubster commented on #6226
"instead of trying to install parts of SSMS on the build agents I am using Tabular Editor. That is a nice 2MB concise download that i do during the build. See https://github.com/otykier/TabularEditor."

Yes, me too. It's so much better.

"The author spoke at SQLbits about integration with DevOps."

I went to that too! Thanks for posting the link. I'd been wanting the slides, but had forgotten.

[2019-09-24 13:40] NavtejSaini-MSFT commented on #39422
@kruti15ars We are checking this and will get back to you.

[2019-09-24 13:41] #39424 closed

[2019-09-24 14:04] Sethu2488 opened #39440 "VM Reservation - Upgradation request"
I have an existing Windows Server 2016 VM that I have a reservation enabled on. Now planning to upgrade the Server 2016 to
Server 2019. Both being DS2_v2, can we remove the reservation from the old machine and enable it on the new machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5205150-d00d-725a-4fb7-f0d111b505

[2019-09-24 14:08] VanMSFT commented on #36455
@DavidDMicrosoft - Thanks! The doc has been updated. We appreciate your feedback on this.

#please-close

[2019-09-24 14:08] #36455 closed

[2019-09-24 14:11] MicrosoftGuyJFlo commented on #38926
Content update is being worked on. This will be addressed based on the Product Group's feedback in the updated documentation soon. Thank you!

[2019-09-24 14:11] MicrosoftGuyJFlo commented on #38926
#please-close

[2019-09-24 14:11] #38926 closed

[2019-09-24 14:11] VanMSFT commented on #39126
Closing this issue as Rohit is updating the article.

#please-close

[2019-09-24 14:11] #39126 closed

[2019-09-24 14:13] VanMSFT commented on #38079
@TomaszOledzki - Thanks for the feedback. Please let us know if you have any more concerns. Since this issue has been answered, I will go ahead and close it.

#please-close

[2019-09-24 14:13] #38079 closed

[2019-09-24 14:17] VanMSFT commented on #38917
@ElectricLlama - Hi Nick, thanks for the feedback. This document lives in the Azure repo and is specifically for Azure SQL Database. The header you mentioned is not available, but we appreciate the feedback. If there are any confusion, please let us know and we will be happy to clarify.

I will go ahead and close this issue for now, but feel free to let us know if you have any follow-up questions.

[2019-09-24 14:17] #38917 closed

[2019-09-24 14:17] msdotnetclr commented on #39227
@kubikb I think one could argue that the copy activity may work like this:
- Create an in-memory dataset (e.g. an object of System.Data.DataTable in .NET, as shown at https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/table-valued-parameters#configuring-a-sqlparameter-example),
- Iterate through the rows from the source to stuff the dataset, and stop when it hits **_Write batch size

[2019-09-24 14:21] #33748 closed

[2019-09-24 14:21] AhsanSAlam opened #39441 "Scopes are not showing up for Application Permission"
Hi,

I have already registered a resource API and now following the steps listed here https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-app-registration.

The scopes I have defined are not showing up under "API Permission\Application permissions". But the scopes show up properly when I use "Delegated Permission".

I believe I didn't miss a step to register a resource

[2019-09-24 14:27] mmacy commented on #39391
Thanks for the update, @TeaBaerd!

#please-close

[2019-09-24 14:27] #39391 closed

[2019-09-24 14:30] slavizh opened #39442 "Metrics for Azure SQL are not ducmented well"
The metrics for Azure SQL are not documented well as they do not include which metrics are available for Serverless SKU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resou

[2019-09-24 14:34] BharathNimmala-MSFT commented on #39435
@MLopesSousa Thank you for bringing this to our notice, we will look into it and get back to you shortly. Thank you

[2019-09-24 14:40] mrbullwinkle commented on #39435
@MLopesSousa thanks for calling this out. Since Application Insights is now part of the Azure Monitor service rather than a standalone service it makes some of the references a little less intuitive than we would like. We currently are in the process of refactoring the overview article to make sure the first thing it says at the beginning of the article is to state that Application Insights is now

[2019-09-24 14:45] MGoedtel commented on #39362
@BhupalPatil - The Send Data action when added in the designer should prompt you to provide connection details (Connection Name, Workspace ID, etc.).  If not, when you select Send Data there is an option in the Send Data action - Change connection and you can select an existing connection or create a new connection.  Without being able to reproduce your issue, I would delete the Send Data action a

[2019-09-24 14:49] marshalexander99 commented on #10717
Has there been any progress on this? With basic authentication being disabled next year for exchange online we need secure methods for automated access to exchange powershell without needing to accept and MFA prompt

[2019-09-24 14:49] dcurwin commented on #39070
#assign:dcurwin

[2019-09-24 14:51] bsohi opened #39443 "Azure Cosmo (MongoDb) - Slow collection.count()"
I am implementing Paging for grid using Skip and Limit methods provided via mongoapi for c#. for total number of record(s), i use collections.Count(filterConcat) method. I am not sure if there is other way to get total number of records.

I am getting speed issue (error - request is too large). More record(s) in collection taking more time. if running query on collection with 20,000 record(s). it

[2019-09-24 14:52] MicahMcKittrick-MSFT commented on #39439
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-24 14:52] MicahMcKittrick-MSFT commented on #39437
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-24 14:53] MicahMcKittrick-MSFT commented on #39415
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-24 15:08] sidk25 commented on #39114
Any updates on this?

[2019-09-24 15:17] MicahMcKittrick-MSFT commented on #39415
@StingyJack the tutorials written are designed to be used in the Azure Cloud Shell. In this environment you do not need to set the context as whatever subscription you are logged into and open the Cloud shell will be auto selected for you. Also, for users who have multiple subscriptions we have found they know how to set the context and it is a standard practice not just for container creation but

[2019-09-24 15:17] #39415 closed

[2019-09-24 15:21] MicahMcKittrick-MSFT commented on #39437
@gchappell99 thanks for the find! I have updated the doc. Once the PR merges the changes will go live after a few hours.

[2019-09-24 15:21] #39437 closed

[2019-09-24 15:24] zhulixuan commented on #39416
When I created a DNS zone from Azure portal, I did not see a private vs public option.  I just filled in a zone name.  How to create a public zone?

    On Monday, September 23, 2019, 11:50:25 PM PDT, KARTHIK SRINIVAS <notifications@github.com> wrote:

@zhulixuan , you should create Alias record in DNS Zone not on "Private DNS Zone". I am able to create Alias record. Attached screenshot:

—
You ar

[2019-09-24 15:31] way2arun opened #39445 "Tags on the nodepools resource group"
are there any way to get the tags to be added on the azure nodepools resource group, the policy is blocking while its creating,
are there anyway to get it added through ARM template,

[2019-09-24 15:32] slavizh commented on #39442
never mind. Closing it.

[2019-09-24 15:47] CharmanderJieniJieni opened #39447 "Is there similar infrastructure for Windows?"
Is there a similar Azure Windows Update server so that we don't need to go to public Windows Update server to fetch update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c796f6e1-4c21-87a7-3555-48dffdb3c7ce
* Version Independent ID: 2878848f-33ed-fbfe-9b3c-93b86f339c6f
* Content: [Red Hat Update Infrastructure](https:

[2019-09-24 15:52] mitchellalm commented on #39330
In the mean time, is there a workaround that a container that create from Azure Container Agent plugin in Jenkins can have connection back to on premise through a Vnet?
For example, let the container create, then configure the connection after it's up and running???

[2019-09-24 15:59] markjbrown commented on #30853
Hi @joshschmitter we are actively working to update this now. I should have new ARM templates published in the next 30 days or sooner.

Thanks.

[2019-09-24 16:05] msrini-MSFT commented on #39416
@zhulixuan , As we discussed offline, for Azure Government subscription, you will not be able to see this feature in the portal.

[2019-09-24 16:05] #39416 closed

[2019-09-24 16:08] stephbaron commented on #39382
Can you change the timeframe to say just the last month to see if you have *any* resource health events in the activity log?

[2019-09-24 16:09] hpsin commented on #38172
No, it means they cannot be impacted any longer by policy.

[2019-09-24 16:10] kgremban commented on #36389
@rajb865 That VM size may not support nested virtualization. This article talks about setting up Azure VMs for nested virtualization: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/nested-virtualization. Also take another look at the Docker installation documentation, which has links to some references about their virtualization requirement: https://docs.docker.com/docker-for-wind

[2019-09-24 16:11] MicahMcKittrick-MSFT commented on #39370
Thanks for all that! I will go ahead and close this out. If you have further questions just let us know.

[2019-09-24 16:11] #39370 closed

[2019-09-24 16:12] MicahMcKittrick-MSFT commented on #38623
@jkochhar anything else you need?

[2019-09-24 16:12] Murthy582 commented on #39307
@SadiqhAhmed-MSFT thanks for the reply.
Now, I'm making http request to the following url with the same token. This time I got "requested URL can't be reached"

https://consumption.azure.com/v3/enrollments/{enrollmentNumber}/billingPeriods/201906/usagedetails

![image](https://user-images.githubusercontent.com/5613594/65529550-f4721280-df13-11e9-8443-7fcaf1dced62.png)

[2019-09-24 16:17] NickStees commented on #28839
@PramodValavala-MSFT when I run I adjusted my command to ` az storage blob upload-batch -s dist -d $web --account-name <storage account name>` but I get a different error `az storage blob upload-batch: error: argument --destination/-d: expected one argument`

I am using powershell, trying to upload a relative ./dist folder in the current local directory on a Windows 10 PC.

[2019-09-24 16:17] MicahMcKittrick-MSFT commented on #39447
@CharmanderJieniJieni sort of. Each region has it's own update server that the VMs reach out to for updates. So this is done internally on the Azure backend rather than over the public internet.

Let me know if you have additional questions.

[2019-09-24 16:17] #39447 closed

[2019-09-24 16:18] mjannapureddy07 commented on #39382
The event (Host Failure) occurred on Aug 8th....so its more than a month now?

However attached below is the screenshot for activity log for last month

![image](https://user-images.githubusercontent.com/54611683/65530140-01afe280-debd-11e9-86a8-b3536c90f9be.png)

[2019-09-24 16:22] cconrado commented on #38902
@SwathiDhanwada-MSFT that info needs to be posted in the docs

[2019-09-24 16:23] stephbaron commented on #39382
And do you have a fair number of resources in this subscription? Do any of them show events in their respective Resource Health UI?

[2019-09-24 16:29] mjannapureddy07 commented on #39382
Yes we our team owns one resource group within this subscription and it had around 220 resources out of which 43 resources are of VM resource type. None of them show any resource health type activity log

![image](https://user-images.githubusercontent.com/54611683/65530971-8cdda800-debe-11e9-8749-cfc44881f820.png)

[2019-09-24 16:29] msmbaldwin commented on #26589
Hi @rowong and @brchin. We have updated this article to include SAS token creation and storage; see https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-storage-keys-powershell#shared-access-signature-tokens.

Thanks for your feedback -- we appreciate it! #please-close

[2019-09-24 16:29] #26589 closed

[2019-09-24 16:31] aauvert commented on #19698
@nabhishek My output is a dataframe - How do I use the output in a Copy Data activity? I'd like to write the output dataframe as CSV to an Azure Data Lake storage. I already added the dbutils.notebook.exit("returnValue") code line to my notebook. Where do use the @{activity('Notebook1').output.runOutput} string in the Copy Data activity?

[2019-09-24 16:35] MicahMcKittrick-MSFT commented on #39222
@hjlarrea thanks for the patience while I looked into this.

The statement from docker is correct and we expect it to behave like #2. I am working to update the document now.

[2019-09-24 16:36] KrishnaG-MSFT commented on #39442
@slavizh Hope you have self resolved the issue. Thanks for the update.

[2019-09-24 16:36] YutongTie-MSFT commented on #39203
@SuperSing  Please refer to https://docs.microsoft.com/nb-no/azure/machine-learning/service/how-to-create-register-datasets Thank you!

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-24 16:36] #39203 closed

[2019-09-24 16:37] chwilfing commented on #10717
not as far as I know...

[2019-09-24 16:41] stephbaron commented on #39382
Thanks,

I meant, can you look at the Resource Health UI for some of the VMs and see if any have recent health events, for example:

[cid:image002.jpg@01D572BC.4A1FE500]

From: mjannapureddy07 <notifications@github.com>
Sent: Tuesday, September 24, 2019 9:30 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Stephen Baron <stephbaron@hotmail.com>; Assign <assign@noreply.github.com

[2019-09-24 16:44] kschach opened #39451 "Global admin credential requirement -- ongoing?"
Hello,

Can you clarify whether Global Administrator credentials are required after the initial setup phase? The documentation specifies that "These credentials are only used during the installation and are not used after the installation has completed. It is used to create the Azure AD Connector account used for synchronizing changes to Azure AD. The account also enables sync as a feature in Azur

[2019-09-24 16:48] mjannapureddy07 commented on #39382
Yea that is first place(Resource Health UI) where I have checked as part of this ticket. It shows the green status for most of the VMs and they are running and it defaults to only 14 days of health status. The ones that are in status "Blue" are the VMs that are shut down or deallocated.

[2019-09-24 16:52] Karishma-Tiwari-MSFT commented on #39445
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-24 16:53] ahpegasus opened #39453 "Can you please share how this tutorial can be setup in Azure ad power shell and Azure Cli"
I am working on automation suite where i have automate all AWS task in this article can you share how i can automate Azure steps either using azure cli or powershell.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28b307ca-4057-a6b5-4f2b-9ef0a8ced569
* Version Independent ID: 23bd39e6-424f-5a57-452e-3e6ffdc09bc

[2019-09-24 16:57] stephbaron commented on #39382
Any chance you can create a test VM and then restart it. That should generate a user initiated resource health restart event in the activity log:

![image](https://user-images.githubusercontent.com/4484115/65532993-b3e1ad00-deb1-11e9-9d7f-5804120841b6.png)

[2019-09-24 16:57] MrJakeReid opened #39454 "Unrecognised RecurrenceTimeZone in imported Recurrence Range"
While importing events from a calendar, we are seeing the following Recurrence Range: recurrence_range({"Type"=>"NoEnd", "StartDate"=>"2018-06-25", "EndDate"=>"0001-01-01", "RecurrenceTimeZone"=>"Customized Time Zone", "NumberOfOccurrences"=>0})

The [Graph documentation](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/complex-types-for-mail-contacts-calend

[2019-09-24 17:02] MHarrison22 commented on #39216
Hmm, what steps did you take to enable SessionState?

[2019-09-24 17:03] FrankHu-MSFT commented on #39453
@khihouston Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-24 17:04] FrankHu-MSFT commented on #39451
@kschach Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-24 17:04] FrankHu-MSFT commented on #39441
@AhsanSAlam Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-24 17:04] FrankHu-MSFT commented on #39432
@PandaWood Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-24 17:04] FrankHu-MSFT commented on #39433
@GitTune Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-24 17:05] arorasam opened #39455 "Soft delete and Purge protection is NOT on by default - unlike what "Important" note on this page claims"
Please be careful in documention. Azure key vault documention, and my own experimentation using CLI on a new key vault, tells me that soft delete and purge protection is not enabled by default. Please correct this bug as it can lead customers to make costly mistakes based on this assumption.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-09-24 17:17] TiloGit opened #39456 "More detail Tutorial: How-to: Configure password writeback"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-writeback#configuring-password-writeback

Seems more details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefae94a-c39e-bee5-ae8b-a02d62559ba8
* Version Independent ID: bdc46b39-5eea-7239-a1c0-69473ecf3f92
* Content: [Azure AD enable p

[2019-09-24 17:18] CharmanderJieniJieni commented on #39447
Our problem is that we do not allow egress traffic from the vm subnet, which blocks communication to Windows Update server, would you please let me know the CIDR block of Azure Windows Update server so that I can whitelist them?

[2019-09-24 17:20] amitbapat commented on #32741
The 401 response you are receiving has nothing to do with trusted services. More about 401 response (which is part of normal authentication flow): https://docs.microsoft.com/en-us/azure/key-vault/authentication-requests-and-responses#authentication

[2019-09-24 17:24] amitbapat commented on #38804
This has been fixed. The document has been updated with the table header clearly stating "Supported Usage Scenarios" to indicated only the listed scenarios are supported. Please close this ticket.

[2019-09-24 17:25] prashantkarkera commented on #38172
@hpsin . By policy are you referring to conditional access or token lifetime policy ( via powershell) .

[2019-09-24 17:25] jwargo commented on #38788
This was addressed in a different conversation, #please-close.

[2019-09-24 17:26] #38788 closed

[2019-09-24 17:26] NavtejSaini-MSFT commented on #39422
@kruti15ars There are other documents where this has been explained fully.
https://docs.microsoft.com/en-us/azure/mysql/howto-restore-server-portal
https://docs.microsoft.com/en-us/azure/mysql/howto-restore-server-cli

Please follow these documents for the reference.

[2019-09-24 17:26] MicahMcKittrick-MSFT commented on #39447
Ah Im sorry I was thinking of the activation servers not the update servers.

For the Update servers, the IP address will often change for security purposes. You can whitelist the following endpoints though

[2019-09-24 17:27] jwargo commented on #34609
We updated the docs for this last week, #please-close

[2019-09-24 17:27] #34609 closed

[2019-09-24 17:27] hpsin commented on #38172
Token lifetime policy, my apologies, I missed a key word in your question.  I don't have details on the CA based management.

[2019-09-24 17:27] FrankHu-MSFT commented on #39451
Hey @kschach in the doc it says :

[2019-09-24 17:27] MicahMcKittrick-MSFT commented on #39447
This is also already a feature suggestion on our Uservoice page

https://feedback.azure.com/forums/216843-virtual-machines/suggestions/17690035-add-outbound-security-rule-to-windows-update

[2019-09-24 17:29] FrankHu-MSFT commented on #39451
Hey @kschach you're correct you shouldn't need the global admin role after the initial setup and the only required item is the On-Premises Directory Synchronization Service Account.

It seems like you were able to infer this from the doc. Are you saying that you'd like a more clear sentence that says this?

thanks,
- Frank Hu

[2019-09-24 17:29] TravisEz13 commented on #39400
On my machine the only relate file I could find was :
![image](https://user-images.githubusercontent.com/10873629/65535389-26548c00-deb6-11e9-8381-f011103089fc.png)

[2019-09-24 17:29] FrankHu-MSFT commented on #39360
Hey @gfk76 can you provide the docs/proof that it is possible to assign custom roles to Azure management groups?

[2019-09-24 17:31] prashantkarkera commented on #38172
@hpsin No worries, so session tokens can no longer be configured via token lifetime policy. The only other thing that is not clear is whether session tokens are also configured via Conditional Access (similar to refresh tokens)

[2019-09-24 17:33] kschach commented on #39451
Thanks, Frank. Yeah that would be great.

If the Global Admin role is no longer necessary once the On-Premises Directory Synchronization Service Account is created, perhaps a step could be added to the docs to specify this? Currently, we have a Global Admin called _AD Sync_ that was specifically created for/by AD Connect and the _On-Premises Directory Synchronization Service Account_ created by AD

[2019-09-24 17:34] FrankHu-MSFT commented on #39358
Hey @tmaheshwar
in regards to :

No, application ids are for the Application Object. The SP has an Application ID that refers to the Application object, but the SP has it's own object ID.

This doc goes into it very well: https://www.microsoftpressstore.com/articles/article.aspx?p=2473127

This set of docs is meant for AAD Developers : https://docs.microsoft.com/en-us/azure/active-directory/develo

[2019-09-24 17:35] #39278 closed

[2019-09-24 17:36] KranthiPakala-MSFT commented on #39434
@iamnarendhar Thanks for reaching out to us. At this time it does not look like you are referring to a document content, but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.

ADLA MSDN Forum: https://social.msdn.microsoft.com/Forums/en-US/home?forum=Az

[2019-09-24 17:36] #39434 closed

[2019-09-24 17:36] gvashishtha opened #39457 "ExplanationDashboard code raises ValueError"
Hi there,

I was trying to display the ExplanationDashboard using the following code from the tutorial:

[code]
but this raises the following error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7a36f9-6a41-1105-2853-9353a64fac16
* Version Independent ID: ab8c2ae0-b280-0b45-31a0-a6b313e8195d
* Content: [Model

[2019-09-24 17:36] maple10001 opened #39458 "Please update screenshots on this page."
UX is different from the lastest Azure protal website.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773e07ff-6bd8-47b2-5b83-75c7246693e6
* Version Independent ID: 8723d5a6-ac93-0dba-b2b8-83905d807d67
* Content: [Get started with Azure Monitor Log Analytics](https://docs.microsoft.com/en-us/azure/azure-monitor/log-que

[2019-09-24 17:37] slapheadted commented on #39454
I'm having this exact issue too... 🏆 for opening this @MrJakeReid

[2019-09-24 17:41] YutongTie-MSFT commented on #39457
@gvashishtha
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-24 17:45] bandersmsft commented on #39440
@yashesvi Can you comment here?
#in-process

[2019-09-24 17:50] MGoedtel commented on #39362
I've created a work item for the doc and not sure when it will get prioritized.  Being this isn't a common issue raised with the article, I'm suggesting we close it - #please-close.

[2019-09-24 17:50] #39362 closed

[2019-09-24 17:51] MGoedtel commented on #31092
I'm taking your suggestion under advisement as a suggestion, and requesting we close this since this isn't an actual issue with the article.  #please-close

[2019-09-24 17:51] #31092 closed

[2019-09-24 17:54] FrankAtHexagon commented on #39370
Thank you all for your help, and sorry if I was asking a stupid question. I'm still pretty new to Kubernetes & AKS. 😁

[2019-09-24 17:54] FrankHu-MSFT commented on #39360
Hey @gfk76
Thanks for your changes. I talked with the product team. They want to make sure this feature is fully complete before updating the docs. They have a plan for updating several areas in the docs.
I'm going to close this pull request for now, but I've made a note to update this pull request when the updated docs are published.
thanks

[2019-09-24 17:54] #39360 closed

[2019-09-24 17:57] krisrajz opened #39460 "Application Gateway - Path Routing"
I am always getting response from VM1 not sure what was the mistake I have made:
https://docs.microsoft.com/en-us/azure/application-gateway/create-url-route-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c5c94a5-2548-b3a2-3a43-d52bc0892227
* Version Independent ID: 01e9c2bc-3265-447c-5d0f-488039c60e87
* Content

[2019-09-24 18:00] mjannapureddy07 commented on #39382
I did that and still dont see it as "Resource Health" Type event category in the activity log, instead I see it as Administrative Type Event Category with a "Restart Action"

![image](https://user-images.githubusercontent.com/54611683/65537618-3034ba00-decb-11e9-919a-bf86e46ec2c9.png)

[2019-09-24 18:06] YutongTie-MSFT commented on #39281
@SteveMSFT  Hi Steven, could you please take a look of this issue? Thanks.

[2019-09-24 18:07] TerryLanfear commented on #10381
@saurabhsensharma - Please reassign to the author of this article. The article metadata shows the author to be memildin. Thank you.

[2019-09-24 18:07] cherylmc commented on #39364
All set. Published this morning. #please-close

[2019-09-24 18:07] #39364 closed

[2019-09-24 18:08] rachel-msft commented on #39050
Thank you for your feedback. I've updated the document. It will be live for en-us docs in 6 hours. It may be longer to get to the it-it docs.

[2019-09-24 18:11] BharathNimmala-MSFT commented on #39310
@vikramdadwal Hope the above information helps, will go ahead and close this issue for now. However if you have any other queries please feel free to tag us in your reply and will be more than happy to continue the conversation on this. Thank you

[2019-09-24 18:11] #39310 closed

[2019-09-24 18:18] NavtejSaini-MSFT commented on #36726
Changes have been made, We are going ahead and closing this case.

[2019-09-24 18:18] #36726 closed

[2019-09-24 18:21] way2arun commented on #39445
here is the ARM template -
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-06-01/managedclusters

if you look in to the template there is no way to apply Tags to the nodepools , this is conflicting with the policy restrictions.
another prime example over here too
https://github.com/Azure/azure-quickstart-templates/blob/master/101-aks/azuredeploy.json

[2019-09-24 18:21] Karishma-Tiwari-MSFT commented on #39430
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-24 18:28] YutongTie-MSFT commented on #39407
@tedway Hi Ted, I have update the document with location, please review.

@CeciAc Thank you for your feedback, I have update the original document. I am closing this.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-24 18:28] #39407 closed

[2019-09-24 18:31] SnehaGunda commented on #37857
@javaadpatel Cosmos DB supports  "GraphSONv2" version (GraphSONMessageSerializerV2d0, GraphSONv2Reader and GraphSONv2Writer). All the samples we have in docs use V2 version. I submitted a minor update to the doc: https://github.com/MicrosoftDocs/azure-docs-pr/pull/89566 to clarify that V2 version is currently supported.

https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-compatibility - This

[2019-09-24 18:31] #37857 closed

[2019-09-24 18:37] stephbaron commented on #39382
Thanks. Given the (apparently incorrect) behavior you're seeing, you'll need to contact support to help troubleshoot the issue further.

[2019-09-24 18:41] TerryLanfear commented on #10381
@saurabhsensharma - Also, how does the author get a translation of the issue? I believe that will be needed before the author can respond.

[2019-09-24 18:42] msrini-MSFT commented on #39460
@krisrajz , Did you try accessing your Application Gateway with the path /images/ ?

Is your VM2 healthy ? You can check the backend VM health via Portal.

[2019-09-24 18:43] KingdomOfEnds commented on #39263
@BhupalPatil - Ah, my apologies. Yes, each Time Series Insights instance comes with a complimentary UI on top that is very powerful. Once you provision your instance following these steps: https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-update-how-to-manage#manage-the-environment you will have the ability to open your own preview explorer.

To see a live example of

[2019-09-24 18:44] YutongTie-MSFT commented on #39397
@xtianus79 Hi, could you please send us an email with your Azure Subscription ID and URL of this thread to Azcommunity@microsoft.com ? We would like to investigate deeply. Thanks.

[2019-09-24 18:45] KingdomOfEnds commented on #39263
As far as, Azure Log Analytics goes, yes you should be able to trigger alerts in a similar fashion using a variety of choices. While this article is not directly related to TSI, the same principles apply in it to TSI: https://docs.microsoft.com/en-us/azure/digital-twins/security-best-practices.

[2019-09-24 18:48] TiagoBrenck opened #39464 "Steps are outdated"
Please, could you update this doc according to the new Azure Portal UX? Specially the [Register Identity Experience Framework applications steps](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#register-identity-experience-framework-applications).

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-09-24 18:55] albigi commented on #39439
this was originally reported by a customer but I can still repro the same behavior on a MSFT internal sub.
here's an alternative PS command reporting the same issue, this time showing VMs in the eastus region only

`
Get-AzureRmLocation | foreach { write-host "#######$($_.Location.ToString())########"; Get-AzureRmVMSize -Location $_.Location.ToString() -ErrorAction SilentlyContinue | where { $_.Na

[2019-09-24 18:57] hpsin commented on #33008
Hi @blueelvis

If you plan to code against the error codes, your app will break.  We change these all the time and provide only the guarantee that they will change without warning.  You should only ever code against the OIDC/OAuth defined errors found in the "error" field of the error.  Everything else is there as a developer facing message so that you can understand what happened to the app.

[2019-09-24 19:02] mjannapureddy07 commented on #39382
Thanks for the re-direction? Also what is the difference between the
"Administrative type Activity Log" and "Resource Health Type Activity log" . Restart issued by a user in Portal or through AZCLI   comes under which category ?

[2019-09-24 19:04] Adam-Smith-MSFT commented on #39283
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-24 19:12] mmacy commented on #39464
Hi @TiagoBrenck, the new app registration experience is not currently available in Azure AD within B2C tenants.

Make sure that you've selected the directory that contains your Azure AD B2C tenant, _then_ select Azure Active Directory. You'll then see **App registrations (Legacy)**, which still uses the v1 app reg experience.

![image](https://user-images.githubusercontent.com/13394541/65542732-93

[2019-09-24 19:13] MicahMcKittrick-MSFT commented on #39439
They are available

![image](https://user-images.githubusercontent.com/32313503/65542659-6e7aab00-dec4-11e9-980b-71b019a38d3b.png)

But some subscriptions have the core quota set to 0. For example my internal subscription does not have any available.

To request them you can open a quota request

https://docs.microsoft.com/en-us/azure/azure-supportability/resource-manager-core-quotas-request

[2019-09-24 19:29] FrankHu-MSFT commented on #39451
Note, that if anything goes wrong with the connector then you won't be able to re-run it with that account. It's better to just change the role to a less powerful role as totally removing the account could introduce issues if you ever need to perform a re-initialization.

I'll go ahead and put in that note, if you have anymore questions within the scope of this git issue please let me know as I wi

[2019-09-24 19:35] albigi commented on #39439
sorry, I am a bit confused. How is it I do get to select lots of cores on other sizes but those ones won't just pop up?

![image](https://user-images.githubusercontent.com/13668635/65544309-3f3f5a80-df13-11e9-8595-dc50799da288.png)

[2019-09-24 19:36] Nemeczek opened #39466 "App Service Linux Websockets"
Hi, I tried to use SignlaR with Asp Core 2.2 on Linux app service. Everything works locally but on App Service fails to connect. In the documentation, there is only something about Nodejs and sockets.io.

Could the documentation clarify if the Websockets are available on Linux App Service? And does it support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-09-24 19:36] FrankHu-MSFT commented on #39358
If there are no more questions within the scope of this github issue, I will be closing out this issue by end of day today. Please let me know if you have anymore questions or please open up a new github issue with a reference to this thread.

[2019-09-24 19:39] MicahMcKittrick-MSFT commented on #39439
Not sure. Depending on the VM size the owners of that series can put a limit on how many each subscription starts with. This is usually because that specific size is in high demand and/or low availability. So the limit the initial quota to 0 and you have to submit a request and submit business justification on the reasoning to use them. It is similar to how we use the N series. The initial quota i

[2019-09-24 19:41] chelhernandez opened #39468 "BGP is mandatory? Dual Redundant VPN Active-Active connection to On-Prem"
I would like to know if BGP configuration is mandatory to establish a VPN Site-to-Site active-active Dual Redundant connection to on-premises.

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff33c99b-1aa1-b1a3-4c51-00e68de1005d
* Version Independent ID: cc777df4-3df5-c9ed-df4e-3d9d7ab344ef
* Conte

[2019-09-24 19:42] AjayKumar-MSFT commented on #39305
@cephalin, Requesting your review on this feedback. Thank you!

[2019-09-24 19:42] albigi commented on #39439
Sorry, still not buying it, lol :D

I don't seem to have any quota set to 0 and above all I don't see those sizes listed

![image](https://user-images.githubusercontent.com/13668635/65544633-e7edba00-df13-11e9-9ce9-67fa49ea0c4e.png)

in addition, my customer wanted to deploy those VMs with AMD chipset but since they were unavailable, they opted for other sizes. still using same number of cores and

[2019-09-24 19:48] Karishma-Tiwari-MSFT commented on #39137
@athinanthny Can you please share more details on the 'provisioningState' property? Thanks :)

[2019-09-24 19:48] MicahMcKittrick-MSFT commented on #39439
You need to adjust the filters to show that series. You have it set to only show available.

Apply a filter like so:

![image](https://user-images.githubusercontent.com/32313503/65544857-0a0e1a80-dec9-11e9-83ed-e8269e47a246.png)
![image](https://user-images.githubusercontent.com/32313503/65544895-20b47180-dec9-11e9-878f-526c8c3f326d.png)

You can see it states 0 of 0 available. Hence the core limi

[2019-09-24 19:53] AjayKumar-MSFT commented on #39322
@whentotrade, Thanks for the question! Kindly take a look at the FAQs:
**I'm using my own custom container. I want the platform to mount an SMB share to the /home/ directory.**
If WEBSITES_ENABLE_APP_SERVICE_STORAGE setting is unspecified or set to true, the /home/ directory will be shared across scale instances, and files written will persist across restarts. Explicitly setting WEBSITES_ENABLE_AP

[2019-09-24 19:56] TiagoBrenck commented on #39464
Ops, sorry about that. You are right, I was using the wrong directory.

[2019-09-24 19:56] #39464 closed

[2019-09-24 20:01] albigi commented on #39439
gotcha now!

does my customer need to follow the same process then?

[2019-09-24 20:01] Karishma-Tiwari-MSFT commented on #39445
Thanks for sharing the doc. Can you please elaborate on the policy and policy restrictions you mentioned.
If you can provide me an overview of what are you trying to achieve, steps you took and policy details, I would be able to assist you better. Please let me know. Thanks :)

[2019-09-24 20:04] MicahMcKittrick-MSFT commented on #39439
Yes that is correct :) Once they start the process they will be giving a list of sizes they can request a quota for and how many cores they would like. Then the billing team will review the ask. It usually is quite a fast process.

[2019-09-24 20:08] albigi commented on #39439
I'm trying it myself, the funny thing is there doesn't seem to be an option for that size

![image](https://user-images.githubusercontent.com/13668635/65546301-8891a900-df17-11e9-9747-502fa31da781.png)

anyway, I'll try to figure this out with the billing team.

honestly, this whole thing looks extremely bizarre to me. anyway, no need to keep an issue open on the docs side :)

thanks a lot for you

[2019-09-24 20:08] nick-terry1 opened #39469 "DaV3 and DasV3 tables missing info"
Why are the these VM Sku's missing the max IOPS, max datadisks, etc. that other tables have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.microsoft.com

[2019-09-24 20:09] way2arun commented on #39445
I do have a policy to deny creation of any resources groups with out tags, the node pool resource groups is creating by azure and it is with no tags, so the policy deny to get it created, so currently I disabled the policy to run create the AKS cluster and nodes, what I am looking is are there any way to append the tags through AKS ARM template, so I can have the policy as well,

[2019-09-24 20:09] cap273 opened #39470 "Azure AD Registered devices seamlessly log in?"
For seamless SSO to work, does the Azure AD Seamless SSO feature need to be rolled out (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-3-roll-out-the-feature) to computers that are Azure AD Registered devices? It appears that the answer is *no*, that Seamless SSO works with Azure AD Registered devices without any roll outs. If so, that needs to b

[2019-09-24 20:12] Karishma-Tiwari-MSFT commented on #39469
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-24 20:14] #39439 closed

[2019-09-24 20:15] MicahMcKittrick-MSFT commented on #39439
You should just be able to select the B series. They give you an option to provide a description prior to submitting the ticket

[2019-09-24 20:24] AndyWu7623 commented on #39155
in the document below:
The following example enables API server authorized IP ranges on the cluster named myAKSCluster in the resource group named myResourceGroup. The IP address ranges to authorize are 20.42.25.196/32 (the Azure firewall public IP address), then 172.0.0.0/16 and 168.10.0.0/18.

We explain in the example that "20.42.25.196/32" is the firewall IP address but we didn't be clear that

[2019-09-24 20:26] stephbaron commented on #39382
You can find category descriptions here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-logs-overview

[2019-09-24 20:27] mitchellalm opened #39471 "Pulling image from Private ACR work???"
I configure the jenkin plugin, Azure Container Agent, to pull the image from a Azure Container Registries and it doesn't seem to work. I can see that the container is create in ACI but the job on Jenkins just stay and waiting for the image.

Can someone confirm? If this configuration works, can someone provide additional instructions or documentation?
It's such lack of documentation on Azure Conta

[2019-09-24 20:35] CeciAc commented on #10381
The comment was machine translated

[2019-09-24 20:37] Karishma-Tiwari-MSFT commented on #39380
Thanks @msjuergent :)
@Rupaliss We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-24 20:37] #39380 closed

[2019-09-24 20:38] MicahMcKittrick-MSFT commented on #39471
You can continue to work with @jakaruna-MSFT on the other issue you opened since this is related

#39330

[2019-09-24 20:38] #39471 closed

[2019-09-24 20:39] markrad opened #39472 "Broken Link"
Running vcpkg.exe install azure-iot-sdk-c:x64-windows it fails to download nuget
[code]
The link https://dist.nuget.org/win-x86-commandline/v4.6.2/nuget.exe is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd8-a2367369d190
* Version Independent ID: 3eff6d45-cf8b-4546-166d-16198c736f13
* Cont

[2019-09-24 20:40] mpetty222 opened #39473 "Broadening of NIST 800-53 Policy Blueprint"
Blueprint for NIST SP 800-53 R4 is specific to Azure only and deals with various VMs / server settings.  Since GCC High and other initiatives are "cloud first", blueprints should cover common cloud-first deployments (Azure AD settings, Office 365 outlook settings, GCC High MFA settings, for quick examples).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-09-24 20:40] mitchellalm commented on #39330
Jakaruna,
please prefer to Private ACR ticket above.

[2019-09-24 20:54] rhelm opened #39474 "No single sign-on between Azure Active Directory and Directions on Microsoft"
We no longer support single sign-on between Azure Active Directory and Directions on Microsoft. Please remove this page and all other references to that functionality.
Rob Helm
Managing Vice President, Research
Directions on Microsoft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92cb94fa-98da-a996-9639-c1cdba6bc684
*

[2019-09-24 20:55] mjannapureddy07 commented on #39382
OK but that documentation does not state anything related to Restart or Deallocate Instances and the event category as Resource Health. It does not indicate that it is administrative too, but I can see that it is administrative from the Activity Log JSON on azure.

[2019-09-24 20:55] jtuliani opened #39475 "Network throughput for B series?"
How come the table for B series doesn't indicate expected network throughput? It's given for the other series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe301d91-d416-fd08-af13-f84b12cee7cd
* Version Independent ID: b668960b-4524-6d97-9ddf-af8beb5ef8ad
* Content: [Azure Linux VM sizes - General purpose](https://do

[2019-09-24 21:05] ganeshvaltix opened #39476 "Access to threshold limits through golang SDK"
Hi,

Is there anyway to query or retrieve these headers using the Azure SDK, specifically golang SDK ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0e0e84a-7aa0-e751-f7b0-f60505df154a
* Version Independent ID: 93bfc173-6c71-5601-dbf1-8cf551a42495
* Content: [Request limits and throttling - Azure Resource Manager](ht

[2019-09-24 21:14] Alberto-Vega-MSFT commented on #39156
@jacksturtevant did you have a chance to look into the previous response?

[2019-09-24 21:21] ohwellwhatever opened #39477 "Datacenter-Core-1903-with-Containers-smalldisk - Automatic OS Upgrade cannot be enabled on virtualMachineScaleSets configured with a Platform Image"
Also noted at https://github.com/MicrosoftDocs/azure-docs/issues/35033.

The Sku Datacenter-Core-1903-with-Containers-smalldisk is now listed as supported, but it still gives the following error when trying to deploy a VMSS with that Sku.
{
  "error": {
    "code": "BadRequest",
    "message": "Automatic OS Upgrade cannot be enabled on virtualMachineScaleSets configured with a Platform Image."
  }

[2019-09-24 21:23] #39209 closed

[2019-09-24 21:29] #39367 closed

[2019-09-24 21:35] PS-MikeM opened #39478 "First Warning message is not intuitive - can be misunderstood. MM"
Please consider rewriting the 'Warning' message as follows:

Warning

If you make changes to the default out-of-box sync rules then these changes will be overwritten the next time Azure AD Connect is updated, resulting in unexpected and likely unwanted synchronization results.

The default out-of-box sync rules have a thumbprint. If you make a change to these rules, the thumbprint is no longer mat

[2019-09-24 21:36] jacksturtevant commented on #39156
Hi,

I was able to see this! Very helpful. Thank you. Sorry, been very busy.

Best,
Jack

On Tue, Sep 24, 2019, 17:14 Alberto Vega <notifications@github.com> wrote:

[2019-09-24 21:39] MicahMcKittrick-MSFT commented on #39477
adding @mayanknayar is this a know issue?

[2019-09-24 21:44] chriskuech opened #39480 "No programmatic management examples"
Would be nice to at least have a link to ARM resource documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5304722a-af34-e8ad-783c-bd8b174f7e1f
* Version Independent ID: c4f609b6-a6df-a0f8-4951-a7ba9aca67b5
* Content: [Manage Azure DDoS Protection Standard using the Azure portal](https://docs.microsoft.com/en-

[2019-09-24 21:44] MicahMcKittrick-MSFT commented on #39475
@jtuliani this issue has been brought up before. You can read more here:

https://github.com/MicrosoftDocs/azure-docs/issues/8765

All in all, due to the nature of the B series and its nature, we are not prepared to share numbers as they can vary. Overall the B-series VMs are given a competitive bandwidth allocation. They are more likely to run out of CPU resources before running out of bandwidth.

[2019-09-24 21:44] #39475 closed

[2019-09-24 21:45] jonesty commented on #23536
As of yesterday this is now working. I have been able to successfully apply our cert to the CDN.

[2019-09-24 21:46] MicahMcKittrick-MSFT commented on #39475
There is also a uservoice items for this ask

https://feedback.azure.com/forums/216843-virtual-machines/suggestions/37701862-the-virtual-machines-of-the-b-series-do-not-inform

[2019-09-24 21:47] ericdboyd commented on #30853
@markjbrown did your last comment mean you are updating the templates in the docs to reflect this deployment trickery, or that the resource provider is being updated so that it is idempotent and you don't have to do this deployment trickery?

[2019-09-24 22:00] MicahMcKittrick-MSFT commented on #39477
@shandilvarun can you assist on this one? Is this a known issue?

[2019-09-24 22:06] bwren commented on #38928
#please-close

[2019-09-24 22:06] #38928 closed

[2019-09-24 22:06] ctoph13 opened #39481 "Create unique key via REST API"
I'm trying to create our CosmosDB configuration via scripts that call the REST API. To create collections I'm following the documentation [here](https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-collection), however it doesn't mention anything about how to specify unique keys.

Is there currently an undocumented way to do this?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-24 22:07] bwren commented on #38868
#please-close

[2019-09-24 22:07] #38868 closed

[2019-09-24 22:08] udlose commented on #33735
WRT,
options.TokenValidationParameters.IssuerValidator = AadIssuerValidator.ValidateAadIssuer;

Where does the 'AadIssuerValidator' class live? A brief google search shows it only from a Github repo for AzureAD Authentication samples.  Is the expectation here that developers are supposed to cobble together a cohesive authentication solution based on disparate sample code?

[2019-09-24 22:16] Alberto-Vega-MSFT commented on #39404
@leeprtc Did you have a chance to look into the previous comments?

[2019-09-24 22:18] MarkusVi commented on #38419
Thanks for letting us know.
I have fixed this.

#please-close

[2019-09-24 22:18] #38419 closed

[2019-09-24 22:26] femsulu commented on #39440
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-24 22:27] vikramdadwal commented on #39310
@BharathNimmala-MSFT  @zhenlan

Thanks for the quick response. I tried the command in CLI and I was able to upload the file.
But somehow the feature flag setting are not uploaded, though I can see those values in configuration section but feature management section is blank ? Please assist.

[2019-09-24 22:29] leeprtc commented on #39404
Yes, I saw the previous comments. Unfortunately, I could not repro on the same system. I'm trying to set up another environment to see if it repros. Will reply with the results.

[2019-09-24 22:31] femsulu commented on #39458
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-24 22:33] femsulu commented on #39476
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-24 22:36] femsulu commented on #39197
@stephbaron  - any update on this pls?

[2019-09-24 22:36] dcbrown16 commented on #39420
Thank you for the confirmation. I'll close for now.

[2019-09-24 22:39] Don-Fuego opened #39482 "Requiring Compliant or Hybrid Azure AD or MFA will cause Cert Prompt on Android OS"
There should be a "NOTE: if you configure a policy to allow Compliant and/or Hybrid Azure AD Join or MFA. Android users may see a prompt for a cert. Depending on the browser or app they are accessing"
behavior observed on: Chrome, Edge and Opera for Android. FireFox doesn't prompt for cert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu