[2018-06-11 19:43] MicahMcKittrick-MSFT commented on #9982
Thanks @cynthn! I agree that I would not add the copying of tags into this script. Many people do not use them so it could cause confusion. However a link to how to do it might be worth while.

[2018-06-11 19:45] MicahMcKittrick-MSFT commented on #9988
Thanks for pointing this out @arnoschuring. I will assign to the author to review and update.

@DCtheGeek can you take a look?

[2018-06-11 19:48] MicahMcKittrick-MSFT commented on #9991
Thanks @SychevIgor

The storage explorer team actually has their own GitHub repo they use to work on issues such as this.

Can you please open this issue directly there? Feel free to link the issues so we can reference this one as well.

https://github.com/Microsoft/AzureStorageExplorer/issues

[2018-06-11 19:48] #9991 closed

[2018-06-11 19:49] MicahMcKittrick-MSFT commented on #9992
Thanks @SychevIgor. I have assigned this to the content author to review and update as needed.

@ggailey777 can you take a look?

[2018-06-11 19:52] MicahMcKittrick-MSFT commented on #10017
@kamilzelazny I ran through the doc but I am not seeing the same issue.

What happens if you try your other login?

[2018-06-11 19:56] Adam-Smith-MSFT commented on #9964
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-11 19:57] MicahMcKittrick-MSFT commented on #10027
@dtsiogka you have to choose a default subscription as the payment method for that specific VM is what will be used to pay the upfront costs. Yes you can share the resources between subscriptions however you still need to specify which subscription will be the one paying the costs for the RI upfront.

Once you reserve the instance and checked the shared box you can then modify the scope of what su

[2018-06-11 19:58] iainfoulds commented on #9924
It's also based on the NIC rather than the VM, so you typically create or update NIC and specify the `--internal-dns-name` parameter. Based on what you're trying to accomplish, the following should provide what you're wanting - https://docs.microsoft.com/azure/virtual-machines/linux/static-dns-name-resolution-for-linux-on-azure#create-a-virtual-network-interface-card-with-a-static-internal-dns-nam

[2018-06-11 20:01] Adam-Smith-MSFT commented on #9890
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-11 20:01] MohitGargMSFT commented on #10035
@jasonpnnl Thanks for your feedback! We will investigate and update soon.

[2018-06-11 20:06] MicahMcKittrick-MSFT commented on #10029
@cloudmelon what location are you trying to resize in?

[2018-06-11 20:08] Ayanmullick opened #10042 "Java thru VSC"
There should be documentation on how to deploy a 'Hello World' Java Webapp using Visual Studio Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90ff6f8-f255-58b8-fc2e-f52fd1481640
* Version Independent ID: 31063b65-21c4-0a7a-04bc-10be430cb116
* Content: [Create your first Java web app in Azure](https://docs.micros

[2018-06-11 20:08] cloudmelon commented on #10029
Hi, it was North Europe. I can resize with Azure PowerShell but via portal
resized it successfully.

On Mon, Jun 11, 2018 at 10:06 PM, Micah <notifications@github.com> wrote:

[2018-06-11 20:09] vasivara-MSFT commented on #9715
@maxluk From the logs, I am able to see the message "module not found: com.hortonworks#shc-core;1.1.0-2.1-s_2.11". How should this be fixed and does the document needs the update if that module is not found?

[2018-06-11 20:12] Ayanmullick opened #10044 "Deploy thru VSC"
How do I do this thru VSC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create an ASP.NET Core web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet)
* Cont

[2018-06-11 20:12] CeciAc opened #10045 "LOAD DATA INFILE"
@4lenz1 commented on [Thu Jun 07 2018](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/95)

LOAD DATA INFILE：支援，但必須指定導向 UNC 路徑 (透過 XSMB 裝載的 Azure 儲存體) 的 [LOCAL] 參數。

請問這句話是什麼意思呢?

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 09a85aa0-5baf-cf60-94a0-fa949c3a841b
* Version Independent ID: f3673c4b-4c84-64be-27e5-04d57f4b5008
* Content: [「適用於 MySQL 的 Azure 資料

[2018-06-11 20:15] kobulloc-MSFT commented on #8673
@agnimitra As a quick update, we are looking into this and may have some solutions.  Hopefully we will have an answer for you soon.

[2018-06-11 20:15] CeciAc commented on #10045
Hi team,
I sent this issue to out linguist for clarification and it looks like is a query for the source:

It means the data manipulation statement "LOAD DATA INFILE" is supported in Azure Database for MySQL, but only with the [LOCAL] parameter, which is directed to a UNC path, is specified.

意思是說 Azure Database for MySQL 也能支援資料操作陳述式 LOAD DATA INFILE。但有個條件，那就是導向 UNC 路徑的 [LOCAL] 參數一定要指定清楚。

[2018-06-11 20:16] injector22 opened #10046 "How to guide out of order"
The guide on "Manage Workbench Users" should really be listed before the "Create blockchain app" since without assigning an admin no one can create an app

Referring to this link:
https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockchain-workbench-create-app

Left hand side, under "How-to guides"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-06-11 20:19] MohitGargMSFT commented on #9986
@JGezels Please note that as stated in the document here Azure AD Application Proxy is used to publish the on-premises app. As described in this section [Access to IWA and KCD apps](https://docs.microsoft.com/en-us/azure/active-directory/b2b/hybrid-cloud-to-on-premises#access-to-iwa-and-kcd-apps), Application Proxy needs this user object to impersonate the user and get a Kerberos token to the app.

[2018-06-11 20:24] jonathanfishbein1 commented on #8910
@TravisCragg-MSFT

[2018-06-11 20:28] rsch006 commented on #9950
All i'm doing is returning an Object as output from Linked template and passing as argument to IF condition in main template. As per docs this should work. Not sure what is the reason for the error.
IF condition accepts Object as argument for trueValue and falseValue - https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-logical#if
Outputs from Linked tem

[2018-06-11 20:28] Adam-Smith-MSFT commented on #9880
@meetamitbhatia I've escalated the issue to the internal team, i'm curious however, when the customer is not using MFA, does the authentication work ?

[2018-06-11 20:29] Adam-Smith-MSFT commented on #9725
We haven't heard from you, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-11 20:29] #9725 closed

[2018-06-11 20:32] MicahMcKittrick-MSFT commented on #10029
Looks like you might not be using the correct naming conventions. If you run the following it provides a list of all available sizes for a region:

[code]

I tested your script and it works but you need to make sure the vmsize is set to Standard_DS5_V2_Promo

[2018-06-11 20:35] cloudmelon commented on #10029
That makes sense, what I used was Promo_DS5_V2, it is a standard tier but
with promotion,  I'll retry it with the right naming convention. Thank you
:)

On Mon, Jun 11, 2018 at 10:32 PM, Micah <notifications@github.com> wrote:

[2018-06-11 20:35] cunno89 opened #10047 "Need more examples, specifically for day of the week."
It took me a while, but I eventually found out that we use ncrontab, which lead me to this document: https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression

Which has now informed me that 0 represents Sunday. I was unable to deduce that from the documentation we have here. In fact, that document has plenty of other examples that help add more clarity and I'd recommend including some of their

[2018-06-11 20:35] MicahMcKittrick-MSFT commented on #10040
Thanks for the feedback. For product enhancements or suggestions please leave your feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) so the product teams and consider adding it in the future.

[2018-06-11 20:35] #10040 closed

[2018-06-11 20:36] MohitGargMSFT commented on #9987
@JGezels Please note that you are correct in your observation. However, as mentioned in the document, to manage external sharing in OneDrive/SharePoint Online with Azure AD B2B collaboration, set the OneDrive/SharePoint Online external sharing setting to Only allow sharing with external users already in the directory. So in this case you can only invite users of allowed domains and once they are i

[2018-06-11 20:36] SaurabhSharma-MSFT commented on #9969
@KjetilEVRY Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-11 20:37] J-Fedor opened #10048 "Additional step to add to your list - quota reviews"
You should add reviewing existing quotas and making sure the new subscription has ability to handle the additional items coming its way.  Since the validation process doesn't check the quota until a later pass (after marketplace items removed for example), can't see it beforehand without manual inspection.  And as evident today with a 6+ hour wait (and still waiting) quota approval, dealing with i

[2018-06-11 20:40] MohitGargMSFT commented on #9989
@beachseeker Thanks for reaching out. Request you to please provide an example where you find issue with the documented step.

[2018-06-11 20:40] MicahMcKittrick-MSFT commented on #10034
Thanks @AndreaVitale. Can you please leave this feedback here instead: https://github.com/Azure/azure-webjobs-sdk-extensions/issues

For issues with V2 which is in preview the product team monitors the above repos and is able to better assist on issues such as this.

Please feel free to link this issue to that one so we can track it correctly.

[2018-06-11 20:40] #10034 closed

[2018-06-11 20:41] Adam-Smith-MSFT commented on #9796
@Windows7ge This scenario was tested/supported on Server 2012: "This tutorial describes the steps you should follow to install and use the Multipath I/O (MPIO) feature on a host running Windows Server 2012 R2 and connected to a StorSimple physical device."
I reached out to the internal team to check if this is supported in windows 10.

[2018-06-11 20:42] travis-sobeck opened #10049 "Addresses outside the VNET range."
Can you explain a little more what the "Kubernetes service address range " and "Docker Bridge address" are for and what they do?  The subnet for the VNET contains all the node/pod ips, but the example is assigning a lot of IPs to those other 2 IP ranges.  Also, do I need to worry about those IP ranges (service and bridge) colliding with other VNETs I have or IP address I use on-prem?  I'm planning

[2018-06-11 20:43] MicahMcKittrick-MSFT commented on #10041
Thanks for pointing this out @sercast

@ramankumarlive can you take a look?

[2018-06-11 20:44] TomShinder opened #10050 "Great article!"
I enjoy this article a lot - introduced a ton of context and lit up the individual features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8301e2-2299-288c-83c4-c33112d8b78d
* Version Independent ID: 671e7f13-6777-d7cd-7acd-ac7eab38a622
* Content: [Microsoft Azure Virtual Datacenter: A Network Perspective](https://d

[2018-06-11 20:46] MicahMcKittrick-MSFT commented on #10029
Sounds good :) I will close this out but if you additional issues feel free to come back here and we can reopen and continue.

[2018-06-11 20:46] #10029 closed

[2018-06-11 20:52] BryanTrach-MSFT commented on #9918
@codecadwallader In the example that you provided, the customer was working with an early version of .NET Core that did not support ServicePointManager, which is why they suggested using WinHttpHandler.

As far as I am aware, WebJobs will not be the limiting factor. As long as the framework supports WinHttpHandler or ServicePointManager, either should work with the web jobs product. With that bein

[2018-06-11 20:52] #9918 closed

[2018-06-11 21:02] MohitGargMSFT commented on #9993
@Siya-k Please try to login with an account which is part of Domain Admins Security Group and then add a sharepoint UPS account to the AAD DC Service Accounts group.

[2018-06-11 21:04] roygara commented on #9805
I've created a backlog item which we will track and resolve soon.

Accordingly,

#please-close

[2018-06-11 21:06] SyntaxC4 commented on #8147
@MicrosoftDocs/azure-cxp-triage Can you reassign to @derek1ee?

[2018-06-11 21:06] SyntaxC4 commented on #7862
@MicrosoftDocs/azure-cxp-triage Can you reassign to @derek1ee?

[2018-06-11 21:07] SyntaxC4 commented on #6648
@MicrosoftDocs/azure-cxp-triage Can you reassign to @ecfan?

[2018-06-11 21:12] MohitGargMSFT commented on #10006
@dzemp Yes you are correct in your observation, here Azure PaaS VM is referring to VM used for PaaS services.

[2018-06-11 21:12] Adam-Smith-MSFT commented on #9880
@meetamitbhatia I'll go ahead and close this case since there is another one that's open: https://github.com/Microsoft/AzureStorageExplorer/issues/275

[2018-06-11 21:12] #9880 closed

[2018-06-11 21:13] ecfan commented on #9486
@mike-urnun-msft Can you reassign to @divyaswarnkar? Thanks!

[2018-06-11 21:20] WiproDS commented on #7393
So...any advice as to have it compatible with GPU? I have this same issue...I don't know why this thread was closed when the root of the issue was not solved...

[2018-06-11 21:23] glennparham commented on #7393
So...any advice as to have it compatible with GPU? I have this same issue...I don't know why this thread was closed when the root of the issue was not solved...

[2018-06-11 21:24] MohitGargMSFT commented on #10007
@astaykov Thanks for reporting. I also see conflict in document. This [section](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-audit-logs#accesing-the-api) also provides you an option to download the Azure AD B2C audit logs via the API. I am assigning it to content author to further investigate and make changes as necessary.

[2018-06-11 21:26] phandinhlan opened #10051 "Docker Image"
Hi, thanks for the information. I'd like to know if you can provide more detail for the Docker Image section. For example, by default, which registry is it getting the image from? How to specify something from Docker Hub (Have tried by using Private Registry Credentials but without success)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-06-11 21:33] MohitGargMSFT commented on #10022
@ilio78 Yes, with ADFS 2016 you can implement On Behalf Off flow. Please refer to below relevant document.

https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-scenarios-for-developers#on-behalf-of

[2018-06-11 21:33] TravisCragg-MSFT commented on #8910
@jonathanfishbein1 If you would like to suggest this feature, I [recommend leaving your feedback Here.](https://feedback.azure.com/forums/263030-azure-cosmos-db/category/321991-graph-api)

[2018-06-11 21:35] TravisCragg-MSFT commented on #9990
@benday Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-11 21:36] MohitGargMSFT commented on #10024
@thatmattwade Thanks for reporting, I have assigned this issue to content author to further investigate and update as appropriate.

[2018-06-11 21:37] eross-msft commented on #10024
Thank you for pointing this issue out! I'll review your recommendation and let you know when any change is made.

[2018-06-11 21:46] MohitGargMSFT commented on #10026
@michalburger1 Thanks for reporting. I have made necessary change and the pull request in created to merge the changes to live document.

[2018-06-11 21:48] nicknameyu commented on #9982
Well, here is my opinion. Many people do not use tags or diagnostic settings because they are not Enterprise users. If they are not Enterprise users, they don't have too much availability set requirement either. For those Enterprise users, tags and diagnostic settings are always very important features. And when they have the requirement of re-building VM with to re-config availability set, tags a

[2018-06-11 21:50] eross-msft commented on #10024
@thatmattwade I'm trying to go to the link that you'd like me to add to the article, but it's not resolving to any actual page. Can you provide more info for the link, like the title of the page itself? Anything that I can use to search for the page would help. Thank you!!

[2018-06-11 21:54] MohitGargMSFT commented on #10035
@jasonpnnl Please refer to this document - [Configurable token lifetimes in Azure Active Directory (Public Preview)](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes) to set token lifetimes for all apps in your organization. Refer this in the document for [Single-Factor Session Token Max Age](https://docs.microsoft.com/en-us/azure/active-directo

[2018-06-11 22:00] ryannk opened #10052 "Retraining confusion"
The wording of the "Retraining" section is confusing to me. To me, it reads that retraining and updating existing deployments are different commands. When I first read it I thought there was a way to retrain in place. However, I have not found any commands that deal with retraining.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-06-11 22:07] Oxicode commented on #9777
+1

[2018-06-11 22:29] #10026 closed

[2018-06-11 22:53] MicahMcKittrick-MSFT commented on #10047
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 22:54] MicahMcKittrick-MSFT commented on #10049
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 22:54] MicahMcKittrick-MSFT commented on #10051
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 23:10] arroyc commented on #9363
workaround is:  need to add the path "/usr/local/share/dotnet/sdk/NuGetFallbackFolder" in docker > preference> file sharing and restart docker .

[2018-06-11 23:12] kobulloc-MSFT commented on #10046
@injector22 Thank you for the feedback!  I will assign this to the document author so they can make changes accordingly.

[2018-06-11 23:13] dcbrown16 commented on #9827
Very helpful, thanks @iainfoulds !

[2018-06-11 23:15] dcbrown16 commented on #9696
https://support.microsoft.com/en-us/help/2721672/microsoft-server-software-support-for-microsoft-azure-virtual-machines
@rayne-wiselman I later found this link that seems to be the correct current KB for Azure Windows support. Linux has a supported distro page in Azure somewhere.

[2018-06-11 23:16] RichardClarkeDW opened #10053 "Marketplace app aad.salesforce.com question re de-provisioning and permission set/feature license assignment"
Hi

I'd like to know whether the Marketplace app aad.salesforce.com supports de-provisioning (edited the user record in Salesforce to be inactive when removed from the AAD group), and the assignment of additional permission sets and feature licenses beyond the basic profile and license attributes.

My sense is this app is using the ability of the SAML assertion alone which would mean it can provis

[2018-06-11 23:17] rboucher commented on #7511
This process is completed on June 6th.  We can close this PR.  Thanks again for the report @tony-gutierrez

[2018-06-11 23:24] dapsjj commented on #9681
@sonfiree
 The complete error code in Debug:

[2018-06-11 23:38] mimizone commented on #9570
@subsarma I think my issue comes from bind9 itself. In a nutshell, I have multiple forwarders in my bind9 config, but the domains overlap.

In azure, my custom private zone is `westus.something.mysuffix` which is forwarded either to the default forwarder (being Azure). I also tried having a dedicated section for that domain with forward only to Azure.

I then also have a forwarder for everything `

[2018-06-11 23:44] thatmattwade commented on #10024
@eross-msft The link points to an Azure page that requires a login (though that's the point: this process is one to enable 2FA which requires confirmation of your identity). Below is a screenshot of the page, with some personal data blurred.
![image](https://user-images.githubusercontent.com/32546852/41262567-a0bf3252-6daf-11e8-821a-34edeba08462.png)

[2018-06-11 23:50] danielithiessen opened #10056 "Support for OAuth 2.0 authorization code flow"
Is there a way to configure the code flow shown here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code for web services created this way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ce721f-942d-58e3-3ab1-0df98fb5d1b5
* Version Independent ID: 9cdd3350-f169-6cdb-

[2018-06-11 23:53] BryanTrach-MSFT commented on #10042
@Ayanmullick Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 23:57] BryanTrach-MSFT commented on #10044
@Ayanmullick Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-12 00:01] dealaus commented on #9312
The cmdlet has been published https://www.powershellgallery.com/packages/AzureRM.Sql/4.7.0-preview

Thanks for the feedback about adding a server-level setting for this feature. We don't support it at this time, but we will explore the possibility of adding it based on your feedback. I agree that it would be a nice ability to have so all databases under a server follow the same retention 😄.

[2018-06-12 00:14] kobulloc-MSFT commented on #10048
@J-Fedor Thank you for the feedback!  We've assigned this to the author so they can make the appropriate updates.

[2018-06-12 00:21] BryanTrach-MSFT commented on #9995
@Faraz2018 We reviewed the part that states, "Select any of the non-free tiers (D1, B1, B2, B3, or any tier in the PRODUCTION category)" and we do not see anything wrong with this statement or the screenshots. D1, B1, B2, B3 are not conisdered production class tiers but they do support custom domains. Please let us know if we misunderstood your statement.

It sounds like you hit a browser cache is

[2018-06-12 00:21] #9995 closed

[2018-06-12 00:49] MarkusVi commented on #8935
#please-close

[2018-06-12 00:56] wploevyaya2018 commented on #10001
The document I refer to is this link      https://docs.azure.cn/zh-cn/azure-stack/
other,the asdk's version we depoly is 1802,the appservice version is 1.2

[2018-06-12 00:58] tamram commented on #10015
@manish-kevre - Thanks for your feedback. I've fixed the link and it should be live in the next 24 hours.

[2018-06-12 01:03] wploevyaya2018 commented on #10001
another in this document https://docs.azure.cn/zh-cn/azure-stack/azure-stack-app-service-deploy ,in the step Verify the application service installation on Azure Stack,the document said in the admin portal can open the appservice portal,but when i open,there is nothing,

[2018-06-12 01:05] hyonholee commented on #8837
https://github.com/Azure/azure-powershell/pull/6394

[2018-06-12 01:11] #8935 closed

[2018-06-12 01:13] gmsantos commented on #9983
A few more details... using Firefox 61.0b12 @ Windows 10 1804

![image](https://user-images.githubusercontent.com/1991286/41264343-8aa786e6-6dc2-11e8-9590-8709cb74e9db.png)

1. run `az login` and access https://microsoft.com/devicelogin
1. insert my token from console
1. when I click a response with status code 200 is received but nothing happens.

![image](https://user-images.githubusercontent.co

[2018-06-12 01:15] gmsantos commented on #9983
Retrying in Microsoft Edge, I got the following error message:

[code]

![image](https://user-images.githubusercontent.com/1991286/41264760-e2094224-6dc4-11e8-8a36-2edf6098a985.png)

[2018-06-12 01:15] BryanTrach-MSFT commented on #10050
@TomShinder Thank you for the feedback. We enjoy hearing positive feedback!

[2018-06-12 01:15] #10050 closed

[2018-06-12 01:18] BryanTrach-MSFT commented on #10045
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-12 01:21] BryanTrach-MSFT commented on #9972
@ravisha22 I agree with you. Since this doc was written, it appears that controllers are not added to asp.net projects automatically.

@cephalin Can you please consider adding steps or clarifying how to add/access controllers for a project?

[2018-06-12 01:28] BryanTrach-MSFT commented on #9318
@appalaraju Are you able to scale back to the tier of app service plan that you were previously using to see if it works?

[2018-06-12 04:32] dotnetstep opened #10058 "$ is missing in at beginning of blobStorageAccountKey"
In Section "Create blob storage containers" when it retrieve Account Key $ sign is missing at the beginning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1026434-050e-b1d5-7cac-47cf5d5d2cad
* Version Independent ID: bfb4d3c9-af35-f08b-710a-afc3281e3d87
* Content: [Upload image data in the cloud with Azure Storage](h

[2018-06-12 04:43] smharishbabu opened #10059 "Routing issue in Azure IoT Edge Function"
Content: [Azure IoT Edge Function](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function)

In Sensor to Filter Route, it is mentioned that temperatureOutput reaches input1 function, whereas when I see the function module, I could not see any parameters with name input1. Please clarify.

**Sensor to Filter Route:**
"sensorToFilter":"FROM /messages/modules/tempSensor/outputs/tempe

[2018-06-12 04:49] kin201802 commented on #7022
Can you please tell me that how to change the voice file to binary data?

[2018-06-12 05:00] binoyjt opened #10060 "The Current AAD connect Tool does not proceed even if the Domain is Verified. Please update the Doc and also the tool. Similar to the issue reported here... https://social.technet.microsoft.com/Forums/windowsserver/en-US/502346f7-2a13-457c-b4c8-cceb43c881d3/azure-ad-connect-setup-domain-is-verified-in-o365-but-cant-complete-azure-ad-connect-setup?forum=ws2016"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-12 05:12] rwike77 commented on #9490
@tlagore The ASP.NET team is recommending [LibraryManager ](https://blogs.msdn.microsoft.com/webdev/2018/04/17/library-manager-client-side-content-manager-for-web-apps/)as a replacement for Bower.  We'll update this tutorial soon.  Thanks for the feedback.

[2018-06-12 05:22] MichaelXlj opened #10061 "Cannot convert the "password" value of type "System.String" to type "System.Security.SecureString"."
When i want to create a new Azure Active Directory application using the "New-AzureRmADApplication -DisplayName {Display name} -HomePage {Home page URL} -IdentifierUris {Application identifier} -Password {Password}" command, it shows an error as follow:
New-AzureRmADApplication : Cannot bind parameter 'Password'. Cannot convert the "password" value of type "System.String" to type "System.Security.

[2018-06-12 05:29] tamram commented on #9728
@burstingninja - I've made the update, and it's live now.

#please-close

[2018-06-12 05:30] tamram commented on #9777
@lhahne @Oxicode  - Thanks for your feedback. I've made the change, and it should be live within 24 hours.

[2018-06-12 05:30] tamram commented on #9777
#please-close

[2018-06-12 05:32] tamram commented on #10015
#please-close

[2018-06-12 05:37] tamram commented on #10058
@dotnetstep - Thanks for pointing this out. I've made the update, and it should go live within 24 hours.

#please-close

[2018-06-12 06:06] gdprtcl opened #10062 "Azure Service Fabric - Sample .NET Application not working properly"
I tried debugging and running the app in localhost and it works fine. Surprisingly, after I publish the same onto Azure SF Cluster, only the front-end stateless web app (listening on port: 8080) works but not the stateful back-end. Nothing happens when I try to add a new option for voting.

![screenshot 274](https://user-images.githubusercontent.com/19777169/41272897-c0081cd4-6e34-11e8-836e-841707

[2018-06-12 06:20] dtsiogka commented on #10027
Thank you for your immediate response, that was really helpful!

[2018-06-12 06:20] #10027 closed

[2018-06-12 06:21] smharishbabu opened #10063 "Unwanted Container Images"
Content: [Deploy to Edge](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart)

Whenever the iot edge is started using "iotedgectl start", I am seeing 2 additional containers (hopeful_carson, festive_meitner) getting created when I view the images using command "docker ps -a". Is this expected behaviour?

Attached the screenshot for the steps followed.

![unwanted container](https://user-im

[2018-06-12 06:22] SaurabhSharma-MSFT commented on #9933
@MashTheNewton We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-12 06:22] #9933 closed

[2018-06-12 06:38] gtbee commented on #9971
If I use conventional date/time, rather than ticks it works fine. That's okay from my point of view.

[2018-06-12 07:06] smharishbabu opened #10066 "Always in Pending Deployment state"
Content: [Deploy code in IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module)

Deployment status of the modules in main page is always showing as 'Pending deployment' whereas when I click on 'Set Modules' it shows the module as running and the edge run time always shows 500 error message.

![pending deployment](https://user-images.githubusercontent.com/5582342/41275006

[2018-06-12 07:14] rncwnd79 commented on #10049
This part of the docs definitly needs a brush up. Do we need to create another VNET/Subnet for the Kubernetes services subnet? Do we need to create a VNET/subnet for the Docker Bridge?
Please also add an example. Thank you.

[2018-06-12 07:16] smharishbabu opened #10068 "Desired properties changes not persist"
Content: [Deploy code in IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module)

Steps followed:
1. Created filter module using Set Module
2. Updated the desired properties to
{
   "properties.desired":{
      "TemperatureThreshold":25
   }
}
3. Click Save
4. Click Next
5. Click Submit
6. Received message module saved successfully
7. When I reopen the module, the desired

[2018-06-12 07:22] wploevyaya2018 commented on #10001
when create a web app ,i got this alert "WebsitesExtension extension failed to load   "

[2018-06-12 07:23] c-arnab opened #10069 "Unable to deploy"
The error received is as below :
Deployment to resource group 'wingtip-sa-fabrikamjazzclub-ac1' failed.
Additional details from the underlying API that might be helpful: At least one resource deployment operation failed. Please list deployment operations for details.
I find that though the resource group was created, nothing exists inside the group

---
#### Document Details

⚠ *Do not edit this s

[2018-06-12 07:31] pallaviMN opened #10071 "Hi Team,"
I am able to create custom speech model in "CRIS", but when i used the authentication uri in my bing speech project "wss://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=ea29dbfa-a7cb-4841-b448-fe04dbfb77c8" (URL of Websocket request) with the subscription key f4ce83357a294b4c96efe2ebd306f937 , it gives login failed in the android bing SDK project. Which URL

[2018-06-12 07:31] c-arnab commented on #10069
Additional info : Deployment 'Microsoft.Template' was not found in resource group 'wingtip-sa-fabrikamjazzclub-ac1'

[2018-06-12 07:38] dealaus commented on #9928
Hey @superminiek, thanks for the feedback. We do not have support for the Azure CLI at the moment, but I'll look into adding it.

[2018-06-12 07:46] NayangiriGoswamiGit opened #10072 "Not able to Use Current toolkit from http://dl.microsoft.com/eclipse/ with given code"
I'm using Windows 7 and sts IDE
I've successfully added Azure Toolkit from http://dl.microsoft.com/eclipse/
I've configured buildpath for project and "Microsoft Azure Llibraries for Java" is visible in libraries
But when I try to import following classes,

import com.microsoft.windowsazure.services.servicebus.*;
import com.microsoft.windowsazure.services.servicebus.models.*;
import com.microsoft.w

[2018-06-12 07:57] wortho commented on #9915
Hi @douglaslMS,
No, it was just some strange formatting that slipped in when I cut and pasted the text.

/David

[2018-06-12 08:05] juhka opened #10073 "Space not accepted in dataset name"
It seems that space is no longer accepted in dataset names in Data Factory v2, even though it is not forbidden by the current naming rules. Has the convention changed or is there a problem in the validation logic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f81ce0-8915-2390-2c8e-53eb8a93180b
* Version Independent

[2018-06-12 08:06] tjrobinson commented on #9729
**Solution:**

This has now been answered here: https://social.msdn.microsoft.com/Forums/azure/en-US/aaa1871f-2f35-4e21-97d6-9f863a4e9d53/assigning-azure-key-vault-access-policies-to-azure-active-directory-security-groups-containing?forum=AzureKeyVault

[2018-06-12 08:21] paulandrewkent commented on #9312
Thanks, deployed and ran both the Set and Get -AzureRmSqlDatabaseBackupShortTermRetentionPolicy cmdlet via the Azure browser based powershell CLI , both showed an output of 28 days (that l used / wanted). Although l will test the backups produced, just hope l never need to use them.

[2018-06-12 08:21] #9312 closed

[2018-06-12 08:51] Siya-k commented on #9993
@MohitGargMSFT thanks for the feedback, I was able to resolve the issue by following these steps:

Azure AD on the Azure Portal, click properties
Change "Global admin can manage Azure Subscriptions and Management Groups" from No to Yes, and save.

[2018-06-12 09:30] YassineSOUABNI opened #10076 "LDAP_ALTERNATE_LOGINID_ATTRIBUTE"
Although the following is specified
"If this registry value is empty or not configured, then AlternateLoginId is disabled and the user's UPN is used for authentication"
we had to explicitely activate this registry key with the value UserPrincipalName to make the Authentication work for a multi-forest deployment
otherwise, any user from the trusted forest wouldn't be challenged with the MFA prompt

[2018-06-12 09:45] SvenHau opened #10077 "Column "CLIENT APP" is missing"
It would be really helpful to filter based on "Client App", but in the actual Azure portal this column is missing, although it is shown in the documentation. Will it be available soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc77eed-9bcb-d9a8-4d0c-52095b6d0aa7
* Version Independent ID: 187f48b4-ae4f-86a2-e7e8-9

[2018-06-12 09:51] SRayment opened #10078 "Supported external USB adaptors - unable to source in Europe"
The list of supported external USB adaptors appears to be out of date as these items are typically not readily available. Can this list be updated or a more generic statement on the use of USB to SATA adapters be included please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d43ef82e-37dd-ea89-86db-104557b8ff43
* Vers

[2018-06-12 10:10] jimeilong commented on #9791
![ssh docker](https://user-images.githubusercontent.com/18300923/41284229-41c0b930-6e6b-11e8-8b88-ff531cc3a771.png)

![error](https://user-images.githubusercontent.com/18300923/41284126-021a9224-6e6b-11e8-8122-7fcf1fb674c8.png)

[2018-06-12 10:13] jimeilong commented on #9791
Hello,

thanks for your update.

![ssh docker](https://user-images.githubusercontent.com/18300923/41284468-f231868c-6e6b-11e8-867f-1bcedbe7a7bd.png)

![error](https://user-images.githubusercontent.com/18300923/41284490-020afa34-6e6c-11e8-9efe-ceb369ff8967.png)

thanks & Regards
Meron

[2018-06-12 10:14] sergaz-msft commented on #9959
Hello @MrRoyce , can you double check if your value for the key  `Azure.IoT.IoTHub.ConnectionString` is the iothubowner connection string?

![image](https://user-images.githubusercontent.com/22173500/41284499-5e2dba62-6e31-11e8-88fc-0401301d2708.png)

![image](https://user-images.githubusercontent.com/22173500/41284569-93ab6b44-6e31-11e8-89cf-995920f66ea3.png)

Please also validate that the messag

[2018-06-12 10:35] sergaz-msft commented on #9966
Hello @petersad123  can you please confirm that the messages are coming in the IOT Hub and that their json format is like `{"messageId":1,"deviceId":"my Device","temperature":22,"humidity":70}` ? To see messages coming in IoTHub you can use [Azure IoT Toolkit](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) extension for [Visual Studio Code](https://code.visual

[2018-06-12 11:01] kamilzelazny commented on #10017
When I tried to login with other login I had the same message: Permission denied (publickey).

I would like to mention that I have my own ssh key-pair and I'm using putty with peagent to login via ssh.

My public key is located in such location: ~/.ssh/authorized_keys and I'm using private key via peagent with Allow agent forwarding option enabled.

[2018-06-12 11:27] JensNordenbro opened #10079 "Problem with iotedgectl"
I have tried this on both Ubuntu 16.04 and Debian
[Enter feedback here]
The iotedgectl does not work due to idna version installed is 2.7 and this is not an ok version.
However this is what seems to be bundled with Debian and Ubuntu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
*

[2018-06-12 11:34] superminiek commented on #9724
Thank you for information, everything is clear here but it is not clear while reading documentation (basically it is hard to find it that is why I created this issue), as I mentioned "could you please put a clear tip in documentation that VM should be removed and then re-created to enable SLA? It would be very helpful.".

[2018-06-12 11:35] jerryhorak opened #10080 ""Once deployed, Blockchain Workbench provides access to a... iOS app, and Android app.""
"Once deployed, Blockchain Workbench provides access to a web app, iOS app, and Android app."

After deployment I am failing to locate the resources specifically for mobile apps. I am also unable to find any Xamarin source code in the documentation or samples. Is this still in the works and the documentation is just incorrect at this time?

---
#### Document Details

⚠ *Do not edit this section. I

[2018-06-12 11:38] sauercrowd opened #10081 "Step 2 and 3 contain the same code"
The code in step 2 and 3 is exactly the same, I assume something is missing there

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4501148-c205-283d-9b31-cf21486c7615
* Version Independent ID: 11b31390-71ec-1784-3593-c3b4b1f1326f
* Content: [FPGA package for hardware acceleration for Azure Machine Learning](https://docs

[2018-06-12 12:04] JensNordenbro commented on #8532
I just encountered the problem but the work around did not do it for me:

was followed by:

![image](https://user-images.githubusercontent.com/9577365/41289183-3f7a28a4-6e49-11e8-94c0-9e8e393b9d54.png)

I have tried it on Ubuntu1604/1804 + Debian (latest).

Is there any other Linux I can try out or is there any fix?

[2018-06-12 12:07] cloudmelon opened #10082 "update autoscaling setting api version in arm template"
ApiVersion needs to be updated with latest  2015-04-01 for auto scaling settings
in page :
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-autoscale-template

{
"type": "Microsoft.insights/autoscalesettings",
"name": "Autoscale",
"apiVersion": "2014-04-01",        =====> ApiVersion needs to be updated with latest  2015-04-01
"location": "[variables('location')]",
"scale"

[2018-06-12 12:11] c-arnab commented on #10069
I was able to deploy in SouthEastAsia but unable to do so in South India and East Asia
Error received:Location 'South India' is not accepting creation of new Windows Azure SQL Database servers at this time.

[2018-06-12 12:14] msimecek opened #10083 "Doesn't work with Azure Storage Common Library for .NET"
Note at the beginning says that:

That's not true - `Microsoft.Azure.Storage.Common` does not contain `CreateCloudQueueClient` on `CloudStorageAccount`. Removing this NuGet package and using `Microsoft.WindowsAzure.Storage` solves the issue. Microsoft.WindowsAzure.Storage is also referenced throughout the tutorial so I think the note at the beginning should be removed.

---
#### Document Details

[2018-06-12 12:23] SaurabhRaoot opened #10084 "Request the permissions from a directory admin for custom scopes"
AAD v2.0
I have created custom scopes in web api type app. And Created a client app of web type.
Assigned few custom scopes to client app.
After requesting the permissions from a directory admin it is approving Microsoft graph permission, but not custom scopes. As I can see only built in Microsoft graph permission in access token.

How to  Request the permissions from a directory admin for custom

[2018-06-12 12:40] Angry-Polony commented on #6418
Your outdated documentation is a serious setback. I can only imagine how many developers turn away from Xamarin as whole because they are endlessly frustrated by old, outdated and frankly pathetic documentation. I totally agree with @ianpowell2017!

[2018-06-12 12:56] JensNordenbro commented on #8532
Also tried it on Fedora (latest) and it failed in exactly the same way.

[2018-06-12 13:04] SychevIgor opened #10085 "Add iot-hub tutorial-device-twins code samples on C#"
Could you add C# samples, not only javascript. It will make our live a bit easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014fa2f5-e835-6ee6-896a-2e5eb5b201db
* Version Independent ID: 250e7610-ddb1-e4bf-0308-f29ad9fb9848
* Content: [Synchronize device state from Azure IoT Hub](https://docs.microsoft.com/en-us/

[2018-06-12 13:27] washraf commented on #9520
@MicahMcKittrick-MSFT I am sorry i have been out of town, Yes I see the same issue. Whenever i stop debugging to fix a couple of lines of code it redeploys from scratch :|

[2018-06-12 13:38] sergaz-msft commented on #9996
Hello @cocowalla this is a relevant question, thanks for having the time to post it.

I went ahead and tried it with and without admin rights on my cmd. I can only open the pfx file with admin rights if the device certificate was created using the powershell script - following the article [PowerShell scripts to manage CA-signed X.509 certificates ](https://docs.microsoft.com/en-us/azure/iot-hub/io

[2018-06-12 14:01] #9996 closed

[2018-06-12 14:12] sauercrowd opened #10086 "Installation fails behind a proxy"
The installation fails due to "Proxy authentication needed".
How could I set a proxy manually in order to use a proxy which doesn't require authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089419cb-c22f-ca1a-fd06-a8f18c05c1da
* Version Independent ID: f53bf992-45d1-4e87-e8c9-caffbb2b15ee
* Content: [Insta

[2018-06-12 14:17] salvatore-garrubba opened #10087 "Can we use the Resource Owner Password Credential policy?"
We followed this article and we have built a JavaScript SPA that gets/stores data from a Web API protected by Azure B2C.

Our customers can sign up with a E-Mail address and sign in with a username. They can only login with an Email (No Facebook, Twitter,..) and are, therefore, local accounts.

This all works with the SPA and the login-page.

Now, customers want to have directly access to the API

[2018-06-12 14:18] eross-msft commented on #10024
@thatmattwade  Thank you for the clarification. I'll look into this some more and get back to you with our suggestions and/or updates.

[2018-06-12 14:22] salvatore-garrubba opened #10088 "Web API example"
Currently we have built a JavaScript SPA that gets/stores data from a Web API protected by Azure B2C.

Our customers can sign up with a E-Mail address and sign in with a username. They can only login with an Email (No Facebook, Twitter,..) and are, therefore, local accounts.

This all works with the SPA and the login-page.

Now, customers want to have directly access to the API without any user in

[2018-06-12 14:39] c-arnab opened #10089 "Error in scenario 1"
Find-AzureRmResource : The term 'Find-AzureRmResource' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At D:\xxx\Wingtiptickets\WingtipTicketsSaaS-StandaloneApp-master\Learning Modules\ProvisionTenants\New-Catalog.ps1:25 char:19
+ $contosoServer += Find-A

[2018-06-12 14:39] MartinGreen opened #10090 "Exists also fetches attributes"
This should be updated to reflect that calling the Exists (ExistsAsync etc.) functions also populate the Metadata and Properties.
So if you're checking Exists first the Fetch is unnecessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84ac5495-fab7-02a9-37d9-dde1e463cb4a
* Version Independent ID: 48fc73ee-bb7a-6175-

[2018-06-12 14:59] Mike-Ubezzi-MSFT commented on #9971
@gtbee I have assigned the issue to the content author to evaluate and update as appropriate. Thank you for providing feedback. Regards, Mike

[2018-06-12 15:02] manish-kevre commented on #10015
Thank you, closing issue.

[2018-06-12 15:02] #10015 closed

[2018-06-12 15:08] mikef-nl opened #10091 "Multiple alerts"
Is it possible to define multiple activityLogAlerts in an ARM template? If so how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b99aa75-5478-59e0-48a5-29811f7daba7
* Version Independent ID: 1ba031eb-9b3c-d2c7-c4d7-cd927fdcb6b8
* Content: [Create an activity log alert with a Resource Manager template](https://docs.mi

[2018-06-12 15:15] Mike-Ubezzi-MSFT commented on #10037
@markrad Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 15:24] Mike-Ubezzi-MSFT commented on #10069
@c-arnab Thanks for the feedback. In looking at the current [Azure Status](https://azure.microsoft.com/en-us/status/), I do not see any service related issues with provisioning Azure SQL Database, nor any issue last week but, let me ask around internally. This could simply be that there are no additional services to provision. Thanks, Mike

[2018-06-12 15:25] rmorgancafex opened #10092 "Node JS"
Hello, is there a recommended method for doing this in a NodeJS Web App Bot in Azure? I have imported my cert and have a thumbprint ...

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee2ce9e8-8504-ddab-1880-485962b99ffa
* Version Independent ID: 1dc67396-c348-d66b-bbab-0d424375ed51
* Content: [Use an uploaded S

[2018-06-12 15:28] gmsantos commented on #9983
Sam happens on firefox @ ubuntu and on google chrome I get a error message similar to Microsoft Edge.

![image](https://user-images.githubusercontent.com/1991286/41300311-bc215aca-6e3b-11e8-824d-65906d236d8a.png)

[code]

I think Firefox is having trouble to show the window error message and something related to my account is triggering these errors.

Are these error messages relevant for you @Sau

[2018-06-12 15:33] gsilva5 commented on #9266
AN supports multiple NICs, up to the number that a VM can support.

[2018-06-12 15:34] TheYabadabadou commented on #9886
Thank you @linda33wj !
Is it please possible to have more info on the syntax for SQL. For example,I tried to use the 'like' keyword but it did not return any result:
`SELECT * FROM "Platform"."Api_Issue" WHERE issue_key like 'MYJIRAPROJECT-%'`

However I have some results if use equal instead:
`SELECT * FROM "Platform"."Api_Issue" WHERE issue_key = 'MYJIRAPROJECT-1234'`

[2018-06-12 15:34] mattbriggs commented on #6425
I have created a work item to investigate this issue. In the meantime will close this thread. #please-close

[2018-06-12 15:35] #9440 closed

[2018-06-12 15:35] avodovnik opened #10093 "EventEnquedTime should be EventEnqueuedUtcTime"
It would appear the referenced EventEnqueuedTime in the text is actually EventEnqueuedUtcTime in ASA. There is also EventProcessedUtcTime which is missing from this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdf5fce5-c5c2-330b-49da-0fe8009ce57a
* Version Independent ID: ea8fc53a-2e06-a9d6-db65-c7e5acadc52

[2018-06-12 15:37] mattbriggs commented on #7710
Thanks. I have updated the topic with the addition of a step of locating the cert on the dev machine. #please-close

[2018-06-12 15:38] mattbriggs commented on #8689
Please note, I am still waiting on a response from the tech.  #in-progress

[2018-06-12 15:40] conceptdev commented on #9254
FYI, the **Product Feedback** button now goes to the project's [open source issues](https://github.com/Azure/azure-mobile-apps/issues) - thanks for the tip @mzhukovs.

[2018-06-12 15:40] barclayn commented on #8602
This is being updated with other updates in pr https://github.com/MicrosoftDocs/azure-docs-pr/pull/41079

[2018-06-12 15:47] #9728 closed

[2018-06-12 15:49] sethmanheim commented on #10009
@BartoszPorebski Thank you for pointing out this missing info. For egress, the throughput limit for 1 throughput unit (TU) is 4096 events per second. I will be sure to update the article to include this info. Thanks again!

[2018-06-12 15:56] codecadwallader commented on #9918
@BryanTrach-MSFT thanks Bryan, I appreciate the follow-up and information.

[2018-06-12 15:58] sethmanheim commented on #9202
@locohost We'll go ahead and close this issue, but please let us know if you have any more questions. #please-close

[2018-06-12 16:03] Mike-Ubezzi-MSFT commented on #10089
@c-arnab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 16:06] Mike-Ubezzi-MSFT commented on #10061
@MichaelXlj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 16:09] Mike-Ubezzi-MSFT commented on #10079
@JensNordenbro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 16:09] SaurabhSharma-MSFT commented on #9983
@gmsantos  can you try opening [url](https://microsoft.com/devicelogin ) on a "Private" or "Incognito" session of Firefox. Have you tried on Microsoft Edge/Internet Explorer.

[2018-06-12 16:10] Mike-Ubezzi-MSFT commented on #10085
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 16:16] jstawski opened #10094 "How about SNI bound certificates?"
The documentation talks about renewals with IP Based bound SSLs, but doesn't talk about SNI bound certificates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
* Version Independent ID: 8f4385a4-9ac2-38da-d243-ed3c00b0fd36
* Content: [Bind an existing custom SSL certificate to Azure

[2018-06-12 16:17] sethmanheim commented on #9647
We will go ahead and close this issue, but please let us know if you have questions. Thank you for the feedback! #please-close

[2018-06-12 16:18] stevestein commented on #10089
@c-arnab - the [Find-AzureRmResource cmdlet](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/find-azurermresource) should be available if your PowerShell environment is configured correctly. Are you running the latest version of [Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/get-started-azureps)?

[2018-06-12 16:28] MicahMcKittrick-MSFT commented on #10062
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 16:32] MicahMcKittrick-MSFT commented on #10082
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-12 16:34] SaurabhSharma-MSFT commented on #9729
@tjrobinson Great to know that you have got your answer on MSDN forum.

[2018-06-12 16:35] Mike-Ubezzi-MSFT commented on #9780
@zhongyi-zhang Yes, you should keep the amount of storage space provisioned to the primary and secondary the same. There is no immediate risk if they are not the same but, in the event that services fail-over to the secondary and there is some processing abnormality that consumes all available storage, that normally wouldn't consume all available storage on the primary instance; having both sized

[2018-06-12 16:36] Mike-Ubezzi-MSFT commented on #9849
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-12 16:36] #9849 closed

[2018-06-12 16:37] Mike-Ubezzi-MSFT commented on #9862
@zolebeg We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-12 16:37] #9862 closed

[2018-06-12 16:43] Mike-Ubezzi-MSFT commented on #9891
Yes, all points are valid. The last point being valid in that data sync can occur while there is limited downtime to the application. Once data sync is complete, the application can be pointed to the Azure SQL database instance.
Regards,
Mike

[2018-06-12 16:43] dlepow commented on #9977
@smflorentino - Yes, thanks for feedback. Generally we're not able to provide guidance in Azure docs about all the available images from publishers, including Windows Server, because of rapid changes and updates. That's really the role of the Azure Marketplace. For example the [Server info page](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.WindowsServer) in the Marketpla

[2018-06-12 16:45] mganeshphani commented on #9554
@johnkemnetz @femsulu Any Update here?

[2018-06-12 16:47] MicahMcKittrick-MSFT commented on #8321
@aaronralls I will close this for now.When ready please come back and we can reopen and continue.

[2018-06-12 16:47] #8321 closed

[2018-06-12 16:47] PatAltimore commented on #10046
@injector22 Thanks for the feedback.  It's funny that you mention this ordering. Your suggestion is the original ordering of the TOC. I received feedback that it makes more sense to create an application first and then manage users.  So, I switched them. The ordering issue is caused by configuring workbench administrators and application member in the same article. So, there's a pre-req in "create

[2018-06-12 16:47] IeuanWalker opened #10096 "Xamarin"
Is there an implementation for Xamarin.forms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71a428-6213-e0e1-cfba-76964353e0a2
* Version Independent ID: ef27b609-4c88-3a11-35ad-709df9c51861
* Content: [Push notifications to specific Android devices using Azure Notification Hubs and Google Cloud Messaging](https://do

[2018-06-12 16:48] MicahMcKittrick-MSFT commented on #9924
Thanks @iainfoulds! I forgot it is based on NIC rather than VM.

@ronaldvanrij take a look at the above links and let us know if they help.

[2018-06-12 16:48] barclayn commented on #8602
#please-close

[2018-06-12 16:49] Mike-Ubezzi-MSFT commented on #9904
@dolphinsting You are making configuration changes to Azure SQL Server which hosts the various SQL database types that are available. So, the instructions focus on making changes to Azure SQL Server where the configuration is applicable to any of the databases that reside on that Azure SQL Server instance. There are no individual instructions for each of the available databases that Azure SQL Serv

[2018-06-12 16:49] MicahMcKittrick-MSFT commented on #9939
@zerobane any update on this? If needed, I would also suggest you open a technical support ticket to the networking team. They should be able to help you further in setting up your connections.

[2018-06-12 16:50] mganeshphani opened #10097 "If Caller is a GUID - how to get further details of the caller"
Hello, In my case administrative activity log is an GUID.. I am guessing it means someone used Service principle to take some action on the resource.. how can I get the details of the application or user who took that action? no information of that sort in this document. I event tried querying the SPN's on ObjectID and APPLICATIONID with Get-AzureRMADServicePrincipal using the GUID specified in Ca

[2018-06-12 16:55] douglaslMS commented on #9830
@ElectricLlama The SSIS team has tested your original issue and discovered the following cause and resolution:

[2018-06-12 16:57] sonfiree commented on #9681
@dapsjj
`data = open('D:\liuneng1.jpg', 'rb')`

[2018-06-12 17:00] jegilber opened #10098 "Role attribute"
I had to add Role attribute and define the attribute implicitly
Name: https://aws.amazon.com/SAML/Attributes/Role
Value: arn:aws:iam::xxx:role/admin_sso, arn:aws:iam::xxx:saml-provider/AzureSSO

Any reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458

[2018-06-12 17:03] jhealy commented on #8648
Any word on this?

[2018-06-12 17:05] sbdoroff opened #10099 "Temporary Disks"
The line "During a standard reboot of the VM, the data on the temporary drive should persist." differs from the language in the language in the team blog.  The team blog states:

When will the data on temporary drive be lost?
When you resize the VM, When you shutdown or restart your VM, when your VM is moved to a different host server(due to service healing, shutdown and restart), when the host is

[2018-06-12 17:08] MicahMcKittrick-MSFT commented on #9973
@marvinvperez I will close this for now. If you need more help please come back and we can reopen and continue.

[2018-06-12 17:08] #9973 closed

[2018-06-12 17:09] #10058 closed

[2018-06-12 17:10] Adam-Smith-MSFT commented on #10078
@SRayment Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 17:11] Adam-Smith-MSFT commented on #10083
@msimecek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 17:11] Mike-Ubezzi-MSFT commented on #9974
@sunilab I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 17:11] MicahMcKittrick-MSFT commented on #9978
@smflorentino I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-12 17:13] Adam-Smith-MSFT commented on #10090
@MartinGreen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 17:13] aanandr commented on #10049
The Kubernetes service address range is the range from which IP addresses are assigned to Kubernetes services (https://kubernetes.io/docs/concepts/services-networking/service/ describes what a service is). Both these IP ranges should be outside the IP range of the VNet in which you are deploying your cluster. They should also not overlap with any other VNets with which this VNet peers. They should

[2018-06-12 17:14] MicahMcKittrick-MSFT commented on #10017
What OS are you using?

[2018-06-12 17:16] jeevansd commented on #10098
@jegilber Nope this is not expected. I am sure there must be some other issue which you hit. Ideally you should configure the claim name as Role and the other value goes in Namespace and this configuration works which we have tested. I am not sure why you hit that issue.

[2018-06-12 17:16] jeevansd commented on #10098
#please-close

[2018-06-12 17:23] 00111000 commented on #9919
Hi @CelesteDG , thank you for providing the diagram, it showed some interesting flows, however, I still have a few questions about single sign-out and sign-out in general.

- If I only want to sign the user out of the current session, in order to terminate the current session is it enough to redirect the user to the `end_session_endpoint`? What cookies is @hpsin referring to in his [comment](https

[2018-06-12 17:27] georgiosd commented on #9980
Hey @Mike-Ubezzi-MSFT,

I was looking at the C# examples - the code is "correct" in that it will compile - but this is an anti-pattern for many many reasons related to static initialization.

I just don't think it should be in official documentation is all.

[2018-06-12 17:30] BryanTrach-MSFT commented on #10060
@binoyjt Can you please provide us a link to the article that you are having issues with?

[2018-06-12 17:36] mmacy commented on #10049
Thanks, Aanand, appreciate it. For the IP ranges on these things, can they be any private range (10.x, 192.168.x, 172.x), and if so (or not) what reasoning would a customer have for using a specific range?

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Aanand Ramachandran <notifications@github.com>
Sent: Tuesday, June 12, 2018 10:13 AM
To: MicrosoftDocs/azure-

[2018-06-12 17:39] #9891 closed

[2018-06-12 17:41] vasivara-MSFT commented on #10093
@avodovnik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 17:45] brjohnstmsft commented on #9940
@mleziva The short answer is yes, creating many `SearchServiceClients` will exhaust available connections. For more details, see this [StackOverflow question](https://stackoverflow.com/questions/41769937/implications-of-using-azuresearch-sdk-with-static-dictionary-of-30-40-isearchind).

[2018-06-12 17:45] aaronralls commented on #8321
Thank you. I will provide feedback later this week and we can go from there.

[2018-06-12 17:49] vasivara-MSFT commented on #10073
@juhka Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 17:52] douglaslMS commented on #9914
#in-progress

[2018-06-12 17:52] douglaslMS commented on #9914
@wortho Has the information provided by @Mike-Ubezzi-MSFT answered your question?

[2018-06-12 17:54] sethmanheim commented on #9922
@NayangiriGoswamiGit Thank you for the feedback. I believe there may be some confusion in that this article is based on the SimpleSend sample, but the original name was just "Send". I will update the article right away. In the meantime, I just tried to run the https://github.com/Azure/azure-event-hubs/tree/master/samples/Java/Basic/SimpleSend sample, and it seems to work fine.

[2018-06-12 18:04] GrantMeStrength commented on #5565
Thanks! I can't find any other topics that cover moving the basics of moving a node.js app to Azure, so there is where I ended up.

[2018-06-12 18:05] SaurabhSharma-MSFT commented on #10053
@RichardClarkeDW Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 18:06] SaurabhSharma-MSFT commented on #10076
@YassineSOUABNI Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 18:11] sethmanheim commented on #9800
@amrx101 Thank you for the feedback. We appreciate you taking the time -- we will definitely place this request on the backlog for a future documentation release. Again, thank you for reaching out!

[2018-06-12 18:11] Katydude opened #10100 "Git Deploy Hangs Up On This Example"
Once node install.js is spawned on the server, git receives a fatal error saying "The remote end humg up unexpectedly. Error: error in sideband demultiplexer". This results in an application that is broken and only returns a 500 error. I followed the steps in this tutorial precisely and exactly twice. The application works locally, even when using the remote Cosmos Mongo. But once the code is push

[2018-06-12 18:11] sethmanheim commented on #10009
@BartoszPorebski The article is updated, thank you again for the feedback. #please-close

[2018-06-12 18:13] SaurabhSharma-MSFT commented on #10084
This is duplicate with #10016, we will update there.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-12 18:13] #10084 closed

[2018-06-12 18:15] Katydude commented on #10100
Sorry, I meant node 8.

[2018-06-12 18:26] jupiter19914 opened #10101 "Describe briefly how MS prevents someone from re-advertising their address blocks on the internet"
Add FAQ on how does MS prevent someone from re-advertising their address blocks on the internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c1d3b93-4e51-b2ec-c779-d80313275297
* Version Independent ID: 1811faf4-3a71-f037-6d08-6872ec5120a2
* Content: [Overview of BGP with Azure VPN Gateways](https://docs.microsoft.

[2018-06-12 18:27] tfitzmac commented on #10048
@J-Fedor - thanks for this suggestion. I have added it to the article, and it should get published this afternoon. Sorry it wasn't there for your move.

[2018-06-12 18:27] #10048 closed

[2018-06-12 18:37] J-Fedor commented on #10048
Thanks.  One of those hindsight 20/20 things.
Also, the validation - can’t normally do ahead of time since if it validates without issue it just “goes”.  Last couple I’ve had have had things needing to be fixed before they went so mentally thinking it was waiting on a “confirm”, but really it wouldn’t if people had a clean/prepped environment.  Something for a dev-boys wish-list so validation can

[2018-06-12 18:40] anirudhcavale commented on #9124
Adding @vgorbenko who owns the UX for this. Vitaly, can you take a look at this, it looks like a bug. We should be able to accept multiple email addresses.

[2018-06-12 18:41] YutongTie-MSFT commented on #10052
@ryannk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 18:46] BryanTrach-MSFT commented on #10092
@rmorgancafex Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 18:49] kraigb commented on #5711
Repeat: @Adam-Smith-MSFT Can you reassign to @ghogen who has ownership of this article?

[2018-06-12 18:53] BryanTrach-MSFT commented on #10094
@jstawski The below process still applies with SNI SSL certs. Since you don't have a static IP address with an SNI cert, the risk that your app service's IP address can change at any time still applies.

1. Upload the new certificate.
2. Bind the new certificate to the custom domain you want without deleting the old one. This action replaces the binding instead of removing the old one.
3. Delete t

[2018-06-12 18:53] #10094 closed

[2018-06-12 18:55] travis-sobeck commented on #10049
All that information and the link to kuernetes docs is very useful.  I set up AKS with advanced networking with the defaults just to see what I got.  Looking through both Resource groups that get created, I can't find any references in either one as to what IP addresses were used for the "Kubernetes service address range " and "Docker Bridge address".  Once I've created these things, how do I go b

[2018-06-12 18:56] BryanTrach-MSFT commented on #10096
@IeuanWalker Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 19:01] MicahMcKittrick-MSFT commented on #10062
Have you attempted to deploy the voting app to a new cluster to see if it happens again?

[2018-06-12 19:06] MicahMcKittrick-MSFT commented on #10099
If you are just doing a reboot of the VM your machine should stay on the same node and the data on the temp drive will persist. There are cases where you VM could be moved to a new host however. In which case the data would not persist. Really any data on the temp drive should be data that is not critical to the system in the case it is lost.

The temp data will always be removed when the VM is mo

[2018-06-12 19:11] MohitGargMSFT commented on #10087
@salvatore-garrubba Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:16] MohitGargMSFT commented on #10088
@salvatore-garrubba This is the similar feedback as below one. I will close this as duplicate and will work on this [https://github.com/MicrosoftDocs/azure-docs/issues/10087](https://github.com/MicrosoftDocs/azure-docs/issues/10087) issue.

[2018-06-12 19:16] #10088 closed

[2018-06-12 19:18] #10098 closed

[2018-06-12 19:22] Adam-Smith-MSFT commented on #10056
@danielithiessen Thank you for the valuable feedback,we are investigating the issue.

[2018-06-12 19:24] femsulu commented on #10097
@mganeshphani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-12 19:27] femsulu commented on #9138
@flanakin @nilpatelmicrosoft any update on this please?

[2018-06-12 19:27] wmgries commented on #7438
@Adam-Smith-MSFT this feedback has been addressed, can you please close?

@RenaShahMSFT FYI.

[2018-06-12 19:27] wmgries commented on #9475
@RenaShahMSFT FYI.

[2018-06-12 19:31] nilpatelmicrosoft commented on #9138
@Davilink still investigating this. Did you get a chance to try on preview.portal.azure.com?

[2018-06-12 19:34] akramwaseem opened #10102 "Is the Api Version Latest ?"
"apiVersion": "2017-03-30", is this the latest ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5b8e22-49e6-bba4-d42b-8dd42d469e3b
* Version Independent ID: 017df7fb-0c1d-637e-a204-e60392cab207
* Content: [OMS Azure virtual machine extension for Linux](https://docs.microsoft.com/en-us/azure/virtual-machines/extension

[2018-06-12 19:37] MohitGargMSFT commented on #10059
@smharishbabu Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:39] Adam-Smith-MSFT commented on #10072
@NayangiriGoswamiGit  Could you provide us with the documentation link you were referring to for this comment ?

[2018-06-12 19:39] MohitGargMSFT commented on #10063
@smharishbabu Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:41] MohitGargMSFT commented on #10066
@smharishbabu Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:41] Adam-Smith-MSFT commented on #10077
@SvenHau  Could you provide us with the link you were referring to in order to suggest your edits ?

Thanks,
Adam

[2018-06-12 19:43] MohitGargMSFT commented on #10068
@smharishbabu Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:49] MohitGargMSFT commented on #10091
@mikef-nl Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:52] MohitGargMSFT commented on #10100
@Katydude Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:53] yangsiyu007 opened #10103 "Hyperlink missing"
Under "For more information, reference the following articles:", the link to the "Roaming and Sharing" dot point is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 570174c0-ec43-ab79-2d1d-38903cb35df5
* Version Independent ID: 01a073f1-ad36-835a-b090-f0b2b3a7cabe
* Content: [What is Azure Machine Learning?](htt

[2018-06-12 19:53] sethmanheim commented on #9529
@idg10 Hi and thank you for reaching out. The libraries are a bit confusing, but that's due to legacy and backward compatibility reasons. At one time Azure Service Bus and Azure Event Hubs were one product, so the WindowsAzure.ServiceBus library/NuGet  package contain types for both services. Because of backward compat, this older (closed source) library has to live on. Unfortunately the 2 librari

[2018-06-12 19:54] MohitGargMSFT commented on #10071
@pallaviMN Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:55] MohitGargMSFT commented on #10081
@sauercrowd Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:55] Mike-Ubezzi-MSFT commented on #10000
@FelixHenriksen I am not having issues with this tutorial, as followed per the instructions. Did you load additional data or deviate from the instructions or data provided?

![screenshot 48 _li](https://user-images.githubusercontent.com/37126106/41313698-793eec8c-6e3f-11e8-85fe-52fee6d2514d.jpg)

![screenshot 46](https://user-images.githubusercontent.com/37126106/41313501-ef2b62a0-6e3e-11e8-95dc-0

[2018-06-12 19:58] MohitGargMSFT commented on #10086
@sauercrowd Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 19:59] johnlnash opened #10104 "Moving FileSync Groups to new resource group"
Is it possible to move a file sync group to a different resource group?  I have tried several times and it fails.  If not, is it possible to migrate a server from one file sync group to another?  What would be the impact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4814031f-3cca-10a6-8587-cf1a045d2481
* Version Inde

[2018-06-12 19:59] MohitGargMSFT commented on #10101
@jupiter19914 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-12 20:01] TravisCragg-MSFT commented on #10101
@jupiter19914 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 20:02] MicahMcKittrick-MSFT commented on #10091
@mikef-nl the current template shown does appear to have multiple alerts:

[code]

One fore Administrative events, Write operations and Deployment operations. Is this not what you are looking for?

[2018-06-12 20:09] Mike-Ubezzi-MSFT commented on #10025
There is reference that Azure SQL Managed Instance has **Always On** pre-configured. So, it is available. Is there documentation?

---
[Key differences between SQL Server on-premises and Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#key-differences-between-sql-server-on-premises-and-managed-instance)

Managed Instance benefits from being always

[2018-06-12 20:09] toolboc opened #10105 ""Create Github Webhook" section uses deprecated Integrations & Services"
Integrations & Services are now deprecated in GitHub (https://developer.github.com/changes/2018-04-25-github-services-deprecation/)

 The "Create GitHub Webhook" section should be updated to use new Webhooks feature =&gt; https://developer.github.com/webhooks/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57733a87-9d9

[2018-06-12 20:11] Katydude commented on #10100
I did discover that, following the example, the code in package.json references a very specific version of node and npm. These did not match what I had on my local computer. I had something much later. I regressed everything back to node 8.1.4 and npm 5.0.3. I updated package.json. I deleted and rebuilt my app service in azure and used the --runtime parameter to select "node|8.1".

During my git p

[2018-06-12 20:21] sbhuttan opened #10106 "Parameters tab missing while creating Pipeline"
Step 10 under - "Create the pipeline IterateAndCopySQLTables" section, I am unable to find Parameters tab under Copy Operation, while creating this pipeline. Could you provide JSON to be used here?
Also, what is the best way to locate JSON for any missing UI functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-12 20:33] BryanTrach-MSFT commented on #10080
@jerryhorak Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 20:39] dimazaid commented on #9808
Hello - Thanks for the feedback, we will look into updating this soon.

[2018-06-12 20:40] BryanTrach-MSFT commented on #10100
Can you please try to run the below command to reset the head of the corrupt remote repo?

` git remote set-head`

We look forward to your reply.

[2018-06-12 20:50] TravisCragg-MSFT commented on #9241
@luckyshop We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-12 20:50] #9241 closed

[2018-06-12 20:52] Katydude commented on #10100
Is there more to the command than that? Like specifying which remote (azure) and maybe a flag such as -a? Also, when I now look at the ...ftp.azurewebsites.windows.net/LogFiles/Application/logging-errors.txt I see that it cannot find the module lodash even though this is specified in the package.json dependencies.

[2018-06-12 20:52] MicahMcKittrick-MSFT commented on #10102
@akramwaseem I believe so. I will assign to author to review and see if we need to update this doc as well.

@danielsollondon can you take a look?

[2018-06-12 20:53] MicahMcKittrick-MSFT commented on #10105
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-12 20:56] BryanTrach-MSFT commented on #10103
@yangsiyu007 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 20:56] Katydude commented on #10100
I performed

and it returned

[2018-06-12 20:58] somefella123 opened #10107 "Webhook schemas"
This is a good summary, but I'm struggling to understand what each of these look like if I configure them to talk to a WebHook. I've seen a couple of pages that mention schemas (e.g. Metric based alerts at https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/insights-webhooks-alerts#payload-schema, and it looks like this is the Log alerts schema https://docs.microsoft.com/en-us/azure/

[2018-06-12 20:58] BryanTrach-MSFT commented on #10100
@Katydude Can you please reach out to us at AzCommunity@microsoft.com? Please provide your subscription ID and this GitHub URL. We would like to work closer with you.

[2018-06-12 21:07] PatAltimore commented on #10046
@injector22 I'm going to leave the order as is. I'll put this feedback on the backlog and work on ordering for future release. I'm requesting this issue be closed. #please-close

Thanks,
Pat

[2018-06-12 21:17] Katydude commented on #10100
Done. Thanks a lot.

[2018-06-12 21:30] somefella123 opened #10108 "Please clarify Signal"
Documentation on this page says Signal is the "Source of data emitted by the Target resource. Supported signal types are Metric, Activity log, Application Insights, and Log.".

However this other page (https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-usage) says "Alert uses the term Log Alerts to describe alerts where signal is custom query based on Log Anal

[2018-06-12 21:32] Dunwally opened #10109 "The connection string is missing the property: HostName"
[Enter feedback here]
I was ok following the tutorial steps until I got to connecting Real Device. When I ran the connection file, ConnectedAirConditioner.js, with the connection string obtained from central application and pasted into the code, the following error was thrown:
ArgumentatorError: The connection string is missing the property: HostName.

please help me out.

Wally

---
#### Document

[2018-06-12 21:44] FrancisRD91 opened #10110 "Cognitive service region"
Hello,

When I create the QnA service I set Search location and Website location as East US 2 and App insights location as East US but when service is deployed, there is a resource type Cognitive Services that is added in West US region. How can I change it?

SS:
https://www.screencast.com/t/aC8cDG6sV1e

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-06-12 21:52] chadgr commented on #10025
@Mike-Ubezzi-MSFT Always on is pre-configured and that is why it is NOT available to the customers.  We automatically configure an Always-On group so you can't have two.  The management is NOT available to customers because this is how we deliver our SLA, so they are not allowed to touch the configuration.  They can however access one of the replica's as read-only if they are using a premium tier.

[2018-06-12 21:57] somefella123 opened #10111 "Clarification on App Insights schema"
Please would you clarify the statement that "for log alerts using Application Insights, the standard webhook payload is based on Action Group schema."?

Where can I find the Action Group schema? Is the example on this page a good example of the Action Group schema? It's confusing because the format for "Log Alert for Azure Application Insights" is almost identical to the "Log Alert for Azure Log-A

[2018-06-12 22:10] meganbradley opened #10112 "this is a test of the issues automation"
Hi Tyson!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432527f3-ddd9-0a90-ccf8-55b264b797ad
* Version Independent ID: 05976f6f-c69f-9d2f-7a07-f3ea0bd44f7c
* Content: [Receive a notification when a metric value meets a condition](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-quick-resource-

[2018-06-12 22:13] douglaslMS commented on #9915
@wortho Our instructions in the paragraph **Changing the data type of a column** say, "To complete the change, replicate the schema change manually to the hub and to all sync members, and then update the sync schema." As I understand, the approach that you're proposing - of dropping the table from the schema - contains extra steps that aren't necessary.

[2018-06-12 22:14] mleziva commented on #9940
Great, thanks for the quick feedback!

[2018-06-12 22:14] #9940 closed

[2018-06-12 22:14] MohitGargMSFT commented on #10087
@salvatore-garrubba To implement Daemon or server application to web API scenario you can use Azure Active Directory. Check for details on it [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-scenarios#daemon-or-server-application-to-web-api). Is there a specific requirement to use Azure B2C to implement this scenario?

[2018-06-12 22:15] meganbradley opened #10113 "test #2"
Hello again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432527f3-ddd9-0a90-ccf8-55b264b797ad
* Version Independent ID: 05976f6f-c69f-9d2f-7a07-f3ea0bd44f7c
* Content: [Receive a notification when a metric value meets a condition](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-quick-resour

[2018-06-12 22:15] ScottAzure opened #10114 "Broken link"
"reimage scale set VMs" is a broken link
https://docs.microsoft.com/rest/api/virtualmachinescalesets/manage-a-vm is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e71a4d56-0bb0-56ad-68c4-3e6371b7d457
* Version Independent ID: 44ad5002-653c-c52d-25d1-d6d3ae0762e2
* Content: [Design Considerations for Azure Virtua

[2018-06-12 22:16] CelesteDG commented on #9919
Hi @00111000 - Thank you for the clarifying questions. I'll work to address your questions in the writeup itself but here are the answers to your question (as answered by our dev):

Answer to question 1:
When an app redirects the user to the end_session_endpoint, the Azure AD behavior is to:
1. If a sid (and required iss parameter per the OIDC spec) are specified, Azure AD will sign out the specif

[2018-06-12 22:17] meganbradley opened #10115 "test #3"
We meet again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432527f3-ddd9-0a90-ccf8-55b264b797ad
* Version Independent ID: 05976f6f-c69f-9d2f-7a07-f3ea0bd44f7c
* Content: [Receive a notification when a metric value meets a condition](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-quick-reso

[2018-06-12 22:19] wesmc7777 commented on #9311
We just want customers to connect to the main port and then the client will automatically download the cluster configuration along with other port numbers, if it supports clustering.  The Redis clustering protocol requires that each client connect to each shard directly in clustering mode. If the client doesn't support clustering, I'm pretty sure you will see a lot of [MOVED redirection exceptions

[2018-06-12 22:19] meganbradley opened #10116 "test #4"
Label test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432527f3-ddd9-0a90-ccf8-55b264b797ad
* Version Independent ID: 05976f6f-c69f-9d2f-7a07-f3ea0bd44f7c
* Content: [Receive a notification when a metric value meets a condition](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-quick-resourc

[2018-06-12 22:36] BryanTrach-MSFT commented on #10100
@cephalin It appears that there have been some changes to node.js and npm since this article that can cause issues. Would it be good to call out the specific versions as dependencies or see if the document needs updating using more recent versions of npm and node.js?

[2018-06-12 22:40] luislinietsky opened #10117 "What about Xamarin"
Hi,
Is there going to be a full-feature sample for Xamarin.Forms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffa7f911-008d-dda6-ebeb-fd917a6ad6e7
* Version Independent ID: 913b1a1c-34b2-765e-60c3-61f72bad9397
* Content: [Samples for using Microsoft Speech Service](https://docs.microsoft.com/en-us/azure/cognitive-se

[2018-06-12 22:41] BryanTrach-MSFT commented on #10107
@somefella123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 22:42] meganbradley commented on #10116
To sign off on this PR, please type `#sign-off` in a comment.

[2018-06-12 22:44] BryanTrach-MSFT commented on #10108
@somefella123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 22:45] kobulloc-MSFT commented on #9711
@waheedhussain We have a slightly different set of steps in order to download the the results:

1) In the Azure portal, navigate to your Application Insights resource group
2) In Overview, click on your Application Insights resource
3) Under the Investigate group, click on Availability
4) In the Availability test summary, click on a result/dot to bring up the Availability test result window
5) Cli

[2018-06-12 22:46] kgremban commented on #10079
Hi @JensNordenbro yes, idna updated over the weekend and the iotedgectl does not support it yet. I know that the guidance for now is to rollback with `pip install idna==2.6` and I'll follow up with the product team to see when 2.7 will be supported.

[2018-06-12 22:47] kobulloc-MSFT commented on #9711
@waheedhussain We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-06-12 22:47] #9711 closed

[2018-06-12 22:48] jdplee commented on #10024
Well this was somewhat of a mission to find the answer. Given I stumbled upon this link along the way, I wanted to share what I found.

Essentially the user needs to navigate to their MyApps:
1) Launch MyApps (https://myapps.microsoft.com)
2) Click on your profile at the top right
3) Click on the 'Profile' option that appears
4) Click on the 'Additional Security Verification' link on the right
5)

[2018-06-12 22:48] kgremban commented on #8532
Hi @JensNordenbro, please try `pip install idna==2.6`

[2018-06-12 22:55] anirudhcavale commented on #8267
@rboucher to comment on whether this is possible at all.

[2018-06-12 22:56] anirudhcavale commented on #7511
@rboucher can we close this issue?

[2018-06-12 22:56] anirudhcavale commented on #7744
@rboucher can this be closed?

[2018-06-12 22:58] alkohli commented on #10078
#in-progress

[2018-06-12 23:03] Adam-Smith-MSFT commented on #10104
@johnlnash  What kind of error did you get when it failed ? per this documentation, you may have to unregister and register the server when it's joined to a new group: https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-server-registration

I'll confirm this by assigning it to the author for more insight.

[2018-06-12 23:04] MicahMcKittrick-MSFT commented on #10107
@somefella123 what kind of webhook are you looking to configure? As per alerts, these docs have quite a bit of details and go over your options well.

[2018-06-12 23:04] kobulloc-MSFT commented on #8673
@agnimitra For now, there is no "sign out" for SSO URL however we will be updating the API to allow you to specify a custom TTL when getting an SSO URL (example: between 1 second and 5 minutes).  This will effectively terminate the user session when the portal session is terminated.  This will probably be available in the preview version of the API, perhaps in a month or so.

I believe that this w

[2018-06-12 23:04] #8673 closed

[2018-06-12 23:04] Adam-Smith-MSFT commented on #10104
@johnlnash Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-12 23:05] #6425 closed

[2018-06-12 23:05] #7710 closed

[2018-06-12 23:05] #8602 closed

[2018-06-12 23:05] #9202 closed

[2018-06-12 23:05] BryanTrach-MSFT commented on #10113
@meganbradley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-12 23:05] #10113 closed

[2018-06-12 23:06] #9647 closed

[2018-06-12 23:06] #9777 closed

[2018-06-12 23:06] #10009 closed

[2018-06-12 23:06] BryanTrach-MSFT commented on #10115
@meganbradley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-12 23:06] #10115 closed

[2018-06-12 23:07] MicahMcKittrick-MSFT commented on #10108
@somefella123 we use the general term signal to reference any incoming stream of data that would set off an alert. In the instance of the second link you are referring to, I believe it is just stating that in the case the signal comes from either log analytics or app insights they both will be categorized as a "Log Alert"

[2018-06-12 23:07] BryanTrach-MSFT commented on #10116
@meganbradley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-12 23:07] #10116 closed

[2018-06-12 23:09] YutongTie-MSFT commented on #9965
@anarchitect Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr Hi, this is a product related issue, could you please check it and help? Thanks a lot!

[2018-06-12 23:11] v-geberr commented on #9965
@anarchitect Thanks for reading the documentation. I'm not sure I understand your question. Can you please rephrase it? A pattern is associated with an intent so the pattern definitely matters.

[2018-06-12 23:12] BryanTrach-MSFT commented on #10112
@meganbradley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-12 23:12] MicahMcKittrick-MSFT commented on #10114
Thanks for pointing this out! I have fixed the link. Once the changes merge this issue will close and the changes will go live in a few hours

[2018-06-12 23:14] v-geberr commented on #9913
#please-close

[2018-06-12 23:16] BryanTrach-MSFT commented on #10111
@somefella123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 23:19] ctolkien commented on #9769
Somewhat relevant on why this is bad practice:
https://chris408.com/post/microsoft-azure-application-gateway-exposes-your-backend-health-api-server/

[2018-06-12 23:22] Davilink commented on #9138
It's seem to work on the preview, but still with a delay of 5 seconds

[2018-06-12 23:27] #10114 closed

[2018-06-12 23:29] YutongTie-MSFT commented on #10032
@cassiealynn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi, this is a doc issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-12 23:29] dapsjj commented on #9681
@sonfiree Sorry,the error message has not changed.

[2018-06-12 23:32] BryanTrach-MSFT commented on #10110
@FrancisRD91 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 23:35] rboucher commented on #7511
@femsulu Please close this issue.

[2018-06-12 23:35] BryanTrach-MSFT commented on #10117
@luislinietsky Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-12 23:37] YutongTie-MSFT commented on #10052
@cjgronlund Hi, this should be a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-12 23:40] warden opened #10118 "K8S nodes need restart"
It seems that after creating the roles assignment between ACR and K8S, the cluster nodes need to be restarted for the docker authentication to take effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Authe

[2018-06-12 23:42] neilpeterson commented on #10118
@warden - thanks for the issue. Yes, this is know and the product teams are investigating for a fix. I will add some clarification to the documentation.

[2018-06-12 23:43] YutongTie-MSFT commented on #10117
@luislinietsky Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zhouwangzw Hi, this is a product insight issue, can you please check it? Thanks a lot!

[2018-06-12 23:48] judemars commented on #8227
I am also experiencing the same issue and updating to the latest version of  Microsoft.IdentityModel.Clients.ActiveDirectory, 3.19.6, did not solve the problem. Interestingly, this same version does work in the AAD sample project I cloned from here https://github.com/Microsoft/vsts-auth-samples/tree/master/ManagedClientConsoleAppSample, which targets .net framework whereas my app targets .net core

[2018-06-12 23:55] BHoggs opened #10120 "Certificate Size"
"one kilobyte" doesn't sound right, as a single 2048bit certificate would equate to around 2.4KB.
Is this simply storing the metadata for a certificate, or the whole certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fa544c-e028-c8da-a86c-0dfa357852fc
* Version Independent ID: 574a6ca7-fb2a-19c3-8cf0-8541b51

[2018-06-13 00:17] BryanTrach-MSFT commented on #10096
@IeuanWalker I believe the below doc is what you are looking for. If not, please tag me in your reply and we can dig deeper.

https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started-push

[2018-06-13 00:18] BryanTrach-MSFT commented on #9751
@Garima2k1 Since we have not heard back from you, we will now proceed to close this post. Please tag me in your reply if you do get the change to respond.

[2018-06-13 00:28] Katydude commented on #10100
The odd thing is that the App Service supports (or appears to support) Node
8.1.4. However, even though I can run my app under 8.1.4 locally, when I
push following the instructions is when the references seem to get borked.
This could just be more procedural, though, and that would be simple to
correct in the documentation, e.g. it wasn't overly apparent to me the
first time through the significan

[2018-06-13 00:48] #9993 closed

[2018-06-13 00:50] MohitGargMSFT commented on #9986
@JGezels We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-13 00:50] #9986 closed

[2018-06-13 00:50] MohitGargMSFT commented on #9987
@JGezels We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-13 00:50] #9987 closed

[2018-06-13 00:51] MohitGargMSFT commented on #9989
@beachseeker Request you to please provide an example where you find issue with the documented step.

[2018-06-13 00:52] MohitGargMSFT commented on #10006
@dzemp We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-13 00:52] #10006 closed

[2018-06-13 00:52] MohitGargMSFT commented on #10022
@ilio78 We will now proceed to close this thread. Thanks.

[2018-06-13 00:52] #10022 closed

[2018-06-13 00:52] MohitGargMSFT commented on #10035
@jasonpnnl We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-13 00:52] #10035 closed

[2018-06-13 00:55] MohitGargMSFT commented on #10053
@RichardClarkeDW I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-13 00:56] smflorentino opened #10121 "Add info on client certificates"
How do we switch client certificates to common name, particular with multiple issuer thumbprints?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34f6d36-58e7-ab10-e659-bdd10a64deca
* Version Independent ID: 25d94e4b-8c95-7423-2665-7c09d438a16b
* Content: [Update an Azure Service Fabric cluster to use certificate commo

[2018-06-13 00:57] MohitGargMSFT commented on #10060
@binoyjt Please provide link to the document on which you have provided the feedback so that we can take required action. Thanks.

[2018-06-13 01:01] MohitGargMSFT commented on #10076
@YassineSOUABNI Thanks for your feedback. I am assigning this issue to content author to check and update as appropriate.

[2018-06-13 01:19] dimazaid commented on #7524
Updated

[2018-06-13 01:31] rboucher commented on #7744
@femsulu  Can you please close this issue? I'm not sure where @grahambunce went to.

[2018-06-13 01:45] zhongyi-zhang commented on #9780
@Mike-Ubezzi-MSFT Understood. Thank you a lot!

[2018-06-13 01:45] #9780 closed

[2018-06-13 01:55] #9266 closed

[2018-06-13 02:36] barclayn commented on #7087
@MohitGargMSFT I have a PR open to update the screenshots. I'll update once that the changes have merged.

[2018-06-13 02:58] SaurabhSharma-MSFT commented on #9906
@phatcher We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 02:58] #9906 closed

[2018-06-13 03:27] neilpeterson commented on #10051
@phandinhlan - thanks for this issue. I will have the doc updated with some additional information on the images. This will take a few days, but we will get it done.

The image being used in the doc does come from Docker Hub, here is a link to the hub page: https://hub.docker.com/r/microsoft/java-on-azure-jenkins-slave/

To specify a different image from Docker hub, just enter the image repository

[2018-06-13 03:41] barclayn commented on #7087
@jpr2016git Thank you very much for your feedback. I have updated the screenshots.

[2018-06-13 03:41] barclayn commented on #7087
#please-close

[2018-06-13 03:57] NayangiriGoswamiGit commented on #10072
Here is the link for documentation:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions

[2018-06-13 03:58] reaperlord commented on #9842
If I may make another suggestion: Based on my own use of the guide, I would say there is a small step missing at the end; namely making sure that the VMs you wish to control are connected in your newly created OMS workspace. For me as a new user this was not an inherently obvious step.

[2018-06-13 04:15] georgewallace commented on #9842
The VMs dont need to be in your OMS Workspace. The workspace is used for logging and for the solution itself.  The powershell runbooks use the standard Start-AzureRmVM and Stop-AzureRmVM cmdlets to start and stop the vms.

[2018-06-13 04:16] brutelxr opened #10122 "Can not pass user.assignedroles when using Zoom gallery application"
So I followed these instructions for Zoom but the user.assignedroles would not get passed in the SAML assertion. I ended up creating Zoom as a non-gallery application and configuring successfully. There is something wrong with the Zoom gallery app that needs to be resolved.

FYI - I did log this with MS but ended up resolving myself. REG:118052918271723

---
#### Document Details

⚠ *Do not edit t

[2018-06-13 05:01] binoyjt commented on #10060
Hi Mohit,

It's not the document but the tool that is not working as expected.

Regards,
Binoy
________________________________
From: Mohit Garg <notifications@github.com>
Sent: 13 June 2018 06:27
To: MicrosoftDocs/azure-docs
Cc: binoyjt; Mention
Subject: Re: [MicrosoftDocs/azure-docs] The Current AAD connect Tool does not proceed even if the Domain is Verified. Please update the Doc and also the

[2018-06-13 05:01] binoyjt commented on #10060
Hi Mohit,

It's not the document but the tool that is not working as expected.

Regards,
Binoy

________________________________
From: Bryan Trach <notifications@github.com>
Sent: 12 June 2018 23:01
To: MicrosoftDocs/azure-docs
Cc: binoyjt; Mention
Subject: Re: [MicrosoftDocs/azure-docs] The Current AAD connect Tool does not proceed even if the Domain is Verified. Please update the Doc and also th

[2018-06-13 05:06] girishkumarbk commented on #8984
The filterModules fails to start with following error.

---------
IoT Hub Client for Python
Traceback (most recent call last):
  File "./main.py", line 162, in <module>
    main(CONNECTION_STRING)
  File "./main.py", line 140, in main
    hub_manager = HubManager(connection_string)
  File "./main.py", line 101, in __init__
    self.client.set_device_twin_callback(device_twin_callback, self)
Attrib

[2018-06-13 05:20] c-arnab commented on #10089
@stevestein - I'm using the version of powershell - 5.1 and AzureRM 6.2.1
Also I do not find  Find-AzureRmResource in the commands window in Powershell-ISE.
This could be because, Find-AzureRmResource is part of version 5.7.0.
On my machine, when I check C:\Program Files\WindowsPowerShell\Modules\AzureRM.Resources , I find folder 6.1.0
Do I need to install version 5.7.0 separately.
I can do that a

[2018-06-13 05:20] WayneYangsa opened #10123 "Request more details about how to do Invitation Redemption."
Since this documentation show the two methods about invitation redemption, but there isn't any step shows here. So we have no idea about how to achieve this. Please post more clear steps about how to approach invitaion redemption in this documentation. Thanks!

Adding related customer Stack Overflow thread regarding the same -

[https://stackoverflow.com/questions/50826513/send-direct-link-to-invi

[2018-06-13 05:42] manumohant opened #10124 "How to use App Service certificate on an existing Linux VM(Ubuntu 16)"
# Azure documentation issue guidance
f
Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creat

[2018-06-13 05:49] IeuanWalker commented on #10096
@BryanTrach-MSFT thanks for the fast response, but the linked document still doesn't explain how to register new tags  or remove old ones whilst the app is running

[2018-06-13 05:51] jtuliani opened #10125 "SSE?"
Doc says we can 'select an SSE enabled storage account'. But the storage docs say ALL accounts have SSE enabled, it's not optional. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Azure Site Re

[2018-06-13 06:02] vijendrapatil opened #10126 "When will Managed Instance be a GA candidate"
When shall we see it as a GA candidate. Managed instance is really useful PaaS offering from MS for many reasons. We would like to know tentative date when it is planned to be a GA candidate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d

[2018-06-13 06:09] msvijayn commented on #10111
_Please would you clarify the statement that "for log alerts using Application Insights, the standard webhook payload is based on Action Group schema."?_
<br>@somefella123  -  standard webhook payload schema for Action Group is <br>
[code]
<br>
This schema for webhook from Action Group is used by Application Insights log alerts, [metric alerts](https://docs.microsoft.com/en-us/azure/monitoring-and

[2018-06-13 06:09] dcbrown16 opened #10127 "Linked information unclear"
There is an instruction regarding a section of another page here.
"Start creating a cluster as described at Create Hadoop clusters in HDInsight. Stop when you reach the Cluster summary section."

On the linked page, however, I don't see any mention of "Cluster summary." Has this section changed or moved?
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-provision-linux-clusters

--

[2018-06-13 06:14] SaurabhSharma-MSFT commented on #9937
@eklime We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 06:14] #9937 closed

[2018-06-13 06:18] stevestein commented on #10089
@c-arnab - yes, you are correct. I now see this cmdlet was recently removed: [breaking-changes-to-azurermresources-cmdlets](https://docs.microsoft.com/en-us/powershell/azure/migration-guide.6.0.0?view=azurermps-6.2.0#breaking-changes-to-azurermresources-cmdlets).
Looks like the fix is to replace with the **Get-AzureRmResourceGroup** cmdlet so you can try modifying the script and it should run.

I

[2018-06-13 06:29] kamilzelazny commented on #10017
**Client side:**
Windows 10 Enterprise Version 1803 (OS Build 17134.81)

**Server side (VM):**
root@FTPserver:~# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial

[2018-06-13 06:29] ramandeep-singh-1983 opened #10128 "Client secret for native apps?"
'Make sure that you chose WEB APPLICATION AND/OR WEB API if you did not you will not see the keys option under settings.'

What about native apps? I have embedded the Power BI reports in my application. In my backend application (native app), i need to access the Key Vault but there's no option of getting a client secret for native apps.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-13 06:41] sauercrowd commented on #10086
Would it be possible to manually download the dependencies defined in `amlworkbench-primary.json`?
If so, in which folder should the zips downloaded placed?

[2018-06-13 07:11] Molotch commented on #9913
Thanks, and sorry for my late reply, that explains things a bit clearer.

[2018-06-13 07:11] #9913 closed

[2018-06-13 07:16] SaurabhSharma-MSFT commented on #10016
@SaurabhRaoot Can you try looking into the document links - [Microsoft v2 Endpoint Primer](https://massivescale.com/microsoft-v2-endpoint-primer/) and [Azure AD, Scope-based authorization](https://blogs.msdn.microsoft.com/gianlucb/2017/12/05/azure-ad-scope-based-authorization/).

[2018-06-13 07:29] AzureStackNerd commented on #8689
Sure. I don't expect it to be solved easily. Thank you for the update.

[2018-06-13 07:40] nilpatelmicrosoft commented on #9138
We are going to deploy the changes in preview soon, can you provide me with a similar set of traces and logs as you did for the regular portal? I'm glad that we fixed the completely broken issue, but we should still diagnose the delay issue.
________________________________
From: Davilink <notifications@github.com>
Sent: Tuesday, June 12, 2018 4:22:29 PM
To: MicrosoftDocs/azure-docs
Cc: Nilesh Pat

[2018-06-13 07:50] BartoszPorebski commented on #10009
Thank you for reply. In a few places I can still see invalid info. I leave it here in case other devs also need rapid egress and get confused:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq
2000 events/s:
https://azure.microsoft.com/en-us/blog/event-hubs-auto-inflate-take-control-of-your-scale/
"Event Hubs capture does not impact egress rates for Event Hubs throughput units. You

[2018-06-13 08:08] dtsiogka opened #10129 "Permissions to Purchase and Manage RIs via Azure Portal"
HI again, I would like to ask you, how can a CSP make sure that customers will not be able to purchase azure reserved instances or manage their RIs through Azure portal on their own? I mean is there a way for CSP customers to not have access to purchase or manage an RI?

[2018-06-13 08:08] Nilis312 opened #10130 "Feature is missing "View legacy authentications through Sign-ins activity logs""
This feature is noted that it is added in AzureAD since 20 may, but i still don't see the feature in any of my tenants. Also the information points to documentation which is also missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59deff70-ef01-3d9d-7fd2-18ab45c67f95
* Version Independent ID: 0bf108bb-a581-ed3b-d3e

[2018-06-13 08:17] JimmyLS commented on #9764
Hello, any updates?

[2018-06-13 08:34] superminiek opened #10132 "Hash and sticky-session"
As a follow-up of https://github.com/MicrosoftDocs/azure-docs/issues/7322 - "normal mode" is equal to "none" as an option, I understand that "none" means 5 factors in the hash, each other option is less than 5 so using "sticky-session" naming convention I can assume than "sticky-session" is enabled for "none", am I right? To be more clear - for "none" all requests will be directed to all servers i

[2018-06-13 08:41] ludovic-m commented on #9557
Same as henry, I read that custom API were not supported by MSAL JS but the article is from ealry 2017.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations#standalone-web-apis
Is it still the case at the moment ?
Thanks,

[2018-06-13 09:02] Anmolgan81 opened #10133 "Elastics Pool do support move?"
Do elastic pool support moves?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource

[2018-06-13 09:06] superminiek commented on #10132
I would like to add that if user re-connect (somehow) to application then server in the back-end can be different (5 tuple), each option less than 5 factors is "more sticky".

[2018-06-13 09:18] grahambunce commented on #7744
@femsulu @rboucher I'd close this - from what you're saying its support issue (it's still a problem btw) but I don't think it's something you're going to be able to fix.

[2018-06-13 09:18] #7744 closed

[2018-06-13 10:00] gambrose opened #10134 "Access request charge response in MongoDB client"
&gt; Every response from the Azure Cosmos DB service includes a custom header (x-ms-request-charge) that contains the request units consumed for a given request.

What about when using the MongoDB client which, as far as I understand, is TCP/IP based protocol and does not have HTTP headers?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-13 10:09] Anmolgan81 opened #10135 "What about the analysis services"
Do those support move"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-

[2018-06-13 10:20] SvenHau commented on #10077
Thanks Adam. It is https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-activity-sign-ins

Sven

[2018-06-13 10:38] Anmolgan81 opened #10136 "Do the Container service support move"
Does the container service resource supports move????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-re

[2018-06-13 11:54] phatcher commented on #9906
See https://stackoverflow.com/questions/45375169/azure-ad-b2c-with-custom-policies-unable-to-authenticate-user-with-temporary-pa

and https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/16861051-aadb2c-force-password-reset

[2018-06-13 12:03] salvatore-garrubba commented on #10087
@MohitGargMSFT We have already implemented daemon/server application to web API scenario internally, for our trusted server applications.
Our external customers needs to periodically gets the data with a non-interactively login using username/password. We will provide them a valid ClientId but no ClientSecret.
Furthermore, as far as I know, it's a valid Auth2.0 flow approved by [IETF](https://tool

[2018-06-13 12:05] Gadnief commented on #9406
Even after including the libraries in the yaml i get the ImportError when i try to deploy the model.pkl and scorer.py as a docker container to use it on edge.

[2018-06-13 12:05] Flodu31 opened #10137 "AzureRm.profile stuck in "Importing newer version""
Hi team,
I launched the update more than 4 hours ago now, and the AzureRM.profile module is stuck with status "Importing newer version". I tried to cancel the job, launch it again, import it manually, but nothing works, I'm blocked.
Any idea?
Thanks.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55d92628-d657-

[2018-06-13 12:10] c-arnab commented on #10089
Find-AzureRmResource is also used in function Test-DatabaseExists but I was able to use Get-AzureRmResource.
But, I got a diff error in the same function as below as it was unable to find Invoke-SqlCmd

Test-DatabaseExists : The term 'Invoke-SqlCmd' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path
was included, veri

[2018-06-13 12:12] cephalin commented on #10100
@Katydude I found an open issue on the Kudu server for this: https://github.com/projectkudu/kudu/issues/1410. Can you try the tip there and see if adding a dummy commit and git push again moves the deployment process forward?

I've run into this at times and sometimes need to rerun git add/commit/push multiple times to get the deployment process to complete.

[2018-06-13 12:30] fetis opened #10138 "azfun and azurefunctions doesn't work on MacOS"
Azure Functions Core Tools (2.0.1-beta.28)
MacOS
ProductName:	Mac OS X
ProductVersion:	10.13.5
BuildVersion:	17F77

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Develop and run Azure functions locally](https

[2018-06-13 12:31] johnlnash commented on #10104
This is the error you get.  Azure Portal validates the move operation, attempts to move the resource and then fails with this:

There was an error moving resources. Resources '/subscriptions/xxxxx/resourceGroups/FileSyncGroup/providers/Microsoft.StorageSync/storageSyncServices/KBFileSync' could not be moved. The tracking Id is '5a17cdcd-c849-4562-8b90-88b00bb1469d' (Code: ResourceMoveFailed) Move

[2018-06-13 12:44] ahamin01 opened #10139 "Terms of Use Audit Retention"
I am wondering how long do you keep the Terms of Use audit? In other words, If i check my Term Of Use Accepted/Rejected number, will they be the same after a year or so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independent ID: 5facc663-2e29-65ad-f208-982150351b22
* C

[2018-06-13 12:52] satishkrishnam commented on #9466
Hi, I am getting blank chart. I followed the steps as suggested in Microsoft Documentation. I tried all IOT
hub connection strings... But did not yield the desired result. Can someone please suggest the steps to rectify this? Thanks in advance.

[2018-06-13 12:55] cbailiss opened #10140 "Broken links"
The links to "SqlPackage" under the heading "Import from a BACPAC file using SQLPackage" no longer work.  Where is the documentation page now?  (Aside:  Can the Microsoft documentation tools not automatically identify links to pages that have been archived/removed?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16

[2018-06-13 13:11] sergaz-msft commented on #9959
Hello @MrRoyce . Just checking if you are still blocked or if any of the suggestions above were the solution for your issue? Let us know if we can help further.

Thank you.

[2018-06-13 13:18] tjrobinson opened #10141 "Tracking index transformation progress for partitioned collections"
The documentation says "The IndexTransformationProgress and the LazyIndexingProgress properties are populated only for a non-partitioned collection, that is, a collection that is created without a partition key."

How do we track the progress for a partitioned collection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-13 13:18] lmotto commented on #8610
Yes, how's it going?  What is the process?  Is this documented somewhere?  Thank you in advance.

[2018-06-13 13:30] MrRoyce commented on #9959
Hi there thanks for following up. Yes the connection string is correct. The
problem I have is getting the device to Send temperature data.

How do I get the device to do that?

On Wed, Jun 13, 2018 at 09:11 António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-06-13 13:30] satishkrishnam commented on #9959
I tried to make changes to the code also and ensured that the settings as defined in the documentation. Even now I am getting **Blank Chart**. I used SimulatedDevice.cs code shared via Git.

Can someone please provide end-to-end solution to this issue. Looks like something very silly is happening somewhere :(. Look forward for your support in fixing this issue

[2018-06-13 13:51] jackchenquest opened #10144 "move resource group with multiple region resources"
Tried to move a resource group from one subscription to another today.  This resource group has some SQL Servers/databases and VMs and storage accounts in different regions.  the validation failed with multiple error messages like SubscriptionDoesNotHaveServer, MoveResourcesStorageAccountsNotFound

Finally I found I have to move the resources one region at a time. Is this a known limitation?

This

[2018-06-13 13:54] craigshoemaker commented on #9890
This update is complete and will be published shortly.

#please-close

[2018-06-13 14:05] anthtone commented on #9466
I still have not got it working.  Even with the primary connection string given above.  Not sure why.

[2018-06-13 14:30] agentelinux opened #10146 "Template Operations with bug. The template data is as URL broker /developer and retorna 404"
Hi,
The template operations is as the link broker to &lt;a href=/developer\\\"&gt;

Look:
"description": "A chave de API atribuída a um indivíduo para acessar a API. Você pode encontrar a chave de API em &lt;a href=/developer\\\"&gt; Sua conta &lt;/a&gt;.",

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54275f

[2018-06-13 14:35] Gustavo935 opened #10147 "Is Training API available in the new version of QnA?"
Can I use the Training API for implement Active Learning.
https://www.qnamaker.ai/old/Documentation/ActiveLearning
Is this functionality deprecated in this new version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 537873ea-49b6-6bc6-4ef3-59393aa14397
* Version Independent ID: f3ec02d2-3560-add5-0047-163e365af580
* Co

[2018-06-13 14:42] zhouwangzw commented on #10117
Currently Xarmarin is not supported yet.

[2018-06-13 14:52] cdaniel96 commented on #8513
@jkwon2013 anything new until now? Thanks!

[2018-06-13 14:53] dasch88 opened #10149 "Is this still valid?"
I'm getting errors following this documentation, primarily "CertificateImproperlyFormatted"...are these steps still valid in 2018?

Here's the entire error message:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376f32b3-0acb-625a-e635-e62503213c63
* Version Independent ID: c26787f2-f910-c3f0-d787-818d11f71c4a
*

[2018-06-13 15:10] sergaz-msft commented on #9959
Hi there. Can you show me how the messages look like on the IoTHub side? To see messages coming in IoTHub you can use [Azure IoT Toolkit extension](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) for [Visual Studio Code](https://code.visualstudio.com/).

Thank you!

[2018-06-13 15:18] georgewallace commented on #9894
@JustinGrote Thanks for the feedback. I will pass this on to the folks that own the pricing tool to see if this information can be added.  We do not put this level of granular pricing details in the normal documentation, we leave the detailed information to the pricing page specifically.  Since the pricing docs are managed by others I will ask this issue be closed #please-close

[2018-06-13 15:19] javiersoriano opened #10150 "nginx.yml syntax"
Hi, I have followed the tutorial and only got the whole thing to work after changing several things in the nginx.yml file. It seems like the syntax is wrong? This is the file that I got working:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b8e92b-a339-3869-9c78-e99cb04b94ee
* Version Independent ID: f26cb51b

[2018-06-13 15:27] jimeilong commented on #9791
![Uploading 捕获.PNG…]()

[2018-06-13 15:32] Blackmist commented on #10127
Thanks for the feedback @dcbrown16 . The cluster summary section is a page that is displayed when configuring HDInsight, not part of the document. I'll work on updating the documentation to make this clearer.

[2018-06-13 15:32] bolausson commented on #9872
Thanks!

When will the german article be updated?
https://docs.microsoft.com/de-de/azure/virtual-machines/linux/n-series-driver-setup

Greetings,
BJoern

[2018-06-13 15:41] sergaz-msft commented on #10002
Hello @petersad123 , because the sample used is from this github repository:

 [https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app](https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app)

May I ask you to open this issue there? Please reply this thread with the issue  # so that we can track it :).

Thanks!

[2018-06-13 15:50] girishkumarbk commented on #8984
Can anyone from Azure provide any hints at this issue ?

[2018-06-13 15:58] rgwood opened #10151 "Timer trigger testing?"
It would be really useful to have a section that explains how to test timer-triggered functions. It's not clear what the best way to do so is.

My use case involves timer triggers that run infrequently (say, once a day at 8PM). During development, I often want to run the function *once* to test that it's working correctly. I can deploy to test or run it locally as-is, but then I have to wait until

[2018-06-13 15:59] sethmanheim commented on #10009
@BartoszPorebski Thank you for pointing that out. The FAQ does not seem to list any limit at all. The blog post is not part of the technical documentation and could be incorrect or outdated. I have verified the 4096 events limit with the development team.

[2018-06-13 16:09] CarlRabeler commented on #9394
Please assign to dhruv malik

[2018-06-13 16:14] barclayn commented on #10128
@ramandeep-singh-1983 While we don't specifically go over native applications in the get started article we do have a blog post from one of the Key Vault PMs covering this scenario. https://blogs.technet.microsoft.com/kv/2016/09/17/accessing-key-vault-from-a-native-application/ We are always updating the documentation and this scenario is part of the items we hope to address in the next couple of

[2018-06-13 16:21] sethmanheim commented on #9800
Please let us know if you have further questions. #please-close

[2018-06-13 16:22] sethmanheim commented on #9529
Please let us know if you have further questions. #please-close

[2018-06-13 16:29] bwren commented on #9333
This article has been officially retired.

[2018-06-13 16:30] MrRoyce commented on #9959
Here is the terminal window from my Hub..  Is this what you are asking for?

![screen shot 2018-06-05 at 10 08 00 pm](https://user-images.githubusercontent.com/252359/41364756-8f244990-6f05-11e8-9a9f-5f579bd7b5cf.png)

[2018-06-13 16:31] bwren commented on #9333
#please-close

[2018-06-13 16:39] PatrickTseng commented on #9124
Wrt question 1: The prompt in the portal says: "Additional Administrator email(s)", but just get a validation on entering multiple emails (whether space, comma, or semi-colon separated). How to set multiple email addresses without using automation?

It's semi-colon delimited. There is no need to append a semi-colon at the end of the very last email. Example below show multiple emails

![autoscalen

[2018-06-13 16:40] Mike-Ubezzi-MSFT commented on #10000
@FelixHenriksen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 16:40] #10000 closed

[2018-06-13 16:41] alkohli commented on #10078
@Adam-Smith-MSFT I investigated further and discussed with the product team. They do not want to put a generic statement as there are some USB adaptors (docking stations) that may work well with this solution. They want the customers to use the listed adaptors and will also test some more to update this list. Can this be triaged as a product bug? As we cannot update the docs until the product team

[2018-06-13 16:51] douglaslMS commented on #9830
@ElectricLlama I have updated the article with a note about the subfolder syntax. Thanks for bringing this to our attention.

[2018-06-13 16:51] douglaslMS commented on #9830
#please-close

[2018-06-13 16:52] bwren commented on #9452
Investigating this with engineering team.  I was able to reproduce.

[2018-06-13 16:52] bwren commented on #9452
#in-progress

[2018-06-13 17:01] JohnBoncek opened #10154 "Database Diagramming"
The diagram under https://docs.microsoft.com/en-us/azure/sql-database/sql-database-design-first-database#create-tables-in-the-database showing how the tables link to each other would be very useful.  Is there a way in the product to produce this for a database or is it just artwork for this tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-06-13 17:03] bwren commented on #9865
This solution is being retired as explained in https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-oms-portal-transition.

[2018-06-13 17:03] Mike-Ubezzi-MSFT commented on #10141
@tjrobinson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-13 17:03] bwren commented on #9865
#please-close

[2018-06-13 17:04] davidmu1 commented on #8880
Revised the sentence to: For example, users of the web API could have both read and write access, or users of the web API might have only read access. In this tutorial, you use scopes to define read and write permissions for the web API.

#please-close

[2018-06-13 17:04] rgwood commented on #10151
My bad, I see that this has already been covered by #6926. Feel free to close (although it *would* be nice to cover this in the documentation, and eventually have a less awkward way of testing timer triggered functions).

[2018-06-13 17:04] BryanTrach-MSFT commented on #10150
@javiersoriano Thanks for the feedback! We are currently investigating and will update you shortly.

@MicahMcKittrick-MSFT Let me know if this isn't IaaS related.

[2018-06-13 17:06] jimeilong commented on #9791
![default](https://user-images.githubusercontent.com/18300923/41366562-1260a0a6-6f6f-11e8-9b55-fdcdf47a10e6.PNG)

[2018-06-13 17:06] BryanTrach-MSFT commented on #10122
@brutelxr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:07] #10049 closed

[2018-06-13 17:07] Mike-Ubezzi-MSFT commented on #10141
@tjrobinson Have you had a chance to review the following document:
[Best practices when choosing a partition key](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#best-practices-when-choosing-a-partition-key)

"It is a good idea to check how your data is distributed across partitions. To check the data distribution in the portal, go to your Azure Cosmos DB account and click on Metr

[2018-06-13 17:07] BryanTrach-MSFT commented on #10123
@WayneYangsa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:08] BuddhaBuddy1 commented on #6500
I would like to request that the documentation you create also addresses local, non-Azure-hosted Service Fabric clusters.

[2018-06-13 17:08] #9872 closed

[2018-06-13 17:08] BryanTrach-MSFT commented on #10120
@BHoggs Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:09] davidmu1 commented on #8885
Changed MSAExchange to MicrosoftAccountExchange.

#please-close

[2018-06-13 17:09] gwellbrock commented on #9116
You can close this ticket- it was an issue on our side. thanks an sorry for
any time wasted.

On Fri, Jun 8, 2018 at 12:57 PM, Mike Ubezzi <notifications@github.com>
wrote:

[2018-06-13 17:11] MicahMcKittrick-MSFT commented on #10151
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-13 17:11] BryanTrach-MSFT commented on #10124
@manumohant Can you please provide us with the URL of the document that you are having issues with?

Also, do you have a local copy of the certificate? If not, please follow the below blog. https://blogs.msdn.microsoft.com/appserviceteam/2017/02/24/creating-a-local-pfx-copy-of-app-service-certificate/

[2018-06-13 17:11] MicahMcKittrick-MSFT commented on #10149
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:12] MicahMcKittrick-MSFT commented on #10144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:12] BryanTrach-MSFT commented on #10125
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:13] MicahMcKittrick-MSFT commented on #10138
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:13] Mike-Ubezzi-MSFT commented on #10140
@cbailiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

![screenshot 49](https://user-images.githubusercontent.com/37126106/41366900-668fa33e-6ef2-11e8-9988-8364d2d4f6f2.png)

[2018-06-13 17:13] BryanTrach-MSFT commented on #10126
@vijendrapatil Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:13] MicahMcKittrick-MSFT commented on #10137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:14] MicahMcKittrick-MSFT commented on #10136
Thanks for the question! We are investigating and will update you shortly.

[2018-06-13 17:14] MicahMcKittrick-MSFT commented on #10135
Thanks for the question! We are investigating and will update you shortly.

[2018-06-13 17:15] MicahMcKittrick-MSFT commented on #10133
Thanks for the question! We are investigating and will update you shortly.

[2018-06-13 17:15] MicahMcKittrick-MSFT commented on #10129
Thanks for the question! We are investigating and will update you shortly.

[2018-06-13 17:18] BryanTrach-MSFT commented on #10154
@JohnBoncek Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:18] #8885 closed

[2018-06-13 17:19] wesmc7777 commented on #9116
@gwellbrock Its no problem at all. Thanks for filing the issue and letting us know you found the problem.

[2018-06-13 17:19] BryanTrach-MSFT commented on #10147
@Gustavo935 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:20] BryanTrach-MSFT commented on #10146
@agentelinux Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:20] CarlRabeler commented on #10140
working on this

[2018-06-13 17:22] BryanTrach-MSFT commented on #10139
@ahamin01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:22] BryanTrach-MSFT commented on #10134
@gambrose Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:40] kgremban commented on #9857
@smharishbabu The new steps are in the article now. Would you check them out and then close this issue if it looks correct to you?

[2018-06-13 17:42] davidmu1 commented on #9246
@jaider Thanks for the feedback. The article needs to be updated in conjunction with an update to the sample that it points to. I have opened a workitem to track this work and will report back to the issue when complete.

[2018-06-13 17:43] WaltIQ opened #10156 "RDP Security Error"
Followed these steps, but still cannot RDP.  I am trying to RDP from Win2016 to Ubuntu 16.04.4 LTS.  The Win2016 machine is a VM in the same resource group as Ubuntu.
RDP attempts to connect, but then just displays a message stating:
"Because of a security error, the client could not connect to the remore computer. Verify that you are logged on to the network, and then try again."
I have verified

[2018-06-13 17:44] #8013 closed

[2018-06-13 17:46] Mike-Ubezzi-MSFT commented on #9116
@gwellbrock We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 17:46] #9116 closed

[2018-06-13 17:47] MohitGargMSFT commented on #10123
@WayneYangsa As discussed, assigning this issue to content author to investigate and include necessary details to help customer referring to this document.

@twooley Please check on it as customer is looking for the clear steps on how to achieve the scenario where owner wants to  email with a link of shared app and guest user does not have a Microsoft account setup (refer to SO thread). Please che

[2018-06-13 17:48] YutongTie-MSFT commented on #10056
@danielithiessen Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@raymondlaghaeian Hi, this is a doc-enhancement issue here, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-13 17:50] courtoy opened #10157 "Incorrect description on independent vendor application"
Going through the process of applying, The following statement should be an AND and not. OR: "These providers must first demonstrate eligibility by providing documented evidence of a contract with an approved DoD entity or have a sponsor letter from an approved DoD entity. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-06-13 17:51] CKeene78 opened #10158 "HTTP Error 500: Currently unable to handle this request."
Getting the title's error message when attempting to simply use the GraphFaceTemplate from the Azure Portal. Does prompt for authentication, I grant it, but I get the error whenever I try to navigate back to the Function URI. The function does not appear to even kick off as there is nothing either in the Logs nor in AppInsights.

Things I've checked:
- Ensured Manifest file has "oauth2AllowImplici

[2018-06-13 17:51] mrbullwinkle commented on #9917
@erossini Thank you so much for bringing this to our attention. We've updated the beginning of the doc to address the steps that no longer matched up to the current UI experience. This changes will go-live in the docs around 3 PM. Thank you as well for putting together your awesome community post on your setup experience!

[2018-06-13 17:51] mrbullwinkle commented on #9917
#please-close

[2018-06-13 17:54] MicahMcKittrick-MSFT commented on #10158
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:55] MicahMcKittrick-MSFT commented on #10156
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-13 17:55] BryanTrach-MSFT commented on #6207
@MohitGargMSFT It doesn't appear that KellyDF's GitHub is linked to MicrosoftDocs. Is this something you can look into?

[2018-06-13 17:57] BryanTrach-MSFT commented on #6327
@Sara-Nicolini We have you listed as the point of contact for localization issues. If you are not the point of contact, can you please share with us who is so we can update our notes?

[2018-06-13 17:57] baswijdenes commented on #8704
I get the same error.. Looks like it needs credentials.

[2018-06-13 17:58] BryanTrach-MSFT commented on #8612
@MicahMcKittrick-MSFT It appears that bburns GitHub profile isn't linked to MicrosoftDocs. Is this something you can look into?

[2018-06-13 17:59] #8880 closed

[2018-06-13 18:01] BryanTrach-MSFT commented on #10157
@smichelotti Is this something that you can confirm? If so, please tag me in your response and I can update the doc for you.

[2018-06-13 18:04] cdaniel96 commented on #8513
Guys, only to update you about this issue. What really happens is this:

This is the happy path.

The problem starts when you get access to an Azure Subscription by RBAC. As I could understand, Azure Lab Services Page is stuck with the directory associated with the user.
E.g.:

This kind of behavior affects negatively because in some cases as a service provider/partner must manage these labs from

[2018-06-13 18:13] bwren commented on #9539
@santhoshsomayajula This appears to have something to do with the version of Python.  I just tried the script from Python 3.6.5 and also got 403.  I had to make some minor edits though because of errors I got.  We definitely would have seen those errors when we initially tested this.  Sure enough, I tried to original script with Python 2.7, and it worked fine.  I suspect the problem is with line 5

[2018-06-13 18:13] bwren commented on #9539
#please-close

[2018-06-13 18:14] gambrose commented on #10134
@Mike-Ubezzi-MSFT I'm using the recommended [MongoDB .NET driver](https://docs.mongodb.com/ecosystem/drivers/csharp/) linked from the docs.

[2018-06-13 18:15] #7087 closed

[2018-06-13 18:17] marthalc commented on #9406
@Gadnief - Data Collection is currently not supported on edge devices. To get around the issue for deployment you simply need to remove the import and the calls to ModelDataCollector in your code.

[2018-06-13 18:21] MicahMcKittrick-MSFT commented on #6500
Thanks @BuddhaBuddy1 I will forward that information.

@jeeshnair any update?

[2018-06-13 18:21] MicahMcKittrick-MSFT commented on #9924
@ronaldvanrij were the links provided helpful in your case?

[2018-06-13 18:21] MicahMcKittrick-MSFT commented on #9939
@zerobane I will close this out but if you feel you need more information please just let me know.

[2018-06-13 18:23] jintux commented on #8880
@davidmu1 Not what I was hoping for but I guess that's a time efficient solution, thank you.

[2018-06-13 18:23] MicahMcKittrick-MSFT commented on #10017
@kamilzelazny can you try the same process but use the --generate-ssh-keys value rather than putty? I am curious to see if that is what is causing the problem.

[2018-06-13 18:23] MohitGargMSFT commented on #10060
Hi Binoy,

Thanks for clarifying. It seems the issue has been discussed in wrong forum. I would request you to open a MSDN forum post below -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required)

[2018-06-13 18:24] SenthuranSivananthan opened #10159 "Missing "Repudiation" under Analyzing threats section"
Need to add "Repudiation" in the definition of STRIDE under Analyzing threats section.

Today:  STRIDE (Spoofing, Tampering, Info Disclosure, Denial of Service and Elevation of Privilege)
Should be:  STRIDE (Spoofing, Tampering, Repudiation, Info Disclosure, Denial of Service and Elevation of Privilege)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-13 18:27] MicahMcKittrick-MSFT commented on #10129
@dtsiogka only the owner of the subscription can purchase Reserved Instances. So if your customer is not the owner of the subscription then they will not be able to purchase it. Otherwise, if they are there is nothing stopping them from doing so.

[2018-06-13 18:29] MicahMcKittrick-MSFT commented on #10133
@Anmolgan81 yes. Elastic pools are part of your SQL database which is under the list of supported services available to move.

[2018-06-13 18:30] #9311 closed

[2018-06-13 18:31] zerobane commented on #9939
Ummm,

Still should have a doc change explaining how to setup a load balancer in
k8s for non-external network; this is a HUGE miss and a big hole in
documenation.

I don't think you realize how many users you are going to use to AWS/gcloud
by skipping; this is fully documented on both those platforms and only
takes a couple minutes to setup.

*Jason K Cafarelli*
Desk:   (508) 637-5705 <javascript:

[2018-06-13 18:32] MicahMcKittrick-MSFT commented on #10135
@Anmolgan81 Yes, these are supported to moved to another resource group.

[2018-06-13 18:33] MicahMcKittrick-MSFT commented on #10136
@Anmolgan81 No. Container Services are not eligible to move resource groups.

[2018-06-13 18:39] aanandr commented on #10049
@travis-sobeck - did you check the health blade under your cluster? It displays Pods, nodes etc. and may also show services. I am having some issues with my cluster so not able to confirm. Another option is to look inside the cluster, using kubectl. For e.g. you could list all services in a namespace using "kubectl get services -n <namespace name>". In the output you will see the IP address of the

[2018-06-13 18:40] MohitGargMSFT commented on #10122
@brutelxr Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-13 18:40] MicahMcKittrick-MSFT commented on #10137
@Flodu31 I tested this out and my modules were able to update without issue. I would suggest you try and delete the module and reinstall it to see if that helps. Otherwise, you might need to open a Support ticket if something is stuck on the backend.

[2018-06-13 18:41] DivideBySara opened #10160 "Thanks for the improvements!"
Yesterday I ran into errors before I could convert a role definition to a .json file. Now I can at least reach that point. :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95758a00-426a-1306-cda0-1855ec524489
* Version Independent ID: 34fdb5c9-0da6-927a-d74f-bbe8a7dc530d
* Content: [Tutorial - Create a custom role us

[2018-06-13 18:41] MicahMcKittrick-MSFT commented on #10138
@fetis please open an issue here:

https://github.com/Azure/azure-functions-core-tools/issues

That way the functions tools team and investigate. Feel free to link the issue to this one so we can track.

[2018-06-13 18:41] #10138 closed

[2018-06-13 18:42] #10160 closed

[2018-06-13 18:43] TravisCragg-MSFT commented on #10132
@superminiek Your understanding is correct. When you configure this setting on a Standard Load Balancer in the Azure Portal, there is a brief description by the property:

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-13 18:43] #10132 closed

[2018-06-13 18:45] Mike-Ubezzi-MSFT commented on #10134
@gambrose The Azure Cosmos DB request charge response header is available via every response. It (**RequestCharge** property of the **ResourceResponse** object) must be leveraged by the Azure Cosmos DB SDKs:

**Here are a couple links to assist you:**

[Use the Azure Cosmos DB request charge response header](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units#use-the-azure-cosmos-db-req

[2018-06-13 18:45] MicahMcKittrick-MSFT commented on #10144
How many resources are you attempting to move at once?

[2018-06-13 18:47] MicahMcKittrick-MSFT commented on #10149
@dasch88 at which step in the doc are you seeing this error?

[2018-06-13 18:48] MicahMcKittrick-MSFT commented on #10150
@TomArcher can you take a look at this one?

[2018-06-13 18:50] jboren opened #10161 "authentication?"
This would appear to only work with public git repos, is there a way to use a private repo with a key or user/pass?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bde2eab-46e1-c7da-9efb-5c0cdd52603a
* Version Independent ID: d2bffaed-46cb-9e6c-7893-67a2ebe3fc0d
* Content: [Mount a gitRepo volume Azure Container Instan

[2018-06-13 18:50] travis-sobeck commented on #10049
@aanandr I'll poke around today.  I scrapped my Adv Networking instance, waiting on my networking team to get some blocks of IPs I can use for a prod setup and avoid IP collisions.  They want a meeting .. talk about stuff .. :)

[2018-06-13 18:51] JupiterLikeThePlanet opened #10162 "Could use a little a more clarification"
In "Running the application", the second step is, "Add the provided code." However, it doesn't say where.  Where would you recommend putting this code in, let's say, a rails project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63155226-ba52-146e-128d-8c00e5eb62db
* Version Independent ID: bd80e806-766e-572c-041e-684

[2018-06-13 18:54] MicahMcKittrick-MSFT commented on #9939
@zerobane I am still not 100% of the missing content. I am not aware of any specific steps needed to get this to work other than setting up your internal network with the Azure Network.

@neilpeterson any thoughts on this one?

[2018-06-13 18:55] MohitGargMSFT commented on #10130
@Nilis312 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-13 18:59] MohitGargMSFT commented on #10139
@ahamin01 Thanks for reaching out. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-13 19:05] georgewallace commented on #9842
@reaperlord The information has been updated and is now live. #please-close

[2018-06-13 19:06] tamram commented on #7349
@SnehaGunda - Can you take a look at this one? Thanks!

@Adam-Smith-MSFT - please assign @SnehaGunda

[2018-06-13 19:08] georgewallace commented on #9984
@lin-art At this time, updates notifications are not being sent out, docs will be updated when solutions are updated, the most recent updates are live in the document.  I have shared this request with the owners of the solution. #please-close

[2018-06-13 19:12] CelesteDG commented on #9758
Hi @BryanTrach-MSFT - Please reassign this work item to me. I'll change the metadata in the topic to reassign author/MS contact as well.

Hello @aalokitoaami - Thank you for your feedback. Can you please clarify what parameter you're referring to? I checked with our feature team and our dev confirms that Azure AD accepts both GET and POST SAML logout requests, and will respond with a GET SAML logo

[2018-06-13 19:13] dasch88 commented on #10149
This error occurs when deploying the resource template between steps 5 and 6 in the doc. It appears to me that something isn't right in step 3, because the JSON cannot be read as a PFX when the template retrieves the secret

[2018-06-13 19:16] CelesteDG commented on #10028
Hi @wiemerr - Thank you for your feedback. Below is a diagram I've been working on to explain the sign-in and signout process (based on info and review feedback from our feature team). At a high-level, signout works across protocols. For your question, we use the same iframe-based broadcast mechanism in SAML as in OIDC. Hope this helps answer your question.

<img width="451" alt="signin_signout_we

[2018-06-13 19:20] gdprtcl commented on #10062
Yes, I have. @MicahMcKittrick-MSFT

[2018-06-13 19:28] Mike-Ubezzi-MSFT commented on #10126
@vijendrapatil The GA data for Azure SQL Managed Instance is not public information. When this does become GA, this will be changed from In-Preview to GA.

[Azure SQL Database Managed Instance](https://azure.microsoft.com/en-us/roadmap/azure-sql-database-managed-instance-in-preview/)

I apologize for not having a more concrete answer for you.

Regards,
Mike

[2018-06-13 19:34] Mike-Ubezzi-MSFT commented on #9928
The SQL Database User Voice is also a channel that can be leveraged for requesting new features/functionality. [Azure SQL Database User Voice](https://feedback.azure.com/forums/217321-sql-database).

Regards,
Mike

[2018-06-13 19:35] Mike-Ubezzi-MSFT commented on #9928
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 19:35] #9928 closed

[2018-06-13 19:38] vasivara-MSFT commented on #9539
@santhoshvellingiri We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 19:38] #9539 closed

[2018-06-13 19:39] MicahMcKittrick-MSFT commented on #10156
@WaltIQ I tested the doc and was able to setup an Ubuntu 16.04 VM and RDP to it:

![image](https://user-images.githubusercontent.com/32313503/41373978-c1637416-6f06-11e8-93ca-845366a72482.png)

Can you try creating a new VM and see if you get the same problem?

[2018-06-13 19:41] MicahMcKittrick-MSFT commented on #10158
@CKeene78 can you provide some screenshots of what you are seeing?

[2018-06-13 19:42] MicahMcKittrick-MSFT commented on #10136
Referencing:
#10136
#10135
#10144

[2018-06-13 19:43] MicahMcKittrick-MSFT commented on #10135
Referencing:
#10136
#10135
#10144

[2018-06-13 19:43] MicahMcKittrick-MSFT commented on #10133
Referencing:
#10136
#10135
#10144

[2018-06-13 19:43] #10133 closed

[2018-06-13 19:43] #10136 closed

[2018-06-13 19:43] #10135 closed

[2018-06-13 19:45] gdrapp opened #10163 "What happened to Cloudlock?"
Cisco Cloudlock doesn't show up when I search for it in the gallery.  Has it been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e255d9e8-992a-7dcc-0b84-4a156db2a18e
* Version Independent ID: 8b553918-8242-edf5-568f-c4db43ba30ba
* Content: [Tutorial: Azure Active Directory integration with Cisco Cloudlock](htt

[2018-06-13 19:47] Flodu31 commented on #10137
Thanks.
I done this with PowerShell:
`Get-AzureRmAutomationModule -ResourceGroupName TheRGoftheAAAcount -AutomationAccountName YourAutomationAccount \| Where-Object { $_.ProvisioningState -eq "Creating"} | Remove-AzureRmAutomationModule
`
And launch the sync again and it works.

[2018-06-13 19:47] MicahMcKittrick-MSFT commented on #8612
@hakkiogretmen I fixed the link. Once the merge is complete this issue will close and the change will go live in a few hours.

[2018-06-13 19:49] Mike-Ubezzi-MSFT commented on #9999
@generalcussolco Yes, you can reapply discarded recommendations. Discarded recommendations are kept in a discarded container and can be retrieved and applied if needed:

[Removing recommendations from the list
](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-advisor-portal#removing-recommendations-from-the-list)

If your list of recommendations contains items that you want to rem

[2018-06-13 19:49] MicahMcKittrick-MSFT commented on #10137
Thanks for the update @Flodu31! Glad to hear you were able to get it to work. I will close this out but if the issues arises again please feel free to reach back out :)

[2018-06-13 19:49] #10137 closed

[2018-06-13 19:55] JohnBoncek opened #10164 "Dead link"
The link for "table designer in SQL Server Management Studio" is effectively dead, leading to a boilerplate "old content" message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5802ba59-8c08-7b41-7aec-2640cc287ae3
* Version Independent ID: 13c04835-76a2-96bc-01ad-1c0dcdf65cb0
* Content: [Tutorial: Design your first Az

[2018-06-13 20:03] tamram commented on #7438
#please-close

[2018-06-13 20:04] #8612 closed

[2018-06-13 20:05] tamram commented on #7517
@irwinwilliams - We've added this to our list of future improvements. Thanks for your feedback!

#please-close

[2018-06-13 20:06] trevor-schmidt opened #10165 "AzureDiagnostics and Usage Data"
Unable to search how much data each resource type (ex. applicationgateways) in AzureDiagnostics are being used within the Usage table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52eb74e-6880-eb97-8cfd-c7c88feb64d7
* Version Independent ID: 612bb48d-0b43-1dbf-9053-14e55edb5095
* Content: [Forward Azure Automation j

[2018-06-13 20:09] mike-urnun-msft commented on #9726
@kkaczmarzyk I followed the steps and was able to reproduce the same error. Furthermore, we are assigning this issue to the content author to review and take the right course of action.

[2018-06-13 20:16] jeevansd commented on #10163
@gdrapp The application name is recently changed to The Cloud Security Fabric.

We will update the name of the application in the article.

[2018-06-13 20:16] #8989 closed

[2018-06-13 20:19] douglaslMS commented on #9891
@dmarlow I have not been ignoring you! I've been thinking this through and waiting for an opportunity to discuss it with the Program Manager. First of all, we decided to replace the "don't use" language with "SQL Data Sync isn't the best solution for." For the rest, we didn't want to get into the weeds of "what's the best tool for disaster recovery, or for migration," which would only provoke more

[2018-06-13 20:22] #9917 closed

[2018-06-13 20:31] tysonn opened #10167 "Test"
Test - I will lock after test is complete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34301147953d
* Version Independent ID: c2bc2467-8743-491c-c84c-f6983772f4da
* Content: [Tutorial - Manage Azure disks with the Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutoria

[2018-06-13 20:32] davidmu1 commented on #9564
I understand the issue. I don't think this article is the appropriate place to describe the HTML schema. I have opened a workitem to investigate whether tags should be documented in a reference article.

[2018-06-13 20:39] MicahMcKittrick-MSFT commented on #10144
@jackchenquest thanks for that! I am not aware of this limitation if it does exist.

@tfitzmac would you happen to know?

[2018-06-13 20:41] jackchenquest commented on #10144
When I tried to move all 25 resources together, I got this error:

{"code":"ResourceMoveProviderValidationFailed","message":"Resource move validation failed. Please see details. Diagnostic information: timestamp '20180613T024645Z', subscription id 'xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx', tracking id 'b5279484-2614-4b63-a151-9cf27f4afc5d', request correlation id '320ab93d-93d1-491c-a98e-cdd2e386640c'.

[2018-06-13 20:44] MicahMcKittrick-MSFT commented on #10144
My assumption is that there was a problem with moving the resources in whatever order the backend was trying to do and thus missing some dependencies. So it might not be an issue with multiple regions but rather multiple types of resources. So not a limitation per say but a possible blocker depending on your resources. I am trying to confirm this however.

[2018-06-13 20:45] tamram commented on #5995
#please-close

[2018-06-13 20:46] tamram commented on #5945
@seguler - requesting to close this now.

#please-close

[2018-06-13 20:47] alkohli commented on #7329
@Adam-Smith-MSFT  The original owner is OOF. I have taken over these docs and done a major overhaul. FedEx, UPS, and DHL are now mentioned as the supported carriers. FedEx and UPS are targeted for US/Europe and DHL for Asia/Australia locations in the following docs:

- https://docs.microsoft.com/en-us/azure/storage/common/storage-import-export-data-to-blobs
- https://docs.microsoft.com/en-us/azure

[2018-06-13 20:47] alkohli commented on #7329
#sign-off

[2018-06-13 20:48] alkohli commented on #7329
#please-close

[2018-06-13 20:48] MicahMcKittrick-MSFT commented on #10161
I believe you need to include the access token in the URL. See the following:

https://stackoverflow.com/questions/21907278/github-api-using-repo-scope-but-still-cant-see-private-repos

[2018-06-13 20:49] Mike-Ubezzi-MSFT commented on #10069
@c-arnab Is this an internal Microsoft subscription and/or is the South India or East Asia region enabled for this subscription (or for the subscription being used to deploy)?

[2018-06-13 20:51] MicahMcKittrick-MSFT commented on #10165
Can you elaborate a bit on this? How are you trying to search? Are you referring to specifically inside of Log analytics?

[2018-06-13 20:52] scseely opened #10169 "Dead link for Azure Stack capacity plnner spreadsheet"
In the section "Capacity planning considerations", there is a link for the Azure Stack capacity planner spreadsheet. The link points to https://gallery.technet.microsoft.com/Azure-Stack-Capacity-24ccd822. The server returns a 404. Likely issue: link needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0

[2018-06-13 20:52] #5945 closed

[2018-06-13 20:53] alkohli commented on #7253
I verified that Murali had updated this doc.
#please-close

[2018-06-13 20:54] MicahMcKittrick-MSFT commented on #10062
Thanks for that. Did you happen to follow the steps to create the voting app yourself or just download the completed package?

[2018-06-13 20:56] wesmc7777 commented on #8911
#please-close

[2018-06-13 20:58] MohitGargMSFT commented on #10087
@salvatore-garrubba To my understanding ROPC implementation will not help in your scenario. You will be able to achieve it through Client Credential flow. However, at this point of time Azure B2C has limitations around this implementation. Please check on this - [Current limitations - Daemons/server-side apps](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-apps#da

[2018-06-13 20:58] wesmc7777 commented on #8909
@zhulixuan did you have any further questions regarding this?

[2018-06-13 20:58] wesmc7777 commented on #8681
#please-close

[2018-06-13 21:01] jackchenquest commented on #10144
I created a resource group in West US, then created a LRS storage account in East US, another LRS storage account in south central US in same resource group. tried to move them together to another subscription,  got same  error:

"details":[{"target":"Microsoft.Storage/storageAccounts","message":"{\"error\":{\"code\":\"MoveResourcesStorageAccountsNotFound\",\"message\":\"Move resources specified s

[2018-06-13 21:02] jackchenquest commented on #10144
Looks like a bug? System.Collections.Generic.List`1[System.String]

[2018-06-13 21:02] scseely commented on #10169
Odd- page is now coming up

[2018-06-13 21:03] Mike-Ubezzi-MSFT commented on #10164
@JohnBoncek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

![screenshot 50](https://user-images.githubusercontent.com/37126106/41377936-7686b7ee-6f12-11e8-9138-b8078f41fe16.png)

[2018-06-13 21:03] MohitGargMSFT commented on #10159
@SenthuranSivananthan Thanks for reporting! I will work on it and update soon.

[2018-06-13 21:11] YutongTie-MSFT commented on #10162
@JupiterLikeThePlanet Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jerkin Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-13 21:15] jeevansd commented on #10163
@chetansriv and @v-nagta Please update the name of the app in this article. Correct app name is The Cloud Security Fabric.

[2018-06-13 21:16] WillParry opened #10170 "API Management"
Please confirm and update if MSI is now fully supported for Azure API Management service. It looks like it is, as the portal doesn't show Managed Service Identity blade with the (preview) suffix. I'd like to implement MSI for updating API Management certificates to update automatically if this is now fully support. Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for

[2018-06-13 21:16] wagsousa commented on #9010
Here is a step by step using Kafka Client
wget http://ftp.unicamp.br/pub/apache/kafka/1.1.0/kafka_2.12-1.1.0.tgz
tar -zxvf kafka_2.12-1.1.0.tgz
update below file same as @basilhariri instructions(Thanks!)
/kafka_2.12-1.1.0/config/producer.properties

Run:
./kafka_2.12-1.1.0/bin/kafka-console-producer.sh --broker-list **_replace_namespace_name_**.servicebus.windows.net:9093 --topic test --producer.

[2018-06-13 21:17] #10167 closed

[2018-06-13 21:22] WaltIQ commented on #10156
Thanks for the follow-up.

I have actually tried it on two different VM’s already with no luck.
First I get:
[cid:image001.png@01D4033B.0896C780]

And then I get:
[cid:image002.png@01D4033B.0896C780]

~Walt

From: Micah <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Wednesday, June 13, 2018 at 3:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.gi

[2018-06-13 21:29] sbdoroff commented on #10099
Thanks Micah.  That makes sense.  Could the documents be updated with this information?

[2018-06-13 21:29] iainfoulds commented on #10082
Thanks, @cloudmelon . I've created a PR to update this. The complete sample template linked to from the doc shows the correct usage - https://github.com/Azure-Samples/compute-automation-configurations/blob/master/scale_sets/autoscale.json#L220

[2018-06-13 21:31] msimecek commented on #9621
Closing as this is now going to be merged. Thank you.

[2018-06-13 21:31] #9621 closed

[2018-06-13 21:33] rothja commented on #9487
@porky9 Sorry for any delays on this issue. @cephalin Sorry this hasn't been assigned to you yet. If you have any updates, let me know. @femsulu Could you reassign this to Cephas for proper tracking? Thank you!!

[2018-06-13 21:41] YutongTie-MSFT commented on #10081
@sauercrowd Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rloutlaw Hi, this is a doc-bug, can you please check the code and update the document as necessary? Thanks a lot!

[2018-06-13 21:41] TravisCragg-MSFT commented on #10169
@scseely I am able to view it as well, it could have been a temporary outage.

We will now proceed to close this thread. If this issue continues or if you have any further questions, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-13 21:41] #10169 closed

[2018-06-13 21:44] #10159 closed

[2018-06-13 21:47] WaltIQ commented on #10156
Thanks for the follow-up!

I actually tried multiple VMs already...  Same issue.
First I get:
![image](https://user-images.githubusercontent.com/26611505/41379932-67952b02-6f31-11e8-93a0-662a0af4245d.png)

And then I get:
![image](https://user-images.githubusercontent.com/26611505/41379940-713b7eae-6f31-11e8-8ce0-8be75212be4d.png)

I followed the Quickstart: Create a Linux virtual machine in the A

[2018-06-13 21:49] brunoss opened #10172 "The documentation Deploy Docker CE cluster is incorrect in the ssh comand."
The document [Deploy Docker CE cluster](https://docs.microsoft.com/en-gb/azure/container-service/dcos-swarm/container-service-swarm-mode-walkthrough) provides a `ssh` that will not have the expected outcome , as in being able to deploy the docker specifcation into azure.

The specified indicated command is

`ssh -p 2200 -fNL localhost:2374:/var/run/docker.sock azureuser@MasterFQDN`

What worked fo

[2018-06-13 21:50] alkohli commented on #7250
The doc has been updated and instead of providing tool guides, I have created dedicated deployment procedures for import/export to blobs, and import from files. As @muralikk  mentioned, there is work being done to unify the tool versions.
@Adam-Smith-MSFT  I am going to sign off on this item from doc perspective.

[2018-06-13 21:50] alkohli commented on #7250
#sign-off

[2018-06-13 21:50] alkohli commented on #7250
#please-close

[2018-06-13 21:52] #8681 closed

[2018-06-13 21:54] BryanTrach-MSFT commented on #10096
@conceptdev Could you please review this feedback and determine if it's necessary to include details on how to register new tag and remove old tags while the app is running?

[2018-06-13 21:56] #10082 closed

[2018-06-13 22:01] YutongTie-MSFT commented on #10147
@Gustavo935 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-question, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-13 22:08] YutongTie-MSFT commented on #10103
@yangsiyu007 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mwinkle Hi, this is a doc-bug, can you please add the hyperlink and update the document? Thanks a lot!

[2018-06-13 22:08] MicahMcKittrick-MSFT commented on #10099
@roygara can you take a look to see if this information will fit into the docs?

[2018-06-13 22:09] tamram commented on #10083
@msimecek - Thanks for your feedback, I've removed the note. The update should be live within the next 24 hours.

#please-close

[2018-06-13 22:09] MicahMcKittrick-MSFT commented on #10156
When you created the VM did you use SSH keys or a password?

[2018-06-13 22:11] WaltIQ commented on #10156
SSH keys, just like the Quickstart instructed

[2018-06-13 22:12] meganbradley opened #10174 "test #5"
testing reactivated issues labeling automation @tysonn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c586a5c2-97d3-416b-5ff1-61b056d170ac
* Version Independent ID: 0f005368-a8ef-6261-4654-fb93eedd3fab
* Content: [Quickstart with Azure Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/ap

[2018-06-13 22:13] meganbradley commented on #10174
@tysonn automation is re-enabled and applying labels correctly

[2018-06-13 22:23] juanjosemino opened #10175 "File Share logs"
Hi!! Is there a way to get the file share operations logs? I just want to know if snapshots creation/removal are tracked somewhere.  Thanks!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [How to monitor an A

[2018-06-13 22:38] MicahMcKittrick-MSFT commented on #10156
Thanks for that. I checked again and used SSH keys this time using the same guide but was able to get it to work without issue.

Based on the error message you are getting it appears that there is something blocking you on the Windows Server 2016 machine and not an issue with the Linux RDP itself.

You might try disable the firewall rules on the Windows Server machine to see if that helps. Can you

[2018-06-13 22:52] YutongTie-MSFT commented on #9997
@bawejainnovation Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-enhancement issue about the [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/Overview/overview), can you please check the suggestion and update the document as necessary? Thanks a lot!

[2018-06-13 23:00] JeremyTBradshaw opened #10176 "MDM for Office 365 and "Require device to be marked as compliant""
Hello, can you please confirm if the "Require device to be marked as compliant" will recognize devices marked as compliant by MDM for Office 365 (the supplemental MDM, NOT paid Intune)?  Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7aca4a4-9951-2132-3910-cf83ba66a048
* Version Independent ID: 2509

[2018-06-13 23:11] phandinhlan commented on #10051
Hi Micah,
Thanks for forwarding the feedback.

Hi Neil,
Thanks for the reply with additional info. It does definitely help to know that the image by default comes from Docker Hub (thus the plugin defaults to getting public images from Docker Hub).
The reason for all this questioning in the first place was because I got a deployment error when reference a different image published publicly on Docke

[2018-06-13 23:15] rolyon commented on #10139
I don't know, but I'm checking with the product team.
Thanks for the feedback.
#in-progress

[2018-06-13 23:17] YutongTie-MSFT commented on #10086
@sauercrowd Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi, this is a product issue and doc enhancement issue, can you please check if you can help and update the document as necessary? Thanks a lot!

[2018-06-13 23:17] kobulloc-MSFT commented on #10170
@WillParry Thank you for the feedback!  We've assigned this to the author so they can update the document accordingly.

[2018-06-13 23:18] sergaz-msft commented on #9959
Hello,
I was expecting to see messages coming in with a format like `{"messageId":1,"deviceId":"my Device","temperature":22,"humidity":70}` after you "Start Monitoring D2C Message"

Which Get Started tutorial did you follow prior to this? To complete the tutorial on this doc successfully you need to firt [complete the following](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visu

[2018-06-13 23:19] YutongTie-MSFT commented on #9984
@lin-art We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 23:20] #9984 closed

[2018-06-13 23:21] MicahMcKittrick-MSFT commented on #10172
@brunoss what is the outcome when you use the command in the doc? Are you seeing an error?

[2018-06-13 23:22] YutongTie-MSFT commented on #10071
@pallaviMN Hi, this is not a doc-related issue, please post it in our MSDN forum so that we can help well. Thanks a lot! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 23:22] #10071 closed

[2018-06-13 23:22] jocastel-MSFT commented on #10139
@ahamin01 Each user consent triggers an audit event in Azure AD audit logs. Those logs are stored for 30 days. But the counts shown in the terms of use (ToU) blade reports are stored indefinitely for the life of that ToU. As long as the ToU is not deleted the reports will be available.

[2018-06-13 23:27] CelesteDG commented on #9771
Hello @fowl2 - Thank you for your patience. I consulted with our PMs regarding your request and:

- We agree. This is a gap in our documentation and I've updated the work item to note this and add it to our backlog.
- It is not possible to move app registrations although you can copy the properties, but need to redo the consents from users. Sharing an app is possible with apps in an Azure AD tenan

[2018-06-13 23:31] BryanTrach-MSFT commented on #5995
@SharmainePopov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:31] #5995 closed

[2018-06-13 23:31] JeremyTBradshaw opened #10177 "3 Numbers option with Microsoft Accounts -> will this be coming to Azure MFA?"
Hello, with Microsoft Accounts that have MFA enabled, the authenticator app is sent three numbers, of which one was shown on the original authentication page, and you need to select the correct number in the app in order to then approve the sign-in.  I'm wondering if this functionality will be coming to Azure MFA / Office 365 MFA.  Any idea?  Thanks in advance.

---
#### Document Details

⚠ *Do no

[2018-06-13 23:31] BryanTrach-MSFT commented on #7250
@yois615 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:31] #7250 closed

[2018-06-13 23:32] BryanTrach-MSFT commented on #7253
@yois615 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:32] #7253 closed

[2018-06-13 23:32] BryanTrach-MSFT commented on #7329
@yois615 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:32] #7329 closed

[2018-06-13 23:32] BryanTrach-MSFT commented on #7438
@AspenForester We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:32] #7438 closed

[2018-06-13 23:33] BryanTrach-MSFT commented on #7517
@irwinwilliams We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:33] #7517 closed

[2018-06-13 23:33] BryanTrach-MSFT commented on #8911
@zhulixuan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:33] #8911 closed

[2018-06-13 23:33] BryanTrach-MSFT commented on #9333
@JuanKerr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:33] #9333 closed

[2018-06-13 23:34] BryanTrach-MSFT commented on #9529
@idg10 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:34] #9529 closed

[2018-06-13 23:34] BryanTrach-MSFT commented on #9800
@amrx101 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:34] #9800 closed

[2018-06-13 23:34] BryanTrach-MSFT commented on #9830
@ElectricLlama We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:34] #9830 closed

[2018-06-13 23:34] BryanTrach-MSFT commented on #9842
@reaperlord We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:34] #9842 closed

[2018-06-13 23:34] YutongTie-MSFT commented on #10110
@FrancisRD91 Hi, sorry for inconveniences, but this is not a doc-related question, could you please post it to [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) so that we can help well? Thanks a lot!  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-13 23:34] #10110 closed

[2018-06-13 23:34] BryanTrach-MSFT commented on #9865
@lrpark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:34] #9865 closed

[2018-06-13 23:35] BryanTrach-MSFT commented on #9890
@brightbytes-dude We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:35] #9890 closed

[2018-06-13 23:35] BryanTrach-MSFT commented on #9894
@JustinGrote We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:35] #9894 closed

[2018-06-13 23:35] WaltIQ commented on #10156
Thanks Again.
I tried for a third time with a new VM, but this time did not upgrade or dist-upgrade.  Still the same issue.  Also, disabling the FW on the Windows Server still didn't allow for it to work. And, I cannot try from my local machine because I am not enabling a public IP.

I think this is a security policy on the windows server that is not allowing RDP to trust the connection to Linux b

[2018-06-13 23:35] BryanTrach-MSFT commented on #10083
@msimecek We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-13 23:35] #10083 closed

[2018-06-13 23:43] gmsantos commented on #9983
same problem in private tab, both on edge and firefox

[2018-06-13 23:47] nastassiar opened #10178 "Where are the Requirements (specific billing) for Solution template?"
The Hyperlink for Requirements: Azure Marketplace: Transact: Azure apps: Solution template (i.e. https://docs.microsoft.com/en-us/azure/marketplace/listing-type-requirements#requirements:-azure-marketplace:-transact:-azure-apps:-solution-template) Doesn't seem to take me to where I was expecting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-06-13 23:49] curtand commented on #9903
https://github.com/MicrosoftDocs/azure-docs-pr/pull/43821

[2018-06-13 23:51] lcastrooliveira commented on #6609
If you're installing in a linux environment you have to use sudo
`sudo az aks install-cli`
It worked for me

[2018-06-13 23:55] Mike-Ubezzi-MSFT commented on #10154
@JohnBoncek This capability is part of SQL Server Management Studio. While connected to the database you wish to have a diagram created, follow these steps:

If this is the first time you are using Database Diagrams, create the necessary system objects.
![screenshot 51](https://user-images.githubusercontent.com/37126106/41384312-d509b58e-6f29-11e8-8da4-5f37b3876483.png)

Next right-click on Databa

[2018-06-14 00:01] volleynerd opened #10179 "Step 8 referred to but not provided"
In all these tutorial steps, it refers to 8 steps. In this particular page, towards the top, it refers to the next step: "In subsequent tutorials, Log Analytics is configured to monitor the Kubernetes cluster."

This is not correct. There are only 7 steps to the tutorial, and I can't find information/steps on how to configure Log Analytics.

---
#### Document Details

⚠ *Do not edit this section.

[2018-06-14 00:38] ElectricLlama opened #10180 "SQL Authentication is the only option from SSIS Azure and SSAS Azure"
For PaaS deployments of SSIS and SSAS (That is within _Azure Data Factory SSIS runtime_, and _Azure Analysis Services_) that read or write data to SQL Azure, the _only_ authentication option is SQL Authentication.

* We can configure various methods of AD authentication within SQL Azure

* We can also configure MSI within Azure Data Factory and Azure Analysis Services to emulate the 'service accou

[2018-06-14 00:41] SaurabhSharma-MSFT commented on #9983
@gmsantos Sorry for the inconvenience... I have escalated this to product team to look into this issue and provide a solution.  I will get back to you with the latest as soon as I hear back from them.

[2018-06-14 00:59] gmsantos commented on #9983
@SaurabhSharma-MSFT no problem, I just opt out the new design for now. If you need some further details I'm glad to help.

[2018-06-14 01:44] Rachitgupta1994 commented on #8167
Sure I will get back to you

On Wed, Jun 13, 2018, 23:54 Daniel Dobalian <notifications@github.com>
wrote:

[2018-06-14 01:50] MicahMcKittrick-MSFT commented on #10156
I am wondering if it is related to the security update regarding RDP connections.... Could you try the following:

[2018-06-14 01:51] MicahMcKittrick-MSFT commented on #10156
Can you check to see if your server machine is fully patched? There were some security updates recently around RDP so that could be a problem. I have seen it come up when connecting to other windows machines but nothing for Linux yet

[2018-06-14 01:52] VitorX opened #10183 "link of https://github.com/Azure-Samples/iot-hub-tutorials-node/archive/master.zip broken"
link of https://github.com/Azure-Samples/iot-hub-tutorials-node/archive/master.zip broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25e0932f-9b86-d0bd-a297-5941214e3190
* Version Independent ID: f7df034f-745e-cc49-755b-bf8836eb1844
* Content: [Check device connectivity to Azure IoT Hub](https://docs.microsoft.com/

[2018-06-14 01:53] MicahMcKittrick-MSFT commented on #10179
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 02:17] masnider commented on #9654
It's called correlation because we also wanted to have "Aversion" and other types of "correlations" (2:1, A->B->C, etc, but never got around to building them :( ) The API reflect the goal of future extensibility.

Adding a section like that would be great! We can just PR it in.

I tend to avoid using DefaultServices when possible especially in cases like this where the service name is involved, si

[2018-06-14 02:34] SaurabhSharma-MSFT commented on #9392
@Jens-Lorenz Thanks for your feedback.  While we will send this feedback over to the product team we encourage you to please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly

[2018-06-14 02:51] jm-aditi-ms commented on #10178
Hi Nastassia,
Thank you for the notification,
This will be added to the next update for the marketplace pages.

Thank you, Joe Martin

Joe Martin
    Tech. Writer 2  |  P+SE  |  C+A  |  Aditi at Microsoft
    v-josepm@microsoft.com  |  +1.206.883.6164

From: Nastassia <notifications@github.com>
Sent: Wednesday, June 13, 2018 4:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc:

[2018-06-14 03:06] joshkel opened #10185 "Incorrect documentation on batching requests"
The documentation on batching multiple records at https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-collector-api#request-body appears to be incorrect. It shows the body as comma-separated JSON objects (which is not, itself, valid JSON). However, if I try to use that, I get an invalid request. Using a JSON array (i.e., an opening bracket, then comma-separated JSON objects, th

[2018-06-14 03:12] SaurabhSharma-MSFT commented on #9400
@noamles Sorry for late reply. Your issue got moved out of our internal bucket by mistake and thus unable to answer you earlier.  Please can you go through the documentation [Additional Details & Considerations](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configuring-alternate-login-id#additional-details--considerations ) to make sure the alternative id is configured

[2018-06-14 04:09] Katydude commented on #10100
Cephas Lin,

Unfortunately, I was unable to complete this tip because once any
modifications are made to the sample code and gulp (or npm) refresh
packages, the project becomes unstable largely due (I believe) with a
problem with gulp and gulp-util which seem to clash with one another. My
repo got mangled so I just started over with a different tutorial.

Using ZipDeploy with a different sample ap

[2018-06-14 04:45] kazshi opened #10188 "the root certificate is required?"
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl#merge-intermediate-certificates
The root certificate is mentioned in the description and listed in the example, but it's not listed in the "Requirements for your SSL certificate" - is the root certificate entry REQUIRED in the mergedcertificate.crt, or is it OPTIONAL? I couldn't find any information for it. Than

[2018-06-14 04:46] celinama opened #10189 "Does this feature only apply on VM deployed in ARM?"
I created a virtual machine in Australia Southeast using Standard D3 v2 (4 vcpus, 14 GB memory) in Classic mode using gallery image: Ubuntu Server 18.04 LTS, Serial console (Preview) DO NOT appear under Support + Troubleshooting.The Serial console (Preview) feature comes out if I deploy it in ARM mode.
May I know if this feature only apply on VM deployed in ARM? If it is could you please noted thi

[2018-06-14 05:02] gdprtcl commented on #10062
I cloned it from the Github repo and opened the solution file in VS 2017.

[2018-06-14 05:56] Kartik1607 commented on #9899
Hi. Any updates if documents like work can support metadata?

[2018-06-14 06:01] SaurabhSharma-MSFT commented on #9407
@knssub As per the document [The Available Azure services in Azure CSP document](https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services)  Azure B2C is currently not available in CSP and the estimated launch timeframe is middle of 2018.
@davidmu1 Do you have any idea when will it be available ?

[2018-06-14 06:30] Risanshita opened #10190 "Is it possible to handle user identity in function app."
My concern is, how i will handle user identity. As we handel in MVC Authentication, Role based authorization, claims and policy based authorization handle roles and user. I want same like Asp.net core 2.0

[2018-06-14 06:34] c-arnab commented on #10089
Ok the above problem was solved with installing Sqlserver powershell module. Suggest   you add the info in the prerequisites section.

[2018-06-14 06:48] cjgronlund commented on #9581
#in-progress

[2018-06-14 07:02] gmantri opened #10191 "Please include "fragment" as one of the choices for "response_mode" parameter."
Currently the documentation includes "query" and "form_post" as the choices for "response_mode" parameter. When fetching both "code" and "id_token" during authorization process, service returns "AADSTS70007: 'query' is not a supported value of 'response_mode' when requesting a token" error when using "query". However no error is reported when "fragment" option is specified. Requesting you to add t

[2018-06-14 07:08] NayangiriGoswamiGit commented on #9922
Thank you @sethmanheim.
Sample on github link working properly.

[2018-06-14 07:17] trinadhkotturu commented on #8342
#please-close

[2018-06-14 07:17] trinadhkotturu commented on #7433
#please-close

[2018-06-14 07:35] manumohant commented on #10124
@BryanTrach-MSFT  Yes. Thanks. Before, I was trying with some scripts. I managed to download pfx key from app service certificate and configured apache using certificate and key files generated using that pfx file. Now all working fine. Thanks

[2018-06-14 08:13] carloreggiani opened #10192 "No way to configure my existing VNET!"
I was waiting for the final AKS release to configure finally AKS on my VNet (it is a VPN site2site)... trying now, no way to have my vnets (and subnet) in the combo :( Itryed also to configure AKS in the same Vnet resource group, no way to have the combo with my vnet! HELP!!! (region westeurope)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-06-14 08:46] tjrobinson commented on #10141
@Mike-Ubezzi-MSFT Thanks for your response. Unfortunately that doesn't answer my question. I am specifically interested in track the progress of an index transformation for a partitioned collection. When you change the index configuration for a collection it takes some time to rebuild it - and we need to track it to know when it's completed. It's possible with non-partitioned collections but I don

[2018-06-14 08:46] cephalin commented on #10100
Thank you Wade. Unfortunately it does looks to be something related to the bugginess of the Git deployment process, and it should be fixed there by the PU.

The Node/NPM versioning issue shouldn't be at play because that's the exact reason they're specified - so that you can guarantee the same app code runs at all times. The reason they were not updated is precisely because later Node versions act

[2018-06-14 08:52] smoms opened #10193 "Can target tenant be B2C"
Hi, maybe silly question. Can the target tenant be a B2C tenant? i mean the app gets registered in an B2B tenant but will end up into B2C tenant after sign up process. is it possible? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326f7173-a654-fda7-2438-6905da3fdbef
* Version Independent ID: 7dbc5a10-9d61-26e1

[2018-06-14 08:58] JensNordenbro commented on #10079
Hi guys, thanks for answering.

Following the advice of @kgremban took me further, still I am failing though:

![image](https://user-images.githubusercontent.com/9577365/41402040-927fe254-6fc1-11e8-8a1a-d235da60494c.png)

The command invoked (Fedora):

![image](https://user-images.githubusercontent.com/9577365/41402147-d5108a1a-6fc1-11e8-9a0a-33c7c50f74c9.png)

[2018-06-14 09:14] dominicbetts commented on #10183
Hi @VitorX - thanks for reporting this. It looks like our repo links got out of sync. I'm updating them now and the links should be working again later today. Thanks!

[2018-06-14 09:27] dominicbetts commented on #10085
#please-close

[2018-06-14 09:35] gambrose commented on #10134
@Mike-Ubezzi-MSFT

Thanks the link to the stack overflow question helped me with getting the request charge. I think it would be beneficial to include this info in the docs about request charge.

`getLastRequestStatistics` is a command that Cosmos DB has added to the standard API. I could not find any documentation about it. Is there is there a reference for the Cosmos specific commands that have

[2018-06-14 09:45] SychevIgor commented on #10085
@dominicbetts I hope it was a joke about nodejs.

[2018-06-14 09:46] dominicbetts commented on #10061
Hi @MichaelXlj - thanks for reporting this. I'll up date the article to include instructions for creating a secure string to use as the password. In the meantime, you can use this:

[code]

[2018-06-14 10:01] c-arnab opened #10194 "Problems while compiling source code in visual studio 2017"
When I tried opening the application source code by opening WTP Application Project Files.sln in vs2017 ver15.7.3, it does a one time upgrade of the source files. But the existing Events-TenantUserApp.xproj gets converted to Events-TenantUserApp.csproj.
Also when compiled, it throws an error as below
Error	CS0017	Program has more than one entry point defined. Compile with /main to specify the type

[2018-06-14 10:16] c-arnab opened #10195 "ARMDeployment project needs different Template json files than the ones present"
ARMDeployment project's Template folder contains json files -contosoconcerthall.json, dogwooddojo.json, fabrikamjazzclub.json, wingtiptickets.json. But the project needs json files- wtpapp.json, wtpapp.parameters.json, wtpapp-vnext.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 669d988a-4003-74d2-2367-2027844f7ea

[2018-06-14 10:18] kishore1702 opened #10196 "The sample data-set is not available."
There are no data sets available in the link that you have given in the beginning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98c24e0-abdd-7de6-136c-7a436c4817d2
* Version Independent ID: cbade9b4-0f5d-982f-b4a2-0bb25ee93995
* Content: [Quickstart tutorial for R language for Machine Learning](https://docs.microsof

[2018-06-14 10:19] c-arnab commented on #10069
@Mike-Ubezzi-MSFT Its a free Azure Pass Subscription

[2018-06-14 10:23] ConnorKirk opened #10197 "Add a section mentioning Dataset parameters"
Dataset parameters are mentioned in the [Expressions and functions](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions) page. It would be a natural fit to mention them here as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9359187-38e8-6a1a-4943-2fc015e5e89c
* Version

[2018-06-14 10:35] IeuanWalker commented on #10096
@conceptdev @BryanTrach-MSFT There are guides to do this within Android, iOS and UWP application just not for Xamarin (which i find odd :/)

[2018-06-14 10:35] superminiek opened #10198 "Manage Disks and fstab - Boot diagnostics is helpful"
I had a case when after removing MD data disk, Linux stopped to boot normally, Boot diagnostics helped me in this case but I think that it is worth to mention about detach procedure (maybe here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/detach-disk).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20

[2018-06-14 10:49] ctolkien opened #10199 "Invinting an existing MSA account seems flaky"
&gt;If the invitee doesn't have an Azure AD account or an MSA, they're prompted to create an MSA.

This isn't happening in my case. It is prompting me to create a new MSA even though the email address is _definitely_ already a MSA account

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3562df9e-bbd8-0f6f-a7e2-fa5730b993

[2018-06-14 10:56] pchoudhari commented on #9899
No, we cannot take metadata from word docs.

[2018-06-14 10:58] MarkusVi commented on #10176
Hi @JeremyTBradshaw, it doesn't matter who - or better what - has set the flag. The question is just has the flag been set.

[2018-06-14 11:21] bolausson opened #10200 "systemd service to update Nvidia BUS-ID"
Hej,

I improved the way to update the Nvidia BUSID in /etc/X11/xorg.conf via a systemd service. So there is no more need to place a file in /etc/rc.d/rc3.d/ and fly blind :)

Paste the below into "/etc/systemd/system/update-nvidia-busid.service"
[code]

Paste the below into "/usr/local/bin/update-nvidia-busid.sh":
[code]
Now run:
[code]

If this is considered, could someone also update the german

[2018-06-14 11:38] cvs79 opened #10201 "Missing step in documentatie Managed Storage Account with Keyvault"
Steps fail at the end. Container doenst exist.

We used the steps on https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys. They fail at the end on Set-AzureStorageBlobContent -Container cont1-file "file.txt" -Context $context2
because Container cont1-file does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i