[2019-04-19 22:17] #29301 closed

[2019-04-19 22:18] jdneilso commented on #23809
Also, you will need to stop and start the log reader agent, snapshot agent, and reinitialize the subscribers.

[2019-04-19 22:36] xtofs opened #29739 "id_token to authenticate the user?"
Quote "are used by the client to authenticate the user."
Doesn't this cause confusion ?  Id_tokens are meant to retrieve basic profile information can they be securely used for authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da2

[2019-04-19 22:55] kvbreddy opened #29740 "Setting the Documents.Client.ConnectionPolicy.MaxConnectionLimit to higher value not working"
Changing the value of Documents.Client.ConnectionPolicy.MaxConnectionLimit is not affecting the internal HttpMessageHandler MaxConnectionsPerServer. This is limiting the number of concurrent connections in Gateway Mode. Only changing the ServicePointManager.DefaultConnectionLimit to higher value or using the below constructor and setting the HttpMessageHandler.MaxConnectionsPerServer seems to work

[2019-04-19 23:05] Karishma-Tiwari-MSFT commented on #26733
@CodeSwimBikeRun If you have any feedback for the product or a feature-request, please post this as a product feedback [here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks). This will allow the community to up-voe and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate

[2019-04-19 23:18] Karishma-Tiwari-MSFT commented on #29730
@benjamin-goldman Thanks for your question. Can you please provide us with the link to the documentation which directed you to this page. We will need to update that documentation.

[2019-04-19 23:19] Karishma-Tiwari-MSFT commented on #29731
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-19 23:19] CarlRabeler commented on #23809
@MashaMSFT please review for doc update

[2019-04-19 23:20] Karishma-Tiwari-MSFT commented on #29735
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-19 23:21] Karishma-Tiwari-MSFT commented on #29736
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-19 23:23] Karishma-Tiwari-MSFT commented on #29739
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-19 23:24] Karishma-Tiwari-MSFT commented on #29740
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-19 23:33] Karishma-Tiwari-MSFT commented on #15236
@jrpavoncello
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-19 23:33] #15236 closed

[2019-04-19 23:33] #15287 closed

[2019-04-19 23:34] #26280 closed

[2019-04-19 23:34] Mike-Ubezzi-MSFT commented on #29740
I have assigned this to the content owner to review and update the documentation.

[2019-04-19 23:34] Karishma-Tiwari-MSFT commented on #28086
@msLinuxNinja
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-19 23:34] #28086 closed

[2019-04-19 23:34] #28236 closed

[2019-04-19 23:39] Karishma-Tiwari-MSFT commented on #29709
The PR with the change has been created and changes will be live shortly.

[2019-04-19 23:39] JasonWHowell commented on #29657
I found out the Autoscale system is calling a different API than when you manually scale. This approach allows the system to monitor which VM node to remove safely. The system can avoid impacting nodes with running jobs.

So it seems autoscale is less pain as compared to manual scale down.

Thanks, Jason

[2019-04-19 23:39] JasonWHowell commented on #29657
#please-close

[2019-04-19 23:40] Karishma-Tiwari-MSFT commented on #29700
@v-samiya
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-19 23:58] #29709 closed

[2019-04-20 00:04] stefsch opened #29741 "Remove references to "preview" from this article"
The UX referenced in this article is no longer in preview.  The note at the top of the page is no longer applicable.  Also the screenshots need to be updated since the current screenshots still have "Preview" in the images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version In

[2019-04-20 00:05] stefsch opened #29742 "Clarify that deployment slots do not incur any extra charges"
For example:

Each App Service plan tier supports a different number of deployment slots.
.....There is no additional charge for using deployment slots.  ……
etc... rest of article goes here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Independent ID: ba780cba-f604-b0a4-a

[2019-04-20 00:10] stefsch opened #29743 "Add text to the scale out bullet point noting that scaling out one app scales out all apps in the same app service plan"
Add text to the "scale out" bullet point (second bullet point at the top of the article" noting that scaling out one app scales out all apps in the same app service plan.  Since all apps in an app service plan run on all workers in the app service plan, scaling out an app (or an app service plan) means all apps in the same app service plan will run on all additional workers added to the app servic

[2019-04-20 00:26] Karishma-Tiwari-MSFT commented on #29626
@mganeshphani As per [this doc](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet), Container groups deployed to a virtual network don't currently support exposing containers directly to the internet with a public IP address or a fully qualified domain name.
@dlepow Can you please share your insights on this? Thanks :)

[2019-04-20 00:27] MikeRayMSFT commented on #20954
@rvahaver - thank you for this submission, I'm submitting PR #73958 to clarify the instruction. Let us know if this helps.

#please-close

[2019-04-20 00:36] Mike-Ubezzi-MSFT commented on #29486
@gpj1 Yes, all the current functionality is in support of the SQL API. There are plans to add [SP functionality for the Gremlin API](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/20115355-gremlin-queries-from-stored-procedures). Please take a look at the list of existing feature requests and upvote and comment on those that match your use case. If you require additional info

[2019-04-20 00:36] #29486 closed

[2019-04-20 00:41] georgewallace commented on #29736
@bradyevans Thanks for reaching out.  Yes with some of the latest changes to Log Analytics you cannot install solutions that way anymore.  Thanks for catching this. I will be updating the section but it will be replaced with PowerShell instead.  It will be replaced with something like below..

[code]

[2019-04-20 01:07] v-kydela opened #29744 "Explain the acronym"
A page titled "What is Azure Active Directory B2C?" should probably say what "B2C" stands for (Business to Customer)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azure Active Directory B2C?](https:/

[2019-04-20 01:13] Mike-Ubezzi-MSFT commented on #29537
Hi @jackbond Gremlin is using the [Apache Tinkerpop](http://tinkerpop.apache.org/) specification to drive Gremlin feature support ([add spatial support to Graph API](https://feedback.azure.com/forums/263030-azure-cosmos-db?query=Spatial)). If you have additional questions about the
The SQL API does support spatial queries: [Use Geospatial and GeoJSON location data with Azure Cosmos DB SQL API acco

[2019-04-20 01:13] #29537 closed

[2019-04-20 01:16] Mike-Ubezzi-MSFT commented on #29543
@rimman Can you help out here with regards to a 4 hour idle period? Thank you.

[2019-04-20 01:30] sriramaszone opened #29745 "Copy Data from Cosmos to Cosmos NO SQL - Modify the record values for few fields before sending to Target"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-20 01:35] sriramaszone commented on #29745
Hi Team ,
Scenario - Cosmos to Comos data copy .
We have a scenario of transforming few fields before sending to target cosmos and can you guide us where  to change the code . Is that C:\xyz\Source\azure-documentdb-datamigrationtool-master\DocumentDb\Microsoft.DataTransfer.DocumentDb\Transformation ?  Is there any document or sample provided for this kind of scenario's . Thank You. Regards,Srirama

[2019-04-20 01:43] sajjanhubale commented on #29708
@Karishma-Tiwari-MSFT We are referring below link for run command.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command

[2019-04-20 04:15] SnehaAgrawal-MSFT commented on #29619
@Anand-Moghe Thanks again for the question! The default PHP Docker image for App Service uses Apache.
You may refer below link
https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-php#run-composer

https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-php-mysql-app#deploy-to-azure

[2019-04-20 04:48] jakaruna-MSFT commented on #29350
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-20 04:48] #29350 closed

[2019-04-20 04:49] jakaruna-MSFT commented on #29284
I will close this out for now. If you need additional help please mention me in the comment  and we can reopen and continue.

[2019-04-20 04:49] #29284 closed

[2019-04-20 04:49] jakaruna-MSFT commented on #29287
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-20 04:49] #29287 closed

[2019-04-20 04:53] jakaruna-MSFT commented on #29546
I went through the [official docs](https://docs.ansible.com/ansible/latest/modules/azure_rm_virtualmachine_scaleset_module.html#azure-rm-virtualmachine-scaleset-module) also.
I think that's not possible.
One workaround would be calling the Azure rest api with proper parameters in Ansible.

[2019-04-20 05:42] smoms commented on #29670
@MarileeTurscak-MSFT thanks. Unfortunately does not help me. The token received by the backend app even when i use Facebook for login has issuer claim "iss" pointing to Microsoft IdP (not Facebbok issuer claim!):
"https://login.microsoftonline.com/775527ff-9a37-4307-8b3d-cc311f58d925/v2.0/"

So if - as you say - the token is Facebook's one how can it be that the iss claim gets modified? THis could

[2019-04-20 05:57] jackbond commented on #29537
This is INSANE. Your database engine supports spatial, the graph query language you chose to expose does not. It's 2019. If the Tinkerpop crew can't figure out spatial, DO IT FOR THEM.

[2019-04-20 06:32] raheemdaya commented on #24341
It would be awesome to have an example.  Almost everything referencing Spark/Databricks and abfs is run in a notebook.  There is almost nothing on how to do this within a jar deployment.  Selfishly, I need this as I am at my wits end in trying to make this work.

[2019-04-20 07:52] marvin06 commented on #27715
Hey

Yes thanks for input!

Kr Thomas

Please excuse typos.

________________________________
From: Adam Gerard <notifications@github.com>
Sent: Friday, April 19, 2019 12:10 AM
To: MicrosoftDocs/azure-docs
Cc: marvin06; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Zooming in Charts (#27715)

@marvin06<https://github.com/marvin06> , @matdarMsft<https://github.com/matdarMsft> - If you feel that t

[2019-04-20 08:44] YASWANTHM-MSFT commented on #29745
@sriramaszone, Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get help

[2019-04-20 08:47] YASWANTHM-MSFT commented on #29744
@v-kydela, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-20 08:52] YASWANTHM-MSFT commented on #29741
@stefsch, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-20 11:24] jnprakash opened #29748 "The download link is broken. Can you provide the updated one?"
Fix the Download link, I need to download ip address range for all the regions and UK south in particular.
Also where do I find IP address range for SQL services in particular.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5d33e9-bcb3-3358-f859-c2ff3e71b131
* Version Independent ID: 5498280e-dd3c-bd46-9877-3506ad926

[2019-04-20 12:12] YASWANTHM-MSFT commented on #29743
@cephalin, Thanks for the comment! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-20 12:15] YASWANTHM-MSFT commented on #29742
@stefsch , Your feedback has been shared with the content owner for further review.

[2019-04-20 12:21] YASWANTHM-MSFT commented on #29748
@jnprakash, The download link is working correctly. You can also try to download the Azure IP Ranges [here](https://www.microsoft.com/en-us/download/details.aspx?id=56519). Hope this helps you!

[2019-04-20 12:34] #29657 closed

[2019-04-20 12:38] #20954 closed

[2019-04-20 12:49] unmeshM opened #29750 "Limit of Client Applications that can be added to exposed API"
How many clients applications can be added to the API exposed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b434db-9091-da08-2c96-839d462bc114
* Version Independent ID: 7bee76e7-acdc-5bc5-50ec-6004c73b9a95
* Content: [Configure an application to expose web APIs (Preview)](https://docs.microsoft.com/en-us/azure/acti

[2019-04-20 12:55] unmeshM opened #29751 "Expose API to Added Client Applications Only"
When API is exposed, the application would be accessible to the client applications added in the Client Applications list or would it be accessible to any other application not being added to the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b434db-9091-da08-2c96-839d462bc114
* Version Independent ID: 7bee76e7

[2019-04-20 15:02] jjyadav commented on #27712
Getting the same error This endpoint does not support BlobStorageEvents; SoftDelete or AutomaticSnapshot. Please disable these account features if you would like to use this endpoint.

[2019-04-20 15:04] johnwildes commented on #29521
@YASWANTHM-MSFT I've added myself as the Owner of the Tenant Root Group resource.  I've logged off and logged on to the portal.  I am still unable to edit the name of the Tenant Root Group.  If possible can the steps be added to the document on how to complete this successfully?

[2019-04-20 15:15] bryandam opened #29753 ""Do not install software updates" option doesn't exist in ConfigMgr"
The 'Manage software updates from Configuration Manager' section instructs us to deploy updates with the 'Do not install software updates' option.  I've been using ConfigMgr for a while and I have never seen such a setting.  Do you mean deploy the updates as 'Available' (for install) instead of 'Required' (for install) so that the ConfigMgr software update policy is sent to the devices but doesn't

[2019-04-20 15:36] bryandam opened #29754 "Manage software updates from Azure Automation: Disabling ConfigMgr SUM"
Maybe I'm wrong but I'm equating the last line of the second paragraph "If you use Configuration Manager for update compliance reporting but not for managing update deployments" with the 'Manage software updates from Azure Automation' section.  The later of which says 'you need to configure client policy to disable the Software Update Management feature for all clients'.  As I understand it, in th

[2019-04-20 15:57] mcqueene opened #29755 "Methods getWaitTime and GetAccessTokenAsync are not used"
Unless I'm missing something obvious I do not see how the methods getWaitTime and GetAccessTokenAsync are ever used in the example code https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2cd41-2a63-d083-22e0-cf5f75fb4b07
* Version

[2019-04-20 16:13] jnoller commented on #29607
I will look when back from vacation

[2019-04-20 16:21] jwatkin opened #29757 "Need more info about threshold"
It's not clear from reading this page where to set the threshold setting or what it actually does. So far, I've only used the QnA Maker portal "Test" pane. What does the threshold setting do in this context and how would I change it, or confirm what it's currently set to?

Originally, I assumed the threshold value was the confidence score value at which the default answer would be returned, but th

[2019-04-20 16:51] johnwildes commented on #18065
Unfortunately, this was months ago.  I'll have to dig up what was done.  Probably ok to close this ticket if no one else has attempted this with errors.

[2019-04-20 16:51] #18065 closed

[2019-04-20 16:51] Karishma-Tiwari-MSFT commented on #29750
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-20 16:52] #19075 closed

[2019-04-20 16:53] Karishma-Tiwari-MSFT commented on #29751
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-20 16:54] Karishma-Tiwari-MSFT commented on #29753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 16:54] johnwildes commented on #29011
My experience with support is abysmal, especially with services that are "preview".  I won't be opening a ticket for this.  I attempted this VM creation several hours after the conversation here. It completed, so something was either off with the portal reporting that replication was complete or some other issue.

[2019-04-20 16:54] Karishma-Tiwari-MSFT commented on #29754
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 16:56] Karishma-Tiwari-MSFT commented on #29755
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 16:56] Karishma-Tiwari-MSFT commented on #29757
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 16:58] johnwildes commented on #29023
@MicahMcKittrick-MSFT someone needs to inform support.  If it's possible can we get a clarification in this document that it's only for DATA DISKS and NOT OS disks?  We've been round and round with a support "group" on this that says it's supported, but providing instructions that are destructive to the customer VM in attempt to migrate one VM we have to Azure.

[2019-04-20 16:59] Karishma-Tiwari-MSFT commented on #29708
@sajjanhubale
Thanks for sharing the document. I have updated the issue with doc details.
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 17:28] SiddheshV commented on #16997
@haresh1288 : please send us your query and the error message to askcosmosmongoapi[at]microsoft[dot]com so that we can take a look if there are any mitigation.

[2019-04-20 17:50] JohnStraumann66 opened #29759 "Use existing tags?"
Hi:
Great example! Can you please detail how to change the project code to use tags that already exist? So the first run works great using:

var hemlockTag = trainingApi.CreateTag(project.Id, "Hemlock");

but on subsequent runs, I want to grab the existing tag, and I see there is a method:
trainingApi.GetTag(Guid projectId, Guid tagId);

but I do not see the Tag ID in the project settings, and I d

[2019-04-20 17:51] SeanCLeavitt opened #29760 "Examples in PowerShell Az too please?"
For example, getting the system properties of a storage account:

#List my storage accounts,
$myStorageAccounts = Get-AzStorageAccount | Select StorageAccountName, Location

#Choose a storage account
$myTargetedStorageAccountName = $myStorageAccounts[0].StorageAccountName

#Get the Storage Account context,
$mySaContext = New-AzStorageContext -StorageAccountName $myTargetedStorageAccountName -Stora

[2019-04-20 17:53] bryandam opened #29761 "Third-Party Updates: System Center Update Publisher Licensing"
In the section for Third-Party updates you mention using System Center Update Publisher (SCUP) to publish updates to WSUS.  While this is technically correct I believe there's a licensing concern there.  As stated in the SCUP EULA* it is specifically licensed as part of System Center Configuration Manager (SCCM) and my not be used without a valid SCCM license.  This should probably be noted in thi

[2019-04-20 18:19] Anand-Moghe commented on #29619
@SnehaAgrawal-MSFT Thanks

[2019-04-20 18:19] #29619 closed

[2019-04-20 18:38] mansetaashok commented on #29557
Hello @RohitMungi-MSFT @zeeshan-ks @AmirGeorge @diberry,

I'm facing the same issue  "System.IO.InvalidDataException: The archive entry was compressed using an unsupported compression method."

As you have suggested in above comments, I am not overriding exported file from LUIS.  Also LUIS doesn't show the option "Export for Container (GZIP)" .  It only shows "Export for container"
![image](https:

[2019-04-20 18:52] guillermoarellano opened #29762 "Need to add CosmosDB support of Managed Identities"
Hi,

Based on the latest post on March 4, 2019, it appears that CosmosDB now supports system-assigned Managed Identities. https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33896353-support-msi-managed-service-identity-direct-acce

Please update the document with this information. Also, please look into the user-assigned identities status for CosmosDB.

Thanks,
Guillermo Arellano

[2019-04-20 19:16] SeanCLeavitt opened #29763 ""The operation is not allowed on account kind Storage""
Leveraging example Az PowerShell above, [https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts#powershell] on an existing Storage Account and receive the following during invocation of "AzStorageAccountManagementPolicy".

"Set-AzStorageAccountManagementPolicy : The operation is not allowed on account kind Storage"

I am using Az PowerShell version 1.7.0 and als

[2019-04-20 22:23] jnprakash commented on #29748
It only works in IE. Please fix that.

On Sat, Apr 20, 2019 at 7:21 AM YASWANTHM-MSFT <notifications@github.com>
wrote:

--
Thanks and Regards
Jay

[2019-04-20 23:12] Karishma-Tiwari-MSFT commented on #29759
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 23:13] Karishma-Tiwari-MSFT commented on #29760
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 23:15] Karishma-Tiwari-MSFT commented on #29761
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-20 23:16] Karishma-Tiwari-MSFT commented on #29762
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-20 23:17] Karishma-Tiwari-MSFT commented on #29763
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-21 01:07] omnekkanti opened #29765 "Import statement " from azureml.train.automl import AutoMLConfig" not working"
I followed the local computer dev environment set up instructions and still having issues running my code.  My code is unable to import  "from azureml.train.automl import AutoMLConfig" from the conda environments i created with commmand : "conda create -n myenv python=3.6.5"  &  " conda create -n myenv python=3.7.3"
I am having same issues on azure notebooks as well. I dont know where i am messing

[2019-04-21 02:21] TwoSeven99 opened #29766 "AADSTS50011 error after publish"
This instructions appear to be out of date.  After publishing the app, I get the above error  (AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application:)

The article does not discuss how to configure the reply URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1

[2019-04-21 03:14] demongolem opened #29767 "Export results to disk"
While it is great to have the scatter graph to visualize the errors, it is far more effect to have say a csv file where I can quickly view the same information.  Can you please allow export of the test results (in text format) so that they can be analyzed faster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2f2b28e-

[2019-04-21 04:14] jakaruna-MSFT commented on #29552
@genlin I submitted a PR as suggested by the user.
I also found some additional issues.
- In the screenshot in point number 5 path has `Machines` in it. But in the path in the text `Machine` is there.
- In the point number 11, we asking the users to remove `scripts.ini` from `%windir%\System32\GroupPolicy\Machine\` but we created it on `\Windows\System32\GroupPolicy\Machine\Scripts`

Please valida

[2019-04-21 04:18] rimman commented on #29543
I believe I've already addressed this thread earlier... We've removed this rate-limiting and the docs have been updated. thanks.

[2019-04-21 04:52] jwr456 commented on #28227
How are the encryption keys segmented?  I need to know whether or not two different Cosmos DB instances will have the same key or different keys.

[2019-04-21 05:04] YASWANTHM-MSFT commented on #29748
@jnprakash, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-21 05:05] YASWANTHM-MSFT commented on #29766
@TwoSeven99, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-21 05:21] xyh1 commented on #29435
Hi @cowinr

A block blob storage account is referring to the account type available only for Premium Block Blobs (SSD based). Tiering is now currently supported on that new performance level.
I will edit the document to make it more clear that it refers to premium block blobs.

Thanks.

#please-close

[2019-04-21 05:25] SnehaAgrawal-MSFT commented on #29619
@Anand-Moghe If you feel you need more information please just let us know.

[2019-04-21 05:27] SnehaAgrawal-MSFT commented on #29618
@Anand-Moghe If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-21 05:32] xyh1 commented on #25366
Hi @jtuliani,

Hot and Cool both offer the same latency in the sense that they are both in the realm of milliseconds.
There is no guarantee of exact "_same_" latency. Both hot and cool are "online" tiers with retrieival latency on the order of milliseconds. Archive is an "offline" tier with retrieval latency on the order of hours.

Hi @Saidevm,

Changing the access tier of an individual blob is ex

[2019-04-21 10:42] thagstedt opened #29768 "documentation"
This tutuorial gives a 404 error as it seems that file test.htm do not exist. It seems they forgot to include a section in the tutorial regarding creating file test.htm on nginx on the scale set vms. It was also the same problem in the route by url tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 321477d6-3bf9-

[2019-04-21 12:12] navinchristen opened #29770 "Xero connector ADF V2 - throughput and timeout issue"
Hi,

I'm facing an issue with Xero connector in ADF V2 while trying to pull the data from Xero API. I'm trying to move data from Xero API tables to Azure SQL. I'm using Copy activity in ADF for the data movement. Xero connector was configured as per the  documentation (https://docs.microsoft.com/en-us/azure/data-factory/connector-xero) and I was able to test the connection and able to view the lis

[2019-04-21 13:19] djpirra opened #29771 "Permissions Required?"
What kind of permissions are required for setting the "Azure Resource Group Deployment"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure Data Factory](https://docs.

[2019-04-21 14:26] AronT-TLV commented on #28157
@colinrubbert I have a question about this scenario. I figured out the above but created a separate subnet for the pool, since I figured it’s not a secure to put it in the same subnet as the AAADS VMs. Everything works fine until I try to connect to the client. I get message “opening remote port” and then immediately get message “Could not connect to “Session Desktop””  Despite the instructions I

[2019-04-21 15:07] ekkelenkamp opened #29772 "x-ms-client-principal-id and undocumented x-ms-client-principal jwt token with google login"
When using the google login, the x-ms-client-principal-id is never set. The x-ms-client-principal header is set and contains a JWT token that contains all claims including the user id.
Should the x-ms-client-principal header be used? And can this JWT header used for other identity providers as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-04-21 15:12] ekkelenkamp opened #29773 ".auth/logout now working for google"
After logging in with google, the logout isn't working.

I configured a test page that you can check:

https://nitrate-app-test.azurewebsites.net/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-ed8798ac5fe1
* Content: [Advanced usage

[2019-04-21 15:43] YASWANTHM-MSFT commented on #29765
@omnekkanti, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-21 15:44] YASWANTHM-MSFT commented on #29767
@demongolem,Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-21 15:46] YASWANTHM-MSFT commented on #29768
@thagstedt, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-21 15:49] YASWANTHM-MSFT commented on #29770
@navinchristen, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-21 15:52] #29435 closed

[2019-04-21 15:52] #25366 closed

[2019-04-21 16:07] MicahMcKittrick-MSFT commented on #29023
@johnwildes this doc does specifically say it is for data disks and not for OS disks

![image](https://user-images.githubusercontent.com/32313503/56472544-ac0a7200-6414-11e9-8e98-33a98b1327c2.png)

I will take a look and see if I can find a good place to include this info in the ASR documentation though.

[2019-04-21 16:39] Anand-Moghe commented on #20114
VSAC require commercial subscription.

[2019-04-21 16:39] #20114 closed

[2019-04-21 16:41] beachseeker opened #29776 "Connect a database instructions are incomplete or incorrect"
I have applied a connection string to an existing SQL database and named the connection string MS_TableConnectionString as the somewhat ambiguous instructions say.  I have selected an Android client, if that matters.  The Connect a database area stays "Click here to learn how to connect to a database".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-21 16:51] artisticcheese opened #29777 "Update readiness showing as "Disconnected" even though all checks pass"
There is some disconnect between what checks are doing and what is shown in portal.

![image](https://user-images.githubusercontent.com/13176884/56473093-019e4900-642c-11e9-81e8-f2926e20738d.png)

![image](https://user-images.githubusercontent.com/13176884/56473096-05ca6680-642c-11e9-943b-d45bff5a53bf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-04-21 17:09] Karishma-Tiwari-MSFT commented on #29773
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-21 17:10] Karishma-Tiwari-MSFT commented on #29772
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-21 17:11] Karishma-Tiwari-MSFT commented on #29771
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-21 17:13] Karishma-Tiwari-MSFT commented on #29776
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-21 17:37] AjayKumar-MSFT commented on #29606
@AlphaCreative, Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue, we would like to work closer with you on this matter.
Since we will work with you offline, we will now proceed to close this thread.

[2019-04-21 18:13] AjayKumar-MSFT commented on #29633
@kazshi, As Daya mentioned, Azure deploys each new App Service plan into a deployment unit, internally called a webspace. Each region can have many webspaces, but your app can only move between plans that are created in the same webspace. The premium v2 plans are not available in all scale units, which is not up to App Service.

Yes, there has been some feedback raised on a similar request(s) on U

[2019-04-21 18:24] girishgouda opened #29778 "ProviderFailed when running a ACI container using virtual kubelet"
Error from server (InternalError): Internal error occurred: error getting container logs?): api call to https://management.azure.com/subscriptions/ddb45f69-d4fe-4d69-b32e-262360763207/resourceGroups/MC_k8sresourcegroup_akscluster_westeurope/providers/Microsoft.ContainerInstance/containerGroups/default-aci-helloworld-7b9ffbf946-5v6ww?api-version=2018-09-01: got HTTP response status code 404 error c

[2019-04-21 18:24] cowinr opened #29779 "Something missing in the RBAC section"
The section https://docs.microsoft.com/en-us/azure/security/security-identity-management-overview#rbac refers to a list of "four fundamental built-in roles.", but there is no such list shown in the section or page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c24e0e2-d91c-e902-1fc3-8a5443f96740
* Version Independent

[2019-04-21 18:31] girishgouda opened #29780 "Getting the meesage "ProviderFailed" when running a ACI container using virtual kubelet by following the documentation"
Error from server (InternalError): Internal error occurred: error getting container logs?): api call to https://management.azure.com/subscriptions/ddb45f69-d4fe-4d69-b32e-262360763207/resourceGroups/MC_k8sresourcegroup_akscluster_westeurope/providers/Microsoft.ContainerInstance/containerGroups/default-aci-helloworld-7b9ffbf946-5v6ww?api-version=2018-09-01: got HTTP response status code 404 error c

[2019-04-21 19:16] rpodric opened #29781 "MFA trusted IPs and V6"
"MFA trusted IPs and conditional access named locations only work with IPV4 addresses."

When will V6 support be coming?  Why isn't it there yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure

[2019-04-21 20:02] rboy1 commented on #23166
A week to go Sigh.... I think we're out of luck here.

[2019-04-21 21:19] Karishma-Tiwari-MSFT commented on #29777
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-21 21:20] Karishma-Tiwari-MSFT commented on #29778
@girishgouda
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-21 21:22] Karishma-Tiwari-MSFT commented on #29779
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-21 21:23] Karishma-Tiwari-MSFT commented on #29778
@girishgouda Since this issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/29780
we will close this issue and help on the other one.

[2019-04-21 21:23] #29778 closed

[2019-04-21 21:25] Karishma-Tiwari-MSFT commented on #29780
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-21 21:26] Karishma-Tiwari-MSFT commented on #29781
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-21 22:11] AvgustPol opened #29782 "Getting filed example"
Hi there,

I am looking for an example of getting custom (or even default) field.

e.g. DisplayName (ATTRIBUTE TYPE: Built-in)
e.g. MyCustomField (ATTRIBUTE TYPE: Custom)

It would be very useful to find an example on this page.

Line "B2C Get-Extension-Attribute &lt;object-id-in-the-output-of-the-above-command&gt;" doesn't give a lot of information on this theme.

Thanks.

---
#### Document Detai

[2019-04-21 22:16] AvgustPol commented on #29782
And is it possible to get only concrete fields?

I don't want to get all the information about the user in one JSON (all these fields like "city". "physicalDeliveryOfficeName", "isCompromised", etc.)

I just need 2-3 of them.

[2019-04-21 23:20] sriramaszone commented on #29745
Hi Yaswanth, Here is the  idea proposed and the URL .
https://feedback.azure.com/forums/270578-data-factory/suggestions/37425853-azure-data-factory-cosmos-to-cosmos-data-copy

I see many of them raised this concern in Azure Data factory .  Let me know if there is some other I need to open a new thread in  another forum.

[2019-04-21 23:36] v-maroge opened #29784 "Export button location change"
The Export button to acquire the SAS URL is currently under "Settings" of the operating system disk. We wish this part is updated. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c3a24-424f-e928-d0c0-89c8b8349bc8
* Version Independent ID: 0ba31a4b-94cf-2b4f-1fbc-29a92fe7d97a
* Content: [Download a Windows VHD

[2019-04-22 00:24] se-augustus opened #29785 "Wildly Inconsistent"
When I try this sample code on the website and pass it a url for an image. I get back EXACTLY what I expect. However, when I upload the exact same file from the console app, the results are NOT the same. I realize this is in preview, but why does the website sample provide better results than the api endpoints I'm using?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-04-22 00:29] CtrlDot opened #29786 "How does this work in a B2B scenario?"
I'm wondering if we can add documentation / comments on how the above would work with B2B scenarios, or scenarios where the RD Web is configured for WIA rather than password authentication.

For reference, the B2B docs are https://docs.microsoft.com/en-us/azure/active-directory/b2b/hybrid-cloud-to-on-premises

It's hard to follow advanced topics/configurations. It seems like these two technologies

[2019-04-22 00:54] dcbrown16 commented on #25924
As @mikeclearbank says, a useful schema would contain all the values that can appear, not just field names. The examples are probably a sufficient workaround for getting things like the timestamp formats or whatever, but the EventName, EventProperties and Status fields for Operational logs aren't clearly defined. message field in the Archive logs could use some more explanation too.

[2019-04-22 01:40] Sshetty2 opened #29787 "Can't locate contract address.."
# Azure documentation issue guidance

- [x] The relevant Azure service or technology.

Deploying an Ethereum POA resource on Azure

- [x] A link to the published documentation article that you have feedback about.

https://docs.microsoft.com/en-us/azure/blockchain/templates/ethereum-poa-deployment#feedback

- [x] Clear, specific feedback that the author can act on.

I can't see where the contract

[2019-04-22 01:44] kazshi commented on #29633
@AjayKumar-MSFT Thank you for the additional information. I read the Note in the link and I think I understand why 'resource group' is mentioned in the limitation - that's what made me confusing.  Closing.

[2019-04-22 01:44] #29633 closed

[2019-04-22 01:50] #29729 closed

[2019-04-22 01:50] AshokPeddakotla-MSFT commented on #29729
@zaphodtx Glad to hear that your issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-22 02:02] kazshi commented on #29697
@Mike-Ubezzi-MSFT Thanks for your comment. Actually I'm (and my customer) attempting to access a .bacpac file from an Azure Storage account. 1) My customer wants to know what the IP address is for (looks like the IP address is for Microsoft.SqlServer.Management.Dac.Services (System.Data.SqlClient.Sql?) from the error message, but I'd like to know what it is exactly). 2) We know it would be process

[2019-04-22 02:21] leonbrag opened #29789 "Poor code documentation"
Please provide explanations for the code. How is MSI_ENDPOINT determined, etc.
at the very least explain that https://prashanthwinvmvault.vault.azure.net needs to be replaced with your own keyvault URI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5c492bc-caaf-04d5-0e87-791fc3e4cef6
* Version Independent ID: fe8ec8c7

[2019-04-22 02:36] DixitArora-MSFT commented on #29551
@kogesaka This will cover Function app as well. If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. For now will proceed to close this thread as there are no doc changes required.

[2019-04-22 02:36] #29551 closed

[2019-04-22 02:57] Karishma-Tiwari-MSFT commented on #29787
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-22 03:01] Karishma-Tiwari-MSFT commented on #29782
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-22 03:04] Karishma-Tiwari-MSFT commented on #29784
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 03:09] femsulu commented on #29434
@mjcarrabine worked internally with some of our Azure SQL and Automation SMEs. update below:

SQL updates are deployed through Microsoft Update (MU), so you should be able to utilize either (as long as the machine is configured to install 1st party updates). Not sure if the sql solution supports clustering. Specifically, SQL has Cumulative Updates (CUs) that get published to Microsoft Update.  The

[2019-04-22 03:09] femsulu commented on #29434
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-22 03:09] #29434 closed

[2019-04-22 03:11] Humour0625 opened #29790 "Can not get the user's photo using GraphServiceClient or Graph Explorer"
Hey guys,

I run into a strange issue when I use the azure graph API to get the photo of an azure ad user.
From the graph explorer(or GraphServiceClient) , I use the photo api as belows:
![graph-explorer](https://user-images.githubusercontent.com/47970766/56480787-44c0f080-64ee-11e9-93de-a8eee5aa81d2.png)

But the results show that the resource is not found. Why this happens? The photo is just on

[2019-04-22 03:14] AjayKumar-MSFT commented on #29786
@CtrlDot, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 03:16] Karishma-Tiwari-MSFT commented on #29517
@dlepow Did you get a chance to take a look at this issue. Thanks :)

[2019-04-22 03:17] philemon33 opened #29791 "If statement never reached, instance never created"
In the code:
[code]

isn't it rigth that the orchestrator can never be created ? The getStatus function is preceded by await, which means a Promise is returned, and existingInstance will never be null. Am I missing something ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5d6badc-f611-71ad-b167-aabfb95dc13f
* Version

[2019-04-22 03:18] AjayKumar-MSFT commented on #29785
@se-augustus, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 03:21] kb321 commented on #22604
Could you please reopen? I do not have the Azure Storage API in the list in AzureUSGovernment environment. I do see it in my commercial subscription. Could you advise as to why this is and if a workaround exists, or is a result of misconfiguration? Thank you.

[2019-04-22 03:22] Karishma-Tiwari-MSFT commented on #29708
@sajjanhubale We appreciate your valuable feedback as it helps us make our products more useful to our customers.
Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you dire

[2019-04-22 03:23] Humour0625 opened #29792 "Authenticate the azure AD user name/password failed using the ADAL."
Hey guys,

I have another issue recently.  My application has an requirement to allow the end users to login to our application using MSFT Azure Ad Account, currently we don't want to integrate with SSO, so the user must specify the azure ad username and password to login to the system. Here are some codes to authenticate I use:

`var authority = "https://login.windows.net/" + _tenantName;

[2019-04-22 03:40] erich-wang commented on #29478
@rajb865 , sorry for late response. We tried the code you provided, unfortunately could not reproduce the issue. Could you please try steps below to see if issue remains:
1. restart iotedge, then wait a few minutes and check if modules is running well
[code]
2. If issue remains, probably it is an environment issue, please provide the info:
 - Result of 'sudo iotedge list'
 - Full docker logs for a

[2019-04-22 03:57] SnehaAgrawal-MSFT commented on #29631
@tony-gutierrez Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue, we would like to work closer with you on this matter.
Since we will work with you offline, we will now proceed to close this thread.

[2019-04-22 03:57] #29631 closed

[2019-04-22 04:09] DashleenBhandari-MSFT commented on #29628
@syuraj, I tried changing the app service plan for my webapp and I could see the D1 plan in the portal screen. Please correct me if I am wrong in understanding the issue.

[2019-04-22 04:13] AjayKumar-MSFT commented on #29654
@ShBansal22, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-22 04:13] msvijayn commented on #29710
Log alerts don't have native AzCLI commands currently. You can get use instead do a [GET call to our scheduledQueryRules API](https://docs.microsoft.com/rest/api/monitor/scheduledqueryrules/listbyresourcegroup) to obtain all log alerts in a resource group. You can do it via command line using tool like ARMclient and running the command:
**armclient GET /subscriptions/{subscriptionId}/resourcegroup

[2019-04-22 04:13] SumanthMarigowda-MSFT commented on #29472
@milleniumfish Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-22 04:13] #29472 closed

[2019-04-22 04:19] SumanthMarigowda-MSFT commented on #29554
@Mark7even . All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-22 04:19] #29554 closed

[2019-04-22 04:19] mayurigupta13 commented on #19584
#close

[2019-04-22 04:20] mayurigupta13 commented on #19584
#please-close

[2019-04-22 04:20] YASWANTHM-MSFT commented on #29549
@bdelamotte83, Since,We haven't heard back from you.we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-22 04:40] jakaruna-MSFT commented on #29780
@girishgouda Do you have the container instances provider registered on you subscription?
You can check that using the below command.

`az provider list --query "[?namespace == 'Microsoft.ContainerInstance'].registrationState"`

It should give an output like this
[code]

If its not registered, Then use the below command to register that provider.

`az provider register --namespace Microsoft.Contai

[2019-04-22 04:40] jakaruna-MSFT commented on #29780
#27719 similar issue

[2019-04-22 04:42] ManojReddy-MSFT commented on #29751
@unmeshM You do not add the client applications in a list to the API that is being exposed. You expose it as an API and the client application has to be configured to access the API.

You have to follow the steps listed [here ](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-access-web-apis)to configure a client application to access an API that is exposed

[2019-04-22 04:44] jakaruna-MSFT commented on #29354
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-22 04:44] #29354 closed

[2019-04-22 04:44] ManojReddy-MSFT commented on #29750
@unmeshM You do not add any client applications to the API directly. You can expose the API and the client applications have to be configured to access this API as per the steps documented [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-access-web-apis).

Any number of client applications can be configured to access an exposed API.

[2019-04-22 04:45] jakaruna-MSFT commented on #29190
@carlfm01 Managed or unmanaged disks should not matter as long as you use the marketplace image

[2019-04-22 04:46] RohitMungi-MSFT commented on #29557
@mansetaashok The file gets downloaded as a .GZ file if you download using portal or curl. Please do not alter or uncompress the file before passing it as input to the container.

[2019-04-22 04:47] jakaruna-MSFT commented on #29546
I will close this out for now as there is nothing to update the actual doc.
I suggest you to open an issue with the Ansible.
If you need additional help please let me know and we can reopen and continue.

[2019-04-22 04:47] #29546 closed

[2019-04-22 04:48] SumanthMarigowda-MSFT commented on #29553
@MoonKing123 Have you referred to this [GitHub ](https://github.com/expressjs/multer)link, If the issue still persists, I would kindly request you to please open [MSDN ](https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazuredata&filter=alltypes&sort=lastpostdesc)thread in order to resolve the issue. Also share the screenshot of the issue after concealing any private details.

We

[2019-04-22 04:48] #29553 closed

[2019-04-22 04:50] KalyanChanumolu-MSFT commented on #29543
@rimman Thank you for confirming.
@wahyuen This limitation doesnt apply and the documentation is updated accordingly.
You can scale your database at any time using your dynamic scaling logic.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-04-22 04:51] #29543 closed

[2019-04-22 04:52] ManojReddy-MSFT commented on #29781
@rpodric Thanks for your feedback. Our product team is actively working on this feature.

I would recommend voting for this feature request [here ](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20564131-add-ipv6-addresses-ranges-in-named-locations), so that product team can prioritize over others.

[2019-04-22 04:55] SumanthMarigowda-MSFT commented on #29644
@jaypatrick It's actually supported for registering endpoints: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes per the release notes, were looking for any scenario that's specific ?

[2019-04-22 04:58] rajb865 commented on #29478
Hi @erich-wang ,

here is the response to the sudo iotedge list

`iot@192:~$ sudo iotedge list
NAME                        STATUS           DESCRIPTION            CONFIG
SimulatedTemperatureSensor  running          Up 3 seconds           mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0
tempSensor                  running          Up 5 seconds           mcr.microsoft.com/azureiotedge

[2019-04-22 05:00] jakaruna-MSFT commented on #29732
@DarqueWarrior I think you have used command prompt to create the dockerfile in this [step](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-quickstart-task-cli#build-an-image-from-a-dockerfile).

When you execute this command`echo "FROM hello-world" > Dockerfile` to create a dockerfile in command prompt, it writes the double quotes also into the Dockerfile.

You can fi

[2019-04-22 05:02] jakaruna-MSFT commented on #29459
@kazshi I reached out to the internal teams. I will update you once i have the information

[2019-04-22 05:03] rajb865 commented on #29478
Hi @erich-wang ,

i tried to restart the module using command `sudo iotedge restart SampleJavaModule` and then got the following logs

`Start to create client with MQTT protocol
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Client creat

[2019-04-22 05:03] neeleshray commented on #29511
You can check this blog - [Creating Azure Key Vault with logging using Azure Resource Manager ARM templates](https://www.codeisahighway.com/creating-azure-key-vault-with-logging-using-azure-resource-manager-arm-templates/)

[2019-04-22 05:03] #29511 closed

[2019-04-22 05:06] Sshetty2 commented on #29787
UPDATE:
I'm not able to see the contract address because the deployment is hanging..  Per the docs for truffle-hdwallet-provider you will need to wrap the provider in a function call;

[code]
When I do this,

my migration deployment hangs and breaks after seeing this output:

[code]

[2019-04-22 05:11] KalyanChanumolu-MSFT commented on #29745
@sriramaszone Thank you for submitting your feedback.
The features are usually prioritized based on the number of users requesting it and built into the product.

[2019-04-22 05:14] ashishthaps1 opened #29793 "HDInsight does not support complete mode"
- [ HDInsight] The relevant Azure service or technology.
- [https://docs.microsoft.com/en-us/azure/azure-resource-manager/complete-mode-deletion#microsofthdinsight ] A link to the published documentation article that you have feedback about.
- Clear, specific feedback that the author can act on.

HDInsight does not support complete mode. Please update the doc

Edit: Added doc details

---
#### Doc

[2019-04-22 05:22] AjayKumar-MSFT commented on #29792
@Humour0625, Thanks for raising this detailed question! Could you also please share the document that you're referring to?

[2019-04-22 05:24] ManojReddy-MSFT commented on #29579
@LarsKemmann Ideally you should see "id_token=eyJ0eXAiOiJKV1QiLCJh....." along with the redirect URI configured in the app. If the redirected URL is in this format , jwt.ms will pick it up and decode it automatically and this works as expected in my environment.

If you are getting a ?code=parameter , then you are receiving an authorization code and not the token. The authorization code needs to b

[2019-04-22 05:24] RohitMungi-MSFT commented on #29642
@helloimchristine I ran the tutorial using the steps mentioned and it worked fine for me. Could you check if you have updated the subscription key and region of the endpoint URL correctly?

Also, I would suggest to clone the [repo](https://github.com/Azure-Samples/Cognitive-Face-CSharp-sample) directly and run it to eliminate any issues with updating the code blocks as per the tutorial and use a p

[2019-04-22 05:33] SubhashVasarapu-MSFT commented on #29446
@cogran, Appreciate your patience.Looks like it is already mentioned in the document about “Allow all Networks” in the firewall section of storage account.

![image](https://user-images.githubusercontent.com/44890829/56484088-71bfd400-64eb-11e9-803a-39e97c8e6e22.png)

You can even upvote [this](https://feedback.azure.com/forums/217313-networking/suggestions/33684529-enable-nsg-flow-logs-for-secure

[2019-04-22 05:33] neeleshray commented on #29779
@cowinr
The RBAC Built-In Roles are documented [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#built-in-role-descriptions). Owner, Contributor, Reader are the basic roles.

[2019-04-22 05:43] rpodric commented on #29781
I often forget about those sites, thanks.

For anyone interested in the topic, it's worth reading the comments over there. I hadn't realized it, but the limitation affects conditional access, too.

The wish was logged on Aug 16, 2017, and MS responded on Nov 23, 2018: "This is high on our list."

[2019-04-22 05:45] AjayKumar-MSFT commented on #29790
@Humour0625, Thanks for posting this question. To better assist you on this issue, could you please share the Azure document that you're referring to?

[2019-04-22 05:47] neeleshray commented on #29643
@MicrosoftGuyJFlo
John, do we have a updated document for the Modern Authentication in Office 2013 ?

[2019-04-22 05:49] neeleshray commented on #29453
Thank you for the update @Tyler-Angell
@MarkusVi Could we have the same added to the document ?

[2019-04-22 05:51] neeleshray commented on #29471
@davidmu1
David, could you kindly look into this ?

[2019-04-22 05:52] neeleshray commented on #29509
@hsbsandrecv
We would be closing this thread now. Let us know if you need further help.

[2019-04-22 05:52] #29509 closed

[2019-04-22 05:57] RohitMungi-MSFT commented on #29765
@omnekkanti I have run through the steps of configuring the [local environment](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-environment#local) and I am able to import `azureml.train.automl`

![image](https://user-images.githubusercontent.com/46958063/56485173-966a7a80-64f0-11e9-816e-e4395fa04bd4.png)

Could you please check if your conda environment is activate

[2019-04-22 05:58] Humour0625 commented on #29792
@AjayKumar-MSFT    I reference the  assembly:

` Microsoft.IdentityModel.Clients.ActiveDirectory, Version=4.5.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35`

[code]

[2019-04-22 05:59] Humour0625 commented on #29790
The graph api:

https://docs.microsoft.com/en-us/graph/api/profilephoto-get?view=graph-rest-1.0

[2019-04-22 06:11] AjayKumar-MSFT commented on #29793
@ashishthaps1, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 06:12] haresh1288 commented on #16997
Overview of Problem Statement.

We are planning to use CosmosDB – MongoDB API for our IoT Telemetry Data.
The requirement had to make join between two collections (some how it’s not
possible to do deformalized schema, due to functional requirement, Hence at
least two collections required to get desired data). So we will planning to
leverage MongoDB Aggregation Pipeline ( with $lookup ).

[Problem]

[2019-04-22 06:13] haresh1288 commented on #16997
Hello,

Thanks for taking the time to send your request to Azure Cosmos DB Engineering Team.
We will get back to you shortly. If you need help right away, please file an Azure support request<https://docs.microsoft.com/azure/azure-supportability/how-to-create-azure-support-request>.

This conversation is tracked. Please do not alter the subject of this email. Use this email thread for further comm

[2019-04-22 06:15] AjayKumar-MSFT commented on #29792
@Humour0625, Thank you for sharing additional details, while we're taking a look into this issue, please help with the Azure doc URL on which above document feedback request is created.

[2019-04-22 06:19] changeworld commented on #29698
@MartinJaffer-MSFT
No. I say that this explanation is misleading.
There are two properties named `type`.
I think it is better to improve it to make identification easier.

If you do not like my suggestion, I think that you may change the description so that you know which type of object it is.
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/azure-monitor/insights/solutions-resour

[2019-04-22 06:20] kick23 commented on #29400
I have created new log alert and able to enable or disable with above script with that my problem solved, but i am not able to perform any actions on the alerts which are created while back(alerts created before migrating workspace to LogAnalyticsAlertsNewAPI) after migrating not able to perform any actions on those alerts is there any limitation on that?

[2019-04-22 06:36] mansetaashok commented on #29557
Hello @RohitMungi-MSFT ,

Thank you for the response.

I am not changing the file. Just downloading it directly from the LUIS or using a curl command and starting container by passing it as an input.

Please find below docker run command

[code]

Please note, I'm using mac OS and passing input file path from the user directory.

[2019-04-22 06:36] Humour0625 commented on #29792
I did not find the useful document from MSFT , I get the answer from some website but can hardly remember the url, eg, stackoverflow

[2019-04-22 06:37] RohitMungi-MSFT commented on #29767
@demongolem Thanks for the feedback regarding batch testing results. Currently I do not see an option to download a file for the results. I would request you to add an idea at our [uservoice](https://cognitive.uservoice.com/forums/551524-language-understanding-luis/) forum where the product group reviews the same and implements them.

[2019-04-22 06:37] PramodValavala-MSFT commented on #29791
@philemon33 Thanks for the question! We will take a look into it and get back to you on this.

[2019-04-22 07:00] Karishma-Tiwari-MSFT commented on #29789
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 07:04] dcbrown16 opened #29795 "Robocopy"
"Use Robocopy between file shares on an on-premises computer."
Is this a copy-paste from Windows error, or is there a Linux version of Robocopy somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d3c03c3-b99c-445a-026e-442dd40599a1
* Version Independent ID: 0a6ff7fb-1702-b50b-50ab-8db7a1832647
* Content: [Troubl

[2019-04-22 07:22] kazshi opened #29796 ""The Server name you tried cannot be found..." error"
My customer wrote a code to access from Functions following the sample code in this content. They have 2 environments and one was succeeded to connect but the other one was not succeeded with getting "The Server name you tried cannot be found. Please use the correct name and retry" error, and they said it's succeeded once they specified as the following for UserID.
1) Any ideas why the customer go

[2019-04-22 07:42] #29549 closed

[2019-04-22 07:57] msrini-MSFT commented on #28209
@dbsanfte , Do you have an update for me?

[2019-04-22 08:00] v-viinde commented on #29712
@KausalyaArumugam Whether its static values or default attribute values, you can add the new attributes by clicking on "Add new claim" that opens the "Manage user claims" dialog and enter the Name in the "Name text box" and value in the "Source attribute" text box and click "Save".
cc @jeevansd @chetansriv @v-pugoe

[2019-04-22 08:22] madhanan commented on #29164
Finally found the issue.

Tried without the **GET** keyword. It worked.. Whew.. !!!

Command Prompt
[code]

[2019-04-22 08:29] ekkelenkamp commented on #29773
I noted that logout does work if the Token Store is disabled in the Authentication / Authorization configuration. So the issue seems only valid if the Token Store is enabled.

[2019-04-22 08:36] YASWANTHM-MSFT commented on #29795
@dcbrown16, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-22 08:46] RohitMungi-MSFT commented on #29785
@se-augustus I believe you are testing from the following [page](https://azure.microsoft.com/en-in/services/cognitive-services/computer-vision/) from the "Read text in images" section. The OCR service on this page is using the preview OCR engine using [Recognize Text](https://eastus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/587f2c6a154055056008f200/console) API.

[2019-04-22 08:52] jinzejian commented on #29580
Thanks Travis. Per "Azure FrontDoor does not have a service tag at this time. It will be integrated into the Azure Cloud service tag in the near future, and get it's own service tag." Do we have a ETA that can be shared with our customer?

[2019-04-22 08:54] RohitMungi-MSFT commented on #29582
@apan64 Thanks for the confirmation, We are glad the steps work for you now.
Yes, the methods are available in the latest version and the client needs to be updated to use the same.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-22 08:54] #29582 closed

[2019-04-22 08:56] kick23 commented on #29400
thanks for the help so far i have found who exactly i was blocked these days, if we try to disable/enable alerts created before migration of work space to "LogAnalyticsAlertsNewAPI", you cannot diable/enable alerts migration when trying to get loganalytics alerts rule(Get-LogAnalyticsAlertRule) output showing GUID for alerts which are created before migration if we create any new alert after migra

[2019-04-22 08:57] YutongTie-MSFT commented on #29518
@lucas95123 Hi Kuan, I will close this issue since your original question has been answered. @swatig007 Hi Swati, do we have any plan for C# SDK?
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-22 08:57] #29518 closed

[2019-04-22 08:59] YutongTie-MSFT commented on #23166
@Jann-Skotdal Hi Jann, do you have any update for this issue?

[2019-04-22 09:06] danielwgrech commented on #14130
Thanks for your reply @BigMorty.  I had managed to do what you suggested, but my question is whether it's possible to debug an SF application with services in different solutions.  We would like to have a solution per "microservice team" or something on those lines, so that a developer doesn't have to open a mega solution with all projects inside.  I guess we'll have to create a new solution which

[2019-04-22 09:16] CHEEKATLAPRADEEP-MSFT commented on #29793
@ashishthaps1 Thanks for your contribution, I've addressed this issue in PR: h[ttps://github.com/MicrosoftDocs/azure-docs-pr/pull/74004](ttps://github.com/MicrosoftDocs/azure-docs-pr/pull/74004).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2019-04-22 09:16] #29793 closed

[2019-04-22 09:34] AjayKumar-MSFT commented on #29611
@dsayed-msft, We have made the requested changes via a PR and the changes should reflect soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-22 09:34] #29611 closed

[2019-04-22 10:10] ramanujam082 opened #29799 "Spelling mistake"
https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet

spelling mistake in above page. For reference "CustimerEntity.cs"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Co

[2019-04-22 10:19] PramodValavala-MSFT commented on #29791
@philemon33 The `await` actually returns the value of the Promise returned by `client.getStatus()`.
Without the `await`, your expectation would have been true.

There seems to be a few subtle typos in this code which might have noticed. I will raise a PR for those.

[2019-04-22 10:24] AshokPeddakotla-MSFT commented on #29629
@victorwangwinmate Thanks for sharing the doc details. Please have a look at the trouble shooting guide and see it helps: [Common issues and resolutions for Azure IoT Edge](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/troubleshoot.md#common-issues-and-resolutions-for-azure-iot-edge)

[2019-04-22 10:32] AshokPeddakotla-MSFT commented on #29704
@LeeHyeongWon Please refer: [Deploy and monitor IoT Edge modules at scale using the Azure portal](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-monitor) and see if it helps.
Also, please help with the link of document on which above document feedback request is created.

[2019-04-22 10:50] kmouline opened #29800 "Azure Stack Migration"
This can also apply to migrate to Azure Stack ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbc6494-188a-e72d-eab0-4f29fda88190
* Version Independent ID: 2d2eef66-4c19-7fe9-5bd1-9efe69597df0
* Content: [Migrate on-premises machines to Azure with Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recov

[2019-04-22 10:51] ManojReddy-MSFT commented on #29387
@watahani You are correct. If the client is regularly using the refresh token to get a fresh pair of access token and refresh tokens, client will not be forced to authenticate.

Thanks for your patience with this. I have assigned this to the author to modify the doc accordingly.

[2019-04-22 11:07] Daya-Patil opened #29801 "Mismatch of information"
Under Deploying the Collector, it says The operating system is Windows Server 2016 (64 bit).
In OS License, it says The collector comes with a Windows Server 2012 R2 evaluation license which is valid for 180 days.

In OS license, shouldn't it be 2016 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089d527e-1632-9d34-1

[2019-04-22 11:21] sajjanhubale commented on #29708
@Karishma-Tiwari-MSFT  I have commented on similar below existing reported post and voted for that.
https://feedback.azure.com/forums/216843-virtual-machines/suggestions/34911835-allow-parallel-execution-of-runcommand.
Just FYI, We thought this feature will be implemented in few months thats the reason we had not  reported this post, we waited almost for one year. I am not sure if this feature onl

[2019-04-22 11:58] beachseeker opened #29802 "Documentation inaccurate or incomplete"
This page has not been updated with changes to the portal.  The changes are numerous, so I will leave it to the authors to review and correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d36664d0-5274-b9be-26f1-e8d17b632192
* Version Independent ID: 0bb4d764-8c25-1ec3-eade-00b026589658
* Content: [Add authentication

[2019-04-22 12:12] jakaruna-MSFT commented on #28822
Got the information. Product team is aware of this issue and it affects datacenteres in India. This issue is happening because of the region name mismatch.
Since this is in preview we cant escalate or we cant get the support engaged.
I will post the improvements here.

[2019-04-22 12:20] v-stepbe commented on #19900
#please-close

[2019-04-22 12:20] ronbok opened #29803 "Where is the Role in the Portal UI ..."
...for all of this, so we don't have to grant all of this individually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93cdb35c-171e-68e7-0bca-340aa7f25dbf
* Version Independent ID: f092253e-2a96-deb1-6a11-6d41255e3310
* Content: [Permissions required to use Azure Network Watcher capabilities](https://docs.microsoft.co

[2019-04-22 12:21] v-stepbe commented on #19900
#please-close

[2019-04-22 12:53] msrini-MSFT commented on #29803
@ronbok , Thank you for posting your question here.  If you need to use Network Watcher, in the portal, you can assign Owner, Contributor or Network Contributor role. The list which was mentioned in the documentation is to create custom RBAC policy.

Let me know if you have any questions.

[2019-04-22 12:58] ronbok commented on #29803
This issue goes far beyond just the permissions / roles.  The very fact that Network Watcher is being allowed to create RANDOM Resource Groups in Subscriptions is a policy violation.  Resource Groups are sacred beasts and must be named according to OUR rules and RBAC assigned along with Tags.  Network Watcher and Databricks are major violators of this and Microsoft needs to STOP allowing their dev

[2019-04-22 13:03] msrini-MSFT commented on #29803
@ronbok , Thank you for providing your feedback. As you mentioned, Network Watcher automatically creates a Resource Group and it may violate your Azure policy which you have created for your subscription. As of now the only way is to create an exception in your Azure policy to this Resource Group. I will pass on this feedback to the Product Group as well.

[2019-04-22 13:03] SubhashVasarapu-MSFT commented on #29114
@cogran , Please refer this GitHub issue #29446 . Ensure that the storage account should have "All Networks" enabled and the same is mentioned in this [Doc](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-portal#enable-nsg-flow-log)
![image](https://user-images.githubusercontent.com/44890829/56501389-37c2f200-652c-11e9-9758-54452256f25f.png)
We are closing t

[2019-04-22 13:03] #29114 closed

[2019-04-22 13:06] SubhashVasarapu-MSFT commented on #29118
@lovelangy , Please do reply if you need any further help.

[2019-04-22 13:11] CeciAc opened #29804 "change calculation to not inflate the size if rounded already"
Hi team,
I'm manually moving this from here: https://github.com/MicrosoftDocs/azure-docs.cs-cz/issues/151

@beerwatch commented a day ago
Your expression
`rounded_size=$((($size/$MB + 1)*$MB))`
always inflates the size by 1MB, even for files which are already meeting the requirement.
A more apropriate calculation is
`rounded_size=$(((($size+$MB-1)/$MB)*$MB))`
I propose a change.

---
#### Document

[2019-04-22 13:18] TxTurbo opened #29805 "Security Concerns with New Login"
By confirming whether an email address exists or not, attackers will now be able to more easily identify valid email accounts for brute force or targeted phishing attacks.  The login messages should remain generic so an attacker cannot gain any additional information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d200

[2019-04-22 13:23] KalyanChanumolu-MSFT commented on #29674
@Jeff-Jacka This is not supported yet.
Please subscribe to this [issue](https://github.com/dotnet/corefx/issues/18276) to get notified when there are more updates.

[2019-04-22 13:28] KalyanChanumolu-MSFT commented on #29799
@ramanujam082 Thank you for pointing this out, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.

We will close this issue now.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-04-22 13:28] #29799 closed

[2019-04-22 13:31] NT-D opened #29806 "Document make misunderstanding about HTTP support."
In the `CDN and SSL support` section, this document describes 'To make your static website files available over HTTPS, see Using the Azure CDN to access blobs with custom domains over HTTPS'. From this document, I thought I must use CDN for using HTTPS.
On the other hand, `How does it work?` section describes that we can access https://contoso.z4.web.core.windows.net/image.png. In addition to it,

[2019-04-22 13:33] KSH-audibene opened #29807 "Typo"
"Now that you have a created your first function"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819f2f
* Content: [Create your first function from the Azure Portal](https://docs.microsoft.com/en-us/azure/azure-functions/functi

[2019-04-22 13:38] beachseeker commented on #16796
This is still broken.  It's April 2019, Microsoft!

[2019-04-22 14:12] tfitzmac commented on #29793
@ashishthaps1 - I just tested this and complete mode deletion for an HDInsight cluster worked as expected. Can you tell me more about your scenario and the steps you took?

[2019-04-22 14:19] KalyanChanumolu-MSFT commented on #29796
Thank you for the detailed feedback. We are actively investigating and will get back to you soon. 

[2019-04-22 14:30] MGoedtel commented on #28678
@Ibnajjar - After researching this further myself I have determined that indeed, when you integrate OpsMgr with Azure Monitor and have Linux servers monitored by OpsMgr, it isn't designed to support monitoring them based on what is configured in the workspace (e.g. collecting perf data, Syslog, etc.).  Even though I came across this statement in the LA Agent overview article - "Linux computers mon

[2019-04-22 14:31] girishgouda commented on #29780
@jakaruna-MSFT I have run the above commands and its already shown as registered but still getting the error

[2019-04-22 14:49] tfitzmac commented on #29521
@johnwildes - I noticed that I had to wait a bit before I could edit the display name. The steps are at [https://docs.microsoft.com/en-us/azure/governance/management-groups/manage#change-the-name-of-a-management-group](https://docs.microsoft.com/en-us/azure/governance/management-groups/manage#change-the-name-of-a-management-group).

[2019-04-22 15:02] OscarCanek commented on #13701
Thank you for the explanation @mpodwysocki 👍

[2019-04-22 15:03] georgewallace commented on #29777
@artisticcheese Thanks for reaching out.  The Update Agent readiness column has 3 possible values, **Ready**, **Not configured**, and **Disconnected**. **Ready** of course means everything is working as expected. **Not configured** means that the agent has never been healthy. **Disconnected** means that at one point the agent was healthy, but now it is not reporting.  If the agent troubleshooter w

[2019-04-22 15:05] KausalyaArumugam commented on #29712
@v-viinde Thank you,I tried it Issue is fixed.
Thank you everyone for your support

[2019-04-22 15:05] #29712 closed

[2019-04-22 15:05] artisticcheese commented on #29777
Yes in about 15 mins it was showing as available. So there is pretty significant delay which is not noted anywhere in documentation and hence was cause for concern.

[2019-04-22 15:05] #29777 closed

[2019-04-22 15:05] cowinr opened #29809 "Web App Firewall section shows wrong diagram"
The section on the WAF in App Gateway (https://docs.microsoft.com/en-us/azure/security/azure-security#web-application-firewall-1) incorrectly shows the Express Route diagram.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce94e95d-f2df-72de-66d0-56930547ee98
* Version Independent ID: 8d258a24-3bd7-dd4e-db41-9cfea8d077e

[2019-04-22 15:07] mike-urnun-msft commented on #29807
@KSH-audibene Thank you for reporting this issue! We have corrected this typo, and the change will reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-22 15:07] #29807 closed

[2019-04-22 15:09] pjirsa commented on #10960
i'm having the same issue. i run 'az aks use-dev-spaces -g mygroup -n mycluster' and it responds with '[K - Searching ..' then it returns to the prompt and azds is not found.

[2019-04-22 15:14] georgewallace commented on #29777
@artisticcheese Thanks for confirming.. I will update the articles to make sure we note the potential delay.

[2019-04-22 15:15] vdevappa opened #29811 "Please update this page for .NET 4.8"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-22 15:17] mattchenderson commented on #29606
Just for some extra information here, the Key Vault reference just gets resolved to an environment variable with the value from KV. I would not expect any special behavior in terms of how sections are handled. It should be just like a JSON env var in ASP.NET Core. The only thing I can think of would be if we're mangling the value. Is the value that you see in the env var the same as what you set i

[2019-04-22 15:18] shashishailaj commented on #29562
@testad We are engaging the author of the article to provide further clarification on this.

@curtand Could you please help clarify the details on this query ?

[2019-04-22 15:19] cwester72 commented on #29488
Oh my apologies,
It is Windows 10 MultiSession.

[2019-04-22 15:21] mattchenderson commented on #29606
And actually now that I think on it, don't config sections actually need to be colon delimited in env vars? JSON is just for when dealing with a config file, correct?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2#getsection-getchildren-and-exists

[2019-04-22 15:23] JRRN commented on #17524
"value": "[concat('DefaultEndpointsProtocol=https;AccountName=', parameters('storageAccountsName'), ';AccountKey=', listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountsName')), providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value)]",

[2019-04-22 15:24] georgewallace commented on #29761
@bryandam Thanks for the feedback.  You are correct, this doc should be updated to mention Config Mgr. I am submitting a PR to update that.  I will leave the licensing information out as we do not explain to them how to use it, but link them directly to the Config Mgr docs that do mention the licensing requirement.

[2019-04-22 15:26] shashishailaj commented on #29762
@guillermoarellano We are assigning this to the author for reviewing this request.

@MarkusVi @priyamohanram Could you please get this reviewed with the engineering and have this page updated accordingly?

[2019-04-22 15:26] bryandam commented on #29761
Thanks George.  Agree with that strategy, I only included the EULA snipped so it sounded slightly less that I (some internet rando) just made the whole thing up.
  Thanks again,
      Bryan

[2019-04-22 15:29] jwargo commented on #13701
#please-close

[2019-04-22 15:31] cowinr opened #29812 "2 adjacent sections contain almost identical content"
The sections Security policy management and reporting (https://docs.microsoft.com/en-us/azure/security/azure-security#security-policy-management-and-reporting) and Azure Security Center (https://docs.microsoft.com/en-us/azure/security/azure-security#azure-security-center-2) are adjacent to each other and both provide a very similar description of the Security Center.
Is the Security policy managem

[2019-04-22 15:35] afish11 commented on #29569
The O365 for Education plans are also missing(A3, A5)

[2019-04-22 15:36] colinrubbert commented on #28157
@AronT-TLV My assumption would be that the subnet wouldn't need to be required to be the same as the AADDS. I think the resource group is more important than necessarily the vnet itself, I just did it that way to reduce complexity while testing things out. From my understanding your AADDS vnet and the WVD vnet need to be in the same resource group/region to be able to make the domain connections,

[2019-04-22 15:39] shashishailaj commented on #29595
@henryphillipsid We understand your concern and woudl engage the content team in order to get this reviewed and updated accordingly.

The cmdlest in AzureAD and MS online service actually make modifications to the same backend however target differnet service layers and its definietely a great suggestion to have them unified but incorporating something new on teh AzureAD side requires to be checke

[2019-04-22 15:45] Mike-Ubezzi-MSFT commented on #29697
There are a couple of ways to identify IP addresses but it depends on whether you are using public or private (VNet) IP addresses:
To understand the private IP ranges used in each Azure region:
[Microsoft Azure Datacenter IP Ranges](https://www.microsoft.com/en-us/download/details.aspx?id=41653).
As for identifying the public IP, you can navigate to the Properties blade (in the Azure Portal) and l

[2019-04-22 15:47] dilv0055 commented on #10893
Hi All,
To know who restarted your VM, please login to your VM and execute the below powershell query
`gwmi win32_ntlogevent -filter "LogFile='System' and EventCode='1074' and Message like '%restart%'" | select User,@{n="Time";e={$_.ConvertToDateTime($_.TimeGenerated)}} `

Result:
![image](https://user-images.githubusercontent.com/34143749/56509195-35847780-64db-11e9-95db-69917a41f00f.png)

[2019-04-22 15:53] shashishailaj commented on #29789
@leonbrag We are engaging the content authors on this issue.

@prashanthmadi Could you please review the details provided in this issue and accordingly make changes as you see fit ?

[2019-04-22 15:53] MicahMcKittrick-MSFT commented on #29804
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-04-22 16:13] Karishma-Tiwari-MSFT commented on #29730
@benjamin-goldman Any update?

[2019-04-22 16:14] AjayKumar-MSFT commented on #29801
@Daya-Patil, Thanks for the question! We are investigating and will update you shortly.

[2019-04-22 16:16] Karishma-Tiwari-MSFT commented on #19479
Screenshot needs to be updated.
Assigning back to @mmccrory.

[2019-04-22 16:23] kevinclarkneudesic commented on #29689
@mike-urnun-msft, any update on this?

[2019-04-22 16:25] ChristianMontoya commented on #28157
@AronT-TLV : No, the subnet should not matter for connectivity. You may also want to check the Network Security Group assigned to the IP addresses or virtual networks, to ensure that the VMs can generate traffic out.

[2019-04-22 16:33] leonbrag commented on #29789
I found the source of the IP used in MSI (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service)

It would be nice to cross reference this document in the tutorial below and provide explanations.

From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Monday, April 22, 2019 8:53 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: leonbrag <leo

[2019-04-22 16:35] Karishma-Tiwari-MSFT commented on #29708
Thanks @sajjanhubale. I will share this feedback with engineering team and share any updates here.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-22 16:35] #29708 closed

[2019-04-22 16:41] georgewallace commented on #29754
@bryandam Thanks for reaching out.  I just re-read those sections and I think I can see where the confusion is.  The [Manage software updates from Azure Automation](https://docs.microsoft.com/en-us/azure/automation/oms-solution-updatemgmt-sccmintegration#manage-software-updates-from-azure-automation) is talking about how you can use Config Mgr collections to be targets for update deployments. So t

[2019-04-22 16:43] alamfsmb commented on #18508
Some of our customers are seeing the same error as well (it is not seen everytime), despite using https:// and all the CORS configurations following the tutorial articles. Could it have something to do with cache, or is it necessary to add the * wildcard for allowed origins?

[2019-04-22 16:44] Adam-Smith-MSFT commented on #29806
@NT-D Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-22 16:45] #29761 closed

[2019-04-22 16:50] georgewallace commented on #28834
@tinod I am working on incorporating this information into the article but the following shows the least permissions needed to deploy the marketplace solution.. Would this level of detail be helpful to have in the article?  In regards to your question, do deploy it from the portal you have to at least be a co-admin because of the Classic Run As Account.  But you can get around this by pre-creating

[2019-04-22 16:53] PatrickFarley commented on #29785
Correct; these are different APIs that return different results. Read more about them here - https://docs.microsoft.com/azure/cognitive-services/computer-vision/concept-recognizing-text

[2019-04-22 16:55] ChristianMontoya commented on #29565
@khan-tariq : We are not planning on supporting Skype for Business, only Teams.

[2019-04-22 16:55] KingdomOfEnds commented on #28225
The PR mentioned above has been merged. Expect to see the changes shortly. Thanks!

[2019-04-22 16:56] yimialejoh opened #29817 "Query disabled in source odbc"
Hi,
I have a odbc source, but the query window is no longer enabled in the copy activity.

before:
![imagen](https://user-images.githubusercontent.com/38698937/56512550-535ed600-64f5-11e9-8c59-adaddfc29bcf.png)

now:
![imagen](https://user-images.githubusercontent.com/38698937/56512595-6ffb0e00-64f5-11e9-8f1f-4e9c59a79a3f.png)

This is the dataset:
![imagen](https://user-images.githubusercontent.c

[2019-04-22 16:57] hmayer1980 opened #29818 "Pricing Question - Pipeline Activity"
I question regarding the Wait Activity and Pricing documentated at https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/.

The documentation states that pipeline Activites are priced at X per Hour. Does this include a Wait Activity - what if I wait for 10 hours?
I am not certain about the pricing, because the documentationt talks about "Azure Integration RunTime" for the pr

[2019-04-22 17:00] SnehaAgrawal-MSFT commented on #29397
@christianarg Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-22 17:00] riserrad opened #29819 "Need to explain how to reconfigure a Self-Hosted IR installation"
After you have it installed, it would be good to make it clear how to reconfigure it.

For example:

- If I regenerated the key I was using, how do I update it on my Self-Hosted IR installation? or
- If I wanted to remove that Integration Runtime and I want to reuse the VM/Node on another IR, how do I do it?

I figured out that we just need to use `dmgcmd.exe -Key [AuthenticationKey]` and then res

[2019-04-22 17:01] CHEEKATLAPRADEEP-MSFT commented on #29563
@yokofms The processes remains same for accessing data sources in Azure Analysis Service.

**Steps to connect Azure Table Storage from Azure Analysis Service:**

**Step1:**  Right click on the data sources => Import from data sources.
![image](https://user-images.githubusercontent.com/44426401/56512518-37871e80-654d-11e9-8033-070607bf4916.png)

**Step2:** Enter Azure Storage account name or URL. (

[2019-04-22 17:06] hmayer1980 opened #29820 "Pricing for "Unknown" Runtime Activites (meta data activities like Wait, Set Variable, If Condition)"
I have just created a comment for the Wait Activity(https://github.com/MicrosoftDocs/azure-docs/issues/29818)

Can you provide a cost sample of a manual polling solution developed as an Data Factory Pipeline.
It does a pooling by checking every 5 minutes in an SQL Table if data is available.
If not it waits for a configurable duration via a Until Loop - das a lookup activity again, then waits agai

[2019-04-22 17:08] bbogontest commented on #29739
ID tokens are the only standard way for a client to authenticate the user locally (rather than authenticating them to an external service, which is what OAuth access tokens enable).  The OIDC spec summarizes this and includes the point you made as well: "It enables Clients to verify the identity of the End-User based on the authentication performed by an Authorization Server, as well as to obtain

[2019-04-22 17:13] SaurabhSharma-MSFT commented on #29809
@cowinr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-22 17:15] amirgra opened #29821 "Using "condition" in VMSS extension"
I tried to use the "condition" in a VMSS extension, and I got this message:

"message": "Could not find member 'condition' on object of type 'VMScaleSetVMExtension'. Path 'properties.virtualMachineProfile.extensionProfile.extensions[1].condition'

how can I achieve the condition functionality with extension in VMSS?

API version i'm using is:
"type": "Microsoft.Compute/virtualMachineScaleSets",
"a

[2019-04-22 17:15] loomlike commented on #29354
@jakaruna-MSFT Sorry for late reply. Here are the error message

[code]

If I use `http` instead of `https` it works and prints out
[code]

I'm testing on DSVM.

[2019-04-22 17:21] bryandam commented on #29754
Later on in the day the 'integration gets you ConfigMgr collections as Azure UM target groups' thing hit me, thanks for point that out ... it makes sense and definitely has value.  In that scenario, turning off ConfigMgr's Software Update Management (SUM) in client settings makes sense.

If you wanted to continue using ConfigMgr for compliance reporting then you'd need to enable ConfigMgr's SUM in

[2019-04-22 17:23] mlimache02 commented on #22603
Hello,

I'm having this same issue. I cannot export an invoice for the external service, in my case I'm using a pay as you go subscription.

Hope you can help me.

[2019-04-22 17:23] cortes- opened #29822 "Typo error at "Edit knife.rb" section"
validation_client_name "myorg-validator" validation_key ""#{current_dir}/myorg.pem"

Must be
validation_client_name "myorg-validator" (there should be a line break)
validation_key "#{current_dir}/myorg.pem" (the article contains an extra double quote)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48933ef2-fdcd-9f32-5a

[2019-04-22 17:24] tfitzmac commented on #29821
@amirgra - do you have it as the first line in that resource definition? As shown in [https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#condition](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#condition)

[2019-04-22 17:24] hmayer1980 opened #29823 "While Loop instead of do-until"
Is there any way to configure the until to work like a while loop in programming langues.
I might not want one iteration at all for the potential "Wait until data is available" operation.
As far as I know I cannot nest multiple layers of "If activities", so its quite dificult to built ....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-04-22 17:29] MarileeTurscak-MSFT commented on #29665
Thanks @mthompsonU . We will close this out then. Please share your findings in the comments or reopen if they are unable to resolve the issue.

[2019-04-22 17:29] #29665 closed

[2019-04-22 17:31] amirgra commented on #29821
Yes,
This is the entire section:

[code]

[2019-04-22 17:32] MarileeTurscak-MSFT commented on #29805
@TxTurbo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-22 17:32] SaurabhSharma-MSFT commented on #29605
@juststur We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-22 17:32] #29605 closed

[2019-04-22 17:32] SaurabhSharma-MSFT commented on #29812
@cowinr Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-22 17:38] msebolt commented on #20653
@scheng924 Thank you for the feedback, the article has been updated.

To setup multiple dev environments, use unique entityID but have them point to the same Coupa domain with different post parameters as per documentation at https://success.coupa.com/Integrate/Technical_Documentation/SSO/02_Coupa_SSO_Setup.

If there are issues please post in the comments below.

[2019-04-22 17:38] #20653 closed

[2019-04-22 17:38] Grace-MacJones-MSFT commented on #29802
Hi @beachseeker, thanks for bringing this to our attention.  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-22 17:40] MightyPen commented on #17899
#please-close  (Is this the correct keyword??)
This Issue 17899 ('azure-docs') was fixed on 2019/01/17, by PR 63380.
Douglas L. is no longer involved.
CC: @PRMerger10 @Alberto-Vega-MSFT
(GeneMi = MightyPen , 2019/04/22)

[2019-04-22 17:42] CeciAc opened #29824 "docker login error on PowerShell"
@ssashir06 commented on [Sat Apr 20 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2489)

[code]
This line fails on PowerShell with "unauthorized: incorrect username or password" error.

[code]
Instead, this line successes (with a warning "WARNING! Using --password via the CLI is insecure. Use --password-stdin.")

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です

[2019-04-22 17:44] CeciAc commented on #29824
Hi team,
I'm moving this here since the user is making a suggestion on one of the code boxes
best

[2019-04-22 17:52] Adam-Smith-MSFT commented on #29763
@SeanCLeavitt What type of storage account are you using ? Life Cycle Management is currently supported only on GPv2 and Blob storage accounts(not including GPV1 blob storage accounts).

[2019-04-22 17:53] tfitzmac commented on #29821
Condition can only be used at the level of the resource type. It looks like you are applying it within a property of the resource type. You can try moving the [extension](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2017-03-30/virtualmachinescalesets/extensions) out as it own resource within the scale set, and then apply condition there.

[2019-04-22 17:56] MarileeTurscak-MSFT commented on #29670
Thanks @smoms -

I'm testing this in my lab.

[2019-04-22 17:59] MartinJaffer-MSFT commented on #29698
Oh.  I see, you are talking about:
![image](https://user-images.githubusercontent.com/46612670/56515168-22c66e80-64ec-11e9-9fb6-3f3b7e81a822.png)
What if I changed it to:

Does this help @changeworld  ?

[2019-04-22 18:01] ColbyTresness commented on #29689
@kashimiz to take a look

[2019-04-22 18:03] jordanchang opened #29825 "What is the Environment config builder?"
What is it and why do I need this? Seems like it works without using the Environment Config builders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bda25f-abd6-9ed3-5e5c-ebe53196dac2
* Version Independent ID: 265ace8e-9474-af38-7234-d89f6af38408
* Content: [Quickstart for Azure App Configuration with .NET Framework]

[2019-04-22 18:03] MicahMcKittrick-MSFT commented on #27152
@kirthiroyadu I updated the doc to include the F series.

Once the PR merges the changes will go live in a few hours.

[2019-04-22 18:03] #27152 closed

[2019-04-22 18:03] johnwildes commented on #29521
Hmm...the delay is interesting, even with the portal reporting as being an Owner of the resource.  It works now, I didn't come back and check it until I read this comment.  I'll note it for the future.

[2019-04-22 18:06] MarileeTurscak-MSFT commented on #29805
Thanks for the feedback, @TxTurbo .

I think this is a valid point and am reporting your comments to the product team. I will update this thread when I have a response from them.

CC: @curtand

[2019-04-22 18:08] Alberto-Vega-MSFT commented on #29690
@LeeHyeongWon Thanks for sharing the link to the corresponding document. Now to answer your question:
_what is stored "/iotedge/storage/"?_
You can store the messages your devices generate when they are offline.

Please read the Azure IoT Reference Architecture  document. You can download it here http://aka.ms/iotrefarchitecture if should give you a good idea on how to architect your solution. Wit

[2019-04-22 18:21] Alberto-Vega-MSFT commented on #29629
@victorwangwinmate Have you seen this  [issue](https://github.com/MicrosoftDocs/azure-docs/issues/19048)? Another customer facing the same error for the same tutorial. If this doesn't help  would you please open an issue here? https://github.com/azure/iotedge/issues? Someone from the IoT Edge team will follow up with you.

[2019-04-22 18:33] #20644 closed

[2019-04-22 18:43] AlphaCreative commented on #29606
Well the crux of the issue here could be that we were expecting this to work with appsettings.json and I think that is where we got off track.  We thought we could use this to replace the values in our appsettings.json with key vault references and expected the configuration subsystem using GetSection and GetConnectionString calls to work as is.  After looking into this further it appears that Key

[2019-04-22 18:46] jordanchang opened #29830 "Reload values"
It appears the values are read when my app (an ASP. NET MVC app) is started. How can I force it to re-read the values or does it cache it for a set duration? I would like to use this product as a feature toggle for non-developers. Is that a valid use case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bda25f-abd6-9e

[2019-04-22 18:48] kashimiz commented on #29689
Thanks for flagging me on this, Colby. When we developed the `durable-functions` library, TypeScript definitions for Azure Functions were still in development, so we had to roll our own. We'll be updating to the official definition in the next release, scheduled for the end of April / early May, as noted in azure/azure-functions-durable-js#46

[2019-04-22 18:51] MicahMcKittrick-MSFT commented on #29023
@johnwildes I added a link to the disks FAQ that states GPT is only for data disks to the link you provided in the original comment. That way the cross linking is easy to find and it will be less confusing.

Once the PR merges the changes will go live in a few hours.

[2019-04-22 18:51] #29023 closed

[2019-04-22 18:52] msebolt commented on #20631
@kung-foo Please refer to https://docs.microsoft.com/rest/api/datafactory/v1/data-factory-data-factory#get (for v1) or https://docs.microsoft.com/rest/api/datafactory/factories/get (for current v2).

If there are any issues please comment below.

[2019-04-22 18:52] #20631 closed

[2019-04-22 18:52] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint any update on this?

[2019-04-22 18:56] Alberto-Vega-MSFT commented on #29787
@Sshetty2 Assigning the issue to the content author to help answer and evaluate your feedback. Thanks

[2019-04-22 19:01] PatAltimore commented on #29787
@codyborn Can you take a look at this question?

Thanks,
Pat

[2019-04-22 19:02] igorvt77 opened #29832 "Document correction needed"
Section:
App-based or compliant device policy for Exchange Online and SharePoint Online
Step 2 - Configure an Azure AD conditional access policy for Exchange Online with Active Sync (EAS)
4) Conditions: As Conditions, you need to configure Client apps.
As Client apps (preview), select Mobile apps and desktop clients and Exchange ActiveSync clients.
- The picture doesn't match the words.  Please re

[2019-04-22 19:03] vdevappa commented on #29811
Framework code is: 528049 = 0x80EB1

Here is the update for the script:

`
REM ***** To install .NET 4.8 set the variable netfx to "NDP48" *****
set netfx="NDP48"

if %netfx%=="NDP48" goto NDP48

:NDP48
set "netfxinstallfile=ndp48-web.exe"
set netfxregkey="0x80EB1"
goto logtimestamp
`

I will verify whether this works or not...

[2019-04-22 19:07] #29736 closed

[2019-04-22 19:09] MGoedtel commented on #28678
#please-close I've updated the documentation to address this and should go live later today.  Thanks.

[2019-04-22 19:10] TravisCragg-MSFT commented on #29811
@vdevappa This issue came under the Azure Docs repo, I have updated the metadata to put your issue in the correct spot.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-22 19:17] msebolt commented on #20623
@anthonykirby Thank you for providing your input and diagnosis.  Unfortunately Fedora is not currently supported, see https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros, though I've submitted a +1 for its adoption.

If there are issues with a supported distribution, please either re-open or create a new issue.

[2019-04-22 19:17] #20623 closed

[2019-04-22 19:19] dlepow commented on #29517
@sonpeppers @Karishma-Tiwari-MSFT - Thanks for the question. I too can reproduce this behavior. I opened an [issue ](https://github.com/Azure/acr/issues/212 ) for the engineering team to track. This is a known issue under investigation related to server-side caching of repo metatdata. So, there can be a few seconds of delay when displaying updated attributes .
#please-close

[2019-04-22 19:26] vdevappa commented on #29811
Confirmed that my script works fine. Takes a bit long to install the first time, and also to load the page the first time after this script is deployed.

[2019-04-22 19:30] tonio-lora opened #29833 "06/02/2019 shows as Update Date"
Could you please fix the Update date? It shows:  06/02/2019

Thanks,

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41dfad-9591-8a8d-6119-259d90da18c7
* Version Independent ID: f4bc3316-a230-a486-d1f7-69962ec8030e
* Content: [Upgrade your big data analytics solutions from Azure Data Lake Storage Gen1 to Azure Data La

[2019-04-22 19:34] msebolt commented on #20597
@saulcruz  Thank you for your feedback, the documentation has been updated.

[2019-04-22 19:34] #20597 closed

[2019-04-22 19:39] droessmj opened #29834 "Audit/Log Entry for Processing of Lifecycle Policy"
Is there a means to identify when a lifecycle policy was processed and what actions were performed during a given execution (e.g., X was deleted, Y was set at a different storage tier, etc.)? I'm currently looking to identify when execution has occurred, and I'm not seeing anything within Log Analytics nor  the Activity Log which allows me to confirm execution.

---
#### Document Details

⚠ *Do no

[2019-04-22 19:41] cogran opened #29835 "AppGW Metrics"
"Http response status returned by Application Gateway" as a Count metric this is unclear if this is actually providing the acutal HTTP Response or a count of responses or a count of actual HTTP Responses. Can this be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Versio

[2019-04-22 19:44] amirgra commented on #29821
@tfitzmac **Thanks!** moving the extension to its own resource block worked.

Besides that "condition" worked outside of "extensionProfile", **what is the difference if I add extensions inside "extensionProfile" or as a resource blocks under "resources" list directly?**

---
This is the new block (might benefit others who are seeing this)
[code]

[2019-04-22 19:55] dustinlcraig commented on #22223
@DJackson625

Could you please clarify the attributes that you had highlighted? I can't see the picture and I'm having a similar issue.

Thanks!

[2019-04-22 19:57] roygara commented on #29070
@artisticcheese sorry about the delayed response, it took a while to go back and forth with the product team.

I was mistaken, you were already using the correct method of access for the new metrics, it **does** have what you encountered as a current known issue.

We do not currently have any documentation covering how to access new metrics using powershell but we will be adding it in the future.

[2019-04-22 20:00] MicahMcKittrick-MSFT commented on #29824
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 20:01] MicahMcKittrick-MSFT commented on #29822
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-22 20:02] xyh1 commented on #14574
@suyogjainvrts just 1 hour

[2019-04-22 20:02] xyh1 commented on #13676
Blob storage accounts are also supported. GPv1 accounts do not support tiering

[2019-04-22 20:03] artisticcheese commented on #29070
I'm confused about what you are stating. Are you saying that it's impossible to access new metrics via powershell or it's a known issue that sometimes metrics will be empty when you access them via powershell?

[2019-04-22 20:07] tonio-lora commented on #29833
My bad, I was looking at the en-gb url.

[2019-04-22 20:09] roygara commented on #29070
@artisticcheese I'm not saying it's impossible. It is possible, and you are using the correct access method (there is an alternate but it access the storage API and not the metrics API). It does also have the metrics sometimes being ampty as a known issue but, the access method which goes to the metrics API is not documented in our conceputal documentation (currently), as you noted, it's not in th

[2019-04-22 20:10] Karishma-Tiwari-MSFT commented on #29517
Thanks @dlepow! :)
@sonpeppers
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-22 20:10] #29517 closed

[2019-04-22 20:11] #29070 closed

[2019-04-22 20:12] MicahMcKittrick-MSFT commented on #29824
@ssashir06 I ran through the doc as written and did not face any errors

[code]

Make sure you are using the new PowerShell version which the commands do look similar to CLI

Instructions on how to install this can be found at the top of the article

![image](https://user-images.githubusercontent.com/32313503/56525705-34197600-6500-11e9-9507-b5b8d0f87c89.png)

I will close this as there are no iss

[2019-04-22 20:12] #29824 closed

[2019-04-22 20:21] afish11 commented on #29569
After a call with Microsoft, I found you can use the following to get a list of all product IDs for all SKUs in your tenant:

Get-MsolAccountSku | Select -ExpandProperty ServiceStatus

Hope it helps someone.

[2019-04-22 20:21] afish11 commented on #27223
After a call with Microsoft, I found you can use the following to get a list of all product IDs for all SKUs in your tenant:

Get-MsolAccountSku | Select -ExpandProperty ServiceStatus

Hope it helps someone.

[2019-04-22 20:21] afish11 commented on #18553
After a call with Microsoft, I found you can use the following to get a list of all product IDs for all SKUs in your tenant:

Get-MsolAccountSku | Select -ExpandProperty ServiceStatus

Hope it helps someone.

[2019-04-22 20:21] afish11 commented on #12547
After a call with Microsoft, I found you can use the following to get a list of all product IDs for all SKUs in your tenant:

Get-MsolAccountSku | Select -ExpandProperty ServiceStatus

Hope it helps someone.

[2019-04-22 20:22] afish11 commented on #12350
After a call with Microsoft, I found you can use the following to get a list of all product IDs for all SKUs in your tenant:

Get-MsolAccountSku | Select -ExpandProperty ServiceStatus

Hope it helps someone.

[2019-04-22 20:25] TravisCragg-MSFT commented on #29580
@jinzejian Unfortunately no, I cannot state a time that it will be ready at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-22 20:25] #29580 closed

[2019-04-22 20:33] bmoore3446 commented on #12365
There is a weird character in the script it prevents the script from running when it is copied.  The character is Â

[2019-04-22 20:46] Japeth opened #29839 "Remove-AzSqlDatabaseLongTermRetentionBackup"
The Remove-AzSqlDatabaseLongTermRetentionBackup seems to not work in the manner described...

[code]

The resource Id of the backup I'm looking at looks like this:
/subscriptions/MYSUBSCRIPTIONID/providers/Microsoft.Sql/locations/centralus/longTermRetentionServers/MYDATABASESERVER/longTermRetentionDatabases/MYDATABASE/longTermRetentionBackups/46e64f3c-264b-4bad-9d97-453ee74a2412;132002137110000000

[2019-04-22 20:52] BigMorty commented on #14130
@danielwgrech - I have a few ideas that might work for you, but I need a little more information about your scenario. Would it be possible for us to get on a Skype/Teams call to discuss more? If so, please send me an email at mike.morton@microsoft.com with a few suggested date/times.

[2019-04-22 21:07] shannonjkbmgf opened #29840 "Question on Working branch and lack of local branch"
Greetings,

First and foremost, this documentation does not describe that when you set up git integration, you are asked for a working branch. Is this considered the 'feature' branch where developers should be making changes, before issuing a pull request/merge to the collaboration branch?

Secondly, while feature branches are one solution, it would  nice to have the ability to pull data factory c

[2019-04-22 21:10] iainfoulds commented on #29700
There's a doc update already staged that will publish in the next couple of weeks around this part of the content. For now, aks-engine is the upstream project that forms the basis of the managed AKS offering. If you need to configure a cluster with specifics beyond what's supported in the managed AKS offering, you'd need to deploy and configure your own aks-engine instance - https://github.com/Azu

[2019-04-22 21:11] #29700 closed

[2019-04-22 21:18] omnekkanti commented on #29765
i used only one environment in my command. please look at the screenshot attached.`
<img width="1082" alt="Screen Shot 2019-04-22 at 4 13 08 PM" src="https://user-images.githubusercontent.com/23488230/56531618-f6c1e200-6519-11e9-8edf-a972b81223dc.png">

I have the libraries installed
`

[2019-04-22 21:18] jofrance opened #29841 "Disable disk encryption"
Disable disk encryption bullets are duplicated on ScaleSets and Enable disk encryption, this is not needed also the syntax is incorrect on Enable Disk Encryption since VolumeType is also needed, there's a dedicated Disable Disk encryption section, this should be the only place to make references to Disabling encryption.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-04-22 21:30] Mike-Ubezzi-MSFT commented on #19900
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-22 21:30] #19900 closed

[2019-04-22 21:39] MartinJaffer-MSFT commented on #29659
What is the Use Case for viewing service principals through HDinsight? @Anmolgan81

[2019-04-22 21:46] msebolt commented on #20573
@chezang Article has been updated.

@amazingyyc See https://github.com/open-mpi/ompi/issues/5789 and https://github.com/horovod/horovod/issues/5.

[2019-04-22 21:46] #20573 closed

[2019-04-22 21:47] talktovishal commented on #23166
hi @rboy1 ,

I am an engineer from the Translator team and would like to apologize for the extremely delayed and muddled reponse to your question.

We have a github example which will help you for your migration but doesn't cover the part for de-serializing the json. We are working to update the sample @ https://github.com/MicrosoftTranslator/Text-Translation-API-V3-C-Sharp

Meanwhile, following i

[2019-04-22 21:50] talktovishal commented on #27175
hi @petrpucek ,

I am an engineer from the Translator team. Can you please provide more details about your source sentence you are trying to translate? You mentioned that you need the alignment info for tags. Our api handles html tags and wel formed sentences. I wonder if you can send your sentence as-is and let the api do the heavy lifting for you.

Thanks

[2019-04-22 21:51] #29639 closed

[2019-04-22 21:54] MartinJaffer-MSFT commented on #29823
Hello @hmayer1980  and thank you for your question.  I will start looking for workarounds.

[2019-04-22 21:55] angie4u opened #29843 "Friendly guidance to fix out-of-quota errors"
I have seen many customers who had "out-of-quota errors" to their bot, but they have difficulties to fix it. I know this is the document about it, but it will be great if it is easy to find! Customers sometimes think that the problem is related to their bot, not LUIS because they normally meet this error in their Bot emulator!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-22 21:56] talktovishal commented on #23210
hi @lsmith999999,

I have responded on this thread: https://github.com/MicrosoftDocs/azure-docs/issues/23166#issuecomment-485564110

thanks

[2019-04-22 22:04] dlepow commented on #29732
@DarqueWarrior @jakaruna-MSFT - This is a good case to cover in the docs, so thanks for raising. I tested a simpler echo command without quotes that seems to work fine across shells, so I'm updating the doc accordingly. Thanks!
#please-close

[2019-04-22 22:04] msebolt commented on #20561
@AdamSharif-MSFT  Verification emails can be handled differently depending on the certificate provider and some may or may not support sub-domain email addressing.  DigiCert as used in the article appears to only support domain emails (or a phone number as an alternative), see https://www.digicert.com/ssl-validation-process.htm.

[2019-04-22 22:04] #20561 closed

[2019-04-22 22:05] diberry commented on #29843
@angie4u Yes, this is a tricky problem. Do you think the improvement should be in the bot docs, LUIS docs, or both?

[2019-04-22 22:08] talktovishal commented on #25785
hi @jloughlinMSFT ,

You may use sample data from http://opus.nlpl.eu/OpenSubtitles2018.php . You may navigate at links at the top for smaller data sets.

[2019-04-22 22:10] MartinJaffer-MSFT commented on #29823
@hmayer1980  I am pleased to present you with an ingenious workaround.  By abusing the type-checking of a SetVariable activity, and the 'if' _dynamic expression, not the activity_, I can create a top-level switch.  Take a look at the attached example.  You can then replace the conditionals as appropraite.
A while-loop differs from a do-until-loop principally by whether the conditional is checked b

[2019-04-22 22:12] angie4u commented on #29843
I think it will be great to have both in LUIS docs and bot docs! Customers normally meet this error when they prepare an important demo and they are panicking.

[2019-04-22 22:12] #28678 closed

[2019-04-22 22:13] TravisCragg-MSFT commented on #29830
@jordanchang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-22 22:15] TravisCragg-MSFT commented on #29825
@jordanchang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-22 22:17] TravisCragg-MSFT commented on #29839
@Japeth can you post a link to the doc you are referring to?

[2019-04-22 22:19] MartinJaffer-MSFT commented on #29823
Since you want to determine whether data is ready, I suggest you utilize the [validation activity](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-validation-activity).  This activity's name is misleading.  It does not validate _data_, instead it causes execution to wait until the _dataset exists_.

[2019-04-22 22:19] MartinJaffer-MSFT commented on #29823
@hmayer1980  which of these do you find more helpful?

[2019-04-22 22:21] tamram commented on #28966
@DMoonesinghe - The Azure Storage emulator described in the document runs only on Windows. On Linux, you can use [Azurite](https://github.com/azure/azurite).

I've updated [Get started with Storage Explorer](https://docs.microsoft.com/azure/vs-azure-tools-storage-manage-with-storage-explorer) to make that more clear. The version noted in that article (1.1.0) applies to Storage Explorer, not to the

[2019-04-22 22:22] DJackson625 commented on #22223
Azure Active Directory  admin/Enterprise Applications/salesforce/provisioning/mappings/
Click on the field “Synchronize Azure Active Directory Users to salesforce.com”

Enabled should be set to yes
Source object
User
Source object scope
All records
Target Object Actions
*place check marks on the following:
Create
Update
Delete

Attribute Mappings                        Saleforce.com Attribute

[2019-04-22 22:24] tamram commented on #29622
@dcbrown16 - Thanks for your suggestions. I've updated the doc with a new section that describes this better and points to other supporting articles.

Here's the new section:

https://docs.microsoft.com/azure/storage/common/storage-auth-aad?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#access-data-with-an-azure-ad-account

[2019-04-22 22:24] rboy1 commented on #23166
@talktovishal thanks for the note. It is not possible for MS to simply create a service endpoint like you did for V2? This makes the migration easy rather having to rewrite the entire application, we can just point to a new service endpoint URL and let MS handle all the detailed behind the scenes. This would be an ideal way to migrate especially since it appears that 99% of the functionality betwe

[2019-04-22 22:40] Mike-Ubezzi-MSFT commented on #29652
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-22 22:40] #29652 closed

[2019-04-22 22:47] richardspitz opened #29846 "Upload Custom Policy - Error"
![image](https://user-images.githubusercontent.com/15606759/56536813-d2fb9d80-6513-11e9-9775-c55baf96259f.png)

When using Identity Experience Framework Custom policies, the TrustFrameworkBase.xml has the option to specify the ApplicationObjectId and ClientId for the Azure Active Directory Claims Provider:

    <ClaimsProvider>
      <DisplayName>Azure Active Directory</DisplayName>
      <Technic

[2019-04-22 22:48] MartinJaffer-MSFT commented on #29819
Thank you for your question/comment @ricardoserradas .  We will review the document and get back to you.

[2019-04-22 22:50] Mike-Ubezzi-MSFT commented on #29658
@djpirra The correct title is `Min Concurrent Queries` as that is the guaranteed minimum for that resource class.

Please see the following comments [#1](https://github.com/MicrosoftDocs/azure-docs/issues/22520#issuecomment-454573940) and [#2](https://github.com/MicrosoftDocs/azure-docs/issues/22520#issuecomment-454992373) to the same question asked in a previous GitHub doc issue [#22520](https://

[2019-04-22 22:50] #29658 closed

[2019-04-22 22:57] MartinJaffer-MSFT commented on #29817
Hello @yimialejoh and thank you for your question.  We will review the issue and get back to you.

[2019-04-22 22:58] Mike-Ubezzi-MSFT commented on #29684
@tfitzmac Can you help out here? The document: [Microsoft.Sql servers/advisors template reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2014-04-01/servers/advisors) is detailing functionality that is not fully supported. The functionality is configurable via ARM template but updates to that functionality via ARM should not be documented. There is an ask (per previous comm

[2019-04-22 22:59] MartinJaffer-MSFT commented on #29820
Thank you for your question @hmayer1980.  I realize pricing can be confusing.  We will review the document and get back to you.

[2019-04-22 22:59] rolyon commented on #28160
Hi @admintgal
Let us know if you have any additional feedback.
thanks

[2019-04-22 22:59] rolyon commented on #28160
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-04-22 23:01] MarileeTurscak-MSFT commented on #29670
Hi @smoms ,

Since this is a product issue and not a documentation issue, please open this same question on MSDN and I will continue to troubleshoot there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

I am trying to replicate in my own lab and will post to this thread once I have an answer.

Also, if you would prefer you can message your subscription ID to AzCommunity@

[2019-04-22 23:01] #29670 closed

[2019-04-22 23:02] Mike-Ubezzi-MSFT commented on #29697
@kazshi Please see my previous comment from earlier today, if you haven't already. Please feel free to ask any additional questions but in the mean time I am going to close this.

[2019-04-22 23:02] #29697 closed

[2019-04-22 23:03] MartinJaffer-MSFT commented on #29819
I understand your first point, and including in documentation makes sense to me.
However I am having trouble with your second point.  Could you please clarify, @ricardoserradas ?
You want to remove your integration run time, and then put it back on?  An Integration Runtime allows Data Factory to access the local data sources.  How is one IR different from another?

[2019-04-22 23:05] dcbrown16 commented on #29622
That should help customers understand from a single page. Thanks!

[2019-04-22 23:05] #29622 closed

[2019-04-22 23:05] tfitzmac commented on #29684
I'll remove it.

[2019-04-22 23:14] Karishma-Tiwari-MSFT commented on #29732
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-22 23:14] #29732 closed

[2019-04-22 23:14] #28160 closed

[2019-04-22 23:22] paulbouwer commented on #29592
@mganeshphani - have a look at the details in issue #21106. Let us know if this resolves your query.

/cc @MicahMcKittrick-MSFT

[2019-04-22 23:28] StephenFerrero commented on #29692
Seeing the same behavior, It also seems I cannot create the automation account ahead of time. The pick automation account step, doesnt see existing accounts.

[2019-04-22 23:33] camoisan opened #29847 "Out of Date Powershell Cmdlets"
• Connect-AzAccount should be Connext-AzRMAccount
	• Get-AzSubscription should be Get-AzureRmSubscription
	• Select-AzSubscription should be Select-AzureRmSubscription
	• $ResGrp = New-AzRsourceGroup $resourceGroupName -location 'East US' should be $ResGrp = New-AzureRmResourceGroup $resourceGroupName -location "East US"
	• Set-AzDataFactoryV2 should be Set-AzureRmDataFactoryV2
	• Set-AzDataFactor

[2019-04-23 00:06] MartinJaffer-MSFT commented on #29818
Hello and thank you for your question @hmayer1980 .  We will review the issue and get back to you.

[2019-04-23 00:12] Mike-Ubezzi-MSFT commented on #29684
@sugarjig We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-23 00:12] #29684 closed

[2019-04-23 00:22] talktovishal commented on #23166
hi @rboy1 ,

That's a good point.

We listened to the developer feedback and wrote the v3 version that conforms to the REST design principles and makes it easier to work with when developing mobile apps. We were trying to better manage our stack and decided to deprecate v2 since the majority of our developers have moved to v3 after it was announced. Also, please note that we plan to add new featur

[2019-04-23 00:24] tfitzmac commented on #29684
The advisors reference article has been removed.

[2019-04-23 00:27] SaurabhSharma-MSFT commented on #29721
@bbqchickenrobot Sorry for your inconvenience.  This issue seems reported by other users on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/aa1fdcb5-b95c-4562-9096-32f7241e3ea3/visual-studio-2019-connected-service-key-vault-missing?forum=visualstudiogeneral) and [Visual Studio Developer community](https://developercommunity.visualstudio.com/content/problem/533472/secure-secrets-with-azure-ke

[2019-04-23 00:29] obzervr opened #29850 "How do cached reads (matched eTag) affect RUs?"
We're considering the use of the 'If-None-Match' header containing an existing eTag to leverage the caching built into Cosmos Db. Our intention is to reduce RUs.

Do cached reads (where the eTag matches) count towards RUs in the same way that an uncached read counts towards RUs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-23 00:34] SamNutkins opened #29851 "Clarification on AD App Registration Best Practices"
The documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#overview) states that Azure AD App Registrations can serve as both client apps and resource servers simultaneously.  [This comment](https://github.com/MicrosoftDocs/azure-docs/issues/7278#issuecomment-385851012) in a previous issues affirms that.

However, many walkthroughs a

[2019-04-23 00:35] changeworld commented on #29698
@MartinJaffer-MSFT
Very easy to understand!

[2019-04-23 00:39] MartinJaffer-MSFT commented on #29817
Do you know what you changed @yimialejoh ?

[2019-04-23 00:40] salexu commented on #29229
Customization of the SQL information protection policy is now accessible by choosing "Data & storage" from the Security Center main menu and then clicking "SQL Information Protection" button at the top. We will update the documentation accordingly, thanks for the feedback!

[2019-04-23 00:41] Humour0625 commented on #29792
Hey Guys,
Any feedback on this?

[2019-04-23 00:41] Humour0625 commented on #29790
Hey Guys,

Any feedback on this?

[2019-04-23 00:49] MartinJaffer-MSFT commented on #29820
You make a good point, @hmayer1980 , for an additional example to document. Unfortunately, I am not authorized to speak on billing matters.  I could escalate this to the document team, but this wouldn't get you an answer specific to your case.  Prices can vary depending upon location or Agreement.  For assistance from a billing expert, please raise a billing support ticket.
You can find more infor

[2019-04-23 00:58] MartinJaffer-MSFT commented on #29820
@sharonlo101  , @craigg-msft  Could you provide some guidance, please?
The referenced issue #29818  greatly clarifies the ask:
How do non-write activities which affect pipeline run time affect costs? (Wait, Until, Validate)

I chose to use this issue instead of #29818 because this is linked to the appropriate doc.  Updating the activity-specific pages would de-centralize the pricing information.

[2019-04-23 01:03] MartinJaffer-MSFT commented on #29818
Given how closely related issue #29820 is to this issue, I would like to merge issues or mark this as duplicate.  Currently I am addressing in the other issue.
@hmayer1980 , I am going to close this issue now.  Please let me know if there is a reason to separate the issues here, and I will re-open this issue.

[2019-04-23 01:03] #29818 closed

[2019-04-23 01:04] MartinJaffer-MSFT commented on #29840
Hello and thank you for your question, @shannonjkbmgf .  We will review the document and get back to you.

[2019-04-23 01:16] MartinJaffer-MSFT commented on #29698
Thank you @changeworld .  I will discuss this change with the document team.

[2019-04-23 01:16] #29698 closed

[2019-04-23 01:28] cogran opened #29853 "Optimizing a single private peering"
It's unclear that private peering does not support weighting for optimization for primary/secondary links. In the portal, one can see from the Express Route blade, that there is a routing metric when looking at the routes from the peering. This implies that this is a metric that can modified. It should be called out either here, in the portal, or both that primary/secondary peerings within a conne

[2019-04-23 01:32] kazshi commented on #29697
@Mike-Ubezzi-MSFT Thanks for you additional info. Actually I (and my customer) already tried to do that, but looks like the IP address in the error is not for the storage account. For example, Storage IP (in Properties blade for Storage) is 13.71.200.64 which is in uswestcentral region, and the IP in the error is 168.62.4.39 which is in uswest region (SQL Server is in the region). That's why my qu

[2019-04-23 01:57] gerisg commented on #27619
The QnA team never respond to me. What can I do now? Thanks.

On Mon, Apr 8, 2019 at 5:23 PM YutongTie-MSFT <notifications@github.com>
wrote:

--

*Gerardo Gallardo* - Ing. en Sistemas
Mobile: +54 911 6466 8151 | Skype: gallardo.gerardo | geris.g@gmail.com

[2019-04-23 02:06] diberry commented on #27619
@gerisg - I will check on this for you. Thank you for letting me know.

[2019-04-23 02:35] Humour0625 commented on #29790
Some updates on this, it seems the beta endpoint works well
`https://graph.microsoft.com/beta/me/photo/$value`
Why this happens? If I have to use the beta api , when will the beta API go alive? How should I use it in my coming product env?

[2019-04-23 02:41] ajayanti1 commented on #24669
#please-close

[2019-04-23 02:59] dcbrown16 opened #29855 "Azure resources"
What does the Azure resources blade (seen in the menu on the last screenshot) show?
Is it places where the group in question has been assigned an RBAC role at an individual Azure resource (or resource group?) scope?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c77e2d99-4816-b005-7457-cc836b92ee0f
* Version Independen

[2019-04-23 03:00] victorwangwinmate commented on #29629
@Alberto-Vega-MSFT  Thanks for your link. I will try it later and report the issue on the link that you provided.

[2019-04-23 03:02] ricardoserradas commented on #29819
Hi Martin.

Thank you for considering my feedback. Sure, let me try to clarify the scenario.

Imagine that I have a VM and I configure the Self-Hosted IR on it, pointing to a IR called `MyFirstIR`.

Time goes by and, for some reason, I need to use this VM on a different IR, called `MySecondIR`.

It would be nice to have instructions on how we should proceed to point this VM's Self-Hosted IR to `My

[2019-04-23 03:22] AjayKumar-MSFT commented on #29800
@kmouline, Thanks for posting this question! just to clarify, setting up disaster recovery of Azure Stack VMs to Azure using the Azure Site Recovery service is supported, you may refer the document '[Replicate Azure Stack VMs to Azure'](https://docs.microsoft.com/en-us/azure/site-recovery/azure-stack-site-recovery) for the process. If you’re referring to fail over to Azure Stack directly, kindly t

[2019-04-23 03:25] KalyanChanumolu-MSFT commented on #29674
We will proceed to close this thread now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-23 03:25] #29674 closed

[2019-04-23 03:26] KalyanChanumolu-MSFT commented on #29745
We will proceed to close this thread now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-23 03:26] #29745 closed

[2019-04-23 03:34] AjayKumar-MSFT commented on #29832
@igorvt77, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-04-23 03:37] AjayKumar-MSFT commented on #29834
@droessmj, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-23 03:41] terrymandin opened #29856 "How do I update an ASA Module"
I have successfully deployed my ASA Module to IoT Edge.  However, when I make a change to my ASA query I don't know how to deploy it.  In IoT Hub, I click on "Set Modules", then "Configure" on my ASA module.  It brings up a dialog on the right side of my screen that shows that I need to update my module.  I click on that button, but the ACR version does not increase, so my IoT Edge does not downlo

[2019-04-23 03:41] erich-wang commented on #29478
@rajb865 , right after restarting iotedge, it may take some time(normally < 1 minute) to bring iotedge runtime(edgeAgent, efgeHub) in good state. Until runtime is ready, it is expected that SampleJavaModule reports  connection error. Let's first exclude this expected case. So please:
1. Running the command below, then **wait for 2 minutes**
[code]
2. Running the command below and record the output

[2019-04-23 03:52] AjayKumar-MSFT commented on #29835
@cogran, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-23 04:16] prashanthmadi commented on #29789
@shashishailaj looks like you have referred me instead of doc contributor(prashanthyv)

[2019-04-23 04:17] neeleshray commented on #29855
@dcbrown16
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 04:24] CHEEKATLAPRADEEP-MSFT commented on #29847
@camoisan  This document has **updated** PowerShell cmdlets.

This document has been updated to use the new Azure PowerShell Az module. You can still use the AzureRM module, which will continue to receive bug fixes until at least December 2020. To learn more about the new Az module and AzureRM compatibility, see [Introducing the new Azure PowerShell Az module](https://docs.microsoft.com/en-us/powe

[2019-04-23 04:25] RohitMungi-MSFT commented on #29567
@tulasim88 It looks like we have an issue when using 'none' for strictFilters as per documentation.

![image](https://user-images.githubusercontent.com/46958063/56553913-9da38e00-65ad-11e9-8921-cbdd44ffa3ea.png)

Could you please let us know what is the correct way to use this parameter if no metadata needs to be returned in the response?

[2019-04-23 04:29] RohitMungi-MSFT commented on #29642
@helloimchristine We will now proceed to close this thread as the steps work as intended. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-23 04:29] #29642 closed

[2019-04-23 04:37] hmayer1980 commented on #29823
Thanks for your Answer @MartinJaffer-MSFT .
I have a hack like the ""Psuedo while loop hack"" you showed up there. The problem with it is really just the first attempt which I cannot skip. But I worked something out (by means of IF within the Until to not "Wait" at the first iteration. (but the Lookup) needs to run and return something.

My Initial requirement was more like "disable" the whole val

[2019-04-23 04:38] Anmolgan81 commented on #29659
Customer wanted to know if he can view the service principal from the azure ad

Regards
Anmol Ganju

________________________________
From: MartinJaffer-MSFT <notifications@github.com>
Sent: Tuesday, April 23, 2019 3:10:04 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Where can we see the Kerberos Service Principles in the Azure Active Directory?

[2019-04-23 04:56] SumanthMarigowda-MSFT commented on #29841
@jofrance Thanks for the question! We are investigating and will update you shortly.

[2019-04-23 04:57] BaileyJames99 opened #29858 "Source OPEN subscription to Destination CSP"
Can a source Open subscription be associated with a destination CSP tenant?
Source = MS-AZR-0111P (OPEN)
Destination Tenant = CSP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscript

[2019-04-23 05:14] RohitMungi-MSFT commented on #29735
@zackdrescher You can use CondaDependencies() to write a [environment configuration file](https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-deploy-models-with-aml#create-environment-file) like myenv.yml to add required dependencies.

[2019-04-23 05:18] kmouline commented on #29800
Thank you @AjayKumar-MSFT, the question is related to migrate on premises vmware VM to Azure Stack by using the steps of this article, or there is any other links related to Azure Stack ?

Kind Regards,

[2019-04-23 05:18] SubhashVasarapu-MSFT commented on #29118
@lovelangy , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-23 05:18] #29118 closed

[2019-04-23 05:23] aquibqureshi26 opened #29861 "2 Dev Test VM running 9 AM - 6 PM and reservation purchased for single"
Hi Team,

In the doc, it is mentioned that "At the end of the hour, the reservation application for VMs in the hour is locked"
Assume I've purchased 1 Reservation for D2V3 vm and I have 2 Dev Test VM running from 9 AM-6 PM. As my Dev Test VM is running full hour then it won't take 2nd VM in the reservation and i will be charged on pay as you rates for 2nd VM.
But my total VM runtime for both VM is

[2019-04-23 05:27] jinzejian opened #29862 "ETA of port limitation relax"
"Ports are limited to 64,000 as high ports are reserved for management and health probes. We are working to relax this limitation.“
---- Do we have an ETA of this that can we share with customer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-

[2019-04-23 05:33] YASWANTHM-MSFT commented on #28966
@DMoonesinghe,We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-23 05:33] #28966 closed

[2019-04-23 05:35] CHEEKATLAPRADEEP-MSFT commented on #29856
@terrymandin Thanks for the question! We are investigating and will update you shortly.

@mamccrea Could you please look into this issue?

[2019-04-23 05:35] RohitMungi-MSFT commented on #29765
@omnekkanti Did you try deactivating and activating the conda environment you have? I think you are using a mac and are you using the anaconda prompt?
I think your issue is similar to this [one ](https://stackoverflow.com/questions/25467595/unable-to-pip-install-packages-in-anaconda)of another mac user. Could you please try to install pip in your conda environment and run the steps of [Local compu

[2019-04-23 05:38] kudlatiger opened #29863 "How do we test it?"
How can we test this APIM? what policy we need to define? Can it be tested using postman? or c# code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e20660e-86ff-b872-628b-4b61c2bb63fe
* Version Independent ID: 6e7a2f4d-207b-2c9d-675c-c7b1c26bb39d
* Content: [Add a custom CA certificate - Azure API Management](https:/

[2019-04-23 05:39] msrini-MSFT commented on #29862
@jinzejian , Thank you for your feedback. You will get more ports to use when Azure Firewall gets a feature which supports multiple IPs.

I can check with Product Group and update you.

[2019-04-23 05:41] RohitMungi-MSFT commented on #29785
Thanks @PatrickFarley
@se-augustus Could you please check if you get consistent results while using [Recognize Text](https://eastus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/587f2c6a154055056008f200/console) or [Batch Read File](https://eastus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/2afb498089f74080d7ef85eb/console) API's?

[2019-04-23 05:45] neeleshray commented on #29858
@BaileyJames99
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 05:49] #17899 closed

[2019-04-23 05:54] wenboyang214 commented on #21359
In my case Action group was actually added but still the same error when creating **Alert**
the active log is almost the same as you
`"subStatus": {
    "value": "InternalServerError",
    "localizedValue": "Internal Server Error (HTTP Status Code: 500)"
},`
I doubt that is this the root cause ?  or any some tips for this ?

[2019-04-23 06:12] YutongTie-MSFT commented on #29757
@jwatkin Sorry for your experience. @tulasim88 Hi, could you please check this issue and update with more details to make it clearer? Thanks a lot!

[2019-04-23 06:14] YutongTie-MSFT commented on #29759
@JohnStraumann66 Hi, to make it clear, are you trying to use existing tag for project code?

[2019-04-23 06:20] msrini-MSFT commented on #29853
@cogran , Thank you for your feedback. I will review and get back to you.

[2019-04-23 06:25] binduchinnasamy opened #29866 "Transparent gateway config in Linux Edge"
Feedback for  - https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway

1. Install certificates on the Gateway - step #3, the documentation explains about the format (path of certificates in yaml file) for Windows, the Linux format will be slightly different

**Sample**

   device_ca_cert: "<CERTDIR>/certs/new-edge-device-full-chain.cert.pem"
   device_ca_pk: "<CERTDIR>/

[2019-04-23 06:25] raghuram816 commented on #23936
I have the same issue, I need to set the MQSTR as MessageFormat while sending the message to MQ. How come this issue is closed??. I have created a ticket with Microsoft and got the response as it is not possible to set MessageFormat and being reported as an issue and given linked to this forum. Moderator please keep this issue opened so that others are aware of the limitations of using MQ connecto

[2019-04-23 06:25] sriramaszone commented on #29745
Hi Kalyan, The feedback I provided is about Azure data factory but the question I raised here is on Azure Cosmos DB database migration tool. Can you provide any suggestions regarding the database migration tool. Thank You.

[2019-04-23 06:27] msrini-MSFT commented on #28209
@dbsanfte , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-04-23 06:27] #28209 closed

[2019-04-23 06:28] msrini-MSFT commented on #29803
@ronbok , I have provided your feedback to the Product Group. As of now, you can use exceptions in your Azure policy to Network Watcher RG. Closing this issue now, please tag me if you have any further questions.

[2019-04-23 06:28] #29803 closed

[2019-04-23 06:32] xanatzar opened #29867 "Unwanted Information disclosure"
Hi,

In the example above where 'TestUser' receives an error while querying Membership table. The error message displays SSN column name stating that it is not accessible to user. This is my opinion is not proper. I remember from way back that such information disclosure as part of error messages was considered a BAD programming practice and a Security Risk. Although there are many links discussin

[2019-04-23 06:34] CHEEKATLAPRADEEP-MSFT commented on #29572
@haveyoumetcp We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-23 06:34] #29572 closed

[2019-04-23 06:35] ChiragMishra-MSFT commented on #29771
@djpirra For the task "Azure Resource Group Deployment" mentioned in the tutorial, there are no specific permissions required. However, The account you use to deploy the template must have permissions to deploy to the specified subscription ID i.e it should exist in the same Azure Active Directory tenant.

However, the account you use to deploy the template must have permissions to deploy to the s

[2019-04-23 06:37] SumitMeh opened #29868 "Azure Cosmos DB throughput takes lot of time"
My team has code that modifies the throughput based on a factor, like increase throughput from say 1000 RU to 5000 RU by multiplying it with a factor of 5 and then after our upload work is done we reduce the RU back to 1000 by dividing the throughput(5000) by 5. This when tested sometimes takes a lot of time and we get a message that "scaleup is in progress" and it stays in that state for quite lo

[2019-04-23 06:41] ErikAndreas opened #29869 "Create access policy"
The link to https://docs.microsoft.com/en-us/azure/key-vault/key-vault-secure-your-key-vault#key-vault-access-policies seems outdated? Also, adding a new access policy to the key vault via Azure Portal does not work for me (entering objectid of MSI in search field gives "an error occured, please try again"). I did get it work by using az cli to create the access policy.
Maybe update the docs?

---

[2019-04-23 06:41] ChiragMishra-MSFT commented on #29770
@navinchristen I am assigning the issue to the content owner to help you out here.

@linda33wj Can you please take a look at this one ?

[2019-04-23 06:46] KetanChawda-MSFT commented on #23936
@raghuram816 The Logic Apps MQ Connector does not support, and has no way of setting or using, the Message Format field.

The Logic Apps MQ Connector does not do any character set conversion. It naively grabs whatever bytes are in the message field, drops them into a JSON message, and sends it on its way.

This is known, and no changes to the product have been made to address it.

@ecfan any thoug

[2019-04-23 06:52] CHEEKATLAPRADEEP-MSFT commented on #29164
@madhanan Thanks for the update, which might be beneficial to other community members reading this thread.

[2019-04-23 06:52] diwsun opened #29870 "Security Alerts Email Config?"
I've received emails with the information as raised in the security alerts.
Can you please let me know how and where can we configure the email addresses which will receive these alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba090fb1-b441-f39a-f9d7-beedbd5f6bf4
* Version Independent ID: 4c9953c7-15d8-b337-2c1e

[2019-04-23 06:55] tylerjwatson commented on #10960
@pjirsa I am getting the same issue as well.  Installed on Ubuntu 19.04

[2019-04-23 06:56] kilasuit opened #29871 "Add How to use Key Vault soft delete via ARM template sections"
In issue https://github.com/MicrosoftDocs/azure-docs/issues/12048 it was mentioned that you can force soft delete on via
ARM Template provisioning and whilst there are PowerShell and CLI links in the Next Steps section, there are no linked ARM template pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0af272-74a9-

[2019-04-23 06:57] SadiqhAhmed-MSFT commented on #29623
@kazshi Your feedback has been shared with the content owner to enhance the document with the information you've shared with us.

Thanks once again!

[2019-04-23 07:08] Ibnajjar commented on #28678
Thanks @MGoedtel for the help on this!

[2019-04-23 07:17] YASWANTHM-MSFT commented on #29795
@dcbrown16, You can use robocopy move data to Azure file share from on-premises. I would recommend you to refer the article [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-deployment-guide#robocopy).
[Robocopy ](http://technet.microsoft.com/en-us/library/cc733145.aspx)is a free and robust file copy utility included in Windows, for doing large file copies. The command-line

[2019-04-23 07:17] SadiqhAhmed-MSFT commented on #29861
@aquibqureshi26 Thanks for the question! I have assigned this issue to the content owner to share more details in this regard.

@bandersmsft  and @yashesvi Your insights please.

[2019-04-23 07:20] dcbrown16 commented on #29795
@YASWANTHM-MSFT this is the Linux article. I'm asking if Robocopy is available for Linux - if not it shouldn't be referenced in the Linux article.

[2019-04-23 07:22] SadiqhAhmed-MSFT commented on #29835
@anirudhcavale Your insights on this query?

[2019-04-23 07:30] ShBansal22 commented on #29654
@AjayKumar-MSFT , Please find the link which says the method of attaching  snapshot debugger to azure function in Visual studio Enterprise 2019

https://docs.microsoft.com/en-us/visualstudio/debugger/debug-live-azure-applications?view=vs-2019

[2019-04-23 07:33] SadiqhAhmed-MSFT commented on #29621
@jzuchora We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-23 07:33] #29621 closed

[2019-04-23 07:52] msrini-MSFT commented on #29853
@cogran , Route weight that you specify on the connection is to choose the circuit that you wanted. Here is a scenario where you can use it:

Multiple ExpressRoute circuits from different peering locations can be connected to the same virtual network to provide high-availability in the case that a single circuit becomes unavailable. You can then assign higher weights to the local connection to fav

[2019-04-23 07:56] smoms commented on #29670
@MarileeTurscak-MSFT thanks. I have messaged as per your suggestion. Can you please follow up?

[2019-04-23 08:14] AshokPeddakotla-MSFT commented on #29866
@binduchinnasamy Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-23 08:17] YASWANTHM-MSFT commented on #29795
@dcbrown16 , Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-23 08:23] KetanChawda-MSFT commented on #29863
@kudlatiger Thank you for posting your question. We will review and provide an update as appropriate.

[2019-04-23 08:28] KetanChawda-MSFT commented on #29863
@mikebudzynski any thoughts on this ?

[2019-04-23 08:51] SnehaAgrawal-MSFT commented on #29869
@ErikAndreas Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 09:12] ManojReddy-MSFT commented on #29870
@diwsun You can configure email addresses for security notifications by following the steps listed [here](https://docs.microsoft.com/en-us/azure/security-center/security-center-provide-security-contact-details).

[2019-04-23 09:18] diwsun commented on #29870
@ManojReddy-MSFT Thanks for the info.
Are the Global Administrators notified even if the flag to notify Owners is set as Disabled?
I've received emails from subscriptions where I'm not on the contact list and the owner notification flag is disabled, hence wanted to clarify the correct settings. I do have the Global Administrator role on the tenant.

[2019-04-23 09:25] shashishailaj commented on #29846
@richardspitz Thank you for your feedback . We will investigate and update this thread.

[2019-04-23 09:26] SubhashVasarapu-MSFT commented on #29620
@johnwildes , Thanks for your feedback. I am assigning this issue to author to update the document accordingly. @gsilva5 , could you please update the document with all "Allowed Sizes"?

[2019-04-23 09:28] wpitallo opened #29874 "Trigger Consistency"
Hi I have 2 questions that would be great if someone could help out with.

1) Are there any guarantees that a cosmos db trigger will always fire what if there is a failure? Because the trigger is not part of a transaction would there be any record of the failure?

2) Are there an examples querying the change feed manually using node.js

Thx for the help!

---
#### Document Details

⚠ *Do not edit

[2019-04-23 09:37] KalyanChanumolu-MSFT commented on #29868
@SumitMeh Please help with the link of document on which above feedback is submitted.

[2019-04-23 09:40] yokofms commented on #29563
Thank you, but the error occurs when deploying its Tabular Project to Azure AS server and then process its Tabular database. I also do not get any error up to step 5. To see the issue, please try the following steps after your Step 5.  My point is that we need On-Premises data gateway when processing Azure AS database if the data source is Azure Table Storage.  For user to use Azure AS database, w

[2019-04-23 09:40] redaniel74 opened #29875 "VIP Availability and DIP Availability there aren't"
Both terms don't show in drop-down list. I see Frontend IP address or Backend Ip Address. In metrics drop-down list, there aren't any VIP Availability or DIP Availability references. Can you correct the doc, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabcb1d6-d6df-23a8-6258-d8cc3600804c
* Version Independen

[2019-04-23 09:47] JerryWang20 commented on #10960
i also meet the issue for i run 'az aks use-dev-spaces -g mygroup -n mycluster' and it responds with '[K - Searching ..'  what's the solution for it?

[2019-04-23 09:48] JerryWang20 opened #29876 "issue for az aks use-dev-spaces"
i also meet the issue for i run '

- [ ] az aks use-dev-spaces

 -g mygroup -n mycluster' and it responds with '[K - Searching ..' what's the solution for it?

[2019-04-23 09:52] MohitDhingra-MSFT commented on #29792
Hi @Humour0625,

I have tried the above mentioned steps and I guess when you are signing out from Azure AD, you are not clearing TokenCache "**authenticationcontext.TokenCache.Clear()**". Could you try below signout code in your application and check.

        //sign out button click
        private void signout_Click(object sender, EventArgs e)
        {
            var authority = String.Format(

[2019-04-23 09:53] AjayKumar-MSFT commented on #29851
@SamNutkins, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 09:53] ManojReddy-MSFT commented on #29870
@diwsun Can you confirm if you have any RBAC role configured for your account in the subscription where you received the alerts from ?

[2019-04-23 10:01] pranabdas457 commented on #24842
Is there any updates on this issue?

[2019-04-23 10:05] lightupdifire opened #29877 "Testing steps"
Hello,
Does this option has any impact on SharePoint unmanaged devices conditional access policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d-b047-11d1-a138-5c52a3fee6ba
* Version Independent ID: 57c51f57-90ad-e0f9-1e6b-3262f94de02c
* Content: [One-time passcode authentication for B2B guest users - Azure Ac

[2019-04-23 10:18] crmhh commented on #27784
Hi. I think there is still an error in it:
The arrow to "choose disabled" in the On-Premises path should connect on the last decision (username & pass).

[2019-04-23 10:22] SumitMeh commented on #29868
Hi @KalyanChanumolu-MSFT , following is the link
[Migrate to single partition collections by using the .NET SDK](https://github.com/MicrosoftDocs/azure-docs/blob/2e5a6b48a7f28cb809479028b40b8a8f0222a8d0/articles/cosmos-db/performance-levels.md)

[2019-04-23 10:24] AshokPeddakotla-MSFT commented on #29629
@victorwangwinmate Sure. Do share the link here for reference once you create an issue on the specified link. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-23 10:24] #29629 closed

[2019-04-23 10:30] Humour0625 commented on #29792
@MohitDhingra-MSFT

Thanks for your response. What I want is just to validate the user name and password and don't want to use the access token returned. Can I clear it immediately after I login successfully?
like this:

`          var authResult = await authContext.AcquireTokenAsync(resource, credentials);
           authContext.TokenCache.Clear();
            if (result != null && result.UserInf

[2019-04-23 10:53] diwsun commented on #29870
@ManojReddy-MSFT yes, I do have Owner roles assigned on the subscriptions (inherited via Management Group).

[2019-04-23 10:56] Anmolgan81 opened #29878 "What needs to be done in order to install donet componenets on Azure SSISDB"
What needs to be configured if we need to install .net componenets on the Azure SSISDB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4ef48-6270-324e-5821-8557cf332320
* Version Independent ID: da6ae67f-4d00-63fb-63b4-b615a78317aa
* Content: [Customize setup for the Azure-SSIS integration runtime](https://docs.micr

[2019-04-23 10:58] acastaing commented on #26014
@Karishma-Tiwari-MSFT do you have any news ?
This issue is causing to our customers a lot of issues (we started using our support plan but we were redirected here)
Thank you for the feedback and eventually a fix date ?

[2019-04-23 11:19] centiqwan opened #29879 "Load balancer rule for ERS does not appear to be correct"
Hi, I've noticed in testing that the ERS load balancer rule set in your documentation is missing a rule:

- 32&lt;nr&gt; TCP

This needed adding to our test system in order for enqueue replication to begin working.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26e557cc-43f2-8b0b-f310-d4622e882385
* Version Independent

[2019-04-23 11:21] crmhh opened #29880 "Using Delegated Login Identity"
After some trouble with using Delegated Login Identity I've got the following insights I'd like to share:
- If you're configuring something else then UPN and the attribute is empty the appproxy performs a fallback to the UPN for KCD.
- If you're using attribute filtering at Azure AD Connect make sure to include the (undocumented) attribute Account Name if you want to use the SamAccountName
- If yo

[2019-04-23 11:22] georgievaja opened #29881 "When is Host header rewrite going to be supported on App Gateway V2?"
Hello,

host header rewrite is currently not supported for application gateway v2 according to this docs: [azure docs- rewrite-http-headers](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers)

When are you planning to support it? What is the status of adding this functionality?

Thank you
Jana G.

[2019-04-23 11:26] smehta07 opened #29882 "Azure Python Web App push error: no such file or directory, stat '/home/site/repository/venv/bin/python'"
Hi,

I ran into an issue when trying to deploy a python web app to Azure, I get the following error:
ENOENT: no such file or directory, stat '/home/site/repository/venv/bin/python'

I have seen that two issues [#17648](https://github.com/MicrosoftDocs/azure-docs/issues/17648) and #[24633](https://github.com/MicrosoftDocs/azure-docs/issues/24633) have encountered the same error as me. From what I u

[2019-04-23 11:53] 76mel opened #29883 "I received a Unhandled Exception : ArgumentNullException while doing this quick start."
Unhandled Exception: System.ArgumentNullException: Default cache path is only supported when running inside of an Azure App Service.
Parameter name: OfflineFileCacheOptions.Path
   at Microsoft.Extensions.Configuration.AzureAppConfiguration.OfflineFileCache..ctor(OfflineFileCacheOptions options)
   at TestApp.Program.&lt;&gt;c__DisplayClass1_0.&lt;CreateWebHostBuilder&gt;b__1(AzureAppConfiguration

[2019-04-23 11:56] isamllr commented on #17212
Any update on this? Thanks

[2019-04-23 12:03] abilous-ti opened #29884 "SSH server cannot start"
SSH server cannot start with the provided  [sshd_config](https://github.com/Azure-Samples/docker-django-webapp-linux/blob/master/sshd_config

/etc/ssh/sshd_config line 18: Deprecated option RSAAuthentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f970943e-c7b4-919c-65ea-6ba20831e74d
* Version Independent ID: 90

[2019-04-23 12:08] 76mel opened #29885 "The screenshot has a green background, but settings are set to Blue"
Small error TestAppSettings:BackgroundColor is set to blue, but screenshot shows green.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-638f-746a-4bbdf0378625
* Version Independent ID: d917d876-79b4-b935-08f0-09ef86038dd7
* Content: [Tutorial for using Azure App Configuration dynamic configuration in an AS

[2019-04-23 12:09] Anmolgan81 opened #29886 "How can I install .NetFramework 4 onto the Azure SSISDB?"
I have certain DLL which comes with the .Net framework 4, how can I install the .NetFramework4 onto the Azure SSISDB? I have installed the .Net 3.5 in SSISDB but I am still getting error that ""Could not load file or assembly "Renci.sshnet" Version=2016.1.0.0""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4ef48-62

[2019-04-23 12:10] KalyanChanumolu-MSFT commented on #29796
@kazshi I have tested this and you should be able to connect either ways
Could you please provide the exact error message?

[2019-04-23 12:16] angoyal-msft commented on #29850
@obzervr Thanks for your feedback. I have assigned this issue to the content owner to help you further.
@rimman Could you please take a look at this issue.

[2019-04-23 12:16] JohnStraumann66 commented on #29759
Hi:

In the project, there is 2 lines thatc reate teh tags on the run:

var hemlockTag = trainingApi.CreateTag(project.Id, "Hemlock");
var japaneseCherryTag = trainingApi.CreateTag(project.Id, "Japanese Cherry");

and then as the code progresses, those tag IDs are used thus:

trainingApi.CreateImagesFromData(project.Id, stream, new List<Guid>() { hemlockTag.Id });

My question is what happens if w

[2019-04-23 12:29] dennisxu2019 opened #29887 "broker link to "Updated Office 365 modern authentication""
The link to "Updated Office 365 modern authentication" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Use tenant restrictions to manage access to SaaS cloud applications - Azure](https://docs.micro

[2019-04-23 12:42] jakaruna-MSFT commented on #29190
@carlfm01 I tried to deploy using unmanaged disks. I am unable to login now. I really didn't expect this difference between the managed and unmanaged disks. Something wrong with the managed VHD.
I am reaching out to the internal teams and will post here if i have an update.

[2019-04-23 12:48] kirthiroyadu commented on #27152
Hi Karishma,

It seems F4 series is not available for Cloud services. It is available for Virtual machines but not while deploying Cloud services. I have tried deploying using that size(Standard_F4) but get an error which basically gives out all possible options excluding any F series.
It also does show up in the sizes shown in Visual studio 2017 Cloud service project size configuration.
Can you r

[2019-04-23 13:00] margaretmeehan opened #29889 "Helm install cert-manager fails on RBAC disabled cluster"
Simply adding `--set rbac.create=false` to the `helm install` command fails on an AKS cluster without RBAC. My cluster has "enableRBAC": false.

Repro Steps:
On an AKS cluster without RBAC, follow the steps provided in section 'Install cert-manager', with the last step replaced by:

# Install the cert-manager Helm chart
[code]

The error returned:

[code]
---
#### Document Details

⚠ *Do not edit

[2019-04-23 13:16] StannieV opened #29892 ".NET 4.8 support"
Hi, Please update this article for .net 4.8 support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082a39c-4081-f5c3-1e1d-effcfecb2fd7
* Version Independent ID: e57c7222-bb36-5fa1-bdc5-f8f3cd87e3d8
* Content: [Install .NET on Azure Cloud Services roles](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-serv

[2019-04-23 13:19] pvrk commented on #28955
We have updated our VM backup [daily policy](https://azure.microsoft.com/resources/templates/101-recovery-services-daily-backup-policy-create/) and [weekly policy](https://azure.microsoft.com/resources/templates/101-recovery-services-weekly-backup-policy-create/) templates with this variable. It is as @benrayment says, we added information regarding allowed values.

[2019-04-23 13:21] pvrk commented on #28955
#please-close

[2019-04-23 13:23] unmeshM commented on #29751
I am not asking about adding client applications in API list. On Azure Portal, In App Registrations Preview, you can create an application to expose API. Then, you can add the service principal to this newly created application. My understanding is, you can add the service principal to have service principal - service principal authentication.

[2019-04-23 13:25] andrewatfornax commented on #28955
Thank you @pvrk - that's great that the examples have been updated.

However, examples should not be the primary documentation for the API - these should be (are) the template references, e.g. https://docs.microsoft.com/en-us/azure/templates/microsoft.recoveryservices/2016-12-01/vaults/backuppolicies.

These are the documentation that really need updating!

#please-keep-open :-)

[2019-04-23 13:27] unmeshM commented on #29750
Please, visit the App Registration Preview, create a client application to expose an API.  Then, click on Expose API item in Manage Section. You can find the Authorized Client Applications. I believe this is something for the service principal - service principal authentication. Please, try it out and tel me the limit of number of  Authorized Client Applications that can be added to it.

[2019-04-23 13:29] pvrk commented on #28955
@andrewatfornax : Thanks for pointing out. Will work on updating the references and update this thread.

[2019-04-23 13:31] frobnitzz opened #29893 "Config headings"
The titles for the headings under the section "Complete the Admin Credentials section as follows:" are incorrect compared to the ones seen in the UI. e.g. "Admin Username" is actually "Workday Username" etc. Thanks, John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd46e8e6-407d-10df-fe66-0df78460f709
* Version Indep

[2019-04-23 13:33] LTUTE opened #29894 "UI for SQL addition is outdated"
Please update UI for addition of SQL connection strings as you cannot create DB via portal as shown in this tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b726a7b-f40a-6e43-fa23-716dee06666b
* Version Independent ID: 03f1b853-90df-455c-7b77-1cc7f373cd56
* Content: [Create a Universal Windows Platform (UWP) th

[2019-04-23 13:35] terrymandin commented on #29856
Thanks everyone!  Adding some documentation on deploying and updating ASA modules through Visual Studio Code tools would also be appreciated.  I haven't found much information on them.

[2019-04-23 13:44] SeanCLeavitt commented on #29763
@Adam-Smith-MSFT - Good call, I see that my storage account is "Storage (general purpose **v1**)" - Sample code above works for "StorageV2 (general purpose v2)".  :)

[2019-04-23 13:44] #29763 closed

[2019-04-23 13:52] gerisg commented on #27619
Thanks @dina! The QnA Team sent me an e-mail today.

Regards,

On Mon, Apr 22, 2019 at 11:06 PM Dina Berry <notifications@github.com>
wrote:

--

*Gerardo Gallardo* - Ing. en Sistemas
Mobile: +54 911 6466 8151 | Skype: gallardo.gerardo | geris.g@gmail.com

[2019-04-23 14:10] Jez85 opened #29895 "NOT WORKING.. Add-RdsAccount -DeploymentUrl giving error on Powershell"
When going through the step: Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"

Getting the following error:
Add-RdsAccount : One or more errors occurred.
At line:1 char:1
+ Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Add-RdsAccount], Aggrega

[2019-04-23 14:10] Variour opened #29896 "Azure file sync compatibility export to csv"
Regarding the export of the compatiblity report to csv, the correct command is:

<pre>$errors.<b>results</b> | Select-Object -Property Type, Path, Level, Description | Export-Csv <b>-NoTypeInformation</b> -Path &lt;csv path&gt;</pre>

The .results is necessary, the NoTypeInformation makes sense to use in my opinion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-04-23 14:10] Japeth commented on #29839
Here is the page:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure

In the Delete LTR Backups section

[2019-04-23 14:13] pvpatel777 opened #29897 "Name or service not known',)': /simple/redis/"
When I run "docker-compose up -d", I get following error output.

~/azure-voting-app-redis$ docker-compose up -d
Building azure-vote-front
Step 1/3 : FROM tiangolo/uwsgi-nginx-flask:python3.6
 ---&gt; 3b923af93a90
Step 2/3 : RUN pip install redis
 ---&gt; Running in 7579eb05e67f
Collecting redis
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broke

[2019-04-23 14:24] tsahi commented on #6348
So basically you're saying you know you have a bug, but because you didn't fix it in 90 days you won't fix it at all. How does that make sense?

[2019-04-23 14:32] shashishailaj commented on #29513
The Issuer in case of Access_token is sts.windows.net\{tenant-id} and the issuer in case of ID_token is login.microsoftonline.com . Both of them can be issuers in different scenarios. the login.microsoftonline.com URL is a new URL that we use but we have still kept the sts.windows.net\{tenant-id} URL for historical reasons. You can read more in the article https://techcommunity.microsoft.com/t5/Az

[2019-04-23 14:32] #29513 closed

[2019-04-23 14:36] schitzoid-embolism commented on #29585
OK, it seems to work if you are using AD Connect to sync AD to Azure AD.  Just to save time I was manually adding to both and although it seems to "sync up" on it's own eventually it appears AD Connect does something in the background to just make this work.  In the real world I would be using AD Connect or Azure AD Domain Service but might be worth documenting this fact for others who are testing

[2019-04-23 14:36] #29585 closed

[2019-04-23 14:37] shashishailaj commented on #29832
@MicrosoftGuyJFlo Could you please review the documentation update request provided by @igorvt77 and update it as necessary . If this is already in the pipeline , please let us know accordingly.
Thank you .

[2019-04-23 14:48] AjayKumar-MSFT commented on #29867
@xanatzar, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-23 14:51] pvpatel777 commented on #29897
It looks like, it was proxy issue. Now I could create image for front.
The issue can be closed.
Thanks

[2019-04-23 14:52] pvpatel777 commented on #29897
It looks like, it was proxy issue. Now I could create image for front.
The issue can be closed.
Thanks

[2019-04-23 14:52] #29897 closed

[2019-04-23 14:53] AjayKumar-MSFT commented on #29871
@kilasuit, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-23 14:55] pito2808 opened #29898 "cannot retrieve all categories with azure CLI and rest api"
just to inform currently it's not possible to retrieve all categories events from azure activity logs but administrative event only with azure CLI and python SDK.  Currently these categories can be seen only with portal. A new api will be released in two months by product team but no ETA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-04-23 14:57] bandersmsft commented on #29861
#in-process

[2019-04-23 14:58] shashishailaj commented on #29641
We understand your query and it would take some time to check the same. This is essentially a troubleshooting question and we find that you already have engaged with one of our colleagues who answered it on MSDN on this thread https://social.msdn.microsoft.com/Forums/en-US/3e5114b6-24d6-4c60-b72b-b4c90baeecac/access-token-missing-optional-claims-that-are-schema-extensions-implicit-grant-flow . Hen

[2019-04-23 14:58] #29641 closed

[2019-04-23 14:59] AjayKumar-MSFT commented on #29875
@redaniel74, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-23 15:02] PhilStollery opened #29899 "Last section"
Markdown error, looks like there's a missing ``` after the Azure CLI command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf2c0c6-fa14-66f1-1f84-92f22a3b2bb6
* Version Independent ID: b1d4ef1c-fa18-71d5-a1ec-4477250c6445
* Content: [Create, view and manage log alerts Using Azure Monitor](https://docs.microsoft.com/

[2019-04-23 15:02] zackdrescher commented on #29735
@RohitMungi-MSFT how do you add a new PyPi feed such as one from azue artifacts to the CondaDependencies() object?

Is [set_pip_index_url](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.conda_dependencies.condadependencies?view=azure-ml-py#set-pip-index-url-index-url-) what i'm looking for?

[2019-04-23 15:08] AjayKumar-MSFT commented on #29876
@JerryWang20, Thanks for the question! Could you please share the Azure doc URL on which the above document feedback requested was created?
In the interim, take a look at this sample:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#examples
az aks use-dev-spaces --name
                      --resource-group
                      [--space]
                      [--subscription]

[2019-04-23 15:12] dyaneshwaran commented on #15196
Hello jason,

whether this feature is available now ?

Thank you
Dyanesh

[2019-04-23 15:14] AjayKumar-MSFT commented on #29877
@lightupdifire, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-23 15:17] AjayKumar-MSFT commented on #29878
@Anmolgan81, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-04-23 15:17] i322669 opened #29900 "A error in resource azurerm_container_group section"
it should be as below (without "=" sign)
   ports {
      port     = 80
      protocol = "TCP"
   }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa374bd5-931f-a072-aec8-0c65fd28fbe9
* Version Independent ID: 8f6c9d24-9a1c-8e6a-2f77-6c62eafdca43
* Content: [Introduction to Terraform on Azure.](https://docs.microsoft.c

[2019-04-23 15:20] VanMSFT commented on #27925
#please-close

[2019-04-23 15:21] AjayKumar-MSFT commented on #29879
@centiqwan, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 15:25] bertrandpons opened #29901 "Get metada activity in Azure Data Factory - Childitems"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-get-metadata-activity.

I use "Get metadata activity" in my pipeline to retrieve childitems stored in an azure blob container thanks to the argument _Child items_

How can I do to make it not flagged as failed if there is no child item in the blob container?

Many thanks for your

[2019-04-23 15:27] camoisan commented on #29847
I didn't realize this is fantastic! Thank you for letting me know :)

[2019-04-23 15:30] CeciAc opened #29902 "Outdated"
@Valkhan commented on [Mon Apr 22 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/242)

There is no App Configuration menu, only Configuration that does not have PHP stack anymore.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 5e564777-8d59-9065-6f0d-d8ea3fc6ee62
* Version Independent ID:

[2019-04-23 15:31] bertrandpons commented on #29394
@ChiragMishra-MSFT Coming back on this topic: do you think I have to set _waitOnCompletion_ to true for  all the dependent pipelines?

[2019-04-23 15:35] CeciAc commented on #29902
Hi team,
the user reports some of the content is out of date
kind regards

[2019-04-23 15:40] shashishailaj commented on #29790
At this point , we do not have an ETA for the beta endpoint . Its still a work in progress where multiple changes are made every day since it can virtually be used to query almost all the services. As per my information a lot of people are already using the beta endpoint successfully. Its named beta because we are adding more services to it and changing it frequently however we do not recommend to

[2019-04-23 15:41] jreinhardtiv4 opened #29905 "License Requirement"
There was a blog post (https://techcommunity.microsoft.com/t5/Enterprise-Mobility-Security/Secure-your-mobile-email-with-Microsoft-EMS-and-Microsoft/ba-p/393072) that claimed that an Intune license is required for this control. The post says that either EMS or Azure AD (Premium?) license is needed. Which is it? I tried to comment on the original blog post but haven't gotten a clear answer. Please

[2019-04-23 15:42] AjayKumar-MSFT commented on #29880
@crmhh, Thanks for sharing your findings and the solutions that worked for you. It's much appreciated. Your feedback has been shared with the content owner for further review.

[2019-04-23 15:43] shashishailaj commented on #29755
@mcqueene WE are engaging the content author on this request to further check the details and provide clarification.

@prashanthyv Could you please review the query and provide some clarification on this ?

[2019-04-23 15:43] Mike-Ubezzi-MSFT commented on #27925
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-23 15:43] #27925 closed

[2019-04-23 15:45] AlainPilon opened #29906 "Remove non Python specific content"
Everything below https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#create-a-resource-group should be removed. These are instructions valid for any languages and dilute the python specific content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6

[2019-04-23 15:49] jakaruna-MSFT commented on #29780
@girishgouda Did you used the default service principal or a custom one while deploying the AKS cluster?

also post the output of `kubectl get nodes`. You should have the virtual kubelet nodes in ready state.

[2019-04-23 15:53] ecfan commented on #23936
+ @divyaswarnkar for advice on doc improvements.

For product feature requests, people can submit feedback at the Logic Apps UserVoice site: https://feedback.azure.com/forums/287593-logic-apps

[2019-04-23 15:53] jakaruna-MSFT commented on #29780
Which command is giving this error?
Did you had any errors while installing the [connector](https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet#installation)?

[2019-04-23 16:08] squasta commented on #23789
Facing the same issue. Cannot access dashboard, API or kubectl using AD accounts.

[2019-04-23 16:13] squasta commented on #23789
My mistake : cannot access K8S dashboard using AD Accounts.

[2019-04-23 16:15] Jon-Work opened #29909 "Missing sample for using Azure as a DRM server only"
The "Scenarios and samples" section has 5 scenarios, but only 4 of them have samples.  Please can you add a sample for the 5th scenario?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9748e5ed-18e3-b840-3e4b-1c0f821b6511
* Version Independent ID: 03afa3ed-d47b-bd41-6b85-d5f24462a11d
* Content: [Hybrid design of DRM sub

[2019-04-23 16:16] RogerDawson opened #29910 "All subscriptions still marked as 'Not ready for migration'"
Has the release of the migration tool been delayed? Currently all of our 10 or so subscriptions (different customers too) are marked as 'Not ready for migration' yet but this page indicates all subscriptions should have this capability by mid-April.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdff578-da95-2c6c-98a8

[2019-04-23 16:17] jakaruna-MSFT commented on #29459
Got the update. Support for Linux App service in VNET is on the pipeline. Once that is in preview we can try accessing the ACR through service endpoint.
Right now the support is not there.

[2019-04-23 16:20] shashishailaj commented on #29786
@CelesteDG Could you please check this request for new documentation ?

[2019-04-23 16:22] wawyed opened #29911 "Support POST OpenID Connect authentication requests"
Supporting POST authentication/authorization requests is not mandatory for clients, but would be a nice addition if I wanted to use id_token_hint without being it captured in server logs in the referer header response.

http://openid.net/specs/openid-connect-core-1_0.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-23 16:22] bmilbauer opened #29912 "No mention of Operations Manager multihoming limitations"
As I understand it, there is no way to have a Linux computer use the Log Analytics agent to connect to both a SCOM management group, and a Log Analytics workspace. This cost us many hours of planning in a large customer project because it wasn't clearly explained in the documentation. If you call it out here, it would save people many hours of planning and potential confusion.

---
#### Document D

[2019-04-23 16:27] jlahteen opened #29913 "HTML content in QnA Maker *.xls import doesn't work"
It seems that the HTML elements used in the sample Excel document (Sample QnA FAQ.xls) do not work when importing data to QnA Maker. The HTML elements like &lt;p&gt; and &lt;a&gt; will be rendered as text in the QnA Maker test site and in a Bot Emulator as well. Is there some trick I am missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-23 16:31] frobnitzz opened #29915 "Event Log Source Incorrect"
Under "Setting up Windows Event Viewer for agent troubleshooting" it says to filter on "AAD.Connect.ProvisioningAgent" but on mine it's "Azure AD Connect Provisioning Agent". Not much listed except the registration. Also this doc doesn't mention that there's a node under Applications and Services Logs called "Microsoft Azure AD Connect Provisioning Agent" which has more logs, but nothing about syn

[2019-04-23 16:37] xitia commented on #29856
Hi terrymandin, ASA edge job update will generate a new Blob SASURL pointing to the updated job plan. The SASURL is located in "ASAJobInfo" of module twin property. The image version won't change per job update. Once you click "update", follow the same workflow as a regular deployment, and you will see update notification logs on device. Let us know if you hit any problem. Thanks!

[2019-04-23 16:39] jfcomst opened #29916 "Azure Search and Managed Service Identities"
The team I work for is moving as much as we can to using Managed Service Identities (MSI) for providing AAD access to services in Azure.  I would like this document to indicate if Azure search supports using MSIs directly or if we are currently required to use the Azure Search keys in Key Vault in conjunction with MSIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-04-23 16:42] roygara commented on #17212
@isamllr Yes.The table's values now cover all storage accounts. Where there are deviations (e.g. specific value for v1 vs a v2 account) they are called out. This is all currently live in the article.

[2019-04-23 16:44] stewartadam opened #29917 "Code samples no longer work; opencensus exporter modules moved to sub-extensions"
OpenCensus has been updated to 0.4.1 (from 0.1) on PyPi and the samples here no longer work. `opencensus.trace.exporters` is no longer a module, and all exporters have been moved to sub-modules. The Azure extension is now available via `pip install opencensus-ext-azure`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2019-04-23 16:52] mrbullwinkle commented on #29917
Thanks @stewartadam I will make sure this gets updated this week.

[2019-04-23 16:54] MicahMcKittrick-MSFT commented on #27152
@kirthiroyadu it could very well be a subscription limitation.

Can you check the quota for the F series in your Subscription? To do this, go to the portal -> Subscriptions -> Select your Subscription -> Usage & Quotas

![image](https://user-images.githubusercontent.com/32313503/56600556-d479a400-65ad-11e9-9775-c97fa0501227.png)

[2019-04-23 16:55] CelesteDG commented on #29786
Hi @shashishailaj - Please reassign this to @msmimart (she owns B2B docs on my team and has also been working on some of our App Proxy content). Michele can triage this request. Thank you.

[2019-04-23 17:00] mikebudzynski commented on #29863
You need to use this policy: https://docs.microsoft.com/en-us/azure/api-management/api-management-authentication-policies#ClientCertificate

You can test it from any client as long as you use the client certificate.

#please-close

[2019-04-23 17:01] MicahMcKittrick-MSFT commented on #29892
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 17:01] Karishma-Tiwari-MSFT commented on #29895
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-23 17:07] craiglpeters opened #29918 "Missing az cosmosdb collection create"
The script is missing the az cosmosdb collection create which is exactly the command I need help with

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eba07502-2a7a-af5e-d272-b145b8166e53
* Version Independent ID: a46cdaf7-9ba0-13a5-10a0-09d9ee965ebd
* Content: [Azure CLI Script-Create an Cosmos account with Azure Cosmos

[2019-04-23 17:08] ecfan commented on #29723
@mike-urnun-msft, I've created a doc work item for this update. Thanks!

[2019-04-23 17:10] AjayKumar-MSFT commented on #29606
@AlphaCreative, Thank you for sharing additional details.
@mattchenderson, Requesting your insights on this further.

[2019-04-23 17:18] falmada opened #29919 "Assign ACL recursively"
Is there any way to assign ACL permissions in recursive mode? Same as we had with ADLS Gen 1?
Set-AzureRmDataLakeStoreItemAclEntry  ... -Recurse:$True

Azure Storage Explorer (both Windows client and web one in Preview) does not have any option to do recursive for existing files, and I can't seem to find a way to do this within a filesystem on Gen 2 either.

---
#### Document Details

⚠ *Do not ed

[2019-04-23 17:20] MicahMcKittrick-MSFT commented on #29488
@ChristianMontoya do you need any more information? Any further suggestions? If needed, I can have @cwester72 file a support ticket to investigate this further.

[2019-04-23 17:21] MicahMcKittrick-MSFT commented on #29592
Thanks @paulbouwer

@mganeshphani let us know if that helps.

[2019-04-23 17:22] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint I will close for now. If you have further questions let me know and we can reopen and continue the discussion.

[2019-04-23 17:22] YutongTie-MSFT commented on #29735
@zackdrescher Hi Zack, yes,  set_pip_index_url is equal to the operation pip --index-url<url>, you can refer to following document for more. https://pip.pypa.io/en/stable/reference/pip_wheel/#cmdoption-i

And also, here is a document about how to import private package as dependency which I think may help. https://www.revsys.com/tidbits/using-private-packages-python/

Thank you.

[2019-04-23 17:22] MicahMcKittrick-MSFT commented on #28975
@Anmolgan81 apologies for the delay. We are working offline to find an answer for you.

[2019-04-23 17:23] zackdrescher commented on #29735
Thanks!

[2019-04-23 17:23] #29735 closed

[2019-04-23 17:24] Mike-Ubezzi-MSFT commented on #29918
@craiglpeters Thank you for bringing this to our attention. The az cosmosdb collection can be found [here](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/collection?view=azure-cli-latest). I am going to forward this on to the content owner to evaluate and update as appropriate.

**az cosmosdb collection create**

                              --db-name
                              [--default

[2019-04-23 17:25] MicahMcKittrick-MSFT commented on #29879
@centiqwan thanks for pointing this out. I am assigning this issue to the document author to look further into it.

[2019-04-23 17:30] msrini-MSFT commented on #29881
@georgievaja , Thank you for your feedback . ETA will not be shared in this forum. Once it is available, documentation will be updated.

[2019-04-23 17:30] #29881 closed

[2019-04-23 17:30] Adam-Smith-MSFT commented on #29896
@Variour Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-23 17:34] wpitallo commented on #29874
Thanks @Mike-Ubezzi-MSFT, I am however looking for a way to guarantee that data across partitions has been processed. I understand the benefits of using, SP, triggers etc on the server, however the problem is that this only applies to a single partition. So I was hoping that the change feed could somehow assist with this but from what I have read so far it seems that the change feed also only appl

[2019-04-23 17:35] MicahMcKittrick-MSFT commented on #29267
@barracud I reached out to the owner of the issue opened on the PS repo. He is looking into it and will update the issue shortly. Will close this one as it is a PowerShell issue and we will let the PS team look further. Will update the other issue with any new details.

[2019-04-23 17:35] #29267 closed

[2019-04-23 17:49] TravisCragg-MSFT commented on #29882
@smehta07 can you post a link to the doc you are referring to?

[2019-04-23 17:49] JavedEqbal commented on #27629
@MicahMcKittrick-MSFT - I'm facing the same issue with the same error message as in the problem description, I did try adding the password in the plain text format but even that did not work and it threw an error <errCode='1323'>. Reading through the MS documentation about the error code definition says "ERROR_WRONG_PASSWORD : Unable to update the password. The value provided as the current passwo

[2019-04-23 17:52] Karishma-Tiwari-MSFT commented on #26014
@acastaing I am trying to get an update on this from the product team and will share it here.

[2019-04-23 17:52] TravisCragg-MSFT commented on #29883
@76mel Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-04-23 17:53] TravisCragg-MSFT commented on #29885
@76mel Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-23 17:54] Karishma-Tiwari-MSFT commented on #29626
@dlepow Did you get a chance to take a look at this one? Thanks :)

[2019-04-23 17:56] SaurabhSharma-MSFT commented on #29915
@frobnitzz Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-23 17:57] SaurabhSharma-MSFT commented on #29911
@wawyed Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-23 17:57] SaurabhSharma-MSFT commented on #29905
@jreinhardtiv4 Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-23 17:58] SaurabhSharma-MSFT commented on #29893
@frobnitzz Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-23 18:02] SaurabhSharma-MSFT commented on #29887
@dennisxu2019 Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-23 18:02] Karishma-Tiwari-MSFT commented on #29889
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-23 18:02] TravisCragg-MSFT commented on #29900
@i322669 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-23 18:03] ealsur commented on #29874
@wpitallo The Function Trigger uses the Change feed library underneath. Any connectivity issue related to transient failures is managed and retried to provide at-least-once delivery.
There are un-retriable scenarios, like enabling Firewall on the account and blocking Functions runtime that will stop your Function, but the lease state contains the last successful change processed, so the Function w

[2019-04-23 18:04] ukiguy opened #29920 "Connection from Azure WebApp or PowerBI Services"
What is a recommended secure configuration to allow access from Azure public services such as App Service or PowerBI to SQL MI thru public endpoint. The challenge is that Microsoft public App Services in an NSG will allow access from a whole region as opposed to specific IP address. Same thing for PowerBI.
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-04-23 18:04] smehta07 commented on #29882
Hi, I've been following this doc to deploy my app: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app