[2020-09-15 08:01] SriNath222 opened #62643 "Each storage account supports up to 100 IP network rules. - is it supposed to be 200 ?"
Current page "https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security" says

"Each storage account supports up to **100** IP network rules."

However azure subscription service limits page
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits

**Maximum number of IP address rules per storage account | 200
Maximum number of

[2020-09-15 08:07] HarithaMaddi-MSFT commented on #62531
@boecskoer - Thanks for sharing the details. I am not able to reproduce the scenarios you shared not working above. Below is a GIF where it was working fine for me. I have used an ADLS Gen2 account to replicate the folder structure as mentioned and all wildcards were working as expected. Please re-check and let us know for further queries and we will be glad to assist.
![WildcardDataFlowADF](https

[2020-09-15 08:24] compvishal commented on #62539
I am sorry if bit confused. The image is error showing in 'this document', i.e. Kiosk app only.

[2020-09-15 08:25] haymansfield commented on #62235
Sorry, but this response is incorrect, I am talking about a P2S connection not a S2S connection. The referenced document is not relevant.

[2020-09-15 08:28] FrogWan opened #62644 "How to get passwd and how to get root permission of a AKS node?"
az vmss extension set  \
    --resource-group $CLUSTER_RESOURCE_GROUP \
    --vmss-name $SCALE_SET_NAME \
    --name VMAccessForLinux \
    --publisher Microsoft.OSTCExtensions \
    --version 1.4 \
    --protected-settings "{\"username\":\"azureuser\", \"ssh_key\":\"$(cat ~/.ssh/id_rsa.pub)\"}"

Here just put the user name but how can I get the passed of this username? moreover, how can I get roo

[2020-09-15 08:29] JayaChatterjee-MSFT commented on #62493
@cbetti Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-09-15 08:30] JayaChatterjee-MSFT commented on #62576
@teilmeier Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-09-15 08:48] jameswestall commented on #43244
@simonrivas  - I've given up on the state of the connector specific documentation at this point. Best to configure something in a sandbox, then use the Azure Resource explorer to see the ARM representation for attributes the documentation misses.

[2020-09-15 08:50] ebashmakov opened #62645 "Clarification for QueryString variable is needed"
It is not clear what that means. Does it include the whole query string of a URI? Or does it include query parameter names only? What does `Variable` mean here?

Example:

[code]
`QueryString` is `page=123&focus=title`
or
`QueryString` is `pagefocus`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ca730-5af2-a52f-801

[2020-09-15 08:52] mvelikikh opened #62646 "Esv4-series does not have Max cached and temp storage throughput column"
Dear Team,

I have noticed that both Esv4-series and [Dsv4-series](https://docs.microsoft.com/en-us/azure/virtual-machines/dv4-dsv4-series?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json) do not have the "Max cached and temp storage throughput: IOPS/MBps (cache size in GiB)" column anymore.

It was present for [Esv3-series](https://docs.microsoft.com

[2020-09-15 09:02] psmanhas commented on #62646
@brbell Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-15 09:02] psmanhas commented on #62646
@brbell Can you please check and add your comments on this doc update request as applicable

[2020-09-15 09:04] shashishailaj commented on #62626
@qingmi918 Thank you for your feedback . We will investigate and update the thread.

[2020-09-15 09:05] shashishailaj commented on #62642
@icelava  Thank you for your feedback . We will investigate and update the thread.

[2020-09-15 09:10] rayne-wiselman commented on #62640
This article details the permissions required for app discovery - https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware#application-discovery-requirements
This article details the permissions required for agentless dependency analysis - https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware#application-discovery-requirements

The article you mentioned h

[2020-09-15 09:11] psmanhas commented on #61822
@limingr Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-15 09:11] #61822 closed

[2020-09-15 09:11] psmanhas commented on #62082
@racchen Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-15 09:11] #62082 closed

[2020-09-15 09:12] psmanhas commented on #62233
@majguo Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-15 09:12] #62233 closed

[2020-09-15 09:14] JeremyTBradshaw commented on #60037
@ChaitanyaNaykodi-MSFT just wondering if there has been any update on this.  I too wonder how Azure Automation is regarded by Microsoft at this point, especially since it doesn't seem to get mentioned anywhere, even in this article.  It's like it's silently planned for decommissioning or something.

[2020-09-15 09:24] GiorgioTechedge commented on #62640
Hi Rayne,

sorry our misunderstanding,you're right.
Everything is clear now.

Sorry for this inconvenience.

Giorgio

On Tue, Sep 15, 2020 at 11:10 AM Rayne Wiselman <notifications@github.com>
wrote:

[2020-09-15 09:29] rayne-wiselman commented on #62640
@GiorgioTechedge But this is great feedback since it's not absolutely clear. I'm updating the article to add a note about the actual permissions for each action (app discovery/dependency analysis) thx!

[2020-09-15 09:37] vipulsparsh commented on #62563
@274188A  Thanks for your feedback, we will discuss this with the content team, meanwhile you can have a look at this URL which talks about a sample .Net Core app :

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

[2020-09-15 09:42] alviorlai commented on #62635
HI @asergaz,

I don't know why but after I decided to remove and recreate all components, it's working now.
Anyway, still thanks for your involving.

[2020-09-15 09:43] woeterman94 commented on #62244
Shouldn't the documentation be updated then?

[2020-09-15 09:52] ravirajuMoga commented on #28457
can you guys  tell me solution for above request 'https://github.com/MicrosoftDocs/azure-docs/issues/28457#issuecomment-481115552'.

I am facing same issue .

[2020-09-15 09:52] SadiqhAhmed-MSFT commented on #62438
@cfj123 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-09-15 09:52] #62438 closed

[2020-09-15 10:09] thiruma0203 opened #62649 ""Max NICs" and "Expected network bandwidth(Mbps)" columns are broken for Standard_E2s_v3 and Standard_E20s_v3"
"Max NICs" for Standard_E2s_v3 is shown as 2/1000. This should be 2 for "Max NICs" column , and 1000 for "Expected network bandwidth(Mbps)".

Similarly, Standard_E20s_v3 has value "8/10000" for "Max NICs".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6688b5a2-8ded-6a3c-a1da-840fc73525de
* Version Independent ID: c935

[2020-09-15 10:11] psmanhas commented on #62524
@grahamchilds We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-15 10:11] #62524 closed

[2020-09-15 10:17] psmanhas commented on #62649
@thiruma0203 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-09-15 10:18] psmanhas commented on #62649
@thiruma0203 Can you please check and add your comments on this doc update request as applicable

[2020-09-15 10:20] psmanhas commented on #62581
@jtuliani Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-09-15 10:21] psmanhas commented on #62581
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-09-15 10:26] NJarZe opened #62650 "Are we forced to use ZRFC_READ_TABLE2?"
Our version of SAP (ECC6 EHP 0) does not have the FM ZRFC_READ_TABLE2. We created a copy and called it ZFM_INTERNAL_ZRFC_READ_TABLE2; however, when trying to use it from ADF with the SAP connector (version 3.0.23 64bit) we get an error.
Type: SAP.Middleware.Connector.RfcInvalidParameterException
Message: Element QUERY_TABLE of container metadata XXXXX/ZFM_INTERNAL_ZRFC_READ_TABLE2 unknown.

Any id

[2020-09-15 10:28] psmanhas commented on #62623
@MarkKharitonov Can you please confirm if you have followed the steps mentioned in the link you have provided in your query and if that resolved your issue or not?

Thanks

[2020-09-15 10:29] RohitMungi-MSFT commented on #62539
The sample worked out of the box without any errors.

[2020-09-15 10:33] SumanthMarigowda-MSFT commented on #62643
@SriNath222 Thanks for the question! We are investigating and will update you shortly.

[2020-09-15 10:34] v-lyivan opened #62651 "Azure AD(O365) default password policies for newly created users"
I have set a tenant with custom password policy(no password expiration), I did it through PowerShell and also made sure to disable the password expiration through O365 as well, but when a new user is created it uses the default password policies mentioned in this article(password expires in 90 days).

Is it possible to modify the default password policies for the new users as well?

---
#### Docum

[2020-09-15 10:49] SnehaAgrawal-MSFT commented on #62428
@mikhailalmeida We will now proceed to close this out but if you feel you need more information please just let us know.

[2020-09-15 10:49] #62428 closed

[2020-09-15 10:51] lukos opened #62652 "There is an issue allocating the public ip address"
There might be a step/comment/requirement missing from this documentation. I have done the following:

1. Created a new AKS cluster (it is automatically given a load balancer and public ip address)
2. Create a _new_ static IP address as per the document
3. Run the helm deploy task. It works successfully except that the load balancer service always shows its external IP address as <pending>
4. I tr

[2020-09-15 10:55] estensen commented on #60616
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/56945. It's still unclear in the docs :/

[2020-09-15 10:57] GitaraniSharma-MSFT commented on #60553
@arkiaconsulting , We have already assigned this issue to @sohamnchatterjee as he is the Product owner and the right person to answer this query.
@sohamnchatterjee , could you please provide an update on this issue?

[2020-09-15 11:00] HarithaMaddi-MSFT commented on #62650
@NJarZe - Thanks for posting the issue. I am looking into it and will update you shortly.

[2020-09-15 11:02] SubhashVasarapu-MSFT commented on #62645
@ebashmakov, Appreciate your patience. Yes, `QueryString is page=123&focus=title` and the variable will be key in a key=value pair and variables are separated by &. So, here in this case there are two variable page & focus.
Matching happens depending on the custom conditions that were applied.

[2020-09-15 11:04] GitaraniSharma-MSFT commented on #62602
@JohnPoetzinger , I checked the [Virtual WAN Pricing](https://azure.microsoft.com/en-gb/pricing/details/virtual-wan/) page and [Calculator](https://azure.microsoft.com/en-gb/pricing/calculator/?service=virtual-wan) and as you mentioned the Data charges which are mentioned [in this article](https://docs.microsoft.com/en-us/azure/virtual-wan/pricing-concepts#data-transfer) are missing from the Virtu

[2020-09-15 11:06] lukos commented on #62652
OK, I managed to get it working and I think I know what happened, although I am unsure why this didn't work the first time (maybe an issue with the dns name part).

When you create a cluster with VM scale sets, you will get a LB with a static IP. This should be fine when you call the helm code like the documentation, but you need to make sure you associate a new ip address with your load balancer

[2020-09-15 11:07] MikeWedderburn-Clarke opened #62653 "Failover when Master not available"
During an outage the Master became unavailable.
It was not possible to fail over to the read replica by stopping replication because all the instructions target the Master at the control plane level, which was not responding.
How should you fail over Postgres when the master is unavailable?

[2020-09-15 11:13] krish-gh commented on #62578
For example:
`OpenSSL> s_client -connect 10.0.0.4:443 -servername www.example.com -showcerts`
If the output doesn't show the complete chain of the certificate being returned, export the certificate again with the complete chain, including the root certificate. Configure that certificate on your backend server.

[code]

[2020-09-15 11:27] AjayKumar-MSFT commented on #62636
Lang, Thanks for leveraging Azure docs feedback channel to raise this question. I notice that you have closed the issue, so I presume you have resolved the issue. If you have any questions on any specific topic/doc section, please let us know.

[2020-09-15 11:28] Splaxi opened #62654 "Send Message Batch - Wrong content type in documentation"
The documentation here:
https://docs.microsoft.com/en-us/rest/api/servicebus/send-message-batch

Lists that you should use the "application/vnd.microsoft.servicebus.yml" as the content-type for the http call against the REST API, but that isn't correct.

The correct value is "application/vnd.microsoft.servicebus.json".

Using the details from the documentation the call against the REST API fails t

[2020-09-15 11:37] jhult commented on #60012
This is the latest download link I can find: https://www.microsoft.com/en-us/download/details.aspx?id=56506

[2020-09-15 11:41] PramodValavala-MSFT commented on #62604
@EricJLarson Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-09-15 11:58] yull1860 commented on #62560
The key is which direction it is controlled , say peering from A -> B , my understanding for allowForwardedTraffic is allow traffic from B->A when it is from outside of B . https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworkpeerings/createorupdate is not reflect this.

[2020-09-15 12:05] RohitMungi-MSFT commented on #62453
@luisquintanilla Could you please help to verify and advise if this is a know [issue ](https://github.com/microsoft/vscode-tools-for-ai/issues/293) with the extension?

[2020-09-15 12:08] RohitMungi-MSFT commented on #62507
@crisansou Thanks for the email. As discussed our team has identified this as a known issue while loading notebooks with large size. The workaround for now is to use either Jupyter/JupyterLab from ML portal.
We really appreciate you for taking time to report the details of the issue to our team. Thanks!!

[2020-09-15 12:08] #62507 closed

[2020-09-15 12:13] HarithaMaddi-MSFT commented on #62650
@NJarZe - Can you please suggest if the FM you created has input parameter "QUERY_TABLE".

[2020-09-15 12:14] jurajtobias opened #62655 "enable for existing vms?"
"To enable automatic VM guest patching, ensure that the property osProfile.windowsConfiguration.enableAutomaticUpdates is set to true in the VM template definition. This property can only be set when creating the VM."

does this mean the new automatic patching can't be enabled for existing VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-15 12:17] #62604 closed

[2020-09-15 12:21] boecskoer commented on #62531
@HarithaMaddi-MSFT I'm not using ADLS Gen2 but Azure Storage Blob Container with the mentioned folder structure.

[2020-09-15 12:28] PramodValavala-MSFT commented on #62577
@MNF Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-15 12:28] #62577 closed

[2020-09-15 12:28] shashishailaj commented on #62651
@v-lyivan Thank you for your query. We will investigate and update the thread.

[2020-09-15 12:35] GitaraniSharma-MSFT commented on #62629
@Ayanmullick , thank you for your question. We'll review this and get back to you shortly.

[2020-09-15 12:44] HarithaMaddi-MSFT commented on #62531
@boecskoer - Thanks for sharing the details. I have created Azure Storage blob container with hierarchial namespace enabled and tested now, it is working fine. Please confirm if your storage configuration is different.

[2020-09-15 12:46] robert-t-taylor commented on #62505
Actually, I am using Drupal 9, and the /web is the new, recommended site
root. I have confirmed that this works.

BTW, the only issue I had was the following line:

`RewriteCond %{REQUEST_URI} ^/$`

I had to change it to `RewriteCond %{REQUEST_URI} ^(.*)` to get the
redirect to work.

On Mon, Sep 14, 2020 at 5:12 PM AjayKumar-MSFT <notifications@github.com>
wrote:

--
*Bob Taylor*
Elliance, Inc. <

[2020-09-15 12:47] Lamarth opened #62658 "Referencing the latest version of secrets"
Fortunately, it's possible to reference the latest version of secrets as follows:
@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/)

The catch is that the secret is loaded and cached, so a restart of the web site/function is required to get a new value. Still, I think it's easier than having to update the config if secrets are rotated, which I believe still requires

[2020-09-15 12:51] mbiver opened #62659 "Incorrect syntax in PowerShell command"
The syntax of this command is not formatted correctly on the page and will throw an error when run as is.  There is a space between "Get-Az" and "VM" that should not be there, and there is a space between the hyphen and the "NAME" parameter.

Get-Az VM -ResourceGroup “RGNAME” – Name “VMNAME” -displayhint expand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-09-15 12:52] boecskoer commented on #62531
@HarithaMaddi-MSFT I'm not using ADLS2, hence hierarchical namespaces are not available.
![image](https://user-images.githubusercontent.com/40827730/93212576-0e2eea00-f763-11ea-8175-eb0949d9c2c6.png)

[2020-09-15 12:53] tomkuijsten commented on #58982
Link 1: https://docs.microsoft.com/en-us/azure/role-based-access-control/quickstart-role-assignments-template
Using manual configuration is not the solution I hoped for. Yes it would work, but it would also require me to update the guid when eg a function app was removed (which will create a new MSI when deploying again).

Link 2: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templ

[2020-09-15 12:55] langer318 opened #62660 "Autoscale not shutting down unused desktop"
I've setup the autoscale solution and it is now shutting down my unused session hosts.  I have two session hosts and no users logged in and it does not shut down the second host when it should.  Here is the output of the script when it runs:

2020-09-15 08:52:19 [339] Request params:
AADTenantId                   :
BeginPeakTime                 : 8:00
ConnectionAssetName           : AzureRunAsConn

[2020-09-15 12:59] MarkKharitonov commented on #62623
I can confirm that once I modified the dockerfile to pass the aforementioned trust flags to pip the problem disappeared and I was able to proceed with the tutorial.

[2020-09-15 13:04] aquibchiniwala commented on #62486
@danhlee329
Microsoft Azure doesn't support private cluster along with paid SKU (uptime-sla).
ref : [Microsoft](https://docs.microsoft.com/en-us/azure/aks/uptime-sla)

[2020-09-15 13:14] HarithaMaddi-MSFT commented on #62531
@boecskoer - Please find below snaps of storage account I have used. Please share the details in snaps from your storage account as well to investigate further.
![AccountKind](https://user-images.githubusercontent.com/61235246/93214968-78578700-f783-11ea-8354-61a09d9a867f.PNG)
![AdvancedSettings](https://user-images.githubusercontent.com/61235246/93214973-78f01d80-f783-11ea-9455-a1f7755e73c6.PNG)

[2020-09-15 13:15] SnehaAgrawal-MSFT commented on #62658
@Lamarth Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 13:16] HarithaMaddi-MSFT commented on #62531
@boecskoer - Thanks, please suggest the account kind that you have selected in below snap.
![AccountKind](https://user-images.githubusercontent.com/61235246/93215214-b9e83200-f783-11ea-9e6a-8ae2e1bb2155.PNG)

[2020-09-15 13:19] boecskoer commented on #62531
@HarithaMaddi-MSFT here you go:
![image](https://user-images.githubusercontent.com/40827730/93215406-a7133480-f766-11ea-8cdc-6dc58678430d.png)
![image](https://user-images.githubusercontent.com/40827730/93215478-c316d600-f766-11ea-86f7-16752fe3df22.png)
![image](https://user-images.githubusercontent.com/40827730/93215505-cc07a780-f766-11ea-979a-0acb08f60014.png)

[2020-09-15 13:21] maganvill opened #62662 "Will GPU resources be available in VNet, when GA?"
Hi,

Will GPU resources be available when deploying container instances into a VNet, under the preview or when GA?

Is there a date for GA?

Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87729a5b-eda2-985e-678a-45498839f6b8
* Version Independent ID: 8ce5224f-6b82-73e7-15dd-32a146c6ad53
* Content: [Deploy GPU-enabl

[2020-09-15 13:32] SnehaAgrawal-MSFT commented on #62511
@bbmmcodegirl As you mentioned

Thanks for the valuable feedback on this I will reach out to Concerned team on this and will share update.

Just to confirm could you please double check on the steps  as I have tried to repro this, and I am able to see config > authsettings. Adding screen shot for reference might be helpful.

![image](https://user-images.githubusercontent.com/46553948/93216739-b9e9

[2020-09-15 13:38] HarithaMaddi-MSFT commented on #62531
@boecskoer - Thanks for sharing the details and support. I created Storage v2 account with hierarchial disabled i.e., without using ADLS Gen2 and tested. I tried the below case and it worked for me, please suggest if you are doing it differently.
![WildcardDataFlow](https://user-images.githubusercontent.com/61235246/93217451-b6a27580-f786-11ea-88da-7fc86220f550.gif)
If you are still experiencing t

[2020-09-15 13:38] #62493 closed

[2020-09-15 13:39] santiagxf opened #62663 "Explained Variance equals R2 when mean of errors is zero."
When talking about the explained variance, where it says "When the mean of the errors is 0, it is equal to explained variance.", this is wrong. It should say "When the mean of the errors is 0, it is equal to R2".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d75487-5a8d-f735-bc34-8a5d90c52d86
* Version Independent I

[2020-09-15 13:43] byteknacker opened #62664 "Version 1.15.10 is not supported in this region - Update Kubernetes Version"
After running this command:

`az group deployment create -g testAppGW -n ingress-appgw --template-file template.json --parameters parameters.json`

I get the following error in the region westeurope:

[code]

Please update the version to match the currently accepted Kubernetes Version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-09-15 13:44] SQLtattoo opened #62665 "Link does not exist"
Hello,
 on https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-i-allow-application-gateway-access-to-only-a-few-source-ip-addresses the answer is pointing to a page with an anchor that does not exist, what's more important is that the answer does not exist in that page or at least not anymore.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-09-15 13:49] BhargaviAnnadevara-MSFT commented on #62659
@mbiver Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-09-15 13:51] asagao-web commented on #62373
Thanks for your update. I will do it again and get back to here later.

[2020-09-15 13:56] Daniel-GabrielN commented on #50421
is there any update on this?

[2020-09-15 13:57] bbmmcodegirl commented on #62511
Hello SnehaAgrawal-MSFT,

please care to read my update and also the comment. Yes, I have also been able to drill down to the authsettings now, after finding the full path published elsewhere. Before, it was not obvious that I needed to go down the 'providers' path.

Please read my update because due to this, the problem has now changed, yes it's possible to change the authsettings, but after that

[2020-09-15 14:08] SQLAdventurer opened #62666 "Data Exfiltration topic should be moved to bottom of this page"
The Data Exfiltration topic currently appears very first in this piece of documentation.  It should appear at the end (as a more advanced topic) as its appearance at the top is causing a LOT of customer confusion for those just trying to understand and configure PrivateLink for  Azure Synapse and Azure SQL DB.

Its placement at the beginning also causes an odd reading experience as it begins with

[2020-09-15 14:09] wamartin-aml commented on #62495
I think with those hyperlinks addressed that should all be taken care of.

@swatig007 I've gone through that notebook, there was just a lot more complexity than I wanted to understand how HyperDrive itself works.

[2020-09-15 14:25] NavtejSaini-MSFT commented on #62666
@SQLAdventurer  We are checking this and we will get back to you.

[2020-09-15 14:28] NavtejSaini-MSFT commented on #62409
@hoksource Thanks for the question and we can check regarding the same from our doc author.

@MladjoA Please provide guidance here for the above questions.

[2020-09-15 14:29] AdamSharif-MSFT opened #62668 "Link for solutions to access ACR behind a proxy does not have any content"
Hello,

Regarding the below content, the hyperlink redirects a redirected page:

https://github.com/Azure/azure-cli/blob/master/doc/use_cli_effectively.md#working-behind-a-proxy

---

CONNECTIVITY_SSL_ERROR
This error means that the client was unable to establish a secure connection to the container registry. This error generally occurs if you're running or using a proxy server.

Potential solutio

[2020-09-15 14:29] AmitavaHazra opened #62669 "Myapps portal is not working in Edge"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-end-user-access

We have observed endless looping while trying to log in to Myapplications portal using Microsoft Edge browser.

It is ended in loops. There are some reason mentioned in MS site but we tried all clearing chache and all but it did not work out.

Can you please help us to resolve it. It is per

[2020-09-15 14:30] MGoedtel commented on #60722
I confirmed the sample code in the article is logically incorrect and that your proposed code change is producing the expected results. I'm going to update the code in the article and get it published this week. Thank you for bringing this to our attention and sharing the PowerShell code that you invested time to develop and work around the doc issue.  #please-close

[2020-09-15 14:30] #60722 closed

[2020-09-15 14:30] NavtejSaini-MSFT commented on #62468
@zarkoc The DNS alias has gone to GA (General Availability) but we are checking specifically for SQL alias.

@MashaMSFT Please check this and provide guidance regarding this.

[2020-09-15 14:36] MladjoA commented on #62409
@hoksource , the performance of the elastic query is pretty the same as long as databases are within the same region, regardless of whether they are hosted on the same logical server/elastic pool or not. That's because the bottleneck stems from the bandwidth of the underlying CLR component being used for elastic queries, which does not have any optimizations for neighbor databases. We are working

[2020-09-15 14:36] nunepalli opened #62670 "https://catalog.data.gov/dataset/local-weather-archive link is not working"
[Enter feedback here]
https://catalog.data.gov/dataset/local-weather-archive link provided in the page https://docs.microsoft.com/en-us/azure/cosmos-db/create-real-time-weather-dashboard-powerbi is not working.

Is there another location to get the weather data for loading into Azure Cosmos DB using an ADF ingestion pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-15 14:56] MonikaReddy-MSFT commented on #62653
@MikeWedderburn-Clarke -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-15 15:00] haymansfield commented on #33157
This seems to be the case for me also; only fully disabling the keyvault firewall makes this work.

[2020-09-15 15:05] mikhailalmeida commented on #62428
@SnehaAgrawal-MSFT, I am not asking about the Frontend and I understand how that works. However, I am asking about which ASE infrastructure is driving the requirement for the need to allocate an additional IP with "20 App Service plan instances" indicated in our docs.

Also, the example you shared for Frontend scaling is missing details. You need to state that the additional 15 instances are added

[2020-09-15 15:17] jpvrolyk opened #62674 "Azure Cache for Redis now in Australia East"
The Azure Cache for Redis team has recently deployed support for Availability Zones to the Australia East region.  Could this document please be updated to indicate this?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Version Independent ID: 72c38d9b-b8b1-92d4-3937-12de08

[2020-09-15 15:21] ram-msft commented on #62540
Thanks for the feedback.@swmachan Could you please help on this doc enhancement.

[2020-09-15 15:28] markorudloff opened #62675 "PowerShell Code works not as expected"
I have configured an internal user as stated on the site and synched it to AzureAD.
When I try to invite an Guest with identical external email-address I got the following error-message:

Code:
`Uninstall-Module AzureADPreview`
`Install-Module AzureADPreview`
`$ADGraphUser = Get-AzureADUser -objectID "user@domain.com"`
`$msGraphUser = New-Object Microsoft.Open.MSGraph.Model.User -ArgumentList $ADG

[2020-09-15 15:34] opticyclic commented on #62419
It seems like there already is a post with lots of votes on UserVoice
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19975480-programmatically-register-b2c-applications

However, it was raised 3 years ago and has been "in progress" for over a year which is frankly ridiculous!

[2020-09-15 15:48] JLambEJG opened #62676 "DESKLESSPACK = O365 F3, not F1"
Please update this document. You have an error. The SKU "DESKLESSPACK" is an O365 F3 license, not an F1. Microsoft renamed the F1 to F3 earlier this year.
https://www.microsoft.com/en-us/licensing/news/m365-firstline-workers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version I

[2020-09-15 15:48] charliechen179 commented on #62252
@Grace-MacJones-MSFT One of the MS support engineer told me it's meant for web application, not for function app.

[2020-09-15 15:49] SwathiDhanwada-MSFT commented on #62381
@chayanbaner Are you still not receiving the "Resolved" notifications once the alert is fired?

[2020-09-15 15:52] aanttila commented on #39950
I'd like to add to this, that it seems the metrics available in the portal are past-tense (processed messages) as opposed to present tense (queued messages).  If the actual metrics refer to "already processed messages", the documentation should probably make that far more clear than it is currently, because this is unexpected, at least to me and people I work with.

[2020-09-15 15:54] SatishBoddu-MSFT commented on #61333
@asergaz FYI, We are transferring this case to CSS support.

[2020-09-15 15:54] #62659 closed

[2020-09-15 15:57] SatishBoddu-MSFT commented on #61333
Hello @TwoPatient
For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to azcommunity@microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.

**Thread URL:** Link to this thread.
**Your Azure Subscription ID**:
**Ema

[2020-09-15 15:58] MonikaReddy-MSFT commented on #62676
@JLambEJG -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-15 16:00] MonikaReddy-MSFT commented on #62676
@JLambEJG -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-15 16:01] SatishBoddu-MSFT commented on #62430
Hello @orionJag Just checking back, could you please let us know if you need further help in this matter.

[2020-09-15 16:02] MonikaReddy-MSFT commented on #61808
@damienbod - I am still awaiting the response from product team. I will keep you posted as soon as I hear from them.

[2020-09-15 16:03] MonikaReddy-MSFT commented on #61943
@HadarTiman  - I am still awaiting the response from product team. I will keep you posted as soon as I hear from them.

@dcaro - Do you have any insights on the above?

[2020-09-15 16:03] #62676 closed

[2020-09-15 16:15] dnetoa opened #62677 "WVD Deployment - Missing URL from Github (RDS-Templates)"
Hi,

We follow guide for URL Safe list, but since we do traffic inspection with virtual appliance, we saw some blocks that doesn't allow WVD deployment finish successfully.

One of them is this repo and some files such Configuration.zip.

https://github.com/Azure/RDS-Templates/tree/master/ARM-wvd-templates

Please, update safe-list with more accurate URLs, this will help to keep consistent URL Fil

[2020-09-15 16:20] anirudhcavale commented on #28457
@ravirajuMoga as I called out in my response to the original comment sometimes the metric name may be slightly different than you expect. Have you done a "get metric definitions" call on the VM/resource (for the custom metric namespace) to discover the metric names? You should use the metric names returned by that call when doing the actual get metrics call?

[2020-09-15 16:20] AmitavaHazra commented on #62669
@MonikaReddy-MSFT @vipulsparsh  please comment if you can help.
Also anyone can help please comment here.

[2020-09-15 16:26] mrbullwinkle commented on #62287
PR to address this issue is merged internally and will go-live at 10 AM UTC-7

[2020-09-15 16:27] TimothyMothra commented on #62287
@mrbullwinkle thank you!

[2020-09-15 16:27] #62287 closed

[2020-09-15 16:36] timsander1 commented on #62244
Are you trying to connect to a SQL API account? These are the docs for connecting to Cosmos DB's API for MongoDB. The content in this doc is not relevant for Cosmos DB SQL API accounts.

[2020-09-15 16:36] RobertF65 commented on #62330
I have a similar problem but the function app is not running the following error is displayed n the portal! How and where do I set this?
![image](https://user-images.githubusercontent.com/11275863/93238876-eeef8700-f779-11ea-9bd2-a3d478d3a044.png)

[2020-09-15 16:43] mmacy commented on #62291
Hi @bubbletroubles, the correct list is defined in this article, and the other article has been updated in https://github.com/MicrosoftDocs/azure-docs/commit/7f10ecd6abc3d8be9ed815d7857a65a6948d1379 to reflect same.

Thanks for the notification of the discrepancy!

#please-close

[2020-09-15 16:43] #62291 closed

[2020-09-15 16:44] mmacy commented on #62289
Hi @bubbletroubles, the correct list is defined in the other article, and this article has been updated in https://github.com/MicrosoftDocs/azure-docs/commit/7f10ecd6abc3d8be9ed815d7857a65a6948d1379 to reflect same.

Thanks for the notification of the discrepancy!

#please-close

[2020-09-15 16:44] #62289 closed

[2020-09-15 16:45] NavtejSaini-MSFT commented on #62670
@nunepalli We are checking this and we will get back to you.

[2020-09-15 16:51] SaurabhSharma-MSFT commented on #62675
@markorudloff Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-15 16:53] #62576 closed

[2020-09-15 16:58] Mike-Ubezzi-MSFT commented on #62630
@clancyarinco Thank you for bringing this to our attention. This information is being reviewed for accuracy. Thank you,

[2020-09-15 16:59] NJarZe commented on #62650
@HarithaMaddi-MSFT - Thanks for the quick reply. We just checked and the QUERY_TABLE parameter is there. Tests have been performed and the results are in the screenshots below.

We have also tested the FM using Python scripts, and these are working without issues.

Thanks again.

![fm](https://user-images.githubusercontent.com/42655983/93241276-23038180-f753-11ea-8dd1-2fd9366536cd.png)
![test1](ht

[2020-09-15 17:02] #29970 closed

[2020-09-15 17:03] Mike-Ubezzi-MSFT commented on #62343
@sindhuragade Please also take a look at [Properties of an Item](https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#properties-of-an-item), as it may be helpful to further detail item specific system generated properties.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion

[2020-09-15 17:03] #62343 closed

[2020-09-15 17:08] stevestein commented on #62468
#assign:rohitnayak
#assign:VanMSFT

[2020-09-15 17:08] PRMerger7 commented on #62468
rohitnayak is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-09-15 17:08] PRMerger7 commented on #62468
rohitnayakmsft is already assigned.

[2020-09-15 17:09] bvduijn opened #62679 "Azure temples from portal"
In the Azure portal there's also an option to create and share templates.(in preview but has been for a long time)

When deploying with Azure CLI could you use these templates as a "remote template" deployment? And if so; how do you obtain the uri?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0aca150-4747-7670-f465-

[2020-09-15 17:09] Karishma-Tiwari-MSFT commented on #62668
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 17:10] Karishma-Tiwari-MSFT commented on #62677
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-15 17:11] leifbro commented on #57577
@ algattik In Azure, each subnet has 5 IPs reserved (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#are-there-any-restrictions-on-using-ip-addresses-within-these-subnets), so /26 address space => 64-5=59 IPs, not 62. We will update the docs accordingly.

BTW, https://github.com/Azure/AzureDatabricksBestPractices/blob/master/toc.md#select-the-largest-vnet-cidr is an uno

[2020-09-15 17:13] ingd opened #62680 "Correct preferredlanguange to preferredlanguage"
Hello guys,

There is a writing issue at the below line:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#table-3-valid-id-values-per-source

Just change preferredlanguange to **preferredlanguage**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e

[2020-09-15 17:13] Karishma-Tiwari-MSFT commented on #62618
@jlichwa Please provide us with the link to the documentation you are referring to so I can direct it to the right team.

[2020-09-15 17:16] kobulloc-MSFT commented on #62680
@ingd Thank you for bringing this to our attention.  I'm reviewing the document and should have an update shortly.

[2020-09-15 17:17] RobertF65 commented on #62330
Added the AzureWebJobsSecretStorageType attribute to the app config via the portal and the function now starts fine but no thumbnails are not being!

[2020-09-15 17:17] Karishma-Tiwari-MSFT commented on #62644
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 17:18] leifbro commented on #57577
Closing this ticket. Please reopen if you have any additional concerns about the documentation.
#please-close

[2020-09-15 17:18] #57577 closed

[2020-09-15 17:20] jlichwa commented on #62618
I apologize @Karishma-Tiwari-MSFT this one was created by mistake the right one is here https://github.com/MicrosoftDocs/azure-docs/issues/62619

[2020-09-15 17:20] #62618 closed

[2020-09-15 17:23] ChaitanyaNaykodi-MSFT commented on #62330
Hello @RobertF65, Based on my comment above, what is the exception you are getting? And are the image extension in caps?

[2020-09-15 17:27] kobulloc-MSFT commented on #62680
@ingd Thank you again for helping to improve our documentation!  The update has been made and the changes should go live shortly.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-15 17:27] #62680 closed

[2020-09-15 17:37] erzads commented on #60878
Thanks for the update. I am having another issue related to this one.
So now I can trigger a disk restore via rest api, then I get the Azure-AsyncOperation header to fetch the status of the restore.
For some reason the request for the operation status comes with a 200 ok status and the body contains "status = succeeded", right after triggering the restore.
When I navigate Azure portal backup jobs,

[2020-09-15 17:40] alpinedelight opened #62681 "Bug in List existing synchronization templates API?"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/application-provisioning-configure-api#step-2-create-the-provisioning-job-based-on-the-template

Per documentation we tried calling the API with the serivce principal Id returned from step 1 - however, regardless what we provide as the Id the API returns 'unkown error':

![image](https://user-images.githubusercontent.com/2342

[2020-09-15 17:41] pvrk commented on #60878
@erzads : The API is actually "trigger restore" and hence it's job is done when the restore is triggered. You should able to track the URL provided in Azure-AsyncOperation header for the actual restore job.

Restore disks doesn't trigger a backup. Replace disks does trigger a backup since the disks are replaced. Are you triggering replace disks?

[2020-09-15 17:45] erzads commented on #60878
I am replacing the disks.
I first trigger the disk replacement and receive a 202 response.
Then I get the Azure-AsyncOperation from that response and send a get request to it.
This second get request is returning 200 OK and succeed in its body though the restore and backup jobs are still running.

[2020-09-15 17:46] SubhashVasarapu-MSFT commented on #62665
@SQLtattoo, Appreciate your feedback. We are working on updating the document. Meanwhile, please refer this doc which explains about [allowing access to a few source IPs ](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#allow-access-to-a-few-source-ips)
We are closing this issue for now. If there are further questions regarding this matter, please reply and

[2020-09-15 17:46] #62665 closed

[2020-09-15 17:53] #48822 closed

[2020-09-15 17:55] craigshoemaker commented on #62554
Thanks, @icemanotzi! I have made the fix in the article.

#please-close

[2020-09-15 17:55] #62554 closed

[2020-09-15 17:55] asergaz commented on #62635
@alviorlai great to hear that :). Sorry I couldn't test it yet on my side.

With that I will leave this case open for 24hours more and wait if no-one else faces the same issue.

Appreciate all your time! Thanks for making docs better.

[2020-09-15 17:56] MonikaReddy-MSFT commented on #60583
@Absoblogginlutely -  I'm going to assign this to the document author so they can update the document accordingly.

[2020-09-15 17:59] pvrk commented on #60878
@erzads : Thanks for the clarification. Will investigate internally and come back.

[2020-09-15 18:05] BharathNimmala-MSFT commented on #62620
Assigning this to @keferna to further evaluate and update the document accordingly.

[2020-09-15 18:07] RobertColston opened #62683 "Documentation Links don't redirect to actual MFA costs."
Hello,

I've noticed that the links to Azure AD MFA pricing for SMS/Phone authentication don't appear to link to helpful information:
- https://azure.microsoft.com/en-us/pricing/details/active-directory/ (Azure AD pricing)
- https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/ (External Identities pricing, this is also how Azure B2C consumer users would be charge

[2020-09-15 18:13] BharathNimmala-MSFT commented on #62385
Thank you @rayne-wiselman for helping on this thread.

@pbertolis Thanks again for bringing this to our notice, the document has been corrected to avoid confusion. The supported regions where the workspace can be created is documented [here](https://docs.microsoft.com/en-us/azure/migrate/how-to-create-group-machine-dependencies#before-you-start), please let us know if you have any further queries.

[2020-09-15 18:13] #62385 closed

[2020-09-15 18:14] BharathNimmala-MSFT commented on #62679
@bvduijn Thank you for your query, we will look into it and get back to you at the earliest.

[2020-09-15 18:24] PeterCLu commented on #62663
#assign:@nibaccam

[2020-09-15 18:24] prabhuselvams commented on #46042
Thanks Hansenms for your comments. Sorry my bad!

[2020-09-15 18:32] erzads commented on #60878
@pvrk thanks. By the way, before replacing disks should I stop the vm? Is it required to reboot the vm after the replace?

[2020-09-15 18:43] kenwith commented on #61338
Looking at the UI, I see the terms "low risk" and "low impact" seem to be used interchangeably. I shot an email to the PM that owns this feature to confirm. I also added info to the article that expands on "low risk". Since each organization might have a different definition the UI has the admin select what permissions they want to classify as "low risk". I added to the article the example of the

[2020-09-15 18:43] kenwith commented on #61338
#please-close

[2020-09-15 18:43] #61338 closed

[2020-09-15 18:48] airtank20 opened #62684 "Error message states different failover window time frame"
The documentation states "Because the restart operation is intrusive and a large number of them could stress the platform, only one failover call is allowed every 30 minutes for each database, elastic pool, or managed instance." however when executing the
invoke-azsqldatabsefailover command within that 30 minute window (actually within a 15 minute window) you get a different error message stating

[2020-09-15 18:57] stevevi commented on #61774
Hi Bhaskar, can you please add screenshots of what you are attempting to do?  There shouldn't be any additional work for customers to do beyond what is described in the existing article.

[2020-09-15 19:02] SubhashVasarapu-MSFT commented on #62641
@jhueppauff, Appreciate your patience. Here the limits are per hub/region. so, you can create another region hub in the same VWAN.

[2020-09-15 19:04] tfitzmac commented on #62679
@bvduijn - sorry, that is not possible. An alternative for this will be [template specs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs?tabs=azure-powershell).

[2020-09-15 19:08] SubhashVasarapu-MSFT commented on #62404
@SebastianClaesson, Appreciate your patience. We are working towards updating the document accordingly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-15 19:08] #62404 closed

[2020-09-15 19:10] jhueppauff commented on #62641
Thank you for responding. I am curious how you would integrate the 2001 VM or the 501 Vnet. As this is the limit described in the documentation. I am aware that you can create another hub in another Region. Just wondering how to do it in the same region?

[2020-09-15 19:10] SubhashVasarapu-MSFT commented on #62426
@RonnieQuan, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-15 19:10] #62426 closed

[2020-09-15 19:42] crisansou opened #62687 "Remove-AzDataLakeGen2AclRecursive - Error when trying to remove ACL permissions from a group recursively: “Status 400 (Removal of a single u/g/o/m entry is not allowed.) - ErrorCode: RemoveAclNotAllowed”"
Hello,

I’m trying to remove group 1 from the “subdir2” directory recursively, however when executing the command below the error “Status 400 (Removal of a single u / g / o / m entry is not allowed.) - ErrorCode: RemoveAclNotAllowed” was displayed:

`Remove-AzDataLakeGen2AclRecursive -Context $ctx -FileSystem $FileSystemName -Path $Path -Acl $acl`

Below is the step by step, can you check if somet

[2020-09-15 19:54] palma21 commented on #62320
The docs are correct, if that cluster is still using acr for some reason that is an issue on that cluster. Please open a support ticket so we may fix that cluster.

[2020-09-15 19:55] adampaquette opened #62689 "Clarify what exacly is kube-dashboard addon"
- What is Is the kube-dashboard addon? An addon wrapping the open source dashboard?
- `The dashboard add-on will be disabled by default for all new clusters created on Kubernetes 1.18 or greater.`
Does the page says that the lastest version of the open source Dashboard should not be installed?
-  `Starting with Kubernetes 1.19 in preview, AKS will no longer support installation of the managed kube

[2020-09-15 19:57] RonnieQuan opened #62690 "Private Link Servcie Application Gateway Support"
[Enter feedback here]
Do you have feature enhancement on your roadmap, besides standard load balancer, also support private link service which runs on Application gateway?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20-cb3b-9c17-5f75ed

[2020-09-15 19:59] sumeetmittal commented on #62690
https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/private-link?view=azure-cli-latest

[2020-09-15 20:04] SaiKishor-MSFT commented on #61957
@johannespetereit
I was able to reproduce the issue. I have reached out to our internal team for further insights on this and will update you soon. Thank you!

[2020-09-15 20:05] ashutoshcipher opened #62691 "getLibStatus function not iterating all the libs to check status, just returning after the 1st element of list"
[Enter feedback here]
Proper implementing will look like this below:

def getLibStatus(shard, token, clusterid, dbfslib):
    resp = requests.get(shard + '/api/2.0/libraries/cluster-status?cluster_id=' + clusterid, auth=("token", token))
    libjson = resp.text
    d = json.loads(libjson)
    if (d.get('library_statuses')):
        statuses = d['library_statuses']

        for status in statuses:

[2020-09-15 20:07] dfulcer opened #62692 "The 2nd note on limits is incorrect"
The 2nd note on this page has incorrect information on the number of Speech resources that can be created.  ALL Cognitive Services resources are limited by the information here:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-cognitive-services-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-09-15 20:15] WinstonHoward-MSFT commented on #62608
@Gryczka ,

I've made a PR adding Premium_ZRS to that list of available redundant storage options. Once that PR is approved by the doc author this issue should close. Thanks!

[2020-09-15 20:16] AnuragSharma-MSFT commented on #62518
@gabriel-kohen-by We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-15 20:17] #62518 closed

[2020-09-15 20:17] sumeetmittal commented on #62690
Replied on the main thread.

From: RonnieQuan <notifications@github.com>
Sent: Tuesday, September 15, 2020 12:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sumeet Mittal <Sumeet.Mittal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Private Link Servcie Application Gateway Support (#62690)

[Enter feedback here]
Do you have feature

[2020-09-15 20:18] AnuragSharma-MSFT commented on #62448
@chayanbaner Please let us know if you need more details on it and we would be glad to assist you there.

[2020-09-15 20:19] sebansal commented on #61843
Fail over will work for Private endpoint scenarios.
@ShaneBala-keyvault is working on updating the documentation to address it.

[2020-09-15 20:20] tfitzmac commented on #56414
@nprieto95 - I see that copy within resource properties can only by used with top-level resources (like using copy on the resource). You would have to move endpoints out to the top-level as [shown here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/copy-resources#iteration-for-a-child-resource).

I will add that information to the article.

[2020-09-15 20:28] tfitzmac commented on #56414
The update should be published later today.
#please-close

[2020-09-15 20:28] #56414 closed

[2020-09-15 20:29] WinstonHoward-MSFT commented on #62644
Hi @FrogWan ,

So to clarify your asking how to get the password for a given username?

[2020-09-15 20:36] garrytrinder commented on #61401
Great, thank you @varunsh-msft, that worked 🎉

I think it would be good to provide some more detail in the docs as currently it suggests that you can deploy the `.pem` file directly to the keychain.

[2020-09-15 20:41] ChaitanyaNaykodi-MSFT commented on #62494
Hello @cbetti, the values mentioned in the sample `host.json`  are correct. I have made a PR to update the default values in the document, you can refer to this [document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#configuring-adaptive-sampling-for-aspnet-applications) for more information. The PR is currently under Doc-Authors review.
Please let me know if there are any con

[2020-09-15 20:42] crisansou opened #62693 "Update-AzDataLakeGen2AclRecursive - Problem with “rwx” permission - Mask is not set automatically and user is unable to edit the file"
Hi,

When setting the “rwx” permission for group 2, the message "The following access permissions are bounds of the mask for this entity: Write" is displayed. What does this mean, the mask must be set manually?
`

    # 1. Get permissions
    $acl = (Get-AzDataLakeGen2Item -Context $Ctx -FileSystem $FileSystemName -Path $Path).ACL

    # 2. Set permissions
    ## a. Set Access
    $acl = Set-AzDat

[2020-09-15 20:45] BharathNimmala-MSFT commented on #52444
Thank you @MSEvanhi  for helping on this thread.

@JJDE  Please review the information shared by @MSEvanhi and let us know if you have any further queries.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and wil

[2020-09-15 20:45] #52444 closed

[2020-09-15 20:52] BharathNimmala-MSFT commented on #62679
Thank you @tfitzmac for helping on this thread.

@bvduijn Please review the information shared by @tfitzmac and let us know if you have any further queries.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and wi

[2020-09-15 20:52] #62679 closed

[2020-09-15 21:04] varunsh-msft commented on #61401
Glad to know it worked! I will work on improving the documentation for this scenario.

[2020-09-15 21:05] snakex2000 opened #62695 "Need to remove West US2 from FAQ page as it is not available yet per MSCDisc"
Need to remove all references to West US2 from the FAQ page as it is not available as of yet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c4d018-b95c-2d64-1620-bf47bf86ff65
* Version Independent ID: 639519b8-bfd6-2a1a-e862-16438a94a54d
* Content: [Frequently asked questions - Azure Spatial Anchors](https://docs.mic

[2020-09-15 21:08] SnehaGunda commented on #62670
@nunepalli Looks like there are some issues on the data.gov site. YOu can't download the file directly but If you search for "Local weather" among all the results and select the JSON or CSV formats you can see the data.

https://catalog.data.gov/dataset?q=local+weather&sort=views_recent+desc&ext_location=&ext_bbox=&ext_prev_extent=-142.03125%2C-8.059229627200192%2C-59.0625%2C52.696361078274485

ht

[2020-09-15 21:08] cijothomas opened #62696 "Deprecate this page."
This page is always outdated, and is not adding any value. The packages list can be found from Nuget.org directly or following any other docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abbbc531-55a4-d477-b6a0-a848dc521537
* Version Independent ID: 233ca0f7-f08d-33f7-2a82-df5cc30215dc
* Content: [Azure Monitor Appl

[2020-09-15 21:09] soutchilin opened #62697 "Missed details"
Hi,

in the [section](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#define-authorization-policy-in-azure-portal) there is no description and no sample of how to add a custom claim. For example, I'd like to add a claim to have roles with some value in my JWT token (in the token it looks like: roles: ["MyApplicationWhateverRight"].
Additionally, there is no descri

[2020-09-15 21:10] cijothomas opened #62698 "Remove all non-dependencies from this page"
The page's title says its listing all the auto collected dependencies. But its showing things like WebForms/Aspx etc, which are not dependencies. Its best to remove the entire .NET Section, and instead link it to the following doc:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#automatically-tracked-dependencies

---
#### Document Details

⚠ *Do not edit this section

[2020-09-15 21:10] cijothomas commented on #62698
I meant to open this issue in this page: https://docs.microsoft.com/en-us/azure/azure-monitor/app/auto-collect-dependencies

[2020-09-15 21:11] nunepalli commented on #62670
@SnehaGunda  Thanks for response.
Will this be updated in this web page?
https://docs.microsoft.com/en-us/azure/cosmos-db/create-real-time-weather-dashboard-powerbi

[2020-09-15 21:11] #62670 closed

[2020-09-15 21:16] ChaitanyaNaykodi-MSFT commented on #62330
Hello @joebiker & @RobertF65, Just an update the PR mentioned above was approved now. So now even if the image extension is in capital letters (eg: "PNG", "GIF" etc.) The code will run fine and resize the image. I was successfully able to execute the tutorial as shown below.
<img src="https://user-images.githubusercontent.com/67453298/93265400-7084ec00-f75d-11ea-8892-dca6a9d2ab5b.png" width="250">

[2020-09-15 21:25] ChaitanyaNaykodi-MSFT commented on #62654
Hello @Splaxi,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-15 21:26] MarileeTurscak-MSFT commented on #62683
@RobertColston
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-15 21:28] #61956 closed

[2020-09-15 21:29] skingd opened #62699 "--auth-mode login not working for blob uploads"
[Enter feedback here]

--auth-mode login isn't working. I gave the principle reader to the storage account and storage account contributor on the blob. It can upload via the portal but I get the following error when trying to upload from Azure CLI:

_Authentication failure. This may be caused by either invalid account key, connection string or sas token value provided for your storage account._

I

[2020-09-15 21:32] MarileeTurscak-MSFT commented on #62610
Thanks! I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/130002

[2020-09-15 21:32] #62610 closed

[2020-09-15 21:33] BharathNimmala-MSFT commented on #62696
@cijothomas Thank you for bringing this to notice, assigning this issue to @mrbullwinkle to further evaluate and deprecate the page as needed.

[2020-09-15 21:34] BharathNimmala-MSFT commented on #62698
@cijothomas Thank you for bringing this to notice, assigning this issue to @mrbullwinkle to further evaluate the feedback and enhance the document as needed.

[2020-09-15 21:51] SnehaGunda commented on #62363
@koichino We have added a note to the doc. In the upcoming months, we will be adding tags to call out that the docs are applicable to specific APIs only.

Closing this issue now.

#please-close

[2020-09-15 21:51] #62363 closed

[2020-09-15 21:54] SnehaGunda commented on #62058
@milismsft is our SME, he can help.

[2020-09-15 21:55] sujitdmello opened #62700 "Account Service app does not deploy"
[Enter feedback here]
All the other apps deploy just fine.

az spring-cloud app deploy -n **account-service** --jar-path ./account-service/target/account-service.jar
This command usually takes minutes to run. Add '--verbose' parameter if needed.
[1/3] Requesting for upload URL
[2/3] Uploading package to blob
[3/3] Updating deployment in app 'account-service' (this operation can take a while to com

[2020-09-15 21:55] Karishma-Tiwari-MSFT commented on #61944
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-15 21:57] Karishma-Tiwari-MSFT commented on #62519
@manishjha2088 Hope that helped answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-15 21:57] #62519 closed

[2020-09-15 21:57] milismsft commented on #62058
The "destination' path in the Docker command is incorrect; it is using "/" instead of "\" for path separators.

[2020-09-15 21:58] SnehaGunda commented on #62058
Here is the right command:

md %LOCALAPPDATA%\CosmosDBEmulator\bind-mount

docker run --name azure-cosmosdb-emulator --memory 2GB --mount "type=bind,source=%LOCALAPPDATA%\CosmosDBEmulator\bind-mount,destination=C:\CosmosDB.Emulator\bind-mount" --interactive --tty -p 8081:8081 -p 8900:8900 -p 8901:8901 -p 8902:8902 -p 10250:10250 -p 10251:10251 -p 10252:10252 -p 10253:10253 -p 10254:10254 -p 10255:

[2020-09-15 21:59] jtobinisaniceguy opened #62701 "Suffix automatically added to supplied endpoint '/resource'"
The documentation should _highlight_ that your endpoint should support the URL: https://{your_endpoint_URI}**/resource**
Azure will add the '/resource' suffix to provided URL and handling endpoint should be configured to support
While this is listed in the examples, a written statement in the steps would be more helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-15 22:05] MonikaReddy-MSFT commented on #62700
@sujitdmello -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-15 22:07] MonikaReddy-MSFT commented on #62669
@AmitavaHazra -
Thanks for brining this to our attention and for looping me in. We will investigate it further and update you shortly.

[2020-09-15 22:16] SnehaGunda commented on #61852
@paulfirelordmu We have only documented the error codes that are emitted by Cosmos DB. Other error codes are the same as the ones offered by MongoDB, please refer to the MongoDB docs for other error codes. I couldn't find a single page for all the errors in their end but they are embedded within the examples and output as shown here:
https://docs.mongodb.com/manual/reference/command/insert/#output

[2020-09-15 22:29] WinstonHoward-MSFT commented on #62655
Hi @jurajtobias ,

According to this section of the doc, you can use the [following command](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/automatic-vm-guest-patching#azure-cli-20-1). Where you able to give that a try?

`az vm update --resource-group myResourceGroup --name myVM --set osProfile.windowsConfiguration.enableAutomaticUpdates=true osProfile.windowsConfiguration.patchSe

[2020-09-15 22:33] WinstonHoward-MSFT commented on #62655
@mayanknayar

Can you help deconflict the information, the doc does provide an AZ CLI Command to update an existing VM but also states

[2020-09-15 22:34] bandersmsft commented on #61793
@joostm1  After you split a reservation, the original ReservationID is cancelled and two new reservations are created, so there will be two new reservationIDs. The new reservations have the same end date as the one that was split, so the term is unchanged.
#please-close

[2020-09-15 22:34] #61793 closed

[2020-09-15 22:35] Karishma-Tiwari-MSFT commented on #62662
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 22:37] WinstonHoward-MSFT commented on #62689
Thanks for the issue, I've assigned this thread to the author to help with your doc questions.

[2020-09-15 22:37] Karishma-Tiwari-MSFT commented on #62663
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-15 22:49] mayanknayar commented on #62655
@jurajtobias - thank you for your query. You can use Automatic VM Guest Patching for existing VMs if you the property osProfile.windowsConfiguration.enableAutomaticUpdates set to true for your VM. This property is set to true by default unless you have explicitly set it to false, so your VM might already have this property set.

If you had earlier set the property to false, then you will not be ab

[2020-09-15 22:50] Karishma-Tiwari-MSFT commented on #62486
It falls under Uptime SLA point in limitations. We will consider updating the doc if we get similar feedback from more customer. However, this issue created by you will stay with the doc and will be available for reference.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and

[2020-09-15 22:50] #62486 closed

[2020-09-15 22:53] Karishma-Tiwari-MSFT commented on #62660
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 22:54] PaulDash opened #62703 "No mention of Azure Firewall"
Page does not mention which SKUs are to be used with Azure Firewall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd95f8e2-963d-3193-ec1f-b0dd9f566ee2
* Version Independent ID: 14376448-43ec-8f0f-65fd-c813256a7520
* Content: [Public IP addresses in Azure](https://docs.microsoft.com/en-us/azure/virtual-network/public-

[2020-09-15 23:00] Karishma-Tiwari-MSFT commented on #62487
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-09-15 23:00] #62487 closed

[2020-09-15 23:31] KranthiPakala-MSFT commented on #62575
Hi @baymac,

Thanks for leveraging Azure docs feedback channel to raise this question.

You can use ADF [web activity](https://docs.microsoft.com/azure/data-factory/control-flow-web-activity) and use service principal as described in the below online blog (_Disclaimer: this is not a MSFT blog_) to get the access token.

- [Service Principal authentication within Azure Data Factory v2](http://lucav

[2020-09-15 23:31] #62575 closed

[2020-09-15 23:53] SaurabhSharma-MSFT commented on #62481
@thequesarito Thanks for your feedback.  Yes, there is a typo in the PowerShell code.  I have submitted a PR for the same and it will be merged as soon as approved by the author.
![image](https://user-images.githubusercontent.com/38112130/93275866-f3647180-f772-11ea-9790-e0321a45c8e1.png)

Also, you need to pass '$settinga' parameter to -AdminEligibleSettings to update 'MfaRule' (See screenshot be

[2020-09-16 00:00] SaurabhSharma-MSFT commented on #62589
@PatrikHanssonIntersolia  In order to collect the data from machines you need to have log analytics agent installed either manually or via auto provisioning.

[2020-09-16 00:03] TravisCragg-MSFT commented on #62560
@yull1860 Thanks for clarifying. This statement in the doc is quite misleading:

Would changing this statement to

be enough to clarify?

[2020-09-16 00:09] tameika opened #62705 "Microsoft.Sql ManagedInstances / Databases should be "No"
Hi, this documentation says that tags are supported (marked "Yes) for Microsoft.Sql resource type "managedInstances / databases". However, I just worked with an Azure customer who could not apply it via Portal. I tested the scenario myself and applying tags for an individual Managed Instance database is not possible in Portal, CLI, or PowerShell (the output for the properties comes out blank). It

[2020-09-16 00:09] tameika opened #62706 "Tags: Microsoft.Sql ManagedInstances / Databases should be "No" for not supported"
Hi, this documentation says that tags are supported (marked "Yes) for Microsoft.Sql resource type "managedInstances / databases". However, I just worked with an Azure customer who could not apply it via Portal. I tested the scenario myself and applying tags for an individual Managed Instance database is not possible in Portal, CLI, or PowerShell (the output for the properties comes out blank). It

[2020-09-16 00:20] cmmdesai commented on #62443
Ack. I'll take a look at it this week.
________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Friday, September 11, 2020 12:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chetan Desai <Chetan.Desai@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Update code retrieval details - use SuccessFactor

[2020-09-16 00:34] TravisCragg-MSFT commented on #62664
@byteknacker Thanks for the feedback. [1.15 is no longer a supported version of AKS](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#supported-version-list), I have assigned the issue to the doc author to evaluate and update as appropriate.

[2020-09-16 00:37] BharathNimmala-MSFT commented on #62705
@tameika Thanks a lot for bringing this to our notice, we will review and update the document accordingly.

[2020-09-16 00:38] BharathNimmala-MSFT commented on #62706
@tameika Thanks a lot for bringing this to our notice, we will review and update the document accordingly.

[2020-09-16 00:39] BharathNimmala-MSFT commented on #62701
@jtobinisaniceguy Thank you for your valuable feedback, our team will review it and get back to you at the earliest.

[2020-09-16 00:43] tameika commented on #62705
Sure thing. Thanks, Bharath! Feel free to ping me if you need anything
else.

x

On Tue, Sep 15, 2020 at 5:37 PM BharathNimmala-MSFT <
notifications@github.com> wrote:

[2020-09-16 00:58] BharathNimmala-MSFT commented on #62705
@ tameika As discussed, closing this one as duplicate. Will through the issue via the [other thread](https://github.com/MicrosoftDocs/azure-docs/issues/62706).  Thank you

[2020-09-16 00:58] #62705 closed

[2020-09-16 01:06] TravisCragg-MSFT commented on #62703
@PaulDash Thanks for the feedback! Azure Firewall requires Standard SKU pips. I have assigned this issue to the doc author to evaluate and update as appropriate.

[2020-09-16 01:11] ChaitanyaNaykodi-MSFT commented on #62697
Hello @soutchilin, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-16 01:22] sandeepraichura opened #62708 "Gen2 Snapshot requires passing HyperGeneration Variable or else a Gen1 disk gets created"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a3b473-2b79-2ee0-7227-dcfe0d2ebe88
* Version Independent ID: 81b0485f-60f7-cc85-fafb-c252e155515f
* Content: [Create a VM from a snapshot - CLI Sample - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-

[2020-09-16 01:55] gossion commented on #61961
Seems that latest document for kube-audit is not right, I have no idea about `KubePodInventory` either.

@asubmani, your query looks ok, but I guess kube-audit/kube-audit-admin is not enabled (or lost somehow) in your cluster. You can try to disable and re-enable it for a try. If the problem is not solved, please file a support ticket that oncall engineer can take a look.

For kube-audit/kube-audi

[2020-09-16 02:27] paulgarn commented on #50421
Yes, only if custom claims mapping is required though.

[2020-09-16 03:17] SaurabhSharma-MSFT commented on #62481
@thequesarito We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-16 03:17] #62481 closed

[2020-09-16 03:33] glenncarr opened #62709 "Grammar error"
The following grammar is incorrect:
_specify the number and type of VMs that are **need to** exercises in the class_

It should probably be:
_specify the number and type of VMs that are **needed for** exercises in the class_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97394d52-f271-c9f6-adac-1a0cf7b43788
* Version I

[2020-09-16 03:37] KalyanChanumolu-MSFT commented on #62674
@jpvrolyk Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-09-16 03:52] glenncarr opened #62710 "Grammar error"
This:
_Azure Lab Services does provide a couple areas that allow you_

Should probably be:
_Azure Lab Services does provide a couple **of** areas that allow you_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c822e188-4dcd-7be1-525a-8851806cdb11
* Version Independent ID: 4669cd31-0830-4c1a-4eff-f1203e80c8d8
* Content:

[2020-09-16 03:56] BhargaviAnnadevara-MSFT commented on #62709
@glenncarr Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-09-16 03:57] BhargaviAnnadevara-MSFT commented on #62710
@glenncarr Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-09-16 04:14] Karishma-Tiwari-MSFT commented on #62681
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-16 04:21] SwathiDhanwada-MSFT commented on #62171
@ms-zhouma As there are no documentation changes, we will close the issue for now. If you still need assistance for the issue , please revert and we will be glad to assist you.

[2020-09-16 04:21] #62171 closed

[2020-09-16 04:24] SwathiDhanwada-MSFT commented on #62516
@AdimUser Did you get chance to review previous comments? Let me know if you have any further queries regarding it.

[2020-09-16 04:29] SQLtattoo opened #62711 "Syntax typo"
Hello,
 the switch -Categories does not exist. Replace with -Category.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff10b20b-761b-e07c-d9a5-07d5f62543e0
* Version Independent ID: eb001159-a25b-2cbe-7577-be5cb5647a89
* Content: [Restrict web traffic using PowerShell - Azure Web Application Firewall](https://docs.micro

[2020-09-16 04:55] ram-msft commented on #62692
@dfulcer Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-16 04:59] PramodValavala-MSFT commented on #62298
@KevinBurton Just following up here... Hope my previous comment clears things up.

We are assigning the issue to the content author for further review.

[2020-09-16 04:59] SumanthMarigowda-MSFT commented on #62699
@skingd Thanks for the question! We are investigating and will update you shortly.

[2020-09-16 05:05] AnuragSharma-MSFT commented on #62684
@airtank20 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-16 05:07] chayanbaner commented on #62448
Sure, will raise a ticket with support team. Thanks.

[2020-09-16 05:07] #62448 closed

[2020-09-16 05:08] AshokPeddakotla-MSFT commented on #62695
@snakex2000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-16 05:08] chayanbaner commented on #62381
I will check again today and let you know.

[2020-09-16 05:10] HarithaMaddi-MSFT commented on #62691
@ashutoshcipher - Thanks for your valuable feedback. I am looking into it and I will update you shortly.

[2020-09-16 05:12] ChaitanyaNaykodi-MSFT commented on #62330
Hello @joebiker, I am now proceeding to close this issue. Please tag me in your reply if there are any more concerns, I will be glad to continue with our discussion. Thank you!

[2020-09-16 05:12] #62330 closed

[2020-09-16 05:31] PatrikHanssonIntersolia commented on #62589
I'm sorry but that response makes no sense, if the agent is installed by previous log analytics enrollment the agent is already there and the dependency you mention is met.

[2020-09-16 05:33] h2floh opened #62712 "Provided custom AML compatible Dockerfile sample breaks on docker build"
Hi! I tried to build the custom image from provided Dockerfile. It is not working as displayed in the docs. The `apt-get install -y fuse` will also need a `&&` in order to work correctly. Also I would recommend to add `ENV DEBIAN_FRONTEND=noninteractive`.

I would change the `RUN apt-get update` part to:

[code]

I plan to open a PR which includes the change https://github.com/MicrosoftDocs/azure-

[2020-09-16 05:34] psmanhas commented on #62708
@sandeepraichura Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-16 05:34] psmanhas commented on #62708
@ramankumarlive Can you please check and add your comments on this doc update request as applicable

[2020-09-16 05:40] espacesolutions opened #62713 "additional troubleshooting"
I've found you need to change the security policy to allow guest and local users if they've been removed from the allow access policy, and to remove any restriction on guest user access in group policy. https://community.spiceworks.com/topic/849103-you-cannot-log-on-because-the-method-is-not-allowed
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-09-16 05:42] kostrse opened #62714 "How and when A/AAAAA alias values resolved for Azure CDN?"
The article mentions that alias records can be used to point to Azure CDN from apex domain.

But it doesn't mention whether the A/AAAA alias records still retain benefit of geo load-balancing when using them in conjunction with Azure CDN, same as I would get with CNAME?

Azure CDN endpoint (*.azureedge.net) is GSLB which dynamically resolves to a nearest CDN node.
By CNAME-ing own subdomain to the

[2020-09-16 05:52] JavedEqbal commented on #61063
@SumanthMarigowda-MSFT  - Any updates on this ?

[2020-09-16 06:24] asergaz commented on #42615
@ramandeep-singh-1983 let us know if this issue is now ready to be closed? Thank you.

[2020-09-16 06:37] SubhashVasarapu-MSFT commented on #62711
@SQLtattoo, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-16 06:37] #62711 closed

[2020-09-16 06:38] DIKATE opened #62717 "mr"
good day
[please can you please but my new number
0685241836 its my new num;AND SEND me code

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63bc4d65-6d76-5bb1-49b8-0415c76667f8
* Version Independent ID: bafb894e-abc2-b068-ee53-38c5e20d0740
* Content: [What is the Additional verification page? - Azure AD](https://docs.microsoft.com/en-us/azure/ac

[2020-09-16 06:38] SnehaAgrawal-MSFT commented on #62511
@bbmmcodegirl Thanks for reply!  On the Azure Portal, on your app’s blade, you have the options to stop or restart your app. Could you please try to restart once. In case issue persists please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter.

[2020-09-16 06:39] #62717 closed

[2020-09-16 06:46] SnehaAgrawal-MSFT commented on #62564
@lokijota Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-09-16 07:08] RohitMungi-MSFT commented on #62712
@h2floh Thanks for spotting this and submitting the PR. The PR will be reviewed by our author and this issue will be closed after the PR is approved and merged. The updates in the document would be done within 24 hours of the PR merge.

[2020-09-16 07:09] HarithaMaddi-MSFT commented on #62531
@boecskoer - I will proceed with closing the issue now. Please feel free to comment for any further queries.

[2020-09-16 07:09] #62531 closed

[2020-09-16 07:13] PramodValavala-MSFT commented on #62609
@morteza54dp Unfortunately, this isn't possible today. The underlying network infrastructure drops connections at about 4 minutes which isn't configurable.

Please up vote this [feature request](https://feedback.azure.com/forums/248703-api-management/suggestions/37100821-make-it-possible-to-call-a-long-running-backend-a) for it to gain more traction.

[2020-09-16 07:15] PramodValavala-MSFT commented on #62515
@MhAllan the `func` CLI leverages [ASP.NET Core Data Protection](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/introduction?view=aspnetcore-3.1) to encrypt/decrypt settings.

This setting is used by `func` as mentioned and is not really meant to be changed. It states whether the settings file is encrypted or not, which `func` uses when adding secrets.

As for the default va

[2020-09-16 07:20] vipulsparsh commented on #62372
@niranjanlogin We will be closing this now, feel free to tag me in your comment if you have any questions.

[2020-09-16 07:20] #62372 closed

[2020-09-16 07:29] HarithaMaddi-MSFT commented on #62650
@NJarZe - Thanks for sharing the details.

@linda33wj - Please take a look and suggest your thoughts.

[2020-09-16 07:47] #62650 closed

[2020-09-16 07:50] vipulsparsh commented on #62463
@av1817  Thanks for reaching out. Azure portal does show the same error message if you click on the notification. It will give you something like this :
![image](https://user-images.githubusercontent.com/63580915/93307751-fa48be00-f81e-11ea-813a-75d31792246d.png)

Also as per https://docs.microsoft.com/en-us/azure/key-vault/certificates/create-certificate-signing-request?WT.mc_id=Portal-Microsoft_

[2020-09-16 07:51] vipulsparsh commented on #62561
@dmartin-agi Let us know if you have any questions.

[2020-09-16 07:53] vipulsparsh commented on #62626
@qingmi918 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmbaldwin Can you have a look at this ?

[2020-09-16 08:04] vipulsparsh commented on #62573
@neetima09 Thanks for reaching out. Since you mentioned that you have configured the email alerts for Azure security center, I am assuming you can see emails for alerts for other Azure Services and not just for Containers. Please confirm if this is the case.

Also, it would be helpful to know what kind of vulnerabilities are being shown for containers (Low, medium, High) as you have option to show

[2020-09-16 08:05] MortezaDamavandpeyma-TomTom commented on #62609
Thanks for the quick reply.
So I can assume that keep-alive is support and an idle connection for longer than 4 minutes will be dropped.
Does that mean that if we have a client reusing the connection every (less than) 4 minutes, the session can last as long as client is active?

[2020-09-16 08:15] vyshnavi-pamisetty opened #62718 "Unable to grant access to another user by giving exact sign-in name in the AD directory by Guest User."
[Enter feedback here]

Even though guest user has owner access at subscription level, unable to provide access to another user. Please find the attached error screenshot. This issues occurs for all azure accounts from last week.

<img width="845" alt="Screenshot_1" src="https://user-images.githubusercontent.com/71375291/93311054-20705d00-f823-11ea-8ff9-5defa068f6a5.png">
---
#### Document Details

[2020-09-16 08:18] andrewhyson commented on #54566
Can I also request a link to the new issue?  I'd like to know if there are plans for this to be addressed or If I should find an alternative approach to using auth_time.

[2020-09-16 08:21] Anders-Marius opened #62719 "Correction in title"
[Enter feedback here]

Is the title  "Circuits SKUs from 50 Mbps to 10 Gbps" correct ?
I guess I should  say "Circuits SKUs from 1 Gbps to 100 Gbps" for the Express Direct Services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84695fdf-03f1-a3d4-2bec-b17e06102119
* Version Independent ID: 008b4912-3d0a-4fff-577a-d9a3

[2020-09-16 08:25] neetima09 commented on #62573
Hi Team,

We have enabled security center for container registry only in pricing and
settings section.

After enabling, we have configured notification email on medium severity.
In container registry 72 images are scanned and images status in security
center is showing of high and medium severity.

Inspite of high and medium status for container registry in recommendation
section of security cente

[2020-09-16 08:32] paulfirelordmu commented on #61852
@SnehaGunda I think error codes like 1,16,17 are not mongo error codes, right? Can you provide more info on those? Thanks.

[2020-09-16 08:40] Arithmomaniac opened #62720 "Wrong Cosmos return type in code sample"
in "Disable content response on write operations", the code sample returns the wrong type from `InsertItemAsync`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5fa7ab-4ed8-174d-5173-b995d1610604
* Version Independent ID: a6ad6aff-12b7-4400-a0b4-a3a7e9e3e5f8
* Content: [Azure Cosmos DB performance tips for .NET SDK v

[2020-09-16 09:08] danieltarita commented on #62595
I was able to figure out what i needed to do. Got a few errors configuring the iteration using the API to be able to download it. Used the Custom Vision Portal and [this](https://westeurope.dev.cognitive.microsoft.com/docs/services/Custom_Vision_Training_3.3/operations/5eb0bcc6548b571998fddecd/console) to help me figure out what was going wrong.

To download first I configured the exporting platfo

[2020-09-16 09:08] #62595 closed

[2020-09-16 09:25] sven5 opened #62721 "Wrong demo url"
There is an error in the demo url. The following url is wrong: **https://your-account.blob.core.windows.net/azure-ad-b2c/unified.html**
it should be:
**https://your-account.blob.core.windows.net/root/azure-ad-b2c/unified.html**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Versio

[2020-09-16 09:30] CHEEKATLAPRADEEP-MSFT commented on #62687
@crisansou  Thanks for the question! We are investigating and will update you shortly.

[2020-09-16 09:31] CHEEKATLAPRADEEP-MSFT commented on #62693
@crisansou Thanks for the question! We are investigating and will update you shortly.

[2020-09-16 09:31] NJarZe commented on #62650
@HarithaMaddi-MSFT - Done!

Q&A Question posted [here](https://docs.microsoft.com/en-us/answers/questions/96758/data-factory-sap-table-connector-cannot-find-fm-in.html)
Stack Overflow question posted [here](https://stackoverflow.com/questions/63917126/sap-table-connector-cannot-find-fm-in-sap-ecc-6)

Thanks again for your help!

[2020-09-16 09:32] jurajtobias commented on #62655
@WinstonHoward-MSFT thx for the suggestion - this is the result:
[code]

is it possible, that unless the attribute is set at the time the VM is created, then it simply doesn't exist in existing VMs?

[2020-09-16 09:38] majusmisiak commented on #55319
Similar issue here. @DixitArora-MSFT @miaojiang what is the correct way to configure localsyslog / rfc5424?

Example configuration

[code]

Output
[code]

Same issue with rfc5424 type log. Full output:

[code]

[2020-09-16 09:43] nolavime commented on #62355
Thank you for raising the question.

The ITSM connector was created couple of years back, and request of webapp was done due to the perquisites that existed back than. Today we are evaluation this integration and building a new one based on secure webhook.

If you have any suggestions to improve we will be happy to hear in our user voice, which other customers can upvote and help increase its prio

[2020-09-16 09:51] yiliuTo opened #62722 "access token emitted by AAD v1.0 endpoint are not JWT"
I register an app in my AAD, and when I use Postman to require an access token with Oauth 2.0 Authorization Code Flow, when I use v2.0 endpoint, I can acquire correct access token which can be BASE64 decoded. However when I switch to v1.0, the access token is like below, which is not JWT.
`PAQABAAAAAAAGV_bv21oQQ4ROqh0_1-tAXw_Cxj8sUBaXvPgC-MNBCn8WKig0nCehfkJGU-ozprVTNOMIk2vQVe4TCjypmLsMtRN9vZ-tIwwI

[2020-09-16 09:57] AnuragSharma-MSFT commented on #62720
@Arithmomaniac Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-16 10:06] souravmishra-msft commented on #62509
Closing this thread since received no further updates.

[2020-09-16 10:06] #62509 closed

[2020-09-16 10:07] djpirra commented on #46191
Any updates on this? Do we need gateways when using ExpressRoute?
Documentation to support this?

[2020-09-16 10:09] souravmishra-msft commented on #62722
@yiliuTo, Thank you for reaching out. I am looking into this and will get back to you soon.

[2020-09-16 10:11] shashishailaj commented on #62721
@sven5 Thank you for pointing this out . We will investigate and update the document as needed.

[2020-09-16 10:11] RobertF65 commented on #62330
I@ChaitanyaNaykodi-MSFT I don't seem to be getting any error. I think the event is not being triggered. Nothing is complaining but the file is not being processed. The file is .jpg and .png extension lower case. The file names are long but the upload part works just fine.

[2020-09-16 10:11] souravmishra-msft commented on #62718
@vyshnavi-pamisetty, Thank you for reaching out. I am looking into this and will get back to you soon.

[2020-09-16 10:12] hottomato4 opened #62723 "Bad link"
The link to "enabled by a feature flag" in the "[Unsupported alpha and beta Kubernetes features](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/support-policies.md#unsupported-alpha-and-beta-kubernetes-features)" section links to https://awesomeopensource.com/projects/aks?categoryPage=11 which isn't a useful link and I suspect is wrong.

---
#### Document Details

⚠ *Do not e

[2020-09-16 10:13] KrishnaG-MSFT commented on #62514
Assigning @tfitzmac for visibility, review and document enhancement consideration as appropriate for both PowerShell and CLI examples.

[2020-09-16 10:13] shashishailaj commented on #62713
@espacesolutions Thank you for your feedback . We will investigate and update the thread.

[2020-09-16 10:16] ivanja81 opened #62724 "microsoft.office365.skypeForBusiness/allEntities/allTasks Manage all aspects of Skype for Business Online."
microsoft.office365.skypeForBusiness/allEntities/allTasks | Manage all aspects of Skype for Business Online.

I believe this wording is poor. A Teams Support Specialist role has only rights to Call Analytics and CQD but cannot manage all aspect of SFBO online. This is confusing and should be discussed with feature team

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-09-16 10:19] Bibekg001 opened #62725 "Hi when added a guest OTP enabled account to AD, in AD I am getting its email is modified with #EXT#@domain.com; and when trying to login using that account, MSAL email consist of #EXT#@domain.com which is causing issue with authentication, do we have anything to resolve this?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-16 10:22] av1817 commented on #62463
Vipul,

That is exactly the issue. Our company official name to be used in the O field has a comma and this name has to be exactly like that in order to get the Digi certificate.

SubjectName="CN=cirrusp-nprd.3pc.att.com, O=AT&T Services, Inc., L=Dallas, S=Texas, C=US"

Is there a workaround or another solution? Like add in quotes or an escape character. We need the developers to weigh in. Also, t

[2020-09-16 10:39] boecskoer commented on #62531
@HarithaMaddi-MSFT thanks, it still doesn't work - I'll send you an email.

[2020-09-16 10:55] jjindrich opened #62727 "I'm getting error i/o timeout"
Hi, I'm getting from Azure firewall this response message: IP1 -> IP2  i/o timeout
Please can you describe it what does it means ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](https://do

[2020-09-16 11:03] SubhashVasarapu-MSFT commented on #62719
@Anders-Marius, Thanks for reaching out. We will investigate and update this thread.

[2020-09-16 11:16] AshokPeddakotla-MSFT commented on #62534
@sanjayntms I am able to reproduce the issue. Getting an error while [Configure the query of the Stream Analytics job](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-weather-forecast-machine-learning#configure-the-query-of-the-stream-analytics-job).

Let me check this internally and update you as earliest. Appreciate your time and patience.

![image](https://user-images.githubusercontent.c

[2020-09-16 11:21] mariojacobo opened #62728 "helm install defaults to Basic Load Balancer instead of Standard"
helm install  ingress-nginx/ingress-nginx --namespace kube-system --set controller.replicaCount=2 --set controller.service.loadBalancerIP="X.X.X.X" --set controller.service.anno
tations.service.beta.kubernetes.io/azure-load-balancer-resource-group="my-resource-group"

The command above will install a "Basic" Load Balancer, which is something we don't want since our public IPs are "standard".

Is t

[2020-09-16 11:40] kennethvs opened #62729 "Clearification on unsupported scenario related to leaked credentials"
[Enter feedback here]
This page mentions that "Detection of users with leaked credentials" is not supported. If I look at the flowchart/decision tree located here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/choose-ad-authn#decision-tree

Pass-through Auth + Seamless SSO with Password has sync is the method to use when you want sign0in disaster recovery or leaked credential repo

[2020-09-16 11:41] dracan opened #62730 "Incorrect use of 'Offset'?"
In the code snippet, it says `delay = retryAfter.Date.Value.Offset`. I don't think this is correct. Offset is the timezone difference from UTC time. The delay shouldn't be set to this. Surely this should be something like: `delay = retryAfter.Date.Value - DateTime.UtcNow`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-09-16 11:55] hantintzaw opened #62731 "Feedback for Selective disk backup and restore for Azure virtual machines"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/62378928/93333761-cf279400-f849-11ea-887c-f7ada06cede4.png)

 the argument --backup-management-type AzureIaasVM is not supported.

![image](https://user-images.githubusercontent.com/62378928/93333898-0b5af480-f84a-11ea-87c7-718adb798cae.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-09-16 11:57] MonikaReddy-MSFT commented on #62725
@Bibekg001 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding..

[2020-09-16 11:59] MonikaReddy-MSFT commented on #62730
@dracan -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-16 12:01] MonikaReddy-MSFT commented on #62730
@dracan -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged and approved.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-16 12:01] #62730 closed

[2020-09-16 12:03] SwathiDhanwada-MSFT commented on #62731
@hantintzaw Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-16 12:06] Bibekg001 commented on #62725
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/one-time-passcode
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/customize-invitation-api

[2020-09-16 12:09] HarithaMaddi-MSFT commented on #62691
@mssaperla - Can you please take a look and suggest your thoughts.

[2020-09-16 12:13] dcurwin commented on #62731
#reassign:GeethalakshmiG

[2020-09-16 12:37] psmanhas commented on #62723
@hottomato4 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-16 12:37] psmanhas commented on #62723
@jnoller Can you please check and add your comments on this doc update request as applicable

[2020-09-16 12:38] psmanhas commented on #62728
@mariojacobo Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-16 12:39] psmanhas commented on #62728
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-09-16 12:47] miwithro commented on #61961
@asubmani can you tell me what the Diagnostic Settings are for your cluster?   I have the below configured on my cluster and the initial command works.

![image](https://user-images.githubusercontent.com/50749048/93338910-f0ac5f80-f7f8-11ea-85bb-1edeae052746.png)

I am able to query kube-audit results from the Logs.

We are going to clear up the document so that is reflected correctly.  Thank you.

[2020-09-16 13:41] rquintino opened #62734 "estimate costs/show warnings for synapse on demand samples"
As this is for on-demand, and we're completely unaware of how much data is in this sample blobs, without imposed limits on sql demand, rather uncomfortable not knowing how much each of these queries is going to cost?

Know this is not only related to docs, but if no other features to control/limit costs on demand, the cost of each sample query should be described?

also related:
https://docs.micro

[2020-09-16 13:48] azaricstefan commented on #62734
Hi @rquintino

Cost control will soon be available for SQL on-demand. You would be able set a daily, weekly, monthly limit for a workspace endpoint.
In the tutorial you have links which points to Azure open datasets [such as this one for NYCT](https://azure.microsoft.com/en-us/services/open-datasets/catalog/nyc-taxi-limousine-commission-yellow-taxi-trip-records/).

You can check the size of the da

[2020-09-16 13:50] ahmedsza opened #62735 "indentation issue for deployment of pod"
The section on deploying the pod has the incorrect indentation for nodePublishSecretRef. It needs to be at the same level as volumeAttributes - and not secretProviderClass

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
*

[2020-09-16 13:57] wUEZRs opened #62736 "Reply URL or ACS"
The "Reply URL" is called "Assertion Consumer Service(ACS) URL
SAML 2.0 endpoint URL that the identity provider will use to log your team in to Freshworks." on Freshdesk - so mixing these terms makes it hard to understand what is asked for

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 859cfdb1-2692-307f-6b90-65fa9d45e

[2020-09-16 14:07] rquintino commented on #62734
thx @azaricstefan really needed, extremely powerful but without this and better query estimate before exec would say the risk is really relevant

[2020-09-16 14:09] qJake opened #62737 "Typo in vCore limitation of SQL Express?"
The current document contains this snippet:

However, [the SQL Server licensing documentation here](https://docs.microsoft.com/en-us/sql/sql-server/compute-capacity-limits-by-edition-of-sql-server?redirectedfrom=MSDN&view=sql-server-2017) mentions that **up to and including 4 vCores** is okay.

Is this a typo, and should the sentence instead read this?

---
#### Document Details

⚠ *Do not edit th

[2020-09-16 14:15] dfulcer commented on #62692
The incorrect information is on this page:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview

The 2nd purple colored note reads:
![image](https://user-images.githubusercontent.com/36937760/93349477-60681d80-f7ec-11ea-9881-476f41978693.png)

This is incorrect.

[2020-09-16 14:23] EmreMARTiN commented on #62578
with open ssl i should run the command on from local server  ? or from external over WAF ?

[2020-09-16 14:23] HarithaMaddi-MSFT commented on #62734
Thanks @azaricstefan for sharing the details.

@rquintino - I will proceed with closing the issue now. Please feel free to comment for any further queries.

[2020-09-16 14:23] #62734 closed

[2020-09-16 14:27] sdgilley commented on #62495
@wamartin-aml thanks for your feedback.

The section in that notebook that demonstrates HyperDrive is: **Intelligent hyperparameter tuning**.

Do you have questions about that section in particular or just that the notebook as a whole goes through many other steps to show the end-to-end build and deploy scenario?

[2020-09-16 14:30] GitaraniSharma-MSFT commented on #61524
@mwikstrom , we have received the below update from the Product team:

This statement in documentation is stale. Private responses will not be shared – this was a bug which was fixed.
And they will be removing this line from the documentation soon to avoid any confusion.

Kindly let us know if the above helps or you need further assistance on this issue.

[2020-09-16 14:30] Craigmeister68 opened #62738 "Sharedthroughput database limit stated in parentheses is misleading."
This part of the text of the documentation is the issue:

Azure Cosmos DB free tier
Azure Cosmos DB free tier makes it easy to get started, develop and test your applications, or even run small production workloads for free. When free tier is enabled on an account, you'll get the first 400 RU/s and 5 GB of storage in the account free. You can also create a shared throughput database with 25 contai

[2020-09-16 14:34] dxk3355 opened #62739 "Docs in Scala only"
This is only for the Scala version, the Class.forName("com.microsoft.sqlserver.jdbc.SQLServerDriver") bits don't work in Python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed6655-e376-431c-5cbb-72e82790ae92
* Version Independent ID: 7dbfcf45-4636-0d38-dd56-0349d195d4a5
* Content: [SQL Databases using JDBC - Azure

[2020-09-16 14:48] Olaowo opened #62740 "Failed to resolve table or column expression named "SophosXGFirewall""
# Azure Sentinel guidance

Am trying to connect my sophos firewall with azure sentinel but keep getting this error, What could be the cause of it

let timeframe = ago(1h);
let threshold = 50;
SophosXGFirewall
| where TimeGenerated >= timeframe
| where Log_Type =~ "Firewall"
| where not(ipv4_is_match("10.0.0.0",Src_IP,8) or ipv4_is_match("172.16.0.0",Src_IP,12) or ipv4_is_match("192.168.0.0",Src_IP

[2020-09-16 14:52] hpsin commented on #62722
Access tokens are only the business of the resource. You should not have any expectation of what they look like. In this case it's because you are encountering an edge case in the v1 endpoint.

You are not using the resource parameter that is required, and are therefore triggering the userinfo request. Please review the documentation on the v1 endpoint that indicates you must use the resource para

[2020-09-16 15:04] em-vardol commented on #51184
RESOLVED:

Sharing here for everyone the steps I have discovered in order to make this work.  This might be really helpful when you are short on time and need to provide full steps to the customer.

These commands for PIM Resources in PowerShell are not yet publicly documented  and there is no way to get the exact order of commands. So here it is:

Step 0:

Connect-AzureAD

Get-AzureADMSPrivileged

[2020-09-16 15:09] em-vardol commented on #51184
ALSO:

ASSIGN A ROLE in POWERSHELL for  PIM RESOURCES

 

$schedule = New-Object Microsoft.Open.MSGraph.Model.AzureADMSPrivilegedSchedule

$schedule.Type = "Once"

$schedule.StartDateTime = (Get-Date).ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ")

$schedule.endDateTime = "2020-09-25T20:49:11.770Z"

 

 

 

Open-AzureADMSPrivilegedRoleAssignmentRequest -ProviderId 'AzureResources' -Resour

[2020-09-16 15:10] MarileeTurscak-MSFT commented on #62735
@ahmedsza
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-16 15:11] PSGruss opened #62742 "recommended title is different in instructions and code"
The git repo name in step one of "Publish your application to GitHub" is *jekyll-azure-static*. The name of the repo in the code block of Step 2 is *jekyll-static-app*. Please change so they match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1532547-d8ef-bdea-4164-4f617a249eb5
* Version Independent ID: f8a21eb1-662

[2020-09-16 15:11] MarileeTurscak-MSFT commented on #62736
@wUEZRs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-16 15:14] danielkon96 opened #62743 "IMPORTANT note is out-of-date"
The *Important* section mentions that GitHub Actions is in preview and the user has to sign up with their GitHub account. This information is no longer needed because GitHub actions is out of preview and available to everyone (there are a few exceptions listed here https://docs.github.com/en/actions/getting-started-with-github-actions/about-github-actions)

---
#### Document Details

⚠ *Do not edi

[2020-09-16 15:15] krish-gh commented on #62578
@EmreMARTiN you can run openssl from your local machine pointing to your backend, not external over WAF. If your backend is within a VNET not accessible from your local, the you run openssl from a [Cloud Shell](https://docs.microsoft.com/azure/cloud-shell/private-vnet) within VNET. If you are not familiar with Cloud Shell, it allows you to access bash or powershell from your browser to run command

[2020-09-16 15:18] DamonStamper opened #62744 "Understandable typo"
The project must share the right language/locale and the gender properties as the data you intent to use for your voice training.

should be

The project must share the right language/locale and the gender properties as the data you intend to use for your voice training.

"intent" should be swapped to "intend". Both words sound very similar so it's possible that, ironically given this is about tra

[2020-09-16 15:18] GitaraniSharma-MSFT commented on #62629
@Ayanmullick , unfortunately, there is no documentation with PowerShell commands to install, configure and connect the Azure VPN client for AAD authentication.
All the PowerShell scripts for VPN gateway can be found here:
https://docs.microsoft.com/en-us/azure/vpn-gateway/powershell-samples

The only available PowerShell script available is for downloading the VPN file as below:
https://docs.micro

[2020-09-16 15:20] EmreMARTiN commented on #62578
with open ssl all looks okey i can see all chains.

[2020-09-16 15:22] krish-gh commented on #62578
Can you post the output please after masking any sensitive info?

[2020-09-16 15:30] danieltarita opened #62745 "[Azure Custom Vision][Python][TensorFlow] Model predictions offline different from Custom Vision Portal quick test"
I trained a model of Object Detection using Azure Custom Vision and the predictions done using 'quick test' in the portal are different from the ones obtained offline (with the sample code provided).

### Project info
**Domains:** General (compact)
**Export Capabilities:** Basic platforms (Tensorflow, CoreML, ONNX, ...)

### Original Image
![Original cat image](https://i.imgur.com/dEG0Z5e.jpg)

##

[2020-09-16 15:31] SaurabhSharma-MSFT commented on #62729
@kennethvs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-09-16 15:31] EmreMARTiN commented on #62578
Hi @krish-gh
output is following (some lines deleted and some changed)

$ openssl s_client -showcerts -connect domain.company.com:443
CONNECTED(000001D8)
---
Certificate chain
 0 s:CN = domain.company.com
   i:C = US, O = DigiCert Inc, OU = www.digicert.com, CN = GeoTrust RSA CA 2018
-----BEGIN CERTIFICATE-----
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-----END CERTIFICATE-----
 1 s:C = US, O = DigiCert Inc,

[2020-09-16 15:34] shashishailaj commented on #61603
@wj109s5 Please let us know in case the above information helped.

[2020-09-16 15:34] mike-urnun-msft commented on #62394
@Marco-Santoni for cache-store and cache-store-value it's 2147483647 seconds, which is roughly 68 years. However, the internal cache is cleared fully whenever service restarts, roughly that happens about once a month.

[2020-09-16 15:34] EmreMARTiN commented on #62578
$ openssl s_client -showcerts -connect domain.company.com:443
CONNECTED(000001D8)
---
Certificate chain
 0 s:CN = domain.company.com
   i:C = US, O = DigiCert Inc, OU = www.digicert.com, CN = GeoTrust RSA CA 2018
-----BEGIN CERTIFICATE-----
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-----END CERTIFICATE-----
 1 s:C = US, O = DigiCert Inc, OU = www.digicert.com,

[2020-09-16 15:35] shashishailaj commented on #62344
@ROSMITHJ-MSFT This has been fixed. we are closing this issue now.

[2020-09-16 15:35] #62344 closed

[2020-09-16 15:37] mike-urnun-msft commented on #62394
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-16 15:37] #62394 closed

[2020-09-16 15:42] krish-gh commented on #62578
Thanks. The chain looks ok to me. In that case, I suggest you to create an [Azure Support ticket](https://azure.microsoft.com/support/create-ticket/) to take a closer look at internal diagnostics of your app gateway instance  considering it's still occurring after [troubleshooting](https://docs.microsoft.com/azure/application-gateway/application-gateway-backend-health-troubleshooting#trusted-root-

[2020-09-16 15:43] SubhashVasarapu-MSFT commented on #62307
@difatkulbayanova, we are working towards updating the doc. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-16 15:43] #62307 closed

[2020-09-16 15:44] EmreMARTiN commented on #62578
i raised ticket to Microsoft. Would you like to involve with it ?

[2020-09-16 15:46] GitaraniSharma-MSFT commented on #61524
@mwikstrom , the stale information from the document has been removed and updated as below:
![image](https://user-images.githubusercontent.com/67630903/93360686-97c4e180-f861-11ea-8de8-ddddb9fcf11e.png)

The changes should be reflected in the next 48 hours.

Hence, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the

[2020-09-16 15:46] #61524 closed

[2020-09-16 15:46] pelon34 opened #62748 "Boot diagnostic option for managed storage not included for powershell"
Hello Team, the current public documentation appears to be out of sync specifically referring to the Boot diagnostics option "Enable with managed storage accounts" and the capabilities of the powershell commands on vesion 4.6.1 to make use of this option

**https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-4.6.1**

![image](https://user-images.githubuse

[2020-09-16 15:47] atwerae opened #62749 "Default GPO edit option is grayed out"
The docs state that you can edit the default GPO policies from the management server. This is not true, when you right-click on the GPO the edit option is grayed out. This is happening on multiple instances of domain services and the docs should reflect the permissions you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-09-16 15:48] krish-gh commented on #62578
You can refer this github issue reference in your ticket so that the Azure support personnel can see the details without asking you to repeat these steps. Sure I would be glad to get involved if needed. Also, please let me know your ticket number so that I can track it internally.

[2020-09-16 15:49] sewalshmsft opened #62750 "Azure Automation is listed twice with different information"
Azure Automation is listed in both the compute and management sections. The Compute lists the requirement for Hybrid Runbook workers but that isn't mentioned in the Management section.

The fact Hybrid Runbook workers aren't mentioned in the Management section leads to confusion. What use cases in the Management section do not require Hybrid runbook workers to meet IL5?

---
#### Document Details

[2020-09-16 15:52] Karishma-Tiwari-MSFT commented on #62717
Do you have any question about the document? Let me know.

[2020-09-16 15:56] markjbrown commented on #62738
please assign to @deborahc

Thanks.

[2020-09-16 15:57] MarileeTurscak-MSFT commented on #62735
@ahmedsza, thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/130115

[2020-09-16 15:57] #62735 closed

[2020-09-16 15:57] krish-gh commented on #62578
I will now proceed to close this github issue here since this repo is for MS Docs specifically. I will post the root cause summary once there is an outcome from your open support case. Thanks.

[2020-09-16 15:57] #62578 closed

[2020-09-16 15:58] BharathNimmala-MSFT commented on #62750
@sewalshmsft Thank you for your query, we will look into it and get back to you at the earliest.

[2020-09-16 15:59] SatishBoddu-MSFT commented on #62430
Hello @orionJag
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.
Please post your further technical questions on Microsoft Q&A regarding this matter.
Please do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/an

[2020-09-16 15:59] #62430 closed

[2020-09-16 16:01] asergaz commented on #62373
Hello @asagao-web,
We will now proceed to close this thread. If you still face the same error please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you for all your time!

[2020-09-16 16:01] #62373 closed

[2020-09-16 16:02] Karishma-Tiwari-MSFT commented on #62740
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-09-16 16:04] Karishma-Tiwari-MSFT commented on #62737
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-16 16:05] saveenr commented on #59805
That's a good point. As we revamp out documentation later this year we will make this more clearer so they don't seem as in opposition.

[2020-09-16 16:09] BustosMSFT commented on #44134
Hi @jmelosegui to set up geo-replication between two databases belonging in different Subscriptions or Tenants follow these steps   [Cross-subscription geo-replication](https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview#cross-subscription-geo-replication)

[2020-09-16 16:09] SatishBoddu-MSFT commented on #61333
Hello @TwoPatient
Just checking back! Please let us know if you need further help.

- Please do send us an email for offline support on this matter.
- Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft for posting your further technical questions.

**Happy to help you further in this matter.**

We will

[2020-09-16 16:09] #61333 closed

[2020-09-16 16:09] JamesTran-MSFT commented on #62749
@atwerae
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-16 16:10] SnehaAgrawal-MSFT commented on #62742
@PSGruss Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-16 16:11] BharathNimmala-MSFT commented on #62355
Thank you @nolavime for helping on this thread.

@mganeshphani Please review the above information shared by @nolavime and revert back if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen t

[2020-09-16 16:11] #62355 closed

[2020-09-16 16:12] Karishma-Tiwari-MSFT commented on #62714
Thanks for the question. We are currently investigating and will update you shortly.

[2020-09-16 16:14] Karishma-Tiwari-MSFT commented on #61794
@viktors-telle Did it help answer your question?

[2020-09-16 16:17] #62740 closed

[2020-09-16 16:17] NavtejSaini-MSFT commented on #62738
@Craigmeister68 We are checking this and will get back to you..

[2020-09-16 16:21] MonikaReddy-MSFT commented on #62725
@Bibekg001 - Looks like you have an issue with Product and not the doc itself.  It appears that there's no further edits or updates needed to the documentation.

Do you mind opening the issue in [Microsoft QnA](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) where our engineers/Community are active in answering questions.

We will now go ahead and close this issue, how

[2020-09-16 16:21] #62725 closed

[2020-09-16 16:28] MonikaReddy-MSFT commented on #62653
@MikeWedderburn-Clarke -  Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-16 16:30] cynthn commented on #62674
@KalyanChanumolu-MSFT Can you please assign this to someone from Azure Cache for Redis so that they can confirm and update the docs?

[2020-09-16 16:56] alinapopa opened #62751 "CPU threshold recommendation"
The "Best practices for Autoscale" doc recommends the following CPU thresholds:

Increase instances by 1 count when CPU% >= 80
Decrease instances by 1 count when CPU% <= 60

However when the autoscale is set in Azure following these recommendations, there will be a flapping warning (which ironically points back to this doc):

We recommend choosing an adequate margin between the scale-out and in th

[2020-09-16 16:56] SnehaAgrawal-MSFT commented on #62743
@danielkon96 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-16 16:57] NavtejSaini-MSFT commented on #62058
@IoTFier Please convey if this resolves your issue.

[2020-09-16 17:17] JustinUrbaniak opened #62752 "Redirecting to Error.cshtml"
When publishing the App to Azure it is automatically redirecting to the Error.cshtml page. I can go to the /Create page, but when I try to create a new record it again redirects the app to the error page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87

[2020-09-16 17:23] ran-ten21 opened #62753 "does gov cloud have firewall diagnostics?"
please state if gov can get to these diagnostics or not. i had 1 customer not be able to get this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473dce1d-d1ab-ba5f-0762-d7a69be35f28
* Version Independent ID: 0da2f916-720b-ce8d-3caf-d2bb91503184
* Content: [Monitor Azure Firewall logs and metrics](https://docs.microsof

[2020-09-16 17:27] stevevi commented on #62750
Thanks for the note.  @Jain-Garima is currently updating this article so let me ask her to fix this issue.

[2020-09-16 17:28] Minewiskan commented on #46191
@djpirra - Sorry, there are no updates at this time.  If things change, it will be announced in Gateway documentation.
https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-monthly-updates

[2020-09-16 17:34] BharathNimmala-MSFT commented on #62750
Thank you @stevevi / @Jain-Garima for helping on this thread.

[2020-09-16 17:35] sebansal commented on #62463
Making a change in the code, would break the scenario for many of our other customers who are using comma.

As a suggestion, you can alternatively use Openssl to create the CSR, get certificate from Digicert and import that certificate in key vault.

[2020-09-16 17:41] tdevopsottawa opened #62754 "IP address won't assign - stuck in "<pending>""
I'm following the steps in https://docs.microsoft.com/en-us/azure/aks/internal-lb#create-an-internal-load-balancer and using an AKS cluster deployed in a private network (which the documentation explicitly states is the same process). I've assigned Network Contributor permissions for the Vnet in question to the AKS cluster, as the documentation states is required.

Whenever I try deploying the exa

[2020-09-16 17:49] BharathNimmala-MSFT commented on #62751
@alinapopa Thank you for your query , we will review it and get back to you at the earliest.

[2020-09-16 17:51] av1817 commented on #62463
Okay. I will try that. My issue was that this certificate is for a VMSS and if I create a private key on one instance, get the cert, I wasn’t sure if Key Vault will even send the private key to all.

I did open a support case so let’s see if they suggest something.

Thanks,

From: sebansal <notifications@github.com>
Sent: Wednesday, September 16, 2020 1:36 PM
To: MicrosoftDocs/azure-docs <azure-do

[2020-09-16 17:52] shashishailaj commented on #62568
@taftse We have fixed the document. We will now close this issue.

[2020-09-16 17:52] #62568 closed

[2020-09-16 17:53] Karishma-Tiwari-MSFT commented on #62752
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-09-16 17:54] shashishailaj commented on #61401
Thank you @varunsh-msft for chipping in .

@garrytrinder We will now close this issue and the document update will be done by Varun and tracked internally. Thank you for your patience with us till now. We will now close this issue.

[2020-09-16 17:54] #61401 closed

[2020-09-16 17:58] rboucher commented on #62751
Thanks for your report @alinapopa .@shilpasharmaAM What are the new recommended settings that would remove possible flapping?  We should update this doc.

[2020-09-16 17:59] JustinUrbaniak commented on #62752
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnet-sqldatabase

Thank You,
Justin Urbaniak

[2020-09-16 18:11] curtand commented on #62669
Hi @AmitavaHazra

Thanks for the feedback! Are you using the legacy Edge or the newer Chromium based Edge browser? Also, what version of the Edge browser are you using?

[2020-09-16 18:12] JamesTran-MSFT commented on #62541
@jskop
Thanks for your question!

Are you able to provide a document or example of where you're seeing the ClientDefinitions node within the BuildingBlocks element?

[2020-09-16 18:13] tdevopsottawa commented on #62754
Turns out that it was an internal error: the service principal was changed by another user without informing me. Running az role assignment create with the same clientID output in the error message fixed the issue.

Closing. Solution mentioned so someone else can google it later.

[2020-09-16 18:13] #62754 closed

[2020-09-16 18:14] D-Moonesinghe opened #62755 "Diagram Correct?"
In the diagram shown shouldn't there be a second set of links from On-Premises to the redundant Network?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b1636d-5e05-ff6a-5412-fff24162ee64
* Version Independent ID: 79fea7c8-d22c-d972-3cc0-f2d52e26a695
* Content: [About zone-redundant virtual network gateways in Azure A

[2020-09-16 18:16] JamesTran-MSFT commented on #61565
@pwgrmi
Thanks for your time and patience throughout this issue.

Since we received an update from our PG team regarding your question (in my previous post), and we're currently just waiting for confirmation on whether or not we can update the docs with this info.

I'll go ahead and close out this issue and update the docs when I receive confirmation from their end.

If you have any other question

[2020-09-16 18:16] #61565 closed

[2020-09-16 18:18] JamesTran-MSFT commented on #62543
@jskop
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-16 18:18] LarsKemmann commented on #61295
@hamiltonha Can you share an update on this? We have a couple of customers wanting to adopt B2C and needing to use the PKCE flow for their SPAs due to Safari browser restrictions.

[2020-09-16 18:28] Pavithir commented on #62677
The configuration.zip is already included. The template repo will not be added since its not mandatory. Maybe we can add this to the optional list.

[2020-09-16 18:34] #57461 closed

[2020-09-16 18:39] danhlee329 opened #62757 "Rules Engine V4.0 Update in Documentation"
Looks like the Rules Engine link under `HTTP Large` and
UI has changed, not matching the screen shots in the documentation (namely in Option 2 and Option 3).  Also the overall flow has changed with the UI change, will need updating to accurately capture the steps.  For example, the `URL Rewrite` feature is now missing from this UI.

<img width="1136" alt="Rules Engine V4 0 2020-09-16 11-35-45" src

[2020-09-16 18:48] shilpasharmaAM commented on #62751
Flapping is basically a check to review if a scale in would initiate a scale out immediately. It not only considers the metrics, but also the # of instances which is described as part of the calculation in the documentation.
From the screenshot I am not sure if the # of instances were also the same as the example?

[2020-09-16 18:52] gregorybchris commented on #62663
Thanks for catching this. Here's a PR to make the fix: #62758

[2020-09-16 18:58] nitinkale opened #62759 "CNAME for Akamai"
Akamai does not support "cdnverify" , however it supports domain name validation with acme_challenge. To achieve this one can add CNAME is following format

_acme-challenge.<Custom Domain Hostname> -> <Custom Domain Hostname>.ak-acme-challenge.azureedge.net

I think documentation should include these details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-09-16 19:00] nibaccam commented on #62663
@santiagxf thank you for reporting this. The update for the article has been checked in and we will now proceed to close this thread.
#please-close

[2020-09-16 19:00] #62663 closed

[2020-09-16 19:02] alinapopa commented on #62751
@shilpasharmaAM yes, it is set to increase count by 1 / decrease count by 1

[2020-09-16 19:02] chirangaalwis opened #62760 "[AKS] Missing Prerequisite Roles/Permissions for Basic Kubernetes Cluster Management"
**Description:**
The minimum permissions required for managing a Kubernetes cluster not defined in the quick start guides (for e.g., [Quickstart: Deploy an Azure Kubernetes Service cluster using the Azure CLI](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#create-a-resource-group)).

At the [cluster creation](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#crea

[2020-09-16 19:05] shilpasharmaAM commented on #62751
@alinapopa "Additionally, so we are on the same page. Could you tell us where you are seeing this message exactly and for which resource are you setting the scaling conditions for?"

[2020-09-16 19:05] jpvrolyk commented on #62674
I'm not sure which is the correct procedure here, but I just did a PR to make the change:
https://github.com/MicrosoftDocs/azure-docs/pull/62756

[2020-09-16 19:14] sean-keane25 opened #62761 "RemedationSteps List Data Type not defined"
The data type(s) found in the RemedationSteps List should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ab6818-9668-8b2f-2c70-409f62292a9b
* Version Independent ID: 7ea06d89-fe9b-2619-527f-1864ad78a86b
* Content: [Schemas for the Azure Security Center alerts](https://docs.microsoft.com/en-us/azure/sec

[2020-09-16 19:14] wilsoncg opened #62762 "Steps for migrating fail to mention LUIS EU"
When creating my app initially, I fell into the trap of hosting my app in an EU resource and then trying to connect to the global [LUIS portal](http://luis.ai). I had real difficulty as my app would fail silently when trying to connect to LUIS. I then discovered there is an [EU LUIS portal](http://eu.luis.ai/), which is entirely separate from the global/US portal.

What's even more confusing is th

[2020-09-16 19:17] vhorne commented on #61857
@wbplomp, thanks for the feedback. If we add another firewall tutorial we'll consider the scenario you described. In the meantime, I'll add this to the backlog.
#please-close

[2020-09-16 19:17] #61857 closed

[2020-09-16 19:19] KranthiPakala-MSFT commented on #62739
@dxk3355  Thank you for reaching out. At this time one of our engineer is reviewing the feedback and will provide an update as appropriate.

Thank you for using using Azure Docs feedback channel for reporting this.

[2020-09-16 19:19] JamesTran-MSFT commented on #62761
@sean-keane25
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-16 19:22] pecrow opened #62763 "Add a comment/link on main AGIC documentation?"
Any chance we could add a comment or mention/link this (  https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-existing.md#multi-cluster--shared-app-gateway ) on the main AGIC page ( https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview ) so that it is more visible for people that are using this setup?

Mainly the section:

[2020-09-16 19:28] alinapopa commented on #62751
The message appears for an app service, under App Service Diagnostics (Preview) -> Configuration and Management

[2020-09-16 19:28] roygara commented on #62041
#please-close

[2020-09-16 19:28] #62041 closed

[2020-09-16 19:30] MarileeTurscak-MSFT commented on #62736
Different services have different names for it so it's difficult to avoid some of that confusion, but I agree that it could be clarified so I made a pull request to add "Assertion Customer Service URL" in parentheses after "Reply URL." https://github.com/MicrosoftDocs/azure-docs-pr/pull/130153

[2020-09-16 19:30] #62736 closed

[2020-09-16 19:36] jgwinner commented on #62041
@roygara

That's odd, I've done it.

So with my MSDN Azure account, I created a VM. Had a moderately large C: drive. The Azure portal gave me the PowerShell script to setup a file share for my On-Prem Windows Workstation to access. I ran the script; I can now copy to and from the VM "C:" drive without a problem.

So I'm ready to create a test environment for my client. They give me access to their

[2020-09-16 19:37] jgwinner commented on #62041
Anyway - I'm worried about the docs, as they do need changing as you noted, but for the general solution I'll upload something to the forum. Thanks for listening!

[2020-09-16 19:45] wbplomp commented on #61857
I understand, but bit dissapointing. Just had a Microsoft Support Case were we run into an issue with this very exact scenario. Microsoft employees  where not of this scenario and what caused hte probem; were unable to resolve it. After some investigation I was able to fix it and shared my findings with Microsoft. Hopefully they shared it within Microsoft. That is the reason I reached out with thi

[2020-09-16 19:48] ChaitanyaNaykodi-MSFT commented on #62330
Hello @RobertF65, in the case if the event is not getting triggered. According to this [step](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=dotnet#configure-the-function-app) in the tutorial the connection string "AzureWebJobsStorage" present in the app config should be of the blob storage account where t

[2020-09-16 19:52] mxplusb opened #62764 "Docs are missing role assignments"
Following the instructions to add the AGIC didn't result in the proper permissions mapping. This is in part because the documentation doesn't reference the MSI at all, and also because the error message is wrong.

In the AGIC pod logs, you'll see something like this:

[code]

So I ran the commands, now the logs only show this:

[code]

The problem is the log message is wrong, the actual assignment

[2020-09-16 19:53] cynthn commented on #62674
@jpvrolyk Thanks for submitting the pull request. It should go live sometime on 9/22, after the Ignite updates.

#please-close

[2020-09-16 19:53] #62674 closed

[2020-09-16 20:01] anbene commented on #62620
#reassign:anbene

[2020-09-16 20:15] AjayKumar-MSFT commented on #62505
Robert, Thanks for sharing additional details.

My apologies if I'm missing understanding anything.
You have mentioned "I had to change it to `RewriteCond %{REQUEST_URI} ^(.*)` to get the redirect to work."

I see that in the [referenced document ](https://docs.microsoft.com/azure/app-service/configure-language-php?pivots=platform-linux#change-site-root), the exact same line is mentioned.
And, I d

[2020-09-16 20:15] #62505 closed

[2020-09-16 20:24] IoTFier commented on #62058
Hi @SnehaGunda , @NavtejSaini-MSFT  and @milismsft ,

Thank you for your suggestion. I will validate this today and update you by tomorrow.

Thank you.

[2020-09-16 20:35] hzinedda opened #62766 "monitor multiple resource with a single metric alert rule using a scrpt with ARM template"
i tried to use same template to monitor multiple resource but it doesnt work , if there someone who can help me to write a script it will be so helpfull guys

thanks

[2020-09-16 20:49] tfitzmac commented on #62706
@tameika - I tested adding a tag to a managed instance database and it worked correctly. I used PowerShell and the following commands:

$tags = @{"Dept"="Finance"; "Status"="Normal"}
$resource = Get-AzResource -Name testdb -ResourceGroup dataGroup
New-AzTag -ResourceId $resource.id -Tag $tags

[2020-09-16 20:59] kostrse commented on #57764
Struggling with exactly same problem and wondering why you wouldn't add more flexibility into rule engine to make SPA scenarios possible?

What does 'Not Any' exactly mean? What's the purpose that this condition?
Could you add a condition to match empty extension (no extension)?

Even support for regular expressions could solve the problem.

[2020-09-16 21:10] asubmani commented on #61961
@gossion @miwithro

I deployed a brand new cluster... same issue

NOTES: Log Analytics is in a different subscription. (Kubepodinbentory, kubeevents are fine)

MSFT support asked me to enable managed AAD V2, which I did. (This enables Container Live log stream)

My Log Analytics workspace is not hitting any limits, nor are any "Daily caps" to ingestion set.

![image](https://user-images.githubuser

[2020-09-16 21:12] asubmani commented on #61961
@zr-msft @WinstonHoward-MSFT  Please revert the changes to the doc.  As per several users, it seems this is peculiar to my environment and the below query is correct.
[code]

[2020-09-16 21:15] glenncarr opened #62767 "Grammar error"
This:

Should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04bda81-9a3e-3598-d26f-7e45c309e674
* Version Independent ID: 509624f2-6684-e60f-5b46-99ee58cef6a4
* Content: [Create a VM from a specialized image - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-specialized-image-ver

[2020-09-16 21:19] attig78 opened #62768 "Clarification for " Superseded update" resolution"
Hi,

The steps described in the Scenario "Superseded update indicated as missing in Update Management" do not make complete sense in the context of the Azure Portal.
In step 1 - It directs to the Automation Account, and select update management.
In Step 2 - it prompts to verify the update is truly superseded
In step 3 - it says to mark the update as "declined". However there is no option I can see

[2020-09-16 21:20] cacizi41 opened #62769 "Where is the right place to look for auth key?"
The doc mentioned mandatory auth key inside the docker run command. It would be helpful if the doc could direct users where to look for the auth key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a22219-67ea-74c4-6cb9-95174f5e5ad0
* Version Independent ID: bbbb8846-1089-aea6-66a0-1bae7e334982
* Content: [How to run

[2020-09-16 21:22] SubhashVasarapu-MSFT commented on #62753
@ran-ten21 , Thanks for reaching out. We will investigate and update this thread.

[2020-09-16 21:24] miwithro commented on #61961
@asubmani Thanks the changes will have been reverted. It will go out live a couple of days after Ignite.  Please stay tuned for the update.

[2020-09-16 21:26] GiftA-MSFT commented on #62762
@wilsoncg thanks for your feedback. The document does mention [LUIS authoring regions and portals](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions#luis-authoring-regions) in the [Troubleshooting ](https://docs.microsoft.com/en-gb/azure/cognitive-services/luis/luis-migration-authoring#troubleshooting-the-migration-process) section. Are you saying it would be he

[2020-09-16 21:28] shilpasharmaAM commented on #62751
Thanks, I am going t look into the next steps

[2020-09-16 21:28] GiftA-MSFT commented on #62744
@DamonStamper we'll review your feedback and get back to you shortly. Thanks.

[2020-09-16 21:38] GiftA-MSFT commented on #62745
@danieltarita thanks for reaching out. Can you please provide more details on the discrepancy you observed from the results? Thanks.

[2020-09-16 21:52] MNF opened #62771 "Missing variables (probably due to angle brackets)"
Please fix the following

“update the , , and placeholders“

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e90b309-baac-4f6b-c48b-e395f897b870
* Version Independent ID: 375e2262-7ad2-3638-9864-7e2421f51942
* Content: [Azure Key Vault managed storage account - PowerShell version](https://docs.microsoft.com/en-us/azure/

[2020-09-16 22:10] jskop commented on #62541
Hi,

Thank you for quick response. I saw this node im starter pack https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/LocalAccounts/TrustFrameworkBase.xml

[2020-09-16 22:15] brentleslie commented on #40696
Hey there, I just had the same issue, eventually figured it out using regexReplace: https://stackoverflow.com/questions/63927629/how-to-replace-cr-and-lf-in-data-factory-expressions/63927814#63927814

[2020-09-16 22:16] danieltarita commented on #62745
@GiftA-MSFT thanks for the fast reply!

In the second image the object detections (cats) are identified with red boxes. Only one cat is identified, as expected.

In the third image the detections are identified with black boxes (done with the code I added to the sample code provided). In that image there are several rectangles meaning that there are several cats identified.

[2020-09-16 22:21] mydiemho opened #62772 "--jar-path value is in Windows syntax and will break for other OS"
This command used Windows specific syntax and will break on other OS:

[code]

Specifically, the jar path value using backward slash: `target\hellospring-0.0.1-SNAPSHOT.jar`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a778e35-cbe2-85d8-8fe8-d36b40ab4459
* Version Independent ID: 1dac5cf3-982a-1faa-3608-8faff90dbc5f

[2020-09-16 22:22] RSavage2 commented on #62596
Hi @philippschaefer4 after following the authentication documentation located here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-setup-authentication you should receive a 'Bearer' type authentication token. Once you have this auth token you will want to add that to the headers section in Postman as the 'value' for your key title 'Authorization'. be sure to include the word 'beare

[2020-09-16 22:32] aronbardsley opened #62774 "Clarify Behaviour of Scopes Parameter to AdminConsent EndPoint"
Hi,

Can you please put a big warning in the document somewhere that reads:

**Warning: If your app uses both application and delegated scopes - you cannot request admin consent for only certain scopes. The only way to request admin consent for application scopes is to use the ".default" scope, which also includes all delegated scopes on the app registration. If you wish to separate certain delega

[2020-09-16 22:38] mydiemho opened #62775 "Error deploying app using Java 11"
If I created the sample app with Java 11 instead of 8, I will get the following error when I try to deploy

[code]

Once I update `pom.xml` to use Java 8 and repackage the app, deploy works fine.

## Doesn't work
[code]

## WORK

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a778e35-cbe2-85d8-8fe8-d36b40ab4459

[2020-09-16 22:44] Karishma-Tiwari-MSFT commented on #62727
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-16 22:44] Karishma-Tiwari-MSFT commented on #62754
Thanks for sharing the update.

[2020-09-16 22:45] JamesTran-MSFT commented on #62749
@atwerae
Looking through the documentation there's a quick note, prior to opening the Group Policy Management console:

"To administer group policy in a managed domain, **you must be signed in to a user account that's a member of the AAD DC Administrators group**."
![image](https://user-images.githubusercontent.com/36619112/93399713-f9ba2280-f832-11ea-8d9a-9adc7237d3ba.png)

Since the permissions

[2020-09-16 22:46] Karishma-Tiwari-MSFT commented on #62767
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-09-16 22:46] #62767 closed

[2020-09-16 22:49] atwerae commented on #62749
Hello,

In order to see the domain you need to be logged into the management server
with a member of the aad dc admin group. Even when logged into the
management server with a member of the group editing the default group
policies stays grayed out.

On Wed, Sep 16, 2020, 4:46 PM James Tran-MSFT <notifications@github.com>
wrote:

[2020-09-16 22:49] JamesTran-MSFT commented on #62771
@MNF
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-16 22:57] JamesTran-MSFT commented on #62774
@aronbardsley
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-16 22:59] JamesTran-MSFT commented on #62749
@atwerae
Thank you for the quick response!

Are you able to provide some screenshots of what you're seeing? When it comes to the user being part of the group and the "edit" button still being grayed out.

[2020-09-16 23:00] BustosMSFT commented on #58974
@anosov1960 thanks for the feedback, I am checking all documentation regarding the RPO for Geo Backup to make sure is consistent.

[2020-09-16 23:03] atwerae commented on #62749
I will be able to get access to a domain services tomorrow. I will send you
screen shots when I'm able to.

On Wed, Sep 16, 2020, 4:59 PM James Tran-MSFT <notifications@github.com>
wrote:

[2020-09-16 23:04] stevevi commented on #61867
This change is now live.  @femsulu or @BharathNimmala-MSFT please close this issue.

[2020-09-16 23:19] pnwnightowl opened #62777 "include link to WVD architecture"
In the overview or requirements section it would be good to include a link to the [WVD architectural guide](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop) which will emphasize the dependencies for WVD.  This would be especially useful for customers who are new to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-16 23:30] mimckitt commented on #62748
Confirmed we are working on enabling PowerShell and CLI in the coming months.

I added a note in the limitations section to call out this is currently only available via the portal.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/130199

[2020-09-16 23:30] mimckitt commented on #62748
#please-close

[2020-09-16 23:30] #62748 closed

[2020-09-16 23:39] mydiemho opened #62778 "[piggymetrics] Packaging fail because spring-boot-test is missing in pom.xml"
Running `mvn clean package -DskipTests` resulted in the following error

[code]

## FIX

I have to add the following

[code]

to `account-service/pom.xml`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a778e35-cbe2-85d8-8fe8-d36b40ab4459
* Version Independent ID: 1dac5cf3-982a-1faa-3608-8faff90dbc5f
* Content: [Quicks

[2020-09-16 23:42] SaurabhSharma-MSFT commented on #62589
@PatrikHanssonIntersolia As mentioned in the [Automatic provisioning in cases of a pre-existing agent installation](https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection#automatic-provisioning-in-cases-of-a-pre-existing-agent-installation-) in case your scenarios falls under any these categories.
Also, you need to turn on the auto provisioning to configure w

[2020-09-16 23:44] luhyun95 opened #62779 "Web crawler"

[2020-09-16 23:45] kobulloc-MSFT commented on #62777
@pnwnightowl Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-16 23:56] femsulu commented on #61867
#please-close

[2020-09-16 23:56] #61867 closed

[2020-09-17 00:07] WinstonHoward-MSFT commented on #62644
Hey @FrogWan ,

Just following up, did my above comment help solve your issue? Let me know, thanks!

[2020-09-17 00:09] justin-vanwinkle opened #62780 "podBindingDeployment.yaml doesn't work for managed identity"
The podBindingDeployment.yaml file doesn't work for managed identity, because it expects the secret ref to exist and to contain the client id and secret for a service principal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801

[2020-09-17 00:14] WinstonHoward-MSFT commented on #62655
Hey @jurajtobias ,

I just spun up a VM without that attribute being filled out and then used the command I mentioned to you earlier.

`az vm update --resource-group myResourceGroup --name myVM --set osProfile.windowsConfiguration.enableAutomaticUpdates=true osProfile.windowsConfiguration.patchSettings.patchMode=AutomaticByPlatform`

I am able to verify that my VM now has the Automatic VM Guest Pa

[2020-09-17 00:18] JamesTran-MSFT commented on #62780
@justin-vanwinkle
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-17 00:26] KranthiPakala-MSFT commented on #62769
Hi @cacizi41 ,

Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-17 00:27] kobulloc-MSFT commented on #62777
@pnwnightowl A PR has been submitted to the document author for review based on your suggestion.

[2020-09-17 00:28] NavtejSaini-MSFT commented on #62666
@SQLAdventurer The Data ex filtration prevention topic discussion is necessary to understand why the Private Link is necessary for further securing the Cx Databases. If we remove the section the confusion may arise where Cx may think that the why part of the question, specifically why the Private link is required.

Please do let us know if you need any further help.

[2020-09-17 00:32] NavtejSaini-MSFT commented on #62616
@mrdenny This FAQ section addresses the change needed for the App Services - https://docs.microsoft.com/en-us/azure/mysql/concepts-certificate-rotation#4-what-is-the-impact-if-using-app-service-with-azure-database-for-mysql

It is mentioning the following:
For Azure app services, connecting to Azure Database for MySQL, we can have two possible scenarios and it depends on how on you are using SSL w

[2020-09-17 00:33] rachelxj-ms opened #62781 "Do we have an option to export pfx with password?"
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#export-certificate

From this document, it says "The downloaded appservicecertificate.pfx file is a raw PKCS12 file that contains both the public and private certificates. In each prompt, use an empty string for the import password and the PEM pass phrase.", But when I tried this command

az keyvault secret download \

[2020-09-17 00:36] mrdenny commented on #62616
Thanks.

In our case we don’t use SSL, but others might, so they’ll want to know what they need to change.

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting, an Inc. 5000 company
denny@dcac.com<mailto:denny@dcac.com>
(o) +1 (323) 686-1478<tel:3236861478> | (d) +1 (213) 973-3669<tel:2139733669>
Online Calendar Bookings<https://calendly.com/mrdenny>
[cid:imag

[2020-09-17 00:42] TravisCragg-MSFT commented on #62714
@kostrse They will receive the same IP Address, but it will direct them to the closest edge node. Feel free to test this with different geo regions and the latency / response time.

If requests are not directed to edge nodes it defeats the purpose of a CDN.

[2020-09-17 00:43] NavtejSaini-MSFT commented on #62738
@Craigmeister68 Please check this issue for more details and why that line is important - https://github.com/MicrosoftDocs/azure-docs/issues/59123

Crux of the issue:
Ru/throughput in Azure Cosmos DB is billed by the number provisioned and not by the RU/s consumed. When using the free tier, if you provision a shared database with a minimum throughput of 400 RU/s, all the containers within that dat

[2020-09-17 00:47] glenncarr opened #62783 ""Simplified parameter set" incomplete sample: -Credential omitted from New-AzVM"
The last command under **[Simplified parameter set](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-generalized-image-version-powershell#simplified-parameter-set)** is missing the -Credential parameter:
[code]
It should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f13ce924-2d2b-221f-19cc-399f9f6

[2020-09-17 01:14] espacesolutions commented on #62713
thanks, I found someone else seems to have experienced this too, and I'm try to get our group policy changed by our CAB, but I'd like something official from microsoft for my change to get approved
here;s the other article i found.
https://social.msdn.microsoft.com/Forums/en-US/f601c480-769b-42ef-91fb-6e1004dbb52b/sspr-from-win10-login-screen?forum=WindowsAzureAD
________________________________
F

[2020-09-17 01:16] jmelosegui commented on #44134
I will, thanks.

Closing this.

[2020-09-17 01:16] #44134 closed

[2020-09-17 01:24] vamuzumd opened #62785 ""Managing Concurrency using Azure Storage" link does not download sample code"
When I click on "Managing Concurrency using Azure Storage." to download the code sample as directed in the documentation, it redirects me to https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=MSDN-samples. Searching for "Managing Concurrency using Azure Storage" or any of the keywords does not yield any result.

Sample screenshot as below:
![image](https://user-images.githubuserconten

[2020-09-17 01:32] AleksandarTomicMs2 opened #62786 "Microsoft.Authorization/roleAssignments template's 'scope' parameter doesn't work for resources"
I'm trying to use the roleAssignment template as follows:
[code]
And  getting the error code:
[code]
(I've redacted some of the private data from the example/error message)

The [documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/2018-01-01-preview/roleassignments) clearly states that scope can be used to reference resources:

I know that there are workarounds

[2020-09-17 01:39] TravisCragg-MSFT commented on #62755
@D-Moonesinghe This diagram correctly shows 1 link between on-premise and the VPN Gateways. Zone-Redundant Virtual Network Gateways puts instances of the VPN Gateway into different [Availability Zones](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#availability-zones), providing more resiliency from datacenter outages. It does not affect the VPN connection between your on-pr

[2020-09-17 01:40] TravisCragg-MSFT commented on #62763
@pecrow Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-17 01:41] MNF opened #62787 "Please wrap long lines in Powershell code examples"
Please wrap long lines in code examples like

Get-AzureNetworkSecurityGroup -Name "RestrictBackendApi" | Set-AzureNetworkSecurityRule -Name "ALLOW AzureMngmt" -Type Inbound -Priority 100 -Action Allow -SourceAddressPrefix 'INTERNET' -SourcePortRange '*' -DestinationAddressPrefix '*' -DestinationPortRange '454-455' -Protocol

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-09-17 01:51] TravisCragg-MSFT commented on #62764
@mxplusb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-17 01:51] AshokPeddakotla-MSFT commented on #62534
@sanjayntms

We will update the doc for more clarity along with new screenshots. Please follow the below approach to complete the tutorial.

Choose Azure ML Studio (not Azure ML Service) and make sure you manually input the settings per this screenshot. You get the URL and key from the Excel spreadsheet you downloaded in a previous step.

![image](https://user-images.githubusercontent.com/44426435

[2020-09-17 01:55] TravisCragg-MSFT commented on #62727
@jjindrich Are you referring to the [TCP IO Timeout of 4 minutes for Azure Firewall](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#what-is-the-tcp-idle-timeout-for-azure-firewall)? Can you post the full error message you are getting (with IPs removed)?

[2020-09-17 02:06] BharathNimmala-MSFT commented on #62552
@thexur Thanks again for reaching out. With in the partner portal you can find Publisher ID under:

Settings --> Developer Settings  --> Account Settings

![PublisherID](https://user-images.githubusercontent.com/45180002/93411200-78bd5400-f84f-11ea-9707-805ea76159a7.png)

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation

[2020-09-17 02:06] #62552 closed

[2020-09-17 02:08] iAmBipinPaul opened #62788 "I do not see any option to train data using local files, is it not available or not yet documented?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3de1b4-a118-efae-0e72-7953c8e891b3
* Version Independent ID: 5ad38c9e-c775-8dbc-16ff-705a40b580e1
* Content: [Quickstart: Form Recognizer client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recog

[2020-09-17 02:14] BharathNimmala-MSFT commented on #62768
@attig78 Thank you for your query, we will review and get back to you at the earliest.

[2020-09-17 02:32] hwinstonuconn opened #62789 "Typo in ASA Tutorial"
I am working through the tutorial:
Tutorial: Step-by-step instructions to create a new HoloLens Unity app using Azure Spatial Anchors

In the "Upload your local anchor into the cloud" section,
I think there is a typo. Instead of "SpawnNewAnchoredObject" should the instructions
say "CreateAndSaveSphere". I don't see a SpawnNewAnchoredObject method.

Here's the suspect text:

"Finally, let's hook ev

[2020-09-17 02:34] SnehaGunda commented on #61852
@paulfirelordmu I am not sure of these, @LuisBosquez might know.

[2020-09-17 02:44] GitaraniSharma-MSFT commented on #62757
@danhlee329 , thank you for your feedback. I checked the UI for Rules Engine under HTTP Large and it seems to be changed/updated as per your screenshot.
![image](https://user-images.githubusercontent.com/67630903/93413767-9b865180-f8bd-11ea-8354-a8c05eec2c3c.png)

Hence, we have assigned this to the content owner/author for review and updation.

@asudbring , could you please review the feedback an

[2020-09-17 02:55] GitaraniSharma-MSFT commented on #62759
@nitinkale , thank you for your feedback.
[This article](https://docs.microsoft.com/en-us/azure/cdn/cdn-traffic-manager) mentions a note as below:
![image](https://user-images.githubusercontent.com/67630903/93414387-d1780580-f8be-11ea-9fcb-3456af322b41.png)

And the following documentation mentions regarding **_acme-challenge** CNAME as below:
https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-

[2020-09-17 02:59] KrishnaG-MSFT commented on #62786
@AleksandarTomicMs2 Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-17 03:14] BhargaviAnnadevara-MSFT commented on #62775
@mydiemho Thanks for the question. We're investigating this and will get back to you shortly.

[2020-09-17 03:15] BhargaviAnnadevara-MSFT commented on #62778
@mydiemho Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-09-17 03:16] BhargaviAnnadevara-MSFT commented on #62772
@mydiemho Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-09-17 03:24] BhargaviAnnadevara-MSFT commented on #62709
@glenncarr Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-17 03:24] #62709 closed

[2020-09-17 03:25] BhargaviAnnadevara-MSFT commented on #62710
@glenncarr Thanks again for the feedback. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-17 03:25] #62710 closed

[2020-09-17 03:33] BhargaviAnnadevara-MSFT commented on #62779
@luhyun95 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-09-17 03:41] AmitavaHazra commented on #62669
@curtand  please find my edge version. It is legacy edge . Microsoft Edge 42.17134.1098.0 / Microsoft EdgeHTML 17.17134

[2020-09-17 04:40] SwathiDhanwada-MSFT commented on #62381
@chayanbaner As there are no further documentation changes, we will close the issue for now. If you still further need assistance, please revert and we will be glad to assist you.

[2020-09-17 04:40] #62381 closed

[2020-09-17 04:54] ncoder opened #62804 "Python instructions for warmup function are erronous"
Following these instructions leads to this error.

[code]

It seems that the type specified in the function.json file does not match the annotation on the snippet.

I don't know what the right answer is, but I've managed to seemingly continue here by stripping the type info on the function.

Further feedback, while you're in there. The documentation states that the warmup function must be called "

[2020-09-17 04:55] ChaitanyaNaykodi-MSFT commented on #62494
Hello @cbetti
We have proposed the suggested changes to the document, the suggested changes will be merged soon. Thank you once again for your feedback, I will now proceed to close this issue.

[2020-09-17 04:55] #62494 closed

[2020-09-17 05:11] ram-msft commented on #62788
@iAmBipinPaul Thanks for the question. We are investigating the issue and will update you shortly.

[2020-09-17 05:17] psmanhas commented on #62783
@glenncarr Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-17 05:17] psmanhas commented on #62783
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-09-17 05:19] #54663 closed

[2020-09-17 05:20] psmanhas commented on #62760
@chirangaalwis Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-17 05:20] psmanhas commented on #62760
@zr-msft Can you please check and add your comments on this doc update request as applicable

[2020-09-17 05:21] MayankBargali-MSFT commented on #62609
@MortezaDamavandpeyma-TomTom Want to confirm my understanding whether you want keep-alive from client to APIM or APIM to your backend services.

If it is the client to APIM then the timeout for inbound connections between client and APIM is 11 minutes, it can be changed from backend with an appropriate business justification after discussing with product group. Right now there is no way to control

[2020-09-17 05:23] BhargaviAnnadevara-MSFT commented on #62562
@NogginBox Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-17 05:23] #62562 closed

[2020-09-17 05:24] bbmmcodegirl commented on #62511
SnehaAgrawal-MSFT thank you, of course I had already tried restarting the app multiple times.

[2020-09-17 05:48] SubhashVasarapu-MSFT commented on #62641
@jhueppauff, Agree with your point. we are working on the 2k limit /hub's VNET VM's. ETA would be around by end of this year. Please stay tuned!

[2020-09-17 06:18] sanketprabhu34 commented on #25489
This error might come because there is no rule added for the VM in the Vnet firewall. Add new rule allowing access to the VM with NIC IP address in the corresponding firewall and refresh once before registration of integration runtime. it worked for me.

[2020-09-17 06:18] asergaz commented on #62635
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-17 06:18] #62635 closed

[2020-09-17 06:24] TommyKobber opened #62806 "Updated "Basics" page"
The "Basics" page for creating a VMSS has changed. The option "Orchestrator" is not available, and the tab "Instance" is gone as well
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quick

[2020-09-17 06:26] foramkumar-parekh commented on #30795
Is the timeout still the same?
I am using function apps with JAVA and i need a request to wait for more than 8 mins, what is the alternative to HttpTrigger, to achieve this in Function apps using JAVA?

[2020-09-17 06:31] stefandascalu64 opened #62807 "The name of the service to call for logout would help!!!!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21db2aed-de6f-185b-bacf-ec00fbfba2bf
* Version Independent ID: 3f09d8fe-0b80-3055-3a6d-25c1de986eef
* Content: [Single-page app sign-in & sign-out - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-

[2020-09-17 06:59] AnuragSharma-MSFT commented on #62720
@Arithmomaniac I was looking through the code sample provided under **'Disable content response on write operations'** section and noticed it used '**_CreateItemAsync_**' instead of **_InsertItemAsync_**

However if we check the signature of method, it does return the correct type as mentioned in the code sample.
![image](https://user-images.githubusercontent.com/66360845/93431152-5d028e00-f8e1-11

[2020-09-17 07:07] bvduijn commented on #62679
@tfitzmac  Thanks for the info! I guess Template specs is an evolution of the current templates in the Azure portal(?)
@BharathNimmala-MSFT Issue can be closed indeed. I'll sign up for the preview of the template specs.

[2020-09-17 07:08] psmanhas commented on #62806
@TommyKobber Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-17 07:08] psmanhas commented on #62806
@ju-shim Can you please check and add your comments on this doc update request as applicable

[2020-09-17 07:08] souravmishra-msft commented on #62718
@vyshnavi-pamisetty, I just did a repro in my lab and it works fine. My guest user added as an owner to my Tenant's subscription can add/remove other users from the subscription successfully.
![image](https://user-images.githubusercontent.com/54057592/93431686-1d887180-f8e2-11ea-89df-9913955f6270.png)
![image](https://user-images.githubusercontent.com/54057592/93431872-5d4f5900-f8e2-11ea-93e3-6354

[2020-09-17 07:10] AshokPeddakotla-MSFT commented on #62789
@hwinstonuconn Thanks for feedback. PR has been created to update the doc as per the feedback. Changes will go live once it has been peer reviewed and merged.

Adding author @craigktreasure  for review and merge.

[2020-09-17 07:20] Arithmomaniac commented on #62720
Ah, I was using `CreateItemStreamAsync`, which returns a `Task<ResponseMessage>` instead. I guess for streams, the guidance is not relevant.

[2020-09-17 07:20] #62720 closed

[2020-09-17 07:25] OskarKlintrot commented on #30242
Is this still true? I'm using `Microsoft.Azure.ServiceBus` v5.0.0 but I get the the exception posted by @davidxcheng unless I manually set `MessageId`. Am I using the wrong package or has something changed? We use `Microsoft.Azure.ServiceBus.TopicClient` to send the message.

[2020-09-17 07:30] RohitMungi-MSFT commented on #62537
@PatrickFarley Can we address this as part of the next doc update to merge the requirements to remove any redundant information?

[2020-09-17 07:32] RohitMungi-MSFT commented on #62712
@h2floh Due to MS Ignite all PRs are currently on hold till september 22, merging will resume at 7 AM Pacific Tuesday.

[2020-09-17 07:33] pnarsi commented on #60461
@TomGeske to clarify on your previous point. This required [egress network rules table](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#azure-global-required-network-rules) mentions three node/pod to api server ip network traffic rules.

- UDP 1194
- TCP 9000
- TCP 443

Will all three route via the private endpoint once private clusters are enabled?

[2020-09-17 07:41] vipulsparsh commented on #62463
@av1817 Closing this for now, do update what you get from support on this

[2020-09-17 07:41] #62463 closed

[2020-09-17 07:42] vipulsparsh commented on #62561
@dmartin-agi  We will be closing this now, feel free to tag me in your comment.

[2020-09-17 07:42] #62561 closed

[2020-09-17 07:42] vipulsparsh commented on #62563
@274188A  We will be closing this now, feel free to tag me in your comment if you have any questions

[2020-09-17 07:42] #62563 closed

[2020-09-17 07:47] LakshmiChinivar opened #62808 "How to try this POC using other input videos?"
[Enter feedback here]

I did one POC using the steps/procedure given in this doc, I am able to get the success output. But I want to try this POC with other sample videos. I am not able to map the https url to RTSP server, Please guide me on this.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a6443e-3b51-1441-809b-ab

[2020-09-17 07:47] vipulsparsh commented on #62573
@neetima09  If that is the case I would request you to open a support ticket on this to investigate further as this might need more deeper investigation path. We will be closing this now, feel free to tag me in your comment if you have any questions.

[2020-09-17 07:47] #62573 closed

[2020-09-17 07:50] souravmishra-msft commented on #62718
@vyshnavi-pamisetty, Also, you can check the following settings under the External Collaboration blade: make sure the following setting is checked:
![image](https://user-images.githubusercontent.com/54057592/93436464-778c3580-f8e8-11ea-81d1-f4df62985721.png)
Hope this helps.

[2020-09-17 07:52] KrishnaG-MSFT commented on #62766
@hzinedda [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share that kind of feedback here along with refer

[2020-09-17 07:54] shashishailaj commented on #62807
@stefandascalu64 Thank you for your feedback . We will investigate and update the thread .

[2020-09-17 07:58] AkshayKangotra commented on #37847
I was getting the same error but on my side i have fixed this by correcting the app id in config json files.

[2020-09-17 08:06] jjindrich commented on #62727
Error message is: "dial tcp ip1:port->ip2:port: i/o timeout"

[2020-09-17 08:21] MayankBargali-MSFT commented on #62804
@ncoder Thank you for your feedback! We will review and update as appropriate.

[2020-09-17 08:39] MatthewSteeples opened #62809 "Page of ApplicationInsight packages is outdated"
There have been numerous new versions since the last update of this page. It might be worth exploring some widgets so that the version numbers are pulled directly from NuGet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abbbc531-55a4-d477-b6a0-a848dc521537
* Version Independent ID: 233ca0f7-f08d-33f7-2a82-df5cc30215dc

[2020-09-17 08:52] matkoliptak opened #62810 "Latency table for Azure Government"
I miss similar information for Azure Government, any chance of getting it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-us/azure/ne

[2020-09-17 08:59] FrogWan commented on #62644
I have SSH into my node, but my question is how to get the passwd of "username":"azureuser" in the node, And how can I get the root permission of this node?

[2020-09-17 09:04] KrishnaG-MSFT commented on #62628
@Ayanmullick Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-17 09:22] wilsoncg commented on #62762
On reflection, I can see the Troubleshooting has the necessary information.

[2020-09-17 09:22] #62762 closed

[2020-09-17 09:28] BhargaviAnnadevara-MSFT commented on #62775
@mydiemho I see that JDK 8 is mentioned as a [prerequisite](https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-quickstart?tabs=Azure-CLI#prerequisites) to complete the quickstart.

Did you mean to get instructions for Java 11 added separately to the doc?

@bmitchell287 - FYI.

[2020-09-17 09:29] SwathiDhanwada-MSFT commented on #62461
@sav169 Application Insights can monitor app level including dependencies but not plugin, so to monitor your  MVC app, you use code based monitoring . For more information, refer [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core).

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and w

[2020-09-17 09:29] #62461 closed

[2020-09-17 09:31] MortezaDamavandpeyma-TomTom commented on #62609
@MayankBargali-MSFT thanks for extensive reply.
My initial inquiry was for clients to APIM. Are there some negative impacts (e.g. on APIM capacity may raise or average number of concurrent clients may drop) if the timeout is increased (for clients-APIM side)?

It is good to see that we can control the timeout value for APIM to backends

[2020-09-17 09:42] SumanthMarigowda-MSFT commented on #62785
@vamuzumd  Thanks for the question! We are investigating and will update you shortly.

[2020-09-17 09:46] rhuanbarreto opened #62811 "Useless note Enter_the_Supported_Account_Info_Here"
In the page there's a note saying:

`Enter_the_Supported_Account_Info_Here`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a1c-95eb-30c2dd42a5f1
* Content: [Sign in users in JavaScript single-page apps - Microsoft identity platform](https://d

[2020-09-17 10:19] SubhashVasarapu-MSFT commented on #62810
@matkoliptak, Thanks for reaching out. We will investigate and update this thread.

[2020-09-17 10:22] ricohomewood commented on #53591
Hello @SwathiDhanwada-MSFT Has this been implemented yet? You noted it was on the roadmap to be delivered over the next 3 months back in May. If not do you have a ETA when this will be delivered so we can move to using this preferred agent?
Thanks

[2020-09-17 10:23] surabhshah opened #62812 "App Version Link Redirects to AWS"
The app version link for probably listing the version of direct method service, redirects to AWS CLI page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f9-ee699019be33
* Version Independent ID: b108b7b1-d28d-abed-467d-39a661c8e086
* Content: [Understand Azure IoT Hub direct methods](https://docs.

[2020-09-17 10:32] RobertF65 commented on #62330
Thanks @ChaitanyaNaykodi-MSFT It was the connection string. I added it through the portal and it works fine. Got a few issues with the security part of the solution turning off public access prevented the web-app from being able to access the files even when the app code had been updated to the SAS token version. Also had issues with creating alerts. The alert won't save. Giving a location propert

[2020-09-17 10:39] yputter commented on #52954
Hi @mike-urnun-msft, could you give me a little bit more detail (or a link) as to how to do it with "use AAD auth by creating your AAD app seperately? Also, any updates on when to expect EasyAuth for Azure Functions on Linux Consumption Plan?

[2020-09-17 10:52] memildin commented on #62761
Hi @sean-keane25 thanks for the feedback and for taking the time to help us improve the docs.

Remeditation steps is a list of strings. They can be free form text and we don’t maintain a list of values that can be provided to customers. Are you asking for the data type? If so, it’s a list of strings.

I'm going to close this issue, but feel free to comment again here or open a new one if you have

[2020-09-17 10:52] #62761 closed

[2020-09-17 11:02] SwathiDhanwada-MSFT commented on #62809
Thanks for your feedback @MatthewSteeples

Assigning to content author @mrbullwinkle for review.

[2020-09-17 11:16] MayankBargali-MSFT commented on #62609
@MortezaDamavandpeyma-TomTom The ideal solution would be to make the call and release the connection so it can be used by your other client. Just increasing the timeout will not have any effect but when you make more calls to APIM then you are asking APIM to hold on that connection for some more time, therefore, utilizing more resources at APIM end for holding that connection.

There is no such nu

[2020-09-17 11:18] lindhe commented on #62236
I want to point out here that this causes issues for many other software, for example: https://github.com/kubeapps/kubeapps/issues/2042

Also, I think it's best that we also link to the previous issue: https://github.com/MicrosoftDocs/azure-docs/issues/61959

[2020-09-17 11:28] jurajtobias commented on #62655
@WinstonHoward-MSFT,
I tried to create a new VM, and there's already an option in GUI to enable this preview functionality, so I guess we can consider that a successfull test.
the question, though, still remains - should, or should NOT this be possible to turn on on existing VMs?
in case it should, something's broken in azure.
in case it should not, the docu needs to be updated to explicitly state

[2020-09-17 11:46] AshokPeddakotla-MSFT commented on #62812
@surabhshah Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-17 11:59] PatrikHanssonIntersolia commented on #62589
Hi
Ok Thanks. I also found a setting under the Workspaces that has the same settings without enabling auto provisioning. Are those not in effect either until auto provisioning are enabled ?
![image](https://user-images.githubusercontent.com/71124339/93467250-cbe5e400-f8ed-11ea-964d-0f4c9651dc1d.png)

[2020-09-17 12:15] shashishailaj commented on #61603
@wj109s5 As we have not received any response from you we are closing this issue for now . Should you have any further query on this please send us an email referring to this thread with subject "ATTN shashi" to azcommunity [at] microsoft [dot] com and we will be happy to help you with alternate support options. Alternatively you can tag me or @amanmcse to your reply on this and we will be happy t

[2020-09-17 12:15] #61603 closed

[2020-09-17 12:46] Tommigun1980 opened #62815 "No example for ASP.NET Core"
The example is for ASP.NET, shouldn't one for ASP.NET Core be available?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e999ab71-aabf-9917-6f50-8fce3e19a0ae
* Version Independent ID: b072be7c-c060-00af-4027-8422473f74a1
* Content: [User context IDs to track activity - Azure Application Insights - Azure Monitor

[2020-09-17 13:21] rajaschava opened #62816 "Poor documentaion"
[Enter feedback here]
The documentation for Configure path mappings says - The Path mappings page shows you different things based on the OS type.

That's all. What does it mean? I rely heavily on Microsoft documents and it is horrible to see this one line.

Similarly for Configure default documents - I could not find anything about 'hostingstart.html' file that gets created. What is that file and

[2020-09-17 13:26] debinaik opened #62817 "Spring boot app [REST Service] is not up and running while deploying in free, B1 and S1 App service tiers."
I was trying to deploy spring boot REST service in azure app service free tier , B1 and S1 tiers, but application is not coming up. After changing to "PremiumV2_P1v2" tier , application has started coming up and running.

Could you please confirm why application is NOT coming up in free tier , B1 and S1 tiers? is  "PremiumV2_P1v2" tier  a minimum requirement to deploy spring boot rest service?

Li

[2020-09-17 13:37] rquintino opened #62818 "'File cannot be opened because it does not exist or it is used by another process' and you're sure both file exist and it's not used by another process it means SQL on-demand can't access the file."
Not 100% sure but, would almost say there could be some caching issue or something else causing this error aside from lack of permission.

Using the default AAD pass through credentials was not working, when I'm  admin on this subscription. Tried adding my account to the ADLSG2 (though redundant IM), etc

Nothing seemed to work, always got this error. Then just recreated the external data source (

[2020-09-17 13:49] rnarayana opened #62819 "Enumeration values for SingleSignOn are wrong"
The SingleSignOn enumeration (specified in UserJourneys) does not have **Disabled**. It is instead **Suppressed**. Additionally, there is TrustFramework too.

https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/TrustFrameworkPolicy_0.3.0.0.xsd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-09-17 13:50] Marco-Santoni opened #62820 "Explain why avoiding shared storage accounts in production"
In the [Shared Storage Accounts](https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations#shared-storage-accounts) section, it is not explained why this practice should be avoided in production.

It would help an explanation to understand the pros and cons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-17 13:53] mwikstrom commented on #61524
@GitaraniSharma-MSFT thank you!

Now that the "response sharing"-part has been removed, does that mean that there is no response sharing in play at all?

You wrote:

That makes me wonder about what the classification of a "private response" is and how non-private responses may be shared.

I was particularly interested about clarification regarding response sharing and the use of:

1. `Authorizatio

[2020-09-17 13:58] sean-keane25 commented on #62761
So in some case's it can be a list of strings in other cases its an undefined object. For example

{
          'displayValue': 'Read the authorization and permissions best practices and follow the \\'principle of least privilege\\' in order to revoke unnecessary permissions.',
          'kind': 'Link',
          'value': 'https://go.microsoft.com/fwlink/?linkid=2033049'
        }

I believe the do

[2020-09-17 14:02] viktors-telle commented on #61794
Unfortunately not.

The certificate has the common name that I am specifying when trying to connect.

This is also not the case.

Thanks for trying to help, but I decided to choose the `FindByThumbprint` approach to connect to the cluster.

[2020-09-17 14:04] MonikaReddy-MSFT commented on #62817
@debinaik -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-17 14:06] MonikaReddy-MSFT commented on #62653
@MikeWedderburn-Clarke -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-09-17 14:06] #62653 closed

[2020-09-17 14:11] hbro opened #62821 "Compatability with Windows Server version 10.0.19041 ?"
Hi,

I'm in the process of deploying a new file server and was hoping to use _Azure File Sync_ to populate it.
When following the instructions however, it seems my Windows Server version isn't yet supported.
After digging through the scripts, I noticed there's a different sync agent for very discrete versions of Windows Server: 2012R2, 2016 and 2019. I downloaded the most recent version I could fi

[2020-09-17 14:14] LeGiules opened #62822 "No example on how to configure custom properties"
[Enter feedback here]
It isn't clear how to write a stream analytics query in order to populate custom properties to for a service bus message

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6aa0c8-c46d-3a88-31aa-7fff58a83cd2
* Version Independent ID: 24bb2cae-ad43-79d1-bfbe-50fc45e417f3
* Content: [Service Bus queues

[2020-09-17 14:19] MGoedtel commented on #62768
@attig78 - What is documented as resolution for this scenario is outdated and inaccurate. I believe the original author of this scenario was trying to specify that if your machines are configured to report to WSUS to get update information and download/install updates, and superseded updates are reported as missing, you need to go into WSUS to decline those updates.  Additionally, if I remember co

[2020-09-17 14:22] tfitzmac commented on #62766
@hzinedda - there are lots of examples for ARM templates with Monitor at [https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-samples](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-samples).

[2020-09-17 14:28] marunmohan commented on #41536
Hi Team,

We are also having similar issue. The ciphers are not getting negotiated though we have valid ciphers in application gateway listerner

[2020-09-17 14:33] marunmohan opened #62823 "Application Gateway Cipher not getting negotiated"
Hi,
We have a client connecting to F5 and the F5 is connection to application gateway. So when initiating the connection it is getting failed with ciphers not getting negotiated
tls_ecdhe_rsa_with_aes_256_gcm_sha384 , tls_ecdhe_rsa_with_aes_128_gcm_sha256. We have selected the valid ciphers in the appgw and the listener certificate is also having right ciphers.

[2020-09-17 14:44] anzaman commented on #62629
https://docs.microsoft.com/en-us/azure/vpn-gateway/about-vpn-profile-download#1-download-the-file applies to all profile downloads.

To import the profile from a cmd line, please see https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client#can-i-import-the-profile-from-a-command-line-prompt

[2020-09-17 14:46] SaurabhSharma-MSFT commented on #62589
@PatrikHanssonIntersolia  yes, that is correct - you need to enable auto provisioning to configure those settings.

[2020-09-17 14:50] drdamour opened #62825 "typo in example"
[code]

pretty sure the class keyword is a typo here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-58d9-d5e2-1d067e9bba5e
* Content: [Developer's Guide to Durable Entities in .NET - Azure Functions](https://docs.microsoft.com/en-us/azure/azur

[2020-09-17 14:54] tfitzmac commented on #62706
A couple of follow-up items:

There are some caveats in the [note](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#sqlnote) that may interfere with applying tags to the database.

And, I have added a screenshot of the PowerShell command that retrieved the resource with its tags.
![powershell-tags](https://user-images.githubusercontent.com/4007949/93488069-cf13a

[2020-09-17 14:54] attig78 commented on #62768
Hi Matt,

Yes,  I presumed this scenario was for WSUS rather than Azure Update. It would be great to update this article to at the very least mention it relates to WSUS. Even better, include a solution, if it exists, for customers that are exclusively using Azure Update, via GUI or powershell.

Thanks

Emir Attig

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
Fro

[2020-09-17 14:55] JayaChatterjee-MSFT commented on #62825
@drdamour Thank you for your feedback! We will review and update as appropriate.

[2020-09-17 14:55] jcmrva opened #62826 "Update screenshot for assigning built-in role to a container"
In this section: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal#assign-an-azure-built-in-role

The text explains how to assign a role in a container (which is what I'm looking for) but the screenshot shows access being granted at the storage account level.

Please update the image - it could mislead someone into giving more permissions than desired.

---
#### Do

[2020-09-17 14:58] SwathiDhanwada-MSFT commented on #62815
Thanks for your feedback @Tommigun1980.

Assigning to content author @NumberByColors for review.

[2020-09-17 15:05] hwinstonuconn opened #62827 "Can't see Debug.Log messages in VS output pane"
For me, Visual Studio (VS) 2019 only offers the following options for showing output (I understand this is context dependent) : build, build order, deployment, source control - Git. As a result, I cannot see the Debug.Log messages embedded in this tutorial. Should the tutorial code have used a different output method (e.g., something from the Trace class) or should the project have been built with

[2020-09-17 15:11] MonikaReddy-MSFT commented on #62823
@marunmohan -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-17 15:11] tfitzmac commented on #62679
Yes, it is an evolution but also different. Template Specs are a much better way to store and retrieve templates in your subscription because they are implemented as resources. However, there is not a portal UI for writing templates. [VS Code](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-templates-use-visual-studio-code?tabs=CLI) is the recommended way

[2020-09-17 15:16] kobulloc-MSFT commented on #62787
@MNF Thank you for your feedback!  We're looking at the PowerShell examples and will get back to you shortly.

[2020-09-17 15:17] kailasandhale commented on #60167
@yevster  I have handled all review comments. Could you please review again?

[2020-09-17 15:18] NumberByColors commented on #62815
Hi @SwathiDhanwada-MSFT I haven't worked on this in years. @acearun who works on this these days?

[2020-09-17 15:22] MarileeTurscak-MSFT commented on #62811
@rhuanbarreto
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-17 15:22] SwathiDhanwada-MSFT commented on #62815
Thanks for notifying @NumberByColors.

@mrbullwinkle Can you please review this issue ?

[2020-09-17 15:26] JarroVGIT commented on #52954
I never figured that part out either. It seems to me that you would register an application in AAD, then allow a user/service principal access to said application (in case of SPN, this isn't trivial and can only be accomplished by using Powershell btw). Then the calling application would have to manually requests an access_token from AAD, post that with the Authorization header, and then your Pyth

[2020-09-17 15:40] MarileeTurscak-MSFT commented on #62811
I agree that this probably should not be there and made a pull request to remove it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/130267

CC @navyasric

[2020-09-17 15:40] #62811 closed

[2020-09-17 15:44] MarileeTurscak-MSFT commented on #62819
@rnarayana
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-17 15:50] CaitlinV39 commented on #62412
@jwilkey Thank you so much for this feedback. We will look at how we can reorganize to make it easier to find the information you need. In addition, if you have questions for the FAQ you'd like us to add, please let me know and we can get those added.

For logging, we have a page here: https://docs.microsoft.com/en-us/azure/healthcare-apis/enable-diagnostic-logging. Let me know if that helps.

We

[2020-09-17 15:58] anbene commented on #62620
Doc update in publication. Reached out to Brian in a separate thread.

#please-close

[2020-09-17 15:59] #62620 closed

[2020-09-17 16:16] Ayanmullick commented on #62629
@anzaman, The need is to install the AzVPN client programatically too so the CI\CD Azure Pipeline can P2S connect to a vNet segmented environment during deployment. PFB link.

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/aad.azurevpnclient

I understand this can be done manually. But do we have IaC supportability for the VPN client component?
Adding out Security Architect @luckycl

[2020-09-17 16:17] himanshusinha-msft commented on #62625
@kcd333 : Yes the updated value will persist on AAS restart . I will add this to the document and send a PR.

[2020-09-17 16:19] BryanTrach-MSFT commented on #62808
@LakshmiChinivar Thank you for your question. Please note that this channel is for feedback on the documents. Since what you are trying to achieve is outside the scope of the document, we kindly ask you to post your question to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-media-services.html) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-media-servic

[2020-09-17 16:19] #62808 closed

[2020-09-17 16:20] NavtejSaini-MSFT commented on #62666
@SQLAdventurer Please let us know if you need any further help.

[2020-09-17 16:21] MarileeTurscak-MSFT commented on #62819
Thanks! I made a pull request to add Suppressed to the scopes.

@msmimart please confirm https://github.com/MicrosoftDocs/azure-docs-pr/pull/130278

[2020-09-17 16:21] #62819 closed

[2020-09-17 16:25] DerekHerman-MSFT commented on #62821
@hbro
Windows Server 2019 is the latest Windows Server [version available](https://www.microsoft.com/en-us/windows-server). Can you please clarify your request? Are you saying that the Sync Agent doesn't install on Windows Server 2019?

[2020-09-17 16:25] WinstonHoward-MSFT commented on #62655
Hi @jurajtobias ,

I was able to enable it on an existing VM that didn't originally have it (see above). Therefore the doc is correct, you can update an existing VM provided the attribute was undefined previously. If the attribute is false it cannot be updated.

[2020-09-17 16:33] RonnieQuan opened #62828 "Create VMSS Instnace in a Separte ARM template"
From the ARM reference doc https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachinescalesets

Looks like can create VM instance itself?
Where we define which VMSS does this VM instance belong to?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad5f538-2d05-e860-3228-dceab

[2020-09-17 16:37] kcd333 commented on #62625
I just tested it again and the updated value is now persisting on AAS restart or scale.
Thanks!

[2020-09-17 16:45] himanshusinha-msft commented on #62625
@kcd333 : Thanks for the quick response . Going ahead and closing the issue now .

[2020-09-17 16:45] #62625 closed

[2020-09-17 16:50] WinstonHoward-MSFT commented on #62655
@jurajtobias can you try to follow my process exactly, below is what I did and was successful.

### 1. Create a VM fresh VM
[code]

You should see something like this to validate the VM Creation was successful
[code]
### 2. Validate the extension isn't enabled
[code]
You shouldn't see a patch setting section

### 3. Enable the Preview for the subscription
[code]
It can take up to 15 minutes but yo

[2020-09-17 16:56] jmbertucci opened #62830 "lockToken"
I found the `Message Metadata` section helpful in knowing what WebJob params I can add.

However, one important pieces seems to be missing the `lockToken` property which I found in a response in the following issue:

https://github.com/Azure/azure-webjobs-sdk/issues/1986

To be able to manually mange the message with `Complete`, `Abandon` or `DeadLetter` we need the lock token.

An example might b

[2020-09-17 16:57] jurajtobias commented on #62655
@WinstonHoward-MSFT,
thx for the effort to help - really appreated.. however, I don't see a point in trying to enable the feature for a new VM - we already know it'll work.
what we're troubleshooting, is enabling this feature for a VM that was created many months ago. Like you said in your previous post - if the "osProfile.windowsConfiguration.enableAutomaticUpdates" attribute wasn't present in th