[2018-12-03 22:42] MicahMcKittrick-MSFT commented on #18179
adding @preethasubbarayalu to look into this further.

[2018-12-03 22:50] jason-j-MSFT commented on #19698
@JuleKuhn the actual writing of the data needs to be done within the notebook.  You could use the SQL DW connector directly:
https://docs.azuredatabricks.net/spark/latest/data-sources/azure/sql-data-warehouse.html

You can also write to Blob as an intermediate for a later ADF copy activity to SQL DW
https://docs.azuredatabricks.net/spark/latest/data-sources/azure/azure-storage.html:

[2018-12-03 22:50] #19698 closed

[2018-12-03 22:52] cynthn commented on #19760
@Karishma-Tiwari-MSFT I've sent mail to the E-series owner to see what the story is for constrained vCPUs for this size :)

[2018-12-03 22:53] Adam-Smith-MSFT commented on #19893
@ShaunBond Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-03 23:10] gunnarcms opened #19904 "Default application consistent"
Hi, on https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-replication#enable-replication , when setting up the replication policy, the default app consistency frequency is every 4 hours, and not 60 minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e22f219-b22a-b9d4-b0b7-e080b134da8

[2018-12-03 23:12] MarileeTurscak-MSFT commented on #19866
@shaneholder
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-03 23:14] MarileeTurscak-MSFT commented on #19887
@Pickell
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-03 23:19] mlearned commented on #18183
@jrconner384 @DiegoRamirez-MSFT  taking suggestions under advisement for updating.

[2018-12-03 23:32] YutongTie-MSFT commented on #19894
@ZephiraTB Hi, let's discuss this issue at #19897
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-03 23:32] #19894 closed

[2018-12-03 23:35] MicrosoftGuyJFlo commented on #18130
Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/59485

[2018-12-03 23:39] Mike-Ubezzi-MSFT commented on #19900
@daviburg Thank you very much for providing this detail. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-12-03 23:43] ZephiraTB commented on #19897
Hey now I'm receiving this error.
https://gyazo.com/cdd6b07fa6c6e8551570b78e34198b94

[2018-12-03 23:44] AnalyticsInAction opened #19907 "ImportError: cannot import name 'prediction_endpoint' (Python 3.6)"
I  am getting "_ImportError: cannot import name 'prediction_endpoint' when I do the following import:
`from azure.cognitiveservices.vision.customvision.prediction import prediction_endpoint`
I have done the required
`pip install azure-cognitiveservices-vision-customvision`
without any errors.

The error can be seen / replicatedin this google [colab notebook ](https://colab.research.google.com/driv

[2018-12-03 23:45] YutongTie-MSFT commented on #19897
@ZephiraTB Hi, can you please check:
1)Locate and replace the string YourSubscriptionKey with your Speech Service subscription key.
2)Locate and replace the string YourServiceRegion with the region associated with your subscription. For example, if you're using the free trial, the region is westus.
3)Save the changes to the project.
It should be fine once you finish all of above.

[2018-12-03 23:47] TravisCragg-MSFT commented on #19871
@CalumJEadie one way is to [whitelist the Azure Public IP Addresses](https://www.microsoft.com/en-us/download/details.aspx?id=41653), but that solution is quite tedious.

You can specify a specific storage account or log analytics endpoint using the IP Address of that endpoint. The downside with this method is that if the IP Address of the endpoint ever changes, you will have issues.

The last way

[2018-12-03 23:48] ZephiraTB commented on #19897
There is nothing wrong with the key and etc
It just says
System.AggregateException: 'One or more errors occurred.'

HttpListenerException;Access is denied

[2018-12-03 23:49] TravisCragg-MSFT commented on #19896
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-03 23:49] #19896 closed

[2018-12-03 23:50] Karishma-Tiwari-MSFT commented on #19419
@mikedbrook Our product team engineer has recommended trying the following steps:

1. From your client debug log, we can see that keyboard-interactive authentication method was invoked.
This method goes to the aad PAM module, which is doing the heavy lifting. It logs for ubuntu machines in `/var/log/auth.log`. The logs will usually have “aad(sshd:”) in the line. Check these logs, it is very likely

[2018-12-03 23:54] TravisCragg-MSFT commented on #19860
@ozanbora you are following all of the requirements of the documentation, and you should be able to use NodeJS without an issue.

To pursue this issue further, I recommend that you open a support request. If you do not have a support plan, please email me at AzCommunity@microsoft.com with your SubscriptionID and a link to this issue, and I will enable a one-time free support request for your subsc

[2018-12-03 23:57] YutongTie-MSFT commented on #19897
@ZephiraTB
Hey for your first error, https://gyazo.com/5500797b1b272167be01c7af668ff07a it should be you did not set your key and your region correctly.

For your second error, https://gyazo.com/cdd6b07fa6c6e8551570b78e34198b94 can you please share your code sample or your error details? I see there is something about admin, I guess there are some issues about the admin setting.

[2018-12-03 23:59] Romiko commented on #11648
I have some powershell scripts that can help with knowing the state of VM's being added. As MS just says "It takes time"

[https://romikoderbynew.com/2018/11/26/service-fabric-upgrading-vmss-disks-operating-system-on-primary-node-type/](url)

[2018-12-03 23:59] ZephiraTB commented on #19897
I'm trying to pass what was said to localhost:

[2018-12-04 00:01] TravisCragg-MSFT commented on #19866
@shaneholder This is a [limitation with the V2 SKU](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview), and is expected. I will be assigning this issue to the author to potentially update the FAQ.

[2018-12-04 00:04] robinmanuelthiel commented on #19882
Yes, I did.

[2018-12-04 00:09] YutongTie-MSFT commented on #19897
@ZephiraTB Hi I think it should be the code's problem since I just reproduced the code sample and it worked fine with me. For technicle issue, I will suggest you to go to [Stack Overflow](https://stackoverflow.com/) and [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home).

Are you trying to use a Google account by the way?

[2018-12-04 00:18] Yashgoel83 commented on #19850
Thanks.. I will explain what we have done..

1. Created a cosmos db account with SQL API
2. Created a new DB with below setting
![image](https://user-images.githubusercontent.com/39188318/49409743-42f7ca00-f7a5-11e8-85b0-0dd81e56ebf1.png)

3. Now since the minimum throughput was 10,000 at DB level, we are paying a huge amount and there is no way in the portal to change it.
4. Scale and settings is

[2018-12-04 00:18] ZephiraTB commented on #19897
I just think it's a lack of knowledge on my end, I'm trying to pass what I'm saying to http://localhost

[2018-12-04 00:32] MicahMcKittrick-MSFT commented on #19882
@robinmanuelthiel thanks for that. I tested this as well and it seems no matter what I do I get the same error as you do

@rwike77 can you take a look so we can get this doc updated to work correctly?

[2018-12-04 00:34] Karishma-Tiwari-MSFT commented on #19760
@cynthn Thank you for the quick resolution!! :)
@PaulTozer I apologize for the inconvenience. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-04 00:34] #19760 closed

[2018-12-04 00:37] axayjo commented on #19569
Thanks @panoschatz

Did you set the publisher/offer/sku while creating the image definition?

[2018-12-04 00:42] ravitejapinnaka opened #19909 "Azure ADF deployment fails when deployed with pipelines which have multiple pipeline references."
When I tried deploying my pipelines(13) without any pipeline reference between them, the deployment was successful. But when I do the same deployment by putting a `Execute Pipeline` block on `Completed` for multiple pipelines, the deployment fails because of invalid pipeline reference in the `Execute Pipeline` block inside the pipeline. I keep getting this error

[code]
The same thing is working p

[2018-12-04 00:43] femsulu commented on #19868
@SKenniston thanks for the valuable feedback. this has been shared with the content author for further review.

[2018-12-04 00:50] femsulu commented on #19891
@akramwaseem Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-04 00:52] #9705 closed

[2018-12-04 00:52] #15632 closed

[2018-12-04 00:52] #17852 closed

[2018-12-04 00:52] cherylmc commented on #19784
@SamirFarhat - good catch. Fixing now. Thanks!

[2018-12-04 00:52] #18580 closed

[2018-12-04 00:53] #18669 closed

[2018-12-04 00:53] cherylmc commented on #19784
#please-close

[2018-12-04 00:53] #19287 closed

[2018-12-04 00:53] #19313 closed

[2018-12-04 00:53] #19402 closed

[2018-12-04 00:56] Grace-MacJones-MSFT commented on #19884
Hi @odvoskin, thanks for the feedback! Can you please specify which link is broken so that we can update it?

[2018-12-04 01:08] Mike-Ubezzi-MSFT commented on #19850
@Yashgoel83 Did check a box at the `Collection` to provision throughput? If you lower the throughput at the collection level, the provisioned throughput at the database level matches the collection:

**Created a SQL API Instance and selected provision throughput at database = 10,000**
![screenshot 60](https://user-images.githubusercontent.com/37126106/49411132-8ce89d80-f71c-11e8-8347-57c5b3297e9e.

[2018-12-04 01:15] ravitejapinnaka commented on #18504
Thanks a lot @jason-j-MSFT Its working now. Just curious as to what went wrong. Was it a bug on your side which was fixed ? I ask this because my company (Citrix) is a customer of Microsoft and we put an issue with an Engineering team who work with this. I'm not sure which one helped.
Thank you.

[2018-12-04 01:35] limjianan opened #19911 "Issue with docs"
The left hand side says pass-through authentication current limitations but on the right hand side the subject says Azure Active Directory Pass-through Authentication security deep dive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eafd62b3-145a-7c93-e88d-a7fb29814a0d
* Version Independent ID: 999181be-96fa-1be6-36f3-

[2018-12-04 01:36] limjianan commented on #19911
![image](https://user-images.githubusercontent.com/20926131/49412622-2ff2f300-f7c1-11e8-8ba0-01e1e28409bc.png)
Attached what i mean here. This is quite strange

[2018-12-04 01:50] fhryo-msft commented on #19746
Thanks for reporting this issue, @forester123

[2018-12-04 01:50] fhryo-msft commented on #19746
It's being addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/58729

[2018-12-04 01:52] Alberto-Vega-MSFT commented on #19640
@aqiank Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @erhopf Do we have a C++ code sample?

[2018-12-04 02:21] mcollier commented on #19706
The SP was created automatically for me when I created the cluster via the Azure Portal.

Yes, I noticed that problem with the 'az ad app list' command as well.  It eventually exited it an error, and I was able to quickly find and delete the SP via the Azure AD blades in the Azure Portal.

[2018-12-04 02:42] erhopf commented on #19640
@PanosPeriorellis is there a sample that addresses this developer’s need?

Please reassign to @PanosPeriorellis.

[2018-12-04 02:49] rboucher commented on #19070
@cconrado Understood.  Making changes to the REST home page to call out alert management. https://docs.microsoft.com/en-us/rest/api/monitor/

[2018-12-04 02:55] eringreenlee commented on #19869
AAD-DS has email notifications for alerts that have critical or warning severity. This feature is only available for those on a resource manager virtual network. More information can be found here: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-notifications

[2018-12-04 03:12] sameer-pattanaik commented on #17577
Never worked for me. Now it looks like the white paper no longer exists on TechNet.

[2018-12-04 03:12] mike-urnun-msft commented on #19875
Hello @vassallosm Thank you for your feedback! This channel is for driving improvements towards MS Docs. Was there a specific documentation that you were inquiring about?

[2018-12-04 03:17] mike-urnun-msft commented on #19879
Hi @tiny-dancer Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-04 03:25] dcbrown16 opened #19918 "Obsolete APIs"
The RateCard and Usage REST API links below this page in the ToC go to obsolete pages. Can we confirm that they have effectively been replaced by the Consumption API? Or is there some reason to leave them active?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77db9ac7-6b1c-496b-36a3-24119c897546
* Version Independent I

[2018-12-04 03:30] mike-urnun-msft commented on #19911
Hi @limjianan Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-12-04 03:30] jderus commented on #6788
I am having the same problem with 2.1.x.

[2018-12-04 03:31] mike-urnun-msft commented on #19918
Hi @dcbrown16 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-04 03:33] ksix commented on #18583
This permission is designed for direct login to VMs without the need for AADDS to be enabled. I too am interested why the documentation says it supports Windows Admin login when there is currently no implementation for that. I guess it's coming soon?

[2018-12-04 03:49] Mike-Ubezzi-MSFT commented on #19850
That needs to go to support. You can file a billing related issue without a support plan. Just make sure it is categorized as billing related. There should be a link in the Portal on the bottom, left side. Replying on my phone so not able to take screen capture at the moment.  Please let me know if you have any issues with this, and I can assist you.

Get Outlook for Android<https://aka.ms/ghei36>

[2018-12-04 03:50] AnalyticsInAction commented on #19907
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial-od#get-and-use-the-default-prediction-endpoint

[2018-12-04 04:18] cyrusvivek opened #19920 "Add Multiple vnet in single firewall"
is this possible to add multiple vnet in single firewall?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq)
* Content Source: [ar

[2018-12-04 04:36] ahofman opened #19921 "MessageId max size of 128 is undocumented"
In my testing I've discovered an apparent limit of 128 characters for the MessageId field. It would be great if this limit were documented here :) Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: fc16f0d4-dae7-8494-e25a-6c5398215b4b
* Content: [Microso

[2018-12-04 04:49] seguler commented on #19229
@woodwardmatt - is the [MyKey] the account key in the following command ?

./azcopy cp $SOURCE "https://[MyStorageAccount].file.core.windows.net/[MyShare]?[MyKey]" --recursive=true --log-level "DEBUG"

[2018-12-04 04:58] odvoskin commented on #19884
@Grace-MacJones-MSFT, looks like the link was fixed? Working now.

[2018-12-04 05:03] woodwardmatt commented on #19229
@segular - yep that's right - as per the File Share Authentication Keys in the Azure Portal

@Adam-Smith-MSFT - Sure thing I'll drop you a message now :)

[2018-12-04 05:06] woodwardmatt commented on #19229
@Adam-Smith-MSFT email sent :)

[2018-12-04 05:06] seguler commented on #19229
That is the problem. Please use a Shared Access Signature (SAS token), which is a token that can be created through Portal or Storage Explorer, and is in limited scope, and validity. AzCopy v10 no longer supports an account key, which is less secure to use compared to the SAS token.

I must admit you are not the first one to encounter this issue. Please do let me know how we can improve the docume

[2018-12-04 05:13] bykbrian opened #19923 "outbound rules not available"
not working unfortunatelly:

$ az network lb outbound-rule create...
Subscription xyz is not registered for feature Microsoft.Network/AllowOutboundNatRule required to carry out the requested operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3944193-f5f9-e636-e419-0f52ff714f2b
* Version Independent ID: 3ace8120

[2018-12-04 05:19] bykbrian commented on #19923
I see it's only available for Standard SKU IPs while I have Basic. How do I change that for existing IPs?

[2018-12-04 05:30] woodwardmatt commented on #19229
@seguler - I've just tried this and it has indeed fixed the issue I described earlier (phew!!). I did read the AzCopy v10 Read Me - I think this is probably an easy one to overlook given the historic use of Access Tokens. Maybe an explicit note under [this section](https://github.com/Azure/azure-storage-azcopy#authenticating-with-azure-storage) to clarify that a "Shared Access Signature" and **not

[2018-12-04 05:32] ebrucucen opened #19924 "EventGrid is missing"
As article, https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry, it would be nice to have Event Grid trigger too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e024-e55b-98d4-bd84-8cba06319c9e
* Content: [Azure Functions error handling

[2018-12-04 05:37] #19784 closed

[2018-12-04 05:38] ManojReddy-MSFT commented on #19654
@dan1els I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-12-04 05:52] guzo-kevin opened #19925 "Where can I find the REST API spec. for Batch Transcription"
I can't find the the REST API for Batch Transcription. I did noticed there is a "Sample" project listed but it should not replace the API reference.  The Swagger link mentioned the Swagger API will be deprecated - what is the replacement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b7

[2018-12-04 06:32] kazshi opened #19926 "Configure for *.windowsupdate.microsoft.com"
I assume we don't need to configure *.windowsupdate.microsoft.com (and/or domain list in
https://docs.microsoft.com/en-us/windows-server/administration/windows-server-update-services/deploy/2-configure-wsus#211-connection-from-the-wsus-server-to-the-internet), I'd like to make sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-12-04 06:40] ravitejapinnaka commented on #19909
Hi @mike-urnun-msft
I have referred to this link (https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-pipeline-activity) for Pipeline activities. For the ADF deployment, I referred to https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest#az-group-deployment-create . I hope I gave you enough information.

I can share the template that I'm using with

[2018-12-04 06:57] mike-urnun-msft commented on #19909
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed77a05e-c9fd-ead1-d767-8b41be183634
* Version Independent ID: 0f61d8b7-2736-056c-b17e-ed7ad06a413e
* Content: [Execute Pipeline Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-pipeline-activity)
* Content Source: [ar

[2018-12-04 07:11] slavizh opened #19927 "Alias link does not work"
Alias link does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6af7f625-3f5f-da9a-d131-2eda3be37871
* Version Independent ID: 39072cda-5a3f-e41b-e287-29fe7cf51b6b
* Content: [Azure Monitor Log Analytics language reference](https://docs.microsoft.com/en-us/azure/log-analytics/query-language/data-explorer-differ

[2018-12-04 07:16] DimaGershman commented on #19821
Yes, @ManojReddy-MSFT , that's exactly what I was afraid of. Thanks for your confirmation.
My client apps are distributed thru Google Play & Apple App Store and I can't really have them update all at once :).
If you ask me, I'd prefer to stick with login.microsoftonline.com, but MSFT says it will not stay forever :(. It would help to know how much time do we have though.

Now, assuming login.micro

[2018-12-04 07:22] martensnico opened #19928 "More information on custom invitation e-mail branding"
The article doesn't really specify how to customize the invitation e-mail. It just references the fact that it uses Company branding. But this doesn't clarify how one would be able to change the body of the e-mail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b47cdf9-26e4-ade2-f04f-99d14f8c74b9
* Version Independent

[2018-12-04 07:44] AshokPeddakotla-MSFT commented on #19921
@ahofman Thank you for the detailed feedback. I am assigning this issue to the content author to evaluate and update as appropriate.

[2018-12-04 07:50] boltlol opened #19929 "Delete users"
"Insufficient privileges to complete the operation". What permissions is necessary and how do I set the correct permissions for the service principal? I have tried the example app with no luck. I have given the registered app all possible permissions from the azure "Required permissions" page to both Windows Azure Active Directory and Microsoft Graph. What am i missing? Get and Create works fine..

[2018-12-04 08:08] frankfuu opened #19930 "How to setup WAF?"
The documentation here (https://docs.microsoft.com/en-us/azure/frontdoor/front-door-overview#application-layer-security) says that

But I can't find where I can configure the WAF on the portal like I usually do using Azure Application Gateway (with WAF).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0

[2018-12-04 08:14] dcbrown16 opened #19932 "VPN support?"
What kind of security is in place around this upload process?
Is it possible for users to upload over a VPN, perhaps ExpressRoute Microsoft peering, in order to isolate the traffic from less secure paths?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b15a8ba0-9c2f-d2a3-e56a-dcfbd76e64f0
* Version Independent ID: a10e7

[2018-12-04 08:21] IlyaNikitinMs commented on #6788
When I updated to 2.* my previous version was still installed and interfered with current.
1. Uninstall all versions of emulator
2. Reboot
3. Install latest
These simple steps actually helped me.

[2018-12-04 08:36] AkshathaSP commented on #19686
What happens to the App Service in the background when a Diagnostic log settings are changed while the WebJobs are running ?

Is it better to run as Worker role instead to avoid background process killing the WebJob ?

[2018-12-04 08:56] amirgra commented on #19691
Thanks for your help, this is what I was looking for. :)

(https://account.activedirectory.windowsazure.com/r#/groups)

[2018-12-04 08:58] mikedbrook commented on #19419
@Karishma-Tiwari-MSFT  Thanks for the info above.

our vm is centos based
1. upon checking /var/log/secure (equivalent to /var/log.auth.log, I see the following two entries

Dec  4 08:48:47 pkrvm4gn695fpwl sshd[3242]: pam_aad(sshd:auth): Version: 1.0.006350001; CorrelationId: ef1008ae-461f-4e4e-b6f5-241b0e7d12d6
Dec  4 08:48:47 pkrvm4gn695fpwl sshd[3242]: pam_aad(sshd:auth): CURL: Failed to call h

[2018-12-04 09:03] warriorgraph opened #19933 "!points"
Google'eye/ing thoughts about little fluffy clouds..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43614930-38b7-9497-117c-5a6e5dd52201
* Version Independent ID: 97159ddc-395c-9f5a-b561-47d3f0ca11ed
* Content: [Deploy with Terraform from Bash in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/exa

[2018-12-04 09:05] panoschatz commented on #19569
Hi @axayjo - Yes I did.

[2018-12-04 09:10] ams0 opened #19934 "Default storage class in AKS is azure-disk"
I run thru this, and I had to deploy the catalog with the checks disabled like this: https://github.com/Azure/AKS/issues/725#issuecomment-443696342

The OSBA deploys successfully, but the azure/wordpress chart fails to deploy because:

[code]

In AKS the only classes available are azure-disk, while the chart expects a shared volume. When I have more time I'll try to fix the helm install command an

[2018-12-04 09:12] alistairl opened #19935 "PowerShell for Workspace Solution Deployment is wrong"
The command line for the template deployment uses arm template parameters straight from the command line - this will not work with New-AzureRmResourceGroupDeployment which needs a json format parameter file.

The json file also needs a closing curly brace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8a12a8-5e16-0e

[2018-12-04 09:21] dougcain opened #19936 "Running confluence behind reverse proxy"
I have just updated my on prem Jira server which is accessed via a reverse proxy. This issue solved the problem with Jira: https://github.com/MicrosoftDocs/azure-docs/issues/13282

Confluence seems to have the same issue with its version of the connector Jira used to have - it doesn't work in a reverse proxy environment.

When will the confluence SSO connector be updated in line with the Jira one?

[2018-12-04 09:22] dpravo commented on #19313
Thanks team for confirming.

[2018-12-04 09:29] srishtiparakh opened #19937 "Please update the azure docs frequently"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-04 09:32] wolfma61 commented on #19897
There is not much I can add to this. I don't not what relevance 'localhost' has in all this.

I certainly recommend the sample github repository at https://github.com/Azure-Samples/cognitive-services-speech-sdk

this has samples for .net and other common programming languages.

[2018-12-04 09:33] #19937 closed

[2018-12-04 09:36] BhargaviAnnadevara-MSFT commented on #19852
@lgmorand The content of the above-referenced blog has been documented under the [Application Insights FAQ](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-troubleshoot-faq?toc=/azure/azure-monitor/toc.json#how-are-city-country-and-other-geo-location-data-calculated).

It is indeed true that all octets of the client web address are always set to 0 after the geolocation att

[2018-12-04 09:46] Hazza71 opened #19938 "No option to 'Add Table' in Azure Portal"
After completing steps 1 - 4 in 'Create a database account' section of the tutorial and proceeding to 'Add a table' steps I do not have the options to 'Add a table' from 'Data Explorer' as indicated in the screenshot. I am presented with options to create a Database and a Collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-12-04 09:47] AnnabelBM opened #19939 "File Sync support"
Current documentation remarks: "Azure AD authentication over SMB and NTFS ACL persistent is not supported on Azure file shares managed by Azure File Sync Service". Is this a limitation on preview only? Will it be available on GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Vers

[2018-12-04 09:51] lgmorand commented on #19852
Yes, so my point is should the page contain the following sentence "HTTP requests. Uri, time taken to process the request, response code, **client IP address.**". People may think they'll retrieve the IP by default

[2018-12-04 10:02] dominicbetts commented on #19568
Hi @virtualamjath - as a temporary workaround, can you modify your **package.json** file in the **azure-iot-samples-node-master\iot-hub\Quickstarts\read-d2c-messages** folder to use this dependency:

[code]

I'll get the sample updated to use this latest version.
Thanks!

[2018-12-04 10:32] evusik commented on #19690
I am facing the same issue with Runtime version: 1.0.12205.0 (~1).
Any ETA for the fix?

[2018-12-04 10:45] ppumkin commented on #16516
So I am following https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip
which says
- create the static ip resource in the group where the nodes are
- create a dns resource if needed
- install nginx using  `helm install --name az-nginx stable/nginx-ingress --set rbac.create=false --set controller.replicaCount=2 --set controller.service.loadBalancerIP="0.0.0.0"` where 0.0.0.0 is the IP addres

[2018-12-04 10:47] ManojReddy-MSFT commented on #19929
@boltlol You should assign "Global Administrator" or "User account administrator" role to the service principal (for enabling to perform delete operations)as described [here ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet#configure-delete-or-update-password-permissions-for-your-application) in this article . Can you confirm if you have

[2018-12-04 10:52] ChiragMishra-MSFT commented on #19926
@kazshi  You don't absolutely have to configure *.windowsupdate.microsoft.com. However, if you are working behind a corporate firewall which restricts Internet access from the servers due the company's security policies, you will have to get authorization for the URLs in the given domain list.

As mentioned in the documentation, to obtain updates from Microsoft Update, the WSUS server uses port 44

[2018-12-04 10:52] MrCNeale opened #19940 "Further detail"
Whilst one section says a disadvantage is "customers cannot control revocation, lifecycle" etc. many customers still ask what the settings for those are (which they may need to provide for compliance).
Can that detail be added to this document, e.g. rotation, lifecycle, key specification, backup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-12-04 10:59] ChiragMishra-MSFT commented on #19932
@dcbrown16 Thanks for the feedback. We are investigating into your concern and will update you shortly.

[2018-12-04 11:00] AshokPeddakotla-MSFT commented on #19927
@slavizh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@bwren The link is broken. Please update the doc with https://docs.microsoft.com/en-us/azure/kusto/query/aliasstatement

[2018-12-04 11:09] s-fordham opened #19941 "List in CSV format"
I don't suppose you can provide this list in a csv format so i build out a script to run this check automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f4e1d2-5b58-3d7c-6a97-d0e7bcacd402
* Version Independent ID: b627e946-e267-2f94-1e5b-9877a343d611
* Content: [Move operation support by Azure resource type]

[2018-12-04 11:22] wouterroos opened #19942 "Missing details on how to track unhandled exceptions"
I'm looking for the .NET Core equivalent of https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-exceptions?toc=/azure/azure-monitor/toc.json#mvc. Any pointers on how this should be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independen

[2018-12-04 11:30] yotauber opened #19943 "Why does the source vault have to be in the same subscription as the vm?"
Hi,

1. It seems to be undocumented that the source vault itself must be in the same subscription of the virtual machine (when it isn't, provisioning fails with the following message: "The SubscriptionId:"xyz" of the request must match the SubscriptionId "xyz" contained in the Key Vault Id").

2. What is the reasoning behind this requirement? This is preventing us from using the ARM template abili

[2018-12-04 11:34] lucasgros commented on #17965
I get a similar error. @Ahmad-Al-Ali , have you found a solution to the problem?
Thanks.

[2018-12-04 11:49] AdamPliska opened #19944 "Missing restore content?"
The title says "Backup and restore actors". However, I do not see anything about restoring actors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74e19985-9884-00ec-8878-017b69364089
* Version Independent ID: 691e9e3c-59b7-b90d-818a-b692e7f6485f
* Content: [Backup and restore Azure Service Fabric actors](https://docs.m

[2018-12-04 11:53] dazzler11 opened #19945 "Tutorial #1: ImportError: cannot import name 'load_data'"
As per Tutorial #1: Train an image classification model with Azure Machine Learning service, not getting util.py file inside project folder so because of that getting error - ImportError Traceback (most recent call last) <ipython-input-2-be59a6ee7361> in <module> 1 # make sure utils.py is in the same directory as this code ----> 2 from utils import load_data 3 4 # note we also shrink the intensity

[2018-12-04 11:54] gekk00 commented on #14741
I believe i've had the same issue here as OP..

After a lot of digging I found that the way ADF will call the endpoint is to first **not** send the authentication header, and expect of 401 response with a valid WWW-Authenticate header present.

When it receives this it will hit the endpoint again with the Authenticate header present..

This is why when your looking at what is sent by ADF it appear

[2018-12-04 11:54] jakaruna-MSFT commented on #19934
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 11:55] jakaruna-MSFT commented on #19749
I am assigning the issue to the content author to investigate further and update the document as appropriate.

[2018-12-04 11:56] jakaruna-MSFT commented on #19749
@iainfoulds Please take a look at this issue.

[2018-12-04 12:02] SumanthMarigowda-MSFT commented on #19939
@AnnabelBM Thanks for your question. We are checking on this and will respond to you soon.

[2018-12-04 12:08] davebanthorpe opened #19946 "Payload clarification on sendNotification"
Hi - can you clarify the payload for sendNotification? In the spec is it shown as a string yet in the comment you refer to specifying a JSON payload? At the moment, if I try and send a JSON payload as a string into that parameter then the output received is as shown below. This means that the Logic app which receives it cannot parse the JSON value of the payload parameter. FYI I am sending this in

[2018-12-04 12:09] boltlol commented on #19929
@ManojReddy-MSFT Thanks.. The simple mistake was that the account i was using was pre-created as a external account from our main AAD instead of a LOCAL account(needs a better important highlight in the article 👍 ). I was unable to run the Get-MsolServicePrincipal and Add-MsolRoleMember in the correct tenant. I was stuck in the main corp AAD but with the B2C local account everything worked fine.

[2018-12-04 12:10] #19929 closed

[2018-12-04 12:11] ianpurvis1976 opened #19947 "Lab no longer works"
Hi, I've followed the instructions closely but do not see any thumbnails appearing within my thumbnail container when using the .NET function code. I do not see any error messages either, so am finding it hard to debug why it is not working. Within the Thumbnail console, I can see the EventGrid trigger fires succesfully, and images manually uploaded into the thumbnail container are being displayed

[2018-12-04 12:23] yodobrin opened #19949 "Missing documentation & issue with publish"
When an attempt to publish from Visual Studio, one need to make sure the function app is not running. the process is locking the dll file, and the publish will fail to overwrite it. Therefore, the steps for publish should include a step of making sure the function app, is not running.

Another issue, when a LogigApp is using  the function, there is no reasonable way to publish w/o the removal of t

[2018-12-04 12:35] AshokPeddakotla-MSFT commented on #19938
@Hazza71  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 12:35] ams0 commented on #19934
You could also add to the doc after deploying Wordpress, to open it in a browser (get the IP like this:

[code]

and the password:

[code]
Username is `user`.

[2018-12-04 12:40] darran1971 opened #19950 "BackupRestoreService erroring on activation"
I have an on-premise 5-node windows secure cluster, configured with a GMSA. I have upgraded to the latest SF6.4 runtime, which went ok.
However, when I activated the new BackupRestoreService, the clusterconfig upgrade ended up rolling back, due to a  IStatefulServiceReplica.ChangeRole(P); error when trying to start the backuprestore service

After the upgrade rolled back, I am left with the Backup

[2018-12-04 12:47] jakaruna-MSFT commented on #19934
@ams0 Azure disk has to be used with one container only.  If we need to attach a volume to many containers (or pods) we need to use Azure files. Azure files support concurrent access and the underlying filesystem is aware of it. But I need  to check how azure files can be added as a clause. I will check and let you know.

[2018-12-04 12:50] yodobrin commented on #19949
the second issue is not reproducible

[2018-12-04 12:53] ams0 commented on #19934
Yes, I am aware of the differences, it's the chart that wants to have a replica=3 but still using azure-disk (that's only because that's the only and the default storage class in AKS).

[2018-12-04 13:05] jdogg89 commented on #19888
@Adam-Smith-MSFT I think I answered my own question, I want a new write event to an existing blob store to trigger an action, send that file to an http endpoint, it looks like with the data.api this can be done?

[2018-12-04 13:17] Placid7 commented on #19863
I get a 403 forbidden, which makes no sense. I have Log Analytics Contributor rights and can access advanced settings in OMS.

[2018-12-04 13:50] fleed commented on #19540
@MicahMcKittrick-MSFT I added the admin ports to the security group, but I don't think that it will work if the service is configured to listen to the `localhost`. I just get a timeout on the client side.

![screenshot 2018-12-04 at 14 48 17](https://user-images.githubusercontent.com/2131800/49446162-cdefb900-f7d3-11e8-866d-c869a2021960.png)

[2018-12-04 13:50] martinkotula opened #19952 "Adding information about linux app services restriction"
Hi,

could you please add information about linux app services restriction? https://docs.microsoft.com/pl-pl/azure/app-service/containers/app-service-linux-intro#limitations

Lost quite some time investigating this as only pricing tire limitations are listed and nothing about operating system restrictions.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-12-04 13:59] cephalin commented on #12862
@nmallick1 I forgot to update this thread but the doc has been since updated to remove details specific to the email. #please-close

[2018-12-04 14:00] cephalin commented on #13821
@erikly The page has since been updated to redirect people to use the App Service diagnostics tool. #please-close

[2018-12-04 14:02] cephalin commented on #19559
@chrisduncan314 Thanks for bringing it to our attention. The changes should be published sometime today. #please-close

[2018-12-04 14:02] PramodValavala-MSFT commented on #19947
@ianpurvis1976 Thanks for the feedback! We will investigate and get back to you on this.

[2018-12-04 14:06] PramodValavala-MSFT commented on #19949
@yodobrin Thanks for the feedback! We will investigate and get back to you on this.

[2018-12-04 14:08] aljo-microsoft commented on #19331
@nkwolf

FabricClient and FabricGateway perform a mutual authentication. During Azure AD authentication, Azure AD integration provides a client identity to the server, and the server certificate is used to verify the server identity. For more information about Service Fabric certificates, see X.509 certificates and Service Fabric: https://docs.microsoft.com/azure/service-fabric/service-fabric-clus

[2018-12-04 14:08] hrushib commented on #19950
Can you share your cluster Manifest and the logs around the time period when you saw this failure.

[2018-12-04 14:13] sirovermark opened #19953 "Some problems here"
If you run these commands, you will only get errors.

First you must declare the environment "AzureStackadmin" if you want to "Get" something:

 - Add-AzureRMEnvironment -Name "AzureStackAdmin" -ArmEndpoint $ArmEndpoint

Anyway, you're getting the login endpoint for nothing, because you don't need it.

The invoke ApiREST is wrong, only the format of the second TenantID variable is correct.

Please

[2018-12-04 14:38] dzmitrykorzh opened #19954 "Deployed app is not available"
Release pipeline shows green deployment, but the deployed application is not available.
Kubernetes dashboard shows error:
"Error cleaning up load balancer. Object xxx does not have authorization to perform action 'Microsoft.Network/loadBalancers/read'"
I fixed it by adding users to generated virtual network aks-vnet-xxx subnet as described here: https://github.com/Azure/AKS/issues/357
After adding

[2018-12-04 14:44] bykbrian commented on #18606
any update on how to get this working with public IPs?

[2018-12-04 14:46] alexli1984 opened #19955 "Issue with logout when there are multiple logged-in sessions"
We are configuring Azure AD as an Idp (using SAML 2.0) and using PingFederate as a Service Provider. When there're multiple logged-in user sessions and user logs out one of them, we are seeing the following behavior:

1. SP sends a SAML logoutRequest to Azure AD
2. SP receives a logoutRequest from Azure AD (looks like Azure AD is doing the 'broadcast' as there is another logged-in session from the

[2018-12-04 14:47] wasabii commented on #18713
It's been about 24 hours now. I've reset WUFrequency so that it is hit a few times now. The patch orchestration app appears to still be doing nothing. Hitting the GetWindowsUpdateResults REST Uri still returns an empty array.

[2018-12-04 14:58] lriera2323 opened #19957 "Microsoft MLA"
This feature has locked me out. I can't even change my password in the portal because, for some reason, my old password doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Troubleshoot two-step verif

[2018-12-04 15:13] DCtheGeek commented on #19879
@tiny-dancer Looking into it and will get back to you.  Thanks!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2018-12-04 15:13] bertrandpons opened #19958 "Connection strings for linked resources"
Hi,

Do you know if getting connection strings injected into the .NET configuration connectionStrings settings at runtime like explain [here ](https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure#connection-strings) slows down the app from a connection-to-database point of view ?

I get this feeling when using my app. Have you already had this feedback ?

Thanks

---
#### Documen

[2018-12-04 15:24] craigshoemaker commented on #19924
@ebrucucen Thanks for the suggestion! I have added this to an internal work item to track for upcoming work.

#please-close

[2018-12-04 15:38] Peter-B- opened #19961 "Add reference to "Export existing project""
Hello

I was looking for a way to export an existing project. It took me a while to find it in the Server Explorer. Maybe you can add a link to
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-vs-tools in "Next steps".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d589495-0e9c-2efe-f01d-59c89d

[2018-12-04 15:42] Deez3 opened #19962 "Azure Extranet"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-04 15:49] mforrer85 commented on #19455
+1
I am looking for a Angular Example to communicate with Azure Storage

[2018-12-04 15:53] vhorne commented on #19866
@shaneholder
This is already documented here: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#known-issues-and-limitations

[2018-12-04 15:54] josuvil opened #19964 "Windows Server levels and more.."
Should we mention the minimum Windows Server level in which this will work? Also, I wonder if we should mention that TLS 1.2 has been supported since version 1.1.614.0 with the correct OS level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b93dd985-61dd-2b98-7a63-b63f97f1c5ec
* Version Independent ID: 861050c4-c216-8

[2018-12-04 16:09] snobu opened #19965 "The Callback URL is incorrect"
The b2clogin.com Callback URL above is incorrect, or at least not accepted by the GitHub endpoint. What gets sent on the wire to GitHub is this thing (as redirect_url): `https://login.microsoftonline.com/te/B2C-TENANT-NAME.onmicrosoft.com/oauth2/authresp`, and naturally GitHub returns a Bad Request telling you it doesn't match with its app definition. If you set the Callback URL to the login.micro

[2018-12-04 16:24] mamccrea commented on #19961
@Peter-B- Thank you very much for bringing that to my attention! I will add the link.

#please-close

[2018-12-04 16:26] oleliabo opened #19967 "Web App auto-restarts"
I have created a Linux / php7 webapp. With apt-get I have added a couple of extra packages needed for my app. But the webapp seems to auto-restart from time to time, removing all installed packages. I don't see this behavior documented anywhere. For Containers a restart policy property is available, but I don't see anything similar for web apps.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne

[2018-12-04 16:28] spike008t opened #19968 "Healthcheck Webapp for containers"
We did notice that every 5 minutes, a prob crawl the following URL `/robots933456.txt`. I've spent my whole day to figure out how and why...

Is it possible explain that on the documentation? To avoid any surprise for people making some monitoring on app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f970943e-c7b4-919

[2018-12-04 16:33] #13821 closed

[2018-12-04 16:37] Mike-Ubezzi-MSFT commented on #19807
Per @pochiraju, working with customer for possible fix.i

[2018-12-04 16:37] nbornstein opened #19969 "Attaching on-demand disk to a BYOS VM?"
Can you use this method to take an OS disk originally created for an on-demand VM and attach it to a VM that was originally created as BYOS in order to stop paying for the OS through Microsoft and convert to a vendor subscription? Or does the billing tag remain with the original disk even if it is attached to a different VM?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-12-04 16:49] Mike-Ubezzi-MSFT commented on #19850
@Yashgoel83 Please let us know if you have any additional questions pertaining to this documentation, if anything should be incorrectly stated or needing an update. As for you billing questions, Azure Support will be able to help you with that. As for this specific issue, I am going to close this but you are free to comment should you have additional questions. Regards, MIke

[2018-12-04 16:50] #19850 closed

[2018-12-04 17:03] LioDiera opened #19970 "Technical profile flow"
The the technical profile flow section, numbers 1 -7 are very confusing and hard to paint a picture of what the different components are. An example or illustration may help significantly. After reading that section I still need to do further research to figure out what exactly a input claims transformation versus input claims etc. Just very confusing section overall.

---
#### Document Details

⚠

[2018-12-04 17:04] suhuruli commented on #19874
Hi @robinmanuelthiel,

In the next Mesh refresh, we will be releasing Maven tooling that makes it easy to scaffold and deploy Java Maven projects to Mesh. This works across any OS. We are also actively working on VS Code plugin support.

There is also a community developed VSCode plugin here: https://marketplace.visualstudio.com/items?itemName=mfery.sf-mesh-tools

[2018-12-04 17:07] Mike-Ubezzi-MSFT commented on #19958
Just a Note: Added GitHub doc properties to issue as this came in without any doc details and I am helping the customer on another issue (#19870).

[2018-12-04 17:07] tsarna opened #19971 "Missing network bandwidth information"
A series compute intensive (A8-A11) and Basic A are missing expected network bandwidth.

The A series compute intensive series section even says "This article provides information about the number of vCPUs, data disks, and NICs as well as storage throughput and *network bandwidth* for each size in this grouping.", but doesn't provide the bandwidth.

---
#### Document Details

⚠ *Do not edit this s

[2018-12-04 17:08] cmckechney commented on #19737
@rajrao Are you sure?  The same message can be submitted to a topic due to retry's creating different SessionId's however as long as you have a common message id they will be marked as duplicate.

[2018-12-04 17:09] tsarna opened #19972 "Missing ACU information for Basic A"
The ACU rating for the Basic A series is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 760cdd5b-2f94-9a31-ec54-3f61e6a21216
* Version Independent ID: e77a3f67-f6f7-aaa2-c9f8-8f700c8a272e
* Content: [Azure Windows VM sizes - previous generations](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2018-12-04 17:10] amirgra opened #19973 "RemoteAccess Service on NVA server"
I've read on other guides to enable IP forwarding that RemoteAccess service should be started after the registry parameter is set (IpEnableRouter = 1)
Is it required or it can work without it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb6

[2018-12-04 17:16] tsarna commented on #11652
Much of the information in these tables is not available via API, sadly -- like IOPS, network bandwidth, ACU rating, whether premium storage is supported, and more. The APIs need improvement.

[2018-12-04 17:17] andyjcooperuk opened #19974 "AWS Tools for Powershell support."
In the section "Test single sign-on", instead of using the console to logon to Azure AD and run the AWS tile, we would like to be-able to perform the entire logon process using Powershell, and then use the AWS Tools for Powershell to manage our AWS resources. (This is also required so we can use Azure DevOps build & release pipelines to deploy AWS resources to our AWS accounts as we use a Powershe

[2018-12-04 17:34] markheath commented on #12901
I ran into the same issue on a machine with dotnet 2.1.500 and azure-functions-core-tools 2.3.148. Fixed it with

[code]
Not sure why the func template wasn't present

[2018-12-04 17:41] jeevansd commented on #19936
@srishtiparakh and @dougcain Thanks for the confirmation on JIRA part. We are working on the Confluence plugin to fix this issue. It should be done around the year end and we will keep you posted.

[2018-12-04 17:41] jeevansd commented on #19936
@chetansriv Can you please track this issue?

[2018-12-04 17:45] MicahMcKittrick-MSFT commented on #19331
@aljo-microsoft thanks for confirming the doc is correct and the explanation on this. Appreciate the assistance .

@nkwolf I will close for now but if you have additional questions just let us know and we can always reopen and continue.

[2018-12-04 17:45] #19331 closed

[2018-12-04 17:45] rs38 commented on #17820
no further comment/support? No idea how many more support I can provide…..

discontinuing Edge like reported sounds logical for me https://www.theverge.com/2018/12/4/18125238/microsoft-chrome-browser-windows-10-edge-chromium

[2018-12-04 17:47] MicahMcKittrick-MSFT commented on #19706
Thanks @mcollier

I will assign to the author to review further

@iainfoulds can you take a look?

[2018-12-04 17:48] MicahMcKittrick-MSFT commented on #19724
@mapoitras as mentioned, please use the format listed in the link I provided to add more than one addon.

@lachie83 can you take a look at this doc and see if we can add some info about adding more than one extension? Or at least maybe we should add a link to the correct format so others can easily find it.

[2018-12-04 17:52] MarileeTurscak-MSFT commented on #19920
@cyrusvivek
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 17:53] #19961 closed

[2018-12-04 17:56] patpicos commented on #13533
+1 on needing automation. Microsoft needs to do what it preaches - Automation

[2018-12-04 17:59] patpicos opened #19975 "HA"
The HA and DR section does not address High-Availability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6e437d-7325-8f97-7d23-27f82cb1113b
* Version Independent ID: 02e16c34-93d2-fe96-c724-33b2b62f0393
* Content: [On-premises data gateway](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-ga

[2018-12-04 18:02] Alberto-Vega-MSFT commented on #19946
@davebanthorpe Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 18:04] Karishma-Tiwari-MSFT commented on #19419
@mikedbrook Thank you for following the steps. Can you please share the complete logs for 1 and 2 again as you did before. Please provide the file for 3 as well. It will be helpful for our engineers to troubleshoot the issue. Thanks. :)

[2018-12-04 18:05] Grace-MacJones-MSFT commented on #19952
HI @martinkotula, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-04 18:10] dirkslab commented on #19776
I am busy working on a arm template for deployment with DevOps (work in progress). I wanted to resolve the exact same issue. This template seems to achieve this. In this example I have an existing appServicePlan in the same RG I am deploying the webapp to and existing application insights resource in a different RG.
Result: No more message "update my Application Insights site extension"

`{
  "$sc

[2018-12-04 18:11] mmezei opened #19976 "Portal now only uses new alerts"
Quick start shows old alerts but portal now only uses new alerts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432527f3-ddd9-0a90-ccf8-55b264b797ad
* Version Independent ID: 05976f6f-c69f-9d2f-7a07-f3ea0bd44f7c
* Content: [Receive a notification when a metric value meets a condition](https://docs.microsoft.com/en-us/a

[2018-12-04 18:13] Grace-MacJones-MSFT commented on #19958
Hi @bertrandpons, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 18:17] Grace-MacJones-MSFT commented on #19967
Hi @oleliabo, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 18:17] phil-lgr opened #19977 "Clarify instance vs downtime vs pricing"
If I scale to 3 instances, I get charged for the time those 3 instances are up correct?

What are the conditions for an instance to shutdown? How is the up time calculated?

Thanks,

Phil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2526d6f8-e90d-5ecc-dbca-14540fcad599
* Version Independent ID: e308750d-5a63-db74-911

[2018-12-04 18:18] Grace-MacJones-MSFT commented on #19968
Hi @spike008t, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 18:19] cconrado opened #19978 "Monitoring multiple resources using metric alerts - Review"
I thought this was already set to include hybrid workers (on-prem)? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e35140-5a03-b8a1-d17c-b06b7cbb03db
* Version Independent ID: 4c16ba87-0e6e-f60e-8271-ff6d9492d4ae
* Content: [Understand how metric alerts work in Azure Monitor.](https://docs.microsoft.com/en-us/

[2018-12-04 18:29] mattbriggs commented on #19953
@sirovermark Thanks for your feedback and I'm sorry my docs are giving you difficulty. I'll see what I can do to clear it up. Thanks for letting me know. Can you let me know if you followed the instructions: https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-install. Are you using the ASDK or a multi-node installation? Is your instance of Azure Stack connected to the interne

[2018-12-04 18:30] MicahMcKittrick-MSFT commented on #19540
@fleed figured it out! So I found the following on Stack Overflow

https://stackoverflow.com/questions/40090411/why-cant-i-connect-to-this-service-fabric-cluster

As you mentioned, the issue is that the cluster is running on LocalHost. So even with the Firewall rule and the NSG added for the ClientConnectionEndpoint of 19000 the connection would fail.

What I did was remove my service fabric clust

[2018-12-04 18:31] YutongTie-MSFT commented on #19693
@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-04 18:31] #19693 closed

[2018-12-04 18:32] #12841 closed

[2018-12-04 18:34] PatAltimore commented on #19109
@gsamant & @joeljoseph17, Thanks for the feedback. We updated the article to give guidance on low service limit subscriptions like trials.

[2018-12-04 18:35] YutongTie-MSFT commented on #14270
@garyericson Hi, I can not assign to marktab since he is not in our repo. @marktab Can you please join the Azure.docs repo and assign to yourself? Thanks.

[2018-12-04 18:39] YutongTie-MSFT commented on #19676
@JohnStraumann66  Thanks for your follow-up,  @PatrickFarley has created the work item, you should see the change soon.

[2018-12-04 18:43] YutongTie-MSFT commented on #19704
@tchristiani As you seeing, I can not assign to @sezho(MSFT) since he/she has not joined this repo. Can you please ask him/her to join?

[2018-12-04 18:44] tsarna commented on #15622
Also Lv2 and Basic A are missing

[2018-12-04 18:47] femsulu commented on #19941
@s-fordham Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-04 18:47] tsarna opened #19979 "ACU numbers missing"
The page helpfully suggests to "Learn more about how Azure compute units (ACU) can help you compare compute performance across Azure SKUs.", but ACU numbers are not provided for any of the N series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1

[2018-12-04 18:47] Mike-Ubezzi-MSFT commented on #19870
@bertrandpons Okay, I see this issue. I am going to forward this on to the content author to evaluate an update as appropriate.

![screenshot 66](https://user-images.githubusercontent.com/37126106/49465249-fe266000-f7b1-11e8-8c1a-d1e696938dfd.png)

![screenshot 67](https://user-images.githubusercontent.com/37126106/49465251-febef680-f7b1-11e8-9448-9ada564f77fc.png)

[2018-12-04 18:48] femsulu commented on #19935
@alistairl Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-04 18:49] tsarna opened #19980 "Network bandwidth missing for all except NDv2"
Please add this missing information for NC, NCv2, NCv3, ND, NV, NVv2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1ce-8161-0d6c-b0c62f82b22d
* Content: [Azure Windows VM sizes - GPU](https://docs.microsoft.com/en-us/azure/virtual-machines/window

[2018-12-04 18:50] YutongTie-MSFT commented on #19072
@garyericson @marktab I can not assign to @marktab since he is not in this repo. Thanks.

[2018-12-04 18:51] tsarna opened #19981 "Please add expected network bandwidth"
The "Size table definitions" even defines the  "expected network bandwidth" column, but the column is not present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9f65d0-2ef2-bc61-a57d-7607421d3e8a
* Version Independent ID: e5413b4b-bfe6-1e7c-ea31-5ea302d63ae9
* Content: [Azure Windows VM sizes - HPC](https://docs.mic

[2018-12-04 18:53] Grace-MacJones-MSFT commented on #19884
@odvoskin glad the link works. We will now proceed to close this thread.

[2018-12-04 18:54] mike-urnun-msft commented on #19930
Hi @frankfuu Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-12-04 18:55] tsarna opened #19982 "LSv2 is missing"
Please add information on the LSv2 series, which I believe is supposed to be GA now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7323e68-7415-ba43-47de-8d1738f7c52b
* Version Independent ID: 1bce47f4-d516-dd38-3e54-8da7b9b7b416
* Content: [Azure Windows VM sizes - Storage](https://docs.microsoft.com/en-us/azure/vir

[2018-12-04 18:55] mikenri commented on #18130
I wouldn't really consider this to be resolved.
The document was updated to change the wording to say "Azure MFA communicates with Azure AD, retrieves the user’s details, and performs the secondary authentication using supported methods."

However no where in the document does it mention what the supported methods are.

[2018-12-04 18:56] mike-urnun-msft commented on #19950
Hi @darran1971 Was there a specific MS Doc that you were following?

[2018-12-04 18:58] mganeshphani opened #19983 "navigation tree on left spells Azure as Aure"
Fix typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f764ac2-98eb-c67a-c464-96a1de4e0727
* Version Independent ID: 2b2be60a-7f7d-ec66-5b91-9cc4b63dcbaa
* Content: [Troubleshoot an Application Gateway in Azure – ILB ASE](https://docs.microsoft.com/en-us/azure/application-gateway/create-gateway-internal-load-balancer

[2018-12-04 18:58] mike-urnun-msft commented on #19954
Hi @dzmitrykorzh Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-04 19:00] mike-urnun-msft commented on #19907
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9957cb6-3fc1-b7ae-db20-f90b6a833faf
* Version Independent ID: 90421a02-0e49-5bf4-3cd1-f94c80031b3a
* Content: [Quickstart: Create an object detection project with the Custom Vision SDK for Python](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-serv

[2018-12-04 19:01] mike-urnun-msft commented on #19962
Hello @Deez3 Thank you for your feedback. In order to best address your question with right team, could you provide us with the URL of the MS Doc that you were following?

[2018-12-04 19:03] mike-urnun-msft commented on #19971
Hi @tsarna Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-04 19:08] femsulu commented on #19933
Thanks for the Kudos. Happy the document met your expectations. Cheers.

[2018-12-04 19:08] #19933 closed

[2018-12-04 19:13] MarileeTurscak-MSFT commented on #19964
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 19:19] MarileeTurscak-MSFT commented on #19974
@andyjcooperuk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 19:21] MarileeTurscak-MSFT commented on #19970
@LioDiera
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 19:22] MicahMcKittrick-MSFT commented on #19982
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 19:23] mike-urnun-msft commented on #19972
Hi @tsarna Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-04 19:30] #19869 closed

[2018-12-04 19:40] anwarmahmood1 opened #19985 "please add a "scope" or "limitations" heading"
I have been monitoring this capability for some time, but I'm disappointed I can't manage on-premises security groups in this way.  FIM 2010 R2 provided group management in a browser, but it wasn't ideal. I was hoping Azure AD Group Management would let me delegate group management to owners who can manage membership in Azure AD, then write back to on premises Active Directory.  Unfortunately, thi

[2018-12-04 19:40] MicahMcKittrick-MSFT commented on #19981
@tsarna Thank you for the feedback . We are currently investigating and will update you shortly.

check this[link](https://social.msdn.microsoft.com/Forums/en-US/f78e5f8d-9898-4e34-b02f-19183c916de7/error-while-creating-vm-using-snapshot?forum=WAVirtualMachinesforWindows)

 ![alt text]( "2018-12-04 10_25_14-Voting - Microsoft Visual Studio.jpg")

`This is a code sample`1. list
2. 1
3. 2
4. 3
5. 4

[2018-12-04 19:41] MohitGargMSFT commented on #19759
@davidhendrickmb We will now proceed to close this thread. Thanks.

[2018-12-04 19:41] #19759 closed

[2018-12-04 19:41] MohitGargMSFT commented on #19811
@AleksandrovM We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-12-04 19:41] #19811 closed

[2018-12-04 19:41] AjayKumar-MSFT commented on #19686
@AkshathaSP , As mentioned in the document [here ](https://docs.microsoft.com/en-us/azure/app-service/web-sites-enable-diagnostic-log#enablediag) “Unlike changing the web.config file, enabling Application diagnostics or changing diagnostic log levels does not recycle the app domain that the application runs within.”
Typically, you will want to build your webjob to handle any sort of webjob restart

[2018-12-04 19:47] jason-j-MSFT commented on #19777
@willatmicrosoft we are currently developing this content.  Thanks for the note and stay tuned.

[2018-12-04 19:47] #19777 closed

[2018-12-04 19:49] jason-j-MSFT commented on #19781
@Placid7 take a look here:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-diagnostic-logs-schema

[2018-12-04 19:49] #19781 closed

[2018-12-04 19:59] darran1971 commented on #19950
Hi Mike,
I had already set up a stand alone 5 mode cluster with windows security. This was updated to the new 6.4 runtime and I then enabled the Backup Restore service fillowing this guide: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-standalonecluster

I tested the Backup Restore service a few months ago on an unsecure cluster and that activ

[2018-12-04 20:02] LisandroSu opened #19986 "Where is the sample code"
@msched commented on [Tue Dec 04 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/153)

Hey, where do I find the C#, Python and R sample code mentioned in the article?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: edc98ded-e57a-f28e-89c4-6b352476609e
* Version Independent

[2018-12-04 20:03] aravish commented on #14728
Any update on this issue?

[2018-12-04 20:03] areddish commented on #19907
Thanks @AnalyticsInAction. This import line can be removed. It refers to the previous module name and the latest SDK generation changed the module names. I've submitted a PR to correct the documentation.

[2018-12-04 20:04] LisandroSu commented on #19986
Hi Team,

Please check the issue reported

Thanks!

[2018-12-04 20:05] femsulu commented on #19323
@lbergeron01  If you already have a support plan, here are the [steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support tickets with Azure technical support.. If you don't, please send mail to AzCommunity@microsoft.com with your subscription ID and a link to this Github thread (for context) and we will assist you with engaging Azur

[2018-12-04 20:05] #19323 closed

[2018-12-04 20:13] steve34581133 opened #19987 "Create a Backup - Point 4 is wrong"
The Backup option does not exist under Settings. Instead it can be found under operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959d21ed-cd7b-dece-d206-8a207f780dad
* Version Independent ID: e440a3e5-f953-ac2f-334c-4d771ed2d009
* Content: [Tutorial - Back up Windows virtual machines in the Azure portal](https

[2018-12-04 20:15] TravisCragg-MSFT commented on #19983
@mganeshphani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@genlin I am unable to edit the menu, otherwise I would fix this typo.

[2018-12-04 20:18] femsulu commented on #19976
@mmezei Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-12-04 20:32] MicahMcKittrick-MSFT commented on #19987
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-04 20:33] cynthn commented on #19987
@steve34581133 thanks for catching that! I've filed a PR with the fix :)

#please-close

[2018-12-04 20:33] MicahMcKittrick-MSFT commented on #19980
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-04 20:34] MicahMcKittrick-MSFT commented on #19979
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-04 20:34] MicahMcKittrick-MSFT commented on #19969
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 20:34] MicahMcKittrick-MSFT commented on #19944
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 20:34] Kenneth-Abrams opened #19990 "Profiling App Service on ASE (App Service Environment )"
Do app services deployed on isolated app service tiers support the profiling capability of Application Insights. On my App Service blade inside "Application Insights", I am not seeing the options to enable to profiling capability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
* Ver

[2018-12-04 20:36] #19907 closed

[2018-12-04 20:36] #19987 closed

[2018-12-04 20:49] Alberto-Vega-MSFT commented on #19946
This is a test comment please disregard
![alt text](https://wtv3.blob.core.windows.net/media/bingspellcheck.png?sv=2017-04-17&sr=b&sig=142UFC9mnSHQFcXKM82inzSK8VNXT6z04wl9wUlqSSc%3D&st=2018-12-04T20%3A41%3A32Z&se=2021-12-04T20%3A46%3A32Z&sp=rw "BingSpellCheck.PNG")[Test Url](https://github.com/MicrosoftDocs/azure-docs/issues/19946)

[2018-12-04 20:54] jeevansd commented on #19974
@andyjcooperuk Are you looking for AWS CLI solution here? Can you please confirm?

[2018-12-04 20:54] jeevansd commented on #19974
@chetansriv Please track this issue.

[2018-12-04 21:00] MicahMcKittrick-MSFT commented on #19969
@nbornstein the billing is attached to the Image offer used/ select when you created the VM.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/cli-ps-findimage

[code]

So just swapping the disk out will not change the billing as the VM itself was setup with that particular image offer. You would still need to rebuild the VM as a new VM using the existing VHD in order to pass the ne

[2018-12-04 21:04] rolandkru opened #19991 "Invitation expiration"
Does an invitation e-mail / invitation link expire at some point in time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f87e-6e42-3589-336b308c564f
* Version Independent ID: d6eca215-d352-50b0-994e-0077a5e54fe6
* Content: [Azure Active Directory B2B collaboration FAQs](https://docs.microsoft.com/en-us/azure/a

[2018-12-04 21:05] curtand commented on #19398
Hi @alaurie
I'll engage the PM on your feature request immediately. Thanks for the insight!

[2018-12-04 21:11] nbornstein commented on #19969
I'm talking about doing the opposite - taking a disk that was created with an on-demand image and attaching it to a new VM that is not billed on demand.

[2018-12-04 21:12] eragonriddle opened #19992 "az webapp conf is not a valid command"
The documentation for adding a storage account to a webapp is very good. The last section of the documentation includes a command to verify the webapp configuration for the storage account. This command is incorrect:
az webapp **conf** storage-account list --resource-group <group_name> --name <app_name>

The above command results in the error:
_az webapp: '**conf**' is not in the 'az webapp' comma

[2018-12-04 21:16] jason-j-MSFT commented on #19795
@ShubhaVijayasarathy the link to a blog post in this section is broken, could you take a look:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-event-processor-host#shut-down-gracefully

[2018-12-04 21:21] houstonjb opened #19993 "URL to list managed apis is invalid."
Documentation states url `GET https://management.azure.com/subscriptions/<Azure-subscription-ID>/providers/Microsoft.Web/managedApis/?api-version=2015-08-01-preview` to view list of managed APIs.

this results in error : "invalid resource type" from management.azure.com

URL needs to have location specified to be valid, and should be
`https://management.azure.com/subscriptions/<Azure-subscription-

[2018-12-04 21:21] MicahMcKittrick-MSFT commented on #19969
@cynthn do you have someone from PG you could ask and confirm on this one? It brings up some good points we might want to mention in this doc regardless.

[2018-12-04 21:23] Karishma-Tiwari-MSFT commented on #19571
![alt text](https://wtv3.blob.core.windows.net/media/e20.png?sv=2017-04-17&sr=b&sig=vZNrLv8eKuIZpqV9n%2BoiJFDqlJxMYXBFnCDCchLm8VA%3D&st=2018-12-04T21%3A18%3A13Z&se=2021-12-04T21%3A23%3A13Z&sp=rw "E20.PNG")

[2018-12-04 21:30] curtand commented on #19009
Hi @ganlbarone
Thanks for your patience the the insight you provide. I'll bring this request to my PM. I'm not ignoring you; I'm just stretched quite thin because I'm filling in for another writer on a different team and still handling my own work tasks. Thanks!

[2018-12-04 21:33] Mike-Ubezzi-MSFT commented on #19828
@ericbarch We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-04 21:33] #19828 closed

[2018-12-04 21:34] cynthn commented on #19969
@xujing-ms Is this something you can answer?

[2018-12-04 21:37] msLinuxNinja opened #19994 "Volta datasheet link broken"
The link for the NCv3 V100 GPU datasheet is broken, leads to a pdf that seems to be corrupted. Link should lead to:

https://images.nvidia.com/content/technologies/volta/pdf/tesla-volta-v100-datasheet-letter-fnl-web.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946c151-c1a6-59bc-2e44-6a820547f48e
* Version Indepe

[2018-12-04 21:38] YasinMSFT commented on #19986
I have moved from this team. @Josée Martens<mailto:jmartens@microsoft.com> FYI

From: Lisandro <notifications@github.com>
Sent: Tuesday, December 4, 2018 12:05 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yasin Hajizadeh <Yasin.Hajizadeh@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Where is the sample code (#19986)

Hi Team,

P

[2018-12-04 21:38] iainfoulds commented on #19771
Thanks, @gkaleta. This is good info to note here. After checking with the product team, we're going to leave this out of the main doc for now as there are upcoming improvements around credential management we'd rather wait on.

#please-close

[2018-12-04 21:39] #19771 closed

[2018-12-04 21:41] jason-j-MSFT commented on #19805
@linda33wj I see 'QueryByPipelineRun' here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.activityrunsoperationsextensions.querybypipelinerun?view=azure-dotnet

I can't find 'ListByPipelineRun', could you take a look?

[2018-12-04 21:46] Karishma-Tiwari-MSFT commented on #19569
@axayjo Would you or someone from your team be able to help out the customer with this issue?
Thanks :)

[2018-12-04 21:55] hanewinckel opened #19995 "Use Script Action to install external Python packages for Jupyter notebooks in Apache Spark clusters on HDInsight"
This is a useful helpfile, but it does not explain how to install packages to a PySpark3 environment. It took a lot of searching, so perhaps it would help to explain how a user writes their bash script for PySpark3 in the azure environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cc9c4c3-7472-3b1a-e4bf-bbc5d1be

[2018-12-04 21:57] diberry commented on #19848
@zalmane Today, the [LUIS container](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-container-howto) was announced at Connect. #please-close

[2018-12-04 22:01] diberry commented on #19787
@managedcoder Hi Russ, thanks for pointing this out. The service has changed since this tutorial was written and the scores/results in the batch test are a bit different. I'll wrap this fix into the rewrite for the article.

[2018-12-04 22:05] diberry commented on #19695
@YutongTie-MSFT Please assign this to me.

@sphengle This is an issue of how the UX works. The UX _does_ allow you to mark entities past the hyphen. First select the left-most letter in the word, then, _immediately select the right-most letter in the word (past the hyphen). That should be all you need.

[2018-12-04 22:05] mike-urnun-msft commented on #19993
Hello @houstonjb Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-12-04 22:19] BryanTrach-MSFT commented on #19958
@bertrandpons Calling connection strings from the application settings blade should not provide a slow experience. What data do you have that leads you to believe calling your connection strings is causing slow performance?

[2018-12-04 22:19] kobulloc-MSFT commented on #19942
@wouterroos Thank you for the feedback!  We have assigned this to the document author so they can update the document accordingly.

[2018-12-04 22:20] pierslawson commented on #17084
@vhorne can you provide a link to the issue so we can see when it is fixed?

[2018-12-04 22:21] Grace-MacJones-MSFT commented on #19992
Hi @eragonriddle, thanks for your feedback! We will review and update this doc accordingly.

[2018-12-04 22:22] MicahMcKittrick-MSFT commented on #19994
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 22:29] jason-j-MSFT commented on #19975
@patpicos
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 22:32] cconrado opened #19997 "Any updates for Nov. & Dec.?"
Hi There,

Just checking for the changelog notes for last & this month

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [What's new? Release notes for Azure AD](https://docs.microsoft.com/en-us/azure/act

[2018-12-04 22:37] eross-msft commented on #19997
@cconrado  Thanks for contacting us! The What's New content will be updated on 12/10 after 3pm. We merged the November and December items together due to the holidays and lack of items. Hope this helps!

#please-close

[2018-12-04 22:37] jason-j-MSFT commented on #19975
@patpicos
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-04 22:40] cconrado commented on #19997
@eross-msft makes sense thanks 👍

[2018-12-04 22:40] #19997 closed

[2018-12-04 22:41] cconrado commented on #19070
@rboucher awesome thanks

[2018-12-04 22:41] MarileeTurscak-MSFT commented on #19943
@yotauber
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 22:42] MarileeTurscak-MSFT commented on #19991
@rolandkru
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 22:42] cconrado commented on #16147
@snehithm Has this been updated?

[2018-12-04 22:43] MarileeTurscak-MSFT commented on #19985
@anwarmahmood1
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-04 22:45] barbkess commented on #18313
@jeffwmiles : Thanks for your comments.  I fixed the terms you mentioned and they should be published 12/5/2018.  We don't guarantee the connector will communicated with the closest instance in the region.

#please-close

[2018-12-04 22:46] YutongTie-MSFT commented on #19575
@letmaik We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-04 22:46] #19575 closed

[2018-12-04 22:46] MarileeTurscak-MSFT commented on #19991
As of today there is no expiration timeline for the email invitations sent out for B2B Collaborations.

[2018-12-04 22:47] MarileeTurscak-MSFT commented on #19991
We will now proceed to close this thread. If you have further questions, feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-04 22:47] #19991 closed

[2018-12-04 22:48] femsulu commented on #19977
@phil-lgr Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-12-04 22:50] MarileeTurscak-MSFT commented on #19957
Hi @lriera2323 , at what stage does this happen? Are you trying to log into the portal itself? What is the error you receive?

[2018-12-04 22:52] barbkess commented on #16558
@dcbrown16 : The new article was published in November.  I hope you like it.  https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on

#please-close

[2018-12-04 22:52] MarileeTurscak-MSFT commented on #19957
Are you the global administrator of the tenant? If you are truly locked out you can have a global admin of the tenant reset your password, or if SSPR is enabled you can reset it yourself by going to this link: https://aka.ms/sspr

[2018-12-04 22:52] YutongTie-MSFT commented on #19848
@zalmane We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-04 22:52] #19848 closed

[2018-12-04 22:56] AndyWu7623 commented on #19736
thank you for the update and appreciate the adjustment :)

[2018-12-04 22:56] #19736 closed

[2018-12-04 22:58] j-martens commented on #19986
@YutongTie-MSFT - please assign to @ericlicoding

https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/machine-learning/studio/retrain-models-programmatically.md

This article refers to samples and r and python files but there are no links to them. I saw some stuff in the gallery, but I don't know where things are: https://gallery.azure.ai/browse?categories=[%221%22]

[2018-12-04 22:59] YutongTie-MSFT commented on #19986
@j-martens Done, thanks.

[2018-12-04 23:01] ankitscribbles commented on #19478
Except Case B, all other cases are specified correctly. Case B is not possible currently. If you disable the rule at the Device model level by toggling "Enable rule for all devices of this template" to "Off", then the rule gets disabled for all the devices.

This is the reason why when you toggle "Enable rule for all devices of this template" to "Off" then "Enable rule on this device" is automatic

[2018-12-04 23:03] mike-urnun-msft commented on #19950
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f4a65fe-da61-bd83-a058-a0b8f8b36d1d
* Version Independent ID: 46af682a-ea5d-5e3a-85f2-5e7a07e9e5f0
* Content: [Periodic backup and restore in Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-standalo

[2018-12-04 23:06] mike-urnun-msft commented on #19950
cc: @MicahMcKittrick-MSFT

[2018-12-04 23:18] axayjo commented on #19569
@panoschatz, this is the expected behavior. Get-AzureRMVM will return the image reference that you used to create the VM. If you used pub/offer/sku to reference the image while creating the VM, it'll return the pub/offer/sku triplet and if you used the image id to reference the image while creating the VM, it'll return the image id. It's one or the other. And, right now, shared image gallery image

[2018-12-04 23:31] TravisCragg-MSFT commented on #19943
@yotauber the key vault must be in the same subscription as the resource using it. I believe this is a requirement across Azure, and it is due to many reasons, but security is likely a big one.

If you would like us to change this functionality in the future, [please leave your feedback Here](https://feedback.azure.com/forums/344565-azure-stack).

[2018-12-04 23:37] random82 commented on #18720
I noticed the section doesn't pop up only when we create Azure Data Factory through the ARM template. When ADF is created manually from the portal, all settings are displayed. That applies to both what is displayed in the Portal as well as what is retrieved by PowerShell/RestAPI

[2018-12-04 23:39] LeonRomaniuk commented on #19235
Please reassign to LeonRomaniuk.

[2018-12-04 23:39] tchristiani commented on #19235
@YutongTie-MSFT please reassign @LeonRomaniuk

[2018-12-04 23:43] Liversage opened #20002 "Diagram is hard to see with dark theme"
It seems that the diagram has a transparent background. This makes the black text and lines almost invisible when the dark theme is used. I suggest that you use a white background or even better keep the transparent background but change the text and lines to be visible when the theme is dark. This avoids creating a big mostly white area on the otherwise dark page.

---
#### Document Details

⚠ *D

[2018-12-04 23:46] LeonRomaniuk opened #20003 "Test"
This is a test using GitHub to comment on a document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0c01253-54e1-02da-e7f5-3be6bfbf2294
* Version Independent ID: 27dd48d8-d829-79ec-a5f8-b7dae2855aa1
* Content: [Quickstart: Recognize and transcribe speech, .NET Framework (Windows) - Speech Service - Azure Cognitive Se

[2018-12-04 23:47] MohitGargMSFT commented on #19593
@mangeshparanjape Based on the error please confirm if you are providing correct value to Tenant (directory) ID in GetUserOAuthToken() menthod implementation mentioned here - [Get an OAuth token from Azure AD](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app#get-an-oauth-token-from-azure-ad).

[2018-12-04 23:48] tchristiani commented on #20003
This was a test #please-close

[2018-12-05 00:03] LeonRomaniuk opened #20004 "test"
test test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f510475-89f7-1c27-740d-59f50f294357
* Version Independent ID: 96193052-bccc-8261-3fae-7ea6751b4744
* Content: [Quickstart: Perform a search with Python - Bing Web Search API - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/bi

[2018-12-05 00:04] kazshi commented on #19926
@ChiragMishra-MSFT Thanks for your clarification and explanation.

[2018-12-05 00:04] #19926 closed

[2018-12-05 00:07] dcbrown16 commented on #16558
Thanks @barbkess, I checked off the flag to bug you about that again some time :) Looks good!

[2018-12-05 00:08] Adam-Smith-MSFT commented on #19229
Thanks for the update @seguler , We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 00:08] #19229 closed

[2018-12-05 00:08] femsulu commented on #19978
@cconrado, need additional clarification on your comment.
Are you asking if Azure monitor metric alerts work on Hybrid Worker Roles or are saying you tested it on HRW and it didn't work as expected?

[2018-12-05 00:11] barbkess commented on #16558
Thanks @dcbrown16 !

[2018-12-05 00:13] HarshaNalluru opened #20005 ""You do not have permission to view this directory or page.""
Deployed the current application using git just as mentioned here.
It got deployed[In the terminal, it says "Deployment successful."].
When I go to the link, it says "You do not have permission to view this directory or page".
Please check:
https://magicsearch.azurewebsites.net/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-05 00:15] HarshaNalluru commented on #20005
Here's the code : https://github.com/HarshaNalluru/ExpressApp2.git

[2018-12-05 00:17] yanxiaodi opened #20006 "The condition of HasAttachment should be "true", not "True"."
I tested the tutorial and I found that if the condition of HasAttachment is set to "True" when you create the condition, it will not be triggered. If we check the raw outputs of the trigger, we can found this:
[code]

I also found some UI elements have been changed in the latest version but only this setting made me confused. Please fix it, thanks.

---
#### Document Details

⚠ *Do not edit this s

[2018-12-05 00:18] johngallardo opened #20007 "Creating AudioConfig directly from MediaStream / MediaStreamTrack?"
For JS - Is there a way to create an AudioConfig object from a MediaStream or MediaStreamTrack object? Looks like this is theoretically possible (the implementation of fromDefaultMicrophoneInput() seems to do it) however this does not appear to be exposed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-22

[2018-12-05 00:20] Karishma-Tiwari-MSFT commented on #19994
@msLinuxNinja I have created a PR with the updated link and the changes will be live shortly. Thanks.

[2018-12-05 00:32] MohitGargMSFT commented on #19955
@alexli1984  Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please mention the new MSDN Thread URL here and I will make sure you are getting necessary help in forums on your que

[2018-12-05 00:38] MohitGargMSFT commented on #19965
@snobu Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-12-05 00:42] mangeshparanjape commented on #19593
Yes, the tenant id is also correct

Thanks,
Mangesh

Sent from my iPhone

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Tuesday, December 4, 2018 6:47 PM
To: MicrosoftDocs/azure-docs
Cc: mangeshparanjape; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AADSTS90002: Tenant token not found. (#19593)

@mangeshparanjape<https://github.com/mangeshparanjape> Based on

[2018-12-05 00:42] Mike-Ubezzi-MSFT commented on #20002
@Liversage Thank you very much for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-12-05 00:44] Mike-Ubezzi-MSFT commented on #20002
@SnehaGunda Bringing this to your attention.

[2018-12-05 01:13] jontreynes opened #20008 "Backup Contributor Additional Statement"
I tested this permission and it appears that I can do everything it says except enable Backup on a vm. For enabling backups on vms, you'll need access to each vm you want to backup

May you please add this limitation to
"Backup Contributor - This role has all permissions to create and manage backup except creating Recovery Services vault and giving access to others. Imagine this role as admin of b

[2018-12-05 01:19] Romiko opened #20009 "reference method - Show example on how you reference resources created in another ARM template."
Hi,

The above documentation is not clear. You can actually reference existing resources and access their properties from another ARM template without having to over engineer deployments and use LINKED templates.

You can use this pattern  reference(resourceID, apiversion)

Here is how I wrote the article to be explicit on this:
https://romikoderbynew.com/2018/12/05/arm-modular-templates-reference

[2018-12-05 01:20] mrbullwinkle commented on #19892
@FMartull thanks again, the link is now fixed!

[2018-12-05 01:20] mrbullwinkle commented on #19892
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-05 01:21] #19892 closed

[2018-12-05 01:28] thuansoldier opened #20011 "Please update the PoSh Script"
It is still using Get-AzureVm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c40f2e-91ef-eafc-1288-094266885d41
* Version Independent ID: 4e8f9a62-69fc-a6a4-2a3c-afca18dcd253
* Content: [Onboarding machines for management by Azure Automation State Configuration](https://docs.microsoft.com/en-us/azure/automation/auto

[2018-12-05 01:31] mrbullwinkle commented on #16276
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-05 01:32] #16276 closed

[2018-12-05 01:33] wahyuen opened #20012 "Is it possible to assign database level throughput after the database has been created?"
The documentation currently discusses how one can set the database throughput on creation of the database itself. Is there a way (either throught the portal or programatically) to set a database level throughput for all containers for a database that was originally setup for container throughput?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-12-05 01:35] sergaz-msft commented on #19417
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 01:35] #19417 closed

[2018-12-05 01:36] sergaz-msft commented on #19466
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 01:36] #19466 closed

[2018-12-05 01:38] Grace-MacJones-MSFT commented on #18688
Hi @cephalin, any update on this?

[2018-12-05 01:40] fhryo-msft commented on #19746
The change is live.

[2018-12-05 01:40] fhryo-msft commented on #19746
#please-close

[2018-12-05 01:47] sergaz-msft commented on #19769
Thanks for confirming @mcurko . I have added the content author @kgremban to help us check if there are any known issues with this doc and update it accordingly.

[2018-12-05 01:47] sergaz-msft commented on #19773
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 01:47] #19773 closed

[2018-12-05 01:48] sergaz-msft commented on #19796
Thanks for the feedback @dcasati !  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-05 01:53] kobulloc-MSFT commented on #19629
@letrungkien211 For specific implementation questions, we would request that you ask this question on MSDN:

[Application Insights MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc)

If you would like to see us add this scenario to the documentation, please tag me in the reply and we can add this to the document author's qu

[2018-12-05 01:53] #19629 closed

[2018-12-05 01:55] genlin commented on #19983
@mganeshphani Thanks for pointing out the problem. I will submit a pull request to fix it.

[2018-12-05 02:01] #19994 closed

[2018-12-05 02:05] jason-j-MSFT commented on #19220
@linda33wj the documentation may be out of data can you take a look:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.iactivityrunsoperations?view=azure-dotnet

[2018-12-05 02:17] Alberto-Vega-MSFT commented on #19675
@mcurko Were you able to get pass this? I was unable to reproduce this error.

[2018-12-05 02:20] staples17 opened #20013 "No mentions of the ManagementClient available since 3.1.0 in documentation"
Our app requires dynamic topics / subscriptions, I was surprised when I got to this page what this entailed.
Coming from working with RabbitMQ previously, I was expecting the whole thing to be relatively simple operations that could be done with only a connection string.

Trying to get this to work looked something like what is described in this StackOverflow question;
https://stackoverflow.com/qu

[2018-12-05 02:33] CraigBoydell commented on #19978
This is the same experience when running it from Azure Monitor as well.
The activation alert shows all the objects defined in the dimension, but the deactivation alert shows the object that triggered the alert.

[2018-12-05 02:34] mangeshparanjape commented on #19593
I have used GUID from Azure Active directory properties under "Directory
ID" label.
Is that correct?

On Tue, Dec 4, 2018 at 8:24 PM Hirsch Singhal <notifications@github.com>
wrote:

--
--Mangesh Paranjape

[2018-12-05 02:40] Alberto-Vega-MSFT commented on #19714
@mcurko That is great feedback for the feedback. I think the document needs to clarify this better so I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-05 02:54] dcbrown16 commented on #19795
I am also looking for that content.

[2018-12-05 02:56] Alberto-Vega-MSFT commented on #19728
@IAmSequestered Were you able to get pass this issue. I followed the doc and I'm unable to repro.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 02:56] #19728 closed

[2018-12-05 03:04] frankfuu commented on #19930
hi @mike-urnun-msft ,

Just FYI, I raised a support ticket on this and the response given was that WAF functionality on Azure Front Door is limited to REST, Powershell, and CLI while it is still in Preview. Portal access will supported before the service is in GA.

Here is the docs to implement a WAF in Powershell - https://docs.microsoft.com/en-us/powershell/module/azurerm.frontdoor/new-azurermfr

[2018-12-05 03:05] jderus commented on #6788
Thanks @IlyaNikitinMs I will give it a shot.
Perhaps the team should work on a more robust and easy upgrade path, moving forward?

[2018-12-05 03:43] hpsin commented on #19593
Can you share a snippet of code? This is indicating that a request was made to login.microsoftonline.com/token/oauth2/token instead of login.microsoftonline.com/guid/oauth2/token
________________________________
From: mangeshparanjape <notifications@github.com>
Sent: Tuesday, December 4, 2018 6:34:56 PM
To: MicrosoftDocs/azure-docs
Cc: Hirsch Singhal; Comment
Subject: Re: [MicrosoftDocs/azure-docs

[2018-12-05 04:05] mike-urnun-msft commented on #20006
Hi @yanxiaodi Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-05 04:06] #20003 closed

[2018-12-05 04:07] cconrado commented on #19978
@CraigBoydell shouldnt it be in the activation alert not in the deactivation one. It's not very useful being told after it was resolved. My focus is to make one alert that covers all the on-prem machines.

[2018-12-05 04:07] CHEEKATLAPRADEEP-MSFT commented on #20004
@LeonRomaniuk  This was a test, we will close this issue.

[2018-12-05 04:07] #20004 closed

[2018-12-05 04:15] CHEEKATLAPRADEEP-MSFT commented on #20012
@wahyuen Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-12-05 04:17] random82 commented on #18720
My mistake, there are few ways of creating service identity, more details here: [https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-service-identity](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-service-identity)

[2018-12-05 04:19] #19746 closed

[2018-12-05 04:32] KetanChawda-MSFT commented on #19806
@JohnReeson  I double check this with PG and they confirmed that the behavior you are seeing is expected. Now there is no restriction as mentioned in the document. File system works for both V1 and V2 for consumption.

The correct statement for **AzureWebJobsSecretStorageType** should be as below

Hope that helps while I am working on a PR for updating this document accordingly.

[2018-12-05 04:33] ManojReddy-MSFT commented on #19654
@dan1els We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-05 04:33] #19654 closed

[2018-12-05 04:33] ManojReddy-MSFT commented on #19843
@GLComputing I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-12-05 04:39] tomisaacson opened #20014 "Terraform Enterprise"
This is great but what I really need is how to setup Terraform Enterprise, or a link to another webpage describing that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf2-0992-78eb59463a6a
* Content: [Install and configure Terraform for use

[2018-12-05 05:00] #19806 closed

[2018-12-05 05:04] KetanChawda-MSFT commented on #19806
@JohnReeson Thanks you for bringing this to our attention. We have made necessary changes to the docs and created a PR. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2018-12-05 05:09] TravisCragg-MSFT commented on #15716
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 05:09] #15716 closed

[2018-12-05 05:13] ManojReddy-MSFT commented on #19821
@DimaGershman Thanks for the comfirmation and sharing more detials.  I am assigning this to the author to validate this and update the doc accordingly.

[2018-12-05 05:15] Grace-MacJones-MSFT commented on #20005
Hi @HarshaNalluru, it seems like this is a known issue. please reference this [solution](https://github.com/MicrosoftDocs/azure-docs/issues/11848). let me know if you have additional questions.

[2018-12-05 05:18] CraigBoydell commented on #19978
I'm thinking its a bug at this point... the fact the deactivation does have the triggering object suggests to me that something has been overlooked.

Its not much use to me until this is resolved as we end up with an alert and no specifics on what triggered it.

[2018-12-05 05:44] KetanChawda-MSFT commented on #20013
@staples17 Thank you very much for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-12-05 06:06] gridpatrik opened #20019 "Linux template is not available"
The following template, linked in doc, is missing.
https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/master/templates/helloworld/mesh_rp.linux.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e026dd3b-caa2-73bd-ce82-65660d5e2128
* Version Independent ID: a925fed6-52b4-c67d-2088-306a128984cb
* Conte

[2018-12-05 06:11] adamfowlerit opened #20020 "How to trigger an upgrade"
Hi, it would be good for the doco to show how to trigger an upgrade as it's not mentioned from what I can tell. Personally I go find the latest client and run that installer, but this isn't clear if that's the right way or if there's a PowerShell command to trigger it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9

[2018-12-05 06:14] SumanthMarigowda-MSFT commented on #19939
@AnnabelBM We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re-open the issue.

[2018-12-05 06:14] #19939 closed

[2018-12-05 06:31] ChiragMishra-MSFT commented on #20007
@johngallardo Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2018-12-05 06:31] angoyal-msft commented on #19938
@Hazza71 Most probably you have chosen Core(SQL) in API drop down while creating the Cosmos DB. Could you please try creating Cosmos DB with API as Azure Table, then you will be able to see the option to Add a table as mentioned in the document.

Please let us know if you are still not able to find the Add a table option.

[2018-12-05 06:32] gridpatrik opened #20021 "Deployment output"
The linked templates are missing the output section which means there is no IP shown in the output of the deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e026dd3b-caa2-73bd-ce82-65660d5e2128
* Version Independent ID: a925fed6-52b4-c67d-2088-306a128984cb
* Content: [Quickstart - Deploy Hello World to Azure Se

[2018-12-05 06:33] CHEEKATLAPRADEEP-MSFT commented on #20012
@wahyuen  You may check similar issue discussed here: #19850

[2018-12-05 06:33] BhargaviAnnadevara-MSFT commented on #19512
@Expecho We were unable to reproduce the issue you were seeing with respect to all the events being exported. In our test, only Exception and Dependency events were exported. If you'd like to troubleshoot this further with us, please create a thread on MSDN:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

However, we did notice that

[2018-12-05 06:33] #19512 closed

[2018-12-05 06:47] jakaruna-MSFT commented on #20019
@gridpatrik Thanks for catching it.
I checked the repo. Looks like the file is changed. Refer to this new [file](https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/master/templates/helloworld/helloworld.linux.json).
Also the old file is still available from the [blob](https://sfmeshsamples.blob.core.windows.net/templates/helloworld/mesh_rp.linux.json).
I will assign this issue to

[2018-12-05 06:52] wahyuen commented on #20012
@CHEEKATLAPRADEEP-MSFT According to that issue, there is a 'Scale' setting at the Database level. Because my database was never created with database level throughput, there does not seem to be that setting for me in the portal.
![image](https://user-images.githubusercontent.com/4549796/49495263-6736d200-f89d-11e8-9b51-227052438efb.png)

[2018-12-05 06:56] tomisaacson commented on #20014
I found that link but it's for a private Terraform Enterprise in Azure which is not what I want.

[2018-12-05 06:57] jakaruna-MSFT commented on #20019
#20021 same root cause

[2018-12-05 07:02] jakaruna-MSFT commented on #20019
After looking at the issue #20021, The old file (stored in blob)  is invalid because that dont have a output block.
The [new GitHub link](https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/master/templates/helloworld/helloworld.linux.json) provided in the above comment has a output block similar to the one mentioned in the document.
I think the new link will work fine but i didnt

[2018-12-05 07:03] automationbk opened #20022 "Is it supported for a Linux VMs"
How can we get this working for an environment with Linux VM?

[2018-12-05 07:04] ChiragMishra-MSFT commented on #20007
@johngallardo Take a look at this (similar) issue:

https://github.com/MicrosoftDocs/azure-docs/issues/16614

Please let us know if this helps, else we can gladly continue to probe further.

[2018-12-05 07:08] fowl2 commented on #17619
@ArchieCoder the example code in this article is still showing the bad practice of using `.Result`.

[2018-12-05 07:09] fowl2 commented on #17619
(I'm not sure how I unassigned someone? 😕 )

[2018-12-05 07:11] johngallardo commented on #20007
Yes that is kind of the same issue. I don’t understand why it was closed though. It doesn’t seem to have actually been resolved, rather the opener simply forked the SDK and implemented the functionality on their own.

Where can feature requests be filed?

-john

________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Tuesday, December 4, 2018 11:04 PM
To: Microsof

[2018-12-05 07:12] echuvyrov commented on #20014
Do you want to use the SaaS version then? If so, I am sure you've seen [these set of docs from HashiCorp ](https://www.terraform.io/docs/enterprise/getting-started/access.html). There's wouldn't be anything Azure-specific when it comes to using their SaaS and their solution architects would be engaging with you if you purchase the Enterprise license.

Apologies if I'm still not understanding the r

[2018-12-05 07:15] wahyuen opened #20023 "Should make mention that database level throughput is minimum 400RU and 100RU for each container after 4"
It wasn't clear from the documentation of the following statement:
[After the first four containers, each additional container requires a minimum of 100 RU/s.](https://azure.microsoft.com/en-us/blog/azure-cosmos-developer-experience-updates-december-2018/)

Upon creating a new database the minimum was set to 1300RU and changes in the portal had no indication of why this couldn't/wouldn't be set lo

[2018-12-05 07:15] adamtki commented on #14213
Can the managed identity's certificate be used as a client certificate when accessing backend web api sites that require client certificates?

[2018-12-05 07:32] ToonVanhoutte commented on #11519
Real pity that the documentation does not explain how the MSI works, as this is a really great feature!  I managed to get it working, you can find my experience here: https://toonvanhoutte.wordpress.com/2018/12/05/delete-blobs-in-azure-data-factory-by-leveraging-msi/

[2018-12-05 07:43] FMartull commented on #19892
@mrbullwinkle don't, please, I should be the thankful one for your good work.

[2018-12-05 07:53] genlin commented on #18543
@masashimi Thinks for the feedback.  The article is updated:

https://docs.microsoft.com/en-us/azure/billing/billing-spending-limit

I will process to close this issue. Feel free to reopen it if there is any other questions or comments.

#please-close

[2018-12-05 08:00] CHEEKATLAPRADEEP-MSFT commented on #20012
@wahyuen  Navigate to **Data Explorer** => **Database** => **Collection** => **Scale & Settings**

![image](https://user-images.githubusercontent.com/44426401/49498674-db6b7880-f891-11e8-85e1-341142fdcc9e.png)

Please let us know if you have any additional questions.

[2018-12-05 08:03] wahyuen commented on #20012
That is for container level throughput, I want to be able to set this at the **database** level

If i create a **new** database from scratch, with provisioned throughput, you can then go **Data Explorer => Database => Scale & Settings**, however, my question pertains to how, (if possible) does someone set this value if the original database was created at the **container** level throughput

[2018-12-05 08:07] maxcalvin opened #20025 "Example of Stateful Service misleading"
In the calculator example, it says that if the service has the ability to store and retrieve state makes it a stateful service. The next section then goes on to explain methods of storing data, which makes it appear that a service that accesses a database only is a stateful service.

While a stateful service can access an external db, wouldn't the actual reasons that something is stateful or not b

[2018-12-05 08:39] fleed commented on #19540
Thank you @MicahMcKittrick-MSFT .. but did you test it with X509 and a certificate?
I wouldn’t like to exposed the admin endpoint without any kind of security, even if it is only a test environment

[2018-12-05 08:50] lhit8751 opened #20026 "error on simulated data set up"
Hey, just running through the code and couldn't get past the setup as I got the below error, any help appreciated;

/home/pi/iot-hub-c-raspberrypi-client-app/main.c:9:45: fatal error: azure_c_shared_utility/xlogging.h: No such file or directory
 #include &lt;azure_c_shared_utility/xlogging.h&gt;
                                             ^
compilation terminated.
CMakeFiles/app.dir/build.make:62

[2018-12-05 08:58] ChiragMishra-MSFT commented on #20007
@johngallardo Yes, the opener of the issue has manually implemented the functionality. As of now, there are three ways to configure the audio source :

1. Use AudioConfig.fromDefaultMicrophoneInput() This uses your microphone.

2. AudioConfig.fromWavFileInput() This uses the File() you upload.

3. AudioConfig.fromStreamInput(), for custom streams.

In any case, the only supported configuration is

[2018-12-05 08:58] #20007 closed

[2018-12-05 08:59] KetanChawda-MSFT commented on #19993
@houstonjb I can also reproduce the same issue. I have assigned this to the content author to evaluate and update as appropriate.

[2018-12-05 09:12] sridharanprasanna commented on #19433
Most likely- https://github.com/Azure-Samples/documentdb-dotnet-todo-app/blob/master/src/DocumentDBRepository.cs &
https://github.com/Azure-Samples/documentdb-dotnet-todo-app/blob/master/src/Models/Item.cs

[2018-12-05 09:20] MerrionComputing opened #20027 "Also check Daily Usage Quota"
You can also get this message if you have a "Daily Usage Quota" set for your application and a deploy takes you over that quota.
Check the "Function App settings" tab to see if the application has been suspended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c381784
* Version Independent I

[2018-12-05 09:21] panoschatz commented on #19569
Thanks @axayjo. In that case we 'd be able to query the published image version details, however the Powershell cmdlets for the Shared Gallery are not yet available (correct me if i'm wrong), so only option is CLI and try to format output. Any ideas on when the PS ones are being released please?

[2018-12-05 09:30] CHEEKATLAPRADEEP-MSFT commented on #20023
@wahyuen Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-12-05 09:31] amandadebler opened #20028 "PowerShell install needs to be run as Administrator"
The download/unzip command can (and probably should) be run without elevation, but any changes to c:\Program Files requires elevation (running PowerShell "As Administrator")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6

[2018-12-05 09:36] AshokPeddakotla-MSFT commented on #20026
@lhit8751 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-05 09:38] GLComputing commented on #19843
Thanks ... Would be worth adding that note to the doc as a warning.
Even better with a link to making the lower DCs RO.

Also, if a user connects to a 2K8 DC and changes the password, will that cause an issue to replicate to the 2012 with the pass ban?

[2018-12-05 10:09] AshokPeddakotla-MSFT commented on #19995
@hanewinckel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2018-12-05 10:09] arkiaconsulting opened #20029 "Graph partition key definition"
I can understand that, in a document container where the stored documents represent, most of the time, the same domain type, the partition key can be easily found. But in a graph container, entities represent different domain types, so that finding a common partition key  can be hard, if impossible. Does that mean that we have to create a specific field in order to fullfill a technical requirement

[2018-12-05 10:10] trinadhkotturu commented on #20008
This has been explained in the minimum requirements for doing backup management actions.

[2018-12-05 10:19] Agazoth opened #20030 "2 names are wrong"
For Privileges for vCenter 6.0 and 6.5
Global.SetCustomFields should be Global.SetCustomField
VirtualMachine.Config.AdvanceConfig should be VirtualMachine.Config.AdvancedConfig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ab6c2f-0846-e344-2613-808078b627cb
* Version Independent ID: 4afbc90f-4e26-e4e1-b1ec-b4cddb402

[2018-12-05 10:31] jakaruna-MSFT commented on #20025
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-05 10:37] PramodValavala-MSFT commented on #19949
@yodobrin I have tried reproducing the same issue with the template HTTP trigger function but did not see any error.

Could you share details on the number of functions and/or type of triggers you are using?

[2018-12-05 10:39] KetanChawda-MSFT commented on #20027
@MerrionComputing  Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-05 11:07] jawand opened #20032 "Please update all API endpoints"
API endpoints are not updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7afa0942-ffc5-3f56-0b43-b33ab44ddfa0
* Version Independent ID: d2af1fb8-5bd9-733c-ef78-c4b9087f0fea
* Content: [Bing Speech WebSocket Protocol](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/api-reference-rest/websocketproto

[2018-12-05 11:11] jawand opened #20033 "please create a console sample app"
Please create a sample app just to refer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7afa0942-ffc5-3f56-0b43-b33ab44ddfa0
* Version Independent ID: d2af1fb8-5bd9-733c-ef78-c4b9087f0fea
* Content: [Bing Speech WebSocket Protocol](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/api-reference-rest/web

[2018-12-05 11:11] mrbullwinkle commented on #19942
@wouterroos by default I believe the latest version of the App Insights ASP.NET Core SDK should automatically detect unhandled exceptions. Are you saying you have an ASP.NET Core app with MVC that isn't detecting any unhandled exceptions?

[2018-12-05 11:11] yodobrin commented on #19949
I am using HttpTrigger for a single function within the function app

The first time you publish the function, there would be no issue.
However if you attempt to publish it again when it is running, it will fail:

C:\Program Files\dotnet\sdk\2.1.500\Sdks\Microsoft.NET.Sdk.Publish\build\netstandard1.0\PublishTargets\Microsoft.NET.Sdk.Publish.MSDeploy.targets(139,5): error : Web deployment task fail

[2018-12-05 11:18] jawand commented on #20032
and provide WebSocket urls as well.

[2018-12-05 11:20] cephalin commented on #19870
@bertrandpons Please just run `Install-Package Microsoft.Azure.Services.AppAuthentication -Version 1.1.0-preview` instead of the packages.config changes. I've updated the doc and it should be published sometime today. #please-close

[2018-12-05 11:32] krisneil opened #20034 "Service Endpoint Query"
If I follow the VPN deployment above, placing my Integration Runtime in a VNET, can I utilise a Service Endpoint for Azure Storage on that VNET to pull the data from my on-prem data source down the VPN and then push via the Azure Fabric/Network to Blob Storage, to avoid sending over the Internet? (I know VPN is Internet, but with the extra security provided by IP Sec & HTTPS makes it a more secure

[2018-12-05 11:36] masashimi commented on #18543
Thanks for your reply. I confirmed the text was updated.
However, It seems that the Japanese counterpart was not updated yet.
Could you revise it if possible?

I am sorry if you were not in charge of the Japanese text.

<Japanese>
[cid:image001.png@01D48CD5.8D1CBAE0]

<Amendment>
ストレージ アカウントおよびデータベース内のデータは、読み取り専用で使用できます。

Thank you,

@masashimi

From: Thomas Lin <notifications@github.com>
Sent: We

[2018-12-05 11:36] mrbullwinkle commented on #19859
Thanks @samsmithnz we have added an item to document this to our backlog. If you have experience implementing this config with .NET Core/key vault please feel free to reach out and we would be happy to work with you to get this published even faster.

[2018-12-05 11:44] mrbullwinkle commented on #19852
Thanks @lgmorand to clarify the doc I have added the following:

_Client IP is used to infer geographic location, but by default IP data is no longer stored and all zeroes are written to the associated field. To understand more about personal data handling we recommend this [article](../log-analytics/log-analytics-personal-data-mgmt.md#application-data). If you need to store IP address you can do

[2018-12-05 11:44] mrbullwinkle commented on #19852
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-05 11:47] mrbullwinkle commented on #19770
The code has been updated to no longer reference the deprecated (non overloaded) version of the method. This change will go live at 10 AM UTC-8.

[2018-12-05 11:53] mrbullwinkle commented on #19502
Since the associated page is still down and that particular resource is not owned by Microsoft, the link and reference to the link has been removed from the doc. If that site returns and comes back up at a future date the link can be added back in. The change is merged internally and will go live in the public repo at 10 AM UTC-8 later today.

[2018-12-05 11:53] mrbullwinkle commented on #19502
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-05 12:01] jakaruna-MSFT commented on #19934
@ams0 Disabling the persistence also works. I like to set `--set replicaCount=1`  so that the example will work with azure disk.

[2018-12-05 12:07] #19502 closed

[2018-12-05 12:07] #19852 closed

[2018-12-05 12:08] mcurko commented on #19675
It's too difficult for me to use VS Code, so I gave it up.

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@01D34284.7E49FA10]

From: Alberto Vega <notifications@git

[2018-12-05 12:15] bertrandpons commented on #19870
@Mike-Ubezzi-MSFT @cephalin Thanks a lot for your support!

[2018-12-05 12:15] #19870 closed

[2018-12-05 12:31] mrbullwinkle commented on #19201
@cijothomas can you confirm the terminology you want in the update to the doc? I have no expertise in CosmosDB but I am only seeing a ["Gateway Mode" and a "Direct Mode"](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#networking). Gateway mode defaults to HTTPS, are you saying they need to use Gateway mode and they need swap from HTTPS to HTTP, or just that they need to use Gate

[2018-12-05 12:38] yodobrin commented on #19949
Which is basically my point – I think the documentation can reflect it.
If the recommended approach is not used (for what ever reason) the function app, needs to be stopped before it can accept new dll

And I created a new profile with the checkbox checked, and it worked.

Publish Started
  EventGeneration -> C:\Users\yodobrin\source\repos\EventGeneration\EventGeneration\bin\Release\netcoreapp2.1\

[2018-12-05 12:42] jakaruna-MSFT commented on #20028
@amandadebler Thanks for your feedback.
Inside the zip file we will have an exe(istioctl.exe) which we can use to access. Apart from unzipping we don't need any installation step. If we need to create on "c:\Program Files", we need elevated permissions.
But in this case we can keep that exe in any user folder and we can use. Later we can add that path to $PATH varibale and use in anywhere in the c

[2018-12-05 12:45] mrbullwinkle commented on #18556
@andy26nash the profiler team made a large number of updates to the profiler docs in the past few months. This involved splitting some of the content across multiple articles.

The how to read performance data section can now be found in the profiler [overview article](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-profiler-overview?toc=/azure/azure-monitor/toc.json#how-t

[2018-12-05 12:47] PramodValavala-MSFT commented on #19949
@yodobrin Yes. It would be best to have a note for users opting out of `Run from ZIP`.

We are assigning this to the content author to review and update accordingly.

[2018-12-05 12:58] pmooij opened #20035 "AAD Domain Services in Classic VNet?"
when trying to EnableAzureFilesAadIntegrationForSMB with the following statement:
Set-AzureRmStorageAccount -ResourceGroupName "&lt;resource-group-name&gt;" `
    -Name "&lt;storage-account-name&gt;" `
    -EnableAzureFilesAadIntegrationForSMB $true```

I get the following Error:
Set-AzureRmStorageAccount : Unable to locate active tenants with tenant Id &lt;guid&gt;

I get this errors in environme

[2018-12-05 13:10] Hazza71 commented on #19938
Hi,

Although I am certain I selected the Azure Table option when I first created the CosmosDB instance I have tried creating a new instance and experienced the same results. I can see an option to ‘Add Table’ from the CosmosDB ‘Overview’ screen in the portal, however when I select this and create the database and the collection I am still unable to add a table.

I have successfully created a tabl

[2018-12-05 13:37] hanewinckel commented on #19995
To be more specific, this is in the !Note in the "Use External Packages with Jupyter Notebooks" section. The instructions "There are two python installations in the cluster. Spark will use the Anaconda python installation located at /usr/bin/anaconda/bin. Reference that installation in your custom actions via /usr/bin/anaconda/bin/pip and /usr/bin/anaconda/bin/conda." Install the package in Python

[2018-12-05 13:46] shapeh commented on #16651
@craigshoemaker - did not try yet / basically we had to move on due to a sharp deadline.

[2018-12-05 13:53] cconrado commented on #19978
@CraigBoydell how do we go about resolving this?

[2018-12-05 13:55] Ahmad-Al-Ali opened #20036 "Live SDK Deprecated"
Live SDK Deprecated but the code sample under Client Flow login with Azure AD still uses it. should be updated to graph API

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 664f306a-a900-e59a-356c-a446bafe98f7
* Version Independent ID: e8ecb2a6-8056-dfd9-be49-646bcbbc7cef
* Content: [How to Use Apa

[2018-12-05 14:02] ArchieCoder commented on #17619
@erhopf can you reassign to @WSturman ? Thanks

[2018-12-05 14:08] 101010431 opened #20037 "Support product"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-05 14:10] vhorne commented on #19309
@Mahesh-Aravapalli
fixed

[2018-12-05 14:10] vhorne commented on #19309
#please-close

[2018-12-05 14:29] ryangugcloudca opened #20038 "does it secure beyond communication between application and LDAP provider?"
One key question:
With Secure LDAP, will the application still be able to see the password user enters? My guess is yes, just like to confirm it. That means encrypting communication between application and LDAP provider. On the situation many applications implement different SSO with same ID provider, (secure) LDAP is still not secure enough because technically the password of a high level user mi

[2018-12-05 14:40] wouterroos commented on #19942
@kobulloc-MSFT Good to know that this is enabled by default in ASP.NET Core. Perhaps it's an idea to mention this somewhere in the docs? I'll ask the developer that reported the actual issue if he can reproduce it and share it here.

[2018-12-05 14:57] mrbullwinkle commented on #19942
adding @cijothomas just to make sure I am correct.

[2018-12-05 15:37] hkeziah opened #20040 "Why did I need to remove the prebuilt number entity?"
It would improve my overall understanding if I knew WHY the instructions have me remove the prebuilt number entity before proceeding, then add it back afterward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c20727e-06cc-1942-2cb6-10644788e862
* Version Independent ID: 6d558803-bece-7d1b-7ba1-af85fb92fa4d
* Content:

[2018-12-05 15:39] cijothomas commented on #19201
I haven't tried CosmosDB myself:( I think its best to just say that AI tracks dependencies only if HTTP/HTTPS is used and not for TCP, and perhaps a link to CosmosDB doc. (or just call out that Cosmos DB calls made using TCP is NOT tracked automatically by app insights)

[2018-12-05 15:42] diberry commented on #20040
@hkeziah Hello Howard, This is a good question. The quickstart should call out the reason better. The reason the prebuilt needs to be removed is that, in the LUIS portal, you can only label an entity, once it has already been tagged (for example by a prebuilt) in a composite. But if you remove the prebuilt, you can then label any word or phrase with your own custom entity. There is no hard in remo

[2018-12-05 15:45] georgewallace commented on #20011
@thuansoldier Thank you for the feedback, that section of the document is actually talking about classic VMs which use the Get-AzureVM cmdlet.  There is a separate section for [resource manager virtual machines](https://docs.microsoft.com/en-us/azure/automation/automation-dsc-onboarding#azure-virtual-machines).  We still want to provide ways for people to onboard classic VMs to DSC.

[2018-12-05 15:47] georgewallace commented on #18239
@ejacobsen-glofin Just wanted to reach out and let you know I have not forgot about your request, this request is in my backlog and I will get to it as soon as I can.

[2018-12-05 15:55] navy0333 opened #20041 "asynchronous tutorial"
Hi, great job there,
I'm just got into NodeJS recently, but I really think this tutorial isn't applicable on many situation, the synchronous code make API calls return null to someone who just copy and pasting, and yeah this tutorial isn't for Beginner, but will it nice if the Tutorial itself meets many use cases so even pros can just reuse and adjust the example.

I believe making easy, applicabl

[2018-12-05 16:00] MattAltieri commented on #19947
I fixed this by going to the Access policy settings for each blob container and set the public access level to "Blob (anonymous read access for blobs only)" and this solved the issue for me. Not sure if that's the _wisest_ solution, but it worked for me.

[2018-12-05 16:05] MattAltieri opened #20042 "Error when deploying thumbnail resive function"
I receive the following error when I run the deployment command as described in the lab: "Automate resizing uploaded images using Event Grid"

`Deployment failed. Correlation ID: 0daa8769-fc2e-4681-b45f-6c4ab47cc1b1. Operation failed with status: 200. Details: Resource state Failed`

When I look in the deployment center for the function app, the code is merged in from the github repo without issue

[2018-12-05 16:11] erhopf commented on #17619
@fowl2 - Don't worry, not you, I think Git is just playing practical jokes. We'll get this assigned to the correct person ;).

[2018-12-05 16:13] rfoust opened #20043 "How to verify AADC is using TLS 1.2?"
This is a great article that shows how to configure TLS 1.2, but it doesn't show how to verify that AADC is using 1.2 after these settings have been implemented and the server rebooted. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b93dd985-61dd-2b98-7a63-b63f97f1c5ec
* Version Independent ID: 861050c4-c216-87

[2018-12-05 16:13] ianpurvis1976 commented on #19947
Hi, I found the solution to the problem on Stack Overflow requiring some
small tweaks to the Function code:
https://stackoverflow.com/questions/53313094/azure-function-triggered-by-eventgrid-on-blob-storage

Regards
Ian

On Wed, 5 Dec 2018 at 16:00, Matthew Altieri <notifications@github.com>
wrote:

[2018-12-05 16:14] danmyhre opened #20044 "Modern Pages"
Please add details on how to do this with modern sites/pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1d5591a-bdb0-7eed-9697-4f2c7f3cc807
* Version Independent ID: 301d5ed0-863e-7a46-0d93-023f27e29f89
* Content: [Monitor a SharePoint site with Application Insights](https://docs.microsoft.com/en-us/azure/applicat

[2018-12-05 16:15] erhopf commented on #17619
@ArchieCoder @fowl2 - We have an updated auth sample in our text-to-speech quickstart:

[code]

[2018-12-05 16:17] ejacobsen-glofin commented on #18239
Thanks for the follow up @georgewallace I was able to get my references paths working, but it would definitely be helpful to have an easy way to view the path of an Automation Account's module.

[2018-12-05 16:18] tamram commented on #20035
@pmooij - Thanks for your feedback. Yes, Azure AD over SMB for Files is supported only for VNets created with Azure Resource Manager.

#please-close

[2018-12-05 16:19] ArchieCoder commented on #17619
@erhopf I approve this! Thanks.

[2018-12-05 16:19] #17619 closed

[2018-12-05 16:36] PramodValavala-MSFT commented on #19947
@MattAltieri Thanks for pointing this out! This tutorial builds up on the [previous](https://docs.microsoft.com/en-gb/azure/storage/blobs/storage-upload-process-images?tabs=net#create-blob-storage-containers) storage account tutorial in which the second container (thumbnails) is created with `container` access (a bit higher than `blob`).
The contents are meant to be public (for this tutorial at le

[2018-12-05 16:42] maon1317 commented on #19659
Tried to make the deployment with 5 nodes and an old version of Docker and got the same error. Today I'll update Docker and try again the deployment

[2018-12-05 16:42] 101010431 commented on #20037
It's very easy to make some words **bold** and other words *italic* with Markdown. You can even [link to Google

[2018-12-05 16:43] #20037 closed

[2018-12-05 16:44] hanewinckel commented on #19995
As a further update, I did find an answer to my question. I changed my install command to

    /usr/bin/anaconda/envs/py35/bin/conda install -c conda-forge ggplot -n py35

just changing the path was not enough, I had to use -n py35 to specifically install into the PySpark3 environment. Not sure how you guys want to write this up, but it took a LOT of internet searches and trial and error. So I rea

[2018-12-05 16:47] arthurblake opened #20046 "Set Connection Policy via Portal?"
Is there a way to set the connection policy via the Azure portal? If not, is that coming soon?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database connectivity architecture](https://d

[2018-12-05 16:52] hkeziah commented on #20040
Thank you!

I’m very surprised, yet delighted!, to get such a prompt and useful response.

[2018-12-05 16:57] Alberto-Vega-MSFT commented on #20033
@jawand Thanks for your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-05 16:58] guibirow commented on #11808
You should be able to see the schema for the resources in here: https://docs.microsoft.com/en-us/azure/templates/microsoft.servicefabricmesh/allversions

[2018-12-05 17:03] JetstreamRoySprowl opened #20047 "Telemetry message schema lacks important information"
The [Telemetry](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-accelerators-device-schema.md#telemetry) section of the [iot-accelerators-device-schema doc](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-accelerators-device-schema.md) is missing some important pieces:

1. The schema shown contains `MessageTemplate` and `Interval` values which make sense f

[2018-12-05 17:08] dmcwee opened #20048 "Enterprise Mobility + Security"
The EM+S suite's documentation for Azure US Government should be linked or moved here to provide a consistent experience when reviewing/searching for documentation.  EM+S Government documentation can be found here: https://docs.microsoft.com/en-us/enterprise-mobility-security/solutions/ems-govt-service-description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-12-05 17:10] JetstreamRoySprowl opened #20049 "Need reference to recommended Telemetry schema"
This topic very badly needs to include the Telemetry schemas as part of the Twin reported values as shown in [this link](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-accelerators-device-schema.md#telemetry).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d638cadae8
* Ve

[2018-12-05 17:13] j-rat commented on #15252
this would be awesome.  Especially when privately connected using Express Routes.

[2018-12-05 17:15] Alberto-Vega-MSFT commented on #20032
@jawand Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-05 17:16] conceptdev commented on #20036
Thanks for your feedback @Ahmad-Al-Ali - the page will be updated to remove the references to deprecated SDKs.

[2018-12-05 17:24] Mike-Ubezzi-MSFT commented on #20029
@arkiaconsulting Thank you for the detailed question. If you notice during the `collection` creation process there is a required field `partition key`. This is where you define a unique field for which the partition key operates upon.

![screenshot 70](https://user-images.githubusercontent.com/37126106/49531363-0395b000-f86f-11e8-98b3-b5eaad2d2ca1.png)

Does this make sense? With the Graph API, `/

[2018-12-05 17:27] akramwaseem opened #20050 "Looks good , But I am not able to find the section which is needed for creating support ticket."
Can you point me to the right section, So i can create a ticket for update management issue in azure.
I cannot see it not matter what and in an section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43a60f94-0826-8cdf-04b3-c5f20d299720
* Version Independent ID: 7d1dcfe7-4e68-6b98-1003-9154e7a0b22d
* Content: [How to c

[2018-12-05 17:32] ActualReverend opened #20051 "Powershell - how to"
Please include a way to do this in Powershell (at least how to configure the endpoint to use the custom name).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custom domain to your Azure CDN e

[2018-12-05 17:33] jason-j-MSFT commented on #20034
@krisneil
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-05 17:33] j-martens commented on #16731
Here is the documentation on that class: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.image.image(class)?view=azure-ml-py#create-workspace--name--models--image-config-

Hope this helps.

[2018-12-05 17:34] femsulu commented on #20011
@thuansoldier Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-05 17:34] #20011 closed

[2018-12-05 17:34] tsrikanth06 commented on #19792
yeah it works, Thanks
I built a pipeline and notebook on Failure triggers web activity. But when notebook fails, like with exception, DataFactory fails with errorCode:3204 and failureType: UserError and it does not trigger web activity.
How can I treat UserError as Failed or is there a way my notebook can throw exception and  dataFactory can catch the exception and treat it as Failure

[2018-12-05 17:36] Mike-Ubezzi-MSFT commented on #20046
@arthurblake Thank you for the inquiry. We are investigating and will update you shortly.

[2018-12-05 17:37] femsulu commented on #20009
@Romiko Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-05 17:41] vhorne commented on #19738
@ams0
Done

[2018-12-05 17:42] vhorne commented on #19738
#please-close

[2018-12-05 17:45] Alberto-Vega-MSFT commented on #19675
I can enable a free support ticket so you can get some personalized help. If you are interested I just will need you to please do the following:
file a support request @ https://aka.ms/azsupt? or if you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for th

[2018-12-05 17:47] #20036 closed

[2018-12-05 17:54] Alberto-Vega-MSFT commented on #20032
@jawand Thanks again for your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-05 17:55] KetanChawda-MSFT commented on #19847
@stridsbr I have assigned this to the content author to evaluate and update as appropriate.

[2018-12-05 17:59] cynthn commented on #15216
If you are going to create an Azure **image**, you should sysprep the VM\VHD.  I think @Karishma-Tiwari-MSFT is saying that you might need to download the VHD and create a VM in Hyper-V to be able to see the screens in the initial startup of the VM. Complete setup in Hyper-V, then you need to run sysprep again and make sure you choose "System Out-of-Box Experience (OOBE)", make sure that the "Gene

[2018-12-05 18:01] MarileeTurscak-MSFT commented on #13139
Hi @waheedhussain , please reach out with this question on MSDN in the KeyVault forum. I monitor this forum every day and will ensure that you get help. https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureKeyVault

[2018-12-05 18:01] MarileeTurscak-MSFT commented on #13139
I am closing this out as this is a troubleshooting question better suited for the forums. Feel free to link your post here so that others on this thread can stay in the loop.

[2018-12-05 18:01] #13139 closed

[2018-12-05 18:02] tchristiani commented on #20032
This service is being retired. We encourage you to look at migrating your project to the new Speech Service. This article will help you do that: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech
#please-close

[2018-12-05 18:04] tchristiani commented on #20033
This service is being retired. We encourage you to migrate to the new Speech Service. You can find information on how to migrate from Bing Speech Service here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech
#please-close

[2018-12-05 18:07] MarileeTurscak-MSFT commented on #20020
@adamfowlerit
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-05 18:08] MarileeTurscak-MSFT commented on #20038
@ryangugcloudca
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-05 18:08] Alberto-Vega-MSFT commented on #20032
@tchristiani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 18:08] #20032 closed

[2018-12-05 18:09] MarileeTurscak-MSFT commented on #20043
@rfoust thanks for your comment! I have assigned this issue to the content author, @billmath , to look into your feedback.

[2018-12-05 18:10] BryanTrach-MSFT commented on #20036
@Ahmad-Al-Ali We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 18:16] daveba commented on #19849
@huczas The command has been updated and republished.  Thanks! #please-close

[2018-12-05 18:23] mike-urnun-msft commented on #19962
@Deez3 Just following up here, let us know if we can assist with regards to any MS Doc :)

[2018-12-05 18:30] mike-urnun-msft commented on #20042
Hi @MattAltieri Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-05 18:30] blueelvis commented on #18085
@Adam-Smith-MSFT @KeiroKamioka0000 - Just deployed a RSV from the Recovery Service Vault and it wasn't deployed with V2. Do I need to run the powershell commands given on the blog and then every RSV will default to V2?

[2018-12-05 18:31] CarlRabeler commented on #20041
@craigg-msft I will chat with you about the best resource to evaluate this comment

[2018-12-05 18:35] ClayJackson412 opened #20053 "Deploying metric rule for all VMs in a given Resource Group not available?"
Is the feature allowing a single metric alert that targets multiple Azure VM resources available yet? I see an "InternalServerError" in the deployment logs when I attempt to follow the example from the "All virtual machines in one or more resource groups" section of this article.

Thanks

Clay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-12-05 18:35] jejosep opened #20054 "How to simulate user metadata property in telemetry?"
If query uses user metadata property, how can that be input as sample data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b474a6d0-1e30-e815-033e-74511be0253d
* Version Independent ID: 1ddbea62-1509-45b7-d305-bda9a68a719b
* Content: [Test an Azure Stream Analytics job with sample data](https://docs.microsoft.com/en-us

[2018-12-05 18:36] mrbullwinkle commented on #19942
@cijothomas excellent! if you can get me a little more info on what needs to be added, I am happy to get the docs updated. Thank you so much!

[2018-12-05 18:36] YutongTie-MSFT commented on #19865
@JohnStraumann66
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-05 18:37] mike-urnun-msft commented on #20047
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1a4b78-38a4-9d18-8c82-e006da884427
* Version Independent ID: e1e461eb-e538-297c-b30b-20710b5b9fbe
* Content: [Device schema in remote monitoring solution - Azure](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-device-schema)
* C

[2018-12-05 18:38] lgmorand commented on #19852
@mrbullwinkle perfect explanation ! thankx

[2018-12-05 18:47] YutongTie-MSFT commented on #20033
@jawand We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 18:52] YutongTie-MSFT commented on #17619
@erhopf I think there is something wrong with Grace's account @WSturman

[2018-12-05 18:54] nromyn opened #20055 "Image not displaying"
The image on line 42 is indented, so it's rendering as code instead of an image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a950d6b-db1f-8338-f80a-a3fde54c4b4c
* Version Independent ID: 8256d37f-d6dc-a8bf-6a39-d18419c94ac3
* Content: [Tutorial Get data using the Azure AD Reporting API with certificates](https://do

[2018-12-05 18:56] YutongTie-MSFT commented on #19864
@dazzler11 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 18:56] #19864 closed

[2018-12-05 18:57] jamiepassa commented on #15216
Yes I have done that and it still boots to OOBE, though I haven’t downloaded just used the image I originally created in hyper v, booted it up and did the same

Sent from my iPhone

On Dec 5, 2018, at 12:59 PM, Cynthia Nottingham <notifications@github.com<mailto:notifications@github.com>> wrote:

If you are going to create an Azure image, you should sysprep the VM\VHD. I think @Karishma-Tiwari-MSF

[2018-12-05 19:00] mrbullwinkle commented on #19490
@jjgriff93 the current production JS SDK version (1.0.20) does not officially support angular. It is possible to monitor angular with Application Insights and a little bit of customization and many customers do this and use the community authored/supported wrapper that can be found here to accomplish this:

[https://github.com/MarkPieszak/angular-application-insights](https://github.com/MarkPiesza

[2018-12-05 19:01] mrbullwinkle commented on #19490
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-05 19:11] jeevansd commented on #19974
@andyjcooperuk We don't have a complete parity of features yet un PowerShell but it is coming soon. So I will keep you posted once it is ready.

[2018-12-05 19:13] rthorn17 commented on #19653
Thanks @guvnor1972 for pointing that out.  Will fix that ASAP

[2018-12-05 19:18] #19738 closed

[2018-12-05 19:18] Mike-Ubezzi-MSFT commented on #20046
@arthurblake I am not seeing this as a roadmap item. Can you please navigate to the [Azure SQL User Voice](https://feedback.azure.com/forums/217321-sql-database) and make an entry to request this functionality.

[2018-12-05 19:19] priyamohanram commented on #20055
@nromyn: Thanks for reporting the issue. I've fixed the indent and the documentation should be updated shortly. Please feel free to open a new issue if you have any questions. Thanks!

#please-close

[2018-12-05 19:21] YutongTie-MSFT commented on #19897
@ZephiraTB We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 19:21] #19897 closed

[2018-12-05 19:21] YutongTie-MSFT commented on #19945
@dazzler11 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 19:21] #19945 closed

[2018-12-05 19:22] #19490 closed

[2018-12-05 19:39] #19849 closed

[2018-12-05 19:46] TheSaltyKorean opened #20056 "There is no Features or Tasks tab"
Under step 1, these are not present in the portal.  Where do you go once you've selected your ADW?  You're missing steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5420c88a-e3ef-c4d5-c6b7-4d0687a517d3
* Version Independent ID: 51c05994-b001-e853-4726-ca8deb82e6f9
* Content: [Upgrade to the latest generation of Azu

[2018-12-05 19:48] SnehaGunda commented on #19330
@jonpayne I submitted a PR to update the image. We will now close this issue.

#please-close

[2018-12-05 19:49] mrbullwinkle commented on #19770
Changes are now live.

[2018-12-05 19:49] mrbullwinkle commented on #19770
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-05 19:49] SnehaGunda commented on #20002
@Liversage thanks for pointing out the issue, we are in the process of redesigning the images. We will get to this soon.

[2018-12-05 20:01] Grace-MacJones-MSFT commented on #19756
Hi @imeya  thanks for patience. We were able to repro the issue and ran into the same problem. We have reached out to product group and we are tracking this internally. We will update you with our findings.

In the meantime, please use this work around to view the ASE resource.
 1.	Open Azure portal -> All Services -> Monitor -> Metrics (pane)
2.	Click on Classic explorer
![classic](https://user-i

[2018-12-05 20:10] summerkiss opened #20057 "Is there any API to monitor the RUs and set the throughout of cosmos db"
We are trying  to implement a way to monitor the RUs of cosmos DB and change the value of throughput dynamically.
Is there any api can get the current RUs of cosmos and reset the throughput value by programming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789936dc-e275-a87f-4f34-8f757db9b3b4
* Version Independent ID

[2018-12-05 20:10] #19770 closed

[2018-12-05 20:10] #16558 closed

[2018-12-05 20:11] #16841 closed

[2018-12-05 20:11] #18313 closed

[2018-12-05 20:11] #18543 closed

[2018-12-05 20:11] #19309 closed

[2018-12-05 20:12] #19974 closed

[2018-12-05 20:12] #20055 closed

[2018-12-05 20:17] rajrao commented on #19737
I tested with this code and even though my messages have the exact same message id, but different session ids, I get 2 messages in my subscription:

[code]

**Output:**

[2018-12-05 20:24] MicahMcKittrick-MSFT commented on #20025
@maxcalvin fair feedback. I will assign to the content authors to review and see how we can make doc more clear.

[2018-12-05 20:29] mwsteph opened #20058 "Instructions on connecting via Jupyter Notebook not accurate"
After setting up a Linux DSVM, I am not able to connect via Jupyter Hub using the instructions above.  Port 8000 is not open by default and Azure doesn't allow a rule to open it to be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38868202-ccff-2a37-ae12-eb55d2ffcf5f
* Version Independent ID: ec187c97-9e1e-ecb0-

[2018-12-05 20:32] AnalyticsInAction commented on #19907
@mike-urnun-msft  Is there any documentation for the parameters  (Project.id  Test_data, iteration.id) in the[ new prediction code](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Custom-Vision-Service/python-tutorial-od.md#get-and-use-the-default-prediction-endpoint)? :
`results = predictor.predict_image(project.id, test_data, iteration.id)`

In the old code (`

[2018-12-05 20:32] gbodacs opened #20059 "The page does not load"
After deploying the zip file, I get "This page isn't working 500" error in Chrome. The webapp is running, everything looks green and OK, but I cannot open the example webpage. Can you help me please? Is it OK to sent the request on the port 80?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f

[2018-12-05 20:39] srdan-bozovic-msft commented on #19705
would make sense to remove especially in the context that there is a Managed Instance offering and that we announced private endpoints for Azure SQL DB/DW (currently in private preview)

[2018-12-05 20:55] TravisCragg-MSFT commented on #19424
@rfcdejong We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 20:55] #19424 closed

[2018-12-05 20:55] Alberto-Vega-MSFT commented on #19946
@davebanthorpe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@alinamstanciu Hi, can you please check this issue and update the document as necessary? Thanks You!

[2018-12-05 20:55] TravisCragg-MSFT commented on #19192
@jpr2016git We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 20:55] #19192 closed

[2018-12-05 20:58] TravisCragg-MSFT commented on #19733
@carteixeira Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-05 21:31] areddish commented on #19907
@AnalyticsInAction: the parameters are the same and have the same meaning.

They have only been modified to match the naming so you could put all of the code into one file and have it run. So what was previously project_id = project.id, iteration_id = iteration.id, and test_data is the same. You can pass either the file or the array to the predict_image function as it accepts a generator.

You can

[2018-12-05 21:35] HarshaNalluru commented on #20005
Hi,
I've changed the root directory and now I encounter a different error.
Can you please see the link: https://magicsearch.azurewebsites.net/

[2018-12-05 21:36] vonlar commented on #20056
There is actually no way to upgrade to Gen 2 because you can't get to the Tasks tab. That's the first step to upgrade to Gen 2.  So there's no screenshot to send.  Thanks for looking into this.

[2018-12-05 21:37] MicrosoftGuyJFlo commented on #19889
#please-close

[2018-12-05 21:38] jjgriff93 commented on #19490
@mrbullwinkle thanks for your response, quite disappointing but I understand - really hope this support comes in the future so App Insights is adopted across the growing SPA landscape

[2018-12-05 21:41] HarshaNalluru commented on #20005
I've checked other comments and fixes and tried them, but they weren't helpful.
Could you please help me with this.

[2018-12-05 21:41] summerkiss commented on #20012
I also face same problem, but I want get the in time  RUs of cosmos db and set it throughput  by API,
 is there any way to do that?

[2018-12-05 21:43] MicrosoftGuyJFlo commented on #19843
Anywhere that the password protection filter is not installed the password could be set and then replicated. The password is only checked on set when it goes through the password protection filter.

Hence the requirement that "All domain controllers where the Azure AD password protection DC agent service will be installed must be running Windows Server 2012 or later."

and on the overview topic...

[2018-12-05 21:47] TravisCragg-MSFT commented on #19943
@yotauber after speaking with you offline, this issue is with Key Vault and creating a VM, not with Azure Stack.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 21:47] #19943 closed

[2018-12-05 21:48] TravisCragg-MSFT commented on #19775
@kprpg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 21:48] #19775 closed

[2018-12-05 21:52] Adam-Smith-MSFT commented on #19875
@vassallosm
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Please use the Feedback or post comment Github buttons on the specific article.

[2018-12-05 21:52] #19875 closed

[2018-12-05 21:56] Adam-Smith-MSFT commented on #19888
@jdogg89  data.api should do the work since it can invoke/trigger actions on blobs.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-05 21:56] #19888 closed

[2018-12-05 22:14] banisadr commented on #19899
Hi @schummbo, users with write permissions on the Event Subscription can change the query string for the endpoint. The update is propogated after ~15 minutes and will retry with the updated quertstring value.

[2018-12-05 22:18] cijothomas opened #20060 "Status Monitor does not modify web.config to add http modules"
This statement is wrong:
Modifies web.config to add the Application Insights HTTP tracking module.

SM does not add any HttpModules to web.config. It relies on HostingStartup, which relies on DynamicModuleUtility.RegisterModule to load HttpModules at runtime.
This means that after instrumenting an app with SM, users are not expected to find httpmodules (AI ones) in their web.config

---
#### Docum

[2018-12-05 22:19] cijothomas commented on #20060
I'll find the right documentation myself and post it here.

[2018-12-05 22:19] #19889 closed

[2018-12-05 22:22] Alberto-Vega-MSFT commented on #20058
@mwsteph Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-05 22:22] schummbo commented on #19899
Perfect!  After I posted this, I decided to just test this scenario and this lines up with what I was seeing.  Thanks for the follow-up!

[2018-12-05 22:24] cconrado opened #20061 "Example needed for -TemplateParameterObject"
There needs to be an example for doing an inline parameter for Dimensions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60491b3e-5e7a-6eab-cbfd-d87247e59c7d
* Version Independent ID: 623c51cc-3eda-a4c3-2719-d354ca3befbe
* Content: [Deploy resources with PowerShell and template](https://docs.microsoft.com/en-us/azure/a

[2018-12-05 22:31] billmath commented on #13678
@JBines, @kenoby-dev Thanks for the feedback!

This is now live.

#please-close

[2018-12-05 22:32] billmath commented on #12835
#please-close

[2018-12-05 22:33] olofszymczak opened #20063 "Azure SQL Database Audit stores 4000 characters"
Are there plans in the future to actually store the whole sql statement and break it up using sequence_number/sequence_group_id. This could be a very big security issue if audit can not exactly capture what has been executed.

Example
Lots of spaces +4000
SELECT * FROM table1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-05 22:34] pxtit opened #20064 ""Sufficient complexity" is insufficent"
We are doing a trial of Password Protection, and I'm incredibly frustrated by the hours I've wasted because of how poorly the documentation describes the actual functionality of this product.

We have spent many, many hours testing, retesting, and double- and triple-checking our implementation, eventually even logging a support call, because of the random behavior we saw in our testing.  Virtually

[2018-12-05 22:35] deltadan opened #20065 "Recovery Services Vault"
The section on this is very confusing.  It reads as if you can't move a Vault only if you have the issues with protecting resources using ASR.  This needs attention given that you can't move a Vault with backups to another RG or subscription.  You must abandon your backup history and start over.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-12-05 22:40] femsulu commented on #20030
@Agazoth Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-05 22:41] saulcruz opened #20066 "Data Management Gateway is now called Integration Runtime"
Hey there team,

This https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/move-sql-azure-adf#install-and-configure-up-the-data-management-gateway mentions a tool that is now called Microsoft Integration Runtime and can be found here https://www.microsoft.com/en-us/download/details.aspx?id=39717

The ADF docs are up to date, but looks like there are some parts here tha

[2018-12-05 22:47] jason-j-MSFT commented on #19824
@banisadr could you take a look at this request to clarify ValidationURL handshake?

[2018-12-05 22:49] kobulloc-MSFT commented on #18051
@EthanCo81 @SWarnberg Revisiting this, I'm unable to reproduce the issue that is being reported using an  ASP.NET Web App on a B1 App Service Plan.  Can you provide some more details about your setup to help us investigate this issue?

[2018-12-05 22:52] axisc commented on #19737
@rajrao - I tried the code and I happen to get a single message in my subscription.

Also, tried sending 2 messages to 2 different message ids, and then I see 2 messages on my subscription.

If you still see this issue, please feel free to open a support ticket and the support team can investigate your namepace.

cc: @spelluru

[2018-12-05 22:53] TravisCragg-MSFT commented on #17952
@tFable We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 22:53] #17952 closed

[2018-12-05 22:53] TravisCragg-MSFT commented on #17908
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 22:53] #17908 closed

[2018-12-05 22:54] TravisCragg-MSFT commented on #17625
@peddabavisriram We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-05 22:54] #17625 closed

[2018-12-05 23:01] Mike-Ubezzi-MSFT commented on #20056
@vonlar Thank you for the additional detail. I am assigning this to the content author to evaluate and update as appropriate.

[2018-12-05 23:06] davidmu1 commented on #13620
Added a link to the token article at the bottom of the page. The incorrect link has been removed.

#please-close

[2018-12-05 23:07] kobulloc-MSFT commented on #20044
@danmyhre Thank you for reaching out to us!  We have documentation on using Application Insights on web pages with[JavaScript](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-javascript),[ASP.NET apps](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net?toc=/azure/azure-monitor/toc.json), and[more](https://docs.microsoft.com/en-us/azure/applica

[2018-12-05 23:20] Chikitaisaac123 opened #20068 "chikita Isaac"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0efd5e-72d6-5124-f225-dd6426c9e004
* Version Independent ID: 8ca96d3d-d9bc-fcd4-fe19-f10cd6fa3370
* Content: [Azure Relay Hybrid Connections protocol guide](https://docs.microsoft.com/en-us/azure/service-bus-relay/relay-hybrid-connections-protocol)

[2018-12-05 23:33] kobulloc-MSFT commented on #19990
@Kenneth-Abrams Anything at or above Basic should have the option to enable Profiler as long as it is an ASP.NET or ASP.NET Core web app:

You are running an ASP.NET/ASP.NET Core web app on Isolated and do not see the option below?

![image](https://user-images.githubusercontent.com/37556655/49551150-fb576800-f8a2-11e8-96e0-08433f9cc9ec.png)

[2018-12-05 23:36] barbkess commented on #14608
@SaurabhSharma-MSFT Please assign to @asmalser-msft .  Thanks!

[2018-12-05 23:37] barbkess commented on #18837
@MarileeTurscak-MSFT - Please assign to @asmalser-msft .  Thanks

[2018-12-05 23:40] CraigBoydell commented on #19978
@cconrado nothing that is in our control.

To work round this I have created custom queries based on the Perf Log Analytics and used the metric rules where possible.

The JSON payload for these Alert Rules sent to the webhooks and the Email notifications contain the detail of what machines triggered the alert.

I'm currently setting up an extra webhook in the middle to further refine the detail of

[2018-12-05 23:47] rajrao commented on #19737
@axisc I tested the code against multiple ServiceBus instances and in each case I got 2 messages in the subscription.

[2018-12-05 23:56] JetstreamRoySprowl opened #20070 "Error in Telemetry Schema"
In [this section of this doc](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-accelerators-device-schema.md#telemetry),

1. A note needs to be added that the info following the 'v' in the `MessageSchema.Name` property may not be a version like "0.6" or IoT Hub will return an opaque 400 error. The characters after the v must represent an integer.

2. The schema shown for the `T

[2018-12-06 00:00] barbkess commented on #14307
@DMoonesinghe : I reworded some of the wording in the https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy#how-does-application-proxy-work section.  This is what you were describing originally.  It should get published sometime on 12/6/2018.  I'm going to be revising the application-proxy topic so some of the other things you mentioned should get fixed in the rewri

[2018-12-06 00:00] fariazz opened #20071 "Missing REST API examples"
Why are there no REST API examples for any of the articles in this section? Not everyone uses .NET in their backend, and it's really hard to follow along and implement these solutions without examples we can use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a24db2a-d155-3adc-b9a7-ebdbf8f227f3
* Version Independent I

[2018-12-06 00:02] dcbrown16 opened #20072 "Only P2S?"
Can you have ExpressRoute coexist with only a Point-to-Site connection on a VPN Gateway? The P2S section in this article seems to imply that you have to add P2S to an S2S connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115a55e9379f
* Version Independent ID: 2c032f28-ebd6-513e-4324-622

[2018-12-06 00:02] Mike-Ubezzi-MSFT commented on #20063
@olofszymczak Thank you very much for the detailed feedback. Can you please make a product request to the [Azure SQL User Voice](https://feedback.azure.com/forums/217321-sql-database). This is where product request can be made. Regards, ~Mike

[2018-12-06 00:09] terrymandin opened #20073 ""Expecting value: line 1 column 1 (char 0)" error when using the CLI to add the extension"
I receive a "Expecting value: line 1 column 1 (char 0)" message whenever I try to add the OMS extension to an existing Linux VM.  I replaced myResourceGroup, myVM, omskey and omsid in the code copied from the documentation below.

az vm extension set \
  --resource-group myResourceGroup \
  --vm-name myVM \
  --name OmsAgentForLinux \
  --publisher Microsoft.EnterpriseCloud.Monitoring \
  --versio

[2018-12-06 00:12] tfitzmac commented on #20061
@cconrado - thanks for this feedback. Can you provide us with more detail about which Dimensions you are referring to?

[2018-12-06 00:19] wahyuen commented on #20012
@CHEEKATLAPRADEEP-MSFT Yes thanks for that. I do understand which parts can be updated if we were to be creating the databases from afresh.

My question still remains, is there a way to setup database level throughput for an **existing** database, that was originally created using container level throughput.

We have a number of existing customers with current databases and live data within them.

[2018-12-06 00:21] mike-urnun-msft commented on #20057
Hello @summerkiss Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-06 00:30] ajamess commented on #7476
#please-close

[2018-12-06 00:48] andretms commented on #9551
#please-close

[2018-12-06 00:52] parakhj commented on #6721
we need to write a new sample using MSAL instead of ADAL. Once it is completed, that will be in the Azure-Samples. In the meantime, closing this issue

[2018-12-06 00:52] parakhj commented on #6721
#please-close

[2018-12-06 00:54] andretms commented on #18110
@bjthomson sorry for delay - the reason for this behavior is that the v2.0 endpoint changed the name of this claim so it so longer conforms to *ClaimTypes*, therefore there is a claim named `name` instead - and that is what we see in the tutorial, which is focused in OIDC

[2018-12-06 00:55] andretms commented on #18110
#please-close

[2018-12-06 00:59] BryanTrach-MSFT commented on #20059
@gbodacs Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-06 01:00] andretms commented on #19717
@myusrn We are working to bring this content to docs.microsoft.com, for now, please see [this blog post](http://www.cloudidentity.com/blog/2014/04/28/use-owin-azure-ad-to-secure-both-mvc-ux-and-web-api-in-the-same-project/) with options on how to configure ASP.NET to support both middlewares

[2018-12-06 01:00] andretms commented on #19717
#please-close

[2018-12-06 01:06] BryanTrach-MSFT commented on #20071
@fariazz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-06 01:14] tomisaacson commented on #20014
I'm using an Enterprise licence. I asked the same question of them and they're replied but I'm still not sure what best practice is. I ran through https://docs.microsoft.com/en-us/azure/virtual-machines/linux/terraform-install-configure then set ARM_SUBSCRIPTION_ID,
ARM_CLIENT_ID, ARM_CLIENT_SECRET and ARM_TENANT_ID as environment variables in TFE but is that the best way of doing it? In AWS I'm u

[2018-12-06 01:17] jason-j-MSFT commented on #20054
@jejosep
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-06 01:30] rlingineni opened #20074 "Node.js SDK not in quickstart"
The Node.js SDK is not in the quickstart section fo the feedback. I was trying to build in Python, but one final google search resulted in this. It was a lot of time that I spent on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836b80d5-1dd4-b29c-58b3-d26aea0d7eee
* Version Independent ID: 6a0cdcd0-9135-2a81-4e8

[2018-12-06 01:31] femsulu commented on #20053
@ClayJackson412 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-06 01:31] femsulu commented on #20053
adding @snehithm

[2018-12-06 01:34] femsulu commented on #20050
@akramwaseem [here](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) is the official content on How to submit a support ticket.

[2018-12-06 01:37] femsulu commented on #19767
@theSARMproject
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-06 01:37] #19767 closed

[2018-12-06 01:44] PramodValavala-MSFT commented on #19899
@banisadr Thanks for that insight!

@schummbo Hope that answers your query. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-06 01:44] #19899 closed

[2018-12-06 01:49] #19333 closed

[2018-12-06 01:55] #6721 closed

[2018-12-06 02:02] SunnyOswal opened #20075 "" Learning path" redirects to 404 Page Not Found"
Repro:
1. Browse to https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-overview and then to "Table Of Content (TOC) "&gt;Resources &gt; Learning path.
2. Click "Learning path" and it redirects to 404 page.

Broken URL: https://azure.microsoft.com/en-us/documentation/learning-paths/service-fabric/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-12-06 02:05] dcbrown16 opened #20076 "Typo"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-backup-recovery#autoamted
The header link at the end should be "automated" - there is a link to that header at the top of the page that doesn't work because the link itself is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-12-06 02:22] mosharafMS opened #20077 "The regions table looks outdated"
Hi, I can create service map and attach it to log analytics workspace in Canada. It's seems the list of regions above is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f8ee3c-f9c2-91c6-1ea0-48754de93979
* Version Independent ID: bca92218-863f-2ec9-82a2-fcf277b75c14
* Content: [Configure Service Map in Azure

[2018-12-06 02:41] dcbrown16 commented on #15227
I guess the first sentence does imply that this doc is about managed disks even though nothing in the ToC suggests that. In any case, the TRIM recommendation specifically applies to unmanaged when it shows up over here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/about-disks-and-vhds#one-last-recommendation-use-trim-with-unmanaged-standard-disks

[2018-12-06 03:35] shaneholder commented on #19866
Good to know that it's there but not sure how easy it is to find that
information.  It would be very easy to also document this in the FAQ to
make it easier to find.

Regards,
Shane Holder

On Tue, Dec 4, 2018 at 9:53 AM Vic <notifications@github.com> wrote:

[2018-12-06 04:12] dcbrown16 commented on #19632
Thanks @ManojReddy-MSFT. Is there a recommended method to preserve logs if the initial replication period was too short? In this case they are actually changing from 365 days to 0 (persistent).
Can they maybe copy the logs to a different container or storage account where the cleanup job would not run?

[2018-12-06 04:30] githubavi opened #20078 "Do we have features like AutoScaling and Load Balancing with HTTPS support"
Hi, Do we have features like AutoScaling and Load Balancing with HTTPS support? I just checked AWS Fargate. They looked similar but I find these features missing in ACI. Let me know if I am missing anything in documentation or there is any future roadmap plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c00e2ca-c96

[2018-12-06 04:37] dcbrown16 commented on #19632
Thanks @ManojReddy-MSFT. I'll let you determine if this information is worth adding to the FAQ in the document or if you just want to close out.

[2018-12-06 04:59] KeiroKamioka0000 opened #20079 "GB? GiB?"
I see the Mixture of 4095GB and 4095GiB in the document.
I know it could be because of different service, may I have answer this please?

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#unmanaged-virtual-machine-disks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892

[2018-12-06 05:14] Juliako commented on #18555
@sruthi4790 ,  we verified the topic, it is correct. A product PM proposed to add this text, I will update the topic accordingly.
-------
1.	The service does not pre-emptively scan input Assets to generate metadata. Input metadata is generated only as an artifact when an input Asset is processed in a Job. Hence this artifact is written to the output Asset.
2.	The service uses different tools to ge

[2018-12-06 05:14] cconrado commented on #20061
@tfitzmac I'm referring to DImensions used in Metric alerts. Basically looking to create the same alert against a list of computers.

[2018-12-06 05:14] Juliako commented on #18555
#please-close

[2018-12-06 05:17] imaculate opened #20080 "Request quota increase programmatically"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-06 05:19] BhargaviAnnadevara-MSFT commented on #20060
@cijothomas Thanks for the bringing this to our attention! We've assigned this issue to the document author so they can update it accordingly.

[2018-12-06 05:30] ToruMakabe opened #20081 "Incorrect indent"
it seems there is an incorrect indent on gpu-deploy-aci.yaml.
"osType:" should be at the same level as "containers:".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87729a5b-eda2-985e-678a-45498839f6b8
* Version Independent ID: 8ce5224f-6b82-73e7-15dd-32a146c6ad53
* Content: [Deploy GPU-enabled Azure container instance

[2018-12-06 05:41] imeya commented on #19756
thank you, I will take a try.

[2018-12-06 06:00] myusrn commented on #19717
k thanks for reference article in the interim.  hoping that old april 28, 2014 post details will apply to current asp.net core 2.1 project environments.

[2018-12-06 06:14] marktab commented on #14270
@YutongTie-MSFT it may be that I could not be added since my MSFT email was not connected -- but it looks connected now.

[2018-12-06 06:17] marktab commented on #14270
@YutongTie-MSFT also to be clear:  I do not see where I either "join" the repo, or "assign" this issue to myself

[2018-12-06 06:17] KeiroKamioka0000 commented on #19491
For similar reason how about size of S50?
If this also should be powers of the two? Isn't this supposed be 4096 GiB?

E50: 4095 GiB

[2018-12-06 06:21] mukulvtilak opened #20082 "Option not found"
Under [Linked service properties section](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-file-storage#linked-service-properties) property `type` is to be set to **`FileServer`**. This option isn't available in Data Factory while creating a new Linked Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-06 06:21] marktab commented on #20066
@CHEEKATLAPRADEEP-MSFT wrong assignee -- please assign to me

[2018-12-06 06:29] CHEEKATLAPRADEEP-MSFT commented on #20066
@marktab I'm unable to find your name under assignee. Could you please try to assign yourself and do let me know.

[2018-12-06 06:43] SnehaGunda commented on #20012
@wahyuen @summerkiss Container and database level throughput provisioning are separate offerings and switching between either of these require migrating data from source to destination. Which means you need to create a new database or a new collection and then migrate data by using bulk executor library or Azure Data Factory. Please see the following FAQ doc for more information:

https://docs.mic

[2018-12-06 06:46] wahyuen commented on #20012
@SnehaGunda thanks....the link answers my question

[2018-12-06 06:46] #20012 closed

[2018-12-06 07:01] n3wt0n commented on #11808
@guibirow thanks, but I think it would be much better to at least add the link to the definitions in this page's sections, so people can directly go to take a look at that.

Also, those pages provide the information for Json but not for Yaml.

[2018-12-06 07:06] SnehaGunda commented on #20023
@wahyuen Thanks for your comments, I have added information about "After the first four containers, each additional container requires a minimum of 100 RU/s" in this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#comparison-of-models. Hope this helps.

The changes should be live sometime tomorrow.

[2018-12-06 07:09] SnehaGunda commented on #20029
@arkiaconsulting if addition to Mike's comments, currently it's not mandatory to specify the partitionkey for graph containers. When you use fixed collections, there is no need to specify a partition key.

However, in future, we will make partition key mandatory, similar to SQL API. Hope this helps.

[2018-12-06 07:10] dcbrown16 opened #20083 "Licensing for restored VMs"
Is there any general guidance regarding the licensing concerns when you use Backup to restore a VM with licensed software, for example SQL Server on VM? Does the copy always become BYOL? What about the OS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88beaa58-adf5-28ef-5510-01ace6923eef
* Version Independent ID: 02b2

[2018-12-06 07:17] marktab commented on #20066
@CHEEKATLAPRADEEP-MSFT I do not see where I am able to self-assign -- and I appear to be part of "MicrosoftDocs"

[2018-12-06 07:37] kobulloc-MSFT commented on #19776
@Jaffacakes82 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-12-06 07:37] #19776 closed

[2018-12-06 07:42] SWarnberg commented on #18051
We're running our web app in a Docker container on Linux. I think someone said that it was the problem. If so, then both the documentation as well as the error message must be updated.

[2018-12-06 07:55] kobulloc-MSFT commented on #18051
@SWarnberg Agreed.  That error message is not as useful as it should be in identifying what the problem is.

[2018-12-06 08:07] KetanChawda-MSFT commented on #20027
@MerrionComputing I can also reproduce the same.  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-06 08:09] sergaz-msft commented on #19854
Hi @trillykins , it is not explicit but Identity registry operations are not charged but are throttled.

![image](https://user-images.githubusercontent.com/22173500/49570121-b3c9ee00-f92d-11e8-8491-50a6985ce01b.png)

As noted:
Identity registry operations are intended for run-time use in device management and provisioning scenarios. Reading or updating a large number of device identities is suppor

[2018-12-06 08:12] sergaz-msft commented on #19854
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-06 08:12] #19854 closed

[2018-12-06 08:22] dirkslab commented on #19776
@kobulloc-MSFT It might help others if the process of adding Application Insights Extension is documented somewhere. I could not find any and that is how I ended up on this thread initially.

[2018-12-06 08:22] usermartin opened #20085 "Missing '='"
In the two querys an '=' is missing.

AzureDiagnostics
| where Category == 'UserDefinedFunction'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6902a553-7743-46f9-038f-66ae2f9a5ca3
* Version Independent ID: 967d256b-a7b8-0033-ba7e-976aa8991345
* Content: [How to debug UDFs in Azure Digital Twins](https://docs.microsof

[2018-12-06 08:33] sumanthkannedari opened #20086 "Azure Virtual Machine Scale Set DR"
Hi,

If I create a Virtual Machine Scale set in East US, it doesn't support Availability zone. In that case, what is the best option for VMSS to backup and restore it if the Data Center is down.

Please suggest the availability options.

Thanks,
Sumanth
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2088898f-dda1-7334-5

[2018-12-06 08:58] AshokPeddakotla-MSFT commented on #20085
@usermartin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2018-12-06 09:03] jakaruna-MSFT commented on #19744
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-12-06 09:03] #19744 closed

[2018-12-06 09:03] KetanChawda-MSFT commented on #20042
@MattAltieri I followed the same steps mentioned in the document and it worked for me. Have you tried the sample with the same git repo that is mentioned in the document or any other git repo ?

[2018-12-06 09:04] jakaruna-MSFT commented on #20028
@amandadebler is there any update?

[2018-12-06 09:07] jakaruna-MSFT commented on #19934
@sozercan  Can we add replica count to the command below this [link ](https://docs.microsoft.com/en-us/azure/aks/integrate-azure#install-wordpress-from-helm-chart-using-azure-database-for-mysql) so that the example wont fail with azure disk.

[2018-12-06 09:10] evialle opened #20088 "ZRS for StorageV1"
ZRS is also available for StorageV1 (missing in the table)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d-95d8-a56823d910a3
* Version Independent ID: 002fb5f5-5e4a-a95a-4564-2c399bcb5e06
* Content: [Azure storage account overview](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-

[2018-12-06 09:11] beerkato opened #20089 "We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-06 09:11] jakaruna-MSFT commented on #20019
@rwike77 Please change the url to pull the json in the [command ](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-quickstart-deploy-container#deploy-the-application) to the new GitHub link.
Under the command we again have one sample for linux and one for windows. We can update those links also to have new urls.

[2018-12-06 09:13] ChiragMishra-MSFT commented on #20082
@mukulvtilak When we create a Linked Service with type __Azure File Storage__ , it becomes of type "FileServer". The code for a sample Linked Service with Azure File Storage as source is :

{
    "name": "FileServerLS",
    "type": "Microsoft.DataFactory/factories/linkedservices",
    "properties": { __"type": "FileServer",__"typeProperties": {
            "host": "dsadas",
            "userId": "

[2018-12-06 09:13] chepeftw opened #20090 "Steps to download a VHD are out of date and possible wrong output"
I'm trying to download a VHD from a disk I created inside Azure. I started looking at the appropriate documentation (https://docs.microsoft.com/en-gb/azure/virtual-machines/linux/download-vhd) and it guide me but when I get to the part of exporting the actual disk to a VHD it says that there will be a link on the top with the name "Export" but there is nothing, but in the left menu under "Disk Exp

[2018-12-06 09:17] stijnbrouwers opened #20091 "Important Note : Backup redundancy options"
Regarding the import note in section "Backup redundancy options" (not being able to change backup redundancy from LRS to GRS):
Is this something that will be changed in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f78e9a1-6b3a-b2ed-9a9b-5ad2cdde7ba1
* Version Independent ID: 556f00fc-bab7-8fe5-77f4-e6258

[2018-12-06 09:32] ChiragMishra-MSFT commented on #19932
@dcbrown16 If you have ExpressRoute set up, I would recommend using it to upload your files to Azure Storage and then using Azure Storage to import data.

To learn about importing data from online sources including Azure Storage, have a look at this :

https://docs.microsoft.com/en-us/azure/machine-learning/studio/import-data-from-online-sources

[2018-12-06 09:36] mukulvtilak commented on #20082
I understand that this is the same internally. My suggestion would be that maybe one can consider adding it in the documentation to avoid ambiguity. Thanks.

[2018-12-06 09:39] ChiragMishra-MSFT commented on #20082
Sure @mukulvtilak, that makes sense. I am assigning it to the content author to check out.

@linda33wj  Can you please have a look at this and do the needful ?

[2018-12-06 09:51] dominicbetts commented on #20070
Hi @JetstreamRoySprowl - thanks for the feedback - I'll add a note to the docs about the message version format.
Can you tell me why you think the `Telemetry` is an object rather than an array - looking at the built-in device models (https://github.com/Azure/device-simulation-dotnet/blob/master/Services/data/devicemodels/) they all appear to be arrays?

[2018-12-06 09:53] andyjcooperuk commented on #19974
Great, thanks @jeevansd

[2018-12-06 09:55] andyjcooperuk commented on #19974
Sorry, any idea of a rough ETA?

[2018-12-06 09:56] DeanGross commented on #19481
Sorry, I missed the responses. I was specifically thinking of the new Teams Admin roles

[2018-12-06 10:00] AkshathaSP commented on #19686
@AjayKumar-MSFT , It is used only on need basis, so we trigger it manually, it is not a scheduled WebJob. What is the recommended way to add retry functionality in code for this case ?  Since there is no retry policy settings available for triggered type unlike in scheduled type.

[2018-12-06 10:09] Stereo89 opened #20093 "VNet Integration preview - Peering support"
Is it possible to associate an App Service to a different VNet of the target VNet (enabling peering between the two VNet to permit communication from the App Service to the resources hosted on the other VNet?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID:

[2018-12-06 10:11] dominicbetts commented on #20070
Hi @JetstreamRoySprowl - ignore my last comment about the `Telemetry` object - the article [Device schema in remote monitoring solution - Azure](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-device-schema) describes the schema specifically for simulated devices, not real devices. I'll adjust the title to make this clearer.

At the moment, the message sc

[2018-12-06 10:14] azureapes commented on #13783
closes#13783

[2018-12-06 10:23] aserowy opened #20094 "Registration of processors should also adress extensions for IServiceCollection."
ApplicationInsightsExtensions can handle registration of processors more clearly and in line with other di bindings.

Kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Independent ID: bbfa099e-3ed6-09ea-fbde-f2a3ed13139a
* Content: [Filtering and preprocessing in

[2018-12-06 10:31] jakaruna-MSFT commented on #20075
@SunnyOswal Thank you very much for reporting it.
I will assign this issue to the author to correct the broken link.

[2018-12-06 10:35] garfbradaz commented on #13054
What was the error? Im getting the following on this:

[code]

[2018-12-06 10:47] jakaruna-MSFT commented on #20076
@dcbrown16 Thanks for reporting it. It should go live in few hours.

[2018-12-06 10:47] SadiqhAhmed-MSFT commented on #20048
@dmcwee, Thanks for the feedback! We have this investigated further by the content author and update the document as appropriate.

[2018-12-06 10:49] jakaruna-MSFT commented on #20081
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-06 10:50] jakaruna-MSFT commented on #20073
Thanks for the question! We are investigating and will update you shortly.

[2018-12-06 10:50] jakaruna-MSFT commented on #20078
Thanks for the question! We are investigating and will update you shortly.

[2018-12-06 10:51] ecfan commented on #19885
Confirmed that update is live: z

https://docs.microsoft.com/azure/logic-apps/connect-virtual-network-vnet-isolated-environment-overview#permissions-for-virtual-network-access

@Grace-MacJones-MSFT: #please-close