[2019-08-14 17:23] abhishek-kumar-mishra commented on #37066
Thanks a lot. Now I have the answer..

Appreciate it.

On Wed, 14 Aug, 2019, 10:14 PM Heidi Steen, <notifications@github.com>
wrote:

[2019-08-14 17:23] FrankHu-MSFT commented on #36432
Hey @stewartadam and @sandeepbhupathi I apologize for that, you should have been able to reopen the git issues.
Let me also engage some more people on this issue to gather more thoughts on how to handle the .default client credential flow scenario.

[2019-08-14 17:24] iainfoulds commented on #36943
Thanks for the suggestion, @stewartadam

We'd already  planned to update/refactor all the Linux domain-join docs, but I've added a backlog item specific to this ask for more information on UID/GID mapping. These updates should be completed next month.

#in-progress

[2019-08-14 17:26] FrankHu-MSFT commented on #36403
Hey @matsimon your feedback is definitely appreciated and we will look into the issue further. This is currently being discussed and we will try to make the docs more clear.

Thanks! Let us know if you have anymore concerns within the scope of this git issue.

[2019-08-14 17:26] Alberto-Vega-MSFT commented on #29053
@pospospos2007 I'm sorry to hear that you are facing this issue. Would you please open a new issue on this document? You can add a link to this issue for reference.

[2019-08-14 17:31] tamram commented on #36954
@marknettle - This feature is in preview, so you need to use a preview module that supports it. See https://docs.microsoft.com/azure/storage/common/storage-initiate-account-failover#powershell for more information.

I'll update the doc in question to note that.

#please-close

[2019-08-14 17:31] #36954 closed

[2019-08-14 17:40] subodh-dharma opened #37102 "Need support in the Golang sdk to query the supported k8s versions"
I have observed in the recent past that AKS discontinues support to some k8s versions and add some more, this is really dynamic and unexpected when it comes to creating AKS clusters with valid version support, especially the recent versions.

Is there a way in Golang and Python SDKs to check for the available versions that are currently supported by AKS and also get a list of allowable upgrade k8s

[2019-08-14 17:41] Mike-Ubezzi-MSFT commented on #36936
@nazneen84 Did this resolve your issue? If not, can you please detail what additional errors you are experiencing. In the meantime, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-14 17:41] #36936 closed

[2019-08-14 17:41] Don-Fuego opened #37103 "Missing Limitations"
Understanding the following would be for admins to know for MFA

5 Devices per users | 2 HW Tokens & 3 Auth Apps - Current limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Independent ID: 44ebe4c6-0e6a-5ce4-554c-d4ed856e09c9
* Content: [Azure Multi-Factor Authenticati

[2019-08-14 17:42] YutongTie-MSFT commented on #37080
@IvoMerchiers
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-14 17:43] #37031 closed

[2019-08-14 17:43] YutongTie-MSFT commented on #36905
@alexmpmenezes Hi Alex, thank you for the response. I am checking internally for any official doc.

[2019-08-14 17:49] SnehaGunda commented on #36846
@artisticcheese The example I have in the doc was taken from the storage account, so they are obfuscated in the storage account as well. As Govind mentioned above, you can use the activity ID and look up the query.

[2019-08-14 17:54] jaszperez commented on #34467
@MikeParker365 Link translation is not supported for Javascript for all options.

[2019-08-14 17:54] artisticcheese commented on #36846
How and where do you look up query based on activity ID?

[2019-08-14 17:55] FrankHu-MSFT commented on #37103
@Don-Fuego Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-14 17:58] porrascarlos802018 opened #37104 "cannot be activated using CLI or Azure Arm templates"
# Azure documentation issue guidance
**documentation doesn't states how to enable audit logs it using automation like cli or arm templates.**

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedb

[2019-08-14 17:59] Adam-Smith-MSFT commented on #37083
@ChrisSommers I assume it is just an example, I'm looping in the content author @roygara , Is Azure Search only compatible with Anonymous access on containers? or is this just an example?

[2019-08-14 18:03] Adam-Smith-MSFT commented on #37081
@bhavya11 Is it possible to provide us with the specific documentation you were referring to ?

Thanks,
Adam

[2019-08-14 18:03] femsulu commented on #36517
Are you referring to Metric or Log Alerts?
For Metric Alert rules, you can wrap the `Add-AlertRule` cmdlet in a PS script: doc reference [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powershell-quickstart-samples#create-metric-alerts)
For Activity log alert rules, you can use `Set-AzActivityLogAlert` in a PS script: doc reference [here](https://docs.microsoft.com/en-us/azure

[2019-08-14 18:03] #36517 closed

[2019-08-14 18:04] tamram commented on #28131
#reassign: @roygara

[2019-08-14 18:06] DixitArora-MSFT commented on #37096
Hi @jn-altius Thank you for your feedback! We will review and update as appropriate.

[2019-08-14 18:06] tamram commented on #30804
#reassign: @tamram

[2019-08-14 18:06] jkochhar commented on #36051
@garrmark The API version for the json config doesn't need to change. What's your SF version?
On SF runtime version >= 6.5, you should be able to add that PLB section in FabricSettings to enable that. If it doesn't work on 6.5 please let us know the error and I can take a look.

[2019-08-14 18:08] femsulu commented on #36583
Agreed.
@jonathaneckman. Please reply if you are still unable to locate the modules in the abovementioned directory.

[2019-08-14 18:08] #36583 closed

[2019-08-14 18:11] b-juche commented on #37089
Looping in Lichun (@lichunli-ms) and Will (@ntap512) to help answering the question.

[2019-08-14 18:19] ntap512 commented on #37089
Hi @MrRitt, IOPS will vary based on block size. The performance guidance for Azure NetApp Files is to, based upon performance requirements, select the correct service level for a capacity pool and create the appropriately sized volume (volume quota) to meet the need.

[2019-08-14 18:21] SnehaGunda commented on #36963
@joshlang Thanks for pointing out the issue, the PR reference above from @Potapy4 has the fix. It should be merged by EOD.

We will now close this issue of there aren't further questions.

#please-close

[2019-08-14 18:21] #36963 closed

[2019-08-14 18:23] ntap512 commented on #37049
@MrRitt  You can find the NFS ports required in the "Mount Instructions" for the Volume properties blade:

![image](https://user-images.githubusercontent.com/43445488/63045738-9c68da80-be96-11e9-8c9b-2987a085ca7c.png)

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-mount-unmount-volumes-for-virtual-machines

[2019-08-14 18:23] #36951 closed

[2019-08-14 18:25] Karishma-Tiwari-MSFT commented on #36900
Thank you for sharing the update.

[2019-08-14 18:26] tamram commented on #28374
#reassign: @roygara

[2019-08-14 18:27] KehindeOwens commented on #19360
This worked like a charm!! Had the exact same issue.

[2019-08-14 18:28] AjayKumar-MSFT commented on #37066
@abhishek-kumar-mishra, We will close this issue out, thanks again for raising this question.
Thank you @HeidiSteen.

[2019-08-14 18:28] #37066 closed

[2019-08-14 18:33] tamram commented on #23046
#reassign: @mhopkins-msft

[2019-08-14 18:37] AMoghrabi commented on #32118
I want to post an update that I've made some progress on this issue. It looks like when the OMS agent is installed and needs to reboot, it tries to use systemctl which doesn't work because systemd isn't installed. I've posted my findings here: https://stackoverflow.com/questions/56294484/azure-hybrid-worker-docker/57500272#57500272

I'll open a ticket on the OMS repo.

[2019-08-14 18:39] kanshiG commented on #36846
Diagnosticlog has the activity id for every request in AzureDiagnostics.  https://docs.microsoft.com/en-us/azure/cosmos-db/logging#interpret

- AzureDiagnostics  | take 5 // after enabling log analytics and waiting for data to flow
- QueryRuntimeStatistics  | take 5 // should show activity id

You can join them too.,...Will post that once I get the time

[2019-08-14 18:42] #36846 closed

[2019-08-14 18:42] YutongTie-MSFT commented on #36938
@lisenkaci Hi, glad to know it helped! So the end point you find is correct. But there are a lot of product under cognitive services so you need to add suffix of the product.
![image](https://user-images.githubusercontent.com/38084098/63047077-87854a80-be88-11e9-8d34-6d0f8c4b7c12.png)
As the document:
![image](https://user-images.githubusercontent.com/38084098/63046950-3c6b3780-be88-11e9-9ee8-cb38

[2019-08-14 18:47] #36611 closed

[2019-08-14 18:48] SnehaGunda commented on #36436
@southpolesteve Thanks for the confirmation, we will close this issue here.

#please-close

[2019-08-14 18:48] #36436 closed

[2019-08-14 18:50] southpolesteve commented on #36850
@SogoGolf. Not a sample, but you can see an example of that in our tests https://github.com/Azure/azure-cosmos-js/blob/master/test/functional/sproc.spec.ts#L65

[2019-08-14 18:50] ToddBowman commented on #37082
This comment just solved a problem I've been hacking away at here and there for weeks!  My AD UPN is in camel case and once I updated my rolebinding to reference my account with the correct case, it immediately worked.  Thanks for taking the time to commend and provide the link, that was super helpful.

[2019-08-14 18:54] Infinitism opened #37106 "Different Service Bus Roles"
Hi,

The in the documentation, it shows that we can add the Service Bus "Owner" role to a Managed Identity. But the graphics show that we can also assign "Sender" or "Receiver" roles as well.

Are we able to assign those roles?

![image](https://user-images.githubusercontent.com/4143264/63047909-35ddbf80-be8a-11e9-8a20-98520189651f.png)

Document hosted here: https://docs.microsoft.com/en-us/azure

[2019-08-14 18:59] piotrzaremba commented on #32118
@georgewallace, @AMoghrabi has made progress with this issue, I don't suggest closing it I know several of my co-workers and other industry professionals would like to dockerizer the agent to allow azure resources e.g. runbooks to handle triggering workloads.

[2019-08-14 19:02] jayhub42 opened #37107 "Looking for documentation on retrieving function Key Name used in HTTP request"
According to issue [926](https://github.com/Azure/azure-functions-host/issues/926) on the azure-functions-host repo it looks like this should be possible, but I have not been able to find documentation or figure it out.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Versio

[2019-08-14 19:04] spelluru commented on #36959
Fixed now.

#please-close

[2019-08-14 19:04] #36959 closed

[2019-08-14 19:04] spelluru commented on #36490
Fixed now.

#please-close

[2019-08-14 19:04] #36490 closed

[2019-08-14 19:07] MicahMcKittrick-MSFT commented on #37102
Thanks for the question! We are investigating and will update you shortly.

[2019-08-14 19:07] AjayKumar-MSFT commented on #37038
@farooqkh, Azure Media Services v3 is available via Azure Resource Manager manifest in global Azure, Azure Government, Azure Germany, Azure China 21Vianet. However, not all Media Services features are available in all the Azure clouds. The document section below outlines in a table the availabilities of main Media Services v3 components, kindly take a look: "[Feature availability in Azure clouds](

[2019-08-14 19:14] #36759 closed

[2019-08-14 19:14] mrbullwinkle commented on #37003
@MicrosoftDocs/azure-cxp-triage can you assign this one to @lgayhardt. She will be taking care of this one for our team.

[2019-08-14 19:15] MicahMcKittrick-MSFT commented on #37102
@subodh-dharma I am not familiar with Golang but looking at the Python SDK I don't see any references for AKS but rather container services.

@sauryadas would you have any insights on this?

[2019-08-14 19:15] femsulu commented on #36798
@qianw211  - any thoughts on this please?

[2019-08-14 19:17] MicahMcKittrick-MSFT commented on #37054
@elisilvajr don't we already cover this type of topic under the disks documentation?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#iops

[2019-08-14 19:17] msmimart commented on #33351
@CHDAFNI-MSFT - thank you for pointing this out. We'll update the article to reference alternate ID.

[2019-08-14 19:18] #33351 closed

[2019-08-14 19:18] MicahMcKittrick-MSFT commented on #37024
@dwj300 since you are an FTE please send an email to the listed author of this doc @cynthn with any improvements you want added to the backlog. That way we can properly prioritize and it is easier to work offline.

[2019-08-14 19:18] #37024 closed

[2019-08-14 19:22] AjayKumar-MSFT commented on #37041
@jasonpnnl, I just tried and the options are available:
![image](https://user-images.githubusercontent.com/44606227/63049373-25fbc500-bef6-11e9-830a-73f9166abb1b.png)

If the issue persists, just to confirm, does this happen only with this WebApp or all the WebApps?
Is this the first time you're seeing this behavior/first time deployment? If you haven’t tried these already -To isolate, sign out an

[2019-08-14 19:24] allanwith commented on #30836
I think it would be beneficial if the answer could be integrated into the main doc itself. I've already seen another website try to explain this, but they had misunderstood what signin frequency does. They thought it meant that you'd always get prompted after said period even if you'd been signed in in the mean time, but actually this seems to work exactly as before with the refresh tokens where i

[2019-08-14 19:28] AjayKumar-MSFT commented on #37046
@gw1108, We have made the requested fix and the document would reflect the changes in the next 24 hours. Thanks again for your valuable feedback!

[2019-08-14 19:31] femsulu commented on #36827
closing this issue as it's been redirected to email.
@yashevi, please circle back with any learnings or tips that could help those in the community in the event they hit this issue?

[2019-08-14 19:31] #36827 closed

[2019-08-14 19:33] msmimart commented on #21660
Thank you for passing this along - I'm reaching out to the product team on this scenario and we're actively tracking it internally. For now I'll close this issue, but we'll update the article as soon as we have clarification. #please-close

[2019-08-14 19:33] #21660 closed

[2019-08-14 19:35] mrbullwinkle commented on #37062
@MisinformedDNA go to **Search** under the **Investigate** header in the Azure portal for App Insights and then in the search box type `ai.snapshot.id`. It should return only exceptions that have associated debug snapshots. From there you can click **Open debug snapshot**.

You should also be able go to **Failures** > **Drill into Operations** > Check the **Snapshots Only** checkbox. (I believe th

[2019-08-14 19:40] femsulu commented on #36831
@mattwojo  - any input on this please?

[2019-08-14 19:40] nomula commented on #37023
Please close the issue. Once we had the debug flag turned ON, we had more info to trouble shoot.
The real reason for the failure was " and -- (SILLY). Need to be careful  when you copy code snippets from MS docs especially if you are a Mac user and using Notes.
Micah thanks for the help !!

[2019-08-14 19:40] #37023 closed

[2019-08-14 19:48] pmcilreavy commented on #37077
@rohitnayakmsft Just want to be clear that the web app *is* in a vnet. It's just that the traffic from the web app to the azure db _always_ arrives via the web apps public ip. I guess there is some techincal reason that the traffic from the vnet'd web app can't present as the private vnet ip when it arrives at the azure db? and hence the limitation? Is this limitation likely to be resolved ?

[2019-08-14 19:49] femsulu commented on #36984
Assigning to doc-owner to review the doc bugs and doc enhancement requests

[2019-08-14 19:52] rohitnayakmsft commented on #37077
AFAIK Web Apps has two deployment models :- ASE abd vnet integrated Web App. ASE is vnet integrated so Vnet Firewall Rules should work & your comment above should be applicable only to "vnet integrated Web App" Is that correct?

[2019-08-14 19:55] MisinformedDNA commented on #37062
Perfect. Thank you.

[2019-08-14 19:55] #37062 closed

[2019-08-14 20:06] jurajgh opened #37111 "org. unit location at the gsuite tenant - possible to configure?"
provisioning works just fine, but I was wondering
a) whether it's possible to configure the OU the users end up in at the gsuite side, and
b) whether it's OK to move the users created on gsuite side from the root OU (where they get created now) to a different OU?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64daae8-

[2019-08-14 20:07] pmcilreavy commented on #37077
@rohitnayakmsft ASE is another way to isolate resources (including Web Apps) in a vnet but from what I can see it is a _heavyweight_ and _costly_ solution. It provides true physical isolation which for my project is overkill.

I'm just trying to understand the value proposition of regular vnets. Perhaps if I didn't have a Web App and my vnet was comprised soley of VMs and Db then it would provide

[2019-08-14 20:07] jasonpnnl commented on #37041
Now I see what the difference is. These options are only available for Windows Web Apps, not for Linux Web Apps. Perhaps that needs to be clarified in the doc.

[2019-08-14 20:08] #36567 closed

[2019-08-14 20:08] jasonpnnl commented on #37040
Now I see what the difference is. These options are only available for Windows Web Apps, not for Linux Web Apps. Perhaps that needs to be clarified in the doc.

[2019-08-14 20:10] tal1dick opened #37112 "Managed Identity support for on-demand HDinsight cluster"
Adding support for managed Identity to initiate the on demand cluster would better fit then using a service principal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e300a6-e85a-3cc9-5d2f-3a77eb61c306
* Version Independent ID: c5c39658-82f0-352e-4322-833962c6afe7
* Content: [Transform data by using Spark in Azure Dat

[2019-08-14 20:13] #36555 closed

[2019-08-14 20:19] Alberto-Vega-MSFT commented on #36389
@rajb865 Do you have the info that kgremban requested?

[2019-08-14 20:22] Infinitism commented on #37055
Also, in the link below, the document lists two additional roles such as "Sender" and "Receiver" but the original document only covers "Owener" role. Are we able to use the two additional ones listed here?

https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-service-bus-data-owner-preview

[2019-08-14 20:24] kilasuit opened #37113 "Incorrect region"
In this section, https://docs.microsoft.com/en-gb/azure/storage/common/storage-redundancy-gzrs#about-the-preview this page incorrectly states `Europe West` as a region this is available, however the actual region should be `West Europe`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41cee0e0-e579-83f7-db1a-c3af6d7d08dc

[2019-08-14 20:28] tamram commented on #37113
@kilasuit - Thanks for pointing this out! We've already discovered the error and are in the process of fixing it. The update should be live in a few hours.

@artemuwka - FYI

#please-close

[2019-08-14 20:28] #37113 closed

[2019-08-14 20:42] roygara commented on #37083
@ChrisSommers @Adam-Smith-MSFT It's just an example, the other settings work as well for Azure Search.

[2019-08-14 20:46] lgayhardt commented on #37003
The PR with the new updates has merged.  #please-close

[2019-08-14 20:46] #37003 closed

[2019-08-14 20:51] mike-urnun-msft commented on #37100
Hi @jasondown - Thank you for your feedback! We will review and get back to you with our findings.

[2019-08-14 21:09] MortenBroerup commented on #36713
Thanks for the clarification, and sorry about the confusion. I didn't realize that "This page" meant _this actual page_, but thought that it was there to provide feedback about _something on this page_.

I have now added it to the "This product" feedback. [LINK](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38377060-bug-password-policy-for-cloud-user-accounts-shoul)

[2019-08-14 21:13] Karishma-Tiwari-MSFT commented on #36614
@Jatinder-Luthra I reached out to product team offline. Can you please check if your vnets, witness or jump box are setup correctly. Db2 pureScale uses 1 vnet for admin, and another for storage and database connectivity.  This configuration uses a jump box to connect to external users (not part of the vnets), and a witness for Db2 pings (seeing if nodes are alive).  Since the error mentions Db2 pi

[2019-08-14 21:22] StingyJack commented on #35081
Which of the issues was fixed?

[2019-08-14 21:23] MicrosoftGuyJFlo commented on #37103
Already mentioned under the actual authentication methods.

https://docs.microsoft.com/azure/active-directory/authentication/concept-authentication-methods#microsoft-authenticator-app
https://docs.microsoft.com/azure/active-directory/authentication/concept-authentication-methods#oath-hardware-tokens-public-preview

"Users may have a combination of up to five OATH hardware tokens or authenticator a

[2019-08-14 21:38] Karishma-Tiwari-MSFT commented on #37104
@porrascarlos802018 Thanks for your feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-08-14 21:44] b-juche commented on #37089
@ntap512 - Thanks, Will, for responding.

#please-close

[2019-08-14 21:44] #37089 closed

[2019-08-14 21:45] b-juche commented on #37049
@ntap512 -- Will, thanks for responding.

#please-close

[2019-08-14 21:45] #37049 closed

[2019-08-14 21:52] TravisCragg-MSFT commented on #27184
@lancezhoward This thread is for tracking an issue in the Linux instructions, and your issue seems to be with Windows.

There is a known issue with connection resets when the certificate has not been prepared properly, or does not contain some specific EKUs. To start, I would [recreate the certificates for your P2S VPN](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-

[2019-08-14 22:04] KranthiPakala-MSFT commented on #37112
@tal1dick On-demand HDInsight feature of Azure Data Factory currently requires a Service Principal Id. This is a limitation of Azure Data Factory and not of HDInsight, which does support cluster creation using managed service identities.

For more details about Azure Services that support managed identities for Azure resources, please refer “[Azure Services that support managed identities for Azur

[2019-08-14 22:05] SnehaGunda commented on #36856
@hhubik I submitted a PR to update the doc. added the UpsertItemAsync method in the object model and the description above the code block. Hope this helps. We will close this issue if there aren't further questions.

[2019-08-14 22:06] KranthiPakala-MSFT commented on #37112
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-08-14 22:06] #37112 closed

[2019-08-14 22:09] hhubik commented on #36856
@SnehaGunda that sounds.  Thanks!

[2019-08-14 22:16] allenwux opened #37114 "typo"
A disabled dimension will now (should be not?) show up in any lists of dimensions for a plan seen by customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a4a35b2-e653-3199-1b07-f3e466ac1cb1
* Version Independent ID: 07da492b-dc77-1dbf-4712-922cb069c0ab
* Content: [Metered billing using the marketplace metering se

[2019-08-14 22:19] paul-lorica opened #37115 "How to get the ILoggerFactory in the configure section?"
Doing this
[code]

throws this exception:

Microsoft.Extensions.DependencyInjection: Unable to resolve service for type 'Microsoft.Azure.WebJobs.Script.IFileLoggingStatusManager' while attempting to activate 'Microsoft.Azure.WebJobs.Script.Diagnostics.HostFileLoggerProvider'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-14 22:20] FrankHu-MSFT commented on #37111
@jurajgh Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-14 22:24] Infinitism opened #37116 "Streams in Service Bus?"
Hi,

The text listed below isn't clear enough on what it is saying. Service Bus is also a queue yeah? What are streams in this context then? And why are nodes competing for streams in a queue? We could use a contextual example here and maybe a diagram too?

"You want your application to process messages as parallel long-running streams (messages are associated with a stream using the SessionId pro

[2019-08-14 22:30] Adam-Smith-MSFT commented on #37083
@ChrisSommers
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-14 22:30] #37083 closed

[2019-08-14 22:30] Karishma-Tiwari-MSFT commented on #36928
@peterpogorski Would you be able to share your insights on this. Thanks :)

[2019-08-14 22:30] Alberto-Vega-MSFT commented on #36677
Thanks @robinsh for your valuable help. Hi @terrymandin , can you confirm that your feedback has been addressed?

[2019-08-14 22:35] Adam-Smith-MSFT commented on #37116
@Infinitism Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-14 22:36] mmacy commented on #26402
Thanks @CelesteDG, yes, this is a high-priority effort we're actively pursuing. We have a several ADO work items tracking much of the work of adding clarity and ensuring accuracy in the B2C documentation for our customers (internal reference: #759742, #784218, #784219, #784552).

@SogoGolf, thanks again for the high-quality and detailed feedback. This effort will be ongoing and have a bit of a lon

[2019-08-14 22:36] #26402 closed

[2019-08-14 22:36] Adam-Smith-MSFT commented on #37106
@Infinitism Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-14 22:43] mmacy commented on #26402
@DiegoRamirez-MSFT can you add the **B2C/subsvc** label to this PR? Would like to track this one in our B2C queries.

[2019-08-14 22:46] Alberto-Vega-MSFT commented on #36766
@krokoko If you do not have access to support plan please follow the instructions on my previous comment

[2019-08-14 22:48] edhans opened #37117 "Time Zone ID page is no longer maintained"
In several time functions, like convertFromUtc() it links to a Time Zone ID page, but at the top of that page, it says it is no longer updated regularly due to product life cycle.

https://docs.microsoft.com/en-us/previous-versions/windows/embedded/gg154758(v=winembedded.80)

but if this is used by Flow, shouldn't it be current and not out of support?

---
#### Document Details

⚠ *Do not edit thi

[2019-08-14 22:50] Alberto-Vega-MSFT commented on #36836
Hi @terrymandin just touching base to see if you resolved your issue. I don't think you opened an issue with your questions on the sdk repo.

[2019-08-14 22:50] anzaman commented on #36545
@SychevIgor, that is not currently supported

[2019-08-14 23:01] Karishma-Tiwari-MSFT commented on #36947
@palma21 would you be able to share your insights on the customer's question. Thanks :)

[2019-08-14 23:04] Karishma-Tiwari-MSFT commented on #37082
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-14 23:05] Karishma-Tiwari-MSFT commented on #34620
@havronl We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-14 23:05] #34620 closed

[2019-08-14 23:07] oi-eddyoj commented on #36927
@Adam-Smith-MSFT  I have had to go down the route of creating containers, which has taken me 3 days to learn so far. Docker is a monumental waste of time for small business functions to develop applications with, but it makes sense for much bigger organizations.

The functionality of being able to run custom commands in a linux appservice is so critical in keeping app development cheap. It is very

[2019-08-14 23:08] Karishma-Tiwari-MSFT commented on #35670
@ChristianMontoya Just checking in to see if you heard back from the team on this. Appreciate your help :)

[2019-08-14 23:13] TylerMSFT commented on #14909
Updated. Will be publicly visible tomorrow.
#please-close

[2019-08-14 23:13] #14909 closed

[2019-08-14 23:23] dancs85 commented on #36533
That is how I'm working around it for now, by changing any references (dependencies or artifact outputs) to the filename.
It just makes building Blueprints feel very unmodular.

[2019-08-14 23:27] denhsu opened #37119 "Question: Any Best Practice for Tagging?"
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e4408-f5af-9e55-ca11-fa008f221d08
* Version Independent ID: 7b9d3957-a37e-af60-6136-994fa6ea60a4
* Content: [Best practices in Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-best-practices#feedback)
* Conte

[2019-08-14 23:29] MicahMcKittrick-MSFT commented on #37114
@allenwux fixed :)

Once the PR merges the changes will go live after a few hours.

[2019-08-14 23:29] #37114 closed

[2019-08-14 23:32] MicahMcKittrick-MSFT commented on #37119
@denhsu we do have some best practices around tagging.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags

We also provide a list of what resources in Azure are supported by tags and what are not

https://docs.microsoft.com/en-us/azure/azure-resource-manager/tag-support

If that is not what you are looking for please elaborate and I will do my best to help :)

[2019-08-14 23:41] Gunni commented on #33342
I'm having the same issue, identical to the above stated problem, was a solution found?

[2019-08-14 23:42] yangyadi1993 commented on #36609
Yes that is me asking that question in stackoverflow. Basically I am referring to this document and thought maybe it is possible to use MSI in local storage.
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities
But it seems that I can not. Thank you very much!

[2019-08-14 23:48] TylerMSFT commented on #29574
This is in the doc already as step #4. This issue is older so perhaps it was added since this was opened.
#please-close

[2019-08-14 23:48] #29574 closed

[2019-08-14 23:57] dcbrown16 opened #37120 "Disks and sizes"
I believe that none of the nodes come with data disks, other than the specifically noted Kafka workers. For the sake of clarity, can a note or other wording be added to indicate this?
Also, are these nodes created with 127 GB OS disks as normal, or perhaps the 30 GB smalldisk or other images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-08-15 00:00] georgedavid29 commented on #33342
this turned out to be our proxy ssl intercepting the traffic. our security team created exceptions for the URLs this tab references and it works now.

[2019-08-15 00:01] jeevansd commented on #37111
@chetansriv for visibility.

[2019-08-15 00:07] SogoGolf commented on #26402
just as a related aside; please also connect with Amanda Chew @amchew. i spoke with her a week or so ago and the AppCenter team are working on a **_great_** new feature to simplify Auth setup/flows (which are backed by Azure AD B2C, or, allow devs to use other 3rd party auth via AppCenter)

[2019-08-15 00:08] codyborn commented on #34985
Hi @Satya519364, I thought more about this and realized it might be a gas estimation issue in the latest version of Truffle. Can you try doubling the gas limit and see if that resolves the issue?

[code]

[2019-08-15 00:15] SogoGolf commented on #36850
so simple! many thanks. definitely pop that one into the docs I'm sure folks will be looking for it

[2019-08-15 00:20] rizwaans opened #37121 "Logic app Exponential Retry on HTTP requests"
Hi,

I'm trying to use an exponential retry policy on the HTTP request just in case there is any issue with endpoint.

However, I'm confused on how to use the intervals.

Case 1: If I specify the minimum and max intervals and the Interval itself. How does the retry work (documentation isn't clear for me) a more elaborated documentation could've helped.

Case 2: What if I just input Interval and le

[2019-08-15 00:27] TylerMSFT commented on #26041
I have moved the steps to register the app up before you start writing code that requires the values.
Thank you for the feedback.
#please-close

[2019-08-15 00:27] #26041 closed

[2019-08-15 00:37] mikebudzynski commented on #37064
@KetanChawda-MSFT Yes, API Management does not handle the `security` definition of OpenAPI document in any way.

In future, please open an Azure support ticket or post your question on Stack Overflow: http://aka.ms/apimso

#please-close

[2019-08-15 00:37] #37064 closed

[2019-08-15 00:38] KranthiPakala-MSFT commented on #36898
@mattonmicrosoft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @ChiragMishra-MSFT in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2019-08-15 00:38] #36898 closed

[2019-08-15 00:39] roygara commented on #28131
@gacurtin Sorry for the delayed response, thank you for taking the time to reach out. We've updated the parameter to the correct syntax.

#please-close

[2019-08-15 00:39] jjwu724 opened #37123 "Wrong resource group name causes errors"
At the beginning, the name of the resource group that is created is called "myResourceGroupSecureWeb".
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server#create-an-azure-key-vault

But down in the section on preparing a certificate, in the code that you can copy and paste, it uses "myResourceGroup" instead.
https://docs.microsoft.com/en-us/azure/virtual-machin

[2019-08-15 00:39] #28131 closed

[2019-08-15 00:41] mikebudzynski commented on #37006
@rverschuur Thank you for raising this Issue; we're aware of the current limitation. At this moment, you can't modify administrator templates. I took a note of your requirement and we will keep it in mind once we get down to the feature implementation work.

#please-close

[2019-08-15 00:41] #37006 closed

[2019-08-15 01:02] KetanChawda-MSFT commented on #36779
@milope We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-15 01:02] #36779 closed

[2019-08-15 01:15] Alberto-Vega-MSFT commented on #36983
@gw111zz I believe you are talking about the second line in this code:
`        printf("ERROR: IoTHubModuleClient_LL_SetInputMessageCallback(\"input1\")..........FAILED!\r\n");
        ret = __FAILURE__;`

[2019-08-15 01:28] v-wafr commented on #36113
this article is unable help us create S2S VPN with Azure VNG.....

[2019-08-15 01:40] PatricioVidal commented on #36611
Yes, I am developing Windows modules.

From: Kelly Gremban <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, August 13, 2019 at 6:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: yo <PatricioVidal@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing Windows 10 with 1809 update or

[2019-08-15 01:48] KetanChawda-MSFT commented on #36944
@ReshmaNeelam I tried the exact same steps at my side and it worked perfectly for me.

Make sure you have all the prerequisite installed as mentioned in the [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven#prerequisites).

Try updating Azure Functions Core Tools and Azure CLI to the latest version.

[2019-08-15 01:58] KetanChawda-MSFT commented on #37055
@Infinitism Yes, you can use the other two as well listed as [Azure Service Bus Data Sender](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-service-bus-data-sender-preview) and [Azure Service Bus Data Receiver](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-service-bus-data-receiver-preview).

@axisc / @spelluru can you

[2019-08-15 02:01] avi2183 opened #37125 "Guide for copy incremental data from azure sql database to azure data warehouse directly"
Hi,

Is there any guide which can suggest **how to copy incremental data from azure sql database to azure data warehouse directly** thru data factory?

Currently There are guides which suggest to take incremental load by Change Data Capture to Azure Blob Storage. But not directly to Data Warehouse.

Please suggest.

[2019-08-15 02:08] KetanChawda-MSFT commented on #37117
@edhans Thanks for the feedback! I have assigned the issue to the content author @ecfan  to evaluate and update as appropriate.

[2019-08-15 02:09] Crysitna opened #37126 "altas.min.cs and altas.min.js cannot be fonud"
proposed label: `azure-maps/svc`

the altas files:
`https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css` and
`https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js`
cannot be loaded in azure-map as [instruction](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-map-control) and [examples](https://azuremapscodesamples.azurewebsites.net/index.html)

the is

[2019-08-15 02:15] KetanChawda-MSFT commented on #37121
@rizwaans Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- [MSDN](https://so

[2019-08-15 02:17] KetanChawda-MSFT commented on #37115
@paul-lorica Thank you for your question! We will review and provide an update as appropriate.

[2019-08-15 02:18] KetanChawda-MSFT commented on #37107
@jayhub42 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-15 02:21] rizwaans commented on #37121
@KetanChawda-MSFT https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-exception-handling

[2019-08-15 02:53] Alberto-Vega-MSFT commented on #36766
Since support will be helping you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-15 02:53] #36766 closed

[2019-08-15 02:54] mjcarrabine opened #37127 "Unable to Install SqlIaasAgent on Windows Server 2019 with SQL Server 2017"
**How do I resolve the issue described below or what steps should I be taking to install the SqlIaasAgent extension on Windows Server 2019 with Sql Server 2017?**

I have a virtual machine using the Microsoft Windows Server 2019 Datacenter image on which I have installed SQL Server 2017 (using the SQLServerDSC SqlSetup resource).

When I try to deploy the SqlIaasExtension using an ARM template, th

[2019-08-15 02:55] Alberto-Vega-MSFT commented on #36637
Closing this issue here since we moved it to the Samples repository

[2019-08-15 02:55] #36637 closed

[2019-08-15 03:38] timsander1 commented on #36862
Hi @hhubik . We are currently working on doc updates which will include additional sections on functions syntax that is specific to each aggregation function. The function COUNT() requires a scalar expression within the parentheses so * will not work.

[2019-08-15 03:54] ecfan commented on #37117
@edhans, thanks for your question. The functions reference page for the Workflow Definition Language is up-to-date, but the link to the time zone page is only for more information about time zones and isn't specific to Microsoft Flow or Azure Logic Apps. I can try to find a more recent page that provides time zone name information, perhaps this page:

https://docs.microsoft.com/windows-hardware/ma

[2019-08-15 04:16] ghclo opened #37129 "Deploy WAR file with PowerShell doesn't work"
The instruction 'Deploy WAR file with PowerShell' doesn't work with Azure App Service for Linux. After executed, and confirm to deploy to content a WAR file to web app, and then return some site information.
But nothing is deployed to the web app, no war, no app content. No error returned from the PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-15 04:17] CastleArg opened #37130 "Specify name of output blob"
I'd rather not use rand-guid or date but rather specify the blob filename in the code as part of the output binding.
Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage binding

[2019-08-15 04:39] CastleArg commented on #37130
I see imperative bindings exist but only for using .net;  I'm using javascript.
I can't even use the latest version of blob storage sdk as it requires a storage account name and key (not connection string) which does not work locally with   "AzureWebJobsStorage": "UseDevelopmentStorage=true" setting.
This means there is no longer any way to save a blob with a specific name, which you'd think would

[2019-08-15 04:46] jlee-vi opened #37131 "Can you confirm this works from an Azure VM without Service Endpoints?"
Hi Team,

Can you please advise on the below scenario. In many tests I find this does not work. If it does not, this should be documented as a known limitation and/or with suggested workarounds:

&gt; VM in Azure Subscription 1 (vm1)
&gt; Storage Account in Azure Subscription 2 (store1)
&gt; Storage Account firewall enabled for store1
&gt; Public IP of vm1 added to allowed list on store1 firewall

[2019-08-15 04:53] maryfromcolorado commented on #33576
Set the correlationId in userProperties when you send the message..then the receiver can pick up and use.

[2019-08-15 05:06] georgewallace commented on #31171
The doc is being updated with the definition for off, once the changes have been merged this issue will automatically close.  If you have any other issues please don't hesitate to reach out.

[2019-08-15 05:06] georgewallace commented on #32232
That note is from a legacy image and should not be there. I have removed it. Once the changes have been merged this issue will automatically close.  If you have any other issues please don't hesitate to reach out.

[2019-08-15 05:17] #32232 closed

[2019-08-15 05:31] georgewallace commented on #34667
@MicrosoftDocs/azure-cxp-triage Can you please re-open this issue, it was accidentally closed by me.

[2019-08-15 05:31] georgewallace commented on #31171
#please-close

[2019-08-15 05:31] #31171 closed

[2019-08-15 05:42] ashuthinks opened #37133 "Where azure ad oauth token saved?"
when we generate oauth token we use it till for expired time
When we do not save it expplicitly into cache or in sql where it is saved?
if at client side in cookies what if cookies off?

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure d

[2019-08-15 05:51] georgewallace commented on #27914
@alex-zyl I see that the documentation update was already made to the document with Vitaliy's pull request.  Wanted to confirm that this resolved your issue.

[2019-08-15 05:53] KranthiPakala-MSFT commented on #37120
@dcbrown16 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-15 05:58] manishsat commented on #27383
There is another thing I noticed, the Authentication/Authorization link is 'greyed' out on Azure Function with Linux Consumption Plan. And it says it is not supported than how we are suppose to authenticate?

[2019-08-15 06:00] georgewallace commented on #30970
@miaojiang Were you able to get the example you referenced above added to the document?  Happy to add it if you can tell me which section it should go in.

[2019-08-15 06:01] tom-ditlev commented on #36889
@yashesvi I am very well aware of the difference between the VM-family and the InstanceSizeFlexibilityGroup . It is actually why a had an issue. I have the VM-family in the cost data which i get from the MicrosoftAzureConsumptionInsights. However I was missing a source for the InstanceSizeFlexibilityGroup.

However I am not aware of the existence of a CSV. Can you please help with direction on how

[2019-08-15 06:05] amanarneja commented on #34667
@georgewallace - Done :)

[2019-08-15 06:10] #36889 closed

[2019-08-15 06:14] imeya commented on #34384
@cijothomas , hi Thomas, for the default sampling behavior in  ASP.NET Core SDK, I see you answered it with a ApplicationInsights.Config which is for asp.net, but for .net core sdk, the default ExcludedType is Event, right?

[2019-08-15 06:18] KranthiPakala-MSFT commented on #37090
@JSeb225 Could you please have a look at the comment from @stijn192. The image under [Sliding window](https://docs.microsoft.com/azure/stream-analytics/stream-analytics-window-functions#sliding-window) section needs an update on the x-axis (form minute to secs). Thanks!

[2019-08-15 06:19] KranthiPakala-MSFT commented on #37120
Hi @hrasheed-msft, Could you please have a look at the feedback from @dcbrown16? - Thanks!

[2019-08-15 06:27] Pancat007 commented on #36380
@BryanTrach-MSFT
Thank you for your support, I think it's probably becaused I haven't started the **docker container service** before adding
`RUN ${source:-obj/Docker/publish/InstallFont.ps1}`

I re-do the whole process, and when i inserted the code, it automatically began to download some components. After a few moments, it was successfully built, and i got the success page as the end of the tuto

[2019-08-15 06:33] MarileeTurscak-MSFT commented on #37025
Hi @dangershin

Thanks for the feedback! The best place to put this type of product feedback is in User Voice - https://feedback.azure.com/forums/169401-azure-active-directory

I'll also create a work item for this. @barclayn - can you confirm if a work item exists on your end?

[2019-08-15 06:40] brigiyu opened #37134 "module not found error shown after submitted experiment"
it is a great resource. however, i continuously meet module not found issue while doing experiments. Jupyter notebook works well until I submit experiment (train.py). there were few modules not found even i installed the package. for example, librosa.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-31

[2019-08-15 06:46] yashesvi commented on #36889
CSV is here: https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv

From: tom-ditlev <notifications@github.com>
Sent: Wednesday, August 14, 2019 11:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yashesvi Sharma <yashar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Please provide a way to also get the VM-famliy (#36889)

[2019-08-15 07:02] dcbrown16 opened #37135 "Add validity period"
App Service Certs are valid for one year in my understanding. Please confirm and add this to the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Content: [Buy and configure an SSL certificate from Azure - App Servi

[2019-08-15 07:07] rverschuur commented on #37006
Thank you!

[2019-08-15 07:10] lkoppenol commented on #36645
Your attention makes me feel special! thanks

[2019-08-15 07:21] #36016 closed

[2019-08-15 07:33] mike-urnun-msft commented on #36678
@opticyclic - Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-15 07:33] #36678 closed

[2019-08-15 07:44] SychevIgor commented on #36545
@anzaman it will be nice to add your summary to an article, because some pre-sale people based on the name and definition of Azure Key Vault - including it as a Enterprise CA. Some notes or answer in F&Q will be great to address such mistakes.

[2019-08-15 07:52] karmalicious opened #37136 "Create a Cost and Usage report in AWS Step 5"
5. For Additional report details ,to include the IDs of each resource in the report and select Include Resource IDs.

This checkbox is required otherwise you will be hit with a "ReportIsNotValid". I think the wording makes you think this is optional while it in fact is not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-08-15 07:52] JasperCodes commented on #36647
Thanks JnHs for the information. This is exactly the information I was looking for.

A link/reference to this information somewhere in the Lighthouse documentation could be helpful for other people with the same question.

[2019-08-15 07:52] #36647 closed

[2019-08-15 07:55] seanbetts commented on #34913
Hi @diberry thanks for checking in on this. The service team are working on a fix that they plan to deploy by the end of the month.

[2019-08-15 08:02] hwuu commented on #28881
Hi @YutongTie-MSFT , I encountered the same error today -- I specifyied the `sas_token` when registering a datastore but got the error 'Unable to mount data store because it does not specify a storage account key'. The SDK doc of [Datastore.register_azure_blob_container function](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.datastore(class)?view=azure-ml-py#register-azure-

[2019-08-15 08:20] rajb865 commented on #36389
Hi,

Size of VM is Standard B2s (2 vcpus, 4 GiB memory)

[2019-08-15 08:45] AlekseySokol opened #37139 "Multiple Forest with same routable UPN suffix"
Hello
We have Forest A and Forest B, between them two way trust. also we use signle ADFS server for both servers
In Forest we have added routable UPN suffix domainxyz.com. My question is it possible to add same domainxyz.com routable UPN suffix to Forest B.
I think not because an authentication flow but where I could find some deep explanation of that.
Thank you!

---
#### Document Details

⚠ *Do

[2019-08-15 08:47] AdamSharif-MSFT commented on #37082
Hey Todd, you're most welcome - I'm glad to hear that this helped you to solve your problem :-)

[2019-08-15 08:53] mani0070 opened #37140 "aks version invalid"
The aksversion referenced in this doc is not valid anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e08-7d75-21eb-9510-22e2cd56d16b
* Content: [Use multiple node pools in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks

[2019-08-15 08:59] amynic opened #37141 "No instructions for the new [resource name].cognitiveservices.azure.com endpoint"
need to add instructions for the new endpoint options when you create a specific cognitive service - such as computer vision. These instructions only reflect the [datacdenter].api.cognitive.microsoft.com format

const uribase could be two things
'https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/analyze';
OR
'https://[resoucename].cognitiveservices.azure.com/vision/v2.0/analyze'

---
#

[2019-08-15 08:59] garrylean opened #37142 "Missing MICROSOFT.AUTHORIZATION/POLICIES and Microsoft.Security/tasks/write"
Hi there,
I expected to get the complete list of operation names using the command Get-AzProviderOperation | Select-Object -Property Operation, OperationName | Format-Table, but in my activity log I found "MICROSOFT.AUTHORIZATION/POLICIES/AUDIT/ACTION" and "Microsoft.Security/tasks/write" that are not listed neither at this page nor in the command results. So the question, is it possible to get th

[2019-08-15 09:22] itguysocal opened #37143 ""Include Unknown Areas" is now missing"
The documentation states there should be a setting called "Include Unknown Areas" but that checkbox is no longer appearing when creating a new named location. I checked two separate tenants and this checkbox is missing in both tenants. The setting was there last week. This setting was previously used to block IPv6. Should we assume that IPv6 now bypasses our conditional access policies? What expos

[2019-08-15 09:35] #37143 closed

[2019-08-15 09:41] joaopgrassi commented on #36650
@RyanHill-MSFT thanks for clarifying. I typed my question but deleted it right after. I decided to just try it myself and then your answer made more sense.

[2019-08-15 09:48] alex-zyl commented on #27914
@georgewallace
Yes, thank you. Closing the issue.

[2019-08-15 09:48] #27914 closed

[2019-08-15 09:54] KrishnaG-MSFT commented on #37136
@karmalicious Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-15 09:55] litvinolek commented on #36798
Hi!
Thanks for the help. I found the answer via tests.

[2019-08-15 09:55] #36798 closed

[2019-08-15 10:32] breno601 commented on #36854
Hi Daniel,

no worries, I'm glad you're helping :)

By deploying I mean deploying the pipelines of my Data Factory application. Like, let's say I modified code for a Custom Activity. Then pushed it. After merging to specific branch, I would trigger azure pipelines for deploying it to "production". But since I have those custom activities class files that must be sent to AzureBlobStorage, it makes

[2019-08-15 10:44] craigshoemaker commented on #14560
This verbiage was removed from the article.

#please-close

[2019-08-15 10:44] #14560 closed

[2019-08-15 10:50] craigshoemaker commented on #17536
The article now shows how to do the same non-ID query as shown in the recipe article.

#please-close

[2019-08-15 10:50] #17536 closed

[2019-08-15 10:59] craigshoemaker commented on #23196
In regard to [asavaritayal](https://github.com/MicrosoftDocs/azure-docs/issues/23196#issuecomment-475005692)'s comment regarding bindings not being fully supported yet for Python I am going to #please-close this issue.

[2019-08-15 10:59] #23196 closed

[2019-08-15 11:00] AndyDring opened #37144 "AD Connect Database coexistence"
The page states that "You can only have one sync engine per SQL instance. It is not supported to share a SQL instance with FIM/MIM Sync, DirSync, or Azure AD Sync". But as of 1.3.20.0 ( https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#13200 ) the DB name can be changed. Can you confirm if multiple sync databases with different names on the same SQL i

[2019-08-15 11:05] umeshbarapatre commented on #31345
@rwike77 - Thanks a ton for helping me out to publish this article !

[2019-08-15 11:06] umeshbarapatre commented on #31345
I am closing this issue. Please let me know if there is anything else to be done from my side.

[2019-08-15 11:06] #31345 closed

[2019-08-15 11:28] adubnik commented on #36930
I came across this issue and tend to agree, documentation is not clear on the NSG setup

**Below part is explicitly mentioned**
Inbound GatewayManager Tag --> Bastion Subnet

Outbound Bastion Subnet --> AzureCloud Tag

**Following is not mentioned as a must have** which it should as Bastion public IP is the one which gets accessed by the browser client in a popup window...

Inbound Internet Tag --

[2019-08-15 11:31] msrini-MSFT commented on #36930
@cherylmc , can you please take a look and update the doc?

[2019-08-15 11:52] ivangotti opened #37145 "Role for Identity Governance"
Hello,
What AzureAD roles should be assigned to assure the least privilege for an Identity Governance administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Content: [Identity Governance - Azure Active Directory

[2019-08-15 12:00] nigelmeakinspbi commented on #37052
@AjayKumar-MSFT Thanks for the reply. I am indeed experiencing this behaviour after completing setup. I've checked with the Kudo tcpping tool on the DNS name, port and it was found fine. That was the only troubleshooting advice given.

[2019-08-15 12:43] diberry commented on #34913
@seanbetts Awesome. Thank you for reporting back. I'll ask for this issue to be closed. Feel free to reopen is the planned solution and current communication with team becomes an issue. #please-close

[2019-08-15 12:43] #34913 closed

[2019-08-15 13:08] sarah026 commented on #28461
Mine is working fine now between AppService and SQL elasticpool. I suggest you raise a ticket with them. The issue with mine was datacentre level issue, they needed to whitelist something for it to work. Not something we've done wrong, and so I wouldn't suggest you waste as much time as I wasted trying to figure this out.
It is West Eu region as well! Why did it work for hansmbakker and not for us

[2019-08-15 13:20] Deepudev13 opened #37147 "Module URI"
What is module URI here in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f895a4a7-ab8c-b63e-58b9-b5ecaebd7bc9
* Version Independent ID: 90dcb4e2-b017-93a5-15af-20e355ccefb4
* Content: [Manage Modules in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules)
* Conten

[2019-08-15 13:28] thedavegray opened #37149 "incomplete"
You jump from creating a SendGridMessage in C# to a huge assumption that the app is already created in azure and that the keys can be added to something that does not exist yet.  Do you ever follow these examples thru and think, there's a bit missing here...

You go from "The following example demonstrates how to create a fully populated email object:"
to
"You may store these credentials via your

[2019-08-15 13:37] mstair opened #37151 "Incorrect Set-AzDiagnosticSetting Param"
Categories should be Category

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5290e95-f047-a103-44b4-ade1cc258f5f
* Version Independent ID: fa834b2b-11cb-206a-1d77-1fa32b2ad9ae
* Content: [Restrict web traffic with a web application firewall - Azure PowerShell](https://docs.microsoft.com/en-us/azure/application-gateway

[2019-08-15 13:39] mstair commented on #35987
I had to reference Subnets[0] in the ipConfig section to get the backendSubnetConfig vs agsubnet
$ipConfig = New-AzVmssIpConfig `
  -Name myVmssIPConfig `
  -SubnetId $vnet.Subnets[1].Id `
  -ApplicationGatewayBackendAddressPoolsId $backendPool.Id

[2019-08-15 13:47] garrmark commented on #36051
@jkochhar the error is  "Config validation: Section 'PlacementAndLoadBalancing' and Parameter 'EnforceUserServiceMetricCapacities' is not allowed"

[2019-08-15 13:59] NavtejSaini-MSFT commented on #37075
@j0h Please let us know if there is anything else we can help you with or we will go ahead and close this thread.

[2019-08-15 14:02] Alberto-Vega-MSFT commented on #36878
Closing this issue since we haven't heard back from you. Please post your question on the developer forums if you haven't. There is a developer community that can help answer your questions https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureiothub

[2019-08-15 14:02] #36878 closed

[2019-08-15 14:10] ositobio opened #37152 "Error in the command, not supported"
The command to reset classic VPNs is not valid anymore, when using it in Cloud Shell says that is not valid.
Reset-AzureVNetGateway –VnetName “ContosoVNet”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d654281-21aa-79ca-592d-d8cfe0bf1816
* Version Independent ID: 5fdec85a-a9d9-0b59-c65e-fecf0d2eee2a
* Content: [Reset

[2019-08-15 14:18] amang2205 opened #37153 "Missing instructions for the Chromium-based Edge Insider"
Considering the Chromium-based version is Edge vNext and that with this project Edge truly becomes cross-platform, having instructions for Edge Insider Preview is not just welcome, but something I'd expect to exist by now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Ind

[2019-08-15 14:41] j0h commented on #37075
Thanks for the response @NavtejSaini-MSFT. I did read somewhere that the above query is what you are expected to run when you want to find out extension versions, however, this means that I would at all times need to go through the process of setting up an instance to find this information out. In this instance, if I had done that, it would have been time wasted as version 1.1.1 of the TimescaleDB

[2019-08-15 14:47] andradf opened #37154 "Are containerized Service Fabric Services this supported on local development clusters?"
I am testing this out on my local  development cluster (Local.1Node). It is running on W10 Pro with Docker Desktop. Cluster Code version 6.5.641.9590. Containerized guest executables work fine, but when my service attempts to invoke RegisterServiceAsync I get the following exception

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-08-15 14:58] Alberto-Vega-MSFT commented on #36500
@Shreyasnie do you have a support ticket number so I can reach out internally?

[2019-08-15 14:59] Alberto-Vega-MSFT commented on #36836
Since we haven't heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-15 14:59] #36836 closed

[2019-08-15 15:01] Alberto-Vega-MSFT commented on #36838
@ksaye Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. She is reviewing this document as you can see in the referenced issue.

[2019-08-15 15:02] Shreyasnie commented on #36500
119080823002303 is the ticket number

[2019-08-15 15:06] Alberto-Vega-MSFT commented on #36868
@veyalla This would be a good note addition for this document.

[2019-08-15 15:11] KrishnaG-MSFT commented on #37147
@Deepudev13 It's the URL to a module zip package.

[2019-08-15 15:14] pvvdurgaprasad commented on #35753
I have verified option 1 recently, it should work.
You will need to copy outbound IP addresses from Function app properties and whitelist all of them in Storage account firewall.
Were you able to do the same.

[2019-08-15 15:18] Alberto-Vega-MSFT commented on #36500
@Shreyasnie the support engineer that is helping you is currently offline but I see that he sent you an email with a question with date 8/14 would you please continue the conversation there?

[2019-08-15 15:18] KrishnaG-MSFT commented on #37089
@b-juche & @ntap512 Thanks for the quick response on this issue. 👍

[2019-08-15 15:22] KrishnaG-MSFT commented on #37136
Assigning @bandersmsft for visibility and document enhancement considerations.

[2019-08-15 15:23] csnance commented on #33166
This probably isn't the place for this, so please let me know if there is a right place, but in addition to linkerd and Istio it would be awesome if Consul got added to the list of service meshes. I was able to get it working with the no-proxy label in the near term.

[2019-08-15 15:32] Shreyasnie commented on #36500
Sure I will look in to it.

[2019-08-15 15:34] leniel opened #37156 "Explain better how to integrate with custom B2C Sign In policy"
Right now in this part of the doc: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-user-migration#step-43-add-a-technical-profile-and-technical-profile-validation-to-your-policy things are poorly explained.

Can you please explain this part better?

How can I call this technical profile from my custom B2C SignIn policy?

Where is this technical profile `LocalAccoun

[2019-08-15 15:36] zsybupt commented on #22714
I see that Standard tier is A-Series compute equivalent, I use a S3 service plan and do some loadtest (some cpu work) with it, the performance is not good comparing to a B2ms VM. The document of VM indicates that A-series is suitable for dev/test, Standard app service is design for production but A-Series compute equivalent.

[2019-08-15 15:37] amang2205 opened #37157 "Device registration prerequisites"
I strongly believe that it would be helpful if you'd specify if it is enough that the device only has to be registered in Azure AD and that joining (either Hybrid join or Azure AD join) is not necessary (if that is even the case; otherwise, please explain which is the case).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-08-15 15:37] ehrnst opened #37158 "Azure lighthouse"
With azure lighthouse announced. I believe this document could be updated? Activity logs can be connected directly as a datasource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b70bc73-e0ce-a558-bf66-c02577859f3e
* Version Independent ID: 1d80eb59-7698-8faa-e514-cac47eca799b
* Content: [Collect Azure Activity logs in

[2019-08-15 15:43] doodlemania2 commented on #37057
Here you go!:
![image](https://user-images.githubusercontent.com/5252217/63106898-781a0600-bf49-11e9-9db0-ade098e022fc.png)

[2019-08-15 15:43] Alberto-Vega-MSFT commented on #36500
Closing the issue here.

[2019-08-15 15:43] #36500 closed

[2019-08-15 15:46] ChristianMontoya commented on #35670
@Karishma-Tiwari-MSFT , @StephanElst : Thanks for the patience here. We're still investigating this, as we don't fully understand the ramifications of just deleting the certificate.

@StephanElst : Did anything else change after deleting the certificate? Also, how is the device joined to a domain: standard domain join or Azure AD Joined?

[2019-08-15 15:48] bowlerma commented on #28461
Will do, thanks for the advice @sarah026

[2019-08-15 15:51] orspod commented on #25007
@arsenvlad , a sample with dynamic routing was added as a [link in the note in the Event Hub ingestion doc](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-event-hub#connect-to-the-event-hub).
LMK if you need more info. Thanks, Ornat

[2019-08-15 15:52] ecfan commented on #37117
@edhans, I've replaced the link with a more recent page about time zone names. Should go live today, thanks!

@KetanChawda-MSFT, #please-close

[2019-08-15 15:52] #37117 closed

[2019-08-15 15:54] msmimart commented on #36139
I checked this out with the licensing team, who confirmed: Whether you need to buy additional licenses or not depends on what Azure AD features you want to use. If licensed users only use features that are already included in Azure AD Free *and* B2B external users don’t need additional premium features, you don’t need to buy additional licenses.

In the case of Office 365 subscriptions, again you

[2019-08-15 15:56] Robotbae opened #37159 "QnAMaker Sharepoint Page URL ending aspx as knowledge base URL"
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported

Reading off this document, don't know if its possible to add a sharepoint page or list, whatever URL that ends in aspx as a KB url link? So far its only worked in uploading document URLs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-08-15 15:57] craigktreasure commented on #32529
@Alberto-Vega-MSFT Can you close this please. This issue has been resolved. Thanks!

[2019-08-15 15:58] jakaruna-MSFT commented on #37127
@mjcarrabine Thanks for posting here. Please let me know the document which you followed if you are following one

[2019-08-15 16:01] jakaruna-MSFT commented on #37126
@Crysitna
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-15 16:02] MicahMcKittrick-MSFT commented on #37154
Thanks for the question! We are investigating and will update you shortly.

[2019-08-15 16:03] jakaruna-MSFT commented on #37125
@avi2183  Thanks for posting here. Please let me know the document which you followed if you are following one

[2019-08-15 16:03] Robotbae commented on #37159
Bad Argument
Unsupported/Invalid URLs:

This is what I get each time I add a url on QNAmaker when its a page

[2019-08-15 16:05] jakaruna-MSFT commented on #37131
@jlee-vi
Thanks for the question! We are investigating and will update you shortly.

[2019-08-15 16:06] dlepow commented on #37119
@denshu - Just to add, if your question is around best practices for *image* tagging, please see this article in the ACR docset for guidance: https://docs.microsoft.com/azure/container-registry/container-registry-image-tag-version

Please let us know if this helps. Thanks!

[2019-08-15 16:07] jakaruna-MSFT commented on #37130
@CastleArg
Thanks for the question! We are investigating and will update you shortly.

[2019-08-15 16:09] jakaruna-MSFT commented on #37133
@ashuthinks Thanks for posting here. Please let me know the document which you followed if you are following one

[2019-08-15 16:10] peterpogorski commented on #35081
@StingyJack you can now download the SDK from Visual Studio by clicking directly on the link without having to run as an administrator.

[2019-08-15 16:13] Deepudev13 commented on #37147
Could you please help me to get the URI of Azure AZ module.
Actually I got ot but I getting error.

[2019-08-15 16:16] craigktreasure commented on #36982
Hey @TiNovTec! I'm afraid that is beyond the scope of this tutorial and more in the web service realm. To be clear, what you've set up in this tutorial is a simple ASP.NET Core website with an Azure Cosmos DB data store to share anchor ids between devices, which is all yours. My advice would be to take a look at the [ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/) and [Azure Cosmos DB

[2019-08-15 16:16] leniel commented on #37156
I just replied here with solution:

https://stackoverflow.com/a/57512717/114029

[2019-08-15 16:18] craigktreasure commented on #36987
Thanks for bringing that to our attention, @Pycorax. @darax, can you take a look at updating this?

[2019-08-15 16:18] cherylmc commented on #36930
Great suggestions. I'll send this over to the product team. We are still in preview on this product.

[2019-08-15 16:21] mstrello opened #37160 "Bad parameter name for New-AzResourceGroupDeployment."
I think that  TemplateFile must TemplateUri in the example. Specifically, the line:

New-AzResourceGroupDeployment `
    -ResourceGroupName myResourceGroup `
    -TemplateFile https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-vmss-windows-webapp-dsc-autoscale/azuredeploy.json

must be replaced by:

New-AzResourceGroupDeployment `
    -ResourceGroupName myResourceGroup `

[2019-08-15 16:23] AjayKumar-MSFT commented on #37041
@jasonpnnl, Thanks for the response and confirmation on the OS environment. Yes, the deployment options and current limitation on Linux platform are mentioned in this document [Introduction to Azure App Service on Linux](https://docs.microsoft.com/azure/app-service/containers/app-service-linux-intro#deployments). Hope that helps!

@cephalin, for further review.

[2019-08-15 16:25] tamram commented on #32933
@peledins - I am following up on this with the Azure Storage engineering team. Can you tell me which version of the client library you were using when you encountered this issue?

Please let me know so that we can resolve this.

[2019-08-15 16:26] MicahMcKittrick-MSFT commented on #36630
@robinho81 We have been working offline with the AKS product team on this issue.

So there is currently some limitations:

1. For both cpu and memory, values for requests == limits. As in ACI, conceptually there is no way for vertical expansion, whatever requested is what used.
2. For cpu, regarding the values I didn’t see any issues. 100m 150m 0.2 1 should be fine.
3. For memory, the provider sup

[2019-08-15 16:27] MicahMcKittrick-MSFT commented on #36051
@garrmark thanks for the update! Glad to hear it seems to have resolved the issue.

Is there anything else we can assist with or should I proceed with closing this out?

[2019-08-15 16:30] MicahMcKittrick-MSFT commented on #37119
Thanks @dlepow ! That is also a great resource to include that I missed.

@denhsu I will close this out but if you have further questions just let us know and we can always reopen and continue the discussion.

[2019-08-15 16:30] #37119 closed

[2019-08-15 16:30] MGoedtel commented on #36935
@oising - the permissions required to view the log data and health data are described here in the Enable AzMon for VMs article - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-overview#role-based-access-control.  Can you also be specific as to which data you are trying to access and how if this isn't solving your issue?  Thanks!

[2019-08-15 16:32] jasonpnnl commented on #37041
Thanks, I can see that in the link you provided. The root level of this document tree does seem to indicate that this is App Service docs in general on both Windows and Linux and not just App Service on Windows (see https://docs.microsoft.com/en-us/azure/app-service/). Perhaps clarification and a pointer to the Linux specific docs. Thanks for your responses.

[2019-08-15 16:34] MicahMcKittrick-MSFT commented on #37160
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-15 16:34] zinov commented on #27052
after successfully import my soap api on the gateway to use it as a pass-through, is there any way to figure out using a soap client which is the new wsdl that I need to hit?
If I go to my developer portal and check for the RequestUrl it is like this: http://mydomain.com
Do I need to treat all the request now on REST format?

[2019-08-15 16:35] denhsu commented on #37119
Thanks guys! Sorry, I was not very clear, I meant the best practice for Image Tagging.

Thanks for the image tagging best practice!  I have one more question, do you have one ACR per environment (Dev, Test, Staging, and Prod)? or one ACR for all environments?  or one ACR for lower environments and one for higher environments?

For Asp.Net core app, we know how to transform into environmental confi

[2019-08-15 16:37] KrishnaG-MSFT commented on #37147
@Deepudev13 URI of Azure Az module !? Perhaps I am missing something but with given information, the URI (i.e., ContentLinkURI) in this case is related to a parameter of cmdlet [New-AzureRMAutomationModule](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/new-azurermautomationmodule?view=azurermps-6.13.0#parameters) so in this case the URI is a compact representation of a reso

[2019-08-15 16:39] cijothomas commented on #34384
@imeya there is no ai.config in asp.net core.  the default sampling is enabled via code for asp.net core as already given in the doc.

https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/Implementation/TelemetryConfigurationOptionsSetup.cs#L178

[2019-08-15 16:40] MGoedtel commented on #35761
@maxilampert - I've got your answer, apologies for taking so long.  It is possible using the x-ms-AzureResourceId as described in the following article to support this scenario with resource-context model - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#request-headers.
#please-close and if this doesn't answer your question, please let us know.  Thanks.

[2019-08-15 16:40] #35761 closed

[2019-08-15 16:41] MicahMcKittrick-MSFT commented on #37119
@denhsu that really depends on your situation.

If you look at the different ACI SKUs you will see they have different capacities and perks

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-skus

So I would suggest you build the environment to what suites you best. I would also take into consideration the number of images you would be storing and the number of operation

[2019-08-15 16:41] Mike-Ubezzi-MSFT commented on #12480
@thecherrytree Wanted to follow-up to see if this second option of a serial copy method was working for you? There could be a difference if you are itemizing a list of individual IPs versus a range as detailed in the sample you provided. Thanks for any update.

[2019-08-15 16:43] jkochhar commented on #36051
Great! Thanks for confirming @garrmark
I missed the quotes as well :)

[2019-08-15 16:54] denhsu commented on #37119
Thanks! @MicahMcKittrick-MSFT!

@dlepow any suggestion from your side?

I would also suggest to put # of ACR required recommendation in this Best Practice with ACR doc.
Thanks!

[2019-08-15 16:55] craigktreasure commented on #36932
@Adam-Smith-MSFT A fix for this has now been checked in and this issue can be closed.

[2019-08-15 17:01] oracle000 commented on #36999
Good day,

Oops sorry, yeah this platform is for docs bugs or improvement. Sorry to raise an unrelated topic to the documents.
I'll just close this raised issue.

Thanks :)

_PS: I'll just post here my solution so others with the sample problem might fix it_.

I manage to make it works using jbogards Mediatr and MediatR.extensions.microsoft.dependencyInjection. Just simply add the configuration in

[2019-08-15 17:01] #36999 closed

[2019-08-15 17:03] palma21 commented on #36947
@dkkapur @rbitia @srrengar

[2019-08-15 17:06] stimms opened #37161 "Storage emulator still not supported?"
Is it still accurate that the storage emulator isn't supported? I thought that had been fixed some time ago. I was able to run my function with a queue trigger just using the emulator. I'm also curious about compatibility with the Azurite emulator: https://github.com/azure/azurite

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-08-15 17:08] srrengar commented on #36947
This is unsupported in ACI I believe  - @ibabou can you confirm

[2019-08-15 17:12] MGoedtel commented on #29602
#please-close as this thread has been idle for months and there is no action required with documentation.

[2019-08-15 17:12] #29602 closed

[2019-08-15 17:13] mjcarrabine commented on #37127
Hello @jakaruna-MSFT , there is no single document I am following, but it would be great if that existed. It seems that if you are using one of Microsoft's provided Sql Server templates, the SqlaasAgent extension just works, but there is not much documentation on how to use it otherwise. Unfortunately, there is not currently a Microsoft provided image with SQL Server 2017 on Windows Server 2019.

[2019-08-15 17:14] billmath commented on #27447
@RomanNG Thank you for the feedback.  The hybrid document only illustrates communication between the hybrid pieces.  Communication with AD FS and DCs is covered here https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-requirements.

#please-close

[2019-08-15 17:14] #27447 closed

[2019-08-15 17:16] BryanTrach-MSFT commented on #37135
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-15 17:18] billmath commented on #27992
@Mike-Crowley  Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:18] #27992 closed

[2019-08-15 17:19] ibabou commented on #36947
No, currently PersistedVolumes is not supported. however AzureFile is supported (https://kubernetes.io/docs/concepts/storage/volumes/#azurefile). persisted volumes and usage of claims adds another layer of complexity which requires additional work to be piped through VN.

[2019-08-15 17:20] pelon34 opened #37162 "Dismissed recomendations"
A customer has raised a question regarding dismissed recommendations and the fact this document does not provide any information regarding the amount of time a dismissed recommendation will still show up on the Azure Portal under the Postpone and Dismissed tab modules. I would appreciate if you can help us provide more insights in terms of this behavior to help our customers set the correct expect

[2019-08-15 17:21] billmath commented on #28543
@Gerald-Strozyk Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:21] #28543 closed

[2019-08-15 17:22] billmath commented on #28821
@RaghuramP Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:22] #28821 closed

[2019-08-15 17:24] YutongTie-MSFT commented on #37141
@amynic Thank you for the feedback, we will investigate it and update to you soon.

[2019-08-15 17:24] billmath commented on #28963
@JonesMikael Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:24] #28963 closed

[2019-08-15 17:24] ggailey777 commented on #14721
This issue has been addressed in the linked PR, #please-close

[2019-08-15 17:24] #14721 closed

[2019-08-15 17:25] YutongTie-MSFT commented on #37134
@brigiyu Thank you for the feedback, we will investigate it and update to you soon.

[2019-08-15 17:26] billmath commented on #28979
@lightupdifire Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:26] #28979 closed

[2019-08-15 17:27] billmath commented on #29935
@davebirr Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:27] #29935 closed

[2019-08-15 17:28] diberry commented on #35569
#please-close

[2019-08-15 17:28] #35569 closed

[2019-08-15 17:30] LarsKemmann opened #37163 "Deploy custom certificate (Key Vault) via ARM"
Hello, I saw a stub `customHttpsConfiguration` property in an ARM template I downloaded from a Portal-based deployment the other day. It doesn't seem to be supported (at least I can't find any references to it in docs or the schema repo) but it led me to wonder: is it possible today to use ARM automate the SSL certificate assignment from a previously-uploaded Key Vault certificate/secret? If so, h

[2019-08-15 17:30] poochwashere commented on #36947
Thanks @ibabou , Do you think this will be supported at some point down the road? We have our apps pulling secrets from az flex-vaults and since we cannot mount the fv volume, our apps will not run in ACI. It would be a big win for us if we can get this to work.

[2019-08-15 17:31] billmath commented on #30736
Unfortunately I am no really sure on this and this seems more of  a support question.

#please-close

[2019-08-15 17:31] #30736 closed

[2019-08-15 17:33] billmath commented on #30765
@CeciAc  thank you for the feedback.

@SaurabhSharma, this is a localization question.  You need to verify with them that it has been updated in French correctly.

#please-close

[2019-08-15 17:33] #30765 closed

[2019-08-15 17:34] billmath commented on #30892
@watahani Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:34] #30892 closed

[2019-08-15 17:35] YutongTie-MSFT commented on #36802
@julie-ng
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-15 17:35] #36802 closed

[2019-08-15 17:35] davidbel commented on #35670
@StephanElst any chance you might still have a repro for this issue? If so, I'd love for you to follow the steps below:
- From the client, click the ... and select Feedback to open Feedback Hub.
- Click + Add new feedback at the top.
- Provided a descriptive name like "Unable to subscribe to feed. Need to delete ms-organization-access certificate".
- Category should default to Apps / Remote Deskto

[2019-08-15 17:36] billmath commented on #31137
@andreas-eg Thank you for the feedback.  Unfortunately it is not a common to document what is not supported as this can be quite exhaustive and detract from the purpose.  Thanks!

#please-close

[2019-08-15 17:36] #31137 closed

[2019-08-15 17:39] billmath commented on #31393
This was answered on a previous thread.

#please-close

[2019-08-15 17:39] #31393 closed

[2019-08-15 17:39] FrankHu-MSFT commented on #37157
@amang2205 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:39] FrankHu-MSFT commented on #37153
@amang2205 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:39] FrankHu-MSFT commented on #37156
@leniel Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:39] FrankHu-MSFT commented on #37145
@ivangotti Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:39] FrankHu-MSFT commented on #37144
@AndyDring Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:39] FrankHu-MSFT commented on #37142
@garrylean Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:39] FrankHu-MSFT commented on #37139
@AlekseySokol Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-15 17:41] billmath commented on #31882
@jonimattila Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:41] #31882 closed

[2019-08-15 17:42] billmath commented on #32098
@shodgson11 Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:42] #32098 closed

[2019-08-15 17:44] billmath commented on #32459
@purduegrad06 Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:44] #32459 closed

[2019-08-15 17:44] #34467 closed

[2019-08-15 17:44] ChristianMontoya commented on #36020
@MicahMcKittrick-MSFT @MMollyy : Understood that it is not widely documented. This role is only used for the New-RdsTenant operation, described in this article. If the user has not been assigned this role, the operation will fail. We do not use this Application Role anywhere else in the system.

[2019-08-15 17:45] billmath commented on #32495
@abhinavcarlsberg  Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:45] #32495 closed

[2019-08-15 17:46] billmath commented on #33372
@chk1982 Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 17:46] #33372 closed

[2019-08-15 17:50] MicahMcKittrick-MSFT commented on #36020
Thanks @ChristianMontoya

If you like, I can close this issue if we don't want to add any additional info to the doc at this time.

[2019-08-15 17:50] rwike77 commented on #32367
@andrewconnell  The article was updated, so closing this issue.  Thanks.  #please-close

[2019-08-15 17:50] #32367 closed

[2019-08-15 17:53] rwike77 commented on #27855
Not sure if this is still an issue.  I've moved to a different team, so reassigning.  #reassign @peterpogorski

[2019-08-15 17:54] rwike77 commented on #28369
Not sure if this is still an issue. I've moved to a different team, so reassigning. #reassign @peterpogorski

[2019-08-15 17:54] ChristianMontoya commented on #36020
@MicahMcKittrick-MSFT : If we continue to receive confusion on this, we can update. For now, I'd rather leave as is and work on other articles/feedback.

#please-close

[2019-08-15 17:54] #36020 closed

[2019-08-15 17:55] curtand commented on #36235
Hi @DeanGross
I have opened a work item for this. It makes sense to break out the templates, and I'll look at the rest. We're rolling out custom roles right now so that work will lag behind custom role content for a short time.

@FrankHu-MSFT
#please-close

[2019-08-15 17:55] #36235 closed

[2019-08-15 17:56] dlepow commented on #37119
@denhsu @MicahMcKittrick-MSFT - Agree with Micah's comments about SKUs and capacity/throughput. Also consider your current development and deployment workflows and security needs. For example, do you have different teams/systems/users interacting with the different environments? That might argue for separate registries with different authentication methods or permissions.

Thanks also for the sugg

[2019-08-15 17:59] AjayKumar-MSFT commented on #37038
@farooqkh, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2019-08-15 18:01] seanbetts commented on #31280
Thanks @MartinJaffer-MSFT for taking the time to look at this for me. I'm trying to replicate your suggestions and if I'm right in understanding your advice, I should include the following expression in my If Condition: `@or(activity('Get WC-TSCRPTS').output.exists,activity('Get WC-TSCRPTS').output.exists)`. Is that correct?

Am I also right in understanding that all the subsequent actions in the

[2019-08-15 18:03] AjayKumar-MSFT commented on #37046
@gw1108, The doc now reflects the requested changes. We really appreciate your feedback.

[2019-08-15 18:03] #37046 closed

[2019-08-15 18:07] Adam-Smith-MSFT commented on #37123
@jjwu724 Thank you for the valuable feedback,we are investigating the issue.

[2019-08-15 18:08] Adam-Smith-MSFT commented on #37129
@ghclo Thank you for the valuable feedback,we are investigating the issue.

[2019-08-15 18:09] Adam-Smith-MSFT commented on #37140
@mani0070 Thank you for the valuable feedback,we are investigating the issue.

[2019-08-15 18:10] KranthiPakala-MSFT commented on #36983
@gw111zz Could you please confirm @Alberto-Vega-MSFT ask?

[2019-08-15 18:15] MDFreaK76 commented on #18669
Can we get this re-opened? This is kind of a big hang-up for some of us.

[2019-08-15 18:22] KranthiPakala-MSFT commented on #36868
@HagayatFeelit We will now proceed to close this thread. If there are further questions regarding this matter, please reply and reopen the issue. We will gladly continue the discussion.

[2019-08-15 18:22] #36868 closed

[2019-08-15 18:22] norachuga opened #37167 "Should variables also be camelCase?"
This is a pedantic question, I know.

There's this guidance for Parameters: "Use camel case for parameter names."

Is this also the case for variable names?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc11726f-f488-2f7c-c9ea-7c5d260e0d1d
* Version Independent ID: 62b563e6-4040-03f7-ab1c-80af86eff4d0
* Content: [Best

[2019-08-15 18:25] rwike77 commented on #32070
Reassigning #reassign @TylerMSFT

[2019-08-15 18:25] seanbetts commented on #31280
I've just tried implementing the expression above in the If condition and I'm getting the following error: `The expression 'or(activity('Get WC-TSCRPTS').output.exists,activity('Get FB-TSCRPTS').output.exists)' cannot be evaluated because property 'exists' doesn't exist, available properties are 'dataRead, dataWritten, filesRead, filesWritten, sourcePeakConnections, sinkPeakConnections, rowsRead,

[2019-08-15 18:28] zuboje opened #37168 "Documentation is incorrect!"
I am trying to setup Fido key and section "User registration and management of FIDO2 security keys" has steps outlined to set this up. Step 3 says "Click Security Info", when I click security info it redirects me to https://account.activedirectory.windowsazure.com/securityInfo and I receive:

404 - File or directory not found.

Question is how do I setup my key for passwordless authentication if t

[2019-08-15 18:32] msrini-MSFT commented on #37151
@mstair , Thank you for your feedback. I will update the documentation.

[2019-08-15 18:34] msrini-MSFT commented on #37151
PR done: https://github.com/MicrosoftDocs/azure-docs-pr/pull/85550

The changes will be reflected shortly.

[2019-08-15 18:35] ibabou commented on #36947
@poochwashere I don't think this is something that might be supported on the short-term. these kind of volumes requires drivers within k8s that actually manage/access storage, and it's event out-of-tree specifically in case of flexvolumes and csi-based ones. in ACI environment; where the pods gets created; things are more of an isolated compute. so ACI itself now don't support such type of volumes

[2019-08-15 18:38] Karishma-Tiwari-MSFT commented on #37123
test

[2019-08-15 18:40] #37151 closed

[2019-08-15 18:41] way2arun opened #37169 "From where do i get the server-app-id ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-15 18:43] cherylmc commented on #36545
I've added this information to the P2S FAQ stating that Key Vault cannot be used.

[2019-08-15 18:43] cherylmc commented on #36545
#please-close

[2019-08-15 18:43] #36545 closed

[2019-08-15 18:45] MicahMcKittrick-MSFT commented on #37154
You can run Containers in a Local SF environment. We call out the requirements here:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started#install-docker-optional

We also have a quick start guide that has you test locally first

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers

[2019-08-15 18:45] cherylmc commented on #37152
I will add a note to the doc to say to use this locally on the desktop using the service management powershell cmdlets. I believe this is where the problem is.

[2019-08-15 18:46] msrini-MSFT commented on #37152
@ositobio , you need to switch to ASM mode in cloud-shell .

Use the below command:
azure config mode asm

If you are trying from a PC, do try following the below instruction.

Make sure you install the latest version of ASM module and try the command again.

ASM module: https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0#azure-service-manageme

[2019-08-15 18:47] MicahMcKittrick-MSFT commented on #37160
@mstrello good find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-08-15 18:47] #37160 closed

[2019-08-15 18:48] jmerizia opened #37170 "docs need to be updated with Live Metrics feature release"
Once the Live Metrics feature is released, the documentation needs to be updated, in order to ensure customers understand how to enable it on their RBAC clusters. There is a new YAML file that should be added, `LiveMetricsReaderRBAC.yaml`:

[code]

Alternatively, a new documentation page could be made, or the two yaml files can be merged into one "LiveReaderRBAC.yaml" file.

---
#### Document Deta

[2019-08-15 18:50] mattsmall1972 commented on #32521
Agreed - this does not describe how to use Key Vault Client using .NET.

[2019-08-15 18:52] leniel commented on #37156
Thanks @FrankHu-MSFT!

In the meantime I just posted one solution here: https://stackoverflow.com/a/57512717/114029

[2019-08-15 18:52] edhans commented on #37117
Thanks!

_________________________
Ed Hansberry
www.ehansalytics.com<http://www.ehansalytics.com>

________________________________
From: Esther Fan <notifications@github.com>
Sent: Thursday, August 15, 2019 8:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ed Hansberry <ed.hansberry@ehansalytics.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2019-08-15 18:52] NavtejSaini-MSFT commented on #36850
@SogoGolf we are glad that it was helpful. We will be going ahead and closing this thread.
Thanks @deborahc and @southpolesteve

[2019-08-15 18:53] FrankHu-MSFT commented on #37153
Hey @amang2205 can you clarify on what you mean about your github issue? What is the AAD Connect seamless sso quick start missing in regards to chromium based edge?

In addition to that, chromium edge is currently still in preview, so documentation on that is still pending development.

[2019-08-15 18:54] normesta commented on #34335
Thank you @kumarallamraju for reporting. The code presented in the walkthrough is correct. That said, I can't explain why you are receiving a warning about the deprecated "resource_id" parameter. @sumantmehtams I went through this walkthrough (for creating event subscriptions via the CLI) and was able to reproduce this issue. It appears that event though you use the parameter "resource-id" (which

[2019-08-15 18:55] normesta commented on #34335
#assign:sumantmehtams

[2019-08-15 18:56] NavtejSaini-MSFT commented on #36856
@hhubik The changes are live now. We will be closing this thread.
Thank you @SnehaGunda

[2019-08-15 18:56] #36856 closed

[2019-08-15 18:56] FabianGCZ opened #37172 "Object ID is different on every Azure tenant"
Following line needs to be fixed. The AppID of the KV principal remains the same in every AAD, but the Object is different on every AAD and you can get it with: az ad sp show --id cfa8b339-82a2-471a-a3c9-0fc0be7a4093

<<<93c27d83-f79b-4cb2-8dd4-4aa716542e74 is the Object ID for Key Vault in the Azure public cloud. To get the Object ID for Key Vault in the Azure Government cloud, see Service princi

[2019-08-15 18:57] normesta commented on #33155
@JamesBak is 5 TB the upper file size limit for ADLSG2?

[2019-08-15 18:57] normesta commented on #33155
assign:jamesbak

[2019-08-15 18:58] normesta commented on #33155
assign:jamesbak

[2019-08-15 18:59] NavtejSaini-MSFT commented on #36559
@Kevin-Farlee Please let us know if you need any further information regarding this issue for resolution.

[2019-08-15 18:59] normesta commented on #33155
reassign:jamesbak

[2019-08-15 19:01] NavtejSaini-MSFT commented on #36233
@cowinr We will go ahead and close this issue for now.
Thanks @SnehaGunda for the help with the links.

[2019-08-15 19:01] #36233 closed

[2019-08-15 19:03] #36850 closed

[2019-08-15 19:03] jmerizia commented on #37170
Closing as this is not a current issue.

[2019-08-15 19:03] #37170 closed

[2019-08-15 19:05] stevestein commented on #36559
@masashioms - thanks for raising this issue.

To clarify, the replicas are secondary replicas, and you can have 0-4.  The doc should be updated within the next few days.

Thanks!

[2019-08-15 19:07] curtand commented on #24300
Hi @adrianwells
I have to research whether that or another standard applies. I have opened a backlog work item for this but don't have an ETA at this time.

@SaurabhSharma-MSFT
#please-close

[2019-08-15 19:07] #24300 closed

[2019-08-15 19:09] darax commented on #36987
Can do.

[2019-08-15 19:15] Karishma-Tiwari-MSFT commented on #36614
Is there any update? It looks like the witness is not setup correctly. Please let me know.

[2019-08-15 19:18] adrianwells commented on #24300
@curtand thank you, may we please keep the issue open until that research is completed? Closing the issue seems to suggest the issue is resolved but I do not see where that is not yet done.

[2019-08-15 19:22] rwike77 commented on #22797
@JorgeZapatero Looks like the article was updated, I'm no longer seeing what you initially described.  Step 3 now asks you to update the auth_config.json file.  I'm closing the issue, feel free to reopen if necessary.  Thanks.  #please-close

[2019-08-15 19:22] #22797 closed

[2019-08-15 19:22] ibabou commented on #36947
The other route that seems easier (but still needs work on VN side), is actually handling this before forwarding to ACI to become a normal secret within VN connector itself. especially if the kv data don't get resynced automatically (so the pull happens only during the startup of the pod) ?
@khenidak who would know better about the driver and can confirm my assumption.

[2019-08-15 19:28] calebcoverdale opened #37173 "Spelling Mistake"
Fedderation - should be Federation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 822380d8-dc6f-b7c2-3bf9-562ae01f122e
* Version Independent ID: 31b129f3-34da-e3a3-1dcb-7b6af9b0937b
* Content: [Tutorial: Azure Active Directory integration with Keeper Password Manager & Digital Vault](https://docs.microsoft.com/en-us/az

[2019-08-15 19:29] bandersmsft commented on #37136
#in-process

[2019-08-15 19:30] roygara commented on #36892
@MoRMongol As far as I know, none of them are documented. But to answer your question: It can be done using an Azure File Share, there are a variety of configurations utilizing a File share though, and which one makes the most sense to you is highly contextualized. You will be much better off emailing that dlist, it's a much more direct line and our Files product team is on it, so you shouldn't be

[2019-08-15 19:31] femsulu commented on #37170
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-15 19:33] Jatinder-Luthra commented on #36614
Hello @Karishma-Tiwari-MSFT Thanks for checking with the product team. I revisited the whole setup and in fact did another setup. But the same issue persists in both setups. I didn't find any issues with witness setup and all nodes are able to communicate with each other, without any issues, when I checked manually.

For a similar issue, there is a KB article **KB001 - need to have a witness node*

[2019-08-15 19:34] femsulu commented on #37167
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@tfitzmac - fyi

[2019-08-15 19:38] bandersmsft commented on #37136
@karmalicious Thanks Michael. You're right. The selection you mention is requried. I've updated the article for clarity with https://github.com/MicrosoftDocs/azure-docs-pr/pull/85561.
#please-close

[2019-08-15 19:38] #37136 closed

[2019-08-15 19:41] CeciAc opened #37174 "Github link failed"
@BookHsu commented on [Thu Aug 15 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/517)

https://docs.microsoft.com/zh-tw/azure/notification-hubs/notification-hubs-aspnet-backend-windows-dotnet-wns-notification
![圖片](https://user-images.githubusercontent.com/29597478/63085144-69e6dc80-bf7f-11e9-9a4c-ab6b5f97e2f5.png)

![圖片](https://user-images.githubusercontent.com/29597478/63085162-

[2019-08-15 19:42] femsulu commented on #37162
Good feedback, @pelon34. I've engaged the feature owner to review your comment and offer some perspective.

[2019-08-15 19:43] ecfan commented on #37036
@PramodValavala-MSFT, correct. The sample code is only to demonstrate how you might set up an Azure function to call a logic app. The actual code that customers use varies based on their specific scenario.

[2019-08-15 19:44] jelliott7 opened #37175 "Google Federated: gmail accounts receiving OTP redirects even when OTP Preview is turned off"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-15 19:44] CeciAc commented on #37174
Hi team,
I'm moving this here because the reported link doesn't work in the en-us page either:
![imagen](https://user-images.githubusercontent.com/26746247/63121886-ec6d9d00-bf7b-11e9-85f1-26a053108d90.png)

[2019-08-15 19:46] cijothomas opened #37176 "Console app with additional TelemetryClient."
The doc is not clear on how to create a telemetryclient to track additional telemetry from a console app. The following is sample code which shows how to create a new TelemetryClient in a console app, which uses the same TelemetryConfiguration as used by the loggerprovider.

static void Main(string[] args)
        {
            // Create the DI container.
            IServiceCollection services =

[2019-08-15 19:47] ecfan commented on #36968
@nateforsyth, to use the Inline Code action, your logic app currently requires a link to an integration account, which you can set up by using the Azure portal.

[2019-08-15 19:47] ScoutmanPt commented on #36139
Hi @msmimart, thanks for the reply. When you say Office 365 "paid features " you mean creating content/collaboration? If I have an external user viewing content in SharePoint  no license required but if they want to upload / edit a page we should use the 1/5 ratio? Is it possible to add this information to the documentation with examples?
Thanks again

[2019-08-15 19:47] #37036 closed

[2019-08-15 19:48] femsulu commented on #37158
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-15 19:50] peterpogorski commented on #28369
#reassign @athinanthny

[2019-08-15 19:52] diberry commented on #35661
@bluetrane - the relabeling of all entities should work regardless if they are prebuilt entities. Can you please log this as an issue from inside the LUIS.ai portal via the feedback/General Inquiry through User Voice.

[2019-08-15 19:54] ecfan commented on #36493
@lamarcel, thanks for your suggestion. The how-to topic focuses more on the steps to use the connector, rather than technical details about the connector, which is subject to change and is updated along with the connector's Swagger. This reason is why the how-to topic doesn't mention specific limits and has a [**Connector reference** section](https://docs.microsoft.com/azure/connectors/connectors-

[2019-08-15 19:54] #36493 closed

[2019-08-15 19:56] AdamMirza opened #37177 "Alert Rule Suppression Issues/Confusion"
In the Suppression of an alert, is this a manual process or is it triggered every time the alert is called (Step 8 of Managing log alerts from the Azure Portal).

I attempted to set it up with the idea that checking the Suppress Alerts box would suppress after an alert is triggered, but then I saw the same alert being sent without waiting the time I allotted (60 min).

---
#### Document Details

⚠

[2019-08-15 20:03] peterpogorski commented on #30533
The documentation has been updated to reflect the edits proposed above.

#please-close

[2019-08-15 20:03] #30533 closed

[2019-08-15 20:03] mrbullwinkle commented on #36401
The change to address this PR is now merged internally it will go live between 3-4 PM (UTC-7). Thanks again for bringing this to our attention.

[2019-08-15 20:03] mrbullwinkle commented on #36401
#sign-off

[2019-08-15 20:04] mrbullwinkle commented on #27163
The change to address this PR is now merged internally it will go live between 3-4 PM (UTC-7). Thanks again for bringing this to our attention.

[2019-08-15 20:04] mrbullwinkle commented on #27163
#please-close

[2019-08-15 20:04] #27163 closed

[2019-08-15 20:05] mrbullwinkle commented on #36401
#please-close

[2019-08-15 20:05] #36401 closed

[2019-08-15 20:09] chadcarlton opened #37179 "On Premise Licensing?"
There are some typo's/bad grammar in the License Requirements &gt; note Section.

It currently reads "Note
On-premises Windows Server Active Directory users that not synchronized to Azure Active Directory also avail the benefits of Azure AD password protection based on existing licensing for synchronized users."

My question involves the above. If I have 4000 accounts in an on premise AD, and use

[2019-08-15 20:10] #29931 closed

[2019-08-15 20:21] normesta commented on #34655
@realbart - thank you for reporting. Yes the target link that you describe does not contain any information about mapping a root domain. This article is better - [Tutorial: Add a custom domain to your Azure CDN endpoint](https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain). It contains a note that links to this article section - [Point zone apex to Azure CDN endpoints](http

[2019-08-15 20:22] normesta commented on #34655
#please-close

[2019-08-15 20:22] #34655 closed

[2019-08-15 20:25] rwike77 commented on #34325
@nadimabdo, you're right that sentence is incomplete.  I've updated to replace that sentence with "In OAuth2 implicit grant, the authorization endpoint issues access tokens directly to the client using a redirect URI that was previously supplied."  Hope that helps.

[2019-08-15 20:30] rwike77 commented on #34325
Closing this issue, feel free to reopen if necessary.  #please-close

[2019-08-15 20:30] #34325 closed

[2019-08-15 20:32] kfarlee commented on #36559
Replica is an ambiguous/generic term, and means any replica whether primary or secondary.
Primary Replica is the single copy of the database which is read/write active.  If there is only one replica, it's a Primary.
Secondary Replica means any replicas in addition to the Primary, which are in this case read-only.

So, my preference is when documenting the Portal configuration screen, where it's re

[2019-08-15 20:42] KumudD commented on #35940
@stuycks Thanks for bringing this to our attention. The az commands in the article have been updated.

#please-close

[2019-08-15 20:42] #35940 closed

[2019-08-15 20:52] agrabhi opened #37183 "Need more details on admin_consent through a url request."
Need more details on admin_consent through a url request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a6c58c-f887-03a4-8f69-eb91a19e4fb3
* Version Independent ID: 4e53d964-7edf-5668-b976-75fcdce4638e
* Content: [Configure user consent to an application - Azure Active Directory](https://docs.microsoft.com/en-us/azu

[2019-08-15 20:53] denhsu commented on #37119
Thank you for your inputs @MicahMcKittrick-MSFT @dlepow

[2019-08-15 20:54] peledins commented on #32933
This is just the sample code that is wrong – see my extract from the sample does not include any azure library.

From: Tamra Myers <notifications@github.com>
Sent: Thursday, August 15, 2019 9:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peteris Ledins <peledins@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Canonicalization fo

[2019-08-15 20:55] amang2205 commented on #37153
Sure!
For Chromium-based browsers (including the ever growing in userbase Chromium-based Edge), the article states: "For Google Chrome on Mac OS and other non-Windows platforms, refer to The Chromium Project Policy List for information on how to whitelist the Azure AD URL for integrated authentication. The use of third-party Active Directory Group Policy extensions to roll out the Azure AD URL to

[2019-08-15 21:00] BharathNimmala-MSFT commented on #37176
Thank you @cijothomas for sharing the feedback and helping with the sample. Will work with @mrbullwinkle to update the document accordingly.

[2019-08-15 21:09] NavtejSaini-MSFT commented on #37075
@j0h Thanks for the detailed feedback. We are checking this with our Product team and will get back to you once we have an answer regarding the same.

[2019-08-15 21:10] billmath commented on #34045
@TiloGit If you have auto-upgrade enable it will auto upgrade.  Thanks.

#please-close

[2019-08-15 21:10] #34045 closed

[2019-08-15 21:11] MicahMcKittrick-MSFT commented on #33155
#reassign @jamesbak

[2019-08-15 21:12] MicrosoftGuyJFlo commented on #37168
You must enable the combined registration preview experience as mentioned in the section before.

https://docs.microsoft.com/azure/active-directory/authentication/howto-authentication-passwordless-security-key#enable-the-combined-registration-experience

[2019-08-15 21:12] billmath commented on #34962
@redamaleki Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 21:12] #34962 closed

[2019-08-15 21:13] billmath commented on #35651
@benoithamet Thank you for the feedback.  I have created a backlog work item for this and will be working on this in the coming months.  I will send a follow-up once this has been updated.  Thanks!

#please-close

[2019-08-15 21:13] #35651 closed

[2019-08-15 21:15] bragi92 commented on #33129
Thanks @neumanndaniel. Yes the URL was updated we've updated the docs to include both the monitoring. and afd. URL's in the AAD app.

[2019-08-15 21:16] saketkataruka commented on #37162
@femsulu I'm not the owner of this doc neither do I know who owns it. It doesn't belongs to our team.

[2019-08-15 21:19] femsulu commented on #37162
@saketkataruka apologies, added the incorrect alias

[2019-08-15 21:21] bultaf14 opened #37185 "Old SKU to new SKU mapping"
Hello, looking for clarity on the new zone redundant gateway SKUs to see which old SKU they map to in the "Estimated performances by gateway SKU" table above. Is this accurate?

ErGw1AZ = Standard
ErGw2AZ = High Performance
ErGw3AZ = Ultra Performance

There is a closed issue #27933 on this page where someone asked if ErGw3AZ = Ultra, but Microsoft responded with "Yes, you are right, ErGw3AZ, ErGw

[2019-08-15 21:24] jurajgh opened #37186 "possible to use this for hyper-v live migration?"
i have joined my on-premise hyper-v hosts to azure ad domain services. i'd like to use live migration, but i keep getting "No credentials are available in the security package (0x8009030E)" error, despite doing what is suggested in this article. please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8f9d8f-cfa2-

[2019-08-15 21:28] payamab opened #37187 "Syncing SSAS databases as an HA solution?"
In the first approach "Deploy models to redundant servers in other regions", there is still a chance that the SSAS database after processing on Primary is not exactly the same on Secondary (considering the source table is constantly changing). Why not (as an HA solution) using the sync feature of SSAS to sync secondary with the primary after processing is done on primary?

---
#### Document Detail

[2019-08-15 21:31] peterpogorski commented on #27855
@narasimmanr64 are you still experiencing this issue? If so, what SDK version are you using?

[2019-08-15 21:31] FrankHu-MSFT commented on #37144
Hey @andydring which line in particular from  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#13200

Makes it seem like that syncing with multiple databases with different names is supported?

[2019-08-15 21:35] kartheekakkur opened #37188 "Key vault service doesn't have proper permissions to access the storage account"
I followed the article gave the owner permissions to keyvault objected on the Storage Account and ran the following command

az keyvault storage add --vault-name [keyvaultname] -n [storageaccountname] --active-key-name key1 --auto-regenerate-key --regeneration-period P90D --resource-id "/subscriptions/xxxxxxxxxxxxx/resourceGroups/azrg/providers/Microsoft.Storage/storageAccounts/&lt;storageaccountn

[2019-08-15 21:39] zr-msft commented on #36353
@thargy this doc was recently published:

https://docs.microsoft.com/azure/dev-spaces/how-to/ingress-https-traefik

does it resolve your issue?

[2019-08-15 21:42] mike-urnun-msft commented on #36520
Hi @jbevarts - Per an announcement referenced below by Function team, `serverless` is to be removed: Azure/app-service-announcements#112

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-15 21:42] #36520 closed

[2019-08-15 21:42] Adam-Smith-MSFT commented on #37149
@thedavegray Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-15 21:42] MicrosoftGuyJFlo commented on #36879
@andrewbeaumont Sounds reasonable. If you would like to make the edit using the edit button on the doc I am happy to approve the change. If you cant then I will add it to my backlog and get to it when I get some free time.

[2019-08-15 21:44] Adam-Smith-MSFT commented on #37159
@Robotbae Thank you for the valuable feedback,we are investigating the issue.

[2019-08-15 21:45] Adam-Smith-MSFT commented on #37161
@stimms Thank you for the valuable feedback,we are investigating the issue.

[2019-08-15 21:47] Adam-Smith-MSFT commented on #37163
@LarsKemmann Thank you for the valuable feedback,we are investigating the issue.

[2019-08-15 21:49] bczudek opened #37192 "Update apiVersion in the example"
Hi there, thanks for the docs!
Kindly ask you to update the apiVersion of arm template from 2015-06-15 to 2019-03-01.
When using 2015-06-15 with commandToExecute only, I'm getting (during az group deployment create ... --debug):
msrest.http_logger : {"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations

[2019-08-15 21:50] andrewbeaumont commented on #36879
@MicrosoftGuyJFlo I have made the aforementioned changes

[2019-08-15 21:54] #36880 closed

[2019-08-15 21:56] qm13 commented on #35261
Fixed

[2019-08-15 21:56] laurenhughes commented on #31939
Thanks for the update, @mshoe! The article has been updated and will be published shortly.

#please-close

[2019-08-15 21:56] #31939 closed

[2019-08-15 21:57] #34435 closed

[2019-08-15 21:57] #36700 closed

[2019-08-15 21:59] kgremban commented on #36659
@PatricioVidal Thanks for pointing out the routing issues. The uppercase "IoT" was a typo, and the reference to "SimulatedTemperatureSensor" is an upcoming change to the template that I documented too soon. I'll resolve both these errors. Since it's a straightforward fix, I'll have GitHub automatically close this issue when my PR gets merged. If you have any follow-up questions, feel free to comme

[2019-08-15 22:01] msaburnley commented on #36491
@sebhe a note with this information has been added to the content and it has been published. You can see the note here: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-users-reset-password-azure-portal#to-reset-a-password

[2019-08-15 22:01] msaburnley commented on #36491
#please-close

[2019-08-15 22:01] #36491 closed

[2019-08-15 22:02] Karishma-Tiwari-MSFT commented on #37192
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-15 22:08] pospospos2007 commented on #29053
I have fixed that issue by using the Ubuntu 16.04 OS.
And one more question is when I upload the file into Blob,I m not able to look up that in real disk.
I saw it automaticlly created the blob folder but not able to find out the file which I uploaded.Maybe it have been restored to another format.

[2019-08-15 22:08] suhaspan opened #37194 "API https://graph.windows.net/me?api-version=1.6 is not working"
Hi,

After OAuth, I got the access token. Using access token, I am trying to fetch information from https://graph.windows.net/me?api-version=1.6 API, but getting following error,

{
    "odata.error": {
        "code": "Request_ResourceNotFound",
        "message": {
            "lang": "en",
            "value": "Resource not found for the segment 'me'."
        },
        "requestId": "f19fe8a6-

[2019-08-15 22:10] Karishma-Tiwari-MSFT commented on #36363
@athinanthny Can you please review this doc-enhancement request by customer and update the doc as needed. Appreciate your help. Thanks :)

[2019-08-15 22:11] zr-msft commented on #12689
@bremnes and @spacecat

Thank you for the feedback.

This goes into further detail on how Dev Spaces works:

https://docs.microsoft.com/azure/dev-spaces/how-dev-spaces-works

#please-close

[2019-08-15 22:11] #12689 closed

[2019-08-15 22:11] Karishma-Tiwari-MSFT commented on #36614
@Jatinder-Luthra We would have to take a look at the backend in that case. Do you have the ability to create a support request? If not, please send an email with your Subscription Id to AzCommunity@microsoft.com and in the Subject mention "FYA: Karishma", I will enable a one time free support request for you.

[2019-08-15 22:11] KranthiPakala-MSFT commented on #37120
@dcbrown16 We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-08-15 22:12] KranthiPakala-MSFT commented on #37090
@stijn192 We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-08-15 22:13] normesta commented on #24584
Thank you for reporting the issue @cjkoester. You're absolutely correct. I created a cluster logged in and attempted the copy operation with the -m 100 parameter after the destination argument and it did not work. When I added the -m 100 parameter to the beginning, it did. I also verified with the DistCp content that switches appear before source and destination parameters. I've corrected the cont

[2019-08-15 22:13] normesta commented on #24584
#please-close

[2019-08-15 22:13] #24584 closed

[2019-08-15 22:14] #36614 closed

[2019-08-15 22:16] zr-msft commented on #17058
@darrenfurr @Vijay-Nirmal This was recently updated:

https://docs.microsoft.com/azure/dev-spaces/how-to/use-custom-nuget-feed

Please reopen if it does not resolve your issue

#please-close

[2019-08-15 22:16] #17058 closed

[2019-08-15 22:20] Heidilohr commented on #32892
This article was updated and the change should be present.

#please-close

[2019-08-15 22:20] #32892 closed

[2019-08-15 22:21] MicahMcKittrick-MSFT commented on #37082
@AdamSharif-MSFT @ToddBowman I have add a note to the "Create an RBAC binding" section that the name is case sensitive.

Once the PR merges the changes will go live after a few hours.

[2019-08-15 22:21] #37082 closed

[2019-08-15 22:22] mike-urnun-msft commented on #36247
Hi @noelbundick - Thanks for reporting this and helping us drive improvements towards MS Docs! I've created a PR that addresses this issue and the changes should reflect within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-15 22:22] #36247 closed

[2019-08-15 22:26] MicahMcKittrick-MSFT commented on #36977
@yuriwoof I have added a note to the document around the formatting suggestions you provided. Once the PR merges the changes will go live after a few hours.

[2019-08-15 22:26] #36977 closed

[2019-08-15 22:26] saket-ms commented on #37162
In the UI once you click Postpone, you can specify how long you want to postpone the recommendation. Default selection is 1 week. The recommendation will not show for selected duration and will start showing again post that. If you don't want to see a recommendation at all you click "Dismiss". Let me know if this answers your question.

[2019-08-15 22:29] MicahMcKittrick-MSFT commented on #36635
@meieda looking at the doc, we believe it is clear

![image](https://user-images.githubusercontent.com/32313503/63131055-4b79e480-bf71-11e9-9f05-eb2c736bf696.png)

This section is during the Pilot phase which you can use Standard SSD. However for production you should use Premium and that is called out in this section as well. At this we have opted to leave the doc as is.

However, your comment wi

[2019-08-15 22:29] #36635 closed

[2019-08-15 22:29] rachel-msft commented on #36955
@p-smiley we have 9.6.15 scheduled for our next available deployment, which we expect to roll out at the end of September. In general we aim to update minor versions within 2-3 months of their Postgres release.

[2019-08-15 22:45] theheatDK opened #37197 "Configure security events data collection via Powershell?"
Hi,
Is it possible to do the data collection configuration for security events via Powershell?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content: [Data Collection in Azure Security Center](https://do

[2019-08-15 22:46] wfemichel opened #37198 "Disabling automatic installation breaks Update Management"
When I tried to disable Automatic Installation (https://docs.microsoft.com/en-us/azure/automation/automation-update-management#disable-automatic-installation) update management failed to work.  Got error assessing computer: https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-management#hresult.  Starting working again after I re-enabled Automatic Installation.

---
#### Document

[2019-08-15 22:47] mganeshphani commented on #28138
Howmany days will you folks take to respond, usually?

[2019-08-15 22:51] Karishma-Tiwari-MSFT commented on #37104
Is there any update? Please share the doc link for which you have submitted your feedback.

[2019-08-15 22:55] Karishma-Tiwari-MSFT commented on #36928
@masnider Do you have any inputs on the customer's question? Appreciate your help. :)

[2019-08-15 23:03] jakubsvobodacz commented on #14309
Hi guys, is anybody looking into these comments? Step 8. My device is simply stuck in "running" nothing happens and no data is shown nor send. What shall I do? I purchased 2 of these kits and both of them end up in the same state while exactly following your instructions.. What is wrong here?

[2019-08-15 23:05] activeNathan opened #37199 "No examples of offline_access"
Should have examples showing with scope for offline_access included

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eef3157-a963-a2d8-0af7-e930d268c455
* Version Independent ID: e1331dee-44bc-2ef2-f8c2-2efa71638a06
* Content: [Understanding Azure AD application consent experiences](https://docs.microsoft.com/en-us/azur

[2019-08-15 23:09] TravisCragg-MSFT commented on #37185
@bultaf14 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-08-15 23:09] nenad1002 commented on #34873
Hey,

While I managed to get the admin's consent, the error still occurs.

`{"error":"invalid_grant","error_description":"AADSTS65001: The user or administrator has not consented to use the application with ID '6b8333ce-6ed3-4b9f-86e1-75a49c0d67a2' named 'ADLS Test App'. Send an interactive authorization request for this user and resource.\r\nTrace ID: c0a36369-6011-4383-b1ad-8848e9b21500\r\nCorre

[2019-08-15 23:10] scottstout opened #37200 "VNET Integration (preview) in the portal is the same as Regional VNET Integration in the Docs?"
It seems like the naming is inconsistent.
It also says "The feature requires an unused subnet that is a /27 with 32 addresses or larger in your Resource Manager VNet". However, exsting 'used' vnets show in the drop down. Are we not able to tell that they are used by other VMs, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-08-15 23:15] Heidilohr commented on #28258
[A link to the UserVoice forums can be found in the docs.](https://windowsvirtualdesktop.uservoice.com/forums/921118-general)

#please-close

[2019-08-15 23:15] #28258 closed

[2019-08-15 23:17] zuboje commented on #37168
@MicrosoftGuyJFlo I have enabled this. I found out the issue. I have used Google Chrome on Mac OS and this causes 404 error, but Google Chrome and Microsoft Edge on Windows work just fine. I believe it is either browser version issue or OS issue. I can reproduce this.

[2019-08-15 23:23] TravisCragg-MSFT commented on #37185
@bultaf14 Your mapping is correct, they are not all 3 equal to "Ultra Performance". I will also update the other issue as well to prevent confusion. We will also update the doc to make this more clear.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-15 23:25] Heidilohr commented on #27837
Doc has been updated. #please-close

[2019-08-15 23:25] #27837 closed

[2019-08-15 23:25] TravisCragg-MSFT commented on #27933
@sochan1 This issue has re-surfaced, and I want to clarify the SKU mappings

ErGw1Az = Standard
ErGw2Az = High Performance
ErGw3Az = Ultra Performance

We will be updating the document to reflect this as well.

[2019-08-15 23:25] Heidilohr commented on #27827
#please-close

[2019-08-15 23:25] #27827 closed

[2019-08-15 23:30] Heidilohr commented on #27761
#please-close

[2019-08-15 23:30] #27761 closed

[2019-08-15 23:35] pelon34 commented on #37162
Thank you guys for looking into this. Unfortunately Saket's response does not answer the concern.  We are not talking about postponed recommendations I referred specifically to Dismissed recommendations and the question is simple. When you dismissed a recommendation, how long will it still show up under the Postoned and Dismissed Tab before it will disappear for good and can no longer be Activated

[2019-08-15 23:37] mialdrid commented on #27933
Updating documentation to outline Megabits per second, Packets per second, Connections per second and VPN Gateway and ExpressRoute Coexistence for each SKU:
ErGw1AZ
ERGw2AZ
ERGw3AZ

[2019-08-15 23:37] Heidilohr commented on #27151
This feature has been deprecated. #please-close

[2019-08-15 23:37] #27151 closed

[2019-08-15 23:43] saket-ms commented on #37162
It will be under "Postponed and Dismissed" tab forever unless the recommendation itself is gone.
Also, if it's gone and comes back again, it will start showing up under this Tab.

[2019-08-15 23:48] FrankHu-MSFT commented on #37139
Hello, @AlekseySokol is this a question related to AAD Connect and the supported topologies?

It sounds like you're asking if there's a way to have two forests with the same routable UPN.

Per : https://social.msdn.microsoft.com/Forums/en-US/d9439124-157a-4363-82a9-a41e47d9eb1c/multiple-ad-forests-with-same-routable-upn-suffix?forum=WindowsAzureAD

_these are only supported topology with Azure ad

[2019-08-15 23:49] FrankHu-MSFT commented on #37139
@AlekseySokol Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-15 23:53] #36659 closed

[2019-08-15 23:54] activeNathan opened #37204 "Examples don't work"
I run example in browser by clicking provided link. See documentation: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code

I copy the code from resulting url and go to next example, https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token, and click on run in postman - it imp

[2019-08-15 23:59] MicrosoftGuyJFlo commented on #37179
This is a question you would want to pose to your licensing sales contact. The only information I can provide is what is mentioned in the document https://docs.microsoft.com/azure/active-directory/authentication/concept-password-ban-bad#license-requirements

[2019-08-16 00:02] MicrosoftGuyJFlo commented on #37168
The current preview has not been tested on MacOS

[2019-08-16 00:04] zuboje commented on #37168
I understand that, but your documentation does not indicate this, so assumption is that it is working and at least web page should return "this feature is not supported on Mac OS" not 404 error.

[2019-08-16 00:05] Karishma-Tiwari-MSFT commented on #37087
I have created the PR with the update, changes will be live shortly.

[2019-08-16 00:05] #37087 closed

[2019-08-16 00:09] Mike-Ubezzi-MSFT commented on #37142
@garrylean Can you detail the information in the activity log and are you working with a specific Azure Service for which you expect to see these two items? Thank you for the additional detail, minus any sensitive information specific to your subscription.

[2019-08-16 00:10] ecfan commented on #36560
@ToMakeSense & @PramodValavala-MSFT, thanks for finding and determining which UX needs updating in this topic. I've opened a work item and have a PR in progress to get this content updated.

[2019-08-16 00:12] Karishma-Tiwari-MSFT commented on #37123
I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/85634

[2019-08-16 00:13] MicrosoftGuyJFlo commented on #37157
@amang2205 The device here is the device where the Microsoft Authenticator app is installed. Mobile devices running iOS or Android can only be registered. There is a limitation in the Microsoft Authenticator app that only allows the device to be registered in one directory. This is why this section exists as many of our testers (myself included) ran into this limit.

Looking at my iPhone I can ope

[2019-08-16 00:13] TravisCragg-MSFT commented on #37185
@bultaf14 The doc has been updated, and the changes should reflect within 24 hours. Please let me know if you need any additional clarification.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-16 00:13] #37185 closed

[2019-08-16 00:14] clineer opened #37205 "Deadlink on the page"
The swagger details link to https://docs.microsoft.com/en-us/connectors/x12/ is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edfb3392-64c3-2382-38c1-4b30505687d7
* Version Independent ID: 2c96d1c4-b949-6c9c-d076-be9ebaf6a276
* Content: [X12 messages for B2B enterprise integration - Azure Logic Apps](https://do

[2019-08-16 00:15] KranthiPakala-MSFT commented on #37187
@payamab Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-16 00:17] Sas002 opened #37206 "azure linux diagnostic extension fileLogs"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute - Linux Diagnostic Extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux)
* Content Source: [articles/virt

[2019-08-16 00:18] KranthiPakala-MSFT commented on #37187
@Minewiskan Could you please have a look at the above ask? - Thanks!

[2019-08-16 00:19] Karishma-Tiwari-MSFT commented on #37140
@mani0070 Can you please specify which part of the doc are you suggesting update for? Please let me know.

[2019-08-16 00:42] FrankHu-MSFT commented on #37204
@activeNathan Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37199
@activeNathan Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37197
@theheatDK Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37194
@suhaspan Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37188
@kartheekakkur Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37186
@jurajgh Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37183
@agrabhi Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:42] FrankHu-MSFT commented on #37173
@calebcoverdale Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:47] FrankHu-MSFT commented on #37188
Hey @kartheekakkur  can you please provide the error that you're getting from the command you're running?

[2019-08-16 00:47] FrankHu-MSFT commented on #37194
Hey @suhaspan which authorization flow are you using? If you're utilizing the client credential flow with application permissions it will most likely not work properly.

[2019-08-16 00:51] FrankHu-MSFT commented on #37204
Hey @activeNathan  the reason you're getting this error is because you haven't done the admin consent part, assuming you've replaced the client id, tenant id accordingly. the permissions that you're requesting need to have admin consent, or you need to have the proper role to be able to grant dynamic consent.

I suggest reading through : https://docs.microsoft.com/en-us/azure/active-directory/deve

[2019-08-16 00:52] FrankHu-MSFT commented on #37172
@FabianGCZ Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 00:57] FrankHu-MSFT commented on #37173
@calebcoverdale  thanks for letting us know about this, we're currently looking into the issue and will change the docs accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-16 00:58] KrishnaG-MSFT commented on #37177
@AdamMirza Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-16 01:01] KrishnaG-MSFT commented on #37198
@wfemichel Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-16 01:03] chadcarlton commented on #37179
I dont understand the Note... This is what is written on the page " On-premises Windows Server Active Directory users that not synchronized to Azure Active Directory also avail the benefits of Azure AD password protection based on existing licensing for synchronized users."

What does that mean?

[2019-08-16 01:03] avi2183 commented on #37125
@jakaruna-MSFT Not Really! Actually i posted here since it was a issue and if somebody has done it before.

[2019-08-16 01:13] MarileeTurscak-MSFT commented on #37025
Hi @dangershin

Looks like there is a workaround for this posted here. You can use a perl command to get rid of the line breaks:

[code]

Have you tried this? https://serverfault.com/questions/848168/putting-rsa-keys-into-azure-key-vault

See also: https://github.com/Microsoft/azure-pipelines-tasks/issues/4715

This might be considered more of a product feedback than doc feedback, unless you think

[2019-08-16 01:20] KranthiPakala-MSFT commented on #37039
@rajukum Thank you once again for reporting the issue. I have submitted a PR to update the script to support ADF V2. The changes will be merged once the PR is approved. The document should be updated anytime sooner.

I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2019-08-16 01:40] kartheekakkur commented on #37188
Key vault service does not have proper permission to the storage account

[2019-08-16 01:43] vitaly-livshits opened #37208 "Limit of 12 rules"
"This scheme enables messaging entities to declare up to 12 authorization rules in their description that grant rights on that entity."

Has this limit been removed? Portal seems to allow more than 12 rules to be created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6772544-9a3d-c24c-cdc4-0ffc7cab680f
* Version Inde

[2019-08-16 01:54] MarileeTurscak-MSFT commented on #37133
Hi @ashuthinks,

Since this is a product question and is unrelated to the documentation, the right place to post this is in MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

Per my understanding, the token is part of the response returned from the authorization server to the client server. I do not think it would work if the cookies were turned off.

This link might b

[2019-08-16 01:55] MarileeTurscak-MSFT commented on #37133
If you have further questions feel free to post to MSDN as that is the proper forum for product questions. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-08-16 01:55] #37133 closed

[2019-08-16 02:08] MoRMongol commented on #36892
@roygara Thank you so much for your guidance here. I have already emailed the Files product team directly and am looking forward to their response. I am eager to learn whichever way that works. If, for some reason whether it be high volume of requests or workload that the Files team has, they don't respond, would you be able to help me with it? For example, you can just snip your screen of the ste

[2019-08-16 02:17] blueelvis commented on #37092
@MicahMcKittrick-MSFT - Please reopen this issue. The issue is not about the resource name but rather about the **Environment Variables** as you can see from the error message and the complete post which I have written above. There is no issue with the resource name.

[2019-08-16 02:18] #37123 closed

[2019-08-16 02:57] rockboyfor opened #37209 ""Outbound connectivity for IP address ranges" content format"
There are user suggest to update "Outbound connectivity for IP address ranges" format according to the another article format(https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture#outbound-connectivity-for-ip-address-ranges) which is more clear and user friendly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-08-16 03:00] DixitArora-MSFT commented on #37205
Hi @clineer Thanks for reaching out. We will review and update as appropriate.

[2019-08-16 03:03] sennz commented on #34265
I think better to leave this and change the name to Laravel. It is useful for Laravel developers.

[2019-08-16 03:04] garrylean commented on #37142
@Mike-Ubezzi-MSFT Hi, I don't think we do any outstanding things, just started our Azure project. One of tasks is quite simple - when I see the internal operation in Azure activity log, I want to get it's user-friendly name. So, is it a doable thing to have the complete list of operation names as a dictionary? The requested JSONs from Activity log go below without GUIDs and NAMEs:
Microsoft.Securi

[2019-08-16 03:06] DixitArora-MSFT commented on #36992
@Planche95 My recommendation in this case would be to raise this at [Azure Functions Repo ](https://github.com/Azure/Azure-Functions/issues)which is been directly looked by Azure Function Product Group. This specific platform is for doc bugs or improvement. If you have any other question specific to product , it would be best if you can create the product issue to the official Azure Functions Repo

[2019-08-16 03:07] DixitArora-MSFT commented on #36934
@opticyclic Just following up if you have any further questions regarding this.

[2019-08-16 03:11] ashwinksharma opened #37210 "Role Proliferation"
Hi

I think using Attribute Based Access Control (ABAC) as opposed to Roles Based Access Control (RBAC) is a more sustainable approach moving forward.  There are so many variable and so many possible combinations of permissions to reflect in a role that makes it impractical to realise all the required roles.   This page is a good example of the unsustainable nature of what I am referring to. But t

[2019-08-16 03:13] linruhui commented on #31879
@cephalin May I know what's the current status on the data collecting?

[2019-08-16 03:20] TravisCragg-MSFT commented on #36809
@saif-chaudhry Thanks for the additional info, I was able to reproduce this. I am going to gather some more information about what & why this is happening, and I will follow up here.

My Error:
Failed to save network security group for network interface 'travlb-vm1482'. Error: Specified Allocated Outbound Ports 31992 for Outbound Rule Trcragg-LBSNAT/providers/Microsoft.Network/loadBalancers/xxxxxx

[2019-08-16 03:22] visokoo opened #37211 "Is this GA in Azure China as well?"
Is this GA in Azure China as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Azure Shared Image Gallery](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries)
* Content

[2019-08-16 03:24] smflorentino opened #37212 "What are the ACUs for Da_v3 and Ea_v3 series VMs?"
The ACUs for Da_v3 and Ea_v3 VMs are missing. Can someone add them?
https://azure.microsoft.com/en-us/blog/announcing-new-amd-epyc-based-azure-virtual-machines/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b9177e-fd0f-84ce-f02e-b32c04e1217c
* Version Independent ID: b44a31b5-5fe9-9e03-08f6-709aa90cffeb
* Content: [

[2019-08-16 03:49] formulahendry commented on #36983
`ret = __FAILURE__;` should be changed to `ret = 1;`
Please update it.

[2019-08-16 03:55] mydiemho commented on #31001
Do we have any updates on Javascript samples?

[2019-08-16 03:55] TatChu opened #37213 "Failed to restore backup from deployment slot"
I tried several times to restore a backup, but got this error:
- Operation name: Slots
- Error code: ResourceOperationFailure
- Error message: The resource operation completed with terminal provisioning state 'Failed'.
- Error properties:
[code]

I resolve temporary by delete deployment slot and re-create then it work fine.

[2019-08-16 04:18] jonstronggit opened #37214 "Doc. should list out users should set up Certificate (get/list) and Secret(get) in Key Vault Access Policies"
Doc. should list out Certificate (get/list) and Secret(get) Key Vault Access Policies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on an Azure CDN custom domain](https://docs.micr

[2019-08-16 04:24] AjayKumar-MSFT commented on #37169
@way2arun, Thanks for posting the question! To better assist you, could you please share the Azure doc for which this feedback is applicable to and also provide more details on your query/scenario?

[2019-08-16 04:31] AjayKumar-MSFT commented on #37174
@BookHsu, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-08-16 04:40] AjayKumar-MSFT commented on #37175
@jelliott7, Thanks for posting this question! To better assist you, could you please share the Azure doc for which this feedback is applicable to and also provide more details on your query/scenario?

Please help us help you with more details, in the interim, just take a look at this document https://docs.microsoft.com/azure/active-directory/user-help/multi-factor-authentication-end-user-troublesh

[2019-08-16 04:47] KrishnaG-MSFT commented on #37143
@itguysocal Thanks for reaching out to us, but at this time I see that the issue is self closed and it did not look like you were referring to a Azure document. In future, if you have any feedback on Azure document then we request you to please route to bottom of an Azure document where you would have Feedback section using which you can send feedback to us.

[2019-08-16 04:48] AjayKumar-MSFT commented on #37200
@scottstout, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-16 04:50] AjayKumar-MSFT commented on #37208
@vitaly-livshits, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-16 05:04] KrishnaG-MSFT commented on #37209
Assigning @sujayt for visibility and document enhancement considerations.

[2019-08-16 05:05] jakaruna-MSFT commented on #37057
@doodlemania2 Got It.
Generally this error occurs if the service principal used in the AKS cluster dont have Contributor permission on the "MC_<resource group>_<name>_<region>".

Platform is trying to create a load balancer but unable to create it.

I hope you have created a service principal on your own and used that to create a AKS cluster.
Can you please review the permissions of that service p

[2019-08-16 05:07] DashleenBhandari-MSFT commented on #37040
@jasonpnnl , Thank you so much for the update. We will update the document.

[2019-08-16 05:09] DashleenBhandari-MSFT commented on #37060
@omerzubair , Please let us know if you need any other assistance.

[2019-08-16 05:10] jakaruna-MSFT commented on #37206
@Sas002 Thanks for posting here.
Please let me know the document which you are following.
Also please describe the issue.

[2019-08-16 05:11] VikasPullagura-MSFT commented on #37211
@visokoo Thanks for the query. I am checking with the team and will update you once I hear back on this.

[2019-08-16 05:15] jakaruna-MSFT commented on #36897
@Mr-Sharma
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

Please post the feedback URL here so that it will help others users to find the feedback link and upvote.

[2019-08-16 05:15] #36897 closed

[2019-08-16 05:17] PramodValavala-MSFT commented on #36888
@abij I've confirmed with the team that both `.python_packages` and `worker_env` are set in the PYTHONPATH when running on Azure as well.

If you are using a custom docker container, then you could directly `pip install` requirements without a virtualenv as well.

[2019-08-16 05:27] AjayKumar-MSFT commented on #37213
@TatChu,
Thanks for posting the question! It appears that you’re referring to the steps outlined in this document **Restore an app in Azure** (https://docs.microsoft.com/azure/app-service/web-sites-restore#monitor-a-restore-operation) for the process and this feedback is applicable to Azure App Service doc.

Since this channel is reserved for ‘Azure docs’ questions- For doc related feedback and co

[2019-08-16 05:29] slavizh opened #37215 "Text order is incorrect"
We have the following sentence:
"The following table shows you the properties that are provided in the variable:"

Which should be followed by the table but it is followed by section "Stopping a deployment". The table is after that section. I think those should be switched so the table is right after when it is mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-16 05:35] jakaruna-MSFT commented on #37127
@mjcarrabine Thanks for the information. I will check and update you

[2019-08-16 05:42] jakaruna-MSFT commented on #37125
@avi2183 Thanks for the information. @angoyal-msft Please take care of this issue

[2019-08-16 05:43] CastleArg commented on #36820
+1 on this, it's a big pain to alter from connection string to two secrets everywhere.  Furthermore this way of providing creds will not work with Azure Functions using storage emulator.   V2 was great as it automatically got the connection string from env variables.  The code to post a simple blob with v10 is now much longer and more complex than v2.

[2019-08-16 05:53] VikasPullagura-MSFT commented on #37212
@smflorentino Thanks for your feedback. I have assigned the issue to the author for updating the document.

[2019-08-16 05:55] VikasPullagura-MSFT commented on #37212
@jonbeck7 Can you please look into the issue and update the ACU information for Da_v3 & Ea_v3 VM series.

[2019-08-16 06:33] angoyal-msft commented on #37125
@avi2183 As per your requirement it seems that you need Azure Data Factory.

You need to define a watermark in your source database. A watermark is a column that has the last updated time stamp or an incrementing key. The delta loading solution loads the changed data between an old watermark and a new watermark. The workflow for this approach is depicted in the following diagram.

![image](https:/

[2019-08-16 06:44] gs9824 commented on #37097
@PramodValavala-MSFT thanks for the swift reaction. The link you propose does not work in case it is a custom container. I get the following message : "Editing functions in the portal is not supported for function apps deployed as a docker image" and it does not show the URL

[2019-08-16 07:01] RohitMungi-MSFT commented on #37029
@nirtiac The web service mentioned in this document refers to a localwebservice that returns LocalWebserviceDeploymentConfiguration which has the method for [reload()](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.localwebservice?view=azure-ml-py#reload--args----kwargs-)
If the return type of deploy is just the [webservice](https://docs.microsoft.com/en-us/python

[2019-08-16 07:12] RohitMungi-MSFT commented on #37159
@Robotbae Yes, it looks like only [sharepoint ](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/add-sharepoint-datasources)file resources are supported as valid knowledge bases instead of web pages.

@diberry Could you please confirm the same?

[2019-08-16 07:24] KrishnaG-MSFT commented on #37215
@slavizh Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-16 07:30] ToMakeSense commented on #21817
@KetanChawda-MSFT  @vetrivelmp **Just updates of latest finding**
It's also execution one by one not batch operation in Azure portal. see below, so the looping powershell is OK.
![image](https://user-images.githubusercontent.com/6244148/63149840-d0c7cc80-c037-11e9-8e40-b81355bb2485.png)

![image](https://user-images.githubusercontent.com/6244148/63149795-b857b200-c037-11e9-8791-eb12f8ba4266.png)

[2019-08-16 07:40] msrini-MSFT commented on #35987
@mstair , Thank you for your feedback.

PR has been made: https://github.com/MicrosoftDocs/azure-docs-pr/pull/85654

[2019-08-16 07:58] abidashaik commented on #35753
Thanks for all your inputs .....I was able to make function app talk to a secure storage account by adding it into a subnet of the Vnet, which the storage account is also part of. Both Function App and storage account are part of different Resource Groups.

[2019-08-16 08:14] jakaruna-MSFT commented on #36886
@SychevIgor PR is merged and the changes will go live in few hours.

[2019-08-16 08:19] #36886 closed

[2019-08-16 08:21] julesman101 opened #37219 "This page appears disconnected from the azure blob documentation"
This page does not appear to be listed in the Azure Blob Storage documentation.  It appears to be a "floating" page.  Can you please add a link to this page in the Azure Blob Storage documentation so that it is discoverable by browsing the azure blob storage documentation?  Thanks... JD

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-08-16 08:39] Vigilante2017 opened #37220 "VPN is available but, Outbound Inter-VNET data transfers in disable/bandwidth is not available"
On Azure Calculator while calculating the estimates of Infra for one Customer It is seen that the Bandwidth pricing is not available for VPN or "Outbound Inter-VNET data transfers" Pricing is not available for your selection in the UAE North region., then how shall we calculate the pricing of VPN for the region.

And if the pricing for VPN gateway of VPN is available and if Bandwidth is not then w

[2019-08-16 08:45] PramodValavala-MSFT commented on #36948
@rjosephp Just following up here... Hope my previous comment helps.

Also, the answers on your stackoverflow thread from Clemens and Sean cover the details of how GeoDR works. Since its only metadata that is synced between the paired namespaces, any messages sent to the primary before the failover aren't copied to the secondary (_yet_) and are required to be pulled from the primary once its back u

[2019-08-16 08:45] hansmbakker opened #37221 "ARM issue and documentation on WAF for Azure Front Door"
I could not find a documentation page explaining the use of ARM templates for setting up a WAF policy for Front Door.

I found https://github.com/Azure/azure-quickstart-templates/blob/master/201-front-door-managed-waf-ruleset/azuredeploy.json and https://docs.microsoft.com/en-us/azure/templates/microsoft.network/frontdoors-allversions.

However these pages do not help me to resoIve the following i

[2019-08-16 08:48] #37067 closed

[2019-08-16 08:48] PramodValavala-MSFT commented on #37067
@markleavesley We have worked up a PR that addresses this and should reflect in a couple of hours once merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-16 08:52] SamirFarhat opened #37222 "Why to open Port 3389? Who will access my DCs from that range ?"
Hi,
There is no explanantion for why we should open the Port 3389 (Remote desktop) from the CorpNetSaw range ? What is this range and who is willing to remote desktop the DCs ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c948be62-abef-57bb-232c-97

[2019-08-16 08:59] msrini-MSFT commented on #37220
@Vigilante2017 , Thank you for your feedback. I have assigned this issue to author to update the Pricing of VPN gateway for Outbound bandwidth cost.

[2019-08-16 09:03] SamirFarhat opened #37223 "Schema extensions is not supported, how about reading additional attributes ?"
Schema extensions
You cannot extend the base schema of an Azure AD Domain Services managed domain. Therefore, applications that rely on extensions to AD schema (for example, new attributes under the user object) cannot be lifted and shifted to AAD-DS domains.

Does it mean that i cannot read non default attributes from the user attributes ? To explain, we have added attributes on the on-premises A

[2019-08-16 09:07] StephanElst commented on #35670
@davidbel Thank you for your reply. I managed to recreate the problem at a users pc and have submitted feedback with a screen recording. The titel i have used is:
Duoplus - Error when subscribing to feed. ms-organizational-access certificate conflict.

[2019-08-16 09:14] andreimoraru opened #37224 "Exclude operator for dimensions[] doesn't work as expected"
I am creating a metric alert for log using ARM template. The metric name is Average_% Free Space.

I expect the following CounterPath dimensions to be excluded, however it happens exactly the opposite - they are included in the metric alert rule (just like Include operator does)

        {
            "name": "[parameters('alertName')]",
            "type": "Microsoft.Insights/metricAlerts",

[2019-08-16 09:24] jakaruna-MSFT commented on #36857
@JimXu199545 Sorry. My old comment was wrong.
I tried with this parameters and it worked.
`.WithParameters("{\"adminUsername\":{\"value\":\"azureuser\"},\"adminPassword\":{\"value\":\"Azure12345678\"}}")`

Here i gave the json as a string. In the first comment, you had extra `{` in the beginning and end of the json string. Because of that it didnt work

[2019-08-16 09:26] javaadpatel opened #37225 "Secure clusters"
Does this work for secure clusters?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 332adf66-c461-392a-022c-6dc9e71fcf05
* Version Independent ID: c5985abe-ddc1-11e8-a6dc-f86f76ec073b
* Content: [Azure Service Fabric application resource model](https://docs.microsoft.com/en-gb/azure/service-fabric/service-fabric-concept

[2019-08-16 09:48] ctaggart commented on #36163
Thank you for adding that to the doc. I spent several hours yesterday, trying to make it work before I found it:

I requested the feature from the CosmosDB team as suggested:
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/38388004-built-in-oauth-support-for-azure-storage-tables

[2019-08-16 09:54] csmurthy opened #37226 "PowerShell Command - Parameters"
The Set-AzSqlDatabase command is failing with -MinVcore ,  -MaxVcore  parameters.
I found -MinimumCapacity is working instead of  MinVcore , but not able to find the parameter for MaxVcore.
The help shows -VCore parameter , but when I execute the command it is erroring.
"Set-AzSqlDatabase : Parameter set cannot be resolved using the specified named
parameters"

---
#### Document Details

⚠ *Do not

[2019-08-16 10:11] HannahHsiao opened #37227 "Standard Certificate amount is different from https://azure.microsoft.com/en-in/pricing/details/logic-apps/"
Standard Certificate amount is different from https://azure.microsoft.com/en-in/pricing/details/logic-apps/, pricing page Certificate amount is 1000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [Limits and c

[2019-08-16 10:18] SamirFarhat opened #37228 "Is Configuring DNS required or optional ?"
Hi,
Is the DNS configuration required ? What if i point my VMs NICs to the IPs, instead of of a VNET wide configuration ?
We have a mixed environment, and we don't want to change the DNS configuration of our VNET's DNS.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db354a18-aec3-a624-eb0b-de969d753909
* Versio

[2019-08-16 10:29] AndyDring commented on #37144
Hi @FrankHu-MSFT ,
The entry for 1.3.20.0 states 'Allow database name to be entered during install (default name ADSync)'. So if the database name is changed for each sync engine, they could co-exist, from a technical perspective.

Is this a supported scenario?

[2019-08-16 10:31] KetanChawda-MSFT commented on #37227
@HannahHsiao Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-16 10:36] angoyal-msft commented on #37226
@csmurthy Thanks for your feedback. I have tried executing the same command, it is working fine for me. Could you please confirm whether your are executing this on SQL database. Also, could you please share the command you are executing.

Below is the screenshot of command which I have executed:

![image](https://user-images.githubusercontent.com/43370663/63162251-ae39b180-c03f-11e9-9e16-277a6072f

[2019-08-16 10:37] nfnpmc opened #37229 "Circles"
Quickstart: .NET SDK link goes back to the start page of this series!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f350f59c
* Content: [Use prediction endpoint to programmatically test images with classifier - Custom Vision - A

[2019-08-16 10:42] csmurthy commented on #37226
Hi

Correct , but it does not work under serverless database context.
Please check if this is working for -RequestedServiceObjectiveName GP_S_Gen5_1
If you see the PS example mentioned in the page https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless
There are parameters like MinVCore and MaxVCore , I am referring to that

Regards
Murthy

From: angoyal-msft <notifications@git

[2019-08-16 11:25] angoyal-msft commented on #37226
@csmurthy Thanks for the further clarification on issue. But I have tried to Move database from provisioned compute tier into serverless compute tier using the command mentioned [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#move-database-from-provisioned-compute-tier-into-serverless-compute-tier).

![image](https://user-images.githubusercontent.com/43370663/631

[2019-08-16 11:28] TheMoroccanBoss commented on #33734
Do you plan on supporting Virtual Networks? Seems like a no-brainer that we'd like to secure our storage from external access, pity to lose the ability to back up our data because of it however.
Great ask and glad to let you know that we are very soon releasing support for the same. ETA – in the next quarter

I would like to circle back on this one: do we have a date? Thanks

[2019-08-16 11:37] jakaruna-MSFT commented on #37210
@ashwinksharma
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-16 11:39] jakaruna-MSFT commented on #37214
@jonstronggit Thanks for your feedback.
Please let me know the document which you are following.

[2019-08-16 11:50] jakaruna-MSFT commented on #36857
@JimXu199545 Follow this method of creating an object if you want to pass object as a parameter for the `WithParameters` function

[code]

and then use like this
`  .WithParameters(parametesObjectv1)`

Reference is here https://www.newtonsoft.com/json/help/html/CreatingLINQtoJSON.htm

I tested it and its working fine

[2019-08-16 11:52] jakaruna-MSFT commented on #36857
Related issue is here https://github.com/Azure/azure-sdk-for-net/issues/1749

[2019-08-16 12:01] jakaruna-MSFT commented on #36875
@theheatDK I checked with the internal team. Azure firewall doesn't support filtering DNS traffic now. Like you said, Its possible with Fortigate.

I will take your feedback and pass it tot he AKS team and firewall team.

Also please submit a feedback here https://feedback.azure.com/forums/217313-networking
The community can vote on this feature to get attention with the product team.

[2019-08-16 12:09] jakaruna-MSFT commented on #36875
I was going through the Azure doc for AKS.
Found this FAQ regarding regulatory compliance https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes#regulatory-compliance

[2019-08-16 12:27] Eiffelsturm opened #37232 "How to get the Baltimore Certificate inside the App Service"
There's the step missing how to download (?) the certificate for using it in the App service. The First step shows how to use the certificate for local purpose only, isn't it? So this article doesn't show how to obtain the certificate for the app service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f

[2019-08-16 12:34] tfitzmac commented on #37167
@norachuga - yes, camel casing is recommended for variables too. I'll add that to the doc.

[2019-08-16 12:35] diberry commented on #37159
@RohitMungi-MSFT @Robotbae Only documents, not URLs. That is correct.

[2019-08-16 12:39] TWolverson opened #37233 "Most of the actions are not explained at all"
There is essentially no documentation for many of the actions, for example "Send one or more messages". How do I use it to send more than one message? This documentation is totally inadequate and missing most of the content that tells you how to use the feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2aeacc5-5

[2019-08-16 12:39] theheatDK commented on #36875
Thanks @jakaruna-MSFT.
But this article states that you can use Azure Firewall or a 3rd-party firewall appliance.
For Ubuntu to be able to download security patches from *.ubuntu.com it needs access to a DNS server. I think it would be good to list the FQDN for the DNS server used by Ubuntu.
Regards Peter

[2019-08-16 12:43] jakaruna-MSFT commented on #36875
Thanks @theheatDK
@mlearned @jluk Please add your comments

[2019-08-16 12:44] bjQrnen opened #37234 "Scaling Azure SQL DB with push subscribtion"
Using a rather default configuration of transactional replication from SQL server to an Azure DB push subscriber, when the Azure DB is scaled up or down, the temporary inaccessibility of the DB causes an error on the distributor (Error: 14151, Severity: 18, State: 1). I would think this can be solved by changing a timeout value somewhere, but I have yet to find anything useful on this issue. Would

[2019-08-16 12:50] PramodValavala-MSFT commented on #36896
@henrycollet I've went ahead and created a PR to address this.

Since there is no update required on the doc, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-16 12:50] #36896 closed

[2019-08-16 12:55] #37167 closed

[2019-08-16 12:58] theheatDK commented on #36875
By the way, I am not a security or firewall expert so I might be wrong. So if this is not a risk I love to know :-)
I am just concerned by all that egress traffic to the Internet. If somebody hacks in and need to exfiltrate data there seems to be a lot of options here.

[2019-08-16 12:58] RyanHill-MSFT commented on #37028
@borys86 have you had a chance to check the .NET Standard library you're using as @cephalin mentioned?

[2019-08-16 13:05] #37159 closed

[2019-08-16 13:09] DixitArora-MSFT commented on #36934
@opticyclic For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-16 13:09] #36934 closed

[2019-08-16 13:10] #36948 closed

[2019-08-16 13:13] cephalin commented on #37044
@borys86 This looks like a bug with .NET Core SDK. I suggest you open a bug with https://github.com/aspnet/AspNetCore.

[2019-08-16 13:14] davelobban opened #37236 ""Create the first VM" inaccurate"
In
# Create the first VM
I do not see a Settings option. Instead IN Networking I can see some of the options:
&gt; Virtual network
&gt; Network Security Group
&gt; Network security group (firewall)

But I can only set
&gt; Virtual network
&gt; Subnet
&gt; Public IP
&gt; NIC network security group
(but, having set Subnet, I am advised to change nothing in NIC network security group ).

---
#### Doc

[2019-08-16 13:15] way2arun commented on #37169
Hi
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-06-01/managedclusters
there is an attribute to add server-app-id

[2019-08-16 13:32] jwargo commented on #37174
Fixed

[2019-08-16 13:33] bultaf14 commented on #37185
Thanks for the quick response and fix!

[2019-08-16 13:38] jwargo commented on #37208
@vitaly-livshits yeah, it sure does look that way. I have Engineering taking a look.

[2019-08-16 13:42] csmurthy commented on #37226
Thanks Anurag
It is working , seems I was using the wrong parameters to set the database to serverless.
I’ll check further and clarify my understanding .

Regards
Murthy

From: angoyal-msft <notifications@github.com>
Sent: Friday, August 16, 2019 4:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: S. Murty Chamarthi <murthycs@microsoft.com>; Mention <mention@noreply.github.com

[2019-08-16 13:52] PramodValavala-MSFT commented on #37130
@CastleArg Unfortunately, imperative runtime binding is only supported in C# due to the [architecture of the azure functions runtime for other languages](https://github.com/Azure/azure-functions-host/wiki/Language-Extensibility).

You can achieve some level of dynamic config for bindings using [expressions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patte

[2019-08-16 13:55] borys86 commented on #37044
Let me sum up my experience as a developer.
I have installed latest SDK, 2.2.401 and tried to follow the example by adding that one line to asquire a token on sql connection object.
It seems that by default
Data.SqlClient.SqlConnection that is loaded together with .net core is of version 4.2 and it does not includes AcccesToken property.
The solution for me was explicite definition of definotion o

[2019-08-16 13:56] borys86 commented on #37028
Let me sum up my experience as a developer.
I have installed latest SDK, 2.2.401 and tried to follow the example by adding that one line to asquire a token on sql connection object.
It seems that by default
Data.SqlClient.SqlConnection that is loaded together with .net core is of version 4.2 and it does not includes AcccesToken property.
The solution for me was explicite definition of definotion o

[2019-08-16 13:56] NavtejSaini-MSFT commented on #37226
@csmurthy Thanks for the confirmation that it is working for you. We will be going ahead and closing this thread now.

[2019-08-16 13:56] #37226 closed

[2019-08-16 13:59] NavtejSaini-MSFT commented on #37234
@bjQrnen We are checking this and will get back to you on this.

[2019-08-16 14:01] nirtiac commented on #37029
@RohitMungi-MSFT ahhh I see now that it's a localwebservice. I had been searching for a way to push updates to my scoring script to an ACI deployment just as described in these docs. Is there a way to do this within AciWebservice? I assume using update, but it's not clear from the method documentation.

[2019-08-16 14:02] NavtejSaini-MSFT commented on #37232
@Eiffelsturm We are looking into this and will get back to you on this.

[2019-08-16 14:02] DixitArora-MSFT commented on #37107
@jayhub42 Just checking if you have follow this [doc](https://medium.com/@mandur/get-azure-function-host-key-in-an-arm-deployment-template-1eb7ba03c083) and see if it helps.

[2019-08-16 14:08] DixitArora-MSFT commented on #37096
@jn-altius It can be added in existing Resource Group. The article mention the new resource group just to make it easy for manage things .

[2019-08-16 14:09] NavtejSaini-MSFT commented on #37232
@Eiffelsturm We are assigning this to the doc author for further clarity.
@ajlam Please check and provide the clarity on the downloading of certificate for app services or using the same certificate mentioned in step 1 for App services.

[2019-08-16 14:10] nishankgu commented on #36641
we are actively investigating this and suspect that it is a permissions issue that we know how to fix. Before we go through the fix, I had like to understand a few things:

1) Which region were you originally running this notebook, where your cluster creation failed due to capacity issue
2) What is the new region you are using this in
3) How did you change your region - did you recreate the worksp

[2019-08-16 14:12] jn-altius commented on #37096
Thanks.

So what causes ExtendedCode 59324 then?

[2019-08-16 14:13] jaredtait opened #37237 "Azure DevOps in Azure Government Services"
What is Azure DevOps be expected availability at any level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0757109-f5b1-f77c-9e15-9497891db841
* Version Independent ID: 01f4f175-bfb0-5146-ae7d-02a62b7448b1
* Content: [Azure Services in FedRAMP and DoD SRG Audit Scope](https://docs.microsoft.com/en-us/azure/security/co

[2019-08-16 14:22] DixitArora-MSFT commented on #37096
@jn-altius I have also tried creating it and it worked for me without any issue. Could you please try creating it again by following the doc and use the existing resource group.

[2019-08-16 14:24] DixitArora-MSFT commented on #37096
@jn-altius Is this an entirely new resource group?  Or was it used before to deploy resources into it and then you cleaned it out before trying to create new resources into it?  There are some limitations in App Service where creating certain types of apps (like a Linux app, or a consumption Function app, etc...) in a given resource group and location combination will cause it to be locked to that

[2019-08-16 14:40] antonburger-advanced commented on #31314
@ManojReddy-MSFT Something about this doesn't make sense in that case. I've been wondering the same thing, and it seems to me as though an identically named TechnicalProfile in a child file _does_ actually get merged into the TP from a parent file.

The best example of this is straight from the article ["Get started with custom policies"](https://docs.microsoft.com/en-us/azure/active-directory-b2c

[2019-08-16 14:42] jn-altius commented on #37096
No, it's a Resource Group that's been around for over a year and has 15 resources in it, including:
Shared Dashboard
Application Insights
App Service Plan
Batch Account
Event Hubs Namespace
Azure Functions (yes, some on Consumption Plan)
Storage Accounts

Maybe for test purposes I can create a new RG, but these Functions are part of a larger business process and it won't be practical going forward

[2019-08-16 14:42] NavtejSaini-MSFT commented on #37234
@bjQrnen The following document provides all the configurable values on Distribution agent. This provides the parameter for time out as well.
https://docs.microsoft.com/en-us/sql/relational-databases/replication/agents/replication-distribution-agent?view=sql-server-2017

If you are unable to find the information still, please provide versions of Sql server and type of Azure DB you are using.

[2019-08-16 14:43] yooakim commented on #33080
How can we add a feature request for setting the TTL via the CLI? @msrini-MSFT

[2019-08-16 14:49] cephalin commented on #34493
@brettcannon Sorry for the delay. I've updated the doc to reflect the new UI and it should be published sometime today. Thank you.

#please-close

[2019-08-16 14:49] #34493 closed

[2019-08-16 14:49] doodlemania2 commented on #37057
I will certainly check that! Is it possible to use the same load balancer used for Ingress that was created [here](https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip)?

[2019-08-16 14:57] bspender commented on #36402
This is very easy to repro the behavior by setting the Enterprise Apps -> User Settings -> "Users can consent to apps accessing company data on their behalf" to [No]. I hit this, too in my testing, so I am posting a suggested update to the content to at least give a heads up should this error occur...

[2019-08-16 15:00] YutongTie-MSFT commented on #36938
@lisenkaci
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-16 15:00] #36938 closed

[2019-08-16 15:01] JimXu199545 commented on #36857
OK. I will try it.

[2019-08-16 15:05] RohitMungi-MSFT commented on #37229
@nfnpmc Thanks for your feedback. It looks like the author provided links to using the SDK's to perform the same steps as the portal for different languages for users to try out the same if not done previously.

[2019-08-16 15:09] activeNathan commented on #37204
Hi Frank, thank you and appreciate your help. I would note however that the
examples appear to self contained as read:

Click the link below to execute this request! After signing in, your
browser should be redirected to https://localhost/myapp/with a code in the
address bar.
https://login.microsoftonline.com/common/oauth2/v2.0/authorize...
<https://login.microsoftonline.com/common/oauth2/v2.0/aut

[2019-08-16 15:13] DixitArora-MSFT commented on #37096
@jn-altius Follow this for limitations :  https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro#limitations

[2019-08-16 15:15] stuholden opened #37239 "Checking certificates - need more explanation"
Error 798 - advice is to check certificates - I got the P2S connection up but I can't find the certificates for Azure Gateway:

Certificate	Location
AzureClient.pfx	Current User\Personal\Certificates
Azuregateway-GUID.cloudapp.net	Current User\Trusted Root Certification Authorities
AzureGateway-GUID.cloudapp.net, AzureRoot.cer	Local Computer\Trusted Root Certification Authorities

---
#### Documen

[2019-08-16 15:16] cephalin commented on #37044
@borys86 I can't reproduce your issue in VS2019 with Core 2.2. But I'm glad you were able to get past the issue.

#please-close

[2019-08-16 15:16] #37044 closed

[2019-08-16 15:16] t-nipha commented on #37097
@gs9824 I was able to retrieve my code under the "Manage" option of my function (also deployed from Docker). It looks like (this)[https://imgur.com/EG4nfrY]. It is called the Function key. It's a little confusing to have one part be called 'code' and the other 'key,' I agree.

Disclaimer, I'm not part of the Azure Functions team!

[2019-08-16 15:16] cephalin commented on #37028
@borys86 I can't reproduce your issue in VS2019 with Core 2.2. But I'm glad you were able to get past the issue.

#please-close

[2019-08-16 15:16] #37028 closed

[2019-08-16 15:20] calewilliams opened #37241 "Single subscription utilizing multiple regions?"
For subscriptions that span multiple regions how can we direct data to each region's local workspace to meet data protection requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content: [Data Collection in Azu

[2019-08-16 15:21] sergaz-msft commented on #14815
@lkoppenol thanks for your feedback. As your issue is slight different and the original one was resolved with the workaround can i kindly ask you to open a new thread? Thanks for that!

[2019-08-16 15:28] Tiberriver256 opened #37242 "post_logout_redirect_uri only works if the base of the uri is registered in your application Redirect URIs"
It would be nice if the docs clarified that in order for a post_logout_redirect_uri to work you must have the base portion of the uri in your Azure AD application Redirect URIs.

Would have saved a couple of hours of digging and reverse engineering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30daadc7-6f55-207a-9125

[2019-08-16 15:29] gradinDotCom opened #37243 "az cli examples leave much to be desired"
My actual experience shows I need to execute:
`az resource show -n Name -g ResourceGroup --resource-type Microsoft.OperationalInsights/workspaces`
`az aks enable-addons -a monitoring -g ResourceGroup -n Name --workspace-resource-id /subscriptions/...`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 993779b5-188d-13ba-e4

[2019-08-16 15:34] MicahMcKittrick-MSFT commented on #37225
Thanks for the question! We are investigating and will update you shortly.

[2019-08-16 15:44] ferares4 opened #37244 "How to connect without organizational account"
Hi, I'm able to achieve this configuration connecting to Azure using Organizational Account, however, I want to publish a Power BI report on-premises using Power BI Report Server, I'm not able to use any other authentication mechanism like Web API through an Azure SPN. How should I achieve this?

Thanks in advance,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-16 15:46] cephalin commented on #34265
@Ahmad-Al-Ali @sennz We actually do have a basic PHP quickstart here: https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-php. The tutorial is meant to show something more involved, but still allow customers to learn things beyond a specific framework (Laravel). For example, here you learn how to set environment variables and access them, connect with Azure MySQL securely, run

[2019-08-16 15:46] #34265 closed

[2019-08-16 15:46] MicahMcKittrick-MSFT commented on #25350
Thanks for all the details @iricigor

The simplest way to raise a bug to the portal team is actually using the "Report a Bug" option in the portal

![image](https://user-images.githubusercontent.com/32313503/63179964-1b2e5680-c002-11e9-99ad-3af44ec44d1a.png)

This will prompt you to send an email to the portal team. Can you please open a bug in that fashion? As you are an FTE, you can also feel fr

[2019-08-16 15:46] #25350 closed

[2019-08-16 15:48] MicahMcKittrick-MSFT commented on #36630
@robinho81 please see my above comment and let me know if you have any questions.

I will go ahead and close this out in the meantime but if you have additional questions just let me know and we can always reopen and continue the discussion.

[2019-08-16 15:48] #36630 closed

[2019-08-16 15:58] MicahMcKittrick-MSFT commented on #37054
@elisilvajr looking over the document, I don't personally think it makes sense to add that information here. However if you feel it should be added, please send an email to @jonbeck7 and feel free to CC me. He can help to align someone on his team to determine the best place to add this info.

[2019-08-16 15:58] #37054 closed

[2019-08-16 16:05] MicahMcKittrick-MSFT commented on #37102
@subodh-dharma I did some digging but was not able to find any exact way to achieve this. I also found the correct place to ask/ request support for this would be here:

https://github.com/Azure/azure-sdk-for-python/issues

Can you please open an issue there and CC me? I will close this and be on the lookout for that CC

[2019-08-16 16:05] #37102 closed

[2019-08-16 16:10] MicahMcKittrick-MSFT commented on #37154
@andradf I will go ahead and close this out. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-08-16 16:11] MicahMcKittrick-MSFT commented on #37225
@javaadpatel I don't see anything that would cause issues using this with a secured cluster. Are you running into any issues?

[2019-08-16 16:11] hhubik commented on #36862
@timsander1 Thanks for the info!

[2019-08-16 16:12] MicahMcKittrick-MSFT commented on #36051
@garrmark just as an FYI, I will be closing this out. However, I am working offline with the SF Product team to find out if we have some documentation around this feature already ready to be published or if we need to create it. Regardless, I am closing the loop offline and will make sure to get more info added to this doc or a new doc created. It is in our backlog. Thank you for bringing this to

[2019-08-16 16:12] #36051 closed

[2019-08-16 16:16] debashish-github opened #37246 "How to get Dead letter queue message count per topic subscription in java ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-16 16:16] Adam-Smith-MSFT commented on #37219
@julesman101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-16 16:17] awbmansour opened #37247 "Security Groups of Managed Identities do not work. Only Security Groups of Active Directory Registered Apps."
This documentation need to be updated to be accurate.

It is quite clear that Security Groups of Managed Identities do not work with Azure Key Vault. Only when the Service Principles are for Azure Active Directory Registered Apps that the Security Group concept would work with Azure Key Vault.

This render the concept of Azure Key Vault as useless when it comes to securing primitives such as Conne

[2019-08-16 16:18] debashish-github commented on #37246
I do see some examples in web using NamespaceManger as shown below
NamespaceManager nsmgr = Microsoft.ServiceBus.NamespaceManager.CreateFromConnectionString(connectionString);
return nsmgr.GetQueue(QueueName).MessageCountDetails.DeadLetterMessageCount;

But this is written in .Net. Is there any equivalent API in Java ?

[2019-08-16 16:29] m8r1us opened #37249 "Reader role has access to the Azure Automation Primary and Secondary key"
The Azure RBAC Reader Role has read access to the Azure Automation Primary and Secondary key. Should the Reader Role not  have no access to Keys?

![image](https://user-images.githubusercontent.com/20727068/63182759-9409ce80-c053-11e9-97e8-7a53e397a215.png)

![image](https://user-images.githubusercontent.com/20727068/63182783-9f5cfa00-c053-11e9-90d6-cca08ac3f09e.png)

![image](https://user-images.

[2019-08-16 16:31] Adam-Smith-MSFT commented on #37221
@hansmbakker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-16 16:32] cherylmc commented on #37220
@yushwang Can you please review and update?

[2019-08-16 16:35] PaulD11 opened #37251 ""message": "Shared throughput collection should have a partition key\r\nActivityId: a9562d77-0000-0000-0000-000000000000,"
This example https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-nodejs doesn't work. I cloned the repo for node but it returns the following:
{
    "name": "MongoError",
    "message": "Shared throughput collection should have a partition key\r\nActivityId: a9562d77-0000-0000-0000-000000000000, Microsoft.Azure.Documents.Common/2.5.1",
    "_t": "OKMongoResponse",
    "ok": 0,
    "cod

[2019-08-16 16:36] YutongTie-MSFT commented on #36905
@alexmpmenezes Hi Alex, this is not a sentence that "When you deleted your resource group, Microsoft will delete all the data". But I have found two approvals for you:
1. Where is your data? https://azuredatacentermap.azurewebsites.net/ Your data is stored in the region you selected when you created your service, Microsoft will not copy your data for other uses.
2. The term of Service. https://www

[2019-08-16 16:36] KetanChawda-MSFT commented on #36944
@ReshmaNeelam Checking in to see if the above post helped answering your question.

[2019-08-16 16:37] cherylmc commented on #37152
I've updated the documentation to make it clear that you can't use Azure CloudShell for the classic/service management networking deployments.

[2019-08-16 16:37] mprabhakar2004 commented on #30588
Hey @PramodValavala-MSFT  seems it is again broken with latest runtime. Now absolute import (i.e from SharedCode.shapes import Pentagon) is no longer working with consumption plan. Please let me know if you have any update on this. After deployment when try to invoke the function following error come -

Result: Failure
Exception: ModuleNotFoundError: No module named 'SharedCode'
Stack:   File "/us

[2019-08-16 16:45] Adam-Smith-MSFT commented on #37224
@andreimoraru Thank you for the valuable feedback,we are investigating the issue.

[2019-08-16 16:45] spelluru commented on #37055
@Infinitism - Yes. You can use them. We are in the process of creating new/updating existing articles for the RBAC feature. We will publish updated articles soon (most probably next week). Sorry for any inconvenience. Thanks.

[2019-08-16 16:46] TsuyoshiUshio opened #37252 "HttpTrigger sample doesn't work for .NET"
Use an HTTP trigger as an Event Grid trigger section has a sample of .NET. However, it is for V1 functions.
Node sample works. However, .NET sample should be rewrite it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* C

[2019-08-16 16:47] Adam-Smith-MSFT commented on #37222
@SamirFarhat Thank you for the valuable feedback,we are investigating the issue.

[2019-08-16 16:49] KetanChawda-MSFT commented on #37055
@axisc can you please confirm on granular access control. Like certain roles can only access certain queues? Or certain roles can only "add" things and others can only "remove" things. as mention in the original post ?

[2019-08-16 16:51] KetanChawda-MSFT commented on #37055
@spelluru Thanks for confirming on Azure Service Bus Data Sender and Azure Service Bus Data Receiver roles.

[2019-08-16 16:54] KetanChawda-MSFT commented on #37121
@ecfan can you please share your thoughts ?

[2019-08-16 16:54] canonach001 commented on #32325
Is this issue still being actively investigated? I recently tried to deploy (this week) and the result was identical. Using a corporate Azure account, deployed in Docker under Mac OS.

Thanks

[2019-08-16 16:55] jluk commented on #36875
@sauryadas who owns this feature

[2019-08-16 16:58] Adam-Smith-MSFT commented on #37223
@SamirFarhat Thank you for the valuable feedback,we are investigating the issue.

[2019-08-16 17:00] Adam-Smith-MSFT commented on #37228
@SamirFarhat Thank you for the valuable feedback,we are investigating the issue.

[2019-08-16 17:05] Karishma-Tiwari-MSFT commented on #37104
We will now close this issue. Please come back when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-16 17:05] #37104 closed

[2019-08-16 17:05] javaadpatel commented on #37225
Hi Micah,
I'm not running into any issues, I was just curious because I didn't see
anywhere where you specify the certifcate to use, and usually when I
interacted with my secure cluster there would be somewhere where it would
allow me to specify certificate details.

On Fri, Aug 16, 2019 at 6:11 PM Micah <notifications@github.com> wrote:

[2019-08-16 17:14] amitbapat commented on #37247
Adding @Rajeev Vijan<mailto:ravijan@microsoft.com>

From: awbmansour <notifications@github.com>
Sent: Friday, August 16, 2019 9:18 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Amit Bapat <amit.bapat@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Security Groups of Managed Identities do not work. Only Security Groups of Active Directo

[2019-08-16 17:16] poochwashere commented on #36947
@ibabou Yes you nailed it on the head. We leverage this project to mount keyvault secrets into our containers and use a SP to access the secrets.
https://github.com/Azure/kubernetes-keyvault-flexvol

This has worked very well for us on standard worker nodes. We were hoping to use the AKS Virtual Node to run all of our cronjobs/jobs that run periodically and can be very memory intensive in an ACI e

[2019-08-16 17:24] amitbapat commented on #37247
@Rajeev Vijan<mailto:ravijan@microsoft.com> is the right owner for this one.

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, August 16, 2019 10:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Amit Bapat <amit.bapat@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Security Groups of Managed Identities do not work. O

[2019-08-16 17:24] twartonick opened #37256 "Who issues the ssl certs?"
Please include who issues the ssl certs withing azure, is it Microsoft issued, Digicert, or ? My enterprise security team needs to know before I can use this. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Cont

[2019-08-16 17:25] hpatel01 opened #37257 "Does geo-replication failover group for managed instance support auto failover of SQL replication subscriber ? Provide the guidance for recovery of replication topology in failover across region."
Does geo-replication failover group for managed instance support auto failover of SQL replication subscriber ? Provide the guidance for recovery of replication topology in failover across region

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cd1942-8ac7-eae9-4ac8-eb716ecd7b7b
* Version Independent ID: 559730f0-71fd-b

[2019-08-16 17:25] SaurabhSharma-MSFT commented on #37242
@Tiberriver256 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-08-16 17:26] SaurabhSharma-MSFT commented on #37241
@calewilliams Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 17:27] SaurabhSharma-MSFT commented on #37237
@jaredtait Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-16 17:27] rlauriston opened #37258 "Striim documentation update"
Hi, Sneha and Theano, I'm the docs person at Striim. I have some additional information for you, please email me at robert@striim.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ee2601-48a3-58b0-1c39-c8a761f74482
* Version Independent ID: e6eaac91-41ce-c4dc-5342-636d26183a5d
* Content: [Migrate data to Azure Cosm

[2019-08-16 17:28] SamaraSoucy-MSFT commented on #37244
@ferares4 Thank you for reaching out with your question. I will investigate and get back with you shortly.

[2019-08-16 17:30] MashaMSFT commented on #37127
Hi @mjcarrabine , thank you for contacting Microsoft! Can you please try using PowerShell to install the SQL IaaS agent in lightweight mode?

Instructions can be found here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-register-with-resource-provider

Once it's installed, please try to upgrade to full (this will cause SQL Server service to restar