[2020-05-26 06:29] Bloodyairtimer commented on #53855
Any update available? Would like to include Facebook also as an external identity provider.

[2020-05-26 06:34] CHEEKATLAPRADEEP-MSFT commented on #55550
@skamalj To resolve this issue, make sure you have provided *Storage Blob Data Owner role** on the Storage Account.

Once the storage account is created, select Access control (IAM) from the left navigation. Then assign the following roles or ensure they are already assigned.

[2020-05-26 06:41] souravmishra-msft commented on #55427
@rosanch, Thank you for sharing the details. Let me share the answers to the questions shared by you:

- To purge a deleted key vault, the user needs RBAC permission to the Microsoft.KeyVault/locations/deletedVaults/purge/action operation.
- To list a deleted key vault, the user needs RBAC permission to the Microsoft.KeyVault/deletedVaults/read operation.
- By default only a subscription administr

[2020-05-26 06:41] #55427 closed

[2020-05-26 06:42] SeaDude opened #55632 "`Deployment failed` : `Malformed SCM_RUN_FROM_PACKAGE when uploading built content.`"
I created an azure function using python runtime in VS Code. I selected `Upload`. Everything looked good until the last two lines of the output window.

**What are the troubleshooting steps for this error?**

Thank you

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version

[2020-05-26 06:49] smartpcr opened #55633 "what's recommended way to store registryCredentials"
[Enter feedback here]

we check in deployment template json file into git repo, since it contains private docker registry credential, I would like to know what's the recommended way to replace this variable for local test and deployment pipeline.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1

[2020-05-26 06:52] DixitArora-MSFT commented on #55632
@SeaDude Thanks for reaching out. We will review and update as appropriate.

[2020-05-26 06:53] souravmishra-msft commented on #55572
@bhanu7pk, If your request has **prompt=consent** or **prompt=adminconsent**, then when ever you send the request to AAD, you would always be presented with the consent page irrespective of the fact whether you have given the consent or not. This is a by design behavior.

[2020-05-26 06:54] souravmishra-msft commented on #55572
closing this thread for now. Do let us know if there any more queries so that we can reopen this thread for you.

[2020-05-26 06:54] #55572 closed

[2020-05-26 07:02] souravmishra-msft commented on #55576
@msmimart, Can you please look into this doc-update request.

[2020-05-26 07:03] pvrk commented on #54565
@jonathan-vella : The AAD team has suggested us better ways of testing connectivity for AAD than just pinging on "login" URLs. My team is incorporating them as we speak and the script will be updated to reflect the same. Since this is not a documentation issue, I recommend that we close this and continue tracking the script update via the support case.

[2020-05-26 07:04] pvrk commented on #54565
#please-close since this is not a documentation issue.

[2020-05-26 07:04] #54565 closed

[2020-05-26 07:17] VikasPullagura-MSFT commented on #55435
@Lukelumia The Spot instances are not available for Free Trail, Sponsored & Benefits Azure channels.
So you are not able to deploy spot VM. Please see this [link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/spot-vms#frequently-asked-questions) for details for Spot VM's availability.

[2020-05-26 07:18] SnehaAgrawal-MSFT commented on #55314
@awentzel Thanks again for the feedback! Your feedback has been shared with the content owner for further review.

[2020-05-26 07:18] vipulsparsh commented on #55436
@priyankareddy20  Azure Security center does not show any network related recommendations for Non-Azure Servers. The functionality with respect to Non azure servers are limited as of now.

JIT is currently only for VMs deployed through Azure Resource Manager. So these will not available for non azure servers as well.

You can have a look at full list for non azure supported feature [here](https://

[2020-05-26 07:19] VikasPullagura-MSFT commented on #55435
@roongr2k7 Can you please let me know your subscription model? If it is one of the supported model, then you should be able to deploy the spot VM.

![image](https://user-images.githubusercontent.com/48944027/82871472-4067d200-9f4f-11ea-904e-7c7a5e69d625.png)

[2020-05-26 07:20] LukeCarrier commented on #55526
It’s disappointing that the ticket has been closed without even considering navigation changes.

Never mind, it’s your product and your customer experience.

[2020-05-26 07:31] vipulsparsh commented on #55444
@priyankareddy20  ASC does not provide any network recommendations to non-azure servers.
For different other features supported on Non azure servers, you can check the list [here](https://docs.microsoft.com/en-us/azure/security-center/security-center-services?tabs=features-windows)

[2020-05-26 07:35] amanmcse commented on #55443
@ejspencer  You can try selecting Single Page Application option under Redirect URI while registering a new application.
@ronswanson22 Yes, in B2C directory you will not get SPA option.

[2020-05-26 07:35] #55443 closed

[2020-05-26 07:39] agresh07 commented on #51851
No, I found the workaround elsewhere. It was related to the partition
table's metadata not being updated properly. Thank you for your help.

On Wed, 20 May 2020 at 01:47, Mary McCready <notifications@github.com>
wrote:

[2020-05-26 07:41] cconrado opened #55635 "Add info about hybrid join"
Should say if hybrid join us possible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d879b16-5b1e-ae6e-88f5-81abedfa857b
* Version Independent ID: ecc8cf68-d39b-1061-440c-3852d1449b74
* Content: [Azure AD Connect cloud provisioning FAQ](https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/referen

[2020-05-26 07:41] SAIMMINHAS commented on #55151
Hello...

Anyone please....?????

[2020-05-26 07:42] vipulsparsh commented on #55629
@alexchen2016  Thanks for reaching out, we will have this investigated and update this thread.

[2020-05-26 07:43] KrishnaG-MSFT commented on #55618
Assigning @barbkess for visibility, review and to update ToC as appropriate.

[2020-05-26 07:44] amanmcse commented on #55498
@hpsin Thank you for pointing this out. I have updated the endpoints with v2.0 as mentioned below:

- Authorization common endpoint: `https://login.microsoftonline.de/common/oauth2/v2.0/authorize`.
- Token common endpoint:
`https://login.microsoftonline.de/common/oauth2/v2.0/token`.

[2020-05-26 07:48] vipulsparsh commented on #55625
@Calvin-Yuhui-Liu Thanks for reaching out, we will investigate and update this thread.

[2020-05-26 07:51] #55498 closed

[2020-05-26 07:58] mikehachen opened #55637 "Different documentation"
According to documentation on [Getting started with Azure Form Recognizer,](https://azure.microsoft.com/en-us/services/cognitive-services/form-recognizer/#getting-started) Form Recognizer is no longer in preview status but available globally. However virtually all of the rest of the documentation states Form Recognizer still as "in Preview". Even the API still references the preview version.
Is Fo

[2020-05-26 07:59] SumanthMarigowda-MSFT commented on #55050
@RanganathKrishnamurthy Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I have assigned this query to content author  for complete and concrete information .

[2020-05-26 08:00] amanmcse commented on #55510
@ddarling85  The cmdlets mentioned in this document requires AZ module. You should migrate to AZ module as AzureRM will no longer receive new cmdlets or features. However, the AzureRM module is still officially maintained and will get bug fixes through December 2020.

For more details, please refer to:
- [Introducing the new Azure PowerShell Az module](https://docs.microsoft.com/en-us/powershell/a

[2020-05-26 08:00] #55510 closed

[2020-05-26 08:04] sonic1981 commented on #55044
@yegu-ms I've submitted a PR for this now

[2020-05-26 08:08] vieskees opened #55639 "Azure CLI examples incorrect"
In the Azure CLI examples given on the page the following
`az deployment group delete`
should be
`az group deployment delete`

example 1.
`az deployment group delete --resource-group exampleGroup --name deploymentName`
should be
`az group deployment delete --resource-group exampleGroup --name deploymentName`

example 2.
[code]
should be
[code]
example 3.
`az deployment group list --resource-group

[2020-05-26 08:08] souravmishra-msft commented on #55612
@jeevaeastpoint, The Option to add programs is available in the portal. I did check that out now and I can see the option to add the program. Please do refer to the screenshot below:

![image](https://user-images.githubusercontent.com/54057592/82875837-8e7fd400-9f55-11ea-9727-c66c83bbc1fd.png)

Also make sure you have the prerequisites met while you are trying to create an Access Review:

- Azure

[2020-05-26 08:12] vieskees commented on #55639
Will close the issue myself, the upgraded CLI uses the commands as shown on the page.

[2020-05-26 08:12] #55639 closed

[2020-05-26 08:13] eroruz opened #55640 "Creating a new activity with SQL Server 2019 results in a version mismatch error"
After following all the steps in the documentation, my progress was halted because of the higher SQL Server version.

The document needs to be updated stating that only SQL Server versions up to 2017 are possible, or the Azure developers need to fix this and make the later SQL Server versions compatible with the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-26 08:20] Console32 commented on #52179
Are there any plans to add this to the cli?

[2020-05-26 08:21] SumanthMarigowda-MSFT commented on #55249
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-26 08:21] #55249 closed

[2020-05-26 08:22] SumanthMarigowda-MSFT commented on #55264
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-26 08:22] #55264 closed

[2020-05-26 08:22] SumanthMarigowda-MSFT commented on #55289
@challengelogic I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2020-05-26 08:22] #55289 closed

[2020-05-26 08:38] amanmcse commented on #55528
@RonnieQuan  You can refer to the code samples provided [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code?toc=/azure/active-directory/azuread-dev/toc.json&bc=/azure/active-directory/azuread-dev/breadcrumb/toc.json#web-apis). All samples include the code to get assertion.

If you are looking specifically for On-behalf-of flow, check the [Web APIs](https://docs.mi

[2020-05-26 08:46] souravmishra-msft commented on #55243
@jeevansd, can you please take a look into this thread?

[2020-05-26 08:47] filo87 commented on #37224
Is there any update regarding the roadmap of when the Exclusion dimension type will work for metric alerts?

[2020-05-26 08:52] amanmcse commented on #55529
@pravin197 When we expose an Azure AD registered application as API, we can set only one App ID URI, which is used to identify that API. For example, if we expose MyApp1 as as an API, and set the App ID URI as https://myverifieddomain.name/myapp1, this URL will be used to access this API and the scopes configured under it. We cannot have mulitple App ID URIs configured on a single app.
So to answe

[2020-05-26 09:00] imeya opened #55642 "How to add a custom Application insights TelemetryProcessor to webjob v3?"
I followed this doc to create a .net core 3.0 console project and using webjob 3.x sdk.

What I want to do is to add a custom Application insights TelemetryProcessor, I tried the following code:

   builder.ConfigureServices(services =>
            {
              //it works
               //services.AddSingleton<ITelemetryInitializer,CustomTelemetryInitializer>();

             //it does not work

[2020-05-26 09:11] BhargaviAnnadevara-MSFT commented on #55564
@jmoralesv You could remove the ikey from your local configuration so telemetry isn't pumped to Azure. Similar ideas have been discussed [here](https://stackoverflow.com/questions/49311265/application-insights-how-to-exclude-localhost) and [here](https://stackoverflow.com/questions/35370209/how-to-ignore-localhost-on-azure-application-insights).

[2020-05-26 09:12] databasedav opened #55644 "add docs for partition key/composite index relationship"
The docs for composite indices don't include partition key related considerations among the otherwise very well documented considerations. Notes on partition keys should be added, right? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3aeab4a-343d-b492-f9dc-a3233a117101
* Version Independent ID: 075ccfaf-9b5c-a

[2020-05-26 09:26] Johnnytechn opened #55645 "Is URL right?"
Are you sure the URL in the text is available?
![](https://github.com/Johnnytechn/myimages/raw/master/Annotation%202020-05-26%20163834.png)
The following is the result of the visit under my account, the letter case is tried, the results are the same.
![](https://github.com/Johnnytechn/myimages/raw/master/profiler_settings_test_res.png)

https://docs.microsoft.com/en-us/azure/azure-monitor/app/prof

[2020-05-26 09:37] Lukelumia commented on #55435
@VikasPullagura-MSFT Thanks for the clarification, this explains why it is not working for spot instances.

[2020-05-26 09:40] #55528 closed

[2020-05-26 10:05] steveculshaw opened #55646 "Add detail on using Schema Validation"
It would be nice to have at least an indication that the HTTP request trigger has a setting "Schema Validation" which "does what it says on the can", i.e. it will return a 400 if the JSON request doesn't validate against the defined JSON schema

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac80fef5-80b1-8084-394e-3328

[2020-05-26 10:07] amanmcse commented on #55245
@kmleow Thank you for sharing your findings. I think this information is more suited for the Salesforce user provisioning document rather than this document. I will check with the document author to see if we can accommodate this information in salesforce user provisioning document.

[2020-05-26 10:07] #55245 closed

[2020-05-26 10:16] VikasPullagura-MSFT commented on #55580
@JessAtrust As this channel is for driving improvements for Azure Documentation, this document will be updated once the Linux SDK is available.

 I request you to post your road map queries on Azure Feedback [here](https://feedback.azure.com/forums/34192--general-feedback).

Also, you can post your query in [WVD Tech community ](https://techcommunity.microsoft.com/t5/windows-virtual-desktop/bd-p/W

[2020-05-26 10:16] #55580 closed

[2020-05-26 10:25] RohitMungi-MSFT commented on #55502
@JonathanPalmerGD Are you referring to the endpoint usage reference mentioned [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/developer-reference-resource)? For the versions prediction endpoint this should be the URI

`https://{your-resource-name}.api.cognitive.microsoft.com/luis/prediction/v3.0/apps/{appId}/versions/{versionId}/predict?query={query}[&verbose][&log][&show-all

[2020-05-26 10:27] cephalin commented on #54376
@bavilo since this is Functions related I'm going to assign to @ggailey777

#reassign:ggailey777

[2020-05-26 10:34] AjayKumar-MSFT commented on #55642
@imeya, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-26 10:40] v-tawe opened #55647 "Confusion about default local cache size"
In the How the local cache changes the behavior of App Service section, the following is said:

But then later in the Change the size setting in Local Cache section, it says something different:

So which one is the default? Or are these different things?

---
I have seen this article has been updated recently. The default local cache size has been changed from **300MB** to **1GB**, but still has

[2020-05-26 10:44] VikasPullagura-MSFT commented on #55357
@JordanSimba I checked with internal team on your ask, there is no ETA on the this yet.

However, I would recommend to post/vote in [Azure Feedback](https://feedback.azure.com/forums/602224-azure-container-instances) on this ask. Product team prioritizes region expansion based on the feedback.

[2020-05-26 10:44] #55357 closed

[2020-05-26 10:44] cephalin commented on #53780
@azahran007 The step to use the environment variable to run the migration is documented here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb#run-database-migrations-to-the-production-database

#please-close

[2020-05-26 10:44] #53780 closed

[2020-05-26 10:47] cephalin commented on #45968
@Eric-camplin Hi Eric! Sorry for the delay. I updated the article a month ago but forgot to write back here. Thanks for your feedback. #please-close

[2020-05-26 10:47] #45968 closed

[2020-05-26 10:55] cephalin commented on #46425
@Richards706 Sorry for the delay in response. Actually, the project used in this tutorial is a very vanilla ASP.NET CRUD application. From the initial inception of the doc, it has always been our goal to give customers something applicable, so actually one of the requirements for our tutorial samples is "no magic here". We go from a very standard ASP.NET EF CRUD app.

We don't show you how to deve

[2020-05-26 10:55] #46425 closed

[2020-05-26 11:04] cephalin commented on #52869
@KirillOsenkov Sorry for the delay. Actually we do have it documented here: https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to.

We also have a more in-depth tutorial here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad.

I'll add links to both in this article. Thanks.

#please-close

[2020-05-26 11:04] #52869 closed

[2020-05-26 11:08] LarsAndreasEk opened #55648 "FrontDoor Cache duration setting - what is it for?"
Hi,

According to the docs, Front Door cache respects upstream cache headers. If no cache headers are present, the docs state it selects a random cache expiration between 1 and 3 days. This is all fine.

What I struggle to understand is what the "Cache duration" settings (number of days, hours, minutes, and seconds) in the Front Door designer is good for. When do these values take effect, in what

[2020-05-26 11:26] SychevIgor opened #55649 "Feature flags are no longer in preview. or at least ux had changed"
Screenshot require an update. it's no longer in preview.
https://docs.microsoft.com/en-us/azure/azure-signalr/media/signalr-concept-azure-functions/signalr-service-mode.png

Currently this control looks like
![image](https://user-images.githubusercontent.com/578954/82895461-ec63ea00-9f5c-11ea-8b29-8d32adbb671f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-26 11:36] mikanyg opened #55650 "APPLICATIONINSIGHTS_CONNECTIONSTRING not matching Azure Monitor docs"
The document states that the key name for App Insights connection string is
`APPLICATIONINSIGHTS_CONNECTIONSTRING` but when looking at ARM templates created by the Azure Portal and in the [Azure Monitor docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sdk-connection-string?tabs=net), the key name is different, it is:
`APPLICATIONINSIGHTS_CONNECTION_STRING`

Im guessing the ARM templa

[2020-05-26 11:39] #55570 closed

[2020-05-26 11:40] DixitArora-MSFT commented on #55650
Hi @mikanyg Thanks for your feedback. We will review and update as appropriate.

[2020-05-26 11:41] VikasPullagura-MSFT commented on #55570
Doc updated, changes will go live soon.

[2020-05-26 11:41] DixitArora-MSFT commented on #55646
Hi @steveculshaw Thanks for your feedback. We will review and update as appropriate.

[2020-05-26 11:42] arvinder-dhar opened #55651 "Powershell example for Last sync time"
Hello Team,

Under **Important implications of account failover** you have mentioned way to check **Last Sync Time** via powershell but not given complete cmdlet for the same, if possible can you please add this and that way it will be good for the reader.

**Get-AzStorageAccount -ResourceGroupName <RG-name> -Name <storage-account> -IncludeGeoReplicationStats | select -ExpandProperty GeoReplicatio

[2020-05-26 11:46] cephalin commented on #47593
Sorry all for being late to the discussion. And @timatactia Thanks for contributing.

The essence of the issue is: App Service only gives you the information you need to implement TLS by requiring a certificate in client requests and supplying it to your application code through standard request headers. Getting the client certificate is basically as much as reading the request header, and then af

[2020-05-26 11:48] knightmeister opened #55652 "Free account contradicts previous announcement"
The section for "Free' says "time limited". This directly contradicts the post here: https://azure.microsoft.com/en-us/updates/azure-cosmos-db-free-tier-is-now-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75154d08-47ff-fa53-1dab-73f67208a864
* Version Independent ID: dcb50b3c-b00b-cee8-3dfe-7f5636483f0b
*

[2020-05-26 11:50] hansmbakker opened #55653 "Performance to expect"
When using the SQL Server docker image it is useful to be able to persist the data, but it seems that performance when persisting to File Storage is an issue then.

It would be good for this documentation page to mention some usecases or performance expectations on this page.

A workaround could be to put the `/var/opt/mssql` folder in the `emptyDir` storage and make e.g. an hourly backup of it to

[2020-05-26 12:12] ram-msft commented on #55299
@Tirumala-K Please use the <voice name="en-US-AriaNeural"> in the SSML snippet.

![image](https://user-images.githubusercontent.com/49180516/82899086-02cb6f00-9f78-11ea-8fc1-c37044538747.png)

[2020-05-26 12:38] RJGJanssen opened #55655 "App Service Certificate is not issued"
Hi All,

When adding a newly but certificate i'm getting the following error message when adding it to my App Service / TLS/SSL settings: "App Service Certificate is not issued"

After i bought the certificate, i could find it in the App Services Certificate part in Azure, but now i can't find it anymore, this also applies to the vault i've created in step 1 when verifying the certificate.

It see

[2020-05-26 12:42] jeevaeastpoint commented on #55612
@souravmishra-msft Ha... I might be confused between the Azure AD PIM and Identity Governance service. I was looking for the Access Program review within Azure AD PIM. Why do we have two services kind of doing the same thing... Is "Identity Governance" still going to be maintained alongside with PIM?

[2020-05-26 12:45] roongr2k7 commented on #55435
@VikasPullagura-MSFT my subscription is `Visual Studio Enterprise: BizSpark`.

Thank you for your support.

[2020-05-26 12:45] #55435 closed

[2020-05-26 12:46] Vossekop opened #55657 "Is there any way to create these tokens via an API?"
Is there any way to create these tokens via an API? This would be really helpful when creating tokens for IoT devices (or is there another recommended way to do that?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9769320-10f9-bc69-5b34-ab15e18fead2
* Version Independent ID: d58f4440-c1a2-6035-fe96-b02ce7dab4ea
* Co

[2020-05-26 12:52] Andriy-dev opened #55658 "Multiple Private Peerings over Express Route Direct"
Can we create multiple Private Peerings over Express Route Direct ? The idea is to isolate Prod/Dev traffic over Express Route Direct.

So, can we maintain one Microsoft peering , Dev Private Peering and Prod Peering over Express Route Direct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ff12ef-1abb-2760-2783-522f

[2020-05-26 12:56] LukeCarrier commented on #55610
For future folks that stumble across this ticket getting errors like this or:

[code]

The issue is that Application Gateways don't respect your networking configuration. It doesn't matter if you enable any of the network security options, "allow access to trusted services", or add a service endpoint to the gateway subnet and configure a subnet allow rule: none of these options do anything. You mu

[2020-05-26 13:07] mrbullwinkle commented on #55512
@cijothomas for .NET Framework 4.7.x would we just recommend using [PerformanceCounters](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.performancecounter?view=dotnet-plat-ext-3.1) or do we need to add guidance on adding/using [Microsoft.ApplicationInsights.EventCounterCollector](https://www.nuget.org/packages/Microsoft.ApplicationInsights.EventCounterCollector) with .NET Framework

[2020-05-26 13:15] gehudd-MSFT opened #55659 "ConvertFromUTC Example 1 Output is incorrect"
ConvertFromUTC Example 1 Output is incorrect:

- Expected output: "2018-01-01T00:00:00.0000000"
- Actual output: "2018-01-01T00:00:00Z"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions

[2020-05-26 13:16] srvbpigh commented on #43219
Hello, @CeciAc

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 13:16] srvbpigh commented on #24559
Hello, @javierruizjimenez

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 13:18] brink668 opened #55660 "Still in Preview?"
[Enter feedback here]
Is this feature still in Azure Preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f77b32-b5d1-9c2e-dfd4-7ad191dbd871
* Version Independent ID: ad120312-98ef-4db4-ffca-ca11f29e5c5e
* Content: [Set up direct federation with an AD FS for B2B - Azure AD](https://docs.microsoft.com/en-us/azure/a

[2020-05-26 13:18] mrbullwinkle commented on #55564
@jmoralesv if you only want to prevent the sending of telemetry you can also use:

[https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#disable-telemetry-dynamically](https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#disable-telemetry-dynamically)

[2020-05-26 13:18] pravin197 commented on #55529
Thank you, @amanmcse

I understand that App ID URI is only a unique identifier and it does not have to be the same as the URL for the REST API application. Is that not right? for eg: i could have my REST API at "https://test-app.azurewebsites.net" but my App Registration App ID URI could be "https://testappiduri.myverifieddomain.net/"
And, then, I can have multiple scopes under a given AD registra

[2020-05-26 13:19] Michael-Kuritzky commented on #55547
@ChiragMishra-MSFT I know (now) that it can be done, I just think that adding this info to the Web Activity's doc could be helpful to those that arrived at that page from an online search (rather than comprehensive documentation reading) 😃

[2020-05-26 13:37] #55312 closed

[2020-05-26 13:44] AshokPeddakotla-MSFT commented on #55285
@suhas9844 Please try below and see if ithelps.

I haven't found an example for your scenario.

[2020-05-26 13:47] akumaranchath opened #55661 "Authorization section: Apache ranger is misspelled as 'apache range'"
Apache ranger is misspelled as range in the Authorization section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cf98993-22de-6e5e-a11c-14fc78a6a0a7
* Version Independent ID: 9e1dc9b5-df80-367a-9ed5-e30c6cbf964d
* Content: [Overview of enterprise security in Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdi

[2020-05-26 13:47] MikkelHegn commented on #52226
We don't taint the nodes per default, but recommend customers to apply some sort of filtering of nodes, beyond just nodeselectors.

[2020-05-26 13:51] souravmishra-msft commented on #55612
@jeevaeastpoint, Ahh, no problem at all. Totally understand this. Yes, I agree both doing the same thing to some extent. PIM is for providing privilege directory roles to users for sometime and review their accesses. But Identity Governance is something that you can use reviewing the accesses for applications, users groups etc. This is the only difference that I can think of.

[2020-05-26 13:57] vipulsparsh commented on #55501
@Robert-Tortorelli   I am closing this thread for now, please let us know if you have any questions, we will be glad to help.

[2020-05-26 13:57] #55501 closed

[2020-05-26 13:58] kobulloc-MSFT commented on #17676
@remcolam No worries!  I'm glad we could help clear that up.

Just like with numbers, higher percentiles are not always what you want.  When looking at race results (or perhaps response times), lower percentiles are better.  A lower percentile race time, for example, would mean that it was faster than other racers.

Using percentiles helps to separate outliers that would otherwise skew averages ju

[2020-05-26 14:00] BlackRider97 commented on #49245
Same error
[code]
When we can expect this to be fix  as it is happening since 25th May 2020 ?
App service plan: LinuxContainerAppServicePlan (P1v2: 1)

[2020-05-26 14:02] sergey-netdev opened #55662 "Provide instructions on custom dependency tracking for Javascript"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30ec91f-10cb-84ea-e325-f0c22692b8f3
* Version Independent ID: eb395d70-bd17-18f0-2e9c-96dd7970762b
* Content: [Azure Application Insights - Dependency Auto-Collection - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/auto-coll

[2020-05-26 14:04] ram-msft commented on #55299
@Tirumala-K We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-26 14:04] #55299 closed

[2020-05-26 14:05] CharmanderJieniJieni opened #55663 "Firewall settings for private link"
From the document looks like the firewall setting is only for public endpoint, and if we enable private endpoint we don't need to set this setting. Is this understanding correct?

What if we are using spoke-hub network. A SQL server resides in spoke A with private endpoint enabled, if I am now in a VM resides in spoke B, and want to connect to the SQL through Private Endpoint, is the connectivity

[2020-05-26 14:06] SnehaAgrawal-MSFT commented on #55516
@richardrobberse Thanks for leveraging Azure docs feedback channel.  I have shared your feedback with the content owner @craigshoemaker  for further review on this.

[2020-05-26 14:07] VikasPullagura-MSFT commented on #55181
@markthebault Apologies in delayed response. I checked this with internal team and this is a know limitation due to the way the proxy is controlled on the ssh sessions and SSHD itself.

However, I recommend you to post this feature request in Azure feedback [here](https://feedback.azure.com/forums/216843-virtual-machines?category_id=69541).

[2020-05-26 14:07] #55181 closed

[2020-05-26 14:09] ankitjoshi8518 commented on #23006
I am trying to run the command and I get the same error.
I can successfully telnet to my blob file share on port 445.
Tried disabling firewall and restarting the computer but the issue still persists.

$connectTestResult = Test-NetConnection -ComputerName blob2020azure2505.file.core.windows.net -Port 445
if ($connectTestResult.TcpTestSucceeded) {
    # Save the password so the drive will persist o

[2020-05-26 14:11] ankitjoshi8518 commented on #23006
I am using the command from azure portal. So the storage account and the file share do exist on azure.

[2020-05-26 14:12] SubhashVasarapu-MSFT commented on #54393
@hisasima , This doc has been edited accordingly. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-26 14:12] #54393 closed

[2020-05-26 14:14] SubhashVasarapu-MSFT commented on #55630
@hisasima , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-26 14:21] SubhashVasarapu-MSFT commented on #54608
@mathieu-benoit , The doc has been updated accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-26 14:21] #54608 closed

[2020-05-26 14:23] SubhashVasarapu-MSFT commented on #54925
@sblair01 , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-26 14:23] #54925 closed

[2020-05-26 14:23] mtrmmsoftware opened #55664 "What happens with the Reminder when the actor is deleted"
The page does not specify what happens with the reminders when the actor is deleted, are they automatically unregistered?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8258fa61-6b9b-6ad8-1b68-3774e8445c8f
* Version Independent ID: 8d0acb0a-f5d7-94b8-3236-cf1edc646554
* Content: [Overview the Azur

[2020-05-26 14:25] SubhashVasarapu-MSFT commented on #55145
@edufolios-matt , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-26 14:25] #55145 closed

[2020-05-26 14:27] SubhashVasarapu-MSFT commented on #55132
@aggerritsen , Appreciate your patience. We use tools like tcpping. (i.e. ICMP not supported with the public LB we use under the hood).

[2020-05-26 14:29] msrini-MSFT commented on #55175
@ingokofler , This command is used to Get the IP address and port number used to connect to individual VM instances within a set.

This command will not return Private IP address. If you have a Load balancer infront of your VMSS and have a NAT rule, you will be able to see the IP with port mapping in the output. If not, you will not see any results.

I have a VMSS with LB and here is the output.

[2020-05-26 14:32] SubhashVasarapu-MSFT commented on #55626
@LengZai ,  We are looking into this query and will update you as soon as possible.

[2020-05-26 14:35] ingokofler commented on #55175
@msrini-MSFT ok, so if there are no NAT rules the expectation is that there's no output. Understood.

But alternatively, what is the az cli command to get a list of the instances with their id and their internal IP addresses, so that I can login with ssh into them? I see those IP addresses on an instance level on the portal, but how to get them on the CLI?

[2020-05-26 14:36] cijothomas commented on #55512
`Microsoft.ApplicationInsights.EventCounterCollector` package is targetting netstandard2.0 - it can be used in .NET framework as well. i.e one can publish counters and have application insights collect it - all in .NET Framework apps.

The docs are biased towards .NET Core as it was from .NET Core 3.x onwards that the runtime itself started published eventcounters. But this doesn't mean one can't

[2020-05-26 14:37] SubhashVasarapu-MSFT commented on #55220
@flyingUnderTheRadar , Appreciate your patience. The GA availability date is not yet confirmed and I would suggest you to have a look at this [updates ](https://azure.microsoft.com/en-in/updates/rules-engine-for-azure-front-door-service-is-now-in-preview/)page where we will announce on its arrival.
We are closing this issue for now. If there are further questions regarding this matter, please repl

[2020-05-26 14:37] #55220 closed

[2020-05-26 14:37] osuide commented on #49010
So, wonder why you close this when loads of folk have the issue still and have followed the instructions?

[2020-05-26 14:48] VikasPullagura-MSFT commented on #55611
@ShachafGoldstein Thanks for catching this. This is a old script which was working for cleaning up unused NIC's. However, as you mentioned there are now chances that the NIC's of private endpoints can get deleted.
To avoid this, we need to add one more condition in the script for checking on the private endpoints.

I am assigning this to the doc author for updating the script.

[2020-05-26 14:51] mrbullwinkle commented on #55662
This article is about what dependency data is auto-collected by default. If you are looking to track custom dependencies you would use: [`trackDependencyData`](https://github.com/microsoft/ApplicationInsights-JS/blob/master/API-reference.md#trackdependencydata)

[code]

[2020-05-26 14:51] msrini-MSFT commented on #55175
@ingokofler , Execute the below command:

az vmss nic list --name Name--resource-group Name

  "name": "VMSS-vnet-nic01-defaultIpConfiguration",
        "primary": true,
        "privateIpAddress": "**10.0.3.5**",
        "privateIpAddressVersion": "IPv4",
        "privateIpAllocationMethod": "Dynamic",
        "privateLinkConnectionProperties": null,
        "provisioningState": "Succeeded",

[2020-05-26 14:52] ravick4u commented on #55410
@DixitArora-MSFT I am not seeing the behavior of parallel execution. Is there any special configuration for the same?

[2020-05-26 14:53] Bangarraju1005 opened #55665 "Added new tags in the Service Fabric ApplicationManifest.xml is not visible in the build output"
Hi Team,
I have checked in new tags in the Applicationmanifest file in the service fabric application,but these are not visible in the build output ,but in my local Visual studio build I could see .
FYI:I checked in few commented lines ,i am able to see those in the build output
Added tags are:
<ManagedIdentities> <ManagedIdentity Name="SystemAssigned" /> </ManagedIdentities>
Build Pipeline URL
ht

[2020-05-26 14:56] diberry commented on #55502
@RohitMungi-MSFT Active version is only a concept for the LUIS portal. When using APIs, the version is explicitly set with {versionId}.

[2020-05-26 15:01] softchris opened #55666 "Errors due to being on too low version of az-cli - please add instruction to upgrade in the docs"
[Enter feedback here]

Because I was on version 2.0 and not 2.6 I got a ton of errors below:

az deployment group create gives and error `group` is not a command.  Also changing the command slightly to not include the `group` and now look like this:

[code]

doesn't help either.

Cause now it won't take `--resource-group`. I end up changing the command to:

[code]

Solution:

Please add a row in t

[2020-05-26 15:07] dakraft opened #55667 "Q&A link is 404 error"
https://docs.microsoft.com/en-us/answers/topics/azure-active-directory - Q&A link 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d043ad9-0da6-de81-d1ae-be0de39abe66
* Version Independent ID: 2f4a4508-4968-9681-01e7-1cc8bc1dfad4
* Content: [Building a Conditional Access policy - Azure Active Directory](https:

[2020-05-26 15:09] ankitjoshi8518 commented on #23006
You can close it. It was issue with my laptop's NTLM registry settings.
found the troubleshooting script from Technet and identified issue

https://gallery.technet.microsoft.com/Troubleshooting-tool-for-a9fa1fe5

[2020-05-26 15:10] cahann commented on #55213
@Micpic3 can you please share the JSON file that you are importing?

[2020-05-26 15:18] GiftA-MSFT commented on #55637
@mikehachen we will review your feedback and get back to you shortly. Thanks.

[2020-05-26 15:19] nzthiago opened #55668 "Secure an HTTP endpoint in production should include Private Site and Private Endpoint (Inbound) options too"
I'd recommend adding to the "Secure an HTTP endpoint in production" a new sub-section and add that Private Site (Service Endpoint) is also an option with links to these:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#private-site-access
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-private-site-access

Once Private Endpoint (Inbound) i

[2020-05-26 15:19] SamaraSoucy-MSFT commented on #55198
@awentzel One of the things a [resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/manage-resource-groups-portal) does is hold metadata about a service within it. If the service or feature is not available in the resource group location, it may not be able to generate the appropriate metadata for that service.

A [resource provider](https://docs.microsoft.com/e

[2020-05-26 15:19] #55198 closed

[2020-05-26 15:20] psmanhas commented on #55489
@KehindeOwens can you please elaborate more on the issue which will help me in assisting you better.

Are you referring to Conditional Access Policies or the Azure Policy which we have in place to deny the access?
What will be the scope of the policy?Will it be for all the users including the admin. or will it for specific user.What is your end goal?

Moreover have you tried creating a policy to r

[2020-05-26 15:21] JordanSimba commented on #55357
Thank you for the response. @VikasPullagura-MSFT I will follow up.

[2020-05-26 15:22] jmoralesv commented on #55564
Thanks @BhargaviAnnadevara-MSFT but those examples mentioned ApplicationInsights.config which no longer exists in .NET Core 3.x.

Thanks @mrbullwinkle I think that could work as it's for .NET Core 3.x, I'll test that out in my local environment today and see how it goes, thank you!

[2020-05-26 15:22] SumanthMarigowda-MSFT commented on #55633
@smartpcr Thanks for the question! We are investigating and will update you shortly.

[2020-05-26 15:23] SatishBoddu-MSFT commented on #55406
@Marusyk Please let us know if you need further help.

[2020-05-26 15:24] SumanthMarigowda-MSFT commented on #55640
@eroruz Thanks for the question! We are investigating and will update you shortly.

[2020-05-26 15:25] dandenton opened #55670 "Incorrect statement about SQL Query collection in ASP.NET Core applications"
The section for **Advanced SQL tracking to get full SQL Query** states

but that isn't true as of AI SDK 2.14.  https://github.com/microsoft/ApplicationInsights-Announcements/issues/28

It is now required to opt-in to SQL Text collection by using
`services.ConfigureTelemetryModule<DependencyTrackingTelemetryModule>((module, o) => { module. EnableSqlCommandTextInstrumentation = true; });`

---
####

[2020-05-26 15:28] SubhashVasarapu-MSFT commented on #55147
@Bunzab , Appreciate your patience. You should be able to enable diagnostic settings for APPGW in Azure using a Resource Manager template with help of this [doc](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template). You need to tweak the parameters with the actual values like,
[code]
We are closing this issue for now. If there are further questions regarding

[2020-05-26 15:28] #55147 closed

[2020-05-26 15:29] hansmbakker opened #55671 "Virtual Kubelet disk performance limitations?"
In the section "Known limitations" I see nothing about disk performance limitations.

However since Virtual Kubelet is based on ACI which does not have good disk IO performance and which does not support Managed Disks, doesn't this limitation also apply to Virtual Kubelet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-26 15:30] SubhashVasarapu-MSFT commented on #55342
@frehnejc , I was wondering if you have had a chance to look over our previous reply yet?

[2020-05-26 15:32] BharathNimmala-MSFT commented on #55639
@vieskees Glad to hear the issue is resolved , feel free to revert back if you have any further queries. Thank you

[2020-05-26 15:53] SaurabhSharma-MSFT commented on #55667
@dakraft I am able to go to the Q&A link without any issues. Are you referring to any other link ?
![Q A link](https://user-images.githubusercontent.com/38112130/82922269-3b465b00-9f2e-11ea-844f-b7c681619b41.gif)

[2020-05-26 15:56] SaurabhSharma-MSFT commented on #55660
@brink668 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-26 15:56] shashishailaj commented on #55561
@aruwo17 I agree with you and my apologies if my response came across as a rebuttal . I was just stating our understanding . However , I completely take this feedback and would take it to the Documentation team to make it more accurate. We will now close this issue .

Thank you.

[2020-05-26 15:56] #55561 closed

[2020-05-26 15:58] benc-uk opened #55673 "Bash variable setting snafu"
Error in first bash snippet
[code]

Should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service - Azure Kubernetes Service](https://docs.mi

[2020-05-26 16:01] pbaumgartner commented on #44659
Is there an update on this?

[2020-05-26 16:02] yegu-ms commented on #52045
Updated in docs.

#please-close

[2020-05-26 16:02] #52045 closed

[2020-05-26 16:04] Aryabhatta opened #55674 "Needs addition to Prerequisite: Container in temporary blob storage must exist"
I was getting following exception while loading data to Azure Synapse

	_at com.databricks.spark.sqldw.Utils$.wrapExceptions(Utils.scala:315)
	at com.databricks.spark.sqldw.DefaultSource.createRelation(DefaultSource.scala:86)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExe

[2020-05-26 16:06] SaurabhSharma-MSFT commented on #54585
@tx5westmt Were you able to sent me email with fiddler trace.
Another suggestion -
Once converged registration for guest user is enabled can you please to try the request in following format by replacing Tenant Id and Email Id -

``` https://mysignins.microsoft.com/security-info?tenant=<Tenant Id>&upn=<Email Id>```

[2020-05-26 16:07] Karishma-Tiwari-MSFT commented on #55653
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-26 16:09] Karishma-Tiwari-MSFT commented on #55671
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-26 16:09] Wenis77 opened #55675 "Container didn't respond to HTTP pings on port: 80, failing site start"
Hello, I'm trying to make a websocket server on Azure's app service but I can't figure out this problem. I have my node app running on port 80, docker starting on port 80, `WEBSITES_PORT` and `PORT` are both set to 80 in config. I have gone through many similar issues and tried things like setting startup command to `-e environment=Production -e ASPNETCORE_ENVIRONMENT=Production` ASPNETCORE_ENVIRO

[2020-05-26 16:11] Ccccche commented on #44925
Hi @Tiberriver256 have you worked this out? If not, can we get an ETA for this from Miscrosoft?

[2020-05-26 16:12] dakraft commented on #55667
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview

[cid:image004.png@01D6334E.8FB52F50]

[cid:image005.png@01D6334E.8FB52F50]

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, May 26, 2020 10:54 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Kraft <dakraft@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-05-26 16:14] DanielHolth commented on #55460
For the record, using OData is a workaround. Not as elegant as The "Dynamics business central data connection" in Power BI, but it works. Only challenge with this approach is that Business Central requires you to select a company before you can assess the individual tables(endpoints). This justifies lowering the priority of this issue.

[2020-05-26 16:21] anavinahar commented on #54713
@erbalaji - you cannot deploy resources associated to more than 65K IPs in a VNet.
What is the goal you are trying to accomplish?

[2020-05-26 16:37] shashishailaj commented on #55015
@Norrch2 If you want to use a claims resolver in metadata for a technical profile , you require to set the optional metadata attribute [IncludeClaimResolvingInClaimsHandling](https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect-technical-profile#metadata) value to ```true```  . This attribute signifies whether claims resolution is included in technical profile or not .  Once

[2020-05-26 16:38] #55015 closed

[2020-05-26 16:43] Tiberriver256 commented on #44925
Nope, I gave up on it and wrote an Azure Function to monitor them

[2020-05-26 16:44] Norrch2 commented on #55015
@shashishailaj

Thank you for your reply. I am aware of the Metadata item IncludeClaimResolvingInClaimsHandling. However, does this allow the following to work?

<Item Key="RedirectUrl">{OIDC:RedirectUri}</Item>

What I am trying to do is setup a Technical Profile with general settings and then allow those settings to be implemented in different areas. For example, I have a need for the RedirectUr

[2020-05-26 16:47] MayMSFT commented on #55430
The current support via SQLDB datastore is limited to single thread. We are working to add support for Synapse Analytics for distributed big data scenario.

[2020-05-26 16:49] KranthiPakala-MSFT commented on #55659
@gehudd-MSFT Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-05-26 16:49] BharathNimmala-MSFT commented on #55666
@softchris Thank you for reaching out to us and sharing your feedback, we will look into it and get back to you at the earliest.

[2020-05-26 16:53] KranthiPakala-MSFT commented on #55674
@Aryabhatta Thanks for the feedback! We are reviewing the feedback and will provide an update as appropriate.

[2020-05-26 16:54] MSSedusch commented on #44659
not yet. I hope to have an update in a few weeks.

[2020-05-26 16:58] NavtejSaini-MSFT commented on #55267
@yegu-ms Please convey the correct state of the AOF.

[2020-05-26 17:00] richardrobberse commented on #55516
@SnehaAgrawal-MSFT Thanks, looking forward to @craigshoemaker his response. I think it would make sense to clarify this in the docs because a lot of people will want an end-to-end solution that includes authentication.

[2020-05-26 17:00] mamccrea commented on #51851
Great! Please feel free to re-open this issue if you have any additional questions.

#please-close

[2020-05-26 17:00] #51851 closed

[2020-05-26 17:01] KranthiPakala-MSFT commented on #55674
Hi @Aryabhatta, It has been mentioned in [Prerequisites ](https://docs.microsoft.com/azure/azure-databricks/databricks-extract-load-sql-data-warehouse?toc=/azure/storage/blobs/toc.json#prerequisites) section of the document.

![image](https://user-images.githubusercontent.com/50185738/82928817-99c40700-9f37-11ea-8328-93317437f10d.png)

"Create an Azure Blob storage account, and a container within

[2020-05-26 17:01] #55674 closed

[2020-05-26 17:03] KranthiPakala-MSFT commented on #55659
@gehudd-MSFT The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-26 17:03] #55659 closed

[2020-05-26 17:07] shashishailaj commented on #55441
@priyankareddy20 For any third party firewall to be able to integrate with Security center . The firewall vendor must provide the integration from their side and publish their solution in the Azure Marketplace under Security & Protection category.
![image](https://user-images.githubusercontent.com/532022/82929255-fa3b5e80-9fa0-11ea-9387-ba383969a621.png)

You can only add 3rd party solutions which

[2020-05-26 17:07] #55441 closed

[2020-05-26 17:08] KranthiPakala-MSFT commented on #55661
@akumaranchath Thanks for the feedback! We are reviewing the feedback and update the document as appropriate.

[2020-05-26 17:11] shashishailaj commented on #54633
@Tbohunek Thank you for your patience. I am following the internal ticket and will update this ticket tagging you once this has reached a solution.

Thank you.

[2020-05-26 17:11] #54633 closed

[2020-05-26 17:12] MonikaReddy-MSFT commented on #55670
@dandenton , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-26 17:14] Karishma-Tiwari-MSFT commented on #55657
You can achieve this via an API. Can you please share which language are you planning to use?
For example, the Azure SDK for GO language support token creations can be found here: [Azure SDK for GO](
https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerregistry/mgmt/2019-06-01-preview/containerregistry/tokens.go)

[2020-05-26 17:14] MartinJaffer-MSFT commented on #54184
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-05-26 17:14] #54184 closed

[2020-05-26 17:16] dougmolineux opened #55678 "What property should be used to key data?"
Thank you for this documentation. I would like to get some further clarification on this comment here:

What value should be used to "key data"? Which user property cannot be changed?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version Independent ID: 0d657318-8058-a76a-c219-393

[2020-05-26 17:22] NavtejSaini-MSFT commented on #55644
@databasedav We are checking this and will get back to you.

[2020-05-26 17:23] NavtejSaini-MSFT commented on #55652
@knightmeister We are checking this and will get back to you.

[2020-05-26 17:24] NavtejSaini-MSFT commented on #55663
@CharmanderJieniJieni We are checking this and will get back to you.

[2020-05-26 17:24] #54645 closed

[2020-05-26 17:24] mmacy commented on #55576
#reassign:mmacy

Hi @Calvin-Yuhui-Liu, here are responses to your questions:

In this case, the application registrations should be configured as described in the article. These two applications are used by the Azure AD B2C back-end for manipulation of local user accounts. Your applications do not use these two registrations directly. Register them as described in the article.

It is indeed **cust

[2020-05-26 17:26] Karishma-Tiwari-MSFT commented on #55288
The link points to the FAQ for Kubernetes Cluster Autoscaler to provide more details on cluster autoscaler.
Azure Kubernetes service currently supports [these ](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#using-the-autoscaler-profile)parameters.
Currently we do not have an ETA for the support of rest of these, but document will be updated as soon as we have it.
You can also look

[2020-05-26 17:27] #55288 closed

[2020-05-26 17:28] souravmishra-msft commented on #55526
@LukeCarrier, Please dont take this in a wrong way. I have already taken your feedback and I have already started an internal thread with the author regarding the same so that we can collate the SKU details in the overview page itself, so that in future customers doesnt face the same issue. I have reopened this thread again.

[2020-05-26 17:29] pmozbert opened #55679 "support for auto-failover"
SQL Database [auto-failover ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auto-failover-group?tabs=azure-powershell) manages CNAMEs in .database.windows.net.   Does the private endpoint service support auto-failover?  This page should make it clear if and how failover is supported by private link.  It should also explain, or link to documentation, how private link should be co

[2020-05-26 17:29] Calvin-Yuhui-Liu commented on #55576
Hi Marsh,

Thanks for following up. I knew I was wrong for the 2nd and 3rd issue. But I'm still confused about the 1st one. I'll check it again. Thanks.

Best regards,
Calvin
________________________________
From: Marsh Macy <notifications@github.com>
Sent: Tuesday, May 26, 2020 10:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Calvin Liu <Calvinl@stpub.com>; Mention <menti

[2020-05-26 17:29] PRMerger13 commented on #55576
Only Microsoft employees can manage issues via commenting in this repo.

[2020-05-26 17:31] ecfan commented on #55056
#assign @ecfan

[2020-05-26 17:32] mmacy commented on #55576
@Calvin-Yuhui-Liu This is indeed one of the more challenging things to set up in Azure AD B2C. The good news is that you only need to register those two applications **once**, so it's "set-it-and-forget-it" once you have them created (and assuming they're configured as described in the article).

[2020-05-26 17:32] pmozbert commented on #44898
workaround is to modify the script and add this near the top - Enable-AzureRmAlias

[2020-05-26 17:33] LukeCarrier commented on #55526
@souravmishra-msft it's frustrating, especially as someone that's tried to raise PRs against these docs in the past and was stonewalled for months until the change was no longer relevant because someone decided to just copy a bunch of irrelevant Windows documentation over the top of the page, to see issues get closed without the issue being addressed.

The documentation is difficult to navigate an

[2020-05-26 17:33] #55526 closed

[2020-05-26 17:36] jlorich opened #55680 "Ubuntu 20.04 Documentation"
Now that Ubuntu 20.04 LTS is out there should be supporting documentation on how to install Edge on it.  At the moment the microsoft repo exists and is easy to add, but things like moby-engine don't install out of the box so there may be some further changes to make.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b82

[2020-05-26 17:37] VikasPullagura-MSFT commented on #55673
@benc-uk Thanks for pointing this out.
I will update the document.

[2020-05-26 17:40] Vossekop commented on #55657
I was going to use C#, but I know where to find the SDK for that. I was somehow looking for documentation on the API in this article (and I also tried the main Azure Rest API site - [here](https://docs.microsoft.com/en-us/rest/api/containerregistry/))

It seems those aren't updated yet. But good to know the SDK is, I think I can figure it out with that.

[2020-05-26 17:40] #55657 closed

[2020-05-26 17:43] timsander1 commented on #55644
Hi @databasedav, there are no separate partition key considerations for composite indexes. Indexing and partitioning are completely separate concepts and you should follow the same partition key best practices outlined here: https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview

[2020-05-26 17:44] timsander1 commented on #55644
#please-close

[2020-05-26 17:44] #55644 closed

[2020-05-26 17:48] mcollier opened #55681 "Guidance on deployments while a function is executing"
It would be helpful if the documentation included details on what happens to an executing function when a new deployment is initiated.  For instance, the documentation could include the following:
- how the platform handles updates
- how connections are handled during an update (e.g. drained, terminated, timeframe, etc.)
- downtime expectations, if any, and mitigation strategies
- guidance on usin

[2020-05-26 18:02] mike-urnun-msft commented on #55668
@nzthiago Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-26 18:04] mike-urnun-msft commented on #55681
@mcollier Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-26 18:08] MarileeTurscak-MSFT commented on #55678
@dougmolineux
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-26 18:15] himanshusinha-msft commented on #54913
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-05-26 18:15] #54913 closed

[2020-05-26 18:18] MatthewSteeples opened #55685 "Error redirects to this page but this page has no guidance on how to deal with errors"
When trying to create an App Service Managed Certificate (preview) in the Azure Portal, I receive an error

The link takes me to this help page, but this page doesn't contain any information about how to troubleshoot the issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version

[2020-05-26 18:37] anlucen opened #55686 "Jira Version supported vs the link from Microsoft Download Center in the documentation"
Hello the link from Microsoft Download Center is not matching with this documentation

It is about Jira version supported:

Based on Documentation Version Supported range
JIRA Core and Software: 6.4 to 8.8.0
JIRA Service Desk 3.0.0 to 4.8.0

However the link attached in the step 3: It says from 6.0 - 7.13.3, 8.0 , 8.1.1, 8.2.1, 8.2.4 and **8.5.1**
The last version is 8.5.1. https://www.microsoft.c

[2020-05-26 18:38] KranthiPakala-MSFT commented on #55307
@kumarigal This is great feedback but I don't see an API to achieve your requirement. I would request you to please share your suggestion/idea in Azure Databricks user voice forum. All the feature requests shared in this forum are monitored and reviewed by Azure Databricks product team.

Azure Databricks user voice forum: https://feedback.azure.com/forums/909463-azure-databricks

Also please do sh

[2020-05-26 18:38] #55307 closed

[2020-05-26 18:40] KranthiPakala-MSFT commented on #55521
@phetzel1 Thanks for the feedback! We have assigned the issue to the content author to further review the feedback and update the document as appropriate.

[2020-05-26 18:43] cryptofetti opened #55687 "Not able to Access Windows Virtual Desktop Host Pool via RDP or Web Client"
I am no longer able to access the Windows Virtual Desktop Pool via the Remote Desktop or Web Client that I provisioned. I as well as my colleagues are all getting the same error.

Remote Desktop
An error occurred while accessing this resource. Retry the connection or contact your system administrator.

Error code: 0x3000047
Extended error code: 0x0
Activity ID: 7DE2AD3F-5D6C-46D2-89AA-A40EB1900000

[2020-05-26 18:50] jaybaxter-ms opened #55688 "Misspelling"
The word "interactively" is misspelled as "interactievly" in the description for the "interaction_required" result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error

[2020-05-26 18:52] jackchenquest opened #55689 ""Azure AD Connect Cloud provisioning agent" vs "Azure AD Connect""
[Enter feedback here]

Will this "Azure AD Connect Cloud provisioning agent" replace "Azure AD Connect" application? It seems doesn't have any configuration on the agent side, wondering how do I change options like password write back ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cd93860-f61c-4cb3-0151-a4358493c426

[2020-05-26 18:54] erhopf commented on #55027
@v-demjoh is looking into this ;)

[2020-05-26 18:54] SatishBoddu-MSFT commented on #55680
@jlorich Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-26 18:57] ecfan commented on #46826
@jonfancey, ping on helping to answer which version of Service Bus library is used by Logic Apps? They want to know because:

* The current & up-to-date version of Service Bus NuGet does not work out of the box with the current LogicApps Service Bus connector.

* There is not enough publicly-available information that helps developers troubleshoot or indeed fix the incompatibility issue.

* Since

[2020-05-26 18:57] ecfan commented on #50990
@divyaswarnkar, please respond?

[2020-05-26 18:58] ecfan commented on #51253
@divyaswarnkar, please respond?

[2020-05-26 19:00] ecfan commented on #54717
@divyaswarnkar, please respond on official guidance for connectors that are in preview going GA. Also, is the preview label based on the API the connector uses or the connector itself?

[2020-05-26 19:00] erhopf commented on #55592
Hi @dotnetjunky - Thanks for reaching out. I'm curious where you're seeing the error, in the doc I'm looking at it states in setup that you should set the endpoint env variable to: `https://api.cognitive.microsofttranslator.com/`. I'm attaching the screenshot.

![Screen Shot 2020-05-26 at 11 56 35 AM](https://user-images.githubusercontent.com/42188191/82939567-6473e500-9f48-11ea-9dad-5e96100a9f79.

[2020-05-26 19:03] MarileeTurscak-MSFT commented on #55688
@jaybaxter-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-26 19:13] #55349 closed

[2020-05-26 19:14] SumanthMarigowda-MSFT commented on #55222
@eddied4  NTLM V2 = Storage Account Key

AD = Kerberos. Kerberos is the auth protocol used for connecting over SMB.
So technically you do not need a VPN to talk SMB and authenticate over Kerberos.
SMB 3.0 is an internet safe protocol. (SSL encrypted)
However, most customers / ISPs have blocked port 445. So SMB through the DMZ of any corpnet most likely won't work.
So the solution is to tunnel your

[2020-05-26 19:17] cryptofetti commented on #54505
After talking with a Microsoft Support engineer, you can  not redeploy a host pool with a different image. It must be the same image for the host pool, if you are going to redeploy and scale out or scale back the number of VMs.

[2020-05-26 19:22] Grace-MacJones-MSFT commented on #55685
Hi @MatthewSteeples, thanks for bringing this to our attention! We are currently investigating and will update you shortly.

[2020-05-26 19:23] Marusyk commented on #55406
@SatishBoddu-MSFT Thank you very much for your help. I'm going to close the issue.

[2020-05-26 19:23] #55406 closed

[2020-05-26 19:24] Grace-MacJones-MSFT commented on #55649
Hi @SychevIgor, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review and doc update.

[2020-05-26 19:33] AdamMarciniec opened #55690 "UIAlertView obsolete"
In step 12 in the AppDelegate.cs ProcessNotification method it uses UIAlertView.  This class is now obsolete in iOS, it should be written something like this now:
`var myAlert = UIAlertController.Create("Notification", alert, UIAlertControllerStyle.Alert);
                        myAlert.AddAction(UIAlertAction.Create("OK", UIAlertActionStyle.Default, null));
                        UIApplication.

[2020-05-26 19:38] Grace-MacJones-MSFT commented on #55647
Hi @v-tawe, Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-05-26 19:39] shashishailaj commented on #55438
@glprasanna As per my research , it might be possible that the 1.0.6 plugin would run without an issue but it has not been tested with the JIRA 8.5.4 update.

@jeevansd Could you please help provide clarification on this ?

[2020-05-26 19:42] shashishailaj commented on #55104
@WyattBest We are still working on this with product group and I will keep you updated whenever I have more information .

[2020-05-26 19:43] shashishailaj commented on #55021
@jeevaeastpoint We are still researching on this and requested some details internally . We will update the thread once we have more information.

[2020-05-26 19:47] rymcklve opened #55691 "SLES 15 clarity"
The documentation specifically calls out SLES 11 & 12.
Now that SLES 15 is out - can that call out be made whether it is supported or not.
Link for reference:
https://docs.microsoft.com/en-us/azure/automation/automation-update-management?source=docs#clients

SUSE Linux Enterprise Server 11 (x86/x64) and 12 (x64)

Thank you,
Ryan

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-05-26 19:47] srvbpigh commented on #43219
Hello, @CeciAc

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 19:47] srvbpigh commented on #24559
Hello, @javierruizjimenez

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 19:48] cynthn commented on #51484
#assign @jushiman

[2020-05-26 19:48] PRMerger18 commented on #51484
jushiman is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-05-26 19:49] cynthn commented on #51484
#assign @ju-shim

[2020-05-26 19:50] masnider commented on #55495
At this time there is not a seamless local development experience for SF MI and the feature is only available from within ARM-deployed clusters with SF MI enabled. We are working to build integration with AzureServiceTokenProvider library and with the Azure SDK, for when AzureServiceTokenProvider eventually gets phased out. When that integration is completed we will announce / release docs + sampl

[2020-05-26 19:50] hanuk opened #55693 "What is the threshold beyond which the change to Max autoscale value is asynchronous?"
The answer to the question "**Can I change the max RU/s on the database or container?**"  says "When you change the max RU/s, **depending on the requested value**, this can be an asynchronous operation that may take some time to complete (may be up to 4-6 hours, depending on the RU/s selected)".

Sounds like this is not an asynchronous operation always; can you give more details on what is the hig

[2020-05-26 19:54] SaurabhSharma-MSFT commented on #55278
@b3spoke Have you tried using Key="SendClaimsIn">Header</Item> to send claims and custom claims to REST API.

[2020-05-26 19:58] snapper911T commented on #43139
Went through all of the above and still run into an issue "Web.Contents failed to get contents..."
Anyone else?

[2020-05-26 19:59] ajlam commented on #55602
@gary918 - thanks for the feedback! I just made a document change and it should be live within the next 24 hours.

[2020-05-26 20:00] Grace-MacJones-MSFT commented on #55685
Can you please share a screenshot of what you are seeing in the portal? @MatthewSteeples

[2020-05-26 20:02] MatthewSteeples commented on #55685
![image](https://user-images.githubusercontent.com/255971/82945038-23092700-9f94-11ea-9585-c69cc3be5dc5.png)

That's what I see. I'm not necessarily expecting you to diagnose my problem as part of this issue, but it;s the grey box with the red icon at the bottom that links to this page

[2020-05-26 20:08] MarileeTurscak-MSFT commented on #55660
Hi @brink668,

Yes, this is still in preview. There will be an announcement when it goes GA.

Hope this helps! If you have further questions feel free to reach out on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered).

[2020-05-26 20:08] #55660 closed

[2020-05-26 20:12] MarileeTurscak-MSFT commented on #55155
Hi @accenture-eso ,

If you want to go over these traces, you can reach me at AzCommunity@microsoft.com. I'm also happy to open a support case for this if you would prefer.

Please provide for me:
Subscription ID
Any fiddler traces or screenshots
The name of the CXP engineer working on your case

Closing this out but please feel free to reach out over email or on [Microsoft Q&A](https://docs.micro

[2020-05-26 20:19] Plus3IT-Azure commented on #55489
Sure.

I am referring to Azure Policy. It should be a simple request; I have already created a policy that will only allow DoD IL5 approved services to be provisioned/deployed/used in the Azure environment. Cloud Shell is not IL5 approved and therefore it needs to be blocked. I don't need help with the policy I just need the resource provider so I can add it to my existing policy.

For example, if

[2020-05-26 20:21] KehindeOwens commented on #55489
Sure.

I am referring to Azure Policy. It should be a simple request; I have already created a policy that will only allow DoD IL5 approved services to be provisioned/deployed/used in the Azure environment. Cloud Shell is not IL5 approved and therefore it needs to be blocked. I don't need help with the policy I just need the resource provider so I can add it to my existing policy.

For example, if

[2020-05-26 20:21] Grace-MacJones-MSFT commented on #55685
Thanks for the screenshot. I will share this feedback internally with the Azure portal team.

[2020-05-26 20:22] JimPriestley opened #55694 "Connect your virtual network to services in Azure without a public IP address at the source or destination."
[Enter feedback here]
Customer has stated this sentence is misleading, as the PaaS Service still has a public IP and this document should reflect that the IP can be locked down from public access, since it is not removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Inde

[2020-05-26 20:23] MarileeTurscak-MSFT commented on #55686
@anlucen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-26 20:26] mimckitt commented on #50063
Just an update here, I was running through the doc and I was able to update both the image reference version and the image reference sku.

For example.

PowerShell
[code]

or in CLI

`az vmss update --resource-group skuchangetest --name skuchangetest --set virtualMachineProfile.storageProfile.imageReference.sku=16.04-lts`

So I am not 100% sure why you were seeing the issue unless it was just a fo

[2020-05-26 20:37] Sandip-Raiyani commented on #43139
@snapper911T
Can you confirm whether you have a single tenant or multiple? If you are a guest user for the environment from another tenant, you will face this error(assuming you have Warm queries ON and followed above steps). Feel free to email me at saraiyan@microsoft.com with the details like environment ID, error, etc. Thanks.

[2020-05-26 20:48] BharathNimmala-MSFT commented on #54898
@MrAusnadian My sincere apologies for delayed response on this, i already see that you are working with Microsoft Support on this issue. Given the issue you are seeing that might be the best place for support on this. Our team will continue to investigate this issue with you directly and we will update the thread with any findings that may help others. I have already reached out to our internal su

[2020-05-26 20:48] #54898 closed

[2020-05-26 20:49] captainbrown commented on #38914
Do we need to create a new issue for this, or find a way to reopen it, @souravmishra-msft ?

[2020-05-26 20:49] PawanKotak opened #55696 "Configuration property"
In document you suggested to set configuration for AccountId with Azure Domain Account instead of AccountDomain property

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b937c5-e104-7ad9-249c-4594f95298b8
* Version Independent ID: 0b9f9820-e418-08f3-9d67-356b81cb1d0e
* Content: [Quickstart: Create a Xamarin Android app

[2020-05-26 20:50] Mike-Ubezzi-MSFT commented on #55645
@Johnnytechn Thank you for bringing this to our attention. Can you provide a documentation link for the information your attempting to follow. This will help us investigate and provide you the feedback needed to address this.

[2020-05-26 20:50] MarileeTurscak-MSFT commented on #55689
@jackchenquest
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-26 20:55] iancrowl commented on #49409
I have a question in comparison to using Azure Update Management in combination or instead of this.
we currently have Azure Update Management configured for all our production servers (with with various group policies on the servers)
does Azure Update Management also include SQL specific patches.  ( in the Azure Update Management policy, we have the following update classification checked:  Securi

[2020-05-26 20:56] dphipps4 opened #55697 "Technically impossible to verify Azure applications using the technique mentioned"
The c ontent-type header "application/json; charset=utf-8" is sent by Wordpress, Github pages, and many other web servers, because UTF-8 has been a standard for sixteen years. It is impossible to override. The only way to use this technique to validate a file and return the content-type header **without** the charset=utf-8 is to host it on Microsoft web servers, which have chosen to break the spec

[2020-05-26 20:57] iancrowl commented on #49409
Follow up to that question, if we review the list of patches on the Microsoft site, and lets say a sql patch is listed as "Security" would it be safe to assume it is included by using the same update classification, "Security" in the Azure Update Management policy?
Thanks,
Ian

[2020-05-26 20:59] sidramadoss commented on #52204
@jonrbates , @NikosSpanos - we added support for models deployed on ACI as well. This is available today when you use the Azure portal and will be available in ASA tools for Visual Studio in the next few weeks.

[2020-05-26 21:05] denglishbi commented on #55550
I get this same issue when trying to do anything in the spark pool. unable to create the nyctaxi database and load the trip data. I made sure I was the Owner and Storage Blob Data Owner as well.

[2020-05-26 21:06] MarileeTurscak-MSFT commented on #55689
They are two separate products.

It's also a lot easier to manage multi-forest scenarios using the cloud provisioning agent.

![image](https://user-images.githubusercontent.com/13383753/82949973-6003f800-9f59-11ea-8453-c7c35999929c.png)

https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/reference-cloud-provisioning-faq

Hope this helps! If you have further questions feel f

[2020-05-26 21:06] #55689 closed

[2020-05-26 21:06] craigktreasure commented on #55696
Ah! Good catch. Thanks for reporting this. I'll get a fix out.

[2020-05-26 21:18] Grace-MacJones-MSFT commented on #55690
Hi @AdamMarciniec, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-26 21:20] mimckitt commented on #53840
We have an example in the PowerShell docs

https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmssbootdiagnostic?view=azps-4.1.0

But I agree it is not easy to find. I will add a reference link in this document.

[2020-05-26 21:29] imdeepakg opened #55698 "Log Analytics Windows agent need to be 10.20.18038.0 or later."
Log Analytics Windows agent need to be **10**.20.18038.0 or later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d02911e-2e30-9183-b169-8c8ff51e1e18
* Version Independent ID: 6e89ef30-c8b3-bb8b-2aeb-b48e9ba0ae40
* Content: [Use Azure Private Link to securely connect networks to Azure Monitor - Azure Monitor](https://

[2020-05-26 21:30] habeebtc commented on #53840
How would powershell have helped my particular customer in this case?  They were actually provided this link, and since they were using the AZ xplat CLI it was not useful to them.

What I was calling out with my example I shared was that a user of the CLI will need explanation on how to figure out the model schema to pass in, and an explainer on how to format it on the command line.  When would yo

[2020-05-26 21:33] MarileeTurscak-MSFT commented on #55697
@dphipps4 thank you for this feedback! If you want this to be taken into consideration by the product team, please create a feedback request on [User Voice](https://feedback.azure.com/) and link it here.

I have also passed your feedback along on my end. @rwike77

[2020-05-26 21:33] MarileeTurscak-MSFT commented on #55697
Closing this out but please tag me and add the link to the feedback item once you have created it.

If you have further comments or questions feel free to reach out to me over email.

[2020-05-26 21:33] #55697 closed

[2020-05-26 21:35] ericmitt opened #55699 "Add an explicit note on C Service SDK deprecated"
Add on the C Service SDK, this text (from the readme of the C Service sDK, available on the code repo)

The Azure IoT Service SDK for C is no longer under active development.
We will continue to fix critical bugs such as crashes, data corruption, and security vulnerabilities. We will NOT add any new feature or fix bugs that are not critical, however.
Azure IoT Service SDK support is available in h

[2020-05-26 21:38] AspenForester opened #55700 "Has process for creating Hybrid Connection Changed?"
two weeks ago, the clicks described at step 4 of https://docs.microsoft.com/en-us/azure/azure-functions/functions-hybrid-powershell#download-and-install-the-hybrid-connection worked and the screens looked the same as the documentation.

Today, when I tried to do these steps again, I was given no option to create a hybrid connection.  My "Contributor" are the same as in the previously used Resource

[2020-05-26 21:40] BharathNimmala-MSFT commented on #55698
@imdeepakg  Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-05-26 21:44] #55428 closed

[2020-05-26 21:47] MartinJaffer-MSFT commented on #55532
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2020-05-26 21:49] denglishbi commented on #55550
In the workspace I went into Data->Linked and noticed on the Manage Access my account didn't have any permissions on the synapse folder created in the container. I added it and now I get the following error message when trying to run the first step to create and the database and load the trip data: Error : org.apache.spark.sql.AnalysisException: java.lang.RuntimeException: Status code: -1 error co

[2020-05-26 21:53] ealsur commented on #52726
@lightw8 Any questions should be done to the Azure Core SDK: https://github.com/Azure/azure-sdk-for-net/

[2020-05-26 21:56] #55696 closed

[2020-05-26 22:03] NavtejSaini-MSFT commented on #55663
@CharmanderJieniJieni Please go through the below document which says:
"Global reach: Connect privately to services running in other regions. The consumer's virtual network could be in region A and it can connect to services behind Private Link in region B."

https://docs.microsoft.com/en-us/azure/private-link/private-link-overview

The image in the document also shows the spoke as well as on prem

[2020-05-26 22:05] SamaraSoucy-MSFT commented on #55662
@sergey-netdev Does that answer your question fully? The doc you are referencing already contains a link to the custom dependency doc in the first paragraph, so if you have no followup questions I'm going to close this issue.

[2020-05-26 22:08] ecfan commented on #52103
#assign lauradolan

[2020-05-26 22:09] PRMerger8 commented on #52103
lauradolan is already assigned.

[2020-05-26 22:10] ecfan commented on #52103
@PramodValavala-MSFT: Please change label to "doc-enhancement", thanks!

[2020-05-26 22:14] jeevaeastpoint opened #55701 "Access review - Take recommendations Guidelines"
I have been trying to find what are the possible recommendations from the Azure Ad PIM service if a reviewer did not complete the access review. The docs just mentions

`
Take recommendations - Take the system's recommendation on denying or approving the user's continued access
`
It would be helpful to have a list of possible system recommendations recorded in the docs.

---
#### Document Details

[2020-05-26 22:22] sbthackston opened #55702 "Identifier and Reply URL fields are requiring old patterns."
The Identifier and Reply URL fields are requiring old patterns that are not specified by the new documentation. For example the Identifier field is requiring the following pattern when setting up the application:

Patterns: https://console-us.mimecast.com/sso/*, https://console-uk.mimecast.com/sso/*, https://console-za.mimecast.com/sso/*, https://console-je.mimecast-offshore.com/sso/*

Because of

[2020-05-26 22:23] NavtejSaini-MSFT commented on #55652
@knightmeister These are 2 different programs namely Azure Cosmos DB free tier and Azure cosmos DB included in Azure free account as defined in the document:
https://docs.microsoft.com/en-us/azure/cosmos-db/optimize-dev-test#azure-cosmos-db-free-tier
Here is explanation for the same:
![image](https://user-images.githubusercontent.com/52257742/82955987-dadf0a00-9f7d-11ea-8b12-b2d28bda72bf.png)
Hope

[2020-05-26 22:25] dacarubio opened #55703 "Can we replace the NVA with Azure Firewall instead?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff59f117-79c3-f134-f6ff-9c3745a7cd52
* Version Independent ID: 6e1bf338-5501-b1d7-6b2d-3dc98dc25a60
* Content: [Virtual WAN: Create virtual hub route table to NVA: Azure portal](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-route-tabl

[2020-05-26 22:26] MarileeTurscak-MSFT commented on #55702
@sbthackston
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-26 22:35] NavtejSaini-MSFT commented on #55679
@pmozbert Please check the following document on how to configure the failover groups with Private Link:
https://techcommunity.microsoft.com/t5/azure-sql-database/using-failover-groups-with-private-link-for-azure-sql-database/ba-p/1272902
Hope this helps.

[2020-05-26 22:41] v-kydela opened #55704 "Please clarify what sentiment analysis scores really mean"
When testing sentiment analysis and the result is neutral or negative, the score is still very high:

[code]

This contradicts what the document says about the label being derived from the score value.

That may have been true for older sentiment analysis versions, but [v3](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis?tab

[2020-05-26 22:42] Karishma-Tiwari-MSFT commented on #55657
Thanks for sharing the update.

[2020-05-26 22:42] NavtejSaini-MSFT commented on #55693
@hanuk The time factor in any of these cases is dependent on the RU's selected, region your resources are in etc.
You should try the same with your own workload and resources to create your own metrics and watermarks.This is the best approach in these cases.
But I will still refer your question to our doc author if there is any insight to the same.
@deborahc Is there a specific High Watermark for

[2020-05-26 22:43] Karishma-Tiwari-MSFT commented on #54505
Thanks for sharing the update.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-26 22:43] #54505 closed

[2020-05-26 22:45] Karishma-Tiwari-MSFT commented on #55364
\
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-26 22:47] Karishma-Tiwari-MSFT commented on #55378
@ms-jasondel @jimzim Can either of you please help with this customer issue? Thanks. :)

[2020-05-26 22:48] Karishma-Tiwari-MSFT commented on #55388
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-26 22:49] SaurabhSharma-MSFT commented on #55701
@jeevaeastpoint Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-26 22:49] Karishma-Tiwari-MSFT commented on #55449
@sasever Can you please confirm on the document that you would like to be corrected?

[2020-05-26 22:52] Karishma-Tiwari-MSFT commented on #55450
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-05-26 22:52] #55450 closed

[2020-05-26 22:54] sean-nixon opened #55705 "Update guidance for XFS - `nobarrier` option removed"
As of kernel version 4.19, the `nobarrier` and `barrier` options for XFS have been removed. Please provide updated guidance on how to optimize disk performance when using XFS on distributions using newer kernel versions. This affects VMs running Ubuntu 18.04 LTS and likely others.

For example, on Ubuntu 18.04 the command `mount -t xfs -o defaults,nobarrier /device/path /mnt/path` results in the e

[2020-05-26 22:56] SatishBoddu-MSFT commented on #55633
@smartpcr Thanks for reaching out to us! Below is the information on sample source codes and CI/CD pipelines for Azure IoT Edge.

**On Source Code side:**
* make use of .env file to store the secrets as key value.
* make use of variables in the deployment manifest template json.
* git-ignore will not check-in the .env file.

![VS_Maintain_Secrets_checkinGit](https://user-images.githubusercontent.c

[2020-05-26 23:03] hpsin commented on #55498
@bernie-msft is this ok with you? @SumitParikh ?

[2020-05-26 23:09] awentzel opened #55706 "Incorrect Important statement"
I don't believe this "Important" statement on the page is accurate any longer because I was just able to get this working for a custom domain connecting to Azure Storage Blob using "https" and the internal endpoint, as opposed to the custom domain name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61008c1e-a107-ff6a-

[2020-05-26 23:29] erikerikson commented on #54965
Thank you @asergaz - another very helpful and very appreciated response.  In order, at least once transmission was exactly what I was hoping for.  Our monotonically increasing sequenceId makes idempotence trivial.

I might suggest the following modification:

to read:
"*IoT Hub might send multiple update messages in a single notification*"  (a link to the format documentation would be very useful

[2020-05-26 23:30] ericsampson opened #55707 "Clarify KV connection string table"
Under the "Connection String Support" section, it would be helpful if the table had a first entry for "NULL or empty string", and a link to the documentation on which providers are used in this case. Right now it is not clear from the table that this is an option. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-26 23:43] mimckitt commented on #55388
@nathan-given-health-catalyst DISM is a fully windows capability. So we don't have any docs around it in the Azure space. If you wanted to use it's functionality, you would have to delete the VM that you syspreped but keep the VHD. Then you could mound that VHD to another VM, log into the VM, then run DISM against the disk.

All that said, I don't see much of a need for it unless you were troubles

[2020-05-26 23:47] ArvindHarinder1 commented on #53940
These are the IP ranges we are using currently. We're also working on  a tag with a smaller set of IP ranges. 13.86.239.205;
52.188.178.195;
13.86.61.156;
40.67.254.206;
51.105.237.71;
20.44.38.166;
40.81.88.68;
52.184.94.250;
20.43.180.59;
20.193.16.105;
20.40.167.232;
13.86.3.57;
52.188.72.113;
13.88.140.233;
52.142.121.156;
51.124.0.213;
40.81.92.36;
20.44.39.175;
20.189.114.130;
20.44.193.163;

[2020-05-26 23:48] Mike-Ubezzi-MSFT commented on #55655
@RJGJanssen Thank you for bringing this to our attention. I have assigned this to an engineer specializing in App Service will be able to provide some guidance on this issue. Just for reference, I have added the following document to which I think you were following: [Add a TLS/SSL certificate in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate)

[2020-05-26 23:48] cynthn commented on #55388
#please-close

[2020-05-26 23:48] #55388 closed

[2020-05-26 23:50] BharathNimmala-MSFT commented on #55698
@imdeepakg Thanks again for bringing this to our notice and confirmation on the Log Analytics Windows Agent Version. The PR has been raised and merged , document will be updated accordingly later this week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in y

[2020-05-26 23:50] #55698 closed

[2020-05-26 23:55] Karishma-Tiwari-MSFT commented on #55705
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-26 23:57] ggailey777 commented on #53984
@cfframe thanks for pointing out this inconsistency. We'll fix the function name in the original quickstart article.

[2020-05-26 23:59] MarileeTurscak-MSFT commented on #55368
You are correct. You can enable SSPR for None, Selected, or All users, by group, or by tenant. There's no simple, out-of-the-box way to allow SSPR for users from specific domains unless you add the users to a group or have a tenant-wide policy like you said.

If you would like to make a feature request for this functionality I would recommend adding one in [User Voice](https://feedback.azure.com/)

[2020-05-26 23:59] #55368 closed

[2020-05-27 00:10] MarileeTurscak-MSFT commented on #55464
Hi @abhishek0818 ,

Thanks for bringing this up. As you called out the issue is probably related to the UPN as the UPN gets modified to include the domain.

I don't think it's possible to login using just the email but I'm looping in @jeevansd for insights.

[2020-05-27 00:15] markjbrown commented on #55553
Not sure where you are getting that the docker image is 3 years old. The image on [Docker Hub](https://hub.docker.com/r/microsoft/azure-cosmosdb-emulator) is in fact less than a week old.

Where I think the issue is with this is your host OS is a 2019 based one. In which case the Docker base image must match. For that to work a different image must be referenced.

Try this instead.

docker run --n

[2020-05-27 00:16] Mike-Ubezzi-MSFT commented on #55665
@Bangarraju1005 Thank you for bringing this to our attention. Can you provide the document link you are following to complete these steps? I see: [Service Fabric application and service manifests](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-and-service-manifests) but you appear to be working in DevOps. This will help the engineer who is more familiar with this

[2020-05-27 00:17] cmmdesai commented on #51893
#please-close

[2020-05-27 00:17] #51893 closed

[2020-05-27 00:18] sethmanheim commented on #54629
@razvansalajan Hi -- we are in the process of publishing some major updates to this article (should be within the next week or so), so please check back soon. Thank you for the feedback! #please-close

[2020-05-27 00:18] #54629 closed

[2020-05-27 00:19] cmmdesai commented on #42670
For HR inbound provisioning, there is a limitation in the the provisioning log feature where-in it does not yet show the "source" attributes. It only displays the "target" attributes set by the provisioning process.  We will update the documentation to cover steps for provisioning log once, this capability is added to provisioning logs.

[2020-05-27 00:19] cmmdesai commented on #42670
#please-close

[2020-05-27 00:19] #42670 closed

[2020-05-27 00:22] cmmdesai commented on #41792
@VikasShivhare Thank you for your feedback. We have fixed the issue related to Location Hierarchy retrieval. Please test and let us know if you have any questions.
@steele6599 The connector currently does not support field overrides. It is on our roadmap and we plan to add the capability.

[2020-05-27 00:22] cmmdesai commented on #41792
#please-close

[2020-05-27 00:22] #41792 closed

[2020-05-27 00:23] cmmdesai commented on #38404
Thank you for the feedback. We just put in PR to separate the three articles. #please-close.

[2020-05-27 00:23] #38404 closed

[2020-05-27 00:24] cmmdesai commented on #54090
#please-close

[2020-05-27 00:24] #54090 closed

[2020-05-27 00:27] rolyon commented on #54740
Hi @Emmanuel-Bresson
I added some text to this article that should make this more clear:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#remove-a-role-assignment
thanks

[2020-05-27 00:27] Mike-Ubezzi-MSFT commented on #55675
@Wenis77 Thank you for bringing this to our attention. Did you by chance also create a Stack Overflow post as well? See: [How to create a connectable websocket server on Azure app services?](https://stackoverflow.com/questions/61935871/how-to-create-a-connectable-websocket-server-on-azure-app-services)
Can you please provide the specific document you are attempting to follow, if at all? I do see:

[2020-05-27 00:27] rolyon commented on #54740
#please-close

[2020-05-27 00:27] #54740 closed

[2020-05-27 00:29] dotnetprofessional opened #55710 "Sample refers to obsolete code + missing methods"
The sample in refers to code that is marked obsolete and doesn't include a sample for what I believe is the new alternative using `ListInstancesAsync`. This needs to be updated.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c17b738-aa32-4cbb-3d82-bda2bc032487
* Version Independent ID: a34e246c-7c65-461f-4417-

[2020-05-27 00:33] Mike-Ubezzi-MSFT commented on #55694
@JimPriestley Thank you for bringing this to our attention. I am going to have the Network engineering team evaluate this and make an update as appropriate.

[2020-05-27 00:33] Karishma-Tiwari-MSFT commented on #55687
Please follow these steps and let me know:

1. Confirm that the port 443 is open by downloading the PSPing tool from Sysinternal tools.

2. Install PSPing on the session host VM where the agent is running.

3. Open the command prompt as an administrator and issue the command below:

psping rdbroker.wvdselfhost.microsoft.com:443

4. Confirm that PSPing received information back from the RDBroker:

[2020-05-27 00:34] dotnetprofessional opened #55711 "No docs on how to actually use History"
From Query instances its detailed that the history can be returned. However, the history object is a JArray. There's no details on how we should process this correctly. It also makes no sense to return a JArray when the history is derived from a table with a schema. If its due to it 'changing' in the future, then that's even worse, our code will just break!. Either way, an example on how we're sup

[2020-05-27 00:35] Karishma-Tiwari-MSFT commented on #55664
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-27 00:37] k8edev opened #55712 "Missing information for JWT Bearer token validation"
When setting up JWT Bearer token validation, I came across a behavior that I could not find documented anywhere.

## Environment:
.NET Core 3 Web API

## Expected Behavior:
Only issuers listed as `ValidIssuers` are allowed to access the API.

### Example usage
[code]

### Relevant docs:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.validissuer

[2020-05-27 00:37] Mike-Ubezzi-MSFT commented on #55648
@LarsAndreasEk Thank you for your inquiry. I will have a Networking engineer review this and provide you further explanation.

[2020-05-27 00:40] Mike-Ubezzi-MSFT commented on #55658
@Andriy-dev Thank you for the inquiry. I will have a Networking engineer review your inquiry and provide you further explanation.

[2020-05-27 00:46] mialdrid commented on #55658
@Andriy-dev, You can create multiple ExpressRoute circuits on the ExpressRoute Direct resource. Refer to [ExpressRoute Direct circuits](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-erdirect-about#expressroute-direct-circuits) for more information.

Additionally, each ExpressRoute circuit can contain configuration for Microsoft or Private peering. Refer to [Circuit peerings](htt

[2020-05-27 00:47] Thwaitesy commented on #6267
@BryanTrach-MSFT - Im not really sure how this issue can be resolved? I get there is a work around, but the documentation is very misleading about scaling up with load - also nothing in the documentation indicates that there is no "auto-deflate"...

Further to this - I don't understand why there is auto-deflate feature in the first place.. it seems very odd that someone can scale up with load, but

[2020-05-27 00:51] swanderz opened #55713 "TSQL cheat sheet for SQL Server vs Azure SQL vs. Synapse"
The `APPLIES TO` header certainly helps to a certain extent, but I'd love one-stop shopping for me to understanding key differences in the language implementation.

Some quick differences I've discovered in the past 48 hours of head-banging.
- `sp_rename` vs. `RENAME OBJECT`
- `FOR XML PATH()` vs. `STRING_AGG()`
- `ISNULL()` vs. `IFNULL()`
- `INSERT INTO {TABLE} values {table value constructor}` v

[2020-05-27 00:59] kobulloc-MSFT commented on #55403
@alohaninja It doesn't appear that there is HTTP/2 support at this time for Application Insights, however we'd love to get your feedback in front of the product group and other users so it can be added to our feature list:

https://feedback.azure.com/forums/357324-azure-monitor-application-insights

[2020-05-27 01:02] SeaDude opened #55714 "`Remote build is a new feature added to function apps.`"
I just created an Azure Function app **today**. When trying to deploy from the terminal, I get the following error:

[code]

I followed the link in the error message and:
1. Updated the app using `az functionapp update -g <RESOURCE_GROUP_NAME> -n <APP_NAME>` (which was successful)
2. Added these two App Settings shown under "Linux Remote Build" and saved. (which was successful)
[code]

I even upda

[2020-05-27 01:04] JamesTran-MSFT commented on #55688
@jaybaxter-ms

I merged a PR to fix the issue.

[2020-05-27 01:08] MarileeTurscak-MSFT commented on #55688
Thank you both! Closing this out now.

[2020-05-27 01:08] #55688 closed

[2020-05-27 01:10] ThomasWeiss commented on #55546
@nth-block Thanks for reaching out! Answering your questions:
1. Yes you can use Premium Key Vault to store the customer-managed keys.
2. There isn't any SLA for the key rotation to complete but this is usually done in less than 1 hour. It is advised to check the Key Vault audit logs to make sure the previous key version isn't used by Cosmos DB anymore before disabling or deleting it.
3. Cosmos DB

[2020-05-27 01:13] TravisCragg-MSFT commented on #55648
@LarsAndreasEk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-27 01:18] astrahan87 commented on #34828
+3

[2020-05-27 01:20] Mike-Ubezzi-MSFT commented on #55651
@arvinder-dhar Thank you for bringing this to our attention. I will have an Azure Storage engineer evaluate this and add this to the documentation as appropriate.

[2020-05-27 01:20] Johnnytechn commented on #55645
The description of the problem begins with this article: https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-settings

[2020-05-27 01:23] Mike-Ubezzi-MSFT commented on #55706
@awentzel Thank you for bringing this to our attention. I will have this evaluated by the Azure Storage content team for accuracy.

[2020-05-27 01:36] TravisCragg-MSFT commented on #55473
@antonmatsiuk There is a lot to clarify with this doc and your question, and a lot of dependent concepts. Let me outline the scenarios for you, and give you some guidance on a good direction to go in if you would like to secure your resources.

In all of these scenarios, you have a P2S Client trying to access an Azure Storage Account.

Scenario 1: Client connected to a VPN Gateway with no custom r

[2020-05-27 01:47] TravisCragg-MSFT commented on #55297
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-27 01:47] #55297 closed

[2020-05-27 01:47] TravisCragg-MSFT commented on #55298
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-27 01:47] #55298 closed

[2020-05-27 01:49] pmozbert commented on #55679
Thanks for the link, but it doesn't cover the management of cnames that are
described under auto-fsilover.  It seems like the client would need to do a
manual failover.

On Tue, May 26, 2020, 18:36 NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-05-27 01:49] TravisCragg-MSFT commented on #55694
@JimPriestley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-27 01:52] #55296 closed

[2020-05-27 02:12] BharathNimmala-MSFT commented on #55073
@jtuliani  Apologies for the delayed response on this,  Select-AzSubscription acts a alias for Get-AzContext. Further assigning this to our document author @MGoedtel to take a look and see if a document update is needed.

Please see additional documentation regarding [Context Persistence](https://docs.microsoft.com/en-us/powershell/azure/context-persistence?view=azps-4.1.0)
and
[Get-AzContext ](ht

[2020-05-27 02:13] MonikaReddy-MSFT commented on #55509
@lisaguthrie - Can you provide your insights on this?

[2020-05-27 02:28] yeahsicy opened #55721 "Providing an example that using Managed identity to access another web app with AAD enabled"
The examples in the doc are relatively little. Thus, I'd like to provide an example here to show web apps with managed identity actually can access another web app with AAD enabled. Even the link (https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-services-that-support-azure-ad-authentication) doesn't say it's doable

[2020-05-27 02:51] BhargaviAnnadevara-MSFT commented on #55645
@Johnnytechn From the screenshot you posted, it appears that you are browsing to:

https://deepsitetest.azurewebsites.net/diagnosticservices

instead of:

https://deepsitetest.scm.azurewebsites.net/diagnosticservices

missing **scm** in the URL. Could you please check?

[2020-05-27 03:14] amanbha commented on #55664
@mtrmmsoftware
Actor Reminders, Timers and state is deleted when an actor is deleted.

[2020-05-27 03:15] DixitArora-MSFT commented on #55711
@cgillum Appreciate your inputs in this.

[2020-05-27 03:17] DixitArora-MSFT commented on #55710
@dotnetprofessional I have assigned this to content author for further review and update as appropriate.

[2020-05-27 03:18] DixitArora-MSFT commented on #55700
Hi @AspenForester Thanks for reaching out. We will review and update as appropriate.

[2020-05-27 03:18] DixitArora-MSFT commented on #55714
@SeaDude Thanks for reaching out. We will review and update as appropriate.

[2020-05-27 03:33] imartinez2 opened #55723 "Kusto syntax error"
The section for Kusto:
**To find all connections for a single user:**

WVDConnections is missing on kusto sample code in the first line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fbeb2fb-b956-ebb4-1d0b-fb32c5ecccd0
* Version Independent ID: f225fa84-9cfe-d58f-4794-3ce09ff51808
* Content: [Windows Virtual Desktop d

[2020-05-27 03:46] AjayKumar-MSFT commented on #55691
@rymcklve, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 03:49] AjayKumar-MSFT commented on #55699
@ericmitt, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-27 03:51] AjayKumar-MSFT commented on #55703
@dacarubio, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-27 03:53] Bangarraju1005 commented on #55665
Hi ,
This is build pipeline https://microsoft.visualstudio.com/Universal%20Store/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=53166

This is the repo
https://microsoft.visualstudio.com/Universal%20Store/_git/RPE.Partner.Service.PartnerFinder?path=%2FProduct%2FPartnerFinder.ServiceFabric%2FApplicationPackageRoot%2FApplicationManifest.xml

The above added tags are not coming

[2020-05-27 03:57] nth-block commented on #55546
@ThomasWeiss, thanks a lot for the inputs.

[2020-05-27 03:57] #55546 closed

[2020-05-27 04:00] GiftA-MSFT commented on #55452
@DStekel3 thanks for your feedback, will proceed to update the document accordingly. Thanks.

[2020-05-27 04:05] v-nagta commented on #51687
@MWsys I have updated the article please review

#please-close

[2020-05-27 04:05] #51687 closed

[2020-05-27 04:06] #55452 closed

[2020-05-27 04:07] v-nagta commented on #46661
@DavidSchrag I have updated the article, please review

#please-close

[2020-05-27 04:07] #46661 closed

[2020-05-27 04:09] v-nagta commented on #45491
@Vegas84 I have updated the article, please review

#please-close

[2020-05-27 04:09] #45491 closed

[2020-05-27 04:10] v-nagta commented on #42466
@cmondelus I have updated the article, please review

#please-close

[2020-05-27 04:10] #42466 closed

[2020-05-27 04:11] v-nagta commented on #29289
@MimecastDocumentation I have updated the article, please review

#please-review

[2020-05-27 04:12] v-nagta commented on #29289
#please-close

[2020-05-27 04:12] #29289 closed

[2020-05-27 04:13] JoseFMP opened #55724 "Documentation incorrect"
There is nothing like "Configure - environment" option as mentioned in this page.
It just does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daaa4e3c-ed0d-3c4f-556e-a26eada1158e
* Version Independent ID: b55fd301-99c0-c385-bded-d0e0fee02dcb
* Content: [Integrate environments into Azure Pipelines in Azure Dev

[2020-05-27 04:20] GiftA-MSFT commented on #55704
@v-kydela we will review your feedback and get back to you shortly. Thanks.

[2020-05-27 04:35] SnehaAgrawal-MSFT commented on #55232
@trangluong We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-27 04:35] #55232 closed

[2020-05-27 04:38] ram-msft commented on #55451
@DStekel3 Thanks for the feedback.I have raised the Pull request for the changes.
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/116600

[2020-05-27 04:41] AjayKumar-MSFT commented on #55007
@sffamily, Requesting your comments on this scenario. Thank you.

[2020-05-27 04:44] SnehaAgrawal-MSFT commented on #55721
@yeahsicy Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-27 04:50] DixitArora-MSFT commented on #55454
@ttony678 Just following up if you have gone through this [Respond to Azure Service Bus events received via Azure Event Grid](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-example?tabs=v2) and see if it helps. Do let me know how it goes.

For now I will proceed with closure of this and If there are further questions regarding this matter, please

[2020-05-27 04:50] #55454 closed

[2020-05-27 04:54] DixitArora-MSFT commented on #55518
@jochenvanwylick I have assigned this to content author for further review and update as appropriate.

[2020-05-27 04:54] souravmishra-msft commented on #55712
@ccowden, Thank you for sharing this finding. This is something that I see missing in our documentation. Allow us some time to figure out how we can update our docs with this information.

[2020-05-27 04:56] souravmishra-msft commented on #55707
@ericsampson, Thank you sharing the feedback. Do allow us sometime as we are looking into this and will update the doc accordingly.

[2020-05-27 05:03] KalyanChanumolu-MSFT commented on #55323
@wely We will proceed to close this issue now.
Please follow the issue on azure-rest-api-specs repo for further updates.

[2020-05-27 05:03] #55323 closed

[2020-05-27 05:06] BhargaviAnnadevara-MSFT commented on #55724
@JoseFMP Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-27 05:08] JoseFMP commented on #55724
Thank you so much. It might be the documentation is outdated or something. If not, they should add an screenshot or something because I do not really see a *Configure - environment* option.

[2020-05-27 05:13] RonyMSFT commented on #55577
The link at the top of the article provides this information.
![image](https://user-images.githubusercontent.com/53448957/82980356-1db0da00-9f9e-11ea-8db7-846211fa0297.png)

[2020-05-27 05:28] frehnejc commented on #55342
Yes the preview feature Vnet-to-Vnet over different regions.

[2020-05-27 05:29] ram-msft commented on #55430
@damochiz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-27 05:29] #55430 closed

[2020-05-27 05:29] ram-msft commented on #55451
@DStekel3 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-27 05:29] #55451 closed

[2020-05-27 05:33] anthonychu commented on #55649
#reassign:sffamily

[2020-05-27 05:42] TravisCragg-MSFT commented on #55531
@markarnolditpro are you able to [follow this doc to create your alert rule](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric)?

[2020-05-27 05:48] psmanhas commented on #55723
@imartinez2 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate

[2020-05-27 05:48] psmanhas commented on #55723
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2020-05-27 05:49] BhargaviAnnadevara-MSFT commented on #55723
@imartinez2 Thank you for catching that error in the docs! I have submitted a PR to fix the issue that's awaiting review.

[2020-05-27 05:50] Johnnytechn opened #55726 "Is OpenCensus a globally available feature?"
Is the OpenCensus feature a globally available feature?
In China, I installed Python 3.8.3 with powershell in the win10 system environment, and ran the python script in the following article [Set up Azure Monitor for your Python application](https://docs.microsoft.com/en-us/azure/azure-monitor/app/opencensus-python), and the console reported an exception:"ValueError: Invalid instrumentation key",

[2020-05-27 05:53] souravmishra-msft commented on #55612
@jeevaeastpoint, Do let us know if any more queries around this. If not then we would like to close this thread out for now.

[2020-05-27 05:57] psmanhas commented on #55673
@benc-uk The doc is updated and changes will go live soon.

[2020-05-27 06:03] payalgaikwad42 commented on #55465
@SatishBoddu-MSFT @dominicbetts  any update on this  ?

[2020-05-27 06:06] #55222 closed

[2020-05-27 06:06] kobulloc-MSFT commented on #55403
@alohaninja We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-27 06:06] #55403 closed

[2020-05-27 06:07] SumanthMarigowda-MSFT commented on #55371
@mmoioli Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-27 06:07] #55371 closed

[2020-05-27 06:14] Johnnytechn commented on #55645
Version information still does not appear.
![](https://raw.githubusercontent.com/Johnnytechn/myimages/master/Kudu_URL.png)
However, after the removal of the "diagnosticservices"  at the end of it, the following pages can be displayed.
![](https://raw.githubusercontent.com/Johnnytechn/myimages/master/Kudu_URL_Home.png)

[2020-05-27 06:20] Sharmistha-Rai commented on #50004
The recovery service agent needs to be installed on the Hyper-V Host. Even in the VMM scenario as described here -
https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-vmm-azure-tutorial#install-the-recovery-services-agent-on-hyper-v-hosts
Hence closing the GitHub issue.

[2020-05-27 06:23] frvigano commented on #55577
Hi Tony

I would suggest to provide examples within the context of Synapse Analytics.

Talking with customers, it is not super clear what the achieve if they define a private link (e.g. it does not allow you to access a storage account with a firewall per se, you need a Managed Identity)

Francesco

From: Rony Thomas <notifications@github.com>
Sent: mercoledì 27 maggio 2020 07:14
To: MicrosoftDocs

[2020-05-27 06:32] b3spoke commented on #55278
@SaurabhSharma-MSFT unfortunately I cannot use that as I am sending claims in the body as JSON.

A 'quick fix' would be to allow renaming of 'BearerAuthenticationToken', but ideally it would be possible to attach as many custom headers as required.

[2020-05-27 06:37] Johnnytechn commented on #55645
The above screenshot from A.CN, the phenomenon under the global is the same, please know.

[2020-05-27 06:42] ChiragMishra-MSFT commented on #55713
@swanderz Thanks for the feedback. I have assigned it to the content owner to review and update as appropriate.

[2020-05-27 06:42] ChiragMishra-MSFT commented on #55713
@XiaoyuMSFT Can you please take a look at this feedback?

[2020-05-27 06:43] Visinghr opened #55727 "Require compliant devices for Android webview"
If we have this condition access policy and it Require compliant devices. Is it possible to satisfy this condition, we are performing the authentication for the web application in Android webview ?

Note - Have a Android native app, which is trying to open a SharePoint in webview and they also have conditional access policy with condition require compliant device.

---
#### Document Details

⚠ *Do

[2020-05-27 06:43] ShugoYoko opened #55728 "Make the certificate accessible"
I want you to describe the following sites in a little more detail.
<Make the certificate accessible>
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code#make-the-certificate-accessible

Please state that you need to do this every time you add a certificate, as this process is for installing certificates on workers. Please consider my opinion.

Edited: Added doc me

[2020-05-27 06:48] ram-msft commented on #54622
@jeffthink We are working on bring an Open in VSCode link to Compute Instance, which will allow the user to connect to VS Code without SSH. This is planned for the release in near future.

[2020-05-27 06:50] RohitMungi-MSFT commented on #54875
@khmerforce Here is the response from our product group on how spam issues are handled by the bot service.

Generally, no bot is unauthenticated; they use the AAD App Registration and Password to restrict that only the Bot Service can call the bot's endpoint directly.  You end up then with:

1) Basic DDOS against the endpoint directly - Azure has services such as Front Door and if you're using App

[2020-05-27 06:55] databasedav opened #55729 "array query similar to one in docs not working"
I have this container and make the following query

[code]
but get the following error
[code]
even though it matches the form of the query found [here](https://docs.microsoft.com/en-us/azure/cosmos-db/index-overview#querying-with-indexes): `SELECT location FROM location IN company.locations WHERE location.country = 'France'`

Shouldn't this query work? The problem seems to be the `chat` in `chat.m

[2020-05-27 06:59] RohitMungi-MSFT commented on #55502
Thanks @diberry for confirming. @JonathanPalmerGD passing the versionId in the URI is supposed to return a prediction for that specific version.

[2020-05-27 06:59] bsiva commented on #55386
The the replication and migration related APIs are within the Recovery Services Resource Provider. The API references are linked in the other issue Sadiqh referenced you to. We are working on Azure PowerShell support as well as documentation on how to use the REST APIs to automate migrations. Expect to find them in docs by end June.

[2020-05-27 07:16] antonmatsiuk commented on #55473
@TravisCragg-MSFT thank you for the comprehensive explanation. Then, on the documentation side, the page is missing that this setup works only with services supporting [Private Service Endpoints](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview#secure-azure-service-access-from-on-premises).

Coming back to the problem I described in the beginning. I

[2020-05-27 07:30] nthewara commented on #54975
@ecfan any update on this ?

[2020-05-27 07:31] CHEEKATLAPRADEEP-MSFT commented on #55550
@denglishbi  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-synapse-analytics.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-27 07:31] #55550 closed

[2020-05-27 07:35] RonyMSFT commented on #55577
I will take another look at the docs. Private links are used to prevent data exfiltration. So in general, they can be used where ever customer wants to protect against data exfiltration. Are you suggesting that beyond that I provide examples: You can create private endpoint to ADLS gen2 storage accounts to protect against data exfiltration? Just trying to understand the request a bit more. Specifi

[2020-05-27 07:41] RohitMungi-MSFT commented on #55597
@cloudmelon Are you referring to adding the clusterPurpose parameter in the attach_configuration() command in the current documentation for the samples shown for SDK and CLI along with adding a new example for using with ARM template?

[2020-05-27 07:44] rg54 opened #55730 "Supported regions list not up to date"
Missing items in "supported regions"
---
#### Document Details

Hello,
There is misupdate in "Supported regions" part : it seems to be now possible to create App Gateway V2 resources in other datacenters, like Switzerland North (the only one I tested).
Moreover, that would malke sense to have this information in ["Azure Products by Region"](https://azure.microsoft.com/en-us/global-infrastructure/s

[2020-05-27 07:46] josch83 commented on #38660
@bandersmsft Are there any news on this issue? It still returns "Billing Period is not supported in (2019-11-01) API Version for Subscription Scope With Web Direct Offer. (Request ID: 69fda2f6-f14b-4202-8b6e-6f906a1d9a8b)" for subscription-based scopes. Even worse, the previously usable api-version "2019-01-01" started to return an empty array only.

[2020-05-27 07:54] bissont commented on #55016
https://github.com/microsoft/AzureStorageExplorer/issues/3044

[2020-05-27 08:00] mads-kv opened #55731 "Misleading statement"
Hi

In the prelude to the C# example in the [Input](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#input) section it says:

The text implies that the Function automatically will trigger on every inserted row. That is not correct, it will trigger when some other code sends a message to the queue. Instead I would suggest the following

Kind regard

[2020-05-27 08:06] davidgristwood opened #55732 "confusing sentence"
"Your function app doesn't scale based on events, which means is never scales in to zero."

not sure what this means - needs clarification perhaps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functio

[2020-05-27 08:07] peterbozso opened #55733 "Incomprehensible sentence"
This sentence doesn't really make any sense:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-63e1-1e78-a5dd-21e8fa2cc5d3
* Content: [Provision throughput on Azure Cosmos containers and databases](https://docs.microsoft.com/en-us/azure/cosmos-db/set-

[2020-05-27 08:25] swapnilbjadhav opened #55734 "FHIR Azure API Authentication Issue with Postman"
{
    "resourceType": "OperationOutcome",
    "id": "b1620bc940fca840a69fd351f4e8e2e4",
    "issue": [
        {
            "severity": "error",
            "code": "login",
            "diagnostics": "Authentication failed."
        }
    ]
}

the above result is from Postman when trying to do get on Patient resource. I believe there is some change in the authentication workflow. Hence, even aft

[2020-05-27 08:26] RohitMungi-MSFT commented on #55616
@Brunolosse I am curious to know if just querying for requests returns any results with url ending with "generateAnswer" in your case for the given time period?

Based on this can you extend the query to check for users as required if there is a valid response?

[2020-05-27 08:27] nk550 opened #55735 "Error when creating MultipleAccountPublicClientApplication (NPE)"
Some of our users get the following error from MSAL library:

com.microsoft.identity.client.exception.MsalClientException: Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference
at com.microsoft.identity.client.internal.controllers.MsalExceptionAdapter.msalExceptionFromBaseException(MsalExceptionAdapter.java:51)
at com.microsoft.identity.client.Publi

[2020-05-27 08:35] ravramiuc commented on #30802
I have the same issue. Nobody is looking at it?

[2020-05-27 08:42] vipulsparsh commented on #55444
@priyankareddy20 Let us know if you have any further questions, closing this thread for now, will be glad to assist if you need any help.

[2020-05-27 08:42] #55444 closed

[2020-05-27 08:43] vipulsparsh commented on #55436
@priyankareddy20 Let us know if you have any further questions, closing this thread for now, will be glad to assist if you need any help.

[2020-05-27 08:43] #55436 closed

[2020-05-27 08:50] atpoulsen opened #55737 "Instructions for Train model are a bit jumbled"
Great guide, but the segment "Train the model" appear a bit confusing/jumbled. By reordering the bullets it might make more sense. Here is a suggestion for the order:

"Train the model
...
Select Regression > Linear Regression, and drag it to the pipeline canvas.

In the module palette, expand the section Module training, and drag the Train Model module to the canvas.

Connect the output of the Li

[2020-05-27 08:52] swapnilbjadhav commented on #36581
I am facing the issue of 403 through postman tutorial when trying to access /Patient resource.
In my audience i have added a valid URI and Allowed Object IDs is disabled. Token is also getting generated successfully through postman.

The document is misguiding.

[2020-05-27 08:53] SwathiDhanwada-MSFT commented on #55246
@HansonChiu1994  The issue has been resolved. Kindly check and let us know if you are still facing the issue.

[2020-05-27 08:54] davida1992 commented on #55499
If you figure it out let me know, I will do the same. Certainly seem to be stuck still on this one.

[2020-05-27 08:56] charleschenzheng opened #55738 "Incorrect link for the "Inline code" connector"
The link of the "Inline code" connector is incorrect.
The link now is https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions, which is actually for the "Azure functions" connector.
The correct link should be https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-add-run-inline-code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-05-27 09:03] DixitArora-MSFT commented on #55738
Hi @charleschenzheng Thanks for your feedback. We will review and update as appropriate.

[2020-05-27 09:04] DixitArora-MSFT commented on #55732
Hi @davidgristwood Thanks for reaching out. We will review and update as appropriate.

[2020-05-27 09:05] DixitArora-MSFT commented on #55731
Hi @mads-kv Thanks for your feedback. We will review and update as appropriate.

[2020-05-27 09:18] msnew79 opened #55739 "Always On Cluster"
[Enter feedback here]

Hello,
I couldn't find Always On Cluster in Market place.

Regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b469f4-b118-3ce8-852f-535661ded5e4
* Version Independent ID: f720f442-9dc7-a6d5-afd9-97e173cbae9d
* Content: [Set up high availability for Azure Resource Manager VMs - Azure SQL Serv

[2020-05-27 09:27] SubhashVasarapu-MSFT commented on #55730
@rg54 , Appreciate your feedback. From the observations it looks like these are the missing regions that should be updated on the document.

 Australia Central
 Germany west central
 Norway east
 south Africa north
 Switzerland north
 UAE north
 West Central US

The doc will be updated soon and will take some time for the changes to get reflect over the doc.

We are closing this issue for now. If

[2020-05-27 09:27] #55730 closed

[2020-05-27 09:27] SubhashVasarapu-MSFT commented on #55132
@aggerritsen ,We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-27 09:27] #55132 closed

[2020-05-27 09:30] vipulsparsh commented on #55228
@darrenjoycenz We have assigned this to Author for further investigation and document update.

@jeevansd : Can you please look into this ? Thanks.

[2020-05-27 09:36] dzajda commented on #54764
@RyanHill-MSFT there was no error. Indexers were just waiting and no one was working.
After reset, the indexer's status was "Reset". When I tried to run it manually, nothing happened and status was still "Reset".

[2020-05-27 09:37] aggerritsen commented on #55132
Before you close...
Azure Network Watcher Connection Monitor (Preview) allows TCP, HTTP as well as ICMP. The latter slipped my attention. I now successfully configured ICMP Connection Monitoring for Azure Firewall as part our monitoring scheme.

However TCP Ping - as you suggested - requires a TCP port I presume. What would be the TCP Port of Azure Firewall to use?

Kind regards, Arjen

[2020-05-27 09:38] DixitArora-MSFT commented on #55515
@aasim This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-27 09:59] robinmanuelthiel opened #55742 "Outdated for ARO 4"
We need to make sure to mention, that this FAQ is only for Azure Red Hat OpenShift 3.11. Most of the answers given here, do not apply for Azure Red Hat OpenShift 4 and are very misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f3-4848-95

[2020-05-27 09:59] Ahmad-Al-Ali opened #55743 "Next Steps - Configure Java app incorrect link - Tutorial broken"
[Enter feedback here]

the "Configure Java app" link is mistakenly routing to the "Configure Custom Container" Article https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-container

Instead it should route to "Configure Java App" Article
https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-java

---
#### Document Details

⚠ *Do not edit this s

[2020-05-27 10:03] asifkd012020 commented on #27776
@insankim Is this applicable to all VMs on Azure Cloud?

[2020-05-27 10:03] chrisalexander commented on #54911
Thank you!

[2020-05-27 10:04] panjevic opened #55744 "Unable to authenticate daemon to call Azure Function using AppService Authentication"
[Enter feedback here]
Seem like the document is missing some steps or needs to be updated. Our team has been following the guide but has not been able to configure AppService Authentication or Azure Functions
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 55

[2020-05-27 10:33] VikasPullagura-MSFT commented on #55405
@contactvikasgupta Apologies for delayed response.

If you want to capture just the error code, after you run the az command try to run `echo $?` for getting the error code.

Please try below commands on bash to capture the az cli command verbose output into file
`command >outfile.txt 2>&1`  this will redirect both stdout and stderr to the outputfile.
`command > outfile.txt 2> error.txt` if you wa

[2020-05-27 10:39] aakashbansal001 opened #55745 "Is there a way to make surrogate key in Azure Data factory to be persistent"
Is there a way to make surrogate key in Azure Data factory to be persistent --

I am using Azure data factory and with the help of surrogate key , I am creating key column which is a sequence generator. So when I rerun my session, it again start at 1 (value provided), so i want adf to make this variable as persistent , so that when I rerun my session - surrogate key should start from 20001 , if fi

[2020-05-27 10:46] souravmishra-msft commented on #38914
@captainbrown, I have reopened this thread. I have also updated the Program Manager internally once again, since from the time this thread was opened initially the internal thread was created with the Product Team.

I am also assigning this thread to the Program Manager. It might take sometime for them to respond on this thread as I am not sure about the complexity that this change might require f

[2020-05-27 11:24] scottclarke1 opened #55746 "Jamf Pro"
Hi Guys

Is this text correct;

A device can be marked as compliant by Intune (for any device OS) or by third-party MDM system for Windows 10 devices. Jamf pro is the only supported third-party MDM system. More information about integration can be found in the article, Integrate Jamf Pro with Intune for compliance.

Jamf Pro is used for MacOS so why would it be the only supported MDM for Windows 1

[2020-05-27 11:28] #55673 closed

[2020-05-27 11:29] samueljamkhandi07 opened #55747 "How to run multiple instances of AzCopy command in v10"
- I want to know how we run multiple instances of AzCopy command in v10
- I know we have below environment variables but not sure how they work

c:\tools\azcopy_windows_amd64_10.4.3>azcopy env
INFO: Name: AZCOPY_CONCURRENCY_VALUE
Current Value:
Description: Overrides how many HTTP connections work on transfers. By default, this number is determined based on the number of logical cores on the machi

[2020-05-27 11:29] arvindsindhu commented on #55499
Surely will do, I have raised a case with Microsoft to troubleshoot

[2020-05-27 11:30] ingokofler commented on #55175
understood. but with this command I don't get out the instanceIds easily, right? needs to be parsed out of this long resourceId string.

[2020-05-27 11:41] KalyanChanumolu-MSFT commented on #55733
@peterbozso Thank you for pointing out the issue,
It should read "you can have up to **25** containers"

I have updated the doc accordingly.
The changes should be live by EOD once the pull request is merged.

[2020-05-27 11:42] pemsft opened #55748 "Costs of using Synapse Managed private endpoints"
Thank you for the valuable content!

In the end there is a sentence stating: "You aren't charged for **these two** Managed private endpoints."

For the sake of clarity please state also how other Synapse Managed private endpoints are charged?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab490601-ed81-c539-79d5-9d0a19

[2020-05-27 12:03] NielsKlein opened #55749 "Which (least) privileges are required?"
This article is mentioning "Open the Windows PowerShell app as an administrator". But what kind of permissions are actually required? Off course global admin will work, but is a least privilege scenario possible? Because from my end it also is working with "Groups administrator", but I thought through the "Teams Service Administrator" it is not working, which in theory has permissions to modify O3

[2020-05-27 12:04] CHEEKATLAPRADEEP-MSFT commented on #55748
@pemsft Generally Private Endpoints are charged $0.01 per hour. Since the two managed private endpoints are automatically created while creating the Azure Synapse workspace. That's the reason they aren't charged.

Azure Private Endpoint is a network interface that connects you privately and securely to a service powered by Azure Private Link. Private Endpoint uses a private IP address from your VN

[2020-05-27 12:12] rdudyk opened #55750 "Azure AD Premium P1 license"
About the license because it is not clear.
Who should have Azure Ad P1 assigned?
Administrator which create custom role or member of this custom role?

Suppose I create one custom role and I will assign this role to 10 persons. How many Azure Ad P1 licenses should I have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-27 12:14] rdudyk opened #55751 "Azure Ad P1 license"
About the license because it is not clear.
Who should have Azure Ad P1 assigned?
Administrator which create custom role or member of this custom role?

Suppose I create one custom role and I will assign this role to 10 persons. How many Azure Ad P1 licenses should I have?

[2020-05-27 12:20] VikasPullagura-MSFT commented on #55742
@robinmanuelthiel Thanks for the Feedback. Doc author is in process of updating the document for including content for ARO 4 version. The PR is in review, the doc will be soon be updated with your ask.

[2020-05-27 12:21] cryptofetti commented on #55687
Please see output after running the psping cmd. This was done on the session host VM where the agent is running.

PS C:\Users\username\Downloads\PSTools> .\psping.exe rdbroker.wvdselfhost.microsoft.com:443

PsPing v2.10 - PsPing - ping, latency, bandwidth measurement utility
Copyright (C) 2012-2016 Mark Russinovich
Sysinternals - www.sysinternals.com

TCP connect to 13.66.138.99:443:
5 iterations

[2020-05-27 12:26] KrishnaG-MSFT commented on #55591
@BMichaelJ Verified and updated the document as required. Thanks.

[2020-05-27 12:26] #55591 closed

[2020-05-27 12:28] KrishnaG-MSFT commented on #55691
Assigning @MGoedtel for visibility, review and document enhancement consideration.

[2020-05-27 12:31] jochenvanwylick commented on #55518
I appreciate the complexity that comes with determining who owns this 'problem'. I'm fully aware this article speaks about Azure Functions and not Logic Apps whereas my challenge is mostly around the Logic Apps. If you have a suggestion where I can drop this question better, do let me know please.

[2020-05-27 12:32] psmanhas commented on #55489
@KehindeOwens Thank you for your response.When it comes to Cloud Shell it doesn't fall under the category of Resource in Azure and hence doesn't have any Resource Provider for it.We can't block the cloud shell using Azure Policy as is possible for other resources in place.

The list of supported [Resource Providers for Azure Services can be found here](https://docs.microsoft.com/en-us/azure/azure-

[2020-05-27 12:35] M-Becerra opened #55752 "Kubernetes API version"
Could the limitations include the minimum version of the Kubernetes API that supports this feature instead of a date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225b99ee-4c4d-54c2-cafa-ddcd286438da
* Version Independent ID: ca9410a8-8ddb-5528-a0ac-0963458f190e
* Content: [Use system node pools in Azure Kubernetes S

[2020-05-27 12:41] artisticcheese commented on #54579
Per support personnel restores are supported even though new VMs can not be created manually if anybody runs into this.

[2020-05-27 12:41] Weychris opened #55753 "MFA token expiration"
Can anyone confirm the correct settings for MFA tokens expiring?

This page says:
The Don't ask again for X days option isn't shown on non-browser applications, regardless of whether the app supports modern authentication. These apps use refresh tokens that provide new access tokens every hour. **When a refresh token is validated, Azure AD checks that the last two-step verification occurred within

[2020-05-27 12:44] KehindeOwens commented on #55489
Thank you @psmanhas that helps a lot. I'll do some research to learn the best way to deny network access to ux.console.azure.com; I hope by denying it it doesn't break something else within the portal. I'll also provide a request on user voice in regards to a easier way to disable cloud shell.

[2020-05-27 12:46] MatsMolina opened #55754 "Misstake in publish_config.json?"
[Enter feedback here]
In the documentation there is a space before exlude " excludeIRs": "true" .
Is this feature needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in

[2020-05-27 12:47] Chai-NED opened #55755 "Non-partner Cert Authority"
Hi,

"Non-partnered providers/authorities are also allowed but, will not support the auto renewal feature"

How would I configure non-partner CA with AKV?  We have a root CA on-prem with functioning ExpressRoute and want to integrate it with AKV.

Thanks,

Chai

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd50deb9-73

[2020-05-27 12:49] SAIMMINHAS commented on #55151
Or...maybe it's something to do with 'Bastion' ?

[2020-05-27 12:49] rishabh-mnit opened #55756 "Typo on the page"
The subscriptions can use additional filters to restrict the messages that they want to receive.

Instead of above line it should be

**The subscriptions can use additional filters to restrict the messages that they do not want to receive.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97523a2e-acab-748f-5530-ded63b6

[2020-05-27 12:51] Weychris opened #55757 "Current default token lifetimes?"
Are the default values listed here the values that are in effect if the tenant is not using Conditional Access, but rather stock Azure MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable Azure AD

[2020-05-27 12:56] glprasanna commented on #55438
Hi Jeevan,

Could you please provide any update ?

Regards,
Prasanna

[2020-05-27 12:57] Weychris opened #55758 "Default Token Lifetimes?"
If a tenant is not using Conditional Access, what are the default token lifetimes including MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authentication session management - Azure Active Direc

[2020-05-27 12:58] rishabh-cldcvr opened #55759 "Query support for recursive wildcard path"
Is there anyway to query all files nested inside the folder without passing the full path to directory and just passing a base directory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14424d-3d48-0d79-9d2d-af8cb48f9116
* Version Independent ID: e2ba5161-d4ca-da4a-b1b9-aa6a87c0b623
* Content: [How to use OPENROWSET i

[2020-05-27 13:02] Tarvinder91 opened #55761 "No claim conditions possible as per the ADFS claim conditions in Azure"
There is no provision for claims in azure to asses the value of the incoming claim and modify it as per the requirement. For example, if we are getting any claim, we output a different claim to the relying party. This is possible in ADFS.

This can be easily breached as if user is able to send attributes in the saml response, he will be able to assume the desired property. For example, in SQL work

[2020-05-27 13:10] joelharkes opened #55762 "Missing high security predefined setup:"
This will give you an A+ score on ssl policy and should be a predefined setup:

[code]

Yet it is not a predefined one. something under the name: max-security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4973b6d3-d3b9-69b6-75d1-6c6e03a37480
* Version Independent ID: 68ae78c3-5118-741a-58c9-9fdf9512a9f3
* Content: [T

[2020-05-27 13:10] filippopovic commented on #55759
You can find instructions in [Query folders and multiple CSV files](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-folders-multiple-csv-files)

Note that this article explains querying multiple files and folders, and it can be used with all file formats, not only CSV.

Please close this issue if provided article helped.

[2020-05-27 13:13] ChiragMishra-MSFT commented on #55306
@bruceharrison1984 I will now proceed to close this issue. Feel free to comment and tag me if you have any queries.

[2020-05-27 13:13] #55306 closed

[2020-05-27 13:14] abshouston opened #55763 "Using OAuth2 Bearer"
I am calling a REST API with a bearer token from my self-asserted-login technical profile. I have placed the call in the validation profiles as below -

`<TechnicalProfile Id="SelfAsserted-LocalAccountSignin-Username">
          <DisplayName>Local Account Signin</DisplayName>
          <Protocol Name="Proprietary" Handler="Web.TPEngine.Providers.SelfAssertedAttributeProvider, Web.TPEngine, Version

[2020-05-27 13:15] DixitArora-MSFT commented on #55756
Hi @rishabh-mnit Thanks for your feedback. We will review and update as appropriate.

[2020-05-27 13:15] KalyanChanumolu-MSFT commented on #55729
@databasedav Can you run the same query successfully from the portal?
Could you please post a sample document?

[2020-05-27 13:16] BhargaviAnnadevara-MSFT commented on #55751
Duplicate of MicrosoftDocs/azure-docs#55750

[2020-05-27 13:16] #55751 closed

[2020-05-27 13:16] ChiragMishra-MSFT commented on #55440
@guntaled I will now proceed to close this thread. Feel free to still comment and tag me if you have any queries.

[2020-05-27 13:16] #55440 closed

[2020-05-27 13:16] msrini-MSFT commented on #55175
@ingokofler , Unfortunately there are no direct commands to get the private IP alone. You need to parse it from the above mentioned command.

[2020-05-27 13:19] HoussemDellai opened #55764 "Can I deploy VMs in my cluster subnet >> YES"
I was able to deploy a DSVM (Data Science Virtual Machine 2019) on the same Subnet with AKS cluster. My AKS uses Azure CNI. And it worked for me.

Anything to update about your status ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-

[2020-05-27 13:19] michuny25 opened #55765 "Device Twin properties - no support for JSON arrays"
The documentation should explicitly warn users that the JSON properties (both desired and reported) do not support JSON arrays.
Moreover, when a JSON containing an array is passed to the properties in .NET SDK , it throws **generic** exception with message "Service response is null" which is obviously incorrect and not very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-27 13:24] amergey commented on #50063
For some reasons creating a scale-set with ubuntu image does not require to give plan.
The marketplace image I am using requires a plan, it is probably the reason why it is working with ubuntu and not with mine, see my [comment](https://github.com/MicrosoftDocs/azure-docs/issues/50063#issuecomment-607935322)
If it can help to reproduce here the image referenced
`"imageReference": {

[2020-05-27 13:24] ajay15283 commented on #55524
I am using SLES 12SP4 market place image to be specific urn = SUSE:SLES:12-SP4:2019.11.13. when i execute parted it bail out as below

 #parted -s /dev/sda "resizepart 4 -1" quit
Usage: parted [OPTION]... [DEVICE [COMMAND [PARAMETERS]...]...]
Apply COMMANDs with PARAMETERS to DEVICE.  If no COMMAND(s) are given, run in
interactive mode.

OPTIONs:
  -h, --help                      displays this hel

[2020-05-27 13:26] kailashmsft commented on #55524
will test in my lab and update here

[2020-05-27 13:30] captainbrown commented on #38914
@souravmishra-msft thank you very much for reopening this issue.  Allowing the ranges for the devops services does not work to allow access to the keyvault (perhaps the ranges are out of date on the website) and the list of possible subnets is entirely too long to add to the network access control on the keyvault.

My team and I will be be eagerly waiting for word from your Program Manager

[2020-05-27 13:33] DanteNahuel opened #55766 "How to update the Extension to reassign a new configuration to the node?"
Hi
I'm not sure this is possible, but if it is, there should be a section of the document explaining how to do it.
We need a way of reassigning a configuration to a node through an ARM Template, since it's not possible for a VM to have two extensions of the same Type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4eb

[2020-05-27 13:36] VikasPullagura-MSFT commented on #55590
@darraghjones
Thanks for sharing the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-27 13:43] gaikovoi commented on #12827
@asergaz @Mike-Ubezzi-MSFT
Hello,

It is 2020 now and this issue still exists. It is not possible to deploy IOT DPS cert using ARM template. This is not an issue with the cert itself, but with template validation. Something inside the ARM does not properly handle defined scema for "Microsoft.Devices/provisioningServices/certificates"

[2020-05-27 13:45] pes-kapacity opened #55767 "Properties Pane - But why?"
Until recently, whenever I wanted to name/rename a dataset, I could do so directly in the lower part of the screen.

That has now been replaced with the following text:

And the properties icon below that.

Essentially this adds an extra mouse-click (and thus loss of productivity) to the process. The General tab is useless right now, as all it does is point to the new Properties Pane. What was the

[2020-05-27 13:58] SnehaAgrawal-MSFT commented on #55505
@manish-jain-1 Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-27 13:59] JefTek opened #55768 "I believe the Group Writeback feature of AAD Connect is now GA and not Preview"
The doc link mentions it is currently preview, but I believe it went GA.

The group Writeback was removed from the preview docs here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-preview
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Indepe

[2020-05-27 14:02] devagnanam commented on #54656
Document bug is fixed now.

[2020-05-27 14:10] Plus3IT-Azure opened #55769 "Network Settings to Deny ux.console.azure.com"
Hello.

This page speaks about network settings to disable the use of cloud shell but doesn't direct the reader to another article detailing which network settings nor does it mention it in the article itself. It would be nice to know how MSFT configured ux.console.azure.com in the environment so I could actually know how to disable it.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-27 14:13] VikasPullagura-MSFT commented on #55559
@jelew Thanks for pointing this out. The doc is updated and changes will go live soon.

[2020-05-27 14:16] SnehaAgrawal-MSFT commented on #55743
@Ahmad-Al-Ali Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-27 14:18] edburns opened #55770 ""Tools and Utilities" bullet list missing entry for ARM templates"
Down by the "next steps" is a helpful "Tools and utilities" bullet list.  This list could be even more helpful if it included an entry titled something like:

* Azure Resource Manager (ARM templates)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550031e-4cf6-8d15-84e3-1c2b58951f80
* Version Independent ID: 1a927119-0

[2020-05-27 14:19] SnehaAgrawal-MSFT commented on #55744
@panjevic Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 14:27] mariojacobo opened #55772 "define user@tenant.onmicrosoft.com@mydb"
What exactly is user@tenant.onmicrosoft.com@mydb ? This does not follow any type of known format of MySQL user nor email address. My MySQL instance has AD admin enabled, which is a username like user@domain.com.  Can you clarify exactly what that is ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b2910bd-55dc-3618-b12

[2020-05-27 14:28] #55559 closed

[2020-05-27 14:28] edburns commented on #55770
Perhaps even having a link to https://azure.microsoft.com/en-us/resources/templates/?resourceType=Microsoft.Storage would help.

[2020-05-27 14:30] edburns commented on #55770
![message](https://user-images.githubusercontent.com/75821/83033386-08bb6180-a005-11ea-8d28-a047c33fb438.png)

The above note, from https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=template points at the need for a landing page for "everything you can do with storage from arm templates".

[2020-05-27 14:34] jberezanski-mdg opened #55773 "CentralSecretService parameters are missing"
The example shown on the page describing the Central Secrets Store (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-store) specifies some parameters for the CentralSecretService. Please document all parameters of this service here, together with the rest of cluster settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-05-27 14:38] andrewCluey opened #55774 "Errors in the YAML files. Certificate request generated, but not issued."
A few syntax errors int eh YMAL file, nothing heavy, mostly indentation related.

Biggest issue is however this just doesn't work. tried it several times now, each time the same problem, cert request sent but not actually issued. I guess down to the HTTP validation.

Seems problematic to get this working, which is a bit of a problem for us. Could be better off sticking with NGINX.

---
#### Docume

[2020-05-27 14:43] AjayKumar-MSFT commented on #55046
@JakubW88, Glad to know that the suggestions provided by @RyanHill-MSFT was helpful. We will close this out, but if you feel you need more information please just let us know.

[2020-05-27 14:43] #55046 closed

[2020-05-27 14:46] Brunolosse commented on #55616
I'm sorry, I did not understand what you said.

The code I'm using is:

`//All qustions
requests
| where url endswith "generateAnswer"
| project timestamp, id, url, resultCode, duration, performanceBucket
| parse kind = regex url with *"(?i)knowledgebases/"KbId"/generateAnswer"
| join kind= inner
(
    traces
    | extend id = operation_ParentId
)
on id
| extend question = tostring(customDimension

[2020-05-27 14:47] jedduff opened #55776 "SSPR, does it include all Microsoft 365 Business variants or it's the old name for MS 365 premium?"
hi!

We wondering, me and my team if the "Microsoft 365 Business" features column  was only for the old name (now Microsoft 365 premium) or it include all Microsoft 365 Business variant (basic, standard and premium)

https://www.microsoft.com/en-ca/microsoft-365/business#office-CustomSpacingTemplate-hwqancq

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-05-27 14:48] xtianus79 opened #55777 "It would be nice if these directions were actually directions"
There is not much to follow here except for creating a function which is nice but..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd949409
* Content: [Work with proxies in Azure Functions](https://docs.microsoft.com/en-us/azure/

[2020-05-27 14:52] jberezanski-mdg opened #55778 "Placement constraints of the CentralSecretService"
When the CentralSecretService is provisioned using the config snippet shown on this page:
[code]
the service does not get any placement constraints. The replicas of the service are scattered across various node types of the cluster. This is in contrast to all other stateful system services, which are automatically constrained to the primary/seed node type.

For example, on a small test cluster con

[2020-05-27 15:00] puthurr opened #55782 "Search Admin role delegation"
Hi,
Is the below statement accurate ?

##### You can't delegate your Search Admin role to other users if I'm not wrong.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Admin role descriptions and permissions -

[2020-05-27 15:01] RohitMungi-MSFT commented on #55737
@atpoulsen Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-05-27 15:01] psmanhas commented on #55489
@KehindeOwens Thank you for acknowledging back.We will close this issue for now.If there are further questions regarding this matter, please reply and we will continue the discussion.

Thanks

[2020-05-27 15:01] #55489 closed

[2020-05-27 15:06] JQUINONES82 commented on #38914
Thank you for reopening...@captainbrown I saw the same issue where the documentation or the json file with the ip services is definitely out of date/not documented properly.

[2020-05-27 15:18] vipulsparsh commented on #55746
@scottclarke1 Currently only Intune can mark any device as Compliant which includes IOS, Android and Mac OS.  Jamf can only help Intune to mark the MAC OS as compliant/non-compliant by sending device level attributes to Intune and then Intune uses it to assign correct compliance state.
The list of attributes sent to Intune from Jamf is [here](https://docs.jamf.com/technical-papers/jamf-pro/microso

[2020-05-27 15:19] vipulsparsh commented on #55727
@Visinghr Thank you for a quick discussion offline. As checked you would need to confirm if this is something feasible and if this can be update in current document. I will engage the Author to comment on that.

[2020-05-27 15:20] vipulsparsh commented on #55727
@MicrosoftGuyJFlo John, can you please look into this and see if this can be updated in the current document.

[2020-05-27 15:24] mariojacobo commented on #55772
nevermind, it's just user@domain@server_name.mysql.database.azure.com

[2020-05-27 15:24] #55772 closed

[2020-05-27 15:26] davidsmatlak commented on #54713
#assign:anavinahar

[2020-05-27 15:35] markvogt opened #55784 "CODE is generating ERRORS - CAN this code be run on a RaspberryPi?"
Greetings all,

I combined all the "notebook-styled" code into a single app.py file and am executing from VSCode running on a RaspberryPi.

I'm getting errors "module cv2 has no RESIZE member" that make me think either:
- the code was written but not tested with latest cv2 (opencv-python) module; OR
- there MAY be a DIFFERENT implementation of cv2 for the RaspberryPi; OR
- I'M using the only Raspb

[2020-05-27 15:36] aedna opened #55785 "Exclude Azure-SSIS integration runtimes from CI/CD not working"
following the instrutions given Exclude Azure-SSIS integration runtimes from CI/CD section, but the IntegrationRuntime are still deployed and not being excluded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [

[2020-05-27 15:40] hrasheed-msft commented on #54668
@Chai-NED thanks for reaching out. Unfortunately it's not within the scope of this doc to provide examples of using all of the various tools. As you are internal to Microsoft, please reach out to [Azure support](https://azure.microsoft.com/en-us/support/options/), the HDInsight discussion list <hdidiscuss@microsoft.com> or the new [QA platform](https://docs.microsoft.com/en-us/answers/topics/azure

[2020-05-27 15:40] hrasheed-msft commented on #54668
#please-close

[2020-05-27 15:40] #54668 closed

[2020-05-27 15:41] hrasheed-msft commented on #55661
Typo fixed.

#please-close

[2020-05-27 15:41] #55661 closed

[2020-05-27 15:41] mimckitt commented on #50063
ah okay. Let me give it a shot with either that image or another one that requires plan information and I will get back to you.

[2020-05-27 15:44] kourbou opened #55786 "Broken sample java SQLConnectionPool class?"
Looks like `getConnection` never uses the return value from `makeAvailable(conn)`, which causes the pool to return closed connections... I think the line in `getConnection` should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d268c64-ed5b-76a9-906a-ab3d6d38962e
* Version Independent ID: 762cccfa-5c86-d8e9-

[2020-05-27 15:59] DixitArora-MSFT commented on #55777
Hi @xtianus79 Could you provide the specific section in the documentation that your feedback is applicable to ?

[2020-05-27 15:59] #55785 closed

[2020-05-27 16:00] glimoli commented on #27776
Yes, it is applicable to all generalized VMs as we use the CDROM to inject the answer file to continue the generalization process started by SYSPREP.

[2020-05-27 16:04] djpmsft commented on #55767
@pes-kapacity,

Thank you for your feedback! The General tab is actually going away. As the properties pane was recently added, we didn't want to remove the existing experience right away.

There are two primary drivers for the properties pane:

1. The properties pane aligns with the UX for other Azure data services
1. The properties pane while relatively bare-bones now will soon have more functio

[2020-05-27 16:04] #55767 closed

[2020-05-27 16:04] tx5westmt commented on #54585
@SaurabhSharma-MSFT  sorry for the delay yes I just sent an email with fiddler trace, please let me know if i missed anything.

Using your latest link to mysignins.microsoft.com worked and successfully sent guest user to the converged portal where they can see/edit MFA registration of their phone as an OTP guest! We have had converged registration on for quite some time- is there something we miss

[2020-05-27 16:05] djpmsft commented on #55754
Hi there,

This feature was rolled back and the documentation was just removed as the steps listed no longer are applicable. @chugugrace can comment more.

#please-close

[2020-05-27 16:05] #55754 closed

[2020-05-27 16:06] #55723 closed

[2020-05-27 16:10] erhopf commented on #55592
@Mike-Ubezzi-MSFT - Were you able to identify the doc issue that the user reported?

[2020-05-27 16:11] AjayKumar-MSFT commented on #55728
@ShugoYoko, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

Your feedback has been shared with the content owner (@cephalin) for further review.

[2020-05-27 16:13] AjayKumar-MSFT commented on #55726
@Johnnytechn,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 16:16] ntare16 opened #55787 "Typo in the CLI"
Where it says create private link for DNS. The typo is in the resource-group as shown below-

az network private-dns link vnet create --**resoruce-group** {RG} --virtual-network {vNet NAME} --zone-name privatelink.vaultcore.azure.net --name {dnsZoneLinkName} --registration-enabled true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-27 16:17] AjayKumar-MSFT commented on #55734
@swapnilbjadhav, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 16:17] amanmcse commented on #55529
@pravin197 Scopes are configured for permissions. The purpose of Scope is not to expose APIs for multiple applications.

[2020-05-27 16:22] AjayKumar-MSFT commented on #55735
@nk550, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 16:22] RohitMungi-MSFT commented on #55616
@Brunolosse I was just referring to using requests in the query without the where condition or joins to check if the result contains any user value. Just wanted to check if these are returned in your query without any conditions.

[2020-05-27 16:24] SaurabhSharma-MSFT commented on #55787
@ntare16 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 16:24] BhaskarDasari opened #55788 "Is there a documentation for pyspark version of azure sql authentication for spark"
Is there a documentation for pyspark version of azure sql authentication for spark

[2020-05-27 16:33] VikasPullagura-MSFT commented on #55151
@SAIMMINHAS As you mentioned you have Bastion, then you might have already RDP to VM. Here you can try localhost in the browser of the VM and if the IIS service is running then you will see the IIS page.
Also, from Bastion RDP into another VM and try to access the private IP of the VM you are trying this tutorial. If the service is running then it should work.

Considering a non Bastion setup, a q

[2020-05-27 16:36] AjayKumar-MSFT commented on #55739
@msnew79, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 16:38] hansenms commented on #55734
If you have allowed object ids disabled, you are using Azure RBAC, which means that the user or service principal that the token is issued for must be assigned a FHIR data plane role:

https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac

[2020-05-27 16:39] MGoedtel commented on #55691
@rymcklve - Support for newer versions of an operating system is based on the product team and if they have performed whatever validation(s) are required to verify that version is supported with the feature.  I have not received any input from the PMs that SLES 15 is supported at this time.  Once I do, the article will be updated accordingly.  I'll also bring this up with them this week when I mee

[2020-05-27 16:39] #55691 closed

[2020-05-27 16:40] amanmcse commented on #55598
@ps-weber  As of now there is no customization can be done for the validity of the code sent via the integrated E-Mails in B2C and the code is valid for 5 minutes only. This customization is only available for 3rd party email services.

There is an active feedback regarding this https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38614030-b2c-sign-up-verification-code-in-em

[2020-05-27 16:40] #55598 closed

[2020-05-27 16:41] Karishma-Tiwari-MSFT commented on #55752
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-27 16:42] Brunolosse commented on #55616
It shows the same results and some lines with requests with no questions.

[2020-05-27 16:43] Karishma-Tiwari-MSFT commented on #55773
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-27 16:44] sergey-netdev commented on #55662
@SamaraSoucy-MSFT,
At the bottom of the page there is "Next steps" section where "Set up custom dependency tracking" links listed for .NET, Java and Python. I'd like to see the same for Javascript SDK please.

[2020-05-27 16:48] ninarn commented on #34827
#please-close

[2020-05-27 16:48] #34827 closed

[2020-05-27 16:49] ninarn commented on #43133
#please-close

[2020-05-27 16:49] #43133 closed

[2020-05-27 16:53] APressatoGEOS commented on #55632
Hi, I have exactly the same prloblem... there are any news about it?

[2020-05-27 16:54] Karishma-Tiwari-MSFT commented on #54678
@dkkapur Do you have insights on this for Service Fabric Mesh?

[2020-05-27 16:55] dylanbronson opened #55790 "CMake Error when following instructions for Plug And Play using VSCode"
Followed the steps exactly and got an error, pasted below.
I thought that by installing the azure iot sdk with vcpkg should be enough. Is there something else I have to do? I made sure the vcpkg install azure-iot-sdk-c[public-preview, use_prov_client] step ran successfully.

Error:
CMake Error at CMakeLists.txt:45 (find_package):
  By not providing "Findazure_iot_sdks.cmake" in CMAKE_MODULE_PATH t

[2020-05-27 17:03] AjayKumar-MSFT commented on #55745
@aakashbansal001, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-05-27 17:05] AjayKumar-MSFT commented on #55747
@samueljamkhandi07,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 17:05] lingeshmukilan opened #55791 "PowerShell Scripting"
Do we have any PowerShell scripting to remove for bulk users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an organization as a guest user - Azure Active Directory](https://docs.microsoft.com/en-us/az

[2020-05-27 17:05] AjayKumar-MSFT commented on #55749
@NielsKlein, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-27 17:08] hansenms commented on #36581
As noted on your other comment, you need to use Azure RBAC to assign a role to the user or principal accessing the service.

https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac

[2020-05-27 17:14] cloudmelon commented on #55597
Hello @RohitMungi-MSFT Thanks for getting back. I was making a point that our customers are more likely to create AKS cluster via IaC ( they all love Terraform or ARM ) or still many of them are creating clusters with Azure CLIs.  It'd be great to have updates on the documentation about
What are the conditions need to meet for a AKS cluster so it could be attached via az ml command.

The key thing

[2020-05-27 17:16] guillaumecauchois commented on #51639
I'm facing the same problem, I tried the `npm start` command as describe in you screenshot but, VueJS don't need a start command and work only with the index.html and js files.
On my own I deployed my (Linux) web application through Azure DevOps, all deployments tasks succeed, I have my dist folder inside the /home/site/wwwroot, but the default landing page is still display.

[2020-05-27 17:16] dbrennan commented on #38914
Agreed, thank you for reopening. This is an issue we'd really like to see addressed as well.

[2020-05-27 17:22] MarileeTurscak-MSFT commented on #55755
@Chai-NED
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 17:24] Karishma-Tiwari-MSFT commented on #55076
@jtwardos Sorry for the delay on this. Can you please confirm if you are still seeing the issue? Are you using a custom image?
Another customer reported this issue but it got resolved automatically for him yesterday. Please check and let me know. We can deep dive into it, if it is not resolved.

[2020-05-27 17:24] SaurabhSharma-MSFT commented on #55667
@dakraft Are you still having this issue.  I am able to navigate to Q&A from this document as well - https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview

[2020-05-27 17:28] danielbjork opened #55792 "AADSTS40016 missing in the list"
One error code is missing, I get the following everywhere i try to login using my account. Calling MS support didnt help. So if anyone can reach out to me it would be awesome.

---------------------------
Microsoft Visual Studio
---------------------------
AADSTS40016: The Identity Provider returned an error.
Trace ID: 44a4c708-2efc-414b-8b5c-54e2e8cd2900
Correlation ID: 57555344-5c05-4357-958e-7d

[2020-05-27 17:29] CeciAc opened #55793 "Temporary failure in name resolution"
@portacha commented on [Tue May 26 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/724)

Hi I have a issues with the code on this page. my server return this:

<br />
<b>Warning</b>:  file_get_contents(): php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution in <b>/var/www/html/AzureText/script.php</b> on line <b>60</b><br />
<br />
<b>Warning</b>:  file

[2020-05-27 17:30] JamesEarle opened #55794 "Image not specified"
To go through this tutorial you must also specify `--image` when creating a VM, otherwise you get an error `incorrect usage: --image IMAGE | --attach-os-disk DISK`

It should be noted that one of these two options is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version

[2020-05-27 17:37] Karishma-Tiwari-MSFT commented on #55366
@TomHickling Can you please share your insights on this customer question regarding WVD Spring 2020 release? Thanks :)

[2020-05-27 17:40] njray commented on #55367
I'll make that change in the next sprint. Thanks for letting us know!

[2020-05-27 17:57] cynthn commented on #55794
#assign @cynthn

[2020-05-27 17:58] cynthn commented on #55794
@JamesEarle Thanks for the feedback! I've filed a pull request to add the missing information. Thank you!

[2020-05-27 17:58] cynthn commented on #55794
#please-close

[2020-05-27 17:58] #55794 closed

[2020-05-27 18:03] Karishma-Tiwari-MSFT commented on #55687
Thanks for sharing the details. It does not look like the firewall issue.
Can you please check this step by step troubleshooting guide and ensure that everything is configured correctly on your end: https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-vm-configuration
If that doesn't help, we would have to get you in touch with support engineer to live troubleshoot this issue.

[2020-05-27 18:06] st-christ opened #55797 "Wrong order of words/ spelling error"
Hi There,

On the page, there is this line:
"What is the minimum length of encryption **the** key used to encrypt backup data?"
I'm guessing it should be:
"What is the minimum length of **the** encryption key used to encrypt backup data?"

Friendly regards
Stefan B. Christensen
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-05-27 18:08] Karishma-Tiwari-MSFT commented on #55250
@dkkapur Do you know of a documentation on working example for this?

[2020-05-27 18:13] dakraft commented on #55667
Yes, still have the issue

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, May 27, 2020 12:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Kraft <dakraft@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Q&A link is 404 error (#55667)

@dakraft<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%

[2020-05-27 18:14] TomHickling commented on #55366
Azure Files support for AD is not related to WVD Spring Release. Azure Files AD Integration is currently in public preview and is due to go into GA shortly - watch out for announcements on this shortly. Azure Files currently supports AAD DS integration already.

[2020-05-27 18:20] SaurabhSharma-MSFT commented on #55792
@danielbjork Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-27 18:31] #55699 closed

[2020-05-27 18:37] SatishBoddu-MSFT commented on #55465
@payalgaikwad42  Could you please refer to [ Azure Industrial IoT repo](https://azure.github.io/Industrial-IoT/) for up-to-date information. Please let us know if this resolves your query.

[2020-05-27 18:48] peterbozso commented on #55733
@KalyanChanumolu-MSFT many thanks! :)

[2020-05-27 18:58] CeciAc opened #55799 "Links to for connection pooling with python point to Node resources"
@tiptop96 commented on [Wed May 27 2020](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/502)

https://docs.microsoft.com/sv-se/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#python

This also applies to

https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#python

---
#### Dokumentinformation

⚠ *Redigera inte det

[2020-05-27 18:58] CeciAc opened #55800 "Links to for connection pooling with python point to Node resources"
@tiptop96 commented on [Wed May 27 2020](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/502)

https://docs.microsoft.com/sv-se/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#python

This also applies to

https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#python

---
#### Dokumentinformation

⚠ *Redigera inte det

[2020-05-27 19:09] PeterCLu commented on #55259
Looking into this issue with the product team.

[2020-05-27 19:11] databasedav commented on #55729
Yes running the query from the portal works as expected. Looks like this is an issue with the python sdk? Here's a sample document:
[code]
Thanks again.

[2020-05-27 19:11] CeciAc opened #55801 "Can't finish a Spark job on display()"
@c-nova commented on [Wed May 27 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4622)

I have try to through this tutorial from yesterday.
But can't finish a Spark job at the code below on this page (I've waited about 3 hours):

sampled_taxi_df.show(5)
display(sampled_taxi_df.show(5))

Have you any idea?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub

[2020-05-27 19:17] MarileeTurscak-MSFT commented on #55768
@JefTek
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 19:17] AjayKumar-MSFT commented on #55360
@JakubW88, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion.

[2020-05-27 19:17] #55360 closed

[2020-05-27 19:18] rwike77 commented on #55792
@hpsin, can you take a look at this one?  Thanks.

[2020-05-27 19:19] bwateratmsft opened #55802 "App Service docs should point out that managed service identity is not supported for ACR"
[This document](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity#example-2-access-with-a-system-assigned-identity) indicates that system-assigned managed service identities can be used to interact with ACRs, and [this one](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-i

[2020-05-27 19:21] ecfan commented on #54975
Hi @nthewara,

Thanks for your patience! The team just got back to me and has additional suggestions for investigation. Will reply when I have an update.

[2020-05-27 19:24] PeterCLu commented on #55737
@atpoulsen, good catch. Those instructions are a bit jumbled indeed. I've implemented your suggested changes https://github.com/MicrosoftDocs/azure-docs-pr/pull/116702. You should see the changes live in a few hours.

I'll proceed to #please-close this issue. If you feel that your documentation issues hasn't been resolved. Please feel free to open a new issue. Have a great day!

[2020-05-27 19:24] #55737 closed

[2020-05-27 19:25] hpsin commented on #55792
This indicates that the federated IDP is sending us an error.  The backing identity provider should field the question here.

[2020-05-27 19:26] PeterCLu commented on #54582
#please-close

[2020-05-27 19:26] #54582 closed

[2020-05-27 19:29] hpsin commented on #55792
Thanks @danielbjork - can you point me to the app you're using to sign in? This is the visual studio application?

[2020-05-27 19:33] danielbjork commented on #55792
@hpsin its Visual Studio when trying to Add an account to connect to Azure DevOps but i also cant login to portal.azure.com, visualstudio.com or office365.com.

The account im using is an outlook.com / live.se account and im still able to login to outlook.com with the accout but no other services.

Hope that helps you. :)

[2020-05-27 19:34] SNVSNANNAPA commented on #55386
@bsiva  Thanks for the response. To start with the scenario "Physical Server to Azure migration"  Can we get API sample requests for at least 3 operations "initiating replication" , "launching migration tests" and "migration" ?

[2020-05-27 19:35] hpsin commented on #55792
Thanks, it does - I've reached out to some internal partners for more details.  Can you share what happens at portal.azure.com and office365.com?

[2020-05-27 19:38] KumudD commented on #53663
@RickB-2840 Thanks for bringing this to our attention. Removed incorrect link.
#please-close

[2020-05-27 19:38] #53663 closed

[2020-05-27 19:39] danielbjork commented on #55792
portal.azure.com - "Sign-in failed" no real error message
office365.com - No error message, just redirected back to put in my email address.
visualstudio.com - No error message, just redirected back to put in my email address.

[2020-05-27 19:41] BenLeggiero opened #55804 "Some Swift code snippets are labeled and highlighted as Objective-C"
For example:

![image](https://user-images.githubusercontent.com/10189808/83064776-9441ec00-a01f-11ea-9aba-7c0d113814c8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d420277a-e555-207b-e8d6-d153ce268c1e
* Version Independent ID: 3546e013-34a6-9a6f-07ed-573922256ed6
* Content: [Microsoft identity platform iOS and

[2020-05-27 19:42] hpsin commented on #55792
If you setup a new Microsoft account, using eg a Gmail address, does this still occur? I believe this may be an issue with your Microsoft account, but would like to validate more.

[2020-05-27 19:42] MarileeTurscak-MSFT commented on #55750
@rdudyk can you please link the guide you are following?

[2020-05-27 19:43] edisga opened #55805 ".htaccess described in change site root section is throwing http 500 server errors"
Regarding the .htaccess described here:
https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-php#change-site-root

Probably it is missing a rewrite condition, I was able to fix it using this approach.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba00ed4-0fb2-ae6f-dec8-fc1e6a77c6e0

[2020-05-27 19:44] SatishBoddu-MSFT commented on #55680
@jlorich
Platform support for Ubuntu 20.04 (Azure IoT Edge) will be published in [Tier 2 OS list](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-2). (No ETA as of now)

Please note that the Tier 2 systems are compatible with Azure IoT Edge and can be used relatively easily. For tier 2 systems:
•       Microsoft has done informal testing on the platforms or knows of a partner successf

[2020-05-27 19:47] danielbjork commented on #55792
Fun fact, i created a new outlook.com account and its the same behavior when trying to login to visualstudio.com so i guess its something on my side thats causing the problem.

[2020-05-27 19:50] xom-pschiess opened #55806 "Least Privilege for "Groups" Needs to be Revisited"
Still indicates that "User Administrator" is least privileged role for creation of Azure AD Groups. This is incorrect, "Groups Administrator" is the correct least privileged role.

Edit: Would be nice to add "Delete group" Task on that chart as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9558c0-abb6-24f8-81c8

[2020-05-27 19:50] hpsin commented on #55792
It would appear so.  See if you have any proxies or special firewall rules in place perhaps?

[2020-05-27 19:51] pragnagopa opened #55807 "[AzureFunctions] Documentation for override host.json settings via appsettings"
cc @ggailey777 @craigshoemaker
Add documentation for overriding host.json settings via AppSettings: https://stackoverflow.com/questions/59949260/azure-functions-can-you-override-host-settings

[2020-05-27 19:54] danielbjork commented on #55792
No proxy nor firewall.

[2020-05-27 19:56] hpsin commented on #55792
Mind sending me mail? hirsin at microsoft dot com
We'll need to do additional debugging.  Does this occur when you use e.g. a mobile phone browser on 4G?

[2020-05-27 19:58] epa095 commented on #36505
@SiobhanBaynes  does that work in an ARM template which also sets up the ACR in the same template? I am trying that, and I get validation error stating that the ACR does not exist.

I have
[code]

For anyone interested, [here](https://gist.github.com/epa095/88f5dc583806eb9e068865e259aa8db3) is my feeble, non-functioning attempt so far. Its based on [MLOpsPython](https://github.com/microsoft/MLOpsP

[2020-05-27 20:02] GiftA-MSFT commented on #55784
@markvogt we will review your feedback and get back to you shortly. Thanks.

[2020-05-27 20:04] GiftA-MSFT commented on #55793
@CeciAc we will review your feedback and get back to you shortly. Thanks.

[2020-05-27 20:05] MarileeTurscak-MSFT commented on #55757
@Weychris
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 20:06] rosenthalm opened #55808 "Azure BC Block Diagram"
I'm interested in determining if Microsoft maintains a high-level block diagram for its Azure blockchain implementation, i.e., a descriptive representation that documents the base components that together comprise core blockchain functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fae3cb1-6893-6523-3aa9-f922

[2020-05-27 20:11] MonikaReddy-MSFT commented on #55512
@cijothomas & @mrbullwinkle  - Thank you for providing your insights.
@akuryan - I hope @cijothomas has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-27 20:11] #55512 closed

[2020-05-27 20:12] rwike77 commented on #54044
@K3nNichols   Sorry for the inconvenience, I've updated the link so that it goes to the most recent version of the content.  Change should publish live this afternoon.  #please-close

[2020-05-27 20:12] #54044 closed

[2020-05-27 20:13] emanuele1986 commented on #52473
Hi all,

i'm getting this limitation also. I need to export all ACL from all file and folder in our datalake, but with 5000 limits is a bit hard. Is possible to avoid the limit?

Thanks a lot

[2020-05-27 20:15] karolz-ms commented on #55802
One should be able to create an AAD service principal and use SP id/password to give App Service access to the ACR.

(not disputing that lack of MSI support in this scenario is not a shame, just that enabling admin account on ACR is not the only way to go, and probably not the best)

[2020-05-27 20:15] bsiva commented on #55386
@SNVSNANNAPA There are a few examples available along with the swagger spec in the locations shared earlier. You'll need to look for replicationprotectedItems and actions on them.

At this time we are not able to provide additional examples on how to implement this with REST

[2020-05-27 20:23] Karishma-Tiwari-MSFT commented on #55366
Thanks @TomHickling :)
@saranrajappa Hope that helps answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-27 20:23] #55366 closed

[2020-05-27 20:28] PeterCLu commented on #55223
#reassign:@nibaccam

[2020-05-27 20:29] bilekt3 opened #55809 "Mentioned resources does not exits -> unable to use samples"
This documentation does not met with reality. Package provided or newer does not contains methods for TAGs management.

Please remove this documentation or update .nuget packages with functional code.

<img width="1147" alt="Screenshot 2020-05-27 at 22 27 44" src="https://user-images.githubusercontent.com/381740/83068949-65e8fe80-a069-11ea-839a-e1326f9c1d7b.png">

---
#### Document Details

⚠ *Do

[2020-05-27 20:32] killnine opened #55810 "ASP.NET Core 3.x Minimum Version Confusion"
I was briefly confused about the need for > 2.8.0 version of App Insights nuget package. Checking nuget at the time, I saw 2.14.0 was the latest version. I'm guessing your versioning changed because 2.8.0 was release some 8 months prior to 2.14.0. Might be worth tweaking the message to make that more obvious.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-05-27 20:33] Mike-Ubezzi-MSFT commented on #55769
@Plus3IT-Azure Thank you for the feedback. We are evaluating this as a potential enhancement to the document but, the concept here is specific to how the domain is being accessed from the private LAN. In the case of Azure Firewall, you would create a network rule to deny traffic. In the case of an on-premise LAN, you would need to create a network rule to deny traffic through vendor specific steps

[2020-05-27 20:39] crousn1 opened #55811 "NSG Flow Storage Key Rotation Documentation Update"
The documentation about NSG Flow Storage access key rotation seems to be inaccurate. The current documentation says that the NSG Flow logs will need to be disabled and re-enabled to allow the NSG Flow logs to work again. From my testing this no longer seems to be accurate as NSG flow logs seem to continue to work even after storage access keys have been rotated. It would be helpful if updates have

[2020-05-27 20:52] PeterCLu commented on #55316
Conclusions from offline follow up with @HarshUpadhyay-MSFT :

This issue was caused from a version incompatibility. Currently, Python 3.8 does not have the full package dependency chain. Try a different version of Python (we recommend 3.7 for now) to resolve the issues.

#please-close

[2020-05-27 20:52] #55316 closed

[2020-05-27 20:54] HarshUpadhyay-MSFT commented on #55316
Yup I tried with 3.7.0 and it works. Thanks for helping :)

[2020-05-27 21:00] BharathNimmala-MSFT commented on #55797
@st-christ Thank you for bringing this to our notice, we will look into it and update the document accordingly.

[2020-05-27 21:04] jeevansd commented on #55438
@glprasanna We have updated our plugin now. This also support the new version of JIRA. Can you please download the new plugin and try that and let us know how it goes?
https://www.microsoft.com/en-us/download/details.aspx?id=56506

[2020-05-27 21:06] jeevansd commented on #55243
@glprasanna We have now updated our plugin with the new version. Can you please download the new plugin and try that?
You can download it from here https://www.microsoft.com/en-us/download/details.aspx?id=56506

[2020-05-27 21:06] jeevansd commented on #55243
I am closing this thread as we have another thread open for this issue.
#please-close

[2020-05-27 21:06] #55243 closed

[2020-05-27 21:08] jeevansd commented on #48941
@oliverjnash We have now published the new version of the plugin. Can you please try it and let us know that solve your issue?

[2020-05-27 21:10] jeevansd commented on #38747
@Ranner198 @star-crossed @ahwhitley @mandiaya We have published the new version of the JIRA and Confluence plugin and both these plugins now supports Azure AD US Gov Cloud offering.
Now you can also copy paste the Metadata content and you dont have to poke holes in security for fetching the metadata URL.

[2020-05-27 21:10] jeevansd commented on #38747
#please-close

[2020-05-27 21:10] #38747 closed

[2020-05-27 21:10] NDSoul opened #55812 "Page Location"
Why is this page nested under Transparent Data Encryption (TDE)? I would think it would be more appropriate moving up 1 level and being nested under Security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
* Content: [Da

[2020-05-27 21:11] oliverjnash commented on #48941
@jeevansd Thanks for the update. Could you confirm that the new version is designed to work with Jira 8.9.0 and Jira Service Desk 4.9.0 (latest version) before we try and redeploy this? I've checked the docs but it looks like they haven't been updated yet.

[2020-05-27 21:22] Mike-Ubezzi-MSFT commented on #55405
@contactvikasgupta We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-27 21:22] #55405 closed

[2020-05-27 21:23] Mike-Ubezzi-MSFT commented on #55385
@thisispaulsmith We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-27 21:23] #55385 closed

[2020-05-27 21:25] JamesTran-MSFT commented on #55755
@Chai-NED
I was able to look into your question and will post my findings below.

**Question:**
How would I configure non-partner CA with AKV?

**Findings:**
The below doc will walk you through creating a Key Vault and importing your certificate:
https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-import-certificate

*It's important to note that in order to import a certificate

[2020-05-27 21:25] DanielThomasHealy commented on #42830
I apologize for bothering you @jmprieur , but I am trying to understand the distinction between IDToken and Implicit Grant Flow. Does enabling IDToken expose my application to the risks that led to the IETF deprecating the use of the Implicit Grant Flow, or do those risks only apply if I additionally enable access tokens?

Thank you for your time

[2020-05-27 21:39] Falconwmua opened #55813 "Built-in Endpoints and Managed Identity"
Two feedback items.

1. Does the Built-In Endpoint support access via Managed Identity/Service Principals like normal Event Hubs?
2. Shouldn't Managed Identity for IoTHub be its on document since it can be used outside a Vnet scenario? Understanding that's required for implementing IoTHub routing to Vnet protected resources.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-05-27 21:44] Mike-Ubezzi-MSFT commented on #55786
@kourbou Thank you for taking the time time to investigate this and provide the feedback. We are evaluating the specific code example and will make an update as appropriate.

[2020-05-27 21:47] crisansou opened #55814 "Powershell runbook doesn't display output"
Hi,

I don't know what happened but now when I execute command "Write-Output" the result does not appear in the "Output" tab. Does anyone know how to solve this problem, please?

- Runbook

![image](https://user-images.githubusercontent.com/29444086/83074892-52c63680-a049-11ea-909e-bf282610ed38.png)

- Code

![image](https://user-images.githubusercontent.com/29444086/83075194-d2540580-a049-11ea-80

[2020-05-27 21:47] jlian commented on #55813
1. No, I believe the built in event hub endpoint currently cannot be accessed like a normal Event Hub with managed identity or service principals. Is this something you need?

2. My understanding is that @ash2017 is adding references to our routing docs about managed identities

[2020-05-27 21:48] MarileeTurscak-MSFT commented on #55753
@Weychris
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 21:49] MarileeTurscak-MSFT commented on #55758
@Weychris
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 21:50] MarileeTurscak-MSFT commented on #55761
@Tarvinder91
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-27 21:50] cynthn commented on #55477
I've filed a  PR to add Windows 10 to the list of platforms that have OpenSSH support. These docs are also being overhauled very soon to include more information on working with SSH. Thank you!

#please-close

[2020-05-27 21:50] #55477 closed

[2020-05-27 21:51] brianlehr opened #55815 "Broken link to Partner onboarding"
Link for
To learn about partners onboarding and Peering Service configuration, see **Peering Service configuration** goes to older site (https://peering-docs.azurewebsites.net/azure/peering/peering-service-overview) and needs to be fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53985c80-00c7-390d-925f-08296ce5c3d