[2019-02-19 15:53] AmanGarg-MSFT commented on #25160
@imeya Yes it is possible through Powershell as well as ARM template.

Please use the below script to set it using powershell:

[code]
You can also modify the below ARM template and deploy it to achieve the same

https://github.com/Azure/azure-quickstart-templates/blob/master/301-insights-alertrules-application-insights/azuredeploy.json

[2019-02-19 16:06] JasonWHowell commented on #25156
@fkeller-datameer This isn't the best channel to get support. Could you open a support ticket, or make contact with the PM team?

[2019-02-19 16:11] MarkWSolomon opened #25268 "auto-failover groups versus active geo-replication in first table"
Looks like auto-failover groups in the first table for business continuity should really be active geo-replication--at least compared to all the other azure documentation I've read. Thanks for the table; that's why I'm reading this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18c9d161-a06b-6b68-8f54-c22fcc7

[2019-02-19 16:33] pgazmuri commented on #17617
+1 on this issue.  Would like a way to authorize higher limits for AD App Principals to create more than 250 objects in particular.  Applications which automate things like AD App creation will run into this limit pretty quickly.

[2019-02-19 16:33] saimanojkumarnandam commented on #22038
This link is not valid anymore. Can you try updating this, if this has been moved.

[2019-02-19 16:34] RohitMungi-MSFT commented on #25242
@gitathrun Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-19 16:38] mattquinn opened #25269 "Clarification suggestion around "Be sure to create the workspace in the same subscription that the AKS container is deployed to.""
In the section around adding monitoring to existing cluster it highlights that this requires the Log Analytics Workspace to be in the same subscription as the cluster, which is true for adding to existing cluster today, BUT if you're creating a new cluster the Log Analytics Workspace can be elsewhere.

I've seen some concern / ambiguity arise from this that LA Workspaces should be in the same subs

[2019-02-19 16:40] j-martens commented on #13673
@YutongTie-MSFT please assign to @sdgilley

[2019-02-19 16:40] MarioTiscareno opened #25270 "How to handle requests with controller?"
Any suggestions on how to integrate this to an MVC or API controller?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c88f3a-a529-ee07-76b2-1ccba116877b
* Version Independent ID: 262c56eb-0b0b-5ac8-f543-3feaa202b2bd
* Content: [Get started with Azure Relay Hybrid Connections HTTP requests in .NET](https://docs.

[2019-02-19 16:42] doug-fish opened #25271 "delete repository and image tag"
There is some additional information that would be helpful.
What role or permission is required to delete a repository within a registry?
What role or permission is required to delete an image/tag within a repository?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2b8b02-584a-d113-0ed4-d2c4821ba774
* Version Independ

[2019-02-19 16:45] smithGit opened #25272 "iotc-explorer data integer only and external temp question"
I just learned about the iotc-explorer module and it is very cool; however, the
 monitor-messages temperature and humidity readings are integers but what is stored in continuous export is float, which is preferred - three decimal digits would suffice, but not integer degrees C.  Also, where does External Temperature come from?  It shows 57-61 deg but it is well below freezing here in Northern Mich

[2019-02-19 16:47] chantong47 opened #25273 "403 StatusDescription=This request is not authorized to perform this operation using this permission."
Hi All,

I'm getting the following error when followed https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-quickstart-create-databricks-account.
The problem was very much the same as
HEAD https://github.com/MicrosoftDocs/azure-docs/issues/24686, but no detail how to resolve the issue.

HEAD https://megdpdatalakev2.dfs.core.windows.net/megdp?resource=filesystem&timeout=90

Status

[2019-02-19 16:51] RohitMungi-MSFT commented on #25225
@ericlicoding Could you please clarify about the number of endpoints that are supported? The document says to create more endpoints if we exceed maximum concurrent limit of 200 so does that imply we did not have a limit?

[2019-02-19 16:53] iainfoulds commented on #25169
Locking down the traffic for outbound connectivity isn't currently a supported option. There is on-going work on the roadmap for this, along with IP address whitelisting to allow private access to the API server. For now, the doc is correct in it's guidance in that the cluster needs outbound internet connectivity. You can create a feature request to the product team to help prioritize this ability

[2019-02-19 16:54] joshuapetryk opened #25274 "App Insights Profiler doesn't work with 2.8 (Cloud Services)"
A support ticket with Microsoft confirmed the following:

There is known issue that prevents AI Profiler from working in 2.8.1 for Azure Cloud Services PaasDiagnosticsExtension.
Apparently this was fixed for App Services but not Cloud Services.

https://github.com/Microsoft/ApplicationInsights-Home/issues/283

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-02-19 16:54] iainfoulds commented on #25130
@jakaruna-MSFT I am not the owner of this doc. @paulbouwer should be able to provide assistance.

[2019-02-19 16:58] sergaz-msft commented on #25231
Thank you for your feedback @JihongL we will investigate. Can you create a VM from sratch or remove any other services running there, as I suspect that somethin else is using rsyslog ?

@kgremban do you know on what versions of Linux (Ubuntu) did we ran this tutorial?

Thank you.

[2019-02-19 17:03] billmath commented on #22364
@pastperfect  Just wanted to follow up and let you know that yes, you are correct.  The correct number is now 40.  I have submitted a fix and it should be live later today.  Thanks!

[2019-02-19 17:03] billmath commented on #22364
#please-close

[2019-02-19 17:05] billmath commented on #20772
@yadcam can you please clarify.  Get me on email if you want.  Thanks!

[2019-02-19 17:05] iainfoulds commented on #25244
Sorry you ran into issues, @squasta. The linked PR has merged and the updated doc should publish later today.

#please-close

[2019-02-19 17:06] iainfoulds commented on #25204
As noted in the linked PR, I'll re-word. The duplication is correct in that there are two potential next steps, but GitHub repo with the instructions doesn't really break it down to make it more granular.

@MicahMcKittrick-MSFT For now, #please-close

[2019-02-19 17:08] iainfoulds commented on #25217
Further, the `az aks update-credentials` command is to update the service principal credentials used in an AKS cluster. That's unrelated to integrating Azure AD authentication. Right now, you can't enable that Azure AD integration other than during the cluster create process.

@MicahMcKittrick-MSFT #please-close

[2019-02-19 17:19] Kenneth-Abrams opened #25275 "Azure Classic VPN P2S"
These commands appear to only work for VNETS created after the release of AzureRM .

$profile=New-AzureRmVpnClientConfiguration -ResourceGroupName "TestRG" -Name "VNet1GW" -AuthenticationMethod "EapTls"

$profile.VPNProfileSASUrl

I am trying to find the VPNSettings.xml for my Azure ASM (Classic) P2S network, to determine next steps for VPN Gateway Certificate change to public authority that will

[2019-02-19 17:21] garolion opened #25276 "Unable to build C# IoT Edge Solution"
I've just installed a new Windows 10 VM, to run Azure IoT Edge 1.0.6.
As described in the doc I installed:
- Docker CE previously to the IoT Edge Runtime
- IoT Edge Runtime without any issue and deployed successfully containers from the marketplace
- VS Code with the C# extension, to create a C# module.

When I try to Build my IoT Edge solution in VS Code, I have the following error in the integra

[2019-02-19 17:22] abhiramani-iptiq opened #25277 "Browser upload not working"
Hi
for my linux app based on this article if i go to https://&lt;app_name&gt;.scm.azurewebsites.net/ZipDeployUI after replacing the name with my  webapp i get error:"No route registered for '/ZipDeployUI'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce674e6-fcb7-a867-2a74-f28f6a1b0204
* Version Independent ID: 461f

[2019-02-19 17:22] rabrahamOpti opened #25278 "Document how to handle path parameters."
There's no documentation on how to support path parameters required by our backend apis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c254cd61-0ff3-bd87-f088-6f9916e056c6
* Version Independent ID: 1426c1ee-1979-f58c-8276-2afe8e6600b5
* Content: [Add an API manually using the Azure portal](https://docs.microsoft.com/e

[2019-02-19 17:26] ashcherbinin commented on #24686
Could you please elaborate?

[2019-02-19 17:27] sethmanheim commented on #25111
Hi @jgallucci32, sorry for the confusion. We have updated the 1901 release notes accordingly in a separate PR. Thank you again, your contribution is much appreciated. #please-close

[2019-02-19 17:33] JasonWHowell commented on #25007
#in-progress

[2019-02-19 17:34] rezasherafat commented on #25210
Thanks @bgeudens. Please note that you have a device secret listed publicly in plain text here. I strongly recommend rolling over your device secrets right away.

Also, if you have anticipated usage scenarios for device streams that you would like to share, please feel free to email me at rezas @ microsoft . com. Thanks.

[2019-02-19 17:35] SumitParikh commented on #24669
Aruna/Manish from commerce team are taking over this page and will provide regular updates to the page.

Thanks and Regards,
Sumit Parikh, Senior Program Manager
Microsoft Corporation
M: +1 425.241.5440

From: Curtis Love <notifications@github.com>
Sent: Friday, February 15, 2019 2:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sumit Parikh <Sumit.Parikh@microsoft.com>; Men

[2019-02-19 17:37] aahill commented on #24904
Hi @pioneering, I'm actually able to get search results from your code snippet. Are you getting any error messages like this? `PHP Warning:  file_get_contents(): Unable to find the wrapper "https" - did you forget to enable it when you configured PHP?` If so, you may need to uncomment this line from your php.ini file: `extension=openssl`. If PHP doesn't have an extension, the script may not have o

[2019-02-19 17:39] mattbriggs commented on #25236
@Werner-MOC I'm not sure which version of PowerShell you are using. Azure Stack requires PowerShell 5.1, and the parameter is used. Here is the reference page: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/expand-archive?view=powershell-5.1. (It is also available in 6.0.). It sounds like you ran into an issue. Likely an error saying the parameter wasn't supported?

[2019-02-19 17:42] hrasheed-msft commented on #23181
@xiopeter3345 Happy to report that we have gotten the script updated. Please let us know if you have any further issues.

[2019-02-19 17:42] jeffreymcclain commented on #10926
@ktoliver sorry to bother you, but I saw you were actively working on the Azure GitHub  documentation section, so I thought I'd link you to this post in the hopes you could bring this to the attention of the appropriate team.

Tl;dr: There is currently no method to enable MFA using the PowerShell V2 module and V1 is deprecated.

[2019-02-19 17:46] taromielnaz opened #25280 "Web App cost"
I did all in this document , but in azure Cost analysis section , I cant see cost of each web apps they are all accumulated in my App service Plan . It cost $297 but I can not understand how much each app cost individually .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 762ef7c0-8ab2-ecdf-ec80-2e6b3ad903a8
* Version I

[2019-02-19 17:47] DineshPriyankara commented on #24686
Just like the way we access Data Lake Gen 1, you need to set configuration with App-Registration Id (Client Id) and Secret for Data Lake Gen 2. In addition to that, you need to get the object_id of your App-Registration and give permission to each container and folder in your in you Data Lake Gen 2 using Azure Storage Explorer. Note that, this object_id is not the one you see with properties of Ap

[2019-02-19 17:48] iainfoulds commented on #14362
This cluster autoscaler behavior has been replaced by virtual machine scale set clusters and cluster autoscaler. The doc has also been replaced to reflect this - https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

You can continue to use the previous cluster autoscaler approach, however the engineering focus is not actively developing that as the built-in approach for AKS - https://gith

[2019-02-19 17:52] mrbullwinkle commented on #24779
@serkanyazicioglu Just to tag onto the response to this one. There are other approved methods of initializing the JavaScript SDK depending on your implementation. You can read about them here: [https://github.com/Microsoft/ApplicationInsights-JS#initializing-application-insights-js-sdk-script](https://github.com/Microsoft/ApplicationInsights-JS#initializing-application-insights-js-sdk-script).

If

[2019-02-19 17:56] samuela commented on #22816
@RenaShahMSFT friendly ping

[2019-02-19 17:59] sbrian26 opened #25281 "-The Azure Functions runtime uses this storage account connection string for all functions except for HTTP triggered functions."
Why not use AzureWebJobsStorage setting for HTTP triggered functions? This would make connecting to azure storage more convenient in HTTP triggers.  That said, It's not very clear how to even access other settings in a HTTP trigger, what is the best practice to store the storage connection string in a HTTP trigger?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-02-19 17:59] SumanthMarigowda-MSFT commented on #25143
@SychevIgor1. Based on this page https://wiki.ubuntu.com/Releases 17.10 no longer supported by Canonical. Do Microsoft support their apps in unsupported version of OS? We don't support

2. We currently do not have any ETA on this. You may keep a track on[ [Azure  updates](https://azure.microsoft.com/en-in/updates/)

If you wish you may leave your feedback [here](https://feedback.azure.com/forums/3

[2019-02-19 18:01] vhorne commented on #25183
Link and sentence containing the link has been changed.
#please-close

[2019-02-19 18:08] ijabit commented on #24460
Yes I'm seeing this same issue on the SQL API side. If you scale up your database above a certain threshold, usually 10k RU/s), you can no longer come back down to 400 and get locked into a higher tier of some sort. This is very frustrating since I wanted to create an auto-scaler function that scales up the collection every day for a big bulk import, and then scales back down after the import is f

[2019-02-19 18:09] fadymach opened #25282 "Spelling mistake"
There is a typo in the 	"Receives events for a blob named file.txt i any path."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://docs.microsoft.com/en-

[2019-02-19 18:10] Carsenik commented on #25059
I am talking more about Step 8.5, where you need to add the parameter to the url string. Currently I have a login, that has a couple themes, and the when we initialize the Challenge(), i need to pass the campaignId to be a theme type to change the css styles when the b2clogin starts and it will have the url in step 8.5.

[2019-02-19 18:11] agvardha opened #25283 "How to go back to your original default Dashboard"
Hello,
I had a simple question. Okay I played with editing the Dashboard on a ASDK install for a while and then finally I DID NOT save it. Just said Reset at the bottom right corner and exited out of the display by clicking the X at the right top corner. So when I started the admin portal I expected it to come back to my original Dashboard which is the default one I got when i did the ASDK deploym

[2019-02-19 18:12] Carsenik commented on #25059
sorry meant Step 8.3, part 5

[2019-02-19 18:13] ijabit commented on #24460
Also, there is no info on why the minimum RU/s limit is set to what it is, which is the crux of this issue. According to [this](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput) article, you should have a minimum of 400 RU/s limit with up to 4 collections, 100 RU/s additional minimum per collection over 4, and 40 RU/s additional minimum per GB of storage. Using that math, since I ha

[2019-02-19 18:14] AgSync-Aaron opened #25284 "What is a Premium pricing tier?"
"Using the Azure Database Migration Service to perform an online migration requires creating an instance based on the Premium pricing tier."
All I have to choose from is Basic, General Purpose, and Memory Optimized. I don't see a premium option, does the documentation need to be updated? Is Premium 16 cores and up or memory optimized or something else?

I look forward to the clarification. Thank y

[2019-02-19 18:17] Grace-MacJones-MSFT commented on #25247
Hi @GuyHarwood, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 18:17] Alberto-Vega-MSFT commented on #25135
@Laithong do you still need help?

[2019-02-19 18:18] Mike-Ubezzi-MSFT commented on #25268
@MarkWSolomon Thank you for the detailed feedback. Auto Failover Groups applies to multiple databases where Active Geo-Replication apples to an individual database. Auto Failover Groups uses the same underlying technology as Active Geo-Replication. This technology applies to disaster recovery use cases.

[Use auto-failover groups to enable transparent and coordinated failover of multiple databases

[2019-02-19 18:18] cynthn commented on #24998
@v-maroge Getting your subscription whitelisted should happen almost immediately. Are you unable to create gallery resources?

@axayjo Can you comment on the encrypted disks part of this question?

[2019-02-19 18:21] vikramdadwal opened #25285 "Enable https (SSL Binding) on Service Fabric Mesh Application using gateway"
I have deployed a new mesh app with an Asp.Net API core container image. I am able to successfully deploy and access the API using http://[]:80. I used the Following configuration in gateway yaml file:

http:
  - name: BenApiHTTP
    port: 80
    hosts:
      - name: "*"
        routes:
          - name: benapi
            match:
              path:
                value: "/benapiservice/"

[2019-02-19 18:22] vhorne commented on #25186
fixed
#please-close

[2019-02-19 18:29] garolion commented on #25276
After investigation I found that my issue was related to nested virtualization, because I was running my VM on a Standard_D2 instance on Azure. Resizing to a D3_V2 solved the issue.

Could you please update the Installation process (https://docs.microsoft.com/en-us/azure/iot-edge/quickstart) and highlight the compatible VM available in Azure.

[2019-02-19 18:29] #25276 closed

[2019-02-19 18:32] Alberto-Vega-MSFT commented on #25272
@smithGit Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 18:36] asuresh4 opened #25286 "Understanding kube_node_status_condition metric"
I see this metric has the following dimensions -

1. status - (values I see: true, True, Unknown, False)
2. status2 - (values I see: Ready, Unknown, NotReady)
3. condition - (values I see: Ready)
4. node - (values I see: as I expect, node names)

Can I get some help on how to make use of the above dimensions to say whether a given node is ready or not?

Thanks!

---
#### Document Details

⚠ *Do no

[2019-02-19 18:37] bhamilton commented on #24210
It would be **very** helpful to have a working example in the documentation for PHP's PDO database abstraction.

ref: https://laracasts.com/discuss/channels/laravel/how-do-i-connect-to-a-mysql-database-over-ssl-with-laravel-53?page=1

The documentation hints at a known issue, but specifically calls out the CLI client. Nevertheless, the issue appears to also exist for PHP PDO:
[code]
In our case we

[2019-02-19 18:38] tfitzmac commented on #14323
@takekazuomi - if you are referring to [Microsoft.OperationsManagment/solutions](https://docs.microsoft.com/en-us/azure/templates/microsoft.operationsmanagement/2015-11-01-preview/solutions), I have added it.

[2019-02-19 18:39] brlewi commented on #25181
Test

[2019-02-19 18:43] Karishma-Tiwari-MSFT commented on #24794
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-19 18:43] #24794 closed

[2019-02-19 18:44] Karishma-Tiwari-MSFT commented on #24885
@zachjacobs We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-19 18:44] #24885 closed

[2019-02-19 18:45] georgewallace commented on #25067
@Saltzmea Thanks for reaching out.. Do you have some example errors you would like to see in the documentation?  Authenticating with the Az cmdlets is similar to the AzureRM cmdlets.  Since we don't import Az cmdlets in the beginning we have left out a lot of the troubleshooting.  Let me know what things you might want to see and I can look to adding them.  I have been reviewing cases opened in re

[2019-02-19 18:45] Mike-Ubezzi-MSFT commented on #25238
@stevehurcombe This is a great doc-enhancement. I looked around and neither this nor the [FAQ](https://docs.microsoft.com/en-us/azure/cosmos-db/faq) had any details about this functionality. I will forward this on to the content owner for review.

[2019-02-19 18:54] Karishma-Tiwari-MSFT commented on #25285
Thanks for the question. We are currently investigating and will update you shortly.

[2019-02-19 18:55] HJToland3 commented on #25284
When creating an instance of zure DMS, you don't see the Premium pricing tier? It is called out on the Pricing page here: https://azure.microsoft.com/pricing/details/database-migration/.

Can you confirm that you don't see it while creating an instance of DMS? I just checked the portal, and I can see the Standard and Premium tiers for DMS.

[2019-02-19 18:57] mganeshphani commented on #25217
So if I need to integrate with azure ad.. I should not use portal ui.. rather use azure cli to create cluster?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Iain Foulds <notifications@github.com>
Sent: Tuesday, February 19, 2019 11:09:12 AM
To: MicrosoftDocs/azure-docs
Cc: Ganesh Phani Kumar Majeti; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Associati

[2019-02-19 19:02] yadcam commented on #20772
@billmath Sure! I tried to ping you Via MS Teams, please confirm

[2019-02-19 19:02] iainfoulds commented on #25217
@mganeshphani Correct - Azure AD can currently only be enabled during the cluster create process when using the CLI. The product group has already received feedback to expand the create process in the portal to include this ability.

[2019-02-19 19:04] Karishma-Tiwari-MSFT commented on #25254
@gacurtin Thanks for the feedback. The pull request with the updates has been merged and changes will be live shortly.

[2019-02-19 19:08] AgSync-Aaron commented on #25284
Oh, I'm a silly one. I thought that meant a premium instance of postgres, not dms. Sorry feel free to close this.

[2019-02-19 19:09] Karishma-Tiwari-MSFT commented on #25244
@squasta Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-19 19:09] #25244 closed

[2019-02-19 19:11] seanalexander opened #25290 "Is "Throughput" for azure files accurate?"
"Throughput" for azure files Accurate?

In this release it was noted at "60 MiB/s" and then Updated to "300 MiB/s":
https://azure.microsoft.com/en-ca/blog/a-new-era-for-azure-files-bigger-faster-better/

Is this value still accurate? Is the "Target" 60 MiB/s, but the max is 300 MiB/s?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-19 19:12] HJToland3 commented on #25284
Thanks for the confirmation, Aaron!

[2019-02-19 19:12] Mike-Ubezzi-MSFT commented on #17959
@TehWardy That tutorial is specific to SQL Server (On-Premise) and not Azure SQL Database. Please notice the `Applies to:` reference.

![screenshot 273](https://user-images.githubusercontent.com/37126106/53040575-8ffb4c00-3436-11e9-8733-402549c4fe4a.png)

At this time, you can restore a .bacpac file to Azure SQL Database (Single and Elastic Pool) and .bacpac + .bak to Azure SQL Database Managed In

[2019-02-19 19:12] Karishma-Tiwari-MSFT commented on #25241
@vijay-agrawal Thanks for the feedback. The PR with the updates has been created and changes will be live shortly.

[2019-02-19 19:13] MarileeTurscak-MSFT commented on #25197
@CeciAc thanks for the reply! We will investigate and update as appropriate.

[2019-02-19 19:14] veemvve commented on #21216
I'm also facing this issue. Any update on this?

[2019-02-19 19:15] eladio0442 opened #25291 "Getting an unauthorized error -Operation returned an invalid status code 'Unauthorized'"
I double checked the region and the key but I'm getting below error

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
   at System.Threading.Tasks.Task`1

[2019-02-19 19:23] fkeller-datameer commented on #25156
Sure, already on it with the support team, no success to fix this until
now. Just wanted to let you know that there might be an issue with this
doc.

Jason H <notifications@github.com> schrieb am Di., 19. Feb. 2019, 17:07:

[2019-02-19 19:25] TravisCragg-MSFT commented on #25111
@jgallucci32 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 19:25] #25111 closed

[2019-02-19 19:26] Mike-Ubezzi-MSFT commented on #25129
@vd3d There are a couple options available. The first is to up vote and comment on the User Voice forum to request Gremlin API functionality in the Cosmos DB Emulator: [Support Gremlin APIs on Cosmos DB Emulator](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/19636633-support-gremlin-apis-on-cosmos-db-emulator)

The second option is to leverage this GitHub project for Cosmos

[2019-02-19 19:26] TravisCragg-MSFT commented on #25186
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 19:26] #25186 closed

[2019-02-19 19:27] TravisCragg-MSFT commented on #25183
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 19:27] #25183 closed

[2019-02-19 19:27] JasonWHowell commented on #25156
@fkeller-datameer sounds good. Keep us posted. The support rep can email me (JasonH  at Microsoft) when they've figured it out, and we can update the doc as needed. Please connect us. Thanks

[2019-02-19 19:28] BryanTrach-MSFT commented on #25253
@mvput Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:28] georgewallace commented on #24924
@mcurko If a VM is deallocated but was part of the update deployment, then when it turns back on it will get assessed and patched.  We rely on Windows Update or WSUS to patch a windows machine.. We just sit on top of it and orchestrate.  If Windows Update was configured on the VM to automatically apply patches, then that can happen outside of Update Management.

[2019-02-19 19:29] rueylinlee opened #25292 "Can't sign in from the Custom Vision Home page"
https://customvision.ai/ did not recognize my Microsoft account.  What is the privilege level to use this service?  Where do we sign up to use it?  Is it a subscription with a cost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b059be5c-7d30-c412-bdd7-cbe76383ac24
* Version Independent ID: 9df53112-e1e5-e555-eec1-512d

[2019-02-19 19:30] Karishma-Tiwari-MSFT commented on #25239
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:30] BryanTrach-MSFT commented on #25273
@chantong47 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:30] SaurabhSharma-MSFT commented on #25261
@Carsenik Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-19 19:31] TravisCragg-MSFT commented on #22574
@j-martens this issue is currently assigned to the doc author for updates, and investigation is still in progress.

[2019-02-19 19:31] SaurabhSharma-MSFT commented on #25256
@Carsenik Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-19 19:32] BryanTrach-MSFT commented on #25262
@gitathrun Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:35] BryanTrach-MSFT commented on #25280
@taromielnaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:36] SaurabhSharma-MSFT commented on #25250
@nkumars Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-19 19:36] MicahMcKittrick-MSFT commented on #25271
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:37] SaurabhSharma-MSFT commented on #25248
@allenVisser Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-19 19:38] SaurabhSharma-MSFT commented on #25246
@blueelvis Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-19 19:39] SaurabhSharma-MSFT commented on #25234
@bcube Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-19 19:41] Karishma-Tiwari-MSFT commented on #25204
@letmaik Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-19 19:41] #25204 closed

[2019-02-19 19:41] Mike-Ubezzi-MSFT commented on #25144
@jzuchora87 There has been a shift in the PowerShell environment. Please see [Az.Sql 1.2.0](https://www.powershellgallery.com/packages/Az.Sql/1.2.0) going forward. For exisitng functionality, continue with AzureRm [4.11.6-preview](AzureRmSqlDatabaseBackupShortTermRetentionPolicy)

[The future of support for AzureRM](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-

[2019-02-19 19:42] BryanTrach-MSFT commented on #25281
@sbrian26 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:42] Karishma-Tiwari-MSFT commented on #14362
Thanks @iainfoulds
@WebSpider  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-19 19:42] #14362 closed

[2019-02-19 19:42] BryanTrach-MSFT commented on #25278
@rabrahamOpti Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:43] SaurabhSharma-MSFT commented on #24943
@abarrafo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-19 19:43] #24943 closed

[2019-02-19 19:43] BryanTrach-MSFT commented on #25277
@abhiramani-iptiq Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:46] Saltzmea commented on #25067
Hi George,

I'm attempting to do a POC for using a service principal to call the Power BI REST API with the Az module but the authentication fails when using the Az commands. The same commands work with Rm and the service principal will authenticate. I included the error bellow the two script examples.
#Az
try
{
    # Get the connection "AzureRunAsConnection "
    $servicePrincipalConnection = Get

[2019-02-19 19:49] anirudhcavale commented on #25286
@sgoings can you help out here?

[2019-02-19 19:51] Gariantroll opened #25294 "Updating List Synonyms from a json file"
Hey guys,

I would like to update the synonyms of a "list entity", but it seems that when I try to upload the file it wants me to create a totally new entity.  So I get this error:
"BadArgument: List entity "first_name" cannot contain duplicate canonical forms: (first_name)."

How do I add to the synonyms of an already pre-existing list type entity via file upload?

Thanks

---
#### Document Detai

[2019-02-19 19:54] BryanTrach-MSFT commented on #25275
@Kenneth-Abrams Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:55] marcusclayton commented on #25211
Same question, how do I use the alerts generated by this solution to trigger emails/notifications with action groups. It looks like the alerts can only be consumed from within the portal today, unless I've missed something.

[2019-02-19 19:55] SaurabhSharma-MSFT commented on #25068
@festivus As per my knowledge it is not possible using table storage library. However, I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.

[2019-02-19 19:55] YutongTie-MSFT commented on #25291
@eladio0442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:56] YutongTie-MSFT commented on #25292
@rueylinlee
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:56] BryanTrach-MSFT commented on #25270
@MarioTiscareno Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 19:57] BryanTrach-MSFT commented on #25269
@mattquinn Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 20:00] tchristiani commented on #19008
#please-close

[2019-02-19 20:00] BryanTrach-MSFT commented on #25255
@daleholborow Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 20:01] BryanTrach-MSFT commented on #25257
@huxxcb Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 20:02] BryanTrach-MSFT commented on #25259
@bcube Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 20:03] BryanTrach-MSFT commented on #25265
@SHANE0MAC Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 20:03] diberry commented on #25294
@Gariantroll Thank you for asking this question. You won't be able to upload a file from the LUIS portal. You can add the information through the APIs (either REST-based or SDK). The quickest way is to use the APIM console. Fill out the parameters and change the request body.

[Patch entire list](https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c3

[2019-02-19 20:07] BryanTrach-MSFT commented on #25274
@joshuapetryk Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 20:10] jimdial commented on #14537
@malopMSFT I see that premium still isn't called out for service bus, per the original issue. Should it be?  If so, can you make the change and close this issue?

[2019-02-19 20:11] TravisCragg-MSFT commented on #25275
@Kenneth-Abrams this is easiest to do in the portal, by navigating to the P2S configuration and selecting download. you can [find more information on classic commands and steps for P2S VPN Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-classic-azure-portal).

[2019-02-19 20:12] georgewallace commented on #25067
@Saltzmea The problem you have in your runbook is you are using an Az cmdlet before you have actually authenticated to anything. You need to use the internal `Get-AutomationConnection` cmdlet to get your RunAs Account first.

[2019-02-19 20:12] MicahMcKittrick-MSFT commented on #24765
@nageshajab any update on this?

[2019-02-19 20:13] MicahMcKittrick-MSFT commented on #24852
@srrengar @dkkapur any update on this?

[2019-02-19 20:13] YutongTie-MSFT commented on #24904
@aahill Thank you!

@pioneering
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-19 20:13] #24904 closed

[2019-02-19 20:14] MicahMcKittrick-MSFT commented on #25162
@balakrishna222111 any update on this?

[2019-02-19 20:15] MicahMcKittrick-MSFT commented on #25194
@iainfoulds @seanmck any idea on when we will support Windows server 2019 in Container Instances?

[2019-02-19 20:15] Kenneth-Abrams commented on #25275
@TravisCragg-MSFT this only exposes a .exe file, rather than the ZIP file mentioned which contains a Generic folder containing VPNSettings.xml which exposes the certificates I'm looking for research purposes

What i'm really trying to figure out, is for the Certificate Upgrade that Microsoft is going to be doing. How will my App Services connected to P2S be impacted. I do not control the provision

[2019-02-19 20:16] jimdial commented on #20619
@malopMSFT Please respond and close this issue. Please also make any update to the source article, if necessary. Thanks

[2019-02-19 20:16] #25282 closed

[2019-02-19 20:18] MicahMcKittrick-MSFT commented on #25202
@aljo-microsoft @vturecek @masnider can either of you confirm on this one? I do not find any docs/ examples using MSI so I am assuming support is not there.

[2019-02-19 20:18] YutongTie-MSFT commented on #25094
@Joll59 Hi Yomi, thanks for your feedback. Can you share any insight about how it will help better to show the information, put all information in a separate page, add a part of file format under every product... etc?

@erhopf Hi Erik, this is a doc-enhancement issue about file format information. Could you please check this issue and update the document as necessary? Thanks a lot.

[2019-02-19 20:20] MicahMcKittrick-MSFT commented on #25203
@sirdank as I understand it, it is the logs you would gain directly from connecting to the application such as the docker logs. So anything you can get in the docker logs would be applicable here.

@srrengar can you confirm or elaborate on this?

[2019-02-19 20:20] laurenhughes commented on #24561
The only criteria for creating an account are:

- The Batch service must have an "Owner" or "Contributor" role.
- The user creating the account must be an "Owner" or "Contributor" to the subscription.

I attempted to repro the error with a "Contributor" role account, but the error is only present when the Batch service itself is not a "Contributor" or "Owner".

I've passed this information on to t

[2019-02-19 20:22] SaurabhSharma-MSFT commented on #25234
@bcube The "webAPI" value is of web API endpoint along with the action and it is same to the reply endpoint used while registering the API e.g. http://localhost:5000/api/values.

[2019-02-19 20:22] MicahMcKittrick-MSFT commented on #25271
@doug-fish to delete a repository you would need Owner or Contributor role.

For deleting an image/tag I believe you also need owner or contributor.

I will let @dlepow confirm and also, we might consider adding some more option to the table to help clarify all scenarios.

[2019-02-19 20:22] Adam-Smith-MSFT commented on #25290
@seanalexander Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-19 20:25] MicahMcKittrick-MSFT commented on #24353
@TylerMSFT any update on this?

[2019-02-19 20:27] jimdial commented on #21612
@mattreatMSFT Please respond to this one Matt.

[2019-02-19 20:29] jimdial commented on #21822
@malopMSFT Please address this one Mario and make any changes to the article, if necessary.  Thanks

[2019-02-19 20:29] femsulu commented on #25264
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-19 20:29] #25264 closed

[2019-02-19 20:30] cherylmc commented on #25057
@rphensley - self-signed certs are not dead. The only thing that has changed is Azure is now using a CA to issue its own Azure-level certificates for the gateway. For P2S authentication from your clients, you can still use self-signed certs and there is no plan to remove that capability.

[2019-02-19 20:30] srrengar commented on #25203
Yes these are logs which you write in your code specific to your app's logic and use to debug or capture telemetry, either to standard output like docker logs or with a logging framework such as the App Insights SDK or ILogger.

[2019-02-19 20:30] cherylmc commented on #25057
#please-close

[2019-02-19 20:31] jimdial commented on #22178
@malopMSFT  Can you address this issue please?  Thanks

[2019-02-19 20:33] MicahMcKittrick-MSFT commented on #24936
@cynthn I am getting the same issue as @m-ritchie

[code]

Could you take a look?

[2019-02-19 20:35] MicahMcKittrick-MSFT commented on #25203
Thanks @srrengar

@sirdank does that answer your question?

[2019-02-19 20:36] ahmelsayed commented on #25142
we can remove 17.10 from the list. I just pushed the package to 18.10 repository, so cosmic should work now as well. I also updated the README on the core-tools repo. https://github.com/Azure/azure-functions-core-tools/commit/08d1f36ce3dcf5d8974a51a142c6d2f8a7a58563

[2019-02-19 20:37] surajjacob opened #25295 "Uploading app settings for container based linux app"
Is there a way to upload App settings to the app service through an automated way (Azure pipelines), rather than editing them in the portal? For Web Apps, we just define the web.config, but not sure what to do for containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version

[2019-02-19 20:38] MicahMcKittrick-MSFT commented on #25082
Thanks @setht2

I also got your email. Much appreciated :)

I am going to assign this issue to the content author to review your steps and see if we should add anything to the document

[2019-02-19 20:41] mganeshphani commented on #25217
any approximate timeline on when will this be available in portal?

On Tue, Feb 19, 2019 at 1:02 PM Iain Foulds <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-02-19 20:41] mstair commented on #21612
Looks like docs were updated (2018-11-01)
https://docs.microsoft.com/en-us/rest/api/network-watcher/networkwatchers/setflowlogconfiguration#flowlogformatparameters. Thanks

[2019-02-19 20:42] iainfoulds commented on #25217
Not at this time, no.

[2019-02-19 20:44] tkurosaka opened #25296 "curl sample errors out"
I tried the "issue token" curl sample after replacing the YOUR_SUBSCRIPTION_KEY with my key. But I got an error back that reads "HTTP/1.1 411 Length Required".
I'm on macOS and the curl version is 7.5.4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1218be14-5001-1458-f5e9-821e38730e20
* Version Independent ID: 45f58d

[2019-02-19 20:48] #25217 closed

[2019-02-19 20:48] jabbera commented on #24619
This comment is there already: Once you add a rule, it will become effective immediately. Rules are enforced in priority order starting from the lowest number and going up. There is an implicit deny all that is in effect once you add even a single rule.

[2019-02-19 20:49] mimig1 commented on #6178
@miaojiang will see if he made this change

[2019-02-19 20:50] miaojiang commented on #6178
The change has been made to the doc.

[2019-02-19 20:53] MicahMcKittrick-MSFT commented on #25070
@aljo-microsoft could you take a look at this and see if we need to update the documentation?

[2019-02-19 20:54] MarileeTurscak-MSFT commented on #25031
Hi @nevseev ,

Sorry for the late reply! I've been catching up from the recent holiday.

It's hard to diagnose for certain without taking a look at your technical profile. You need to ensure that the technical profile you are using can output the email claim. It's possible that you are missing a parameter as well.

Also, please check this stackoverflow thread related to this issue.

Please post to

[2019-02-19 20:54] MarileeTurscak-MSFT commented on #25031
Closing this out as this is a product question and should be moved to MSDN.

[2019-02-19 20:54] #25031 closed

[2019-02-19 20:55] MicahMcKittrick-MSFT commented on #25285
@dkkapur @aljo-microsoft do we need to do anything specific for SF mesh to enable HTTPS? I don't find any docs on this. Do we support HTTPS at this time?

[2019-02-19 21:00] jimdial commented on #22874
@PHBeagle Thanks. I added zones to the output. It will publish later today. #please-close

[2019-02-19 21:02] miaojiang commented on #6764
#please-close

Thanks for the feedback. We are planning on changes in this area and will incorporate the feedback in a future time.

[2019-02-19 21:02] miaojiang commented on #7098
#please-close

Thanks for the feedback. We are planning on changes in this area and will incorporate the feedback in a future time.

[2019-02-19 21:03] erhopf commented on #25094
@Joll59 - The supported formats using the Speech SDK are available in the API reference for each language. Currently, it's only WAV/PCM. Here's an example for [C#](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.audiostreamformat?view=azure-dotnet). If you're looking for a different language, the full table is available on the [SDK page](https://docs.microsoft.

[2019-02-19 21:05] ecfan commented on #21686
@CamyDee Hi Cameron, as we've logged a work item for this request and are working together offline, I'd like to resolve this issue as far as GitHub is concerned. If you're OK with that, I'm asking @Mike-Ubezzi-MSFT or his teammates to close.

#please-close

[2019-02-19 21:05] miaojiang commented on #7603
#please-close thanks for the feedback.

[2019-02-19 21:05] #7098 closed

[2019-02-19 21:05] TravisCragg-MSFT commented on #25057
@rphensley We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 21:05] #25057 closed

[2019-02-19 21:05] Gariantroll commented on #25294
Hey, I am testing it out and it seems I am getting this response.  "Message": "The request is invalid."

I can't exactly figure out what is going wrong here. any ideas?

Thanks

[2019-02-19 21:05] vikher opened #25297 "login information not persisted across app launches"
As of 2019, is login information persisted across app launches? , the maximum time I get for Access & ID token is one day. Do I need to create my own Web API to use Refresh Token? Is there any sample on how to keep the user logged in? All I need to keep the users logged in a xamarin mobile app﻿

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-19 21:06] TravisCragg-MSFT commented on #22874
@PHBeagle We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 21:06] #22874 closed

[2019-02-19 21:06] ThirstyAdmin opened #25298 "DataLake Gen2 Az Module API"
Hello,

I am just wondering if there is going to be an API using the Az Module for powershell to interact with the datalake gen2 product. Currently right now. I think the only two ways to interact are manually through the explorer, and through Azure CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab1d75b-3cbf-58f2

[2019-02-19 21:07] miaojiang commented on #9187
#in-progress I will investigate.

[2019-02-19 21:07] #7603 closed

[2019-02-19 21:07] TravisCragg-MSFT commented on #25284
@AgSync-Aaron We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 21:07] #25284 closed

[2019-02-19 21:08] diberry commented on #25294
@Gariantroll My guess is the JSON is invalid somewhere with either encoding from the text box to true HTTP encoding or string quotes are off somewhere. Can you please open F12/devtools on the browser, use the console again to send the request, then when you get the error, save the Har file and the console log and send them to me (diberry@microsoft.com)?

[2019-02-19 21:09] erhopf commented on #25296
@tkurosaka - Does adding the content length header solve your problem?

[code]

[2019-02-19 21:10] miaojiang commented on #13479
#please-close @CoderKooke please raise a support ticket so we can investigate.

[2019-02-19 21:13] justingden commented on #24619
It looks like I just missed that comment, as it was part of the instructions. Might be helpful to have information on this in the introduction, but I agree that it is in there and maybe be enough for most users. So maybe I should just go ahead and close this. @jabbera should I just do that?

[2019-02-19 21:16] hugree commented on #25019
I can confirm that the user assigned identities are there... all four of them :)

[2019-02-19 21:18] dkkapur commented on #25285
We don't have support through the gateway today, but there is still a path to do this. The general requirement here is that you need to get a cert into your container, which can be done by putting it in the container as part of the image or mounting it through a Secret in combination with Key vault. Tagging @aljo-microsoft to provide more details on this front. From what I know, I would recommend

[2019-02-19 21:18] Mike-Ubezzi-MSFT commented on #24333
@kazshi Apologies for the delay on this. Is there clarification needed in the documentation, or is there a product question? UDRs or User-defined Routes are part of [Service chaining](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview#service-chaining) in a peered virtual network.

[2019-02-19 21:18] tkurosaka commented on #25296
Yes, this worked! Thank you.

On 2/19/19 1:09 PM, erhopf wrote:

--
T. "Kuro" Kurosaka, Berkeley, California, USA

[2019-02-19 21:20] miaojiang commented on #21366
@xiaoyang-connyun currently the OAuth2 Server feature in APIM is only used by the developer portal. If you want to surface your OAuth provider via APIM as well, you can expose its API via APIM so that client applications can call those APIs to obtain access tokens, rather than calling your OAuth provider directly.

[2019-02-19 21:20] Mike-Ubezzi-MSFT commented on #21686
@CamyDee @ecfan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 21:20] #21686 closed

[2019-02-19 21:24] Gariantroll commented on #25294
I sent the file, but I changed the query to a simply changing the name of an entity since the error was the same.

Thanks

[2019-02-19 21:25] erhopf commented on #25296
@tkurosaka - Great! We're going to update the documentation to correct this issue. Thanks for letting us know.

[2019-02-19 21:26] miaojiang commented on #13883
Thanks for the feedback. I have added them to our work backlog.

#please-close

[2019-02-19 21:26] TravisCragg-MSFT commented on #25283
@agvardha If you still have the default dashboard intact, you can use that dashboard by selecting it in the dashboard dropdown (the down arrow to the right of the dashboard name).

If you have altered or deleted the default dashboard, unfortunately there is not currently a way to bring it back it its original state. If you would like us to add this feature in the future, please[ leave your feedbac

[2019-02-19 21:26] #25283 closed

[2019-02-19 21:27] Saltzmea commented on #25067
George, Thank you. I now understand that there is an Azure service management module (Azure) and Azure resource manager modules (RM and Az).

From: George Wallace <notifications@github.com>
Sent: Tuesday, February 19, 2019 2:13 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Saltzmann, Eric <esaltzmann@skylinetechnologies.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-02-19 21:27] miaojiang commented on #14213
@solankisamir can you please take a look at @jstott's feedback?

@adamtki this is not supported today, but it's on our radar.

[2019-02-19 21:27] mattreatMSFT commented on #25229
@aspnet4you, have you confirmed that you are writing logs into elasticsearch?

Sed is used in this case to change the cluster name found in /etc/elasticsearch/elasticsearch.yml file.

[2019-02-19 21:28] malopMSFT commented on #14537
@jispar can you help to include the change on the next update for service tags

[2019-02-19 21:29] MarileeTurscak-MSFT commented on #25208
Hi @ptwentypt , as far as I know it's not unusual for the app passwords to take 10 minutes to start working. If you would rather avoid these sorts of delays you can stop using app passwords and enable modern auth. If you enable modern auth, existing app passwords will still work.

[2019-02-19 21:30] MarileeTurscak-MSFT commented on #25208
We will now proceed to close this thread. If you would like to continue the discussion please ask a question on MSDN and I will reach out to you there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-19 21:30] #25208 closed

[2019-02-19 21:31] malopMSFT commented on #20619
Hi @dcbrown16,

Unfortunatelly the Virtual Network tag includes the Virtual IP of the host, a deny effectively removes access for AzureLoadBalancer probes

No update is required on the article

[2019-02-19 21:34] georgewallace commented on #25067
@saltzmea To be clear `Get-AutomationConnection` isn't a "Service Management" cmdlet. It is an internal cmdlet for Azure Automation .. There are many of them.. These cmdlets can be run without authenticating.. They are used to access Azure Automation Assets.. the Service Management cmdlet is `Get-AzureAutomationConnection`, AzureRM is `Get-AzureRMAutomationConnection` and Az is `Get-AzAutomationCo

[2019-02-19 21:36] BharathNimmala-MSFT commented on #24821
@jagjitraja We are assigning the issue to @adkinn , who will be further helping to troubleshoot the issue.

[2019-02-19 21:38] diberry commented on #25294
@Gariantroll It appears that you are using the entity name instead of the entity id. The following image shows where to get the entity id.

![list-entity-id](https://user-images.githubusercontent.com/41597107/53049290-9b0ca700-344b-11e9-8e01-2638bacc5a4a.PNG)

[2019-02-19 21:38] malopMSFT commented on #22178
Hi @hotroot

We can include the additional details into the service tag documentation, please keep in mind that is already documented in different places within the context of UDR
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#default-route
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#routing-example

@jispar please keep

[2019-02-19 21:39] seanmck commented on #25194
This is a question for @ChackDan and his team.

[2019-02-19 21:41] cynthn commented on #24936
@rich-davies and @MicahMcKittrick-MSFT  I think they changed the way service principals are created. It looks like the credentials are autocreated now, based on some other GitHub issues. Would either of you be willing to test it using this instead:

[code]

Then this part changes:

*client_secret*  |  $sp.Secret

I'm just not sure if you can pass in $sp.Secret to the template.

Let me know if that

[2019-02-19 21:45] SumitParikh commented on #24669
Hi Sumit - We will update the 'Product names and service plans identifiers' list manually for now once when the list we generated gets validated by 'Business Planning' team.

Thanks,
Aruna

From: Sumit Parikh <Sumit.Parikh@microsoft.com>
Sent: Tuesday, February 19, 2019 9:36 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Manish S

[2019-02-19 21:46] ncbrown1 opened #25300 "Ready for Use?"
The latest update on the github repository at the time of this comment was in November of 2018, with a standing issue requesting the core functionality of kafka-sink-azure-kusto. Is this documentation leveraging that same version of code? Or are there non-public commits to that codebase which update that tool to provide the required functionality? If it is the latter, is this "production ready"?

[2019-02-19 21:53] Gariantroll commented on #25294
Ahhh, could I be any more oblivious? lol.  Where do I get the sublist ID?

[2019-02-19 21:54] bjw6092 commented on #17535
@YutongTie-MSFT Hello, will 8 digit OATH-TOTP SHA-1 tokens be supported?

[2019-02-19 22:00] Joll59 commented on #25094
@erhopf Thanks for these links, they are proving to provide the information I needed, but, my point still stands. There should be a central place that documents exactly what these links you provided are demonstrating.

@YutongTie-MSFT I think this can document can live under, the _Reference_ label.
Considering each service has different offerings, the table format utilized for language support wou

[2019-02-19 22:04] ThirstyAdmin commented on #20989
Hello,

I am just wondering when we will be able to use Az Module in powershell to interact with DataLake Gen 2. I noticed that Azure CLI has some commands that will let you work with DataLake Gen2.

https://docs.microsoft.com/en-us/cli/azure/dls?view=azure-cli-latest

Thanks!

[2019-02-19 22:04] Mike-Ubezzi-MSFT commented on #24460
@kazshi @ijabit I have reached out to the product group to get an accurate answer. Apologies for the delay. Thank you!

[2019-02-19 22:06] iainfoulds commented on #22676
@maganvill After confirming with the AKS engineering team, the underlying AKS code does have `DrainVMs();` for both scale set and non-scale set based AKS clusters that would drain the nodes. The aks-engine code you linked to is a little different in that regard. As such, in AKS, it's a best effort operation (try to drain, but if draining fails, continue to delete).

@MicahMcKittrick-MSFT should be

[2019-02-19 22:07] erhopf commented on #25296
#please-close

[2019-02-19 22:10] erhopf commented on #25094
@Joll59 - I hear you. We are working on some content updates that should address your concerns.

[2019-02-19 22:12] bjw6092 commented on #17535
@YutongTie-MSFT To be clear are 8 digit OTP supported?  Thanks for the feedback.

[2019-02-19 22:14] YutongTie-MSFT commented on #25117
@alexsuttonms Hi Alex, can you please check the issue to see if we can add more details about Jupyter? Thank you.

[2019-02-19 22:21] Ayanmullick opened #25302 "PowerShell Steps"
Could you share the PowerShell Steps as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive connects to SQL](https://docs.microsoft.com/en-us/azure/sql-database/active-directory-in

[2019-02-19 22:22] bamekait commented on #19985
I'm seeing the same symptoms. I can either set groups to "auto approve" or there is no option to join the group at all from access panel (https://account.activedirectory.windowsazure.com/r#/joinGroups).
Is there any update on this case?

[2019-02-19 22:24] hrasheed-msft commented on #23181
#please-close

[2019-02-19 22:24] ChackDan commented on #25194
@MicahMcKittrick-MSFT - please assign this to @dkkapur

[2019-02-19 22:25] justingden commented on #24619
I am going to just close this out, since the content is there.

[2019-02-19 22:25] #24619 closed

[2019-02-19 22:25] Ayanmullick opened #25303 "Query thru Service principal"
Will this work for a Service Principal or for an MFA-enabled user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 476e6b04-34c2-0502-7f00-4f89b24fc475
* Version Independent ID: f0b07c53-8175-6b83-f66f-ab69f8c5313b
* Content: [Use Java to query Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-

[2019-02-19 22:26] aljo-microsoft commented on #23747
@juho-hanhimaki

https://docs.microsoft.com/azure/service-fabric/service-fabric-create-cluster-using-cert-cn

Recent Merged content:

The 'certificateIssuerThumbprint' field allows specifying the expected issuers of certificates with a given subject common name. This field accepts a comma-separated enumeration of SHA1 thumbprints. Note this is a strengthening of the certificate validation - in the

[2019-02-19 22:29] CountlessNumber commented on #23940
@mestew, Supoprt have said it seems to be a host issue. Depending on the size VM you create and what host is starts on, you may or may not have the issue. Eventually all hosts will be upgraded to the same code level, but at the moment it varies.

[2019-02-19 22:31] KeiroKamioka0000 commented on #25225
Hello my understanding was, 200 concurrent limit was for the limit per endpoints.....
I would like to know how many endpoints can be created.

[2019-02-19 22:32] #23747 closed

[2019-02-19 22:36] chetansriv commented on #13302
@derpmcgerp1080p We talked to ADP team and they informed that more UI changes are expected sooner, so we'll update the tutorial when we have all the changes released by them.

[2019-02-19 22:36] chetansriv commented on #13302
#please-close

[2019-02-19 22:39] Gariantroll commented on #25294
I am receiving this error which I think is associated with the sublistID value.

 "error": {
    "code": "BadArgument",
    "message": "Failed to parse closed list extractor update object. Parameter name: wordListBaseUpdateObject"

Any ideas?

Alexis

[2019-02-19 22:39] Adam-Smith-MSFT commented on #25298
@ThirstyAdmin Thank you for the valuable feedback,we are investigating the issue.

[2019-02-19 22:45] Gold14388 opened #25304 "function call returning null"
IEnumerable&lt;IAccount&gt; accounts = await App.PublicClientApp.GetAccountsAsync().ConfigureAwait(false);
why is the accounts set to null after the above statement is executed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cceddcd-1431-ab61-df75-7ccf74a84fba
* Version Independent ID: d5833a30-c43e-8048-63b3-d94d26410

[2019-02-19 22:50] MashaMSFT commented on #20756
Hi @langstonj , thanks for bringing this to our attention! Some changes were made to this document to improve clarity. Can you please review the document and confirm if your issue has been addressed?

Thanks!

[2019-02-19 22:52] BharathNimmala-MSFT commented on #24845
@imeya Thank you for your question, similar question has been answered [here](https://stackoverflow.com/questions/54624901/application-insights-read-response-body). Please check if the work around would suffice your requirment.

Additional  [documentation reference](https://blogs.msdn.microsoft.com/stuartleeks/2016/11/03/including-headers-for-request-events-with-application-insights/)

Hope the ab

[2019-02-19 22:53] #24845 closed

[2019-02-19 23:00] chall-bhs opened #25306 "Dataset - Path - Request URL creation fails"
I have a configured and connected Linked service, but when I try to create a Dataset using the connector I receive an error "Input string was not in a correct format". From the testing I have done it seems there is an issue with the creation of the "RequestURL" string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80c

[2019-02-19 23:14] ycedillos opened #25307 "Allow Access to Azure Services"
The documentation says: "A Web App can be mapped to a private IP in a VNet/subnet. Even if service endpoints are turned ON from the given VNet/subnet, connections from the Web App to the server will have an Azure public IP source, not a VNet/subnet source. To enable connectivity from a Web App to a server that has VNet firewall rules, you must Allow Azure services to access server on the server.".

[2019-02-19 23:17] #22364 closed

[2019-02-19 23:17] #25084 closed

[2019-02-19 23:17] #25169 closed

[2019-02-19 23:17] #25226 closed

[2019-02-19 23:17] #6178 closed

[2019-02-19 23:17] #6764 closed

[2019-02-19 23:18] ycedillos opened #25309 "Limitations"
The documentation says: "A Web App can be mapped to a private IP in a VNet/subnet. Even if service endpoints are turned ON from the given VNet/subnet, connections from the Web App to the server will have an Azure public IP source, not a VNet/subnet source. To enable connectivity from a Web App to a server that has VNet firewall rules, you must Allow Azure services to access server on the server.".

[2019-02-19 23:18] cheenamalhotra commented on #25303
Hi @Ayanmullick

Azure Active Directory authentication for MFA-enabled user is not supported with MSSQL JDBC Driver.

You can find samples and details on supported authentication modes with Azure [here](https://docs.microsoft.com/en-us/sql/connect/jdbc/connecting-using-azure-active-directory-authentication?view=sql-server-2017). If by Service Principal you mean SPN as used in [this](https://docs.m

[2019-02-19 23:21] julieMSFT commented on #10333
@Kazsjo Thankyou for the feedback. I have updated the document and you should be able to see the changes soon. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-02-19 23:22] mike-urnun-msft commented on #25257
Hi @huxxcb Thank you for reporting this issue! We have published an update that fixes the Functions code sample and the changes should reflect within the next 24hrs. If you'd like to try again in meantime, here's the updated sample code:

[code]

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussi

[2019-02-19 23:22] #25257 closed

[2019-02-19 23:25] brlewi commented on #25241
Test

[2019-02-19 23:27] mike-urnun-msft commented on #25255
Hi @daleholborow Thank you for reporting this issue! As part of #25257, we have just published an update that fixes the Functions code sample and these changes should reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-19 23:27] #25255 closed

[2019-02-19 23:32] jemodyMS commented on #24999
@ishepherd I am responding on behalf of the Snapshot Debugger team. It was a bug where function app and App Service were not differentiated in our banner code. I have a PR out to fix this issue.
To answer your question, You can use Snapshot Debugger on the Consumption plan to get a snapshot, but it will not be able to capture your locals. On an App Service plan, it will be able to capture the loca

[2019-02-19 23:33] DCtheGeek commented on #25164
The doc won't be updated until tomorrow, but there are new match-related conditions `"matchInsensitively"` and `"notMatchInsensitively"` to perform the checks without case-sensitivity.

You can see the PR here: #25308 and the updated doc should be live tomorrow morning.

[2019-02-19 23:46] dlepow commented on #25271
@doug-fish - Thanks for pointing out the omission. According to the ACR engineering team, the Owner, Contributor, or AcrPush role has permissions to delete either a repository or image.

I'll update the article to include that information.
#in-progress

[2019-02-19 23:46] brlewi commented on #25242
Test

[2019-02-19 23:48] MarileeTurscak-MSFT commented on #25197
Thanks for the feedback. I made a pull request to the document here for your review, @MarkusVi and @CeciAc https://github.com/MicrosoftDocs/azure-docs-pr/pull/66973

I won't merge unless I get the green light.

[2019-02-19 23:49] MarileeTurscak-MSFT commented on #25197
Closing this out.

[2019-02-19 23:49] #25197 closed

[2019-02-19 23:56] BryanTrach-MSFT commented on #13302
@derpmcgerp1080p We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 23:56] #13302 closed

[2019-02-20 00:02] dkkapur commented on #25194
@TBurda we are working on this now and will likely have it available in the next 3-4 months.

[2019-02-20 00:09] v-maroge commented on #25226
@DashleenBhandari-MSFT How long of a down time should we expect?

[2019-02-20 00:11] dcbrown16 commented on #20619
Ok I'm not exactly sure how the host is involved in Load Balancer probes but thanks for the information.
I'll close.

[2019-02-20 00:11] #20619 closed

[2019-02-20 00:14] msLinuxNinja opened #25311 "VolumeType is NOT Optional"
-VolumeType is not optional and needs to be specified.

Set-AzureRmVMDiskEncryptionExtension : Long running operation failed with status 'Failed'. Additional Info:'VM has reported a failure when processing extension 'AzureDiskEncryptionForLinux'. Error message: "Unknown Volume Type: , has tobe one of ['OS', 'Data', 'All']".'
ErrorCode: VMExtensionProvisioningError

---
#### Document Details

⚠ *Do

[2019-02-20 00:17] msLinuxNinja opened #25313 "SSH remains enabled during encryption"
The documentation says "When encrypting Linux OS volumes, the VM will be unavailable and SSH will be disabled". Tested and SSH remains enabled during encryption allowing users to connect. Ideally SSH service should be disabled to avoid users from interacting with the VM during encryption.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-02-20 00:19] Mike-Ubezzi-MSFT commented on #25303
@Ayanmullick Thank you for the detailed inquiry. The [Use Java to query Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-java) uses SQL Authentication, but the following document walks you through Azure Active Directory Authentication with Azure SQL Database using a Java client and all supported Auth types: [Connecting using Azure Active Directory

[2019-02-20 00:19] MarileeTurscak-MSFT commented on #25253
Your <ClaimsProvider> is missing the UserId claim. This is because either the <OutputClaim> entry which has a ClaimTypeReferenceId="UserId" is missing or it's mapped to a value that's missing.

Please see the related thread. https://stackoverflow.com/questions/45553943/azure-active-directory-custom-policy-error

[2019-02-20 00:20] MarileeTurscak-MSFT commented on #25253
We will now proceed to close this thread. If you have further questions please reach out to me on MSDN and I will gladly continue the discussion there and help troubleshoot. (I monitor it on the hour.) https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-20 00:20] #25253 closed

[2019-02-20 00:21] srrengar commented on #24852
hi we are finalizing this as a team this week, I will get back to you once we've decided!

[2019-02-20 00:26] StingyJack commented on #25041
i did not see that before, Thank You.

[2019-02-20 00:26] #25041 closed

[2019-02-20 00:29] Mike-Ubezzi-MSFT commented on #25309
@ycedillos Thank you for the detailed inquiry. If your App Service is running in an App Service Environment, and not simply in an App Service Plan, you have a dedicated environment to which inbound and outbound post assignment is static and not dynamic in nature as with App Service Plans. The following document is goes into detail about this functionality: [Inbound and outbound IP addresses in Azu

[2019-02-20 00:34] erich-wang commented on #22372
@djaus2, this should be an issue related to VS instead of this extension. Some threads below may be helpful or you may upgrade your VS to latest updates

https://developercommunity.visualstudio.com/content/problem/26008/vs-2017-rtm-vsixinstaller-cannot-find-setup-engine.html
https://developercommunity.visualstudio.com/content/problem/3379/install-failed-and-cant-reinstal.html

[2019-02-20 00:37] kazshi commented on #24333
@Mike-Ubezzi-MSFT It might be both. I got a question about the description "The Managed Instance subnet must have a user route table with **0.0.0.0/0 Next Hop Internet** as the mandatory UDR assigned to it." from my customer. Does it mean that we need to add **0.0.0.0/0 Next Hop Internet** to Route Table explicitly?

[2019-02-20 00:54] Mike-Ubezzi-MSFT commented on #25302
@Ayanmullick Thank you for the detailed inquiry. Are you looking for general Azure Activity Directory PowerShell cmdlets or are you looking for a PowerShell content specific to this document? General Azure Activity Directory PowerShell examples can be found: [PowerShell](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#powershell).
This document is spec

[2019-02-20 00:56] Mike-Ubezzi-MSFT commented on #25300
@ncbrown1 Thank you for the detailed inquiry. We are currently investigating and will update you when we have accurate information.

[2019-02-20 01:03] Alberto-Vega-MSFT commented on #24791
@ChandraSM Closing this issue since it was channeled to support.

[2019-02-20 01:03] #24791 closed

[2019-02-20 01:05] yuharucan opened #25314 "ZRS is not supported yet on ADLS Gen2."
[Enter feedback here]
ZRS is not supported yet on ADLS Gen2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41dfad-9591-8a8d-6119-259d90da18c7
* Version Independent ID: f4bc3316-a230-a486-d1f7-69962ec8030e
* Content: [Upgrade your big data analytics solutions from Azure Data Lake Storage Gen1 to Azure Data Lake Stora

[2019-02-20 01:06] Alberto-Vega-MSFT commented on #24997
@gregdorian  Do you still need help? On step 2 create the database you can see that you entered the password here:
[code]

[2019-02-20 01:10] Alberto-Vega-MSFT commented on #25135
@Laithong Since he haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 01:10] #25135 closed

[2019-02-20 01:14] roygara commented on #24708
@saf-itpro thanks for bringing this to our attention, we appreciate it! I've investigated and found an alternate solution - I will update the article soon.

Until that time, for reference, you may use `Get-InstalledModule -Name Az -AllVersions | select Name,Version` to get the current installed version.

[2019-02-20 01:17] Alberto-Vega-MSFT commented on #25069
@mikedouglasdev PR with fix merged Thanks again for your valuable feedback!

[2019-02-20 01:17] #25069 closed

[2019-02-20 01:21] phil0007 opened #25316 "First parameter of function 'GetMetadataPropertyValue' is invalid. Input stream name is expected."
Error: First parameter of function 'GetMetadataPropertyValue' is invalid. Input stream name is expected.

This query works ok against a blob source:
[code]
This one doesn't with the *LAST* (or LAG) added:
[code]

[2019-02-20 01:22] Ayanmullick commented on #25302
I'm looking for the PowerShell equivalent of the C# source code; as it is documented in other SQL docs.
https://docs.microsoft.com/en-us/sql/relational-databases/server-management-objects-smo/tasks/creating-altering-and-removing-databases?view=sql-server-2017

[2019-02-20 01:26] yuharucan opened #25317 "ZRS is not supported on ADLS Gen2 at Japan East yet."
[Enter feedback here]
ZRS is available at Japan East.
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy-zrs?toc=%2fazure%2fstorage%2fqueues%2ftoc.json

But it is not available on ADLS Gen2 at Japan East.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41dfad-9591-8a8d-6119-259d90da18c7
* Version

[2019-02-20 01:28] aljo-microsoft commented on #25285
@dragav
To provide clarity.

[2019-02-20 01:28] kgremban commented on #23265
@raghavan20 I see that your stackoverflow question has been answered since you wrote that post, and that the response value you're looking for is "Abandoned". Does that answer all your questions about offline modules for this issue?

[2019-02-20 01:29] Alberto-Vega-MSFT commented on #25128
@johannordin Thanks so much for clarifying! I have assigned the issue to the content author to evaluate and update as appropriate. @davidmu1 I was able to repro using a personal device.

[2019-02-20 01:33] MicahMcKittrick-MSFT commented on #25194
Thanks @dkkapur !

Looking forward to this update.

@TBurda I will close this out for now and once it is supported the docs will be updated :)

[2019-02-20 01:33] #25194 closed

[2019-02-20 01:34] MarileeTurscak-MSFT commented on #25206
Can you please post your stack trace with any more details about this error? Since this is a product question I request that you move this to MSDN so that we can further troubleshoot. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-20 01:34] MarileeTurscak-MSFT commented on #25206
Closing this issue out as the discussion should be moved to MSDN.

[2019-02-20 01:34] #25206 closed

[2019-02-20 01:40] MarileeTurscak-MSFT commented on #25184
@mrmueller I have assigned this issue to the content author, @jeevansd , to look into your feedback and update as appropriate.

[2019-02-20 01:42] roygara commented on #24708
Changes have been merged, they should appear sometime tomorrow.

Again, thank you @saf-itpro , we really do appreciate you bringing this to our attention!

#please-close

[2019-02-20 01:47] MarileeTurscak-MSFT commented on #25172
If you want to list all the resource types you can use Get-AzureRmResourceProvider -ListAvailable | Select-Object ProviderNamespace, RegistrationState

You can also return everything with Get-AzureResource

![image](https://user-images.githubusercontent.com/13383753/53060044-e172fd80-346d-11e9-9337-e0a3cfd21edc.png)

This document might be the best reference point for you: https://docs.microsoft.c

[2019-02-20 01:47] MarileeTurscak-MSFT commented on #25172
Your error message seems more subscription/permissions related though.

[2019-02-20 02:06] legwind commented on #20723
There are a lot of other AD attributes, such as "division" or "employeeNumber" or "ou" - are there AzureAD equivalent attributes?

[2019-02-20 02:07] dcbrown16 commented on #21957
@rayne-wiselman @SumanthMarigowda-MSFT
Now the steps to change configuration are gone entirely. Where are customers supposed to get this information?
We continue to get support cases asking about the changes.

[2019-02-20 02:08] wilsonchua20 commented on #23489
any findings?

[2019-02-20 02:11] Mike-Ubezzi-MSFT commented on #25302
Thanks for the clarification @Ayanmullick. This is being evaluated by the content team and updated accordingly.

[2019-02-20 02:11] kazshi opened #25318 "Supported Operating System for SQL Azure Data Sync Agent"
This is not about this content page, but I would appreciate if this would be forwarded to the download page owner.
Supported Operating System in the SQL Azure Data Sync Agent download link ("To add an on-premises SQL Server database" Step.2-a.) needs to be up-to-date.

[Current]
Supported Operating System
Windows 10 , Windows 7, Windows 8, Windows Server 2012, Windows Vista
&gt; Windows Server 200

[2019-02-20 02:12] Mike-Ubezzi-MSFT commented on #25302
Making @CarlRabeler aware.

[2019-02-20 02:18] cogran opened #25319 "Network Security Groups blade view change"
The blade verbiage for the NSG blade view has been updated to "Effective security rules." Please update the relevant textual references and screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f14cadac-c683-1fe4-b76c-daaa8ae15154
* Version Independent ID: 82e09dae-8236-d1cc-4041-8bd0c2e1e72c
* Content: [Introduct

[2019-02-20 02:21] j-martens commented on #23209
this fix should take care of it. #please-close.

[2019-02-20 02:25] imeya commented on #25160
@AmanGarg-MSFT, thanks it works.

[2019-02-20 02:25] #25160 closed

[2019-02-20 02:31] batizar commented on #25005
@DashleenBhandari-MSFT thanks for clarification but is the document going to be updated? thanks.

[2019-02-20 02:33] batizar commented on #25005
@ggailey777 have done the same in my project because it made sense to use .NetCore if I am going through the trouble to upgrade my project to WebJob 3, so was just wondering if that was just a mistake in the documentation.

[2019-02-20 02:37] Mike-Ubezzi-MSFT commented on #25318
@kazshi Thank you for catching this and bringing it to our attention. Let me investigate this to see who manages the content about an appropriate update.

[2019-02-20 02:38] genlin commented on #24568
@milanio, thanks for the feedback. I will update the article.

[2019-02-20 02:39] YASWANTHM-MSFT commented on #25317
@yuharucan , Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-20 02:44] YASWANTHM-MSFT commented on #25314
@yuharucan , I'm glad you resolved this. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 02:44] #25314 closed

[2019-02-20 02:54] andrewatfornax opened #25321 "Region Update Required?"
"A Log Analytics workspace is currently supported in the following regions:

West Central US
East US
West Europe
Southeast Asia"

I think this may be out of date now, and requires an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8a12a8-5e16-0e6a-43ae-891d18005212
* Version Independent ID: 95f3383d-d3f9-cd50-

[2019-02-20 02:55] #23599 closed

[2019-02-20 02:56] yuharucan opened #25322 "The Azure Data Lake Storage Gen2 connector is fully supported on Databricks Runtime 5.2 and above"
[Enter feedback here]
The bellow page says that "The Azure Data Lake Storage Gen2 connector is fully supported on Databricks Runtime 5.2 and above".
https://docs.azuredatabricks.net/spark/latest/data-sources/azure/azure-datalake-gen2.html#azure-data-lake-storage-gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41d

[2019-02-20 03:00] erhopf commented on #23489
@PanosPeriorellis @wolfma61 - Can you help unblock @wilsonchua20?

[2019-02-20 03:15] BryanTrach-MSFT commented on #13479
@mbatista Please let us know if you require any assistance. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 03:15] #13479 closed

[2019-02-20 03:15] BryanTrach-MSFT commented on #13883
@freedumb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 03:15] #13883 closed

[2019-02-20 03:15] anrothMSFT commented on #25292
Hi!
What do you see when your try to sign in?
best,
Anna

[2019-02-20 03:18] BryanTrach-MSFT commented on #23181
@xiopeter3345 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 03:18] #23181 closed

[2019-02-20 03:19] BryanTrach-MSFT commented on #25094
@Joll59 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 03:19] #25094 closed

[2019-02-20 03:20] BryanTrach-MSFT commented on #25296
@tkurosaka We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 03:20] #25296 closed

[2019-02-20 03:29] BryanTrach-MSFT commented on #25295
@surajjacob Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 03:30] DianeHadley opened #25323 "Reporting incorrect link"
"If you need to author a custom template to suit your needs, it is highly recommended that you start with one of the templates that are available on the Azure Service Fabric template samples. Learn how to customize your cluster template."

"Customize your cluster template" links to the top of this page, but I believe it should link to the page titled "Create a custom cluster template"

---
#### Do

[2019-02-20 03:31] BryanTrach-MSFT commented on #25297
@vikher Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 03:33] BryanTrach-MSFT commented on #25304
@Gold14388 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 03:34] BryanTrach-MSFT commented on #25306
@chall-bhs Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 03:35] BryanTrach-MSFT commented on #25307
@ycedillos Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 03:37] BryanTrach-MSFT commented on #25316
@phil0007 Can you please provide us with the URL of the doc that you are having trouble with? We look forward to your reply.

[2019-02-20 03:43] genlin commented on #24568
@@milanio, a pull request has been submitted to fix the issues. I will process to close the issue. Free feel to reopen the issue if you have any additional comment about this matter.

[2019-02-20 03:43] genlin commented on #24568
#please-close

[2019-02-20 03:49] femsulu commented on #25321
@andrewatfornax Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-20 03:51] femsulu commented on #24924
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-20 03:51] #24924 closed

[2019-02-20 03:55] Roblarson opened #25324 "Need to indicate where each kind of runbook can be executed: Windows or Linux"
Content needs to have information on what type of Hybrid Runbook Worker you can execute the runbook type on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8081200f-2bf4-db58-c957-c8ab7af5f90b
* Version Independent ID: b135cf1a-c391-03e5-41e7-e13571351e91
* Content: [Azure Automation Runbook Types](https://docs.microso

[2019-02-20 03:55] femsulu commented on #25043
@larswestman if you don't mind, we will need to take this offline to discuss since I am unable to resolve the content author's alias in GH. Please send mail to AzCommunity@microsoft.com including a link to this thread (for context) and we will gladly carry on the conversation and update the content if needed.

[2019-02-20 03:56] femsulu commented on #25043
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-20 03:56] #25043 closed

[2019-02-20 04:01] kogesaka commented on #24777
@BryanTrach-MSFT , Especially the progress seems to be content, how is it?

I can't set the service endpoint for Web App using the new VNet integration by performing the operation verification on my side, but communication with the resource (eg Azure Storage, SQL Database) where the service endpoint is set I could do it.

Especially contact from the development department etc, it is content, if th

[2019-02-20 04:02] wilsonchua20 commented on #23489
i either get bad request or Response contained no data

[2019-02-20 04:20] KevinTupper opened #25325 "Typo in the in the image download."
Docker pull for the Recognize Text container

docker pull containerpreview.azurecr.io/microsoft/cognitive-services-rocognize-text:latest

should be

docker pull containerpreview.azurecr.io/microsoft/cognitive-services-recognize-text:latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439c70ec-4484-25de-4942-939112188

[2019-02-20 04:23] mganeshphani commented on #25217
Is it possible to make the statement more clear? almost 8/10 people working on AKS poc in our organization interpreted this as RBAC should be enabled during the creation time and they thought enabling RBAC in portal UI while creation of cluster would automatically create  AD applications and configure AD integration.. may be having  following sentence appended might help "i.e. Clusters created via

[2019-02-20 04:30] SumanthMarigowda-MSFT commented on #25230
@yoyogin I have assigned the issue to the content author to investigate further review

[2019-02-20 04:32] SumanthMarigowda-MSFT commented on #25311
@msLinuxNinja Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-20 04:35] SumanthMarigowda-MSFT commented on #25313
@msLinuxNinja Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-20 04:35] vikramdadwal commented on #25285
@dkkapur @MicahMcKittrick-MSFT : Thanks for the quick response. Based on the answer provided, I have the following questions:

- When would the https support be available with gateways? As I guess that is the minimum/basic security level an API service, exposed to the internet, should provide?
- It would be great if you can provide a sample Mesh App (Asp.Net core) which expose through https as per

[2019-02-20 04:44] Aviky commented on #19904
I believe
App-Consistent Snapshopts for VMware VMs the default value is : 1 Hr/60 Mins
App-Consistent Snapshots for Azure VMs the default is : 4 hrs

[2019-02-20 04:51] genlin commented on #23599
@dcbrown16 , As far as I know, RBAC owner can also receive the notifications from "Alerts (classic)" service. I suggest you contact our support for this detail.

[2019-02-20 04:51] CHEEKATLAPRADEEP-MSFT commented on #25325
@KevinTupper Thanks for pointing out the issue, I've addressed this issue in below PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/66997](https://github.com/MicrosoftDocs/azure-docs-pr/pull/66997)

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.

[2019-02-20 04:52] #25325 closed

[2019-02-20 04:52] DashleenBhandari-MSFT commented on #25005
@batizar , yes the article is being updated.

[2019-02-20 05:02] dcbrown16 commented on #23599
I think it's more of an issue with SQL DB's notification implementation.
I'll leave the feedback here in case anyone comes across this. Thanks!
https://feedback.azure.com/forums/217321-sql-database/suggestions/32425666-allow-non-admins-and-non-co-admins-to-recieve-noti

[2019-02-20 05:14] RohitMungi-MSFT commented on #25242
@heatherbshapiro can we provide more information about the docker images provided.

[2019-02-20 05:22] aspnet4you commented on #25229
@mattreatMSFT - I am new to elasticsearch but I was able to change the cluster name and update the same on data source. Still same error!

Here is the relevant section from elasticsearch.yml:
# Use a descriptive name for your cluster:
#
 cluster.name: grafana
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
 node.name: ${

[2019-02-20 05:29] RohitMungi-MSFT commented on #25225
@KeiroKamioka0000 I do not find a documented limit in this documentation. I will assign this issue to the content author to update the same. @ericlicoding Could you please update the limit of number of endpoints permitted?

[2019-02-20 05:38] CelesteDG commented on #24807
Thank you very much, @navyasric :)

@PixelStroke - Thank you very much for your feedback. Our PM has made the updates and these changes are now live.

[2019-02-20 05:38] CelesteDG commented on #24807
Doc updates are live.
#please-close

[2019-02-20 05:51] imeya opened #25326 "How to add custom properties in controller-level request in a mvc project?"
I have a .net framework mvc project, and in the controller(like HomeController), I want to add custom property(for each request, the property is different) to each default request. like below:

public ActionResult Index()
        {
xxx.Properties.Add("index_page","this is in index page"); // this property should only occur in the index page related request
}

public ActionResult About()
        {

[2019-02-20 06:02] jakaruna-MSFT commented on #25323
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 06:19] aspnet4you commented on #25229
After digging some more, it appears there is problem with logstash! Documentation does not have a step to install azureblob plug-in. Is this something missed?

[ERROR][logstash.plugins.registry] Tried to load a plugin's code, but failed. {:exception=>#<LoadError: no such file to load -- logstash/inputs/azureblob>, :path=>"logstash/inputs/azureblob", :type=>"input", :name=>"azureblob"}
[2019-02-20T

[2019-02-20 06:22] CHEEKATLAPRADEEP-MSFT commented on #22038
@saimanojkumarnandam  Please find the document link: [https://docs.microsoft.com/en-us/sql/t-sql/queries/explain-transact-sql?view=aps-pdw-2016-au7](https://docs.microsoft.com/en-us/sql/t-sql/queries/explain-transact-sql?view=aps-pdw-2016-au7)

Hope this helps.

[2019-02-20 06:38] imeya opened #25327 "why does client.Context.GlobalProperties.add() or client.Context.Properties.Add() not take effect?"
In my .net framework mvc project -&gt; HomeController.cs -&gt; in each method like Index / About / Contact, I want to use client.Context.GlobalProperties.add() or client.Context.Properties.Add() to add custom properties, but it does take effect.

After I execute the code, then check the telemetry data in azure portal, my custom properties does not added in each request / trace etc.

My code like b

[2019-02-20 06:38] CHEEKATLAPRADEEP-MSFT commented on #25282
@fadymach Thanks for pointing out the issue, the issue has been addressed in the below PR: [https://github.com/MicrosoftDocs/azure-docs/pull/25287](https://github.com/MicrosoftDocs/azure-docs/pull/25287)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contrib

[2019-02-20 06:39] DixitArora-MSFT commented on #25307
Outbound IP Address of the App Service Plan is just one component of the Azure Services.

We need this feature ON for running other services like
1) Import Export Service
2)SQL Database Query Editor
3) Data Sync

Follow the below documentation which discuss in detail the impact of removing 'Allow Azure services to access server'

[](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-

[2019-02-20 06:43] CHEEKATLAPRADEEP-MSFT commented on #25096
@mayurpuli We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-20 06:43] #25096 closed

[2019-02-20 06:44] Alberto-Vega-MSFT commented on #24997
@gregdorian I just noticed that you had a duplicate here https://github.com/MicrosoftDocs/azure-docs/issues/25074  and you had your issue already resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 06:44] #24997 closed

[2019-02-20 06:44] CHEEKATLAPRADEEP-MSFT commented on #25237
@philipverlinden We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-20 06:44] #25237 closed

[2019-02-20 06:49] 5mdd commented on #24801
Dear Mike,
I have a “Standard” Support Plan and just submitted a support ticket: case 119022025000068.
Regards,
Sebastien

From: Mike Ubezzi <notifications@github.com>
Sent: 14 February 2019 19:05
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sébastien Didierjean <sebastien@oss.no>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] [python SDK] Stored

[2019-02-20 06:54] Grace-MacJones-MSFT commented on #24777
@kogesaka based on this doc and this [blog](https://blogs.msdn.microsoft.com/appserviceteam/2018/10/17/new-app-service-vnet-integration-feature/), you should be able to enable service endpoints on the subnet used for VNet Integration. As you aware, this New VNet Integration is currently still in preview so there might be a few things or functionalities that needs to be ironed out before the featur

[2019-02-20 06:54] #24777 closed

[2019-02-20 07:19] CHEEKATLAPRADEEP-MSFT commented on #25306
@chall-bhs Specify the AAD resource you are requesting for authorization.
For example, if your Dynamics URL is https://sampledynamics.sandbox.operations.dynamics.com/data/, the corresponding AAD resource is usually https://sampledynamics.sandbox.operations.dynamics.com.
Hope this helps.

[2019-02-20 07:22] anthonychu commented on #23622
The quickstart was using an older version of the SignalR Service bindings that used ports that were deprecated and removed from the service a few weeks ago, causing these errors. We have since updated the quickstarts with a recent version of the bindings that work properly. Sorry for the inconvenience.

[2019-02-20 07:23] anthonychu commented on #24031
The quickstart was using an older version of the SignalR Service bindings that used ports that were deprecated and removed from the service a few weeks ago, causing these errors. We have since updated the quickstarts with a recent version of the bindings that work properly. Sorry for the inconvenience.

[2019-02-20 07:31] maverick126 opened #25328 "Budget Scope"
Is it possible to set budget scope by tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-fc3d9210b363
* Version Independent ID: 11688ab7-9553-f03d-5a06-06f25383eff9
* Content: [Azure billing and cost management budget scenario](https://docs.microsoft.com/en-us/azure/billing/billing-cost-managem

[2019-02-20 07:43] imeya opened #25330 "Does powershell runbook support start-job cmdlet?"
can we use start-job in the powershell runbook? if not, is there any way we can simulate this behavior?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038d927f-2bcc-c62d-b3c3-f194513bced6
* Version Independent ID: 41adf2c5-3ab7-7387-e541-89e34aa6a6b1
* Content: [My first PowerShell runbook in Azure Automation]

[2019-02-20 07:44] AlexanderTodorovic opened #25332 "Access on demo file"
Dear All, it seems the assignment of the role Blob Storage Contributor Role is not sufficient and permission has to be set explicitly via Azure Storage Explorer -&gt; File System -&gt; Manage Access -&gt; set Read,Write,Access with the Object ID of the service principal.
If this is the case it would be very helpful if it would be part of the documentation. Thank you.

---
#### Document Details

⚠

[2019-02-20 08:00] chrispadgettlivecom opened #25338 "Documentation for Application Insights and Phone Factor technical profiles"
Can you please add documentation for the Application Insights and Phone Factor technical profiles?

These technical profiles are in common use but it's difficult to find a complete description for them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe70bb3e-884f-a8db-eee7-ae98cf653b93
* Version Independent ID: d864792

[2019-02-20 08:12] dcbrown16 commented on #25158
Thanks @DashleenBhandari-MSFT

[2019-02-20 08:12] #25158 closed

[2019-02-20 08:32] Werner-MOC commented on #25236
I have the requirements (5.1) on my system installed, as you can check below:

PS C:\WINDOWS\system32> [environment]::OSVersion
Platform ServicePack Version      VersionString
-------- ----------- -------      -------------
 Win32NT             10.0.17763.0 Microsoft Windows NT 10.0.17763.0

PS C:\WINDOWS\system32> $PSVersionTable.PSVersion
Major  Minor  Build  Revision
-----  -----  -----  ------

[2019-02-20 08:48] KrishnaG-MSFT commented on #25161
Thanks for letting us know on this @ericcwk.
Looks like it is related to https://github.com/MicrosoftDocs/azure-docs/issues/6901 issue. Check if this can help you to resolve the issue.
In other words, the error "_Pricing tier doesn't match the subscription's billing model. Read http://aka.ms/PricingTierWarning for more details_" is seen if you try to create a log analytics workspace by opting pric

[2019-02-20 08:57] raghavan20 commented on #23265
I have been sending `ABANDONED` when the message could not be processed temporarily but it appears that the message has not been queued. Also can you confirm whether the message is queued to the front or the rear of the queue?

**relevant code**

[code]

**module log**

[code]

if you look at the timestamps of messages, a message is generated by another module (simulator) every `5s` and some of th

[2019-02-20 09:01] KrishnaG-MSFT commented on #25164
@DCtheGeek Nice to know the update. Thanks. 👍
I have one general question! What if someone wants to use only match operator for complex regex comparision using typical characters like "[", "]", "*?", "+?" (for example [0-9]{5}[a-z]*, [0-9]{5}[a-z]+, etc.), so does match operator work with characters other than "#", ".", "?" in future releases ?

[2019-02-20 09:06] CHEEKATLAPRADEEP-MSFT commented on #25273
@chantong47 Recently, I have received the same error message. Once have provided the required permission, it started working as excepted.
![image](https://user-images.githubusercontent.com/44426401/53079619-d4f9ae00-351c-11e9-9b33-55ddc3375724.png)

Make sure to assign the Blob Storage Contributor Role to the service principal in the scope of the Data Lake Storage Gen2 storage account.

Hope this

[2019-02-20 09:09] PramodValavala-MSFT commented on #25259
@bcube I believe [this section](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#configure-a-jwt-validation-policy-to-pre-authorize-requests) of the document should clear things up.

To reiterate, the steps in the document prior to the section I've shared are to setup the Developer Console as a client to your API, enabling it to perform the OAuth

[2019-02-20 09:09] DashleenBhandari-MSFT commented on #25158
@dcbrown16 Just wanted to understand that if you do not have further questions, can I go ahead and close the thread.

[2019-02-20 09:10] TWolverson commented on #25172
@MarileeTurscak-MSFT Thank you. I managed to get the role assignment set at the resource group level, which doesn't use this argument; I'm just experimenting at this point.

It would be helpful to reference the {provider-namespace}/{resource-type} pattern explicitly in the docs and link to the article about templates for more info. I've noticed in general that a lot of the Azure docs assume a lot

[2019-02-20 09:11] woodwardmatt opened #25339 "Please incorporate a reference the Retain Policy behaviour for deleting PVs using Azure Files"
I've been working with Azure File Shares using the article above for reference. When migrating this over to be a helm chart, and subsequently using the Helm delete commands, the Azure File Shares themselves were being deleted also as documented at: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#delete

I, however, found this subtlety to be a bit counter-intuitive (as the File Shar

[2019-02-20 09:13] RohitMungi-MSFT commented on #25181
@letmaik I think the wording in question can be rephrased as "**secure socket layers (SSL) key-based authentication**" instead of "**secure socket layers (SSL) and key-based authentication**", Since we are not using the keys that are to be passed in authentication headers.

I feel this article may not be the right place to include the working details of key based authentication. We have some [deta

[2019-02-20 09:13] TehWardy commented on #17959
I was given that link from Azure Support as a guide to getting SQL databases backed up and restored in to our SQL instance in the cloud.
How do I go about getting a blob stored backup restored in to an Azure based SQL instance?

[2019-02-20 09:15] imeya opened #25340 "Is there any settings to prevent telemetry data being displayed in visual studio -> application insights search?"
My customer encountered an strange issue. He has a very simple .net framework console app(visual studio 2017, 15.8.5), and installed the lastest sdk Microsoft.ApplicationInsights(2.9.1). when send a custom event, the data can be shown on the visual studio output window and also shown in the azure portal, but it can not be shown in the application insights search on visual studio.

This only occurs

[2019-02-20 09:16] poelstra commented on #25049
@Alberto-Vega-MSFT Any update on the issue?

I have other experiments in the Europe region, and for best results want to run this in Europe, too.

[2019-02-20 09:18] dcbrown16 commented on #25158
@DashleenBhandari-MSFT I closed it, thanks.

[2019-02-20 09:19] TWolverson commented on #25172
Also, this is more of a rant than a legitimate feedback comment, but...

The error message yielded from this command is utterly useless for diagnosing what is actually wrong. As a user, I shouldn't be complained at about something called a "Scope" because I didn't specify one, and I certainly didn't choose to give it an odd number of parts. Error messages should tell me what **I** did wrong. The l

[2019-02-20 09:24] vainolo commented on #18494
Notes were added to the documentation

[2019-02-20 09:36] lightupdifire opened #25341 "AAP | Network bandwidth"
Hello,
Would be great to know what is network bandwidth when use Azure Application Proxy,
Does AAP limit speed somehow?
We have internal WEB server and AAP in same VM cluster, this network is 1Gbps (internal&external);
On WEB server we have "speed test tool":
Internally we got average: 251821 kbit/s;
From public network (100Mbs) via AAP average: 10670 kbit/s;
Does this means that AAP limit to xxxx

[2019-02-20 09:47] TWolverson commented on #25172
OK, having used the right resource template name, I'm now getting a slightly more comprehensible error message, but it still isn't something I know how to solve:

`New-AzRoleAssignment -ObjectId $objid -ResourceGroupName [myrg] -ResourceName [blob container name] -ResourceType Microsoft.Storage/storageAccounts/blobServices/containers -RoleDefinitionName 'Storage Blob Data Reader (Preview)'`

`New-

[2019-02-20 09:51] CHEEKATLAPRADEEP-MSFT commented on #25332
@AlexanderTodorovic Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

@mamccrea Could you please evalute and update the document asap.

Blob Storage Contributor Role is not sufficient and permission has to be set explicitly via Azure Storage Explorer -> File System -> Manage Access -> set Read,Write,Access with the Object ID o

[2019-02-20 10:08] imeya opened #25342 "How to turn on application insights extension with powershell?"
In this [section](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps#run-time-instrumentation-with-application-insights), we can turn on the site extension for application insights via UI. Is there any powershell script to do it?

![turnon-extension](https://user-images.githubusercontent.com/25738099/53083848-9a9f0980-353a-11e9-9910-5f9246f84957.JPG)

thanks.

---
#### Documen

[2019-02-20 10:18] heliomgg commented on #25207
Hi!
Do you have any news about this issue?

Thanks!

[2019-02-20 10:20] marcuslang opened #25343 "Throttling "Device-to-cloud sends" per device ID"
Is it possible to throttle specific devices, which send too much messages (e.g. due to a bug in the firmware)?
Will those faulty devices block other device messages if the quota is exceeded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-

[2019-02-20 10:22] CHEEKATLAPRADEEP-MSFT commented on #25298
@ThirstyAdmin To interact with Data Lake Storage Gen2 by using PowerShell, you'll need to install module Az.Storage version 0.7 or later.

- You can create an account using the Azure portal, Azure PowerShell, or via the Azure CLI.
- To view or manage Data Lake Storage Gen2 accounts by using Azure Storage Explorer.

For more details, refer "[ADLS Gen2 - Quickstart](https://docs.microsoft.com/en-us/

[2019-02-20 10:29] alexjebens opened #25344 "Message Calculation"
It is unclear to me how messages are calculated; if 100 Users are connected and I use the /api/v1/hubs/{hubName} API to post 1 message to all users does that count as 1 or 100 messages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5132b1-2ef2-0732-feb0-608c3c1042ec
* Version Independent ID: 811f5f3f-5621-f02f-f607-

[2019-02-20 10:29] KrishnaG-MSFT commented on #25330
@imeya Yes, we should be able to use it as we have 'Microsoft.PowerShell.Core' module available by default in Azure Automation modules.
For illustration, please find below screenshots.
<img width="386" alt="cap11" src="https://user-images.githubusercontent.com/45988031/53084551-11caa280-3527-11e9-9765-e37e88b221ba.PNG">
<img width="441" alt="cap10" src="https://user-images.githubusercontent.com/45

[2019-02-20 10:34] jayendranarumugam opened #25345 "Character limit 5120 instead of 5000"
As per the documentation the limit for calling the TextAnalyticsAPI is 5000 character but when I tried with Dotnet SDK (TextAnalyticsClientExtensions) with a huge file I'm getting the error like "A document within the request was too large to be processed. Limit document size to: 5120 characters." So which Is the correct limit 5000 or 5120 ?

---
#### Document Details

⚠ *Do not edit this section.

[2019-02-20 10:53] imeya commented on #25330
@KrishnaG-MSFT, thank you very much. I just want to confirm if there is some limitation of powershell  runbook for start-job.

and if there is some docs about the limitation of the powershell runbook? compared to the powershell on local pc.

[2019-02-20 11:09] SumanthMarigowda-MSFT commented on #25171
@BartVanBerkel Yes, here is our new ARM template to enable Azure Storage ATP
https://azure.microsoft.com/en-us/resources/templates/201-storage-advanced-threat-protection-create/

[2019-02-20 11:13] SumanthMarigowda-MSFT commented on #25173
@BartVanBerkel Yes, the common name across MS detection services is Advanced Threat Detection, Office Advanced Threat Detection, Windows Defender Advanced Threat Detection, SQL Advanced Threat Detection, Storage Advanced Threat Detection.

The service does detection which is another layer of protection

[2019-02-20 11:26] larsjoR opened #25346 "Typo in "Configure ROPC""
Hi,
The header for "Configure ROPC" has a typo. Currently it's spelled "Confgure ROPC".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21f5240-6fe2-41ec-293a-2e3b33522706
* Version Independent ID: 095c2d6b-8691-74b6-99d5-db0ee1017194
* Content: [Configure the resource owner password credentials flow in Azure Active Di

[2019-02-20 11:29] cephalin commented on #24951
See this document https://docs.microsoft.com/azure/app-service/overview-managed-identity#adding-a-system-assigned-identity for steps on setting up managed identity for App Service in both PowerShell and ARM. To set up the SQLDB or Azure AD related things with a specific tool you'll need to consult the documentation of the respective services. As a tutorial this doc is meant to prove the build-out

[2019-02-20 11:29] cephalin commented on #24951
#please-close

[2019-02-20 11:30] BartVanBerkel commented on #25173
@SumanthMarigowda-MSFT To me Detection and Protection are different things.. so the name of the feature suggests that it will protect you from threats... which is not the case, as it will only detect. If you want to protect, you probably have to automate this yourself based on the outcome of the detection.. That's not very advanced. For marketing reasons I understand why this is called Protection.

[2019-02-20 11:31] BartVanBerkel commented on #25171
@SumanthMarigowda-MSFT Thanks. This works, however it is not very well documented in the ARM template reference.

[2019-02-20 11:31] #25171 closed

[2019-02-20 11:33] KrishnaG-MSFT commented on #25232
@imeya AFAIK, the short answer to your 1st question is No.
To explain it in detail, if you have created an alert (with period set to 5 minutes and frequency set to 1 minute) at 2:00:01 pm
1. then the monitor runs at say 2:01:01 pm and looks at metric values for the last 5 minutes (i.e., say 1:56:01 pm to 2:01:00 pm) and checks if the condition value exceeds 70. If the condition is met then the ale

[2019-02-20 11:41] KrishnaG-MSFT commented on #25330
@imeya AFAIK there are no limitations other than the ones that are mentioned [here](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types#powershell-runbooks) for PowerShell runbooks.

[2019-02-20 11:44] o-lazzarino-reply opened #25347 "No mention of signerCertificates variable!!!"
This tutorial does not work unless you also fill in the variable

private static final Collection&lt;String&gt; signerCertificates

in ProvisioningX509Sample.java with the root and the intermediate certificate.

I lost a full day trying to figure it out. PLEASE fix this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-20 11:56] RohitMungi-MSFT commented on #25345
@jayendranarumugam Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-20 12:02] Sethu2488 opened #25348 "Auto-Archive status"
the data and backups for inactive instances that have been paused for more than 28 consecutive days will be auto-archived.
I would like to know if there is way were we can see the status of SQL Data Warehouse instance in being auto-archived.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b3077e-af25-be25-e8c4-8414870

[2019-02-20 12:06] KetanChawda-MSFT commented on #25281
@sbrian26 The `AzureWebJobsStorage` connection string is your Azure Storage Account that is used to by the runtime to do things like trigger when a file is uploaded to blob storage or a message is added to a storage queue. Azure  Function runtime doesn't require storage connection string if the function is purely HTTP Triggered. If you have any other type of trigger or binding in your azure functi

[2019-02-20 12:12] happyadam73 commented on #22169
@rayne-wiselman - this doesn't fully answer the question.  While I accept that Azure VMs use SSE and HTTPS (since that's already documented), you haven't stated what you use for Azure SQL Backup data - I assume it's the same, i.e. SSE to encrypt at rest and HTTPS for transit - I think this needs to be confirmed in your documentation.

Also, I find it quite surprising that even if you do use SSE, y

[2019-02-20 12:14] JesvinJoseph opened #25349 "How a developer can add extra properties in offline messages?"
# Developer doesn't have any control on the offline messages

Now the Edge runtime has the complete control on the message send from a module. If the connectivity is not there, Iot Edge will store them locally and when the connectivity is back, it will send all of them to the IotHub. In V1 if connectivity is not there we will get TIMEOUT error in the send_confirmation_callback method and we can ad

[2019-02-20 12:24] KetanChawda-MSFT commented on #25270
@MarioTiscareno check [this MSDN Thread](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/cac7e29e-b602-442f-bcc7-a6d3e2e07d59/relay-hybrid-connection-need-help?forum=servbus) and [Github Repo](https://github.com/BenLBartle/d365-hybrid-relay) if that helps. apologies as there is no official sample available at this point of time to create a Relay Hybrid Connections Listener using Web API.

[2019-02-20 12:48] cephalin commented on #25214
@tplas We don't have such a doc as part of App Service documentation.

@BryanTrach-MSFT Would it be more appropriate to make this a doc feedback for SQLDB (@CarlRabeler) to provide guidance on managed identity access to SQL MI from apps?

[2019-02-20 12:57] cephalin commented on #25158
@dcbrown16 I've updated the doc to clarify function support in the intro. Thanks.

[2019-02-20 13:08] cephalin commented on #23225
@rbhadti94 A few comments:

- `dotnet publish` is not in the scope of App Service documentation, so I think it's appropriate to doc this caveat in our doc set.
- This isn't the easiest approach to upload a .NET/Core app to App Service. The more straightforward method would be using Visual Studio publish, or if you must use ZIP deploy, I recommend letting App Service do the automated build for you

[2019-02-20 13:12] iricigor opened #25350 "not aligned with portal - how to search?"
I was searching for a "Debian 9" OS image. In the portal, it says the publisher is "Debian", but with PowerShell, I could not find a publisher with such name. Based on Marketplace information, I could find that proper publisher is "credativ". Is this a mistake in the portal or in PowerShell?

Is there any way how to search for a proper publisher? I see that `Get-AzureRMVMImage` has some Filter cap

[2019-02-20 13:15] rueylinlee commented on #25292
[cid:image001.jpg@01D4C8F3.662CFEE0]

From: Anna S. Roth <notifications@github.com>
Sent: Tuesday, February 19, 2019 10:16 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Lee, R Irene <RILEE@southernco.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can't sign in from the Custom Vision Home page (#25292)

 EXTERNAL MAIL: Caution Opening Links

[2019-02-20 13:16] mrbullwinkle commented on #25342
ARM Templates are currently supported.  Documenting how to enable Application Insights in App Services at scale is our #1 ask this month. We will have some new content coming out covering this functionality  before the month is out. Thank you for the question!

[2019-02-20 13:24] Ayanmullick commented on #24951
@cephalin, Microsoft should document the PowerShell steps for the end-to-end scenario like other SQL related documents like below.
https://docs.microsoft.com/en-us/sql/relational-databases/server-management-objects-smo/tasks/creating-altering-and-removing-databases?view=sql-server-2017

[2019-02-20 13:24] JesvinJoseph opened #25351 "How a developer can add extra message properties in offline messages?"
Developer doesn't have any control on the offline messages

Now the Edge runtime has the complete control on the message send from a module. If the connectivity is not there, Iot Edge will store them locally and when the connectivity is back, it will send all of them to the IotHub. In V1 if connectivity is not there we will get TIMEOUT error in the send_confirmation_callback method and we can add

[2019-02-20 13:27] #25349 closed

[2019-02-20 13:32] iAmoric opened #25352 "Build and Push IoT Edge Solution"
I am following this tutorial:
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-java-module

I'm working on Ubuntu 18.04 (amd64 platform) with Visual Studio Code.

I would like to build and push my module for arm32 platform (it will run on raspberry pi so I need arm32). But when do it, I have the following error:
`standard_init_linux.go:207: exec user process caused "no such file or directo

[2019-02-20 13:53] gitathrun commented on #25262
Thanks for MS staff, I have found my answer here: https://aka.ms/debugimage

Need to download the log file and check what is the problem in image build.

Many thanks.

[2019-02-20 13:53] #25262 closed

[2019-02-20 14:00] cconrado commented on #24952
@bwren any update on this?

[2019-02-20 14:12] gitathrun opened #25353 "gcc support for the base docker image for deployment"
Hello,
Just fixed some problem in build the deployment docker image, the reason is the installation of the Python package I use could not be installed.

Due to the lack of gcc support in OS level

[code]
Considering there are still many Deep learning/ Machine Learning frameworks require c++ support for better computation efficiency, is it possilbe to add the gcc support in AML's base docker image?

[2019-02-20 14:13] Robar666 opened #25355 "Unclear if custom domain can be used in Consumption tier"
Consumption tier isn't mentioned in the Availability section. It is unclear if it isn't mentioned because it is still in preview or if it is really not supported. It would be nice if it could be stated here why it is not supported (if this is the case).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02a5991-da24-06a2-

[2019-02-20 14:19] cephalin commented on #24951
@Ayanmullick I understand your feedback, but again this tutorial is actually not part of SQL DB documentation, and as such, is primarily for App Service scenarios. Kindly take your feedback to SQL DB documentation.

[2019-02-20 14:25] sergaz-msft commented on #25343
Hi @marcuslang great question! Please allow us some time to investigate and provide you with the tools\processes you can leverage today to address it. Though for a start can you give a look at the [Azure IoT Reference Architecture](http://aka.ms/iotrefarchitecture)?

Thank you!

[2019-02-20 14:28] blueelvis opened #25356 "Please provide more information on WEBSITE_ENABLE_SYNC_UPDATE_SITE"
This seems to be the only place where it is documented. I don't see any other reference on Google. Do you mind providing more information on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault refe

[2019-02-20 14:33] DCtheGeek commented on #25164
@KrishnaG-MSFT RegEx expressions outside what match/like offer today (*, #, ., ?) isn't supported.  It is, however, a very common [issue on UserVoice](https://feedback.azure.com/forums/915958-azure-governance/suggestions/34148341-azure-policy-support-for-regex-in-match-conditio) and the team has marked it as **Under Review**. If RegEx support is added, it'll be documented right away.

[2019-02-20 14:37] jakaruna-MSFT commented on #25350
@iricigor
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-20 14:48] jakaruna-MSFT commented on #25339
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 15:01] jimdial commented on #21612
@mastair Great. Let us know if you think anything is missing.  #please-close

[2019-02-20 15:02] bertrandpons opened #25357 "Azure SQL Server Firewall Rule for ADF Integration Runtime (SSIS)"
Hello,

Do we have no choice but opening firewall to Azure services to allow ADF Integration Runtime communicating with Azure SQL Server ?

Thank you !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a
* Version Independent ID: 9aaa1635-bb8c-07b4-ebc5-55baeb98149c
* Content: [Security

[2019-02-20 15:03] jimdial commented on #22178
@hotroot I'm going to close the issue, but feel free to file another if you don't feel this is resolved. #please-close

[2019-02-20 15:04] jimdial commented on #23257
@mattreatMSFT Can you answer this one Matt?

[2019-02-20 15:07] jimdial commented on #23293
@christiankuhtz Can you update the text, as appropriate?

[2019-02-20 15:09] jimdial commented on #24208
@vhorne Can you resolve the discrepancy?

[2019-02-20 15:09] alexsmithMSFT commented on #21634
"The Custom Script Extension integrates with Azure Resource Manager templates. You can also run it by using Azure CLI, PowerShell, the Azure portal [incorrect], or the Azure Virtual Machines REST API."

Version 2 (Microsoft.Azure.Extensions.CustomScript) does not support Azure Portal. Instead you must use one of the supported methods such as Azure CLI, or ARM template listed here - https://github.

[2019-02-20 15:10] jimdial commented on #24504
@gsilva5 Can you update the article, as appropriate?

[2019-02-20 15:11] alexsmithMSFT opened #25358 "Microsoft.Azure.Extensions.CustomScript (version 2.X) does not support Azure Portal"
"The Custom Script Extension integrates with Azure Resource Manager templates. You can also run it by using Azure CLI, PowerShell, the Azure portal [incorrect], or the Azure Virtual Machines REST API."

I am pretty sure Version 2 (Microsoft.Azure.Extensions.CustomScript) does not support Azure Portal. Instead you must use one of the supported methods such as Azure CLI, or ARM template listed here

[2019-02-20 15:14] MarioTiscareno commented on #25270
Much appreciated @KetanChawda-MSFT ! The repo you mentioned led me to this, which is what I was looking for: [Azure/azure-relay-aspnetserver](https://github.com/Azure/azure-relay-aspnetserver). The Samples section of this documentation has links to it, I totally missed it.

[2019-02-20 15:14] #25270 closed

[2019-02-20 15:15] MichaelKoll commented on #13927
This also works though not using an App Service Environment (ASE).

I needed to use an On-Premises DNS Server through a Site-to-Site connection where the App Service was connected to the VNet, and this did the trick for us! Thanks for the post 👍

[2019-02-20 15:17] Gariantroll commented on #25294
Hey guys,

I figured out how to get the sublist and is a bit tricky because I couldn't initially find it in the Developers Tools.  To specifically find your sublistID you have to go to DevelopersTools->NetworkTab-> Click on one of the Recommended Synonyms.  You should see the sublist popup in the Name queue.

Thanks for your help.  Can't thank you enough.

Alexis

[2019-02-20 15:26] Gariantroll commented on #25294
Thanks,

I found finding the sublist a little tricky.  Here is a quick rundown.  Go to Developers Tools->Network Tab->Go back to your Luis sublist and delete synonym.  A sublist should pop-up in the Name column in the Network tab -> Click on the sub list -> you should see the list ID from there.

Thanks for everything!!!!

[2019-02-20 15:28] mrosett commented on #24799
Any updates here?

[2019-02-20 15:29] CapicuaIT commented on #10959
Experienced the same bug as @agronholm explained but couldn't make the workaround actually work. Ended up creating a new storage account.

[2019-02-20 15:34] MGoedtel commented on #25269
Engaging @keikhara from the PG to confirm this recommendation is no longer necessary or if there is a reason why we need to continue suggesting this implementation approach.

[2019-02-20 15:45] nzmdgnc opened #25360 "Logic Apps not starting on time"
I have setup a recurrence trigger which should start at 6:00 everyday. In the overview I see in the area "Frequency" it say "Runs at 6:00 every day". So, my trigger was triggered at 7:19. How can I figure out why this is the reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9106dab-3f70-7388-1be0-da02b5728827
* V

[2019-02-20 15:46] RohitMungi-MSFT commented on #25193
@Ilanak Could you please take a look at this [file](https://github.com/PanosPeriorellis/Speech_Service-BatchTranscriptionAPI/blob/master/CrisClient/CrisClient.cs) and let us know if it provides the requested details? For full details about the calls mentioned in the same code, see our [swagger](https://westus.cris.ai/swagger/ui/index) document. For the full sample shown here, go to [GitHub](https:

[2019-02-20 15:50] AshokPeddakotla-MSFT commented on #25347
@o-lazzarino-reply Thanks for the feedback and reporting the issue. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-20 15:54] roelal opened #25361 "not verifying the certificate"
You're suggesting to disable verifying the certificate. (trustServerCertificate=true (edited), MYSQLI_CLIENT_SSL_DONT_VERIFY_SERVER_CERT, etc) Probably because the shared database server serves only one certificate, for it's canonical hostname, something.like.databases.windows.net. And not for mydemoserver.mariadb.database.azure.com.

Am I not correct to state that: a man in the middle can then ea

[2019-02-20 15:55] letmaik opened #25362 "Why are bytes reversed if raw HTTP is accepted?"
In the [binary data section](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-consume-web-service#binary-data) it says it "returns the reversed bytes for POST requests" and in the example code it reverses the bytes to get them to the original ordering. What's the reason for this? It feels like unnecessary overhead.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-02-20 15:57] BharathNimmala-MSFT commented on #25342
@imeya Thank you for your question. If you have any further questions please let us know. Thanks

@mrbullwinkle Thank you for your rapid response.

[2019-02-20 16:01] wesselah opened #25363 "dps_cstr . download does not have an exe file so tool is not availible"
this part of the document does not work Download and unzip (Windows) the dps_cstr tool from [GitHub](https://github.com/Azure/dps-keygen/archive/master.zip

if i download it only contains js code and no exe for windows so i do not have the command and can not derive the connection string which i need  to connect a generic nod.js client or a real device

so i can not fullfill this script later on i

[2019-02-20 16:01] BharathNimmala-MSFT commented on #25327
@imeya Thank you for your question, will further look into it and get back to you at the earliest.

[2019-02-20 16:03] DCtheGeek commented on #25164
@MicrosoftDocs/azure-cxp-triage I believe all questions are answered on this, so let's #please-close.

[2019-02-20 16:06] taromielnaz opened #25364 "Scope"
What is the scope of this policy ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658b4c0d-c5b7-3859-c669-8476ba2b3020
* Version Independent ID: 93fb980c-9db6-e522-a15d-ab28bf26d10c
* Content: [Sample - Apply tag and its default value - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/samples/appl

[2019-02-20 16:06] KrishnaG-MSFT commented on #25164
@imeya Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-20 16:06] #25164 closed

[2019-02-20 16:09] DCtheGeek commented on #25364
@taromielnaz The policy definition can be assigned to a few scopes, including a management group, subscription, resource group, or individual resource.  The sample code, however, is using the resource group scope:

[code]

The `$scope` variable is then used by `New-AzPolicyAssignment`. Is this what you were looking for?

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-question'

[2019-02-20 16:12] Ilanak commented on #25193
@RohitMungi-MSFT , I looked both on the sample code and the swagger document and I can't find the info i'm looking for.

In the swagger, the result of the **post** call **/api/speechtotext/v2.0/transcriptions/{id}**,
contains the following details:
"models": [
    {
      "modelKind": "Acoustic",
      "datasets": [
        {
          "dataImportKind": "Acoustic",
          "id": "5c043993-8416-4

[2019-02-20 16:12] brlewi commented on #25242
![alt text](https://wtv3.blob.core.windows.net/media/testt.jpg?sv=2018-03-28&sr=b&sig=%2FA7TUTq9YZ5dAB%2Bo7exWsU5k5rr66%2BK2loRami%2FndaE%3D&st=2019-02-20T16%3A07%3A38Z&se=2022-02-20T16%3A12%3A38Z&sp=rw "Testt.JPG")

[2019-02-20 16:16] brlewi commented on #25242
![alt text](https://wtv3.blob.core.windows.net/media/500 error.jpg?sv=2018-03-28&sr=b&sig=96%2BY%2FFLqw8%2FupUmJA4QhrLief7zp6XxXon44giT2wGo%3D&st=2019-02-20T16%3A09%3A16Z&se=2022-02-20T16%3A14%3A16Z&sp=rw "500 error.JPG")

[2019-02-20 16:17] DixitArora-MSFT commented on #25355
@Robar666 Thanks for reaching out. We will review and update as appropriate.

[2019-02-20 16:18] jtuliani opened #25366 "Clarify latency"
Quote: Blobs in the Hot storage tier have the same latency as blobs in GPv1, GPv2, and Blob storage accounts. Blobs in the Cool storage tier have a similar latency (in milliseconds) as blobs in GPv1, GPv2, and Blob storage accounts.

This makes no sense to me. Do hot and cool tiers have the same latency, or not? It's a legitimate question that deserves a straight answer.

---
#### Document Details

[2019-02-20 16:20] BharathNimmala-MSFT commented on #25340
@imeya Thank you for your question, will further look into it and get back to you at the earliest.

[2019-02-20 16:22] brlewi commented on #25242
Test

[2019-02-20 16:24] chall-bhs commented on #25306
@CHEEKATLAPRADEEP-MSFT I appreciate your quick comment. I have checked these setting in my connector and they seem to match your examples. I tested the connection on the connector and it succeeded.  My current problem with creating the dataset using the connector.

[2019-02-20 16:26] #25085 closed

[2019-02-20 16:29] LuisCabrer commented on #13135
@SychevIgor ,
Text Merge is it's own skill.  At any rate, I added a link to the OCR skill documentation. The changes will be visible tomorrow.

[2019-02-20 16:33] erhopf commented on #23489
@wilsonchua20 - While I wasn't able to get the code to read chunked audio. I do have working code for you that reads the audio file directly to a `FileStream`. Please note, this assumes the audio file is in the root of you working directory. Hope this helps.

[code]

[2019-02-20 16:33] AshokPeddakotla-MSFT commented on #25351
@JesvinJoseph Thanks for the feedback!
@kgremban Please check the above query and provide your insights.

[2019-02-20 16:34] YutongTie-MSFT commented on #25353
@gitathrun
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 16:46] RohitMungi-MSFT commented on #25193
@PanosPeriorellis Could you help us find more details of the results file?

[2019-02-20 16:47] adhodgson1 commented on #22105
I am also seeing the same issue re-deploying an existing ARM template that monitors a Postgres instance. Deleting the alert seems to fix it but re-applying the alert on top of the existing alert throws this error.

[2019-02-20 16:48] amel00 opened #25368 "Group nesting"
Can groups be nested into the groups assigned the license?
Like in the example in the group HR department there is US HR, UK HR, would the license work through out the nesting and is there any limit on the nesting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1a3b25-8cbd-29f9-d205-31d320f6d315
* Version Independent

[2019-02-20 16:50] bkeyes1 opened #25369 "AppService IP Restriction on Custom Domains"
In the new UI under App Services > (Created App Service) > Networking > Access Restriction > Configure Access Restrictions it is allowing IP restrictions to be setup for the *.azurewebsites.net and *.scm.azurewebsites.net.  Do the listed IP restrictions apply to the custom domains that are setup for that App Service as well? Or do they only apply to the the azurewebsites.net URLs?

---
#### Docume

[2019-02-20 16:53] smithGit commented on #25272
Dear Alberto,  I am reading the IoT Central Continuous Export AVRO files, and they also have integer values for temperature and humidity.  I may have Adafruit ESP8266 original code running that had integer values; I changed the microcode to float, but it could be that the code actually running is old and still integer.  So the integer problem could be my error.  I am investigating, but the ESP8266

[2019-02-20 16:55] CeciAc opened #25370 "This documentation needs an update"
@Dan-cws commented on [Wed Feb 20 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/199)

The example iothub_client_sample_mqtt no longer exists. According to this https://github.com/Azure/azure-iot-sdk-c/issues/406 was substituted by iothub_ll_telemetry_sample.
Please update this page.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti

[2019-02-20 16:57] CeciAc commented on #25370
Hi team,
I'm moving this here since the user comment is about the original documentation
best

[2019-02-20 16:57] phatcher opened #25371 "ASP.NET Core conditional MFA"
The previous answers/documentation only address creating the policies, not how to use them.

I can't find any docs/examples of how to configure an ASP.NET Core app so that a particular page requires a specific authentication policy, e.g. Home/Index -&gt; SignupSignin but Home/Admin -&gt; Admin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-02-20 17:05] RohitMungi-MSFT commented on #25345
@jayendranarumugan Thanks for the interesting observation. As per the documentation the character limit is subject to character limit as measured by [StringInfo.LengthInTextElements](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.stringinfo.lengthintextelements?view=netframework-4.7.2). Also I think the [character classification](https://docs.microsoft.com/en-us/dotnet/api/system

[2019-02-20 17:08] CarlRabeler commented on #25214
@cephalin please work with myself and Van to determine appropriate next steps

@tplas are you saying that you have configured a managed instance with appropriate connectivity and that you cannot get this tutorial to work with appropriate changes, such as to host names? What errors are you seeing?

@VanMSFT could you please look at this issue

[2019-02-20 17:10] CarlRabeler commented on #25302
Making @VanMSFT aware

[2019-02-20 17:21] MicahMcKittrick-MSFT commented on #25358
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 17:23] slynickel commented on #24870
Thanks for clearing this up @iainfoulds, is there a more formal place to request this process change?

The problem is there isn't a way to build an AKS cluster on `1.11.*` today using any Microsoft provisioning products that I'm aware of. Generally speaking we want to test code updates on the same version of Kubernetes that PRD is running on. If you have a build pipeline that spins up and then del

[2019-02-20 17:24] AshokPeddakotla-MSFT commented on #25363
@wesselah Thanks for the feedback and reporting the issue. We are currently investigating and will update you shortly.

[2019-02-20 17:38] Alberto-Vega-MSFT commented on #25370
@Dan-cws Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-20 17:41] Alberto-Vega-MSFT commented on #22783
@djaus2 Was your issue resolved?

[2019-02-20 17:43] taromielnaz commented on #25364
Is there any choise of selecting scop in Azure portal not powershell or CLI?
I would like to enforce my users to put customer name whan creating VMs , web apps , SQL DBs and...

[2019-02-20 17:47] bakerm00 opened #25372 "minimal Azure AD role required"
you need to list the minimal Azure AD permissions requierd to fulfil this install - ie "Application Developer role"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configuration server for VMware di

[2019-02-20 17:52] sethmanheim commented on #21798
#please-close

[2019-02-20 18:01] DCtheGeek commented on #25364
Yes, the Azure portal lets you pick the scope.  You can see an example of the steps here: https://docs.microsoft.com/azure/governance/policy/tutorials/create-and-manage#assign-a-policy

When you say "put customer name when creating", do you mean in the name of the resource or in a tag? If using tags, [this sample](https://docs.microsoft.com/azure/governance/policy/samples/enforce-tag-value) can be

[2019-02-20 18:03] kgremban commented on #25351
@JesvinJoseph Your description sounds accurate to me. With the current offline settings, the IoT Edge hub takes care of queuing messages while offline and sending them once connected. I don't know that there's a way to update the message with data about being offline, but I'm sure there's information you could use on the back end to see if messages were held before being sent, like comparing times

[2019-02-20 18:04] yzhong94 commented on #25370
Thank you @CeciAc , I will have it updated shortly.

[2019-02-20 18:04] Grace-MacJones-MSFT commented on #25356
Hi @blueelvis, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-20 18:05] mm-gmbd commented on #6764
@miaojiang @MicahMcKittrick-MSFT sorry to be a stickler, but shouldn't this be closed after whatever changes are implemented and deployed?

Seeing a "closed" ticket, to me, means that whatever issue the ticket is addressing is resolved or, in the case of it being closed as a "wontfix" then obviously it's not going to be fixed. But, this doesn't fall into either category -- it *will* be addressed,

[2019-02-20 18:05] KrishnaG-MSFT commented on #25324
@Roblarson Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-20 18:05] mm-gmbd commented on #7098
@miaojiang @MicahMcKittrick-MSFT sorry to be a stickler, but shouldn't this be closed after whatever changes are implemented and deployed?

Seeing a "closed" ticket, to me, means that whatever issue the ticket is addressing is resolved or, in the case of it being closed as a "wontfix" then obviously it's not going to be fixed. But, this doesn't fall into either category -- it *will* be addressed,

[2019-02-20 18:05] Grace-MacJones-MSFT commented on #25344
Hi @alexjebens, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:06] KrishnaG-MSFT commented on #25328
@maverick126 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-20 18:09] Adam-Smith-MSFT commented on #25366
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-20 18:10] iainfoulds commented on #24870
I don't think I understand the question.

As you linked to with Resource Manager or Terraform templates, you can specify a version, such as the following very brief Resource Manager template example:

`
"properties": {
   "kubernetesVersion": "1.11.7"
}
`

I'm not sure what I'm missing there in your situation? In terms of dev clusters matching what's in prod, if you're staying up to date on releas

[2019-02-20 18:11] jzuchora87 opened #25374 "Clarification"
In the section above, it states "remove the VM from the saved search for the Scope Configuration MicrosoftDefaultScopeConfig-Updates. Saved searches can be found under General in your workspace." The saved search query is set to "Heartbeat | distinct Computer" by default so how would we remove it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-20 18:13] georgewallace commented on #25374
@jzuchora87 In that case there is nothing to remove.. We just want to make sure any guid's / names of the machines are not in the saved search query.  This could cause the machine to be shown as a duplicate.

[2019-02-20 18:15] KetanChawda-MSFT commented on #25360
@nzmdgnc Can you confirm if you are considering Time Zone setting as well. If yes, can you provide the screenshot of you LA workflow with RUN ID and screenshot from run history?

[2019-02-20 18:16] MicahMcKittrick-MSFT commented on #25162
I will close for now. When ready let me know and we can reopen and continue.

[2019-02-20 18:16] #25162 closed

[2019-02-20 18:17] MicahMcKittrick-MSFT commented on #25203
@sirdank I will close for now. If you have further questions let me know and we can always reopen and continue the conversation

[2019-02-20 18:17] #25203 closed

[2019-02-20 18:17] iainfoulds commented on #25095
PG has confirmed this was a hold-over from ACS, and the default SSH rules are no longer created as of one of the recent AKS releases. Doc has been updated to reflect current behavior.

[2019-02-20 18:19] YutongTie-MSFT commented on #25362
@letmaik
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:21] ThirstyAdmin commented on #25298
Hello,

That doesn't really help. What i am trying to do is create an azure devops release pipeline that will let me create the Storage account Gen 2. Once created I am looking to have a step that creates my file system, and then folders in that file system. Once i have the folders created i am looking to set permissions on the folders based on azure ad groups. I was able to do this with Gen1.

[2019-02-20 18:21] BryanTrach-MSFT commented on #25276
@garolion Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:24] DaveEM opened #25375 "The "Scale out Event Processing with Event Hubs" link is missing"
The last sentence in the second paragraph says "The [Scale out event processing][Scale out Event Processing with Event Hubs] sample shows how to use the Event Processor Host with multiple receivers."  It seems like there should be a link there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5309d7-9a63-fa0f-f8f6-6498

[2019-02-20 18:30] BryanTrach-MSFT commented on #25349
@JesvinJoseph We are happy to hear the issue is resolved.

[2019-02-20 18:31] BryanTrach-MSFT commented on #25352
@iAmoric Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:32] normesta commented on #25273
Yes this should resolve the issue. Note that you can assign a role to parent subscription or resource group, but it takes time for the assignment to propagate down to the storage account.  If you assign the role to the subscription or resource group and then create the storage account after that, the assignment should be inherited immediately. In terms of completing tutorial, if you already have a

[2019-02-20 18:33] MicahMcKittrick-MSFT commented on #25358
@alexsmithMSFT you are correct. I added a CSE via the portal and it only uses the old version not yet the new version.

@roiyz-msft any idea on when the portal will use the new version of CSE for linux?

[2019-02-20 18:33] BryanTrach-MSFT commented on #25357
@bertrandpons Can you please provide us with the URL of the doc that you are having issues with? We look forward to your reply.

[2019-02-20 18:34] BryanTrach-MSFT commented on #25361
@roelal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:38] cweining commented on #25274
@joshuapetryk - Thanks for opening this issue. I'm going to update the docs to describe the issue to help people until we can get the issue fixed.

[2019-02-20 18:38] BryanTrach-MSFT commented on #25319
@cogran Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-20 18:40] BryanTrach-MSFT commented on #25338
@chrispadgettlivecom Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:42] BryanTrach-MSFT commented on #25341
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:42] #25095 closed

[2019-02-20 18:43] MarileeTurscak-MSFT commented on #25346
@larsjoR
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-20 18:45] BryanTrach-MSFT commented on #25348
@Sethu2488 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:47] BryanTrach-MSFT commented on #25368
@amel00 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:48] MarileeTurscak-MSFT commented on #25346
@larsjoR good catch! I don't have access to make pull requests to the menu so I have assigned this to the content author, @davidmu1 , to look into.

[2019-02-20 18:49] Mike-Ubezzi-MSFT commented on #25361
@roelal Thank you for the detailed feedback. It is possible an update to the document has been made as I am not able to find any reference to `trustServerCertificate=false`. The [Java (MariaDB)](https://docs.microsoft.com/en-us/azure/mariadb/howto-configure-ssl#java-mariadb) client sample is using `true`.

`url = String.format("jdbc:mariadb://%s/%s?useSSL=true&trustServerCertificate=true", 'mydemo

[2019-02-20 18:49] BryanTrach-MSFT commented on #25369
@bkeyes1 Those IP restrictions will be applied to the internal domain and custom domain.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 18:49] #25369 closed

[2019-02-20 18:52] BryanTrach-MSFT commented on #25371
@phatcher Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:53] BryanTrach-MSFT commented on #25372
@bakerm00 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:54] roelal commented on #25361
Sorry, I meant `trustServerCertificate=true`. Which means that the server certificate is not verified. See the [mariadb connector docs](https://mariadb.com/kb/en/library/about-mariadb-connector-j/).

[2019-02-20 18:54] BryanTrach-MSFT commented on #25375
@DaveEM Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 18:56] ggailey777 commented on #25005
@batizar If you are using version 3.x of the WebJobs SDK, you can also select **.NET Core > Console App (.NET Core)**. There is no .NET Core-specific template for WebJobs SDK projects, but you can publish to Azure and you get a WebJob. I am in the process of updating the articles now.

[2019-02-20 18:56] ggailey777 commented on #25005
We have actually changed the article to now focus on .NET Core console apps.

[2019-02-20 18:58] MarileeTurscak-MSFT commented on #25368
Hi @amel00 ,

Unfortunately Azure Active Directory does not support nested groups. If you would like support to be added and would like to stay up to date on the product team's movements towards this, you can upvote the feature request here: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15718164-add-support-for-nested-groups-in-azure-ad-app-acc

[2019-02-20 18:58] #21612 closed

[2019-02-20 18:58] MarileeTurscak-MSFT commented on #25368
We will now proceed to close this thread. If you have further questions feel free to reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-20 18:58] #25368 closed

[2019-02-20 18:58] #22178 closed

[2019-02-20 18:59] #23209 closed

[2019-02-20 18:59] #24708 closed

[2019-02-20 18:59] #24807 closed

[2019-02-20 18:59] #24951 closed

[2019-02-20 18:59] ggailey777 commented on #24236
@sb2059 can you verify if these updated articles addressed your issues?

* [Get started with the Azure WebJobs SDK for event-driven background processing](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
* [How to use the Azure WebJobs SDK for event-driven background processing](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to)

If so, we can #please

[2019-02-20 19:00] b-anand opened #25376 "wastorage nuget is deprecated"
Doc needs to be updated to use the new nuget (Microsoft.Azure.Storage.CPP) instead of wastorage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b23a70e-0887-4a55-9c2c-b64e767e9eab
* Version Independent ID: 52f3d07b-7cd8-0d92-2768-7139b9a8f96b
* Content: [How to use object (Blob) storage from C++ - Azure](https://docs.

[2019-02-20 19:01] georgewallace commented on #25324
@roblarson Thanks for the suggestion.. I can add this to the doc, currently these limitations are defined in the [Linux HRW doc](https://docs.microsoft.com/en-us/azure/automation/automation-linux-hrw-install) But I can add a note to the one you referenced as well.. Once I add the reference the PR will auto close this issue..

[2019-02-20 19:01] b-anand commented on #25376
https://www.nuget.org/packages/wastorage

[2019-02-20 19:01] #25376 closed

[2019-02-20 19:01] ggailey777 commented on #22368
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:01] gregory-fonkatz commented on #24870
I would like to know what's next. @jnoller @iainfoulds
The answers I received here don't really give me any idea on how to proceed. Are we going to receive proper notifications or not? Should I look for better solutions? This ticket got closed without providing any response that can be translated into actions.

[2019-02-20 19:01] ggailey777 commented on #22181
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:02] aljo-microsoft commented on #25285
@vikramdadwal
SFMesh isn't comparable to AKS; SFRP is. As both SFRP and AKS you can ssh/rdp into host machines you own. SFMesh is a server less platform that abstracts machines away.

Today as Deep stated, binding a certificate to a listener within a container, whether deployed into a private or public network, can be achieved by delivering the certificate to the container its self.

I.E. Containe

[2019-02-20 19:02] ggailey777 commented on #19336
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:02] ggailey777 commented on #19310
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:03] ggailey777 commented on #15499
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:03] ggailey777 commented on #10808
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:04] ggailey777 commented on #10402
The updates are now live and we can #please-close this issue. Please reopen if we have not addressed your issue to your satisfaction.

[2019-02-20 19:06] TravisCragg-MSFT commented on #21798
@ooteniya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 19:06] #21798 closed

[2019-02-20 19:06] phil0007 commented on #25316
Hello,
To be clear, it’s not a file problem it’s a query language problem.
If I use GetMetadataPropertyValue without the LAST\LAG it works fine. Introducing LAST\LAG causes the error.

Also, in a Visual Studio project the error occurs whether I’m running against cloud data (in blob storage) or against a local file.

Blob File:
https://strpdasemachinecsv.blob.core.windows.net/philip/CTL_2018_10_16.

[2019-02-20 19:07] YutongTie-MSFT commented on #17535
@bjw6092 Hi, thanks for the feedback. Could you please open a new ticket? It should help both to track and answer^^

[2019-02-20 19:07] ggailey777 commented on #25015
@batizar we have some additional DI information [here](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#version-3x-8).
@brettsam, in case we have better guidance for this scenario.

[2019-02-20 19:07] rgonsalves opened #25377 "Resizing without white border"
Unmentioned is that you can leave off one of the dimension parameters (w or h) and it will resize the image proportionally, without borders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a5b975-2f10-d7fa-520f-9a0fdd9a9958
* Version Independent ID: 28e58c56-f0d6-5e38-9eee-d265cdf864db
* Content: [Resize and crop Bing

[2019-02-20 19:08] bertrandpons commented on #25357
@BryanTrach-MSFT It is more a question related to the following document: https://docs.microsoft.com/en-us/azure/data-factory/data-movement-security-considerations. I navigated on different blogs and I can't find a solution apart opt-in "Allow access to Azure services" in SQL Server firewall  rules to allow access to the DB from ADF. Is there another way to narrow the access to only required servi

[2019-02-20 19:08] ggailey777 commented on #24109
@ericnewton76 are you referring to the documentation or to the portal UI itself?

[2019-02-20 19:08] taromielnaz commented on #25364
I can choose just the subscription and resource Group is optional . How can I enforce a type of resources like VMs or SQLs?

I used that sample it just doesn't let user to create resources . An error occurs but it was better to ask for mandatory tags not occurring an error .

[2019-02-20 19:09] Karishma-Tiwari-MSFT commented on #25254
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-20 19:09] #25254 closed

[2019-02-20 19:09] miaojiang commented on #7098
@mm-gmbd I understand your concerns. Please email me at mijiang at microsoft so I can share more information.

[2019-02-20 19:09] alexsmithMSFT commented on #25358
@MicahMcKittrick-MSFT thanks. V1 of the CSE which is now deprecated has the same line of text in the documentation, so I'm guessing it was just copied over accidentally, see- https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linuxostc

For a bit of context, I discussed this with @JeffGoldner in Sept 2018 before he retired from MSFT, and he said, "This is consistent w

[2019-02-20 19:10] phil0007 commented on #25316
Visual Studio version 15.9.7
Stream Analytics Tools version 2.3.7000.1

[2019-02-20 19:12] MicahMcKittrick-MSFT commented on #25358
Thanks @alexsmithMSFT I will update the doc and remove the portal sentence for now.

@roiyz-msft might be able to share info on version 2 being integrated. Otherwise, if there are no plans we would need to file a feedback request so users can vote on it and the PG can consider adding it.

https://feedback.azure.com/forums/216843-virtual-machines

[2019-02-20 19:13] sb2059 commented on #24236
If you ask me, no.  I probably have a pretty high bar though.  I want MVP documentation.  The minimum necessary documentation to get something barebones up and running with the least possible configuration.  We shouldn't need to even be thinking about storage or queues in this case; a bare-minimum walkthrough of getting a recurring webjob up and running "for starters" would be great.  Then we have

[2019-02-20 19:16] DCtheGeek commented on #25364
There are many samples on the [Samples index](https://docs.microsoft.com/en-us/azure/governance/policy/samples/) for working with different resources. Please take a look at those first.  If there isn't a sample for what you want, you can create a custom sample definition with [this tutorial](https://docs.microsoft.com/en-us/azure/governance/policy/tutorials/create-custom-policy-definition).

As cl

[2019-02-20 19:18] #25364 closed

[2019-02-20 19:18] sirjameswood opened #25380 "Understand how Azure AD B2C password reset is meant to be used."
It appears there are a number of ways password reset can be handled. What is the difference between these? Is there is a price difference between these? Are some of these features of Azure AD, whilst some are features of Azure AD B2C? Why does method 3 below not appear to work?

1. Via an Azure B2C user flows (policies). This allows users to reset their password via their primary email address sto

[2019-02-20 19:18] daveberm opened #25381 "Multi-Instance Support?"
Can you have multiple clustered instances of SQL Server in the same cluster in Azure? If so, how do you configure the ILB, especially in regards to the SQL Browser Service (UDP 1433) that is required to connect to connect to a named instance? I get that each SQL Instance will need it's own IP address and the ILB will need a different health probe and rules to redirect the SQL traffic to each speci

[2019-02-20 19:19] roiyz commented on #25358
Adding @csand-msft  to comment for CSE

[2019-02-20 19:23] DaveEM commented on #19795
@ShubhaVijayasarathy Any news on this?  The link is still dead.  It looks like much of the information was replicated at https://blog.csdn.net/iamlihongwei/article/details/53486928 if the blogs.msdn.microsoft.com content is not recoverable.

[2019-02-20 19:24] Mike-Ubezzi-MSFT commented on #25348
@Sethu2488 This is a great question and might be best approached through Azure Metric Alerts where you set an alert on a a state of Paused for greater than X days, send an email alert.

[Create an alert rule on a metric with the Azure portal](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-insights-alerts-portal#create-an-alert-rule-on-a-metric-with-the-azure-portal)

[2019-02-20 19:26] axayjo commented on #24998
@v-maroge The image version in Shared Image Gallery is nothing but a managed image under the hood, so all managed images are by default SSE enabled i.e., they’re encrypted at rest with Microsoft keys. But we don't yet have support for images encrypted with Customer Managed Keys. It's on the roadmap.

[2019-02-20 19:27] YutongTie-MSFT commented on #23933
@Blackmist Thanks a lot!

@apraovjr We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-20 19:27] #23933 closed

[2019-02-20 19:27] Karishma-Tiwari-MSFT commented on #25190
@vdjundjenac Thanks for bringing this to our attention. The Pull request with the changes has been created and changes will be live shortly after merge.

[2019-02-20 19:27] sirjameswood opened #25383 "Differential Query for Azure AD B2C"
I am trying to use a Azure AD Graph differential query to find changes in users within an Azure AD B2C tenant.

For example:

`GET https://graph.windows.net/{tenantId}/users/?api-version=1.6&deltaLink=`

Which results in:

`Request_UnsupportedQuery Change enumeration is not supported for requested tenant.`

What is a supported tenant? Should this work for Azure AD B2C?

---
#### Document details

[2019-02-20 19:28] aljo-microsoft commented on #25202
@dragav to answer

[2019-02-20 19:30] mj1856 opened #25385 ".NET Install Page needs updating for OS Family 6"
With the release of OS Family 6, .NET 4.7.2 is preinstalled, and thus the page describing using startup tasks to update the .NET Framework version needs updating.
https://azure.microsoft.com/en-us/updates/guestosfamily6announce/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082a39c-4081-f5c3-1e1d-effcfecb2fd7
* Versi

[2019-02-20 19:31] Mike-Ubezzi-MSFT commented on #25348
But in further reading, the [SQL Database alert values](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-insights-alerts-portal#sql-database-alert-values)s table, that metric is not available to base an alert upon. I need to investigate this a bit to see if there is a solution. This information is exposed via the [Azure SQL Database REST API](https://docs.microsoft.com/en-us/rest/a

[2019-02-20 19:33] YutongTie-MSFT commented on #25377
@rgonsalves Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@swhite-msft Hi Scott, could you please check this issue and update the document as necessary? Thank you!

[2019-02-20 19:34] vhorne commented on #24637
@skmkzyk Done
#please-close

[2019-02-20 19:38] sirjameswood opened #25386 "Azure AD B2C Set Authentication Contact Info Email Address"
I am trying to programmatically update the Authentication Contact Info email address for a contact created using Azure AD B2C.

I have attempted to do this via the Azure AD Graph API, but failed. For example;

[code]
Which results in:

[code]
How can I programmatically set this field?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-20 19:38] normesta commented on #25322
Thank you for logging an issue. Can you help me understand what the issue is? Thank you.

[2019-02-20 19:39] rachel-msft commented on #24556
We are working on improvements around auditing and alternate logging to address this. They should be available for use in May 2019.

[2019-02-20 19:51] btitular2 commented on #24106
I'm also looking for the example on how to access the Azure Key vault from ASP.NET 4.7.1. Any updates on when this will be available? All examples I've found only show connecting to ASP.NET Core.

[2019-02-20 19:52] Grace-MacJones-MSFT commented on #19310
Thanks for the update @ggailey777.

We will now proceed to close this thread.

[2019-02-20 19:52] #19310 closed

[2019-02-20 19:53] seanmck commented on #24870
We have an item in the backlog to enable creating a cluster with major.minor.latest. Until then, you should find notification of patch release add/removes in the GitHub releases page linked above.

[2019-02-20 19:56] sriramgana commented on #23777
Hi, once a partner adds their MPN ID using PAL, can they ask the customer to remove their guest user account? This is so customer does not permanently have an unnecessary user account in their tenant. And as for the ACR that gets credited to the partner using PAL, is it the combines Azure usage of all the resources in that tenant?

[2019-02-20 19:59] Karishma-Tiwari-MSFT commented on #25385
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-20 20:01] brandonh-msft opened #25387 "What are the rate limits?"
Are there rate limits on this REST API? If so these should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35805a0b-697a-884e-0025-2526307bbc96
* Version Independent ID: d70061ab-e979-5924-a89d-19de56fe1cb4
* Content: [Using Azure Blockchain Workbench REST API](https://docs.microsoft.com/en-us/azure/block

[2019-02-20 20:03] mj1856 commented on #25385
Also, there are issues actually using OS Family 6, even though it is GA.  Probably those need to be fixed before the doc is updated.

https://developercommunity.visualstudio.com/content/problem/443790/the-os-family-6-you-are-trying-to-deploy-is-not-su.html

[2019-02-20 20:05] Mike-Ubezzi-MSFT commented on #17959
@TehWardy This specific section within that link you provided: [Restore the database from a backup file](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started-restore#restore-the-database-from-a-backup-file) is specific to restoring a .bak file, located on Blob storage, to a Managed Instance. You could run those exact scripts, minus the tutorial values and u

[2019-02-20 20:07] normesta commented on #25199
Thank you for the feedback! I've updated the article with the name of the correct role.
#please-close

[2019-02-20 20:08] BhargaviAnnadevara-MSFT commented on #24999
@jemodyMS Thanks a lot for the detailed response! Please let us know once the said changes are out.

@ishepherd Hope your question is answered. Please try the mentioned steps and let us know if you need further assistance!

[2019-02-20 20:09] wmmihaa opened #25388 "Setting minIoThreads in Application_Start"
Under Recommendations it never mentions how to set the minIoThreads in the global.asax.cs. Here is how:
ThreadPool.SetMinThreads(20, 20);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d381e32-2963-1767-3763-905ae05eca82
* Version Independent ID: 18e36037-e1ba-fd52-28e3-7438ec61db96
* Content: [Azure Cache for Redis F

[2019-02-20 20:09] ninghu commented on #25242
1. @gitathrun Thanks for the feedback. We already planned to open-source the dockerfiles of AzureML base images and this information will be released to public soon. For now, you can use "docker inspect" to get details of the image. For example: docker inspect mcr.microsoft.com/azureml/base-gpu:latest

2. Here is some information about current base image as for your reference:

CPU: mcr.microsoft.

[2019-02-20 20:14] TravisCragg-MSFT commented on #24637
@skmkzyk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 20:14] #24637 closed

[2019-02-20 20:15] TravisCragg-MSFT commented on #25275
@Kenneth-Abrams I am following up with this now to get a definite answer, and I will update you as soon as I am able.

[2019-02-20 20:18] Mike-Ubezzi-MSFT commented on #18494
@itanex We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-20 20:18] #18494 closed

[2019-02-20 20:20] vikramdadwal commented on #25285
@aljo-microsoft . Thanks for providing a descriptive explanation.
I will wait for @dragav response for container implementation.

OR

I am new to containers so forgive me If I am asking very basic stuff.

[2019-02-20 20:23] VanMSFT commented on #25214
There's no reference to an Azure CLI to add an Azure identity to SQL MI. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-create-manage

I believe the same things can be accomplished between these 2 articles:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connect-app
https://docs.microsoft.com/en-us/azure/sql-database/sql-databas

[2019-02-20 20:26] AjayKumar-MSFT commented on #25003
@McSwan,  I see that your app is working fine:
![image](https://user-images.githubusercontent.com/44606227/53121860-318bb600-357b-11e9-8049-4929bc0c94fa.png)

Kindly do let us know if you need any further assistance on this query.

I have tried creating the app as mentioned in the document and was able to successfully provision the app.
-The cmdlet ‘az webapp list-runtimes’: -
Displays all the ava

[2019-02-20 20:30] gregory-fonkatz commented on #24870
@seanmck I'm sure some people will find the `major.minor.latest` feature useful. However it is not useful in our case. We want to stick to the version that we have tested with. If the version is going to be retired, we want to test a new one and start using it instead.
The github page you're referring to doesn't have the notifications I asked for. Here's what Ian wrote about it

Now I'm even more

[2019-02-20 20:34] ToddChitt opened #25389 "SOQL around filtering by DATETIME is not correct"
I am using a very similar statement as your example but with a hard-coded date. (Yes, I plan on replacing it with dynamic content later, but for now I want to eliminate ANY source of error.)
My statement looks like this: ... where [LastModifiedDate] &gt; @{formatDateTime('2019-02-19T13:27:36Z', 'yyyy-MM-ddTHH:mm:ssZ')}.

I get an error back stating there is wrong syntax around 2019-02-19T13&lt;&lt

[2019-02-20 20:35] femsulu commented on #25051
@dtdono0 AFAIK, this isn't currently supported. This is really valuable feedback that
Please share your [feedback directly ](https://feedback.azure.com/forums/223579-azure-portal) with the Portal engineering team for further review and consideration in a future release.

[2019-02-20 20:36] #25051 closed

[2019-02-20 20:37] femsulu commented on #25122
@tonguyen10 do we have any samples to share?

[2019-02-20 20:39] georgewallace commented on #23015
@jzuchora87 Sorry for the delay. At this time you can only use a PAT.

[2019-02-20 20:39] phil0007 opened #25390 "Expression is not supported: 'COALESCE ( BlobName , '' )'"
This query works:
[code]

After introducing LAST this one doesn't and fails with error **Expression is not supported: 'COALESCE ( BlobName , '' )'**
[code]

The error occurs against local csv file input, and against cloud blob input.

[2019-02-20 20:51] yonderTech commented on #6788
Same problem as ifexception above. 2.1.4-050276f1

Cannot open web UI on port 8081. No other processes are using the port.

[2019-02-20 20:59] kplantus opened #25391 "outdated"
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aha-tutorial#configure-azure-ad-single-sign-on

#1 in this section has instructions to select something that doesn't exist in the Azure Portal anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04661cf-b570-9ac7-028b-22f3e28e145d
* Version Independ

[2019-02-20 21:01] kgremban commented on #24583
@inesk-vt Thanks for clarifying. The quickstart has been updated to encourage people to use an Azure virtual machine for their test device (since not everyone has a raspberry pi handy) so that has gotten rid of much of the architecture-specific language in the article. I also updated the title as you suggested.

Take a look at the new version and let me know if you think it resolves your original

[2019-02-20 21:03] veyalla commented on #25351
@kgremban @JesvinJoseph
Kelly is right, the goal of Edge's offline capabilities is to handle network partitions internally and insulate the clients from having to deal with it. So there is currently no way to get a notification in the client from the edge Hub that the message hasn't been delivered to IoT Hub.

However, I would like to understand the scenario where this would be useful. Feel to rea

[2019-02-20 21:03] MarileeTurscak-MSFT commented on #25185
Hi @lightupdifire ,
I'm not sure if this is what you are looking for, but you can create groups by applying a rule to determine membership based on device properties. When the attributes of a device change, Azure AD evaluates all dynamic group rules in the Azure AD tenant and performs any adds or removes. See the guide for this: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-

[2019-02-20 21:05] MarileeTurscak-MSFT commented on #25185
If you are looking for something more detailed than this I'm not sure if it is supported.

We will proceed to close this thread now but if you have further questions feel free to reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-20 21:05] #25185 closed

[2019-02-20 21:09] georgewallace commented on #24615
@jontreynes The sample will be updated, thanks for reaching out.  Once the PR gets merged it will autoclose the issue.

[2019-02-20 21:19] MarileeTurscak-MSFT commented on #25172
Hi @TWolverson ,

I'm passing your feedback about the resource type pattern onto the content author, @rolyon .

For the old API version, can you try making sure that the old module and all its references are uninstalled? https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-previous-version?view=azureadps-2.0

[2019-02-20 21:23] joshtransient opened #25392 "Add an SPClaimMapping to support Azure AD groups"
In the section "Configure SharePoint on-premises Single Sign-On", the script to create the new SPTrustedIdentityTokenIssuer, should have an additional mapping to support security groups. The following worked for me:
$map5 = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" -IncomingClaimTypeDisplayName "Group" -SameAsIncoming

Adding this mapp

[2019-02-20 21:24] Mike-Ubezzi-MSFT commented on #25388
@wmmihaa Thank you for this detailed feedback. I do see a `Note:` reference with regard to this setting:

![screenshot 277](https://user-images.githubusercontent.com/37126106/53125372-b8f10f00-3512-11e9-99ed-f246747b0d20.png)

Is there additional detail you are suggesting that clarifies how to implement this?

[2019-02-20 21:25] bgoldman69 commented on #20348
would be really useful if MS could always deliver ARM templates for things since thats whats going to be the driver behind Blueprint.

[2019-02-20 21:26] wmmihaa commented on #25388
HAHA!
Good call!

From: Mike Ubezzi <notifications@github.com>
Sent: den 20 februari 2019 22:25
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mikael Håkansson <wmmihaa@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Setting minIoThreads in Application_Start (#25388)

@wmmihaa<https://github.com/wmmihaa> Thank you for this detailed feedb

[2019-02-20 21:26] bgoldman69 commented on #20348
Also if the teams started to think automation first - since not every shop has button pressers...

[2019-02-20 21:31] spelluru commented on #24464
Updated the article.

#please-close

[2019-02-20 21:32] spelluru commented on #22159
Updated the code to match the code on GitHub.

#please-close

[2019-02-20 21:35] ShubhaVijayasarathy commented on #24464
#please-close

[2019-02-20 21:35] ShubhaVijayasarathy commented on #22159
#please-close

[2019-02-20 21:36] ShubhaVijayasarathy commented on #21356
#please-close

[2019-02-20 21:40] jeffhollan commented on #21144
Yes those look valid for v1.

[2019-02-20 21:40] mack0196 commented on #25201
Is there a way to get information on the requests that put cosmos into throttle mode?

[2019-02-20 21:42] diannemg commented on #23291
Hello! Just want to add that this issue is still present. EastUS, I have the option to select availability zone. However, VM creation fails, with error: The resource type 'publicIPAddresses' does not support availability zones at location 'east's' and api-version '2018-08-01'.

[2019-02-20 21:43] mack0196 commented on #25201
Are there portal options or 3rd party options for monitoring RU?

[2019-02-20 21:43] iquijas commented on #25391
Single sign-on option is still available and even in the same order as in the documentation

![image](https://user-images.githubusercontent.com/10888177/53126414-b0560400-3525-11e9-9fd8-b870989820f8.png)

[2019-02-20 21:43] shaunm-msft opened #25393 "needs to be updated for the AzureRm* commands"
The commands used here are the "classic" commands. The new commands have AzureRm in them. For instance, Set-AzVmssDiskEncryptionExtension becomes Set-AzureRmVmssDiskEncryptionExtension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 268e2a87-ffab-440a-dcb4-1d15c89d9d55
* Version Independent ID: e9c8b2f2-5689-3b64-3cb6-

[2019-02-20 21:47] jeevansd commented on #25391
@kplantus If you add the new application from the gallery then you will see this view. If you have already enabled SSO for the app then you can see the button on the top of the page change the SSO mode and when you click on that then you will see this UI.

[2019-02-20 21:47] spelluru commented on #21777
#please-close

Updated the TOC and H1 for the article

[2019-02-20 21:58] jeevansd commented on #25391
#please-close

[2019-02-20 22:00] ghuntley opened #25394 "The "Request pay by invoice" process is actually quite complicated"
Hi,

I'm a Microsoft MVP 👋

# background
I'm currently migrating a company to invoice payments and am stuck in support hell. **It has been a  negative NPS experience** as the information on this page is rather light and should contain insights such as what information support will require _and_  any specific steps required to adjust information in the Azure Portal to ensure success. Support ping/p

[2019-02-20 22:04] MicahMcKittrick-MSFT commented on #25393
@shaunm-msft the doc is updated correctly.

The latest powershell version has moved away from AzureRM and is now Az

See the note at the top of the page for more information on that

[2019-02-20 22:04] #25393 closed

[2019-02-20 22:05] MicahMcKittrick-MSFT commented on #25381
Thanks for the question! We are investigating and will update you shortly.

[2019-02-20 22:05] MisinformedDNA opened #25395 "Customizing the profiler's schedule"
Is it possible to run the profiler more often or for longer periods? We are just getting started and would like to get every request we can. We have URLs without traces because they aren't accessed as often. Manual works, but it would be nice for it to be more consistent. This is especially true on our dev/test environments.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-02-20 22:07] Karishma-Tiwari-MSFT commented on #25060
@dlepow I am seeing the same error when trying on Windows Powershell ISE but it works well in command prompt. Is this something you can shed some light on? Please let me know your thoughts on this. Thanks

[2019-02-20 22:07] rthorn17 commented on #25077
@way2arun Thanks for reaching out.  You are able to assign RBAC Roles to Management Groups via the REST API/ CLI/ PowerShell.  When you are listing the target input, you will reference the Management Group as "/providers/Microsoft.Management/managementGroups/{YourMGID}"

For example in PowerShell to add a role to a group with an ID "contoso":

If you continue to have issues, please let me know so

[2019-02-20 22:08] MartinJaffer-MSFT commented on #25389
Hello @ToddChitt .  Thank you for bringing this to my attention.  Since  you have already created an issue in MSDN, and this is more of a product issue than a documentation issue,  I will respond in that forum and close this issue.

[2019-02-20 22:10] normesta commented on #25332
@AlexanderTodorovic thank you so much for helping us improve our content. Quick question - when you assigned the Storage Blob Data Contributor role to the service principal, did you assign that role in the scope of the subscription / resource group? I ask this because we've seen several issues with that path. I can explain the issue, but I first want to verify that this is the path that you took t

[2019-02-20 22:11] #25389 closed

[2019-02-20 22:16] MicahMcKittrick-MSFT commented on #25381
@daveberm not sure I fully understand the architecture question you are asking.

@MikeRayMSFT any input?

[2019-02-20 22:18] julieMSFT commented on #24881
@HeliosLHD Hello, Thank you for your input. I will be updating the content to say the following:

"The duration of the entire scale-up process generally depends on both the size and service tier of the database before and after the change. For example, any size database that is changing the compute size within the General Purpose service tier should complete within several minutes  On the other ha

[2019-02-20 22:19] MarileeTurscak-MSFT commented on #25207
Hi @heliomgg ,

You can use Graph API for this. There are some samples here. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet

[2019-02-20 22:19] cweining commented on #25395
Unfortunately, there isn't currently a way to configure that yet. The way the profiler works makes it hard to profile constantly. We collect a lot of data and if we profile for more than 2 minutes at a time, the data gets too large to process. We could provide a way to profile for 2 minutes, stop, process the data, then immediately start profiling again. We would love to talk to you more about how

[2019-02-20 22:19] MarileeTurscak-MSFT commented on #25207
Please ask your question to MSDN if you would like for us to troubleshoot the issue with you. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-20 22:20] MarileeTurscak-MSFT commented on #25207
Closing

[2019-02-20 22:20] MarileeTurscak-MSFT commented on #25207
Closing this out as this is a product-style question better suited for MSDN.

[2019-02-20 22:20] #25207 closed

[2019-02-20 22:26] rupeshprasad opened #25397 "wrong link"
Link in next step seems to be wrong. It is for user flow where as it is linked to creation of tenant for b2c.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b5f81a-f216-b345-d434-c0ebbf70ff00
* Version Independent ID: e77fb894-d7a0-ae0c-7f4c-1030df97f073
* Content: [User flows in Azure Active Directory B2C](https://d

[2019-02-20 22:28] julieMSFT commented on #10333
PR #67113

[2019-02-20 22:29] julieMSFT commented on #10333
#please-close

[2019-02-20 22:30] julieMSFT commented on #24881
@HeliosLHD  I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-02-20 22:33] Ayanmullick commented on #25303
@cheenamalhotra , for sharing the link. In my opinion, that link should be added to the **Next Steps** section of this document.
#please-close

[2019-02-20 22:36] Mike-Ubezzi-MSFT commented on #24851
@amolmore3171 @davidma3768 Do you have an option to control which version of JRE the notebook is using? I was initially thinking this was a JRE v8.x but needs v10.x issue but, the missing class is part of SE 8: Interface [ScheduledExecutorService](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ScheduledExecutorService.html).

So, this should be looked at as a product issue. I am se

[2019-02-20 22:39] #21777 closed

[2019-02-20 22:40] TomArcherMsft commented on #24474
@kagarmoe could you please help @kirantsp with the issue being described?

[2019-02-20 22:43] eross-msft commented on #24783
@SaurabhSharma-MSFT  Please unassign me. I can't help in this situation. Thanks!

[2019-02-20 22:44] Alberto-Vega-MSFT commented on #25387
@brandonh-msft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-20 22:45] julieMSFT commented on #24881
PR #67120 - [https://github.com/MicrosoftDocs/azure-docs-pr/pull/67120](url)

#please-close

[2019-02-20 22:47] julieMSFT commented on #24994
@KeiroKamioka0000 Hello, Thank you for your feedback. I am looking into this issue.

[2019-02-20 22:51] #24801 closed

[2019-02-20 22:51] Mike-Ubezzi-MSFT commented on #24801
@5mdd I have engaged the support engineer currently assigned this issue to ensure all details are made available. In the meantime, this issue will be closed and the issue tracked through the support request created. If there are any additional questions or updates to be made (such as resolution), additional comments can be made to this GitHub issue. Thank you!

[2019-02-20 22:51] julieMSFT commented on #24994
@KeiroKamioka0000 Hello, The document is now rendering in Japanese. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-02-20 22:51] julieMSFT commented on #24994
#please-close

[2019-02-20 22:56] MarileeTurscak-MSFT commented on #25172
If you are still having this issue please post your question to MSDN and we can further troubleshoot, or email me at AzCommunity@microsoft.com and I can open a free support ticket for you. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-20 22:56] mganeshphani opened #25398 "cannot edit report"
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-power-bi-content-pack#customize-azure-ad-activity-content-pack

The edit button is not available on the report associated with the app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb954f67-e65e-9bbe-701e-de1eafe8e26f
* Version Independen

[2019-02-20 22:56] MarileeTurscak-MSFT commented on #25172
Closing this out as I think it's more appropriate to move this to MSDN or start a support case.

[2019-02-20 22:56] #25172 closed

[2019-02-20 22:57] alexdlevin commented on #12432
@MrJinx2015

Is this a known bug that after configuring this, a user cannot log into myapps first and simply click on the tile?  I followed this article to the tea and it works if I just use the external URL first.  but if I log into myapps first, and click on the tile, I am eventually taken to the URL as defined in step 4 and 5 of "Publish the RD host endpoint, and receive the error :

Can't Reac

[2019-02-20 22:57] mganeshphani commented on #25398
![image](https://user-images.githubusercontent.com/22988320/53130700-9bcb3900-3530-11e9-82ed-2033bb422548.png)

[2019-02-20 22:57] macwanj commented on #24718
Hi,

I have the similar issue as well. Primarily using Databricks as my workbook environment. I already have a trained and registed model on my workspace:
`rf = Model(ws, 'pumps_rf')`
`<azureml.core.model.Model at 0x7f66e160cda0>`

`rf.download(target_dir=Config.MODELS_DIR, exist_ok=True)`
[code]

[2019-02-20 22:58] mganeshphani commented on #25398
![image](https://user-images.githubusercontent.com/22988320/53130759-bd2c2500-3530-11e9-84bf-36a969010a10.png)

[2019-02-20 23:04] SaurabhSharma-MSFT commented on #25059
@Carsenik Current documentation is about passing campaignid through custom policies.  I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provi

[2019-02-20 23:05] Grace-MacJones-MSFT commented on #25247
Hi @GuyHarwood just to clarify, are you asking if the Key Vault references feature or Azure Key Vault in general is compatible with Node js ?

[2019-02-20 23:06] SaurabhSharma-MSFT commented on #25248
@AllenVisser Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-20 23:10] BharathNimmala-MSFT commented on #25342
@imeya As @mrbullwinkle updated new content covering this functionality will be released soon. Similar Issue is already being tracked [here](https://github.com/microsoftdocs/azure-docs/issues/21349). Please refer to that for future updates on this.

If you have any further questions/feedback on the documentation feel free to tag us in your reply and will be happy to take foward the conversation. T

[2019-02-20 23:10] #25342 closed

[2019-02-20 23:11] SaurabhSharma-MSFT commented on #25250
@nkumars Please refer to [Azure Active Directory B2C: Use custom attributes in a custom profile edit policy](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-create-custom-attributes-profile-edit-custom) to add custom claims to ID token sent back from the application.

[2019-02-20 23:14] sergaz-msft commented on #25179
Yes that should be sufficient to fit your needs :). Thanks @dominicbetts !

[2019-02-20 23:19] sergaz-msft commented on #24358
Oh I see thanks for the context!

So my ask is that you ask the same question at the Azure IoT C# SDK - https://github.com/Azure/azure-iot-sdk-csharp/issues and point to this issue so that the troubleshooting performed is considered.

Thank you!

[2019-02-20 23:20] sergaz-msft commented on #24358
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-20 23:20] #24358 closed

[2019-02-20 23:24] SaurabhSharma-MSFT commented on #25261
@ld0614 I do not think that the Guest users have access to free Azure AD features even if they don’t have any paid Azure AD licenses.  Also, I believe if the guest user already have a P2 license then the it will not count against the guest license allocation.

[2019-02-20 23:25] #10333 closed

[2019-02-20 23:25] #10402 closed

[2019-02-20 23:26] #10808 closed

[2019-02-20 23:26] #15499 closed

[2019-02-20 23:26] #19336 closed

[2019-02-20 23:26] #21356 closed

[2019-02-20 23:26] #22159 closed

[2019-02-20 23:26] #22181 closed

[2019-02-20 23:27] #22368 closed

[2019-02-20 23:27] #24464 closed

[2019-02-20 23:28] #24881 closed

[2019-02-20 23:28] SaurabhSharma-MSFT commented on #25304
@Gold14388 Sorry but can you please provide the document which you are referring to as I do not see this mentioned in the document ?

[2019-02-20 23:28] #24994 closed

[2019-02-20 23:28] #25199 closed

[2019-02-20 23:28] #25303 closed

[2019-02-20 23:28] #25391 closed

[2019-02-20 23:30] SaurabhSharma-MSFT commented on #25338
@chrispadgettlivecom Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-20 23:30] SaurabhSharma-MSFT commented on #25068
@festivus We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-20 23:30] #25068 closed

[2019-02-20 23:38] reggaeguitar opened #25401 "How to get to My Permissions?"
On the last section it says "Select your account in the upper right corner, and select My permissions." This menu has changed, there is no link to "My Permissions"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content

[2019-02-20 23:38] Anand-Moghe opened #25402 "What is the meaning of "API Management service only responds on its configured Hostnames." ?"
The documentation note says - **API Management service only responds on its configured Hostnames**.
What is the meaning of this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [How to use Azure API Management

[2019-02-20 23:52] dlepow commented on #25350
@iricigor - Thanks for your question. In Azure the Debian 9 images are published by "credativ", as you found. This information appears in both the portal and in PowerShell (or Azure CLI), although it might not be obvious where to look.

For example, when I search in the portal for Debian images in the Azure Marketplace, "credativ" is shown as the publisher, below the image name.
![debian1b](https:

[2019-02-20 23:55] qianw211 commented on #14049
#please-close

[2019-02-20 23:55] qianw211 commented on #14057
#please-close

[2019-02-21 00:06] BharathNimmala-MSFT commented on #25049
@poelstra , Apologies for the experience. Post analysis with help our internal teams, seems that this issue is caused because of the quota limits with in a specific region you are trying to create the AKS cluster.

You have below possible options –

- Create a AKS cluster in the region where you have not exceeded your quota limits. Available [regions](https://docs.microsoft.com/en-us/azure/aks/con

[2019-02-21 00:11] MarileeTurscak-MSFT commented on #25371
Hi @phatcher ,

Conditional MFA is not currently supported in Azure AD B2C. You can upvote the feature request here. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20560954-allow-mfa-to-be-enabled-for-selected-set-of-b2c-us

And here: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34289419-conditional-access-condition-for-mfa

If you are lo

[2019-02-21 00:11] MarileeTurscak-MSFT commented on #25371
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-21 00:11] #25371 closed

[2019-02-21 00:16] Mike-Ubezzi-MSFT commented on #24356
@berhauz Do you have an [Azure support plan](https://azure.microsoft.com/en-us/support/plans/)? This needs to go through support. I have reached out to the product group but support is the starting point for escalation. If you do not have a support plan, please send your Subscription GUID to AzCommunity at Microsoft.com and instructions wil be returned to have a support request created for this to

[2019-02-21 00:17] Mike-Ubezzi-MSFT commented on #25144
@jzuchora87 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-21 00:17] #25144 closed

[2019-02-21 00:21] Mike-Ubezzi-MSFT commented on #25201
@mack0196 If you are using a .NET client, there is a response header available that details the RU usage per request (`x-ms-request-charge`). Please take a look at this Stack Overflow thread that details this very question: [How to measure RU in DocumentDB?](https://stackoverflow.com/questions/35240801/how-to-measure-ru-in-documentdb). That is the most direct means for obtaining this information.