[2021-02-15 07:40] assaf-grth opened #70573 "What is s2rcm.exe"
Hi,
I have a vm configured to use asr
Occasionally there is a process consuming large network bandwidth based on s2rcm.exe
Searching the file name shows Azure site recovery articles but the file doesn't appear there directly

When opening a support ticket, support engineer states that this is a 3rd party tool, which confuses me
Can you confirm this file is related to MS?

---
#### Document Details

[2021-02-15 07:47] GitaraniSharma-MSFT commented on #70231
@jacobmsft , as mentioned in the [Prerequisites](https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-scale-set#prerequisites), make sure that you have set up the Azure Bastion host for the virtual network in which the virtual machine scale set resides. And let me know if you still face any issues or get any error message.

Since we have not heard back from you in sometime, we will no

[2021-02-15 07:47] #70231 closed

[2021-02-15 07:50] amanmcse commented on #70571
@shanjin90 Thank you for your feedback.

Below section on [the link](https://docs.microsoft.com/en-us/graph/extensibility-overview) you are referring to, includes information on schema extension using both Azure AD Graph and Microsoft Graph.

Also, Azure AD Graph is marked as legacy api in Azure Portal and the recommendation is to use MS Graph.

[2021-02-15 07:52] amanmcse commented on #70572
@NavishkarSadheo Thank you for your feedback . We will investigate and update the thread further.

[2021-02-15 08:14] OzBob opened #70575 "Microsoft.Azure.WebJobs.Extensions v4 - doc updates?"
[webjobs-sdk-get-started](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#webjobs-nuget-packages) doc says to "install the latest stable 3.x version"
now there is [v4 in nuget](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions/)

Are there any changes to the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-02-15 08:19] SadiqhAhmed-MSFT commented on #70449
@ThierryBT Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-02-15 08:30] SadiqhAhmed-MSFT commented on #70558
@alexs77 First thing, you need to remove the spending limit and perform the steps mentioned in the link - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/upgrade-azure-subscription#upgrade-to-pay-as-you-go-rates to add your payment method.

If you are unable to perform any steps or finding difficulty upgrading to Pay-As-You-Go subscription, you can reach out to Azure subscrip

[2021-02-15 08:37] ssivas commented on #70087
Closing this out as I have not heard back. Feel free to tag me in the comments or open a new issue if you'd like to continue the discussion

[2021-02-15 08:37] #70087 closed

[2021-02-15 08:38] ggailey777 commented on #62945
It looks like Core Tools is automatically setting `AZURE_FUNCTIONS_ENVIRONMENT = Development` when running locally. What you saw in Azure must have been a transient error, or one that's been fixed. I can't repro what you are seeing in Azure. Also, Functions ignores all of the ASP.NET settings, which is why we have application setting.  I'll see if I can clarify the article about `AZURE_FUNCTIONS_E

[2021-02-15 08:45] moagra commented on #69518
The behavior as follows:
If Enabled = False, The retention policy is disabled irrespective of days mentioned.
If Enabled = True, Policy set for days given.
If Enabled = True and days = 0 , Effectively policy is disabled as days specified is 0.

Thus, setting enabled = false or setting days = 0 has same effect.

for above case, the best setting would be:
enabled = false
days =0

[2021-02-15 08:50] ssivas commented on #70354
@brian-h1 , This issue has been fixed and now **Guest Inviter** can Resend invite. Kindly check and update. Thanks !

[2021-02-15 08:50] #70354 closed

[2021-02-15 08:51] SwathiDhanwada-MSFT commented on #70502
Assigning to content author @rahulg1190 for review and content update

[2021-02-15 08:55] ggailey777 commented on #60172
@katlimruiz we do let you enable/disable Python functions in the portal, since this is [just an app setting.](https://docs.microsoft.com/azure/azure-functions/disable-function#use-the-portal)

[2021-02-15 09:00] pomorsen commented on #70463
kindly reminder

[2021-02-15 09:05] BeyderItay opened #70579 "resource group"
Under " Create virtual machine scale set "
you wrote to enter the same resource group as in the first section  "Create a load balancer"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a vir

[2021-02-15 09:20] ggailey777 commented on #70575
Hey @OzBob, good question! I believe that [this reflects moving to a higher level of the Storage SDK](https://github.com/Azure/azure-webjobs-sdk-extensions/releases/tag/extensions-v4.0.0). I don't recall any impacts for Functions. Since we're using this in Functions 3.x, I assume it also works for WebJobs SDK, but if not you can stick with the 3.x versions.

[2021-02-15 09:22] #70575 closed

[2021-02-15 09:30] ssivas commented on #70365
@BE-Digital-Solutions-Bart ,

I had created Guest user and was able to execute operations on keys through Portal, PowerShell and CLI. Could you please confirm how you are performing key operation? Through Portal , PowerShell or application (service principal ) ?

Access to a key vault is controlled through two interfaces: the **management plane** and the **data plane**. The management plane is whe

[2021-02-15 09:47] Donovand4 opened #70580 "Outdated Information"
The feature went GA in November 2020. Please update the info as customers finding this page would be confused with.
https://azure.microsoft.com/en-us/updates/azure-firewall-new-ga-capabilities-in-q4-cy2020/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1082253-0a65-a75a-efbd-07a2aa00c3e5
* Version Independent ID: 050

[2021-02-15 09:49] Floriszz opened #70581 "Very confusing talking about 'Public Access' vs 'Anonymous Access'."
[Enter feedback here]
In some paragraphs it looks like the the 2 terms are used interchangeable, while I think we can agree they are completely different things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19c5587d-a2de-2dd7-679e-14c2a0eaa4a8
* Version Independent ID: 8ee6091f-9c91-9dcd-6a0b-7b295fddd5d2
* Content:

[2021-02-15 10:07] VikasPullagura-MSFT commented on #70579
@BeyderItay Thanks for the Feedback.
This article guides to create all the resources in the same Resource Group. In the create VMSS section, it should be mentioned as pick the resource group created in the previous section instead of Create New.

I will work with the document author and will get this corrected.

[2021-02-15 10:07] GitaraniSharma-MSFT commented on #70493
@munir94 , thank you for the updates. I see that AzureDiagnostics | take 10 gives you data but do you see TunnelDiagnosticLog in it?

Is your tunnel UP and running? And it is a Route-based VPN gateway?
The logs gets generated upon successful tunnel creation.
If there are any disconnect that you can trigger, it will get logged.

Please run the below command and see whether there are any logs genera

[2021-02-15 10:22] agribot2 opened #70582 "where is the trained model and how can I down-load it ?"
First ... A big thank you to the team creating these tutorial pages. It seems they are trying, line by line, step by step... trying to explain the inexplicable complexity of Azure. Thanks.
I've worked my way to the end of  " Tutorial: Train your first machine learning model (part 3 of 4) " and I've managed to get that successfully working and done.
But ... Please tell us users ... Where is the tra

[2021-02-15 10:29] linekrogh opened #70583 "Difference between owner and contributor?"
it is not clear, what is the Difference between owner and contributor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2b8b02-584a-d113-0ed4-d2c4821ba774
* Version Independent ID: c3743237-6fcc-d649-2585-02522ec3132f
* Content: [Registry roles and permissions - Azure Container Registry](https://docs.microsoft.com/en-u

[2021-02-15 10:36] shashishailaj commented on #70257
@westleyMS We already have a separate article for the same which provides the details. https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios#single-page-public-client-and-confidential-client-applications. Please let us know in case this is what you were looking for or you have other questions around this.

[2021-02-15 10:40] MrCochese opened #70584 "Missing solution?"
At the end of the penultimate section the article states "These requests execute in sequence, which is not ideal.", leaving the reader to expect that a solution for this will follow. Instead though, the article wraps up with a summary, after apparently admitting that making side requests like this may not be the best idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-02-15 10:46] jkelso662 opened #70585 "Azure Functions runtime is unreachable"
Struggling to follow [this tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cazurecli&pivots=programming-language-python). I cannot get past the [Verify you Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cazurecli&pivots=programming-language-python#veri

[2021-02-15 11:09] firephantomassasin commented on #69667
Any updates? We were also confused. I hope the health checker and be decreased to 2 failures and check it every 10 to 15 seconds for faster removal from the load balancer to avoid from causing a lot of negative domino effects

[2021-02-15 11:09] ThomasGugler opened #70586 "link not working?"
[Enter feedback here]
where is the
" To create maps and schemas, you can use the Microsoft Azure Logic Apps Enterprise Integration Tools for Visual Studio 2015 2.0 and Visual Studio 2015.?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fc9dfa-fedf-01d9-1d60-6819d03a4c91
* Version Independent ID: 06cc4136-19d4-9786-7

[2021-02-15 11:12] hsirtl opened #70587 "Function Trigger Request should at least contain an empty JSON {}"
[Enter feedback here]
At Section "call the function" step 7. there should be at least a note that the request should at least contain an empty JSON ("{}"), even when the function doesn't require a call parameter. Otherwise the runtime returns "302. Bad request".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7

[2021-02-15 11:16] AshokPeddakotla-MSFT commented on #70314
@kamilzzz Apologies for the delay. I am checking on this issue internally and update you as earliest. Appreciate your time and patience.

[2021-02-15 11:37] epa095 opened #70588 "Add all official azure domains"
Searching for "list of azure domains" gives this list, and the list is not complete. E.g. "azureml.net" is missing, and probably others as well. It would be usefull for our security-departments domain-whitelisting to have a list of Microsoft azure domains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790ff17b-0306-89

[2021-02-15 11:38] maltalex opened #70589 "Documentation doesn't mention relation between disks and zones"
The storage-related documentation doesn't mention that zoned disks can only be mounted by VMs in the same zone. This is an important details worth pointing out.

Also, I think that the documentation should provide some solutions/workaround for this issue. For example how a deployment can be made to a specific availability zone using `nodeSelector`.

---
#### Document Details

⚠ *Do not edit this s

[2021-02-15 11:41] VikasPullagura-MSFT commented on #70589
@maltalex
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-02-15 11:41] VikasPullagura-MSFT commented on #70589
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-02-15 12:03] MayankBargali-MSFT commented on #70587
@hsirtl Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 12:07] SwathiDhanwada-MSFT commented on #70573
@assaf-grth Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-15 12:08] MayankBargali-MSFT commented on #70586
@ThomasGugler Can you please confirm which link is not working for you?
I have tested the [Microsoft Azure Logic Apps Enterprise Integration Tools for Visual Studio 2015 2.0](https://aka.ms/vsmapsandschemas) and I don't see any issue in navigating the link.

[2021-02-15 12:09] abmis-mi opened #70592 "Should the function be static even while using Dependency Injection?"
In the documentation it is shown that the function should be static. But, while using dependency injection, there is no easy way to dependency inject into static class and subsequenly consumed by the static method. What is the correct way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb272585

[2021-02-15 12:10] gilroitto commented on #36268
I had this issue creating a Azure Function. As @tony-gutierrez points out

I chose a Consumption plan type for an Azure Function and still got this message. If I switched to using an App Service plan and selected S1, it worked. I have successfully created Consumption plan type Azure Functions in this resource group earlier, but recently created a web app with P1V2, and now I can no longer create C

[2021-02-15 12:17] RohitMungi-MSFT commented on #70529
@rbavery Some examples to use the ScriptRunConfig to write files and data is available in this [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/scriptrun-with-data-input-output/how-to-use-scriptrun.ipynb). @rastala FYI for feedback and doc-update.

[2021-02-15 12:17] ThomasGugler commented on #70586
when you click that link,i am redirected to https://www.microsoft.com/en-us/download/details.aspx?id=53016 and  i come to a standard page to buy a surfeca laptop, but nothing about that tools..

[2021-02-15 12:18] #70586 closed

[2021-02-15 12:18] ThomasGugler commented on #70586
works now

[2021-02-15 12:32] shashishailaj commented on #70588
@epa095 Thank you for catching this. We have engaged the content team to review and update as needed.

[2021-02-15 12:33] shashishailaj commented on #70588
@memildin Could you please review this one?

[2021-02-15 12:33] DavidTaig opened #70593 "Redirection URL in CSV file for Bulk invite Users (Guests) cause registration to fail"
Bulk invite users - csv template is set by default to "https://myapps.azure.com" which should be "https://myapps.microsoft.com"
This is currently causing the Guest to fail registration - DNS Error as myapps.azure.com doesn't exist

https://github.com/MicrosoftDocs/azure-docs/issues/59617 should have not been closed until MicrosoftDocs and Template were fixed, as this has caused our recent project

[2021-02-15 12:46] munir94 commented on #70493
![image](https://user-images.githubusercontent.com/39366930/107948490-da384900-6fce-11eb-8a3c-b2f783edc91a.png)

[2021-02-15 13:05] munir94 commented on #70493
One thing that i notice is , we need to simulate the VPN is _disconnected_ with remote IP , then only the query will run without problem and creating alert will complete with _no invalid properties_

![image](https://user-images.githubusercontent.com/39366930/107950174-53d13680-6fd1-11eb-8dae-96ffb4931b50.png)
make the result is appear then change back the time from 3d to 5m.. copy the query for a

[2021-02-15 13:15] #70155 closed

[2021-02-15 13:17] sahinad commented on #67301
@Hjortsberg I implemented your solution and it also worked for a subscriber that is out of Azure AD.

[2021-02-15 13:36] BE-Digital-Solutions-Bart commented on #70365
Hello,

The use case that I'm referring to is about a partner to which we outsourced a business critical application with potentially highly sensitive information. They host this application on a VM in Azure within their Azure subscription.

To mitigate the risk of losing control over our data, our Cyber Security department asked to get permissions to delete the Key Vault key used for Azure Disk E

[2021-02-15 13:46] marcelkmfst opened #70594 "confusion about custom images"
The arcticle states that custom images are not supported, however, some lines later it is mentioned "If you have created a Custom Snapshot or a Shared Image (SIG) of a RHEL or SLES PAYG Marketplace image, you can only use Azure CLI to enable Azure Hybrid Benefit. This is known limitation and currently there is no timeline to provide this capability on the Azure Portal as well"

What is now correct

[2021-02-15 13:52] KevinBurton opened #70595 "Breakdown?"
I received a notice that my Azure resources have been suspended because the monthly cost was exhausted. How do I see a breakdown of the costs for each resource? I would like to pair back  or eliminate the resource based on this breakdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5c4c89-1778-7b70-db0e-1425315d02

[2021-02-15 13:57] qwertynik opened #70596 "403 Forbidden Error"
Followed all the steps mentioned in the [tutorial](https://docs.microsoft.com/en-gb/azure/healthcare-apis/access-fhir-postman-tutorial). But there is an authorization error:

[code]

Not certain what is the problem here.

Any help will be much appreciated.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9d1459d-b21b-7a

[2021-02-15 14:14] MayankBargali-MSFT commented on #70585
@jkelso662 Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 14:15] tomkerkhove opened #70598 "Azure SQL DB, Elastic Pool, ... metrics are not up-to-date"
Azure SQL DB, Elastic Pool, ... metrics are not up-to-date given some metrics are not available, only available when using vCores, only available when using DTU, etc.

This is hard to understand, as a user, what metrics we can use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Ve

[2021-02-15 14:24] arjen1981 opened #70599 "ResourceNotFoundError: The feature 'StartStopPreview' could not be found."
When executing  _az feature register --namespace "Microsoft.ContainerService" --name "StartStopPreview"_ after installing and updating aks-preview I get the message: _ResourceNotFoundError: The feature 'StartStopPreview' could not be found._

I am on the West Europe region and have AKS  Cluster of type VirtualMachineScaleSets.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-15 14:28] arjen1981 commented on #70599
I just did a list of the features:

[2021-02-15 14:30] GitaraniSharma-MSFT commented on #70493
@munir94 , that is correct. This query is to find out the logs when the tunnel was disconnected:
**where status_s == "Disconnected"**

So, in order to get logs for this whole query, there should be some disconnections in the VPN.

Thank you for the updates and as you are now able to get the logs, we are closing this issue for now. If there are further questions regarding this matter, please reply

[2021-02-15 14:30] #70493 closed

[2021-02-15 14:45] memildin commented on #70588
Hi @epa095, thanks for the feedback and for taking the time to help us improve the docs.

The title of the page says it's not comprehensive and the first line of the text says it's a partial list. The purpose of this reference page was to provide a good springboard for identifying the Azure domains in use and the REST API endpoints. An exhaustive list would be constantly in flux, as Azure services

[2021-02-15 14:45] #70588 closed

[2021-02-15 14:57] RohitMungi-MSFT commented on #70582
@agribot2 Thanks for the feedback. Our content team is constantly working on improving the documentation and incorporating feedback from users.

In this case the models that are created are always associated with your workspace and you can always list the models using the SDK using [model.list()](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model.model?view=azure-ml-py#lis

[2021-02-15 14:59] takekazuomi opened #70600 "API documentation does not exist"
API documentation does not exist. Do you have any plans for updates?

https://docs.microsoft.com/en-us/azure/templates/microsoft.dbformysql/servers
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93405ac1-2a34-1652-cd8d-53f725e5d6c0
* Version Independent ID: f42d487a-a579-f84d-86d8-8949eacec4a1
* Content: [Quickstart: Cr

[2021-02-15 15:07] SnehaAgrawal-MSFT commented on #70592
@abmis-mi Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-15 15:14] Asymvivastos opened #70601 "Microsoft"

[2021-02-15 15:20] Alezis opened #70602 "private link for ADF is wrong"
[Enter feedback here]

Should private link for ADF be privatelink.datafactory.azure.net instead of privatelink.azure.net ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configurati

[2021-02-15 15:31] ram-msft commented on #70498
Thanks for the feedback. V3 also only returns a single language in the output.
 @aahill Could you please help with the doc update for the return json response for DETECTEDLANGUAGE.

[2021-02-15 15:32] minnieshi opened #70603 "The command line approach does not show how to add entry to ACL"
[I can  see the add entry to ACL via storage explorer, but i can not see it in the command line. This wasted lots of my time to be honest]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d29fd9c-d764-3d15-bff3-2d61ec9f757f
* Version Independent ID: 58503de5-d10f-eb43-34f9-6f72a0fa1f9b
* Content: [Access control lists i

[2021-02-15 15:36] KalyanChanumolu-MSFT commented on #70600
@takekazuomi Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-15 15:42] MayankBargali-MSFT commented on #70584
@MrCochese Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 15:47] PaulVrugt commented on #22731
@artmasa thanks for the detailed explanation. It saved me some time. I agree this should be a bug

[2021-02-15 15:47] microkost opened #70604 "Missing usage of az-cli"
This page is missing a tutorial on how to create SQL VM by using az cli commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bc65042-b759-8d79-dae9-1f519eb8c061
* Version Independent ID: 1ef8390e-c73d-1ae1-a144-13d226de7e06
* Content: [Create SQL Server on a Windows virtual machine in the Azure portal - SQL Server

[2021-02-15 16:16] wewalk-service-account commented on #35948
If the above answer the solution, what can we do to start the process of updating the documentation for this?
I have searced for it in two places below, all of them shows non-working examples, and none of them is mentioning about the possible errors and other ways of connecting to the db client.

https://www.npmjs.com/package/@azure/cosmos
https://azure.github.io/azure-cosmos-js/classes/cosmosclie

[2021-02-15 16:16] SumanthMarigowda-MSFT commented on #70352
@bertrandpons Firstly apologies for delay in responding here!
Are you looking out for any specific region?

Network File System (NFS 4.1) public preview on premium tier is now open in the following regions – Australia East, East US, East US 2, Southeast Asia, UK South, West Europe, and West US 2. To get the latest info, see [region ](https://docs.microsoft.com/en-gb/azure/storage/files/storage-fil

[2021-02-15 16:16] #70352 closed

[2021-02-15 16:17] burakkarakus commented on #35948
If the above answer the solution, what can we do to start the process of updating the documentation for this?
I have searced for it in two places below, all of them shows non-working examples, and none of them is mentioning about the possible errors and other ways of connecting to the db client.

https://www.npmjs.com/package/@azure/cosmos
https://azure.github.io/azure-cosmos-js/classes/cosmosclie

[2021-02-15 16:20] SumanthMarigowda-MSFT commented on #70357
@assaf-grth Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
You can check the replication status for a blob in the source account. For more information, see [Check the replication status of a blob.](https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-configure?tabs=portal#check-the-replication-status-of-a-blob)

If the repli

[2021-02-15 16:20] #70357 closed

[2021-02-15 16:21] agribot2 commented on #70582
Thank you for your fast and helpful reply.

I'll try to access and download the trained model,

thanks

From: RohitMungi-MSFT <notifications@github.com>
Sent: 15 February 2021 14:58
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Agribot <agribot@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] where is the trained model and how can I down

[2021-02-15 16:22] ssivas commented on #70501
@KalpeshKhetani , Basic SAML configuration URLs are must be configured while creating a trust between Beyond - Azure AD which enable Single-Sign-on for users and SAML configuration (metadata) need to be updated on both side. Upon, exchanging metadata, user provision need to be configured as explained in this [section](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/bomgarremotesu

[2021-02-15 16:29] bwren commented on #70254
#please-close

[2021-02-15 16:29] #70254 closed

[2021-02-15 16:30] bwren commented on #70123
Thanks for the heads up. These are the queue to be updated.

#please-close

[2021-02-15 16:30] #70123 closed

[2021-02-15 16:31] bwren commented on #70039
Oops, you're right. Thanks for that. Might just a mixup of the link to the image. In any event, we'll get it corrected.

#please-close

[2021-02-15 16:31] #70039 closed

[2021-02-15 16:33] mbendana opened #70605 "Missing/Wrong information provided in the article"
In section '**10. On the SAML Single Sign-On Settings page, fields populate automatically, select the User Provisioning Enabled and then click Save.**', there is missing information.

When the 'User Provisioning Enabled' option is checked, you're not allowed to proceed unless you change the 'SAML Identity Type' option from 'Assertion contains the User's Salesforce username' to 'Assertion contains

[2021-02-15 16:44] PramodValavala-MSFT commented on #70359
@cveld Looks like [this issue](https://github.com/Azure/azure-functions-powershell-worker/issues/162) that you are a part of covers the same and I believe is a better place to continue discussing this. Once implemented, the docs would be updated as required.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter,

[2021-02-15 16:44] #70359 closed

[2021-02-15 16:48] PramodValavala-MSFT commented on #70360
@ryantheleach As a reference doc, this builds upon knowledge of how bindings work and their limitations. But a few links back might just do the trick. We have assigned this issue to the content author to further review.

[2021-02-15 16:49] KalpeshKhetani commented on #70501
@ssivas - The first sections in this article explaining the SAML configurations are detailed. However the user creation section [here ](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/bomgarremotesupport-tutorial#create-beyondtrust-remote-support-test-user)appears to be incomplete:

- The section is titled Create BeyondTrust Remote Support test user.
- The paragraph underneath me

[2021-02-15 17:01] AshokPeddakotla-MSFT commented on #68401
@martgut Thanks for sharing the requested info. Our team is looking into this issue and update you once we have an update. Appreciate your time patience. Thanks for your understanding.

[2021-02-15 17:06] alexandra142 commented on #69198
Hi @danielgerlag  it is possible to run it in postman.

[2021-02-15 17:07] gklittlejohn opened #70606 "Limitations around Azure Files Mounts should be documented."
There seems to be issues around this:  Azure Files mounts are always mounted under the root user which can cause issues for application running as non root (https://github.com/MicrosoftDocs/azure-docs/issues/16481) . Azure files does not support hard links making it unsuitable for being used for persistence for applications such as PostgreSQL (https://github.com/docker-library/postgres/issues/548)

[2021-02-15 17:07] bwren commented on #69118
@mfmcdonagh We actually already have policy definitions for Azure Monitor in Azure Policy in preview. I thought that we had included that in documentation, but I'm not seeing it now. In any event, we will be updating the Azure Monitor agent content as it nears general availability and will absolutely include it in our scalability guidance.

#please-close

[2021-02-15 17:07] #69118 closed

[2021-02-15 17:30] sebsalvat commented on #46898
Reopening this ticket to ask about granular permissions.

What granular access settings can we give user accounts to accomplish an MDM enrolment successfully?

There should be from fine tuned setting. We shouldn't need to give users full local administrator privileges to accomplish this.

[2021-02-15 17:38] baanders commented on #70549
Thanks @algattik for the review.

I think this comment is actually a result of a confusing naming convention in our sample code.

To help contextualize the SDK calls that will typically be part of a larger program (such as the [runnable sample](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-manage-graph#runnable-twin-graph-sample) later in the document), the SDK call examples are show

[2021-02-15 17:42] tomklino opened #70607 "why are the firewall settings all greyed out?"
Hi - I couldn't find anywhere why all the firewall controls have been greyed out. They have not been greyed out a few days ago and I can't figure out why

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7a26cc-5853-7241-c918-4d758814baaf
* Version Independent ID: 96790e64-f053-5194-cccb-2a66019a8f3f
* Content: [Configu

[2021-02-15 17:55] JamesTran-MSFT commented on #70580
@Donovand4
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 17:56] JamesTran-MSFT commented on #70581
@Floriszz
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 17:57] JamesTran-MSFT commented on #70583
@linekrogh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 18:00] JamesTran-MSFT commented on #70593
@DavidTaig
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-15 18:13] JamesTran-MSFT commented on #70605
@mbendana
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-15 18:57] baanders commented on #70549
Hello @algattik,

I've added `CustomMethod_` to the start of all the custom method names, to identify them in these code samples. I've also added more intro text and SDK call highlights in PR [#146998](https://github.com/MicrosoftDocs/azure-docs-pr/pull/146998).

Hopefully this makes the intent more clear and makes it simpler to see what is happening with the custom methods.

Does this seem to add

[2021-02-15 18:57] tjprescott opened #70609 "Deploy Django app with AppService and PostGRES doesn't work"
See Azure CLI issue: https://github.com/Azure/azure-cli/issues/16939

This tutorial as written doesn't work. When I try to run `webapp vnet-integration add` I get an error that the subnet is missing the required delegation. However, the subnet DOES have the required delegation, because the `postgres flexible-server create` command sets it up that way.

I tried setting up the VNET integration throu

[2021-02-15 19:10] qwiku opened #70610 "Encoding issues with foreign characters."
To fix the encoding issues with foreign characters such as Chinese, you have to convert the xml string into a sequence of bytes before passing them to the -Body parameter of the Invoke-RestMethod.

1. Change content type to octet-stream.
$headers.Add("Content-Type", 'application/octet-stream')

2. Convert the $policycontent xml string to bytes.
$bytes = [System.Text.Encoding]::Default.GetBytes($po

[2021-02-15 19:12] epa095 commented on #70588
I agree that the page sais that the list is partial:-) This issue is not about how the article is missleading (it is not), is about how it would be better if the list was complete. And yes, that list of domains would be constaintly in flux, but I belive in you! In fact, I firmly belive that Microsoft is the company best suited to maintain this list!

[2021-02-15 19:30] Rinki-MSFT commented on #70207
Hello @peoplesmeat,

Group settings for a label refers to what is mention [here](https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites?view=o365-worldwide#how-to-configure-groups-and-site-settings).
O365 portal -> M365 Compliance -> Information protection -> Labels

![image](https://user-images.githubusercontent.com/76989215/107986008-32804280-6ff1-11eb-84

[2021-02-15 19:31] jondmcelroy opened #70611 "B2C Localization - Incorrect Text for Successful send of Verification code."
I am using data uri: urn:com:microsoft:aad:b2c:elements:contract:selfasserted:2.1.1

When working with a DisplayControl for verifying a phonenumber, I receive a message back: "Verification code has been sent. Please copy it to the input box below."

![image](https://user-images.githubusercontent.com/4562548/107986620-4be9a600-6f81-11eb-961e-2c4a05fb68b5.png)

This matches the information for the `

[2021-02-15 19:33] prctjliwei commented on #65645
I have the same confusion too. Any clarification?

[2021-02-15 19:40] mbendana opened #70612 "Typo at https://docs.microsoft.com/en-us/azure/governance/management-groups/overview#moving-management-groups-and-subscriptions"
Moving management groups and subscriptions
To move a management group or subscription to be a child of another management group, three rules need to be evaluated as true.

If you're doing the move action, you need:

Management group write and Role Assignment write permissions on the child subscription or management group.
Built-**on** role example Owner
Management group write access on the target

[2021-02-15 19:51] SaurabhSharma-MSFT commented on #70447
@hansolo2218 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-15 19:51] #70447 closed

[2021-02-15 19:55] ClaudioRifo commented on #70343
At this point we are doing live tests scenarios. If we choose to continue our migration with this method (online replication) we will subscribe and do everything to assure a smooth migration.
Because we are on a testing phase we are asking what options do we have to ensure continuity on outgoing traffic (to avoid replication issues due to firewall presence).
If there are no options, ok. We will pu

[2021-02-15 20:13] SadiqhAhmed-MSFT commented on #70595
@KevinBurton Thank you for reaching out to us! Here is a guide - https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-analysis-common-uses to view breakdown of cost for reach resource. If your account is suspended, you may want to re-activate it by following the instructions from this link - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/subscription-dis

[2021-02-15 20:21] dennis431 opened #70613 "the day I get it right"
day after day fraud comes in more ways and causes wasted time to control a person and family to cause failure. total abuse to elders.

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Common problems with account two factor authentication

[2021-02-15 20:49] matthiasguentert opened #70614 "Why do Azure's default system route tables not contain 172.16.0.0/12 as specified in RFC 1918?"
When dealing with Azure VNet routing I was wondering why the default system route tables doesn't contain the `172.16.0.0/12` block as defined in RFC 1918, but only `10.0.0.0/8`, `192.168.0.0/16`, and some additional `10.64.0.0/10` which is related to `Carrier Grade NAT`. The documentation doesn't mentioning anything about this. Why is that?
---
#### Document Details

⚠ *Do not edit this section. I

[2021-02-15 21:00] virtualjack opened #70615 "SMS is considered weak"
SMS is considered weak as a form of MFA due to multiple compromises. Please update your guidance.

https://www.forbes.com/sites/zakdoffman/2020/10/11/apple-iphone-imessage-and-android-messages-sms-passcode-security-update/?sh=6fcc381c2ede

https://www.zdnet.com/article/chinese-hackers-developed-malware-to-steal-sms-messages-from-telcos-network/

https://www.pindrop.com/blog/nist-explains-proposed-

[2021-02-15 21:31] KevinBurton commented on #70595
I looked at the link you provided (thank you) and I don'[t see the screens
that are show instead I see:

[image: image.png]

On Mon, Feb 15, 2021 at 2:13 PM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

[2021-02-15 22:06] TheUniquePaulSmith opened #70616 "Is "Unfamiliar sign-in properties" risk time learned & does it take the device in consideration?"
Does **Unfamiliar sign-in properties** take inconsideration the device?
The [Identity Protection documentation](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks#sign-in-risk) talks about "familiar devices" what is a familiar device to Azure AD B2C sign-in? Is that based on the userAgent + IP; just the IP, or something else?

---
#### Doc

[2021-02-15 22:16] TheUniquePaulSmith opened #70617 "AAD CAP High-Risk is automatically being blocked versus requiring MFA"
I am working with a client who has P2 enabled on their B2C and wishes to use Conditional Access Policies (CAP) to influence when MFA is required. During testing we see that a user with simulated "High-Risk" (using Tor) sign-in is being blocked versus requiring MFA as configured by the associated Grant action of of the CAP.

Is this by design, or intentional? We want High-Risk sign-in's to require

[2021-02-15 22:40] JamesTran-MSFT commented on #70594
@marcelkmfst
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:41] JamesTran-MSFT commented on #70596
@qwertynik
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:42] JamesTran-MSFT commented on #70598
@tomkerkhove
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:44] JamesTran-MSFT commented on #70599
@arjen1981
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:46] JamesTran-MSFT commented on #70601
@Asymvivastos
Thanks for reaching out!

Since there's no issue description, doc question, or enhancement, would you be able to provide additional details on your question/ask? This way I can gain a better understanding of your issue.

[2021-02-15 22:47] JamesTran-MSFT commented on #70602
@Alezis
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:49] JamesTran-MSFT commented on #70603
@minnieshi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:50] JamesTran-MSFT commented on #70604
@microkost
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-15 22:54] JamesTran-MSFT commented on #70613
@dennis431
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-15 22:55] JamesTran-MSFT commented on #70615
@virtualjack
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-16 00:29] dcbrown16 opened #70619 "Export feature"
There is a video about exporting all of these resources available, but it isn't described in this document.
https://www.youtube.com/watch?v=Kfrx0TpCgPc&ab_channel=MicrosoftAzure

Please add some brief info about the export feature to this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411b74a5-dd0b-ab9a-2427-

[2021-02-16 00:49] tigormanmsft opened #70620 "Please correct recommendations for disk cache settings"
In the "Disk cache settings" section, within the "Recommendations" subsection, there are two bullet items, each of which contains incorrect statements.

The bullet items currently state...

- For OS disks, use default Read/Write caching and use premium SSD for Oracle workload VMs. Also ensure that the volume used for swap is also on premium SSD.
- For all DATAFILES, use ReadOnly for caching. ReadO

[2021-02-16 00:49] tigerdeccan opened #70621 "When running ARM Template over again - It disables public Access for a little while"
I have successfully enabled private link for Redis and also enabled publicAccess using ARM template . It works perfect .

Problem is when running ARM template over again with no changes(usual devops) - It briefly disables publicAccess  this result in downtime for my service .

It would be good if you fix this behavior please.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this s

[2021-02-16 01:01] rwike77 commented on #69627
@ramya-rao-a Thanks for the feedback.  The screenshot here doesn't really add much, so I think that's contributing to the wall you mention.  So I'll remove the screenshot. Step by step instructions for app registration would be nice.  This is a conceptual article, though, so I think it would be better to link to the step-by-step instructions in the [app registration quickstart](https://docs.micros

[2021-02-16 01:03] rwike77 commented on #68619
@hpsin, can you comment on this?  Thanks.

[2021-02-16 01:15] rwike77 commented on #65401
@jesakowi, can you answer this?  Thanks

[2021-02-16 01:58] SubhashVasarapu-MSFT commented on #70614
@matthiasguentert, Thanks for reaching out. We will investigate and update this thread.

[2021-02-16 02:37] JasonWHowell commented on #70080
@SergeMoreno its not there. Sorry!

[2021-02-16 02:56] Ronnie-personal opened #70622 "Clarify Authentication Method"
Is the switch just for authentication method in current Azure portal blade?

Can I enforce only use AAD authentication only and totally disable access key/SAS authentication?

![image](https://user-images.githubusercontent.com/76408835/108012860-6733d000-6fd8-11eb-9dfc-dc96066a7f1f.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-02-16 03:33] #70481 closed

[2021-02-16 03:37] CharlesGroleau opened #70625 "Cannot be done using powershell."
Cannot be done using powershell.

`Undo-AzRecoveryServicesBackupItemDeletion : Undo-deletion is only supported for AzureVMs. This method is not supported for other workloads.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23863a81-7b5b-566c-2b77-4baf4071b44a
* Version Independent ID: 04740e94-22ce-7ef8-1ca5-93e8843dc0

[2021-02-16 03:37] KalyanChanumolu-MSFT commented on #70607
@tomklino Thank you for reaching out.

To manage Cosmos DB accounts, you need to have "DocumentDB Account Contributor" or higher permissions.
Please check with your administrator if your access has changed recently.

Technical support on GitHub is limited to documentation issues only.
In future, please post technical issues on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-c

[2021-02-16 03:39] devanshu0987 opened #70626 "Documentation doesn't mention the contents of ResourceTestStatus object"
[code]
What are the contents of testInputResult ?
What is populated when the test fails and when it passes?

I checked the following link but it doesn't mention what specific ErrorCodes are returned or what values can Status contain.
[code]

My main aim is to do an equality check post this Test() call and take appropriate action in all cases.
---
#### Document Details

⚠ *Do not edit this section.

[2021-02-16 03:48] AshokPeddakotla-MSFT commented on #70314
@kamilzzz We have an update on this issue and we can confirm that DPS does not check CRL or OCSP of client certificate.
Hope that answers your query.

[2021-02-16 03:51] VikasPullagura-MSFT commented on #70620
@tigormanmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-02-16 03:52] VikasPullagura-MSFT commented on #70620
@Dbakevlar
Can you please check and add your comments on this doc update request as applicable.

[2021-02-16 03:54] VikasPullagura-MSFT commented on #70606
@gklittlejohn
Thanks for your Feedback! I am checking with internal team and will get back on this.

[2021-02-16 04:01] SwathiDhanwada-MSFT commented on #70619
@dcbrown16 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-16 04:03] SwathiDhanwada-MSFT commented on #70625
@CharlesGroleau Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-16 04:05] AshokPeddakotla-MSFT commented on #70513
@Karenzhang7717 We hope that address your query.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-16 04:05] #70513 closed

[2021-02-16 04:20] qwertynik commented on #70596
Looking forward to your advice and getting the service up and running @JamesTran-MSFT

[2021-02-16 04:21] VikasPullagura-MSFT commented on #70606
@macols
Can you please check and add your comments on this doc update request as applicable.

[2021-02-16 04:22] AnuragSharma-MSFT commented on #70621
@tigerdeccan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-16 04:23] AnuragSharma-MSFT commented on #70320
@davidlane-iteratec Awaiting your response.

[2021-02-16 04:24] AnuragSharma-MSFT commented on #70609
@tjprescott Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-16 04:32] RohitMungi-MSFT commented on #70351
@rquintino Based on feedback from our product team:

Our team is also reviewing if the existing custom vision object detection code on false positives to provide guidance if user needs to provide any additional training to handle these scenarios.

[2021-02-16 04:36] YamaguchiKei1 opened #70628 "sign-out url"
[Enter feedback here]
The sign-out URL for enterprise applications is set by default to a URL for single sign-out URL.
For the Non Gallery application, the URL for sign-out is not known, so please describe it.

single sign out url:
https://login.microsoftonline.com/{tenantid}/saml2

sign out url:
https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0

---
#### Document Details

⚠ *Do

[2021-02-16 04:41] joefrancisGA opened #70629 "The snippet "values in the systemDiagnostics property bag" has "Diagnostics" misspelled"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98acfeaa-38a5-dbb6-c717-4fcefe854ffb
* Version Independent ID: 3efdd861-cb2a-3733-35df-65e0473dcde4
* Content: [Change feed in Azure Blob Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed?tabs=azure-portal)
* Conte

[2021-02-16 04:49] JamesTran-MSFT commented on #70610
@qwiku
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-16 04:50] JamesTran-MSFT commented on #70611
@jondmcelroy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-16 04:50] VikasPullagura-MSFT commented on #70594
@marcelkmfst
I confirmed with internal team on this.
Custom images (created from on prem machines) do not have billing tag and hence those do not allow AHB conversion.
Custom snapshots and SIG VMs generated from PAYG Marketplace RHEL image VMs allow AHB conversion.

The document needs to be reworded to avoid this confusion.

Hope the provided information is helpful.

[2021-02-16 04:51] VikasPullagura-MSFT commented on #70579
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-16 04:51] #70579 closed

[2021-02-16 04:51] JamesTran-MSFT commented on #70612
@mbendana
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-16 04:53] JamesTran-MSFT commented on #70617
@TheUniquePaulSmith
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-16 04:59] rahug1190 commented on #70502
@batesandy the Power CLI requirement is no longer applicable. We will update the document to reflect this. Thanks for pointing out the gap.

[2021-02-16 05:03] RohitMungi-MSFT commented on #70626
@devanshu0987 Thanks for the question, our content team is reviewing the request to get this updated. Thanks!!

[2021-02-16 05:14] mpchen opened #70630 "Built-in policies using "Microsoft.Security/assessments""
Some of the built-in policies use "Microsoft.Security/assessments" and evaluate the status code of assessments.

I have 2 questions on this -
1. Is it possible to examine the code of the "assessment" to understand what it does?
2. Is it possible to create custom assessments?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-02-16 05:24] euangms opened #70631 "UI has changed"
A couple of these screenshots need updated as the flow has changed in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b665f0e0-4669-5fbb-08b9-08838f9fe2de
* Version Independent ID: 2e514652-9fc7-b07e-fb0a-f71270ecedfa
* Content: [Quickstart: Link an Azure Machine Learning workspace - Azure Synapse Analytics](http

[2021-02-16 05:35] SwathiDhanwada-MSFT commented on #70630
@mpchen Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-16 05:42] SadiqhAhmed-MSFT commented on #70595
@KevinBurton It could be permission issue for being able to view cost management screen. IMO, the best way to proceed further on this is by reaching out to Azure billing and subscription management team.

Note: Azure billing and subscription management support is provided free of cost.

[2021-02-16 05:45] psmanhas commented on #70425
@lissff Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-16 05:45] #70425 closed

[2021-02-16 05:49] psmanhas commented on #70604
@microkost Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-16 05:50] psmanhas commented on #70604
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-02-16 06:01] shashishailaj commented on #70616
@TheUniquePaulSmith Thank you for your query . We will investigate and update the thread.

[2021-02-16 06:04] shashishailaj commented on #70628
@YamaguchiKei1 Thank you for your feedback . We will investigate and update the thread.

[2021-02-16 06:09] psmanhas commented on #70583
@linekrogh Thank you for your query. On a broader level Contributor  which grants full access to manage all resources, but does not allow you to assign roles in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.You can read more about its scope [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor)

Owner on the other hand Gra

[2021-02-16 06:09] amanmcse commented on #70571
@shanjin90 Closing out the issue now. Feel free to tag me in your reply if you have any further question.

[2021-02-16 06:09] #70571 closed

[2021-02-16 06:11] SubhashVasarapu-MSFT commented on #70288
@yashraghu01, Appreciate your patience. In Azure, you can register a custom domain for your apps using [App service domain](https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-buy-domain). But again, App Service Domains use GoDaddy for domain registration and Azure DNS to host the domains.

We are closing this issue for now. If there are further questions regarding this matter, pl

[2021-02-16 06:11] #70288 closed

[2021-02-16 06:14] vipulsparsh commented on #70572
@NavishkarSadheo You can assign license to M365 group as well. Let us know if you are having some issues while assigning it.
 Microsoft 365 groups that have securityEnabled=TRUE are eligible for group based licensing.

[2021-02-16 06:17] Hitengit054 commented on #70266
Hi @dominicbetts : DPS require below parameter , right?

IOTHUB_DEVICE_SECURITY_TYPE
IOTHUB_DEVICE_DPS_ID_SCOPE
IOTHUB_DEVICE_DPS_DEVICE_ID
IOTHUB_DEVICE_DPS_DEVICE_KEY
IOTHUB_DEVICE_DPS_ENDPOINT

How many export parameter we need to do DPS with use of X509 group enrollment in IOT Central.  ?
Please provide guidance to do DPS with X509 in this sample  https://github.com/Azure/azure-iot-sdk-c/blob/

[2021-02-16 06:23] ramya-rao-a commented on #69627
Sounds good!

[2021-02-16 06:49] euangms opened #70633 "Linemagics don't work"
The notebook thats linked from here can not be loaded and also when copy and pasted the first cell does not work as line magics are not supported in the new notebook experience and they are unknown in the old NB experience. This notebook should probably refer to the std way of enumerating packages that uses the pip API not commands and link tot he article about how to add a requirements.txt to get

[2021-02-16 07:12] matthiasguentert opened #70635 "Diagram for scenario one contains typo"
I think the diagram for scenario one contains a typo. The VNet for the virtual machines and the hub vnet are having the same address spaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4038a691-c584-2c36-24c5-fa91a5be474a
* Version Independent ID: c6bd0573-22ef-f1d5-5553-000bd8f8c1bd
* Content: [Use Azure Firewall t

[2021-02-16 07:18] Rinshad opened #70636 "How to download a file using cloud-init.yaml file?"
Hello,

I am trying to deploy my war application using cloud-init.yaml file. I created a cloud-init.yaml file and it could install tomcat but my war application is present in the Azure storage account and the cloud-init file is not able to download the file.

I tried to download the file manually from the VM but am getting the error.
`wget https://xxxxxxxx.blob.core.windows.net/cluster-files/myapp

[2021-02-16 07:24] dcurwin commented on #70625
#reassign:pvrk

[2021-02-16 07:33] euangms opened #70637 "SciKit versioning"
The first cell does not work as line magics are not supported in the new notebook experience and they are unknown in the old NB experience. Its not clear from the notebook or the doc that this is mostly an AML NB. This notebook should probably refer to the std way of enumerating packages that uses the pip API not commands and link to the article about how to add a requirements.txt to get the right

[2021-02-16 07:34] euangms opened #70638 "SKlearn Versioning"
The first cell does not work as line magics are not supported in the new notebook experience and they are unknown in the old NB experience. Its not clear from the notebook or the doc that this is mostly an AML NB. This notebook should probably refer to the std way of enumerating packages that uses the pip API not commands and link to the article about how to add a requirements.txt to get the right

[2021-02-16 07:35] pvrk commented on #70625
@CharlesGroleau : Can you please check the version? It should work from 5.3.0 atleast.

[2021-02-16 07:35] marcelkmfst commented on #70594
thank you. excellent explanation

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: VikasPullagura-MSFT <notifications@github.com>
Sent: Tuesday, February 16, 2021 5:51:17 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marcel Keller <makeller@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2021-02-16 07:37] euangms opened #70639 "Various Problems"
The first cell does not work as line magics are not supported in the new notebook experience and they are unknown in the old NB experience. Its not clear from the notebook or the doc that this is mostly an AML NB. This notebook should probably refer to the std way of enumerating packages that uses the pip API not commands and link to the article about how to add a requirements.txt to get the right

[2021-02-16 07:39] VikasPullagura-MSFT commented on #70594
@marcelkmfst I have shared feedback with document owner for enhancing the document to avoid this confusion.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-16 07:39] #70594 closed

[2021-02-16 07:53] dovletmamenov commented on #61790
Hello!

Any updates on this issue?
May you please post here if it was solved.

Thnak you!

[2021-02-16 08:14] bertrandpons commented on #70352
@SumanthMarigowda-MSFT Thank you for your reply. I was thinking of Switzerland region.

[2021-02-16 08:15] LauraDamianTNA opened #70640 "The script in testConfig.json contains an absolute path that is not read."
Hi,

When adding a new test case, a testConfig.json file is created.
The first line contains an absolute path to a query script.
e.g.
{
  "Script": "C:\\Users\\ladamian\\projects\\asa\\infrastructure\\tf-infrastructure\\services\\connectivity\\asa-enrichment-query.asaql",
  "TestCases": [
...

This value should not contain the absolute path, but a relative path.
I also noticed that if I replace th

[2021-02-16 08:24] nivaa7 opened #70641 "tutorial does not work"
The tutorial is missing the line `connection.connect()`. We define the connect callback, but never actually call the function. As a Node noob, this took me a long time to find out until I saw the missing line in your other tutorial: https://docs.microsoft.com/en-us/sql/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js?view=sql-server-ver15

---
#### Document Details

⚠ *Do no

[2021-02-16 08:24] qwertynik commented on #70596
Went through the steps again and realized that a step under Prerequisites was missed.
After finishing that step, the API is responding.

[2021-02-16 08:27] qwertynik commented on #70596
The tutorial mentions the below:
[code]
However, I was not able to grant access to the client application created via App Registrations. Had to assign to my user to get it working.

[2021-02-16 08:37] AnuragSharma-MSFT commented on #70641
@nivaa7 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-16 08:49] AshokPeddakotla-MSFT commented on #70314
@kamilzzz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-16 08:49] #70314 closed

[2021-02-16 08:50] #70607 closed

[2021-02-16 08:51] shivakumarky commented on #26050
Hi Team,

I am getting below error while deploying multistep web availability test today. It was working fine till last week, not sure if this is stopped working from this week. Kindly let us know the alternative for this feature.
-----------------------------------------------------------------------
Failed to create availability test
Creating availability test "MultiStep-WebJobTest" failed with

[2021-02-16 09:07] epa095 opened #70642 "Best practice for working with modules and scripts on azure machine learning"
This documentation article is clear enough, but I think this is a very natural place to either describe, or link to a description, of how to best solve the following (common) case:

You have some data-wrangling and training-code, and it is starting to grow so much that should be split out in different files. You make a package, maybe even with a setup.py, and make your training script use function

[2021-02-16 09:22] euangms opened #70643 "This sample code needs verified"
Looks like some methods have changed in newer builds, for example, df.sample is no longer compatible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 215d2a79-01c5-858d-0ae6-42ca4f632c62
* Version Independent ID: 5648a393-add2-da10-2c27-bdae726e2639
* Content: [Tutorial: Train a model in Python with automated machine lea

[2021-02-16 09:24] diegodct opened #70644 "Enable NLA - Duplicated steps"
Steps are duplicated:
############################################################
REM Enable NLA

REG ADD "HKLM\BROKENSYSTEM\ControlSet001\Control\Terminal Server\WinStations\RDP-Tcp" /v SecurityLayer /t REG_DWORD /d 1 /f

REG ADD "HKLM\BROKENSYSTEM\ControlSet001\Control\Terminal Server\WinStations\RDP-Tcp" /v UserAuthentication /t REG_DWORD /d 1 /f

REG ADD "HKLM\BROKENSYSTEM\ControlSet001\Contr

[2021-02-16 09:27] minhe-msft commented on #23801
Fix went through the public documentation https://docs.microsoft.com/en-us/azure/data-factory/monitor-programmatically, will be auto-merged into this repository.

[2021-02-16 09:32] SnehaAgrawal-MSFT commented on #70592
@abmis-mi Thanks for question! Could you please expand your query to help you better on this.

[2021-02-16 09:32] ovidiubechesamplexor opened #70645 "Forgot password link not working for recommend ADB2C users flows - its working only for standard users flows"
As stated here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-overview#linking-user-flows
But here : https://docs.microsoft.com/en-us/powerapps/maker/portals/configure/configure-azure-ad-b2c-provider-manual there is no warning to NOT use user flows (singin/singup) with recommended version. IF you configure a power portals with ADB2C users flows using recommended type the fo

[2021-02-16 09:34] PramodValavala-MSFT commented on #70540
@lipalath-ms to raise an event, you simply have another [function](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-external-events?tabs=csharp#send-events) that calls the [`RaiseEventAsync`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.durableorchestrationclientbase.raiseeventasync?view=azure-dotnet-legacy) method.

For your scenario, this wo

[2021-02-16 09:36] #70540 closed

[2021-02-16 09:39] diegodct opened #70646 "remove-module psreadline icacls is wrong"
The command: remove-module psreadline icacls is wonrg.
it should be "remove-module psreadline"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500257df-925a-52ad-74f3-5856c712a09c
* Version Independent ID: 6204cf81-68b6-2f92-a939-1aa2db35c063
* Content: [An internal error occurs when you make an RDP connection to Azure

[2021-02-16 09:40] SadiqhAhmed-MSFT commented on #70558
@alexs77 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-16 09:40] #70558 closed

[2021-02-16 09:40] SadiqhAhmed-MSFT commented on #70449
@ThierryBT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-16 09:40] #70449 closed

[2021-02-16 09:40] PramodValavala-MSFT commented on #70545
@boris-tarasov-maersk Durable Functions depend on Azure Table Storage which is [currently not supported by azurite](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite#differences-between-azurite-and-azure-storage). In the meantime, using Azure Storage Emulator or an Azure Storage Account directly is the way to go.

[2021-02-16 09:41] yasithacp commented on #70438
Hi James, thanks for the response. I have checked the answer you have provided, but when I have `MaxInactiveTime` or `MaxAgeMultiFactor` set in the definition I am setting getting the same error from powershell as well as from graph api.

`"Configure Token Lifetime for RT/ST (Refresh/Session Token) has been retired on May 30, 2020. New policy cannot be created anymore. Refer https://docs.microsoft

[2021-02-16 09:44] SadiqhAhmed-MSFT commented on #70464
@jeffwmiles Thanks for raising the PR.

@rayne-wiselman For visibility.

Closing this issue as no action pending on us!

[2021-02-16 09:44] #70464 closed

[2021-02-16 09:49] PramodValavala-MSFT commented on #70584
@MrCochese Thanks for the feedback! While not ideal, there is no way to execute parallel requests via policies for composition. The best option would be offloading such composition to a backend service like an Azure Function.

As for the doc, I believe it could be clearer with alternatives. We have assigned this issue to the content author for further review.

[2021-02-16 10:10] KalyanChanumolu-MSFT commented on #70631
@euangms Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:11] davidlane-iteratec commented on #70320
Sorry no @AnuragSharma-MSFT it doesn't help much. Firstly my ticket was about the documentation being unclear and inconsistent. So I don't think an individual response here is going to improvie the documentation. I went into quite a bit of detail about why it is confusing.

Like I said: the section is supposed to be about "when you use Private Link in combination with firewall rules:" and then poi

[2021-02-16 10:12] KalyanChanumolu-MSFT commented on #70633
@euangms Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:13] SumanthMarigowda-MSFT commented on #70622
@Ronnie-personal Thanks for the question! We are investigating and will update you shortly.

[2021-02-16 10:13] SumanthMarigowda-MSFT commented on #70629
@joefrancisGA Thanks for the question! We are investigating and will update you shortly.

[2021-02-16 10:14] KalyanChanumolu-MSFT commented on #70637
@euangms Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:15] KalyanChanumolu-MSFT commented on #70638
@euangms Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:17] KalyanChanumolu-MSFT commented on #70639
@euangms Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:21] savroman commented on #70599
Same issue

[2021-02-16 10:26] KalyanChanumolu-MSFT commented on #70640
@LauraDamianTNA Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:28] KalyanChanumolu-MSFT commented on #70643
@euangms Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-16 10:37] chengyu-liu-cs opened #70649 "Enable public access to a workspace with a private endpoint"
[Enter feedback here]
I would like to understand what are pros and cons for enabling public access to a workspace with a private endpoint, especially from security point of view. I understand that by introducing private endpoints/links only clients from a vnet can access to workspace and all resources orchestrated by workspace can be secure (by using [private links](https://docs.microsoft.com/en-u

[2021-02-16 10:47] sijucm opened #70650 "Azure functions: Storage input binding incomplete documentation"
In the published page located at:
https://github.com/msangapu/azure-docs-PUBLIC/blob/master/articles/azure-functions/functions-bindings-storage-blob.md#input---javascript-example

It shows example of a blob storage input trigger as given :
  context.bindings.myOutputBlob = context.bindings.myInputBlob;

That's so easy to do without carefully not giving any information for the reader on what is in

[2021-02-16 10:50] phatcher commented on #56727
I think this is now covered - if you look at the [support levels](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#support-levels) it specifically states that slots are supported on Windows/Linux Elastic Premium

[2021-02-16 11:00] vipulsparsh commented on #70628
@YamaguchiKei1 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-02-16 11:03] EmmaC57289 commented on #70216
@jeevansd  Is there any update on this request please?

[2021-02-16 11:13] bmcder opened #70651 "We need to be more explicit about the fact that you need to register an additional feature for the Assessment part"
We need to be more explicit about the fact that you need to register an additional feature for the Assessment part

We provide a command for registering for Auto patching

Register-AzProviderFeature -FeatureName InGuestAutoPatchVMPreview -ProviderNamespace Microsoft.Compute

but not for the assessment part. We should add this explicitly

Register-AzProviderFeature -FeatureName InGuestPatchVMPrevie

[2021-02-16 11:22] psmanhas commented on #70646
@diegodct Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-02-16 11:36] psmanhas commented on #70644
@genlin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-16 11:42] Asymvivastos commented on #70651
MicrosoftDocs/azure-docs •
reply@reply.github.com

[2021-02-16 11:45] psmanhas commented on #70651
@bmcder Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-16 11:46] psmanhas commented on #70651
@mayanknayar Can you please check and add your comments on this doc update request as applicable

[2021-02-16 12:49] carsv opened #70654 "notification threshold type conflict in documentation"
[Enter feedback here]

NotificationThreshold is a fraction in this tutorial but is an integer [here](https://docs.microsoft.com/en-us/powershell/module/az.billing/new-azconsumptionbudget?view=azps-5.5.0)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9

[2021-02-16 13:00] vnextcoder opened #70655 "Is the PPG still in Preview ?"
[Enter feedback here]
I believe the PPGs are not in preview by now, The Article needs updating.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125bff1e-b7e0-f564-9b66-79c0ead87492
* Version Independent ID: bcbe1a1e-a069-d073-a40f-8970fe00ac9c
* Content: [Proximity placement groups preview for virtual machine scale sets

[2021-02-16 13:11] tlogik opened #70656 "Not possible to do full export if you have labels"
When trying to export from one App Configuration instance to another instance i have to manually select each label to export.
The documentation defines this as label is optional, thus indicating not setting it will inherently cause a full export of all values.
That is not the case.

Doing it manually label by label did not provide an identical copy.
Destination actually contained more keys than so

[2021-02-16 13:16] Shivatej007 commented on #58976
Issue still persists, ReceivedRemoteNotification method never gets called, even after decorating it with  [Export("application:didReceiveRemoteNotification:")].
Any suggestions ?

[2021-02-16 13:28] y10e opened #70657 "initialOffsetOptions is supported on Microsoft.Azure.WebJobs.Extensions.EventHubs 4.2.0 and higher"
[Enter feedback here]
initialOffsetOptions on host.json is valid from [Microsoft.Azure.WebJobs.Extensions.EventHubs 4.2.0](https://github.com/Azure/azure-functions-eventhubs-extension/releases/tag/v4.2.0).
I think that this restriction should be described on this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-16 13:34] GitaraniSharma-MSFT commented on #70559
@kmkelly2015 , there is no readily available CLI example of this tutorial that includes the Azure Firewall Manager securing connectivity for Private traffic only. However, you can pick the CLI cmdlets from the below links for the same actions and get it done:
https://docs.microsoft.com/en-us/cli/azure/ext/azure-firewall/?view=azure-cli-latest
https://docs.microsoft.com/en-us/cli/azure/ext/virtual-

[2021-02-16 13:34] #70559 closed

[2021-02-16 13:43] edasgupta23 opened #70659 "DI works great for HttpTrigger, it does not help with Timer Trigger for Function App"
I have a Function App that consists of both  HttpTrigger and a Timer Trigger. I was hoping to find common point where i can load the configurations for both the respective triggers something like Startup.cs mentioned (https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) While I find having a Startup.cs is really good for initializing configurations , the ca

[2021-02-16 14:01] zerodrool commented on #57508
Same, for PowerShell read access only on my end. I am able to access the SharePoint admin center with a Global Reader role however, I am not able to use the Connect-SPOService cmdlet.

![image](https://user-images.githubusercontent.com/50828487/108072943-bef82880-7024-11eb-8904-917c56d993e1.png)

[2021-02-16 14:07] stangm commented on #19569
@Karishma-Tiwari-MSFT this should not have been closed.  The issue is still there, we cannot retrieve Publisher-Offer-Sku on VMs created from the shared image gallery.

[2021-02-16 14:20] SaiKishor-MSFT commented on #70635
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-16 14:21] mjaggard commented on #14645
Agreed, the calculator is awful in that the pricing page contains completely different terminology.

[2021-02-16 14:24] mjaggard opened #70660 "Pricing "Units" very unclear Azure calculator"
This issue https://github.com/MicrosoftDocs/azure-docs/issues/14645 was closed but many other people have had the same issue since and I believe it was incorrect to close it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6fd3-2cca-0387-5c0d9b19906c
* Version Independent ID: 3b1ddae9-b0c3-78ff-15a5-428abea3773

[2021-02-16 14:35] cicorias commented on #50228
is there an example of the POST operation that actually results in a full purge?

@sonic1981

[2021-02-16 14:44] SaiKishor-MSFT commented on #70241
@omerzubair
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-16 14:44] #70241 closed

[2021-02-16 14:45] sonic1981 commented on #50228
Not that I'm aware of @cicorias I believe you need to purge after the deletion as a separate request. I've only used the `az` command and not the underlying HTTP so not sure the mechanics of this underneath

[2021-02-16 14:46] SaiKishor-MSFT commented on #70473
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-16 14:46] #70473 closed

[2021-02-16 14:48] MonikaReddy-MSFT commented on #70655
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-16 15:10] CharlesGroleau commented on #70625
[cid:image001.png@01D7044B.FE264C20]

De : Kartik P V R <notifications@github.com>
Envoyé : 16 février 2021 02:36
À : MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc : Charles Groleau <Charles.Groleau@globalexcel.com>; Mention <mention@noreply.github.com>
Objet : Re: [MicrosoftDocs/azure-docs] Cannot be done using powershell. (#70625)

PRUDENCE: Ce courriel provient de l'extérieur de n

[2021-02-16 15:17] AnuragSharma-MSFT commented on #70320
@davidlane-iteratec Thanks for reverting back and we understand your concern here. I am assigning this issue to the content author to evaluate and update it accordingly.

[2021-02-16 15:19] rarandiv commented on #69790
Hi @jovanpop-msft , Just wondering if the above suggestion for document update is getting consider. Hope its relevant.

[2021-02-16 15:20] rarandiv commented on #69800
Hi @WilliamDAssafMSFT  ,Just wondering if the above suggestion for document update is getting consider. Hope its relevant.

[2021-02-16 15:20] MonikaReddy-MSFT commented on #70656
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-16 15:20] rarandiv commented on #70167
Hi @ramakoni1 , Just wondering if the above suggestion for document update is getting consider. Hope it's relevant.

[2021-02-16 15:26] MonikaReddy-MSFT commented on #70525
@Sathishkunisai -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-16 15:26] #70525 closed

[2021-02-16 15:27] shashishailaj commented on #70645
@ovidiubechesamplexor Thank you for your feedback . We will investigate and update the thread.

[2021-02-16 15:28] burkeholland commented on #70181
Hey folks! This has been raised here https://github.com/Azure/static-web-apps/issues/29. We are working on an official doc for this and it looks like investigating adding App Insights on project creation if desired.

[2021-02-16 15:30] shashishailaj commented on #70484
@mmacy Could you please review the ask and help on this ?

[2021-02-16 15:30] OD1995 commented on #65513
@cgillum @davidmrdavid thanks for updating the docs! On the same page, just below the dates and times row, would it be possible to get a Python equivalent for creating UUIDs/GUIDs? Currently only .NET and JavaScript solutions are provided

[2021-02-16 15:36] JeremyTBradshaw commented on #70398
There is one other part that is also unclear and related to the Authentication Service.  If we have the Authentication Service set to use \<Tenant>.onmicrosoft.com, do we still need to worry about this ADFS-based pre-requisite?:

Specifically the **WS-Trust** protocol.. If the SCP / Authentication Service is pointing to Azure AD, I'm unsure if this requirement is still relevant.

[2021-02-16 15:40] tjprescott commented on #70609
Well, not sure what I did, but now the webapp can at least see the VNet... but it says that subnet is not available for delegation. The article states that you have to use the same subnet as the one the flexible server is delegated to, so I'm not sure what steps to take next.

[2021-02-16 15:41] jamesmkwong opened #70663 "UserErrorMSIMissingPermissions"
I encountered UserErrorMSIMissingPermission and following the instructions at https://docs.microsoft.com/en-us/azure/backup/backup-azure-database-postgresql#troubleshooting.

On step #3, I didn't see 'Backup Vault' and neither saw the 'Azure AD user, group, or service principal**' option.
I saw 'User, group or service principal' so I picked it.  However, I still didn't see 'Backup Vault' to select

[2021-02-16 15:42] rarandiv commented on #70098
Hi @jovanpop-msft  , Just wondering if the above suggestion for document update is getting consider? Hope it's relevant.

[2021-02-16 15:42] MarkIannucci opened #70664 "Can Microsoft decrypt the passwords that are stored and synced across devices in the authenticator app?"
The FAQ doesn't directly answer the question, can Microsoft decrypt the passwords stored and synced across devices in the Microsoft Authenticator app?  If Microsoft doesn't have a way to do that, how do the encryption and decryption keys get initially generated such that Microsoft can't have them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-16 15:47] Tom-Van-Asch opened #70666 "Spring boot 2.4 distributed tracing"
Isn't the dependency below also necessary to use distributed tracing with spring boot 2.4? However I'm still getting a connection refused exception to zipkin when deploying a spring boot 2.4 app on the Azure spring cloud environment with the additional dependency, do I still miss some configuration:

org.springframework.web.client.ResourceAccessException: I/O error on POST request for "http://loca

[2021-02-16 15:48] psmanhas commented on #70646
@diegodct The document is updated and changes will go live soon.

[2021-02-16 15:48] #70646 closed

[2021-02-16 15:52] MicrosoftGuyJFlo commented on #68792
@kistersr, Without feedback from the product group I would suggest you open a case with Support for them to escalate if this is still an issue.

[2021-02-16 15:53] emielkool opened #70667 "This page should be below the "AS2 message settings" in the menu. Not above."
This page should be below the "AS2 message settings" in the menu. Not above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b26c235-7a10-35c5-bdac-100ad381e495
* Version Independent ID: ec90ba39-6cab-4fd3-8640-51a998f3bb0f
* Content: [Send and receive AS2 messages for B2B - Azure Logic Apps](https://docs.microsoft.com

[2021-02-16 15:56] FabianHertwig opened #70668 "Dataset.File.from_files(path=datastore_paths) with wildcard in path does not work"
At multiple location in the docs and even in the AzureML UI it states that the path to files can have wildcards or will be evaluated recursively, e.g.

[code]

But in my experience that does not work. When using just the folder eg `animals` or a wildcard eg `animals/**` or `animals/*.jpg` I get an error when I then try to download the registered dataset.

[code]
[code]

When I register the dataset

[2021-02-16 16:13] btdevops commented on #70599
I'm having the same issue this morning

[2021-02-16 16:14] PramodValavala-MSFT commented on #70657
@y10e Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-02-16 16:18] PramodValavala-MSFT commented on #70659
@edasgupta23 To quote [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#use-injected-dependencies) of the doc

Could you confirm that your timer triggered function is not static? A non-static method will require class initialization to be run.

[2021-02-16 16:23] OpalescentTopaz commented on #68262
Hello. Any further information?

[2021-02-16 16:24] ChaitanyaNaykodi-MSFT commented on #70548
Hello @federicopfund,
Since we have not heard back from you we will now proceed to close this thread.

[2021-02-16 16:24] #70548 closed

[2021-02-16 16:24] cephalin commented on #54768
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/147055. #please-close

[2021-02-16 16:24] #54768 closed

[2021-02-16 16:29] ChaitanyaNaykodi-MSFT commented on #70565
Hello @venkat1017,
Since we have not heard back from you, we will now proceed to close this issue out. It will be helpful if you could create another issue by submitting the feedback for "This page" on bottom of the documentation you referred as shown below. Thank you!

![image](https://user-images.githubusercontent.com/67453298/108091928-07b5de80-7031-11eb-825d-08f1689262c1.png)

[2021-02-16 16:29] #70565 closed

[2021-02-16 16:30] davidmrdavid commented on #65513
Will do, I'll add it to this current sprint

[2021-02-16 16:31] JamesTran-MSFT commented on #70664
@MarkIannucci
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-16 16:32] YutongTie-MSFT commented on #70642
@epa095
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-16 16:32] danielgerlag commented on #69198
@alexandra142 forcing potential customers to do this adds a lot of friction to testing out a new product.
Postman has this functionality built in for APIs that follow well defined standards.
![image](https://user-images.githubusercontent.com/2357007/108092062-2d42e800-7031-11eb-8b77-3251c5d1f100.png)

How can we leverage this to make it easier for potential customers to test out ACS for the first

[2021-02-16 16:32] YutongTie-MSFT commented on #70649
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-16 16:33] AlexandraKemperMS commented on #70656
Hi @tlogik, thanks for reaching out. I have replicated your issue, and yes, when you select "No label" as the label (or leave it blank) you do not get the full list of keys. This is because it only shows you all of the keys that do not have a label attached, in the same way that selecting a label like "prod" only shows you keys with the prod label. It would be good have an option to select all lab

[2021-02-16 16:34] danhlee329 commented on #60212
The changes look good from my side, closing ticket.

[2021-02-16 16:34] #60212 closed

[2021-02-16 16:38] WilliamDAssafMSFT commented on #69800
Hi @rarandiv, this item is still in review, standby. Thanks for contacting Microsoft with feedback about our product documentation.  Your suggestions help improve our documentation.

[2021-02-16 16:38] edasgupta23 commented on #70659
@ PramodValavala - None of my triggers are static . Constructor injection works for HttpTrigger but not for Timer trigger. Let me know if I was not clear. thanks!

[2021-02-16 16:39] SamaraSoucy-MSFT commented on #70666
Thanks for the question! We will review and get back to you shortly.

[2021-02-16 16:39] mimckitt commented on #70341
Being addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/147078

#please-close

[2021-02-16 16:39] #70341 closed

[2021-02-16 16:42] Sudheendra-MS commented on #36607
Hello @YutongTie-MSFT we have open cases in -Disable Weekly PIM emails #1795 can we have any update on this

[2021-02-16 16:48] tamram commented on #70622
@Ronnie-personal - Yes, that switch is just for the portal. It indicates how you are authorizing access to blob data in the portal.

If you want to disable Shared Key auth for the entire account, you can do so. Please see this article for more information:

https://docs.microsoft.com/azure/storage/common/shared-key-authorization-prevent?tabs=portal

#please-close

[2021-02-16 16:48] #70622 closed

[2021-02-16 16:48] tamram commented on #70622
#reassign: @tamram

[2021-02-16 16:49] NavtejSaini-MSFT commented on #70343
Thank you for @ClaudioRifo. We will go ahead and close this feedback for now and let us know if you have any other question.

[2021-02-16 16:49] #70343 closed

[2021-02-16 16:50] Asymvivastos commented on #36607
notifications@github.com

[2021-02-16 16:52] an-prog opened #70670 "Not able to ssh - getting permission denied"
[Enter feedback here]
I followed the instructions and still getting the permission denied error while trying to ssh with azureuser
root@aks-ssh:~# ssh -i id_rsa azureuser@
Warning: Identity file id_rsa not accessible: No such file or directory.

Authorized uses only. All activity may be monitored and reported.
azureuser@: Permission denied (publickey).
---
#### Document Details

⚠ *Do not edit thi

[2021-02-16 16:53] YutongTie-MSFT commented on #70668
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-16 16:55] amanmcse commented on #70467
@idusortus From the behavior you have explained, the problem seems to be with the account that you are using to sign in to https://developer.microsoft.com/en-us/graph/graph-explorer . If you are using Guest account (with Global Admin roles assigned), it will always connect to the home tenant of the user. I would suggest you to create a Member account in B2C tenant (with username@your_b2c_tenant.on

[2021-02-16 16:55] #70508 closed

[2021-02-16 16:55] mattchenderson commented on #70471
Work underway, but no ETA that I can share at present. If you haven't already, please add support to this item [on our uservoice](https://feedback.azure.com/forums/355860-azure-functions/suggestions/38817385-allow-key-vault-references-to-access-secrets-behin)

[2021-02-16 16:58] DCtheGeek commented on #70630
#reassign:DCtheGeek

[2021-02-16 16:58] DCtheGeek commented on #70630
@mpchen Thanks for the question.  I believe the answer in both cases is that it's not possible.  However, since that's more in the realm of Azure Security Center than Azure Policy (Policy is just reading their results in this case), I'm tagging in @memildin from Azure Security Center space to review and comment.

#in-progress

[2021-02-16 17:02] SnehaAgrawal-MSFT commented on #70471
@omerzubair We will now close this out but if you feel you need more information please just let us know.

[2021-02-16 17:02] #70471 closed

[2021-02-16 17:03] algattik opened #70671 "Example with client.QueryAsync<IDictionary<>>"
The page only contains a code sample with:

[code]

However the generic type is not always `<BasicDigitalTwin>`. E.g. here it is a dictionary:
[code]

It would be good to have documentation about this, and what type to expect when.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ee1efe-19d2-31f5-fa74-78809d965085
* Ve

[2021-02-16 17:04] PramodValavala-MSFT commented on #70659
@edasgupta23 Thanks for confirming! I've just a tried a simple function which I can confirm works as expected.

[code]

Could you share your code here for us to try out as well?

[2021-02-16 17:21] cynthn commented on #70423
As the benchmarks are verified and finished, they get added to the docs. I've not gotten any information that hasn't been published. As soon as I have it, I will update the docs.

#please-close

[2021-02-16 17:21] #70423 closed

[2021-02-16 17:22] DCtheGeek commented on #70630
#label:"in-progress"

[2021-02-16 17:23] YassineSOUABNI opened #70672 ""Email" is documented as available only for SSPR. No where it is mentioned that it is available for Azure AD Role members"
Dear,

"Email" is documented as being a method available only for SSPR.
link1/ https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-getstarted?
redirectedfrom=MSDN#
link2/ https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks#available-verification-methods

And indeed, it is not available for configuration from Azure AD portal und

[2021-02-16 17:25] MonikaReddy-MSFT commented on #70636
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-16 17:28] MonikaReddy-MSFT commented on #70655
@vnextcoder -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-16 17:28] #70655 closed

[2021-02-16 17:28] #70521 closed

[2021-02-16 17:29] midesa commented on #67476
#please-close

[2021-02-16 17:29] #67476 closed

[2021-02-16 17:43] markwsmith-pharma opened #70673 "Does not work on Linux, not just the consumption plan"
The disclaimer, "This feature is currently not available on Linux Consumption plan for Azure Functions" may need to be revised to say, "This feature is currently not available on Linux plans for Azure Functions"

Configuring Azure AD for a function that has been deployed to a Linux environment does not appear to work, even when using a paid Linux basic app service plan.

I had configured the Advan

[2021-02-16 17:49] MicrosoftGuyJFlo commented on #68792
#please-close

[2021-02-16 17:49] #68792 closed

[2021-02-16 17:49] #70274 closed

[2021-02-16 17:58] destumme opened #70674 "Apache Drill Complex Union Types are not supported"
This page calls out the ability to use Apache Drill to query event captured data, which does not appear to work.

With a very basic setup of Apache Drill, querying event hub data seems to work only for events that have a null body. Anything with a the byte array body will return this error message from Apache Drill.

`Error: UNSUPPORTED_OPERATION ERROR: 'complex union' type is not supported`

Ther

[2021-02-16 18:03] ClaudioRifo commented on #70343
Can you confirm there is no other option?
There is not way to forward all traffic to a vnet or a NAT Gateway?
Is there another way to get access to the new IP or to the CNAME besides doing the Query?

[2021-02-16 18:08] SatishBoddu-MSFT commented on #70201
Hi all, we are working on this, please stay tuned for further updates.

[2021-02-16 18:19] SatishBoddu-MSFT commented on #70671
Hello @algattik
I have assigned the issue to the content author for further review.

[2021-02-16 18:22] ChaitanyaNaykodi-MSFT commented on #70297
Hello @shriazure,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-16 18:22] #70297 closed

[2021-02-16 18:22] scyto opened #70675 "Please add list of all possible action codes and their meaning."
In the data we get in our Azure table we see action codes like:

"ActionCode": "INS",
"ActionCode": "Create",
etc

and

 "Description": "Campaigns: "
 "Description": " "

What are all the possible values for description and action code and what do they mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c14f046-8a16-

[2021-02-16 18:36] tyler555g commented on #70402
Hi Chaitanya,

I am using the date parameter in the output blob binding path.

Thanks,

Tyler

On Sat, Feb 13, 2021, 8:42 PM ChaitanyaNaykodi-MSFT <
notifications@github.com> wrote:

[2021-02-16 18:45] tamram commented on #70382
@walunjsachin - Thanks for pointing out this error. I've updated the container name to be lower case.

#please-close

[2021-02-16 18:45] #70382 closed

[2021-02-16 18:53] bandersmsft commented on #70654
@carsv Hi there. The NotificationThreshold parameter shown at at https://docs.microsoft.com/powershell/module/az.billing/new-azconsumptionbudget?view=azps-5.5.0#parameters says:

-NotificationThreshold

Threshold value associated with a notification. Notification is sent when the cost or usage exceeded the threshold. **It is always percent and has to be between 0 and 1000.**

In the screenshot in

[2021-02-16 18:54] #70654 closed

[2021-02-16 18:56] rwike77 commented on #69627
Updates just merged, should publish later today.  Thanks.  #please-close

[2021-02-16 18:56] #69627 closed

[2021-02-16 19:02] JasonWHowell commented on #69963
Thanks @chanuengg
@SergeMoreno I hope that helps answer your question. We'll proceed to close out this thread.
#please-close

[2021-02-16 19:02] #69963 closed

[2021-02-16 19:08] #70387 closed

[2021-02-16 19:13] tamram commented on #70524
@mlcooper - I'm not sure I understand your question. Currently, the portal handles granting the account access rights to the key vault for you, behind the scenes. There's no explicit action required on your part in the portal.

[2021-02-16 19:15] JamesTran-MSFT commented on #70504
@scale-tone
Thank you for pointing this out!

When it comes to this specific instance, it seems like the "[for testing purposes only](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#authentication-two-options)" comment, is mentioned because the actual cmdlet [New-SelfSignedCertificate](https://docs.microsoft.com/en-us/powershell/module/pkiclien

[2021-02-16 19:17] JamesTran-MSFT commented on #70516
@henriquebelotto
Thank you for your time and patience!

Would you be able to share some of the string IDs that you're referring to? This way I can gain a better understanding of your issue.

[2021-02-16 19:19] JamesTran-MSFT commented on #70601
@Asymvivastos
Since I haven't received a response your end and this issue requires more info, I'll go ahead and close this out. If you require additional support or would like to enhance our docs, please feel free to create a new GitHub issue.

Thank you for your time and patience throughout this!

[2021-02-16 19:19] #70601 closed

[2021-02-16 19:20] mikelazell-f4 commented on #45143
This is still an issue and has another caveat..

if you have base url = http://www.somesite.com and relative url = somepath it doesnt work despite the help text saying it should

if you have base url = http://www.somestime.com and relative url = /somepath it doesnt work.

if you have base url = http://www.somesite.com/ and relative url = somepath it works.

Well at least that what I have found out

[2021-02-16 19:21] tamram commented on #70523
@mlcooper - I have updated the text to better match the image. The change will go live later today.

#please-close

[2021-02-16 19:21] #70523 closed

[2021-02-16 19:24] JamesTran-MSFT commented on #70612
@mbendana
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-02-16 19:24] #70612 closed

[2021-02-16 19:25] JamesTran-MSFT commented on #70613
@dennis431
Since I haven't received a response your end and this issue requires more info, I'll go ahead and close this out. If you require additional support or would like to enhance our docs, please feel free to create a new GitHub issue.

Thank you for your time and patience throughout this!

[2021-02-16 19:25] #70613 closed

[2021-02-16 19:29] algattik opened #70677 "Document query on map property"
I was able to create a property of DTDL type Map, and query it with `SELECT * FROM digitaltwins T where T.propertyname.mapKey = 'mapValue'`. This feature is undocumented - it would be very useful to document it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ee1efe-19d2-31f5-fa74-78809d965085
* Version Independent ID

[2021-02-16 19:29] mpchen commented on #70630
Thanks @DCtheGeek.

ASC does provide a ["create assessment" API](https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/createorupdate ) but it is not clear how a custom assessment can be created.

[2021-02-16 19:33] mpchen opened #70678 "Create custom assessments"
Many of IAM recommendations are of type "Microsoft.Security/assessments".

Is it possible to create custom assessments? There seems to be API support (https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/createorupdate) but it is not clear how we can use it.

Thanks.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

[2021-02-16 19:34] MarileeTurscak-MSFT commented on #70672
@YassineSOUABNI
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-16 19:36] mlcooper commented on #70524
Perhaps this was because I was doing this work via the Azure API (Terraform) that I was getting the error and need to grant the storage account explicit rights to the key vault.

[2021-02-16 19:39] JamesTran-MSFT commented on #70207
@peoplesmeat
I just wanted to check in and see if you had a chance to read through Rinki's comment?

If you have any other questions, please let me know.
Thank you again for your time and patience throughout this issue.

[2021-02-16 19:39] tamram commented on #70524
Okay, we can only cover the portal/PowerShell/Azure CLI cases here. These docs are correct as written.

If you think there's another case that we should cover, please provide us with some specifics, and we can investigate.

#please-close

[2021-02-16 19:39] #70524 closed

[2021-02-16 19:43] ericchansen commented on #19456
@e14mattc we're having the exact same issue you are. Sometimes adding the build agent's IP (we had to write code to get that ourselves) works, but sometimes it doesn't (who knows why---maybe it's changing). It's just a big deal when this could be so easy.

[2021-02-16 19:44] SadiqhAhmed-MSFT commented on #70536
@mvfolino68  Submission APIs support SaaS offer type as well. You can also find the documentation here: [Partner Ingestion | Partner API Documentation (microsoft.com)](https://apidocs.microsoft.com/services/partneringestion/#/)

The documentation is a bit out-of-date and we’re aiming to improve it in the latter part of this semester. Please let us know if you have any specific questions/feedback.

[2021-02-16 19:46] mumian commented on #61790
@dovletmamenov - did you get the same error message "Could not find any file matching the template file pattern"? If so, get the URL from Override Template Parameters, and open the URL from a browser.  You shall see the linked template.

[2021-02-16 19:49] jake-subvrsive commented on #19456
I just implemented the same "add the agent ip" fix for this last week, and I found I had to add a 90 second sleep script to my pipeline after adding the IP to guarantee the firewall changes take effect before the rest of my pipeline runs.  That may be why you only see it working sometimes?

I do agree though, a better fix from MS would be welcome.

[2021-02-16 19:50] mvfolino68 commented on #70536
thank you

[2021-02-16 19:50] #70536 closed

[2021-02-16 19:51] vlkuznet commented on #56727
@craigshoemaker - is this item ready to close?

[2021-02-16 19:55] rickwildcalibrate commented on #34167
The current certificate notification I saw does not even mention Microsoft. Instead I see DigiCert - which I have never heard of.

[2021-02-16 19:56] MonikaReddy-MSFT commented on #70636
@Rinshad - We are so sorry that you are having issues.
In order to find the root cause of it, we would need you to send us an email at AzCommunity@Microsoft.com by providing below details. 
Subject : ATTN:Monika 
1) Subscription ID 
2)  A link to this thread.
Please email us these details and we will work with you closely to get this issue taken care of and also post any findings here in the threa

[2021-02-16 20:00] anurag-oss opened #70680 "Dependency and Ordering of persisted custom-scripts"
[Enter feedback here]
Can you please share guidance for scenarios, where there are multiple persisted script actions.

1. Can we order them?
2. Can we have dependency. Suppose persisted script action B runs only when A completes successfully?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d2d7ab-bebd-c102-a3d1-1db3c3

[2021-02-16 20:01] ChaitanyaNaykodi-MSFT commented on #70667
Hello @emielkool,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-16 20:02] JamesTran-MSFT commented on #70650
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-16 20:03] ericchansen commented on #19456
@jake-subvrsive I wrote some fancy PowerShell to retry up to 5x times with a 60 second delay in between and I still see failures rarely.

I'll share them here in case they help anyone.

[code]

[2021-02-16 20:12] Asymvivastos commented on #70601
I don't know many things.. I believe now I can sign up and open my github page.. I thank you for your time.. If I can't make it.. Meaby ask again help..

[2021-02-16 20:21] Asymvivastos opened #70681 "https://github.com/pricing"

[2021-02-16 20:22] dcurwin commented on #70663
#reassign:sachdevaswati

[2021-02-16 20:23] Asymvivastos opened #70682 "Dics"

[2021-02-16 20:24] femsulu commented on #33073
Adding content contributor @yanivlavi for input

[2021-02-16 20:26] DavidMwihuri01 commented on #66538
Hi @cchapin-ms  We're taking this as an internal work item to consolidate the content. Meanwhile, you can check out articles that address this such as https://docs.microsoft.com/en-us/azure/active-directory/external-identities/customize-invitation-api. Please let us know if you have any further questions. #please-close

[2021-02-16 20:26] #66538 closed

[2021-02-16 20:28] ssrirama-aka opened #70683 "Discrepancy in page edit date versus the time-frame referenced in content on the page"
This page's last edit date reads 12/07/2020.

But the content in the page states the information presented is for the 30 days ending 12/31/2020.

Should the last edit date at the top of the page be ignored?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17

[2021-02-16 20:31] DavidMwihuri01 commented on #66358
#please-close

[2021-02-16 20:31] #66358 closed

[2021-02-16 20:33] vjkowalski opened #70684 "When clicking the Deploy to Azure button I get a: This site can’t be reached error message in my browser"
[Enter feedback here]
When clicking the Deploy to Azure button I get a: This site can’t be reached error message in my browser.

I was excited to find this tutorial as it is exactly what I need. However, it appears to be broken. The tutorial
instructs you to click the Deploy to Azure button in GitHub for the ToDoApp. When that is done you get
the message: This site can’t be reached in another tab

[2021-02-16 20:40] DerekHerman-MSFT commented on #70546
@javester The 20,000 IOPS limit is referring to the storage account. The 1,000/10,000 limit per file share is still there in the Azure file share scale targets. This is clarified in this paragraph:
_Azure file shares are deployed into storage accounts, which are top-level objects that represent a shared pool of storage. This pool of storage can be used to deploy multiple file shares. There are the

[2021-02-16 20:41] DerekHerman-MSFT commented on #70566
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-16 20:46] SaiKishor-MSFT commented on #70561
@samuel-elliott Thank you for pointing this, I have updated the document accordingly. It should update soon within the next few hors or so. I will proceed to close this thread. Thank you!

[2021-02-16 20:46] #70561 closed

[2021-02-16 20:48] ChaitanyaNaykodi-MSFT commented on #70667
Hello @emielkool, after a detailed discussion with the doc-author. By design "Exchanging AS2 messages" precedes the settings reference, so it was decided that the order of the pages in the Menu is correct.
We will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-02-16 20:48] #70667 closed

[2021-02-16 20:51] rafsalas19 opened #70685 "Reference to Nvidia on an AMD page"
In the Troubleshoot section(https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-amd-gpu-windows#troubleshoot) there is a reference to a Nvidia extension directory.

Extension execution output is logged to the following directory:
C:\WindowsAzure\Logs\Plugins\Microsoft.HpcCompute.NvidiaGpuDriverMicrosoft\

I don't think the AMD has the same plugin directory as Nvidia.

-Ra

[2021-02-16 20:52] KranthiPakala-MSFT commented on #70680
@anurag-oss
Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2021-02-16 20:52] rboucher commented on #69274
Hi @xuegao0112 Your problem may be due to a change in API.  See https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings#metric-category-is-not-supported-error for more information.   Try that first.  In general, if a metric is removed, you can't use it anymore.  But there is supposed to be an SLA to remove metrics. I'll bring this to the attention of the team that owns th

[2021-02-16 20:55] JasonWHowell commented on #70680
@anurag-oss Maybe you could write that logic into your own script right? Not its not that fancy.

[2021-02-16 20:57] jonmaestas commented on #19456
@ericchansen Using the "add agent ip" fix didn't work for us either. I was able to determine the root cause of the random failures by querying the VM metadata of the agent. Here's the scoop:

The "add agent ip" logic is only for the ***public*** IP address, since you cannot add a private IP address to a resources. Whenever the agent spawned within the same region as our resource, it was using the

[2021-02-16 20:58] PeterCLu commented on #70529
#assign:@nibaccam

[2021-02-16 20:58] PeterCLu commented on #70582
#assign:@sdgilley

[2021-02-16 20:59] MartinJaffer-MSFT commented on #70674
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-02-16 21:00] PeterCLu commented on #70649
#assign:@blackmist

[2021-02-16 21:00] MartinJaffer-MSFT commented on #70674
Thank you for your feedback, @destumme  . This has been assigned to the content owner, @spelluru  , and will be updated as appropriate.

[2021-02-16 21:00] PeterCLu commented on #70668
#assign:@nibaccam

[2021-02-16 21:01] luisquintanilla commented on #69838
Thanks for those details @sfarhand. Looking into it.

[2021-02-16 21:03] SaiKishor-MSFT commented on #70635
This is a duplicate of Github[ Issue #69711](https://github.com/MicrosoftDocs/azure-docs/issues/69711) which is pending and being reviewed by the author. Closing this issue, please follow above issue. Thank you!

[2021-02-16 21:03] #70635 closed

[2021-02-16 21:03] rboucher commented on #69274
Hi @xuegao0112 . I've notified the API Management product group about your feedback.  If I have another other updates, I'll post that information here. For now, I'm closing this issue as there isn't anymore more I can do about it right now.  Feel free to comment on it with more feedback or reopen it if you feel your needs aren't being addressed.  Thanks! #please-close

[2021-02-16 21:03] #69274 closed

[2021-02-16 21:05] SaiKishor-MSFT commented on #69711
@asudbring Can you please look into this issue and update the document accordingly? Thank you!

[2021-02-16 21:06] rboucher commented on #70598
Hi @tomkerkhove,  Understood.  I'll ask the product group to put in that information.    In general if you go to a resource in the portal and try to chart the metrics, the portal will show you what's available based on the specific resource type.  You can also call the metricsDefinitions API referred to in the top of the article to get this information.  That said, I'll let the Azure SQL DB team k

[2021-02-16 21:07] bdschaap commented on #69345
I did a little more digging.  MSAL.NET seems to work with Seamless SSO when running on Windows.  It doesn't work with Seamless SSO when running on Linux.  However, I think that MSAL.NET may work with Linux when using ADFS but haven't validated it.  Would appreciate confirmation as well as any updates to the docs as needed based on your findings.

[2021-02-16 21:12] DerekHerman-MSFT commented on #70603
@minnieshi Did you see this section and can you confirm if this works for you? https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-cli#update-an-acl

[2021-02-16 21:13] SaiKishor-MSFT commented on #70683
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-16 21:19] Blackmist commented on #70649
@chengyu-liu-cs
Thanks for the feedback. I've pinged the folks who added this to the docs to ask for pros and cons. I'll respond here once I have information.

[2021-02-16 21:26] emielkool commented on #70667
Hello @ChaitanyaNaykodi-MSFT,

Thanks for the quick response. At the bottom of the page "AS2 messaage settings", there is a [Next Steps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-as2-message-settings#next-steps) part. The next step provided is "Exchange AS2 messages". So I still think these pages should be switched. Or the Next Step is incorrect.

[2021-02-16 21:34] merill opened #70686 "Dropbox SSO Settings"
When entering the Basic SAML Configuration we need to provide

Identifier (Entity ID): Dropbox
Reply URL: https://www.dropbox.com/saml_login
Sign on URL: https://www.dropbox.com/sso/<ssoid>

The Dropbox Sign SSO ID can be found in the Dropbox site at Dropbox > Admin console > Settings > Single sign-on > SSO sign-in URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-02-16 21:40] ericchansen commented on #19456
Thank you @jonmaestas. That seems better than my hypothesis, which was that the build agent might simply change IP's mid-job. If I get the time to confirm, I'll reply back here.

My opinion still stands that this is a major headache for a variety of users and @microsoft should re-open this issue.

[2021-02-16 21:44] ecfan commented on #70562
@amsuprith, let me check with the engineering team whether they have a solution for you.

[2021-02-16 21:46] minnieshi commented on #70603
How do you add en entry, assign a user/group to the ACL?

[2021-02-16 21:49] scale-tone commented on #70504
@JamesTran-MSFT , so basically you confirmed my suspicion, that AAD doesn't differentiate self-signed vs. CA-signed certs in any way, thanks for that.

Now it's a matter of figuring out the difference between 'test self-signed vs. non-test self-signed' certs.
My guess is that New-SelfSignedCertificate cmdlet is only stamped with that label because it is primarily used for generating SSL/TLS certs

[2021-02-16 21:56] KranthiPakala-MSFT commented on #70680
@anurag-oss This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your requirement is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://s

[2021-02-16 21:56] mayanknayar commented on #70651
@bmcder this will be included in the next doc update.

[2021-02-16 21:57] SaiKishor-MSFT commented on #70683
@ssrirama-aka We apologize! The date just hasn't been updated. We are working on fixing it and it will be updated soon. Thank you for pointing this out. I will go ahead and close this issue and you can check the document within the next few hours for the update. Please reopen the issue if you have any further concerns and we can gladly continue to discuss further. Thank you!

[2021-02-16 21:57] #70683 closed

[2021-02-16 21:57] crbenge opened #70687 "Permissions are unclear for Purview Studio access"
"An Active Purview account is already created in Azure portal and the user has permissions to access Purview Studio." -- can you please specify what those permissions are, precisely?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce8f043-e870-ce21-4581-2e6f52cd1666
* Version Independent ID: de7a40ab-42d3-2c8c-49d7-ea4

[2021-02-16 21:57] DeanGross opened #70688 "What about Highly Privileged roles in Azure?"
The https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/aws/aws-azure-ad-security section lists highly privileged roles in Azure AD that are used for O365, but what about the highly privileged roles in Azure itself? please provide some guidance for those roles or included them on in this discussion.
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-02-16 22:02] JamesTran-MSFT commented on #70688
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-16 22:04] JamesTran-MSFT commented on #70663
@jamesmkwong
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-16 22:04] JamesTran-MSFT commented on #70686
@merill
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-16 22:17] spelluru commented on #70674
Hi @destumme - Thanks for the feedback on the article. Sorry that you are running into an issue when consuming captured data with Apache Drill.

I checked with our product team and they pointed me to the sample in the **Azure-Samples** repo.
https://github.com/Azure-Samples/streaming-at-scale/tree/main/eventhubs-capture

Please see if this version of the example in the official repo helps. If not,

[2021-02-16 22:17] #70674 closed

[2021-02-16 22:21] xtianus79 opened #70689 "Getting a number from the portal doesn't work 99% of the time"
When trying to add a number it just spins and spins and doesn't do anything.

No matter what configuration you setup for it.

[2021-02-16 22:22] ChaitanyaNaykodi-MSFT commented on #70400
Hello @tyler555g, Thank you for the feedback. I have made a PR to fix the typo which currently under doc authors review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-02-16 22:22] #70400 closed

[2021-02-16 22:28] PeteHaigh-MSFT opened #70690 "Clarification of SLA section please"
Hi team - the SLA paragraph is quite confusing. Can you please update this and provide a crisp view on what SLAs exist and whether it is end-user to MSFT or carrier to MSFT.

Cheers!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8093af-ed47-d030-f8e9-c4442161bdda
* Version Independent ID: 6b2109f1-29f2-8ec7-f200-202

[2021-02-16 22:30] dineshmurthy commented on #56859
#reassign: @NaraVen

[2021-02-16 22:34] Qythyx commented on #58976
@Shivatej007 , did you try the full decoration I mentioned? `[Export("application:didReceiveRemoteNotification:fetchCompletionHandler:")]`

[2021-02-16 22:55] ecfan commented on #70562
@amsuprtih, the team responded that the an Azure Resource Manager template is a "unit of deployment". So ideally, you should have one logic app per template. Your project can have multiple templates, or you can have one template per project.

Does this address your question?

[2021-02-16 22:58] destumme commented on #70674
It's not a matter of support from the azure side of things.

No versions of Apache Drill will support the schema used by Capture from Event Hub, so the documentation is simply not accurate. The link you gave does exactly what the repository in the article does, even authored by the same contributor at around the same time.

[2021-02-16 23:00] mksuni commented on #70264
working on fix on this issue. Added the pre-requisite for mysql and postgres docs for private link in how to guides.

[2021-02-16 23:00] jesakowi commented on #65401
There is not a pre-canned report for this, but there is an API in Microsoft Graph you can use. After a verified publisher has been added to a given app registration, you will see the verifiedPublisher property populated on both the Application object along with all instantiated Service Principals. Here is more info on what this looks like in MS Graph: https://docs.microsoft.com/en-us/graph/api/res

[2021-02-16 23:02] qqnarwhal opened #70693 "Inaccurate sample command and confusing wording"
https://docs.microsoft.com/en-us/azure/load-balancer/update-load-balancer-with-vm-scale-set#delete-inbound-nat-rules

What the user is removing is actually the NAT pool. It would be better to clarify in the steps like:
_"Individual inbound NAT rules can't be deleted, but you can delete the entire set of inbound NAT rules **by deleting the inbound NAT pool.**_
_**To delete the NAT pool, first remov

[2021-02-16 23:03] spelluru commented on #70674
@destumme - I will work with our product team on this again. Thanks.

[2021-02-16 23:09] spelluru commented on #70674
@yorek - could you please review comments from @destumme and add your input here? I will update the article based on your input. Thanks in advance.

[2021-02-16 23:34] L00092054 opened #70694 "AttributeError:"
def create_public_ip_address(network_client):
    public_ip_addess_params = {
        'location': LOCATION,
        'public_ip_allocation_method': 'Dynamic'
    }
    creation_result = network_client.public_ip_addresses.create_or_update(
        GROUP_NAME,
        'myIPAddress',
        public_ip_addess_params
    )

    return creation_result.result()

    creation_result = network_client.public

[2021-02-16 23:37] bwren commented on #69023
@ddobric It's a good suggestion. The answer really depends on which resource your collecting from since the log information is different for different services. We really could use some beginning to end example though

[2021-02-16 23:39] rbavery commented on #70529
I think [AzureML Pipelines](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-machine-learning-pipelines) are the answer here as well as these docs for the OutputFileDatasetConfig, which allows saving files at the end of a training job (or any script):https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.output_dataset_config.outputfiledatasetconfig?preserve-vie

[2021-02-16 23:41] rbavery commented on #70529
This is an example of how I am using the PythonStep class that enables saving to an outputFileDatasetConfig: https://github.com/TZCRC/AIAIA/blob/main/aiaia_detector/azureml_train_detector.py

The ScriptRunConfig doesn't seem to support this but it's not intuitive why the PythonStep class would support this but ScriptRunConfig does not/there's no mention of this capability in the ScriptRunConfig do

[2021-02-16 23:42] bwren commented on #69023
@ddobric  It's a good suggestion. The answer really depends on which resource you're collecting from since the log information is different for different services. A good place to start is https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs which describes the structure of the resource logs we're collecting. Also https://docs.microsoft.com/en-us/azure/azure-monitor/referenc

[2021-02-16 23:42] #69023 closed

[2021-02-16 23:43] normesta commented on #68737
Hello. The article has been recently updated. There shouldn't be any notes dated 2020. Thank you!

#please-close

[2021-02-16 23:43] #68737 closed

[2021-02-16 23:46] NuAlex commented on #63182
This issue has been fixed by the Product Group and will be available with the upcoming release coming out very soon (1.6.x). Thanks for reporting this.

[2021-02-17 00:01] DominikMe commented on #69198
@ProbablePrime Any thoughts on what Daniel is proposing?

I'm personally not sure if we can make Postman construct the right string to sign, but it would be great.

[2021-02-17 00:07] bwren commented on #68578
Sorry for late reply. The agent scans every 5 minutes for the log file, but only collects the log when the next one is created, which is every hour or every day. I can see how that's confusing though. I'll get it cleaned it up.

#please-close

[2021-02-17 00:07] #68578 closed

[2021-02-17 00:30] normesta commented on #70566
Thanks @moorereason ! I've updated the content. Updates should appear in the content by tomorrow.

#please-close

[2021-02-17 00:30] #70566 closed

[2021-02-17 00:31] normesta commented on #69524
Thank you for the corrections @mperezcarden! I've made the update. It should appear in the content by tomorrow.

#please-close

[2021-02-17 00:31] #69524 closed

[2021-02-17 00:40] Anand-Moghe opened #70695 "Is it possible to create a slot in different N/W segment for Internal/External ASE?"
I would like to know how to create a slot in Internal/External ASE within different N/W segment for development.
Because some org do not want developer access to production.
As per my understanding, whenever we create slot for ASE, it gets created in the same N/W segment of original app instance it's cloned from. So, if I want to create a slot for Internal/External ASE, in to different N/W segment

[2021-02-17 00:40] freedev commented on #47918
Again. What was the solution to this???

[2021-02-17 00:57] SaiKishor-MSFT commented on #70693
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 01:01] asukumar22 opened #70697 "Can't find anything that discusses on the support for replicating Application Security Groups with Azure Site Recovery"
We can't find anything related to the Application Security Group if it can be replicated while replicating Azure VM from one region to another using Azure Site Recovery. It discusses only NSGs here in the Replicated Machines - Networking, but ASGs are not mentioned here. I have a customer asking for replicating ASGs while replicating Azure VMs using Azure Site Recovery. Couldn't find a document th

[2021-02-17 01:04] JamesTran-MSFT commented on #70660
@mjaggard
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 01:06] JamesTran-MSFT commented on #70670
@an-prog
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 01:07] JamesTran-MSFT commented on #70681
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-17 01:08] JamesTran-MSFT commented on #70682
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-17 01:08] ChaitanyaNaykodi-MSFT commented on #70402
Hello @tyler555g, if only passing the value in output blob binding path. You can pass the `DateTime` value as [shown here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#current-time). Since we primarily drive this channel for doc improvements and as we did not determine any. We will ow proceed to close this issue out. Please tag me in your response

[2021-02-17 01:08] #70402 closed

[2021-02-17 01:12] JamesTran-MSFT commented on #70678
@mpchen
Thanks for your question! We will investigate and update as appropriate.

[2021-02-17 01:20] ggailey777 commented on #70650
#assign:ggailey777

[2021-02-17 01:33] ChaitanyaNaykodi-MSFT commented on #70463
Hello @pomorsen, apologies for the delay.
The maximum cache-store duration value can be 2147483647 seconds, which is roughly 68 years. But there is no guarantee that any stored value in cache will stay there for the duration mentioned above, for multiple internal reasons like service restart may wipe the cached data. I hope this helps resolve your query, please tag me in your response if there are

[2021-02-17 01:39] KranthiPakala-MSFT commented on #70687
@crbenge
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-02-17 01:44] ProbablePrime commented on #69198
@DominikMe Thanks for the ping, I was not aware that postman could do HMACs, I will review their HMAC features and see how it might apply to our HMACs.

However from what Daniel is saying, our HMACS may be incompatible with Postman's methodology leading to a large item of Friction if users want to use Postman to try our APIs.

[2021-02-17 01:58] myoung1000 opened #70699 "Please correct FodRAMP to FedRAMP towards the bottom of the page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1394d89-e690-1653-e40a-56a76fdfc616
* Version Independent ID: cabd878f-c69a-9610-c940-5c35d83e1b69
* Content: [FedRAMP Moderate blueprint sample controls - Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance/blueprints/samples/fedramp

[2021-02-17 02:13] spelluru commented on #61543
https://docs.microsoft.com/en-us/azure/service-bus-messaging/configure-customer-managed-key#caching-of-keys

#please-close

[2021-02-17 02:13] #61543 closed

[2021-02-17 02:34] KranthiPakala-MSFT commented on #70687
Hi @crbenge

The principal/user who created a Purview account is automatically given all data plane permissions regardless of what data plane roles they may or may not be in. For any other user to do anything in Azure Purview they have to be in at least one of the below  pre-defined Data Plane roles.

1. _**Purview Data Reader Role**_ - Has access to the Purview portal and can read all content in

[2021-02-17 02:37] v-demjoh opened #70700 "Small updates"
The text says:
_On the Azure portal menu, select Resource groups or search for and select Resource groups from any page. Then select Add._
Change to:
_Then select Create._

The text says:
_6. Select Create._
Change to:
_6. Select Review + create, and then select Create._

The text says:
_11. For Address range, type 10.0.1.0/26.
12. Select Save._
Change to:
_11. For Address range, type 10.0.1.0/26.

[2021-02-17 02:51] ProbablePrime commented on #69198
As an update here, the screenshot from above is OAuth 1.0 Authentication which requires a HMAC I guess(I know OAuth 2 but not 1).

Therefore it is not compatible with ACS' HMAC signatures. Nor should ACS adapt to support OAuth 1.0.

Instead to ACS HMAC for postman, we'd need to use Postman pre-request scripts. Its possible but it would require a tutorial to be written by our team. As it stands you

[2021-02-17 02:51] NavtejSaini-MSFT commented on #70547
@j-patrick Is there a precedence for this issue? Can you please check this further.

[2021-02-17 02:58] irenehua commented on #70693
Thank you for your feedback! Changes have been checked in.

[2021-02-17 03:02] devanshu0987 commented on #70626
@RohitMungi-MSFT Any update on this?

[2021-02-17 03:10] bobert13581 opened #70701 "Missing Reply URL"
Missing Reply URL which is a required field
https://companyname.logicmonitor.com/santaba/saml/SSO/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccfaa610-6133-8bc0-54b9-bc8b9a756963
* Version Independent ID: 3ed4027b-ce9a-e1c1-ae74-0bda37a1f9bc
* Content: [Tutorial: Azure Active Directory integration with LogicMonitor

[2021-02-17 03:31] VikasPullagura-MSFT commented on #70685
@rafsalas19
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-02-17 03:39] BhargaviAnnadevara-MSFT commented on #70689
@xtianus79 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-02-17 03:43] SubhashVasarapu-MSFT commented on #70700
@v-demjoh, Thanks for reaching out. We will investigate and update this thread.

[2021-02-17 04:05] SwathiDhanwada-MSFT commented on #70427
Assigning to content author @lgayhardt for review

[2021-02-17 04:10] SnehaAgrawal-MSFT commented on #70673
@markwsmith-pharma Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 04:10] SnehaAgrawal-MSFT commented on #70684
@vjkowalski Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 04:13] #70699 closed

[2021-02-17 04:13] SwathiDhanwada-MSFT commented on #70699
@myoung1000 Thanks for your feedback. We have updated the document and the changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-17 04:14] AshokPeddakotla-MSFT commented on #70677
@algattik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-17 04:38] KanaHayama opened #70703 "Azure CLI command no longer avaliable"
Command `az webapp config appsettings set --name <app-name> --resource-group <resource-group-name> --settings My:Hierarchical:Config:Data="some value"` is using `:` as delimiter, while this will result a 400 bad request response, because `:` can not be contained in a key. Based on [document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#configuration-

[2021-02-17 04:46] VikasPullagura-MSFT commented on #70694
@L00092054
Thanks for your Question! We are currently investigating and will get back on this.

[2021-02-17 05:00] AshokPeddakotla-MSFT commented on #70567
@VitalyMCT Thanks for the feedback. We see that you have closed this issue. Just checking are you still looking for an update on this query?

[2021-02-17 05:21] inputoutputcode commented on #61577
Hi @keatseongchan, Thanks for your feedback. Sorry for the late answer. The part with the upgradeDescription should be deployed with ARM templates as stated in the doc. Resource Explorer should not be used for production deployments, but works as well.

[2021-02-17 05:23] tsaru72 opened #70704 "Pass parameter with composite key columns to DB sink."
One example for a use case where we would have multiple columns for a sink upsert on composite key. The sink in this case is specifically a DB table and the primary keys are passed as a parameter string  e.g. say parameter is $dmPKcol and somewhere in the mapping we've set the value to  "cust_id, cust_seq_id".
This is similar to update dim_cust set cust_name = "foo" where cust_id = 123 and cust_se

[2021-02-17 05:25] SwathiDhanwada-MSFT commented on #70697
@asukumar22 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-17 05:29] SwathiDhanwada-MSFT commented on #70675
@scyto Thanks for your question. Kindly check [this document](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-get-customer-leads#understand-lead-data) to understand lead data.

[2021-02-17 05:36] tomkerkhove commented on #70598
Thanks!

Those are indeed valuable approaches but when building tools on top of the API (such as Promitor.io) customers will use that list to know what is available.

In some cases, they will use an unsupported metric for a given resource type and open bugs for the tool, while it is working fine.

[2021-02-17 05:39] SnehaAgrawal-MSFT commented on #70695
@Anand-Moghe Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 05:41] SnehaAgrawal-MSFT commented on #70703
@KanaHayama Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 05:42] RyanHill-MSFT commented on #70703
Hi @KanaHayama, I ran the command to verify, and it doesn't result in a 400 bad request in the CLI. The [doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#configuration-keys-and-values) you referenced, it mentions

The `:` isn't supported on all platforms when it comes to environment variables.

The note here is referring to your appsettings.json rea

[2021-02-17 05:45] #43708 closed

[2021-02-17 05:47] KanaHayama commented on #70703
Maybe that is because I am using a linux hosted .net 5 web app?
I also cannot add a key containing `:`s in Azure Portal.

If you set the a key named `My:Hierarchical:Config:Data`, will it be shown on Azure Portal?
Now I am trying names such as `My__Hierarchical__Config__Data`.

[2021-02-17 05:50] jmahmood commented on #55061
This is still an issue.

[2021-02-17 06:26] RyanHill-MSFT commented on #70703
For Linux hosted environments, you would use `__`. It's noted in https://docs.microsoft.com/en-us/azure/app-service/configure-common#add-or-edit.

[2021-02-17 06:26] AnuragSharma-MSFT commented on #70641
@nivaa7 Thanks for mentioning the issue with the article. We have same issue reported [#70006](https://github.com/MicrosoftDocs/azure-docs/issues/70006) and a PR is already created for the same change and based on approval and merge, the article will be updated.

[2021-02-17 06:28] KanaHayama commented on #70703
Thank you, I didn't notice that.

[2021-02-17 06:28] #70703 closed

[2021-02-17 06:32] Sudheendra-MS commented on #36607
@MarileeTurscak-MSFT I am from CSS- We have many open cases for the same issue. Please let us know any ETA for this Fix

[2021-02-17 06:48] AdrianZielonka opened #70705 "Azure Cosmos DB Emulator Explorer /GenKeyFile causes unauthorized errors"
When using the /GenKeyFile command and starting the emulator with the /AllowNetworkAccess /KeyFile=<keyfile_name> command line arguments, the Explorer functionality errors with the following message:

Replacing the generated key inside the generated <keyfile_name> with the default key of

from the Azure CosmosDB Emulator guide allows the emulator to work again over the network.

---
#### Document

[2021-02-17 06:55] SatishBoddu-MSFT commented on #69635
Hello all, We are not able to repro the issue from CXP side, so we have suggested creating a support ticket with Azure Support for a deeper investigation on this issue. We will keep you posted once we have any progress on this case.

[2021-02-17 06:55] SatishBoddu-MSFT commented on #69635
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue once we have an update from the support case.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-02-17 06:55] #69635 closed

[2021-02-17 07:00] RohitMungi-MSFT commented on #70626
@JSeb225 Is it possible to provide more details about the responses from the tests? The API reference seems to be lacking details on the responses.

[2021-02-17 07:06] donchai opened #70706 "Custom Role to enable Auditing on Azure SQL"
[Enter feedback here]

Objective: Assign **least privilege** Azure portal IAM role to a user (support vendor) outside of organization on resource group level where Azure SQL provisioned, which aim to enable him/her to perform Azure SQL Auditing to Log Analytics workspace configuration.

Attempt: Tried granted "**Log Analytics Contributor**" role to an user on separate organization.

Result: "Save"

[2021-02-17 07:16] assaf-grth commented on #70357
Hi @SumanthMarigowda-MSFT thank you for your reply,
The existing suggestion requires manual checks or scripts writing
I was referring to using a managed way to use for verification, like Azure monitor alert for the status checks
Is there an option to define such alert that will be triggered when status is not ok?

[2021-02-17 07:20] scyto commented on #70675
Perfect, thanks, maybe link to that from this page?

[2021-02-17 07:24] AnuragSharma-MSFT commented on #70621
@tigerdeccan We are really sorry that you faced this behavior. Could you please provide more information on below points:

1. How did you check the public access was disabled, through any app connectivity, azure portal or any other way?
2. How long was this access disabled?

[2021-02-17 07:26] AnuragSharma-MSFT commented on #70318
@venkat1017 Apology for the delay and thanks for your patience. We are still in touch with PG and will get back as soon as possible.

[2021-02-17 07:38] ssivas commented on #70701
Hello @bobert13581 ,
Thanks for bringing this to our notice, we will investigate and update the thread.

[2021-02-17 07:40] AnuragSharma-MSFT commented on #70705
@AdrianZielonka Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-17 07:47] pvrk commented on #70625
@CharlesGroleau : I can't see the pic but I want to confirm whether you are trying this for SQL? Because other than SQL and VM, undo-deletion is not applicable for AFS and HANA

[2021-02-17 07:48] pvrk commented on #70625
We can correct the error text shown above to reflect the current status. So, please confirm if this is the root cause.

[2021-02-17 07:52] RohitMungi-MSFT commented on #70351
@rquintino Based on feedback from our team, the following could be classified as concept of “negative” sample

1.	Negative as a background
2.	Negative as an object but it belonged to a unknown class.

The current object detector should automatically support the first case since we are looking at the object within the bounded boxes.
In the second case the user can just group a bunch of images into

[2021-02-17 07:53] algattik opened #70708 "JsonPatchDocument: incorrect method names in code sample"
Methods `AppendAddOp` and `AppendRemoveOp` are actually called `AppendAdd` and `AppendRemove` in the Azure SDK.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e97b4d5-7efe-4f5f-0b83-c67de8c36d10
* Version Independent ID: d64704f7-0e1b-eb34-46e7-0bca3ab707fd
* Content: [Manage digital twins - Azure Digital Twins](https

[2021-02-17 07:58] AnuragSharma-MSFT commented on #70706
@donchai Thanks for reaching out to us. GitHub forum primarily focuses on queries related to document issues or any questions on the same.

For technical queries, we suggest you to raise them on[ Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum or [Stack Overflow](https://stackoverflow.com/questions/ask). Doing this on the forums allows us to help out other people

[2021-02-17 08:19] gautamksr opened #70709 "No Azure AD login option available while creating VM - windows 2019 Or windows 10"
[Enter feedback here]
Hi,

I have tried to figure out Azure AD login while creating the Azure VM image Windows 2019 Datacenter/Window 10 in West Europe region. But as per the documents there is no option available in management tab to choose Azure AD login options. I have tried the different region, but no luck. I also tried MSDN subscription and Pay As you go subscription but still there is no op

[2021-02-17 08:29] #70675 closed

[2021-02-17 08:30] SwathiDhanwada-MSFT commented on #70675
@scyto Thanks for the suggestion. I have made necessary changes to the document. It will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-17 08:30] piyush94 opened #70710 "is this still in preview?"
Is this feature still in preview as it doesn't say the same in Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fbac689-8196-0c77-2602-f1338ae5ed72
* Version Independent ID: 5550df82-07b6-8baa-af88-51e362308bb0
* Content: [Rewrite URL and query string with Azure Application Gateway - Azure portal](https://

[2021-02-17 08:41] GitaraniSharma-MSFT commented on #70580
@Donovand4 , thank you for bringing this to our notice. We have assigned this to the content owner/author for correction.

@vhorne , I've added you to the internal email with PG confirmation on this. Please review and update the doc accordingly.

[2021-02-17 08:44] karthick3d opened #70712 "A8 – A11 VMs getting decommissioned"
Hi,

Please let me know If the plan to decommission  A8 – A11 VMs is still happening by end of this month.

Regards
Karthick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 616242df-d3da-e9b3-73b0-fba7ae7a28a7
* Version Independent ID: 33587769-6f9d-af7c-3fc1-08676adc860b
* Content: [Azure VM sizes - previous generation

[2021-02-17 08:46] VikasPullagura-MSFT commented on #70712
@karthick3d
Thanks for your Question! We are currently checking your ask and will get back on this.

[2021-02-17 08:47] VikasPullagura-MSFT commented on #70712
@mimckitt
Can you please check and add your comments on this as applicable.

[2021-02-17 08:53] Vincent0818 opened #70713 "the movment of public IP across subscriptions"
the doc here isn't consistent, one of doc mentioned that could not downgraded while another doc mentioned is possible

![image](https://user-images.githubusercontent.com/38422984/108179377-83eb1780-7140-11eb-9f0e-40ddf4d192bb.png)
![image](https://user-images.githubusercontent.com/38422984/108179396-89486200-7140-11eb-8b0e-9413f0abf194.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do

[2021-02-17 08:54] peta opened #70714 "API Connector "HTTP + Swagger" - Improve example documentation for trigger?"
The example given for documenting the `HTTP + Swagger` Trigger should be replaced with something more meaningful, demonstrating a real use-case for this trigger type.

What is shown today, makes no sense from my point of view (pollinig the face detection service; and even worse, without providing any input) and would rather distract new/average users which might just be exploring available standar

[2021-02-17 08:58] Davilink opened #70715 "Enabled SSH for custom docker container misleading documentation"
In the **enable ssh** section, the documentation is missing some part that could be enhanced to better guide an user when enabling ssh, like

It misleading in a way that the file seem to be ready for use, but in fact the port number is invalid, because in the normal app service docker image some trick are used to replace the port number : a sed instruction replace the string "SSH_PORT" by the valu

[2021-02-17 09:00] gautamksr commented on #68046
I have not seen the options Azure AD login in management tab while creating Windows 2019 Datacenter VM. Any things i missed?
![image](https://user-images.githubusercontent.com/15964136/108180318-9e1afa80-712c-11eb-9066-c799d89adae4.png)

[2021-02-17 09:08] SubhashVasarapu-MSFT commented on #70713
@Vincent0818, Thanks for reaching out. We will investigate and update this thread.

[2021-02-17 09:08] Klaas- commented on #70341
That pr link does not work for me, commit should be https://github.com/MicrosoftDocs/azure-docs/commit/e5eff7186b8c5e1b36336b8cbac007dab500b78d

[2021-02-17 09:09] SubhashVasarapu-MSFT commented on #70710
@piyush94, Thanks for reaching out. We will investigate and update this thread.

[2021-02-17 09:15] donchai commented on #70706
Thanks @AnuragSharma-MSFT , separate Stack Overflow https://stackoverflow.com/questions/66238908/azure-sql-auditing-to-log-analytics-workspace-configuration-user-role-permission has been posted for help.

[2021-02-17 09:23] amanmcse commented on #70467
@idusortus Closing the issue now. Feel free to tag me in your reply if you have any question.

[2021-02-17 09:23] #70467 closed

[2021-02-17 09:34] carsv commented on #70654
Hi there.

You got my feedback, take it or leave it ;)

Besides that, percent means "_by a specified amount in or for every hundred._". Hence the only logical way to interpret the 0-1000 range will be [0;1000] div by 100 = [0:10] times the number set in amount. basically saying you can set an alarm when you've surpassed the budget by a factor of 10.

If this is intentional I think you should menti

[2021-02-17 09:38] jasonhorner opened #70717 "Add Azure Data Factory to the comparison for integration tools"
Azure Data Factory is conspicuously absent from this list. Azure Data Factory can do Integration but is typically used more for ELT / ETL scenarios but should be on this list for completeness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-358

[2021-02-17 09:41] yanivlavi commented on #33073
The FA rules were migrated to newer alerts.
They are still created in the new flow. No impact other than experience change to newer alerts.

[2021-02-17 09:41] yanivlavi commented on #33073
#close

[2021-02-17 09:42] #33073 closed

[2021-02-17 09:44] ssivas commented on #70709
@gautamksr ,

Thanks for reaching out.

This preview feature is supported in All Azure global regions, to use this preview feature, only deploy a supported Windows distribution (Windows Server 2019 Datacenter / Windows 10 1809 and later).

otherwise, you get below message when you select unsupported image for VM creation and this feature is currently not supported in Azure Government or sovereign

[2021-02-17 09:54] chengyu-liu-cs opened #70718 "Unable to get image details : Unable to resolve Container Registry: amlsacrdev123456.azurecr.io. If private link is enabled in wor."
[Enter feedback here]

I followed [this doc](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-network-security-overview) to setup a secure environment. But the issue I have is "Unable to get image details : Unable to resolve Container Registry: ACRXXXX.azurecr.io. If private link is enabled in wor." (details below)

The script was triggered in a VM deployed in the same vnet/subnet.

[2021-02-17 10:11] gautamksr commented on #70709
@ssivas - I have tried to create Windows Server 2019 Datacenter on portal . But no options available to choose Azure AD login in management tab.

[2021-02-17 10:16] Tom-Van-Asch opened #70719 "spring boot 2.4 zipkin not working"
Hello

As of spring boot 2.4 Ribbon has been removed and our spring boot applications aren't finding the zipkin servers anymore. Can the documentation be updated what needs to be configured to discover the zipkin server?

How it's done in spring boot 2.3.x:
https://cloud.spring.io/spring-cloud-sleuth/1.3.x/multi/multi__sending_spans_to_zipkin.html

Kind regards
Tom

---
#### Document Details

⚠ *D

[2021-02-17 10:34] aodugga opened #70720 "ATP is recommended for Production Environments"
Hi Team,

I recently had a case with my customer where they have enabled ATP on their Dev Environments as they want to protect every entry point into their organisation. Due to the nature of a development environment where code is being written and modified, they are seeing a large spike of potential SQL injection vulnerability alerts each time they protect a new database. These alerts come from e

[2021-02-17 10:38] souravmishra-msft opened #70721 "Update the following statement: Display controls are currently in **preview**."
Update the following statement: Display controls are currently in **preview**. as DisplayControls is no more in preview stage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fcae62a-0cfd-d310-df15-ad163eacac8b
* Version Independent ID: 3ec17196-68a3-eb33-d6f7-0d5f7cc55d91
* Content: [BuildingBlocks - Azure AD B2C](htt

[2021-02-17 10:54] tlogik commented on #70656
Hi @AlexandraKemperMS
Thank you for the fast response 👍

My process:
1. Create new App configuration instance
2. run export with the label set to "No Label" with dest. = new app config instance.
2. Run export for each of the labels available.
3. Observed that the destination had more keys than source

I just did it again from scratch and this time the keys were in sync - so perhabs a fluke.

One o

[2021-02-17 10:58] Asymvivastos commented on #70682
The best

[2021-02-17 10:59] Asymvivastos commented on #70682
Thanks

[2021-02-17 11:01] Asymvivastos opened #70722 "Windows docs"
![093913_windows-10-21h1.jpg](https://user-images.githubusercontent.com/78452451/108195186-be8c8a00-7117-11eb-8867-2eeaf1238be7.jpg)@JJ

_Originally posted by @Asymvivastos in https://github.com/MicrosoftDocs/azure-docs/issues/70682#issuecomment-780476525_

[2021-02-17 11:01] Asymvivastos opened #70723 "Windows update"

[2021-02-17 11:02] Asymvivastos commented on #70723
[]()![093913_windows-10-21h1.jpg](https://user-images.githubusercontent.com/78452451/108195393-fdbadb00-7117-11eb-8532-54a0ec3b6273.jpg)

[2021-02-17 11:03] jasonhorner opened #70724 "incorrect link title for transactions -> serverless pools"
it looks like the following page:
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-transaction-best-practices

is linked from the TOC Titled: Transactions -> Serverless Pool

while the content is correct for dedicated pool it is not relevant to serverless pool. please update the links and titles accordingly.

also the link for the dedicated pool article seems to resolve to the

[2021-02-17 11:03] Asymvivastos commented on #70723
- []()￼@Asymvivastos **_````

[code]

[2021-02-17 11:07] kmkelly2015 commented on #70168
Hi

Is there any news on this?
is it a future feature?

[2021-02-17 11:08] MayankBargali-MSFT commented on #70717
@jasonhorner Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-17 11:11] nelsondani opened #70725 "[_**3000**_]()"
[_**3000**_]()

_Publicación original de @nelsondani en https://github.com/BookStackApp/BookStack/pull/2561#discussion_r577525056_

[2021-02-17 11:17] SubhashVasarapu-MSFT commented on #70614
@matthiasguentert, Appreciate your patience. Referencing similar ask [#42222](https://github.com/MicrosoftDocs/azure-docs/issues/42222). We are working towards updating the document accordingly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-17 11:17] #70614 closed

[2021-02-17 11:18] SubhashVasarapu-MSFT commented on #42222
@allegradomel, Any update on the doc? Thanks in advance.

[2021-02-17 11:22] jasonhorner opened #70727 "Unsupported features in SSDT needs to be updated"
It looks like the unsupported features in SSDT section on this page may need some updates. For example I believe identity columns are now supported from within SSDT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 787b8c68-0836-9a76-47f3-12937e9034f3
* Version Independent ID: 4347cab2-83a2-f09b-c7a5-153d0fc54de3
* Conte

[2021-02-17 11:31] SubhashVasarapu-MSFT commented on #70710
@piyush94, Yes, rewriting host headers wasn’t a part of the original feature and now with URL rewrite preview, we have also released the capability to rewrite host header (which is also currently in public preview). The new document has the updated content, the old doc page will be retired once this is GA - [Rewrite HTTP headers and URL with Azure Application Gateway | Microsoft Docs](https://docs

[2021-02-17 11:35] ashi015 commented on #30477
sdfgdfg

[2021-02-17 11:40] ashi015 commented on #30477
I'm using custom policy of "SocialAndLocalAccountsWithMfa" from the starter kit.
and commented out all the references of facebook.
But facing the same issue when I upload the  policy

[2021-02-17 11:40] KalyanChanumolu-MSFT commented on #70704
@tsaru72 Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2021-02-17 11:46] SnehaAgrawal-MSFT commented on #70715
@Davilink Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 11:48] inspiralpatterns commented on #13515
This is quite a shame, how long will it take to implement a failure option when calling `exit`?

[2021-02-17 11:58] chengyu-liu-cs commented on #70718
Thanks. I've MS support and resolved it. What was missing in the documentation is "how to apply Azure Resource Manager template"

[2021-02-17 11:58] #70718 closed

[2021-02-17 12:02] Asymvivastos commented on #70718
Chrestospantelides95@gmail.com

[2021-02-17 12:03] BhargaviAnnadevara-MSFT commented on #70719
@Tom-Van-Asch Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-17 12:13] kalyanmit opened #70729 "When more than 1 web app sits behind the front door however, I was seeing the page not rendering correctly, giving different versions of the page. Also when the authentication and authorisation is enabled, the frontdoor URL is exposing or redirecting to the backend pool (webapps) URL. Also when the authentication and authorisation is enabled, the frontdoor URL is exposing or redirecting to the backend pool (webapps) URL."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
* Content: [Azure Front Door - Frequently Asked Questions](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq)
* Content Source: [articles

[2021-02-17 12:20] CharlesGroleau commented on #70625
Yes for SQL, Updated my comment. See above.

[2021-02-17 12:22] Asymvivastos commented on #70625
[MicrosoftDocs/azure-docs] Cannot be done using powershell. (#70625)

[2021-02-17 12:27] SwathiDhanwada-MSFT commented on #70690
@PeteHaigh-MSFT Thanks for your feedback. Assigning to content author @prmitiki for review.

[2021-02-17 12:31] pvrk commented on #70625
@CharlesGroleau: Can you please update your Az version to 5.3 and try? There was a bug in earlier versions which we fixed with 5.3

[2021-02-17 12:35] mathias-nickl opened #70730 "Session Window, last blue window in diagram should start with at event"
The Diagram of "Session Window" is not precise enough, left side of third blue window should start with dashed line, which points to the event instead to the timeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6-76146128e1ce
* Con

[2021-02-17 12:43] takekazuomi opened #70732 "What about flexibleServers/configurations ARM Template"
I was able to update the Server Configuration with the following ARM template. However, I get an error when deploying.
[code]

deploy it.
[code]

In portal.

before
![image](https://user-images.githubusercontent.com/73158/108204725-801ebb80-7167-11eb-9eca-1408ee70ff2f.png)
It looks like it was successful right after deploy.
![image](https://user-images.githubusercontent.com/73158/108205251-2074e00

[2021-02-17 13:12] Shivatej007 commented on #58976
Yes @Qythyx, I have tried with full decoration.

Just re iterating the issue i am facing:
When the Xamarin forms app goes to background in iOS, neither the overridden didReceiveRemoteNotification or the ReceiveRemoteNotification are called.

Thank you.

[2021-02-17 13:18] R1k91 opened #70735 "Frequency values in schema overview"
in the "schema overview" table
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger#schema-overview
possible values for frequency are: "minute," "hour," "day," "week," and "month."

JSON is case sensitive and the correct values are "Minute", "Hour", "Day" etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-02-17 13:23] Qythyx commented on #58976
@Shivatej007, hmm, then I'm not sure. Notifications are working reliably for me. Did they ever work for you?

A few other things I remember struggling with:
1. IIRC, you can only receive notifications from the `production` hub for production builds. So if you're doing a debug build then you need to test with the `developer` hub.
2. You can sometimes get more info by looking at the iPhone device co

[2021-02-17 13:33] shashishailaj commented on #70723
@Asymvivastos Thank you for your post . We have three similar issues for this one . Hence we will be closing this out as duplicate.

[2021-02-17 13:36] SQLtattoo opened #70736 "Wrong parameter in Configure diagnostics section"
The script that enables the diagnostics for the app gw it should read "-Category" instead of "-Categories"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff10b20b-761b-e07c-d9a5-07d5f62543e0
* Version Independent ID: eb001159-a25b-2cbe-7577-be5cb5647a89
* Content: [Restrict web traffic using PowerShell - Azure Web Appl

[2021-02-17 13:45] shashishailaj commented on #70722
@Asymvivastos Thank you for your post . I checked the other issues you have opened for the same thing I have closed the duplicates . We use this repo of azure-docs for improvements in azure Documentation . Could you please provide details of the azure documentation which you feel is linked to the WHCP windows release ? In case you are searching for documentation of windows or the windows docs repo

[2021-02-17 13:48] shashishailaj commented on #70723
@Asymvivastos  Thank you for your post . I checked the other issues you have opened for the same thing I have closed the duplicates . We use this repo of azure-docs for improvements in azure Documentation . Could you please provide details of the azure documentation which you feel is linked to the WHCP windows release ? In case you are searching for documentation of windows or the windows docs rep

[2021-02-17 13:48] #70723 closed

[2021-02-17 13:48] vipulsparsh commented on #70538
@Norrch2  There is some backend issue which does not allow the localization to act if Item key password is present in your base metadata.

Until that is fixed, you can try this workaround : remove the Key : grant_type = password like this :

![image](https://user-images.githubusercontent.com/63580915/108213028-996a3c80-7154-11eb-9006-5e3ec5a37211.png)

Once done, you can customize the message in t

[2021-02-17 13:49] idusortus commented on #70467
@amanmcse

Excellent! Thank you so much for the clarification. A user on a different forum suggested creating a Guest account and that was a little ambiguous for me since I created the two other account types for my tenant. Your solution was much more explicit and, after creating an account @my_b2c_tenant.onmicrosoft.com, I am able to use the Graph Explorer as I had hoped.  I really appreciate the

[2021-02-17 13:51] stevestein commented on #65933
@slave02 - thanks for the feedback. Gen5 is available in all public regions. The article has been updated.

-Thanks

[2021-02-17 13:51] stevestein commented on #65933
#please-close

[2021-02-17 13:51] #65933 closed

[2021-02-17 13:53] shashishailaj commented on #70725
@nelsondani Thank you for your post . I checked the other issues you have linked however it seems to be something unrelated to azure documentation. We use this repo of azure-docs for improvements in azure Documentation . Could you please provide details of the azure documentation which is related to your query. In case this issue was wrongly opened in this repository , we will close this in a day

[2021-02-17 13:54] Norrch2 commented on #70538
Thank you for the update. Do you believe this would be helpful to others if you posted this in the "Known Issues" documentation?

[2021-02-17 13:57] Asymvivastos commented on #70723
Good

[2021-02-17 14:16] vipulsparsh commented on #70538
@norrch2 This should resolve soon, we will check with content team to have it added.

[2021-02-17 14:17] SannaWilson opened #70737 "Please adding examples to the step 3: "Update your code to handle multiple issuer values""
The step 3: "Update your code to handle multiple issuer values" goes a bit deep in explaining the theoretical side of it all and I have a hard time turning it into practice. Some detailed examples on how to update my code could be very helpful. E.g. how to chance the code in a Blazor server side project with a single tenant to handle 2 issuers. That would be wonderful.

---
#### Document Details

[2021-02-17 14:20] sammybridge opened #70738 "Leads coming through blank"
Hello,

I have configured this but every time a new lead is sent through, it is coming through with only my labels and none of the populated information is coming through.

Is there anything I have missed?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2319bae2-e023-07fd-28e1-b0b10bf33a22
* Version Independent

[2021-02-17 14:25] vhorne commented on #70580
Updated
#please-close

[2021-02-17 14:25] #70580 closed

[2021-02-17 14:28] vhorne commented on #70580
Updated
#please-close

[2021-02-17 14:35] stevestein commented on #69363
@DedicatedPower - thanks for the feedback. The table in the article has been updated.

Thanks!

#please-close

[2021-02-17 14:35] #69363 closed

[2021-02-17 14:38] peoplesmeat commented on #70207
Yes, I think this clarifies the issue, thanks for tracking it down. I would still like to see the text of the documentation updated to better describe the group settings for a label in the documentation, but I believe I understand the issue now.

[2021-02-17 14:44] tamram commented on #70357
@assaf-grth - There's no feature currently built into object replication to do this. You may be able to use [Azure Event Grid](https://docs.microsoft.com/azure/event-grid/event-schema-blob-storage?tabs=event-grid-event-schema) to let you know when the destination blob is created.

I don't know that Azure Monitor will provide this detail - I don't see anything in the [logging and metrics reference]

[2021-02-17 14:46] assaf-grth commented on #70357
Thank you for the update

[2021-02-17 14:47] stevestein commented on #69135
@13daysaweek - thanks for the feedback.

@MaraSteiu - can you take a look at this one?

#assign:MaraSteiu

[2021-02-17 14:50] PramodValavala-MSFT commented on #70714
@peta Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-02-17 14:51] msandbu opened #70739 "TLS protocol support"
Can you update with content in regards to support for TLS 1.3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef38298-89c0-6c77-fb9d-7bf6bd5dc030
* Version Independent ID: 335d7b03-3e6f-61b6-fe19-19441c1b6b36
* Content: [Azure Firewall Premium Preview features](https://docs.microsoft.com/en-us/azure/firewall/premium-f

[2021-02-17 14:52] PramodValavala-MSFT commented on #70545
@boris-tarasov-maersk Just following up here... Hope my previous comment clears things up.

[2021-02-17 14:56] VitalyMCT commented on #70567
Yes, please ignore this one - my mistake.

[2021-02-17 14:58] tamram commented on #70295
#reassign: @NaraVen

[2021-02-17 14:59] robtucker168 commented on #38163
Hi, I cannot find this Authentication/ Authorization setting. How to I find the APP after following the registration instructions?

[2021-02-17 15:00] joeizy opened #70741 "Update verbiage about default Container Runtime to Containerd"
In the [Nodes and node pools](https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools) section it says "**In AKS, Moby is used as the container runtime**"

Moby is no longer the default runtime since `1.19` and I believe this documentation should be updated to reflect the new default. See [Container runtime configuration](https://docs.microsoft.com/en-us/azure/a

[2021-02-17 15:00] msandbu opened #70742 "IDS Signature IDs"
Can you provide a list of different signature ID's ?
Right now I only see a reference to 2008983 and has limited info on other signature ID's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c90a8f-8588-ec3d-c41a-5c613f20e30e
* Version Independent ID: 50171a12-bab1-8382-ccbe-7d437da7ba13
* Content: [Deploy and configu

[2021-02-17 15:05] joeizy commented on #70741
Closing. Duplicate of #68996

[2021-02-17 15:05] #70741 closed

[2021-02-17 15:27] abmis-mi commented on #70592
@SnehaAgrawal-MSFT Sure!

In most of the examples we see, the function methods are shown as static methods. Example:

![image](https://user-images.githubusercontent.com/66029786/108225809-4b5c3580-7162-11eb-8db3-e41f8a11d551.png)

But, when we use DI to inject dependency injections into azure function there is no way to get the dependent instances passed to the static constructor. [](https://docs.

[2021-02-17 15:40] vhorne commented on #69074
#please-close

[2021-02-17 15:40] #69074 closed

[2021-02-17 15:42] #70721 closed

[2021-02-17 15:45] haveyoumetcp opened #70744 "Parse is missing from this page."
The parse transformation is missing from this page.  It is in this section in the links on the left side of the page, but not on this specific page.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 272cc4cc-156e-69f6-e78b-c9bfa33f21b3
* Version Independent ID: 17b40412-cfd6-e3bc-6a81-40a5b30f3808
*

[2021-02-17 15:54] henriquebelotto commented on #70516
@JamesTran-MSFT
Hello James, I'm talking about these strings
https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids#sign-up-or-sign-in-page-elements

Sign-up or sign-in page elements

[2021-02-17 16:02] hora7ce opened #70747 "please include the min sdk version, where the operator can be used"
Currently, LIKE operator can be used in Data Explorer but it fails if you use it with 3.16 SDK. Assuming this one will be included with the next SKD release (eg: 3.17 that is currently in preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 531c6fcf-6cb8-f229-d15e-d26111b5ff85
* Version Independent ID: e77c5aa5-6201

[2021-02-17 16:06] asukumar22 commented on #70697
Thanks, Swathi!

[2021-02-17 16:07] VikasPullagura-MSFT commented on #68996
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-02-17 16:13] timsander1 commented on #70747
Hi @hora7ce , LIKE is supported in 3.16, the current version. It will be in 3.17 as well though. Could you share the error that you see?

[2021-02-17 16:15] baanders commented on #70549
Since fixes to handle this issue have been published and the conversation has slowed down, I'm going to proceed to close the issue at this point. Feel free to comment back in this thread if you have further comments or questions, and we can always reopen if needed.

Thank you!

#please-close

[2021-02-17 16:15] #70549 closed

[2021-02-17 16:17] RDukes425 opened #70750 "Customer Reports Page is Obsolete"
Hello Team,
As the last update on the page is 2017, a Government customer has reported that the information on this page appears obsolete and has been replaced by updated commands which could cost customers time and energy in setup/implementation.

**Verbatim**:
Apart from the issue, the URL https://docs.microsoft.com/en-us/azure/virtual-machines/windows/python is obsoleted. The VM operation metho

[2021-02-17 16:19] Asymvivastos commented on #68996
Microsoft docs/Azure Docs

[2021-02-17 16:19] VikasPullagura-MSFT commented on #70750
@RDukes425
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-02-17 16:19] VikasPullagura-MSFT commented on #70750
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-02-17 16:20] Asymvivastos opened #70751 "articles/aks/concepts-clusters-workloads.md"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e869d
* Content: [Concepts - Kubernetes basics for Azure Kubernetes Services (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workload

[2021-02-17 16:20] Asymvivastos opened #70752 "Chrestospantelides95@gmail.com"

[2021-02-17 16:22] Asymvivastos opened #70753 "https://github.com/MicrosoftDocs/azure-docs/pull/70749"

[2021-02-17 16:22] SaurabhSharma-MSFT commented on #70744
@haveyoumetcp Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 16:24] SaurabhSharma-MSFT commented on #70735
@R1k91 Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 16:25] alexandra142 commented on #69198
Exactly that's what I am using privately.

[2021-02-17 16:25] AshokPeddakotla-MSFT commented on #68401
@martgut We haven't identified these earlier and we would like to investigate further on your frequent disconnections issue.

Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Please s

[2021-02-17 16:25] SaurabhSharma-MSFT commented on #70727
@jasonhorner Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-02-17 16:32] Blackmist commented on #70649
@chengyu-liu-cs

Thanks again for helping improve the documentation. Here's the information I've gotten back from the development team:

The ability to enable a public endpoint for an otherwise secured workspace was added because some customers have Data Scientists that for whatever reason (policy, technical limitations), cannot access the VNet directly. In those scenarios, they enable the public

[2021-02-17 16:43] SamaraSoucy-MSFT commented on #70724
Thanks for the feedback! We will review and get back to you shortly.

[2021-02-17 16:44] yobyot opened #70754 "Please correct grammar"
Please correct the basic subject-verb agreement (English grammar 101) as shown in the following two sentences on this page:

"Backups of TLS enabled Azure Database for MySQL ***_are_*** not supported. If a backup is configured, you will get failed backups."

And...

"Backups of TLS enabled Azure Database for PostgreSQL ***_are_*** not supported. If a backup is configured, you will get failed backu

[2021-02-17 17:00] Duffney commented on #43613
Hi @abhall724,

The article mentioned in your issue has been retired. I'm closing the issue, but please let me know if you have any remaining questions.

Thank you,

[2021-02-17 17:02] Asymvivastos opened #70755 "Chris create"

[2021-02-17 17:03] JamesTran-MSFT commented on #70737
@SannaWilson
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-17 17:03] AlexGilliland opened #70756 "Pronunciations Formatting"
The Recognized/displayed form and spoken form table is helpful, but should also provide an example of what Speech Studio is looking for to be uploaded for pronunciations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b5a089e-3c35-9111-0498-2d17422d53e8
* Version Independent ID: cfa03813-8c78-3f5b-706a-e63278c0278a
*

[2021-02-17 17:09] Asymvivastos opened #70757 "Chrestospantelides95@gmail.com"

[2021-02-17 17:09] asudbring commented on #70713
Hi @Vincent0818
That article technically isn't a move, it's an export of the current configuration to an ARM template and then a reimport of that template. You can edit that template before you import it and change the SKU so that when it imports, it can be Basic or Standard.  You can't downgrade an existing public IP from Standard to Basic without deleting it and recreating it, which is the same

[2021-02-17 17:09] #70713 closed

[2021-02-17 17:20] dineshmurthy commented on #14182
I believe this should already be resolved. but assigning to Nara to confirm
#reassign: @NaraVen

[2021-02-17 17:21] SnehaAgrawal-MSFT commented on #70487
@Paul-A-Jones Thanks again for the feedback! Clarifications have been made to the bottom of this doc:  https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features
: that in group scenarios, one mixed audio stream is used to support all audio participants.

We will now close this issue. If there are further questions regarding this matter, please

[2021-02-17 17:21] #70487 closed

[2021-02-17 17:24] TomArcherMsft commented on #43613
#please-close

[2021-02-17 17:24] #43613 closed

[2021-02-17 17:27] dineshmurthy commented on #29137
#reassign: @NaraVen

[2021-02-17 17:34] alkohli commented on #68773
@Elephantei The functionality still exists and you should be able to search for Import/Export jobs in the portal. We have updated the docs to reflect the same via this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/147141
This PR will be shortly merged and changes will go live in the next day or so. Thanks for your feedback!

[2021-02-17 17:35] alkohli commented on #68773
#please-close

[2021-02-17 17:35] #68773 closed

[2021-02-17 17:36] nibaccam commented on #70668
@meyetman can you assist here?

[2021-02-17 17:39] ggailey777 commented on #70650
@sijucm sorry for the trouble you've had using our documentation for Azure Functions. Since the link you provided was a bit odd, can I get you to confirm that this is the article that you found unhelpful: [Azure Blob storage input binding for Azure Functions - Example](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=javascript#example)?

Assuming s

[2021-02-17 17:43] inputoutputcode commented on #61577
#please-close

[2021-02-17 17:43] #61577 closed

[2021-02-17 17:46] sebansal commented on #69280
Updated the doc
#please-close

[2021-02-17 17:46] #69280 closed

[2021-02-17 17:48] nibaccam commented on #70529
@MayMSFT can you provide guidance here?

[2021-02-17 17:50] JamesTran-MSFT commented on #70708
@algattik
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 17:51] SatishBoddu-MSFT commented on #70708
Hello @algattik thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-02-17 17:52] nibaccam commented on #70465
@rquintino Thank you for reporting this issue.  The engineering team is working on a fix and the documentation will be updated accordingly (likely in the next SDK release on 2/23).

We will now proceed to close this thread. #please-close

[2021-02-17 17:52] JamesTran-MSFT commented on #70720
@aodugga
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 17:52] #70465 closed

[2021-02-17 17:57] JamesTran-MSFT commented on #70751
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-17 17:58] mattallscripts opened #70759 "OBO works for Azure AD B2C users accessing Azure AD applications"
While hindsight is 20/20, it was not initially clear from this documentation that On-behalf-of (OBO) aka Web API Chaining **does** work for tokens issued for users in Azure AD B2C tenants. We did a proof-of-concept and performed an OBO workflow for a multi-tenant application stack registered in standard Azure AD, and then logged into the application with a user from an Azure AD B2C tenant, and the

[2021-02-17 17:59] JamesTran-MSFT commented on #70752
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-17 18:00] daveberm opened #70760 "SOFS support for cross availability zone"
Early in this document you call out the fact that S2D is not support for deployment across availability zones. However, later in the document you have this note.

 _Important

In the Azure cloud, each cluster that is used for SAP and scale-out file shares must be deployed in its own Azure availability set **or across Azure Availability Zones**. This ensures distributed placement of the cluster VMs

[2021-02-17 18:02] JamesTran-MSFT commented on #70753
@Asymvivastos
Thank you for your post!

Since this PR is currently pending and waiting for the author to review and sign off. I will now close out this issue.

Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-17 18:02] #70753 closed

[2021-02-17 18:03] JamesTran-MSFT commented on #70755
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-17 18:03] JamesTran-MSFT commented on #70757
@Asymvivastos
Thank you for your post!

Would you be able to share additional info regarding your question/ask when it comes to our documentation or this product? So I can gain a better understanding of your issue.

[2021-02-17 18:10] AjayKumar-MSFT commented on #70570
@jp-kpmg-ppurnyn, Apologies for the delay! Thanks again for your feedback.
 Your feedback has been shared with the content owner (@cephalin) for further review.

![image](https://user-images.githubusercontent.com/44606227/108247721-08598c80-7179-11eb-9add-8deabd011d78.png)

See this for more details- [Public Preview of the new Deployment Center](https://azure.github.io/AppService/2020/09/23/deploy

[2021-02-17 18:10] JamesTran-MSFT commented on #70207
@peoplesmeat
Thank you for the follow up and I'm glad that we were able to help you better understand the topic.

I've assigned this issue to the author who will investigate and update the documentation as appropriate.
Thank you again for your time and patience throughout this!

[2021-02-17 18:11] JamesTran-MSFT commented on #70664
@MarkIannucci
Thank you for your post!

I've reached out to our engineering team regarding this question and will update as soon as possible.

[2021-02-17 18:14] baanders commented on #70708
Thank you @algattik, I have updated the method names in [digital twins code sample PR #10](https://github.com/Azure-Samples/digital-twins-docs-code/pull/10).

Since the fix has been merged, I'll now close this issue.
#please-close

[2021-02-17 18:14] #70708 closed

[2021-02-17 18:17] MarkFreemanBDO opened #70761 "Query Store vs. read-only replicas"
Adding documentation about this topic to this page would be helpful. For example, if a query is executed using ApplicationIntent=ReadOnly in the Query string, does it get recorded in the Query Store for the primary read-write database? Is there any way to tell which queries are hitting the read-write database vs. the primary read-only replica or a geo-replicated secondary read-only replicas by loo

[2021-02-17 18:17] vhorne commented on #67940
@RonnieQuan
The SKU is made up of two parts, the architecture name  and the tier:
{Sku: {Name: VHUB/VNET, Tier: Standard/Premium}}

So the "Name" is the architecture. For more information about architecture options for Azure Firewall, see https://docs.microsoft.com/azure/firewall-manager/vhubs-and-vnets

[2021-02-17 18:18] vhorne commented on #67940
#please-close

[2021-02-17 18:18] #67940 closed

[2021-02-17 18:27] jeevansd commented on #70701
@chetansriv  and @v-hagamp can you please update this article for the Reply URL change?

[2021-02-17 18:30] #70701 closed

[2021-02-17 18:31] amsuprith commented on #70562
Thank you very much, that is what I conclude.

[2021-02-17 18:31] #70562 closed

[2021-02-17 18:32] baanders commented on #70671
Hello, I've begun discussing with the product team to draft some additional information on this. I'll continue to update status on this thread.

[2021-02-17 18:33] KranthiPakala-MSFT commented on #70730
@mathias-nickl
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-17 18:42] XavM opened #70763 "[cognitive speech-service Long Audio API] Is it possible to retrieve words boundaries with this API ?"
Is it possible to retrieve [words boundaries](https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/speechsynthesizer?view=azure-node-latest#wordBoundary) with the "Long Audio API" like we can do with the "cognitive-services-speech-sdk-js" text-to-speech ?

If it is not possible with the "Long Audio API", is it possible with the ["batch transcription service"](http

[2021-02-17 18:42] RyanHill-MSFT commented on #70212
@McClunatic can you reach out to me on AzCommunity[at]microsoft[dot]com ATTN: Ryan so I can work more closely with you regarding this matter. Please include your subscription id in your email.

[2021-02-17 18:43] KranthiPakala-MSFT commented on #70704
@tsaru72
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://do

[2021-02-17 18:49] KranthiPakala-MSFT commented on #70680
@anurag-oss
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-02-17 18:49] #70680 closed

[2021-02-17 18:50] KranthiPakala-MSFT commented on #70687
Hi @crbenge,
Hope the above info helps. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-02-17 18:50] #70687 closed

[2021-02-17 18:53] mike-urnun-msft commented on #70585
Hi @jkelso662 - The error usually occurs when the creation process for your Azure Functions runtime hits an issue. I recommend revising the previous step, **Create and configure a function app on Azure with the image**, and ensure that all of the commands are run successfully and the ensuing resources are created in a healthy state.

[2021-02-17 18:59] nibaccam commented on #70529
@rbavery thank you for pointing this out. [The sample notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/scriptrun-with-data-input-output/how-to-use-scriptrun.ipynb) that @RohitMungi-MSFT provided in his comment demonstrates that OutputFileDatasetConfig can be used with ScriptRunConfig.

I've created an internal task item for

[2021-02-17 18:59] #70529 closed

[2021-02-17 19:00] #70518 closed

[2021-02-17 19:01] KranthiPakala-MSFT commented on #70518
@hurtn
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update.

Thank you

[2021-02-17 19:04] GiftA-MSFT commented on #70763
@XavM we'll review your feedback and get back to you shortly, thanks.

[2021-02-17 19:07] tamram commented on #70508
@rsalehicloud - Just to follow up on what @DerekHerman-MSFT said. You can revoke a service SAS token if you have a stored access policy.

However, if your SAS is a user delegation SAS (meaning that it is signed with Azure AD credentials), you have additional options for revoking that type of SAS (but stored access policies are not supported). See here:

https://docs.microsoft.com/rest/api/storages

[2021-02-17 19:17] memildin commented on #70630
Hi @mpchen. Thanks for the questions.

I think the assessments you're describing are the type that are implemented 'under-the-hood' and simply return the result to policy without a truly transparent way to view their logic from the policy. We're looking at ways to document such recommendations and their logic, but today that information isn't available to share.

You _can_ onboard a "custom assess

[2021-02-17 19:17] #70630 closed

[2021-02-17 19:19] JamesTran-MSFT commented on #70759
@mattallscripts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-17 19:20] JamesTran-MSFT commented on #70682
@Asymvivastos
Since we haven't received additional details from your end and this issue requires more info, I'll go ahead and close this out. If you require additional support or would like to enhance our docs, please feel free to create a new GitHub issue.

Thank you for your time and patience throughout this!

[2021-02-17 19:20] #70682 closed

[2021-02-17 19:36] hpsin commented on #68619
Per the OAuth spec, which is not contradicted by OIDC to my reading -

[code]
The token response is correct - the access token you received _is not valid_ for the userinfo endpoint, therefore it is not authorized for the openid scope.  I don't interpret or find anything in the [conformance profiles](https://openid.net/wordpress-content/uploads/2018/06/OpenID-Connect-Conformance-Profiles.pdf) (PDF)

[2021-02-17 19:39] JamesTran-MSFT commented on #70516
@henriquebelotto
Thank you for the quick response, I apologize for completely missing this link within your original post! I've reached out to our engineering team regarding this and will update as soon as possible.

Thank you for your time and patience throughout this.

[2021-02-17 19:43] Asymvivastos opened #70765 "Chris create"

[2021-02-17 19:43] Asymvivastos opened #70766 "Chrestospantelides95@gmail.com"

[2021-02-17 19:46] BryanTrach-MSFT commented on #70754
@yobyot Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-17 19:53] Antoine-Cate opened #70767 "Machine Learning Labeling Documentation"
Additional information on how to add data to a data labeling project would be useful.
I have added data (images) to the dataset used for a labeling project by re-uploading the data. The dataset is correctly updated.
Incremental refresh is enabled in the labeling project.
In input dataset, it indicates my dataset version has been updated.
However, the new images are not available for labeling.
More

[2021-02-17 19:56] MicrosoftGuyJFlo commented on #70709
Just checked the portal and the option is there and working using Windows Server 2019 Datacenter from the dropdown list under Windows Server. If it doesnt work in your subscription I would open a support case.

![image](https://user-images.githubusercontent.com/25777989/108260201-e5968c00-7116-11eb-82b2-8094db47825e.png)

[2021-02-17 19:57] RyanHill-MSFT commented on #55061
Apologies for the delay in getting this address; the link has been updated to [Troubleshoot Diagnostic Logs](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs)

[2021-02-17 19:57] #55061 closed

[2021-02-17 20:23] qinxgit opened #70768 "<hsm-name>.vault.azure.net:443 should be <hsm-name>.managedhsm.azure.net:443"
In the resource endpoints section:

\<hsm-name\>.vault.azure.net:443 should be \<hsm-name\>.**managedhsm**.azure.net:443.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c559aef-2669-2620-5dca-6ea162243b84
* Version Independent ID: f26fd553-6bc5-81ed-c36a-387ed26a020a
* Content: [Azure Managed HSM access control](https

[2021-02-17 20:31] emuench commented on #63923
Thanks again for providing this information. We have created an internal issue to further investigate and track this issue.

[2021-02-17 20:31] #63923 closed

[2021-02-17 20:36] Jakub-Urban opened #70769 "Prerequisites"
Hi, the "Prerequisites" chapter is not complete, there is one more prerequisite mentioned below in the chapter "Device registration". Merge the information and make the prerequisites in one place.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Indepen

[2021-02-17 20:41] amitbapat commented on #70768
Thanks for reported. Submitted PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/147356

[2021-02-17 20:45] ecfan commented on #70562
I created a work item to add this best practice to the docs.

[2021-02-17 21:05] Asymvivastos opened #70770 "Chrestospantelides95@gmail.com"

[2021-02-17 21:06] Asymvivastos opened #70771 "Chrestospantelides95@gmail.com"

[2021-02-17 21:06] Asymvivastos commented on #70771
I'm very happy

[2021-02-17 21:09] Asymvivastos opened #70772 "Chrestospantelides95@gmail.com"

[2021-02-17 21:09] #70772 closed

[2021-02-17 21:12] Asymvivastos commented on #70772
Edit

[2021-02-17 21:15] DrEnnui opened #70774 "Are instructions outdated, or is there something else?"
Following the instructions here, I find that I cannot choose to perform an online migration from SQL Server to AzSql DB.  I am only presented with the "data migration" and "schema only migration" actions.  After performing a data migration (as the schema was created using DMA), I am not presented with an option to "start cutover".  According to Microsoft documentation, support for online migration

[2021-02-17 21:20] rugglcon opened #70775 "Further explanation of Azure AD OIDC provider results"
[Enter feedback here]
On this page, at the end it just says to "Click 'Run user flow'". However, the page never specifies what is supposed to happen after you do that.

In my specific case, it takes me to the sign in page for my B2C flow, I click the AD federate button, sign in with my domain, and then it redirects me back to a B2C sign up page. Is this the intended flow? If not, can the intended

[2021-02-17 21:32] vikancha-MSFT commented on #70685
Fixed in commit 3a16411. It will be live by tomorrow.

[2021-02-17 21:43] pochiraju commented on #70774
yes, the document is out of date a bit, we are actively working on updating the docs.

In our continued effort to provide you with the best migration experience, we replaced SQL Server to Azure SQL DB online migration with robust and reliable offline (aka onetime) migration. With this method you may incur migration downtime during the database migration.
The DMS service provide estimated downtimes

[2021-02-17 21:59] JamesTran-MSFT commented on #70504
@scale-tone
Thank you for the quick and detailed response!

I've created a PR to remove the "for testing purposes only" remark and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-17 21:59] #70504 closed

[2021-02-17 22:09] JamesTran-MSFT commented on #70678
@mpchen
Thank you for your time and patience!

When it comes to creating custom assessments within Azure Security Center, I was able to find some documentation on this and will post it below.

[Azure Security Center adds support for custom security assessments](https://azure.microsoft.com/en-us/blog/azure-security-center-adds-support-for-custom-security-assessments/)
[Using custom security policie

[2021-02-17 22:11] JamesTran-MSFT commented on #70729
@kalyanmit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 22:12] JamesTran-MSFT commented on #70732
@takekazuomi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 22:12] JamesTran-MSFT commented on #70736
@SQLtattoo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 22:13] JamesTran-MSFT commented on #70738
@sammybridge
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-17 22:16] tfitzmac commented on #70517
@crixo - thanks for this feedback. This article maps Azure services to resource provider namespaces. The items you mentioned are resource types within the Virtual Network service. Usually you can tell which service it belongs to because the types are covered in the documentation for that service. Unfortunately, there are too many resource types to include all of them in the list.

I will take a lo

[2021-02-17 22:16] #70517 closed

[2021-02-17 22:16] JamesTran-MSFT commented on #70768
@qinxgit
Thank you for pointing this out!

Since @amitbapat created a PR to update the documentation, I'll go ahead and close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let us know.

Thank you for your time and patience!

[2021-02-17 22:16] #70768 closed

[2021-02-17 22:17] JamesTran-MSFT commented on #70769
@Jakub-Urban
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-17 22:18] JamesTran-MSFT commented on #70775
@rugglcon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-17 22:19] DrEnnui commented on #70774
So for purposes of the DB-300 exam, which I will be taking soon, does DBMS support online migration from SQL Server to AzSQL DB?

[2021-02-17 22:20] JamesTran-MSFT commented on #70765
@Asymvivastos
Thank you for your post!

Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/70755, I'll go ahead and close this one out.

[2021-02-17 22:20] #70765 closed

[2021-02-17 22:22] JamesTran-MSFT commented on #70766
@Asymvivastos
Thank you for your post!

Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/70752, I'll go ahead and close this out.

[2021-02-17 22:22] #70766 closed

[2021-02-17 22:22] JamesTran-MSFT commented on #70770
@Asymvivastos
Thank you for your post!

Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/70752, I'll go ahead and close this out.