[2019-02-22 21:40] Karishma-Tiwari-MSFT commented on #25564
Thanks for the feedback! I will try to reproduce your issue and share the update.

[2019-02-22 21:50] cynthn commented on #24936
@MicahMcKittrick-MSFT and @rich-davies I got everything to work successfully and updated the doc. Hopefully it will publish today at around 3:00 PST. Thank you!

[2019-02-22 21:54] ththiem opened #25567 "How to configure for service remoting for internal services only?"
This document is making the assumption that a stateless service would enable remoting with an http kestrel service included, but this is not true of remoting in general and conflicts with the actual documentation for enabling remoting. There is no configure services in a true remoting service, where the entire create service instance listeners function is but a single line declaration:

[code]

As

[2019-02-22 21:56] ld0614 commented on #25261
@SaurabhSharma-MSFT please reopen as I don't believe that your advice above is either authoritative or clear.  What I am trying to understand is if there are 2 tenants, 1 with users with Azure AD P2 licenses and they are made guest users in tenant 2 which does not have any licenses, will I need to purchase additional licenses and if so how many?

[2019-02-22 22:07] MartinJaffer-MSFT opened #25568 "This document does not explain what to do with exported templates."
In the Data Factory there is an option to Export or Import Arm Template.  The result of an export is a zip file.  The import option redirects to a generic Azure Resource page.  This article does not explain how to use the exported zip file.

Related to  Stack Overflow:
https://stackoverflow.com/questions/54445138/how-to-import-an-existing-data-factory-arm-template
---
#### Document Details

⚠ *Do

[2019-02-22 22:10] #25321 closed

[2019-02-22 22:11] davegreen commented on #10957
@Wicaeed Unfortunately not. I ended up writing my own end to end sync solution since I also needed to support fields that the MS tool doesn't manage or support (thumbnail photo and some custom data).

At the time the MS solution was very unstable so it made sense from an organisational standpoint, however things are apparently better now.

I had some ideas on what the right values would be that I

[2019-02-22 22:16] Karishma-Tiwari-MSFT commented on #25442
@sybrenstuvel Here is the [Handling Preemption document](https://docs.microsoft.com/en-us/azure/batch/batch-low-pri-vms#handling-preemption) where you can find more information on the Preempt status for low-priority VMs with Batch.

[2019-02-22 22:18] BharathNimmala-MSFT commented on #25340
@imeya The possible scenario you might be experiencing the above issue is that your application have already connected to the Application Insights instance and the data will cease to show up under Debug session telemetry and you are needing to specify the Application Insights Instance to see the data.

You can give it a try with a sample Web App and using the option  "search debug session telemetr

[2019-02-22 22:18] Karishma-Tiwari-MSFT commented on #24980
@rwwinn1 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-22 22:18] #24980 closed

[2019-02-22 22:19] #25340 closed

[2019-02-22 22:23] mgeoffriau opened #25569 "Not accurate or complete"
This guide is neither accurate nor complete. Bomgar (now BeyondTrust) offers a detailed Azure/SAML integration guide in their customer portal that works - use that instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6503f86-e458-5662-f0ab-4ca8747726d3
* Version Independent ID: fc25025e-2da7-c708-d1c2-e32cbee3ccf9

[2019-02-22 22:24] sbrian26 commented on #25281
I've confirmed this works, the 1st go around I had neglected to add the microsoft.azure.webjobs.extensions.storage dependency.

[2019-02-22 22:27] TravisCragg-MSFT commented on #25275
@Kenneth-Abrams I have confirmation that web apps will not be impacted by this change, and our docs will be updated as well.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:27] #25275 closed

[2019-02-22 22:30] TravisCragg-MSFT commented on #25039
@RogerDawson I have received additional confirmation that Web Apps will not be affected, and this doc will be updated to state this as well.

[2019-02-22 22:33] ththiem commented on #25567
I found [this example](https://github.com/yantang-msft/service-fabric-application-insights-example/blob/master/StatelessBackend/StatelessBackend.cs#L35) in another thread by another user. If this is how it would be instrumented, it would be helpful to include that in this documentation.

[2019-02-22 22:41] vikramdadwal commented on #25285
@aljo-microsoft : Thanks for the explanation but that is a lot of azure networking jargon ;) I was looking for a simple solution which is easy to understand by an **Application developer**. A sample would be great.

My guess is, this will eventually be available in GA and yes I agree MSI will ease lots of azure access related use cases here. Thanks.

[2019-02-22 22:42] SaurabhSharma-MSFT commented on #25440
@sarahzerry Can you please check if the vault does not have `enabledForTemplateDeployment` set to `true`.
You can set under **Access Policies -> Click to show advanced access policies** as shown below:

![image](https://user-images.githubusercontent.com/3963438/40120617-ee15a864-591f-11e8-9354-d1fd51cfaa7d.png)
Also,  if can you please try to run the cmdlet by adding `$DebugPreference="Continue"`

[2019-02-22 22:44] BryanTrach-MSFT commented on #11687
@girgen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:44] #11687 closed

[2019-02-22 22:44] BryanTrach-MSFT commented on #14667
@chrish619 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:44] #14667 closed

[2019-02-22 22:45] BryanTrach-MSFT commented on #16418
@AndrewGJennings We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:45] #16418 closed

[2019-02-22 22:46] bospoort opened #25571 "consistency"
The first part of the tutorial uses the Hello Blockchain example. The second part uses Asset Transfer. It would be great if both would use the same. Free doppio for who can make that happen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f1af5ea-7f46-788c-3275-ccf1d7321de8
* Version Independent ID: fcbef541-15b3-936a-

[2019-02-22 22:46] BryanTrach-MSFT commented on #19814
@Roblarson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:46] #19814 closed

[2019-02-22 22:47] BryanTrach-MSFT commented on #19941
@s-fordham We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:47] #19941 closed

[2019-02-22 22:47] BryanTrach-MSFT commented on #20008
@jontreynes Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 22:47] #20008 closed

[2019-02-22 22:49] BryanTrach-MSFT commented on #21416
@kalyanimath We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:49] #21416 closed

[2019-02-22 22:49] YutongTie-MSFT commented on #25163
@DeMoriarty It should be, I just tested it and it worked for me well. I will close it and please tell me if you have more challenge. Thank you,

[2019-02-22 22:49] #25163 closed

[2019-02-22 22:50] BryanTrach-MSFT commented on #24138
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:50] #24138 closed

[2019-02-22 22:51] YutongTie-MSFT commented on #25219
@nishankgu Hi Nishank, could you help us to verify this issue and update the document with detailed limit? Thanks a lot.

[2019-02-22 22:52] SaurabhSharma-MSFT commented on #25444
@mganeshphani How many users are in your tenant as far as I know there's a limitation on how much Power BI can cache (not sure about the numbers).  Also, as suggested in the documentation can you open a support ticket using [File a Support ticket](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-troubleshooting-support-howto).

[2019-02-22 22:52] BryanTrach-MSFT commented on #24208
@pmgriffin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:52] #24208 closed

[2019-02-22 22:52] BryanTrach-MSFT commented on #24583
@inesk-vt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:52] #24583 closed

[2019-02-22 22:52] BryanTrach-MSFT commented on #24848
@AndyCW We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:52] #24848 closed

[2019-02-22 22:53] BryanTrach-MSFT commented on #25129
@vd3d We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:53] #25129 closed

[2019-02-22 22:53] BryanTrach-MSFT commented on #25294
@Gariantroll We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:53] #25294 closed

[2019-02-22 22:53] BryanTrach-MSFT commented on #25437
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:53] #25437 closed

[2019-02-22 22:54] BryanTrach-MSFT commented on #25450
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:54] #25450 closed

[2019-02-22 22:54] BryanTrach-MSFT commented on #25464
@paulhickman-a365 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:54] #25464 closed

[2019-02-22 22:54] BryanTrach-MSFT commented on #9057
@jonfinerty We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-22 22:54] #9057 closed

[2019-02-22 22:55] Karishma-Tiwari-MSFT commented on #25239
I tried to reproduce your issue by following the tutorial step by step and the cluster was successfully created. I am using the latest Azure-CLI version 2.0.58
What version of Azure-CLI are you using? If you are using older version, please update the Azure-CLI and try again. Let me know the results.

[2019-02-22 22:58] Mike-Ubezzi-MSFT commented on #25561
@michaeldevenney Thank you for bringing this to our attention. Does this condition occur in the current project only, or does this also occur with new projects that you create, maybe as a test? If you haven't already, try creating a new project and continuing the tutorial. If that does not resolve the issue try to ensure the Nuget package install updates all aspects of the environment:

 - Uninsta

[2019-02-22 22:59] TravisCragg-MSFT commented on #25555
@vhorne can you make this change? I am unable to get a successful build .

[2019-02-22 23:00] ggailey777 commented on #25281
@sbrian26 our docs are not good for this basic scenario. I've opened an internal work item ([1459118](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1459118)) to address this issue. Thanks for pointing out this content gap!

[2019-02-22 23:08] MicahMcKittrick-MSFT commented on #25567
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-22 23:09] MicahMcKittrick-MSFT commented on #25404
@lovelangy we have updated this doc to reflect why you need to have docker running. It should update tomorrow sometime :)

[2019-02-22 23:09] #25404 closed

[2019-02-22 23:10] Mike-Ubezzi-MSFT commented on #25559
@ndondapati Thank you for the detailed inquiry. These changes are being made directly outside your deployed database + sql server instance in how remote resources connect, and is not something that is currently exposed via the Azure Portal. PowerShell and Azure CLI are two options, and both can be launched from the Cloud Shell icon found in the Azure Portal.

[2019-02-22 23:13] ggailey777 commented on #25434
@jeffhollan do you know what task(s) must be added to a Node.js pipeline to get binding extensions installed?

[2019-02-22 23:13] MicahMcKittrick-MSFT commented on #25567
@dkkapur @srrengar could you comment further on this ask?

[2019-02-22 23:24] ththiem commented on #25567
In trying the example I posted previously, it is not working for me and instead is crashing my service with an external

System.ExecutionEngineException
HResult=0x80131506
Message=Exception of type 'System.ExecutionEngineException' was thrown.

So any guidance would be helpful.

[2019-02-22 23:25] SaurabhSharma-MSFT commented on #25445
@iam4567
- No, there is currently no API available for one time pass-code authentication for B2B users.
- This feature is currently in preview and once it is live it will be turned on by default for all tenants.
- I do not believe inviting users with one time pass-code authentication feature is available through PowerShell.
Also, for any product feedback please post this to [Azure AD UserVoice](ht

[2019-02-22 23:27] TravisCragg-MSFT commented on #25547
@sumptersmartt If you are only accessing the backend servers via the app gateway, it will be easier to use a self-signed certificate and add it to both the app gateway and the backend servers.

For your questions:
a. If you would like us to support UDRs on the V2 SKU in the future, please [Leave your Feedback Here](https://feedback.azure.com/forums/217313-networking?).
b. I believe it will use tha

[2019-02-22 23:30] kgremban commented on #25231
@JihongL I just reran the tutorial and was able to successfully get the machine learning module running on an Ubuntu 1804 virtual machine in Azure. There were a couple of tricky spots, though. I'm working on improving the article now to make it easier to follow, specifically the Machine Learning workspace parts. That may take a few days to update the article, though.

In the meantime, though, did

[2019-02-22 23:35] TravisCragg-MSFT commented on #21863
@arkein on the V1 SKU it applies to both frontend and backend communication, so communication from the app gateway to the backend will use the custom SSL policy during the SSL handshake.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-22 23:42] SaurabhSharma-MSFT commented on #25468
@smakarsky Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@jegeib Can you please help here.  Also, is this date reflects the document last updated date and is it automated ?

[2019-02-22 23:44] TylerMSFT commented on #24353
I updated the warning msg. in the doc.
#please close

[2019-02-22 23:44] TylerMSFT commented on #24353
#please-close

[2019-02-22 23:45] TravisCragg-MSFT commented on #25223
@john-louden the P2S sends the request to the RADIUS server, and the RADIUS server can approve or deny. It will depend upon the settings & configuration of the RADIUS server.

You will need to check with the administrator of the particular RADIUS server.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2019-02-22 23:45] #25223 closed

[2019-02-22 23:46] #24353 closed

[2019-02-22 23:46] bryanklewis commented on #25007
@JasonWHowell Yes, the EventData.Properties bag was the enabler. Adding the keys "Table", "Format", "IngestionMappingReference" with the appropriate values routed the events correctly from Event Hubs to Azure Data Explorer.

Example sending events from .net core in json format

- I added 2 tables to ADX, log1 and log2 with a json mapping and schema of {timestamp, message}. This aligns to the send

[2019-02-22 23:50] xenalite commented on #18737
@TravisCragg-MSFT I have an update to this.
The documentation is correct for V2 App Gateway, as this (unprecendented) behaviour was added to App Gateway V2 deployment:
[code]

I suppose the issue can be closed as the documentation is correct.
However, can you advise on what is the best place to leave product behaviour feedback, as I believe it is wrong. Microsoft should always recommend the most s

[2019-02-22 23:50] ththiem commented on #25567
Please disregard my previous comment about my service crashing, I found the issue that was causing it and it is unrelated.

[2019-02-22 23:53] bryanklewis commented on #25007
Schema:
[{"column":"timestamp","path":"$.timestamp","datatype":null,"transform":0},{"column":"message","path":"$.message","datatype":null,"transform":0}]

Result:
![sample](https://user-images.githubusercontent.com/8498888/53277682-5ccced00-36c2-11e9-8256-8dae72ac2b58.jpg)

[2019-02-22 23:53] gtidman opened #25572 "Content Update Requested"
I am a Senior Manager with Support Services at CSC Corptax. I would like to request a couple of updates to this article. https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/corptax-tutorial

The official spelling of Corptax is Corptax not CorpTax. Please correct.

The link to work with the Corptax Support Team should not direct to an email as that person may not always be with Corpta

[2019-02-23 00:09] TravisCragg-MSFT commented on #25236
@Werner-MOC I am also showing that this is a valid parameter

![image](https://user-images.githubusercontent.com/38542241/53277819-dfea4500-36ba-11e9-9989-862c0b0e6d73.png)

PS C:\Windows\system32> $PSVersionTable.PSVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      14393  2636

PS C:\Windows\system32>  [environment]::OSVersion

Platform ServicePack Version      Ver

[2019-02-23 00:14] JasonWHowell commented on #25007
@bryanklewis 🥇 nice work.
Thanks for sharing your example to pay it forward to others.
CC @orspod we'll need to capture this request and make a doc soon.
Thanks, Jason

#please-close

[2019-02-23 00:14] TravisCragg-MSFT commented on #24221
@jjindrich was your VNET empty when you linked it as a Registration VNET? This is [a current limitation for Private Zones](https://docs.microsoft.com/en-us/azure/dns/dns-faq#are-there-any-limitations-for-private-zones-during-this-preview).

[2019-02-23 00:15] aashishb commented on #24800
As mentioned in the post above scoring_timeout_ms parameter under [AksWebservice.deploy_configuration()](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.aks.akswebservice?view=azure-ml-py#deploy-configuration-autoscale-enabled-none--autoscale-min-replicas-none--autoscale-max-replicas-none--autoscale-refresh-seconds-none--autoscale-target-utilization-none--collect-m

[2019-02-23 00:20] rootik commented on #24687
Hey folks. How are we supposed to use an array of user defined managed identities in `userAssignedIdentities` object?

[2019-02-23 00:20] TravisCragg-MSFT commented on #25533
@squasta If you would like us to add this in the future, please leave your feedback at [feedback.azure.com](feedback.azure.com). I see that you have [already created feedback for this request](https://feedback.azure.com/forums/217313-networking/suggestions/36925207-add-additional-authorized-ca-for-custom-certificat).

We will now proceed to close this thread. If there are further questions regardi

[2019-02-23 00:20] #25533 closed

[2019-02-23 00:22] TravisCragg-MSFT commented on #25502
@mjuza Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-23 00:26] femsulu commented on #25566
@Placid7 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-23 00:27] TravisCragg-MSFT commented on #18737
@xenalite App Gateway V2 is still in preview, and there will be changes and features regularly during this time, along with some strange functions like this.

Please give any [Feature Requests or Feedback you have for App Gateway V2 Here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2019-02-23 00:27] #18737 closed

[2019-02-23 00:27] Mike-Ubezzi-MSFT commented on #25568
@MartinJaffer-MSFT Triaging this, even though it is yours it is still reported in the in metrics.

[2019-02-23 00:28] KevinTupper opened #25576 "Multiple containers."
Thanks for putting in the portion about multiple containers on the same host.  You may want to check and make sure the second one is correct.   I think it should be 5001:5000 for the second port assignments i.e. the container itself listens on 5000.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889b34f3-060f-4507-32db

[2019-02-23 00:31] femsulu commented on #25566
@vgorbenko  - any insights here?

[2019-02-23 00:33] smithGit opened #25577 "Continuous Export Select Devices"
I have not found a way to de-select devices from continuous export.  In particular, there are still  simulated devices (Raspberry Pi and ESP8266) in my app, and I definitely do not want to have their values exported except in test mode.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e568d441-db27-a98f-b41f-d0ebcc1347f9

[2019-02-23 00:35] Mike-Ubezzi-MSFT commented on #25201
@mack0196 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-23 00:35] #25201 closed

[2019-02-23 00:35] Mike-Ubezzi-MSFT commented on #25300
@ncbrown1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-23 00:35] #25300 closed

[2019-02-23 00:36] jeffhollan commented on #25434
The above is accurate except you'll also need to make sure you have the .NET Core SDK on the agent as well.  "func extensions install" has a dependency on .NET Core SDK 2 (for the time being).

That said - @dariagrigoriu I believe has been working with the DevOps teams on some custom build tasks for functions that I don't know if may simplify this.

[2019-02-23 00:36] Mike-Ubezzi-MSFT commented on #25309
@ycedillos We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-23 00:36] #25309 closed

[2019-02-23 00:36] aashishb commented on #24800
Is there a reason you want to set the timeout higher than 60 secs for a real time service?

[2019-02-23 00:37] ththiem commented on #25567
The example seems to be working, I just have one question regarding how it is capturing remoting data (if this is correct or not in this setup)
![image](https://user-images.githubusercontent.com/15839533/53278764-17a7bb80-36c0-11e9-8fc4-95a20e3fd71a.png)

Requests via remoting to fabric services show up with a _Not Applicable_ response code. Is this expected?

[2019-02-23 00:42] Mike-Ubezzi-MSFT commented on #25318
This is what I am seeing on the Sync Agent Download page:

![screenshot 286](https://user-images.githubusercontent.com/37126106/53278872-de238000-36c0-11e9-8d83-56f816dbc54c.png)

[2019-02-23 00:45] CarlRabeler commented on #25214
@BryanTrach-MSFT please assign to @VanMSFT

[2019-02-23 00:45] Mike-Ubezzi-MSFT commented on #25318
And Step 2-a has been updated:

![screenshot 287](https://user-images.githubusercontent.com/37126106/53278908-3bb7cc80-36c1-11e9-9eb9-616314999671.png)

[2019-02-23 00:45] Mike-Ubezzi-MSFT commented on #25318
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-23 00:45] #25318 closed

[2019-02-23 00:47] Mike-Ubezzi-MSFT commented on #25361
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-23 00:49] Mike-Ubezzi-MSFT commented on #25388
@wmmihaa We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-23 00:49] #25388 closed

[2019-02-23 00:51] Mike-Ubezzi-MSFT commented on #25452
@CarlRabeler This is something that needs to be reviewed to ensure clarity.

[2019-02-23 00:52] CastleArg commented on #25434
Hi guys,
I eventually got this by installing core tools into my project and then
adding an npm script to run func extension install in the pipeline.

Cheers,
Mark

On Sat, Feb 23, 2019, 1:36 PM Jeff Hollan <notifications@github.com> wrote:

[2019-02-23 00:52] Mike-Ubezzi-MSFT commented on #25534
@anil-kapoor We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-23 00:52] #25534 closed

[2019-02-23 00:57] kromerm commented on #25519
We submitted a backlog of whitelist requests this afternoon. Can you please see if you are able to build factories in ADF V2 now that have Data Flows in the resource explorer?

[2019-02-23 01:03] bzuberi commented on #16940
hello - did you update the document to include information about encryption?

[2019-02-23 01:11] CarlRabeler commented on #25452
update pending https://github.com/MicrosoftDocs/azure-docs-pr/pull/67502

[2019-02-23 01:12] rolyon commented on #24957
Hi @bjd145
We published an updated version of this article. Hopefully this is a little clearer.
https://docs.microsoft.com/en-us/azure/active-directory/governance/perform-access-review
thanks

[2019-02-23 01:12] BryanTrach-MSFT commented on #25548
@MadDenker We kindly request you to share the details over on MSDN forums. Please click [here ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WAVirtualMachinesforWindows)to take you to the proper forum within MSDN. We have multiple engineers over there who can assist you further on this matter.

For now, we try to keep GitHub scoped to feedback on Azure Documentation. Thank you f

[2019-02-23 01:12] #25548 closed

[2019-02-23 01:13] rolyon commented on #24957
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-02-23 01:14] #24957 closed

[2019-02-23 01:14] Alberto-Vega-MSFT commented on #25577
Hi @smithGit Thanks for your feedback. We are currently investigating and we will get back to you shortly

[2019-02-23 01:15] BryanTrach-MSFT commented on #25572
@gtidman Thank you for bringing this to our attention. We are investigating this and will update you shortly.

[2019-02-23 01:19] BryanTrach-MSFT commented on #25571
@bospoort Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 01:19] femsulu commented on #25531
@rayne-wiselman Happy to kick off a PR to resolve this if you can confirm the proposed change.

[2019-02-23 01:19] BryanTrach-MSFT commented on #25569
@mgeoffriau Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 01:21] BryanTrach-MSFT commented on #25576
@KevinTupper Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 01:23] Alberto-Vega-MSFT commented on #25571
@bospoort I see what you are saying. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-23 01:25] xenalite commented on #18737
@TravisCragg-MSFT Thank you.
Link to product feedback:
https://feedback.azure.com/forums/217313-networking/suggestions/36933709-remove-nsg-validation-from-app-gateway-v2-deployme

[2019-02-23 01:49] #25272 closed

[2019-02-23 02:00] mamccrea commented on #24462
Hi @colinrippeyfinarne - Thank you for sharing your scenario with us. I am working to get an answer for you.

[2019-02-23 02:09] ericnewton76 commented on #24109
The portal UI and the documentation.  Windows users arent typically exposed to CRON, vs Scheduled Tasks always in your local time zone.

Also, would be nice to have a CRON expression builder, or a link to the correct CRON expression builder that will work with this particular service.

[2019-02-23 02:34] michaeldevenney commented on #25561
Hi Mike, thanks for getting back to me.  This is on me.  I was trying to
install v4 of the package, which appears to target .NET Core.  My project
targets 4.6.1.  Once I went back to v3 it worked like a charm.  There
wasn't much of an error from NuGet while installing so I didn't notice that
it didn't install prior to testing.  Sorry to waste your time!

Thanks,
Mike Devenney

On Fri, Feb 22, 2019

[2019-02-23 03:21] Leon99 opened #25581 "Exception on starting webfrontend"
After following the tutorial to the letter (except for a newer k8s version - 1.12.5 and a different region - SoutheastAsia):
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9ebb0f-0c9a-8887-0b86-85994f2154cb
* Version Independent ID: 04fea1ba-626f-8fec-eeb6-75388419ef79
* Content: [Create a Kubernetes dev space

[2019-02-23 03:23] kirantsp commented on #24474
Understood, Thank you very much for the explanation Bryan....  I am going ahead with the closure...

[2019-02-23 03:23] #24474 closed

[2019-02-23 03:26] mark-beaupre opened #25582 "Resource NetApp should be called Azure NetApp Files"
Under the list of services that cannot be moved, the NetApp service is actually called Azure NetApp Files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource g

[2019-02-23 03:37] amanjee opened #25583 "Login-AzureRMAccount context not persisting during execution of script"
PRompts for authentication, but i beleive the login does not persist due to script block scoping or some other reason:

     Successfully installed version 6.13.1 of AzureRM...
Pulling Azure account credentials...
Get-AzureRmResourceGroup : Run Login-AzureRmAccount to login.
At C:\Program Files\WindowsPowerShell\Scripts\New-OnPremiseHybridWorker.ps1:230 char:9
+ $null = Get-AzureRmResourceGroup -N

[2019-02-23 03:43] Leon99 commented on #25581
Solved after installing .NET 4.7.2 SDK (as per https://github.com/dotnet/standard/issues/481#issuecomment-429653699) and reinstalling the VS Tools for K8s extension (although possibly just installing 4.7.2 would help, I didn't try).

[2019-02-23 03:51] AzureAzim opened #25584 "Monitoring agent does not install Automation dependencies"
PATH C:\Program Files\Microsoft Monitoring Agent\Agent\AzureAutomation\  does not exist after installing monitoring agent, manual installation cannot be completed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b29372c-7bd9-7da2-4cff-9afbb432bccf
* Version Independent ID: 66ce101d-d21b-3fdf-be70-7f9cadc1570e
* Content:

[2019-02-23 03:52] amanjee commented on #25584
correction, the path was installed, ignore issue

[2019-02-23 04:03] BryanTrach-MSFT commented on #25007
@bryanklewis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-23 04:03] #25007 closed

[2019-02-23 04:06] BryanTrach-MSFT commented on #25316
@phil0007 Please note that the Azure Docs GitHub repro is meant for feedback pertaining to the docs themselves. For product assistance, we kindly request you share this [here](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata) where we have engineers who can assist you further. Thank you for your understanding.

[2019-02-23 04:06] #25316 closed

[2019-02-23 04:08] BryanTrach-MSFT commented on #25390
@phil0007 Please note that the Azure Docs GitHub repro is meant for feedback pertaining to the docs themselves. For product assistance, we kindly request you share this [here ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata)where we have engineers who can assist you further. Thank you for your understanding.

[2019-02-23 04:08] #25390 closed

[2019-02-23 04:35] BryanTrach-MSFT commented on #25466
@WillAutioItrax Please let us know if you have any further questions.

[2019-02-23 06:02] pink95 opened #25589 "Azure SAS token for container throws 'invalid Signature Size' error"
I am trying to list and download blobs from a container on Azure. It works perfectly fine when I try to do so using storage account access key. However, fails when  use a SAS token. I generated the SAS token the with the following PowerShell script:

        $storageContext = New-AzureStorageContext -StorageAccountName "myAccount" -StorageAccountKey "<account key>"
    $permission = "rwdl"
    $sa

[2019-02-23 06:05] mike-urnun-msft commented on #25064
@MouthOfMadness Interesting, I tried [this sample](https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-app-create-dynamic/azuredeploy.json) without the `runtime` specific settings and was able to create the resources as expected. if you're able to share steps that reproduces that issue, let us know and we'll clarify with product team.

[2019-02-23 07:24] love2dishtech commented on #14983
Thanks a lot for quick reply. Appreciate it.

[2019-02-23 07:57] love2dishtech commented on #23789
It is the same issue with me as well. I see that the dashboard login prompt as well does not pass the token issued via the login screen. It still treats the dashboard connection requests via the service account.

Also, I have not given dashboard access to the service account, because of privilege escalation it creates.

[2019-02-23 08:33] shrivara commented on #25239
I had the latest CLI running, but it looks like both `--service-principal` and `--client-secret` are mandatory for associating a cluster with a VNET. I tried this again after I configured these and it worked okay. Closing the issue, thanks for your time!

[2019-02-23 08:33] #25239 closed

[2019-02-23 08:55] zer0big commented on #24193
@zr-msft Thank you for your fixing this issue. It works well now. :)

[2019-02-23 11:34] jjindrich commented on #24221
Yes, vnet is empty. Try script from my github

[2019-02-23 11:52] chris4jahn opened #25593 "Create certificates that remain valid after firmware upgrade"
Hi,
I am currently working on bringing together OTA and DPS. But when there are too much code changes DPS fails after upgrading. I guess this is because of some dependency to the current firmware (perhaps its size). How can I create UDS based certificates that are not stuck to a certain version?
Best Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-02-23 14:27] dlyall-maine opened #25594 "Information gap"
Is there a list of possible Actions and corresponding operation strings that are applicable to the Cosmos Db service? If not, how would I go about finding that info?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7a-dc644f39a961
* Version Independent ID: d2757c88-1bad-8d27-b548-9e04a8ec7fe1
* Conte

[2019-02-23 14:48] diogodtway commented on #24002
Hello, I am trying to follow this example, but also got stomped on how the header looks like. Can this article be revised with the inclusion of the header?

[2019-02-23 15:06] ccarrero301 opened #25595 "Image Size"
What are the limits of the image size?

I tried with a 10Mb file and got Bad Request.
With 2MB file works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fd1d7a-6670-a3f3-40f7-350ba7e31a14
* Version Independent ID: f5d51702-e86d-4442-8658-8a2df670d51a
* Content: [Quickstart: Analyze an image - SDK, C# - Azure Cogniti

[2019-02-23 16:17] ycedillos opened #25596 "Generate alerts when custom audit actions are logged"
It would be great if Azure SQL Database could send us mails when our custom audit actions are logged.

For example:
I have my custom "audit action" to audit all update in my table dbo.Roles

I have a super user who can add roles in my database.

I would like to receive a mail when any super user have added a new role in the database.

This is a hipotetial example, so, we must audit specific action

[2019-02-23 16:24] mattbriggs commented on #25236
@Werner-MOC I wonder if you have a conflict with previous versions of the module?  I would recommend that you uninstall and reinstall PowerShell using the instructions here: https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-install?toc=%2Fen-us%2Fazure%2Fazure-stack%2Fuser%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json .

[2019-02-23 17:04] PJMarcum opened #25597 "Path to edit the client settings is incorrect."
The line "Administration > Cloud services" should be "Administration > Client Settings > Default Client Settings > Cloud Services"

[2019-02-23 17:16] kevinclarkneudesic opened #25598 "Update sample code"
This tutorial is Node.js that looks about 5 years old.  Everyone knows about callback hell which is why promises are used nowadays.  Also, Node.js supports async/await which is even more intuitive for async programming.  And lastly, there should be two versions, one with JavaScript and one with TypeScript.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-02-23 18:11] scerveny commented on #21118
Can you hurry please?  This is a total black hole and a REQUIRED field with NO docs at all.  Pretty good job overall on the docs, but this is a glaring omission.

[2019-02-23 18:13] BryanTrach-MSFT commented on #25581
@Leon99 We are happy to hear you were able to resolve the problem. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-23 18:13] #25581 closed

[2019-02-23 18:14] BryanTrach-MSFT commented on #25589
@pink95 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-02-23 18:15] BryanTrach-MSFT commented on #25597
@PJMarcum Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-02-23 18:18] BryanTrach-MSFT commented on #25595
@ccarrero301 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 18:20] BryanTrach-MSFT commented on #25596
@ycedillos Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 18:21] BryanTrach-MSFT commented on #25594
@dlyall-maine Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 18:22] BryanTrach-MSFT commented on #25593
@chris4jahn Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 18:23] BryanTrach-MSFT commented on #25582
@mark-beaupre Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 18:24] BryanTrach-MSFT commented on #25583
@amanjee Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 18:25] BryanTrach-MSFT commented on #25584
@amanjee We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-23 18:26] BryanTrach-MSFT commented on #25598
@kevinclarkneudesic Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-23 20:30] kevinclarkneudesic commented on #25598
Thanks Bryan.  If I get the code complete I could always share a link to the repo 🤷‍♂️

[2019-02-23 20:37] john-o-neville commented on #21475
@KetanChawda-MSFT Thanks for your reply.  Sorry for slow response - I took my eye off the ball on this one.

From my .csproj:
[code]

Thanks also for the link to the SO post.  I didn't get around to attempting those workarounds, but am happy to say that I have been revisiting this code today and it is now working fine.  So I guess v4.6.0 is now supported out the box.

I know this thread is closed,

[2019-02-23 21:28] ntachandley opened #25599 "The Powershell links do not point to modern "Az" powershell"
These links all leveraging AzureRM instead of Az. Docs need updated to most recent method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9504285f-88f5-5337-ad00-b94ad015300c
* Version Independent ID: 3b40ffd6-05ae-2711-5064-d7c5113492ea
* Content: [Scale elastic pool resources - Azure SQL Database](https://docs.micros

[2019-02-23 21:54] faldeland commented on #6788
Just installed 2.1.4.0 and get same error.
This site can’t be reached The connection was reset.
Try:

Checking the connection
Checking the proxy and the firewall
Running Windows Network Diagnostics
ERR_CONNECTION_RESET

Ran as administrator and it prompted for /NoFirewall arg.
Still no access to Data Explorer.
Re-installing Azure VS tools/sdks.

Will report back.

[2019-02-23 22:05] vadim7s opened #25601 "Python venv not recognised"
Just tried following the installation instructions on a second window machine. Getting same error when running "func init MyFunctionProj" command:  "For Python function apps, you have to be running in a venv. Please create and activate a Python 3.6 venv and run this command again". I am running the command within a Python 3.6 environment in anaconda command prompt. Please help

---
#### Document D

[2019-02-23 22:47] EricBergDE opened #25603 "No information on Cancellations and exchanges"
Please add a section that explains how Cancellations and exchanges are handled for Cosmos DB!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dbc57c4-c630-63d4-e5c9-f71555488db0
* Version Independent ID: d9efd0ae-5f1a-5171-7265-ebfc78f9cea2
* Content: [Optimize cost of Azure Cosmos DB resources with reserved capacity](

[2019-02-23 22:54] sowsan opened #25604 "Any recommendation on business continuity with the region endpoints ?"
What will happen if i have a publishing endpoint with one region and if there is an outage on that region? It will be helpful if you can share the details around the business continuity as well to consider when building High SLA solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd620f0-f308-d134-1ead-fc7842a73

[2019-02-23 23:46] mike-urnun-msft commented on #25601
Hi @vadim7s Thank you for your feedback! We will review and update as appropriate.

[2019-02-24 00:59] BryanTrach-MSFT commented on #25604
@sowsan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 01:00] BryanTrach-MSFT commented on #25599
@ntachandley Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 01:11] BryanTrach-MSFT commented on #25603
@EricBergDE Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 01:19] Leon99 opened #25605 "Error creating a Kubernetes cluster"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d7cb58c-7130-0a00-3d8b-2c3e35ef42ec
* Version Independent ID: be23b961-c5ba-d257-da0c-860377d5ce9b
* Content: [Create a Kubernetes dev space in the cloud using .NET Core and VS Code - Azure Dev Spaces](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-n

[2019-02-24 02:39] BjornAnd opened #25606 "More info would be appreciated on the network changes on ASDK 1901"
In the release notes it is stated "BGP and NAT components are now deployed on the physical host. This eliminates the need to have two public or corporate IP addresses for deploying the ASDK, and also simplifies deployment."
Since networking is absolute key to get a cloud working it would be appreciated if there were some more info about how this change has been implemented.
We normally set up our

[2019-02-24 03:30] CalvinDale opened #25607 "Confusion Regarding Access Restriction"
It would be helpful if this article pointed out that changing the access level for the $web container via the Azure portal to "Private (no anonymous access)" does not in fact prohibit anonymous access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5

[2019-02-24 03:58] sleebapaul opened #25608 "Issue in installing SDK - Command is wrong"
`pip install --upgrade azureml-sdk[notebooks]`

Throws the error `no matches found: azureml-sdk[notebooks]`.

The actual command should be either `pip install 'azureml-sdk[notebooks]'` or `pip install --upgrade 'azureml-sdk[notebooks]'`

Same goes with `pip install --upgrade azureml-sdk[automl]`. It should be `pip install --upgrade 'azureml-sdk[automl]'
`

---
#### Document Details

⚠ *Do not edit

[2019-02-24 04:03] DixitArora-MSFT commented on #25307
@ycedillos Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-24 04:03] #25307 closed

[2019-02-24 04:04] DixitArora-MSFT commented on #25355
@Robar666 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-02-24 04:04] #25355 closed

[2019-02-24 04:06] DixitArora-MSFT commented on #25412
@bcube Just following up here... Hope my previous comment helps.

[2019-02-24 04:08] DixitArora-MSFT commented on #25457
@EddyP23 Just following up here... Hope my previous comment helps.

[2019-02-24 05:19] Karishma-Tiwari-MSFT commented on #25239
@shrivara Thanks for the update. Glad to know you were able to resolve it.

[2019-02-24 06:14] PetroAzure opened #25609 "All 5 tasks can't run"
Before running this .NET version of parallel file processing, I successful ran Python version of parallel file processing and get correct MP3 files, so I am sure the configurations are correct including config of Application Service.  But I can't get MP3 files (createPool and createJob is OK ) when I ran the .NET version, and all 5 tasks had log of error. Could you give me some clue to fix it? My

[2019-02-24 06:30] femsulu commented on #25541
@Lemraj confirming the broken link has been fixed. Thanks again for catching this.

[2019-02-24 06:30] #25541 closed

[2019-02-24 07:20] thienanh2018 opened #25610 "Feedback to Demo LiveCamera Sample - Face API"
[Enter feedback here]
Hi,

I try to Re-build the Live Camera Sample - but how to add Microsoft.ProjectOxford for the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183e5251-798f-9f67-b0d7-20d68230b31d
* Version Independent ID: 775c2385-f03a-fc5c-a5dd-1fd64e678bc3
* Content: [Example: Real-time video analysis - Fac

[2019-02-24 09:11] KalyanChanumolu-MSFT commented on #25498
@MarkAtAgilliance

I tried to reproduce this and the PATCH request works as expected.

You should receive a HTTP 202 Accepted response for your PATCH request.
And the response to a GET request during scaling should look like the below

[code]

You will get a HTTP 200 OK response if your target and current SKUs are the same.

The PATCH request was part of API version 2014-04-01-preview.
Newer versi

[2019-02-24 10:13] dusek commented on #25125
I have exactly the same confusion as the OP. Without this question clarified, I do not at all know what I am actually buying with burstable instances, and whether they will really lead to savings with same performance I have now with non-burstable instances, or whether they will on the contrary lead to performance problems (being constantly limited to the Base CPU performance level).

E.g. take in

[2019-02-24 10:15] krisbock commented on #21521
I ran into the same issue today.  I did everything through the Python SDK - except run the training (which I did through the Portal).  It's not clear through the doc or error message that "NotFound" is caused by not setting a default iteration.  This needs to be more discoverable than by expecting a user to find out through a tutorial.

[2019-02-24 10:34] ShiChen872 opened #25612 "can we use a boolean type and string type in advance rule of dynamic group?"
When we create a rule :
user.dirSyncEnabled -eq true -and (user.jobTitle -contains "CTO"
No result is return. so I need to know if we can use a boolean type and string type as rule together?

#### Document Details
⚠ _Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking._

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-

[2019-02-24 12:36] inech opened #25613 "Automatic certificate rollover"
Is it possible to automatically install a new certificate when the existing one is about to expire?

I've set up my cluster to use certificate by common name, the certificate is stored in Azure Key Vault with auto-renewal but I haven't found a way to automatically sync Virtual Machine Scale Set with the latest version of certificate from Key Vault so it seems a human intervention is still needed t

[2019-02-24 12:39] inech commented on #25613
@aljo-microsoft mentioned "end to end autorotate" in [this](https://github.com/Azure/service-fabric-issues/issues/1209#issuecomment-428662988) comment but I can't find info on how to achieve it.

[2019-02-24 12:47] paul-michalik opened #25614 ""Concepts" -> "How App Service Works" is missing. The link leads back to "About Web Apps""
Please add the advertised information and remove the back link to the beginning of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f145fb6af7
* Content: [App Service overview - Azure](https://docs.microsoft.com/en-us/az

[2019-02-24 13:12] lightupdifire commented on #25341
@SaurabhSharma-MSFT
Thanks, the AAP server and WEB server are in same network and in same VM cluster.
Question is if AAP has some limitations, if yes, what kind of...

[2019-02-24 14:17] andreas-wilm opened #25615 "Unclear sentence in ASDK paragraph"
Hello, there is a problem with the following sentence in the ASDK paragraph: "This configuration is not intended to scale or performance evaluation."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 252f6566-4c07-66d6-885b-88820a9d130b
* Version Independent ID: 14031275-664e-193a-0cb2-a6e74a5467d9
* Content: [What is Azu

[2019-02-24 16:29] gowrishcode commented on #18030
New-AzDisk : SKU StandardSSD is not supported for resource type Disk in this region. Supported SKUs for this region are Premium_LRS,StandardSSD_LRS,Standard_LRS
ErrorCode: InvalidParameter
ErrorMessage: SKU StandardSSD is not supported for resource type Disk in this region. Supported SKUs for this region are Premium_LRS,StandardSSD_LRS,Standard_LRS
ErrorTarget: sku
StatusCode: 400
ReasonPhrase: Ba

[2019-02-24 16:57] blueelvis opened #25616 "Add more information about what is the expected outcome from following this procedure"
Hi,

It doesn't seem to be clear what is the end goal in regards to what it is doing. For example, once this is setup, how will it look like once a deployment takes place and what happens when a deployment is done? Like, does it just reboot the container or pull the latest image from the registry or will it set the image to what is specified in the ACR payload?

Thanks,
Pranav

---
#### Document D

[2019-02-24 17:30] MicahMcKittrick-MSFT commented on #25609
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:31] MicahMcKittrick-MSFT commented on #25613
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:34] MicahMcKittrick-MSFT commented on #25608
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:34] MicahMcKittrick-MSFT commented on #25610
Thanks for the question! We are investigating and will update you shortly.

[2019-02-24 17:35] MicahMcKittrick-MSFT commented on #25605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:35] MicahMcKittrick-MSFT commented on #25606
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:36] MicahMcKittrick-MSFT commented on #25615
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:36] MicahMcKittrick-MSFT commented on #25612
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:36] MicahMcKittrick-MSFT commented on #25607
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:37] MicahMcKittrick-MSFT commented on #25614
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:37] MicahMcKittrick-MSFT commented on #25616
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-24 17:38] #17084 closed

[2019-02-24 17:38] AshokPeddakotla-MSFT commented on #25433
@Aashikms A similar issue has been addressed [here](https://github.com/MicrosoftDocs/azure-docs/issues/14035). I suggest you take a look and let us know if it helps.

[2019-02-24 17:44] AshokPeddakotla-MSFT commented on #25351
@JesvinJoseph As Venkat suggested please share your scenario. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-24 17:44] #25351 closed

[2019-02-24 17:49] aszalacinski opened #25618 "Instructions for Visual Studio 2019 use"
With VS 2019 on the horizon and quite a few team members using the Preview version, can we get this article updated to include VS 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd41b897-29ee-837b-99bd-2be5c5331e34
* Version Independent ID: aeebb0e3-1698-b430-1912-7564f6ed99e4
* Content: [How to work with the .NET

[2019-02-24 17:50] blueelvis commented on #25246
@SaurabhSharma-MSFT - Yes, I am aware of the throttling limits. Will having a lot of secrets cause any issues with the Read/Write performance? (Assuming that the Read/Writes are under the throttling policy)

[2019-02-24 18:22] BryanTrach-MSFT commented on #25618
@aszalacinski Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-24 18:26] sowsan opened #25619 "Create custom profile programmatically"
Is there a way to programmatically create the custom profile. Looking for an onboarding model for multi tenant solution in which ISV want to onboard many Azure AD customers. In B2E with admin conscent can easily make it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b59818
* Version Indep

[2019-02-24 18:56] kirtnoel opened #25620 "API Permissions"
In following step 3 above, I found the "My APIs" tab is blank unless I first expose the the Azure API for FHIR I previously deployed.  Perhaps it ought to indicate such.

Similarly, step 4 above seems to depending on the presence of defined scope(s) such that the permissions can be associated to one or more scopes.  It could be helpful to reflect this dependency.

---
#### Document Details

⚠ *Do

[2019-02-24 19:09] jzuchora87 opened #25621 "Clarity on documentation"
Can you provide a bit more detail on the variable $imageversion.id? I've followed the guide and am at the last step of trying to create a VM in a different subscription but under the same tenant and am receiving the following error: New-AzVm : The image subscription doesn't match the current subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-02-24 19:24] kirtnoel opened #25622 "Authorization Issues"
With the Azure API for FHIR, I can see the metadata just fine.

My metadata file, has an authorization URL that departs from your guidance:
It does NOT include the aud/resource parameter.  I find that curious.  Have I missed something?

  https://login.microsoftonline.com/********-****-****-****-************/oauth2/token

Authorization is refused when I use the resource parameter.  In contrast, wh

[2019-02-24 19:27] MarkAtAgilliance commented on #25498
Hi Kelyan,  I’ll give that a try again.

If the recommended way is to use PUT for create or update, I wonder if the page that I commented on should be updated to use PUT as an example rather than the old preview API?

I notice in the doc tree you pointed to that there is a update only section which still uses the PATCH verb.  It has the 2017 preview api version.  Is that being retired?

Regards,
M

[2019-02-24 19:56] jzuchora87 commented on #25621
It appears to be an issue with the cmdlet because I was able to deploy a VM using the ARM template but I did have to set the image id manually because the template assumes they are in the same subscription.

[2019-02-24 20:55] ZachTB123 opened #25623 "Subscription coverage section on the overview page"
This may not be the correct place for this request, but is it possible to get a break down of the coverages for Security Center - for example what each coverage actually means? My view in the portal for Security Center no longer breaks down subscriptions as "Covered (standard)", "Covered (free)", and "Not covered" like what is shown above, but rather now breaks it down into "Fully covered", "Parti

[2019-02-24 21:51] hansenms commented on #25622
@kirtnoel The `resource` parameter must be used when requesting an authorization code from the `/authorize` endpoint. This is what is know as authorization code flow. When obtaining a token directly from the `/token` endpoint, the `resource` parameter must be included in the body of the `POST` request to that endpoint. Otherwise your token will not have the right audience (`aud` claim).

The corre

[2019-02-24 21:56] hansenms commented on #25620
@kirtnoel what do you mean by "first expose the Azure API for FHIR I previously deployed."? What you would probably see in there is the confidential client app that you would create in order to obtain a token. The Azure API for FHIR has a first part app with URI `https://azurehealthcareapis.com` that will be present in your Azure AD tenant once you have deployed an instance of the Azure API for FH

[2019-02-24 22:00] amanjee opened #25624 "Script needs to support new Az Cmdlets"
Scripts are no longer functional if you have Az Cmdlets installed(which cannot be installed with AzureRM cmdlets). When running them in AzureRM environment, Cmdlets are no longer functioning:
Set-AzureRMOperationalInsightsWorkspace : Run Login-AzureRmAccount to login.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0652

[2019-02-24 22:46] danvanderboom opened #25627 "Typo correction"
“You can use a temporary table to prevent other uses from seeing temporary results and also to reduce the need for cleanup.”

In this sentence, “uses” should be “users”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473726a0-19e3-a144-56ca-a66058f9ff67
* Version Independent ID: 820466f5-2ec1-a3f8-51ae-8ab02fed9395
* C

[2019-02-24 22:51] danvanderboom opened #25628 "Typo"
“Once the data is in the staging table, use INSERT...SELECT to move the data to a production tables.”

Update “to a production tables” to “to production tables”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 473726a0-19e3-a144-56ca-a66058f9ff67
* Version Independent ID: 820466f5-2ec1-a3f8-51ae-8ab02fed9395
* Content:

[2019-02-24 23:02] #25347 closed

[2019-02-24 23:15] danvanderboom opened #25629 "Plural typo"
“how to define a distributed table in the WITH clause of your CREATE TABLES statement”

There isn’t a “CREATE TABLES” statement. It should say “CREATE TABLE”. Perhaps the word statement is plural?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3d99f8-96b8-b31a-d6d3-868fa4614242
* Version Independent ID: 965ea5f3-ae07

[2019-02-24 23:59] shanjin90 opened #25630 "SAML SSO won't be enabled if we did not edit anything."
For step 4 of the SSO configuration. Though we do not need to modify the default entity id and reply url. We need to click Edit and Save. otherwise SSO will not be enabled properly. as there is no Save button if we do not click editing. We need this to be highlighted in this document to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-02-25 00:08] dcbrown16 commented on #25527
Thanks!

[2019-02-25 00:11] dcbrown16 commented on #25525
I guess I figured this out on #25527. Of the built-in roles, Owner and Contributor would be able to do it because of the * access, but all of the other roles only specify Microsoft resource providers and thus are unrelated. You have to use Owner or Contributor, or create a custom role.
I imagine you won't be adding this to the doc so I'll go ahead and close, thanks!

[2019-02-25 00:11] #25525 closed

[2019-02-25 00:44] BryanTrach-MSFT commented on #25621
@jzuchora87 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 00:45] BryanTrach-MSFT commented on #25627
@danvanderboom Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 00:46] BryanTrach-MSFT commented on #25628
@danvanderboom Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 00:47] BryanTrach-MSFT commented on #25629
@danvanderboom Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 00:47] BryanTrach-MSFT commented on #25619
@sowsan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 00:49] BryanTrach-MSFT commented on #25623
@ZachTB123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 00:51] BryanTrach-MSFT commented on #25624
@amanjee Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 01:00] v-maroge commented on #25226
Sorry to ping, if possible I would like an update to my last question :)

[2019-02-25 01:01] BryanTrach-MSFT commented on #25630
@shanjin90 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 01:10] kirtnoel commented on #25622
I've got this sorted now.  Thanks.

[2019-02-25 01:10] #25622 closed

[2019-02-25 01:20] dsghi opened #25631 "Old Agent Version"
This article currently links to an older agent version in the upgrade section, version 2.0.9118.0. The latest version is 2.0.9153.0 identified on this page with link: https://social.technet.microsoft.com/wiki/contents/articles/52073.azure-recovery-services-azure-backup-agent-list-of-agent-versions.aspx#Microsoft_Azure_Recovery_Services_MARS_Azure_Backup_Agent_version_history

---
#### Document Det

[2019-02-25 01:26] kirtnoel commented on #25620
Concerning you question:  what do you mean by "first expose the Azure API for FHIR I previously deployed."?

In the diagram (below), the "My APIs" tab was blank when navigating my Azure Portal.  As such, being new to the Azure portal, I didn't realize that I could have equally chosen the "Azure Healthcare APIs" under the tab "APIs my organization uses".  I errantly concluded I needed something und

[2019-02-25 01:37] jontreynes commented on #24615
Thanks @georgewallace

[2019-02-25 02:30] Karishma-Tiwari-MSFT commented on #8861
@ramankumarlive Is there any update on this issue? Thanks.

[2019-02-25 02:31] Karishma-Tiwari-MSFT commented on #18030
@ramankumarlive Is there an update on this issue? Thanks.
CC: @cynthn

[2019-02-25 02:41] SQLDataSide commented on #18545
Hi I am getting an error
Cannot read property 'uri' of undefined
while i am at the step "Azure IoT Device WorkBench: Configure device settings"

Can someone help.
I have installed and uninstalled everything, i did get the Device MXCHIPIoTDevice rolling everything was perfect, until i had to move everything to a new RG (resource group), i did delete everything (IoT Device and IoT Service)
I feel it

[2019-02-25 02:46] SQLDataSide commented on #18545
I just noticed that NOTHING in the Azure IoT Device WorkBench is working.
how can i reset this i have reinstalled everything still an issue

[2019-02-25 02:47] shivtorov opened #25632 "TLS 1.2 for versions 1.1.614.0 and above"
In section "Enable TLS 1.2 for Azure AD Connect
" (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#enable-tls-12-for-azure-ad-connect)
you describe the instructions for versions "Prior to version 1.1.614.0"

Could you please add an explicit statement, what actions (if any) are required for version 1.1.614.0 and above?

---
#### Document Details

[2019-02-25 03:24] tarstaskas commented on #24783
when will the Android get a backup option

[2019-02-25 03:25] DixitArora-MSFT commented on #25412
@bcube Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 03:25] #25412 closed

[2019-02-25 03:38] kazshi commented on #25318
@Mike-Ubezzi-MSFT Thank you for updating the content. Do you know when the Supported Operating System section in the Sync Agent Download page would be updated? I know you don't own the page but I'd like to make sure if it would be updated since it's pointed out by my customer.  Thanks.

[2019-02-25 03:50] KetanChawda-MSFT commented on #25434
@CastleArg Thanks for the confirmation. Glad that it worked. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 03:50] #25434 closed

[2019-02-25 03:51] shashishailaj commented on #25632
@shivtorov Thank you for your query. We will investigate and update the thread further.

[2019-02-25 03:52] bcube opened #25633 "Where to obtain the subscription keys?"
I am creating my Single Page App to consume the API hosted in Azure API Management Service. I understand that I need to add "Ocp-Apim-Subscription-Key" into my header when submitting the request. However, where can i get the subscription key? My APIs in API management Service has added "Unlimited" into the "Products" fields.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-02-25 03:53] KetanChawda-MSFT commented on #25360
@nzmdgnc Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-02-25 03:53] #25360 closed

[2019-02-25 03:53] AjayKumar-MSFT commented on #24439
@bubbletroubles, The document has been updated and reflects the changes. Thanks again for sharing your feedback on this item. We will close this out, but if you feel you need more information please just let us know.

[2019-02-25 03:53] #24439 closed

[2019-02-25 04:21] ManojReddy-MSFT commented on #25632
@shivtorov For AD Connect version1.1.614.0  and above, no additional steps are required as they use TLS 1.2 by default.

I am assigning this to the author to confirm this.

@billmath Can you confirm this and update the doc after review ?

[2019-02-25 04:33] shashishailaj commented on #23421
Hello @kogesaka We have updated the roles. Please find Before and After screenshots.
**Before**
![image](https://user-images.githubusercontent.com/532022/53314281-8add4780-38e3-11e9-8314-9f50b60d15aa.png)

**After**
![image](https://user-images.githubusercontent.com/532022/53314315-b8c28c00-38e3-11e9-82e1-5981f39e4173.png)

We updated the **Managed Application Operator** Role to include **/*/Actio

[2019-02-25 04:33] #23421 closed

[2019-02-25 04:46] ericloeliger opened #25635 "Documentation and accelerator out of sync"
In the Act on your device section #3, the accelerator shows 'Tags, Methods, and Properties' while the screenshot on this example shows 'Tags, Run Method, and Reconfigure'.  And when you select Method in the accelerator, there is no 'FirmwareUpdate' method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 552fcbfd-a025-6a

[2019-02-25 04:50] PramodValavala-MSFT commented on #25601
@vadim7s Unfortunately using `conda` isn't supported yet - Azure/azure-functions-core-tools#509

Only [`venv`](https://docs.python.org/3.6/library/venv.html) is currently supported.

[2019-02-25 04:54] ManojReddy-MSFT commented on #25297
@vikher We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-25 04:54] #25297 closed

[2019-02-25 04:54] PramodValavala-MSFT commented on #25497
@mikeharder This doc does mention that the only roles supported are "Owner" and "Contributor".

I would suspect that both contributor and owner are more privilege than required as well but since the feature is still in preview, its really **not recommended** for production.

Its probably best to update the doc accordingly once roles for run time operations are available and/or the feature is promo

[2019-02-25 05:13] vadim7s commented on #25601
Thanks Pramod

On Mon., 25 Feb. 2019, 3:50 pm Pramod Valavala, <notifications@github.com>
wrote:

[2019-02-25 05:14] neeleshray commented on #25572
@gtidman
Thank you for the updates.

@jeevansd
Jeevan, The "_CorpTax_" wording would need to be changed. And the contact under the section - **[Create CorpTax test user](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/corptax-tutorial#create-corptax-test-user)** to be changed as the user requested ?

[2019-02-25 05:17] RohitMungi-MSFT commented on #25499
@ascortez I hope the [contributor guide](https://docs.microsoft.com/en-us/contribute/) helps you to contribute to our repository and we look forward for your inputs. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @RohitMungi-MSFT  and we will gladly continue the discussion.

[2019-02-25 05:18] #25499 closed

[2019-02-25 05:24] neeleshray commented on #25630
When you say "SSO will not be enabled properly", is it that you get any errors or the sign-in does not happen as its supposed to ? Could you elaborate more on the same ?
Ideally the default parameters would set to Save, until you select to edit them.

[2019-02-25 05:25] KrishnaG-MSFT commented on #25324
@georgewallace Thanks for the update. Assigned this to you.

[2019-02-25 05:30] ahmadsocrat opened #25637 "No torch installed inside /dsvm/tools"
No torch installed inside /dsvm/tools and no torch samples inside /dsvm/samples in a fresh Azure DSVM for Ubuntu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c1a5f0-b0df-88f4-feaf-90bc17eeb69e
* Version Independent ID: 3d5b36f7-e892-8d1d-fa14-a2e5d407a25c
* Content: [Create an Ubuntu Linux Data Science Virtual Mach

[2019-02-25 05:30] PramodValavala-MSFT commented on #25601
@vadim7s Glad we could help. Please do monitor the [issue linked above](https://github.com/Azure/azure-functions-core-tools/issues/509) for updates on `conda` support.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 05:30] #25601 closed

[2019-02-25 05:33] CHEEKATLAPRADEEP-MSFT commented on #25427
@ShubhaVijayasarathy Could you look into this issue?

[2019-02-25 05:35] CHEEKATLAPRADEEP-MSFT commented on #25298
@jamesbak Could you please look into this issue?

[2019-02-25 05:35] neeleshray commented on #25569
@jeevansd
As per the website ([https://www.beyondtrust.com/](https://www.beyondtrust.com/)), it does seem Bomgar has been renamed to BeyondTrust. Could you look into this please ?

@mgeoffriau
Just as a side note, found a Wiki page as well on it - https://en.wikipedia.org/wiki/Bomgar

[2019-02-25 05:39] Souvik04 opened #25638 "Active Learning not working"
I followed the steps mentioned here but Active Learning doesn't seem to work. I posted it on Stackoverflow: https://stackoverflow.com/questions/54827888/active-learning-suggestions-in-qnamaker to get some techical. I have mentioned the details in the Stackoverflow thread. Is there any help I can get here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-02-25 05:40] CHEEKATLAPRADEEP-MSFT commented on #25357
@bertrandpons We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 05:40] #25357 closed

[2019-02-25 05:41] CHEEKATLAPRADEEP-MSFT commented on #25519
@VidyaSalimath
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 05:41] #25519 closed

[2019-02-25 05:42] CHEEKATLAPRADEEP-MSFT commented on #25529
@marnheus We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 05:42] #25529 closed

[2019-02-25 05:43] CHEEKATLAPRADEEP-MSFT commented on #25481
@avfc1982 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 05:43] #25481 closed

[2019-02-25 05:55] YutongTie-MSFT commented on #25291
@eladio0442 Hi, sorry for the late response. I just tried to reproduce your error but the tutorial works for me perfectly. If you are using a free trail account, please make sure you are using "Westus". And please keep in mind, you need to use the key but not the subscription ID. Please also refer to https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-ho

[2019-02-25 05:55] #25291 closed

[2019-02-25 05:57] YutongTie-MSFT commented on #25362
@aashishb Hi, this is a question about the code sample. Could you please explain the reason if possible? Thanks a lot.

[2019-02-25 05:58] YutongTie-MSFT commented on #25501
@peteratwork
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-25 05:58] #25501 closed

[2019-02-25 05:59] YutongTie-MSFT commented on #25544
@oxsmose Thanks for the followup. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-25 05:59] #25544 closed

[2019-02-25 06:04] SumanthMarigowda-MSFT commented on #25631
@dsghi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-25 06:08] anil-kapoor commented on #25534
@Mike-Ubezzi-MSFT
I have already tried the same, I have enabled options:
Accept connections from within public Azure datacenters
Allow access from Azure Portal

Also I have added my current IP to white-list that.

But that does not work.

[2019-02-25 06:11] neeleshray commented on #25560
@jaffadog
Thank you for bringing this to our notice. We are also able to see the same issue/error on our end. We are investigating it and would update soon.

[2019-02-25 06:17] angoyal-msft commented on #25509
@isshukla I believe you wanted to share some information. But in the previous reply, that information is not clear. Could you please share it again.

[2019-02-25 06:17] SumanthMarigowda-MSFT commented on #25173
@BartVanBerkel Thanks for the feedback!
If you wish you may leave your feedback [here ](https://feedback.azure.com/forums/34192--general-feedback)All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2019-02-25 06:17] #25173 closed

[2019-02-25 06:26] SumanthMarigowda-MSFT commented on #25313
@msLinuxNinja In OS encryption end-to-end flow there are still periods of times when SSH is still available, (before and after the OS has pivoted root to the in-memory version of the stripped down operating system).  “The VM will be unavailable and SSH will be disabled”

[2019-02-25 06:32] angoyal-msft commented on #25438
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 06:32] #25438 closed

[2019-02-25 06:53] neeleshray commented on #25560
@jaffadog
We were able to see the same issue for a Guest Invited User as you suggested. However for a Native User of the tenant it was working as suggested.
Now, to get it to work again for a Guest User - You have to change the External User Settings.
Go to the Portal. Select Azure Active Directory. Then go to User Settings - under External Users, click on Manage external collaboration settings. T

[2019-02-25 06:57] neeleshray commented on #23112
@asmalser-msft
Aaron, could you clarify on this please ?

[2019-02-25 07:20] seguler commented on #25526
Thank you! Resolving this now.

[2019-02-25 07:20] seguler commented on #25526
#please-close

[2019-02-25 07:27] Morishiri commented on #22879
I have a CDN Endpoint with custom rules pointing to storage account static website. Is there a way to make this websote accessible only via CDN endpoint? When someone is accessingit via storage account URL the rules doesn't apply.

[2019-02-25 07:28] Morishiri commented on #25607
I have a CDN Endpoint with custom rules pointing to storage account static website. Is there a way to make this website accessible only via CDN endpoint? When someone is accessing it via storage account URL the rules doesn't apply.

[2019-02-25 07:29] isshukla commented on #25509
Hi,

Sure, I’ll explain the issue here in this email.

Issue:
Script provided in the URL https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet is not working.

  1.  In the above mentioned article there is a script. That script will “Validate and modify an existing virtual network”.
  2.  The script is basically calling another script to perform th

[2019-02-25 07:50] neeleshray commented on #24426
@Infinitism
Apologies for the delay.
Publishing a External URL is not a mandatory field while adding the On-Premise Application to Azure AD (Check Step 4 under the section - [Add an on-premises app to Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-add-on-premises-application#add-an-on-premises-app-to-azure-ad))
Also, you can look into [Location Base

[2019-02-25 07:50] #24426 closed

[2019-02-25 07:51] SumanthMarigowda-MSFT commented on #25526
@lesterw1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 07:51] #25526 closed

[2019-02-25 07:53] byatis opened #25639 "I have limited trial but no Move to Azure button?"
What should I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b244d131-ba7c-30e5-7dbb-9edd22df3957
* Version Independent ID: 6932d029-8313-e4f7-1983-5ec25e1ad0b9
* Content: [Move a limited trial project to Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/move-your-project-to-azu

[2019-02-25 07:58] KalyanChanumolu-MSFT commented on #25498
Hi Mark,

My sincere apologies if the earlier response was confusing.
Both PUT and PATCH can be used for updating a resource and will be supported.
In case of PUT request you will have to send the complete Request Body for updating a resource.
With a PATCH request however, you can send individual properties that you are trying to modify.

[2019-02-25 08:02] AshokPeddakotla-MSFT commented on #25635
@ericloeliger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 08:05] RohitMungi-MSFT commented on #25638
@Souvik04 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-25 08:08] VidyaSalimath commented on #25519
Thanks Pradeep. ADF data flow option is available now and will continue to explore on the same.
Would like to know one thing about ADF data flow preview.What are the Pros and cons of the ADF V2 DataFlow preview?

[2019-02-25 08:09] jakaruna-MSFT commented on #25133
@saifuddin123 I followed the document and i am able to access the created cluster.
Can you remove the `-d` option in the `docker run` command and post the full output?

[2019-02-25 08:09] KetanChawda-MSFT commented on #25633
@bcube If you enable the option to Require subscription for the product settings, then you must pass the below header `Ocp-Apim-Subscription-Key`. Even you provide subscription key, the key should belong to the product which the API includes. If you don't want the subscription option, disable it in the product settings.

You can find the subscription key (Primary/Secondary) in APIM developer porta

[2019-02-25 08:12] jakaruna-MSFT commented on #25151
@kazshi Is there any update?

[2019-02-25 08:16] lehtomar opened #25642 "Connection fails if firewall for Data lake Gen 2 is on."
When connecting data lake gen 2 databricks the connection works but fails if I turn the firewall on. Setting "Allow trusted Microsoft Services access data" does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independent ID: 837e74fd-2554-8de6-7203-2924006204f2
*

[2019-02-25 08:19] jakaruna-MSFT commented on #25019
@hugree is there any update?

[2019-02-25 08:19] kazshi commented on #25151
@jakaruna-MSFT I provided information as you mentioned - actually that's what I was assuming (from the context and agent wasn't upgraded automatically for existing VMs) and would like to make sure.  Thanks.

[2019-02-25 08:22] dominikmontada opened #25643 ""Visual Studio 2017 Tools for Azure Functions" under "Next steps" links to non existent page (404)"
The passage links to `https://devblogs.microsoft.com/aspnet/azure-function-tools-for-visual-studio-2017/` which results in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azure Functions using V

[2019-02-25 08:24] vdjundjenac opened #25644 "Hyperlink for converged template doesn't work"
When following the link for converged template in "Deploy with a template" section gives the following error:
"There was an error loading the template from URI 'https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/sap-3-tier-marketplace-image-converged/azuredeploy.json'. Ensure that the template is publicly accessible and does not have any comments."

---
#### Document Details

[2019-02-25 08:49] angoyal-msft commented on #25509
@isshukla Thanks for your detailed explanation. As per [this doc](https://docs.microsoft.com/en-us/rest/api/sql/managedinstances/update), this error seems to be related to Subnet instead with the port:

`400 VnetSubnetConflictWithIntendedPolicy - User tried to inject Managed Server subnet that has a conflict with IntendedPolicy.`

Also, I have tried the script as is and it is working fine for me.C

[2019-02-25 08:55] SumanthMarigowda-MSFT commented on #25642
@lehtomar Can you elaborate more information on this issue? If you are getting any error message or error code, please share the screen shot

[2019-02-25 08:57] shivakumarg06 opened #25645 "IMAGE_STATE_UNDEPLOYABLE"
{
    "builders": [{
      "type": "azure-arm",

     Subscription details removed here

      "managed_image_resource_group_name": "myGalleryRG",
      "managed_image_name": "VMHardened-image-V1.0.4",

      "os_type": "Windows",
      "image_publisher": "MicrosoftWindowsServer",
      "image_offer": "WindowsServer",
      "image_sku": "2016-Datacenter",

      "communicator": "winrm",
      "win

[2019-02-25 08:58] ggailey777 commented on #25643
@dominikmontada thanks for letting us know about this bad link.

[2019-02-25 09:00] SubhashVasarapu-MSFT commented on #23090
@Qq20180503 , This requires a deeper investigation, so if you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and your subscription id.

Thank you for your cooperation on this matter and look forward

[2019-02-25 09:04] #23090 closed

[2019-02-25 09:11] theamrzaki opened #25646 "iothub direct method mqtt not working"
# iothub direct method mqtt support

i was able to open a listener on iothub messages (messages from cloud to deivce) but i am unable to subscribe to direct method .

I have followed https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods#mqtt
but there must be a small detail that i haven't managed to do correctly yet

this is my code

[code]

---
#### Document Details

⚠ *D

[2019-02-25 09:13] mcurko opened #25647 "Note"
Get-AzADUser -UserPrincipalName $upn might return nothing. Use Get-AzADUser -DisplayName instead (visible top-right on the portal). The reason is that UPN can be different from email (example UPN: mickey.mouse_contoso.com#EXT#@mickeymouse.onmicrosoft.com).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4b373d-ae48-be

[2019-02-25 09:15] eygdscybersecurity opened #25648 "Is there an option to do one time password for Azure MFA (i.e. if someone loses their phone and they need to MFA without it, can they call the help desk to get a temporary MFA code? If not, are there other options to MFA when you don’t have your phone or hard token?)"
Is there an option to do one time password for Azure MFA (i.e. if someone loses their phone and they need to MFA without it, can they call the help desk to get a temporary MFA code? If not, are there other options to MFA when you don’t have your phone or hard token?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14

[2019-02-25 09:22] #25643 closed

[2019-02-25 09:28] SadiqhAhmed-MSFT commented on #25647
@mcurko Thanks for the comment! We can have this investigated by the content owner and update as appropriate.

[2019-02-25 09:42] imeya opened #25650 "How to use log analytics to monitor vm login event?"
How to use log analytics to monitor vm login event? can you please provide the detailed steps?
And if it is monitored, then in which table I can find it? event table or others?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521c75f5-5d71-10b5-df71-a8a6c0204a2e
* Version Independent ID: 4343bd59-d34e-8d99-a723-

[2019-02-25 09:51] MSSedusch commented on #25644
Thanks for your feedback. The fix should be live within the next 24 hours.

[2019-02-25 09:55] jakaruna-MSFT commented on #25485
@mihammer That script is written based on the assumption that you have created the image definition as per the above table.
You need to replace the publisher, offer and sku to the values which you provided during the image definition creation.
Also you need to load the vm details to the `$vmConfig` varibale using `Get-AzVM`.

That script is used to change the image definition of an existing VM to

[2019-02-25 09:55] jakaruna-MSFT commented on #25485
@mihammer I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-25 09:55] jakaruna-MSFT commented on #25485
@cynthn Please take care of this issue.

[2019-02-25 09:56] #25644 closed

[2019-02-25 09:57] SPATIL456 opened #25653 "Can this be used in python?"
Is this not possible using python code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azure SQL Database and SQL Server](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-

[2019-02-25 10:02] SadiqhAhmed-MSFT commented on #25650
@imeya Thanks for the comment! We will check on this and get back to you soon.

[2019-02-25 10:04] kudlatiger opened #25655 "Is it possible to trigger a function by multiple storage accounts?"
I am having a requirement to parse all incoming messages using Azure function. I used the BlobTrigger and it works fine, but now i want to monitor multiple storage accounts and trigger the same function. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f98e4e-7d3a-684a-06e6-e67c1e73ff78
* Version Indepe

[2019-02-25 10:09] RohitMungi-MSFT commented on #25639
@byatis Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-25 10:14] Sogup commented on #19230
User can’t access these snapshots. Only our service accesses them from the backend based on their availability. User need not worry about selecting these snapshots for restore. For a given date, if the snapshots are available for restore, they will be used by the service automatically

[2019-02-25 10:15] Sogup commented on #19230
#please-close

[2019-02-25 10:15] Sogup commented on #25216
#please-close

[2019-02-25 10:16] RohitMungi-MSFT commented on #25637
@ahmadsocrat Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-25 10:17] SubhashVasarapu-MSFT commented on #25424
@dinu99 , we are assigning this issue to the content author for better explanation. @subsarma can you please provide your insights in this issue.

[2019-02-25 10:24] ManojReddy-MSFT commented on #25136
@GlennMillerNZ I have checked with the product team regarding this. They are deprecating this page and are in the process of publishing of a new one which includes port 80 and 443.

The document will be updated accordingly once the new site is published.

[2019-02-25 10:39] ArvidBaa commented on #20351
@salilbapat Has there been any progress to the issue or at least on the timeframe?

[2019-02-25 10:41] isshukla commented on #25509
Script will run, and it will report that the Subnet is validated for SQL MI. But the SQL MI Deployment fails with error that the Subnet have conflicts with the “intended Policy check”. Which means the script is not validating the Subnet as per the basic requirements.

During your test have you tried deploying SQL MI as well?

From: angoyal-msft <notifications@github.com>
Sent: Monday, February 25,

[2019-02-25 10:49] dturska opened #25656 "http:// should be removed from "Use an existing service principal" example script"
this line:
az role assignment create --assignee http://$SERVICE_PRINCIPAL_ID --scope $ACR_REGISTRY_ID --role acrpull

should be:
az role assignment create --assignee $SERVICE_PRINCIPAL_ID --scope $ACR_REGISTRY_ID --role acrpull

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622be52c-4745-7122-700e-38a64223a698
* Versio

[2019-02-25 10:51] SumanthMarigowda-MSFT commented on #25311
@msLinuxNinja  Apologies for the delay!
You may need to add the -VolumeType parameter if you're encrypting data disks and not the OS disk.

Based on the error message "VMExtensionProvisioningError" may occur due to many reason.

I would request you to look into this article for this [scenario ](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-tsg)

[2019-02-25 11:03] Robert-Kostecki opened #25657 "What is the statics class?"
While the dynamic class is quite well described, the documentation does not explain what precisely the static class memory allocation is.

The comment “Static resource classes allocate the same amount of memory (regardless of DWU level)” is vague to allow deep understanding of the concept. What does it mean “the same amount of memory”? How much memory is this precisely? Is this a percentage? Per n

[2019-02-25 11:22] jtlz2 commented on #7192
See https://stackoverflow.com/a/54863614/1021819

[2019-02-25 11:22] Georg-M commented on #24663
In addition to the workaround given in **Note** for [Deploy the template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-quickstart-create-templates-use-visual-studio-code?tabs=PowerShell#tabpanel_7y-J6+Mjgs-2_PowerShell)
there is one much simpler workaround:
Use **`"$HOME/azuredeploy.json"`** instead of **`"azuredeploy.json"`** in a command-line

[2019-02-25 11:22] OffColour commented on #23128
@mgreenegit For me it is :)

[2019-02-25 11:23] cephalin commented on #24944
@MichelZ Sorry for the delay. In the case of local cache, it's true that D:\home will no longer be persisted AND no longer be shared among instances. If you still want to use local cache, try using [blobs or Redis cache as a workaround for the keys](https://docs.microsoft.com/aspnet/core/security/data-protection/implementation/key-storage-providers).

#please-close

[2019-02-25 11:33] massilp opened #25658 ".NET Core Troubleshooting Logs nuget package name"
Hi,
on the section 'https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data#net-core' the package name should be 'Microsoft.AspNetCore.ApplicationInsights.HostingStartup' linked to 'https://www.nuget.org/packages/Microsoft.AspNetCore.ApplicationInsights.HostingStartup'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-25 11:40] ChiragMishra-MSFT commented on #25447
@KoenVerbeeck Thanks for bringing this to our notice. This is definitely useful in a lot of cases. We are assigning this to the content owner to review and include in the doc.

[2019-02-25 11:41] ChiragMishra-MSFT commented on #25447
@craigg-msft Can you please have a look and update the doc as appropriate.

[2019-02-25 11:54] alevincenzi opened #25659 "Shaping events from different devices (i.e. different json properties)"
Hello
we are wandering what would be the best practice that applies when the events are generated by different type of devices with no intersection of properties.

Consider, as example, messages coming from a device of type A:
[code]
and messages coming from a device of type B
[code]
where `timestamp` is the column used as the source timestamp and `devicetype` the column used as the Time Series ID

[2019-02-25 12:00] beno619 opened #25660 "Setting knownClientApplications not supported in Endpoint v2.0"
As per discussion on this thread https://github.com/MicrosoftDocs/azure-docs/issues/7278.

This documentation should be updated for clarity.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326f7173-a654-fda7-2438-6905da3fdbef
* Version Independent ID: 7dbc5a10-9d61-26e1-f532-973b4bdfae9a
* Content: [How to build an app

[2019-02-25 12:15] RohitMungi-MSFT commented on #25638
@Souvik04 There could be two reasons why the suggestions are not shown:

1. Active Learning is supported for run time version of 4.4.0 and above. Please check the application settings of your app service to check if the correct version is used for the service in azure portal.

2. There could not be enough answers returned by QnA Maker for a given query. If the score differences lie within a small

[2019-02-25 12:21] mcurko opened #25661 "How to use key vault reference in the template file (instead of parameters file)?"
If I try to create a Template deployment in Azure portal with a template that includes a key vault reference, I receive the error:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n \"error\": {\r\n \"details\

[2019-02-25 12:25] Souvik04 commented on #25638
@RohitMungi-MSFT Thanks for the response.

1. I checked the app settings of the QnAMaker service in the Azure portal. The only relevant key-value I found is:

2. Is there a way I can test this with the chit-chat knowledge base (which comes as an option while creating the KB) of the QnAMaker?

[2019-02-25 12:27] Georg-M opened #25662 "Cannot find path 'Azure:/azuredeploy.json' -- workaround"
re: Chapter **"Deploy the template"**, p.4, Note with [workaround description](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-quickstart-create-templates-use-visual-studio-code?tabs=PowerShell#tabpanel_7y-J6+Mjgs-2_PowerShell)
There is one much simpler workaround:
Use **`"$HOME/azuredeploy.json"`** instead of **`"azuredeploy.json"`** in a command-line

---
#### Docu

[2019-02-25 12:31] Nitinkumar2206 opened #25663 "Already protected/failed over through Azure Site Recovery services"
In "Already protected/failed over through Azure Site Recovery services" scenario where configuration server has been deleted . How to reinitiate replication on a different vault??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d72ac543-7402-d3c3-150f-b85f009abe2c
* Version Independent ID: f613426a-e18f-81ef-ddca-d2646e

[2019-02-25 12:55] anas1986 opened #25664 "Restoring to a Different Server"
Hi,

Can anyone help me with an issue? I took a backup using Azure backup server for a certain VM, but I want to restore the backup on a brand new VM. Is this possible? Because I tried to restore from system state backup and from whole volume backup without any luck. I always get various errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-25 12:58] mayurigupta13 commented on #25663
Disable and remove the replication and then set up a new configuration server. Enable protection using the new CS.

[2019-02-25 12:59] NoorSK opened #25665 "Do we need to configure replication in DMS online migration?"
Hi Team,

i have a doubt do we need to configure replication for DMS-Online Migration?

i can see the Register the Microsoft.DataMigration resource provider configuration in Azure DMS Online migration doc in the portal. is it mandatory to configure o not? if yes what is the use of this configuration.

could you please explain more on this.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-02-25 13:03] jwargo commented on #25226
@v-maroge your question was answered 6 days ago, please reread the thread.

[2019-02-25 13:04] bertrandpons opened #25666 "Managed identities for Azure resources with Service Bus - Narrow rights to queue level ?"
From the [documentation: ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity#create-a-new-service-bus-messaging-namespace)
"Navigate to the namespace Access Control (IAM) page on the portal, and then click Add role assignment to add the managed identity to the Owner role. To do so, search for the name of the web application in the Add permissions pan

[2019-02-25 13:38] shashishailaj commented on #25648
@eygdscybersecurity Thank you for your query. We will investigate and update this thread further.

[2019-02-25 13:40] shashishailaj commented on #25660
@beno619 Thank you for your query . We will investigate and update this thread further.

[2019-02-25 13:42] julesman101 opened #25667 "2 Issues with this doc page:"
1. The page makes offers no guidance for Azure CDN Standard by Microsoft.  Whilst this service does not support path based  Geo Filtering, it DOES support endpoint geo-filtering. Indeed the Azure Portal redirects a "Learn More" link from a CDN Endpoint created under Azure CDN Std from MS to this page!

2. The very last bullet point on this page refers the reader to a link for "Azure CDN country Co

[2019-02-25 13:53] shobankr commented on #20737
I have the same issue. Unable to delete VPN or subnet and complaints that there is a NIC connected to the container instance. NIC list is empty in Azure portal and through azure cli. Can I email you please? I have two resource groups stuck like this :)

[2019-02-25 14:13] SadiqhAhmed-MSFT commented on #25664
Thanks for the comment! We will check on this scenario and get back to you soon with an answer.

[2019-02-25 14:14] Aashikms commented on #25433
@AshokPeddakotla-MSFT I have seen that post and it was closed without any proper resolution or comment regarding the query raised in that closed thread. and it doesn't answer my query also.

[2019-02-25 14:23] SadiqhAhmed-MSFT commented on #25662
@Georg-M Thanks for the feedback!
@mumian Can this be considered as a doc-enhancement? Please confirm.

[2019-02-25 14:45] joncooke opened #25669 "Azure Face container preview for ARM"
Our intention is to use the new Face container on an ARM based board.

I plugged the repository details for the Face container into our device manifest and loaded that onto the ARM device.
At this point the other modules download and start but even though I can see in the edgeAgent log that it is trying to get the Face container module it never actually downloads.
Or at least there's nothing in th

[2019-02-25 14:46] webbermt opened #25670 "resourceType should be requestResourceType"
In the Interpret your logs section, the property resourceType should be requestResourceType.

Example:
"requestResourceType": "StoredProcedure",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196c9642-a016-e182-1435-51550b1cdee9
* Version Independent ID: fd354372-db8e-1eb8-dfc2-83e1c6c3954c
* Content: [Diagnostic loggi

[2019-02-25 15:19] opticyclic opened #25671 "Find The Storage Account Name From CloudShell"
Part of the prerequisites for mounting an Azure file share is:

Then in the mount instructions it says

    Use the mount command to mount the Azure file share: Remember to replace <storage-account-name>, <share-name>, <smb-version>, <storage-account-key>, and <mount-point> with the appropriate information for your environment.

How do I know what that information is?
There are multiple storage ac

[2019-02-25 15:21] YutongTie-MSFT commented on #25455
@MarileeTurscak-MSFT Please refer to #17535

[2019-02-25 15:24] diberry commented on #25576
@KevinTupper Thank you for catching this, it has been fixed. #please-close

[2019-02-25 15:35] swasifali opened #25672 "EF generic context"
By putting the SqlConnection in the DbContext, isn't this coupling the EF Context to Sql database ? Is there a way to avoid this ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database connection

[2019-02-25 15:35] Steltek opened #25673 "Clarify MFA with OTP over SMS load balancing layout."
Would be nice to have a clear graph of how to deploy MFA with One-Time SMS configuration. The sentence "However, if you wanted to use OTP over SMS, you must use stateful load balancing." Doesn't clarify if that's only for the mfaapp.contoso.com entities, or also for the internal/external sso.contoso.com AD FS entities themselves.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-02-25 15:37] YASWANTHM-MSFT commented on #25671
@opticyclic, Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-25 15:37] rkarlin commented on #25462
@steverlabs Hi Steve, thanks for your feedback! I'm looking into it and trying to untangle the links there and figure out where the original articles disappeared to. I'll update you when I figure it out.
thanks again for letting us know!

[2019-02-25 15:42] gatornation11 opened #25674 "no /XO option?"
Can't figure out a way to not copy files that already exist in the destination. I tried sync but that just fails and never returns control to the console.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy o

[2019-02-25 15:46] saifuddin123 opened #25675 "Deploy Spring boot application to windows cluster"
These steps show the process on a  linux environment. Do you have any example to do the same on windows 10?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cee43fc2-68c0-9a31-b70f-7668e718cceb
* Version Independent ID: 3a5b49d1-bb73-4ad8-230d-09dd3e827e64
* Content: [Create a Spring Boot app on Service Fabric in Azure](

[2019-02-25 15:52] sergaz-msft commented on #25433
Hello @Aashikms. Thank you for your question. We understand that this request is not related with a specific doc that currently lives under docs.microsoft.com/azure - like @dominicbetts stated "We don't currently have any articles that describe how to implement this specific scenario."

@chipalost is requesting more specifications on the E2E scenarios for connecting IoTEdge with IoTCentral so our

[2019-02-25 15:52] sergaz-msft commented on #25433
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 15:52] #25433 closed

[2019-02-25 15:54] sergaz-msft commented on #14035
Please add a new feedback entry here: https://feedback.azure.com/forums/911455-azure-iot-central
You can then point to these 2 issues (#25433 & #14035 ).

That way others can vote for this feature and help prioritize it's implementation.

Thanks!

[2019-02-25 15:57] SamirFarhat opened #25676 "Alert example not very clear"
The Alert rule example is not very clear (1 - 1 means you are under attack. 0 means you are not under attack.)
In an alert we find fields like:
Condition
Time Aggregation
Threshold
...

Please provide the fields that we need to use when configuring the alert.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53047

[2019-02-25 16:15] WillAutioItrax commented on #25466
@BryanTrach-MSFT  Thanks for the replies. We have left Push Notifications for now. We will be revisiting it in a few months. Maybe things will have changed by then. Thanks for brining App Center to my attention.

[2019-02-25 16:15] #25466 closed

[2019-02-25 16:33] Lavoiec opened #25678 "Typo in Clean up Resources - Note"
"If you are immediately proceeding to the next tutorial to learn how to run ETL operations using Hadoop on HDInsight, you may want to keep the cluster running. This is becuase in the tutorial you have to create a Hadoop cluster again. However, if you are not going through the next tutorial right away, you must delete the cluster now."

Misspelled "because"

Should be
"If you are immediately procee

[2019-02-25 16:34] lynnhtowle opened #25679 "JIT with Remote Desktop Manager (RDCMan)"
I'll be submitting a uservoice on this also, but as I'm not sure how many people use RDCMan, I'm posting it here also :)

Updating RDCMan to use JIT would be an incredible feature upgrade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a6

[2019-02-25 16:35] MouthOfMadness commented on #25064
Ahh, here’s the difference the example documentation is different than the git json file.

The git json file includes the runtime whereas there’s no mention of it in the documentation:
{

              "name": "FUNCTIONS_WORKER_RUNTIME",

              "value": "[variables('functionWorkerRuntime')]"

            }

From: Mike Urnun <notifications@github.com>
Sent: Saturday, February 23, 2019 12:01

[2019-02-25 16:41] kapntech opened #25680 "Missing file, incorrect folder name referenced"
When I debug the solution I get the following error:

Could not find a part of the path 'C:\Users\Profile\Downloads\custom-font-win-container\CustomFontSample\bin\roslyn\csc.exe'

Also, the root folder is referred to as:

Install Font Section: "custom-font-win-container" and
Run App Section: "custom-font-win-container-master".

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-02-25 16:45] cephalin commented on #5703
@andrejpk To expedite adding visibility to the content I've added a link to the Next Steps section. The update should be published at some point today. #please-close

[2019-02-25 16:48] cephalin commented on #24517
@blarsonrp We have a link to the doc you're looking for in the section called "Migrate an active domain". Let me know if that's not the information you need. #please-close

[2019-02-25 16:49] setht2 commented on #25082
FWIW, this is NOT working. The PowerShell script in the ADF Custom Activity is insisting on elevated access on the Batch VM and I cannot find a way to force that. The issue appears to be this: "The custom activity sets the Azure Batch auto-user account to Non-admin access with task scope (the default auto-user specification). You can't change the permission level of the auto-user account.", from h

[2019-02-25 17:03] rohinkoul commented on #25424
@SubhashVasarapu-MSFT : Please assign this issue to me.

[2019-02-25 17:04] sergaz-msft commented on #25231
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 17:04] #25231 closed

[2019-02-25 17:09] Karishma-Tiwari-MSFT commented on #25675
Thanks for the question. We are currently investigating and will update you shortly.

[2019-02-25 17:09] Karishma-Tiwari-MSFT commented on #25656
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 17:17] DianeHadley opened #25681 "Confusing reference to "preceding section""
Documentation contains this line: You can start by creating the directory structure, as described in the preceding section, "Application package file structure."

However, there is no other instance of "Application package file structure" on this page and searching for this title in the "Filter by title" search bar provides no results.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-02-25 17:22] CeciAc opened #25683 "샘플 앱 GitHub 링크 깨짐"
@zer0big commented on [Sat Feb 23 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/322)

샘플 앱을 얻기 위한 링크(https://github.com/azooinmyluggage/fabrikam-node)가 404로 처리됩니다.
조치 부탁 드립니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 043a153e-a24d-0230-b3ee-aa9969865dd5
* Version Independent ID: 89a5fe17-668e-de7b-7720-60fa98112ba0
* Content: [자습서 -

[2019-02-25 17:22] brianesb opened #25684 "Authenticating with Visual Studio, update to reflect recent releases."
Section Authenticating with Visual Studio notes to verify that the App Authentication extension for Visual Studio is installed. But the documentation for that extension notes the extension is only relevant for Visual Studio 2017 update 5, update 6 and presumably later have it installed by default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-25 17:24] CeciAc commented on #25683
Hi team,
there's a link that leads to a 404 page

Found in the Korean page by the user:
![imagen](https://user-images.githubusercontent.com/26746247/53355890-dce49400-3908-11e9-918a-e0ade747a73d.png)

Same issue with the en-us:
![imagen](https://user-images.githubusercontent.com/26746247/53355949-fc7bbc80-3908-11e9-85d4-44b55fec3af3.png)

[2019-02-25 17:28] paulio-git commented on #22114
The resource group creation and deployment will work according to this [documentation](https://docs.microsoft.com/bs-latn-ba/azure/azure-resource-manager/deploy-to-subscription?view=azurermps-5.7.0#create-resource-group-and-deploy-resources). However, if you are to use MS Visual Studio this cannot be the deployment template, as the schema used is not recogonized as the ARM deployment template. If

[2019-02-25 17:30] Karishma-Tiwari-MSFT commented on #25442
@sybrenstuvel Let me know if that helped. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-25 17:31] #25582 closed

[2019-02-25 17:31] cogran opened #25685 "Cross Tenant Custom Subdomains"
The following should be updated to include that any subdomains must also be within a single directory/tenant. It is implied but not explicit:
Make sure the domain name isn't already in use in another directory. A domain name can only be verified in one directory, which means that if your domain name is currently verified in another directory, it can't also be verified in the new directory. To fix

[2019-02-25 17:31] paulio-git opened #25686 "MS Visual Studio does not support this deployment"
The resource group creation and deployment will work according to this documentation. However, if you are to use MS Visual Studio this cannot be the deployment template, as the schema used is not recogonized as the ARM deployment template. If you are to deploy this, you will hit a block where it will say it cannot find the resource groups you are trying to deploy. So I had a different approach, ch

[2019-02-25 17:33] mumian commented on #25662
@Georg-M - thanks for the suggestion.  The changes will go live later today.

#please-close

[2019-02-25 17:34] sergaz-msft commented on #25593
Hi @chris4jahn , since you are customizing the sample of this doc we suggest that you ask the same question on [StackOverflow](https://stackoverflow.com/questions/tagged/iot-devkit). I can see that you are already leveraging https://gitter.im/Microsoft/azure-iot-developer-kit as well.

Thank you!

[2019-02-25 17:35] sergaz-msft commented on #25593
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 17:35] #25593 closed

[2019-02-25 17:37] Mike-Ubezzi-MSFT commented on #25561
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 17:37] #25561 closed

[2019-02-25 17:39] SubhashVasarapu-MSFT commented on #25676
@SamirFarhat , Thanks for your feedback. We looking into this query and will update you as soon as possible.

[2019-02-25 17:40] MicahMcKittrick-MSFT commented on #25681
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 17:41] MicahMcKittrick-MSFT commented on #25645
@shivakumarg06 please provide us with the link to the documentation you are following so we can better assist

[2019-02-25 17:42] MicahMcKittrick-MSFT commented on #25665
@NoorSK please provide us with the link to the documentation you are following so we can better assist

[2019-02-25 17:42] SubhashVasarapu-MSFT commented on #25667
@julesman101 ,Thanks for your feedback. We looking into this query and will update you as soon as possible.

[2019-02-25 17:44] MicahMcKittrick-MSFT commented on #25666
Thanks for the question! We are investigating and will update you shortly.

[2019-02-25 17:45] MicahMcKittrick-MSFT commented on #25669
@joncooke please provide the link to the documentation you are following so we can better assist.

[2019-02-25 17:45] #19230 closed

[2019-02-25 17:46] #24517 closed

[2019-02-25 17:46] #24944 closed

[2019-02-25 17:46] #25576 closed

[2019-02-25 17:46] #5703 closed

[2019-02-25 17:47] CeciAc opened #25687 "Confusion about what happens when the cache is expired, combined with eTag (Verizon Standard)"
@frankfru commented on [Sun Feb 24 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/228)

We want to use a short expiration time (say Cache Control: max-age=30), combined with ETag for validation.
We use Azure CDN Verizon Standard with a storage account as the origin.
The idea is that after expiration of the cache (after 30s), the CDN validates the data in the cache using the ETag, a

[2019-02-25 17:48] NoorSK commented on #25665
Hi Micah,

I followed the below link for Azure migration using DMS online.

https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-azure-sql-online

On Mon, 25 Feb, 2019, 11:12 PM Micah, <notifications@github.com> wrote:

[2019-02-25 17:48] CeciAc commented on #25687
Hi team,
I'm moving this here since the user is referring to the original documentation
best

[2019-02-25 17:56] MicahMcKittrick-MSFT commented on #21118
@v-kents is this something you could assist with?

[2019-02-25 17:58] MicahMcKittrick-MSFT commented on #23291
Just FYI, I am working offline to address this. Will provide updates when I have them.

[2019-02-25 17:58] CHEEKATLAPRADEEP-MSFT commented on #25678
@Lavoiec  Thanks for pointing out the issue, I've addressed this issue in below PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/67579](https://github.com/MicrosoftDocs/azure-docs-pr/pull/67579)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we l

[2019-02-25 17:58] #25678 closed

[2019-02-25 18:06] MicahMcKittrick-MSFT commented on #25543
@sybrenstuvel any update on this?

[2019-02-25 18:07] MicahMcKittrick-MSFT commented on #25567
@ththiem thanks for the update.

@dkkapur @srrengar to comment further.

[2019-02-25 18:08] dkkapur commented on #24404
@Jungers42 fair points, thanks for the feedback. Part of the reason why this is the way it is, is because we are focusing the product on larger critical workloads where we feel operating without an ARM template would potentially create issues in the future. For smaller deployments, we are evolving Service Fabric Mesh and that will likely become the better path. This will ideally allow for a much e

[2019-02-25 18:09] Mike-Ubezzi-MSFT commented on #25534
So, the setting to whitelist your public IP address is the only configuration change that is needed if you are attempting to connect externally. How are you attempting to connect? You might have an issue with your corporate firewall where port `10350` is blocked. This would be a change you would need to make within your corporate LAN environment.

![screenshot 288](https://user-images.githubuserco

[2019-02-25 18:11] olena-microsoft commented on #24783
@BekaDee @tarstaskas We are working on a cloud backup for Android right now, and we're hoping to release the feature soon. Once we have the feature available, hopefully changing to a new phone will be less difficult. Thanks for your feedback. We're definitely taking it into account.

[2019-02-25 18:11] CeciAc opened #25688 "Please modify "AzureStackStampDeploymentInfo.JSON" and "Get-AzureStackInfo""
@mattu0119 commented on [Sun Feb 24 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2190)

I would like to suggest you to modify below.
1, AzureStackStampDeploymentInfo.JSON =&gt; AzureStackStampInformation.json
2, Get-AzureStackInfo =&gt; Get-AzureStackStampInformation

https://docs.microsoft.com/ja-jp/azure/azure-stack/azure-stack-integrate-identity#active-directory-federation-ser

[2019-02-25 18:12] CeciAc commented on #25688
Hi team,
I'm moving this here since the issue is found in the en-us page and replicates in the localized versions
best

[2019-02-25 18:14] MerivaIe opened #25689 "Lacking description for why some resource groups do not support Premium_V2 upgrades"
Hi team,
I cannot see information as to why some resource groups do not support app service plan Premium_V2 upgrades. It seems that despite its location being supported, a resource group may fairly arbitrarily be 'unsupported'. There is not much in the way of exposition @ https://docs.microsoft.com/en-us/azure/app-service/app-service-configure-premium-tier#if-you-get-an-error.
I guess this is beca

[2019-02-25 18:16] ggailey777 commented on #25064
@MouthOfMadness I think that this automation article may be out of date. I'll get someone to take a look at it. @mike-urnun-msft we can reopen this issue in the meantime.

[2019-02-25 18:16] prashanthmadi opened #25690 "Product is in GA and steps doesn't work for files as source"
Hi All,

I was trying to follow this doc to move json file content(in Azure Storage) to azure cosmosdb mongo api and it is empty in map to target databases stage and cannot move forward.
https://docs.microsoft.com/en-us/azure/dms/tutorial-mongodb-cosmos-db-online#map-to-target-databases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-02-25 18:16] MicahMcKittrick-MSFT commented on #25646
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 18:21] cynthn commented on #25485
@mihammer Just to be clear - you can't use the sku, publisher and offer to specify a shared image yet. It is a feature coming in a future release and the description is only there so that folks can start planning how they want to use those values in their own deployments. I'll change that part to  be a "Note" or something to visually separate it from the rest of the doc :)

[2019-02-25 18:23] ggailey777 commented on #25655
@kudlatiger As you may know, a function can have only one trigger. However, you can create a fan-in topology that meets the requirements of your scenario.

For example, you can create a Blob triggered function for each storage account you are monitoring. Each of these functions writes the URL of the incoming blob to a single Queue storage queue using a queue output binding. Your processor function

[2019-02-25 18:24] Ulili commented on #24031
@anthonychu It still happening even when i updated Microsoft.Azure.WebJobs.Extensions.SignalRService to 1.0.0-preview1-10025

[2019-02-25 18:26] ggailey777 commented on #25643
@mike-urnun-msft thanks, but we've already addressed this issue 😁

[2019-02-25 18:28] erhopf commented on #23489
@wilsonchua20 - Any luck or are you still having issues?

[2019-02-25 18:30] SaurabhSharma-MSFT commented on #25304
@Gold14388 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-25 18:30] #25304 closed

[2019-02-25 18:31] anrothMSFT commented on #25639
Hi @byatis :
Do you have an Azure subscription attached to the account you used to log into Custom Vision?

[2019-02-25 18:31] v-kents commented on #21118
@MicahMcKittrick-MSFT Not directly, but I can bring this to the author's and manager's attention
FYI: @v-miclar  and @pbutlerm

[2019-02-25 18:37] Grace-MacJones-MSFT commented on #25680
Hi @kapntech, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 18:38] Grace-MacJones-MSFT commented on #25672
Hi @swasifali, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-25 18:44] MicahMcKittrick-MSFT commented on #25609
@PetroAzure could you share some specifics about the log error you are seeing?

[2019-02-25 18:46] Adam-Smith-MSFT commented on #25674
@gatornation11 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-25 18:48] Grace-MacJones-MSFT commented on #25689
Hi @MerivaIe, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-25 18:49] MicrosoftGuyJFlo commented on #25673
@Steltek

That would be for the MFA server loadbalancer (mfaapp.contoso.com in the graphic). The session needs to persist on the MFA Server that initially gets the call.

[2019-02-25 18:50] MicrosoftGuyJFlo commented on #25673
#in-progress

[2019-02-25 18:57] MicahMcKittrick-MSFT commented on #25613
@inech I don't believe there is a way to work around actually uploading a new certificate when one is going to expire. That being said, I believe SF is set to automatic upgrades so it should update the cluster nodes.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade

Adding @rwike77 and @aljo-microsoft to confirm or elaborate on this ask.

[2019-02-25 18:58] Adam-Smith-MSFT commented on #25674
@gatornation11  You should be careful in using the sync option, what it does is: "For sync, last modified times are used to determine whether to transfer the same file present at both the source and the destination.
If the use case is to incrementally transfer data, then sync is the better choice, since only the modified/missing files are transferred."
Meaning it would delete the files in blob sto

[2019-02-25 19:00] DianeHadley opened #25697 "Can't search for "Service Fabric Explorer""
Since the search bar ("Filter by title") only looks at titles and the title of this page is "Visualize a cluster", searching for "Service Fabric Explorer" or "Explorer" yields no results. I think it would be helpful to new users if the searchable title were "Visualize a cluster with Service fabric Explorer"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-02-25 19:00] ggailey777 commented on #24312
@xiacijie in this case, the function app is being published from a custom Linux image hosted in DockerHub and not from the Core Tools.

[2019-02-25 19:02] diberry commented on #23678
@nathanael-joseph This is on backlog. #please-close

[2019-02-25 19:02] glennsills opened #25698 "What is "SecretsUri""
These two lines in the example of how to access an SAS token in code don't make any sense to me:

// Get a SAS token for our storage from Key Vault. SecretUri is of the format https://&lt;VaultName&gt;.vault.azure.net/secrets/&lt;ExamplePassword&gt;
var sasToken = await kv.GetSecretAsync("SecretUri");

The only thing that makes sense from those two lines is the VaultName. What does "ExamplePasswor

[2019-02-25 19:02] MicrosoftGuyJFlo commented on #25648
@eygdscybersecurity There are no options like one time bypass (MFA Server) currently available for Azure MFA.

You could use Windows Hello for Business (WHfB) as a workaround as users who have logged in with WHfB will have the MFA flag in their sign-in.

If your organization is deploying MFA using a conditional access policy they could create a bypass group and make it time bound so that someone a

[2019-02-25 19:03] MicahMcKittrick-MSFT commented on #25681
@DianeHadley good point. I see the same thing :)

@msfussell @aljo-microsoft could you take a look? Seems like we are missing a link

[2019-02-25 19:06] crgarcia12 opened #25699 "No name 'ServiceBusService' in module 'azure.servicebus'"
I got this error:
No name 'ServiceBusService' in module 'azure.servicebus'

that is because in Python 3 this line:
from azure.servicebus import ServiceBusService, Message, Queue

should be:
from azure.servicebus.control_client import ServiceBusService, Message, Queue

(notice I added 'control_client')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-25 19:08] MicrosoftGuyJFlo commented on #25455
Azure AD will support the use of OATH-TOTP SHA-1 tokens of the 30-second or 60-second variety. Customers can procure these tokens from the vendor of their choice.

You would need to work with your vendor to ensure that the tokens you wish to purchase meet that requirement. Microsoft does not maintain a list of tokens and the standards they support.

[2019-02-25 19:08] Mike-Ubezzi-MSFT commented on #25653
@SPATIL456 There are Python examples but this document is specific to Apache Spark and supports a migration path/option for customer's already using a Spark based solution.

If you are looking for the: [Azure SQL Database libraries for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/sql?view=azure-python).

We will now proceed to close this thread. If there are further questions

[2019-02-25 19:08] #25653 closed

[2019-02-25 19:09] MicahMcKittrick-MSFT commented on #25621
@jzuchora87 looking at the troubleshooting steps we have on Shared images

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/troubleshooting-shared-images

Could you try the same command using the -debug option? This might give us some more details.

I also see this feature is in preview so it is possible there is an issue with the cmdlet as you mentioned since you can deploy using t

[2019-02-25 19:13] MicrosoftGuyJFlo commented on #24947
That configuration item that is shown in that page is specific to MFA Server.

[2019-02-25 19:13] Mike-Ubezzi-MSFT commented on #25657
@Robert-Kostecki Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-02-25 19:14] MicrosoftGuyJFlo commented on #24900
@ManojReddy-MSFT no, you would need to reach out to the product group or CSS.

[2019-02-25 19:15] Mike-Ubezzi-MSFT commented on #25670
@webbermt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-25 19:20] gatornation11 commented on #25674
Yes, that is basically what I want to do. The full story.
Setup up a “azcopy cp” with a PS wrapper. The box it was running on rebooted.
Since that happened I don’t have the full copy complete.
I don’t to recopy what is already up there, that seems inefficient AND there doesn’t appear to be an /XO option with v10.
So I thought I would do the sync option to get the files that didn’t make it on the f

[2019-02-25 19:21] diberry commented on #23696
@ayako The result set is an array. You just need to access the complete array instead of the first element. See this [bot doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-add-qna?view=azure-bot-service-4.0&tabs=csharp), step 8. Instead of looking at just `response[0].Answer`, look at the rest of the response items.

[2019-02-25 19:24] danrday commented on #25128
The correct link should be: https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi

[2019-02-25 19:31] Charmendar commented on #25454
Thanks, if Azure is going to delete the service anyways, why would it be a pre-requisite to shut down the service before cancelling the subscription?

Also if we shut down the service as suggested, is the data still kept backup for 90 days?

[2019-02-25 19:44] BharathNimmala-MSFT commented on #25605
@Leon99 Thanks for your question, similar issue has been discussed [here](https://github.com/MicrosoftDocs/azure-docs/issues/25049#issuecomment-466235052). Would request you to please check that and see if that resolves your issue.

[2019-02-25 19:45] Nking92 commented on #23135
@andreatmicro It is intended that the flag will only work when cloning the entire app instead of a single slot. We can do better by updating the help docs and adding a helpful error message when the user specifies the flag for an unsupported scenario.

I have opened an issue on the Azure Powershell repo to track this: https://github.com/Azure/azure-powershell/issues/8614. Thanks for letting us kno

[2019-02-25 19:46] kgremban commented on #11194
@toddgauntgs No, X.509 support hasn't been added to IoT Edge yet. There is a request on the IoT Edge feedback forum that you can upvote to show your interest in the feature: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/34812739-support-x-509-certificates-in-iot-edge-for-raspbia

[2019-02-25 19:48] femsulu commented on #25686
Thanks for the feedback @paulio-git. Adding content author @tfitzmac , for input on whether to update the doc to include this detail or revise the ARM template to support MS Visual Studio support.

[2019-02-25 19:49] toddgauntgs commented on #11194
@kgremban Thanks for the follow-up. Good to know, definitely interested.

[2019-02-25 19:54] georgewallace commented on #25701
Correcting this issue in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/67623

[2019-02-25 19:57] ellacroi commented on #12315
#please-close
VM guide is getting updated separately

[2019-02-25 19:58] ellacroi commented on #12316
#please-close
This has been re-written

[2019-02-25 19:58] MicahMcKittrick-MSFT commented on #25697
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-25 20:00] EddyP23 commented on #25457
It is very disappointing, but thanks for the answer.

[2019-02-25 20:00] ellacroi commented on #13556
#please-close
Content has been updated, and partner will need to file a support ticket to get their particular question answered.

[2019-02-25 20:01] ellacroi commented on #14050
@qianw211 could you please check the indentation on this article? Have we revised it recently?

[2019-02-25 20:01] BryanTrach-MSFT commented on #24078
@ericnewton76 Please let us know if Joseph's response does not resolve the question.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 20:01] #24078 closed

[2019-02-25 20:01] ellacroi commented on #14052
@qianw211 could you check on our dev center FAQs? I believe we've updated them since this was posted.

[2019-02-25 20:02] ellacroi commented on #14056
#please-close this was dealt with in a separate pr

[2019-02-25 20:03] ellacroi commented on #14553
#please-close we totally revised this article :)

[2019-02-25 20:03] ellacroi commented on #14959
#please-close the feedback has been triaged

[2019-02-25 20:06] #25662 closed

[2019-02-25 20:10] ellacroi commented on #17576
#please-close
@v-miclar this is part of the retirement, correct?

[2019-02-25 20:12] ellacroi commented on #19679
#please-close Keith and Robert and I will double-check that we have this in the new documentation.

[2019-02-25 20:15] ellacroi commented on #23523
@v-miclar would you please review this in light of our document updates? And if we don't have template documentation, we should raise to Patrick.

[2019-02-25 20:16] ellacroi commented on #14437
#please-close this was addressed in a separate PR

[2019-02-25 20:16] ellacroi commented on #10178
#please-close addressed in a separate PR

[2019-02-25 20:17] ellacroi commented on #10598
#please-close the consulting service offer page now includes both storeftonts.

[2019-02-25 20:17] ellacroi commented on #16716
#please-close  this was resolved in a separate PR

[2019-02-25 20:17] andrewdmoreno commented on #25285
@aljo-microsoft - As @vikramdadwal mentioned above, I also don't think that the response to this issue is quite sufficient for closing.

_On my machine only_ I can access my endpoint (which is directly hitting the container) using https albeit with a browser warning, which is expected given the cert I am using was provisioned by key vault.

When I deploy the same image and configuration to mesh is

[2019-02-25 20:19] ellacroi commented on #8538
#please-close resolved separately

[2019-02-25 20:20] ellacroi commented on #9870
@qianw211 would you please check against latest update?

[2019-02-25 20:20] ellacroi commented on #11717
#please-close CPP documentation has been updated

[2019-02-25 20:22] ellacroi commented on #12369
@DougPetrole CPP Documentation is now a component of our publisher guide and is accessible through https://microsoft.sharepoint.com/teams/azureinternal/SitePages/Sponsored%20Offer.aspx

please-close

[2019-02-25 20:24] ellacroi commented on #9825
@timmyreilly thank you for the feedback! This has been shared with our SaaS team and I hope you will check back to this document in the coming weeks as we make updates.

#please-close

[2019-02-25 20:26] ellacroi commented on #8727
@PrHar please review the "learn more" links on the Sophos XG offer. There is a "quickstart" guide near the bottom of the page that would help address your question: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/sophos.sophos-xg-firewall-solution?tab=Overview

[2019-02-25 20:28] MikkelHegn commented on #25697
@rwike77 who managed the TOC

[2019-02-25 20:29] anrothMSFT commented on #25639
(the button will only appear if you have completed this prereq)

[2019-02-25 20:35] #9825 closed

[2019-02-25 20:41] SenthuranSivananthan opened #25705 "Missing schema for networking services"
Can schema be added for the following services:

- Express Route - https://docs.microsoft.com/en-us/azure/expressroute/expressroute-monitoring-metrics-alerts
- Azure Firewall - https://docs.microsoft.com/en-us/azure/firewall/tutorial-diagnostics
- Virtual Networks - Point to NSG Flow Logs?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-02-25 20:45] femsulu commented on #25661
@mcurko Thanks for the comment. we are actively investigating this issue and will update shortly.

[2019-02-25 20:48] TravisCragg-MSFT commented on #25615
@andreas-wilm Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-25 20:51] gatornation11 commented on #25674
update on trying to sync.
C:\azcopy_windows_amd64_10.0.7>azcopy sync --recursive "E:" "https://(redact).blob.core.windows.net/(redact)?(sas key)"

Job a8f206ac-6a43-794c-4177-dbefee94fc41 has started

********
Log file is located at: C:\Users\username/.azcopy/a8f206ac-6a43-794c-4177-dbefee94fc41.log
Sync has enumerated 299445 files to delete from destination. Do you want to delete these files ? Pl

[2019-02-25 20:54] gatornation11 commented on #25674
update on trying to sync.
C:\azcopy_windows_amd64_10.0.7>azcopy sync --recursive "E:" "https://(redact).blob.core.windows.net/(redact)?(sas key)"

Job a8f206ac-6a43-794c-4177-dbefee94fc41 has started

**********
**Log file is located at: C:\Users\username/.azcopy/a8f206ac-6a43-794c-4177-dbefee94fc41.log
Sync has enumerated 299445 files to delete from destination. Do you want to delete these files

[2019-02-25 20:54] gatornation11 commented on #25674
update on trying to sync.
C:\azcopy_windows_amd64_10.0.7>azcopy sync --recursive "E:" "https://(redact).blob.core.windows.net/(redact)?(sas key)"

Job a8f206ac-6a43-794c-4177-dbefee94fc41 has started

**********
Log file is located at: C:\Users\username/.azcopy/a8f206ac-6a43-794c-4177-dbefee94fc41.log
Sync has enumerated 299445 files to delete from destination. Do you want to delete these files ?

[2019-02-25 20:54] jeffgilb commented on #25615
Looks like it was missing *for* in This configuration is not intended to scale or for performance evaluation. Fixed now.

[2019-02-25 20:57] gatornation11 commented on #25674
update on trying to sync.
C:\azcopy_windows_amd64_10.0.7>azcopy sync --recursive "E:" "https://(redact).blob.core.windows.net/(redact)?(sas key)"

Job a8f206ac-6a43-794c-4177-dbefee94fc41 has started

**********
Log file is located at: C:\Users\username/.azcopy/a8f206ac-6a43-794c-4177-dbefee94fc41.log
Sync has enumerated 299445 files to delete from destination. Do you want to delete these files ?

[2019-02-25 20:58] gatornation11 commented on #25674
Tried to un bold that section, deleted copy paste from notepad, what a pain...

[2019-02-25 21:03] TravisCragg-MSFT commented on #25667
@julesman101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-25 21:05] TravisCragg-MSFT commented on #25690
@prashanthmadi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-02-25 21:07] mumian commented on #25661
@mcurko - I think you are look for the information documented in https://docs.microsoft.com/azure/azure-resource-manager/resource-manager-keyvault-parameter#reference-secrets-with-dynamic-id

#please-close

[2019-02-25 21:12] j-martens commented on #23256
@YutongTie-MSFT - #please-assign to blackmist

[2019-02-25 21:12] jeffgilb commented on #25615
#please-close

[2019-02-25 21:14] j-martens commented on #24894
@YutongTie-MSFT - #please-assign to sdgilley

[2019-02-25 21:15] SaurabhSharma-MSFT commented on #25246
@blueelvis I am not sure but reading and writing multiple secrets in shorter span of time may cause some delay.

[2019-02-25 21:16] v-miclar commented on #17576
Correct, the folder  articles/marketplace-publishing/ is now deleted, links to contained files updated, and all file references should be redirected.

[2019-02-25 21:18] j-martens commented on #24389
@YutongTie-MSFT - this has been addressed. #please-close

[2019-02-25 21:18] SaurabhSharma-MSFT commented on #25256
@Nilis312 I am checking internally with the product team and update here once I get any information.

[2019-02-25 21:20] j-martens commented on #24385
@YutongTie-MSFT - #please-assign to Blackmist

[2019-02-25 21:20] msLinuxNinja commented on #25313
As mentioned, the SSHd service should be stopped while encryption is running to avoid users from connecting to the VM and making changes while encryption is running. Once completed the extension can enable SSH access.

[2019-02-25 21:20] wesmc7777 commented on #21894
@boiledeggs Have you reviewed the [TPM Software Stack (TSS) implementations](https://github.com/Microsoft/TSS.MSR). It offer support for various languages. There is support for:

* [Creating a new Endorsement key](https://github.com/Microsoft/TSS.MSR/blob/master/TSS.CPP/Samples/Samples.cpp#L1447)
* [Reading the injected endorsement key](https://github.com/Microsoft/TSS.MSR/blob/master/TSS.CPP/Src/

[2019-02-25 21:21] curtand commented on #20481
Thanks for your patience, @r-milne . And thanks for your contribution.
I'll chat with the PM and verify the answer to add it to the service limits article. Can you confirm this is an on-premises group synced with Azure AD?

[2019-02-25 21:22] georgewallace commented on #25701
@v-makoud This has been corrected and merged

[2019-02-25 21:22] akousmata opened #25706 "'IWebJobsBuilder' does not contain a definition for 'AddAzureStorageCoreServices'"
Getting this error when following the steps for "Create the Host".  Does this mean I'm missing something with the installation?  I made sure I had the Azure SDK installed prior to starting this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e

[2019-02-25 21:22] j-martens commented on #23990
@YutongTie-MSFT - #please-assign to trevorbye

[2019-02-25 21:23] swhite-msft commented on #25377
@rgonsalves Good catch. Updated the doc. Thanks much!

[2019-02-25 21:23] j-martens commented on #23524
@YutongTie-MSFT - I believe this has been resolved. #please-close

[2019-02-25 21:24] j-martens commented on #23049
@YutongTie-MSFT - #please-assign to trevorbye

[2019-02-25 21:27] j-martens commented on #22914
@YutongTie-MSFT - #please-assign to @nibaccam

[2019-02-25 21:28] v-miclar commented on #23523
#please-close
@pbutlerm
This is on our To-do list, but will not be provided in the short term.  Currently there is extensive documentation, including sample code, on the Azure VM site:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/

[2019-02-25 21:29] j-martens commented on #22707
@YutongTie-MSFT - #please-assign to @nibaccam

[2019-02-25 21:29] j-martens commented on #22574
@YutongTie-MSFT - #please-assign to sdgilley

[2019-02-25 21:30] Mike-Ubezzi-MSFT commented on #25348
@Sethu2488 You could use the following operations with the [Databases](https://docs.microsoft.com/en-us/rest/api/sql/databases) end-point to identify details about a specific database. Additionaly, you can ensure that a database instance is being auto-archived:

[Recoverable Databases](https://docs.microsoft.com/en-us/rest/api/sql/recoverabledatabases)
[Restorable Dropped Databases](https://docs.m

[2019-02-25 21:30] #25348 closed

[2019-02-25 21:31] Mike-Ubezzi-MSFT commented on #25559
@ndondapati We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 21:31] #25559 closed

[2019-02-25 21:31] #25701 closed

[2019-02-25 21:32] rwike77 commented on #25697
@DianeHadley That's a good idea, thanks.  I'm making an update.

[2019-02-25 21:32] #10178 closed

[2019-02-25 21:32] #10598 closed

[2019-02-25 21:33] #11717 closed

[2019-02-25 21:33] #12315 closed

[2019-02-25 21:33] #12316 closed

[2019-02-25 21:33] #13556 closed

[2019-02-25 21:33] #14056 closed

[2019-02-25 21:33] #14437 closed

[2019-02-25 21:34] j-martens commented on #19986
@YutongTie-MSFT - #please-close as this article was retired a few weeks ago. We apologize for the late update.

[2019-02-25 21:34] #14553 closed

[2019-02-25 21:34] #14959 closed

[2019-02-25 21:34] ellacroi commented on #8727
#please-close

[2019-02-25 21:34] SaurabhSharma-MSFT commented on #25341
@lightupdifire I am checking up this and let you know once I have any updates.

[2019-02-25 21:34] #19986 closed

[2019-02-25 21:34] #16716 closed

[2019-02-25 21:34] #17576 closed

[2019-02-25 21:34] j-martens commented on #19172
@YutongTie-MSFT - #please-close as this article was retired.

[2019-02-25 21:34] #19679 closed

[2019-02-25 21:35] akousmata commented on #25706
Figured it out, this was due to the fact that I had installed the Microsoft.Azure.WebJobs nuget package and the Microsoft.Azure.WebJobs.Extensions package but for some reason the reference wasn't showing up in the project references.  When I uninstalled and re-installed Microsoft.Azure.WebJobs.Extensions, everything worked fine.

[2019-02-25 21:35] j-martens commented on #19136
@YutongTie-MSFT - #please-close as this article was retired. Sorry for the late response.

[2019-02-25 21:35] #19172 closed

[2019-02-25 21:36] j-martens commented on #18901
@YutongTie-MSFT - #please-assign to aashishb

[2019-02-25 21:36] #19136 closed

[2019-02-25 21:36] #8538 closed

[2019-02-25 21:36] j-martens commented on #16646
@YutongTie-MSFT - #please-assign to sdgilley

[2019-02-25 21:37] YutongTie-MSFT commented on #25377
@swhite-msft Thank you.
@rgonsalves We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-25 21:37] #25377 closed

[2019-02-25 21:38] YutongTie-MSFT commented on #23524
@piizei We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-25 21:38] #23524 closed

[2019-02-25 21:40] Mike-Ubezzi-MSFT commented on #25596
@ycedillos With the release of Azure Monitor for SQL Database, you will have a more streamlined experience versus the Alerts (Classic) and Metrics blades that is currently available for setting up this functionality.

Accomplishing this configuration task would be as follows: [Responding to critical situations](https://docs.microsoft.com/en-us/azure/azure-monitor/overview#responding-to-critical-si

[2019-02-25 21:41] jaszperez commented on #25341
@lightupdifire We are working on improved documentation around how this specifically works. For now we have the following documentation that outlines our performance and scale considerations https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-connectors#performance-and-scalability. We also recommend having multiple connectors to assist with serving multiple connec

[2019-02-25 21:42] j-martens commented on #16204
@YutongTie-MSFT #please-close this as the remaining issue is with the notebook. I've moved this issue to that repo as referenced above. Thanks @ArvidBaa

[2019-02-25 21:42] bjw6092 commented on #25455
Thank you for the response.  To be clear my question is not how often the
OTP changes.  I am interested in the number of digits in the OTP.  My
interpretation is that 8-digit OTPs is an option if the token vendor
supports it.  Let me know if this is not the case.

On Mon, Feb 25, 2019 at 1:08 PM John Flores <notifications@github.com>
wrote:

[2019-02-25 21:43] j-martens commented on #14128
@westmich - No, it will not be discontinued. Quite the opposite as engineering investments are still being made. Stay tuned for information in the coming months.

@YutongTie-MSFT #please-close

[2019-02-25 21:44] wesmc7777 commented on #21894
@boiledeggs Your might be more interested in the [Node.js impelmentation here](https://github.com/Microsoft/TSS.MSR/tree/master/TSS.JS) instead of the lower level CPP implementation I previously posted.

Also, for a Windows 10 Device you could just use the [Get-TpmEndorsementKeyInfo](https://docs.microsoft.com/en-us/powershell/module/trustedplatformmodule/get-tpmendorsementkeyinfo?view=win10-ps) c

[2019-02-25 21:44] timheuer opened #25709 "Rename title of tutorial for accuracy"
The title of this quickstart should be "Create ASP.NET Core app" since that is what it ultimately is walking through.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8460864c-a2ad-b8e5-d1fc-6135a30edfdc
* Version Independent ID: 43f15878-2497-ca3a-324b-9f4b2e9c76dc
* Content: [Create .NET Core app on Linux - Azure App S

[2019-02-25 21:45] j-martens commented on #9510
@YutongTie-MSFT - are you sure this is for Studio and not AML service?

[2019-02-25 21:45] YutongTie-MSFT commented on #25474
@lnr0626 Hi, you can check your endpoint in Azure Portal -> go to your service -> go to overview page. You should see your endpoint and other information. Thanks.

[2019-02-25 21:49] MicrosoftGuyJFlo commented on #25455
As long as the token conforms to OATH-TOTP SHA-1 tokens of the 30-second or 60-second variety they should work but organizations should test before implementation.

[2019-02-25 21:50] KingdomOfEnds commented on #25088
Hi @robinsh - I went ahead and tested more rigorously:

1. The dataset isn't created automatically any more.
1. However, if you upload a sample dataset it will force the dataset to appear.
1. You can also skip ahead and run the device sample. If everything's correctly configured, the dataset will appear.

Thank you for looking into it. I've updated the learning document on my side and I appreciate

[2019-02-25 21:50] #25088 closed

[2019-02-25 21:50] NateB2 commented on #16518
Any update on this? We're looking into using Front Door, but one of our requirements is that our App Services need to see the original host header in order to handle certain redirects/links appropriately.  Is there an X-forwarded-for, X-original-host header (the one used by Application Gateway) or another header we can use to see that information?

[2019-02-25 21:53] curtand commented on #19985
Hi @anwarmahmood1
I'm following up with the PM again right now.
@sakusuma
@bamekait

[2019-02-25 21:58] j-martens commented on #22707
@codybushnell
@YutongTie-MSFT
The PR referenced above fixes this issue. The doc update will go live in a few hours.

[2019-02-25 22:01] j-martens commented on #22914
@prtdomingo
@YutongTie-MSFT
The PR referenced above fixes this issue. The doc update will go live in a few hours. If satisfied, #please-close.

[2019-02-25 22:04] rwike77 commented on #25697
@DianeHadley My update merged and should publish live later this afternoon.  Thanks for the suggestion.  #please-close

[2019-02-25 22:08] trevorbye commented on #23990
@ArvidBaa we likely will not provide an env.yml file in this documentation, simply because it is a simple environment where we are only specifying a Python version and an install of the SDK, both of which can be flexible. We also have multiple ways to install with pip extras so if we provide a .yml file it may not work for everyone's use case. However, I see your point of being able to duplicate y

[2019-02-25 22:13] #25697 closed

[2019-02-25 22:19] NateB2 opened #25711 "Any guidance on restricting App Service traffic to Front Door only?"
Is there any guidance on how to restrict App Service traffic so that it only accepts traffic being routed through Front Door?  More specifically, is the IP assigned to each front door domain static or dynamic?  For example for an Application Gateway V2, we can set up a static public IP and restrict App Service traffic to *just* that IP.  Is there a similar process for Front Door?

---
#### Documen

[2019-02-25 22:20] dragav commented on #25202
Not supported yet, work in progress. Will be publicly announced when available.

[2019-02-25 22:23] MicahMcKittrick-MSFT commented on #25202
Thanks @dragav for confirming that.

@sirdank I will close this for now but if you have followup questions just let me know and we can always reopen and continue the discussion.

[2019-02-25 22:23] #25202 closed

[2019-02-25 22:25] TravisCragg-MSFT commented on #25687
@CeciAc When the cache is expired (in your case, every 30 seconds) the CDN will check the origin using an ETag to see if any changes are made. If the 2 ETags are the same, then no update is needed to the cache, and it will check again in 30 seconds.

If the 2 ETags are different, the cached content is updated from the origin, and will check again in 30 seconds.

[2019-02-25 22:26] TravisCragg-MSFT commented on #25688
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-25 22:26] SaurabhSharma-MSFT commented on #25619
@sowsan Creating custom policy is in private preview currently.  Please refer to this [user voice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20342455-programmatically-manage-b2c-policies).  You can also refer to sample available over [here](https://github.com/Azure-Samples/active-directory-b2c-graph-trustframework-policy) however you need to send mail to aadb2cpre

[2019-02-25 22:27] TravisCragg-MSFT commented on #25615
@andreas-wilm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-25 22:27] #25615 closed

[2019-02-25 22:31] ascortez commented on #24283
Any docs on the Accuracy test? Would love to see feedback on how to improve if we see a poor error rate. Because we do not know how the tests are being done, improving the rate becomes a game of guessing and checking.

[2019-02-25 22:31] ggailey777 commented on #24312
#please-close since this issue is "by design."

[2019-02-25 22:36] MicahMcKittrick-MSFT commented on #25597
@PJMarcum I will close this for now. If you are still having issues, please open a new issue directly on the doc you are having problems with so we can better assist.

[2019-02-25 22:36] #25597 closed

[2019-02-25 22:36] qianw211 commented on #15297
Hi @ellacroi, we need to add a sentence here to explain about "solution status", even after rewriting, I don't feel that the content gives sufficient info on what it is.  Please see: https://docs.microsoft.com/en-us/azure/marketplace/gtm-your-marketplace-benefits, and search for the term "solution status".  Could you provide insights as to define this term?  Thanks!

[2019-02-25 22:39] qianw211 commented on #16498
Hi @v-miclar, this seems to be in the CPP docs, could you please take a look?  Thanks!

[2019-02-25 22:41] qianw211 commented on #16499
@v-miclar Hi Mike, the same issue as the other one.. could you please take a look? Thx!

[2019-02-25 22:41] MicahMcKittrick-MSFT commented on #24853
@dario-ms could you help on this one please?

[2019-02-25 22:43] YoDaMa opened #25712 "Increasing DoWork Delay to 1000 Violates Best Practices for C SDK"
Instead a time should be checked and after 1 second has passed an if statement can be triggered to call IoTHubDeviceClient_LL_SendEventAsync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a00a92-3048-645b-d4a1-eb6b6446268a
* Version Independent ID: 3e4326bd-6992-9aee-e0f4-9c1141982a5a
* Content: [Add correlation IDs

[2019-02-25 22:51] Alberto-Vega-MSFT commented on #25659
@alevincenzi Thanks for your reaching out. Since this doesn't seem like documentation bug or documentation feedback. Would you please create a post on StackOverflow? We have engineers there along with community members that can help you there. If you do so please share the link here. Thanks again!

[2019-02-25 22:53] Mike-Ubezzi-MSFT commented on #25690
@prashanthmadi Can you please review the steps for connecting to Azure Blob Storage: [Specify source details](https://docs.microsoft.com/en-us/azure/dms/tutorial-mongodb-cosmos-db-online#specify-source-details)

- **Data from Azure storage**, which accepts a blob container SAS URL. Select **Blob contains BSON dumps** if the blob container has BSON dumps produced by the MongoDB [bsondump tool](http

[2019-02-25 22:54] CarlRabeler commented on #25452
PR merged @Mike-Ubezzi-MSFT please close

[2019-02-25 22:56] Mike-Ubezzi-MSFT commented on #25452
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-25 22:56] #25452 closed

[2019-02-25 22:56] CarlRabeler commented on #25415
@m60freeman researching...

[2019-02-25 23:00] curtand commented on #14621
@Kazzan
@MohitGargMSFT
We're writing a bunch of new content about admin roles and I will try to get this in there too.

#please-close

[2019-02-25 23:01] PatAltimore commented on #25571
@bospoort Thanks for the feedback. Great suggestion! I logged an item in the backlog to change this for the next release.

Thanks!
Pat

#please-close

[2019-02-25 23:02] qianw211 commented on #9870
#please-close by following the publisher guide, I was able to successfully create a new account and log on.

[2019-02-25 23:04] kobulloc-MSFT commented on #25605
@Leon99 Adding a quick summary what @BharathNimmala-MSFT has said (and the accompanying [thread link](https://github.com/MicrosoftDocs/azure-docs/issues/25049#issuecomment-466235052)):

It's likely that the issue is caused by quota limits (specifically the core limit) within the specific region you are trying to create the AKS cluster.  There are two possible solutions:

- Create an AKS cluster in

[2019-02-25 23:07] WebSpider opened #25714 "Enabling AutoScaler doesn't work on upgraded 1.12.5"
Using this guide to enable Cluster Autoscaler with VMSS does not work when applied to an AKS which stems from 1.9, then upgraded via 1.11 to 1.12.5.

Encountered error is:

C:\&gt;az aks update --resource-group k8s --name pks --enable-cluster-autoscaler --min-count 1 --max-count 3
Operation failed with status: 'Bad Request'. Details: AgentPool 'nodepool1' has set auto scaling as enabled but is not

[2019-02-25 23:08] WebSpider commented on #25714
Please provide instructions how to enable VMSS on an existing cluster?

[2019-02-25 23:08] CarlRabeler commented on #18595
@Mike-Ubezzi-MSFT please assign to @MashaMSFT

[2019-02-25 23:10] j-martens commented on #24800
@jberezanski-mdg
The `scoring_timeout_ms` parameter still has a maximum time of 60 seconds for scoring. This setting is meant only to lower that timeout so that a customer can have a request fail much quicker.

[2019-02-25 23:11] j-martens commented on #24800
@YutongTie-MSFT - #please-close  we will update the SDK documentation to be more specific for this parameter.

[2019-02-25 23:12] spelluru commented on #25699
@crgarcia12 - Thank you for reporting the issue.

Please see the following page for the latest information:
https://docs.microsoft.com/en-us/python/api/overview/azure/servicebus?view=azure-python

I will update the article you mentioned soon.

[2019-02-25 23:16] SnehaGunda commented on #24460
@kazshi and @ijabit Sorry about the delay in getting back on this.

We will be providing a new header "x-ms-cosmos-min-throughput", it will be available soon. It represents the minimum throughput value an offer can be scaled down to. Once you have this header, you should be able to scale the RU limit to not lower than that value. The minimum throughput value is based on the following three propert

[2019-02-25 23:19] #25474 closed

[2019-02-25 23:26] kgremban commented on #12643
@timwieman This article was updated a while ago to remove references to EdgeHubConnectionString and point readers to the ModuleClient reference documentation for the language SDKs. I'm sorry that I forgot to post again on this thread when that change was made. Do you think the current version of the article resolves your original issue, or is there more work to be done?

[2019-02-25 23:27] j-martens commented on #21221
@YutongTie-MSFT please assign to @Blackmist

[2019-02-25 23:27] Rabbit994 opened #25716 "Example of Connecting via Az Modules"
Can we get examples of connecting using nothing but Az Modules? I think it's Connect-AzAutomationConnection but it would be nice to see that spelled out properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038d927f-2bcc-c62d-b3c3-f194513bced6
* Version Independent ID: 41adf2c5-3ab7-7387-e541-89e34aa6a6b1
* Content:

[2019-02-25 23:30] SnehaGunda commented on #25603
@EricBergDE thanks for the feedback,

You can't cancel or exchange an Azure Cosmos DB reserved capacity that you bought. Check your usage to make sure you buy the right plan.

I will update the doc to  include this information.

[2019-02-25 23:30] PatAltimore commented on #25688
@CeciAc Thanks for moving the issue.

#in-progress

[2019-02-25 23:33] EricBergDE commented on #25603
@snehagunda I know this. But someone who is looking into docs may not.

So thank you for updating the doc.

Cheers
Eric

[2019-02-25 23:37] #14128 closed

[2019-02-25 23:38] #16204 closed

[2019-02-25 23:38] #22707 closed

[2019-02-25 23:38] #22914 closed

[2019-02-25 23:38] #24800 closed

[2019-02-25 23:43] BharathNimmala-MSFT commented on #25327
@imeya With below code snippet was able to send custom properties associated to each page. However that would go as new request , it looks like we can add new properties to existing request leveraging ITelemetryInitializer as mentioned [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#add-properties-itelemetryinitializer)

` RequestTelemetry request = new Reque

[2019-02-25 23:44] MicrosoftGuyJFlo commented on #24476
Adding to bullet point in article.

[2019-02-25 23:45] BharathNimmala-MSFT commented on #25326
@imeya With below code snippet was able to send custom properties associated to each page. However that would go as new request , it looks like we can add new properties to existing request leveraging ITelemetryInitializer as mentioned [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#add-properties-itelemetryinitializer)

     `RequestTelemetry request = new R

[2019-02-25 23:49] BharathNimmala-MSFT commented on #25326
@imeya If you have product specific queries you can reach us [here](https://social.msdn.microsoft.com/Forums/vstudio/en-US/home?forum=ApplicationInsights) on MSDN. We check this forum actively and have a team of people that can help you get unblocked. Please feel free to reach out to us.
Hope the above information helps you, if you have any further questions or feedback on the documentation please

[2019-02-25 23:49] #25326 closed

[2019-02-25 23:49] bigdataperson opened #25718 "I get an error that PowerShell failed to execute for the .Net App for Service Fabric in Visual Studio"
URL
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app

Azure Service
Service Fabric

On doing the last steps to debug / run or execute in Visual Studio 2017 Community Edition **(RUN AS ADMIN)**

Error Tab
Severity	Code	Description	Project	File	Line	Suppression State
Error		The PowerShell script failed to execute. See the Output window for details.	Voti

[2019-02-25 23:56] SnehaGunda commented on #25603
@EricBergDE Thanks the above PR should fix, we will now close this issue.

#please-close

[2019-02-25 23:56] #24476 closed

[2019-02-25 23:58] MicrosoftGuyJFlo commented on #25648
#in-progress

[2019-02-26 00:03] BharathNimmala-MSFT commented on #25327
@imeya Please refer to [this](https://github.com/Microsoft/ApplicationInsights-dotnet/issues/820) explanation to better understand on how Telemetry Properties at Indivual Item level and at global level are configured. Make sure Application Insights SDK is correctly configured and either create a new Telemetry request instance or use the existing request before you can add properties to the request

[2019-02-26 00:04] MashaMSFT commented on #20756
Hi @langstonj , since it's been some time, I will assume that this issue is resolved, and proceed with closing out this Git Issue. However, please feel free to respond should you need further, and thanks again for helping us improve Microsoft documentation! #please-close

[2019-02-26 00:04] #25327 closed

[2019-02-26 00:05] #25603 closed

[2019-02-26 00:06] Alberto-Vega-MSFT commented on #25456
@eifinger Thanks again for raising this issue. The portal flow for Azure functions is quite different.  I have assigned the issue to the content author @viv-liu to evaluate and update as appropriate.

[2019-02-26 00:11] shiniizuka opened #25719 "EV Certificates are now supported"
According to the feedback status below, now EV certificates are supported.
https://feedback.azure.com/forums/217313-networking/suggestions/20560924-support-ev-ssl-cerrtificates-in-application-gatewa

Therefore, the statement "EV certs are not supported." should be removed or modified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-26 00:20] MicahMcKittrick-MSFT commented on #25714
@WebSpider you cannot convert AKS deployments that were created not using scalesets to ones that are using scalesets

See the following:

https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#install-aks-preview-cli-extension

After you enable scale set preview it will deploy all AKS instances for that subscription using VMSS instead of stand alone nodes. But as mentioned, you cannot conve

[2019-02-26 00:21] #14621 closed

[2019-02-26 00:21] #23523 closed

[2019-02-26 00:22] #24312 closed

[2019-02-26 00:22] #24389 closed

[2019-02-26 00:22] #25571 closed

[2019-02-26 00:22] #25661 closed

[2019-02-26 00:22] #8727 closed

[2019-02-26 00:22] #9870 closed

[2019-02-26 00:24] MarileeTurscak-MSFT commented on #25612
Yes, you should be able to do this. Please refer to this document. https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-logical

[2019-02-26 00:25] MarileeTurscak-MSFT commented on #25612
Let me know if this helps! If you have further questions please reach out to me on MSDN and I will gladly continue the discussion. https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-logical

Moving the conversation there as product-style questions aren't as well suited for the docs section.

[2019-02-26 00:25] #25612 closed

[2019-02-26 00:28] MicahMcKittrick-MSFT commented on #25711
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-26 00:28] Adam-Smith-MSFT commented on #25674
@gatornation11 This could be a connectivity issue,
I wrote I python script: compare-upl-del-temp.py: in  https://github.com/adamsmith0016/Azure-storage/blob/master/README.md
Which provides you with the answer to the steps you mentioned, feel free to mold it based on your requirements as well.  all you need to put in on the script are mentioned in the Readme section.
Let me know if this helps.

[2019-02-26 00:29] MarileeTurscak-MSFT commented on #25660
@beno619 Are you suggesting that there should be a note about knownClientApplications here? I am assigning this to the content author, @CelesteDG , to look into.

[2019-02-26 00:30] Alberto-Vega-MSFT commented on #25487
@explorer2015  Hi you might want to read [Dps Certificate](https://docs.microsoft.com/en-us/rest/api/iot-dps/dpscertificate) section of the [Azure IoT Hub Device Provisioning Service REST API](https://docs.microsoft.com/en-us/rest/api/iot-dps/)

[2019-02-26 00:30] #25455 closed

[2019-02-26 00:30] MicahMcKittrick-MSFT commented on #25718
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-26 00:32] v-miclar commented on #16498
I’ll take this one.  The topic needs a bit of a touch-up as well as the requested update.

-          Michael LaRosa<mailto:v-miclar@microsoft.com>

From: Qian Wen <notifications@github.com>
Sent: Monday, February 25, 2019 2:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike LaRosa (Murphy & Associates) <v-miclar@microsoft.com>; Mention <mention@noreply.github.com>
Subject

[2019-02-26 00:33] v-miclar commented on #16499
Yep, ditto.

-          Michael LaRosa<mailto:v-miclar@microsoft.com>

From: Qian Wen <notifications@github.com>
Sent: Monday, February 25, 2019 2:41 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike LaRosa (Murphy & Associates) <v-miclar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] MPN id twice here in CS (#16499)

@v-miclar<h

[2019-02-26 00:35] SnehaGunda commented on #24436
@SogoGolf thanks for your feedback, I am working with our product team to find out of there are any existing examples. We will have a work item to update the docs.

[2019-02-26 00:35] MarileeTurscak-MSFT commented on #25679
@lynnhtowle thanks for the feedback! If you have already submitted this request in user voice feel free to leave the link here so we can help prioritize it. I think I already upvoted it if it's the request here. https://feedback.azure.com/forums/347535-azure-security-center/suggestions/36949054-update-remote-desktop-manager-rdcman-to-support

CCing @rkarlin for visibility.

[2019-02-26 00:36] MarileeTurscak-MSFT commented on #25679
We will proceed to close this thread since you have already submitted feedback to the proper channel and the product team is aware. :)

If you have further questions feel free to tag me in the comments.

[2019-02-26 00:36] #25679 closed

[2019-02-26 00:38] explorer2015 commented on #25487
@Alberto-Vega-MSFT , Thanks. Is there a Java API?

[2019-02-26 00:48] kazshi commented on #24460
@SnehaGunda Thank you for the info. Do you have any ETA of when the new header will be implemented?

[2019-02-26 00:55] ijabit commented on #24460
o	Max throughput that you ever increase on the container or the database.

That is the really frustrating thing, it makes it impossible to scale up for a large load without getting locked in to a higher rate. I thought that was one of the big selling points, that you can scale up and down as demand requires! Nothing in the docs says that once you scale up you get locked in. Very disappointing...

[2019-02-26 00:57] imeya commented on #25326
@BharathNimmala-MSFT , the 2 ways you mentioned is actually what I don't want to use.

As you have point it out, the first way only add to a new request(what we manually create like RequestTelemetry request = new RequestTelemetry();), and I just want to add custom property to the request sent by the web itself.

and for the 2nd way(Telemetry Initializers), it will add custom property to all reques

[2019-02-26 01:01] MarkAtAgilliance commented on #25498
Thank you very much for the clarification.

One final question.  I know this is going beyond the doc bug but hopefully this will get me going.

I am using the PUT in preference because patch is not supported in Azure Data Factory Web REST calls.

When you say “In case of PUT request you will have to send the complete Request Body for updating a resource.”, can you tell me what “complete Request Bo

[2019-02-26 01:05] setht2 commented on #25082
After digging online, the issue with "keyset does not exist" was a lack of permission. The account running the PowerShell must have access to the following folder on the Azure Batch VMs: C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys.

[2019-02-26 01:06] MashaMSFT commented on #22104
Hi @agentHoover , thanks again for your feedback! The steps identified in the article have been corrected. Can you please verify your issue has been addressed? Thanks!

[2019-02-26 01:06] Alberto-Vega-MSFT commented on #25487
Not sure if it exposes what you need but check this https://docs.microsoft.com/en-us/java/api/overview/azure/iot?view=azure-java-stable

[2019-02-26 01:12] ellacroi commented on #15297
Hi Qian,

Sure thing. I think we can replace “solution status” with List-Trial-Transact.

Or, in other words, “based on whether your offer is List, Trial, or Transact, you will receive either an email with self-help resources” etc.

Sincerely,

Lizzie

From: Qian Wen <notifications@github.com>
Sent: Monday, February 25, 2019 2:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc:

[2019-02-26 01:20] BryanTrach-MSFT commented on #25709
@timheuer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-26 01:21] BryanTrach-MSFT commented on #25706
@akousmata Glad to hear that you were able to quickly resolve the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 01:21] #25706 closed

[2019-02-26 01:23] explorer2015 commented on #25487
No, it doesn't. Can you please add it in a future release?
Even better would be the ability to add the verification certificate, to the enrollment group that is created.
EnrollmentGroup enrollmentGroup = new EnrollmentGroup( enrollmentGroupId,                     attestation, verificationCert);
Obviously we would need an API to get the verification code, which goes into the verification cert.

[2019-02-26 01:27] Alberto-Vega-MSFT commented on #25712
Thanks @YoDaMa  I have assigned the issue to the content author to update as appropriate.

[2019-02-26 01:48] wilsonchua20 commented on #23489
It got stuck at Response response = client.newCall(request).execute(); error was 500 internal server error. btw, i am using oracle jdeveloper

[2019-02-26 01:54] Alberto-Vega-MSFT commented on #25646
@theamrzaki It seems like your issue is not a documentation bug or feedback. Your question might be better suited for a developer forum like StackOverflow or MSDN. Please post there and share the link here. Also I found a tutorial that  should be useful for you [Quickstart: Control a device connected to an IoT hub (Python)](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-p

[2019-02-26 01:59] curtand commented on #25145
Hi @Anand-Moghe
I'm halfway through this now.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/67697

[2019-02-26 02:07] femsulu commented on #25716
@Rabbit994 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-26 02:09] femsulu commented on #25705
@SenthuranSivananthan  Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-26 02:16] kobulloc-MSFT commented on #25506
@craigsmitham I'm in the process of confirming this, but it does appear that End-to-end transaction details are only generated for failures.

![image](https://user-images.githubusercontent.com/37556655/53382462-4f656c00-3929-11e9-97fa-0149b5b3e4f6.png)

[2019-02-26 02:22] KeiroKamioka0000 opened #25722 "Premium and Business Critical service tier availability?"
Is [Premium and Business Critical service tier availability] are different availability service from Active Geo-Replication?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72686abb969
* Content: [High availability - Azure SQ

[2019-02-26 02:41] spelluru commented on #25430
@yuwzho - Thank you for reporting the issue.

Fixing it now.

[2019-02-26 02:41] spelluru commented on #25430
#please-close

[2019-02-26 02:42] spelluru commented on #25448
#please-close

[2019-02-26 02:47] dcbrown16 opened #25724 "Unclear sentence"
"Standard SSD is supported if you're running the latest version of Azure VM backup (known as Instant Restore), standard SSD is supported."
This is repetitive and a bit unclear. Are SSD disks only supported through instant restore (v2)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2dde49-662d-fc39-a03f-c67f7f86df67

[2019-02-26 03:06] tuthan commented on #23919
I have the same issue. Adding ?x-ms-routing-name=slotname to URL it doesn't work. Go to Deployment Slots change % traffic to 1% on the slot. The manual route works
Switch back to 0% --> it will not work anymore.
Is it the desire behavior?

[2019-02-26 03:21] #25430 closed

[2019-02-26 03:38] KetanChawda-MSFT commented on #25633
@bcube Checking in to see if the above post helped answer your question. Let me know if there are still any additional issues I can help with.

[2019-02-26 03:39] KetanChawda-MSFT commented on #25418
@rizwaans We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 03:39] #25418 closed

[2019-02-26 03:45] dcbrown16 opened #25725 "Portal and Blueprint support"
I take it that the Portal and Azure Blueprint do not support deploying in Complete mode at this time? They only use the default Incremental mode and have no option to specify otherwise, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ce7cbb-3274-2b02-e768-0c33e639b11a
* Version Independent ID: eb458727-aafa-6a8

[2019-02-26 03:47] PramodValavala-MSFT commented on #25448
@spelluru Thanks!

@mambru We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-26 03:47] #25448 closed

[2019-02-26 03:52] KeiroKamioka0000 opened #25726 "Would like to know detail about log"
Such as Crash Dumps(logs), it just say"	Information about the state of the process if an application crashes"

Please consider of adding the 'detail's of the actual information could be recorded, prefer with example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1ee470-5d0c-4281-edac-d3b88287caab
* Version Independe

[2019-02-26 03:53] DixitArora-MSFT commented on #25457
@EddyP23 As there is already a user voice on this. So my recommendation is to upvote this for feature request.
https://feedback.azure.com/forums/909934-azure-event-grid/suggestions/36474007-static-public-ip-address

For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2019-02-26 03:53] #25457 closed

[2019-02-26 04:00] PramodValavala-MSFT commented on #24291
@butacristian There have a been a couple of updates to both this document and the corresponding samples repo which should address the issues discussed. Please give it a another try and let us know if you are still facing issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2019-02-26 04:00] #24291 closed

[2019-02-26 04:08] CastleArg opened #25727 "webpack example"
It would be great to have an example of using webpack to bundle a typical javascript function with tree shaking etc.
https://github.com/Azure/azure-functions-pack  seemed like a good solution that is no longer maintained and points here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44

[2019-02-26 04:08] MarileeTurscak-MSFT commented on #25684
@brianesb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-26 04:08] MarileeTurscak-MSFT commented on #25685
@cogran
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-26 04:09] MarileeTurscak-MSFT commented on #25698
@glennsills
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-26 04:15] shashishailaj commented on #24677
@gutjahr We have a few articles on the same . Please check the same if they help you .

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-attributes-synchronized
https://support.microsoft.com/en-us/help/2256198/list-of-attributes-that-are-synced-by-the-azure-active-directory-sync

In case you require any further details , please let us know.

[2019-02-26 04:18] CHEEKATLAPRADEEP-MSFT commented on #25519
@VidyaSalimath Could you ask your question in the forums? The audience there would be a better suited to answer your question. https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

[2019-02-26 04:21] kudlatiger commented on #25655
Does fan in topology scale well?

[2019-02-26 04:50] BhargaviAnnadevara-MSFT commented on #25683
@CeciAc Thanks for the feedback! I've assigned this issue to the Content Author to evaluate and update as appropriate.

@TomArcherMsft The highlighted link seems to be broken. Please take a look. Thanks.

[2019-02-26 04:57] kazshi opened #25728 "Please add information for Virtual Network property"
Please add information for Virtual Network property (although it's in preview). It (portal) has a link to 'Deploying Azure Databricks in your Azure Virtual Network', but currently the page is in English only (no localized page for non-English).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2142d15a-97b4-c4fc-b0af-da2d

[2019-02-26 05:03] CHEEKATLAPRADEEP-MSFT commented on #25728
@kazshi Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-02-26 05:25] ManojReddy-MSFT commented on #25419
@htate1234 I am working regarding this internally and will provide an update ASAP.

[2019-02-26 05:25] RohitMungi-MSFT commented on #25638
@Souvik04 the run time version can be checked on the App Services' application settings page as seen in this screen grab.
![settings_qna_maker](https://user-images.githubusercontent.com/46958063/53389127-1920fe80-39b4-11e9-889a-4fe3d367d098.jpg)

You can test with the chit-chat KB using the Test option in qnamaker.ai for your KB, A screen shot of the same is also attached for a test KB I created.

[2019-02-26 05:28] v-maroge opened #25734 "API reference for Video Moderation"
Hi, is there a API reference for Video Moderation as there is for Image/Text moderation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a46e4ca-3b60-cfe5-8234-2846162e747d
* Version Independent ID: aeb46754-1289-c72b-2a4e-86829f42dbff
* Content: [API reference - Content Moderator](https://docs.microsoft.com/en-us/azur

[2019-02-26 05:28] RohitMungi-MSFT commented on #25639
@anrothMSFT Thanks for your inputs. @byatis Could you please check if the correct subscription is attached to your custom vision login?

[2019-02-26 05:36] snmn opened #25735 "this above code is of gcm where as i am using firebase and i am stuck here"
the documentation above needs more guide lines and an example solution in github please help me i am stuck here creating notification hub and i am issues in registration of devices in notificationhub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9a2c2c5-615f-a3da-f57f-119750ff893f
* Version Independent ID: ca22039e-b

[2019-02-26 05:43] YASWANTHM-MSFT commented on #25149
@KeiroKamioka0000, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-26 05:43] #25149 closed

[2019-02-26 05:44] JesvinJoseph commented on #25351
If we have an option to update the property of offline message like in V1, we can add a property like
`{
"TYPE" : "OFFLINE"
}`
so that we can route the offline message at IoTHub and divert them to store in ADLS without processing. We need to process the ONLINE messages in Stream Analytics and will send to Dashboard for visualisation.

Which method is the best you think best for filtering OFFLINE m

[2019-02-26 05:44] YASWANTHM-MSFT commented on #25407
@moab360, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-26 05:44] #25407 closed

[2019-02-26 05:46] KeiroKamioka0000 opened #25736 "Maximum files can be stored?"
Regarding built-in logging.
Is there are maximum files can be stored in [D:\home\LogFiles\Application\Functions\Host]???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.mi

[2019-02-26 05:48] YASWANTHM-MSFT commented on #25403
@bhanu7755, Any update on this?

Let us know if you want any further assistance on this.

[2019-02-26 06:02] YASWANTHM-MSFT commented on #25671
@opticyclic, Can you please elaborate with little bit more information in detail ?
Are you getting any error while mounting the Azure file share on Linux?
If yes, please provide the error code with screen shot to help better on this?

[2019-02-26 06:03] RohitMungi-MSFT commented on #25734
@v-maroge Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-26 06:09] BhargaviAnnadevara-MSFT commented on #25658
@massilp Thanks for bringing this to our attention! I've submitted a Pull request with the changes and expect it to reflect soon!

[2019-02-26 06:12] Souvik04 commented on #25638
@RohitMungi-MSFT I checked the version. It is v 4.7 same as yours. I have some confusion understanding how the Active Learning works. Could you please take the chit-chat (professional) and explain it through some example questions? So that I can try the same here and see if those gets added as suggestion.

I tried some questions (similar to few existing question) in the Test window of QnAMaker.

!

[2019-02-26 06:15] sanjeev3 commented on #25734
@v-maroge, The video moderation is done via the media processor in Azure Media Services. See the QuickStart that uses the AMS .NET SDK at https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/video-moderation-api.  Also see https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/video-reviews-quickstart-dotnet and https://docs.microsoft.com/en-us/azure/cog

[2019-02-26 06:21] sanjeev3 commented on #25734
if you are looking for a REST API, use the Video Indexer API reference at https://api-portal.videoindexer.ai/docs/services/operations/operations/Create-Brand to "Upload", "GetVideoIndex", and "Get Video Artifact Download Url" operation for getting either the flagged keyframes or the full output from the Content Moderator MP.

[2019-02-26 06:22] sanjeev3 commented on #25734
We plan to create a couple of QuickStarts using the Video Indexer REST API and the Content Moderator API's video review operations.

[2019-02-26 06:23] angoyal-msft commented on #25629
@danvanderboom Thanks for your valuable feedback. We have updated the document.
So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 06:23] #25629 closed

[2019-02-26 06:23] angoyal-msft commented on #25628
@danvanderboom Thanks for your valuable feedback. We have updated the document.
So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 06:23] #25628 closed

[2019-02-26 06:24] angoyal-msft commented on #25627
@danvanderboom Thanks for your valuable feedback. We have updated the document.
So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 06:24] #25627 closed

[2019-02-26 06:26] angoyal-msft commented on #24460
@SnehaGunda Thanks for your valuable inputs. I have assigned this issue to you for further clarifications.

[2019-02-26 06:31] PramodValavala-MSFT commented on #25727
@CastleArg I believe you should still be able to use the tool even though its not maintained anymore.

This tool is now replaced by [Run From Package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) as mentioned in the README which has the same benefits (apart from size of the package which I believe shouldn't really affect the performance by a lot)

[2019-02-26 06:33] angoyal-msft commented on #24333
@kazshi Thanks for the clarification. I have assigned this issue to the content author (@srdan-bozovic-msft ) to help you further on this.

[2019-02-26 06:39] DixitArora-MSFT commented on #25461
@romankiss The below link discuss about general availability of the following set of features only :

- Dead lettering
- Retry policies
- Storage Queues as a destination
- Hybrid Connections as a destination
- Manual Validation Handshake

https://azure.microsoft.com/en-us/blog/more-reliable-event-driven-applications-in-azure-with-an-updated-event-grid/

Regarding REST APIs related to the event dom

[2019-02-26 06:39] batizar commented on #25005
@ggailey777 So now for both 2.0 and 3.0 is ok to use .netcore, right? thanks.

[2019-02-26 06:40] angoyal-msft commented on #24227
@MCrank Thanks for your patience. We don't have much update on this as of now. So content author might be able to help you better on this. So assigning this issue to content author.
@roygara Could you please help us with this issue.

[2019-02-26 06:41] ggailey777 commented on #25005
You will need to use SDK 3.0 for a netcore app. The doc updates should be live now.

[2019-02-26 06:42] Werner-MOC commented on #25236
I have tried that already, same result. Instead of -DestinationPath I have only -Outpath on my Windows 10 system. The parameter -DestinationPath works on my ASDK Windows 2016 Server, so you can close this case. It is just an optional parameter, and on my Windows 10 system I can live with it, even I do not know what exactly is the reason behind this behaviour.

[2019-02-26 06:42] #25236 closed

[2019-02-26 06:43] art-gregorio commented on #24653
Hi, can this step be used on a classic VM?

[2019-02-26 06:44] angoyal-msft commented on #24332
@Cephei Thanks for your patience. We don't have much update on this as of now. So content author might be able to help you better on this. So assigning this issue to content author.
@kanshiG Could you please help us with this issue.

[2019-02-26 06:46] angoyal-msft commented on #24239
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 06:52] ManojReddy-MSFT commented on #24900
@MicrosoftGuyJFlo Thanks for letting me know. I have already reached out to the product team regarding this and will update the issue as soon as possible.

[2019-02-26 06:54] shashishailaj commented on #24913
@IanMercer We have updated the document and put in a pull request for review to the authors.

@priyamohanram @arluca Could you please review the proposed changes and help merge the pull if appropriate.

[2019-02-26 07:01] eygdscybersecurity commented on #25648
Do we any option to get a temporary MFA code?  in case trusted device is lost/broken

[2019-02-26 07:04] angoyal-msft commented on #23948
Although its too late to reply, I would just recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/217321-sql-database). All the feedback you share, is closely monitored by the Product team and implemented in future releases.

[2019-02-26 07:04] angoyal-msft commented on #23948
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-26 07:04] #23948 closed

[2019-02-26 07:15] Sethu2488 commented on #25348
Thank you for the update. We are not looking at creating an alert rule. Received an email below,
On December 10, 2018, we’re introducing a new policy for Azure SQL Data Warehouse: the data and backups for inactive instances that have been paused for more than 28 consecutive days will be auto-archived.
Appreciate your assistance on auto - archived status

[2019-02-26 07:16] theamrzaki commented on #25646
Thanks for your reply @Alberto-Vega-MSFT , I have now posted the question on both [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/744c36e1-5160-4271-a3fb-e50e41b7a871/iothub-direct-method-mqtt-not-working?forum=azureiothub)   and on [stackoverflow](https://stackoverflow.com/questions/54880165/azure-iothub-direct-method-not-working-as-expected)
, just to clarify concerning the tutorial

[2019-02-26 07:20] YASWANTHM-MSFT commented on #25411
@Hanwen196 ,

Sorry for the delayed response!

You can install the specific version of Azure storage explorer version (1.2.0) using Chocolatey  as described in the below link.
Ref:- [Download and install the Microsoft Azure storage explorer](https://chocolatey.org/packages/microsoftazurestorageexplorer/1.2.0)

You can also check the all the version of storage explorer under version history in the

[2019-02-26 07:28] dcbrown16 opened #25739 "Azure Repos authentication"
What method is used to authenticate with Azure Repos (under either option if different) from App Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81dce42d-71bc-9ac0-b016-4add247bb48a
* Version Independent ID: 72e95a87-a302-d06c-5a0f-e2f5caf201d1
* Content: [Continuous deployment - Azure App Service](https://docs