[2018-07-23 19:09] #12155 closed

[2018-07-23 19:14] appi101 commented on #12149
@Bruno Caminada<mailto:brcamina@microsoft.com> can you please take a look?

From: Oana Platon <notifications@github.com>
Sent: Monday, July 23, 2018 10:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aprameya Rao <Aprameya.Rao@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Minimum replica count and quorum are the same (#12149)

@

[2018-07-23 19:17] MicahMcKittrick-MSFT commented on #12180
I can fix the casing however I am not seeing any issues with the characters. I pasted it into my PowerShell and ISE session and did not see any complaints about spaces or dashes.

@ramankumarlive can you take a look?

[2018-07-23 19:20] MohitGargMSFT commented on #11714
@jasonsch69 We will now proceed to close this thread. If you still need assistance, please open a new MSDN forum post. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

[2018-07-23 19:20] #11714 closed

[2018-07-23 19:21] mmacy commented on #11993
Hi @timwebster9, thanks for your patience. After doing some testing and speaking with the product team, I've found this statement to be **false**, and I'll be removing it from the article.

#in-progress

[2018-07-23 19:22] eraoul commented on #12180
Hmmm. The only difference I can see is that I pasted it into Sublime Text
(on Windows) and then edited the file and ran the script from powershell; I
didn't paste it directly into the terminal.

On Mon, Jul 23, 2018 at 12:18 PM, Micah <notifications@github.com> wrote:

[2018-07-23 19:23] TravisCragg-MSFT commented on #12205
@Flodu31 I was able to delete a firewall and recreate it on the same VNET. For further assistance please contact Microsoft Support or post your issue on the[ MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork).

[2018-07-23 19:23] MohitGargMSFT commented on #12044
@kgreed We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-23 19:23] #12044 closed

[2018-07-23 19:29] #10696 closed

[2018-07-23 19:30] MicahMcKittrick-MSFT commented on #12180
@eraoul these are designed to run in PowerShell. So I generally just open then directly in a PowerShell session. I tried opening in notepad and saving as a .ps1 but seems to run fine as well.

[2018-07-23 19:31] vasivara-MSFT commented on #10698
@ratchetwrench We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:31] #10698 closed

[2018-07-23 19:32] CelesteDG commented on #11262
@MohitGargMSFT @SaurabhSharma-MSFT @MicahMcKittrick-MSFT @Mike-Ubezzi-MSFT The change was merged and issue has been addressed. Thank you. #please-close

[2018-07-23 19:32] MohitGargMSFT commented on #12064
@mjgar Please note that the best way possible to auto enroll device is through Intune. Refer to this document for the same - [Set up enrollment for Windows devices](https://docs.microsoft.com/en-us/intune/windows-enroll).

[2018-07-23 19:32] eraoul commented on #12180
OK, maybe I had bad luck :)  FWIW though, you need to edit the connection
strings up top, so it doesn't make sense to copy/paste into anything other
than an editable script, does it?

On Mon, Jul 23, 2018 at 12:30 PM, Micah <notifications@github.com> wrote:

[2018-07-23 19:34] vasivara-MSFT commented on #11628
@shawnstengel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:34] #11628 closed

[2018-07-23 19:34] vasivara-MSFT commented on #11782
@MicrosoftGuyJFlo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:34] #11782 closed

[2018-07-23 19:34] neilpeterson commented on #12173
@Mike-Ubezzi-MSFT - can you assign this to myself?

@iainfoulds - we should consider dropping Gabe as doc owner on this one.

[2018-07-23 19:35] vasivara-MSFT commented on #11890
@algattik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:35] #11890 closed

[2018-07-23 19:35] vasivara-MSFT commented on #12171
@andybeak We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:35] #12171 closed

[2018-07-23 19:36] vasivara-MSFT commented on #12218
@rmanjoney We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:36] neilpeterson commented on #12057
@MicahMcKittrick-MSFT - can you assign this to myself. I think @lachie83 has enough on his plate :).

Thanks

[2018-07-23 19:36] #12218 closed

[2018-07-23 19:37] neilpeterson commented on #11768
@MicahMcKittrick-MSFT - can you assign this one to me?

Thanks

[2018-07-23 19:41] #11262 closed

[2018-07-23 19:43] SaurabhSharma-MSFT commented on #12041
@kgreed Thank, I acknowledge your concern.  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-23 19:43] SaurabhSharma-MSFT commented on #12040
@kgreed We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:43] #12040 closed

[2018-07-23 19:43] CelesteDG commented on #10642
@notoriousedd - Thank you for your feedback. I'm following up on this and will update the docs once I've got more info.

[2018-07-23 19:44] SaurabhSharma-MSFT commented on #12039
@kgreed We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 19:44] #12039 closed

[2018-07-23 19:44] vasivara-MSFT commented on #12203
@kwanlowe Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-23 19:44] MicahMcKittrick-MSFT commented on #12180
Correct. I would assume most people would put the script into notepad or PowerShell ISE to edit it but obviously there are other editors out there.

Possibly something else we can mention in the doc to be more clear. I will still let @ramankumarlive take a look and see how we can make it better :)

[2018-07-23 19:46] vasivara-MSFT commented on #12208
@jholovacs Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-23 19:51] dubrox commented on #12093
Same issue, on Android 8, app version 6.2.29

[2018-07-23 19:53] MohitGargMSFT commented on #12185
@ryancrawcour Request you to please run below to install AzureRM.ManagedServiceIdentity module. This will resolve your issue.

`Install-Module -Name AzureRM.ManagedServiceIdentity -AllowPrerelease `

[2018-07-23 19:55] MohitGargMSFT commented on #11791
@davidmu1 Please help with an update here.

[2018-07-23 19:56] xocolatl-aficionado opened #12238 "Null channel issue"
The channel being set to null gives an error notification on the emulator.
![image](https://user-images.githubusercontent.com/17209734/43099700-9abd3f76-8e88-11e8-8ba4-4fde7d695aa0.png)

Why do we not create a channel explicitly and assign it to the notfiy method?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-

[2018-07-23 19:56] kwanlowe commented on #12203
Great, thanks. I'm at the hackathon event at the moment and this is a key component.

[2018-07-23 19:56] SaurabhSharma-MSFT commented on #12178
@johncrim Service Fabric is not supported.  Please refer
https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview to get the list of services supported including Linux.

[2018-07-23 20:02] ramankumarlive commented on #11743
Created a pull request to fix the issue

[2018-07-23 20:05] YutongTie-MSFT commented on #12203
@noellelacharite Hi, I think this is a doc-bug about the code sample? Should I file a bug and create a work-item for it or we can change it directly? Thanks a lot!

[2018-07-23 20:06] alkohli commented on #10272
The fix was created and the PR is merged: https://github.com/MicrosoftDocs/azure-docs-pr/pull/47219. The content should go live today.

#please-close

[2018-07-23 20:08] artro03 opened #12240 "GRUB2 and manual edit of /etc/sudoers"
Hello
Can we please have updated documentation about what to do when SUSE is using GRUB2?
I have a concern about telling people to manually edit the /etc/sudoers file.  manual editing is taught as a bad practice.  Best practice is to use "visudo" to edit the sudo permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-23 20:09] mjgar commented on #12064
Thank you, we are already using Intune for devices that are exclusively Azure AD joined but are not ready to proceed with Hybrid AD joins at the moment.

As a stop gap, I'd like to seamlessly register on-prem AD joined user devices for a seamless SSO experience with Office 365. Office 1803 is currently prompting users to register their devices via a GUI we haven't been able to suppress unless the

[2018-07-23 20:09] MicahMcKittrick-MSFT commented on #12240
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-23 20:12] Mike-Ubezzi-MSFT commented on #11597
@saifuddin123 Sergio is out in vacation. I apologize that this is not working for you. Can you redeploy the modules? Do the IoTEdge commands hang and do not return status information? The following issue has been logged: Azure/iotedge#54 And want to see if you are experiencing the same?

[2018-07-23 20:15] whaakman opened #12241 "Issue configuring following quickstart (EdgeAgent not running)"
Hi,

Following the quickstart I am unable to continu after attempting to run the edge agent (start-service iotedge).

"iotedge list" returns empty:

[code]

I am receiving the following errors when requesting the log:
[code]
At first I though this might be an issue with my docker configuration. However I have cleaned up all images and even reinstalled Docker. Docker is configured to run Linux cont

[2018-07-23 20:19] Alberto-Vega commented on #12214
@fmorriso Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-23 20:19] szarkos commented on #12240
The requirement to edit /etc/sudoers is not at all related to grub.  The issue is that SLES11 had a default sudoers configuration ("Defaults targetpw") that was incompatible with Azure in that it required users to enter the 'root' password to elevate privileges rather than their own password.  Since Azure does not set a root password then this configuration cannot work.

This parameter is part of

[2018-07-23 20:28] Roblarson opened #12242 "Fix references to syncing passwords to syncing password hashes"
There are multiple places in the content where the reference to syncing a password versus the password hash exist (the first is in the very first sentence). Those all need to be fixed to not cause confusion around this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4c06608-fe23-4097-f78a-123667ac763f
* Versio

[2018-07-23 20:30] JasonWHowell commented on #11187
@chasedai please let us know if you are still blocked by this issue. If not, that's fine too, and we will close as-is. Thanks, Jason

[2018-07-23 20:31] Karishma-Tiwari-MSFT commented on #12220
@hughobrienjet
While the Azure platform attempts to use memory preserving maintenance in all possible occasions, there are rare instances when these updates require a reboot of your virtual machine to apply the required updates to the underlying infrastructure.
Update domain approach ensures that at least one instance of your application always remains running as the Azure platform undergoes perio

[2018-07-23 20:32] kgreed commented on #12041
Thanks @SaurabhSharma-MSFT

[2018-07-23 20:33] Mike-Ubezzi-MSFT commented on #12225
@tchadwick Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-23 20:35] LisandroSu opened #12243 "「Blob path ends with」プロパティの記載例について"
@keisukef commented on [Wed Jul 18 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/590)

[フィードバックをこちらに入力してください]

例として掲載している画面キャプチャの「Blob path ends with」プロパティに「.csv」と記載していますが、この設定でEventTriggerを登録した場合、BlobStorageのイベントのSUFFIX FILTERには「/blobs/.csv」と登録されます。
マニュアルの例から、「Blob path ends with」プロパティに「.csv」と入力することで、拡張子がcsvのファイルは全て条件に一致する設定が可能、というように読み取れたために、思ったような動作ができませんでしたので、可能であればその旨を注意として記載

[2018-07-23 20:37] LisandroSu commented on #12243
Hi team,
The user reported an inconsistency between what they see in the screenshot and what their screen.

Rough translation: _"Although ".csv" is described in the "Blob path ends with" property of the screen capture posted as an example, if you register EventTrigger with this setting, the SUFFIX FILTER of the event of BlobStorage contains "/ blobs /. csv "will be registered.
By entering ".csv" i

[2018-07-23 20:38] smoms commented on #12177
@Mike-Ubezzi-MSFT right. But why is in the Event Grid doc? Why the tutorial begins with "This article walks through a sample configuration that uses IoT Hub and Event grid... " ? Otherwise where is explained how IoTHub integrates as source with Event Grid? tks

[2018-07-23 20:42] ggailey777 commented on #9992
@SychevIgor did you happen to see the [getting started topic for Visual Studio](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio)?

[2018-07-23 20:46] hughobrienjet commented on #12220
Hi Karishma, thanks for your message. I understand that the Update Domains are for planned maintenance, but my question is why, for planned memory preserving maintenance, the article says that the Fault Domains would be used. I would have thought Update Domains would be ideal in that scenario.

[2018-07-23 20:47] Mike-Ubezzi-MSFT commented on #12225
@tchadwick So, in a follow-up conversation with the documentation team, this listing sequence is intentional. It so happens that Java is more popular for SaaS application than .NET at the moment.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Thank you,
Mike

[2018-07-23 20:47] #12225 closed

[2018-07-23 20:49] MarileeTurscak-MSFT commented on #12224
Hello,

You can add the same values in the appsettings.json. These do not need to go in the web.config. Here is an Azure Sample that does this, which you can use as a template for adding your ClientId and ClientSecret. https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/blob/master/WebApp-OpenIDConnect-DotNet/appsettings.json

You would just add it into the JSON like this:
![im

[2018-07-23 20:49] MarileeTurscak-MSFT commented on #12224
If this answers your question I will close out this issue.

[2018-07-23 20:49] #12224 closed

[2018-07-23 20:50] Mike-Ubezzi-MSFT commented on #12241
@whaakman Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-23 20:54] MarileeTurscak-MSFT commented on #12179
You can create once and use the same across multiple custom policies.

[2018-07-23 20:55] brwilkinson opened #12244 "FAQ . . Q. How big should I make my subnet for Application Gateway?"
A single WAF take up 3 Internal IP's if you are using the frontend as Internal. The documentation says that it consumes only 2, which is incorrect. i.e. in a /28 you have 16 addresses minus the 5 consumed by Azure, which leaves 11 available for WAFS. Each WAF takes up 3 IP's so 3 WAFS would take up 9 IP's, leaving only 2 left. So you could not deploy 4 WAFS in a /28 if they are all Internal.

---

[2018-07-23 20:55] SaurabhSharma-MSFT commented on #12200
@jonfinerty Thanks for your feedback. The document lists the basic implementation of any KeyVault command in C# and thus the script does not have "using" against the Idisposable object.

[2018-07-23 21:04] michaelspinks opened #12245 "Contianers"
Please adjust " shift" existing applications into contianers to" " shift" existing applications into containers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1772867c-92c7-f8ae-e19a-929478763da3
* Version Independent ID: 2df08f43-c2be-63e3-1b6f-99932ddd593f
* Content: [Overview of Azure Service Fabric Mesh](https://d

[2018-07-23 21:10] femsulu commented on #12236
@spottedmahn Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-23 21:10] SteveBurkettNZ opened #12246 "Enabling Diagnostics steps need updating"
As mentioned in Samir Farhat's previous (& closed) content feedback (called "Not updated information ?"), the Azure Portal UX has changed, splitting out the modern Azure Portal from classic Azure Portal options.

So steps 2 & 3 under the 'Configure monitoring for a storage account' and 'Configure logging' sections of the article are no longer what's seen in the Azure Portal. There's now a separate

[2018-07-23 21:11] MohitGargMSFT commented on #12201
@KarstenKleinschmidt Thanks for helping with the information. I will assign this issue to document content author to further investigate and update as appropriate.

[2018-07-23 21:32] mike-urnun-msft commented on #11848
@xocolatl-aficionado @jordanmkimball I've ran through the steps on this documentation again twice today and didn't run into any issues. I believe the confusion is arising from the step where you create a zip file that you later upload to Azure using ZipDeploy. When creating a zip file using command prompt, please make sure you're running the command within the NodeJS application directory so that

[2018-07-23 21:32] #11848 closed

[2018-07-23 21:35] tamram commented on #12246
@craigshoemaker - FYI. Can you look into this?

[2018-07-23 21:40] Mike-Ubezzi-MSFT commented on #12241
@whaakman When you launch Powershell, are you running it in Administrator Mode? The registry edit will not be updated and the steps in this section will not complete successfully: [Download and install the IoT Edge service](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart).

I am able to get all modules running and communicating with the IoT Hub:

![screenshot 119](https://user-images.gi

[2018-07-23 21:41] prashanthyv commented on #11848
Thank you @mike-urnun-msft . The most important thing is to demo via a video or a gif of how we're zipping the folder. Because the contents of the zip is where the confusion is as we found out when we screenshared

[2018-07-23 21:41] Karishma-Tiwari-MSFT commented on #12156
@deyjcode I see that you are missing object id in your variables.
I am not sure of the exact reason for the error you are getting. Would you please repeat the deployment, but collect debug information this time.
See https://www.packer.io/docs/other/debugging.html to enable debugging and please send a link pointing to the gist of the output.
You can refer the examples/azure folder in the packer pro

[2018-07-23 21:42] YasinMSFT commented on #12222
@wechuli You would only need the schema to submit a web service request.

[2018-07-23 21:42] YutongTie-MSFT commented on #12227
@JonathanPalmerGD Thank you for you feedback, I have assigned the author to help here.

@v-jaswel Hi Jason, this is a doc-enhancement idea about 'Websockets', can you please check it and update the document as necessary? Thanks a lot!

[2018-07-23 21:45] douglaslMS commented on #12243
@LisandroSu Here is the information that I have received from a member of the Azure Data Factory team. Is it possible for you to share this answer with the customer in Japanese?

In other words, when the customer enters only `.csv.`, the Data Factory UI "translates" this to the format expected by Event Grid.

[2018-07-23 21:48] mmacy commented on #9504
Hey @MicahMcKittrick-MSFT, this was fixed along with some other items in [azure-docs-pr 46699](https://github.com/MicrosoftDocs/azure-docs-pr/pull/46699)--this issue can be closed. Thanks! -MM

#please-close

[2018-07-23 21:48] Mike-Ubezzi-MSFT commented on #12177
@smoms  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-23 21:49] YutongTie-MSFT commented on #12213
@marcint1990 Thanks for your feedback. We will investigate it and get back to you soon.

[2018-07-23 21:51] andrew-best-diaxion opened #12247 "Updates required"
Raising this again. Jira has now hit 7.11 and this document says up to 7.8 is supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory integration with JIRA SAML SSO by Micro

[2018-07-23 21:52] YutongTie-MSFT commented on #12209
@Laciklgor Hi, thanks for your feedback, I have assigned the author to deal with the issue properly.

@v-geberr Hi, this is a doc-enhancement issue about requesting the best practices for setting score, could you please check it and update the document as necessary? Thanks a lot!

[2018-07-23 21:54] mmacy commented on #11482
Hi @SamirFarhat, new details are now available on the required permissions for AKS+VNet. We've just updated the article with the following:

* The service principal used by the AKS cluster must have at least [Network Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#network-contributor) permissions on the subnet within your VNet. If you wish to define a [

[2018-07-23 22:01] #9504 closed

[2018-07-23 22:05] #11993 closed

[2018-07-23 22:08] cjgronlund commented on #12227
@nitinme FYI

[2018-07-23 22:10] andrew-best-diaxion commented on #10798
The URL above is incorrect and leads to the AAD user voice page. The page that should be used is the AAD Application Request page at https://feedback.azure.com/forums/374982-azure-active-directory-application-requests

I have raised a request to have the Confluence module looked at. https://feedback.azure.com/forums/374982-azure-active-directory-application-requests/suggestions/34909681-update-atl

[2018-07-23 22:11] BryanTrach-MSFT commented on #12182
@KeiroKamioka0000 The isolated tier shares many of the same limits as the premium tier. In this case, the number of slots for the isolated tier is limited to 20, just like the premium tier.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-23 22:11] #12182 closed

[2018-07-23 22:11] Mike-Ubezzi-MSFT commented on #12154
@samisarfraz More specifically, the <GATEWAY_ADDRESS> value is the DockerNAT IP address where the IoT Edge modules are running: Specifically Step 8 - [Configure the IoT Edge runtime](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart#configure-the-iot-edge-runtime)

[2018-07-23 22:11] andrew-best-diaxion commented on #9264
A request to address the gap between the Atlassian product velocity and the modules velocity has been raised at https://feedback.azure.com/forums/374982-azure-active-directory-application-requests/suggestions/34909684-update-atlassian-jira-and-confluence-sso-userprov

[2018-07-23 22:12] v-jaswel commented on #12227
Hello @JonathanPalmerGD, I'm afraid I am not aware of any other way to send a file to the service. As it happens, I am currently having trouble getting this same quickstart to work (though it worked for me previously), and I'm about to send some questions to the Translator Speech team. I will include your question as well and let you know what I find out from them.

[2018-07-23 22:13] cjgronlund commented on #12147
@YutongTie-MSFT What's the status on this? It appears it should be closed per Mike's resolution. True?

[2018-07-23 22:17] MohitGargMSFT commented on #12042
@kgreed Please note that different documents which has cloud shells commands (powershell or CLI) in it, this section is present to guide customer around options on how to open azure cloud shells. e.g If some customer want to refer to quick start section on how to create Key Vault using Azure then this section provide them needed guidance. Similarly, while developing web app solution with secret ke

[2018-07-23 22:17] YutongTie-MSFT commented on #12147
@cjgronlund Yes, this is not a document related issue so  I will close it now. Thanks for your follow-up.

@pravinyadav Hi, thanks for your feedback. Cause this is not a document-related issue, please post this on [Stack Overflow](https://stackoverflow.com/) and [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home), so that we can help you well. Sorry for all inconveniences. We will now proc

[2018-07-23 22:17] #12147 closed

[2018-07-23 22:22] joaoma opened #12249 "Links for VPN gateways/express route gateways for the docs"
VPN gateways and express route also supports migration. It will be great to update the documentation with the doc set for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e861d1-4b1e-c7a1-1554-ad494e7de689
* Version Independent ID: 80e8c9b9-d9bc-5af2-a488-7240a421af56
* Content: [Technical deep dive on platform-sup

[2018-07-23 22:26] leonliang33 opened #12250 "CSM Adaptation Acoustic Datasets Failed"
I'm getting a status "Failed" when uploading the acoustic dataset.
I'm not getting any information regarding why it would failed, making it really hard to debug. Clicking Details shows nothing since it probably failed on processing or upload

[2018-07-23 22:30] RichiCoder1 commented on #11952
It was a bit confusing as it implies it should be appended to a URL (but doesn't specify what url). Add to that the fact that there is a validateAuthority setting in javascript which seems to accomplish led me to be confused.

[2018-07-23 22:30] Mike-Ubezzi-MSFT commented on #11597
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 22:30] #11597 closed

[2018-07-23 22:31] #12250 closed

[2018-07-23 22:34] Mike-Ubezzi-MSFT commented on #11922
@raviinroorkee-7 Closing this documentation related GitHub issue. Issue is being tracked through Azure/iotedge#54
If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 22:34] #11922 closed

[2018-07-23 22:35] tamram commented on #12208
@jholovacs - Thanks for reaching out to us!

The sample is using [this overload](https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.blob.cloudblobcontainer.listblobssegmentedasync?view=azure-dotnet#Microsoft_WindowsAzure_Storage_Blob_CloudBlobContainer_ListBlobsSegmentedAsync_System_String_Microsoft_WindowsAzure_Storage_Blob_BlobContinuationToken_) on CloudBlobContainer.

L

[2018-07-23 22:37] MarileeTurscak-MSFT commented on #12075
The document was recently updated. Previously there was a step missing in 1.7 where you go to Settings -> ReplyURLs page for your AAD registered application, and set it to http://localhost:3000/auth/openid/return and save it. Then you will configure the same URL as retrunURL in config.cs as part of Step 3.1. Did you try this? I will try to reproduce and run this.

[2018-07-23 22:38] MicahMcKittrick-MSFT commented on #12249
@joaoma thanks for the feedback!

@jpconnock I have assigned to you as I am unable to assign directly to the content author @singhkays

[2018-07-23 22:39] MicrosoftGuyJFlo commented on #10076
#please-close

[2018-07-23 22:40] Adam-Smith-MSFT commented on #12232
@Phydeauxman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-23 22:40] #12042 closed

[2018-07-23 22:44] Adam-Smith-MSFT commented on #12221
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 22:44] #12221 closed

[2018-07-23 22:45] cjgronlund commented on #12011
#in-progress

[2018-07-23 22:47] cjgronlund commented on #12011
#please-close
PR submitted to public repo to fix this broken link. It's very clearly a poorly added link.
@Powerhelmsman You should see the fix published within a day. Thank you again!

[2018-07-23 22:51] vasivara-MSFT commented on #12208
@jholovacs We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 22:51] #12208 closed

[2018-07-23 22:51] bnhassin commented on #12155
@Adam-Smith-MSFT Thanks for sharing team

Le lundi 23 juillet 2018, Adam-Smith-MSFT <notifications@github.com> a
écrit :

[2018-07-23 22:54] cjgronlund commented on #5220
#in-progress
 @SteveMSFT Please check the issue above with this content: https://docs.microsoft.com/en-us/azure/cognitive-services/Face/Tutorials/FaceAPIinPythonTutorial#a-namefurthera-further-exploration

[2018-07-23 22:58] kalpanaSGit opened #12252 "Trying to set up docker in visual studio and I got this error"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Creating network "dockercompose35413795974516116_default" with the default driver
Building hellodockertools
Cannot locate specified Dockerfile: HelloDockerTools\Dockerfile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 949255e9-72ca-ef48-c442-4a34a44

[2018-07-23 22:58] gstream1 opened #12253 "elevated user account for ADF"
Is it possible to pass a variable that would elevate the ADF task to run an admin level? I am able to execute my task in the portal and have the docs for python, but is it possible to run a task as an admin in ADFv2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570-ff7b-7a57acca06e6
* Version Independe

[2018-07-23 23:02] BryanTrach-MSFT commented on #12250
@leonliang33 Thank you for your question. We will leave this closed as you requested.

[2018-07-23 23:07] BryanTrach-MSFT commented on #12226
@johndonnelly Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:08] BryanTrach-MSFT commented on #12234
@volcek Can you please provide us with the URL of the Microsoft Doc that you are having trouble with? We look forward to your reply.

[2018-07-23 23:15] BryanTrach-MSFT commented on #12245
@michaelspinks Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:17] BryanTrach-MSFT commented on #12238
@xocolatl-aficionado Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:34] MicahMcKittrick-MSFT commented on #11893
As mentioned over email, closing this out for now as there is not actionable items required on this doc at this time. If needed we will reopen and add any info to the doc based on what we determine offline.

CC @cynthn

[2018-07-23 23:34] #11893 closed

[2018-07-23 23:38] BryanTrach-MSFT commented on #12252
@kalpanaSGit Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:40] BryanTrach-MSFT commented on #12247
@andrew-best-diaxion Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:41] BryanTrach-MSFT commented on #12244
@brwilkinson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:43] BryanTrach-MSFT commented on #12253
@gstream1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-23 23:43] SnehaGunda commented on #10980
#please-close

[2018-07-23 23:48] SaurabhSharma-MSFT commented on #12048
@DuncanMillard We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-23 23:48] #12048 closed

[2018-07-23 23:49] eustacea commented on #12158
Hi Mike,
Both are good and rational thought paths but suffer from the fair and reasonable assumption that the private key is injected into the HSM.  In fact, injecting private keys into HSMs has been the prevalent method in the past until the emergence of some supply chain challenges around trust with key handling. So rather then injecting the private key, newer HSMs internally generate a random n

[2018-07-23 23:52] MicahMcKittrick-MSFT commented on #12252
@kalpanaSGit are you finding this error when running this troubleshooting doc or just in setting up docker in general in VS?

[2018-07-23 23:56] ggailey777 commented on #11869
You have a good point about how the request Accept header is defaulting to `Accept: text/html, application/xhtml+xml, application/xml; q=0.9, */*; q=0.8`. However, the point of our getting started topics is to fully leverage the template-generated code. I will change the screenshot (back) to showing an XML rendering instead of the Edge-only rendering as the string value.

[2018-07-24 00:00] tolandmike commented on #12029
It doesn't work that way because our infrastructure is a lot more sophisticated than to result in a linear regression; there is no regression when going from LRS to ZRS. Moreover, any overhead (real or perceived) is orthogonal to the published scale targets so I'm a little confused by your question. In fact, we can scale your LRS, ZRS, and GRS-enabled accounts to higher throughput caps upon suppor

[2018-07-24 00:10] ggailey777 commented on #11801
This change has been made in the private repo. This change should close this issue when the commit makes into the public repo, and if it doesn't #please-close.

[2018-07-24 00:11] #11801 closed

[2018-07-24 00:14] SnehaGunda commented on #12014
@alexmahrou The URI shown in the screenshot, "https://<AccountName>.documents.azure.com:443/" is for SQL API accounts, when you are using Table API account, you have to replace the URI with "https://<account name>.table.cosmosdb.azure.com:443/" . Looks like you have the wrong URI can you please try with the right one?

In addition to the ODBC driver, there is another way to visualize data in Power

[2018-07-24 00:30] meiyueilee opened #12254 "Is the Application ID same as the Client ID?"
In the section, "Authorize the application to use the key or secret", it refer to the "Client ID".  However, this term did not appear in this article prior to that point.  Is the "Application ID" in section, "Register an application with Azure Active Directory" same as "Client ID"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-07-24 00:44] jeevansd commented on #12247
@andrew-best-diaxion Thanks for raising this again. I am working internally to get this testing done so that we can officially support these versions. We will update the public docs once we complete our testing.

[2018-07-24 00:48] JasonWHowell commented on #11431
@viswanath-puttagunta Thanks for the feedback. I like your suggestion, and will try to make the quickstart easier to follow. Thanks, Jason

[2018-07-24 00:56] jeff-ng opened #12255 "Application setup instructions are inaccurate/confusing"
This issue is generally about the POA setup docs, which make it difficult to set up the application for deployment.  Here are two instances of confusing documentation:

## ARM template for applications

The Platform Orchestration App(POA) suggests using an ARM template to manage the application.  The ARM template for applications refers to an application and applicationType resource.  The link bet

[2018-07-24 01:08] vbadri opened #12256 "Error while instantiating device twin using examples shown here"
Hello,
I tried to follow the instructions here, but ran into various problems..

1. I tried to follow the instructions to create the UpdateModuleTwinReportedProperties app. I get the following error. I looked through the source code and it is looking for a keyname which is not part of the connection string on the azure portal.

Error: Time:Mon Jul 23 17:52:00 2018 File:/usr/sdk/src/c/iothub_servic

[2018-07-24 01:18] #10966 closed

[2018-07-24 01:19] frostygoth opened #12258 "Grammar issue under the section "important details about ThreadPool growth""
Hello. I just noticed that the below sentence seems to have a small grammatical issue.

Currently it reads...
"Worker threads are used when for things like processing Task.Run(…) or ThreadPool.QueueUserWorkItem(…) methods. "

I think it should read something like "Worker threads are used for things like processing Task.Run...", or "Worker threads are useful when processing things like Task.Run..."

[2018-07-24 01:32] rdraisinghani opened #12259 "Change in the market place resource name"
Monitoring + Management is now called Management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c2cc34-ba4a-1181-ccda-88dd901e0212
* Version Independent ID: 9b4a3b68-03fc-387a-ee5d-e7f73ee3c567
* Content: [Azure Quickstart - Create an Azure Automation account](https://docs.microsoft.com/en-us/azure/automation/automa

[2018-07-24 01:33] agrebenyuk commented on #12029
Thanks for your answer, and sorry if it was confusing in any way. I certainly did't assume that ZRS infrastructure is operating in linear manner , It was rather a general question in attempt to understand some of an insights on implementation side of things. Thanks

[2018-07-24 01:33] #12029 closed

[2018-07-24 01:38] ishepherd opened #12260 "Data availability"
* What DR/HA setup is in place for App Insights?
* In what situations would our normal App Insights be unavailable?
* Do we need to setup a second App Insights for that circumstance?
    * Can the App Insights Client SDK be configured to failover between the two?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4cb6c8f-

[2018-07-24 01:40] n3wt0n opened #12261 "Service to Service communication"
From the example here, a service use the DNS (+ the port) to communicate with another one.
Is this the only method available or, like in the "normal" Service Fabric, other communications methods are available? (such as RevProxy, etc)

I'd suggest having a "Services Communication" page, like the one for SF, to explain about this.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-07-24 01:47] martinffoster commented on #12162
yes. 3 browsers: Edge, Firefox and Chrome.
More investigation.  Deleting via backup items -> select a machine -> delete. did not work (the original report).
Going via protected servers (or something to that extent) -> selecting machine there -> delete. did work. I got the notification message. All good.

It was odd to have 2 different behaviours depending on how I got to protected machine.

[2018-07-24 01:50] JasonWHowell commented on #12077
@saveenr @matt1883 any ideas?

[2018-07-24 01:50] huxuan commented on #5220
Hi @keithdoyle9,

Thanks for the reporting.
We have already Identified the issue and will fix it soon in the next version.
An open issue for tracking is located [here](https://github.com/Microsoft/Cognitive-Face-Python/issues/55)
Just enjoy using our Face API and the Python SDK.

=Sean=

[2018-07-24 01:52] JasonWHowell commented on #12197
@SunnyOswal Thanks for removing the duplicate link. We appreciate the help!

#please-close
CC: @mamccrea

[2018-07-24 02:02] SunnyOswal commented on #12197
Verified fix is live. Closing this issue.

[2018-07-24 02:02] #12197 closed

[2018-07-24 02:02] ishepherd opened #12262 "Setting up multiple apps to push to same App Insights"
For our HA setup, we have multiple regional deployments of our app. It would be nice if they all push to the same App Insights by default, so we can have a combined dashboard.

But several ARM templates suggest that an App Insights is supposed to have _just one_ app attached
1. `ApplicationId` above
2. `hidden-link` back to the App Service resource (not in your sample here)

If I leave these thing

[2018-07-24 02:05] femsulu commented on #12033
@omerzubair AFAIK there is no symbol to accept both letter and number interchangeably however, this is great feedback that the product group is happy to review as they plan for future service improvement. Please share your feedback directly with the the Policy team via the [this link](https://feedback.azure.com/forums/34192--general-feedback).

Also, I pinged internally to see if there is a suppor

[2018-07-24 02:06] #12033 closed

[2018-07-24 02:37] JasonWHowell commented on #9346
@steelanddata Should this be tracked in user voice, or is there another way to remember it?

Thanks, Jason

[2018-07-24 02:49] LoganZhao commented on #11826
any further updates guys? @cynthn @danielsollondon

[2018-07-24 02:52] BryanTrach-MSFT commented on #12186
@ryancrawcour What happens if you try to view it in the portal?

[2018-07-24 02:53] huxuan commented on #5220
Just to update, the issue should have been fix in the version 1.4.2.
Just feel free to try it and let me know if there is still any concern.
https://pypi.org/project/cognitive_face/

[2018-07-24 02:54] nth-block commented on #11989
Actually, this is rather straight-forward. The caveat is that all subscriptions must federate to the same AAD. I was trying to do this across multiple subscriptions federated across multiple AAD instances. I created a second subscription in the same AAD tenant and it was trivially easy. Please consider this issue as closed.

As a suggestion, may I request a note to be added that all subscriptions

[2018-07-24 03:01] femsulu commented on #11989
@nth-block, thanks for the update here. Happy you were able to figure this out. I have added the content owner to review your suggestion above.  we will now close this issue but happy to re-open at your request.

@johnkemnetz  - FYI.

[2018-07-24 03:02] #11989 closed

[2018-07-24 03:03] SQLDataSide commented on #10332
Now they have it as .....
val tempDir = "wasbs://" + blobContainer + "\@" + blobStorage +"/tempDirs"

Why ?

[2018-07-24 03:10] SQLDataSide opened #12263 "Error on the final step to ASDW"
Hi
in the final step when loading into ASDW I get the error

om.databricks.spark.sqldw.SqlDWConnectorException: Exception encountered in SQL DW connector code.

very strange, i tried very thing, only the last step fails, please help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* V

[2018-07-24 03:14] dcbrown16 commented on #7279
@JasonWHowell @Adam-Smith-MSFT
Another typo: "The template is located in Gibhub."

[2018-07-24 03:31] ryancrawcour commented on #12185
Thanks @MohitGargMSFT

This should be documented in this document in the list of prerequisites, as it only talks about the latest version of Azure PowerShell (which I have) and the permissions your account needs. No mention anywhere of needing to manually install a new module.

I'm happy to make the change and submit a PR  if required.

[2018-07-24 03:36] femsulu commented on #12259
@csand-msft thanks for bringing this to our attention. This feedback has been shared with the doc owner for consideration.  We will now close this issue. If you have any followup questions, please let us know and we will gladly re-open the conversation.

[2018-07-24 03:36] #12259 closed

[2018-07-24 03:36] femsulu commented on #12259
@csand-msft  - FYI

[2018-07-24 03:37] arunkp89 opened #12265 "Supported Kernel versions for Oracle Linux 7.4"
Please specify the Oracle Linux Kernel version which supports Accelerated Networking. As current UEK4 doesn't support virtual functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure virtual

[2018-07-24 03:51] BryanTrach-MSFT commented on #11999
@rifaterdemsahin Thank you for the update. We apologize for the issue that you encountered when trying to use a self-signed cert. The doc that you referenced is correct, we will not allow self signed certs at this time. We have gone ahead and shared this feedback with the product group to see if they'll make future enhancements.

We will now proceed to close this thread. If there are further quest

[2018-07-24 03:51] #11999 closed

[2018-07-24 03:54] BryanTrach-MSFT commented on #12034
@btardif I am able to repro the same behavior. It looks like the IP blade was updated recently with new options but no matter what I choose, I receive a 403. The only way to stop receiving 403 errors is to remove the rule. Is this a known issue or something related to misconfiguration?

The screenshot in the doc could be updated to reflect the recent changes.

[2018-07-24 04:01] SeanFeldman opened #12266 "Scripts will work for AZ CLI on Windows, but fail with Bash"
The syntax

[code]

is good for Windows, but will fail with Bash.

[code]

For Bash, it should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e25005c-06da-1e87-ab0d-05f641d7e795
* Version Independent ID: 34e6baf1-71a3-bbef-05da-2923b77cf203
* Content: [Azure Service Bus to Event Grid integration overview](h

[2018-07-24 04:29] Juliako commented on #11316
@ridewaab, you can use TaskNotification, by setting IncludeTaskProgress to true, https://docs.microsoft.com/en-us/rest/api/media/operations/tasknotificationsubscription

[2018-07-24 04:35] Juliako commented on #11047
@CarlosOnline, we have examples of REST API calls in our rest documentation,https://docs.microsoft.com/en-us/rest/api/media/operations/asset. Also, if you search for "REST", you will find examples in our conceptual documentation, https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-rest-manage-entities. And, in addition, you can checkout the Postman collection (which you a

[2018-07-24 05:08] veyalla commented on #11807
@ejadib We're are targeting in the next few weeks.

[2018-07-24 05:49] SnehaGunda commented on #12014
@alexmahrou quick update - Visualizing data in Power BI by using the ODBC driver & direct connectivity is currently available for SQL & Mongo API accounts only, Table API is not yet supported.

In order for us to prioritize this feature, can you please submit a request or vote in User voice; https://feedback.azure.com/forums/263030-azure-cosmos-db

[2018-07-24 06:00] gstream1 commented on #12253
So I was trying to add application dependencies; setuptools and some python library tar.gz files in the ADF run. I was able to run successfully by adding the dependencies as a Start Task on the pool I was using in ADF. That being said, I do think there is value in being able to set the autouser level of the Custom Activity in ADF. (Maybe this should potentially be in the docs?)

[2018-07-24 06:15] whaakman commented on #12241
@Mike-Ubezzi-MSFT I have verified that all actions are performed with administrative permissions (Powershell in Administrator Mode), the registry configuration as well. I am however having the same result:
[code]

[2018-07-24 06:30] YutongTie-MSFT commented on #11352
@SheridanLGrant
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 06:30] #11352 closed

[2018-07-24 06:33] LeitchP opened #12267 "Clarify the prerequisites"
You state this for Docker:
"You can also run scripts in a Docker container on a machine with GPUs"
That's not true for Windows (definitely not for &lt; 10, but also the case for 10 at the time of writing).  The virtualisation process blocks GPU pass through (even with 2d and 3d graphics enabled).  It should read:
"You can also run scripts in a Docker container on a Linux machine with GPUs." but I'

[2018-07-24 07:04] rayne-wiselman commented on #11788
Thanks! I updated the article, including the info in the solution. #please-close

[2018-07-24 07:17] myokeeh opened #12268 "Native Client Application"
The correct reply URI for Native Applications - UWP) is something like

ms-appx-web://Microsoft.AAD.BrokerPlugIn/S-1-15-2-2650639956-658609593-457089695-429683492-3460685052-1353383220-3160185542

See:
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-native-uwp-wam/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-07-24 07:34] SamirFarhat commented on #11482
That makes sense, the AKS spn needs the ability to join the nodes to the subnet, so it needs read and join permissions on the Subnet Resource itself. Thanks guys

[2018-07-24 07:42] jmprieur commented on #11250
@chaami, I suggest you have a look at the README.md of the [Authenticating to Azure AD in daemon apps with certificates](https://github.com/Azure-Samples/active-directory-dotnet-daemon-certificate-credential#create-a-self-signed-certificate) sample, it shows `New-AzureADApplicationKeyCredential` works. My understanding is that the `customKeyIdentifier` is just an identifier (unique) for the public

[2018-07-24 07:44] krunallokhande commented on #11597
Thanks, @Mike-Ubezzi-MSFT . I will follow up on the link you shared. I am facing issue while installing iot edge on arm64 and the issue you shared is wrt . armhf. I did reinstall all modules, but for me the iot edge preview gets installed but the GA version fails.

[2018-07-24 07:48] femsulu commented on #11966
@uamrit is this still an issue. Looking forward to your response.

[2018-07-24 07:52] femsulu commented on #11976
@ankitchourasiya  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 07:52] #11976 closed

[2018-07-24 08:34] Edgar-NL opened #12269 "Tenant URL for Workday to Active Directory provisioning configuration"
The tutorial indicates to use the following Tenant URL: This should look like: https://wd3-impl-services1.workday.com/ccx/service/contoso4

Unfortunately this is not working. On the Workday Community the following suggestion was made and resulted in a correct working connection:
Use the Public Web Service URL for the Human_Resources endpoint:  https://wd#-impl-services1.workday.com/ccx/service/ten

[2018-07-24 08:35] StefDotmailer opened #12270 "Receive concurrency"
The documentation specifies: "You can safely use the QueueClient object for sending messages from concurrent asynchronous operations and multiple threads." but it is not clear about thread safety on receive operations and receive/send concurrently. Can you please add some details about that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-07-24 08:50] cephalin commented on #10716
@wechuli @akshaybabloo we've decommissioned that quickstart and created a new one targeting the Linux OS as the recommended approach for Python. Please go there instead. https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python

#please-close

[2018-07-24 08:52] akshaybabloo commented on #10716
Thanks @cephalin

[2018-07-24 08:57] loverdeg-ep commented on #12158
@eustacea excellent, thanks! I'd love to see that detailed in this article's text and diagrams.

Is there any way to prevent the technician form signing additional unauthorized devices?
If so, is my assumption that the easiest path would be to get the HSM manufacturer involved?

[2018-07-24 09:11] Ronyeee opened #12271 "Lots of error:The type or namespace name could not be found (are you missing a using directive or an assembly reference?)"
Follow the steps in Tutorial: Store data at the edge with SQL Server databases
But lots of errors like the following shown in problem tab
![1](https://user-images.githubusercontent.com/41614285/43128127-bd74f258-8f63-11e8-8101-106aaa7b01cd.PNG)
It's already provided with all Prerequisites.

It's my first report.if there have any problem,please remind me!

---
#### Document Details

⚠ *Do not edit

[2018-07-24 09:23] bingosummer opened #12272 "Should the client retry for the 408 response code?"
The response code 408 means a Request Timeout error. In the [General REST and retry guidelines](https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#general-rest-and-retry-guidelines), 408 is a retrable error.
Should it retry to get vm token when 408 is returned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-07-24 09:40] anujrana opened #12273 "Add details on High Availability Recommendations for NPS extension."
It would be great to see additional details on High Availability for NPS extension. Since, it is getting popular , many customers has this question in mind before they take it to production. Options like using Load Balancer over NPS server or any other recommendations with traffic flow will be helpful.

As per the article :
The NPS extension automatically handles redundancy, so you don't need a sp

[2018-07-24 10:31] AnirvanK commented on #11807
@veyalla  Is this feature aligned with any of the major releases? How do we get notified once this is officially supported?

[2018-07-24 10:32] cephalin commented on #10100
Forgot to do this earlier, but as indicated by the customer, #please-close.

[2018-07-24 10:41] lohithgn commented on #11466
Hi. My name is Lohith. I am a MVP. Can I create video tutorials of Step 1 to 7??? Can I reuse the written content for creating a video guide?

[2018-07-24 10:41] dikokob commented on #6609
I am using a Linux environment, but the following command `sudo az aks install-cli`. Gives me this error ` sudo: az: command not found`.

[2018-07-24 10:44] lohithgn opened #12274 "Video Guide"
Hi. My name is Lohith. I am a MVP.
Can I re-use this written step by step guide to create a video tutorial/guide?
Step 1 to 7 is excellent and would love to create a video version of the same. I can provide video link to these steps once I am done with videos. Do let me know if thats OK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-07-24 10:46] Izharsa opened #12275 "Use secret from keyvault in parameter defaultValue"
Hi,
Is there a way to use a secret from keyvault in arm template parameter default value?

Regards,
Izhar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70505efb-d7ac-0dbc-6b57-2ce6a2a78ef2
* Version Independent ID: 0d5a06ac-190e-78d2-c031-ca9d5c09347f
* Content: [Key Vault secret with Azure Resource Manager template](

[2018-07-24 11:33] pwarner opened #12276 "IP restrictions can't be exported/imported"
We are migrating an app service to v2 service plan which is a manual step of deleting the old app service and creating the new one associated with the new plan and resource group. We have more than 50 IP address entries allowing client access to the App Service. How do we apply the existing restrictions to the new app service? There's no option to export/import a list of existing ones.

---
#### D

[2018-07-24 11:34] rayne-wiselman commented on #11592
Thanks. This is fixed. Fix should appear later today.

#please-close

[2018-07-24 11:35] Maggern3 opened #12277 "Short and ambigious answer"
"Is composite partition key supported?
Yes, you can use regular syntax to create composite partition key. "
Does the author really mean 'regular syntax' as in regular expression here or that it is supported through a hack where the customer creates a new field or property with the concatenated values and specifies this new field or property as the partition key?

---
#### Document Details

⚠ *Do n

[2018-07-24 11:45] Maggern3 commented on #11614
There is no working example of inter document joins in the SQL API(because it is not yet supported). The document you linked only contains pseduo code, which does not execute successfully for inter document queries.

The point I was trying to make is that this document proposes to solve issues that are not implementable with the SQL API. And that there should be an explicit warning about this.
Tha

[2018-07-24 11:57] joanabdo commented on #11913
Hi guys,

When I am creating any rules in Azure Firewall it fails many times until it work in 2 hours :(
the message I get "another operation in progress"

[2018-07-24 11:58] YoannGUILLO opened #12278 "PowerShell module AzureRM.Subscription not found in the PSGallery"
It seems that the PowerShell module defined in the documentation don't exist.
I've been able to install the subscription module with this command "Install-Module AzureRM.Subscription.Preview" then use the command "New-AzureRmSubscriptionDefinition" to create my subscription.
The documentation should be updated ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-07-24 12:11] frostygoth opened #12279 "Typo in section "Can I import data from any Redis server?""
The sentence "For sample code to perform any required byte padding, see Sample page blog upload." should have the word "blog" changed to "blob"

This would match the title of the GitHub article that the link sends you to is named "SamplePageBlobUpload"

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9689694f-e5

[2018-07-24 12:27] ahamin01 opened #12280 "Where can the end users review the Privacy Statement?"
I totally understand that the privacy statement will be shown to the external users when accepting the invitation, but how the user can review the privacy statement later after accepting the invitation? Is this even possible? The only location, where I see the privacy statement in, is when the user leaves the organization as documented here "https://docs.microsoft.com/en-us/azure/active-directory/

[2018-07-24 12:44] chaami commented on #11250
Hi,
Thanks @jmprieur for your suggestion, snooping around the link you gave me and reading [this script](https://github.com/Azure-Samples/active-directory-dotnet-daemon-certificate-credential/blob/master/AppCreationScripts/Configure.ps1) I ended up understanding.
The script [New-AzureADApplicationKeyCredential](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplicationkeycre

[2018-07-24 12:53] redryan1993 opened #12281 "Azure Firewall Doesn't deny traffic between subnets"
The Azure Firewall doesn't block traffic between subnets. I have two subnets each with a windows VM in them. I have configured a route to use the Azure Firewall as the next hop, I can confirm they are going via the firewall as the internet was not working until I created an application allow rule for traffic out on 443. However, traffic is still being allowed to pass freely between two VMs

---
##

[2018-07-24 13:01] jonreade commented on #10330
Really would like to see this functionality in an on-premise solution. Some of us simply cannot (as opposed to "will not") move data into the cloud, for risk and compliance reasons, or due to client restrictions on guardianship of their data. This is simply non-negotiable, especially since GDPR.

[2018-07-24 13:02] jmprieur commented on #11250
Thanks for the update, @chaami
I'll ask the Azure portal people for an answer about the portal behavior.

[2018-07-24 13:30] iakko opened #12282 "Autoscaling Nodes"
What I'm missing here is a reference about how to implement the autoscaler from Terrafom in order to enable node autoscaling in k8s cluster. I know that there is a "manual" way to do that (https://docs.microsoft.com/en-us/azure/aks/autoscaler), but I would like to do everything with Terraform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-07-24 13:49] TecumsehSamp commented on #8454
Nope, it still persists.

[2018-07-24 13:49] redryan1993 commented on #12281
I found this to be an issue the route tables and address spaces

[2018-07-24 13:49] #12281 closed

[2018-07-24 13:50] TecumsehSamp commented on #8454
Also interestingly I can't reopen it @mike-urnun-msft

[2018-07-24 13:53] jmorabito11 opened #12283 "On Prem network through Azure Firewall for Internet"
Would it be possible to route on prem network traffic through the Azure firewall for Internet access and create inbound policies as well ? (for an on prem FTP server for instance)
Thank you.
-joe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-

[2018-07-24 13:54] wechuli commented on #10716
Great, thanks @cephalin

[2018-07-24 13:54] #10716 closed

[2018-07-24 14:00] redryan1993 commented on #12047
Hi I found the resolution for this was to configure a UDR on the subnet with the server to use the firewall as next hop and also a route on the gateway subnet to use the firewall as the next for server subnet

[2018-07-24 14:00] #12047 closed

[2018-07-24 14:12] cephalin commented on #10092
@rmorgancafex .NET cert operations are tied to the Windows Certificate Store, which is why it need special steps on Azure. But non-.NET frameworks like Node.js aren't tied to the cert store, so it's no different than how you would access certs normally. I suggest you contact appropriate Node.js forums on StackOverflow for help on how to do that.

#please-close

[2018-07-24 14:17] cephalin commented on #10092
For example, [MongoDB docs](http://mongodb.github.io/node-mongodb-native/2.0/tutorials/enterprise_features/?_ga=2.208928155.803553403.1532441623-1591661273.1498760792) shows you how to connect from Node.js using SSL certs. I know it's not what you're looking for but just an example to show that the question isn't related to App Service.

[2018-07-24 14:23] #12194 closed

[2018-07-24 14:28] ftsguy opened #12284 "Using premium performance static web site not working ?"
If I use premium performance it appears to not be creating the $web container but if i choose standard performance on the storage account its working. Anyone else seeing this issue ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-664

[2018-07-24 14:32] cephalin commented on #9972
@ravisha22 Sorry for the delay. Actually the issue is with the doc that was pointed to. It should be https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet-framework. I've made an update to the doc now and it should be published shortly. Thanks much for reporting.

#please-close

[2018-07-24 14:41] phillbl commented on #11657
hi, i did something not quite to the doc so not sure if this should work or not.  i have set up a central vnet, spoke1 vnet & spoke2 to vnet.  I have peered spoke1 to central and spoke2 to central.  i have deployed the azure firewall in the central vnet to see if i could get traffic to route from spoke1 to spoke2 via the central vvnet.  i have made the next hop the ip address of the fw and added r

[2018-07-24 14:44] danieljsmarda commented on #11372
@kgremban in the tutorial, Step 9 of "Create an IoT Edge module project", I get an error that is easily-fixable by VS Code and therefore not urgent but may be worth updating. It looks like the cause is that the method that is passed still contains the lowercase first letter ("onDesired...").
<img width="536" alt="ondesiredpropertiesupdate" src="https://user-images.githubusercontent.com/29666720/43

[2018-07-24 14:45] MKH13 opened #12285 "Scale down failed (No candidates for scale down)"
Hi guys,

The scale up does work but scale down doesn't work...
I have this logs on pod cluster-autoscaler :

I0724 14:33:25.450066       1 scale_down.go:446] No candidates for scale down
I0724 14:33:35.766261       1 utils.go:456] No pod using affinity / antiaffinity found in cluster, disabling affinity predicate for this loop
I0724 14:33:35.766544       1 static_autoscaler.go:280] No unschedulab

[2018-07-24 14:52] rothja commented on #12236
@spottedmahn Thanks for the feedback. Sorry this topic is hard to navigate. Were you hoping to have links on the right side to the services included?

[2018-07-24 15:00] cephalin commented on #6992
@naveedaz can you help with supplying the information for the missing documentation?

[2018-07-24 15:01] cephalin commented on #7062
@HemantMahawar Given this thread has been quiet for a while I'm going to request to close it. Please reopen if necessary. Thank you. #please-close

[2018-07-24 15:02] Katydude commented on #10100
No worries

[2018-07-24 15:02] #10100 closed

[2018-07-24 15:05] deyjcode commented on #12156
@Karishma-Tiwari-MSFT Karishma, object id is actually not required by Packer with 1.2.5. See this notification from packer:

    azure-arm: You have provided Object_ID which is no longer needed, azure packer builder determines this dynamically from the authentication token

I left it in for the variable, but it doesn't impact the run. I believe this is a specific issue with sysprep. The reason I s

[2018-07-24 15:05] johanvjr commented on #12064
this is one we need..!

[2018-07-24 15:09] badbob001 opened #12287 "Is the Azure Backup section still valid?"
Last year, classic VMs were automatically migrated from Backup Vaults to Recovery Services. Recovery Services refer to classic VMs by their Resource Group assignment, so post migration, if the Resource Group assignment doesn't change and the backup extension is re-installed, then would the existing backup protection still work?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-07-24 15:21] #11466 closed

[2018-07-24 15:23] phillbl opened #12288 "azure fw to route traffic"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-24 15:46] markmassad opened #12289 "Monitoring of Managed Service Endpoints"
The examples here are great but missing a key scenario where Managed Services are used.  How best to monitor those endpoints?  What techniques are a recommended practice (data, app services, etc.).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c7aafb-ea61-362d-8d51-0ee071cfae77
* Version Independent ID: c7fc744b-dd2

[2018-07-24 16:09] federicoMaesta commented on #11913
Hi all,
I'm trying the Azure Firewall and I have look it isn't possible to create a NAT Rule on the Firewall.
This Features it will be scheduled or not?

Thank you so much.

Best Regards,

Federico

[2018-07-24 16:14] Mike-Ubezzi-MSFT commented on #11614
@Maggern3 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 16:26] davidroe1 opened #12290 "Incorrect links under "Client libraries""
The links in "Service Bus supports client libraries for .NET, Java, JMS." to .NET, Java, and JMS all go to the same page, which is for Powershell and .NET (https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-powershell). Is there a plan to create pages for Java and JMS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-24 16:29] rzal opened #12291 "ARM template support"
Is there a resource template support for setting the `--aad-server-app-id` and `--aad-server-app-secret` parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-fcb4-f069afdd5b0c
* Content: [Integrate Azure Active Directory with Azure

[2018-07-24 16:30] CarlRabeler commented on #11960
#please-close  fixed

[2018-07-24 16:30] douglaslMS commented on #12253
@nabhishek Can you please take a look at this question?

[2018-07-24 16:31] CarlRabeler commented on #11844
#please-close unless @rsbeve has any additional follow-up

[2018-07-24 16:33] CarlRabeler commented on #11584
mail sent to PM for clarity

[2018-07-24 16:40] Mike-Ubezzi-MSFT commented on #12258
@frostygoth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 16:45] Mike-Ubezzi-MSFT commented on #12277
@Maggern3 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 16:46] MicahMcKittrick-MSFT commented on #12285
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 16:46] spottedmahn commented on #12236
Hi @rothja - I think that would be a good idea.  Thoughts? 💭

As I understanding it, only `# header` make it there and not `## sub-header` 😢

[2018-07-24 16:46] MicahMcKittrick-MSFT commented on #12287
Thanks for the question! We are investigating and will update you shortly.

[2018-07-24 16:47] MicahMcKittrick-MSFT commented on #12291
Thanks for the question! We are investigating and will update you shortly.

[2018-07-24 16:47] Mike-Ubezzi-MSFT commented on #12279
@frostygoth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 16:48] MicahMcKittrick-MSFT commented on #12255
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 16:48] MohitGargMSFT commented on #12273
@anujrana Please open a new MSDN thread with your specific scenerio and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please post the MDSN thread URL here and I will make sure your that your query is addressed in f

[2018-07-24 16:48] rothja commented on #12236
@spottedmahn Actually, the H2 does get on the right side. The services now are H3s. We actually had them as H2s originally, but the right side list was so long that it was unusable. The UI might have changed to make this work now. I'll make a prototype and see what it looks like. I'll get back to you.

[2018-07-24 16:48] MicahMcKittrick-MSFT commented on #12261
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 16:49] MicahMcKittrick-MSFT commented on #12282
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 16:51] MohitGargMSFT commented on #12272
@bingosummer Yes, in theory you must retry when 408 is received. However, I have assigned the issue to the content author to investigate and update the document accordingly.

[2018-07-24 16:54] davidmu1 commented on #11791
Revised the image and added a link to the getting started article for custom policies.

#please-close

[2018-07-24 16:55] MicahMcKittrick-MSFT commented on #11826
@BartoszPorebski AADLoginForLinux will not work if ChallengeResponseAuthentication is “No”. We set it to “Yes” during install but don’t have anything running in the background to monitor if it is set back to No. This was a known issue. The workaround during the preview is to reinstall our extension. We are still investigating how we will work with this once AADLoginForLinux goes GA

[2018-07-24 16:57] Maggern3 opened #12292 "How do you perform queries without specifying shard key in mongodbapi and how do you query across partitions?"
Hi,

After I converted my collection to a sharded collection(dropped and then recreated) all queries that does not specify shard key fails.
There is no documentation whatsoever for partitioning in the mongodb api section of azure cosmos docs beyond how to create a sharded collection.
So how do you perform queries without specifying shard key in mongodbapi and how do you query across partitions?

-

[2018-07-24 16:57] MicahMcKittrick-MSFT commented on #6609
@dikokob you need to install the Azure CLI before the az commands will work

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2018-07-24 16:57] #9972 closed

[2018-07-24 16:59] sakthivetrivel commented on #12285
Hi! There's a variety of reasons why the cluster autoscaler might not trigger a scale down event, including if that node was unneeded for less than 10 minutes, there was a scale-up in the last 10 min, or
there was a failed scale-down for this group in the last 3 minutes. Is there a reason why you expect a scale down event to occur?

[2018-07-24 16:59] MohitGargMSFT commented on #12269
@Edgar-NL Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-24 17:00] MohitGargMSFT commented on #12254
@meiyueilee Yes, you are correct in your understanding here.

[2018-07-24 17:02] MichaelHauss commented on #12284
This is by design. Premium storage is intended for VM disks. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage

[2018-07-24 17:07] ftsguy commented on #12284
OK maybe it should be disabled on the portal if its selected than to reduce confusion.

[2018-07-24 17:07] davidmu1 commented on #5100
@spottedmahn An update to this issue: The article [Application types that can be used in Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-apps) already had a discussion about the limitations around server-side apps. I revised the text per engineering feedback and added a link to the active directory article that describes the flow.

[2018-07-24 17:09] MohitGargMSFT commented on #12185
@ryancrawcour Yes please, feel free to do change and submit PR.

[2018-07-24 17:10] spottedmahn commented on #12236
I see, thanks for setting me striaght!

Yeah, I could definitely see that.

---

Too bad we don't have this: [Tree for Sublinks Within the Page](https://github.com/MicrosoftDocs/feedback/issues/278) 😜

[2018-07-24 17:11] jason-j-MSFT commented on #10332
That's strange, what I see is "\@" is there:

![capture18](https://user-images.githubusercontent.com/37126381/43154628-d6c02dca-8f29-11e8-9175-c47784e86533.PNG)

Am I looking at the right place?

[2018-07-24 17:13] spottedmahn commented on #5100
Nice, looks good, thanks @davidmu1 👍

[2018-07-24 17:17] DeanGross opened #12294 "Unable to delete app- option disabled"
The Delete icon (trash can) is disabled which prevents me from deleting an app I created while testing. How can I remove this unneeded/unused test app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b28c3b2e-d661-682d-df1b-68d941016e87
* Version Independent ID: b2ebf2b0-f9d3-2583-4e64-54fa083b5a57
* Content: [Integrati

[2018-07-24 17:18] MichaelHauss commented on #12284
I agree. I'll pull in the right folks to get this fixed. You can leave the issue open for now.

[2018-07-24 17:18] Mike-Ubezzi-MSFT commented on #12266
@SeanFeldman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 17:22] MarileeTurscak-MSFT commented on #12015
I hope this helps. If you are still having an issue with this, please open a new Github issue.

[2018-07-24 17:22] #12015 closed

[2018-07-24 17:23] MarileeTurscak-MSFT commented on #12001
Let me know if this helps. If you are still having trouble please open another Github issue.

[2018-07-24 17:23] #12001 closed

[2018-07-24 17:23] cherylmc commented on #12231
@glecanu - I'll make that a bit clearer. Thanks!

[2018-07-24 17:24] cherylmc commented on #12231
@please-close

[2018-07-24 17:24] Mike-Ubezzi-MSFT commented on #12290
@davidroe1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 17:24] neilpeterson commented on #12173
@vlele - thanks for submitting this issue. I want to try an reproduce before updating docs or opening up a product issue. First, let me make sure I understand the issue.

After an AKS cluster upgrade the dashboard pod does not start. After a node / kubelet reboot, it does.

Is this correct?

[2018-07-24 17:24] MarileeTurscak-MSFT commented on #12075
Let me know if this helps. If you are still having trouble please open another Github issue.

[2018-07-24 17:24] #12075 closed

[2018-07-24 17:24] DeanGross opened #12295 "What about AquireTokenAsync?"
How do these recommendations change for ADAL 2 vs ADAL 3? It would be helpful if any version dependencies were identified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64341d65-9ad0-ad51-805c-ae78aa611c73
* Version Independent ID: 59d452b2-a733-6c04-8ee4-becc4d1f97e9
* Content: [Error handling best practices for Azur

[2018-07-24 17:29] vlele commented on #12173
Thanks, Neil.

In this instance it showed as errored due to access denied. See below for details. A restart of the node seemed to fix the issue.

I upgraded to 1.10.5 successfully. While container images such nginx come up just fine. Images loaded from k8s-gcrio.azureedge.net are returning " unauthorized: authentication required"
pulling image "k8s-gcrio.azureedge.net/exechealthz-amd64:1.2"
Failed

[2018-07-24 17:35] wechuli commented on #12222
@YutongTie-MSFT, my point is that the webservice would expect the label column as part of the input(since it is using the same schema as the training data set), but this is the same column I am trying to predict so I don't have it (doesn't make sense to predict something you already know).

[2018-07-24 17:36] MicrosoftGuyJFlo commented on #7847
#please-close

[2018-07-24 17:37] vasivara-MSFT commented on #12281
@redryan1993 Happy that you were able to resolve the issue. If there are further questions regarding this matter, please reopen it.

[2018-07-24 17:39] Mike-Ubezzi-MSFT commented on #12256
@vbadri Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 17:39] BryanTrach-MSFT commented on #12268
@myokeeh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 17:40] tony-gutierrez opened #12296 "Be more clear on pricing?"
I assume the secondary namespace is also $700 a month?? So you are basically only able to use this feature if you start paying double?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f80f9ca1-70ba-8d90-384f-b08f495ff608
* Version Independent ID: 40fb8fb4-6e2e-2fd5-ffa9-e5cc051513f6
* Content: [Azure Service Bus Geo-disa

[2018-07-24 17:40] vasivara-MSFT commented on #12271
@Ronyeee Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 17:44] Mike-Ubezzi-MSFT commented on #12270
@StefDotmailer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 17:44] vasivara-MSFT commented on #12280
@ahamin01 Can you please provide more information? Like which privacy information and what invitation?

[2018-07-24 17:44] MicahMcKittrick-MSFT commented on #11839
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-07-24 17:44] #11839 closed

[2018-07-24 17:44] MicahMcKittrick-MSFT commented on #11947
@nyenggyang any update?

[2018-07-24 17:45] MicahMcKittrick-MSFT commented on #11983
@MetehanBolat checking in on this issue

[2018-07-24 17:45] MicahMcKittrick-MSFT commented on #12049
@grahamehorner checking in on this issue

[2018-07-24 17:46] Mike-Ubezzi-MSFT commented on #12296
@tony-gutierrez Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 17:46] MicahMcKittrick-MSFT commented on #12175
@peterremote1980 I will close this for now as I am not seeing any issues with the doc. When ready feel free to come back and we can reopen and continue.

[2018-07-24 17:46] #12175 closed

[2018-07-24 17:46] MicahMcKittrick-MSFT commented on #12252
@kalpanaSGit any update on this?

[2018-07-24 17:46] vasivara-MSFT commented on #12288
@phillbl Can you please provide us the microsoft docs site url in which you had this question. It would be easy for us to route this question with that information.

[2018-07-24 17:48] kobulloc-MSFT commented on #12260
@ishepherd Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-07-24 17:48] MicahMcKittrick-MSFT commented on #12255
Thanks @jeff-ng

@dkkapur can you take a look and see if we can address these concerns with the doc?

[2018-07-24 17:49] Mike-Ubezzi-MSFT commented on #12292
@Maggern3 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 17:49] kobulloc-MSFT commented on #12262
@ishepherd Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-07-24 17:50] vasivara-MSFT commented on #12283
@jmorabito11 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 17:52] YutongTie-MSFT commented on #12083
@gopitk Thanks for your explanation here.

@eraoul We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 17:52] #12083 closed

[2018-07-24 18:00] TravisCragg-MSFT commented on #12244
@brwilkinson the amount of internal IPs that the gateway consumes depends upon how many instances you have configured for the gateway. The minimum should be 2 if you only have 1 instance configured.

[2018-07-24 18:02] MicahMcKittrick-MSFT commented on #12261
@TylerMSFT do you have any insights into this? I am not finding anything in the docs that states other communication methods are supported at this time

[2018-07-24 18:03] TravisCragg-MSFT commented on #11913
@joanabdo for creation failures you can open a case with support, or you can get help on [Azure Networking MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork).

@federicoMaesta if you would like to request this feature, [please leave your feedback Here](https://feedback.azure.com/forums/217313-networking)!

[2018-07-24 18:04] MicahMcKittrick-MSFT commented on #12282
@TomArcher do you know if we have any public documentation on how to do this via terraform? I also only find the manual way to do it.

[2018-07-24 18:06] MetehanBolat commented on #11983
@MicahMcKittrick-MSFT , Microsoft Monitoring Agent has a proxy setting, for VMs that has no direct internet access. It Requires OMS gateway to be installed on one of the instances on the network over an adjustable port.
We are able to deploy OMS agent and set workspaceId and Key thanks to this extension. It would be lovely if it were possible to set gateway adress as http://<gatewayHost>.<domain>:

[2018-07-24 18:07] TravisCragg-MSFT commented on #11657
@phillbl I see no reason why this should not work, but I have not done this scenario myself. If you need assistance with troubleshooting, you can post this question to the [Azure Networking MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork).

[2018-07-24 18:08] TravisCragg-MSFT commented on #12231
@glecanu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-24 18:08] #12231 closed

[2018-07-24 18:10] MicahMcKittrick-MSFT commented on #12287
@badbob001 yes the existing backups should still be valid and be working. Are you seeing any issues with them?

[2018-07-24 18:13] thuansoldier commented on #7759
Management Group requires you to have Global Administrator group in Azure AD directory to create and manage.

[2018-07-24 18:13] TravisCragg-MSFT commented on #12283
@jmorabito11 it should be possible to route on-premise traffic through an ExpressRoute or VPN to Azure. Keep in mind that you will have increased latency and be bound by throughput limits of the ExpressRoute or VPN.  Also, Firewall is in a preview stage and is not currently supported for production workloads at this time.

There are currently only outbound policies for Azure Firewall. If you would

[2018-07-24 18:16] singhkays commented on #12249
I've created PRs to add the VPN and ER articles to the next steps

* [VPN Gateway classic to Resource Manager migration](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-classic-resource-manager-migration)
* [Migrate ExpressRoute circuits and associated virtual networks from the classic to the Resource Manager deployment model](https://docs.microsoft.com/azure/expressroute/expressrou

[2018-07-24 18:18] TravisCragg-MSFT commented on #12265
@arunkp89 [current supported Linux versions are listed Here](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-operating-systems). Does this answer your question, or is further clarification needed in the document?

[2018-07-24 18:22] TylerMSFT commented on #12261
At the moment, this is how you do it. The dev team is aware of the need for better service discovery.

[2018-07-24 18:22] TravisCragg-MSFT commented on #12288
@phillbl posting this here as well, as I answered this question on #11657. We should continue the conversation here.

I see no reason why this should not work, but I have not done this scenario myself. If you need assistance with troubleshooting, you can post this question to the Azure Networking MSDN Forum.

[2018-07-24 18:22] jlian commented on #12278
Do you mean that you haven't been able to install? Did you make sure to use `-AllowPrerelease`?

[2018-07-24 18:23] MicahMcKittrick-MSFT commented on #12249
Thanks @singkays!

@joaoma I will close this for now. once the PR merges the changes will go live in a few hours.

[2018-07-24 18:23] #12249 closed

[2018-07-24 18:33] arunkp89 commented on #12265
@TravisCragg. Oracle Linux 7.4 comes with UEK4 (4.1.12-124.14.1.el7uek.x86_64 ) for the current Market Place images but UEK4 doesn't seem to support virtual functions for Accelerated NIC. It would be great if you could specify the kernel versions for Oracle Linux 7.4 like to use RHCK 3.10.0-514.6.1.el7+ or UEK5 4.1.12-124.14.1.el7uek.x86_64 and above kernels.

[2018-07-24 18:33] vasivara-MSFT commented on #12263
@SQLDataSide Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 18:34] TravisCragg-MSFT commented on #12265
@arunkp89 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 18:35] vasivara-MSFT commented on #12267
@LeitchP Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 18:36] femsulu commented on #12275
@Izharsa Thanks for the question. We are actively investigating and will get back to you soon.

[2018-07-24 18:36] bearrito opened #12297 "Lease Rebalancing"
In the example above is there a mechanism that allows for the paritions to be rebalanced across the VM's.

E.G Let's say 4 of the 5 Vm's go down. VM 5 will acquire all partitions, how does it give those back to the other VM's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78479c3a-c7b1-e27c-b390-107ba95d0fac
* Version

[2018-07-24 18:38] TravisCragg-MSFT commented on #12073
@christiankuhtz Thank you for the clarification!

@bearrito We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-24 18:38] #12073 closed

[2018-07-24 18:38] vasivara-MSFT commented on #12274
@lohithgn Thanks for your interest to contribute to our docs! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 18:38] TravisCragg-MSFT commented on #12161
@peddabavisriram We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-24 18:38] #12161 closed

[2018-07-24 18:41] joelmdev commented on #7281
The fact that the cloning feature that's being recommended requires a premium app service plan is really adding insult to injury. If that's the route to take over the largely available but crippled  "change app service plan" feature, it should be available for lower tiers as well.

[2018-07-24 18:52] YoannGUILLO commented on #12278
I apologise for this error, this morning I was unable to install the module AzureRM.Subscription, when I tried to run the command an error message appeared, the module wasn't found.
So I had to use the command "Install-Module AzureRM.Subscription.Preview" and use the command New-AzureRmSubscriptionDefinition

What's the right command and module to finally use ?

[2018-07-24 18:52] bearrito commented on #12297
I expect an answer might be to allow the lease window to be shorter than the time of the renewal window?
Is lease acquisition something that should be done frequently as part of regular control flow?

[2018-07-24 18:56] neilpeterson commented on #12057
@Baggs - thanks for submitting this. I've validated the operation on my end and have updated the doc. This issue will auto-close once the updates have merged.

[2018-07-24 18:57] mike-urnun-msft commented on #11938
Hey @Yonathan159 - As Mike Ubezzi suggested, please open a forum post on MSDN regarding this question so that a larger audience can help answer.

Since this issue doesn't address any specific content in this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 18:57] #11938 closed

[2018-07-24 19:01] larrywa opened #12299 "Removing the local container/application"
What are the steps to remove the local SF Mesh application from the local cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd67cf66-c21f-4206-1663-5253492a68c1
* Version Independent ID: b887341a-f009-7580-fcf9-1d4166ec74f9
* Content: [Quickstart - Create and deploy a web app to Azure Service Fabric Mesh](https:/

[2018-07-24 19:06] MKH13 commented on #12285
Hi,  thanks for your feedback

I expect a scale down event because, i have 5 nodes but the usage of CPU isn't high :

kubectl get nodes
NAME                     STATUS    ROLES     AGE       VERSION
aks-default-13995896-0   Ready     agent     5d        v1.10.5
aks-default-13995896-1   Ready     agent     5d        v1.10.5
aks-default-13995896-2   Ready     agent     5d        v1.10.5
aks-default-

[2018-07-24 19:10] brwilkinson commented on #12244
If you have the internal IP configured on the Frontend pool the WAF will consume 3 IP's on the subnet.

[2018-07-24 19:11] MicahMcKittrick-MSFT commented on #12285
How many nodes do you have your cluster setup to use? Production clusters will use 5 and devs should be using 3

[2018-07-24 19:15] kushagraagarwal19 opened #12301 "Link is broken!"
Hi, the link which is there in 'This example uses CREATE TABLE AS SELECT to re-create a table with a different hash distribution column.' is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95f16ad-0c69-114b-6323-aab6d0f56b30
* Version Independent ID: 1f12fb16-6cb6-fa15-7eec-b513c9d02452
* Content: [Distrib

[2018-07-24 19:21] MKH13 commented on #12285
Now i have 5 nodes ready but I configure Min Nodes: 2 and Max Nodes: 10 :

Config file:
  command:
        - ./cluster-autoscaler
        - --v=5
        - --logtostderr=true
        - --cloud-provider=azure
        - --skip-nodes-with-local-storage=false
        - --nodes=2:10:default

cluster-autoscaler-status:

 NodeGroups:
  Name:        default
  Health:      Healthy (ready=5 unready=0 notSta

[2018-07-24 19:35] jaweekes opened #12306 "Windows / Azure Consultant"
More information about Linux support is needed.  All the examples and documentation is Windows focused, but most companies have at least a couple of Linux machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f7582c-c2a6-87bb-d236-2066e727c90c
* Version Independent ID: 1cbc7ee7-2518-137a-f6d6-d1d62a1a1bc3
* Conten

[2018-07-24 19:38] kobulloc-MSFT commented on #12192
@mlearned I had difficulty reproducing the first issue (likely due to a github issue on my end) however that may be more of a forum question.  For the second question, we may need a bit more detail in using an existing account.

[2018-07-24 19:42] cephalin commented on #7062
@HemantMahawar thanks for pointing out about the try it. I'll look into it. The "incomplete" that you see is actually that New-AzureRmWebApp handles all of those steps for you, including configuring the local repo for deployment. So the command itself is "complete", so to speak.

[2018-07-24 19:48] vmaruthi opened #12307 "Decouple Disconnected/ADFS Connected/AAD"
There is a lot of confusion when 'Connected' and AAD and 'Disconnected' and ADFS are used Synonymously. Eg: When you authenticate with AAD and loose connection for a while is it disconnected ? Would recommend coming up a a matrix/table with AAD adn ADFS authentication and Connected and Disconnected states and summarizing what is possible and what is not.

---
#### Document Details

⚠ *Do not edit

[2018-07-24 19:52] BryanTrach-MSFT commented on #12276
@pwarner Thank you for your question. In order to export your IP restrictions, you should be able to follow the below steps to import/export.

1. Navigate to resources.azure.com
2. Expand subscriptions>*yourSubName*>resourcegroups>*yourResourceGroup*>providers>Microsoft.Web>*yourSiteName*
3. Select config
3a. At the bottom there should be a section such as:

`"ipSecurityRestrictions": [

[2018-07-24 19:52] #12276 closed

[2018-07-24 19:56] SychevIgor commented on #9992
@ggailey777 I'm not looking for a guide for my self, I know how to write functions and did it for a long enough time.
Let me repeat initial request- in a guide (link in a first comment), we are using csx files. CSX is not the best way to write functions as well as managing bindings in a json file is also bad. If in a guide we will have some dropdown where new users will can choose normal C# instea

[2018-07-24 20:00] CelesteDG commented on #10191
@MohitGargMSFT @SaurabhSharma-MSFT @Mike-Ubezzi-MSFT @MicahMcKittrick-MSFT The updated topic is now live with resolution to the Github issue incorporated. Thank you. #please-close

[2018-07-24 20:10] neilpeterson commented on #12173
@vlele - I've just performed an upgrade from 1.9.6 to 1.10.5 and everything looks ok. Dashboard is running and works fine. I will dig a little deeper, but this does not look like a chronic thing.

[2018-07-24 20:15] LisandroSu opened #12308 "Lien "Centre pour développeurs PHP" 404"
@xavierrouhaud commented on [Tue Jul 24 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/170)

ce lien n'est plus fonctionnel : Centre pour développeurs PHP (https://docs.microsoft.com/fr-fr/develop/php/)

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 5e564777-8d59-9065-6f0d-d8ea3fc6ee

[2018-07-24 20:17] LisandroSu commented on #12308
Hi team, please check the link for the PHP Developer Center. We are getting 404 in the ENU version too.

Thanks!

[2018-07-24 20:38] raviteja59 opened #12309 "Unable to create a Backup policy in portal through ARM template"
This is the error i get when i'm trying to deploy a ARM template to create a Backup Policy for a given recovery Services Vault.

error": {
                    "code": "CloudInvalidInputError",
                    "details": null,
                    "innerError": null,
                    "message": "The current operation failed due to an internal service error \"Invalid input error\". Please retr

[2018-07-24 20:39] #10191 closed

[2018-07-24 20:51] rafim1 commented on #11936
I still don't see the issue getting resolved. I have gone through your updated documentation and do update Reply URL to be http://localhost:3000/auth/openid/return - Also, is the home page URL/Sign-On URL the same http://localhost:3000/auth/openid/return ?

[2018-07-24 20:53] MohitGargMSFT commented on #12064
@mjgar Please refer to this document - [How to configure hybrid Azure Active Directory joined devices](https://docs.microsoft.com/en-us/azure/active-directory/device-management-hybrid-azuread-joined-devices-setup). As stated in document -  All domain-joined devices running Windows 10 Anniversary Update and Windows Server 2016 automatically register with Azure AD at device restart or user sign-in o

[2018-07-24 20:54] GaretAnderson opened #12310 "How to set SQL and Oauth credentials after import to allow processing?"
How to set SQL and Oauth credentials after import to allow processing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c804e09a-5163-7f39-82ec-67734ffe9741
* Version Independent ID: 52757fd4-4c69-2a53-5b9c-f32404efbf13
* Content: [Import a Power BI Desktop file into Azure Analysis Services](https://docs.microsoft.com/en

[2018-07-24 20:55] eustacea commented on #12158
Unauthorized signing of devices is another emergent supply chain challenge being addressed in different ways.  Suffice it to say the solution takes more than just cryptography or PKI.

- Depending on the HSM technology, rather than giving Technician-Z a signing key (which enables unlimited signings), Technician-Z could be provided an HSM enabled physical token containing the signing key and intern

[2018-07-24 20:59] JTC-Jeremy commented on #7264
@kimo72 can you share the solution there are alot of us who have this exact issue.

Thanks

[2018-07-24 21:01] mjgar commented on #12064
@MohitGargMSFT I'm sorry, I don't understand why you're suggesting I read that document. Did I miss something? I said that we are not ready to hybrid join our domain-joined devices to Azure AD. By that logic, we cannot rely on the automatic registration Windows 10 1607+ devices enjoy.

[2018-07-24 21:04] MicahMcKittrick-MSFT commented on #12299
Thanks for the question! We are investigating and will update you shortly.

[2018-07-24 21:05] jlian commented on #12278
The right command is `Install-Module AzureRM.Subscription -AllowPrerelease`

[2018-07-24 21:10] jlian commented on #12278
Oh, I see what's going on. This link https://docs.microsoft.com/en-us/powershell/module/azurerm.subscription.preview/?view=azurermps-5.7.0 is for the older version, don't use it. Follow instructions here https://docs.microsoft.com/en-us/azure/azure-resource-manager/programmatically-create-subscription?tabs=azure-powershell#create-subscriptions-under-a-specific-enrollment-account please

[2018-07-24 21:13] vasivara-MSFT commented on #6231
@jwr456 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:13] #6231 closed

[2018-07-24 21:14] vasivara-MSFT commented on #8873
@cfarre We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:14] #8873 closed

[2018-07-24 21:14] vasivara-MSFT commented on #10076
@YassineSOUABNI We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:14] #10076 closed

[2018-07-24 21:15] vasivara-MSFT commented on #10092
@rmorgancafex We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:15] #10092 closed

[2018-07-24 21:15] vasivara-MSFT commented on #10272
@nextorr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:15] #10272 closed

[2018-07-24 21:16] vasivara-MSFT commented on #10980
@joefeser We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:16] #10980 closed

[2018-07-24 21:16] vasivara-MSFT commented on #11592
@DazzleJim We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:16] #11592 closed

[2018-07-24 21:17] vasivara-MSFT commented on #11788
@goatmale We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:17] #11788 closed

[2018-07-24 21:17] vasivara-MSFT commented on #11791
@krasnovandr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:17] #11791 closed

[2018-07-24 21:18] vasivara-MSFT commented on #11844
@rsbeve We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:18] #11844 closed

[2018-07-24 21:18] vasivara-MSFT commented on #11960
@dharasania We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 21:18] #11960 closed

[2018-07-24 21:30] Mike-Ubezzi-MSFT commented on #12301
@kushagraagarwal19 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 21:33] Mike-Ubezzi-MSFT commented on #12307
@vmaruthi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 21:38] berndverst commented on #11716
@shehackspurple for usability of this tutorial this makes the most sense.

Would you prefer a disclaimer that access should be limited to specific IP addresses in a production use case?

At the time of the article the custom VNET support was not available. Most likely that would be preferred - it is unlikely that one wants to enable a direct database connection to the outside world in most cases.

[2018-07-24 21:42] barclayn commented on #12041
@kgreed thank you for your feedback. We are in the process of updating the content set and when we get to these articles we will keep your feedback in mind.

[2018-07-24 21:43] barclayn commented on #12041
#please-close

[2018-07-24 21:44] aricbernard opened #12311 "Step 2 (Import the download and publish to Azure Stack Marketplace)"
First, the script has a hanging " ` " on the last line.
Second, the last parameter (-OsDiskLocalPath) no longer exists for that function in the module.

Please update the script  in Step 2  (Import the download and publish to Azure Stack Marketplace)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da2c689d-3537-c125-3f0

[2018-07-24 21:51] #12057 closed

[2018-07-24 21:51] #10320 closed

[2018-07-24 21:53] neilpeterson commented on #10320
@MicahMcKittrick-MSFT - I've fixed this and the issue has been auto-closed. Is it possible to assign to myself after the fact?

[2018-07-24 21:56] glecanu commented on #12231
@TravisCragg-MSFT Is the language not going to be modified?

[2018-07-24 21:58] v-miclar opened #12312 "Topic too long"
I suggest you break out the FAQ into a subtopic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd765f95-649f-6f34-6ca9-564cd6e9169b
* Version Independent ID: 83f2a8b5-f997-845e-bad9-ff83f7e2bcc7
* Content: [Understanding Azure virtual machine usage](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/vm-usag

[2018-07-24 21:59] MicahMcKittrick-MSFT commented on #10320
@neilpeterson yup! Done :)

[2018-07-24 22:00] hukun01 opened #12313 "Reporting broken link"
In the above, the https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-enable-azure-disk-encryption-windows behind _encrypt your Windows virtual machine disks_ is broken, it points to https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-24 22:01] nansravn opened #12314 "Creating Unique Keys via the CreateCollection method in the Python SDK is not well documented"
I am using the following method for a creating a Collection in my CosmosDB (SQL API): https://docs.microsoft.com/en-us/python/api/pydocumentdb/pydocumentdb.document_client.documentclient?view=azure-python#createcollection

How can I create a collection with 1 or more unique keys via the Python SDK (pydocumentdb)? Where can I find the documentation of the options available for the CreateCollection

[2018-07-24 22:08] daveba commented on #12272
@bingosummer Yes, you should retry if you receive a 408 error.  I've created a backlog item to get the documentation updated. #please-close

[2018-07-24 22:13] v-miclar opened #12315 "Grammar, spelling, and syntax errors"
Misspelling: "when using the Bring Your Own License (BYOL) blling model."

Unnecessary number shift in the following consecutive sentences:
 " Your customer is not required to pay any license or subscription fees for your offer. Your customers are not required to pay for the underlying Microsoft first-party product or service. "

Space required before paren: "infrastructure-as-a-service(IaaS) or S

[2018-07-24 22:18] MicahMcKittrick-MSFT commented on #12291
@iainfoulds are you aware if this is available yet? Seeing as this feature is still in preview we might not have it available yet.

[2018-07-24 22:21] MicahMcKittrick-MSFT commented on #12299
@larrywa so you are looking to remove just the app but keep the cluster? Why wouldn't you just remove the entire cluster if you were not using the app?

[2018-07-24 22:37] larrywa commented on #12299
I am running and debugging locally. You would not want to have to do that each time locally in a dev environment.

Which also makes me wonder, with SF Mesh, does the SF Explorer work with it?

---------------------------------------------------------
Thanks!
larrywa

From: Micah <notifications@github.com>
Sent: Tuesday, July 24, 2018 6:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.

[2018-07-24 22:41] vasivara-MSFT commented on #12297
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 22:42] zhiweiwangmsft commented on #10600
#close

[2018-07-24 22:43] zhiweiwangmsft commented on #10600
@SaurabhSharma-MSFT can you remind me to close this thread?

[2018-07-24 22:43] MicahMcKittrick-MSFT commented on #12299
@TylerMSFT can you chime in on this one?

@larrywa I am not aware of a Service Fabric Explorer in Mesh. It is supposed to take away the need to mange clusters so its like Service Fabric on a higher level. From my understanding you would create a new SF Mesh app every time you want to test something out. Then remove it completely when done (Delete from PC) Just as you would with a web app. Will hav

[2018-07-24 22:47] rturner3 commented on #12078
I filed a ticket earlier today with support request ID 118072418646357

[2018-07-24 22:49] v-miclar opened #12316 "Duplicated intro sentence"
It appears that the first sentence in this topic is duplicated (without updating) from the previous topic "Azure Apps: Solution Templates":

"Solution Templates are one of the main ways to publish a solution in the Marketplace. Use this guide to understand the requirements for this offer."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-24 22:49] Mike-Ubezzi-MSFT commented on #12314
@nansravn Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 22:49] ggailey777 commented on #12274
@lohithgn Glad you like the tutorial. I will have to do some asking around to see if this is permitted by our [Terms of Use](https://docs.microsoft.com/en-us/legal/termsofuse).

[2018-07-24 22:50] larrywa commented on #12299
Well, just my viewpoint, but you can’t be asking developers to totally wipe their local cluster each time. They may also have other applications deployed there that are separate from the mesh app.

---------------------------------------------------------
Thanks!
larrywa

From: Micah <notifications@github.com>
Sent: Tuesday, July 24, 2018 6:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.gi

[2018-07-24 22:53] ctolkien commented on #10199
@neilpendlington ,

Thanks for following this up - that resolved it (I eventually spoke to someone at support who suggested the same thing). Their take is that MS determines the domain that my MSA uses to be an AzureAD domain - but couldn't tell me why (seeing as it is a MSA).

One further point, this domain I use email via outlook.com with the (now grandfathered) custom domain support. At some po

[2018-07-24 22:53] MicahMcKittrick-MSFT commented on #12299
Yup makes sense. I am not finding anything in the docs right now so very possible we can do it we just don't have it documented....in which case this is the right place to bring that up :)

[2018-07-24 22:54] BryanTrach-MSFT commented on #12234
@volcek Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-07-24 22:54] #12234 closed

[2018-07-24 22:55] TravisCragg-MSFT commented on #12244
@brwilkinson you can configure the number of instances in the "configuration" area of the App Gateway".

each "Instance" that you configure will consume an IP on the subnet.

![image](https://user-images.githubusercontent.com/38542241/43170436-f32ed03a-8f59-11e8-861d-c92d7f40f7e0.png)

[2018-07-24 22:57] BryanTrach-MSFT commented on #11534
@shalinasanga We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-24 22:57] #11534 closed

[2018-07-24 22:58] MicahMcKittrick-MSFT commented on #12313
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 22:59] JatinBavishi opened #12317 "Add keywords like MAG or Azure US Government cloud besides Fairfax in above list of IP"
For customer clarity purpose, please consider adding keywords like MAG or Azure US Government cloud besides Fairfax in above list of IP. Many customers are not aware of Fairfax being the code name for Azure govt cloud & are not able to find the IP related to govt cloud.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80

[2018-07-24 23:00] MicahMcKittrick-MSFT commented on #12313
hmm odd. It seems that even typing in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-enable-azure-disk-encryption-windows

points you to the same link..... Will figure it out and get it fixed .

[2018-07-24 23:01] v-miclar opened #12318 "Inconsistent TOC Entry"
The associated TOC entries for the other topics do not contain the "publishing guide" suffix; therefore the TOC entry for this topic should probably be just "SaaS Applications".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd16cf1-63d4-4bbd-a13c-bfb8ab051e18
* Version Independent ID: f6b27e10-2190-82e2-4999-eb782171

[2018-07-24 23:03] MicahMcKittrick-MSFT commented on #12313
@aljo-microsoft looks like this file referenced is no longer in the repository so it is just redirecting
https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/service-fabric

Cc @masnider @dkkapur @srrengar

[2018-07-24 23:04] MicahMcKittrick-MSFT commented on #12312
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-24 23:12] johncrim commented on #12178
@SaurabhSharma-MSFT - the article you referenced does not mention Service Fabric. However Service Fabric services run on a VM, so presumably the VM metadata endpoint could be used to obtain the managed service identity. It would be good to confirm whether this approach can be used or not.

[2018-07-24 23:18] dcbrown16 commented on #7279
@JasonWHowell Sorry about that, had a bunch of docs open.
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-create-linux-clusters-with-secure-transfer-storage?toc=%2Fen-us%2Fazure%2Fhdinsight%2Fdomain-joined%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json
Here's the page with the typo.

[2018-07-24 23:20] BryanTrach-MSFT commented on #12310
@GaretAnderson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-24 23:23] femsulu commented on #11966
@uamrit We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-24 23:23] #11966 closed

[2018-07-24 23:30] stdistef opened #12321 "Feedback"
Nice work.  I always thought you couldn't use ncpa.cpl on Azure VMs, but this atricle enlightened me...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5293db-b062-ee9e-9d17-9db4ded5cfae
* Version Independent ID: 938fc48b-fb70-9717-a731-79278553eed6
* Content: [Multiple IP addresses for Azure virtual machines - PowerS

[2018-07-24 23:33] srrengar commented on #12313
@aljo-microsoft can you fix this link as the author?

[2018-07-24 23:34] Adam-Smith-MSFT commented on #12306
@jaweekes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-24 23:37] dtzar opened #12322 "az CORS command not working"
It appears the CORS command is not working and provides no errors.  Filed https://github.com/Azure/azure-cli/issues/6884

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Version Independent ID: 55d51b2a-c8fe-086e-a1c2-b0592f57967c
* Content: [RESTful API with CORS in Azure App Servi

[2018-07-24 23:37] SaurabhSharma-MSFT commented on #12178
@johncrim Yes  Service Fabric runs on VMs you should be able to add MSI to an existing VM's according to this https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/qs-configure-portal-windows-vmss#enable-msi-on-an-existing-azure-vmms.

[2018-07-24 23:44] lisaguthrie opened #12323 "Add information on removing and recreating AZDS controller when it's in a Failed state"
We need information on removing/recreating an AZDS controller when it's in a Failed state. Right now, removing must be done through the CLI -- so, we need to include information on getting the CLI installed, for VS-exclusive users. Recreating can be done through the CLI or VS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-24 23:45] femsulu commented on #12022
@georgewallace  can you please take a peek and let me know if the doc needs to be updated or is this simply a module version issue?

[2018-07-24 23:47] femsulu commented on #12278
@jlian thanks for the update. may be helpful to include a note to clarify this in the published doc. thoughts?

[2018-07-24 23:48] JasonWHowell commented on #11187
Let us know if you need further assistance. We'll stand down for now.
#please-close

[2018-07-24 23:50] SaurabhSharma-MSFT commented on #12294
Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-24 23:50] ddenton12 opened #12324 "Masergy Link"
The link to Masergy is pointed to an outdated resource. The correct URL is now: https://www.masergy.com/hybrid-networking/direct-cloud-connect/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00024b9-36f7-c9a8-4277-9360b0cd6163
* Version Independent ID: aa65d869-db72-c0d8-a7e1-75a4949b6bbc
* Content: [Connectivity prov

[2018-07-24 23:50] masters3d opened #12325 "Sample does not work on v1 of Azure Function"
This only works in the beta version of the Azure Function Proxy. I am using authentication.
Once I switch to beta, it started working.
Runtime version: 2.0.11933.0 (beta)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd9

[2018-07-24 23:51] SaurabhSharma-MSFT commented on #12295
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-24 23:51] femsulu commented on #12315
@v-miclar Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-24 23:55] dsajanice opened #12326 "The 'Build your IoT Edge solution' section is missing a step"
The tutorial instructs the user to change the name of the module from SampleModule to CSharpModule. The user must also then change the names in the Edge Hub routes. That is the missing step. Without this step, the routes will be incorrectly setup and the messages will not be routed correctly.

The user needs to change SampleModule to CSharpModule in the following lines in deployment.template.json.

[2018-07-24 23:56] dsajanice commented on #11502
We are looking at a similar issue here: https://github.com/Azure/iotedge/issues/59. Please take a look at that thread and at https://github.com/MicrosoftDocs/azure-docs/issues/12326 to get the setup to work. Happy to help on the https://github.com/Azure/iotedge if you're still having issues.

[2018-07-24 23:56] femsulu commented on #12318
@v-miclar Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-24 23:57] JasonWHowell commented on #9373
#please-close
We haven't heard back lately, and not sure if this issue is still active. Let us know if we need to continue the discussion.

[Azure support](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview) could also assist if you are stuck.

Summary:
The doc recommended to use the POST /batches and the pyFiles element in the body.
pyFiles | Python files to be u

[2018-07-24 23:58] femsulu commented on #12316
@v-miclar  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-24 23:59] barbkess commented on #10335
@SaurabhSharma-MSFT : Please assign this to me.  Thanks

[2018-07-25 00:03] #11187 closed

[2018-07-25 00:03] #9373 closed

[2018-07-25 00:03] femsulu commented on #12078
@rturner3 we will continue to track this issue via the support ticket. we will now close this issue on github.

[2018-07-25 00:03] #12078 closed

[2018-07-25 00:07] MarileeTurscak-MSFT commented on #12294
Hi @DeanGross,

There are several options you can check. This often happens either if the app service is still running or has some dependencies in another resource.  This can also happen if you do not have the right permissions or administrative access to the application. I would first go to the App Service and hit "stop", and then try deleting again. Then make sure that you delete any dependencie

[2018-07-25 00:08] masters3d commented on #12325
This was caused by another proxy in the same file which was invalid.

[2018-07-25 00:08] #12325 closed

[2018-07-25 00:09] femsulu commented on #11849
@AnastasiyaSim These are good questions that are best answered through a support ticket. Please review my previous comment on how to raise a support ticket. Do you have a support plan or do you need my help raising a ticket? if yes, follow the instructions above.

[2018-07-25 00:14] MarileeTurscak-MSFT commented on #12295
Hi @DeanGross ,

Did you have a particular note about AquireTokenAsync that you wanted to add?

[2018-07-25 00:16] curtand commented on #9123
I can do this. I'll take it on tomorrow.

[2018-07-25 00:16] curtand commented on #9123
@SaurabhSharma-MSFT

[2018-07-25 00:22] JasonWHowell commented on #7279
@dcbrown16 Got it - fixing it. I had a good laugh at Gibhub. Like I've invented a new site for picking out bolts and screws. Grubhub is a real one though.  Thx, Jason

[2018-07-25 00:34] #12041 closed

[2018-07-25 01:29] MicahMcKittrick-MSFT commented on #12313
@srrengar I can fix it however I am not finding the correct link to actually change it to.

If you put in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-enable-azure-disk-encryption-windows it just redirects to the basic creating a cluster doc.

I searched the SF github repo but no longer see any doc referring to enabling disk encryption. I am wondering if it might have been

[2018-07-25 01:32] MicahMcKittrick-MSFT commented on #12325
Thanks for the update @masters3d

[2018-07-25 01:41] SQLDataSide commented on #10332
yes you are it is what i see in the page

val tempDir = "wasbs://" + blobContainer + "\@" + blobStorage +"/tempDirs"

So which one is right???

[2018-07-25 01:41] MicahMcKittrick-MSFT commented on #12287
@badbob001 we are working offline to get an answer to this question. Will update you once we have more information.

[2018-07-25 01:44] srrengar commented on #12313
not sure what happened to those articles. @aljo-microsoft can help provide proper links or suggest other changes

[2018-07-25 01:46] SQLDataSide commented on #12263
I even tried it on ASDW Gen2 and it did not work
i feel that its the mentioned section that can not write

 renamedColumnsDF.write
     .format("com.databricks.spark.sqldw")
     .option("url", sqlDwUrlSmall)
     .option("dbtable", "SampleTable")
     .option( "forward_spark_azure_storage_credentials","True")
     .option("tempdir", tempDir)
     .mode("overwrite")
     .save()

[2018-07-25 01:48] SQLDataSide commented on #12263
I am still getting the same error, can someone help please
Sincerely
Nik

[2018-07-25 01:55] bingosummer commented on #12272
Thanks @daveba .
A further question:
The retry codes of MSI should be ( the MSI-specific retry codes + the general retry codes ). Is the understanding correct? If so, it's better to clarify it in the doc.

[2018-07-25 02:09] n3wt0n commented on #12261
I appreciate it is the only way to currently do it. I reckon we need to state it somewhere in the docs so it would be clear for all. Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Tyler Whitney <notifications@github.com>
Sent: Wednesday, July 25, 2018 2:22 AM
To: MicrosoftDocs/azure-docs
Cc: Davide Benvegnù; Author
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-07-25 02:11] MicahMcKittrick-MSFT commented on #12313
got it. Thanks @srrengar!

@aljo-microsoft feel free to ping me offline and we can get it sorted it out.

[2018-07-25 02:12] SQLDataSide commented on #12263
I found the issue and another possible issue that MS need to test
- Issue 1 :
the code are correct except the part
val tempDir = "wasbs://" + blobContainer + "@" + blobStorage +"/tempDirs"

In the above documentation it says "/@" it must be "@" only

- Possible issue: i did try it on ASDW Gen2 (14.69 CAD/hour) and it was not working maybe I was wrong and was using "/@" , anyway please someone at M

[2018-07-25 02:14] SQLDataSide commented on #12263
FYI the error message was miss leading maybe that can be improved, Thank you

Sincerely
Nik

[2018-07-25 02:34] SnehaGunda commented on #12292
@Maggern3 Thanks for the feedback, I see you have also posted this question in the discussion alias, we have a sync meeting to discuss this, we will update the docs and help you with samples.

[2018-07-25 02:53] SnehaGunda commented on #12014
#please-close

[2018-07-25 03:20] brwilkinson commented on #12244
Okay, I see what you are saying.. makes sense. I never considered running a single instance WAF, however obviously that is an option, my mistake.

[2018-07-25 04:49] Srikesh12 opened #12327 "Missing coma in the sentence"
"Must start with a letter number, or an underscore" is the sentence I feel that to be corrected with proper punctuation which goes as "Must start with a letter, number, or an underscore"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1bddf8-6515-3979-ffde-0bab66caa817
* Version Independent ID: c1f105f2-3faa-3aca-7365

[2018-07-25 04:53] bdyzel opened #12328 "ASG Association"
It's listed that the ASG can be associated to a NIC of a VM, but as more and more PaaS services are being deployed privately is it possible to associate an ASG to a Subnet instead of just a NIC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b

[2018-07-25 04:57] Juliako commented on #11316
#please-close

[2018-07-25 04:57] Juliako commented on #11047
#please-close

[2018-07-25 05:15] lohithgn commented on #12274
@ggailey777 hmm … interesting … i never thought this was this tough :) … will wait for your further notes. Thanks.

[2018-07-25 05:20] hannesne opened #12329 "Please add a walkthrough for reading and processing CSV files"
As acknowledged in this blog post: https://blogs.msdn.microsoft.com/david_burgs_blog/2017/05/19/logic-app-flat-file-encoding-and-decoding-documentation-references/ the documentation for dealing with csv files is hard to come by.
The flat file connector has virtually no documentation on it's use. What is there lacks detail around how to set up schemas for csv files (it only states that you should p

[2018-07-25 05:31] veyalla commented on #12211
This is being tracked at https://github.com/Azure/iotedge/issues/58. #please-close

[2018-07-25 05:34] dcbrown16 opened #12330 "Linux?"
Doesn't this doc also work for Linux VMs? It doesn't show up in the Linux menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84bf446-324c-da0c-c099-b352849a696d
* Version Independent ID: c55004b7-c4f5-290f-d5a7-be39bf961ec7
* Content: [Create a Windows VM from a specialized VHD in the Azure portal](https://docs.micr

[2018-07-25 05:49] veyalla commented on #11807
@AnirvanK It will be in our regular release cycle at https://github.com/Azure/azure-iotedge/releases

Unfortunately github doesn't support notifications on releases but you can use a service like releases.netlify.com to get notified.

[2018-07-25 05:50] veyalla commented on #10958
This has been fixed.  #please-close

[2018-07-25 06:06] dcbrown16 opened #12331 "What is a "change of a health probe"?"
The new info about what happens when health probes fail is very useful, but I have a question about one part.
"A change of a health probe in the backend pool may move new datagrams to a different instance in the backend pool."
What exactly is a "change of a health probe"? Does this mean that if all probes failed (the presumption of this section) and one recovered, UDP flows might move to another i

[2018-07-25 06:09] fwertz commented on #12284
Azure CDN endpoints can only point to premium storage, correct? Still no way to get a static app behind the CDN for URL rewriting and proper SPA hosting?

[2018-07-25 06:53] JamesDLD opened #12332 "AzureRM.PolicyInsights is now GA!"
May I suggest a documentation update as AzureRM.PolicyInsights module is now GA.
https://www.powershellgallery.com/packages/AzureRM.PolicyInsights/1.0.2

Regards,
James

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af1d215-b6e1-404c-e52a-e06f987fd8eb
* Version Independent ID: c655e41f-8887-f005-35aa-37e52570ff61
* Co

[2018-07-25 07:33] StefDotmailer commented on #12270
Thank you @Mike-Ubezzi-MSFT

[2018-07-25 07:34] buchizo commented on #12075
@CKeene78 @MarileeTurscak-MSFT

I guess this sample project code does not working because that doesn't modified latest version for passport-azure-ad module. I update this sample as follows : https://gist.github.com/buchizo/9cec7d8711f10f6ecdb65afd01cc1f95

[2018-07-25 07:47] johanvjr commented on #12064
We need this to.. i got a link in the past from someone at microsoft which you can place in an email. When the user presses this link the add work school account window pops up. @MohitGargMSFT do you have that system link? Goal is to make is easy as possible for the users.

[2018-07-25 07:55] ahamin01 commented on #12280
Talking about this article "https://docs.microsoft.com/en-us/azure/active-directory/active-directory-properties-area". So, this can be configured using Azure AD and to be shown to the the external users (Azure B2B Users) while accepting the invitation. However, later if the guest users(external users) would like to view this Privacy Info again, how they can review it? from where? - The only place

[2018-07-25 08:02] eskaufel opened #12334 "Minor changes in the Azure UI"
Authentication is now  a page of its own and not just a step on the first page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e827-8762-fa58d6758d93
* Content: [Quickstart - Azure Kubernetes cluster portal quickstart](https://docs.microsoft.c

[2018-07-25 08:38] krasnovandr commented on #11791
Sorry but I can't see any changes regarding the article.

[2018-07-25 08:39] tinod opened #12336 "How to gain programmatic access?"
The documentation clearly lists the data format associated with the MFA Activity Log. It also indicates that the data is available under the Reporting API. Yet, it's unclear what Graph path to this data would be. https://graph.microsoft.com/beta/auditLogs/signIns holds different information. Can we clarify where exactly to get this data programatically?

---
#### Document Details

⚠ *Do not edit t

[2018-07-25 08:58] phamthanhtong opened #12337 "How to use View DB in Offline Data Sync in Azure Mobile Xamarin?"
I used Azure Offline Sync in Xamarin Forms. I refered to https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-offline-data-sync

But It seem only support Table sync, cannot View sync. I want to create a View in Azure SQL Database, and sync with Mobile app to use instead of creating new table.

Could you guide me how to use View DB in Xamarin Mobile app?

---
#### Document D

[2018-07-25 09:01] phillbl commented on #12288
hi,

this was the site

https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal

cheers

[https://docs.microsoft.com/_themes/docs.theme/master/en-us/_themes/images/microsoft-header.png]<https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal>

Deploy and configure Azure Firewall using the Azure portal ...<https://docs.microsoft.com/en-us/azure/firewa

[2018-07-25 09:12] tumluliu opened #12338 "az vm create doesn't accept --disk-encryption-key** options"
when passing the four options `--disk-encryption-key-vault-id`, `--disk-encryption-key-url`, `--key-encryption-key-vault-id` and `--key-encryption-key-url`, azure cli is complaining with `az: error: unrecognized arguments: --disk-encryption-key-vault-id /subscriptions/****/resourceGroups/****/providers/Microsoft.KeyVault/vaults/**** --disk-encryption-key-url https://****.vault.azure.net/secrets/**

[2018-07-25 09:41] johanvjr commented on #12064
@mjgar and @MohitGargMSFT  i found this. This is for us a good starting point. This enables the user to easily enroll the device which we do not control.

https://docs.microsoft.com/en-us/windows/client-management/mdm/mdm-enrollment-of-windows-devices#connecting-your-windows-10-based-device-to-work-using-a-deep-link

[2018-07-25 10:09] kspoojary commented on #7603
How the end user(Web app developer) setup his login page to get the access token.  In this sample developer console is configured with client id and secret and resource . I am trying to get the token manually through postman but it is not working.     "error": "unsupported_grant_type",
    "error_description": "AADSTS70003: The access grant '\"authorization_code\"' is not supported.\r\nTrace ID: 1

[2018-07-25 10:15] kspoojary opened #12341 "Unable to get access token through postman"
I have used all the setting which is set on developer portal, like token url,  auth url, client id , client secret in post man I got the error resource id not provided.

AADSTS50001: Resource identifier is not provided.
 Trace ID: dc3f2119-1564-4f62-802b-b39e5ba63e00
 Correlation ID: c3e539c2-e99d-4573-82ad-9ae182e808f6
 Timestamp: 2018-07-25 10:08:04Z

l tried calling token url directly
POST http

[2018-07-25 10:32] SychevIgor opened #12342 "Rename file xplat-cli-azure-resource-manager.md to cli-azure-resource-manager.md"
There are 2 CLI versions, xplat and cli 2. Based on a file name I thought that we are talking here about xplat(old), but based on a content we are demonstrating here new cli.
To avoid frustration in a future, we can rename file name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2610d2-b681-32cd-7e07-2468b68f12e3
* V

[2018-07-25 10:38] MKH13 commented on #12285
Hello guys,

Now the scaledown does work, maybe the memory usage was must high...  i close the ticket,

Thanks.

[2018-07-25 10:58] pmdci opened #12343 "Advanced kmdkey scenario returns an error"
"Storing the credentials for another user on the machine is very easy: when logged into your account, simply execute the following PowerShell command:"

the command in question returns an error:

Windows PowerShell
Copyright (C) 2014 Microsoft Corporation. All rights reserved.

PS C:\Windows\system32&gt;
PS C:\Windows\system32&gt; $password = ConvertTo-SecureString -String "hereGoeshtePassword" -A

[2018-07-25 11:09] riedwaab commented on #11316
Thanks makes sense.

From: Julia Kornich <notifications@github.com>
Sent: Tuesday, 24 July 2018 6:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Riedwaan Bassadien <Riedwaan.Bassadien@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Progress on JobState.Processing (#11316)

@ridewaab, you can use TaskNotification, by setting Inclu

[2018-07-25 11:35] Josverl commented on #11083
Sorry for the late response, but in the public version of the article there is a different URL
Broken:
- https://blogs.office.com/2015/11/19/updated-office-365-modern-authentication-public-preview/
Working :
- https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/

[2018-07-25 11:42] ilyas-it83 commented on #10535
The article is not updated for IoTEdge-GA, please have it updated!

[2018-07-25 12:00] timjroberts-inty commented on #10960
I can confirm that my issue of the missing 'azds' command was because I hadn't run the 'az aks use-dev-spaces -n [AKS cluster name] -g [resource group name]' command. I've run through the tutorial again, and all works!

[2018-07-25 12:03] oystein-devicedrive commented on #10483
We have the same problem. The automatically added AI filter handles the exceptions, and our custom filter gets the ExceptionContext object with filterContext.ExceptionHandled already set to true (by the AI filter), and our logic is bypassed. Would it be possible to configure this so that AI silently handled the error, and allowed us to continue having our custom ExceptionHandler?
Now we must expli

[2018-07-25 12:27] Johns-305 opened #12344 "Clarification of SOURCE BLOB"
After migrating a disk, the SOURCE BLOB property on the new Disk is a bit mysterious.  It should be explicitly stated, not just implied, that the new Disk is a full copy of the source blob and there is not connection between the two.  Meaning, the blob can be deleted without compromising the Disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-07-25 12:33] phillbl commented on #12288
its ok, its works, i was adding a fw rule using the adress of X.X.X.X, when i change this to X.X
.X.X/16 it worked so i was missing the mask, would be nice if an additional field was used to input this.

one issue we seem to have found is that once the fw is added and the two machines can ping each other, we delete the rule and the machines keep pinging, been over 5 mins since i deleted the fw rul

[2018-07-25 12:48] cephalin commented on #7281
@joelmdev note that you only need to switch into premium for as long as it takes to clone and can immediately scale the plan back down or delete it, and pay minimally for the amount you. And yes, the product team recognizes the limitations of the move plan feature, however we don't have information on when an improvement will come.

Note that any higher tier feature you need can be used in the sam

[2018-07-25 12:58] CKeene78 commented on #11936
Did get this working. Thank you for the updated documentation. It "almost" resolved the issue entirely but I did have to do few more things.

1) returnURL (in config.js) I configured as http://localhost:3000/.
2)  ReplyURL (in portal) I configured as  / ReplyURL (in portal) I configured as http://localhost:3000/.
3) Set Home page URL to https://localhost:3000/auth/openid/return, but handling the a

[2018-07-25 12:58] andybeak opened #12345 "Your subscription needs to be registered with microsoft.insights"
The document says:

Although this is true (I think), metrics are not available until the subscription that the VM is created under is registered with "microsoft.insights".  I have recently created a new pay-as-you-go subscription and it was not registered to this service by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-07-25 12:59] CharlPels opened #12346 "why is this not free"
Still wondering why this feature is not free of charge.
Users with only Office 365 licenses are now forced to use scripts etc to assign licenses, and the sole purpose of this feature is to use/assign MS licenses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent I

[2018-07-25 13:00] cephalin commented on #11672
@tschleining Thank you for your feedback. I apologize, but we don't have the liberty to talk about webspaces at this point, and the current language is designed to dance around that. We realize that we need a better story around that in our documentation, so we'll continue to negotiate the messaging with the product team.

#please-close

[2018-07-25 13:09] joelmdev commented on #7281
That is actually what we have been doing, but it is a workaround at best
and cloning is not the push button solution that it is made out to be. We
have found that more often than not cloning fails even on simple,
straightforward app services. The error messages are cryptic and have
ultimately required us to purchase a support plan to get through them. An
operation that seems like it should have ta

[2018-07-25 13:13] nezoic opened #12347 "Documentation does not match Executable download"
I haven't checked the source code yet, but the downloadable executable appears out of date with the documentation. When I run the command line to export from SQLApi/CosmosDB I get: Critical error: Source with the name 'CosmosDB' is not known. Changing this to DocumentDB works but the additional parameters are off as well then.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-07-25 13:32] cephalin commented on #7281
Really appreciate you taking your time to offer this feedback. Your contribution is invaluable to us and I will make sure the product team sees this.

[2018-07-25 13:50] cephalin commented on #7062
@HemantMahawar It skipped me that the try it block for PowerShell is actually not ready for our docs, which is why we're not using it yet.

#please-close

[2018-07-25 13:53] manishkp opened #12349 "Subscription ID is not coming as part of the Webhook actions for log alert rules"
Subscription ID is not coming as part of the Webhook actions for log alert rules.
as mentioned in https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log-webhook#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2

[2018-07-25 14:06] kylomon opened #12350 "Missing Power BI Free"
I believe it is POWER_BI_STANDARD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing in Azure Active Directory](https://docs.microsoft.com/en-us/azure/acti

[2018-07-25 14:48] mlevitt1 commented on #7804
I am not getting any alerts.  The only alert I get is when I initially create the alert and the alert is activated.

[2018-07-25 14:58] TheAmenRa opened #12351 "Retrieve Extended Metadata Attributes"
Hi, how can iI retrieve extended metadata such as "Source URL" using the "Evaluate" method?

If i add the "S.U" in the attributes list that I pass with the expression source urls are not given back within entities.

Thanks in advance for help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7fdc3-0631-b959-0af4-faf35

[2018-07-25 14:59] cephalin commented on #8113
@Dunkirk I cannot reproduce your error. I installed grails and created a helloworld app following the grails user guide, then created a web app, configured it to use java, then used the PowerShell commands to deploy it. it deployed successfully and you can see it here: https://cephalin-java.azurewebsites.net/.

[2018-07-25 15:10] DeanGross commented on #12295
I'd like to see something about how to modify code that used AquireToken in V2 so that it will work with AquireTokenAsync in V3. There are many blog posts and forum questions about this topic and its hard to determine what should be done with the current version.

[2018-07-25 15:10] #12219 closed

[2018-07-25 15:16] josuvil opened #12352 "typo"
There's a typo: 9a - Should be Single instead of Signle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1ffd-7129-7bb4e37b07ff
* Version Independent ID: ec9f7c43-e967-d2e7-cde7-111c5897a798
* Content: [Tutorial: Azure Active Directory integration with ServiceNow](https://docs.microsoft.com/en-us/azure/acti

[2018-07-25 15:18] tpmeredith commented on #9705
@Zhouwangzw @YutongTie-MSFT flow just needs an openapi definition file (file or URL) or postman collection, would it be possible for you to generate one and we can test it with flow?

[2018-07-25 15:21] srmonson opened #12353 "This example consumed $33+ of Azure credit"
Just as an FYI, for those wanting to run this example, it consumed more than $33 of my Azure credit. Its not too much of a big deal, since I get $150 of credit / month with the Visual Studio subscription. But, its too bad when you setup a Cosmos DB it automatically charges you for 100 request units (hours) up front for such a simple example. Each of these examples ought to at least tell you what c

[2018-07-25 15:30] iainfoulds commented on #11426
@CriGrigore You'd need to recreate the cluster with RBAC enabled at creation time. It's not currently supported to enable RBAC on an existing cluster.

[2018-07-25 15:32] DCtheGeek commented on #11985
@helderpinto Thanks for the feedback!  It is mentioned on another page that DeployIfNotExists currently only can be used by **built-in** policies, but I agree with your comment and will make it more clear on this page.  Thanks!

[2018-07-25 15:35] DCtheGeek commented on #12332
@JamesDLD Thanks for the note and you are 100% correct!  I've removed the "preview" language in the document and the update will be published live later today.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please tag this as assigned to me and label as 'doc-bug'.  Thank you!

[2018-07-25 15:36] AnastasiyaSim commented on #11849
Ok. I have opened a ticket to support in my subscription. Waiting for response.

[2018-07-25 15:36] CriGrigore commented on #11426
@iainfoulds Thanks for your answer.
Is here any ETA for when it will be supported to enable RBAC on an existing cluster?  Moreover, do you know when the online documentation will be uptaded?

[2018-07-25 15:39] cephalin commented on #12353
@srmonson Thank you for taking the time to report this to us.

@mimig1 This is a horrible getting started experience. Can you help deliver this feedback to the Cosmos DB team? We can't have customers pay so much just to follow our get started tutorials.

[2018-07-25 15:43] MicahMcKittrick-MSFT commented on #12285
@MKH13 thanks for the update! Very strange... We can close for now but if you notice the issue come back feel free to let me know and we can reopen and take a look :)

[2018-07-25 15:43] #12285 closed

[2018-07-25 15:44] whytoe opened #12354 "Classic Alerts endpoint is not correct"
The link on this page for the classic alerts, specifically ObjectCount on a Storage account is not available when hitting the Azure Monitor REST API when using a "get" request provides the Current Alert metrics, not Classic alerts.

GET https://management.azure.com/subscriptions/233cc8fb-b0fe-4d31-bcd4-d447b5b20449/resourcegroups/AppInsights/providers/Microsoft.Storage/storageAccounts/testsdc1/pro

[2018-07-25 15:45] pcl-houghton opened #12355 "On-Premise Gateway Data Source Config for API query"
How do you configure a new data source in the On-Premise gateway for an API? I can see that an authentication method is required. Where should the service account be added to give it permissions to run this query?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0abefda3-86b0-ed2c-1ce2-1f2d7cc175ad
* Version Independent

[2018-07-25 15:48] iainfoulds commented on #11426
@CriGrigore Sorry, I don't have an ETA. The PG simply let us know it wasn't currently possible. I don't think there would be any enablement for clusters created pre-GA or even pre-RBAC preview. RBAC itself is due to come out preview shortly, at which point there may be more information as to whether this functionality will be implemented. Docs are updated in sync with updated features from enginee

[2018-07-25 15:48] #12014 closed

[2018-07-25 15:50] MicahMcKittrick-MSFT commented on #12330
Thanks for the question! We are investigating and will update you shortly.

[2018-07-25 15:51] MicahMcKittrick-MSFT commented on #12334
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-25 15:52] MicahMcKittrick-MSFT commented on #12344
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-25 15:52] MicahMcKittrick-MSFT commented on #12347
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-25 15:57] #11985 closed

[2018-07-25 16:01] msvijayn commented on #12349
@manishkp - as in the [doc](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log-webhook), subscription id is only applicable if your log alert is used with application insights

![image](https://user-images.githubusercontent.com/33087919/43212504-c0fd72f8-9051-11e8-8588-6b8685c19b1e.png)

If you are using log alerts for log analytics - your webhook payload

[2018-07-25 16:01] dataangler opened #12356 ""Export as-is to JSON files or Cosmos DB collection" option does not exist in copy data wizard"
"Export as-is to JSON files or Cosmos DB collection" option does not exist in copy data wizard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cac5a8-aa7f-8aba-d47e-e78249efa031
* Version Independent ID: 09c34890-b4f0-be28-9813-bb8066631f6f
* Content: [Copy data to/from Azure Cosmos DB using Data Factory](https://docs

[2018-07-25 16:13] DaveVoyles opened #12358 "app.get('/auth/openid' is in tutorial, missing from sample"
When looking at the tutorial for this sample, [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-openidconnect-nodejs#step-4-use-passport-to-issue-sign-in-and-sign-out-requests-to-azure-ad), there is a function:

[code]

But it is missing from the [attached tutorial.](https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS/blob/master/a

[2018-07-25 16:24] johnco14 opened #12359 ""of" should probably be "off""
In the string "kick of a Spark job", the "of" should probably be "off".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1bddf8-6515-3979-ffde-0bab66caa817
* Version Independent ID: c1f105f2-3faa-3aca-7365-02ffeaae6d0a
* Content: [Pipelines and activities in Azure Data Factory](https://docs.microsoft.com/en-us/azure/da

[2018-07-25 16:30] MicahMcKittrick-MSFT commented on #11983
got it! Thanks for the extra details. I am working offline to find an answer to this. Will update you once I have more information.

[2018-07-25 16:32] MarileeTurscak-MSFT commented on #12294
I'm going to close this out if this answers your question. Please open a new issue if you need additional information.

[2018-07-25 16:32] #12294 closed

[2018-07-25 16:32] MicahMcKittrick-MSFT commented on #12049
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-07-25 16:32] #12049 closed

[2018-07-25 16:32] MicahMcKittrick-MSFT commented on #12252
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-07-25 16:32] #12252 closed

[2018-07-25 16:34] MicahMcKittrick-MSFT commented on #12282
@iakko I have assigned this to the content author to review and see if we can get this information added to the doc.

[2018-07-25 16:38] mimig1 commented on #12353
@srmonson - Thanks for the feedback. The last step in the tutorial asks you to delete the resources you created (https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-nodejs-mongodb-app#clean-up-resources). Did you complete that step or leave the resources running?

[2018-07-25 16:39] Adam-Smith-MSFT commented on #12343
@pmdci Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-25 16:40] ipalazzi commented on #12282
Thanks a lota @MicahMcKittrick-MSFT!
I'll look forward to hear from you soon!

[2018-07-25 16:41] iakko commented on #12282
Thanks a lota @MicahMcKittrick-MSFT!
I'll look forward to hear from you soon!

[2018-07-25 16:43] quinn-madson opened #12361 "Verify MongoDB Connection Error"
When I try to verify a MongoDB connection, I get the error message: Could Not load file or assembly 'MongoDB.Bson, Version=2.2.4.26, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from: HRESULT: 0x80131044)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-07-25 16:43] iakko opened #12362 "Service Load Balancer Static IP with Terraform"
Is there a way to assign a Static IP to a Service Load Balancer using Terraform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7179d4ae-db6e-7f7c-a855-db0e0475dae9
* Version Independent ID: 1a6fa0e8-e175-ae4d-a9d6-d170255a598e
* Content: [Use a static IP address with the Azure Kubernetes Service (AKS) load balancer](h

[2018-07-25 16:44] quinn-madson commented on #12361
Also, this is with the pre-compiled binary.

[2018-07-25 16:52] cherylmc commented on #12231
@glecanu - I modified it and it should publish this week. Check after 10am today.

[2018-07-25 16:53] Thraka commented on #11547
@MicahMcKittrick-MSFT maybe you can reassign this so it falls off my list.

[2018-07-25 16:56] conceptdev commented on #12337
@phamthanhtong we do not have any guidance on whether a **View** can be used - by default only **Table** is supported.

You could review the back-end implementation details – [.NET server docs](https://docs.microsoft.com/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk) and [open source code](https://github.com/Azure/azure-mobile-apps-net-server) or the [node.js doc

[2018-07-25 16:56] MicahMcKittrick-MSFT commented on #12287
@badbob001 Just to confirm, you are still using classic VMs right? However rather than backup everything is stored in Recovery Services

[2018-07-25 16:59] cynthn commented on #12330
@dcbrown16 thanks for the question! Yes, it should work for a Linux VM. There isn't really anything in the article that is specific to Windows.

[2018-07-25 17:00] MicahMcKittrick-MSFT commented on #11547
@Thraka done

[2018-07-25 17:06] MarileeTurscak-MSFT commented on #12336
Thanks for the feedback! We are looking into this and will get back to you shorty.

[2018-07-25 17:07] MarileeTurscak-MSFT commented on #12338
Thanks for the feedback! We are looking into this and will get back to you shorty.

[2018-07-25 17:11] MarileeTurscak-MSFT commented on #12346
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-25 17:12] MarileeTurscak-MSFT commented on #12350
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-25 17:13] dataangler commented on #12356
This option is described under the Import/Export JSON documents section of the V2 (current version) instructions. However, the option is only available when using Copy Data (Preview) utility of ADF V1.

[2018-07-25 17:13] MarileeTurscak-MSFT commented on #12352
Thanks for the feedback! We are looking into this and will get back to you shorty.

[2018-07-25 17:16] mike-urnun-msft commented on #12311
@aricbernard Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-07-25 17:23] mike-urnun-msft commented on #12326
Hi @dsajanice - Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-07-25 17:23] jeevansd commented on #12352
@chetansriv and @v-viinde Can you please fix this?
Thanks.

[2018-07-25 17:24] brandonh-msft opened #12364 "Define possibilities for logging levels"
I've set `defaultLevel` to `Verbose` and when I do `log.Verbose(…)` it still doesn't show in my host console (locally).

There's something missing here in the directions; either I'm using the wrong value, or this doesn't work as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e60

[2018-07-25 17:30] srmonson commented on #12353
I did remove the resource when I was finished with the tutorial, but it was 4 days later (I started the tutorial last Thursday and didn't complete it until Monday, including deleting all resources on Monday). I got my cost numbers by reading them from _Home > Cost Management + Billing > Visual Studio Enterprise > Costs by Resource_, and the biggest number ($24.48) was for the CosmosDB for that one

[2018-07-25 17:34] cherylmc commented on #11606
There were not. We have it in our queue to evaluate.

[2018-07-25 17:35] YutongTie-MSFT commented on #12031
@VMey Thanks for your feedback in Git. Hope we have answered you question well. We are now processing to close this issue, if you have further challenge of this topic we are happy to reopen this issue.

[2018-07-25 17:35] #12031 closed

[2018-07-25 17:39] BryanTrach-MSFT commented on #12308
@LisandroSu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-25 17:42] SaurabhSharma-MSFT commented on #12178
@johncrim We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 17:42] #12178 closed

[2018-07-25 17:44] daveba commented on #12272
@bingosummer Thanks for your feedback.  The retry codes are REST codes.  How to handle these codes as they pertain to MSI are documented in the How to Handle and Solution columns of the tables.

[2018-07-25 17:44] SaurabhSharma-MSFT commented on #9123
@curtand  thanks

[2018-07-25 17:45] mike-urnun-msft commented on #12329
@hannesne Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-07-25 17:45] MicahMcKittrick-MSFT commented on #12364
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-25 17:45] MicahMcKittrick-MSFT commented on #12362
Thanks for the question! We are investigating and will update you shortly.

[2018-07-25 17:46] #12173 closed

[2018-07-25 17:50] eloekset opened #12365 "Get-AzureRMVirtualNetwork requires an existing VNet"
If you haven't created the VNet before starting this sample, you'll have to use New-AzureRMVirtualNetwork instead - and it requires a few other parameters which I had to look up here: https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-powershell#create-a-virtual-network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-07-25 17:51] DaveVoyles commented on #12358
I haven't run the sample, but I've copied nearly all of the code from the ```app.js``` file and put it into my own project, and ```app.get('/auth/openid'``` definitely gets called there.

[2018-07-25 17:54] BryanTrach-MSFT commented on #12308
@LisandroSu Can you please use https://azure.microsoft.com/fr-fr/develop/php/ instead?

@Sara-Nicolini It appears the URL has changed to https://azure.microsoft.com/fr-fr/develop/php/. The URL used to be https://docs.microsoft.com/fr-fr/develop/php/. Is this something that you can update?

[2018-07-25 17:55] vasivara-MSFT commented on #12323
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-25 17:56] YutongTie-MSFT commented on #5220
@huxuan Thanks for the update.

@keithdoyle9  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 17:56] #5220 closed

[2018-07-25 17:56] TravisCragg-MSFT commented on #12311
@aricbernard you are correct, [The -OsDiskLocalPath parameter no longer exists](https://docs.microsoft.com/en-us/powershell/module/azs.compute.admin/add-azsplatformimage?view=azurestackps-1.3.0).
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-25 17:57] vasivara-MSFT commented on #12345
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-25 17:57] MicahMcKittrick-MSFT commented on #11983
@MetehanBolat I reached out to the owners of this extension and they confirmed it is not possible to pass the gateway information in this fashion. They have however add this feature suggestion to their backlog :)

I will close this out but if you have additional questions just let me know.

[2018-07-25 17:57] #11983 closed

[2018-07-25 17:58] mike-urnun-msft commented on #12322
Hi @dtzar - Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-07-25 17:59] MicahMcKittrick-MSFT commented on #12365
Thanks for the feedback! For this example it is assumed since you are creating a new VM from the snapshot you already have a Vnet in place. Regardless, I have assigned this feedback to the content author to review and see if we can make that more clear.

[2018-07-25 18:00] kamazee opened #12366 "JIRA/Confluence plugin issue: improper redirect URL handling"
This is certainly not a docs issue but this is the only more or less relevant place I found to report it so please point me to the right direction if it isn't.

There's an issue in [plugin](https://www.microsoft.com/en-us/download/details.aspx?id=56506) that prevents it from redirecting back to confluence properly: it redirects to a non-existing page (because the original URL gets broken in the wa

[2018-07-25 18:01] ggailey777 commented on #12274
Sorry, maybe I misunderstood what you were proposing...
Are you creating a video to put on your own blog, or is this something you want to have included in the topic itself? If it's the former, I think you can go ahead and do what you want, as long as you aren't using the resulting work for commercial purposes (per the terms&mdash;note that I am not a lawyer 😁). Please do add the link to the video

[2018-07-25 18:05] BryanTrach-MSFT commented on #12317
@JatinBavishi Thank you for the feedback. I'll make the change later today and update you.

[2018-07-25 18:08] vasivara-MSFT commented on #12321
@stdistef Thanks for the feedback.  We appreciate it.

[2018-07-25 18:08] #12321 closed

[2018-07-25 18:08] eloekset commented on #12365
Ok, I can see that from the comment related to the $virtualNetworkName variable. The description before the sample could maybe provide a link to the New-AzureRMVirtualNetwork docs. I didn't have one before, because I've got a snapshot moved from another subscription. I found this sample when I googled how to create a VM from a snapshot.

[2018-07-25 18:09] YutongTie-MSFT commented on #12351
@TheAmenRa Thanks for your feedback, we will investigate it and get back to you soon.

[2018-07-25 18:09] Cherisle commented on #11884
Update: I'm having trouble getting the ModuleClient to receive messages sent to the device hub via DeviceClient from a different module within the same EdgeSolution project. My assumption from testing leads me to believe it has to do with using the wrong connection strings. I have two questions:

When using ModuleClient's CreateFromEnvironmentAsync, how do I know it is fetching the correct connect

[2018-07-25 18:13] lohithgn commented on #12274
@ggailey777 oops … apologies for creating the confusion. Yes - i meant to say that "can i create a video tutorial based on the step 1 to 7 of written documentation and publish it on my blog". Not for commercial purpose at all - but to accompany the written documentation with a video. Sometimes instead of reading - seeing picture makes it more easier :) … so i am free to re purpose the step 1 to st

[2018-07-25 18:16] douglaslMS commented on #10943
@don4of4 I have opened a PR to update this page with the additional information we've learned so far. I'll let you know when the updated page is live, for you to review. Thanks.

[2018-07-25 18:16] vasivara-MSFT commented on #12354
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-25 18:18] vasivara-MSFT commented on #12356
@dataangler Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-25 18:19] kobulloc-MSFT commented on #12341
@kspoojary Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-07-25 18:22] kenwise opened #12368 "Dev"
I was lost, totally lost on how to configure consumer part of my pom file.
Thanks a million, you gave me direction. Amazing!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bccb0c5-3331-46ab-d955-12efcd98d318
* Version Independent ID: 48b1af51-1368-2d62-fbcf-d431f115f680
* Content: [Tutorial: Use the Apache Kafka Produ

[2018-07-25 18:29] DougPetrole opened #12369 "Azure Publishing portal redirects to Cloud Parnter Portal"
I do not see any documentation on the Cloud Partner Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cb76940-1c5d-b616-880a-deffdcda5d1b
* Version Independent ID: 78c318f9-697f-ca24-ca1a-9c36b7abe9f3
* Content: [Non-technical prerequisites for creating an offer for the Azure Marketplace](https://docs.microsoft.c

[2018-07-25 18:30] vasivara-MSFT commented on #12368
@kenwise Thanks for the feedback.

[2018-07-25 18:30] #12368 closed

[2018-07-25 18:31] vasivara-MSFT commented on #12327
@Srikesh12 Thanks for the feedback. We are actively investigating and will update the document as soon as possible.

[2018-07-25 18:34] BryanTrach-MSFT commented on #8454
@TecumsehSamp Please note that you will likely need to delete your backup settings by clicking on the 'reset' button in the backups blade. All settings are cached so this clears out any bad cache. We look forward to your reply.

[2018-07-25 18:39] kobulloc-MSFT commented on #12341
@kspoojary  It's great that you building a solution with Azure!  The best place for specific answers about implementations are going to be the forums:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureapimgmt&filter=alltypes&sort=lastpostdesc

https://stackoverflow.com/questions/tagged/azure-api-management

We actively look through posts in the forums, and will do our best to get you

[2018-07-25 18:39] #12341 closed

[2018-07-25 18:43] mrbullwinkle commented on #12056
@davidhendrickmb, @HQX-TBrown, thank you both for the feedback and for highlighting the negative impact of the current workflow when changes like these happen. I have taken your feedback directly to the PMs who own this functionality and to the SRE team that manages the underlying infrastructure. They received similar feedback from a number of other customers through various other channels this pa

[2018-07-25 18:43] mrbullwinkle commented on #12056
#please-close

[2018-07-25 18:44] mrbullwinkle commented on #12027
#please-close

[2018-07-25 18:45] #12027 closed

[2018-07-25 18:49] douglaslMS commented on #12243
@LisandroSu Have you shared the Data Factory team's response with the customer? We don't think that this issue requires a change to the existing documentation. But we want to help the customer to understand why the UI works as it does. Thanks.

[2018-07-25 18:50] douglaslMS commented on #12243
#in-progress

[2018-07-25 18:50] vasivara-MSFT commented on #12356
@dataangler Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-25 18:52] vasivara-MSFT commented on #12324
@ddenton12 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-25 18:54] vasivara-MSFT commented on #12361
@quinn-madson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-25 18:58] TecumsehSamp commented on #8454
@BryanTrach-MSFT  Just reset it & reconfigured it, still failing with the same error code. Not sure yet if it works on new resources though, would need to check tomorrow.

[2018-07-25 18:59] #12359 closed

[2018-07-25 19:00] #12327 closed

[2018-07-25 19:00] dlepow commented on #11473
@pgsoub - Just checking if we have answered your question? Thanks!

[2018-07-25 19:04] CarlRabeler commented on #10718
Will address

[2018-07-25 19:06] NateRickard opened #12370 "homebrew/sfctl Python version mismatch"
On mac, homebrew now installs Python 3.7 rather than 3.6.  A few issues here:

1) The doc says it will install Python 3.6
2) This seems to cause the next command, "pip3 install sfctl", to fail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 213a08bb-ba83-2512-feff-c93e1a2f714c
* Version Independent ID: 3fe62cb5-c6a3-400

[2018-07-25 19:07] MicahMcKittrick-MSFT commented on #12370
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-25 19:08] CarlRabeler commented on #10718
In the topic, each are defined - please explain in more detail your question regarding the "relation between ERT, RTO, and RPO".

"SQL Database provides several business continuity features, including automated backups and optional database replication. Each has different characteristics for estimated recovery time (ERT) and potential data loss for recent transactions. Once you understand these op

[2018-07-25 19:16] MTawfik861 commented on #10718
RPO and RTO are defined, I agree. However, the technical definition of ERT is not provided. Not even in its simplest term (ERT= RTO+??).

[2018-07-25 19:18] kgremban commented on #12326
@dsajanice I can't reproduce this experience. When I create a new IoT Edge solution, and replace the default SampleModule with CSharpModule, the deployment.template.json is built with my module name. Are you changing the module name after the new IoT Edge solution is created?

[2018-07-25 19:21] MicahMcKittrick-MSFT commented on #12301
https://github.com/MicrosoftDocs/azure-docs-pr/pull/47415

I have fixed the link. I will close this out. Once the PR merges the changes will go live in a few hours :)

[2018-07-25 19:21] #12301 closed

[2018-07-25 19:22] MicahMcKittrick-MSFT commented on #12334
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-25 19:29] MicahMcKittrick-MSFT commented on #12364
@brandonh-msft I am not finding any reference in this doc to running log.verbose

Can you point me to the point in this doc where you are seeing that and having issues?

[2018-07-25 19:30] CarlRabeler commented on #10718
estimated recovery time (ERT) - so, for example, for recovery with Standard for Geo-restore from geo-replicated backups - the estimate is less than 12 hours - if you want an estimated recovery time less than this, use Active Geo-Replication - which has an ERT of less than 30 seconds

[2018-07-25 19:32] tfitzmac commented on #12055
I think it is hard to say without knowing more about the type of data you are working with. Certainly, sending notifications based on something being uploaded to Blob Storage sounds like a perfect scenario for Event Grid. But what to do beyond that would depend on the actions you need to take with the data. Have you looked at the tutorial [Stream big data into a data warehouse](https://docs.micros

[2018-07-25 19:37] HemantMahawar commented on #7062
@cephalin Thanks for getting back on this. I should have read the sample more carefully, specifically under [Script Explanation](https://docs.microsoft.com/en-us/azure/app-service/scripts/app-service-powershell-deploy-local-git?toc=%2fpowershell%2fmodule%2ftoc.json#script-explanation). Good with that.
- Do you want a new issue for missing 'try it' with Cloud Shell or is there already one around it

[2018-07-25 19:44] BestBackwards commented on #10921
Hey guys, I appreciate that you'll look into this, but it really doesn't fix the problem I am still having now.

@ahoka Please could you let me know what the 172.20 addresses are in your example so I can adapt this for our use?

[2018-07-25 19:46] MarileeTurscak-MSFT commented on #12352
@josuvil I have made a pull request and am waiting on the build to complete so I can merge the change. This should be show up in the document in a few minutes.

[2018-07-25 19:48] xocolatl-aficionado opened #12371 "HTTP Error 400. The size of the request headers is too long."
I'm trying to set up a web app with node.js and Azure B2C. The app has been deployed to App Service. The reply URL registered with the B2C application and the app itself are the same: https://userfrontend.azurewebsites.net. On setting this up, the app service link leads to a fairly blank page that states: "HTTP Error 400. The size of the request headers is too long".

 I have successfully tried it

[2018-07-25 19:49] dsajanice commented on #12326
@kgremban I see. I think you're right. I must have changed the name after I created the solution. Sorry about the mistake. Closing this..

[2018-07-25 19:49] #12326 closed

[2018-07-25 19:49] nheinbaugh commented on #12310
That's awesome I too have the same question

[2018-07-25 19:59] YutongTie-MSFT commented on #12222
@YasinMSFT Hi, can you please check the follow-up here? Thanks!

[2018-07-25 20:01] nheinbaugh commented on #12310
Is this even possible?

[2018-07-25 20:02] nheinbaugh commented on #12310
Is this even possible?

[2018-07-25 20:03] nheinbaugh commented on #12310
is this even possible?

[2018-07-25 20:05] curtand commented on #10290
It's live now
@MohitGargMSFT #please-close

[2018-07-25 20:07] nheinbaugh commented on #12351
Are these available as an enum anywhere?

[2018-07-25 20:07] TravisCragg-MSFT commented on #12288
@phillbl I am glad you were able to resolve your issue. Adding an individual address can specify a specific device, and adding a range can specify a subnet, VNET, or specific outside address range.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-25 20:07] #12288 closed

[2018-07-25 20:08] ivog commented on #12291
@rzal
In your ARM template you can do this:

            "type": "Microsoft.ContainerService/managedClusters",
            "location": "[parameters('location')]",
            "name": "[parameters('resourceName')]",
            "properties": {
                "aadProfile": {
                  "clientAppID" : "....",
                  "serverAppID" : "....",
                  "serverAppSecret" : "..

[2018-07-25 20:08] ahoka commented on #10921
I have two different subnets in the vnet and those are the IPs for them: 172.20.0.0/25 and 172.20.0.128/25. I allocated the IPs from the subnets statically in Azure to avoid surprises, just pick any four.

[2018-07-25 20:17] MarileeTurscak-MSFT commented on #12352
This has been fixed. Thanks for your feedback!

[2018-07-25 20:17] #12352 closed

[2018-07-25 20:30] TravisCragg-MSFT commented on #12324
@ddenton12 it looks like Masergy now redirects the old link to the updated link. are you seeing this behavior as well?

[2018-07-25 20:35] kgremban commented on #12177
Hi @smoms, thanks for the question. Event Grid is the pipe between IoT Hub and the Logic App that you configure to take an action. In the section **Publish an event from IoT Hub** you'll notice that the blades in the portal actually say **Event Grid** in the header. It's a subtle way that services can incorporate features from other services. So you're creating an Event Grid subscription that wait

[2018-07-25 20:36] josuvil commented on #12352
Thank you! That was fast.

[2018-07-25 20:38] kgremban commented on #12188
@jxjia You're correct, there's an extra "a" in the path. I'll create a fix.

[2018-07-25 20:38] MarileeTurscak-MSFT commented on #12366
Hi @kamazee , thanks for your feedback. We are looking into this. What do you have listed as your reply URL when you test this?

[2018-07-25 20:40] femsulu commented on #12369
@DougPetrole Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-25 20:41] femsulu commented on #12342
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-25 20:43] femsulu commented on #12332
@JamesDLD Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:43] #12332 closed

[2018-07-25 20:44] msLinuxNinja opened #12372 "LVM support should specify that it is only supported for data disks and not for OS or root partitions."
The Matrix shows that LVM is supported but it should specify that this only works for data disks and for the OS root partition LVM is not supported as Azure only supports a single OS disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e7

[2018-07-25 20:50] femsulu commented on #11849
@AnastasiyaSim thanks for the update. send mail to AzCommunity@microsoft.com including your Support ticket ID If you do not get a prompt response on your open ticket and we can help fast-track internally.
We will now close this issue.

[2018-07-25 20:50] #11849 closed

[2018-07-25 20:54] MarileeTurscak-MSFT commented on #12336
There is another document for this.  This document explains in detail how to access the usage reports for MFA through Powershell.  https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-usage-reporting-api

Let me know if this answers your question.

[2018-07-25 20:54] nheinbaugh commented on #12280
This is a very interesting question from my perspective

[2018-07-25 20:54] Karishma-Tiwari-MSFT commented on #12046
@dtissen Can you please elaborate more on your ask? As far as the retrieval of output from custom script goes, it can be done through portal or via downloaded files. I would need more info to help understand your ask.

[2018-07-25 20:54] ShaneCourtrille opened #12373 "Column Encryption Setting"
It would be helpful to have more detail about the Column Encryption Setting usage from SMSS as shown in the section 'Verify that the data is encrypted' and what it requires as there is no mention of how the Azure Key Value is involved with that scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddcad97f-02c6-4307

[2018-07-25 20:55] wesmc7777 commented on #12279
@frostygoth Thanks for reporting this. I'm updating it now.

[2018-07-25 20:55] vasivara-MSFT commented on #7847
@missilelaunchr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:55] #7847 closed

[2018-07-25 20:55] vasivara-MSFT commented on #10958
@hansgschossmann We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:55] #10958 closed

[2018-07-25 20:55] vasivara-MSFT commented on #11047
@CarlosOnline We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:55] #11047 closed

[2018-07-25 20:56] vasivara-MSFT commented on #11316
@riedwaab We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:56] #11316 closed

[2018-07-25 20:56] vasivara-MSFT commented on #11672
@tschleining We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:56] #11672 closed

[2018-07-25 20:57] johnkemnetz commented on #11989
I'll make an update to clarify.

[2018-07-25 20:58] TravisCragg-MSFT commented on #12328
@bdyzel it is not possible at this time, but you can add an allow rule for an ASG in the NSG on a Subnet.
If you would like to request that this feature be added, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2018-07-25 20:58] #12328 closed

[2018-07-25 20:58] kobulloc-MSFT commented on #11984
@chhantyal We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-07-25 20:58] #11984 closed

[2018-07-25 20:58] vasivara-MSFT commented on #12211
@belkinirena We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:58] #12211 closed

[2018-07-25 20:58] vasivara-MSFT commented on #12158
@loverdeg-ep We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:58] #12158 closed

[2018-07-25 20:59] vasivara-MSFT commented on #12080
@akhterare We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 20:59] #12080 closed

[2018-07-25 20:59] nheinbaugh commented on #12323
I have wondered the same

[2018-07-25 21:05] Karishma-Tiwari-MSFT commented on #12220
@nibhat @cynthn Do you have any insights for this question? I would appreciate if you can chime in and help answering it. I am assuming it is by design but not sure about the why.

[2018-07-25 21:05] Don-Fuego opened #12374 "Users in Step 2,3,4 not covered"
"Now, let's see what an Azure AD B2B collaboration user in State 1 looks like in Azure AD."
State 2,3,4 are not covered

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Content: [Properties of an Azure Active Directory B

[2018-07-25 21:07] TravisCragg-MSFT commented on #12331
@dcbrown16 Thank you for the feedback, I agree that this is confusing, and I am working to get some clarity on this issue now.

[2018-07-25 21:10] kamazee commented on #12366
@MarileeTurscak-MSFT, thanks for following up!

When I try to open a page such as /pages/viewpage.action?pageId=1234567, I'm redirected to /pages/viewpage.action (I'm not sure I understand your question correctly, though).

I can attach the whole http chat sequence (with sensitive bits stripped) if that would help -- I've got it sniffed.

Also, I think the issue can be clearly seen if one debugs c

[2018-07-25 21:12] iainfoulds commented on #12291
@rzal As @ivog notes, you can define some of those parameters in a template, but there is still likely a portal step required to grant permissions for the app depending on what level of automation you're working towards here. There are some in-progress updates to provide a more automated way of provisioning these, and there's some existing information available here that may help with what you're

[2018-07-25 21:12] LisandroSu commented on #12243
Hi @douglaslMS,

Sorry for the delay we are working on getting the translation to the customer as soon as possible.

Thanks!

[2018-07-25 21:15] johnkemnetz commented on #11094
@femsulu please close

[2018-07-25 21:16] cap273 commented on #11081
Respectfully following up.

[2018-07-25 21:16] MicrosoftGuyJFlo commented on #7974
After working with the product team we have decided to not to include this script in the docs. There is work being done on an API to accomplish this. No specific timeline to share today but it is in the works.

[2018-07-25 21:16] MicrosoftGuyJFlo commented on #7974
#please-close

[2018-07-25 21:17] GaretAnderson commented on #12310
Yes its possible but the tooling isn't great. Here is my work around:
1. Upload PBIX to AAS
2. Click 'Open in VisualStudio' which doesn't open VS but it gives you a .zip with the project and model.bim files
3. Extract that and open in VisualStudio with SSDT and the Analysis project templates installed
4. Right click each datasource and choose 'Edit Permission' to set both credentials and privacy l

[2018-07-25 21:17] #12258 closed

[2018-07-25 21:17] #12279 closed

[2018-07-25 21:20] LisandroSu opened #12375 "Nem jelenik meg a videó"
@virag004 commented on [Wed Jul 25 2018](https://github.com/MicrosoftDocs/azure-docs.hu-hu/issues/40)

Csak üres tér van a videó helyén

---
#### A dokumentum adatai

⚠ *Ezt a szakaszt ne szerkessze. A szakasz a docs.microsoft.com ➟ GitHub-problémák hivatkozásaihoz szükséges.*

* ID: 1534d9c1-c568-f744-7cec-07f107333a3a
* Version Independent ID: 0c56ac88-b762-38a3-6b1c-d086597f0c5a
* Content: [Azu

[2018-07-25 21:22] LisandroSu commented on #12375
Hi team,

The documentation says that there should be a video embedded but it's not showing up in any locales, including the ENU page.

Thanks!

[2018-07-25 21:35] kamazee commented on #12366
I've also just realized that my original statement is misleading: a couple of different issues got squashed together in my head. The plugin does not always redirect to the main page, it just handles URL to return a user to incorrectly, and returns a user to a non-existing page. I changed it accordingly.

[2018-07-25 21:37] kgremban commented on #9315
@mike-urnun-msft would you #please-close this issue until Wintekso is able to provide more details?

[2018-07-25 21:39] kgremban commented on #10361
@vasivara-MSFT would you #please-close this issue that @jingjing-z and @dsk-2015 resolved?

[2018-07-25 21:39] kgremban commented on #10379
@Mike-Ubezzi-MSFT would you #please-close this issue?

[2018-07-25 21:39] mike-urnun-msft commented on #8454
@TecumsehSamp Ok, please let us know if it works with new resource and I'll also test again on my end later today. In case this is something specific to your Azure environment, could you email us at azcommunity@microsoft.com with following info:
- Subscription ID
- URL to this Github issue
- Your app name

[2018-07-25 21:40] kgremban commented on #10530
@ajaybha following up to see if you can provide more clarity around your feedback.

[2018-07-25 21:42] masters3d opened #12377 "Add something referring ALLOWED TOKEN AUDIENCES == Resource"
It was hard to figure out that Audience here means Resource.
// Side note: I should be able to paste images in the on the report.

![image](https://user-images.githubusercontent.com/6539412/43229242-02b3689e-9019-11e8-8fe8-864090822aa9.png)

Because the first link has autherication, I assumed that this meant that I had to find the authorization link from the other place I wanted to be able to shar

[2018-07-25 21:42] kgremban commented on #11372
@danieljsmarda thanks for the comment. Someone else pointed out the same thing to me earlier today, and there fix is being published in about 30 minutes.

[2018-07-25 21:43] kgremban commented on #11421
@Mike-Ubezzi-MSFT can you verify my changes and #please-close this issue as resolved?

[2018-07-25 21:44] kgremban commented on #11427
@SaurabhSharma-MSFT can you #please-close this issue based on @dsk-2015's response?

[2018-07-25 21:44] vasivara-MSFT commented on #10361
@jimborogers We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 21:44] #10361 closed

[2018-07-25 21:46] mimig1 commented on #12353
Thanks for the info @srmonson. We will review the tutorial to see why it's costing that much. And I wanted to clarify that Cosmos DB does not charge you for hours for the month up front, it only charges for the time you actually have a collection provisioned, so in your case, 4 days. Request units are a measure of throughput, and we measure them as request units per second, and they are charged at

[2018-07-25 21:47] #12342 closed

[2018-07-25 21:48] MohitGargMSFT commented on #12185
@ryancrawcour We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-25 21:48] #12185 closed

[2018-07-25 21:49] MohitGargMSFT commented on #12254
@meiyueilee We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-25 21:49] #12254 closed

[2018-07-25 21:51] MohitGargMSFT commented on #12273
@anujrana As suggested above please share the new MSDN thread created.

[2018-07-25 22:03] YutongTie-MSFT commented on #12222
@YasinMSFT Can you please share how to file a bug here?

[2018-07-25 22:05] #10943 closed

[2018-07-25 22:06] cynthn commented on #12220
@hughobrienjet I'm not sure how much help I can be beyond pointing out that update domains are designed for situations that require reboots. Fault domains are hardware segments designed, implemented to avoid outages from hardware failure. So, update domains are used because their job is to manage things that require reboots. If no reboot is required, then using fault domains makes sense. I'm sure

[2018-07-25 22:07] YasinMSFT commented on #12222
https://msdata.visualstudio.com/AzureML/AzureML%20Team/_workitems/create/bug

[2018-07-25 22:18] MicrosoftGuyJFlo commented on #10556
@michaelpowerz if you can please reach out via email (in my profile) I would really like to take care of this but do not have a place I can test this easily. Would like to review your testing.

[2018-07-25 22:19] DaveB93 opened #12379 "Is there a way to get the keys for an object?"
I'm looking to have an associative array of keys and values and iterate over them using a copy iterator to provide configurations to Microsoft.DBforMySQL in a smaller way than specifying all the configurations individually.  is that possible ?

e.g. something like

  "parameters": {
    "mysqlSettings": {
        "type": "object",
        "defaultValue": {"character_set_server":"UTF8MB4", "innodb_

[2018-07-25 22:22] MarileeTurscak-MSFT commented on #12336
The fourth page of the document links to another article that shows how to access MFA logs via the mfaDetail property. Is this the reference you were looking for? https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/signin

[2018-07-25 22:23] MicrosoftGuyJFlo commented on #10209
#please-close

[2018-07-25 22:51] femsulu commented on #12275
@Izharsa hope this answers your question. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 22:51] #12275 closed

[2018-07-25 22:51] MohitGargMSFT commented on #12280
@ahamin01 @nheinbaugh I agree, this is an interesting ask. As far as I know you are at right place. If you click on Leave Organization link, it gives you the option to review Privacy Statement again. Also note that as Tenant Administrator you can also directly share the configured Privacy Statement URL for review.

[2018-07-25 22:56] femsulu commented on #12278
@YoannGUILLO We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-25 22:56] #12278 closed

[2018-07-25 23:03] badbob001 commented on #12287
Hi,
Yes, I'm still using Classic VMs. They use to be connected to the Backup
Vaults but MS transparently migrated everyone to Recovery Services. So no
one should be using Backup Vaults anymore and thus their mention in the FAQ
is irrelevant.

Now that Classic VMs are assigned to Recovery Services, I see that the VM
registrations refer to the VM's Resource Group and not their Cloud Service.
Often t

[2018-07-25 23:05] JasonWHowell commented on #11182
@johnneycao This article will be removed, and point to [https://www.azure.cn/zh-cn/home/features/products-by-region](https://www.azure.cn/zh-cn/home/features/products-by-region) instead.

Thanks for bringing it to our attention. Sorry for the added noise.

@v-wimarc the email formatting is making the github thread unreadable.  Please don't reply any further.

Thanks, Jason

[2018-07-25 23:06] kobulloc-MSFT commented on #12355
@pcl-houghton This is an edge case for Application Insights that may be better answered on the forums but I believe what you are looking for is covered in the Power BI documentation that describes how to set up an On-premises data gateway (specifically looking at Windows Service account).

Try going through the following documentation:
https://docs.microsoft.com/en-us/power-bi/service-gateway-onpr

[2018-07-25 23:06] #12355 closed

[2018-07-25 23:09] femsulu commented on #12375
@LisandroSu thanks for bringing this to our attention. Your feedback has been shared with the content owner and localization lead for further review.

[2018-07-25 23:14] JasonWHowell commented on #11182
Fixed by MicrosoftDocs/azure-docs-pr#47455
#please-close

[2018-07-25 23:17] jlian commented on #12278
Just pushed a fix to link to https://docs.microsoft.com/powershell/module/azurerm.subscription/new-azurermsubscription instead, should be live before noon PST tomorrow. Thanks for pointing out the issue.

[2018-07-25 23:22] femsulu commented on #12373
@ShaneCourtrille Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-25 23:25] JamesHoggIOH opened #12381 "Read the authentication data does not work"
The above last script "Read the authentication data with Powershell version 2) does not work seem to work for me with Mobile being blank.
Found this using MsolService to correctly display the authentication phone number of users
#
Connect-MsolService
Get-MsolUser | select DisplayName -ExpandProperty StrongAuthenticationUserDetails | ft DisplayName, PhoneNumber, Email.

---
#### Document Details

⚠

[2018-07-25 23:29] thuansoldier opened #12382 "Elaborate Network Contributor"
From the article, Network Contributor is the role to let you manage networks, but not access to them. Which kind of resource or place does "access" refer to? Please elaborate more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c4b0e0-a13e-12be-dcf8-263d81c90ab5
* Version Independent ID: f164301d-63ec-cca1-e0c9-2aae5

[2018-07-25 23:30] femsulu commented on #12379
@DaveB93 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-25 23:31] tomleetaiwan opened #12383 "Max 6000 IOPS ?"
As the document mentioned "Optimized pricing tiers, the IOPS scale with the provisioned storage size in a 3:1 ratio." , Correct me if i'm wrong, the Max IOPS  shoud be 12,000 IOPS  ( 4 TB x 3 )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038ee2b6-8a76-a678-1069-3eb7c2808d73
* Version Independent ID: cd6cb2ea-9fff-92

[2018-07-25 23:32] iainfoulds commented on #12334
Thanks, @eskaufel. I'll get this updated in the next few days.

#in-progress

[2018-07-25 23:34] maertendMSFT commented on #7062
@cephalin, what do you mean when you say "the try it block for PowerShell is actually not ready"?  Can you point me to the file where that sample is included?

[2018-07-25 23:38] tfitzmac commented on #12379
@DaveB93 - I don't know of a way to get the keys, but you can iterate over [properties](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#property-iteration) or [variables](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#variable-iteration) as a way of simplifying how to set configuration values.

Another possi

[2018-07-25 23:45] BryanTrach-MSFT commented on #12382
@thuansoldier Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-25 23:45] MichaelHauss commented on #12284
That is not correct, no. CDN supports standard storage. You can use CDN with static websites.

[2018-07-25 23:46] MarileeTurscak-MSFT commented on #12374
Thanks for the feedback! We are looking into this.

[2018-07-25 23:47] BryanTrach-MSFT commented on #12371
@xocolatl-aficionado Can you please provide us with the URL of the Microsoft Doc that you are following?

[2018-07-25 23:47] MicahMcKittrick-MSFT commented on #12287
Got it! Thank for clarifying that for me. I am working offline to get an answer to this. Will update shortly.

[2018-07-25 23:54] MohitGargMSFT commented on #12295
@DeanGross Below are couple of resources which can help you.

- [GA announcement blog for ADAL .NET v3](https://cloudblogs.microsoft.com/enterprisemobility/2016/05/18/adal-net-v3-reaches-ga/) has required information around it. It also points to published samples which can be refereed.
- [Azure Active Directory Authentication Libraries](https://docs.microsoft.com/en-us/azure/active-directory/devel