[2018-12-29 07:58] cloudmelon commented on #21149
I think this is an issue linked to product and should keep tracking. Please reopen it again.

I do have other solutions to resolve my problem but this issue should be treated seriously.

Melony

[2018-12-29 08:39] arkannin commented on #19936
Please let us know about the schedule of this update. We're really waiting for it.
Thanks.

[2018-12-29 09:14] tsahi commented on #14261
@PramodValavala-MSFT  what do you mean by "wasn't referenced"? Have you tried to reproduce the issue?

[2018-12-29 09:31] Jinesh12 opened #21399 "The adding usage directive section has an error."
The namespace for StorageAccounts should be "using Microsoft.WindowsAzure.Storage;" instead of "using Microsoft.Azure.Storage;".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6fc239b
* Version Independent ID: 065b8cb0-d218-b759-ce69-e8901d89b422
* Content: [Get started with Azure Table sto

[2018-12-29 10:57] nigel-dewar commented on #21347
thank you jakaruna, it was the helm version, I changed to v 2.11 and issue is solved. thank you!

[2018-12-29 14:43] syedhassaanahmed commented on #16396
Why is the issue closed? The emulator still doesn't support Gremlin API. Is there an ETA?

[2018-12-29 15:27] ckarras opened #21401 "Article title is misleading, it doesn't show how to transform data"
The article only shows how to invoke Databricks from Azure Data Factory. It doesn't show how databricks could be used to transform data coming from Azure Data Factory. I could obviously read the data from a storage account in code within the notebook (providing my storage account name and key in the notebook), but what's the point of using Azure Data Factory then? I would expect the data to be com

[2018-12-29 15:57] fran38 opened #21402 "storage"
I don't no what not to delet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470c6ca6-d2d1-e9b6-c5ae-cceeee3865d6
* Version Independent ID: e7d1f96f-a470-76ba-ec0e-0b649dc0aac2
* Content: [What is enterprise state roaming in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/devices/enterpr

[2018-12-29 16:16] smithGit commented on #21376
I am 95 % sure this is an error in IoT computation:  The specification of number of decimal places should be the number of decimal places in the RESULT, not the number of digits used for rounding to an integral number of degrees C.  Not preserving the fractional part of a degree C loses almost a full degree F of resolution, and any analysis of temperature trends needs the additional precision.  Co

[2018-12-29 16:37] Aggrobatics commented on #21065
Hello @ManojReddy-MSFT, I actually do have another question concerning the suggested workaround: as things stand, it seems like the user impersonated by my app always needs to consent to the delegated permission granted to the App (Sites.ReadWrite.All). Azure Portal says so:  "You are adding [Delegated] permission(s) to your application, users will have to consent even if they’ve already done so p

[2018-12-29 16:39] sandervandevelde opened #21403 "Settings in Windows 10 IoT Enterprise 1809?"
What are the Additional offline storage settings in Windows 10 IoT Enterprise 1809 using runtime 1.0.5 and Windows containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2ebd-9d7f74d79005
* Version Independent ID: 3158bd35-4d7d-63ec-1df7-520f00c053c0
* Content: [Operate devices offline - Azure Io

[2018-12-29 17:21] jgallucci32 opened #21404 "Client Authentication Enhanced Key Usage"
The document states “Server Authentication (1.3.6.1.5.5.7.3.1)” and “Client Authentication (1.3.6.1.5.5.7.3.2)” in the "Enhanced Key Usage" field is required, however, we are currently running version 1809 and our certificates only have Server Authentication in the Enhanced Key Usage field. At the time of our Azure Stack installation (version 1802) it passed the certificate checks which tells me C

[2018-12-29 17:27] aquibqureshi26 opened #21405 "Activity logs for backup completion : Doesn't work for MARS files and folder level backup"
Team,
As information alert doesn't trigger backup completion alert. Activity log doesn't get trigger when we have files and folder level backup configured for on premises virtual machine hence i cannot create an alert in Azure. Can you please let me know how can i create alert for MARS agent - files and folder level backup.

I've tried using powershell but the cmdlet Get-AzureRmRecoveryServicesBac

[2018-12-29 17:32] konabuta opened #21406 "Is it still "Preview" ?"
Azure Machine Learning service is GA now. So I think the title should be changed.
Title : "Tutorial: Deploy Azure Machine Learning as an IoT Edge module (preview)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5efb43-af55-95ea-cc6f-9597ace9b1b8
* Version Independent ID: 94f8eff2-fc0d-af3c-5b41-944665674cfc
* Content

[2018-12-29 17:48] theheatDK commented on #21036
Hi @tfitzmac, I can see several others that are missing. Should I list them or wait for an update?

[2018-12-29 18:08] #21379 closed

[2018-12-29 18:08] MarileeTurscak-MSFT commented on #21387
@kwexn
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:10] MarileeTurscak-MSFT commented on #21390
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:10] MarileeTurscak-MSFT commented on #21391
@djpereira
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:11] MarileeTurscak-MSFT commented on #21392
@yevster
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:12] MarileeTurscak-MSFT commented on #21393
@User1m
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:12] MarileeTurscak-MSFT commented on #21394
@aamakerlsa please link the document which you are following so that we can properly respond.

[2018-12-29 18:15] MarileeTurscak-MSFT commented on #21399
@Jinesh12
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:16] MarileeTurscak-MSFT commented on #21401
@ckarras
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:16] MarileeTurscak-MSFT commented on #21402
@fran38 can you please provide more detail about the issue you are facing?

[2018-12-29 18:17] MarileeTurscak-MSFT commented on #21403
@sandervandevelde
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:18] MarileeTurscak-MSFT commented on #21404
@jgallucci32
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:18] MarileeTurscak-MSFT commented on #21405
@aquibqureshi26
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 18:41] aamakerlsa commented on #21394
@MarileeTurscak-MSFT https://docs.microsoft.com/en-us/azure/virtual-machines/linux/download-vhd

Update: I've since deleted the resource group and re-created it from scratch.  But my question after dealing with all that is this -- is there a way to have an UBUNTU (16.04) LEMP stack as an Azure VM, while KEEPING the vm user account and the Azure VM, export to .VHD or .VHXD?  Or is the act of export

[2018-12-29 18:54] MaartenArits commented on #20724
How to check if you made any errors adding a reference? A preview of the value online would be helpful to check everything is working as expected.

[2018-12-29 18:54] msalvadores opened #21407 "VM in peered connected VNET cannot access Azure Container Instances"
I have ACIs deployed in a VNET `VNET-A` that is peered connected to another VNET `VNET-B`. I have deployed a VM in `VNET-B`. Both `VNET-A` and `VNET-B` are peered with status showing `connected`.  In an attempt to test connectivity I run `curl` from the VM targeting the ACIs private IPs and open HTTP ports with no success.

Same `curl` test works when I run it from other ACIs in the same subnet or

[2018-12-29 19:01] jgallucci32 opened #21408 "Certificate privacy still not in documentation"
GitHub issue #18986 and #12150 were opened and closed without any noticeable changes to the documentation. Step 7 mentions to *Export all Extended Properties* but does not mention to select *Enable certificate privacy*.

What would help the most would be a screenshot of exactly which of the 4 options should be selected/unselected to make it absolutely clear what the settings should be. I will add

[2018-12-29 19:03] jgallucci32 commented on #21408
Screenshots of certificate export wizard with selected options for clarity
![image](https://user-images.githubusercontent.com/9018897/50541374-5a826280-0b59-11e9-816b-35b801041535.png)

[2018-12-29 19:11] DarkChaos commented on #18819
I have the same Issue in Azure Cloud Shell and in Azure CLI (on Mac)
used command:
`az aks enable-addons --resource-group $myResourceGroup --name $myAKSCluster --addons http_application_routing`

Region: West Europe
Kubernetes Version: 1.11.3

results Azure Cli

result Azure Cloud Shell (PowerShell):

result Azure Cloud Shell (Bash):

[2018-12-29 20:25] benpaul4u opened #21409 "typo"
Select spps to target specific services by your policy.

should be:

Select apps to target specific services by your policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [What are conditions in Azure Active

[2018-12-29 21:37] smithGit opened #21410 "AzureRm Required but Also Removed?"
This is not clear: It advises uninstalling AzureRm in order to run AzureAz, but then requires AzureRm to make the connection command "Connect-AzureRmAccount".  What gives: Can one uninstall AzureRm and still make the script work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Vers

[2018-12-29 23:00] johnwhumphreys commented on #21368
Thank you for the prompt response; I look forward to the updated documentation as I’ve had trouble finding alternate sources online (that are complete).

[2018-12-29 23:36] MarneeDear opened #21411 "Step to Select Keys but Keys not found"
In Get application ID and authentication key we are told to "Select Keys" but Keys is not an option or a button or anything. Why? How do I find the keys?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create

[2018-12-29 23:38] MarneeDear commented on #5626
So should we be able to see Keys for native apps? What do we do for native apps if not?

[2018-12-29 23:52] MarneeDear commented on #5626
Native App dont get keys
https://social.msdn.microsoft.com/Forums/en-US/271c4a49-362c-4b6a-99ee-a4cd13d6c5b2/app-registration-does-not-have-keys-option-available?forum=WindowsAzureAD

[2018-12-30 01:17] giridharkota opened #21414 "Well articulated"
Very Useful information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba090fb1-b441-f39a-f9d7-beedbd5f6bf4
* Version Independent ID: 4c9953c7-15d8-b337-2c1e-7c191724ed64
* Content: [Manage security alerts in Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-managing-and-resp

[2018-12-30 02:43] vanpyrzericj opened #21415 "Not Compatible with Azure Pipelines "Azure File Copy" task"
Azure File Copy throws the following error when trying to specify "$web" as the target container: "Azure Storage container names can only contain lowercase alpha-numeric characters or hyphens"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-809

[2018-12-30 03:46] femsulu commented on #21267
@abhijitchaudhari1, any updates? On second review, your issue will be better served if posted on [MSDN Forum for Azure Automation](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=azureautomation).
Kindly re-post a clarified version of your issue via the forum link above and someone from my team will engage. Closing this issue on GH for now.

[2018-12-30 03:46] #21267 closed

[2018-12-30 03:53] femsulu commented on #21392
adding @georgewallace for input.

[2018-12-30 04:48] kalyanimath opened #21416 "can you please update this article to the latest version of MSAL.NET"
good day.. can you please update this article to the latest version of MSAL.NET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2333c6b-140e-6cc8-91ad-00e47935bc6b
* Version Independent ID: 738f87e1-d839-62f7-0c5c-6562b39e8d1c
* Content: [Azure AD v2.0 UWP getting started](https://docs.microsoft.com/en-us/azure/active

[2018-12-30 05:11] SaurabhSharma-MSFT commented on #21147
@Anmolgan81 Please refer to below documents for for FedRamp compliance reference architectures -
- [Azure Security and Compliance Blueprint: PaaS Web Application for FedRAMP](https://docs.microsoft.com/en-us/azure/security/blueprints/fedramp-paaswa-overview)
- [Azure Government compliance](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-plan-compliance)
- [Azure Se

[2018-12-30 06:08] jerryol opened #21419 "Wrong File Reference"
On instruction item # 6, the referenced file name should be '404.html' instead of 'error.html'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badc419b-60d5-ba2c-0830-8d573db10dbe
* Version Independent ID: efad89d0-d0da-895f-984d-046d67797ab4
* Content: [Tutorial: Host a static website on Blob storage - Azure Storage](

[2018-12-30 07:05] jason-j-MSFT commented on #21407
@msalvadores
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-30 07:07] jason-j-MSFT commented on #21406
@konabuta
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-30 07:09] jason-j-MSFT commented on #21408
@jgallucci32
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-30 07:10] SaurabhSharma-MSFT commented on #21322
@wacsintegra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-30 07:10] #21322 closed

[2018-12-30 07:11] jason-j-MSFT commented on #21409
@benpaul4u
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-30 07:12] jason-j-MSFT commented on #21410
@smithGit
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-30 07:14] jason-j-MSFT commented on #21411
@MarneeDear
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-30 07:41] paulwalls commented on #18460
@jarroput Add brackets around the installation Id value.

e.g. `"$InstallationId:{" + installationId + "}"`

Source: https://github.com/Azure/azure-mobile-apps-net-server/blob/master/src/Microsoft.Azure.Mobile.Server.Notifications/Controllers/NotificationInstallationsController.cs

[2018-12-30 08:18] cloudmelon commented on #21149
Ok thanks for the explanation, it works for me. Happy new year :)

[2018-12-30 08:36] vainolo commented on #21245
@kazshi - we are working on documenting this. Full instructions will go out soon.

[2018-12-30 09:49] rkarlin commented on #21414
Thanks @giridharkota ! I'm so glad we could be helpful, thanks for the feedback!

[2018-12-30 09:50] rkarlin commented on #21414
#please-close @msmbaldwin

[2018-12-30 10:47] KetanChawda-MSFT commented on #21318
@girishgouda Any Update on this?

[2018-12-30 15:56] MartinThorm commented on #6564
Could you please update the Backend-URL:
https://%HELLO_HOST%/api/hello leads to the infinite loop as correctly pointed out by Bryan.
It has to point to the real method e.g. https://%HELLO_HOST%/api/HttpTrigger1.

Please update as well in the proxies.json example for the Mock-API GetUserByName

PS: I've used https with code=<secret> which works fine

[2018-12-30 16:19] LeonB87 opened #21423 "wrong powershell commands"
under "Step 2: Enable SSE for Blob and File storage" several powershell commands are displayed. those command however don't exists.
Get-AzKeyVault should be Get-AzureRMKeyVault
Get-AzResource should be Get-AzureRMResource
Set-AzStorageAccount should be Get-AzureRMStorageAccount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-30 16:25] theheatDK opened #21424 "Where tenant name =~ 'myTenantName'"
Hi,
How do I limit a query to a specific tenant?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6215348-a08e-86bc-a329-295a233b880e
* Version Independent ID: e69d4508-fda7-1f35-fa71-af4eba4098f2
* Content: [Explore your Azure resources - Azure Resource Graph](https://docs.microsoft.com/en-us/azure/govern

[2018-12-30 17:30] slistudios opened #21425 "Edit MySQL Tables Directly"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-30 17:32] slistudios commented on #21425
As an individual more familiar with cPanel and phpMyAdmin, how does one go about accessing the Database Tables to modify the content?   ––  Primarily, for Wordpress websites on Azure.

[2018-12-30 18:06] cuperman007 opened #21426 "Next steps"
The Next Steps include file (https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-hub-get-started-next-steps.md) misses the first step (so it is relevant on the first page) but then become less relevant on each subsequent page as the list is now missing the first page, but duplicating the  page where the user is currently located.

I would be happy to add manual links to each of th

[2018-12-30 18:12] MarileeTurscak-MSFT commented on #21395
@xavidram
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 18:17] MarileeTurscak-MSFT commented on #21415
@vanpyrzericj
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 18:19] #21414 closed

[2018-12-30 18:21] MarileeTurscak-MSFT commented on #21416
@kalyanimath
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 18:39] theheatDK commented on #21424
Figured it out :-)
Search-AzGraph -Query "where type contains 'publicIPAddresses' and subscriptionId =='99999999-9999-9999-9999-99999999'"

[2018-12-30 18:39] #21424 closed

[2018-12-30 18:40] tjoudeh opened #21427 "Available regions should be updated"
The regions which speech service available at should be updated, West Europe, East US, and Southeast Asia should be included in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ab20294-c13e-b533-726f-9fde3005431d
* Version Independent ID: 0e47f11d-7656-8a6f-6e9a-ac0184ed4d15
* Content: [Try Speech Ser

[2018-12-30 19:49] aijassecret opened #21428 "Custom domain does not redirect to web-app"
I have added the custom domain, changed the nameservers, changed the A record and CNAME; however it still does not redirect to my web-app when opening via the custom domain...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec4

[2018-12-30 20:05] jminowa3 opened #21429 "Missing plot"
Sample code does not contain plt.show() at the very end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4c8bd02-16d6-d043-4f2c-a337a70954f5
* Version Independent ID: 8fa84a6d-5c1e-3562-43aa-019f968edd0f
* Content: [Quickstart: Extract handwritten text - REST, Python - Azure Cognitive Services](https://docs.microsoft.c

[2018-12-30 21:07] tjoudeh commented on #16937
@YutongTie-MSFT I think there is redundancy in the content, please check the 2 paragraphs below copied from the original text in the documentation:

-------------------------------------------
There are two base language models to choose from. The Search and Dictation model is appropriate for speech that's directed at an application, such as commands, search queries, or dictation. The Conversation

[2018-12-30 21:31] jfoshee opened #21431 ""Query with Aggregate Functions" Link Broken"
The link to "Query with Aggregate Functions" is broken.  Presumably the org in the URL should be Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c070e047-1e14-7974-fae8-84e71c3877e5
* Version Independent ID: 903edf19-8c35-80cd-e935-ea5bb0276d9e
* Content: [Azure Cosmos DB: .NET examples for the SQL API](https://d

[2018-12-30 21:53] MarileeTurscak-MSFT commented on #21426
@cuperman007
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 21:53] MarileeTurscak-MSFT commented on #21427
@tjoudeh
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 21:55] MarileeTurscak-MSFT commented on #21428
@aijassecret
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 21:55] MarileeTurscak-MSFT commented on #21429
@jminowa3
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-30 23:32] oleksandr-bilyk commented on #21239
Thank you @aljo-microsoft for extended answer. Now I have consistency in service fabric docs. Now I understand difference between Service Fabric client API and Service Fabric Resource API.
Templet looks like works, Service Fabric after VMSS restart works correctly. Generally speaking this issue may be closed but I have few additional feedbacks:

1. Minor case, please consider to update 5-VM-Window

[2018-12-31 00:11] #21257 closed

[2018-12-31 00:12] jason-j-MSFT commented on #21281
@douglaslMS could you take a look?

[2018-12-31 00:32] MarileeTurscak-MSFT commented on #21431
@jfoshee
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-31 02:45] Karishma-Tiwari-MSFT commented on #21231
@rifaterdemsahin We will now close this issue. Please come back whenever you are ready and tag me to reopen the issue. We will gladly continue the discussion.

[2018-12-31 02:45] #21231 closed

[2018-12-31 02:46] Karishma-Tiwari-MSFT commented on #21279
@Eithcowich We will now close this issue. Please come back whenever you are ready and tag me to reopen the issue. We will gladly continue the discussion.

[2018-12-31 02:46] #21279 closed

[2018-12-31 02:47] Karishma-Tiwari-MSFT commented on #21315
@snaveekumar Any update?

[2018-12-31 03:32] AjayKumar-MSFT commented on #21293
@timaschew, Thank you for the much-detailed question.  I have assigned the issue to a content author to review further and provide expert insights.

[2018-12-31 04:06] MedAnd opened #21436 "Retrievable & correlation to index size"
Would like to clarify if marking fields as Retrievable has a direct correlation to index size? That is, do fields marked as retrievable take more storage than fields not marked as retrievable as is maybe the case in Elastic-search?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd7889a2-9ec0-52eb-030a-a28b79ce5023
* Ve

[2018-12-31 04:57] jakaruna-MSFT commented on #21347
@nigel-dewar Good to know that your issue is resolved.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-12-31 04:57] #21347 closed

[2018-12-31 05:09] jakaruna-MSFT commented on #21342
@cregnier Thanks for reporting.
@cynthn  I updated the link so that the users are not blocked while going through the document.
We also need to update the screenshots.
Please update the screenshots or let me know if you want me to update the screenshots.

[2018-12-31 05:30] jakaruna-MSFT commented on #21280
@girishgouda Is there any update?

[2018-12-31 06:11] RamakrishnanRamar commented on #21358
@MarileeTurscak-MSFT Yepe, still not able to find the solution for that issue!

[2018-12-31 06:34] remware commented on #21214
Method 1 works fine except that the selection of device does not happen but only a textbox opens in command palette area to select a device and entering device name string does not proceed. Is there something missing here?
Method 2 when right click on device there is no option to start a deployment but only the options shown are those related to the device but nothing related to deployment

[2018-12-31 06:37] yangsiyu007 commented on #19527
Sorry, was confused looking at the doc for v8 and didn't realize v10 is cross platform.

[2018-12-31 06:42] KetanChawda-MSFT commented on #21436
@MedAnd Thanks for posting your question. We are currently investigating and will update you on this.

[2018-12-31 06:46] lonevvolf commented on #20855
So we discovered only later that this scripts leaves a few things out which are quite important:
1) Tags are lost
2) Extensions are lost
3) Auto-shutdown settings are lost
3) Most importantly, the license type is lost.  This can be a costly oversight, as our machines were using bring-your-own licensing, and with this script, switched back to included license.  I believe it would be an easty change

[2018-12-31 06:46] lonevvolf opened #21440 "Missing some settings after move"
So we discovered only later that this scripts leaves a few things out which are quite important:

Tags are lost
Extensions are lost
Auto-shutdown settings are lost
Most importantly, the license type is lost. This can be a costly oversight, as our machines were using bring-your-own licensing, and with this script, switched back to included license. I believe it would be an easty change to include a

[2018-12-31 07:06] PramodValavala-MSFT commented on #21356
@nmanzi I believe Event Hub Capture would just rely on the Storage Service's fail over mechanism.
You can read more about how GRS Fail over is handled [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance#what-to-expect-if-a-storage-failover-occurs).

I am unsure about the retry capability though. I am assigning this to the content author for a more insigh

[2018-12-31 07:35] sergaz-msft commented on #21302
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-31 07:35] #21302 closed

[2018-12-31 08:05] formulahendry commented on #21214
@remware Could you please confirm whether you are working on an IoT Edge device? Only edge device has 'Create Deployment for Single Device' option.

![image](https://user-images.githubusercontent.com/1050213/50556527-310e3600-0d15-11e9-8d6b-8b88e4b4cfc7.png)
![image](https://user-images.githubusercontent.com/1050213/50556536-5e5ae400-0d15-11e9-9a68-30d12ba83d72.png)

@kgremban Maybe we need to cla

[2018-12-31 08:06] SeaDude opened #21449 "Azure Maps "Try It" Feature Uses Spaces (%20) Instead of Commas"
Hello,

I love the new API docs that have the "Try It" feature but I cannot get the `path` parameter to return a map image. After filling in the [Get Map Image](https://docs.microsoft.com/en-us/rest/api/maps/render/getmapimage) "Try It" Form then clicking "Run", I get a status 200 (success). But the resulting request does not produce a map image. Can you see what i'm doing wrong?

**The Request Pr

[2018-12-31 08:36] CHEEKATLAPRADEEP-MSFT commented on #21431
@jfoshee Thank you for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-31 08:43] abhijitkakade914 commented on #21313
Team , any update on above query ?

[2018-12-31 08:45] aijassecret commented on #21428
An update - I checked it via my mobile phone browser and it worked perfectly (at least for index page); however, when trying vi my laptop's browser (either MS Edge or Chrome) it says 'page not found'...

[2018-12-31 09:06] CHEEKATLAPRADEEP-MSFT commented on #21399
@Jinesh12 Developers already familiar with Azure Table storage may have used the [WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage/) package in the past. It is recommended that all new table applications use the [Azure Storage Common Library](https://www.nuget.org/packages/Microsoft.Azure.Storage.Common) and the [Azure Cosmos DB Table Library](https://www.nuget.org/package

[2018-12-31 09:06] jakaruna-MSFT commented on #21313
@abhijitkakade914 I am looking at it. I will post once have some data.

[2018-12-31 09:37] snaveekumar commented on #21315
@Karishma-Tiwari-MSFT sorry for the delay.
This issue is resolved on its own before I do anything. I don't know what happened in between these days, when I check today it is resolved and started working.
I can able to install and list helm releases without any issues...
Thanks for your time to help me on this.

[2018-12-31 09:50] holmesp opened #21451 "Error when attempting to create file share custom role"
I get the following error when attempting to create a custom role for share level permissions:

[code]

The custom role definition json is as per the *Role definition for share-level Change permissions* example in the document, with the &lt;Subscription-ID&gt; and &lt;Custom-Role-Name&gt; placeholders replaced with my subscription ID and a meaningful role name.

Prior to this, I've followed the in

[2018-12-31 10:05] sergaz-msft commented on #21376
Thank you for coming back and explain the steps through the resolution of the initial issue :). We will now close this issue (it will continue visible as it may help others with similar issues).

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-31 10:14] michaelspinks opened #21452 "Amend "grand" to "grant" Under "Upload the linked template""
Under "Upload the linked template" change "grand limited access to the template file." to "grant limited access to the template file."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255db119-3d96-f4de-a2bb-c90f782b883d
* Version Independent ID: f769af8b-63af-42ba-0ebc-933ade25645e
* Content: [Create linked Azure Resour

[2018-12-31 10:50] fergusstrachan opened #21453 "Privileged rights required to receive emails?"
With most Azure services you can specify a DL or similar to which to send emails, without requiring that this person/group has an admin role assigned.
It appears we don't have this separation here, which seems strange, doesn't it?

I would really like the support guys to know when PIM roles are being activated, without giving them the rights to add people to these roles!

---
#### Document Details

[2018-12-31 10:50] SumanthMarigowda-MSFT commented on #21451
@holmesp Thanks for your question. We are checking on this and will respond to you soon.
 

[2018-12-31 11:13] KetanChawda-MSFT commented on #21357
@JohnReeson I have created a PR to update the document. It will be merged soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thanks for your valuable feedback.

[2018-12-31 11:18] #21357 closed

[2018-12-31 11:19] abhijitkakade914 commented on #21313
I am not getting any errror. but when i try to enable encryption and using same powershell command / ARM template again after adding data disk (Not initialized) newly added data disk shows Encryption = Not Enabled.

[2018-12-31 12:17] krishnasingh1818 opened #21455 "permission error when using app"
when creating new alert query from log analytics or azure monitor  using custom log search option queries having app() failed with "InsufficientPermission" error.

i have posted issue in link below.
https://feedback.azure.com/forums/357324-application-insights/suggestions/36350140-error-insufficientaccesstoresource-when-creating-n

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-12-31 12:52] serkanozkul opened #21456 "new AzureServiceTokenProvider() takes long time"
When AzureServiceTokenProvider() constructor is used without a connection string, it takes long time (~20 seconds) to complete in local development environment (.NET Standard 4.6). Also it throws many AzureServiceTokenProviderExceptions (Parameters: Connection String: [No connection string specified]) that is mentioned by other users as well

Please update the documentation to use connection strin

[2018-12-31 13:06] tgiorgio commented on #17170
Hi, could you please explain in a bit more detail the webhook process as it is not clear what is expected in the parameters section of this runbook? Thanks

[2018-12-31 13:35] mrbullwinkle commented on #7223
I am going to close this one out since this article/the solution it references has been deprecated.

To the more general question of monitoring apps that run outside of Azure, Application Insights SDK's can be used to instrument applications running on-premises or in any cloud. The only major limitation for applications running on premises or in clouds outside Azure is that you have to be able to

[2018-12-31 13:35] mrbullwinkle commented on #7223
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-31 13:39] Liamdelee opened #21457 "No X-MS-TOKEN-AAD-ACCESS-TOKEN in request headers node.js 8.11 Azure Active Directory"
Hi,

I set up an azure web app service and enabled to authenticate with Azure active directory.
However the documentation states that you can find the "X-MS-TOKEN-AAD-ACCESS-TOKEN" in the request header. But i cannot find that specific header.
I can see the x-ms-client-principal and so on and i can access my app so that is working as intended. However i have no idea how i need to get this token.
I

[2018-12-31 13:45] mrbullwinkle commented on #8557
Since it doesn't look like this one is a documentation issue anymore I am going to close it out. If you are still having problems with the "Too much data" message in offline scenarios and incrementing the regkey value has no affect I would recommend opening an issue against the SDK itself: [https://github.com/Microsoft/ApplicationInsights-dotnet/issues](https://github.com/Microsoft/ApplicationInsi

[2018-12-31 13:46] mrbullwinkle commented on #8557
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-31 14:18] diberry commented on #21332
@bankotsu 2.	You label entities for the purpose of entity extraction only. #please-close

[2018-12-31 14:48] sergaz-msft commented on #21403
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-31 14:49] sergaz-msft commented on #21406
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-31 14:50] sergaz-msft commented on #21426
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-31 15:16] jbrantly commented on #21172
I accidentally stumbled across the resolution for this. There are a few things:

1. The documentation here is slightly wrong. It says, "In the Azure portal, navigate to Cost Management + Billing > Subscriptions > Select a subscription > Budgets." I was unable to do that, specifically the "select a subscription" part. There's no way to click or select a subscription from the list.
2. If I instead n

[2018-12-31 15:24] zhusulai opened #21458 "Strange Error Message When Using "New VNET Integration" In Canada Central"
I tried the new VNET Integration in US East and it worked flawlessly. When I tried to do the same in Canada Central I'm running into a strange error message when trying to tcpping a VM in my VNET using its private IP address: "Connection attempt failed: A non-recoverable error occurred during a database lookup". There are no databases deployed in my VNET and the app does not use a database.

---
#

[2018-12-31 15:47] marcurdy commented on #15273
Like this specifically
az resource create -g <resourcegroup> --resource-type=Microsoft.OperationalInsights/workspaces -n Microsoft.OperationalInsights -l eastus -n <workspacename>  -p '{"sku":""}'

[2018-12-31 15:52] BryanTrach-MSFT commented on #21390
@cveld This is where the app service platform will be looking at by default, which is why the doc suggests to place the jwt in the x-zumo header.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-31 15:52] #21390 closed

[2018-12-31 15:54] tfitzmac commented on #21036
@theheatDK - listing them would be great. Thanks

[2018-12-31 15:56] BryanTrach-MSFT commented on #21391
@djpereira Thank you for your feedback. Upon further review, we believe your feedback would be best handled by the doc author. They will determine if any updates or changes are necessary to the doc.

[2018-12-31 16:02] BryanTrach-MSFT commented on #21393
@User1m Thank you for your feedback. Please note that preview features are not always included in Azure docs. This is because the product/feature can go through major changes up until the product/feature becomes Generally Available (GA).

Keeping that in mind, we have assigned your feedback to the doc author for awareness. Please do keep in mind though that the documentation may not be updated unt

[2018-12-31 16:10] BryanTrach-MSFT commented on #21428
@aijassecret We are sorry to hear that you are having these issues. This sounds to be more of an issue with your local client rather than an issue with the web app. It might be possible that your local machine has cached DNS values. I would suggest flushing the DNS for your local client (run _ipconfig /flushdns_ in a cmd prompt). Also ensure that browser cache is not getting in the way by using in

[2018-12-31 16:10] #21428 closed

[2018-12-31 16:18] xavidram commented on #21395
As an update. I figured out the issue. I had set up an event listener to toggle and close the popup when i click the pin again.
[code]

 This was causing an issue as the click was not debouncing and checking the status of the popup and would trigger the close method for the popup right after the open function. I simply removed the event listener to click and close the popup, leaving only the click

[2018-12-31 16:31] smithGit commented on #21376
Thanks, António, for your response.  Sorry for the false alarm, although my ESP8266 must have something wrong with it.

I will be looking again at the Adafruit ESP8266 operation with IoT Central to see why values are being stored as integer degrees C, but it may be a few days before I tackle this.  I will let you know what I find if it looks informative for other users.  Have a Happy New Year!

Sa

[2018-12-31 16:33] Karishma-Tiwari-MSFT commented on #8557
@danobri We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-31 16:33] #8557 closed

[2018-12-31 16:34] #7223 closed

[2018-12-31 16:34] Karishma-Tiwari-MSFT commented on #7223
@Jon007 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-31 16:35] Karishma-Tiwari-MSFT commented on #21315
@snaveekumar Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-31 16:35] #21315 closed

[2018-12-31 16:37] Karishma-Tiwari-MSFT commented on #21239
@oleksandr-bilyk Thanks for the feedback. I have assigned the issue to the content owner to further investigate and update the doc as needed.
@aljo-microsoft Thank you for sharing your insights with the detailed explanation. Appreciate your help :)

[2018-12-31 16:44] #21332 closed

[2018-12-31 17:07] danobri commented on #8557
@mrbullwinkle and @Karishma-Tiwari-MSFT

I gave up on the "too much data" issue and stopped using Application Insights to troubleshoot my problem.  However, it appears the original documentation issue was never corrected.  The documentation on sampling still only includes instructions for the full framework.  At very least it seems the [documentation on sampling](https://docs.microsoft.com/en-us/a

[2018-12-31 17:13] LisandroSu opened #21460 "Create a Recovery Services vault"
@jesusgilv commented on [Sat Dec 29 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/162)

Step 2 say: Click Create a resource &gt; Monitoring & Management &gt; Backup and Site Recovery.
The right path is
Step 2: In the Azure portal, select Create a resource &gt;Management Tools&gt; Backup and Site Recovery (OMS).

Monitoring & Management don't work more and Management Tools show  Ba

[2018-12-31 17:13] LisandroSu commented on #21460
Hi team,

Please check this issue.

Thanks!

[2018-12-31 17:15] stephenc01 opened #21461 "Trusted Locations"
The what-if tool does not take into account the trusted location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3f7178-bbd2-cff2-28a4-76a169823522
* Version Independent ID: 6cd796b0-a31f-bc36-ee50-23af9e950fd0
* Content: [What is the what if tool in Azure Active Directory conditional access?](https://docs.microsoft.c

[2018-12-31 17:35] BryanTrach-MSFT commented on #21456
@serkanozkul Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-31 17:45] MarileeTurscak-MSFT commented on #21402
Please open a new issue and include a detailed description of your problem.

[2018-12-31 17:45] #21402 closed

[2018-12-31 17:49] BryanTrach-MSFT commented on #21457
@Liamdelee Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-31 17:56] #21365 closed

[2018-12-31 18:01] SaurabhSharma-MSFT commented on #21411
@MarneeDear "Keys" option is available under "API Access" section on the Application "Settings" blade.  Please find below screenshot for you reference.
![image](https://user-images.githubusercontent.com/38112130/50565362-00150d80-0ce3-11e9-92ac-a91d82627ba4.png)

[2018-12-31 18:07] YutongTie-MSFT commented on #21220
@PatrickFarley Hi Patrick, the document works for me well. But I am not sure if this is a document issue. Can you please check it? If not I will help the customer solve it with the support team's help. Thanks.

[2018-12-31 18:09] YutongTie-MSFT commented on #21276
@PatrickFarley Hi Patrick, do you have any idea about it? Thanks.

[2018-12-31 18:13] YutongTie-MSFT commented on #21314
@sha1992 Hi can you please open a new ticket for the feature request of Windows 7? It should help for the team to realize the type of the issue.

@wolfma61 Do we have any plan for it? I will ask the customer to open a new ticket for the feature. Thanks.

[2018-12-31 18:19] Mike-Ubezzi-MSFT commented on #21388
@technoprax We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2018-12-31 18:19] #21388 closed

[2018-12-31 18:31] femsulu commented on #21455
@krishnasingh1818 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-31 18:31] thedevolution opened #21462 "Custom Products do not allow tracing"
Created a custom Product that requires subscription and applied an API to it.  When I test the API using both the "Ocp-Apim-Trace" and "Ocp-Apim-Subscription-Key" values populated, I am not able to view the Trace information.  Instead I see the message, "Trace is not available because response does not contain Ocp-Apim-Trace-Location header."  If I remove the custom Product from the API and select

[2018-12-31 18:31] Mike-Ubezzi-MSFT commented on #21319
@J-E-C Per the following link ([Permissions of Fixed Server Roles](https://docs.microsoft.com/en-us/sql/relational-databases/security/authentication-access/server-level-roles?view=sql-server-2017#permissions-of-fixed-server-roles)), CONTROL_SERVER is not quite sufficient on the source database, as indicated by the following note:

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot (1

[2018-12-31 18:33] femsulu commented on #21452
@michaelspinks Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-31 18:34] femsulu commented on #21461
@stephenc01 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-31 18:37] femsulu commented on #21460
@LisandroSu Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-31 18:39] Mike-Ubezzi-MSFT commented on #21319
@craigg-msft I am unable to assign to @pochiraju.

[2018-12-31 18:44] femsulu commented on #21458
@zhusulai Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-31 18:51] femsulu commented on #12387
@rayne-Wiselman, any followup to @gmoed 's comments above?

[2018-12-31 18:51] femsulu commented on #14038
@CarlRabeler, any followup to @borys86 's comment above?

[2018-12-31 19:00] BryanTrach-MSFT commented on #21458
@zhusulai Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this forum post? We would like to work closer with you on this matter since this is a new service and most of our troubleshooting methods may not be valid for this new service offering.

We look forward to your reply.

[2018-12-31 19:00] #21458 closed

[2018-12-31 19:09] YutongTie-MSFT commented on #21429
@jminowa3 Hi, for here we use plt.imgshow to display the image on the axes, but if you need to display multiple images you use show() to finish the figure. Thanks.

[2018-12-31 19:11] ksaye opened #21463 "Error with links on page"
When I click the GetTaggedImages link (https://go.microsoft.com/fwlink/?linkid=865446) it is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afd09d5a-00b1-4e77-4101-1f7d396af02a
* Version Independent ID: c87b381f-d582-d32f-7291-783cea019cac
* Content: [Export or delete your data - Custom Vision Service](https://

[2018-12-31 19:12] SaurabhSharma-MSFT commented on #21147
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-31 19:12] #21147 closed

[2018-12-31 19:20] YutongTie-MSFT commented on #16937
@tjoudeh Thanks, I just fixed it.

[2018-12-31 19:29] diberry opened #21464 "Docker compose"
I'm familiar with docker and docker compose but new to kubernetes. In this tutorial, docker compose appears to be used locally, not preparing for or in combination with the AKS. Is that correct? Used locally, it appears to be used only to validate the local container interaction/network. Is that correct?

I have a lot of docker compose files, do I have to create kubernetes files for the same purpo

[2018-12-31 19:32] siudeks opened #21465 "Deleting BlobReceipt doesn't start reprocessing (as described on the page)"
When I
* create C# Script Blob trigger (simple trigger generated by azure Portal)
* do simple health test (by uploading a blob to proper location)
* remove just created BlobReceipt
I am expecting reprocessing the blob to happen
But instead no action is started

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f0

[2018-12-31 19:32] mike-urnun-msft commented on #21462
Hi @thedevolution Thank you for your feedback! We will review and update as appropriate.

[2018-12-31 19:36] mike-urnun-msft commented on #21465
Hi @siudeks Thank you for your feedback! We will review and update as appropriate.

[2018-12-31 19:41] pilcherd opened #21466 "Verification is wrong"
Note that PCs that are showing in Azure AD as "Azure AD Registered" also show the same verification as a PC that shows as "Azure AD Joined".

I.e. this is not a valid verification for a JOINed PC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a7a5351-21c0-946d-fdc0-5e1943aa0a01
* Version Independent ID: acf0eb8d-109f

[2018-12-31 19:49] SaurabhSharma-MSFT commented on #21409
@benpaul4u The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-12-31 19:49] #21409 closed

[2018-12-31 19:57] femsulu commented on #21419
@jerryol Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-31 19:57] #21419 closed

[2018-12-31 20:08] joshlang opened #21467 "Extra underscore on __etag"
The system defined property is _etag, not __etag, isn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a1f8fb-77e3-acac-eb1e-05571fc4e018
* Version Independent ID: 4bd2399c-7298-848d-e04d-88b74b132dde
* Content: [Database transactions and optimistic concurrency control in Azure Cosmos DB](https://docs.microsoft.c

[2018-12-31 20:13] MarneeDear commented on #21411
Thank you.

[2018-12-31 20:13] #21411 closed

[2018-12-31 20:20] SaurabhSharma-MSFT commented on #21324
@wacsintegra The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-12-31 20:20] #21324 closed

[2018-12-31 20:20] SaurabhSharma-MSFT commented on #21360
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-31 20:20] #21360 closed

[2018-12-31 20:42] YutongTie-MSFT commented on #21463
@ksaye Thanks for your feedback, we will fix it shortly.

@PatrickFarley Hi Patrick, this link is broken, can you please check and update the document as necessary? Thanks a lot!

[2018-12-31 21:17] Mike-Ubezzi-MSFT commented on #14038
@borys86  I am going to suggest that you create a couple User Voice entries for this product request as documentation cannot be created for functionality that does not yet exist. There is the [Developer Community .NET Feedback Forum](https://developercommunity.visualstudio.com/spaces/61/index.html) and there is the [Azure SQL User Feedback Forum](https://feedback.azure.com/forums/217321-sql-databa

[2018-12-31 21:17] #14038 closed

[2018-12-31 21:32] MarileeTurscak-MSFT commented on #21466
@pilcherd
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-31 22:45] alexsoble commented on #21161
@gsacavdm @femsulu @MicahMcKittrick-MSFT @Sadiqh-Ahmed Thanks for your help with this!

Talking with @Anand-Moghe today, he suggested that App Insights provides an easy way to send data to Log Analytics. Unfortunately App Insights isn't available in Azure Gov yet. Taking a look at [Products available by region](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=usgov-non-reg

[2018-12-31 22:49] YutongTie-MSFT commented on #11732
@wilsonchua20 Hi, can you please open a new ticket with more details? Thanks.

[2018-12-31 22:51] qubitron commented on #21044
@brettcannon can you provide the full command you used to get this working?

[2018-12-31 22:59] kgremban commented on #21214
@remware @formulahendry Remware is right, and I must have tested something strange when I responded initially.

@v-stadam Can you take a look at this and see whether you can incorporate both methods into the doc? And consider the feedback that we may need to reiterate how you distinguish between edge-enabled devices (edge logo, with modules in the drop-down) and regular IoT devices (chip logo, wit

[2018-12-31 23:04] kgremban commented on #21403
@sandervandevelde I don't know that there were any new offline settings released with 1.0.5. Here are the release notes: https://github.com/Azure/azure-iotedge/releases/tag/1.0.5

@veyalla Can you confirm or clarify?

[2018-12-31 23:09] kgremban commented on #21406
@konabuta Whether the Azure Machine Learning service is GA doesn't necessarily affect whether Azure Machine Learning _modules on IoT Edge_ are GA or not. It's a bit of a narrow distinction. But I'll verify the status and let you know. If it's true that they're still in preview, I will try and be more clear that we're the modules on an IoT Edge device, not the cloud service.

[2018-12-31 23:12] kgremban commented on #14719
Thanks, @gauravagarwal28. I can take your feedback about wanting more information about the simulated temperature sensor and update the docs. As for changing the order of the tutorials, I think that's very valuable feedback, so thank you. I'm going to look for more usage data from those articles before changing anything.

[2018-12-31 23:13] Adam-Smith-MSFT commented on #21415
@vanpyrzericj Have you tried using the latest [Azcopy v 10](https://github.com/Azure/azure-storage-azcopy) ?
I did a quick test and it worked for me. This is the full command:
`azcopy_windows_amd64.exe cp "C:\Users\adam\Desktop\success.gif" "https://atest.blob.core.windows.net/$web/?sv=2018"`

`Elapsed Time (Minutes): 0.0333
Total Number Of Transfers: 1
Number of Transfers Completed: 1
Number of T

[2018-12-31 23:49] femsulu commented on #21452
@michaelspinks This has been fixed and the correction will be live soon. Thanks again for bringing this to our attention. Closing this issue as resolved.

[2018-12-31 23:49] #21452 closed

[2019-01-01 00:00] MarileeTurscak-MSFT commented on #21466
Can you explain a bit further or post a screenshot? A device needs to be registered in order for it to be joined so it would show up as both ways.

[2019-01-01 01:50] johnwildes commented on #21415
@vanpyrzericj if you're using an Azure DevOps release pipeline you have to use the Azure File Copy (preview) and use V2 not V1.  You can then specify the $web container.

[2019-01-01 01:53] johnwildes opened #21468 "az storage blob service-properties no longer has UPDATE command"
When trying to run the CLI above to update the service-properties of the blob storage service on the service account, AZ CLI throws an error,

'update' is not in the 'az storage blob service-properties' command group.

The only options on the az storage blob service-properties command group is delete-policy or show, which obviously shows the properties, and the status of static sites, but doesn't

[2019-01-01 03:40] KetanChawda-MSFT commented on #21318
@girishgouda Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-01 03:40] #21318 closed

[2019-01-01 03:57] jlee-vi opened #21469 "Does Connectivity REQUIRE a Firewall Rule"
It's not clear from the article whether connectivity through a service endpoint actually requires a Firewall Rule. Can you please confirm?

E.g. If I create a Service Endpoint for Storage, but leave the Firewalls and virtual networks rule to 'Allow access from: All networks', will traffic between the subnet and a Storage Account use the public Internet or not?

Given the Service Endpoint creates a

[2019-01-01 05:09] girishgouda commented on #21318
Please reopen the issue .Attaching the screenshots. This is bit urgent can you resolve this issue?
![graphandsdkversion](https://user-images.githubusercontent.com/9015874/50570440-65373480-0db1-11e9-8acf-46658201089a.PNG)
![graphpermision](https://user-images.githubusercontent.com/9015874/50570446-6a947f00-0db1-11e9-969e-3a84327a3840.PNG)

[2019-01-01 05:33] ravikiran-srini opened #21470 "There is no active worker agent"
a) Why Azure SSIS IR needs to be in a "started" state for me to deploy the packages from SSDT to Azure SQL DB?
I get no "active worker agent" error message.

b) Then does it mean, I need to always create Azure Data Factory (with Azure SSIS IR), when I need to deploy the packages? What if I only want to deploy to Azure SQL DB and run manually?

---
#### Document Details

⚠ *Do not edit this section

[2019-01-01 06:31] girishgouda commented on #21280
Ok thanks

________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Monday, December 31, 2018 11:00 AM
To: MicrosoftDocs/azure-docs
Cc: Girish; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Multi conatiner app (#21280)

@girishgouda<https://github.com/girishgouda> Is there any update?

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2019-01-01 08:08] imeya opened #21471 "I cannot find the "Take action on" by clicking the ellipse to the left of one of the fields"
I followed this article, but in the section "To initiate runbook from log search", step 5, I cannot find the "Take action on".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a353507-e410-2caf-0a8b-15d68b5fbe9e
* Version Independent ID: c473aa2c-2226-7406-4ca0-a1c4fc7b6e5b
* Content: [User-initiated Azure Automation Ru

[2019-01-01 09:32] jakaruna-MSFT commented on #21280
@girishgouda I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-01 09:32] #21280 closed

[2019-01-01 09:34] jakaruna-MSFT commented on #21260
@badalk did that comments answer your question?
If no, i can get the team to provide more information.

[2019-01-01 10:16] femsulu commented on #21470
@ravikiran-srini Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-01 10:19] femsulu commented on #21471
@imeya Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-01 11:39] ravikiran-srini opened #21472 "Doc mentions azure ssis ir as a prerequisite"
Azure SSIS IR is not used here. The stored proc is executed using Default IR. Then why Azure SSIS IR is mentioned as a prerequisite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74e18831-fc5c-d339-0547-35b07ec44938
* Version Independent ID: 47737270-af94-5847-626b-7653369bb07f
* Content: [Run SSIS package with Stored

[2019-01-01 12:18] nafisIslam opened #21473 "Escaping special characters & Encoding unsafe and reserved characters for Lucene query syntax Azure Search Does Not Work"
According to Azure Search [Doc](https://docs.microsoft.com/en-us/rest/api/searchservice/lucene-query-syntax-in-azure-search#bkmk_syntax) for Escaping special characters + - && || ! ( ) { } [ ] ^ " ~ * ? : \ / I need to prefixing them with backslash (\\) And for unsafe and reserved characters need to encode them in URL.

I have words "C&&K", "So\`am\`I" , "Ant||Man", "A*B==AB", "Ant+Man" in index o

[2019-01-01 13:30] dzeyelid opened #21474 "The test instructions in locally is incorrect."
In the section "Test the function locally", it says send GET request the endpoint. But the shown endpoint in the figure is not by HttpStart function and it should be POST request like this doc: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-sequence#run-the-sample.
Please check the instruction to test in locally.

---
#### Document Details

⚠ *Do not edit this sec

[2019-01-01 13:49] smithGit commented on #21376
Ahah:  Here is where the integer to rounding comes from:  It is in the Starterkit code for Remote Monitoring example, for the Adafruit ESP8266.  The Microsoft-copyrighted code segment is below - could someone look into this and revise to permit floating point values for temperature and (less important) humidity?  Otherwise, the example makes the Adafruit ESP8266 appear to have lower resolution tha

[2019-01-01 17:52] JoNevi opened #21475 "SqlClient not supported"
I followed the instructions above to add System.Data.SqlClient to my project.  Published it.  Uploaded a fresh blob, checked Monitor for this function in the portal and see 5 red exclamation marks with the message "System.Data.SqlClient is not supported on this platform."

Have Azure Functions stopped supporting SqlClient since this article was written?

---
#### Document Details

⚠ *Do not edit t

[2019-01-01 17:57] tudort-iquest opened #21476 "VPN creation steps not clear"
The Prerequisites step ('Create a VNET for the Azure Database Migration Service by using the Azure Resource Manager deployment model, which provides site-to-site connectivity to your on-premises source servers by using...')
is not detailed enough for what is supposed to be a tutorial, for somebody new to Azure in general. Please provide some concrete steps there - assume the reader has never creat

[2019-01-01 19:09] xiazek opened #21477 "ruby 2.3 is quite outdated"
This (https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-ruby) looks like a main document describing Ruby app setup for Azure Apps.

The current stable version of ruby is 2.6. The 2.3 of ruby was released in Q4 2015 and it does not allow running recent versions of most web-frameworks. It would be really surprising for me if anyone is still using it in production environment.

[2019-01-01 19:32] theheatDK commented on #21036
As far as I can tell these are missing:

- Microsoft.ContainerRegistry/registries
- Microsoft.ContainerService/managedClusters
- Microsoft.DataBox/jobs
- Microsoft.DBforMySQL/servers
- Microsoft.DevTestLab/schedules
- Microsoft.DocumentDb/databaseAccounts
- Microsoft.EventHub/namespaces
- microsoft.insights/activityLogAlerts
- microsoft.insights/alertrules
- microsoft.insights/metricalerts
- Micro

[2019-01-01 19:41] mike-urnun-msft commented on #21474
Hi @dzeyelid Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-01 19:42] mike-urnun-msft commented on #21475
Hi @JoNevi Thank you for your feedback! We will review and update as appropriate.

[2019-01-01 20:11] femsulu commented on #21472
@ravikiran-srini Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-01 20:16] femsulu commented on #21476
@tudort-iquest, Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-01 20:46] NitroAMD opened #21478 "nodejs and npm"
Set up Yeoman generators for containers and guest executables
"Install Node.js and npm on your machine." &lt;- commands didn't worked for me on a fresh Ubuntu 16.04 from Azure Marketplace
This worked for me -&gt; https://github.com/nodesource/distributions/blob/master/README.md#debinstall

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-01 21:32] mike-urnun-msft commented on #15485
We have reviewed the samples on this documentation, and here are our findings:

- C# Class Library Sample works as-is
- C# Scripts Sample is _updated and changes will reflect shortly_
- Javascript Sample works as-is

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-01 21:32] #15485 closed

[2019-01-01 23:04] phillipgibson opened #21479 "Docker Build Error on Step 7 of Production Dockerfile "/bin/sh: 1: npm: not found""
I was working on containerizing this using the provided dockerfiles and I get an error on Step 7 that npm not found. This looks to be a known issue of the program not being named correctly in certain versions. I've added RUN sudo ln -s /usr/bin/nodejs /usr/bin/node as a last command of the Install nodejs block and I'm still having issues creating the container.

---
#### Document Details

⚠ *Do no

[2019-01-01 23:18] femsulu commented on #21478
@NitroAMD Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-01 23:20] femsulu commented on #21477
@xiazek Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-01 23:21] phillipgibson commented on #21479
Ok I got this to build. First I changed the install node version to 11

RUN curl -sL https://deb.nodesource.com/setup_11.x | sudo -E bash -

and second I had to add the --force param for each npm cache clean command

# Install MEAN.JS Prerequisites
RUN npm install --quiet -g gulp bower yo mocha karma-cli pm2 && npm cache clean --force

RUN NODE_ENV=development npm install --quiet && npm cache clea

[2019-01-01 23:34] mike-urnun-msft commented on #16249
Hi @darewreck54 Apologies for delay in response. Not sure if this is still an issue, but, since this channel is for driving improvements towards MS Docs, please consider raising this question on [MSDN forums](url) where community of SMEs can weigh in on your scenario and advice best practices.

With that said, it seems that you can review [this example](https://docs.microsoft.com/en-us/azure/azure

[2019-01-01 23:34] #16249 closed

[2019-01-01 23:39] cloudmelon opened #21480 "Need clarification about how can we get token after authenticating with managed identity in logic app"
Need clarification about how can we get token after authenticating with managed identity in logic app.

I create a logic app and follow the doc, activated the MSI of logic app and got my logic app authenticated successfully with MSI in logic app, however, the next step is to an HTTP call still got unauthorized. I suppose if I got a bearer token from AD ( with MSI we can get it via MSI endpoint ) w

[2019-01-01 23:56] rwike77 commented on #19045
@jsiegmund @aljo-microsoft   I added the note to the article.  The updates just merged and should publish live tomorrow.  #please-close

[2019-01-02 00:13] #19045 closed

[2019-01-02 00:16] wacsintegra commented on #15279
When setting up an Application Gateway Standard V2, I am unable to retrieve health information from my components tied to my new AG. Same settings for a standard work just fine. I have added an nsg to the subnet of the AGV2 with updated rules documented (ports 65200 - 65535 for the v2 SKU); we are still unable to retrieve backend status of App Service and AGV2 reports as UNKNOWN backend health. It

[2019-01-02 00:20] wahyuen opened #21481 "Does the service support both Server connection and Serverless connection mode?"
In the Azure portal, when creating the Azure SignalR service, there appears to be options to select the 'Default/Serverless/Classic' modes based on your scenario. Is it possible to run 'both' modes?

For example, let's say we have a front end SPA + dot net core WebAPI + Azure Functions, can we put the service into 'classic' mode and still expect it to work for the serverless component?

Currently,

[2019-01-02 00:49] femsulu commented on #21479
@phillipgibson really appreciate you bringing this to our attention. We will review and make necessary revisions. Will provide an update soon.

[2019-01-02 00:53] mike-urnun-msft commented on #15614
Hi @kmcconnell Apologies for delay in response. `TraceWriter` should now be replaced with `ILogger`. For making the method `async`, following works for me:

[code]

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-02 00:53] #15614 closed

[2019-01-02 00:59] mike-urnun-msft commented on #21480
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdfb9148-5d81-f65e-3cb3-aa7c5eb5867b
* Version Independent ID: 5051db4d-83d1-a230-6fcb-9238a384961d
* Content: [Authenticate with managed identities - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity)
* Content Source: [art

[2019-01-02 01:01] mike-urnun-msft commented on #21480
Hi @cloudmelon Thank you for your feedback! We will investigate and get back to you with our findings.

[2019-01-02 01:30] amcgregor1 opened #21482 "new-azurermstorageaccount still doesn't support -AssignIdentity switch"
I have upgraded AzureStack to 1811 and the storage PowerShell modules for Azure Stack which now exposes the --AssignIdentity switch in new-azurermstorageaccount. However this still doesn't seem to be supported by the RP

New-AzureRmStorageAccount -Name $storageAccountName -Location $AzSRegion -ResourceGroupName $RGName
-SkuName Standard_LRS -AssignIdentity
New-AzureRmStorageAccount : Resource type

[2019-01-02 01:37] dabdirb commented on #13431
I tested by using latest API it works

[2019-01-02 01:37] #13431 closed

[2019-01-02 01:46] grayjeremy opened #21483 "Typo"
under the "Cloud Apps" Heading

"Select spps to target specific services by your policy." should be "Select apps to target specific services by your policy."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Wha

[2019-01-02 02:09] grayjeremy opened #21484 "Switch sections"
Since you need the storage sync service to be available before you finish the install of the file sync agent, it makes sense to me to place the "Deploy the Storage Sync Service" section before the "Install the Azure File Sync agent" section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374d

[2019-01-02 02:36] dtjensen opened #21487 "What about TPMs?"
This article doesn't mention how this process is affected if the device is using a TPM. What does that change, if anything?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e275ce10-660d-4f06-9b9d-abb31940c564
* Version Independent ID: de3b6527-e1fb-93d3-fdb9-3bb5f6958aa7
* Content: [Certificates for device security - Az

[2019-01-02 02:44] ravikiran-srini opened #21488 "Integration runtime - unknown"
If I execute Set Variable activity, in monitoring tab, the integration runtime is unknown.
I have not explored for other control activities.
If IR is unknown, where are they executed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5180c2b-1ea6-3924-dc01-3f7c9296774b
* Version Independent ID: f040eee7-35fb-676c-ad36-d3

[2019-01-02 03:32] SumanthMarigowda-MSFT commented on #21484
@grayjeremy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-02 04:30] AshokPeddakotla-MSFT commented on #21487
@dtjensen Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-02 04:35] KetanChawda-MSFT commented on #21475
@JoNevi Which version of `System.Data.SqlClient` you have in your project? Please check [this](https://stackoverflow.com/questions/53952409/azure-function-system-data-sqlclient-is-not-supported-on-this-platform) SO post. It seems you are facing the same issue.

[2019-01-02 05:04] femsulu commented on #21483
@grayjeremy Thanks for catching this. We are investigating and will resolve shortly.
@MarileeTurscak-MSFT  - FYI this typo appears to have been fixed in the private repo so I assume all that's needed is to merge the PR and push this to the public doc.

[2019-01-02 05:20] femsulu commented on #21482
@amcgregor1 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-02 05:21] femsulu commented on #21481
@wahyuen Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-02 05:41] wilsonchua20 commented on #21343
i tried creating a web service in oracle using the java code in your documentation, it always return unknown host exception: westus.api.cognitive.microsoft.com

[2019-01-02 05:42] sodafatty commented on #21058
Hi Is there any updates?

[2019-01-02 06:05] wilsonchua20 commented on #21343
btw, i was pertaining to the speaker verification part

[2019-01-02 06:07] jakaruna-MSFT commented on #21478
@NitroAMD I followed the document with ubuntu 16.04.
After running the curl command to install nvm, I had to do one more step to get it work.
nvm installation command installs nvm and adds it to bashrc and prints a message at the end like this.
[code]
I just ran `bash` after the curl command to reload .bashrc.
We can also open a new terminal so that the profile is reloaded.

I hope you ran into th

[2019-01-02 07:02] cbrooksmsft commented on #21469
Service Endpoints are required to enable firewall rules based on virtual networks, but firewall rules are not required to gain the routing optimization benefits of service endpoints.

[2019-01-02 07:35] fgessen commented on #21003
@Grace-MacJones-MSFT thank you for your reply. Apparantly my issue did not come across correctly. I am very well aware of how to set up the storage accout. Following the mentioned tutorial (content-source) I tried to set up the storage conection using key vault (see screen - both with or without slot setting). Anyway the function cannot be indexed this way (screen2). I wonder if this is the desire

[2019-01-02 07:42] el-niko opened #21489 "No IOTC_DEVICEID header found in import file"
Unable to load file with two columns (Error: "No IOTC_DEVICEID header found in import file")
File example:
IOTC_DEVICEID;IOTC_DEVICENAME
00-0a-95-9d-68-17;Batch-0000001-00-0a-95-9d-68-17
00-0a-95-9d-68-18;Batch-0000001-00-0a-95-9d-68-18

Although the file with one column loads correctly, but I need to define Device Name

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-02 07:46] el-niko commented on #21489
Sorry, you can close this issue.
There is a need to use "," delimiters in CSV file, example:
IOTC_DEVICEID,IOTC_DEVICENAME
00-0a-95-9d-68-17,Batch-0000001-00-0a-95-9d-68-17
00-0a-95-9d-68-18,Batch-0000001-00-0a-95-9d-68-18

[2019-01-02 07:47] Liamdelee commented on #21457
Hi,
So i just found out that it is not working if you say to save your credentials.
This way i think it does not see it as a "login" and does not send the AAD tokens in the headers.
Can you please investigate and fix this? or bring a workaround for this?
thx!

[2019-01-02 07:51] djpirra opened #21490 "Should we have exactly what is in the function app URL or remove the extra /"
For the linked service function app url should have the backslash at the end or not? Documentation say it should be what is on the function portal and there it contains the extra /. In the example it does not and it makes it confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-9693-206845821d0c

[2019-01-02 08:19] jaredthirsk opened #21491 "Not clear what this service is. "Azure Cache for redis is based on ..." 'itself'."
What is this service -- is it Azure Redis for Caching, or is it a cache for Redis (which itself is often used as a cache)?

First line: "Azure Cache for Redis is based on the popular open-source Azure Cache for Redis."  So, it is based on an Azure-specific open source project of the exact same name?  Clicking Azure Cache for Redis takes me to the open source project called 'redis', not "Azure Cach

[2019-01-02 08:29] langemol opened #21492 "Breaking change in Models.Suggester"
Updating Microsoft.Azure.Search from 3.0 to 5.0 my build failed with the error `The name 'SuggesterSearchMode' does not exist in the current context`.
Turns out this second of three parameters of the Suggester constructor has been removed and is now set in the static constructor of the Suggester. Probably because the SuggesterSearchMode enum only had one value.

---
#### Document Details

⚠ *Do no

[2019-01-02 08:38] KetanChawda-MSFT commented on #21318
@girishgouda It looks like you are using `Client Credential` flow and you are passing the token obtained by the service principal. However `https://graph.microsoft.com/v1.0/me/` call only work with the token obtained for the user.

To make this work, You need to use `TokenIdentityMode.UserFromRequest` publish your code  to Azure Function App.

**NOTE:** Enable **Authentication/Authorization** from

[2019-01-02 08:44] femsulu commented on #21489
updated labels and closing as customer-resolved.

[2019-01-02 08:44] #21489 closed

[2019-01-02 08:54] damienestewart commented on #21047
Until this doc gets updated, and for people running into this issue, the command you'll have to run is:
docker run -v %LOCALAPPDATA%\CosmosDBEmulatorCert:C:\CosmosDB.Emulator\bind-mount -P -t -i -m 2GB microsoft/azure-cosmosdb-emulator. There isn't actually a CosmosDBEmulatorCert folder in CosmosDB.Emulator so the posted instructions won't work.

[2019-01-02 09:03] SubhashVasarapu-MSFT commented on #21408
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-01-02 09:30] xiaoyang-connyun commented on #21366
@PramodValavala-MSFT

No, I am not building my own developer portal. I am building a web application, where it contains the user interface, the backend service and APIM as the gateway in between, namely, the user interface only communicates with APIM rather than the backend service directly. Such rule applies to the user management of my application as well, which follows almost the same flow as [

[2019-01-02 09:40] garfbradaz commented on #12718
hey guys, any samples on caching ResourceIds?

[2019-01-02 09:42] garfbradaz commented on #12718
@SnehaGunda / @femsulu : Any samples caching rsourceIds? I presume this is caching the `_rid_` of a document?

[2019-01-02 09:48] girishgouda commented on #21318
ok Thanks. Can you make this clear in the doc if it already not mentioned

________________________________
From: KetanChawda-MSFT <notifications@github.com>
Sent: Wednesday, January 2, 2019 2:08 PM
To: MicrosoftDocs/azure-docs
Cc: Girish; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Getting :"Insufficient privileges to complete the operation"(Authorization_RequestDenied) when using graphtoken

[2019-01-02 09:49] angoyal-msft commented on #20720
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-02 09:49] #20720 closed

[2019-01-02 10:00] yatesa opened #21493 "Better highlighting of Azure premium features"
You've highlighted that custom branding is an Azure premium feature, but you fail to mention that Azure Conditional Access and the Leaked Credential Report are also premium features. When I was reviewing the best method for Azure AD authentication it wasn't until I read into the full details of each feature that I found this out. It should highlight that on this page, especially given that you hig

[2019-01-02 10:05] Obiwan72 commented on #18888
If i use the example (_New-AzureRmPolicyDefinition -Name 'VMPolicyDefinition' -Metadata '{"Category":"Virtual Machine"}' -Policy '{"if":{"source":"action","equals":"Microsoft.Compute/virtualMachines/write"},"then":{"effect":"deny"}}'_) to create a policy, the Category is still empty:
![image](https://user-images.githubusercontent.com/46315912/50587454-51a5cf80-0e7e-11e9-9bc4-66035244cf39.png)

[2019-01-02 10:07] KetanChawda-MSFT commented on #21465
@siudeks The reprocessing will be done for sure if you have deleted the BlobReceipt but there is no fix time when it will trigger. sometimes it may take several minutes or wait for any new blob to come to trigger your function.

You can check the blobreceipts folder as it will create a new receipt after reprocessing for the same blob.

[2019-01-02 10:07] ManojReddy-MSFT commented on #21453
@fergusstrachan I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-01-02 10:20] AshokPeddakotla-MSFT commented on #21061
@philmea Could you please check this and provide suggestions.

[2019-01-02 10:22] ManojReddy-MSFT commented on #21125
@vignatov I am trying to get confirmation from the product team regarding this and will provide an update as soon as I hear from them.

[2019-01-02 10:30] #21453 closed

[2019-01-02 10:34] AshokPeddakotla-MSFT commented on #21053
@JetstreamRoySprowl This will be fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/61927

[2019-01-02 10:35] #21053 closed

[2019-01-02 10:42] PramodValavala-MSFT commented on #21480
@cloudmelon Could share a screenshot of the HTTP action that you are trying?

I assume you are setting the `Authentication` and `Audience` properties as mentioned in [this](https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity#authenticate-with-managed-identity-in-logic-app) section.

[2019-01-02 10:44] KetanChawda-MSFT commented on #21465
@siudeks Can you try restarting your function app as I cant repro your scenario. It is working fine for me.

[2019-01-02 10:49] AinslieCleverdon opened #21494 "Missing section - Key Vault Limitations"
Under the list of services that can be moved, Key Vault is listed with an addition that says see Key Vault Limitations. There is no section on this page for Key Vault Limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2ae

[2019-01-02 10:58] ManojReddy-MSFT commented on #21494
@AinslieCleverdon Thanks for reporting this. I have assigned this to the author to validate and update the doc with the KV limitations.

[2019-01-02 10:59] SubhashVasarapu-MSFT commented on #21355
@Qq20180503 Thanks for the feedback! I have assigned the issue to the content author to investigate.

[2019-01-02 10:59] ManojReddy-MSFT commented on #21493
@yatesa Thanks for the feedback. I have assigned this to the author to consider this feedback and updating the doc accordingly.

[2019-01-02 11:05] cloudmelon commented on #21480
Yes. I set the Authentication and Audience properties as shown in the screenshot.
![image](https://user-images.githubusercontent.com/4621560/50589401-61251880-0e7e-11e9-873f-eafc7d22dbd7.png)

[2019-01-02 11:12] jvdenning opened #21495 "Missing placeholder in folder path"
Hi
The spec for the folder path for the linkedservices.json and other files is incorrect :
"https://adfv2storage.blob.core.windows.net/adfjobs//runtime/" should be "https://adfv2storage.blob.core.windows.net/adfjobs/{adf custom activity id}/runtime/" or specifically:
"https://{storage account}/adfjobs/{adf custom activity id}/runtime/"

Regards
James Denning

---
#### Document Details

⚠ *Do not e

[2019-01-02 11:26] ImrePyhvel opened #21496 "Can switching subscription directory cause service downtime?"
The docs does have "Important" section with mentions about Vault & RBAC considerations, but it is not clear from docs what are other possible risks to consider. For example:
* Can directory change cause any service downtime during the transfer?
* Would Managed Service Identities have to be set up again  or would it just suffice to reassign RBAC roles to them?

Anything else that could break servic

[2019-01-02 11:36] ben79git commented on #21074
Thank-you all for clarifying this.

[2019-01-02 11:55] PramodValavala-MSFT commented on #21366
@xiaoyang-connyun Happy New Year to you too!

That clears some things up.
So is it that, apart from using OAuth for your APIs, you also want to proxy your requests to Keycloak via APIM? Like a reverse proxy?

I don't think that's how the developer portal does the same. It initiates the OAuth flow by opening a dialog, asking you to login and then receives the access token from the OAuth provider wh

[2019-01-02 12:02] jakaruna-MSFT commented on #21407
@msalvadores I am able to reproduce the issue.
After setting up peering, machines in the vnet where aci is deployed is able to communicate with with aci.
Machines in the other vnet is not reaching only the aci, but reaching other machines in the peered vnet.

[2019-01-02 12:33] BharathiAN opened #21499 "For managed domain"
Hi,
Does MS outlook app support certificate based authentication for managed domain. This document explains about the federated domain. Need clarity on managed domain.

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41bf4bea-9c2c-2ffe-92b7-21920fb2e3e0
* Version Independent ID: c24b5adb-da1a-c99c-a018-8a83d0b735b3
* Content: [Azure Active Directo

[2019-01-02 12:43] sergaz-msft commented on #21449
Hi @SeaDude , for the same request you shared: `GET https://atlas.microsoft.com/map/static/png?subscription-key=myApiKey&api-version=1.0&path=%7C%7C-122%2045%7C-119.5%2043.2%7C-121.67%2047.12&layer=hybrid&style=main&zoom=11&center=-119.5%2043.2&height=800&width=800&language=en` if you use **less zoom** you will see something like below. (zoom=5)

![image](https://user-images.githubusercontent.com/

[2019-01-02 12:52] lesterw1 opened #21500 "What about content setting & retrieval?"
Are there any Azure-specific cmdlets for invoking a SQL query?  Or is just the standard SQL powershell used (https://docs.microsoft.com/en-us/sql/powershell/sql-server-powershell)?  Either way, that information should be included and linked here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 052ba85d-cc93-5de7-4aa6-1d

[2019-01-02 12:56] xiaoyang-connyun commented on #21366
@PramodValavala-MSFT

Yes, it is like a reverse proxy.

I have tried the developer portal once again, and actually I have figured out that I was wrong. AcquireToken request was indeed sending to APIM Portal rather than APIM. Since I configured my OAuth provider in APIM, there could be two possible ways of the implementation under the hood.

1. APIM Portal asks APIM how to communicate with the conf

[2019-01-02 13:02] pushsos opened #21501 "Authentication error from azure notebooks"
You don't have access to XXXXXXXXXXXXXXXXXXXX subscription. All the subscriptions that you have access to = []. Please provide an arm token with which you have access to the subscription

I have tried this, which was mentioned in the previous authentication thread.

import sys
!{sys.executable} -m pip install azureml-sdk[notebooks,automl]==0.1.68
---------------------------------------------------

[2019-01-02 13:14] Hansonaplane opened #21502 "Insanity of the noise?"
Shouldn't this be "intensity"?
Rendering data for noise sensors as a heat map not only shows the insanity of the noise where the sensor is but can also provide insights into the dissipation over a distance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32b5afb5-790b-e629-7086-868401dd7ed2
* Version Independent ID: 987

[2019-01-02 13:18] ekramy-elnaggar opened #21504 "Azure Firewall rules not working as expected"
Hello,
as per this article :  https://docs.microsoft.com/en-us/azure/firewall/rule-processing  , Azure Firewall rule processing logic is as follows :

Network rules are applied first, then application rules. The rules are terminating. So if a match is found in network rules, then application rules are not processed. If there is no network rule match, and if the packet protocol is HTTP/HTTPS, the p

[2019-01-02 13:19] PramodValavala-MSFT commented on #21480
@cloudmelon I tried something similar like this which worked

Could you make sure you have the Service Principal sufficient access?
Based on [this](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor) doc, it requires at least `Contributor` level access.

More of permissions required for Azure Blueprints [here](https://docs.microsoft.com/en-us/azure/governan

[2019-01-02 13:30] Anmolgan81 opened #21505 "How to manually encrypt all the databases using BYOL?"
Are there any commands by which we can manually enable encryption on the database using Key vault BYOL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7600c6cf-0b4d-1ffa-c1bb-ebf23adafc1f
* Version Independent ID: 1ae4f15b-b978-882e-c5f4-d23522a53bb4
* Content: [TDE - Bring Your Own Key (BYOK) - Azure SQL Database](htt

[2019-01-02 13:36] diberry commented on #21058
@sodafatty Sorry for the delay. I will look at this today.

[2019-01-02 13:38] Jasper-M commented on #14640
`HiveContext` is a subclass of `SqlContext` so that shouldn't be the issue.
But the method appears to be called `sqlDBQuery` (lowercase `s`).

[2019-01-02 14:23] fdashti opened #21506 "Token from MSAL doesnt work on microsoftaccount provider"
I have posted details of my investigations here

https://stackoverflow.com/questions/53999167/azure-easyauth-getting-unauthorized-error-when-try-to-login-with-a-microsoft-ac

However I believe this is a bug, so in a nutshell, I haven't been able to find a token which is valid on

.auth/login/microsoftaccount

The link on it's own works, but when I try to post an access token, it returns unauthoriz

[2019-01-02 14:38] jakaruna-MSFT commented on #21313
@abhijitkakade914 I used powershell and cli and tried to encrypt a windows VM's OS and data disks.
I tried with sequence numbers also.
But only the OS disk is encrypted all the time.
I will try once with rest apis and let you know.

[2019-01-02 14:43] abhijitkakade914 commented on #21313
yes, same happened to me as well. So i just want to know how can we encrypt data disk? . I am sure it's working after initializing this data disk manually.

[2019-01-02 14:49] sergaz-msft commented on #21502
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-02 14:53] Jaffacakes82 commented on #17084
@vhorne do you happen to have an update and is this broken on the WAF V1 tier too?

This is pretty critical stuff! Is there another GitHub issue tracking the fix?

Agree with @michaeljfazio - [can't we have the standard header for this as per this feedback request](https://feedback.azure.com/forums/217313-networking/suggestions/33657763-add-the-x-forwarded-host-header-to-application-gat)?

[2019-01-02 14:56] eross-msft commented on #20176
@sairao77
I never heard back from you about this issue. Can you clarify what offline functionality you mean? Are you talking about getting the codes when you're not on the network? If so, what are you specifically wanting to learn more about?

[2019-01-02 14:58] sergaz-msft commented on #21376
Thanks @smithGit for clarifying it. I believe this was the repo where you cloned your sample from?:
https://github.com/Azure-Samples/iot-hub-c-huzzah-getstartedkit

And this is the piece of code with the round(Temp): https://github.com/Azure-Samples/iot-hub-c-huzzah-getstartedkit/blob/master/remote_monitoring/remote_monitoring.c

The code is all open sourced and you can easily customize it, like r

[2019-01-02 15:05] kchewett commented on #20662
Any updates here on an ETA?

[2019-01-02 15:08] cloudmelon commented on #21480
Hi @PramodValavala-MSFT I've given contributor access to logic app, but still got 403
![image](https://user-images.githubusercontent.com/4621560/50597669-1b794780-0ea0-11e9-9f14-1a94a0acee20.png)

However, I've done the same things by using logic app call Azure functions ( activated MSI ) and use its MSI token then add to the blueprints creation api call ( headers : Bearer tokenxxxxx ), got workin

[2019-01-02 15:12] aamakerlsa commented on #21394
@jakaruna-MSFT - thanks.  That makes perfect sense.  No, I can't think of a use case where the user info would need to be retained -- it would actually make migration harder probably.  Its far more convenient to have a process where (upon installation of the VHD) you're presented with all the dialogs to populate with  user account info.  Is there some formal documentation on generalizing a VM that

[2019-01-02 15:14] cloudmelon opened #21507 "Need clarification for roleDefinitionId and policyDefinitionId"
I am testing creating a blueprints by using Rest api, I've got some hardcode id in the following doc :
https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-rest-api

For example :
 "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71"

 "roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/b24988

[2019-01-02 15:20] SeanGranv commented on #12432
I'm also struggling with this How-to guide, having followed all of the steps carefully I am also experiencing the "your computer can't connect to the remote computer because the remote desktop gateway server is temporarily unavailable” error.

I have also tried to implement the workaround suggested in JTC-Jeremy's blog but am unable to authenticate through the Windows Security dialog box on applic

[2019-01-02 15:33] ttilton commented on #21040
@MarileeTurscak-MSFT I do not believe this issue to be resolved. Please re-open this thread. This has worked for 6+ years and needs to be resolved so that we can easily convert once-synced accounts to cloud only. This is a very important feature for our organization and others judging by this thread.

[2019-01-02 15:42] mestew commented on #21138
@marioanton  I am looking into this for you. I will let you know what I find.

[2019-01-02 15:42] marktab commented on #18898
@garyericson  looks like the following public link is OK:  https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/move-hive-tables

However, I do not know why the markdown file (recently update 26 days ago) does not match -- please advise

[2019-01-02 15:46] ravikiran-srini opened #21509 "Azure SSIS IR is not required for Stored procedure activity"
from my understanding, stored procedure can be executed by default integration runtime, and not azure SSIS IR. So, this example, is not making sense to start an azure ssis ir, and then stored procedure execution and then stop ssis ir. Rather, the doc should be updated to use execute ssis package activity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-02 15:51] stevebus commented on #21487
Hi,
I don't believe the certificate usage details are affected by the presence or absence of a TPM.  At least I can't think of anything it would affect.

[2019-01-02 15:54] wonderplayer opened #21510 "Incorrect instruction Reply URL"
I think in Option 2 section 1 at the end there should be Redirect URI instead of Reply URL as App registrations (Preview) in Authentication doesn't contain Reply URL as heading (only help information).
P.S. Not really an issue, just will be more clear in my opinion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff6

[2019-01-02 15:57] stevebus commented on #21208
Hi @bearrito ,

IoT Edge does not yet support x.509 certificate authentication of modules or leaf devices (and thus, it's not possible to implement the identity translation pattern using certs).  So we don't really have an answer to your question yet.  Both x.509 cert authentication of modules/leaf devices, as well as more details on the identity translation pattern, are being worked on, but are n

[2019-01-02 16:08] cephalin commented on #21457
@cgillum @mattchenderson Can you guys take a look at this?

[2019-01-02 16:12] dtjensen commented on #21487
But what if the manufacturer doesn’t provision a device certificate because they’re using the TPM key as the device’s identity?  Does the edge runtime create its own certain for this?  Where would the device’s cert come from in that case?

[2019-01-02 16:43] stevebus commented on #21487
Hey @dtjensen

Good question...   I assume when you say "they're using the TPM key as the devices identity" you mean they provisioned the device using the Device Provisioning Service and used a registration_id generated from the TPM chip?

IoT Edge still requires a certificate to operate (even for some internal uses).  One of those uses is to derive/sign in the TLS certificate that IoT Edge will p

[2019-01-02 16:43] JulesRosette commented on #11961
Hi,
In the part .NET back-end project point 3
Concerning this code line
// Get the settings for the server project.
HttpConfiguration config = this.Configuration;
"this.Configuration",doesn't correct and I think than "Configuration" should be replace it it right?
thanks for the reply
regards

[2019-01-02 16:44] kobulloc-MSFT commented on #21296
@rccnw We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-02 16:44] #21296 closed

[2019-01-02 16:55] bshurts opened #21513 "No documentation for delete"
In the overview at the top it says "Delete a resources" but I don't see any mention of delete on the page other than that. Is deleting a SIG image currently supported? If so is there any documentation on how to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff97ec8c-cd29-e195-622b-ebac5df8a229
* Version Independ

[2019-01-02 16:58] cephalin commented on #21344
@KeiroKamioka0000 It's documented here: https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to

[2019-01-02 16:58] cephalin commented on #21344
#please-close

[2019-01-02 17:04] m4ss1m0g commented on #11981
January, 2 2019 - No Update on CreateServiceInstanceListener the example code call

return this.CreateServiceRemotingInstanceListeners();

No longer supported.

[2019-01-02 17:05] aljo-microsoft commented on #9698
@smflorentino

The document you referenced is for standalone Service Fabric clusters that are not managed by ARM:

https://docs.microsoft.com/azure/service-fabric/service-fabric-windows-cluster-x509-security

The referenced document is for Azure certificate management:

https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-security-update-certs-azure

In Azure you should NOT use a

[2019-01-02 17:11] remware commented on #21214
@formulahendry I followed these steps to configure the device
1) Azure CLI 2.0 installed with PowerShell and then: az login
2) iot configure-device
3) wait on device (raspberry 3) for message Sending tags: {"status":"Completed"}

Now referring the picture you attached I see the symbol showing a microprocessor where you highlighted normal device. Where should I define the device type ?

[2019-01-02 17:11] SeaDude commented on #21449
Hi @António Sérgio Azevedo. Thank you for the reply. The zoom out worked to display the image, but yes, I need help displaying the ‘path’. I cannot seem to get it to show. I have upgraded to an S1 account specifically for this feature.
Thank you.

[2019-01-02 17:19] SubhashVasarapu-MSFT commented on #21311
@xarly  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-02 17:19] #21311 closed

[2019-01-02 17:22] diberry commented on #21371
@SQLSteveT Were you able to download [Postman](https://www.getpostman.com/) and get it installed? It is not a Microsoft product. It is an industry-standard tool to make http requests. Once it was installed, were you able to get to the point shown in the image?

[2019-01-02 17:25] aljo-microsoft commented on #14348
@r3m4k3
What errors are you getting using: https://docs.microsoft.com/rest/api/servicefabric/sfrp-model-servercertificatecommonnames

I provision linux cluster's every day and don't experience any issues using: https://docs.microsoft.com/rest/api/servicefabric/sfrp-model-certificatedescription

https://github.com/aljo-microsoft/demo/blob/master/deploy/servicefabric_bestpractices.py

Service Fabric

[2019-01-02 17:38] vhorne commented on #21153
@jtuliani
Yes, that pricing page shouldn't link to the overview page, it should link here: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#what-are-application-gateway-sizes

My team doesn't own that pricing page, so I've submitted a request to the team to make that link change.

[2019-01-02 17:43] kenleach opened #21514 "Example links broken"
The last example link is broken and none of them work if you are not logged into github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffa755bb-5021-0ff4-6f8b-4fec4c7077e9
* Version Independent ID: f075996d-877c-9892-8586-494523fa2fb4
* Content: [Azure managed application sample projects](https://docs.microsoft.com/en

[2019-01-02 17:44] SubhashVasarapu-MSFT commented on #21504
@ekramy-elnaggar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-02 17:44] YutongTie-MSFT commented on #21427
@tjoudeh We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-02 17:44] #21427 closed

[2019-01-02 17:44] YutongTie-MSFT commented on #21429
@jminowa3 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-02 17:44] #21429 closed

[2019-01-02 17:50] bearrito commented on #21208
@stevebus  OK, I will stay tuned. Thank you.

[2019-01-02 17:50] #21208 closed

[2019-01-02 17:51] MarileeTurscak-MSFT commented on #21483
Thanks @grayjeremy and @femsulu !

Yes, the fix is already there in the private repository. The changes generally go live in 24 hours.

[2019-01-02 17:51] #21483 closed

[2019-01-02 17:56] JTC-Jeremy commented on #12432
Contact me at jeremy@jtcconsulting.ca<mailto:jeremy@jtcconsulting.ca> and we can sync up

From: SeanGranv <notifications@github.com>
Sent: January 2, 2019 8:21 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeremy Preston <jeremy@jtcconsulting.ca>; State change <state_change@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Step missing (#12432)

CAUTION: This email

[2019-01-02 18:00] paymonparsadmehr commented on #21098
Hi Mathew,

G was used as a "global" identifier. This is something that you will not be able to override or change but our team does have keyboard shortcuts as an item to update this semester. We have plans to update all shortcuts and documentation regarding shortcuts within the portal.

[2019-01-02 18:02] don4of4 commented on #19861
The pagination documentation does not exist, but my understanding is that a feature has been developed here.  Could one of the developers at least copy/paste some details here so we can explore/test?

[2019-01-02 18:04] Mike-Ubezzi-MSFT commented on #21500
@lesterw1 Thank you for your interest in Azure cloud services. There are two cmd interfaces available:[Azure PowerShell](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-powershell-samples) and [Azure CLI](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-cli-samples). These provide database level cmdlets and cmds to work with specific databases. The link you referen

[2019-01-02 18:07] Mike-Ubezzi-MSFT commented on #21500
Just making a note that the following document: https://docs.microsoft.com/en-us/sql/powershell/sql-server-powershell is not part of the GitHub repository and a document issue cannot be filed directly against it. So, it is being reference as needing an update.

[2019-01-02 18:11] philmea commented on #21061
@TheGrungeByte could your team please investigate this issue? Thanks!

[2019-01-02 18:16] smithGit commented on #21376
Thanks again and sorry not to post to the original URL (by the time I felt there was a problem I must have changed to the inappropriate URL).

From: António Sérgio Azevedo [mailto:notifications@github.com]
Sent: Wednesday, January 2, 2019 9:59 AM
To: MicrosoftDocs/azure-docs
Cc: Sam Smith; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Temperature Decimal Places in Exported Data (#21376)

Thanks

[2019-01-02 18:19] MicahMcKittrick-MSFT commented on #21513
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-02 18:31] damienestewart opened #21516 "Generated key does not work"
I generated a key in a keyfile, but received errors when trying to use this keyfile to start the emulator via:
.\CosmosDB.Emulator.exe /AllowNetworkAccess /KeyFile=keyfile.

The emulator starts up fine, but it fails to authenticate requests via the Explore UI or the python azure-cosmos sdk. The same happens if the generated key is used: .\CosmosDB.Emulator.exe /AllowNetworkAccess /KeyFile=key

In

[2019-01-02 18:33] yornstei opened #21517 "Great Tutorial/A Few Comments"
First, great tutorial, thanks.

Second, I agree with previous comments that it would be nice to have the tutorial from a GUI prospective as well.

Third, on step two, even though I set the authorization level of the functions to anonymous the function url still required a 'code' query parameter, and without it the website wasn't uploading the doc; devtools showed the return from the function as 40

[2019-01-02 18:46] TheGrungeByte commented on #21061
+Rahul

Thanks Phil.

Hi Rahul – Can you please take a look when you get back tomorrow?

Cheers,
Deepak

From: Phil Meadows <notifications@github.com>
Sent: Wednesday, January 2, 2019 10:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Deepak Palled <deepak.palled@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Time Series Insights

[2019-01-02 18:59] AjayKumar-MSFT commented on #21338
@KeiroKamioka0000, You could try the following approaches and check:

- Connect via SSH to the app container virtual machine and then try to modify the file.
Note: You can also connect to the app container directly from your local development machine using SSH, SFTP, or Visual Studio Code (for live debugging Node.js apps).

- If it’s a container you could create a container image and use that inst

[2019-01-02 19:03] richrundmsft commented on #21354
Happy New Year!

@jimdial @bwren and @MeirMen can you help to get this feedback addressed?

[2019-01-02 19:05] msalvadores commented on #21407
@jakaruna-MSFT thanks for letting me know.

Is this a bug or an unsupported feature? I guess you are probably in the process of finding out. If there were any workarounds this issue please let me know. Thanks again.

[2019-01-02 19:08] BryanTrach-MSFT commented on #21492
@langemol Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-02 19:09] MicahMcKittrick-MSFT commented on #20808
@girishgouda @maganvill thanks for the extra information. Apologies for the delay in response. I was out of office.

@dlepow I also get the same error. Can you take a look at the doc and see what we can do to make it work?

[2019-01-02 19:12] MicahMcKittrick-MSFT commented on #21033
@nagarjuna1207 we are still working on this request. Many people have been out of office for the holidays so responses have been slow. I will update you as soon as I have more information.

[2019-01-02 19:12] erickool opened #21519 "Use Get-AzureADDevice"
The docs for the MSOnline module say it is being deprecated in favor of the AzureAD module. It would be better to recommend using get-azureaddevice instead of get-msoldevice. E.g.
&gt; Get-AzureADDevice | sort -property ApproximateLastLogonTimeStamp | Format-Table -Property DisplayName,ApproximateLastLogonTimeStamp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-01-02 19:13] CarlRabeler commented on #20662
Waiting for engineering PMs to return from holidays. This is part of a bigger update.
Carl

From: Kelsey Hewett <notifications@github.com>
Sent: Wednesday, January 2, 2019 7:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing vCore SQL DB sizes in docum

[2019-01-02 19:13] djpirra commented on #21490
Hi Ashok,

You are correct. I have made confusion.

Ticket can be closed and documentation is indeed accurate. Sorry for the
mistake.

Thank you

Em qua, 2 de jan de 2019 às 12:23, AshokPeddakotla-MSFT <
notifications@github.com> escreveu:

--
Melhores Cumprimentos,
Luis Simões

[2019-01-02 19:14] MicahMcKittrick-MSFT commented on #20996
@femsulu Do you have any contacts who could assist with this further?

[2019-01-02 19:16] CarlRabeler commented on #21500
Please assign to @stevestein

[2019-01-02 19:23] jeffreydalby opened #21520 "Google+ APIs Deprecated- How to migrate to Google sign-in?"
The current instructions (and interface in the Azure Portal) only allow for Google+ authentication.  Google is shutting down these APIs early, and says to use Google Sign-in instead.  Given this will break even App service that uses the Google+ api's to log in, and the fact that we have less than 30 days before the service starts becoming randomly available...what is the procedure to migrate?

---

[2019-01-02 19:31] BryanTrach-MSFT commented on #21506
@fdashti Thank you for bringing this to our attention. We would like to work closer with you on this matter. Can you please send us an email at azcommunity@microsoft.com with the URL of this thread and your subscription ID?

[2019-01-02 19:31] #21506 closed

[2019-01-02 19:31] laurenhughes commented on #20857
@jholovacs, Thanks for your feedback! I've updated the [Create tasks](https://docs.microsoft.com/azure/batch/tutorial-parallel-dotnet#create-tasks) section of the tutorial to better explain the output container and how it used.

I'm going to go ahead and close this issue, but please feel free to reach out if you have any other concerns or requests. Thanks!

#please-close

[2019-01-02 19:32] GeisaFaustino opened #21521 "Problems using the default prediction endpoint"
I created and trained a project using only the portal and I´d like to use the SDK only for prediction purpose but I had some problems with the method predict_image.  According to the code, the parameter iteration_id is not mandatory (it´s default value is None). However, if we don´t provide the iteration id the method predict_image return the error: HttpOperationError: Operation returned an invali

[2019-01-02 19:33] cbrooksmsft commented on #21469
@Adam-Smith-MSFT , it sounds like this is really an issue with the service endpoints doc and explaining how they work with or without firewall.

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview

I don't think it makes sense to try to explain the firewall doc how another feature works when NOT using the firewall.

Can you re-assign?

[2019-01-02 19:37] Adam-Smith-MSFT commented on #21468
@johnwildes I ran into the same issue, have you by any chance tried using Az CLI locally or via Portal ?
It looks like even with the preview module, it's not working. I'll assign it to the author for help.

[2019-01-02 19:37] craigshoemaker commented on #21317
Thanks, @eschwartz! I'll add this update to my current backlog.

[2019-01-02 19:41] CarlRabeler commented on #21327
this is awaiting work by @anosov1960

[2019-01-02 19:44] tamram commented on #21341
@trajesh55 - Thanks for your feedback. Services and all hardware are managed for you in Azure, including with Azure Storage. Hardware failures are managed in the data center, and Azure services are designed to mitigate them where possible.

For example, Azure Storage offers replication options such as zone-redundant and geo-redundant storage. These options help to make sure that your data is avail

[2019-01-02 19:49] BryanTrach-MSFT commented on #21473
@nafisIslam Thank you for your question. Please note that we try to keep this channel scoped to feedback about the docs. Since your question is troubleshooting related, we invite you to share your question on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-search) where we have engineers and product group members reviewing posts. Thank you for your understanding.

[2019-01-02 19:49] #21473 closed

[2019-01-02 19:50] #20857 closed

[2019-01-02 19:50] apraovjr opened #21523 "No code samples for web app?"
I dont see any code samples for web app scenarios here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62eff27d-aba2-67ba-61c0-88e40c0760d8
* Version Independent ID: 0660986b-246c-5493-d1cb-3b3bf054266c
* Content: [Web apps in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/develop/web-a

[2019-01-02 20:07] CarlRabeler commented on #21312
Fixing now

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Thursday, December 27, 2018 2:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Table columns are screwed up (#21312)

Assigned #21312<https://nam06.safelinks.protection.outlook.com/?url=h

[2019-01-02 20:08] MicahMcKittrick-MSFT commented on #21513
@bshurts you can use commands similar to the ones in the "List Information" section. But instead of "List" you will use "Delete"

For example, az sig delete --resource-group myGalleryRG --gallery-name myGallery

That being said, you are correct we are missing those steps in this doc.

@axayjo @cynthn can you take a look and add some delete steps?

[2019-01-02 20:16] SeaDude commented on #21449
Also can you explain why the map tile is missing West of Victoria/Portland/Salem/San Francisco. I also saw this on my end.
Thank you

[2019-01-02 20:16] CarlRabeler commented on #21236
@weitzhandler thanks for bringing this to my attention - updating the docs now

[2019-01-02 20:16] andrewqit opened #21525 "Pagination"
The pagination documentation is a good start but could use more examples. I've spent hours trying to figure out how to use pagination when trying to query for a value in the Response Header. My SOAP request returns multiple response headers, so I have to pick the right one "Link" and then search to see if "Next" exists in the value of that header. If so, I need to increase the value of a request p

[2019-01-02 20:30] martincoetzer commented on #21493
Thank you for this. I have updated the article. It will now show those requirements. #please-close

[2019-01-02 20:32] starforce commented on #20918
Hello @aljo-microsoft

So, I was able to find where I can create a CERT.  My question is, since I  already have my CA Cert in my VAULT. Cannot  add the existing service fabric URL to CA Certificate that is in my vault or do I need to create a total new one and add all my CN and SANS name in one new Cert.  See example.

![image](https://user-images.githubusercontent.com/4247353/50611126-47e29300-0e

[2019-01-02 20:39] femsulu commented on #21517
@yornstei Thanks for bringing this to our attention and the Kudos. Your feedback has been shared with the content owner for further review.

[2019-01-02 20:40] sbdoroff opened #21527 "Can now be done in Azure Portal"
When working through this documentation it was found that OpenVPN can be selected as one of the Point-to-Site options in the Azure Portal configuration.  Can these steps be added to this doc?

Best,

Steve Doroff
Azure Networking Support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf66871e-f045-8ecb-6aff-dd36e20f160

[2019-01-02 20:42] iainfoulds commented on #21464
Resolved offline.

In short, a Dockerfile is used to build a container image. Kubernetes itself doesn't build images. Docker Compose is used to validate locally that the application instances work together so that you don't push images to a registry that don't work and cause any troubleshooting issues when running those container images in Kubernetes. When the application is deployed to Kubernetes

[2019-01-02 20:44] Karishma-Tiwari-MSFT commented on #21464
Thanks for the update @iainfoulds. :) I was looking into it right now.
@diberry I will now close this issue as it is resolved offline.
If you have additional questions, tag me here and we can reopen and continue. :)

[2019-01-02 20:44] #21464 closed

[2019-01-02 20:45] VanMSFT commented on #18454
Hi @chaholl, are you saying that you can't apply an existing storage available, or one that you are creating as part of this process?

[2019-01-02 20:46] Mike-Ubezzi-MSFT commented on #21516
@damienestewart Thank you for your interest in Azure Cosmos DB. Can you detail the command you are using to start the Emulator? If you take a look at the [Authenticating requests](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#authenticating-requests) section, there is a note that indicates if you pass the /key argument when starting the service, you are going to want to use the g

[2019-01-02 20:47] femsulu commented on #21501
@pushsos thanks for the comment. Can you share the link to the doc you are referencing? this will help us troubleshoot your issue faster.

[2019-01-02 20:47] tfitzmac commented on #21514
@kenleach - thanks for letting us know about this broken link. I have submitted a fix which should get published this afternoon.

The samples are in a public repo so they should be available to anyone, even if you are not logged into to GitHub. I double-checked viewing the samples from a browser that was not logged in, and it worked as expected. Are you experiencing something different?

[2019-01-02 20:52] MarileeTurscak-MSFT commented on #21466
Please let me know if the above reply helped! We will proceed to close this thread. If you have further questions please tag me or @MarkusVi in the comments and we will gladly continue the discussion.

[2019-01-02 20:52] #21466 closed

[2019-01-02 20:53] #21514 closed

[2019-01-02 20:54] VanMSFT commented on #20774
@CarlRabeler Fixed grammar for that sentence in https://github.com/MicrosoftDocs/azure-docs-pr/pull/61959

[2019-01-02 21:02] femsulu commented on #21507
@cloudmelon Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-02 21:04] YutongTie-MSFT commented on #21343
@wilsonchua20 Are you using free trails account? If yes, you need to change the region. And as far as I know, the content group has created a work-item for it.

[2019-01-02 21:06] hjlarrea opened #21529 "App Service validation not working"
Hi! I have a brief question. I have a WebApp, and a subdomain record associated to it, for example, my WebApp will host mysite.mysubdomain.contoso.com. I do not have control over contoso.com but I do over mysubdomain.contoso.com. And I have create a CNAME on my subdomain pointing to the azurewebsites address my webapp has been given by default. According to the documentation I should be able to do

[2019-01-02 21:07] femsulu commented on #21495
@jvdenning Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-02 21:09] siudeks commented on #21465
Thanks for your help, I checked twice my problem and it does not work. I', suprised it works in your case, because with simple C# project generated by Visual Studio it does not work at all. So it is not an exception, is't normal behavior.

I did exactly describe steps to save your time, so please retest it as described:

1) create from template a cloud function in Visual Studio 2017:
 * chooose Az

[2019-01-02 21:10] femsulu commented on #21496
@ImrePyhvel Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-02 21:12] vhorne commented on #19866
@shaneholder
OK, this info can now be found in the FAQ.

[2019-01-02 21:12] vhorne commented on #19866
#please-close

[2019-01-02 21:20] diberry commented on #21373
#in-progress

[2019-01-02 21:21] femsulu commented on #21499
@BharathiAN Thanks for the comment. We are actively investigating and will get back to you soon.

[2019-01-02 21:32] diberry commented on #21331
@bankotsu

Yes and no. This depends on the usage of the intent and the construction of the utterances. A phrase list isn't going to overcompensate for any confusion with another intent, including the None intent. You should add a phrase list of vocabulary important to your app and see where utterances are predicted. The None intent example utterances shouldn't have any of the phrase list words bec

[2019-01-02 21:40] BryanTrach-MSFT commented on #21520
@jeffreydalby !authirThanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-02 21:44] kgremban commented on #21180
@prasannapad The changes to the quickstarts were published this morning, with updated screenshots and instructions that reflect the new SimulatedTemperatureSensor module. Please take a look and close this issue if you think it's resolved, or let me know if you think more needs to be done.

[2019-01-02 21:59] wocar opened #21530 "Permission grayed out"
In step:
Required permissions &gt; Add API access &gt; Select an API &gt; Azure SQL Database

It doesn't show in my list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive connects to S

[2019-01-02 21:59] msangapu commented on #9853
Hi all, the article and script was updated in December. Please run Docker locally.

#please-close

[2019-01-02 22:00] msangapu commented on #18505
#please-close

[2019-01-02 22:00] msangapu commented on #18868
#please-close

[2019-01-02 22:02] msangapu commented on #19598
Thanks @docjay. I will take a look.

[2019-01-02 22:02] colindooley11 opened #21531 "Multiple instance support"
Perhaps it is clear in the docs, however can you spell out (if my thinking is correct, I was hoping I'd got it wrong) that the DNS service can only provide a 1 to 1 mapping with 1 instance of an application.

That is to say, I wouldn't be able to use this approach with more than 1 instance of the same application deployed across multiple nodes.

Instead I'd need:

1) a load balancer and or/ revers

[2019-01-02 22:05] roygara commented on #21083
@Agazoth Thanks for bringing this to our attention, we appreciate it! I will look into this now.

[2019-01-02 22:12] mcasperson opened #21532 "Is this documentation still valid?"
I have followed the documentation at here (https://docs.microsoft.com/en-us/azure/aks/autoscaler) to configure the Cluster Autoscaler on an AKS cluster, but the autoscaler pod prints out the following error:

[code]

The GitHub issue at https://github.com/kubernetes/autoscaler/issues/913 indicates that the cluster autoscaler is attempting to modify a scale set, where the AKS cluster created nodes

[2019-01-02 22:13] roygara commented on #21081
@Agazoth Thanks for bringing this to our attention, we appreciate it! I will look into this now.

[2019-01-02 22:14] jason-j-MSFT commented on #21509
@ravikiran-srini
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-02 22:15] diberry commented on #21328
@bankotsu Labeling entities doesn't impact intent prediction. Phrase lists boost the vocabulary of the app. Generally, I've seen interchangeable phrase lists used with the purpose of helping boost the signal of machine-learned entities. I've seen non-interchangeable phrase lists used as general app domain vocabulary.

[2019-01-02 22:15] jason-j-MSFT commented on #21525
@andrewqit
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-02 22:19] ran-ten21 opened #21533 "Pricing not documented"
Can you please give more information/screenshot of what the V2 stack pricing entails for managed disks?
Such as an example of the charge for: P40 Disks -Premium SSD Managed Disks & LRS Snapshots - Premium Page Blob and how it will show up on their bill.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cd4ce6-5297-91f5-

[2019-01-02 22:22] diberry commented on #21058
@sodafatty Thank you for providing your JSON for the batch test. Two issues caught my eye. The first is that the text property expects a value of a single string. One of your test entries has two strings in an array for this property. The second issue is that the entity property expects an array. The following JSON snippet shows a correct batch test JSON:

[code]

If you found your JSON from somew

[2019-01-02 22:34] diberry commented on #21016
#please-close

[2019-01-02 22:36] vhorne commented on #21230
@nerddtvg
Hi, I can't repro the issue. I ran the following from Cloudshell and a Windows PowerShell with no issues:

# Stop an exisitng firewall

$azfw = Get-AzureRmFirewall -Name "AzFW01" -ResourceGroupName "FW-Hybrid-Test"
$azfw.Deallocate()
Set-AzureRmFirewall -AzureFirewall $azfw

[2019-01-02 22:37] MicahMcKittrick-MSFT commented on #21531
@aljo-microsoft @msfussell could either of you confirm on this one?

[2019-01-02 22:42] sajayantony commented on #20894
There is definitely an opportunity for direct integration and guidance here. Azure Dev ops isn't tied to ACR since you can produce images and push it to docker Hub or other registries. Similarly we have scenarios where Jenkins agents or other workers running in containers can schedule builds in ACR directly. So both scenarios are valid depending on what the intent is.
I think having a prescriptive

[2019-01-02 22:44] Mike-Ubezzi-MSFT commented on #21530
@wocar Thank you for your interest in Azure cloud services. Do you have a deployed Azure SQL Database that resides in the same subscription you completed the app registration for?  I am unable to replicate your specific issue.

[2019-01-02 22:54] femsulu commented on #21016
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-02 22:54] #21016 closed

[2019-01-02 22:54] #11026 closed

[2019-01-02 22:55] MarileeTurscak-MSFT commented on #21510
@wonderplayer
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-02 22:58] alexkarcher-msft commented on #6564
It looks like this tutorial is set up to have two separate Function Apps, one for the functions and one for the proxies. In that configuration there is no problem with the proxies causing a loop.

I can change around the text and image to make the scenario work for people using one site to learn everything, but this tutorial is designed to demonstrate proxies connecting to an external API, and wit

[2019-01-02 23:00] DiegoRamirez-MSFT commented on #21527
Hello @sbdoroff

thanks for your feedback, I have assigned this to the content author to evaluate your request

Best

[2019-01-02 23:01] tamram commented on #21468
@seguler - FYI

[2019-01-02 23:07] mtmazurik opened #21537 "Fix BASH shell for untagged images (orphans)"
The code as it sits doesn't do what it should (at least it didn't for me), here is a fix for the line that will make it work for the BASH example above:

  az acr repository show-manifests --name $REGISTRY --repository $REPOSITORY --query "[?!(tags[?'*'])].digest" -o table \
    | cut -f 1 -d ' ' | xargs -I% az acr repository delete --name $REGISTRY --image $REPOSITORY@% --yes

the  cut -f 1 -d '

[2019-01-02 23:08] femsulu commented on #18868
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-02 23:08] #18868 closed

[2019-01-02 23:08] JeffreyCA opened #21538 "EntitiesBatchResult, EntityRecord could not be found"
When trying to run Program.cs I get this:

The type or namespace name 'EntitiesBatchResult' could not be found (are you missing a using directive or an assembly reference?)

The type or namespace name 'EntityRecord' could not be found (are you missing a using directive or an assembly reference?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-02 23:10] diberry commented on #21201
@GKarmakar After looking at the code that uses the references listed in this issue, I'm not sure I understand the issue. The doc has 2 versions of the call to the REST API, one for 2.x and one for 3.x. The 2.x code needs to stay 2.x and not convert to 3.x. Currently this documentation is supporting both 2.x and 3.x.

Are you suggesting the 2.x code is incorrect to run on 2.x or are you suggesting

[2019-01-02 23:13] SnehaGunda commented on #21431
@jfoshee Thanks for pointing out the issue, I submitted a fix to update the line number for the code sample. The changes should be live tomorrow.

[2019-01-02 23:14] mike-urnun-msft commented on #19674
Hi @bryanrcarlson It appears the issue you reported on MSDN forums has been resolved - great!

On doc side, we have validated the details and proceeded to assign this issue to the author to review further and take the right course of action.

[2019-01-02 23:14] SnehaGunda commented on #21431
#please-close

[2019-01-02 23:15] msangapu commented on #19598
@kscott01 @docjay While you can create the app using the --runtime parameter, this does not set the Application Setting. You will still need to use the --settings parameter to set the Application Setting. I hope that helps clear up any concerns!

#please-close

[2019-01-02 23:18] MicahMcKittrick-MSFT commented on #21537
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-02 23:30] SaurabhSharma-MSFT commented on #21523
@apraovjr Please refer to [Azure Active Directory code samples v1.0 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v1-code#web-applications) for web application samples

[2019-01-02 23:32] femsulu commented on #20899
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-02 23:32] #20899 closed

[2019-01-02 23:32] wocar commented on #21530
![image](https://user-images.githubusercontent.com/9215073/50617763-63a26500-0eb4-11e9-847a-a1287b39aefc.png)

I have the SQL database in the same subscription as the active directory :(

[2019-01-02 23:34] rezasherafat commented on #21334
@arsing yes, you are correct. the $version is also included. I have posted a PR to update the docs. Thanks.

[2019-01-02 23:36] douglaslMS commented on #20318
@CasperJ Please let us know whether the information we provided in my most recent comment helped to answer your question.

[2019-01-02 23:37] douglaslMS commented on #20486
@bentleysd Just a reminder, please: Since you've opened a doc bug, can I please ask you to summarize in a few words the error or missing info in the referenced page that you want us to correct? Thank you!

[2019-01-02 23:38] douglaslMS commented on #21275
@CarlRabeler Carl, can you please take a look at this suggestion?

[2019-01-02 23:40] tfitzmac commented on #21494
@AinslieCleverdon - thanks for letting us know about the missing section. It looks like it was inadvertently deleted. I have added the content back next to Key Vault in the list of supported services.

[2019-01-02 23:40] tfitzmac commented on #21494
#please-close

[2019-01-02 23:42] tfitzmac commented on #17435
@Anmolgan81 - thanks for the notification about this issue. Key Vault used with encryption has been updated.

[2019-01-02 23:42] tfitzmac commented on #17435
#please-close

[2019-01-02 23:43] tamram commented on #21468
@johnwildes - did you install the preview module, per the instructions? e.g.,

az extension add --name storage-preview

After I install the preview module, the procedure works for me when I try it from CloudShell. How are you using the CLI?

[2019-01-02 23:44] CarlRabeler commented on #21275
Argh – this is not a quickstart – it is a how-to. It looks like Jovan moved it to the quickstart section for parity with the restore from backup. We probably should have a bacpac quick start – but this is not it.
Call to discuss as needed.
Carl

From: Douglas Laudenschlager <notifications@github.com>
Sent: Wednesday, January 2, 2019 3:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.c

[2019-01-02 23:45] iainfoulds commented on #21532
Scale set support is coming in a very near release, so I'm not sure why the reported error message indicates it's looking for a scale set resource at the moment. The doc should still be valid for the current approach to cluster autoscaler without using scale sets. We have a doc update lined up for when scale support and cluster autoscaler support is available.

@MicahMcKittrick-MSFT Please re-assi

[2019-01-02 23:48] DavidEaton opened #21540 "Great Guidance!"
Thank you for the great articles on multi-tenancy!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dcf8c74-76ad-791a-f3ea-b32cea81a2cb
* Version Independent ID: 2c6ad81c-6f0f-e056-17cc-37793c125277
* Content: [Azure SQL Database multitenant app example - Wingtip SaaS](https://docs.microsoft.com/en-us/azure/sql-database

[2019-01-02 23:49] mcasperson commented on #21532
Maybe this issue relates to the specific version of the cluster autoscaler I used? Because my AKS cluster was 1.11.5 I used version 1.3.4 of the cluster autoscaler (based on the table at https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases).

[2019-01-02 23:51] femsulu commented on #20846
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-02 23:51] #20846 closed

[2019-01-02 23:52] rezasherafat commented on #21306
@arsing, sure, I'll add this in future revisions of this doc. In the meantime, if you have working samples to share feel free to send me here or via email (rezas).

[2019-01-02 23:58] jcdickinson opened #21541 "EventHubs Comparison"
The new queues should be added to the comparison matrices here (Event Hubs and Event Grid). I can't find a single location that compares all of the options (but the information is available across multiple pages, e.g. https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-02 23:59] douglaslMS commented on #21275
@dcbrown16 The page on which you're commenting is not under the "Single Database" heading. It's possible of course that someone rearranged the table of contents. Can you clarify what you wanted us to change that links this page with the "single database" phrasing? Thanks.

[2019-01-03 00:06] SnehaGunda commented on #21206
@arturek The number of logical partitions depends on both the throughput and storage requirements of an application. As the data size grows, which inturn can increase the throughout requirements and Cosmos DB moves logical partitions to automatically spread the workload. Let us know if this doesn't help, you can also send an email to askcosmosdb@microsoft.com alias, a wider auidence can address yo

[2019-01-03 00:06] YutongTie-MSFT commented on #21538
@JeffreyCA Hi, thanks for your feedback. We will investigate and update the document as necessary.

[2019-01-03 00:12] mattchenderson commented on #11383
Hi all - sincere apologies about not seeing this sooner. @ConnorMcMahon is going to spend some time investigating.

Just to make sure we have the context captured properly, we have a user-facing web app, which in turn calls an API backend, which in turn calls the MSFT graph. We expect a different AAD registration at each phase:
- Web app registration (with permission to API app)
- API app registra

[2019-01-03 00:13] HimanshuZinzuwadia commented on #18078
I have setup a proxy to backend server over express route using the new VNET integration preview feature.  I get a 502 bad gateway error.  I can't find any way to trace this.  I have set the Proxy-Trace-Enabled header to true in the request.  I only see very small trace in the folder Applications\Proxy.  That only has one line like below
2019-01-02T23:04:12  PID[10876] Information Loading modules

[2019-01-03 00:17] femsulu commented on #21172
@bandersmsft  - fyi
@jbrantly - thanks for the valuable update.

[2019-01-03 00:17] YutongTie-MSFT commented on #21538
@JeffreyCA Hi Jeffery, can you please tell me if you have installed the Microsoft.Azure.CognitiveServices.Language.TextAnalytics nuget package? Thanks.

[2019-01-03 00:19] femsulu commented on #8557
@mrbullwinkle  - FYI

[2019-01-03 00:33] tfitzmac commented on #21215
@boboPD - thanks for the feedback. I tested a scenario but did not see the same results. Metric alerts and activity log alerts do not support move. In my scenario, I had to delete the metric alert, but then I was able to move the Application Insights (with an availability test) and other resources to a new subscription.

Can you provide more details about the resources you were trying to move?

[2019-01-03 00:35] tfitzmac commented on #21036
Thanks for that list. I have updated the article with those types and others I discovered as I looked through the list. It should be published tomorrow.

[2019-01-03 00:36] SQLSteveT commented on #21371
Installing Postman was easy and not the issue.

No, that’s where I’ve stalled.

From: Dina Berry <notifications@github.com>
Sent: Wednesday, January 2, 2019 10:23 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve Thompson [MVP] <configmgrmvp@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Instructions lacking detail (#21371)

@SQLStev

[2019-01-03 00:37] SnehaGunda commented on #20882
@Lroca88 and @LongBeachHXC Thanks for trying out and reporting the issue. Earlier there was the ability to create two types of collections - fixed collections (these don't require partition key), Unlimited collections (these require partition key). During Connect() in November, we have deployed a change where The partition key is made mandatory when creating collections using the Azure Portal and

[2019-01-03 00:43] Mike-Ubezzi-MSFT commented on #21530
@wocar Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If not, can you please send your Azure subscription GUID to AzCommunity at Microsoft.com, and instructions will be sent to you on how to file a incident ticket to have this investigated. Something is not right. If you do have an Azure support plan, please file a support request.

[2019-01-03 00:45] SnehaGunda commented on #21399
@Jinesh12 as Pradeep mentioned, the "Microsoft.WindowsAzure.Storage" is the legacy Azure Storage SDK, the latest table applications use the Azure Storage Common Library(Microsoft.Azure.Storage.Common) and the Azure Cosmos DB Table Library(Microsoft.Azure.CosmosDB.Table),

[2019-01-03 00:48] cacsar opened #21542 "404s in CosmosDB Java Documentation"
On
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-async-java-samples and https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-java-samples
there is a column "API Reference" that seems designed to link to further documentation for specific methods. All of a random sampling of these links resulted in 404s. A sample link is https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.d

[2019-01-03 01:02] alexkarcher-msft commented on #20027
These updates are in and will be published tomorrow. Thanks for the heads up on this scenario!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61997

[2019-01-03 01:02] alexkarcher-msft commented on #20932
These updates are in and will be published tomorrow. Thanks for the heads up on this scenario!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61997

[2019-01-03 01:07] Mike-Ubezzi-MSFT commented on #21540
@DavidEaton Thank you so much for the positive feedback! I will let @stevestein know that he knocked it out of the park with this documentation. Regards, Mike

[2019-01-03 01:08] #21540 closed

[2019-01-03 01:08] jfoshee commented on #21431
fwiw, I'm not sure the line number was the problem.  I don't see a commit attached to the issue, so I can't help verify.

[2019-01-03 01:09] genlin commented on #21340
@cregnier Thanks for helping to improve the document. I will update the article with more detail steps.

[2019-01-03 01:14] wilsonchua20 commented on #21343
we are currently using the 1 year free subscription  in Microsoft azure, region is west us. Will that work?

[2019-01-03 01:30] #21341 closed

[2019-01-03 01:30] #21431 closed

[2019-01-03 01:31] #21493 closed

[2019-01-03 01:31] #21494 closed

[2019-01-03 01:36] JeffreyCA commented on #21538
Yes I did. I ended up changing `EntitiesBatchResult` and `EntityRecord` to `EntitiesBatchResultV2dot1` and `EntityRecordV2dot1` and it worked.

Also, I get a this message `An object reference is required for the non-static field, method, or property 'Program.subscriptionKey' on the line with `request.Headers.Add("Ocp-Apim-Subscription-Key", subscriptionKey);`

[2019-01-03 01:38] MDornian opened #21544 "Extensions & Node"
If you skip the Extensions step while using Node.js there does not seem to be any ill effect
`func extensions install`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](http

[2019-01-03 01:43] johnthcall opened #21545 "There is nothing here pointing out that KeyVault isn't a supported serviceEndpoint in China North 2"
When deploying to China North 2 I get error "VirtualNetworkServiceEndpointsNotSupported Message: Virtual networks in chinanorth2 location do not support ServiceEndpoints for Microsoft.KeyVault service." Is there a timeline for support in China?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d20da7-23ff-7f4b-6689-be40

[2019-01-03 01:46] johnwildes commented on #21468
I'm using AZ CLI in the portal.  I didn't add the preview extension in the cloud portal, I mistook that for a portal / provider extension.  Not a CLI extension.  I assumed that with the static website being GA, that the portal / provider extension was installed.  This is a CLI extension then, and I misunderstood what I was looking at.

[2019-01-03 01:46] docjay commented on #19598
It does set the Application Setting. You do not need to use the runtime parameter to set the Application Setting.

[2019-01-03 01:55] johnwildes commented on #21468
Reading through the instruction set now, I understand what's going on.  Being that I work with the powershell side of the CLI more than the bash / AZ CLI side, my understanding of "extension" in this context gravitated towards enabling "preview" functionality in Azure.  I see that is in error.  It might be helpful that under the Azure CLI heading when you mention enabling the extension, that it's

[2019-01-03 02:31] femsulu commented on #21542
@cacsar Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-03 02:35] femsulu commented on #21541
@jcdickinson Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-03 02:36] femsulu commented on #21533
@ran-ten21 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-03 02:37] john-louden opened #21546 "Clarifiying a Winning Role"
Would be great if some more information on determining a winning role. Eg If I grant Person A Contributor rights at the subscription, but reader rights to a resource group what role would win?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e21d4b9-f574-e01d-8676-fb23d6a4ab67
* Version Independent ID: 85e74a1b-3bb3-8bd

[2019-01-03 02:41] tamram commented on #21468
You make a good point. I'll make it more clear in the doc.

#please-close

[2019-01-03 02:42] femsulu commented on #21529
@hjlarrea Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-03 02:54] dkkapur commented on #21239
Hi Karishma – this should be assigned to @Alex Johnson<mailto:Alexander.Johnson@microsoft.com>. He also hopped on the issue and helped last week.

Thanks!

[cid:image001.png@01D3B177.E9724100]
Service Fabric<http://aka.ms/servicefabricdocs>

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, December 31, 2018 8:39 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
C

[2019-01-03 03:26] gpj1 opened #21547 "Does a function app always needs to be associated with a storage account?"
I am a newbie and it would have been helpful if it was explained why storage account name had to be specified while creating a function app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Use Azure Event Grid

[2019-01-03 03:47] sha1992 commented on #21314
Sure.. I will open new ticket for feature request of Windows 7. Hope that should work.
Thanks for response @YutongTie-MSFT  and @wolfma61

[2019-01-03 03:51] SumanthMarigowda-MSFT commented on #21546
@john-louden Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-03 04:06] KetanChawda-MSFT commented on #21475
@JoNevi Did you get a chance to look into my previous post ?

[2019-01-03 04:14] TravisCragg-MSFT commented on #21476
@tudort-iquest Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-03 04:30] AshokPeddakotla-MSFT commented on #21490
@djpirra You are welcome!

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 04:30] #21490 closed

[2019-01-03 04:40] KetanChawda-MSFT commented on #21544
@MDornian Thank you for your feedback! We will review and update as appropriate.

[2019-01-03 04:40] KetanChawda-MSFT commented on #21547
@gpj1 Thank you for your feedback! We will review and update as appropriate.

[2019-01-03 04:47] dtjensen commented on #21487
Yes - I was thinking about the DPS scenario using the reg ID from the TPM.  This is very helpful. Thanks.

[2019-01-03 05:02] KetanChawda-MSFT commented on #21547
@gpj1 When creating a Function App in App Service Plan, you must create or link to a existing general-purpose Azure Storage account that supports Blob, Queue, and Table storage. Internally, Functions uses Storage for operations such as managing triggers and logging function executions. Some storage accounts do not support queues and tables, such as blob-only storage accounts, Azure Premium Storage

[2019-01-03 05:15] KetanChawda-MSFT commented on #21544
@MDornian This completely depends on your requirement. for example if you want to work with any specific extension let say Twilio, SendGrid etc. than you can install that extension by using the Azure Functions Core Tools from the Terminal or from a command prompt.

`func extensions install`

The command reads the function.json file to see which packages you need, installs them, and rebuilds the ex

[2019-01-03 05:18] femsulu commented on #21545
@johnthcall Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-03 05:18] ahkim opened #21549 "I can't see the primary endpoint"
Unlike the content, I can't find the primary endpoint field in static website configuration page. Where should I find it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage

[2019-01-03 05:20] femsulu commented on #21468
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 05:56] CheNgH826 opened #21550 "The sample code above give me 401"
I copy the python sample code above and change only the subscription key. I can get the token but at the stage of calling API it always give me 401...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-6392-f5cea4ebfb08
* Version Independent ID: 617eeeb5-0ad6-f54c-7d36-edeb2e6d9581
* Content: [Quickstart

[2019-01-03 06:11] PramodValavala-MSFT commented on #21474
@dzeyelid Thanks for catching this!

For this sample, we could allow GET requests in `function.json` and I believe another step can be added to mention that the status URL received in the response should be used to check the status of the orchestrator.

[2019-01-03 06:20] imeya opened #21551 "what would happen if the log data has some minutes delay?"
If I set the period time as 30 minutes, frequency time as 5 minutes, but the log data would has 6 minutes delay, then what would happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab89353c-6acc-9944-40e0-d8ab067e7d41
* Version Independent ID: b8c18210-d14f-4b7c-aee9-545cafd20582
* Content: [Log alerts in Azure Moni

[2019-01-03 06:21] Futtrup87 opened #21552 "Deployment issue - Bad URL"
It seems like the Web-App resolves to the wrong URL when you deploy from the Web-Interface.
When you login to the Web-App (The Connected Factory) it resolves to the wrong URL, i'm guessing this is caused by a lately update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b3a6509-ba1e-0984-781e-2f6e82c52c2e
* Version In

[2019-01-03 06:32] KetanChawda-MSFT commented on #21465
@siudeks I tried exactly the same way you mentioned above post and It worked for me in that way as well. It seems the issue is with your environment specific and this will require some deeper analysis. Can you please file a support request @
[https://aka.ms/azsupt?](https://aka.ms/azsupt?) If you do not have access to a support plan, please reach out @ `azcommunity at microsoft dot com` with a lin

[2019-01-03 06:32] davenewza commented on #21067
Note that 12.12.1 isn't available on chocolatey yet: https://chocolatey.org/packages/kubernetes-helm

[2019-01-03 06:34] starforce commented on #20918
@aljo-microsoft

For any CA, a person must prove that they own the DOMAIN they are requesting a CERT for. I have my certs with  **GoDaddy**  and there are two ways to verify ownership of a Domain . So if I want to add zixtysservices.eastus2.cloudapp.azure.com to any cert , I have two options.

1)_HTML_ page	Upload an HTML page with content we specify to a distinct directory of the website for the

[2019-01-03 06:45] digitalpbk opened #21553 "Widevine KeyDelivery URL Example?"
How would I play the video with Shaka player? What is the license url?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae27a931-2102-465b-d9a0-493e7b827410
* Version Independent ID: 53bc89a3-2b65-2431-aba3-17050116c0b6
* Content: [Use DRM dynamic encryption license delivery service with Azure Media Services](https://doc

[2019-01-03 07:02] SubhashVasarapu-MSFT commented on #21287
@rkellyxm Thanks for the feedback! I have assigned the issue to the content author to investigate.

[2019-01-03 07:09] mybayern1974 opened #21554 "The description of the Contributor role is conflict"
As for the section of Contributor:
- Description: Lets you manage everything **except access to resources**
- Actions: Create and manage resources of all types
So whether Contributor could create resources or not?

[2019-01-03 07:12] mybayern1974 opened #21555 "The description for the Contributor role is confusing"
As for the section of Contributor:
- Description: Lets you manage everything **except access to resources**
- Actions: Create and manage resources of all types
So whether Contributor could create resources or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent

[2019-01-03 07:12] #21554 closed

[2019-01-03 07:20] Futtrup87 commented on #21552
I just tried deploying the solution accelerator from the web-interface again. It seems like the issue is solved. Everything seems to work as it should now.

[2019-01-03 07:20] #21552 closed

[2019-01-03 07:52] lukaskabrt commented on #20284
I believe, the statement about slashes isn't correct. From my experience forward slashes aren't interpreted, but backward slashes are.

`\\` -> `\`

and a more complex example

`"response.headers.X-Test": "\\\""` sets value of the `X-Test` header to the single character `"` … `\\\"` is interpreted to `\"` and `\"` is JSON escaped sequence for `"`

[2019-01-03 08:18] Qq20180503 opened #21556 "How to know the specific probe IP address list of in the Front Door environment?"
From the health probe https://docs.microsoft.com/en-us/azure/frontdoor/front-door-backend-pool#health-probes, we know that the Front Door environments will send a probe and there are about 90 Front Door environments or POPs globally. Can we know what is the specific IP address list in the Front Door environment, so we can whitelist the IP list in the backend web app firewall?

---
#### Document De

[2019-01-03 08:53] SumanthMarigowda-MSFT commented on #21549
@ahkim Where are the endpoints not visible? If you check account "properties" in portal under the "settings" heading in the left navigation bar, the web endpoints should show up independent of whether or not you've configured static websites. The endpoints should be visible in the "static websites" blade only after you enable the feature

[2019-01-03 09:06] femsulu commented on #21551
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-03 09:11] el-niko commented on #19477
@sergaz-msft Hi, i have the same issue. Event rule does not trigger. Just one condition: "Test event occurs" and one action "Send email" to my address. I can see the event on the Measurements tab, but have not received emails. I have tried webhooks and Flow action - doesnt work.

[2019-01-03 09:15] AshokPeddakotla-MSFT commented on #21552
Added relevant tags. Customer issue is already resolved.

[2019-01-03 09:19] femsulu commented on #21392
@yevster, thanks again for the comment. George (doc-author) and I will discuss appopriate next steps and possible updates to the doc. Will now close this thread but don't hesitate to reply if you have any followup questions.

[2019-01-03 09:20] #21392 closed

[2019-01-03 09:23] SeanGranv commented on #12432
Hi JTC-Jeremy, I managed to resolve the "The logon attempt failed", turns out I had HTTP redriect enabled in IIS.

However, now I am presented with an incredibly slow connection that when finally connected to an application throws up "The task you are trying to do can't be completed because Remote Desktop Services is currently busy. Please try again in a few minutes. Other users should still be ab

[2019-01-03 09:49] MilanNXT opened #21557 "Can not deploy on ADFS connected stack"
DeploySQLprovider does not work with ADFS deployed stacks. Step which involve Test-AzurestackAdminCredential is not verifying against ADFS graph endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31804a1d-4c4f-70e6-556c-66c533e9b3e3
* Version Independent ID: 78f9ac38-1463-c263-2add-63d7dcaab0bc
* Content: [Using

[2019-01-03 09:57] jakaruna-MSFT commented on #21313
@abhijitkakade914 Tried again after formatting the disk. It worked.
Internally Bitlocker is used for encryption which requires the disk to be formatted properly for encryption.
I think you can have a empty snapshot and while creating the data disk instead of going for empty disk, we can use this sanpshot.

[2019-01-03 10:01] crgolden opened #21558 "Suggest adding Subject filter"
I may have missed a part of this tutorial, but I had to add a Subject filter to the subscription event. It was firing the event anytime an image was created in the blob - including the thumbnails, so that was an issue. I added the subject filter as `"subjectBeginsWith": "/blobServices/default/containers/images"`. So my final event looks like this and works as expected:

    [
      {
        "dest

[2019-01-03 10:01] Futtrup87 opened #21559 "Download and install the IoT Edge service - Issue"
When I try to install the IoT-Edge Runtime on my windows environment, I get an exception:

Install-SecurityDaemon : Exception calling "AddAccessRule" with "1" argument(s): "Some or all identity references
could not be translated."
At line:2 char:1
+ Install-SecurityDaemon -Manual -ContainerOs Windows
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified:

[2019-01-03 10:02] CHEEKATLAPRADEEP-MSFT commented on #21399
@Jinesh12 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 10:02] #21399 closed

[2019-01-03 10:02] CHEEKATLAPRADEEP-MSFT commented on #21491
@jaredthirsk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 10:02] #21491 closed

[2019-01-03 10:11] wonderplayer opened #21560 "React example"
Hello, thank you for this article. I'd like to request a similar guide using a React framework as ASP.NET Core includes React as one of the templates, then this might help React developers in the future. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID

[2019-01-03 10:21] Hansonaplane opened #21561 "Recommendation to proof-read this article again"
I would recommend proofreading this article again, especially from "Customizing the heat map layer" on. There are sentences like "Using the magnitude value in an expression to assign the weight option will allow the more significant earthquakes to be increase be better represented within the heat map." and "A larger radius will group more points into each cluster and improve the performance of the

[2019-01-03 10:24] mwucbs opened #21562 "Powershell way to do fore re-register"
I Found A solution to this :)
Not a one time bypass, but require user to re-register at next sign-in

# /MWU
# First connect to your tenant (as you use to do it)
# Output from my connect tenant function
#   cat function:Connect-O365-PROD

# Actual Connect-O365-PROD function
Get-PSSession | Remove-PSSession
$PROD365Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https:/

[2019-01-03 10:36] johnstaveley opened #21563 "Arm Template"
Please can you provide resources to configure backups using an arm template? (Or at least a link to the correct resource)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
* Content: [Manage Azure SQL Database long-term bac

[2019-01-03 10:48] PramodValavala-MSFT commented on #21366
@xiaoyang-connyun Yes. Its the first case I believe.

Like you've mentioned, you could proxy the requests with APIM, specifically the [Resource Owner Password Credentials](https://www.keycloak.org/docs/latest/securing_apps/index.html#_resource_owner_password_credentials_flow) flow.
The settings available in the Azure Portal are to setup the Developer Portal functionality.

@miaojiang Could you sha

[2019-01-03 10:56] francofs commented on #20863
@kobulloc-MSFT Thanks for looking into it. The thing is, although you can't reproduce it, there is something wrong with it. I would like to check if there is any additional way for me to diagnose this authentication issue. I have already tried using different browsers, even doing az login -u name -p password directly on the command line.

Also, any other azure-cli commands work properly except for

[2019-01-03 11:15] CHEEKATLAPRADEEP-MSFT commented on #21563
@johnstaveley Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-01-03 11:16] arturek commented on #21206
@SnehaGunda I thought that the number of logical partitions doesn't depend on the throughput. Lets assume I only have documents with the same primary key - it means I have only one logical partition. With the increase of RU more physical partitions will be created, so more copies of this single logical partition will be available to handle the throughput, but there will be still only one logical p

[2019-01-03 11:17] sergeroz commented on #19219
I am using:

- `Microsoft.AspNet.Identity.Core, Version=2.0.0.0`
- `Microsoft.AspNet.Identity.Owin, Version=2.0.0.0`
- `Microsoft.AspNet.Identity.EntityFramework, Version=2.0.0.0`

The class definition for my DbContext looks something like this:
`public class ApplicationDbContext : IdentityDbContext<ApplicationUser>, ICmsDbContext, IApplicationSettingDbContext
{
    // xxx
}`

The worked example i

[2019-01-03 11:31] SadiqhAhmed-MSFT commented on #21555
@mybayern1974, We've assigned this query to the content author to answer your question.

@rolyon, could you please help clarify the question?

[2019-01-03 11:31] PramodValavala-MSFT commented on #21480
@cloudmelon I believe you are trying the same as mentioned in [this](https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-rest-api) quick start doc for Azure Blueprints right? I tried a simple Logic App making the first request and it did work for me

Could you double check the permissions and use `Managed Identity` itself as the Authentication method in your HTTP action i

[2019-01-03 11:40] Anmolgan81 opened #21565 "Any Compliance information around Azure Managed Instance?"
Can anyone tell me if there is any information around FedRAMP compliance if we talk about the Azure SQL Managed Instance? We are unable to find any information on that, if this is something similar to Azure SQL Database then we need to verify that first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23

[2019-01-03 11:47] Vinay26k commented on #16481
Hey there,
I'm facing the same issue while deploying neo4j image as container Instance.
Thanks for all the work around mentioned above. Tried all of them.
**Problem**
- I have a file share, created for the container in same resource group. File share has to be mounted as persistent disk to the container.
- As expected, file share has been mounted , but unable to read the data.
- Access rights issu

[2019-01-03 11:48] JasonBSteele commented on #20979
Hopefully this will also include OpenID Connect?

[2019-01-03 11:55] MrCNeale opened #21566 "Screenshot and steps updates required"
Steps 2 and 3 show old screenshots.  Those screens have changed, e.g. #3 requires a name to be specified
and "diagnostic logs" is now referred to as Diagnostic settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89eef66-45f1-2bf3-f49d-cba309fd1256
* Version Independent ID: 9e55d55c-8434-7fea-43b1-a8ab7f4e3968
* Co

[2019-01-03 12:13] abhijitkakade914 commented on #21313
you mean is it not possible without Formatting disk?  if i have important data on my disk then ?

[2019-01-03 12:19] ChiragMishra-MSFT commented on #21561
@Hansonaplane Thanks for the feedback. We are assigning this to the content author to have a look.

@rbrundritt Please have a look at this and update the doc as appropriate.

[2019-01-03 12:37] ravikiran-srini opened #21567 "Why a load balancer is created when azure ssis ir is joined to a vnet"
Trying to understand why a load balancer, nsg is created when azure ssis ir is joined to a vnet? Was it to balance the load between multiple SSIS IRs? If so, how the balance was done before joining to a vnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a3bca-2e7d-1746-d490-109a244c5970
* Version Independent ID: 2

[2019-01-03 12:37] AjayKumar-MSFT commented on #21554
Duplicate of #21555

[2019-01-03 12:43] biren1234 opened #21568 "i still confused if ADE with App support ASR which different location but not supported by creating VM multiple location and managed by one vault"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-03 12:49] cephalin commented on #21456
@serkanozkul It seems what you're referring to goes beyond the scenario of this tutorial. 1. The code change is designed to access localdb when run locally and SQLDB when run in App Service. 2. The tutorial shows the managed identity configured on the SQLDB, and I don't think AzureServiceTokenProvider can get the managed identity from the local dev environment. 3. This tutorial is not the place to

[2019-01-03 12:55] biren1234 commented on #12338
Hi @tumluiu you can you this powershell script

$SourceVM = Get-AzureRmVM -ResourceGroupName "test-RG" -VMName "test-vm01"
      $DestVM = Get-AzureRmVM -ResourceGroupName "Isquard-VM" -VMName "AZ-ISQ-APP"
      $DestVM.StorageProfile.OsDisk.EncryptionSettings = $SourceVM.StorageProfile.OsDisk.EncryptionSettings 
      Update-AzureRmVM -ResourceGroupName "Isquard-VM" -VM $DestVM

   now you able t

[2019-01-03 13:06] PawelHaracz opened #21569 "Azure KeyVault example"
Provide an example of how to connect secret with Azure Key Vault, please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5df29c5-b630-9fc3-5eef-285b6543aecc
* Version Independent ID: 2c894551-6cee-542c-5acc-e44730ea354b
* Content: [Manage Azure Service Fabric Mesh Application Secrets](https://docs.microsoft.com/en-us/a

[2019-01-03 13:30] seekingtheoptimal opened #21570 "Secure transfer required switch breaks static site hosting with custom domain on HTTP"
[Enter feedback here]

The line below in the documentation copied from the docs (and tooltip in Azure portal) is not true:

"... _Because Azure storage doesn’t support HTTPs for custom domain names, this option is not applied when using a custom domain name._"

When using Custom Domain and setting up a CNAME record, it always returns " The account being accessed does not support http "

This is ve

[2019-01-03 13:35] siudeks commented on #21465
Will do

[2019-01-03 13:35] #21465 closed

[2019-01-03 13:51] shashishailaj commented on #21562
@mwucbs We thank you for taking time to check on this one and contribute on this. This is what makes a great community and helps us gather feedback from our users. We will have it reviewed and forward the same to the content owner . They will include the information in the article as they see suitable.

[2019-01-03 13:59] shashishailaj commented on #21560
@wonderplayer Thank you for your valuable feedback . We would definitely take this into consideration and would internally contact the content development team for reviewing this request.

[2019-01-03 14:00] patpicos opened #21571 "Are wildcards supported in the filter?"
Below is a sample to explain my question. Can a prefixMatch use wildcards?

For example, I plan on having containers named such as:
abc-input
abc-input-extracted
cde-input
cde-input-extracted

I would like to create a policy that will be set once and tackle all *-extracted containers. As a corrolary, I am OK w/ putting extracted- as prefix instead of suffix....assuming the wildcard is an option. T

[2019-01-03 14:06] SubhashVasarapu-MSFT commented on #21556
@Qq20180503 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 14:09] CeciAc opened #21572 "Gracias por el artículo"
@Nessia commented on [Thu Jan 03 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/173)

Una pequeña corrección, al menos en Spark 1.6 ya había DataFrames. Un saludo

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 9fe05fbb-40a8-d8f1-c03e-6f2a1701c6f1
* Version Independent ID: 03d25fb4-4c08-a57

[2019-01-03 14:10] cveld commented on #21390
@BryanTrach-MSFT maybe you can explain the origin of the name? "aZUre MObile"? And maybe you can explain the preference for such a custom header. Wouldn't it be more logical to add bearer handling to Easy Auth as well?

[2019-01-03 14:12] sergaz-msft commented on #11026
@tmcw I noticed you closed the issue, was your issue addressed?
Thanks!

[2019-01-03 14:13] jeubank12 opened #21573 "Which class for Enqueue, Dequeue, etc?"
It is unclear which instance of TelemetryClient is used in the methods in the second half of the article.  This also clashes with advice found in other documentation to create a new TelemetryClient for each async method to prevent Operation mismatch issues on Stop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6252108

[2019-01-03 14:13] cephalin commented on #21520
@mattchenderson @cgillum can you advise?

[2019-01-03 14:15] sergaz-msft commented on #19477
@el-niko can you send us an email to Azure IoT Central Feedback iotcfeedback@microsoft.com with your

- App URL
- Device Template name and version
- Rule name

We can take a look and see what is going on. @viv-liu please add me to the email discussion when received.

Thanks!

[2019-01-03 14:15] cveld opened #21574 "Angular library"
Maybe it is good to develop a Microsoft referenced Angular library with login, refresh, logout, .auth/me token. The library provided by @DanaEpp is helpful but does not provide refresh support: https://github.com/DanaEpp/NgEasyAuthSample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b5

[2019-01-03 14:16] rossvernal opened #21575 "Azure Event Grid - Thumbnails costing hundreds of £££ on Azure"
I set up the Azure Event Grid to create thumbnails and autodeployed the code from GitHub to create a function. I set it all up and it is working wonderfully.

However - after it being up for a month or so I took a look at our azure billing, and it's costing us a fortune! Hundreds of GBP in the 4 weeks we've been using it.

The function is constantly firing, with enormous ingress and egress of data

[2019-01-03 14:16] cephalin commented on #21293
@AjayKumar-MSFT please assign to @SyntaxC4

[2019-01-03 14:19] sergaz-msft commented on #21559
Thanks for the feedback @Futtrup87. Can you confirm which version of Windows 10 are you using? See here the supported platforms: https://docs.microsoft.com/en-us/azure/iot-edge/support

Thanks!

[2019-01-03 14:21] CeciAc commented on #21572
Hi team,
I'm moving this here since the user is making a small suggestion to the documentation
Rough translation:

best regards

[2019-01-03 14:32] Futtrup87 commented on #21559
Windows 10 Pro Version 1809
Docker Version 2.0.0.0-win81 (29211) Engine: 18.09.0 Build: 4271b9e

[2019-01-03 14:38] jpetitte opened #21576 "WebSocket is already in CLOSING or CLOSED state."
Anybody know why I see the following error/how to catch it and handle it appropriately? It seems to have the following characteristics:
 - ~~it occurs after the computer has idled for a while (screen turns off, but it's still running various node servers, various browser tabs open)~~ Edit: occurs without idling as well.
 - transcription stops after this error
 - recognizer.canceled, and recognizer

[2019-01-03 14:45] sergaz-msft commented on #21559
Thanks for confirming. Did you follow all the [prerequesites](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart#prerequisites)? Can you specify if you are using Windows or Linux Containers? If you used the following command on Powershell you should have Windows Containers enabled on docker:

[code]
"If you want to use Linux containers, see [Install Azure IoT Edge runtime on Windows ](http

[2019-01-03 14:47] mganeshphani opened #21577 "What other dynamic parameters/functions are supported?"
Hello, Its nice to see the dynamic expression or keyvault reference, which gets evaluated by the runtime on the fly
@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)

Can you help me understand what other kind of methods/functions I can call on the fly with this feature in app settings?
for example can I use default string functions in

[2019-01-03 14:48] PaulTouzel-kcom opened #21578 "Comparison: Files and Blobs"
In this table you state that RA-GRS is not available for Azure Files, but here you state it is https://docs.microsoft.com/en-us/azure/storage/files/storage-files-planning. It looks to be that it is available, so I think this table may be wrong. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf8f358-861a-b3e5-8

[2019-01-03 14:52] rpili1313 commented on #12757
Can you detail which file this needs to be added?

[2019-01-03 14:55] Kensjero opened #21579 "Update the module please."
Please update the AzureRM cmdlets to the newer Az.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd8f2cb-6ecf-6669-b643-3af38429a044
* Version Independent ID: d41cceb1-4e97-3533-5e75-c1bbd686659e
* Content: [PowerShell example-monitor-scale-single Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-databas

[2019-01-03 15:00] Futtrup87 commented on #21559
I'm using windows containers in docker. I've tried following the prerequesties, which i did maybe a month ago, and it worked at that time. I can see that some things have changed since then, and i'm guessing this thread is somewhat on the "correct" track: https://github.com/Azure/iotedge/issues/655

[2019-01-03 15:04] mrbullwinkle commented on #21573
adding @SergeyKanzhelev for comment.

[2019-01-03 15:11] sergaz-msft commented on #21559
Thanks for checking it! The issue you referenced mentions that it is using Linux Containers. Do you have the same issue when using Linux containers? Also did you test the workaround suggested?

Thank you!

[2019-01-03 15:13] YASWANTHM-MSFT commented on #21571
@patpicos, Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-03 15:14] vhorne commented on #21504
@ekramy-elnaggar

Your test might not be valid. Application rules operate on HTTP/HTTPS traffic, and your tcpping test probably generates just TCP packets to test the TCP three-way handshake on the port (no HTTP/HTTPS packets generated). If your tcpping utility has a an HTTP mode, try that. Or, try browsing to www.google.com from a web browser to generate HTTP/HTTPS traffic.

[2019-01-03 15:15] sergaz-msft commented on #21306
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-03 15:16] buggooo opened #21580 "Training crashes on local compute_target"
When reproducing the tutorial only to use 'local' as training_target (with docker installed locally) and data moved to the source directory, so that it is visible to script, I got the following error after the conda environment was built, as a part of the first docker run execution:

Logging experiment running status in history service.
Running: ['docker', 'run', '--name', 'sklearn-mnist_154...b',

[2019-01-03 15:21] eross-msft commented on #21496
@ImrePyhvel  Thank you for your feedback. I'm currently checking with the product group and other writers to determine if there's anything more we can add to this article.

[2019-01-03 15:23] MoiMoiDG opened #21581 "Image Classification with Transfer Learning"
Hi there,

In general, I understood the switch from the old to the new Azure Machine Learning service and the deprecation of Workbench and so on.
With the old services and packages, I enjoyed tutorials and examples for Image Classification and Transfer Learning as in:
https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/scenario-image-classification-using-cntk
https://docs.mic

[2019-01-03 15:32] YASWANTHM-MSFT commented on #21578
@PaulTouzel-kcom,Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-03 15:36] cconrado opened #21583 "Wrong Picture for Switch action"
the picture above should be typing "switch" instead of condition as they are different actions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1166eb22-7215-b0cb-1802-9278a27c97c2
* Version Independent ID: 6f7dbb17-c00e-d3f1-6b65-a60acdb085e5
* Content: [Add switch statements to workflows - Azure Logic Apps](https://doc

[2019-01-03 15:39] Yvand opened #21584 "Property templateLink is empty when template is redeployed"
I rely on property deployment().properties.templateLink.uri in my ARM template and it works fine when I deploy it through the web.
But if I click on "Redeploy" in the Azure portal (in "Microsoft.Template - Overview" blade), it doesn't seem to set property templateLink and I get the same error as https://github.com/MicrosoftDocs/azure-docs/issues/8748.
Is this expected?

---
#### Document Details

[2019-01-03 15:43] Anmolgan81 opened #21585 "Cannot find any information about azure sql managed instance?"
How azure sql managed instance is related to FedRAMP controls? We could not find this on any of the Microsoft documentations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5219528-fc64-7b32-27b3-96118a2a89ef
* Version Independent ID: 706d224a-b728-f5c8-a228-7c540f7c53c3
* Content: [Azure Security and Compliance Bluep

[2019-01-03 15:43] cephalin commented on #6815
Please feel free to submit your product feedback at https://feedback.azure.com/.

[2019-01-03 15:45] SumanthMarigowda-MSFT commented on #21570
@seekingtheoptimal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-03 15:45] gslack78 commented on #18851
Add this within your endpoint in the template

"deliveryPolicy": {
              "description": "",
              "rules": [
                {
                  "order": 1,
                  "conditions": [
                    {
                      "name": "UrlPath",
                      "parameters": {
                        "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlPathCondi

[2019-01-03 15:46] HeidiSteen commented on #21436
@MedAnd  there is no correlation at this time between Retrievable and index size.  I added a sentence to the tutorial, since that was article listed in this issue, abut I also mentioned it in the REST reference doc.

https://github.com/Azure/azure-docs-rest-apis/pull/2172
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61940

I believe this issue is resolved.  Let me know if you have further q

[2019-01-03 15:50] PramodValavala-MSFT commented on #21480
@cloudmelon Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-03 15:50] #21480 closed

[2019-01-03 15:55] markarnolditpro commented on #15958
Storage Explorer 1.61 release notes suggest it now supports RBAC access for blobs.  Haven't verified this myself, but if ready maybe worth updating the docs.

[2019-01-03 15:56] diberry commented on #21331
#please-close

[2019-01-03 15:57] diberry commented on #21328
#please-close

[2019-01-03 16:03] jpetitte commented on #21576
Please close this as I found a relevant thread in the sdk github repo. https://github.com/Microsoft/cognitive-services-speech-sdk-js/issues/19

[2019-01-03 16:10] cephalin commented on #19305
@pawelros @mweinand The best place to track this feedback is at https://feedback.azure.com/. Can you submit your product feedback there?

[2019-01-03 16:16] ekramy-elnaggar commented on #21504
@vhorne thanks for your reply , I will check alternative method and feedback.

[2019-01-03 16:16] AjayKumar-MSFT commented on #21293
@cephalin, Thank you for guidance on this issue.

@timaschew, I have assigned the issue to @SyntaxC4 to provide an expert insight on your query.

[2019-01-03 16:19] SergeyKanzhelev commented on #21573
@jeubank12 can you suggest where have you seen "other documentation to create a new TelemetryClient for each async method to prevent Operation mismatch issues on Stop"?

Any telemetry client can be used as far as I know. Is it not working for you?

[2019-01-03 16:28] don4of4 opened #21586 "(Actually) Aggregating Metric Output"
I fairly sure this used to be possible, but the documentation now seems to infer otherwise:  if a copy activity was in a loop, how could I—in an expression—access the sum of the bytes metric?

There does not appear to be any sum or aggregation operations that will operate on an array, especially an array of objects.  Documentation could be improved here.

---
#### Document Details

⚠ *Do not edit

[2019-01-03 16:31] alexsoble commented on #21161
@femsulu I think this issue should stay open. There's still no documented way to use Log Analytics with a web app in Azure Gov cloud.

@Anand-Moghe suggested using a Function App approach, but there are no code samples for that or documented instances for how to get that working.

@Anand-Moghe also suggested using App Insights, but as I mentioned above, App Insights is not yet available for Azure

[2019-01-03 16:43] phatcher opened #21587 "Incorrect json output in ResourceGroup creation"
The name property in the output for the resource group creation should be "myResourceGroup" not "myAKSCluster"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - Create an Azure Kubernetes Service (A

[2019-01-03 16:47] el-niko commented on #19477
@sergaz-msft this email doesnt work

[2019-01-03 16:49] jomolesk commented on #21585
Addressed customer question through email. Please close; issue is not related to article content.

[2019-01-03 16:51] sergaz-msft commented on #19477
Sorry for that.

Can you please file a support request @ https://aka.ms/azsupt and reference this issue in the description? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Thanks!

[2019-01-03 17:07] mawah opened #21588 "Needs an example illustrating optimistic concurrency/etag support"
The cosmos_client.ReplaceItem() method supports optimistic concurrency (https://docs.microsoft.com/en-us/azure/cosmos-db/faq#how-does-the-sql-api-provide-concurrency) by allowing users to perform a document update only if the provided ETag value is current. However, there is no guidance in the documentation on how to make use of this functionality by correctly specifying cosmos_client.ReplaceItem(

[2019-01-03 17:11] CarlRabeler commented on #18454
@Mike-Ubezzi-MSFT please assign this to @VanMSFT

[2019-01-03 17:12] CarlRabeler commented on #16255
@Mike-Ubezzi-MSFT please assign this to @VanMSFT

[2019-01-03 17:19] CarlRabeler commented on #21312
#please-close

[2019-01-03 17:20] cpdohert opened #21589 "Using 'properties' when you mean 'Named Values'"
Git also has a feature called 'properties' that does a very different thing, and it was not immediately clear upon reading this that what you meant was API Management's 'Named Values' and not git properties.  The page here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties similarly uses 'properties' and 'Named Values' interchangeably.  If you mean 'Named Values

[2019-01-03 17:20] SumanthMarigowda-MSFT commented on #21451
@holmesp When exactly are you getting this error message?
May I know the version of Power Shell? Can you provide more info on this issue

[2019-01-03 17:23] MicahMcKittrick-MSFT commented on #21569
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 17:25] MicahMcKittrick-MSFT commented on #21587
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 17:30] CarlRabeler commented on #19034
@MashaMSFT  please work with @anosov1960  to respond to this git issue - given Sasha's response, please determine if this can be closed or if the docs need an update

[2019-01-03 17:31] CarlRabeler commented on #20734
@MashaMSFT  please work with @anosov1960  to respond to this and @VanMSFT to clarify the docs as appropriate and then close this issue

[2019-01-03 17:32] CarlRabeler commented on #21380
@MashaMSFT  please work with @anosov1960  to respond to this git issue

[2019-01-03 17:32] CarlRabeler commented on #21563
@MashaMSFT  please work with @anosov1960  to respond to this git issue

[2019-01-03 17:34] aljo-microsoft commented on #21239
@oleksandr-bilyk
PR to update all API's, reduce network port provisioning, and added windows defender rules for SF runtime.

https://github.com/Azure-Samples/service-fabric-cluster-templates/pull/11

https://github.com/Azure-Samples/service-fabric-cluster-templates/blob/master/5-VM-Windows-1-NodeTypes-Secure-NSG/azuredeploy.json

[2019-01-03 17:35] jeubank12 opened #21590 "Combine with Distributed Operations"
Following directions to store and retrieve from redis queue (https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking), an HttpClient in the Process method does not have a userId set, even it it is set in the Request telemetry during dequeue/process.

How can the userId and sessionId of the parent RequestTelemetry be sent to the HttpClient built-in DependencyTelemetry?

[2019-01-03 17:35] CarlRabeler commented on #17459
#please-close @Mike-Ubezzi-MSFT
@bonova and engineering team is aware of this issue - no further action at this time will be happening on this thread

[2019-01-03 17:37] CarlRabeler commented on #20041
@navy0333 I am working on getting an appropriate resource to assist here. Can you provide any more input on the types of changes to this tutorial that you would find useful?
Thanks.

[2019-01-03 17:38] YutongTie-MSFT commented on #21576
@jpetitte
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-03 17:38] #21576 closed

[2019-01-03 17:39] jeubank12 commented on #21573
https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#parallel-operations-processing-and-tracking

This exception of not being able to stop the operation seems to happen if you start two operations from the same telemetryClient and then try to stop them in LIFO order.

Due to encountering this exception, I create a new TelemetryClient in every method.  This means I ha

[2019-01-03 17:40] YutongTie-MSFT commented on #21581
@MoiMoiDG
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@garyericson Hi Gary, can you please check this feedback and update the document as necessary? Thanks a lot!

[2019-01-03 17:40] CarlRabeler commented on #18726
@stevestein /please work with @johnpaulkee to respond to this git issue

[2019-01-03 17:41] CarlRabeler commented on #20464
@MashaMSFT fixed issue yesterday - @Mike-Ubezzi-MSFT please close

[2019-01-03 17:43] CarlRabeler commented on #19420
@MashaMSFT did your most recent doc fix address this issue?

[2019-01-03 17:45] CarlRabeler commented on #7827
@Mike-Ubezzi-MSFT please close as article has been updated. @VanMSFT for his awareness

[2019-01-03 17:48] douglaslMS commented on #21243
@dcbrown16 Microsoft employees work in an internal or private copy of the repo named **azure-docs-pr**.  That's where the real history of most updates appears, and isn't visible to you. The private repo is merged into the public repo a couple times a day. I can confirm that the updates you mentioned are in the source (as you see them in the published page) and will be localized shortly. (I don't r

[2019-01-03 17:48] CarlRabeler commented on #21245
@VanMSFT   please work with @vainolo and @ronitr  to respond to this git issue and get the docs updated appropriately

[2019-01-03 17:49] CarlRabeler commented on #19705
@Mike-Ubezzi-MSFT please close as doc has been updated

[2019-01-03 17:51] MicahMcKittrick-MSFT commented on #21569
@PawelHaracz I believe the process would be the same for a standard service fabric cluster as it would be for a Mesh cluster

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management

but I will assign to the author to confirm and call our this scenario in the docs.

@aljo-microsoft can you take a look?

[2019-01-03 17:52] Mike-Ubezzi-MSFT commented on #21588
@mawah Thank you very much for your interest in Azure cloud services, and for taking the time to detail this documentation request so well. It is greatly appreciated. I am going to assign this to the content owner to evaluate and update as appropriate.

[2019-01-03 17:54] MicahMcKittrick-MSFT commented on #21587
@phatcher good find! I corrected the doc. Once the PR merges the changes will go live in a few hours.

[2019-01-03 17:54] #21587 closed

[2019-01-03 17:58] Karishma-Tiwari-MSFT commented on #12757
@rpili1313 It says add the line to your **csproj** file.

[2019-01-03 17:59] YutongTie-MSFT commented on #21580
@buggooo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 18:01] Mike-Ubezzi-MSFT commented on #21579
@Kensjero Thank you for your interest in Azure cloud services. In reviewing this documentation item, are you asking to also include Azure CLI cmds along with the Azure PowerShell cmdlets? The title of this document indicates that these are the PowerShell examples. Not the Azure CLI examples. This is the Azure CLI version of the same document:[Use CLI to monitor and scale a single SQL database](htt

[2019-01-03 18:01] mbialecka commented on #21005
@SarithaMaran Please use only lowercase for your Blob Storage module name if you want to use it in the connection string. Storage SDK lowercases the name but the module names are registered with original casing and the name resolving is case-sensitive. Sorry for the inconvenience, we'll add this info to the doc.

[2019-01-03 18:03] aljo-microsoft commented on #21239
@Karishma-Tiwari-MSFT

Please close this.

[2019-01-03 18:06] aliceku commented on #19763
@VanMSFT has this been fixed already? I cannot find the issue...

[2019-01-03 18:08] BryanTrach-MSFT commented on #21577
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 18:09] helloantizeh opened #21592 "2 step authentication"
please please help
i have moved to another country and authentication text and phone number are on my number that is no longer with me
i cannot seem to find a way around this and be able to manage the settings and change them
help asap

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50

[2019-01-03 18:09] Kensjero commented on #21579
Hi,

No, currently the 'AzureRM' PowerShell module is used, as seen by the
prefix 'Get-AzureRM******'. This is currently depricated, and is replaced
by the 'Az' module, which is basically its predecessor.

An example, the 'Login-AzureRMAccount' is now old, and replaced by
'Login-AzAccount'. There is Microsoft documentation on this change, and is
very recent.

However, there is no such mention of t

[2019-01-03 18:15] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 Thank you for your interest in Azure cloud services. Please review the following document as it relates to FedRAMP compliance:[Federal Risk and Authorization Management Program (FedRAMP)](https://www.microsoft.com/en-us/trustcenter/compliance/fedramp). To be compliant you will need to deploy services to Microsoft's government cloud: [Azure Government](https://azure.microsoft.com/en-us/

[2019-01-03 18:17] oleksandr-bilyk commented on #21239
@aljo-microsoft
Please look at my comments in PR.

[2019-01-03 18:19] Mike-Ubezzi-MSFT commented on #21579
@Kensjero Perfect! Thank you. I am forwarding this to the content owner to evaluate and update as appropriate.

[2019-01-03 18:21] Anmolgan81 commented on #21565
@Mike-Ubezzi-MSFT I have a customer who wants to be compliant for FedRAMP for Public and Government, its understandable that SQL Managed Instance is not available for government, but there has to be some blueprint or something for public environment

[2019-01-03 18:21] SaurabhSharma-MSFT commented on #21585
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-03 18:21] #21585 closed

[2019-01-03 18:21] Kensjero commented on #21579
Happy to contribute!

On Thu, 3 Jan 2019, 19:20 Mike Ubezzi <notifications@github.com wrote:

[2019-01-03 18:32] MicrosoftGuyJFlo commented on #21386
Follow the steps to enable before you attempt to access the site. It will not work until you have enabled the preview.

[2019-01-03 18:32] MicrosoftGuyJFlo commented on #21386
#please-close

[2019-01-03 18:32] bandersmsft commented on #21172
@jbrantly  Thanks James, I'll revise the Budgets article for added calrity around navigation.

[2019-01-03 18:34] saulcruz commented on #21114
any updates on this one? thanks

[2019-01-03 18:36] kgremban commented on #21214
@remware I understand better now what's going on. Sorry, I was so fixated on the original UX comment that I didn't stop to think about the root cause for your experience. The right-click menu is different for IoT Edge devices and regular IoT devices that have identities with IoT Hub, to reflect their different capabilities. You'll only see the "Create Deployment for Single Device" option when you

[2019-01-03 18:37] mwchilde opened #21595 "UseExistingDatabase flag not needed on new install"
Followed these directions and used the /UseExistingDatabase flag after my delegated SQL admin set-up the database.  The configuration step with this flag gets stuck at the "Connect your directories" step with the Add Directory button grayed out and no configured directories listed since this was a new install.

After cleaning any tables out that the initial install created, I was successfully able

[2019-01-03 18:39] Mike-Ubezzi-MSFT commented on #19705
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 18:39] #19705 closed

[2019-01-03 18:39] mrbullwinkle commented on #11721
We are going to close this doc-bug out as Sergey's updates have fixed the script and addressed the original issue. We have also added a Note to hopefully better put this doc in context as it has been causing confusion and is sometimes interpreted as a pre-req rather than an advanced scenario. The note we have added to the doc is as follows:

_This is an advanced article outlining the manual steps