[2022-01-28 02:56] jyothisuri commented on #86896
@Sharmistha-Rai
@V-SSenthilna

Thanks.

[2022-01-28 03:19] Norrch2 opened #87090 "Clarification on throttling."
Per [Ui elements](https://docs.microsoft.com/en-us/azure/active-directory-b2c/multi-factor-auth-technical-profile#ui-elements-1) it indicates _UserMessageIfThrottled_ with a generic message indicating that the request has been throttled.

Currently the documentation does not indicate what conditions will lead to this. From my testing, it appears that the message will appear if the user attempts to

[2022-01-28 03:31] ShaikMaheer-MSFT commented on #87073
@CarlosMendozaB Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-28 03:31] CarlosMendozaB commented on #87073
I executed a get over a log created manually:
https://management.azure.com/subscriptions/xxxxxxxxxxxxx/resourceGroups/yyyyyyyyyyyyy/providers/Microsoft.Databricks/workspaces/zzzzzzzzzzzzzzzz/providers/Microsoft.Insights/diagnosticSettings/test?api-version=2021-05-01-preview

I found this information is required
"logs": [
            {
                "category": null,
                "categoryGrou

[2022-01-28 03:33] ShaikMaheer-MSFT commented on #87076
@ElanShudnow Thank you for feedback. We are validating it. Will share updates soon.

[2022-01-28 03:35] ShaikMaheer-MSFT commented on #87077
@l00mis Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-28 03:36] ShaikMaheer-MSFT commented on #87079
@l00mis Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-28 03:37] CarlosMendozaB commented on #87073
Also: API version should be 2021-05-01-preview
"apiVersion": "2021-05-01-preview"

[2022-01-28 03:48] AnuragSharma-MSFT commented on #87083
@MixolydianV Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-28 03:52] #86815 closed

[2022-01-28 04:31] PramodValavala-MSFT commented on #87010
@bostevensspinakr There are no limitations here on the kind of cmdlets that can be used from an Azure Functions perspective. The [PowerShell reference doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal) would be a good first read to understand any specifics of using PowerShell in Azure Functions.

As for your snippet, could you share the error th

[2022-01-28 04:35] dlepow commented on #86768
@skeeler - Thanks for reporting this issue, and apologies that you hit the error. I'll submit a doc fix shortly.

[2022-01-28 04:39] PramodValavala-MSFT commented on #86880
@tomkuijsten I believe this is likely because the lock duration could be too short (considering network and/or any processing delays). Could you check to see if the same is observed when having a longer lock duration, say 30 seconds or so?

[2022-01-28 04:40] pnarsi opened #87091 "Network Connectivity for Storage Account used for private data"
Is there any mandatory configuration required from a Network/Firewall perspective in order to be able to use a Storage Account to store private data used by Stream Analytics. Do I have to disable the Storage Account Firewall (i.e. Allow all Public Network) or can I just get away with enabling the "Allow Azure services on the trusted services list to access this storage account." setting on the sto

[2022-01-28 04:52] AnuragSingh-MSFT commented on #87088
[@ethanhou99](https://github.com/ethanhou99), thank you for opening this issue. We use GitHub issues as the primary channel for customer and community feedback about the **Azure Documentation.**

**
**

For troubleshooting and product questions, please use [Mircosoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).

\*\*\*

In current case, can you please answer - How do you know that th

[2022-01-28 04:58] TerryLanfear commented on #87089
@yutaro113 - Thank you for the feedback!
@aletheatoh - Can you please review https://docs.microsoft.com/en-us/azure/security/fundamentals/pen-testing and let me know if pen-testing.md should be updated. Thank you.

[2022-01-28 04:59] mike-urnun-msft commented on #86810
Hello @plbowers - Thank you for sharing your feedback! Based on my review & repro, the `int()` is working as expected and its input type is correctly constrained by either int or an int as string types as described in this doc. I suspect what you observed is to do with passing the value _without the decimal point_ at runtime, which then makes the value an integer represented as a string -- which i

[2022-01-28 04:59] #86810 closed

[2022-01-28 05:06] yutaro113 opened #87092 "Evaluation Criteria of choosing endpoint option (Private Endpoint and Service Endpoint) wanted to be summarized."
In this page, technical difference between Private Endpoint and Service Endpoint is mentioned but I see many user are confusing how they should decide which solution to use.

For example, for user, it is not clear how network security risk between these 2 solutions is different from mentioned technical difference. (ex. Using service endpoint is less secure than using Private Endpoint? In which cas

[2022-01-28 05:07] yutaro113 commented on #86755
Thank you very much for the update!

[2022-01-28 05:11] KrishnaG-MSFT commented on #86978
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-01-28 05:11] #86978 closed

[2022-01-28 05:18] jun110 opened #87093 "Incorrect value for "Legacy category"."
Hi team,

After checking the Japanese documentation, I found that the value I specified for "Legacy category" was wrong.
We should change it to "Updates" instead of "更新".
![image](https://user-images.githubusercontent.com/25476639/151491242-9852a6c3-8df3-4379-bcc0-9bce49231bb7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-01-28 05:37] Sharmistha-Rai commented on #86896
@danailedms - checking this with the team. Will get back on this.

[2022-01-28 05:40] jeffpatton1971 commented on #87087
Thank you

[2022-01-28 05:48] chjinche commented on #86513
hi @MayankBargali-MSFT I just want to point out no doc about 'ScheduledTime' description in logic app. I think it is a doc issue.

[2022-01-28 05:50] VikasPullagura-MSFT commented on #87011
@sadukie Thanks for pointing this out, I have updated the document and the changes will go live once the changes are approved by the doc author.

[2022-01-28 05:50] #87011 closed

[2022-01-28 05:55] MughundhanRaveendran-MSFT commented on #86835
@dracosachin , Its not possible to mount the file share and access it as a path. You can either use Rest API which you mentioned or use the Fileshare client library : https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage.files.shares-readme

[2022-01-28 05:59] aletheatoh commented on #87089
Hi @yutaro113 (@TerryLanfear for visibility), DDoS simulation is permitted with BreakingPoint Cloud. There is a note in the 1st doc which calls it out, hope this clarifies:

![image](https://user-images.githubusercontent.com/22549537/151495229-be54d315-9dc8-4356-811e-3f10df273824.png)

[2022-01-28 06:05] KrishnaG-MSFT commented on #86995
@scaravacap Great observation! We have verified and updated the document as required. The change should reflect soon in the document i.e., in less than 24 hours. Thanks again!

[2022-01-28 06:05] #86995 closed

[2022-01-28 06:06] mike-urnun-msft commented on #86918
@mikebudzynski could you advise on this one? I'm not sure what in the new [CSR 3.2](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-crs-rulegroups-rules?tabs=owasp32#crs942-32) makes the `942450` rule breaks the Dev Portal functionality.

[2022-01-28 06:08] MughundhanRaveendran-MSFT commented on #86998
@64oz-frozenmangos , I set the AzureFunctionsJobHost__logging__LogLevel__Host__Results to informational like below and it works for me. Are you getting any errors while executing the command?

![image](https://user-images.githubusercontent.com/56299140/151495972-7626af63-4a00-4dea-b914-d72c5a289e8b.png)

[2022-01-28 06:08] KrishnaG-MSFT commented on #87093
@jun110 Thanks for the feedback.
Assigning to @SGSneha for visibility, review and document enhancement consideration as appropriate.

[2022-01-28 06:22] mike-urnun-msft commented on #87016
@timamay Thanks again for sharing your valuable feedback, and I hope you'll create another issue on the dedicated repo of this solution as referenced in my previous comment.

Since we didn't determine any faulty steps or changes within the scope of the existing doc upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please r

[2022-01-28 06:22] #87016 closed

[2022-01-28 06:24] AnuragSingh-MSFT commented on #87088
@ethanhou99, I tested the policy definition using [Azure Policy extension for VS Code](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/extension-for-vscode) and it works as expected.

I even tested creating a new Azure Cache for Redis from portal (which default to using TLS 1.0) and it was denied by policy.

Please note that policy assignment takes about 30 minutes to be effective,

[2022-01-28 06:35] VikasPullagura-MSFT commented on #87081
@MatthewSteeples
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-28 06:35] VikasPullagura-MSFT commented on #87081
@prkannap
Can you please check and add your comments on this doc update request as applicable.

[2022-01-28 07:04] gro1m opened #87096 "Can you please add a documentation on how to create a Storage Container with the Azure Portal?"
There is documentation on how to create a storage account in the Azure Portal: https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=azure-portal, but it seems that there is no documentation on how to create a storage *container* in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-01-28 07:08] yutaro113 commented on #87089
@aletheatoh Thank you very much for the quick confirmation and sorry, answer is mentioned just below the description I quoted.
Understood DDoS testing is currently permitted only through the partnered solution "BreakingPoint Cloud"..!
Thank you very much!

[2022-01-28 07:11] yutaro113 commented on #87089
Sorry 1 question, in my understanding, currently DDoS Protection Basic is applied to all azure resources by default.
So above note means that we can simulate DDoS attach to all azure resource when we use BreakingPoint Cloud?
Or it is permitted or possible only when DDoS Protection Standard is configured?
Thank you very much for the confirmation.

[2022-01-28 07:21] SnehaAgrawal-MSFT commented on #86825
Thanks for asking question! Could you double check if your Azure CLI version is 2.0.80 or higher. If not, [install the latest version.](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)
Try using run `az upgrade --yes` and then restart your session
then run:
`az login `
`az webapp up -n WebAppPython1`

 You may check [Troubleshooting auto-detect issues with az webapp up](https://github

[2022-01-28 07:44] takekazuomi opened #87097 "Best"
Best practices do not include Azure role-based access control for keys, certificates, and secrets. At the moment, access control can be done in units of keys, certificates, and secrets. Instead of splitting the Key Vault Container for each application, you can think of it on a security perimeter basis.
This document needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-01-28 07:54] ChaitanyaNaykodi-MSFT commented on #87092
Hello @yutaro113
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-28 07:58] vgorbenko commented on #86661
@atkulp, great suggestion. You are right, the better approach would be to use the App Version standard dimension instead of custom dimensions. This would be a better example:

    // Telemetry initializer class
    public class ApplicationVersionTelemetryInitializer : ITelemetryInitializer
    {
        // In this example, to differentiate versions, we use the value specified in the AssemblyInfo.c

[2022-01-28 08:13] MughundhanRaveendran-MSFT commented on #85033
@georgeOsdDev , I have removed webjobs content from the document, it will be published soon

[2022-01-28 08:15] TomaszKnap1983 opened #87098 "Transaction search finds mulitple results for a given search string, however returns 0 results for the prefix of that string"
When Azure->Monitor->Transaction Search functionality is used and You type text in search bar like this:
![image](https://user-images.githubusercontent.com/90622698/151511032-d9110e4a-05ce-4d3a-a45e-b66e7d5581fa.png)
you get several results - fine.

However if you just remove several letters from the end of the string like this:
![image](https://user-images.githubusercontent.com/90622698/151511133

[2022-01-28 08:19] cephalin commented on #82843
Addressed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/186421. #please-close

[2022-01-28 08:19] #82843 closed

[2022-01-28 08:19] cephalin commented on #76197
Addressed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/186421. #please-close

[2022-01-28 08:20] cephalin commented on #76197
@SnehaAgrawal-MSFT I marked this one to close by mistake. Can you reopen?

[2022-01-28 08:20] cephalin commented on #76055
Addressed by MicrosoftDocs/azure-docs-pr#186421. #please-close

[2022-01-28 08:20] #76055 closed

[2022-01-28 08:21] cephalin commented on #71195
Addressed by MicrosoftDocs/azure-docs-pr#186421. #please-close

[2022-01-28 08:21] #71195 closed

[2022-01-28 08:21] cephalin commented on #67763
Addressed by MicrosoftDocs/azure-docs-pr#186421. #please-close

[2022-01-28 08:21] #67763 closed

[2022-01-28 08:23] SaiKishor-MSFT commented on #86261
As mentioned in the document, Branches and non-NVA VNets will not know about any NVA spoke, since NVA spokes are not connected to Virtual WAN hubs. As a result, static routes will be needed here as well. If static route is added for these non-NVA spokes, Vnet1 can talk to Vnet 7. Hope this helps. Please do let us know if you have any further questions. Thank you!

[2022-01-28 08:23] ElectricLlama opened #87099 "Can we have a guide on "Build Pulled as Artifact""
With regards to the "New CI/CD flow", it explains the build process really well. But it doesn't explain from "Build pulled as an artifact" downwards. I'm having difficulties finding examples of how to do this. Do I need to create a deploy pipeline and literally enter the build number as a parameter? YAML syntax is very unforgiving, it would really help to have a YAML sample for the deploy part, in

[2022-01-28 08:23] mohantdurgan opened #87100 "Starting a container is failing for Java based azure functions"
ERROR - Container <my-container-name> for site <site-name> has exited, failing site start

Container <my-container-name> didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging

I am seeing this issue for all possible tries I did. By setting both PORT and/or WEBSITES_PORT in app setting. Not sure what is causing this error.

docker run -d -p 80:80 --name <my-

[2022-01-28 08:36] SaiKishor-MSFT commented on #86658
@asudbring This step may need a change- In the Networking tab, under Connectivity method select Private endpoint. This is different if we have an existing Storage Account.

[2022-01-28 08:40] SaiKishor-MSFT commented on #86863
@anzaman Can you please look into this?

[2022-01-28 08:46] shashishailaj commented on #87086
@pmcilreavy Thank you for your query . We will investigate and update the thread.

[2022-01-28 08:48] shashishailaj commented on #87090
@Norrch2 Thank you for sharing your findings . We will review and engage the content team accordingly on this.

[2022-01-28 08:50] shashishailaj commented on #87097
@takekazuomi Thank you for your feedback . We are engaging the content team on the above request .

[2022-01-28 08:52] SwathiDhanwada-MSFT commented on #86581
@artyq Kindly note the only supported method of authentication for monitoring is SQL authentication. The documents and the scripts you are referring to creates login and user using AAD authentication. Other than that, this can't be used for monitoring.

Same information has been documented [here](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/sql-insights-overview#supported-versions

[2022-01-28 08:52] #86581 closed

[2022-01-28 08:57] nhannt97 opened #87103 "Nodejs code sample"
Please provide code sample in nodejs.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf02730-7a45-4a27-e6a6-4c85a68d1338
* Version Independent ID: 56488c74-662e-00f3-538c-91cdacd59971
* Content: [Record and download calls with Event Grid - An Azure Communication Services quickstart](https://docs.microsoft.com/

[2022-01-28 09:01] kbaken opened #87104 "Deprecated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 609d607f-c87d-ab47-6e57-45ffd493f19c
* Version Independent ID: 28ed3b0d-68e9-0e75-de06-fc3e73acbf4c
* Content: [Create a PowerShell function using Visual Studio Code - Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/create-firs

[2022-01-28 09:13] Klaas- commented on #86996
The RHEL 8.2 e4s package is still missing in west europe.
Red Hat Release was:
2022-01-25 17:58:48 UTC
It has not yet been made available in westeurope (52.174.163.213) and it's now
2022-01-28 09:04:50 UTC

[2022-01-28 09:16] AdamRiddick commented on #87049
It appears that this is now behaving as expected of a union in CLI version 2.32.0.

[2022-01-28 09:16] #87049 closed

[2022-01-28 09:43] nkumars commented on #86885
@SnehaAgrawal-MSFT , any update on this you may share please?

[2022-01-28 09:51] ElenaMST opened #87105 "The SubscriptionId:\"<id>\" of the request must match the SubscriptionId \"<sharedId>\" contained in the Key Vault Id."
If VM is hosted on a different subscription ID than the Key vault following error is encountered:

"The SubscriptionId:\"<id>\" of the request must match the SubscriptionId \"<sharedId>\" contained in the Key Vault Id."

Can we add a prerequisite for this doc to have the Windows VM in the same subscription  as the Key vault?
similar to this doc https://docs.microsoft.com/en-us/azure/frontdoor/fron

[2022-01-28 10:08] pSciortino opened #87106 "Synapse Lake Database documentation: table schema and metadata enforcement behaviour not documented"
In [this subsection](https://docs.microsoft.com/en-us/azure/synapse-analytics/database-designer/modify-lake-database#columns) of the Synapse Lake Database documentation, it is explained how one can edit the metadata at the column level. To me, this naturally raises the question of whether and, if so, how this metadata (e.g. setting a column as non-null) is enforced. I would assume that no constrai

[2022-01-28 10:20] agehrke opened #87107 "Admin Consent section outdated"
The section about Admin Consent mentions use of `prompt=admin_consent` which is not supported when using v2 of the OAuth endpoint. Instead it seems a [dedicated Admin Consent endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-admin-consent) should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-01-28 10:23] DeanGross opened #87108 "Broken link"
The link to  Application security and DevSecOps has an extra character and is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bccc0702-4fcb-a84f-d998-d5d7e3ed90ad
* Version Independent ID: bccc0702-4fcb-a84f-d998-d5d7e3ed90ad
* Content: [Azure Security Benchmark v3 - Identity Management](https://docs.microsoft.co

[2022-01-28 10:26] SumanthMarigowda commented on #87096
@gro1m It's already available in the documents!
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal

If you are facing any issue in creating the container , I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread.

[2022-01-28 10:26] #87096 closed

[2022-01-28 10:28] massimoforni-turboden commented on #84453
@philon-msft That's super!

[2022-01-28 10:40] DeanGross opened #87109 "Broken Link"
In IM:7 - The link to Threat intelligence has an extra character and is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bccc0702-4fcb-a84f-d998-d5d7e3ed90ad
* Version Independent ID: bccc0702-4fcb-a84f-d998-d5d7e3ed90ad
* Content: [Azure Security Benchmark v3 - Identity Management](https://docs.microsoft.com/en-u

[2022-01-28 10:41] ChilliSec opened #87110 "Update Azure Function App steps"
Hiya,

It seems that the Azure Function App settings are now inline with the rest of Azure, therefore the following 'Using the Azure portal' instructions can be updated (it appears twice on the indicated page)...

`If using a function app, navigate to Platform features. For other app types, scroll down to the Settings group in the left navigation.`

Suggested update would be something like...

`Sc

[2022-01-28 10:45] jiec-msft opened #87111 "Leverage MSAL to get AAD token"
Follow the same logic, one can leverage MSAL to get AAD token. Comparing to directly calling to AAD with url, MSAL will handle token cache/token renew. If request token in a high frequency, it can trigger throttling of AAD.

Sample java code
[code]

#### Dependency `pom.xml` file
[code]
#### References
1.	[AAD doc: Daemon app that calls web APIs - acquire a token](https://docs.microsoft.com/en-us/

[2022-01-28 10:48] chi3f10 opened #87112 "Atlassian Cloud sites fall under the <instance>.atlassian.net format"
On Step 4: Before you start go to your Atlassian product instance and copy/save the Instance URL.  The document states that the Atlassian Cloud site URL is "<instance>.atlassian.com", when Atlassian Cloud sites are _almost_ always "<instance>.atlassian.net".

admin.atlassian.com is correct for the Atlassian organization, i.e. admin.atlassian.com/o/<org_id> - but that's conceptually a different con

[2022-01-28 11:00] kasimrehman commented on #86994
Thank you this clarifies it somewhat. However, the offending sentence was: "If you want to add or remove geo-replication [...] you can use the Azure portal, PowerShell, or Azure CLI to update the replication setting". This is simply not true since as you have now added in the next sentence, it does not work for ZRS -> GZRS.

[2022-01-28 11:01] RohitMungi-MSFT commented on #87026
@v-chmccl Could you please check the recent [commit ](https://github.com/MicrosoftDocs/azure-docs/commit/b13708e4b75554aa1e85e1aedbfe0d2fcf24581b#diff-eca12c0a30e25b4b46522ebf89465a03ba72a03f540796c979137931d8f92055)that might have broken the links.

Closing the issue as recent changes to docs guide is still in-progress. Referenced link above details the steps to contribute. Thanks!!

[2022-01-28 11:01] #87026 closed

[2022-01-28 11:39] Euan-McVie opened #87113 "Cosmos Emulator - Missing Release Notes"
Release notes for 2.14.5 are missing.
We recently started seeing issues in our CI related to emulator connectivity and github actions has just updated to 2.14.5 so I was looking for details on changes (especially around any Gremlin API changes)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-6743

[2022-01-28 11:47] kengaderdus commented on #86429
#please-close due to inactivity.

[2022-01-28 11:47] #86429 closed

[2022-01-28 11:51] jometzg opened #87114 "Have a section on logout too"
There is another page which discusses how to correctly log out https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-customize-sign-in-out - it would be really useful to have a short section on this page to link off to the above page - as I have seen it can be tricky to discover.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-01-28 11:52] shashishailaj commented on #87109
@DeanGross Thank you for your feedback . We will investigate and update the document as needed.

[2022-01-28 11:53] AjayKumar-MSFT commented on #87110
@ChilliSec, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-28 11:53] joalmiza opened #87115 "Update of the information"
I would suggest the following update to the information on this age.

4. In your Log Analytics workspace, select Computer Groups from the left-hand menu.

5. From Computer Groups in the right-hand pane, the Saved groups tab is shown by default.

6. From the table, click the icon Run query to the right of the item MicrosoftDefaultComputerGroup.

7. In the query editor, change from Tables to Functio

[2022-01-28 11:54] shashishailaj commented on #87108
@DeanGross Thank you for your feedback . We will investigate and update the document as needed.

[2022-01-28 11:55] shashishailaj commented on #87107
@agehrke Thank you for your inputs. We will review the same and engage the content team to update the document as needed.

[2022-01-28 11:55] AjayKumar-MSFT commented on #87103
@nhannt97, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-28 11:57] AjayKumar-MSFT commented on #87100
@mohantdurgan, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-01-28 11:58] shashishailaj commented on #87112
@chi3f10 Thank you for your inputs . We will investigate and update the thread.

[2022-01-28 11:59] AjayKumar-MSFT commented on #87114
@jometzg, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-28 12:03] kengaderdus commented on #82951
Dear @MarekLani,

Thank you for your patience. We've planed an upgrade on all our app samples. We're closing this issue, and then track it internally.

#please-close

[2022-01-28 12:03] #82951 closed

[2022-01-28 12:12] OliCSADoerr opened #87116 "Latest Version of Redhat not supported?"
Hi, it looks like the CSV import, does not support the OS Red Hat Enterprise Linux 8 - at least it is not documented as an possible value for the OS column. Could you please validate if that´s still accurate, since RHEL 8 was released some time ago.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37bfd485-6fbe-63

[2022-01-28 12:14] dgkelaidonis opened #87117 "Proposed update on command structure for applying the IoT Edge Device configuration"
Hello,

based on my testing, I figured out the following issue on Ubuntu 18.04 IoT Edge Device.

In the section "[Provision the device with its cloud identity](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-provision-single-device-linux-symmetric?view=iotedge-2020-11&tabs=visual-studio-code#provision-the-device-with-its-cloud-identity)", the second Bash command, that is used for applying t

[2022-01-28 12:17] shashishailaj commented on #87091
@pnarsi Thank you for your query . We will investigate and update the thread.

[2022-01-28 12:21] VitalyMCT opened #87118 "Article needs a major update"
The Portal experience changed substantially, so this article would benefit from a top-to-bottom review and update. Some examples:

1) Networking tab is no longer present
2) Gen1 performance options are removed, at least in some/most regions
3) Sample data option removed
4) Restore Point data option added

etc.

![image](https://user-images.githubusercontent.com/1765732/151546023-983faeaf-4597-4b4b

[2022-01-28 12:33] shashishailaj commented on #87105
@ElenaMST Thank you for your query . Could you please let me know which document you are referring to and we will have it reviewed.

[2022-01-28 12:37] Sharmistha-Rai commented on #86896
@danailedms - Any machine with Docker installed on it is not supported by ASR. And the latter config is out of scope for ASR and we only supports servers, not files. So, both the scenarios are not supported.

[2022-01-28 12:40] ezYakaEagle442 opened #87119 "Azure Kubernetes Service RBAC Reader cluster/namespace scope not consistent"
AKS [doc](https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac#create-role-assignments-for-users-to-access-cluster) states :

Azure Kubernetes Service RBAC Reader :
Allows read-only access to see most objects in a **namespace**. It doesn't allow viewing roles or role bindings. This role doesn't allow viewing Secrets, since reading the contents of Secrets enables access to ServiceAccount cr

[2022-01-28 12:58] ElenaMST commented on #87105
This is the doc: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server

From: ShashiShailaj-MSFT ***@***.***>
Sent: Friday, January 28, 2022 2:34 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Elena Stefan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The SubscriptionId:\"<id>\" of the request must match the SubscriptionId \"<shar

[2022-01-28 13:03] zipon commented on #86683
@MonikaReddy-MSFT thanks I have now submitted it there. Do you want me to file a new bug report for the one regarding how some lab exercises are checked? (When you run the auto check provided)?

[2022-01-28 13:17] KrishnaG-MSFT commented on #87115
@joalmiza Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-28 13:36] mwsutherland commented on #87066
Update I opened an Azure support ticker for the error itself, I'll let you know how that goes. If it is useful to you, the tracking ID for that ticket is 2201270040007399.

[2022-01-28 13:45] ShaikMaheer-MSFT commented on #87099
@ElectricLlama Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-28 13:46] StuBeck32 commented on #87057
Great thank you!
________________________________
From: kobulloc-MSFT ***@***.***>
Sent: Thursday, January 27, 2022 7:25 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: StuBeck32 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Step #4 is a bit ambiguous (Issue #87057)

@StuBeck32<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FStuBeck32&dat

[2022-01-28 13:46] GeethaThatipatri-MSFT commented on #87113
Hi @Euan-McVie Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 13:47] ShaikMaheer-MSFT commented on #87118
@VitalyMCT Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-28 13:56] vineetvikram commented on #87116
Hi

RHEL 8 is not supported as of now.
I will try to get it validated and listed as supported OS.

Thank you.

Regards

Vineet Vikram

From: OliCSADoerr ***@***.***>
Sent: Friday, January 28, 2022 5:42 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Vineet Vikram ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Latest Version of Redhat not supported? (Issue #87116)

Hi, it l

[2022-01-28 13:56] ShaikMaheer-MSFT commented on #86824
@viseshag Could you please validate feedback and update document as appropriate.

[2022-01-28 14:09] asalvo opened #87121 "Data Sync is not available on Hyperscale, but is not listed as a known limitation"
Data Sync is not available on Hyperscale, but is not listed as a known limitation. It is listed as a known limitation in one of the DataSync docs. https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database#general-limitations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91

[2022-01-28 14:11] VitalyMCT commented on #79574
@MartinJaffer-MSFT Following up. Is it possible to get a response to this one please?

[2022-01-28 14:11] SnehaAgrawal-MSFT commented on #86740
@gabesmsft Thanks again for the valuable feedback! The PR has been created and once reviewed by author will be visible.

We will now close this out but if you feel you need more information please just let us know.

[2022-01-28 14:11] #86740 closed

[2022-01-28 14:31] ShaikMaheer-MSFT commented on #86879
@mssaperla Could you please validate feedback and enhance document as appropriate. Thank you.

[2022-01-28 14:50] jlorich commented on #68401
Docs have been updated to provide clarity around protocol support, as well as how state is reported:

[2022-01-28 15:01] Spaanseh opened #87122 "Feedback on a made statement irt. multi-tenant AKS"
"Our recommendation is to use a vault per application per environment (Development, Pre-Production, and Production)."
What if you were to use a multi-tenant AKS setup? Are there then security communications that require a Key Vault for the platform and one for the individual workload? That traffic is not cross-tenant, but can be seen as crossing a logical security border. While it definitely makes

[2022-01-28 15:03] GeethaThatipatri-MSFT commented on #87121
Hi @asalvo Thanks for your findings, We will investigate and update as appropriate.

[2022-01-28 15:25] JamesTran-MSFT commented on #87122
@Spaanseh
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-28 15:50] jenniehubbardDB commented on #86549
#please-close

[2022-01-28 15:50] PRMerger-2 commented on #86549
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-01-28 15:50] alessio-businaro opened #87123 "fantastic Microsoft advertising mail"
I think an important note is missing, any time after creating a group on SharePoint, Microsoft send to all people of this group a fantastic advertising e-mail to congratulate with all this people for buying a 365 lincenses, no matter if in this group you have thousands of users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-01-28 15:52] alessio-businaro opened #87124 "fantastic Microsoft advertising mail"
I think an important note is missing, any time after creating a group on SharePoint, Microsoft send to all people of this group a fantastic advertising e-mail to congratulate with all this people for buying a 365 lincenses, no matter if in this group you have thousands of users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-01-28 15:53] alessio-businaro opened #87125 "famtastic Microsoft adevrtising mail"
I think an important note is missing, any time after creating a group on SharePoint, Microsoft send to all people of this group a fantastic advertising e-mail to congratulate with all this people for buying a 365 lincenses, no matter if in this group you have thousands of users.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-01-28 16:05] atrauzzi commented on #54662
Fumbling like this is honestly one of the reasons why we moved to GCP.

[2022-01-28 16:05] #54662 closed

[2022-01-28 16:05] #86453 closed

[2022-01-28 16:10] netapp-rlithman opened #87126 "Required attributes for LDAP users - Suggested changes"
Oliver Krause updated **Required attributes for LDAP users** in CVS for GC documentation after testing it. We recommend that you look into it as well. I share his changes in bold text below. Our update hasn't published yet, so you won't see it in our documentation yet.

### Required attributes for LDAP users

LDAP users must have the following attributes set: uid, uidNumber, **cn,** gidNumber, obj

[2022-01-28 16:15] NH2501 opened #87127 "Example doesn't seem to work"
Page is informative, but example doesn't seem to work.
Returns "You do not have permission to view this directory or page." when deployed live in Azure.
Local azure test with VS shows:

This request is not authorized to perform this operation using this permission.
RequestId:c0611efb-901e-000f-5b61-14373b000000
Time:2022-01-28T16:12:05.7636571Z
Status: 403 (This request is not authorized to perfor

[2022-01-28 16:21] #85722 closed

[2022-01-28 16:23] bbrandt opened #87128 "CREATE USER is not supported in master database, but doc says to create user in master DB"
The provided statements in #3 will not run in the master DB.

## Current:

## Error:
[code]

## Proposed:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd3e66e-a012-dd40-34f3-1e84865605bc
* Version Independent ID: d0fc26d6-2a86-dbed-2f48-c798b551f3f0
* Content: [Tutorial: Get started analyze data with a serverless SQ

[2022-01-28 16:30] gdotv commented on #86453
Hi Manish, noted. I've sent you an email from admin@gdotv.com.

Regards,
Arthur

[2022-01-28 16:48] vhorne commented on #84915
The two articles use different network infrastructures (to show multiple network examples). So, the CLI article does not require a NAT rule to function.
#please-close

[2022-01-28 16:48] #84915 closed

[2022-01-28 16:59] asukumar22 commented on #84915
@vhorne Sure, thanks for letting me know!

[2022-01-28 17:04] OliCSADoerr commented on #87116
Hi @vineetvikram - Thx for the fast response. Thanks for your efforts. It would really help with a customer of us and also a lot of other customers which are already using RHEL8.

[2022-01-28 17:19] dcaro opened #87130 "Page missing Azure PowerShell code"
This page is only using azure cli and missing Azure PowerShell code.
'Import-AzContainerRegistryImage' cmdlet is doing the same: https://docs.microsoft.com/en-us/powershell/module/az.containerregistry/import-azcontainerregistryimage?view=azps-7.1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e74e635-1d2b-7c92-557f-

[2022-01-28 17:19] MarileeTurscak-MSFT commented on #87123
@alessio-businaro
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 17:20] #85327 closed

[2022-01-28 17:20] aletheatoh commented on #87089
@yutaro113 no worries - BreakingPoint Cloud can only be used when DDoS Protection Standard is configured.

[2022-01-28 17:20] MarileeTurscak-MSFT commented on #87124
@alessio-businaro
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 17:20] jonburchel commented on #86437
Hi @JohnD76,

This issue has been addressed now so I will close it out, but feel free to continue the discussion if necessary in this thread, even after the issue is closed.

Thank you for your help to improve the docs!

#please-close

[2022-01-28 17:20] #86437 closed

[2022-01-28 17:21] MarileeTurscak-MSFT commented on #87125
@alessio-businaro
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 17:22] MarileeTurscak-MSFT commented on #87125
Closing this out as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/87124 and https://github.com/MicrosoftDocs/azure-docs/issues/87123

[2022-01-28 17:22] #87125 closed

[2022-01-28 17:22] MarileeTurscak-MSFT commented on #87123
Closing this out as a duplicate of  https://github.com/MicrosoftDocs/azure-docs/issues/87124 and https://github.com/MicrosoftDocs/azure-docs/issues/87125

[2022-01-28 17:22] #87123 closed

[2022-01-28 17:25] JamesTran-MSFT commented on #87063
@saryeHaddadi
Thank you for the suggestion to enhance our docs!

I've created a PR to update the wording to - "Azure AD directories", and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-01-28 17:25] #87063 closed

[2022-01-28 17:26] cijothomas commented on #82560
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1563#issuecomment-400095415

[2022-01-28 17:30] romankiss commented on #86005
Hi @sandeeppujar, @dominicbetts

Based on my testing related to the long-running command, I can see, there are two different implementations and it looks like, that each IoT central team made it differently.

The IoT Central v3 (the recently latest version) is a model driven application, so the command response via the reported property is accepted, see the following screen snippet of the Raw data

[2022-01-28 17:33] anzaman commented on #86863
Yes, you can use custom routes and the gateway will advertise the route, but without that you'll have to add a static route. Windows team is making some changes to the platform that may eliminate the need for static routes

[2022-01-28 17:37] aahill commented on #86083
Thanks for this feedback, I've updated this article with links to examples we have in our reference documentation, and samples in the quickstart which show the request format. We've also identified a few bugs in the REST API commands in the quickstart that we're working to fix. These should be visible in the docs shortly.

If you're still having trouble, take a look at the reference documentation,

[2022-01-28 17:37] #86083 closed

[2022-01-28 17:37] JIBIN-P opened #87133 "Please link docs from github as it helped a lot for making a dynamic configuration for msal-angular."
Can you please add links to the v2 docs of angular https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/docs/v2-docs to this article? It will be very helpful for the users who are looking to get something more beyond the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28

[2022-01-28 17:44] sandeeppujar commented on #86005
@romankiss - thank you for the detailed response, we will look into this

[2022-01-28 17:44] #86976 closed

[2022-01-28 17:45] #86974 closed

[2022-01-28 17:46] tfitzmac commented on #86593
@Materia-xx - thanks for this question, I am trying to verify how to interpret the response from the operation.

[2022-01-28 17:52] b-hchen commented on #87126
@netapp-rlithman - Thank you, Rachel!  We'll take this to the ANF SMEs to verify.

cc: @b-ahibbard

[2022-01-28 18:02] stevemunk commented on #86925
@Adam-GIT-MS This appears to be a bug. The Dev team is looking into this. I will provide an update as soon as it is resolved.

[2022-01-28 18:04] MarileeTurscak-MSFT commented on #87133
@JIBIN-P
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 18:04] DaveMenist opened #87134 "Custom policy instructions can be very daunting and convoluted"
So, this article discusses a bunch of technical profiles to add to one of the .XML files.

I think to assure customers don't get wrapped up in confusion, that we should be stipulated EXACTLY the lines these portions should be added, and provide a full output example of what the starter pack files should look like after the suggested modifications.

I see WHAT to add, don't understand WHERE to add

[2022-01-28 18:05] RyanHill-MSFT commented on #87127
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-28 18:07] kobulloc-MSFT commented on #87119
@ezYakaEagle442 Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-01-28 18:08] AHelsby opened #87135 "Recommend stating these commands will only work on vmware migrations."
[Enter feedback here]
Although this section is under vmware, it is not clear that most of the az.migrate commands  **only** work for vmware migrations and not migrations done from a hyper-v source.
See https://github.com/Azure/azure-powershell/issues/14885 for a similar issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-28 18:12] kobulloc-MSFT commented on #87130
@dcaro Thank you for your feedback!  We are assigning this to the document author for further review.

Current sample based off of `az acr import`:
https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-import

Proposed PowerShell cmdlet:
https://docs.microsoft.com/en-us/powershell/module/az.containerregistry/import-azcontainerregistryimage?view=azps-7.1.0

[2022-01-28 18:15] MarileeTurscak-MSFT commented on #87133
I made a pull request to include this and will leave it open for review by @jo-arroyo

https://github.com/MicrosoftDocs/azure-docs-pr/pull/186658

[2022-01-28 18:15] #87133 closed

[2022-01-28 18:18] flang-msft commented on #84453
@philon-msft Thanks for your assistance on this.
@massimoforni-turboden - based on your reaction. I will close this issue.
Thanks for your dedication to the documentation and for reaching out to us with this issue.
#please-close

[2022-01-28 18:18] #84453 closed

[2022-01-28 18:19] tamram commented on #86994
@kasimrehman - Okay, I've clarified that sentence to note that those tools do not work for all scenarios.

[2022-01-28 18:35] MarileeTurscak-MSFT commented on #87124
Thanks for the feedback and apologies for the inconvenience! Welcome emails are enabled by default but you should be able to disable these via the  `-UnifiedGroupWelcomeMessageEnabled` switch.
https://docs.microsoft.com/en-us/powershell/module/exchange/set-unifiedgroup?view=exchange-ps

I made a pull request to update the instructions and will leave it open for review by @curtand.
https://github.c

[2022-01-28 18:35] #87124 closed

[2022-01-28 18:41] MarileeTurscak-MSFT commented on #87134
@DaveMenist
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 18:41] romankiss commented on #86005
Thanks @sandeeppujar, I have just published my article [Azure IoT Central Tester](https://www.codeproject.com/Articles/5322753/Azure-IoT-Central-Tester), so I would like to update this issue.

Thanks again
Roman

[2022-01-28 18:50] dlepow commented on #87130
#reassign @tejaswikolli-web

[2022-01-28 18:55] b-hchen commented on #87126
@netapp-rlithman, @okrause - Thanks again Rachel and Oliver! I checked with the ANF SMEs and leads.  It was determined that the ANF docs should remain as is.  Let me know if further discussion is needed, and I'll forward the email.

cc: @b-ahibbard

#please-close

[2022-01-28 18:55] #87126 closed

[2022-01-28 18:57] mike-urnun-msft commented on #87104
Hello @kbaken - Thank you for sharing your feedback. Could you elaborate?

[2022-01-28 18:57] aahill commented on #86678
@lafranke can you tell us more about the block you're encountering? For example, screenshots or copy/paste of any error messages would be very helpful.

[2022-01-28 19:02] anschul opened #87136 "Add section highlighting exact rules needed in custom NSG while utilizing kubenet"
The following NSG rules are required when utilizing kubenet and using a custom NSG on your AKS subnet.

Inbound pod cidr to pod cidr
Inbound pod cidr to vnet
Inbound vnet to pod cidr

Outbound vnet to pod cidr
Outbound pod cidr to vnet
Outbound pod cidr to pod cidr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c57

[2022-01-28 19:06] Jerry-GeGarcia opened #87137 "Please double check the link to the adu cmdlets location in github"
This is pointing to the to be released v0.8.0 release location, but I'm not sure the paths look right when comparing to the available v0.7.0 release. Mind double checking please?

"There are also sample scripts for creating import manifest programmatically in Azure/iot-hub-device-update at GitHub."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-01-28 19:12] #75321 closed

[2022-01-28 19:15] kobulloc-MSFT commented on #86681
@stefanes Usually if there is a difference between the documentation and the portal, the portal has the most up to date information (as documentation updates closely follow product changes).  We're still in the process of confirming this with the product group and will publish the update once we get that confirmation.

[2022-01-28 19:18] joedevgee opened #87138 "azure_error_code: MissingSubscriptionRegistration"
I'm using Bicep to deploy my data bricks workspace. But when trying to start a cluster in data bricks. I got this error which is not listed in the doc:
The subscription is not registered to use namespace 'Microsoft.Compute'. See https://aka.ms/rps-not-found for how to register subscriptions.

FYI, bicep code for data bricks:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-01-28 19:19] vacuvi commented on #86870
Hello team! Can we please get an update here? @kenwith  @JamesTran-MSFT

[2022-01-28 19:22] artsheiko opened #87139 "--aad-token param is deprecated"
`databricks configure --aad-token`
must be replaced by
`databricks configure --token`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bb00ae-8ec1-0000-4972-5dfd22983982
* Version Independent ID: 8a8a2723-9a42-1f24-80c4-9c44b59372e2
* Content: [Databricks CLI - Azure Databricks](https://docs.microsoft.com/en-us

[2022-01-28 19:24] SatishBoddu-MSFT commented on #87137
@Jerry-GeGarcia
I have assigned the issue to the content author for further review.

[2022-01-28 19:27] artsheiko commented on #87139
solved by upgrading databricks cli : `pip install databricks-cli --upgrade`

[2022-01-28 19:27] #87139 closed

[2022-01-28 19:28] SatishBoddu-MSFT commented on #87117
@dgkelaidonis Thanks for the Document Feedback!

Our SME will review your feedback!

[2022-01-28 19:33] JamesTran-MSFT commented on #86870
@anthony-gregg
Thank you for following up on this!

When it comes to troubleshooting or implementation issues, you'll have to leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue details there. This way our community, and MVPs can further assist you in troubleshooting or finding potential workarounds.

As for adding a more detailed explanation, along w

[2022-01-28 19:35] YutongTie-MSFT commented on #87098
\
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-28 19:36] YutongTie-MSFT commented on #87106
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-28 19:44] nirmalneupane opened #87140 "Please provide how to check for TAXII Connector Logs in Azure"
Hello

We suspect that not all of the indicators are being downloaded. Please provide the instructions to check for logs created by this connector.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 699f3e4f-8774-34a0-2553-29bdfdcee61d
* Version Independent ID: f847cf74-9e58-86b3-8490-d7a9de3f1c83
* Content: [Connect Micro

[2022-01-28 19:57] dlepow commented on #87013
Thank you @AspenForester and @LCKeith for contacting us and for the feedback. We're investigating the right way to clarify this issue in the docs.

[2022-01-28 19:57] rido-min opened #87141 "Cannot configure API permissions"
Followed the tutorial, blocked on the step `Provide API permissions`

When I search "azure digital twins" under "APIs my organization uses" I only see "Azure Digital Twins Deployer -Dev".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aa753b2-17c6-d7d7-1550-85a19c1a4492
* Version Independent ID: 772f5f5e-026b-c405-1c4

[2022-01-28 20:16] blogero45 opened #87143 "Azure Site Recovery Configuration Server for Physical Servers"
https://docs.microsoft.com/en-us/azure/site-recovery/deploy-vmware-azure-replication-appliance-preview

The page talks about Site Recovery Configuration Server for physical servers, but only provides the installation guide for VMware VM's and using the OVF file.  Where is the section to installing the Site Recovery Configuration Server for physical servers?

---
#### Document Details

⚠ *Do not ed

[2022-01-28 20:22] SadiqhAhmed-MSFT commented on #87143
@blogero45 Thank you for your post. The steps for installing configuration server for VMware and Physical servers is the same.

[2022-01-28 20:23] Jiannko opened #87144 "azure-application-insights-pageview-vs-sharepoint-page-views"
Inorder to Monitor the Sharepoint pages with Azure Insights.
I have deployed an spfx solution with the corresponding instrumentation key of the Application Insight to all the sites that I want to track.
I can see the entries popping up in the PageViews table but noticed a significant discrepancies between the between Azure Insights pageViews and Sharepoint pageviews
Example
One page we have 364 pa

[2022-01-28 20:31] mamccrea commented on #85646
#assign: @mamccrea

[2022-01-28 20:31] YutongTie-MSFT commented on #87111
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-28 20:42] MartinJaffer-MSFT commented on #87128
Thank you for bringing this to our attention.  I will let you know when I have more information

[2022-01-28 21:11] NHSharePointGuy opened #87145 "Dynamics 365 Sales Premium Missing"
We have SKU 749742bf-0d37-4158-a120-33567104deeb. How can I find the associated Service Plan IDs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azur

[2022-01-28 21:31] blogero45 commented on #87143
The directions only show a download of the OVF file that is VMware native. So, we are uploading a VM.  How does that translate to an environment with physical servers?

[A picture containing text  Description automatically generated]
BRENT LOGERO
Digital Solutions Area Specialist
U.S. Enterprise Digital Sales
Mobile: 720.296.4670 | VOIP: ‪720.441.2128

            [Graphical user interface, text,

[2022-01-28 21:38] santhoshb-msft opened #87146 "Issue with specifying the resourceUri definition"
To avoid confusion, can we please change the below

"For Azure Application Managed Apps plans, the resourceUri is the **_Managed App resource group Id_**"
 to
"For Azure Application Managed Apps plans, the resourceUri is the **_Managed App resource Id_**"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4318999-c1d5-319f

[2022-01-28 21:40] musekmkr opened #87148 "Outdated (abandoned) scripts"
The install-aadGraphModule.ps1 script that is part of the recommended script package linked [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-signing-key-rollover#how-to-test-your-application-to-determine-if-it-will-be-affected) fails with several errors as it contains some pretty old nuget URLs and packages.  Can you please update this or provide an alternati

[2022-01-28 21:44] JamesTran-MSFT commented on #87145
@NHSharePointGuy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-28 21:45] JamesTran-MSFT commented on #87148
@musekmkr
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-28 21:45] kobulloc-MSFT commented on #87136
@anschul Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-01-28 21:50] mbiver opened #87149 "Add command to insert into FSTAB"
Hello, team.  wondering if we want to add a command to this page to help them insert their UUID entry into the FSTAB file.  just to be a little more convenient for users.  Perhaps something like the commands below?  Just a thought.  Thanks.

#Automatically gets the UUID and inserts the rest of specifications into FSTAB file

echo " $(blkid | grep /dev/sdc1 | awk '{print $2}') /datadrive xfs defaul

[2022-01-28 21:51] kobulloc-MSFT commented on #87057
@StuBeck32 No worries!  We'll get the documentation updated shortly.

[2022-01-28 21:52] hurtn commented on #53726
Hello, I can confirm I am also receiving this error on the Linux premium plan. Please could you advise if there was a fix since? Thank you

[2022-01-28 22:03] MonikaReddy-MSFT commented on #87146
@santhoshb-msft - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-28 22:03] #87146 closed

[2022-01-28 22:08] AdanOrtiz opened #87150 "Self-Hosted Integration Runtime and Private Endpoints"
The [Ports and Firewalls section](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime?tabs=data-factory#ports-and-firewalls) indicates that wildcard DNS records such as `*.core.windows.net` must be opened in the corporate firewall. However, it is not clear or specifically called out that, when using private endpoints, only the private endpoint fully qualified

[2022-01-28 22:18] willcoxson opened #87151 "Device State explanations not correct for Windows 11 Pro"
Trying to troubleshoot why I can't login. It mentions the status for three items in Step 2:

1.  DomainJoined
2. WorkplaceJoined
3. AzureAdJoined

I have Windows 11 Pro. My computer has DomainJoined (No), AzureAdJoined (yes), but no WorkplaceJoined item. It does have an EnterpriseJoined (no) item. So, a problem with the documentation is that on Windows 11 Pro, it has EnterpriseJoined rather than W

[2022-01-28 22:20] MonikaReddy-MSFT commented on #86984
@SREbuilt - There are no plans for VM insights guest health to support SUSE Linux Enterprise server.

Hope this helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-28 22:20] #86984 closed

[2022-01-28 22:21] MonikaReddy-MSFT commented on #86661
@vgorbenko - Thanks for providing your insights and raising the PR.
@atkulp - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-28 22:21] #86661 closed

[2022-01-28 22:26] MartinJaffer-MSFT commented on #86919
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-01-28 22:26] #86919 closed

[2022-01-28 22:32] MonikaReddy-MSFT commented on #87066
@mwsutherland - Thanks for sharing the ticket number with us. Hope that the issue gets resolved to you soon.

At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-28 22:32] #87066 closed

[2022-01-28 22:33] kobulloc-MSFT commented on #87149
@mbiver Thank you for the feedback!  I've assigned this to the document author for further review.

[2022-01-28 22:42] TerryLanfear commented on #87089
@yutaro113 - Thank you, again, for the feedback. Please let us know if you feel your questions have been answered and it is OK to close this PR. Thanks!

[2022-01-28 22:43] KranthiPakala-MSFT commented on #87138
We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2022-01-28 22:45] KranthiPakala-MSFT commented on #87150
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@lrtoyou1223 - Could you please review the above feedback? - Thank you

[2022-01-28 22:53] bigtfromaz opened #87152 "Describe the need for a redirect URI"
This would be a great place to describe the need for a redirect URI. There is nothing here that describes, points to documentation that describes, the need for a redirect URI and how it is defined and created.  It was actually easier to set up Google as a provider than Microsoft and you control the entire stack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-01-28 22:56] MonikaReddy-MSFT commented on #86683
@zipon - Yes please file a new bug report.

[2022-01-28 23:01] MonikaReddy-MSFT commented on #86771
@cpdohert - Thanks for bringing it up. I have referred the link in the document as well and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-28 23:03] JamesTran-MSFT commented on #87152
@bigtfromaz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 23:07] KranthiPakala-MSFT commented on #86993
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply or open a new issue. We will gladly continue the discussion.

Thank you

[2022-01-28 23:07] #86993 closed

[2022-01-28 23:09] JIBIN-P commented on #87133
Hii, I am not able to view the PR, it's giving me a 404😅.

[2022-01-28 23:10] JamesTran-MSFT commented on #87151
@willcoxson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-28 23:16] KranthiPakala-MSFT commented on #87111
@mssaperla - Could you please review the above feedback to see if the doc can be enhanced? - Thank you

[2022-01-28 23:22] GeethaThatipatri-MSFT commented on #86693
Hi @alvipeo, we understand your concern, we will update as early as possible into the portal, thank you again for your findings which help to improve the document. We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-01-28 23:22] #86693 closed

[2022-01-28 23:23] madhavtr commented on #53726
Hi Nick
Try with the newer version of the api as in the document. It worked for me.

[2022-01-28 23:39] mxplusb opened #87153 "Versioning for NER"
This document doesn't mention how new entities get added, updated, removed, etc. It would be helpful if it mentioned that, or if there was an API endpoint for which these could be queried.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbbbeb61-cd30-0558-9e40-2fc024e18286
* Version Independent ID: 23718a2c-9d6b-6f65-40

[2022-01-28 23:59] yutanglin16 commented on #86821
No, the RP's access doesn't replace the user's access. A user cannot select/import a certificate from a KV to App Service if they don't have access to it -- THAT would be a security issue because that would mean I can just grab anyone's cert as long as I know the cert name and KV resource ID. In that scenario, you'll get some error about the user not having permissions to some scope in KV.

Granti

[2022-01-29 00:08] yutanglin16 commented on #75743
@NavtejSaini-MSFT @Grace-MacJones-MSFT @cephalin -- This doc isn't the correct one for the GH Issue mentioned above. This GH Issue belongs to KV. This doc is the closest I can find: https://docs.microsoft.com/en-us/azure/key-vault/secrets/multiline-secrets

Kindly re-triage/re-assign. Thanks.

[2022-01-29 01:00] RyanHill-MSFT commented on #87127
Hi @NH2501, I believe you missed the [Grant access to the storage account](https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-storage?tabs=azure-cli%2Cprogramming-language-csharp#grant-access-to-the-storage-account) step. Double check the role assignments to ensure they are correct.

This is where you would use that object ID, however, you can retrieve it with CLI comman

[2022-01-29 01:04] rolyon commented on #86426
Hi @binte
Thanks for taking the time to provide feedback. To check for role assignments with identities that possibly cannot be found in PowerShell, you can look for DisplayName and SignInName that are null. We made an update to the doc and let the team know about this behavior.
Let us know if you have any additional feedback.
thanks

[2022-01-29 01:05] rolyon commented on #86426
#please-close

[2022-01-29 01:05] #86426 closed

[2022-01-29 01:19] feacluster opened #87155 "The link to the OSU benchmarks appears to be broken fyi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbe00d45-6f18-5537-1ccc-2e86927ed114
* Version Independent ID: bb5f5c1a-01ec-b61b-db1b-3cbf30a0da0a
* Content: [Set up Message Passing Interface (MPI) for HPC - Azure Virtual Machines - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/vi

[2022-01-29 01:26] brittanyrowe commented on #86572
If the question is regarding a VPN into the host itself, then no. You cannot access the host directly.

You should be able to create a VPN using the documentation @kobulloc-MSFT provided in a previous comment and connect it to a VPN placed on Azure Dedicated Host.

[2022-01-29 01:30] AlphaStr opened #87156 "this does not apply to excel 365 for business"
this tutorial does not apply to 365, when i go to the menu  get data->from azure the only option is from azure data explorer, none of the other options mentioned here are displayed especially not the one needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4665519-c7fa-01ec-d2bf-ae324f13a76b
* Version Independent ID

[2022-01-29 01:35] kobulloc-MSFT commented on #86996
@Klaas- I've reached out internally and am following up on the reports that you've made.

[2022-01-29 01:39] VanMSFT commented on #87156
Hi @AlphaStr - Thanks for the feedback. This article is meant for the Windows application of Excel, and not Office 365. We don't specifically list all versions of Excel this document is meant for, as there can be many features in Office 365 supported at different levels.

[2022-01-29 01:39] VanMSFT commented on #87156
#assign:VanMSFT

[2022-01-29 01:40] VanMSFT commented on #87156
Please feel free to add additional comments to this issue. For now, we will close this as there are no documentation issues. Thanks again for your feedback.

#please-close

[2022-01-29 01:40] #87156 closed

[2022-01-29 01:44] cat-mucius opened #87157 "Azure Application Gateways do not resolve Private Endpoints of storage accounts via custom DNS servers"
Good day,

I got a couple of setups looking like this:

- An Application Gateway (`WAF V2` or `Standard V2`) is placed in a VNET configured with custom DNS servers (They were restarted after the last change in this DNS servers list, so they are updated).
- These custom DNS servers are used to resolve addresses of Private Endpoints - for App Services and for static websites on Storage Accounts - an

[2022-01-29 01:57] ebibibi commented on #65655
I have sake issue.

[2022-01-29 03:59] weeyeh opened #87159 "Double "single""
The statement

"Linked-based SSO enables Azure AD to provide **single SSO** to an application that is already configured for SSO in another service." should read "Linked-based SSO enables Azure AD to provide **SSO** to an application that is already configured for SSO in another service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-01-29 04:35] ethanhou99 commented on #87088
Hi @AnuragSingh-MSFT , thanks for your support！

It's working now! It seems like my Azure Policy environment had some issues yesterday, since after I created that custom policy I waited for few hours for the Azure Policy to produce a result but I got nothing. Today I tested again and the result looks good to me.

Thanks again for your help!

[2022-01-29 04:35] #87088 closed

[2022-01-29 06:18] CNHume opened #87160 "More Content Less Hype Please"
It would have been much preferable just to hear a video presentation by Varun Karandikar.  The constant, and to some extent condescending cheerleading by Christos Matskas was a big distraction for me.  While I can appreciate the value of having an enthusiastic Introduction and Recap, viewers want to focus on the content and don't really need to be constantly reminded how excited someone else may b

[2022-01-29 06:52] fbaeumer commented on #51432
Same situation here. Some steps are hanging for days without further information. So, are the jobs gone in these situations?! While EN-DE is working fine, EN-ES and EN-JA are hanging in "Data Processing" now for more than 11 hours.

[2022-01-29 07:05] VigilanteWang commented on #83544
@SubhashVasarapu-MSFT Is adding RBAC keyvault cert available in portal?
 Tried to reference a certificate in a RBAC keyvault in Azure China cloud, it works by just following the same step as access policy model, powershell is not required. The keyvault is created with RBAC model, so there is no access policy.
@jonathan-martin-endava It might be different in Azure Global, is it now working for you?

[2022-01-29 07:12] AnuragSharma-MSFT commented on #87135
@AHelsby Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-29 07:41] micrajesh commented on #86087
Really anything is working, don't charge in the the bill

[2022-01-29 08:02] SDFVasantHorapeti opened #87162 "How to read custom attribute values through MS Graph API"
This document says, MPS Graph API supports to read and write custom attribute defined(extension_ApplicationClientID_attributename). Can you explain in detail what steps to be followed to read/write a custom attribute through MS Graph API from a daemon application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c29c26fd-

[2022-01-29 08:38] TedaLIEz commented on #87041
I didn't find anything related to this CONTAINER_SKIP_CONFIGURATION in the documentation, I only found this in the log and in a wiki page: https://github.com/Azure/app-service-windows-containers/wiki/things-you-should-know#your-container-starts-when-testing-locally-but-immediately-exits-or-fails-to-start-on-app-service

[2022-01-29 08:54] rabbyn commented on #86824
Hello @chanuengg , thanks for your reply, I'm looking forward for Purview lineage on PBI datasets as well as scan compatibility for Synapse LakeDB in 2022

PS : If I want to follow those 2 features on [Azure Purview Customer Feedback](https://feedback.azure.com/d365community/forum/82d7bddb-fb24-ec11-b6e6-000d3a4f07b8), would you know which ones are they ?

[2022-01-29 09:10] AjayKumar-MSFT commented on #87139
artsheiko,  Thanks for leveraging Azure docs feedback channel to raise this question.
Much appreciate the follow-up and sharing the solution that worked for you with the community.

[2022-01-29 09:16] AjayKumar-MSFT commented on #87033
danmyhre,  Thanks for leveraging Azure docs feedback channel to raise this question.  We appreciate your feedback.
Since the thread is closed, I presume the issue is sorted out. If you have any questions please tag @ShaikMaheer-MSFT in your reply, we will gladly continue the discussion.

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting co

[2022-01-29 09:23] extromen13 commented on #60494
Hi,
is there some fix for this error message?
Thank you

[2022-01-29 09:23] AjayKumar-MSFT commented on #87140
@nirmalneupane,  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-01-29 09:24] AjayKumar-MSFT commented on #87141
@rido-min,   Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-01-29 09:27] AjayKumar-MSFT commented on #87144
@Jiannko, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-29 09:51] ShaikMaheer-MSFT commented on #87153
@mxplusb Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-29 09:55] ShaikMaheer-MSFT commented on #87155
@feacluster Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-29 09:59] ShaikMaheer-MSFT commented on #87157
@cat-mucius Could you please help with pointing exact documentation page link which you are referring here.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-01-29 10:00] ShaikMaheer-MSFT commented on #87159
@weeyeh Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-29 10:01] ShaikMaheer-MSFT commented on #87160
@CNHume Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-29 10:03] ShaikMaheer-MSFT commented on #87162
@SDFVasantHorapeti Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-29 11:28] cat-mucius commented on #87157
Well, if Application Gateway indeed sends some queries to custom DNS servers, and some - to Azure built-in DNS, ignoring the custom service by some unclear criteria - then first of all this should be mentioned in https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq.

Right now the FAQ doesn't mention anything like this.

[2022-01-29 12:11] sethsnel opened #87164 "Ambiguous examples of azure_static_web_apps_api_token"
In step 9 of chapter: "Create the Pipeline Task in Azure DevOps"
It states the `azure_static_web_apps_api_token` as `env` as opposed to `input`.

This is confusing because in step 4 of the same chapter `azure_static_web_apps_api_token` is used as `input`.

Also, it seems that there are functional differences between the two.
Where assigning the api_token as input can use variables defined in a Dev

[2022-01-29 12:41] AmitavaHazra opened #87165 "Swagger file API is not working"
Reference:
https://docs.microsoft.com/en-us/azure/connectors/connectors-native-http-swagger

I tried to test with mentioned end point.
https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/export?DocumentFormat=Swagger&ApiName=Face%20API%20-%20V1.0

but it is failing while we run a trigger.
{
    "statusCode": 401,
    "headers": {
        "apim-request-id": "9a6c60cd-f

[2022-01-29 13:04] madhugilla opened #87166 "src code for the containerapps-queuereader"
[Enter feedback here]

please provide a link to the src code  for the containerapps-queuereader
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4cd4d6-a8dc-0f6c-1f1b-e051d208e295
* Version Independent ID: fa7b8568-09f3-16aa-cf21-c1e86feaf994
* Content: [Tutorial: Deploy a background processing application with Azure Co

[2022-01-29 14:31] ShaikMaheer-MSFT commented on #87164
@sethsnel Thank you for sharing feedback. we are actively validating it. We will share updates soon

[2022-01-29 14:32] rfsonders opened #87167 "Data Controller - indirect mode -not upgrading."
Attempting to upgrade ARc data controller - indirect mode. General Purpose SQL MIs only deployed
![image](https://user-images.githubusercontent.com/2422575/151664813-8dbe5671-c781-48c8-9a69-019ed1591be9.png)

I see a few opportunities for improvement. (a.k.a. bugs)New flags for logs.  They are both required. But, when executing, only one can be specified.az arcdata dc update --name pflexdc01 --res

[2022-01-29 15:16] larrybud2004 opened #87168 "Filtering dependency errors?"
How do we programmatically filter dependency errors? I've successfully filtered post and get exceptions but cannot find how to filter dependencies.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Independent ID: a4089752-177c-866c-7237-3ac02c7750d9
*

[2022-01-29 15:34] justinmchase commented on #86919
Ok, thank you for your time. I do wish you'd take the feedback regarding changing the default kafka port to heart though, it would be very helpful if that was configurable in a variety of situations.

[2022-01-29 15:39] AnuragSharma-MSFT commented on #86940
@chetta19 Thanks for reporting this. There is a lot of difference we have in the document. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-29 15:51] AnuragSharma-MSFT commented on #87018
@way0utwest Thanks for your patience. Service Quota related information is mentioned in below document. Having multiple databases per account limit is also part of same document.

[Per-account limits](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-account-limits)

<img width="455" alt="image" src="https://user-images.githubusercontent.com/66360845/151667546-15ababd7-4456-402f

[2022-01-29 17:02] DeanGross commented on #87109
it looks like this problem has occurred several times on the page. Please check all of the links.

[2022-01-29 17:51] martgut commented on #68401
Many Thanks for the detailed explanation - everything is clear now!

[2022-01-29 18:18] AjayKumar-MSFT commented on #87100
@mohantdurgan,  Just checking in to see if you have had a chance to see the previous response. Kindly let us know (share the doc URL) if you need further assistance  on this issue or is good to be closed.

[2022-01-29 18:47] rossdotpink commented on #86695
@csand-msft Thanks for the update and thanks so much for your work on the Flux extension! ❤️ I am really excited for it to GA

[2022-01-29 18:51] yvk-1970 commented on #86825
Thank you for the reply. I have used the latest version (2.32.0) of Azure CLI. The result was the same - only a resource group was created. I think the problem is I used free 30 days trial Azure subscription (200$ for 30 days trial). It looks like the project does not work with a free Azure subscription.Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: SnehaAg

[2022-01-29 19:39] YutongTie-MSFT commented on #87166
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-29 19:40] YutongTie-MSFT commented on #87167
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-29 19:41] YutongTie-MSFT commented on #87168
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-29 20:18] jikuja opened #87169 "VPN Gateway packet capture documentation should have more information about SAS URL"
Current documentation is really vague about SAS URL and the linked Powershell documentation does not really help. The following information should be mentioned on this page:

* SAS URL must include container name. Otherwise packet capture will use the current year as the name of the container
* Named container must exist on the target storage account. Otherwise, dump will fail with `Error: An inte

[2022-01-29 20:43] sethsnel commented on #87164
One note, I discovered that the solution to an issue I had was fixed by adding `-o tsv` to the az cli command. So perhaps there is no functional difference in using the API token as env or input.

Still, the ambiguous use age in the docs could be verified.

[2022-01-29 23:08] NH2501 commented on #87127
Hi, thank you for getting back to me.
I think I've checked that several times. Tried both system and user assigned managed identity.

I got a simple C# function app for upload/download to the blob container.
Function app has a system assigned MI with storage blob data contributor role assigned to the correct storage account within the same resource group.

The role assignment is visible from the s

[2022-01-29 23:44] ram-msft commented on #87032
Thanks, @jhirono Could you please review and help to update the document.

[2022-01-30 00:27] YutongTie-MSFT commented on #87165
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-30 00:28] YutongTie-MSFT commented on #87169
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-30 01:12] patrickjlee opened #87171 "Please clarify how this page is meant to be used e.g. via Postman, or code? Also at what stage are login credentials entered?"
This page is unclear as to whether it will allow a user to request an access token via Postman, or their browser, or whether they have to write code to handle the responses.  I couldn't get it to work.  It would be helpful if it explained how you are supposed to use it, and at what stage a login page will appear so that you can enter userid and password?  Thanks

---
#### Document details

⚠ *Do n

[2022-01-30 01:25] navenkat opened #87172 "The parameter "SKU" is incorrect"
[Enter feedback here]
The parameter "SKU Standard" is causing the command to fail...
New-AzOperationalInsightsWorkspace -Location $Location -Name $WorkspaceName -Sku Standard -ResourceGroupName $ResourceGroup

New-AzOperationalInsightsWorkspace : Operation returned an invalid status code 'BadRequest'
At line:1 char:1
+ New-AzOperationalInsightsWorkspace -Location "central us" -Name "pack ...
+ ~~~

[2022-01-30 03:11] KrishnaG-MSFT commented on #87172
@navenkat Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-30 04:28] ShaikMaheer-MSFT commented on #87171
@patrickjlee Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-30 05:53] macux commented on #83901
Hitting a similar issue to @longtimedeveloper, I am hitting [this issue](https://github.com/Azure/Azurite/issues/1002) which has been fixed since last year but my version of Azurite with VS 2022 is 3.14.1 as above and I need at least 3.14.3.

There doesn't appear to be any docs about how you can ask VS to upgrade Azurite, stuff magically working in the background is great until it doesn't work! Th

[2022-01-30 08:06] audunsolemdal commented on #66112
I am not able to get this to work.

I have multiple function apps using private endpoints and trying to communicate over event grid. I have tried both a public event grid topic, and one using private endpoint (in the same VNET as the function apps with private DNS zones set up)

I am able to publish events on the event grid without issue, but the Azure Monitor metrics show "Delivery Failed Events"

[2022-01-30 08:16] audunsolemdal opened #87173 "Clarify statements with regards to private endpoints for event grid topics"
[Enter feedback here]

[code]

I have multiple function apps using private endpoints and trying to communicate over an event grid. I have tried both a public event grid topic, and one using private endpoint (in the same VNET as the function apps with private DNS zones set up).

From the quoted statement, I would assume that since my private endpoint Event Grid Topic and my Azure Functions connecte

[2022-01-30 10:49] v-amallick commented on #85675
Hi @Joh-nnyC,

As we didn't get your response, we're proceeding to close this issue. Please get back to us, if the issue persists or you've more queries. We'll be happy to continue our conversation.

Thanks.

#please-close

[2022-01-30 10:49] #85675 closed

[2022-01-30 12:53] longtimedeveloper commented on #83901
@macux I **strongly** agree.  Developers need to be able to update Azurite between VS 2022 releases.

[2022-01-30 13:51] msnitish opened #87175 "Attestation of Confidential VMs"
In this current documentation page, the follow statement is written :

**Q1.** Can **_Azure Attestation service_** be used to attest the confidential VMs (based on AMD SEV-SNP) ?

**Q2.** Do VBS enclaves also include Confidential VMs (based on AMD SEV-SNP) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b22057d4-94e3-

[2022-01-30 13:54] msnitish commented on #85905
@VikasPullagura-MSFT
Thank you for the reply and assigning the issue to @edendcohen.
I was curious to know if you could also add more members/ assign it to other members too so that they would be able to look into this issue and reply ?

[2022-01-30 14:52] Diran-io commented on #7731
This really needs attention. It is seriously impacting my team's ability to scale our policy initiatives across multiple management groups
![policy_parameter_error](https://user-images.githubusercontent.com/84728639/151704773-bccc995a-e608-432f-b765-db29331a2f59.png)

[2022-01-30 14:58] thelzycoder opened #87176 "Error on starting postgres flexible server with sku name `Standard_B1ms`?"
There is an error when running the code:
[code]

The error that we get is:
[code]
What should be the correct value for sku-name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a96d5fc-0dd1-a344-5416-44039cee39b8
* Version Independent ID: 72844ca4-b087-de15-be00-e0d87020a48b
* Content: [Tutorial: Deploy a Python Django

[2022-01-30 15:33] wsmelton opened #87177 "Define what SQL Server files are for host caching"
Under Checklist item on the bullet points for host caching has the following bullet points:

- Set host caching to read-only for data file disks.
- Set host caching to none for log file disks.
   - Do not enable read/write caching on disks that contain **SQL Server files.**
   - Always stop the SQL Server service before changing the cache settings of your disk.

Is this referring to SQL Server Log

[2022-01-30 16:33] memildin opened #87178 "Products have rebranded but you're still using the old names"
Please update this page to reflect the new names of the following products:

- Azure Sentinel --> Microsoft Sentinel
- Azure Security Center --> Microsoft Defender for Cloud

These products were renamed at Ignite 2021.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592ccdb-4c92-7da9-aeb3-e93cf8cb3512
* Version Indepen

[2022-01-30 16:45] shashishailaj commented on #87173
@audunsolemdal Thank you for your feedback . We will investigate and update the thread.

[2022-01-30 17:01] KrishnaG-MSFT commented on #87178
@memildin Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-30 18:03] AjayKumar-MSFT commented on #87100
mohantdurgan, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-01-30 18:03] #87100 closed

[2022-01-30 18:13] AjayKumar-MSFT commented on #87103
@GrantMeStrength, Requesting your comments on this feedback.

[2022-01-30 18:32] ShaikMaheer-MSFT commented on #87175
@msmbaldwin Could you please check customer ask and share info?

@msnitish Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-01-30 18:34] ShaikMaheer-MSFT commented on #87176
@thelzycoder Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-30 18:35] ShaikMaheer-MSFT commented on #87177
@wsmelton Thank you for sharing feedback. We are actively validating it. we will share updates soon.

[2022-01-30 19:17] kmb385 opened #87179 "Quickstart: Protect an ASP.NET Core web API with the Microsoft identity platform seems incomplete"
This quickstart provides a quick synopsis of how to protect a web api with Microsoft Identity platform, however it lacks any description of how to securely call the api once the security scheme is established.  Without these instructions the learner will always encounter 401 errors when sending requests to the API or they will need to do additional research to learn how to obtain an access token t

[2022-01-30 19:25] YutongTie-MSFT commented on #87179
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-30 19:26] kmb385 commented on #87179
Awesome!  Glad to provide any additional feedback on the item.  Thanks for looking into it.

[2022-01-30 19:52] AjayKumar-MSFT commented on #87114
jometzg, This doc 'Authentication and authorization - Azure App Service' does point to the URL you suggest to be linked, under "Recommended content". I hope this helps. Thanks again for your feedback.

![image](https://user-images.githubusercontent.com/44606227/151715216-18fe184a-d28f-4b1b-8532-567e04656bca.png)

[2022-01-30 20:39] OTDani opened #87180 "Why does PreTaxCost does not actually equals the invoiced amount?"
Hi,
I found that PreTaxCost does not match the actual cost being billed in many times, usually it's higher than the actual billed amount you can see in e.g the Azure Portal Cost analysis .

Could you please clarify when does this field match account's usage cost and in which cases it does not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-01-30 21:23] bartlannoeye opened #87181 "Deploy to Azure button not rendering"
Related to #86659, problem exists in a few more pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79bffab-0af8-75fc-f800-73eb979611ad
* Version Independent ID: ca382131-4030-d1ba-44d4-35309bb91f94
* Content: [Azure Event Grid trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/funct

[2022-01-30 21:31] halkazwini commented on #77565
Hi @SaiKishor-MSFT,
Just wanted to follow up with you about this issue, it is still missing the rest of the text:
![image](https://user-images.githubusercontent.com/85655443/151718697-f11d8ac8-6660-4078-9537-0169faa9865e.png)

[2022-01-30 21:56] charlejc opened #87183 "Error using cosmosDbTrigger in Azure Serverless Function"
I get the following error when building:

Error in processing api build artifacts: the file 'UpdateRoom/function.json' has specified an invalid trigger of type 'cosmosDBTrigger' and direction 'in'. Currently, only httpTriggers are supported. Visit https://github.com/Azure/azure-functions-host/wiki/function.json for more information.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-01-30 21:58] charlejc commented on #87183
![image](https://user-images.githubusercontent.com/5399735/151719538-45caedd2-2284-449a-adb0-17f4d7467dfa.png)

[2022-01-31 01:54] brianwest opened #87188 "a232010e-820c-4083-83bb-3ace5fc29d0b is application (client) ID"
Azure Cosmos DB first-party-identity object (principal) ID is different per tenant.  a232010e-820c-4083-83bb-3ace5fc29d0b is the application (client) ID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d8489d0-7ec1-59bb-053c-014af93c4095
* Version Independent ID: ec72532b-c8ac-92c9-5bed-0e497660e4ea
* Content: [Configur

[2022-01-31 02:22] bobleujr commented on #63099
@jppitout it depends. If you want to do subdomain routing w/ frontdoor, it'd recommend you to create a rule engine and follow the above example. For kubernetes, the implementation will depend on your ingress gateway. Are you using istio or nginx or something else?

[2022-01-31 03:32] bmay-cloudwallcapital opened #87189 "Allowing end users to modify replyUrisWithType programmatically"
It would be very helpful to modify the replyUrisWithType array programmatically instead of thru the manifest, since the manifest itself can't be upload programmatically.

Are there any plans to add support for either replyUrisWithType changing or manifest updating via CLI/Powershell/API?

Thanks,
Barry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-01-31 03:36] MayankBargali-MSFT commented on #87181
@bartlannoeye Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-31 03:50] amanjeetsingh opened #87190 "Feedback - Add details on how to use custom handler and what's supported in context of GitHub actions"
If we want to deploy the custom handler Azure Function by GitHub Actions, it's not straight forward. For example, the following document explains how to deploy the Azure Function by GitHub Actions.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=dotnet

However, the document doesn't have an option for the custom handler.

Also, one of the options to use

[2022-01-31 04:03] marlabeau opened #87191 "tiny tin hearts"
[it's great isn't it]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75919910-c2c4-b678-44c0-62ed63fe8a1a
* Version Independent ID: c82be269-3182-f9f5-2d88-c95b258f969e
* Content: [Risk policies - Azure Active Directory Identity Protection](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/how

[2022-01-31 04:05] AnuragSharma-MSFT commented on #87188
@brianwest Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-31 04:17] amanmcse commented on #87180
@OTDani Thank you for your feedback. We will investigate and update the thread further.

[2022-01-31 04:22] tkent commented on #85511
I was also disappointed to see the blatantly wrong docs, exactly as described by @stefan-kiss. I came here to file an issue, only to find that one was already filed over a month ago.

[2022-01-31 04:25] amanmcse commented on #87090
@Norrch2 Azure AD B2C throttles traffic if too many requests are sent from the same source in a short period of time. Use several traffic sources while load testing, and handle the AADB2C90229 error code gracefully in your applications.

What you consider too many requests are documented here: **[Azure Active Directory B2C service limits and restrictions](https://docs.microsoft.com/en-us/azure/act

[2022-01-31 05:08] MayankBargali-MSFT commented on #87190
@amanjeetsingh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-31 05:18] tymtam2 opened #87192 "No feedback from bicep deployment"
It would be great if the article presented a solution where the deployment process shows running logs, if possible.

A pipeline as shown in the article will sit at the step which runs the script with no feedback until the deployment is done which can be several minutes. While in DEV this may just be inconvenient the closer to PROD the more uncomfortable this would become.

For example, for my simp

[2022-01-31 05:25] YutongTie-MSFT commented on #86973
@jhirono Hello, could you please check on this issue and update if necessary? Thanks a lot.

[2022-01-31 05:26] YutongTie-MSFT commented on #86986
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-01-31 05:26] #86986 closed

[2022-01-31 05:47] MayankBargali-MSFT commented on #86835
@dracosachin Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-01-31 05:47] #86835 closed

[2022-01-31 06:17] HighBridgeDragon commented on #86500
I'm facing the same problem.

In the "register-edge-device-on-hub" template, I think the "outputs.scriptOutputs.value" part is suspicious.
[code]

[2022-01-31 06:54] jppitout commented on #63099
Thanks, I'll try your recommendation and see if I can get it working. We're using nginx.

[2022-01-31 07:18] AnuragSharma-MSFT commented on #87018
@way0utwest Please let me know if above details help.

[2022-01-31 07:30] RohitMungi-MSFT commented on #86932
@mishrapratyush Please let me know if you need any help with raising a support case that could help lookup the configuration and advise on this scenario.

[2022-01-31 07:38] AnuragSharma-MSFT commented on #87052
@ChrisIsidora Thanks for your patience. I was able to grant the role to new user following the steps. Could you please confirm if you were connected to server using admin credentials?

[2022-01-31 07:44] AnnuKumari-MSFT commented on #87118
Hi @VitalyMCT ,
Thankyou for the ask. While creating dedicated sql pool directly from Azure Portal , I can still see :
1. Networking tab
2. Sample data inside Additional setting tab
![image](https://user-images.githubusercontent.com/96407195/151755895-71c47cb6-c19e-40d4-a6b0-3fcad70a3c49.png)
![image](https://user-images.githubusercontent.com/96407195/151755441-4651759e-715d-4b43-9ac6-d528739d78d1

[2022-01-31 07:46] shwetamathur7 commented on #86091
@holgjat
I have updated the description for Virtual Machine Contributor and sent the changes to author for review.

For Disk Snapshot Contributor,
"Assign the Disk Snapshot Contributor role to the Backup vault’s managed identity on the Resource group where backups are created and managed by the Azure Backup service. The disk snapshots are stored in a resource group within your subscription. To all

[2022-01-31 07:46] xaelsouth opened #87194 "Creating serial for subordinate CA"
See "Step 6 - Create a subordinate ca" [https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-openssl](url):
at my opinion the bash line with "openssl rand -hex 16 > ../rootca/db/serial" should be replaced with "openssl rand -hex 16 > ../**subca**/db/serial". You have stated below that for every subordnate CA a serial number has to be created.

---
#### Document Details

⚠ *Do not edit this

[2022-01-31 07:49] AnnuKumari-MSFT commented on #87099
Hi @@nabhishek ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-01-31 07:56] bartlannoeye commented on #87181
@MayankBargali-MSFT @craigshoemaker see the linked PR ;)

[2022-01-31 07:58] PramodValavala-MSFT commented on #86868
@endintiers the `Microsoft.Azure.Functions.Extensions` packages requires the [`Microsoft.Extensions.DependencyInjection`](https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/) package of a version `>=2.1` and the doc does mention that only 3.x or earlier versions are supported.

The case where someone was to install a version lower than 2.1, [a warning](https://docs.microsoft.com/e

[2022-01-31 08:02] PramodValavala-MSFT commented on #86880
@tomkuijsten Just following up here... Could you confirm if you are seeing the same behavior even when the lock duration is longer?

[2022-01-31 08:02] PramodValavala-MSFT commented on #87010
@bostevensspinakr Just following up here... Hope my previous comment clears things up.

[2022-01-31 08:08] endintiers commented on #86868
My point was that you don't NEED a reference to Microsoft.Extensions.DependencyInjection, because there is already one (in Microsoft.Azure.Functions.Extensions). Startup works fine if you don't include a reference to DependencyInjection.

By adding one you are overriding the version referenced in Microsoft.Azure.Functions.Extensions, which is OK (I guess) because that has no upper limit on the ver

[2022-01-31 08:09] #86868 closed

[2022-01-31 08:11] elbobinsight commented on #39711
up

[2022-01-31 08:13] shwetamathur7 commented on #87107
@agehrke We have updated the document for V2.0 Admin Consent and sent to author for review.

[2022-01-31 08:16] zipon opened #87195 "Bug in auto correcting an exercise if the storage account is not in the same region"
In https://docs.microsoft.com/en-gb/learn/modules/monitor-azure-vm-using-diagnostic-data/3-exercise-create-virtual-machine
you spin up a sandbox and in it it creates a storage account in the region closest to you. But in the exercise you are tasked to spin up resources in eastus2 and after that you try to do a completion check with the built in check and it wont pass. This because the storage acco

[2022-01-31 08:19] zipon commented on #86683
@MonikaReddy-MSFT ok great I filed it under #87195 . Do you know how you get feedback on the other bug I reported through the portal about the sandbox?

[2022-01-31 08:21] RohitMungi-MSFT commented on #87153
@mxplusb Currently there is no GET API to list the supported NER entities programmatically. The referenced page is updated by our content team based on the supported entities for all supported REST API versions. We will pass the feedback to our product group to check if an API can be added to list all the supported NER values along with other REST APIs. Thanks!!

[2022-01-31 08:33] AnuragSingh-MSFT commented on #87167
@rfsonders, thank you for pointing it out. I am assigning this thread to the author for review and update, as required.

@twright-msft, can you please review this thread and share your thoughts? Thank you

[2022-01-31 08:37] ChrisIsidora commented on #87052
@AnuragSharma-MSFT Yes, just as decribed in the issue I'm logged in using the admin username and password that was created during the creation of the single server resource.

[2022-01-31 08:43] #86546 closed

[2022-01-31 08:49] ciufudean commented on #86562
Hello, any progress on this one?

[2022-01-31 08:57] shwetamathur7 commented on #87086
@pmcilreavy During the policy execution, Azure AD B2C stores the claims including object ID in a temporary memory called a “claims bag” which is applicable  before and after  the creation of user object in the directory. This is stored in real-time to be utilized for any further steps in the policy.

[2022-01-31 09:04] SadiqhAhmed-MSFT commented on #87180
@OTDani This would need investigation. The issue could be with RI charges, refunds etc. Recommend you to raise a billing support request. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.

FYI: Azure Billing and Subscription Management support is included in the Basic Support Plan without any charge.
https://azure.microsoft.com/en-us/suppor

[2022-01-31 09:04] #87180 closed

[2022-01-31 09:08] AnuragSingh-MSFT commented on #87135
.

[2022-01-31 09:08] SadiqhAhmed-MSFT commented on #87143
@blogero45 Actually, in the preview page you linked is mentioned that physical machines are not supported:

![image](https://user-images.githubusercontent.com/44458118/151766447-1fab5c28-4407-431d-bf2e-24e72c1033d8.png)

But I haven’t tested to confirm it.

There are two classic options, one, you create a physical configuration server on-premises:
https://docs.microsoft.com/en-us/azure/site-recove

[2022-01-31 09:24] SnehaAgrawal-MSFT commented on #86885
@nkumars Thanks! You may want to check this document might be might be helpful: https://docs.microsoft.com/en-us/azure/app-service/operating-system-functionality#local-drives

As mentioned by @cephalin [here](https://github.com/MicrosoftDocs/azure-docs/issues/81740) that  "it's just that the drive letter is no longer spelled out, but using %SystemDrive% instead. It's much better for customers to u

[2022-01-31 09:32] AnuragSharma-MSFT commented on #87052
@ChrisIsidora Which tool are you using to connect to server?

[2022-01-31 09:37] AshokPeddakotla-MSFT commented on #87194
@xaelsouth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-31 09:47] ChrisIsidora commented on #87052
@AnuragSharma-MSFT pgAdmin 4 v6

[2022-01-31 09:49] SnehaAgrawal-MSFT commented on #86825
@yvk-1970 Apologies for inconvenience for this. Could you please try to follow the [updated document ](https://docs.microsoft.com/en-in/azure/app-service/quickstart-python?tabs=django%2Cwindows%2Cazure-cli%2Cterminal-bash%2Cvscode-deploy%2Cdeploy-instructions-azportal%2Cdeploy-instructions-zip-azcli&pivots=python-framework-flask#2---create-a-web-app-in-azure)for creating an App Service plan using

[2022-01-31 10:06] shashishailaj commented on #87195
@zipon Thank you for your feedback . We will investigate and update the thread.

[2022-01-31 10:09] ShachafGoldstein commented on #84061
Updating the docs to block `*.console.azure.com` might be helpful to allow people to actually block all methods (extensions, terminal, portal, etc) - also commented on https://github.com/Azure/azure-cli/issues/20414

[2022-01-31 10:10] shashishailaj commented on #87189
@bmay-cloudwallcapital Thank you for your feedback . We will investigate and update the thread.

[2022-01-31 10:12] shashishailaj commented on #87191
@marlabeau Thank you for posting to the azure-docs repository. We would like to request a little more clarity on this issue from you as we do not understand your query . In case you have any query related to  the document https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-identity-protection-configure-risk-policies , please let us know and we will help you further.

[2022-01-31 10:17] Karishma-Tiwari-MSFT commented on #86806
@mfthomps

To help us understand your question better, can you please elaborate on your ask?

Shared gallery images can be shared across tenants as described here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/share-images-across-tenants#give-tenant-2-access

If you are looking for something else, let me know and I will look into getting more information on that.

Thanks.

[2022-01-31 10:18] bamajeed commented on #86794
same issue here. any new input please?

[2022-01-31 10:28] AnuragSharma-MSFT commented on #87052
@ChrisIsidora This is interesting. I was able to successfully run the queries through the pgAdmin as well. Can you please try connecting through Bash as mentioned in below article? Just check the username as mentioned in the screenshot.

[Quickstart: Create an Azure Database for PostgreSQL server by using the Azure portal](https://docs.microsoft.com/en-us/azure/postgresql/quickstart-create-server-

[2022-01-31 10:49] ChrisIsidora commented on #87052
@AnuragSharma-MSFT  Same issue:
![image](https://user-images.githubusercontent.com/7924584/151780680-fbeea02e-d168-4f16-ba05-b84c09aba719.png)

[2022-01-31 10:54] PhiGegner commented on #87052
Hello @ChrisIsidora,
your issue might be related to a recent issue with an update of the Azure Database for PostgreSQL (see this conversation: https://docs.microsoft.com/en-us/answers/questions/712821/azure-postgresql-database-cannot-grant-role-to-my.html)

[2022-01-31 10:57] ChrisIsidora commented on #87052
@PhiGegner Thanks it is related, it states that it should be resolved now, but I still have the issue.

[2022-01-31 10:58] loris-s-sonarsource opened #87196 "Suggestion to add links to resources' log-related pages"
Hello,

I currently use this page and its "Service Specific Schemes" section to list in a simple way which resources support diagnostic logs and their tutorials. If I am completely wrong, please tell me so 😄

I suggest adding links to the rows that indicate "Schema not available".

For ExpressRoute:
- [Monitoring Azure ExpressRoute](https://docs.microsoft.com/en-us/azure/expressroute/monitor-expre

[2022-01-31 11:04] SwathiDhanwada-MSFT commented on #87196
@loris-s-sonarsource Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-31 11:10] AnuragSingh-MSFT commented on #87144
@Jiannko, thank you for posting the question. There are 2 _probable_ reason that I came across for such behavior

1. `navigatedEvent.add` getting fired multiple times. It is mentioned in the blog below along with the tweak to fix it. Please refer to "Tweak 2,..." section in this article.
[Record page hit when SPA page transitioning in modern SharePoint sites](https://blog.velingeorgiev.com/page-hi

[2022-01-31 11:12] shashishailaj commented on #87089
@yutaro113 Thank you for your patience with us. Hope the information provided was helpful . We will be closing this issue now. Should you still have any queries , please open a new issue tagging this one and we will continue to help you further with any queries.

Thank you

[2022-01-31 11:12] #87089 closed

[2022-01-31 11:12] AnuragSingh-MSFT commented on #87144
.

[2022-01-31 11:22] #86807 closed

[2022-01-31 11:23] Jiannko commented on #87144
1. The navigatedEvent.add function was followed from the same blog  post all the tweaks are included :-
https://blog.velingeorgiev.com/page-hit-when-SPA-page-transitioning-modern-sharepoint-sites
Note :- Page views from AAI is always less than the Sharepoint Page View

2. The sampling percentage is 100% for my Application Insight.

[2022-01-31 11:25] IanMoroney commented on #80263
@anavinahar , @GitaraniSharma-MSFT , @msmbaldwin ,

I'm pretty disappointed with the outcome of this issue.
As a community contributor who is interested in maintaining quality for the community, the response on this issue has left me with a bad taste in my mouth.

My feeling is now, "why bother submit any doc fixes at all any more".

The initial response from Microsoft was "tell us where it's brok

[2022-01-31 11:30] shashishailaj commented on #87108
@DeanGross We have initiated a change request and assigned it to the authors . Once they approve the change would be live on the official documentation . We appreciate your inputs .

[2022-01-31 11:31] #87108 closed

[2022-01-31 11:31] sharroy commented on #84897
@zeeshaanali Thanks for sharing the details. The changes suggested by you are indeed an improvement for our documentation. Thank you for your valuable input. Could you please close this request? Your suggested changes would be available in the document within 15 days.

[2022-01-31 11:38] sharroy commented on #86216
@Sikkesoft - I understand your concern. If there is no offering equal to SQL Server Plus in MP, then the request should not fail. Otherwise, if the same is available, it will fail. Kindly submit your image and we can help later with any complications.

[2022-01-31 11:44] ram-msft commented on #87051
@javitovarv  Thanks for the feedback, Here is link to the document to set up compute targets for model training and deployment.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-attach-compute-targets#whats-a-compute-target

We have forwarded to the product team to support in the near future.

We will now proceed to close this thread. If there are further questions regarding this mat

[2022-01-31 11:44] #87051 closed

[2022-01-31 11:46] cventr-agilelab opened #87197 "API not found about creating a personal access token on behalf of the service principal"
Quoting from the doc, it should be able to create a token for a service principal.

But in the linked APIs there's no endpoint for creating this token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4388a2ca-f34b-b83b-f315-4c5cd821d19f
* Version Independent ID: f97dbccf-bce5-b240-0813-046056a52254
* Content: [Manage se

[2022-01-31 11:47] ChrisIsidora commented on #87052
@AnuragSharma-MSFT Based on the reply of @PhiGegner I just recreated the PostgreSQL and now it works. Thanks for you help.

[2022-01-31 11:47] #87052 closed

[2022-01-31 11:51] #87007 closed

[2022-01-31 11:55] SnehaAgrawal-MSFT commented on #87007
@ukiguy Thanks again for the feedback! This is updated will be visible soon. We will close this out but if you feel you need more information please just let us know.

[2022-01-31 12:04] shashishailaj commented on #87109
@DeanGross We have initiated a change request and assigned it to the authors . Once they approve the change would be live on the official documentation . We appreciate your inputs .

[2022-01-31 12:04] #87109 closed

[2022-01-31 12:15] braghavendraknl opened #87198 "Is this allowed if I use custom image!"
I am using custom image (sysprep of 2019 datacenter) and I can see "Login with Azure AD" is greyed out.

Will this work only for Marketplace images?

[2022-01-31 12:17] slavizh opened #87199 "HDInsight clusters workbook cannot be found"
HDInsight clusters workbook cannot be found. Is this workbook not released yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6015786a-01a5-c01d-82bb-f375b5dc3a00
* Version Independent ID: 704bde40-76d9-e261-e0e0-ef7e5de6724b
* Content: [Use Azure Monitor logs to monitor Azure HDInsight clusters](https://docs.microsof

[2022-01-31 12:25] cephalin commented on #30782
Updated with info on Azure Identity client library for Java and links to code samples: https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513.

#please-close

[2022-01-31 12:25] #30782 closed

[2022-01-31 12:26] cephalin commented on #80504
Updated with info on Azure Identity client library for .NET and links to samples: https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513. #please-close

[2022-01-31 12:26] #80504 closed

[2022-01-31 12:28] cephalin commented on #77855
Updated per https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513. #please-close

[2022-01-31 12:28] #77855 closed

[2022-01-31 12:28] cephalin commented on #75418
Updated per https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513. #please-close

[2022-01-31 12:28] #75418 closed

[2022-01-31 12:29] cephalin commented on #72664
Updated per https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513. #please-close

[2022-01-31 12:29] #72664 closed

[2022-01-31 12:29] cephalin commented on #68935
Updated per https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513. #please-close

[2022-01-31 12:29] #68935 closed

[2022-01-31 12:29] cephalin commented on #64266
Updated per https://github.com/MicrosoftDocs/azure-docs-pr/pull/186513. #please-close

[2022-01-31 12:29] #64266 closed

[2022-01-31 12:42] mukul-p opened #87200 "Improvement in documentation"
[Enter feedback here]
After trying for an hour (also referencing https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-portal), realized few implication of this statement "Azure Cosmos DB RBAC is not same as Azure RBAC"
1. Custom data plane roles cannot be created using the Azure Portal
2. Built in data plane roles can't be assigned using the Azure Portal or the standard PS

[2022-01-31 12:44] #39546 closed

[2022-01-31 12:44] #87110 closed

[2022-01-31 13:11] blogero45 commented on #87143
So Azure Site recovery does not support physical servers at all?

[A picture containing text  Description automatically generated]
BRENT LOGERO
Digital Solutions Area Specialist
U.S. Enterprise Digital Sales
Mobile: 720.296.4670 | VOIP: ‪720.441.2128

            [Graphical user interface, text, chat or text message  Description automatically generated] <https://www.linkedin.com/in/brentlogero/>

[2022-01-31 13:12] roddick-mark opened #87202 "application gateway fails to be built where a NSG rule denys outbound traffic to/from virtual network"
When building an application gateway into a subnet with the following outbound NSG ruleset it fails, complaining outbound internet traffic is blocked (which it isn't).  Removing rule 4096 allows me to provision the application gateway, however I would like control over the outbound traffic for perimeter devices to my virtual network.

<img width="965" alt="Screenshot 2022-01-31 at 13 08 25" src="h

[2022-01-31 13:12] v-amallick commented on #84981
Hi @ctahok,

Request you to please refer to the following article to have IP connectivity:

- To  get started, see this [Quickstart: Direct web traffic using the portal - Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-portal) article. In this case, as you have a SQL VM, you can add that in the backend target using the Azure portal to create an Az

[2022-01-31 13:14] javitovarv commented on #87051
Hello @ram-msft ,

my question is about compute clusters https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-attach-compute-cluster?tabs=python#low-pri-vm, in the documentation there is no details about how the machine is preempted. Is possible to receive the preemption event before closing the process? In the case we receive the event and we can process it, what should be the ou

[2022-01-31 13:29] cephalin commented on #74345
Won't cover this dev-environment troubleshooting info. #please-close

[2022-01-31 13:29] #74502 closed

[2022-01-31 13:29] #74503 closed

[2022-01-31 13:29] #74506 closed

[2022-01-31 13:50] cephalin commented on #75743
#please-close as this is doc is not related to KV. Also, please keep in mind that the GitHub issues sections are for issues in the documentation. For issues encountered in the usage of Azure, please try https://answers.microsoft.com/.

[2022-01-31 13:50] #75743 closed

[2022-01-31 14:03] SadiqhAhmed-MSFT commented on #87143
@blogero45 You are getting confused between the classic and the new VMware replication appliance. Please refer to the documentation section "Disaster recovery for on-premises machines" - https://docs.microsoft.com/en-us/azure/site-recovery/

Check this FAQ link - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-common-questions#general might be helpful.

[2022-01-31 14:03] xaelsouth opened #87203 "Testing X509 authentication with azure-iot-sdk-for-c"
Under "Next Steps" you should definetely mention how to test generated certificates with [azure-iot-sdk-for-c](https://github.com/Azure/azure-iot-sdk-c). Something like:

The private device.key generated in the steps before is protected by a password, which can be left empty. For using the (password protected) device.key with [azure-iot-sdk-for-c](https://github.com/Azure/azure-iot-sdk-c)  the key

[2022-01-31 14:30] blogero45 commented on #87143
FYI
Set up disaster recovery of physical on-premises servers with Azure Site Recovery - Azure Site Recovery | Microsoft Docs<https://docs.microsoft.com/en-us/azure/site-recovery/physical-azure-disaster-recovery>

[A picture containing text  Description automatically generated]
BRENT LOGERO
Digital Solutions Area Specialist
U.S. Enterprise Digital Sales
Mobile: 720.296.4670 | VOIP: ‪720.441.2128

[2022-01-31 14:43] SadiqhAhmed-MSFT commented on #87143
@blogero45 Not quite sure what are you trying to convey here.

[2022-01-31 15:03] ctahok commented on #84981
Thanks a lot Abhishek!

Regards, Ilkin

On Mon, Jan 31, 2022 at 1:12 PM Abhishek Mallick ***@***.***>
wrote:

[2022-01-31 15:07] shashishailaj commented on #87112
@jeevansd @v-hagamp Could you please help with this document enhancement .

[2022-01-31 15:17] #86091 closed

[2022-01-31 15:17] #87107 closed

[2022-01-31 15:18] #87086 closed

[2022-01-31 15:19] way0utwest commented on #87018
Apologies, I don't typically respond to issues on the weekend, so I am a little delayed here.

This isn't really acceptable. The "Manage An Account" article is a practical, how-to article, so this isn't a place I would typically come to learn about how the service works, but rather then implementing or experimenting with the service. Same with the Service Quotas. That's a reference piece that isn'

[2022-01-31 15:21] rboucher commented on #87178
You're right. Thanks for the help.

[2022-01-31 15:29] vhorne commented on #85659
#please-close

[2022-01-31 15:29] #85659 closed

[2022-01-31 15:39] dfendit opened #87208 "Sending credentials in clear text"
How can you safely use the username and password for the Azure SQL db? Now it's added in clear text ... can a Managed User Identity be used, or Azure Key Vault to exchange the connection string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f84e4f-d0b5-d521-b003-f47cd475a090
* Version Independent ID: 2208824e-e196-d

[2022-01-31 15:44] MonikaReddy-MSFT commented on #86958
@alexkhorton  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-01-31 15:56] SnehaAgrawal-MSFT commented on #86852
@muraromattia Thanks again for asking question!
In AMS v2, 1-to-many content key scenario is supported.
In AMS v3, 1-to-many content key scenario is no longer supported. (One content key is used by more than one content)

The product/content team is aware of this and will be updated in v3 version of the doc

Sorry for confusion on this. I Will keep you posted as and when I have more updates.

We w

[2022-01-31 15:56] #86852 closed

[2022-01-31 16:04] aldass-snc opened #87210 "Incorrect documented permission actions for `Azure Kubernetes Service RBAC Admin` role"
In the Azure US Government Cloud the documented permission actions for the [Azure Kubernetes Service RBAC Admin](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-rbac-admin) role **do not** reflect what is actually returned and used by the role definition:
- Documented actions for role definition:
[code]

- Actual definition (in AzureUsGov cl

[2022-01-31 16:07] whhender commented on #87023
These changes are in. Thank you again!

#please-close

[2022-01-31 16:07] #87023 closed

[2022-01-31 16:08] cburuzie commented on #85800
@GitaraniSharma-MSFT - We have fixed the links and merged the PR successfully.
#please-close

[2022-01-31 16:08] #85800 closed

[2022-01-31 16:13] spelluru commented on #86764
@cristiteodorov - Thank you for reporting the issue. Our product team is aware of the issue and are working on fixing it. So, we are not going to update the documentation for now. Thanks!

#please-close

[2022-01-31 16:13] #86764 closed

[2022-01-31 16:14] whhender commented on #86666
@VitalyMCT - We have made updates to this documentation. Thank you!

#please-close

[2022-01-31 16:14] #86666 closed

[2022-01-31 16:16] whhender commented on #86521
Hello! We're still working on this update, thanks again for your patience. Again, if there are specific questions I can answer for you, I'm happy to do so.

[2022-01-31 16:20] mfthomps commented on #86806
Hi,
The link you provided describes how to share with a different tennant,
assuming you have that tennant's ID.  I would like to share an image with
everyone, i.e., public access to all Azure users.
I have found a work-around in which the image is read in from a blob, but
the documentation should clearly state that "public" access to an image
cannot be granted in the gallery.
Thanks,
--Mike

On Mo

[2022-01-31 16:29] johnjgonzalez opened #87211 "Portal->Monitor->ActivityLog->DiagnosticSettings is not displayed or accesible via the Portal"
The option to define the diagnostics settings at the Monitor->ActivityLog level is not available in the Portal, although this document states it is, including a screen shot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89743709-c3fa-9ce1-55fb-e9b7f6d2dba9
* Version Independent ID: a4c9f0b7-5dde-d60c-1110-3ca53d904d61

[2022-01-31 16:31] AjayKumar-MSFT commented on #87164
Thanks for the additional information, sethsnel.

@scubaninja, Requesting your comments on this.

[2022-01-31 16:33] MarileeTurscak-MSFT commented on #87210
@aldass-snc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-31 16:36] jzelos opened #87212 "Missing setting on Identity Binding for Service Bus Trigger example"
Under "Connect to Service Bus in your function app", when creating the service bus settings, it mentions two but only shows one.

Also the note for that setting doesn't scan:

"This setting connections your function app to the Service Bus use identity-based connections instead of secrets."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-31 16:45] aldass-snc opened #87213 "Incorrect documented permission actions for `Azure Kubernetes Service RBAC Cluster Admin` role"
In the Azure US Government Cloud the documented permission actions for the [Azure Kubernetes Service RBAC Cluster Admin](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-rbac-cluster-admin) role **do not** reflect what is actually returned and used by the role definition:
- Documented actions for role definition:
[code]

- Actual definition (

[2022-01-31 16:51] jmprieur commented on #86080
Taken offline in the Identity.Web repo.
#please-close

[2022-01-31 16:51] #86080 closed

[2022-01-31 17:01] MarileeTurscak-MSFT commented on #87213
@aldass-snc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-31 17:06] johnayoub opened #87214 "Data Factory Azure Function Linked Service Managed Identity"
The documentation doesn't state how to use the managed identity option when setting up the linked service. Could you clarify what that option does and how to use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-9693-206845821d0c
* Version Independent ID: 08725018-92a0-6b2c-8130-6debcc535b7a
* Conte

[2022-01-31 17:11] SnehaAgrawal-MSFT commented on #86822
@AdamDube Thanks for the feedback! Suggest you to refer to this document link: https://docs.microsoft.com/en-us/azure/app-service/quickstart-arm-template.

The content team is aware of this and working towards it.

Apologies for inconvenience on this, I Will keep you posted as and when I have more updates.

We will now proceed to close this thread. If there are further questions regarding this mat

[2022-01-31 17:11] #86822 closed

[2022-01-31 17:14] GeethaThatipatri-MSFT commented on #87113
Hi, @Euan-McVie Release notes have been updated over the weekend please check [here](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator-release-notes#release-notes).

[2022-01-31 17:17] SnehaAgrawal-MSFT commented on #86821
@Kyelin25 Just checking in to see if you have chance to see latest response of @yutanglin16. Let us know.

[2022-01-31 17:21] kobulloc-MSFT commented on #87002
@michaelschmit There are a couple options in the AKS resource under Monitoring > Insights and Monitoring > Metrics.  In particular, Monitoring > Insights > Nodes has a set of metrics that will report on UpTime as a value in hours but I suspect what you are looking for is a kusto query.  I'll assign this to the document author for further review as that may be valuable to add to the documentation.

[2022-01-31 17:25] bmtorres opened #87215 "Correction needed"
Hi,

I followed this guide and it needs a correction in the "Provide permissions to the application" section. As it is at this moment, the application is can't access the Purview collection (I get the access denied answer).

In order to make the code work, I had to go to Purview and assign a data reader role to the collection. This is what I did, after the 6 steps listed in the guide:
I opened the

[2022-01-31 17:30] ruairidh37 opened #87216 "Minimum .NET requirement in documentation is incorrect"
[Enter feedback here]
This document states that .NET 4.5 Framework is the minimum requirement for installation. When installing on a VM with .NET 4.7.2 installed I get an installation failure telling me that a newer version is required, implicitly 4.8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc58ee8d-9650-6a07-8

[2022-01-31 17:35] SamaraSoucy-MSFT commented on #87212
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-31 17:38] himanshusinha-msft commented on #87208
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-31 17:39] Annie-Enchakattu commented on #59569
wanted to check if there is an update on this (the link https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/33870166-aci-support-for-privileged-container is broken)

[2022-01-31 17:39] himanshusinha-msft commented on #87214
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-31 17:41] himanshusinha-msft commented on #87197
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-31 17:41] Annie-Enchakattu commented on #59569
wanted to check if there is an update on this (the link https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/33870166-aci-support-for-privileged-container is broken)

[2022-01-31 17:42] himanshusinha-msft commented on #87199
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-31 17:43] himanshusinha-msft commented on #87216
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-31 17:43] SaiKishor-MSFT commented on #86261
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-31 17:43] #86261 closed

[2022-01-31 17:46] vhorne commented on #84886
@tcsougan ???

[2022-01-31 17:53] ln2022565 commented on #59569
is there an update on this issue?

[2022-01-31 17:57] mmacy commented on #80764
@vgarmash By **your quote below**, do you mean the [Microsoft Graph Java SDK](https://search.maven.org/artifact/com.microsoft.graph/microsoft-graph):

@ckittel `DOCS-CODE-014` looks like it might match for the code portion of this request, but I believe we're doing raw HTTP requests for some/all of the Graph calls, is that correct? If so, maybe one of the first how-to articles we direct devs to (a

[2022-01-31 18:00] JamesTran-MSFT commented on #87151
@willcoxson
Thank you for your post!

Can you share a screenshot of what you're seeing when it comes to the output of `dsregcmd /status`? From [Step 1](https://docs.microsoft.com/en-us/azure/active-directory/devices/troubleshoot-hybrid-join-windows-current#step-1-retrieve-the-join-status), the `WorkplaceJoined` field should be under `User State`, while `DomainJoined`, `AzureAdJoined`, and `Enterpr

[2022-01-31 18:11] GeethaThatipatri-MSFT commented on #87215
Hi, @bmtorres thanks for your findings! We will investigate and update as appropriate.

[2022-01-31 18:11] #87210 closed

[2022-01-31 18:12] JamesTran-MSFT commented on #87152
@bigtfromaz
Thank you for the feedback on this! I've assigned this issue to the author who will investigate and update this doc as appropriate.

[Redirect URI (reply URL) documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url)
[Application Configuration](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-how-applications-are-added)

[2022-01-31 18:13] anzaman commented on #87169
The examples on the linked page do show how to set the $sasurl variable and include the container name.

[2022-01-31 18:13] MarileeTurscak-MSFT commented on #87213
Looks like this was already updated to match the definition and add the missing permissions, so I am closing this out.

![image](https://user-images.githubusercontent.com/13383753/151849498-78e39395-2d89-4fbd-9323-17c61b334986.png)

[2022-01-31 18:13] #87213 closed

[2022-01-31 18:19] laujan commented on #86436
#please-close

[2022-01-31 18:19] #86436 closed

[2022-01-31 18:21] jikuja commented on #87169
Does this mean that no documentation clarifications will be done?

How can I connect the product team for
* adding similar information on the portal
* enhance the error message?

[2022-01-31 18:21] omondiatieno commented on #87159
#reassign:@omondiatieno

[2022-01-31 18:21] SatishBoddu-MSFT commented on #87203
@xaelsouth
I have assigned the issue to the content author for further review.

[2022-01-31 18:23] tfitzmac commented on #86593
@Materia-xx - the 201 response does not necessarily mean it is async. Without the header values, it indicates a synchronous operation. I will update the docs to clarify that meaning.

[2022-01-31 18:24] omondiatieno commented on #87159
@weeyeh, thank you for contributing to our docs and for pointing out the typos. I have fixed it and published the change through the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/186841#issue-1119687283. Will proceed to close this issue. Feel free to reach out in case you have any more concerns

[2022-01-31 18:24] omondiatieno commented on #87159
#please-close

[2022-01-31 18:24] #87159 closed

[2022-01-31 18:28] SatishBoddu-MSFT commented on #86872
Our SME will review this feedback and get back soon on this!

[2022-01-31 18:30] anzaman commented on #87169
we will add portal instructions for stopping packet capture and can specify that SAS URL must be include container name.

[2022-01-31 18:32] JamesTran-MSFT commented on #87160
@CNHume
Thank you for your feedback on this!

Since this doc-enhancement is more related to the video itself, and not related to our documentation, I'll go ahead and close out this issue. I'll tag the author (@barclayn) for awareness when it comes to creating/linking additional videos down the road.

I'd also recommend leaving your feedback on the video directly ([Using Azure Managed identities](h

[2022-01-31 18:32] #87160 closed

[2022-01-31 18:34] jikuja commented on #87169
Cool.

I had to check logs of the target storage account to understand why stopping packet capture failed.

Afterward, I read the Powershell section of the documentation and found the linked page.

[2022-01-31 18:37] scubaninja commented on #87164
Hi @sethsnel, thank you for the feedback. I completely agree with your feedback. One thing we constantly are faced with is the outlying examples. The article itself is meant to be a very basic and get started quick guide for using the Azure DevOps task, as is, in a pipeline. We do understand that this isn't the 'norm' for most people, it is hard to cover off every single example (and other people

[2022-01-31 18:45] atkulp commented on #84097
Is this still slated to be addressed?

[2022-01-31 18:57] mmacy commented on #87027
@dzak83 Thanks for your request. You might have already seen the MSAL for Obj-C repo and its README with Obj-C snippets, but posting here in case you hadn't:

https://github.com/AzureAD/microsoft-authentication-library-for-objc

@brandwe @oldalton Heads-up on two recent requests on this doc for additional devlang/framework representation:

* #87027 (this issue)
* #86320

Cc: @Dickson-Mwendia @ckit

[2022-01-31 18:57] #87027 closed

[2022-01-31 19:08] ckittel commented on #80764
@mmacy -- That is correct.  We avoid using the Graph SDK as that obscure the utility of MSAL.  There is a "better together" story for Graph SDK and MSAL, but since we're using Graph as a readily available example endpoint, and NOT as "Graph" proper, we didn't want to bring in an SDK that wouldn't be there for most other usages of the specific scenario demonstrated.  There is a whole tutorial serie

[2022-01-31 19:10] ThomasWeiss commented on #87200
@mukul-p Thanks for bringing this up. The fact that role management isn't currently supported by the Azure portal is documented in the FAQ [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#is-it-possible-to-manage-role-definitions-and-role-assignments-from-the-azure-portal). We'll consider making it more explicit that Azure RBAC and Cosmos DB data plane RBAC are 2 different

[2022-01-31 19:10] #87200 closed

[2022-01-31 19:10] ntrogh commented on #86818
@AdamDube I'll close this issue for now. We'll report back here once the engineering team has resolved this.
#please-close

[2022-01-31 19:10] #86818 closed

[2022-01-31 19:26] mishrapratyush commented on #86932
I tested this on "Compute Instance". Haven't tried this on Compute cluster. With regards to support subscription, let me check and get back to you.

[2022-01-31 19:32] tfitzmac commented on #86593
The update will get published later today. I added some clarification around the provisioningState value that needs to indicate the operation is still running.
#please-close

[2022-01-31 19:32] #86593 closed

[2022-01-31 19:43] TroutDD opened #87221 "API Connection Does Not Return Claims on SSO to Other Domain"
per the Note:
`The API is only invoked during an initial authentication. When using refresh tokens to silently get new access or ID tokens, the token will include the values evaluated during the initial authentication.`

This does not happen on a silent refresh on a child domain.  If I log in to:
https://site.company.com
and get custom claims from the connector.  Then, I go to:
https://member.comp

[2022-01-31 19:52] DLLNBrown opened #87222 "Spelling Error: "you" should be "your""
In the first sentence on the page, "you" should be "your"...

"This article describes how to create an Azure VM assessment for on-premises servers in **_your_** VMware, Hyper-V or physical/other cloud environment with Azure Migrate: Discovery and assessment."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adfe13a7-9678

[2022-01-31 19:54] mumian commented on #87049
@AdamRiddick - thank you for your comments.  I will add supported version information to the functions.

[2022-01-31 19:56] mmacy commented on #80764
Thanks, @ckittel. We'll add this as a watch item as we roll out the new tutorial series format. However, based on the high frequency of customer feedback calling out our overly complex introductory content (including the tutorials and their code samples), this is the way to go for those introductory tutorials.

We'll add how-to articles as "add-ons" to the tutorial series for high-demand articles/

[2022-01-31 19:58] MonikaReddy-MSFT commented on #87222
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-31 19:58] #87222 closed

[2022-01-31 20:07] MartinJaffer-MSFT commented on #87128
The edits are pending.
Thank you for your service @bbrandt .

[2022-01-31 20:07] #87128 closed

[2022-01-31 20:15] pguan-ntap opened #87223 "Second image for firewall premium is blurry"
The words on this image are hard to read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https://docs.microsoft.com/en-us/azure/firewall/overview)
* Content Source: [articles/firewall/

[2022-01-31 20:17] vhorne commented on #85207
Replaced screenshot
#please-close

[2022-01-31 20:17] #85207 closed

[2022-01-31 20:19] cpdohert opened #87224 "No instructions given for any tool but Azure CLI"
Tutorial is missing instructions for executing the same steps using the Azure PowerShell module, the Azure Portal, and ARM/Bicep templates.

Not everyone uses or wants to use Linux or Linux CLI tools; focusing on the Azure CLI to the exclusion of all other tools snubs the rest of your customers.

Rewrite the page to include the other three first-class tools.

---
#### Document Details

⚠ *Do not e

[2022-01-31 20:20] Kyelin25 commented on #86821
@yutanglin16 - to paraphrase what you've said (to make sure I've understood correctly), although the App Service RP is used to retrieve the certificate, the user creating the App Service has **their** permissions checked when they attempt to set it up, even if they know the cert name and KV resource ID. If that's the case, I'm happy that there's no security issue.

[2022-01-31 20:22] #84415 closed

[2022-01-31 20:28] vhorne commented on #84886
merged update
#please-close

[2022-01-31 20:28] #84886 closed

[2022-01-31 20:33] MashaMSFT commented on #80412
Hi @lukos , thanks for contacting Microsoft! We have processed a change to the documentation that should be live later this week :) I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:rajeshsetlem
#please-close

[2022-01-31 20:33] #80412 closed

[2022-01-31 20:35] MashaMSFT commented on #78902
Hi @rodrigoffonseca , thanks for contacting Microsoft! We have processed a change to the documentation that should be live later this week :) I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:rajeshsetlem
#please-cl

[2022-01-31 20:35] #78902 closed

[2022-01-31 20:37] MashaMSFT commented on #78306
Hi @DreadfullyDespized , thanks for contacting Microsoft! Since Rajesh was able to address your question, I'm going to close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of  your day!
Masha from the SQL Docs team
#please-close
#reassign:rajeshsetlem

[2022-01-31 20:37] #78306 closed

[2022-01-31 20:45] MashaMSFT commented on #82166
Hi @rorywoods , thanks for bringing this to our attention! We've processed a change to update the documentation that should be live later this week. I'll go ahead and close out this Git Issue, but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reassign:rajeshs

[2022-01-31 20:45] #82166 closed

[2022-01-31 20:56] Karishma-Tiwari-MSFT commented on #87155
The link seems to be fixed now as it is working. Let me know if you are still seeing issues.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-31 20:56] #87155 closed

[2022-01-31 21:02] MarileeTurscak-MSFT commented on #87198
The documentation says to use a Marketplace image so that seems to be the supported method, though I've checked with the product team to see if there is any support for custom images and will let you know their response. https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

If you would like to request this ability for custom images you can do so in the

[2022-01-31 21:02] #87198 closed

[2022-01-31 21:04] Grace-MacJones-MSFT commented on #87224
Hi @cpdohert , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-01-31 21:17] porrascarlos802018 opened #87226 "Please update document"
in the document https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-web-service#update-your-dns  is mentioned
"When you use a custom certificate that you purchased,"

however when a custom certificate other than Microsoft generated is used it gives timeout error.

What are the requirements for a custom certificate ?  are wildcard certificates accepted? How to validate what is tim

[2022-01-31 21:28] skashyap7 opened #87228 "Azure Security Benchmark v2 Documentation Link is broken"
The link to Azure Security Benchmark version 2.0 [https://docs.microsoft.com/en-us/azure/security/benchmarks/overview-v2] is broken. It seems like it should be pointing it to [https://docs.microsoft.com/en-us/security/benchmark/azure/overview-v2]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc0759d-deb8-42b4-798c-770

[2022-01-31 21:54] cveld opened #87229 "Using key vault reference for ASEv2 ILB certificate"
I would suggest to add a section on how to deploy a key vault reference based certificate for the ASEv2 internal load balancer. This could go as follows:

After deploying an ASEv2 resource, first you deploy a certificate resource with key vault reference, targeting the ASEv2 host environment profile:

[code]

Then you update the ASEv2 ILB certificate reference:

[code]

Note that ASEv2 ILB certifi

[2022-01-31 22:12] MarileeTurscak-MSFT commented on #87228
@skashyap7
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-31 22:15] MarileeTurscak-MSFT commented on #87228
Thank you! This was reported to the content author and is being tracked here: https://github.com/MicrosoftDocs/azure-docs/issues/84726

@msmbaldwin could you please update the link?

[2022-01-31 22:15] #87228 closed

[2022-01-31 22:20] jileary23 opened #87231 "URL rewrite (custom forwarding path) first image on page does not meet accessibility compliance"
From docs: The powerful part of URL rewrite is that the custom forwarding path will copy any part of the incoming path that matches to a wildcard path to the forwarded path (these path segments are the green segments in the example below):

"Azure Front Door URL Rewrite" **Image doesn't meet accessibility requirements**

Using color as the sole (only) means of conveying information, indicating an

[2022-01-31 22:27] Nicholak-MS commented on #87080
The above products and their related service plans have been added to the online document as well as the downloadable csv.

Thanks

#please-close

[2022-01-31 22:27] #87080 closed

[2022-01-31 22:28] bluefooted commented on #87177
It should read:
Do not enable read/write caching on disks that contain SQL Server **data or log** files.

[2022-01-31 22:32] James-Hamil-MSFT commented on #86525
Does any of this sound similar to what you have?

"So, I created an Azure VM using Ubuntu for the OS, I did not specify a managed identity during the creation process. I then assigned a user assigned managed identity. I proceeded to delete the user assigned managed identity. It now 'disappeared' from the properties of the VM. That happened instantly. "

We're trying to repro it and match yours

[2022-01-31 22:36] dougsbaker opened #87232 "What is Arlington Cloud?"
Hi can we get more clarity on what the Arlington cloud is using the Noninternal MSFT names?

Is that feature available for GCC and GCC high customers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd810b22-4e2a-5a66-db90-dd39b1b5c565
* Version Independent ID: 8e36df09-f7f1-dcbd-dc3d-93cbeed1b040
* Content: [On-premise

[2022-01-31 22:40] anzaman commented on #87169
#please-close

[2022-01-31 22:40] #87169 closed

[2022-01-31 22:44] JamesTran-MSFT commented on #87232
@dougsbaker
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-31 22:45] JamesTran-MSFT commented on #87221
@TroutDD
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-31 22:49] SfnUser opened #87233 "Second NIC on multiple NIC Azure VM cannot reach external network"
[Enter feedback here]
I have followed the steps mentioned in this article. However, I could not make the Ubuntu VM's 2nd NIC talk to internet.

My VM size is Standard_B2s. I have also added the default gateway for the 2nd subnet. But still cannot make go and come back forth via eth1.

Before adding any routes.

[code]

Added routing table like below:
[code]

Now ```ping -I eth1 www.bing.com``` and

[2022-01-31 23:09] darklove0504 commented on #87098
This is expected behavior since:
1. Search searches for complete words, not substring
2. A complete sentence must be enclosed with in 2 quotation marks. Your search will be turn into "SaveDataAsync" AND "in" AND "CreditTransferReceptionRepos", which failed at the last condition.

You can refer to our official documentations on our Search syntax here: [Application Insights Search](https://docs.micr

[2022-01-31 23:20] RDavis3000 commented on #48735
@PramodValavala-MSFT

I think the issue is that it's not possible to DEFINE an activity trigger without a parameter.

There is no '[ActivityTrigger] void' or similar.

So I have to declare '[ActivityTrigger] int thisOnlyExistsBecauseTheAttributeDemandsIt'

where thisOnlyExistsBecauseTheAttributeDemandsIt will never be used or referenced.

[2022-01-31 23:22] JamesTran-MSFT commented on #87221
@TroutDD
Thank you for pointing this out and for the detailed explanation!

When it comes to the doc-enhancement, do you have any suggestions to improve the note (i.e. adding an extra sentence, saying "this does not happen on a silent refresh on a child domain")?

If you have any other questions, please let me know.
Thank you!

[2022-01-31 23:35] James-Hamil-MSFT commented on #86952
Hi @davvit , thank you for your feedback. We are working an improving a few samples currently. Please see this document for the required information: https://docs.microsoft.com/en-us/azure/active-directory/develop/web-app-quickstart?pivots=devlang-nodejs-msal

Best,
James

[2022-01-31 23:35] #86952 closed

[2022-01-31 23:35] SaiKishor-MSFT commented on #87223
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-01-31 23:37] SaiKishor-MSFT commented on #87202
@roddick-mark

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stac

[2022-01-31 23:37] #87202 closed

[2022-01-31 23:57] johnayoub opened #87236 "VNET enabled runtime IP Restrictions"
Is the data factory service tag not supported when the managed VNET setting is enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP addresses - Azure Data Factory](https://docs

[2022-02-01 00:26] kobulloc-MSFT commented on #87028
@brthurr Thank you again for bringing this to our attention!  I'll get a PR out to correct this.

![image](https://user-images.githubusercontent.com/37556655/151894850-40d89402-b72d-476e-9174-d1dabc865e65.png)

![image](https://user-images.githubusercontent.com/37556655/151894939-86203fdb-d91b-43e0-b703-89de84b01272.png)

[2022-02-01 00:31] brittanyrowe commented on #86684
Hi @yonisade, iVMs (VMs with 'i' in the size name) cannot be run on an Azure Dedicated Host.

[2022-02-01 00:36] ssabat commented on #86541
@jianleishen    is handling SAP connector in stead of @linda33wj. Thanks @ShaikMaheer-MSFT

[2022-02-01 01:07] ssabat commented on #83840
Made necessary changes to main doc by showing where parameter  files are stored and changing PowerShell script. Thanks @DianGermishuizen for this.

PR is 186943.
#please-close

[2022-02-01 01:07] #83840 closed

[2022-02-01 01:15] ssabat commented on #78750
Automatic publish doc does not any more refer to start/stop trigger any more.

#please-close

[2022-02-01 01:15] #78750 closed

[2022-02-01 01:35] ssabat commented on #85145
@tcc-sejohnson  thanks for reporting.
If you look at doc. Azure Functions is not listed for GUI based parameterization. We have not tested it. It is mainly because of Azure Functions payload contract with ADF.

 It also implies that you should not be paramteterizing more than what we is required  in GUI. We will improve with a note/warning once we discuss with Eng.
#please-close

[2022-02-01 01:35] #85145 closed

[2022-02-01 01:43] tcc-sejohnson commented on #85145
@ssabat

Thank you! Please do add a warning.

There is no implication here that you should not be parameterizing services not listed. In fact, it says in plain English that you **should be able** to parameterize services that are not supported through the UI by using JSON. If that's not the case, this paragraph needs to be removed.

[2022-02-01 01:49] peter-bertok opened #87238 "Troubleshooting for "Shadow Copy folder" errors is useless"
Generic statements aren't useful for resolving these issues.

Out-of-the-box, Application Insights Snapshot Collector _doesn't work_ on IIS on Windows Server. By default, IIS_IUSRS is locked down, and AI needs an additional permission.... which is not documented anywhere.

I have to resort to using SysInternal Process Monitor to reverse engineer the behavior of App Insights because the documentati

[2022-02-01 01:56] MartinJaffer-MSFT commented on #87211
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-01 02:05] MonikaReddy-MSFT commented on #87098
@darklove0504  - Thank you for providing your insights.
@tomaszknap1983 - I hope @darklove0504 has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-01 02:05] #87098 closed

[2022-02-01 02:41] michaelschmit commented on #87002
@kobulloc-MSFT there is a AKS feature called uptime SKU which is either "Paid" or "Free".  Microsoft recommends any production AKS cluster be set to "Paid".  This pertains to how the management node can scale and how it is handled from a resiliency standpoint.  Over the US hoilday, our management node went offline and after digging found this feature, which perhaps could have prevented the outage.

[2022-02-01 02:44] kobulloc-MSFT commented on #87002
@michaelschmit I agree that this is important information to have readily available and I'm pretty sure there is a way to accomplish this (or something similar) using a kusto query which you could then pin to your dashboard.  There may also be another approach that I'm unaware of. I've assigned this to our document author, @zr-msft to see what we can do from a documentation standpoint.

[2022-02-01 02:46] KrishnaG-MSFT commented on #87238
@peter-bertok Thanks for the feedback.
Assigning to @cweining for visibility, review and document enhancement consideration as appropriate.

[2022-02-01 03:08] scottchill opened #87240 "Mis-spelled CLI command line commands"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a33ff6-8ffc-ad26-d429-3170bcca9498
* Version Independent ID: fcd9c088-8b17-e53b-4c93-f90f2dc5c09c
* Content: [Tutorial - Publish versions of your API using Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-ge

[2022-02-01 03:10] scottchill commented on #87240
The CLI command line examples on this page have this for resource group: --resource-group apim-hello-word-resource

it should be in all cases: --resource-group apim-hello-world-resource

that is WORD should be WORLD --resource-group apim-hello-WORD-resource should be --resource-group apim-hello-WORLD-resource ... lower case of course.

This makes it very difficult for someone just learning to get

[2022-02-01 03:24] samrueby opened #87241 "Small mistake: incomplete sentence"
Small mistake in the sentence "deploy a single Storage Sync Service and register all servers that it".

"That it"...what ? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Sync dep

[2022-02-01 03:49] jyrate opened #87242 "convertFromUtc not returning UTC offset"
The behaviour of convertFromUtc is confusing...

...returns, for example...

Why is the timezone offset (which should be +9:30 or +10:30, depending on daylight savings) missing?!

If this expected behaviour, how else can the timezone UTC offset be generated from the timezone name?

Regards,

Jerome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-02-01 03:58] rfsonders commented on #87167
This can be closed per conversations with Travis.  There is a difference between an update and an upgrade. I was actually looking for an upgrade.
This was successfully executed.
az arcdata dc upgrade --k8s-namespace arc --name pflexdc01  --use-k8s

Link for reference: https://docs.microsoft.com/en-us/cli/azure/arcdata/dc?view=azure-cli-latest#az-arcdata-dc-update

Text from Travis that would be va

[2022-02-01 03:58] #87167 closed

[2022-02-01 04:04] ram-msft commented on #87226
@porrascarlos802018 Thanks for the feedback! We will review and update accordingly.

[2022-02-01 04:07] PriyankaRudramaina commented on #86899
Hi @ankur8,
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-01 04:22] AnuragSharma-MSFT commented on #87083
@MixolydianV This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-01 04:41] #85033 closed

[2022-02-01 04:42] LifeRyuto opened #87243 "Need to clarify about Cross-subscription geo-replication operations"
This documentation says cross-subscription geo-replication operations can only be performed by using T-SQL commands.
[code]

However, another documentation says the below. It says the operations can be performed by REST API as well.
[code]
https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-configure-portal?tabs=portal#prerequisites

Which one is correct?

---
#### Doc

[2022-02-01 04:43] MughundhanRaveendran-MSFT commented on #86998
@64oz-frozenmangos , Did you check my previous comment? Please let me know

[2022-02-01 04:52] Ravivarman13 opened #87244 "IP ranges can be used on External mapping of NAT rules"
[Customers are not clear on using the IP ranges to be defined on the External Mapping of the NAT rules. If not the private IP range, what ranges of Public IP, 100.x.x.x or 100.64.x.x range to be defined and they are looking for recommendations of IP to be defined.

If we have tips mentioning what can be used and what not with clarity we can reduce the SR]

---
#### Document Details

⚠ *Do not edit

[2022-02-01 04:52] yonisade commented on #86684
What's more interesting is that these specific VMs are not isolated despite the 'i' in their name.

[2022-02-01 04:59] braghavendraknl commented on #87198
Hi @MarileeTurscak-MSFT,

Thanks for your response.

You are spot on, the document I was referring to is https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

Please keep me updated if you hear anything from Product team, really appreciate that!

[2022-02-01 05:13] SumanthMarigowda commented on #87241
@samrueby Thanks for the question! We are investigating and will update you shortly.

[2022-02-01 05:13] mrochon opened #87245 "How is DiscoverMetadataByTokenIssuer value used?"
Current explanation is very cryptic and since I cannot see B2C's network traffic I have no way of seeing how b2C uses it to get metadata. Please provide better explanation and/or an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb586f8-c1ff-7676-08b3-915ee00383b0
* Version Independent ID: f1770ad7-7ee4-090b-

[2022-02-01 05:21] Fleid commented on #87091
Hi @pnarsi

This [doc](https://docs.microsoft.com/en-us/azure/stream-analytics/connect-job-to-vnet#managed-identity-authentication-with-allow-trusted-services-configuration) applies to the situation. I'll update it to make it clearer.

If your job is running in a cluster (dedicated sku), you'll need to set up a [private endpoint from the ASA cluster](https://docs.microsoft.com/en-us/azure/stream-a

[2022-02-01 05:25] AnuragSingh-MSFT commented on #87144
@Jiannko, thank you for the reply.
Is it possible that you are trying to track Single Page Application in SharePoint? Please refer to "[Single Page Applications](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#single-page-applications)". Can you please enable this configuration and see if the numbers match-up?

[2022-02-01 05:26] SnehaAgrawal-MSFT commented on #87229
@cveld Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-01 05:28] SnehaAgrawal-MSFT commented on #86825
@yvk-1970 We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-02-01 05:28] #86825 closed

[2022-02-01 05:43] ram-msft commented on #87051
@javitovarv  Thanks for the details. Currently not possible, I believe the Spot VMs have this ability to trigger a preemption. Though, AML might not be supporting it currently.

[2022-02-01 05:52] shashishailaj commented on #87245
@mrochon Thank you for your feedback. We will investigate and update the thread.

[2022-02-01 05:59] pnarsi commented on #87091
Hi @Fleid

Thanks for the quick response and clarifications.

[2022-02-01 06:25] GitaraniSharma-MSFT commented on #87231
@jileary23 , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-02-01 06:27] Givary commented on #86424
@alicain

Apologies for the delayed response on this thread. Reviewed your issue description, but as per this article it is clearly mentioned Global Admin or Privilege role administrator are the default approvers when the approvers are set to none.

https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-change-default-settings

Let me know if you have any

[2022-02-01 06:36] Fleid commented on #87091
Sure thing! I'll close the issue, but please keep commenting if you need more help.

#please-close

[2022-02-01 06:36] #87091 closed

[2022-02-01 06:54] CharlPels opened #87246 "Bastion host limits"
In the Bastion Host limits it states that the limit is around 100 sessions however I think it is good to update this since we now have standard and basic bastion hosts.
From other MS page
https://docs.microsoft.com/en-us/azure/bastion/configuration-settings#instance

Each instance can support 10 concurrent RDP connections and 50 concurrent SSH connections. The number of connections per instances d

[2022-02-01 06:55] RohitMungi-MSFT commented on #86932
@minxia The following bugs are created to track the issue.

https://dev.azure.com/msdata/Vienna/_workitems/edit/1605170
https://dev.azure.com/msdata/Vienna/_workitems/edit/1605348

@mishrapratyush We will go ahead and close the issue as internal bug items are created to address the same. Thanks!!

[2022-02-01 06:55] #86932 closed

[2022-02-01 07:01] AnuragSingh-MSFT commented on #87168
@larrybud2004, Can you please clarify the question a bit further?

Based on my understanding, here are some resources that could help you with tracking dependency call failures

1.  [Failed requests from Portal](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#failed-requests).
2. [Log Analytics query](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-de

[2022-02-01 07:10] malexmave opened #87247 "Sentinel UEBA: "Additional Charges May Apply" - but which?"
The help page prominently says that additional charges may apply when activating UEBA, but it does not give any indication...

- ...for what we will be charged? (Presumably for searching through the log)
- ...how much we should expect? (cents? Euros?)
- ...what influences the price? (is it mostly user activity data that is expensive? Or is it using all logs? Or only alerts?)

I can't activate this

[2022-02-01 07:13] nitish-at opened #87248 "Difference between 'Client' and 'Relying Party'"
### Need Clarity about TPM Attestation
In the documentation page referenced below explaining the workflow of TPM Attestation, two terms "Client" and "Relying Party" have been introduced.
What is the difference between a '**_Client_**' and a '**_relying party'_** ?

- Is **_Client_** a Virtual Machine running our application ?
- Is **_Relying Party_**, the VM owner who wants to login to the VM and

[2022-02-01 07:23] amandici81 commented on #86525
Hi James

Can we have a quick call to demo my sayings?

BR
Andrei.

From: James Hamil ***@***.***>
Sent: Tuesday, February 1, 2022 12:32 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Andrei Mandici (Lugera & Makler Romania) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Wrong behaviour (Issue #86525)

Does any of this sound similar to what you have?

"So, I created a

[2022-02-01 07:26] jun110 opened #87249 "I don't know how to deploy extensions using Azure PowerShell and Azure CLI."
Hi team,

If HRW extension is going through a proxy, we will need to configure the proxy settings.
The proxy settings require deployment using PowerShell or Azure CLI.

However, the following document does not tell me how to execute the command.
If we are using PowerShell, we will probably need to run Set-AzVMExtension command.
It would be helpful to have a sample of Set-AzVMExtension.

https://do

[2022-02-01 07:28] ShaikMaheer-MSFT commented on #87236
@johnayoub we are looking in to this feedback. We will share updates soon.

[2022-02-01 07:30] ShaikMaheer-MSFT commented on #87008
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-01 07:30] #87008 closed

[2022-02-01 07:35] ShaikMaheer-MSFT commented on #87073
@mssaperla / @leifbro Could you please validate feedback and enhance doc as appropriate? Thank you.

[2022-02-01 07:38] ShaikMaheer-MSFT commented on #87077
@mssaperla \ @leifbro Could you please validate customer feedback and update as appropriate? Thank you.

[2022-02-01 07:39] Subhrajit-Katonic opened #87250 "Unable to see table option in storage class"
Hi,

I have created storage class using following script but unable to see table option .

az group create -l australiaeast -n test-rg
az storage account create -n test-sc-g test-rg -l australiaeast --encryption-services table --sku Premium_LRS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24bcff03-df42-63df-8388-d097

[2022-02-01 07:49] ShaikMaheer-MSFT commented on #87079
@l00mis Side bar is to present the position where you are. And in the documentation we have "Trasnfer ownership of query" section two times. Hence we see two times same thing in the doc. Please check below screenshot for better understanding.
![image](https://user-images.githubusercontent.com/84302758/151930567-f9bb13fc-a83c-498e-b536-3d90186ebf39.png)

but both sections has same name, the URL for

[2022-02-01 07:53] ShaikMaheer-MSFT commented on #87041
Hi @TedaLIEz -  This channel is reserved for ‘Azure docs’ questions- For sharing feedback directly related to document and suggesting content improvements, it is recommend to post the technical questions on the [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/questions/topics/single/37.html) and  [StackOverflow ](https://stackoverflow.com/questions/tagged/azure-web-app-service) where one

[2022-02-01 07:53] #87041 closed

[2022-02-01 08:05] AndreaCuneo opened #87251 "Private networks limit in connecting to external services using private endpoints: 'Important' section highlight workaround exists but is not referenced nor described."
The documentation doesn't point to important details on how to configure to avoid an important limitation, which is correctly highlighted.

This is the _Important_ section I'm referring to.

The Important section highlighted above points to the fact that a 'corresponding' DNS configuration might solve the scenario described next, but there are no pointer which would be. A description of the config

[2022-02-01 08:07] Dharanash opened #87252 "Tune Model Hyperparameters - Azure Machine Learning"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/component-reference/tune-model

[2022-02-01 08:13] byronverz opened #87254 "Creating the jumpbox VM Defaults are incorrect"
In the guide, when setting up the DSVM, the default values are told to be used in step 2. The image version defaults to gen 2 now which is said [not to work](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/reference-known-issues#windows). This means that deployments not only fail, but they take over an hour to fail.

---
#### Document Details

⚠ *Do not edit th

[2022-02-01 09:04] serkansah opened #87256 "When it will be a GA"
Dear Support Team
Please inform when it will be a Global Available
Thanks
Regards
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2d44d9-f737-c619-a0b9-cf48755cd2ca
* Version Independent ID: 2b6d043e-52fd-d066-d599-3eff99c47756
* Content: [Sign-in to Azure AD with email as an alternate login ID](

[2022-02-01 09:10] danailedms commented on #86896
Hello @Sharmistha-Rai , is there an update on this please?

[2022-02-01 09:12] SumanthMarigowda commented on #87250
@Subhrajit-Katonic Thanks for the question! We are investigating and will update you shortly.

[2022-02-01 09:16] SnehaAgrawal-MSFT commented on #86885
@nkumars We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2022-02-01 09:16] #86885 closed

[2022-02-01 09:30] Sharmistha-Rai commented on #86896
@danailedms - checking with the team.

[2022-02-01 09:48] mhgames commented on #63610
Hello, I have the same issue - getting 403: IP Forbidden. My configuration is following:
- App Service behind private endpoint
- Added custom domain (with cert and all that stuff)
- Added <myapp>.scm.privatelink.azurewebsites.net and <myapp>.privatelink.azurewebsites.net records to private DNS zone
- Tried to nslookup everything from the CI/CD pipeline on our self-hosted agent and it all resolves

[2022-02-01 09:55] KrishnaG-MSFT commented on #87246
@CharlPels Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-01 10:00] ankku opened #87259 "Accessing a lake database in Synapse Studio pipeline is not available"
So I am trying to access a table which is being created from the template inside a Lake Database in Synapse Studio. I couldn't find a way how can i access this standalone server less table in my pipeline.

Link followed: [https://docs.microsoft.com/en-us/azure/synapse-analytics/database-designer/create-lake-database-from-lake-database-templates]

Steps followed:

Navigate to Azure Synapse workspac

[2022-02-01 10:00] KrishnaG-MSFT commented on #87249
@jun110 Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-01 10:02] SumanthMarigowda commented on #87250
@Subhrajit-Katonic You can Get-AzStorageTable: https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azstoragetable?view=azps-7.1.0

Perform Azure Table storage operations with Azure PowerShell: https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-how-to-use-powershell?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fstorage%2Ftables%2Ftoc.json&bc=https%3A%2F%2Fdoc

[2022-02-01 10:02] #87250 closed

[2022-02-01 10:03] #86738 closed

[2022-02-01 10:03] SumanthMarigowda commented on #87241
@samrueby The PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-01 10:03] #87241 closed

[2022-02-01 10:08] timoklimmer commented on #86761
@aahill - I would appreciate a clearer structure here and more precise infos. IMHO the article should clearly state which roles are required (a) for the user account and which roles are required (b) for the language service's managed identity. As is now, it can be easily missed that one's own user account needs the Owner or Contributor role assignment, too. Also, the list of roles for accessing th

[2022-02-01 10:19] chielboogaard commented on #54055
Hi, I'm facing the same issue. Any updates?

[2022-02-01 10:23] KrishnaG-MSFT commented on #87115
@joalmiza Thanks again for the feedback. The suggested steps are correct in a way but in case Updates_MicrosoftDefaultComputerGroup function is deleted due to some reason before trying to remove machines then the suggested steps might confuse the readers as they might not find the function and also might not find a way to save the query as a function. So I would recommend to let the current steps

[2022-02-01 10:33] KrishnaG-MSFT commented on #87116
Definitely @OliCSADoerr.

As @vineetvikram mentioned in the earlier comment, we will try to get it validated and list as supported OS. At this point it would typically be as an backlog item to validate and take the appropriate action.

However, currently there are no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding

[2022-02-01 10:33] #87116 closed

[2022-02-01 10:50] Sikkesoft commented on #86216
Thanks, that answer my question.

[2022-02-01 10:50] #86216 closed

[2022-02-01 10:51] zeeshaanali commented on #84897
@sharroy Thanks for taking it further and acknowledging the changes required. I'll close this issue and watch out for the latest updates.

[2022-02-01 10:51] #84897 closed

[2022-02-01 10:57] KrishnaG-MSFT commented on #87172
@navenkat I have tried to reproduce the issue but as shown in below screenshot, it worked successfully at my end.

<img width="817" alt="image" src="https://user-images.githubusercontent.com/45988031/151955803-8146fe3c-a2ee-4027-a828-51290273d0cc.png">

As mentioned in the prerequisites section of the referred Azure document, I have tried using version 1.0.0 or later.

<img width="462" alt="image"

[2022-02-01 11:13] ElectricLlama commented on #87099
After a lot of reading I worked it out myself.

If it helps this is what I came up with

[code]

[2022-02-01 11:24] deeagar opened #87262 "ACI behind VNet is supported and working for Azure Government deployments"
Hi,

In the documentation, it is mentioned that "ACI behind VNet is not supported". However, I've done the deployments and and verified that this is indeed supported and it's been running in production for more than a year now.

Does the documentation needs update or am I missing anything?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-02-01 11:43] amit2204 opened #87263 "Screenshot is wrong"
[The screenshot used in the section "Prepare your Azure AD B2C tenant" is of Azure AD and not of Azure AD B2C. Please check]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c73cf1e-1f14-6e21-ac23-682c9a2a30fb
* Version Independent ID: bcd6680b-70d1-0440-e32e-bef79f5beb8a
* Content: [Add Conditional Access to a user flo

[2022-02-01 11:45] kmb385 opened #87264 "Quickstart missing download link to GitHub Projects"
This quickstart is missing the download link to the project on GitHub, which makes it difficult to follow along.  Specifically, in "Step 2: Download your Visual Studio project" there is no download link for the code sample.

I landed on this page from a Google search and I'm unable to find a link to the Quickstart in the sidebar of the Azure Active Directory Documentation.  I suspect an old link o

[2022-02-01 11:56] ram-msft commented on #87262
@deeagar Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-01 11:59] GitaraniSharma-MSFT commented on #87244
@Ravivarman13 , thank you for your feedback. We'll investigate on this and get back to you shortly!

[2022-02-01 12:15] shashishailaj commented on #87248
@nitish-at Thank you for your query . We will investigate and update the thread.

[2022-02-01 12:19] shashishailaj commented on #87256
@serkansah Thank you for your query . We will investigate and update further.

[2022-02-01 12:22] shashishailaj commented on #87263
@amit2204 Thank you for your inputs. we will investigate and update the thread.

[2022-02-01 12:24] shashishailaj commented on #87247
@malexmave Thank you for your feedback . We will investigate and update the thread.

[2022-02-01 12:26] shashishailaj commented on #87264
@kmb385 Thank you for your inputs . We will investigate and update the thread.

[2022-02-01 12:31] RohitMungi-MSFT commented on #87252
@Dharanash It would be great if you could add more details about the description of the issue that is raised for this page to help you further. Thanks!!

[2022-02-01 12:35] abelal83 opened #87267 "Does not make revision current"
The instructions provided does not make the latest revision current nor does it have instructions on how to make any revision current.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803fb9a7-5896-f4b0-9144-af5f87f3b1d4
* Version Independent ID: aeb99370-0ff3-bf47-1b69-e8710fe454e0
* Content: [Tutorial - Use revisions i

[2022-02-01 12:36] Karishma-Tiwari-MSFT commented on #87233
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-01 12:59] lafranke commented on #86678
Hi @aahill , unfortunately, I do not have any images. Perhaps the description is enough.

The first problem I encountered was that I could not probably downlaod the file. My browser always blocked it and after a certain amount of re-forcing it (10 times or so), I was sent to a website where I had to put in my credentials and explain why I want to use this tool and why I trust it. After I somehow h

[2022-02-01 13:04] chao-master opened #87268 "Guide lists "Directory Id" but Azure portal reffers to it as "Tenant ID""
Section 3.1 states "Locate the Directory ID of the directory ... It's listed in the properties section of the Active Directory page."
However azure portal now refers to this values as Tenant ID.

Directory ID is also listed a further 3 times in the section.

It should either be Tenant ID, or a note added explaining how they are the same thing

---
#### Document details

⚠ *Do not edit this section

[2022-02-01 13:06] koheikawata opened #87269 "WEBSITE_RUN_FROM_PACKAGE not working for App Service Windows"
# Summary
`App Service Linux` corectly works as explained in [Run your app in Azure App Service directly from a ZIP package](https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package) while `App Service Windows` does not work as expected.

# Details
The document mentions WEBSITE_RUN_FROM_PACKAGE works for both Windows and Linux App Service. The examples below show Linux App Service cor

[2022-02-01 13:13] kbaken commented on #87104
Hi Mike, sorry. Comment didn't went well. Following the QuickStart I was referred to the deprecated .NET Core 2.1. I assume there should be a supported .NET version for this.

[2022-02-01 13:23] madsd commented on #87229
@cveld Certificate from Key Vault on ASEv2 is a private preview feature and not stabile. This should not be used in production, and we have no current plans on further enhancing it or releasing it to production. In a few month, we will be introducing Key Vault integration with custom domain suffix for ASEv3. This will be fully supported and documented and will include Managed Identity support.

[2022-02-01 13:52] mhgames commented on #63610
Ok guys, apparently what's inside Internet Explorer proxy settings, is ignored by the Azure Agent, so here's the solution for everyone, who's working behind a corporate proxy:
- You need to create a .proxybypass file in the agent's root directory and put there something like **azurewebsites\.net** (ofc that's for all the azurewebsites.net sites, so you might need to be more specific if not all of

[2022-02-01 13:56] shashishailaj commented on #87191
@marlabeau  As we have not heard any feedback from your side we will be closing this issue. If you have specific feedback related to this document, please create a new issue describing exactly how you would like this article to improve.

[2022-02-01 13:56] #87191 closed

[2022-02-01 14:06] stuhad commented on #38048
Seems the Uservoice page no longer exists, which means I can't find the status of this issue. Has there been any change to provide the ability to fix/remove lingering attributes from formerly synced users?

I am facing an issue with an App (Tailscale) failing to start on an AzureAD Joined PC, as it is performing a Primary Group lookup and failing becuase it thinks the user account is a domain user

[2022-02-01 14:07] ckittel commented on #85178
@csand-msft -- Per our conversation yesterday, I've provided a tiny bit of instruction in the AKS baseline at https://github.com/mspnp/aks-baseline/tree/main/cluster-manifests#private-bootstrapping-repository for folks looking for at least private repo configuration.  Once the full documentation is added for the resource manager usage of this feature, I'll update that section to link off to the do

[2022-02-01 14:14] Ericgre commented on #63610
Thank you for the discovery about azure devops agent.

[2022-02-01 14:15] Ericgre commented on #63610
#please-close

[2022-02-01 14:28] ChaitanyaNaykodi-MSFT commented on #87268
Hello @chao-master
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-01 14:30] cephalin commented on #85114
Updated tutorial to use Azure.Identity and Microsoft.Data.SqlClient. #please-close

[2022-02-01 14:30] #85114 closed

[2022-02-01 14:44] GeethaThatipatri-MSFT commented on #87113
Hi, @Euan-McVie we dint hear back from you, we will proceed to close this issue now, If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-02-01 14:44] #87113 closed

[2022-02-01 14:45] katriendg opened #87271 "Azure DevOps Starter - out of box initial installation fails on BUILD IoT Edge step"
When deploying this starter as described in the document, running the default 'edgenestingcicd-iothub - CI' pipeline fails.

Error message, in step 'Azure IoT Edge - Push module images' :

[code]

As you can read from the log above, the MODULE_BUILD_VERSION is not correctly replaced, as it is not defined in any variable groups.
Looking at the documentation on this page, there is an example of usin

[2022-02-01 15:16] PramodValavala-MSFT commented on #48735
@renklus Yes. That is correct and since you don't have to bind to a particular type, you could just bind to the context instead with this `[ActivityTrigger] IDurableActivityContext context`

[2022-02-01 15:22] alexanderojala opened #87272 "missing variable for templatefile in Azure CLI example"
Under Deploy template section the Azure CLI examples is not working.

the following is in the example,
templateFile="{provide-the-path-to-the-template-file}"
az deployment group create \
  --name blanktemplate \
  --resource-group myResourceGroup \
  --template-file $templateFile

and templateFile is missing an $ that is later used for --template-file

---
#### Document Details

⚠ *Do not edit thi

[2022-02-01 15:41] tomkuijsten commented on #86880
@PramodValavala-MSFT I did try it again and I cannot reproduce the error with the 10 seconds lock timeout. So my first sample was wrong, or it had some timing issues, I don't know. Bottom line, seems to work fine now. Thanks!

[2022-02-01 15:41] #86880 closed

[2022-02-01 15:42] sakaldeepyadav opened #87273 "Query has syntax error"
The below query has syntax errors.

**Current:**
ConfigurationChange
| where ConfigChangeType == "Files" and FileSystemPath contains " c:\windows\system32\drivers\"

**Correct:**
ConfigurationChange
| where ConfigChangeType == "Files" and FileSystemPath contains " c:\\windows\\system32\\drivers\\"

**Current:**
ConfigurationChange
| where FieldsChanged contains "FileContentChecksum" and FileSystem

[2022-02-01 15:42] roddick-mark commented on #87202
https://docs.microsoft.com/en-us/answers/questions/718332/application-gateway-fails-to-be-built-where-a-nsg.html

[2022-02-01 15:43] roalexan opened #87274 "provide link to built-in role for minimum permissions needed to run deployment script"
Hello. The section [Configure the minimum permissions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template#configure-the-minimum-permissions) lists the minimum permissions needed to run a deployment script (that will be calling az cli or powershell). What would be very helpful, if this exists, is to reference a built-in role, or multiple built-in role

[2022-02-01 15:44] Euan-McVie commented on #87113
Thanks for the update.
We suspect that the issue was github runner related rather than the emulator, but good to confirm there are no expected changes.

[2022-02-01 15:45] tfitzmac commented on #87272
@alexanderojala - The CLI examples are written for Bash. The syntax for that environment is correct. If you are using Azure CLI in another environment, you could add the $
#please-close

[2022-02-01 15:45] #87272 closed

[2022-02-01 15:54] MayankBargali-MSFT commented on #87242
@jyrate Thank you for your feedback! We will review and update as appropriate.

[2022-02-01 15:55] MayankBargali-MSFT commented on #87267
@abelal83 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-01 16:04] bhadev24 commented on #58469
Did someone managed to bypass the selfAsserted page when signing from externalIDP and create federated user in B2C ?

[2022-02-01 16:04] PramodValavala-MSFT commented on #87010
@bostevensspinakr Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-01 16:04] #87010 closed

[2022-02-01 16:05] Nicholak-MS commented on #87145
SKU 749742bf-0d37-4158-a120-33567104deeb has been updated with the missing service plans in the online document as well as the associated downloadable csv. The updates will publish later today.

#pleae-close

[2022-02-01 16:09] jonwbstr commented on #77174
Found this, and I am going to try it out. Need to create a PAYG subscription and target resource group first.

[code]
Source:
https://www.powershellbros.com/check-possibility-of-azure-resource-migration/

[2022-02-01 16:18] MonikaReddy-MSFT commented on #87273
@sakaldeepyadav - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-01 16:23] philon-msft commented on #86087
@yichungyu Thank you for bringing this to our attention.

Fixed in https://github.com/Azure-Samples/azure-cache-redis-samples/pull/17

[2022-02-01 16:29] #76554 closed

[2022-02-01 16:31] real-oneill opened #87276 "Creating Subscription for Custom Topic failure"
Hello,

I have an Event Grid System Topic for a Storage Account and I am trying to add as Subscription to route the events to a Custom Event Topic. I am getting a deployment failed error even though I am providing the Access Key for the Custom Topic endpoint. I have tried adding the key to the header and endpoint parameters. The error message is below followed by my the Json for the subscription I

[2022-02-01 16:50] jmprieur commented on #87264
@mmacy  another one

[2022-02-01 16:53] franklesniak opened #87278 "Clarify subscription-level vs. user-level Azure partner of record"
This page is a little bit confusing, maybe misleading. Or maybe I am confused 🙂

When configuring the partner of record on an Azure subscription, it seems to be a global setting for all resources in the subscription, and for all users creating resources - correct?

However, in reading the [docs page for New-AzManagementPartner](https://docs.microsoft.com/en-us/powershell/module/az.managementpartne

[2022-02-01 17:04] #87001 closed

[2022-02-01 17:18] MohamedA-Ibrahim opened #87279 "Code sample has an extra parenthesis"
The C# code sample for "Translate Documents" section has an extra parenthesis that gives an error when compiling. The issue is minor but can make the user wary of any other mistakes in the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40721433-051a-8903-34b0-c8935d6f2af9
* Version Independent ID: 1c775439-089b-5

[2022-02-01 17:21] kobulloc-MSFT commented on #86996
@Klaas- I was able to confirm that the RHUI sync does happen on a 24 hour interval but it sounds like the added time to propagate through the mirrors means that you are seeing update times that are a little over a day and a half after release for RHEL 7 and RHEL 8.  I've reached out to the documentation team and they are working on updating the docs to include update information.

[2022-02-01 17:22] MohamedA-Ibrahim opened #87280 "wpf code sample link leads to 404 error page"
I have created this issue here since the link that has the issue doesn't have a feedback button.
This link: https://docs.microsoft.com/en-us/samples/microsofttranslator/text-translation-api-v3-c-sharp/translator-c-sharp-v3/
has a link "Tutorial: Create a translation app with WPF, C# - Translator - Azure Cognitive Services"  which leads to 404 error page when clicked.

[2022-02-01 17:30] brittanyrowe commented on #86684
Hi @yonisade,

Per [Azure VM naming convention](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions), any VM with an 'i' in the name is an isolated VM size. Isolated VMs are different from Azure Dedicated Host in that they are a single VM that you have control over, whereas Azure Dedicated Host gives you access to the host and controlling its VM packing but does not suppo

[2022-02-01 17:31] JamesTran-MSFT commented on #87151
@willcoxson
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous comment?

[2022-02-01 17:37] JamesTran-MSFT commented on #87221
@TroutDD
Thank you for following up on this! I've reached out to our engineering team to see if this is by design and will update as soon as possible.

[2022-02-01 17:42] JamesTran-MSFT commented on #87232
@dougsbaker

[2022-02-01 17:48] jasongroce commented on #83057
@santhoshbomma9 Thank you for your feedback! We are still assessing the best way to address your feedback. We have logged the issue within our internal tracking tools and are thus closing this issue. #please-close

[2022-02-01 17:48] #83057 closed

[2022-02-01 17:55] dlepow commented on #79372
@PlagueHO - I will proceed to close this issue. Additional trusted services will be listed in this article when they are supported. Thank you for your feedback!
#please-close

[2022-02-01 17:55] #79372 closed

[2022-02-01 18:07] dlepow commented on #73961
Because we haven't heard back on this issue, I'll proceed to close it. If you would like to continue this discussion, please feel free to reopen. We appreciate your feedback and attention to Microsoft docs!
#please-close

[2022-02-01 18:07] #73961 closed

[2022-02-01 18:14] Karishma-Tiwari-MSFT commented on #87280
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-01 18:18] SatishBoddu-MSFT commented on #87141
hello @baanders Could you please help us in this matter!

[2022-02-01 18:18] yonisade commented on #86684
According to [this doc](https://docs.microsoft.com/en-us/azure/virtual-machines/isolation) the above mentioned are not isolated.

I guess like there are VM size names without a "d"  but do include temp local storage such as [here](https://docs.microsoft.com/en-us/azure/virtual-machines/mv2-series)

[2022-02-01 18:20] SamaraSoucy-MSFT commented on #87276
Thanks for the question! We will review and get back to you shortly.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. We actively look through posts in the forums, and will do our best to get you going in the right direction!

[2022-02-01 18:23] GeethaThatipatri-MSFT commented on #87215
I'm assigning this to the author for the feedback review

[2022-02-01 18:28] erik-ha-msft commented on #79968
Thank you for your feedback! I've updated the article and learn lessons to address your feedback and the changes should be available soon. #please-close

[2022-02-01 18:28] #79968 closed

[2022-02-01 18:29] YutongTie-MSFT commented on #87279
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-01 18:37] SatishBoddu-MSFT commented on #87271
@katriendg
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-01 18:38] dlepow commented on #85239
#assign: @tejaswikolli-web

[2022-02-01 18:45] AjayKumar-MSFT commented on #86514
rforster-dev, We have raised a PR, to include information about the subpath in the JSON. Once the PR is merged the published changes will reflect in the doc after a few hours.

 "excludedPaths": [
            "/path1",
            "/path2",
            "/path3/subpath/*"
        ]

Thanks for taking time to share your valuable feedback. Much appreciated.

[2022-02-01 18:45] #86514 closed

[2022-02-01 18:45] KrishnaG-MSFT commented on #87274
@roalexan Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-01 18:55] tejaswikolli-web commented on #71439
#assign: @tejaswikolli-web

[2022-02-01 18:55] tejaswikolli-web commented on #71439
#assign: @tejaswikolli-web

[2022-02-01 18:55] PRMerger18 commented on #71439
Users tejaswikolli-web are already assigned.

[2022-02-01 18:56] tejaswikolli-web commented on #72213
#assign: @tejaswikolli-web

[2022-02-01 18:56] tejaswikolli-web commented on #73463
#assign: @tejaswikolli-web

[2022-02-01 18:56] tejaswikolli-web commented on #73727
#assign: @tejaswikolli-web

[2022-02-01 18:57] tejaswikolli-web commented on #73733
#assign: @tejaswikolli-web

[2022-02-01 18:57] tejaswikolli-web commented on #78210
#assign: @tejaswikolli-web

[2022-02-01 18:57] tejaswikolli-web commented on #80878
#assign: @tejaswikolli-web

[2022-02-01 18:58] tejaswikolli-web commented on #81128
#assign: @tejaswikolli-web

[2022-02-01 18:58] tejaswikolli-web commented on #81684
#assign: @tejaswikolli-web

[2022-02-01 18:59] tejaswikolli-web commented on #84204
#assign: @tejaswikolli-web

[2022-02-01 19:10] mmcguinness opened #87284 "In Data Copy, UseTempDB Causes Timeout after 2 minutes."
In a Data Copy task Sink to SQL Azure with an upsert and a large dataset, the "useTempDB" option causes a timeout after 2 minutes, regardless of "Write batch timeout" or "Write batch size" settings used in the sink.  Perhaps it should be documented that "useTempDB" is not useable for upserts with large data sets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-02-01 19:24] RyanHill-MSFT commented on #87269
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-01 19:51] Klaas- commented on #86996
@kobulloc-MSFT so for the rhel 8.2 repository the time needed for the update to reach the west europe mirror was more than 63 hours (I did not check again until monday morning so I can't say how much more time it needed)

[2022-02-01 19:55] SamCN2 opened #87286 "Confusing requirements documentation"
The page that points to these docs [ https://www.microsoft.com/en-us/download/details.aspx?id=56506 ] states that the techinque described works on Windows and Ubuntu.  The specific example on this page says to install Jira on Windows 64.

Nothing in the example seems to require Windows, i.e. the examples are in the Azure AD portal, and in the Jira config file and web app config pages.

---
#### Do

[2022-02-01 20:03] mmacy commented on #87264
Thanks for the ping, @jmprieur!

@kmb385, thanks to you as well for the heads-up. The fix for this has been merged but won't go live until the afternoon publish (in about three hours @ 3PM Pacific):

https://github.com/MicrosoftDocs/azure-docs-pr/pull/186987

Once that's merged, any inbound links to the "portal-only" quickstarts should work as expected, directing your browser to the correct "docs-

[2022-02-01 20:03] #87264 closed

[2022-02-01 20:07] cveld commented on #87229
Private preview? We are using it already for two years now :-)

And thanks for the heads up on ASEv3 progress! For now there is no upgrade available for our ASEv2 footprint so we ask the ASEv2 users to manually migrate to ASEv3. We will review this situation when you deliver the next increment.