[2019-12-23 18:14] Karishma-Tiwari-MSFT commented on #44795
@mybayern1974 Did this help you with your question? Let us know.
https://github.com/MicrosoftDocs/azure-docs/issues/44795#issuecomment-567439662

[2019-12-23 18:15] Squall90 commented on #45145
Ah, my apologies ! I just re-read the article!

https://azure.microsoft.com/en-us/pricing/details/azure-maps/

"For Batch Search calls, each individual query in the batch counts as a transaction. For Batch Route calls, each individual route calculation query in the batch counts as a transaction."

[2019-12-23 18:15] #45145 closed

[2019-12-23 18:17] pvrk commented on #44971
Will update the document as soon as the capability is released. Closing this since this is a doc update request for a yet-to-be-released feature.

#please-close

[2019-12-23 18:17] #44971 closed

[2019-12-23 18:18] tfitzmac commented on #45065
@SwathiDhanwada-MSFT - I could remove it from the docs, but this seems much more like a bug in the portal. Do you have a way of passing this request on to the portal team?

[2019-12-23 18:18] Karishma-Tiwari-MSFT commented on #45145
Thanks for sharing the update.

[2019-12-23 18:20] FrankHu-MSFT commented on #45088
Hey @Dr0m0 thanks for letting us know about this, we'll go ahead and see if we can make that change as soon as possible.

This should be updated in a few weeks time, please let us know if you have anymore questions in regards to this by end of day thursday otherwise I'll be closing out this git issue eod thursday.

[2019-12-23 18:22] msrini-MSFT commented on #45098
@eveningit , You should be able to add the VM in an availability set to the backend pool of LB. Make sure that the SKU which you choose for the LB and the SKU of the Public IP associated to the VM are same.

![image](https://user-images.githubusercontent.com/47132998/71374035-311adc00-25df-11ea-8d3f-5bd84bf66674.png)

[2019-12-23 18:22] msrini-MSFT commented on #45028
@Faricity , You should be able to add the VM in an availability set to the backend pool of LB. Make sure that the SKU which you choose for the LB and the SKU of the Public IP associated to the VM are same.

![image](https://user-images.githubusercontent.com/47132998/71374062-50b20480-25df-11ea-8027-f94fa3e4238f.png)

[2019-12-23 18:23] FrankHu-MSFT commented on #45070
hey @binhnguyen1984 can you please provide some clarification in regards to this issue and what you're expecting in regards to a front end application? You'll just get an access token from the auth/token endpoint using the MSAL libraries accordingly

[2019-12-23 18:24] FrankHu-MSFT commented on #44899
hey @m-sterspace  if there's no more questions/issues within the scope of this issue I'lll be closing it out by end of day today, please let us know if you have anymore concerns in regards to this .

[2019-12-23 18:25] jflynn129 commented on #44814
Will do thanks for the help.

[2019-12-23 18:25] #44814 closed

[2019-12-23 18:25] texasnole opened #45150 "Needs to be updated for new AMD v4 processors"
Needs to be updated for new AMD v4 processors. Please update or deprecate this measurement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b9177e-fd0f-84ce-f02e-b32c04e1217c
* Version Independent ID: b44a31b5-5fe9-9e03-08f6-709aa90cffeb
* Content: [Overview of the Azure Compute Unit - Azure Windows Virtual Machines](

[2019-12-23 18:26] CeciAc opened #45151 "adminconsent endpoint requires also response_type parameter"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/609

@thobach commented yesterday — with docs.microsoft.com
When I call:
https://login.microsoftonline.com/common/v2.0/adminconsent?client_id=&lt;valid-clientt-id&gt;&state=12345&redirect_uri=https://localhost:1234&scope=https://graph.microsoft.com/.default

I'm forwarded to:
https://localhost:1234/?error=inv

[2019-12-23 18:26] FrankHu-MSFT commented on #44800
hey @carolchiz  i'm following up on this issue, can you please clarify/answer the question asked? In regards to bulk inviting there's a preview feature here : https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite

If there's no response in regards to this issue by end of day today I'll be closing this issue out, please engage via Q&A forums for more technical help as the

[2019-12-23 18:27] #45088 closed

[2019-12-23 18:31] jeevansd commented on #45146
In this case our recommendation to use the force login by pass URL and with that you can always use username and password for Administrative workloads.

[2019-12-23 18:37] dkonyayev opened #45152 "Migrate to Existing Azure Resource"
We are trying to migrate our LUIS apps to an Azure resource that was created for us by our Azure engineering team. However, it seems  there is no option to migrate to an existing resource. Can you provide guidance on how we can do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd1b7924-7392-c538-9961-40c92e8a38c1

[2019-12-23 18:43] MarileeTurscak-MSFT commented on #45148
@shahidpages
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-23 18:45] MarileeTurscak-MSFT commented on #45148
Thanks! Just made a pull request to fix this https://github.com/MicrosoftDocs/azure-docs-pr/pull/99660

[2019-12-23 18:45] #45148 closed

[2019-12-23 18:45] MartinJaffer-MSFT commented on #45143
Thank you for bringing this to our attention @gabrielnespoli .  We will review the document and update as appropriate.

[2019-12-23 18:49] carolchiz commented on #44800
It is not a problem with bulk invite. Her we go with screen shots. This is the invite from SPO to Gmail.
First I invite an external user to the site
![1 share site](https://user-images.githubusercontent.com/57109210/71374940-e2f4e100-25bc-11ea-9392-fe1230fbd864.jpg)
I get my copy of the invitation
![2 my copy of invite](https://user-images.githubusercontent.com/57109210/71374955-f0aa6680-25bc-11ea

[2019-12-23 18:50] MarileeTurscak-MSFT commented on #45025
@iAmSaugata please create a new issue linking the document you are following, or if you do not have specific document feedback and have a product question instead, please post to Q&A or MSDN.

https://docs.microsoft.com/answers/questions/index.html

https://social.msdn.microsoft.com/

[2019-12-23 18:50] #45025 closed

[2019-12-23 18:51] Karishma-Tiwari-MSFT commented on #45150
The information for Azure VMs that feature the latest AMD EPYC™ 7452 processor are provided in these documents:
[Linux](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-general)
[Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-memory)

[2019-12-23 18:52] mrbullwinkle commented on #45117
The change to update this screenshot has been merged internally. It will go-live later today.

We will now close out this issue. Thanks again for bringing this to our attention.

[2019-12-23 18:52] carolchiz commented on #44800
![7 google configures in Azure AD](https://user-images.githubusercontent.com/57109210/71375207-bdb4a280-25bd-11ea-874d-2c4930084103.jpg)
Google is configured in my Azure AD

[2019-12-23 18:52] mrbullwinkle commented on #45117
#please-close

[2019-12-23 18:52] #45117 closed

[2019-12-23 18:56] FrankHu-MSFT commented on #45131
@bertrandpons Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-23 18:56] FrankHu-MSFT commented on #45134
@andrei-dascalu Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-23 18:57] FrankHu-MSFT commented on #45151
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-23 18:58] carolchiz commented on #44800
Same issue using Azure to invite them
![8 invite from azure](https://user-images.githubusercontent.com/57109210/71375358-416e8f00-25be-11ea-8f0b-b790b406a9dd.jpg)

AH brilliant - this has decided to work now..

[2019-12-23 18:59] shahidpages opened #45153 "Topic index and page headings mismatch"
[Enter feedback here]

The topics index on top or beginning of the page does not match with the headings on rest of the page. Please do the needful to avoid this confusion.

Topics Index
Create and customize a VM
Deprovision and generalize the VM
Create a custom VM image
Deploy a scale set that uses the custom VM image
**Topics Index**

Headings on page
Use Azure Cloud Shell
Create and configure a

[2019-12-23 18:59] carolchiz commented on #44800
Now I will figure out how to invite this user to SPO:

[2019-12-23 18:59] #44800 closed

[2019-12-23 19:00] jofrance opened #45154 "Powershell restore specifics"
Powershell is restoring Unmanaged disks even if the original VM uses managed disk, hence restoring the template fails since it looks for managed disks, please review the instructions to use PS to deploy managed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID

[2019-12-23 19:00] dcurwin commented on #45154
#reassign:pvrk

[2019-12-23 19:01] shahidpages commented on #45148
I don't see any change and issue already closed?

[2019-12-23 19:06] pvrk commented on #45154
@jofrance : If the VM has managed disks, then was the restore command given as documented in the [restore managed disks](https://docs.microsoft.com/azure/backup/backup-azure-vms-automation#restore-managed-disks) section i.e., with a target resource group parameter? If that is not given, then the disks will be restored as unmanaged.

[2019-12-23 19:16] Karishma-Tiwari-MSFT commented on #45149
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99668

[2019-12-23 19:16] #45149 closed

[2019-12-23 19:17] Karishma-Tiwari-MSFT commented on #45152
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-23 19:20] Karishma-Tiwari-MSFT commented on #45130
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-23 19:20] jeanpoelie commented on #44681
It seems like the issue has resolved itself, running this command works perfectly.

[2019-12-23 19:20] mike-urnun-msft commented on #45144
@Andy9874 Thank you for your feedback! We will review and update as appropriate.

[2019-12-23 19:23] krozgrov commented on #44910
Have the a case open with MS as well.  This is effecting staff and external/guests users.  Case #119120324002269

Is there anything we can do to fix this issue or are we waiting for a fix from MS development?

[2019-12-23 19:32] Lexy2 opened #45156 "Typo in a warning"
Warning

The availability group listener health probe port has to be different from the cluster core IP address health probe port. In these examples, the listener port is 59999 and the **cluster core IP address is 58888**. Both ports require an allow inbound firewall rule.

Maybe cluster core IP address health probe port?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-23 19:49] m-sterspace commented on #44899
I eventually figured out my issues and do have more detail, I just a need a little more time to write it down

[2019-12-23 19:50] craig-martin commented on #44936
My feedback is that the Alert Rule name is an important piece of data because:

- it is the key piece of data for viewing alerts
- it is used in integrations such as IcM, so incidents also look broken
- the name property is read-only, so when it gets changed by this process we cannot change it back, meaning we have to create new rules

[2019-12-23 19:50] deyanp commented on #45142
@tfitzmac, below the arm template, can share also the parameters.json with which we are executing it ..
`
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscriptionId": {
            "type": "string",
            "defaultValue": "[subscription().subscriptionId]"
        },
        "na

[2019-12-23 19:51] deyanp commented on #45142
yes, we can deploy 1 resource at a time, I assume it is something with the 2 arrays for sites and slots executing in parallel instead of one after the other ...

[2019-12-23 19:56] Karishma-Tiwari-MSFT commented on #45156
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99673

[2019-12-23 19:56] #45156 closed

[2019-12-23 20:14] Karishma-Tiwari-MSFT commented on #45059
Thank you for sharing the update and the resolution.
We will keep the doc as-is for now. However, your solution would stay here with the document for others to refer. As we get more customers with similar feedback, we will consider updating the doc.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comm

[2019-12-23 20:14] #45059 closed

[2019-12-23 20:18] FrankHu-MSFT commented on #45068
hey @binhnguyen1984 asp .net core and asp .net framework are not the same things, I suggest taking a look at this SO post here for more information : https://stackoverflow.com/questions/37684508/difference-between-asp-net-core-net-core-and-asp-net-core-net-framework

ASP .net framework code and asp .net core code are not meant to be interchangeable.

[2019-12-23 20:30] sameer-kumar opened #45157 "ID_Token Validation missing"
[Enter feedback here]
I was reading this article and I liked it. However, I could not find more details about validation which was just touched in one para of Note. See [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-overview?tabs=aspnet)
It states that MSAL takes care of validating access_token.
I would love to see this sample as complete where in

[2019-12-23 20:42] tfitzmac commented on #45142
@deyanp - there are a few issues I am noticing at the moment. One, the nested deployment for slots uses copyIndex for the name of the nested deployment and for the dependsOn, but there is no copy element defined at that level. The copy element is within the nested deployment. Two, the nested deployment for slots should depend on the copy loop for sites, not the individual sites. Provide the name o

[2019-12-23 20:53] sandeep8530 opened #45158 "Exception Details: This operation is not permitted on a non-empty directory."
Trying to write data into SQl DW through databricks stream data frame. process is trying to delete the temp folder in the BLOB storage and throwing below. In the documentation i see that process will not automatically cleanup tempdir. Is it true? if true, then why is this error? Using below query in python

df1.writeStream
.format("com.databricks.spark.sqldw")
.option("url", sqlDwUrlSmall)
.option

[2019-12-23 20:56] tfitzmac commented on #38591
Thanks for this feedback. It seems this error is intermittent, based on how long it takes for a registration to complete. I am updating the article to include this error code and to suggest registering the resource provider prior to deployment.

[2019-12-23 20:56] tfitzmac commented on #38591
#please-close

[2019-12-23 20:56] #38591 closed

[2019-12-23 20:59] HoCGeek opened #45159 "Would it be more accurate to title this article "Archive future Azure AD logs to an Azure storage account"?"
It is unclear to me in all of the documentation I've read on this whether "Archiving Azure AD logs to an Azure storage account" includes existing logs, but my experience today suggests that this only archives logs entries that are generated after this setting is enabled.  Is that the expected behaviour?  I would suggest that the current title and document content lend themselves to the interpretat

[2019-12-23 21:12] #43880 closed

[2019-12-23 21:17] binhnguyen1984 commented on #45068
I know they are not the same. But there should be a sample that works for asp.net core, or at least some instructions on how to adapt the current sample to asp.net core. I got stuck on this issue for weeks and really need a working sample very soon.

[2019-12-23 21:23] rangler2 commented on #44592
Hi, no I do not need any more help. But it would help others I think if a note is made on the doc about potential outage during enable encryption, if that is expected behaviour. Thanks

[2019-12-23 21:24] deyanp commented on #45142
@tfitzmac , sorry for sending you a version which is "work in progress", as I wanted to try nesting the slots in a separate nested depoyment, in case that solved the issue. The original template, with sites and slots at the same level, and both with copy, is:

`
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "

[2019-12-23 21:24] dkonyayev commented on #45152
@Karishma-Tiwari-MSFT https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-migration-authoring-steps

[2019-12-23 21:24] anusharavindrar opened #45160 "URL typo"
Under the 'Changes by slot name and version name' section, the URL for the last method(POST) is https://{REGION}.api.cognitive.microsoft.com/luis/predictionv3.0/apps/{APP-ID}/versions/{VERSION-ID}/predict. There should be a '/' after prediction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 937b3640-bf64-9a1f-fe97-da3

[2019-12-23 21:29] HeidiSteen commented on #42824
@buildbod  Sorry for the late turnaround on this.  I tried it today on a clean machine with Visual Studio 2019 community edition, installed with templates for ASP.NET and .NET Core.  I couldn't repro the error, nor can I change the C# language version using your steps (very easy to follow, thank you!) so I'm not sure I can take your edit.

I revised the readme and docs to emphasize the VS 2019 req

[2019-12-23 21:29] #42824 closed

[2019-12-23 21:30] deyanp commented on #45142
Thanks for the link, I see now how I can depend on the whole copy collection! I guess that should work, instead of nesting deployments ..

[2019-12-23 21:32] FrankHu-MSFT commented on #45134
hello @andrei-dascalu I'm not sure I understand, the CLI version is on the left side : https://docs.microsoft.com/en-us/azure/key-vault/quick-create-cli
![image](https://user-images.githubusercontent.com/6366013/71381498-98f20800-2588-11ea-98d3-bec74bcb2c88.png)
Does this answer your question? This document already exists on the left side, It would be redundant to add it into this doc and would se

[2019-12-23 21:33] FrankHu-MSFT commented on #45134
If you have anymore issues please let us know otherwise i will be closing out this git issue by end of day today.

[2019-12-23 21:50] binhnguyen1984 commented on #45070
I have a web app that is simply a razor page. The razor page calls a web api on behalf of the signed in user to load data and display on the page. I followed the sample that explains how a desktop app calls a web api. According to the sample, I created a public client to get access token to calls the web api, but this approach does not work, because the web api requires multifactor authentication.

[2019-12-23 21:52] MarileeTurscak-MSFT commented on #45040
@bartvermeersch thanks for this. I tested in my own tenant with demo accounts and was able to see the  fields during the password reset workflow, but not on the registration page, so made a pull request to remove the second note.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/99682

I will leave this open for @iainfoulds to approve or reject.

Thanks,

Marilee

[2019-12-23 21:52] #45040 closed

[2019-12-23 21:53] HeidiSteen commented on #43994
@Shobhit29  Are you using the free tier?  If yes, the service is limited to 50 MB and it could be that you ran into that limit, but the message in the portal UI is not getting that point across.  You could try using Postman and REST API to see if the messages are more helpful.  You could also try creating a new search service at Basic or higher.

I'm marking this issue as closed, but if you have m

[2019-12-23 21:53] #43994 closed

[2019-12-23 22:03] HeidiSteen commented on #43801
@manvendrautralia  My apologies for the delay in getting back to this thread.  You can capture search terms in the log files. When you enable OperationLogs or AllMetrics in Diagnostic Settings in the portal (and specify physical storage, such as blob storage or log analytics), you can build a history of search terms and then query or analyze that data for insights.

Not sure what you mean by ranki

[2019-12-23 22:03] #43801 closed

[2019-12-23 22:07] Alberto-Vega-MSFT commented on #45095
@qm13 Assigning the issue to you to add the reference to the GitHub repository.

[2019-12-23 22:09] Alberto-Vega-MSFT commented on #45027
Adding link for future reference https://github.com/Azure/azure-iot-sdk-c/issues/1382

[2019-12-23 22:09] #45027 closed

[2019-12-23 22:21] dcbrown16 commented on #45109
@SwathiDhanwada-MSFT I believe you mean this link, which is what I was referring to as the "big list of metrics".
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported

The problem I would like to solve is that that link lists one aggregation type, but you can select any aggregation type you want for any metric, including ones that make no sense. It would be helpful to ha

[2019-12-23 22:53] MarileeTurscak-MSFT commented on #45157
@sameer-kumar thanks for the feedback! I have assigned this issue to the content author to look into.

[2019-12-23 23:01] sandeep8530 opened #45161 "Issue while writing streaming data from Databricks to SQL DW (Synapse)"
**Doc:**    https://docs.microsoft.com/en-ca/azure/databricks/data/data-sources/azure/sql-data-warehouse?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-ca%2Fazure%2Fazure-databricks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-ca%2Fazure%2Fbread%2Ftoc.json#feedback

Trying to write data into SQl DW through databricks stream data frame. process is trying to delete the temp folder in the BLOB stor

[2019-12-23 23:06] MoxiePoxy opened #45162 "Data not binding in Index.cshtml"
The source code for Index.cshtml has a casing error - it is binding to key.id and key.value when it should be key.Id and key.Value.  This results in the add and delete buttons being added, but the name of the food item not appearing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
*

[2019-12-23 23:13] MarileeTurscak-MSFT commented on #45132
@jzuchora87
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-23 23:30] Karishma-Tiwari-MSFT commented on #45153
This part of the doc covers what you will be learning on a high level while going through the doc:

![image](https://user-images.githubusercontent.com/20851144/71384410-f5a7ef80-2595-11ea-888f-7f0dbe90a756.png)

While this one on the right side, shows the index:
![image](https://user-images.githubusercontent.com/20851144/71384490-82eb4400-2596-11ea-9892-05416f154e6c.png)

[2019-12-23 23:34] alexanderdp opened #45164 "Too choppy and sloppy!"
Instead of chopping up bits of code here and there, saying to: place this code here, insert that code there, how about a clear, simple, concise and complete example page!

This current method of bits of code here-and-there is chaotic and sloppy.
This method is used through docs.microsoft and it has to stop!
Please!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-12-23 23:40] esung22 commented on #45033
@ChiragMishra-MSFT I responded in email, looks like that didn't transfer over.  I'm not on the ADLS team anymore.  I unassigned myself but it looks like I don't have permission to re-assign the issue.

@sachinsbigdata @swums Can you please take a look and change the owner as appropriate?

FWIW, I think these are general NSG-specific usage questions and not specific to ADLS.  This article already l

[2019-12-24 00:07] tfitzmac commented on #44839
@lukepuplett - thanks for this feedback. I have revised the incremental mode content to clarify how that mode works.

One of the advantages of templates is that you can redeploy the same template with the same parameters and get same result. This is possible by treating each resource in the template as the sole definition of the resource state. There are other ways (such as scripts and the portal)

[2019-12-24 00:20] yugangw-msft commented on #44883
@BartVanBerkel, the helm 2 chats will stay as a preview feature of ACR; while for helm 3 since it conforms to OCI, hence it can be saved as OCI artifacts w/o any modification, and that is what GA announcement communicates.
Hope this clarifies.

[2019-12-24 00:29] PgInsight commented on #33157
Setting all networks Allow on the KeyVault and we also needed to set the Soft Delete flag on the Key Vault using PowerShell cmd.

`($resource = Get-AzureRmResource -ResourceId (Get-AzureRmKeyVault -VaultName "YOUR-VAULT-NAME").ResourceId).Properties | Add-Member -MemberType "NoteProperty" -Name "enableSoftDelete" -Value "true"`

` Set-AzureRmResource -resourceid $resource.ResourceId -Properties $r

[2019-12-24 00:38] MarileeTurscak-MSFT commented on #43552
@1993Saurabh please reach me at the address provided and include your subscription ID so that we can better assist.

[2019-12-24 00:38] #43552 closed

[2019-12-24 00:51] dcbrown16 opened #45165 "Python error logging support"
Does WSGI_LOG work for both Windows and Linux Apps?
This whole series of FAQs is a bit unclear as to which flavors of Web Apps they apply to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba64cf1f-a5a5-7420-9843-fdf34191e2b5
* Version Independent ID: 8fa1e477-4419-3af7-b29c-f3a5b927bb78
* Content: [Open-source technol

[2019-12-24 00:55] Alberto-Vega-MSFT commented on #45003
@JimacoMS3 I actually realized that all the info is there. It is kinda hard to scan the whole thing to get the numbers. It would be great to have some sort of grid or table where you can quickly see all the max specified sizes. Just a suggestion.

[2019-12-24 01:32] MySecondLife commented on #45121
@SnehaAgrawal-MSFT  Could you copy the link and paste it in the address bar? If you click the link directly, you would be brought to the wrong link. It's so weird.

[2019-12-24 02:03] KrishnaG-MSFT commented on #45133
@dcurwin Thanks for the quick response. :+1:

[2019-12-24 02:05] KrishnaG-MSFT commented on #45154
@dcurwin @pvrk Thanks for the quick response. :+1:

[2019-12-24 02:07] KrishnaG-MSFT commented on #45142
@tfitzmac Thanks for the quick response. :+1:

[2019-12-24 02:24] mandiaya commented on #44774
Hi Jeevansd Thanks for your reply!!
I got an error when I use SSO to log in jira as an external user. Could you please investigate how can I fix this error?
![image](https://user-images.githubusercontent.com/49891553/71389482-884c9b00-2637-11ea-9df2-160febf8ab18.png)

[2019-12-24 02:28] AshokPeddakotla-MSFT commented on #44894
@tanieee28  Thanks for the details. I am assigning this to the author @arduppal for further assistance.

[2019-12-24 02:47] KalyanChanumolu-MSFT commented on #45055
@aditya815 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-24 02:47] #45055 closed

[2019-12-24 03:00] KalyanChanumolu-MSFT commented on #44922
Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2019-12-24 03:01] KalyanChanumolu-MSFT commented on #44925
Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2019-12-24 03:07] buocnhay opened #45166 "hiiiiiiii"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [QuickStart: Create a C# ASP.NET Core app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-starte

[2019-12-24 03:28] SnehaAgrawal-MSFT commented on #45147
@CKeene78 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-24 03:31] VikasPullagura-MSFT commented on #44795
@mybayern1974 We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2019-12-24 03:31] #44795 closed

[2019-12-24 03:33] SnehaAgrawal-MSFT commented on #45165
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-24 03:36] SnehaAgrawal-MSFT commented on #45164
@alexanderdp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-24 03:39] VikasPullagura-MSFT commented on #44962
@mojjeietuna Hope the information provided by doc author helped you.

We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2019-12-24 03:39] #44962 closed

[2019-12-24 04:05] shashishailaj commented on #45159
@HoCGeek Thank you for your feedback . We will have this reviewed and action it accordingly.

[2019-12-24 04:07] shashishailaj commented on #45114
@ekzp We have updated the article . The new changes must reflect in the next release cycle in 24-48 hours. Thank you for your valuable feedback.

[2019-12-24 04:11] RohitMungi-MSFT commented on #45160
@anusharavindrar Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-24 04:14] yeaminhyperanna commented on #32791
Would really like to see a higher value allowed for Azure WAF global parameter "Max file upload size". We can't use Azure WAF currently due to this limitation.

[2019-12-24 04:16] koyasuda-msft opened #45167 "About custom scripts extension from Azure Portal"
When users uplode custom scripts from Azure Portal, the scripts files are stored in storage account managed by Azure.(not customer's Storage Account)
This SAS has time limit.
Usually,there is no problem when the VM is deployed.

However, VMSS scale in/out uses this script's many times.
When SAS is expired, the deploy is failed.

So,please note following in this document.

When you deploy VMSS usin

[2019-12-24 04:21] shashishailaj commented on #45166
@buocnhay Thank you for engaging with us for documentation improvement. Could you please provide the details of the issue you are facing with the current quick-start documentation ? We can then guide you and help you in a more structured manner. Looking out for your response.

Thank you.

[2019-12-24 04:21] #45114 closed

[2019-12-24 04:22] CHEEKATLAPRADEEP-MSFT commented on #45158
#45161

[2019-12-24 04:23] #45158 closed

[2019-12-24 04:24] CHEEKATLAPRADEEP-MSFT commented on #44413
@aparent-talend  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-24 04:24] #44413 closed

[2019-12-24 04:25] CHEEKATLAPRADEEP-MSFT commented on #45161
Duplicate of #45074

[2019-12-24 04:25] #45161 closed

[2019-12-24 04:30] sandeep8530 commented on #45158
Hello,

I just followed the documentation and having issues. Do you have any other
working example?

On Mon, Dec 23, 2019 at 9:23 PM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2019-12-24 04:37] SwathiDhanwada-MSFT commented on #45065
@tfitzmac I have emailed the issue to one of the PG contacts of Azure Portal. Upon response , I will post here.

[2019-12-24 04:45] CHEEKATLAPRADEEP-MSFT commented on #45128
@nareshynn Using GitHub integration, you can switch to a different Git repo.

For more details, refer "[ADF - Switch to a different Git repo](https://docs.microsoft.com/en-us/azure/data-factory/source-control#switch-to-a-different-git-repo)".

Hope this helps.

[2019-12-24 04:54] SwathiDhanwada-MSFT commented on #45108
@rboucher Can you please provide your insights on the issue?

[2019-12-24 05:10] SubhashVasarapu-MSFT commented on #45167
https://blogs.msdn.microsoft.com/mast/2017/11/15/enhanced-azure-security-for-sending-emails-november-2017-update/

[2019-12-24 05:14] SwathiDhanwada-MSFT commented on #45109
@msvijayn @snehithm Can you please provide your inputs on this please?

[2019-12-24 06:02] Karishma-Tiwari-MSFT commented on #44883
Thanks @yugangw-msft :)
@BartVanBerkel We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-24 06:02] #44883 closed

[2019-12-24 06:04] PramodValavala-MSFT commented on #45147
@CKeene78 The `body` property is set for POST requests. Could you confirm if you are seeing `undefined` in such a case?

[2019-12-24 06:11] jakaruna-MSFT commented on #44681
@jeanpoelie Good to hear that.

I will close the issue now. Please open a new issues if you face one.

[2019-12-24 06:11] #44681 closed

[2019-12-24 06:14] Karishma-Tiwari-MSFT commented on #44735
@jeanpoelie Due to holidays, please expect delays in the responses. Will share the update as I hear back. Thanks.

[2019-12-24 06:15] Karishma-Tiwari-MSFT commented on #44395
@ChristianMontoya  Thanks for sharing the update. :)

[2019-12-24 06:18] amitvad opened #45169 "Why is S3 mentioned in the article instead of Azure SQL DB..copy paste?"
Check how many times S3 appears in the article for elastic pools on Azure
SQL DB
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954fdc5f-1572-c6a5-eb19-22e890b1174f
* Version Independent ID: b5776cca-f233-4c34-a649-9a61324a2edd
* Content: [Manage multiple databases with elastic pools - Azure SQL Database](https://docs.m

[2019-12-24 06:18] RohitMungi-MSFT commented on #45067
@adiun The reload method is only available for local deployments. If the existing deployment is not a local deployment the reload will not work as mentioned in the important [note](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-troubleshoot-deployment#update-the-service).

We would recommend to post your comments regarding the usage of SDK in our [ML notebooks issues page](

[2019-12-24 06:26] VikasPullagura-MSFT commented on #45073
@andresbarcenas Hope the provided information helps.

We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2019-12-24 06:26] #45073 closed

[2019-12-24 06:28] shashishailaj commented on #44844
@mmacy Could you please provide your inputs here on how best we can improve this ?

[2019-12-24 06:29] msrini-MSFT commented on #45127
@nagarajumicrosoft , You need to make sure that the subnet which you are creating falls within the address space that you have defined.

In your case, 10.5.1.0/24 is not the subset of 10.0.0.0/16.

Try creating an address space with range 10.0.0.0/24 or 10.0.1.0/24

You are not supposed to deploy any resource in Azure bastion subnet. Try creating a separate subnet for VMSS and try deploying your V

[2019-12-24 06:35] PramodValavala-MSFT commented on #45049
@RonaldMariah I believe there are a couple of unofficial ways of achieving it but since the functions runtime is the startup process, its best to use the officially supported way.

If there is something specific that you think is missing from the functions implementation of DI, please feel free to open an issue on the [azure-functions-host repo](https://github.com/Azure/azure-functions-host).

[2019-12-24 06:42] mike-urnun-msft commented on #41512
Looks like it wasn't packaged in the `buster` [distribution](http://packages.microsoft.com/debian/10/prod/dists/buster/Contents-amd64.gz). Moreover, [this issue](https://github.com/Azure/azure-functions-core-tools/issues/1593) suggests Debian packaging is yet to be part of the CI pipeline too. As such, I'll remove the row from the documentation for now until we better clarify this with the Functio

[2019-12-24 06:46] amqureshi opened #45170 "Scope of AZ Advisor"
you may want to mention scope of AZ Advisor as scope to subscription level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae7814-3a8b-1401-34b7-a3f53d22b9e5
* Version Independent ID: 30254acc-2901-0565-e7dc-619c279f8b78
* Content: [Introduction to Azure Advisor - Azure Advisor](https://docs.microsoft.com/en-us/azure

[2019-12-24 06:49] dcbrown16 opened #45171 "Outbound clarification"
As noted at the links below, outbound connections from APIM use the public IP when one is set and they are connecting outside the Vnet, but can use any private IP from the whole subnet when connecting to other resources in the Vnet.
https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#--routing
https://docs.microsoft.com/en-us/azure/api-management/api-management-usi

[2019-12-24 06:52] #41512 closed

[2019-12-24 07:03] mcurko opened #45172 "Correction"
Add "--partition-count 2" when creating the hub to avoid the error "Invalid PartitionCount 4 - value must be between 2 and 2."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart create an Azure IoT Edg

[2019-12-24 07:13] techiescorner opened #45173 "Blob partition size"
I have mounted the blob on my ubuntu server with the following command. (followed https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux document)

sudo blobfuse /mnt/backup --tmp-path=/mnt/resource/blobfusetmp --config-file=/home/admin/.fuse_connection.cfg -o attr_timeout=240 -o entry_timeout=240 -o negative_timeout=120 -o allow_other

But when I check my partit

[2019-12-24 07:19] #45091 closed

[2019-12-24 07:20] barmichal commented on #45054
@DavidTrigano please take a look and check if we can enhance the documentation.

[2019-12-24 07:20] Karishma-Tiwari-MSFT commented on #45035
@laurenhughes Can you please share your insights on what container modes imply here:

[2019-12-24 07:33] ankitag2013 opened #45174 "NSG flow log data to event hub"
When do Azure start supporting NSG flow log data into azure event hub stream ?
We do see logs of fields are missing in Event log and Rule counter like no of packets, bytes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef18d39d-585a-1f54-9157-c58cb5875d91
* Version Independent ID: b4374609-5480-7436-8a62-8deb04f02d90

[2019-12-24 07:39] DashleenBhandari-MSFT commented on #44953
@SreekanthOAuth  , Could you please provide the document you are referring to?

[2019-12-24 07:40] JasonWHowell commented on #35092
Hi @kollchaitanya
I'm not sure I fully understood your request.  Sorry its been several months, so you may not be interested any longer.

There is a PowerShell cmdlet here: https://docs.microsoft.com/en-us/powershell/module/az.datashare/New-AzDataShareDataSet?view=azps-3.2.0

I'm not sure there is a solution to do that automatically from Data Factory yet.

@joannapea Do you have any additional ide

[2019-12-24 07:42] Karishma-Tiwari-MSFT commented on #44798
@jluk  Is this something you are aware of? Please share your inputs. Thanks :)

[2019-12-24 07:42] DashleenBhandari-MSFT commented on #45016
@adamharm , Could you please provide the document you are referring to?

[2019-12-24 07:43] DashleenBhandari-MSFT commented on #44959
@frehnejc , Could you please provide the document you are referring to?

[2019-12-24 07:50] SychevIgor opened #45175 "Update screenshots"
Please, update screenshots - because in the end of 2019 - lists are significantly longer and we need to manually delete multipled extra items to finally deleted aad

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/media/directory-delete-howto/delete-directory-list.png
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/media/directory-delete-howto/

[2019-12-24 07:50] DashleenBhandari-MSFT commented on #44785
@cephalin , Could you please look into the document.

[2019-12-24 07:58] Karishma-Tiwari-MSFT commented on #44940
@peterpogorski Would you be able to share your insights on this issue? Thanks :)

[2019-12-24 08:04] Karishma-Tiwari-MSFT commented on #45150
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-24 08:04] #45150 closed

[2019-12-24 08:05] Karishma-Tiwari-MSFT commented on #45153
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-24 08:05] #45153 closed

[2019-12-24 08:19] DixitArora-MSFT commented on #45062
@APIWT I have assigned this to content author for further review and update as appropriate.

[2019-12-24 08:25] snehithm commented on #45109
Adding @harelbr who owns metric alerts now.

[2019-12-24 08:55] mcurko opened #45177 "Error"
"alertsToReset" and "telemetryToAsa" values are wrong - you cant just copy them from JSON with escape characters included

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c6c2a4f-2979-8420-115c-852bee17e43b
* Version Independent ID: 01b5c8c0-4f08-53f7-7be7-a22038ad6988
* Content: [Tutorial - Stream Analytics at the edge

[2019-12-24 08:56] VikasPullagura-MSFT commented on #45090
@Matt-Harrison2019 Data Loss will not be there.

As mentioned in the warning section of doc, as a best practice it is advised to take a [snapshot](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/snapshot-copy-managed-disk) before resizing.

We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be g

[2019-12-24 08:56] #45090 closed

[2019-12-24 08:58] AjayKumar-MSFT commented on #44897
@ignaciofls, Apologies for the delay! Thanks for bringing this to our attention. I seem to see the same behavior. I have shared your feedback with the content author (@vkurpad) to review further and update the document as appropriate.
![image](https://user-images.githubusercontent.com/44606227/71404285-281a2100-2658-11ea-9e34-e028e93664bb.png)

[2019-12-24 09:01] adamharm commented on #45016
For the security issue in confluence? It is https://nvd.nist.gov/vuln/detail/CVE-2019-15006.

However, the reason I opened this issue was for the new confluence version 7.2. I am asking for the plugin to be updated to work with 7.2.

[2019-12-24 09:02] tunminster opened #45178 "Shall I set availability set to AKS's nodes (VMs)?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-24 09:32] mflorezr-git opened #45180 "Communication requirements"
For travelers it is important to know what kind of communication would be required for the two-step verification, in some places the roaming costs, either cellular SMS and/or Data, are extremely high, therefore it would be nice to indicate the needed communication for each of the methods.
I would need a method which don't require communication at all, which seems to be the "verification from the M

[2019-12-24 09:39] CHEEKATLAPRADEEP-MSFT commented on #45158
@sandeep8530 You may checkout the answer on the MSDN forum: https://social.msdn.microsoft.com/Forums/en-US/e8e6ab46-fdd0-4916-9f3c-2019e2993c3a/issue-while-writing-data-from-databricks-to-azure-dw-synapse?forum=AzureDatabricks

Hope this helps.

[2019-12-24 09:42] PramodValavala-MSFT commented on #44980
@borys86 I tried deploying the quickstart template here for the dedicated plan which worked without a problem.

Could you try changing your template as such and see if it works?

[2019-12-24 09:46] AshokPeddakotla-MSFT commented on #45172
@mcurko Thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-12-24 09:46] AshokPeddakotla-MSFT commented on #45177
@mcurko Thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-12-24 09:47] PramodValavala-MSFT commented on #45171
@dcbrown16 Thanks for the feedback! We will review and update accordingly.

[2019-12-24 09:57] Hiteshgkapoor opened #45181 "When can we expect support for V2 version in Azure .Net SDK?"
When can we expect support for V2 version in Azure .Net SDK?

[2019-12-24 09:58] Hiteshgkapoor opened #45182 "When can we expect support for V2 version in Azure .Net SDK?"
When can we expect support for V2 version in Azure .Net SDK?

[2019-12-24 10:01] #45181 closed

[2019-12-24 10:02] #45182 closed

[2019-12-24 10:02] AjayKumar-MSFT commented on #45164
@alexanderdp, Apologies for the frustrated experience with this! Thanks for sharing your feedback.

The tutorial aims to provide key concepts and step-step instructions with relevant codes on how to authenticate users of an App Service Mobile App from your client application for Android, iOS & Windows 10, but still allow customers to learn things beyond a specific distribution. For example, here y

[2019-12-24 10:02] Hiteshgkapoor opened #45183 "When can we expect support for V2 version in Azure .Net SDK?"
When can we expect support for V2 version in Azure .Net SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d8b75f-c509-401f-2a66-4f7d1dab8f93
* Version Independent ID: 94094caa-ebb4-6752-0ff7-04331a2fa31b
* Content: [Quickstart: Form Recognizer client library for .NET](https://docs.microsoft.com/en-us/azure/cognitiv

[2019-12-24 10:20] saif-0607 opened #45184 "AADSTS700016: Application with identifier 'http://*******/saml2' was not found in the directory"
I am getting the below error once I connect our WebApplication to Azure Single-Sign on
AADSTS700016: Application with identifier 'http://*****.com./saml2' was not found in the directory '0edca472-***-****-*****'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to th

[2019-12-24 10:28] harry12345678910 opened #45185 "API Management can not import API definition"
Hello,

I have a really simple api hosted as app service. The definition is available here: https://orderapi20191219014441.azurewebsites.net/swagger/v1/swagger.json

This is also configured in the app in API definition: https://orderapi20191219014441.azurewebsites.net/swagger/v1/swagger.json

When I try to import this API, I receive an error in API management: Unable to download OpenAPI specificat

[2019-12-24 10:34] SnehaAgrawal-MSFT commented on #45140
@HughDevlin Thanks again for the feedback! I have shared this with the content owner for further review.

[2019-12-24 10:49] RohitMungi-MSFT commented on #45183
@Hiteshgkapoor Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-24 11:12] jaypaddy commented on #31801
Hello - what's the support for Rollback? How should one implement it?

[2019-12-24 11:15] jakaruna-MSFT commented on #45162
@MoxiePoxy
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-24 11:29] jakaruna-MSFT commented on #45167
@koyasuda-msft That's a nice catch.
 have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-24 11:58] cbailiss opened #45186 "Inaccurate rehydration times"
Please see #45029 for the background to this (closed a few days ago).

I have now completed the support call that was the outcome of #45029.  The outcome of the support call basically means the following sentence in this documentation page is wrong and needs correcting:
&gt;&gt; Standard priority: The rehydration request will be processed in the order it
&gt;&gt; was received and may take up to 15

[2019-12-24 12:17] KalyanChanumolu-MSFT commented on #44924
@cloudmelon We have escalated this to the appropriate team.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-24 12:17] #44924 closed

[2019-12-24 12:20] cloudmelon commented on #44924
Hi, before closing this, any feedback? Thanks:)

[2019-12-24 12:20] KrishnaG-MSFT commented on #45170
@amqureshi Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-24 12:20] jakaruna-MSFT commented on #45083
@sideeksh I updated the doc. Changes will reflect in few hours

[2019-12-24 12:21] PramodValavala-MSFT commented on #45185
@harry12345678910 APIM requests for the swagger definition from the URL that you've configured. But it looks like you have authentication enabled on that endpoint, hence the problem.

[2019-12-24 12:27] #45083 closed

[2019-12-24 12:29] KalyanChanumolu-MSFT commented on #44924
I dont have any feedback as of now.
Will update here when I hear from the Azure portal team

[2019-12-24 12:31] jakaruna-MSFT commented on #45017
@mlearned please add your comments

[2019-12-24 12:42] jakaruna-MSFT commented on #45017
@rigerosa
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-24 12:44] jakaruna-MSFT commented on #45077
@athinanthny please add your comments

[2019-12-24 12:45] jakaruna-MSFT commented on #44686
@siddharthdashore i hope your query is resolved.
Let us know if you need more info

[2019-12-24 13:52] MonikaReddy-MSFT commented on #44984
@SychevIgor , I'm going to assign this to the document author so they can update the document accordingly.

[2019-12-24 14:14] Pluc15 opened #45187 "Documentation using deprecated API"
According to the nuget page, https://www.nuget.org/packages/Microsoft.Azure.Storage.File/, the recommended API is now https://www.nuget.org/packages/Azure.Storage.Files.Shares/ but this documentation still demonstrate usage of the old API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad57262990

[2019-12-24 14:26] memildin commented on #44804
Thanks @ciberesponce for the feedback. I've added Ellen with the same RBAC roles as David.
If you have additional comments please feel free to be in touch.

#please-close

[2019-12-24 14:26] #44804 closed

[2019-12-24 14:37] shashishailaj commented on #45175
@SychevIgor Thank you for pointing this out . We are in the process of revamping the content and the screenshots and this is in the backlog. I am engaging the content authors to look into this.

Thank you.

[2019-12-24 14:37] shashishailaj commented on #45175
@curtand Could you please take a look on this one?

Thank you.

[2019-12-24 14:50] AjKundnani commented on #44867
Hello @jakaruna-MSFT - I am able to modify & execute the commands on my side, if we can modify it on docs page, will be helpful for further audience.

Thanks

[2019-12-24 14:52] shashishailaj commented on #45180
@mflorezr-git Thank you for your query . We will check and update the thread.

[2019-12-24 14:54] AjKundnani opened #45188 "Unable to create Private AKS Cluster with Availability Zones"
Hello

When creating private AKS cluster, if we include parameter "--nodes-zones 1 2 3" the creation/deployment fails with error below:
Deployment failed. Correlation ID: xxxx. There is no capacity for private cluster at this region. Please refer to https://aka.ms/aks/private-cluster for detail

Please update this as current limitation of product.

Thanks
Ajay

---
#### Document Details

⚠ *Do not

[2019-12-24 14:56] mhollismcgill opened #45189 "US Government to Commerical cloud not supported?"
Just wanted to confirm my understanding of the supported scenarios with delegated resource management and sovereign clouds.  Projecting an Azure cml subscription into an Azure cml tenant and projecting an Azure US gov subscription into an Azure US gov tenant works just fine. However, projecting an Azure US gov subscription into an Azure cml tenant does not appear to work.  The ARM template deploym

[2019-12-24 15:29] jofrance commented on #45154
It works for Managed disks with -TargetResourceGroupName

Regards,

/ceschi - Francisco Franceschi
Microsoft Azure Linux Support
Escalation Engineer
Working Hours:
Working Days:
Email:
Office Phone:
0800 – 1700 US Central Time
Monday to Friday
jose.franceschi@microsoft.com<mailto:jose.franceschi@microsoft.com>
+506 411 60004

From: Kartik P V R <notifications@github.com>
Sent: Monday, December 23,

[2019-12-24 16:27] SwathiDhanwada-MSFT commented on #45189
@mhollismcgill Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-24 16:37] SnehaAgrawal-MSFT commented on #45173
@techiescorner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-24 16:39] SnehaAgrawal-MSFT commented on #45174
@ankitag2013 Thanks for the feedback! Request you to share doc link you are referencing to help you better on this.

[2019-12-24 16:42] SnehaAgrawal-MSFT commented on #45184
@saif-0607 Thanks for the feedback! Request you to share doc link you are referencing to help you better on this.

[2019-12-24 16:43] SnehaAgrawal-MSFT commented on #45186
@cbailiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-24 16:50] Karishma-Tiwari-MSFT commented on #45188
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-24 16:50] Karishma-Tiwari-MSFT commented on #45178
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-24 16:51] Karishma-Tiwari-MSFT commented on #45181
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-24 16:52] Karishma-Tiwari-MSFT commented on #45182
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-24 16:52] Karishma-Tiwari-MSFT commented on #45187
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-24 16:56] Karishma-Tiwari-MSFT commented on #45169
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-24 17:34] thomasjsweet opened #45193 "Invalid partition error"
When running the following
az iot hub create --resource-group IoTEdgeResources --name ReplaceWithSomeUniqueNametoAzure --sku F1
I got the message below
Invalid PartitionCount 4 - value must be between 2 and 2
Creating though the portal worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91

[2019-12-24 17:59] djpmsft commented on #45128
@nareshynn If you are using two different projects with 2 separate git repositories, I would highly recommend creating two separate factories. Is there a reason this isn't possible?

[2019-12-24 18:50] shashishailaj commented on #45180
@mflorezr-git We completely understand your concern and agree that roaming charges in many countries can accumulate to be huge when your MFA authentication relies on multiple SMS/call etc.  The article does provide information about using the [Authenticator app method](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-signin#signing-in-with-the-

[2019-12-24 18:50] #45180 closed

[2019-12-24 19:13] shashishailaj commented on #44952
@WoutVergauwen We checked this and you may not be able to generate the new activation keys now for  a tenant . Also as for ADFS 2.0 , we would advise continuing to use against it as the regular security updates for Windows 2008 R2 will end by next month as per the [release notes](https://www.microsoft.com/en-us/cloud-platform/windows-server-2008).  Also as the on-premise MFA server could not be ac

[2019-12-24 19:13] #44952 closed

[2019-12-24 19:21] shashishailaj commented on #44774
@mandiaya We would suggest you to open a support case with us from Azure portal and the team would help troubleshoot this issue with you . This may be some small configuration issue somewhere if you already have created the external users in the JIRA server. Should you have any difficulties opening a case , please mail us at azcommunity[at]microsoft[dot]com referencing this issue URL . Thank you.

[2019-12-24 19:38] ravikr-dev opened #45194 "This throws IFunctionsHostBuilder.get_Services()'. Value cannot be null. Parameter name: provider"
This is throwing me below error: Microsoft.Icm.Watch.Functions: Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'. Value cannot be null. Parameter name: provider

I am using Microsoft.Azure.Functions.Extensions version 1.0.0 which refers to Microsoft.Extensions.DependencyInje

[2019-12-24 20:06] jluk commented on #44798
Thanks @akav for the report - this is expected as 1.14.6 is no longer in our supported versions window. We will fix the doc to have a working example cmd.

@mlearned / @zr-msft please update this k8s version on the windows doc. I have opened a ticket number here: 1659591

[2019-12-24 20:14] DavidTrigano commented on #45054
@frvigano thanks for the feedback.

We will proceed with this enhancement as soon as possible.

@NavtejSaini-MSFT  please assign it to me.
D.

[2019-12-24 21:16] azsec commented on #44645
You can deploy the VM with AADLoginForWindows extension to achieve AAD Sign-in capability https://azsec.azurewebsites.net/2019/12/23/azure-arm-template-for-vm-creation-with-aad-sign-in/

[2019-12-24 22:45] wshamroukh opened #45195 "what is the --group-ids value for a storage account?"
I am following this article, but I want to create a private endpoint for a storage account. I can't tell what is the value for the --group-ids in the command: az network private-endpoint create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c1d2a4-68a1-4afa-9363-27ffe5513e1b
* Version Independent ID: 69285ac6-3150-5c

[2019-12-24 23:03] dcbrown16 opened #45196 "Azure IP overlap"
Is there any guarantee that the required URLs resolve to IPs within the Azure IP ranges? i.e. in a Vnet scenario where the NSG allows outbound to AzureCloud service tag but blocks outbound to Internet, should we expect that all/most of the Portal functions work, or should we expect major limits to the functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-12-24 23:23] mike-urnun-msft commented on #45194
@ravikr-dev Thank you for your feedback! We will review and update as appropriate.

[2019-12-25 00:19] KrishnaG-MSFT commented on #45196
@dcbrown16 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-25 00:29] dcbrown16 commented on #45196
Having the full Azure IP list under "Need to safelist IP addresses?" seems to imply that all of the URLs will resolve to Azure IPs (represented by AzureCloud service tag), but I'm wondering if that is guaranteed for all of those URLs. Also, for ExpressRoute Microsoft peering purposes, it would be very useful to know which of the URLs are served through region-specific endpoints and which have dyna

[2019-12-25 01:18] dcbrown16 opened #45197 "Availability/redundancy of Monitor itself"
I'm not finding any pages that cover how Monitor protects your collected metric and log data or the alert settings and related resources against regional outages. It doesn't have to go on this overview page, but can we add something somewhere about the redundancy of the Monitor platform itself? What technologies are used to protect the collected data, will queries and alerts for disaster-affected

[2019-12-25 01:32] Karishma-Tiwari-MSFT commented on #45193
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 01:34] Karishma-Tiwari-MSFT commented on #45195
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 05:52] kogesaka opened #45198 "About Sync Group's Health Error : 0x8E5E03FE"
Hi Expert,

The status of Sync Group's Health is error.
Seems to be a temporary problem, and Health has returned to normal. Therefore, it was not possible to switch to English display.

I checked the error code : 0x8E5E03FE that was output, but there was no information. If possible, would you please add this error code and the probable cause to the documentation.

問題点：クラウドを使った階層化の問題
エラー コード：0x8E5E

[2019-12-25 06:51] SwathiDhanwada-MSFT commented on #45197
@dcbrown16 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-25 07:07] gsxmax commented on #44776
Thanks for your reply. Let me specify the issues I listed.
1. miss default variables in variables.tf , we have to set the default value for these variables
variable "resource_group_name"  "location"  "aks_service_principal_app_id" "aks_service_principal_client_secret" "aks_service_principal_object_id"
2. need to set virtual-network and subnet previously, need to create vnet aksVirtualNetwork 15.0.

[2019-12-25 07:18] DixitArora-MSFT commented on #44993
@urklnme218 If the intent is to connect to on-Prem Oracle database from Azure , you can consider hybrid connection. see https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections

Other option you can consider is site to site connectivity. See https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-site-to-site-resource-manager-portal

Also this channel is for d

[2019-12-25 07:18] #44993 closed

[2019-12-25 07:54] azsec commented on #42584
Do you want to enable AAD Sign-in using PowerShell? Below is the sample script:

[code]
You can deploy it via VM extension

[code]
Reference: https://azsec.azurewebsites.net/2019/12/23/azure-arm-template-for-vm-creation-with-aad-sign-in/

[2019-12-25 07:56] azsec commented on #42584
You wouldn't really need it to be part of VM image. You can deploy an ARM template with specific extension. See my solution above

[2019-12-25 08:02] azsec commented on #40812
There are two types of JIT: VM JIT Request and Azure Security Center. Both can be treated as the same feature however the way it is initiated would be different. If you request JIT from VM, you need `Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action` and `Microsoft.Compute/virtualMachines/read`. I gave a bit about risk of using JIT here https://azsec.azurewebsites.net/2019/12/0

[2019-12-25 09:13] SwathiDhanwada-MSFT commented on #45046
@IronmanM We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2019-12-25 09:13] #45046 closed

[2019-12-25 09:28] rotemlurie commented on #40812
@azsec - thank you for sharing your experience with JIT, note that the reason JIT added "*" rule to the NSG, is because the access was requested for all IPs configured on that VM's JIT policies.
There are two ways to avoid this scenario in the future:

1. Make sure you configure JIT for a closed set of IPs and CIDRs, and not for all IPs ("*")
2. Request access on behalf of certain CIDR, rahter tha

[2019-12-25 10:28] orspod commented on #45019
@vlad-kozlov thanks for your feedback.
@lucygoldbergmicrosoft FYI

[2019-12-25 11:11] rerime commented on #43297
Network Security Group from AzureRM provider doesn't support new syntax
https://github.com/terraform-providers/terraform-provider-azurerm/issues/5256

[2019-12-25 11:34] harelbr commented on #45109
Hi @dcbrown16 ,
You're correct, [this article](https://docs.microsoft.com/azure/azure-monitor/platform/metrics-supported) only specifies the default aggregation type for the metric. There could be additional supported aggregation types for each metric, and if there are ones that aren't applicable, we should remove them. I'll reach out to the relevant team about this.

[2019-12-25 13:40] techiescorner opened #45200 "azcopy for copying cool or archive blobs"
Is it possible to copy only a cool blob or archive blob from one container to another container? if yes can someone please share the command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or

[2019-12-25 14:10] amitvad commented on #45169
Check how many times S3 appears in the article for elastic pools on Azure
SQL DB
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-pool

On Tue, Dec 24, 2019 at 4:56 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-12-25 14:16] shashishailaj commented on #45166
@buocnhay As we have not received any response on your side and there are no details of the issue , we are closing this on our end . In case you have any issue with any of the document , please feel free to open a new issue with us and we will be happy to help .

[2019-12-25 14:16] #45166 closed

[2019-12-25 14:21] MehdiLamrani opened #45201 "Scala not Python"
code snippets are stating Python, while code is Scala

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fcc0a10-96b1-51d3-b9b0-aca142c5d50a
* Version Independent ID: c02e83f7-2eb7-18d7-303c-858887cf6bae
* Content: [How to Use Apache Spark Metrics - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/kb/me

[2019-12-25 15:13] Christian-e-S opened #45202 "Why is preparing an image from a generalized Azure VM not recommended?"
This article states: "To scale Batch pools reliably with a custom image, we recommend creating a managed image using only the first method: using snapshots of the VM's disks.".

Why is this the case?

I understood that deprovisioning and generalizing VMs is recommended for production workloads. Especially, considering the removal of user accounts.

Thank you very much in advance for clarifying.

-

[2019-12-25 15:17] mslot opened #45203 "Default TTL when serving files through Azure CDN"
When I read https://docs.microsoft.com/en-us/azure/cdn/cdn-manage-expiration-of-cloud-service-content it says "The TTL is determined by the Cache-Control header in the HTTP response from the origin server" and "You can choose to set no TTL on a file. In this case, Azure CDN automatically applies a default TTL of seven days, unless you've set up caching rules in the Azure portal. This default TTL a

[2019-12-25 15:42] DashleenBhandari-MSFT commented on #44953
@SreekanthOAuth , I have not heard back from in a couple of days. I will go ahead and close the issue. Please feel free to reopen if you need any assistance.

[2019-12-25 15:42] #44953 closed

[2019-12-25 15:43] DashleenBhandari-MSFT commented on #45016
@shashishailaj , I am looping you in this issue. Can we check this if the plugin can be updated to work with version 7.2?

[2019-12-25 15:44] DashleenBhandari-MSFT commented on #44959
@frehnejc ,  I have not heard back from in a couple of days. I will go ahead and close the issue. Please feel free to reopen if you need any assistance.

[2019-12-25 15:44] #44959 closed

[2019-12-25 15:44] shashishailaj commented on #44774
@mandiaya Hope you were able to engage the support team via a support cases this would require troubleshooting. However if you are not able to please send us an email on the provided email address as mentioned in my last post and we can help you with alternate support channels. We will close this issue now as this issue is more of troubleshooting and not related to documentation specifically.

Tha

[2019-12-25 15:44] #44774 closed

[2019-12-25 15:59] jeevansd commented on #45016
@adamharm and @DashleenBhandari-MSFT We have updated our plugin recently. Please download the new plugin and test it. The new plugin does support Confluence version 7.2

[2019-12-25 16:00] shashishailaj commented on #45016
@adamharm Could you please download the plugin from https://www.microsoft.com/en-us/download/details.aspx?id=56503 and test the same ? It was release just 2 weeks ago .

[2019-12-25 16:04] wendlandreas commented on #43257
Would be interested in this as well. Would really appreciated some deeper docs.
Thanks.

[2019-12-25 16:30] shashishailaj commented on #45121
@MySecondLife I believe the markdown format is the issue. Ideally the link must be provided in parantheses and the display text in large brackets however it seems that was written in opposite manner. .  hence it redirects you in a different URL. I changed it from

`
[https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code#1-get-an-authorization-code](g

[2019-12-25 16:30] #45121 closed

[2019-12-25 16:39] SnehaAgrawal-MSFT commented on #45198
@kogesaka Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 16:41] SnehaAgrawal-MSFT commented on #45200
@techiescorner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 16:42] SnehaAgrawal-MSFT commented on #45201
@MehdiLamrani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 16:45] SnehaAgrawal-MSFT commented on #45202
@Christian-e-S Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 16:46] azsec commented on #40812
Thank for the information @rotemlurie .I guess adding CIDR is still considered a limitation and can only work when you have a trusted/whitelist of IP range while the term Just-In-Time really means for untrusted/temporary source.

[2019-12-25 16:48] mcancarevic commented on #42422
Hello. I also have this problem. How to fix it?

[2019-12-25 16:51] SnehaAgrawal-MSFT commented on #45203
@mslot Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-25 17:51] msrini-MSFT commented on #45127
@nagarajumicrosoft , Do you have any update on this issue?

[2019-12-25 18:50] ekzp opened #45205 "Out of date"
Only published 2 months ago and it is already out of date. The screenshots don't match the real experience.
At its fast pace of evolving, MS can't keep up with the documentation. Inconsistency seems to be the only constant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1b0992-84f5-43f1-6b18-b690dde9753b
* Version In

[2019-12-25 19:13] ManfredLange commented on #26228
I think at some point the statement was made that CosmosDB's Table API would be plug compatible with the classic Azure Storage Table API. Clearly, that statement is dead wrong. The mechanics might be the same but the behavior is very different in some key features. Sorting is just one of them. Writing objects with null value for a property results in that property not showing up in the table API w

[2019-12-25 19:15] shashishailaj commented on #45205
@ekzp Thank you for pointing this out . We apologize for the inconsistency and immensely appreciate our readers letting us know anything we may have missed. We will have the content team engaged to look into this and have this updated as soon as we can. It may take some time though due to the holiday season but rest assured we will have this updated on our end .

We wish you a very happy Christmas

[2019-12-25 20:06] shashishailaj commented on #44939
@JLambEJG The procedure applies to older versions because Changing ADsync service account password was unsupported scenario for those versions. However the newer version support changing the password and if you try the operation it will automatically invalidate the encryption key and reinitialize the password of ADSync service account. We will now close this issue. In case you have any further que

[2019-12-25 20:06] #44939 closed

[2019-12-25 20:08] shashishailaj commented on #45205
@MicrosoftGuyJFlo Could you please look into this issue on how best the document could be improved. ?

[2019-12-25 20:14] DavidPrio opened #45206 "Property 'name' don't exists on task 'PublishBuildArtifacts' anymore"
I'm copying https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/566 here since it's a problem with Code Examples that need to be fixed by the writing team.
Please, update it with 'ArtifactName' in all samples.
-------------------

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
*

[2019-12-25 20:25] shashishailaj commented on #44664
@ElanShudnow Yes it will happen for existing VMs. Windows Defender Antivirus service and the Microsoft Antimalware extension are using the same Antivirus engine on the box and MsMpEng.exe is the process for both of them .  Also windows Defender ATP gets enabled as a separate service on the box and it does not remove the Microsoft antimalware . In newer versions of Windows (win 2016/win 2019/ Win 1

[2019-12-25 20:25] #44664 closed

[2019-12-25 20:49] shashishailaj commented on #44699
@felinepc We agree with your feedback. As far as we know getting some kind of **MFA done** information from third party entities may be difficult to implement as there are huge number of providers and it will never be possible to add all third party providers. A B2B invite can be sent to an email user from any domain so it makes that pretty difficult.

Also since we may not have same level of trus

[2019-12-25 20:49] #44699 closed

[2019-12-25 20:50] shashishailaj commented on #44877
@philrice We are trying to get more information internally on this and hence it is taking more time. We will update this thread once we have more information.

[2019-12-25 23:43] orionJag opened #45207 "sqlite"
This is a very well written documents with options for different OS. Currently I'm trying to use sqlite for the "Create the sql database" section and using the module "mcr.microsoft.com/azureiotedge/sqlite:1.0", but not sure how I could run those sql cmds. Need some guidance please.

Doc link: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-store-data-sql-server
Thanks for your help.

---

[2019-12-26 01:19] SaurabhSharma-MSFT commented on #39886
@bdschaap As per the information I have received KeyVault does not record failover events to  diagnostics or activity logs.

[2019-12-26 02:52] CHEEKATLAPRADEEP-MSFT commented on #44979
@mcurko   Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-26 02:52] #44979 closed

[2019-12-26 02:54] CHEEKATLAPRADEEP-MSFT commented on #45128
@nareshynn  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-26 02:54] #45128 closed

[2019-12-26 03:05] AshokPeddakotla-MSFT commented on #45207
@orionJag Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-26 03:19] annerajb opened #45208 "Broken link to download Azure VPN preview"
The link to download the azure vpn preview is throwing a error saying cannot be found.
&gt;Use this link to download the Azure VPN Client (Preview).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f2bf88-b3d3-0dc4-7258-614929d2ffc6
* Version Independent ID: 94a5a807-8690-08cb-ff81-a935f762a069
* Content: [Configure Az

[2019-12-26 03:27] SwathiDhanwada-MSFT commented on #45123
@adrianagdi As per document,you should be able to create workspace after the soft delete period.
@bwren Can you please provide your inputs on this as it takes time to reproduce the issue and check?

[2019-12-26 03:55] #45067 closed

[2019-12-26 04:44] adiun commented on #45067
As mentioned in the original issue this is a local deployment (the title of this issue says `LocalWebservice`)

I will try reposting this again in the ML notebooks page... I was hoping to file a product bug via the docs' `Send feedback about [this product]` link at the bottom of the docs page but that just takes you to the Uservoice for feature suggestions (instead of bugs). Can we fix that to poi

[2019-12-26 04:50] SnehaAgrawal-MSFT commented on #45206
@DavidPrio Thanks for the feedback! Request you to share doc link you are referencing to help you better on this.

[2019-12-26 05:01] DixitArora-MSFT commented on #45144
@Andy9874 From the portal point of view [this](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2#-legacy-developer-portal---test-the-oauth-20-user-authorization) is the workflow defined. Also for every portal action , there is a [REST API](https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/api-management-rest) defined which you can also levera

[2019-12-26 05:08] Karishma-Tiwari-MSFT commented on #44686
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-26 05:08] #44686 closed

[2019-12-26 05:09] Karishma-Tiwari-MSFT commented on #44484
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-26 05:09] #44484 closed

[2019-12-26 05:27] SubhashVasarapu-MSFT commented on #45208
@annerajb , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-12-26 05:28] SnehaAgrawal-MSFT commented on #45125
@dzajda As we have not received any response on your side and there are no details of the issue , we are closing this on our end. In case you have any issue with any of the document , please feel free to open a new issue with us and we will be happy to help .

[2019-12-26 05:28] #45125 closed

[2019-12-26 05:35] PramodValavala-MSFT commented on #45049
@RonaldMariah Just following up here... Hope my previous comment clears things up.

For a deeper discussion, feel free to open an issue on the [azure-functions-host repo](https://github.com/Azure/azure-functions-host) as mentioned earlier.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in yo

[2019-12-26 05:35] #45049 closed

[2019-12-26 05:37] PramodValavala-MSFT commented on #45147
@CKeene78 Just following up here... Could you please confirm the details requested earlier?

[2019-12-26 05:38] vikaskanchan opened #45209 "Copy the data from share point to Azure blob storage using Azure data factory"
Hi Team,

I am looking for the copy the data from share point to Azure blob storage using Azure data factory.
I have tried mostly all tutorials but i am not finding any way . Currently i am trying with Odata in V2  but i am  not able to connect . Getting  Connection issue .

Can you please provide the solution for this using Odata .

Thanks,
Vikas.

---
#### Document Details

⚠ *Do not edit this s

[2019-12-26 05:39] PramodValavala-MSFT commented on #45185
@harry12345678910 Just following up here... Did you get a chance to try without authentication enabled?

[2019-12-26 05:42] msaravindh commented on #17302
@Mike-Ubezzi-MSFT : Thanks for your reply. I want to filter the Region to say "East US" and the Service to say "Virtual Machine" & "Virtual Machine Scale Sets". Is this possible through ARM templates? I don't see a way to do that using templates. @kundan123456  If you have a sample which shows how you restricted to specific services and regions using ARM templates that would be really helpful.

[2019-12-26 05:47] #45164 closed

[2019-12-26 05:59] SnehaAgrawal-MSFT commented on #45122
@jonathansd1 Using python2 during npm installation should resolve the issue, Let me know if issue persists.

[2019-12-26 06:07] dcbrown16 opened #45210 "File System ISE connector"
I don't see a File System ISE version connector, only the one that uses the on-prem data gateway. Has this been changed since File System was listed under the "Isolated versus global" section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1835ffaf-25d4-f6ea-4e4f-ce62c702b770
* Version Independent ID: f76d8032-e672-d8d

[2019-12-26 06:08] dcbrown16 commented on #45210
I checked all the other listed connectors and found two versions, but as shown here there is only one version of File System showing.
![image](https://user-images.githubusercontent.com/34466884/71460999-022d7300-2763-11ea-8bfd-6946124ec469.png)

[2019-12-26 06:15] SnehaAgrawal-MSFT commented on #45141
@kummerer94 Thanks again for the feedback! I have shared this with the content owner for further review.

[2019-12-26 06:21] SnehaAgrawal-MSFT commented on #45209
@vikaskanchan Thanks for the feedback! Request you to share doc link you are referencing to help you better on this.

[2019-12-26 06:31] msrini-MSFT commented on #45127
I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-12-26 06:31] #45127 closed

[2019-12-26 06:36] msrini-MSFT commented on #45203
@mslot , Are both devices hitting the same POP server?

@mdgattuso , Can you confirm that the default TTL value gets reflected in the cache-control-header ?

[2019-12-26 06:53] truealex81 opened #45211 "Change option "User assignment required?" with az cli or poweshell?"
Hello,

I'm looking for way to change option "User assignment required?" with az cli or powershell but can't find how to do this. Looks like that can be done only in portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87330ebf-dd47-2616-946b-c4ea21c4b0e9
* Version Independent ID: 61c91ef5-2131-2766-14d6-ed52c24fa49a

[2019-12-26 06:57] SnehaAgrawal-MSFT commented on #45139
@glloyd2010f Thanks again for the feedback! If I have understood right you are trying to add an SSL certificate in Azure App Services, if so, you refer below link in Private certificate requirements.
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#private-certificate-requirements

Also, for self -Signed certificate you may view below doc link
https://docs.microsoft.com

[2019-12-26 07:07] SwathiDhanwada-MSFT commented on #45189
@mhollismcgill  AFAIK, Delegation of US Government cloud to Commercial cloud is not a supported scenario.
@JnHs Can you please provide your inputs on this ?

[2019-12-26 07:37] SwathiDhanwada-MSFT commented on #45197
Assigning to @bwren  for reviewing the document

[2019-12-26 07:44] ManojReddy-MSFT commented on #44954
@jabamit I am assigning this to the author to update the samples with the latest Nuget packages.

[2019-12-26 08:05] DixitArora-MSFT commented on #45210
Hi @dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2019-12-26 08:07] msrini-MSFT commented on #45195
@wshamroukh , Can you try the below command?

az network private-endpoint create --name myPrivateEndpoint --resource-group myResourceGroup --vnet-name myVirtualNetwork  --subnet mySubnet --private-connection-resource-id "/subscriptions/XXXXXXXXXXXXX/resourceGroups/RG/providers/Microsoft.Storage/storageAccounts/YYYYYYYYYY" --group-ids **blob** --connection-name myConnection

[2019-12-26 08:19] wshamroukh commented on #45195
Thank you! That worked.

[2019-12-26 08:24] #45195 closed

[2019-12-26 08:50] mslot commented on #45203
@msrini-MSFT good question. I am just starting to mess around with Azure CDN (coming from Cloudflare). I just presumed. How do I comfirm that? I will try when I get home.

[2019-12-26 08:57] misd92 opened #45212 "object detection module takes 2 seconds to process a single frame"
Hi,

I am using objectdetection module trained from customvision.ai in Azure IoT edge. It takes 2 to 3 seconds to complete the request for a single frame from the camera. I am using raspberry pi with two other modules. I need at least 10 frames per second to be processed with in a second.

Does it have anything to do with the device's hardware configuration? Even so it's too slow that it takes 3 s

[2019-12-26 09:46] AshokPeddakotla-MSFT commented on #43818
@nberdy Please check the above response and provide your suggestions.

[2019-12-26 09:58] PramodValavala-MSFT commented on #44980
@borys86 Just following up here... The `WEBSITE_CONTENTSHARE` app setting requires the `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` app setting, causing the error that you are seeing. Without it, the template should work as expected.

You can instead use the [Run from Package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) approach or setup a [source co

[2019-12-26 09:58] #44980 closed

[2019-12-26 09:59] AjayKumar-MSFT commented on #45165
@dcbrown16, Thanks for posting the question! Linux is currently the recommended option for running Python apps in App Service as Python support on Azure App Service for Windows is officially deprecated.  WSGI_LOG is the optional but recommended for debugging and should work for both flavors. I agree that a 'Note' ( - "Some of the below guidelines might only work on Windows or Linux App Services.")

[2019-12-26 10:02] msrini-MSFT commented on #45203
@mslot , You can just do a nslookup from the device which you are trying to connect and check both the devices resolves to the same IP.

[2019-12-26 10:03] Padmanaabhah commented on #43633
im also facing the same issue

[2019-12-26 10:11] PramodValavala-MSFT commented on #45194
@ravikr-dev Based on discussion [here](https://github.com/Azure/azure-functions-dotnet-extensions/issues/29), I believe you might be using Functions V2 with .NET Core 3 code. This isn't supported since V2 runs on .NET Core 2.2.

Also, for .NET Core 3.1, you might have to use a version 3.0.1975 or later of `azure-functions-core-tools` as mentioned in this [issue comment](https://github.com/Azure/az

[2019-12-26 10:11] #45194 closed

[2019-12-26 10:26] mslot commented on #45203
@msrini-MSFT i will try to do that. I will wait for @mdgattuso to answer about the TTL, and then follow through with the nslookup.

[2019-12-26 10:29] ManojReddy-MSFT commented on #45018
@mybm3w We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-26 10:29] #45018 closed

[2019-12-26 10:34] ManojReddy-MSFT commented on #45211
@truealex81

Powershell:  You can use the command Set-AzureADServicePrincipal -AppID -ApproleAssignementRequired

You can set the Boolean value to True if you want the change the user assignment required to YES.
Ref: https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadserviceprincipal?view=azureadps-2.0

CLI : You have to use the following command for CLI
az ad sp update --id < O

[2019-12-26 10:47] AshokPeddakotla-MSFT commented on #45193
@thomasjsweet Thanks for bringing this to our attention.

Please add **--partition-count 2** to resolve this error message.

`az iot hub create --resource-group {ResourcegroupName} --name {YourIoTHubName}  --partition-count 2`

Let us know if you need further help.

[2019-12-26 11:01] AshokPeddakotla-MSFT commented on #45172
@mcurko PR has been created to address this issue and update the doc. Changes will go live once it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-26 11:01] #45172 closed

[2019-12-26 11:18] mcancarevic opened #45213 "Another of the ansible scripts not working. #42422"
ASK [Add all hosts] **********************************************************************************************************************************
task path: /home/mikmikmikmik/MicrosoftAnsibleTutorial/get-hosts-tasks.yml:12
fatal: [localhost]: FAILED! => {
"msg": "'dict object' has no attribute 'ansible_facts'"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-12-26 11:50] SwathiDhanwada-MSFT commented on #45213
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-26 12:13] #44572 closed

[2019-12-26 12:17] RohitMungi-MSFT commented on #45212
@misd92 Thanks for your question. I have tried out the solution with some objects and used the camera on my laptop to test since I do not have an IoT device with camera for testing. The detection of objects by the model created by the project is pretty fast. Here is a demo of what I ran.
Due to upload limit the image is resized and shortened for one object.
![iot-visual2-resized](https://user-imag

[2019-12-26 12:23] mobileha opened #45214 "Address space validation"
Microsoft Peering customer can request to validate full address space belonging to their ASN (for example /22), but then only advertise subset of this validated subnet (up to /32). This allows not to repeat validation steps later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba43-5309-dd1ee50b4318
* Ver

[2019-12-26 12:24] DavidPrio commented on #45206
@SnehaAgrawal-MSFT sure, it's Content Source: articles/azure-functions/functions-how-to-azure-devops.md. Thanks!

[2019-12-26 12:29] kastromatos opened #45215 "Azure do not return data.essentials.description"
Even if alert description is determined on portal, Azure still do not return it. Reproduced at least for Policy kind of alert and possible for any 'Activity Log' signal type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee01

[2019-12-26 13:02] pvrk commented on #45154
Thanks for confirming, @jofrance . Then, I will proceed to close this since all the relevant doc changes are already there.

[2019-12-26 13:02] pvrk commented on #45154
#please-close

[2019-12-26 13:02] #45154 closed

[2019-12-26 13:21] misd92 commented on #45212
Hi Rohit,

Thanks for the reply. I also tried that module from my desktop but still got 1.5 seconds to process the image. When I am containerizing it as Azure Iot Edge module it is slows further. Find the sample reading directly got by running python script from my desktop

WARNING:tensorflow:From predict.py:59: The name tf.GraphDef is deprecated. Please use tf.compat.v1.GraphDef instead.

WARNING

[2019-12-26 13:23] misd92 commented on #45212
The average falls under 1.5 seconds

Start 2019/12/26 18:43:33.447
End  2019/12/26 18:43:35.153

[2019-12-26 13:44] CKeene78 commented on #45147
Resolved. Turns out it was a problem with my request tool (VS Code Extension named HTTP Client)  rather than the Functions service. The extension was not sending, for some reason, the Body content leading to the "undefined" issue. Calling the Function via PowershelI's Invoke-WebRequest cmdlet passes the Body as expected. I can also confirm that this happened with GET and POST requests.

[2019-12-26 13:44] #45147 closed

[2019-12-26 14:14] mrbullwinkle commented on #45115
This PR addresses this issue: https://github.com/MicrosoftDocs/azure-docs/pull/45116. I have signed off on it and it is in a ready-to-merge state. As soon as our public PR merge team is back from holiday this will be merged and will go-live. I am going to close this out. Thanks for bringing this to our attention.

[2019-12-26 14:14] mrbullwinkle commented on #45115
#please-close

[2019-12-26 14:14] #45115 closed

[2019-12-26 14:20] travis-sobeck opened #45217 "How to back out of changes?"
Please provide directions for how to back out/undue.  Knowing how to undue a thing is just as important as how to do a thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a1132-05af-70f1-5a2b-8dad56de9cc3
* Content: [Customize CoreDNS for Azure Kuberne

[2019-12-26 14:27] ekalyvio commented on #37847
Anyone has a fix for that issue?
Dec 26th 2019 and the issue still exists (4 months old).
Right now I am wondering if it worth using Azure instead of Google cloud.
![image](https://user-images.githubusercontent.com/3956939/71479335-9ef01f00-27fc-11ea-8c49-d002574ea5a4.png)

[2019-12-26 14:45] mslot opened #45218 "Azure CDN: Enabling HTTPS for custom domain through ARM"
Reading this: https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-1-default-enable-https-with-a-cdn-managed-certificate and this: https://docs.microsoft.com/en-us/azure/templates/microsoft.cdn/2019-04-15/profiles/endpoints/customdomains I cant seem to find any way of enabling HTTPS through ARM. Is it just me that can't find it, or can this only be done through the portal for now?

[2019-12-26 14:51] misd92 commented on #45212
Does it have anything to do with export for dockerfile while training?

![exportfile](https://user-images.githubusercontent.com/20103680/71480061-44b38600-281d-11ea-9f63-d28b718c9edc.png)

[2019-12-26 15:27] markti opened #45220 "Webhook documentation disappeared?"
This article used to have webhook documentation. where did that go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use batch transcription - Speech service - Azure Cognitive Services](https://docs.micr

[2019-12-26 15:30] markti opened #45221 "webhooks"
when will the webhooks be released?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec7afeb1-ee6a-0e11-2c0d-93ba81c04846
* Version Independent ID: 51fe73be-2cb7-7607-e937-a7d4ed04928c
* Content: [Quickstart: Recognize speech stored in blob storage - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognit

[2019-12-26 15:34] anzaman commented on #45208
@annerajb - the link is to the application in the Microsoft store, please login using a Microsoft Account and then try the link.

[2019-12-26 15:51] hoppyshaw opened #45222 "Windows 10 Versions"
Windows 10 1909 is now available in the gallery however it is not marked as Multi User, just Windows Virtual Desktop. Is this still a multi user version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f267d00-6800-2bf9-122d-402b60672782
* Version Independent ID: 8ba82e23-f5ec-2b4d-d30b-c5968609246b
* Content: [Windows

[2019-12-26 16:01] shashishailaj commented on #45016
@adamharm We will be closing this issue for now . In case you still have issues with the newly released plugin , please tag me to your reply and I will be happy to help .

Thank you.

[2019-12-26 16:01] #45016 closed

[2019-12-26 16:04] NavtejSaini-MSFT commented on #45220
@markti We are checking this and will get back to you.

[2019-12-26 16:05] shashishailaj commented on #41081
@MGamil-MSFT due to some internal problem this was not updated somehow. I have requested the author for a review of the situation so that this change could be merged.

[2019-12-26 16:05] NavtejSaini-MSFT commented on #45221
@markti We are checking this and will get back to you.

[2019-12-26 16:10] NavtejSaini-MSFT commented on #45054
@DavidTrigano Thread has been assigned to you.

[2019-12-26 16:49] NewFuture opened #45225 "Any example of url-rewrite"
add some examples  to explain the Source pattern and Destination ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87d90250-071e-0775-00f7-f25fcc65ef80
* Version Independent ID: 8b3c648d-c348-b11f-68cc-5445feba3aa0
* Content: [Actions in the Standard rules engine for Azure CDN](https://docs.microsoft.com/en-us/azure/cdn

[2019-12-26 16:53] CeciAc opened #45226 "Error regarding facsimileTelephoneNumber"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/667

The comments below were machine-translated.

@SweetyNico commented 6 hours ago — with docs.microsoft.com
In the Teams and Skype for Business Online section, the attribute is checked for groups while this only concerns users and contacts

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-12-26 16:57] gsubiran opened #45227 "What about suggester flag on properties inside complex propertie (collection)? (SDK)"
I can set this flag on Azure UI but I don't found info about how to set it from SDK.
I tried "ParentProp.Childone" but no luck (ParentProp is a collection)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c80cb97-e34a-1c2d-7e51-8104bf5079c8
* Version Independent ID: 56a3fd9d-dd1b-3271-c208-5967b95f6514
* Content: [Add t

[2019-12-26 17:07] gsubiran commented on #45227
Seems it works with "ParentProp/Childone" https://stackoverflow.com/a/57548959/2336493

[2019-12-26 17:36] JimacoMS3 commented on #45003
@rezasherafat is this statement:

* All string values can be at most 4 KB in length.

Equivalent to stating that the max twin property value size is 4 KB - or can it be better stated?

[2019-12-26 17:54] mslot opened #45228 "Azure CDN: pricing for outbound traffic"
When I read https://azure.microsoft.com/en-us/pricing/details/cdn/ it gives me prices for "Outbound data transfers", but I cant see if this is special for Azure CDN, and aditional outbound costs is applied as well: https://azure.microsoft.com/en-us/pricing/details/bandwidth/.

When I read: https://docs.microsoft.com/en-us/azure/cdn/cdn-billing it doesn't tell me either.

I would suspect that I hav

[2019-12-26 18:03] CeciAc opened #45229 "Information of associated costs."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.es-es/issues/694

The comments below were machine-translated

@tnkmon commented 3 hours ago — with docs.microsoft.com
Good afternoon general question: Does setting up this automatic service generate any additional cost as it is consumed? Either by storage or by the execution of it?

---
#### Document Details

⚠ *Do not ed

[2019-12-26 18:22] jeevansd commented on #44774
@mandiaya To add guest users using B2B please see this article for details. There are various ways with which you can invite these users in your tenant. https://docs.microsoft.com/en-us/azure/active-directory/b2b/add-users-administrator

![image](https://user-images.githubusercontent.com/15001780/71486125-a944f580-27c9-11ea-956f-2ab913f8efcb.png)

[2019-12-26 18:31] YutongTie-MSFT commented on #45044
@PatrickFarley Hi Patrick, could you please help to check this document feedback? Thanks.

[2019-12-26 18:31] MikeWilcoxMicrosoft commented on #44703
Glad to help ! I appreciate your efforts !

Mike Wilcox
Industry Technology Strategist
Cloud Solution Architect

Mobile:   +1 (972) 786-3978
Mike.Wilcox@microsoft.com<mailto:Mike.Wilcox@microsoft.com>

[MSFT_logo_Gray DE sized SIG1.png]

[linked.png]<http://www.linkedin.com/in/mwilcox1>   [cid:image003.png@01D5BBE8.592FF6A0] <http://ieee.org/>

From: Phil Meadows <notifications@github.com>
Sent: F

[2019-12-26 18:39] harry12345678910 commented on #45185
I tried it. Without authentication it works. But maybe stupid question: Is the convinient way ony possible for apis without authentication?

[2019-12-26 19:16] Mike-Ubezzi-MSFT commented on #45019
@vlad-kozlov I am following up on this issue and see that the document includes `pip install azure-kusto-data` in the [Install the Python package](https://docs.microsoft.com/en-us/azure/data-explorer/end-to-end-python#install-the-python-package) section. Does this address your issue?

pip install azure-mgmt-resource
pip install azure-mgmt-kusto
pip install azure-mgmt-eventgrid
pip install azure-ku

[2019-12-26 19:26] RyanHill-MSFT commented on #37847
I'll follow up with the team and post any updates.

[2019-12-26 19:26] Karishma-Tiwari-MSFT commented on #45214
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-26 19:29] Karishma-Tiwari-MSFT commented on #45228
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-26 19:33] Karishma-Tiwari-MSFT commented on #45218
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-26 19:40] Mike-Ubezzi-MSFT commented on #39213
@igomat We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-26 19:40] #39213 closed

[2019-12-26 19:41] Mike-Ubezzi-MSFT commented on #39215
@igomat We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-26 19:41] #39215 closed

[2019-12-26 19:41] Karishma-Tiwari-MSFT commented on #45229
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-26 19:42] souravmishra-msft commented on #45105
@jordanfinners, have you tried the steps mentioned in this article:
[https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-javascript-overview](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-javascript-overview)

Check if this helps you.

[2019-12-26 19:44] Karishma-Tiwari-MSFT commented on #45225
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-26 19:47] asergaz commented on #44928
Closing this issue as it is a duplicate of #44996. Thanks!

[2019-12-26 19:47] #44928 closed

[2019-12-26 19:50] asergaz commented on #44996
Thank you for reporting @asherkariv , @cenkersoy .
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-26 19:51] lonpalmer opened #45233 "Need Java Examples and Work Arounds"
Why aren't there any Java examples for binding here?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-4f3696fbca69
* Content: [Azure Functions bindings expressions and patterns](https://docs.microsoft.com/bs-latn-ba/az

[2019-12-26 19:58] AminMkh commented on #37847
On my end, i created new app and followed their PHP tutorial, all works.

Repo is here if you want to try it:
https://github.com/AminMkh/outlook-rest-laravel/

[2019-12-26 20:03] Mike-Ubezzi-MSFT commented on #7705
@simonvane @esfitsMack @imjuststeve This is all great feedback and a valid concern. Since this the purpose of this channel is to address documentation issues, the best means for providing this feedback is via the [Azure Cosmos DB UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db) where you will be able to engage the product team directly. I did a search and did not find an existi

[2019-12-26 20:10] ChangeTheCode commented on #44709
@jlian is it possible for me to provide you a documentation fix?

[2019-12-26 20:13] MarileeTurscak-MSFT commented on #45106
@ekalyvio thanks for this. I made two pull requests to add this to the documentation.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/99692/commits/bf217ff5330f6ae145636d00e9906defec49f05e

https://github.com/MicrosoftDocs/azure-docs-pr/pull/99740

For your second point, I would recommend posting on User Voice so that the PG team who writes those samples can address the request.

https://feed

[2019-12-26 20:13] #45106 closed

[2019-12-26 20:27] robertlagrant commented on #44330
@ahmelsayed - it would be good to understand the difference between this and ACI - they seem equivalent?

[2019-12-26 20:32] irgnosis opened #45234 "Please add an example for KeyVault access using MSI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da76852d-b13b-8b36-175a-197f067390a3
* Version Independent ID: 7e14be25-32b5-3e4b-e97a-555d5e0ef3a1
* Content: [Managed identities in Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-managed-identities)
* Content Source: [ar

[2019-12-26 20:54] djpmsft commented on #41453
Closing this issue as we have a tracked work item within the product group.

#please-close

[2019-12-26 20:54] #41453 closed

[2019-12-26 20:56] djpmsft commented on #43145
Closing as there have been no further follow up questions. We are constantly working to improve our documentation and appreciate the feedback! If there are any other inquiries related to this issue, feel free to reopen.

#please-close

[2019-12-26 20:56] #43145 closed

[2019-12-26 21:01] djpmsft commented on #38060
Hi @nkumar230 ,

Apologies for the delay in response to this issue. Can you specify what you mean by 'build mechanism'? Appreciate the documentation feedback!

Thanks,
Daniel

[2019-12-26 21:31] dsolodow opened #45236 "Hybrid Azure AD devices not in list?"
Under https://myprofile.microsoft.com/device-list, should Hybrid Azure AD joined devices be listed?
Mine aren't and wasn't sure if by design or by defect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7afc666a-4a7f-5b12-e262-36e412b8f565
* Version Independent ID: 2aaa7597-390b-b8bf-21bb-b59e16354b66
* Content: [Manage

[2019-12-26 22:03] shashishailaj commented on #45078
@keithdv Not all endpoints similar to ADFS are available in Azure AD. The _adfs/services/trust/2005/usernamemixed_ endpoint was only present in Azure . There is no such endpoint available in Azure as far as I know. Usernamemixed endpont in ADFS was used mainly for SOAP based legacy requests. And that's why you are not able to find any related documentation as well. I am checking more internally an

[2019-12-26 22:32] Mike-Ubezzi-MSFT commented on #45019
We will now proceed to close this thread as doc-bug has been resolved. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-26 22:32] #45019 closed

[2019-12-26 22:44] MarileeTurscak-MSFT commented on #45151
@thobach If you try to sign-in with a Microsoft account (MSA), such as hotmail.com, outlook.com, and msn.com, you'd receive this error during admin consent because MSA is not supported at the `/common` endpoint which this sample is using to obtain the admin consent.

Please use an admin account with from the Azure AD tenant for this purpose.

[2019-12-26 22:45] MarileeTurscak-MSFT commented on #45151
If you have further questions and need help resolving this issue please post to Q&A, or send me an email at AzCommunity@microsoft.com so that I can loop in someone from the product team. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2019-12-26 22:45] #45151 closed

[2019-12-26 22:46] Karishma-Tiwari-MSFT commented on #45215
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-26 23:01] Karishma-Tiwari-MSFT commented on #45217
Can you please elaborate on your ask, are you looking for steps to undo the override done on the default seetings using Kubernetes ConfigMap? Let me know.

To see the default AKS CoreDNS ConfigMaps, use the kubectl get configmaps --namespace=kube-system coredns -o yaml command.

[2019-12-26 23:01] v-gamaar opened #45241 "The example shown in this documentation doesn't exist anymore"
In this link is shown a demo to deploy a Cloud Service application, but the solution doesn't exist anymore, so the example shown is not useful and is causing confusion to customers and internal users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc8f1b2-fa7a-6772-e534-9f91b37106e7
* Version Independent ID: e9309449-

[2019-12-26 23:31] MarileeTurscak-MSFT commented on #45226
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-26 23:44] MarileeTurscak-MSFT commented on #45131
This is not currently supported, but you are welcome to make a request for this in User Voice. There's already an open item out for this which you can vote on. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33078931-provide-powershell-azure-cli-access-to-application

[2019-12-26 23:44] #45131 closed

[2019-12-26 23:54] Mike-Ubezzi-MSFT commented on #17302
@msaravindh It might be best to create a new issue if you don't get an answer to your question. Thank you!

[2019-12-27 00:30] Karishma-Tiwari-MSFT commented on #45241
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-27 00:34] Karishma-Tiwari-MSFT commented on #44735
@jnoller Can you please share your insights on the customer's question. Thanks :)

[2019-12-27 00:36] Karishma-Tiwari-MSFT commented on #44798
Thanks @jluk :)
@akav Thanks for bringing this to our attention. The doc will get updated with the internal ticket. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-27 00:36] #44798 closed

[2019-12-27 00:40] mike-urnun-msft commented on #45233
@lonpalmer Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-27 00:43] Karishma-Tiwari-MSFT commented on #45227
@gsubiran Is your issue resolved? Please let us know.

[2019-12-27 00:53] FrankHu-MSFT commented on #45236
@dsolodow Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-27 00:54] #44982 closed

[2019-12-27 00:55] FrankHu-MSFT commented on #44899
hello @m-sterspace as it has been 3 days since the last post i'm closing this out now. If you have anymore issues please file a support ticket or post against the Q&A forums for more help troubleshooting your issues.

[2019-12-27 00:55] #44899 closed

[2019-12-27 00:55] #45134 closed

[2019-12-27 01:02] FrankHu-MSFT commented on #45236
@dsolodow  how did you join them? You have to sign up the device to your organization's network. More on this can be found here : https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-register-device-on-network

Your device will need to be joined to the network, that's the only thing that matters to get the device to show up in the devices section.

If you have anymore questi

[2019-12-27 01:27] FrankHu-MSFT commented on #45070
@binhnguyen1984 so your web app needs to call a web api. Following a desktop app tutorial is not going to work here. You would have to follow something along the lines of this : https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-3.1 This is not a common scenario as most people utilize MVCs. If you're interested in this feature please submit this as feedback here : htt

[2019-12-27 01:27] #45070 closed

[2019-12-27 01:43] kariyukisusumu opened #45244 "Which is indirect spoke vnet?"
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-route-table-portal
In this page,  'indirect spoke VNet' is confusing me.

It seems that these sentense is inconsistent
-> we refer to the NVA VNet as an 'indirect spoke VNet'
-> Indirect spoke VNet address spaces: (VNet1 and VNet2)

In this exmaplle of this page, my understanding is 3 Vnet(Vnet1, Vnet2 and NVA Vnet) is 'indirect spoke

[2019-12-27 01:50] kariyukisusumu opened #45245 "Do we need VNET Peering between VNet1 and NVA VNET?"
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-route-table-portal

In [Before you begin] paragraph,  it seems that we need VNET Peering between VNet1 and NVA VNET.(and also between VNet2 and NVA VNET)
-&gt; The Vnet Peering links are depicted by black arrows in the above figure between Vnet 1, Vnet 2 and NVA Vnet

But in [5. Create the VNet connections] paragraph, there is no steps

[2019-12-27 02:01] kojish opened #45246 "Invalid parameter for sample central app"
[Enter feedback here]
In the section below, the argument '\<devicekey\>' for devkit_device.exe should be 'Primary Key' assigned to the device.

https://docs.microsoft.com/en-us/azure/iot-central/preview/tutorial-connect-pnp-device#build-the-code
.\Release\devkit_device.exe mxchip-001 \<scopeid\> \<devicekey\>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-12-27 02:24] juyamagu opened #45247 "Clarify the transmission mode of bandwidth"
&gt; What connection speeds are supported by ExpressRoute?
&gt; Supported bandwidth offers:
&gt;
&gt; 50 Mbps, 100 Mbps, 200 Mbps, 500 Mbps, 1 Gbps, 2 Gbps, 5 Gbps, 10 Gbps

Regarding the above Q&A, the transmission mode (full or half duplex) is vague.
For example, if you have an ExpressRoute circuit with 100Mbps bandwidth, you may be wondering if you can use 100Mbps for both upstream and downstre

[2019-12-27 03:00] AshokPeddakotla-MSFT commented on #45246
@kojish Thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-12-27 03:03] SnehaAgrawal-MSFT commented on #45178
@tunminster As we have not received any response on your side and there are no details of the issue, we are closing this on our end. In case you have any issue with any of the document, please feel free to open a new issue with us and we will be happy to help.

[2019-12-27 03:03] #45178 closed

[2019-12-27 03:03] SnehaAgrawal-MSFT commented on #45184
@saif-0607 As we have not received any response on your side and there are no details of the issue , we are closing this on our end . In case you have any issue with any of the document , please feel free to open a new issue with us and we will be happy to help .

[2019-12-27 03:03] #45184 closed

[2019-12-27 03:07] DixitArora-MSFT commented on #44757
@PburgRules Make sure that the installation are correct and have the latest update. I have tried this at my end and it works without any issue.

Also this channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow.

So for now will proceed to close this thread. If there are further questio

[2019-12-27 03:07] #44757 closed

[2019-12-27 03:16] DixitArora-MSFT commented on #45171
@dcbrown16 This discuss about inbound and Outbound calls. I don't think there is a doc enhancement/change is required for this. Do let me know if there are any further questions.

[2019-12-27 03:37] DixitArora-MSFT commented on #45206
@DavidPrio PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-27 03:37] #45206 closed

[2019-12-27 03:44] NewFuture commented on #45225
@Karishma-Tiwari-MSFT thank you 😸

[2019-12-27 04:07] CHEEKATLAPRADEEP-MSFT commented on #45234
@irgnosis  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2019-12-27 04:25] DixitArora-MSFT commented on #45210
@dcbrown16 PG is working on enabling the ISE variant of the File System connector. For now you have to use the existing connector with the Gateway to access the File share. I agree it is a doc bug . For that PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If

[2019-12-27 04:25] #45210 closed

[2019-12-27 04:42] MartinJaffer-MSFT commented on #44990
At this time it is not possible.  There is no out-of-the-box solution.  There is no connector for the new ML as you stated.

That said, it may be possible to do some of the steps.
- Given that data source is often blob storage, and Data Factory has a Blob connector, the data can be updated.
- There is a Machine Learning REST API.  Calls to the REST API's can be made using the Data Factory Web Acti

[2019-12-27 04:42] #44990 closed

[2019-12-27 05:00] vikaskanchan commented on #45209
@SnehaAgrawal-MSFT   for odata i didnt much find any link  but i have tried this links

1.  https://docs.microsoft.com/en-us/sharepoint/dev/general-development/using-odata-sources-with-business-connectivity-services-in-sharepoint

2. https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/v1/data-factory-odata-connector.md#json-example-copy-data-from-odata-source-to-azure-blo

[2019-12-27 05:11] SubhashVasarapu-MSFT commented on #45247
@juyamagu , We are looking into this query and will update you as soon as possible.

[2019-12-27 05:14] SubhashVasarapu-MSFT commented on #45245
@kariyukisusumu , We are looking into this query and will update you as soon as possible.

[2019-12-27 05:15] SubhashVasarapu-MSFT commented on #45244
@kariyukisusumu , We are looking into this query and will update you as soon as possible.

[2019-12-27 05:21] MayMSFT commented on #45064
@CeciAc
May I know where did you get the urls? You can only create dataset from public urls. if the blob is not public (ur case), you should instead create dataset from blob datastore. [Learn How](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-create-register-datasets#create-a-tabulardataset)

[2019-12-27 05:26] kariyukisusumu commented on #45244
@SubhashVasarapu-MSFT , Thank you for your comment. I'm waiting for your update.

[2019-12-27 05:27] kariyukisusumu commented on #45245
@SubhashVasarapu-MSFT , Thank you for your comment. I'm waiting for your update.

[2019-12-27 05:28] RohitMungi-MSFT commented on #45212
@misd92 The tutorial uses an ONNX model, in the demo I have used the project as is for detection.
If you need to use python there is a guidance to use a tensor flow model with python in the [documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python).

If you have questions regarding the solution please post them in the [issues ](https://gith

[2019-12-27 05:28] huajunzhao opened #45248 "Erros while running PySpark code in Databricks notebook"
![image](https://user-images.githubusercontent.com/3183325/71502733-be468500-28ac-11ea-9bbb-f7270dd44e7f.png)

please check and let me know how to resolve.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2142d15a-97b4-c4fc-b0af-da2d1c07cd77
* Version Independent ID: 815ca9e8-340f-d854-951c-11078ec8fd24
* Content: [Quick

[2019-12-27 05:36] RohitMungi-MSFT commented on #45183
@Hiteshgkapoor Support for v2 SDK support is planned for Feb/March 2020.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-27 05:36] #45183 closed

[2019-12-27 05:51] SwathiDhanwada-MSFT commented on #45170
@saket-ms  Can you please review the document and update it if necessary?

[2019-12-27 05:57] PramodValavala-MSFT commented on #45185
@harry12345678910 This is required only when importing the API. Removing authentication is **definitely not the recommendation** here.

You could consider [downloading the OpenAPI spec manually and importing that](https://docs.microsoft.com/en-us/azure/api-management/import-api-from-oas) instead of using the convenience option of importing the API App. It essentially does the same..

Since there i

[2019-12-27 05:57] #45185 closed

[2019-12-27 06:08] buhibu9 opened #45249 "Reasons for [Recommendation: Consider MDM only management for Azure AD joined devices.]"
Please specify the reasons for recommending MDM only management.
I guess it is not a technical point of view but a cost aspect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c65624ff-7545-8514-4374-7dde7885ef43
* Version Independent ID: 2687cf32-1618-a8d9-b249-7f31765f6856
* Content: [How to plan your Azure Active Dir

[2019-12-27 06:19] SnehaAgrawal-MSFT commented on #45248
@huajunzhao Thanks for the Feedback! Request you to share the doc link you are referring to help you better on this.

[2019-12-27 06:44] pvrk commented on #45133
@jofrance : Thanks for this. I missed documenting the command which allows you to get temporary SAS token as mentioned [here](https://docs.microsoft.com/azure/azure-resource-manager/templates/secure-template-with-sas-token?tabs=azure-powershell#provide-sas-token-during-deployment). Will update the documentation and update this thread.

[2019-12-27 06:46] msrini-MSFT commented on #45228
@mslot , If you look into this doc, it is mentioned that "Outbound Data Transfers to Azure CDN from Microsoft are free of charge". So you will only pay for the outbound data from the CDN to the endpoints.

[2019-12-27 06:53] truealex81 commented on #45211
@ManojReddy-MSFT
Thanks a lot! I think this information would be helpful for others, coz it's not obvious that we need using commands for service principal rather than Update-AzADApplication.

[2019-12-27 06:55] ManojReddy-MSFT commented on #45249
@buhibu9 Generally, co-management with SCCM is used in environments where they have a heavy on-premise presence and for machines that are already domain-joined. This will result in Hybrid Azure AD joined devices.

For Azure AD joined devices, we recommend MDM only because the devices are already joined to azure and you don't have to rely on on-premise infrastructure in the long run as well.

[2019-12-27 07:00] ManojReddy-MSFT commented on #45211
@truealex81 I agree with your suggestion. I am working internally to document this information in our documentation.

I will go ahead and close the issue for now. Let me know if you have any further questions.

[2019-12-27 07:04] #45211 closed

[2019-12-27 07:20] kazshi opened #45250 "missing eventSubscriptions in Microsoft.EventGrid"
I'm not sure it should be listed in the table, but I'd like to know if Event Grid Subscription (eventSubscriptions) can be moved between subscriptions.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [

[2019-12-27 07:31] BoricuaEnLaLuna opened #45251 "ILogger<Category>.LogMetric inserts records in traces table instead of customMetrics table"
Hi, for reference I originally asked about this issue a few days ago in the following forum: https://social.msdn.microsoft.com/Forums/en-US/ea18efe8-1f23-4f0f-b3fe-828087467ccc/iloggerlogmetric-extension-method-writes-into-traces-table-instead-of-custommetrics-with-azure?forum=AzureFunctions

I am using Azure Functions V2 and when I was attempting to log custom metrics into my AppInsights I notice

[2019-12-27 08:54] simonvane commented on #7705
@Mike-Ubezzi-MSFT I have added to this use voice post which seems to cover the feature requirement - https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/36119482-support-case-insensitive-indexing

However, it would be very helpful if the documentation covered best practices for handling case insensitive issues in a performance manner rather than everybody having to trawl the inter

[2019-12-27 09:18] mslot commented on #45228
@msrini-MSFT I read that as "data going out of the datacenter and to the POP" and not all the way to the end user. The POP can, as I have understood it, reside outside of a datacenter.

I don't think this is expressed clearly enough anywhere.

[2019-12-27 09:27] AshokPeddakotla-MSFT commented on #45177
Assigning to the author @kgremban to review this further and update the doc as appropriate.

[2019-12-27 09:57] jordanfinners commented on #45105
I did look at those steps @souravmishra-msft however that didn't work for custom policies

[2019-12-27 10:34] SnehaAgrawal-MSFT commented on #45122
@jonathansd1 Since we didn't heard from you We will now close this out but if you feel you need more information please just let us know.

[2019-12-27 10:34] #45122 closed

[2019-12-27 10:41] AshokPeddakotla-MSFT commented on #45246
@kojish [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/99769) has been created to address this and update the doc. Changes will go live once it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-27 10:41] #45246 closed

[2019-12-27 10:45] aelmanaa opened #45252 "Problems with istioctl command on windows"
Hello ,

as explained in https://github.com/istio/istio/issues/19020 , there are some issues with current istioctl command lines on windows.

Here is my workaround:

to install:

istioctl manifest apply -f istio-aks.yaml --logtostderr --set installPackagePath=&lt;istio-version&gt;/install/kubernetes/operator/charts

Uninstall
istioctl manifest generate -f istio-aks.yaml --logtostderr --set install

[2019-12-27 10:57] v-pugoe commented on #42976
@ksymes In the tutorial we have given the step to upload service provider metadata but at the same time mentioned that you will get this later. In the later steps, after the user uploads the Azure Federation metadata XML, then only he will get the service provider metadata. So logically this as correct as you saying.

cc @jeevansd @chetansriv @v-nagta

[2019-12-27 11:26] DixitArora-MSFT commented on #45251
Hi @BoricuaEnLaLuna Thanks for reaching out. We will review and update as appropriate

[2019-12-27 11:28] misd92 commented on #45212
Fine then. I'll post it there

[2019-12-27 11:51] KIRY4 commented on #38914
Hello @KalyanChanumolu-MSFT any updates? Today I faced same issue. I can't retrieve secret from my KV in Azure Key Vault step in my Release pipeline (Azure DevOps). Links with IP's above are broken... So how I can retrieve secrets in my pipeline? Allow trusted Microsoft services to bypass this firewall? (Yes) - didn't help too.

[2019-12-27 11:52] jakaruna-MSFT commented on #45252
@aelmanaa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-27 11:52] anmtando opened #45253 "Unable to update Office with Windows 10 multi-session image with ProPlus"
I have used the Windows 10 image with ProPlus and got out of the box Office applications installed on all my sessions hosts. But the user is unable to configure any office applications or even update Office on those session hosts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Ver

[2019-12-27 11:53] jakaruna-MSFT commented on #45188
@AjKundnani I hope this error is for a specific region.
Did you tried with other regions

[2019-12-27 12:01] pvrk commented on #45133
Updated the document under this [section](https://docs.microsoft.com/azure/backup/backup-azure-vms-automation#create-a-vm-from-restored-disks).

Hope this helps. Many thanks for the feedback.

#please-close

[2019-12-27 12:01] #45133 closed

[2019-12-27 12:07] SwathiDhanwada-MSFT commented on #45250
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-27 12:17] perkops opened #45254 "First section have excessive whitespace"
...for scale.    This article...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b6e2b9-7808-6c9b-101e-e6c49c14e175
* Version Independent ID: 92c38af6-f984-5833-bbee-513c4731ecc5
* Content: [Security framework - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/security#feedback)
* Content Source: [artic

[2019-12-27 12:17] jakaruna-MSFT commented on #45202
@laurenhughes Please answer the users question and update the doc if needed

[2019-12-27 12:22] perkops opened #45255 "Theres excessive whitespace in attestation section"
...preventing malware.  The Azure...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b6e2b9-7808-6c9b-101e-e6c49c14e175
* Version Independent ID: 92c38af6-f984-5833-bbee-513c4731ecc5
* Content: [Security framework - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/security#feedback)
* Content Source: [a

[2019-12-27 12:25] WJayesh commented on #43774
The URL does show a sign in page. Can you help me understand why the url has scope openid and respone type "id_token" ? What if i need different values?

[2019-12-27 12:33] jakaruna-MSFT commented on #45077
@ajayvs  Did you get past the error

I reached out to the internal teams and let you know once i have some info

[2019-12-27 12:36] Shambhu-MSFT commented on #45222
Thanks for reaching out to us. We are checking on this and will share an update shortly on this.

[2019-12-27 12:52] #45212 closed

[2019-12-27 13:13] bhavinbdoshi commented on #44383
I just tried this and I still don't see ConnectionString. I tried both https://aka.ms/devkit/prod/getstarted/latest and https://github.com/microsoft/devkit-sdk/releases/download/1.6.5-release/devkit-firmware-1.6.5.bin

[2019-12-27 13:17] asergaz commented on #45254
Thank you for your feedback @perkops. We want to improve the documentation based on your valuable feedback, can you please elaborate more so I can move your feedback through the right path?

Appreciate your time in advance.

[2019-12-27 13:19] asergaz commented on #45255
Thank you for your feedback @perkops . So that we don't duplicate the effort, can you please confirm if this is the same issue\feedback as #45254 ?

[2019-12-27 13:20] kriscamilleri opened #45256 "Incorrect instructions."
"To resolve this issue do one of the following:
Remove the Azure AD account (owner) from all admin roles.
Hard Delete the Quarantined object in the cloud.
The next sync cycle will take care of soft-matching the on-premises user to the cloud account (since the cloud user is now no longer a global GA).
Restore the role memberships for the owner."

I don't believe the instructions should state "do on

[2019-12-27 13:21] asergaz commented on #45255
@perkops I opened the article in a different browser and it was clear what you mean :). Fixing it now. Thank you so much.

[2019-12-27 13:21] asergaz commented on #45254
@perkops I opened the article in a different browser and it was clear what you mean :). Fixing it now. Thank you so much.

[2019-12-27 13:23] asergaz commented on #45255
I will close this issue and fix all extra whitespaces in the doc on one single pull request. When fixed I will announce at #45254 Thanks!

[2019-12-27 13:23] #45255 closed

[2019-12-27 13:37] bradunov opened #45257 "Issue using SharedCode folder"
I've tried to use the recommended SharedCode folder structure to load my shared code but the example doesn't work. If I add

[code]

(replacing _ _ app _ _ with my app folder name), Python fails to find the library. Upon further inspection, I see that the Python system path in the interpreter is

[code]

and my code is being deployed in /home/site/wwwroot/, which is not in the path.
Ultimately, I

[2019-12-27 13:46] otravers commented on #38862
For the record, this started working with the December 2019 update.

[2019-12-27 13:49] ekalyvio commented on #37847
I ended up deleting the app registration and recreating all the settings ensuring to select on the supported account types the multi-tenant account types & personal Microsoft accounts (as this option was missing in my last app registration and I couldn't select it). Then it worked!
Hoping that I will not need to delete a database in the future!

[2019-12-27 14:02] drewwilliams1982 opened #45258 "Unrecognized parameters when creating cluster"
Following the steps, I get the following error message trying to create the AKS cluster:

`az: error: unrecognized arguments: --windows-admin-password mypassword1! --windows-admin-username azureuser`

Omitting these parameters creates a cluster, but I cant add windows nodepools to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-27 14:38] bradunov opened #45260 "Issue accessing connection strings through environment variables"
I am trying to add a connection string to environment variables as advised in the example above. It works in a local deployment, though the key is modified (e.g. instead of KEY, it is called ConnectionStrings:KEY).

However, I am not able to see the same connection string in my remote deployment. I added a key as described here [Link](https://docs.microsoft.com/en-us/azure/azure-functions/function

[2019-12-27 14:39] frvigano opened #45261 "useAzureMSI: unclear what scenarios are supported"
From the documentation is unclear if useAzureMSI is supported only with Azure Data Lake gen2 or it is also supported by blob storage. From a technical perspective, SQL DW supports both ADLgen2 and blob storage, but it seems that the Azure Databricks connectors supports only data lake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-27 14:40] anis020 opened #45262 "Scope vs AppRoles [allowedMemberType"User"]"
What is the main difference between Scope and AppRoles - User? As per my understanding both of them are in context of Delegated Permissions only but I am not able to figure out the use cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac43307-75d4-cb6f-e561-0dd9008f28c6
* Version Independent ID: 8fc47e76-5ee1-6aeb

[2019-12-27 14:43] artsheiko opened #45263 "Python sample code is outdated"
1. SecretClient class has no parameter named "vault_endpoint" : https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py#L25
URL of the vault the client will access must be set using vault_url

2. Python does not require semi-colons to terminate statements

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-12-27 14:44] PramodValavala-MSFT commented on #45260
@bradunov Connection Strings should be used only in cases where Entity Framework is being used as mentioned in the portal UI.

App Settings should be used for all other cases which translate into environment variables.

[2019-12-27 14:45] PramodValavala-MSFT commented on #45257
@bradunov Thanks for the question! We will review and get back to you!

[2019-12-27 14:48] perkops opened #45264 "Limits should be aligned with those from device twin"
It appears that the limits in the module twins document is not aligned with those from device twin. (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins)

E.g.  "All JSON objects in tags, desired, and reported properties can have a maximum depth of 5."

Its valid to apply a maximum depth of 10 in the module twin aswell. I have not looked into the string value sizes, but wo

[2019-12-27 14:52] anand-mukund opened #45265 "Using of Dns load balancing"
In this example we haven't used dns load balancing in round robin fashion.why?c-flip will not be required in that case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fca0e3-fec9-2c72-63a3-a2e1b0a7aad8
* Version Independent ID: 1e80ea20-77d6-1ecd-76cd-224438972648
* Content: [Disaster recovery using Azure DNS and Tra

[2019-12-27 14:53] huajunzhao commented on #45248
https://docs.microsoft.com/en-us/azure/azure-databricks/quickstart-create-databricks-workspace-portal

[2019-12-27 15:04] Andy9874 commented on #45144
@DixitArora-MSFT The issue I'm facing is not for editing the developer portal, which is what the script you suggested is for. I am able to edit the portal without problem.

The issue I'm facing is when a user logs into the API management developer portal and tries to run an API from the developer portal using "Try It". Here are the steps that I'm following:

#1: First I run the out of the box “Ech

[2019-12-27 15:07] rupertohpen opened #45266 "Configuration steps incomplete/incorrect"
For the implementation of SN that we have, these steps didn't work.
Reply URLs needs to be specified:
You can either get this by uploading the metadata xml from SN or adding it yourself
* https://instancename.service-now.com/navpage.do (default)
* https://instancename.service-now.com/customer.do

Sign-On URL does not work with navpage.do, change to:
* https://instancename.service-now.com/login_wit

[2019-12-27 15:14] SnehaAgrawal-MSFT commented on #45139
@glloyd2010f Since we didn't heard from you. We will close this out but if you feel you need more information please just let us know.

[2019-12-27 15:14] #45139 closed

[2019-12-27 15:25] kriscamilleri commented on #45256
The instructions are correct, if /all/ of the steps are applied sequentially.

I did indeed have to delete the cloud user (and their contents), however once done, the error was removed.

[2019-12-27 15:32] hammerhead opened #45267 "JSON structure outdated"
Hi,

the provided JSON schema and example appear to be outdated. Instead of the documented structure, leads are currently sent in this format (values removed):

[code]

The keys have a different casing and the `description` key is not documented.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a7d6f7-7f55-fe1b-f84d-eb

[2019-12-27 15:33] #45160 closed

[2019-12-27 15:42] SubhashVasarapu-MSFT commented on #45265
@anand-mukund , We are looking into this query and will update you as soon as possible.

[2019-12-27 16:13] ToreDemant commented on #29967
I second this

[2019-12-27 16:29] perkops opened #45268 "Missing word in sentence"
Reporting Failure shows the IoT Edge devices that have reported back to the service that one or modules have not been deployed successfully.

Should be:

Reporting Failure shows the IoT Edge devices that have reported back to the service that one or more modules have not been deployed successfully.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-12-27 16:45] jonathansd1 commented on #45122
Sorry for the delay in getting back to you. It's been a holiday this week.

I'm still battling this. As mentioned above, I can now have App Service use the appropriate `node` and `npm` versions by changing the specification under `engines` in the package.json. Ensuring that python is available, `node-gyp` successfully compiles, but I still encounter the `ReferenceError` mentioned [above](https://g

[2019-12-27 16:51] eveningit commented on #45098
Hello @msrini-MSFT,

The document says to select an availability set not a VM:

On the Add a backend pool page, type or select the following values:

    Name: Type MyBackendPool.
    Associated to: Drop down and select Availability set.
    Availability set: Select MyAvailabilitySet.

is the document incorrect?

[2019-12-27 17:02] msrini-MSFT commented on #45228
@mslot , POPs are not inside the data center and you don't need to pay for the outbound charges to the POP servers. The billing what you are referring to is the Azure bandwidth charge and it is clearly mentioned that there are no charge for outbound data to Azure CDN.

My understanding is that there are no outbound charge from the CDN to the clients.

@mdgattuso , Can you please take a look and co

[2019-12-27 17:05] VitalyMCT opened #45270 "Link to "SQL migration using Azure Data Migration Service (DMS) hands-on lab" does not work"
It brings the user to the generic search page instead. Perhaps this lab has been retired or renamed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Version Independent ID: b5cb6daf-f6da-f62d-4bfb-d6eee57c8b4a
* Content: [Tutorial: Migrate SQL Server online to SQL single database -

[2019-12-27 17:13] ciphertxt commented on #44946
👆 This! There needs to be a way to disable MFA per-user in the new security defaults, not only for break glass accounts, but in general. Azure AD resiliency is a bit of a joke, and the MFA service has gone down regionally and globally multiple times. There needs to be a balance between core security constructs for users and still being able to administer an Azure AD tenant when the surrounding sec

[2019-12-27 17:13] msrini-MSFT commented on #45098
@eveningit , The portal experience is changed now. Before it used to be the way that you mentioned above. Now, for Basic SKU, you get an option to select either VM or VMSS. Once you select either of them, you get an option to choose any VM and IPconfig in the drop down.

@asudbring Can you enhance the doc with the above details?

[2019-12-27 17:18] Mike-Ubezzi-MSFT commented on #7705
@simonvane Thank you for posting to the UserVoice. I am reopening this Git Issue as a doc-enhancement to address the documentation part of the request.

[2019-12-27 17:25] MarileeTurscak-MSFT commented on #45256
@kriscamilleri thanks for the feedback! Were you able to get this resolved then? Do you still believe that the documentation needs to be updated?

[2019-12-27 17:26] eveningit commented on #45098
ok thanks guys. I thought it was me doing something wrong. It would be good to update the document for anyone following this document.

[2019-12-27 17:28] Skatterbrainz opened #45271 "Bug or missing step?"
I've followed the instructions on this page to the letter 5 times in a row (deleting everything and starting over each time).  But after the Watch-NewFile runbook is triggered, it updates the variable, but fails to call the Process-NewFile runbook.  The watcher stream output shows "Error: The remote server returned an error: (400) Bad Request."  There is no action job output.  Am I missing somethi

[2019-12-27 17:30] Mike-Ubezzi-MSFT commented on #7705
@SnehaGunda and @LalithaMV for awareness.

[2019-12-27 17:30] FrankHu-MSFT commented on #45262
@anis020 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-27 17:30] FrankHu-MSFT commented on #45263
@artsheiko Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-27 17:30] FrankHu-MSFT commented on #45266
@rupertohpen Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-27 17:33] souravmishra-msft commented on #45105
@jordanfinners, Even after following the steps, are you still getting the same error as mentioned above?

[2019-12-27 17:42] FrankHu-MSFT commented on #45263
for point 1 Reference : https://github.com/Azure/azure-sdk-for-python/pull/8128 for vault_url change,

and point 2 is correct, thank you for letting us know about this we're going to go ahead and make these changes now. Please let us know if you have anymore concerns or questions otherwise i will be closing out this git issue by end of day today.
@artsheiko

[2019-12-27 17:57] KrishnaG-MSFT commented on #45267
Assigning content owner @dan-wesley for visibility, review and document enhancement consideration.

[2019-12-27 18:08] warpdriv opened #45272 "Change Credit Card Payment Options Missing Activate"
Hi,

I am trying to change my payment options to a new credit card. I can add the new credit card, based on the instructions (link below). However, in the add card screen, there is no checkbox for "Make this my active payment method".

Also, on the screen that lists my old and new cards, when I check my new card, there is not an option to "Set active"

https://docs.microsoft.com/en-us/azure/billin

[2019-12-27 18:09] hannahqin opened #45273 "Restoring deleted databases for MI - outdated documentation"
In the section "Restore a deleted database," it says that restoring a deleted database can only be done using PowerShell. This is outdated; restoring deleted databases can be performed from the Azure Portal as well. It's documented correctly in this Docs article: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-recovery-using-backups#managed-instance-database-1

---
#### Document D

[2019-12-27 18:15] jmprieur commented on #45070
@binhnguyen1984 : would this scenario work for you? https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-overview

[2019-12-27 18:27] binhnguyen1984 commented on #45070
Unfortunately, this does not work for me as the sample is for asp.net framework. I tried this exact code with asp.net core 3.0 and it does not work. Too bad.

[2019-12-27 18:34] binhnguyen1984 commented on #45068
Would it be possible to provide us a sample of JavascriptSPA that works with asp.net core 3.0, please?

[2019-12-27 18:48] meepstei opened #45274 "Confusion regarding the NSG example screenshots"
The NSG example screenshot provided, although useful, confuses people on what rules they need to configure. Specifically the rules for the intra-subnet connectivity. I have seen several NSGs that have the example address space set (172.20.4.0/24) instead of what is actually the ASE's subnet. Can we please highlight the below rules to fully showcase the address space provided is an example and that

[2019-12-27 18:53] FrankHu-MSFT commented on #45262
Hey @anis020 where are you getting approles from? An approle/oauth2permissiongrant is the name for the permission on the backend. This will appear in the scps claim when requesting an access token.

For more information see the graph api docs here : https://docs.microsoft.com/en-us/graph/api/resources/azure-ad-overview?view=graph-rest-beta

the term app role and scope is sort of interchangable, bu

[2019-12-27 19:12] mslot commented on #45228
@msrini-MSFT thanks. I will wait for @mdgattuso.

@msrini-MSFT is it correct that this only applies for Azure CDN from Microsoft? As I read it

From https://docs.microsoft.com/en-us/azure/cdn/cdn-billing. I actually think that is something to take into account, and what is confusing me, because here they write that the data transfer to the POP is free of charge, and if you read the pricing page

f

[2019-12-27 19:13] kriscamilleri commented on #45256
Yes, I was able to resolve the issue by following the steps sequentially.

The only thing I would recommend changing is:
"To resolve this issue do one of the following:" to "To resolve this issue do the following:"
and perhaps using a numbered list rather than a bullet.

[2019-12-27 19:36] stvansolano commented on #37847
Hey folks, I'm having the same problem across [MSFT docs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-3.1) and [GitHub](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2) examples. Any ideas?

I will be re-creating my tenant in case it works like @ekalyvio did.

[2019-12-27 20:25] amasover commented on #26079
@prashanthyv @MarileeTurscak-MSFT

I think fixing this should be a higher priority. Microsoft frequently promotes Service Principals / Managed Identities for use in automation, but this is a bit of a showstopper (at least when it comes to using Key Vault to manage access to storage accounts).

@vitalii-lebedev I guess the only workaround for now would be to create a special "key vault storage auto

[2019-12-27 20:39] Karishma-Tiwari-MSFT commented on #45253
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-27 20:39] Karishma-Tiwari-MSFT commented on #45258
Thanks for the question! We are currently investigating and will update you shortly.

[2019-12-27 20:40] Karishma-Tiwari-MSFT commented on #45261
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-27 20:52] NavtejSaini-MSFT commented on #45273
@hannahqin We are checking this and will get back to you.

[2019-12-27 20:53] aprilspeight opened #45279 "'Resource Not Found'"
When creating an Azure resource, if you use the 'Create a Multi-Service Resource' option, the following error appears when you run the code in this quickstart:

Traceback (most recent call last):
  File "c:/Users/apspeigh/Documents/search.py", line 13, in &lt;module&gt;
    web_data = client.web.search(query="Yosemite")
    raise models.ErrorResponseException(self._deserialize, response)
azure.cog

[2019-12-27 20:53] Karishma-Tiwari-MSFT commented on #45217
@travis-sobeck Please help confirm on your ask, as stated above. Thanks.

[2019-12-27 20:54] Karishma-Tiwari-MSFT commented on #45227
@gsubiran Is there an update?

[2019-12-27 20:55] KevinSheck opened #45280 "Extra Space after back-tic on -ResourceGroupName line in "Create a private endpoint (preview)" sample."
There is an extra white-space after the back-tic at the end of the "-ResourceGroupName $resourceGroupName" line rendering the line continuation ineffective.

New-AzPrivateDnsRecordSet `
            -ResourceGroupName $resourceGroupName `[extra whitespace]
            -Name $recordName `
            -RecordType A `
            -ZoneName $zone.Name `
            -Ttl 600 `
            -PrivateDnsRec

[2019-12-27 20:55] NavtejSaini-MSFT commented on #45264
@perkops We are checking this and will get back to you.

[2019-12-27 20:56] NavtejSaini-MSFT commented on #45268
@perkops We are checking this and will get back to you.

[2019-12-27 20:59] NavtejSaini-MSFT commented on #45279
@aprilspeight We are checking this and will get back to you.

[2019-12-27 21:12] Mcphejoh commented on #31188
Thank you for posting this I was updating powershell and the winrm is timing out - when I attempt to connect using MAC Remote Desktop I get connection refused. going to revert to 2012 for now just to get some Powershell testing done.

[2019-12-27 21:23] zulli73 commented on #14254
I suffer from the same issue: I followed this tutorial, but using a Raspberry Pi 3B+. I'm getting the same error as initially posted (exec user process caused "exec format error") and came up with the same conclusion: The image seems not to be available for ARM architecture as the according "tag" is not shown here https://hub.docker.com/_/microsoft-mssql-server

Would be nice to have this image fo

[2019-12-27 21:52] andreasmarx commented on #44190
table has been updated, see https://github.com/MicrosoftDocs/azure-docs/issues/43482#issue-528146790

[2019-12-27 21:52] #44190 closed

[2019-12-27 21:55] jlian commented on #44709
We have to follow a specific format. I should have something ready early next week.

[2019-12-27 22:24] xiangwu-ms opened #45281 "Add --time_based to sudo fio --runtime 30 fioreadwrite.ini"
Without the --Time_based the fio will finish after the file size is fully used. Like 30G on my test VM, 5 minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29e4933-1dc6-c222-5ea5-25bdfaa3b426
* Version Independent ID: 2c387745-4f69-21b2-8388-71600a09d450
* Content: [Benchmarking your application on Azure Disk St

[2019-12-27 22:27] toddjohnson39 opened #45282 "Require Hybrid Azure AD Join Conditional Access - Windows 10 - Run As"
With a Conditional Access policy defined to require Hybrid AAD Join device for access various 365 services, if I launch a browser (IE/Chrome) as a different users, or launch an InPrivate/InCognito window and sign in with an account other than the account that is signed onto Windows, Conditional Access will say my device is not compliant. If I use the account that is signed-in to Windows the policy

[2019-12-27 22:32] xiangwu-ms opened #45283 "Update Disk capacity: 35 TB ==> Disk max provisioned size: 35TB"
As title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b06cae5-344e-6aaf-27c6-59674c90bedb
* Version Independent ID: 5d076ea2-e729-7d4c-97ea-38ab75f2071c
* Content: [Scalability targets for premium page blob storage accounts - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/scalability-targets-pr

[2019-12-27 22:55] stvansolano commented on #37847
It didn't work after second attempt @mattchenderson @RyanHill-MSFT here are some findings so far:

- When I run through the examples from  [GitHub](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2) most of them seems to have the same issue with my tenant. I reuse the `AzureAd` settings that I got from the Azure Portal/docs indications.

- I double checked and ev

[2019-12-27 23:02] datocrats-org opened #45284 "Edit or replace nslookup command with more reliable method"
digwebinterface.com was showing the changes I made to the NS while nslookup was returning what appears to be a cached version of the results. Add the command to clear the cache or replace with digwebinterface.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent I

[2019-12-27 23:04] albigi opened #45285 "Linking a ClaimsMappingPolicy to an App causes AADSTS50146 upon authentication"
[Environment]
AzureAD
.NET Core 3.1
OpenID Connect

[Summary]
Goal is to have AzureAD issue AAD non-basic schema properties as claims in the ID Token. Following the documentation and linking a newly created policy object to an existing app breaks the authentication flow. Upon successfully authenticating against AAD (directly or via a RP) the application would fail validating the ID Token with erro

[2019-12-27 23:09] albigi commented on #45285
looks like [#5111](https://github.com/MicrosoftDocs/azure-docs/issues/5111) but context might be different

[2019-12-27 23:19] mprentice22153 opened #45286 "What happens when you delete an active configuration?"
If you delete an active configuration, do the synced accounts become cloud-only accounts?  Hopefully they are not deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc727ce1-ac57-267f-7390-8d0d88dbd208
* Version Independent ID: c193d7b2-d420-5698-84ab-eff900c2b59d
* Content: [Azure AD Connect cloud provisioning ne

[2019-12-27 23:20] mananshah19 opened #45287 "Azure Site Recovery Storage Issue"
I am experimenting Azure Site Recovery for my product and what i realized is that Standard LRS gives me a 'WARNING STATE' when it comes to 'Enable replication' for multiple machines together. For that purpose i made a Premium Storage Account but the storage account doesnot pops up when I am in the Enable Replication tab --&gt; Properties --&gt;Cache Storage account. I have rebooted the Config / Pr

[2019-12-27 23:21] mprentice22153 opened #45288 "What is the right way to reconfigure credentials?"
If we use an initial set of credentials, and want to change to a different set of Active Directory credentials, what is the right way to reconfigure?  It appears we have to re-run the installer with the Repair option which eventually gets us to the option to reconfigure.  There should be an easier way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-27 23:33] mprentice22153 opened #45289 "When can you uninstall AADC?"
When is the right time, and what is the right process, to uninstall AADC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03fe211-ca3d-8bb6-e833-0a29f81d63c2
* Version Independent ID: bed50ad6-84e7-b83f-a5cf-aa7a1796bf71
* Content: [Tutorial - Pilot Azure AD Connect cloud provisioning for an existing synced AD forest](

[2019-12-28 00:20] MarileeTurscak-MSFT commented on #45256
@kriscamilleri thanks for the suggestion. I agree!

I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/99812

[2019-12-28 00:20] #45256 closed

[2019-12-28 00:25] MarileeTurscak-MSFT commented on #45226
@SweetyNico I think it just means that it syncs for group members, but I'm assigning this to the content author to look into. Can you please provide some further context?

[2019-12-28 00:30] HuuPhuocNguyen commented on #45045
Thank you

[2019-12-28 01:35] tiandklerk commented on #38862
Really?! Perfect, thank you @otravers, I will be sure to go have a look to confirm.

[2019-12-28 02:11] memoryz opened #45290 "Please update the API documentation regarding custom docker image"
Based on documents here: https://docs.microsoft.com/en-us/azure/databricks/clusters/custom-containers#step-3-launch-your-cluster, the cluster creation API now supports docker_image tag to use custom docker image. But the REST API documentation is not updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5705b9-3ec2

[2019-12-28 02:16] Karishma-Tiwari-MSFT commented on #45270
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-28 02:17] Karishma-Tiwari-MSFT commented on #45271
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-28 02:19] Karishma-Tiwari-MSFT commented on #45272
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-28 02:20] Karishma-Tiwari-MSFT commented on #45274
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-28 02:21] Karishma-Tiwari-MSFT commented on #45281
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 02:22] Karishma-Tiwari-MSFT commented on #45280
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 02:23] Karishma-Tiwari-MSFT commented on #45282
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-28 02:53] abbasvanak opened #45291 "Write to Azure Bolb From Databricks"
All the article here explain reading from blob storage. I wanted to write csv file to azure bolb account.  When i write to mounted bolb storage using DataFrame Write API. it save as file in hive format in multiple parts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d39e17-424d-1db6-f600-15f272bf3a7c
* Version Indep

[2019-12-28 03:01] datocrats-org opened #45292 "CNAME steps needing clarification"
It would help if you could include info on how to  I saw in pre-requisites where you said "A CNAME record hosted on a DNS server that maps the custom domain name to the default domain name of your API Management instance. This topic does not provide instructions on how to host a CNAME record." Yet, later on the text is ambiguous on how I would need to do this: "Configure a CNAME-record that points

[2019-12-28 03:22] jeevansd commented on #45266
@chetansriv and @v-nagta Can you please review this change and verify it?

[2019-12-28 03:58] m6soto opened #45293 "Typo in first purple note box..."
"In the ExpressRoute direct connectivity model (offered at 10/100 Gbps bandwidth), cusomters can directly connect to Microsoft Enterprise Edge (MSEE) routers' port."

This cusomter is letting you know there's something that needs a'fixin...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70feb763-1eb5-fa70-077e-5e3ea5e6

[2019-12-28 04:21] huajunzhao opened #45294 "Missing right bracket"
[Enter feedback here]

In https://docs.microsoft.com/en-us/azure/databricks/getting-started/spark/datasets?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fazure-databricks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json#--process-and-visualize-the-dataset, you missed a right bracket at the end of "..... d.cca3)", it should be like

// filter out all devices

[2019-12-28 04:36] SnehaAgrawal-MSFT commented on #45283
@xiangwu-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:39] SnehaAgrawal-MSFT commented on #45284
@datocrats-org Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:41] SnehaAgrawal-MSFT commented on #45285
@albigi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:49] SnehaAgrawal-MSFT commented on #45286
@mprentice22153 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:51] SnehaAgrawal-MSFT commented on #45287
@mananshah19 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:52] SnehaAgrawal-MSFT commented on #45288
@mprentice22153 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:54] SnehaAgrawal-MSFT commented on #45289
@mprentice22153 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:55] SnehaAgrawal-MSFT commented on #45290
@memoryz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:58] SnehaAgrawal-MSFT commented on #45291
@abbasvanak Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 04:59] SnehaAgrawal-MSFT commented on #45292
@datocrats-org Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 05:01] SnehaAgrawal-MSFT commented on #45293
@m6soto Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 05:02] DwijadasDey opened #45295 "Need to import ca-cert before generating truststore and keystore"
Hi
The article is very much helpful. In the Client setup (with authentication) section, I think you need to  import CA root cert(ca-cert) from headnode 0 to client machine  just before importing CA cert to trust store and keystore.  Otherwise the following command will unable to find ca-cert to generate trust store.

[code]

Regards

[2019-12-28 05:03] SnehaAgrawal-MSFT commented on #45294
@huajunzhao Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 05:05] DwijadasDey opened #45296 "Need to import ca-cert before generating truststore and keystore"
Hi
The article is very much helpful. In the Client setup (with authentication) section, I think you need to import CA root cert(ca-cert) from headnode 0 to client machine just before importing CA cert to trust store and keystore. Otherwise the following command will unable to find ca-cert to generate trust store.

# Import CA cert to trust store
keytool -keystore kafka.client.truststore.jks -alias

[2019-12-28 05:06] #45295 closed

[2019-12-28 05:18] SnehaAgrawal-MSFT commented on #45296
@DwijadasDey Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 06:40] SwathiDhanwada-MSFT commented on #45213
Assigning @TomArcherMsft  for review

[2019-12-28 09:38] MhAllan opened #45297 "How to change the subject of the verification email?"
The page says: The page says: Currently there is no way to change the "From:" field on the email."

So I suppose I can change the email "Subject"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent ID: 2ba6e31b-5899-f35a-0f08-d280110ded13
* Content: [Frequently aske

[2019-12-28 09:49] robertlagrant commented on #15184
@gusgallows - yes. We use CircleCI, and I thought about switching to Azure Devops just for this reason. Can't believe it's not on that list!

[2019-12-28 09:54] anis020 commented on #45262
@FrankHu-MSFT Thanks for your answer!
I am not getting approles as of now. I am trying to understand that when backend API should define scope and when it should define appRoles[User]?

In case both are sort of interchangable, then what is the best practice to have - scope or appRoles[User] as both of them are delegated permissions only.

[2019-12-28 10:02] itsabhinav2010 opened #45298 "Wrong example given for extend operators"
extend - 	Count virtual machines by OS type

Wrong example given for extend operators

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b7fed4-6794-fbad-831e-402ae74df56e
* Version Independent ID: ddb188c3-adc5-79c0-a1a6-59a1878bdcfe
* Content: [Understand the query language - Azure Resource Graph](https://docs.microsof

[2019-12-28 10:46] KrishnaG-MSFT commented on #45298
@itsabhinav2010 Can you provide more context w.r.t your statement ?

I see that 'extend' 'Count virtual machines by OS type' section in the referred document routes to [this](https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/starter?tabs=azure-cli#count-virtual-machines-by-os-type) document where the first part explains about a kusto query without using [extend](https://docs

[2019-12-28 13:51] SnehaAgrawal-MSFT commented on #45297
@MhAllan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 16:02] romankiss opened #45301 "Missing tutorial for authenticate X.509 module"
This tutorial described in details steps for authenticate a X.509 device based on using the [Managing test CA certificates for samples and tutorials](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md). Everything is fine and there is no problem to connect the _selfSigned_ device  and also _certificateAuthority_ device.

This document is missing part

[2019-12-28 17:05] SnehaAgrawal-MSFT commented on #45301
@romankiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 17:23] #45236 closed

[2019-12-28 17:23] #45263 closed

[2019-12-28 17:31] FrankHu-MSFT commented on #45262
hey @anis020 i apologize, actually the approle in this context is different.. And I apologize for the confusion, and I will definitely relay this feedback back to the product teams.

In this context the approle is actually the RBAC Role and this is further discussed in this link : https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

And this allows

[2019-12-28 18:01] annerajb opened #45302 "Migration script is broken"
When running the script it throws multiples errors seems a few arguments has changed in the functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221eeaea-6a19-e748-45d4-3376e211f02f
* Version Independent ID: de9899e9-2b26-7c6a-6b67-00a232e81d97
* Content: [How to migrate Azure Firewall configurations to Azure Fire

[2019-12-28 18:14] Karishma-Tiwari-MSFT commented on #45302
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-28 18:21] msrini-MSFT commented on #45302
@annerajb , can you share me the error here?

[2019-12-28 18:34] dcasota opened #45303 "Question: Azure VM offering with accelerating networking using Mellanox nic type ConnectX-4 or ConnectX-5"
Using for example the Standard_DS3_v2 offering , includes the Accelerating Networking feature, but, it uses the nic type ConnectX-3® / Pro.

The vendor Mellanox describes its products in matrix rows with driver type (Linux,Windows), supported speeds, Ethernet: RoCE versions, VXLAN, GENEVE, SR-IOV Ethernet, iSER, N-VDS ENS.

The Azure docs https://docs.microsoft.com/en-us/azure/virtual-network/crea

[2019-12-28 19:21] annerajb commented on #45208
Ok from a mac device it just takes you to an error page.
Can a warning / note be added to the documentation saying the link will
only work from a windows device?

On Thu, Dec 26, 2019 at 10:34 AM Ali Zaman <notifications@github.com> wrote:

[2019-12-28 20:09] annerajb commented on #45302
` AzureMigratePolicies.ps1
creating empty firewall policy
New-AzFirewallPolicy : Value cannot be null.
Parameter name: collection
At C:\Users\abonilla.HOYOSINTEGRITY\Desktop\azure\AzureMigratePolicies.ps1:52 char:8
+ $fwp = New-AzFirewallPolicy -Name $PolicyName -ResourceGroupName $Res ...
+        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseEr

[2019-12-28 20:45] BoricuaEnLaLuna commented on #42878
I would argue this is not just a "nice to know" but a "must know" if we intend to use it in production environments, otherwise we risk having production outages at any random time. I would also like to leverage this behavior for the same reasons as explained above. I'm hopeful @SnehaAgrawal-MSFT can clarify soon if this behavior is officially supported and if we can rely on it for our prod service

[2019-12-28 21:58] SweetyNico commented on #45226
yes,
this attribute is only for contact and user. you can see it in an active directory console

Exchange Online, SharePoint Online and Dynamics CRM sections are correct not
Teams and Skype for Business Online

[2019-12-28 22:39] mslot commented on #42878
I agree upon this. If this is not officially stated, the cost of having something to lose control is upon us.

[2019-12-28 22:57] mslot opened #45304 "Webapp for containers: multiple webapps on a single app service plan"
When we deploy ASP.NET Core code to a regular webapp, it runs behind (or in) an IIS. IIS helps us serving content. It is good at it, but when it comes to serving content from a Linux docker container, things are different. We dont have the IIS, so we need something else in front. Some pick apache, some use nginx, and some use kestrel directly. If you read https://docs.microsoft.com/en-us/aspnet/co

[2019-12-28 23:25] mslot commented on #45218
Thanks @Karishma-Tiwari-MSFT :) Looking forward to hearing from you.

[2019-12-28 23:40] mslot opened #45306 "Azure CDN from Microsoft: wildcards in url path"
If you use the standard rules engine, and want to use a wildcard to describe an url path that hits several urls
![image](https://user-images.githubusercontent.com/544655/71550537-34dda280-29d3-11ea-9feb-c4f242fc8863.png)

I can't get it to work. It never adds my cache-control: max-age:180 to my output. I have tried using several other operators, but it fails to work. I haven't seen any documentati

[2019-12-28 23:57] GiantCrocodile opened #45307 "Expiration time of access tokens"
The docs state: 'Your access token expires after some time.'

When is 'some time'? Do we talk about hours, days, weeks, months?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f62a40a-2a72-ad5c-9e75-93711ace3b35
* Version Independent ID: b279c9b6-7ff9-5893-a2f8-dada6d77e0ba
* Content: [Tutorial: Authenticate users E2E

[2019-12-29 00:17] mananshah19 commented on #45287
Thank you.

[2019-12-29 03:32] Karishma-Tiwari-MSFT commented on #45303
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-29 03:34] Karishma-Tiwari-MSFT commented on #45304
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-29 03:36] Karishma-Tiwari-MSFT commented on #45306
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-29 04:14] KrishnaG-MSFT commented on #45307
@GiantCrocodile Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-12-29 04:39] mike-urnun-msft commented on #41529
@CentricStraaten Sorry for the late reply. When you ran your container, do you recall getting a failure message "_The binding type(s) 'queueTrigger' are not registered. Please ensure the type is correct and the binding extension is installed._" from Functions host?

[2019-12-29 05:59] afelthe commented on #42270
I have the same issue when trying to analyze  PDF from blob storage.  Unsupported media type error 415.

[2019-12-29 06:54] mike-urnun-msft commented on #41483
@danielsollondon Sorry for the late reply. I've gone over the steps in this documentation and reviewed the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python) that this one builds off of as well, and haven't found any implicit requirement regarding the use of VS Code. While you can certainly use the VS Code, which is one of the many toolin

[2019-12-29 06:54] #41483 closed

[2019-12-29 07:10] mike-urnun-msft commented on #41529
@CentricStraaten After further review, it appears that the Extensions Bundles aren't made available in the `python:2.0-arm32v7` image while the same configuration is working fine in other images. I'll reach out to the Functions team internally to further clarify and investigate this issue more. If you'd like to track progress, please consider opening a new issue on the [azure-functions-core-tools]

[2019-12-29 07:10] #41529 closed

[2019-12-29 08:01] itsabhinav2010 commented on #45298
Hi Krishna,
My mistake in reading. You can ignore it.

Thanks & Regards,
Abhinav Vaishnav
+91 9999844981

On Sat, Dec 28, 2019 at 4:16 PM KrishnaG-MSFT <notifications@github.com>
wrote:

[2019-12-29 08:05] pinkpuffles commented on #23045
I changed my subscription to pay-as-you-go and I still face the same issue even though I disabled enable scaling option.

[2019-12-29 08:30] MaRX8nka opened #45312 "windows: creating local app fails on npm start"
I am a noob with these node, npm, gulp etc. and as wanting to learn more about Azure and app development I was following this article.
With my Win10 pc, at the "Create local Node.js app/Run the application" phase the npm start fails, errors from gulp:
C:\Users\Esa\Documents\Openstack\Azure cloud\Meanjs\meanjs&gt; npm start

&gt; meanjs@0.5.0 start C:\Users\Esa\Documents\Openstack\Azure cloud\Meanj

[2019-12-29 08:43] KrishnaG-MSFT commented on #45298
@itsabhinav2010 No problem. :) Thanks for the response. 👍

[2019-12-29 08:43] #45298 closed

[2019-12-29 09:25] jhgbrt opened #45313 "how to replace a Table entity"
This page mentions that the Table output binding does not support replacing an entity. It would be helpful explain how this is supposed to be done then (or to link to relevant documentation)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-

[2019-12-29 09:28] jhgbrt opened #45314 "Table output example for a collection"
The [return: Table("tablename")] binding also supports returning a collection:

        [FunctionName("MyFunction")]
        [return: Table("MyTable")]
        public async Task&lt;MyTableEntity[]&gt; SyncAll(
            [TimerTrigger("*/10 * * * * *")]TimerInfo timer
            )
        {
              MyTableEntity[] items = await ... ; // get items
              return items;
        }

---

[2019-12-29 10:09] arunko34 commented on #17557
Thanks and solution helped. It will also helpful if some one can point out FAQ on Logic App topic as new to this subject.
Got this solution after extensive search. Another issue facing was related with trigger not responding to a task of sending an automatic reply. Couldn't establish the reason for the same.

[2019-12-29 11:15] assaf-grth opened #45315 "GA due date"
Hi, is there a timeline for moving to GA from current public preview?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe4e970-ea32-f614-7ba3-979be5a3d026
* Version Independent ID: abaac1b9-f403-60dd-57e0-3038173e49d3
* Content: [Introduction to Azure Spring Cloud](https://docs.microsoft.com/en-us/azure/spring-cl

[2019-12-29 12:41] lukepuplett commented on #44839
Hey Tom, hope you had a good Christmas. Thanks for this. Some thoughts;

1. The text says "it's important to note" and yet isn't inside a purple Note box.
1. Your above rationale for the design, i.e. reliable deployment is helpful to understand the ARM team's vision for how to use the product.

As a side, I'm still uneasy about the design ethos. Something in my subconscious is telling me its illog

[2019-12-29 13:44] ancibira commented on #43139
I'm still receiving this 404 error even after following the fix listed above. I'm using my MSDN account for both Azure and Power BI. Is there any further update or more information you need from me?

[2019-12-29 13:49] bensack commented on #36933
Hi @yevhen-miro, to clarify, Blob APIs and Data Lake Storage Gen2 APIs can operate on the same data. I recommend reviewing this article for list of limitations for that specific feature: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#issues-and-limitations-with-using-blob-apis

This tutorial and associated connector (Azure Data Lake Storage Gen2) are for the fi

[2019-12-29 14:40] anis020 commented on #45262
Thanks @FrankHu-MSFT . There are tons of MS document on the same topic and which leaves reader in confusion.
As you have mentioned previously, that roles and scopes are sort of interchangeable - my findings are also suggesting the same. Please refer here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#scopes-and-permissions

I will try to dig further to

[2019-12-29 15:35] Milan991 opened #45317 "User with custom role is unable to see dashboard data"
User have custom role with View and Update permissions for Application dashboard.
When this user login to Azure IoT Centar there is no data on dashboards and following error is displayed:

Error
Something went wrong
Error Code: 500.011.999.999 / bjxpn5ln.8

Can someone give me a hint what can be wrong?

Milan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-12-29 15:39] anis020 opened #45318 "Authentication and Authorization : App deployed in Multiple Region"
When a backend application is registered in Azure AD it has a specific client id and two applications can not refer to same registered application in AAD. Now, if the backend application needs to be deployed in multiple region, how the authentication and authorization can be handled with respect to both user and native applications (client credential flow). Do client/consumers needs to be provided

[2019-12-29 16:07] javirivas80 commented on #45282
Hello maybe this links can help you. https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-primary-refresh-token#prt-issuance-during-first-sign-in

[2019-12-29 16:18] jonwbstr opened #45319 "Typo"
For instance, if your domain is named aadds.contoso.com, the certificate's subject name must be *aadds.contoso.com

Should be, "*.aadds.contoso.com" the period is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c522b7abf0
* Version Independent ID: cbd84d9f-fbfd-d97d-9826-26947f64d18a
*

[2019-12-29 16:43] anis020 opened #45320 "OpenId Connect for Daemon Applications"
If you want to add identity management to your mobile or desktop applications using Azure AD B2C, you should use OAuth 2.0 rather than OpenID Connect. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID: 0ff6b6b2-2802-9534-8963-796b9c4a2a76
* Content: [Web s

[2019-12-29 16:52] SnehaAgrawal-MSFT commented on #45312
@MaRX8nka Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 16:54] SnehaAgrawal-MSFT commented on #45313
@jhgbrt Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 16:59] SnehaAgrawal-MSFT commented on #45314
@jhgbrt Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 17:01] SnehaAgrawal-MSFT commented on #45315
@assaf-grth Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 17:05] SnehaAgrawal-MSFT commented on #45317
@Milan991 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 17:06] SnehaAgrawal-MSFT commented on #45318
@anis020 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 17:07] SnehaAgrawal-MSFT commented on #45319
@jonwbstr Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 17:08] SnehaAgrawal-MSFT commented on #45320
@anis020 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 17:44] asears opened #45321 "Azure Scheduler - Update documentation important notes and next steps"
As Azure Scheduler is retiring on Dec 31, 2019, additional options for scheduling other than Logic Apps could be presented, with a capabilities matrix.

This page / documentation for scheduler could be updated with the go-forward paths to scheduling apps.

In addition to Logic Apps, other alternatives to Azure Scheduler could be listed:

1. Azure Automation Jobs
2. ADF Triggers
3. Scheduled Functi

[2019-12-29 17:44] Waterfox83 opened #45322 "Incorrect redirect URI"
In "Step 1: Register your application" the redirect URIs mentioned are
http://localhost:8080/msal4jsamples/secure/aad and
http://localhost:8080/msal4jsamples/graph/me.

Whereas the URIs in the java application have 'msal4jsample' instead of 'msal4jsamples'. There are a bunch of errors due to this mismatch. Please update the URIs.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-12-29 17:46] asears opened #45323 "Links mix AzureRM and Az commands"
This page could be improved by removing legacy AzureRM commands, adding examples for creating, managing, monitoring and removing schedules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a48fd0e-fe6f-3732-ad36-4ac9ef8a1685
* Version Independent ID: e2700f9f-3178-4dc0-d565-ddd4bad2766c
* Content: [PowerShell cmdlets ref

[2019-12-29 17:50] jdanyow opened #45324 "bugs in cosmosdb rest api docs for replacing a collection"
Few minor issues I noticed while working with the REST API.

API Doc:
https://docs.microsoft.com/en-us/rest/api/cosmos-db/replace-a-collection

Issues:

1. Wrong description for `indexingPolicy`
    ![image](https://user-images.githubusercontent.com/1306747/71560512-a5121580-2a1f-11ea-84fa-7817a32cf62a.png)
2. In addition to `id` and `indexingPolicy`, the request body must have the `partitionKey`

[2019-12-29 19:01] Karishma-Tiwari-MSFT commented on #45321
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-29 19:03] Karishma-Tiwari-MSFT commented on #45322
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 19:05] Karishma-Tiwari-MSFT commented on #45323
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-29 19:08] Karishma-Tiwari-MSFT commented on #45324
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-29 19:31] jordanfinners commented on #45105
Yes as it doesn't mention `And then add the page contracts to ALL the contentDefinitions in your files where a dataUri is mentioned.`
Clearly like the stackoverflow post does

[2019-12-29 20:01] manish-shukla01 opened #45327 "scope for getting access token to make azure resource manager calls"
i tried this and i can get token from graph.  But when i put scope as https://management.core.windows.net//.default i get this message "You can't sign in here with a personal account. Use your work or school account instead." not sure what the issue is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-

[2019-12-29 22:00] YutongTie-MSFT commented on #45152
@diberry Hi Dina, this is a document feedback for asking information of "Migrate to existing Azure Resource". Could you please check and update the document if needed? Thanks.

[2019-12-29 22:07] kalyanavvaru opened #45331 "Availability zone - incorrect explanation"
In the availability zone overview section above, "Similar to availability sets, you’ll want to deploy your VMs in two separate availability zones: one availability zone for the “web” tier and one availability zone for the “database” tier." is incorrect.

Availability zones are not similar to availability sets. In availability sets, you choose the number of availability sets based on the number of

[2019-12-29 22:19] kalyanavvaru commented on #45331
https://youtu.be/PP02QxplC2E?t=348

[2019-12-29 22:47] mike-urnun-msft commented on #43593
@brandonh-msft Sorry for the late reply. I've attempted to validate this issue on [v1.0.20](https://www.npmjs.com/package/azure-functions-core-tools/v/1.0.20) and didn't run into any issues as the `func host start` command worked as expected.

Since we haven't found any faulty step that warrants a change in this documentation, we will now proceed to close this thread. If there are further question

[2019-12-29 22:47] #43593 closed

[2019-12-29 23:34] evmoreno opened #45335 "Suggestion Add Note Section to "https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-connect-powershell-interface#remotely-connect-from-a-windows-client" winrm quickconfig fails if any Public Network Profiles on host - change Public to Private or Domain using PowerShell"
https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-connect-powershell-interface#remotely-connect-from-a-windows-client

winrm quickconfig
WinRM service is already running on this machine.
WSManFault
    Message
        ProviderFault
            WSManFault
                Message = WinRM firewall exception will not work since one of the network connection types on this machine is s

[2019-12-30 00:42] bdcoder2 opened #45336 "Unable to create a Pay-As-You-Go Dev/Test subscription ..."
My existing Azure account shows the following:

Under: Cost Management + Billing - Billing scopes
- Billing account type:
  - Microsoft Online Services Program

I have a single subscription:
- Subscription name:
  - Pay-As-You-Go

I was (hoping) to add a Pay-As-You-Go Dev/Test subscription:

- Click on "Add" (subscription)
- Click on "Pay-As-You-Go Dev/Test"
- Result (system displays the following

[2019-12-30 00:56] Karishma-Tiwari-MSFT commented on #45327
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-30 00:59] Karishma-Tiwari-MSFT commented on #45335
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-30 01:00] Karishma-Tiwari-MSFT commented on #45336
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-30 01:08] Karishma-Tiwari-MSFT commented on #45331
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-30 01:17] tis-github opened #45337 "Error: Value cannot be null. Parameter name: source"
Hello. Great information! I am getting an error, however, running the last command in step 8. I get the following error:

Set-AzVirtualNetworkGateway : Value cannot be null.
Parameter name: source
At line:1 char:1
+ Set-AzVirtualNetworkGateway -VirtualNetworkGateway $gw -AadTenantUri  ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : CloseError:

[2019-12-30 03:00] MartinJaffer-MSFT commented on #45143
@gabrielnespoli  thank you for bringing this issue to our attention.  I have reproduced your findings and will update the document.

[2019-12-30 03:19] KalyanChanumolu-MSFT commented on #45270
@VitalyMCT Thank you for reporting this issue.
I have verified the same.
This issue is being assigned to the content author to update the documentation as appropriate.

[2019-12-30 03:23] DixitArora-MSFT commented on #45171
@dcbrown16 So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-30 03:23] #45171 closed

[2019-12-30 03:26] DixitArora-MSFT commented on #45144
@Andy9874 I have assigned this to author for further review and update as appropriate.

@mikebudzynski Any inputs in this.

[2019-12-30 03:57] msrini-MSFT commented on #45337
@tis-github ,
Before running Set-AzVirtualNetworkGateway -VirtualNetworkGateway $gw -AadTenantUri 'https://login.microsoftonline.com/3f52b087-c505-43e7-ac0e-f4c5e2f7a3c4' -AadAudienceId '41b23e61-6c1e-4545-b367-cd054e0ed4b4' -AadIssuerUri 'https://sts.windows.net/3f52b087-c505-43e7-ac0e-f4c5e2f7a3c4/' You need some configuration in the P2S setting( $gw.VpnClientConfiguration can not be NULL). Othe

[2019-12-30 04:02] ManojReddy-MSFT commented on #45322
@Waterfox83 Thanks for bringing this to our attention. I have submitted a PR with the changes and it will take a couple of hours to merge.

[2019-12-30 04:10] oscholz opened #45338 "First sentence has a typo"
The speech service are...
Either it is "The speech service is..." or "The speech services are..."
The sentence could be clearer...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e54515b-dff7-4345-7e85-146692a33701
* Version Independent ID: 12f4adf9-3ebe-5d1e-a6aa-bc254bea8eb3
* Content: [What is the Speech service? -

[2019-12-30 04:11] SnehaAgrawal-MSFT commented on #45122
@jonathansd1 Thanks for the clarification. Request you to send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2019-12-30 04:30] #45322 closed

[2019-12-30 04:31] techiescorner commented on #45173
Hi @SumanthMarigowda-MSFT

Could you provide an update on this request?

[2019-12-30 04:32] ManojReddy-MSFT commented on #44932
@keithdv We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-30 04:32] #44932 closed

[2019-12-30 04:32] ManojReddy-MSFT commented on #45249
@buhibu9 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-30 04:32] #45249 closed

[2019-12-30 04:34] RohitMungi-MSFT commented on #45338
@oscholz Thanks for spotting this. A PR [99827](https://github.com/MicrosoftDocs/azure-docs-pr/pull/99827) is raised for the issue.

[2019-12-30 04:44] jamoham opened #45339 "Unable to create AKS with Windows Preview feature"
**Issue:**
Unable to create AKS with Windows Preview feature

**Document followed:**
https://docs.microsoft.com/en-us/azure/aks/windows-container-cli

I was able to install the aks-preview CLI extension and register the Windows preview feature.

**Command:**
[code]

**Logs:**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-12-30 05:00] shashishailaj commented on #45339
@jamoham Thank you for your query . We will investigate and update this thread .

[2019-12-30 05:16] KalyanChanumolu-MSFT commented on #45324
@jdanyow Thank you for the feedback.
This issue is related to REST API documentation.
The correct place to create the issue is [here](https://github.com/Azure/azure-docs-rest-apis/issues)

@SnehaGunda @markjbrown FYI

[2019-12-30 05:33] ChiragMishra-MSFT commented on #45209
@vikaskanchan Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a bet

[2019-12-30 05:33] #45209 closed

[2019-12-30 05:36] msrini-MSFT commented on #45302
@annerajb , Once you run this script, can you check if the $fwp variable has any value in it?

When your script fails, can you print $fwp variable and share the results?

[2019-12-30 05:57] ankitag2013 commented on #45174
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-nsg-manage-log

[2019-12-30 06:00] AjayKumar-MSFT commented on #44897
@vkurpad, Requesting your comments on this.

[2019-12-30 06:05] AjKundnani commented on #45188
Hello, I can validate with other regions but based on customer requirement we need deployment in specific region.

[2019-12-30 06:06] AjKundnani opened #45340 "Validate - Agent-based migration-URL access requirements"
Hello

Mobility service agents installed/deployed on virtual machines/servers don't require direct internet connectivity. As long as replication appliance have access to internet with required URLs and mobility service agent is able to communicate with replication appliance on 443/9443, we should be able to replicate VMs successfully.

Thanks
Ajay

---
#### Document Details

⚠ *Do not edit this se

[2019-12-30 06:14] Vincent0818 opened #45341 "Got confused about below statement"
What do you mean by below variables, the two IP address are representing the IP of GW. but where comes the FQDN of GW

&lt;Servers&gt;azuregateway-1234-56-78dc.cloudapp.net&lt;/Servers&gt;
&lt;Address&gt;192.168.3.5&lt;/Address&gt;
&lt;Address&gt;192.168.3.4&lt;/Address&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-12-30 06:16] annerajb commented on #45302
It's null but the policy gets created on the portal with no rules

On Mon, Dec 30, 2019, 12:36 AM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-12-30 06:28] Karishma-Tiwari-MSFT commented on #45217
@travis-sobeck Is there any update? Please help confirm on the information needed.

[2019-12-30 06:34] yuriwoof opened #45342 "Example doesn't work"
Unable to deploy AKS cluster with ```--attach-acr```.

Error log is below.

[code]

The version of cli and aks-update are followings.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Con

[2019-12-30 06:36] yuriwoof commented on #45342
I also check the debug log, but it didn't help to understand the problem.

[code]

[2019-12-30 06:50] yuriwoof commented on #45342
I resolved this by removing aks-preview.

[code]

[2019-12-30 06:52] AjayKumar-MSFT commented on #45165
Dillon, we have a raised a PR for author's (@genlin) review and help merge the appropriate changes. We will close this out for now, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2019-12-30 06:52] #45165 closed

[2019-12-30 07:21] SumanthMarigowda-MSFT commented on #45173
@techiescorner Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding thi

[2019-12-30 07:21] #45173 closed

[2019-12-30 07:23] SumanthMarigowda-MSFT commented on #45187
@Pluc15 Firstly, apologies for the delay in responding here.Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-30 07:26] Karishma-Tiwari-MSFT commented on #45222
@ChristianMontoya Can you please help confirm on whether Windows 10 1909 is multi user? Thanks :)

[2019-12-30 07:27] Karishma-Tiwari-MSFT commented on #45227
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-30 07:27] #45227 closed

[2019-12-30 07:35] msrini-MSFT commented on #45302
@annerajb , There is an issue with the Get-AzFirewallPolicy command. New commands works and the object is not returned as Get command says values cannot be null.

I will work internally and post here once I get an update.

[2019-12-30 07:38] SnehaAgrawal-MSFT commented on #45312
@MaRX8nka Thanks for asking question! Gulp 4.0 changes the way function are to be defined, so try updating gulpfile.js. A similar [SO](https://stackoverflow.com/questions/51098749/everytime-i-run-gulp-anything-i-get-a-assertion-error-task-function-must-be) thread here might be helpful.