[2021-09-28 10:22] NicolasPSQ commented on #81359
@HarshitaSingh-MSFT Ok, so definitely, if i set to NO in AZURE AD i will block whatever group creation.

[2021-09-28 10:31] MayankBargali-MSFT commented on #81627
@ErikMogensen The highlighed value (1024 in KB) is the custom vaule that you set while creating a new queue and this will be the max size your queue will support.
The min and max value that you can specify is between 1 MB to 100 MB as per in the screenshoot.

![image](https://user-images.githubusercontent.com/67255909/135070500-cd185f18-1dcc-43ea-ae0e-93ef71aca6e1.png)

Hope the above clears thing

[2021-09-28 10:33] HarshitaSingh-MSFT commented on #81359
As the documentation says, when you set toggle to NO,

[2021-09-28 10:37] b-col opened #81640 "Pre-work for seamless SSO missing step"
An additional command must be ran between steps 7 and 8 of section "[Pre-work for seamless SSO](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout#pre-work-for-seamless-sso)".

The command is:
Enable-AzureADSSO -Enable $true

This command can also be found in the [seamless SSO troubleshooting guide](https://docs.microsoft.com/en-us/azure/active-directory/h

[2021-09-28 10:40] AnuragSharma-MSFT commented on #81634
@wenzho215 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-28 10:41] NicolasPSQ commented on #81359
@HarshitaSingh-MSFT Ok! very thanks!! i've already read the docs, but i didn't understand difference.. So, now i understand that the powershell useless compared to the console AZURE AD.

[2021-09-28 10:43] amanmcse commented on #81570
When the guest leaves the organization and the account is disabled (accountEnabled=false) but mailbox is still in place, the user will not be able to authenticate either via password or OTP.
If the account is active and the user didn't [leave the organization](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/leave-the-organization), and he has a valid OTP, he will be abl

[2021-09-28 11:12] yahorsi opened #81641 "RTO/RPO"
Clearly describe RTO/RPO for the cases:
Periodic software and hardware maintenance updates
Localized, per instance events, including:
- Storage connectivity failures
- Network connectivity failures
- Full database failures

- Availability or fault domain failures (depending on High Availability type)
- Complete storage failures

The same applies to the Single Server documentation.
---
#### Documen

[2021-09-28 11:15] amanmcse commented on #81566
@Ponant I have updated the document to include this information. It will be published after review by the author.

[2021-09-28 11:19] amanmcse commented on #81585
@TammyMGI This is assigned to the author to review if this information can be included in the document.

[2021-09-28 11:22] AnuragSharma-MSFT commented on #81641
@yahorsi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-28 11:27] andreasmarx opened #81642 "Description of initial sync not correct?"
Hi.
The doc says "During the first initial full sync, Azure AD provisioning service does not pull inactive/terminated worker data."
And the "OData $filter query parameter" includes "(personEmpTerminationInfoNav/activeEmploymentsCount ge 1)".
But wehen I test it, it does create a user, that has an activeEmploymentsCount = 0.
What does "first initial sync" mean? Is this only the very fist sync I do

[2021-09-28 11:33] amanmcse commented on #81511
@hegao15 Azure AD B2C natively supports PKCE. If you use MSAL, you don't need to store code_challenge or code_verifier separately in a DB or Redis cache.

[2021-09-28 11:33] #81511 closed

[2021-09-28 11:33] MonikaReddy-MSFT commented on #81626
@hctrr - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-28 11:34] MonikaReddy-MSFT commented on #81636
@JebasinghLuccas - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-28 11:46] SumanthMarigowda commented on #81638
@gvanteylingen Thanks for the question! We are investigating and will update you shortly.

[2021-09-28 11:55] wjdavis5 commented on #80912
Hi @AnuragSingh-MSFT. Just wanted to check to see if you had any questions about my reply.

[2021-09-28 11:59] SumanthMarigowda commented on #81568
@rpilot For understanding the issue better can you please elaborate bit more on your query?

[2021-09-28 12:12] JebasinghLuccas commented on #81636
https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/diagnostic-queries-mongodb?tabs=azure-diagnostics
The above is the URL of the document.

[2021-09-28 12:31] R1k91 commented on #74826
@baatch did you create the project folder under the "Repos" folder? Maybe you created it under your user's folder?

![image](https://user-images.githubusercontent.com/57228476/135086960-296568c1-a449-489c-80aa-6d4ae90e85e9.png)

[2021-09-28 12:31] ErikMogensen commented on #81627
@MayankBargali-MSFT, actually it does not clear up things for me.

I am referring to the section in the article which describes how to turn on large message support (preview). 1024 KB is the current Max message size. Large message support is for messages up to 102400 KB. It would be really strange if you should set the Max message size to the standard value (1024) if you want to use the large mess

[2021-09-28 12:52] brainpad-koizumi commented on #64209
When your deployment is "brown" (i.e. you're trying to reuse an existing AG to work as an IC) and the existing AG has a MSI (an user managed identity) assigned, you also need to give the linked service account a permission to modify the MSI, for example by assigning the built-in role `Managed Identity Operator` or anything including a custom role that hold the permission
 `Microsoft.ManagedIdentit

[2021-09-28 13:02] AlexCesarini opened #81644 "Enable password hash sync through AAD Connect configuration wizard step, at the end, is missing."
The article is great, but there is one important last step that is not mentioned to make it work as expected:
enable password hash sync through AAD Connect configuration wizard as described here

https://techcommunity.microsoft.com/t5/core-infrastructure-and-security/configure-selective-password-synchronization-with-aadconnect/ba-p/1459434

---
#### Document Details

⚠ *Do not edit this section. I

[2021-09-28 13:25] brainpad-koizumi commented on #62764
Please add a note regarding this (https://github.com/MicrosoftDocs/azure-docs/issues/64209#issuecomment-929180373 ) too.

[2021-09-28 13:27] Asolo359 opened #81645 "Routing Internet traffic"
Hi, I couldn't find instructions on this page on how to use the route table to route internet traffic. I understand that 0.0.0.0/0 has to be either rerouted or sent to none as the next hop type but any situation I tried didn't work. I have two VMs in two different VNets and I want to route all traffic from one VM to the other VNet .

Any tips on how to route the internet completely from one VNet t

[2021-09-28 13:28] bodanesc opened #81646 "Powerapp trigger type"
I think that the example provided for "Create a flow by using Power Automate" is wrong, because the flow should be created on an "Automated" flow not an "Instant" one. Could you please double check & correct?

Thank you very much!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2319bae2-e023-07fd-28e1-b0b10bf33a22
* Vers

[2021-09-28 13:29] BhargaviAnnadevara-MSFT commented on #81630
@Abhishekchauhan23 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-28 13:31] iBobb opened #81647 "CSS secret mounted in plain text"
Following the basic instructions I can set and get a secret in plain text but as I understood the point was that it is encrypted at rest. When working locally I can find the mounted file with the secret in plain text using this code, is that normal? What am I missing? `Path.Combine(Environment.GetEnvironmentVariable("SecretPath"), "TopSecret")`

---
#### Document Details

⚠ *Do not edit this secti

[2021-09-28 13:32] RyanHill-MSFT commented on #81385
You would be correct @cherchyk. If you find yourself encountering errors, the recommended course of action is to use a docker container for your app.

[2021-09-28 13:32] #81385 closed

[2021-09-28 13:33] nimrof opened #81648 "the tutorial code for Azure Web PubSub does not compile"
The c# code does not compile out the the box :(

negotiate.cs needs more reference
Microsoft.Azure.WebJobs.Extensions.WebPubSub

notification.cs needs more reference
Azure.Messaging.WebPubSub
System.Threading.Tasks
Microsoft.Azure.WebJobs.Extensions.WebPubSub

Then it compiles,
it may be a better way to fix it so feel free to change to code as long as it works

last on step 7.
Its **not** https
sh

[2021-09-28 14:07] camalloy-amr opened #81649 "Clarify what permissions are needed for ADF - Can't be Contributor role"
I have feedback about this statement on what roles are needed for Azure Data Factory:

"To create and manage child resources with PowerShell or the SDK, the contributor role at the resource level or above is sufficient."

I think this should list what explicit permissions are needed so we have a better understanding of what is needed. Adding Contributor role would be a security risk since it gives

[2021-09-28 14:20] VikasPullagura-MSFT commented on #81238
@dmendres Apologies for delayed response.

This document is old and referring to the old version of the product (ARO 3).

Can you please share your end goal so that I can check with product team to make sure that the solution meets your requirement and expectations.

[2021-09-28 14:23] Mike-Crowley opened #81650 "Rename Article"
It is disingenuous to title this article "**Move** an Azure Storage account to another region" as that is impossible. What this article describes is the creation of a similar storage account in another region, and then manually copying content to it, and then deleting the old storage account. I suggest renaming the article to something like "re-deploying a storage account in another region", or at

[2021-09-28 14:25] ZaidAlKhayyat-MSFT opened #81651 "Unclear Description for Permission"
Hi Team,

I'm an internal Microsoft employee and this question was asked by one of our customers. I would appreciate your help.

Under Microsoft.Support resource provider, we see "Microsoft.Support/services/read", "Microsoft.Support/services/problemClassifications/read" and "Microsoft.Support/supportTickets/read" with description starting with "Lists one or all". Our customer is confused about thi

[2021-09-28 14:44] omondiatieno commented on #80895
Reassigning to the PM responsible for this to help with translating the current cmdlet in the article to the  proposed one with the correct syntax.

#reassign: @psignoret

[2021-09-28 14:46] tfitzmac commented on #81015
@leoweiyu - I tested registering this feature and noticed the same problem of it taking a long time. In my case, it took about 10 minutes. I have changed the wording to indicate that it will not complete quickly. The update will be published today.
#please-close

[2021-09-28 14:46] #81015 closed

[2021-09-28 14:46] JamesTran-MSFT commented on #81628
@weyCC81
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-28 14:48] JamesTran-MSFT commented on #81640
@b-col
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-28 14:48] VerdonTrigance opened #81652 "Configuring ssh on App Service linux containers"
I did everything that was in this guide, but faces with:
Could not load host key: /etc/ssh/ssh_host_rsa_key
Could not load host key: /etc/ssh/ssh_host_ecdsa_key
Could not load host key: /etc/ssh/ssh_host_ed25519_key

My sshd_config:
Port 2222
ListenAddress 0.0.0.0
LoginGraceTime 180
X11Forwarding yes
Ciphers aes128-cbc,3des-cbc,aes256-cbc,aes128-ctr,aes192-ctr,aes256-ctr
MACs hmac-sha1,hmac-sha1-9

[2021-09-28 14:50] tfitzmac commented on #77883
This reference content has been updated and now shows the correct type.
#please-close

[2021-09-28 14:50] #77883 closed

[2021-09-28 14:56] b-juche commented on #81638
Thanks @gvanteylingen -- Being fixed in PR#173797
https://github.com/MicrosoftDocs/azure-docs-pr/pull/173797

Posting 9/28/21

[2021-09-28 14:58] SaiKishor-MSFT commented on #81645
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-28 15:05] cotepatrice opened #81654 "Missing informations about custom policies starter pack."
In the "Custom policies" section, I guess we start from one of the custom policies defined in the starter pack? Possibly the SocialAndLocalAccount? There should be a section precising this with a link to the starter pack github page so a newbie wouldn't have to open yet another tab in Chrome to try and find what we're talking about.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-09-28 15:05] madsd commented on #80547
@afscrome Thank you for reporting this. We made an update to the article to remove the confusion.

[2021-09-28 15:06] hctrr commented on #81626
@MonikaReddy-MSFT - its the embedded link: https://azure.microsoft.com/en-us/services/key-vault/#getting-started

under "Enhance data protection and compliance"

[2021-09-28 15:10] Mike-Crowley opened #81655 "screenshot needs to be updated"
The screenshot needs to be updated. The portal now calls this radial bubble "Allow storage account key access
", not "Allow shared key access", as shown in the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69f22974-ee84-5d29-d12f-af2a68ca72bc
* Version Independent ID: 6ed5e442-6ab8-b87b-0a13-c0479c2ba152
*

[2021-09-28 15:12] b-juche commented on #81638
#please-close

[2021-09-28 15:12] #81638 closed

[2021-09-28 15:14] JackStromberg commented on #75753
#please-close

[2021-09-28 15:14] #75753 closed

[2021-09-28 15:32] kmadof opened #81656 "Key Vault access policy doesn't work for setting Key Vault references in App Configuration"
I have set `get` and `list` permission for System Assigned Identity and for users. Regardless that, I have an error:

![image](https://user-images.githubusercontent.com/1680172/135118400-1ffe7d2d-a620-42c4-804e-a1f543f786f0.png)

I tested also with RBAC and then it works when I use `Key Vault Secrets User` role, but I would like to stay with `Key Vault access policy` as this is approach we current

[2021-09-28 15:41] #79304 closed

[2021-09-28 15:50] SwathiDhanwada-MSFT commented on #81646
@bodanesc Thanks for your feedback.

Assigning to content author @trkeya   for review.

[2021-09-28 15:53] karlochacon opened #81657 "VPN NAT GW - https://docs.microsoft.com/en-us/azure/vpn-gateway/nat-overview"
hi guys

Can I use this for Disaster Recovery using Azure ASR? so I can keep the same IPs

Thanks

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback is

[2021-09-28 16:02] #80547 closed

[2021-09-28 16:10] kmadof commented on #81656
My mistake. I had poper configuration but I didn't connet to VPN.

[2021-09-28 16:10] #81656 closed

[2021-09-28 16:17] jahnavivalluri commented on #80364
Hi Team,

Can you please share a Work item link if you have any to track this document update?

Thanks,
Jahnavi Valluri

From: Ryan Hill ***@***.***>
Sent: Monday, September 6, 2021 11:10 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jahnavi Valluri ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Add steps for 'how to clone an existing app from the portal' (#80364)

Ap

[2021-09-28 16:20] amenarde commented on #81647
Hi @iBobb , when stored in CSS, secrets are encrypted at rest and access is protected by the cluster certificate/admin client certificate. When mounted into a process, the environment variable is in plain text and readable by the process itself, and by anyone else running with _System_ privileges on the OS. Env vars not viewable by unprivileged processes. Since anyone with System privileges could

[2021-09-28 16:23] SumanthMarigowda commented on #81650
@Mike-Crowley  Thanks for the question! We are investigating and will update you shortly.

[2021-09-28 16:30] 424778940z opened #81658 "Typo in test command"
[Enter feedback here]

`Invoke-WebRequest -Uri https://ssprdedicatedbprodscu.servicebus.windows.net -Verbose`

The domain in this testing command is WRONG, missing a letter, wasted my half hour.
ssprdedicated`s`bprodscu.servicebus.windows.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6c7b290-3f3e-70c9-7524-80d736

[2021-09-28 16:33] tfitzmac commented on #81117
@tifischer - thanks for this feedback. I have added some clarification about other conditions that may block a deletion. The update will get published later today.
#please-close

[2021-09-28 16:33] #81117 closed

[2021-09-28 16:35] DerekHerman-MSFT commented on #81655
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-28 16:49] bwren commented on #81465
Our primary recommendation is to send resource logs to a workspace. I added  a work item potentially add this guidance though.

#please-close

[2021-09-28 16:49] #81465 closed

[2021-09-28 16:51] Svijay-msft commented on #81411
@pnarsi - I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-28 16:55] mtzwn opened #81659 "scopes, not scope in JSON config example"
Change:

   "login": {
         "nameClaimType": "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name",
         "scope": [],
         "loginParameterNames": [],
   }

to:

   "login": {
         "nameClaimType": "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name",
         "scopes": [],
         "loginParameterNames": [],
   }

---
#### Document Details

⚠ *Do not edit this sectio

[2021-09-28 16:56] v-hhunter commented on #70333
This issue has been resolved in the doc. If you have any further questions or concerns, please let us know in a new issue. Thank you! #please-close

[2021-09-28 16:56] #70333 closed

[2021-09-28 17:01] ankurjains opened #81660 "link should point to new azure ad rbac integration"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/aks/managed-aad but it is pointing to legacy way of doing things.https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84495e76-eca6-ddc9-989f-01c844aaa29d
* Version Independent ID: de2a46f6-59c7-f4

[2021-09-28 17:05] JamesTran-MSFT commented on #81658
@424778940z
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-28 17:05] MonikaReddy-MSFT commented on #81631
@Fsetiaw4n - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-28 17:06] JamesTran-MSFT commented on #81654
@cotepatrice
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-28 17:07] GitaraniSharma-MSFT commented on #81522
@red-erik , I checked with the Bastion backend team and they mentioned that bastion do not have such an API. So, I would suggest you to try Azure custom roles & let us know if you have any issues.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-28 17:07] #81522 closed

[2021-09-28 17:07] MonikaReddy-MSFT commented on #81639
@ammy-b -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-28 17:13] GitaraniSharma-MSFT commented on #81461
@TimoWilhelm , did you refer the below doc?
https://docs.microsoft.com/en-us/azure/templates/microsoft.cdn/profiles/endpoints?tabs=json

I'm also checking with the CDN backend team o validate this scenario.

[2021-09-28 17:18] MarileeTurscak-MSFT commented on #81642
@andreasmarx
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-28 17:23] RDukes425 opened #81661 "Add Line for Azure Government Application Needed for CA"
Hello Team,
Can this page be updated to reflect the Application Name and ID for Azure Government and other Sovereign Regions in order to leverage the Conditional Access Policy to block Azure Management?

Application Name: Azure Government Cloud Management API
Current Application ID: 40a69793-8fe6-4db1-9591-dbc5c57b17d8

Thanks in Advance
---
#### Document Details

⚠ *Do not edit this section. It i

[2021-09-28 17:24] SaiKishor-MSFT commented on #81657
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-28 17:26] JamesTran-MSFT commented on #81644
@AlexCesarini
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-28 17:29] MarileeTurscak-MSFT commented on #81651
@ZaidAlKhayyat-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-28 17:31] TimoWilhelm commented on #81461
Hi @GitaraniSharma-MSFT Thanks for the response.

I did check the docs for the CDN endpoint but I did not find any examples of multi-origin endpoints.

I also tried to configure the endpoint in the Azure Portal and then export the template from there.
However the template has a lot of circular references between the endpoints, originGroups, defaultOriginGroup as well as the rules section of the CD

[2021-09-28 17:33] MarileeTurscak-MSFT commented on #81661
@RDukes425
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-28 17:54] duongau commented on #80254
@sk-bln This looks to be resolved now:

![image](https://user-images.githubusercontent.com/28365324/135139922-8f3cb870-628c-4a2d-b1ee-4dc928c425e0.png)

Please let me know if you have any other concerns. For now I will be closing this issue. Thank you. #please-close

[2021-09-28 17:54] #80254 closed

[2021-09-28 17:55] MartinJaffer-MSFT commented on #81553
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-09-28 17:56] GiftA-MSFT commented on #81554
Hi @PatrickFarley, can you please update the script and add the '@' symbol for '--data-binary'. Thanks.

[2021-09-28 18:01] wpcarroll opened #81662 "Clarify steps for VNet upgrade from standard to premium."
Clarify steps for VNet upgrade from standard to premium. You do not add any information, leave blank, the networking, advanced, tags sections when upgrading a Vnet workspace from standard to premium. Adding a note or clarification about upgrading default and VNet workspaces and steps will help make the documentation clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-09-28 18:03] Dekard opened #81663 "Port 445 IS supported, but this doc states it is not."
This page provides information on troubleshooting Linux - and states "You're trying to connect to a storage account over TCP port 445, which is not supported."

Port 445 IS supported via CIFS for Linux and MS Docs tell them to make sure port 445 is open on MS Docs here:
https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux?tabs=smb311

---
#### Document Details

⚠ *Do

[2021-09-28 18:03] Karishma-Tiwari-MSFT commented on #81660
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-28 18:12] BryanTrach-MSFT commented on #81544
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-28 18:12] #81544 closed

[2021-09-28 18:20] JamesTran-MSFT commented on #81658
@424778940z
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/135143615-91ef64e2-1913-4ca2-a6bb-c4791a0c89f2.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your t

[2021-09-28 18:20] #81658 closed

[2021-09-28 18:23] GiftA-MSFT commented on #81524
Hi @bradrlaw I just confirmed that v3 now supports Bing Spell Check. As suggested in the document, please ensure to set header for 'mkt-bing-spell-check-key'. I have also informed the product group, and the API reference should be update soon to reflect this information. Hope this helps!

[2021-09-28 18:23] #81524 closed

[2021-09-28 18:37] #81102 closed

[2021-09-28 18:43] tcsougan opened #81664 "Remove Application Gateway as available resource that supports a private endpoint"
[Enter feedback here]

Please, it would be nice to remove to remove Application Gateway from the list of resource available to support a Private Endpoint. The feature is not currently supported, and we have customers using this public documentation to make requests.
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-link-resource

---
#### Document Details

⚠ *Do

[2021-09-28 18:45] BryanTrach-MSFT commented on #81102
@sdt-msft Thank you for the heads up. We have updated the doc and the changes should be visible within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 18:53] ChaitanyaNaykodi-MSFT commented on #81664
Hello @tcsougan
Thank you for your feedback! We will review and update as appropriate.

[2021-09-28 19:08] macederh opened #81668 "Old screenshots used"
Screenshots are not accurate and needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f3e3e5-dd03-8d28-bf9f-196a772205d3
* Version Independent ID: e3642989-088c-5387-17db-4061b220d52f
* Content: [Branching and chaining activities in a pipeline using Azure portal - Azure Data Factory](https://docs.micro

[2021-09-28 19:10] otykier opened #81669 "Redirecting to page anchor?"
I would like to set up a route in the config file that redirects to a page anchor. For example:

[code]

However, when the redirection happens, the hashtag `#` is converted to `%23` so the browser is redirected to `domain.com/te3/features/scripting.html%23roslyn` which is no good. Can we somehow retain the `#` characters in the redirection URL?

---
#### Document Details

⚠ *Do not edit this secti

[2021-09-28 19:10] MarileeTurscak-MSFT commented on #81599
Make sure you follow the steps in [Create a custom role](https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-create) to assign those permissions.

If the resource providers aren't being added, go to the Azure Portal > your subscription > Resource Providers and confirm that they are there.

To create the custom role:
[code]
To assign the custom role:

[code]

Note that you need at

[2021-09-28 19:10] #81599 closed

[2021-09-28 19:12] Ajayan1008 commented on #81558
Okay, this change is live. Thanks.

[2021-09-28 19:13] Ajayan1008 commented on #81558
#please-close

[2021-09-28 19:13] #81558 closed

[2021-09-28 19:14] ms-vincent opened #81670 "Generating POP incorrect. Should use subca and not rootca"
In "Step 7 - Demonstrate proof of possession", it says that "the following steps assume that you are using the subordinate CA certificate" but then in bullet #10, it says to "Create a certificate using the root CA configuration file".

This should actually read "Create a certificate using the subordinate CA configuration file" and the command should be:
  `openssl ca -config subca.conf -in pop.csr

[2021-09-28 19:48] StefArroyo commented on #81636
@JebasinghLuccas can you please send an email to esarroyo@microsoft with your account name. I will investigate further. Closing this since not specifically a documentation issue.

[2021-09-28 19:48] StefArroyo commented on #81636
#please-close

[2021-09-28 19:48] #81636 closed

[2021-09-28 20:05] PiJoCoder commented on #79857
I will do the research to find out if DNN was shipped in SQL 2017 and will take action. If DNN was shipped we will have the main KB 5003830 be updated and [DNN configuration DOC](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-distributed-network-name-dnn-listener-configure)

[2021-09-28 20:07] PiJoCoder commented on #79857
Yes, SQL 2017 CU25 has the DNN feature as the article points out. I have submitted a PR to update the "Configure DNN listener for availability group - SQL Server on Azure VM" article as well as KB 5003830  to get updated with that article . Thank you  @stefanminehan for letting us know

[2021-09-28 20:12] cdanvergara opened #81671 "Is not working as documented"
We tried with sentiment as the output, but we are getting null.
If we used score instead of sentiment as the output, works as expected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f32645a0-29f6-94d3-46d7-96f2c3264e60
* Version Independent ID: b2b285f4-3e18-72d4-c6c3-303348c0b473
* Content: [Sentiment cognitive skill

[2021-09-28 20:17] MonikaReddy-MSFT commented on #81659
@mtzwn - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 20:17] #81659 closed

[2021-09-28 20:20] ssivas commented on #81573
Hello @vTa47,

Thanks for reaching out.

Yes you can create DNS name like aadds.contoso.com and there is no hard limit with managed domain DNS name except [these restrictions and recommendation ][1] so when you create Azure Active Directory Domain services which deployed very first replicate set (which contains two Domain Controllers) in given VNet with IP address of x.x.x.4 and x.x.x.5 and you ne

[2021-09-28 20:20] #81573 closed

[2021-09-28 20:23] ssivas commented on #81403
@lXbalanque , In case if you don't have Microsoft support plan then please let me know I can help with one time free support. Thanks.

[2021-09-28 20:25] gantonius commented on #81501
Hi @ram-msft, I am currently following the sample that you shared.

I ran this part:
[code]

And got the following warning:

The following are the versions of the AML libraries I used:

- azureml-sdk==1.34.0
- azureml-train-automl==1.34.0
- azureml-contrib-automl-pipeline-steps==1.34.1

Can follow up perhaps with the Azure ML team regarding ManyModelsParameters since the method in the sample you s

[2021-09-28 20:38] stoomey-coalnetwork commented on #81553
Thanks
________________________________
From: MartinJaffer-MSFT ***@***.***>
Sent: Wednesday, September 29, 2021 3:55:56 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Steve Toomey ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Page feedback (#81553)

Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

—
You ar

[2021-09-28 21:07] julieMSFT commented on #80383
@jasonhorner Thank you for bringing this to our attention. I have removed the duplicate best practices article and moved the dedicated and serverless best practices articles to the concepts area of the toc. The changes have been published. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We

[2021-09-28 21:08] julieMSFT commented on #80383
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/173430

[2021-09-28 21:08] julieMSFT commented on #80383
#please-close

[2021-09-28 21:08] #80383 closed

[2021-09-28 21:09] vishiy opened #81673 "Please update this doc for HELM 3.7.0"
with latest HELM ( >= 3.7.0), the OCI chart commands are removed. please update this doc to reflect the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e08339-390f-ccfa-885c-2643722bd186
* Content: [Store Helm charts - Azure Container Registry](https

[2021-09-28 21:19] ms-vincent opened #81674 "Missing parts + updates required"
Two things:

1) For the sake of clarity, the documentation should specify that the values in {...} should be filled out with the reader's specific parameters. For example, {your-device-id} should contain the specific deviceID that was used to create the device certificate in the previous documented steps. Also, they will need to specify the certificate path and password for the certificate.
Reader

[2021-09-28 21:27] erwinsalubre commented on #81475
@SrijitBose-MSFT  I can provide the part where I think the error occurs to also not expose sensitive information:

`DEBUG: msrest.async_paging: Paging async iterator protocol is not available for ServicePrincipalPaged
DEBUG: cli.azure.cli.core.adal_authentication: AdalAuthentication.signed_session invoked by Track 1 SDK
DEBUG: cli.azure.cli.core._profile: Retrieving token from ADAL for resource 'h

[2021-09-28 21:38] CHDAFNI-MSFT opened #81675 "Considering including Azure Stack in supported environments"
The DSC extension is included as a downloadable extension within the Azure Stack marketplace. Please consider including which Azure Stack versions are compatible with which DSC extensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d2d7d54-74a4-6a49-66f4-3cf4083c1434
* Version Independent ID: 005cf301-2333-9671-df

[2021-09-28 21:58] Nicholak-MS commented on #80630
Hi @lXbalanque,

Unfortunately the comprehensive document you are searching for does not exist due to the vast nature of all of the products and services across Microsoft. What you see in the service plan identifiers list is sourced from data that doesn't include the description of what the service plan does that you are looking for so its not something we can easily add to this document. The best

[2021-09-28 22:03] leoweiyu commented on #81015
thanks Tom for the update, yeah its kinda bad user experience because the
user expected the command return successfully within 2 mins as indicated by
the doc MS provided

Tom FitzMacken ***@***.***> 于2021年9月29日周三 上午3:47写道：

--
***@***.***
This is an email account used for receiving alerts and information from
doloveyou.com

[2021-09-28 22:05] SaurabhSharma-MSFT commented on #81530
@SQLDataSide There is no direct way to do this.  You need to get the list of sheet names first using Function, then you can traverse through the list to load the data.  Please refer to [this](https://stackoverflow.com/questions/67541195/adf-how-to-copy-an-excel-sheet-with-multiple-sheets-into-separate-csv-files) thread for reference.

[2021-09-28 22:07] Marusyk opened #81677 "404 Not found when I try to add a user to the group"
I have the following C# code (Azure.Messaging.WebPubSub 1.0.0-beta.3)

[code]
AddUserToGroupAsync

[code]

Is there documentation about how to add a user to the group? Or how can I do that?
I didn't find any sample here: https://github.com/Azure/azure-webpubsub/tree/main/samples/csharp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-09-28 22:15] skyfrk commented on #22673
Any update on this issue? We are still not able to use `G + /` etc. with the `QWERTZ` keyboard layout...

[2021-09-28 22:23] vTa47 commented on #81573
Thanks for your answers, this helped me :)
Successfully deployed AADDS yesterday with secure LDAP. Many thanks
Cheers

[2021-09-28 22:24] kgremban commented on #79141
@konichi3 Can your team help troubleshoot this?

[2021-09-28 22:29] jeffmend commented on #80022
The SDK that covers multi-slot has not been released yet, once it has the docs will reflect how to use multi-slot

[2021-09-28 22:41] DerekHerman-MSFT commented on #81663
@Dekard Thanks for the feedback! I assume they mean that 445 is not supported by the ISP or firewall. Assigning to the author to clarify and update the doc as necessary.

[2021-09-28 22:47] kgremban commented on #81610
Hello @RonMatsu, the statement that you referenced is general because there are several different ways to accomplish local pre-processing of data. You can containerize your data processing logic and then it can be deployed to any IoT Edge device as a module. Or if you want to collate data from several devices, you can place the data processing component on an IoT Edge gateway that handles the data

[2021-09-28 22:48] AaronWashington commented on #81339
Aaron Washington has sent you an email via Gmail confidential mode:

[image: Gmail logo]Re: [MicrosoftDocs/azure-docs] Azure SQL VM AAG Network Best practise (#81339) <https://confidential-mail.google.com/msg/AMptQGDoPFKUjteGC4IT88xymp2Eb9T9ktBa-hCWaIco28ptdnNnIbPQjtfEngev8UgCIf2Xy-MCFDa5zCgSguKzpmQxzQNdF7KWWuFlcXG52GUwIlV-BgXSTNHU3ZEBuEuqv3jvGAGH512qsLvwtbaee1h3423-yGi6bvojBph5Y1PTvOqdniRpsr-dbEV

[2021-09-28 22:48] OverengineeredNetwork opened #81679 "Risk score remediation delays"
We have a Conditional Access Policy that requires high-risk users to change their password via SSPR. For the rare cases where a user is flagged as high risk, it has worked well. Recently, however, we had one user complete SSPR because of this CA policy, but it kept him in a loop--the SSPR remediation did not clear his risk score. I also attempted to clear his risk score manually from the Risky use

[2021-09-28 23:18] MonikaReddy-MSFT commented on #81648
@nimrof -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 23:18] #81648 closed

[2021-09-28 23:18] MonikaReddy-MSFT commented on #81649
@camalloy-amr - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-28 23:19] MonikaReddy-MSFT commented on #81652
@VerdonTrigance - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-28 23:32] erwinsalubre commented on #81475
I got over this error by using a Service Principal that has the old AAD Graph API permission. However, we can't add these permissions to the newly created SPs so this might be something that was overlooked on the MS Graph.

[2021-09-29 00:05] KranthiPakala-MSFT commented on #81668
@macederh - Thanks for the feedback and bringing this to our attention. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

@ssabat, @jonburchel - Could you please review this feedback and update the doc as needed - Thank you

[2021-09-29 00:05] duongau commented on #48180
Hello @mslot, I apologize on how long it took for someone to get back to you. Pricing is the same regardless if caching is enabled or not. Please refer to the pricing page for Azure Front Door outbound charges: https://azure.microsoft.com/en-us/pricing/details/frontdoor/ and https://azure.microsoft.com/en-us/pricing/details/cdn/ for Azure CDN prices. Please feel free to reach back out if you need

[2021-09-29 00:05] #48180 closed

[2021-09-29 00:08] KranthiPakala-MSFT commented on #81662
@wpcarroll  -
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@mssaperla , @leifbro - Could you please review this feedback and update the doc as needed - Thank you

[2021-09-29 00:08] duongau commented on #52127
Hello @espray, Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2021-09-29 00:08] #52127 closed

[2021-09-29 00:11] duongau commented on #44981
Hello @booyaa, please see the wildcard domain article: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-wildcard-domain. Please feel free to reach out if you have any further questions. For now I will be closing this issue. Thank you. #please-close

[2021-09-29 00:11] #44981 closed

[2021-09-29 00:13] jlichwa commented on #80620
@shortpoet in that issue I pointed to place that Storage Account keys are never stored in key vault. We only create SAS definitions and store them in Key Vault. To retrieve SAS definition is explained in this section:

https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys#verify-the-shared-access-signature-definition

And both PowerShell and CLI has same section : "Verify

[2021-09-29 00:14] duongau commented on #48198
Hello @mslot, Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2021-09-29 00:14] #48198 closed

[2021-09-29 00:16] duongau commented on #48184
Hello @mslot, content caching is always done at the Front Door edge. Traffic manager only routes clients to a particular edge location. Please feel free to reach out if you have any further questions. For now I will be closing this issue. Thank you. #please-close

[2021-09-29 00:16] #48184 closed

[2021-09-29 00:19] SatishBoddu-MSFT commented on #81450
Hello @Marusyk Thanks for reaching out on this topic. We don't have any ETA as of now. Please tag us in the future for any queries on this topic.

Cc: @ash2017 fyi

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](htt

[2021-09-29 00:19] #81450 closed

[2021-09-29 00:20] duongau commented on #49663
Hello @biste, disabled Azure Front Door resources are not billed. Please see this new added section in the FAQ: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#will-i-be-billed-for-the-azure-front-door-resources-that-are-disabled-. Please let me know if you have any further questions. For now I will be closing this issue. Thank you. #please-close

[2021-09-29 00:20] #49663 closed

[2021-09-29 00:25] jlichwa commented on #81188
@MahaSPR can you provide exact command it seems like you may missed valid quotes which base on your environment. It looks like it thinks that "'sp' is not recognized as an internal or external command," it is new command.
So it is likely formatting of your command.

Thank you

[2021-09-29 00:33] jlichwa commented on #81482
@youngbmck we don't recommend to use Key Vault for multiple applications regardless for RBAC per object option which should only be used in limited scenarios when 2 applications share same database.

Key Vault defines security boundary and also deployment isolation for the application - it reduces blast radius and issue in one application does not affect other applications.

I hope it clarifies. #

[2021-09-29 00:33] #81482 closed

[2021-09-29 00:45] samsmithnz commented on #48198
does an internal work item really solve this issue? It seems counter intuitive to take a public issue and just close it- now we have nothing to track. 😢

[2021-09-29 00:52] rwike77 commented on #80997
So this is for the Admin Consent Workflow experience.  It's the interrupt that appears when the user is told they need to ask the admin for consent.  AdminConsentRequiredRequestAccess.    I'm working with engineering to update the error message.

[2021-09-29 00:58] anavinahar commented on #66849
The recommendation is to use NAT Gateway when talking to public endpoints. If SNAT can be avoided via PL that is even better

#please-close

[2021-09-29 00:58] #66849 closed

[2021-09-29 00:58] anavinahar commented on #81502
IPv6 is currently not supported for NAT Gateway.

This is documented in the limitations section in the same doc
IPv4 address family is supported. NAT doesn't interact with IPv6 address family. NAT can't be deployed on a subnet with an IPv6 prefix.

Happy to update it to make it more clear if needed.

[2021-09-29 00:59] Karishma-Tiwari-MSFT commented on #81673
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-29 00:59] anavinahar commented on #63184
#reassign:anavinahar

[2021-09-29 01:00] FormlessOne commented on #81558
Thanks!

[2021-09-29 01:02] psoukal-ms opened #81680 "Uservoice link is broken"
Hi there,

I recently asked to the UserVoice link to be updated as the link is broken as UserVoice is decommissioned.

It seems like it got re-added (as point 2) at the top of the article. Can it be corrected?

The comments section of this article.
1. Microsoft Q&A question page for Azure Storage.
2. Azure Files UserVoice.
3. Microsoft Support. To create a new support request, in the Azure portal,

[2021-09-29 01:04] anavinahar commented on #81502
#please-close

[2021-09-29 01:04] #81502 closed

[2021-09-29 01:05] SamaraSoucy-MSFT commented on #81560
I've sent a PR request to the doc author to add a second example when the delimiter is not contained in the text. It will go live once it has completed review.

[2021-09-29 01:05] #81560 closed

[2021-09-29 01:09] JasonWHowell commented on #77532
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/163195 on June 28, 2021

[2021-09-29 01:09] JasonWHowell commented on #77532
#please-close

[2021-09-29 01:09] #77532 closed

[2021-09-29 01:09] #77561 closed

[2021-09-29 01:11] JasonWHowell commented on #77497
It's linked from the site https://azure.microsoft.com/en-us/global-infrastructure/geographies/#geographies

The design is intentional I believe. #please-close

[2021-09-29 01:11] #77497 closed

[2021-09-29 01:13] xiaolangxyz opened #81681 "The Sample ( Migrate data by using AzCopy) is not good."
[Enter feedback here]
1. I think the link of  Azure Cosmos DB Table API is not correct. The link is related to Import data into Table storage.
2. The sample is not good. It will misguide reader. I think the one below is better
`https://<mycoount>.table.cosmos.azure.com/<mytable>/`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-09-29 01:17] roygara commented on #81663
This was resolved internally and the article has been updated. Closing accordingly.

#please-close

[2021-09-29 01:17] #81663 closed

[2021-09-29 01:21] xiaolangxyz opened #81682 "powershell command is not correct in Create linked services"
[Enter feedback here]
The wrong command is as below
`$response = Invoke-RestMethod -Method PUT -Uri $request -Header $authHeader -Body $body`

The correct one should be as below
`$response =  Invoke-AzRestMethod  -Path ${path}  -Method PUT -Payload $body`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dbdc219-c30f-169

[2021-09-29 01:26] JasonWHowell commented on #75653
Good catch! This link points to some old copy of source markdown pages. Sorry about that. I think the quick fix is simply to remove the link, which I can handle.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/173931
#please-close

[2021-09-29 01:49] PiJoCoder commented on #79857
Minor correction, engaging the Kb content folks, they confirmed that [KB5004766 - Improvement: Failover Cluster DNN in SQL Server 2017](https://support.microsoft.com/en-gb/topic/kb5004766-improvement-failover-cluster-dnn-in-sql-server-2017-5781240b-c9c5-4389-a33e-da0f73b12460) was the correct FCI article and the other one kb5004767 was a duplicate. So they will remove kb5004767.

[2021-09-29 02:29] mpurnyn opened #81683 "Source code referenced does not exist"
This quick-start page references a "sample-service" ios application which is not in the github release provided in the prerequisites.  Either the page is outdated or the "sample-service" got deleted by mistake in the latest release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6bc4fa-3dde-5d65-82a2-f96da962bc16
* V

[2021-09-29 02:37] SumanthMarigowda commented on #81680
@psoukal-ms Thanks for the question! We are investigating and will update you shortly.

[2021-09-29 03:10] #81411 closed

[2021-09-29 03:14] Svijay-msft commented on #81411
Hello @pnarsi

Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-09-29 03:26] Lihailian opened #81684 "Need more clarification on --untagged paramater"
HI Team,

In the document, we have below explanation on --untagged flag:
--untagged - Specifies that manifests that don't have associated tags (untagged manifests) are deleted.

However, some customers not aware of that --untaggged doesn't respect --ago filter. Could we add comment for it please?

Meanwhile, there are cases that if we have replication configured for ACR, when it is not fully repli

[2021-09-29 03:36] paul-yellowpink opened #81686 "Authenticator app unable to install even one instance of Phone Sign-in (with multiple accounts)"
In Device Registration section the following statement seems to be false (or I'm misunderstanding the context) ?

"Currently, a device can only be registered in a single tenant. This limit means that only one work or school account in the Microsoft Authenticator app can be enabled for phone sign-in."

I am unable to enable any account for phone sign in - each account (even when uninstalling the de

[2021-09-29 03:41] AshokPeddakotla-MSFT commented on #81670
@ms-vincent Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-29 03:46] AshokPeddakotla-MSFT commented on #81674
@[ms-vincent](https://github.com/ms-vincent) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-29 03:58] SumanthMarigowda commented on #81508
@yuharucan Yes, we have started supporting sync between Azure File and Azure Blobs.

We tried to reproduce it on my end, just to be extra sure, and I was able to sync the files perfectly. Can you forward me the AzCopy log file so that I can assist you better?

Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue

 since it's not directly related to the documentat

[2021-09-29 03:58] #81508 closed

[2021-09-29 04:01] AshokPeddakotla-MSFT commented on #81683
[@mpurnyn](https://github.com/mpurnyn) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-29 04:04] quekmc commented on #81106
Hi Gitarani

Thanks for the response and my apologies for the slow response.

The second document that you have attached in your response is clear and accurate in that it is the first four and last IP address of any subnet is being reserved.  However the article I'm referencing wasn't as clear.  The way that section of the document is phrased is ambiguous.

![](https://user-images.githubuserconten

[2021-09-29 04:08] SrijitBose-MSFT commented on #81684
@Lihailian , thank you for your feedback. We are internally investigating this.

[2021-09-29 04:12] Svijay-msft commented on #81682
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 04:17] SnehaAgrawal-MSFT commented on #81671
@cdanvergara Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 04:28] vijayrajah opened #81687 "API to get cluster logs"
Currently there is no REST API available to get cluster logs -- stdout, stderr, log4j-active.log, executor logs.

We can only download it via UI. (or use a custom log delivery and pick it from there).

Can you please add a API that allows us to get these logs via REST API ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-09-29 04:41] chadsiefert opened #81688 "The device requirement statements all seem to have the same flaws in them."
For example - "The purpose of test is to make sure devices that send telemetry works with IoT Hub". I'd suggest the following "The purpose of the test is to ensure devices that send telemetry work with IoT Hub". At the very least I'd suggest fixing the verb "works" which implies a singular noun ("device") but the noun in this case is plural ("devices"). There are similar issues with each of the re

[2021-09-29 04:47] SwathiDhanwada-MSFT commented on #81675
@CHDAFNI-MSFT Thanks for your feedback.

Assigning to content author  @MGoedtel for review.

[2021-09-29 04:53] SwathiDhanwada-MSFT commented on #80493
@web265p3 Thank you for the feedback. We appreciate it. We have shared your suggestion with the Azure Monitor product team.

Note: Azure is working on a new Self-Serve option for customers to share and vote on product feedback. When available, you will be able to go to https://feedback.azure.com/ and share/up-vote product feature ideas.

As there are no further documentation changes, we will close

[2021-09-29 04:56] SrijitBose-MSFT commented on #81684
@Lihailian , thank you for your feedback.

For

We are sharing this feedback with the content author(s). It should now be visible in their backlog.

For

This issue was identified as a product bug in #81172 and the current work item can be tracked [here](https://github.com/Azure/acr/issues/577)

[2021-09-29 04:57] AnuragSingh-MSFT commented on #80944
Hi @ragazzojp, I have submitted a request with the modifications as per your suggestion and it should get reflected once it is approved. I will be closing this issue now. Please let me know if you have any questions.

[2021-09-29 04:57] #80944 closed

[2021-09-29 04:59] AnuragSingh-MSFT commented on #81322
Hi @arunvijay808, I am assigning this issue to content team for further review and modification, if required. Please let us know if you have any questions.

[2021-09-29 05:24] AnuragSharma-MSFT commented on #81681
@xiaolangxyz Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-29 05:32] PramodValavala-MSFT commented on #81000
@Leonardo-Ferreira Just following up here... Hope my previous comment helps.

Please do note that this repository is primarily for addressing doc related feedback. For other queries, [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-api-management.html) is a better forum to engage the wider community. Since there is no doc update required here, we will now proceed to close this

[2021-09-29 05:32] #81000 closed

[2021-09-29 05:40] SnehaAgrawal-MSFT commented on #81669
@otykier Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 05:43] SnehaAgrawal-MSFT commented on #81677
@Marusyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 05:49] AnuragSharma-MSFT commented on #81576
@DebashishSarkar Thanks for reporting this. We have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-29 05:51] vicancy commented on #81677
Hi @Marusyk, I see you generated the URL used for the WebSocket client to connect as user `dev` but have not yet used the URL to start a WebSocket connection. Follow this doc https://docs.microsoft.com/en-us/azure/azure-web-pubsub/tutorial-pub-sub-messages?tabs=csharp#set-up-the-subscriber to connect to the service, and then you can add this client to the group.

[2021-09-29 06:17] compunited opened #81690 "guid handling is missing in docu"
TenantId in ('51EF7260-D4AD-434E-83C1-E7CF127ECCAF','3160D7CB-5D57-4089-8248-2456813F19DE','2FB94273-0F36-4738-8D83-211AED85DFCB')
 leads to "Operator '==' cannot be applied to operands of type 'System.Guid' and 'string'"
How can the values casted into a guid? using Sysdtem.Guid.Parse() makes the filter collapse

There was an error parsing the SQL expression. [Token line=1, column=19, Token in err

[2021-09-29 06:20] rdeltcheva commented on #80854
Hello HimanginiSisodia,

Thank you for the feedback. The new versions require aditional package installation python-azure-identity / python3-azure-identity for SLES12/SLES15, so there was an outstanding ask to SUSE to publish KB, describing the additional requirement. The Azure documentation updates were pending the release of such KB, which we can reference. I see that SUSE published the KB:  htt

[2021-09-29 06:36] sdt-msft commented on #81102
Thanks Bryan!
Stefano

--

STEFANO DE TONI

Cloud Solution Architect – Advanced Analytics and Artificial Intelligence

Microsoft Italy

Email: ***@***.******@***.***>

Cell: +39 335 755 87 78

________________________________
From: Bryan Trach ***@***.***>
Sent: Tuesday, September 28, 2021 20:45
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Stefano De Toni ***@***.***>; Mention ***@***.***>
Subjec

[2021-09-29 06:53] vipulsparsh commented on #81509
@priyankareddy20 Yes, please enable that and test once.

[2021-09-29 06:59] priyankareddy20 commented on #81509
Ok will let you know

On Wed, Sep 29, 2021, 8:54 AM VipulSparshMSFT ***@***.***>
wrote:

[2021-09-29 07:00] SrijitBose-MSFT commented on #81475
We have encountered this issue earlier as well. Can you please try out the following mitigation plan?

##### Mitigation Plan
1. Go to "**App Registration**".
2.  Select the SP that you are using or if you don´t have any yet create a new one.
3. Go to "**API Permissions**".
4. Click "**Add a permission**".
5. Then "**Microsoft Graph**" -> "**Delegated permissions**" and look for "**application**"
6

[2021-09-29 07:09] ggailey777 commented on #47170
Zone redundancy docs are now available for Azure Functions.

[2021-09-29 07:10] ggailey777 commented on #47170
#please-close

[2021-09-29 07:10] #47170 closed

[2021-09-29 07:38] ram-msft commented on #81501
@gantonius Thanks for the details. We have forwarded to the product team to check on the ManyModelsParameters .

[2021-09-29 07:46] pjmlp opened #81691 "Incorrect information regarding FreeBSD"
FreeBSD is not a Linux distribution, rather a BSD distribution with its own linage, completly unrelated to Linux.

https://en.wikipedia.org/wiki/FreeBSD

A section regarding BSD custom images should exist as part of the TOC and "Applies to: ✔️ Linux VMs" be updated to "Applies to: ✔️ BSD VMs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-09-29 07:46] fowl2 commented on #80813
![image](https://user-images.githubusercontent.com/12844147/135221680-8f548b35-8fb3-47b7-9f58-0531be779934.png)

Emphasis mine on the part of the [article](https://techcommunity.microsoft.com/t5/public-sector-blog/microsoft-us-sovereign-cloud-myth-busters-active-directory-does/ba-p/1093339) that it would be great to expand and clarity.  :)

[2021-09-29 07:48] AnuragSharma-MSFT commented on #81634
@wenzho215 Could you please highlight/point the part in the document where MySQL port is used?

[2021-09-29 07:59] gary918 opened #81692 "'az ml computetarget create computeinstance' doesn't work properly for VNet"
Description:
When securing AML workspace and associated resources by using VNet and private link/endpoints, after setting up an AML workspace with a private endpoint, I want to create compute instance which should also be put into the VNet. Here's the command I'm using:
`az ml computetarget create computeinstance --name ci-gary1-test --vm-size Standard_DS3_v2 --vnet-name ${azurerm_subnet.compute_s

[2021-09-29 07:59] TommyJab opened #81693 "it is not clear regarding SPN part"
[Enter feedback here]
Hi,

thanks for your documentation but the part regarding set up spn is unfortunately not clear.

"SPN: "cifs/your-storage-account-name-here.file.core.windows.net" Password: Kerberos key for your storage account."

It is not a commandline, I try with setspn but I didn't find option to enter the kerberos key.

Could you provide an example please?

Thanks for your assistance,

[2021-09-29 08:00] rpilot commented on #81568
@SumanthMarigowda if you check the Phase 1 and Phase 2 in the mentioned document it has "!INCLUDE storage-files-migration-namespace-mapping" and "!INCLUDE storage-files-migration-provision-azfs". These "included" parts contain instructions to use Azure File Sync. However for the Robocopy scenario we don't need Azure File Sync. So the guide is a bit misleading because it suggests to use Azure File

[2021-09-29 08:02] TommyJab commented on #73016
Hi,

Could you provide an example please?

Best regards,

Tommy Ja

[2021-09-29 08:04] TommyJab commented on #72871
Hi guys,

there are lot of question regarding this topic, the best way to address this point is to update the document with an example :-)

Best regards,

Tommy Ja

[2021-09-29 08:06] TommyJab commented on #66817
Hi guys,

there are lot of question regarding this topic, the best way to address this point is to update the document with an example :-)

Best regards,

Tommy Ja

[2021-09-29 08:07] priyankareddy20 commented on #81509
Hello Team,
Its still the same
I have received 5 codes and then stopped receiving any further code for my gmail id.Please advise with the solution

![Onetimecodegithub](https://user-images.githubusercontent.com/64882717/135228520-7596e04c-9213-4929-a49f-96fc26b89a92.JPG)
![Onetimecode1](https://user-images.githubusercontent.com/64882717/135228538-dc228754-87b1-4ca8-8a3b-61367708417d.JPG)

[2021-09-29 08:19] mayankkthr opened #81694 "Ingress Controller failing on AKS"
Ingress controller documented on this link does not work now as of 29th September, 2021.
It is after upgrading to latest node image on AKS.
It gives ImagePullBackOff error similar to the issue mentioned on https://docs.microsoft.com/en-us/answers/questions/533893/imagepullbackoff-with-34rpc-error-code-unknown-des.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-09-29 08:19] #80396 closed

[2021-09-29 08:22] TommyJab commented on #66817
Perhaps the solution is here
-> https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/

[2021-09-29 08:22] TommyJab commented on #72871
Perhaps the solution is here
-> https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/

[2021-09-29 08:23] TommyJab commented on #73016
Perhaps the solution is here
-> https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/

[2021-09-29 08:24] TommyJab commented on #81693
Perhaps the solution is here
-> https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/

I will try and give you a feedback

Best regards,

Tommy Ja

[2021-09-29 08:30] DavidAtImpactCubed commented on #47170
Thank you very much!

I note that the availability SLA for Azure Functions has not been updated to include any higher SLA if this option is selected.
https://azure.microsoft.com/en-gb/support/legal/sla/functions/v1_1/

In many enterprise environments, the SLA is what counts.

[2021-09-29 08:30] Heloiseboanerges commented on #55247
I've done the copy once following the documentation, but now the link is dead :(

[2021-09-29 08:36] wenzho215 commented on #81634
![image](https://user-images.githubusercontent.com/91530700/135233196-486437d5-089c-4a4c-a26d-2eeea7303e5b.png)
Under high availablity blade
https://docs.microsoft.com/en-us/azure/postgresql/overview-single-server#high-availability

[2021-09-29 08:39] TinaHanTH opened #81695 "Incorrect instruction in Doc - correct one tested and provided here"
This part in the doc is inaccurate:
https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-custom-settings#use-azure-resource-explorer-to-update-an-app-service-environment

Modification:
(modifications shown as bold)

_Use Azure Resource Explorer to update an App Service Environment
Alternatively, you can update the App Service Environment by using Azure

[2021-09-29 08:42] oscarhermoso opened #81696 "Misleading troubleshooting details for Function App deployed with Docker on Consumption Plan"
When attempting to deploy a Function App using Docker containers on a consumption plan, the following banner is shown:

![image](https://user-images.githubusercontent.com/23239955/135232184-4f6f0e07-1ca4-4a97-852c-25d5090f7c2c.png)

The following banner that links to this page:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account#storage-account-was-deleted

Th

[2021-09-29 08:55] spaelling commented on #80161
you cannot use a managed identity or SP account for to send email (the use case here is based on something Sentinel). For that you need to call the MS Graph API in which a managed identity can be used to grab the service principal secret, and the SP is then allowed to send email. Not too difficult to setup in a logic app, but when the documentation go-to guide is using the builtin send email activ

[2021-09-29 08:56] Ponant opened #81697 "SSO Application Scope should be clarified"
_Application - This setting allows you to maintain a user session exclusively for an application, independent of other applications. For example, you can use this setting if you want the user to sign in to Contoso Pharmacy regardless of whether the user is already signed into Contoso Groceries._

But it seems this is for _application registrations_ rather than applications. I can have one app regi

[2021-09-29 08:56] AnuragSingh-MSFT commented on #80912
@wjdavis5, thank you for the reply. I am still unable to understand the issue with the following statement. It mentions that connection string to namespace is required (and not the queue or topic), which is correct. Am I missing something?

`To obtain a connection string, follow the steps shown at Get the management credentials. The connection string must be for a Service Bus namespace, not limite

[2021-09-29 08:57] vipulsparsh commented on #81509
@priyankareddy20 In how much time span did you received those 5 codes, are you trying in quick intervals ?
Which app, portal are you logging to ?

Can you explain how you test this exactly ?

[2021-09-29 09:13] erjosito commented on #81512
I have created PR https://github.com/MicrosoftDocs/architecture-center-pr/pull/3802 (not sure if you have access to it, since it is in the private repo). The challenge is that it is a lot of different flows (5 scenarios, 4 flows for each), and I don't want to distract the user with topics that are covered elsewhere. Hence I added a brief (but potentially confusing) paragraph in each of the 5 scena

[2021-09-29 09:17] quekmc commented on #81346
Hi SadiqhAhmed

Apologies for the late response.  Allow me to clarify my point.

Under the section titled "Create a Recovery Service vault" -> Step 5, this is what it currently says.

![image](https://user-images.githubusercontent.com/89065520/135238217-552d2bd2-0426-4e48-a3f6-1da7d22dcb14.png)

Nowhere is it mentioned that a different resource group is to be used.

Also in my initial feedback I'v

[2021-09-29 09:31] kimjamia opened #81698 "Contributor permissions to Query Pack not sufficient to save queries via Portal"
Under the "Permissions" header, the documentation explains that to add new queries to the query pack, the user must be given contributor rights.

Issue 1: If a user is given contributor rights to just the a non-default query pack, the user won't be able to save a query through the portal because the resource group dropdown is empty. This can be worked around by granting permissions to the default

[2021-09-29 09:54] Marusyk commented on #81677
Hi @vicancy

Yes, I followed, but there is not any info about how/when to add to a group.

I changed my code and the result is the same

[code]

[2021-09-29 09:56] BhargaviAnnadevara-MSFT commented on #81630
@Abhishekchauhan23 Could you please elaborate your feedback?

[2021-09-29 10:06] vicancy commented on #81677
Just move the AddUserToGroupAsync to after the client is Connected, which is to the bottom of your code snippet.

You can treat `serviceClient` as a server, its role is to **manage** the WebSocket clients. Once your WebSocket client is connected, you can use `serviceClient.AddUserToGroupAsync` to add this WebSocket client to some group.

[2021-09-29 10:07] ElazarK commented on #81348
@smedin4 Thank you for bringing this to my attention. I am currently reviewing with the correct people and hope to have an answer for you as soon as possible.

[2021-09-29 10:11] priyankareddy20 commented on #81509
I have invited the guest user and user receives the default email to accept
the invitation.

As I am performing testing, yes I am requesting code in quick intervals.

User receives invitation email from azure.
Gmail user clicks on it ,redirects to sending code.

I receive the code for 5times in a day and I have to wait for 24hrs to
receive the code again

On Wed, Sep 29, 2021, 10:57 AM VipulSparsh

[2021-09-29 10:24] tspivakms opened #81701 "Container with privilege escalation should be avoided appears twice"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e158d54d-fd2e-a5ae-ec8c-7136a4444ddf
* Version Independent ID: 2f604e33-8819-3f23-6bd1-9a0a74628140
* Content: [Workload protections for your Kubernetes workloads](https://docs.microsoft.com/en-us/azure/security-center/kubernetes-workload-protections#

[2021-09-29 10:32] vipulsparsh commented on #81509
@priyankareddy20 I think there is some auto-check mechanism which detects how many times a code was asked within short interval of time and it kind of block any further process for 24 hours to prevent these access thinking it might be under attack.

Do let us know if any real user faces this problem.

[2021-09-29 10:37] psmanhas commented on #81691
@pjmlp Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-29 10:37] psmanhas commented on #81691
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-09-29 10:42] JBiasilloTM opened #81702 "Do not use the Azure VPN client's application ID: Use the ID of the application(s) you registered."
Hi

re: the guidance "Do not use the Azure VPN client's application ID: It will grant all users access to the VPN gateway. Use the ID of the application(s) you registered."

Can you please clarify exactly where the "ID of the application(s) you registered" needs to be used? e.g. does the "Audience id" need to be set to "Use the ID of the application(s) you registered." ( and not the "public cloud

[2021-09-29 10:55] shashishailaj commented on #81679
@OverengineeredNetwork Thank you for your query . We will investigate and update the thread .

[2021-09-29 10:57] shashishailaj commented on #81686
@paul-yellowpink Thank you for your query . W will investigate and update the thread.

[2021-09-29 10:57] SubhashVasarapu-MSFT commented on #81702
@JBiasilloTM, Thanks for reaching out. We will investigate and update this thread.

[2021-09-29 11:30] CarlosMendozaB opened #81703 "Request to update privatelink for purviewstudio"
While creating a Purview account Private endpoint now requires a new type "privatelink.purviewstudio.azure.com" which is not properly listed in your documentation: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns
"resources": [
                        {
                            "type": "Microsoft.Network/privateDnsZones",
                            "apiVersion": "2018-0

[2021-09-29 11:37] CHEEKATLAPRADEEP-MSFT commented on #81687
@vijayrajah  Thanks for the feedback. Currently, we don't have any API to get the cluster logs.

We appreciate it. We will share and elevate your feedback with the Azure Azure Databricks product team.

REST API available for enabling logs: This feature is also available in the REST API. See [Clusters API ](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/clusters)and [Cluster

[2021-09-29 11:53] ThomasAltk commented on #27368
Hi @MarileeTurscak-MSFT and @mikerichie86 ,

are there any news on that subject since we are facing the same issue and MS hasn't changed anything sofar.

[2021-09-29 11:55] SeryioGonzalez opened #81704 "Typo in command"
In the command:
az iot hub generate-sas-token -n <iothubName> -du <duration>

The parameter -du must have double dash, i.e. --du

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f9-ee699019be33
* Version Independent ID: b108b7b1-d28d-abed-467d-39a661c8e086
* Content: [Understand Azure IoT Hub direct

[2021-09-29 12:00] AshokPeddakotla-MSFT commented on #81704
@SeryioGonzalez Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 12:00] BhargaviAnnadevara-MSFT commented on #81695
@TinaHanTH Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-29 12:01] AshokPeddakotla-MSFT commented on #81688
@chadsiefert Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 12:03] SubhashVasarapu-MSFT commented on #81703
@CarlosMendozaB, Thanks for reaching out. We will investigate and update this thread.

[2021-09-29 12:06] priyankareddy20 commented on #81509
May I know of you can confirm this.If there is something like this at the
backend

On Wed, Sep 29, 2021, 12:32 PM VipulSparshMSFT ***@***.***>
wrote:

[2021-09-29 12:09] RonMatsu commented on #81610
Hi Kelly,

Thanks for getting back to me. My scenario is fairly straightforward - I would like to route messages from leaf devices to a particular module on the parent/gateway device, and perform some processing before forwarding the data to IoT Hub. It sounds like you are saying this is possible, but I don't see any documentation outlining how it's done. Can I just specify a module after $upstrea

[2021-09-29 12:11] JayaChat opened #81705 "Web part of voice call in C# and Test echo bot output details"
1.  Is there any sample available for web version in C# for the voice and video call implementation?
2. For the run part we test it with echo bot - can we get the recording details ( as it records voice commands to test if the audio configuration is fine) from somewhere?
3. are the bot id or ACS id only option for the callee list or we can make an outbound voice call to any phone number?

---
####

[2021-09-29 12:16] yanivlavi commented on #81288
@Klaas- it is hard to know without seeing the details.
One thing you should mind is that to resolve the dimensions set need to provide healthy values, not just unhealthy values.
So don't filter to failures and count, countif in cases of failures.

If this doesn't work please open a support ticket.

[2021-09-29 12:30] Abhishekchauhan23 commented on #81630
I was looking for Microsoft teams SDK  for android version

On Wed, Sep 29, 2021 at 3:26 PM BhargaviAnnadevara-MSFT <
***@***.***> wrote:

[2021-09-29 12:47] vipulsparsh commented on #81509
This is there for Phone MFA and I am pretty sure the same is happening in email scenarios as well :
https://docs.microsoft.com/en-us/azure/active-directory/authentication/multi-factor-authentication-faq#what-should-i-tell-my-users-to-do-if-they-don-t-receive-a-response-on-their-phone-

[2021-09-29 12:48] MonikaReddy-MSFT commented on #81690
@compunited -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-29 12:49] Nicholak-MS commented on #80630
#please-close

[2021-09-29 12:49] #80630 closed

[2021-09-29 12:55] yuharucan commented on #81508
I think this is Doc Bug.

This page says the following:
Currently, this scenario is supported only for accounts that don't have a hierarchical namespace. The current release of **AzCopy doesn't synchronize between Azure Files and Blob Storage.**

But it works well, so it is supported, I think.
I want this Doc to be modified.

[2021-09-29 13:00] priyankareddy20 commented on #81509
Hello Vipul,
The statement tells to open a support case.
It doesnt mention that after 5times you will not receive the code

On Wed, Sep 29, 2021 at 2:47 PM VipulSparshMSFT ***@***.***>
wrote:

[2021-09-29 13:02] #81288 closed

[2021-09-29 13:06] omkarkhair opened #81706 "Obsolete EDNS0 RFC referred"
[code]

RFC7871 defined EDNS0 [RFC6891] and not RFC2671.

2671 has been marked obsolete by RFC6891. I would like to confirm if this document intends to refer to RFC6891 instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9522edc-ac04-6c89-e061-59fa788e28ed
* Version Independent ID: 4cafaeee-5b0a-7f50-7c71-a8c3abf4

[2021-09-29 13:07] SatishBoddu-MSFT commented on #81105
Hello @payalgaikwad42 Thanks for waiting on this query.

Thanks for bringing this to our notice!

As of now we can confirm that 'all preview features are not supported compared to the normal IoTHub'

We have logged an issue with Product Team and they are actively tracking this(No ETA)

![image](https://user-images.githubusercontent.com/62923178/135182640-ed13b305-3848-4c97-a25f-31fcf8a54a29.png)

[2021-09-29 13:07] #81105 closed

[2021-09-29 13:11] wjdavis5 commented on #80912
This is the incorrect part. You can use a key generated specific to a queue or topic.

[2021-09-29 13:18] vipulsparsh commented on #81509
@priyankareddy20 It meant if the users have not tried to get the OTP for 5 times within 5 minutes Then open a support case.

[2021-09-29 13:21] shashishailaj commented on #81697
@Ponant Thank you for your query . we will review this and update the thread.

[2021-09-29 13:23] shashishailaj commented on #81701
@tspivakms Thank you for your feedback . We will investigate and update the thread.

[2021-09-29 13:23] cephalin commented on #81536
@michaeldaw you just need to merge the two "scope" lines into one with `"scope=openid offline_access api://<back-end-client-id>/user_impersonation"`. I've added some clarification that will be published today.

[2021-09-29 13:29] SvenAelterman opened #81707 "Several missing Cisco products"
A number of Cisco products listed on the old Grand List on TechCommunity (https://techcommunity.microsoft.com/t5/azure-sentinel/azure-sentinel-the-connectors-grand-cef-syslog-direct-agent/bc-p/2795218#M1727) aren't included here.

Can they be included too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b717dc-2897-f8

[2021-09-29 13:35] SubhashVasarapu-MSFT commented on #81706
@omkarkhair, Thanks for reaching out. We will investigate and update this thread.

[2021-09-29 13:49] Almantask opened #81709 "Include Audience in appsettings.json and the order of UseAuth, UseAuz matters"
Hello! I was trying out Azure AD app registration and in order to get it work, I had to update the configuration section with audience property. I think it should be included explicitly.

[code]

An example as-is, with default config does not work using `AddMicrosoftIdentityWebApi(config)`.

Also, the order of:

[code]

Matters. For example, using `Authorization` before `Authentication` will fail.

[2021-09-29 13:59] ram-msft commented on #81692
@gary918 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-29 14:09] AvinashMitta opened #81711 "Az acr build command info needed"
az acr build --image sample/hello-world:v1 \
  --registry myContainerRegistry008 \
  --file Dockerfile .

The above command builds and pushes to registry. What if i  need only build and then push based on my interest .Because i have to scan image before pushing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f35764

[2021-09-29 14:19] ashkickindevelopment opened #81712 "Reservation admin/reader missing from Azure AD"
I do not see these roles in Azure AD. I have a customer that is needing to view the reservations that they have purchased.

- A Reservation administrator for reservations in their Azure Active Directory (Azure AD) tenant (directory)
- A Reservation reader has read-only access to reservations in their Azure Active Directory tenant (directory)

---
#### Document Details

⚠ *Do not edit this section.

[2021-09-29 14:24] michaeldaw commented on #81536
Hi @cephalin. Thank you very much for responding.

I've done as you indicated. The "loginParameters" now looks like this:
          "loginParameters": [
            "reponse_type=code id_token",
            "scope=openid offline_access api://<client-id>/user_impersonation"
          ],
However, I still receive a status code 403 when calling the .auth/refresh endpoint.
The call to .auth/me to get t

[2021-09-29 14:27] AshokPeddakotla-MSFT commented on #81688
@cbroad @philmea Could you please review this issue and update the doc?

[2021-09-29 14:28] jmangan68 opened #81713 "Typo in network connectivity section"
second test url has a typo. missing an "s" after ssprededicated that is there in the preceeding Test command
In my environment PS5.1 required the [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12 to be run first and -basicparsing to be added to command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-29 14:34] mikebergin opened #81714 "Picture Diagram mismatch"
I am in the middle of going through this process but there is a discrepancy between the drawn diagram of the wiring of the BME sensor to the Pi and the real life picture of the BME wired to the Pi. You can see the connections on the Pi from the drawing are different that what was done on the picture of the Pi.

I wired my sensor to match the drawing. hopefully it will work. if not, I will try the

[2021-09-29 14:45] fbaeumer commented on #51432
@melghazali: Dear Sir, could you also help us with our data? We are getting the same error and just can't figure out what it is. With the language direction EN-FR it works perfectly, with the same data with FR-EN an error is given. Please help us.

[fren-clean-fr_en.txt](https://github.com/MicrosoftDocs/azure-docs/files/7252842/fren-clean-fr_en.txt)
[fren-clean.fr_fr.txt](https://github.com/Micros

[2021-09-29 14:47] rick-pri opened #81715 "MySQL dump page defaults to recommending mysql workbench"
[Enter feedback here]
I think that my main suggestion would be to show how to do this in a shell with the mysql-client package, with an alternative option of using a GUI tool such as MySQL workbench for those really not comfortable with a shell prompt.  It would also be simpler to document and less likely to be subject to glaring interface changes, such as Azure has had on this page.

Also, on the

[2021-09-29 14:51] thesmall opened #81716 "Provide Descriptions for the Azure AD Application Proxy Connector Performance Counters & Event Log IDs"
It should not be assumed that every person looking to set up performance monitor counters or monitor event log events for Azure AD Application Proxy Connector knows what each performance counter means or all of the possible events IDs that can be generated by the application.

Consider providing a document similar to [Monitor and review logs for on-premises Azure AD Password Protection environment

[2021-09-29 14:51] JackStromberg commented on #81550
@fabiangonzalez-msft @BryanTrach-MSFT the refresh intraval is 4 hours to pull from keyvault.  We havemore details outlined here: https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#supported-certificates

Regarding access to key vault, both the service endpoint and the Allow trusted service box must be checked.  Both items are used hand-in-hand when using the user managed id

[2021-09-29 14:51] #81550 closed

[2021-09-29 14:54] Kohzam opened #81717 "عهه"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-09-29 14:56] HoCGeek opened #81718 "What roles/permissions are required to take these actions/configure these settings?"
Please provide details on what roles and/or privileges are required - from a least privilege perspective - to complete the tasks/configurations described in the article.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581d46fd-9672-0bc6-7152-39301c893fd4
* Version Independent ID: 202e0e14-10e9-2173-b4a5-bb8cf6c

[2021-09-29 15:07] DCtheGeek commented on #81575
@dingmeng-xue Thanks, I'll get this fixed right now.

#reassign:DCtheGeek
#label:"in-progress"

[2021-09-29 15:10] rupeshshet opened #81719 "Issue: it wont update require Temperature to IOT Hub/Device, how to to this this not highlighted in this section."
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81034c0-f8e3-a26a-acaa-0513d2762a98
* Version Independent ID: 864d5793-8ec9-6baf-7f3a-a4896e77a931
* Content: [Quickstart - Get started with Azure Digital Twins Explorer - Azure Digital Twins](https://docs.microsoft.com/en-gb/azure/digital-twins/quic

[2021-09-29 15:20] DCtheGeek commented on #78282
This was fixed during the last update, closing.

#please-close

[2021-09-29 15:20] #78282 closed

[2021-09-29 15:25] BharathNimmala-MSFT commented on #81285
@pnl0ep7f Thank you for being patient on this. We did hear back from internal team and below is the information I could share.

Our new preview API (which is planned to GA soon) has custom webhook properties that are passed to the webhook action with common alerts schema:  [Scheduled Query Rules - Create Or Update - REST API (Azure Monitor) | Microsoft Docs](https://docs.microsoft.com/en-us/rest/a

[2021-09-29 15:25] #81285 closed

[2021-09-29 15:34] ashortdev commented on #43505
As this is the only google result for "AllowCrossSubscriptionReferences", I'll throw an update for anyone landing here.

If you're trying to create a resource that references networking in a separate subscription, stop.

We burnt a few days and some enterprise support on discovering that this architecture is full-stop not meant to be done in Azure, for example, a network interface card cannot be c

[2021-09-29 15:37] MarileeTurscak-MSFT commented on #81713
@jmangan68
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-29 15:37] #81704 closed

[2021-09-29 15:38] AshokPeddakotla-MSFT commented on #81704
@SeryioGonzalez PR has been created to update the doc. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-29 15:40] baanders commented on #81719
Hi @rupeshshet , thanks for the comment.

The quickstart article that you're reading does not cover full setup of an end-to-end scenario that includes connecting a simulated device through IoT Hub. The reason is that the quickstart is intended to be a quick introduction to the Azure Digital Twins platform and how the graph works, while setting up a full data flow to support the graph is a longer p

[2021-09-29 15:48] MarileeTurscak-MSFT commented on #81713
Thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/173977

[2021-09-29 15:48] #81713 closed

[2021-09-29 16:01] asergaz commented on #81714
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-29 16:02] asergaz commented on #81714
....................................

[2021-09-29 16:02] SadiqhAhmed-MSFT commented on #81712
@ashkickindevelopment Would it be possible to share the screenshot of the portal?

[2021-09-29 16:04] SamaraSoucy-MSFT commented on #81696
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-29 16:05] SwathiDhanwada-MSFT commented on #81698
@kimjamia Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-29 16:08] VikasPullagura-MSFT commented on #81238
We will now close this issue.
Once you have further updates on this, requesting you to please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-29 16:08] #81238 closed

[2021-09-29 16:15] jeevansd commented on #49366
@twimmers Can you please talk to Concur team on this and get this resolved?

[2021-09-29 16:20] MarileeTurscak-MSFT commented on #81707
@SvenAelterman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-29 16:25] JamesTran-MSFT commented on #81716
@thesmall
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-29 16:25] jeffwmiles opened #81723 "Clarity on removing in-tree drivers"
This page specifically states:

However, there are no instructions provided on how to do this, nor any indication in AKS release notes.

Can the documentation be updated to include the appropriate references for performing this removal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013047f-1846-c266-6759-6897b6694eb9

[2021-09-29 16:26] JamesTran-MSFT commented on #81718
@HoCGeek
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-29 16:29] rwike77 commented on #80997
Just added the error code to this article.  #please-close

[2021-09-29 16:29] BryanTrach-MSFT commented on #81466
@TheIdentityHub We would like to work closer with you on this matter as we have not been able to reproduce the scenario.

Can you please email us at azcommunity@microsoft.com with the subject as ATTN: Bryan and in the body of the email include your Azure subscription ID?

We look forward to your reply. Since we are taking the discussion offline with you, we will close this thread.

[2021-09-29 16:29] #81466 closed

[2021-09-29 16:29] #80997 closed

[2021-09-29 16:47] MonikaReddy-MSFT commented on #81525
@Mahesh-MSFT - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-29 16:54] AnuragSharma-MSFT commented on #81715
@rick-pri Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-29 16:55] MonikaReddy-MSFT commented on #81578
@Vanshata17 - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-09-29 16:55] #81578 closed

[2021-09-29 17:07] ecfan commented on #80482
@rudolphjacksonm & @divyaswarnkar: You can continue the conversation in this thread, but I'm going to mark as closed as the original issue is addressed. Thanks!

@SamaraSoucy-MSFT: #please-close

[2021-09-29 17:07] #80482 closed

[2021-09-29 17:07] SnehaAgrawal-MSFT commented on #81629
@euchungmsft Our product engineering team is actively working on this item but we do not have an ETA to share at this moment.

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-09-29 17:07] #81629 closed

[2021-09-29 17:07] nastassiar opened #81726 "The sample C# code is using methods from the deprecated package"
A lot of the sample code for .Net is no longer valid. It references methods from the deprecated package
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be935e6-88cc-38b8-aab4-bd43fd32ed4d
* Version Independent ID: 3c900aa3-ebc8-17bc-cfa2-3e3a6e7400e9
* Content: [Field mappings in indexers - Azure Cognitive Search](https

[2021-09-29 17:08] DerekHerman-MSFT commented on #81693
@TommyJab Thanks for the feedback. I agree that this could be clearer, perhaps a screenshot or specific command to run would be helpful.  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-29 17:19] chanuengg commented on #81227
@zeinab-mk for viz.

[2021-09-29 17:24] SaurabhSharma-MSFT commented on #81530
@SQLDataSide We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-09-29 17:24] #81530 closed

[2021-09-29 17:27] NestorJavier opened #81727 "Microsoft.Azure.Management.StreamAnalytics Version 2.0.0 uses an old REST API"
Version 2.0.0 has a bug because is using 2016-03-01 API, in order to solve this it is necessary to use the version 3.0.0-preview
but this version doesn't appear in the Visual Studio Nuget Package Browser, so it's necessary to install it using another way like the .Net Cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-09-29 17:29] GlenColby opened #81728 "Links to Istio examples just lead back to the this page."
[Enter feedback here]
links are broken
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b2ebada-0fe3-918d-f957-710e0a0b275e
* Version Independent ID: 9ee3748c-53bd-76c3-e0e0-d8ab2198a9a1
* Content: [About service meshes - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/servicemesh-about)
* Content So

[2021-09-29 17:33] youngbmck commented on #81482
Hi Jack,

I'm sorry, but I respectfully disagree with this assessment.

When it comes to "blast-radius" impact, the risk is mitigated by applying key/secret/cert scope level RBAC permissions. A significant risk of a vault-level breach is IF RBAC roles are applied at the vault level - so the solution would be to not apply vault level RBAC unless there is a business case (i.e. the IT security team w

[2021-09-29 17:33] PRMerger5 commented on #81482
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-09-29 17:40] foconnor-DS commented on #68490
I think this and #35797 should be combined and reopened. The spec calls for "tennant" to be passed in via the path:
`
POST {tenant}/oauth2/v2.0/token
`
And not as a parameter. When you try to run the postman, this path is sent:
`
POST https://login.microsoftonline.com/organizations/oauth2/v2.0/token
`
This results in the AADSTS50059.

If I try and replace organizations with:
`
POST https://login.m

[2021-09-29 17:56] tfitzmac commented on #81525
@Mahesh-MSFT - it looks like you don't need ".value"

[2021-09-29 18:01] AjayKumar-MSFT commented on #81656
kmadof, No worries. Thanks for taking time to share your feedback on Azure docs channel and follow-up to closure. Much appreciated.

[2021-09-29 18:06] SweetsNSavories opened #81730 "ADF D365 Connector with Dataset source Type FetchXml"
It is not mentioned in the documentation if D365 Connector fetches all the pages when the resultset records are more than 5k utilizing paging-cookie or does it this only work for scenarios where resultSet is not more than 5K.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version

[2021-09-29 18:18] cchapin-ms opened #81731 "uservoice pages being eliminate"
[Enter feedback here]
This page has links to UserVoice to provide feedback, but the UserVoice site is being retired. Is there a replacement site to provide feedback on Azure Files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d

[2021-09-29 18:27] Mahesh-MSFT commented on #81525
thanks...but doesn't make any difference :-(

sandbox shows following error.

[code]

[2021-09-29 18:28] nssidhu opened #81732 "Azure speech in Blazor wasm .NET 6 RC1 ?"
I am trying to create simple example in Blazor wasm to say a text.
[code]
The code above works in .NET 6 RC1 console app, but does not work in Blazor Wasm.
Is Azure Speech supported in Blazor Wasm ?

XXXXXV6New.Client.Pages.Org.ManageOrgLocationTerminals[0]
[code]

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064d7074-3ea

[2021-09-29 19:09] MonikaReddy-MSFT commented on #81694
@mayankkthr - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-29 19:11] YutongTie-MSFT commented on #81732
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-29 19:12] nssidhu opened #81733 "Sample not working in ASP.NET Web App (.NET 6 RC1)"
I am getting the following Error when trying to follow the example.
contrary to what the error message is i am using require.js

[code]
---

My HTML Page

[code]

This is my script file

[code]

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064d7074-3ea4-21e4-60b4-b09976bbdf7e
* Version Independent ID: 1fdefc18-e765-9fe8-0

[2021-09-29 19:13] twimmers commented on #49366
Concur is still in the works to complete their SCIM endpoint. Once it's completed, there will be an app added to the Azure AD app gallery but we don't yet have a timeline at this point

[2021-09-29 19:23] #81590 closed

[2021-09-29 19:24] rolyon commented on #81651
Hi @ZaidAlKhayyat-MSFT
I'll send you a message to see if we can identify a contact.
thanks

[2021-09-29 19:25] rolyon commented on #81651
#please-close

[2021-09-29 19:25] #81651 closed

[2021-09-29 19:25] BryanTrach-MSFT commented on #81590
@yutaro113 Thank you for brining this up. We have made an edit to the document and it should be visible within 24 hours.

We value the input CSS can provide. If you have any insights in the future, please follow this same process so we can assist further.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2021-09-29 19:55] SwathiDhanwada-MSFT commented on #81600
Assigning to content author @MGoedtel for review.

[2021-09-29 20:03] RobertGullick opened #81734 "Microsoft.Network/networkInterfaces BadRequest"
No matter how I try to run this ARM template is error is persistent.

{
    "status": "Failed",
    "error": {
        "code": "InvalidResourceReference",
        "message": "Resource /subscriptions/beac5cb7-1f58-4739-afba-ff2a8e70de87/resourceGroups/Test/providers/Microsoft.Network/virtualNetworks/VMnet/subnets/Subnet-Test referenced by resource /subscriptions/beac5cb7-1f58-4739-afba-ff2a8e70de87

[2021-09-29 20:04] MarileeTurscak-MSFT commented on #81709
@Almantask
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-29 20:22] gbsmith opened #81735 "Key rotation"
Rather confused about "Full control over the key-lifecycle, including rotation of the key to align with corporate policies" as it applies to Azure Database for MySQL. Is there an option to use automatic key rotation? If not, how can regular key rotation be achieved? If we use a key vault, does changing the key (KEK) automatically get applied to the DEK? How do we automatically change the key every

[2021-09-29 20:46] Marusyk commented on #81677
Thank you very much. It works. It would be great to have this somewhere in the docs

[2021-09-29 20:46] #81677 closed

[2021-09-29 21:06] kgremban commented on #81610
From your leaf device, you'd route the message to `$upstream` and then you'd use routes on your gateway device to intercept the message and route it to the correct module. Leaf devices shouldn't have to know what modules do or don't exist on the gateway device. They just know to do their own thing and send messages to the next stage of the pipeline. Once the message arrives at the gateway device,

[2021-09-29 21:10] diadatp commented on #75189
The manual driver installation [docs](https://github.com/MicrosoftDocs/azure-docs/blob/20075f4841529f416df101977fdad4cd90eb0835/articles/virtual-machines/linux/n-series-driver-setup.md?plain=1#L252) currently recommend removing the `FeatureType=0` config parameter from the gridd configuration file (`/etc/nvidia/gridd.conf`). This appears to have the same effect as setting it to 2.

The NVIDIA GPU

[2021-09-29 21:21] Karishma-Tiwari-MSFT commented on #81538
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-29 21:27] Karishma-Tiwari-MSFT commented on #81601
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-09-29 21:28] #81601 closed

[2021-09-29 21:43] kgremban commented on #80763
Thank you for your help on this issue @jiasli.

As Jiasli mentioned in one of the linked issues,

It would be more appropriate to clarify the CLI installation doc to point ARM64 users to the correct installation steps than to add a note in our documentation. I'm going to close this issue, but will suggest an improvement on the CLI docs to help future users.

Thank you

#please-close

[2021-09-29 21:43] #80763 closed

[2021-09-29 21:48] Karishma-Tiwari-MSFT commented on #81604
@Heidilohr Can you please help confirm on this. The information given in the two docs looks contradictory. Thanks.

[2021-09-29 21:48] v-gpettibone commented on #81674
@ms-vincent Thanks for the input
1. <your device id> is clear enough. It is simply the ID of **your** device. I did add a sentence to step 9 (Create a client device certificate) to explain that they could use their own values to satisfy the other CSR parameters. Should be live tomorrow 9/30.

Other comments:

1. No pfx file is needed in this article.
2. Passwords are optional. To keep things simpl

[2021-09-29 21:49] v-gpettibone commented on #81670
Thanks @ms-vincent. I've fixed this and it should be live tomorrow 09/30.

[2021-09-29 21:58] Karishma-Tiwari-MSFT commented on #81367
Apologies for the delay. I reached out to the internal teams and waiting for their confirmation. Thanks.

[2021-09-29 22:10] shikhakohli commented on #78035
Payout profiles are setup per seller id and per developer program. If a developer has multiple seller ids in a country then they need to assign payout profiles for every combination. Tax profiles are for each seller id.

[2021-09-29 22:10] Karishma-Tiwari-MSFT commented on #81439
Here is an explanation on your query. Please take a look and let me know if you have further questions.

https://github.com/MicrosoftDocs/azure-docs/issues/37697#issuecomment-524393030

![image](https://user-images.githubusercontent.com/20851144/135355687-8d841df6-d455-434e-ab58-159da554dfc7.png)

[2021-09-29 22:16] Oury-MSFT commented on #81527
@venuvinod4477 Sounds like IOPS is the bottleneck for your queries...GP relies on the remote storage that the datafiles are on, and if you have a small(ish) DB on a small datafile, then it could be capped to a low IOPS limit...once you go to BC, then the IOPS get to use the entire MI's IOPS on the local storage.

[2021-09-29 22:17] MarileeTurscak-MSFT commented on #81609
This can happen if the users are blocked (usually by a conditional access policy).

This can also happen if you are using the Standard user flow, rather than the Recommended user flow. I would recommend checking that all of your user flow settings are aligned with the documentation: https://docs.microsoft.com/en-us/azure/active-directory-b2c/multi-factor-authentication?pivots=b2c-user-flow

If non

[2021-09-29 22:17] #81609 closed

[2021-09-29 22:39] DerekHerman-MSFT commented on #81731
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

We're creating another site to provide feedback. For now, please share your feedback on the Q&A forum: https://docs.microsoft.com/en-us/answers/topics/azure-files.html

[2021-09-29 23:05] brjohnstmsft commented on #81598
@Pryorite Yes, it should be possible to use `search.ismatch` in this way. I recommend you create a question on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-cognitive-search) and tag it with `azure-cognitive-search`. There is automation that dispatches such questions to engineers on the Azure Cognitive Search team. Please include more details in your StackOverflow question, such

[2021-09-29 23:22] jmprieur commented on #81709
@Almantask for the order of the middleware, what do you suggest? the quickstart does the right thing? do you want to call it out?

[2021-09-29 23:35] KranthiPakala-MSFT commented on #81727
@NestorJavier
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-09-29 23:38] KranthiPakala-MSFT commented on #81730
Hi @SweetsNSavories
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-09-29 23:51] euchungmsft commented on #81629
Thanks for the prompt reponse @SnehaAgrawal-MSFT

[2021-09-29 23:55] Karishma-Tiwari-MSFT commented on #81711
Thanks for the question. We are currently investigating and will update you shortly.

[2021-09-30 00:01] konichi3 commented on #79141
Yes, one of the members can take a look at the issue. Can someone please file an issue in GitHub repo here? This item is already closed and it's probably better to track in our repo.

https://github.com/Azure/iotedgehubdev/issues

[2021-09-30 00:02] Karishma-Tiwari-MSFT commented on #81723
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-30 00:03] Karishma-Tiwari-MSFT commented on #81728
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-09-30 00:13] wjdavis5 commented on #80912
It isn't correct though. A root key from a queue has all the needed
permissions for the scale controller to enumerate the needed metrics.

On Wed, Sep 29, 2021 at 4:57 AM AnuragSingh-MSFT ***@***.***>
wrote:

[2021-09-30 00:16] dcstwh commented on #81022
We will update the documentation.
Thank you for the feedback

[2021-09-30 00:17] dcstwh commented on #81022
#please-close

[2021-09-30 00:17] #81022 closed

[2021-09-30 00:19] dcstwh commented on #79461
I have notified the owners to add this to the docs.
Thank you for the feedback.

[2021-09-30 00:19] dcstwh commented on #79461
#please-close

[2021-09-30 00:19] #79461 closed

[2021-09-30 00:49] danbu opened #81738 "Radius Wifi User Authentication"
https://docs.microsoft.com/en-us/azure/active-directory/devices/azureadjoin-plan#radius-and-wi-fi-authentication
"Currently, Azure AD joined devices do not support RADIUS authentication for connecting to Wi-Fi access points, since RADIUS relies on presence of an on-premises computer object."  This is assuming using RADIUS device(computer) authentication.  If RADIUS is configured using user authent

[2021-09-30 00:54] BharathNimmala-MSFT commented on #81705
@JayaChat Thank you for reaching out with your query, our team will review and get back to you at the earliest.

[2021-09-30 01:46] yutaro113 commented on #81590
Thank you very much for the very quick update!
Much appreciated for your help!

[2021-09-30 02:11] RyanHill-MSFT commented on #81726
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-30 02:40] yutaro113 opened #81740 "Recent Drive Letter change from D to C needs to be reflected into the doc."
Hi Team,

In our understanding, recently app service d:\home drive letter is changing to c:\home.
It seems not officially mentioned in the azure-docs, but some external blogs explain it is due to internal architecture change (from Cloud Service base to VMSS base)

If you create App Service with New Resource Group and P1V3 SKU App Service Plan, you may see drive letter is set to "C". (Means this ap

[2021-09-30 02:50] BryanTrach-MSFT commented on #81740
@yutaro113 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-30 03:26] ms-vincent commented on #81674
@v-gpettibone, Thanks for the quick follow-up.

1. is clear enough to me but knowing folks that walk through these tutorials sometimes require some pointers on what exactly is needed. Other docs do typically point things like this out but having said that, if you add that sentence, it'll help to direct readers that they should be looking for things to replace in the code.

Regarding your other com

[2021-09-30 03:43] Tyrranny opened #81742 "Sorry to ask a dumb question, but I am new to using Visual Studio, where do I put the last section of EXAMPLE CODE?"
[Enter feedback here]
I followed through the entire project, and I THINK I have everything right, but the LAST section of code stumped me, as it doesn't say WHERE to add it to in my Project. I am terribly sorry to bother you with this but I really want to complete and test this so I can be rewarded for my last 90 minutes worth of work learning as I went along with it :).

Its the last section of c

[2021-09-30 03:59] insankim opened #81743 "Secret is not created after deploying clusterissuer in step 2"
[Enter feedback here]
After completing step 2. ClusterIssuer Resource, secret is not created.
I used following yaml, as there is indentation issue in yaml provided in the document
[code]
Cluster issuer is created.
[code]

But there is no secret which has name "example-issuer-account-key"  in cert-manager
[code]

I think cert-manager version in this document is very old and it might be issue of dep

[2021-09-30 04:04] SubhashVasarapu-MSFT commented on #81743
@insankim, Thanks for reaching out. We will investigate and update this thread.

[2021-09-30 04:23] ram-msft commented on #81733
@nssidhu Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-30 04:28] MSFTandrelom opened #81744 "Sysprep documentation is not precise"
Performing sysprep with GUI will likely result in image hanging on "please wait for windows modules installer" and disabled azure agent within a VM, effectively making image useless
To ensure VM is sysprepped correctly and is usable as image in asure, run
`sysprep /generalize /shutdown **/mode:vm**`
in the console.
Documentation needs an update

---
#### Document Details

⚠ *Do not edit this secti

[2021-09-30 04:39] v-ryamada opened #81745 "Intermediate certificates may not be renewed when APIM certificates are renewed."
[Enter feedback here]
Intermediate certificates may not be renewed when APIM certificates are renewed.
[certificate chain].
1. example.com < - CN1 < - Root
2. example.com < - CN1 < - CN2 < - Root
In the above case, if you try to change the flow from 1 to 2, but the CommonName is the same name, the intermediate certificate will not be renewed.

The problem is that we currently don't allow customers

[2021-09-30 04:40] vipulsparsh commented on #81509
@priyankareddy20 Closing this now, feel free to ask a question if any guest user is facing the issue.

[2021-09-30 04:40] #81509 closed

[2021-09-30 04:45] AnuragSharma-MSFT commented on #81735
@gbsmith Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-30 04:54] SaiKishor-MSFT commented on #81478
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-30 04:54] #81478 closed

[2021-09-30 04:59] BhargaviAnnadevara-MSFT commented on #81742
@Tyrranny Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-30 05:03] batamig commented on #81707
Hi @SvenAelterman - thanks for your feedback!
Are you looking for data connectors that are deployed via solutions? Please see those listed here: [Azure Sentinel solutions catalog](https://docs.microsoft.com/en-us/azure/sentinel/sentinel-solutions-catalog).
If that's the case, then we might be missing a note directing users to the solutions catalog. We can add that in a coming publish.

[2021-09-30 05:15] SaiKishor-MSFT commented on #81645
@Asolo359 To route internet from one vnet to another vnet, you would need a Network Virtual Appliance (NVA). This document provides steps to Route traffic from one subnet to another through an NVA. If you want to Forward all traffic from one vnet (Vnet-1) through another vnet (Vnet-2), you need a NVA in the Vnet-2 and forward all traffic from Vnet-1's route table to the NVA's IP address in Vnet-2.

[2021-09-30 05:15] #81645 closed

[2021-09-30 05:20] SaiKishor-MSFT commented on #81657
@karlochacon
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stacko

[2021-09-30 05:20] #81657 closed

[2021-09-30 05:22] batamig commented on #68840
closing as page doesn't exist anymore

[2021-09-30 05:22] #68840 closed

[2021-09-30 05:27] AnuragSingh-MSFT commented on #80912
@wjdavis5, thank you for the explanation. Here is what I did and can see the same behavior in my test environment.
1. Create a shared access policy for the queue with "Manage".
2. Use this queue's Connection string [minus] the EntityPath property as the connection string for Function App to the SB.

I will be forwarding this feedback to our content team for further review and modification as appli

[2021-09-30 05:30] ChaitanyaNaykodi-MSFT commented on #81491
Hello @nelroosevelt, Thank you for the feedback. I have made a PR to make the suggested change and is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-09-30 05:30] #81491 closed

[2021-09-30 05:36] mike-urnun-msft commented on #81523
Hello @mbrrg - I agree that  I have tested at least 3 different time zones, all with various forms of punctuations, and they all returned the correct _destination_ time zones without any issues. As such, in order to prevent further confusion, I have removed the statement for now. Once the PR carrying this change is merged & approved, this issue will auto-close.

Thanks again for sharing your feedb

[2021-09-30 05:36] #81523 closed

[2021-09-30 05:58] shashishailaj commented on #81734
@RobertGullick Thank you for your feedback . We will investigate and update this thread.

[2021-09-30 06:02] VikasPullagura-MSFT commented on #81744
@MSFTandrelom
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-30 06:02] VikasPullagura-MSFT commented on #81744
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-09-30 06:03] shashishailaj commented on #81738
@danbu We will investigate and update the thread.

[2021-09-30 06:03] BhargaviAnnadevara-MSFT commented on #81630
@palatter Could you please provide your inputs?

[2021-09-30 06:17] Honglin6270-Li opened #81746 "Does AFD WAF Custom Rule support matching Regex pattern in HTTP Request-Body in JSON type?"
For AppGW WAF, the below is documented in https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview

[2021-09-30 06:17] #81746 closed

[2021-09-30 06:17] Honglin6270-Li commented on #81746
Wrong operation

[2021-09-30 06:21] Honglin6270-Li opened #81747 "Does AFD WAF Custom Rule support matching Regex pattern in HTTP request-body with JSON type?"
For AppGW WAF, the below is documented in https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview
RequestBody – This contains the entire request body as a whole. Custom rules using this match variable are only applied if the 'Content-Type' header is set to 'application/x-www-form-urlencoded'.

Does AFD WAF follow the same?

I tested and observed that it seems A

[2021-09-30 06:39] andreasmarx commented on #79030
Hi @billmath . Is ther any update regarding this? Thanks in advance.

[2021-09-30 06:52] amanmcse commented on #81697
@Ponant Ideally, you should be registering separate application in Azure AD for each of your application. If you register one application for multiple applications, Azure AD will receive same client ID in the request and won't be able to identify if the request is coming from same or different application.
Could you please share your use case, why you want to use same Azure AD App for multiple app

[2021-09-30 06:53] eyast opened #81750 "Circular link"
This page shows a youtube video, in which a short link is provided (aka.ms/Azurepercept8020) which takes back to the very same page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11bbd029-c523-61ad-f859-43d4460f87e2
* Version Independent ID: bbaf13bb-ad0b-f073-2af5-b5204f906742
* Content: [Azure

[2021-09-30 07:00] Ponant commented on #81697
@amanmcse, I do not have a specific case in min and I agree with your remark. The only case I use one app registration is for an app in production and an app in localhost. However, my remark is on the docs, when reading *Application* the reader will most likely think of two apps, instead of two app registrations. So it is better to say, I believe, that

"Application - This setting allows you to ma

[2021-09-30 07:04] Ponant commented on #81697
@amanmcse , my proposed sentence is a bit convoluted but I hope you get the point.

[2021-09-30 07:08] shashishailaj commented on #81734
@RobertGullick Can you confirm that the Subnet resource "Subnet-Test" exists on your side. You can get this error if you have the both of them in different regions as the error suggests.

[2021-09-30 07:11] SubhashVasarapu-MSFT commented on #81747
@Honglin6270-Li, Thanks for reaching out. We will investigate and update this thread.

[2021-09-30 07:14] BhargaviAnnadevara-MSFT commented on #81695
@TinaHanTH Thanks again for the feedback. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-09-30 07:14] #81695 closed

[2021-09-30 07:19] AshokPeddakotla-MSFT commented on #81750
@eyast Thanks for the feedback. Could you share more details about it? I am unable to locate it. Where exactly the above mentioned short link is provided?

[2021-09-30 07:21] AshokPeddakotla-MSFT commented on #81750
..

[2021-09-30 07:31] eyast commented on #81750
In the youtube video that's embedded in the page

From: AshokPeddakotla-MSFT ***@***.***>
Sent: Thursday, 30 September 2021 5:20 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Eyas Taifour ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Circular link (#81750)

@eyast<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Feyast&data=04%7C01%7Ceya

[2021-09-30 07:38] shinojsn commented on #81512
Good Morning Jose,

I am unable to access the private link

Thanks
Shinoj

On Wed, 29 Sept 2021 at 10:13, Jose Moreno ***@***.***> wrote:

[2021-09-30 07:47] aralvar opened #81751 "How to move from Rejected to Pending"
The document doesn't explain how to move from Rejected to Pending status.
Many customers need to pause access to the PE temporally (because of management window on the service behind the PE) and then provide access again.
This is possible through PowerShell/CLI:

$pe = Get-AzPrivateEndpoint -Name MyPrivateEndpoint -ResourceGroup TestResourceGroup -Location centralus
Change your status from Rejecte

[2021-09-30 07:52] amanmcse commented on #81697
@Ponant  Sent below changes for review and merger:
  - **Application** - This setting allows you to maintain a user session exclusively for an application, independent of other applications, **where each application has its own application principal registered in the directory**. For example, you can use this setting if you want the user to **interactively** sign in to Contoso Pharmacy regardless

[2021-09-30 07:53] CHEEKATLAPRADEEP-MSFT commented on #81169
Hi @jayendranarumugam,

What permissions we need to check on the IAM or Vault access and for Which App ?

By default, every subscription has a AzureDatabricks application registered.

![image](https://user-images.githubusercontent.com/79183421/135410798-21a06311-e5d5-4161-a13f-7b4b46f7807b.png)

You need to grant access policy to the AzureDatabricks application as shown below:

![image](https://us

[2021-09-30 07:53] #81169 closed

[2021-09-30 08:01] Ponant commented on #81697
I do not want to bother much but here my comments:

1) "where each application has its own application principal registered in the directory"
This is assuming that each app registration will have one application, whereas this is only a recommendation, not mandatory.
For a user, each app registration allows for multiple redirect uri together with an "add platform" button, so the portal invites you

[2021-09-30 08:03] jayendranarumugam commented on #81169
Hi @CHEEKATLAPRADEEP-MSFT exactly ! Can the author can update the [original docs](https://docs.microsoft.com/en-us/azure/databricks/kb/security/troubleshoot-key-vault-access) with this much clarity ? I didn't create this issue because I don't know the solution. I know the solution before :) I created this issue which is a kind of a feedback to include this much clarity like
- Verify the Get and Li

[2021-09-30 08:04] brolifen opened #81753 "Misleading information on using Identity Protection with an AAD P1 license."
When you go to configure Identity Protection with an AAD P1 tenant you will see an information banner at the bottom saying:
"This view is for Azure AD Premium P2 customers to setup user risk policy. Other customers can only disable policies here."

This is confusing as it seems to imply that you can only enable or disable the default policy but not change it. However the "Enforce Policy" toggle is

[2021-09-30 08:10] amanmcse commented on #81697
@Ponant Sure, I will make required changes.

[2021-09-30 08:10] #81697 closed

[2021-09-30 08:25] vijetajo commented on #81692
@gary918 confirming you see the issue with CLI but it is working fine through portal?

[2021-09-30 08:35] #81576 closed

[2021-09-30 08:38] AnuragSharma-MSFT commented on #81634
@wenzho215 Thats right and thanks for responding back. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-30 08:41] GitaraniSharma-MSFT commented on #81751
@aralvar , thank you for your feedback. We'll review this and get back to you shortly!

[2021-09-30 08:50] stephlocke opened #81756 "Java SDK v4 inclusion"
There is now Bulk support in the Java SDK, albeit at beta level. This gives support for the latest SDK version and should be mentioned in the opening guidance about what packages to use.

https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-sdk-java-v4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f942c792-655

[2021-09-30 08:59] guyrleech opened #81758 "Extraneous " on code sample line"
This line has an extraneous " at the end of it which will cause a PowerShell syntax error

Get-AzResourceMoverUnresolvedDependency -MoveCollectionName "PS-centralus-westcentralus-demoRMS" -ResourceGroupName "RG-MoveCollection-demoRMS" -DependencyLevel Descendant"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a56a91-

[2021-09-30 09:01] guyrleech opened #81759 "Use $subscriptionId instead of xxxxxxxx-xxxx-xxxx-xxxx xxxxxxxxxxxx"
Example PowerShell code line has xxxxxxxx-xxxx-xxxx-xxxx xxxxxxxxxxxx but other lines use $subscriptonId so change it to this to keep it consistent and easier to run the code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a56a91-9a2a-645d-c89d-b9c5142adb00
* Version Independent ID: 59167a01-f1eb-0a0c-9a6b-b450411fc0b

[2021-09-30 09:11] SadiqhAhmed-MSFT commented on #81758
@guyrleech Thanks for the feedback.

This part is causing the error "RG-MoveCollection-demoRMS" -DependencyLevel Descendant" ?

[2021-09-30 09:24] CHEEKATLAPRADEEP-MSFT commented on #81169
@jayendranarumugam Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the screenshot.

@leifbro Could you please create a pull request to add an image for clarification?

[2021-09-30 09:26] ssivas commented on #80659
@AsiaWatson ,
This is the expected behavior whereas you can always disable the mapping for roles at application level and the manually assign roles in SolarWinds.
![image](https://user-images.githubusercontent.com/57458999/135425880-d6fab505-d1de-47b3-9a2f-1a305bdb8faf.png)

#please-close

[2021-09-30 09:26] #80659 closed

[2021-09-30 09:31] RHooijer opened #81760 "Storage Blob contributor role does not exist (anymore)"
The Storage Blob contributor role does not exist, I believe it should be Storage Blob Data contributor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e129fb-ad18-ca97-d020-aaf5c6b2c74f
* Version Independent ID: d7a88d51-9803-f308-3517-01dfbcf12f5d
* Content: [Store Vulnerability Assessment scan results in a storage

[2021-09-30 09:32] shashishailaj commented on #81753
@brolifen Thank you for your feedback . We will investigate and update the thread.

[2021-09-30 09:33] torpedo888 opened #81761 "stop translate the site to hungarian language thanks"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e869d
* Content: [Concepts - Kubernetes basics for Azure Kubernetes Services (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/con

[2021-09-30 09:40] mithunshanbhag opened #81762 "Possible to send multiple emails via a single sendGrid output binding?"
I need to send multiple emails (each with different content, recepients etc) via a single sendGrid output binding.

However, from reading the documentation, I cannot tell if this is a supported scenario. Can someone clarify?

FWIW, output bindings for CosmosDB, ServiceBus etc will allow multiple output documents and messages respectively.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-09-30 09:44] bNobo opened #81763 "Invalid certificate on www.contoso.com"
It is not possible to use the URL https://www.contoso.com/delete_my_data provided in the tutorial because the SSL certificate is invalid. So Facebook refuse to save the modification.

![facebook app registration capture](https://user-images.githubusercontent.com/11414291/135428672-ae503e41-6f67-44fd-91aa-45dc76245544.png)

The reason is the certificate has been issued for *.oneroute.microsoft.com

[2021-09-30 09:48] juyamagu opened #81764 "Confusing statement as if Load Balancer has "connection reuse" functionality"
This is a suggestion for correcting a sentence in order to eliminate misreading.

## Problem statement

As per this statement in the docs, it looks like Load Balancer offers a function so called [connection reuse] for preventing SNAT port exhaustion, however, it doesn't. This statement just means that we need to care about the implementation of our applications not to overuse SNAT ports by means o

[2021-09-30 09:51] SaiKishor-MSFT commented on #81764
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-09-30 09:56] octavianbalaban opened #81766 "Enter_the_Cloud_Instance_Id_Here URI update"
[Enter feedback here]
Hi,

Please correct the link on the :

Enter_the_Cloud_Instance_Id_Here |  The Azure cloud instance in which your application is registered. For the main (or global) Azure cloud, enter **https://login.microsoftonline.com**. For national clouds (for example, China), you can find appropriate values in National clouds.

The correct link should rather state: **"https://login.micr

[2021-09-30 10:02] SadiqhAhmed-MSFT commented on #81759
@guyrleech Thanks for the feedback. We will review this with the content owner and update as required.

[2021-09-30 10:24] hterik commented on #33157
Our team has bee banging heads against the wall for almost two days with this issue on V2_WAF.  Doesn't help that deleting and provisioning an appgw takes 15 minutes each and the error messages usually just say "Failed" or "InternalServerError" without any more explanation.

We finally solved it by allowing the Virtual Network for the AppGW in the KeyVault Networking Firewall.
In conclusion the **

[2021-09-30 10:50] wjdavis5 commented on #80912
Thank you!

On Thu, Sep 30, 2021 at 1:28 AM AnuragSingh-MSFT ***@***.***>
wrote:

[2021-09-30 10:57] ichivers opened #81769 "Metrics for online meetings"
Online video meetings are expensive and there's no metrics on them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 426147c9-58f9-f4b4-6823-6ac8932e2dc2
* Version Independent ID: 00962066-baa9-35b7-c78e-336aa4e104d6
* Content: [Metric definitions for Azure Communication Service - An Azure Communication Services concept

[2021-09-30 10:57] guyrleech commented on #81758
Yes, the quotation mark right at the end of the line.

Regards,

Guy

On Thu, 30 Sept 2021 at 10:11, SadiqhAhmed-MSFT ***@***.***>
wrote:

[2021-09-30 11:03] Trymzet commented on #23238
The portal still produces a useless error message:
![image](https://user-images.githubusercontent.com/23084949/135443806-7ef7e8a0-3000-4155-8d30-5b64dd1e202e.png)

[2021-09-30 11:09] keen85 commented on #75689
@Oury-MSFT , @bonova  - four month later, still no reply... :(

[2021-09-30 11:33] SHIFTSOFT-Inc commented on #39496
unable to successfully create a sendgrid account for development reasons

[2021-09-30 11:39] SnehaAgrawal-MSFT commented on #81769
@ichivers Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-30 12:04] RonMatsu commented on #81610
Thanks @kgremban! You always have the answers. I think you helped me with something last spring too. Cheers.

[2021-09-30 12:04] #81610 closed

[2021-09-30 12:15] bartlomiej-stys opened #81770 "UPN vs e-mail for contained users mapped to AD identities"
Under the section [Create contained users mapped to Azure AD identities](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-configure?tabs=azure-powershell#create-contained-users-mapped-to-azure-ad-identities) there is a following statement:

However I can create a user from its primary e-mail address that is not the same as user principal name, but I cannot create a user

[2021-09-30 12:40] egorchabala commented on #33157
This [doc](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs) says that service endpoint is must:
![image](https://user-images.githubusercontent.com/35469381/135456554-20c4c1f8-f018-4a39-806c-93785ed5fb9f.png)
I assume integration will not work if you didn't add a service endpoint.

[2021-09-30 12:40] Help4Access opened #81772 "Move the "a" to the left one word, please."
[Enter feedback here]
The sentence "Azure Data Lake Storage Gen2 is not dedicated a service or account type."
Should read:
"Azure Data Lake Storage Gen2 is not a dedicated service or account type. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b36958c-2337-8140-760f-094c47bf754c
* Version Independent ID: ab8913f5-eb

[2021-09-30 12:45] dheerajkumar-solanki opened #81773 "Error in PARAM_VALUE while creating table on Azure Databricks connect with Azure SQL DB (Hive Metastore)"
While creating table on Azure Databricks on Hive Metastore which is Azure SQL DB.

Metastore Database: Azure SQL DB
Hive Metastore version: 2.3.7
Azure Databricks Run time: 7.3 (LTS)

Error Attached Below:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd45b1c-5d33-f6b3-fd93-230f515afdc9
* Version Independent I

[2021-09-30 12:46] TommyJab commented on #81693
@DerekHerman-MSFT
Thanks to this article "https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/"
we found the solution,
for the spn (windows commandline)-> Setspn -S cifs/"servername".file.core.windows.net "servername"
for password (Powershell commandlet)-> Set-ADAccountPassword -Identity servername$  -Reset -NewPassword (ConvertTo-SecureString -AsPlainText “Password” -For

[2021-09-30 12:49] TommyJab commented on #66817
Thanks to this article "https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/"
we found a solution,
for the spn (windows commandline)-> Setspn -S cifs/"servername".file.core.windows.net "servername"
for password (Powershell commandlet)-> Set-ADAccountPassword -Identity servername$  -Reset -NewPassword (ConvertTo-SecureString -AsPlainText “Password” -Force)

Best regards,

[2021-09-30 12:50] TommyJab commented on #72871
Thanks to this article "https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/"
we found a solution,
for the spn (windows commandline)-> Setspn -S cifs/"servername".file.core.windows.net "servername"
for password (Powershell commandlet)-> Set-ADAccountPassword -Identity servername$  -Reset -NewPassword (ConvertTo-SecureString -AsPlainText “Password” -Force)

Best regards,

[2021-09-30 12:50] TommyJab commented on #73016
Thanks to this article "https://blog.azureinfra.com/2021/02/07/offline-ad-domain-join-for-azure-files/"
we found a solution,
for the spn (windows commandline)-> Setspn -S cifs/"servername".file.core.windows.net "servername"
for password (Powershell commandlet)-> Set-ADAccountPassword -Identity servername$  -Reset -NewPassword (ConvertTo-SecureString -AsPlainText “Password” -Force)

Best regards,

[2021-09-30 13:00] AnuragSharma-MSFT commented on #81756
@stephlocke Thank you for the feedback. Mostly because it is still in beta hence the document is not updated with sdk 4.x version. However I am tagging the content author as well for correct understanding.

@tknandu Can you please confirm if the bulk executor in java sdk 4 version is still in beta as the document mentions it is not supported in version 4.x?

![image](https://user-images.githubuser

[2021-09-30 13:01] AnuragSharma-MSFT commented on #81760
@RHooijer Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-30 13:03] AnuragSharma-MSFT commented on #81770
@bartlomiej-stys Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-30 13:05] psmanhas commented on #81761
@torpedo888 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-30 13:05] psmanhas commented on #81761
@mlearned Can you please check and add your comments on this doc request as applicable

[2021-09-30 13:10] psmanhas commented on #80258
Closing the issue for now we will reopen it once we have more information.

[2021-09-30 13:10] #80258 closed

[2021-09-30 13:15] uredkar opened #81774 "Use Case for Tumbling Window Triggers"
Please provide use case where Tumbling Windows Triggers are appropriate. It is not clear from this documentation that the Triggers and Pipeline are connected. One gets the impression that the new pipeline will run only if the previous run of the pipeline is completed. In practice the trigger is not aware of the pipeline run but only cares of the trigger run. Meaning trigger runs are independent of

[2021-09-30 13:16] MonikaReddy-MSFT commented on #81745
@v-ryamada - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-30 13:20] tbertenshaw opened #81775 "Servicebus Standard => Premium migration, missing details."
I think this migration document is missing some details. It doesn't for example say if all `shared access policies` in the originating `servicebus` are migrated or not? This is obviously an important issue otherwise all applications will break?

Additionally if the premium servicebus already exists and sas tokens are migrated then presumably the existing `RootManagedSharedAccessKey` will be change

[2021-09-30 13:54] SvenAelterman commented on #81707
Hi @batamig, probably so. I arrived at this page from the link you provided on the Tech Community Grand List article. Having everything in one place is very important for the field. I would like to be able to press Ctrl+F on a page and type in "vendor" or "product" and find it quickly while on calls with customers. I can't always recall whether an integration exists via a connector or a broader so

[2021-09-30 14:02] shashishailaj commented on #81772
@Help4Access Thank you for catching this . We will have this updated .

[2021-09-30 14:08] robinintegration opened #81778 "Azure AD Authncontextref"
- [Azure AD]
Id like to leave feedback in regards to the allowed authncontextref for SAML2.0, as of right now the only allowed class is 'password'.

Is it all possible to ask for any of these any time soon?
XMLDSig, TLSClient, Kerberos, Windows?

[2021-09-30 14:19] guyrleech opened #81779 "PowerShell cmdlet missing"
The PowerShell line:

"RG-MoveCollection-demoRMS" -MoveCollectionName "PS-centralus-westcentralus-demoRMS"  -MoveResource “PSDemoRM”

which is in point 2 "Initiate the move of the source resource group" of the section "Prepare the source resource group:" is missing a PowerShell cmdlet at the start of the line and -ResourceGroupName before "RG-MoveCollection-demoRMS" . I don't know what the missing

[2021-09-30 14:30] rpalves commented on #73016
That may well be it!
Would love to reproduce the issue and try it out, but at the moment I don't have scenario to test it.

Thank you Tommy!

[2021-09-30 14:42] Help4Access commented on #81772
Thank you for providing great documentation!

Kind Regards,
Sasha Froyland
Director of Business Development & Partnerships
(Direct) +1 (415) 228-1900 | (Cell) +1 (425) 535-2885 | Online Calendar<https://www.help4access.com/schedule/>
help4access.com
***@***.******@***.***>

From: ShashiShailaj-MSFT ***@***.***>
Sent: Thursday, September 30, 2021 7:03 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc

[2021-09-30 14:46] xigolle commented on #51708
Same issue. Refreshing the app-service **doesn't** fetch newest value.
I need to make a change in the config of the app service and save that. It will ask for a refresh and that will trigger it.

[2021-09-30 14:49] Pryorite commented on #81598
@brjohnstmsft - I think I was looking at it wrong.  Seems the ismatch matches full works not contains.  As in the Address part would have to be Drive or Dr to get anything back on the and condition.  Does that sound about right to you?

[2021-09-30 14:54] mike-urnun-msft commented on #81762
Hello @mithunshanbhag - Thank you for your feedback! We will review and update as appropriate.

[2021-09-30 15:09] shashishailaj commented on #81766
@octavianbalaban Thank you for your feedback . We will investigate and update the thread.

[2021-09-30 15:10] BhargaviAnnadevara-MSFT commented on #81779
@guyrleech Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-30 15:12] #81215 closed

[2021-09-30 15:14] mike-urnun-msft commented on #81775
Hello @tbertenshaw - Thank you for your feedback! We will review and update as appropriate.

[2021-09-30 15:14] MarileeTurscak-MSFT commented on #81763
@bNobo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-30 15:16] #81321 closed

[2021-09-30 15:41] avolcoff commented on #12948
I solved a similar issue by adding a DefaultValue attribute to a new custom attribute that I added
e.g.
`<OutputClaim ClaimTypeReferenceId="role" DefaultValue="" />`

[2021-09-30 15:42] spelluru commented on #81191
Thanks @serkantkaraca for looking into the issue.

@bitmasksn - please feel free to contact if you have more follow up questions. Thanks.

#please-close

[2021-09-30 15:42] #81191 closed

[2021-09-30 15:44] JackStromberg commented on #76572
Thank you for reporting this @kaletkamk; I've updated the document to be consistent with the table; can confirm Application Gateway v1 supports /images* and the rule would execute for a request such as /imagesabc for example.

Jack

#please-close

[2021-09-30 15:44] #76572 closed

[2021-09-30 15:46] spelluru commented on #81322
@arunvijay808 - Thanks for the feedback. I remove the link from the TOC. We will work on creating a security baseline article specific to Relay and publish it. For now, please check articles under Concepts -> Security and How To -> Security. Thanks.

#please-close

[2021-09-30 15:46] #81322 closed

[2021-09-30 15:49] DarshanPathak45 opened #81780 "Not able to connect to AKS Kubernetes dashboard"
[Enter feedback here]
I follow instruction on below page but not able to get AKS Dashboard, I used to able to connect through those steps but getting below error
https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

Error as Below,
error: failed to create clusterrolebinding: clusterrolebindings.rbac.authorization.k8s.io "kubernetes-dashboard" already exists
I tried to delete and create

[2021-09-30 15:51] barclayn commented on #77703
@santhoshbomma9  Thanks for your submission. As we have not heard back I am closing this issue. If you have additional details please let us know.  #please-close

[2021-09-30 15:51] #77703 closed

[2021-09-30 15:54] MarileeTurscak-MSFT commented on #81778
@robinintegration
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-30 16:06] mimckitt commented on #81691
The purpose of the applies to section is to show users that docs are applicable to Linux Distros, Windows Distros or scale sets uniform/ flexible. I see you're point but that's not exactly what we are using that section for. So at this point I am not going to add it into the applies to section. I appreciate the feedback and we are continuing to look at improving the applies to section so I will ad

[2021-09-30 16:06] #81691 closed

[2021-09-30 16:09] barclayn commented on #78033
@poyadav2001 thank you for your submission. We are addressing this internally. #please-close

[2021-09-30 16:09] #78033 closed

[2021-09-30 16:22] pjmlp commented on #81691
Today I learned FreeBSD is a scale sets uniform/ flexible, oh well.

[2021-09-30 16:23] hobozero opened #81782 "Typo in copy"
[Enter feedback here]
Small typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd28ed3-76d0-f9d0-dbff-f29db6fe8b3d
* Version Independent ID: b0ca2e70-d558-d562-2a66-0d07fef5ef6a
* Content: [Configure an OpenID Connect provider (Preview) - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/configure

[2021-09-30 16:45] SadiqhAhmed-MSFT commented on #81712
@ashkickindevelopment Looking forward to receive more details from you to help you further.

[2021-09-30 16:46] v-gpettibone commented on #81674
@ms-vincent You are correct. I was confused as to which article you were talking about when you mentioned pfx. Now it makes sense. I didn't write the code, so I'll look closer and see what the best thing to do is here. Thanks.

[2021-09-30 16:48] himanshusinha-msft commented on #81773
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-30 16:53] himanshusinha-msft commented on #81774
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-30 16:53] MarileeTurscak-MSFT commented on #81778
I believe this feedback might have to go to the SAML/Oasis team. If there is a specific document you are referencing, please create a new issue under that document so that the product team can address it in context.

[2021-09-30 16:53] #81778 closed

[2021-09-30 16:53] Grace-MacJones-MSFT commented on #81782
Thanks for your feedback! We will review and update this doc accordingly.

[2021-09-30 16:55] KranthiPakala-MSFT commented on #81730
Hi @SweetsNSavories,
Confirmed with Product team that ADF uses paging-cookie to retrieve all the records (all the pages).

Hope this info helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-09-30 16:55] #81730 closed

[2021-09-30 16:57] ms-vincent commented on #81674
no problem.

The recommendation that I made in my original post will fix all of that. If you add in the steps to convert the .crt file into .pfx as part of the "Using OpenSSL" instructions, then the steps in this doc make sense and you will just have to copy and paste the location of where that .pfx file is into the code.

The reason that this particular issue wasn't noticed is probably because th

[2021-09-30 16:58] everspader opened #81783 "Command to get credentials for Azure/login GitHub action is not sufficient in this page"
[Enter feedback here]

Using the command `az ad sp create-for-rbac -o json` is not sufficient to generate credentials for `azure/login` action because this required a `clientSecret` and `clientId` and `tenantId` as seen [here](https://github.com/Azure/login/blob/6bc1b5ecb97c62c523edc56f8da91d422a1c2efc/README.md#configure-deployment-credentials). If this values are not passed, the action will fail

[2021-09-30 16:59] rolyon commented on #78872
#please-close

[2021-09-30 16:59] #78872 closed

[2021-09-30 17:21] rwike77 commented on #81742
@Tyrranny  The call to Microsoft Graph is performed in the Pages/Graph-MSI/Index.cshtml.cs file, in the public async Task OnGetAsync() method.  In the article, there's a link to the full sample app: https://github.com/Azure-Samples/ms-identity-easyauth-dotnet-storage-graphapi/tree/main/3-WebApp-graphapi-managed-identity .  So you can see exactly how it works.  I can add a little more info to the a

[2021-09-30 18:00] samuelkilada opened #81787 "Typo in overview"
There's a typo at the top of this page:

"This quickstart shows how to send messages to a Service Bus topic and **receive messages a subscription** to that topic by using..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-196f-fed8-7300-b9823c1031d

[2021-09-30 18:01] SaurabhSharma-MSFT commented on #81579
@vishnu254 Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let send an email to azcommunity[at]microsoft[dot]com with your **subscription id** with this issue link and subject as "Attn: Saurabh' and I will help providing a free support ticket for

[2021-09-30 18:01] #81579 closed

[2021-09-30 18:35] mmiller786 opened #81788 "Typo - PyhsicalIds should be PhysicalIds"
[Enter feedback here]

Physical is spelled wrong for PhysicalIds on the left.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcc79933-58e1-66d1-81ae-f43802d41223
* Version Independent ID: 5be1fefc-356e-d1eb-ab97-8cbe5654ff43
* Content: [Filters for devices as a condition in Conditional Access policy - Azure Active Dire

[2021-09-30 18:47] #81357 closed

[2021-09-30 18:56] MarileeTurscak-MSFT commented on #81788
@mmiller786
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-30 18:57] MarileeTurscak-MSFT commented on #81788
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/174146

[2021-09-30 18:57] #81788 closed

[2021-09-30 19:06] rtsanchez42 opened #81789 "Please provide Excel version of the Cloud Service Compliance Matrix"
Can you provide a downloadable excel file of these service/certification matrix? I often need to update internal guidance in excel form as this table changes and could REALLY use an Excel version - I know you have it...can you provide a download?

I represent the Army Cloud Management Agency - thanks in advance. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-09-30 19:25] shashishailaj commented on #81772
Glad to know that you like our documentation . A lot of credit also goes to community members like you who help us keep them updated. We sincerely than you for the same. We have fixed the same.

Thank you .

[2021-09-30 19:25] #81772 closed

[2021-09-30 19:29] shashishailaj commented on #81766
@j-mantu Could you please review and help on this request.

[2021-09-30 19:31] #81734 closed

[2021-09-30 19:35] mihaj commented on #34451
Hello everyone!

Today I was struggling with this and finally solved it. It's weird, not sure why `ASPNETCORE_URLS` or `NETCORE_URLS` are not loaded when set in the Azure portal Application settings. They are not loaded on my development machine if I change the `launchSettings.json` What did change it though is the `urls` parameter in the configuration. For example, in `appsettings.json` I set it

[2021-09-30 19:53] shashishailaj commented on #81701
@tspivakms We have made the changes and sent it for review to the content team and they will update once they have more information.

[2021-09-30 19:54] #81701 closed

[2021-09-30 19:56] SamaraSoucy-MSFT commented on #81380
Since I have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-30 19:56] #81380 closed

[2021-09-30 19:56] SwathiDhanwada-MSFT commented on #81587
Assigning to content author @dnethi for review.

[2021-09-30 19:59] shashishailaj commented on #81289
@dandavey This has been fixed and the change will be available in the next 24 hours on public documentation .

[2021-09-30 19:59] #81289 closed

[2021-09-30 20:04] kyschouv opened #81790 "Helm chart publish to ACR instructions need to be updated for Helm 3.7.0"
Helm 3.7.0 removes the `helm chart` commands, and these are widely referenced in the documentation for pushing helm charts to ACR. The documentation needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e08339-390f-ccfa-885c-2643722bd186
* C

[2021-09-30 20:06] shashishailaj commented on #81679
@OverengineeredNetwork If this happened once in your environment , it may be possible that the logs pertaining to this may be present and can be found, though I am not sure of that . This may need deeper troubleshooting . I would request you to send me an email referencing this thread with a subject ATTN:shashi to azcommunity [at] microsoft [dot] com and we will help you with alternative support o

[2021-09-30 20:06] #81679 closed

[2021-09-30 20:09] SamaraSoucy-MSFT commented on #81787
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-30 20:17] SamaraSoucy-MSFT commented on #81696
I've escalated this to the product team to see if we can update the error message to something more useful.

[2021-09-30 20:17] shashishailaj commented on #80972
@dkershaw10 We are closing this thread as this is fixed.

[2021-09-30 20:17] #80972 closed

[2021-09-30 20:23] SamaraSoucy-MSFT commented on #81787
I've sent a PR request to the docs team. It should go live once the review process is completed.

[2021-09-30 20:23] #81787 closed

[2021-09-30 20:26] jikuja opened #81791 "Documentation should have a table of supported scope combinations"
Documentation should have a table of supported scope combinations explaining what kind of combinations are supported or not.

E.g. When when doing deployment to a resource group it is not supported to create role assignments for resources residing in some other resource groups directly by setting extension resource scoping. If that is tried bicep will fail with

or instead of table limitation shou

[2021-09-30 20:28] shashishailaj commented on #80971
@jovasco This change have been updated and published. We will now close this issue.

[2021-09-30 20:28] #80971 closed

[2021-09-30 20:31] SwathiDhanwada-MSFT commented on #81625
@RezaMahmood Thanks for your valuable feedback. I have made necessary changes to the documentation. Once the changes are approved, it will be live soon.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-09-30 20:33] meenalsri commented on #76684
We recommend Storage Blob Data Contributor role so that the user can leverage full set of Synapse capabilities such as Spark Notebooks and Spark Jobs. This role is required to write to the storage account, unless the user plans to leverage advance capabilities such as TokenLibrary to override the identity used to run a Spark Notebook or job.

Thanks!

[2021-09-30 20:34] meenalsri commented on #76684
@julieMSFT can this issue be closed please? I have responded to the comment/question.

[2021-09-30 20:36] shashishailaj commented on #80474
@msmimart Could you please help on modifying this content . This is still a preview article and I am not sure if there are any other changes that may need to go in this at this point .

[2021-09-30 20:48] Wibusts opened #81792 "Refresh Token process unclear:"
[Enter feedback here]

On this article we are advise to user a previous step **"perform the same hidden iframe request we used in an earlier example"**, which is confusing for people only reading refresh token area.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa063fd-3b2d-e00d-c382-9ca749254616
* Version Independen

[2021-09-30 20:51] SwathiDhanwada-MSFT commented on #81591
@yutaro113  Thanks for your feedback. Requested information is documented [here](https://docs.microsoft.com/en-us/azure/architecture/best-practices/auto-scaling). Kindly check it out and provide your suggestions.

[2021-09-30 20:51] #81625 closed

[2021-09-30 20:52] paulbatum commented on #81253
Some notes to help with writing this content:

The source of truth for the minimum required version for the extension/bundle is this file:
https://github.com/Azure/azure-functions-host/blob/v4.x/src/WebJobs.Script/extensionrequirements.json

The errors that are thrown include the following link, so an appropriate aka.ms link should be setup and should point to the doc content.
https://aka.ms/func-

[2021-09-30 20:52] sidramadoss commented on #81727
@NestorJavier - we are working on updating SDKs to use the latest APIs. Unfortunately no precise timeline just yet but should happen in the coming months.

[2021-09-30 20:55] Grace-MacJones-MSFT commented on #81782
@hobozero  thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2021-09-30 20:55] #81782 closed

[2021-09-30 21:00] meenalsri commented on #79047
@andoius Thank you, this issue will be fixed within the week.

[2021-09-30 21:00] meenalsri commented on #79047
@julieMSFT please close the issue.

[2021-09-30 21:01] SwathiDhanwada-MSFT commented on #81407
Assigning to content author @bwren for doc-enhancement.

[2021-09-30 21:02] meenalsri commented on #76684
#please-close

[2021-09-30 21:02] #76684 closed

[2021-09-30 21:04] lynshi opened #81793 "Helm v3.7.0 changed many commands"
Current documentation for [pushing a Helm chart to ACR](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos#save-chart-to-local-registry-cache) is outdated with the release of [Helm 3.7.0](https://github.com/helm/helm/releases/tag/v3.7.0). For example, `helm chart save` has been replaced with `helm package`, and `helm chart push` with `helm push`. Please take a

[2021-09-30 21:05] meenalsri commented on #79047
#please-close

[2021-09-30 21:05] #79047 closed

[2021-09-30 21:12] Grace-MacJones-MSFT commented on #75879
Our deep apologies for the delayed response. if you are still facing this issue please send us an email offline at azcommunity@microsoft.com with the subject ATTN: Grace and in the body of the email include your Azure Subscription ID and a link to this thread so we can help you open a support ticket. Thanks!

[2021-09-30 21:12] #75879 closed

[2021-09-30 21:14] Grace-MacJones-MSFT commented on #77682
Our deep apologies for the delayed response. if you are still facing this issue please send us an email offline at azcommunity@microsoft.com with the subject ATTN: Grace and in the body of the email include your Azure Subscription ID and a link to this thread so we can help you open a support ticket. Thanks!

[2021-09-30 21:14] #77682 closed

[2021-09-30 21:20] Grace-MacJones-MSFT commented on #77693
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2021-09-30 21:29] Grace-MacJones-MSFT commented on #81791
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-30 22:30] Karishma-Tiwari-MSFT commented on #81604
The FAQ talks about the AAD support - "Azure Virtual Desktop doesn't support Azure AD guest user accounts."

While [this doc ](
 https://docs.microsoft.com/en-us/azure/virtual-desktop/remote-app-streaming/licensing) talks about Remote App streaming for external users. Remote App streaming access provides the AAD free service. It doesn't provide any features that would come with AADP1/P2. However d

[2021-09-30 22:31] #81604 closed

[2021-09-30 22:56] Oury-MSFT commented on #81527
@venuvinod4477 Please let us know if you have further questions.
Regards,
Oury

[2021-09-30 23:57] oscarhermoso commented on #81696
Even better ☺️ thanks @SamaraSoucy-MSFT

[2021-10-01 00:08] #80443 closed

[2021-10-01 00:09] Karishma-Tiwari-MSFT commented on #81367
Remote App streaming access provides the AAD free service. The basic AAD is free unless you need additional features (like say MFA / Conditional Access). It doesn't provide any features that would come with AADP1/P2. However due to the licensing construct of Remote App Streaming for external users, you'll need to confirm with [business desk/sales](https://azure.microsoft.com/en-us/overview/contact

[2021-10-01 00:09] #81367 closed

[2021-10-01 00:11] Karishma-Tiwari-MSFT commented on #81439
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-10-01 00:11] #81439 closed

[2021-10-01 00:12] Karishma-Tiwari-MSFT commented on #81647
Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-10-01 00:12] #81647 closed

[2021-10-01 00:13] stevevi commented on #81789
Thanks, @rtsanchez42 for checking.  We don't have an Excel version of the Services in audit scope article.  This article is the only source we maintain.  Adding @Jain-Garima for visibility.

[2021-10-01 00:29] Karishma-Tiwari-MSFT commented on #81780
Thanks for the question. We are currently investigating and will update you shortly.

[2021-10-01 00:30] Karishma-Tiwari-MSFT commented on #81783
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-01 00:31] Karishma-Tiwari-MSFT commented on #81790
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-01 00:32] Karishma-Tiwari-MSFT commented on #81793
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-01 00:38] jalithlal opened #81799 "Typo error - written SLB in place of BLB"
"This SLB has no SLA" This sentence needs update as "This BLB has no SLA"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a03366-6bf3-c687-d9e4-39eb8774d3a2
* Version Independent ID: ac420896-0070-59b1-6a76-376c3ed22875
* Content: [Networking patterns for Azure Service Fabric - Azure Service Fabric](https://docs.micro

[2021-10-01 01:27] AshokPeddakotla-MSFT commented on #81750
@eyast I have assigned the issue to the SME to evaluate and update as appropriate.

[2021-10-01 01:48] Karishma-Tiwari-MSFT commented on #81799
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-10-01 02:04] GavinJin8 opened #81801 "When on-prem address space (ExR private peering or s2s tunnel) is not a rfc1918 address space, then the non-rfc 1918 addresses would be regarded as two different service tag: VirtualNetwork and Internet at the same time."
[Enter feedback here]
Hi,

When on-prem address space (ExR private peering or s2s tunnel) is not a rfc1918 address space, then the non-rfc 1918 addresses would be regarded as two different service tag: VirtualNetwork and Internet at the same time.

Assume that there is  NSG rule has denyoutboundinternet rule(deny outbound to "internet" service tag) , then it would be blocking egress traffic  to on

[2021-10-01 02:14] Bazul99 opened #81802 "Bad suggestion for a per deployment unique value using utcNow"
This page suggests using utcNow() function to generate a unique value by using it in conjunction with uniqueString but unfortunately utcNow() function can only be used as a parameter default value in a bicep file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36b1f58-7fc9-7d2f-108d-0a5c7c0c7c67
* Version Independent

[2021-10-01 02:18] AdamDube opened #81803 "ResourceScope and DirectoryScopeId for New-AzureADMSRoleAssignment"
[Enter feedback here]
In the "Assign the custom role using PowerShell" PowerShell snippet, there is a slight mistake about one of the argument 'ResourceScope' but it should be 'DirectoryScopeID'.
It should be :
$roleAssignment = New-AzureADMSRoleAssignment -DirectoryScopeId $resourceScope -RoleDefinitionId $roleDefinition.Id -PrincipalId $user.objectId
instead of
$roleAssignment = New-AzureADMSRol

[2021-10-01 03:16] KrishnaG-MSFT commented on #81422
At this point it appears that no updates are required for referred Azure document so closing this issue for now. If there are any further queries w.r.t the referred Azure document then please let us know so we can continue the discussion. Thanks.

[2021-10-01 03:16] #81422 closed

[2021-10-01 03:30] YutongTie-MSFT commented on #81556
@AbeOmor Hello, could you please check on this issue and update the document if needed? Thanks.

[2021-10-01 03:44] SumanthMarigowda commented on #81513
@mikerodionov  The PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-01 03:44] #81513 closed

[2021-10-01 04:19] BhargaviAnnadevara-MSFT commented on #81630
@Abhishekchauhan23 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-10-01 04:23] Abhishekchauhan23 commented on #81630
Great, thanks for the update.

On Fri, Oct 1, 2021 at 9:49 AM BhargaviAnnadevara-MSFT <
***@***.***> wrote:

[2021-10-01 04:42] GaurangRLB commented on #24942
Any progress on this?

[2021-10-01 04:50] vipulsparsh commented on #81792
@Wibusts Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-10-01 04:51] vipulsparsh commented on #81803
@AdamDube Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-10-01 05:17] lgayhardt commented on #80866
Sorry for the delay and thanks for bring this to our attention. I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1882404) to update the grafana plugin doc and added it our backlog. We will update this thread when the work is complete.

FYI @rboucher

#please-close

[2021-10-01 05:34] AmitavaHazra opened #81804 "Azure AD B2C capability query"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/service-limits

Total number of requests per Azure AD B2C tenant | 12,000/min

1. If my requirement is to have 15000 authentication/read/write/any call per second in a azure ad b2c tenant then do MS customize settings to fulfil this requirement ?
2. If supports, is there any proof point which can be assessed before making final

[2021-10-01 07:06] pacherf opened #81805 "Ensure different app registration options are highlighted as OPTIONS"
Hi,

thanks for the great documentation!
However, it would be helpful on the present page to highlight that the different options regarding the app registration are optional (e.g. include "Option 1: Create a new app registration automatically", "Option 2: Use an existing registration created separately" ... in the headers)
Unfortunately, the font sizes of the headers within the rendered markdown h

[2021-10-01 07:06] SteveHernou commented on #75627
Additionally I have found the following not working either when using Azure AD group based role assignment to assign the Exchange Admin role.

- Adding an alias smtp address on a Microsoft 365 group via the M365 admin portal/Teams&Groups
-  Changing the primary SMTP address of a Microsoft 365 group via the M365 admin portal/Teams&Groups

As soon as I add the individual account to the Exchange Admi

[2021-10-01 07:22] ram-msft commented on #80081
Please raise an issue in the Quick-start code https://github.com/Azure-Samples/cognitive-services-quickstart-code/issues.

[2021-10-01 07:35] ram-msft commented on #81281
@AlphaBun Thanks for the Details. Yes, We have created backlog item to update document on the managed identity support.

@jhirono Could you please update the document for managed identity support clarity for datastores.

[2021-10-01 07:37] SaiKishor-MSFT commented on #81801
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-10-01 08:38] MilanKrocek opened #81808 "Get-DPMSampleScript - Redirection doesnt work/pointed to wrong resource"
[Hello,

I just find out the PS samples redirection is not working. It is nothing important:

PS C:\Program Files\Microsoft Azure Backup Server\DPM\DPM\bin> **Get-DPMSampleScript**
Once you hit Enter you are redirected to http://blogs.technet.com/ which is not exist anymore.
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-10-01 09:18] TonnyWildeman opened #81810 "Docker compose options that are supported have strict syntax limitations"
Please add the following to the supported options section:

The following syntactical limitations were found by trial and error using the Docker Compose -> combine task in Azure DevOps.
_The outputted syntax from that task is not accepted by the Web App multi container launcher. Probably the implementation that is coded with YamlDotNet does not adhere to the syntax definition as defined for the do

[2021-10-01 09:34] SnehaAgrawal-MSFT commented on #81805
@pacherf Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-01 09:35] SnehaAgrawal-MSFT commented on #81810
@TonnyWildeman Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-01 09:45] iBobb commented on #81647
That makes sense, thank you @amenarde!

[2021-10-01 09:47] ingridxinzhuo163 opened #81811 "Samples in Python"
Thanks for the amazing documentation. It will also be helpful if we could have more example using Python, something like  using a session/client as a global variable, that gets instantiated from the first invocation requiring the session object, which generally speaking is considered an anti-pattern in python (not sure if this applies "best practices").

---
#### Document Details

⚠ *Do not edit t

[2021-10-01 09:55] Benjiiim opened #81812 "Publisher Verification error not documented in the error list"
It seems that we can face the following error when trying to complete the publisher verification through the Azure portal:

Would it be possible to document this error and the potential cause here?
For information, this error has been exposed to someone with Global Administrator rights.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-10-01 10:35] tshaiman opened #81813 "Great Tutorial → too complex"
[Enter feedback here]

The content is excellent and should be used as "Tutorial" not as content description.
For this content "Importing from Public registries" I would suggest to use much simple flow : just show us how
to clone a public image from DockerHub into Azure Container registry , in order to meet compliance requirement.

use case : as 1st party user of Azure ( MS internal team) we are on

[2021-10-01 10:37] psmanhas commented on #81813
@tshaiman Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-10-01 10:37] psmanhas commented on #81813
@SteveLasker
Can you please check and add your comments on this doc update request as applicable

[2021-10-01 10:39] robert4os opened #81814 "Wrong link under Next Steps (10 min ML tutorials)"
Under Next Steps
the text 'Run the 10-minute tutorials using your favorite ML libraries' is linked to something unrelated not corresponding to the link text/ML.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f41568-e2b1-2f7f-62f8-d63d230ba5d9
* Version Independent ID: b697ab11-568c-6f00-1abb-80da3023cf62
* Content: [

[2021-10-01 10:45] SadiqhAhmed-MSFT commented on #81808
@MilanKrocek Thank you for the feedback. We will review the content and update the documentation as appropriate.

@v-amallick FYI

[2021-10-01 10:49] mohsinis opened #81815 "Failover group location"
The "failover group" location is under the "Data management" section and in this document, you mentioned it is under the "Setting" section.
![issue](https://user-images.githubusercontent.com/4574904/135607919-fbbc6c03-7f9c-4d7c-98ff-cffba44f64ec.png)
. This required an update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-10-01 11:10] SwathiDhanwada-MSFT commented on #81802
@Bazul99 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-10-01 11:31] erjosito commented on #81512
It has already been merged, so you can check the new paragraphs in the public link: https://docs.microsoft.com/azure/architecture/example-scenario/gateway/firewall-application-gateway. I tried to keep them short, so that the focus stays on inbound HTTPS flows. Still, do they clarify your questions better?

[2021-10-01 11:31] CHEEKATLAPRADEEP-MSFT commented on #81619
@KrystinaWoelkers  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-01 11:31] #81619 closed

[2021-10-01 11:31] CHEEKATLAPRADEEP-MSFT commented on #81687
@vijayrajah  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-01 11:31] #81687 closed

[2021-10-01 11:36] CHEEKATLAPRADEEP-MSFT commented on #81814
@robert4os  Thanks for the feedback! We are investigating and will update you shortly.

[2021-10-01 11:50] vipulsparsh commented on #81804
@AmitavaHazra Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-10-01 11:50] vipulsparsh commented on #81812
@Benjiiim Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-10-01 12:46] cephalin commented on #81740
@yutaro113 actually it's already been reflected, it's just that the drive letter is no longer spelled out, but using `%SystemDrive%` instead. It's much better for customers to use that instead of hardcoding drive letter in their implementation. #please-close

[2021-10-01 12:46] #81740 closed

[2021-10-01 12:55] baatch commented on #74826
@R1k91
I did not create a top level folder first but now I have created the project top level folder.

But how can I call a specific branch from Data Factory? There is no subfolder for branch as you mentioned?

[2021-10-01 13:10] wcrivelini opened #81817 "Wrong APIversion"
This page shows an ARM template (purviewtemplate.json) referencing the preview API instead of current version
api-version=2021-07-01 (check https://docs.microsoft.com/en-us/rest/api/purview/operations/list)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b186247a-173e-6dc4-dd42-da7b5f948c4a
* Version Independent ID: 4ed

[2021-10-01 13:15] gfraiture commented on #78591
@Jejiang Is there any news ? any ETA ?

[2021-10-01 13:22] rafatecoy opened #81820 "Storage account requirements should be more clear at documentation"
Hello!

I'm working in a case which customer has requested help to set this extension to store data in a storage account located in a different subscription, because at portal screen (shown below) only storage accounts at same subscription can be selected:

![image](https://user-images.githubusercontent.com/88101130/135625543-5be8d643-9833-4463-882b-4ebfae2ad2db.png)

The problem is that using a j

[2021-10-01 13:23] DCtheGeek commented on #81207
@fleckert I've fixed this in the manual examples and updated the script.  The next time it's run by the team, the generated samples will also be properly escaped.  This issue will automatically close when I merge the PR, and the publish will happen at a later point in the day. Thanks for pointing this out!  cc/ @georgewallace

[2021-10-01 13:23] #81207 closed

[2021-10-01 13:34] SrijitBose-MSFT commented on #81475
@chiraggowda , any updates on this?

[2021-10-01 14:07] yutaro113 commented on #81740
@cephalin thank you very much for the confirmation!
Ah yes, English version seems to have already been updated.!I've just confirmed Japanese version and there it's still mentioned as "D:¥home". Will wait for this update to be reflected to Japanese version as well..! Sorry.

1 last question, for the webapps currently see drive letter as "D", will it be changed to "C" in the future?
or only newly cr

[2021-10-01 14:08] amanmcse commented on #81792
@Wibusts Thank you for your feedback. I have assigned it to the author to make required changes.

[2021-10-01 14:15] amanmcse commented on #81804
@AmitavaHazra For points 1. and 2., please open a support ticket as it may require business justification and engagement of the product group.
**Is there any limitation of user count in single Azure AD B2C tenant?**
No, there is no limitation of user count in B2C tenant. Directory object limitations exists only of standard Azure AD tenants, not B2C tenants.

[2021-10-01 14:15] #81804 closed

[2021-10-01 14:37] MonikaReddy-MSFT commented on #81820
@rafatecoy -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-01 14:38] MonikaReddy-MSFT commented on #81690
@compunited -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-01 14:40] terrymandin opened #81821 "FQDN in Connection String will not work with Test Certificates"
If test certificates are used the FQDN of the transparent gateway will not work in the connection string as per this section: [Retrieve and modify connection string](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-authenticate-downstream-device?view=iotedge-2020-11#retrieve-and-modify-connection-string).  The user will need to place the machine name and ip address in the hosts file on the c

[2021-10-01 14:46] mike-urnun-msft commented on #81811
Hello @ingridxinzhuo163 - Thank you for your feedback! We will review and update as appropriate.

[2021-10-01 14:48] DCtheGeek commented on #80926
@mhyon Just as a note, I'm updating the script today to use the new `AzureCliCredential()` method from the `azure.identity` library. That should also resolve your issue.

[2021-10-01 15:05] DCtheGeek commented on #81464
FYI @georgewallace

[2021-10-01 15:10] prasad3017 opened #81822 "CloudAdmin Permissions"
The remote user must have sufficient permissions to perform the pairings. An easy way to ensure this is to give that user the VRM administrator and SRM administrator roles in the remote vCenter. For a remote Azure VMware Solution private cloud, **cloudadmin is configured with those roles.**

This is not configured and I had to explicitly provide permission

---
#### Document Details

⚠ *Do not edi

[2021-10-01 15:13] drdamour opened #81823 "Updating Multiple Key Values"
article states

but often azure functions are shut down and started by the scale controller in an unpredictable manner...so it seems very possible the time sequence is this:
* T0 - app config setup with sentinel 1
* T1 - function app instance 1 starts up gets all config form T0
* T2 - change to app config key X to new value (expecting to coordinate consistently with change to config Y)
* T3 - scal

[2021-10-01 15:16] mdrakiburrahman opened #81824 "`WorkloadManagement` is not documented even though it's available in Diagnostic Setting:"
`WorkloadManagement` is not documented even though it's available in **Diagnostic Setting**: [link](https://docs.microsoft.com/en-us/azure/azure-sql/database/metrics-diagnostic-telemetry-logging-streaming-export-configure?tabs=azure-portal#diagnostic-telemetry-for-export)

Azure Portal:
![image](https://user-images.githubusercontent.com/46581776/135644932-6b2adcb7-2cbb-42b7-9e1e-8af8bcaff3fd.png)

[2021-10-01 15:18] MustAl-Du opened #81825 "Wrong variable name 'accessToken'"
There is an error in this documentation under the section "Get Azure AD access token" point 5.

The current statement is "...which is saved to the variable accessToken automatically."

The statement should be "...which is saved to the variable bearerToken automatically."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2021-10-01 15:30] ajkimberley opened #81826 "Potentially Incorrect Package Reference"
In the code sample following the text "The following example shows a Functions 3.x C# function that binds to an EventGridEvent" there is a using statement to "Azure.Messaging.EventGrid;". I believe this is here to allow access to the EventGridEvent class. However, when I attempted to follow this example, I kept getting the following runtime error:

`InvalidOperationException: 'Can't convert from t

[2021-10-01 15:36] elfcounsel opened #81827 "Can ANF Backups be done on CRR DP volumes?"
Can ANF Backups be done on CRR DP volumes? It would be good to have that indicated on this page as a consideration.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3adc5ad5-f883-1941-81f7-163fcb537eb4
* Version Independent ID: e15d47ba-403c-5dd3-d9da-52cbee574fb8
* Content: [Requirements and considerations for

[2021-10-01 15:50] rb-cloud-guru opened #81828 "Azure Resource Graph for Cost Management"
Hi,
Wondering we cant use something like Azure Resource Graph explorer with Cost.
Yes i am aware of the APIs!!!
Thank you

[2021-10-01 16:06] mumian commented on #81802
@Bazul99 - thank you for your comments.  I think the suggestion is ok, but need to remind people that utcnow() can only used to set parameter default value. Here is a example:

param uniqueValue string = uniqueString(utcNow())
output uniqueValue string = uniqueValue

I will update the article later today.

#please-close

[2021-10-01 16:06] #81802 closed

[2021-10-01 16:39] SaurabhSharma-MSFT commented on #81825
@MustAl-Du Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-01 16:40] SaurabhSharma-MSFT commented on #81815
@mohsinis Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-01 16:43] MisinformedDNA opened #81831 "Clarify assumptions about Data Factory"
There are assumptions about Data Factory in the tutorial that make it hard to follow, particularly, in Step 4:

Clarify what the "self-hosted integration runtime" is.

Add a link to the documentation on how to do an Express install.

This is the first time ADF is mentioned. Add a step earlier in the tutorial to create a ADF instance.

NOTE: To anyone else who is confused, check out https://docs.mi

[2021-10-01 16:55] MustAl-Du opened #81832 "Script Error - Get AAD Token"
There is an error in the code snippet under the section "Get Azure AD Access Token".

This line of code "@name getAADToken"
Should be corrected to "# @name getAADToken"

The screenshot (black screen) provided below the code is correct and has the hash already in front of the @name variable.

Thanks,
Mustafa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-10-01 17:00] brjohnstmsft commented on #81598
@Pryorite StackOverflow really is your best bet for getting help troubleshooting this.

[2021-10-01 17:18] originalnetadmin opened #81833 "Subnet specification for cluster IP"
It is not specified anywhere in the document that the front-end Load balancer IP should be on the same subnet as the IP address of the VM. Customer tried to set up IP on a separate subnet and this failed. Please add this to the section below. A suggested verbiage change (in bold) is provided below.

a. First, create a front-end IP pool:

   i. Open the load balancer, select frontend IP pool, and s

[2021-10-01 17:22] b-juche commented on #81827
Thanks, Win. Reaching out to the team to get an answer.

[2021-10-01 17:24] SumanthMarigowda commented on #81568
@rpilot  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-01 17:28] MGoedtel commented on #81600
Hi @Klaas- I'm not sure I understand exactly what your bringing up as an issue with this article and that section covering classifications. If your point is that the details returned when querying the updateinfo for that particular patch aren't correct, that's is based on what's described in the OVAL file, which we don't modify or have any control over.  Update Management is a consumer of it by re

[2021-10-01 17:28] #81600 closed

[2021-10-01 17:48] rajeshsetlem commented on #76819
@cbattlegear , Support for AG DNN listener is back ported all the way to SQL Server 2016 SP3 (https://support.microsoft.com/en-us/topic/kb4578579-improvement-availability-group-listener-without-the-load-balancer-in-sql-server-2016-2017-and-2019-81d27666-5c58-ad47-c83c-48ab7a5d959d).

[2021-10-01 17:49] johncrim opened #81834 "Will DependencyAgent be updated to use AMA instead of Log Analytics agent"
This page provides some guidance on using Azure Monitor Agent (AMA) over the Log Analytics (OMI) agent. Which sounds good to me - given the recent security issues with OMI, and difficulty I've had debugging and configuring it in the past, I'm happy to focus our efforts on an agent that will be maintained + supported into the future.

From testing AMA in place of the OMI agent, the glaring gap is t

[2021-10-01 18:03] MarileeTurscak-MSFT commented on #81642
Yes, it should be the very first sync. I'm assigning this to the author to address the topic in the document as needed.

[2021-10-01 18:07] MGoedtel commented on #81329
@jaspkaur28 - can you please review and provide your insights.

[2021-10-01 18:13] jalithlal commented on #81799
Thanks Karishma. I have edited it and it is in review with the author.

On Thu, 30 Sept 2021 at 21:48, Karishma Tiwari - MSFT <
***@***.***> wrote:

--

Thanks,
Jalith

[2021-10-01 18:14] harrynode commented on #60273
This is still broken. Doesn't work when creating with new Containers either.

Any workarounds?

[2021-10-01 18:17] paikend opened #81836 "example code not use 'import cmd'"
https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python#create-the-sample-code
example code not use `import cmd`.
it need to remove.
---
#### Document Details
⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8d39c7-f55b-70e2-d99e-6fccb3b5ad34
* Version Independent ID: f6714300-fd05-f95b-6afe-182e250fd180
* Content: [Quickstar

[2021-10-01 18:20] Cisien opened #81837 ""Set up Azure Functions - Azure Custom Providers" document did not lead me to success."
This documentation does not sufficiently cover the steps needed to create an azure function that can be deployed as a read-only ZipDeploy. The linked article on how to get started with azure functions does not go into detail on how to deploy using any other method.

The current version of the visual studio publishing tooling does not allow for any other option except for ZipDeploy.

If the azure f

[2021-10-01 18:32] CarlosMendozaB commented on #81703
Few days back privatelink.purviewstudio.azure.com was introduced to in this other document:
https://docs.microsoft.com/en-us/azure/purview/catalog-private-link
"Ensure that a new Azure Private DNS Zone (privatelink.purviewstudio.azure.com) is created during the deployment of the portal private endpoint, and that a corresponding A record (web) exists in the the Private DNS Zone."
I believe this con

[2021-10-01 18:37] mayankkthr commented on #81694
Thanks to Azure support team for finding out the issue.
This is the response that I received from them.

 It seems the issue is caused by the new ingress-nginx/ingress-ngnix helm chart release it has been fixed by using version 3.36.0 instead of the latest (4.0.1):

helm upgrade -i nginx-ingress ingress-nginx/ingress-nginx \
--version 3.36.0 \

(Or)

# Use Helm to deploy an NGINX ingress controlle

[2021-10-01 18:37] #81694 closed

[2021-10-01 19:06] v-videba opened #81840 "Self signed certificate"
If a Self signed certificate is used, the user needs to add it on the Trusted Root Certification Authorities for LDAPS to work with LDP.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c522b7abf0
* Version Independent ID: cbd84d9f-fbfd-d97d-9826-26947f64d18a
* Content: [Tutorial - Configure

[2021-10-01 19:18] MonikaReddy-MSFT commented on #81828
@rb-cloud-guru - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-01 19:30] minadaoud opened #81841 "Vaults replication text issue"
Under the vault replication section, there is this sentence:
"Locally redundant storage (LRS): To protect against failure in a datacenter, you can use LRS. LRS replicates data to a storage scale unit"

I guess this is a mistake as LRS does not protect against a datacenter failure because all replicas are in the same data center?
Ref: https://docs.microsoft.com/en-us/azure/storage/common/storage-re

[2021-10-01 19:47] SadiqhAhmed-MSFT commented on #81841
@minadaoud Thank you for the feedback. We will review the document with the content owner and update it as appropriate.

[2021-10-01 19:47] Karishma-Tiwari-MSFT commented on #81822
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-01 19:49] anthfuller opened #81843 "ExpressRoute FAQ"
Sentence misspelling. See below and look at "If you a.."

"Public peering
Public peering has been disabled on new ExpressRoute circuits. Azure services are now available on Microsoft peering. If you a circuit that was created before public peering was deprecated, you can choose to use Microsoft peering or public peering, depending on the services that you want."

https://docs.microsoft.com/en-us/a

[2021-10-01 20:07] indranil-chakraborty-thd opened #81844 "Code sample error"
There is an error in the AZ CLI code sample. See current code sample screenshot below.
![image](https://user-images.githubusercontent.com/69918654/135680221-0d056392-e248-45d7-afb2-065f222bbd47.png)

The 'create' command is missing, a \ after the resource group name is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-10-01 20:13] duongau commented on #81843
Hello @anthfuller, thank you for reporting this to us. I have made the necessary changes so the sentence should make better sense now. Please let me know if you have any other concerns, for now I will be closing this issue. #please-close

[2021-10-01 20:13] #81843 closed

[2021-10-01 20:14] v-gpettibone commented on #81674
Agreed. I added the conversion command to the Next Steps section of the https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-openssl (Using OpenSSL to create test certificates).

Please close both issues when you get a chance unless you find other items.

[2021-10-01 20:18] RBVieira opened #81845 "Integration between APP Gateway and API Management"
Hey, guys.

Just to understand better the architecture recommended in this page. Could I reach the same result if I deployed the API Management inside an Azure virtual network (in the external mode) and use Restrict caller IPs policies to filter which APIs I will permit to be used or not by external/internal users? If yes, I did not understand very well in which scenario this configuration is more

[2021-10-01 20:18] Klaas- commented on #81600
@MGoedtel I was not sure where else to put it. My point is that you're parsing the oval incorrectly, at least that would be my guess. What I can say for sure is that the errata presented to me does not apply to the kernel I am running.

[2021-10-01 20:29] davetapley commented on #81387
@SubhashVasarapu-MSFT I see that variables for `username` and `password` are passed in to `ipsec`, but it's not obvious where the the actual username and password come from?
i.e. do I make up a username and password, e.g. `dave` and `mysecretpassword123`?

[2021-10-01 20:36] MarileeTurscak-MSFT commented on #81836
@msmbaldwin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-01 20:40] anthfuller commented on #81843
No problem, I work for Microsoft and want to make sure all our work is great!

[2021-10-01 20:47] ssivas commented on #81840
@v-videba ,  Yes, you are right If a Self signed certificate is used, the user needs to add it on the Trusted Root Certification Authorities for LDAPS to work with LDP.exe

![image](https://user-images.githubusercontent.com/57458999/135684250-ce793cb6-1a60-4a15-a60f-109f6827a972.png)

[2021-10-01 21:03] wpcarroll opened #81848 "Databricks REST API does not support cross-origin request"
Can the documentation be updated with note to state that the Databricks API does not currently support cross-region request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b5fd38-af0a-12e9-e8f8-3e57bcbc273f
* Version Independent ID: f3a0cfcb-99eb-77c4-c888-4045d5d93947
* Content: [REST API 2.0 - Azure Databricks](htt

[2021-10-01 21:04] SatishBoddu-MSFT commented on #81821
Hello @terrymandin Thanks for the feedback.

Our SME will review your feedback soon.

[2021-10-01 21:05] SatishBoddu-MSFT commented on #81821
#

[2021-10-01 21:15] jjadta opened #81849 "Suggestion for clarifying the SAP client library section"
[Enter feedback here]

Hi,

Regarding the section:

For a logic app workflow that runs in multi-tenant Azure and uses your on-premises data gateway, copy the assembly files to the data gateway installation folder.

As someone who is not a Windows developer, it might be helpful to provide an example of what assembly files are, or be more specific and just say 'copy the DLL files'.  Also, since the

[2021-10-01 21:17] MarileeTurscak-MSFT commented on #81836
I made a pull request to update this as it does not look like it is used here. I'm not sure if it was intended for use somewhere though so I will leave this open for @msmbaldwin to review.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/174327

[2021-10-01 21:17] #81836 closed

[2021-10-01 21:19] DerekHerman-MSFT commented on #81844
Thanks for reporting this. I have created a PR to fix this and the changes should go live later today.

[2021-10-01 21:23] v-videba commented on #81840
Correct.  Appreciate the update on the documentation

Victor De Bastos H
Senior Support Engineer
Azure | Identity
Working hours: M 10:00am - 7:00pm UTC-6, T 8:00am - 5:00pm UTC-6, W-F 7:00am - 4:00pm UTC-6
Manager: Eric Burgos / ***@***.******@***.***>

Can't reach me? Contact Azure Support Backup / ***@***.******@***.***>

From: SivaKumarSelvaraj-MSFT ***@***.***>
Sent: Friday, October 1, 2021 2:

[2021-10-01 21:44] jjcv2304 opened #81850 "Using common endpoint to Grant Consent on Behalf of Users"
I've tried to use the common end point to Grant Consent on Behalf of Users inside a NET Framework app, similar to the URL: https://login.microsoftonline.com/common/adminconsent?client_id=6731de76-14a6-49ae-97bc-6eba6914391e&state=12345&redirect_uri=http://localhost/myapp/permissions extracted from the _Pro tip: Try pasting the following request in a browser._ section of the page.

But when I do th

[2021-10-01 21:47] MonikaReddy-MSFT commented on #81817
@wcrivelini - Thanks for brining this to our attention. We will investigate it further and update you shortly.