[2020-01-07 07:44] dcurwin commented on #45693
#reassign:srinathvasireddy

[2020-01-07 07:45] MaRX8nka commented on #45122
with "you" I meant Microsoft :)

[2020-01-07 07:49] KrishnaG-MSFT commented on #44283
@azhar787 Okay! Do you mind sharing the case ID number so that I can also try to track on the updates and would provide an comment here if required.

[2020-01-07 08:11] thecpshah commented on #45574
Ok. I will try these steps and revert back.

However, ADF documentation points to same SFMC API that I am trying to use. Is there a version issue between ADF and SFMC?

[2020-01-07 08:12] cthomasberg opened #45697 "Dead link"
The Understanding Azure Storage Billing - Bandwidth, Transactions, and Capacity link is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a05ea89e-d4d4-fc01-0519-93a337dd2182
* Version Independent ID: c1e1d3da-3e85-49f1-6570-a8f2bd1dfea4
* Content: [Use Azure Storage analytics to collect logs and metrics data](https:

[2020-01-07 08:19] github2alfred commented on #34275
no HA solution (not BCP solution) for SQL MI?

[2020-01-07 08:28] dzajda commented on #45543
@mike-urnun-msft I've tried to follow these docs:
- https://docs.microsoft.com/en-us/azure/search/search-howto-index-json-blobs
- https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=azure-portal
- https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal

Unfortunately, they cover the scenarios with the public storage and I'm struggling with

[2020-01-07 08:36] neeleshray-msft commented on #45691
@john-louden  We have made the edit to the document and it should reflect soon.

[2020-01-07 08:40] Expecho opened #45698 "Map to portal"
How do there user accounts map to the portal? Does "Create Azure AD B2C user" (in the portal) map to a consumer user, "Create user" to a work account and  "Invite user" to a Guest user? The difference in naming makes it a little bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c3a0683-4cf6-ddd2-8f7f-15374

[2020-01-07 08:46] azhar787 commented on #44283
@KrishnaG-MSFT Sure thing!! 119121123001479

[2020-01-07 08:59] MCL-Fulljames commented on #43633
Im also encountering this issue

[2020-01-07 09:04] KalyanChanumolu-MSFT commented on #45690
@kazshi Thank you for the feedback.

Restoring a deleted database to PIT is possible via Powershell. Steps are [here](https://techcommunity.microsoft.com/t5/azure-database-support-blog/restoring-deleted-database-to-specific-point-in-time/ba-p/368954)

@anosov1960 Should the document be updated accordingly?

[2020-01-07 09:10] KrishnaG-MSFT commented on #45590
@guntaled I believe no changes to Get-AutomationConnection cmdlet. Now the note in the link https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azureautomationconnection?view=azuresmps-4.0.0&viewFallbackFrom=azuresmps-3.7.0  states "The requested page is not available for azuresmps-3.7.0. You have been redirected to the newest product version this page is available for".

[2020-01-07 09:12] ralish commented on #45606
@MicrosoftGuyJFlo Neither this issue nor the original issue has been correctly addressed. I'm unclear why this discussion needs to be continued on email versus GitHub, particularly given the problem has been well documented. Regardless, I'll send you an email so we can hopefully get to a resolution.

[2020-01-07 09:23] ram-msft commented on #45499
Select-AzSubscription is alias but not cmdlet. The cmdlet of that alias Select-AzSubscription is Set-AzContext.
![image](https://user-images.githubusercontent.com/49180516/71883861-46564580-315d-11ea-8897-b4c143ab8b9c.png)
Please follow the below document for Set-AzContext.
https://docs.microsoft.com/en-us/powershell/module/az.accounts/set-azcontext?view=azps-3.2.0

[2020-01-07 09:25] mslot commented on #45304
Thanks for answering. What I am refering to when I say proxy, is this: when i deploy a ASP.NET Core app to a regular webapp i can use two modes:

1. inprocess - the ASP.NET Core is hosted inside IIS
2. out of process - IIS proxy HTTP calls to Kestrel

Both is using IIS: 1) IIS handles everything and in 2) IIS is used as a proxy. But when it comes to "webapp for containers" i dont have the IIS, as

[2020-01-07 09:25] neeleshray-msft commented on #45698
@Expecho  Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 09:29] Noirde commented on #45071
Mine is slightly different. Especially the identity provider for me is not live.com, but also sts.../<tenant-id>. Followed this tutorial - https://developers.sap.com/tutorials/cp-azure-ad-saml.html.

`    <Assertion xmlns="urn:oasis:names:tc:SAML:2.0:assertion"
               ID="_718927ef-7105-4baa-84c5-74b8b0b46600"
               IssueInstant="2020-01-07T09:22:48.487Z"
               Version="2

[2020-01-07 09:52] SwathiDhanwada-MSFT commented on #45427
@azhar787 This channel is mainly for documentation changes.As there are no further changes, we recommend you to post this on [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=DataMarket) or  create a [support ticket](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) as it requires further analysis.

If you don't have support plan,

[2020-01-07 09:52] #45427 closed

[2020-01-07 09:52] AndyBunning opened #45699 "Wrong NuGet package assigned."
When using the latest version of Visual Studio and following the steps in "Step 2: Setup your Visual Studio solution", a .Net Core Console App is created so requires the Microsoft.Azure.DocumentDB.core package rather than the Microsoft.Azure.DocumentDB NuGet package.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63670

[2020-01-07 09:57] AshokPeddakotla-MSFT commented on #45561
@aysemutlu Have you made any changes to the code which leads to this error? Just to confirm, are you able to view the data arriving at your IoT hub?

I would suggest you, check the [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) and see if it helps to identify the root cause.

[2020-01-07 10:00] nwipfli commented on #41937
Is this code 5000811 now documented somewhere ?

[2020-01-07 10:02] msrini-MSFT commented on #45688
@cogran , Yes, this feature is still in Preview. Let me know if you have any further questions.

[2020-01-07 10:05] PramodValavala-MSFT commented on #45625
@rambabu0063 I don't believe there is a separate `endpointType` of `AzureFunction` as [documented](https://docs.microsoft.com/en-us/azure/templates/Microsoft.EventGrid/2019-06-01/eventSubscriptions#eventsubscriptiondestination-object). It is simply a special case of a webhook handler.

More on how to use deploy using ARM and the corresponding inclusion in the docs is discussed in this issue - Micr

[2020-01-07 10:05] #45625 closed

[2020-01-07 10:08] michalmlaka opened #45700 "Log parameters from MlFlow"
Hi, thanks for this option to use mlFlow with Azure ML. Std. use case in mlFlow is to log not only metrics but parameters of run too. And then you can compare it in one chart.

I have log_metric and log_model in my code and it works fine. Unfortunately, log_parm doesn't work. And I cant see my parameters in Run attributes. Is there another way how to do this?

I tried to replace it by set_tags({})

[2020-01-07 10:10] tanieee28 commented on #44894
@mbialecka Sorry for delayed response.

Yes, its a fresh deployment and what i was expecting is that local blob module should create the local blob container by itself and should not through above logs stating that it is not able to find it.

However, With some help i was able to resolve this by using Azure storage explorer. So, i connected the storage explorer with the local blob storage using th

[2020-01-07 10:25] webash commented on #42535
The general guidance of ignoring certificates should never be done. It undermines the certificate trust system. It shouldn't matter what assumptions can be made about the configuration of the remote endpoint; the whole point of certificates is that if one is being offered for the name you expect, you have some trust that those names have been validated out of band.

Your assumption about there bei

[2020-01-07 10:41] ram-msft commented on #45640
@stammd Please use the Form Recognizer Service Uri/<Endpoint> with the endpoint URL of your Form Recognizer resource from the Azure Portal. Please share the error details that you are facing.
![image](https://user-images.githubusercontent.com/49180516/71889438-2710e580-3168-11ea-98ed-013b5ba9f17b.png)

[2020-01-07 10:52] RohitMungi-MSFT commented on #45700
@michalmlaka Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-07 10:52] fvanrijt opened #45701 "Staged PTA Rollout information is missing"
Can you update this article to include the new staged roll-out capabilities for PTA or a least provide a pointer to this new preview mode: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b704969-b273-9466-6498-b259141bdd75
* Ve

[2020-01-07 10:54] fvanrijt opened #45702 "Staged Migration to PHS information"
Can you include the new staged feature (preview) of PHS rollout into this document:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57bc474a-a353-984d-3440-144c3444b100
* Version Independent ID: 20ec9d72-24f7-ec32-4c68-f36a5d796

[2020-01-07 10:55] michalmlaka commented on #45700
Thanks, @RohitMungi-MSFT . There is a small typo here in my Q. Its log_param().

[2020-01-07 11:02] mamba219 commented on #31027
Triggers through Az SQL DB is not implemented yet!

[2020-01-07 11:03] ChrisSommers opened #45703 "Activating through Azure Firewall"
I'm having problems activating Azure Marketplace VMs when their Internet access is through an Azure Firewall. I receive the 0xC004F074 error.
The Firewall has an Application Rule Collection and rule allowing 'https:1688' to 'kms.core.windows.net' and, using netstat, I can see established TCP1688 connections to an IP address to which kms.core.windows.net resolves.
When I change the UDR such that th

[2020-01-07 11:12] DixitArora-MSFT commented on #45699
Hi @AndyBunning Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-07 11:12] aniketshintre opened #45704 "Documentation"
Download PDF function seems to be broken for this page. request your attention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecfca52d-a392-f63c-ffe1-268d4c480cee
* Version Independent ID: 4010709b-99e5-f0ed-adb4-8f9cc3899862
* Content: [SQL - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/spark/l

[2020-01-07 11:14] DixitArora-MSFT commented on #45696
Hi @alohaninja Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 11:15] DixitArora-MSFT commented on #45697
Hi @cthomasberg Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 11:33] VikasPullagura-MSFT commented on #45650
@anmtando I have reached out to the team internally, will update here once I hear back.

[2020-01-07 11:43] JeremyTCD opened #45705 "Unable to retrieve details of the existing app my_test_app_name. Please check that the app is a part of the current subscription"
Document's example doesn't work.

I followed the instructions using powershell:

[code]

Error:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [QuickStart: Create a static HTML web app - Azure App Service](htt

[2020-01-07 11:46] fratei opened #45706 "Follow the instructions to configure the Hadoop path on Windows."
The instructions URL points to a Page Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3642022f-a58f-6290-ecf1-3c551a9bfc96
* Version Independent ID: cf117e4e-c261-858c-517e-04d67e44c35e
* Content: [Databricks Connect - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-co

[2020-01-07 11:47] spitfire184 opened #45707 "Internet connectivity for VMs behind Standard Internal Load Balancer"
&gt;&gt;When only an internal Load Balancer serves virtual machine, availability set, or virtual machine scale set, outbound connections over default SNAT aren't available. Use outbound rules instead.

So far as I can tell, from reading up on this issue and working in the GUI and through Azure CLI, this information is incorrect. Outbound rules cannot be applied to internal load balancers and they

[2020-01-07 11:47] RohitMungi-MSFT commented on #45523
@h164654156465 We have internally provided feedback to out PG team for a C# sample.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-07 11:48] KalyanChanumolu-MSFT commented on #45472
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-07 11:48] #45472 closed

[2020-01-07 11:53] SubhashVasarapu-MSFT commented on #45707
@spitfire184 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-01-07 12:03] evmimagina commented on #18737
Hi @TravisCragg-MSFT , you closed the issue but I'm affected, any news on this?

Thanks,

[2020-01-07 12:06] SubhashVasarapu-MSFT commented on #45598
@danmyhre , We have assigned this issue to the content author for updating the document accordingly. @cherylmc , Could you please provide your insights here?

[2020-01-07 12:07] spitfire184 commented on #45707
Many thanks. This is one of the sources I read that seems to contradict the advice regarding adding outbound rules to the Internal Load Balancer: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections

[2020-01-07 12:10] dcurwin commented on #45693
Thanks for the feedback. The document has been changed accordingly.

#please-close

[2020-01-07 12:10] #45693 closed

[2020-01-07 12:10] michevnew opened #45708 "Enable requests and assignments"
The current version of the feature has "Enable requests and assignments" toggle instead of "Enable request", can you please update the documentation accordingly? In particular, can you confirm whether setting this to No disables the package for both end users and admins alike?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-07 12:11] marcusmills opened #45709 "End user protection (preview) - forces Mobile App as MFA method"
The End user protection (preview) policy does not just **default** to "Mobile App" its the **only** option available unless users specifically skip the configuration and go straight to [https://aka.ms/MFASetup](https://aka.ms/MFASetup)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c

[2020-01-07 12:19] dooleydo opened #45710 "Clarity on AD FS SCP configuration"
This statement (particularly the last sentence)...

 "If you are using AD FS, you first need to configure client-side SCP using the instructions mentioned above but linking the GPO to your AD FS servers. The SCP object defines the source of authority for device objects. It can be on-premises or Azure AD. When this is configured for AD FS, the source for device objects is established as Azure AD."

[2020-01-07 12:21] giovanni-d opened #45711 "REST API limit is different for the Free Tier"
If you are using the Free Tier (F0), your requests are going to be limited at 20 requests per minute (same as the trial subscription).
The 25 requests per 5 seconds is only for S0 (standard subscription).

This page should be edited to show the real REST API limit for the free tier. Hoping to save others time and frustration by getting this information added to the FAQ as we were told multiple tim

[2020-01-07 12:29] amanmcse commented on #45698
@Expecho  The recommended method to create consumer accounts in Azure AD B2C is by using sign-up option provided by the user flow. Consumer identities are used to access the B2C applications and not Azure Portal. However, if you want to allow users to access Azure Portal for administration/management purpose, you would need to create an account by clicking on New User/ New Guest user option under

[2020-01-07 12:32] rrizwann opened #45712 "Access our local machine folder through azure webapp"
Hi,

We have web app service testappvpn and there is functionality to write file into local network folder

Initially we are following this article to create Vnet and Hybrid connections to access our local folder but we are getting "Access denied" error
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

can you please tell me how can we resolve this error to access o

[2020-01-07 12:40] maciejng commented on #6350
Issue still is occurs. From the ipConfigurations section of a networkInterface:
"loadBalancerBackendAddressPools": [
                                {
                                "id": "[if(equals(parameters('dedicatedbastionhost'), 'no'),concat(parameters('lbID'), '/backendAddressPools/', parameters('backendAddressPools')),json('null'))]"
                                }

[2020-01-07 12:43] fplaten opened #45713 "Pin to dashboard"
Is there a way to pin the retention metrics to a custom Azure dashboard? I can do it with the funnel reports, but not with my retention metrics.

thanks,
florian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824425b1-8de0-9f48-9349-ed17f9d21c66
* Version Independent ID: c8a9cce0-dfd1-d327-536f-5e6eae450f18
* Content:

[2020-01-07 13:08] jeremyklamer opened #45714 "How can service plan switch only take seconds"
There is a line on this page:

"The scale settings take only seconds to apply and affect all apps in your App Service plan. They don't require you to change your code or redeploy your application."

Does that mean switching from S tier to P tier for example also only take a couple of seconds or will this take longer? I am inclined to believe that different tiers represent different types of hardwa

[2020-01-07 13:12] SnehaAgrawal-MSFT commented on #45511
@hisathya Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-01-07 13:32] Expecho commented on #45698
So, there is no way to add a consumer user without a sign-up policy using the portal?

[2020-01-07 13:37] dany74q commented on #12292
Update: It seems that cross-partition queries, counts and updates (that is, w/o specifying the shard key) are now supported for the 3.6 cosmosdb mongo engine - **very** cool !

[2020-01-07 13:38] DixitArora-MSFT commented on #45701
Hi @fvanrijt Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 13:39] DixitArora-MSFT commented on #45702
Hi @fvanrijt Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 13:41] DixitArora-MSFT commented on #45703
Hi @ChrisSommers Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 13:42] DixitArora-MSFT commented on #45704
Hi @aniketshintre Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 13:44] DixitArora-MSFT commented on #45709
Hi @marcusmills Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 13:45] DixitArora-MSFT commented on #45708
Hi @michevnew Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 13:46] RyanHill-MSFT commented on #45357
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-07 13:46] #45357 closed

[2020-01-07 13:46] DixitArora-MSFT commented on #45705
Hi @JeremyTCD Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 13:48] DixitArora-MSFT commented on #45706
Hi @fratei Thanks for your feedback. We will review and update as appropriate.

[2020-01-07 13:55] reginbald commented on #27893
Will managed identities be supported for Web App for Containers?
I'd like to do the following to access an Azure key vault similar to what I can do in a app service resource:
[code]

[2020-01-07 14:29] jvplopper commented on #45585
We've completed our final cutover from federation to PTA+Semless SSO after testing with staged rollout.  Hopefully, you'll all find my update helpful.

I followed the above documentation to do a staged rollout of PTA with Seamless SSO.  This was great.  It allowed me to validate that everything worked as expected.  Once I was done testing, I deactivated PTA and Seamless SSO in the staged rollout A

[2020-01-07 14:35] VanMSFT commented on #45566
Hi @dxkaufman! You can find the supported Azure services for Private Link here: https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#availability

I hope that helps. I'll go ahead and close this Issue as this forum is meant for documentation bugs. Thanks!

[2020-01-07 14:35] VanMSFT commented on #45566
#please-close

[2020-01-07 14:36] #45566 closed

[2020-01-07 14:42] glaisne opened #45715 "Add rather than Associate."
This is a minor issue with the language on the page. A CDN Endpoint can have multiple custom domains. In a number of places within the document it says "Associate the custom domain with your CDN endpoint" (Or something similar) while other places (including the title) says "Add a custom domain to your Azure CDN endpoint" (again, or something similar). To me, "Associate" implys a 1:1 relationship a

[2020-01-07 15:03] alvipeo opened #45716 "How to use Scopes for authorization on the server with .Net Core 3.1?"
Suppose I got an id_token from B2C authorization endpoint and it has my scope in "scp", how do I authorize user on the server when the client calls my web API? For example, I may have multiple scopes defined and user is granted with only "scope1". Then the client tries to invoke web API which only authorized for users with "scope2". How does it work in .Net Core 3.1?

I know it's probably not exac

[2020-01-07 15:03] NavtejSaini-MSFT commented on #45542
@HenrikStaunPoulsen We are going ahead and closing this thread for now. If you have any further questions, please get back to us so that we can continue the discussion.

[2020-01-07 15:03] #45542 closed

[2020-01-07 15:04] GiftA-MSFT commented on #45711
@giovanni-d thanks for your feedback. We will review this issue and get back to you shortly.

[2020-01-07 15:09] SamaraSoucy-MSFT commented on #45713
@fplaten thank you for the question. I will take a look and get back to you shortly.

[2020-01-07 15:15] VanMSFT commented on #42705
Hello @TheITguy666! Thanks for the Issue submission. Those settings are there when you look at the SQL Server blade in the Azure Portal. You may be looking at the SQL Database blade.

![image](https://user-images.githubusercontent.com/40007119/71905617-5e0dd980-311d-11ea-9f14-155ff93982a6.png)

Thanks!

#please-close

[2020-01-07 15:15] #42705 closed

[2020-01-07 15:24] #14914 closed

[2020-01-07 15:41] SychevIgor opened #45718 "When Solution will be GA or when Auto generated Kusto query will be fixed."
I faced with an issue, that some of features demonstrated in this document simply doesn't work as expected.

For example- if we will press on "see all for ACTIONS AND TRIGGERS BY ERROR CODE" - we will be redirected to log search, where generated code will broken if there are data for this query.
![image](https://user-images.githubusercontent.com/578954/71908047-59c5d880-317e-11ea-8ec5-ddf70e0388af

[2020-01-07 15:43] asergaz commented on #45683
Hello @NathanKinney can you clarify the documentation link you are following and the exact step you were blocked? Thanks!

[2020-01-07 15:47] Ledge79 opened #45720 "links"
These links do not work:
Here are links to these issues in the Microsoft Edge issue tracker:

Bug 13861050
Bug 13861663

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2eafe2-28c3-1b5b-26bf-adf17d01b82e
* Version Independent ID: 13c6fbce-9b73-f08e-ef9a-7f8f7d28ff87
* Content: [Issues on Internet Explorer & Microsoft E

[2020-01-07 15:58] CeciAc opened #45721 "Typo error fileHost=$(echo $fileHost | tr -d "/") instead of fileHost=$(echo $smbPath | tr -d "/")"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/669
@ados1991 commented 39 minutes ago — with docs.microsoft.com
Hi,
There is error in the last line of commands below:
This command assumes you have logged in with az login

httpEndpoint=$(az storage account show
--resource-group $resourceGroupName
--name $storageAccountName
--query "primaryEndpoints.file" |

[2020-01-07 16:18] Tiberriver256 opened #45722 "Application Id URI"
What is an Application Id URI? How do I get one? What are the best practices for creating one if I should be setting my own?

I see some sites suggest it should be the same as the externally exposed url of your app: https://my-site.contoso.com
I see other docs out here suggest it should be: api://{clientId}

I see no overall explanation of what it is and what it is used for.

---
#### Document Det

[2020-01-07 16:19] diberry commented on #45369
@v-kydela per @moabba

Whenever someone says a date or a time, they don't necessarily mean that exact time. If you try to make an appointment after work, you'll probably tell the bot "I want to make an appointment any time after 5 pm". Without the mod, the bot will probably make the appointment exactly at 5. So we use the mod to know for example if the intended time is before 5, after 5, exactly a

[2020-01-07 16:19] diberry commented on #45369
@v-kydela I'll close for now. Please let me know if there are other issues. #please-close

[2020-01-07 16:19] #45369 closed

[2020-01-07 16:20] jeanpaulsmit commented on #45194
@PramodValavala-MSFT @ravikr-dev I can confirm this at least solved it for me. It appeared I still was targetting Functions V2. Changing that to V3 solved my issue.

[2020-01-07 16:26] erhopf commented on #45499
@ram-msft - Apologies, I don't have the subject matter expertise with this tool, and the document you've sent over is rather confusing in the context of the user request above. As such, I'm going to reassign this to you. It seems like there might be a larger problem, where `Select-AzSubscription` isn't documented in the article you've sent, and there is still existing documentation for the command

[2020-01-07 16:32] Peter-B- opened #45723 "How can I enable the Aggregation Pipeline"
I just created a new CosmosDb instance of MongoDb flavor with wire protocol support 3.6. I cannot find how to turn on the Aggregation Pipeline in the Azure Portal and can not find a hint in the docs. Can you please turn me into the right dirrection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2f5f65-888a-1e53-83f3

[2020-01-07 16:42] v-kydela commented on #45369
Like I said, "open-ended date-time ranges"

[2020-01-07 16:44] jcbrooks92 commented on #35318
@maletor sorry i missed you reply. There's a feedback post tracking this request. There isn't an ETA on the implementation.

https://feedback.azure.com/forums/355860-azure-functions/suggestions/38817385-allow-key-vault-references-to-access-secrets-behin

[2020-01-07 16:53] michalmlaka opened #45724 "Loading mlflow model on passthrough cluster"
We configure our cluster with Gen2 Storage:
- High Concurrency
- 6.0 ML runtime
- enabled passthrough

I would like to load data from Gen2 Storage with AD credentials (its fine) and then score it with mlflow model. But I can't load it properly.

error:
`
py4j.security.Py4JSecurityException: Constructor public org.apache.hadoop.fs.Path(java.lang.String) throws java.lang.IllegalArgumentException is

[2020-01-07 16:53] mamccrea commented on #44185
I'm sorry for the confusion. The Azure Key Vault-backed secret scope is read-only. It doesn't have the ability to make changes to the Key Vault, nor can you give it more permissions to do so. You can determine levels of access to the secret scope (Step 4 in [this article](https://docs.microsoft.com/azure/databricks/security/secrets/secret-scopes)), but not between Databricks and Key Vault.

[2020-01-07 16:55] diberry commented on #45369
@v-kydela What is the question?

[2020-01-07 16:56] v-kydela commented on #45369
No question, just confirming what you said

[2020-01-07 17:00] #45712 closed

[2020-01-07 17:11] PeterCLu commented on #45700
#assign:@nibaccam

[2020-01-07 17:11] AnttiKiiski opened #45725 "I managed to hot detach in portal?"
This documentation claims that you need to deallocate the VM before detaching a data disk through Azure Portal??

I just a minute ago tested detaching a data disk from a running VM through Azure portal. No problems, the disk was detached just fine. Maybe this document needs to be updated? or is the detaching dependent of OS version. My VM was running Windows 2019 datacenter.

Br,
Antti

---
#### D

[2020-01-07 17:14] mike-urnun-msft commented on #45718
@SychevIgor Thank you for your feedback! We will review and update as appropriate.

[2020-01-07 17:15] nibaccam commented on #45700
@rastala Can you help with this question, please?

[2020-01-07 17:22] kgremban commented on #14254
Great. I'm going to close this issue now, but if you have new concerns around the same topic you are welcome to post here again and we can reopen the issue if necessary.

#please-close

[2020-01-07 17:22] #14254 closed

[2020-01-07 17:31] anavinahar commented on #31960
ILPIP is removed from the doc. A larger re-write of the doc is planned - this will address remaining items. Working with Dillon offline.

#please-close

[2020-01-07 17:31] #31960 closed

[2020-01-07 17:31] cgrahlm opened #45727 "Error in deploy the sample"
Run the following command as per the quickstart(intentionally added gibberish):

&gt;az webapp up --sku F1 -n "test_python_sdfkjshdkjfsh_test" -l southcentralus
Webapp test_python_sdfkjshdkjfsh_test already exists. The command will deploy contents to the existing app.
Unable to retrieve details of the existing app test_python_sdfkjshdkjfsh_test. Please check that the app is a part of the current s

[2020-01-07 17:48] mbrennan376 commented on #16002
I worked this trhough with Microsoft support and it appears as if the cause in my case was adding the accessor to the container in startup cs. I removed the extra call to add the accessor and it appears to be working now  https://github.com/MicrosoftDocs/azure-docs/issues/16002#issuecomment-549936486

[2020-01-07 17:51] ecfan commented on #45210
@kevinlam1, could you please help answer the previous questions from @dcbrown16?

Thanks!

[2020-01-07 17:51] KarlErickson commented on #43815
@jzoran05 I've fixed the link and restored it to the topic. Sorry for the inconvenience! The [sample repo](https://github.com/Azure-Samples/java-functions-eventhub-cosmosdb) is available now.

[2020-01-07 17:52] NavtejSaini-MSFT commented on #45661
@nabeelsul We are assigning this to our author for further review.
@markjbrown @SnehaGunda Please check the users questions and help regarding the same.

[2020-01-07 17:53] ram-msft commented on #45499
Raised a feature request to Azure Power shell team to update the [document](https://docs.microsoft.com/en-us/powershell/module/az.accounts/set-azcontext?view=azps-3.2.0) for Select-AzSubscription and obsolete the Select-AzureSubscription document.
#https://github.com/Azure/azure-powershell/issues/10848

[2020-01-07 17:54] anavinahar commented on #43168
How would you create a Standard Load Balancer without zones?

[2020-01-07 17:55] scottstout opened #45728 "Data Box Edge should be renamed to Azure Stack Edge"
Data Box Edge should be renamed to Azure Stack Edge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4101294-cb92-3d80-1865-5497f7d1f202
* Version Independent ID: 5914818d-56c1-1ff5-0308-e6f38da5a13b
* Content: [Tutorial to prepare Azure portal, datacenter environment to deploy Azure Data Box Edge](https://docs.microsof

[2020-01-07 18:01] PeterCLu commented on #45064
#assign:@trevorbye

[2020-01-07 18:02] ssrikantan commented on #45397
@sumanthMarigowda-MSFT, When I raised the issue in the forum you suggested above, I was asked to raise that here instead

[2020-01-07 18:03] ChristianMontoya commented on #44395
Apologies for the delay, sending to our team who is also back from holidays.

[2020-01-07 18:07] brandonh-msft commented on #43593
Why are you testing on v1.0.20 when v2.7.1948 is the latest?

![image](https://user-images.githubusercontent.com/20270743/71917648-62de8780-3135-11ea-98c9-1c8ad011e7ef.png)

The same version of Core Tools is usable across v1, v2, and v3 functions and the output from my issue shows that I was using 2.7.1846 at the time (as does a launch from VS2019).

Please re-open. Thank you.

[2020-01-07 18:10] dannashirn commented on #38122
I am also getting this error with no real way of knowing what to do. I found on the  forums that I had to accept accounts in any organization and microsoft personnal accounts, but that is already being done.

[2020-01-07 18:12] SubhashVasarapu-MSFT commented on #45553
@migrande , We have assigned this issue to content author for updating the doc with required details.

[2020-01-07 18:17] Adam-Smith-MSFT commented on #45721
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-07 18:22] SubhashVasarapu-MSFT commented on #45612
@MukundMurali-M , Could you please elaborate your ask? What are you trying to achieve and where it is getting failed for better assistance.

[2020-01-07 18:27] #45426 closed

[2020-01-07 18:35] anzaman commented on #42535
I have added the clarification in the document. Thank you for your feedback.  We appreciate your intent and applaud your desire to ensure the safest and most secure methods of certificate validation.  We’ve discussed within our development team and feel certain that the correction stands as it would be a redundant check.  Again, thank you for bringing this to our attention and please continue to l

[2020-01-07 18:37] ChrisH82 opened #45731 "Please explain the reasoning for the very restrictive Outlook sync settings"
Please explain the reasoning/need for the very restrictive Outlook Cached Mode/sync settings which set them (locks them so they can't be edited rather than default them) to only 1 month without the user having ability to override/edit.

reg add "HKU\TempDefault\software\policies\microsoft\office\16.0\outlook\cached mode" /v enable /t REG_DWORD /d 1 /f
reg add "HKU\TempDefault\software\policies\mic

[2020-01-07 18:42] qm13 commented on #45095
Fixed.

[2020-01-07 18:45] mamccrea commented on #45201
Thanks @MehdiLamrani - I've updated the doc. It should be live by the end of the week.

#please-close

[2020-01-07 18:45] #45201 closed

[2020-01-07 18:46] glaisne commented on #44947
Looks different for me.
![image](https://user-images.githubusercontent.com/3585145/71920078-063e9500-3154-11ea-9a65-d4d2f2fdbd29.png)

[2020-01-07 18:48] Grace-MacJones-MSFT commented on #45727
Hi @cgrahlm, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-07 18:49] Grace-MacJones-MSFT commented on #45714
Hi @jeremyklamer, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-07 18:56] jrudley commented on #33533
I'm having the same issue
PS Azure:\>  $env:ACC_VERSION
master_20191213.3

[2020-01-07 18:58] anzaman commented on #45593
@danmyhre -  41b23e61-6c1e-4545-b367-cd054e0ed4b4 is the Application (client ID) of the Azure VPN Client in Azure Public Cloud.

[2020-01-07 19:04] #45663 closed

[2020-01-07 19:06] mamccrea commented on #45290
Thanks for your feedback, @memoryz. We've updated this article to include docker_image.

#please-close

[2020-01-07 19:06] #45290 closed

[2020-01-07 19:11] MarileeTurscak-MSFT commented on #45720
@Ledge79
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-07 19:12] MarileeTurscak-MSFT commented on #45722
@Tiberriver256
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-07 19:14] itorx opened #45732 "Azure AD B2C User flows are serving an outdated version of JQuery when using custom ui templates"
Custom UI templates are using jquery-bundle-1.10.2. A recent security scan revealed that this version contains vulnerabilities as mentioned in the following pages.
- https://github.com/jquery/jquery/issues/2432
- http://blog.jquery.com/2016/01/08/jquery-2-2-and-1-12-released/
- https://nvd.nist.gov/vuln/detail/CVE-2015-9251

Is there a way to serve custom UI pages with a current version of JQuery?

[2020-01-07 19:21] FrankHu-MSFT commented on #45710
@dooleydo Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-07 19:21] FrankHu-MSFT commented on #45716
@alvipeo Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-07 19:21] #43340 closed

[2020-01-07 19:23] KranthiPakala-MSFT commented on #45704
@aniketshintre Thanks for the feedback and bringing this to our attention. We have assigned the issue to content author to investigate this and update the document as appropriate.

[2020-01-07 19:24] potato-enthusiast opened #45734 "Invalid characters in query"
In https://docs.microsoft.com/en-us/azure/sql-data-warehouse/resource-classes-for-workload-management#stored-procedure-definition the CTE for "alloc". uses space characters that are not actually spaces, this causes the script to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d8aad5-9f41-5cce-4688-f0f5fa5ff59a
*

[2020-01-07 19:27] MarkIannucci opened #45735 "Is there a way to move a single instance VM from one cluster in the same region to another?"
I have a single instance VM which I use for development, so each night it shuts down.  Sometimes my allocation request fails when I attempt to restart it the following day.  Is there a way to move a single instance VM from one cluster in the same region to another?  This document doesn't have any advice on how to do that, and all I've found is guidance to move the VM using Azure Site Recovery, but

[2020-01-07 19:28] marc-gmail-towersap commented on #44354
I am having issues with multicontainer images, where one image has a mongodb instance, the other a node.js (and a mongoexpress image) so I can easily query the db from a web instance.  The two mongo images are from hub.docker.com, the node image is in my own azure container registry.  I run it (my mongo.yaml file looks like version: '3'
services:
  mongodb:
    image: mongo
    ports:
     - 27017

[2020-01-07 19:28] pietermsft commented on #44642
Device CALs with SA are allowed:

This came from the Product Terms: http://www.microsoftvolumelicensing.com/Downloader.aspx?documenttype=PT&lang=English

[2020-01-07 19:29] KranthiPakala-MSFT commented on #45706
@fratei Thanks for the feedback and bringing this to our attention. We have assigned the issue to content author to investigate this and update the document as appropriate.

[2020-01-07 19:29] marc-gmail-towersap commented on #44354
oh this seemed to lost the spacing for my yaml file, it is valid yaml (unlike the post above).

[2020-01-07 19:30] KranthiPakala-MSFT commented on #45706
@mamccrea Hi Mary, Could you please take a look at this issue. Below is the link which is broken. Thanks!

![image](https://user-images.githubusercontent.com/50185738/71923066-04b7a180-3141-11ea-8b16-5f8e72680a03.png)

[2020-01-07 19:35] cogran commented on #45688
Thank you for the confirmation. This thread/issue can be closed.

[2020-01-07 19:35] #45688 closed

[2020-01-07 19:41] gdodd1977 commented on #45062
Any info on this? It appears to not like "version" : "3.0".

[2020-01-07 19:42] nmetayer87 opened #45736 "Import Spec/ Available attributes"
Are the only importable attributes the ones listed in the spec? I would be really nice to be able to import everything with this module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277a5d8f-7fce-bf5d-1ebd-2061e9ac8a69
* Version Independent ID: 02d2bc44-dc9f-a23a-9c60-facf7e0c1a41
* Content: [Bulk create users (previ

[2020-01-07 19:42] mamccrea commented on #45261
You can use useAzureMSI when you have ADLS Gen2 + OAuth 2.0 authentication or your SQL DW instance is configured to have a Managed Service Identity.

[2020-01-07 19:42] eduardomtz commented on #22715
Code works, if this is not there, requests would get 403 forbidden because of:

ClientErrorExceptionMessage=[System.ServiceModel.Web.WebFaultException`1[Microsoft.WorkloadMonitoring.ODSSharedLibrary.ErrorResponse]: Forbidden (Fault Detail is equal to ErrorCode: InvalidAuthorization, Message: An invalid signature was specified in the Authorization header).]

[2020-01-07 19:44] mamccrea commented on #45578
Hi @IronmanM! Are you saying that when a user creates a workspace, they are later unable to access it because it is automatically set to admin access?

[2020-01-07 19:54] cherylmc commented on #45598
#reassign:anzaman

[2020-01-07 19:55] mamccrea commented on #45666
Thanks for the feedback, @julob23. I've updated this article - you should see the changes by the end of the week.

#please-close

[2020-01-07 19:55] #45666 closed

[2020-01-07 19:57] mamccrea commented on #45704
Hi @aniketshintre! I just fixed the PDF feature yesterday. It works for me today when I try it. Please try again and let me know what you experience.

[2020-01-07 20:00] cogran commented on #29446
@damendo - Can you clarify if this roll out now allows both Trusted Microsoft Services AND virtual Network service endpoints for Microsoft.Storage with NSG Flow Logs, or just Trusted Microsoft Services? I did not see an Azure Feedback Forum thread for the VNET Service Endpoints request for an update to be posted on.

[2020-01-07 20:07] himanshusinha-msft commented on #45723
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-07 20:12] himanshusinha-msft commented on #45715
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-07 20:13] mike-urnun-msft commented on #45543
Thanks for providing additional context, @dzajda! We have reviewed your scenario, and we think that it's best to post this question on [Azure Storage on MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata).

[2020-01-07 20:14] himanshusinha-msft commented on #45725
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-07 20:15] #45543 closed

[2020-01-07 20:16] FrankHu-MSFT commented on #45716
Thanks for letting us know about this feedback @alvipeo. If you could please file this against the aad feedback forums here : https://feedback.azure.com/forums/169401-azure-active-directory and if there's enough community support the product team will look into implementing this feature. Please let us know if you have anymore questions within the scope of this issue, otherwise we'll be closing it

[2020-01-07 20:17] himanshusinha-msft commented on #45728
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-07 20:19] himanshusinha-msft commented on #45731
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-07 20:22] ththiem opened #45738 "Support For Other Blob Types?"
Is there a roadmap or timeline for support of other blob types besides block? This seems like an arbitrary limitation for a delete operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure

[2020-01-07 20:23] mamccrea commented on #45706
Thanks for letting us know @fratei. It appears the content has been removed. Here are alternate instructions - https://cwiki.apache.org/confluence/display/HADOOP2/Hadoop2OnWindows

I'll update the doc.

#please-close

[2020-01-07 20:23] #45706 closed

[2020-01-07 20:24] PhilStollery opened #45739 "The above code uses the old Microsoft.Azure.Storage.Blob"
The latest version of the .NET SDK v12 uses Azure.Storage.Blobs instead. This example needs to be updated to use the new SDK - however there appears to be a problem in the stored access policies aren't working in V12. One for the product team - then an update here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b731532

[2020-01-07 20:36] ferantivero commented on #32234
@sauryadas @palma21 just checking whether the AKS service tag is about to get approved or private aks api server gets GA any soon.

[2020-01-07 20:41] cephalin commented on #45140
@HughDevlin I've made modification to the language. Thank you for your feedback. It should be published sometime today. #please-close

[2020-01-07 20:41] #45140 closed

[2020-01-07 20:44] IronmanM commented on #45578
yes, I have removed the Admin Access after creating the cluster. later whenever the user accesses the cluster reverting to the admin access.

[2020-01-07 20:55] erikadoyle commented on #44815
This has been merged and should go live in a couple hours. #please-close

[2020-01-07 20:55] #44815 closed

[2020-01-07 20:57] HeidiSteen commented on #42934
@NeilMeredith - Apologies. We missed creating documentation for the Reset Skillset REST API.  That doc is in the pipeline and should be published in the next day or so.

[2020-01-07 21:03] Adam-Smith-MSFT commented on #45739
@PhilStollery Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-07 21:06] Adam-Smith-MSFT commented on #45738
@ththiem it seems like BlobTypes does support three blob types: Append, blockblob and appendblob, based on the following link:  https://www.rubydoc.info/gems/azure-storage-blob/1.0.1/Azure/Storage/Blob/BlobConstants/BlobTypes
Let me know if you found a different outcome.

[2020-01-07 21:14] PatrickFarley commented on #44857
@marcusturewicz Thanks for pointing this out. We're currently figuring out what we want the standard to be for situations like this.

[2020-01-07 21:16] PatrickFarley commented on #45044
Hi @Doukers , you can find the full code in the Next Steps link at the bottom. Are you getting a specific error that requires some missing code to fix?

[2020-01-07 21:21] anzaman commented on #45341
added details
#please-close

[2020-01-07 21:21] #45341 closed

[2020-01-07 21:27] KranthiPakala-MSFT commented on #45724
@michalmlaka Thanks for reaching out.

From Troubleshooting section of this doc : **py4j.security.Py4JSecurityException: … is not whitelisted** : This exception is thrown when you have accessed a method that Azure Databricks has not explicitly marked as safe for Azure Data Lake Storage credential passthrough clusters. In most cases, this means that the method could allow a user on a Azure Data Lak

[2020-01-07 21:49] brandonh-msft commented on #43593
The confusion here is that Visual Studio somehow knows to run the v1 CLI when using a v1 Azure Function, but the v2 CLI for everything else. Conversely, running `func.exe` from the command line will just pick whatever is hit first from the PATH variable which may/may not be correct.

This can be mitigated by the user calling the correct `func.exe` with `host start` parameters based on the solution

[2020-01-07 21:52] mmacy commented on #44954
Hi @jabamit, reaching out again to see if we can get the full output of your build error log.

[2020-01-07 22:00] kevinlam1 commented on #45210
The ISE File System connector is available. When a new ISE is created the ISE File System connector will automatically be added. For pre-existing ISE, you will need to do a one time update, as Esther noted above, to add the connector to your ISE.
The ISE File System connector has been stable so far, we just want it to bake a little longer before we lift the preview tag.

[2020-01-07 22:00] MarileeTurscak-MSFT commented on #45720
@Ledge79 which links are not working?

[2020-01-07 22:21] frvigano commented on #45261
Perhaps as in math some parenthesis would help 😊

My understanding of your sentence is as follows:

[you have ADLS Gen2 + OAuth 2.0 authentication] or [your SQL DW instance is configured to have a Managed Service Identity].
If this is the case, having a Managed Service Identity in SQL DW does not seem sufficient. As soon as we switched to data lake it started working. With blob storage, it does no

[2020-01-07 22:24] MarileeTurscak-MSFT commented on #45673
Since this is more of a product question, please post to Microsoft Q&A. We consistently monitor that forum, which is intended specifically for product questions. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2020-01-07 22:24] #45673 closed

[2020-01-07 22:31] ththiem commented on #45738
![image](https://user-images.githubusercontent.com/15839533/71934853-2ffaba80-315a-11ea-9fb6-dad900b9a9a4.png)

Only blockBlob is supported. We've been manually deleting other blob types every day for months because the lifecycle management doesn't support it.

[2020-01-07 22:32] danmyhre commented on #45593
I would recommend adding that to step 8 so people know that doesn't need to be updated.  Same thing with the address pool, that doesn't need to be 192.168.1.1.  It should also be noted that this setup will enable all users in the directory to access and connect to the VPN which is likely not the desired output.

[2020-01-07 22:45] BrenoGO commented on #20104
I think the right way of doing it is configuring an Azure CDN.
But there is a way, not the right one: entering index.html in the "Error document path".

[2020-01-07 22:58] Karishma-Tiwari-MSFT commented on #45725
From my understanding, data disks can be attached or detached even while the VM is running.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-07 23:01] dcbrown16 commented on #45210
Thanks @kevinlam1 ! I did create a brand new ISE yesterday and had to manually add the ISE File System connector to get it to show up, but I think the customer has an existing one so we'll make sure they know how to add it manually and advise that they can try to start using it.

[2020-01-07 23:05] tucane opened #45743 "ARM-Template parameters"
Our team is running into an issue where we have more than 256 parameters in the data factory (we get a warning every time we publish).

We are looking into reducing the number of parameters with the arm-template-parameters-definition files.

We found that if we delete most of the parameters in the default parameterization template, we would get less than 256 parameters.
The parameters doesn't seem

[2020-01-07 23:06] Karishma-Tiwari-MSFT commented on #45538
@techsaau You can do it as long as you are not planning to do Vnet peering or create an internal load balancer in the Vnet. As long as you are accessing it with Public IP, it will be fine but accessing via internal load balancer would be an issue because of overlapping IPs.

[2020-01-07 23:08] Karishma-Tiwari-MSFT commented on #45735
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-07 23:11] ishepherd commented on #28927
@cbailiss If your function has

[code]

Entries sent to that logger will have category `Function.<FunctionName>`

[2020-01-07 23:18] Mike-Ubezzi-MSFT commented on #45410
@tggofdk An update has been made to the documentation and published. This issue should be resolved and so, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-07 23:18] #45410 closed

[2020-01-07 23:19] KranthiPakala-MSFT commented on #33178
@sharmamanish260979 Thanks for reaching out. Could you please give a try using your Data Factory name in the search instead of Managed Identity Application ID (Guid)?

![image](https://user-images.githubusercontent.com/50185738/71937365-02653f80-3161-11ea-8648-a6e02b5e880b.png)

[2020-01-07 23:23] marckassay commented on #45008
Hi @rolyon
It works now! Thanks!

[2020-01-07 23:35] btardif commented on #44124
This is now supported with CLI version 2.0.79

Documentation is being updated with the PR linked above.

#please-close

[2020-01-07 23:35] #44124 closed

[2020-01-07 23:38] franklesniak opened #45744 "Add Direction of Synchronization"
Some attributes are synced from AD DS to Azure AD, some are synced from Azure AD to AD DS, and others are bidirectionally synchronized. It would be helpful to know the direction that each attribute is synced, and under what scenarios (e.g., Exchange Hybrid, Group Write-Back, etc.) the directionality might change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-07 23:39] kevinlam1 commented on #45210
Sorry I want to correct a statement I made. The ISE File System connector will not yet be automatically added to new ISE, you will still need to manually add it yourself. Our engineers are working on getting that automatically added with new ISE deployments.

[2020-01-07 23:44] kgremban commented on #44636
@mbialecka I update the article to say that the workaround is for versions before V2.1

@Mat-pa Were you able to resolve your issue by not using the python workaround?

[2020-01-07 23:47] djpmsft commented on #45743
Take a glance at the custom parameterization section as thats where information on how to get around the 256 limit is. You will need to create a file named arm-template-parameters-definition.json in the root folder of the devops repository. In this file, you will add [syntax](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#syntax-of-a-custom-parameters-file) o

[2020-01-07 23:52] tucane commented on #45743
We have already done that and created a new arm-template-parameters-definition.json file where we removed most of the parameter definitions(compared to the default template).

I just want to make sure removing the default parameters won't **affect** the actual content of the data factory.

[2020-01-07 23:56] FrankHu-MSFT commented on #45659
Thanks for letting us know about this feedback @SteveColegrove. If you could please file this against the aad feedback forums here : feedback.azure.com/forums/169401-azure-active-directory and if there's enough community support the product team will look into implementing this feature. Please let us know if you have anymore questions within the scope of this issue, otherwise we'll be closing it o

[2020-01-07 23:56] rolyon commented on #44794
Hi @JDWNL
The team currently does not have changes to the description. The **Security Admin** role for Azure resources provides access to Azure Security Center.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#security-admin
Here are the operations that the Microsoft.Security/* action grants you access to:
https://docs.microsoft.com/en-us/azure/role-based-access-cont

[2020-01-07 23:57] djpmsft commented on #45743
Removing the default parameters will not affect the content of the data factory

[2020-01-07 23:58] rolyon commented on #45008
Hi @marckassay
Great! I'm glad that it is working for you.

[2020-01-07 23:58] rolyon commented on #45008
#please-close

[2020-01-07 23:58] #45008 closed

[2020-01-08 00:11] MarileeTurscak-MSFT commented on #45710
@dooleydo thanks. I made a pull request to clarify by specifying that it's referring to configuring client-side SCP settings, and also removed the small typo (but to by).

https://github.com/MicrosoftDocs/azure-docs-pr/pull/100370

I am closing this out but if you think anything else should be changed feel free to make a new pull request or tag me in the comments.

[2020-01-08 00:11] #45710 closed

[2020-01-08 00:24] wasker opened #45746 "Are built-in roles used only if cluster integrated with AAD?"
Hi,

It's unclear if "Azure Kubernetes Service Cluster Admin Role" and "Azure Kubernetes Service Cluster User Role" roles are enforced only if cluster is integrated with AAD and the user is an AAD user/group, or they would also apply for service principals?

Consider the following scenario. CD pipeline is configured to use an Az DevOps service connection. Service connection can use only service pr

[2020-01-08 00:28] kazshi commented on #45690
@KalyanChanumolu-MSFT Thank you for the clarification. That's what I wanted to make sure.

[2020-01-08 00:31] hruday94 opened #45747 "Data lake gen 2 SDK"
I am currently using the Data Lake Gen2 SDK package which is currently under preview. I wrote a console application to see how to use the package and things work as expected for me. But when I write the same code and upload it to run on Azure Data Factory I get this error

"System.IO.FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.4.0, Culture=n

[2020-01-08 01:02] MarileeTurscak-MSFT commented on #45744
@franklesniak
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-08 01:03] MarileeTurscak-MSFT commented on #45732
@itorx please include the link to the Microsoft doc that you are following.

[2020-01-08 01:04] rhythmnewt commented on #45062
Update would be nice. Thanks.

[2020-01-08 01:23] cherylmc commented on #42405
Hi! I've added an additional step with links to create the gateway properly. This update will publish this week.

[2020-01-08 01:30] jabamit commented on #44954
Hi Marsh,

All's dll of the project is not loading.
You could try to open this solution on Vs 2019.
So you would get the flavour.

Thanks
Amit

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Marsh Macy <notifications@github.com>
Sent: Wednesday, January 8, 2020 3:22:54 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Amit Bhardwaj <amit_bh

[2020-01-08 01:32] VikasPullagura-MSFT commented on #45650
@anmtando Host Pool name cannot be changed, you can only change the "FriendlyName".
Typically, we would expect desktop sessions to consume more resources (RAM, Network, etc.) since you’re able to launch more applications and services.

Hope this information helps.

[2020-01-08 01:36] VikasPullagura-MSFT commented on #45650
@anmtando We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2020-01-08 01:36] #45650 closed

[2020-01-08 02:01] RossMurr4y commented on #34451
Just confirming that this has just happened to me also. Using WEBSITES_PORT, I could see that the environment variable was being passed as an argument to docker in the logs ``` docker run ... -e WEBSITES_PORT=3000 ...```  however that was not being reflected in the port binding mapping on that same command (-p).

[code]

[2020-01-08 02:11] dcbrown16 opened #45749 "Metrics for pods or nodes?"
The table of metrics shows only the count of pods under the /pods namespace. Are the CPU and memory metrics under /nodes available at a pod level? It doesn't seem like any of the screenshots actually clearly show a pod under a node (they all just show Other Processes), so I'm unclear as to what would be displayed for a pod.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-01-08 02:12] oo2316oo commented on #45692
Hi , but we still can't choose this attached data-brick for Auto ML  experiment.  Do we need create a auto ml cluster in data brick?

[2020-01-08 02:31] SlavaRoikhman opened #45750 "Planned failover and reverse replicate"
Planned failover option is not available anymore. Also reverse replicate changed to re-protect option. Please correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f370303c-83ea-c7a9-93c5-118d34d35f4e
* Version Independent ID: f1d12deb-0b45-c8d4-de85-8dcc316a4c53
* Content: [Run a failover during disaster recovery wi

[2020-01-08 02:36] TerryLanfear commented on #44777
@AlexChongMicrosoft - Thank you for your question. Customers should contact the local Microsoft representative for their account or the Microsoft Technology Center (MTC) for information on arranging a visit to the datacenter.

#please-close

[2020-01-08 02:36] #44777 closed

[2020-01-08 02:43] SaurabhSharma-MSFT commented on #45736
@nmetayer87 Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-08 02:44] KrishnaG-MSFT commented on #45749
@dcbrown16 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-08 02:45] AlexChongMicrosoft commented on #44777
Thank you very much. @TerryLanfear

[2020-01-08 02:47] KrishnaG-MSFT commented on #45750
@SlavaRoikhman Thanks for the feedback.
Assigning content owner @rayne-wiselman for visibility, review and document enhancement consideration.

[2020-01-08 02:49] KrishnaG-MSFT commented on #45712
@rrizwann Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-01-08 02:57] daxin09pp commented on #45649
Hi @DixitArora-MSFT,
Do you have any update for this?
Thanks,

[2020-01-08 02:59] markebrennan commented on #43136
@llscuba were you able to successfully add these routes to the VPNProfile.xml file? I'm having the same issue. I followed the following article https://directaccess.richardhicks.com/2018/07/23/always-on-vpn-routing-configuration/ but I'm not getting very far.

[2020-01-08 03:00] Karishma-Tiwari-MSFT commented on #45580
@ata18  Please try the instructions provided in this section of the article and check if it provides the required information: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries#how-can-i-list-all-the-shared-image-gallery-resources-across-subscriptions

For your second question, I found a thread with the answer : https://stackoverflow.com/questions/58142882/if-i

[2020-01-08 03:02] wukun2015 opened #45751 "When will phrase list support Chinese ?"
As title: what's the ETA for zh-cn support ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c3e4d66-e6fd-3ed1-f505-875064467f00
* Version Independent ID: 345501ca-4487-ff5a-b681-449508433cff
* Content: [Phrase Lists - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogniti

[2020-01-08 03:36] SnehaAgrawal-MSFT commented on #45528
@oscarrod5 Thanks again for bringing this to our attention. I have shared the feedback with the content owner for update on this.

[2020-01-08 03:47] tucane commented on #45743
Great! Thank you.
We didn't notice any differences after we delete the default parameters and just want to make sure it will still be working as expected.

[2020-01-08 03:47] #45743 closed

[2020-01-08 04:02] amanmcse commented on #45698
@Expecho If you create a user account by using "Create user" option in Azure AD, that can be used as a consumer account as well once the user accesses the portal and resets his password. Since consumer can be anyone from anywhere in the world, you can not create account for every consumer manually. That is why the recommended method is to use sign-up policy for this purpose. Another way to create

[2020-01-08 04:08] madiepev opened #45753 "model registration for visual designer"
How does the model registration work for models created in the visual designer? It seems that models are automatically registered but this is not documented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Cont

[2020-01-08 04:23] neeleshray-msft commented on #45701
@billmath Could this be included in the document ?

[2020-01-08 04:24] neeleshray-msft commented on #45702
@billmath Could this be included in the document ?

[2020-01-08 04:26] neeleshray-msft commented on #45648
@bobnerland
We will be closing this thread now. Let us know if you need further help on the same by re-opening the thread.

[2020-01-08 04:26] #45648 closed

[2020-01-08 04:28] RohitMungi-MSFT commented on #45751
@wukun2015 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-08 04:31] RohitMungi-MSFT commented on #45753
@madiepev Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-08 04:33] #45523 closed

[2020-01-08 04:41] DixitArora-MSFT commented on #45746
Hi @wasker Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 04:42] DixitArora-MSFT commented on #45734
Hi @potato-enthusiast Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 04:52] RohitMungi-MSFT commented on #45523
@h164654156465 The sample for C# is on the roadmap and will be added soon.

For the issue with using AudioConfig.FromMicrophoneInput() our PG has pointed out couple of things to look at:

1. The device ID could be in the wrong format.
A sample device ID on windows for desktop applications is in format `{0.0.1.00000000}.{5f23ab69-6181-4f4a-81a4-45414013aac8}`.

2. If the speech SDK libraries are fr

[2020-01-08 04:59] sean8544 opened #45754 "Document error"
"For each VM vCPU, four data disks can be attached" is error.

Some VM type is 1vcpu:2 data disks, for example Av2-series and B-series,  see from table in page:https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b304db6-375e-863e-2260-64cde160404

[2020-01-08 05:02] nightBaker opened #45755 "Visual studio is installing templates forever"
VS is making sure all templates are up to date forever. Is there another way to install templates for v3 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8f40-22be-4654-48c87f2c59e8
* Content: [Azure Functions runtime versions overview](https://doc

[2020-01-08 05:02] SnehaAgrawal-MSFT commented on #45536
@TechWatching Thanks again for the feedback! I have shared the feedback with the content author to review further and update the document as appropriate.

[2020-01-08 05:09] #45499 closed

[2020-01-08 05:14] rnarayana opened #45756 "Update B2C URL"
Please update this based on https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin?source=docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69b44d91-f31e-b934-dbb0-fc7e69954b44
* Version Independent ID: 76a2ef76-270a-e6f9-d13a-88b04be315d7
* Content: [Initialize MSAL.js client apps - Microsoft identity

[2020-01-08 05:17] bobnerland commented on #45648
Hi

You have not corrected the text. It`s nothing called Microsoft 365 M5.

R
Bob

Fra: neeleshray-msft <notifications@github.com>
Svar til: MicrosoftDocs/azure-docs <reply@reply.github.com>
Dato: onsdag 8. januar 2020 05:27
Til: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Kopi: Bob Nerland <hei@bobnerland.no>, Mention <mention@noreply.github.com>
Emne: Re: [MicrosoftDocs/azure-docs]

[2020-01-08 05:19] PramodValavala-MSFT commented on #45755
@nightBaker All files related to functions in VS are stored at `C:\Users\<user>\AppData\Local\AzureFunctionsTools`. You could try removing this folder and let VS download everything afresh.

Also, do note that you will required VS 16.4 or above to work with v3.

[2020-01-08 05:50] msrini-MSFT commented on #45703
@ChrisSommers , Can to try adding an explicit network rule to allow outbound traffic to the IP of the KMS server and check if that resolves ?

[2020-01-08 05:56] SubhashVasarapu-MSFT commented on #45593
@danmyhre , We have assigned this issue to content author for updating the doc accordingly.

[2020-01-08 05:58] rockboyfor opened #45757 "The Quantity that the data disks can be attached on the each VM vCPU."
The following URL describe that for each VM vCPU, four data disks can be attached.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-data-disk#azure-data-disks

![image](https://user-images.githubusercontent.com/4704301/71954264-b0cfba00-321f-11ea-97e2-28c9c327e170.png)

Actually, we find that there are serveral maps in different VM size on the following content:
http

[2020-01-08 06:07] juchen0411 opened #45758 "Random forester algorithm rename"
Is "Decision Forest Regression" renamed from previous algorithms called "Random forester  algorithm" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46fcef4c-e941-edaa-3f48-e5cf61f86ed2
* Version Independent ID: 48ed0db5-0eab-87cf-be02-777c2e10302c
* Content: [Decision Forest Regression: Module Reference - Azure Machi

[2020-01-08 06:14] nehatiwari1994 opened #45759 "Need more clarity on step by step process"
Need more clarity on step by step process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0659d211-6e45-dcd0-d7c4-b676138b2c5f
* Version Independent ID: 2f33049b-47fd-e0d9-46e1-7c1d5597e623
* Content: [Migrate data from Amazon S3 to Azure Storage - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/

[2020-01-08 06:35] parimanur opened #45760 "Minor issues found when using the managed encryption feature."
1. Check the spaces in initializing the shell variables.
2. -subscription is used instead of --subscription
3. ssecmktesting has crept in as the resource group. Parameterise it.

Else everything looks good!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143bdfce-bcca-f901-c996-e22642a37561
* Versi

[2020-01-08 06:38] ChiragMishra-MSFT commented on #45747
@hruday94 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - MSDN or stack overflow.

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Please create a Forum thread and post it's link here and tag me so that we can track that thread. We would

[2020-01-08 06:38] #45747 closed

[2020-01-08 06:40] ChiragMishra-MSFT commented on #45759
@nehatiwari1994 Thanks for the feedback. Can you please let us know which part specifically is unclear or could be better?

[2020-01-08 06:43] liudr opened #45761 "SSL certificate for embedded clients?"
I'm looking for a certificate for https to myaccount.blob.core.windows.net using an embedded system. I can't seem to find a certificate by accessing the address from a web browser.
Can you point me to the right direction? Thanks.

[2020-01-08 06:45] nehatiwari1994 commented on #45759
Migration data over private network part.

We are looking to migrate 1PB data from AWS glacier to azure blob.

Need more clarity on the documentation including the prerequisites and
detailed steps .

Regards
Neha

On Wed, 8 Jan, 2020, 12:10 PM ChiragMishra-MSFT, <notifications@github.com>
wrote:

[2020-01-08 06:52] Oronis opened #45762 "Function ({name}) Error: The binding type(s) ‘{triggerType}’ are not registered."
It appears that the extension bundle does not install additional bundles after it is initially loaded. If you run into this bug, the simplest workaround is to delete the currently downloaded extension bundle and have the func CLI will re-download it.

You can find it at: %HOME%\AppData\Local\Temp\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle

---
#### Document Details

⚠ *Do

[2020-01-08 07:00] hansmaad commented on #12292
@dany74q Any reference?

[2020-01-08 07:08] saumyasuhagiya commented on #35449
@linda33wj can u update documentation and provide sample ADF code as well

[2020-01-08 07:11] saumyasuhagiya commented on #35449
@himanshusinha-msft can you post sample code here. The solution is not working local/global temp tables.

[2020-01-08 07:46] neeleshray-msft commented on #45708
@michevnew  Yes, the feature when switched to No would affect the Users and Admins as well.
And thank you for the feedback, we are assigning the thread to the author to have it changed.

@msaburnley Kindly have the screenshot and the sub-titles updated in the "**[Enable Request](https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-create#enable-r

[2020-01-08 07:47] cstainie commented on #45738
Can someone clarify if the filter only applies to blockBlobs and that the Lifecycle management policies work for all type of blobs?

[2020-01-08 07:48] neeleshray-msft commented on #45691
@john-louden The pull request has been accepted by the Author and the same would change in the document.
We are closing this thread for now. Let us know if you need further assistance by re-opening the thread.

[2020-01-08 07:48] #45691 closed

[2020-01-08 07:57] neeleshray-msft commented on #45756
@rnarayana Thanks for reaching out. We will review and update as appropriate.

[2020-01-08 08:08] aniketshintre commented on #45704
Yup! I'm able to, now.

Cheers and have a great day.

~Aniket

On Tue 7 Jan, 2020, 7:12 PM DixitArora-MSFT, <notifications@github.com>
wrote:

[2020-01-08 08:10] MSSedusch commented on #42313
@ab-mohamed sorry for missing you question.
I was referring to the burst feature of the CPU which means that you would need to test if during a peak load of all attached SBD disks, the base CPU performance would be enough. For example, if you use a Standard_B1ls, you would have to test if 5% CPU performance is enough to handle a peak SBD load.

In addition to that, you are correct. The B series ha

[2020-01-08 08:12] DixitArora-MSFT commented on #45762
Hi @Oronis Thanks for sharing this. Just checking if there is anything more you are looking for from this channel ?

[2020-01-08 08:13] DixitArora-MSFT commented on #45761
Hi @liudr Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-08 08:16] DixitArora-MSFT commented on #45675
@sharmamanish260979 Just following up again in case missed the previous communication.

[2020-01-08 08:16] DixitArora-MSFT commented on #45678
@bnawijn Just following up again in case missed the previous communication.

[2020-01-08 08:16] DixitArora-MSFT commented on #45699
@AndyBunning Just following up again in case missed the previous communication.

[2020-01-08 08:18] fujitani-hiromu-fixer opened #45763 "Duplicate metrics"
The following metrics are listed twice in the documentation.
The same goes for Japanese documentation.

Average_% Free Space | Microsoft.OperationalInsights/workspaces
Average_% Processor Time | Microsoft.OperationalInsights/workspaces
Average_Avg. Disk sec/Read | Microsoft.OperationalInsights/workspaces
Average_Avg. Disk sec/Write | Microsoft.OperationalInsights/workspaces
Average_Disk Reads/sec

[2020-01-08 08:31] DixitArora-MSFT commented on #45754
Hi @sean8544 Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 08:32] DixitArora-MSFT commented on #45757
Hi @rockboyfor Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 08:33] DixitArora-MSFT commented on #45758
Hi @juchen0411 Thanks for reaching out. We will review and update as appropriate.

[2020-01-08 08:35] DixitArora-MSFT commented on #45760
Hi @parimanur Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 08:35] csamleong opened #45764 "What is the point of having Geo-redundant recovery service vault without Cross region restore?"
How does geo-redundant enabled recovery service vault being handled when its residing region failed ?
If the cross region restore is not being enabled for a recovery service, which by default it isn't, what will happen to my recovery service vault ?

I am trying to find out the difference between enabling cross region restore and not to.
There is not much info that i can find through the internet

[2020-01-08 08:35] AndyBunning commented on #45699
Sorry, the link was to create a comment on the page so assumed the link was provided.  The issue is on the following page:
https://docs.microsoft.com/en-gb/azure/cosmos-db/sql-api-get-started#SetupVS
I suspect that this page just needs updating a little for the latest version of VS.
Thanks!

[2020-01-08 08:45] bnawijn commented on #45678
Sorry, it's: https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges

[2020-01-08 08:50] ChiragMishra-MSFT commented on #45759
@nehatiwari1994 Thanks for clarifying your ask. Here's a doc that talks about copying data from AWS S3 using ADF :

https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-simple-storage-service

Please note - You will need to create a Self-hosted Integration Runtime too(as your data store is located in private network).

Here's a blog that talks about migrating large amounts of data

[2020-01-08 08:57] Oronis commented on #45762
Hi, preferably I'd like the func CLI to automatically detect changes and
update the extension bundle. An approved and documented solution for this
would be great, even if it is just the workaround I commented on. At a
minimum, an update to the error message to at least point you in the right
direction would be good. Failing all that, just leaving this comment
available so that there's at least a s

[2020-01-08 09:00] KrishnaG-MSFT commented on #45763
@fujitani-hiromu-fixer Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-08 09:03] KrishnaG-MSFT commented on #45764
@csamleong Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-08 09:05] Ahmad-Al-Ali opened #45766 "Broken GitHub Links under container characteristics section"
Python apps deployed to App Service on Linux run within a Docker container that's defined in the GitHub repository, Python 3.6 or Python 3.7.
both 3.6, 3.7 links respond with a 404 status code. please update the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4348313e-7280-dc7e-4943-14c4675bbe5a
* Version Independe

[2020-01-08 09:11] AshokPeddakotla-MSFT commented on #45075
@jlian Any update on this issue? Please check and update the doc as appropriate.

[2020-01-08 09:11] ChrisSommers commented on #45703
@msrini-MSFT - I tried that and could as before see tcp connections being established when activation was attempted but the process still failed after some time.

[2020-01-08 09:13] VikasPullagura-MSFT commented on #45624
@arindam-b I have tried them and also faced issue.

I have updated the CLI to latest version on which the commands were executed successfully.

Can you try running the commands by upgrading the CLI to latest version, that should work.

[2020-01-08 09:13] AshokPeddakotla-MSFT commented on #42092
@robinsh Appreciate if you can check this and update the doc as earliest.

[2020-01-08 09:16] JDWNL commented on #44794
Hello Robert,

Thanks for your reply but I still think that the description needs to be changed. Among other assignments, the Security Admin role for Azure has the Microsoft.Security/* assigned to it, this means that it can do a host of things _more_ than just administer Azure Security Center.

Thanks,

Joost

From: Robert Lyon <notifications@github.com>
Sent: Wednesday, 8 January 2020 00:57
To: M

[2020-01-08 09:17] SubhashVasarapu-MSFT commented on #45522
@mudithaa , Appreciate your patience. It will not work in the same way for blob URL's as they are case sensitive.You will be encountered with the same error say, "BlobNotFound" even if you try changing blob URL to upper or lower case manually. the above mentioned examples are not for blob URL's.
We are closing this issue for now.If there are further questions regarding this matter, please reply an

[2020-01-08 09:17] #45522 closed

[2020-01-08 09:17] michalmlaka commented on #45724
@KranthiPakala-MSFT, thanks. I use std. way to load a mlflow model: mlflow.spark.load_model()

So please, what is it the correct way to access it? (It always the same problem, when a model is in DBFS, external Blob or Gen2 Storage.

I need passthrough to access data.
If I will use standard clusters, I need one for each of my Data Scientists, right? I think it won't be acceptable in large company.

[2020-01-08 09:23] VikasPullagura-MSFT commented on #45754
@sean8544 Thanks for pointing this out.
I am assigning the issue to content author for updating the document as appropriate.

[2020-01-08 09:23] seekingtheoptimal opened #45767 "ApplicationId differs in the example and the template"
In the example, for the ApplicationInsights resource, the _ApplicationId_ is set to _variables('functionAppName')_ but in the template json file it is set to [variables('applicationInsightsName')]. Which one is correct?
The function app knows about the insights resource from the instrumentation key, so I'm not sure why the ApplicationId property is needed at all for the ApplicationInsights resourc

[2020-01-08 09:37] SaurabhSharma-MSFT commented on #45510
@xom-pschiess We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-08 09:37] #45510 closed

[2020-01-08 09:38] ketan-chawda-msft commented on #45767
@seekingtheoptimal Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-08 09:38] EdwardVoermans opened #45768 "Documentation errors because of Azure Portal changes"
Hi,
Using this document I found that there are incorrect steps because of slight changes in the way Azure Portal layout is presented. I discovered the changes now (01-08-2020) compared to end of December last year.
1. Steps 7-8-9 are obsolete because of UI changes in Azure Portal. These settings can now be found under selected IoT Edge, Set Modules, Runtime Settings.
2. When copying the JSON in se

[2020-01-08 09:52] Tbohunek commented on #11982
@tamram Could you please clarify if this "Storage Blob Data Reader" Role is also meant to work with PowerShell and Storage Explorer (in Portal)?
Yes, it does work through Portal->Containers, but with PowerShell the only way I see is to list Containers, which is going to require listKeys/action.

[code]

Thanks in advance :)
Tomas

[2020-01-08 09:58] whaakman opened #45769 "CSP Foreign Principal assignment is not automatically granted access on converted subscriptions"
When transferring billing ownership and essentially converting the EA subscription to an Azure Plan, then foreign principal for the CSP (for use with Admin on behalf of) is not automatically granted permissions on the transferred subscriptions. Even if the "DAP" setting on the reseller request was set to "true".

When the Azure Plan is created, the foreign principal is granted access on the subscr

[2020-01-08 10:04] dennisameling opened #45770 "Outdated cert-manager version in docs"
This document contains instructions for an outdated cert-manager version (0.8.0). The current version is 0.12.0, which contains some backwards incompatible changes. For example, `certmanager.k8s.io/cluster-issuer` has been replaced by `cert-manager.io/cluster-issuer`, as well as other changes. See https://github.com/jetstack/cert-manager/releases for details. Could you please update the article to

[2020-01-08 10:12] msrini-MSFT commented on #45703
@ChrisSommers , This requires deeper investigation , can you please raise a support ticket ?

[2020-01-08 10:19] brent-p commented on #40048
I just tried running this tutorial and got the same error: Could not execute because the specified command or file was not found.
Possible reasons for this include:
  * You misspelled a built-in dotnet command.
  * You intended to execute a .NET Core program, but dotnet-ef does not exist.
  * You intended to run a global tool, but a dotnet-prefixed executable with this name could not be found on t

[2020-01-08 10:21] SnehaAgrawal-MSFT commented on #45766
@Ahmad-Al-Ali Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-08 10:30] brent-p commented on #40048
Forgot to say this was on windows.

[2020-01-08 10:53] devhpes opened #45771 "Spelling Mistake"
Apache Storm (reecive only) to receive only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 460a9e7d-edf1-c112-349d-378d0456d09d
* Version Independent ID: c5d2854e-546d-6921-9275-5897c3ce1004
* Content: [Azure Quickstart - Create an event hub using the Azure portal](https://docs.microsoft.com/en-us/azure/event-hubs/even

[2020-01-08 11:10] rashmiinamdar opened #45772 "Hello,"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-08 11:12] rashmiinamdar opened #45773 "Not able to register model(.pkl file) to Azure"
Hello,

I am getting error while registering model.
Please help me here.
I am using below code-

model = run.register_model(model_name='sklearn_mnist_model', model_path='Users/rashmi.inamdar/Cloned_New_Model/tutorials/sklearn_mnist_model.pkl')

Error is -
           See https://aka.ms/run-logging for more details.
	InnerException None
	ErrorResponse
{
    "error": {
        "message": "Could not l

[2020-01-08 11:17] DixitArora-MSFT commented on #45772
Hi @rashmiinamdar Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-08 11:17] DixitArora-MSFT commented on #45773
Hi @rashmiinamdar  Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-08 11:20] jantorelamoy opened #45775 "Cannot open Link in the "Next Steps""
Link in the "Next Steps" points to a resource that is not accessible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ae849f-84bd-091f-8845-8b1b53584d2a
* Version Independent ID: 65397ff0-c7ae-b047-accc-4077ffded8f7
* Content: [Create & publish single sign-on documentation for your application](https://docs.microsoft.c

[2020-01-08 11:21] DixitArora-MSFT commented on #45771
@devhpes PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@Potapy4  Thanks for raising the PR and contribut

[2020-01-08 11:21] #45771 closed

[2020-01-08 11:22] mlottner commented on #45768
@EdwardVoermans Thanks so much for taking the time to share this feedback.
I'm going to review the Edge changes and update the article accordingly.
Really appreciate your contribution to our docs!

[2020-01-08 11:23] mlottner commented on #45768
#please-close

[2020-01-08 11:23] #45768 closed

[2020-01-08 11:27] SadiqhAhmed-MSFT commented on #45764
@csamleong GRS is intended to be used only when data center is down and Azure declares a disaster. If the data center is down, you should able to access recovery services vault, just as would do on a normal day, but the data in the background is obtained from the paired region after storage does a physical failover. Hence this covers regional disaster scenario. In case, you are looking at the abil

[2020-01-08 11:33] rashmiinamdar commented on #45773
I have referred code from microsoft document- https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-models-with-aml.
This is for deployment of machine learning models in Azure as a Service.

In this url it has code -
# register model
model = run.register_model(model_name='sklearn_mnist',
                           model_path='outputs/sklearn_mnist_model.pkl')
print(model.name, mod

[2020-01-08 11:34] viswanadham-k commented on #44395
Hi,
Apologies for the delay, we have started investigating on this issue, will update you with the changes ASAP.

[2020-01-08 11:54] SadiqhAhmed-MSFT commented on #45728
@alkohli FYI.

[2020-01-08 11:54] wolfma61 commented on #45220
the current REST-API version (Speech Service 2.0) isn't supporting webhooks. There was a 2.1 preview for some time available, which isn't officially supported.

The API is being updated according to Azure API standards and the next API/batch release will include webhooks and be officially supported. It will be available (planned) in the next couple of month.

[2020-01-08 11:56] aarfe opened #45776 "Does traffic go through the internet or not?"
It is a bit hard to understand if the traffic goes or goes not through the internet.
For example in the FAQ:
Does VNet-to-VNet traffic travel across the internet?
No. VNet-to-VNet traffic travels across the Microsoft Azure backbone, not the internet.

I think it does, because in this other article it is stated quite clearly:  https://azure.microsoft.com/en-gb/blog/vnet-peering-and-vpn-gateways/.
T

[2020-01-08 12:11] w0ut0 opened #45777 "Document "Mounted Blob containers will become read only in Feb 2020""
Since some days, when editing my volume mapping in the portal, I get the message "Mounted Blob containers will become read only in Feb 2020".
This is further documented on https://github.com/Azure/app-service-linux-docs/blob/master/BringYourOwnStorage/mounting_azure_blob.md .
Can we add this to the documentation? Mounting AzureBlob will become read-only and mounting AzureFiles will stay read/write

[2020-01-08 12:18] yanivlavi commented on #44936
Please see the changes I made to:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log-api-switch#process-of-switching-from-legacy-log-alerts-api

The alert rule name is maintained in the UI and is a property in the alert definition, but the URI had to change as the rule is now an ARM tracked resource.

[2020-01-08 12:22] webash commented on #42535
I still don't agree, but there's only so much time I can provide to this. The clarification at least leaves those who read it to ponder the choice.

I only wish you would provide more information on how to correctly determine the FQDN that is offered on the EAP server certificate since it is different to the external FQDN, but I can see I'm not winning here.

[2020-01-08 12:22] #42535 closed

[2020-01-08 12:22] jakaruna-MSFT commented on #45678
@bnawijn I am reaching out to the internal teams to get more information.

@mlearned please add your comments

[2020-01-08 12:25] DeanGross opened #45778 "Password recommendations"
How come the microsoft recommendations for passwords are not included on this page? Please add the guidance from https://www.microsoft.com/en-us/research/publication/password-guidance/ to this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24fd26-b126-c171-7edd-9f6713f23ab5
* Version Independent ID: 1e240640-ff8

[2020-01-08 12:28] jakaruna-MSFT commented on #45678
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#install self hosted agents can help you.  But you need to manage them

[2020-01-08 12:44] SadiqhAhmed-MSFT commented on #45374
@santhoshbomma9 The feature is available in both CPP and PC.

![image](https://user-images.githubusercontent.com/44458118/71979001-a70b7e00-3242-11ea-8515-f32d0918511f.png)

[2020-01-08 12:44] jakaruna-MSFT commented on #45757
@rockboyfor
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-08 12:45] BartVanBerkel commented on #44746
@philipstreet-hiscox the user assigned identity only requires get persmissions on the secrets. no additional role assignments are required. In the PowerShell example you can see this line:
Set-AzKeyVaultAccessPolicy -VaultName $kv -PermissionsToSecrets get -ObjectId $identity.PrincipalId

[2020-01-08 12:47] jakaruna-MSFT commented on #45591
@dbongard-cccu I am checking this issue and update you when i have some info

[2020-01-08 13:22] isamllr commented on #39632
See https://feedback.azure.com/forums/602299-azure-monitor-alert-management/suggestions/35183149-add-ability-to-export-definition-of-an-alert-as-a

**Workaround:** Get the ARM template from the **request body** from the activity log entry (notification history of your subscription) after creating an example alert.

Then convert the escaped JSON string back to JSON, for example by using https://www

[2020-01-08 13:26] marcin-vt commented on #19456
Similar to what @tabeth sugest, in many cases I was changin firewall rules of different resources (sql, function app et.c) to allow temporarly trafic from devops agent ip. However this is not working for storage accounts, because of [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-an-internet-ip-range):

[2020-01-08 13:28] DixitArora-MSFT commented on #45769
Hi @whaakman Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 13:29] DixitArora-MSFT commented on #45770
Hi @dennisameling Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 13:31] DixitArora-MSFT commented on #45775
Hi @jantorelamoy Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 13:32] DixitArora-MSFT commented on #45776
Hi @aarfe Thanks for reaching out. We will review and update as appropriate.

[2020-01-08 13:33] DixitArora-MSFT commented on #45777
Hi @w0ut0 Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 13:36] DixitArora-MSFT commented on #45778
Hi @DeanGross Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 13:36] mvvveen commented on #45561
I have the same issue

[2020-01-08 13:48] bdschaap opened #45781 "Activity Log Records"
Are any activity log records recorded when a VM is live migrated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823a4e41-1c11-bdb6-8efe-9b50a5c630f0
* Version Independent ID: 2ea84238-9763-d95b-9e6a-d11ca0bffba9
* Content: [Maintenance and updates for VMs in Azure - Azure Virtual Machines](https://docs.microsoft.com/e

[2020-01-08 13:50] K3UL opened #45782 "Add doc for new AMQP-based client"
This needs to be updated with examples from the new AMQP-based library.
The only doc right now is this one : https://docs.microsoft.com/fr-fr/python/api/overview/azure/servicebus?view=azure-python

and it lacks a lot, especially to show how to send and receive messages with topics.

Also this shows(for queues) how to receive messages but not how to consume them. For example `user_properties` used

[2020-01-08 13:52] irishun opened #45783 "Cannot upload training image"
Hi,
I follow the steps and create a project.

However, I am not able to upload images to the project.
(On the Tags Editer page, there is no buttom to upload images.)
Besides, even if the "Folder Path" in "Project Setting" page is set, no images are shown for labeling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f0

[2020-01-08 13:56] karthick3d commented on #42912
If Its GA, Only If Select that option called Experimental Languages, I see powershell option in portal.

[2020-01-08 14:02] snehithm commented on #45590
Hi @KrishnaG-MSFT , @guntaled

The link wrongly points to the Get-***Azure***AutomationConnection doc. The activity listed in the table is **Get-AutomationConnection** and is different from **Get-AzureAutomationConnection** that is being linked. The activity is not deprecated it will continue to work.

Activities are PS cmdlets that only work inside  an Azure Automation runbook and are different f

[2020-01-08 14:03] whaakman commented on #45769
Minor Addition:
I understand that this is documented on the page as below. However, normally this is achieved with the provisioning of the subscription. If left undocumented it's quite possible that people will either create accounts in the customer subscription (which is a scenario nobody wants as this will result in unnamed accounts, no accountability and the management of multiple accounts) or

[2020-01-08 14:09] Pucmaster commented on #32445
@ash2017 . Is this fixed ? Cannot see any eventGrid inside of my Enrich messages section. Message is not enriched only with events marked
![image](https://user-images.githubusercontent.com/9165840/71984247-c1d0f900-3228-11ea-9d8b-0473c0950219.png)

[2020-01-08 14:18] apanzalovic opened #45784 "Security defaults ARE enabled by default for new tenants"
PLEASE UPDATE THIS ARTICLE WITH THE FOLLOWING FACTS:
"In addition, new tenants using various Microsoft cloud-based services will be getting multifactor authentication, and it'll be turned on by default, which will take effect sometime this month.

"Starting later this month, MFA will be enabled as a security default in all new Azure Active Directory tenants for Microsoft 365, Office 365, Dynamics,

[2020-01-08 14:21] rambabu0063 commented on #45625
Thank you  @PramodValavala-MSFT

I have updated my template but this time I am facing URL validation issue.  deployment got failed first time but when i re deployed it got success ,don't know what's the exact issue.

<img width="394" alt="urlvalidationissue" src="https://user-images.githubusercontent.com/57993345/71984790-8a297780-324f-11ea-8873-0cab272e358f.PNG">
<img width="787" alt="samplecode1

[2020-01-08 14:23] apanzalovic commented on #45784
additionally, I have found the following techcommunity article stating the security defaults will be enabled by default for new tenants: https://techcommunity.microsoft.com/t5/azure-active-directory-identity/what-s-new-in-azure-active-directory-at-microsoft-ignite-2019/ba-p/827831

[2020-01-08 14:53] vrvrvrvrvr commented on #44260
Wanted to ask the same thing. Multi-turn conversations work with 1:1 context, but not when interacting in Teams channel scope. Zero code deployment.

[2020-01-08 15:22] nancybelser commented on #37403
Any updates on python 3?

[2020-01-08 15:36] tfitzmac commented on #45431
@ohadbitt - we'll close this for now. If you still think it needs to be fixed, we can reopen.

[2020-01-08 15:36] tfitzmac commented on #45431
#please-close

[2020-01-08 15:36] #45431 closed

[2020-01-08 15:38] GiftA-MSFT commented on #45783
@irishun thanks for your feedback. We will review this issue and get back to you shortly.

[2020-01-08 15:47] Sprinton opened #45786 "Verify return code: 20 (unable to get local issuer certificate)"
Hello,

i've an issue although i followed all the guides available. i want to connect a Downstream/Leaf device (smash4) to my Edge Gateway (smash3). by using the command below:
`openssl s_client -connect smash3:8883 -CAfile /home/pi/newCerts/azure-iot-test-only.root.ca.cert.pem -showcerts`

i get the errors below

`No client certificate CA names sent
Client Certificate Types: RSA sign, DSA sign, E

[2020-01-08 15:52] zr-msft commented on #44813
Thank you for the feedback @clemensv

The doc has been updated to use helm 3.

#please-close

[2020-01-08 15:52] #44813 closed

[2020-01-08 15:53] alvipeo opened #45787 "Please fix dark scheme as icon captions are black on black"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d014c45f-5c4a-2598-ae92-89f48ae6b207
* Version Independent ID: e7d95537-e03b-230a-635b-7032ff101a6b
* Content: [Microsoft identity platform authentication flows & app scenarios](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scen

[2020-01-08 15:59] BharathNimmala-MSFT commented on #45497
@Schenz Thanks for the query. Live Metrics for static generate site should not be restricted, however one possible reason I could think off is related to firewall restrictions. Could you please help with some additional information on whether your application is in protected network or not. Live Metrics Stream uses different IP addresses than other Application Insights Telemetry. Please find the l

[2020-01-08 16:00] sdgilley commented on #45692
Have you tried these steps to attach the compute target:
https://docs.microsoft.com/azure/machine-learning/how-to-create-your-first-pipeline#databricks

[2020-01-08 16:06] NavtejSaini-MSFT commented on #45699
@AndyBunning Thanks for the feedback and link. We are checking this further with our author.
@kirankumarkolli Please check the feedback from the user and help with the same.

[2020-01-08 16:16] jmprieur commented on #45787
I think @CelesteDG has a backlog item for this one;

[2020-01-08 16:17] sugarjig opened #45789 "Error creating service principal"
I get an error trying to execute the following command:
[code]
The error output is (missing spaces are copied from output)
[code]
What permissions are needed to create the service principal? We have not run into any issues creating them before. Is there a precondition we're missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-01-08 16:18] MaranVerweij opened #45790 "Clarification regarding required user licensing/subscription"
"To configure SAML single sign-on for a non-gallery application without writing code, you need to have &gt;a subscription&lt; or Azure AD Premium and the application must support SAML 2.0. For more information about Azure AD versions, visit Azure AD pricing."

1. Which subscription is being referred to here? Azure AD licenses per user? And if yes, which editions? The pricing link that is referred

[2020-01-08 16:21] markmabe opened #45791 "Issue with long delays when Security Center enables ATP on new storage accounts"
Hello,

We are seeing an issue with long delays in ATP being enabled on new storage accounts and would like to understand if this is expected and if this can be documented here on this page. I don't see any mention of it on this page.

We followed the documentation on this page and enabled storage accounts in Security Center, which successfully configured Advanced threat protection/ATP very quickl

[2020-01-08 16:21] UtsaVakani opened #45792 "Management policies for storage account using ARM template"
I wanted to confirm whether we can create policies using ARM template for an existing storage account ?
I referred the following template "https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-04-01/storageaccounts/managementpolicies" but was unable to access the storage account .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-01-08 16:21] smildenberger commented on #41907
@munozrickT4S I have just started using this feature and am successful setting the enqueue time to 15 days in the future.  I also set it to utcNow and it executes immediately.  At least partially answers your questions if you haven't tried it.

[2020-01-08 16:42] #45608 closed

[2020-01-08 16:42] GiftA-MSFT commented on #45783
@PatrickFarley can you please confirm if this is doc or product issue. Thanks.

[2020-01-08 16:43] SamaraSoucy-MSFT commented on #45713
There is a solution to this in [this Stack Overflow thread](https://stackoverflow.com/questions/57703070/how-to-tag-retention-graph-in-azure-application-insight-dashboard). The graphs on the Retention blade aren't setup to be pinned, but the graphs are all available on the Workbooks blade. It won't let you pin everything together, but you can pin whichever graphs you need from the Workbooks and ar

[2020-01-08 16:43] #45713 closed

[2020-01-08 16:48] mmacy commented on #44954
@jamabit Understood. However, the **first line of the build output** is important in this case. If it is:

`Error occurred while restoring NuGet packages: Could not load file or assembly 'NuGet.Versioning, Version=5.4.0.2, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from H

[2020-01-08 17:05] #45619 closed

[2020-01-08 17:07] SirAlvarex opened #45793 "Ability to configure the NearExpiry?"
Commenting on this text: (The default is 30 days before the expiration date.)

Since it says "default", I presume there is a way to configure this event?  We would like to actually change this to be two events:  WarnNearExpiry and AlertNearExpiry.  We would Warn at 30 days which would generate tickets and work for us to update the value.  For secrets that can be auto-rotated, we'd create a job for

[2020-01-08 17:07] sdgilley commented on #45619
@CESARDELATORRE - thanks for finding this.  The article has been updated with code that will use the compute target if it already exists, otherwise create it.  This update should be available later today.

#please-close

[2020-01-08 17:08] mjcarrabine commented on #37127
Any progress on creating an ARM template?

The current lack of automation for managing SQL Virtual Machines is putting a big dent in our ability to automate deployments.

[2020-01-08 17:10] sdgilley commented on #45608
@CESARDELATORRE - thanks for noticing this.  The project_folder should be a string, so the easiest way to fix is to simply add quotes around 'project_folder'.  I've made this change to the document.  The updated version will be available later today.

#please-close

[2020-01-08 17:11] cynthn commented on #45757
@rockboyfor Thanks for the feedback! I think this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/45754 which has an open pull request to make the change to the doc.

@VikasPullagura-MSFT

#please-close

[2020-01-08 17:11] #45757 closed

[2020-01-08 17:24] eross-msft commented on #45430
@slsourabh18  This actually is content for the older way to do things. The newer way is still in preview and you can see the instructions for end-users, here: https://docs.microsoft.com/azure/active-directory/user-help/user-help-security-info-overview. Thanks!

#please-close

[2020-01-08 17:24] #45430 closed

[2020-01-08 17:29] eross-msft commented on #44986
@aleazofeifam  Thank you for your feedback!
The What's New article is a great source of information, but because it's manually updated, it can only be as robust as what the product group includes/provides. Please add a comment about this to the **Search groups and members (preview) in Azure Active Directory** page itself. After the comment is there, the writer of that article can work with his pro

[2020-01-08 17:29] eross-msft commented on #44986
#please-close

[2020-01-08 17:29] #44986 closed

[2020-01-08 17:30] itorx commented on #45732
I posted this in the wrong location. I will close the issue. Thank you.

[2020-01-08 17:30] #45732 closed

[2020-01-08 17:31] soheilade opened #45796 "Failed to create provisioner: Failed to get Azure Cloud Provider. GetCloudProvider returned <nil> instead"
following the guide [here ](https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv)on a k8s the I installed on an azure VM myself, my PVC have this error and stays in pending mode, any idea how to resolve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Indepe

[2020-01-08 17:34] asmithlaitram opened #45797 "Boomi Set Update"
Please udpate based on the comments contained in the following URL.

https://community.boomi.com/s/article/settingupmicrosoftazureactivedirectoryasanidentityprovidertousessowithatomsphere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f517c9d0-1a8f-f045-0809-16df094b2eb6
* Version Independent ID: 069115eb-74e1-77d0-0ca

[2020-01-08 17:44] himanshusinha-msft commented on #45781
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-08 17:45] himanshusinha-msft commented on #45784
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-08 17:48] dargilco commented on #43833
#please-close

[2020-01-08 17:49] #43833 closed

[2020-01-08 17:54] NathanKinney commented on #45683
Hi @asergaz Thanks for reaching out so quickly. https://docs.microsoft.com/en-us/azure/Kinect-dk/record-sensor-streams-file; there is not a whole lot of code on this section and in past I hadn't had problems with capturing data. Here's a code snipet i've wrote to try to debug and see the problem and all my errors are pointing to k4a_record_create() object. My goal is to capture small clips of data

[2020-01-08 18:07] PatrickFarley commented on #44857
@marcusturewicz I'm changing the docs and samples now to use await-async all the way up.
#please-close

[2020-01-08 18:07] #44857 closed

[2020-01-08 18:09] craig-martin commented on #44936
I think that is incorrect, because when I switched all of my rule names changed from meaningful descriptions to GUIDs.  It is especially annoying because rule names cannot be modified, so I had to create the rules all over again.  To warn future users of this switch I think the doc should read:

- Rule Names will be changed by the switch to the format <GUID>
- Rule Names cannot be modified back to

[2020-01-08 18:11] alvipeo commented on #45716
Actually, I see the different scenario. In here I request multiple scopes but Authentication response only lists those that are defined for a user:

![Image of AuthResponse](https://inus.azureedge.net/pub/scopes%20in%20auth%20response.png)

And I don't see them as claims here!

[2020-01-08 18:14] tchristiani commented on #41465
This issue is #in-progress
We will update when the PM team has completed their investigation.

[2020-01-08 18:16] ecfan commented on #42643
This work item is still on the backlog, but due to very low usage, this page will eventually get redirected to the connector's reference page here: https://docs.microsoft.com/connectors/googledrive/

@PramodValavala-MSFT: #please-close

[2020-01-08 18:16] #42643 closed

[2020-01-08 18:18] athinanthny commented on #45077
@ajayvs- @dragav investigated the issue and here are his observations and recommendations for your issue. Please ensure recommendations and instructions stated in doc are followed.  If you still see issues, please provide the output of the Log lines to further assist.

-----------
Sounds like the app is not able to retrieve a token from the local endpoint, and not that the token is rejected by KV.

[2020-01-08 18:21] MarileeTurscak-MSFT commented on #45790
@MaranVerweij
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-08 18:22] MarileeTurscak-MSFT commented on #45787
@alvipeo closing this out as the content author is already working on this. Thanks for your feedback!

[2020-01-08 18:22] #45787 closed

[2020-01-08 18:22] billmath commented on #43053
@MHolzmannMS Thanks for pointing this out.  I have updated the What is Azure AD Connect and Connect Health article to include the licensing requirements for Connect Health.  It should be live in the next day or so.  Thanks!

#please-close

[2020-01-08 18:22] #43053 closed

[2020-01-08 18:23] MarileeTurscak-MSFT commented on #45797
@asmithlaitram
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-08 18:27] MHolzmannMS commented on #43053
Bill,

Thank you!!!

Be well,

Matt Holzmann, MOFv4, ITILv3 | Account Technology Strategist | Microsoft Corporation
W: 425-538-1205<tel:4255381205>, C: 760-201-6288<tel:7602016288> | mholzman@microsoft.com<mailto:mholzman@microsoft.com>
Our mission is to empower every person and every organization on the planet to achieve more.

TRAVEL:
JAN 9-10: Atlanta, GA
JAN 16-17: Personal Days
JAN 21-23: Cha

[2020-01-08 18:28] billmath commented on #44380
@ChrisAtMAF Thank you for catching this.  I have created a work item to get this content updated.  Unfortunately I don't have an ETA yet but once it is live I will update this issue.  Thanks!

#please-close

[2020-01-08 18:28] #44380 closed

[2020-01-08 18:31] billmath commented on #44661
@HoCGeek Thank you for the feedback.  I have created a work item for this to revisit this article.  I don't have an ETA as to when this will be updated but I will post an update to this issue once it is ready to go live.  Thank you!

#please-close

[2020-01-08 18:31] #44661 closed

[2020-01-08 18:33] Adam-Smith-MSFT commented on #45791
@markmabe Thank you for the valuable feedback,we are investigating the issue.

[2020-01-08 18:34] billmath commented on #44716
@hakboga1 Thank you for raising this.  I have created a work item to investigate this.  Thanks!

#please-close

[2020-01-08 18:34] #44716 closed

[2020-01-08 18:41] billmath commented on #44905
@jopalenc Thank you for the feedback.  I have created a work item to investigate this.  Unfortunately I don't have an ETA on when I may have an answer.  One, I don't have a Dynamics CRM environment readily available to verify what the default ("out of the box") sync rules are.  Also, I want to verify if this is a direct match or a transformation.  What is on-prem, in AAD Connect and Azure AD can b

[2020-01-08 18:41] #44905 closed

[2020-01-08 18:43] jwargo commented on #40401
@nitishr06 I finally got around to publishing that blog post on [Using Azure Notification Hubs in Apache Cordova and Ionic Apps](https://techcommunity.microsoft.com/t5/azure-developer-community-blog/using-azure-notification-hubs-in-apache-cordova-and-ionic-apps/ba-p/1056685). It should help clear things up a bit.

@BryanTrach-MSFT please close.

[2020-01-08 18:45] Adam-Smith-MSFT commented on #45792
@UtsaVakani The creation of policies using ARM is currently supported. I'd recommend posting in  the forums https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata ? It would have a higher visibility on forums since this is not an issue with the documentation itself.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it

[2020-01-08 18:45] #45792 closed

[2020-01-08 18:45] billmath commented on #45226
@CeciAc
Thanks for your feedback! I have created a work item for this.  I will be investigating and will update this should I post an update.  Thank you!

#please-close

[2020-01-08 18:45] #45226 closed

[2020-01-08 18:46] KranthiPakala-MSFT commented on #45724
@michalmlaka  Thanks for your response and I agree with you.

For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to AzCommunity@Microsoft.com with the below details, so that we can enable a one-time-free support for you to work closely on this matter. 

Subject of the email: <Issue Title>

[2020-01-08 18:47] kirankumarkolli commented on #45699
@ealsur can you please take a look?

[2020-01-08 18:54] NavtejSaini-MSFT commented on #45723
@Peter-B- For 3.6 it’s automatically enabled, no additional settings required. So there is no need for you to enable anywhere. It is already enabled.

[2020-01-08 18:58] BharathNimmala-MSFT commented on #45559
Thank you @cweining for helping on this.

@gituser227 Thanks again for reaching out to us. Regarding your query, there are two major versions of the Application Insights site extension. However, the old version was a customer installed extension and had to be updated manually and the newer version is a preinstalled extension that can be automatically updated. The problem is that we can't automatic

[2020-01-08 19:00] ash2017 commented on #32445
Event Grid endpoint for enrichment will show up only after you have created an EG subscription for device telemetry from IoT Hub.

[2020-01-08 19:02] KranthiPakala-MSFT commented on #45589
@hruday94 Thanks for reaching out to us. At this time it does not look like you are referring to a document content. I would request you to please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata) and other forums ([stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-lake?tab=newest&page=2&pagesize=15)), we have our engineers

[2020-01-08 19:02] #45589 closed

[2020-01-08 19:06] Minewiskan commented on #6226
#reassign:kfollis

[2020-01-08 19:08] ththiem commented on #45738
![image](https://user-images.githubusercontent.com/15839533/72007719-2bd8a680-3207-11ea-9537-db73c6a8a604.png)

[2020-01-08 19:13] itshari commented on #24239
@NavtejSaini-MSFT Any updates on this issue? Even we are blocked on querying the metrics of SQL read replica using the Monitoring API.

[2020-01-08 19:18] AjayKumar-MSFT commented on #45634
@susheelv12, If I have understand your scenario correctly, you can try this from the Azure Resource Explorer (RE):

1. In RE, search for your web, mobile or API app using the search bar.
2. Under your site node, navigate to /config/authsettings.
3. Click Edit to enable making changes.
4. Set clientSecret (a string property) to the key value that was generated in the Azure AD portal.
5. Set additio

[2020-01-08 19:24] StephenWeatherford commented on #43389
@femsulu ping thanks!

[2020-01-08 19:33] KranthiPakala-MSFT commented on #45574
@thecpshah We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me or @himanshusinha-msft in your reply and reopen the issue. We will gladly continue the discussion.

[2020-01-08 19:37] HoCGeek commented on #44661
Thanks for the update, but shouldn’t the issue remain open until the work is actually done?

Thanks,

Dan

From: Bill Mathers <notifications@github.com>
Sent: January 8, 2020 1:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carr, Daniel <daniel.carr@parl.gc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] More detail please (#44661)

@HoCGee

[2020-01-08 19:37] ealsur commented on #45699
@AndyBunning The documentation shows the creation of a NET Framework Console App, not NET Core. VS gives you the option when you create a Console App to choose one or the other, and the steps mention the NET Framework version:

![image](https://user-images.githubusercontent.com/1633401/72009578-077ec900-320b-11ea-9a3d-626666600d41.png)

![image](https://user-images.githubusercontent.com/1633401/72

[2020-01-08 19:38] KranthiPakala-MSFT commented on #33178
@sharmamanish260979 Here is a MSDN thread which might be helpful in your case.

https://social.msdn.microsoft.com/Forums/en-US/ea386f5e-2d5d-4f9c-8ead-28e6d2aad374/storage-accoung-v2-access-with-firewall-vnet-to-data-factory-v2?forum=AzureDataFactory

Hope this helps.

Thanks.

[2020-01-08 19:42] umeshbarapatre commented on #45071
Thanks Keith .couple of questions. Is this assertion accepted at sap oauth token . I could not see name Id may be I am reading it
From mobile device but that’s one of
The mandatory attribute. Let me know if we can connect sometime

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Keith Voels <notifications@github.com>
Sent: Tuesday, January 7, 2020 3:39:53 AM
To: M

[2020-01-08 19:43] mike-urnun-msft commented on #45782
@K3UL Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-08 19:47] mike-urnun-msft commented on #45793
@SirAlvarex Thank you for your feedback! We will review and update as appropriate.

[2020-01-08 19:47] cephalin commented on #44252
@PingPongSet The two sections you mentioned are needed for local debug. Without them the local debug scenario won't work. If you don't need local debug you can skip them. However, without them you're gonna need to manually setup the databases in Azure and can't use database migrations from VS, for example. #please-close

[2020-01-08 19:47] #44252 closed

[2020-01-08 19:47] nibaccam commented on #45692
@RachelKellam @tsikiksr can you help here?

[2020-01-08 19:48] BryanTrach-MSFT commented on #40401
@nitishr06 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-08 19:48] #40401 closed

[2020-01-08 19:52] MicrosoftGuyJFlo commented on #44343
The product team is working on an update to the documentation. This is in our backlog to complete but no date to give right now.

[2020-01-08 19:52] MicrosoftGuyJFlo commented on #44343
#please-close

[2020-01-08 19:52] #44343 closed

[2020-01-08 19:54] shibug opened #45801 "When will Azure Databricks support direct integration with Enterprise Github?"
When will Azure Databricks support direct integration with Enterprise Github?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b239686d-32f4-cd7c-3213-b546a7cd1dab
* Version Independent ID: ae751f16-8950-9f19-7d67-3db6e1630c28
* Content: [GitHub Version Control - Azure Databricks](https://docs.microsoft.com/en-us/azure/d

[2020-01-08 19:58] annerajb opened #45802 "Did the preview ended? The service does not say preview on the Portal"
I went to the Azure Portal this morning and it no longer says Preview was the service now moved to GA availability?
If so this page needs an update since it still says preview in a few places.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c4be05-6859-0c17-0b6f-82f9833d8aed
* Version Independent ID: 86da3d34-c6c1-642

[2020-01-08 20:11] jpconnock commented on #11547
Hi everyone,
At the moment, we do not have the resources to add new content for Cloud Service documentation.  I have added this request to our backlog, though, to ensure the request isn't lost.  Thanks for your feedback.

#please-close

[2020-01-08 20:11] #11547 closed

[2020-01-08 20:18] qu0vad1s opened #45803 "Alt. ID limitations"
Hello, it is mentioned in this article the following warning:
"Using an Alternate ID is not compatible with all Office 365 workloads. For more information, refer to Configuring Alternate Login ID."

I can't find any relevant information with regards to what workloads are not compatible, even by looking at the link provided in the warning (I'd need a single example to get started).

Additionally, w

[2020-01-08 20:20] MartinJaffer-MSFT commented on #45546
@Mr-San I have information for you.

The Execute Pipeline activity is an exception to the normal logic.

When you have an Execute Pipeline activity with option "Wait on completion", 3 things happen:
- The success / fail status of child pipeline determines success / fail of Execute Pipeline activity
- If child pipeline fails, parent pipeline fails
- The parent pipeline waits for child pipeline to c

[2020-01-08 20:26] tchristiani commented on #21276
@YutongTie-MSFT This is not a doc enhancement issue. This is a product issue. Will you please adjust the labels?

[2020-01-08 20:27] YutongTie-MSFT commented on #21276
@tchristiani Hi Terry, I have changed the label and please let me know if you need other help. Thanks.

[2020-01-08 20:29] marc-gmail-towersap opened #45804 "I know the title is import mongodb to cosmos, but what if I don't want to use cosmos?"
What if I don't want to use cosmosdb, but instead use mongodb in one container, and have my node.js app connect to it in a different container? I am pretty sure it's the URL that is the issue that node.js uses to connect to mongo.  localhost works fine if doing it locally, but in an azure app service or k8s pod, it fails.  I have a url like mongodb://name:password@mongodb:27017.  works fine locall

[2020-01-08 20:36] #40896 closed

[2020-01-08 20:50] CESARDELATORRE opened #45806 "run.register_model() should usually specify the model_path parameter with the model .pkl filepath name"
Simply using the specified line in this doc for model registration will probably fail:

model = run.register_model(model_name='sklearn-sample')

With this error: "Could not locate the provided model_path sklearn-sample in the set of files uploaded to the run"

Because if model_path parameter (the relative cloud path to model from outputs/ dir) is not provided, then, model_name is used as the path,

[2020-01-08 20:53] apatriz commented on #45634
I am trying to get an answer to this issue as well. There is not documentation on this, so I'm assuming it's not possible to have EasyAuth provide access to multiple resources.
If someone could provide a definite answer on this, it would be great.
I think what is tripping people up is it is fairly common to have a scenario where your app is accessing multiple different APIs, which would require de

[2020-01-08 20:56] trevor-schmidt commented on #25933
You can do something like... $resourceGroups = Search-AzGraph -Query "ResourceContainers | where type =='microsoft.resources/subscriptions/resourcegroups' | project tags"

[2020-01-08 21:00] MartinJaffer-MSFT commented on #45546
I removed my previous post because I misinformed you.

[2020-01-08 21:04] StephenWeatherford opened #45807 "Microsoft.DataFactory/datafactories -> Microsoft.DataFactory/factories??"
Found this old review [https://marketplace.visualstudio.com/items?itemName=msazurermtools.azurerm-vscode-tools&ssr=false#review-details]:

The resource type "Microsoft.DataFactory/datafactories" still appears to not exist in the ARM schemas.  If I create a new data factory via the portal, I get this:

    "resources": [
        {
            "type": "Microsoft.DataFactory/factories",  <<<<<<<<<<<<

[2020-01-08 21:06] DavidArayaSanabria commented on #45591
Hello,

This is a possible solution:

https://github.com/kubernetes/kubernetes/issues/63615  it describes the situation when there are multiple containers in a pod. For some reason it doesn’t matter to GCP GKE, but for Azure AKS, each container must have a CPU request and limit in order to get proper metrics to the HPA. I modified my deployment and now the HPA reports successfully.

Additionally s

[2020-01-08 21:07] YutongTie-MSFT commented on #45806
@CESARDELATORRE
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-08 21:11] kraigb commented on #40896
Options have been added in the private repo via https://github.com/MicrosoftDocs/azure-docs-pr/pull/100206 and will be published within a day. This issue can now be closed.

[2020-01-08 21:11] zhusulai opened #45810 "Bug in the example"
`sampleRateInSeconds` should be inside of `ladCfg` instead of outside.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute - Linux Diagnostic Extension](https://docs.microsoft.com/en-us/azure/virtual

[2020-01-08 21:15] mike-urnun-msft commented on #45471
@candidson I'll repro this and share my findings on your [Stackoverflow post](https://stackoverflow.com/questions/59570726/azure-functions-and-azure-keyvault-communicating-through-service-endpoint). Closing this for now as there isn't a doc change required at this time.

[2020-01-08 21:15] #45471 closed

[2020-01-08 21:16] garimpeirodouniverso commented on #38914
I'm facing the same issue, and whitelisting IPs weekly is not an option at all.

Would it be possible to have a self-hosted agent for the Build Pipeline inside a VM, setup this VM inside a VNet, and then allow it access within the Key Vault? I'm no pro by any means, so how absurd is this approach?

FWIW I was inspired by this solution here: https://www.visualstudiogeeks.com/DevOps/PrivateAzureAseV

[2020-01-08 21:29] trevor-schmidt opened #45811 "How to use Azure Resource Graph to query with dates"
I need to query resource groups with "Expiration Date" tags and get any that are older than todays date. I tried examples like ResourceContainers | where type =='microsoft.resources/subscriptions/resourcegroups'
|  where datetime(tags['Expiration Date']) &lt; datetime(date) or &lt; datetime(now()), etc. nothing has worked

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-08 21:31] MarileeTurscak-MSFT commented on #45720
Never mind! I see what you mean.

I made a pull request to remove these links. Thanks for pointing this out! https://github.com/MicrosoftDocs/azure-docs-pr/pull/100488

[2020-01-08 21:31] #45720 closed

[2020-01-08 21:31] koolkarni opened #45812 "unable to see ‎Instances · ‎Hierarchies · ‎Types in preview mode"
![Screen Shot 2020-01-08 at 1 27 22 PM](https://user-images.githubusercontent.com/16875126/72017506-a9f27880-321a-11ea-96a8-7de1a4687e87.png)

Unable to see any ‎Instances · ‎Hierarchies · ‎Types in the preview mode, I get the data from the event hub.

is there any documentation related to this. why I am not able to see ‎Instances · ‎Hierarchies · ‎Types and is there any configuration that is miss

[2020-01-08 21:35] sbell303303 opened #45813 "Is membership in the Windows Insider Program required to obtain the client?"
We cannot download the client as the install option is grayed out and a notification shows "This title is powered by great new features in the free Windows Insider Program.  Please go to https......  to join now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent I

[2020-01-08 21:37] mike-urnun-msft commented on #45614
@fabiocav for any insights.

@SychevIgor It might be good to join the discussions on [Azure/app-service-announcements-discussions](https://github.com/Azure/app-service-announcements-discussions) repo.

[2020-01-08 21:38] anzaman commented on #45813
You should be able to download it, please make sure that you are logged in using a Microsoft account (outlook, live, MSN etc,)

[2020-01-08 21:39] toddjohnson39 opened #45814 "Windows Current - Non-Persistent"
Will Windows Current in Federated or Managed environment ever support Non-Persistent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8f55d4-539c-7835-010b-34026860f699
* Version Independent ID: 4f8db376-bed9-6fd2-2e65-ac11c0952540
* Content: [Device identity and desktop virtualization - Azure Active Directory](https:

[2020-01-08 21:51] Adam-Smith-MSFT commented on #45738
@ththiem Let me check with the team internally and I'll get back to you

[2020-01-08 21:58] Blackmist commented on #45373
@anoopasokan and @nheinbaugh Thanks again for reporting. The engineer who worked on it says that the missing command is:
[code]
I'll work with the engineering team to get the document updated with this information.

[2020-01-08 22:01] jslaybaugh commented on #42966
Even after the updates to the NSG in https://github.com/MicrosoftDocs/azure-docs/commit/719a0d7d9bf46225aede247c65b29bbfd36edce4#diff-ec1514dbb6c817aadab82a830b5a1f09, I still cannot get it to answer in a web browser.

[2020-01-08 22:04] KranthiPakala-MSFT commented on #45801
@shibug
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-01-08 22:06] autocloudarc opened #45815 "Unable to use Azure Automation Credential Assets as PSCredential"
BACKGROUND: I’m trying to setup a runbook without user interaction for the PowerBI subscription credentials and have encountered the following issue:

OBJECTIVE: To retrieve the Automation Account credential asset named “PowerBIAuthCred” for passing as a PSCredential object to the Connect-PowerBIServiceAccount Cmdlet.

CODE SEGMENT:

$credential = Get-AutomationPSCredential -Name "PowerBIAuthCred"

[2020-01-08 22:12] DCtheGeek commented on #45811
#assign:DCtheGeek

[2020-01-08 22:16] alathrop opened #45816 "Parameters for datasets"
This example shows how to use a parameter sampling rate. Is there an example to show how to use a different dataset with the batch pipeline run? I believe it can be accomplished with a parameter but wonder if there's an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 385d55c5-8a77-d2f1-7fcb-0a2609e39d05
* Versi

[2020-01-08 22:19] DCtheGeek commented on #45811
Thanks @trevor-schmidt for the question.  I think the issue is that datetime() isn't a KQL function that I see.  I believe it should be **todatetime**.  I tried the following and it worked in my environment:

[code]

Let me know if that fixes it. I could look at adding an example that works with dates if this meets your need.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in

[2020-01-08 22:22] fabiocav commented on #45614
Azure Functions will continue to service .NET Core 2.2 in the context of Functions and the hosted service. We've detailed some of that here: https://azure.microsoft.com/en-us/updates/announcing-go-live-release-for-azure-functions-v3/

[2020-01-08 22:22] fabiocav commented on #45614
Also adding @jeffhollan for awareness

[2020-01-08 22:22] KranthiPakala-MSFT commented on #45801
@shibug Unfortunately there is no ETA at the moment. I would suggest you to please follow [Azure Updates](https://azure.microsoft.com/en-us/updates/?category=analytics&query=databricks) for further notification about this.

While it's not built into the UI for auto-syncing you can use the [Workspace REST APIs](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/workspace#workspa

[2020-01-08 22:30] MarileeTurscak-MSFT commented on #45722
Hi @Tiberriver256 ,

The format depends on whether it's a single-tenant or multi-tenant application.

The [guidelines](https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/quickstart-modify-supported-accounts#change-the-application-registration-to-support-different-accounts) explain it:

[2020-01-08 22:31] MarileeTurscak-MSFT commented on #45722
Hope this helps! If you have further questions please post to Microsoft Q&A, which we monitor by the hour for product questions. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2020-01-08 22:31] #45722 closed

[2020-01-08 22:31] shibug commented on #45801
Thanks for the workflow. We will program it for now.

[2020-01-08 22:31] #45801 closed

[2020-01-08 22:34] sugarjig commented on #45789
I forgot to mention this, but this is blocking us from being able to use a custom domain name with Front Door.

[2020-01-08 22:35] tchristiani commented on #21276
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:35] #21276 closed

[2020-01-08 22:35] tchristiani commented on #26017
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:35] #26017 closed

[2020-01-08 22:35] himanshusinha-msft commented on #45786
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-08 22:36] tchristiani commented on #31991
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:36] #31991 closed

[2020-01-08 22:37] tchristiani commented on #35466
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:37] #35466 closed

[2020-01-08 22:37] tchristiani commented on #35634
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:37] #35634 closed

[2020-01-08 22:39] tchristiani commented on #40899
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:39] #40899 closed

[2020-01-08 22:40] NavtejSaini-MSFT commented on #45734
@potato-enthusiast We have created the pull request to correct the file. Once approved the changes will be visible.

[2020-01-08 22:42] john-dieter opened #45817 "Local Service Fabric Cluster no powershell?"
I get '﻿powershell.exe' is not recognized as an internal or external command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e51338d-3a2f-8cc0-879f-8e360c1a9fd7
* Version Independent ID: cba37d44-087e-7e77-192d-3966e3c1cdea
* Content: [Run a script when an Azure Service Fabric service starts - Azure Service Fabric](htt

[2020-01-08 22:42] tchristiani commented on #42270
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:42] #42270 closed

[2020-01-08 22:42] m60freeman opened #45818 "Q: How do I get notified about planned maintenance?"
"Additional channels and recipients for this notification could be configured using Activity Log Alerts." Can this be enhanced to provide a link to more accurate and specific instructions? https://docs.microsoft.com/en-us/azure/service-health/alerts-activity-log-service-notifications might be a possibility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-01-08 22:46] tchristiani commented on #45751
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-08 22:46] #45751 closed

[2020-01-08 22:51] TravisCragg-MSFT commented on #45789
@sugarjig You can [verify if your account has permissions to create a service principal and assign the applicaiton Here](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#required-permissions).

Check those permissions and let me know if the command succeeds.

[2020-01-08 22:52] MartinJaffer-MSFT commented on #45546
@Mr-San I have better information for you now.
The success  / failure status of the pipeline depends upon what dependancies the failing activity has.
Rules:

	Only have failure branch after failure -> success
	Have nothing after failure -> failure
	have both success and failure after failure -> failure

Examples:

failing activity only has a failure dependancy -> pipeline succeeds
![image](https:/

[2020-01-08 22:53] HuaTang92 commented on #43203
Hello there, is there any update on this issue? We're also facing the same issue when assigning managed identity to a resource. It used to work but failed after upgrading azure cli to 2.0.74.

[2020-01-08 22:53] trevor-schmidt commented on #45811
Perfect thank you!

[2020-01-08 22:56] KranthiPakala-MSFT commented on #45801
@shibug Thanks for the response. I would also recommend you to please up-vote and/or comment on the below feedback thread in Azure Databricks User voice forum.

https://feedback.azure.com/forums/909463-azure-databricks/suggestions/36522919-git-integration-with-github-enterprise

Up-voting an idea/suggestion will help to increase the priority of a feature request.

Hope this helps.

[2020-01-08 23:01] himanshusinha-msft commented on #45796
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-01-08 23:04] himanshusinha-msft commented on #45802
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-01-08 23:05] MartinJaffer-MSFT commented on #45546
So for what you want, @Mr-San , you can try this:
![image](https://user-images.githubusercontent.com/46612670/72023220-15424780-3227-11ea-97e7-05b0e88f0ab4.png)
If an activity is not run, that means it is _skipped_ .  The skipped dependency means "run the next activity only if the current activity was not run."  A completion dependency is fulfilled by both success or failure.  A completion depende

[2020-01-08 23:05] #45546 closed

[2020-01-08 23:06] himanshusinha-msft commented on #45803
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-01-08 23:11] sbell303303 commented on #45813
Turns out that we needed to update the version.  Even though the OS met the minimum version, it would not install until we went to 1903 or 1909.
Thanks

[2020-01-08 23:12] TravisCragg-MSFT commented on #45813
@sbell303303 Thanks for the follow up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-08 23:12] #45813 closed

[2020-01-08 23:15] YutongTie-MSFT commented on #45816
@alathrop
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-08 23:21] DCtheGeek commented on #45811
Thanks for the confirmation it works!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-01-08 23:21] #45811 closed

[2020-01-08 23:25] MarileeTurscak-MSFT commented on #45814
@toddjohnson39
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-08 23:26] TravisCragg-MSFT commented on #45802
@annerajb The preview has not ended. The home page of the portal still states (preview) for me. Can you post a screenshot if you need further clarification?

[2020-01-08 23:59] marc-gmail-towersap opened #45820 "can't get node.js to talk to mongodb via commandline"
I could not get my node.js container to talk to mongodb container via commandline.  I have a mongo.yaml file like
version: '3'
services:
  marc-app:
    depends_on:
      - mongodb
    image: marctest.azurecr.io/marc-app:1.0
    ports:
      - "80:3001"
    environment:
        MONGODB_CONNECTION: mongodb://mongoadmin@pxxxxxxx@mongodb:27017
  mongodb:
    image: marctest.azurecr.io/mongo:1.0
    e

[2020-01-09 00:00] TravisCragg-MSFT commented on #18737
@xenalite [guidance on NSGs for the App Gateway subnet was moved Here](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#network-security-groups-on-the-application-gateway-subnet). Can you clarify your current issue?

[2020-01-09 00:10] yzheng-msft commented on #45738
We will add support for append blob in the first half of 2020.

[2020-01-09 00:33] MartinJaffer-MSFT commented on #45546
The simple rule is:
If there is a success path, and that path is not taken, then fail the pipeline.

[2020-01-09 00:35] mike-urnun-msft commented on #43781
Hi @Hazhzeng - Could you share your insights on this question?

[2020-01-09 00:40] Hazhzeng commented on #43781
@mike-urnun-msft

Yes, currently, we allow users to change Python version only on app creation `az functionapp create --runtime python --runtime-version 3.7`.

[2020-01-09 00:41] pvanroos opened #45821 "Nuget packages"
Where are the nuget package references listed for the section, "Updated your code to use a Key Vault reference"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9950f5c0-3c21-0859-c217-4b08141de4d4
* Version Independent ID: 78106133-d028-b016-673c-79b6a959a24d
* Content: [Tutorial for using Azure App Configuration Key V

[2020-01-09 00:43] susheelv12 commented on #45634
I understand the concept of adding a resource .

Let me take an example . If I have an  app which needs to call two api ,

For example , a graph api and custom app api , how can I add two resources in this scenario ?

[2020-01-09 00:44] mike-urnun-msft commented on #43781
Thanks @Hazhzeng!

@dxkaufman I'll create a PR that clarifies this point on this doc.

[2020-01-09 00:44] akiller opened #45822 "Unable to install Qualys vulnerability solution on standard plan"
Hi,

One of security centre recommendations we have is "Vulnerability assessment solution should be installed on your virtual machines".

According to the documentation we should be able to install a free licensed copy of Qualys, however when clicking through the recommendation we only appear to have an option to install Qualys or Rapid7 by providing our existing license key, which we obviously do

[2020-01-09 00:51] VitalyMCT commented on #45445
The corresponding section is still the same. Can you investigate?

[2020-01-09 00:52] jeevansd commented on #45797
@chetansriv and @v-nagta Can you please update this article based on the link given above?

[2020-01-09 01:06] kromerm commented on #35923
#please-close

[2020-01-09 01:06] #35923 closed

[2020-01-09 01:06] kromerm commented on #35923
Feature is on the roadmap

[2020-01-09 01:08] kromerm commented on #43236
#please-close

[2020-01-09 01:08] #43236 closed

[2020-01-09 01:21] stevensnicole opened #45823 "Variable use within Docker Compose"
The snippet from the docker compose file which talks about enabling persistent storage seems to hint that using environment variables in the docker compose file may be supported:-

wordpress:
  image: wordpress:latest
  volumes:
  - ${WEBAPP_STORAGE_HOME}/site/wwwroot:/var/www/html

However If I try to use a variable in the image definition for example like this:-

wordpress:
  image: wordpress:${

[2020-01-09 01:33] kobulloc-MSFT commented on #45821
@pvanroos Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-01-09 01:37] xyh1 commented on #45042
Added in the rehydrate data from archive tier page.

#please-close

[2020-01-09 01:37] #45042 closed

[2020-01-09 01:46] Mike-Ubezzi-MSFT commented on #45804
@marc-gmail-towersap Thank you for bringing this to our attention. If you are going to leverage Cosmos DB for MongoDB API, you must use the FQDN and not just the instance name. If you are using a MongoDB instance hosted by Azure App Service, are connections allowed to be made? There should be a setting under Network/Security (where you set firewall and IP access restrictions) where you allow Azure

[2020-01-09 01:48] Karishma-Tiwari-MSFT commented on #45580
We will now close this issue. If there are further questions and updates regarding this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2020-01-09 01:48] #45580 closed

[2020-01-09 01:48] kobulloc-MSFT commented on #45821
@pvanroos In the ASP.NET quickstart you'll see instructions for configuration:

https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app?tabs=core2x#connect-to-an-app-configuration-store

Add a reference to the Microsoft.Azure.AppConfiguration.AspNetCore NuGet package by running the following command:

.NET Core CLI

`dotnet add package Microsoft.Azure.AppConfigura

[2020-01-09 01:49] Karishma-Tiwari-MSFT commented on #45538
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-09 01:49] #45538 closed

[2020-01-09 01:52] juniwang opened #45825 "Do I need to include intermediary certificates in certificateIssuerThumbprint ?"
Regarding `certificateIssuerThumbprint` for certificate validation, do we need to include thumbprints of all intermediary certificates or just the root CA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302570c-50f7-af0d-ab7c-62845ecd35cb
* Version Independent ID: 679e51cc-2123-adb8-abe2-1c8bbacf46c3
* Content: [Creat

[2020-01-09 01:58] juyama opened #45826 "Preview or GA"
ADH was GA at Dec.03 2019. However, this page has not been updated. Could you please check that?
https://azure.microsoft.com/en-us/updates/azure-dedicated-hosts-now-generally-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5826bc3-3134-e9d0-9f19-72acd5d7650c
* Version Independent ID: 4860b99f-21ca-b953-9e02-

[2020-01-09 01:59] KrishnaG-MSFT commented on #45815
@autocloudarc Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-09 02:02] KrishnaG-MSFT commented on #45811
@DCtheGeek Thanks for the quick response. :+1:

[2020-01-09 02:16] #45754 closed

[2020-01-09 02:33] AshokPeddakotla-MSFT commented on #45561
@mvvveen Could you provide more details regarding the issue? Are you following the same document for steps?

[2020-01-09 02:34] VikasPullagura-MSFT commented on #45624
@arindam-b Any update on this.

[2020-01-09 02:37] VitalyMCT opened #45829 "Azure Hybrid Benefit % is out of date"
"This Azure benefit allows you to save up to 30 percent on Azure SQL Database by using your on-premises SQL Server licenses with Software Assurance."

The discount percentage is actually up to 55%. See https://azure.microsoft.com/en-ca/pricing/hybrid-benefit for examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-09 02:41] michaelburch opened #45830 "Step 6 bash script is invalid"
Step 6 under https://docs.microsoft.com/en-us/azure/hdinsight/kafka/apache-kafka-ssl-encryption-authentication#update-kafka-configuration-to-use-ssl-and-restart-brokers suggests adding these lines to the kafka-env template:
# Needed to configure IP address advertising
ssl.keystore.location=/home/sshuser/ssl/kafka.server.keystore.jks
ssl.keystore.password=MyServerPassword123
ssl.key.password=MyServ

[2020-01-09 02:51] SaurabhSharma-MSFT commented on #42829
@JustenCs @kevinblumenfeld  sorry for the delay on this one.  I am having discussion internally and the author will be updating documentation with some additional information/videos around the migration steps.

[2020-01-09 02:52] Wicaeed commented on #45815
Oddly enough I was encountering this specific issue at this exact time, although it wasn't an issue with Azure.

The PSCredential type wants to use a Secure Credential Object, and the variable you are using is a plaintext String.

I was able to get this working with the following code snippet:
[code]

[2020-01-09 02:53] SaurabhSharma-MSFT commented on #45822
@akiller Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-09 02:54] Wicaeed commented on #45815
Also, I needed to import the Orchestrator.AssetManagement.Cmdlets Module into my Automation Account to use the Get-AutomationPSCredential cmdlet.

[2020-01-09 02:57] Wicaeed commented on #45815
Either way, the Azure Automation product team needs to start updating their documentation to reflect the real world status of Az Powershell modules. 90% of the documentation in the Automation docs still uses AzureRM Powershell as a reference, and those API's are being deprecated end of this month: https://azure.microsoft.com/en-in/updates/azure-automation-service-management-rest-apis-are-being-ret

[2020-01-09 03:00] gtsdev commented on #45815
Thanks. This was well times for me. However, now I have an issue with Send-MailMessage from Azure runbook via a hybrid worker.

Send-MailMessage : Unable to connect to the remote server
At line:88 char:17
+ ...             Send-MailMessage -To 'xxxxxxxx ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (System.Net.Mail.S

[2020-01-09 03:06] jdelforno opened #45832 "Sign-In Error Code missing: 50194"
As above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins-error-c

[2020-01-09 03:07] DixitArora-MSFT commented on #45807
Hi @StephenWeatherford Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:11] DixitArora-MSFT commented on #45810
Hi @zhusulai Thanks for your feedback. We will review and update as appropriate.

[2020-01-09 03:13] DixitArora-MSFT commented on #45812
Hi @koolkarni Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:14] DixitArora-MSFT commented on #45818
Hi @m60freeman Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:15] marc-gmail-towersap commented on #45804
I got it to work, but only via the portal. Command line az just would not
work

On Wed, Jan 8, 2020, 6:46 PM Mike Ubezzi <notifications@github.com> wrote:

[2020-01-09 03:15] DixitArora-MSFT commented on #45817
Hi @john-dieter Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:16] DixitArora-MSFT commented on #45820
Hi @marc-gmail-towersap Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:16] DixitArora-MSFT commented on #45823
Hi @stevensnicole Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:17] KrishnaG-MSFT commented on #45679
@stdistef I see that it 's mentioned under [supported log categories per resource type](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema#supported-log-categories-per-resource-type) section. Please clarify if you are looking for something else ?

![image](https://user-images.githubusercontent.com/45988031/72034684-b1b62980-32bb-11ea-98d3-20bbfcf2e6c8.png)

[2020-01-09 03:17] DixitArora-MSFT commented on #45825
Hi @juniwang Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:18] DixitArora-MSFT commented on #45826
Hi @juyama Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:19] DixitArora-MSFT commented on #45829
Hi @VitalyMCT Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:20] DixitArora-MSFT commented on #45832
Hi @jdelforno Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 03:21] DixitArora-MSFT commented on #45830
Hi @michaelburch Thanks for your feedback. We will review and update as appropriate.

[2020-01-09 03:29] senthilnathans opened #45833 "Unable to Setup the simulator"
Getting too many errors.
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:191:23)
gyp ERR! stack     at ChildProcess.emit (events.js:198:13)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_process.js:248:12)

This is an wonderful link which all

[2020-01-09 03:35] sleeplessninja commented on #41308
I feel the GitHub link provided as a comment here is much more relevant than the current link in the Wiki.

[2020-01-09 03:43] KrishnaG-MSFT commented on #45749
@dcbrown16 Yes.

![image](https://user-images.githubusercontent.com/45988031/72036009-89c8c500-32bf-11ea-99f3-7dfeb951b3ec.png)

Assigning @MGoedtel for visibility, review, to update required screenshot(s) in the document and to provide additional insights if any.

[2020-01-09 03:50] KrishnaG-MSFT commented on #45763
Assigning @rboucher for visibility, review, to provide insights (if any) and for document enhancement consideration accordingly.

[2020-01-09 03:56] #45659 closed

[2020-01-09 03:59] sumitt18 commented on #45533
Received a response from an Event Hub core team member:
1. For a given partition, sequence number is the logical identifier of an event on the partition whereas offset holds to the physical byte position.
2. Correct, sequence number monotonically increases as new events get appended to a partition and it stays the same through the entire life of an event.
3. Again, offset refers to physical byte p

[2020-01-09 04:02] artisticcheese opened #45834 "Is LogicApp is part of "trusted Microsoft services"?"
Per documentation it's not listed as trusted service and yet below it says that you can add custom RBAC role in addition to adding it to adding to "trusted service". So if Logic apps are part of trusted services or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Indepe

[2020-01-09 04:18] eschrader commented on #42747
Thanks for the link! It goes to regular Azure AD, not specifically B2C and says you need a P1 license. Is that right?

[2020-01-09 04:18] damendo commented on #29446
@cogran I confirm that this also includes allows Service Endpoints for Microsoft storage to work with NSG Flow Logs. Have updated the public status on the forum.

[2020-01-09 04:20] damendo commented on #29114
NSG Flow Logs are now compatible with Secured/Firewalled storage accounts.
With this update, Service Endpoints for Microsoft storage are also supported for NSG Flow Logs.

The “Allow trusted Microsoft services to access this storage account” toggle on the Storage account must be enabled for this to work.

From: https://feedback.azure.com/forums/217313/suggestions/33684529

[2020-01-09 04:21] nightBaker commented on #45755
Removing the folder did not help. I just copied this folder from another computer.

[2020-01-09 04:21] #45755 closed

[2020-01-09 04:21] damendo commented on #40044
FYI: NSG Flow Logs are now compatible with Secured/Firewalled storage accounts.
With this update, Service Endpoints for Microsoft storage are also supported for NSG Flow Logs.

The “Allow trusted Microsoft services to access this storage account” toggle on the Storage account must be enabled for this to work.

From: https://feedback.azure.com/forums/217313/suggestions/33684529

[2020-01-09 04:30] RohitMungi-MSFT commented on #45692
@oo2316oo We can confirm that databricks cannot be added as remote target for AutoML it can be used for ML pipeline as mentioned in the steps above and in local mode by launching databricks workspace.

[2020-01-09 04:31] mike-urnun-msft commented on #45614
Thanks @fabiocav!

@SychevIgor Since we didn't determine any changes to this documentation at this time, we will now proceed to close this thread for now. If there are further questions regarding this matter, please engage the  [Azure/app-service-announcements-discussions](https://github.com/Azure/app-service-announcements-discussions/issues) repo.

[2020-01-09 04:31] #45614 closed

[2020-01-09 04:38] AshokPeddakotla-MSFT commented on #45833
@senthilnathans We are sorry that you are facing an issue while following the documentation. To assist you better on this issue, please provide more details like in which step are you facing this error? Have you completed all the pre-requisites as per the documentation?

That's a great feedback. Web Simulator is for demo purpose and who doesn't have a kit to try out the samples.

[2020-01-09 04:49] #45756 closed

[2020-01-09 04:56] amanmcse commented on #45698
@Expecho I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions.

[2020-01-09 04:56] #45698 closed

[2020-01-09 05:01] VikasPullagura-MSFT commented on #45826
@juyama Thanks for pointing this out. I am assigning the issue to content author to check and update the document accordingly.

[2020-01-09 05:02] VikasPullagura-MSFT commented on #45826
@cynthn Can you please check this and add your comments on updating the document.

[2020-01-09 05:06] SaurabhSharma-MSFT commented on #45736
@nmetayer87 yes, these are the only attributes - Name, User principal name, Initial password and Block sign in (Yes/No).
Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly t

[2020-01-09 05:11] neeleshray-msft commented on #45832
@MarkusVi Can the Error AADSTS50194 be included in the document ?

[2020-01-09 05:21] neeleshray-msft commented on #45775
@jantorelamoy Please follow this link for the Next Steps - **[List your application in the Azure Active Directory application gallery](https://docs.microsoft.com/en-us/Azure/active-directory/develop/howto-app-gallery-listing)**

Also, we have updated the document and the same would reflect soon. Thank you for the feedback.

[2020-01-09 05:21] YoshitakaTakada opened #45835 "Restrictions and workarounds for external users."
Add the following content.
Title: Restrictions and workarounds for access by external users
Body: Access by external users must be in the form "UserA_A.onmicrosoft.com#EXT#@B.onmicrosoft.com".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f546a21-73c5-7165-e1ed-8d2a154ecb97
* Version Independent ID: 934a7733-6951-fa5

[2020-01-09 05:28] VikasPullagura-MSFT commented on #45818
@shants123 Can you please look into this doc enhancement feedback and add your comments on updating the document.

[2020-01-09 05:39] SychevIgor commented on #45614
@mike-urnun-msft please, add this link to a document https://azure.microsoft.com/en-us/updates/announcing-go-live-release-for-azure-functions-v3/ . At least I didn't find it when lloked for answer on my question

[2020-01-09 06:03] VikasPullagura-MSFT commented on #45760
@parimanur Thanks for pointing this out, I have assigned the issue to content author for checking and updating the document.

[2020-01-09 06:03] UtsaVakani opened #45836 "ARM template support for creation of a mangementPolicy for an existing storage account"
I am trying to create a managementPolicy for an already existing storage account using the ARM template . I am referring the ARM template given here in the document but it creates the storage account as well as the managementPolicy in the same template . But for me , storage account is already existing , so I need to only create a policy using arm template and when I try to do so , it is not able

[2020-01-09 06:04] VikasPullagura-MSFT commented on #45760
@roygara Can you please check this and add your comments on updating the document.

[2020-01-09 06:06] v-hakob opened #45837 "Request to add AAD logs and Intune logs to the list of services under the exceptions."
Both Azure AD and Intune logs should be covered by the "trusted Microsoft services' exception (confirmed with the Monitor team). Our customer gave us the feedback/request to update the doc accordingly. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID:

[2020-01-09 06:21] msrini-MSFT commented on #45703
@ChrisSommers , Please tag me if you don't have a support plan. I can help you with one time free support to get this issue resolved.

[2020-01-09 06:21] #45703 closed

[2020-01-09 06:33] mvvveen commented on #45561
Yes the exact same error message in visual studio code. (different IP obviously ;) ) the messages are received by the hub because i can see them coutning in the IoT Hub Usage on the overview page of the Hub.

[2020-01-09 06:49] msrini-MSFT commented on #45776
@aarfe , The traffic between VNET to VNET gateway take Azure backbone path not internet.

A VPN gateway is a specific type of VNet gateway that is used to send traffic between an Azure virtual network and an on-premises location over the public internet

In the above statement, you can see it is mentioned that the VPN gateway to On-Premises will take Internet path.

Let me know if you have any que

[2020-01-09 06:59] mvvveen commented on #45561
Update i havent changed anything and all of a sudden it works

[2020-01-09 07:00] cstainie commented on #45738
Support for the filter part or for the entire lifecycle management policies?

Thanks for clarifying.

[2020-01-09 07:27] Noirde commented on #44932
Excuse me @ManojReddy-MSFT , but I'm a bit up in the air right now, so I'ld like to continue the conversation here.

I have set up SSO between Azure Active Directory and SAP Cloud Platform following this [tutorial](https://developers.sap.com/tutorials/cp-azure-ad-saml.html).

After logging on to the SAP Cloud Platform via Azure AD I get a SAML response. I encrypt the assertion part (see below) of

[2020-01-09 07:36] Peter-B- commented on #45723
@NavtejSaini-MSFT Thanks for your response. I did some further investigations.

Indeed I can do the following aggregation with a ```$match``` operator:
[code]

But when I try using the ```$group``` operator like:
[code]
Robo 3T shows this error message:
![image](https://user-images.githubusercontent.com/6525889/72047266-70714a00-32ba-11ea-902d-756320bb42f3.png)

It feels like CosmosDb returns the

[2020-01-09 07:37] dcaro commented on #45499
@erhopf  @ram-msft the `Select-AzureSubscription` cmdlet does not work in CloudShell. The article mentioned at the top (https://docs.microsoft.com/en-us/azure/cognitive-services/authentication#create-a-resource-with-a-custom-subdomain) is broken.
cc @Minewiskan

[2020-01-09 07:39] rashmiinamdar commented on #45773
Anyone please help me here

[2020-01-09 07:58] #45095 closed

[2020-01-09 07:58] Pucmaster commented on #32445
Thank you for quick reply. So it is not possible to enrich connectionStates events  ? I tried to check events in Enrich messages section but messages was not enriched so i thought that maybe i need use this EventGrid endpoint. I am sending these events to service bus topic.

[2020-01-09 08:02] sy-huss opened #45838 "Many issues"
I tried to follow this tutorial top-down to gain a better understanding of the process required to create a .net MVC app. The issues are:

1. Edit, Details, Delete do not work. The tutorial is listed under a .net core MVC app, so it took me 2 days to finally understand that there is a compatibility issue between .net standard and core.

2. The tutorial, top-down has some precursory steps, the star

[2020-01-09 08:19] AshokPeddakotla-MSFT commented on #45561
@mvvveen Glad to hear that your issue is resolved.
@aysemutlu Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-09 08:19] #45561 closed

[2020-01-09 08:19] senthilnathans commented on #45833
Hi,
Thanks for the mail.   Documentation was extremely disappointing.
Error below for the nodejs
/home/pi/azure-node/iot-hub-node-raspberrypi-client-app/node_modules/node-wiring-pi/node_modules/bindings/bindings.js:91  throw err  ^
Error: Could not locate the bindings file. Tried: → /home/pi/azure-node/iot-hub-node-raspberrypi-client-app/node_modules/node-wiring-pi/build/nodeWiringPi.node → /home/

[2020-01-09 08:39] somesh2911 commented on #37991
I am able to create an OpenAPI API in API Management by azure portal by importing swagger json file and from scratch.

I wanted to check is there any Azure Terraform, Azure Powershell or Azure CLI is available to achieve the same ?

[2020-01-09 08:40] somesh2911 commented on #37991
Hi @mike-urnun-msft Any quick help is much appreciated.

[2020-01-09 08:41] karataliu commented on #10326
Reflected in doc:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration

[code]

[2020-01-09 08:43] Trapulo commented on #43961
Hi,
I have same problem but "classic policies" is grayed and I cannot open it.. :(

any idea?
thanks

[2020-01-09 08:45] neeleshray-msft commented on #45778
@barclayn Can content from the book be incorporated or a new document be formed in this regard ?

[2020-01-09 08:48] ChrisSommers commented on #44746
It says in "2. Configure your key vault" that it's recommended to store certificates as Certificates in the KV, not as Secrets. And in so doing, it would be '-permissionstocertificates get' that is required.

[2020-01-09 08:48] neeleshray-msft commented on #45709
@marcusmills  If the Baseline policy for MFA is activated and the user(s) who it would apply to already has their MFA options configured, then it would take the option chosen by the user. However, if the user does not have the MFA configured then it would take them to the MFA Setup page directly.

[2020-01-09 08:49] marcin-vt opened #45840 "Delay when changing default network access rule"
I have noticed there is a small delay when changing default network access rule.
As a part of a deployment process I am uploading a file to a file share available only for a subnet. To be able to do it from azure devops I temporary allow all traffic (issue command `az storage account update --default-action Allow`). However when trying to upload/list content of the fileshare immediately afterwards

[2020-01-09 08:50] Dmitry-Me opened #45841 "Dec 2019 Guest OS description lists wrong "earliest version" for one of updates"
Here https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases#december-2019-guest-os the Dec 2019 OS version description has this line:

    Rel 19-12 | 4523208 | Servicing Stack Update | 3.8 | Nov 12, 2019

Note the the version is written as "3.8" which is most likely a typo. The proper version is "3.80"

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-09 08:57] ChiragMishra-MSFT commented on #45830
@michaelburch The error says the file was not found in the path. Can you please verify that you have completed the steps mentioned in the section "apache-kafka-broker-setup" :

https://docs.microsoft.com/en-us/azure/hdinsight/kafka/apache-kafka-ssl-encryption-authentication#apache-kafka-broker-setup

If you follow the exact steps mentioned here, it should create the folder and the files and hence

[2020-01-09 08:58] ChiragMishra-MSFT commented on #45807
@djpmsft Can you please take a look at this?

[2020-01-09 09:12] VikasPullagura-MSFT commented on #45841
@Dmitry-Me Thanks for pointing this.

A [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100531) is opened which has this fixed. The doc changes will go live soon.

I am closing this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2020-01-09 09:12] #45841 closed

[2020-01-09 09:17] RohitMungi-MSFT commented on #45753
@madiepev The trained models are automatically placed in the storage container based on the experiment run and the relative path to the model can be obtained by clicking on the module in the designer.

![image](https://user-images.githubusercontent.com/46958063/72053937-096d8880-32ee-11ea-9d11-10267afb9683.png)

For registering new models the model tab can be used to upload custom, Onnx, Tensorflo

[2020-01-09 09:22] alexmartinezm opened #45842 "Missing user management examples"
There are no examples for user management in this page and I cannot find the method ReadPermissionFeedAsync for the Azure Cosmos Db v3.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c807a612-35d4-32e4-4d97-414245ca8e43
* Version Independent ID: 1a596800-e588-6e84-068a-8f962fedae26
* Content: [Azure Cosmos DB: .NET (Mi

[2020-01-09 09:23] Dmitry-Me commented on #45841
@VikasPullagura-MSFT The link https://github.com/MicrosoftDocs/azure-docs-pr/pull/100531 yields a 404 for me most likely because I have insufficient rights to see it and this is most likely as expected however broken links don't look good as reference.

[2020-01-09 09:27] VikasPullagura-MSFT commented on #45841
@Dmitry-Me Thanks for that feedback. I will remove the PR link as suggested.

[2020-01-09 09:30] VikasPullagura-MSFT commented on #45817
@john-dieter It could be issue with the Path environment variable.

Below are few suggestions that can help you solve the error:

1. Check if you have the WindowsPowerShell in the path variable with `echo %PATH%` , if this is not there please add this `%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\` to the Path Variable.

2. You can mention the complete path of PowerShell while executing in place o

[2020-01-09 09:35] romankiss commented on #32445
@Pucmaster , have a look at the [Applying enrichments](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-overview#applying-enrichments) for supported sources.
It looks like, the _connectionStates_ events such as the event types  _Microsoft.Devices.DeviceConnected_ and _Microsoft.Devices.DeviceDisconnected_ are published directly to the Event Grid. In other words, they are

[2020-01-09 09:35] csamleong commented on #15089
@Adam-Smith-MSFT i am not clear about how does the restoration works for the VM disk,
if i have backed up my VM with geo-redundant recovery service vault, if my current region (E.g. West US is down), would i still be able to restore my disk with the following command ?

az backup restore restore-disks \
    --resource-group myResourceGroup \
    --vault-name myRecoveryServicesVault \
    --contain

[2020-01-09 09:42] DixitArora-MSFT commented on #45637
@ashishmundrajll Unfortunately in APIM you cannot have custom policies and answer to both of your question is no. But the only way to reuse anything between policies is using named values, which are very limited. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2020-01-09 09:42] #45637 closed

[2020-01-09 09:43] polszewski commented on #41987
@Mike-Uezzi-MSFT Any additional information?

[2020-01-09 09:43] jjindrich opened #45843 "Wrong commands in troubleshooting section"
There are command curl which are now working on windows, please fix it to this:
curl -H @{"Metadata"="true"} "http://169.254.169.254/metadata/instance?api-version=2017-08-01"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e54

[2020-01-09 09:47] RohitMungi-MSFT commented on #45758
@juchen0411 The algorithm name is not changed as the name was also used in the machine learning studio classic as [Decision Forest Regression](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/decision-forest-regression).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-09 09:47] #45758 closed

[2020-01-09 09:48] mjdmsft commented on #45753
Thanks. So whenever you run an experiment, it will always automatically register the model? There is no way of trying out multiple iterations of the experiment without all your iterations being registered as models automatically?

[2020-01-09 09:53] ram-msft commented on #45773
@rashmiinamdar Can you please share the link to the notebook that you are trying to check.
Please follow the below sample notebook to register Model.
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-cloud/model-register-and-deploy.ipynb
![image](https://user-images.githubusercontent.com/49180516/72057030-b8f92980-32f3-11ea-9e6b-94e471de4780.png)

[2020-01-09 09:56] flatproject commented on #28132
I still cannot find the link to the troubleshooter nor the "Open Debug Snapshot" option. Also no related files in the logs e.g. Uploader or SnapshotUploader. Also no debug snapshots are taken. I'm using .net core 3.1 framework dependant installation. I have all the options enabled on AI configuration.

[2020-01-09 09:57] Sprinton commented on #45786
Hello, Kindly find below the guide/document i followed

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device

[2020-01-09 09:58] MikkelHegn commented on #45104
I don't follow. This step tells you to run the application: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet#run-the-application-locally and this sectino explains how to change the debug mode: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet#debug-in-visual-studio

[2020-01-09 10:03] LiBraga commented on #45709
@neeleshray-msft The issue is that the only option listed on the MFA setup page is Mobile App when the policy is enabled.  This is despite call and sms being enabled/configured as available methods in MFA service settings.
Pre-existing users are still able to use these methods.

[2020-01-09 10:04] ranzanici commented on #40120
I also would love the ability to 'reset' Azure Migrate appliance instead of having to reinstall from ovf file

[2020-01-09 10:08] voronkovsergey opened #45844 "Access for a Guest user"
I've tried to give access to an Active Directory external user (with Guest type). ADLS2 enables to use of such users for RBAC or ACL tables.
But when I tried to access ADLS2 as a guest user from the Power BI service I've got an error:
"The credentials provided for the AzureDataLakeStorage source are invalid."

Is this behavior a bug or a feature?

---
#### Document Details

⚠ *Do not edit this sec

[2020-01-09 10:26] VikasPullagura-MSFT commented on #45796
@soheilade Can you please elaborate more on the issue.

Are you using AKS **OR** you have installed k8s on a Azure VM and trying the tutorial for creating a persistent volume claim.

[2020-01-09 10:36] soheilade commented on #45796
I have installed a k8s cluster myself on a vm and i am trying the tutorial for creating an storgaeclass and PVC. when I run` kubectl get sc`, it shows me that my storage class exist but when I run `kubectl get pvc`, they have `pending `status and the error above is displayed when i describe the PVCs.

[2020-01-09 10:41] mathiasbl opened #45845 "Import a certificate from Key Vault: New version"
When you upload a new certificate version in the Key Vault does this automatically reflect to App Services where you have imported the previous version? Or do you have to reimport?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549

[2020-01-09 10:47] arindam-b commented on #45624
@VikasPullagura-MSFT Thanks it is fixed

[2020-01-09 10:47] #45624 closed

[2020-01-09 10:48] ram-msft commented on #45640
@stammd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-09 10:48] #45640 closed

[2020-01-09 10:49] SnehaAgrawal-MSFT commented on #45845
@mathiasbl Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-09 10:51] VikasPullagura-MSFT commented on #45796
@soheilade If it a AKS environment will have a Service Principle that will be used to allocate resources.

In your case as it is on VM, did you specify any Service principle for the cluster you have created.

[2020-01-09 10:53] soheilade commented on #45796
no, could you please advise how can I create this service principle?

[2020-01-09 10:57] jakaruna-MSFT commented on #45796
@soheilade Can you use AKS (managed kubernetes service from Azure)?
In AKS you will be charged only for the nodes which you run. Master (control plane) is free.

In AKS, These management activities are taken care

[2020-01-09 10:59] SadiqhAhmed-MSFT commented on #45764
@csamleong The [storage redundancy](https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault#set-storage-redundancy) configuration for the Recovery Services Vault (RSV), is specific to Azure Backup data, not Azure Site Recovery (ASR).

This means, in the event of an Azure region failure, if the RSV is configured with Geo-Redundant Storage (GRS), then (with the help of the Azure support

[2020-01-09 11:02] AjayKumar-MSFT commented on #45836
@UtsaVakani, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-01-09 11:03] guptakapil opened #45846 "Template for a static metric alert that monitors multiple criteria for multiple resources"
Is there a way I can add multiple criteria to monitor multiple resources? I see I have either of the two but looking forward to monitor multiple resources on multiple criteria.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0

[2020-01-09 11:03] AjayKumar-MSFT commented on #45837
@v-hakob, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-01-09 11:05] AjayKumar-MSFT commented on #45834
@artisticcheese, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-01-09 11:05] mgreenegit commented on #45669
Here is an example:
https://github.com/Azure/azure-quickstart-templates/blob/6b79fdf05cdd4d3d0921119ecfd08fcf521b492d/101-automation-configuration/nested/provisionConfiguration.json#L155

[2020-01-09 11:08] AjayKumar-MSFT commented on #45840
@marcin-vt, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-01-09 11:10] AjayKumar-MSFT commented on #45835
@YoshitakaTakada, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-01-09 11:12] DixitArora-MSFT commented on #45642
@jimmcslim I have assigned this to content author for further review and update as appropriate.

[2020-01-09 11:30] memildin commented on #44455
This page and the pricing page have both now been updated to clarify the pricing models.
Thanks for the question and if you need further explanations, please be in touch again!
#please-close

[2020-01-09 11:30] #44455 closed

[2020-01-09 11:32] msandbu opened #45847 "Multiple Assessment Groups and Column ordering"
When we have multiple Assessment Groups in Azure and start to sort the groups based upon naming or the amount of machines, the view will revert back to the "default" view when the UX does backend Ajax refresh calls and therefore screws up with the view. is this a known issue in the UX?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-09 11:36] ketan-chawda-msft commented on #45767
@seekingtheoptimal `ApplicationID` is the unique ID of your application. This field mirrors the `Name` field of your ApplicationInsight resource.

the correct one should looks like below:

[code]

I will create a PR to update the document as appropriate. Thanks for reporting this.

[2020-01-09 11:42] mavusi opened #45848 "Needs version for Xamarin app"
The "Push notifications to Xamarin Android apps" page links to this page as the next step, yet this example is in Java using Android studio, whereas the Xamarin page example is naturally in C# using Visual Studio. Is there an existing example for Xamarin maybe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dcdab53-e9

[2020-01-09 11:44] #45767 closed

[2020-01-09 11:46] ketan-chawda-msft commented on #45793
@msmbaldwin / @banisadr  any thoughts here?

[2020-01-09 11:58] RohitMungi-MSFT commented on #45753
@madiepev In the above example the trained model is published to the inference pipeline. If the training pipeline is changed you can re-run the pipeline and update the inference pipeline with the new model. So, after successfully training the model you can update the inference pipeline instead of an update after every training run.

[2020-01-09 12:13] #45463 closed

[2020-01-09 12:14] jakaruna-MSFT commented on #45770
@dennisameling Thanks for the feedback. We will update the document

[2020-01-09 12:15] jakaruna-MSFT commented on #45825
@athinanthny please add your inputs

[2020-01-09 12:17] jakaruna-MSFT commented on #45731
@Heidilohr  @ChristianMontoya Please check this issue and update the doc if needed

[2020-01-09 12:20] jakaruna-MSFT commented on #45746
You can assign "Azure Kubernetes Service Cluster User Role" role to service principals as well.

[2020-01-09 12:22] jakaruna-MSFT commented on #45746
@wasker  the role "Azure Kubernetes Service Cluster User Role" gives access to the service principal to pull the credentials.
Then with those credentials you ca use kubectl to manipulate the cluster components

Reference: https://docs.microsoft.com/bs-latn-ba/azure/aks/control-kubeconfig-access#available-cluster-roles-permissions

[2020-01-09 12:23] michaelburch commented on #45830
I did follow those steps and the folder and files exist. I repeated on a new cluster also and the same error occurs.  Note that the other error says “command not found”. These are config file properties, not bash commands

[2020-01-09 12:34] KrishnaG-MSFT commented on #45846
@guptakapil Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-09 12:35] KrishnaG-MSFT commented on #45847
@msandbu Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-09 12:40] geoano opened #45849 "Tutorial"
Hi
is there a steps by step tutorial that shows how to deploy custom policy definitions or initiatives and assignments using Azure DevOps based on the repo structure suggested in this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6b34e-7ed0-5ecd-6cf4-192e7393663c
* Version Independent ID: cb186c12-22a3-5ac4-6

[2020-01-09 12:42] jakaruna-MSFT commented on #45652
@mifurm Thanks for the feedback.
That error depends on the CIDR for the subnet.

We can add a note to change the docker bridge CIDR if that clashes with the subnet CIDR.

Let me know your comments

[2020-01-09 12:53] gamullen opened #45851 "Information is Out of Date"
The information on this page is contradictory to that found here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/generation-2

There is no mention of Gen. 2 VMs on this page, so a person just reading here would assume that all Gen. 2 VMs support Azure Disk Encryption.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-09 12:56] MarkIannucci commented on #45735
I also found that Azure Site Recovery doesn't work if the VM is fully deallocated, so it doesn't work in my scenario either.

[2020-01-09 13:05] p-selivanov opened #45852 "OrchestrationStep Type="GetClaims""
Type attribute of OrchestrationStep element can also have value "GetClaims". It is not described in this document.

The following sample uses this step type for processing invites: https://github.com/azure-ad-b2c/samples/blob/master/policies/invite/policy/SignUpInvitation.xml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-09 13:18] SadiqhAhmed-MSFT commented on #45847
@msandbu Could you please share the screenshot of the UX?

[2020-01-09 13:20] msandbu commented on #45847
Can I forward this to a your email address since we have a GIF showing some assessment groups for real customers.

Fra: SadiqhAhmed-MSFT <notifications@github.com>
Sendt: torsdag 9. januar 2020 14.19
Til: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Kopi: Marius Sandbu <Marius.Sandbu@evry.com>; Mention <mention@noreply.github.com>
Emne: Re: [MicrosoftDocs/azure-docs] Multiple Assessmen

[2020-01-09 13:23] SadiqhAhmed-MSFT commented on #45847
Send mail to AzCommunity[AT]Microsoft dot com, add "Attn: Sadiqh Ahmed" to the subject line, and the link to this forum for context.

[2020-01-09 13:37] DixitArora-MSFT commented on #45838
Hi @sy-huss Thanks for your feedback. We will review and update as appropriate.

[2020-01-09 13:38] DixitArora-MSFT commented on #45842
Hi @alexmartinezm Thanks for your feedback. We will review and update as appropriate.

[2020-01-09 13:39] DixitArora-MSFT commented on #45843
Hi @jjindrich Thanks for your feedback. We will review and update as appropriate.

[2020-01-09 13:41] DixitArora-MSFT commented on #45844
Hi @voronkovsergey Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 13:43] DixitArora-MSFT commented on #45848
Hi @mavusi Thanks for reaching out. We will review and update as appropriate.

[2020-01-09 13:47] Lukasz994 opened #45853 "Update to this page"
I've been referencing this page in my RBAC work but it seems its pretty much out of date. Is there any outlook on getting it refreshed? If not, would someone point out where could I get raw list of resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b

[2020-01-09 13:52] derekrprice opened #45854 "Typo in Command to Add SSH Key"
This command is wrong:
[code]
The only way I was able to get it to work was by passing the actual contents of the id_rsa.pub file, converted first to a UNIX ssh authorized-keys file line format, as a quoted string in place of the file name argument to `--ssh-key-value`.  So, something like:
```--ssh-key-value "ssh-rsa AAAAB3NzaC1y...XXX...DYlDw== rsa-key-20190307"```

---
#### Document Details

⚠

[2020-01-09 13:52] DCtheGeek commented on #45849
#assign:DCtheGeek

[2020-01-09 13:52] harelbr commented on #45846
Hi @guptakapil, this combination isn't supported. You'll need to use either multi-resource with a single criteria, or a single resource with multi-criteria.

[2020-01-09 13:54] zhusulai commented on #45810
Hi, I reviewed the doc again and it seems the example config is actually correct. However, the code segments under "Public settings" and "ladCfg" are incorrect - `sampleRateInSeconds` should be outside of `ladCfg`.

[2020-01-09 13:58] DCtheGeek commented on #45849
Thanks @geoano for the question.  There isn't a single tutorial that combines the implementation details for Azure Policy on Azure Pipelines. However, Azure Pipelines has some information for working with Azure Policy and you can create PowerShell tasks in Azure Pipelines to use the Azure Policy SDK.  These links should help:

- [Check Azure Policy compliance with gates in Azure Pipelines](https:/

[2020-01-09 13:58] #45849 closed

[2020-01-09 14:02] KrishnaG-MSFT commented on #45849
@DCtheGeek Thanks for the super quick response. :+1:

[2020-01-09 14:05] sheridans commented on #43961
Also having the same problem, disabling the classic policies and still getting the "It looks like you have Classic policies enabled. Enabling Classic policies prevents you from enabling Security defaults."

[2020-01-09 14:11] EdAlexander commented on #43961
We were eventually able to find another “classic” policies list farther down the page that did have items that needed to be removed.

EAC Partners/317.762.3331

From: Sam Sheridan<mailto:notifications@github.com>
Sent: Thursday, January 9, 2020 9:05 AM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Edward Alexander<mailto:ed@eacpartners.com>; Mention<mailto:mention@noreply.

[2020-01-09 14:13] cbrandon2 opened #45856 "Unable to locate setting"
Our company being located in the United States does not have the option to enable "Key Vaults" in the above specified location. Has this setting been moved to another location? How would we enable this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3cbd223-bc3b-55cf-86e7-67454161dfbb
* Version Independent ID: 7193881

[2020-01-09 14:18] MGoedtel commented on #44063
This has been fixed and #please-close.  Thanks!

[2020-01-09 14:18] #44063 closed

[2020-01-09 14:20] MGoedtel commented on #44119
#please-close as the question was answered and it isn't a doc issue that needs to be addressed.

[2020-01-09 14:20] #44119 closed

[2020-01-09 14:21] skiryazov commented on #5297
Actually, in my case I'm sending a subscription key and still getting the same error.

[2020-01-09 14:22] MGoedtel commented on #44557
I'm creating a work item for this now and will correct this today.  #please-close.  Thanks!

[2020-01-09 14:22] #44557 closed

[2020-01-09 14:36] plord789 opened #45857 "Entered capital letters into the Twitter Identity Provider callback url"
[Article Here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-twitter-app#create-an-application)
Setup the callback URL in my Twitter App with capital letters (B2C) by mistake.
Editing of Callback URL setting is not permitted.
Deleted Twitter and created a new app using Callback URL's proper value.
The Callback URL setting in the Twitter Identity Provider Co

[2020-01-09 14:49] rabrahamOpti opened #45859 "You need to document how a request to an APIM endpoint should include its subscription key"
In regards to a subscription key that's applied to a specific API (as opposed to a product), I imagine that subscription key would be in the header of requests to that API. What's the header name that APIM uses to look up the key? Can that header name be defined? I can't find any documentation about this .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-01-09 14:49] helloyesthisisdave opened #45860 "What permissions are required to deploy a USQL Database via ClientId and Secrete?"
It is not clear what permissions the Azure AD Application used by ClientId requires and where to be able to deploy a USQL Database.  This should be included rather than leaving it up to us to try and work it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4f5005-badf-be90-53d2-43caaf3f75c4
* Version Independent I

[2020-01-09 14:53] sugarjig commented on #45789
I checked the permissions. My role is User, but if I go to "User settings" I can see under "App registrations" that it is set to "Yes". Like I mentioned previously, I have been able to create app registrations before, but for this particular command to create one for Front Door, I run into the error.