[2019-11-07 20:38] MicahMcKittrick-MSFT commented on #42366
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-07 20:39] Adam-Smith-MSFT commented on #42257
Sure, below is an example:

` azcopy cp "https://[srcaccount].blob.core.windows.net/[container]/[path/to/blob]?[SAS]" "https://[destaccount].blob.core.windows.net/[container]/[path/to/blob]?[SAS]"`

You can view all examples by typing the following command in cmd, where your azcopy.exe is located: azcopy copy -h , it will provide you with several examples of what is supported. Let me know if this

[2019-11-07 20:39] MicahMcKittrick-MSFT commented on #41454
Thanks @sauryadas

@ckbargavi I will close but let us know if that doesn't help and we can review further.

[2019-11-07 20:39] #41454 closed

[2019-11-07 20:39] Adam-Smith-MSFT commented on #42251
@jofrance have you gotten a chance to check on the above comment?

Thanks,
Adam

[2019-11-07 20:42] lmawarid commented on #42325
Hi @jaypaddy, would you mind providing the output of `docker inspect` for each of the three containers running the BlobStorage module, and for each container running the Python module?

[2019-11-07 20:44] Adam-Smith-MSFT commented on #42355
@glittle Thank you for the contribution ! :)

Thanks,
Adam

[2019-11-07 20:44] #42355 closed

[2019-11-07 20:44] KSchlobohm opened #42371 "The hasGroups claim is present when Group Claims are missing"
In this related [issue](https://github.com/MicrosoftDocs/azure-docs/issues/6996#issuecomment-380631000) it's mentioned that by design the groups being configured here will not be emitted when a user belongs to more than a few groups.

Documentation should describe the `hasgroups` claims which is emitted instead in this scenario and describe the recommended path of `make a separate call to the Grap

[2019-11-07 20:48] Adam-Smith-MSFT commented on #42350
@lcp3npedusg  it looks like the **copy** command is missing

`AzCopy "C:\limchan_connie_8327G.7z" "https://aisgaiap.blob.core.windows.net/aiap5-assessment-submissions?sv=2018-03-28&ss=bf&srt=sco&sp=rwac&se=2019-11-10T15:59:59Z&st=2019-10-15T05:35:54Z&spr=https,http&sig=nZQ9yQBd2fw3wLnmCrEpO%2FubCPPicPVA%2BGspw9E6p1Q%3D"`

Correct command should be:

`AzCopy copy "C:\limchan_connie_8327G.7z" "https

[2019-11-07 20:49] KSchlobohm opened #42372 "The hasgroups claim is present when Group Claims are missing"
In this related [issue](https://github.com/MicrosoftDocs/azure-docs/issues/6996#issuecomment-380631000) it's mentioned that by design the groups being configured here will not be emitted when a user belongs to more than a few groups.

Documentation should describe the `hasgroups` claim which is emitted instead in this scenario and describe the recommended path of `make a separate call to the Graph

[2019-11-07 20:50] KSchlobohm commented on #42371
Related issues
- https://github.com/MicrosoftDocs/azure-docs/issues/42370
- https://github.com/MicrosoftDocs/azure-docs/issues/42372

[2019-11-07 20:50] KSchlobohm commented on #42370
Related issues
- https://github.com/MicrosoftDocs/azure-docs/issues/42371
- https://github.com/MicrosoftDocs/azure-docs/issues/42372

[2019-11-07 20:50] KSchlobohm commented on #42372
Related issues
- https://github.com/MicrosoftDocs/azure-docs/issues/42370
- https://github.com/MicrosoftDocs/azure-docs/issues/42371

[2019-11-07 20:50] KranthiPakala-MSFT commented on #42347
@DracoLlasa The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-11-07 20:50] mike-urnun-msft commented on #42232
Thanks again for your feedback, @FrankGagnon! I'll be reaching out to the Functions team internally to get the required updates made on the pricing calculator. Regarding your questions around the comparison to the App Service plan, it might be better to open a new issue on [Azure Functions Host](https://github.com/Azure/azure-functions-host/issues) repo so that product team members, as well as the

[2019-11-07 20:50] #42347 closed

[2019-11-07 20:51] MicahMcKittrick-MSFT commented on #42277
@peledins for question 1 and 3, I have reviewed the sentences but they make sense to me and are written as the SF team has desired. So we are going to leave them as is. For Question 1, we do not suggest unsecured clusters as it allows anonymous access which is why it is worded the way it is.

As per question 2

The answer is yes. They interchange as if you can use the cert to access a single node

[2019-11-07 20:51] #42277 closed

[2019-11-07 20:53] ohorvath commented on #42288
Thanks for the prompt response.

[2019-11-07 20:54] VipinAgarwal commented on #38292
Can you please shed more details on when you said "normally does not change". So if I stay with same tier will it change with deployment?

[2019-11-07 20:54] MicahMcKittrick-MSFT commented on #42275
@soeirodefaria that is right. In that tutorial you don't integrate with AAD. However many companies will integrate with AAD such as in this tutorial

https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory

So in that case, if you don't add the users to that group they won't be able to connect via RDP using their AAD credentials.

I will close this but if you hav

[2019-11-07 20:54] #42275 closed

[2019-11-07 20:55] rdorris commented on #42353
Probably was the wrong place to post the issue. I'm having a problem in the usage of App Service for Windows Containers. Not a documentation issue.

[2019-11-07 20:59] MarileeTurscak-MSFT commented on #42226
Thanks! Also what TLS version are you using on the server where you are running the get-azureadssoaccstatus command?

[2019-11-07 20:59] #42288 closed

[2019-11-07 21:00] sethmanheim commented on #41213
@craigwi Craig, can you please clarify what you mean by the "Token field"? I have the values and clarification from Brannon, but I'm not sure if this applies to your C# code above, a section of the article in question, or other, or maybe you mean `secToken`...?

[2019-11-07 21:01] ohorvath commented on #37714
@jakaruna-MSFT please reopen this one, up-down scaling events are really crucial. We have to use kubernetes cluster autoscaler instead of the built-in one, because of this issue.

[2019-11-07 21:01] FrankHu-MSFT commented on #41371
@pmeuser can you please provide the library you're using? MSAL/ADAL/etc... to login? And can you also please provide logs for the respective library?

For logging see :
MSAL : https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging
ADAL : https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Logging

[2019-11-07 21:01] diberry commented on #42027
@jbeltranluna I believe the service team is now clear on what is going on, thanks to @RohitMungi-MSFT.

[2019-11-07 21:03] MicahMcKittrick-MSFT commented on #42366
Appears to be the same point in the doc we are seeing in this issue #42128

Closing this and we can work off the other one.

[2019-11-07 21:04] peledins opened #42373 "Imprecise sentence"
"By default, the cluster certificates for node-to-node security are added to the allowed client admin certificates list."
This is not precise as it suggests that you can remove cluster certs from allowed client admin cert list.

1) This is not possible as cluster cert needs those permissions to function.
2) in the client cert list you don't get to see the certificate.

A better sentence would be:

[2019-11-07 21:04] MicahMcKittrick-MSFT commented on #42128
Adding @raduart who opened another issue regarding the same section.

@paulbouwer can you take a look at these? Seems we have multiple users hitting issues at the same point in the document.

[2019-11-07 21:04] tfitzmac commented on #42234
@robbiedesutter - The request during template deployment would be handled like any other Key Vault request. There could be some time when requests would fail until the failover completes. I would refer to [Azure Key Vault availability and redundancy](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-disaster-recovery-guidance) for information about how Key Vault handles regional outages.

[2019-11-07 21:05] #42366 closed

[2019-11-07 21:06] MicahMcKittrick-MSFT commented on #42348
@ellispritchard I will assign this to the content author to review and see if we can add those steps/ create a doc around that.

[2019-11-07 21:06] TheITguy666 opened #42374 "New-AzStorageContainer parameters incorrect"
You will get an error if using the example code
New-AzStorageContainer : A parameter cannot be found that matches parameter name 'StorageAccountName'.

the right way:
# Create your Azure storage account
$st = New-AzStorageAccount -ResourceGroupName $ResourceGroup -StorageAccountName `
    $StorageAccount -SkuName Standard_LRS -Location $location -Kind StorageV2
# Create a new container
New-AzStora

[2019-11-07 21:07] SnehaGunda commented on #42223
@Mike-Ubezzi-MSFT can you please direct this issue to the ask alias and close it here.

[2019-11-07 21:14] billmath commented on #40598
@jasonsch69 Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 21:14] #40598 closed

[2019-11-07 21:14] MicahMcKittrick-MSFT commented on #41470
@ameetkonnur I am still working to confirm on this. Many of our product team members are currently attending Microsoft Ignite so responses have been delayed. Just an FYI that I am still working on this and will find the answer.

[2019-11-07 21:15] billmath commented on #40663
@neilmallon Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 21:15] #40663 closed

[2019-11-07 21:16] billmath commented on #40804
@Frumpi Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 21:16] #40804 closed

[2019-11-07 21:20] christianrondeau opened #42375 "Severity values meaning"
The documentation says severity can be Sev0, Sev1, Sev2 etc. but depending on the service, it looks like Sev0 can either be the lowest or the highest level. For example, "Critical" alerts are Sev4, but ServiceHealth alerts use Sev4 for notifications about upgrading a nuget package. Leaving this as an exercise to the reader to figure out is not optimal.

Either specify what each severity means in t

[2019-11-07 21:23] MicahMcKittrick-MSFT commented on #42373
@peledins I updated the doc. Once the PR merges the changes go live after a few hours.

If you have further suggestions please submit a PR against the doc yourself and the authors and I will review.

[2019-11-07 21:23] #42373 closed

[2019-11-07 21:23] billmath commented on #40951
@Larryngolog Good feedback.  Yes I know PTA supports alternate ID. I am verifying PHS.  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-faq
The AD FS doc was written before PTA was introduced.  At this point I have created a work item to update the doc and verify PHS.  I am going to close this and will post an update here once the changes are live.  Thanks!

#plea

[2019-11-07 21:23] Dmitry-Matveev commented on #35837
Adaptive sampling only kicks in in a few minutes after learning the initial load and then it will sample data to keep the telemetry rate under 5 items per second. If rate is under 5 items per second already, then items are not sampled on SDK, therefore, ingestion will apply sampling.

The question is how does Ingestion understand that sampling is enabled in SDK, I think it checks the sampling rate

[2019-11-07 21:23] #40951 closed

[2019-11-07 21:23] TravisCragg-MSFT commented on #42335
@johnduckmanton Thanks for the feedback! I have fixed the link to the [new location for naming best practices](https://docs.microsoft.com/en-us/azure/architecture/best-practices/resource-naming#networking). the doc should reflect the changes within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2019-11-07 21:23] #42335 closed

[2019-11-07 21:24] mike-urnun-msft commented on #42264
@livehands Just following up on my previous comment above. I also have a very basic & working sample uploaded here as well: https://github.com/mike-urnun-msft/AzureFunkDI

[2019-11-07 21:25] normesta commented on #30679
#reassign:rishabpoh

[2019-11-07 21:26] billmath commented on #40969
@jgwinner Thank you for the feedback.  I have created a work item for this so that we can track it, review it, and get the documentation updated if required.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 21:26] #40969 closed

[2019-11-07 21:26] normesta commented on #31006
reassign:rishabpoh

[2019-11-07 21:27] billmath commented on #41118
@matopablo Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 21:27] #41118 closed

[2019-11-07 21:30] billmath commented on #41302
@andremieth Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 21:30] #41302 closed

[2019-11-07 21:30] mike-urnun-msft commented on #42135
@DafDev Since this channel is more for driving improvements toward MS Docs, could you clarify and point out which specific sample from this documentation that you were trying out?

[2019-11-07 21:31] dtjensen opened #42377 "Optional mount points for custom Dockerfile"
I am trying to use a custom Dockerfile to build the container and copy the app file (app exported from the Luis portal) into the container. For this reason, I really don't need the mount points, since the .gz file will already live in the container.  Is this possible?  It seems that the mount points are always required...

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-07 21:33] femsulu commented on #22599
@rboucher - any update please?

[2019-11-07 21:35] GiftA-MSFT commented on #41383
@abhi23arora I have reported the bug specified in my previous comment to our product team and we'll provide necessary updates as soon as possible. In the mean time, let us know if you are still experiencing any issues, otherwise we'll proceed to close this thread. Thanks.

[2019-11-07 21:36] MsGabsta opened #42378 "Private Endpoint for Azure Storage with NSG Configured"
Please update public documentation to include that we do not support using an NSG attached to the same subnet as the storage account configured for a private endpoint.  This would be similar to the documentation we already have on this page for service endpoints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16533ae-

[2019-11-07 21:36] livehands commented on #42264
I tried this sample and didn’t have any luck I’m still getting the same error.  I’m guessing there is a difference is package versions

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Urnun <notifications@github.com>
Sent: Thursday, November 7, 2019 4:25:13 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Karim Kameka <karimka@microsoft.com

[2019-11-07 21:38] jaypaddy commented on #42325
Hi @Imawarid - Added the Docker Inspect and my Python Module code to a GitHub Repo
https://github.com/jaypaddy/IoTEdgeDebugging
Docker Inspect for BlobStorageModule - https://github.com/jaypaddy/IoTEdgeDebugging/blob/master/BlobStorageModule
Docker Inspect for BlobWriterModule - https://github.com/jaypaddy/IoTEdgeDebugging/blob/master/BlobWriterModule
Python code in BlobWriterModule - https://gith

[2019-11-07 21:44] geoffbrucepayne opened #42379 "Exceeded language worker restart retry count for runtime:node. Shutting down Functions Host"
For some reason I keep getting this error and cannot run the function locally as a result.  I am running Linux Mint 19.1 Cinnamon
Terminal output:
[2019-11-07 9:40:47 p.m.] Starting JobHost
[2019-11-07 9:40:47 p.m.] Starting Host (HostId=gbpid79c-1222241483, InstanceId=a71693a8-f0ed-4f39-9ed0-7e394b04957b, Version=2.0.12858.0, ProcessId=6055, AppDomainId=1, InDebugMode=False, InDiagnosticMode=Fals

[2019-11-07 21:46] GiftA-MSFT commented on #42343
@upsilondynamics can you tell us specifically the issue you are experiencing so we can investigate further? Thanks.

[2019-11-07 21:51] jofrance commented on #42251
Hi Adam, thanks for the information, yes it helps a lot, I found no packages for CentOS8 it would be good to have a list of which Linux flavors and versions is blobfuse supported

[2019-11-07 21:57] msaburnley commented on #40580
@sajames1003 the content has been updated. I'm closing this issue, thanks for your feedback!

[2019-11-07 21:58] msaburnley commented on #40580
#please-close

[2019-11-07 21:58] #40580 closed

[2019-11-07 21:58] YutongTie-MSFT commented on #42349
@Elianmrt Hi, thanks for reaching out to us. Could you please share the document you are referring to for this issue? Thanks.

[2019-11-07 22:02] yodies opened #42380 "Does this work for Azure AD B2C Tenants?"
I followed all the steps, using the open issues to help me where the steps were out of date.  I've created all new API and client apps in AAD, and I'm unable to protect my azure function API.  When I secure the API and try testing it out on the APIM developer portal, I receive the following: The application &lt;name&gt; asked for scope &lt;scopename&gt; that doesn't exist on the resource.

I feel

[2019-11-07 22:03] SibonayK commented on #41859
@smithcl167 While Azure File Sync does use a file's last accessed time to determine whether to tier a file, we do not rely on the last access date attribute that is part of File Explorer. Rather, because we use our own filter driver, we track accesses and store them in our heatmap, which controls cloud tiering. Hence, it does not matter whether the File Explorer last access date feature is on or o

[2019-11-07 22:03] YutongTie-MSFT commented on #42332
@DirkieJvR
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Erikre Hi Erik, could you please help with this issue and update the document if necessary? Thanks.

[2019-11-07 22:04] kensykora opened #42381 "Diagnose using azure portal is outdated"
The "Diagnose using azure portal" section is outdated. It says to click on "Diagnose and Solve Problems" but this is no longer an option in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd468605-a7c3-4be3-4841-b47c70d5e889
* Version Independent ID: 8d8df0c8-3ec4-46e3-0b6e-ea2a065ea990
* Content: [Diagnose

[2019-11-07 22:05] ecfan commented on #40331
@ratka6, the team responded that OpenAPI isn't supported for this connector, so I'll note that in the docs. Thanks for reporting!

@DixitArora-MSFT: #please-close

[2019-11-07 22:05] #40331 closed

[2019-11-07 22:06] femsulu commented on #41699
@mjannapureddy07  - found some relevant [content](https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits) on service limits for your reference.

![image](https://user-images.githubusercontent.com/34327711/68431761-d0872b00-0167-11ea-9cdb-4be250d55b4a.png)

[2019-11-07 22:10] FrankGagnon commented on #42232
Hi @mike-urnun-msft,
Thanks for your answer. Maybe an example of the cost breakdown for a given scenario would be helpful in the page. You do it for the Function's consumption plan and it makes it really easy to understand!

Once I have a better idea of the pricing breakdown I can make a more appropriate issue on the Functions host repository.

Thanks

[2019-11-07 22:13] femsulu commented on #42326
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-07 22:15] BharathNimmala-MSFT commented on #42360
@pookus Thank you for bringing this to our notice, we will further look into this to fix the document accordingly. Thanks

[2019-11-07 22:15] femsulu commented on #42340
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-07 22:16] alwortman opened #42382 "Create run configuration sample notebook link is broken"
Link below is 404'd:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/remote-amlcompute/auto-ml-remote-amlcompute.ipynb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a086a867-60ff-3f45-702d-2ea0ce0f4f0c
* Version Independent ID: 38c9cb40-e4ed-1849-d7ca-9e5c9e

[2019-11-07 22:16] SaurabhSharma-MSFT commented on #41953
@mattderosia Sorry, unfortunately I am not able receiving your images.  Can you please send the screenshots by email to AzCommunity[at]microsoft[dot]com with the link of this GitHub Issue Id so that I can check it further.

[2019-11-07 22:17] femsulu commented on #42361
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-07 22:19] mike-urnun-msft commented on #42369
Hi @aymanh08 - Thanks for reporting this and helping us drive improvements toward MS Docs! I've created a PR that fixes the typo and the change should reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-07 22:19] #42369 closed

[2019-11-07 22:19] ecfan commented on #41851
Hi @ranokarno, is this issue still active for you?

[2019-11-07 22:19] femsulu commented on #42368
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-07 22:19] billmath commented on #41596
@scottclarke1 Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 22:19] #41596 closed

[2019-11-07 22:19] kensykora commented on #42381
It seems like the workaround is to navigate to the network interface resource itself and click "Effective Routes" from there.

Portal > Navigate to VM > CLick on Networks > Click on the network interface resource (link in the header) > Effective Routes in the side bar from there

[2019-11-07 22:20] femsulu commented on #42375
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-07 22:22] TravisCragg-MSFT commented on #41981
@michelamarie Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-07 22:22] #41981 closed

[2019-11-07 22:23] billmath commented on #41727
@KitSkin Thank you for the feedback.  I have created a work item for this so that we can track it and get the documentation updated.  Unfortunately I don't have an eta but I will update this issue once the documentation is live.  At this point we can go ahead and close this until the update is live.  Thanks!

#please-close

[2019-11-07 22:23] #41727 closed

[2019-11-07 22:24] mattderosia commented on #41953
Resending and including AzCommunity[at]microsoft[dot]com

Thanks,

Matt Derosia

Yes that part works fine…

Now reference step 3 on the page. See the RED BOX? I used to have that pinned to my dashboard (see error below), it was used to alert me that licenses needed attention.
“3.To find all groups that contain at least one error, on the Azure Active Directory blade select Licenses, and then select

[2019-11-07 22:25] billmath commented on #41822
Checking with engineering

[2019-11-07 22:26] mike-urnun-msft commented on #42379
@geoffbrucepayne Thank you for your feedback! We will review and update as appropriate.

[2019-11-07 22:30] ananthradhakrishnan commented on #42375
@femsulu, I unfortunately have moved to a different team. @ofirmanor would be the right liaison going forward.

[2019-11-07 22:30] lmawarid commented on #42325
@jaypaddy Could you try changing the storage module name to lowercase, i.e. blobstoremodule instead of BlobStoreModule, and see if anything changes? Looks like a name resolution issue.

[2019-11-07 22:32] KitSkin opened #42383 "Additional Rights in Role needed for Deployment"
When deploying the ADMS, there are other rights needed by an Azure Database Migrator Contributor:
[code]

This last one is only needed during the Validation process and you can deploy without it, but it would be best to have it included to ensure proper validation and remove errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-11-07 22:36] jluk commented on #37714
@amadav and @ohorvath I've submitted a PR with instructions on how to retrieve the autoscaler logs and status. Look to this document in the next 2 days for an update. https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

In the meantime you can retrieve logs by following this doc and checking the cluster-autoscaler box.
https://docs.microsoft.com/azure/aks/view-master-logs#enable-diagnost

[2019-11-07 22:42] MarileeTurscak-MSFT commented on #42327
@mtwelve
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 22:43] billmath commented on #41890
@tomdan-MSFT Thanks for the feedback.  I have updated the doc and it should be live tomorrow.  Thanks!

#please-close

[2019-11-07 22:43] #41890 closed

[2019-11-07 22:43] MarileeTurscak-MSFT commented on #42327
You have also added them locally, correct? Since user writeback is not supported they need to be added on both sides. (Apologies if I'm misunderstanding the problem.)

[2019-11-07 22:49] TylerMSFT commented on #41254
Hi @azav,
I'm sorry you ran into that. We are no longer actively maintaining the v1.0 docs. The content of that doc has been updated to redirect people to the v2.0 docs.
#please-close

[2019-11-07 22:49] #41254 closed

[2019-11-07 22:49] FrankHu-MSFT commented on #42371
@KSchlobohm Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 22:49] FrankHu-MSFT commented on #42372
@KSchlobohm Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 22:49] FrankHu-MSFT commented on #42319
@Farzad-Jalali Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 22:54] CeciAc opened #42385 "Set MaxInactiveTime is not working"
@EricyhLai commented on [Wed Nov 06 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/600)

Hello, I have setting my policy like this
New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"AccessTokenLifetime":"00:10:00","MaxInactiveTime":"00:10:30","MaxAgeSessionSingleFactor":"00:11:00"}}') -DisplayName "PolicyScenario" -IsOrganizationDefault $true -Type "TokenLifetime

[2019-11-07 22:55] MarileeTurscak-MSFT commented on #42344
@sven73a
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 23:06] mtwelve commented on #42327
Hello,

I’ll give an example:

Azure AD Tenant - provider.onmicrosoft.com
Azure AD Tenant - customer.onmicrosoft.con

Windows 10 devices have been joined to Azure AD and enrolled in to Intune using AutoPilot on the customer.onmicrosoft.com tenant

User accounts on provider.onmicrosoft.com have been invited as guests to customer.onmicrosoft.com. The users have accepted the invitation and are now gu

[2019-11-07 23:10] TylerMSFT commented on #41439
Hi @azaz,
I will add some context around those values.
Regarding what values need to change in that section, the tutorial does call out the one you need to update:

Modify the value assigned to kClientID to be your Application ID. This value is part of the MSAL Configuration data that you saved during the step at the beginning of this tutorial to register the application in the Azure portal.

The

[2019-11-07 23:12] anzaman commented on #40713
The certificate generation process for Key Vault is listed at https://docs.microsoft.com/en-us/azure/key-vault/create-certificate. Other methods are described here as not everyone wants to pay for Key Vault just for generating certificates.

[2019-11-07 23:23] ShivaKumarChittamuru opened #42386 "SpeechRecognizer Error"
I get the following error when I try to run the SpeechRecognizer Code. To be precise, the following line:
speech_recognizer = speechsdk.SpeechRecognizer(speech_config=speech_config, audio_config=audio_input)

Traceback (most recent call last):

  File "&lt;ipython-input-54-de9b5ad76934&gt;", line 1, in &lt;module&gt;
    speech_recognizer = speechsdk.SpeechRecognizer(speech_config=speech_config, a

[2019-11-07 23:24] PatAltimore commented on #40219
@shdeepika, Thanks for the feedback. I'm adding a section on how to get the API endpoint to the "use api" article. https://docs.microsoft.com/en-us/azure/blockchain/workbench/use-api. It will go out with another update soon.

Thanks,
Pat

#in-progress

[2019-11-07 23:25] kgremban commented on #39336
@Jackohy78 Your reported logs look similar to those in the following github issue from the IoT Edge product repo: https://github.com/Azure/iotedge/issues/1294

In that issue, the recommendation was:

If you continue to experience issues, I recommend commenting on that other issue or creating your own in the iotedge repo as this sounds like a product issue, and not feedback on the documentation. Th

[2019-11-07 23:26] kgremban commented on #39336
@kfprugger Do you have any updated information about whether you're still experiencing this issue or not?

[2019-11-07 23:28] paulbouwer commented on #42366
@raduart @MicahMcKittrick-MSFT

This seems to be an issue in Helm `2.16.0`. If I install a `1.14.7` AKS Cluster and use Helm `2.15.2` to install Istio `1.3.3`, the issue does not appear. It does appear when deploying Istio with Helm `2.16.0`.

I will add a PR that updates the required version of Helm for Istio `1.3.3`.

[2019-11-07 23:29] TravisCragg-MSFT commented on #42381
@kensykora Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-07 23:29] asergaz commented on #41891
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-07 23:29] #41891 closed

[2019-11-07 23:29] femsulu commented on #42375
thanks for the update, @ananthradhakrishnan.
Adding @ofirmanor

[2019-11-07 23:31] uberda opened #42387 "Missing ILB probes"
You're missing a step, you need to add Health probes for the ILB load balancing rules to use to activate the nodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2295b2e8-97da-2c34-6b45-72ba7273baea
* Version Independent ID: 560b5b5e-41f5-65ff-e80e-aaa44db0e07c
* Content: [Deploy an IPv6 dual stack application in Azur

[2019-11-07 23:33] SaurabhSharma-MSFT commented on #41988
@veeraps Did you get a chance to look into my earlier comment.

[2019-11-07 23:33] molsches commented on #40713
I know that. I built it after reminding myself that Azure probably had a service like this to centralize secrets and manage this process like I would have built it on another CSP. Key Vault isn't that expensive when comparing it to the cost of the Vnet Gateway non-basic SKU.  It seems like many people trying to setup VNets would be enterprise customers that Azure would want using both Key Vault an

[2019-11-07 23:35] KranthiPakala-MSFT commented on #42345
@syedcit01 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-11-07 23:39] KranthiPakala-MSFT commented on #42167
@angellmethod Thanks for your response. We are reviewing the ask and will provide an update as appropriate.

[2019-11-07 23:40] molsches commented on #40713
Unless the new recommendation is just to use the new Azure AD VPN auth feature instead of managing certs for OpenVPN at all. Great new feature!

[2019-11-07 23:41] mamccrea commented on #41211
@guoch - When I split the jobs list, I was able to get job names using index [1]. Based on your code fix, it looks like you were getting empty jobs appended to the list? Is that correct?

[2019-11-07 23:43] TomArcherMsft commented on #42316
Issues addressed: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95271
#please-close

[2019-11-07 23:43] #42316 closed

[2019-11-07 23:45] aolszowka commented on #13087
Was there an associated PR with this close?

[2019-11-07 23:47] Tanharuki commented on #42107
Thank you for help,and below is the link

https://feedback.azure.com/forums/217321-sql-database/suggestions/38966758-vulnerability-assessment-logs-should-contain-the-r

https://feedback.azure.com/forums/347535-azure-security-center/suggestions/38968339-vulnerability-assessment-logs-should-contain-the-r

[2019-11-07 23:52] KranthiPakala-MSFT commented on #42241
@sampruett As mentioned in the document there are two ways to create a wrangling data flow (Preview) in Azure Data Factory. One way is to click the plus icon and select Data Flow in the factory resources pane.

![image](https://user-images.githubusercontent.com/50185738/68437437-d2f08180-0175-11ea-8fea-941fa9acf8fe.png)

The other method is in the activities pane of the pipeline canvas. Open the M

[2019-11-07 23:56] KranthiPakala-MSFT commented on #42241
@sampruett Please refer to this doc to know more about Wrangling data flows region availability.

https://docs.microsoft.com/en-us/azure/data-factory/frequently-asked-questions#wrangling-data-flows

Wrangling data flow is currently supported in data factories created in following regions:

- Australia East
- Canada Central
- Central India
- Central US
- East US
- East US 2
- Japan East
- North Eur

[2019-11-07 23:57] Alberto-Vega-MSFT commented on #42367
@larsonmpdx Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 00:00] FrankHu-MSFT commented on #42370
@KSchlobohm Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-08 00:02] paulbouwer commented on #42128
@kyanagimoto  @MicahMcKittrick-MSFT

I created an `1.14.7` AKS cluster with zones, and used Helm `2.15.2` with Istio `1.3.3`. I didn't get any errors.

In Issue [#42366](https://github.com/MicrosoftDocs/azure-docs/issues/42366), there was an issue with successfully deploying with Helm `2.16.0`. I would suggest retrying with Istio `1.3.3` and Helm `2.15.2`.

I created the cluster as follows:

[code

[2019-11-08 00:03] TravisCragg-MSFT commented on #40132
@silverl My apologies, your suggestion was not showing up in our normal triage process. I was able to find the feedback and start the approval process.

[2019-11-08 00:07] HJToland3 commented on #42383
@KitSkin, thanks for your feedback. Can you let me know where exactly you think we should add the detail you've provided?

[2019-11-08 00:07] JnHs commented on #42333
Thanks again @jannickoeben, this is now updated at https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#remove-access-to-a-delegation. #please-close

[2019-11-08 00:07] #42333 closed

[2019-11-08 00:09] MicahMcKittrick-MSFT commented on #42128
Thanks @paulbouwer I saw your comment about the helm version in the other issue and confirmed that appears to fix the error I was seeing. @kyanagimoto it will likely fix yours as well. Can you test and let us know?

[2019-11-08 00:14] craigwi commented on #41213
There are four fields in the APNS configuration in the Azure Portal: "Key Id", "Bundle Id", "Team Id" and "Token".  I'm referring to the last one.  I'll send you an email with more details.

[2019-11-08 00:14] MarileeTurscak-MSFT commented on #42344
@sven73a right now there is no ETA on this, but you can make a feature request in User Voice for this. https://feedback.azure.com/forums/169401-azure-active-directory

If you link it I will upvote it.

I have also passed your feedback along to the product team and will update this thread as soon as I have news from them.

@msmimart

[2019-11-08 00:15] raduart commented on #42128
Hi
On my case I was using Helm 2.16.0 but for installing ISTIO 1.3.2 and it was failling...
I will try to use ISTIO 1.3.3 version...
Thanks

[2019-11-08 00:15] MarileeTurscak-MSFT commented on #42344
I'm closing this out but am actively keeping an eye on updates from the product team and will comment on this thread when they respond.

[2019-11-08 00:19] kyanagimoto commented on #42128
@MicahMcKittrick-MSFT
Got it. I'll try to :)

Thanks.

[2019-11-08 00:25] TravisCragg-MSFT commented on #13648
@scr8er VNETs linked to the same ExpressRoute circuit will be able to communicate with eachother. This is [discussed in the FAQ](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#are-virtual-networks-connected-to-the-same-circuit-isolated-from-each-other).

You can still add peering between them if you would like.

[2019-11-08 00:29] MarileeTurscak-MSFT commented on #42344
@sven73a What are you trying to accomplish with it?

[2019-11-08 00:31] MarileeTurscak-MSFT commented on #42344
I'm closing this out but will update the thread as I hear back from the PG. They said that as of yet there are no plans for this.

[2019-11-08 00:32] #42344 closed

[2019-11-08 00:34] ArvindHarinder1 commented on #42344
Hi we are building some SCIM reference code using .Net core. Are you a Microsoft employee? We can share the reference code in progress if so.

[2019-11-08 00:40] MarileeTurscak-MSFT commented on #42346
Hi @damienbod ,

Since this is a product question can you please post to Microsoft Q&A and I will respond there. https://docs.microsoft.com/answers/index.html

If you'd prefer you can also send me an email at AzCommunity@microsoft.com and include your subscription ID, and I can open a free support case for you.

Feel free to tag me in the comments if you run into any issue.

[2019-11-08 00:40] #42346 closed

[2019-11-08 00:41] ShivaKumarChittamuru commented on #42386
When working with wma, mp3 files, I am getting these exceptions - "Incorrect Header", "File Not Open" etc.

[2019-11-08 00:45] PatAltimore commented on #42221
Hi @ygizhitsa,

You're right. We should have more examples. I'll put your request on the backlog. To get unblocked, try looking at information using Postman. https://github.com/Azure-Samples/blockchain/tree/master/blockchain-workbench/rest-api-samples/postman. Mahdi has a walk through blog too. https://medium.com/@malirezaie/how-to-enable-programmatic-interaction-with-azure-blockchain-workbench-ap

[2019-11-08 00:46] erhopf commented on #42386
Hi @ShivaKumarChittamuru, only WAV / PCM with 16-bit samples, 16 kHz sample rate, and a single channel (Mono) is supported at this time. This information is buried in the SDK reference, and we have a work item to create an article with more information about supported audio formats.

* [SpeechRecognizer class](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cogniti

[2019-11-08 00:59] damienbod commented on #42346
https://docs.microsoft.com/answers/questions/1101/wpf-azure-ad-app-registration-login-api-request-wi.html

[2019-11-08 01:15] Alberto-Vega-MSFT commented on #41919
@pjgpetecodes Okay so you catched this before being documented, there is an update for  IoT Hub, DPS and Edge runtime version 1.0.8.4 or newer (to be also released on 11/13) –

•	Twin depth increase to 10 (previously 5)
•	Twin property key size increase to 1KB (previously 64B)
•	Twin property value size increase to 4KB (previously 256B)
•	Twin desired and reported properties section size increase

[2019-11-08 01:15] #41919 closed

[2019-11-08 01:16] mike-urnun-msft commented on #42380
@yodies Thank you for your feedback! We will review and update as appropriate.

[2019-11-08 01:21] douglasism opened #42390 "Docker integration: Running image locally failing on basic Hello walkthrough"
functions-create-function-linux-custom-image?tabs=nodejs#run-the-image-locally
Working through the basic Hello walkthrough, the "run the image locally" step is failing. Exception output  suggests that failure is associated with "Azure Storage connection string":

fail: Host.Startup[515]
      A host error has occurred during startup operation '004f3145-1438-48a2-8e37-bf5606c986ca'.
System.InvalidO

[2019-11-08 01:32] mandiaya opened #42391 "Hi team, Do you know, when will this Add-on compatible with jira version 8.5.1?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-08 01:35] douglastic commented on #42390
(Sorry, I inadvertently formatted the midsection of the post.)

I should note that I'm using python.

[Dockerfile.txt](https://github.com/MicrosoftDocs/azure-docs/files/3822553/Dockerfile.txt)

[2019-11-08 01:37] neeleshray-msft commented on #42385
@CeciAc  Thank you for the query. We will check and update on this.

[2019-11-08 01:37] mandiaya commented on #24858
Hi @jeevansd Is there a plan to release a compatible version with jira 8.5.1  in the near future?

[2019-11-08 01:40] bradygaster commented on #41775
Another portal variance is in that step 5, shown in the screenshot below, mentions **Delegated Permissions** but the portal no longer mentions that phrase.

![image](https://user-images.githubusercontent.com/41929050/68442277-8bcab680-019e-11ea-8c6e-c555f1326558.png)

It looks like that's moved to this area of the portal.

![image](https://user-images.githubusercontent.com/41929050/68442368-bfa5dc

[2019-11-08 01:52] KranthiPakala-MSFT commented on #42202
@stephenfroggatt This looks like an authorization issue to the storage container. Please make sure to use SAS URI that has granted required permissions for your user account to access the  storage container.

This does not look like you are referring to a document content, but to a specific scenario. If that's the case I would recommend you to please post your query in [Azure Storage MSDN forum](h

[2019-11-08 01:55] 2adnan opened #42392 "Error joining domain - VM already part of AzureAD"
I am seeing this error when trying to change the workgroup of a local machine and have it join newly setup domain. I see this message: "The device is joined to Azure AD. To join an active directory domain you must first go to settings and choose to disconnect your device from your work or school"

In windows server 2019, I am unable to find any option that shows this machine connected to any Azure

[2019-11-08 02:01] SnehaAgrawal-MSFT commented on #42351
@haschdl Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 02:07] basilwong opened #42393 "Certificate Authentication for HTTP POST Action"
I am trying to create an HTTP POST request to a server which requires certificate authentication. I have a pfx file, on my local computer, but I can't find a way to upload it and have the logic app attach it to the POST request.

What are the steps to send an HTTP POST request that satisfies certificate authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-11-08 02:08] basilwong commented on #42393
![logic apps http](https://user-images.githubusercontent.com/14201685/68443683-9038a480-0189-11ea-9749-3a0c53b2746a.PNG)

[2019-11-08 02:09] bradygaster commented on #41775
Also this section calls out that a customer should go acquire the URL from the AAD endpoints tab. I think it'd be optimal to suggest earlier on that a customer should copy that, as was suggested the customer copy the client id and password.

![image](https://user-images.githubusercontent.com/41929050/68443748-e2d28a80-01a2-11ea-99ba-012308307712.png)

[2019-11-08 02:20] douglasism commented on #42390
No repro with fresh workspace, so this looks like user error. I have some other problem. I will close this and report back if needed after some more troubleshooting.

[2019-11-08 02:20] #42390 closed

[2019-11-08 02:27] xiaoharper commented on #42314
@AleksCallebat  Designer has following text analysis modules available. Please let us know the specific module name and scenario if you are looking for other modules.
- Extract N Gram Features from Text
- Feature Hashing
- Preprocess Text

[2019-11-08 02:32] Jackohy78 commented on #39336
@kgremban
Thanks for your reply. I'm using the RPI4.
After much hair pulling and searching, i don't think its a product issue.
WIth reference from [Azure/iotedge#668](https://github.com/Azure/iotedge/issues/668), its seems like edge does not support arm64 and thus moby-engine and moby-cli are not working on RPI4.

[2019-11-08 02:34] ram-msft commented on #42377
@dtjensen Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-08 02:39] syadavcv opened #42394 "Preservehostpath on url rewrite in response headers"
Does front door supports preserving host path on url rewrite in response header such as Location header ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b393c2f-c603-6287-743f-9c169673ce41
* Version Independent ID: 475325a1-e953-2723-b626-80ea86a4d347
* Content: [Azure Front Door Service - URL Rewrite](https://docs.mi

[2019-11-08 02:42] GiftA-MSFT commented on #42382
@alwortman thanks for your feedback. We'll review this issue and get back to you shortly.

[2019-11-08 02:56] FrankHu-MSFT commented on #42220
Hey @ashkansirous  currently this is in our backlog right now. As there are currently no actionable items to resolve the doc issues as it's an issue with the library currently we will be closing out this doc issue and continue tracking this internally, there should be updates on this coming soon in the next couple of months.

I'm sorry for the inconvenience.

Thanks again, and the docs should be c

[2019-11-08 02:56] #42220 closed

[2019-11-08 03:02] FrankHu-MSFT commented on #42319
Hey @Farzad-Jalali

The reason you're getting this error is because only those 4 scopes can be used in that format due to them being required to login. See the permissions docs here for further information in regards to that : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent

See specifically this section on how to request proper permissions : https://docs

[2019-11-08 03:03] FrankHu-MSFT commented on #42235
I see, thanks for your feedback @markdordoy I apologize for the inconvenience. If you're interested in this feature please submit it against the feedback here : https://feedback.azure.com/forums/169401-azure-active-directory

And if there's enough community support this will be looked into and implemented accordingly.

We are always looking to improve the product and thank you for letting us know

[2019-11-08 03:15] YutongTie-MSFT commented on #42353
@rdorris Hi, I am handling this issue to the right person ^^ @SnehaAgrawal-MSFT  Please take a look of this issue. Thanks.

[2019-11-08 03:18] KrishnaG-MSFT commented on #42390
@douglasism Thanks for the update. :+1:

[2019-11-08 03:25] elenanakhmanson opened #42396 "Missing brackets in the relative path property"
Screenshots and examples of url for the Relative path property are missing curly brackets, instead of "address/postalCode" it should be "address/{postalCode}" everywhere. Otherwise the app will not run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Version Independent ID: 02b19cb

[2019-11-08 03:41] SubhashVasarapu-MSFT commented on #41923
@jgwinner , Appreciate your patience.We are assigning this issue to the content author for updating the doc with the specified resolution mentioned above. @KumudD , Could you please provide your insights here?

[2019-11-08 03:49] Sujina-Saddival commented on #41891
@kgremban @asergaz Thank you much so timely response.
The information was very needful.
**You will need to follow best practices and create IotEdge deployments and "store" them on the respective IoTHub so that you can edit them after. Changes to IoT Edge deployment manifest are not incremental, therefore when deploying a manifest you need to enumerate all modules + the new one.**

I would follow t

[2019-11-08 03:54] KetanChawda-MSFT commented on #42185
@banisadr Thank you for providing the details.

@Expecho I trust the above post helped answering your question. Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-08 03:54] #42185 closed

[2019-11-08 04:00] KetanChawda-MSFT commented on #42396
@elenanakhmanson Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-08 04:03] kobulloc-MSFT commented on #41955
@ciufudean We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-11-08 04:03] #41955 closed

[2019-11-08 04:09] neeleshray-msft commented on #42392
@2adnan Thank you for the query. We will check and call you back.

[2019-11-08 04:11] PramodValavala-MSFT commented on #42098
@anevjes We have assigned this issue to the content author to review and update accordingly.

[2019-11-08 04:13] KetanChawda-MSFT commented on #42393
@basilwong you need to provide the base64-encoded content of the PFX file in that textbox highlited in the screenshot of your last post.

You can use below Powershell command to convert the pfx in to base64.

 1. Get the certificate content in a variable.
[code]
 2. Convert the certificate content to Base64string and save it in text file.
[code]
Document URL: https://docs.microsoft.com/en-us/azure

[2019-11-08 04:18] joshkyh opened #42397 "Section - Connect to the Linux VM to mount the new disk"
Probably this helps to identify which hdd is the user after:

sudo fdisk -l
before dmesg | grep SCSI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Independent ID: c2838cb5-c34c-e0ff-b280-b86f29453cad
* Content: [Attach a data disk to a Linux VM](https://docs.microsoft.com

[2019-11-08 04:25] souravmishra-msft commented on #41626
@mahoekst, Just wanted to check with you if there are any more queries around this. If not do let us know so that we can close this thread out.

[2019-11-08 04:30] HJToland3 commented on #41226
#please-close

[2019-11-08 04:30] #41226 closed

[2019-11-08 04:37] RohitMungi-MSFT commented on #41579
@temitopefunmi I am reaching out internally to the concerned team. Could you please let us know if you have tried to reach out to the speech support DL mentioned above?

[2019-11-08 04:55] kumarallamraju opened #42399 "Suggestion to change VMS to VMs"
[Enter feedback here]

should this be

Create a Standard Load Balancer to load balance VMs using Azure CLI
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7142f06-bd33-daf4-d7fc-475c3eaafbed
* Version Independent ID: e03a6992-2329-fe7c-63bf-18d5094c5189
* Content: [Quickstart:Create a public Standard Load Balancer - Azu

[2019-11-08 04:55] SnehaAgrawal-MSFT commented on #42188
@alevincenzi Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-08 04:56] SnehaAgrawal-MSFT commented on #42125
@phil337 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-11-08 04:56] #42125 closed

[2019-11-08 05:07] Karishma-Tiwari-MSFT commented on #42025
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-08 05:16] SumanthMarigowda-MSFT commented on #42105
@jumarko There are two performance tiers for Files, standard and premium.

[Large file shares are GA](https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-larger-more-powerful-standard-file-shares-for-azure-files/) on both standard and premium. For premium, all shares can go up to 100TB. But for standard, you must e[nable large file shares](https://docs.microsoft.com/en-us

[2019-11-08 05:35] BharathNimmala-MSFT commented on #42360
@pookus I have raised a PR to update the doc, once reviewed and approved the doc will reflect the changes accordingly. Thanks again for bringing this to our notice.

[2019-11-08 05:38] amitpoonia8142 commented on #42257
I got it @Adam-Smith-MSFT , you can close the case.

Thanks,
Amit

[2019-11-08 05:39] #42257 closed

[2019-11-08 05:44] SadiqhAhmed-MSFT commented on #42394
@syadavcv Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-08 05:47] SadiqhAhmed-MSFT commented on #42391
@mandiaya Thanks for the comment! Please provide more details on what service you're using and you need this add-on and also share the document link you're referring to for context.

[2019-11-08 05:52] mandiaya commented on #42391
Hi @SadiqhAhmed-MSFT
I want to use 'Azure Active Directory single sign-on (SSO) integration with JIRA SAML SSO by Microsoft ' this add-on. Since this add-on not compatible with  our jira version 8.5.1. So I want to know, is there a plan to release a compatible version if this add-on ?
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial

Thanks,
Mandia

[2019-11-08 05:53] SadiqhAhmed-MSFT commented on #42387
@uberda Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-08 06:05] ameetkonnur commented on #41470
Thanks for the update Micah.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Micah <notifications@github.com>
Sent: Friday, November 8, 2019 2:45:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ameet Konnur <ameetk@live.in>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Upda

[2019-11-08 06:08] joshkyh opened #42400 "Debug locally"
If you have installed Docker and are still receiving a Permissions Denied Error, ensure that you have granted appropriate permissions to your non-root user. To verify this, you should be able to run this command (without sudo):

docker run hello-world

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4fb9-57c8-6b

[2019-11-08 06:17] PramodValavala-MSFT commented on #42305
@xnicolaguarinox Using SendGrid is indeed an option. There is a [SendGrid connector](https://docs.microsoft.com/en-us/connectors/sendgrid/) available as well.

Also, even with the Office 365 Outlook connector, you can [create a separate user account](https://docs.microsoft.com/en-us/office365/admin/add-users/add-users?view=o365-worldwide) which could be used instead of an employee account.

[2019-11-08 06:17] SumanthMarigowda-MSFT commented on #42374
@TheITguy666 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-08 06:22] jumarko commented on #42105
@SumanthMarigowda-MSFT Thanks for the info.
It would be great if this could be mentioned in the documentation.

What I've found surprising is that, at least for our workload (quite IO intensive operating on top of git repositories), a default standard storage is more performant (~30% faster) than a minimal premium storage with 100 GB provisioned capacity.
When I resized the premium file share to 3

[2019-11-08 06:33] jakaruna-MSFT commented on #42199
@GFoley83 Did you had a chance to go through my previous comment

[2019-11-08 08:03] MadhuReddy1234 opened #42402 "Publish an Azure web app plugin issue in the Jenkins job configuration, not able to fetch the resource group name."
In the Jenkins server by using Azure subscription id, client id, client secret and tenant id can able to configure in the global credential system configurations and able connect to the Azure webapp without any issue. But
![Azure](https://user-images.githubusercontent.com/55384561/68459730-26bda200-022c-11ea-88c0-23a973392740.jpg)
By using Publish an azure webapp plugin in the Jenkins, when we are

[2019-11-08 08:04] KalyanChanumolu-MSFT commented on #42071
@vbijjam1 Its been a while we heard from you.
We will proceed to close this issue now.
If you need further assistance, please post this issue on [StackOverflow ](https://stackoverflow.com/questions/tagged/azure-cosmosdb)or [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb)for better visibility

[2019-11-08 08:04] #42071 closed

[2019-11-08 08:06] neb83 commented on #42226
As no reg keys are present on the machine I assume its TLS1.1

[2019-11-08 08:11] Ramanji521 commented on #30527
PS Azure:\> $appsubnet = New-AzVirtualNetworkSubnetConfig -Name mySubnet2 -AddressPrefix 10.0.1.0/24 -VirtualNetwork $Vnet
New-AzVirtualNetworkSubnetConfig : A parameter cannot be found that matches parameter name 'VirtualNetwork'.
At line:1 char:90
+ ... nfig -Name mySubnet2 -AddressPrefix 10.0.1.0/24 -VirtualNetwork $Vnet
+                                                     ~~~~~~~~~~~~~~~
+ Ca

[2019-11-08 08:13] chenkennt commented on #41931
This is fixed

[2019-11-08 08:19] Daya-Patil commented on #30527
I think you should be using Add-AzVirtualNetworkSubnetConfig.

Anyway, for New-AzVirtualNetworkSubnetConfig command, there is no parameter called  -VirtualNetwork.
Kindly refer to:
https://docs.microsoft.com/en-us/powershell/module/az.network/new-azvirtualnetworksubnetconfig?view=azps-3.0.0

[2019-11-08 08:29] scr8er commented on #13648
Thank you for your answer @TravisCragg-MSFT

I'm sure that it would be much more interesting to discuss the advantages/disadvantages of this architecture because that's the reason @michal-staniszewski open this thread.
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke

ExpressRoute Vnet links are limited compared with Vnet Peering (500 vs 10-10

[2019-11-08 08:31] michelamarie commented on #41981
Hi, @TravisCragg-MSFT! Thank you for responding to my query!

I am referring to a public IP address, rather than a private one. I want to create a VIP, which is bound to one device, and then can float to a secondary stand-by device in case the primary becomes unavailable for some reason.

keepalived is a service that runs on Unix machines to manage heartbeats (to check if a host is available over

[2019-11-08 08:31] temitopefunmi opened #42403 "@RohitMungi-MSFT , so I now cannot delete the train model after i have deleted the test files and data files."
@RohitMungi-MSFT , so I now cannot delete the train model after i have deleted the test files and data files.
![Annotation 2019-11-06 095201](https://user-images.githubusercontent.com/53179810/68283081-321d9b80-007b-11ea-9c31-7fa6a1076299.png)

_Originally posted by @temitopefunmi in https://github.com/MicrosoftDocs/azure-docs/issues/41579#issuecomment-550209733_

---
#### Document Details

⚠ *Do

[2019-11-08 08:33] VikasPullagura-MSFT commented on #42397
@joshkyh Thanks for the feedback! I am assigning the issue to the doc author to add comments and update the document as applicable.

[2019-11-08 08:34] VikasPullagura-MSFT commented on #42397
@cynthn Can you check this feedback on enhancing the document and update the document as applicable.

[2019-11-08 08:42] michelamarie commented on #41981
Hi, @marki555. Thanks for your response!

We need the features of HAProxy for our load balancing. It's also a part of our standard kit and procedures. My team manages environments on several different platforms and we try the best we can to keep things similar among all of them. We're also using the same machines for more than load balancing, so we need an actual VM for this use.

Might you know o

[2019-11-08 08:43] BarryOCathain commented on #42339
Hey @diberry I'm using a v2 endpoint, and the latest stable version of the `Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime` nuget package 3.0.0.

Specifically when I was trying to do query prediction, the sample code shows using `prediction.ResolveAsync(...)`.

However using the package above, the `Prediction` class has no methods with that name.

[2019-11-08 08:45] TheITguy666 commented on #42374
ok.
basically the New-AzStorageContainer command does not support the -ResourceGroupName and -StorageAccountName parameters

[2019-11-08 09:00] Ramanji521 commented on #30527
@Daya-Patil  Thanks for the quick response and i refereed the you link shared. i got it now.

[2019-11-08 09:03] VikasPullagura-MSFT commented on #42399
@kumarallamraju Thanks for the Feedback. I have raised a PR for this, the changes should go live once the PR is approved.

[2019-11-08 09:08] amanmcse commented on #42164
Hope you have answer to your query. I am proceeding with closure of this thread. Feel free to tag me if you have any further questions.

[2019-11-08 09:08] #42164 closed

[2019-11-08 09:18] #42399 closed

[2019-11-08 09:20] mcurko opened #42404 "Clarification needed"
I create a policy on a resource group with "not allowed resource type" set to "virtualNetwork/subnets". How is it possible that despite the policy I can crete a VNET in this RG, and a VNET is created along with its first subnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba25bd9e-cf20-53f1-bf99-a1b73069cb22
* Versi

[2019-11-08 09:25] PramodValavala-MSFT commented on #42144
@svangeti This is not supported as of today. Please feel free to open a [feature request on UserVoice](https://feedback.azure.com/forums/355860-azure-functions) for it.

Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we w

[2019-11-08 09:25] #42144 closed

[2019-11-08 09:43] paramda commented on #38547
Just pointing out that there are 2 places with SLA discrepancy -
1) In comparison matrix for SQL database -> 99.995% availability guaranteed.
2) Under SLA section -> For SQL Database, Microsoft provides an availability SLA of 99.99%.

[2019-11-08 09:46] ram-msft commented on #42400
@joshkyh Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-08 09:51] enpiri opened #42405 "Step missing before enabling AAD authentication on the Gateway"
Point-to-site configuration with OpenVPN needs to be enabled first, before enabling AAD authentication (Step 8) on the gateway, otherwise the PowerShell command will fail with "Value cannot be null".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-5

[2019-11-08 10:01] peterstouw commented on #32625
Hi @banisadr
Good explanation.
But I think peak-lock must be peek-lock.

[2019-11-08 10:04] RohitMungi-MSFT commented on #42403
@temitopefunmi As mentioned in the referenced issue please drop an email to speech support DL speechsupport[at]microsoft[dot]com so the service team can lookup your resource and advise on deletion of the model.

This is a forum for document issues in azure docs repo, any issue with service resources are addressed using support channels like Azure support portal or support DLs as mentioned above.

[2019-11-08 10:07] stephenfroggatt commented on #42202
@KranthiPakala - I am referring to the doc https://docs.microsoft.com/en-us/azure/data-factory/solution-template-databricks-notebook#create-linked-services-and-datasets where this SSAS URI is provided as part of an example to follow

[2019-11-08 10:07] gjdonkers commented on #41755
Okay, is there a location to follow the roadmap? Any idea what sprint it is planned?

[2019-11-08 10:10] #42297 closed

[2019-11-08 10:21] souravmishra-msft commented on #42029
@arkiaconsulting, If I understand you correctly, then you are asking when do we keep a SAS token to Key Vault. Based on the understanding I would like to state that we recommend storing the SAS token in the KeyVault so that your code doesnt have that SAS token in plain text. When ever your code needs the SAS token, it has to call the KeyVault using APIs and retrieve the SAS Token and then go ahead

[2019-11-08 10:22] SadiqhAhmed-MSFT commented on #42404
@mcurko Thanks for the comment. We are looking into this and will get back to you shortly.

[2019-11-08 10:24] Dangerousme opened #42406 "Exact date?"
Do you have an exact date for when this will be in effect?  Have a customer wanting to sync this weekend.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d4a458-6594-5501-e3f4-803afbd872aa
* Version Independent ID: e2c6a08b-13fd-6974-0e74-3a1f68c8f94a
* Content: [Upcoming deprecation of DR between customer owned sites

[2019-11-08 10:30] arkiaconsulting commented on #42029
@souravmishra-msft I do agree with you, but that is not the point.
The command `az keyvault storage sas-definition create` has a parameter `sas-type` that can be either `account` or `service`. The example in this page is about using this command with the parameter value `account`. Using this command with a `sas-type` value of `service` allows one to pass in a blob or container SAS token as a templ

[2019-11-08 10:30] deheems commented on #40769
@BharathNimmala-MSFT

using this:
`az aks use-dev-spaces -g my-aks-group -n my-aks --update --space my-space`

gives me the following error:
![image](https://user-images.githubusercontent.com/56585830/68469570-b8241880-021a-11ea-8043-9794f9dcadcc.png)

Using azure-cli version 2.0.76

[2019-11-08 10:39] SubhashVasarapu-MSFT commented on #42378
@MsGabsta , We are assigning this issue to respective content author for updating the document accordingly.

[2019-11-08 10:40] josem0287 opened #42408 "Wrong redirect on "Terraform on Azure" link at the button of the page"
The "Terraform on Azure" button takes you to the azure ansible page: https://docs.microsoft.com/en-us/azure/ansible/

Instead it should go to:
https://docs.microsoft.com/en-us/azure/terraform/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b36fd5eb-6789-3a64-00ac-90130335bb48
* Version Independent ID: 49a91fb1-9705-99c

[2019-11-08 10:45] SadiqhAhmed-MSFT commented on #42003
@santhoshbomma9 Can you please provide a little more context/details?

[2019-11-08 10:47] SadiqhAhmed-MSFT commented on #42299
@briojoel Closing this issue for now. Please do not hesitate to reply if you've any concerns in this matter and we shall continue the conversation.

[2019-11-08 10:47] #42299 closed

[2019-11-08 10:52] t1agob opened #42409 "Maximum number of pods per node info is confusing"
We do state the maximum number of pods per node in a table but then we have another table for "new clusters". What is considered to be a new cluster? That is confusing.

In my opinion it would make more sense to have a single table with that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e

[2019-11-08 11:02] ondrejvaclavu opened #42410 "Azure AD profile cannot be imported"
After importing exported Azure AD authentication profile, Azure VPN client states: Azure VPN client supports connecting to only Azure VPN Servers. Please validate your configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-102

[2019-11-08 11:04] ofalk commented on #42037
Ack .Thanks for digging it up, although it's not content about RHEL.

Oliver

[2019-11-08 11:13] DCtheGeek commented on #42404
@mcurko Thanks for the question. That parameter, which is a **strongType** of _resourceTypes_ follows the resource provider naming format of `<owner>.<rp>/<resource>`. In this case, it looks like you want to use `Microsoft.Network/virtualNetworks/subnets` instead of `virtualnetwork/subnets`.

Since this policy uses **strongType**, that means you can see the values to use if you assign it through t

[2019-11-08 11:13] #42404 closed

[2019-11-08 11:22] edu-gp opened #42411 "How does ScriptRunConfig upload source_directory to a remote compute target?"
I'm executing a bunch of Runs on a remote compute target (a cluster of VMs) using ScriptRunConfig. I submit the jobs from my local computer. The training script is sitting on my local computer.

When ScriptRunConfig is pointing to a remote compute target, it appears the `source_directory` is magically transferred to the compute target. I couldn't find traces of it in the blob storage, and yet it c

[2019-11-08 11:29] SubhashVasarapu-MSFT commented on #42405
@enpiri ,Thanks for sharing your valuable feedback!
This document aims at outlining the process on how to set up an Azure AD tenant for P2S Open VPN authentication. The title of the document highlights this & the OpenVPN document does begin with providing prerequisites and steps to create a P2S VPN.
Furthermore, the “Next steps” section in the same document links to the doc you’re referring to (wh

[2019-11-08 11:31] anjalisn4 opened #42412 "Unable to view Rest APIs in swagger or in Postman."
![ms_error](https://user-images.githubusercontent.com/44434447/68473223-6db99080-0248-11ea-9b29-814ffbcb7182.PNG)
![image](https://user-images.githubusercontent.com/44434447/68473411-eae50580-0248-11ea-8c01-2ad811200813.png)

I tried to access RESTAPI swagger doc but I am not able to view it. Can you please suggest the steps to access RestAPIs.
I also tried to get response for an endpoint, even th

[2019-11-08 11:32] mcurko commented on #42404
No, I selected the right resource, here I typed the label from the text box from the image you attached.

Now I see that my subnets (I created another one 10 minutes after the VNET) are listed as non-compliant! If I try to add another subnet (now, 2 hours after the creation of the policy and the VNET), I finally receive an error:

Failed to add subnet 's3' to virtual network 'vnet5'. Error: Resour

[2019-11-08 11:40] DCtheGeek commented on #42404
Sounds like it is working as expected. Note that a new policy assignment can take 30 minutes to be applied (details here: https://docs.microsoft.com/azure/governance/policy/how-to/get-compliance-data#evaluation-triggers). Once applied, your existing subnets are now non-compliant and creating new subnets is denied per your policy assignment. Creating a virtual network without a subnet should still

[2019-11-08 11:43] mcurko commented on #42404
VNET was created with a subnet!

[2019-11-08 11:46] SadiqhAhmed-MSFT commented on #42406
@Dangerousme Thanks for the comment. We are looking into this and will get back to you shortly.

[2019-11-08 11:47] DCtheGeek commented on #42404
Then please open a [Support Ticket](https://azure.microsoft.com/support/create-ticket/) so the team can engage directly with you to resolve the issue.

[2019-11-08 11:59] TechieWorld opened #42413 "support write feature after failover to secondary"
We have a requirement where we want write feature to be available after failover completed to secondary key vault replica.  In the documentation, it is mentioned that once the failover is completed, the key vault will be read-only. I want to understand how we can support the write functionality during disaster?

Also, I would like to understand that whether azure team will enable the write functio

[2019-11-08 12:04] mattiasflodin opened #42414 "404 all over Azure Blob storage client library quickstart"
All of the API reference documentation links on this page are broken.

Sorry if this is a duplicate; searching for 404 gives too many results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41d3443-0873-2f4c-da3e-9086663af3ac
* Version Independent ID: 26bf67f1-5847-904b-7cec-c6aecf9061e2
* Content: [Quickstart: Azure

[2019-11-08 12:13] SubhashVasarapu-MSFT commented on #42410
@ondrejvaclavu , We are looking into this query and will update you as soon as possible.

[2019-11-08 12:14] gbshr commented on #41840
@qianw211 Any updates? Having the same question. Thanks.

[2019-11-08 12:24] markti opened #42415 "v2.0 and v2.1 version conflict / incompatability?"
So I've run into a problem where my batch transcription does not fire my webhook. I noticed that the batch transcription sample is using version 2.0 while this webhook documentation is referencing v2.1. When I try to create webhooks by changing the version number to 2.0, the same, working request fails. When I try to find the swagger for version 2.1 I get page not found.

https://westus.cris.ai/do

[2019-11-08 12:25] markti opened #42416 "version 2.1 / 2.0 conflict / incompatibility?"
So I've run into a problem where my batch transcription does not fire my webhook. I noticed that the batch transcription sample is using version 2.0 while this webhook documentation is referencing v2.1. When I try to create webhooks by changing the version number to 2.0, the same, working request fails. When I try to find the swagger for version 2.1 I get page not found.

https://westus.cris.ai/do

[2019-11-08 12:25] fillip1983 commented on #42174
Getting this same error when performing `Get-Module -FullyQualifiedName $ModuleFQDN`, where `$ModuleFQDN` is a hashtable `{ModuleName="Az.Sql";ModuleVersion="1.1.1-preview"}`.

I'm checking to see if a specific version of a module is already available before trying to Import, and I'm getting:

There's no `-RequiredVersion` parameter for `Get-Module`, so as far as I can tell, searching with the FQD

[2019-11-08 12:32] jaypaddy commented on #42325
@imawarid - Thank you, changing the storage module name to lower case, helped resolve the problem. The files are getting written locally and as well is getting uploaded to Cloud.  The one thing that will need to be further reviewed is this
Edge A - Macbook running IoTEdge in Docker container, it worked with mixed case for the blob storage module
Edge B - Macbook running IoTEdge In Docker container

[2019-11-08 12:38] jakaruna-MSFT commented on #42409
@t1agob
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 12:45] jakaruna-MSFT commented on #42409
@t1agob
`Configure maximum - new clusters` and `Configure maximum - existing clusters` are sub headings under `[Maximum pods per node](https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#maximum-pods-per-node)`

We can set the maximum pods only when creating a cluster.   For old clusters we cant change this value.  For that we added two sub headings under"maximum pods per node"

@mlearn

[2019-11-08 12:45] mikmikmikmik commented on #29546
Getting this error when trying to change scale from 2 to 3.
TASK [Dump scaleset info] *****************************************************************************************************************************
task path: /home/mik_love/MyOwnStuff/ScaleFrom2To3_MyOwnScaleSet.yml:13
ok: [localhost] => {
    "output_scaleset": {
        "changed": false,
        "failed": false,
        "vmss": [

[2019-11-08 12:48] mikmikmikmik opened #42417 "Getting error trying to change scaleset capacity."
TASK [Dump scaleset info] *****************************************************************************************************************************
task path: /home/mik_love/MyOwnStuff/ScaleFrom2To3_MyOwnScaleSet.yml:13
ok: [localhost] => {
    "output_scaleset": {
        "changed": false,
        "failed": false,
        "vmss": [
            {
                "admin_password": null,

[2019-11-08 13:04] sairam-github opened #42418 "Java documentation for TrackDependency is incorrect"
- SetTimestamp should be called with RemoteDependencyTelemetry object (not TelemetryClient)
- 3rd parameter to RemoteDependencyTelemetry must be of type Duration not long as the documentation shows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cf62869-a378-5ed1-20fc-3fef32e48821
* Version Independent ID: 1c8e24e6-dda

[2019-11-08 13:09] IEvangelist commented on #42377
Hi @dtjensen, thanks for reaching out. I'm not sure, I honestly have yet to attempt that scenario - are you able to test something out easily?

Could you try putting the `.gz` file in some path on the disk of the VM that the container is deployed on, and supply that path as the container input mount?

[2019-11-08 13:13] Blackmist commented on #42035
Thanks for the feedback @rohancragg and for figuring out a workaround.

I'll send this to the engineering team and see what action they want to take for the documentation. We may end up documenting it as a known issue and workaround, or they might have a fix in the works.

[2019-11-08 13:27] leruqui opened #42419 "not working after upgrade from 1.13.12 to 1.14.8"
This example works fine in AKS version 1.13.12 but after an upgrade to AKS 1.14.8 is not working anymore.  Is there somthing I need to change? Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [

[2019-11-08 13:29] robdavey555 commented on #8423
We are still seeing an issue where our .nercore app within a container from ACR is not picking up the app setting from the App Service within the Azure portal. The value are not automatically being injected at run time as the documentation suggests.

[2019-11-08 13:31] DanteNahuel opened #42420 "Update Powershell cmdlets"
The document is using AzureRM cmdlets for the examples. This should be modified to Az Module cmdlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b29372c-7bd9-7da2-4cff-9afbb432bccf
* Version Independent ID: 66ce101d-d21b-3fdf-be70-7f9cadc1570e
* Content: [Azure Automation Windows Hybrid Runbook Worker](https://doc

[2019-11-08 13:33] paramda opened #42421 "Instructions are reversed"
Bring the availability group cluster role online. In Failover Cluster Manager under Roles, right click the role, and select Start Role.
If necessary, repeat the steps above to set the cluster parameters for the WSFC cluster IP address.
Under section Configure the listener https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-tuto

[2019-11-08 13:54] #42324 closed

[2019-11-08 13:54] msrini-MSFT commented on #42296
@ranokarno , Do you have any update on this issue?

[2019-11-08 13:55] msrini-MSFT commented on #42309
@kiazhi , Do you have any update on this issue?

[2019-11-08 13:57] mikmikmikmik opened #42422 "Another of the ansible scripts not working."
ASK [Add all hosts] **********************************************************************************************************************************
task path: /home/mikmikmikmik/MicrosoftAnsibleTutorial/get-hosts-tasks.yml:12
fatal: [localhost]: FAILED! =&gt; {
    "msg": "'dict object' has no attribute 'ansible_facts'"
}

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-11-08 13:59] elening2018 opened #42423 "The file size limit is 5 MB is incorrect."
Hi,

After multiple times of testing, we can only upload the customized voice message file of MFA size between 1B - 1MB.  If the size file larger than 1 MB, error message: "file must be between 1 and 1048576 bytes".

The information on this page " The file size limit is 5 MB" is incorrect.

Regards,
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-08 14:09] ArnaudNorel95 opened #42424 "NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver ??"
Hi I got this error when I run the command nvidia-smi in my VM :

`NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running`

in the documentation of the Data Science Virtual Machine they say I have CUDA CUDNN and NVIDIA driver installed but it looks like driver is not ?

Thanks for reading

---
#### Document Det

[2019-11-08 14:10] vinynigam commented on #42246
Doc is now updated. Please check and close the issue.

[2019-11-08 14:19] Kazzan commented on #41984
Hi @MarileeTurscak-MSFT, it is SPN for Enterprise Application called "Microsoft Azure Information Protection". Which makes senses, because it is component of subscription in tenant. But why it has Global Administrator rights or same level of permissions and because of this such blade surface such.

[2019-11-08 14:20] nishantsny commented on #42342
@tfitzmac Thanks for the response, how do I get my UserID? Also, could you mention documentation on creating service principles

[2019-11-08 14:26] garybushey opened #42425 "Not seeing any checkboxes for bookmarks"
Is there something that needs to be enabled for this?  I am not seeing the checkboxes in 2 different tenants.  I can expand a row and use the context menu to add a single row to a bookmark but that is a bit time consuming.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5d95f8-82cf-e183-2a8d-465f1907e83e
* Version Ind

[2019-11-08 14:33] NavtejSaini-MSFT commented on #42349
@Elianmrt Please confirm on which document the link is missing so that we can go ahead to edit it.

[2019-11-08 14:35] Elianmrt commented on #42349
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-performance-guidance

[2019-11-08 14:43] KalyanChanumolu-MSFT commented on #42306
@eflamm Azure Synapse is an evolution of Azure Data Warehouse.
All the existing cmdlets and rest API's will continue to work as usual.
We do not have any timelines as of now. We will update the article if there are any changes.

[2019-11-08 14:45] KalyanChanumolu-MSFT commented on #42197
@MashaMSFT Could you please help here.

[2019-11-08 14:47] NavtejSaini-MSFT commented on #42349
@Elianmrt Thanks for confirming the page and please let me reiterate the issue:
The link in the document https://docs.microsoft.com/en-us/azure/sql-database/sql-database-performance-guidance#batch-queries for Batching techniques for SQL Database applications in Azure goes to the following link:
https://docs.microsoft.com/en-us/previous-versions/azure/dn132615(v=azure.100)?redirectedfrom=MSDN

Rath

[2019-11-08 14:55] TomArcherMsft commented on #42408
@josem0287 Thanks for the feedback. These issues of the Terraform Next Steps buttons pointing to Ansible content were all fixed yesterday. Those updates will be live later this morning - around 10 AM PST.

[2019-11-08 14:55] #42408 closed

[2019-11-08 14:55] MikeInSwitzerland opened #42426 "Doesn't work with GoDaddy / Storage Accounts"
I have an Angular application, which runs fine on an Azure Storage Account.  I've set up the CNAMEs, as described here, and on Azure's Custom Demain page, it happily accepts these settings  (so there doesn't seem to be a CNAME issue).  But when I browse to my page, I get a 404 error.   Does this actually work with Angular apps, running in a Storage Account ?

---
#### Document Details

⚠ *Do not e

[2019-11-08 14:59] SadiqhAhmed-MSFT commented on #42303
@javeddevc We will close this issue for now. Would be glad to help further if needed.

[2019-11-08 14:59] #42303 closed

[2019-11-08 15:00] momoLearnsToRock commented on #31003
thanx @ruedigerp ! it worked like a charm!!! :)
for those of us working in bash note that strings are a bit different:
`bash
helm install stable/nginx-ingress \
    --name my-ingress-name \
    --namespace my-ingress-namespace \
    --set rbac.create=true \
    --set controller.replicaCount=2 \
    --set controller.stats.enabled=true \
    --set controller.metrics.enabled=true \
    --set controll

[2019-11-08 15:02] kwaazaar commented on #39788
I use a reference to a principal in keyvault. However, updating the client secret in keyvault does not automatically work. It seems to be pulled once during installation. Applying the ARM-template again give me the error "Changing property 'servicePrincipalProfile.secret' is not allowed.". How is this suppose to work in this scenario?

[2019-11-08 15:07] jaypaddy commented on #42325
Also this is completely my fault. The documentation clearly states that the module should be in lowercase.... thank you for all the help.

We can close this issue.

[2019-11-08 15:07] MonikaReddy-MSFT commented on #42049
Hello @brucedkyle ,
CPU (Short), CPU (Day), Memory, Bandwidth quotas only apply to Free & Shared SKUs.
Was Mobile App created on free app service plan ?? If so, that might be why Portal displays these quotas. These quotas don’t apply to Basic & higher SKUs & if app service was created on paid app service plan, that may be why you are just seeing File System Quota.

File System Quota applies to all

[2019-11-08 15:21] santhoshbomma9 commented on #42003
@SadiqhAhmed-MSFT sure. For a Saas offer there is a plan attached to it and a plan can have metered dimensions, where in based on the usage of the dimensions the ISV  would send the quantity of that dimension  used for that customer to the marketplace  commerce engine so that the customer is charged appropriately. Which is the use of this APIs here - https://docs.microsoft.com/en-us/azure/marketpl

[2019-11-08 15:33] mikeblakeuk opened #42427 "Is there a sliceIdentifierColumnName option for ADF V2?"
How do we ensure the SQL Sink is idempotent in ADF V2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7166b3d-2113-c25c-a98e-d07b78ca9c97
* Version Independent ID: d4dea36c-45e8-a862-dbdc-19d9b1083dc6
* Content: [Repeatable copy in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-fa

[2019-11-08 15:40] cblomart opened #42428 "Use SSL certicate in code & Free/Shared tier + azure key vault: not possilbe?"
Hello,

We do use certificates loaded from azure keyvault in our web.config (.net framework 4.7 app) and have added "WEBSITE_LOAD_USER_PROFILE=1" to the application settings.

We tried to run the application on a F1 plan without success, the application runs properly on a B1 plan.

As per the doc:
" If your app is in Free or Shared tier, you can include the certificate file in your app repository.

[2019-11-08 15:48] Duffney opened #42429 "Run the function Locally - Step 1 Confusing Wording"
To debug your function, insert a call to the Wait-Debugger cmdlet in the function code before you want to attach the debugger.

I know this is nitpicky, but I found this wording a bit confusing. Perhaps simply state add Wait-Debugger to line 10. Wait-Debugger will do x and y.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-08 15:50] MJGalvanAtBridge opened #42430 "Code fails when running"
When I run the example provided, it fails. However, there was an existing response that stated the sequence of the PRINT statement was incorrect. Answer provided by julieMSFT

However, the code on the page hasn't been updated.

This works:

SET NOCOUNT ON;
DECLARE @xact_state smallint = 0;

BEGIN TRAN
    BEGIN TRY
        DECLARE @i INT;
        SET     @i = CONVERT(INT,'ABC');
    END TRY
    BE

[2019-11-08 15:53] MicahMcKittrick-MSFT commented on #42424
@ArnaudNorel95 can you share the link to the document you are following please?

Also, what size VM are you using?

[2019-11-08 15:54] MicahMcKittrick-MSFT commented on #42419
@leruqui can you elaborate a bit more? What is not working anymore?

[2019-11-08 15:55] MicahMcKittrick-MSFT commented on #42417
@mikmikmikmik please provide the link to the documentation you are following so we can better assist.

[2019-11-08 15:56] MicahMcKittrick-MSFT commented on #42421
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 15:58] ArnaudNorel95 commented on #42424
I use D3v2, I just saw your advise on stackoverflow about N series but is N series available for free access ? (Im using free 30 days for now) Because I cant see any N in size column

There is nothing after this one (M serie):
![seriesVMazure](https://user-images.githubusercontent.com/46846856/68490273-fc2e1200-0248-11ea-840a-88422476f495.PNG)

[2019-11-08 16:01] ArnaudNorel95 commented on #42424
and so what they say in the doc is wrong ? :
![cudaDocAzur](https://user-images.githubusercontent.com/46846856/68490511-634bc680-0249-11ea-8d70-db9e74d81fec.PNG)

[2019-11-08 16:07] tfitzmac commented on #42342
The user id is the id you use to log in to Azure (through portal, PowerShell, CLI, etc.). For service principals, see [https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal)

[2019-11-08 16:10] SamaraSoucy-MSFT commented on #42418
@sairam-github Thank you for your feedback. I will review it and get back to you shortly.

[2019-11-08 16:10] MicahMcKittrick-MSFT commented on #42424
@ArnaudNorel95 the docs are correct. However the D series do not have a GPU attached to them. Hence, your issue. You need to use a N series VM in order to gain access to the GPU features.

The N series are in high demand so we initially set the quota for every subscription to 0. In order to gain access to them you need to submit billing request to gain access to them.

https://docs.microsoft.com/e

[2019-11-08 16:13] mtwelve commented on #42327
To add a little more detail, I have also used the command line to add the Guest account as a Local Admin manually on the device. The command we used was:

net localgroup administrators /add 'device-admin_provider.onmicrosoft.com#EXT#@customer.onmicrosoft.com'

Whilst this added the user and it now appears in the device Local Administrators group when attempting to elevate/authenticate the password

[2019-11-08 16:13] ArnaudNorel95 commented on #42424
Ho okay thank you very much !! 👍

[2019-11-08 16:13] #42424 closed

[2019-11-08 16:17] spottedmahn opened #42431 "Add Depends On Example"
I think it would be helpful if there was an example of `dependsOn` and conditionally selecting a key from that dependent object.

How do I handle `dependsOn`?  Do I need to wrap it in an if?

How do I conditionally select a key from a conditional dependent object? Reference [#22731](https://github.com/MicrosoftDocs/azure-docs/issues/22731#issuecomment-456140153)

---
#### Document Details

⚠ *Do n

[2019-11-08 16:18] MicahMcKittrick-MSFT commented on #42424
No problem :) if you have issues with the request feel free to comment back here and I can always help further.

[2019-11-08 16:21] TomArcherMsft commented on #42348
@ellispritchard Thank you for the feedback. I'll take a look at this and talk to the engineering team about putting this in our backlog. I'll keep this issue open until we update you per our discussion.

[2019-11-08 16:29] vhorne commented on #41838
Fixed
#please-close

[2019-11-08 16:29] #41838 closed

[2019-11-08 16:34] #41383 closed

[2019-11-08 16:35] tony-gutierrez opened #42432 "API reference for SqlFilter link goes to C#, not javascript"
The API reference for SqlFilter link goes to a page for the wrong language!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87507e10-00e2-250a-2074-bb26bbea5a03
* Version Independent ID: f21aee07-f75d-093e-cdae-cd97c52d34cf
* Content: [Quickstart: How to use Azure Service Bus topics and subscriptions with Node.js](https

[2019-11-08 16:37] jofrance commented on #42251
Hi Adam, Thanks I noticed the updates

Regards,

/ceschi - Francisco Franceschi
Microsoft Azure Linux Support
Escalation Engineer
Working Hours:
Working Days:
Email:
Office Phone:
0800 – 1700 US Central Time
Monday to Friday
jose.franceschi@microsoft.com<mailto:jose.franceschi@microsoft.com>
+506 411 60004

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Thursday, November 7, 2019 2:40 PM
T

[2019-11-08 16:37] tony-gutierrez opened #42433 "Azure SDK for Node link goes to outdated sdk"
The current sdk is https://github.com/Azure/azure-sdk-for-js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87507e10-00e2-250a-2074-bb26bbea5a03
* Version Independent ID: f21aee07-f75d-093e-cdae-cd97c52d34cf
* Content: [Quickstart: How to use Azure Service Bus topics and subscriptions with Node.js](https://docs.microso

[2019-11-08 16:39] ArnaudNorel95 commented on #42424
unfortunately I can not send a "Service ad subscription limit (quotas)" request as its advised in the doc so I sent a "billing request", I hope it will work :)

thank you

[2019-11-08 16:40] MicahMcKittrick-MSFT commented on #42421
@paramda I am assigning to the author to review further and update as needed.

[2019-11-08 16:42] CJReese commented on #11668
I have the same interest. My combined SignUpOrSignin.xml and related custom policies files work great, but now I would like to have a separate URL for each.

[2019-11-08 16:44] MicahMcKittrick-MSFT commented on #42424
Ah that's right. Free Subscriptions you cannot request more quota of vCPUs. That doesn't mean you can't request to test a series not currently enabled though. Good thought trying billing. They should be able to route correctly.

I see most of the N series require 6 cores and the free trial subscriptions are set to 4. So you actually might have some issues getting the N series available for a free

[2019-11-08 16:56] techiechap opened #42434 "unrecognized arguments: --enable-pod-security-policy"
When trying to enable pod security policy its thrown with an error
unrecognized arguments: --enable-pod-security-policy
az version

azure-cli                         2.0.76

command-modules-nspkg              2.0.3
core                              2.0.76
nspkg                              3.0.4
telemetry                          1.0.4

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\

[2019-11-08 16:59] GiftA-MSFT commented on #42382
@cartacioS please can you update document with appropriate links. Thanks.

[2019-11-08 16:59] MicahMcKittrick-MSFT commented on #42434
@techiechap please provide the link to the documentation you are following so we can better assist.

[2019-11-08 17:01] dtjensen commented on #42377
I have a simple Dockerfile:

FROM mcr.microsoft.com/azure-cognitive-services/luis:latest

ENV Eula=accept
ENV Billing=https://southcentralus.api.cognitive.microsoft.com/
ENV ApiKey=<key>
ENV Logging:Console:LogLevel:Default=Debug

COPY *.gz /input/

And in the createOptions for the container, the two required mount points are configured.  The container starts, but if I don't have the files in the

[2019-11-08 17:07] DonFrazier opened #42435 "Powershell and TLS"
I don't see any powershell examples of setting the TLS version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2906753-7656-ef4d-0de9-7e238181e3e1
* Version Independent ID: 66dcb903-38dd-858b-dfb4-8a8dafaa0930
* Content: [Secure a custom DNS name with an SSL binding - Azure App Service](https://docs.microsoft.com/en-us

[2019-11-08 17:13] vhorne commented on #41562
fixed
#please-close

[2019-11-08 17:13] #41562 closed

[2019-11-08 17:14] KrishnaG-MSFT commented on #42408
@TomArcherMsft Thanks for the response. :+1:

[2019-11-08 17:15] GiftA-MSFT commented on #42343
@upsilondynamics please feel free to voice your feedback on our [user voice](https://cognitive.uservoice.com/forums/912208-speech-service) platform to let us know how we can improve this service. If you're experiencing any particular issues while following this document please let us know, otherwise we'll proceed to close this thread. Thanks.

[2019-11-08 17:19] mrbullwinkle commented on #41955
Just to close the loop on this one. Thanks again for reporting this, there were a bunch of other items in the TOC that were messed up from an error in a previous PR in addition to the Java content. The changes to fix everything was merged internally last night and will go-live in next two hours.

[2019-11-08 17:21] GiftA-MSFT commented on #42386
@ShivaKumarChittamuru hope the above information is helpful. Please let us know if you have further questions or concerns, otherwise we'll proceed to close this thread. Thanks.

[2019-11-08 17:27] #28996 closed

[2019-11-08 17:33] SaurabhSharma-MSFT commented on #42423
@elening2018 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-08 17:34] SaurabhSharma-MSFT commented on #42413
@TechieWorld Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-08 17:37] SamaraSoucy-MSFT commented on #42239
I'm going to assign this to the doc author to address.

@mrbullwinkle I also noticed the three links to the SDK classes in the Overview section are broken.

[2019-11-08 17:41] CHDAFNI-MSFT opened #42438 "VNet peering - preference compared to UDR"
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#how-azure-selects-a-route
Documentation states preference for VNet PEering when compared to BGP route tables, however, we don't specify if this preference is also taken into account with UDRs/Route Tables. Please consider clarifying in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-08 17:48] georgewallace commented on #42025
#reassign @johnkemnetz @johnkemnetz can you take a look at this feedback from @imabedalghafer about the sample?

[2019-11-08 17:50] GiftA-MSFT commented on #42329
@Blackmist this issue is similar to a recent [bug report](https://github.com/MicrosoftDocs/azure-docs/issues/39590) that you sent over to the product/engineering team. Can you please add this issue to the report and provide updates? Thanks.

[2019-11-08 17:50] NavtejSaini-MSFT commented on #42248
@jrowies We are assigning this to author for getting this information
@markjbrown @SnehaGunda Please look into the users questions and help.

[2019-11-08 17:56] paramda opened #42439 "Reference to load balancer"
The line coped below from this page refers to creation of Load Balancer and nowhere on this page do we create one as a pre-req.

After you've created the network, subnets, availability sets, and an Internet-facing load balancer, you're ready to create the virtual machines for the domain controllers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-11-08 18:07] mjannapureddy07 commented on #41699
@femsulu Thanks for the update. That helps!

[2019-11-08 18:13] arkadiysherman opened #42440 "Article seems to contradict itself regarding cost of deletion"
"Deletion of expired items is a background task that consumes left-over Request Units, that is Request Units that haven't been consumed by user requests. Even after the TTL has expired, if the container is overloaded with requests and if there aren't enough RU's available, the data deletion is delayed."
seems to be contradicted by
"Deleting items based on TTL is free. There is no additional cost (

[2019-11-08 18:13] KranthiPakala-MSFT commented on #42427
@mikeblakeukb Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-11-08 18:16] abdale opened #42441 "Typo: multiply instead of multiplied?"
In "The size of the buffer is proportional to the event input rate multiply by the out of order window size. The default window size is 0. ", shouldn't it say "multiplied"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da35754e-933e-c93f-96e4-415c89cd3dca
* Version Independent ID: 375300d6-9bed-ad51-307c-5c2e5de92ee8

[2019-11-08 18:19] derektiffany commented on #38674
In order to enable downloading a .pfx/pem file from the portal, the Get Secret policy appears to also be needed (in addition to Certificate Get / List).

[2019-11-08 18:20] MicahMcKittrick-MSFT commented on #42439
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 18:21] santhoshbomma9 opened #42442 "Is the Patch call on operation only relevant for ChangePlan/ChangeQuantity?"
Is the patch call on an operation only relevant when the Webhook gets called about the Change quantity or Change plan? If that is case can that be explicitly stated to avoid any confusion please?

https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#patch-httpsmarketplaceapimicrosoftcomapisaassubscriptionssubscriptionidoperationsoperationidapi-version

[2019-11-08 18:22] KranthiPakala-MSFT commented on #42441
@abdale Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-08 18:29] Mike-Ubezzi-MSFT commented on #42056
@OzBob There is a specific tutorial for Azure Application Services: T[utorial: Use Azure Key Vault with an Azure web app in .NET](https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app) The document you have referenced is specific to Azure SQL Database. Are you looking for a single document that covers both? Or will following both documentation items help you arri

[2019-11-08 18:33] jemag commented on #39902
@palma21 thank you for this clarification however the situation may be a bit different on our side.

Currently we have a Load balancer that sits atop our whole network, and this Load balancer exposes the 2 public IPs of our 2 Fortigate firewall appliances. This load balancer also exposes a bunch of IPs for various applications.

Currently, since our FW public IPs are already assigned to this load

[2019-11-08 18:37] WCLucas42 commented on #33157
This worked for me too.  Only change I made from failure to success was to allow all networks

[2019-11-08 18:42] bradleyruff opened #42443 "Create Terraform VM; resource doesn't have TF on it!"
I've tried creating the Terraform VM resource in my subscription three times...  each time the VM template doesn't have Terraform or any of the other expected settings on it. This is what is stated in the Marketplace...
This solution template will install Terraform on a Linux (Ubuntu 16.04 LTS) VM along with tools configured to work with Azure. This includes –

Terraform (latest)
Azure CLI 2.0
Man

[2019-11-08 18:43] Alberto-Vega-MSFT commented on #42066
@Gamecock We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2019-11-08 18:43] #42066 closed

[2019-11-08 18:47] bradleyruff commented on #42443
I did follow this document to after the first failed deployment.
https://docs.microsoft.com/en-us/azure/terraform/terraform-vm-managed-identities-for-azure-resources

[2019-11-08 18:48] YutongTie-MSFT commented on #42415
@markti
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 18:48] YutongTie-MSFT commented on #42416
@markti Hi this one is duplicate of #42415 I am going to close this, please keep eyes on that one. Thanks.

[2019-11-08 18:48] #42416 closed

[2019-11-08 18:55] FrankHu-MSFT commented on #42127
hey @shadewlkr thanks for clearing it up, I'm going to take a deeper look into this and reply back as soon as possible, thanks!

[2019-11-08 18:58] vladvino commented on #42098
@anevjes We hope to be able to narrow down connectivity requirements by the end of preview. #please-close

[2019-11-08 18:58] #42098 closed

[2019-11-08 19:02] dtjensen commented on #42377
I ended up adding a script at startup that copies the files and then runs the normal startup command.  The updated Dockerfile looks like this:

FROM mcr.microsoft.com/azure-cognitive-services/luis:latest

ENV Eula=accept
ENV Billing=https://southcentralus.api.cognitive.microsoft.com/
ENV ApiKey=KEYGOESHERE
ENV Logging:Console:LogLevel:Default=Debug

RUN mkdir /app/inputfiles/
RUN chmod 777 /app/in

[2019-11-08 19:05] mahoekst commented on #41626
Sorry, was at Ignite. The comment was about that key not being documented. This is great information and would love to see that written down as part of the documentation.

[2019-11-08 19:07] dtjensen opened #42444 "Error when starting LUIS container"
I am running the LUIS container and in the docker logs, I see an error.  I can navigate to the web app and view the swagger information.  So, it seems like the app is running.  I do not know where the error is coming from.  Here's the output from the logs:

Using '/input' for reading models and other read-only data.
Using '/output/luis/099038cdad99' for writing logs and other output data.
Logging

[2019-11-08 19:15] morgangrobin opened #42445 "trackDependency for node"
currently there's a trackDependency example for Java, C#, and "Javascript", but it's unclear whether the Javascript example is also for node.js. We should either add a Node.js example, or rename the Javascript example to Node.js (if it is indeed intended to be a node example)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-08 19:25] MicahMcKittrick-MSFT commented on #42443
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 19:29] ecfan commented on #42396
Hi @elenanakhmanson & @KetanChawda-MSFT, thank you for finding and reviewing this issue. I've already updated the docs:

https://docs.microsoft.com/azure/logic-apps/logic-apps-http-endpoint#accept-parameters-in-endpoint-url

If the page looks good, please let me know so I can close the issue. Thanks!

[2019-11-08 19:30] gvashishtha opened #42446 "No way to specify location?"
The location drop-down menu is grayed out for me. Is this expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972-6b54-d4e70db5c046
* Content: [Quickstart - Create an Azure CDN profile and endpoint](https://docs.microsoft.com/en-us/azure

[2019-11-08 19:35] KranthiPakala-MSFT commented on #42202
@stephenfroggatt Thanks for your response. Looking at the initial statement"_The SAS URI isn't working correctly for me in Azure Storage Explorer_" - I believe this is specific to permissions/firewall issue with your storage account.

As this is a troubleshooting query and not directly related to document content, and to get a quick assitance, I request you please post your question in [Azure Stor

[2019-11-08 19:35] #42202 closed

[2019-11-08 19:43] TravisCragg-MSFT commented on #42438
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-08 19:43] leftmostlane opened #42447 "Add Example of accessing Azure Settings from Blazor Server Side Service"
Please add an example of accessing the Azure stored settings from a Blazor Server Side Service.  For example, accessing the database connection string stored in Azure App Configuration by the Server Side Blazor service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Indepe

[2019-11-08 19:47] mdgattuso commented on #42446
Yes, since CDN is a global resource it should be grayed out and set to Global. From taking a look it seems it's defaulted to Central US. is that what you're seeing? We can update this, and update the doc to reflect the change.

[2019-11-08 19:47] junsaw commented on #40855
I am not sure why changing the protocol to MQTT is a solution considering the document states AMQP is used for
field and cloud gateways to take advantage of connection multiplexing across devices.  The current code implementation is correct. Yes I am also experiencing the same problem.

[2019-11-08 19:51] gvashishtha commented on #42446
I'm seeing West US, but good to know. Thank you!

[2019-11-08 19:52] #42446 closed

[2019-11-08 19:52] abdale opened #42448 "Typo: "no" instead of "not""
"If there is not good candidate column for hash distributing the table"

It should be:

"If there is no good candidate column for hash distributing the table"

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95f16ad-0c69-114b-6323-aab6d0f56b30
* Version Independent ID: 1f12fb16-6cb6-fa15-7eec-b513c9d02452
* Con

[2019-11-08 19:56] Mike-Ubezzi-MSFT commented on #42223
@allan-mobley-jr The course of action here is to reach-out to the product group direct by sending an email to [AskCosmosDB](mailto:askcosmosdb@microsoft.com).

[2019-11-08 19:58] colbylwilliams opened #42449 "Lab accounts FAQ firewall guidance is incorrect"
In the [**What port ranges should I open on my organization's firewall setting to connect to Lab virtual machines via RDP/SSH?**](https://docs.microsoft.com/en-us/azure/lab-services/classroom-labs/classroom-labs-faq#what-port-ranges-should-i-open-on-my-organizations-firewall-setting-to-connect-to-lab-virtual-machines-via-rdpssh) section, it reads:

This is incorrect.  While the port numbers DO cha

[2019-11-08 19:59] #42223 closed

[2019-11-08 19:59] DrEsteban commented on #40769
@deheems Sorry you're seeing that error.  Can you try installing the Dev Spaces CLI directly using one of the following platform-specific links?

https://aka.ms/get-azds-windows
https://aka.ms/get-azds-linux
https://aka.ms/get-azds-mac

[2019-11-08 20:01] RyanHill-MSFT commented on #42428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 20:03] yobyot opened #42450 "Grammar and clarity issues"
This page is poorly written. It's out of order, screenshots are outdated and it uses very poor English grammar. Here's an example: "Customer have to upload any certificate in the Tableau Server SAML SSO configuration and it will get ignored in the SSO flow...". The result is an inability to really understand how to configure this enterprise application.

---
#### Document Details

⚠ *Do not edit t

[2019-11-08 20:03] SamaraSoucy-MSFT commented on #42447
@leftmostlane Thank you for your feedback. I will assign this ticket to the doc author to work on.

[2019-11-08 20:05] SamaraSoucy-MSFT commented on #42445
@morgangrobin Thank you for your feedback. I'll review it and get back to you shortly.

[2019-11-08 20:07] MicahMcKittrick-MSFT commented on #42439
@paramda the prerequisites don't appear to cover everything. That is saved for the next section where we have the Tutorial. Have you reviewed that?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-tutorial#create-an-azure-load-balancer

![image](https://user-images.githubusercontent.com/32313503/68507262-55ce1680-0220-11ea-

[2019-11-08 20:13] xSilverboltx opened #42451 "Need section on renewing AAD server appID SP credentials"
article does not discuss resetting the credentials on the AAD server appID SP. This command is only found on the CLI page linked below

az aks update-credentials -g MyResourceGroup -n MyManagedCluster --reset-aad --aad-server-app-id MyExistingAADServerAppID --aad-server-app-secret MyNewAADServerAppSecret --aad-client-app-id MyExistingAADClientAppID --aad-tenant-id MyAADTenantID

https://docs.micro

[2019-11-08 20:16] MicahMcKittrick-MSFT commented on #42443
@bradleyruff can you confirm the deployment succeeded fully? I attempted to deploy the image and I see the managed identity section failed which according to the documentation might be why you don't see the tools installed

![image](https://user-images.githubusercontent.com/32313503/68507792-95e1c900-0221-11ea-805a-2e74c5e191f1.png)

[2019-11-08 20:18] NavtejSaini-MSFT commented on #42448
@abdale We are checking and will get back to you

[2019-11-08 20:19] mrbullwinkle commented on #42418
@SamaraSoucy-MSFT you can assign this one to me. @sairam-github is 100% correct we can get those changes added.

@sairam-github let me know if you would like to submit a public PR so you get credit for contributing to the docs/fixes? I am happy to add the fixes myself, but if you would like to submit a public PR I would be happy to sign-off and get it merged so you can be recognized as a contribut

[2019-11-08 20:19] NavtejSaini-MSFT commented on #42440
@arkadiysherman We are checking this and we will get back to you.

[2019-11-08 20:21] NavtejSaini-MSFT commented on #42430
@MJGalvanAtBridge We are assigning this to author for further corrections.
@XiaoyuMSFT @julieMSFT Please check this and make the changes as required.

[2019-11-08 20:31] MicahMcKittrick-MSFT commented on #42451
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 20:34] NavtejSaini-MSFT commented on #42448
@abdale We have created the Pull request for the change. https://github.com/MicrosoftDocs/azure-docs-pr/pull/95413
The issue will be closed once the PR is completed.

[2019-11-08 20:35] paramda commented on #42439
Yes there are 3 sections -> Pre-reqs, Actual setup of AG in Tutorial and setting LoadBalancer. Tutorial is not very clear from what I have noticed and customer agrees it’s confusing as well.

From: Micah <notifications@github.com>
Sent: Friday, November 8, 2019 3:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Parimala Ramdas <Parimala.Ramdas@microsoft.com>; Mention <mention

[2019-11-08 20:37] MicahMcKittrick-MSFT commented on #42439
Fair enough. I will assign to the content author to review.

[2019-11-08 20:39] larryms commented on #42143
I created a PR to address this.  #42452

[2019-11-08 20:45] CHDAFNI-MSFT commented on #42438
Thanks. Potentially a table outlying the prescendence would best express the outcomes

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Friday, November 8, 2019 2:43:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chase Dafnis <chdafni@microsoft.com>; M

[2019-11-08 20:50] MichaelJolley opened #42453 "JavaScript SDK reference documentation link is broken"
Looks like a recurring problem for this page, but the API documentation link "JavaScript SDK reference documentation" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4a8032-6aa3-4833-0fb4-02312a0b534f
* Version Independent ID: eb89b624-ffcc-9d27-27de-6b514ae489d3
* Content: [Azure Cosmos DB: SQL Node.js API

[2019-11-08 21:07] mlsendian opened #42454 "Plans to support programmatic publisher configuration?"
Hi folks,

The page mentions that programmatic support for setting the publisher domain isn't supported.

Our use-case is Virtual Machines shared across tenants (which require Shared Image Galleries and App Registrations). Each of our customers gets their own Shared Image Gallery (and hence their own App Registration). We can programmatically create the VMs, the SIGs, setup the App Registrations,

[2019-11-08 21:11] FrankHu-MSFT commented on #41371
@pmeuser After further research, this behavior is meant to provide uninterrupted end user experience when Authenticator gets installed, and is by design.

If the app still has a valid refresh token at the time when Authenticator gets installed, the app can continue functioning as if nothing changed.

Next time when you need to perform interactive sign-in, the app will call to the Authenticator app

[2019-11-08 21:13] Mike-Ubezzi-MSFT commented on #42453
@MichaelJolley Thank you for bringing this to our attention. I will have the content team evaluate and update the doc link as appropriate.

[2019-11-08 21:14] Mike-Ubezzi-MSFT commented on #42453
The API Documentation: JavaScript SDK reference documentation is currently pointing to https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/?view=azure-node-latest, which results in `404 - Content Not Found`.

[2019-11-08 21:19] NavtejSaini-MSFT commented on #42440
@arkadiysherman The document here conveys that e.g. you have maximum throughput is 400 RU/sec for your deployment, You dont need to increase your Request units for managing TTL. Cosmos DB will be able to handle it within the same Request units.

This happens because it uses the left over RU(if any) and use them to do this task. If it has not got any leftovers it will wait until it has some to do t

[2019-11-08 21:22] MarileeTurscak-MSFT commented on #42450
@yobyot
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-08 21:31] BharathNimmala-MSFT commented on #42449
@colbylwilliams Thank you for sharing the feedback, we will further evaluate and update the doc accordingly.

[2019-11-08 21:33] MarileeTurscak-MSFT commented on #42450
I agree! I made a pull request to address several of these typos but think it could definitely use another pass. https://github.com/MicrosoftDocs/azure-docs-pr/pull/95423

I'm creating a work item to get this document updated. CC @jeevansd

[2019-11-08 21:33] #42450 closed

[2019-11-08 21:50] FrankHu-MSFT commented on #41860
Hey @iilyin i'm following up on this issue. After further research, the access token being returned from the refresh token is not supposed to be occurring and we are currently working to resolve this.

I apologize for the inconvenience and confusion. If you're interested in this feature being implemented, I suggest submitting this feedback against the endpoint : https://feedback.azure.com/forums/1

[2019-11-08 21:52] dontmesswithbill opened #42455 "Migrate multiple VMs"
How do you use this method if you want to migrate multiple VMs at the same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad1c158e-0e7f-c619-73cf-6b2af73cd6cb
* Version Independent ID: 47f0720f-e4d4-aa5b-0eb1-a24dfd04bbac
* Content: [Move Azure IaaS VMs to another Azure region by using the Azure Site Recovery ser

[2019-11-08 21:56] mcqueene opened #42456 "Error "API does not accept non-array scopes" with requestObj"
When trying to use the scope variable definition listed below I get the error "API does not accept non-array scopes".

var requestObj = {
    scopes: ["user.read"]
};

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a1c-95eb-30c2dd42a5f1
* Cont

[2019-11-08 22:00] j-martens commented on #39799
Thanks, @swanderz, for your post.  We're gonna close this now. #please-close

[2019-11-08 22:00] #39799 closed

[2019-11-08 22:03] j-martens commented on #42382
#re-assign:@trevorbye

[2019-11-08 22:04] SamaraSoucy-MSFT commented on #42418
@mrbullwinkle it's all yours. :)

[2019-11-08 22:04] j-martens commented on #42400
@joshkyh - to be sure I understand, could you please rephrase your question?

[2019-11-08 22:05] ltoinel commented on #29217
It should be nice to purpose a better Powershell script on the documentation that take into account the pipeline dependencies.
 https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-script-to-stop-and-restart-triggers-and-clean-up

I have the same issue ;-(

[2019-11-08 22:08] KranthiPakala-MSFT commented on #42241
@sampruett We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-11-08 22:08] #42241 closed

[2019-11-08 22:12] KranthiPakala-MSFT commented on #42337
@SatyaKomatineni Once you have created the MSDN/stackoverflow thread please do share it here for tracking.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-11-08 22:12] #42337 closed

[2019-11-08 22:14] langstonj opened #42457 "Managing Vulnerability Assessments across multiple databases"
Too bad there is no example dealing with more than one database (500+).  Despite my best efforts to generate PS command statements for databases with similar findings to be run as one, the results are less than useful.  Perhaps its in front of me and I am not seeing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02

[2019-11-08 22:18] NenoLoje opened #42459 "Dead link"
The link behind the following text is broken: "See the configurable settings in ApplicationInsightsServiceOptions for the most up-to-date list".

It opens https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Shared/Extensions/ApplicationInsightsServiceOptions.cs which results in a **FileNotFound** error.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-08 22:32] cijothomas commented on #42459
https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/NETCORE/src/Shared/Extensions/ApplicationInsightsServiceOptions.cs new link.

[2019-11-08 22:37] harouny opened #42460 "Can backend re issue APIM client certificate to pretend to be APIM?"
Just a question to understand more about when to user Client Certificate Authentication:

Since APIM forwards its Client Certificate to backend service, can a backend service store the certificate and pretend to be APIM by sending the certificate -it optained from APIM- to other backend  services?
Or is there something in the process that prevents  that?

---
#### Document Details

⚠ *Do not edit

[2019-11-08 22:48] bweisberg opened #42461 "Service account doesn't have access"
The last spark-submit is failing for me.  The error indicates the service account does not have permission.  Comparing the second spark-submit command to the one earlier in the doc, it appears one of the parameters is missing in the second: `--conf spark.kubernetes.authenticate.driver.serviceAccountName=spark`  When I add the serviceAccountName to the 2nd the job succeeds.

Here's more text from t

[2019-11-08 22:53] nkiest commented on #42112
We are working to enable ARM Templates and REST ASAP, and CLI and Powershell will follow soon after. The review and publishing process can take a few months.

[2019-11-08 22:53] mcqueene opened #42462 "API does not accept non-array scopes error on loginPopup"
When trying to use the code below the error "API does not accept non-array scopes" occurs. It appears the format for loginRequest is not correct.

const loginRequest = {
    scopes: ["https://graph.microsoft.com/User.ReadWrite"]
}

userAgentApplication.loginPopup(loginRequest).then(function (loginResponse) {
    //login success
    let idToken = loginResponse.idToken;
}).catch(function (error) {

[2019-11-08 23:27] mike-urnun-msft commented on #42012
@abmsft At this time, guidance that's given in [this documentation](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-deploy-azure-resource-manager-templates#authorize-oauth-connections) still stands for this scenario.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-08 23:27] #42012 closed

[2019-11-08 23:28] mike-urnun-msft commented on #42135
Hi @DafDev - Just following up on my previous comment above.

[2019-11-08 23:30] MarileeTurscak-MSFT commented on #42226
Hi @neb83 , can you please send me an email at AzCommunity@microsoft.com so I can loop you into a conversation with the product team?

We are tracking this same bug [here ](https://github.com/MicrosoftDocs/azure-docs/issues/41574) so I am closing this github issue as a duplicate but I would like to continue troubleshooting with you to get this resolved.

[2019-11-08 23:30] MarileeTurscak-MSFT commented on #42226
Closing this out as we are tracking in this thread. https://github.com/MicrosoftDocs/azure-docs/issues/41574

Feel free to email me and tag me in the comments, though.

If you could send me your subscription ID that would also be helpful.

[2019-11-08 23:30] #42226 closed

[2019-11-08 23:31] FrankHu-MSFT commented on #41371
@pmeuser Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day Monday.

Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

I apologize again for any inconveniences this may cause. If you're interested in this feature being implemented please submit it against the f

[2019-11-08 23:34] BharathNimmala-MSFT commented on #42459
@NenoLoje Thanks for bringing this to our attention.

Thank you @cijothomas for providing the correct link

[2019-11-08 23:39] ShivaKumarChittamuru opened #42464 "0 Voices"
When I run this code, I get the following output --
There are 0 voices available:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a0f7a9a-7459-927f-743f-7fe8f649b85e
* Version Independent ID: 7a99ae60-b57d-9770-3602-d993fa156db9
* Content: [Quickstart: Asynchronous synthesis for long-form audio (Preview) - Speech Servi

[2019-11-08 23:41] SaurabhSharma-MSFT commented on #41953
@curtand Can you please look into this and update the images on the documentation.  The portal shows different than what is in the documentation -
**Documentation Image**
![image](https://user-images.githubusercontent.com/38112130/68517833-01d22a80-023e-11ea-83f2-7e45c750eea9.png)

**Portal Image**
![image](https://user-images.githubusercontent.com/38112130/68517813-eb2bd380-023d-11ea-9e69-973e035

[2019-11-08 23:49] XiaoyuMSFT commented on #42430
@NavtejSaini-MSFT @julieMSFT - I made the change.

[2019-11-08 23:50] SaurabhSharma-MSFT commented on #41988
@veeraps We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-08 23:50] #41988 closed

[2019-11-08 23:50] HilaryStoupa opened #42465 "Links to GitHub"
Links to GitHub for Node.js lead to 404 page. https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/js-node

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* Content: [Quickstart: Recognize

[2019-11-08 23:51] julieMSFT commented on #42430
@MJGalvanAtBridge Thank you for bringing this to our attention. It looks like the first example was changed but not the SQL DW. I have submitted the fix.

[2019-11-08 23:51] julieMSFT commented on #42430
#95460

[2019-11-08 23:52] TomArcherMsft commented on #27904
@jakaruna-MSFT It appears that you've addressed the issue. If there's an action item for me in updating the article, please email me offline. Thanks #please-close

[2019-11-08 23:52] #27904 closed

[2019-11-08 23:53] TomArcherMsft commented on #27905
@jakaruna-MSFT It appears that you've addressed the issue. If there's an action item for me in updating the article, please email me offline. Thanks #please-close

[2019-11-08 23:53] #27905 closed

[2019-11-08 23:53] julieMSFT commented on #42430
#95459

[2019-11-08 23:53] julieMSFT commented on #42430
#please-close

[2019-11-08 23:53] #42430 closed

[2019-11-09 00:05] mike-urnun-msft commented on #42429
@Duffney Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-09 00:06] keshava-hm commented on #40855
According to conversations here https://github.com/Azure/azure-iot-sdk-csharp/issues/1108#issuecomment-551923017
It looks like an issue introduced between devices.client 1.21.0 and 1.21.1...

[2019-11-09 00:12] MicahMcKittrick-MSFT commented on #42461
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 00:31] mike-urnun-msft commented on #42432
@tony-gutierrez Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-09 00:32] mike-urnun-msft commented on #42433
@tony-gutierrez Thank you for your feedback! We will review and update as appropriate.

[2019-11-09 00:34] mike-urnun-msft commented on #42460
@harouny Thank you for your feedback! We will review and update as appropriate.

[2019-11-09 00:38] femsulu commented on #42246
thanks for the update @vinynigam.
we are now closing this isssue.

[2019-11-09 00:38] #42246 closed

[2019-11-09 00:51] ecfan commented on #42396
Unless there are other related questions, closing this issue for now.

@KetanChawda-MSFT: #please-close

[2019-11-09 00:51] #42396 closed

[2019-11-09 00:56] TylerMSFT commented on #41439
I've added some context around those values. The updated article will be published on Monday.
#please-close

[2019-11-09 00:56] #41439 closed

[2019-11-09 01:01] femsulu commented on #42420
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-09 01:03] femsulu commented on #42422
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-09 01:04] femsulu commented on #42431
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-09 01:06] femsulu commented on #42455
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-09 01:07] femsulu commented on #42442
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-09 01:21] Adam-Smith-MSFT commented on #42426
@MikeInSwitzerland Hi Mike, It doesn't seem that the current scenario you described is supported within the Azure storage account. If your web app/website is running from it, i'd recommend checking Azure Storage Static website as an alternative. Let me know if this helps.

Thanks,
Adam

[2019-11-09 01:22] Adam-Smith-MSFT commented on #42414
@MattiasAng Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-09 01:27] femsulu commented on #42116
@Rajani-Janaki-Ram  - any insight on this please?

[2019-11-09 01:28] femsulu commented on #42234
thanks for the update, @tfitzmac
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-09 01:28] #42234 closed

[2019-11-09 01:33] junsaw commented on #40855
Please see issue below:

https://github.com/Azure/azure-iot-sdk-csharp/issues/1108#issuecomment-551927791

In my case I downgraded the SDK to 1.20.0

[2019-11-09 02:05] IEvangelist commented on #42444
Hi @dtjensen, thank you for reaching out.

I'm not certain why this issue is being caused - but am I to assume that you followed the instructions verbatim? If you did not, where did you stray away from them? Is your container able to connect to the external internet? I see the issue with the "No XML encryptor configured"... I'll have to ask the dev team about that one, but it I'm curious what envi

[2019-11-09 02:10] msandbu commented on #30065
This is stil not available in the portal as an option, is the feature deprecated?

[2019-11-09 03:31] KrishnaG-MSFT commented on #42446
@mdgattuso Thanks for the quick response. :+1:

[2019-11-09 03:57] NavtejSaini-MSFT commented on #42107
@ronitr Can you please check this?

[2019-11-09 04:15] NavtejSaini-MSFT commented on #42457
@langstonj Thanks for your question. Please check the following document for getting PS for all databases in a server.
https://blogs.msdn.microsoft.com/sqlsecurity/2018/08/02/azure-sql-vulnerability-assessment-now-with-powershell-support/
Hope this helps.

[2019-11-09 04:55] KrishnaG-MSFT commented on #42402
@MadhuReddy1234 I have tried to reproduce the issue but as shown in below screenshot, I was able to successfully retrieve the resource groups.

<img width="804" alt="Jenkins3" src="https://user-images.githubusercontent.com/45988031/68523128-968a6600-02da-11ea-952c-cd69a15c4476.PNG">

IMO, to start diagnosing the issue, you should once again verify the service principal as shown in below screenshot

[2019-11-09 04:59] KrishnaG-MSFT commented on #42402
Closing this issue for now. If there are further questions regarding this matter or feedback on Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-11-09 04:59] #42402 closed

[2019-11-09 05:21] cmondelus opened #42466 "Incorrect Sign On URL values"
The sign-on URL values are incorrect for step 4 of creating the application. For IDP-Initiated sign- the ACS URL should be one of the regional URLs found in the Administration Console section under the Identity Provider chart. https://community.mimecast.com/docs/DOC-1723#jive_content_id_Administration_Console_251703. The ACS pattern restrictions also have to be changed from https://*.mimecast.com/

[2019-11-09 05:34] pingone commented on #42228
QueueService has been renamed to QueueServiceClient.

[2019-11-09 05:47] YutongTie-MSFT commented on #42465
@HilaryStoupa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 05:49] YutongTie-MSFT commented on #42464
@ShivaKumarChittamuru
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 06:00] KrishnaG-MSFT commented on #42195
@bhupinder-p-s I have followed [this](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-powershell#enable-network-security-group-flow-logs-and-traffic-analytics) Azure document and as shown in below screenshot I was able to successfully configure Version 2 flow logs with Traffic Analytics configured.

<img width="767" alt="NSG1" src="https://user-images.github

[2019-11-09 06:00] #42195 closed

[2019-11-09 06:38] KrishnaG-MSFT commented on #42200
@bwren Currently we see contentTypes like 'Audit.Exchange', 'Audit.AzureActiveDirectory' and 'Audit.SharePoint' are mentioned in the doc under [office365_subscription.ps1](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solution-office-365#subscribe-to-log-analytics-workspace) script. Can you please review and confirm if other contentTypes like 'DLP.All' and 'Audit.General' are suppo

[2019-11-09 08:08] mikmikmikmik opened #42467 "ansible facts is not working on the scale-out script."
ansible facts is not working for the scale-out script.

My post from yesterday for this page seems to have disappeared, so here it is again.

TASK [Dump scaleset info] *************************************************************************************************************************
ok: [localhost] => {
    "output_scaleset": {
        "changed": false,
        "failed": false,
        "vmss

[2019-11-09 08:41] jpushpanathan opened #42468 "Typo on My pod is stuck in CrashLoopBackOff mode. What should I do?"
kubectl log &lt;pod-name&gt;  should read as:
kubectl logs &lt;pod-name&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55fe52d9-5526-de32-7e16-3e3207fc8aef
* Version Independent ID: 28d7cd54-bc74-5a08-684d-5d64ea589750
* Content: [Troubleshoot common Azure Kubernetes Service problems](https://docs.microsoft.com/en-

[2019-11-09 11:28] SadiqhAhmed-MSFT commented on #42468
@jpushpanathan Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-09 11:31] SadiqhAhmed-MSFT commented on #42467
@mikmikmikmik Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-09 11:57] slavizh opened #42470 "Question for the FAQ?"
What happens if you have action group defined within the alert and you have action rule that is defining the same action group for the same alert? Would it trigger the action group twice or only once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f826c77e-a9c8-5baa-af70-690e8383372b
* Version Independent ID: df6cea2c-

[2019-11-09 12:05] SadiqhAhmed-MSFT commented on #42425
@garybushey Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-09 12:07] SadiqhAhmed-MSFT commented on #42435
@DonFrazier Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-09 12:10] SadiqhAhmed-MSFT commented on #42412
@anjalisn4 Thanks for the question! Can you share the document link you're referring to?

[2019-11-09 12:17] SadiqhAhmed-MSFT commented on #42411
@edu-gp Thanks for the question! Can you provide more details on what you're trying to accomplish and share the document link you're referring to?

[2019-11-09 12:22] SadiqhAhmed-MSFT commented on #42454
@mlsendian Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-09 12:24] SadiqhAhmed-MSFT commented on #42456
@mcqueene Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-09 12:25] SadiqhAhmed-MSFT commented on #42462
@mcqueene Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-09 12:28] SadiqhAhmed-MSFT commented on #42466
@cmondelus Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-09 13:07] qafro1 commented on #27848
I've tried both methods key_data = "ssh-rsa AAAAB3Nz{snip}hwhqT9h" with appropriate public ssh_id and  key_data = "${local.public_ssh_key}" from that github repo bastion-box and failed to work.
Any ideas?

[2019-11-09 14:03] souravmishra-msft commented on #42069
@ivratche, We are closing this thread for now. In case you need any more help on this, please feel free to re-open this thread.

[2019-11-09 14:03] #42069 closed

[2019-11-09 14:09] msandbu opened #42472 "Locking down storage account public access"
Enabling a storage account behind a private link, I'm still able to connect to the storage account using public IP. It should be reflected in the documentation that services are still available publically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bed2e199-b8cc-81d0-a739-b9acb46950bd
* Version Independent ID: 7028

[2019-11-09 14:17] anuraj opened #42473 "Difference between FeatureManagement and FeatureBits.Core"
Looks like both these packages offers similar functionalities. Any particular reason to choose one over the other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a-628d-9c05-551c09f7392e
* Version Independent ID: 5db3af04-a314-24fd-6202-772aaa62a28d
* Content: [Tutorial for using feature flags in a .NET Cor

[2019-11-09 14:23] souravmishra-msft commented on #42070
@ivratche, I apologize for the delay in my response. I was going through you ask, and it looks like some more information is needed for us to provide you with a proper answer. Some more clarity around this question is needed for us to understand the actual ask.
Regarding the statement "**_It looks like the username and password is included in the soap message sent to the IDP on-prem. Therefore, th

[2019-11-09 14:35] souravmishra-msft commented on #42154
@chrisjhahn, I wanted to touch base with you to check if there are any more queries around this response. If not they we would like to close this thread out.
Do let us know your thoughts.

[2019-11-09 14:36] souravmishra-msft commented on #42040
@projexe, We are closing this thread for now since we didnt hear back from you on this. Please feel free to reopen this thread if required.

[2019-11-09 14:36] #42040 closed

[2019-11-09 14:59] Ayanmullick opened #42474 "Will the VM's retain their on-prem identity on the domain?"
Will VM's need to be unjoined and rejoined from the domain once they are migrated to Azure or will it retain its identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69fe01a7-1b15-813b-412f-17e92d617d21
* Version Independent ID: bdcb0b81-f29d-5e85-b614-7e4d796cd371
* Content: [Common questions about Azure Migrate](

[2019-11-09 15:07] yckwan opened #42475 "Cost"
Hi, May I know is this service involves any cost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 442114c9-8756-590b-9a4c-b3553dc312d2
* Version Independent ID: fd3a68da-95c2-79b7-3d33-1f76f2d25879
* Content: [Require secure transfer in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-require

[2019-11-09 15:33] KalyanChanumolu-MSFT commented on #42306
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-09 15:33] #42306 closed

[2019-11-09 15:37] edu-gp commented on #42411
Actually, I figured it out. (The `source_directory` is uploaded to blob storage upon every job I submit. I can see it in the "outputs" after the training finishes as well.) Thanks for the quick follow-up though!

[2019-11-09 15:37] #42411 closed

[2019-11-09 16:08] projexe commented on #42040
Thanks for the explanation. You've definitely made it clearer for me.
You've explained that the refresh token 'real' lifetime continues to increase as an app is used and the refresh token is ..ahem.. "refreshed".
You've explained that you actually **didn't** mean 'continually active'.
You've also explained what single signon means (which I didn't ask, but which is very useful and would be a good a

[2019-11-09 16:12] KalyanChanumolu-MSFT commented on #42091
@maoz123 Thank you for reaching out and apologies for the delayed response.
"How much DTU" is subjective because it depends on factors like how far apart are your databases, whether you chose a secondary replica of the same size as primary or lesser etc.

Yes you can use the secondary for reads because Azure SQL ensures that  the secondary data never has partial transactions.
If the secondary data

[2019-11-09 16:16] BharathNimmala-MSFT commented on #42473
@anuraj Thanks for your question, we will look into and get back to you at the earliest.

[2019-11-09 17:00] ecfan commented on #41412
Hi @karpikpl & @mike-urnun-msft,

In the meantime, the team also suggested that to use Windows authentication with the SQL Server connector in an ISE, you can use the connector's non-ISE version instead with the on-premises data gateway. I've updated the docs to include this suggestion.

[2019-11-09 17:02] syndicatedshannon opened #42476 "Please note current lack of support for async token initialization in tip on async construction"
Clarification would be appreciated. It would have saved me time on multiple occasions, and could save others time.

Section https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-aspnet-core says "This demonstration code is synchronous for clarity", and provides a link to guidance. I've come across this problem multiple times in my code, and ended up here tr

[2019-11-09 17:09] syndicatedshannon commented on #42476
Possible revision:
This demonstration code is synchronous for clarity. For more information, see Asynchronous guide for constructors. Asynchronous token acquisition is not yet supported in Entity Framework Core (see https://github.com/aspnet/EntityFrameworkCore/issues/13261 for status).

[2019-11-09 17:17] syndicatedshannon commented on #42476
I think my main issue is that the current tip is deceptive. It makes me think I was supposed to have solved this problem already, when it's more complicated than that.

[2019-11-09 18:21] Doukers commented on #41652
Hi Patrick, will the doc be updated soon please?

[2019-11-09 18:21] edu-gp opened #42477 ""Train with an estimator" section should include how to use existing Environment"
The "Train with an estimator" on [this page](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-use-environments#train-with-an-estimator) should include an example usage with Estimator's `environment_definition` parameter, which takes in an Environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-09 19:03] msrini-MSFT commented on #42296
@ranokarno , Please tag me if you have any further questions.

[2019-11-09 19:03] #42296 closed

[2019-11-09 19:04] msrini-MSFT commented on #42309
@kiazhi , Please tag me if you have any questions.

[2019-11-09 19:04] #42309 closed

[2019-11-09 19:10] YutongTie-MSFT commented on #42477
@edu-gp
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-09 19:14] YutongTie-MSFT commented on #42476
@syndicatedshannon
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 19:14] YutongTie-MSFT commented on #42472
@msandbu
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-09 19:16] YutongTie-MSFT commented on #42474
@Ayanmullick
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 19:17] YutongTie-MSFT commented on #42475
@yckwan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 19:19] YutongTie-MSFT commented on #42470
@slavizh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-09 20:07] ecfan commented on #40062
#in-progress

[2019-11-09 20:28] iakovmarkov commented on #37716
@qianw211 Hi! I am having similar issues with Azure Marketplace & publishing of Managed Image. I don't see any new docs on Azure portal. What's the status of Managed Images on Marketplace, and what's the recommended approach?
Thank you!

[2019-11-09 21:46] dialedin2014 opened #42478 "Which has the latest SQL engine, SQL Database or SQL Server?"
This article states "In fact, the newest capabilities of SQL Server are released first to SQL Database, and then to SQL Server itself".  But the documentation https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-compatibility-level?view=sql-server-ver15 states the Azure SQL Engine is two versions behind.  Querying our prod Azure SQL Database shows 12.0.2000.8.  So SQL

[2019-11-09 23:24] lixuanzhu opened #42479 "This article does not mention section of "Authorized client applications""
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis

Could someone explain what this section means and its usage?

Authorizing a client application indicates that this API trusts the application and users should not be asked to consent when the client calls this API.

[2019-11-10 00:46] jurajgh commented on #36388
I'm also interested in this scenario - using passwordless authentication on mobile platforms in enterprise environment (i.e. NOT microsoft accounts, but rather azure ad accounts). can anyone please shed some light on how that is supposed to work?

[2019-11-10 01:51] lixuanzhu opened #42482 "Where is “Permissions to Other Applications” drop-down menu in the Azure portal?"
Please add link or description.  It is hard to read.

 If a delegated user identity type is being used, the server application needs to select the desired permissions from the “Permissions to Other Applications” drop-down menu in the Azure portal. This step is not required if the application identity type is being used.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-11-10 01:53] joshkyh commented on #42400
Hi Josée Martens,

In the Microsoft Documents
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-troubleshoot-deployment
The "Debug locally" Section currently looks like that following:

[image: image.png]

I had problems debugging locally even when I had Docker Installed.

However, I solved the problem after allowing docker to be runned by a
non-root user following the steps a

[2019-11-10 01:54] lixuanzhu opened #42484 ""Authorized client applications" section on UI is not mentioned in this article."
Authorized client applications
Authorizing a client application indicates that this API trusts the application and users should not be asked to consent when the client calls this API.

Should it be explained here?  What is the purpose of this section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b434db-9091-da08-2c

[2019-11-10 01:56] lixuanzhu commented on #42479
Duplicate with https://github.com/MicrosoftDocs/azure-docs/issues/42484

[2019-11-10 01:56] #42479 closed

[2019-11-10 01:59] Yueying-Liu commented on #42464
@ShivaKumarChittamuru The Long Audio API now support [Custom Neural Voices](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-voice#custom-neural-voices).

[2019-11-10 02:04] YutongTie-MSFT commented on #42478
@dialedin2014
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-10 02:05] YutongTie-MSFT commented on #42482
@lixuanzhu
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-10 02:06] YutongTie-MSFT commented on #42484
@lixuanzhu
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-10 02:11] mjtpena opened #42485 "NPM Install to get truffle-hdwallet-provider"
There should be an instruction to install npm dependencies in order to build the smart contract.
Or else, you will receive an error: " Cannot find module 'truffle-hdwallet-provider' "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df32d8b8-aa8f-b8da-3bc6-3fcba16be8bd
* Version Independent ID: 71fdb7e0-bb97-f96a-84fc-77

[2019-11-10 02:15] YutongTie-MSFT commented on #42485
@mjtpena
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-10 03:06] Jaans opened #42486 "samlp:AuthnRequest namespace incorrect. Should be "urn:oasis:names:tc:SAML:2.0:assertion" not metadata"
Affects Azure AD
https://stackoverflow.com/questions/25120025

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bb99a4-4092-0202-48bf-4e61ee424faf
* Version Independent ID: a066de9a-42fb-2fcc-683d-2ffdc45fdf3d
* Content: [Azure Single Sign On SAML Protocol](https://docs.microsoft.com/en-us/azure/active-directory/develop

[2019-11-10 04:22] SumanthMarigowda-MSFT commented on #42105
@jumarko Sure, Thank's for your feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-10 04:22] #42105 closed

[2019-11-10 06:00] nauxliu opened #42487 "SingleAppRoleAssignment is not working like the documents says"
The [document](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/functions-for-customizing-application-data#singleapproleassignment) says the SingleAppRoleAssignment will:

But if I have more than one app roles assigned to the user, an error occurred:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c86

[2019-11-10 06:01] karpikpl opened #42488 "Nested logic apps"
Section about nested logic apps needs expanding.
Connector reference is missing description for action used for calling other logic apps.

It would be great if limitations were known,
at this point it's unclear why one logic app can only POST to another logic app, how to pass query params etc.

<img width="623" alt="Screen Shot 2019-11-09 at 10 04 56 PM" src="https://user-images.githubusercontent.

[2019-11-10 06:15] karpikpl commented on #42063
I'm not sure why it was moved but my question was asked under https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api.

The samples refer to:
[code]
My understanding is that key needs to be taken from:
<img width="789" alt="Screen Shot 2019-11-09 at 10 10 51 PM" src="https://user-images.githubusercontent.com/3539908/68539817-fc5c0980-033d-11ea-8200-ed06af50568c.png">

but

[2019-11-10 10:01] chrisred commented on #33551
Had this issue as well. I had deleted my first deployment after noticing the template deploys a Standard tier which seemed overkill for a test environment. Ran the template again but edited in a B1 plan. Then got the error reported by others.

[code]

I had removed the previous app registrations before running again so it wasn't that.

It worked for me by locating the Runbook that was failing and

[2019-11-10 10:10] yooakim opened #42489 "Add parameter for BusyBox (and others?) installation"
When using wget on BusyBox I am not able to use the command in the example. I had to add `--secure-protocol=TLSv1_2` in order to download the file,  this command line worked fine:

    wget --secure-protocol=TLSv1_2 -O azcopy.tar.gz https://aka.ms/downloadazcopy-v10-linux

Might be worth pointing out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-10 10:26] SadiqhAhmed-MSFT commented on #42486
@Jaans Thanks for the comment! We are looking into this and will get back to you shortly.

[2019-11-10 10:29] SadiqhAhmed-MSFT commented on #42487
@nauxliu Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-10 10:31] SadiqhAhmed-MSFT commented on #42488
@karpikpl Thanks for the question. We are looking into this and will get back to you shortly.

[2019-11-10 10:34] SadiqhAhmed-MSFT commented on #42489
@yooakim Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-10 11:06] lserpietri opened #42490 "Av2-Series description mentions DSv2 series"
In the text description for the Av2 series the description says "DSv2-Series sizes run on...[etc]".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.micros

[2019-11-10 11:18] Expecho commented on #42185
Sounds good, thanks!

[2019-11-10 11:39] andrePKI commented on #29719
IMHO this is confusing and a big mistake in Azure terminology. Loopback address has meant "127.0.0.0/8" since the invention of IP, i.e. the address of localhost: "A datagram sent by a higher level protocol to an address anywhere within this block should loop back inside the host"(RFC 3330), conventionally only 127.0.0.1/32 is used for this purpose. Hence, what one needs to configure on the VM is q

[2019-11-10 11:59] MikeInSwitzerland commented on #42426
Thanks Adam-Smith-MSFT... but the thing is, I'm deploying to my Angular app to my Azure _Storage Account_ directly from Visual Studio Code, it automatically creates that **$web** container for me, and it sets it as a "Static website".   And remember, if I access the website directly, using the **https://xxxxxx.ZZZ.web.core.windows.net/** URL, it works fine.

The Azure's Storage Account pages speci

[2019-11-10 12:11] oaicstef commented on #35411
Hi,
do you have a solution for this issue, it is happening to me, too.
I'm using the aks preview feature with windows node pool.
Using AKS 1.14.8 with a private Azure container registry,
the kubernetes pod is not able to pull the image, " unauthorized: authentication required".

Please, if there is another thread to follow, could you point me to it?
Cheers.

[2019-11-10 13:31] Biju-Joseph opened #42491 "VNET-VNET connection from different subscriptions using azure portal"
The page in the beginning states "Virtual networks can be in different regions and from different subscriptions." Please clarify this whether VNET to VNET connection from different subscriptions could be done using azure portal.if this is not possible,please alter the above sentence as it creates wrong notion.
Note from a different page regarding VNET to VNET connection states as follows:
"These s

[2019-11-10 14:03] vhurryharry opened #42492 "How can I keep the user signed in?"
After user signs in using Azure AD, the access token will be expired after 1 hour by default.
Also the cookie will be expired at the same time. This means that the user have to login again.
How to prevent this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30daadc7-6f55-207a-9125-9e97f06d9f85
* Version Independent ID:

[2019-11-10 14:05] Darleev opened #42493 "There is no category: "WorkflowRuntime""
Hello,

I tried to deploy ARM template using Azure Blueprint with category specified on this page, but with no luck due to issue:
[ { "code": "BadRequest", "message": "{\r\n \"code\": \"BadRequest\",\r\n \"message\": \"Category 'WorkflowRuntime' is not supported.\"\r\n}" } ]

Is it misunderstanding from my side, or this category is not currently supported? Of course, I'm trying to deploy it not fo

[2019-11-10 14:36] gertjanschokkaert commented on #42379
same problem here

[2019-11-10 14:59] OzBob commented on #42056
Your Web app doc does mention key Vault.

Each doc connected to the link in my first post only talks about Enabling Always Encrypted using only a local Certificate store: e.g. "the wizard will generate a self-signed certificate and will put it in Windows certificate store on the machine, where SSMS is running".

Can you help me find an endtoend example that shows how to manage installing the certi

[2019-11-10 15:12] lesterw1 opened #42494 "Add additional admin roles: Account Administrator & Service Administrator"
There are two additional administrative roles associated with each subscription, which should be referenced in this page as these important roles often go undocumented and sometimes it is necessary to change the assignments. Suggested text is included below:

# Classic Administrator Roles
There are two key classic administrator roles  associated with every Azure subscription: the Account Administr

[2019-11-10 15:18] markjbrown commented on #41909
I'm not sure I understand what is being asked for here. There is already a diagram showing replica sets in multiple regions. Is the ask to have the same with Availability Zones?

I also do not understand the ask for a diagram(s) with "consistency states". Need to clarify.

Thanks.

[2019-11-10 15:56] markjbrown commented on #42248
In Multi-Master (multiple-write region) mode all written data converges on the primary region (the first region listed in the portal) for the Cosmos account to be merged. When that is complete that data is then pushed to Change Feed.

Please note that when using multi-master, you should only use Change Feed in the primary region for the account Cosmos because of the potential for time skew on data

[2019-11-10 15:56] #42248 closed

[2019-11-10 16:05] MicahMcKittrick-MSFT commented on #42490
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-10 16:08] karpikpl commented on #42488
I've later learned that some description was provided here: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#workflow-action

but I think for having better documentation, it still makes sense to expand on this topic and explicitly state what is and what's not possible for nested logic apps (assuming workflow connector is used)

[2019-11-10 16:19] RonStack opened #42497 "Unable to load DLL"
I keep getting the message 'Sorry, I can't hear you." after recording. I found in the Azure Function live monitor that this exception was being thrown:

Unable to load DLL 'Microsoft.CognitiveServices.Speech.csharp.bindings.dll' or one of its dependencies: The specified module could not be found.

Anyone else having this issue?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-10 17:58] YutongTie-MSFT commented on #42497
@RonStack
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-10 18:00] YutongTie-MSFT commented on #42494
@lesterw1
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-10 18:02] YutongTie-MSFT commented on #42493
@Darleev
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-10 18:03] YutongTie-MSFT commented on #42492
@vhurryharry
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-10 18:05] YutongTie-MSFT commented on #42491
@Biju-Joseph
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-10 18:09] ggailey777 commented on #42379
What version of Node.js are you running?

[2019-11-10 18:34] alvipeo opened #42499 "I can't get App Insights logging to work!"
Please see this - https://stackoverflow.com/q/58791719/2896495. Simple logging to App Insights does not work when `AddApplicationInsightsTelemetryWorkerService()` is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d4fa84d-4cd3-216e-ca60-885f1565ee29
* Version Independent ID: 5c08427b-21d3-b22a-924a-d07d1461ba79
*

[2019-11-10 18:46] mattfeltonma opened #42500 "Clarify statement about App Passwords"
In the App Passwords section there is a statement that "By default, users cannot create app passwords. If you need to allow users to create app passwords, select the Allow users to create app passwords to sign into non-browser applications option under service settings."  While this is technically true, it should be clarified to note that the option referenced above is checked by default and if MF

[2019-11-10 18:47] SubhashVasarapu-MSFT commented on #42405
@enpiri , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-10 18:47] #42405 closed

[2019-11-10 19:00] ramadarla opened #42501 "See file share target throughput"
I am looking for a comparison between Azure file storage Premium and standard with throughput limits for a "File" in file share. Though this article it says  "See standard file share target throughput" in section "File share and file scale targets", but could not find it in this page or any. Please add it to this article or correct me if I am missing something.

---
#### Document Details

⚠ *Do no

[2019-11-10 19:07] sven73a commented on #42344
Hi,

Thanx for the replies.

We are upgrading our SCIM API, which are using your CLI. With the upgrading work I tried to transfer it to an .NET core application, because that is our standard.

I am not a Microsoft employee. I am working for Sogeti Netherlands. But I am definitely interested in code which is in progress :)

Kind regards,
Sven Ansem

[2019-11-10 19:32] JeromeVigne commented on #40941
I am having the same issue with App GW v1 in front of an API Management. I just set it up and cannot get the health probe for HTTPS healthy. When I use v2 SKU with the option to trust the backend certificate from APIM it works. Unfortunately I have to use the v1 for this set-up.

[2019-11-10 19:37] brucedkyle commented on #42049
Thanks for your help in understanding

[2019-11-10 19:38] #42049 closed

[2019-11-10 19:59] AjayKumar-MSFT commented on #42147
Thanks for sharing the solution that worked for you.

[2019-11-10 20:00] gmndrg opened #42502 "Export to event hub instructions are no longer valid"
These instructions do not apply any longer for activity logs export to event hub for the latest Azure portal setting display release. Please update to:
- Click on 'Activity Log' tab
- Click on 'Add diagnostic Setting' or 'Edit diagnostic setting'
- select  'Stream to event hub'
Before also it was possible to set the retention period when trying to export the data in the export functionality. This

[2019-11-10 20:08] AjayKumar-MSFT commented on #42147
@petercmho, As sopelt mentioned you could try the suggestions outlined in the document and the solution posted by paulghodgson. In case the issue still persists, as this channel is reserved for ‘Azure docs’ questions- For doc feedback and content improvements, we recommend posting technical questions on the [technical forum1](https://stackoverflow.com/questions/tagged/azure-web-app-service) and [t

[2019-11-10 20:08] #42147 closed

[2019-11-10 20:29] ssivas opened #42503 ""Require Azure AD joined device" as a Grant access control" in Azure AD conditional access"
It would be great if you could add "Require Azure AD joined device" option part of "Grant access control" in Azure AD conditional access. This would really helpful for cloud only environment (who doesn't have on-premises AD ) to manage AAD join devices.

![image](https://user-images.githubusercontent.com/57458999/68550235-102f6a80-0427-11ea-92d2-d58786405187.png)

---
#### Document Details

⚠ *Do

[2019-11-10 20:52] swanderz commented on #42159
@j-martens. the links you gave worked, but shouldn't this issue be closed once the link in the documentation is fixed?

[2019-11-10 21:17] mike-urnun-msft commented on #42135
@DafDev Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-10 21:17] #42135 closed

[2019-11-10 21:43] syndicatedshannon commented on #42476
If I understand correctly, an alternative to code-based AccessToken configuration, was published several months ago (April 2019):

https://github.com/Azure-Samples/app-service-msi-entityframework-dotnet

It performs the token acquisition automatically, bypassing the EF Core async issue. I'm going to try to apply that. After I verify my understanding, I'll open a separate issue requesting a referen

[2019-11-10 22:15] j-martens commented on #42159
@swanderz it was. :-)

[2019-11-11 00:54] YutongTie-MSFT commented on #42499
@alvipeo
Thanks for the feedback! I think Stack Overflow should be the right place for this question since this is the forum for documentation. I have assigned this issue to right hand.

[2019-11-11 00:57] YutongTie-MSFT commented on #42500
@mattfeltonma
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 01:01] YutongTie-MSFT commented on #42501
@ramadarla
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 01:02] YutongTie-MSFT commented on #42502
@gmndrg
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 01:04] YutongTie-MSFT commented on #42503
@ssivas
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 01:15] NormCooke opened #42507 "How do you distribute traffic to a SQL DB"
As far I as know you cannot distribute traffic to database unless it is an Oracle RAC server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5d-c2fe-cb37-e40fc9dc929e
* Content: [What is Azure Load Balancer?](https://docs.microsoft.com/en-us/azur

[2019-11-11 01:15] christiankuhtz commented on #29719
The article states that the frontend IP needs to be assigned to the loopback Interface. What’s the issue?

[2019-11-11 01:15] zcabrer opened #42508 ""Modify redirection URL" section is not comprehensive to resolve App Service AAD Auth redirects."
The troubleshooting document links to this page and the "Modify redirection URL" section as the solution for fixing undesired AAD Auth redirects with an AppGW v2 with an App Service backend.

Troubleshooting Doc: https://docs.microsoft.com/en-us/azure/application-gateway/troubleshoot-app-service-redirection-app-service-url#solution-rewrite-the-location-header

We had AAD Auth redirects and configu

[2019-11-11 01:16] christiankuhtz commented on #29719
You can have any number of loopback interfaces. Loopback 0 is 127.0.0.1 by convention.

[2019-11-11 01:18] YutongTie-MSFT commented on #42508
@zcabrer
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 01:22] YutongTie-MSFT commented on #42507
@NormCooke
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-11 01:52] pbous123 opened #42511 "remove cloud shell reference"
In Azure Government, there is no equivalent to Azure Cloud Shell that you can find in the Azure portal.

is no longer relevant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a6b8431-b6f6-8465-01d2-f66f6f4d98f7
* Version Independent ID: 607755a8-442e-7b74-a98d-07b86111eb78
* Content: [Azure Government Connect with Powe

[2019-11-11 02:07] Darleev commented on #42493
Team, my apologies, there was my knowledge gap. I found correct way to fix the issue. For each application diagnostic setting with logs and metric variables should be set accordingly. For Service Bus this is: "OperationalLogs". Thank you!

[2019-11-11 02:07] #42493 closed

[2019-11-11 02:19] techiebuddhas commented on #41893
@Mike-Ubezzi-MSFT, appreciated your timely feedback on the issue, yes I had followed the same [document](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-automation), In my scenario, the source database backup is taken from multiple file group environment and restoring to a different server. which means, as per the provided document link I had used [AlternateWorkloadRestore](https://

[2019-11-11 02:25] techiebuddhas commented on #42205
@pvrk, @femsulu  am also facing the same issue and write down the same in https://github.com/MicrosoftDocs/azure-docs/issues/41893

thanks in advance 👍

[2019-11-11 02:48] KalyanChanumolu-MSFT commented on #42091
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-11 02:48] #42091 closed

[2019-11-11 03:04] jharitesh108 commented on #23038
Where to see doc for viewing all existing user and reseting linux password/pub_key in the portal?

[2019-11-11 03:18] tkumark opened #42512 "How to you do Site recovery if Resource group is west us and VM is in east US"
Resource Groups of one region allows resource from multiple regions. I am not able to use site recovery if Resource group belongs to one region and VM belongs to another region

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94df3619-b79b-0ec3-ec94-5928c1458d94
* Version Independent ID: 18fdcc5a-f2d1-93ce-9053-458e1cf1d

[2019-11-11 04:03] #41626 closed

[2019-11-11 04:04] souravmishra-msft commented on #42070
@ivratche, I wanted to touch base with you to check if you got a chance to check the above response and also if that helps. If not please do let us know if the queries so that we can help further.

[2019-11-11 04:05] souravmishra-msft commented on #42154
@chrisjhahn, We are closing this thread for now. Please feel free to reopen this thread in case further help is needed.

[2019-11-11 04:05] #42154 closed

[2019-11-11 04:24] RohitMungi-MSFT commented on #42403
@temitopefunmi I have received some feedback from the engineering team and the possible causes for this behaviour.

The most likely cause could be that the model is also part of another project. The test in question is part of that other project. Also, if you have switched between the old and the new portal, tests might have been conducted in the old portal. In that case they are not part of any p

[2019-11-11 04:26] RohitMungi-MSFT commented on #42170
@tellstoriesatbedtym We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-11 04:26] #42170 closed

[2019-11-11 04:28] jakaruna-MSFT commented on #42199
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-11 04:28] #42199 closed

[2019-11-11 04:30] PramodValavala-MSFT commented on #42305
@xnicolaguarinox Just following up here... Hope my previous comment clears things up.

[2019-11-11 04:35] SumanthMarigowda-MSFT commented on #42512
@tkumark Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 04:36] SumanthMarigowda-MSFT commented on #42511
@pbous123 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-11 04:43] SumanthMarigowda-MSFT commented on #42350
@lcp3npedusg https://github.com/MicrosoftDocs/azure-docs/issues/42300

[2019-11-11 04:44] SumanthMarigowda-MSFT commented on #42300
@lcp3npedusg Closing as duplicate

[2019-11-11 04:44] #42300 closed

[2019-11-11 04:49] ravindar-mettu commented on #39533
@jeevansd, it's been 2 weeks and a lot of people looking for an update on this. This is so disappointing for not responding to us. This is a critical request for us.

[2019-11-11 04:53] dancs85 commented on #42211
I've been trying to find a link to download this VPN client as well. When you click "Get it now" from the Marketplace you are redirected to https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/openidoauth-tutorial instead

[2019-11-11 04:55] SumanthMarigowda-MSFT commented on #42501
@ramadarla There are two performance tiers for Files, standard and premium.

[Large file shares are GA ](https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-larger-more-powerful-standard-file-shares-for-azure-files/)on both standard and premium. For premium, all shares can go up to 100TB. But for standard, [you must enable large file shares.](https://docs.microsoft.com/en

[2019-11-11 04:57] KetanChawda-MSFT commented on #42393
@basilwong Checking in to see if the above post helped answering your question.

[2019-11-11 05:04] Kannancsq opened #42513 "Destination column contan special characters (Spaces, #)"
We are using Azure Data Factory to move data from .parquet to SQL PaaS.

Some of tables have got columns with special characters like (spaces, #).  ADF fails to move data to those tables which has special characters.

We are using Metadata activity and For Each to iterate all files (.parquet) and move to SQL PaaS

Please let me knw is there a way / workaround to resolve the issue.

Your support is

[2019-11-11 05:21] KrishnaG-MSFT commented on #42342
@tfitzmac Thanks for the response. 👍
@nishantsny At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-11-11 05:21] #42342 closed

[2019-11-11 05:21] DixitArora-MSFT commented on #42380
@yodies Please refer these GitHub Issue and doc and see if it helps.

https://github.com/MicrosoftDocs/azure-docs/issues/35843

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad-b2c

[2019-11-11 05:26] SumanthMarigowda-MSFT commented on #42513
@Kannancsq Can you please provide us with the URL of the Azure Doc you are having issues with?
We look forward to your reply.

[2019-11-11 05:37] Kannancsq commented on #42513
I am facing issue with Azure Data factory. When my source column has got special characters  it gets failed.

I believe I posed in wrong location. Can you please help to post it in a right place

[2019-11-11 05:44] AjayKumar-MSFT commented on #42301
Apologies for the delay! Thanks for sharing the document, since this is not doc specific and I have also noticed that you have created a discussion thread on MSDN which is in-progress, we will close this out.
Thanks again for leveraging Azure docs feedback channel.

[2019-11-11 05:44] #42301 closed

[2019-11-11 05:52] lcp3npedusg commented on #42350
Official (Closed) - Non Sensitive

Thank you
Finally it works after I had consulted a friend
She spotted the spaces in between the link given.
Thanks
Connie

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Friday, November 8, 2019 4:49 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Connie CHAN (NP) <Connie_CHAN@np.edu.sg>; Mention <mention@noreply.github.com>
Subject: R

[2019-11-11 05:53] pvrk commented on #42205
Can you please share the case number? It will be quicker for me to track and solve.

[2019-11-11 06:04] agowdamsft opened #42514 "Step 2 in configure GitHub Secrets is XML instead of JSON"
Please add reference to https://github.com/Azure/actions-workflow-samples/blob/master/windows-dotnet-functionapp-on-azure.yml or similar for non dot net builds . Also please branch out  Azure CLI based and SCM Credentials based deployment option for logging into Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0a

[2019-11-11 06:10] spacem opened #42515 "What is the correct host.json syntax?"
One example has maxConcurrentCalls under messageHandlerOptions and the other does not. Are these different settings or a typo?

It says "To direct the runtime to process only a single queue or topic message at a time, set maxConcurrentCalls to 1"
Either way I try to set to 1 it I seem to get many functions consuming messages at the same time.

---
#### Document Details

⚠ *Do not edit this section

[2019-11-11 06:49] KosukeHosoda opened #42516 ""Instances per gateway" for AppGW is not correct."
Regarding AppGW for SKU V2, the max value for instances number is 125, not 32 as the below document.

https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#scaling-application-gateway-and-waf-v2

It would be  nice if you could fix, for example, "AppGW v1 : 32, AppGW v2 : 125".

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-11 07:06] PramodValavala-MSFT commented on #42515
@spacem Thanks for the feedback! We will review and update accordingly.

[2019-11-11 07:11] PramodValavala-MSFT commented on #42514
@agowdamsft Thanks for the feedback! The link to the samples is indeed mentioned in the [Next Steps](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions#next-steps) section.

And the screenshot shows the Azure Credentials route which uses the JSON output from the `az` CLI command earlier. In case of SCM Credentials from the Publish Profile, its an XML output.

Al

[2019-11-11 07:25] agowdamsft commented on #42514
Hey Pramod I meant to say the screen shots and content talks mostly when you use Azure CLI for authentication and then do the deployment, I was requesting for  SCM Creds based method explanation branching for "If you are using publishing profile, use SCM_CREDENTIALS for the Name and the file content for Value."

[2019-11-11 07:37] PramodValavala-MSFT commented on #42514
@agowdamsft Understood. You can find a sample for using the publish profile [here](https://github.com/Azure/functions-action#create-azure-function-app-and-deploy-using-github-actions-publish-profile).

We are assigning this issue to the content author for further review and to update the doc accordingly.

[2019-11-11 07:44] paulbeechey commented on #42205
Hi, my support reference is "119110622001360"

Cheers
Paul

[2019-11-11 08:03] SumanthMarigowda-MSFT commented on #42516
@KosukeHosoda Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 08:08] Defkon1 commented on #42247
any news?

thanks in advance

[2019-11-11 08:16] ram-msft commented on #42287
@skantipu Could you please share request body that you are trying.
@PatrickFarley Can you please confirm on this response.

[2019-11-11 08:17] anjalisn4 commented on #42412
@SadiqhAhmed-MSFT  We are trying to access the swagger docs link.
https://tntblockchain-44yxos.azurewebsites.net/api/v2
https://tntblockchain-44yxos.azurewebsites.net/swagger/ui/index.html

For both of the links we are getting error as : "That link didnt work"

[2019-11-11 08:19] adzamri opened #42518 "Broken link"
Hi, the link to the doc in MCAS is broken. it appears as: aka.ms.https://aka.ms/AzureSentinelMCAS instead of https://aka.ms/AzureSentinelMCAS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1545d56e-b946-cdf3-8507-31798a67ca9d
* Version Independent ID: 2bcb937a-a37d-562f-99b7-0747d6df210c
* Content: [Connect Cloud App S

[2019-11-11 08:20] neeleshray-msft commented on #42391
@mandiaya Thank you for your feedback . We do have a request on the azure uservoice feedback forum and we would request you to vote for the same .

[Vote for Updating Jira plugins](https://feedback.azure.com/forums/374982-azure-active-directory-application-requests/suggestions/34909684-update-atlassian-jira-and-confluence-sso-userprov)

Additionally we would update the author as well for this requ

[2019-11-11 08:23] rayne-wiselman commented on #42512
Please assign to me. Investigating

[2019-11-11 08:33] msrini-MSFT commented on #42394
@syadavcv , Can you please elaborate a bit with your ask? Maybe providing an example will help me understand your ask.

[2019-11-11 08:36] neeleshray-msft commented on #42392
@2adnan
Suggest you to check if the VM is connected to any domain.

Go to the **Settings**-> Select **Accounts**
Then on the left side, select **Access Work or School**.
Then you should be able to see if the system is connected to any domain.
Now, if that is not the correct domain you want the system connected to, you can click on the same and then Disconnect from the joined domain. Then Click on

[2019-11-11 08:36] rayne-wiselman commented on #42116
Thanks for your feedback! There's no conversion option. Disable/reenable is needed.

[2019-11-11 08:38] rayne-wiselman commented on #42096
Thanks for your feedback. We're going to be reviewing this document in the next few weeks and I've taken your comment for feedback/action. I'm tracking so we can close this for now.

#please-close

[2019-11-11 08:38] #42096 closed

[2019-11-11 08:43] rayne-wiselman commented on #41956
Thanks for your feedback. Internet load balancer refers to public lb. I'll update to make clear. thx
#please-close

[2019-11-11 08:43] #41956 closed

[2019-11-11 08:45] CHEEKATLAPRADEEP-MSFT commented on #42140
@guntaled  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-11 08:45] #42140 closed

[2019-11-11 08:49] owingruters opened #42519 "How does one change the currency of Azure cost management?"
I assume this is an existing functionality, but unlike the Azure pricing calculator, it is not described how one should change the currency of the cost management (https://portal.azure.com/#blade/Microsoft_Azure_CostManagement/Menu/costanalysis).
I am in Europe and my client in Canada. I see the cost managemengt in Euro, but I want to see them in Canadian Dollars.

---
#### Document Details

⚠ *Do

[2019-11-11 08:54] SadiqhAhmed-MSFT commented on #42516
@rothja FYI, to review and consider for doc-enhancement as required.

[2019-11-11 08:58] SadiqhAhmed-MSFT commented on #42406
@Dangerousme The target for deprecation is yet to be finalized. Once it is confirmed, we will update the documentation soon.

Should you've any questions, tag me in you reply and will continue the discussion. Closing this issue for now.

[2019-11-11 08:58] #42406 closed

[2019-11-11 09:01] SadiqhAhmed-MSFT commented on #42116
@smithcl167 There is no convert from VMM-to-Azure to Hyper-V-to-Azure option now, customers
would need to disable and re-enable replicatoin.

Closing this issue for now. Please tag me in your reply if need any further assistance in this matter.

[2019-11-11 09:01] #42116 closed

[2019-11-11 09:10] davide-rota opened #42520 "Who can access the data? (non-administrators)"
Documentation states that "all users (non-administrators) can see their own audit activities".
This doesn't seem to be true for audit activities as a non-administrator user can't access the audit logs tab (neither the generic one nor the contextual one for the user)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 378b87

[2019-11-11 09:12] unikisi opened #42521 "Can I use DeviceClient to upload files with metadata?"
When I use CloudBlockBlob to upload file to blob, I can upload file with metadata.
Can I do the same thing for Microsoft.Azure.Devices.Client.DeviceClient.UploadToBlobAsync?

Reference: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-file-upload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8bb1b

[2019-11-11 09:17] Farzad-Jalali commented on #42319
Hi @FrankHu-MSFT
thanks for the reply,

if you don't mind, could you please update the provided AAD example with your suggestion in a way that it works?

thanks
Farzad

[2019-11-11 09:18] fume opened #42522 "Use CharacterClassesAll instead of CharacterClasses"
We were trying to translate the UserHelpText of the predicate group CharacterClasses as shown in this page but it didn't work. We had to use the id CharacterClassesAll to make it work. Please update the doc.

thanks, regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14a1a1f1-4cb3-956a-8168-5e3101ea5f76
* Version I

[2019-11-11 09:21] syadavcv commented on #42394
Basically  giving the capability to rewrite the response header
which application gateway provided , **Location header** is one such example
[https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers)

**Rewrite actions

You use rewrite actions to specify the request and response headers that you

[2019-11-11 09:25] msrini-MSFT commented on #42394
@syadavcv , With AFD only re-write of request URL is possible. Rewrite of headers are not supported currently in AFD. You can provide feedback in User Voice: https://feedback.azure.com/forums/217313-networking/suggestions/38507827-support-rewriting-http-headers

[2019-11-11 09:30] #42394 closed

[2019-11-11 09:32] stephenfroggatt commented on #42202
@KranthiPakala - This query was directly related to doc https://docs.microsoft.com/en-us/azure/data-factory/solution-template-databricks-notebook#create-linked-services-and-datasets where this SSAS URI is provided as part of an example.
Can you please test the SAS URI "https://storagewithdata.blob.core.windows.net/?sv=2017-11-09&ss=b&srt=sco&sp=rl&se=2019-12-31T21:40:53Z&st=2018-10-24T13:40:53Z&sp

[2019-11-11 09:36] SnehaAgrawal-MSFT commented on #42353
@rdorris Thanks again for your query and reaching out to us through multiple channels. Since we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. We will now proceed to close this thread here and will continue to work [here](https://social.msdn.microsoft.com/Forums/en-US/5f433883-1e1f-4e21-b689-671ebaf44323/unable-to-start-container-error-message-no-drive-let

[2019-11-11 09:36] #42353 closed

[2019-11-11 09:56] SnehaAgrawal-MSFT commented on #42351
@haschdl Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-11 10:04] MortenRei opened #42523 "Why can't we add additional policies when enabling security defaults?"
I don't understand the logic behind not allowing customers to enable custom CA policies when the security defaults are enabled... This actually makes our environment less security, then with the security defaults disabled... Great CSP requirements...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c

[2019-11-11 10:05] ToruMakabe commented on #42379
@ggailey777  Same here, the versions

node: v10.14.1
func: 2.7.1846
OS: ubuntu 18.04 (on WSL1)

[2019-11-11 10:12] SegersIan opened #42524 "Nodes vs Pods"
There is a note that says:
[code]
It says that `ReadWriteOnce` is only available to one `node`, isn't it that `ReadWriteOnce` means that it is only available to one `pod` instead of `node`? If this correct, then the same is valid for:
`For storage volumes that can be accessed by multiple nodes simultaneously, use Azure Files.` where `multiple nodes` should be `multiple pods`.

---
#### Document De

[2019-11-11 10:15] lucarv opened #42525 "This tutorial is broken"
It is not possible to save a view. One gets Error Code: 500.011.998.016 / 2ms4m3qs7fw.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd1fac5-2e15-1444-351b-20e433f0b17c
* Version Independent ID: d1d39471-85d3-bebb-e4f9-036004f4ab54
* Content: [Define a new Azure IoT Edge device type in Azure IoT Central](https://doc

[2019-11-11 10:17] pconnell99 opened #42526 "Experimental Languages no longer an option in func init"
I am looking at building a PowerShell function, and documentation suggestes that is an option in V2 - but running func init on a V2 install is only offering me dotnet and node.  Has this changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-

[2019-11-11 10:25] cheles commented on #38370
one thing to add: be sure that you have ASP.NET and web development component in VS.
![image](https://user-images.githubusercontent.com/1419060/68580018-287ea400-047e-11ea-97bd-a8f47e3eea7e.png)
Otherwise you won't see the option "App service" in Publish menu.
![image](https://user-images.githubusercontent.com/1419060/68580120-5d8af680-047e-11ea-9472-b67ed62e2add.png)

[2019-11-11 10:25] ManojReddy-MSFT commented on #42520
@davide-rota Thanks for reporting this. Users (non-admins) can access their sign-in activities and not audit activities. I have submitted a PR to update the article and the issue will be closed automatically when the PR merges.

[2019-11-11 10:29] Lysemose commented on #36388
Well that was my original question 🙂
I tried to use my phone number and got to my personal Microsoft account (well ok, my phone is used both places)
But I would like to see the same experience from my Microsoft Personal accounts where you enter you mail address (even in the Mobile apps) and get a prompt on your Authentication mobile app to accept you sign in with pressing the right number. Right n

[2019-11-11 10:29] cheles opened #42527 "Typos in doc"
1. https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devices?tabs=VS%2CXamarin#deploy-the-sample-app
The correct file is AccountDetails.cs (in https://github.com/Azure/azure-spatial-anchors-samples/tree/master/Xamarin project) not SharedActivity.java Text seems to be copied from Android tab and not updated.

2. https://docs.microsoft.com/en-us/azure/spa

[2019-11-11 10:33] #42520 closed

[2019-11-11 10:36] pawboelnielsen commented on #40649
I also got this error, I know it is closed so will open a new. But whenever I try to follow this Getting Started guide I end up with that error.
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started

[2019-11-11 10:39] martinstenhoff opened #42528 "Extension bundle version"
I'd like to Re-open #37370 as I believe that issue was closed without addressing the feedback.

Where can we see the released versions of the ExtensionBundle? I know that I can see the versions of the individual extension packages included in the bundle here: [extensions.json](https://github.com/Azure/azure-functions-extension-bundles/blob/master/src/Microsoft.Azure.Functions.ExtensionBundle/exten

[2019-11-11 10:43] dipesh-wadhwa opened #42529 "Inconsistent claims for AD user and guest user"
Can you please give more details about claims in id token and access token?
I tried to decode both token (guess and AD User) given on this page. But claims are in-consistent and changes as per user type.
For guest users I don't see "given name" and "family name".
In another example - For AD users, I don't see email claim.

Having tough time to understand why different claims for different user typ

[2019-11-11 11:03] pawboelnielsen opened #42530 "Response status code does not indicate success: 503 Substatus"
I have tried to follow below guide using various machines, various networks and cosmos account in different azure regions:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started

Nomatter what I do I end up with the below exception after connecting and running this command:
this.database = await this.cosmosClient.CreateDatabaseIfNotExistsAsync(databaseId);

Exception:
Response status

[2019-11-11 11:05] msrini-MSFT commented on #42410
@ondrejvaclavu , You need to upload the xml file which you have downloaded from the SAS URL .

If you look into the XML file, you can see the Server entry something like this: azuregateway-2ba9c18-36db0b4e3bfc.vpn.azure.com . When you import this XML, you should not get any error. Can you delete the config in your server and retry ?

[2019-11-11 11:05] #42530 closed

[2019-11-11 11:07] neeleshray-msft commented on #42522
@fume Thank you for the feedback. We will assign the thread to the author to check and make the necessary changes.

[2019-11-11 11:07] shashishailaj commented on #42523
@MortenRei Thank you for your feedback. Could you please let us know the documentation which you are referring to ?

[2019-11-11 11:08] neeleshray-msft commented on #42522
@mmacy Kindly have a look into this.

[2019-11-11 11:13] cephalin commented on #42476
@syndicatedshannon The link you pointed to is a solution for ASP.NET, not ASP.NET Core. In fact that solution is already demonstrated in this doc for ASP.NET, at https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-aspnet.

@davidfowl This revisits an earlier issue in which we discussed the alternatives: https://github.com/MicrosoftDocs/azure-docs/issues/3

[2019-11-11 11:14] shashishailaj commented on #42529
@dipesh-wadhwa Thank you for your query. We will investigate and update the thread.

[2019-11-11 11:15] MarkDordoy opened #42531 "Is Seamless SSO required to use staged rollout"
Hello

I am really keen on testing this out. Ideally i want to use Password Hash sync, but do i also need to enable Seamless SSO or will it work just with PHS?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Con