[2019-12-19 18:30] vermagit commented on #44942
https://github.com/Azure/WALinuxAgent#upgrade indicates that this change is true for Ubuntu, but not for CentOS or CoreOS.
In fact, just checked on CentOS 7.7:
`Failed to restart walinuxagent.service: Unit not found`, but,
`agent service name: waagent`

Perhaps the doc can be clarified to also provide the alternative for Ubuntu.

[2019-12-19 18:32] redhatva commented on #28579
I am having the same trouble... Followed documentation but the Object ID for the Function App is not found when I execute the CREATE USER command in SQL

[2019-12-19 18:34] FrankHu-MSFT commented on #44982
@srinu0681 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 18:34] FrankHu-MSFT commented on #44992
@PaulSpinksHMCTS Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 18:34] FrankHu-MSFT commented on #44997
@seadoggie01 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 18:34] MonikaReddy-MSFT commented on #44968
@hansmbakker , I'm going to assign this to the document author so they can update the document accordingly.

[2019-12-19 18:35] hansmbakker commented on #44968
Thank you!

[2019-12-19 18:35] FrankHu-MSFT commented on #44997
Thanks @seadoggie01  for letting us know about this, could you please provide a screenshot of what you're referring to? Are you referring to this image?

![image](https://user-images.githubusercontent.com/6366013/71199661-4b556280-224b-11ea-9e33-53443a20e19c.png)

[2019-12-19 18:37] FrankHu-MSFT commented on #44997
After some research I can confirm that it is a bit hard to read :
![image](https://user-images.githubusercontent.com/6366013/71199757-7b046a80-224b-11ea-891f-01fe03ec097d.png)
cc:@TylerMSFT can you please look into this?

[2019-12-19 18:41] FrankHu-MSFT commented on #44982
hey @srinu0681 the azure doc issues are meant for issues for the azure docs. Please submit this issue against the Q&A forums as this looks like a troubleshooting related question https://docs.microsoft.com/answers/index.html

In addition to that it looks like your application most likely is trying to assign an incorrect typed value to some IProtocolProvider in your code base. Can you try checking

[2019-12-19 18:45] MonikaReddy-MSFT commented on #44976
@SychevIgor , Thanks again for bringing this to our attention. We have updated the Doc and it will go live in sometime and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-19 18:45] #44976 closed

[2019-12-19 18:46] hansmbakker commented on #32024
There is updated documentation in
- https://github.com/Azure/AppConfiguration
- https://github.com/microsoft/FeatureManagement-Dotnet

Also, some issues in those repos document some behavior, limitations and explanations.

It would be good if at least there was a link to those repos, and it would be better if the content of that would be available as updated tutorials/ articles on Microsoft Docs :

[2019-12-19 18:48] MonikaReddy-MSFT commented on #44984
@SychevIgor , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 18:49] siddharthdashore commented on #44686
Thanks @stgeorgi for the directions I assumed that the latest updates may already have the App attach feature.

@Karishma-Tiwari-MSFT
 Recently I've tried multiple times updating the Windows 10 1909 Enterprise with the Fast Insider Preview enabled, recently with 19536.1000. But every time I'm getting failed at 99% downloading state. Recently failed with error code 0x80d02002. I even have tried to

[2019-12-19 18:51] MartinJaffer-MSFT commented on #44637
@jeethub5  Since I have not heard back from you, I will assume you are no longer facing  the problem.  I will tentatively close the issue.  If you are still having difficulty, please reply to my previous suggestion, and I will reopen this issue.

[2019-12-19 18:51] #44637 closed

[2019-12-19 18:53] FrankHu-MSFT commented on #44905
Hey @jopalenc we can look into this further, however there have been no issues with this doc from others. I'm going to go ahead and engage some more people to look into this further to see if it might make sense to add an "AAD Attribute" field to the tables.

cc: @billmath

[2019-12-19 18:58] ChristianMontoya commented on #44748
@BryanAdvisicon : You should do this per-user, so 2 core with 8 GB RAM sounds like a good starting default, depending on the workloads for those users.

[2019-12-19 19:01] babak-kobari commented on #44151
Hello, I guess it is more clear now, Thanks for the clarification

[2019-12-19 19:11] lifeasandythompson opened #45001 "The five capacity utilization charts shown ....."
...defines "Bytes Receive Rate - shows the top five machines with highest average of bytes sent."

Should say "shows the top five machines with highest average of bytes received."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e09b30-7e2a-7b34-9b99-0e05a85aaa14
* Version Independent ID: 9b0d3bcb-6c56-25be-db0a-4fbd62

[2019-12-19 19:14] diberry commented on #44151
#please-close

[2019-12-19 19:29] hoppyshaw opened #45002 "Setting up AV on image"
During the video, it is explained that AV is installed and ready to go out of the box if we download the image from the gallery. This does not seem to be the case as I cannot enable real time scanning or make the exclusions needed. Also, shouldn't this statement read not server but Windows10 multi user? "For more detailed instructions for how to configure Windows Defender on Windows Server, see Co

[2019-12-19 19:32] fanshaoshan opened #45003 "Device twin object limitation"
Is there any limitation on device twin object? Seems that one json object is not able to accommodate more than 80 sub-objects, in our project, we use device twin properties/reported to report device configuration which may require include hundreds of key/value pair inside one json object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-19 19:35] BryanAdvisicon commented on #44748
Thank you very much

[2019-12-19 19:35] MartinHBA commented on #41466
well when I have really nice clean CSV with headers on azure blob storage, I would expect it can create table automatically

[2019-12-19 19:40] femsulu commented on #44994
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-19 19:42] Alberto-Vega-MSFT commented on #44996
Hi @asherkariv are you also seeing this? https://github.com/MicrosoftDocs/azure-docs/issues/44928

[2019-12-19 19:43] Alberto-Vega-MSFT commented on #44928
Hi @cenkersoy are you also seeing same as this customer? https://github.com/MicrosoftDocs/azure-docs/issues/44996

[2019-12-19 19:43] femsulu commented on #45001
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-19 19:50] femsulu commented on #40222
adding @ganganarayanan to help.

[2019-12-19 19:51] allegradomel commented on #20572
Thank you for your patience in resolving this issue. The doc has been updated to reflect that the address range for a VNet can be reduced as long as it still contains the ranges for any associated subnets.

#please-close

[2019-12-19 19:51] #20572 closed

[2019-12-19 19:56] Adam-Smith-MSFT commented on #44995
@dmarlow Hi Dariel, I'd recommend filing a support ticket with specific request: https://azure.microsoft.com/en-us/support/create-ticket/
You'd receive an accurate response whether it is possible or not.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-19 19:56] #44995 closed

[2019-12-19 19:59] Adam-Smith-MSFT commented on #44973
@Reisclef Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-19 20:03] Karishma-Tiwari-MSFT commented on #44748
Thanks @ChristianMontoya :)
@BryanAdvisicon Glad to know it helped you.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-19 20:03] #44748 closed

[2019-12-19 20:07] santhoshbomma9 opened #45004 "Can you test a hidden sku in preivew mode?"
When preview stage would we access to hidden sku?
"Hide this SKU* - Indicates whether the SKU should be visible in the marketplace to customers. You may want to hide the SKU if you only want it available only via solution templates and not for purchase individually. It could also be useful for initial testing or for temporary or seasonal offers."
This doc says we do have access for initial testing

[2019-12-19 20:09] Karishma-Tiwari-MSFT commented on #44629
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-19 20:09] #44629 closed

[2019-12-19 20:12] keithdv commented on #44932
1. Yes, I believe that is the issue.
2. https://login.microsoft.com/_TenantID_/OAuth2/v2.0/token
   I'm trying to use the SAML Assertion to get a OAuth2.0 Bearer token to call any Microsoft Graph API on-behalf-of the user represented by SAML Assertion.

[2019-12-19 20:15] SamaraSoucy-MSFT commented on #44968
I just happened to be setting this up for a project. The method mentioned in this thread ended up working for me: https://github.com/Azure/AppConfiguration/issues/206
[code]

One thing to note is that I had to explicitly add my user to the "App Configuration Data Reader Role" even though I have permissions to view the values in the portal.

[2019-12-19 20:32] mike-urnun-msft commented on #44980
@borys86 Thank you for your feedback! We will review and update as appropriate.

[2019-12-19 20:35] MarileeTurscak-MSFT commented on #44974
@g0pinath
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 20:39] masnider commented on #39485
Yeah we should merge in language like the following. "Any service being deployed via ARM json definition must be removed from the DefaultServices section of the corresponding ApplicationManifest.xml file."

[2019-12-19 20:59] #44448 closed

[2019-12-19 21:01] zr-msft commented on #44448
Thank you for the feedback @yuriwoof
I have updated the article to include information to check the expiration date of your certificates. It should be live soon.

[2019-12-19 21:06] jeevansd commented on #32884
@jshomphe and @mandiaya Yes, we are able to reproduce this issue. Our observation is when you install the JIRA server and then put an add-on of JIRA service desk then this issue can be reproduced. If you just install JIRA Service Desk then you will not observe this issue on the plugin.

@mandiaya Can you please email me your test environment details (SaaSApplicationIntegrations@service.microsoft.c

[2019-12-19 21:25] HeidiSteen commented on #42572
@wpbrown, the service limits page is now updated:  https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#document-limits

The pricing page bug is being worked on, but it can take awhile so I cannot give you an ETA. It's outside of my purview.

Since I've addressed everything I can, I'm going to mark this as closed, but if you have further feedback, feel free to reopen.

Thank

[2019-12-19 21:25] #42572 closed

[2019-12-19 21:30] normesta commented on #43191
Thanks @halfkilo. I just confirmed with our engineers that diagnostic logging should not be enabled by default. If it was enabled automatically on your account, this could be a bug. I'd love to collect more information from you about how this has happened. As far as the label in the portal which states "Diagnostics are enabled by default", I believe you are referring to a tooltip that appears when

[2019-12-19 21:33] markjbrown commented on #44961
This is correct. id need only be unique within a partition key value.

#please-close

[2019-12-19 21:33] #44961 closed

[2019-12-19 21:35] normesta commented on #44162
Thanks @alexmbaker. If you enclose commands in double quotes "", that should resolve the issue.

In other AzCopy content, we've added this note to that effect "The examples in this section enclose path arguments with single quotes (''). Use single quotes in all command shells except for the Windows Command Shell (cmd.exe). If you're using a Windows Command Shell (cmd.exe), enclose path arguments w

[2019-12-19 21:52] rboucher commented on #44931
Should all be there now.  I didn't check each one.  If there is one that's not, please reply here and we'll track down why.  This is everything from the REST API that is meant for the public. Some items come from the REST API, but are not meant for public consumption  - meaning, they are not supported or in some sort of in between stage during onboarding process. However, if something is in the po

[2019-12-19 21:53] diberry commented on #44600
@hugobarona - all lists of services on docs.microsoft.com are being reviewed by the content team. The list on azure.microsoft.com should be directed elsewhere. I'm make sure to handle that offline.

#please-close

[2019-12-19 21:53] #44600 closed

[2019-12-19 21:54] rboucher commented on #44711
@kazshi Looks like we have them covered now.

[2019-12-19 21:54] rboucher commented on #40350
If this is still a problem, please reopen this Github issue.  #please-close

[2019-12-19 21:54] #40350 closed

[2019-12-19 21:55] MartinJaffer-MSFT commented on #37499
@crisher0219 Thank you for bringing this to our attention.  I will escalate internally.

[2019-12-19 21:58] Mike-Ubezzi-MSFT commented on #44836
@ausfestivus We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-19 21:58] #44836 closed

[2019-12-19 21:59] rboucher commented on #38705
published.  @sochan1 Try this again.  Information should be in this article now. The list of platform metrics supported in Azure and the list of platform metrics that you can create alerts on is different.  See https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-near-real-time in the future.  Expressroute circuits is supported for alerts at this time so what you tried above

[2019-12-19 21:59] MarileeTurscak-MSFT commented on #44770
That is specifying that when FIM is enabled this needs to be done. I agree that this can be added here so made a pull request to add a note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/99479

[2019-12-19 21:59] #44770 closed

[2019-12-19 22:03] rboucher commented on #44711
#please-close

[2019-12-19 22:03] #44711 closed

[2019-12-19 22:06] rboucher commented on #38705
#please-close

[2019-12-19 22:06] #38705 closed

[2019-12-19 22:07] #44994 closed

[2019-12-19 22:14] kakrish-ewbank opened #45005 "Should the document db client in python be singleton?"
[Enter feedback here]
The existing Python samples appear to implement IDisposable pattern on cosmos db client. However this goes against recommendations from MSFT Docs elsewhere:
"Use a singleton DocumentDB client for the lifetime of your application.
Note that each DocumentClient instance is thread-safe and performs efficient connection management
and address caching when operating in Direct Mode

[2019-12-19 22:14] chetansriv commented on #15269
@SoccerCore11 Article updated by adding a prerequisite that automatic user provisioning is presently only supported with NetSuite OneWorld.

#please-close

[2019-12-19 22:14] #15269 closed

[2019-12-19 22:17] chetansriv commented on #25569
@mgeoffriau Article is updated, please review the changes

#please-close

[2019-12-19 22:17] #25569 closed

[2019-12-19 22:19] mike-urnun-msft commented on #44571
@Dargos69 I've heard back from the APIM team regarding this issue, and we've created an internal work item to track and resolve this matter. Thank you for reporting this issue over to us, and if possible, please update your templates on your end while we work to get the fix out.

Since this channel is for driving improvements towards MS Docs, we will now proceed to close this thread for now. If th

[2019-12-19 22:19] #44571 closed

[2019-12-19 22:20] skalingclouds opened #45006 "Disk Max Size Is Incorrect"
Azure Storage max disk size is 32 TiB now, not 4 TiB. Please update and include what is supported by ASR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39afb641-fa83-3f39-d35b-c12382d03a42
* Version Independent ID: 73280edf-c418-52d0-bb68-b647f2bdfb1e
* Content: [Analyze the Deployment Planner report for VMware disaste

[2019-12-19 22:21] daniellittledev commented on #37390
@StefanSchoof No, last time I checked I did not find a way to change the status code. A few people seem to be living with the `400` code. I still think the documentation needs to mention they it does not support this (@SumanthMarigowda-MSFT).

I ended up using netlify which does support the capability.

[2019-12-19 22:24] Karishma-Tiwari-MSFT commented on #44966
@MashaMSFT Is this something you can help confirm? Please let me know. Thanks :)

[2019-12-19 22:27] rboucher commented on #34080
#assign:rboucher

[2019-12-19 22:27] Mike-Ubezzi-MSFT commented on #44738
@crow-ua Thank you for this information. I have passed this along to the product group as part of my escalation. With the support request in place, I am going to move to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-19 22:27] #44738 closed

[2019-12-19 22:28] rboucher commented on #35322
#assign:bwren

[2019-12-19 22:35] TravisCragg-MSFT commented on #44981
@booyaa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-19 22:38] Grace-MacJones-MSFT commented on #44856
Hello @swagulkarni , All indexers by default work only off incremental data from data sources. This documentation page  is for a new feature that acts at the skillset lever and allows you to edit your skillset and only executes changed or added skills.

Please check [this documentation](https://docs.microsoft.com/en-us/azure/search/search-howto-index-cosmosdb#indexing-changed-documents) for ensuri

[2019-12-19 22:38] #44856 closed

[2019-12-19 22:43] normesta commented on #41995
Thanks @fhtino. @bensack is probably best suited to respond this question. @bensack can you pls respond? Thx!

[2019-12-19 22:45] rboucher commented on #44927
This would be a question for the storage team.  We don't directly control what's in those drop downs.

[2019-12-19 22:46] chetansriv commented on #33467
@chadmcox This step is needed to support SP initiated flow. If customer needs only IDP initiated then that's an optional step. Hope this clarifies.

#please-close

[2019-12-19 22:46] chetansriv commented on #33467
#please-close

[2019-12-19 22:48] rboucher commented on #44927
assign:rboucher

[2019-12-19 22:49] #33467 closed

[2019-12-19 22:50] rboucher commented on #44927
#assign:rboucher

[2019-12-19 22:51] PRMerger18 commented on #41995
bensack is already assigned.

[2019-12-19 22:51] #44931 closed

[2019-12-19 22:52] allegradomel commented on #31911
This issue has been resolved and should be reflected in current docs.

#please-close

[2019-12-19 22:52] #31911 closed

[2019-12-19 22:54] Karishma-Tiwari-MSFT commented on #45002
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-19 22:56] chetansriv commented on #41480
@NBnfork Article updated with claims section, please review

#please-close

[2019-12-19 22:56] #41480 closed

[2019-12-19 22:59] chetansriv commented on #40958
@yobyot Link is updated and added section for role provisioning, please review

#please-close

[2019-12-19 22:59] #40958 closed

[2019-12-19 23:02] marckassay opened #45008 "'New service principal' section fails"
The instructions in the [New service principal](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#new-service-principal) section fails.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409092e073e5
* Version Independent ID: 7484bf47-59da-5eaf-17c3-c

[2019-12-19 23:10] allegradomel commented on #40186
This issue has been resolved. #please-close

[2019-12-19 23:10] #40186 closed

[2019-12-19 23:17] robertlagrant opened #45009 "Python files should be snake_case.py"
| - SharedCode
 | | - myFirstHelperFunction.py
 | | - mySecondHelperFunction.py

Should be

| - shared_code
 | | - my_first_helper_function.py
 | | - my_second_helper_function.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd9288

[2019-12-19 23:27] rthorn17 commented on #36393
updated and going in next doc release

[2019-12-19 23:31] rthorn17 commented on #33696
There is no visio for this but attached is the png of Management Groups icon that  you can use.  Thanks

![MG](https://user-images.githubusercontent.com/19830578/71217947-7bfdc200-2274-11ea-94f9-fd8db62f3694.png)

[2019-12-19 23:32] dcbrown16 opened #45011 "Define/link to the standard metrics from this page"
Are the "standard" or pre-aggregated metrics referring to these?
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftinsightscomponents

The namespace of .Insights/components is hardly intuitive, so if that's correct please spell it out in this document and link to that list. It's great that we have a page below this one (in the ToC) defining log-based metrics,

[2019-12-19 23:33] rthorn17 commented on #44805
This should only happen when there is a custom role definition on a parent MG and the role assignment is on the child MG or Sub.  Then there will be an error when moving the Sub.  I have docs releasing this week on the issue.

[2019-12-19 23:37] markjbrown commented on #44900
Thanks @JRhodes95 for the bringing this to our attention. There is a bug in this sample which we now have a PR submitted to fix. The syntax should be "container.scripts.storedPorcedures".

For reference here is a complete sample for stored procs with our JS SDK. https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/samples/ServerSideScripts/index.ts

Thanks again Jack for catch

[2019-12-19 23:37] #44900 closed

[2019-12-19 23:37] MartinJaffer-MSFT commented on #44979
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2019-12-19 23:38] dcbrown16 opened #45012 "Pre-aggregated metrics in App Insights"
Are the pre-aggregated metrics offered by App Insights available for API Management APIs?
See description here
https://docs.microsoft.com/en-us/azure/azure-monitor/app/pre-aggregated-metrics-log-metrics

I believe it's referring to these metrics
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftinsightscomponents

My best guess with available info is that it

[2019-12-19 23:47] allegradomel commented on #37236
The VM steps have been updated to reflect the current Portal UI and the NSG configuration has been changed to **None**.

#please-close

[2019-12-19 23:47] #37236 closed

[2019-12-19 23:51] allegradomel commented on #42387
This issue has been resolved and should be reflected in current documentation.

#please-close

[2019-12-19 23:51] #42387 closed

[2019-12-19 23:54] MartinJaffer-MSFT commented on #44979
Do you mean [this image](https://docs.microsoft.com/en-us/azure/data-factory/media/create-self-hosted-integration-runtime/high-level-overview.png) ?![this image](https://docs.microsoft.com/en-us/azure/data-factory/media/create-self-hosted-integration-runtime/high-level-overview.png)

Initially, it would seem the 'Read-write requests should be going both direction.  While the direction of the copy

[2019-12-19 23:56] MartinJaffer-MSFT commented on #44990
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2019-12-19 23:58] MarileeTurscak-MSFT commented on #44967
@vishag
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 23:59] MartinJaffer-MSFT commented on #44990
@YutongTie-MSFT can you assist here, specifically with the last paragraph

[2019-12-20 00:08] jeevansd commented on #22223
For this issue please raise the support ticket with Microsoft and they can able to help you. I am closing this thread now.

[2019-12-20 00:08] jeevansd commented on #22223
#please-close

[2019-12-20 00:08] #22223 closed

[2019-12-20 00:10] jeevansd commented on #28830
@joeakim Can you please provide the NetWeaver version you are using?

[2019-12-20 00:12] Alberto-Vega-MSFT commented on #45003
Hi @fanshaoshan IoT Hub latest spec.

• Twin depth increase to 10 (previously 5)
• Twin property key size increase to 1KB (previously 64B)
• Twin property value size increase to 4KB (previously 256B)
• Twin desired and reported properties section size increase to 32KB (previously 8KB)

@JimacoMS3 This doc needs to be updated please see: https://github.com/MicrosoftDocs/azure-docs/issues/41919

[2019-12-20 00:17] skalingclouds opened #45013 "Disk Info Inconstant"
Per here (https://azure.microsoft.com/en-ca/updates/site-recovery-large-disks-8tb/) 8TB is now supported, in the "Resolve Common Issues" section, it states disks need to be smaller than 4 TB?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 101f1927-9428-20c5-06d0-ccc48bad912c
* Version Independent ID: 6c23efba-9fab-816

[2019-12-20 00:17] JimacoMS3 commented on #42894
@AshokPeddakotla-MSFT  I'd like to leave this open until we get the documentation updated for V2.

[2019-12-20 00:18] jeevansd commented on #30331
#please-close

[2019-12-20 00:18] #30331 closed

[2019-12-20 00:19] jeevansd commented on #30331
@cmmdesai Can you please update the doc with this answer?

[2019-12-20 00:21] jeevansd commented on #31993
@ArvindHarinder1 Can you please review this requirement and update the NetSuite Provisioning connector for this change?

[2019-12-20 00:22] kazshi commented on #44711
@rboucher Would you please add more descriptive information to the Description? They are the same as the Display Name and I think it doesn't work as Description (and that's why I got a request from my customer).  Thanks.

[2019-12-20 00:25] jeevansd commented on #32217
@chetansriv and @v-nagta @v-viinde Please update the article to show the claims mapping and also provide the text below to map the user.mail to UPN if the users dont have email address.

[2019-12-20 00:26] MarileeTurscak-MSFT commented on #44934
Thanks. I made a pull request to add a note. In the future feel free to make your own pull requests for these types of changes. https://github.com/MicrosoftDocs/azure-docs-pr/pull/99497

[2019-12-20 00:26] #44934 closed

[2019-12-20 00:27] jeevansd commented on #32425
@marcnimbax We have fixed this issue in the plugin. Please download the plugin and try it again.

[2019-12-20 00:27] jeevansd commented on #32425
#please-close

[2019-12-20 00:27] #32425 closed

[2019-12-20 00:29] allegradomel commented on #34515
@ivasilyev-servicetitan-com, @SubhashVasarapu-MSFT, I was _not able_ to reproduce the issue with different deployment models/same region/different subscription/same tenant. Are both your subscriptions associated to the same Azure Active Directory tenant?

[2019-12-20 00:31] jeevansd commented on #34374
@jnprakash Also make sure that you open this app in Enterprise Apps navigation. If you open this from the App Registration you will not see the single sign-on page.

[2019-12-20 00:31] jeevansd commented on #34374
#please-close

[2019-12-20 00:31] #34374 closed

[2019-12-20 00:32] allegradomel commented on #35576
This issue has been resolved and should be reflected in current documentation.

#sign-off

[2019-12-20 00:35] jeevansd commented on #36025
@bartvermeersch Can you please send your config details to our alias and then we can help resolve the issue SaaSApplicationIntegrations@service.microsoft.com

[2019-12-20 00:35] jeevansd commented on #36025
#please-close

[2019-12-20 00:35] #36025 closed

[2019-12-20 00:37] jeevansd commented on #36325
@sav169 Have you tried the approach mentioned in the blog above? That should resolve the issue for you.

[2019-12-20 00:37] markjbrown commented on #44863
#please-close

[2019-12-20 00:37] #44863 closed

[2019-12-20 00:38] chennuchaitanya opened #45014 "Questions on Scenario 3"
Could you explain how to simulate an outage on primary server (for Scenario#3), so that:
1. It can trigger logic app and delete failover group and create another failover group between the remaining two regions with the same name.
2. What kind of a trigger would bring back the failover connection to primary, when primary is online again?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-12-20 00:38] jeevansd commented on #37111
@chetansriv @v-nagta @v-viinde Can you please update the doc with Arvind's comment and screenshot?

[2019-12-20 00:39] dcbrown16 commented on #35576
Thanks @allegradomel, closing.

[2019-12-20 00:39] #35576 closed

[2019-12-20 00:41] jeevansd commented on #37320
@bensonrlee When you add this application from the gallery you will see that the Identifier and Reply URL will have something like this http://YourSAPNetWeaverServer/sap/saml2/sp/acs/100 you need to update them with your server URL and then the integration will work correctly. If you dont update them then you will see this issue.

[2019-12-20 00:42] jeevansd commented on #37320
#please-close

[2019-12-20 00:42] #37320 closed

[2019-12-20 00:43] jeevansd commented on #37828
@jackchenquest and @shashishailaj  If you are using JIRA Data center edition then you will get the SAML support by default in the product. But if you are using any other version of JIRA server then the SAML capability is not there and in that case you need to use this plugin for doing SSO with Azure AD.

[2019-12-20 00:43] jeevansd commented on #37828
#please-close

[2019-12-20 00:43] #37828 closed

[2019-12-20 00:45] jeevansd commented on #37841
@chetansriv Please review this feedback.

[2019-12-20 00:46] jeevansd commented on #38042
@mandiaya @chad We have added support for JIRA version 8.2.4 and also updated the doc with the version numbers. Also the JIRA version 7.13.8 is also tested with the same plugin.

[2019-12-20 00:46] jeevansd commented on #38042
#please-close

[2019-12-20 00:46] #38042 closed

[2019-12-20 00:49] jeevansd commented on #37985
@chetansriv Please review this

[2019-12-20 00:51] jeevansd commented on #38043
@mandiaya @blachole @scootafire I have updated the plugin on the Microsoft Download Center also now. The new plugin does support version 7.0.1 and all versions of 6.X so please use that. I am closing this thread now. Thanks for your help to validate the new plugin.

[2019-12-20 00:51] jeevansd commented on #38043
#please-close

[2019-12-20 00:51] #38043 closed

[2019-12-20 00:52] kdrapeza commented on #25569
@chetansriv The article is still not completely accurate and requires some changes which I've noted:

**Configure Azure AD SSO section changes**

Step 5 and 6 - The screenshots are not accurate, the documentation in the BeyondTrust portal advises to create the following claim names, which are the default values when creating the BeyondTrust SAML2 Security Provder:

Username -> user.userprincipalna

[2019-12-20 00:52] jeevansd commented on #38747
@star-crossed We are working on the upload metadata file functionality in the plugin and in that we will allow this type of endpoint in the validation. The new plugin should be available early next year.

[2019-12-20 00:52] iRaindrop commented on #41100
Hi - Sorry for the delayed response.

I couldn’t make sense of the include files to do a PR, so instead I’ll just send you the code I use.

It’s very important for CosmosDB users to know they don’t have to check to see if an item exists. Indeed, no validation or schema checking is required. That’s the beauty of CosmosDB in that you can just add data without validation or worrying about duplicates.

[2019-12-20 00:54] jeevansd commented on #38848
@Robab02 We have reached out to Oracle team about this and reported this issue. They are going to fix the issue on the Oracle ERP side. Till that time we advise you to open the support ticket with Oracle and they can resolve this issue for you.

[2019-12-20 00:55] jeevansd commented on #38848
I am closing this thread as the work item is on the Oracle side to fix this.
#please-close

[2019-12-20 00:55] #38848 closed

[2019-12-20 00:56] jeevansd commented on #39143
@vnextcoder We dont recommend to use Manifest approach here as it can ruin your app if you are wrongly entering the values. So we still suggest you to use the APIs instead which will validate the change before applying.

[2019-12-20 00:56] jeevansd commented on #39143
#please-close

[2019-12-20 00:56] #39143 closed

[2019-12-20 00:57] jeevansd commented on #39262
@chetansriv and @v-nagta @v-viinde Can you please fix this issue?

[2019-12-20 01:00] jeevansd commented on #39453
@ahpegasus Today we do not have complete parity on the Enterprise App APIs but the work is in progress. Some of this functionality is available using APIs and you can see that from here https://docs.microsoft.com/en-us/graph/api/resources/applicationtemplate?view=graph-rest-beta

We will add more functionlity int he coming time and then we will update this article for automation. For AWS CLI pleas

[2019-12-20 01:00] jeevansd commented on #39453
#please-close

[2019-12-20 01:00] #39453 closed

[2019-12-20 01:02] levi106 commented on #43818
Thanks @nberdy,
I could understand the steps when I only purchased device certificates.

Let me clarify the recommended scenario. What types of certificates are expected to be purchased in the following scenario?

1. Purchase X.509 certificates from a root certificate authority (CA). This method is recommended for production environments.

[2019-12-20 01:08] dcbrown16 commented on #40491
FYI, I made the PR linked above to address what I believe was @athempel 's intention here.

[2019-12-20 01:12] tdihp commented on #37462
Many prerequesties are in CNI networking config article https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni:

However the kubenet article is under-documented on those. Users of kubenet will not read the Azure-CNI article.

[2019-12-20 01:21] m2rinch commented on #16158
Hi, I tried out the tutorial and it worked fine for ASP.NET, but I wanted to run it on a Node backend. I tried using the same app service to deploy a node backend but its failing, do i need to create a new app service if i choose to change my backend?

[2019-12-20 01:24] kobulloc-MSFT commented on #45011
@dcbrown16 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-20 01:26] adamharm opened #45016 "Support for Confluence 7.2 Microsoft Azure Active Directory single sign-on for Confluence"
Please provide a version of the Confluence SAML SSO that works with confluence 7.2 which was released recently.  It is a security update with a fix for [CVE-2019-15006](https://nvd.nist.gov/vuln/detail/CVE-2019-15006) .  The reason I opened this issue was for the new confluence version 7.2. I am asking for the plugin to be updated to work with 7.2.

---
#### Document Details

⚠ *Do not edit this s

[2019-12-20 01:34] rigerosa opened #45017 "Which load balancer SKU to enable public IP per node?"
The "Limitations" section at the top of this page states the following precondition to use node pools:
"The AKS cluster must use the Standard SKU load balancer to use multiple node pools, the feature is not supported with Basic SKU load balancers."

Later, in the "Assign a public IP per node in a node pool" section a warning states an opposite requirement:
"During the preview of assigning a public

[2019-12-20 01:42] mrbullwinkle commented on #44978
Performance Testing is a separate feature from Multi-step web tests. Performance Tests will not be available as of March 31, 2020.

The App Insights PG has yet to announce a date for removal of support for multi-step web tests, but has comitted to providing at least [one year's worth](https://github.com/MicrosoftDocs/vsts-docs/issues/3793#issuecomment-494181005) of notice prior to removing support

[2019-12-20 01:45] ralish commented on #43521
@MicrosoftGuyJFlo Ping on above. Can we please at least re-open this issue for tracking?

[2019-12-20 01:52] allegradomel commented on #39480
@chriskuech, thanks for the feedback - adding DDos programmatic tutorials to our backlog. For now I have added PowerShell and Azure CLI commands with links to the doc.

#please-close

[2019-12-20 01:52] #39480 closed

[2019-12-20 02:14] SamaraSoucy-MSFT commented on #44547
@huqianghui It's l[isted in the API spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json) as "The name of the Deployment resource." and is indeed a required parameter. I will assign this to the doc author to add to the cli docs.

[2019-12-20 02:25] KalyanChanumolu-MSFT commented on #44917
@mslot We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-20 02:25] #44917 closed

[2019-12-20 02:36] mybm3w opened #45018 "Conflicting Information - Need clarification about deployment"
Clarification needed about the deployment of Staged Rollout.
Under the PTA section:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start#step-2-enable-the-feature
NOTE: the first agent is always installed on the Azure AD Connect server itself as part of the configuration changes made in the User Sign In section of the Azure AD Connect tool.  You can enable

[2019-12-20 02:38] vlad-kozlov opened #45019 "install python package is missing one"
pip install azure-kusto-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b01acf5-9ba6-106e-a1a3-572f6efaa908
* Version Independent ID: 19c7b6a1-81b6-7f04-500d-6ec83a84085a
* Content: [End-to-end blob ingestion into Azure Data Explorer through Python](https://docs.microsoft.com/en-us/azure/data-explorer/end-to-end-p

[2019-12-20 02:44] anhashia opened #45020 "IoT Hub : Restart needed for Azure Function and ASA Job"
**IoT Hub Manual Failover** scenario
==========================

For following scenarios (services) **restart** needed to be done on these services for data flow to be back once switch to new endpoint on manual failover completed.

1.) Azure Function trigged by message (events) in IoT Hub
2.) Azure Stream Analytics (**ASA**) job input as data from IoT Hub

[2019-12-20 02:46] MasayukiOzawa commented on #44901
thank you for your answer.
The question has been resolved.
Please this issue close.

[2019-12-20 02:50] KalyanChanumolu-MSFT commented on #45014
@chennuchaitanya Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-20 02:52] DixitArora-MSFT commented on #44759
@anis020  So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-20 02:52] #44759 closed

[2019-12-20 02:52] DixitArora-MSFT commented on #44727
@oleksandr-bilyk So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-20 02:52] #44727 closed

[2019-12-20 02:55] cynthn commented on #44790
@danielsollondon Daniel, do you know who could help with a Packer issue?

[2019-12-20 02:55] DixitArora-MSFT commented on #44779
@curelom @MarcHochleutner-Koellisch This channel is for driving improvements towards MS Docs,If you have question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2019-12-20 02:59] DixitArora-MSFT commented on #45012
Hi @dcbrown16 Thanks for your feedback. We will review and update as appropriate.

[2019-12-20 03:01] DixitArora-MSFT commented on #45009
Hi @robertlagrant Thanks for your feedback. We will review and update as appropriate.

[2019-12-20 03:05] ammarZaidi commented on #42700
@tkumark
If you are looking for a powershell command to update reverse proxy certificate, we dont have one.
Plus, even though there are commands to update  if you are updating a client/server certificate, you should try to do it through ARM deployment.

[2019-12-20 03:07] Karishma-Tiwari-MSFT commented on #24942
@sumanentc @stel-lest How was your AKS cluster created, using VMSS? Let me know

[2019-12-20 03:10] DashleenBhandari-MSFT commented on #44993
@urklnme218 , Could you please provide the document you are referring to?

[2019-12-20 03:11] DixitArora-MSFT commented on #44802
@ilayn Understanding is correct. You can follow [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=nodejs#enable-ssh-connections) for more detailed information. So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2019-12-20 03:11] Karishma-Tiwari-MSFT commented on #44866
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-20 03:12] DashleenBhandari-MSFT commented on #45004
@santhoshbomma9 ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 03:13] DashleenBhandari-MSFT commented on #45006
@skalingclouds ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 03:15] DashleenBhandari-MSFT commented on #45008
@marckassay ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 03:17] DashleenBhandari-MSFT commented on #45013
@skalingclouds ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 03:18] DashleenBhandari-MSFT commented on #45016
@adamharm , Could you please provide the document you are referring to?

[2019-12-20 03:22] DashleenBhandari-MSFT commented on #45018
@mybm3w ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 03:23] DashleenBhandari-MSFT commented on #45019
@vlad-kozlov ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 03:25] DashleenBhandari-MSFT commented on #45020
@anhashia , Could you please provide the document you are referring to?

[2019-12-20 03:30] anhashia commented on #45020
This is in context of following IoT Hub documentation.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#manual-failover
It can be an **addition** for sceanrio that involve Azure Function and ASA job

[2019-12-20 03:36] anhashia opened #45022 "IoT Hub : Restart needed for Azure Function and ASA Job"
**IoT Hub Manual Failover** scenario
==========================

For following scenarios (services) **restart** needed to be done on these services for data flow to be back once switch to new endpoint on manual failover completed.

1.) Azure Function trigged by message (events) in IoT Hub
2.) Azure Stream Analytics (**ASA**) job input as data from IoT Hub

---
#### Document Details

⚠ *Do not edit

[2019-12-20 03:39] anhashia commented on #45020
Opened under right page.

[2019-12-20 03:39] #45020 closed

[2019-12-20 03:43] MonikaReddy-MSFT commented on #44978
@mrbullwinkle - Thank you for clarifying this.
@SychevIgor , I hope it clarifies your question from @mrbullwinkle's explanation.
Since there are no doc updates needed at this moment, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-20 03:43] #44978 closed

[2019-12-20 03:44] joeywas opened #45023 "Max instance IOPS item in Note error?"
Shouldn't "7 x 1GB files with max 5K IOPS" be "7 x 1TB files with max 5K IOPS"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dff594a-77ba-dca2-e3ae-f3a7bf0c3e1d
* Version Independent ID: b496ce1e-c8e6-8fe4-d41d-6f57606f5034
* Content: [Resource limits - managed instance - Azure SQL Database](https://docs.microsoft.c

[2019-12-20 03:58] amanmcse commented on #44708
@dennisxu2019 I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further question.

[2019-12-20 03:58] #44708 closed

[2019-12-20 04:01] KalyanChanumolu-MSFT commented on #45005
Thank you for the reaching out.
We are actively investigating and will get back to you soon.

[2019-12-20 04:11] DashleenBhandari-MSFT commented on #45022
@anhashia ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 04:16] xtellurian opened #45024 "Warm Store Retention Clarification"
When creating a new TSI, we can select a Warm Store option and choose a retention time from 7 - 31 days.

This documentation does not clarify how the retention time is calculated. Is the retention period calculated with respect to the *ingestion time* or *event time-stamp*?

Some specific questions for clarification:

* if an event is ingested with a timestamp from last year, will that event be in

[2019-12-20 04:27] xtellurian commented on #45024
cc @darsney

[2019-12-20 04:30] mrbullwinkle commented on #44627
If for security reasons you don't want to allow any inbound traffic other than from resources you fully control you can use the TrackAvailability() method call to create your own custom availability tests.

We have a doc that describes the basics of using [TrackAvailability within an Azure Function](https://docs.microsoft.com/azure/azure-monitor/app/availability-azure-functions). The TrackAvailabi

[2019-12-20 04:31] iAmSaugata opened #45025 "I am getting InvalidIdentityToken n the AWS Console Logon Page"
Hi,
I am getting following error while testing the application.
RoleSessionName in AuthnResponse must match [a-zA-Z_0-9+=,.@-]{2,64} (Service: AWSSecurityTokenService; Status Code: 400; Error Code: InvalidIdentityToken; Request ID: e4c98f2d-22de-11ea-93e4-5bd61f438bf8)

Azure console do not report any issue.

Any idea why and how to fix?

[2019-12-20 04:32] dcbrown16 opened #45026 "Make it discoverable"
Please add this page to the ToC, perhaps under How-to &gt; Manage app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2233ca-e4c5-a53b-f493-310ac953bdea
* Version Independent ID: d869ec94-1c1b-9440-e2d6-5b6a4f1d068e
* Content: [Restore deleted apps - Azure App Service](https://docs.microsoft.com/en-us/azure/app-servi

[2019-12-20 04:34] dcbrown16 commented on #45026
Actually I have another ask about the content - please document how long after deletion it is possible to restore the app.

[2019-12-20 04:37] KrishnaG-MSFT commented on #44963
@486 Verified and updated the document as required. Thanks.

[2019-12-20 04:37] #44963 closed

[2019-12-20 04:39] AjayKumar-MSFT commented on #44381
Thanks for the update, Sam.
Cc: @RyanHill-MSFT

[2019-12-20 04:46] AshokPeddakotla-MSFT commented on #45024
@xtellurian Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-20 04:48] dcbrown16 commented on #45026
Is it running off the snapshots, which are available for the last 30 days? (per below)
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-restore-snapshots

[2019-12-20 04:49] KrishnaG-MSFT commented on #45001
@lifeasandythompson Thanks for the feedback! A PR (Pull Request) is created as mentioned above and the doc will automatically get updated with the change in 24 hours.

[2019-12-20 04:51] koratshail opened #45027 "Cross Compilation failed using Docker script"
I have a WPJ531 board that runs OpenWrt Linux.
I want to connect this device to IoT central application.
I have successfully run a simulated device MXchip-01 in my PC using steps given in the following link.
[https://docs.microsoft.com/en-us/azure/iot-central/preview/tutorial-connect-pnp-device](url)

Now, I need to do the same thing for my above WPJ board.
For this, I have found the below link wh

[2019-12-20 04:51] RohitMungi-MSFT commented on #44733
@ajakupov We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-20 04:51] #44733 closed

[2019-12-20 05:01] StefanSchoof commented on #37390
Thanks, for the info.

I found the User Voice: https://feedback.azure.com/forums/217298-storage/suggestions/34802224-static-website-error-handling-change-404-to-200

[2019-12-20 05:12] DashleenBhandari-MSFT commented on #45017
@rigerosa ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-20 05:19] mslot commented on #44064
This is great! Then we can safely reference the loaded config and sure that the secrets is only loaded when the app cold starts :) Thanks!

Can we get this into the docs for others to use, Microsoft?

[2019-12-20 05:27] MikkelHegn commented on #44962
I assume you have processes running that keeps an open handle of the files, which is why they cannot be deleted: This gives guidance to identify the process locking the files: https://serverfault.com/questions/1966/how-do-you-find-what-process-is-holding-a-file-open-in-windows

A bet on how to resolve is to:
1: reboot the machine (to release file locks)
2: manually remove the `C:\SfDevCluster` fol

[2019-12-20 05:30] stgeorgi commented on #44686
Not yet this will start with the 20h1 release of Windows

[2019-12-20 05:32] jakaruna-MSFT commented on #44813
Reference for helm 2 install is here https://v2.helm.sh/docs/helm/#helm-install

[2019-12-20 05:50] Faricity opened #45028 "Load Balancer information Not up to date"
Unable to complete the instructions as part of a lab/exercise as i am unable to follow the instructions listed. "Create resources for the load balancer"
"Availability Set" can't be selected as an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af871177-05e5-4194-bbb1-69d765c475c2
* Version Independent ID: a4ed57

[2019-12-20 05:55] azsec commented on #16702
You can achieve ATP by deploying Azure Storage ARM template. Refer to this article for more information https://azsec.azurewebsites.net/2019/12/08/deploy-a-compliant-storage-account-service/

[2019-12-20 05:56] ManojReddy-MSFT commented on #45018
@mybm3w For a staged deployment, you should use a dedicated server (other than AD Connect) for installing the PTA agent.

This is primarily because you are not completely doing a cut-over from ADFS to PTA yet. So, We did not want the customers to change any configuration settings on the AD Connect server directly while testing through staged rollout.

If you are planning to do a cut over completel

[2019-12-20 06:13] SwathiDhanwada-MSFT commented on #44682
@Chai-NED Thanks for reaching out! If you are using either of these methods "AKS enabled with Kubernetes RBAC authorization" or "AKS enabled with Azure Active Directory (AD) SAML-based single-sign on" , you need RBAC role binding to use the Live Data feature. If you are using "AKS without Kubernetes RBAC authorization enabled" method , you do not require RBAC role binding to use  Live Data feature

[2019-12-20 06:13] #44682 closed

[2019-12-20 06:19] mcurko commented on #44979
Sorry, I haven't been precise enough, this is the image: https://docs.microsoft.com/en-us/azure/data-factory/media/concepts-integration-runtime/different-integration-runtimes.png where it seems that data movement for self-hosted IR is only possible from cloud to on-prem (note the icons on source and destination and the data transfer arrow).

[2019-12-20 06:31] jakaruna-MSFT commented on #44813
@mlearned Please decide on update from helm2 to helm 3 and update the doc as needed

[2019-12-20 06:40] SnehaAgrawal-MSFT commented on #44837
@HughDevlin Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-20 06:49] AshokPeddakotla-MSFT commented on #44894
@tanieee28 I followed the documentation and the config which you have provided and able to deploy module successfully without any issues.
Could you please provide more detailed steps to repro your issue? Where are you seeing this error message?
@arduppal Do you have any suggestions for this issue?

[2019-12-20 06:50] ilayn commented on #44802
You need to fix this page. It has wrong information. Did anyone even read what I wrote?

[2019-12-20 06:54] SnehaAgrawal-MSFT commented on #44873
@adrianmo Thanks for asking question! To monitor process, you may use Activity Log from Azure portal.
You may refer this blog might be helpful: https://devblogs.microsoft.com/devops/use-azure-portal-to-setup-continuous-delivery-for-web-app-on-linux/

Let me know how it goes.

[2019-12-20 06:56] ManojReddy-MSFT commented on #44932
@keithdv Thanks for the info.

For Q2, I meant the endpoint to which you sent the SAML request to obtain the SAML Assertion.
You must be sending the SAML assertion to the token endpoint to get the OAuth2.0 bearer token. I wanted to know how you are obtaining the SAML assertion and to which endpoint you were sending the SAML request.

[2019-12-20 06:59] msrini-MSFT commented on #45028
@Faricity , During the VM deployment, you will get an option to place the VM in an availability set. Only when you place the VM in an availability set, you will be able to choose Availability set option in the backend pool settings of Load Balancer.

Also, Adding a VM to availability set can only be done during the VM creation.

[2019-12-20 07:05] cbailiss opened #45029 "Inaccurate rehydration times"
This page states:
&gt;&gt; The rehydration request will be processed in the order it was received and may take up to 15 hours.
I have experience that rehydrating blobs can take much longer than this, e.g. recently I rehydrated three 15GB blobs and the reyhdration took well over 24 hours.
This page also states:
&gt;&gt; Rehydrating several small blobs concurrently may add additional time.
This impl

[2019-12-20 07:05] kanika1894 commented on #43536
Hey,
Is the issue is not resolved yet?
Though it is working for EAST US but its still failing for South Central US. Any plans to fix this? or we can assume that ServerFarms cannot be created anymore at South Central US via ARM Templates ?

[2019-12-20 07:14] BhargaviAnnadevara-MSFT commented on #44630
@mikaelsand Yup that's right, all activities performed through the Azure CI/CD pipeline are not associated with a specific user as such, but they don't have to be, either. When a new service connection is created, a new Azure service principal will be created behind the scenes and assigned with "Contributor" role, having access to all resources within the subscription.

For example, when such oper

[2019-12-20 07:26] SadiqhAhmed-MSFT commented on #45013
@Rajeswari-Mamilla For visibility.

[2019-12-20 07:27] SadiqhAhmed-MSFT commented on #45006
@mayurigupta13 For visibility.

[2019-12-20 07:50] borys86 commented on #30918
why the last comment from @rwatjen  was not added to the documentation?

[2019-12-20 07:50] DixitArora-MSFT commented on #44802
@ilayn Yes definitely. Let me assign this to content author for further review this and make an appropriate changes in the doc.

[2019-12-20 08:06] MikkelHegn commented on #44815
PR incoming...

[2019-12-20 08:17] abercea commented on #10588
With the new WAF_v2 SKU you no longer need to set the ILB ASE root certificate on http settings. This  is very useful as ILB ASE after May 2019 will rotate the cert and you need to update it after your service will fail (only way you find out when is changed)
https://docs.microsoft.com/bs-latn-ba/azure/application-gateway/end-to-end-ssl-portal

[2019-12-20 08:26] ivasilyev-servicetitan-com commented on #34515
Just checked this again - I'm not reproducing this as well now. "OK" button is enabled now.
My subscriptions are associated to different AADs.
For me - issue can be closed

[2019-12-20 08:32] AshokPeddakotla-MSFT commented on #5717
@elepherai The answer is "No". From the documentation pre-requisites :
"The Azure Machine Learning module doesn't support ARM processors."

[2019-12-20 08:32] treisska commented on #44987
Oh, you're right, I wasn't really awake yesterday I guess. I wasn't looking in a resource group. I'm closing the issue, thank you :)

[2019-12-20 08:32] #44987 closed

[2019-12-20 08:40] KrishnaG-MSFT commented on #44927
@normesta Can you please provide your insights on this ?

[2019-12-20 08:44] mikaelsand commented on #44630
Great explanation but how is that service principal connected to me as a partner? One use of this partner admin link is to track activities for incentives. In order for partners to get incentives the actvities must be connected to them. If I cannot connect the service principal to a partner, then it will not track my activities and not be counted into incentives.

So: I ask you again "how can I co

[2019-12-20 08:49] SnehaAgrawal-MSFT commented on #45026
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-20 08:50] bertrandpons opened #45032 "With Azure CLI or Azure PowerShell, allow access from all networks"
Hello,

With Azure CLI or Azure PowerShell, how do you write that you want to allow access from all networks?

Thank you

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 8d7a26cc-5853-7241-c918-4d758814baaf
* Version Independent ID: 96790e64-f053-5194-cccb-2a66019a8f3f
* Content: [Configure an IP firewal

[2019-12-20 08:55] RohitMungi-MSFT commented on #43536
@kanika1894 Could you try to use `Subscription().SubscriptionId `instead of `subscription().id`

[code]

**To:**
[code]

[2019-12-20 09:00] kanika1894 commented on #43536
Hey,

I didn’t get you. Just to clarify, I am using this as of now :

[cid:image001.png@01D5B742.04964860]

Regards,
Kanika Pasrija

From: RohitMungi-MSFT <notifications@github.com>
Sent: Friday, December 20, 2019 2:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kanika Pasrija <Kanika.Pasrija@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2019-12-20 09:06] RohitMungi-MSFT commented on #44933
@baatch Currently a labelled project cannot be deleted and this feature is in our team's backlog which will be implemented early next year.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-20 09:06] #44933 closed

[2019-12-20 09:10] gabrielnespoli opened #45033 "NSG part not well defined"
Guys, regarding the NSG rules part. What port to enable? What protocol? In Inbound traffic, should allow 'any' to my ip? in Outbound traffic should I enable my_ip -&gt; any ?
We should improve this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c062497-8633-fde8-56fb-27ed3a67ce3a
* Version Independent ID: b4106c

[2019-12-20 09:13] StefanSchoof opened #45034 "Optional Client Secret: For what is it needed?"
The documentation mentions that the Client Secret is optional. I find it strange that a Secret should optional. If it is not needed, then it should not be ask. To have a secret on a place where it is not needed is a place more where it can accessed and get lost.

So I assume it is needed for certain scenarios. This documentation should explain, when I should insert a value in this field and when n

[2019-12-20 09:18] gldraphael commented on #36319
Doesn't seem like the fix is live though.

![image](https://user-images.githubusercontent.com/10794213/71244018-9d73b200-2337-11ea-9708-39ef14c1aad9.png)

[2019-12-20 09:22] PramodValavala-MSFT commented on #44882
@alwils Thanks for catching that! We have worked up a PR to address this, which once merged will reflect in a couple of hours.

[2019-12-20 09:26] VikasPullagura-MSFT commented on #44893
@renanaraujo I tried reproducing the issue but could not see issue with disks creation as mentioned by you.
However, can you provide the Image details that you have used where you faced issue?

I am also checking on this with the doc author to add comments on this Feedback.

[2019-12-20 09:27] VikasPullagura-MSFT commented on #44893
@TomArcherMsft Can you please look into this and add your comments.

[2019-12-20 09:29] hvshvs opened #45035 "What is “Container” modes of resource files"
What is “Container” modes of resource files and how can I use it to upload lots of files to batch? I can't find other documents describe the “Container” modes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec24ff5-ec20-d254-fbca-8a6579f0cd18
* Version Independent ID: 653932b5-b637-21ec-bf4f-693df450a6bf
* Content: [C

[2019-12-20 09:30] KalyanChanumolu-MSFT commented on #44715
@rmaziarka We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-20 09:30] #44715 closed

[2019-12-20 09:31] adrianmo commented on #44873
@SnehaAgrawal-MSFT thanks for looking into it. The blog post is a bit outdated, but I'll explore the "Deployment Center" feature to manage the deployment lifecycle. I've also found this doc that might be helpful as well: https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment

I'll close the issue for now, because I won't have time to look into it for a while. Will reopen i

[2019-12-20 09:31] #44873 closed

[2019-12-20 09:31] VikasPullagura-MSFT commented on #44642
@ChristianMontoya Can you please confirm on this.
Thanks.

[2019-12-20 09:32] VikasPullagura-MSFT commented on #44852
@axayjo Can you please look into this and add your comments.
Thanks.

[2019-12-20 09:33] robertlagrant commented on #45009
Same goes for folder names, by the way. `SharedCode` looks very C#.

[2019-12-20 09:36] RohitMungi-MSFT commented on #44955
@mcurko Thanks for bringing this up. This documentation is discussing one of the options to move data to SQL Azure using ADF. Moving the data directly to Azure SQL is also an option as mentioned in the [datamigration ](https://datamigration.microsoft.com/scenario/sql-to-azuresqldb?step=1)document.

@marktab Could you please review adding more options to migrate data to this document to your backlo

[2019-12-20 09:40] wolfma61 commented on #36319
I understand, it is a little bit confusing the read, I'll fix it ...
DicatatedAutomation,.... (the default value)
False .... (the default value)

etc
but yes, I fix it ... doesn't make it easy to read.

[2019-12-20 09:44] jakaruna-MSFT commented on #44681
@jeanpoelie Whats the version of your kubectl?   Old kubectl versions had this error

[2019-12-20 09:47] fadyanwar commented on #44475
Hi @dominicbetts thanks for getting back to me on this, the current MXChip firmware for IoT central is not compatible with the new templates, I presume a difference in REST calls or json format but I didn't look further.

[2019-12-20 09:48] jakaruna-MSFT commented on #44572
@dhilgarth I am able to reproduce the issue.
If i use port 80, Everything works well.
If i use port 20001, Then app status is saying as running. But i am unable to access the app in browser.

`az mesh app show` is not showing any error as well.

@dkkapur  Please add your inputs

[2019-12-20 09:50] jakaruna-MSFT commented on #44484
@gerrynicol is there any update

[2019-12-20 09:51] jakaruna-MSFT commented on #44867
@AjKundnani is there any update

[2019-12-20 09:55] robertlagrant opened #45036 "The recommended folder structure is odd"
...or at least, its rationale unclear.

Does the shared code folder have to be called `SharedCode`?
Why doesn't the shared code folder have an `__init__.py`?
How are the other functions importing from the shared code folder if there's no top-level module defined (i.e. no `__init__.py` at the parent folder level)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-12-20 09:58] KalyanChanumolu-MSFT commented on #45023
@joeywas Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2019-12-20 10:05] VladPScreenMedia commented on #43536
Funnily enough, I am having this issue again today as well..

I am not being funny, but, it seems to be happening every friday ... and I am not a strong believer in coincidence. Maybe an underlying datetime issue ?

Another thing is, I've managed to find a region that worked on monday( went through about 6-7 regions), and finally deployed to UK South although I wanted it to be in West Europe.
So n

[2019-12-20 10:20] vedeevi opened #45038 "When will be MSAL PowerShell script will be released for 4.7 packages?"
Please let us know when will be MSAL PowerShell scripts will be released for 4.7 packages. Currently the packages which are there for [MSAL.PS of version 4.5.x ](https://www.powershellgallery.com/packages/MSAL.PS/4.5.1.1)are throwing errors with latest [Microsoft.Identity.Client.dll](https://www.nuget.org/packages/Microsoft.Identity.Client/). Following is the sample error which we are getting:

**

[2019-12-20 10:20] #44882 closed

[2019-12-20 10:23] hurtn opened #45039 "Page out of date since MPA introduced?"
This page seems factually incorrect since multi-protocol access has gone GA.

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-multi-protocol-access

Whilst some of the features such as soft delete are unsupported, the rest APIs are.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edb

[2019-12-20 10:46] bartvermeersch opened #45040 "Contradicting info on Alternate email"
It is not clear if alternate email is shown when a user registers.

The paragraph

"If the Alternate email field is populated and Email is enabled in the SSPR policy, the user won't see that email on the password reset registration page, but they see it during the password reset workflow."

contradicts with

"If you have provided a value for Mobile phone or Alternate email, users can immediately u

[2019-12-20 11:00] w0ut0 opened #45041 "Document what happens when attached Storage faults"
Hi,
sometimes I get the message "Azure storage volume VOLUMENAME for site SITENAME faulted.", which causes the web app to restart.
Is there a way to define what happens when the storage faults (because our app is only sometimes accessing it, we don't care that it is unavailable for some seconds)?
What can cause this faults?
thanks!

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-12-20 11:02] ChiragMishra-MSFT commented on #45033
@gabrielnespoli Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-20 11:11] nayakshweta opened #45042 "Update documentation to state that rehydration process cannot be cancelled once started."
Rehydration process takes times and incurs charges, so we have seen instances where admins want to know whether the process could be reverted back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID: 3da34196-ac73-5fd9-c473-51a07226f83a
* Content: [Hot, cool, an

[2019-12-20 11:52] benradstone opened #45043 "The '--generate-ssh-keys' option does not behave as documented when existing keys are present."
Within the Create an SSH key pair section, the following statement reads "The --generate-ssh-keys option will not overwrite existing key files, instead returning an error".

When using this option, and existing SSH keys are already present in the default location (~/.ssh/*), the existing keys were used for the Azure Linux VM. This is similar to when the '--ssh-key-value' option is used.

In my opi

[2019-12-20 11:54] RohitMungi-MSFT commented on #44857
@PatrickFarley Can we update the documentation to target newer versions of C# along with pre-reqs?

[2019-12-20 11:54] Doukers opened #45044 "Missing code"
Hi there, the code samples aren't complete on this page making it difficult to follow the quickstart. Please could the full code be uploaded?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ed5f85-d750-c7a9-c976-6bce2e439346
* Version Independent ID: d0176b47-447e-c04f-f4fe-8ca6e1b5eee8
* Content: [Quickstart:

[2019-12-20 11:56] HuuPhuocNguyen opened #45045 "VSDG"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-20 11:56] KalyanChanumolu-MSFT commented on #45032
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-12-20 12:13] webash commented on #42535
The advice that people should ‘Un-check "Verify the server's identity by validating the certificate"’ is extremely dangerous advice. That then means that users of that VPN would be vulnerable to malicious attacks on their connectivity, should their traffic or DNS queries be MITM’d or otherwise co-opted. TLS certificate verification should never be bypassed in this way!

The second option provided

[2019-12-20 12:16] IronmanM opened #45046 "Cost for Email Alerts (Action group)"
If we add 2 email id's in the action group, it will cost for it.
I mean it will cost per email ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445f65f4-cb9c-2060-e5d9-653a21c02d24
* Version Independent ID: 7c16b613-07fc-a189-8e0c-15bd40a4c389
* Content: [Respond to events with Azure Log Analytics Alerts](https://doc

[2019-12-20 12:36] SwathiDhanwada-MSFT commented on #44936
@yanivlavi  Can you please provide your inputs on the comment?

[2019-12-20 12:36] renanaraujo commented on #44893
@VikasPullagura-MSFT  @TomArcherMsft First of all, you need to create a VM with 1 osdisk and 2 data disks. After that, use sysprep and capture the image.

Having the image on hands, you can now create a vm using using the image and the code provided.
You will set azurerm_virtual_machine.test.count as 1, and azurerm_managed_disk.test as 2. The count used for storage_data_disk  is virtual_machine co

[2019-12-20 12:40] renanaraujo commented on #44893
Another simple example is

[2019-12-20 12:48] AshokPeddakotla-MSFT commented on #44703
@philmea It would be great of you can provide any insights and/or add a note to this doc as appropriate.

[2019-12-20 13:03] akash-roy-123 opened #45047 "System.Net.WebException: 'The remote server returned an error: (401) Unauthorized."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-20 13:06] Expecho opened #45048 "Avoid using the Application Insights NuGet package directly"
There can be some issues when the AI nuget packages is used, especially when the latest version is installed. See https://github.com/microsoft/ApplicationInsights-dotnet/issues/1507 for better guidance. This is relevan for the advice given in the section "Log Custom Telemetry in C# function".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-20 13:29] SwathiDhanwada-MSFT commented on #45046
@IronmanM Thanks for reaching out! Normally you will be billed based on the type( Emails , Webhooks etc) and number of notifications you choose to send.  For instance , for emails , you have 1,000 emails per month for free and for 1,00,000 emails, you will be charged $2. So, you will not be charged on number of email ID's but you will be charged on number of emails you receive based on alerts.

Ho

[2019-12-20 13:32] madsd commented on #41042
The article has been updated with newly introduced programmatic manipulation options.

[2019-12-20 13:34] #44991 closed

[2019-12-20 13:35] DixitArora-MSFT commented on #44991
@thisisbrianstewart PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-20 13:37] DixitArora-MSFT commented on #45036
Hi @robertlagrant Thanks for your feedback. We will review and update as appropriate.

[2019-12-20 13:40] DixitArora-MSFT commented on #45048
Hi @Expecho Thanks for your feedback. We will review and update as appropriate.

[2019-12-20 13:43] DixitArora-MSFT commented on #45012
@mikebudzynski Any inputs in this ?

[2019-12-20 13:48] RonaldMariah opened #45049 "Use 3rd Party Dependency Injection Frameworks with Azure Functions"
Hi,

Is it possible to use 3rd party DI frameworks with Azure Functions?
The only documentation I can find uses IServiceCollection like the below

https://github.com/DibranMulder/azure-functions-v2-dependency-injection/blob/master/AzureFunctionsV2DI/WebJobsExtensionStartup.cs

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-12-20 14:11] stilren opened #45050 "Upgrading or downgrading failover database using ARM templates"
I sometimes get the error "The source database cannot have higher edition than the target database. Upgrade the edition on the target before upgrading source" - when attempting to upgrade a datbase in a failover group using ARM templates. Is there a correct way of going about this? (Ive created the group with similar code to this: https://github.com/Azure/azure-quickstart-templates/tree/master/101

[2019-12-20 14:15] stilren commented on #45050
I think its related to when upgrading the max size of the db

[2019-12-20 14:18] dhirajgandhi commented on #44630
Yes. You can associate the services principal to partner ID. It is part of the documentation.  You need to use PowerShell , login using Service Principal and associate Partner Id.

[2019-12-20 14:21] mikaelsand commented on #44630
Thank you !!! <3

[2019-12-20 14:43] #43652 closed

[2019-12-20 14:50] DCtheGeek commented on #43506
The recommendation going forward is to use **type**, but without the `/write`. This is equivalent today as Policy only evaluates `/write` actions. I'm going to close this issue.  Thanks again for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-12-20 14:50] #43506 closed

[2019-12-20 14:50] cbailiss commented on #45029
Just to add, the example of rehydrating 2x15GB and 1x10GB blobs concurrently took 31 hours to complete, i.e. more than double the 15 hour maximum mentioned in this article.

[2019-12-20 14:59] IronmanM commented on #45046
@SwathiDhanwada-MSFT  Thanks for your replay, in case, if the destruction (1:5)mail how it will count.
Ex: We have 5 Users in the Purchase department, every time I will send to purchase@xyz.com the all 5 users will receive the emails.

[2019-12-20 14:59] SwathiDhanwada-MSFT commented on #44717
@TomArcherMsft Can you please provide your inputs on the issue?

[2019-12-20 14:59] SumanthMarigowda-MSFT commented on #44778
@rockboyfor Apologies for delay in responding here!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-20 15:13] SwathiDhanwada-MSFT commented on #43887
@the-blesss The option "[Suppress Alerts](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log)" is only available for Log alert rules. For metric alerts , to suppress you have the only option to use "Suppression Config" as mentioned in previous comment.

For your reference, here is a snapshot.

![image](https://user-images.githubusercontent.com/48976275/71264095-569eb000-2369-

[2019-12-20 15:20] #44911 closed

[2019-12-20 15:20] CundyTech opened #45053 ".Net Core?"
These pages only reflect what happens when you use connected services with a .Net Framework project.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fadb41e0-8707-b86e-8faa-7632087d56d3
* Version Independent ID: 2ca99f27-db7c-9509-683b-38e46095ce0c
* Content: [Changes made to WebAPI projects when connecting to Azure AD]

[2019-12-20 15:21] #44901 closed

[2019-12-20 15:22] #44983 closed

[2019-12-20 15:23] #44887 closed

[2019-12-20 15:26] NavtejSaini-MSFT commented on #45050
@stilren We are checking this and we will get back to you.

[2019-12-20 15:28] frvigano opened #45054 "Provide details"
Provide details about what kind of events are audited for respectively for SQL DW and SQL DB (e.g. login, query, ...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Get started with auditing - Azure SQL Datab

[2019-12-20 15:36] NavtejSaini-MSFT commented on #45054
@frvigano We are checking this and will get back to you.

[2019-12-20 15:39] asergaz commented on #45022
Thanks for the feedback @anhashia ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-20 16:08] dominicbetts commented on #44475
Hi @fadyanwar  -  You can use the MxChip with the new templates - see https://docs.microsoft.com/azure/iot-central/preview/howto-connect-devkit. You can find the source code for the firmware here: https://github.com/Azure-Samples/mxchip-iot-devkit-pnp/tree/master/

Hope that helps!

[2019-12-20 16:08] NavtejSaini-MSFT commented on #45044
@Doukers We are checking this and will get back to you.

[2019-12-20 16:08] BhargaviAnnadevara-MSFT commented on #44630
@mikaelsand Thanks for providing additional context around your requirement. That's what [Link to a partner ID](https://docs.microsoft.com/en-us/azure/billing/billing-partner-admin-link-started#link-to-a-partner-id) section of the doc is pretty much about, as @dhirajgandhi also commented.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the do

[2019-12-20 16:08] #44630 closed

[2019-12-20 16:10] aditya815 opened #45055 "Error at 'Define the Entity'"
[Enter feedback here]
Running into this error, when pasting this code into SamplesUtils.cs

![image](https://user-images.githubusercontent.com/58573761/71267678-3ba44f80-2319-11ea-80db-2a41c120b930.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce

[2019-12-20 16:12] idbanham commented on #44133
Hi

Sorry for slow reply - yes I was using the src. There's quite a few other
tools in the Microsoft pattern where you just take a copy of the repo and
follow the instructions. I just followed that pattern. Agree the
instructions could be made clearer.
https://github.com/Azure/azure-iot-sdk-csharp/tree/master/tools/DeviceExplorer
might
be a useful example.

I'll attempt another install using the r

[2019-12-20 16:22] markjbrown commented on #45032
Allow access from All Networks is the default. For a new account you don't need to do anything. If the account has been configured with IP Firewall, update the account and set ipRangeFilter (PS) or ip-range-filter (CLI) to an empty string.

#please-close

[2019-12-20 16:22] #45032 closed

[2019-12-20 16:31] rhysbowenharries opened #45056 "We couldn't create your CDN endpoint?"
free tier? Standard Microsoft as pricing tier only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ace583-56d5-c9d5-7ef4-c38bbfaa657b
* Version Independent ID: aececd35-06b1-ec4b-8229-0cf67826052c
* Content: [Tutorial: Enable custom domain & SSL for a static website in Azure](https://docs.microsoft.com/en-us/azure/sto

[2019-12-20 16:47] kirankumarkolli commented on #45005
Application or consumers is expected to ensure the singleton-usage.
IDisposable is to enable graceful handling of resources (connections etc...) used by client.

[2019-12-20 16:48] MashaMSFT commented on #43279
Hi @giovannifl , so sorry for the delay in response! You're absolutely right, this was added as a prerequisite erroneously. However, the reason you would use a  separate file share for backup files to save the IOPS and space capacity of this share for Data and Log files. You can use either a premium or standard file share for backup files. It's not a requirement, but a suggestion :)

I have submit

[2019-12-20 16:48] #43279 closed

[2019-12-20 16:49] NavtejSaini-MSFT commented on #45050
@stilren I am not sure I understand the ask here as the document clearly defines the order of the upgrade and downgrade.
![image](https://user-images.githubusercontent.com/52257742/71269995-85436900-231e-11ea-8c90-741a38221e6a.png)

Please provide context to what is your question to help you further or is there something missing from the documentation.

[2019-12-20 16:53] swagulkarni opened #45057 "How is indexing handled by Azure search?"
Assuming a standard tier with 3 replicas and 1 partition, how does Azure search handle indexing and also serve inbound requests?
Does Azure search ensure that indexes are applied to one replica at a time and that particular replica is not serving the inbound request?
If not, then how do we programatically handle the scenario when indexing is running during peak hours?

---
#### Document Details

⚠

[2019-12-20 16:53] markjbrown commented on #45005
Thanks @kirankumarkolli

#please-close

[2019-12-20 16:53] #45005 closed

[2019-12-20 17:02] keithdv commented on #44932
Yeah, getting from SAMLResponse to SAMLAssertion seems to be the issue. This documents shows how to get a SAMLResponse but https:login.microsoft.com/_TenantID_/OAuth2/v2.0/Token wants a SAMLAssertion.
Can you get a "<SAML:Assertion>" from "login.microsoft.com/../SAML2?"?
Or, can you get the assertion out of the SAML Response? It's there but the full response is part of the signature.
Or, is there

[2019-12-20 17:05] ryanwadebg opened #45058 "pre-trained models from MicrosoftML package"
Are the pre-trained models from the MicrosoftML package available? If so do you have instructions on how to install?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 786d38d2-36c8-bc45-03b6-61084a8fa442
* Version Independent ID: 2029a9fe-84f5-918b-0c6d-315a7de2437d
* Content: [Machine Learning Services with R (preview) -

[2019-12-20 17:13] normesta commented on #44927
@fhryo-msft would likely be able to answer this.

[2019-12-20 17:16] jlian commented on #45022
Please assign to me instead

[2019-12-20 17:22] saf-itpro opened #45059 "Unable to run the kubectl apply command to deploy the application"
In [Run the Application](https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#run-the-application) section, the following command gives the following error. The apiVersion is set in sample.yaml file, so I'm not sure why the error. Some online posts suggest that I upgrade the kubectl to version 1.2.5 or 1.3.0. But I am using Azure Cloud Shell and hence assumes that Microsoft has latest

[2019-12-20 17:23] NavtejSaini-MSFT commented on #45054
@frvigano The Auditing in Azure SQL cannot be seen as a standalone feature but something that works in conjunction with Azure monitor, Advanced Threat protection and Azure Security.

According to [this ](https://azure.microsoft.com/en-us/blog/a-boost-in-security-for-azure-sql-database-auditing/) document:
![image](https://user-images.githubusercontent.com/52257742/71277154-e836ff00-2322-11ea-9f8d-

[2019-12-20 17:24] philmea commented on #44703
I have verified the steps work in the cloud shell. I will pursue updating the prerequisites in the article. Thanks for your contribution!

[2019-12-20 17:25] Adam-Smith-MSFT commented on #45029
@cbailiss Thanks for posting Chris, have you by any chance opened a Support case for this specific scenario ? There could be other involvements in case if there were any network issues in the time you submitted the request, more investigation needs to be made to confirm if it's a one time issue or a consistent one. Let me know if you don't have a support plan, I can follow up with you to get you a

[2019-12-20 17:27] Adam-Smith-MSFT commented on #45042
@nayakshweta Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-20 17:28] Adam-Smith-MSFT commented on #45056
@rhysbowenharries Could you provide more details about this specific request ?

Thanks,
Adam

[2019-12-20 17:42] rangler2 commented on #44592
Hi
I can help, as I did enable encryption on the 3gb production database replicated to 2 regions out of hours. There were a lot of errors logged to do with timeouts or unable to connect for a few minutes and the secondary was unable to connect at all for about 5 mins. The whole operation took about 20 mins and the primary was mostly operational but there were timeouts , I wouldn’t recommend doing

[2019-12-20 17:45] NavtejSaini-MSFT commented on #45055
@aditya815 We are assigning this to doc author for further insight.
@wmengmsft @SnehaGunda Can you please check this and help the user.

[2019-12-20 17:46] roygara commented on #44778
@rockboyfor Thanks for bringing this to our attention, we appreciate it! You're correct, the larger disk sizes are now available in other clouds, including Azure China. I'll update the document to reflect this. The changes will be live later today.

Again, thanks for pointing this out and helping us improve our docs. :)

#please-close

[2019-12-20 17:46] #44778 closed

[2019-12-20 17:48] anupshrestha commented on #33821
@dsudduth this video tutorial explains this issue very well and also shows you how to update the route tables https://youtu.be/u2l_dIllVvA?t=1546

[2019-12-20 17:48] NavtejSaini-MSFT commented on #44592
@rangler2 Thanks for coming back and providing your insights. Do you need any further help from our author or we can close this thread.

[2019-12-20 17:49] rohitnayakmsft commented on #41298
The Networking tab was introduced when we added Private Link in preview. We need to update docs to guide the customer through this experience @VanMSFT we had spoken about this earlier in the year. Let's sync up and update the doc soon.

[2019-12-20 17:50] dsudduth commented on #33821
@anupshrestha thank you for the link.

[2019-12-20 17:51] CeciAc opened #45061 "Drive doesn't exist"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.it-it/issues/419

@gmlion commented 8 hours ago — with docs.microsoft.com
When using the "Mount the Azure file share with PowerShell" script, I had to add -Scope Global to the New-PsDrive command to keep the drive after script execution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-12-20 17:52] kobulloc-MSFT commented on #44627
@ishepherd We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-12-20 17:52] #44627 closed

[2019-12-20 17:53] Adam-Smith-MSFT commented on #45061
@CeciAc  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-20 17:55] cbailiss commented on #45029
Hi @Adam-Smith-MSFT
On this solution, I don't have a support plan since it's a PAYG contract for a not-for-profit solution.  I'm happy to provide details for follow-up investigation, if there is a channel for that, particularly if you believe this down to some service issue.  (I did check the Azure status page several times, but no issues were highlighted there, though that page is often, let's sa

[2019-12-20 17:58] APIWT opened #45062 "Version for v3 of runtime"
In the following section: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#version

I noticed there is no information about v3 of the runtime. What should we specify here? `"version": "3.0"` seems obvious but I just wanted to clarify and suggest that the documentation is updated to make it more obvious.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-12-20 17:59] Adam-Smith-MSFT commented on #45029
@cbailiss Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket opened for this issue. Please mention "ATTN Adam" in the subject field.

[2019-12-20 18:05] marktab commented on #44955
@RohitMungi-MSFT   thanks I'm adding a note today to clarify options

[2019-12-20 18:06] ajayanti1 commented on #39211
@LuisEmilioR - you can use the following commands to get plans for any given SKU that are in your tenant.
• Get-AzureADSubscribedSku | Select -Property Sku* (this will list SkuId and SkuPartNumber that are available in your tenant).
• $licenses = Get-AzureADSubscribedSku
• $licenses[].ServicePlans (it's a 0 based index).
Please let us know if you run into issues. Hope this helps!

[2019-12-20 18:07] anzaman commented on #42535
With Azure certificate authentication the same certificate is being used for server validation in the VPN tunneling protocol (IKEv2/SSTP) and the EAP protocol. Since the server certificate and FQDN is already validated by the VPN tunneling protocol, it is redundant to validate the same again in EAP. However when using RADIUS authentication, the RADIUS server certificate and FQDN must be validated

[2019-12-20 18:08] cbailiss commented on #45029
@Adam-Smith-MSFT
Email sent, thanks for the assistance.

[2019-12-20 18:08] rachel-msft commented on #34872
This has been fixed. Please see the [documentation](https://docs.microsoft.com/azure/postgresql/concepts-extensions#timescaledb) for instructions on how to do a backup and restore for timescaledb using pg_dump and pg_restore on Azure Database for PostgreSQL.

[2019-12-20 18:10] MarileeTurscak-MSFT commented on #45025
@iAmSaugata please include the link to the document you are following so that we can better assist.

[2019-12-20 18:15] marktab commented on #44955
@mcurko I was not original author, but my guess on the original architecture was making a generic staging area for multi-purpose consumption.  I added the Data Migration link at the top of the page, which is now our more general area for data migration options.  Any feedback on my changes are welcome.

[2019-12-20 18:16] MarileeTurscak-MSFT commented on #45040
@bartvermeersch
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 18:16] roygara commented on #45061
@CeciAc Thanks for bringing this over and to our attention, we appreciate it. :)

At this point we've actually experienced numerous problems with the script - I haven't personally been able to get it working. I've already contacted the original script author and am still awaiting a response.

[2019-12-20 18:24] Adam-Smith-MSFT commented on #45029
Closing the issue - Followed up via Email-

[2019-12-20 18:24] #45029 closed

[2019-12-20 18:35] Hitachi-wbojcevski opened #45063 "QueryComparisons operators reference incorrect library"
When creating a custom filter for the Get-AzTableRow, the above example uses the [Microsoft.Azure.Cosmos.Table.QueryComparisons] library which gave me errors.  When I used the [microsoft.windowsAzure.storage.table.queryComparisons] library it returned the correct results.  Please update the documentation with the correct library

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-12-20 18:38] julieMSFT commented on #37420
@kartiknagappa Again thank you for your input on this issue. I will be updating the documentation. The correct script is:
# Set server name - the logical server name has to be unique in the system
$serverName = "server-jrasnick2"
# The sample database name
$databaseName = "mySampleDatabase"
# The ip address range that you want to allow to access your server
$startIp = "0.0.0.0"
$endIp = "0.0.0.0"

[2019-12-20 18:40] mike-urnun-msft commented on #45062
@APIWT Thank you for your feedback! We will review and update as appropriate.

[2019-12-20 18:40] MonikaReddy-MSFT commented on #45034
@StefanSchoof , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-20 18:40] saf-itpro commented on #45059
**Issue resolved**. Credit goes to user `@liggit`. There was an error in my copy/paste content of `sample.yaml` file. As pointed [here ](https://github.com/kubernetes/kubernetes/issues/86486) by user `@liggit`, when I opened vi in read mode, then by pasting, the first `a` put me in edit mode and did not actually get inserted.

I think, the author of the article may want to warn users as it may hap

[2019-12-20 18:41] MonikaReddy-MSFT commented on #45041
@w0ut0 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-20 18:42] CeciAc opened #45064 "dataset url is not valid"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1060

@jsrimr commented 7 hours ago — with docs.microsoft.com
cannot load dataset from "https://automldemods.blob.core.windows.net/datasets/PlayaEvents2016,_1.6MB,_3.4k-rows.cleaned.2.tsv"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-12-20 18:45] nullstatement opened #45065 "The information about pinning a tag no longer works"
What is happening:
When a tag is pinned it creates an all resources tile on the dashboard that is NOT filtered by the tag.

What is expected:
It creates a tag tile that directs you to an all resources list filtered by tag OR an all resources tile that is filtered by the tag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-12-20 18:48] allegradomel commented on #34515
Glad to hear it's working for you!

#please-close

[2019-12-20 18:48] #34515 closed

[2019-12-20 18:49] mike-urnun-msft commented on #45049
@RonaldMariah Thank you for your feedback! We will review and update as appropriate.

[2019-12-20 18:49] allegradomel commented on #35603
This has been resolved, so closing.

#please-close

[2019-12-20 18:49] #35603 closed

[2019-12-20 18:50] FrankHu-MSFT commented on #45038
Hey @vedeevi I see you've already posted this against the repo that owns this library : https://github.com/jasoth/MSAL.PS/issues/4

This repo is meant for Azure Docs, not issues with the product. Please engage with the owners of the MSAL.PS library there for further engagement.

We understand that it would be good to have MSAL PS tutorials and docs and this is on the roadmap. For now please take a

[2019-12-20 18:50] #45038 closed

[2019-12-20 18:55] allegradomel commented on #41351
This issue has been resolved.

#please-close

[2019-12-20 18:55] #41351 closed

[2019-12-20 18:57] FrankHu-MSFT commented on #44992
Hey @PaulSpinksHMCTS  thanks for letting us know about your case scenario. I don't know if this justifies adding a note to the doc for future readers.

Adding some more people to review whether or not to add this to the doc cc : @amitbapat

[2019-12-20 19:00] kfollis commented on #44880
@peradus Thanks for pointing out that nuance! I agree that manually arranging items isn't the same as a true filter and sort option. However, "move" isn't quite right either - I don't want to imply that you could move your favorites to another location in the portal. I've updated the document to use the term "rearrange" to describe the act of changing the order of the list.

#please-close

[2019-12-20 19:00] #44880 closed

[2019-12-20 19:00] FrankHu-MSFT commented on #45047
hello @akash-roy-123 there isn't enough to go on here, it looks like this is just the template for Azure Doc Issues. If you have a troubleshooting related question please ask it on Q&A,SO, or MSDN https://docs.microsoft.com/answers/index.html https://msdn.microsoft.com/
http://stackoverflow.com/

As there is not enough information here, and this doesn't look like an azure doc related issue I am no

[2019-12-20 19:00] #45047 closed

[2019-12-20 19:01] FrankHu-MSFT commented on #45027
@koratshail Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 19:04] FrankHu-MSFT commented on #45027
Hey @koratshail  I suggest filing a github issue against the repo that hosts the script : https://github.com/Azure/azure-iot-sdk-c/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

As the azure-docs repo is meant for issues regarding the azure docs. If you need further troubleshooting I suggest asking the question on MSDN, StackOverflow, or Q&A
https://docs.microsoft.com/answers/index.html
http:/

[2019-12-20 19:05] YutongTie-MSFT commented on #45058
@ryanwadebg
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@NavtejSaini-MSFT  FYI

[2019-12-20 19:09] MarileeTurscak-MSFT commented on #45045
@HuuPhuocNguyen please provide the link to the document that you are referencing and the specific feedback that you have on this document.

[2019-12-20 19:12] anzaman commented on #44327
#please close

[2019-12-20 19:12] normesta commented on #43191
#please-close

[2019-12-20 19:12] #43191 closed

[2019-12-20 19:12] normesta commented on #44162
#please-close

[2019-12-20 19:12] #44162 closed

[2019-12-20 19:14] normesta commented on #44161
Thanks for the idea @alexmbaker! Come to think of it, the example of the the cap-mbps flag lacked a command such as "copy" or in this case "resume". I updated that example to use "resume".

[2019-12-20 19:15] normesta commented on #44161
#please-close

[2019-12-20 19:15] #44161 closed

[2019-12-20 19:18] abinav2307 commented on #39566
Hello @zzebastien,

Yes we do have a replacement coming in for the Java SDK as well. We are currently working on a V4 SDK, which is slated for release by early Q2 of 2020. This SDK will have bulk APIs, with the same functionality as the bulk APIs in the V3 SDK links shared above.

Do let us know if this helps.

[2019-12-20 19:21] YutongTie-MSFT commented on #45064
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-20 19:30] adiun opened #45067 "AzureML service reload() throws error with service from LocalWebservice ctor"
I am trying to get an existing, deployed service with `LocalWebservice()` and run a `reload` on that (I previously deployed through the CLI `az ml model deploy`):

[code]

This throws an error:

[code]

This actually ends up stopping and deleting the Docker container corresponding to the running service too!

I noticed that I can use this approach (getting a handle to the existing service through

[2019-12-20 19:31] jwk6 commented on #44584
Thank you!

[2019-12-20 19:39] rothja commented on #40486
@joostm1 We have not been able to find a conclusive answer on this question. I am sorry for the delay. I will try to reach out to more people, but there will be a longer delay due to the holidays. Thank you for your patience.

[2019-12-20 19:55] Aubeauch commented on #44844
Hello @amanmcse Happy to hear from you! It would be great as this is a reference document for developers to state which method like you mention correlates to which operation. I believe this would improve the quality of the documentation that we provide to developers.

[2019-12-20 20:10] lyrana commented on #44809
Hi @mohibakhan I just wanted to add additional details to make sure that the difference between the two offerings is clear--the GA version of Azure TSI only offers one storage option, and the retention is up to 400 days. The newer PAYG SKU has multi-layered storage--both warm and cold. Users bring and attach their own cold storage account and thus there is no pre-defined limit to the data retentio

[2019-12-20 20:31] binhnguyen1984 opened #45068 "There is no working sample for asp.net core"
There is only asp.net framework version of JavascriptSPA. I have tried to create a corresponding sample for asp.net core 3.0, but it does not work. However, there is no explanation why the same code does not run in asp.net core 3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* V

[2019-12-20 20:44] binhnguyen1984 opened #45070 "Web apps that are purely front-end have no controllers"
Even this section discusses how a web app calls web api, it ignores the very common use-case in which a web app is purely front-end and does not have controllers. How OBO is achieved in such cases? This important point is completely missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19609d01-2128-d7ec-6ee1-7c9b3e8

[2019-12-20 20:53] urklnme218 commented on #44993
the latest version of the OPDG does not include a way to change the region.   #43301 azure-docs repo explains this problem pretty well

How would one set up access a on premise oracle db from a local virtual machine?  is there another way?  would like to know alternative if there is one.

[2019-12-20 20:57] normesta commented on #42489
Thanks for the feedback! Given the many Linux distributions we've removed distribution-specific guidance on downloading and decompressing tar files and instead are referring readers to the documentation of their respective distributions for guidance on those tasks.

[2019-12-20 20:57] normesta commented on #42489
#please-close

[2019-12-20 20:58] #42489 closed

[2019-12-20 20:58] normesta commented on #40155
Thanks for the feedback! Given the many Linux distributions we've removed distribution-specific guidance on downloading and decompressing tar files and instead are referring readers to the documentation of their respective distributions for guidance on those tasks.

[2019-12-20 20:58] normesta commented on #40155
#please-close

[2019-12-20 20:58] #40155 closed

[2019-12-20 21:07] borys86 commented on #44980
I wish to clarify how to avoid a need to specify WEBSITE_CONTENTAZUREFILECONNECTIONSTRING. This is due no another long open and unresolved issue, here https://github.com/Azure/Azure-Functions/issues/1195
because WEBSITE_CONTENTAZUREFILECONNECTIONSTRING is "required" for the app service plan now I cannot supply a value for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING using a reference to key vault.

[2019-12-20 21:14] keithdv opened #45071 "How to get a SAML Assertion without another federated IDP"
I am trying to get a SAML Assertion but I have a simple Microsoft Azure account using my MSDN credits - no ADFS - and would like to try this. I can get a SAML Response using the login.microsoft.com/_TenantId/SAML2?SAMLRequest API but when I put the SAML Response as the 'assertion' in the call to 'OAuth2/v2.0/Token' I get an error everytime: AADSTS50107: The requested federation realm object 'https

[2019-12-20 21:20] NavtejSaini-MSFT commented on #45063
@Hitachi-wbojcevski We are assigning this to our author for further review.
@roygara Please look into this and provide feedback.

[2019-12-20 21:31] huzzeytech opened #45072 "More clarity on licensing and group assignment."
"4. This policy can be assigned to specific users, devices, or groups. More information can be found in the article Assign user and device profiles in Microsoft Intune."

Does the policy have to be assigned to a user AND the device? If I put the device and the user in the same group, does that suffice?
A useful note/reminder regarding the license required for the user and a linked transition to do

[2019-12-20 21:31] andresbarcenas opened #45073 "INGRESS IP empty"
Hello,

Since this is completely private, do you have any info on how to assign a private IP to an ingress?

$ kubectl get
NAME         HOSTS             ADDRESS   PORTS     AGE
my-service   test.host.com             80, 443   8m49s

Let me know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8a

[2019-12-20 21:53] asinn826 commented on #44841
@LukeCarrier - I'm actually impressed by that catch. When I split out the serial console docs into separate Linux and Windows sections I (thought I had) meticulously pored over the docs to ensure that exactly these types of errors were not left behind. Thanks for the callout, and I've put in a fix. Should be live in a day or two.

[2019-12-20 22:05] fhryo-msft commented on #44927
I don't find the issue of two occurrences of BlobCount. Please provide more information supporting the finding.

Second, the translation of aggregation on BlobCount seems incorrect. The English version shows "Average" but the Japanese translation is "合計" instead of "平均". This doc is owned by Azure Monitor team. Please engage Azure Monitor team to fix this issue.

English version:
https://docs.micr

[2019-12-20 22:06] FrankHu-MSFT commented on #45072
@huzzeytech Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 22:06] FrankHu-MSFT commented on #45071
@keithdv Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 22:06] FrankHu-MSFT commented on #45070
@binhnguyen1984 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 22:06] FrankHu-MSFT commented on #45068
@binhnguyen1984 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 22:06] sandeep8530 opened #45074 "Exception Details: This operation is not permitted on a non-empty directory."
Trying to write data into SQl DW through databricks stream data frame. process is trying to delete the temp folder in the BLOB storage and throwing below. In the documentation i see that process will not automatically cleanup tempdir. Is it true? if true, then why is this error? Using below query in python

df1.writeStream \
  .format("com.databricks.spark.sqldw") \
  .option("url", sqlDwUrlSmall)

[2019-12-20 22:07] FrankHu-MSFT commented on #45068
hey @binhnguyen1984  thanks for letting us know about this, we'll take your feedback into consideration and consider adding another doc accordingly, adding more members to look into this to determine if this is needed,

cc: @navyasric

[2019-12-20 22:08] JimacoMS3 commented on #45003
@Alberto-Vega-MSFT It looks like the only thing that needs to be added is the twin property value size. All other values are current in [this section](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#tags-and-properties-format) and the following one. Right?

[2019-12-20 22:16] ajayanti1 commented on #38436
I updated the page with these SKUs:
Microsoft 365 E5 Security
Microsoft 365 E5 Security for EMS E5
Microsoft Defender Advanced Threat Protection
Office 365 Advanced Threat Protection (Plan 1)
Office 365 Advanced Compliance
Microsoft 365 E5 Compliance

[2019-12-20 22:16] ajayanti1 commented on #38436
#please-close

[2019-12-20 22:16] #38436 closed

[2019-12-20 22:17] ajayanti1 commented on #39211
#please-close

[2019-12-20 22:17] #39211 closed

[2019-12-20 22:17] ajayanti1 commented on #40792
Added the below SKUs:
M365 A1
M365 A3 for faculty
M365 A3 for students
M365 A5 for students
M365 A5 for faculty

[2019-12-20 22:17] ajayanti1 commented on #40792
#please-close

[2019-12-20 22:17] #40792 closed

[2019-12-20 22:19] FrankHu-MSFT commented on #45070
hey @binhnguyen1984  can you clarify what you're requesting. if it's purely front end and there are no controllers?

If you're not using a controller, the java and python samples answer the question to get an access token, you would most likely follow either the OIDC flow or implicit flow. Also the links in the documentation provide extra info see below :

https://docs.microsoft.com/en-us/azure/ac

[2019-12-20 22:20] jlian opened #45075 "User consumer groups don't roll over when after manual failover"
According to @anhashia:

I'm opening this issue to track a fix on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6874376-9df5-65b7-6908-eaaba67992d0
* Version Independent ID: c76d243b-a9a0-d37d-6cc5-53eb1bf589d2
* Content: [Azure IoT Hub high availability and disaster recovery](https://docs.microsoft.com/en-

[2019-12-20 22:26] marckassay commented on #45008
Providing more information, after I execute the 'New service principal' instructions (which fails) and execute the following PowerShell code:
[code]
... It successfully assigns the 'Contributor' role to 'msi-test-bootstrap'.

[2019-12-20 22:31] MarileeTurscak-MSFT commented on #45035
@hvshvs
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 22:31] MarileeTurscak-MSFT commented on #45039
@hurtn
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 22:38] MarileeTurscak-MSFT commented on #45045
@HuuPhuocNguyen please create an issue on a particular document and describe your feedback in detail.

[2019-12-20 22:38] #45045 closed

[2019-12-20 22:38] throndir commented on #44940
@DashleenBhandari-MSFT

It seems that Visual Studio ends up resetting the ApplicationManifest.xml when the Publish button is hit.

Currently, I forked the Deploy-FabricApplication.ps1 script in my Service Fabric project to instead call a custom script that uploads the built project, then calls an ARM template to do the deployment.

Talking with one of my colleagues, I think we can workaround the i

[2019-12-20 22:39] MartinJaffer-MSFT commented on #44979
I see.  The directionality does imply one direction.  So it should either become bidirectional arrow and rename the boxes, or , make another detail view.
![different-integration-runtimes draft2](https://user-images.githubusercontent.com/46612670/71296979-6f41a280-2336-11ea-84e3-3b6254a80c2c.png)

[2019-12-20 22:51] MicrosoftGuyJFlo commented on #43521
@ralish I got an update yesterday from the devs. They went back through the policy and double checked and yes they agreed that all cloud apps should be selected as well to block legacy protocols from any app. I am sorry that we did not get this sorted out sooner. Putting in another PR to resolve this.

[2019-12-20 22:56] Adam-Smith-MSFT commented on #44974
@g0pinath
The snapshot should provide the same size registered from the original share, as for the cost, it functions the same way as the paragraph you quoted, there is also a good description in the following blog: https://azure.microsoft.com/en-us/blog/microsoft-azure-backup-save-on-long-term-storage/  , Let me know if this answers your question .

Thanks,
Adam

[2019-12-20 22:56] ajayvs opened #45077 "Unable to fetch Auth token for User assigned Managed identity associated with a service fabric application"
I have an application hosted on service fabric cluster. The application contains a service which uses User assigned managed identity for authentication. The service code is trying to fetch some secrets from a vault. To authenticate against the vault, I'm trying to use an User assigned managed identity.  I have enabled Managed identity at service fabric level.Also, I have created a user assigned ma

[2019-12-20 23:01] Adam-Smith-MSFT commented on #43564
@sidhartha-patra I checked internally, it looks like it's not supported officially yet, I'd recommend using the workaround for now, if there's a new update to the Java SDK, it will probably be announced via a blog or documentation.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Thanks,
A

[2019-12-20 23:01] #43564 closed

[2019-12-20 23:08] keithdv opened #45078 "adfs/services/trust/2005/usernamemixed endpoint"
I am trying to get a SAML Assertion from Azure AD using the adfs/services/trust/2005/usernamemixed endpoint.

According to this article in ADFS what was https://myadfs/adfs/services/trust/2005/usernamemixed is AD as https://sts.windows.net/_TenantId_/2005/usernamemixed.

However, I cannot call that endpoint or find any documentation for it. Is this true? How do you get a SAML Assertion?

---
####

[2019-12-20 23:12] mamccrea commented on #44965
Thanks @siminchengithub - I've opened a ticket to have this information added. I'll comment here when the doc has been updated.

#please-close

[2019-12-20 23:12] #44965 closed

[2019-12-20 23:13] mamccrea commented on #44964
Thanks @siminchengithub - I've opened a ticket to have this information added. I'll comment here when the doc has been updated.

#please-close

[2019-12-20 23:13] #44964 closed

[2019-12-20 23:14] MarileeTurscak-MSFT commented on #45043
@benradstone
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-20 23:15] mamccrea commented on #44291
Hi @arvind-dhariwal! I am going to close this issue for now. If you have any additional questions after you review the articles for sliding and session windows, please reopen the issue.

#please-close

[2019-12-20 23:15] #44291 closed

[2019-12-20 23:18] mamccrea commented on #43639
The new TwitterClientCore app doesn't include sentiments, so I'm adding a new section that uses machine learning sentiment analysis. I am going to publish the instructions for the new app (streaming Tweets from Event Hub) so that it's available and then I'll publish the rest when it is complete.

#please-close

[2019-12-20 23:18] #43639 closed

[2019-12-20 23:28] LuisEmilioR commented on #39211
I think you are missing the point.
I know how to list the licenses available in my tenant.
The problem is that the published list is clearly missing several skus and
serviceplans that are publicly available.

Regards

On Fri, Dec 20, 2019, 19:17 PRMerger9 <notifications@github.com> wrote:

[2019-12-20 23:33] rboucher commented on #44711
That's not something I control directly.  This is a dump from the REST API.   I can pass back upstream to the PG that we need to have better descriptions.

[2019-12-20 23:44] markjbrown commented on #39566
Hello @zzebastien Moving forward on this please subscribe to this issue below on the Java bulk executor repo. This is a better place to keep an eye on this issue than here on our docs repo.
https://github.com/Azure/azure-cosmosdb-bulkexecutor-java-getting-started/issues/6

Thanks for your patience on this.

Closing this docs issue.

#please-close

[2019-12-20 23:44] #39566 closed

[2019-12-20 23:57] dcpopescu opened #45079 "Please add 530003"
Please add 530003

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins

[2019-12-21 00:13] MarileeTurscak-MSFT commented on #45053
@CundyTech
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-21 00:13] throndir commented on #44940
Intellisense continues to warn me that IdentityBindingPolicy and ManagedIdentities do not exist in the schema. Looking at the schema documentation, they aren't there either.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-service-model-schema-elements

[2019-12-21 00:24] Alberto-Vega-MSFT commented on #45075
Thanks @jlian I'm assigning the issue to the listed content author @rkmanda

[2019-12-21 00:48] Karishma-Tiwari-MSFT commented on #44768
Thanks @TravisCragg-MSFT :)
@jelew Hope that helped answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-21 00:48] #44768 closed

[2019-12-21 01:11] DCtheGeek commented on #43880
@kilasuit I've completed updates to the article to include comments about PS/CLI for initiatives (sets). I also updated all the screenshots and some of the steps to represent the newer wizard Policy has made available in portal. This issue will automatically close when the PR is merged (a step to publishing). Thanks again for the feedback!

[2019-12-21 01:39] zzebastien commented on #39566
Perfect, thanks for following up on that.

[2019-12-21 01:55] Karishma-Tiwari-MSFT commented on #45073
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-21 01:59] Karishma-Tiwari-MSFT commented on #44942
@lgarithm Hope that helped. Please refer to the doc:https://github.com/Azure/WALinuxAgent#upgrade I will work to see if this can be provided as an alternative for Ubuntu in this doc.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-21 01:59] #44942 closed

[2019-12-21 02:00] Karishma-Tiwari-MSFT commented on #44966
@giovannifl We are reaching out to the internal teams and will share the update soon.

[2019-12-21 02:03] saf-itpro opened #45080 "After signing in to Azure, VS2019 does not refresh the AKS Clusters and Space dropdowns"
**Environment**: `VS2019 - ver 16.4.2` on `Windows 10 - Pro, ver 1903`
In the [Connect your project to your dev space](https://docs.microsoft.com/en-us//azure/dev-spaces/quickstart-netcore-visualstudio?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2F%2Fazure%2Faks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2F%2Fazure%2Faks%2Fbreadcrumb%2FTOC.json#connect-your-project-to-your-dev-space)

[2019-12-21 02:56] DixitArora-MSFT commented on #44779
@curelom So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-21 02:56] #44779 closed

[2019-12-21 02:57] DixitArora-MSFT commented on #45012
@dcbrown16 I have assigned this to content author for further review and update as appropriate.

[2019-12-21 03:16] jhigginbotham64 commented on #44196
I'm having the same problem, with the new user working and everything. Changed the password on my original user a couple of times just to be dead certain I could type it correctly, same result each time.

[2019-12-21 03:22] benbucksch commented on #30802
@MohitDhingra-MSFT : I have the same issue. My client is "default client type" = yes, we're getting this error code 50126.

[2019-12-21 03:30] DashleenBhandari-MSFT commented on #45057
@swagulkarni ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:32] DashleenBhandari-MSFT commented on #45067
@adiun ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:34] DashleenBhandari-MSFT commented on #45074
@sandeep8530 ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:38] DashleenBhandari-MSFT commented on #45077
@ajayvs , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:39] DashleenBhandari-MSFT commented on #45078
@keithdv , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:40] DashleenBhandari-MSFT commented on #45079
@dcpopescu , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:46] DashleenBhandari-MSFT commented on #45080
@saf-itpro , Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 03:50] DashleenBhandari-MSFT commented on #44954
@jabamit , Thanks for providing the document. We will investigate and update you.

[2019-12-21 04:01] ralish commented on #43521
@MicrosoftGuyJFlo Thanks. This means that the original issue description remains accurate and unresolved, as applying the CA policy to all cloud apps will not work without adding at least one exception. Can you please re-open this issue given this is the case?

[2019-12-21 04:13] Deadmau8772 opened #45082 "Royal ISV Liencess"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a719e16b-a39f-75a3-ea55-6725a295a920
* Version Independent ID: 6de5a5cc-981a-6492-ffcd-81171988e956
* Content: [Get started using Azure Security Center for IoT Built-in IoT Hub integration service](https://docs.microsoft.com/en-us/azure/asc-for-iot/io

[2019-12-21 06:48] KrishnaG-MSFT commented on #45065
@nullstatement Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-21 06:55] mike-urnun-msft commented on #44656
Thanks @pwl-kdk! I've created a PR that addresses this issue and the changes will be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-21 06:55] #44656 closed

[2019-12-21 08:02] shashishailaj commented on #44671
@msaburnley Could you please review this and provide your inputs on this ?

[2019-12-21 09:39] sideeksh opened #45083 "Sku parameter needs to be added to the Pip creation cmdlet"
In the cmdlet to create $pip, the instruction to choose standard SKU is missing. We need to add -sku Standard to the cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1412a078-a318-78ed-5f76-cb557494abc6
* Version Independent ID: 95b1b3d4-40a6-02c7-f5e1-141bf4232ffd
* Content: [Create a zoned Windows VM - Azure Po

[2019-12-21 10:23] sideeksh opened #45085 "The 'why' for deleting downloaded vault settings file is missing"
We provide the cmdlet to delete the downloaded vault settings file. However, we do not explain why this file needs to be deleted. We also do not explain whether or not this is a mandatory step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00

[2019-12-21 10:26] sideeksh opened #45086 "Setting up vault context for region move"
For an Azure-to-Azure migration, we explain how you can set the vault context to the newly created vault. However, why we would need to do this is not clear. It is also not clear whether this step is mandatory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID:

[2019-12-21 10:26] robertlagrant commented on #38213
@jrm346 I agree - it doesn't seem particularly well thought through. But perhaps it's just the documentation.

[2019-12-21 10:40] KrishnaG-MSFT commented on #45085
@sideeksh Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-21 11:28] g0pinath commented on #44974
Thanks for the clarification, I will close this thread now.

[2019-12-21 11:28] #44974 closed

[2019-12-21 11:33] sideeksh opened #45087 "No explanation for why we create fabrics, containers, container mappings"
Need to explain why we create fabrics, containers, container mappings.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00d0-37fa-968833b121c3
* Content: [Disaster recovery for Azure VMs using Azure PowerShell and Azure Site Recovery - Azure Site

[2019-12-21 11:35] Dr0m0 opened #45088 "Brazil isn't showing in the "Country or region" section"
I was creating a new Azure AD B2C tenant and couldn't find my country in the "Country or region" list,  along with others South American countries such as Uruguay, Chile, Peru...
I believe many countries are missing actually, but I didn't take time to investigate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77957bce

[2019-12-21 12:19] KrishnaG-MSFT commented on #45087
@sideeksh Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-21 12:24] DashleenBhandari-MSFT commented on #45082
@Deadmau8772 , Could you please describe the issue?

[2019-12-21 12:26] DashleenBhandari-MSFT commented on #45083
@sideeksh ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-21 12:28] DashleenBhandari-MSFT commented on #45088
@Dr0m0 , Could you please provide the document you are referring to?

[2019-12-21 13:11] Dr0m0 commented on #45088
Content: Sign up your organization - Azure Active Directory
Content Source: articles/active-directory/fundamentals/sign-up-organization.md
Service: active-directory
Sub-service: fundamentals

[2019-12-21 14:04] 400lbhacker commented on #31136
i have a virus redirecting to it https://www.hybrid-analysis.com/sample/d03c96928139226641bbd01466dcca67e004a8cb3913f505d2092bd14890a8be?environmentId=120

[2019-12-21 14:26] 400lbhacker commented on #31136
not all are secure, check this one: schemas.microsoft.com/SMI/2005/WindowsSettings"
im seeing lots of CDN akmai servers using legitimate content as logic bomb functionality in very advanced viruses, using time out keys that a virus author can control to stop campaigns by pulling them.. another weird feautre is viruses spying on microsoft users by activating familly control, and using microsoft acc

[2019-12-21 15:05] asears opened #45089 "ADW - Until auto-statistics are generally available, manual maintenance of statistics is required."
Auto-statistics are now available, - feedback and this page requires some updates

https://feedback.azure.com/forums/307516-azure-synapse-analytics/suggestions/18024499-automatic-generation-and-updating-of-table-statist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61988aaf-ef0d-999f-536b-47af6b6b1258
* Version Indepe

[2019-12-21 15:31] NavtejSaini-MSFT commented on #45089
@asears We are checking this and will get back to you.

[2019-12-21 15:45] SamaraSoucy-MSFT commented on #44956
I'm assigning this to the doc author to update.

[2019-12-21 15:45] SamaraSoucy-MSFT commented on #44977
I'm assigning this to the doc author to update.

[2019-12-21 16:17] Matt-Harrison2019 opened #45090 "Will there be any data loss?"
Hi

Just wondering would there be any data loss when resizing the partition and file system?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c61c5a-d9e4-742b-36e5-b9effa33d903
* Version Independent ID: cb9dbd59-460d-a1a0-9863-5213d6a1093e
* Content: [Expand virtual hard disks on a Linux VM in Azure - Azure Linux Virtu

[2019-12-21 16:21] NavtejSaini-MSFT commented on #45050
@stilren Please revert with necessary information so that we can work on this further.

[2019-12-21 16:32] NavtejSaini-MSFT commented on #45054
@frvigano Please let us know if you need any further help.

[2019-12-21 16:55] frvigano commented on #45054
Give me little time to review documents mentioned

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Friday, December 20, 2019 6:23:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Francesco Viganò <frvigano@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azu

[2019-12-21 17:07] AnttiKiiski opened #45091 "Please fix DSC example above"
Tried to test the DSC extension example above, but the Set-AzVMDscExtension command kept failing with "The DSC Extension failed to execute: Error downloading..." error. Took me a while to realize that the ArchiveBlobName parameter is case sensitive!

In the text above is written "Save the configuration locally as IisInstall.ps1" and "The following commands place the IisInstall.ps1 script on the sp

[2019-12-21 19:42] frvigano commented on #45054
I do believe that a document listing all events logged and audited would really help. If the list depends on the feature enabled it means that we might need to specify under what conditions those events are traced

Many other services do provide that list and help customers to figure out if their compliance requirements are met

Francesco

Get Outlook for Android<https://aka.ms/ghei36>
___________

[2019-12-21 19:47] marckassay commented on #23509
@vikranthsuravarapu, to my knowledge, the following are true:
- Both are GUID values
- 'principalId' is a reference to an existing Managed Identity.
- 'roleNameGuid' is used as part of a resource Uri.
- In practice, typically they're different GUID values

The examples above are creating security principals of type 'Managed Identity' (specifically User-assigned Identity). The following PowerShell

[2019-12-21 20:07] AjayKumar-MSFT commented on #44851
Thanks for sharing your demo workflow and feedback.
Yes, Use value '0.0.0.0' to represent all Azure-internal IP addresses.  That is, to allow applications from Azure IP addresses to connect to your Azure Database for PostgreSQL server, provide the IP address 0.0.0.0 as the Start IP and End IP.

Again, thanks for sharing your valuable feedback on the document, You may wish to know  that you could c

[2019-12-21 20:08] NavtejSaini-MSFT commented on #45089
@mlee3gsd Please check the status of this feedback and confirm if the Update table statics is in GA. if yes we may need to update the document as well.
@asears We have assigned this to doc author for further review.

[2019-12-21 20:49] saf-itpro commented on #45080
@BhargaviAnnadevara-MSFT , @DashleenBhandari-MSFT **Issue Resolved**: Sorry, it was my bad. I was selecting wrong Subscription in the DialogBox (shown [here](https://docs.microsoft.com/en-us//azure/dev-spaces/quickstart-netcore-visualstudio?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2F%2Fazure%2Faks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2F%2Fazure%2Faks%2Fbreadcrumb%2FTOC.json#c

[2019-12-21 20:49] #45080 closed

[2019-12-21 21:14] TheDhejavu commented on #44806
Thanks, @tigerhive, I gave it a shot earlier today without changing a thing, I didn't get that error while saving my model but it didn't get deployed.

the state of the model is always `transitioning `. Nothing else. there seems to be less use case of azure machine learning studio on the web.

[2019-12-21 21:21] Muhammad-Taimur commented on #27848
Im getting same error as qafro is getting. Can anyone please assist. Thank you

New-AzureRmVM : The value of parameter linuxConfiguration.ssh.publicKeys.keyData is invalid.
ErrorCode: InvalidParameter
ErrorMessage: The value of parameter linuxConfiguration.ssh.publicKeys.keyData is invalid.
ErrorTarget: linuxConfiguration.ssh.publicKeys.keyData
StatusCode: 400
ReasonPhrase: Bad Request
OperationID

[2019-12-21 21:51] MarileeTurscak-MSFT commented on #45086
@sideeksh
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-21 21:53] MarileeTurscak-MSFT commented on #45090
@Matt-Harrison2019 please provide the link to the document to which you are referring.

[2019-12-21 21:53] MarileeTurscak-MSFT commented on #45091
@AnttiKiiski
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-21 21:59] stilren commented on #45050
Sure! Say you are using the template I linked to provision your server, database and failover group - if you would like to upgrade the database there is only one spot to do so, the database resource. If you do that it will crash with the above error in the original post. The default behavior seems not to be to not upgrade the failover database first and theres no way of manually doing so in the AR

[2019-12-21 22:05] 14geronimo opened #45094 "Excellent topic and article"
Much needed clarification of objectives and interactions between the 4 services, this article makes a brilliant job of it, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Integration and automation

[2019-12-21 22:09] MarileeTurscak-MSFT commented on #45094
@14geronimo thanks so much for your kind words and feedback! I have passed this along to the author, @ggailey777 .

[2019-12-21 22:09] #45094 closed

[2019-12-21 22:39] Matt-Harrison2019 commented on #45090
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks

[2019-12-21 22:49] Schulmeisteerr commented on #33500
The problem of this documentation is that step 2 is different for Service Principals. Here is the solution that works for me:

Get object ID of the service principal want to give the RBAC Owner role to

- In the Azure portal, search on Azure Active Directory.
- Click on App registration in the menu on the left.
- Select the Application which Service Principal you want to give the RBAC Owner role t

[2019-12-21 22:55] binhnguyen1984 commented on #45068
With the same code, I tried it in asp.net core and IE 11 and noticed that both loginPopup and loginRedirect do not work. I got Http error 404 Page not found and IE did not redirect to the original page. On the address bar, I saw: https://localhost:44379/#id_token=some_id_token&client_info=some_info&session_state=446c00d2-1d78-4127-a0a7-f4b688b3afef

[2019-12-22 01:16] edvardmancic commented on #14316
Go to C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code
Find InstallFabric.ps1 open in text editor, remove empty lines between script lines, run it in PowerShell as Admin
That will install runtime and You can install SDK from WebPI.
This worked for me

[2019-12-22 01:30] NavtejSaini-MSFT commented on #45054
@frvigano Thanks for the feecback. We are checking this our author if such a document can be added.
@barmichal Please check if we can enhance this document or add another document to explain this.

[2019-12-22 01:31] NavtejSaini-MSFT commented on #45050
@stilren Thanks for the feedback. We are checking this with our author.
@anosov1960 Please check the sample and provide your feedback.

[2019-12-22 02:15] BitterDone opened #45095 "Reference examples are nowhere to be found"
Where are the samples this line references?
"Note When installing the SDK, remember the path you install to. For example, "C:\Program Files\Azure Kinect Body Tracking SDK 0.9.5". You will find the samples referenced in articles in this path."

The .msi file only installs these files/folders:
/sdk/include/k4abt.h
/sdk/include/k4abt.hpp
/sdk/include/k4abttypes.h
/sdk/include/k4abtversion.h
/sdk/wind

[2019-12-22 03:23] MonikaReddy-MSFT commented on #45034
@StefanSchoof ,
I'm going to assign this to the document author so they can update the document accordingly.

[2019-12-22 03:40] DashleenBhandari-MSFT commented on #44950
@ken2666 , Since this channel is reserved for ‘Azure docs’ questions- For doc feedback and content improvements, we recommend posting technical questions on the technical MSDN and technical StackOverflow where one of our specialized engineers in the subject or the Azure community members can provide the best possible answer to your scenario or question.

We will now close this issue in GitHub but

[2019-12-22 03:40] #44950 closed

[2019-12-22 03:41] DashleenBhandari-MSFT commented on #45095
@BitterDone ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-22 03:42] qm13 commented on #45095
Good catch. The samples are now on GitHub at https://github.com/microsoft/Azure-Kinect-Samples

[2019-12-22 04:03] ToMakeSense commented on #43843
@ecfan I knew the differnces between [Renew lock on the message in a queue ](https://docs.microsoft.com/connectors/servicebus/#renew-lock-on-the-message-in-a-queue) and [Renew lock on the session in a queue](https://docs.microsoft.com/en-us/connectors/servicebus/#renew-lock-on-the-session-in-a-queue) from your detailed reply. thanks! and could you explain what the [Close a session in a queue](http

[2019-12-22 04:15] mosoccer commented on #42991
Any one have any updates on this issue?

[2019-12-22 05:13] mbinnix commented on #42991
I've not seen a published update, but it does appear the vpn client has been updated.  In the absence of a report from MSFT, I deleted the client, downloaded it again and reinstalled.  It now appears to reflect DNS servers specified on the vnet configuration just as we'd all expect.   While I didn't save any screen shots, it also appeared to have a slight change in the UI, reinforcing the impressi

[2019-12-22 07:39] erapade opened #45096 "List of single users consents an unconsenting"
I was hoping this documentation would give me the answer on how to find a single users all consents (being authenticated as that user), an then also remove a specific consent for that user.
As there might be use cases for normal users, this is also useful when we work on implementing and understanding the concept of security principals and apps. I’m one of my specific cases I’m trying to understan

[2019-12-22 07:55] sideeksh opened #45097 "Insufficient pre-reqs for cmdlet"
Under Create Network Mappings > Retrieve the primary virtual network, $VM needs to be defined before being used in $SplitNicArmId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00d0-37fa-968833b121c3
* Content: [Disaster recovery for Azure VMs

[2019-12-22 08:03] msrini-MSFT commented on #45028
@Faricity , do you have any further questions?

[2019-12-22 08:29] cenkersoy commented on #44996
I think so. I found out that in the "!pip install --upgrade azureml-sdk[automl]", I am getting the following errors:
Requirement already satisfied, skipping upgrade: docutils>=0.10 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from botocore<1.9.0,>=1.8.0->boto3->smart-open>=1.8.1->gensim->azureml-automl-runtime==1.0.79.*->azureml-train-automl==1.0.79.*; extra == "automl"->azureml-sdk[

[2019-12-22 08:33] SwathiDhanwada-MSFT commented on #45097
@sideeksh Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-22 09:22] dcurwin commented on #44971
#reassign:pvrk

[2019-12-22 09:52] dcurwin commented on #38558
#please-open

[2019-12-22 10:47] eveningit opened #45098 "Unable to select availabity group for backend pool"
I have tried to the follow the document several times but don't get the option to associate the backend pool to a Availability set. Has something changed? Also the screenshot says to put the VM in East US 2 when the load balancer is in West Europe which will never work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9

[2019-12-22 10:53] jeanpoelie commented on #44681
Hi @jakaruna-MSFT

Hereby the info you requested:

[2019-12-22 11:05] msrini-MSFT commented on #45098
@eveningit , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-22 12:00] vikigithub81 commented on #25052
Using Add-AzWebAppAccessRestrictionRule Powershell command, we can configure Vnet/subnet type access restriction on App Service

https://docs.microsoft.com/en-us/powershell/module/az.websites/add-azwebappaccessrestrictionrule?view=azps-3.2.0

[2019-12-22 12:56] lucidhwee opened #45099 "Please add a reference url for Windows Server storage spaces"
For the "disk striping" section on this page, there's reference url for the "Configure Software RAID on Linux", however, not for Windows Server storage spaces. Would you team add a reference url for the customers who wants disk striping with the Windows Server VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668

[2019-12-22 13:21] yanivlavi commented on #44936
@craig-martin you are correct. The switch does change the alert name definition by design.
I apologize for any inconvenience this caused you. I will submit a update to the documentation to inform on this change.

[2019-12-22 13:29] rayne-wiselman commented on #43776
#reopen

[2019-12-22 13:32] ManojReddy-MSFT commented on #44932
@keithdv Are you trying to pass the deflated SAML response?

You can try deflating the SAML response you obtained and then picking only the SAML assertion element from the SAML response and then pass it to the /token endpoint after encoding it back.

[2019-12-22 13:49] yanivlavi commented on #44936
A fix was merged and will be released tomorrow. Thanks for letting us know.

[2019-12-22 14:23] DashleenBhandari-MSFT commented on #45096
@erapade ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-22 14:24] DashleenBhandari-MSFT commented on #45099
@lucidhwee ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-22 14:50] sideeksh opened #45100 "Identifying a recovery point"
It's not clear what the command
"{0} {1}" -f $RecoveryPoints[0].RecoveryPointType, $RecoveryPoints[-1].RecoveryPointTime
does

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00d0-37fa-968833b121c3
* Content: [Disaster recovery for Azure VMs usi

[2019-12-22 15:08] robertlagrant commented on #41512
@mike-urnun-msft can we have an update? This still happens.

[2019-12-22 15:34] BitterDone commented on #45095
Man do I feel dense- I cloned that repo when looking at the Sensor sdk, and never noticed the body-tracking-samples folder. Thank you all so much!

[2019-12-22 16:57] danmyhre commented on #42991
The latest version of the client they rolled out does generally work.  One oddity that I noticed (and they said is by design) is the lack of support for nslookup.  Name resolution for things such as RDP, HTTP, ping, etc work, but using nslookup fails.  It still does not show the DNS servers on the actual connection, which is odd as well (ipconfig /all), but it does show one of the DNS servers in t

[2019-12-22 17:25] KrishnaG-MSFT commented on #45100
@sideeksh Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-22 17:30] KrishnaG-MSFT commented on #45008
@SwathiDhanwada-MSFT can you please help take a peek at this?

[2019-12-22 17:36] KrishnaG-MSFT commented on #44923
@mallecespedes At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-22 17:36] #44923 closed

[2019-12-22 17:43] KrishnaG-MSFT commented on #44927
@fhryo-msft I believe you could see the hidden second occurrence if you drag the table (with the colum BlobCount) from right corner to left.

@rboucher Any insights on above point that is related to Japanese version ?

[2019-12-22 17:44] KrishnaG-MSFT commented on #45001
@lifeasandythompson Verified and updated the document as required. Thanks.

[2019-12-22 17:44] #45001 closed

[2019-12-22 18:29] #45023 closed

[2019-12-22 18:52] dcurwin commented on #38558
@KrishnaG-MSFT  - can you reopen this?

[2019-12-22 19:48] gregfiske opened #45104 "Need to leave application on cluster (change debug mode or just publish first) before upgrade"
If you follow the steps exactly, there is no upgrade because it is actually the first time you published the app. You have done one or more debug sessions but at the end of each session the application is removed from the cluster. The tutorial explains why this is so but gives no guidance on whether the debug mode setting should be changed to leave the application deployed and if so to what. (Prob

[2019-12-22 20:31] LukeCarrier commented on #44841
@asinn826 thanks for getting a fix in.

As a Linux guy working with Azure it feels as though these issues are quite common. This one's quite innocuous, but there have been times in the past that the networking docs on the Windows side had diverged so much we ended up giving up on them and just going by the Windows documentation.

I'd like to see improvements to the documentation maintenance proces

[2019-12-22 21:07] jordanfinners opened #45105 "Custom B2C policy enable Javascript"
Hi,
I'm trying to enable javascript on a custom b2c policy using my own themed page.
However when following your guide and uploading the policy I get the following error `.Please use page contract in content definitions when enabling JavaScript.`
Having followed the steps here https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples

---
#### Document Details

⚠ *Do not edit

[2019-12-22 21:40] ekalyvio opened #45106 "Incomplete tutorial"
This tutorial requires some kind of Node.js web API to be running.
1) It doesn't state it at all in the Prerequisites.
2) It would be nice if we could directly see a simple standalone .net desktop application authenticating its users to AD B2C (without the need of any other back-ends like Node.js).
3) Even in the case of the Node.js web API running, the tutorial does not say anything for replacing

[2019-12-22 21:51] jordanfinners commented on #45105
I came across this https://stackoverflow.com/questions/57260178/enable-javascript-on-b2c-custom-policy which would be great if it was covered off/made more clear on that page

[2019-12-22 22:04] marckassay opened #45107 "What's the significance of VM?"
This page is titled 'What is managed identities for Azure resources?' yet it makes reference to Azure virtual machines (VM) often, as if it has some sort of significance versus other Azure resources. If it does or does not, it should mention so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1-7081-cf6e-b7f9-e70

[2019-12-22 22:29] MarileeTurscak-MSFT commented on #45104
@gregfiske
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-22 22:31] MarileeTurscak-MSFT commented on #45105
@jordanfinners
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-22 22:32] MarileeTurscak-MSFT commented on #45107
@marckassay
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-22 22:35] MarileeTurscak-MSFT commented on #45106
@ekalyvio
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-22 23:13] dcbrown16 commented on #35885
@bobbytreed this still isn't showing in the ToC, same status as my last post. It's useful to have it bring up the ToC so you can find related documentation around this. Can you check it again?

[2019-12-23 00:58] kazshi commented on #44711
@rboucher Thanks for your comment. I got the following link from an internal resource and I think the  description in the page works (I will provide it to my customer for now). It would be great if you could update the descriptions in the metrics page.   Thanks.

TCP connection status
https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.halu101/constatus.htm

[2019-12-23 00:59] MarileeTurscak-MSFT commented on #44886
@DanteNahuel the roles and actions for Update Management are documented in this article: https://docs.microsoft.com/en-us/azure/automation/automation-role-based-access-control

For Azure DSC you wouldn't use Azure roles but server roles.

CC: @rolyon

If you have further questions please post to Microsoft Q&A: https://docs.microsoft.com/answers/questions/index.html

[2019-12-23 00:59] #44886 closed

[2019-12-23 01:01] KrishnaG-MSFT commented on #38558
@dcurwin Done.

[2019-12-23 01:03] DevOpsFounder commented on #44851
Thanks @AjayKumar-MSFT. I will raise a PR, actually I should raise many for other docs and labs as well as this is not the only one I found but I will schedule all of them as it's better to start PRs

[2019-12-23 01:04] MarileeTurscak-MSFT commented on #44890
Based on [this tutorial ](https://docs.microsoft.com/en-us/microsoft-365/compliance/meet-data-protection-and-regulatory-reqs-using-microsoft-cloud) I believe you need to be a global administrator, but I'm assigning this to the content author, @memildin , to update the article.

[2019-12-23 01:11] dcbrown16 opened #45108 "Service name?"
This is a good start, but there are tons of metrics named "Requests", for example. Each row needs to clearly indicate what provider it is coming from, or maybe this info should just be added as an additional column in the existing Supported Metrics tables that are already divided by provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-23 01:15] dcbrown16 opened #45109 "Supported aggregations"
Sometimes, choosing an aggregation other than the one listed as "Aggregation Type" in the big list of metrics can lead to weird results, like trying to Average something that is intended as a Total or a Count. Can you add some recommendations to this doc about choosing aggregation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-12-23 01:25] elepherai commented on #5717
@AshokPeddakotla-MSFT Any plan to support this? Or can I convert AML model to onnx and deploy on ARM processor?

[2019-12-23 02:23] KalyanChanumolu-MSFT commented on #45055
@aditya815 Please add the below using statements to your namespace

[code]

Code for the complete sample is [here](https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/master/CosmosTableSamples/SamplesUtils.cs) if you want to clone and run it.

Do let us know if you face any issues.

[2019-12-23 03:25] dcbrown16 commented on #40633
Just in case anybody checks this later, the smalldisk images are now almost all gone...

[2019-12-23 04:18] souravmishra-msft commented on #44694
@TylerMSFT, Can you please look at this.

[2019-12-23 04:19] souravmishra-msft commented on #44788
@rogereriksen, We are closing this thread for now. Please feel free to re-open this thread in case any further help needed.

[2019-12-23 04:19] #44788 closed

[2019-12-23 04:33] gasparsigma opened #45110 "Great tutorial"
Really nice tutorial, takes the developer by the hand and show how to setup from start to finish. One improvement would be to have an info section that would explain in details what each deployments and services actually mean, so it's easier to understand how to make one's own kubernetes yaml file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-12-23 04:42] msrini-MSFT commented on #45028
@Faricity , I will close this issue. Please tag me if you have any further questions.

[2019-12-23 04:42] #45028 closed

[2019-12-23 04:44] jakaruna-MSFT commented on #45073
@andresbarcenas You can create an service with backed by internal load balancer . Doc is [here](https://docs.microsoft.com/en-us/azure/aks/internal-lb)

You can also assisn a private ip to the ingress as well.  Checkout this document which discusses about adding a static private ip with nginx ingress https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip#create-an-ingress-controller

[2019-12-23 04:45] msrini-MSFT commented on #45098
@eveningit , I will go ahead and fix this doc. Both the VMs and the LB needs to be in the same region.

Can you try deploying both the LB and the VM in the same Region and try again ?

[2019-12-23 04:48] msrini-MSFT commented on #45098
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99633

[2019-12-23 04:53] jakaruna-MSFT commented on #45110
@gasparsigma
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-23 04:55] #45098 closed

[2019-12-23 05:02] SnehaAgrawal-MSFT commented on #45026
@dcbrown16 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-23 05:03] AshokPeddakotla-MSFT commented on #44814
@jflynn129 Please check the other issue and provided suggestions. Let us know if you need further help

[2019-12-23 05:10] pvrk commented on #44971
We are planning for the capability. Possibly in the beginning of new year. Will update as soon as I have closed the planning.

[2019-12-23 05:15] AjayKumar-MSFT commented on #44851
@DevOpsFounder, Thanks for sharing your valuable feedback, PRs & nice workflow demos. We really appreciate you taking time to share your feedback and interest in Azure. I have raised a PR on this & also shared your feedback with the author (@cephalin) internally. We will close this for now, kindly do let us know if you have any further questions. Thanks again!

[2019-12-23 05:15] #44851 closed

[2019-12-23 05:18] jakaruna-MSFT commented on #44867
@AjKundnani  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-23 05:18] #44867 closed

[2019-12-23 05:41] SubhashVasarapu-MSFT commented on #44872
@RaijmakersH , Appreciate your patience. We have assigned this issue to the respective author for updating the document accordingly.

[2019-12-23 05:53] SwathiDhanwada-MSFT commented on #45108
@dcbrown16 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-23 05:54] SwathiDhanwada-MSFT commented on #45109
@dcbrown16 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-23 06:04] jakaruna-MSFT commented on #44793
@candidson is there any update

[2019-12-23 06:10] SwathiDhanwada-MSFT commented on #45046
@IronmanM  Its totally based on number of emails that are being sent. Considering your example, for single alert, there are five emails being sent. So you will be left with 995 free units to be utilized. Please refer these ([Azure monitor Pricing](https://azure.microsoft.com/en-in/pricing/details/monitor/) , [Alert rate limiting](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts

[2019-12-23 06:20] CHEEKATLAPRADEEP-MSFT commented on #44413
@aparent-talend Azure Data Lake Gen2 is supported in Hortonworks Cloud distribution.
Cloudbreak is used to configuring access to ADLS Gen2.

Cloudbreak is a tool for provisioning and managing Apache Hadoop clusters in the cloud. Cloudbreak, as part of the Hortonworks Data Platform, makes it easy to provision, configure and elastically grow HDP clusters on cloud infrastructure. Cloudbreak can be us

[2019-12-23 06:28] CHEEKATLAPRADEEP-MSFT commented on #45074
@sandeep8530  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Azure Databricks](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks)

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-12-23 06:29] #45074 closed

[2019-12-23 06:40] dfoxnb opened #45112 "New-GuestConfigurationPackage error"
Getting the following error when running New-GuestConfigurationPackage, both locally and in Cloud Shell:
 'PsDesiredStateConfiguration' module is not supported by GuestConfiguration. Please use 'PSDscResources' module instead of 'PsDesiredStateConfiguration' module in DSC configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-12-23 06:52] PramodValavala-MSFT commented on #44878
@estensen Sorry for the delayed response. I believe this is best covered in the `Manage a function app` doc. Please feel free to open an issue there for tracking this.

[2019-12-23 06:55] dfoxnb commented on #45112
Resolved. When using the BaselineManagement module defaults to convert from Group Policy, it outputs the script file and mof using the 'PsDesiredStateConfiguration' modules. Needed to replace that with PSDscResources in the mof.

[2019-12-23 06:55] #45112 closed

[2019-12-23 06:58] SwathiDhanwada-MSFT commented on #45008
@rolyon When I tried to deploy the template , I am also prompted with similar error. Can you please provide your inputs ?
![image](https://user-images.githubusercontent.com/48976275/71341366-a5be2e00-257f-11ea-880d-deddfc011d0e.png)

[2019-12-23 07:00] jakaruna-MSFT commented on #44687
@siddharthdashore
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-23 07:00] #44687 closed

[2019-12-23 07:01] ekzp opened #45114 "How to install it?"
It would be nice to also link a page with installation instructions for the Azure AD Preview module. The page referenced in the note is also missing it. Shouldn't have to google it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a01fec2-4745-40f5-ac28-3e278e08e9f5
* Version Independent ID: e34e1b92-a59a-b215-12c4-8d56

[2019-12-23 07:04] ekzp commented on #45114
https://gist.github.com/nextechu/ab0d7483723b76d1249a4dc7c9e79b93

[2019-12-23 07:11] msrini-MSFT commented on #44772
@aruwo17 , I just followed the doc and created a Server VM. I am able to successfully install IIS.

![image](https://user-images.githubusercontent.com/47132998/71341870-20d41400-2581-11ea-9642-ba1a49a09525.png)

That error states that you didn't have Server Manager module which has the command which you are executing.

[2019-12-23 07:12] SychevIgor opened #45115 "Code sample is incorrect. "item" should be replaced with "telemetry""
The sample for MyTelemetryInitializer - looks wrong, because  "item" variable or parameter don't exist in a context.
Looks like should be used parameter "telemetry" for casting to (ISupportSampling).
Could you take a look and fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
*

[2019-12-23 07:55] SadiqhAhmed-MSFT commented on #45115
@SychevIgor Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@mrbullwinkle FYI.

[2019-12-23 08:00] SychevIgor opened #45117 "Update navigation to sampling"
in a recent version of azure portal - Ingesting sampling available not under "Features + pricing" like on a screenshot https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#ingestion-sampling
but on "usage and estimate"
Please, update screenshot and description.
![image](https://user-images.githubusercontent.com/578954/71344394-76a1bf80-2573-11ea-964d-edd85b16326d.png)

---
#### Docume

[2019-12-23 08:04] SadiqhAhmed-MSFT commented on #44792
@MaikelW It is expected to be fast, you can query it every few seconds or a minute. When there is a problem, we can do retries so it can take a bit longer.

Hope that answers your question!

Closing this issue for now. Feel free to reply to this post and tag me if you've any further questions in this matter and we can gladly continue the discussion.

[2019-12-23 08:04] #44792 closed

[2019-12-23 08:09] gldraphael commented on #36319
So much better now. Thanks!

[2019-12-23 08:09] #36319 closed

[2019-12-23 08:11] KrishnaG-MSFT commented on #45112
@dfoxnb Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2019-12-23 08:15] SadiqhAhmed-MSFT commented on #44864
@loopfish It's an account that needs to be present on each and every windows and Linux VM.
For Windows machines, the account needs local administrator privileges on the machines you want to replicate.
For Linux, provide details for the root account.

Hope that clarifies!

Closing this issue for now. If you've further questions, tag me in your reply and will continue the dicussion.

[2019-12-23 08:15] #44864 closed

[2019-12-23 08:19] SadiqhAhmed-MSFT commented on #45004
@santhoshbomma9 Hide the SKU hide it from the storefronts, it will be available through CLI or when deployed via ARM template.

Hope that answers your query!

Closing this issue for now. If you've further questions, tag me in your reply and will continue the dicussion.

[2019-12-23 08:19] #45004 closed

[2019-12-23 08:22] candidson commented on #44793
@jakaruna-MSFT I just had a chance to test. It does now work. Thanks a lot for your support!

[2019-12-23 08:22] #44793 closed

[2019-12-23 08:26] SychevIgor opened #45119 "Add more details Ingestion sampling behavior for distributed apps"
In our project we are using Application Insights for monitoring of a distributed application written on Asp.Net Core and Azure Functions. We see the value in sampling, but the following sentences doesn't describe required level of details:
"Like other types of sampling, the algorithm retains related telemetry items. For example, when you're inspecting the telemetry in Search, you'll be able to fin

[2019-12-23 08:39] MySecondLife opened #45121 "Error Types in redirect URI?"
I wanna handle error for different type, where can I get the list of errors specification?
[get-an-authorization-code](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code#1-get-an-authorization-code)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e20651-5b2b-b

[2019-12-23 08:40] loopfish commented on #44864
Thanks @SadiqhAhmed-MSFT

[2019-12-23 08:42] Eitan-Lev commented on #37386
Same here. Not working with classic storage

[2019-12-23 08:53] ChiragMishra-MSFT commented on #44938
@lotsahelp I will now proceed to close this issue. Feel free to still comment and tag me if you have any queries on the same.

[2019-12-23 08:53] #44938 closed

[2019-12-23 08:56] ChiragMishra-MSFT commented on #44951
@362241 Thanks for the feedback. It will help other people going through similar issues on the doc. I will now proceed to close this issue. Feel free to still comment and tag me if you have any query.

[2019-12-23 08:56] #44951 closed

[2019-12-23 08:57] ChiragMishra-MSFT commented on #45033
@esung22 Can you please take a look at this?

[2019-12-23 08:57] ChiragMishra-MSFT commented on #44949
@djpmsft Can you please take a look?

[2019-12-23 08:58] mandiaya commented on #44774
Any update??

[2019-12-23 09:00] mandiaya commented on #44774
Any Update on this issue?

[2019-12-23 09:01] mandiaya commented on #44774
Hi @DashleenBhandari-MSFT
Any Update on this issue?

[2019-12-23 09:05] jonathansd1 opened #45122 "`gulp` build fails due to node engine mismatch"
The engine.node version in package.json has a firm requirement for 6.9.1. Unfortunately, only 6.9.3 is available for app services, which actually causes the build process to use the latest node version (12.x). This causes an error as this application is still using gulp 3, rather than gulp 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-23 09:12] SwathiDhanwada-MSFT commented on #45065
@tfitzmac  As the user mentioned, seems filter on the dashboard tiles (All resources) has been removed. Can you verify and update the document accordingly?

[2019-12-23 09:13] AshokPeddakotla-MSFT commented on #45024
@deepakpalled I haven't found more details regarding this question. Please check and provide your suggestions. It would be great if we can can add more details to the documentation for more clarity.

[2019-12-23 09:23] AshokPeddakotla-MSFT commented on #44894
@tanieee28 Have you had a chance to see my response? Do let us know the requested details for further help.

[2019-12-23 09:31] jakaruna-MSFT commented on #44681
@jeanpoelie Thanks for the info.

Kubectl version is good. AKS version also looks good.

Lets try to access the pod directly using port-forward.

Replace my pod name "kubernetes-dashboard-cc4cc9f58-m2mt5" with yours in the below command.

`kubectl port-forward pods/kubernetes-dashboard-cc4cc9f58-m2mt5 8080:9090 -n kube-system`

This should forward the port 8080 from the local machine to pod port 9

[2019-12-23 09:32] msrini-MSFT commented on #44772
@aruwo17 , I will close this issue for now, Please tag me if you have any further questions.

[2019-12-23 09:32] #44772 closed

[2019-12-23 09:33] jakaruna-MSFT commented on #43965
@jnoller Please answer the customers query and then update the doc if needed

[2019-12-23 09:48] MarkDNL commented on #33157
@PgInsight @oising Did you only need to set the "Allow All Netwprks" to get the AppGw working again? We have a problem with the same symptoms, but we have the KeyVault in the same subnet, possibly a different root cause.

I cannot do anything using UI, PowerShell, CLI or Resource Explorer.

[2019-12-23 09:50] rayne-wiselman commented on #40915
The info has been updated in the matrix articles
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix
Should publish later today
#please-close

[2019-12-23 09:51] #40915 closed

[2019-12-23 09:53] RohitMungi-MSFT commented on #44719
@NITROEUTX Thanks for bringing this up. It looks like the error "No Endpoint keys found" is a transient issue seen in cases where there are multiple apps in your app service plan and the app service sets the key but gateway gives a timeout error. A possible fix to this is to delete this resource and re-create it.

Going forward this issue will be mitigated by improved deployment structure to avoid

[2019-12-23 09:57] adrianagdi opened #45123 "Recreate workspace with the same name after the soft-delete period"
The first section mentions that "After the soft-delete period, the workspace and its data are non-recoverable – data is queued for permanent deletion within 30 days and the workspace name is available and can be used to create a new workspace."

I am trying to recreate a workspace with the same name on the 18th day after deletion. This is after the soft-delete period of 14 days, but before the add

[2019-12-23 10:03] rayne-wiselman commented on #45013
Fixed, disks support info now in a single place in the support matrix. Fix should check in later today.
#please-close

[2019-12-23 10:03] #45013 closed

[2019-12-23 10:07] tanieee28 commented on #44894
Hi @AshokPeddakotla-MSFT . Sorry for delayed response.

I have also followed the same document and still when deploying the module, after module start the above mentioned error logs are coming ( Error 39987)

Let me explain the scenario again,
1. I am deploying the blob on iotedge with the configuration mentioned above in the issue.
2. I have an azure blob storage on AZURE whose connection string

[2019-12-23 10:08] rayne-wiselman commented on #45085
Hi Siddharth. For internal documentation please talk to me or the doc owner from your team, and not use github issues.

thanks
#please-close

[2019-12-23 10:08] #45085 closed

[2019-12-23 10:09] rayne-wiselman commented on #45100
Hi Siddharth. For internal documentation please talk to me or the doc owner from your team, and not use github issues.

thanks
#please-close

[2019-12-23 10:09] #45100 closed

[2019-12-23 10:09] rayne-wiselman commented on #45097
Hi Siddharth. For internal documentation please talk to me or the doc owner from your team, and not use github issues.

thanks
#please-close

[2019-12-23 10:09] #45097 closed

[2019-12-23 10:09] rayne-wiselman commented on #45087
Hi Siddharth. For internal documentation please talk to me or the doc owner from your team, and not use github issues.

thanks
#please-close

[2019-12-23 10:09] #45087 closed

[2019-12-23 10:09] rayne-wiselman commented on #45086
Hi Siddharth. For internal documentation please talk to me or the doc owner from your team, and not use github issues.

thanks
#please-close

[2019-12-23 10:09] #45086 closed

[2019-12-23 10:15] jonathansd1 commented on #45122
[code]

[2019-12-23 10:28] rayne-wiselman commented on #45006
Pointed the article to the support matrix for the latest info. - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#azure-vm-requirements
8 is supported.
Change should show up later today. #please-close

[2019-12-23 10:29] #45006 closed

[2019-12-23 10:32] SnehaAgrawal-MSFT commented on #45122
@jonathansd1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-23 10:33] RohitMungi-MSFT commented on #44806
@TheDhejavu Based on the screen shot above this could be a deployment issue with the resource and the best way to handle this is through our service team using the Azure support forum from the **Help+Support** blade from Azure portal. Please let us know if you are still facing issues and do not have access to a valid support plan. We can help you generate a one time support request for your accoun

[2019-12-23 10:34] dcurwin commented on #38558
#reassign:sachdevaswati

[2019-12-23 10:35] rayne-wiselman commented on #44744
Fixed. Change will show up later today. #please-close

[2019-12-23 10:35] #44744 closed

[2019-12-23 10:37] #44806 closed

[2019-12-23 10:40] rayne-wiselman commented on #43482
Thanks for your feedback! Customer-managed key is not currently supported in Site Recovery. The article is updated and changes should show up later today.
#please-close

[2019-12-23 10:40] #43482 closed

[2019-12-23 10:45] rayne-wiselman commented on #43246
For Azure VM to Azure VM replication, the correct statement, (with a link to the PowerShell instructions) is in this document -https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix

Re the document referenced in this issue - I'm in the process of updating with the correct info. Thanks for your feedback!

[2019-12-23 10:46] dzajda opened #45125 "Getting an error while connecting with data source - Unable to connect to data source."
Hello,

I've created a private blob storage to store the JSON files.
Now, I'm trying to use that storage withe the Search service. Unfortunately, after I've created a data source and linked it with the blob storage, I got:

`Unable to connect to data source.`

It's a kind of weird, because I'm using the connection string from the storage's Access Key tab.

Is it possible to somehow get more info w

[2019-12-23 10:50] SwathiDhanwada-MSFT commented on #45123
@adrianagdi Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-23 10:51] jonathanantoine commented on #34999
Hello @ggailey777 : can you confirm me this assumption just for my sake of mind ?

If I let it to "1" (the default value) and I have only ".Net Function" in my AppService : only one Function will be working at a time ?

Regards.

[2019-12-23 10:53] rayne-wiselman commented on #42512
Investigating this one.

[2019-12-23 10:54] urosmil commented on #39213
Hi, and thank you for the valuable feedback. Parameters you are referring to (Edition, Location, ComputeGeneration, SubnetId) are not required for creating instance inside the instance pools, as all these parameters are inherited from the pool. That is why we have created demo instruction using command with minimal input parameters supplied.

Of course, there are other ways to create instance insi

[2019-12-23 10:59] Ahmad-Al-Ali commented on #45122
Hello, I am getting the same error, I am using Node version 10.17.0 , npm version 6.12.0 and gulp version 3.9.1
I tired downgrading to Node 10.x as suggested online as it seems version 12 is not supported with gulp 3.x

https://stackoverflow.com/questions/55921442/how-to-fix-referenceerror-primordials-is-not-defined-in-node

[2019-12-23 11:08] urosmil commented on #39215
Hi, once again thanks for the feedback, we really appreciate it. In this case, we have covered scenario where after command is executed, PowerShell prompts for entering username and password and after you provide them, create process starts.

Alternative would be same as your proposal. Create PSCredential object using command $mycredentials = Get-Credential where you will be also prompted to enter

[2019-12-23 11:12] RohitMungi-MSFT commented on #44825
@lostmygithubaccount Could you please try the following command?

[code]

A PR [99640 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/99640)is submitted to update the document. The change should be updated in the document in the next 24 hours after approval.
We will go ahead and close this issue now. Thanks a lot for helping us out.

[2019-12-23 11:12] #44825 closed

[2019-12-23 11:27] PramodValavala-MSFT commented on #44807
@lechnerc77 This yet to be implemented and the docs have been updated as such. The issue, Azure/azure-functions-durable-js#134, tracks its implementation.

Since there is no other doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-23 11:27] #44807 closed

[2019-12-23 11:34] RohitMungi-MSFT commented on #44826
@CeciAc @vstokelbusch We have tried the v2.1 API and the output matches the current description of the documentation. Please find the screen shot below:
![image](https://user-images.githubusercontent.com/46958063/71355777-16784100-25a6-11ea-80ff-e5f11e60714e.png)

We will go ahead and close this issue as the output matches the results from the current API.

[2019-12-23 11:38] SwathiDhanwada-MSFT commented on #45109
@dcbrown16 [This](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported-export-diagnostic-settings) document contains the information of Aggregation Type for each metric that are supported. Can you please let me know if you are looking for any other information that is not included in the document?

[2019-12-23 11:41] RohitMungi-MSFT commented on #44955
@marktab Thanks for the update to the document, @mcurko  The update provides links to other options to migrate data to SQL server. Please take a look and let us know if this helps. We will go ahead and close the issue. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-23 11:41] #44955 closed

[2019-12-23 11:45] #44826 closed

[2019-12-23 11:51] win2000b opened #45126 "Naming Conventions"
It is noted that in the Microsoft naming conventions for Storage accounts they use the same 3 character prefix. However, within the paritions recommendation they recommend a unique ref to ensure they dont end up on the same partition. Please can you advise.

Examine the naming convention you use for accounts, containers, blobs, tables, and queues. Consider prefixing account, container, or blob nam

[2019-12-23 11:52] jakaruna-MSFT commented on #45104
@gregfiske
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@MikkelHegn Please take care of this issue

[2019-12-23 11:58] dcurwin commented on #38999
Thank you for your question. The document will be updated soon with the following information:

You can back up your data over Azure ExpressRoute with public (available for old circuits) and Microsoft peering. Backup over private peering is not supported.

With public peering: Ensure access to the following domains/addresses:
•	http://www.msftncsi.com/ncsi.txt
•	*.Microsoft.com
•	*.WindowsAzure.co

[2019-12-23 11:58] #38999 closed

[2019-12-23 12:25] jakaruna-MSFT commented on #44484
@gerrynicol I hope the last reply by @stgeorgi helps you.

Let us know if you need more information

[2019-12-23 12:33] shashishailaj commented on #44794
@rolyon  Could you please take a look at this doc-enhancement request ?

[2019-12-23 12:41] wolfma61 commented on #36496
sorry for the delay, the docs have been updated.

[2019-12-23 12:47] wolfma61 commented on #37367
the documentation has been updated. language coverage in batch is supposed to be identical to speech to text. we are constantly increasing language coverage in both features.

we are supporting the same set of languages in all regions.

[2019-12-23 12:49] jakaruna-MSFT commented on #44572
The image used https://hub.docker.com/r/seabreeze/azure-mesh-todo-webfrontend/tags is listening on  port 80.

If we change the service endpoint port to 80, Then the template should work well.

I will check and update the doc accordingly

[2019-12-23 13:04] nagarajumicrosoft opened #45127 "Unable to create VM Scale set which is using a virtual network containing azure bastion subnet"
1. I am referring below article and created a bastion host.
 https://docs.microsoft.com/en-us/azure/bastion/bastion-create-host-portal
**Address space: 10.0.0.0/16**
Error message:
The address space '10.0.0.0/16' overlaps with '10.0.0.0/24' in virtual network 'jberrySAPPLTDevOps-vnet'.

**Subnet: 10.5.1.0/24**
Error Message: Your sub net is not contained within the address space for this virtual n

[2019-12-23 13:06] PramodValavala-MSFT commented on #45048
@Expecho Thanks for the feedback! We have assigned this issue to the content author for further review and to update the doc accordingly.

[2019-12-23 13:10] nareshynn opened #45128 "One Data factory with 2 git repositories"
Hi,

i am planning to deploy One data factory with 2 projects using 2 github repositories. is it possible to use like this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7309c102-934f-e073-823d-684804e38ff9
* Version Independent ID: 2035c3ea-1e64-4f1b-0194-c1b407812e28
* Content: [Source control - Azure Data Factory](

[2019-12-23 13:11] ManmohitSingh10 opened #45129 "The image 'acr/image name' in container group 'container group' is not accessible. Please check the image and registry credential"
I have followed all the steps mentioned in this document to create a azure container instance from a image in already existing azure container registry deployed in a separate resource group and getting the error - 'The image 'acr/image name' in container group 'container group' is not accessible. Please check the image and registry credential'.I have validated the key vault secrets are properly ge

[2019-12-23 13:23] estensen commented on #44878
Could you please provide a link?

[2019-12-23 13:50] Jont-K opened #45130 "Private plan - purchaser requirement"
Would be helpful to also cover the buyer's journey, including the AAD role that must be held by the buyer in order to complete the transaction.

It would also be helpful to mention that the purchasing organization (the buyer of the privzte plan) must have authorized the purchase of Azure transactions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-23 13:50] bertrandpons opened #45131 "How to set Provisioning mode to Automatic or Manual with Powershell or CLI"
Hello,

Could you please indicate how to set Provisioning mode to Automatic or Manual with PowerShell or CLI, if possible?

Thank you

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 2c1706ff-d825-81cc-929a-274db6903b24
* Version Independent ID: 927aef90-4e55-8535-f143-ff8b2ab8e555
* Content: [User provi

[2019-12-23 14:16] stefanstranger commented on #45028
I also created the VMs in Availability set before trying to add them to the BackEnd Pool of the Load Balancer and I don't see the option to choose for the Availability set. I see the following options:
* Unassociated
* Virtual Machine
* Virtual Machine scale set

No Availability set to select.

[2019-12-23 14:28] ManmohitSingh10 commented on #45129
I have finally managed to fix the issue. It was with the container registry and corresponding image name. Closing this issue. Thanks.

[2019-12-23 14:28] #45129 closed

[2019-12-23 14:47] NavtejSaini-MSFT commented on #44592
@rangler2 Please confirm if you need further help. We will close the thread by EOD. Thanks for the feedback again

[2019-12-23 14:48] jzuchora87 opened #45132 "Is there a REST call for transferring subscriptions?"
Hello,
I'm looking to transfer several hundred subscriptions from my home tenant to another tenant. Is there a REST API I can call to help? While reviewing the portal logs, I've come across "https://s2.billing.ext.azure.com/api/Billing/Subscription/EditDirectory?api-version=2019-01-14" but it appears to be non-standard and no official doc on it.

---
#### Document Details

⚠ *Do not edit this sect

[2019-12-23 14:56] jofrance opened #45133 "Deployment Powershell SAS Template"
The Powershell New-AzResourceGroupDeployment can't just read the json file, it seems that you need to generate the SAS token first since the location is not public, please double check the information on the deployment section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version

[2019-12-23 14:59] dcurwin commented on #45133
#reassign:pvrk

[2019-12-23 15:07] andrei-dascalu opened #45134 "What about Azure CLI statements?"
Would be helpful to have or at least point to az cli statements to achieve the same goal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23617aaa-af93-2f09-5a7a-2a9a977dc5f2
* Version Independent ID: 0d68d344-4b56-6f3b-ac02-08d43e2ac559
* Content: [Azure Quickstart - Set and retrieve a secret from Key Vault using Azure

[2019-12-23 15:09] fadyanwar commented on #44475
Hi @dominicbetts thanks for this, it worked nicely with the new IoTC templates. I didn't realize that the new template have a different firmware on a different repo, I was assuming the old firmware is going to be forward compatible. The new template however doesn't have but the telemetry for temperature, humidity and pressure unlike the old one. Also it's no longer possible to see logs on the seri

[2019-12-23 15:18] shashishailaj commented on #45114
@ekzp Thank you for your feedback and for the details . We will have this reviewed and updated as needed.

[2019-12-23 15:19] SumanthMarigowda-MSFT commented on #45099
@lucidhwee Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

[2019-12-23 15:53] jonathansd1 commented on #45122
I'm continuing to work on this issue on my end as well. Upgrading to gulp 4 seems to have created a different error, thought the gulp build still fails.

[code]
{
...
  "engines": {
    "node": "6.9",
    "npm": "3.10"
  },
...
  "devDependencies": {
  ...
    "gulp": "^4.0.2",
  ...
}
[code]

[2019-12-23 16:04] glloyd2010f opened #45139 "Documentation Update - Self Signed and Private CA Certificate Support"
Please update documentation to reflect that App Services DO NOT support leveraging certificates that are Self-Signed or generated by an Internal/Private Certificate Authority.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf6dd80-7e07-3e24-7aa8-d3f278f34588
* Version Independent ID: e06a85f1-9a8c-7b94-a86d-33bdf2daf9

[2019-12-23 16:07] Adam-Smith-MSFT commented on #45126
@win2000b Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-23 16:08] Adam-Smith-MSFT commented on #45056
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-23 16:08] #45056 closed

[2019-12-23 16:16] HughDevlin opened #45140 ""production""
In section "What happens to my app during deployment?": "These files are the same ones that are run in production." The word production here is awkward. Better might be something like "These files are the "live" files, the same ones used by the Azure App Service running in execution."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-23 16:22] kummerer94 opened #45141 "MSI_SECRET needs to be sent as header"
In the paragraph describing the REST protocol (Using the REST protocol), it is stated that one needs to add the parameters "resource", "secret", "api-version", and optionally "clientid". This is not very precise.

The `MSI_SECRET` value needs to be specified as a header and not as a parameter in the GET request. The description for the environment variable even states this:

&gt; MSI_SECRET - a he

[2019-12-23 16:24] deyanp opened #45142 "InvalidTemplate, Deployment template validation failed: 'The template resource 'Microsoft.Web/sites/.../slots/...' cannot reference itself."
What about "... cannot reference itself" errors?

We have a template with 2 resources for sites (azure functions) and slots, both with copy, and we get the error in the title of this post ... How can we debug it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49375f7b-bb27-0226-8918-c42eed13b4ee
* Version Independent I

[2019-12-23 16:25] gabrielnespoli opened #45143 "relative URL example is incorrect"
In https://docs.microsoft.com/en-us/azure/data-factory/connector-http#dataset-properties it says that the final URL will be
 [URL specified in linked service]/[relative URL specified in dataset]
It says that '/' is automatically present between the URL in LS and in the relative URL in the dataset, but this is not true. If you don't add the / in the end of the LS url, it will concat the 2 url strin

[2019-12-23 16:28] PramodValavala-MSFT commented on #44878
Sorry about that... Missed adding the link before. Updated my comment with it. Here is the same

https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings

[2019-12-23 16:37] imjuststeve commented on #7705
Any word on this? It's currently preventing our migration.

[2019-12-23 16:47] philippschaefer4 commented on #44990
Hey,
sure ... the first question is basically "Is it at all possible to automate retraining and updating an inference webservice with Data Factory?" I can imagine 3 basic answers: Yes, no and not yet.
My second question is more if the inference webservices of the new AML is supposed to be used like this. Perhaps this feature will be added later (since this is all preview right now).
I also can ima

[2019-12-23 16:52] Andy9874 opened #45144 "Developer Portal with OAuth2"
When OAuth2 is enabled, and I browse to the Legacy Developer Portal to "Try" the API, there was a section called "Authorization" that let me select the Authorization type and generated an authorization token. From the current portal, I don't see this section available, and when I click "Send" I get the following response.

HTTP/1.1 401 Unauthorized

content-length: 85
content-type: application/jso

[2019-12-23 16:52] BhargaviAnnadevara-MSFT commented on #45080
@saf-itpro Glad you were able to resolve the error! Thanks for reaching out!

[2019-12-23 16:54] jeevansd commented on #44774
@mandiaya To login the external users into JIRA Server first thing is you need to create these users in JIRA server. Make sure that you use Email address as username here. Then in Azure AD you can use conditional claims for sending the email address in NameID for these external users. This way for Members you can end the existing value like UPN or email address what you are sending but for Externa

[2019-12-23 17:10] asergaz commented on #44935
Hello @larsonmpdx this is a good observation\feedback! If I [read here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins):

"**Device identity properties**. The root of the device twin JSON document contains the read-only properties from the corresponding device identity stored in the identity registry."

I would, like you, expect that "connectionStateUpdatedTime" prope

[2019-12-23 17:10] hrasheed-msft commented on #44435
#please-close

[2019-12-23 17:10] #44435 closed

[2019-12-23 17:16] Squall90 opened #45145 "S1 Tier cost and Batch request"
Question, what is considered a transaction when using the Batch API ?

Does one Batch API request count as one transaction? or is it dependent of the number of queries the batch contains?
for example, if the batch request contains 5 queries, would the request count as 5 transactions?

[2019-12-23 17:17] oviliz commented on #38914
@aspnet4you , how is whitelisting the IP alone enough to get Secrets/Keys without a relevant Key Vault Access Policy?

[2019-12-23 17:24] SnehaAgrawal-MSFT commented on #45139
@glloyd2010f Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-23 17:26] aspnet4you commented on #38914
@oviliz - Very good question. Whitelisting of IP is one of the last defense against unauthorized access to vault.  Service Principal must be configured with Key Vault Access Policy to list and get keys and secrets. It's the 2nd requirement as stated in my post - [Azure DevOps Build Pipeline- use keys and secrets from Key Vault](https://blogs.aspnet4you.com/2019/09/20/azure-devops-build-pipeline-us

[2019-12-23 17:30] asergaz commented on #44814
Assigning to @JimacoMS3 for following-up while the transition for v2 is not completed. Thanks!

[2019-12-23 17:30] AjayKumar-MSFT commented on #45057
@swagulkarni, There is no way to directly manipulate or manage which indexes run on a replica. One copy of each index on every replica is part of the service architecture. Each replica always hosts one copy of an index. Additional copies of the index are brought online to support bigger query workloads and to load balance the requests over the multiple replicas.

[2019-12-23 17:30] SnehaAgrawal-MSFT commented on #45140
@HughDevlin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-23 17:32] SnehaAgrawal-MSFT commented on #45141
@kummerer94 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-23 17:32] iMemphisXx opened #45146 "Jira Administrator Access with 'Force Azure Login' enabled"
When the option 'Force Azure Login' is enabled, it is impossible to access Jira's System settings as it requires Administrator elevation. The users' password must be confirmed to access this area; however, the user will be directed back to the Azure AD federation login page, sending them back to the Jira dashboard. The login button and script used to force login needs to be removed from the admini

[2019-12-23 17:34] SnehaAgrawal-MSFT commented on #45119
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-23 17:38] jlian commented on #45075
Please assign to me. In fact I'm going to change the listed author to me as well in a later PR

[2019-12-23 17:39] SnehaAgrawal-MSFT commented on #45117
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-23 17:43] SnehaAgrawal-MSFT commented on #45121
@MySecondLife Thanks for the feedback! Request you to share the document you are referring to help you better on this. Also the link shared is not working.

[2019-12-23 17:44] SnehaAgrawal-MSFT commented on #45125
@dzajda Thanks for the feedback! Request you to share the document you are referring to help you better on this.

[2019-12-23 17:45] CKeene78 opened #45147 "body: undefined"
Possible bug? The "Trigger Example =&gt; Javascript" section shows that you access the body of the sent request via "req.body". However, the req object only shows "body: undefined" and "rawBody: undefined" when reading the "req" object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad5184134c0

[2019-12-23 17:49] shahidpages opened #45148 "Text formatting on page - bold missing"
[Enter feedback here]
URL: https://docs.microsoft.com/en-gb/azure/active-directory/authentication/howto-mfa-userstates?source=docs#choose-how-to-enable

For consistency purpose and easier reading, please make these two items also bold;
**Enabled by Conditional Access policy -**
**Enabled by Azure AD Identity Protection -**

---
#### Document details

⚠ *Do not edit this section. It is required for

[2019-12-23 17:50] eveningit commented on #45098
Hi Karthik, I already tried deploying the VMs and LB in the same region and it didn't work. The following step is not clear to me:

Under Network Security Group:

Select Advanced.
Drop down Configure network security group and select None.

You can only select none or advanced. Not advanced then none. I had selected none before

[2019-12-23 17:50] jonathansd1 commented on #45122
A new clue! This occurred after I had -- out of frustration -- copied the [package.json](https://raw.githubusercontent.com/meanjs/mean/0.5.0/package.json) from the corresponding version in the [original repository](https://github.com/meanjs/mean). The versions all seemed reasonable, and nothing else about the configuration really stuck out to me.

The next question is, then -- can I include python

[2019-12-23 17:51] msrini-MSFT commented on #45127
@nagarajumicrosoft  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-23 17:51] jonathansd1 commented on #45122
I will admit it's possible I missed this, but I don't think I did. I originally discovered the need for python when compiling locally (which I did successfully).

[2019-12-23 18:02] webash commented on #42535
I'm not sure I agree that that logic provides a remit to be able to ignore the server certificate at the EAP level. Certificates only work if people trust them. If they aren't trusted, and are ignored, then that's how bad things happen.

If you truly believe that ignoring a certificate name mismatch is valid advice, then the documentation should include this explanation for people to make their ow

[2019-12-23 18:04] tfitzmac commented on #44736
We'll close for now, but it can be reopened later if still an issue.

[2019-12-23 18:04] tfitzmac commented on #44736
#please-close

[2019-12-23 18:04] #44736 closed

[2019-12-23 18:06] swagulkarni commented on #45057
@AjayKumar-MSFT  - I understand that the a copy of index is stored on each replica. My question is to understand how Azure search handles the incoming search requests when indexing operation is also going on at the same time.
Is there a possibility that users might see inconsistent results depending on which replica the request?

[2019-12-23 18:06] Karishma-Tiwari-MSFT commented on #45128
@nareshynn Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-23 18:07] dedreira opened #45149 "Fix BatchServiceClient constructor example"
The BatchServiceClient constructor example has an error, according with:
https://docs.microsoft.com/en-us/python/api/azure-batch/azure.batch.batchserviceclient?view=azure-python
it should be:
batch_client = BatchServiceClient(
credentials,
batch_url=BATCH_ACCOUNT_URL
)
instead of:
batch_client = BatchServiceClient(
credentials,
base_url=BATCH_ACCOUNT_URL
)

---
#### Document Details

⚠ *Do not edi

[2019-12-23 18:07] Karishma-Tiwari-MSFT commented on #45129
Thanks for sharing the update.

[2019-12-23 18:08] Karishma-Tiwari-MSFT commented on #45145
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-23 18:10] hrasheed-msft commented on #44080
@NavtejSaini-MSFT @dmakogon The author has reached out to the engineering team, but most people are away for the holidays. Will try to reply with a resolution after Jan 2. Thanks.

[2019-12-23 18:11] tfitzmac commented on #45142
@deyanp - are you using copy on the resource, a property or a variable? It sounds like you are trying to set a value based on the current resource instance. Are you using the reference function? If so, I would start with that usage to see if somehow the value needs to be changed. Otherwise, you could debug your template by trying to simplify it. Can you deploy one resource at a time?