[2018-05-08 20:16] #8235 closed

[2018-05-08 20:17] toddrob opened #8291 "Code sample is broken"
I can get the template to deploy successfully after changing the API version from "2015-03-20" to "2017-03-15-preview" (this was to get past this error: "This oms query language is not supported on current workspace anymore. The query cannot be converted 09:33:14 - to new language. Check query syntax.)"

I can view the enabled alert rule fine in the portal, but when I drill into the details of it

[2018-05-08 20:22] mjsmith1568 opened #8293 "Create a front-end VM - name used twice"
I'm still learning, but in the instructions above, does the Front End NIC and Front End VM have the same names?
(they both use: -Name myFrontend)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189be6f-c957-7d54-648c-0ec9aa35f4b6
* Version Independent ID: 2017f421-9025-9ade-ad76-4778cf7ba96e
* Content: [Tutorial - Crea

[2018-05-08 20:27] MohitGargMSFT commented on #8273
@SychevIgor Please note as stated by Mike, create a GIT Hub Feedback on this document - [Tutorial: Azure Active Directory integration with Teamphoria](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-teamphoria-tutorial) so that we can work with you to understand which section is outdated as I am not finding any classic portal reference.

I will move ahead and close th

[2018-05-08 20:32] TomArcher commented on #8287
@craigshoemaker is the doc writer for Node.js

[2018-05-08 20:33] msghaleb opened #8296 "Small Typo"
The "D" in Deny has to be small.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f125a6-bdb5-71c6-dad9-2d60bdb8e5aa
* Version Independent ID: 660b0fda-b107-f1fe-d1ad-27b7e37fb7e9
* Content: [Azure Policy json sample - Allowed locations](https://docs.microsoft.com/en-us/azure/azure-policy/scripts/allowed-locs)
* Conten

[2018-05-08 20:40] #8276 closed

[2018-05-08 20:49] MohitGargMSFT commented on #8255
@webash Please note that in [Pricing tiers](https://docs.microsoft.com/en-gb/azure/security-center/security-center-pricing#pricing-tiers) section of the document below information is already provided, which takes you to Security Center pricing page.

For more information, see the Security Center [pricing page](https://azure.microsoft.com/en-us/pricing/details/security-center/).

[2018-05-08 20:51] peddabavisriram commented on #7960
yep looking for TCP probing details

[2018-05-08 20:55] HowardEdidin commented on #7419
dotnet new -i Microsoft.Azure.IoT.Edge.Module
A fatal error occurred, the required library hostfxr.dll could not be found at C:\Program Files\dotnet\

[2018-05-08 20:56] HowardEdidin commented on #7419
The library hostfxr.dll  is there

[2018-05-08 20:56] nuiwos commented on #8274
@YutongTie-MSFT Had used that. It worked. Thanks.

[2018-05-08 20:58] HowardEdidin opened #8298 "dotnet new -i Microsoft.Azure.IoT.Edge.Module"
A fatal error occurred, the required library hostfxr.dll could not be found at C:\Program Files\dotnet\
library hostfxr.dll exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure IoT Edge C# module](http

[2018-05-08 21:01] MohitGargMSFT commented on #8257
@denavin Please note that the document do include information regarding error code 50089

'50089 | Flow token validation failed due to flow token expiry.'

If you need assistance regarding your issue, please ask question in [outlook.com community](https://answers.microsoft.com/en-us/newthread?threadtype=Questions&cancelurl=%2Fen-us%2Foutlook_com) so that community will help address your query.

[2018-05-08 21:01] PatAltimore commented on #8254
@HowardEdidin Thanks for the feedback. I'm working on post build changes. I'll add this to the list.
#in-progress

[2018-05-08 21:01] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- I dont think we can use the ubuntu which comes with docker pre installed. Because we are using our own docker register and we have a script we get the images from the our own docker register and setup the docker host during the runtime of cloud init .

[2018-05-08 21:02] femsulu commented on #8267
@markmassad, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-08 21:03] PatAltimore commented on #8254
@HowardEdidin Oh, I forgot...  Check out other samples here: https://github.com/Azure-Samples/blockchain

[2018-05-08 21:06] HowardEdidin commented on #8254
I am waiting for the IoT samples

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Pat Altimore <notifications@github.com>
Sent: Tuesday, May 8, 2018 4:03:47 PM
To: MicrosoftDocs/azure-docs
Cc: Howard Edidin; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AllowedInstanceRoles (#8254)

@HowardEdidin<https://github.com/HowardEdidin> Oh, I forgot... Check out other s

[2018-05-08 21:15] Ayanmullick commented on #6792
The diagnostics 'audit logs' never show up on Log Analytics.

[2018-05-08 21:30] mattbriggs commented on #8222
@vermeerr Thanks for letting me know. I think the documentation is a currently a bit confusing about what the URL is used for and some of the context; it doesn't say that the endpoint is needed, but then it is also pretty vague about why it is explaining this! :)  I will review this section of our docs to make them clearer, but won't be able to get it right away. #please-close

[2018-05-08 21:37] tfitzmac commented on #8214
@knssub - you can [copy the managed disks](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-to-same-or-different-subscription) and then [create a vm with the existing managed disks](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-create-vm-from-managed-os-disks?to

[2018-05-08 21:42] nuiwos opened #8300 "Deploy error"
Error encountered when running the deploy step in 00_QuickStart.ipynb.

401 Client Error: Unauthorized for url: https://management.azure.com/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourcegroups/nui-sample-rg/providers/Microsoft.MachineLearningModelManagement/accounts/nui-sample?api-version=2017-09-01-preview

HttpException: (401)
Reason: Unauthorized

---
#### Document Details

⚠ *Do

[2018-05-08 21:43] #6128 closed

[2018-05-08 21:49] kobulloc-MSFT commented on #8215
@karthikeyanVK Adding on to my previous answer, this is referring to the "Export button at the top of a metrics or search blade" that is an alternative to continuous export.  If you are looking at the continuous export blade, I don't see a one-time download option either.

@mrbullwinkle can you confirm that I'm not missing something here?

![image](https://user-images.githubusercontent.com/3755665

[2018-05-08 21:55] #8230 closed

[2018-05-08 21:56] tdykstra commented on #8230
@ishepherd Thanks for reporting that - I've made the fix, and it should be live either this afternoon or tomorrow morning.

[2018-05-08 22:09] Mike-Ubezzi-MSFT commented on #8224
@janlange Thanks for communicating the resolution to your issue. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 22:10] #8224 closed

[2018-05-08 22:26] habtamua opened #8302 "Convert a single Linux virtual machine in Azure from unmanaged disks to managed disks which already in an availability set - Azure Managed Disks"
I wish there is a way to convert a single vm to a managed disks which already in an availability set, and since we don't want to deallocate/stop all vms and interrupt whole services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056e00-8b21-8439-27c4-f506bbf76dbe
* Version Independent ID: 54752162-9e09-4e7c-09fa-135

[2018-05-08 22:27] bwren commented on #8291
@toddrob This may have changed with the new alert experience.  I'll follow up with PMs.

[2018-05-08 22:28] YutongTie-MSFT commented on #8290
@juharris Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi, here is advice according to the document, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-08 22:30] bwren commented on #8291
#in-progress

[2018-05-08 22:34] Mike-Ubezzi-MSFT commented on #8251
@Powerhelmsman Do you have a specific document you are attempting to point out an issue for, or did you find an issue with a tutorial? I am trying to understand this GitHub request and I am not sure of next steps, so I am requesting additional information from you. Please find the public facing document you are working with and using the 'Give document feedback' link at the bottom, file an issue.

[2018-05-08 22:44] bwren commented on #7620
@slavizh Thanks for this, we didn't get notified of this one.  I don't think we included community supported solutions in that list, but I think this one makes sense.  I'll go ahead and change the link to that solution and fix the frequency.

[2018-05-08 22:44] bwren commented on #7620
#please-close

[2018-05-08 22:46] neilpeterson commented on #8216
@noelbundick doc is updated, went with `journalctl -u kubelet -o cat`. Thanks again for the heads up on this.

#please-close

[2018-05-08 22:55] jason-j-MSFT commented on #8220
@HemantChandurkar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 22:56] jason-j-MSFT commented on #8229
@smoms
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 22:57] jason-j-MSFT commented on #8281
@johnwildes
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 22:58] Mike-Ubezzi-MSFT commented on #8197
@ksurendra  There is a GitHub contributors guide that is provides an overview of the process for existing documentation. I am not sure of new content. Do you have a MS alias so that I can send you a link?
Thanks,
Mike

[2018-05-08 23:02] YutongTie-MSFT commented on #8280
@nuiwos Thank you for your feedback, can you use the service to deploy the model successful? Though I have the issue too, I can deploy successfully.

@tedway Hi, I have verified the issue, do you think it's necessary to add some notes in the doc? Can you please help and update the document as necessary? Thanks a lot.

[2018-05-08 23:04] YutongTie-MSFT commented on #8279
@kirbybrunclik Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 23:06] YutongTie-MSFT commented on #8219
@Wayne-Shen Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi This is a issue about product, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-08 23:09] MicahMcKittrick-MSFT commented on #8286
@ocgken Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 23:10] tedway commented on #8300
Hi nuiwos, thanks for giving this a try!  Currently we have a quota request requirement before deployment can be successful.  Could you please fill this out first: https://aka.ms/aml-real-time-ai-request.  We'll notify you when the quota has been allocated.  Apologies that was not in these docs.  We'll get this updated.  Please go to http://aka.ms/aml-real-time-ai for the latest.

[2018-05-08 23:10] MicahMcKittrick-MSFT commented on #8293
@mjsmith1568 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 23:12] YutongTie-MSFT commented on #8300
@nuiwos We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@tedway Thank you for your response!

[2018-05-08 23:12] #8300 closed

[2018-05-08 23:12] MicahMcKittrick-MSFT commented on #8302
@habtamua thanks for the feedback! Please leave your suggestion on our [feedback page](https://feedback.azure.com/forums/34192--general-feedback) so the product groups can see and consider adding that functionality.

![image](https://user-images.githubusercontent.com/32313503/39787514-90504180-52da-11e8-86f1-58eb3315861e.png)

[2018-05-08 23:12] #8302 closed

[2018-05-08 23:13] Joyliu290 opened #8307 "Could not install package 'Microsoft.ServiceFabric 6.1.480'"
Hi I was following the tutorial: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app#prerequisites and I followed the set-up instructions. But I realized that VS is not recognizing Service Fabric API like this:
![image](https://user-images.githubusercontent.com/23625527/39787263-841bc49e-52f2-11e8-8f26-97d1fb468cff.png)

I thought I'm missing the API so

[2018-05-08 23:14] Powerhelmsman commented on #8251
@marketresearchru Please follow the above the instruction.

[2018-05-08 23:16] ksurendra commented on #8197
@Mike-Ubezzi-MSFT  Actually i'v read the docs here and for new articles, we need to submit an issue to start a conversation:

https://github.com/MicrosoftDocs/azure-docs
Community - new articles + major changes: If you're part of the Azure community and you want to create a new article or submit major changes, please submit an issue to start a conversation with the documentation team. Once you've

[2018-05-08 23:34] Vaccano commented on #8030
@kobulloc-MSFT - My personal question is answered.  But in interest of the clarity of the docs, it may be nice to indicate in the "Enable Profiler for your Web Apps web app" that those are the instructions for your service if it is hosted in Azure.

The absence of any other instructions seems to indicate that there are no other options.

Again, this is just for others going down the path I did.  I

[2018-05-08 23:35] Juliako commented on #7872
@dcbrown16, I am investigating.

[2018-05-08 23:36] Juliako commented on #7861
@vladvino, can you please answer @MicahMcKittrick-MSFT.

[2018-05-08 23:38] MicahMcKittrick-MSFT commented on #8266
@tdykstra can you take a look? I am unfamiliar with the example.

[2018-05-08 23:40] MicahMcKittrick-MSFT commented on #8270
@joben I have assigned this to the content author to review and see if the doc should be updated.

@ggailey777 can you please take a look?

[2018-05-08 23:43] bgiftge opened #8311 "Problems creating service fabric projects after installing Service Fabric SDK and Tools 3.1.269 and Service Fabric runtime 6.2.269"
Creating new service fabric application projects in VS use the versions 3.1.269 and 6.2.269 for nuget dependencies, but the nuget server doesn't know them. It still somewhat works for the .net framework, but completely breaks it for .net core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc89

[2018-05-08 23:45] bartduncan opened #8312 "AustraliaCentral needs to be added"
No AustraliaCentral in the table (paired with AusSouthEast, I think)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity and disaster recovery (BCDR): Azure Paired Regions](https://docs.microso

[2018-05-08 23:49] Mike-Ubezzi-MSFT commented on #7620
@slavizh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 23:49] #7620 closed

[2018-05-08 23:49] Mike-Ubezzi-MSFT commented on #7676
@rahulunlimited We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 23:50] #7676 closed

[2018-05-08 23:51] Mike-Ubezzi-MSFT commented on #8216
@noelbundick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 23:51] #8216 closed

[2018-05-08 23:52] Mike-Ubezzi-MSFT commented on #8222
@vermeerr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 23:52] #8222 closed

[2018-05-08 23:58] Juliako commented on #6531
@DarinShapiroMS, George restored his blogs, so the links work now.

[2018-05-08 23:58] Juliako commented on #6531
#please-close

[2018-05-09 00:05] Mike-Ubezzi-MSFT commented on #8298
@HowardEdidin Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-09 00:08] Mike-Ubezzi-MSFT commented on #8296
@msghaleb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 00:09] Mike-Ubezzi-MSFT commented on #8296
It is in the first JSON code sample:

`},
      "then": {
        "effect": "Deny"
      }
`

[2018-05-09 00:12] Mike-Ubezzi-MSFT commented on #8284
@chwilfing Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 00:14] tdykstra commented on #8266
@JeffLoo-ong The example does use process.env; GetEnvironmentVariable is a locally defined function that appears at the end of the snippet. I'll change the example's intro text to make that clearer.

[2018-05-09 00:17] MicahMcKittrick-MSFT commented on #8293
@mjsmith1568 in this example yes they have the same name. You could of course pick any name you like however we just have it the same name so it's easily seen that it is also associated with the frontend NIC.

[2018-05-09 00:18] Mike-Ubezzi-MSFT commented on #8307
@Joyliu290 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-09 00:18] #6531 closed

[2018-05-09 00:19] mjsmith1568 commented on #8293
Okay, I thought the names had to be unique.

[2018-05-09 00:23] RickKra opened #8316 ""Binding expressions - JSON payloads" has an incomplete C# example"
The C# example in "Binding expressions - JSON payloads" is incomplete. It does not make use of BlobInfo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independent ID: e346a973-fcb9-0c10-c1ed-17acd806ced9
* Content: [Triggers and bindings in Azure Functions](https://docs.m

[2018-05-09 00:38] #8266 closed

[2018-05-09 00:39] tdykstra commented on #8189
@scottadmi You are right, thank you for reporting that!  The fix should be live tomorrow morning.

[2018-05-09 00:43] knssub commented on #8214
Thank you @tfitzmac. I am looking for migration of resources from various other subscriptions to CSP. The above link is very useful.

[2018-05-09 00:56] MicahMcKittrick-MSFT commented on #8293
@mjsmith1568 Nope! You just couldn't have two VMs or resources inside the same resource group with the same name. Other than that the naming convention is pretty open.

[2018-05-09 00:56] #8293 closed

[2018-05-09 01:01] DarinShapiroMS commented on #6531
Great, thanks all!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, May 8, 2018 5:18:15 PM
To: MicrosoftDocs/azure-docs
Cc: Darin Shapiro; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Broken links under "related links" (#6531)

Closed #6531<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgith

[2018-05-09 01:14] nateous opened #8317 "Is A Mac with Xcode v7.0 or later really a prerequisite?"
Would seem odd if you couldn't do this on a PC with Windows installed. Probably just need to update the wording.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Independent ID: b9874b73-5524-6238-ea70-a23d8a27aa47
* Content: [Get started with Mobile Apps by using Xamarin.Fo

[2018-05-09 01:18] KeiroKamioka0000 opened #8318 "Regarding amounts of block will be used, if uploaded two files that is 2MB"
Hello, If I upload the two files, which are 2MB of Each.
Is I'm going to use 2 blocks or single block?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b38b2
* Content: [Azure Storage Scalability and Performance Targets]

[2018-05-09 01:29] MicahMcKittrick-MSFT commented on #8311
@bgiftge Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-09 01:30] MicahMcKittrick-MSFT commented on #8316
@RickKra Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-09 01:32] pjhacker1552 opened #8320 "SQL Extension for IaaS missing"
In ASDK build 180227.2 the SQL Extension for IaaS is missing. You need to add the extension in order to get a successful deployment of SQL Server to use with the AppService install.

Add the SQL Extension for IaaS to Azure Stack Marketplace and Extension was downloaded to: C:\ClusterStorage\Volume1\Shares\SU1_ObjStore\CRP\GuestArtifactRepository\bb7b3994-d309-4fc2-944c-b8510b3082ce\vmext.zip.

---

[2018-05-09 01:39] MicahMcKittrick-MSFT commented on #8286
@ocgken thanks for the find! I have updated the links. When the changes merge this issue will automatically close.

[2018-05-09 01:40] tdykstra commented on #8171
@oxxa Thanks for the clear description of the problem. I've revised the text and am getting the proposed change reviewed, will get back to you when it's approved.

[2018-05-09 01:42] MicahMcKittrick-MSFT commented on #8241
Thanks @Mike-Ubezzi-MSFT!

@ragakar so we do not have a direct migration path as you are looking for. However it seems we do have some possible paths you can take. Please review the link Mike provided and take a look into Site Recovery as well:

https://azure.microsoft.com/en-us/services/site-recovery/

I will close this for now as there is no apparent action on this doc.

[2018-05-09 01:42] #8241 closed

[2018-05-09 01:46] yuharucan commented on #7958
Dynamic resource classes on Gen1 support up to 128 concurrency, but Dynamic resource classes on Gen2 support up to 32 concurrency. Is it correct?

[2018-05-09 01:47] aaronralls opened #8321 "Incomplete examples"
Is there a reason the examples do not have the using statements and the project.json file and Nuget package reference?

For the first example, I had to add the following using statements.

using Microsoft.Azure.WebJobs.ServiceBus;
using Microsoft.ServiceBus.Messaging;

I had to add a project.json file with the reference to WindowsAzure.ServiceBus
I was not sure if I needed that Nuget package or th

[2018-05-09 01:54] #8286 closed

[2018-05-09 02:00] ronortloff commented on #7958
@yuharucan Yes, the behavior of the dynamic smallrc on Gen2 is now dynamic like the rest of the dynamic rcs and allocates more memory per query as the service level increases.  Compare the concurrency slots used for smallrc on Gen1 vs. Gen2 and you will see this.

[2018-05-09 02:14] DCtheGeek commented on #8296
@msghaleb Thanks for the feedback!  The JSON properties for Azure Policy are not case-sensitive.  However, the editor in Azure Portal is for schema validation.  You are likely getting the “green squiggle”.  You can still save the definition and assign it and it will work as written without the Deny/deny being an issue or blocker.  Thank you!  #please-close

[2018-05-09 02:18] vladvino commented on #7861
@MicahMcKittrick-MSFT I updated the link in the article and submitted a PR. Should be live shortly.

[2018-05-09 02:39] kotpal commented on #8208
Ok. Added my voice to Azure General Feedback. .NET Core is a non-starter
for us. We can't just stop our work in the track and move to a technology
(and set of technologies) that isn't ready for prime-time - especially EF
Core.

On Tue, May 8, 2018 at 11:17 AM Mike Ubezzi <notifications@github.com>
wrote:

[2018-05-09 02:42] davidroberts63 opened #8323 "CloudTable usage"
It would be nice to have official documentation regarding how to use CloudTable (referring to dropping of IQueryable in v2). Instead of a link to a Stackoverflow question. Useful for a while but full docs would be much preferred.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Vers

[2018-05-09 02:56] bingosummer commented on #7147
@MicahMcKittrick-MSFT
Could you please mention the difference in the document? Because customers and me are confused by SSE and ADE, which provide similar functions.

[2018-05-09 03:33] mohdabdulhameed542 opened #8324 "There is a typo in the doc which took 4 months to solve the issue"
Type .\AzureMfsNpsExtnConfigSetup.ps1, and press ENTER. The script checks to see if the Azure Active Directory PowerShell module is installed. If not installed, the script installs the module for you.

It has to be AzureMfaNpsExtnConfigSetup.ps1, Kindly review the doc before publishing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-05-09 03:37] AdityaJasti commented on #8233
@Mike-Ubezzi-MSFT Thanks for your help. These are the links i have followed to implement table storage functionality. https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-function-appinsights and https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-nodejs-tutorial-build-bot-framework-sample

[2018-05-09 03:37] AdityaJasti commented on #8233
@Adam-Smith-MSFT Thanks for your help.

Thanks for your help. These are the links i have followed to implement table storage functionality. https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-function-appinsights and https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-nodejs-tutorial-build-bot-framework-sample

[2018-05-09 04:11] CelesteDG commented on #8227
@Rachitgupta1994 just a quick update that @jmprieur is currently on vacation, but I'll follow up with him once he gets back.

[2018-05-09 04:17] CelesteDG commented on #7278
@SaurabhSharma-MSFT and @Mike-Ubezzi-MSFT - I think this issue can be closed based on @navyasric 's response.

[2018-05-09 04:52] gupraj commented on #8237
Thanks @MicahMcKittrick-MSFT
I have requirement to build 100+ azure VM using marketplace images  and custom snapshot images. I waned to build using dynamic terraform script. Do we have choice to create terraform and pass some value like Shape, resource group, sec rule.. and images in run time.. so we can use the same to build our VM with user input or with variable reference. Please share some sam

[2018-05-09 05:14] Rachitgupta1994 commented on #8167
Ok but i need this feature to work. Amazon also has it. I installed amazon shopping app and i didn't need to sign in to prime videos app which I installed later. We want to give the same experience to our users without them needing to install another app (broker). Kindly help us in doing that.

[2018-05-09 05:26] SychevIgor commented on #8285
@jeevansd did I say "screenshot"? In the source code you will find next lines:

">[!Note]:

This embedded guide is brand new in the new Azure portal, and we’d love to hear your thoughts. Use the Feedback ? button at the top of the portal to provide feedback. The older guide for using the Azure classic portal to configure this application can be found here.-->"

[2018-05-09 05:28] SychevIgor commented on #8273
@MohitGargMSFT could you open the source codes in a raw version and press ctrl+f ?
In this case you will find the following text

">[!Note]:

This embedded guide is brand new in the new Azure portal, and we’d love to hear your thoughts. Use the Feedback ? button at the top of the portal to provide feedback. The older guide for using the Azure classic portal to configure this application can be fou

[2018-05-09 05:28] SychevIgor commented on #8272
@MohitGargMSFT could you open the source codes in a raw version and press ctrl+f ?
In this case you will find the following text

">[!Note]:

This embedded guide is brand new in the new Azure portal, and we’d love to hear your thoughts. Use the Feedback ? button at the top of the portal to provide feedback. The older guide for using the Azure classic portal to configure this application can be fou

[2018-05-09 05:28] SychevIgor commented on #8271
@MohitGargMSFT could you open the source codes in a raw version and press ctrl+f ?
In this case you will find the following text

">[!Note]:

This embedded guide is brand new in the new Azure portal, and we’d love to hear your thoughts. Use the Feedback ? button at the top of the portal to provide feedback. The older guide for using the Azure classic portal to configure this application can be fou

[2018-05-09 06:05] arunakshi commented on #5530
@rboucher, I am still having the same issue. Could you please check if anything is missing.

[2018-05-09 06:16] marketresearchru commented on #8251
@Mike-Ubezzi-MSFT , @Powerhelmsman , I do not see any instruction above. If you mean I have to write feedback to the document, actually, my initial question was about the document: access to this R library is not described in any MS document!
Anyway, I found the solution myself: I installed MS R Client and then de-installed it. That helps.

[2018-05-09 06:18] isharehappycode opened #8325 "malformed token exception from azure provisioning service"
I am getting malformed exception by using the same sample code. what might be wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee12ff08-add3-63c5-b5ca-2e15e4d6f8d4
* Version Independent ID: a4f8563c-0993-ba18-7474-f3b6b24c9124
* Content: [Provision a device using Azure IoT Hub Device Provisioning Service (.NET)](h

[2018-05-09 06:24] justinbarias opened #8326 "Is southeastasia a valid region?"
It's indicated here that southeastasia is a valid region for AKS - i've tried to provision one via ARM template, CLIv2, and portal, and none work. Is this a documentation error, or are the tooling (ARM, CLIv2) not updated?

Which Azure regions provide the Azure Kubernetes Service (AKS) today?
Canada Central
Canada East
Central US
East US
South East Asia
West Europe
West US 2

---
#### Document Det

[2018-05-09 06:36] legwind opened #8327 "Removing authentication methods"
If I have added an alternative email address as an authentication option, how do I remove it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ffaa109-a657-db74-2a16-a59b481a0894
* Version Independent ID: ba2ffc07-b06c-7416-0700-63143ec3efcc
* Content: [Register for self-service password reset - Azure Active Directory](

[2018-05-09 06:44] julesman101 commented on #5105
To re-iterate what others have said. This article doesn't mention General Purpose V2 Accounts, and also makes no mention of the new archive tier.  Please can we update this page to reflect the current functionality?

[2018-05-09 06:46] swatiraut14 opened #8328 "PATH"
PATH variable not found? Where to find that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48933ef2-fdcd-9f32-5ae9-bac175c8ffbd
* Version Independent ID: d2f31ebc-3c71-fd49-a288-92e0124b15a3
* Content: [Azure virtual machine deployment with Chef](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/chef-aut

[2018-05-09 06:58] SychevIgor opened #8329 "Azure classic portal no longer available and article need som update "storsimple-update-device""
Azure classic portal no longer available and article need som update "storsimple-update-device"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19100aa5-ab40-650d-479d-0ef99259ebb0
* Version Independent ID: 43c9747d-03dd-074e-473d-f62bacfbbbc7
* Content: [Update your StorSimple device](https://docs.microsoft.com/en-us/a

[2018-05-09 07:00] kasunsjc opened #8330 "Multiple NICs per virtual machine"
In this section docs need to be updated. In above you have mentioned that we can use muti NICs but its not clear about the limitations of it. As an example when I try to deploy multi NIC with separate vNet Azure doesn't support it. In docs it doesn't mentioned

11:59:30 AM - Resource Microsoft.Compute/virtualMachineScaleSets 'testvmssw' failed with message '{
11:59:37 -   "error": {
11:59:37 -

[2018-05-09 07:01] SychevIgor opened #8331 "Classic portal no longer available "storsimple-8000-move-azure-portal-faq""
Please update the article, because most of the questions are irrelevant, because classic portal no longer available and operations can't be done in it.
I'm about questions like "I have multiple StorSimple Managers running in the classic portal." or "I initiated the migration of my service to the new Azure portal. Should I delete the StorSimple Manager from the classic portal?"

---
#### Document D

[2018-05-09 07:05] SychevIgor opened #8332 "Information about- how it was implemented on already not existed portal is irrelevant"
We can drop "Reports in the Azure classic portal were separated into categories:

Security reports
Activity reports
Integrated app reports" because classic portal no longer exists and it can't be checked as well as it's irrelevant in 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c0282f-a33e-b798-fc1e-33c7e721e

[2018-05-09 07:09] SychevIgor opened #8333 "Classic portal retired and decommissioned already"
"he name of the device as configured in the Azure classic portal" this statement is no longer valid without classic portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f5a0b4-a14b-cee0-1102-79c024912c14
* Version Independent ID: 559a7e99-a71d-dc3c-aac7-f9dad6ed1e17
* Content: [Manage devices with StorSimple Snapsh

[2018-05-09 07:11] SychevIgor opened #8334 "Classic portal decommissioned already"
"In the Name field, supply the user name that you specified for the CHAP Initiator in the classic portal.
In the Target secret field, supply the password that you specified for the CHAP Initiator in the classic portal."
maybe we should remove the word "classic"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e356476c-9

[2018-05-09 07:14] SychevIgor opened #8335 "Classic portal no longer available "storsimple-ova-update-03-release-notes""
"Customers are advised to bring the affected volumes online via the Azure classic portal, perform a backup for these volumes, and then restore these volumes to new volumes." and "All the management of the virtual devices should be done through the Azure classic portal and the local web UI." need to be rewritten to avoid the word "classic"

---
#### Document Details

⚠ *Do not edit this section. It

[2018-05-09 07:16] dcbrown16 opened #8336 "Japanese error"
In "Prerequisites", RAM minimum is listed as 16 GB in English, but 12 GB in Japanese. Please update the Japanese to match the English. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configu

[2018-05-09 07:18] SychevIgor opened #8337 "Because classic portal already not available we need to update "will" on "was""
We need something like "was" instead of "will", because classic portal already retired and migration already done.

"The classic portal for StorSimple is deprecated. Your StorSimple Device Managers will automatically move to the new Azure portal as per the deprecation schedule. You will receive an email and a portal notification for this move. This document will also be retired soon. For any quest

[2018-05-09 07:25] deshmanth opened #8338 "Intellij Editor Debbuging"
It would be great to see how we can debug Functions in Intellij apart from Visual Studio Code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Create your first function in Azure with Java and Maven](https://do

[2018-05-09 07:26] SychevIgor opened #8339 "classic portal not available"
The statement
"Only the subscriptions with an Enterprise Agreement are allowed. Microsoft Sponsorship subscriptions that were allowed in the Azure classic portal are not supported in the Azure portal. You will see the following message when using an unsupported subscription:" no longer relevant, because classic portal not available anymore

---
#### Document Details

⚠ *Do not edit this section. I

[2018-05-09 07:27] v-nagta commented on #8285
@SychevIgor  we will modify the Note

[2018-05-09 07:51] SychevIgor opened #8340 "classic portal no longer available "data-lake-store-end-user-authenticate-using-active-directory""
"also called the client ID in the Azure classic portal" can be dropped, because classic portal no longer available and the phrase can introduce some misunderstanding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ecf3a3-177e-8547-67f3-6a3dea058b14
* Version Independent ID: 6c5ab6e4-d4ce-47b7-7ca8-36c01092a4be
* Conte

[2018-05-09 07:53] SychevIgor opened #8341 "classic portal no longer available"
We should fix the comment in json, because classic portal no longer available
" "name" : "Name of the Event Hub from the Azure Classic Portal","

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fce81a3-77bb-2261-1ef6-0e9bc7ff1ea2
* Version Independent ID: b8b3d0eb-099f-57dd-0371-c3195314ebc1
* Content: [How to log event

[2018-05-09 07:57] SychevIgor opened #8342 "Classic portal no longer available "backup-azure-vm-backup-faq""
We need better definition of classic vms, because classic portal no longer available "(created in the Classic portal)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88beaa58-adf5-28ef-5510-01ace6923eef
* Version Independent ID: 02b2de6f-ba0a-d9dc-fd4f-c0c4d3a46107
* Content: [Azure VM Backup FAQ](https://docs.microsof

[2018-05-09 08:06] ggailey777 commented on #8206
@mishal153 thanks for pointing out this bug. I have a PR in the private repo to fix the string values.

[2018-05-09 08:27] dominicbetts commented on #8265
Hi @cezane - thanks for getting in touch. Let me respond to your questions:

- `{iot hub host name}/devicebound` is a service facing endpoint for sending cloud-to-device messages. It's counterpart is `{iot hub host name}/devices/{deviceId}/messages/devicebound` is a device facing endpoint for receiving messages sent through the service endpoint.
- IoT Hub does use SHA256, not SHA1. I couldn't see

[2018-05-09 08:37] SamirFarhat opened #8343 "How to override Values in ServiceManifest.xml"
Hi,
The document is clear. I have some questions about how to pass some values as parameters instead of hard codes.
For example, i want to pass the container image as a parameter. Is it possible via ConfigOverrides ?
<ImageName>myregistry.azurecr.io/samples/helloworldapp</ImageName>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-05-09 08:39] rayne-wiselman commented on #7929
This has now been fixed. #please-close

[2018-05-09 08:52] kpstolk opened #8344 "Invalid endpoint type for Queue Storage subscription"
In the Azure portal there are only two types: Web Hook and Event Hubs.
The quickstart however uses `storagequeue` as type, but this gives me an error (other arguments removed for readability):
[code]
Error:

The command `az eventgrid event-subscription create --help` shows this for `--endpoint-type`:

Is an event subscription for Azure Queue Storage not supported (anymore)?

---
#### Document Deta

[2018-05-09 09:07] rayne-wiselman commented on #7627
Removed duplicate in this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/40701
#please-close

[2018-05-09 09:17] PierrickI3 commented on #8169
Thanks @YutongSun. I just tried it again (without code changes) and it works.

[2018-05-09 09:17] #8169 closed

[2018-05-09 09:20] Dressee opened #8345 "Clear Failed container status"
If a container gets terminated with a non zero exit code the container will be marked as failed in the dashboard.
This is great but I would like to be able to clear the failed status after investigation or when the container has successfully restarted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3

[2018-05-09 10:30] #8238 closed

[2018-05-09 10:37] cephalin commented on #8155
@pmmadhura I don't know the answer to this. We don't have a Python expert on our team. I think it's more appropriate to ask on the [forums](https://azure.microsoft.com/support/community/).

As this item is not related any issue in the quickstart, #please-close.

[2018-05-09 10:41] cephalin commented on #8076
Thanks guys. Assigned internal work: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1257132.

[2018-05-09 10:44] pmmadhura commented on #8155
@cphalin I have got below response from an external forum
"The current version of "pip" pre-installed on Function is too old"

[https://stackoverflow.com/questions/50213031/azure-web-app-service-python-failed-as-pip-failed-for-azure-iothub-device-clie/50218187#50218187](url)

[2018-05-09 10:44] cephalin commented on #8276
@mike-urnun-msft Thanks. Tracking feedback internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1257135.

[2018-05-09 11:14] HemantChandurkar opened #8346 "Arguments"
1) arguments 2 times specified in above sample json -- https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-spark#spark-activity-properties

2) How to pass dynamic datetime to python script? I tried to put expression but ADF doesnt accept (says: Activity ReadJsonData failed: The value type 'System.String', in key 'Arguments' is not expected type 'System.Collections.Generic.ILis

[2018-05-09 11:40] tomjaguarpaw opened #8347 ""Deployment failed" when trying to create VM in DevTest Lab"
I'm trying to create a VM with the `az lab vm create` command given above.  I get the error

[code]

Have you any idea how I can fix this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1823a3f3-41e7-fe01-19ac-185d9e6603e8
* Version Independent ID: 23c0c2c9-d465-83c6-5aff-511b29cb276e
* Content: [Create and manage virt

[2018-05-09 11:49] lkhn-pjpt commented on #7849
Hi,
I am also trying to use AWStemporary credentials from python but unable to get the correct syntax. When are we going to update the documents for python?

Regards

[2018-05-09 11:49] jucchytil commented on #7627
It's too bad the list can't be sorted by geography. I'm not sure why this doesn't make sense.

[2018-05-09 11:50] rayne-wiselman commented on #7627
It's now sorted alphabetically

From: jucchytil <notifications@github.com>
Sent: Wednesday, May 9, 2018 2:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Please sort Table 1 (#7627)

It's too bad the list can't be sorted by geography. I'm not sure why this doesn'

[2018-05-09 12:38] stijnbrouwers opened #8348 "Error when enabling health monitoring for existing cluster"
Hi,

When enabling health monitoring for an existing cluster, I get the following error:
Deployment failed. Correlation ID: 9049764b-6643-4125-a7e7-43245aa6f379. {
  "code": "InternalOperationError",
  "message": "An error has occurred in subscription aecbf788-ba26-4032-8524-da6cab44ead0, resourceGroup: rg_smeic_dev request: DNS name '' is invalid. The DNS name must contain between 3 and 45 charac

[2018-05-09 12:43] sirdank opened #8349 "[Authorize] tag not working"
I've downloaded the code, trusted the IIS self-signed certificate, updated visual studio (15.7.1), restarted my machine (Windows 10), tried chrome incognito mode (version 66), but nothing will make this [Authorize] tag work. The call to localhost:44332/api/tasks always returns HTTP unauthorized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-09 12:53] locohost commented on #6349
This is happening for me today. I've tried PS locally and I've tried the cloud PS. Same error in both cases. How do I create a Docker swarm on Azure?

[2018-05-09 12:59] CeciAc commented on #7271
This may still repro, though it redirects me to the es-es version, so it looks like it depends of the global configuration.

I moved it to https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/75
to investigate it

[2018-05-09 13:09] acomas1 opened #8350 "Which Cognitive Service key to use?"
When registering a new app, which cognitive service should I register with to get a key?  The prompt (Create (under Knowledge)) doesn't list a Knowledge service under Vision APIs, Speech APIs, Language APIs or Search APIs
Andrew

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 398a427a-5bd5-ac41-284f-26892f310100
* Versi

[2018-05-09 13:42] CeciAc commented on #7622
Hello, @dcbrown16

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/513

Kind regards,
Microsoft DOCS International Team

[2018-05-09 14:03] TomShinder commented on #7147
Sure. ADE encrypts vhd files only.  SSE encrypts anything that is placed in Azure storage (at least all supported storage types). That means that for VM, you could potentially use *both* ADE *and* SSE on the same vhd files. Thanks! -Tom

[2018-05-09 14:18] tasgray opened #8353 "REST API"
Have you considered implementing this as a rest service? It would make license management in powershell much easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers f

[2018-05-09 14:28] lawrencegripper opened #8354 "Docs for 'ServiceFabricIntegrationOptions.UseReverseProxyIntegration'"
I can't currently find any docs on how this option works with aspnetcore listener

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2639218d-5e54-aba0-ca0a-e53025b06d15
* Version Independent ID: fec67d60-26a4-ba4c-45cf-f53c74281659
* Content: [Service communication with the ASP.NET Core](https://docs.microsoft.com/en-us/a

[2018-05-09 14:29] jucchytil commented on #7627
Are we looking at different docs?
Not sorted
Two Japan’s
[image1.jpeg]

Sent from my iPhone

On May 9, 2018, at 6:50 AM, Rayne Wiselman <notifications@github.com<mailto:notifications@github.com>> wrote:

It's now sorted alphabetically

From: jucchytil <notifications@github.com<mailto:notifications@github.com>>
Sent: Wednesday, May 9, 2018 2:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.gi

[2018-05-09 14:29] georgewallace commented on #8031
@gowrishgates If you have any other questions or feedback on the docs feel free to open a new issue.  #please-close

[2018-05-09 14:30] iangoh414 opened #8355 "API definition Error"
Hi,

I tried copy and paste your yaml into API definition and is giving and error parameters cannot read null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713e2b2-710e-8036-c4d7-8910927525e3
* Version Independent ID: bee3baa6-df72-aea1-9b0b-42f574b4745e
* Content: [Create an OpenAPI definition for a function](https

[2018-05-09 14:45] tony-gutierrez commented on #8013
The 160 is only a pre-allocation, not a limit.
https://www.theregister.co.uk/2018/02/27/microsoft_rewrites_source_network_address_translation/
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections

I am experiencing port exhaustion in almost all my azure node instances. Using keep alive (native or the recommended library) helps, but I have the situation of many co

[2018-05-09 14:51] TomShinder commented on #7147
Ah! OK, yes. We'll put that on the backlog. Thanks!

[2018-05-09 14:51] TomShinder commented on #7147
#please-close

[2018-05-09 14:53] ksurendra opened #8356 "Add details on how to enable port 22 on azure portal so users can SSH to login"
# Add a new page and link on using azure portal to enable ssh
On this page: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/detailed-troubleshoot-ssh-connection#source-5-linux-based-azure-virtual-machine Point 3 details that the inbound rule for the firewall maybe one of the cause.

To add more details to that, i drafted a page here
https://feedback.azure.com/forums/34192--general-fe

[2018-05-09 15:08] Mike-Ubezzi-MSFT commented on #8155
Adding correct URL for reference: [azure web app service (PYTHON) failed as pip failed for azure-iothub-device-client](https://stackoverflow.com/questions/50213031/azure-web-app-service-python-failed-as-pip-failed-for-azure-iothub-device-clie/50218187)

[2018-05-09 15:09] Mike-Ubezzi-MSFT commented on #8155
@pmmadhura We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 15:12] spelluru commented on #8347
@tomjaguarpaw -

Are you able to create a VM in the lab by using the Azure portal?

I have tried Azure CLI from both Cloud Shell and from command-line on my machine, but I am not able to reproduce the issue.

Please let me know if you can add a VM to the lab by using Azure portal. I understand that the error message is not helpful. I will try to get in touch with the product team regarding this.

[2018-05-09 15:17] tony-gutierrez commented on #8013
Also would be helpful if there was a way to inspect a given vm to see if it was using the old 160 or the new 1024.

[2018-05-09 15:30] MGoedtel commented on #6632
@jason-j-MSFT and @MNF - I'm going to be re-writing this article starting this week as creating alerts for data in Log Analytics is no longer performed in the OMS classic portal, it is now integrated with the new Alerts feature in Azure Monitor.  #in-progress.

[2018-05-09 15:39] SamirFarhat commented on #7151
Thanks, but I'm talking about Diagnostic logs.

[2018-05-09 15:56] neilpeterson commented on #8326
@justinbarias - this appears to be a documentation issue. I will look into it and update.

Thanks for raising the issue.

[2018-05-09 16:01] kmkelly2015 opened #8361 "Access SQL Database via Service EndPoint from Peered Virtual Network"
Hi

I have turned off "Allow all Azure Services" to lock down access to my SQL databases.
I can successfully access a SQL database via a Service EndPoint in the same Virtual network.
I have tried to access the same database from another Virtual network that is peered but it's not working.
Is this a feature that is in the pipeline? or am I missing something?

---
#### Document Details

⚠ *Do not ed

[2018-05-09 16:09] tomjaguarpaw commented on #8347
Hello @spelluru, thanks for your reply.  Yes, creating a VM from the Azure portal works fine.  Sorry, I should have specified that in my original report.

[2018-05-09 16:15] Mike-Ubezzi-MSFT commented on #7965
@narendrasolanke21 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 16:15] #7965 closed

[2018-05-09 16:19] Mike-Ubezzi-MSFT commented on #7967
@rbalakrishnan1994 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 16:19] #7967 closed

[2018-05-09 16:20] Mike-Ubezzi-MSFT commented on #7990
@sharushetty We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 16:20] #7990 closed

[2018-05-09 16:25] ggailey777 commented on #5801
Linked PR addresses the issue with shared assembly folder location. After the commit makes it into the public repo, @kvinther let me know if this isn't clear enough.

[2018-05-09 16:27] Mike-Ubezzi-MSFT commented on #8157
@anosov1960 Can you assist with answering the additional questions from the customer in regard to Grace Period and the read-only exception.
Thanks,
Mike

[2018-05-09 16:28] KarlZ opened #8362 "PDF?"
We have lots of scanned documents that are scanned and saved as PDF documents. Do you have plans (hopefully soon) to support OCR on PDF documents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ec6b9-5539-262e-b0b6-ceef87336d92
* Version Independent ID: e6e23cc4-2790-3202-95c2-54ee6ed62711
* Content: [OCR cognitive

[2018-05-09 16:32] Mike-Ubezzi-MSFT commented on #8176
@ronortloff Can you assist with answering the question in regard to expected behavior when using the IDENTITY functionality. The documentation either does not match the expected functionality or the functionality doesn't work as designed.
Regards,
Mike

[2018-05-09 16:34] spelluru commented on #8347
@tomjaguarpaw - No problem. I am looking at an old issue: https://github.com/Azure/azure-cli/issues/6107. The problem was fixed by specifying values for --size and --ip-configuration values. I do see them in the CLI command in the article. I ran the command again by skipping these two parameters and I see the error you get. Could you please make sure that you are passing values for all the paramet

[2018-05-09 16:34] Mike-Ubezzi-MSFT commented on #8180
@djpirra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 16:36] burma-shave commented on #5631
Also, noticed that the validationUrl is not being included:

[code]

[2018-05-09 16:39] kobulloc-MSFT commented on #8341
@SychevIgor Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-09 16:56] jricha34 opened #8364 "Really Domain Admins???"
Does this really require Domain Admins? And if so why and when will it be fixed so we can delegate and/or specify a different level of rights?

I swear the whole Azure model is taking us back 20 years in the security space and acting like we are all working in 20 user mom and pop shops where domain admins is just given to everyone so everything "works".

You guys have received 20+ years of "this i

[2018-05-09 17:00] #5801 closed

[2018-05-09 17:01] fiyazbinhasan commented on #8204
@ConnorMcMahon can you share some insights on this? TIA

[2018-05-09 17:01] #7147 closed

[2018-05-09 17:02] Mike-Ubezzi-MSFT commented on #8361
@kmkelly2015 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-09 17:04] shasdas opened #8365 "iotedgectl setup failed"
# iotedgectl setup failed

I'm trying to setup iotedgectl following [https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows](url) in my Azure VM (VM spec is given below)

![image](https://user-images.githubusercontent.com/16579000/39828134-9ebfa774-537f-11e8-9cbe-f66655bcb28f.png)

Python and iotedgectl versions, running on the VM, are given below

![image](https://user-i

[2018-05-09 17:04] #7861 closed

[2018-05-09 17:06] MicahMcKittrick-MSFT commented on #8321
@aaronralls Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-09 17:07] MicahMcKittrick-MSFT commented on #8323
@davidroberts63 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-09 17:08] MicahMcKittrick-MSFT commented on #8328
@swatiraut14 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-09 17:09] YutongTie-MSFT commented on #8350
@acomas1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-09 17:09] MicahMcKittrick-MSFT commented on #8330
@kasunsjc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-09 17:10] MicahMcKittrick-MSFT commented on #8338
@deshmanth Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-09 17:10] MicahMcKittrick-MSFT commented on #8343
@SamirFarhat Thanks for the question! We are investigating and will update you shortly.

[2018-05-09 17:11] shasdas commented on #7134
similar kind of issue I am facing in Azure VM.

[2018-05-09 17:11] MicahMcKittrick-MSFT commented on #8354
@lawrencegripper Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-09 17:14] mrbullwinkle commented on #8030
@Vaccano Thanks for the feedback and for flagging this for us to take a second look. We have gotten further clarification and added the following to the docs. The change will publish to the public repo this afternoon.
![Screenshot add on prem clarification to profiler intro](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/8030/01.png)

Which then links to this:

![Screenshot of

[2018-05-09 17:16] mike-urnun-msft commented on #8362
@KarlZ Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-09 17:18] neilpeterson commented on #8326
@justinbarias - confirmed as a doc issue. Updates have merged and will publish today. Apologies for the trouble, thanks again for raising the issue.

#please-close

[2018-05-09 17:20] romankiss commented on #8344
the new event handlers such as StorageQueue and HybridConnection are still in preview version 2018-05-01-preview, so you have to add this extension:

az extension --add eventgrid

the other option is to use the REST API with the api-version=2018-05-01-preview
but in this case the destination property is the following:

"destination": {
    "additionalProperties": {},
    "endpointType": "StorageQu

[2018-05-09 17:28] vasivara-MSFT commented on #8340
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 17:28] MohitGargMSFT commented on #8324
@mohdabdulhameed542 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-09 17:29] MohitGargMSFT commented on #8327
@legwind Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-09 17:30] MohitGargMSFT commented on #8332
@SychevIgor Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-09 17:31] MohitGargMSFT commented on #8349
@sirdank Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-09 17:35] NickDorak opened #8367 "Unclear what "Apply policy only to supported platforms" does"
The use of the option "Apply policy only to supported platforms" isn't very clear. I am not sure what selecting this option does differently than not selecting it.
I am trying to figure out how to specifically either allow or disable Legacy authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef

[2018-05-09 17:35] nitinme commented on #7525
@bearrito I am looking into this issue. I don't think we'll be updating the readthedocs.io site with fresh content. We are trying to keep all the Azure related documentation/reference on docs.microsoft.com so the latest info will be available on docs.microsoft.com.

[2018-05-09 17:36] tomjaguarpaw commented on #8347
Yes, I have those parameters.  The command I am using is

[code]

The command hangs indefinitely and in Azure Portal I see "myNewVM" with status "Failed".

[2018-05-09 17:49] MicrosoftGuyJFlo commented on #8324
@mohdabdulhameed542 I am sorry that there is a typo in the doc I try to test everything before it goes out but this is a topic written by another team that I was asked to just publish. Looks like the screenshot below it is correct and the filename is correct in the directory its just the one line 146 that needs a change.

In the future if you see something like this where you know what the fix is

[2018-05-09 17:49] MicrosoftGuyJFlo commented on #8324
#please-close

[2018-05-09 17:50] cezane commented on #8265
Hello, Dominic.

Thank you by clarifying the first doubt. Related to SHA1 thumbprint and the obligation of primary and secondary thumbprint, I am attaching a picture where both can be seen, when adding a new device through the IoT Hub panel (Azure Portal).

![x509_sha1thumbprintmandatoryprimaryandsecondary](https://user-images.githubusercontent.com/16692892/39830605-49015e68-5398-11e8-9f13-9cc1b5e

[2018-05-09 17:55] andretms commented on #8227
@Rachitgupta1994 - thanks for reporting the issue. The problem is that ADAL version referenced in the sample - 3.9.304210845 - does not accept this signature. Current versions do (see [here](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/iOS/PlatformParameters.cs)) accept this parameter. <br/><br/>

To s

[2018-05-09 17:56] wesmc7777 commented on #8208
@kotpal Sorry for the slow response. I'm not aware of plans to backport Azure SignalR Service support for ASP.NET but, I would need to confirm with the team. I've asked but responses have been a bit slow since they have been involved with BUILD

[2018-05-09 17:57] spelluru commented on #8347
Unfortunately, I couldn't reproduce the issue even after copying your command and specifying my lab name and resource group name. It works fine for me. I saw the error only when I skipped those two parameters

[2018-05-09 17:59] tomjaguarpaw commented on #8347
That's strange.  If you can ask the product team if they can provide any more information that would be helpful.  Thanks for looking into this.

[2018-05-09 18:01] #8324 closed

[2018-05-09 18:04] Mike-Ubezzi-MSFT commented on #8365
Reference: The corrected link is as follows: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows[https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows](url)

[2018-05-09 18:10] toddrob commented on #8291
@bwren thanks and I'm happy to test

[2018-05-09 18:10] femsulu commented on #8031
@gowrishgates We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 18:10] #8031 closed

[2018-05-09 18:12] Mike-Ubezzi-MSFT commented on #8365
@shasdas Thanks for the feedback. We are actively investigating but wanted to request that you run the following command and let me know the result:

`iotedgectl setup --connection-string "{device connection string}" --nopass`

This is part of the [Configure the IoT Edge runtime](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows#configure-the-iot-edge-runtime) sectio

[2018-05-09 18:25] vasivara-MSFT commented on #8346
@HemantChandurkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:29] banisadr commented on #5631
Hi @burma-shave the validation URL feature is in preview. In order to get it along with the other preview features, you need to use Azure CLI and enable the Event Grid extension using the command: "az extension add -n eventgrid". I apologize for the inconvenience and the confusion. We are updating the documentation now and Portal support for the preview features will be released soon.

[2018-05-09 18:29] SnehaGunda commented on #7843
#please-close

[2018-05-09 18:29] Mike-Ubezzi-MSFT commented on #8356
![image](https://user-images.githubusercontent.com/37126106/39832522-463de956-537c-11e8-9d17-0a6a9a4afdcc.png)

[2018-05-09 18:30] vasivara-MSFT commented on #8345
@Dressee Thanks for the feedback. Please leave product feedback/ feature request [here](https://feedback.azure.com/forums/267889-log-analytics). You could also find this link in footer of most of the microsoft docs page. This takes the feedback/feature request directly to product team.

[2018-05-09 18:30] #8345 closed

[2018-05-09 18:31] banisadr commented on #5631
@mikewiese we are working on having something similar of our own, however, with the validation URL now, you will be able to use any requestbin like service and validate the endpoint on your own manually by copy and pasting the validation URL into your browser. Just Install Azure CLI and add the event grid extension as above, or if using REST, use api-version=2018-05-01. Portal will be updated soon

[2018-05-09 18:33] Mike-Ubezzi-MSFT commented on #8356
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b6e5e3-7df4-5388-04a4-920c6318a3e0
* Version Independent ID: 0c62352c-d818-dcb5-e37d-f839e25e6b1a
* Content: [Detailed SSH troubleshooting for an Azure VM](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/detailed-troubleshoot-ssh-connection#source-5-linux-ba

[2018-05-09 18:33] mike-urnun-msft commented on #8317
@nateous Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-09 18:34] Mike-Ubezzi-MSFT commented on #8356
@ksurendra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:36] Mike-Ubezzi-MSFT commented on #8356
@iainfoulds Customer has created documentation that he would like to have merged to the MicrosoftDocs branch. Thank you, Mike

[2018-05-09 18:38] Adam-Smith-MSFT commented on #8342
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:38] Mike-Ubezzi-MSFT commented on #8365
@shasdas Did you follow the [Resolution](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#resolution-4) steps?

[2018-05-09 18:39] vasivara-MSFT commented on #8348
@stijnbrouwers has the error "DNS name '' is invalid. The DNS name must contain between 3 and 45 characters. The name can contain only letters, numbers, and hyphens. The name must start with a letter and must end with a letter or a number. (length was 0)." been resolved? Were you able to successfully deploy it?

[2018-05-09 18:41] Adam-Smith-MSFT commented on #8337
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:42] nitinme commented on #8040
@HemantChandurkar I quickly spun up an HDI 3.6 Spark 2.2 cluster and was able to launch the Jupyter notebook and run a quick query. Which cluster version are you using? Also when do you see the error?

[2018-05-09 18:42] Mike-Ubezzi-MSFT commented on #8365
Your command should look like this: `iotedgectl setup --connection-string "W10MSDNA7TVRZZ.1hsvuytajj5uriqdvag2hbiahd.jx.internal.cloudapp.net" --nopass --edge-hostname <DNS Name that you configured in the Azure Portal per the Resolution Steps>`

[2018-05-09 18:43] Adam-Smith-MSFT commented on #8336
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:44] Adam-Smith-MSFT commented on #8335
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:45] Adam-Smith-MSFT commented on #8333
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:46] Adam-Smith-MSFT commented on #8334
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 18:47] inglesuniversal commented on #8145
Any update on my request?

[2018-05-09 18:51] alkohli commented on #8339
#in-progress

[2018-05-09 18:51] alkohli commented on #8339
@SychevIgor Fixing this. Thanks for the feedback!

[2018-05-09 18:54] nitinme commented on #7525
@bearrito I have fixed the issue related to broken link and am working on your question about GA. Will loop back here with more info.

[2018-05-09 18:55] nitinme commented on #8340
@SychevIgor Thanks for your feedback. This issue is now fixed in PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/40733.

@vasivara-MSFT We can now close this issue.

[2018-05-09 18:59] nitinme commented on #7855
@jason-j-MSFT Please close this issue.

[2018-05-09 19:00] CentricStraaten opened #8369 "Obsolete Code?"
In the SDK LanguageUnderstandingModel.From is replaced with other options. I now use LanguageUnderstandingModel.FromEndpoint.

result.Reason == RecognitionStatus.Success is changed into result.RecognitionStatus == RecognitionStatus.Recognized?

The code throws an authorization exception: {SessionId: 'x', Status: 'Canceled', FailureReason: 'WebSocket Upgrade failed with an authentication error (403

[2018-05-09 19:12] mrbullwinkle commented on #8232
@iant-travelopia Thank you for the feedback and our apologies for the ambiguity in the doc. This refers to testing using the latest stable version of the App Insights SDK to see if it resolves your issue. As of 5/9/2018 that version would be 2.5.1:

![Lastest Stable Build Screenshot](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/8232/01.png)

If I check the [changelog](https:

[2018-05-09 19:16] MightyPen commented on #8361
@DhruvMsft Hi Dhruv, do you have an answer you can post here on this VNet GitHub issue?
. . . . Here is the question, from customer 'kmkelly2015':
I have turned off "Allow all Azure Services" to lock down access to my SQL databases.
I can successfully access a SQL database via a Service EndPoint in the same Virtual network.
I have tried to access the same database from another Virtual network that

[2018-05-09 19:28] SnehaGunda commented on #7852
@Jacob-McKay Thanks for pointing the issue, yes it should be "readDocument" object that has updated TTL value. I made a change to the doc, changes should be live by EOD. We will close this issue now, if you have any further questions feel free to reopen it or create a new one.

[2018-05-09 19:28] SnehaGunda commented on #7852
#please-close

[2018-05-09 19:41] burma-shave commented on #5631
Thank @banisadr that enabled the validationUrl. But when calling the URL I get this error:
[code]

[2018-05-09 19:45] MohitGargMSFT commented on #8364
@jricha34 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-09 19:46] stijnbrouwers commented on #8348
Nope... Found nothing
________________________________
From: VairavanS-MSFT <notifications@github.com>
Sent: Wednesday, May 9, 2018 8:39:39 PM
To: MicrosoftDocs/azure-docs
Cc: Stijn Brouwers; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Error when enabling health monitoring for existing cluster (#8348)

@stijnbrouwers<https://github.com/stijnbrouwers> has the error "DNS name '' is invalid. The

[2018-05-09 19:46] JasonWHowell commented on #8229
We are investigating this. CC: @mamccrea @JSeb225

[2018-05-09 19:49] MohitGargMSFT commented on #8228
@chrift Please help with requested information.

[2018-05-09 19:50] #8246 closed

[2018-05-09 19:50] YutongTie-MSFT commented on #8362
@KarlZ Hi, thank you for your feedback, I have assigned the issue to the content author to investigate further and update the document as appropriate.

@LuisCabrer Hi, this is a document enhancement issue, can you check if you have the plan to add PDF as a new input? Thanks a lot!

[2018-05-09 19:51] MohitGargMSFT commented on #8250
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-09 19:51] #8250 closed

[2018-05-09 19:52] Mike-Ubezzi-MSFT commented on #8361
@kmkelly2015 We are reaching out to get an answer to your question. In short, though, I think that you need to setup a route table. In the instructions for Azure SQL Database Managed Instance, the database in protected in a VNet, and you need to configure a route table if you wish to connect with it from another VNet. If you pick up from the instructions: [Create a new virtual network for Managed

[2018-05-09 19:53] MohitGargMSFT commented on #8257
@denavin We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-09 19:53] #8257 closed

[2018-05-09 19:56] MicahMcKittrick-MSFT commented on #8330
@kasunsjc I will assign this to the author to review.

@gatneil can you take a look and decide if you want to add more information?

[2018-05-09 19:56] Mike-Ubezzi-MSFT commented on #8312
@bartduncan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-09 19:56] koolkarni opened #8370 "Bulk search"
How can i make following http request for multiple address ? and what is the limit on how many address i can query in one hit ?

https://atlas.microsoft.com/search/address/json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2578f489-79b3-4bb0-c620-609ca7b78e47
* Version Independent ID: f088832f-3327-02df-ec5f-c6e08e80

[2018-05-09 19:56] iainfoulds commented on #8356
Thanks, @ksurendra. To get to your source issue of port 22 for SSH not being open by default - with which tools are you using to find that this is not already the case? The Azure portal, Azure CLI 2.0, and Azure PowerShell all create a network security group and rule that opens TCP port 22 for SSH. I'm not sure on the underlying premise for the doc of SSH not being open by default. SSH should be o

[2018-05-09 19:57] MicahMcKittrick-MSFT commented on #8144
@faridabharmal I will close this for now. Please reopen when you are ready to continue.

[2018-05-09 19:57] #8144 closed

[2018-05-09 20:17] tdykstra commented on #8323
@davidroberts63 Thanks for the suggestion. We have a backlog of work to do on the Azure Functions docs and I've added this to the backlog work item and linked it to this issue so you will be notified when the work is done.  It probably will be a while before that happens, but we'll get to it as soon as we can. You mentioned the StackOverflow post is insufficient -- any information you can provide

[2018-05-09 20:17] MohitGargMSFT commented on #8271
@SychevIgor Thanks for reporting! The note section you pointed out is already commented in repo and hence, not visible in actual live document.

The PR to remove the comment from document is created and it will be merged soon. Thanks again for pointing this out, please open a new issue to let us know if there is something else that we can help you with.

[2018-05-09 20:33] tdykstra commented on #8321
@aaronralls Thanks for pointing that out. I've created a work item on our backlog to add usings and required packages to the Service Bus binding reference doc. Their absence is most likely just due to an oversight. Using statements are sometimes deliberately omitted from C# class library snippets for brevity because it's easy to add them in Visual Studio, but that doesn't apply in this case for po

[2018-05-09 20:42] rashmichandrashekar commented on #8348
Can you try using a resource group name without underscores?

[2018-05-09 20:53] #7852 closed

[2018-05-09 20:54] Mike-Ubezzi-MSFT commented on #8320
@pjhacker1552 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 21:05] #8271 closed

[2018-05-09 21:06] MohitGargMSFT commented on #8272
@SychevIgor Thanks for reporting! The note section you pointed out is already commented in repo and hence, not visible in actual live document.

The PR to remove the comment from document is created and it will be merged soon. Thanks again for pointing this out, please open a new issue to let us know if there is something else that we can help you with.

[2018-05-09 21:10] tdykstra commented on #8316
@RickKra Thanks for pointing that out! I'll get that fixed and will post to this issue when the doc is updated.

[2018-05-09 21:10] YutongTie-MSFT commented on #8253
@kermitoos71 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 21:10] #8253 closed

[2018-05-09 21:11] Mike-Ubezzi-MSFT commented on #8325
@isharehappycode Can you share a screen capture or paste the exception or error message you are experiencing to this GitHub issue.

[2018-05-09 21:14] Mike-Ubezzi-MSFT commented on #8344
@kpstolk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-09 21:14] MohitGargMSFT commented on #8273
@SychevIgor Thanks for reporting! The note section you pointed out is already commented in repo and hence, not visible in actual live document.

The PR to remove the comment from document is created and it will be merged soon. Thanks again for pointing this out, please open a new issue to let us know if there is something else that we can help you with.

[2018-05-09 21:16] Mike-Ubezzi-MSFT commented on #8251
@Powerhelmsman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 21:16] #8251 closed

[2018-05-09 21:17] Mike-Ubezzi-MSFT commented on #8182
@djpirra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-09 21:18] MicahMcKittrick-MSFT commented on #8277
If you want to add a new disk to your storage pool you do not need to recreate it or have any cause of downtime.

You simply can go into Server manager -> File and Storage Services -> Storage Pools -> Select your Storage Pool -> Right Click -> Add Data disk

![image](https://user-images.githubusercontent.com/32313503/39840308-d4643fc0-5393-11e8-8088-8b438b6483c8.png)

![image](https://user-images.

[2018-05-09 21:25] YutongTie-MSFT commented on #8350
@acomas1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@slivkins Hi, can you please check the issue to see if more details need to be added and update the document as necessary? Thanks a lot!

[2018-05-09 21:25] #8272 closed

[2018-05-09 21:28] akramwaseem opened #8372 "How do I find the Linux Images from marketplace with latest security patches"
Hi,
This question might not be appropriate here .
Lets say I found the ubuntu 14.04.5 image from the market place and how do I know on what security patch is it on . whether it might be latest or maybe old.
And do you guys have a page which has the documentation on all the latest images with details of critical patches and security patches.
That would be really great if we have something like that

[2018-05-09 21:29] Mike-Ubezzi-MSFT commented on #8202
@missmariamac If you are a new hire, the Microsoft Authenticator mobile app cannot be leveraged until you register your PIN with your alias + badge. Once that is completed, you can download and set-up Outlook mobile to use email. I can see why your phone was sent in a recursive loop. Once your account has been verified, things will go more smoothly. I believe this is the case.
We will now proceed

[2018-05-09 21:29] #8202 closed

[2018-05-09 21:29] rashmichandrashekar commented on #8348
Actually the name of the resource group is not the issue - The template deployment should be in the same resource group as the resource group of the aks cluster you are trying to enable monitoring on.( This is weird. I will follow up with the aks team for them to investigate)

[2018-05-09 21:30] YutongTie-MSFT commented on #8279
@kirbybrunclik Hi, for the output, please go and see[ Output format](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/concepts#output-format). Thanks.

[2018-05-09 21:31] MicahMcKittrick-MSFT commented on #8311
@bgiftge I am not seeing any issues in my local environment. Can you elaborate more for us? Possibly share some screenshots if possible.

[2018-05-09 21:35] Mike-Ubezzi-MSFT commented on #8312
There are two regions: Australia Central & Australia Central 2

![screenshot 198](https://user-images.githubusercontent.com/37126106/39840924-fc5aac56-5395-11e8-9db9-c281f1a18b5f.png)

[2018-05-09 21:37] bgiftge commented on #8311
It seems the issue was fixed: https://www.nuget.org/packages/Microsoft.ServiceFabric/6.2.269 was uploaded 3h ago

[2018-05-09 21:38] femsulu commented on #8139
@czeumault, please review the comment above and let us know how you would like to proceed.

[2018-05-09 21:39] MicahMcKittrick-MSFT commented on #8328
@swatiraut14 are you referring to this portion of the doc?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/chef-automation#installing-the-chef-development-kit

[2018-05-09 21:40] #8193 closed

[2018-05-09 21:40] aydeisen commented on #8277
@MicahMcKittrick-MSFT: I understand that part.  But in doing so, the number of disks is no longer equal to the number of columns, which is recorded in this document as a best practice.  Is it a non-issue in this case?

[2018-05-09 21:41] MicahMcKittrick-MSFT commented on #8354
@vturecek can you help @lawrencegripper with this ask? Possibly point in the right direction?

[2018-05-09 21:41] #8340 closed

[2018-05-09 21:47] alkohli commented on #8334
#in-progress

[2018-05-09 21:50] MicahMcKittrick-MSFT commented on #8277
@aydeisen got it.

@rothja can you chime in on this? I don't believe it matters if you go back to update the column count but I am not 100%

[2018-05-09 21:52] SnehaGunda commented on #7705
@bdcoder2 we are closing this issue now, if you have any further questions, feel free to reopen it or create a new issue.

[2018-05-09 21:53] MicahMcKittrick-MSFT commented on #8311
@bgiftge ah great! :) Let me know if you have any additional issues.

[2018-05-09 21:53] #8311 closed

[2018-05-09 21:53] noelbundick opened #8373 "Broken link to SF volume application"
"The Service Fabric application that provides the volumes for your containers can be downloaded from the following link." points to https://aka.ms/sfvolume, but that currently redirects to microsoft.com rather than the location to download the application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2a56233-8bf2-46c

[2018-05-09 22:02] bwren commented on #6913
@paulmackinnon-adv365 I finally got to this.  I had to refamiliarize  myself since it's been awhile since I worked on this.  It turns out that the screenshot is from a previous version of the workflow that was having some problems.  We added the Compose action which changed the JSON Request Body in the Send Data action.  The table is correct, and I'm updating the screenshot.  Thanks again for iden

[2018-05-09 22:02] bwren commented on #6913
#please-close

[2018-05-09 22:03] alkohli commented on #8334
Changes made via PR # 40790 which is merged and will go live in the next publish.

[2018-05-09 22:05] emft opened #8374 "redis-py now supports SSL"
From their docs: `redis-py is the second Redis client that natively supported SSL`.  At https://redislabs.com/lp/python-redis/.  Please update to reflect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1ccf8e-1030-d3b0-2dea-243e9d3023e8
* Version Independent ID: 80bd0163-355c-6095-3d9c-1fd6d6dd5637
* Content: [How to

[2018-05-09 22:06] Amethi opened #8375 "Hybrid Scenario Support?"
Superb work! Would this work for hybrid scenarios as well, i.e. when using federated identities, i.e. through AAD Connect/ADFS/Pass-Through Authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log i

[2018-05-09 22:07] brucedkyle opened #8376 "Step 5: The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script"
I'm getting an error at Step 5.
The Get-AutomationConnection return the tenant ID and the ApplicationID. But when I run Connect-AzureRmAccount,

Connect-AzureRmAccount : The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

At

[2018-05-09 22:08] MicahMcKittrick-MSFT commented on #8355
@iangoh414 are you getting the error after you select save? I tried to copy the code as well and was able to save it successfully.

![image](https://user-images.githubusercontent.com/32313503/39842300-ca5121cc-539a-11e8-8644-9faebd4cf146.png)

[2018-05-09 22:09] alkohli commented on #8334
#please-close

[2018-05-09 22:11] emft commented on #8374
Uh, and in fact, it has since 2014 and your article was written in 2017, so, seems like an odd oversight.  But anyways!  I think it would improve your article if it reflected this -- SSL is a great option to offer!

[2018-05-09 22:14] justinbarias commented on #8326
No worries - i admit i was hoping it wasn't. Thanks for all the awesome work you guys are doing.

[2018-05-09 22:14] #8326 closed

[2018-05-09 22:25] brucedkyle opened #8378 "Fix to Step 5 issue"
The fix is to update the modules.
 See https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf26281-619d-1997-1a7f-49ef9f0e261c
* Version Independent ID: c0f4d49e-a0a3-d8b7-c713-5800147a452b
* Content: [My first PowerShell Workflow runbook in

[2018-05-09 22:26] brucedkyle commented on #8376
The fix to the issue is to update the Automation Modules. See https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules

[2018-05-09 22:26] alkohli commented on #8331
@SychevIgor Thanks for your feedback! This article will not be updated as it was written to address a specific need - answer questions during migration of customers to Azure portal from classic portal. Instead I will retire this article as all the StorSimple customers have now migrated.

[2018-05-09 22:27] alkohli commented on #8331
#in-progress

[2018-05-09 22:28] brucedkyle commented on #8090
Here's how you upgrade the Automation Module. https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules

[2018-05-09 22:30] MicahMcKittrick-MSFT commented on #8372
@akramwaseem we do not have a specific doc that shows all the latest versions. I think this would be too difficult to keep up to date with all the updates being pushed from Windows as well as all the 3rd party offers.

You can however pull some relevant information using PowerShell:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage

This will allow you to pull specifi

[2018-05-09 22:46] #6913 closed

[2018-05-09 22:53] ksurendra commented on #8356
I created a new VM with Ubuntu 16.04 @iainfoulds , I can try to create again and test. On a side note, even in case the port is not enabled by default, this document can be helpful.

[2018-05-09 22:59] YutongTie-MSFT commented on #8369
@CentricStraaten Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@wolfma61 Can you please check if there any change in the latest document and update the document as necessary? Thanks a lot!

[2018-05-09 23:01] lleonard-msft commented on #8179
Have you granted your service principal access to the vault?

(This is more of an Azure AD authentication question than a Key Vault question, one that probably requires more space to fully explain than we have here.)

Basically, apps need to [be registered](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-app-registration) (which gives you an app ID) and then you

[2018-05-09 23:01] dcbrown16 commented on #7622
@CeciAc looks good, thanks!

[2018-05-09 23:01] #7622 closed

[2018-05-09 23:07] eschrader opened #8379 "2016 page update"
Can this page be updated? Its from 2016. I am sure there have been a lot of changes in Mobile Apps since then. Looking for the most recent technology training to build my first app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d727f6e3-8382-bb38-dc82-02e013e44434
* Version Independent ID: cd02afc8-bcb9-ecca-8f3a-43b7

[2018-05-09 23:28] mani-ramaswamy commented on #8373
Sudanva - can you please fix this?

On May 9, 2018, at 2:54 PM, Noel <notifications@github.com<mailto:notifications@github.com>> wrote:

"The Service Fabric application that provides the volumes for your containers can be downloaded from the following link." points to https://aka.ms/sfvolume<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Faka.ms%2Fsfvolume&data=02%7C01%7Csubramar%

[2018-05-09 23:29] mani-ramaswamy commented on #8373
Yes. On it

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Subramanian Ramaswamy
Sent: Wednesday, May 9, 2018 4:28:23 PM
To: MicrosoftDocs/azure-docs; Sudhanva Huruli
Cc: MicrosoftDocs/azure-docs; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Broken link to SF volume application (#8373)

Sudanva - can you please fix this?

On May 9, 2018, at 2:54 PM, Noel

[2018-05-09 23:41] ecfan commented on #7574
@bc3tech The topic is now live with updates for HTTP limits:

https://docs.microsoft.com/azure/logic-apps/logic-apps-limits-and-config#http-request-limits

[2018-05-09 23:45] xmark commented on #8142
Is there any update on this @MicahMcKittrick-MSFT ?

[2018-05-09 23:48] uncarlo opened #8380 "Exception"
Hello, I'm getting an exception here:

string proxyUrl =
				$"{proxyAddress}/api/VoteData?PartitionKey={((Int64RangePartitionInformation)partition.PartitionInformation).LowKey}&PartitionKind=Int64Range";

Apparently, the 'partition.PartitionInformation' is of type 'SingletonPartitionInformation'. so it can't be casted to 'Int64RangePartitionInformation'. How can I fix that?

---
#### Document Det

[2018-05-09 23:50] mishal153 commented on #8206
No problem. Thanks for fixing real quick !

[2018-05-09 23:50] Mike-Ubezzi-MSFT commented on #8356
So, I just provisioned an Ubuntu VM and had no issues attempting to SSH to it:

![screenshot 200](https://user-images.githubusercontent.com/37126106/39845147-128f4460-53a9-11e8-8816-ea6282c3c141.png)

![screenshot 202](https://user-images.githubusercontent.com/37126106/39845149-18da4f68-53a9-11e8-8b27-d0f1f64af17a.png)

[2018-05-10 00:00] Mike-Ubezzi-MSFT commented on #8353
@tasgray Thank you very much for the feedback. It appears there is a similar request made to the [AAD User Voice forum](https://feedback.azure.com/forums/169401-azure-active-directory?query=REST%20API).
If that does not match your enhancement idea, please feel free to add your idea. By doing so other's are able to vote + comment and provide direct feedback to the product group.
Regards,
Mike

[2018-05-10 00:03] Mike-Ubezzi-MSFT commented on #8374
@emft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 00:03] rboucher commented on #7365
Verified published.  You can close this issues @femsulu

[2018-05-10 00:08] Mike-Ubezzi-MSFT commented on #8374
@wesmc7777 Also, the 'service' value in the metadata may want to be updated to 'redis-cache'. I think 'cache' is the previous designation.

[2018-05-10 00:10] Mike-Ubezzi-MSFT commented on #8378
@brucedkyle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 00:14] Mike-Ubezzi-MSFT commented on #8379
@eschrader Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 00:16] Mike-Ubezzi-MSFT commented on #8367
For reference:
![screenshot 203](https://user-images.githubusercontent.com/37126106/39845786-b5717434-53ac-11e8-9880-7827b21668e0.png)

[2018-05-10 00:18] Mike-Ubezzi-MSFT commented on #8367
@NickDorak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 00:26] Mike-Ubezzi-MSFT commented on #8375
@Amethi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-10 00:28] Mike-Ubezzi-MSFT commented on #8373
@noelbundick Thank you for the feedback. As you can see, the document author is already in the process of fixing this.
Regards,
Mike

[2018-05-10 00:31] mrbullwinkle commented on #8215
@kobulloc-MSFT Looks good to me. My only additional suggestion is that from the overview timeline they could also open Analytics and then export from there:

![Open Analytics](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/8215/01.png)

![Run Query](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/8215/02.png)

![Export Data](https://raw.githubusercontent.co

[2018-05-10 00:33] MrJohnLocke opened #8381 "Azure getting wrong connection count?"
After completing this tutorial and testing with two user sessions, the "Connection count" metric in Azure is saying there's 35 connections, instead of 2.  Where is it getting these extra connections from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3e

[2018-05-10 00:33] femsulu commented on #7365
@lrpark, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:33] #7365 closed

[2018-05-10 00:35] tfitzmac commented on #8344
@kpstolk - thanks for this feedback, and @romankiss - thanks for adding the fix.

I have added a note to the article about using the CLI extension or preview REST version.

[2018-05-10 00:35] femsulu commented on #8376
@brucedkyle, Thanks for the update and sharing the fix. You may also want to review this GitHub issue as it provides additional context on "https://github.com/MicrosoftDocs/azure-docs/issues/8090" usage & supported aliases.
Duplicate of #8090

[2018-05-10 00:35] #8376 closed

[2018-05-10 00:36] Mike-Ubezzi-MSFT commented on #7627
@jucchytil We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:36] #7627 closed

[2018-05-10 00:36] Mike-Ubezzi-MSFT commented on #7705
@bdcoder2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:37] Mike-Ubezzi-MSFT commented on #7724
@tektica We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:37] #7724 closed

[2018-05-10 00:37] Mike-Ubezzi-MSFT commented on #7843
@StefH We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:37] #7843 closed

[2018-05-10 00:37] Mike-Ubezzi-MSFT commented on #7929
@simoncreasey We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:37] #7929 closed

[2018-05-10 00:38] #8155 closed

[2018-05-10 00:38] mrbullwinkle commented on #8232
@SergeyKanzhelev & @cijothomas  any additional guidance you would recommend?

[2018-05-10 00:38] tfitzmac commented on #8236
@romankiss - thanks for pointing out this difference in the IDs that are passed in. I'll add a clarification.

[2018-05-10 00:38] femsulu commented on #8378
Closing this as duplicate
Duplicate of #8090

[2018-05-10 00:38] #8378 closed

[2018-05-10 00:38] Mike-Ubezzi-MSFT commented on #8334
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:38] #8334 closed

[2018-05-10 00:39] Mike-Ubezzi-MSFT commented on #8339
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 00:39] #8339 closed

[2018-05-10 00:48] cijothomas commented on #8232
@mrbullwinkle To get full SQL queries, StatusMonitor need to be installed or if hosted in Azure Web Apps, then ApplicationInsights extension need to be installed.
There won't be any need to update from 2.3.0 of the SDK to get full sql.

[2018-05-10 01:01] mrbullwinkle commented on #8232
@cijothomas Thank you for the clarification!

[2018-05-10 01:04] missmariamac commented on #8202
Thanks!!  Was able to sign in today on computer.  Will try to add to my phone.
Recursive loop -- love it!!  
Thanks for getting back.  Yes, please close the thread.  Great service from you, Mike.marymac

      From: Mike Ubezzi <notifications@github.com>
 To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: missmariamac <missmariamac@yahoo.com>; Mention <mention@noreply.github.com>
 Se

[2018-05-10 01:45] femsulu commented on #8152
@PROnICT, I am able to repro your issue. Removing "-StoreName" seems to solve this.
![image](https://user-images.githubusercontent.com/34327711/39847919-f3833508-53b8-11e8-9b6c-fa6a2396be1f.png)

@ tfitzmac - can you please take a peek at this? Does it make sense to update the doc to remove the -StoreName Param?

[2018-05-10 01:52] MicahMcKittrick-MSFT commented on #8142
@jason-j-MSFT Can you help @xmark out when you get a chance?

[2018-05-10 01:55] MicahMcKittrick-MSFT commented on #8375
@Amethi no reason it shouldn't work in a Hybrid scenario. Depending on your setup it might take some extra configuration though rather than just simply following this doc.

That being said it is still in preview so I would hold off using it for production workloads until it has been confirmed and thoroughly tested.

[2018-05-10 01:57] MicahMcKittrick-MSFT commented on #8380
@uncarlo at which point in the doc are you getting this error?

[2018-05-10 02:09] uncarlo commented on #8380
@MicahMcKittrick-MSFT Hi Micah,
Runtime, compile time is fine. I had to turn on the setting to stop on exceptions otherwise it would keep running and just show an error on the browser saying to "run it in development mode" for more details.

Here's a screenshot:

![image](https://user-images.githubusercontent.com/6371158/39848571-879f8e32-53bc-11e8-933d-02f3a6e2fd4f.png)

[2018-05-10 02:38] wesmc7777 commented on #8374
@emft Thank you. I'll get this updated.

[2018-05-10 02:49] iainfoulds commented on #8356
@ksurendra If you are finding that port 22 for SSH isn't open by default, that's something else we need to investigate. As @Mike-Ubezzi-MSFT notes in his testing, the ports should be the opened when a VM is created with Azure CLI 2.0, the portal, or Azure PowerShell.

As such, I don't agree that there needs to be a doc that shows how to open TCP port 22. @cynthn had already noted that we already h

[2018-05-10 02:58] bearrito commented on #7525
Thanks for the effort! I'd really like to use DataLake but just need to know about the SDK stability

[2018-05-10 03:25] Mahendra-raja opened #8382 "QnA maker - Azure Blob SAS URL not working"
I uploaded the FAQ document to Azure Blob storage, created a SAS URL and included the URL for Knowledge Base creation. It doesn't work. It take long time and times out or returning error like unable to extract content or unsupported file format. I uploaded the same document to a publicly accessible blob storage, it works.  Is it because of the query strings associated with SAS URL?

[2018-05-10 03:32] isharehappycode opened #8383 "Static configuration via the enrollment list - Need more info?"
Where I should store these static configurations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec5e18dd-edbd-2978-d8bf-7739a1e54cea
* Version Independent ID: ce89eed6-ef5a-bde4-9955-a5e7d99a6945
* Content: [Service concepts in Azure IoT Hub Device Provisioning Service](https://docs.microsoft.com/en-us/azure/iot-dps/c

[2018-05-10 04:16] shasdas commented on #8365
Hi @Mike-Ubezzi-MSFT ,
Closing this issue as I observed that this issue is mainly associated with docker installation in my Azure VM since MobiLinux VM failed to start on my azure VM.

Thanks,
Shaswata

[2018-05-10 04:16] #8365 closed

[2018-05-10 06:02] davidfowl commented on #8208
We're looking at enabling the Azure SignalR Service using ASP.NET Core SignalR but running in OWIN. That means you'll be able to use the service in your existing OWIN based application but using the newer version of SignalR. There are currently no plans to support the service using ASP.NET SignalR.

[2018-05-10 06:11] wesmc7777 commented on #8381
@MrJohnLocke Currently, there are actually a couple of issues at play causing this.  Presently there is some overhead of server connections that are being reported, by default that would be 5. Add to that the 2 client connections and the correct value should be 7.  However, a bug is causing that to be scaled by 5 resulting in 35. This connection metric may be redefined some before GA.

[2018-05-10 07:16] StefH commented on #7843
Thank you.

[2018-05-10 08:51] iant-travelopia commented on #8232
@mrbullwinkle The answer in the troubleshooting section is incorrect.

The bullet reading "Upgrade to the latest version of the SDK. If your .NET version is less than 4.6" should read something like "SQL queries are not collected by the SDK. Ensure the appropriate agent is installed on the host server:"

[2018-05-10 08:55] JoNevi opened #8386 "Undocumented data types"
I accidentally created a column in a Blob schema with a datatype of "Date" and the deployment didn't fail.  As this isn't a documented datatype in this article could you clarify if this is a synonym for DateTime, or whether the plan is to include Date as a datatype in its own right in the future (in the way that SQL Server has Date as well as DateTime).  Thanks.

---
#### Document Details

⚠ *Do n

[2018-05-10 08:59] daniel-lorenzin opened #8387 "Azure Search tier incorrent"
The basic search teir only supports 5 indexes, so you can only have 4 KB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b62d38a-cace-8b96-a56d-e5dfadc8192b
* Version Independent ID: 21c3de87-8adb-aa2b-2fc7-f7db10315bee
* Content: [QnA Maker Limits - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cog

[2018-05-10 09:02] adumont opened #8388 "Detail permissions of Databricks to Data Lake Store at Azure IAM level"
Tutorial says in "In Add permissions, select a role that you want to assign to the service principal. For this tutorial, select Owner."

"role that you want to assign". Personally I want to assign the least priviledges, by security principle.

- Why would the Databriks resource even need access to the Datalake Store resource at Azure level? Can you detail that part?
- Without further information,

[2018-05-10 09:39] rustc0h1e opened #8389 "container service is in failed state."

[2018-05-10 10:45] dominicbetts commented on #8265
I'll pass this on to the product team and ask them to ensure the text in the portal is updated. Thanks again!

[2018-05-10 11:33] iant-travelopia commented on #8232
@mrbullwinkle Are you saying that to see the SQL queries you need BOTH status monitor (to collect the query) and .NET 4.6 (to log it to AppInsights as a dependency)?

Based on the table in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-insights/app-insights-monitor-performance-live-website-now.md I understood that status monitor would log the dependency itself (see Ru

[2018-05-10 11:38] HemantChandurkar commented on #8040
thanks. It seems it is proxy issue my side. I am closing this issue.

[2018-05-10 11:38] #8040 closed

[2018-05-10 11:40] mrbullwinkle commented on #8232
@SergeyKanzhelev is the author of the external blog post on the deep inner workings of Status Monitor. Sergey do you mind clarifying I don't want to create any further confusion on this one.

[2018-05-10 11:41] Anmolgan81 opened #8390 "How to move App Service Certificate?"
How one can move app service certificate which is associated with other webapps?
Do I need to delete the app service certificate from the web app then move web app first then move the app service certificate??
What about the keyvault that is linked with the app service certificate do it needs to be moved with the app service certificate
what about the web apps that contains both app service certif

[2018-05-10 12:06] Amethi commented on #8375
Knowing it should be possible is half the incentive to give it a go, thanks :)

[2018-05-10 12:32] novaterata opened #8392 "Missing any documentation on the quota"
Please add an explanation for how the quota works. I'm not finding any information on this. I have an ACR that just has 1 image that is replaced daily with an updated copy yet my quota ran out. It would be nice to understand why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b876f15f-5cad-5764-891d-ff8184f3d8ca
* Vers

[2018-05-10 12:49] KjetilEVRY opened #8394 "Not in preview anymore"
This feature is not in preview anymore, according to the AAD Connect tool in the latest versions. And please, do update and create more documentation about this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94329ab1-52d9-88f3-1fe0-9eeac8ca855a
* Version Independent ID: 2d68a249-35ba-9968-32de-caec24bfe98d
* C

[2018-05-10 13:13] CHDAFNI-MSFT opened #8395 "UI breaking change"
looks like they've removed the ability to do basic/advanced for tutorial section: Add a condition that checks for virtual machine changes - step 2. Now you can only set Dynamic Content or Expression.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e996c57-14b5-75a3-29de-40e6a44c50d3
* Version Independent ID: 8a469e82-9

[2018-05-10 13:21] NiranjanAbb opened #8396 "Unable to run gremlin in c# console application"
I have created one application in c# console application which uses gremlin.  Below particular code throws error. I am using VS2017 and windows 2007 OS with Service Pack 1

[code]

Below error I am getting.
PlatformNotSupportedException: The WebSocket protocol is not supported on this platform.

[2018-05-10 13:43] #8389 closed

[2018-05-10 13:51] DrEight opened #8397 "Azure Key Vault"
how does it work if the certificate is stored in the Key Vault ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint to an Azure Service Fabric application](https://docs.microsoft.com/en-us/a

[2018-05-10 14:28] KTazayan commented on #8166
Ok, thank you!

[2018-05-10 14:35] cezane commented on #8265
Good, Dominic. Besides the text, I think the functionality should be updated also, since the portal is validating those information: both primary and secondary fields must be provided in order to allow the adding and also they must receive SHA1 thumbprints (I tried with SHA256 before and the validation blocked the adding).
Regards.

[2018-05-10 14:41] MohitGargMSFT commented on #8228
@chrift We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-10 14:41] #8228 closed

[2018-05-10 14:42] #8273 closed

[2018-05-10 14:46] craigshoemaker commented on #8287
This article is now in the backlog to update.

#please-close

[2018-05-10 14:49] HowardEdidin opened #8401 "interactiveSearch.html."
Does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e
* Version Independent ID: d0f120b2-5ef9-9112-d17f-e8b2275ed5b4
* Content: [Interactive Map Search with Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/quick-demo-map-app)
* Content Source: [articles/azure-ma

[2018-05-10 14:54] mrbullwinkle commented on #8149
#please-close

[2018-05-10 14:58] Anmolgan81 opened #8402 "Can we move generalized managed disk image or unmanaged disk image across subscriptions?"
How about if we want to move generalized managed or unmanaged images across subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://do

[2018-05-10 14:59] #7976 closed

[2018-05-10 15:16] Mike-Ubezzi-MSFT commented on #8149
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 15:16] #8149 closed

[2018-05-10 15:20] Mike-Ubezzi-MSFT commented on #8389
@rustc0h1e If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 15:26] j-martens commented on #5506
@raymondlaghaeian - can you please review this issue?

[2018-05-10 15:27] Mike-Ubezzi-MSFT commented on #8382
@Mahendra-raja Can you provide a link to the documentation you are following to configure this functionality? If you are not following a step-by-step tutorial, can you provide additional details as to what you are attempting to achieve.
Regards,
Mike

[2018-05-10 15:28] j-martens commented on #7459
@csteegz - did this get fixed please? If so, can you close this issue?

[2018-05-10 15:29] j-martens commented on #6714
@hning86  https://docs.microsoft.com/en-us/azure/machine-learning/preview/how-to-read-write-files . Can you confirm and/or update this documentation based on customer feedback above?

[2018-05-10 15:30] j-martens commented on #7393
#please-close

[2018-05-10 15:31] LuisCabrer commented on #8362
The answer is YES!, and you can try it right now. Essentially, PDF documents tend to have 2 types of information embedded in them. Sometimes they have actual _text_ inside of them, sometimes they are nothing but a container for _images_ -- for instance a PDF that is generated from a scanner is most likely a set of images. And sometimes they have both _text_ and embedded _images_.

As part of its d

[2018-05-10 15:31] akramwaseem commented on #8372
Thanks , will take a look at the doc, anything in azure cli. We dont use powershell at all. Like not at all in any given case.

[2018-05-10 15:32] j-martens commented on #7591
@heatherbshapiro Heather Shapiro FTE You are listed as the author of this article. Can you please update the doc as needed. Thanks!

[2018-05-10 15:35] Mike-Ubezzi-MSFT commented on #8396
@NiranjanAbb Thanks for the feedback! Are you following a tutorial or is there a document you can reference? Thank you, Mike

[2018-05-10 15:48] j-martens commented on #7758
@gopitk Is the workaround for this known issue documented? If the next release isn't coming very, very soon, can we make it easier for people to find this workaround? Thx

[2018-05-10 16:03] #8287 closed

[2018-05-10 16:05] vdevappa opened #8404 "Code for .NET 4.7.2"
This link tells you the number for .NET 4.7.2 in the registry (Additional Resources): https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed (461808). Convert this to hex to get the code for the above script: 0x70BF0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-05-10 16:07] mrbullwinkle commented on #6904
#please-close

[2018-05-10 16:07] j-martens commented on #8131
@revodavid - if this solves your issue, please close this issue. If you need more or think more documentation is needed, please let @gopitk know.

[2018-05-10 16:17] alkohli commented on #8335
@SychevIgor Thanks for your feedback! This is not a bug. This version of release notes was written for the classic portal. The older release notes for the product are put in an Archive node so as to keep a record. We do not have an archive solution and the Support needs to refer to this as there are older version devices running in the field. Will be closing this bug. Thanks!

#please-close

[2018-05-10 16:18] Mike-Ubezzi-MSFT commented on #7851
@sullyNivek75 At the beginning of this tutorial, there is a 'Note' section that discusses a prerequisite for having the device already set-up:

![screenshot 204](https://user-images.githubusercontent.com/37126106/39880357-690138b0-5432-11e8-85d6-9bdd63c74e1e.png)

[set up your device](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-started)

In those steps, there i

[2018-05-10 16:25] revodavid commented on #8131
Issue still exists. Part of the problem is that the DSVM invites you to launch JupyterHub from the Applications menu in XFCE, which launches on port 9999. Also, with recent changes to Azure Portal one must manually open ports before any connection is made.

[2018-05-10 16:29] vdevappa commented on #8404
The code is 0x70bf6 as the OS on Azure is windows server which would have the number 461814

[2018-05-10 16:29] gopitk commented on #7758
We are releasing the fix very soon. Currently in testing.

[2018-05-10 16:31] cynthn commented on #8372
@akramwaseem I also checked on the [Marketplace website](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/category/compute?filters=linux&page=1) and I'm not seeing specifics about when the images were last updated. I think this is good feedback to pass along to the Marketplace folks and I'm working on finding a contact.

[2018-05-10 16:32] gopitk commented on #8131
@revodavid - Can we close the issue in the subject since documentation is fine. The code does have an issue and is tracked in another issue (https://github.com/MicrosoftDocs/azure-docs/issues/7758). Sorry about the confusion. The fix is in testing and are hoping to release it soon.

[2018-05-10 16:52] nberdy commented on #8383
The static configuration is used by specifying the iotHubHostName of the IoT hub you want your device(s) to be registered to. It's stored in the enrollment object.

[2018-05-10 16:54] paulmarshall opened #8406 "Storage account"
Does an azure function still need a) to have a storage account and b) a AzureWebJobsStorage app setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.com/en-u

[2018-05-10 16:58] MicahMcKittrick-MSFT commented on #8372
Thanks @cynthn! I also think it is good feedback.

I will assign this to you while you work on a contact.

[2018-05-10 17:00] MicahMcKittrick-MSFT commented on #8375
@Amethi no problem! Let me know how it goes. I am curious to see any issues or changes that need to be done. Would be good to get it into a doc eventually :)

[2018-05-10 17:00] #8375 closed

[2018-05-10 17:05] Adam-Smith-MSFT commented on #8233
@AdityaJasti Thanks for the info, I'd recommend posting your comment under the documentation itself so the content authors or engineers can help you with it. if you scroll down, you'd be able to leave a comment as shown bellow:
![doc feedback](https://user-images.githubusercontent.com/34456968/39882795-aec79da6-5439-11e8-87d4-8ee26bdc21e1.png)

[2018-05-10 17:05] #8233 closed

[2018-05-10 17:05] MicahMcKittrick-MSFT commented on #8392
@novaterata I am not seeing any limits for images stored:

![image](https://user-images.githubusercontent.com/32313503/39882762-974201a8-5439-11e8-9ff7-fc461ddefb83.png)

However depending on which SKU you picked you get different amount of storage:
![image](https://user-images.githubusercontent.com/32313503/39882782-a6aa503c-5439-11e8-9af6-621bd2ec4d34.png)

Do you know which SKU you are using?

[2018-05-10 17:08] MicahMcKittrick-MSFT commented on #8397
@DrEight Thanks for the question! We are investigating and will update you shortly.

[2018-05-10 17:08] novaterata commented on #8392
The issue I'm having was that dangling images were taking up all my
storage, but this invisible in the UI as untagged images aren't listed.
Some explanation about the Quota would be good, because it made no sense
until I figured that out

On Thu, May 10, 2018, 1:05 PM Micah <notifications@github.com> wrote:

[2018-05-10 17:09] MicahMcKittrick-MSFT commented on #8404
@vdevappa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-10 17:14] mike-urnun-msft commented on #8395
@CHDAFNI-MSFT Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-10 17:15] cynthn commented on #6168
@tim-at-software-forge-co-uk I work with Jon on the VM sizes documentation. Much of what is available is dependent on your region and your subscription, which makes it hard to add into a reference table like we have in the VM sizes docs. We are working on finding a better solution. In the meantime, take a look at this site: https://computeinfo.azurewebsites.net/. Is that more helpful?

[2018-05-10 17:15] #6904 closed

[2018-05-10 17:16] SaurabhSharma-MSFT commented on #8394
@KjetilEVRY Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-10 17:16] Mike-Ubezzi-MSFT commented on #8361
@kmkelly2015 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 17:16] #8361 closed

[2018-05-10 17:16] Mike-Ubezzi-MSFT commented on #8353
@tasgray We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 17:16] #8353 closed

[2018-05-10 17:18] Mike-Ubezzi-MSFT commented on #8307
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET application for Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app#prerequisites)
* Con

[2018-05-10 17:18] mike-urnun-msft commented on #8335
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-05-10 17:18] #8335 closed

[2018-05-10 17:25] YutongTie-MSFT commented on #8387
@daniel-lorenzin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-10 17:25] mike-urnun-msft commented on #8401
@HowardEdidin Thank you for reporting this! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-10 17:25] #8356 closed

[2018-05-10 17:45] nberdy commented on #8383
#please-close

[2018-05-10 17:55] tmaeller opened #8409 "Incorrect 8x8 configuration instructions"
The following step in this tutorial directs the user to apply the wrong URL in their 8x8 SSO configuration:

13) Copy SAML SSO URL, Single Sing Out Service URL and Issuer URL from Azure AD to Sign In URL, Sign Out URL and Issuer URL in 8x8 Virtual Office

Here's 8x8's KB article regarding the 8x8 side of this config:

https://support.8x8.com/us/products/virtual-office-integrations/how-do-i-configu

[2018-05-10 17:57] YutongTie-MSFT commented on #8387
@daniel-lorenzin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, can you please check how many tiers support for basic tier, and update the document as necessary? Thanks a lot!

[2018-05-10 17:58] Mike-Ubezzi-MSFT commented on #8307
@Joyliu290 I was unable to reproduce this error. Please ensure that you have the following installed, per the prerequisites:

[Prerequisites](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app#prerequisites)
Before you begin this tutorial:
- If you don't have an Azure subscription, create a free account
- Install Visual Studio 2017 version 15.5 or later

[2018-05-10 18:01] pidge66 opened #8410 "Source not found"
File Not Found:   https://raw.githubusercontent.com/vhorne/samplescripts/master/install_nginx.sh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 321477d6-3bf9-f8cc-0a04-e17e389573fc
* Version Independent ID: dc56b83e-9a93-dc88-82de-ec412f0b829f
* Content: [Create an application gateway with URL path-based redirection -

[2018-05-10 18:03] rashmichandrashekar commented on #8348
@stijnbrouwers : could you give this a try and let us know if it worked?

[2018-05-10 18:03] femsulu commented on #8390
@Anmolgan81, Thanks for bringing this to our attention. Your questions have been shared with the content owner for further review.

[2018-05-10 18:11] Mike-Ubezzi-MSFT commented on #8282
@dan4ist Can you provide a screen capture or cut/paste the full error message to this GitHub issues. I am not able to reproduce this error. Thanks, Mike

[2018-05-10 18:12] vasivara-MSFT commented on #8386
@JoNevi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 18:15] vasivara-MSFT commented on #8388
@adumont Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 18:24] quantumtunneling opened #8412 "How do you adjust the Key Bit length for the cipher?"
We are getting a grade 'B' in SSL Labs because we need to increase the key bit length from 1024 to 2048, but the only way I know how to do this is via the registry. Is there a way to configure this in the Application gateway? If not this seems like a significant oversight.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-10 18:40] koolkarni opened #8413 "FileShare Trigger"
Is there any trigger that can happen in azure JavaScript functions, when a new file is uploaded ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independent ID: e346a973-fcb9-0c10-c1ed-17acd806ced9
* Content: [Triggers and bindings in Azure Functions](https://docs.microsof

[2018-05-10 18:41] jojenreed opened #8414 "Missing end of line character in the last code block"
The code block in the second step of the last section of this document is missing an EOL character that causes the code execution to fail.
'''
$p2sCertData = [System.Convert]::ToBase64String($p2sCertToUpload.RawData) Add-AzureRmVpnClientRootCertificate -VpnClientRootCertificateName $p2sCertFullName -VirtualNetworkGatewayname $azureVpn.Name -ResourceGroupName $resgrp.ResourceGroupName -PublicCertDa

[2018-05-10 18:43] netlander1 opened #8415 "Certificate Based Authentication to an Amazon S3 PostgreSQL Database"
I posted something very similar in the Self-Hosted integration runtime, but looking over the documentation for the Azure-SSIS IR, is it possible to use certificate based authentication to an Amazon S3 PostgreSQL Database.

Azure-SSIS IR would be my preferred way of copying data, and it would allow us to utilize our existing SSIS packages without having to recreate them by scratch in the Data Facto

[2018-05-10 18:49] mferris2421 opened #8416 "CREATE SERVER AUDIT on Managed Instance"
The code provided with RETENTION DAYS specified throws error stating syntax is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a258bb07-e71a-d4e1-5f2c-bdad60a6a2e1
* Version Independent ID: 9bf5c440-3231-96be-e6ff-548e686c0203
* Content: [Azure SQL Database Managed Instance Auditing](https://docs.microsoft.co

[2018-05-10 18:55] mmacy commented on #8392
@novaterata I've got a work item currently in the queue for a Troubleshooting doc, and this would be a good fit for that. As well, I could add a note the [Image storage](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-storage) article that contains a small section on gotchas such as this one.

@MicahMcKittrick-MSFT, you can go ahead and assign this one to me, and I'll

[2018-05-10 18:57] novaterata commented on #8392
Thanks, I'm all good now, but it was a real mystery for awhile

On Thu, May 10, 2018, 2:55 PM Marsh Macy <notifications@github.com> wrote:

[2018-05-10 19:00] CeciAc commented on #6270
Hello, @KeiroKamioka0000
 
Thank you for your feedback.
 
The issue was solved after the latest update and now the current version of both en-US and localized pages match.

We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback.

Kind regards,
Microsoft DOCS International Team

@MohitGargMSFT  you can close this issue

[2018-05-10 19:03] Thraka commented on #8404
Working on it...

[2018-05-10 19:05] vdevappa commented on #8404
0x70bf6 is the code for .NET 4.7.2 right? Seems to work for me. @Thraka

[2018-05-10 19:31] tfitzmac commented on #7650
@tonybendis - I was not able to duplicate this error. This article describes how to get a value from Key Vault and pass that value as a parameter to a template. When deploying the resource, the parameter value would only contain the secret without any indication of the subscription ID that it came from. Were you instead trying to the set the certificate URL in VM resource?

[2018-05-10 19:33] Thraka commented on #8404
@vdevappa I basically use the same page and convert it in calc. :) So probably. I'll double check the page though.

[2018-05-10 19:34] HowardEdidin opened #8417 "How do you search for Iot devices?"
This is supposed to be an IoT service.  You need to provide a sample that shows how your can  search for devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e
* Version Independent ID: d0f120b2-5ef9-9112-d17f-e8b2275ed5b4
* Content: [Interactive Map Search with Azure Maps](https://

[2018-05-10 19:42] kayjay2018 opened #8418 "Converting VM to an Image - Found one limitation"
When VM is Generalized, Tag updates are Not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02855574-10b1-dfc7-ad1e-08c45bc06e62
* Version Independent ID: 093952bc-8825-c5ef-65ef-68f5e0548bd7
* Content: [Create an unmanaged image of a generalized VM in Azure](https://docs.microsoft.com/en-us/azure/virtual-mach

[2018-05-10 19:56] vdevappa commented on #8404
Just note that for .NET 4.7.1, that script was originally using the hex code for Windows 10 and not for "other" OS like windows server. I confirmed that for .NET 4.7.2, on my azure cloud VM, the number given for .NET 4.7.2 is "other" - not the windows 10 one.

[2018-05-10 19:57] Thraka commented on #8404
I noticed that too. I'm not sure if it was that way because the windows server 2016 is considered win 10?? What guest OS were you using when you tested?

[2018-05-10 19:57] Thraka commented on #8404
I want to convert this script to powershell.. ugh I hate batch files! :)

[2018-05-10 19:58] vdevappa commented on #8404
Windows server. It is definitely a bug because the way it was written, it took a while for the update to happen probably because the script was confused when it did not find that hex code after installing .NET 4.7.1. With the correct hex code, the cloud service does not take that long to come up again.

If you do PS, be sure to test and see if it will actually run properly during the cloud service

[2018-05-10 20:00] tdykstra commented on #8413
@koolkarni We don't have a file system trigger in Azure Functions. We do for the [WebJobs SDK](https://azure.microsoft.com/en-us/blog/extensible-triggers-and-binders-with-azure-webjobs-sdk-1-1-0-alpha1/), but WebJobs SDK doesn't support JavaScript functions.

[2018-05-10 20:01] Thraka commented on #8404
All cloud services are windows server, which edition did you select? 😄

[2018-05-10 20:02] tdykstra commented on #8406
If your function app only has HTTP trigger functions, you don’t need a Storage account, but for all other triggers you do.

[2018-05-10 20:03] vdevappa commented on #8404
oh right. Unlike most other people, I always use the latest OS. I am on Windows Server 2016

[2018-05-10 20:07] Thraka commented on #8404
:grin: OK good. I'm putting in the article change now. The script is always located [here](https://github.com/MicrosoftDocs/azure-cloud-services-files/tree/master/Startup%20Tasks/Install%20DotNet)

[2018-05-10 20:08] vdevappa commented on #8404
cool. thanks!

[2018-05-10 20:08] Thraka commented on #8108
For reference, this will be fixed while addressing #8404

[2018-05-10 20:13] vdevappa commented on #8404
FYI.. You have used the AllOS version of the installer, while the old scripts used the web version which is smaller.

[2018-05-10 20:25] tfitzmac commented on #7753
@brushwood24 - are you able to share your template?

[2018-05-10 20:27] Thraka commented on #8404
Yeah I wasn't sure, I kept finding ALLOS in searching for the download. I'll keep searching

[2018-05-10 20:30] Thraka commented on #8404
OH whoops. I kept reversing it in my head... ok I have the web installer. I'll update that.

[2018-05-10 20:36] tfitzmac commented on #7845
@CHDAFNI-MSFT - is it okay for us to close this issue now that we have started the planning process for updating the governance articles?

[2018-05-10 20:36] Thraka commented on #8404
OK that is fixed in the script 👍

[2018-05-10 20:37] jason-j-MSFT commented on #8142
@xmark it looks like the web activity is meant for flow control rather than any substantial data processing.  The custom activity is intended for transformations although I do not see any references to a timeout in the documentation:
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity

@sharonlo101 do you have guidance regarding the web activity timeout?

[2018-05-10 20:43] rfigueroa opened #8419 "Why is there no mention of SCM_USE_FUNCPACK in this reference?"
I think that config should be documented in here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App settings reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app

[2018-05-10 20:44] CHDAFNI-MSFT commented on #7845
Absolutely!

#Closed

Chase Dafnis

Sr. Premier Field Engineer
US Public Sector
Microsoft Corporation

Office: 646.225.4724
Chase.Dafnis@microsoft.com<mailto:Chase.Dafnis@microsoft.com>

[Twitter]<https://twitter.com/Microsoft>    [Facebook] <https://www.facebook.com/Microsoft>     [Linkedin] <https://www.linkedin.com/company/microsoft>     [Youtube] <https://www.youtube.com/user/Microsoft>

[Micr

[2018-05-10 20:46] rfigueroa opened #8420 "Is there a way to configure the deployment script that is executed when doing CI ?"
I have SCM_USE_FUNCPACK configured on my Function App, but the script still does `npm install` when I think is no longer needed, How can skip the `npm install`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [

[2018-05-10 20:49] #6270 closed

[2018-05-10 20:51] Mike-Ubezzi-MSFT commented on #8282
I was able to navigate through the tutorial and complete the database column encryption:

![screenshot 208](https://user-images.githubusercontent.com/37126106/39893562-00e32122-5459-11e8-8259-1022779c4fa2.png)

And save the Always Encrypted Keys:

![screenshot 209](https://user-images.githubusercontent.com/37126106/39893610-24c6d642-5459-11e8-97e2-86731f22cf6f.png)

[2018-05-10 20:59] CeciAc commented on #7259
@SaurabhSharma-MSFT please close this issue since it's beign worked in the ja-JP repo

[2018-05-10 21:02] erikaulin opened #8421 "change from create to apply"
Recommend to change from create to apply.

`kubectl create -f azure-vote-all-in-one-redis.yaml`
to
`kubectl apply -f azure-vote-all-in-one-redis.yaml`

As I started with [Create an AKS cluster - CLI](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough) and then moved to [Tutorial - 2 - Create container registry](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-a

[2018-05-10 21:14] Mike-Ubezzi-MSFT commented on #8416
@mferris2421 I am seeing the same exception. Just to confirm, are you running Azure SQL database Managed Instance? I am unable to complete the `CREATE CREDENTIAL` T-SQL because I am using Azure SQL Database and this command is not supported. I am not using Managed Instance.

![screenshot 210](https://user-images.githubusercontent.com/37126106/39894548-1314f9bc-545c-11e8-8f70-a713f85e9087.png)

[2018-05-10 21:15] ConnorMcMahon commented on #8204
This looks like [this issue](https://stackoverflow.com/questions/46802055/tenant-does-not-have-a-spo-license). It sounds like the AAD tenant doesn't have an Office 365 subscription associated with it.

[2018-05-10 21:16] chaitualladi commented on #8179
@lleonard-msft  Thanks for your suggestion, but i have given my service principal "Owner" role, which has all permissions to do the operations on keyvault and storage and it is registered with AD. So i will open a discussion on StackOverflow with my issue for more relevant solutions.

[2018-05-10 21:16] #8179 closed

[2018-05-10 21:16] CeciAc commented on #7721
Hi @SaurabhSharma-MSFT
Be aware due a technical issue this was duplicated with Issue  #7722

Kind regards,

[2018-05-10 21:17] kgremban commented on #8221
Hi @cezary-draus and @Mike-Ubezzi-MSFT this link has been fixed and is now working in the article. Thank you for pointing this out.

[2018-05-10 21:17] TravisCragg-MSFT commented on #8414
@jojenreed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 21:25] Mike-Ubezzi-MSFT commented on #8221
@cezary-draus We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-10 21:25] #8221 closed

[2018-05-10 21:25] TravisCragg-MSFT commented on #8412
@quantumtunneling Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-10 21:26] tfitzmac commented on #7845
#please-close

[2018-05-10 21:28] quantumtunneling commented on #8412
Thanks @TravisCragg-MSFT !

[2018-05-10 21:34] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- that might not be possible . We have around 500 VMs in all the subscriptions and we test the new ones all the time and In don't think that is a valid structure when you are trying to implement as Saas or Iaas.

Also I tried the option you mentioned and seems like it is same as docker extension and docker extension is discontinued .so seems like I cannot use the docker with

[2018-05-10 21:36] kmkelly2015 commented on #8361
@Mike-Ubezzi-MSFT @DhruvMsft Thanks for the feedback guys.

[2018-05-10 21:37] alkohli commented on #8331
@SychevIgor  This article is now deleted as it is no longer relevant. Migration to new Azure portal is complete. The links to article will now redirect to the StorSimple documentation page. The article was deleted via PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/40896. This PR is now merged, changes will be live at the next publish cycle. Thanks for your patience!
#please-close

[2018-05-10 21:37] vasivara-MSFT commented on #8415
@netlander1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 21:38] kgremban commented on #8370
@jinzh-azureiot can you confirm that the search/address command only accepts one address as a time as input? Or is there a bulk query option?

[2018-05-10 21:39] tfitzmac commented on #8390
@Anmolgan81 - the limitations for certificates are described in the [App Service limitations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#app-service-limitations) section.

First move the web apps, then move the App Service certificate. You shouldn't need to delete the App Service certificate.

Any uploaded certificates need to deleted and then uploa

[2018-05-10 21:39] GraemeSMiller opened #8422 "Event Hubs Capture Replay"
In the next steps - it would be handy to have some guidance on replaying captured events. For example azure function -> event grids with some C# code. The Capture Event Hubs python data is great - but not great for C# developers. Bit more material around using captured data - I'm pretty sure I saw a sample on the EventGrid GitHub that related to replay

---
#### Document Details

⚠ *Do not edit th

[2018-05-10 21:43] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- I found a interesting document in github from OMSagentforLinux repo, which is as follows
My question we cannot follow the same format for the VMss, I tried and VMss doesn't work that way .
Below format works only with the VMs and not VMss.

2.3. Using ARM Template
{
  "type": "Microsoft.Compute/virtualMachines/extensions",
  "name": "<extension-deployment-name>",
  "apiVer

[2018-05-10 21:45] kgremban commented on #8401
Hi @HowardEdidin this broken link has been fixed and is working in the live version of the article. I'm sorry for any inconvenience.

[2018-05-10 21:51] TravisCragg-MSFT commented on #8410
@pidge66 I am able to see that it is inside the "Install NGINX" CLI segment.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-10 21:52] jeffhollan commented on #7862
@derek1ee Can you look into this?

[2018-05-10 21:53] jeffhollan commented on #8147
@derek1ee Can you grab this? Should be assigned to you and team and sounds like a valid issue.

[2018-05-10 21:57] Juliako commented on #7101
@EvGe22, the free trial has a daily upload limit of 100 files. You can check the error message returned for details. Note that the daily limit might change.

[2018-05-10 21:59] Juliako commented on #7101
added the note to a couple of docs

[2018-05-10 21:59] Juliako commented on #7101
#please-close

[2018-05-10 22:00] tfitzmac commented on #8402
@Anmolgan81 - Images from managed disks cannot be moved. Images from unmanaged disks should be fine to move. The limitations for managed disks are described in the [Virtual Machines limitations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#virtual-machines-limitations) section.

[2018-05-10 22:01] timmydo opened #8423 "Web App with custom docker image in azure container registry - environment variables"
I'm having a hard time finding where I can set custom environment variables that docker run will pass to my custom docker image. My image reads config from those environment variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f970943e-c7b4-919c-65ea-6ba20831e74d
* Version Independent ID: 90c5dd06-ea6d-7af8-f88c-9

[2018-05-10 22:25] #7845 closed

[2018-05-10 22:27] tfitzmac commented on #8236
@romankiss - I have added a description of the REST properties. Thanks again for your help.

#please-close

[2018-05-10 22:28] philipvago opened #8425 "Valid SQL query that works in Azure failed in node.exe window"
restify listening to http://[::]:1877
(node:3512) [DEP0064] DeprecationWarning: tls.createSecurePair() is deprecated. Please use tls.TLSSocket instead.
Reading rows from the Table...
C:\Users\v-pvargo\source\repos\NodejsConsoleApp1\NodejsConsoleApp1\newer app.js:76
    request = new Request("SELECT * FROM tbl_Questions",
            ^

ReferenceError: request is not defined
    at queryDatabase (C

[2018-05-10 22:29] tfitzmac commented on #8152
@PROnICT - thanks for catching this bug. I have submitted a fix. It should get published by tomorrow morning.

[2018-05-10 22:30] Juliako commented on #7872
@mike-urnun-msft, i updated the doc. The link has been removed.

[2018-05-10 22:30] TravisCragg-MSFT commented on #8412
@quantumtunneling  If you need to increase the length of the certificate, you will need to upload a 2048bit SSL Certificate to your Application Gateway. [This Document outlines how to create a self signed certificate and upload it to a new application gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-portal)

You will likely need to specify the key length

[2018-05-10 22:30] Juliako commented on #7872
#please-close

[2018-05-10 22:35] quantumtunneling commented on #8412
Hey Travis,

I do not believe the issue is the length of the certificate (which is
already 2048 bits), its the bit length of the cipher key, and while I am no
expert in cryptography, I believe that these are two separate things. Can
you confirm this?

On Thu, May 10, 2018 at 3:30 PM, TravisCragg-MSFT <notifications@github.com>
wrote:

[2018-05-10 22:38] quantumtunneling commented on #8412
This is the SSL Labs security test I am referring to:

https://www.ssllabs.com/ssltest

This report shows that our Certificate is fine. Its the Diffie-Hellman key
exchange parameters that are weak, as we support cipher suites with only
1024 bits:

On Thu, May 10, 2018 at 3:35 PM, Graham Henry <graham@bizible.com> wrote:

[2018-05-10 22:39] Juliako commented on #7101
#hold-off

[2018-05-10 22:40] Juliako commented on #6279
@sebastus, @machiq, the PM suggested to add the following info to the document (which I did).

The URL provided to VI must point to a media (audio or video) file. Some of the links generated by OneDrive are for an HTML page that contains the file. An easy verification for the URL would be to paste it into a browser – if the file starts downloading, it’s likely a good URL. If the browser is renderi

[2018-05-10 22:42] jinzh-azureiot commented on #8370
The current search API only accept one query at a time. We will have a batch search API available in a few months.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kelly Gremban <notifications@github.com>
Sent: Thursday, May 10, 2018 2:38:22 PM
To: MicrosoftDocs/azure-docs
Cc: Jingjing Zhang; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Bulk search (#8370)

@ji

[2018-05-10 22:46] cynthn commented on #8418
@kayjay2018 thanks for the feedback! I will add something into the docs to note that if you want to tag the VM, you need to do it before marking the VM as "generalized". Thank you! #please-close

[2018-05-10 22:55] Juliako commented on #6279
#please-close

[2018-05-10 22:56] SaurabhSharma-MSFT commented on #8349
@sirdank The solution has two parts -  a web app and web api. The link which you have shared is for configuring the WebApp. Have you followed the other documentation to configure the web api -
[Azure Active Directory B2C: Build a .NET web API](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-api-dotnet)

[2018-05-10 23:01] neilpeterson commented on #8421
@erikaulin - I agree and will get the docs updated.

Thanks

[2018-05-10 23:04] zhiweiwangmsft commented on #7601
@MohitGargMSFT I've updated the docs to remove this clause. The release was postponed for ADFS 2016 in that QFE.

[2018-05-10 23:06] MohitGargMSFT commented on #8409
@tmaeller Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-10 23:07] dcbrown16 commented on #7872
Thank you.

[2018-05-10 23:07] #7872 closed

[2018-05-10 23:15] #8236 closed

[2018-05-10 23:15] MohitGargMSFT commented on #7601
@zhiweiwangmsft Please link the pull request for doc change to this issue to ensure this issue status is updated automatically when PR is merged.

[2018-05-10 23:17] MicahMcKittrick-MSFT commented on #8419
@rfigueroa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-10 23:18] Mike-Ubezzi-MSFT commented on #8425
@philipvago Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-10 23:18] KeiroKamioka0000 commented on #8318
That means, if I upload two 2MB Files, I would consume 2 blocks instead of the 1 block?

[2018-05-10 23:18] MicahMcKittrick-MSFT commented on #8420
@rfigueroa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-10 23:26] kayjay2018 commented on #8418
Thanks

[2018-05-10 23:26] #8418 closed

[2018-05-10 23:29] #8370 closed

[2018-05-10 23:52] Mike-Ubezzi-MSFT commented on #8417
@HowardEdidin Thanks for the feedback. Can you please provide some specifics around the desired functionality you are seeking with this tutorial? The tutorial in this document achieves a specific goal. Are you looking for something more specific in regard to mapping IoT device locations? I appreciate your feedback. Regards, Mike

[2018-05-11 00:00] Mike-Ubezzi-MSFT commented on #6279
@sebastus We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 00:00] #6279 closed

[2018-05-11 00:03] Mike-Ubezzi-MSFT commented on #7423
@jason279 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 00:03] #7423 closed

[2018-05-11 00:04] Mike-Ubezzi-MSFT commented on #8331
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 00:04] #8331 closed

[2018-05-11 00:04] Mike-Ubezzi-MSFT commented on #8383
@isharehappycode We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 00:04] #8383 closed

[2018-05-11 00:14] zhiweiwangmsft commented on #7601
https://github.com/MicrosoftDocs/azure-docs-pr/pull/40875

[2018-05-11 00:27] spelltwister opened #8427 "appUserId doesn't do anything"
There is a code section that says you can set the appUserId when you set the instrumentationKey, but that does not do anything.  It is also not listed on the linked full list of parameters.  I would like to know what is the recommended way of setting the javascript equivalent of C#'s telemetry.Context.User.Id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-05-11 00:27] HowardEdidin commented on #8417
Ideally one would be able to search for a list of devices and be able to view the locations (pin) and  see specific details from the device twins  The data is stored in the IoT Hub.

[2018-05-11 00:29] Mike-Ubezzi-MSFT commented on #8422
@GraemeSMiller Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-11 00:31] Mike-Ubezzi-MSFT commented on #8423
@timmydo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-11 00:37] rboucher commented on #7744
@grahambunce The exact same call in the new and old metrics experiences should not show different things. New Relic we can’t speak to, but I highly suspect you are looking at different aggregation types in each of the experiences.

[2018-05-11 00:38] rboucher commented on #7744
@femsulu Can you make sure that @grahambunce is properly routed to support?

[2018-05-11 00:48] Mike-Ubezzi-MSFT commented on #8417
The IoT User Voice is the forum best suited to request features and functionality. There appears to be a similar discussion already: [Documentation - Manufacturing customers need example of mapping Device Twins to physical equipment](https://feedback.azure.com/forums/321918-azure-iot/suggestions/32269636-documentation-manufacturing-customers-need-examp)
You are free to post a new suggestion as wel

[2018-05-11 01:00] akshataP opened #8431 "Bug in the code for Create a file in Data Lake Store account"
[Enter feedback here]

I was trying to create a file my Azure Data Lake Store account as per the documentation at [Create a file in a Data Lake Store account](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-manage-use-dotnet-sdk#create-a-file-in-a-data-lake-store-account) and it generated an empty file at the specified location. This is because the memeoryStream need

[2018-05-11 01:30] SnehaGunda commented on #7515
@NeilMacMullen I updated the doc to increase throughput information. We will close this issue now, if you have any further questions, feel free to re open it or create a new one.

#please-close

[2018-05-11 01:34] SnehaGunda commented on #7545
@Dawny33 any update on from which page you were referring to the link?

[2018-05-11 01:54] NiranjanAbb commented on #8396
Thank you mike for your response. I am referring plural-sight. I have downloaded sample code and trying to run in my Windows 2007 PC.  I will share the project here.

[2018-05-11 03:00] neilpeterson commented on #8421
@erikaulin - I've updated the set to use `kubectl apply` where appropriate. The changes have merged and will publish tomorrow morning.

Thanks for the suggestion.

#please-close

[2018-05-11 03:29] genlin commented on #6706
@aydeisen Thank you for your suggestion. I will work with our engineer to see if it is possible to do this by using WMI in PowerShell.  If yes, we will add a sample in the article.

[2018-05-11 03:33] genlin commented on #7554
@ajgball  Thank you for the suggestion.  I will add the steps for managed disk into the article.

[2018-05-11 03:48] SQLDataSide commented on #8229
Hi I have been trying the above steps for the past 5 days and i can not generate an output (containe2) please help out why, thank you

[2018-05-11 04:02] Anmolgan81 commented on #8402
Is there any way to recreate the managed disk generelized image in csp?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Friday, May 11, 2018 3:30:47 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Can we move generalized managed disk image or unmanaged disk image acro

[2018-05-11 04:02] Anmolgan81 commented on #8390
His there anyway to do a poc?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Friday, May 11, 2018 3:09:07 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to move App Service Certificate? (#8390)

@Anmolgan81<https://github.com/Anmolgan81> - the limitations for ce

[2018-05-11 04:31] Sogup commented on #7004
To be clear wrt Instant RP,
Initial full snapshot(First backup) is just a pointer and hence occupies no space in the customer’s local storage account. Starting with the second snapshot, the churned data and pointers are stored in the customer’s local storage account.
Initial full snapshot equal to the size of your data is stored during backup in the backup storage account connected to your Recover

[2018-05-11 04:54] kobulloc-MSFT commented on #8427
@spelltwister Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-11 05:25] BryanTrach-MSFT commented on #8223
@Tirupathitemburu The document discusses the handler in [detail at this part.](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-gcm-android-push-to-user-google-notification#authenticate-clients-to-the-webapi-backend).

If this information is not clear, can you please reopen the issue and tag me in your reply. Please share with us exactly what is causing tro

[2018-05-11 05:25] #8223 closed

[2018-05-11 05:27] BryanTrach-MSFT commented on #8245
@baabel If you selected Tomcat and Java from the portal, any time you upload a new WAR, Tomcat should auto deploy it for you.  Usually, the calatina logs will show that as well.  If you have local or dynamic cache enabled, you might not see the files on disk until a restart.

Can you ensure that dynamic and local cache are turned off?

[2018-05-11 05:38] BryanTrach-MSFT commented on #8083
@sampathdr You are welcome!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-05-11 05:38] #8083 closed

[2018-05-11 06:07] kubiozi opened #8436 "ObjectId Duplicate"
I'm getting this error when I try to add a second entry to a collection. A possible mongoose package problem? In the console, I can see a different ObjectId though
{"name":"MongoError","message":"E11000 duplicate key error collection: dbb.heroes Failed _id or unique key constraint","driver":true,"index":0,"code":11000,"errmsg":"E11000 duplicate key error

---
#### Document Details

⚠ *Do not edit

[2018-05-11 06:11] v-nagta commented on #8409
@tmaeller  In the [current tutorial](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-8x8virtualoffice-tutorial) we have multiple Identifier and Reply URL patterns.

![capture](https://user-images.githubusercontent.com/27479164/39909310-dd199ae8-550f-11e8-9cab-33bc7b968ae7.PNG)

Now you are saying to replace these URL values with the  https://sso.8x8.com/saml2 value.
I

[2018-05-11 06:27] xmark opened #8437 "Support for transactions"
I am getting an error when I deploy my package into ADFv2 : "The SSIS runtime has failed to enlist the OLE DB connection in a distributed transaction with error 0x80070057 "The parameter is incorrect". Looks like transactions are not supported when deploying into ADF? Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-05-11 06:44] maxcalvin opened #8439 "The Penn Treebank link is 404-ing"
As per the title, the link at the bottom of this document 'Penn Treebank' is going to a URL that is returning a 404/NotFound.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a11b7b1-c96b-456a-6429-622a634774fc
* Version Independent ID: 6f4282f1-9972-dfc5-d5e9-4bb1a2887bef
* Content: [Constituency parsing in the Linguis

[2018-05-11 06:44] naminakao opened #8440 "No brackets needed when setting UsageGuidelinesUrl"
We don't need angle brackets at Step 4 to set UsageGuidelinesUrl. When we enclosed the usage guideline value in angle brackets, the link did not work.

Page Title: Azure Active Directory cmdlets for configuring group settings
URL: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-accessmanagement-groups-settings-cmdlets
---------
4.Then update the usage guideline value:
$set

[2018-05-11 06:56] sullyNivek75 commented on #7851
Hi Mike,

Yes my device is set up and is reporting sensor data to Azure>IoT Hub>Streaming Analytics>Power Bi. But I am also having the same problem when i have added an additional query to the Streaming Analytics  to use the machine learning the prediction is reporting 0.489944100379944 , through blob storage and through Power Bi. Not sure where the problem is?

Thanks

Kevin

[2018-05-11 07:05] MetehanBolat opened #8441 "Settings and Protected Settings Parameters"
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmcustomscriptextension?view=azurermps-6.0.0
As seen in the link above, passing settings and/or protectedSettings in a JSON format does not seem to be supported anymore. However, this documentation itself does not seem to be old.
Instead storageAccountName and Keys can be passed seperately. Still, I cannot find a way to

[2018-05-11 07:32] gopalvithal opened #8442 "devops architect"
app_package_dir, no where it mentions what this directory should contain, there are no examples anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7213c5bf-3a53-a62c-0735-a0f38659fe1a
* Version Independent ID: 17d12ee0-56aa-6cdf-99b4-14e3646b229e
* Content: [Manage Azure Service Fabric applications using Azure Se

[2018-05-11 08:10] dhananjaypatkar opened #8444 "Java API for PQS (Phoenix thin client)"
This document outlines C# and .Net SDK to access PQS. One of the key thing here is using hbase cluster
URL.

Do you have similar way to access PQS via sqlline-thin or java API. Currently I specify details of one of the PQS (generally hosted on Region servers of HBase cluster) like below

`/usr/hdp/2.6.2.25-1/phoenix/bin$ ./sqlline-thin.py http://[One of the region server IP]:8765`

Is there anyway

[2018-05-11 09:11] amang2205 opened #8445 "Confusion on the sections in the article"
I believe the flow of the document is somewhat confusing, as the first part covers a sample on uploading an application which would leverage volumes and the lower part documents the manifest structure and schema (with an example) for leveraging volumes at existing apps.
In my opinion, it would be nice to name the sections in such a way that it clearly states that the "Deploy the Service Fabric Azu

[2018-05-11 09:35] MatJanssen opened #8446 "Wrong Link"
The "Distribute your data globally" button leads to the sql api documentation of global data distribution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8a0251-0820-0f74-33a3-ea5050dc0e30
* Version Independent ID: b4732ce7-15c8-605c-63ec-7ac8e0642c3e
* Content: [How to query graph data in Azure Cosmos DB?](https://do

[2018-05-11 10:04] cveld opened #8448 "AppOnly flow"
Can you add examples about how to interact with Azure Active Directory in order to get an AppOnly access token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-21cb-e030-f68f-db73acef0c74
* Content: [Understand the OAuth 2.0 authorization code flow

[2018-05-11 10:45] sudeephazra commented on #7851
I resolved the issue. The problem is with the training data that the ML model uses. In the training data CSV, the temperature and humidity columns have the character 'M' in a bunch of places. This causes the model to expect characters as values of temperature and humidity. But if you send in characters to the model, it is unable to perform mathematical/statistical calculations. I downloaded the CS

[2018-05-11 10:55] Anmolgan81 opened #8450 "Does VSTS Support Move to CSP?"
How about if I want to move VSTS to new csp subscription? Cant find any info on that on this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group

[2018-05-11 11:01] richardharrison2 opened #8451 "ssh clients don't seem to work with this?"
Hi,
If i ssh from a machine inside azure using the method described above it works fine - however if i try a direct connection using client software (in my case putty or mac terminal) i just get prompted for the password - the clients don't seem to understand the reply they are getting.

Are there any clients available that do support this?

Thanks,
Rich

---
#### Document Details

⚠ *Do not edit

[2018-05-11 11:35] neodym3k opened #8453 "AAD password hash sync required?"
The document should clarify if AAD password hash sync is required or if it will also work with federated users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory

[2018-05-11 12:28] TecumsehSamp opened #8454 "Backups do not work with MySQL-In-App"
Tried it with multiple new instances to make sure, the error states that it was unable to connect to any of the hosts and to check the connection string, although the connection string is definitely valid.

Just a heads up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64f8100c-23f2-3547-840f-dac1d2124225
* Version In

[2018-05-11 12:32] EvGe22 commented on #7101
Thanks for the answers

[2018-05-11 12:32] #7101 closed

[2018-05-11 12:39] Anmolgan81 opened #8455 "Do Powerbi Embedded capacity and Powerbi Workspace collection supports move?"
Do Powerbi Embedded capacity and Powerbi Workspace collection supports move?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.c

[2018-05-11 12:41] Anmolgan81 opened #8456 "What about Azure MySQL Server do this supports move across subscription?"
What about Azure MySQL Server do this supports move across subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/e

[2018-05-11 12:43] NeilMacMullen commented on #7515
No problem for the delay! I understand that temporarily increasing the RU limit in Cosmo is a workaround but the problem with this approach is that there's no way to control the _instantaneous_ rate that AzCopy can generate.  So there's always a risk that AzCopy can overrun the rate limit on  the database.  I'm sure there is some practical limit to what AzCopy can actually achieve but it would def

[2018-05-11 12:44] cephalin commented on #7766
@xtellurian Hi thanks. Technically it's true because App Service is deploying a built-in Node.js docker image to run the Node.js app in a container. However, you're right that it's not running your custom container. For running a custom docker image, please see: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image.

This is our content decision to have built-i

[2018-05-11 12:56] Anmolgan81 opened #8457 "What about MySQL Database does that supports move across subscription?"
What about MySQL Database does that supports move across subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-

[2018-05-11 13:02] sullyNivek75 commented on #7851
I too changed the training data set after i removed the 'M' character from the humidity column and it is now working!

Thanks for you help sudeephazra

Mike, i would suggest you cleanse the online dataset.

kevin

[2018-05-11 13:11] rothja commented on #7328
@chrismwendt I apologize for the long delay on this. I'm trying to get a confirmation of our defaults, but I'm having trouble finding the right person to confirm. Thanks, again, for pointing out the discrepancy. I just contacted someone again internally and I hope to have a response soon.

[2018-05-11 13:12] gauravhub opened #8458 "Indicate type of Managed Service Identity supported"
Based on documentation of MSI, there are two types: System Assigned & User Assigned. Please indicate which type of MSI is supported by the services mentioned in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b3

[2018-05-11 13:31] gt9876 opened #8459 "Order of articles doesn't make sense"
Before you can add members to your application you need to first create your application - be good if the articles were ordered in that way..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1e3eada-8967-dda2-880c-82bbad32ab2e
* Version Independent ID: 601d28c7-7f92-ccd9-505c-5e9b80f16b01
* Content: [Manage Users in Azu

[2018-05-11 13:44] joshsperez78 opened #8460 "Azure Pricing Changes have changed and automated installations script to fail"
Line 277 of the script utilizes New-AzureRmOperationInsightsWorkspace cmdlet with a pricing -Sku of "Standard".  This apparently is no longer an option when creating a new workspace so a manual change to -Sku "pernode" allows it to deploy correctly.  Please address this issue so the script will deploy properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-05-11 14:00] andyt530 commented on #8451
worked ok from my MAC 1st time:

AndyT$ ssh -l aaaa.bbbbbb@xxxxxxxxx.onmicrosoft.com zzzzzz.uksouth.cloudapp.azure.com
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code 123456789 to authenticate. Press ENTER when ready.
aaaa.bbbbbb@xxxxxxxxx.onmicrosoft.com@vm-zzzzzzz ~]$

[2018-05-11 14:08] tmaeller commented on #8409
I'm not sure where the above URLs came from, and I don't know about the configuration on the Azure side of things, but according to our engineers, https://sso.8x8.com/saml2 is the correct Identifier and Reply URL for 8x8 Configuration Manager (the new platform) and Account Manager (the old one).

If you need anything else from me, just let me know.

~Tony

[2018-05-11 14:11] iamalexmang opened #8461 "Docker plugins don't work on Windows, either WinSrv 2016 or WinSrv 1709"
Docker CLI is clear about it:  plugins are not supported on this platform.

On top of that, Service Fabric throws:

"Creating Volume 'data' failed for ContainerName=sf-2-99f92917-cf37-4f93-a55b-7dc79e0360c6_fce6a621-de6c-46d5-8b5c-6d61ffe72268, ApplicationId=<applicationId>, ApplicationName=<application> DockerRequest returned StatusCode=NotFound with ResponseBody={"message":"create data: Error lo

[2018-05-11 14:28] mrbullwinkle commented on #8427
In answer to the first half of this question it looks like we removed that parameter back in 2016. We updated the [API docs here](https://github.com/Microsoft/ApplicationInsights-JS/commit/b1c5d823361a68c6748d2f383bd2c4de04f96fc9#diff-8fcab862b34656de601ed95a81072f78), when the [code was changed here](https://github.com/Microsoft/ApplicationInsights-JS/commit/19d8af493145a2b93b0fe0c9dc715610f3681e

[2018-05-11 14:30] sirdank commented on #8349
I do not believe I have. Am I required to follow that document as well for this example solution to work?

[2018-05-11 14:34] adrianprattuk opened #8462 "ADEPrereqScript.ps1 fails"
Tried to run ADEPrereqScript.ps1 it didn't ask for a "aadAppName" but did ask for a SubscriptionID. Then it failed with

Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented."
At C:\AzureADEScript\ADEPrereqScript.ps1:160 char:5
+     Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-05-11 14:39] kpraxor opened #8463 "Best practice for Recovery Services Vault region location"
I couldn't find this in the docs anywhere, but thought it might be good to add a note explaining best practice for region location of the vault.  You don't want the vault in the source region, presumably, so is target region the best practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c

[2018-05-11 14:41] sirdank commented on #8349
@saurabhsharma-msft Now I remember: I began stepping through that doc but the example solution appeared already to include the configuration and code that it describes so I did not continue with it. However, there are a few values that are missed between the code in the example solution and the web app doc and which you will only find if you follow the API doc all the way, ignoring that most of wh

[2018-05-11 15:18] tfitzmac commented on #8390
What do you mean by poc?

[2018-05-11 15:22] Anmolgan81 commented on #8390
I just want to make sure everything goes right, thats why I want to check this myself first. Does this possible.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Friday, May 11, 2018 8:48:12 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to move App Service Certif

[2018-05-11 15:26] giladmit commented on #8416
There seem to be two different issues here:
1. In Mike's T-SQL statement, the brackets around the ", RETENTION_DAYS=10" part of the statement should be removed (in the statement definition, they denote that this is an optional parameter).
2. In Matt's T-SQL, there's an error in the container URL PATH, it's missing the "blob" part - should be 'https://x.blob.core.windows.net/x'  (not 'https://x.cor

[2018-05-11 15:27] davidmu1 commented on #7193
The information and instructions have been revised in the article.

#please-close

[2018-05-11 15:44] Mike-Ubezzi-MSFT commented on #7851
Reference:

![screenshot 215](https://user-images.githubusercontent.com/37126106/39933053-bfc4a816-54f6-11e8-93c8-e35a17dc9a22.png)

The issue is not with the .xlsm/.xlsx prediction model template but with the resulting .csv written to blob storage, I believe. I am using the sample data links from within the Excel workbook.
I do not have access to IoT hardware to walk through this tutorial in it's

[2018-05-11 15:56] JasonWHowell commented on #8229
@SQLDataSide please set the start date when you start the job to Jan 25 2016 so that it will read the older dates in the source blob file. Let me know if that helps. Thanks, Jason

[2018-05-11 16:04] MarcAir opened #8464 "docker in azure cloud shell bash"
might be good to include details on how to use cloud shell bash. link to setting up docker for cloud shell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a23fc33-0447-06f6-c6f0-dd0b4696cc6d
* Version Independent ID: 1a1af0e2-5b46-9261-1406-6636ae845c52
* Content: [Quickstart - Create a private Docker registry in Azure

[2018-05-11 16:05] sirdank opened #8465 "Published scopes"
What permissions need to be added through the "Published Scopes" menu? I added read and write but I'm still getting "Unauthorized" after sign in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469d2731-66dd-4490-89bd-4a36f893e7be
* Version Independent ID: 11f4ae00-d1e9-1355-a0c3-2435f90b17d8
* Content: [Secure a web AP

[2018-05-11 16:14] Jann-Skotdal commented on #7979
@achekh Thanks! The broken link has been corrected

[2018-05-11 16:14] Jann-Skotdal commented on #7955
@Paul-Dempsey Thank you for the feedback! The links have been added

[2018-05-11 16:16] achekh commented on #7979
Now it's much better!

[2018-05-11 16:16] #7979 closed

[2018-05-11 16:30] hpsin commented on #7890
@andrelim Please let me know if this information was helpful to you.  #please-close

[2018-05-11 16:33] MicahMcKittrick-MSFT commented on #8451
@richardharrison2 thanks for updating us! Glad you got it figured out :)(

[2018-05-11 16:34] MicahMcKittrick-MSFT commented on #8441
@MetehanBolat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-11 16:34] MicahMcKittrick-MSFT commented on #8442
@gopalvithal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-11 16:35] MicahMcKittrick-MSFT commented on #8445
@amang2205 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-11 16:35] MicahMcKittrick-MSFT commented on #8453
@neodym3k Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-11 16:36] ecfan commented on #8395
@CHDAFNI-MSFT @mike-urnun-msft Thanks for the feedback! We created an internal work item in a later sprint for this issue: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1259129

#please-close

[2018-05-11 16:37] epocket opened #8466 "Hostname cannot be "localhost" error?"
Hi,

I'm getting an error "Hostname cannot be "localhost" which is puzzling me - any insights on that please?

sudo iotedgectl setup --connection-string "HostName=FRPM1.azure-devices.net;DeviceId=MyD;SharedAccessKey=...=" --nopass
INFO: Using default IoT Edge configuration dir: /etc/azure-iot-edge
ERROR: Error parsing user input data: Hostname cannot be "localhost" or any of its variant IP address

[2018-05-11 16:50] cynthn commented on #7554
#please-close genlin is going to add the information for managed disks to the article in an upcoming rewrite. @ajgball again, thank you for the feedback :)

[2018-05-11 16:52] SnehaGunda commented on #7515
I will share your feedback with our team. if you can please add your request to our [User voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) so that we can prioritize it.

JFYI- we recently release BulkExecutor library, which can import data to Azure Cosmos DB. Its 10x better wrt of performance while importing or updating data to Azure Cosmos DB. But currently its supported for SQL A

[2018-05-11 16:52] hpsin commented on #8448
We sometimes call this the "Client app auth" flow, or the "service to service" / daemon flow.

Sample:
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-daemon-certificate-credential/

Docs:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-service-to-service

[2018-05-11 16:56] glimoli commented on #6706
Don’t know if this could be done using WMI in an easy way so if the goal is to have something setup in powershell for the complete article, then why not just add a CMD call on top of the current lines so it could be easily inserted in a powershell script. Like:

cmd
bcdedit /set {bootmgr} integrityservices enable

bcdedit /set {default} device partition=C:

bcdedit /set {default} integrityservices

[2018-05-11 16:58] neilpeterson commented on #8464
@MarcAir thanks for the issue. At current, the Docker CLI **is** installed in cloud shell instances however the daemon **is not**. So things like docker pull, docker build, and docker push do not work.

That said, the ACR Build feature does allow for the creation of container images in cloud shell. These images are also automatically pushed to the ACR registry. Here are some docs on ACR build.

ht

[2018-05-11 17:01] MohitGargMSFT commented on #8465
@sirdank Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-11 17:03] vasivara-MSFT commented on #8431
@akshataP Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-11 17:05] Mike-Ubezzi-MSFT commented on #8446
@MatJanssen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-11 17:05] vasivara-MSFT commented on #8444
@dhananjaypatkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-11 17:08] MohitGargMSFT commented on #8458
@gauravhub Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-11 17:09] mike-urnun-msft commented on #8461
Hey @amang2205  - Thank you for your feedback! Were you following a particular MS doc? if so, could you provide us the URL so we can address this issue together with our content team?

Thanks!

[2018-05-11 17:09] YutongTie-MSFT commented on #8439
@maxcalvin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, can you please check where the broken link should be and update the document as necessary? Thanks a lot!

[2018-05-11 17:11] mike-urnun-msft commented on #8459
@gt9876 Thank you for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-05-11 17:11] YutongTie-MSFT commented on #8279
@kirbybrunclik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 17:11] #8279 closed

[2018-05-11 17:12] #7193 closed

[2018-05-11 17:13] mike-urnun-msft commented on #8454
@TecumsehSamp Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-11 17:16] #7554 closed

[2018-05-11 17:16] #6706 closed

[2018-05-11 17:16] Adam-Smith-MSFT commented on #8463
@kpraxor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-11 17:17] Mike-Ubezzi-MSFT commented on #8446
@LuisBosquez The [Next steps](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-query-graph#next-steps) section of this document refers to a link that takes you to: [How to setup Azure Cosmos DB global distribution using the SQL API
](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-global-distribution-sql-api)
![screenshot 216](https://user-images.githubusercontent.com/37126106/3

[2018-05-11 17:17] vasivara-MSFT commented on #8348
@stijnbrouwers Since we haven't heard anything back for a while, we assume the fix suggested by @rashmichandrashekar worked. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 17:17] #8348 closed

[2018-05-11 17:27] MicahMcKittrick-MSFT commented on #8328
@swatiraut14 any update?

[2018-05-11 17:27] MicahMcKittrick-MSFT commented on #8343
@SamirFarhat any update?

[2018-05-11 17:27] MicahMcKittrick-MSFT commented on #8355
@iangoh414 any update?

[2018-05-11 17:30] MicahMcKittrick-MSFT commented on #8380
@uncarlo I am attempting a repro now. Will update shortly.

[2018-05-11 17:41] #8402 closed

[2018-05-11 17:44] vasivara-MSFT commented on #8437
@xmark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@douglaslMS it seems like other users are also having this issue. Please take a look at this [link](https://feedback.azure.com/forums/270578-data-factory/suggestions/32626268-support-for-elastic-database-transactions)

[2018-05-11 17:44] MicahMcKittrick-MSFT commented on #8380
@rwike77 can you assist on this? I am not seeing the same things in my VS when following the doc. Might be a mismatch on my end though.

[2018-05-11 17:45] tfitzmac commented on #8456
@Anmolgan81 - the article indicates that Azure Database for MySQL does not support any move operations.

#please-close

[2018-05-11 17:46] MicahMcKittrick-MSFT commented on #8442
@Christina-Kang can you take a look and see determine if we need more information added to the doc?

[2018-05-11 17:48] MicahMcKittrick-MSFT commented on #8419
@tdykstra can you please review and determine if we should add more context to this doc?

[2018-05-11 17:48] tfitzmac commented on #8457
@Anmolgan81 - Azure Database for MySQL does not support any move operations. For MySQL instances from other publishers, you would have to check with that publisher.

#please-close

[2018-05-11 17:51] femsulu commented on #8152
@PROnICT We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 17:52] MicahMcKittrick-MSFT commented on #8420
@rfigueroa I believe the npm install is kept to ensure that the package is updated. However if you wanted to remove it you would have to modify the script. Can you share the script?

[2018-05-11 17:54] MicahMcKittrick-MSFT commented on #8441
@danielsollondon can you suggest on this one?

[2018-05-11 17:55] wcom939 opened #8470 "Eclipse plugin is missing"
The eclipse plugin for service fabric neither shows up in the screen nor at your specific URL location -> http://dl.microsoft.com/eclipse/azure/servicefabric

Please fix this urgently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1457ba50-bc79-85fc-914d-cd8a04a57d70
* Version Independent ID: 8aa8eeea-1da5-d54a-dbb9-b

[2018-05-11 17:56] femsulu commented on #8450
@Anmolgan81 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-11 17:59] femsulu commented on #8455
@Anmolgan81, Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2018-05-11 18:01] femsulu commented on #8456
@Anmolgan81 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 18:01] #8456 closed

[2018-05-11 18:02] mike-urnun-msft commented on #7515
@NeilMacMullen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 18:02] #7515 closed

[2018-05-11 18:04] mike-urnun-msft commented on #7766
@xtellurian We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-05-11 18:04] #7766 closed

[2018-05-11 18:05] mike-urnun-msft commented on #7890
@andremelim We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-05-11 18:05] #7890 closed

[2018-05-11 18:06] femsulu commented on #8460
@joshsperez78 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-11 18:08] rwike77 commented on #7844
@c42-arun Yes, you're correct.  The application port (8080 in the downloaded sample application) needs to be opened in the Azure load balancer.  You can do that in the Azure portal, or use a [PowerShell script](https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-open-port-in-load-balancer).  I'll update this article.  Apologies for the inconvenience, thanks for

[2018-05-11 18:10] mike-urnun-msft commented on #8421
@erikaulin We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-05-11 18:10] #8421 closed

[2018-05-11 18:14] femsulu commented on #8457
@Anmolgan81 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 18:14] #8457 closed

[2018-05-11 18:25] anumjs commented on #7985
@simonnuss Thank you so much for taking time to go over the tutorial.
In this equation, we are trying to calculate the average number of tickets sold for each venue. This requires dividing the number of tickets sold for the venue by the total capacity of the venue. The total capacity is venue capacity * number of events hosted by the venue. For the above DAX measure, DISTINCT() will return a singl

[2018-05-11 18:26] rapatchi commented on #8470
HI can you please unselect the option "group items by category". Then you would be able to see the option coming up.

[2018-05-11 18:27] PatAltimore commented on #8459
@gt9876  Thanks for the feedback. That makes a lot of sense.  I've reordered the table of contents.  The change will be published soon.

#please-close

[2018-05-11 18:30] apwestgarth commented on #8320
Hi @pjhacker1552 thanks for the feedback.  I am resistant to add anything specific around this as the SQL IaaS extension has not shipped as part of Azure Stack (ASDK or integrated systems) since Technical Preview 3 (April 2017) and therefore this is more an issue for Azure Stack all up as opposed to Azure App Service on Azure Stack.  Technically the IaaS extension only gets you the portal enhancem

[2018-05-11 18:34] Mike-Ubezzi-MSFT commented on #8425
@philipvago  I am not having this issue. Did you update all the connection values to reflect your specific deployment?

`// Create connection to database
var config =
   {
     userName: 'sqladmin', // update me
     password: 'pass@word', // update me
     server: 'sqlhost.database.windows.net', // update me
     options:
        {
           database: 'AdventureWorksLT' //update me
           ,

[2018-05-11 18:39] mferris2421 commented on #8416
@giladmit  Sorry, that was me trying to sanitize the statement. I deleted too much. My command included the correct address.

Regarding the integer example its shown with brackets. I'm not familiar with T-SQL or even SQL admittedly, and I took the brackets are part of the syntax. I was able to successfully alter my server audit without the brackets.

I still have the same problem starting my audit

[2018-05-11 18:43] pjhacker1552 commented on #8320
Absolutely acceptable. I am open to what  ever you feel is the right thing to do as you know this better than I do. Feel free to use the paraghraph you have and that should be fine.

-paul

From: Andrew Westgarth <notifications@github.com>
Sent: Friday, May 11, 2018 2:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Hacker <paul@paulhacker.net>; Mention <mention@noreply.

[2018-05-11 18:52] simonnuss commented on #7985
I don't know anything about your dataset, but if you are trying to
calculate the average number of tickets sold for each venue then you can
try something like the following:

AVERAGEX( SUMMARIZE( TableName, TableName[Venue Name] ), CALCULATE( SUM(
TableName[Tickets Sold] ) ) )

I have *never* seen a division by a table function, e.g., DISTINCT(), in my
years of using DAX.  Sure, it may work in you

[2018-05-11 19:10] Mike-Ubezzi-MSFT commented on #8395
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 19:10] #8395 closed

[2018-05-11 19:11] Mike-Ubezzi-MSFT commented on #8459
@gt9876 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 19:11] #8459 closed

[2018-05-11 19:12] tfitzmac commented on #8455
@Anmolgan81 - both support move. I'll clarify in the article.

[2018-05-11 19:27] tonymet opened #8475 "questions about data sync vs backup restore"
Hi guys I like the potential of this project but have a question about the implementation.

It seems to me the triggers & writes required for the sync "input stream" would be very heavy.  Why not just use the existing tlog and replay that on the destination server?

Do you know of an existing process or resource we could use to just apply our current tlogs to a cloned database instance?

---
####

[2018-05-11 19:33] #8455 closed

[2018-05-11 19:34] Anmolgan81 commented on #8455
Please do caliry as it is important.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Saturday, May 12, 2018 12:42:15 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Do Powerbi Embedded capacity and Powerbi Workspace collection supports move? (#8455)

@Anmolgan81<https

[2018-05-11 19:45] Powerhelmsman opened #8477 "Add extra step for specifying private IP for a public Application Gateway"
As per the documentation, creating a public facing is fine. However, adding a private IP step to support both simultaneously as per FAQ is missing in the documentation at https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-create-gateway-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2018-05-11 19:51] Mike-Ubezzi-MSFT commented on #8417
@HowardEdidin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 19:51] #8417 closed

[2018-05-11 19:51] MicahMcKittrick-MSFT commented on #8112
@akramwaseem I am trying to figure it out for you. I can simply do this via a PowerShell script but it is slightly more difficult via arm.

https://blogs.msdn.microsoft.com/timomta/2018/04/09/how-to-add-the-oms-client-to-a-vm-scale-set/

The issue with your above might be due to the depends on property. I believe it needs to be like:

dependsOn": [
        "[concat('Microsoft.Compute/**virtualMach

[2018-05-11 19:55] Christina-Kang commented on #8442
@gopalvithal Thanks for reporting the issue! In the example `sfctl application upload --path ~/app_package_dir`, app_package_dir should contain application package contents. You can provide a relative path for it. For example, the value can be `./Apps/SampleApp`. Application packages should have the following structure: https://docs.microsoft.com/azure/service-fabric/service-fabric-package-apps

F

[2018-05-11 19:55] jason-j-MSFT commented on #8220
@HemantChandurkar there is not that much information in your question, if you would like to elaborate, we may be able to better answer your question.

Here is a document describing how you would pass parameters to your configurations, plus other functions you may find helpful:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions

We are closing this issue

[2018-05-11 19:55] #8220 closed

[2018-05-11 19:57] rothja commented on #7328
@chrismwendt I received confirmation this afternoon that the default cores does vary depending on your subscription type. We include 20 as the default in the table, because this is a common default, but there is a footnote under the Resource Manger cores default that expresses this variability. So what you're seeing is normal, but I apologize that the table layout made the information confusing. I

[2018-05-11 20:06] MicahMcKittrick-MSFT commented on #8397
@DrEight can you elaborate on your ask a bit? The doc referenced does in fact store the secret in Keyvault:

![image](https://user-images.githubusercontent.com/32313503/39944609-22a67818-551c-11e8-8018-f8a1cda57164.png)

[2018-05-11 20:09] apwestgarth commented on #8320
Ok, I have some doc updates queued up.  These should be published the beginning of next week.  I'll add this to those.  Thank you for taking the time to provide feedback.  It is most appreciated.

[2018-05-11 20:11] rothja commented on #7328
#please-close

[2018-05-11 20:16] MohitGargMSFT commented on #8440
@naminakao Please note that the value of UsageGuidelinesURL i.e. URL is not with angular bracket. The setting to which value is assigned follow that format - $settings["SETTING NAME"] = "value". Once you assign URL as value to  UsageGuidelinesURL it works fine. e.g.
$settings["GuestUsageGuidelinesUrl"] = "https://domain.sharepoint.com/sites/intranet/Pages/Groups-Guest-Usage-Guidelines.aspx"

[2018-05-11 20:16] giladmit commented on #8416
@mferris2421, no problem, thanks for clarifying.

We're looking into it. In the meantime, can you tell me if you created new credentials for that container?

Thanks,
Gilad (MSFT)

[2018-05-11 20:17] rothja commented on #8277
@aydeisen @MicahMcKittrick-MSFT Thanks for the question. I see your dilemma because you're saying that you would have to basically start over to increase the column count to 3. That is a big price to pay that you wouldn't want to do unless the performance difference was significant. Let me check with some internal contacts to see if this is an issue when making disk changes. It might just be a bes

[2018-05-11 20:17] MicahMcKittrick-MSFT commented on #8112
@gatneil do you have any examples handy on doing this? I am not finding any documentation anywhere for this specific scenario.

[2018-05-11 20:18] SnehaGunda commented on #8229
@jason-j-MSFT please assign this to @JasonWHowell

[2018-05-11 20:21] Powerhelmsman opened #8480 "Bing Text To Speech API - Clarify Instructions For Voice Synthesis Request"
The instructions listed under the Voice synthesis request section at https://docs.microsoft.com/en-us/azure/cognitive-services/speech/api-reference-rest/bingvoiceoutput#VoiceSynReq needs to be clarified.

Issue Details
Specifically the following section:

The token service returns the JWT access token as text/plain. Then the JWT is passed as a Base64 access_token to the speech endpoint as an autho

[2018-05-11 20:27] dlepow commented on #8009
Closing doc issue and tracking as a code sample issue in Azure Batch Samples repo.
#please-close

[2018-05-11 20:28] jewarner opened #8481 "Typo on CLI command"
One of the examples above states a CLI command as 'az vmss assign-identity...' which does not seem to work. I belive it should be 'az vmss identity assign...'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2e9d8d8-1932-23e1-f6c4-0724d0fe0152
* Version Independent ID: 399fd8c4-8ba3-4779-f131-a142b833a909
* Content: [Ho

[2018-05-11 20:29] #8009 closed

[2018-05-11 20:35] MohitGargMSFT commented on #8364
@jricha34 I understand your point. Please note that there is already a [feedback](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33773926-automate-seamless-sso-kerberos-decryption-key-roll) provide related to it in Azure Feedback forum. Please upvote the feedback. This will help feature team prioritize the requirement for implementation.

[2018-05-11 20:38] jason-j-MSFT commented on #8281
@johnwildes I just tried the Powershell code and seemed to work for me without errors as I received a 200 response.  Are you by change running the code in Cloud Shell?

[2018-05-11 20:38] jason-j-MSFT commented on #8281
Oops typo, are you by chance running the code in Cloud Shell?

[2018-05-11 20:47] gatneil commented on #8112
You can do the same thing for scale sets, but everywhere it says "virtualMachines/extensions", you instead need "virtualMachineScaleSets/extensions"

[2018-05-11 20:48] georgewallace commented on #8460
@joshsperez78 I have reached out to the owner of the script in the gallery to ask them to update it.  As we don't reference any of the code in the article there i nothing I can update in the article.

[2018-05-11 20:52] MohitGargMSFT commented on #8458
@gauravhub Please note that User Assigned Identity assignments are only available for VM and VMSS as mentioned in [Known issues with User Assigned Identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/known-issues#known-issues-with-user-assigned-identities). All the Azure Services mentioned in the document support System Assigned Managed Service Identity.